[2019-08-05 07:27] menglingao1997 opened #18005 "BLE Mesh When Friend Clear Procedure Timeout"
https://github.com/zephyrproject-rtos/zephyr/blob/77db273f6f84b3d94d34b5e72070ec6bc31e41cf/subsys/bluetooth/mesh/friend.c#L667-L693

According to the specification,the Friend Clear Procedure timer shall be started with `two times` of Friend Poll Timeout value.

[code]

[2019-08-05 07:51] jiapei100 commented on #18002
@vanwinkeljan

1.

[code]

There is NO libncurses5 in my repository at all...

[code]

In fact, the **BEST** solution is to let **SEGGER JLink** support **libncurses6**.
Any further suggestions?

Cheers
Pei

[2019-08-05 08:05] aescolar commented on #18005
CC @jhedberg

[2019-08-05 09:00] #17880 closed

[2019-08-05 09:10] vanwinkeljan commented on #18002
True, but that is upto SEGGER

According to the [ubuntu package repository](https://packages.ubuntu.com/search?keywords=libncurses&searchon=names&suite=all&section=all) libncurses5 still exists for all supported ubuntu versions, you could try to install one of those.

[2019-08-05 09:19] asbjornsabo opened #18009 "Dead link in documentation"
In the page https://docs.zephyrproject.org/latest/guides/tools/nordic_segger.html
there is a dead link (gives a 404).
The erroneous link is
https://www.nordicsemi.com/Software-and-Tools/Development-Tools/nRF5-Command-Line-Tools
It is found in the section "nRF5x Command-Line Tools Installation" and in the section "References"

The correct link seems to be
https://www.nordicsemi.com/Software-and-Too

[2019-08-05 09:33] carlescufi commented on #18009
thanks @asbjornsabo, I will send a PR

[2019-08-05 09:41] #15608 closed

[2019-08-05 09:49] YuraCobain commented on #17870
The log and archive with the app that reproduce the bug is is attached bellow.
RX and TX is looped on DT_NORDIC_NRF_UARTE_UART_0_LABEL.
[17870_uart_async_api.log](https://github.com/zephyrproject-rtos/zephyr/files/3466959/17870_uart_async_api.log)

[2019-08-05 09:50] YuraCobain commented on #17870
/* main.c - Application main entry point */

/*
 * Copyright (c) 2016 Intel Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <stdbool.h>
#include <zephyr/types.h>
#include <stddef.h>
#include <string.h>
#include <errno.h>
#include <sys/printk.h>
#include <sys/byteorder.h>
#include <zephyr.h>
#include <drivers/uart.h>

K_SEM_DEFINE(rx_disabled, 0 ,1);
K_SEM_DEFINE(rx_ready, 0 ,1)

[2019-08-05 09:51] vonhust opened #18011 "arc: the offset generation of accl_regs is wrong"
**Describe the bug**
The offset generation of accl_regs is wrong. It's not fixed in #16921

**To Reproduce**
Steps to reproduce the behavior:
0. use tests/lib/sprintf
1. mkdir build; cd build
2. cmake -DBOARD=em_starterkit_em11d
3. make
4. See error

[2019-08-05 10:11] menglingao1997 opened #18013 "BLE Mesh On Net Buffer free issue"
**FUNCTION1**
https://github.com/zephyrproject-rtos/zephyr/blob/2b84c726c8893eaaa1bf26dfddf2798b159cd47d/subsys/bluetooth/mesh/friend.c#L90-L111

**FUNCTION2**
https://github.com/zephyrproject-rtos/zephyr/blob/2b84c726c8893eaaa1bf26dfddf2798b159cd47d/subsys/bluetooth/mesh/adv.c#L242-L252

**FUNCTION3**
https://github.com/zephyrproject-rtos/zephyr/blob/2b84c726c8893eaaa1bf26dfddf2798b159cd47d/subsy

[2019-08-05 10:14] menglingao1997 commented on #18013
@jhedberg

[2019-08-05 10:18] #17802 closed

[2019-08-05 10:18] #17979 closed

[2019-08-05 10:27] #17037 closed

[2019-08-05 10:52] #18009 closed

[2019-08-05 10:53] carlescufi commented on #18002
Yes please, this is a Segger issue, not a Zephyr one. Closing this, please report this to Segger instead.

[2019-08-05 10:53] #18002 closed

[2019-08-05 10:55] carlescufi commented on #17996
I believe those new messages are triggered by the inclusion of civetweb as a module, whose `CMakeLists.txt` seems to add a lot of processing, including the messages that you show here. This should be limited to civetweb therefore.

[2019-08-05 11:03] SebastianBoe commented on #17996
It seems civetweb is missing a

if(CONFIG_CIVETWEB)

in it's build scripts.

@PiotrZierhoffer , @tbursztyka

[2019-08-05 11:19] #18011 closed

[2019-08-05 11:24] richardbarlow commented on #17809
I'm about to implement a workaround for this since we have a client that requires this bug to be fixed in their product. I can see two obvious approaches:

 1. Prevent the message received using non-friend credentials from being added to the message cache in the first place. This will require the network layer to know whether the device is an LPN with an established friendship.
 2. Remove the mess

[2019-08-05 11:25] #13003 closed

[2019-08-05 11:51] explora26 commented on #13288
Fixed by #17901

[2019-08-05 11:51] #13288 closed

[2019-08-05 12:00] joerchan commented on #17920
@MarekPieta This looks like what was discussed here: https://github.com/zephyrproject-rtos/zephyr/pull/17306#issuecomment-511817499
Could you have a look and confirm?

[2019-08-05 12:03] jhedberg commented on #17809
@richardbarlow sorry for the delay in responding to this - I've been on summer vacation for the past weeks (officially back next week). Would it make sense to split `msg_cache_match()` into two separate functions: one for looking for a match, and another for updating the cache. The check for a match would occur in the current place, but updating the cache would only happen when the transport layer

[2019-08-05 12:09] jhedberg commented on #17809
@richardbarlow actually, I think my suggestion is not a good idea, since the network message cache is supposed to cover many more messages than just those passed to our transport layer.

[2019-08-05 12:17] jhedberg commented on #17809
@richardbarlow thinking a bit more about this: I'd consider your suggestion 2 with a slight modification: use the EAGAIN return code from `bt_mesh_trans_recv()` as an indication that the transport layer wants to attempt receiving the message again at a later point in time (pretty consistent with what this POSIX error actually means) and then have net.c remove the entry from the cache. That way the

[2019-08-05 12:50] wentongwu commented on #17838
Consider more, in the documentation we claim support DEVICE_PM_LOW_POWER_STATE, DEVICE_PM_SUSPEND_STATE, DEVICE_PM_OFF_STATE, DEVICE_PM_ACTIVE_STATE states, when system going to suspend state, we let device driver decide himself's state based on the system idle ticks, and then system will make the final decision based on every device's feedback.
@pizi-nordic could you please take a look this issue

[2019-08-05 13:18] jhedberg commented on #18013
@menglingao1997 your suggested fix looks correct. Do you want to try creating a pull request for it? I'm still on vacation, so I'll be able to do it earliest next week.

[2019-08-05 13:23] jhedberg commented on #18013
Isn't this a duplicate of #17936 ?

[2019-08-05 13:46] chtavares592 opened #18019 "BT scan via shell fatal error"
**Describe the bug**
I'm testing the sample `samples/bluetooth/central/` and add the `CONFIG_BT_SHELL=y` option to use shell options on the test, but when I active the scan, happens a FATAL error.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. west build -b  nrf52840_pca10056  -d build-display
3. west flash
4. See error

**Console output**
[code]

**Environment:**

[2019-08-05 14:00] jukkar opened #18021 "Socket vtable can access null pointer callback function"
**Describe the bug**
If some socket vtable function is not implemented, then the callback pointer would be NULL. This is not checked when calling the callback which can lead to null pointer access.

[2019-08-05 14:01] aescolar commented on #18019
CC @carlescufi

[2019-08-05 14:22] jukkar commented on #17997
I created a PR #18023 that changes the include file location in networking related include files.

[2019-08-05 16:27] richardbarlow commented on #17809
@jhedberg I was also on holiday last week (hence the gap between reporting and fixing). Please don't feel any need to respond to any of this until you're back from your vacation.

I've implemented the fix that you suggested of removing the message from the cache when `bt_mesh_trans_recv()` returns `EAGAIN`. It works beautifully. In the real-world application I have here the LPNs have gone from los

[2019-08-05 16:56] jiapei100 commented on #18002
Problem solved by **dpkg-deb**. JLink is **NOW** copied and pasted **WITHOUT** installation, which seems to work ALREADY.
Thank you... please close the issue.

[2019-08-05 17:33] pfalcon commented on #17997
I fail to see to see any inspiration there, it just says it moves headers around without explaining why. Some time later, another guy will submit patch which moves them back. Of course, without any explanation either.

[2019-08-05 18:14] pabigot commented on #17997
@pfalcon It would be fair to request that the commits and/or PR explain why it's done that way.  Not everybody will recognize the problem.  Or just link back here to this sample text:

Declarations that use C linkage should be placed within extern "C" so the language linkage is correct when the header is included by a C++ compiler.

Similarly #include directives should be outside the extern "C" to

[2019-08-05 18:24] pfalcon commented on #17997
Makes sense, hopefully authors of specific patches might mention that in PR commit messages, because the above fact might not be immediately obvious, and I guess effect of not following that rule might differ from header to header (so, some people might place one header inside `extern "C"`, see no ill effects, and decide that moving headers around is useless sinecure; or worse, someone might decid

[2019-08-05 18:40] pabigot commented on #17997
@pfalcon Good point; I've updated the explanation and moved it to the description of this issue.  It should probably go into the developer area of the documentation.  I'll try to remember to do that if/when I get back to doing C++ stuff in Zephyr.

[2019-08-05 19:50] #17882 closed

[2019-08-05 19:51] ExtremeGTX commented on #3981
Updates:
[x] Test using uart_async_text
[x] Generic Polling driver
[WIP] Support Console I/O
 - [X] console_write
 - [] console_read (WIP)

[2019-08-05 20:35] karstenkoenig commented on #17926
Hi @aep ,
I found the issues in the device tree file and think I resolved it more cleanly in my PR here
https://github.com/zephyrproject-rtos/zephyr/pull/15658

In particular this commit, it adds the required fields (which are enforced nowadays :-) )
https://github.com/zephyrproject-rtos/zephyr/pull/15658/commits/accea6c9f84e142ff7e6d16cdaf7d9cfc30ebbb8

It also transform the overlay into a shield

[2019-08-05 21:18] lanvis commented on #17546
Any ideas?  Is there a way to reinit BLE stack because this puts me in an unrecoverable state?

[2019-08-06 00:42] menglingao1997 commented on #18013
look like this, and may be able to solve in the same way.

[2019-08-06 05:00] b0661 commented on #17102
Moved from #16648

You are creating 6 functions to manage the callback on interrupt.
[code]

I think the same functionality can be achieved with a more minimal API:
[code]

* pin_interrupt_configure -> enable_callback
* pin_interrupt_enable -> enable_callback
* pin_interrupt_disable -> disable_callback
* manage_callback -> enable_callback
* enable_callback -> enable_callback
* disable_callback ->

[2019-08-06 05:58] aep commented on #17926
@karstenkoenig thanks. unfortunately i don't know how to test this. west is confusing.

[code]

[2019-08-06 06:02] karstenkoenig commented on #17926
Eh sorry I said west but actually also used cmake because I am still more used to it :-D
`cmake -S/home/karsten/zephyrproject/zephyr/samples/drivers/CAN -GNinja -DSHIELD=mcp2515 -DBOARD=nrf52_pca10040`

You need to adjust source (=S) and build path (-B)

[2019-08-06 06:03] aep commented on #17926
nah, i actually don't know how to check out your branch, sorry, probably basics.

[2019-08-06 06:06] karstenkoenig commented on #17926
`git clone git@github.com:karstenkoenig/zephyr.git
git checkout sample_can_cleanup`

[2019-08-06 06:10] aep commented on #17926
right, that would be easy :D but when not using west, the build system doesnt seem to work.

[code]

[2019-08-06 06:22] karstenkoenig commented on #17926
You can also add my github repo as a new remote in your original zephyr repo where you have setup west. Sorry but please try figuring that out on your own, there is plenty of documentation on either :-|

[2019-08-06 06:32] aep commented on #17926
that's the first thing i tried of course, but that just gave me:

[code]

so i'm assuming you have to use this west stuff, like the .. documentation says.
but no worries, sorry for the noise.

[2019-08-06 06:35] wentongwu opened #18029 "why kconfiglib.py doesn't throw error for file drivers/serial/Kconfig.nrfx"
in file drivers/serial/Kconfig.nrfx, there is  config NRFX_TIMER0 default y, and it's defined without a type. @ulfalizer

[2019-08-06 06:58] karstenkoenig commented on #17926
Now THAT is an issue I actually caused :-) And I should have seen it in the shipable build check, but only looked for the one I knew had to fail.
I still had a leftover config file in my local setup that cmake just picked up, it must have correctly set this field.

Can you please try and add `CONFIG_CAN_MAX_FILTER=5` to `boards/shields/mcp2515/mcp2515.conf` and build again? I left to work before n

[2019-08-06 07:55] pfalcon commented on #18021
If some socket vtable function is not implemented, it should be stubbed with a dummy function, return an appropriate error. This was a design decision, to avoid avoidable NULL pointer check, and leave a bit more freedom re: how to handle such "not implemented" cases.

[2019-08-06 07:58] avisconti opened #18031 "samples/shields/x_nucleo_iks01a3 test is stucking due to dca45cb commit"
The samples/shields/x_nucleo_iks01a3 is a sample to test the x_nucleo_iks01a3 shield. It outputs the sensor data forever.
After dca45cb commit has been merged it stucks after few iterations
(dca45cb drivers: i2c: Add STM32F10X slave support)
Help on this commit is required.
(see #17568)

If I remove it everything works:
git revert dca45cb

Steps to reproduce the behavior:
(it requires a nucleo F40

[2019-08-06 08:01] avisconti commented on #18031
@erwango @ydamigos
I put you as owner of this bug as you reviewed #17568.
I have actually been requested by @ydamigos to review it as well, but I was in vacation. Sorry for
that. I think that we should put @pavlohamov in a condition to debug it.

[2019-08-06 08:09] jukkar commented on #18021
IMHO this is not good. We end up creating unnecessary dummy functions without any benefit. If you really want to handle "not implemented" case in a special way, then you need to create a dummy function that does something special. If the default handling is fine, then the dummy function can be left unimplemented.

[2019-08-06 08:12] jukkar commented on #18021
The reason for creating this issue, was that I got hit by it as I only wanted to implement couple of callbacks and was not interested in others. Creating dummys in this case would be pointless as the default handling would be just fine.

[2019-08-06 08:16] pfalcon commented on #18021
A single one is enough.

[2019-08-06 08:19] #17869 closed

[2019-08-06 08:22] pfalcon commented on #18021
"Default handling" should be "not take deliberate steps to make code slower, if that's easily avoidable". (Yeah, it's all about couple of CPU cycles. And there're much more inefficiency in the code around. That's more about attitude - if we don't care about obvious cases now, then who and when will go and deal with more complex ones? And well, calling a vmethod is pretty much on a critical path in

[2019-08-06 08:29] mnkp commented on #17102
As I have mentioned in my last comment the `gpio_pin_interrupt_enable()`, `gpio_pin_interrupt_disable()` functions were added but `gpio_pin_enable_callback()`, `gpio_pin_disable_callback()` were deprecated. This is ultimately a rename operation as proposed by @anangl and discussed in this issue. The purpose of the `gpio_add_callback()`, `gpio_pin_interrupt_enable()` functions is very different. Th

[2019-08-06 09:13] #18029 closed

[2019-08-06 09:13] wentongwu commented on #18029
I found the reason, thanks everyone. Thanks

[2019-08-06 10:12] FRASTM commented on #17998
Hello,

not sure what your SPI configuration, but actually the PA4 is SPI1_NSS pin when Alternate function (AF5) is choosen.
Did you check the refMan of th STM32L476  about the "42.4.5 Slave select (NSS) pin management" to configure the SPI bus and

[2019-08-06 10:39] PiotrZierhoffer opened #18034 "It's impossible to build Zephyr via cmake/make with west 0.6.0 installed"
**Describe the bug**
If not cloning using west (but just regular git clone), it's impossible to build with the usual cmake/make commands.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/zephyrproject-rtos/zephyr
2. cd samples/hello_world
3. mkdir build; cd build
2. cmake -DBOARD=sam_e70_xplained #or any other
3. make
4. See error: `FATAL ERROR: no west installati

[2019-08-06 11:09] chris-makaio commented on #17625
Alright, funny thing.. the driver is trying to write registers for both ports in one step:
`i2c_burst_write(i2c_master, i2c_addr, reg, buf->byte, 2);`

Changed (in write_port_regs) to:
`i2c_reg_write_byte(i2c_master, i2c_addr, reg, buf->byte[0]);`

Works

[2019-08-06 11:10] b0661 commented on #17102
You are just moving the complexity from the driver developer to the application developer.

 I attached my OOT GPIO driver. You may have a look at gpio_xxx_config_callback in gpio_xxx.c to judge the complexity. [gpio_xxx.zip](https://github.com/zephyrproject-rtos/zephyr/files/3471711/gpio_xxx.zip)

User (application developer) should not need to debug the driver code. With all the active callback

[2019-08-06 11:52] chris-makaio commented on #17625
I could go through all of the code but does it make sense because maintainer is unknown? Or can I "adopt" ownership of this driver?

[2019-08-06 12:29] olofj opened #18042 "Only corporate members can join the slack channel"
Right now it seems that only people with certain corporate email addresses can join the slack channel. Given that slack is communicated as an official support channel, this seems like a bug.

At the very least, it should have information to how you get invited to the workspace if you have a Slack account under another email address.

Current login page says:

If you have an @intel.com, @linaro.com

[2019-08-06 12:31] carlescufi commented on #18042
I fixed this yesterday I believe, see the invite link in the GitHub doc: https://tinyurl.com/y5glwylp I also updated the link in the doc, it might not be updated yet on the website

[2019-08-06 12:35] olofj commented on #18042
Fantastic, thanks!

[2019-08-06 12:35] #18042 closed

[2019-08-06 12:50] aescolar commented on #18034
CC: @mbolivar

[2019-08-06 12:53] #17944 closed

[2019-08-06 12:57] aescolar opened #18044 "BT Host: Advertising Extensions - Periodic Advertisement Synchronisation (Rx)"
The host needs to support the HCI commands related to Periodic Advertisement as a scanner

This can be upstreamed as it is in already adopted spec. (Bluetooth Core Specification 5.0)

[2019-08-06 12:58] aescolar opened #18045 "BT Host: Advertising Extensions - Periodic Advertisement"
The host needs to support the HCI commands related to Periodic Advertisement

This can be upstreamed as it is in already adopted spec. (Bluetooth Core Specification 5.0)

- [x] hci_core.c implementations
- [x] bluetooth.h API
- [x] bt.c shell support
- [x] Kconfig options

[2019-08-06 12:59] aescolar opened #18046 "BT Host: Advertising Extensions - Scanner"
The host needs to support the HCI commands related to Advertising Extensions as a scanner. If talking to a controller with AE support these will have to be used instead of the Bluetooth 4.0 commands for Scanning

This can be upstreamed as it is in already adopted spec. (Bluetooth Core Specification 5.0)

[2019-08-06 13:01] aescolar opened #18047 "BT Host: Advertising Extensions - Advertiser"
The host needs to support the HCI commands related to Advertising Extensions as an advertiser. If talking to a controller with support these will have to be used instead of the Bluetooth 4.0 commands for advertising

This can be upstreamed as it is in already adopted spec. (Bluetooth Core Specification 5.0)

[2019-08-06 13:02] MariuszSkamra opened #18048 "[zephyr 1.14] Zephyr with privacy does not disconnect device with unresolvable RPA"
**Describe the bug**
Remote performs pairing with Zephyr and distributes IRK. After disconnection it sets it's address to unresolvable RPA using invalid IRK (different than previously distributed).

According to the Core Specification 5.1 | Vol 3, Part C, 10.7.1 Privacy feature in a Peripheral
[code]
The test case GAP/PRIV/CONN/BI-01-C requires Zephyr to disconnect the link with “Authentication Fa

[2019-08-06 13:04] aescolar opened #18050 "BT Host - Advertisement extensions support"
Issue to keep track of advertisement extensions support in the host

[2019-08-06 13:07] carlescufi commented on #18034
`west` is required upstream because of modules. Unless you provide a list of modules separately, you need to have west installed. This is not a bug.

[2019-08-06 13:08] carlescufi commented on #18034
If you really want to build without west then you need to provide CMake with a `ZEPHYR_MODULES` variable: https://docs.zephyrproject.org/latest/guides/modules.html

[2019-08-06 13:20] heypiotr commented on #17870
I've run into similar or the same problem, with a similar configuration to @YuraCobain. (Particle Boron, UARTE, no hardware counting, 115200)

A quick session with the debugger:

[code]

… that is, if I understand correctly, total bytes received (2393) is somehow less than total bytes delivered to the user/callback (3056).

Perhaps most importantly, **enabling hardware counting solved this problem

[2019-08-06 13:52] jimparis opened #18052 "z_fatal_error missing log_strdup"
I get an error about `log_strdup` on fatal errors:

[code]
Which is just an annoyance, but if `CONFIG_ASSERT` were set, this would trigger an assertion failure too.

[2019-08-06 14:11] PiotrZierhoffer commented on #18034
The documentation you pointed to explicitly says it's fine not to use modules:

[2019-08-06 14:12] PiotrZierhoffer commented on #18034
The main problem comes from the change in the error message that is filtered out in Zephyr build system. Please take a look at the PR I suggested.

[2019-08-06 14:18] ochipara commented on #10150
Is the LLVM/ARM support supposed to be functional? I am getting the following error when I try to crosscompile using llvm:

Zephyr version: 1.14.99
-- Found PythonInterp: /anaconda3/envs/zephyr/bin/python (found suitable version "3.7.3", minimum required is "3.4")
-- Selected BOARD nrf52840_pca10056
-- Found west: /anaconda3/envs/zephyr/bin/west (found suitable version "0.6.0", minimum required is

[2019-08-06 14:21] galak commented on #10150
Its not supported out of the box today.  I think this issue was closed not because it was completed, but just tracking it in #3689.

[2019-08-06 15:28] WilliamGFish commented on #16318
@mike-scott if you need more info let me know, as i'm now back at my desk "working"..

[2019-08-06 15:40] carlescufi commented on #18034
Yep, sorry for the noise, I confused the root cause of the issue.

[2019-08-06 15:57] ochipara commented on #3689
I am trying to use llvm/clang to build the helloworld sample. I have managed to run through the cmake configuration, but I am running into some compilation issues. Specifically, the following clang gets stuck trying to compile the following asm instruction:
In file included from /Users/ochipara/Working/embedded/zephyrproject/zephyr/kernel/fatal.c:7:
In file included from /Users/ochipara/Working/em

[2019-08-06 16:12] ydamigos commented on #18031
I will take a look at it the following days. Unfortunately, I don't have the hardware to test it.
@avisconti Did you test the sample in polling mode?

[2019-08-06 16:17] galak commented on #15611
I'd suggest:

`int gpio_port_set_clr_bits(*port, u32_t set_bits, u32_t clear_bits);`

[2019-08-06 16:27] #18021 closed

[2019-08-06 16:35] YuraCobain commented on #17870
@heypiotr, thank you for advice but enabling hardware counting(CONFIG_UARTE_NRF_HW_ASYNC) have not solved the issue for me.
However, as I already mentioned changing condition from **not equal** to **less than** in function:
[code]

[2019-08-06 17:13] #18034 closed

[2019-08-06 17:47] #17948 closed

[2019-08-06 17:48] andrewboie commented on #18052
@nordic-krch for a variety of reasons I would really like to avoid making heap memory allocations in the kernel's fatal error handling code. Are there any alternatives?

[2019-08-06 17:54] galak commented on #17926
How are we reproducing this?

Very confused about what platform the overlay was suppose to apply to.

[2019-08-06 18:42] mnkp commented on #17102
Not at all. We are talking about a very different approach to configuring interrupts. In the scenario involving `gpio_pin_interrupt_configure()` function application developer needs to decide beforehand if the callbacks will trigger on rising, falling or both edges. And then registers callbacks which are compatible with this configuration. In case of your proposal interrupt configuration should ha

[2019-08-06 20:09] andrewboie commented on #18052
Further detail on this problem:

- Any use of z_fatal_print() with a string will result in this problem. This could be anywhere in arch code, not just kernel/fatal.c
- z_fatal_print() is *supposed* to be workable with either a printk() or the logging subsystem. We can't just put log_strdup() calls in invocations since this might be printk backed
- we have no need for fatal error handling printout

[2019-08-06 20:16] jimparis opened #18059 "k_busy_wait passed milliseconds instead of microseconds"
These bugs have popped up after #11935 was fixed:

[code]
@masz-nordic @jukkar

[2019-08-06 20:32] karstenkoenig commented on #17926
@galak
This can be reproduced by building the CAN sample and using the provided mcp2515 dts overlay sample file. I've fixed/addressed it in https://github.com/zephyrproject-rtos/zephyr/pull/18057

[2019-08-06 20:41] pavlohamov commented on #18031
@avisconti Thank you for pointing this issue. Seems like i've managed to reproduce it on stm32f429 disco with 100% probability.
The issue is NOT reproduced if:
`CONFIG_I2C_STM32_INTERRUPT=n`
or
`CONFIG_I2C_SLAVE=y`
Also with https://github.com/zephyrproject-rtos/zephyr/pull/18061 - works fine.

Unfortunate i have no nucleo shield, nor F401. @avisconti Could you be so kind to verify these 3 individ

[2019-08-06 22:16] andrewboie commented on #17899
Looks like the problem is that the arch code is reporting a CPU exception instead of a stack overflow like it should be.

[2019-08-06 23:12] pabigot commented on #17102
@mnkp Your proposed sequence use case:

* add/enable callback A active on the rising edge
* add/enable callback B active on the falling edge
* add/enable callback C active on both edges
* remove/disable callback C

is interesting and I'd like to explore it.

First: for this to be validated as a use case we must assume that A, B, and C are from independent modules that cannot easily coordinate with

[2019-08-07 02:40] Mani-Sadhasivam commented on #17814
@MaureenHelm Any inputs?

[2019-08-07 06:35] b0661 commented on #17102
@mnkp

In my scenario callbacks have an expectation about the condition they are called. Thats why the callback struct also includes the pin mask and the pin trigger mode. In the scenario involving gpio_pin_interrupt_configure() callbacks have to be informed about the condition they are called and check by themselve whether this is an expected condition. In my scenario you always get the pin inter

[2019-08-07 07:21] nordic-krch commented on #18052
@andrewboie I've prepared #18076. Imo, it is good to keep logger in the fatal error handler. At some point we will definitely see flash log backend (crashlog) and then having log in flash will become very handy. Even now, someone can do that out of tree and by having logs there it's possible.

[2019-08-07 07:22] ioannisg commented on #9406
@erwango @galak is this going to be completed for 2.0.0?

[2019-08-07 07:23] ioannisg commented on #13197
Can the issue be closed, then, @mike-scott ?

[2019-08-07 07:33] avisconti commented on #18031
No, interrupt mode.

[2019-08-07 07:35] jukkar commented on #15881
I remember checking net_buf tests briefly earlier but my notes seem to have lost somewhere. After adding some printk()'s to the code, it seems that the semaphores in net_buf_test_3() are not waited and they fail immediately regardless of the timeout value TEST_TIMEOUT. To me it looks the issue is in qemu_x86_64 and not in the net_buf unit test.

[2019-08-07 07:55] avisconti commented on #18031
@pavlohamov
I tried #18061 and it seems to fix my issue!!
I will take a deeper look to what it does, and maybe @ydamigos can also review it.
Thanks for the quick solution.

[2019-08-07 09:05] vonhust commented on #17899
@andrewboie   yes, the root cuase is a little like #17590. **_StackCheckHandler** will be called when stackoverflow happens.  **_StackCheckHandler** will call **Z_ARCH_EXCEPT** in arch/v2/error.h.

**Z_ARCH_EXCEPT** will call **z_arc_v2_irq_unit_is_in_isr** which only can be called in kernel mode.

But in this test,  it's called in used mode.

I will make a fix soon.

[2019-08-07 09:21] pabigot commented on #17102
I want to continue step back from solution details, and revisit an original proposal:  **The GPIO interrupt infrastructure only needs to support a single callback on any pin.**

So far we have two use cases for multiple callback capability:
* From @tbursztyka A soft reset: press a button and many modules need to react;
* From @mnkp a sequence that registers three callbacks with different condition

[2019-08-07 09:21] pabigot commented on #17102
That one's easy: nothing.  Presumably there are other side effects, like a latched register, that can be checked on boot to determine the cause of a wakeup.

I have no problem with indicating "nothing" by providing a null function pointer in the callback configuration when the interrupt is configured. I do have a problem with recording fact-of an interrupt and expecting the infrastructure to invok

[2019-08-07 09:28] PiotrZierhoffer commented on #17996
I moved the check earlier, the PR is here: https://github.com/civetweb/civetweb/pull/778

[2019-08-07 10:11] SebastianBoe commented on #17996
AFAICT the policy changes will not have any affect and are therefore harmless.

[2019-08-07 10:24] #18059 closed

[2019-08-07 10:34] b0661 commented on #17102
At least for the interrupt enable this scenario can not be avoided as e.g. in STM32 the interrupt is shared between several pins. So even if you have one callback per pin you may have multiple callbacks per interrupt with all the downsides like managing interrupt enable  and  non constant-time enabling/disabling.

[2019-08-07 10:39] pabigot commented on #17102
Multiple callbacks per interrupt doesn't cause a problem; you can in theory have an array of callback pointers indexed by pin, so the per-pin cost is constant once a triggering pin has been identified.  Even if you use a `sys_dlist` it's bounded by the number of enabled pins.

The question remains: why do we need this?

[2019-08-07 10:44] mnkp commented on #17102
Before I answer individual questions I have some more input related to `gpio_pin_enable_callback()`, `gpio_pin_disable_callback()` functions. We've already established that despite the function name their API doesn't allow to enable/disable individual callbacks but rather to enable/disable pin interrupt to which a callback is attached. That's also how the function is mostly implemented at the mome

[2019-08-07 10:48] rlubos opened #18080 "LWM2M bootstrap issue"
I'm not sure if the issue I describe here is a bug report or my misunderstanding, hence not marking it as a bug yet. The documentation is quite scarce on how to initiate the bootstrap with the LWM2M library so I might miss some information.

I've tried to run the LWM2M bootstrap in the `lwm2m_client` sample, using local LWM2M bootstrap server (`leshan-bsserver-demo.jar` from the same source as the

[2019-08-07 10:55] b0661 commented on #17102
Is a callback related to the pin, a pin mask or the GPIO port?

[2019-08-07 11:06] pabigot commented on #17102
Or specify that the pin configuration is provided in the callback structure, and that there's only one of those per pin, in which case `gpio_pin_interrupt_{en,dis}able()` can be made to work very easily.  Answering some of the higher-level questions like "what's in the callback structure" and

would make it a lot easier to understand what you're proposing, whether it works for us, and what needs t

[2019-08-07 11:16] agansari commented on #14906
@finikorg @jfischer-phytec-iot can you redo this test? I think it has the same cause as #17007 which was fixed.

[2019-08-07 12:31] oxymoron87 opened #18085 "I2C log level ignored"
**Describe the bug**
Can't turn off logging for i2c driver (i2c_nrfx_twi.c) even if the CONFIG_I2C_LOG_LEVEL_OFF is set (and CONFIG_I2C_LOG_LEVEL=0).

According to this note for LOG_MODULE_REGISTER
`@note The module's state is defined, and the module is registered,
       only if LOG_LEVEL for the current source file is non-zero or
       it is not defined and CONFIG_LOG_DEFAULT_LEVEL is non-zero.

[2019-08-07 12:33] mnkp commented on #17102
My intention at the moment is not to change much comparing to what we have at the moment. We can deprecate `gpio_pin_enable_callback()`, `gpio_pin_disable_callback()` functions since they don't do what they are supposed to do. Configure interrupts not in `gpio_pin_configure()` but a dedicated `gpio_pin_interrupt_configure()` function. And then we can add
[code]
as proposed by @b0661 with the diffe

[2019-08-07 12:48] galak commented on #9406
I doubt it.

[2019-08-07 12:49] mnkp commented on #17102
In general I'm in favor of a simple API that does few things but does it well. The more advanced features should still be easy to support or supported but not necessarily included by default. If we had an API that supports a single callback per interrupt but user could enable multiple callbacks per interrupt via a Kconfig option that would be fine with me.

[2019-08-07 13:01] nvlsianpu commented on #16899
@Laczen Why the second code snapshot gives better protection?

[2019-08-07 13:12] nvlsianpu commented on #16899
I commit your comments below the snippets - yes right.

[2019-08-07 13:12] Laczen commented on #16899
@nvlsianpu, because it also makes sure that the alignment will remain correct

[2019-08-07 13:21] b0661 commented on #17102
I still think the pin_mask in the callback struct is also valuable. Adding the same callback to several pins (e.g. for bit banging on a multiple line connection) requires to call gpio_pin_interrupt_configure() for every pin.  If the pins happen to be on the same shared interrupt the callback is inserted multiple times in the callback list. Using the pin_mask may make that more convenient (only one

[2019-08-07 13:25] #14517 closed

[2019-08-07 13:32] lawrencek52 commented on #15611
All of the APIs above have a baseline assumption that you are working on a 32-bit machine, and can only set or clear up to 32 bits at a time. what happens when you move to a 64-bit machine? What happens if you are working on a 16-bit native machine, and it has to extend all of the parameters up to 32-bits?  You are passing in 32-bit ints, but getting back native machine ints (which may or may not

[2019-08-07 14:01] MariuszSkamra opened #18090 "[zephyr 1.14][MESH/NODE/FRND/FN/BV-08-C] Mesh Friend queues more messages than indicates it's Friend Cache"
**Describe the bug**
This is causing MESH/NODE/FRND/FN/BV-08-C qualification test case fail.
Zephyr Friend Cache Size is set to 16.
In the first step, PTS_1 sends 14 messages to Zephyr, that are queued and later polled by PTS_2.
In the second step, PTS_1 sends 19 messages to Zephyr. PTS_2 polls the messages and receives 19 packets instead of 15 or 16 as PTS states.

According to Mesh Profile 1.0.1

[2019-08-07 14:15] ioannisg commented on #15451
@MarekPieta @nvlsianpu  is this going to make it to 2.0.0 release?

[2019-08-07 14:24] ioannisg commented on #12985
@galak @mbolivar are we getting this into 2.0?

[2019-08-07 14:26] ioannisg commented on #12872
@erwango Since this is not even assigned yet, I am moving this to 2.1 release.
Please, change back the milestone to 2.0, if this can be completed by the freeze deadline.

[2019-08-07 14:39] pabigot commented on #15611
The baseline assumption is that no GPIO device has more than 32 pins.  There's one existing device that has more, and it has to be split into separate devices.

Yes, if there's a 16-bit target this would cause overhead, but Zephyr pretty strongly expects a minimum 32-bit system.  I generally prefer native int types but for a cross-platform system they introduce complexity.

Plain `int` returns are

[2019-08-07 14:41] mnkp commented on #15611
The `int` that the `gpio_port_*` functions return contains an error status, as defined by `errno.h`. If there is a functional value that we want to return, as it is in case of `gpio_port_get` function, we do it via a function parameter.

That said, I agree that we should discuss / reconsider the need to enforce a fixed 32-bit types in Zephyr's API. This issue has been neglected for a while.

[2019-08-07 14:42] pabigot commented on #17102
So the drivers would still have to implement all the complexity of multiple callbacks per pin[*], but it'll only be used rarely for cases that nobody's justified as worth the effort.

I don't think that's a good plan.

[*] I assume you meant that rather than per interrupt.  We know there can be multiple callbacks per invocation of an interrupt handler that's shared among multiple pins.

[2019-08-07 14:49] mnkp commented on #17102
I never mentioned we should remove it.

[2019-08-07 14:51] pabigot commented on #15611
In the API meeting last week I explicitly asked whether anybody had an issue with requiring a 32-bit value to represent the set of pins supported by a single driver and people were OK with it.

For future-proofing and clarity of argument purpose I'd be happy to see `typedef u32_t gpio_value_t` and use `gpio_value_t` in the API.  It could be typedef'd on a per-platform basis, but that might cause p

[2019-08-07 14:53] joerchan opened #18092 "Assert in BT controller on RPA timeout"
Advertiser asserts when RPA timeout occurs and no entry in the resolving list exists for the peer.
This happens even when the peer address is an all zero address i.e no valid peer address.

**To Reproduce**
Affects:
CONFIG_BT_PRIVACY=y
CONFIG_BT_SETTINGS=y

Steps to reproduce the behavior:

1. west build -b nrf52840_pca10056 tests/bluetooth/shell
2. Attach board and open terminal
3. `west flash`
4

[2019-08-07 15:02] mike-scott commented on #18080
@rlubos It's probably a bug :)  I will run some tests today.

[2019-08-07 15:11] pabigot commented on #17951
Fixed in #17749.

[2019-08-07 15:11] #17951 closed

[2019-08-07 15:50] pabigot commented on #11993
Approach described in [#17072 has been approved](https://github.com/zephyrproject-rtos/zephyr/pull/17072#issuecomment-519156542).

[2019-08-07 15:50] #11993 closed

[2019-08-07 16:07] #17861 closed

[2019-08-07 16:31] #16899 closed

[2019-08-07 16:42] pabigot commented on #17996
This definitely needs to be in 2.0.0 (actually, needs to be in ASAP) regardless of when upstream takes the patch.

[2019-08-07 17:14] #18052 closed

[2019-08-07 18:49] #18092 closed

[2019-08-07 19:50] #17782 closed

[2019-08-07 19:50] #17783 closed

[2019-08-07 19:50] #17784 closed

[2019-08-07 21:04] ulfalizer commented on #18029
Yeah, it's defined in two locations. One of them gives the type.

[2019-08-07 22:18] mike-scott opened #18105 "BSD socket offload with IPv4 and IPv6 disabled breaks many client-based net samples"
**Is your feature request related to a problem? Please describe.**
When using the socket offload API where IPv4 and IPv6 are disabled, all net samples are broken due to their dependence on `NET_CONFIG_*` settings.

**Describe the solution you'd like**
In a perfect world, samples would still work -- the main issue being where to get things like peer server address.

**Describe alternatives you've c

[2019-08-07 22:18] mike-scott commented on #18105
@pfalcon @GAnthony starting the discussion

[2019-08-07 22:26] mike-scott opened #18106 "Only 1 NET_SOCKET_OFFLOAD driver can be used"
**Is your feature request related to a problem? Please describe.**
Fix Zephyr to allow for several devices to be configured as NET_SOCKET_OFFLOAD.

**Describe the solution you'd like**
I haven't thought too much about the solution, but it would probably involve the offloaded drivers allocating file descriptors using vtables, so that packets can be routed between 2 different offloaded drivers appro

[2019-08-07 22:26] mike-scott commented on #18106
@rlubos @GAnthony adding for discussion

[2019-08-07 22:27] mike-scott commented on #18105
also adding @rlubos

[2019-08-07 23:00] PiotrZierhoffer commented on #17996
I created the PR here: https://github.com/zephyrproject-rtos/zephyr/pull/18107

I must admit I don't fully understand what does this issue mean, but now Civetweb's cmake is stopped much earlier.

[2019-08-08 05:16] mike-scott commented on #16318
@WilliamGFish Can you test https://github.com/zephyrproject-rtos/zephyr/pull/18103 and see if MPU fault still exists?

[2019-08-08 07:27] rlubos commented on #18106
Yes, this has been sitting in my head for some time now and the idea was the same as you propose - to move the offloading underneath the `z_sock_*` API and use the vtable.

The two problems I see with this solution that would be needed to solve:
1. Socket creation - how to tell which offloaded engine should be used (or a native stack) when the socket is created. I assume all solutions would like t

[2019-08-08 07:48] jukkar commented on #18105
Could you elaborate this a bit more? At least compilation seems to work just fine if I disable IPv4 and IPv6. What kind of issues there are in runtime (I do not have any offloaded devices that I could try myself)?.

What I did to test the compilation:
- Create `samples/net/sockets/echo_server/overlay-offload.conf` with this content
[code]
[code]

[2019-08-08 07:52] #16089 closed

[2019-08-08 08:51] MariuszSkamra commented on #17971
The problem still exists with https://github.com/zephyrproject-rtos/zephyr/pull/17295
[code]

[2019-08-08 09:09] #17891 closed

[2019-08-08 09:10] EddLeon commented on #13553
@xiaoliang314, Hope you have fixed your problem by now.....from my own experiments, I've seen that the Network layer keeps relaying the packet until its TTL has reached zero (even with the replay protection and message cache), probably causing increased traffic. (you have to enable the Network Layer log to see this). So maybe you could try lowering the ```.default_ttl = 7```  and disabling the ```

[2019-08-08 09:25] ioannisg commented on #12985
Moving this to 2.1.0

[2019-08-08 09:34] PiotrZierhoffer commented on #17996
The PR is merged - what should we do with this issue is an open question now.

[2019-08-08 09:51] SebastianBoe commented on #17996
Could @pabigot re-test and see if it is still so that "BUILD_ASSERT not active in three of five shippable platforms" ?

[2019-08-08 10:09] INemesisI opened #18117 "Driver: modem add interface enable handler for power saving"
**Is your enhancement proposal related to a problem? Please describe.**
Currently the modem implementation connects to a network before booting the main application and stays connected forever.
This is problematic for battery powered applications where we want to be offline most of the time to save power.
There is currently no way of disabling/enabling the module from the main application.

**Desc

[2019-08-08 10:24] nmeum opened #18118 "samples/subsys/console doesn't work with qemu_riscv32"
**Bug description**

The sample application `samples/subsys/console/echo` doesn't work with `qemu_riscv32`. This is due to the fact that the sifive uart [implemented by qemu](https://github.com/qemu/qemu/blob/b98a66201dbc7cf3b962f4bb260f66100cc75578/hw/riscv/sifive_uart.c) doesn't raise TX interrupts if `txcnt` is zero. From the [E310-G000 Manual](https://sifive.cdn.prismic.io/sifive%2F4d063bf8-3a

[2019-08-08 10:25] carlescufi commented on #18117
Could you please take a look at this Pull Request? https://github.com/zephyrproject-rtos/zephyr/pull/18103

[2019-08-08 10:27] INemesisI commented on #18117
I did, I committed on top of #18103.

[2019-08-08 10:30] MarekPieta commented on #17920
@joerchan, additional callback could be a solution for this one (if called properly).
I think that even not calling `securiy_changed` callback here would be enough.

[2019-08-08 10:44] pdunaj commented on #17920
Hi @ioannisg , this looks as high priority bug as it affects security of the link.

[2019-08-08 12:07] abrodkin opened #18124 "synchronization example fails to build for SMP platforms"
Initially reported by Shippable here https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/47829/3/console while reviewing https://github.com/zephyrproject-rtos/zephyr/pull/17992.

Yet could be reproduced for any other SMP platform, for example `qemu_x86_64`:
[code]
Enable OpenOCD support (`CONFIG_OPENOCD_SUPPORT=y`).

[code]

[2019-08-08 13:11] pabigot commented on #17996
#18121 failed on all platforms as it should have.  I have a feeling something still isn't right, but until it shows up again we'll call this good.

[2019-08-08 13:11] #17996 closed

[2019-08-08 13:12] SebastianBoe commented on #17996
Great, thank you @pabigot

[2019-08-08 13:25] pabigot commented on #17996
For the record: The [shippable run](https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/47565/summary/console) that kicked off this issue showed failures in matrix builds 3 and 5 due to lack of a semicolon after a `BUILD_ASSERT()`.  I inferred this was due to that macro expanding to nothing, which was probably incorrect, as was my count of failed platforms.

I can't see why the error w

[2019-08-08 13:34] joerchan commented on #17971
#17295 fixed a bug from #16178, together they fix this.
I have added both to #18122 for backporting to the v1.14-branch.

[2019-08-08 14:19] pabigot opened #18131 "devicetree should check input against declared type"
**Is your enhancement proposal related to a problem? Please describe.**

Users are assuming that a property `jedec-id` that has type `uint8-array` can accept a value as `< 0xc2 0x28 0x17>`, but that will generate a 12-byte initializer for three `u32_t` values when `[c8 28 17]` would generate the correct expected 3-byte initializer.

**Describe the solution you'd like**

The expected type of values

[2019-08-08 14:22] aescolar commented on #18131
CC @galak @ulfalizer

[2019-08-08 14:42] egcd32 opened #18132 "getting_started should indicate upgrade rather than just install west"
**Describe the bug**
Following the instructions in https://docs.zephyrproject.org/latest/getting_started/index.html
to
pip3 install west
followed by
west init zephyrproject
on a system where west 0.5.8 was previously installed (from several months ago following the getting started with zephyr), the west init zephyrproject fails partway through. The error message indicates that something is looking

[2019-08-08 14:46] aescolar commented on #18132
@mbolivar @carlescufi

[2019-08-08 16:11] mike-scott commented on #18105
@jukkar You are correct.  The server-based samples might work somewhat.

However, many of the client-based samples all use logic like this in echo_client/tcp.c::start_tcp():
https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/net/sockets/echo_client/src/tcp.c#L175

All functions of tcp are wrapped with `IS_ENABLED(CONFIG_NET_IPV*)` checks.

Or the coap_client:
https://github.com/zephy

[2019-08-08 16:28] ulfalizer commented on #18131
This is trickier than it might seem at a glance (think `foo = <1 2 3>, "bar", [00 01], &hmm;`), so it'll take some work, but I'll get on it.

Gonna start with marking up offsets where different data blocks start (already do that for e.g. phandles). Then a "type" could be derived from that later.

[2019-08-08 20:28] jukkar commented on #18117
I commented the prototype at #18103: INemesisI@43bc525 and the L2 offload init needs to go to `subsys/net/l2/offload`.

[2019-08-08 20:33] jukkar commented on #18105
Indeed, that is unfortunate. One option could be to change the `IS_ENABLED(CONFIG_NET_IPV*)` to `IS_ENABLED(USE_IPV*)` and then have in the code something like this
[code]

[2019-08-08 20:53] jukkar commented on #18105
After some thinking, I think we need to leave the `IS_ENABLED(CONFIG_NET_IPV*)` as is in the samples as they depend on an IPv6 feature. Enabling IPv6 feature is a generic thing and has nothing to do with offloading.
We need to fix the other part of the system so that if the user enables offloading, then we disable core IPv6 & IPv4 stuff. In practice this probably means adding some new kconfig opti

[2019-08-08 21:13] galak opened #18137 "Add section on IRQ generation to doc/guides/dts/index.rst"
Update doc/guides/dts/index.rst to describe how IRQ generation works for multi-level IRQs.

[2019-08-08 21:19] camicarballo commented on #17323
Down to 1 failing test with #17786 applied

[code]

[2019-08-08 21:29] andrewboie opened #18138 "xtensa arch has two different implementations"
Core xtensa code has two implementations present, the old implementation contributed by Cadence and the rewrite done by @andyross

We never sealed the deal on this, there's lots of conditional compilation for CONFIG_XTENSA_ASM2 in arch/xtensa

Purge the old xtensa arch code, have everything use the new code, remove old board targets where it doesn't work.

[2019-08-08 22:25] GAnthony commented on #18106
@vanti, FYI.

Yes, having a single socket offload device was a design limitation (which satisfied most TI use cases).

The vtable work was pushed to ensure the existing socket offload got into the LTS release, (some discussion on that was here:  https://github.com/zephyrproject-rtos/zephyr/issues/11891).

Indeed.  Either:
- a specific Protocol Family in the socket create call, indicating the net i

[2019-08-08 23:18] andrewboie opened #18140 "xtensa passes NULL esf on fatal error"
`xtensa_excintl_c()` and `z_irq_spurious()` in arch/xtensa/core/xtensa-asm2.c pass a NULL `esf` parameter to `z_xtensa_fatal_error()`. The expectation is that these should pass a valid exception stack frame pointer, which will allow dumping program state when the exception occurred.

The current dump_stack() function should be moved up to z_xtensa_fatal_error() and use the ESF for its information.

[2019-08-09 01:38] xiaoliang314 commented on #13553
@EddLeon No solution, I have replaced the chip. One of the most probable reasons I found was that both the sending and receiving of the controller worked through time slots. When the controller sends it, it grabs a scan interval (30ms) but only uses about 3ms, and the next 27ms is not doing anything. This should be an important cause of message loss.

[2019-08-09 01:58] vonhust opened #18141 "arc: the caculation of exception stack is wrong"
**Describe the bug**
The caculation of exception stack  in arch/arc/core/fault_s.S's _exc_entry is wrong.
'''
add sp, sp, EXCEPTION_STACK_SIZE
'''
will cause the stack overflow.

This will make exception handling corrupted.

Why  does this issue comes out ?  Because no run of full sanitycheck test.

That's a lesson to learn!!!

[2019-08-09 05:20] likeaferrari opened #18143 "stm32f SPI Slave TX does not work correctly, but occurs OVERRUN err"
- Environment
ubuntu 18.04
Zephyr 1.14.99
STM32F410RB (nucleo F410RB)

I'm working  on the STM32F410RB. When transmit 8bytes data in SPI Slave mode, it occurs Overrun error and does not send correctly.

 I tested with simple send code as like below.

[code]

and in the recv side, test message show the result like this.

I tracked the flow, and found LL_SPI_IsActiveFlag_TXE(spi) does not return tru

[2019-08-09 06:07] #18132 closed

[2019-08-09 07:20] rlubos commented on #18105
I've used `NET_RAW_MODE` for some time with nRF91, it did its job, yet it proved to be too strict and disabled too much. I'd also avoid disabling native TCP/IP stack solely on the offloading option, as it would prevent the use cases that #18106 will open (like running both native and offloaded stack).

I think that Jukka got the point here, that we'd need a new Kconfig (perhaps something like `CON

[2019-08-09 07:41] #15305 closed

[2019-08-09 08:25] andrewboie opened #18147 "RFC: adjust policies and introduce new macros for logging strings"
The mechanism we have right now for logging strings will not work in an environment where the format strings for log messages have been stripped out of the binary. The binary logging backend will only be able to log the address of the log message format string (to identify it for later offline post-processing), and the raw values of the arguments supplied.

If a transient string is logged, we have

[2019-08-09 08:33] andrewboie commented on #18147
Example, just to show what I mean, I don't care too much what the interface looks like:

[code]

In the log:

[code]

[2019-08-09 08:44] andrewboie commented on #18147
@nordic-krch actually perhaps there is a way we can solve this without changing the interface.

What if log_strdup() returned a string pointer that had the lowest bit set, as a marker that this is a transient string. we can use the low 2 bits for flags since they will be at least 4 byte aligned. this gets saved with the event.

When the backend looks at the event arguments, it will note that the l

[2019-08-09 09:12] nordic-krch commented on #18147
Regarding reducing log message footprint and removing log message strings from the binary. I'm not that good in linking/elf stuff but i was wondering if it would be possible to store those strings in a section which would not go into binary but would stay in elf. Then on PC it would be possible to decode logs with access to elf file.

Regarding transient strings handling: it may be based on PR i h

[2019-08-09 09:23] andrewboie commented on #18147
Disregard, this won't work.

Yeah that should be doable.

Backend that handles stringless case would send main message and referenced one to the host (if argument is identified as address of element from the pool). Host can resolve it to human readable version.

If I understand correctly, you want to have the backend assume any value passed in that falls within the address range, is a pool object

[2019-08-09 09:30] nordic-krch commented on #18147
It using same approach a linux does (i heard) it's using `%pZ` format specifier for for `__printf_like` check it's just `%p`.

[2019-08-09 09:31] nordic-krch commented on #18147
but the fact is that in that PR it is freeing allocated message based on `%pZ` format specifier found in the string so if it's not accessible then we have a problem.

[2019-08-09 09:34] aescolar commented on #18147
@andrewboie @nordic-krch Thanks for thinking about this.

I would wonder if dynamically generated strings in the embedded side would not be better avoided altogether, due to their overhead.
A BT address is 6 bytes, not 20 chars (or whatever it is printed as).

What about the idea of doing something a bit more radical, for a lean logger version which does the absolute minimum in the embedded side:

[2019-08-09 10:00] ioannisg commented on #15229
@jukkar @andrewboie this issue is flagged as 2.0.0; is this taken care off via other issues/PRs?

[2019-08-09 10:04] ioannisg commented on #15180
@nvlsianpu has this issue been worked for 2.0 release? Otherwise, can we move this to next one?

[2019-08-09 10:07] nordic-krch commented on #18147
For things like Bluetooth address and MAC address (probably majority of string duplicates) we could have them stored as arguments in the log message and create custom specifiers:
[code]

where `%pZb1` means part1 of bluetooth address.

this off course looks awful but would store 7 byte address into 2  32bit log arguments and then formatter would print it nicely. That is the best solution in terms

[2019-08-09 10:20] nordic-krch commented on #18147
Another thought:

Not sure if that is too unuser-friendly but if string formatting is extended to support something like:
- `%pcw` - print word as characters until NULL is found.
- `%pcc` - continued printing of word as characters. if in previous `%pcw` or `%pcc` had NULL omit it

Then if transient string is of known size (e.g. declared on stack in the function) there could be a macro which would

[2019-08-09 10:29] MariuszSkamra opened #18150 "[zephyr 1.14] Host does not change the RPA"
**Describe the bug**
It happens (about 30%) that Zephyr host does not change the RPA.

**To Reproduce**
Steps to reproduce the behavior:
To speed up RPA address rotation, set RPA timeout to 30 seconds ```CONFIG_BT_RPA_TIMEOUT=30```
0. Test using Zephyr bluetooth/shell app for both devices. peripheral (a) - (b) central
1a. bt init
1b. bt init
2a. bt clear all
2b. bt clear all
3a. bt advertise on
3b

[2019-08-09 11:01] nvlsianpu commented on #15180
Both posix flash driver and emulated flash driver for qemu are available in codebase since while.
FCB, NVS, settings and dfu/ modules  are tested in CI using qemu and native_posix targets.

[2019-08-09 11:01] #15180 closed

[2019-08-09 11:57] jukkar commented on #18105
I created a PR that allows user to disable native IP stack. It is only build tested as I do not have proper hw to test it.

[2019-08-09 12:34] aescolar commented on #18147
Would it be enough to know the BT address is always 7 consecutive bytes in memory? (so only 1 format specifier?)
LOG_INF("A very long string with a BT address %pBTA in the middle", (void*)&bt_address);
And the logger would copy those 7 bytes towards whichever backend it uses.

[2019-08-09 12:39] ioannisg opened #18154 "Qemu: mps2+: missing documentation"
There needs to be some documentation under
-  boards/boards/arm/mps2_an385/doc
-  boards/boards/arm/mps2_an521/doc

That documentation should indicate that these are Qemu targets for ARM; how they can be used; known issues, etc.

Probably just copy-paste with trivial adjustments from some other board's QEMU documentation

See, for examples, qemu_cortex_m3

[2019-08-09 12:51] nordic-krch commented on #18147
logger is not analyzing string when creating a log message, just copies sizeof(void *) arguments and forms a message. If it is split into multiple standard arguments then logger would treat them without any special approach.

[2019-08-09 12:51] KwonTae-young opened #18155 "i2c_ll_stm32_v1: I2C_CR1:STOP is not cleared"
**Describe the bug**
I am using STM32F415RG with I2C_2 (OLED), PWM (Buzzer), ADC, USART_1 (IrDA), SPI_1 (M-RAM).
There is a phenomenon that data of I2C is not output properly in random situation.
In this case, if i check the register of I2C, **`I2C_CR1:STOP`** bit is set.(0x00000200)
[code]

In this case, the address of i2c_slave is not output when using [i2c_write()](https://docs.zephyrproject.or

[2019-08-09 13:06] ioannisg commented on #17920
Discussed with @carlescufi ; seems that the application _does_ get some notification about the issue, that's why we set it to LOW, but no strong opinion on this

[2019-08-09 13:08] StefJar opened #18157 "adding an offset to the zephyr code via dts overlay breaks linking + the image size changes"
I am doing a change in the dts flash settings via an overlay in a shield.

my overlay file looks like(my.overlay):
[code]
Compiling without my.overlay:
[code]
compiling with overlay:
[code]
My test board is similar to the ```nucleo_f412zg``` and this error should be reproducible on this as well.

I didn't touched the ```FLASH_LOAD_OFFSET``` config. It is set to 0 by default but should adjust autom

[2019-08-09 13:08] pdunaj commented on #17920
Hi @ioannisg , application is notified that security was set to medium while security setup failed which can be seen in the logs).

[2019-08-09 13:11] microbuilder commented on #18154
@ioannisg These shouldn't be exclusively **qemu** boards, though. There is a PR here that I used to do TF-M dev and testing on the actual MPS2+ board with AN521, which is the board many people are using at ARM as well: https://github.com/zephyrproject-rtos/zephyr/pull/16450/files

I can update this today with a doc PR, but describing them as qemu only is overly limited in my opinion?

[2019-08-09 13:19] ioannisg commented on #18154
No, I did not want them to be shown as Qemu-only boards; instead, there should be some information that we support running tests in CI (on Qemu) for these boards. Besides them being regular platforms. Sorry for the confusion.

Btw, doc/bug-fix PRs can be merged even after the feature freeze, so no particular rush on this

[2019-08-09 13:42] jukkar commented on #18147
I would prefer if we do not put any special treatment for MAC addresses like assuming that they are certain length etc. For example in networking code the MAC/link address address can be from 2 to 8 bytes long.

[2019-08-09 14:14] #16148 closed

[2019-08-09 14:24] lawrencek52 commented on #16735
I am seeing the same thing, unfortunately I only have Intel, hence I can't connect.

On a related note the Zephyr app I am developing has developed a bug between an older build and the current tip. Doing a git bisect the bug shows up when a change to the timers was made. I am using tickless kernel (hence the timer rate is 32kHz which counts as high). When the bug hits the timer interrupts disappea

[2019-08-09 14:31] SebastianBoe commented on #8851
This solution proposal has now implemented:

`Allow custom 'app' hook build scripts that run in "kernel mode" and can therefore declare Zephyr CMake Libraries.`

The hook is ZEPHYR_EXTRA_MODULES.

App developers can now do

[code]

and create zephyr libraries outside of the zephyr tree.

[2019-08-09 14:31] #8851 closed

[2019-08-09 15:01] galak opened #18160 "Cleanup dts compatible for "nxp,kinetis-sim" on nxp_ke1xf"
"nxp,kinetis-sim" is used in the following dtsi files:

[code]

However nxp_ke1xf.dtsi is the only one what doesn't use it as a clock controller.  The HW is a little different and as such we should use a different compatible for it on nxp_ke1xf.

[2019-08-09 15:15] henrikbrixandersen commented on #18160
@galak Could you please elaborate a bit on why a different `compatible` is needed? What problem does the current solution pose?

[2019-08-09 15:17] aescolar commented on #18147
@jukkar Do you know in a particular logging statement the size of the MAC address you want to log (number of bytes of the address, not the expanded string)

[2019-08-09 15:41] #15451 closed

[2019-08-09 16:36] galak commented on #18160
The idea with compatible is that it should be used if the software/programming model is the same for the HW.  While I'm guessing the manual's call the block SIM on all the Kinetis SoC's, it seems as if the way clocks and SIM work differ greatly between the KE1XF and other SoC's.  As such we should use a slightly different compatible on KE1XF.

Such as "nxp,kinetis-ke1xf-sim" and introduce a bindin

[2019-08-09 16:46] galak commented on #18160
Got a patch in progress

[2019-08-09 18:10] #18141 closed

[2019-08-09 18:12] #17899 closed

[2019-08-09 18:37] andrewboie commented on #18147
Still need this question answered.

I don't think this design is workable. You feed it a value which it thinks is an object, it will then start writing potentially arbitrary memory to the log stream, and then attempt to free it out of the pool.

I think there should be dedicated APIs for logging strings or binary data. It is the safest way to do this. I don't see the current design as workable whe

[2019-08-09 18:39] andrewboie commented on #15229
This is not yet resolved.
https://github.com/zephyrproject-rtos/zephyr/pull/17477 will close it.

[2019-08-09 19:07] andrewboie commented on #18157
z_impl_uart_line_ctrl_get is in drivers/serial/uart_handlers.c

It is ifdefed around CONFIG_UART_LINE_CTRL.

Is CONFIG_UART_LINE_CTRL enabled in your Kconfig?
Is that C file being built?

[2019-08-09 20:50] #6545 closed

[2019-08-09 22:03] #17922 closed

[2019-08-09 22:57] mike-scott commented on #16318
@WilliamGFish I think this can be closed right?

[2019-08-09 23:18] WilliamGFish commented on #16318
RESOLVED:
Configuration issue, settings clash;
CONFIG_HW_STACK_PROTECTION=y
and
CONFIG_MODEM_SHELL=y

Additionally, not setting CONFIG_MODEM_SHELL=y will cause failures.

[2019-08-09 23:18] #16318 closed

[2019-08-09 23:52] mike-scott commented on #16318
@WilliamGFish Ah, I'm sorry I thought you explained it was due to the sample you were using and not due to the modem.  If you feel this is still a modem-related issue please re-open.

[2019-08-10 02:17] vonhust commented on #17590
Fixed by PR #18079

[2019-08-10 02:17] #17590 closed

[2019-08-10 07:18] aescolar commented on #18147
I do agree about this.

[2019-08-10 08:32] jukkar commented on #18147
Yes, the size of the link address is known when printing it.

[2019-08-10 09:16] b0661 opened #18169 "dts: bindings: inconsistent file names and base.yaml include of general device controllers"
**Describe the bug**

Binding files for general device controllers (e.g. gpio controller, interrupt controller, spi controller) are named inconsistently (e.g. gpio-controller.yaml vs. spi.yaml).

Inclusion of base.yaml by the general device controller bindings is inconsistent. E.g. gpio-controller.yaml does not include base.yaml whereas spi.yaml includes base.yaml.

**To Reproduce**

See general b

[2019-08-10 11:11] ioannisg commented on #15494
@MaureenHelm @nashif @galak @carlescufi I am trying to resolve this pre-RC1 task:

However, now such external components are outside the main repository, so I am wondering, if we can skip this checking now. That would make sense, since these components can be updated independently of the main repo (that is, regardless of feature freeze).

Or: does this, now, mean that we need to tag all repositori

[2019-08-10 12:23] galak commented on #17743
Is this still an issue with the recent qemu_riscv64 merge we now set these flags:

https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/compiler/gcc/target.cmake#L72

[2019-08-10 12:30] aescolar commented on #15494
@ioannisg, 2 comments fro me:
* There is still a few ext/ in tree (e.g. tinycrypt, which is up to date)
* I would say that them being in a separate repo does not change things here. As you said, you are tagging zephyr with a west manifest which lists the "known to work with" version of those other repos. So those should be up to date

[2019-08-10 12:52] ioannisg commented on #15494
@aescolar thanks, for your help here :)
Sure, I am aware of the components in the tree; tinucrypt is indeed up-to-date

I agree they need to be up-to-date, in general; but does it mean "latest release" or we are ok with "latest major release"?

Second: updating external components (in the standalone repos) and west revisions (in zephyr) will require some testing, righti? if I should do this now, I

[2019-08-10 15:56] vonhust commented on #16661
This issue can be closed as ARC SMP support is merged

[2019-08-10 15:56] #16661 closed

[2019-08-10 15:57] b0661 opened #18171 "gen_defines creates identical labels for multicell pwms definition"
**Describe the bug**
gen_defines.py creates identical labels for both pwms of the following DTS:

[code]
resulting in a compilation error.

**To Reproduce**

See above

**Expected behavior**

No compilation error.

**Impact**

showstopper -> compilation error due to duplicate labels

**Environment (please complete the following information):**

Latest Zephyr

**Additional context**

The following

[2019-08-10 15:59] vonhust commented on #15793
Now, openocd in zephyr sdk is ok to load application into ram. Flash driver (internal eflash or outside spi flash) support will be implemented in the future. So I don't close this issue, but lower its priority

[2019-08-10 17:14] StefJar commented on #18157
@andrewboie guess so. I didn't changed code or config - only I used a user defined shield to insert a offset to the zephyr partition.
I checked the ".config" file in the cmake build dir. There is an entry for  `CONFIG_UART_LINE_CTRL=y`

Think this error is more releated to some internal linking stuff.
if I am setting
`FLASH_LOAD_OFFSET = 0x20000`
The linking works

[2019-08-10 19:04] egcd32 commented on #17743
Thanks. There is still an issue, though it appears to be specific to cross compiling with the GCC 8.2.0 packaged in SiFive FreedomStudio-4.7.2.2019-05.0-win32.   The above change to target.cmake uses -mabi=ilp32 -march=rv32ima however SiFive doesn't have a GCC library for rv32ima. (It does have rv32i, rv32im, rv32imac, rv32imafc...)
As a result, in that cross-compiler,
gcc -mabi=ilp32 -march=rv32i

[2019-08-10 21:07] ulfalizer commented on #18169
`base.yaml` was added pretty recently by Galak. Just a bunch of boring batch replacement that hasn't been done yet.

If you have nothing better to do, you could submit some PRs for the ones you see, and I'll approve quickly. We should get to it later otherwise.

[2019-08-11 08:04] ioannisg opened #18173 "ARM: Core Stack Improvements/Bug fixes for 2.1 release"
This is an umbrella issue for the ARM stack enhancements, including improvements/enhancements made for ARM SoCs and Boards, beyond 2.0 and towards the 2.1 release.

Several of the items below are  related to issues, which have been spotted before and during the 2.0 feature freeze and tree stabilization, and have, eventually, been moved to the 2.1 Zephyr release.

Items are constantly been added in

[2019-08-11 08:06] ioannisg commented on #14744
Moving uncompleted issues to 2.1 release and closing this down.

[2019-08-11 08:06] #14744 closed

[2019-08-12 02:28] wentongwu commented on #14173
for the fail with shift=9 or shift=10 on case tests/kernel/lifo/lifo_usage/kernel.lifo.usage, I think the reason is that the frequency of the emulated CPU is too low, 2Mhz(2^9ns per instruction) or 1Mhz(2^10ns per instruction), and actually the frequency of mps2_an385 should be 25Mhz.
[code]
And Qemu in icount mode can give deterministic execution for guest code timeout if the frequency of the emu

[2019-08-12 03:29] wentongwu commented on #14173
another timing issue in Zephyr test case is that we use the delta between two point-in-time, for example case tests/kernel/timer/timer_api
[code]
and case tests/kernel/sched/schedule_api
[code]
And I don't think the time point in Qemu icount mode is accurate, even though the cases using delta between two time point are PASSED on most of the shift value, but I believe there should be deviation. So

[2019-08-12 06:54] menglingao1997 opened #18178 "BLE Mesh When Provisioning Use Input OOB Method"
**FUNCTION1**
https://github.com/zephyrproject-rtos/zephyr/blob/4524035bc8d5e8eb892bccc1ce9547b09e9c7f52/subsys/bluetooth/mesh/prov.c#L866-L907

**FUNCTION2**
https://github.com/zephyrproject-rtos/zephyr/blob/4524035bc8d5e8eb892bccc1ce9547b09e9c7f52/subsys/bluetooth/mesh/prov.c#L828-L864

According to the specification,device use input oob method when provisioning.Once input of the number has been

[2019-08-12 07:07] aescolar commented on #18178
CC @jhedberg

[2019-08-12 09:40] xuhao8210 opened #18181 "Some platforms(e.g. sam_e70_xplained) will be flashed failure if the platforms have not generated HEX file although they are built successfully."
**Describe the bug**
It is failure when flashing platform: sam_e70_xplained via command: ”west flash” because the platform: sam_e70_xplained don’t generate the HEX file after it is be built successfully, but the scripts: openocd: have used  hex file for flash command.(please refer the commit ID: b08adcdd7e7f9d8eef5b99f9e02e046d3d52c366)

**To Reproduce**
Steps to reproduce the behavior:
1.	One ser

[2019-08-12 10:21] MariuszSkamra opened #18183 "[zephyr 1.14][GATT/SR/GAS/BV-07-C] GATT Server does not inform change-unaware client about DB changes"
**Describe the bug**
The client that was once informed about GATT DB change is not informed when DB changes once more between connections.

Core Spec 5.1 | Vol 3, Part G, 2.5.2.1 Robust Caching
[code]

**To Reproduce**
Execute GATT/SR/GAS/BV-07-C. Steps to reproduce the behavior:
0. PTS implementation of this test case is wrong, CASE0058236 bug report was created. Reproduce this using 2 Zephyr boa

[2019-08-12 10:23] nvlsianpu commented on #16275
Was fixed by #16405

[2019-08-12 10:23] #16275 closed

[2019-08-12 10:24] ioannisg commented on #18183
Is this only a 1.14 bug, @MariuszSkamra ? Is it applicable for master?

[2019-08-12 10:25] nvlsianpu commented on #17031
Was fixed in #16078

[2019-08-12 10:25] #17031 closed

[2019-08-12 10:28] MariuszSkamra commented on #18183
@ioannisg I did not tested this against master. But it seems this could be applicable for master as well

[2019-08-12 10:35] nvlsianpu commented on #17300
I believe warning you have are fixed by https://github.com/zephyrproject-rtos/zephyr/pull/18158

[2019-08-12 10:42] jfischer-phytec-iot commented on #17965
Weird, I tried it on nrf52840_pca52840 and I get the same result if I flash it with `west flash -r jlink`:

[code]

But it works fine on reel board and nrf52840_pca10056 if I update the firmware using MSD support (e.g. pmount /dev/sdc; cp zephyr/zephyr.bin /media/sdc && pumount /dev/sdc):

[code]

[2019-08-12 11:03] carlescufi commented on #17965
@pizi-nordic could you take a look on our DevKit?

[2019-08-12 11:22] cszawisza commented on #17564
I think that I've got the same error couple of months ago... this solved the issue

[code]

Can somebody confirm?

[2019-08-12 11:41] pabigot commented on #17564
I can confirm that the problem goes away by making newlib headers not system headers, but given 7d2df83b5184b4566d43dd8a8d9abeb7c1d85694 was just merged I'm not convinced it's the right solution.  Presumably Zephyr and ARM do something different in builds that affects how system include files are handed.

[2019-08-12 11:47] MariuszSkamra opened #18188 "[zephyr 1.14] Re-enabling CCC gets broken when used along with Robust Caching"
**Describe the bug**
Zephyr Client that enabled Robust Caching and Subscribed for CCC Notifications may receive "ATT Out Of Sync" error while trying to re-enable indications after reconnection to bonded device. This breaks current implementation, because once Client receives an error on Write Request to CCC, it assumes it's unsubscribed.

**To Reproduce**
Steps to reproduce the behavior:
1. bond d

[2019-08-12 11:54] pfalcon commented on #18106
I'm glad there's some lively discussion here. Let me start with unassigning this from myself, as I don't think I can be a driver for this issue. Socket offloading was originally implemented by @GAnthony based on TI's usecase, so its maintenance might be inherited by @vanti. I'm happy to help in any way I can, but again, not drive it (unless assigned to that task by my team lead).

As pointed out b

[2019-08-12 12:24] SebastianBoe commented on #17564
Hi, I have proposed a solution to the related issue #15603 here: https://github.com/zephyrproject-rtos/zephyr/pull/18189

The PR is intended to also fix this issue (17564), but I've not been able to reproduce all the reports here, so I'm not certain that it does so.

[2019-08-12 14:10] MariuszSkamra opened #18194 "[zephyr 1.14][MESH/NODE/CFG/HBP/BV-05-C] Zephyr does not send Heartbeat message on friendship termination"
**Describe the bug**
Test case MESH/NODE/CFG/HBP/BV-05-C Lower Tester 1 requires Zephyr to send Heartbeat message once friendship was terminated with Lower Tester 2.

Mesh Profile 3.6.7.2 Publishing Heartbeat messages
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run MESH/NODE/CFG/HBP/BV-05-C test case

**Expected behavior**
Zephyr sends Heartbeat triggered by friendship termination

[2019-08-12 15:23] ydamigos commented on #18155
Hi @KwonTae-young,

could you please test with the latest master to check if the issue still exists?

[2019-08-12 15:42] #18171 closed

[2019-08-12 16:00] galak commented on #17787
Which SDK version are you using.  There's a fix in SDK 0.10.2 for this platform which should hopefully address the issue you are seeing.

[2019-08-12 16:55] ulfalizer commented on #18169
Personally, I'd add `-controller` where it's missing rather than remove it though. `!include interrupt-controller.yaml` is a lot clearer than `!include interrupt.yaml`.

[2019-08-12 18:47] pabigot commented on #14577
@andyross @carlescufi @nordic-krch Are there remaining concerns to be addressed here?  Since originally reported Nordic boards use 32768 ticks per sec, essentially selecting option 1.  The driver has also been significantly reworked.

[2019-08-12 18:57] pabigot commented on #12542
These issues appear to be resolved after various timer improvements in the last couple months.  pca10028 running my test application uses 32 KiHz ticks and no longer displays bursts of interrupts that do not correlated to application demands.

[2019-08-12 18:57] #12542 closed

[2019-08-12 19:33] b0661 commented on #18169
I think interrupt-controller is ok as the driver sub directory is also interrupt-controller.

I looked at https://github.com/devicetree-org/dt-schema/tree/master/schemas to see how it is done for Linux but here it is not consistent either.

What IMHO should be done is to keep

- the Zephyr driver header file names (e.g. drivers/gpio/gpio.h) and
- the Zephyr bindings header file names (e.g. dt-bind

[2019-08-12 20:16] pabigot opened #18198 "SDK 0.10.2 rv32m1_vega samples/subsys/logging/logger build fails"
This shows up in CI when modifying a file that triggers a test of this sample/platform, but is reproducible on master at a8b208aff77fddd4e02589ed00323a0921a7d77c with:

[code]
The result is:
[code]
It appears SDK 0.10.2 has a binutils patch for RISC-V to fix LUI relocation problems.  I don't see any newer patches, but this one may be missing a case.

[2019-08-12 20:26] carlescufi commented on #14577
@pabigot we are still observing increased latency when running the new controller on nRF51. The right person to answer the question you asked is @cvinayak, who has been benchmarking it.

[2019-08-12 21:08] mike-scott opened #18201 "bug: west flash with --hex-file param used to work w/o path specified"
**Describe the bug**
At some point during Zephyr v2.0 development, `west sign` moved the zephyr.signed.hex(.bin) into the build dir.  However, users jumping from v1.14 to v2.0 who use their old commands like:
`west flash -d build/lwm2m-nrf52840_pca10056 --hex-file zephyr.signed.hex` will be faced with very cryptic failures when `zephyr.signed.hex` is silently skipped because it's no longer present

[2019-08-12 21:09] mike-scott commented on #18201
@mbolivar I tossed together this quicky hack to "fix" the behavior to be like it was before:
[code]

But, 1) I'm not sure that's a good location for the checks, and 2) I'm not even sure this is the right fix.

[2019-08-12 21:11] Iotfabula opened #18202 "Disable Duplicate scan, no longer available"
Unable to disable duplicate scan filter, before latest commit ( Whitelist feature ), filter
could be disabled by declaring scan with BT_HCI_LE_SCAN_FILTER_DUP_DISABLE parameter, now
semantic changed, and this option no longer available

File affected:
include/bluetooth/bluetooth.h

**Expected behavior**
User should be enable disable duplicate filter, those enable to see every single BLE advertisem

[2019-08-12 21:12] mike-scott commented on #18201
Not sure if this should be tagged with "regression".  Bug is probably good enough.

[2019-08-12 21:32] camicarballo opened #18205 "tests/net/socket/udp fails when code coverage is enabled on qemu_x86"
This references #17323

This test fails when code coverage is enabled on qemu_x86 with a "CPU Page Fault" (see below)

[code]

This can be reproduced by running:
` ./scripts/sanitycheck --coverage -p qemu_x86 -T tests/net/ `

[code]

After running with gdb, it seems that the test fails on the function call in line 721 of tests/net/socket/udp/src/main.c

[2019-08-12 21:58] camicarballo opened #18207 "tests/bluetooth/hci_prop_evt fails with code coverage enabled in qemu_x86"
This references #17324

This test fails with code coverage enabled in qemu_x86 with a double fault (see below)

[code]

This can be reproduced by running
`./scripts/sanitycheck --coverage -p qemu_x86 -T tests/bluetooth/`

[code]

After running with gdb, it seems to be failing on line 339 of subsys/bluetooth/host/hci_core.c

[2019-08-12 22:16] pabigot commented on #17997
The following script can be used to detect situations where an `extern "C"` block contains additional `#include` directives.  The suite of patches in #18196 results in six remaining files that do this, mostly because they're including generated headers or the conditions for inclusion are more complex to refactor than is worth the effort.

[code]

[2019-08-12 22:31] andrewboie commented on #18207
This looks like it might be some kind of stack overflow.
Can you reproduce with mps2_an385 with --coverage?

[2019-08-12 22:33] andrewboie commented on #18205
Interesting that this doesn't fail when --coverage is not used.
Does this fail at all with mps2_an385?

[2019-08-13 01:19] andrewboie commented on #17324
setting this to low, this is an alternate configuration for code coverage metrics, the test does not fail when run under its original configuration.

[2019-08-13 01:24] rljordan commented on #15331
Is this still an issue?

[2019-08-13 01:25] rljordan commented on #12478
Can you please retest this?  Might be fixed.

[2019-08-13 01:29] andyross commented on #17584
Drop priority.  This is a real race, but it was found by inspection and has never been seen in the wild.

[2019-08-13 01:35] rljordan commented on #11743
Please update the status of this.  Will it be fixed for 2.0?

[2019-08-13 01:37] andrewboie commented on #16487
I don't think this should be high, only seen with QEMU which is known to have timing issues since we don't use icount

[2019-08-13 01:37] andyross commented on #16487
I'll take spurious bugs, regardless.  Drop to medium for now, will do another pass with a modified rig to rule out timing on tests like this again.

[2019-08-13 07:20] aescolar commented on #18202
CC @jhedberg

[2019-08-13 08:45] abrodkin commented on #16661
@vonhust I guess we may mark "ARC: Add support for Inter-Core Interrupt Unit (ICI)" as done as well.
We do have implementation of `z_arch_sched_ipi()`/`sched_ipi_handler()` in https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/arc/core/arc_connect.c or something extra is still needed?

[2019-08-13 08:52] rveerama1 opened #18212 "README file missing for civetweb sample"
README file missing in samples/net/sockets/civetweb/.

[2019-08-13 08:53] simonmarti commented on #17564
@cszawisza Thanks, the change fixes the problem for my environment.

@SebastianBoe I tested the change proposed in #18189 with my environment, but it does not solve the issue. The error message is still the same.

The environment I used for the test:
* OS: Windows 10 1903
* Toolchain: GNU ARM Embedded 7-2018-q2-update / 8-2019-q3-update
* Zephyr: v2.0.0.0-rc1

[2019-08-13 09:35] carlescufi commented on #16797
@gon1332 please do check this again since both v1.14-branch and master have moved quite a bit. If you can't reproduce please close the issue.

[2019-08-13 10:51] pabigot commented on #17564
Based on this and other investigations I think a solution based on @cszawisza's patch is the right way forward, but it requires additional changes to reverse #15627 and re-solve that change's issue another way.  @SebastianBoe I can take that on unless you want to handle it.

[2019-08-13 10:56] SebastianBoe commented on #17564
Hi,

please do take this off my hands, I've haven't made much progress.

[2019-08-13 11:34] pizi-nordic commented on #17838
@wentongwu: Hi. I apologize for the delay. I already looked at your PR.

[2019-08-13 12:01] KwonTae-young commented on #18155
@ydamigos
I will test and share the results as soon as possible.

[2019-08-13 12:04] #17630 closed

[2019-08-13 12:15] #16989 closed

[2019-08-13 12:21] SebastianBoe commented on #16791
We preprocess the DTS. So this could perhaps be solved by having gcc generate dependency information, and then have reconfiguring cmake depend on this dependency information.

[2019-08-13 12:30] SebastianBoe commented on #16426
Yes, we want this.

But I don't see the value in having an open issue tracking this, because even if we were able to achieve this for all headers, we wouldn't be able to prove it, or to enforce that all headers would stay compliant.

So I'm closing this.

Thank you for the good description of why includes should be organized like this, it will prove useful in code review.

[2019-08-13 12:30] #16426 closed

[2019-08-13 12:31] mnkp commented on #17630
I believe we need to rework the whole start up code related to clock configuration. We've recently introduced DTS `clock-frequency` property of CPU node. We should also move the definition of HFXO, HFRCO clocks to DTS (i.e. remove CONFIG_CMU_HFXO_FREQ Kconfig property) and then make sure that the start up code configures CPU clock as defined in DTS. This should happen regardless of which clock sou

[2019-08-13 12:32] nvlsianpu commented on #16035
@ntavish Can you propose a fix for this bug?

[2019-08-13 12:43] #18131 closed

[2019-08-13 12:54] jhedberg commented on #17821
The timer will be reset through the `publish_sent()` callback in `access.c` which gets called when the PDU has been transmitted. Is this again a GATT-related issue? In that case `bt_mesh_net_send()` calls the callback synchronously, meaning the branch you've mentioned above would indeed cancel this. That said, why would you be using retransmissions for GATT? That doesn't make sense to me.

[2019-08-13 12:58] pizi-nordic commented on #17965
I reproduced that bug on nrf52840_pca10056. I will look at it tomorrow.

[2019-08-13 13:03] jhedberg commented on #17821
That said, the call to `k_delayed_work_cancel()` does look redundant to me - perhaps it was needed before but some refactoring eliminated the need for it. I'm still looking through the code to verify this.

[2019-08-13 13:26] SebastianBoe commented on #15603
The reporter has not enabled CONFIG_NEWLIB_LIBC.

To use the C++ standard library the CONFIG_LIB_CPLUSPLUS must be enabled. And to enable CONFIG_LIB_CPLUSPLUS, the CONFIG_NEWLIB_LIBC option must be enabled. A dependency that enforces this is now added in https://github.com/zephyrproject-rtos/zephyr/pull/18224

[2019-08-13 13:36] szawasky commented on #17787
I've been using 0.10.0 and 0.10.1. I will see if 0.10.2 helps, thanks!

[2019-08-13 13:39] mnkp commented on #17300
To fix the warnings in 1.14 branch it may be better to backport #15925. I haven't tested this approach.

[2019-08-13 13:55] nvlsianpu commented on #17608
@PhilippFinke

I can quote myself:
From: https://docs.zephyrproject.org/latest/samples/subsys/mgmt/mcumgr/smp_svr/README.html?highlight=smp_svr

Please call mcumgr with `-t 20`, which should solve issue you observed.

Does this help you?

[2019-08-13 13:57] erwango commented on #18143
@likeaferrari, can you provide the following, so I can have a try on my end in same conditions?
- code you're using on master side
- SHA1 (code changes quickly these days)
- pin settings

[2019-08-13 14:07] MaureenHelm commented on #17967
Hi @chen-png , please have a look at #18203 and confirm if it fixes the issue for you.

[2019-08-13 14:33] #17967 closed

[2019-08-13 14:40] galak commented on #18118
Can you try this again with the latest SDK (0.10.2) we pulled in a number of QEMU RISC-V fixes and the 'echo' test appears to work for me with it.

[2019-08-13 14:50] SebastianBoe commented on #2994
This issue has been fixed, it is not clear when it was fixed.

[2019-08-13 14:50] #2994 closed

[2019-08-13 14:50] erwango opened #18228 "stm32h747i_disco: Fix SYS_CLOCK_TICKS_PER_SEC"
**Describe the bug**
stm32h747i_disco was under review when https://github.com/zephyrproject-rtos/zephyr/pull/16782 got merged.
As a consequence it is using old default tick rate. This should be fixed.

[2019-08-13 15:09] jhedberg commented on #18005
I don't see a bug here. `frnd->clear.start` is the timestamp when the procedure was started, i.e. it should be initialised to `k_uptime_get_32()`. Am I misunderstanding something, or are you? 😄

[2019-08-13 15:12] endian-benjamin opened #18231 "MCUBoot not cleaning up properly before booting Zephyr?"
If you enable UART or RTT logging in MCUBoot, it seems these won't be uninitialized after booting to Zephyr, at least on nRF52.

Steps to reproduce the behavior:
1. Build a sample for nRF52 that implements proper power management (suspending all UARTs etc) and flash it "as usual" i.e. at offset `0x00` with bootloader disabled
2. Observe that power consumption is expectedly low when UARTs are disab

[2019-08-13 15:27] alexanderwachter opened #18232 "drivers: can: mcux: TX callback and can_detach don't work propperly"
**Describe the bug**
The TX callback is never called.
When attaching and detaching a filter, the first mailbox is still busy.
This results in an error condition when attaching a new filter.

**Expected behavior**
The TX callback must be called when the frame is sent.
A filter attach -> detach -> attach -> detach ... should be possible.

**Impact**
MCUX driver does not work as expected

[2019-08-13 15:40] b0661 commented on #18143
You are transmitting at 25 MHz.
[code]

Are you shure your system is fast enough to handle that? Try with a lower frequency. It looks like the Tx data reload is to slow.

[2019-08-13 17:25] ioannisg commented on #18231
Requires some investigation - @nvlsianpu could you help here?

[2019-08-13 17:32] ioannisg commented on #18188
@MariuszSkamra @Vudentz is this bug in master branch as well?

[2019-08-13 17:33] ioannisg commented on #18188
Bug in a new feature (not regression) in a configuration not enabled by default

[2019-08-13 17:37] galak commented on #18157
Can you try and reproduce with nucleo_f412zg.

I tried adding:

[code]

but didn't see any issue if I built hello_world sample

[2019-08-13 18:23] #18228 closed

[2019-08-13 18:29] ioannisg commented on #17997
@pabigot @carlescufi can this issue be closed now?

[2019-08-13 18:36] camicarballo commented on #18207
This test does not fail with coverage enabled on mps2_an385

[2019-08-13 18:39] camicarballo commented on #18205
It does, in fact, fail with mps2_an385 when --coverage is used

[code]

[2019-08-13 18:42] pabigot commented on #17997
@ioannisg no, there are another ~15 patches in #18196 that need to be pulled out into targeted PRs that won't request the entire world to review them.  I'll close this when it's all done.

[2019-08-13 19:02] jukkar commented on #18205
This also failed with native_posix which made it easy to figure out the culprit when running with valgrind.

[2019-08-13 19:58] andrewboie commented on #11743
If this can wait until 2.1, and we can agree this is an enhancement / new functionality, then I'm willing to do it.

[2019-08-13 20:39] andrewboie commented on #16915
[code]

This seems to be the culprit. The check is here:

[code]

I think there is some issue on how z_is_in_isr() is implemented in xtensa.

[2019-08-13 21:03] mike-scott opened #18238 "drivers/modem/modem_socket: modem_socket_put() sock_fd parameter not handled correctly"
**Describe the bug**
modem_socket_put() originally took an index as a parameter and was later swapped to sock_fd as the reference.  This leads to invalid checks on the fd which will probably result in orphaned sockets.

**To Reproduce**
Difficult to reproduce without running a sample on the SARA R4 modem where you open and close quite a few sockets.

**Expected behavior**
modem_socket_put() should

[2019-08-13 22:06] andrewboie commented on #16915
I'm currently unable to reproduce this issue with the current master branch, even on a heavily loaded system.

[2019-08-13 22:18] andrewboie commented on #16915
[code]

This is the code that increments/decrements nested.
AFAICT, interrupts are NOT masked on the way out, after CROSS_STACK_CALL, when the nest count is decremented, despite the fact that this decrement operation is not atomic, which could plausibly explain what's happening if we get a nested IRQ at the wrong time.

[2019-08-14 03:02] xiaoliang314 commented on #17789
@jhedberg Can you pay attention to this issue?

[2019-08-14 03:03] #17936 closed

[2019-08-14 03:35] galak opened #18246 "Build failures with current tree"
We have the following build failures:

[code]

[2019-08-14 03:38] galak commented on #18246
The majority of these are code or memory size issues.

The rv32m1_vega_ri5cy is reported in #18198

the nucleo_l4r5zi is a compile error:

[code]

[2019-08-14 06:05] jhedberg commented on #17789
@xiaoliang314 this looks like a trivial thing to fix. Would you like to try submitting a pull request for it? FWIW, I've just returned from vacation and going through my backlog - this one didn't show up on my list since it's not assigned to me.

[2019-08-14 06:15] #18205 closed

[2019-08-14 06:49] #18232 closed

[2019-08-14 07:22] likeaferrari commented on #18143
@erwango Hello. I cannot access my develop environment until next Monday, but I'll tell you requested things as soon as i come back.

@b0661 That was what I focused at first time.  I tested almost every 1Mhz of both side. of course there was some differences when frequency changed, but I could not reach to ideal result.

[2019-08-14 07:33] joerchan commented on #18202
The option is still there. If no filtering on scan is needed assign `filter_dup` to `0`
[code]
BTMON:
[code]

[2019-08-14 07:36] nvlsianpu commented on #18231
@endian-benjamin Thanks for reporting this problem!

I believe that proper place for report such issue is [mcuboot repo](https://github.com/JuulLabs-OSS/mcuboot/issues/new) - this is mcuboot issue.

as far i can tell there is no serial de-initialization before the  application call in mcuboot - so this is the issue. Also zephyr doesn't help MCUBoot much - real device power management is not availa

[2019-08-14 07:36] #18231 closed

[2019-08-14 07:38] nvlsianpu commented on #18231
In  bootstrapped zephyr application you can try to reinitialize UART which should be kind of a workaround for this problem.

[2019-08-14 07:56] joerchan commented on #17920
@pdunaj Yes that seems correct.
I noticed it even gets two different security levels based on where the pairing failure happens.

See attached picture.
Both devices receives pairing failed.
One device receives security changed level 2.
One device receives security changed level 4.

![Screenshot from 2019-08-08 16-27-45](https://user-images.githubusercontent.com/1413276/63003895-7bde5780-be79-11e9-

[2019-08-14 08:03] gon1332 commented on #16797
Well,

With MCUboot@master (ceb43f5f98951461407307640fc8867ee485a287):

- Zephyr@master (): OK
- Zephyr@v1.14.1-rc1 & v1.14-branch (5b8488a936): Build failing with:
[code]

After resolving the compiler error and building successfully on v1.14-branch, the bootloader still  results in Hardware exception:
[code]

[2019-08-14 08:17] SebastianBoe commented on #12490
The question has been answered so I want to label this as an enhancement.

[2019-08-14 08:19] SebastianBoe commented on #10603
This TODO is now done.

[2019-08-14 08:19] #10603 closed

[2019-08-14 08:26] endian-benjamin commented on #18231
@nvlsianpu Uniting UART before initing sounds robust enough, but I'm not sure I agree this is more suitable for the mcuboot repo - since one of the primary (THE primary?) design goals of mcuboot is to minimize surface area for bugs by being as dumb and static as possible, I'd suspect they'd say this is better done by the bootstrapped application (I'm inclined to agree).

[2019-08-14 09:01] #18238 closed

[2019-08-14 09:02] nvlsianpu commented on #18231
Actually I'm one of mcuboot maintainer - I can said that this should be done by mcuboot - we had similar issues for USB for instance and now it is disabled by MCUBoot itself.

[2019-08-14 09:13] b0661 commented on #18143
I was running SPI in interrupt mode and had interferences of other interrupts (e.g. logging on RS232) resulting in data loss. I had to switch down to 187500 Hz (the lowest possible frequency for my configuration) to get a long time reliable data exchange in my test configuration (Raspi, Linux, SPI master -> Nucleo-F091RC, Zephyr, SPI slave). For byte transfers this resulted in an interrupt every ~

[2019-08-14 09:26] rveerama1 opened #18253 "Network samples echo_client doesn't work if only IPv4 enabled."
echo_client sample against echo-server running on Linux host doesn't work if only IPv4 enabled.

Disable IPv6 in prj.conf and run sample with qemu_x86 and echo-server in Linux host.

SeaBIOS (version 1.12.0-1)
Booting from ROM..Optimal CONFIG_X86_MMU_PAGE_POOL_PAGES 9
***** Booting Zephyr OS build v2.0.0-rc1-11-gdc7594836b2c *****

[00:00:00.020,000] <inf> net_config: Initializing network
[00:00:0

[2019-08-14 09:30] wentongwu commented on #17838
@pizi-nordic no problem, thanks for the review.

[2019-08-14 09:49] chen-png commented on #17967
OK, the PR#18203 has fixed this issue and the tests/drivres/pwm/pwm_api test run successfully on frdm_k64f board now. Thanks.

[2019-08-14 10:04] #17789 closed

[2019-08-14 10:05] meuter commented on #8439
As a newcomer to zephyr, I can attest that the whole wrapper macro thing is very frustrating.
CMake is arguably difficult to master, but once you do, it gives you a lot of flexibility. Having to learn an extra domain specific language on top of that feels redundant IMHO. I would suggest to stick with vanilla cmake and only supplement where it make sense.

[2019-08-14 10:31] #18253 closed

[2019-08-14 10:50] jukkar opened #18258 "sys_get_be64() is missing from sys/byteorder.h"
**Describe the bug**
There exists `sys_get_le64()` but nothing for big-endian version.

[2019-08-14 10:52] mped-oticon commented on #8439
@meuter I agree, but CMake adheres to an opinionated I-will-deduce-everything-for-you mentality that collides with the nitty-gritty specifics required to build an OS. So I see the reason for why things are the way they are. Add to that, the need to support multiple wildly-different toolchains...

If you see improvements, feel free to send a Request-For-Comments pull request.

[2019-08-14 10:53] jhedberg commented on #18090
Ok, this is kind of annoying and something I'd consider raising an errata. The implementation does reserve some extra buffers, and reserves this amount for as many LPNs as it's configured to support. This means that it will be able often queue more than it promised. When ultimately the buffers run out there's a mechanism to go discard buffers from the existing queues, ensuring that we can always s

[2019-08-14 11:04] joerchan commented on #17920
@jhedberg @Vudentz @pdunaj
Seems that there are these issues regarding security_changed (I'm including #17013 and it's PR in this).

Issue: Pairing failed callback with security_changed security level 2
---
Receive Encryption change event with encryption success, but failed to allocate key storage (because PAIR_MAX has been reached).
Gives pairing failed after security_changed callback with encryp

[2019-08-14 11:14] joerchan commented on #18048
This seems to me to imply that the there can only be one bond for a peripheral device. So this might be from the time where there was only allowed to have one peripheral connection.
Also this test belongs in the privacy 1.0 category, we should run 1.2.x privacy test cases.

I see no reason to demand authentication with an unresolved peer, it's up to the application if authentication is required fo

[2019-08-14 11:20] meuter commented on #8439
@mped-oticon I can very well understand the kind of details and complexity you're talking about and indeed it's bit of a culture clash. However, I think a more "transparent" approach would be easier to grasp. Currently the zephyr_xxx() and zephyr_library_xxx() macros are just trying to hide some of the complexity and are not really adding much to what cmake offers out of the box.

Another advantag

[2019-08-14 11:34] jhedberg commented on #17920
@joerchan these all sound good to me. I'd be curious if these are in line with how other stacks, e.g. SoftDevice, behave. In particular the decision to disconnect the link has me thinking a bit, since that impacts all service level connections on top of the link, regardless of their security requirements - IIRC with BlueZ only the L2CAP socket that requested the higher level security will get a fa

[2019-08-14 12:48] #18194 closed

[2019-08-14 12:49] #15119 closed

[2019-08-14 12:50] #17907 closed

[2019-08-14 12:51] #18013 closed

[2019-08-14 12:51] #17932 closed

[2019-08-14 12:54] jhedberg commented on #18005
Closing this since the current code looks correct to me. I think you might have confused frnd->clear.start being a timeout/timer when in fact it's just a timestamp that's used later to determine if enough time has passed. @trond-snekvik FYI

[2019-08-14 12:54] #18005 closed

[2019-08-14 12:56] #17821 closed

[2019-08-14 12:59] pizi-nordic opened #18261 "CONFIG_TIMESLICING=n breaks kernel"
Disabling time-slicing (which is enabled default) results in crashing threads.

**How to Reproduce:**

Example 1:
  1. $ cmake -GNinja -DBOARD=nrf52840_pca10056 ~/repos/zephyr/samples/hello_world/
  2. $ ninja flash
[code]
  3. $ sed -i 's/CONFIG_TIMESLICING=y/# CONFIG_TIMESLICING is not set/' zephyr/.config
  4. $ ninja flash
[code]
Example 2:
  1. $ cmake -GNinja -DBOARD=nrf52840_pca10056 ~/repo

[2019-08-14 13:16] joerchan commented on #17920
@jhedberg With the SoftDevice it seems I get the same behaviour for the case where peer sends Pairing failed during key dist phase.
[code]

By doing the first points 2 we should avoid getting into the situation for 3 and 4. If 3 still happens then I would think that is an implementation error. Maybe assert in this case?
If point 4 happens then I would think that is an implementation error of the p

[2019-08-14 13:19] joerchan commented on #18019
This happens because `bt init` has not been called.
So `ctx_shell` in `found_device` callback has not been initialized, this causes a memory bug in `shell_print(ctx_shell, ...)`

[2019-08-14 14:00] StefJar opened #18263 "flash sector erase fails on stm32f412"
I running my zephyr based firmware. Before it is run a boot loader selects the firmware image. This bootloader sets the FLASH_OPTCR register. All sectors are disabled for writing(erasing).

using ```flash_write_protection_set``` function doesn't fail when enabling writing - but after ```flash_erase``` fails because of the FLASH_OPTCR bootloader preset.

The current problem with the stm32 flash dri

[2019-08-14 14:03] ioannisg commented on #18263
@erwango could you take over this, or re-assign if needed?

[2019-08-14 14:04] ioannisg commented on #18263
@StefJar could you send up a PR if you already have a fix for that?

[2019-08-14 14:06] pabigot commented on #15603
It is true that `CONFIG_NEWLIB_LIBC` is necessary, however, the problem description indicates that the `gnumarmemb` toolchain is also involved, so #17564 then triggers.  A backport of the patch to newlib from #18242 is required to fully solve the problem.

[2019-08-14 14:21] jhedberg commented on #18090
Anyway, I can fix this fairly easily by removing the buffer discarding. The code is already keeping track of how many messages are in each queue. However, the more reasonable test spec requirement would be to test that the Friend can queue as many messages as it promises, but is allowed to queue more if it's able to.

[2019-08-14 14:21] jhedberg commented on #18090
@trond-snekvik FYI

[2019-08-14 14:24] jhedberg commented on #18090
@MariuszSkamra what's the value of `CONFIG_BT_MESH_FRIEND_LPN_COUNT` for the tester you're using? It seems it's more than one since otherwise the queue could contain only one extra message:
[code]

[2019-08-14 14:27] #17977 closed

[2019-08-14 14:36] StefJar commented on #18263
This fix only addresses the stm32f4 part of the stm32 flash driver. Think @erwango needs to check the other stm MCUs.

[2019-08-14 14:58] erwango commented on #18263
@StefJar, well is that a bug actually? This should rather be an enhancement.
STM32 flash driver doesn't handle flash option control register. If your bootloader modifies it, well, it won't work indeed, but this is true for lot of other option bytes that are not handled by driver.

[2019-08-14 15:26] nashif commented on #5529
@pabigot we should close this I guess :)

[2019-08-14 15:31] Vudentz commented on #18188
We don't support robust caching, or any caching, as GATT client so I wonder what is going one here?

[2019-08-14 15:33] chenguokai opened #18269 "Documentation improvement for macOS"
**Describe the bug**

At least for MacPorts users, with a clean environment, the Host Dependencies part is incomplete. Without Rust and cargo, Install Python Dependencies step will fail for lack of cargo.

**To Reproduce**
Steps to reproduce the behavior:

1. Follow the Getting started guide until the pip dependencies part
2. get the error

**Expected behavior**
It should build without any error

[2019-08-14 15:44] Vudentz commented on #17983
So what data is being exchanged? If there are notifications/indications that don't require security that should be fine, or there is something else going on?

[2019-08-14 16:03] pabigot commented on #5529
Done in #17749.

[2019-08-14 16:03] #5529 closed

[2019-08-14 16:16] aescolar commented on #18269
@chenguokai  . Thanks for the bug report. Would you like to submit a pull request with a proposal of the fixes to the documentation?

[2019-08-14 16:21] andyross commented on #18261
Is this on nrf only?  I can't make this fail via the sanitycheck platforms.

[2019-08-14 17:11] #16915 closed

[2019-08-14 17:50] albertofloyd commented on #17778
@tbursztyka can we close this?

[2019-08-14 18:35] jfischer-phytec-iot commented on #17965
update: the test passes as long the debug probe is connected to the target, to reproduce on reel board, execute `pyocd commander -t nrf52840`, and press reset button or `set nreset 0; set nreset 1`.

[2019-08-14 18:57] andrewboie opened #18272 "xtensa ASM2 has no support for dynamic interrupts"
We have no support for irq_connect_dynamic() in Xtensa ASM2.
Implement this using sw_isr_table, and ensure validation tests are enabled.

[2019-08-14 19:48] andrewboie opened #18273 "RFC: list required / optional arch features and clarify policy"
We need to identify optional arch features and decide which ones are truly required for acceptance in the tree.

First thing, let's try to put together a list of all these configs or kernel features which may (at least in some cases) require support in arch/ code. This is what I came up with so far, please amend as necessary:

- CONFIG_HAS_DTS
- CONFIG_HW_STACK_PROTECTION
- CONFIG_USERSPACE
- CONF

[2019-08-14 19:49] carlescufi commented on #18269
@chenguokai I have never installed `cmsis-package-manager` or Rust or cargo on my macOS machine and build Zephyr every day. Macports is not supported officially, only Homebrew, so this is not a bug but rather an improvement

[2019-08-14 19:52] carlescufi commented on #18269
Just double-checked that, with Homebrew's Python no Rust is required at all:

[code]

[2019-08-14 21:20] andrewboie opened #18276 "irq_connect_dynamic() is not tested on all arches"
We have very little coverage of installing dynamic interrupts in test cases.

Even though gen_isr_tables.py is used on multiple arches, the test case for it is running only on ARM for some reason:

[code]
Because of this, bugs like #18272 crept in.

We need to test dynamic IRQs on all arches that support it to show that they work.

[2019-08-14 21:58] lucaspeixotot commented on #18263
@StefJar the bootloader that you are using is the mcuboot? I'm having a similar problem when I swap images between slot0 and slot1 with mcuboot. My board is nucleo_f091rc. My error is a HARD FAULT like the one below:

[code]
I realized that my problem is when the mcuboot calls the flash_write_protection_set function that is inside both flash_area_erase and flash_area_write functions.

I created a

[2019-08-14 22:55] wentongwu commented on #12478
With 12 hours stress test, can’t reproduce.

[2019-08-14 23:04] #17547 closed

[2019-08-14 23:08] #16010 closed

[2019-08-14 23:11] galak commented on #18198
Being worked on here:

https://github.com/riscv/riscv-binutils-gdb/issues/173

[2019-08-14 23:16] andyross commented on #17897
Updating for posterity: this is a @scottwcpg bug, but alas we can't assign it to him because he's not administratively added to the  github project yet.

[2019-08-14 23:17] andyross commented on #16707
Any update?  I'm still confused about what the problem is here and what you expect should be happening.  And the code as it is appears to be specific to galileo, so I can't run it to experiment myself.

[2019-08-14 23:18] rljordan commented on #12478
Anas can we close this?

[2019-08-14 23:19] galak commented on #16587
@nashif Are these fixed now?

[2019-08-14 23:31] rljordan commented on #18263
Priority?

[2019-08-14 23:37] andrewboie commented on #11743
I'm told this has to be considered a bug for 2.0 for now

[2019-08-14 23:39] rljordan commented on #11743
Anas noted that this is a bug.  Is it possible to have it fixed in the 2.0 time frame?  We have internal users that want this to work in User mode.

[2019-08-15 02:18] hakehuang opened #18280 "tests/drivers/adc/adc_api fails on frdmkl25z"
**Describe the bug**
test_adc_sample_with_interval fails

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_kl25z ..
3. make
4. See error

**Expected behavior**
ALL cases PASS

**Impact**
interval adc sample error

**Screenshots or console output**
[code]

[2019-08-15 02:19] hakehuang commented on #18280
@MaureenHelm

[2019-08-15 02:24] hakehuang opened #18281 "tests/kernel/mem_protect/protection fails on LPC54114_m4"
**Describe the bug**
exec_data, exec_heap, exec_stack does not trigger protection

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso54114_m4 ..
3. make
4. See error

**Expected behavior**
All PASS

**Impact**
protection features are not fully supported

**Screenshots or console output**
[code]
**Environment (please complete the following informa

[2019-08-15 02:25] hakehuang commented on #18281
@MaureenHelm

[2019-08-15 02:26] chenguokai commented on #18269
Maybe there are some differences between the python3 installed with MacPorts and Homebrew. I will try to make a pull request adding a comment for this.

[2019-08-15 02:33] hakehuang opened #18282 "tests/kernel/sched/schedule_api/ fails on LPC54114_m4"
**Describe the bug**
test_slice_scheduling fails

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=LPC54114_M4 ..
3. make
4. See error

**Expected behavior**
PASS

**Impact**
slice_scheduling

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain (e.g Zephyr SDK, ...)
 - R2.0.0-rc1

[2019-08-15 02:34] hakehuang commented on #18282
@MaureenHelm

[2019-08-15 02:39] hakehuang opened #18283 "tests/crypto/tinycrypt_hmac_prng and tests/crypto/mbedtls and tests/posix/fs build failure on mimxrt1015_evk"
**Describe the bug**
build reports size issue

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1015_evk ..
3. make
4. See error

**Expected behavior**
PASS

**Impact**
tinycrypt

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux, MacOS, Windows)
 - Toolchain (e.g Zephyr SDK, ..

[2019-08-15 02:41] hakehuang commented on #18283
@MaureenHelm

[2019-08-15 02:43] hakehuang commented on #18283
build log for tests/posix/fs

[code]

[2019-08-15 02:45] hakehuang commented on #18283
this is the log for tests/crypto/mbedtls

[code]

[2019-08-15 02:51] hakehuang opened #18284 "tests/kernel/fp_sharing/float_disable and tests/kernel/mutex/mutex_api and tests/kernel/sleep fails on twr_ke18f"
**Describe the bug**
meet same memory region issue with user mode enalbed

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f ..
3. make
4. See error

**Expected behavior**
PASS

**Impact**
float point usage

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - OS: (e.g. Linux, MacOS, Windows)
 -

[2019-08-15 02:51] hakehuang commented on #18284
@MaureenHelm

[2019-08-15 02:56] vonhust commented on #17755
It's a kind of optimization. It won't corrupt the system, but a waste of memory. Lower its priority. plan to have a fix in 2.1 release

[2019-08-15 03:14] menglingao1997 commented on #17907
@jhedberg Thank you very much for your contribution to the open source community.
I have a question that there is a not need to do memory release here.
https://github.com/zephyrproject-rtos/zephyr/blob/70640334730b816c8c485d2cfbe77119fc3783cb/subsys/bluetooth/mesh/net.c#L736-L792
[code]
memory release is automatically performed when the appropriate response packet is received.
https://github.com/z

[2019-08-15 05:22] jhedberg commented on #17907
@menglingao1997 I don't see any net_buf unrefs in the transport.c code you quoted. Either way, note that we're talking about a reference count here, not explicitly freeing the memory. The advertising queue owns a reference to each net_buf that's in the queue, so once a buffer has been removed from the queue it's the responsibility of adv.c to release that reference by eventually calling net_buf_un

[2019-08-15 05:24] jhedberg commented on #17907
@menglingao1997 ah, I had to scroll down on your quote to see the net_buf_unref, I guess you were referring to this:
[code]

The tx->seg[i] is its own reference to the buffer. Both the advertising queue reference and this one need to get a net_buf_unref() call.

[2019-08-15 05:27] jhedberg commented on #17907
@menglingao1997 the tx->seg[i] in transport.c gets its own reference here: https://github.com/zephyrproject-rtos/zephyr/blob/70640334730b816c8c485d2cfbe77119fc3783cb/subsys/bluetooth/mesh/transport.c#L407

[2019-08-15 05:29] jhedberg commented on #17907
@menglingao1997 sorry, I thought you were talking about the adv.c change, but I see you were referencing the net.c change to the resend() function. Let me take another look.

[2019-08-15 05:32] jhedberg commented on #17907
@menglingao1997 yes, you're right - `bt_mesh_adv_send()` calls `net_buf_ref()` so doing the `unref()` in `resend()` is not consistent and will cause an imbalance in the reference count. Thanks for pointing this out, and sorry for my initial confusion with what you were trying to explain 😄

There is also another issue - I'm afraid if there are callbacks provided by the sending code those will not b

[2019-08-15 05:35] tbursztyka commented on #17778
yes your patch fixed the issue

[2019-08-15 05:35] #17778 closed

[2019-08-15 05:37] jhedberg commented on #17907
Actually this is fine, since this is just a resend of a segment. transport.c will take of the callbacks once the segment sending procedure is complete.

[2019-08-15 05:43] jhedberg commented on #17907
Correcting myself again: it's not fine, transport.c relies on callbacks for each segment resend as well. I'll address this in a subsequent PR.

[2019-08-15 06:06] jhedberg commented on #17907
@menglingao1997 please take a look at #18285 which tries to address the issue you brought up.

[2019-08-15 06:37] aescolar commented on #18276
@andrewboie @rljordan : Given how our release process is, issues related to something not yet being implemented/not yet tested cannot be classified as a bug. Otherwise we would just block all our future releases.
This is independent of how important or relevant the issue is, or how much we would like it to be fixed.
So, I relabel it as an enhancement.

[2019-08-15 06:52] jukkar commented on #16587
Regarding my fix proposal for networking at #16587, that PR is working but the changes are not that great and we can do better. @ozhuraki has been investigating this and he will send a new and more sane version.

[2019-08-15 07:49] joerchan commented on #18202
Since BT_HCI_LE_SCAN_FILTER_DUP_DISABLE = 0x00 this option can still be used as well.

[2019-08-15 07:49] #18202 closed

[2019-08-15 07:54] joerchan commented on #18048
Closing because this is old privacy behavior.

[2019-08-15 07:54] #18048 closed

[2019-08-15 08:29] aescolar commented on #18273
One side comment here: I think it would be more constructive to think it as: What features should have more focus on their documentation, and having a clear API, and appropriate tests, to ensure whoever wants to contribute them, can implement it with a reasonable effort.

[2019-08-15 08:34] carlescufi commented on #18019
Closing since it's the user's responsibility to call `bt_init()`

[2019-08-15 08:34] #18019 closed

[2019-08-15 08:36] chen-png opened #18292 "tests/net/lib/dns_addremove failed on frdm_k64f board."
**Describe the bug**
When running tests/net/lib/dns_addremove on frdm_k64f board, it met a "BUS FAULT" error.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=frdm_k64f  tests/net/lib/dns_addremove
2. west flash

**Screenshots or console output**
![image](https://user-images.githubusercontent.com/52983984/63082779-b5968780-bf79-11e9-97f2-2c1452385436.png)

**Environment (please

[2019-08-15 08:44] carlescufi commented on #18261
This is not an issue actually @pizi-nordic. You can't just edit the `.config` file, you need to let Kconfig figure out the dependencies.

I edit the `prj.conf` for both `samples/hello_world` and `tests/kernel/sleep` and added a `CONFIG_TIMESLICING=n` and everything works fine.

[2019-08-15 08:50] carlescufi commented on #18269
Thanks for that @chenguokai. Look forward to reviewing your Pull Request.

[2019-08-15 09:03] StefJar commented on #18263
@lucaspeixotot I don't use mcuboot. I have a "beautiful" in company written legacy bootloader that I need to deal with.
I didn't check MCUboot, but I guess it has a flash driver as well. Maybe you need to patch this driver. Check f091 datasheet. I am not sure, if my f412 solution works for that.

[2019-08-15 09:32] carlescufi commented on #18246
@ioannisg I took a look at the last two failures with Nordic boards and `tests/kernel/mutex/sys_mutex/sys.mutex`. I am not sure whether the right fix is to restrict that test to platforms with at least 32KB of RAM or reduce the ISR stack size from 2048 to 1024 or similar.

[2019-08-15 09:48] carlescufi commented on #18246
I have created #18295 to fix this by requiring 32KB of RAM which made sense to me.

[2019-08-15 09:50] #18150 closed

[2019-08-15 09:55] cedricbois opened #18297 "Bluetooth: SMP: Pairing issues"
**Describe the bug**
When connecting, pairing and disconnecting with a peripheral, several times in a row, after some connections the pairing does fail.

The failure does happen on hardware (two nrf52840-DK) and in babbelsim simulation.
On babbelsim the thrown error is : SMP Timeout.
On the two nrf52840-DK the error is: the pairing_failed callback is triggered.

**To Reproduce**
Steps to reproduce

[2019-08-15 09:55] dallonby opened #18298 "Unable to build mesh-demo for BBC micro:bit"
---
name: Unable to build mesh-demo for BBC micro:bit
about: SRAM exceeded by 64 bytes
labels: bug
---
**Bug**
Using both the GNU gcc toolchain, and the Zephyr 0.10.2 SDK, attempting to build this firmware fails with the following:
[code]

Tested using both Ninja and make.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=bbc_microbit ..
3. make
4. See er

[2019-08-15 10:21] carlescufi commented on #18298
@dallonby see https://github.com/zephyrproject-rtos/zephyr/pull/18294

[2019-08-15 10:32] carlescufi commented on #17608
@PhilippFinke is this still an issue, even with the comment above? If not please close this. Thanks!

[2019-08-15 10:34] carlescufi commented on #16797
The issue here is that MCUboot master may not work anymore with v1.14-branch. Maybe @nvlsianpu can help you figure out which version of MCUboot will work with v1.14. We are working towards adding MCUboot as a west project so that this uncertainty in versions is eliminated.

[2019-08-15 10:34] dallonby commented on #18298
thanks, confirmed fixed.

[2019-08-15 10:56] carlescufi commented on #15246
This typically happens only if you already have a build folder that has found a system-wide DT. The solution is to completely remove the build folder and run CMake again. This has been confirmed several times, so closing this unless @yenWu still sees the issue even after removing the full build folder.

[2019-08-15 10:57] #15246 closed

[2019-08-15 11:15] carlescufi commented on #9762
@bluetooth-mdw can you please retest with the current master, since the new controller is actually much better at avoiding packet drops?

[2019-08-15 11:17] carlescufi commented on #7331
CC @pabigot

[2019-08-15 11:21] carlescufi commented on #13591
@andyross @bluespring is this still an issue?

[2019-08-15 11:24] #17809 closed

[2019-08-15 11:25] carlescufi commented on #17727
This is covered by https://github.com/zephyrproject-rtos/zephyr/issues/17454

[2019-08-15 11:25] #17727 closed

[2019-08-15 11:25] carlescufi commented on #17497
Question answered

[2019-08-15 11:25] #17497 closed

[2019-08-15 11:27] carlescufi commented on #16886
@spieth is this still an issue on the latest master?

[2019-08-15 11:28] carlescufi commented on #13553
@xiaoliang314 can you please retry your benchmarks using the new split controller? Make sure that `CONFIG_BT_LL_SW_SPLIT=y` is set in your `build/zephyr/.config` file.

[2019-08-15 11:29] carlescufi commented on #12044
Question answered

[2019-08-15 11:29] #12044 closed

[2019-08-15 11:30] carlescufi commented on #8419
@MariuszSkamra is this still an issue?

[2019-08-15 11:36] carlescufi commented on #10664
@vikrant8051 can you please send a Pull Request instead so we can discuss it there? Discussing code in an issue is quite cumbersome. If you instead have written questions please reopen this.

[2019-08-15 11:36] #10664 closed

[2019-08-15 11:59] pabigot opened #18301 "menuconfig target can corrupt build configuration"
#18261 is not a bug in the kernel, but a bug in the build system.

I ran this sequence:

[code]

Variant `vb` produces the usage fault described in #18261, while variants `va` and `vc` work as expected.

A recursive diff of `v{b,c}` showed the resulting `zephyr/.config` was identical, but this file was not:
[code]

Inspection confirms that `include/generated/offsets.h` is not regenerated after the

[2019-08-15 11:59] pabigot commented on #18301
@carlescufi @pizi-nordic fyi

[2019-08-15 12:04] bluetooth-mdw commented on #9762
Will do when I next have a chance. FYI simply using a nRF52 based Bluetooth module instead of the nRF51 devices I used in my original tests made a big difference.

[2019-08-15 12:08] carlescufi commented on #18301
@SebastianBoe could you please take a look  at this one?

[2019-08-15 12:21] jhedberg commented on #18090
Actually it's not so simple due to the need to handle segmented messages. Those are stored in a separate list prior to insertion into the friend queue, yet they get allocated from the same buffer pool. I'm working on a fix, but it'll be slightly more complex (e.g. requiring some refactoring of the interface between transport.c and friend.c).

[2019-08-15 12:32] PhilippFinke commented on #17608
Just tried it. Works like a charme. I'll close the issue.

[2019-08-15 12:32] #17608 closed

[2019-08-15 12:52] Vudentz commented on #18183
I am trying this out with BlueZ:

[00:00:31.910,000] <dbg> bt_gatt.db_changed: <log_strdup alloc failed> change-unaware
[00:00:32.060,000] <dbg> bt_gatt.sc_indicate_rsp: b8:8a:60:d8:17:d7 (public) change-aware

[00:00:31.910,000] <dbg> bt_gatt.db_changed: <log_strdup alloc failed> change-unaware
[00:00:32.060,000] <dbg> bt_gatt.sc_indicate_rsp: b8:8a:60:d8:17:d7 (public) change-aware

Could it be

[2019-08-15 13:07] #18298 closed

[2019-08-15 13:30] vanwinkeljan opened #18305 "Native Posix target can not use features with newlib dependencies"
**Describe the bug**
In case you are building for native posix target the newlib C library can not be selected but some features have a hard dependency towards newlib even when provided by OS libc implementation.

**To Reproduce**
One example more issues can be found in code base:
1. west build -b native_posix samples/hello_world -- -DCONFIG_CPLUSPLUS=y -DCONFIG_EXCEPTIONS=y

[code]

**Expected be

[2019-08-15 13:34] mtpr-ot opened #18306 "Unable to reconnect paired devices with controller privacy disabled (host privacy enabled)"
**Description**
With host privacy enabled and controller privacy disabled, it is not possible to re-connect to a paired device.

**To Reproduce**
_Preconditions:_
CONFIG_BT_PRIVACY=y
CONFIG_BT_CTLR_PRIVACY=n

Peripheral advertises constantly. Central scans, connects, disconnects and then scans and finally attempts to re-connect. At second attempt:
- Scanner scans for ADV packets, sees our peripher

[2019-08-15 13:37] vanwinkeljan commented on #18305
@carlescufi @aescolar in case the proposed solution looks acceptable I could also take this one up

[2019-08-15 13:42] carlescufi commented on #18305
Maybe @galak and @aescolar can comment on the suitability of the proposed solution

[2019-08-15 14:44] rmstoi opened #18308 "net: TCP/IPv6 set of fragmented packets causes Zephyr to quit"
If Zephyr echo server receives couple of TCP/IPv6 fragmented packets it quits with log:

[code]
If it receives more fragmented packets after this it starts to leak memory.

Two pcaps are attached. This issue is reproduced by sending pcaps as: frag1.pcap.gz && frag2.pcap.gz && frag2.pcap.gz

To see zephyr debug output, cat screen.txt in terminal

[frag1.pcap.gz](https://github.com/zephyrproject-rto

[2019-08-15 14:46] aescolar commented on #18305
@vanwinkeljan The issue is, as you state, not in native_posix, but on setting `depends on NEWLIB_LIBC` as that assumes there is only 2 C libraries which can be used with Zephyr. This problem will exist for anybody who tries to use a 3rd C library, not just when targeting native_posix.

So, the alternative solution, of adding a `depends on ARCH_POSIX || NEWLIB_LIBC` on those features would not be a

[2019-08-15 15:47] #18301 closed

[2019-08-15 16:50] nashif commented on #18305
related https://github.com/zephyrproject-rtos/zephyr/pull/18224

[2019-08-15 16:57] jukkar commented on #9944
We have a timeout now for connect call, I think that can be considered as a workaround for this issue so closing this one.

[2019-08-15 16:57] andrewboie commented on #18273
No, that's really not what I'm getting at here at all.

I open this because I keep getting surprised on what features are missing from our arch ports. I want to set a minimum standard of features (it will not be all of what's named above) that are minimum criteria for the arch port to go in. Period.

If you think some features have insufficient documentation, or have badly designed APIs, or have i

[2019-08-15 16:57] lucaspeixotot commented on #18263
I think that my problem is different. Today I realized that the hard fault occurs when the semaphore in flash_write_protection_set function is being given. What is curious is that this driver works properly in other projects than are not mcuboot.

[2019-08-15 16:58] jukkar commented on #16323
@rmstoi can you check this one, I fixed the TCP option calc len which hopefully fixes this.

[2019-08-15 16:59] andrewboie commented on #18276
This is *not* an enhancement!

The bug is that CONFIG_ARMV7_M_ARMV8_M_MAINLINE should not have been put in the filter for this test, resulting in irq_connect_dynamic() not being tested on arches that support it.

[2019-08-15 17:00] jukkar commented on #18258
This is not causing any issues so changing the priority to low

[2019-08-15 17:31] pfalcon commented on #9944
As a workaround, yes. As a solution - no. So, reopening. (Added "future" milestone, so there was less incentive to close this unfixed issue during release rush of a particular version.)

[2019-08-15 17:47] aescolar commented on #18276
@andrewboie Uhm, my bad. I missunderstood the bug description.

[2019-08-15 19:13] vanwinkeljan commented on #18305
Pushed a PR (#18315) that adds a choice for c library selection and updated dependencies to `!MINIMAL_LIBC`

[2019-08-15 19:58] WilliamGFish commented on #18298
@carlescufi
Hi,
I just moved to v2.0 rc1 and built my app on the M-Bit and getting hard fault. So I turned to the Mesh Demo to test and double check changes, unfortunately if I set the address to 0x000F therefore invoking Heartbeat via Health Server it crashes often on boot.

Sometimes after a reset it will last a few seconds which may correspond to a heartbeat message.

I tried changing buffer si

[2019-08-15 20:48] mtpr-ot opened #18316 "Support for unregistering bt_conn callbacks"
Currently it's not possible to unregister bt_conn callbacks registered with **bt_conn_cb_register(cb)**. This has the disadvantage that each callback need to have individual run-time switching built in, in order to disable.

Registering the same callback twice also has the sideeffect of generating double callbacks - which in some cases will cause unexpected behavior.

A new function **bt_conn_cb_u

[2019-08-15 22:50] galak opened #18320 "tests/drivers/can/api/peripheral.can fail on FRDM-K64F"
**Describe the bug**
Test timesout in `test_set_loopback`

This is all the output we get:
[code]

**To Reproduce**
`scripts/sanitycheck -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -s tests/drivers/can/api/peripheral.can`

[2019-08-15 22:52] galak commented on #18320
The issue appears to be in `FLEXCAN_Enable()`.  When its called to disable the FLEXCAN, we spin for ever waiting on the hardware to go to low power mode:

[code]

[2019-08-15 22:52] galak commented on #18320
This also appears related to reset in some form.

[2019-08-16 00:57] wentongwu commented on #16760
not only DW_TAG_typedef doesn't been considered, but also handle "extern type variable[]" incorrectly.

[2019-08-16 05:34] KwonTae-young commented on #18155
@ydamigos
Some problems occurred when merging master's source to my current working source.
I will reopen this issue once the simple sample code is ready.

[2019-08-16 05:34] #18155 closed

[2019-08-16 06:52] ntavish commented on #16035
@nvlsianpu sorry, I've not been able to look at this right now. I'll see if I can do something next week.

[2019-08-16 06:57] MariuszSkamra commented on #18090
@jhedberg ```CONFIG_BT_MESH_FRIEND_LPN_COUNT=2```

[2019-08-16 06:58] menglingao1997 opened #18326 "Bluetooth: Mesh: LPN: Remove msg from cache on rejection Enhancement"
5d5706e785275a160d6ec6416f69289d01db17b7
#17809

[code]
I think the best way to deal with this problem is to move this piece of code to **net_find_and_decrypt()**
Just like this:

[code]

[2019-08-16 07:05] MariuszSkamra commented on #8419
No, this is not valid

[2019-08-16 07:05] #8419 closed

[2019-08-16 07:09] erwango commented on #18263
Moving this as an enhancement rather than a bug.

[2019-08-16 07:20] #18292 closed

[2019-08-16 07:34] pizi-nordic commented on #18261
@carlescufi: If you edit this settings through menuconfig (which should resolve dependencies or do not allow to edit thing which is needed), the problem still exists.

@andyross: I tested this only on nordic.

[2019-08-16 07:39] MariuszSkamra commented on #17971
As @joerchan mentioned, this issue is fixed with #17295 together with #16178

[2019-08-16 07:39] #17971 closed

[2019-08-16 07:47] alexanderwachter commented on #18320
This issue can occur when the CAN0_RX pin is floating. The low-power-mode can only be switched when the controller is idling. The bus is in the recessive state (idling) when the RX pin is logical high.

[2019-08-16 07:47] menglingao1997 commented on #18326
@jhedberg

[2019-08-16 07:49] pizi-nordic commented on #18261
Grrrr. It looks that it fails only on my board. After switching to another problem disappeared...

[2019-08-16 07:49] #18261 closed

[2019-08-16 08:07] jhedberg commented on #18326
@richardbarlow FYI. @menglingao1997 the main reason the check is in `transport.c` is that Friendship is a Transport-layer feature.

[2019-08-16 08:52] aescolar commented on #18306
@joerchan This seems like a regression. But please remove the label if it is not.

[2019-08-16 08:56] joerchan commented on #18306
Yes, regression from here: 45da629b24f720019355fca8e1ddddb798ac409f

[2019-08-16 08:58] Vudentz commented on #18183
So the culprint seems to be:

      ATT: Read By Type Request (0x08) len 6
        Handle range: 0x0001-0xffff
        Attribute type: Database Hash (0x2b2a)
< ACL Data TX: Handle 0 flags 0x00 dlen 24                                                                                                                                           #134 [hci0] 103.342616
      ATT: Read By Type Response (0x09

[2019-08-16 09:06] richardbarlow commented on #18326
@jhedberg When I was fixing this one thing I was wondering was whether this complexity could be removed by only attempting to decrypt messages using the friend key when the LPN has an established friendship. I agree that the current separation of checking if a message should be rejected in the transport layer and the subsequent removal from it in the network layer is the correct approach, but it w

[2019-08-16 09:09] erwango commented on #18263
Looking to it more in detail, I don't think requested modification would even be an enhancement that would be acceptable in flash driver.
Option bytes are meant to configure behavior persistant across reset. Resetting them blindly at boot in application is a quite particular usage.
If bootloader configures option bytes in a way that is incompatible with the application usage, it rather seems as a

[2019-08-16 09:26] ioannisg commented on #18246
Merged now @carlescufi

[2019-08-16 09:29] olsky commented on #17689
I have one more "corner usecase": sensor is powered with a separate LDO.
Thus at boot time: the sensor is not available and thus cannot be inited.

At run-time, when the LDO is enabled and the power goes to sensors... what it the best way to "init" i2c sensors in Zephyr?

The "device_get_binding" is failing in this case, probably due to failure during boot time (call to: DEVICE_AND_API_INIT?).

An

[2019-08-16 09:37] #18212 closed

[2019-08-16 09:43] menglingao1997 commented on #18326
@richardbarlow Whether the low-power node should accept the message from the non-friend relationship, the specification does not make a statement, I think it is enough to accept only the message from the friend, so that not only can the complexity of the low-power node be reduced, but the main purpose is to save power. Isn't it?

[2019-08-16 09:44] menglingao1997 commented on #18326
@jhedberg Appropriate layer crossing is not a bad thing, always insisting on the layer-to-layer separation mode, which will lead to some strange phenomena, just like I think now.

[2019-08-16 09:45] ioannisg commented on #18246
@galak the bbc_microbit fail on hci_uart samples does not appear (anymore), at least in my local sanitycheck run

[2019-08-16 09:45] carlescufi commented on #18298
@WilliamGFish
can you try obtaining a backtrace or an `addr2line` on those crashes? We need a bit more info to reproduce. Maybe @jhedberg can give the mesh demo a go on the micro:bit.

[2019-08-16 09:51] WilliamGFish commented on #18298
Okay, I'll look over the weekend. On 16 Aug 2019 10:45, Carles Cufí <notifications@github.com> wrote:@WilliamGFish
can you try obtaining a backtrace or an addr2line on those crashes? We need a bit more info to reproduce. Maybe @jhedberg can give the mesh demo a go on the micro:bit.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thre

[2019-08-16 10:17] pabigot commented on #17689
Look at `nrf52_pca20020` which has this feature.  In short, the board turns on the LDOs on boot, in necessary order, and leaves them on.

Otherwise you have to do it manually in the driver.  For now, because that really has to change.

[2019-08-16 10:22] jhedberg commented on #18326
@menglingao1997 @richardbarlow fair enough. Does one of you want to submit a PR? It should preferably have a code comment to explain the apparent layer violation.

[2019-08-16 10:26] carlescufi commented on #18246
I fixed those in https://github.com/zephyrproject-rtos/zephyr/pull/18294

[2019-08-16 11:02] tgorochowik commented on #14467
Since civetweb is now available as a west module and there is a PR open for a minimal HTTP API implementation there is no need for this issue to stay open. Closing.

[2019-08-16 11:02] #14467 closed

[2019-08-16 11:09] #18181 closed

[2019-08-16 11:32] richardbarlow commented on #18326
@jhedberg To be clear, I don't condone violating the layering.

I was thinking along the lines of `net.c` having a concept of the currently active key set (for all subnets). When a node is *not* an LPN this is the normal set of keys, when a node is an LPN this is the set of friend keys. This way `net.c` doesn't need to know anything about 'friends' or 'LPNs' at all, it simply tries to decrypt mess

[2019-08-16 11:40] menglingao1997 commented on #18326
@richardbarlow @jhedberg I respect everyone's point of view, and if there is a better solution in the future, it would be best.

[2019-08-16 11:50] jhedberg commented on #18326
I've had this on my TODO for awhile, but just never got around to it. I'd move the code from `net.c` to a new `friend_cred.c`. I'd be happy to review such a PR if anyone has time to look into it.

Anyway, I'm fine with the consensus of deferring this optimisation to some point in the future.

[2019-08-16 12:08] ioannisg commented on #18284
That's a known issue - we need to do something for this board that does not have enough MPU regions for basic user mode tests/samples. The tests passes for other platforms with NXP_MPU, so that's a low priority bug.

[2019-08-16 12:13] pfalcon opened #18334 "DNS resolution is broken for some addresses in master/2.0-pre"
Steps to reproduce: Apply following patch:

[code]

And run the sample above. In other words, try to resolve address "mqtt.2030.ltsapis.goog" (this is valid address, used by Google's https://github.com/GoogleCloudPlatform/iot-device-sdk-embedded-c)

The culprit, from bisecting, is ef1093755328e7ecab2965b273110d57b4d76931:

[code]

[2019-08-16 12:17] pfalcon commented on #18334
Specific output from that sample is:

[code]

The expected output is `getaddrinfo status: 0`.

[2019-08-16 12:36] rmstoi commented on #16323
@jukkar I checked it still fails. The problem is that unknown option 0x42 in HBH has wrong length, and because of this packet must be dropped.

[2019-08-16 12:46] #18306 closed

[2019-08-16 12:51] joerchan commented on #17800
Cannot reproduce with the bug-description.
Root cause must be something other than the call to GATT Write without Response with Invalid Handle.
The handling of the invalid handle seems to be correct when receiving, and when sending it's not used for anything.

Also the thread seems to be the IDLE thread.
[code]
We need an updated way to reproduce this issue

[2019-08-16 13:07] nvlsianpu commented on #16797
@gon1332 From conversation I'm understanding that the Hw exception for zephyr v1.14 you had is caused by a flash driver which requires synchronisation primitives (not working while multithreding id disabled). Didn't you try to backport driver bugfix to v1.14-branch.

I believe that apart from [this patch](https://github.com/JuulLabs-OSS/mcuboot/pull/497) mcuboot master is compatible with zephyr v1

[2019-08-16 13:37] paulgavrikov commented on #17800
Cannot reproduce it anymore as well, might have been something else indeed.

[2019-08-16 13:37] #17800 closed

[2019-08-16 14:01] joerchan commented on #18297
I'm seeing something similar here. Will investigate.

[2019-08-16 14:24] olsky commented on #17689
@pabigot thank you for suggestion! It worked (well, as expected) :)

[2019-08-16 14:39] MariuszSkamra commented on #18188
Closing because GATT Caching client side is not supported yet.

[2019-08-16 14:39] #18188 closed

[2019-08-16 14:45] nvlsianpu opened #18340 "settings: make NVS the default backend"
NVS back-end was introduced as better than FCB small footprint (ROM/RAM) back-end.
Compared to FCB it supposed to be faster and more reliable (power-down safe and flash write failure tolerant).

Step before done:
Evaluate NVS back-end as replacement for FCB backed.

[2019-08-16 14:51] ioannisg commented on #18276
@andrewboie the test you mentioned was always ARM-specific, AFAICS :)
Could you please, mention which other ARCHes are supposed to support dynamic interrupts ?

[2019-08-16 15:08] nvlsianpu opened #18341 "settings: test setting FS back-end using littlefs"
So fare FS back-end is testing along with NFFS. This file system has a few serious bug which are not fixed since long time. Recently <b>littlefs</b> was ported to zephyr - it is supposed to be free form serious bug.

If situation won't change NFFS will be deprecated.

**solution**
Switch settings tests (https://github.com/zephyrproject-rtos/zephyr/tree/7f94e7110297377fbf2e758f4b4ff7ac97056020/test

[2019-08-16 15:33] Trubochkin commented on #3754
Unfortunately bt_set_id_addr () is not working for setting MAC =(

[2019-08-16 15:37] #18320 closed

[2019-08-16 16:17] tedd-an commented on #13591
Yes, it is still reproducible.

[code]

[2019-08-16 16:34] andrewboie commented on #14206
I made some progress on this, but there is more I would like to do, I am going to push this out to 2.1 for further improvements.

[2019-08-16 16:40] andrewboie commented on #18276
@ioannisg anything that is using gen_isr_tables.py to create their interrupt tables.
Should be all arches aside from x86, I believe. ARM, ARC, RiscV, Nios II, Xtensa all use it.
BTW although this is a bug I don't think it needs to be 'medium' I can drop to low.

[2019-08-16 16:42] #18201 closed

[2019-08-16 17:01] olsky commented on #17688
Dear @pabigot
could you please suggest on how to get around this issue?

thanks!

[2019-08-16 17:17] lucaspeixotot opened #18345 "Is there a way to get the bytes that shell receives?"
I'm using shell in UART2 but I need that the bytes in this interface be redirected to a msg queue in my firmware. How can I do that?

[2019-08-16 17:47] #18183 closed

[2019-08-16 17:48] Mani-Sadhasivam commented on #17688
@olsky Just curious, did the sample application in zephyr work for you? `samples/sensor/ccs811`

[2019-08-16 17:50] jhedberg commented on #3754
@Trubochkin could you elaborate please? What do you mean by MAC? E.g. if you have privacy enabled you will in most circumstances have the controller an RPA instead of the id address.

[2019-08-16 17:53] pabigot commented on #17965
I can confirm that when it passes the loop iteration takes 3 ticks.  When it fails it takes 5.

#18343 provides a fix for the test and explanation that's consistent with the documented test design, but I have no idea why the clock behavior is so different depending on whether the debug probe is attached or not.

Further instrumentation shows that when the failure occurs the line below is evaluated

[2019-08-16 18:03] pabigot commented on #14577
@cvinayak If you are able to reproduce latency issues please see https://github.com/zephyrproject-rtos/zephyr/issues/17965#issuecomment-522096114 and try changing the referenced line 136 of `kernel/timeout.c` to consider `next <= 2` as the condition for an imminent timeout.  If that improves things it may be worth making the threshold target-specific.

[2019-08-16 18:13] #18326 closed

[2019-08-16 18:14] #17962 closed

[2019-08-16 18:21] StefJar commented on #18263
after discussing it with @erwango we decided to close this issue. Key points for not merging [the proposed commit workaround](https://github.com/zephyrproject-rtos/zephyr/pull/18296) to the stm32 flash driver:
1st) this code only works for STM32F412
2nd) it sets blindly the flash OPTCR register to reset mode. Maybe this is not wanted.
3rd) we leave it to the user to know from which context his zep

[2019-08-16 18:21] #18263 closed

[2019-08-16 18:29] mike-scott commented on #18080
So by "today" I meant "9 days from now".  Looking at this now.

[2019-08-16 19:05] carlescufi commented on #18345
All of the bytes? If you only need specific sequences and use some SLIP code of some sort you can use the mcumgr hooks. Search for MCUMGR in the shell code

[2019-08-16 19:52] #18269 closed

[2019-08-16 20:19] olsky commented on #17688
@Mani-Sadhasivam yes, tried it as well, here is the log:

SPM: prepare to jump to Non-Secure image.
innblue > pwr_ctrl_init bind device "GPIO_0" pin 21
innblue > pwr_ctrl_init bind device "GPIO_0" pin 12
innblue > ccs811_init
innblue > ccs811_init > config wakeup
innblue > ccs811_init wakeup pin
innblue > ccs811_init config reset
ccs881 > switch_to_app_mode > Switching to Application mode...
ccs88

[2019-08-16 21:01] pabigot commented on #17688
On power up you'll read 0 eCO2 and 0 eTVOC until the `DATA_READY` bit of the `STATUS` register becomes set.  (On CCS811 firmware versions less than 2.0 this bit is never set, but the behavior is the same.)  This normally happens after two or three readings.

After that there's a 20 minute conditioning period during which the readings will be constant at the minimum reportable value 400 cCO2 and 0

[2019-08-16 21:56] olsky commented on #17688
thanks @pabigot , I will leave it on...

[2019-08-16 22:37] Trubochkin commented on #3754
I mean is:
![SharedScreenshot](https://user-images.githubusercontent.com/12196780/63201594-9ccbc600-c08e-11e9-919b-27a41f97dcf0.jpg)

Now I have random address when I use [bt_le_adv_start()](https://github.com/Trubochkin/ble-gsm-gateway.zephyrproject/blob/d3c70fe24f066b03345be3dad4620a99660f7d99/src/main.c#L82) function. And when I use the bt_set_id_addr (&static_MAC) function, the MAC address is

[2019-08-17 00:34] pabigot commented on #18198
Closed with the update to SDK 0.10.3.

[2019-08-17 00:34] #18198 closed

[2019-08-17 07:25] jhedberg commented on #3754
@Trubochkin please be clear with the terms you use. Saying "random address" could mean either a private address or a static random address. The latter is a valid identity address. If you want to be advertising with your identity address (the one you give to bt_set_id_addr()) and you're doing non-connectable advertising, or you've enabled CONFIG_BT_PRIVACY, then you need to use `BT_LE_ADV_OPT_USE_I

[2019-08-17 10:12] Trubochkin commented on #3754
Hmm ... I guess I need to learn the terminology. It turns out it's true that the terminology in bluetooth is very confused. However, thanks for the reply.

[2019-08-17 13:01] ioannisg commented on #9944
Adding low, since there seems to be a workaround, at least

[2019-08-17 13:07] ioannisg commented on #16158
@mike-scott is this bug still present? If so, will you address this for 2.0.0?

[2019-08-17 13:09] ioannisg commented on #16154
@mike-scott, same question as before; wonder if this is still applicable, and, if so, if it could be addressed for 2.0

[2019-08-17 13:10] ioannisg commented on #12509
@pizi-nordic @carlescufi is this still applicable, and if so, how can we address it ifor 2.0?

[2019-08-17 15:08] mike-scott commented on #16158
Yes, I will test and address for 2.0 if there's a bug.

[2019-08-17 15:46] mike-scott commented on #16154
Thank you for the reminder.  I will address.

[2019-08-17 16:30] spieth commented on #16886
@carlescufi I'll test it next week and report back.

[2019-08-17 17:44] deadsy opened #18351 "logging: 32 bit float values don't work."
**Code**

[code]

**Output**

**Notes**
CONFIG_LOG_ENABLE_FANCY_OUTPUT_FORMATTING=y
This uses the minimal libc print formatter for the log messages. The print formatter works for float formatting when invoked via printf, suggesting that the float value is somehow being clobbered in the log functions.

**Environment**
 - OS: Linux
 - Toolchain: gcc-arm-none-eabi-8-2018-q4-major
 - Board: mimxrt1020

[2019-08-17 18:05] #18246 closed

[2019-08-17 18:43] pabigot opened #18352 "devicetree: support multiple values in io-channels"
The `io-channels` property was added in #18101 but the implementation doesn't seem to support multiple channels, although edtlib internal documentation suggests it should.

For example, I should be able to define a bank of ADC inputs corresponding to thermistors with something like
[code]
Currently this produces multiple definitions for the same symbol.  I also tried:
[code]
with the same result,

[2019-08-17 18:49] str4t0m commented on #15278
@henrikbrixandersen do you still intend to port a CANopen implementation to Zephyr?
The two libraries, that build upon SocketCAN, and I know of are CANopenNode and CANFestival. Both seem not be maintained very actively anymore.
- https://github.com/CANopenNode/CANopenNode   license: GPL-2.0
- https://canfestival.org/ license: LGPL(runtime) and GPL (some tools regarding the creation of the object d

[2019-08-17 18:55] henrikbrixandersen commented on #15278
@str4t0m Yes, I am in the process of porting CANopenNode to Zephyr.

[2019-08-17 20:01] str4t0m commented on #15278
That sounds great.
I'm thinking about a project where I could use CANopen.
Currently I am just getting started with Zephyr and haven't worked with CANopenNode yet, but I like what I have seen so far.
The management of the object dictionary seems mature compared to the Objdictedit used for Canfestival. Do you use the [Object dictionary editor](https://sourceforge.net/p/canopennode/code_complete/ci/

[2019-08-17 20:39] aasthagr opened #18353 "[Coverity CID :203522]Null pointer dereferences in /arch/arm/core/cortex_m/fault.c"
Static code scan issues seen in File: /arch/arm/core/cortex_m/fault.c
 Category: Null pointer dereferences
 Function: FaultHandle
 Component: Architectures
 CID: 203522
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18354 "[Coverity CID :203449]Memory - illegal accesses in /boards/posix/native_posix/cmdline_common.c"
Static code scan issues seen in File: /boards/posix/native_posix/cmdline_common.c
 Category: Memory - illegal accesses
 Function: cmd_read_option_value
 Component: Other
 CID: 203449
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18355 "[Coverity CID :203466]Memory - illegal accesses in /drivers/can/can_mcux_flexcan.c"
Static code scan issues seen in File: /drivers/can/can_mcux_flexcan.c
 Category: Memory - illegal accesses
 Function: mcux_flexcan_send
 Component: Drivers
 CID: 203466
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18356 "[Coverity CID :203430]Integer handling issues in /drivers/espi/espi_mchp_xec.c"
Static code scan issues seen in File: /drivers/espi/espi_mchp_xec.c
 Category: Integer handling issues
 Function: espi_pc_isr
 Component: Drivers
 CID: 203430
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18357 "[Coverity CID :203485]Memory - illegal accesses in /drivers/espi/espi_mchp_xec.c"
Static code scan issues seen in File: /drivers/espi/espi_mchp_xec.c
 Category: Memory - illegal accesses
 Function: espi_xec_receive_vwire
 Component: Drivers
 CID: 203485
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18358 "[Coverity CID :203497]Memory - corruptions in /drivers/espi/espi_mchp_xec.c"
Static code scan issues seen in File: /drivers/espi/espi_mchp_xec.c
 Category: Memory - corruptions
 Function: espi_xec_send_vwire
 Component: Drivers
 CID: 203497
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18359 "[Coverity CID :203521]Memory - illegal accesses in /drivers/espi/espi_mchp_xec.c"
Static code scan issues seen in File: /drivers/espi/espi_mchp_xec.c
 Category: Memory - illegal accesses
 Function: espi_xec_receive_vwire
 Component: Drivers
 CID: 203521
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18360 "[Coverity CID :203531]Memory - corruptions in /drivers/espi/espi_mchp_xec.c"
Static code scan issues seen in File: /drivers/espi/espi_mchp_xec.c
 Category: Memory - corruptions
 Function: espi_xec_send_vwire
 Component: Drivers
 CID: 203531
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18361 "[Coverity CID :203515]Uninitialized variables in /drivers/flash/flash_stm32l4x.c"
Static code scan issues seen in File: /drivers/flash/flash_stm32l4x.c
 Category: Uninitialized variables
 Function: erase_page
 Component: Drivers
 CID: 203515
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18362 "[Coverity CID :203412]Control flow issues in /drivers/net/ppp.c"
Static code scan issues seen in File: /drivers/net/ppp.c
 Category: Control flow issues
 Function: ppp_send
 Component: Networking
 CID: 203412
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18363 "[Coverity CID :203492]Memory - corruptions in /drivers/net/ppp.c"
Static code scan issues seen in File: /drivers/net/ppp.c
 Category: Memory - corruptions
 Function: ppp_driver_feed_data
 Component: Networking
 CID: 203492
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18364 "[Coverity CID :203467]Memory - corruptions in /drivers/sensor/lis2dh/lis2dh_trigger.c"
Static code scan issues seen in File: /drivers/sensor/lis2dh/lis2dh_trigger.c
 Category: Memory - corruptions
 Function: lis2dh_gpio_int1_callback
 Component: Drivers
 CID: 203467
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18365 "[Coverity CID :203434]Control flow issues in /drivers/timer/xlnx_psttc_timer.c"
Static code scan issues seen in File: /drivers/timer/xlnx_psttc_timer.c
 Category: Control flow issues
 Function: xttc_calculate_interval
 Component: Drivers
 CID: 203434
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18366 "[Coverity CID :203452]Control flow issues in /drivers/timer/xlnx_psttc_timer.c"
Static code scan issues seen in File: /drivers/timer/xlnx_psttc_timer.c
 Category: Control flow issues
 Function: xttc_calculate_interval
 Component: Drivers
 CID: 203452
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18367 "[Coverity CID :203409]Memory - corruptions in /drivers/wifi/eswifi/eswifi_core.c"
Static code scan issues seen in File: /drivers/wifi/eswifi/eswifi_core.c
 Category: Memory - corruptions
 Function: eswifi_connect
 Component: Drivers
 CID: 203409
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18368 "[Coverity CID :203411]Memory - corruptions in /drivers/wifi/eswifi/eswifi_core.c"
Static code scan issues seen in File: /drivers/wifi/eswifi/eswifi_core.c
 Category: Memory - corruptions
 Function: eswifi_connect
 Component: Drivers
 CID: 203411
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18369 "[Coverity CID :203425]Memory - corruptions in /drivers/wifi/eswifi/eswifi_core.c"
Static code scan issues seen in File: /drivers/wifi/eswifi/eswifi_core.c
 Category: Memory - corruptions
 Function: eswifi_mgmt_ap_enable
 Component: Drivers
 CID: 203425
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18370 "[Coverity CID :203469]Memory - corruptions in /drivers/wifi/eswifi/eswifi_core.c"
Static code scan issues seen in File: /drivers/wifi/eswifi/eswifi_core.c
 Category: Memory - corruptions
 Function: eswifi_mgmt_ap_enable
 Component: Drivers
 CID: 203469
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18371 "[Coverity CID :203542]Error handling issues in /lib/posix/pthread.c"
Static code scan issues seen in File: /lib/posix/pthread.c
 Category: Error handling issues
 Function: pthread_create
 Component: Other
 CID: 203542
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18372 "[Coverity CID :203543]Memory - illegal accesses in /samples/bluetooth/eddystone/src/main.c"
Static code scan issues seen in File: /samples/bluetooth/eddystone/src/main.c
 Category: Memory - illegal accesses
 Function: write_adv_data
 Component: Samples
 CID: 203543
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18373 "[Coverity CID :203399]API usage errors in /samples/boards/olimex_stm32_e407/ccm/src/main.c"
Static code scan issues seen in File: /samples/boards/olimex_stm32_e407/ccm/src/main.c
 Category: API usage errors
 Function: print_var_values
 Component: Samples
 CID: 203399
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18374 "[Coverity CID :203523]Error handling issues in /samples/drivers/counter/alarm/src/main.c"
Static code scan issues seen in File: /samples/drivers/counter/alarm/src/main.c
 Category: Error handling issues
 Function: test_counter_interrupt_fn
 Component: Samples
 CID: 203523
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18375 "[Coverity CID :203440]Null pointer dereferences in /samples/net/nats/src/main.c"
Static code scan issues seen in File: /samples/net/nats/src/main.c
 Category: Null pointer dereferences
 Function: nats_client
 Component: Samples
 CID: 203440
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18376 "[Coverity CID :203462]Error handling issues in /samples/net/sockets/civetweb/src/main.c"
Static code scan issues seen in File: /samples/net/sockets/civetweb/src/main.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 203462
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18377 "[Coverity CID :203535]Error handling issues in /samples/net/sockets/civetweb/src/main.c"
Static code scan issues seen in File: /samples/net/sockets/civetweb/src/main.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 203535
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18378 "[Coverity CID :203537]Error handling issues in /samples/subsys/nvs/src/main.c"
Static code scan issues seen in File: /samples/subsys/nvs/src/main.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 203537
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18379 "[Coverity CID :203493]Control flow issues in /soc/arm/st_stm32/stm32h7/soc_m7.c"
Static code scan issues seen in File: /soc/arm/st_stm32/stm32h7/soc_m7.c
 Category: Control flow issues
 Function: stm32h7_m4_wakeup
 Component: Other
 CID: 203493
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18380 "[Coverity CID :203461]Null pointer dereferences in /subsys/bluetooth/controller/ll_sw/ull.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ll_sw/ull.c
 Category: Null pointer dereferences
 Function: rx_demux_rx
 Component: Bluetooth
 CID: 203461
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18381 "[Coverity CID :203393]Control flow issues in /subsys/bluetooth/controller/ll_sw/ull_conn.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ll_sw/ull_conn.c
 Category: Control flow issues
 Function: length_req_rsp_recv
 Component: Bluetooth
 CID: 203393
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18382 "[Coverity CID :203524]Incorrect expression in /subsys/bluetooth/controller/ticker/ticker.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ticker/ticker.c
 Category: Incorrect expression
 Function: ticker_enqueue
 Component: Bluetooth
 CID: 203524
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18383 "[Coverity CID :203447]Memory - corruptions in /subsys/bluetooth/host/att.c"
Static code scan issues seen in File: /subsys/bluetooth/host/att.c
 Category: Memory - corruptions
 Function: find_type_cb
 Component: Bluetooth
 CID: 203447
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18384 "[Coverity CID :203495]Control flow issues in /subsys/bluetooth/host/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/host/gatt.c
 Category: Control flow issues
 Function: gatt_find_info_rsp
 Component: Bluetooth
 CID: 203495
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18385 "[Coverity CID :203534]Memory - corruptions in /subsys/bluetooth/host/hci_core.c"
Static code scan issues seen in File: /subsys/bluetooth/host/hci_core.c
 Category: Memory - corruptions
 Function: bt_id_reset
 Component: Bluetooth
 CID: 203534
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18386 "[Coverity CID :203443]Memory - corruptions in /subsys/bluetooth/host/rfcomm.c"
Static code scan issues seen in File: /subsys/bluetooth/host/rfcomm.c
 Category: Memory - corruptions
 Function: bt_rfcomm_dlc_send
 Component: Bluetooth
 CID: 203443
 Please fix or provide comments to square it off in coverity in the link: ~https://scan9.coverity.com/reports.htm#v32951/p12996~
https://scan9.coverity.com/reports.htm#v34747/p12996/

[2019-08-17 20:39] aasthagr opened #18387 "[Coverity CID :203536]Memory - corruptions in /subsys/bluetooth/host/smp.c"
Static code scan issues seen in File: /subsys/bluetooth/host/smp.c
 Category: Memory - corruptions
 Function: bt_smp_distribute_keys
 Component: Bluetooth
 CID: 203536
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18388 "[Coverity CID :203545]Memory - corruptions in /subsys/bluetooth/host/smp.c"
Static code scan issues seen in File: /subsys/bluetooth/host/smp.c
 Category: Memory - corruptions
 Function: smp_br_distribute_keys
 Component: Bluetooth
 CID: 203545
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18389 "[Coverity CID :203396]Null pointer dereferences in /subsys/bluetooth/mesh/access.c"
Static code scan issues seen in File: /subsys/bluetooth/mesh/access.c
 Category: Null pointer dereferences
 Function: bt_mesh_model_publish
 Component: Bluetooth
 CID: 203396
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18390 "[Coverity CID :203441]Null pointer dereferences in /subsys/bluetooth/mesh/transport.c"
Static code scan issues seen in File: /subsys/bluetooth/mesh/transport.c
 Category: Null pointer dereferences
 Function: bt_mesh_heartbeat_send
 Component: Bluetooth
 CID: 203441
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18391 "[Coverity CID :203403]Memory - corruptions in /subsys/disk/disk_access_usdhc.c"
Static code scan issues seen in File: /subsys/disk/disk_access_usdhc.c
 Category: Memory - corruptions
 Function: usdhc_cmd_rsp
 Component: Other
 CID: 203403
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18392 "[Coverity CID :203494]Integer handling issues in /subsys/fs/littlefs_fs.c"
Static code scan issues seen in File: /subsys/fs/littlefs_fs.c
 Category: Integer handling issues
 Function: littlefs_mount
 Component: Other
 CID: 203494
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18393 "[Coverity CID :203541]Integer handling issues in /subsys/net/ip/6lo.c"
Static code scan issues seen in File: /subsys/net/ip/6lo.c
 Category: Integer handling issues
 Function: uncompress_nh_udp
 Component: Networking
 CID: 203541
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18394 "[Coverity CID :203464]Memory - corruptions in /subsys/net/l2/ethernet/gptp/gptp_mi.c"
Static code scan issues seen in File: /subsys/net/l2/ethernet/gptp/gptp_mi.c
 Category: Memory - corruptions
 Function: compute_best_vector
 Component: Networking
 CID: 203464
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18395 "[Coverity CID :203471]Memory - corruptions in /subsys/net/l2/ethernet/gptp/gptp_mi.c"
Static code scan issues seen in File: /subsys/net/l2/ethernet/gptp/gptp_mi.c
 Category: Memory - corruptions
 Function: compute_best_vector
 Component: Networking
 CID: 203471
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18396 "[Coverity CID :203435]Error handling issues in /subsys/net/l2/ppp/fsm.c"
Static code scan issues seen in File: /subsys/net/l2/ppp/fsm.c
 Category: Error handling issues
 Function: fsm_recv_terminate_req
 Component: Networking
 CID: 203435
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18397 "[Coverity CID :203512]Memory - corruptions in /subsys/net/l2/ppp/ipv6cp.c"
Static code scan issues seen in File: /subsys/net/l2/ppp/ipv6cp.c
 Category: Memory - corruptions
 Function: ipv6cp_up
 Component: Networking
 CID: 203512
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18398 "[Coverity CID :203514]Control flow issues in /subsys/net/l2/ppp/ipv6cp.c"
Static code scan issues seen in File: /subsys/net/l2/ppp/ipv6cp.c
 Category: Control flow issues
 Function: ipv6cp_config_info_req
 Component: Networking
 CID: 203514
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18399 "[Coverity CID :203457]Control flow issues in /subsys/net/l2/ppp/lcp.c"
Static code scan issues seen in File: /subsys/net/l2/ppp/lcp.c
 Category: Control flow issues
 Function: lcp_config_info_req
 Component: Networking
 CID: 203457
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18400 "[Coverity CID :203483]Control flow issues in /subsys/net/lib/conn_mgr/events_handler.c"
Static code scan issues seen in File: /subsys/net/lib/conn_mgr/events_handler.c
 Category: Control flow issues
 Function: conn_mgr_ipv4_events_handler
 Component: Networking
 CID: 203483
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18401 "[Coverity CID :203438]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_accelerometer.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_accelerometer.c
 Category: Memory - corruptions
 Function: accel_create
 Component: Networking
 CID: 203438
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18402 "[Coverity CID :203530]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_accelerometer.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_accelerometer.c
 Category: Memory - corruptions
 Function: accel_create
 Component: Networking
 CID: 203530
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18403 "[Coverity CID :203539]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_accelerometer.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_accelerometer.c
 Category: Memory - corruptions
 Function: accel_create
 Component: Networking
 CID: 203539
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18404 "[Coverity CID :203414]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_buzzer.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_buzzer.c
 Category: Memory - corruptions
 Function: buzzer_create
 Component: Networking
 CID: 203414
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18405 "[Coverity CID :203426]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_buzzer.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_buzzer.c
 Category: Memory - corruptions
 Function: buzzer_create
 Component: Networking
 CID: 203426
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18406 "[Coverity CID :203511]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_buzzer.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_buzzer.c
 Category: Memory - corruptions
 Function: buzzer_create
 Component: Networking
 CID: 203511
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18407 "[Coverity CID :203519]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_light_control.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_light_control.c
 Category: Memory - corruptions
 Function: light_control_create
 Component: Networking
 CID: 203519
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18408 "[Coverity CID :203533]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_light_control.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_light_control.c
 Category: Memory - corruptions
 Function: light_control_create
 Component: Networking
 CID: 203533
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18409 "[Coverity CID :203427]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_onoff_switch.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_onoff_switch.c
 Category: Memory - corruptions
 Function: switch_create
 Component: Networking
 CID: 203427
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18410 "[Coverity CID :203448]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_onoff_switch.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_onoff_switch.c
 Category: Memory - corruptions
 Function: switch_create
 Component: Networking
 CID: 203448
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18411 "[Coverity CID :203450]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_onoff_switch.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_onoff_switch.c
 Category: Memory - corruptions
 Function: switch_create
 Component: Networking
 CID: 203450
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18412 "[Coverity CID :203482]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_push_button.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_push_button.c
 Category: Memory - corruptions
 Function: button_create
 Component: Networking
 CID: 203482
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18413 "[Coverity CID :203488]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_push_button.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_push_button.c
 Category: Memory - corruptions
 Function: button_create
 Component: Networking
 CID: 203488
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18414 "[Coverity CID :203496]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_push_button.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_push_button.c
 Category: Memory - corruptions
 Function: button_create
 Component: Networking
 CID: 203496
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18415 "[Coverity CID :203420]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_timer.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_timer.c
 Category: Memory - corruptions
 Function: timer_create
 Component: Networking
 CID: 203420
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18416 "[Coverity CID :203475]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_timer.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_timer.c
 Category: Memory - corruptions
 Function: timer_create
 Component: Networking
 CID: 203475
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18417 "[Coverity CID :203501]Memory - corruptions in /subsys/net/lib/lwm2m/ipso_timer.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/ipso_timer.c
 Category: Memory - corruptions
 Function: timer_create
 Component: Networking
 CID: 203501
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18418 "[Coverity CID :203445]Error handling issues in /subsys/net/lib/sockets/getnameinfo.c"
Static code scan issues seen in File: /subsys/net/lib/sockets/getnameinfo.c
 Category: Error handling issues
 Function: zsock_getnameinfo
 Component: Networking
 CID: 203445
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:39] aasthagr opened #18419 "[Coverity CID :203397]Control flow issues in /subsys/net/lib/sockets/sockets_net_mgmt.c"
Static code scan issues seen in File: /subsys/net/lib/sockets/sockets_net_mgmt.c
 Category: Control flow issues
 Function: znet_mgmt_getsockopt
 Component: Networking
 CID: 203397
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18420 "[Coverity CID :203468]Control flow issues in /subsys/net/lib/sockets/sockets_net_mgmt.c"
Static code scan issues seen in File: /subsys/net/lib/sockets/sockets_net_mgmt.c
 Category: Control flow issues
 Function: znet_mgmt_setsockopt
 Component: Networking
 CID: 203468
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18421 "[Coverity CID :203504]Uninitialized variables in /subsys/net/lib/sockets/sockets_net_mgmt.c"
Static code scan issues seen in File: /subsys/net/lib/sockets/sockets_net_mgmt.c
 Category: Uninitialized variables
 Function: znet_mgmt_recvfrom
 Component: Networking
 CID: 203504
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18422 "[Coverity CID :203415]Memory - illegal accesses in /subsys/shell/shell_telnet.c"
Static code scan issues seen in File: /subsys/shell/shell_telnet.c
 Category: Memory - illegal accesses
 Function: write
 Component: Other
 CID: 203415
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18423 "[Coverity CID :203473]Null pointer dereferences in /subsys/usb/usb_descriptor.c"
Static code scan issues seen in File: /subsys/usb/usb_descriptor.c
 Category: Null pointer dereferences
 Function: usb_fix_descriptor
 Component: Other
 CID: 203473
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18424 "[Coverity CID :203489]Memory - corruptions in /tests/application_development/gen_inc_file/src/main.c"
Static code scan issues seen in File: /tests/application_development/gen_inc_file/src/main.c
 Category: Memory - corruptions
 Function: test_gen_gz_inc_file_mtime_arg
 Component: Tests
 CID: 203489
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996/fileInstanceId=53306900&defectInstanceId=6681005&mergedDefectId=203489

[2019-08-17 20:40] aasthagr opened #18425 "[Coverity CID :203498]Memory - corruptions in /tests/application_development/gen_inc_file/src/main.c"
Static code scan issues seen in File: /tests/application_development/gen_inc_file/src/main.c
 Category: Memory - corruptions
 Function: test_gen_gz_inc_file_no_mtime
 Component: Tests
 CID: 203498
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996/fileInstanceId=53306900&defectInstanceId=6680795&mergedDefectId=203498

[2019-08-17 20:40] aasthagr opened #18426 "[Coverity CID :203455]Incorrect expression in /tests/arch/arm/arm_ramfunc/src/arm_ramfunc.c"
Static code scan issues seen in File: /tests/arch/arm/arm_ramfunc/src/arm_ramfunc.c
 Category: Incorrect expression
 Function: test_arm_ramfunc
 Component: Tests
 CID: 203455
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18427 "[Coverity CID :203392]Incorrect expression in /tests/arch/arm/arm_thread_swap/src/arm_thread_arch.c"
Static code scan issues seen in File: /tests/arch/arm/arm_thread_swap/src/arm_thread_arch.c
 Category: Incorrect expression
 Function: alt_thread_entry
 Component: Tests
 CID: 203392
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18428 "[Coverity CID :203479]Incorrect expression in /tests/arch/arm/arm_thread_swap/src/arm_thread_arch.c"
Static code scan issues seen in File: /tests/arch/arm/arm_thread_swap/src/arm_thread_arch.c
 Category: Incorrect expression
 Function: test_arm_thread_swap
 Component: Tests
 CID: 203479
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18429 "[Coverity CID :203525]Incorrect expression in /tests/arch/arm/arm_thread_swap/src/arm_thread_arch.c"
Static code scan issues seen in File: /tests/arch/arm/arm_thread_swap/src/arm_thread_arch.c
 Category: Incorrect expression
 Function: alt_thread_entry
 Component: Tests
 CID: 203525
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18430 "[Coverity CID :203540]Incorrect expression in /tests/arch/arm/arm_zero_latency_irqs/src/arm_zero_latency_irqs.c"
Static code scan issues seen in File: /tests/arch/arm/arm_zero_latency_irqs/src/arm_zero_latency_irqs.c
 Category: Incorrect expression
 Function: test_arm_zero_latency_irqs
 Component: Tests
 CID: 203540
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18431 "[Coverity CID :203391]Null pointer dereferences in /tests/bluetooth/gatt/src/main.c"
Static code scan issues seen in File: /tests/bluetooth/gatt/src/main.c
 Category: Null pointer dereferences
 Function: test_gatt_read
 Component: Tests
 CID: 203391
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18432 "[Coverity CID :203502]Error handling issues in /tests/bluetooth/tester/src/gap.c"
Static code scan issues seen in File: /tests/bluetooth/tester/src/gap.c
 Category: Error handling issues
 Function: le_connected
 Component: Tests
 CID: 203502
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18433 "[Coverity CID :203431]Memory - corruptions in /tests/bluetooth/uuid/src/main.c"
Static code scan issues seen in File: /tests/bluetooth/uuid/src/main.c
 Category: Memory - corruptions
 Function: test_uuid_cmp
 Component: Tests
 CID: 203431
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18434 "[Coverity CID :203486]Memory - corruptions in /tests/bluetooth/uuid/src/main.c"
Static code scan issues seen in File: /tests/bluetooth/uuid/src/main.c
 Category: Memory - corruptions
 Function: test_uuid_cmp
 Component: Tests
 CID: 203486
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18435 "[Coverity CID :203481]API usage errors in /tests/crypto/tinycrypt/src/test_ecc_utils.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/test_ecc_utils.c
 Category: API usage errors
 Function: string2scalar
 Component: Tests
 CID: 203481
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18436 "[Coverity CID :203424]Control flow issues in /tests/kernel/common/src/sflist.c"
Static code scan issues seen in File: /tests/kernel/common/src/sflist.c
 Category: Control flow issues
 Function: test_sflist
 Component: Tests
 CID: 203424
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18437 "[Coverity CID :203478]Program hangs in /tests/kernel/common/src/sflist.c"
Static code scan issues seen in File: /tests/kernel/common/src/sflist.c
 Category: Program hangs
 Function: test_sflist
 Component: Tests
 CID: 203478
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18438 "[Coverity CID :203407]Incorrect expression in /tests/kernel/fp_sharing/float_disable/src/k_float_disable.c"
Static code scan issues seen in File: /tests/kernel/fp_sharing/float_disable/src/k_float_disable.c
 Category: Incorrect expression
 Function: test_k_float_disable_irq
 Component: Tests
 CID: 203407
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18439 "[Coverity CID :203437]Incorrect expression in /tests/kernel/fp_sharing/float_disable/src/k_float_disable.c"
Static code scan issues seen in File: /tests/kernel/fp_sharing/float_disable/src/k_float_disable.c
 Category: Incorrect expression
 Function: test_k_float_disable_syscall
 Component: Tests
 CID: 203437
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18440 "[Coverity CID :203439]Memory - corruptions in /tests/kernel/mem_protect/protection/src/main.c"
Static code scan issues seen in File: /tests/kernel/mem_protect/protection/src/main.c
 Category: Memory - corruptions
 Function: write_text
 Component: Tests
 CID: 203439
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18441 "[Coverity CID :203460]Memory - corruptions in /tests/kernel/mem_protect/protection/src/main.c"
Static code scan issues seen in File: /tests/kernel/mem_protect/protection/src/main.c
 Category: Memory - corruptions
 Function: execute_from_buffer
 Component: Tests
 CID: 203460
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18442 "[Coverity CID :203465]Memory - corruptions in /tests/kernel/mem_protect/protection/src/main.c"
Static code scan issues seen in File: /tests/kernel/mem_protect/protection/src/main.c
 Category: Memory - corruptions
 Function: write_text
 Component: Tests
 CID: 203465
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18443 "[Coverity CID :203454]Error handling issues in /tests/kernel/mem_protect/sys_sem/src/main.c"
Static code scan issues seen in File: /tests/kernel/mem_protect/sys_sem/src/main.c
 Category: Error handling issues
 Function: sem_multiple_threads_wait_helper
 Component: Tests
 CID: 203454
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18444 "[Coverity CID :203516]Memory - corruptions in /tests/kernel/mem_protect/userspace/src/main.c"
Static code scan issues seen in File: /tests/kernel/mem_protect/userspace/src/main.c
 Category: Memory - corruptions
 Function: write_kerntext
 Component: Tests
 CID: 203516
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18445 "[Coverity CID :203507]Error handling issues in /tests/kernel/mutex/sys_mutex/src/main.c"
Static code scan issues seen in File: /tests/kernel/mutex/sys_mutex/src/main.c
 Category: Error handling issues
 Function: test_main
 Component: Tests
 CID: 203507
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18446 "[Coverity CID :203532]Incorrect expression in /tests/kernel/sched/schedule_api/src/user_api.c"
Static code scan issues seen in File: /tests/kernel/sched/schedule_api/src/user_api.c
 Category: Incorrect expression
 Function: test_user_k_is_preempt
 Component: Tests
 CID: 203532
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18447 "[Coverity CID :203400]Integer handling issues in /tests/lib/fdtable/src/main.c"
Static code scan issues seen in File: /tests/lib/fdtable/src/main.c
 Category: Integer handling issues
 Function: test_z_finalize_fd
 Component: Tests
 CID: 203400
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18448 "[Coverity CID :203429]Integer handling issues in /tests/lib/fdtable/src/main.c"
Static code scan issues seen in File: /tests/lib/fdtable/src/main.c
 Category: Integer handling issues
 Function: test_z_free_fd
 Component: Tests
 CID: 203429
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18449 "[Coverity CID :203458]Integer handling issues in /tests/lib/fdtable/src/main.c"
Static code scan issues seen in File: /tests/lib/fdtable/src/main.c
 Category: Integer handling issues
 Function: test_z_get_fd_obj_and_vtable
 Component: Tests
 CID: 203458
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18450 "[Coverity CID :203505]Integer handling issues in /tests/lib/fdtable/src/main.c"
Static code scan issues seen in File: /tests/lib/fdtable/src/main.c
 Category: Integer handling issues
 Function: test_z_reserve_fd
 Component: Tests
 CID: 203505
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18451 "[Coverity CID :203528]Integer handling issues in /tests/lib/fdtable/src/main.c"
Static code scan issues seen in File: /tests/lib/fdtable/src/main.c
 Category: Integer handling issues
 Function: test_z_alloc_fd
 Component: Tests
 CID: 203528
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18452 "[Coverity CID :203463]Memory - corruptions in /tests/lib/ringbuffer/src/main.c"
Static code scan issues seen in File: /tests/lib/ringbuffer/src/main.c
 Category: Memory - corruptions
 Function: test_ringbuffer_raw
 Component: Tests
 CID: 203463
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18453 "[Coverity CID :203480]Null pointer dereferences in /tests/net/context/src/main.c"
Static code scan issues seen in File: /tests/net/context/src/main.c
 Category: Null pointer dereferences
 Function: net_ctx_get_success
 Component: Tests
 CID: 203480
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18454 "[Coverity CID :203499]Null pointer dereferences in /tests/net/icmpv6/src/main.c"
Static code scan issues seen in File: /tests/net/icmpv6/src/main.c
 Category: Null pointer dereferences
 Function: test_icmpv6
 Component: Tests
 CID: 203499
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18455 "[Coverity CID :203490]Error handling issues in /tests/net/socket/net_mgmt/src/main.c"
Static code scan issues seen in File: /tests/net/socket/net_mgmt/src/main.c
 Category: Error handling issues
 Function: test_net_mgmt_setup
 Component: Tests
 CID: 203490
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18456 "[Coverity CID :203401]Security best practices violations in /tests/net/traffic_class/src/main.c"
Static code scan issues seen in File: /tests/net/traffic_class/src/main.c
 Category: Security best practices violations
 Function: traffic_class_recv_packets_with_prio
 Component: Tests
 CID: 203401
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18457 "[Coverity CID :203419]Security best practices violations in /tests/net/traffic_class/src/main.c"
Static code scan issues seen in File: /tests/net/traffic_class/src/main.c
 Category: Security best practices violations
 Function: traffic_class_send_packets_with_prio
 Component: Tests
 CID: 203419
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18458 "[Coverity CID :203422]Memory - illegal accesses in /tests/subsys/fs/littlefs/src/testfs_util.c"
Static code scan issues seen in File: /tests/subsys/fs/littlefs/src/testfs_util.c
 Category: Memory - illegal accesses
 Function: testfs_path_init
 Component: Tests
 CID: 203422
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18459 "[Coverity CID :203509]Null pointer dereferences in /tests/subsys/usb/desc_sections/src/desc_sections.c"
Static code scan issues seen in File: /tests/subsys/usb/desc_sections/src/desc_sections.c
 Category: Null pointer dereferences
 Function: check_endpoint_allocation
 Component: Tests
 CID: 203509
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18460 "[Coverity CID :203527]Parse warnings in /usr/include/unistd.h"
Static code scan issues seen in File: /usr/include/unistd.h
 Category: Parse warnings
 Function:
 Component: Other
 CID: 203527
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:40] aasthagr opened #18461 "[Coverity CID :203487]Parse warnings in /usr/lib/gcc/x86_64-redhat-linux/8/include/stdint-gcc.h"
Static code scan issues seen in File: /usr/lib/gcc/x86_64-redhat-linux/8/include/stdint-gcc.h
 Category: Parse warnings
 Function:
 Component: Other
 CID: 203487
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-17 20:44] aasthagr commented on #18382
[code]

[2019-08-17 20:46] aasthagr commented on #18374
[code]

[2019-08-17 20:46] aasthagr commented on #18353
[code]

[2019-08-17 20:47] aasthagr commented on #18359
[code]

[2019-08-17 20:48] aasthagr commented on #18407
[code]

[2019-08-17 20:50] aasthagr commented on #18444
[code]

[2019-08-17 20:51] aasthagr commented on #18361
[code]

[2019-08-17 20:51] aasthagr commented on #18398
[code]

[2019-08-17 20:54] aasthagr commented on #18397
[code]

[2019-08-17 20:54] aasthagr commented on #18406
[code]

[2019-08-17 20:55] aasthagr commented on #18459
[code]

[2019-08-17 20:56] aasthagr commented on #18445
[code]

[2019-08-17 20:57] aasthagr commented on #18450
[code]

[2019-08-17 22:58] pabigot commented on #18351
A summary of the analysis only; I'd prefer @nordic-krch take on this task as it appears to be complex.

The path this code takes through the logging system involves counting the number of arguments and caching one `log_arg_t` value for each one in an array, then reconstructing the original call stack in the output context.

The count is a simple scan for the number of conversion specifiers.  It do

[2019-08-17 23:08] pabigot opened #18462 "potential buffer overrun in logging infrastructure"
The logging infrastructure counts conversion specifiers present in the format string, then copies arguments from the varargs reference into a stack local for storage in a log message structure.  The number of arguments copied needs to be capped so that the local array is not overrun.

[2019-08-18 07:46] aescolar commented on #18431
@jhedberg

[2019-08-18 07:46] aescolar commented on #18434
@jhedberg

[2019-08-18 07:46] aescolar commented on #18433
@jhedberg

[2019-08-18 07:47] aescolar commented on #18432
@jhedberg

[2019-08-18 08:00] aescolar commented on #18460
@aasthagr This seems like something that should be waved(?) Can you please take it?

[2019-08-18 08:01] aescolar commented on #18461
@aasthagr This seems (also) like something which should be waved(?)

[2019-08-18 08:19] pabigot opened #18465 "timeutil_timegm() has undefined behavior"
Discussion in #18346 makes clear that the implicit undefined behavior of this function in cases where `time_t` cannot represent the true value needs to be addressed.  Do this before the API is part of a Zephyr release.

[2019-08-18 08:34] aescolar commented on #18391
@JunYangNXP Could you please look at this?

[2019-08-18 08:38] aescolar commented on #18373
@erwango: Would you be able to take a look at this?

[2019-08-18 09:23] aescolar commented on #18366
@bbolen this code come from your PR #9316 from this commit https://github.com/zephyrproject-rtos/zephyr/commit/4ef9d4b6bf6adfbca6b7c4a33e7a89e7e3186edd , could you take a look at it?

![image](https://user-images.githubusercontent.com/32480799/63222575-29b77200-c1aa-11e9-9e8e-9c6829f17180.png)