[2021-12-16 13:47] alwa-nordic opened #41268 "`bt_gatt_cancel` type mismatch"
Current implementation follows. Note comment about type mismatch (added here).
[code]

**Impact**
`bt_gatt_cancel` is completely non-functioning and possibly invokes undefined behavior.

**Fixes**
Two alternative PR's are provided. One removes `bt_gatt_cancel`. And one fixes it.

I believe `bt_gatt_cancel` has no value for our users and should be removed. It has been broken for some time now and n

[2021-12-16 15:28] jhedberg commented on #41140
@npal-cy in your original proposal with the `__weak` function - where would you place your implementation of it?

[2021-12-16 15:29] henrikbrixandersen commented on #41255
@pdietl Please post a PR as soon as possible as this is causing CI failures.

[2021-12-16 15:30] henrikbrixandersen commented on #41255
Raising priority since this is causing CI failures.

[2021-12-16 15:31] ppryga commented on #40317
`ASSERTION FAIL [node_rx] @ WEST_TOPDIR/zephyr/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_df.c:231`
This assertion is caused by lack of free `node_rx_iq_report` when attempt to enable reception of CTE.
This may be caused by one of following:
- too slow handling of IQ reports in thread context or other way around to many periodic syncs with very short interval,
- leakage of `node_rx_iq_report

[2021-12-16 15:42] cvinayak commented on #40317
@ppryga Fix for the lll_df.c  assertion on `node_rx` would be to add a `ull_df_iq_report_alloc_peek(2)` check here: https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sync.c#L944-L950

so that there is always one spare `node_rx` for the `lll_df_conf_cte_rx_enable()` to not fail.

We are close to a stable implementation :-)

[2021-12-16 15:55] PerMac opened #41272 "ci: twister: mcuboot: MCUboot tests are no longer executed in the CI"
**Describe the bug**
MCUboot tests from https://github.com/zephyrproject-rtos/mcuboot/blob/main/boot/zephyr/sample.yaml are no longer executed in the CI runs, even for PRs updating the manifest:mcuboot (e.g. https://github.com/zephyrproject-rtos/zephyr/pull/41262). I guess it is because scripts/ci/test_plan.py only adds configurations from the default folders i.e zephyr/tests and zephyr/samples an

[2021-12-16 17:16] npal-cy commented on #41140
hi Johan,

I planed to locate it in the hal_infineon repo (cyw43xxx.c file):
[code]

in zephyr\drivers\bluetooth\hci\Kconfig, i will add the options to select CYW44xxx with depends on H4 driver:
[code]

i attached initial version of cyw43xxx.c
[cyw43xxx.txt](https://github.com/zephyrproject-rtos/zephyr/files/7729224/cyw43xxx.txt)

Regards,
Nazar

[2021-12-16 17:33] jhedberg commented on #41140
@npal-cy thanks for the overview. I think the general guidance is that if there's something purely Zephyr-specific in a HAL tree (as is the case with this HCI driver extension) it should be moved into the Zephyr main tree itself, i.e. it would then sit alongside of the other HCI drivers in Zephyr. Other parts might have to be elsewhere though. Having the CYW43XXX HCI driver extension in the main t

[2021-12-16 18:15] BenjaminDeuter commented on #39037
At [Geek in Business GmbH](https://geekinbusiness.de/) we are interested in using Civetweb on top of newlibc. [Thanks to some posts from @stephanosio about how defining _GNU_SOURCE affects newlibc](https://github.com/search?q=org%3Azephyrproject-rtos+_GNU_SOURCE&type=issues) , I was able to get the http_server and websocket_server sample to run successfully with only a few lines of patches. I am p

[2021-12-16 18:35] jhedberg commented on #41140
Since this vendor command sequence is implemented (in terms of Kconfig and c-file placement) as an extension of a HCI driver, and it does direct access to the `struct device` representing the UART, I'm not sure if it's right to place this on the host side. We might want to consider replicating the Linux solution for this, where HCI drivers provide a `setup()` callback, which would get called some

[2021-12-16 18:54] jhedberg commented on #41140
That said, I *think* this might also work as a `h4.c` driver-internal extension of `h4_open()`, before that function returns. Isn't everything set and ready for HCI command & event processing at that point? It'd then be done similar to the existing `bt_hci_transport_setup()` that's called in the beginning of `h4_open()`. @carlescufi would be good to hear your thoughts on this in particular, since

[2021-12-16 19:33] peter-mitsis commented on #36531
So I've been pondering this for a while. There are several methods available on how to do this.

1. Create a new type of kernel object to cover this use case.
2. Change the existing API *init* APIs so that they accept an *options* parameter.
3. Create a variant of the k_msgq_put() API that accepts an *options* parameter.
4. Create a new API through which its *flags* field can be modified post init

[2021-12-17 00:19] cvinayak commented on #41140
I second this, to have `setup()` callback that is implemented in a Kconfig selectable driver struct (field assignment). And the implementation resides in drivers rather than in host.

For the case of nRF51_pm that is referred in bca3deb1e7352f3d4813b0f0c2c9212d909709fb , the transport setup will be prior to `setup()`, i.e. the transport setup seems to be between UART open and UART thread being sta

[2021-12-17 00:57] catch-twenty-two opened #41281 "Style Requirements Seem to Be Inconsistent with Uncrustify Configuration"
There seem to be an inconsistency with the required stylistic formatting outlined in the style guide and the formatting settings for Uncrustify. This makes it difficult for new code submissions to conform to what is outlined in the contribution guide and what is expected from the community.

I agree that it's annoying, and unfortunately tooling like uncrustify seem to be outdated or not working as

[2021-12-17 01:42] #40775 closed

[2021-12-17 01:43] #31748 closed

[2021-12-17 06:38] ppryga commented on #40317
@cvinayak yes, indeed. There is more to be done there. That is what I'm going to do when I start my task with memory usage optimization. This assert will be fixed then also.

[2021-12-17 07:03] povergoing opened #41284 "pthread_cond_wait return value incorrect"
**Describe the bug**
The `pthread_cond_wait` always returns `ETIMEDOUT`

I try to use `pthread_cond_wait` and find that its return value is always `ETIMEDOUT`, even the thread is wakened normally.

**To Reproduce**
https://github.com/zephyrproject-rtos/zephyr/blob/c3715da5d95c10527e65624d47954987037f50c5/tests/posix/common/src/pthread.c#L100

we can easily check the return value here.
And I think

[2021-12-17 07:26] povergoing opened #41285 "pthread_once has incorrect behavior"
As described in https://pubs.opengroup.org/onlinepubs/7908799/xsh/pthread_once.html or https://linux.die.net/man/3/pthread_once:

After checking a lot of example codes, we should init the `once_control ` param with `PTHREAD_ONCE_INIT`. However, the implementation here
https://github.com/zephyrproject-rtos/zephyr/blob/c3715da5d95c10527e65624d47954987037f50c5/lib/posix/pthread.c#L337 seems incorrect

[2021-12-17 07:48] LuoZhongYao opened #41286 "Bluetooth SDP: When the SDP attribute length is greater than SDP_MTU, the attribute is discarded"
**Describe the bug**
When the length of an attribute in the SDP record is greater than SDP_MTU,
the select_attrs function discards the attribute.

**To Reproduce**
1. Configure an SDP service so that the length of one of the attributes is greater than SDP_MTU
2. Connect ZEPHYR via Bluetooth
3. Through the Bluetooth HCI log, it can be found that the attribute in the SDP returned by ZEPHYR
    retur

[2021-12-17 07:56] caco3 commented on #41256
Dear @cvinayak

Thank you for your explanations!
I am not sure if I yet understood it fully.
I have some further questions:
1. What means `bottom halves`?
2. You write `If using ZLI`. Do you mean the usage of `IRQ_ZERO_LATENCY` with this? Or the activation of one of the two flags `CONFIG_BT_CTLR_ZLI` or `CONFIG_ZERO_LATENCY_IRQS`? According to the docs the first one anyway depends on the 2nd one.

[2021-12-17 08:08] ipshiv commented on #40916
@cvinayak does The Nordic Thingy:52™ (nRF6936)  ok?

[2021-12-17 08:16] cvinayak commented on #41256
Controller does post-processing of PDUs and manages radio event scheduling etc, in a lower priority execution context. This is the bottom half of Radio H/w ISR (which is the top-half).

By `if using ZLI`, I mean `CONFIG_ZERO_LATENCY_IRQS=y`, `CONFIG_BT_CTLR_ZLI=y` and application defined ISR(s) use `IRQ_ZERO_LATENCY`

Zephyr Bluetooth Controller's bottom half ISRs consume > 100 us, but the Radio I

[2021-12-17 08:25] emillindq opened #41289 "shell: infinite error loop upon LOG_ERR in ISR context"
**Describe the bug**
When using uart SHELL & ASSERT, if LOG_ERR is called from an ISR context it will very soon enter into an infinite loop. This is a regression caused by https://github.com/zephyrproject-rtos/zephyr/pull/38960 . This line is the issue
https://github.com/zephyrproject-rtos/zephyr/blob/c3715da5d95c10527e65624d47954987037f50c5/subsys/shell/shell_ops.c#L513-L514
This function will be

[2021-12-17 08:45] remy-luisant commented on #6082
@frantony

All right, done. All except two tests passed the run with XIP forced on. This is due to libcxx failures again. It actually builds and fails at runtime, in test_exception. Otherwise, both be and le work fine. Once I have those two I will base myself on your latest work and put it up.

[2021-12-17 09:06] glin00 opened #41291 "LVGL touch event "LV_EVENT_LONG_PRESSED" can not be generated if I press the screen without lift up my finger"
**Describe the bug**
I am using lvgl as GUI library with zephyr.  The display which is an OLED display can be displayed ok using lvgl.  The OLED display touch function is working since I touch the display, the correct display x,y can be reported.  If I press the screen and lift up my finger, "LV_EVENT_CLICKED" can be generated within lvgl. But if I press the screen without lift up my finger ,"LV_E

[2021-12-17 09:08] jakkra commented on #40317
Hi @cvinayak @ppryga so far running with latest commits I only so far manage to get this crash:

[2021-12-17 09:56] hakehuang commented on #33747
looks like k64f does not has pps output pin.  From my testing the sync clock will varied in a range +/- 10ms in 2 hours.

[2021-12-17 10:04] FRASTM commented on #40089
done in [backport v2.7-branch] backport of #39722 #40120

[2021-12-17 10:04] #40089 closed

[2021-12-17 10:21] glin00 opened #41297 "QSPI flash need read, write via 4 lines not 1 line"
**Describe the bug**
The project I am working need to use QSPI flash to store some image data(ex. 5MB size of data).  QSPI flash read, write data is working without any problems, but I found that the flash_stm32_qspi_write routine uses QSPI_INSTRUCTION_1_LINE, QSPI_ADDRESS_1_LINE, QSPI_DATA_1_LINE to write data.  Is it possible that I can use   QSPI_DATA_4_LINES to increase the speed of write? The

[2021-12-17 10:26] erwango commented on #41297
No issue description. Closing

[2021-12-17 10:27] ainguraXmarquiegui commented on #33747
@hakehuang , can you describe your test setup in detail?

[2021-12-17 10:31] hakehuang commented on #33747
noe special setup, just use linux-ptp on my laptop(OS ubuntu) and connect with board directly

[2021-12-17 10:32] ainguraXmarquiegui commented on #33747
@hakehuang , please, share details about the NIC model on your laptop, ubuntu version,  linux-ptp version and linux-ptp config file.

[2021-12-17 10:39] hakehuang commented on #33747
dell latitude
ubuntu 20.20
NIC Intel 82579LM
gptp software: AVnu  gptp from https://github.comAVnu/gptp.git
![Image 2](https://user-images.githubusercontent.com/800198/146531932-af1f60fb-dfa7-478b-be4f-3710db23fd02.png)

[2021-12-17 10:56] caco3 commented on #41256
Dear @cvinayak

Thank you once more for your support!

I think I understood it now enough.
I adjusted the priorities according your suggestion and I do now no longer have the data lose.

I still get occationally a `ASSERTION FAIL [!radio_is_ready()] @ WEST_TOPDIR/zephyr/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c:324`. I think this is because my interrupt handler is to slow and I am sp

[2021-12-17 11:26] mmterkc opened #41299 "IS25LP016D SPI NOR FLASH PROBLEM"
Hi everyone, I use custom board. Custom board have nrf52833 and IS25LP016D SPI NOR FLASH. I changed device tree for my custom board but I get SPI flash driver is25lp016d was not found! error. How can I solve these problem?
My code:
/*
 * Copyright (c) 2016 Intel Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr.h>
#include <drivers/flash.h>
#include <device.h>
#include <

[2021-12-17 11:26] glin00 commented on #41297
@erwango , please open up this issue since I had filled up all the information I know. If there is any information not enough, please let me know. Thanks.

[2021-12-17 11:41] cvinayak commented on #40317
@jakkra did you forget to paste something here ^^

[2021-12-17 11:43] cvinayak commented on #40916
@ipshiv I dont have Thingy:52, but you could make the sample and I can use as nRF52832 DK, if sensors are not required to reproduce the assertions.

[2021-12-17 12:11] jakkra commented on #40317
Hi @cvinayak and @ppryga I have now tested more see below for details:
Yes I somehow accadently pressed comment to early :)
1.
Happens every ~20 min
[code]
2.
This assert only happend once so far:
[code]

3.
A new behaviour: the `sync term_cb` is sometimes called before my "create sync timeout" hits with error code 62 (0x3E)
It comes from here: https://github.com/cvinayak/zephyr/blob/github_period

[2021-12-17 12:30] erwango commented on #41297
@glin00 Can you have a look to https://github.com/zephyrproject-rtos/zephyr/pull/40859, to see if filling the gap ?

[2021-12-17 12:31] erwango commented on #41297
Also, @glin00 please make the effort to distinguish 'bug' from 'enhacement'.

[2021-12-17 14:46] nvlsianpu commented on #40453
@richesonk Thanks for the info. I was looking into littlefs a little - It would take lot of time to acquire deep knowledge on its implementation.

[2021-12-17 17:24] #41222 closed

[2021-12-17 17:49] #41251 closed

[2021-12-17 20:24] rerickson1 opened #41313 "LwM2M: make transport agnostic"
**Is your enhancement proposal related to a problem? Please describe.**
Currently the LwM2M engine is tightly coupled to sending/receiving data with sockets.
There's no reason this can't be decouple to allow sending over other transports therefore removing the dependency on the networking stack.

**Describe the solution you'd like**
Decouple the LwM2M engine from networking and sockets.
1. Decoupl

[2021-12-17 20:24] rerickson1 commented on #41313
@rlubos curious if you have any thoughts or further input on this.

[2021-12-17 20:35] Vudentz commented on #40920
First Server and Client are GATT roles and there can be used simultaneously in a connection. Typically each profile has a service specification which defines the GATT attributes to be implemented by the Server and a Profile implementation that specifies the client procedures to access the GATT attributes of the Service, now there are some profiles that only have a service specification so they eit

[2021-12-17 21:23] adamfowleruk opened #41314 "RFC: Re-use of Manufacturer ID by other Linux Foundation projects"
## Introduction

The Herald Project, part of Linux Foundation Public Health, has been talking to the Bluetooth SIG about becoming a member and registering service UUIDs and Manufacturer IDs for use in Bluetooth Proximity (including, but not limited to, COVID-19 Digital Contact Tracing apps). The latest suggestion to a resolution it to re-use the existing Linux Foundation manufacturer ID which is c

[2021-12-18 00:29] #37390 closed

[2021-12-18 00:29] #37299 closed

[2021-12-18 00:39] cvinayak commented on #40317
@jakkra

Asserts 1 and 2:
These occur when the lower link layer radio event scheduling pipeline overflows. Would happen if many radio events are getting scheduled too quickly, will need to review the time reservations used.

For 3.
Yes, `term_cb` will be called when sync failed to be established. If there are no buffers to receive a radio PDU during sync create, and 6 periodic intervals have passe

[2021-12-18 03:15] enjiamai opened #41317 "ADSP: Many kernel test cases which have CONFIG_MP_NUM_CPUS=1 failed in daily testing"
**Describe the bug**
About one half of test cases failed. The symptom is it hangs up without any log output.
It only happens on test cases which CONFIG_MP_NUM_CPUS=1

 - What target platform are you using?  intel_adsp_cavs15
 - What have you tried to diagnose or workaround this issue? The PR https://github.com/zephyrproject-rtos/zephyr/pull/41283 will fix this problem.

**To Reproduce**
Steps to r

[2021-12-18 05:16] cvinayak commented on #41256
Please keep your timer interrupt priority level lower, i.e. a priority value greater than 1, so that radio ISR priority value is kept at 0. This way Radio ISR can pre-empt your timer interrupt. I believe Radio ISR should not add more than 50 us latency for the timer ISR keep at priority value  greater than 1.

[2021-12-18 05:29] cvinayak commented on #41256
Are you sure you have set the zephyr priority value for your timer to 1  and not using `IRQ_ZERO_LATENCY` ?
Radio ISR should be at zephyr priority value of 0, and pre-empt your timer ISR, this way Radio ISR should not be impact by the timer ISR duration.

Try using these:

[2021-12-18 06:42] manoj153 opened #41318 "stm32: counter: making counter date-time friendly"
I have great interest to support the RTC datetime feature for STM32 mainly.

Should I poke the counter driver and its subsystem?

It is a simple exercise to introduce 2 API as a solution:

- set_system_time(struct tm *now)
- get_system_time(struct tm *now)

Please let me know if this is the right way of doing it?

[2021-12-18 12:20] #36580 closed

[2021-12-18 12:57] cfriedt commented on #39061
Merged Oct 19

[2021-12-18 12:57] #39061 closed

[2021-12-18 12:58] #41117 closed

[2021-12-19 00:29] #39110 closed

[2021-12-19 22:49] binujacob1337 commented on #41095
@aurel32 Could you please provide the details of build environment that needed the fix in  #35417?

[2021-12-19 22:55] aurel32 commented on #41095
I used the Zephyr toolchain (version available around that time), on a SAM E70 board. That was using the posix/gettimeofday without any further changes. I am not sure I remember more details, sorry.

[2021-12-19 23:05] binujacob1337 commented on #41095
Thanks for the board info @aurel32!

[2021-12-20 01:07] ycsin commented on #41318
You might be interested in #23526

[2021-12-20 02:07] kaiser-ren opened #41329 "LE Audio: unicast_audio_server uses extended advertising PDU"
According to BAP v1.0 section 3.5.3, unicast server needs to transmit connectable extended advertising PDU to contain ASCS UUID, announcement type and available audio context.

Current head of commit is still using ADV_IND and lack of announcements type and available audio context.

[2021-12-20 02:33] cvinayak commented on #40317
@jakkra I have fixed an incorrect buffer usage, please use latest changes in the PR https://github.com/zephyrproject-rtos/zephyr/pull/41091 for your testing

[2021-12-20 07:49] AllemanMa commented on #38846
The driver seems to not initiate device-side announcements or probing at startup as described in section 8: https://datatracker.ietf.org/doc/html/rfc6762#section-8. This causes my device to remain undiscovered when the server has avahi-daemon running.

[2021-12-20 08:24] rlubos commented on #41313
We have something like this in MQTT, where we implement multiple transports, and user can select which one to use when initializing client (https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/lib/mqtt/mqtt_transport.h) - I think we could implement something similar for LwM2M as well.

Or were you rather thinking about being able to disable LwM2M thread entirely, and handle the commun

[2021-12-20 08:33] LixinGuoX opened #41331 "tests: drivers: disk: fail to handle no SD card situation"
**Describe the bug**
When run this test case on boards with no SD cards inserted, test gets failed. I think this case should be
skipped if the hardware does not match the requirement. Therefore, if you run many test cases together,
you will not get unexpected failure.

**To Reproduce**
Steps to reproduce the behavior:
run test cases on board with no SD card inserted.

**Expected behavior**
Boards

[2021-12-20 08:36] erwango commented on #41318
I think the recent RTC API proposal would answer your request: https://github.com/zephyrproject-rtos/zephyr/pull/41287.
Question remains: how to make it works with https://github.com/zephyrproject-rtos/zephyr/pull/28977

[2021-12-20 08:58] ainguraXmarquiegui commented on #33747
@hakehuang , I have just tested avnu-gptp once again.

I am using the latest revision available in master (https://github.com/Avnu/gptp/commit/0baef8a36a13105112862919aac0f1eed21a44ea).

Config file is this: https://github.com/zephyrproject-rtos/zephyr/files/7134289/08-hp-intel-I210-avnugptpmaster.cfg.txt

My results are very different from yours:

[code]

How can we move forward?

[2021-12-20 09:08] jakkra commented on #40317
Hi @cvinayak thanks for the update and answered quiestions! Makes sense. I'm now using your latest updates.
Adding this crash to the list and I have also attached the zephyr.elf so that you can decode if I missed to decode something:
[zephyr.zip (elf is inside the zip as GitHub does not let me upload .elf)](https://github.com/zephyrproject-rtos/zephyr/files/7743934/zephyr.zip)

[code]

[code]

[2021-12-20 09:32] adamfowleruk commented on #34595
If it helps, we have a C++ one that is Apache-2.0 licensed in Herald. Code could be adapted for C in Zephyr, or in your app.

Header: https://github.com/theheraldproject/herald-for-cpp/blob/develop/herald/include/herald/datatype/uuid.h
Implementation: https://github.com/theheraldproject/herald-for-cpp/blob/develop/herald/src/datatype/uuid.cpp

There's a UUID::random() that ensures a valid V4 UUID

[2021-12-20 09:40] hakehuang commented on #33747
@ainguraXmarquiegui there are two difference I can see.

you code base is different from I was. https://github.com/hakehuang/zephyr/commits/eth_thread
commit: 5204bead0bd9b28949b287ce8b6450665fe13024

and

neighborPropDelayThresh = 100000

[2021-12-20 09:49] ainguraXmarquiegui commented on #33747
@hakehuang , my previous test was already done on that code base.

I have run the test again with `neighborPropDelayThresh = 100000`

Here's the full config file just in case:
[gptp_cfg.txt](https://github.com/zephyrproject-rtos/zephyr/files/7744314/gptp_cfg.txt)

And here's the result. Note how you can verify the code base used on the `Booting Zephyr OS` line:

[code]

A few minutes later, here's

[2021-12-20 10:26] hakehuang commented on #33747
@ainguraXmarquiegui ,  do you run 'west update' before build?

[2021-12-20 10:29] lmajewski commented on #41297
@glin00 The PR #40859 mentioned by @erwango shall fulfill this enhancement request.

[2021-12-20 10:56] ainguraXmarquiegui commented on #33747
@hakehuang I do run `west update` before build, yes.

Every module updates OK, except `hal_nxp`, so I go and manually checkout https://github.com/NXPmicro/hal_nxp/commit/2d7a8a4de179e9010b3be013a2f64f0103768c06 for the nxp_hal

Here you can see a log of how I do it:

[west_update.txt](https://github.com/zephyrproject-rtos/zephyr/files/7744649/west_update.txt)

Here you can see all the revisions of

[2021-12-20 11:01] glin00 commented on #41291
After I trace code, I found that ,within indev_proc_press function (line 975), proc->pr_timestamp (press screen time stamp) always equal to sys_time.  This causes lv_tick_elaps return a value not greater than indev_act->driver.long_press_time.
 As a result, LV_SIGNAL_LONG_PRESS can not be triggered.
Can any one help why  proc->pr_timestamp is always equal to sys_time?

[2021-12-20 11:20] hakehuang commented on #33747
@ainguraXmarquiegui

[code]

[code]

[2021-12-20 11:23] ainguraXmarquiegui commented on #33747
@hakehuang , it seems we are running the same code base.

Are you still working on any new fixes? Should we find out why we are seeing this difference?

[2021-12-20 11:32] hakehuang commented on #33747
sorry, I push the code to bitbucket, forget to update, just pushed

https://github.com/hakehuang/zephyr/commits/eth_thread
hal_nxp: 2d7a8a4de179e9010b3be013a2f64f0103768c06
zephyr: 5b313b6192a5085c07f4fec9b756bb1739fe0158

[2021-12-20 11:34] ainguraXmarquiegui commented on #33747
OK, thanks. west update now works OK, but the code has not changed, so there's no use in testing again.

How should we move forward?

[2021-12-20 12:02] hakehuang commented on #33747
what is your testing PC brand? from my side the clock shows converged, but it is not work at all at your side. would this possible to download my binary?
[zephyr.zip](https://github.com/zephyrproject-rtos/zephyr/files/7745069/zephyr.zip)

[2021-12-20 12:45] ainguraXmarquiegui commented on #33747
My PC is a Lenovo desktop PC with an Intel I210 NIC.

Before I flash your binary: What board is it compiled for?

[2021-12-20 12:57] carlescufi commented on #40433
@xudongzheng thanks. I assume you use an external J-Link debugger with that board, right?

[2021-12-20 13:03] carlescufi commented on #40433
I tried [your sample](https://github.com/xudongzheng/zephyr-rtt-bug) on an nRF52840 DK and could not reproduce the issue:
[code]

Maybe there's something else that we are missing, but the timer callback is invoked on ISR context, and so you are calling `printk()` from ISR, which is probably not a great idea.

[2021-12-20 13:16] #40433 closed

[2021-12-20 13:16] carlescufi commented on #40433
Please reopen if you think this is indeed a bug.

[2021-12-20 13:31] jakkra commented on #40317
Ok realised I did not have CONFIG_ASSRET=y on in my test application so I got some new asserts which I saw when testing the more advanced application, however can be reproduced with the sample I attached earlier, just set
CONFIG_ASSERT=y

You also need  CONFIG_BT_BUF_ACL_RX_SIZE=300 otherwise you get this assert also:

ASSERTRTION FAIL [index >= 0 && ((long) (((int) sizeof(char[1 - 2 * !(!__builti

[2021-12-20 13:32] carlescufi commented on #39216
This is essentially this issue: #33590

[2021-12-20 14:06] Thalley commented on #41207
Been looking into this, and found the following challenges:

1. `UTIL_LISTIFY` would need to be used for this, however `UTIL_LISTIFY` cannot be used with itself, so for services that use the `BT_GATT_SERVICE_INSTANCE_DEFINE` macro.
2. Some characteristics also have a CCC (BT_GATT_CCC). Making a single macro that works for characteristics with and without CCC will be extremely bothersome, if not im

[2021-12-20 14:07] brgl commented on #38305
PRs just dropped:

https://github.com/zephyrproject-rtos/zephyr/pull/41336
https://github.com/zephyrproject-rtos/lvgl/pull/15

[2021-12-20 14:39] carlescufi commented on #27772
Closing this are resolved, but feel free to reopen @kisvegabor

[2021-12-20 14:39] #27772 closed

[2021-12-20 14:43] carlescufi commented on #26648
Closing this for now @parthitce. Please create a new one if you plan to add a new module.

[2021-12-20 14:43] #26648 closed

[2021-12-20 14:46] carlescufi commented on #14528
This is currently being covered by https://github.com/zephyrproject-rtos/zephyr/pull/40669, but I will send a PR for the doc

[2021-12-20 14:50] #14528 closed

[2021-12-20 14:51] Thalley commented on #40920
I'm not sure that's strictly correct. We have profiles that specify roles without the use of any services (e.g. broadcast source and sink), and some roles the use multiple services (e.g. unicast server).

I think it is important to keep in mind that service != server, and profile != client - In fact some of the profiles roles are not even clients or servers at all!

I like this idea, and is what I

[2021-12-20 15:07] kisvegabor commented on #27772
I've just asked about this topic in the [new PR](https://github.com/zephyrproject-rtos/zephyr/pull/41336#issuecomment-998005106). Let's discuss it there.

[2021-12-20 15:42] Thalley commented on #41207
Closing due to the reasons stated in https://github.com/zephyrproject-rtos/zephyr/issues/41207#issuecomment-997954339.
The few services that need this solution will implement as needed.

[2021-12-20 15:42] #41207 closed

[2021-12-20 15:44] Thalley commented on #37770
Once BAPS have been upstreamed, we should revisit this and refactor the BT_AUDIO Kconfig.

[2021-12-20 15:46] Thalley commented on #41212
Alternative to offloading this to the application, the stack could use the BT_SETTINGS to store the information itself.

[2021-12-20 17:10] andreacampanella opened #41339 "stm32, Unable to read UART while checking from Framing error."
I'm implementing DMX512 input on an F4.

Reading it's done at 250000 bauds, the Break and the Mark After Break it's at 100000 so it's common practice to detect a framing error instead of switching baudrate or edge detection.

I have an interrupt handler for the UART IRQ, inside it I have this piece of code:

    while (uart_irq_update(dev) && uart_irq_is_pending(dev)) {
       if (uart_irq_rx_read

[2021-12-20 17:30] carlescufi commented on #35316
No, it has not actually. Let me reopen it.

[2021-12-20 17:31] carlescufi commented on #35316
@jfischer-no could you comment on @nordic-krch's questions?

[2021-12-20 17:48] #41062 closed

[2021-12-20 18:18] #39216 closed

[2021-12-20 20:46] carlescufi commented on #27772
Reopening this @kisvegabor, I think it makes sense to keep it open for now.

[2021-12-21 00:26] danieldegrasse opened #41347 "tests: kernel: RT1170 fails test_kernel_cpu_idle"
**Describe the bug**
test_kernel_cpu_idle is failing on the RT1170 evaluation board. This regression was introduced with #39449.

The core issue is that the GPT timer driver uses a very slow (32KHz) reference clock, so it must take extra steps to account for the speed of the clock. Once such step the driver takes is to avoid changing the capture value the timer will fire an interrupt at if the pri

[2021-12-21 00:29] #39212 closed

[2021-12-21 02:23] cvinayak commented on #40317
@jakkra The PR is updated (force pushed), please pull the latest set of commits in that PR. Two fixes added, increase event done count and to ensure auxiliary context parent field is reset to NULL.

I believe the fixes should mitigate the lll.c and lll_syn.c assertions (points 1 and 2 here https://github.com/zephyrproject-rtos/zephyr/issues/40317#issuecomment-996675933). Please test and revert bac

[2021-12-21 02:47] kevinwang821020 opened #41350 "Why use net_if_get_first_by_type(...) instead of net_if_get_default in dhcp4 test case from v.2.6.0."
In my opinion, is using net_if_get_default more appropriate than using net_if_get_first_by_type(&NET_L2_GET_NAME(DUMMY)) in tests/net/dhcpv4/src/main.c:434?

Reason:
If using the net_if_get_first_by_type(&NET_L2_GET_NAME(DUMMY)), the test program can only be tested through a fake network interface(GUMMY), it means that it won't  test the communicate between platform and DHCP server on the real net

[2021-12-21 03:27] hakehuang commented on #33747
it is RT1060, do you have it?

[2021-12-21 05:04] grantramsay opened #41352 "uart_esp32_poll_in returns incorrect value"
[uart_poll_in](https://docs.zephyrproject.org/latest/reference/peripherals/uart.html#c.uart_poll_in) states the return value is zero on success else negative error code, however `uart_esp32_poll_in` returns 1 on success:

[code]

This can be seen on the "main" branch, the current releases use a different implementation

[2021-12-21 07:06] Nam97UTC opened #41354 "Linker: ARM64: the binary file always constains .bss section."
Hello everyone, I have a concern about linker file of ARM64 as described below:
### Description
With the `.bss` section is placed above `.data`, so binary file always constains `.bss` section.
https://github.com/zephyrproject-rtos/zephyr/blob/38ce8d615d4b9d97e1b86d400a2c90ab75bbb5bd/include/arch/arm64/scripts/linker.ld#L237-L291
I saw that the linker file of ARM cortex-M7.

- If `CONFIG_USERSPACE

[2021-12-21 07:49] caco3 commented on #41256
Dear @cvinayak

You were right, I still had my timer flagged with `IRQ_ZERO_LATENCY`. I switched the flag now back to `0` and had no more BLE Assert crashes.
It runs now stable (as without crashing), how ever I still see occational data lose. Several times I saw now that my timer handler got delayed by `10.5ms` (!), althrough I need it to be called within `100us`. I will show the relevant snippets

[2021-12-21 08:00] Thalley opened #41355 "Bluetooth: API to determine if notification over EATT is possible"
**Is your enhancement proposal related to a problem? Please describe.**
The Hearing Aid Service (HAS) has a requirement that if sending notification over EATT is possible, then we shall send a notification over EATT, else indication over ATT.

Currently Zephyr have no way of exposing this information to the upper layers, nor any way for the upper layers to determine this themselves.

**Describe th

[2021-12-21 08:18] erwango commented on #41339
Seems that Line Break Detection is missing from `uart_stm32_err_check`;
I'm not sure about the reason why it is missing but we can try to fix this.

I can't test this myself right now, but maybe you can have a try to add the following, in `drivers/uart_stm32.c`, in function ``, just after the framing error detection and before clearing errors ([here](https://github.com/zephyrproject-rtos/zephyr/bl

[2021-12-21 08:58] caco3 commented on #41256
Update question:
Would it somehow be possible to update the `NRF_SPIM3->RXD.PTR` by PPI? That would solve the whole issue.

[2021-12-21 09:10] ainguraXmarquiegui commented on #33747
@hakehuang , I'm sad to report that flashing your binary shows lower numbers in the nsdiff log print, but it's always in the hundreds of microseconds ballpark. Much higher than the results you are showing.

See the captured log of one of the test runs I have done:

[minicom.log](https://github.com/zephyrproject-rtos/zephyr/files/7751027/minicom.log)

Also the PPS is not sync-ed at all, it's still

[2021-12-21 09:39] benediktibk commented on #41220
Just stumbled upon this: https://github.com/zephyrproject-rtos/hal_stm32/blob/34fe6f7332925417b5c7fbd1eed2414b2741c2e4/stm32cube/stm32h7xx/drivers/src/stm32h7xx_hal_pwr_ex.c#L350

Looks like HAL is also checking ACTVOSRDY.

[2021-12-21 09:48] jsiverskog opened #41359 "Bluetooth: connection times out when trying to connect from certain centrals"
**Describe the bug**
we're having a system consisting of (among other things) an nrf52840, running zephyr. it runs bluetooth (le) both as central and peripheral.

when acting as peripheral (no other connection set up), we're having issues when connecting from certain centrals. shortly after connecting we receive a disconnected event with reason 8 (timed out). to connect, we're using "audio midi se

[2021-12-21 10:27] carlescufi commented on #41256
Maybe @anangl can answer that

[2021-12-21 10:35] carlocaione commented on #41354
It still does:

https://github.com/zephyrproject-rtos/zephyr/blob/main/include/arch/arm/aarch32/cortex_m/scripts/linker.ld#L333-L358

just at a different offset.

[2021-12-21 10:44] jakkra commented on #40317
@cvinayak I have now been running 3 instances for a few hours and it seems as the ll.c and ll_sync.c crashes are resolved. To summarize the remaining crashes:
1. https://github.com/zephyrproject-rtos/zephyr/issues/40317#issuecomment-997732185
2. Crashes related to currupt/invalid IQ reports: https://github.com/zephyrproject-rtos/zephyr/issues/40317#issuecomment-997927667

3.
[code]
4.
[code]

[2021-12-21 10:53] cvinayak commented on #41359
From the sniffer logs:
The central is a Bluetooth v4.2 device:
![image](https://user-images.githubusercontent.com/6350656/146915523-d8bada60-a308-4599-a893-7f7f9a2188d8.png)

Central performs invalid procedure sequence, central should send PHY_UPDATE_IND or Unknown PDU response, not PHY_RSP
![image](https://user-images.githubusercontent.com/6350656/146915289-f2f95c23-9b4c-4fa5-ba15-22674f4e8952.pn

[2021-12-21 10:55] cvinayak commented on #41256
What value are you using for `TIMER_IRQ_PRIORITY`?

[2021-12-21 11:04] caco3 commented on #41256
I used priority 1.
Below a table of some notes (based on your explanations above):

![grafik](https://user-images.githubusercontent.com/1783586/146919733-25306a89-0789-4f4f-a7c5-c50fc4588437.png)

Would it work to change my timer interrupt priority also to 0?

[2021-12-21 11:14] tejlmand commented on #41354
@Nam97UTC  please read the history of this PR https://github.com/zephyrproject-rtos/zephyr/pull/21747 as to why there is this difference on the arm cortex-M linker script.

[2021-12-21 11:25] cvinayak commented on #41256
Ok, continue to keep `TIMER_IRQ_PRIORITY=1`.

Did you have these?
`CONFIG_BT_CTLR_ADVANCED_FEATURES=y` and
`CONFIG_BT_CTLR_ULL_HIGH_PRIO=2`

And please use lower priorities for other SoC peripherals used in your application by having the below

`#define NRF_DEFAULT_IRQ_PRIORITY 5`

inside your application folder in `dts/arm/nordic/override.dtsi`  file.

Maybe 10.5 ms latency seen could be from oth

[2021-12-21 11:31] Nam97UTC commented on #41354
Oki, thank you so much, I found it.

[2021-12-21 11:31] #41354 closed

[2021-12-21 12:08] cvinayak commented on #40317
Thank you @jakkra

I will work towards analyzing/reproducing the remain crashes (I do not have DF setup, hence will have to see if just modified periodic_adv and periodic_sync can reproduce them).

[2021-12-21 12:09] cvinayak commented on #40317
@jakkra  I believe issue 1 here https://github.com/zephyrproject-rtos/zephyr/issues/40317#issuecomment-997927667 is solved by using `CONFIG_BT_BUF_ACL_RX_SIZE=300`, right?

[2021-12-21 12:25] jakkra commented on #40317
Hi, @cvinayak you don't need any special setup to reproduce using DF. You can run it on any HW pretty much, like a few nRF52833 DKs. Obviously you won't have an antenna array connected, so that the IQ data you get won't make sense, but you still get them, that is what matters only. All issues can reproduced using the aoa_receiver_multiple.zip I attached to this comment: https://github.com/zephyrpr

[2021-12-21 12:46] cvinayak commented on #40317
@jakkra ok. I have 2 nRF52833 DK and 2 nRF5340 DK. Will use them next week (FYI, I will be away until 28th Dec) and respond here with my findings then.

I want to address any issues related to memory corruption i.e. issue 2 and 3 before 1  noted here https://github.com/zephyrproject-rtos/zephyr/issues/40317#issuecomment-998672279

I will sync up with @ppryga next week on issue with iq report. (I s

[2021-12-21 12:48] jukkar commented on #41350
Commented this question on mailing already.

The unit test programs are self contained i.e., they do not need any external network connections to verify functionality. If the unit test is run in a board that has for example Ethernet support, there could be multiple network interfaces created (Ethernet and Dummy). If the unit test would use net_if_get_default(), then we might get incorrect network

[2021-12-21 12:49] jukkar commented on #41350
Converting this to discussion as this is more appropriate there.

[2021-12-21 12:52] jakkra commented on #40317
@cvinayak Great, that will be enough, flash 2 nRF5340 and 1 nRF52833 with DF transmitter and 1 nRF52833 DK with receiver and you should be able to reproduce the issues. FYI I'll also be out of office until Jan 3, so won't have any feedback until then.
Thank you!

[2021-12-21 13:00] andreacampanella commented on #41339
Hey thanks about your answer, the modification seems to detect Breaks but I would like to test if futher, I will update when I have more data.

Do you want me to do a PR in case?

[2021-12-21 13:04] erwango commented on #41339
Thanks for the tests. Yes, don't hesitate to post a PR once you believe this is good to merge.

[2021-12-21 13:15] caco3 commented on #41256
ok

2x yes

Is there a way to check if this got correctly applied?
I have my own overlay and dts files so I would like to check this at runtime.

I will have to let it run for a few hours to check if it helps.

---
Something else I discovered, maybe not directly related to the IRQ priorities:
I often see (and also already saw before the `NRF_DEFAULT_IRQ_PRIORITY 5` change),  that the SPIM3 had 29

[2021-12-21 13:48] henrikbrixandersen commented on #41255
This was fixed in #41326. Closing.

[2021-12-21 13:48] #41255 closed

[2021-12-21 13:49] henrikbrixandersen commented on #41074
This was fixed by #41326. Closing.

[2021-12-21 13:49] #41074 closed

[2021-12-21 13:58] kisvegabor commented on #27772
Thanks. Although, unfortunately I can comment much on  "how would it be best to do it in Zephyr". However, if you have some requirements from LVGL's side to make your life easier, pleas let me know.

[2021-12-21 14:33] cvinayak commented on #41359
@jsiverskog Could this help? https://github.com/zephyrproject-rtos/zephyr/blob/8b3d7f2a4368e0144f2b9d57f9939cd438604b61/include/bluetooth/conn.h#L420-L422

You could initiate the PHY update in/after this callback `remote_info_available` after a check on the version?

[2021-12-21 14:45] carlescufi commented on #41359
@jsiverskog I think @joerchan might be able to help with this here or on Discord.

[2021-12-21 14:48] cvinayak commented on #41256
I have my own overlay and dts files so I would like to check this at runtime.

You can check the `zephyr.dts` file, the interrupt priorities should be 5 instead of 1.

[2021-12-21 14:49] jsiverskog commented on #41359
@cvinayak : that's what i tried, but the `remote_info_available` callback is called _after_ remote features have been read out, and according to the spec we can't trigger a phy update after that.

@carlescufi : i'll hit him up on discord. thanks.

[2021-12-21 15:03] cvinayak commented on #41359
Ok, may be I need to fix the controller then, to not perform the host initiated auto PHY update and give back a feature not supported error back.

Hmm, its already implemented that way, if PHY update is requested and controller has seen a feature exchange then the controller will return error.... see here: https://github.com/zephyrproject-rtos/zephyr/blob/8b3d7f2a4368e0144f2b9d57f9939cd438604b61/s

[2021-12-21 15:16] jhedberg commented on #41314
I don't see any obvious problems with reusing the LF manufacturer ID like this. The important thing is that the the context specific namespace is then managed somehow centrally. By context specific namespaces I'm talking about stuff like USB VID/DID pairs, Bluetooth Mesh vendor models & opcodes, etc. At least in those cases the manufacturer id acts as a namespace that then needs to be managed some

[2021-12-21 15:22] MeisterBob opened #41375 "hal_nordic: update 15.4 driver to newest version"
**Is your enhancement proposal related to a problem? Please describe.**
actually I'm strugling with an issue in the frame filter of nordic's IEEE802.15.4 driver (https://discord.com/channels/720317445772017664/883445320812466209/922478238155018280).

**Describe the solution you'd like**
The issue is already fixed in the driver included in NCS, please update zephyr's `hal_nordic` to the latest vers

[2021-12-21 15:49] jsiverskog commented on #41359
@cvinayak : i think you're right. but perhaps i'm running into some other issue. when i sniff i see the `LL_PHY_REQ` going out, but the central replies with `LL_REJECT_IND_EXT` (with error code 0x2a = "different transaction collision"). note sure exactly what that means, and what the other transaction is, but the phy is never updated 2M.

[sniffer capture](https://github.com/zephyrproject-rtos/zep

[2021-12-21 16:07] #39399 closed

[2021-12-21 16:23] carlescufi commented on #41375
@pkwiek @jciupis @e-rk @ankuns FYI, the community requests an update.

[2021-12-21 16:24] andreacampanella commented on #41339
I kept an eye on it all day and it's now behaved as expected, I created a PR.

[2021-12-21 16:33] hakehuang commented on #33747
what's your brand of testing laptop? let me try to find one like yours. it is way of strange.

[2021-12-21 16:54] carlescufi commented on #32238
This is now a duplicate of #40208

[2021-12-21 16:54] #32238 closed

[2021-12-21 16:55] carlescufi commented on #40208
The micro:bit now drives its display using a new, unified nRF LED matrix display, compatible with v1 and v2.

[2021-12-21 16:55] #40208 closed

[2021-12-21 16:59] carlescufi commented on #41291
@gmarull or @brgl any ideas?

[2021-12-21 17:08] xudongzheng commented on #40433
Thank you for trying to reproduce this issue. After getting the same problem on my nRF5340 DK, I realized that the issue might be how I was viewing the logs. It turns out that I needed to specify the full device name `NRF52840_XXAA` rather than just `NRF52`.

[code]

[2021-12-21 17:12] zpm1066 commented on #40208
Thank you all.

[2021-12-21 17:22] erwango commented on #41082
Fixed by https://github.com/zephyrproject-rtos/hal_stm32/pull/125

[2021-12-21 17:22] #41082 closed

[2021-12-21 17:23] erwango opened #41380 "stm32h7: Ethernet: Migrate driver to the new eth HAL api"
**Is your enhancement proposal related to a problem? Please describe.**
A new eth cube hal api is being pushed in STM32Cube (https://github.com/STMicroelectronics/stm32h7xx_hal_driver/pull/16).
It is first deployed to H7 series and will be then be progressively extended to other STM32 series.
This new HAL provides significant performance benefits and additional features (cf related github PR)
To u

[2021-12-21 17:24] carlescufi commented on #32516
Looks like @str4t0m has picked it up again recently and replied to your comment @lairdjm

[2021-12-21 17:27] cfriedt commented on #38846
Thanks for finding this! I see that it's part of the greater mdns picture (rfc6762) so I might create a separate issue for general mdns improvements.

[2021-12-21 17:33] erwango commented on #41380
FYI: @Nukersson, @lochej (as code owners), @alsrgv(as ptp contributor).
I'm assigning the issue to myself for now (as if I don't do it, someone else will do anyway),
but please don't hesitate to take it, if interested.

[2021-12-21 17:56] ainguraXmarquiegui commented on #33747
There is definitely something strange going on. I have just repeated the test, just to be sure. I have new findings to share. It turns our that if I run gPTP on my PTP master PC, I get the results I have reported above repeatedly.

However, if I run the PTP master PC on linuxPTP and your binary, the `nsdiff` numbers I am getting are much closer to the ones you reported. Sadly, the PPS signal is st

[2021-12-21 18:13] invoxiaamo opened #41382 "nordic nrf52/nrf53 and missing cpu-power-states (dts) for automatic device PM control"
Hi all.

I'm playing with nrf52 and nrf53 DK board in order to evaluate the power consumption.
- There is some general documentation (https://devzone.nordicsemi.com/nordic/nordic-blog/b/blog/posts/optimizing-power-on-nrf53-designs) to explain what to do.
- one specific example (zephyr/samples/boards/nrf/system_off) that show that UART (and any active device) must be suspend manually if we expect a

[2021-12-21 18:23] ankuns commented on #41375
Please note PR with update of the nrf_802154:
https://github.com/zephyrproject-rtos/hal_nordic/pull/108
https://github.com/zephyrproject-rtos/zephyr/pull/41383

[2021-12-21 20:10] tiborrr opened #41385 "SHT3xD example does not work on ESP32"
**Describe the bug**
The SHT3XD example does not work and returns SHT3XD: failed: -5. The root cause seems to come from the sensor_sample_fetch method.

Example does work for reel_board

**To Reproduce**
Steps to reproduce the behavior:
1. Add ESP32 overlay to sht3xd sensor example
[code]
2. change all `printf` to `printk` as `printf` does not work

**Expected behavior**
Example should print humid

[2021-12-21 23:56] larson-whisper commented on #30679
To ease the search for others, there is a PR open on puncover to fix the issue.  Applying the fix locally restored stack analysis for us.

https://github.com/HBehrens/puncover/pull/43/files

[2021-12-22 00:29] #39279 closed

[2021-12-22 00:59] #40419 closed

[2021-12-22 03:45] enjiamai opened #41388 "tests: coverage: test code coverage report failed on mps2_an385"
**Describe the bug**
Test code coverage report failed on mps2_an385. Now the report is blocked. There are also several test cases failed.

1. The test case net/lib/coap/ will block the report, a PR https://github.com/zephyrproject-rtos/zephyr/pull/41340 is summited to fix this.

2. Most of them are due to stack size not enough, especially the test cases in tests/net. One problem here is the stack

[2021-12-22 05:17] hakehuang commented on #33747
I just run west build with zephyr compiler

there are some alogirthm change required in gptp to better fit our ethernet driver, I only add a very simple filter there, but actually there need to have a PID filter, do you contact our europe AE team for supporting? those algorithm still no opensourced.

[2021-12-22 07:49] ainguraXmarquiegui commented on #33747
I did contact NXP's europe AE team. After an initial conversation, they promised they would get back to us, but they never did.

I am confused by your statement saying that there are parts that are not opensourced, since you shared the full TSN stack source code for freeRTOS a few posts back. I'm trying to look into it for ideas, but I have not made any progress so far.

Can you explain what the P

[2021-12-22 07:51] jsiverskog commented on #41359
when i test between two zephyr devices (running the same code and phy update logic) everything seems to work. phy is updated to 2M as expected.

[2021-12-22 08:47] #41066 closed

[2021-12-22 09:03] jsiverskog commented on #41359
.. and if i set a timer for the android/snapdragon 888 case and trigger the phy update a tad later using a timer it seems to work as well.

thank you for your help @cvinayak

[2021-12-22 09:03] #41359 closed

[2021-12-22 09:12] hongshui3000 opened #41392 "arm ：arm-none-eabi Unable to complete compilation, an error occurred during linking"
**Describe the bug**
log：
[code]

arm-none-eabi Version:10.3.1

It seems that CONFIG_FLASH_SIZE and CONFIG_FLASH_BASE_ADDRESS must be configured

![image](https://user-images.githubusercontent.com/25566498/147069517-19ad6b0f-4ef0-4f73-9eaf-ac2874b1a71d.png)

Otherwise, the generated configuration file is very strange

[2021-12-22 09:18] cvinayak commented on #41359
@jsiverskog using a timer could be a bit flakky, and may expose the issue if control procedures are delayed. But sure, this issue can be closed. Feel free to open a new one if you come up with a solution that could be implemented as a quirk for phone out there already in the wild.

[2021-12-22 09:36] hongshui3000 commented on #41392
The same reason as this issue https://github.com/zephyrproject-rtos/zephyr/issues/41392

[2021-12-22 09:36] #41392 closed

[2021-12-22 09:39] FRASTM commented on #41058
I see similar lock with the spi_loopback tests with DMA but also in interrupt mode
@Kshitij4kk, I guess the SPI in your example is _not_ using DMA transfer

[2021-12-22 10:44] xinglongzhu opened #41395 "littlefs(external spi flash) + mcuboot can't get right mount area"
**Describe the bug**
external flash
Only littlefs works ok.
When you add littlefs and mcuboot together, you can't get right mount area.
I have add pm_static.yml but it no work well in real hardware.

 - What target platform are you using?
 ncs\zephyr\samples\subsys\fs\littlefs
 - What have you tried to diagnose or workaround this issue?
 - mcuboot + littlefs(external flash)

**Expected behavior**

[2021-12-22 10:45] carlescufi commented on #40244
#40155 is now merged

[2021-12-22 10:45] #40244 closed

[2021-12-22 11:52] gopiotr opened #41399 "samples: userspace: syscall_perf test cannot be run"
**Describe the bug**
From the beginning `sample.syscall_performances` test from `samples/userspace/syscall_perf` had wrong platform name in `platform_allow` list. This impact that this test was never performed in CI and it was "silently" skipped. I was trying to establish what kind of platform should be used for this test and I verify, that the only one RISCV platforms which fill the demanding for

[2021-12-22 12:08] carlescufi commented on #13389
@mtpr-ot Can you please take a look at this?

[2021-12-22 12:10] carlescufi commented on #21995
@kruithofa @thoh-ot  this needs follow-up in the new LLCP

[2021-12-22 12:10] carlescufi commented on #22293
Done

[2021-12-22 12:10] #22293 closed

[2021-12-22 12:13] carlescufi commented on #29813
This is now exposed in this file:
https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/bluetooth/controller/ll_sw/openisa/lll/lll_tim_internal.h

[2021-12-22 12:13] #29813 closed

[2021-12-22 12:14] carlescufi commented on #33271
Closing this since no more 1.14 dot releases are going to be released.

[2021-12-22 12:14] #33271 closed

[2021-12-22 12:18] carlescufi commented on #39723
Addressed as part of #41122

[2021-12-22 12:18] #39723 closed

[2021-12-22 12:21] carlescufi commented on #40916
@ipshiv can you please provide a sample that we can run either on 52832 or 52840 DK?

[2021-12-22 12:21] mtpr-ot commented on #13389
This code was changed a long time ago to assert if unable to obtain a done event for the MFIFO. In cases where that happens there is nothing else to do than assert (as now implemented). Without a done-node, the prepare/done "machine" grinds to a halt, and there's no way to handle that.
If a problem like the this happens it's either due to some system getting stuck, or more likely, the allocation o

[2021-12-22 12:24] mtpr-ot commented on #13389
I disagree with the proposed fix, as we cannot just "close the event" without a done-node to clean up states. I think we should close this enhancement.

[2021-12-22 13:08] cvinayak commented on #13389
Closing based on current implementation state.

[2021-12-22 13:08] #13389 closed

[2021-12-22 14:05] nordic-krch commented on #20430
@koffes just opened #41403.

[2021-12-22 14:05] nimarty opened #41404 "if zsock_connect() fails, tls_context does not get released automatically"
**Describe the bug**
if zsock_connect() fails, tls_context does not get released. Subsequent calls to zsock_connect() always fail because tls_context cannot be allocated anymore.

 - Platform: nrf91, mbedtls, zephyr sockets
 - Workaround: always call zsock_close() if a zsock_connect() fails to make sure tls_context gets released.

**To Reproduce**
Steps to reproduce the behavior:
1. build some fir

[2021-12-22 14:33] alxelax commented on #38303
The issue came back after merging this PR https://github.com/zephyrproject-rtos/zephyr/pull/40073.

[2021-12-22 14:40] alxelax commented on #38303
It hides warnings in nrf52_bsim platform about potential hardfaults:
[code]

just buld bsim tests with disabled warnings on main e1b845cc8875a0f69f2e0a1e7670327a78a1cbd3

[2021-12-22 14:47] carlescufi commented on #38303
These packed member warnings were only recently enabled in main. Maybe that’s why we see them here now.

[2021-12-22 15:29] rerickson1 commented on #41313
Thanks for pointing out that feature of MQTT, I was not aware of it. I think I would like to start with an approach similar to that for LwM2M.

[2021-12-22 15:34] 0Grit commented on #41313
Recommend reading the LWM2M transport spec

http://www.openmobilealliance.org/release/LightweightM2M/V1_2-20201110-A/OMA-TS-LightweightM2M_Transport-V1_2-20201110-A.pdf

[2021-12-22 15:44] benediktibk opened #41408 "Low power states for STM32 H7"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
Currently there are no low power states implemented for the STM32 H7-series.

**Describe why you are asking for this support?**
I need this as a requirement for a project. I'm already working on the implementation of the power states, but I stumbled upon an issue with SYSTICK.

[2021-12-22 15:51] zephyrbot opened #41410 "[backport v2.7-branch] backport of #40674 failed"
This issue was created automatically because the backport of #40674 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-40674-to-v2.7-branch`.

[2021-12-22 15:52] zephyrbot opened #41411 "[backport v2.7-branch] backport of #40678 failed"
This issue was created automatically because the backport of #40678 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-40678-to-v2.7-branch`.

[2021-12-22 16:12] novalisek opened #41413 "NRF52832 - PWM not working after zephyr update"
**Describe the bug**
Hi, after may be half a year I updated zephyr (pull zephyr, west update) and PWM stopped working on my custom board, so I tried original nrf52dk_nrf52832 with blinky_pwm and that is also not working.  I also tried completely new zephyr installation and that didn't help.

**To Reproduce**
Steps to reproduce the behavior:
1. install latest zephyr
2. cd  zephyr\samples\basic\blin

[2021-12-22 16:13] erwango commented on #41408
@benediktibk When using PM, Zephyr tick should be fed with lptim thanks to `drivers/timer/stm32_lptim_timer.c` driver (instead of cortex systick). This is how PM is working on L4/WB/L5/U5
So the idea is first to get LPTIM working on H7 (if not done yet).
Then enabling PM and lptim node will get things working (grep STM32_LPTIM_TIMER for more details).

[2021-12-22 16:14] rlubos commented on #41404
I don't think calling `zsock_close` after connection failure is a workaround - it's rather an expected behavior. POSIX specification of the `connect()` function says (https://linux.die.net/man/3/connect):

[2021-12-22 16:39] carlescufi commented on #40208
@LingaoM @peterniebert @chudov this work is now complete, feel free to test the current v1 and v2 compatible driver on `main`.

[2021-12-22 16:58] #39626 closed

[2021-12-22 17:26] enjiamai commented on #41399
Hi @gopiotr , this https://github.com/zephyrproject-rtos/zephyr/pull/41416 might address the build issue by west. But I think there is still some problem need to be solved in this sample.

[2021-12-22 17:30] rerickson1 commented on #41313
@ahedin25

[2021-12-22 17:38] anangl opened #41418 "tests/lib/devicetree/devices fails to build for thingy52_nrf52832"
**Describe the bug**
An attempt to build `tests/lib/devicetree/devices` for `thingy52_nrf52832` ends up with the following linking error:
[code]
This happens because this board needs the SX1509B GPIO expander driver for the regulator devices it uses and this driver depends on I2C which needs to be disabled for this test.

This is the same kind of problem that has been addressed by commit https://g

[2021-12-22 19:19] novalisek commented on #41413
hal_nordic update helped, thanks

[2021-12-22 19:20] r2r0 opened #41422 "The option CONFIG_SYSTEM_CLOCK_SLOPPY_IDLE blocks k_sleep when CONFIG_PM is enabled"
**Describe the bug**
If CONFIG_SYSTEM_CLOCK_SLOPPY_IDLE and CONFIG_PM options are enabled together then k_sleep does not return.
According to documentation only uptime can be affected by enabling CONFIG_SYSTEM_CLOCK_SLOPPY_IDLE option.

Platform is STM32WB55 Nucleo development board.
For blinky sample when CONFIG_SYSTEM_CLOCK_SLOPPY_IDLE and CONFIG_PM options are set then LED is turn on all the ti

[2021-12-22 20:04] jvasanth1 commented on #41012
This pull request [#41279](https://github.com/zephyrproject-rtos/zephyr/pull/41279) suggests a possible fix for this issue.

[2021-12-23 00:10] alsrgv commented on #41380
@erwango, I can help verify PTP functionality once you have a PR up.

[2021-12-23 03:13] hongshui3000 opened #41426 "ARMCLANG BUILD FAIL"
**Describe the bug**
[code]

[2021-12-23 05:30] hakehuang opened #41428 "tests-ci : kernel: common: test failed"
**Describe the bug**
 test is failed on v2.7.99-2628-g38ce8d615d4b on mimxrt1050_evk

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: v2.7.99-2628-g38ce8d615d4b

[2021-12-23 05:34] hakehuang commented on #41428
dup of https://github.com/zephyrproject-rtos/zephyr/issues/41347

[2021-12-23 05:34] #41428 closed

[2021-12-23 05:42] hakehuang commented on #33747
zephyr: 0.13.1
cmake version: 3.21.1
git hases:
[zephyr_version.txt](https://github.com/zephyrproject-rtos/zephyr/files/7766952/zephyr_version.txt)

[2021-12-23 05:44] hakehuang commented on #33747
the code I shared with TSN team has some obj files.

[2021-12-23 05:46] hakehuang commented on #33747
if you look at the linuxptp source code this module do the similiar thing (filter.c)[https://github.com/openil/linuxptp/blob/master/filter.c]

[2021-12-23 08:23] wcappelle commented on #41240
Some more info: this problem is not limited to USB logging but also affects normal logging (UART). It can occur the moment you have dropped messages (not linked to usb , or startup of it).

[2021-12-23 08:55] nimarty commented on #41404
Hi @rlubos . Thank you for pointing that out. Fair enough if this is how the POSIX `connect()` works.

[2021-12-23 10:08] enjiamai commented on #41399
I found the board configuration/setting "qemu_riscv32_xip" seems to be problematic. in this sample case,  it triggered an exception when we call k_sleep(), even in supervisor mode. The exception happens while CONFIG_USERSPACE=y.

Reproduce step:
1. Apply #41416
2. Run  west build samples/userspace/syscall_perf/ -p always -b qemu_riscv32_xip -t run

You can see following error message in this sampl

[2021-12-23 10:21] #41413 closed

[2021-12-23 10:41] belolap opened #41434 "ADC support for M4 core of STM32H754/755"
**Is your enhancement proposal related to a problem? Please describe.**
Now driver calibrates ADC controller during initialization. For calibration driver must read factory values from system memory, but where is no access for this values from M4 core:

![Memory organization](https://user-images.githubusercontent.com/12296900/147227325-a37d5fca-2110-47eb-a081-0d7da8120eaa.png)

Now driver try to r

[2021-12-23 11:51] #41418 closed

[2021-12-23 12:20] gmarull commented on #41291
`proc.pr_timestamp` seems to be updated in some places using `lv_tick_get()`, which is a shim for `k_uptime_get_32()`, so the problem may come from input events generated by the corresponding kscan driver. Check lvgl_pointer_kscan_read and related functions.

[2021-12-23 13:25] benediktibk commented on #41408
Started with implementation in #41439

[2021-12-23 13:26] benediktibk commented on #41220
I addressed the issue in #41439

[2021-12-23 13:28] gopiotr opened #41440 "twister: skip marked as pass"
**Describe the bug**
When some testcase is skip in their source code by ztest_test_skip() function in final json report it is marked as pass what is wrong. Due to the changes in this commit those skips can be marked properly.

**To Reproduce**
1. Run command:
[code]
2. Compare `twister_report.xml` and `twister.json` reports.

**Expected behavior**
Performed testscases should have the same status i

[2021-12-23 13:37] benediktibk commented on #41408
Maybe somebody can help met out a little bit, as I'm currently scratching my due to ARM usage fault which happens during the print of the boot banner. It happens only if the LPTIM is used as the system clock, but the debugger does not hit a breakpoint on lptim_irq_handler. Hence I am kinda confused where this is coming from. Actually no function in stm32_lptim_timer.c besides sys_clock_driver_init

[2021-12-23 14:01] carlescufi commented on #41140
I completely agree with @jhedberg here. The proposed `cyw43xxx.c`, if we decide to follow this approach, belongs in the Zephyr main tree. In particular it belongs in `drivers/bluetooth/hci`. We can consider whether we want to create a folder in there to deal with the different vendor-specific routines that are required for controllers to boot up.

[2021-12-23 14:08] carlescufi commented on #41140
I also agree with @jhedberg that this does *not* belong in the Bluetooth Host, but rather in the Bluetooth drivers. So what I'd suggest is something similar to what @jhedberg outlines, which would be, from the Host's perspective:

hci_core.c:
[code]

[2021-12-23 14:10] carlescufi commented on #41140
Good point, but I think we can make it work with some flags and conditionals, let's first settle how we inject vendor-specific HCI commands prior to `HCI Reset`.

[2021-12-23 15:28] benediktibk opened #41442 "power_init for STM32L4 and STM32G0 in POST_KERNEL"
**Describe the bug**
For STM32L4 and STM32G0 stm32_power_init is executed in POST_KERNEL.

**Expected behavior**
For STM32L4 and STM32G0 stm32_power_init should be executed in PRE_KERNEL_1.

**Impact**
Did not stumble upon any problems, it just came up during the review of #41439.

[2021-12-23 15:45] erwango commented on #41408
I would suggest testing H7 lptim driver implementation using `tests/kernel/timer/timer_api`, using `prj_tickless.conf`.
You'll probably miss some tuning to this driver to work on H7.

[2021-12-23 17:03] sdalu opened #41444 "USB: naming thread for usbd work queue"
usb drivers usually allocate a work queue (`usb_dc_nrfx.c`, `usb_dc_kinetis.c`, `usb_dc_native_posix.c`) but don't name it, which is annoying when debugging and an unknown thread is listed

Adding something like would be helpful
[code]

[2021-12-23 17:07] carlescufi commented on #41444
@sdalu why don't you send a Pull Request?

[2021-12-23 17:13] sdalu commented on #41444
@carlescufi I'll certainly do it, next year, but at least there is a reminder :sweat_smile:

[2021-12-23 23:53] chudov commented on #40208
@carlescufi thank you!

[2021-12-24 11:59] bfa8 opened #41449 "PWM capture with STM32"
**Description**
I work with the NUCLEO-H743ZI2, Zephyr SDK version 0.13.2 and Zephyr version 2.7.99 (build: v2.7.99-2467-g5cb3722a36d9). I needed to integrate the PWM capture to measure the period between two pulses. For this, I use the PWM peripherals from Zephyr  (https://docs.zephyrproject.org/latest/reference/peripherals/pwm.html). Concrete I used the pwm_pin_capture_nsec.

On this function, y

[2021-12-24 14:31] AstapovaLyubov opened #41452 "[QUECTEL-MC60 + MQTT] MQTT publisher not working - Impossible to setup network"
**Describe the bug**
OS kernel version: 2.7.0
I try to use MQTT Publisher with Quectel MC60 modem driver on STM32F413ZH_nucleo board. Indeed, it is impossible to connect to MQTT server/broker (dev.rightech.io).
My project is based on the mqtt_publisher sample project https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/mqtt_publisher

**To Reproduce**
Steps to reproduce the behavio

[2021-12-25 01:53] #34732 closed

[2021-12-25 01:53] zephyrbot opened #41456 "[backport v2.7-branch] backport of #41105 failed"
This issue was created automatically because the backport of #41105 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-41105-to-v2.7-branch`.

[2021-12-25 15:25] lgl88911 commented on #41153
@hakehuang I cherry-pick 2cbdd12e9cb1fba279dc82a1227aed50cf3ace1d, build pass. Thank you for your quick fixed.

[2021-12-25 15:26] #41153 closed

[2021-12-26 00:29] #39289 closed

[2021-12-26 00:29] #39298 closed

[2021-12-26 00:29] #39178 closed

[2021-12-26 00:29] #38645 closed

[2021-12-26 07:46] yashi commented on #30679
The development of puncover seems to be halted. (Three commits in 2020 are the last. Before that is 2017)  Is it possible to host it under Zephyr project?  Or integrate it with Zephyr SDK?

[2021-12-26 17:36] cwshu commented on #41399
@enjiamai
After debugging, I found this error is the same bug as #39922.

It is an bug of un-aligned PMP region when using RISC-V userspace in XIP mode. RISC-V userspace configure `__rom_region_[start|size]` as the PMP region, but these symbols doesn't match power-of-2 alignment [1] in XIP mode.
(p.s. `MPU_ALIGN()` is only applied in the non-XIP linker script, and it is difficult to apply it in th

[2021-12-26 17:59] cwshu commented on #41399
I have check `syscall_perf` on `qemu_riscv32_xip` works if applying your fix (#41416) on PR #40647.
(https://github.com/cwshu/zephyr/tree/syscall_perf)

p.s. The cycle/instr statistics is not accurate in QEMU because QEMU RISC-V doesn't emulate performance counter well. (At least I found cycle/instr counter is same value in QEMU RISC-V.)
I guess origin developer (@amergnat) run this sample on the

[2021-12-26 19:50] henrikbrixandersen commented on #41314
Should we bring this up at the next TSC meeting?

[2021-12-27 00:29] #39361 closed

[2021-12-27 01:22] enjiamai commented on #41399
Great! Thanks for your debugging and information! @cwshu  :) , looking at your PRs.

[2021-12-27 07:55] gera-k commented on #29394
The cpp_synchronization sample doesn't work on esp32c3. It looks like constructors for static objects are not called.
Is it known  problem? Is the fix in the plans?

[2021-12-27 15:13] Thalley commented on #33704
https://github.com/zephyrproject-rtos/zephyr/pull/41463 partially fixes this

[2021-12-27 16:31] DRuffer commented on #39642
This was fixed in https://github.com/zephyrproject-rtos/zephyr/pull/39207

[2021-12-27 16:31] #39642 closed

[2021-12-27 17:28] saleh-unikie opened #41465 "Periodic advertising sync failure, when "DONT_SYNC_AOA" or "DONT_SYNC_AOD" options is used"
**Describe the bug**
I have developed a sample application based on ["direction_finding_connectionless_rx" sample](https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/bluetooth/direction_finding_connectionless_rx). This new sample supports receiving multiple signals from different tags/beacons in parallel, which is needed to catch the bug I am going to describe it here.
You can find thi

[2021-12-27 17:54] saleh-unikie commented on #40317
Hi all

I was working on DF samples and I encountered a problem that I think is relevant to the problem reported here, similarly I see "Assertion failure" at ull.c, and the behavior is random. Also sometimes assertion failure is seen in another files, ull_scan_aux.c for example, but mostly it raises from ull.c file.
BTW, my problem has happened in another scenario as it has been described here:
ht

[2021-12-28 00:35] cvinayak commented on #41465
@saleh-unikie I am in the process of changing the periodic advertising implementation for various missing race and memory release scenarios. Could you please use the work in progress changes to the controller in this PR: https://github.com/zephyrproject-rtos/zephyr/pull/41091

Do revert back if the report issues still exist when using changes in #41091

[2021-12-28 03:01] sylvioalves commented on #29394
@gera-k, thanks, will take a look.

[2021-12-28 03:52] stephanosio commented on #22956
Not stale

[2021-12-28 04:37] ngboonkhai opened #41469 "Proposal to integrate Synopsys SDMMC driver from Trusted Firmware-A"
## Origin
Name of Project : Trusted Firmware-A

Project Link: https://github.com/ARM-software/arm-trusted-firmware

Source Code:
https://github.com/ARM-software/arm-trusted-firmware/blob/master/drivers/mmc/mmc.c
https://github.com/ARM-software/arm-trusted-firmware/blob/master/drivers/synopsys/emmc/dw_mmc.c
https://github.com/ARM-software/arm-trusted-firmware/blob/master/include/drivers/synopsys/dw

[2021-12-28 06:11] gera-k commented on #29394
a question
when i do uint64_t = uint32_t * uint32_t in C, the gcc generates
mul
mulh
while RISC-V instruction manual suggests the opposite order of mul instructions when 64-bit result is required.
Is C3 CPU smart enough to do single multiplication in this case? If not, is there a way to tell gcc to generate muls in right order?

[2021-12-28 07:11] fkan-ec commented on #40795
I manage to reduce the code to five threads and five timers. It seems that with cooperative threads, the stack overflow does not happen. If I change a single thread to preemptive. The preemptive thread always throw stack overflow.

[2021-12-28 07:47] LixinGuoX opened #41471 "qemu_cortex_r5: failed to enable debug"
**Describe the bug**
Failed to enable gdb on qemu_cortex_r5, am I missing some steps?

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b qemu_cortex_r5 tests/kernel/mem_protect/syscalls
2. cd build/
3. ninja debugserver

**Logs and console output**
[code]

[2021-12-28 07:49] stephanosio commented on #41471
This is normal behaviour.

[2021-12-28 07:49] #41471 closed

[2021-12-28 07:59] carlocaione commented on #40795
Do you have the code somewhere?

[2021-12-28 08:20] maxstreitberger opened #41472 "Unable to mount fat file system on nucleo_f429zi"
Hello everyone,
I am trying to set up a file system in the internal flash of the nucleo_f429zi. For that, I followed the [USB Mass Storage Sample Application](https://docs.zephyrproject.org/latest/samples/subsys/usb/mass/README.html) example and #33252. However, I receive this output:
[code]
I configured my project as following:
[code]
The flash configuration is based on this devicetree:
https://g

[2021-12-28 08:46] jakub-uC commented on #39707
@nordic-krch May you please take a look at this?

[2021-12-28 08:48] saleh-unikie commented on #41465
Thanks a lot @cvinayak
I've tested the PR and above crash hasn't seen any more, but another problem still exist.

The scenario to generate the problem:
Using rx source code (using above code that I've provided to work with simultaneous tx nodes) and setting the `options` variable of `struct bt_le_per_adv_sync_param` in order NOT to sync with AoA tags:
[code]

**Normal operation**:
If only AoD beac

[2021-12-28 09:42] adamfowleruk commented on #41314
Thanks for your replies on this. I'll work on the presumption that sharing the same manufacturer code is OK for now. I'll happily pop along to your TSC meeting too, if invited/required, to have a chat about it. I want to make sure this can work well. Definitely worth a chat around namespace management.

[2021-12-28 10:56] carlocaione commented on #40795
@fkan-ec again, if you want me to look at this you have to provide a minimal reproducer, otherwise I can give you my hourly rate as consultant and then I can debug your code as well. But, if you want a non-paid maintainer to look at an issue, you must be sure to not waste the non-paid maintainer time on unrelated code.

Looking at your code that means:
- Cleanup the code and have it properly forma

[2021-12-28 13:11] saleh-unikie commented on #41465
@cvinayak Regarding the problem I've described in the last comment, I've suspected to this part of the code:
file: subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sync.c
[code]

Every time `lll_sync_cte_is_allowed` function returns with `SYNC_STAT_TERM`, then not only it prevents the system to make a sync (expected behavior) but also stops scanning and `scan_recv` function will not be called at t

[2021-12-28 14:37] ycsin commented on #39144
Reopen issue as this is still an active issue since neither #39175 nor #38596 is merged

[2021-12-28 18:41] aaronemassey opened #41479 "zephyr website - typo in learn about section"
**Describe the bug**
In the [vision page under learn](https://www.zephyrproject.org/learn-about/) there is a typo "built be secure and safe" which was probably meant as "built *to* be secure and safe."

Didn't see a repository for the website so thought I'd post here instead.

[2021-12-29 00:18] berendo opened #41482 "kernel: Dummy thread should not have an uninitialized resource pool"
**Describe the bug**
The [dummy thread](https://github.com/zephyrproject-rtos/zephyr/blob/770732fe92faab44d93bcbc00fc4d45476c24dea/kernel/init.c#L414-L416)'s `resource_pool` is [inherited](https://github.com/zephyrproject-rtos/zephyr/blob/770732fe92faab44d93bcbc00fc4d45476c24dea/kernel/thread.c#L602) by other threads created during system initialization. Given that the current [`z_dummy_thread_ini

[2021-12-29 00:29] #39209 closed

[2021-12-29 03:40] wxzhuhua opened #41484 "add comments to show examples of adding each feature in device binding file, like st,stm32-usart.yaml"
**Is your enhancement proposal related to a problem? Please describe.**
I was trying to move my code from zephye-2.3 to 2.7.99, got build errors about pinctrl-name and pinctrl-0, want to add them in dtsi file but don't know how.

**Describe the solution you'd like**
for example, in st,stm32-usart.yaml, add comments to show examples of adding each feature

**Describe alternatives you've considered*

[2021-12-29 04:41] srikanth359 opened #41486 "Zephyr project installation"
initialisation and updation of west tool in windows

After initialisation of west by using west init zephyrproject command then i gave the west update command then it updated for sometime and it is showing ERROR OCCURED UPDATE FAILED.

Expected behaviour is it should update properly and i followed all the steps properly from beginning.

OS : Windows

ERROR SCREEN

=== updating zscilib (modules/lib

[2021-12-29 05:14] nordic-krch commented on #39707
not sure if i understood correctly but standard logging shell commands are specific to the current shell instance. If it has logging disabled then it won't work. However, there is a set of commands to control another backend.
`log list_backends` lists all logging backends. Then you can use `log backend log_backend_uart enable dbg os` in telnet shell to change logging level for uart backend.

[2021-12-29 06:22] lmpprk opened #41488 "Stall logging on nrf52840"
**Describe the bug**
A clear and concise description of what the bug is.

PR #40735 seems to break the logging on nrf52840dongle.

The console should show logs for a very short while after bootup, but will stall and never show new logs until the device is reboot or reset.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform a

[2021-12-29 06:27] yashi opened #41489 "Make POSIX subsystem available while using an external libc"
**Is your enhancement proposal related to a problem? Please describe.**
Some functions under `lib/posix/` need to access kernel services.  These functions must be built on top of Zephyr kernel API.  Thus, we should provide them even with external libc.

**Describe the solution you'd like**
- Make POSIX subsystem accessible while an external libc is selected.
- Make sure all functions can be config

[2021-12-29 06:28] yashi commented on #41489
Is something like this acceptable?

[code]

[2021-12-29 07:11] nordic-krch commented on #41240
@wcappelle can you validate provided fix?

[2021-12-29 08:19] wcappelle commented on #41240
@nordic-krch , thanks for looking into fixing this issue. i have currently no access to any devices. I will validate this 2nd week of january when back from holidays

[2021-12-29 08:35] jyotibabasahebyadav-eaton opened #41491 "ADC"
1.I want to know about the how adc adc_sequence_callback is working for what perpose we can use it
adc typedef enum adc_action (*adc_sequence_callback)(const struct device *dev,
						 const struct adc_sequence *sequence,
						 uint16_t sampling_index);

2. I want to understand about the Zeyphr adc_context_on_sampling_done() API how it is working in drivers/adc/adc_context.h.

[2021-12-29 08:37] #41491 closed

[2021-12-29 08:40] nordic-krch commented on #41240
@wcappelle sure, fyi i managed to reproduce the issue.

[2021-12-29 14:20] ycsin opened #41498 "RFC: AT device driver"
## Introduction

The cellular and WiFi modems are AT command based and usually have a set of vendor specific commands apart from a common set of generic AT commands. These generic AT commands provide many valuable functions such as synchronizing an onboard RTC with a local cell tower (`AT+CCLK`), query the cell tower id which can be used for the positioning of the device (`AT+CREG`), and much more

[2021-12-29 14:21] ycsin commented on #41498
@jukkar @rerickson1 @bbilas @mniestroj

[2021-12-29 14:42] ycsin opened #41499 "drivers: iwdg: stm32: `WDT_OPT_PAUSE_HALTED_BY_DBG` might not work"
**Describe the bug**
The `WDT_OPT_PAUSE_HALTED_BY_DBG` option in the [driver](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/watchdog/wdt_iwdg_stm32.c#L83) might not be working as intended for the G0B1, likely due to the `DBGMCU` isn't being clocked, i.e. [power.c](https://github.com/zephyrproject-rtos/zephyr/blob/main/soc/arm/st_stm32/stm32g0/power.c#L93)

**To Reproduce**
Steps t

[2021-12-29 16:48] sylvioalves commented on #29394
As far from a few discussion I had, it just work as is. For some reaso, when optimization is disabled, the `mul` order is indeed not following ISA recommendation. When opt. is enabled (any), it is in correct order. Anyway, it works. Have you faced any issue at all?

[2021-12-29 18:41] zpm1066 commented on #32286
@cvetaevvitaliy, Did you manage to get hold of a 240x240 display?

[2021-12-29 19:44] boaks opened #41503 "including <net/socket.h> fails with redefinition of 'struct zsock_timeval' (sometimes :-) )"
I'm using nRFConnect 1.8.0 and zephyr v2.7.0-ncs1.

If I include `<net/socket.h>` always as the first, then some files compile well, and some reports

The files are added to the project with

[code]

both file use the same first include

[code]

For one, it works, for the other it fails. If I remove the failing from the project, the build finishes.
That is very irritating. Has someone similar expe

[2021-12-29 20:08] boaks commented on #41503
I use Ubuntu 18.04 to build the app. I found, that the failing c-file includes `<sys/time.h>`, which isn't available on zephyr, or? I'm wondering, why that is not reported? Or does the build system (accidentally) use the includes from the host?

[2021-12-30 02:58] wxzhuhua commented on #41484
I found an example:
pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
pinctrl-names = "default";

though, the builder complains: undefined node label 'usart1_tx_pa9', can't find a define for it

[2021-12-30 11:26] hubertmis opened #41509 "OpenThread's timer processing enters infinite loop in 49th day of system uptime"
**Describe the bug**
My devices based on nRF52840 are running with Zephyr RTOS with OpenThread stack. They all hang if uptime reaches 49 days. Today I've attached a debugger and found the root cause of the bug.

The device hangs, because main workqueue enters infinite loop. It is caused by OpenThread's alarm processing using the workqueue. The alarm processing functions schedule next timer event t

[2021-12-30 11:29] hubertmis commented on #41509
FYI @edmont @lududa

[2021-12-30 13:18] AstapovaLyubov commented on #41452
It works with this config file.Also, the server address must be numeric.

[2021-12-30 13:19] AstapovaLyubov commented on #41452
It works with this config file. Also, the server address must be numeric.
[prj.conf.txt](https://github.com/zephyrproject-rtos/zephyr/files/7793077/prj.conf.txt)

[2021-12-30 13:19] #41452 closed

[2021-12-30 13:22] ycsin commented on #41486
It would be easier to assess what went wrong if you attach the full history of your terminal

[2021-12-30 13:25] srikanth359 commented on #41486
Thank you ycsin i solved that problem ,

but there is another bug it would be easy for me if you help me with this

while building using west tool the cmd screen is showing error in windows OS

-- west build: generating a build system
Including boilerplate (Zephyr base): C:/Users/vimel/SRIKANTH/zephyrproject/zephyr/cmake/app/boilerplate.cmake
-- Application: C:/Users/vimel/SRIKANTH/zephyrproject/z

[2021-12-30 13:51] lairdjm commented on #40963
I've been looking into this for testing our custom SMP commands, not so much for testing the UART/BLE transports and it's apparent how much of a pain it is to do this. The way I currently have it is having a virtual log output and log backend, with essentially a clone of the UART mcumgr files but instead of using the UART, putting the data in a buffer and then from the tests themselves, encapsulat

[2021-12-30 15:03] de-nordic commented on #40963
I believe that we should be able to setup native posix/qemu x86 smp_svr application that will allow us to at least test UART transport.

[2021-12-30 16:56] aurel32 commented on #41509
Which version of Zephyr are you running? This is probably the same bug as #39704, which is fixed in master and in Zephyr 2.7.1.

[2021-12-30 17:17] hubertmis commented on #41509
Good point. I don't know why I've been looking at 339a6bd commit instead of main. It looks the issue is fixed on main. I'll upgrade my devices and reopen if the problem reoccurs

[2021-12-30 17:17] #41509 closed

[2021-12-30 18:09] stephanosio commented on #40970
Related to https://github.com/zephyrproject-rtos/sdk-ng/issues/420.
To be fixed by https://github.com/zephyrproject-rtos/sdk-ng/pull/421.

[2021-12-30 19:11] ibirnbaum commented on #34737
This issue is still pending (at least for the fileno() function, as described in my post from Aug 12th) - please remove the 'stale' tag.

[2021-12-30 20:55] gera-k commented on #29394
It seems it gives me wrong order with -O2.
Anyway, i tried forcing the correct order by inline assembly and it doesn't make noticeable difference in performance.

[2021-12-30 22:16] fkan-ec commented on #40795
I did some more cleanup. At this point, the timer is removed. The main thread would continuously send signals to the three threads (all cooperative). At this point, it seems that k_poll has some strangeness that causes corruption.

https://github.com/fkan-ec/zephyr

[2021-12-31 03:09] LixinGuoX commented on #40873
In zephyr/arch/arm/core/aarch32/userspace.S/arch_user_string_nlen(const char *s, size_t maxsize, int *err_arg), dealing with the address of NULL will not trigger a fault, will be treated as an empty string in my opinion. So this may not be a bug, and close this issue.

[2021-12-31 03:09] #40873 closed

[2021-12-31 04:33] ycsin opened #41517 "Hard fault if `CONFIG_LOG2_MODE_DEFERRED` is enabled"
**Describe the bug**
I'm trying to enable LOG2 to log floating point by setting `CONFIG_LOG2_MODE_DEFERRED` in `prj.conf` but I bump into a hard fault.

**Impact**
Unable to use LOG2

**Logs and console output**
[code]

This is the callstack when I debug the device with a probe:
![image](https://user-images.githubusercontent.com/1563974/147803144-b2112230-ca29-491f-b339-256d8caa5359.png)

The debu

[2021-12-31 05:04] ycsin commented on #41517
I spotted that the stack sentinel stack overflow was related to `uart_mux`'s workq, and increased that to 1024 bytes from 512, and now I have another type of hard fault, seems to be related to `UART_BACKEND_RTT`

![image](https://user-images.githubusercontent.com/1563974/147804074-1cf38041-0ef9-4110-9e6d-6bc4ca22910b.png)

[2021-12-31 13:16] jhaand commented on #32875
I would suggest ADC reads using DMA to check the performance and ease of programming. Sampling a block at 48 kHz and then transferring it to the host while keeping up with all the work. Through how many hoops do you have to jump, to get this going with either Operating System.

That would look at a real use case, while only using the shell before and after the measurements. You could also look at

[2022-01-01 12:39] #41385 closed

[2022-01-01 12:41] zephyrbot opened #41522 "[backport v2.7-branch] backport of #41481 failed"
This issue was created automatically because the backport of #41481 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-41481-to-v2.7-branch`.

[2022-01-01 12:59] cfriedt opened #41523 "drivers: i2c: i2c_mcux: unused variables cause daily build failures"
**Describe the bug**
Twister fails during the daily build due to unused variables (warnings promoted to errors).

**To Reproduce**
[code]

**Expected behavior**
Daily build should not fail.

**Impact**
Annoyance, because the build succeeds with
[code]

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: CI
 - Toolchain: Zephyr SDK 0.13.2
 - Commi

[2022-01-01 13:08] cfriedt opened #41524 "drivers: dma: dma_mcux_edma: unused variables cause daily build failures"
**Describe the bug**
Twister fails during the daily build due to unused variables (warnings promoted to errors).

**To Reproduce**
[code]

**Expected behavior**
Daily build should not fail.

**Impact**
Annoyance, because the build succeeds with
[code]

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: CI
 - Toolchain: Zephyr SDK 0.13.2
 - Commi

[2022-01-01 13:19] cfriedt opened #41525 "tests: drivers: : ethernet: fails to link for sam_v71_xult and sam_v71b_xult"
**Describe the bug**
The daily build fails to link for this test / platform combination.

**To Reproduce**
[code]

**Expected behavior**
The daily build should not fail.

**Impact**
Showstopper for anyone using ethernet on these platforms.

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: CI
 - Toolchain: Zephyr SDK 0.13.2
 - Commit SHA: 7f5eb

[2022-01-01 20:48] belolap commented on #41517
May be I got different error, but in similar situation with floating point I increase `CONFIG_LOG_PROCESS_THREAD_STACK_SIZE` and all is ok.

[2022-01-01 23:17] ramb0t opened #41526 "ESP32 UART driver tx_complete fires before last byte sent"
While working on MODBUS implementation with ESP32 I discovered an issue with the ESP32 UART driver. The modbus driver needs to implement the `uart_irq_tx_complete()` function, however there is a weakness in the ESP32 uart driver implementation of this function that leads to a serious issue in some applications such as modbus. This is similar to  #40578 and #38264 which is solved in a similar way w

[2022-01-01 23:59] ramb0t commented on #36575
I'm still getting to the bottom of this issue, but I have found there are some weaknesses in both the ESP32 uart driver implementation (#41526) and in the general modbus subsystem implementation (see the fix here #40578)
For anyone with the same problem please see my commits in this branch https://github.com/ramb0t/zephyr/tree/esp32_modbus_driver_fix
This is currently working for my ESP32 modbus s

[2022-01-02 00:29] #39499 closed

[2022-01-02 00:29] #39445 closed

[2022-01-02 04:22] JordanYates opened #41529 "documentation: generate Doxygen tag file"
**Is your enhancement proposal related to a problem? Please describe.**

When documenting external libraries that depend on Zephyr functionality, it is natural to reference Zephyr functions/structs/macros with the Doxygen `@ref` command. For Doxygen to accept these references to an external project, a tagfile must be provided so that Doxygen knows where to find and link the references.
[code]
This

[2022-01-03 08:27] jsiverskog commented on #39624
please remove the stale label

[2022-01-03 08:31] rlubos commented on #41404
Closing based on the above.

[2022-01-03 08:31] #41404 closed

[2022-01-03 09:05] jilu-ot commented on #39989
I am still working on this issue. I hope to have the stale label removed.

[2022-01-03 10:24] tejlmand opened #41534 "Cleanup SOC_x CMake variables to minimize dependencies."
**Is your enhancement proposal related to a problem? Please describe.**
During review of #41301 this comment was made:
https://github.com/zephyrproject-rtos/zephyr/pull/41301/files/1c57242423cfd3280ed742f44ed33bfd66cbc72d#r773217762

This enhancement is created as followup to allow such work to be carried out independently of #41301 in a safe way.
Safe in the sense that existing variables can be d

[2022-01-03 10:24] erwango commented on #41484
@wxzhuhua We need to think about how to document that properly through bindings indeed.
This being said, for your specific case, node labels are available in `zephyrproject/modules/hal/stm32/dts`

[2022-01-03 10:26] SebastianBoe commented on #41534
I only remember that I tried to remove them, but was unable to.

I can't recall why.

[2022-01-03 10:44] erwango commented on #14260
@nvlsianpu Feel free to close if you don't think this should be tackled.

[2022-01-03 10:46] erwango commented on #41472
There's a known compatibility issue between flash based file system and F4 based targets, due to complex flah layout on these devices.
Cf https://github.com/zephyrproject-rtos/zephyr/issues/19895 and https://github.com/zephyrproject-rtos/zephyr/issues/28309.

These are open for long time and I'm not sure there's and easy solution that can be fitted.
Can you have a look to the link above and see if

[2022-01-03 10:56] erwango opened #41536 "Backport STM32 SMPS Support to v2.7.0"
**Describe the bug**

STM32H7 based boards require SMPS configuration to work propserly (cf https://github.com/zephyrproject-rtos/zephyr/issues/34732).
To address this issue, a series of PR were merged in main branch.
Some of these PR were not strictly identified as bug fixes but are required to fix the global issue.
These PR should be also merged in V2.7.0 branch in which the same issue is presen

[2022-01-03 10:58] erwango commented on #41536
@cfriedt

[2022-01-03 11:54] nvlsianpu commented on #14260
@erwango I think this ticket is still valid.

[2022-01-03 13:07] cvinayak commented on #39856
Step 5, lll would be NULL only if aux->parent is NULL, which shall not happen. The PR https://github.com/zephyrproject-rtos/zephyr/pull/41091 adds additional checks

[2022-01-03 13:07] #39856 closed

[2022-01-03 13:12] cvinayak commented on #39872
If lll is null then sync_lll is not null. lll will not be NULL dereferenced. False positive.

This part of the code will be changed in PR https://github.com/zephyrproject-rtos/zephyr/pull/41091

[2022-01-03 13:12] #39872 closed

[2022-01-03 14:12] erwango commented on #29545
Didn't work for me. Still investigating.

[2022-01-03 14:21] erwango commented on #29545
I suspect there is some dependency/versioning wrongly handled in cryptography module that might be due to the versioning that went from 3.4.0 to 35.0.0 recently (sept' 2021), cf https://pypi.org/project/cryptography/#history.

[2022-01-03 15:07] gmarull opened #41543 "Improve header structure and usage"
**Is your enhancement proposal related to a problem? Please describe.**

As of today one can observe a few issues with respect to C headers in Zephyr:

- Many C files rely on headers being included somewhere else (indirect dependency)
- Inclusion list does not follow any particular rules (you can find together local, libc, Zephyr, 3rd party lib headers all mixed).
- Some headers are not self-conta

[2022-01-03 16:01] henrikbrixandersen commented on #41543
I generally like the ideas put forward in the description. However, in my experience we have always opted to put local includes first in the compiler include search path, but _last_ in the list of `#include` directives. This allows for the local includes to have conditionals based on the scope they are included in. I would be interested to hear arguments for putting them first?

Apart from that, t

[2022-01-03 19:35] #38303 closed

[2022-01-03 19:42] henrikbrixandersen commented on #35437
@Qbicz Sorry it took so long, but I have a working CAN-FD driver for the LPC55S1x in #35832 if you would like to test it.

[2022-01-03 20:07] bbolen commented on #41012
I am not a Cortex-M expert, but I think Maureen was implying that there would be a HAL layer in zephyr/modules/hal/microchip which would define IRQn_Type in which you could create your custom irq type definition.  It looks like the 172x doesn't have that.  Can you point to the documentation that led you to the comment "we are following zephyr guideline to avoid create new typedefs "?

I see zephyr

[2022-01-04 00:29] #39128 closed

[2022-01-04 00:29] #29013 closed

[2022-01-04 01:51] wxzhuhua commented on #41484
@erwango Sounds good, anywhere is fine, but there have to be somewhere.

[2022-01-04 06:41] marc-hb commented on #8924
As of today this requires one new 1 line-fix to pass twister tests: #41554

[2022-01-04 07:06] huarunlin opened #41557 "ESP32 Uart 2-bit Stop Register Setting"
While working on MODBUS implementation with ESP32 I discovered an issue with the ESP32 UART driver. Refer to ESP-IDF code and chip manual, If there are two stop bits, set UART_STOP_BIT_NUM in UART_CONF0_REG to 1 and UART_DL1_EN in UART_RS485_CONF_REG to 1.

esp-idf v4.3.1 components\hal\esp32\include\hal\uart_ll.h

[code]

Therefore, the uart_ESP32_configure function in the ESP32 UART driver needs

[2022-01-04 09:48] gmarull commented on #41543
The reason is explained in the Google C++ styleguide:

Some C projects, e.g. https://github.com/libgit2/libgit2 seem to follow this convention too. Could you provide an example of your usecase?

[2022-01-04 13:14] erwango commented on #41536
@cfriedt I've created this PR to clarify backport request for this whole topic on V2.7.
For now there's only #41267, but as you see there are more to come that will raise the same concern.
I hope this helps.

@belolap FYI

[2022-01-04 14:05] #34459 closed

[2022-01-04 14:08] #41499 closed

[2022-01-04 14:13] #41347 closed

[2022-01-04 14:59] dleach02 commented on #41524
@danieldegrasse can you take a look at this?

[2022-01-04 15:07] #41352 closed

[2022-01-04 16:25] dkalowsk commented on #41517
Any chance you can provide the west command to build for debug and reproduction purposes?

[2022-01-04 16:54] dkalowsk commented on #41291
@kisvegabor any input?

[2022-01-04 17:23] dleach02 commented on #41482
okay, after seeing the issue I agree with the change request being proposed. Please provide a PR.

I was going to say that the dummy thread is a temporary thread to facilitate the initialization flow as the forced context switch handling code expects a "thread" to be active on the switch to store the state information.. then the dummy thread isn't used anymore. But seeing what you wrote up it and

[2022-01-04 17:28] mcscholtz commented on #40517
Update: I have noticed this also happens when the cache is disabled, but much less frequently. I have stopped using a message queue, and thus cannot reproduce it. I am going to close it since it is very likely a bug in my application that caused this. It can be opened again if someone else sees it.

[2022-01-04 17:28] #40517 closed

[2022-01-04 19:19] dleach02 commented on #41286
@MarkWangChinese can you look at this?

[2022-01-04 19:46] marc-hb commented on #41543
I understand backward compatibility has always been king in C; explains why we're still stuck with the 50-years old `#include`. However and as highlighted by this issue, `#include` leaves a large spectrum of possibilities: from disastrous to somewhat maintainable.

From time to time I've (ab)used `gcc -E -dI -dM -dZ ...` but surely  proper _tools_ / compiler plugins exist to help manage this modul

[2022-01-04 20:51] #41399 closed

[2022-01-04 20:57] #20430 closed

[2022-01-04 21:03] #39144 closed

[2022-01-04 22:13] berendo commented on #41482
Will do - thank you for the feedback @dleach02 and @dkalowsk.

[2022-01-05 00:29] #35873 closed

[2022-01-05 00:42] berendo commented on #41482
I opened the PR @dleach02.

[2022-01-05 01:50] ycsin commented on #41517
I use
[code]

`gtsb_ivm21` is my custom board, basically a [`nucleo_g0b1re`](https://github.com/zephyrproject-rtos/zephyr/tree/main/boards/arm/nucleo_g0b1re) with Quectel EC21 modem and AT45 flash.

[2022-01-05 02:09] ycsin commented on #41517
A small update following this:

I had `SEGGER_SYSTEMVIEW` enabled in my system and thus `LOG_BACKEND_RTT`, I disabled SEGGER related things (and enabled `LOG_BACKEND_UART`, I believe), then it was able to print logs to the terminal, but it was pretty slow with quite a few of dropped messages, and I wasn't able to type anything into the console (SHELL seems to be not working).

It's a bit blurry no

[2022-01-05 03:03] huarunlin commented on #41557
@sylvioalves Release v2.7.1
https://github.com/zephyrproject-rtos/zephyr/blob/zephyr-v2.7.1/drivers/serial/uart_esp32.c#L286

[2022-01-05 03:04] huarunlin commented on #41557
@sylvioalves Release v2.7.1
https://github.com/zephyrproject-rtos/zephyr/blob/zephyr-v2.7.1/drivers/serial/uart_esp32.c#L286

[2022-01-05 07:35] abxy opened #41581 "STM32 subghzspi fails pinctrl setup"
**Describe the bug**
The subghzspi driver fails during initialization when setting up pinctrl.

It fails because subghzspi doesn't have any pinctrl states so `pinctrl_apply_state(..., PINCTRL_STATE_DEFAULT)` returns `-ENOENT` to indicate that the "default" state was not found, which is treated as an error by the driver. Modifying the code so that `-ENOENT` is not treated as an error or so that pin

[2022-01-05 07:38] nordic-krch commented on #41517
Issue reported in shell was fixed by #38960. I will take a look at RTT case.

[2022-01-05 07:40] erwango opened #41582 "stm32h7: CSI as PLL source is broken"
**Describe the bug**
Due to missing definition STM32_PLL_SRC_CSI, CSI can't be used as PLL source on stm32h7

[2022-01-05 08:15] nordic-krch commented on #41517
@ycin can you paste the configuration you were using? Was shell used on RTT as well? In that case you shouldn't need to enable rtt backend(it will go through rttshell) but still it should work.

First report (stack overflow) was happening at startup. When second fault occurs?

Legacy LOG will be deprecated at some point so it would be good to resolve issues like that.

[2022-01-05 08:29] nvlsianpu commented on #41299
Did you tried limit the device name to `#define FLASH_DEVICE DT_LABEL(DT_INST(0, jedec_spi_nor))`
Also: IS25LP: IS25LP016D@0 node compatible should be probably limited to `"jedec,spi-nor"`

[2022-01-05 08:53] nordic-krch commented on #41488
Can you try to apply commits from https://github.com/zephyrproject-rtos/zephyr/pull/41490/commits and check?

[2022-01-05 08:56] kisvegabor commented on #41291
I've answered in the same in issue in https://github.com/lvgl/lvgl/issues/2923 but didn't get answer :slightly_frowning_face:

[2022-01-05 09:05] erwango commented on #41581
@abxy Thanks for reporting this.

I think that the following looks like the better approach

Though, it should be applied only if instance is a st,stm32-spi-subghz,
so we'd need to add something like `if (cfg->use_subghzspi_nss)` to verify it.

[2022-01-05 09:13] mmajchrzycki commented on #21826
You can do it by using the following function (from nRF Connect SDK):
[code]

[2022-01-05 09:14] MarkWangChinese commented on #41286
Hi @LuoZhongYao  do you mean that the one HID report descriptor attribute's data length is bigger than the SDP_MTU?

[2022-01-05 10:12] koffes commented on #21826
Thanks, we are already using that one. Though, this may cause timer issues as Zephyr is not aware that the CPU has changed its base frequency. This may impact logging, scheduling, etc. This should be a Zephyr level API.

[2022-01-05 10:19] nordic-krch commented on #41289
@emillindq can you check the fix (#41584)? I assumed that you were using `LOG_MODE_IMMEDIATE`.

[2022-01-05 10:24] de-nordic commented on #41488
I have also seen the issue after a lot of logging from Bluetooth on device init, no more logs would appear. In my case shell has been disabled and uart has been used for logging only. The platform has also been nrf52840dongle, but I do not think that the platform is a factor here.

[2022-01-05 10:41] nordic-krch commented on #41488
@de-nordic are you able to try that with #41490?

[2022-01-05 10:59] Thalley opened #41589 "LE Audio: Split unicast client and unicast server functionality"
Currently the unicast client and the unicast server implementations are implemented across multiple files and sometimes are very high coupled.

This makes it hard to find the code used for either roles, and makes maintenance harder.

The current structure we have for unicast is

- chan.c - Used mainly for the unicast client, and implements the public API functions
- bap.c - Used mainly for the uni

[2022-01-05 11:00] Thalley opened #41590 "LE Audio: CAP API - Acceptor"
Design the API for CAP Acceptor role
Involve Oticon/CodeCoup

See notes from F2F (pending) for agreement on direction for this API

May be tricky before the BAPS has been merged upstream

[2022-01-05 11:00] Thalley opened #41591 "LE Audio: Add public API to CSIP/CSIS"
Add a public API for the Coordinated Set identification Service server and client.

[2022-01-05 11:01] abxy commented on #41581
Thanks for the input.

Can `cfg->use_subghzspi_nss` really be used reliably for this? A subghzspi device that doesn't use that option would still fail the same way.

I wonder if it would make more sense to test if the device has the subghzi compat during instantiation (using `DT_NODE_HAS_COMPAT([...], st_stm32_spi_subghz)`)  and not define a `struct pinctrl_dev_config` for it. That would leave `pc

[2022-01-05 11:02] Thalley opened #41592 "Object Transfer Service Client made "official""
We want an upstream Object Transfer Service client, so that the le-audio Media Control Sercvice Client can use that one instead of the le-audio OTS client implementation.

The temporary OTC implementation in the le-audio stack could be a starting point, together with the already existing upstream OTS server.

2020.12.02, updated 2021-11-09

Todo:
- Take the implementation we have in the le-audio s

[2022-01-05 11:05] Thalley opened #41593 "LE Audio: Upstream BASS"

[2022-01-05 11:05] Thalley opened #41594 "LE Audio: Upstream CCP/TBS"

[2022-01-05 11:06] Thalley opened #41595 "Create API to get if ISO conn is CIS or BIS"
It would simplify the code in the application if we could ask if a given iso_chan is BIS or CIS.

[2022-01-05 11:08] Thalley opened #41596 "Split connected ISO client and server by Kconfig"
As a developer I want to support only one of the roles

Add a Kconfig option for each of the roles based on the central/peripheral Kconfigs

[2022-01-05 11:12] realszopen opened #41597 "Unable to build mcuboot for BL654_DVK"
**Describe the bug**
A clear and concise description of what the bug is.

I am unable to build mcuboot bootloader for bl654_dvk. I can setup the build folder, cmake configure runs fine, but when trying to build with Ninja I get:

FAILED: zephyr/zephyr_prebuilt.elf zephyr/zephyr_prebuilt.map /home/szopen/mcuboot/boot/zephyr/build/zephyr/zephyr_prebuilt.map
: && ccache /home/szopen/gnuarmemb/bin/arm

[2022-01-05 11:15] erwango commented on #41581
Since it is defined in `dts/arm/st/wl/stm32wl.dtsi`, I'm under the impression a subghzspi device has to use this option.
Maybe @fabiobaltieri can confirm ?

This would apply to all instances, but this process should not be applied to other, non subghz, SPI instances.

[2022-01-05 12:15] sylvioalves commented on #41557
@huarunlin So, the uart driver has been refactored to use HAL layer. However, this got merged after 2.7 release.
1) You can use latest main which have this in place.
2) As you already proposed the solution, you could open a PR to 2.7 release (backport). @cfriedt Can this fix be backported? I am not sure as this is not a fix on main branch.

[2022-01-05 12:50] lmpprk commented on #41488
@nordic-krch thanks I tried and it seemed to work correctly now with #41490 applied, I no longer observed the issue.

[2022-01-05 13:28] abxy commented on #41581
I think I misunderstood the implication of a boolean devicetree property with `required: true`.  It seems like there is no way to set it to false. So `cfg->use_subghzspi_nss` should be a reliable test. I'll make a PR using this approach.

It can be done per instance using the `COND_CODE_0` macro. I did a test after proposing the idea. But I prefer to not use such macrobatics if it can be avoided.

[2022-01-05 13:42] #41240 closed

[2022-01-05 13:42] #41488 closed

[2022-01-05 14:06] nashif commented on #33725
"Topics" is very general, what is the criteria for something to land under Topics? Based on the example you provide this could grow into a large number of topics that are in fact sub-topics, i.e. I do not see why pinctrl or fieldbus needs to be a top level topic and not part of something more general (i.e. hardware support or something else) with those being sub-topics instead.

Can you elaborate

[2022-01-05 14:15] ABOSTM commented on #41449
@bfa8, you are right this is abnormal.
And looking at other implementations:
* https://github.com/zephyrproject-rtos/zephyr/blob/c51aa88046ca5c9d687e3e6802b32ddd57dd6de4/drivers/pwm/pwm_mcux_ftm.c#L138
* https://github.com/zephyrproject-rtos/zephyr/blob/c51aa88046ca5c9d687e3e6802b32ddd57dd6de4/drivers/pwm/pwm_mcux_pwt.c#L66

there is no check on CallBack parameter.
So STM32 driver is wrong and sho

[2022-01-05 14:21] gmarull commented on #33725
I didn't have better ideas, but I agree Topics is not a great name. What is a topic or a sub-topic is really subjective, so there's no single answer here. I think the idea would be to expose at top-level common or popular areas, e.g. sensors, Kernel or Devicetree may deserve a top-level entry whereas Fieldbus could be under protocols, industrial, or communications areas. I was thinking on a range

[2022-01-05 14:39] erwango opened #41606 "stm32u5: Re-implement VCO input and EPOD configuration"
**Describe the bug**
During implementation of https://github.com/zephyrproject-rtos/zephyr/pull/41310, VCO input and EPOD configuration were removed.
Initial tests didn't show any adverse effect, but it would be saner to re-instantiate this piece of code.

Instead of doing it directly in #41310, it is proposed to do it on top of https://github.com/zephyrproject-rtos/zephyr/pull/41585,
taking benef

[2022-01-05 14:39] erwango commented on #41606
@ABOSTM fyi

[2022-01-05 15:04] rerickson1 opened #41608 "LwM2M: Cannot set pmin/pmax on observable object"
**Describe the bug**
Code fails setting pmin first because pmax hasnt been set yet (defaults to 0) and it is less than pmin.
The code never proceeds past Line 2808 of `lwm2m_engine.c`:
[code]

[2022-01-05 15:26] bfa8 commented on #41449
Yes, I would like to submit a Pull Request. I will add the link to the PR to this report as soon as I have created it.

[2022-01-05 15:49] danieldegrasse commented on #40788
Was fixed by merge of https://github.com/zephyrproject-rtos/zephyr/pull/40794

[2022-01-05 15:49] #40788 closed

[2022-01-05 16:08] danieldegrasse commented on #41331
@LixinGuoX Won't other tests, like the [SPI loopback example](https://github.com/zephyrproject-rtos/zephyr/tree/main/tests/drivers/spi/spi_loopback), fail if the device under test does not have a specific hardware configuration (jumper between MISO and MOSI)? Or is there a method you're using to exclude those tests that the disk driver test does not support? If so, maybe that could be added here,

[2022-01-05 16:29] carlescufi opened #41613 "Process: Review and update Milestone Definitions"
The Milestone Definitions are not being respected correctly in our current release process.
Adapt and rework them so that they make sense to our releases:

https://github.com/zephyrproject-rtos/zephyr/wiki/Program-Management#milestone-definitions

[2022-01-05 16:53] nashif commented on #33725
ok, thanks. this looks good and we should consider it IMO

[2022-01-05 17:07] yperess commented on #37223
Ping, this seems to have been approved at the TSC meeting way way back. I'm getting some bandwidth to finish it up. Can we please get the fork done? @nashif would you be able to help get the fork created or @ mention someone else that can? I heard from my org that Intel is very interested in using this so it might become a bit of a higher priority.

[2022-01-05 17:16] nashif opened #41616 "Define process for managing access to essential resources of the project"
Define a process for managing access with elevated permission levels to essential resources of the project (Github, CI, communication platforms, websites, etc.):

- Define requirements for having access
- Define requirements for maintaining access
- Define when access should be revoked
- Define backup plans

[2022-01-05 18:11] jfischer-no commented on #41331
@danieldegrasse I guess the testcase.yaml needs "fixture: disk_sdcard", like there is`fixture: spi_loopback` or `fixture: gpio_loopback`.

[2022-01-05 18:51] dleach02 commented on #41523
@cfriedt, FYI I get the same warnings with 'west'

[2022-01-05 18:58] cfriedt commented on #41523
@dleach02 - yes, but they aren't promoted to errors. We should try to eliminate the warnings too

[2022-01-05 19:03] dleach02 commented on #41523
well that is because twister forces warnings as errors... but the same warnings.

but what is needed is a board specific overlay on how this display is connected to the board. We have never connected this display to the board in question. I would like to have something in the "samples.yaml" to exclude targets that don't have an overlay or targets that haven't enabled the i2c. Right now it builds f

[2022-01-05 19:22] martinjaeger commented on #30466
@carlescufi I suggest to put this on the agenda of next API meeting if possible. I'm happy to support cleaning up some header files once we have decided on a strategy.

Even if we can't come up with a complete "Guideline", just being clear about the point whether internal driver APIs should be exposed in the docs would be very useful already. (in my opinion they should not)

[2022-01-05 19:58] #41289 closed

[2022-01-05 20:37] fabiobaltieri commented on #41581
Yeah that's the case with the current hardware (the way that the WL chip is built). I suppose one could imagine a device with an internal SPI with the chip select going through a GPIO (wired internally), but then it would just look like a normal SPI, would have a gpio phandle and everything else should work normally. This sounds like a reasonable approach to me.

[2022-01-05 21:28] jvasanth1 commented on #41012
Hi bbolen,

Thanks for your comments. I fixed this issue by defining IRQn_Type in zephyr/soc/arm/microchip_mec/mec172x/soc.h and tested with our keyscan driver (NVIC 135). The relevant pull request is here [#41279](https://github.com/zephyrproject-rtos/zephyr/pull/41279)

Note: we would need a exception to the following warning
-:39: WARNING:NEW_TYPEDEFS: do not add new typedefs

Please help to ge

[2022-01-06 00:32] LuoZhongYao commented on #41286
@MarkWangChinese Any attribute greater than SDP_MTU will do, but the HID report descriptor is usually larger, and it is easier to exceed SDP_MTU

[2022-01-06 01:22] boazn-auto-talks opened #41622 "Infinite mutual recursion when SMP and ATOMIC_OPERATIONS_C are set"
**Describe the bug**
On Zephyr 2.7 configured for ARC board, when SMP and ATOMIC_OPERATIONS_C are set, i.e.
CONFIG_SMP=y
CONFIG_ATOMIC_OPERATIONS_C=y
,an infinite mutual recursion occurs during the ARC board initialization.
The infinite mutual recursion occurs between k_spin_lock and atomic_cas functions which is triggered by z_impl_atomic_cas
in the following function call sequence:
_z_impl_atomi

[2022-01-06 02:57] LixinGuoX opened #41623 "esp32: fail to build sample/hello_world with west"
**Describe the bug**
When I follow the doc instruction on https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html,
it failed to find /home/guo/zephyr-sdk-0.13.1/xtensa//xtensa-zephyr-elf/bin/xtensa-zephyr-elf-gcc.
Why it needs to go to zephyr-sdk-0.13.1 folder to find esp toolchain?
Is there anything I missed to install?

**To Reproduce**
Steps to reproduce the behavior:
1. west b

[2022-01-06 03:49] huarunlin opened #41624 "ESP32 Uart uart_esp32_irq_tx_ready"
The modbus serial uart_cb_handler callback function handles all uart interrupt events. In recv state (rx irq enable, tx irq disable), cb_handler_rx obtains the data, and then judges uart_irq_tx_ready (esp32 uart is realized as judgment tx fifo len> 0). RS485 feature, at this time fifo len is 0, the data just received will be It was sent immediately, causing it to fail to receive normally.

https:/

[2022-01-06 05:34] LixinGuoX commented on #41623
Find some repo error and redownload the espressif tool, things works well, so close this.

[2022-01-06 05:34] #41623 closed

[2022-01-06 05:53] ycsin commented on #41517
Thanks for all the support!

I'm not sure about the backends, I generally don't mess with the default configurations unless something doesn't work as expected. I'm not really sure what is RTT, I'm just trying out the `SEGGER_SYSTEMVIEW` for debugging.

My usual `prj.conf` contains these shell/log Kconfigs:
[code]

Anything else is implied by some other Kconfigs that I might not know that they have

[2022-01-06 07:19] cvinayak commented on #40317
@jakkra and @saleh-unikie Wish you a very good New Year.

There has been some updates and rebasing of the PR #41091, I believe to have fixed a corruption in a receive queue that caused internal memory leak of contexts used in reception of auxliary PDUs.

(I also believe there is one another race condition causing an assert in ull_scan.c)

Hope you will be able to test your application, and revert

[2022-01-06 07:29] cvinayak commented on #39432
This fixed in upstream/main  and latest periodic adv/sync changes are available in #41091

[2022-01-06 11:21] ssharks opened #41627 "PPP_L2 does not properly terminate the modem state machine when going down."
In ppp_l2, when an ppp connection is started by ppp_enable(ctx,true), it calls ppp_lcp->open, in the function start_ppp. There is no such stop_ppp function that calls ppp_lcp->close when ppp_enable(ctx,false)

Unless the modem itself closes the the connection, the LCP layer will not properly terminate and the modem stays in the data mode instead of in command mode. A proper ppp_lcp->close sequence

[2022-01-06 11:37] belolap commented on #41089
I'm close it because pr was merged.

[2022-01-06 11:37] #41089 closed

[2022-01-06 12:55] #41440 closed

[2022-01-06 13:13] henrikbrixandersen commented on #24802
@Urist-McGit The cache invalidation fix for the common M_CAN driver code is in the main tree now. Do you plan on picking up your work on the Atmel SAMV71 M_CAN driver front-end?

[2022-01-06 13:34] FRASTM commented on #41058
@Kshitij4kk, Could you please check if PR https://github.com/zephyrproject-rtos/zephyr/pull/41560  helps

[2022-01-06 13:39] venkatesh-eq commented on #40795
Is Zephyr commercially deployed with ARM64 + SMP? Is it part of the supported platform for Zephyr? There seems to be a fundamental problem with pre-emption that we were able to reproduce pretty easily. surprising to me that no one has complained so far.

[2022-01-06 13:44] carlocaione commented on #40795
It is supported by Zephyr and not sure if there is any commercially deployed platform.

I would not say that this is pretty easily reproducible given that all the Zephyr unit tests are all successful, including the ones testing SMP. This bug is hitting some kind of corner case that it is not straightforward to fix. I tried to look into this but my free time is very limited.

[2022-01-06 14:09] Urist-McGit commented on #24802
After a discussion on the zephyr slack channel, I found out that @legoabram and Michael Albrecht had already implementented a prototype of the specialization before me. They did not mention it anywhere here so I unfortunately redid their work for the most part. Have you tried pinging them? They should be able to help you :)
It has been quite some time since I touched the code, but if I remember co

[2022-01-06 14:39] sylvioalves commented on #41557
Can we close this?

[2022-01-06 14:41] carlocaione commented on #40795
I pushed here https://github.com/carlocaione/zephyr/commit/c6cecbeee6c23b3183b5319e06afbafdc33de739 a smaller and better reproducer for the issue in case anyone else wants to work on this.

[2022-01-06 15:04] brgl opened #41628 "Move LVGL glue code to zephyr/modules/"
The in-tree glue code for LVGL should live in zephyr/modules/ and not in lib/gui/lvgl as it requires an external module repo.

This is a follow-up task to https://github.com/zephyrproject-rtos/zephyr/pull/41336

[2022-01-06 15:09] alwa-nordic commented on #41543
There exists a tool for detecting indirect dependencies we could consider using: https://include-what-you-use.org/

Indirect dependencies / transitive includes are a reliance on a implementation detail and can break in the future. E.g:

[code]

If `feature_foo.h` drops its dependency on stdbool, `user_of_feature_foo.c` will unexpectedly break.

[2022-01-06 15:25] tejlmand commented on #41628
@brgl as no one has been assigned to this task could you please provide a detailed description of:
- What files are considered glue files and must be moved to [zephyr/modules](https://github.com/zephyrproject-rtos/zephyr/tree/main/modules)
- Are there any settings in those files that must be moved to another Kconfig file and kept in the `lib/gui` tree, as they are not considered glue code
- Other

[2022-01-06 15:35] danieldegrasse commented on #41331
@jfischer-no Thank you for the idea, that seems like it should work. @LixinGuoX, could you look at #41629 and confirm it works for your test case?

[2022-01-06 15:36] brgl commented on #41628
I would have assigned myself if I could but I don't have the permissions. Will do that tomorrow, sure. Please assign it to me if you can.

[2022-01-06 15:53] tejlmand commented on #41628
Done, and in that case no need for detailed info.
Was only concerned that if this task would stay idle for some time, then someone would be unsure exactly what was required.

[2022-01-06 16:34] erwango commented on #41582
Closing since #41431 is now merged

[2022-01-06 16:34] #41582 closed

[2022-01-06 16:46] FRASTM commented on #40955
I think that a new entry in the dts/bindings/adc/st,stm32-adc.yaml
[code]

With a `clock_prescaler` field  in the `adc_stm32_cfg` structure directly defines the index of a `adc_clock_prescaler[]` table. So the stm32 adc driver init is passing this `adc_clock_prescaler[config->clock_prescaler]` instead of a fixed value,  as the CommonClock parameter of the `LL_ADC_SetCommonClock` function.

This `a

[2022-01-06 16:57] #41482 closed

[2022-01-06 17:17] cfriedt commented on #41557
@sylvioalves , @huarunlin - if there is a bug in this driver for v2.7.1, please create a PR to fix and link against this issue. Otherwise, I would suggest using main. We can only backport bugfixes to `v2.7-branch`.

[2022-01-06 19:02] nashif commented on #41469
proposal was brought up in the TSC and was approved, per guidelines, this will now be forwarded to the board.

[2022-01-06 20:51] rerickson1 opened #41632 "LwM2M: Add support for battery object (3411)"
Add support for object [3411](https://raw.githubusercontent.com/OpenMobileAlliance/lwm2m-registry/prod/3411.xml) so a connected devices battery level can be monitored.

[2022-01-06 22:44] gmarull commented on #41543
That's an interesting option to look at!

[2022-01-06 23:17] Thalley commented on #41355
Besides checking for client support, we will also need a way to enforce the ATT layer to use an enhanced bearer.

[2022-01-07 03:55] kaiser-ren opened #41635 "Samples: iso_broadcast can not work properly unless some extra configuration flags"
**Describe the bug**
If user build this sample for nrf52840, the sample can not work properly.

After adding more configuration flags in prj.conf, the sample can broadcast BIGinfo and BIS.

Need to add these flag in separate Board folder or prj.conf

The flags
CONF_BT_CTLR_ADV_EXT
CONF_BT_CTLR_ADV_PERIODIC
CONF_BT_CTLR_ADV_ISO

[2022-01-07 05:00] LixinGuoX commented on #41331
@danieldegrasse , yes, it works, now test is skipped instead of getting failed. Thanks.

[2022-01-07 05:42] maweicoltsmart opened #41637 "Modbus Gateway: Transaction ID Error!"
samples/subsys/modbus/tcp_gateway/

fix the bug:
[code]

[2022-01-07 06:04] #41557 closed

[2022-01-07 07:49] #41291 closed

[2022-01-07 09:00] tejlmand opened #41640 "Zephyr generic multi-image meta"
This is a meta issue trying to collect use-cases related to Zephyr multi-image builds.

Building of multiple images through a single build invocation together with flashing capabilities is a recurring feature request.

This meta issue tries to collect all the different scenarios which have been requested, including those which have a custom solution.

What is desired is an overall solution that is

[2022-01-07 10:02] martinjaeger opened #41642 "Deploy generated docs from PRs to GitHub Pages"
**Is your enhancement proposal related to a problem? Please describe.**

Changes affecting the Documentation are often hard to review if you can't browse the final generated HTML pages.

As pointed out by @henrikbrixandersen, the build artifacts can be downloaded. However, this involves some additional steps by the reviewer (click through the GH Actions results, download the file locally, unzip it

[2022-01-07 10:55] gmarull commented on #41642
+1 on getting docs preview. Due to the size of built docs ~400Mb, I'm not sure if `gh-pages` would be a suitable solution (see https://docs.github.com/en/pages/getting-started-with-github-pages/about-github-pages#limits-on-use-of-github-pages).

One solution would be to use https://readthedocs.org/ as they seem to offer this capability, but they just support the _standard Sphinx workflow_. Sphinx

[2022-01-07 11:08] boaks commented on #41503
I use now HAVE_SYS_TIME_H in my files to exclude the header.

[2022-01-07 11:13] martinjaeger commented on #41642
Good point. I didn't realize the docs are *that* big. Even if GH pages allowed more storage, having a gh-pages branch with all these files is probably not a good idea as it would dramatically increase the size of the repo that is cloned by everyone (if one does not clone/pull a specific branch).

The Nordic approach with a dedicated HTTP server looks great.

I removed "GH pages" from the title and

[2022-01-07 12:07] gmarull commented on #41503
may be related #41543

[2022-01-07 12:42] jukkar commented on #41637
Please send a PR for the fix so that it can be reviewed and merged properly.

[2022-01-07 12:51] jfischer-no commented on #41637
It does not look like correct fix for me. And for what bug?

[2022-01-07 13:05] jukkar commented on #41637
I do not know, that is why I suggested that a PR is created so that the "fix" can be reviewed.

[2022-01-07 13:35] saleh-unikie commented on #40317
Thanks @cvinayak , I hope a good year, full of happiness for you too.

I've tested and "ASSERTION FAIL" problem is not seen anymore, but still there is another issue which I've explained it some days ago, you can find it here:
https://github.com/zephyrproject-rtos/zephyr/issues/41465#issuecomment-1001943926

In summary, when `BT_LE_PER_ADV_SYNC_OPT_DONT_SYNC_AOA` or `BT_LE_PER_ADV_SYNC_OPT_DONT_SY

[2022-01-07 13:36] #41524 closed

[2022-01-07 13:58] #39978 closed

[2022-01-07 14:01] #41331 closed

[2022-01-07 14:01] heinwessels opened #41650 "STM32H7 SPI123 incorrect clock source used for prescaler calculation"
## Describe the bug
In the STM32H7 series the assumed clock source is incorrect when using SPI1, 2 or 3. This incorrect clock source is then used to calculate the clock prescaler (`SPI_CFG:MBR`), which can then potentially be calculated incorrectly. More specifically, it assumes the SCK clock source is, for example `APB2`, while it's by actually by default `PLL1Q`. This resulted that our custom ST

[2022-01-07 14:10] asbjornsabo opened #41651 "Bluetooth: Controller: BIG Sync: Channel map update of BIG"
Implement handling of channel map indication reception from ISO Broadcaster.

[2022-01-07 14:14] asbjornsabo opened #41652 "Bluetooth: Controller: BIG: Channel map update BIG: Generation of BIG_CHANNEL_MAP_IND (sent 6 times)"
Implementation should be similar to like the terminate procedure.

Additionally,
The Link Layer shall update the ChM field in the BIGInfo and send the
updated BIGInfo in the associated periodic advertising train (if enabled) at the
nearest future periodic advertising event to the instant.

[2022-01-07 14:15] asbjornsabo opened #41653 "Bluetooth: Controller: Extended Advertising Scan: Implement Scan Data length maximum"
Fixed by #41485

[2022-01-07 14:16] asbjornsabo opened #41654 "Bluetooth: Controller: Periodic Advertising Sync: Implement Scan Data length maximum"
Use the local prototype implementation to generate log periodic advertising chains
    Add a Kconfig for Scan Data Length Maximum value
    Implementation to track AD data length when receiving chain PDUs
    Truncate the Sync Reports based on set Scan Data Length Maximum value

Goal:

    Pass Periodic Advertising Sync 1M, 2M and Coded PHY conformance test

#41091

[2022-01-07 14:35] erwango commented on #41650
Thanks for raising this @heinwessels.

I'm currently looking at supporting multiple/alternate peripheral clock source by STM32 clock_control driver.
One of the advantage would be to centralize most of the work in one common driver, rather than splitting
it in multiple peripheral drivers (which would also have to support similar problem for multiple series)

I still need to give it more thoughts be

[2022-01-07 14:49] heinwessels commented on #41650
@erwango I do believe this not at all a framing issue, and therefore not related to the issue you mentioned. It's also not limited to the `ws2812` at all. I picked up this issue when using the SPI for normal communiation (controlling a `ili9341` LCD display). I simply used `ws2812` sample as it seemed like the fastest way to get a dummy SPI peripheral running as minimal working example.

One of th

[2022-01-07 15:01] erwango commented on #41650
Ok. I didn't want to say this was the root cause of the clock issue you've identified, as it seems to be a well established issue.
I just wanted to be sure we're not colliding 2 different issues here by picking up an already broken example. And if not the case then I wonder if #40860 is required if you're able to get the sample working w/o it.
Though, anyway as mentioned, this is a totally differe

[2022-01-07 15:33] heinwessels commented on #41650
I don't think that's the case :) I made really sure that it's indeed a bug, because it's been giving me quite a few headaches.

I understand completely. Then it will be lower priority for me to create a temporary fix. In our implementation I will simply change the `PLL Q` divisor so that it matches the expected clock source frequency for now, since it's not used for anything else. Hacky, but shoul

[2022-01-07 16:20] #41253 closed

[2022-01-07 17:48] #41268 closed

[2022-01-07 19:26] preetham05 opened #41662 "DMA Support for ATSAME54-XPRO"
A communication via UART between STM32WB board and ATSAME54 board is desired. UART communication with DMA would be faster and efficient but ATSAME54 does not have DMA enabled. Adding DMA feature to this board would be helpful for my project.

[2022-01-07 22:32] dpalchak opened #41664 "device_get_binding() unnecessarily inefficient if device is not ready"
**Is your enhancement proposal related to a problem? Please describe.**

The `device_get_binding()` performs a multi-pass linear search over all of the devices in the system to find a particular device by name. The first pass compares pointers to look for the name. The second pass does a true `strcmp` on the names.

If the desired device is found partway through one of the passes, but the device i

[2022-01-07 22:34] #41664 closed

[2022-01-07 22:34] dpalchak commented on #41664
Opened using wrong github account. Will repost.

[2022-01-07 22:34] palchak-google opened #41665 "device_get_binding() unnecessarily inefficient if device is not ready"
**Is your enhancement proposal related to a problem? Please describe.**

The `device_get_binding()` performs a multi-pass linear search over all of the devices in the system to find a particular device by name. The first pass compares pointers to look for the name. The second pass does a true `strcmp` on the names.

If the desired device is found partway through one of the passes, but the device i

[2022-01-07 23:45] jefffhaynes commented on #36005
I'm not following this.  Say you have a peripheral with no screen (e.g. a lightbulb) and you want to prevent random devices from connecting to it.  Wouldn't the only way be to put a code on the bulb and have the user enter the code into the central (e.g. phone)?  And in this scenario, I don't see how that's possible without a static key.  Is there a better approach to this use case that I'm missin

[2022-01-07 23:57] albertofloyd opened #41667 "doc: arm: mec172x: MEC172x EVB documentation points to some inexistent jumpers"
**Describe the bug**
MEC172x EVB Documentation needs to be revisited
https://docs.zephyrproject.org/latest/boards/arm/mec172xevb_assy6906/doc/index.html

There are several some jumper options that do not match the physical board.
i.e. Documentation indicates to close JP88 5-6, but EVB board JP88 is 1x3 pin header.

If you wish to power from +5V power brick, then connect to barrel connector P11 (5.

[2022-01-08 00:48] Emill commented on #36005
@jefffhaynes You are absolutely correct. Using a static passkey like this is exactly what for example Homekit and the upcoming Matter does to ensure "random" devices (i.e. devices controlled e.g. by a hacker standing outside the house) from pairing with it and at the same time ensure authenticated encryption. Algorithms solving this in a secure way are called PAKE (password-authenticated key agree

[2022-01-08 01:07] jefffhaynes commented on #36005
Ah interesting, I didn't realize it was so broken.  Reminds me slightly of the OpenSSL padding vulnerability. I think the static key will have to suffice for our purposes but a shame they keep mucking these things up.

[2022-01-08 01:17] cvinayak commented on #40317
@saleh-unikie  Thanks for the quick testing and quick response on confirming that assertion issue is resolved by using the work in PR #41091

I have been running some long duration tests and discovered couple more development assertions related to race when terminate is initiated by application. I have not pushed the latest changes yet, will do next week and I would like you and @jakkra to do resp

[2022-01-08 07:27] paulrouget commented on #2746
FYI I managed to implement dynamic loading (very similar to `dlopen()`) from a blob on Flash thanks to this little tool: https://github.com/bogdanm/udynlink

[2022-01-08 19:18] beriberikix commented on #2746
@paulrouget nice! Any sample code you can share?

[2022-01-09 00:29] #39728 closed

[2022-01-09 06:07] DrewOJensen commented on #41093
Hey @trond-snekvik, I'm only digging up this thread because I'm having the exact same issue. I can build with west and it shows as being successful but the error continues to pop up. I wasn't sure if it was due to the python being used is within the toolchain rather than any python version installed locally.

This shows the same error message that @idkq got.
<img width="1440" alt="Screen Shot 2022

[2022-01-09 09:03] boazn-auto-talks commented on #41622
According to Discord discussion,  SMP and ATOMIC_OPERATIONS_C configurations shouldn't be set together.
In this case, this is not a bug.
Can someone please confirm?

[2022-01-09 10:54] trond-snekvik commented on #41093
Hey, this looks like a python mismatch, yeah. Changing your "Kconfig: Python" should indeed fix this (you'll need to restart your vs code instance). It doesn't affect anything except the extension itself, and I'd be more wary of ignoring the error if you're using the extension's menuconfig UI to change things.

[2022-01-09 16:31] joetham commented on #34438
Hi @mglettig
I am interested to know how did you link the MBEDTLS library in zephyr
-DUSE_MBEDTLS LIBS += -lmbedcrypto -lmbedtls -lmbedx509
I am also trying to use Civetweb 1.14 + MBEDTLS with Zephyr
If you already have some branch let me know, thanks in advance

[2022-01-09 19:07] boaks commented on #41503
The header `<sys/time.h>` is part of the compiler tool-chain (gcc-arm-none-eabi-9-2019-q4-major, arm-none-eabi/include/sys). I guess, for other processor families, this may be not the case.
I'm not sure, what fits/fixes best. Either try to exclude the "toolchain headers" or try to include them conditionally. At least it's hard to see, what went wrong, if the compiler includes such header, which ar

[2022-01-09 21:27] MattCampbellST commented on #30692
I'm new to Zephyr, but running into the same issues as outlined here. As @eanderlind pointed out, the issues with managing multiple binaries for minor board difference can be costly and error prone. This is even more an issue with chips shortages having redesigns and/or footprint compatible parts that aren't software compatible a fact of daily life.

I thought I'd describe my use case as well as m

[2022-01-10 03:12] beiszhihao opened #41677 "undefined reference to `__device_dts_ord_xx'"
**Describe the bug**
Hi zephyr developers, Hello!

I recently developed a wm89xx coder driver for a development board. My example is drivertree. The registration code is as follows:
[code]
But I had a problem compiling:
[code]
Remind me undefined reference to `__device_dts_ord_92'，I studied it carefully. The problem lies in this registration macro
[code]
So I went to check the implementation of th

[2022-01-10 03:22] DrewOJensen commented on #41093
Thanks for the confirmation @trond-snekvik. I'm not using the menuconfig UI, but none the less, I decided to put the toolchains Python link into the "Kconfig: Python" and the error has gone away. Thanks again for all your dedication!

[2022-01-10 04:21] palchak-google commented on #40023
Not stale. Still an issue.

[2022-01-10 09:29] sam131208 opened #41682 "ESP32 mcuboot"
**Describe the bug**
When I follow the doc instruction on https://docs.zephyrproject.org/latest/samples/subsys/mgmt/mcumgr/smp_svr/README.html, it failed to build the mcuboot.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b esp32 -d build_mcuboot bootloader/mcuboot/boot/zephyr

**Expected behavior**
OTA the application by BLE.

**Logs and console output**
[2/26] Building C obje

[2022-01-10 09:33] mglettig opened #41683 "http_client: Unreliable rsp->body_start pointer"
**Describe the bug**
Starting with Zephyr v2.7 I observed that rsp->body_start information in the http_client callback is not always reliable. Sometimes this pointer is set in the middle of a large reply.

- The target platform that I'm using is NRF9160.
- A potential workaround is to only use the rsp->body_start pointer once a the beginning of a server reply and latter ignore this pointer.

**To

[2022-01-10 10:28] rohand87 opened #41686 "SPI CS signal not used in SSD1306 driver"
**Describe the bug**

I am trying to run the `drivers/display` sample code on a OLED display having SS1306 driver in 4 wire SPI mode. My host MCU is STM32G474RET. The code builds and runs properly but nothing happens on the display. I am sure the hardware is ok because I have tested [this code](https://github.com/afiskon/stm32-ssd1306) on the same hardware.

After some debugging I found that the S

[2022-01-10 11:00] #35437 closed

[2022-01-10 11:12] jakkra commented on #40317
Hi @cvinayak wish you a good new year also!

I have today started testing out your updates, I'll continue rest of the day but so far I have the following observations:
I'm using commit 8a815484e813425646181448e287de7638a3eaa7 from your PR.
1.  On transmitter side I hade to change `bt_df_adv_cte_tx_param: .cte_type: BT_HCI_LE_AOA_CTE => BT_DF_CTE_TYPE_AOA`
2. Receiver is not finding any transmitter

[2022-01-10 11:52] tejlmand commented on #39944
Closing, question has been answered.

[2022-01-10 11:52] #39944 closed

[2022-01-10 11:55] cvinayak commented on #40317
@jakkra Thank you for testing.

1 and 2 could be upstream changes.

3 and 4 is something worrying me. I suspect it to be outside the influence by periodic sync implementation and relates with #40916. I will continue the investigation and revert back to you when I have a definite fix.

[2022-01-10 12:34] sylvioalves commented on #41682
@sam131208, MCUBoot porting for ESP32 SOC is still a standalone procedure, which means you can't yet build as the sample describes. Please, follow the documentation below to build and flash the mcuboot bootloader. Once flashed, you need only to work on the sample application.
https://github.com/mcu-tools/mcuboot/blob/main/docs/readme-espressif.md

[2022-01-10 12:48] benediktibk opened #41691 "Tickless Kernel on STM32H7 fails with Exception"
**Describe the bug**
Running a tickless kernel on a STM32H7 produces the following error:

    *** BootingE: ***** Reserved Exception ( -1) *****
    E: r0/a1:  0x0800e9c8  r1/a2:  0x10000000  r2/a3:  0x00600010
    E: r3/a4:  0x240031ac r12/ip:  0x00000000 r14/lr:  0x08004e83
    E:  xpsr:  0x01000000
    E: Faulting instruction address (r15/pc): 0x0800deb6
    E: >>> ZEPHYR FATAL ERROR 0: CPU ex

[2022-01-10 13:37] #8924 closed

[2022-01-10 14:35] iparobin opened #41694 "undefined reference to `_open'"
Hello,
I don't know if I missed something but I'm trying to use the POSIX support for thread management for the nrf52833 board. I made this choice to be compatible with other OS.
I have integrated the following config to enable POSIX in prj.conf:

[code]

A part of my CMakelist for the compilation of my module :
[code]

And I have the following problem whenever I call pthread_create:
[code]

I com

[2022-01-10 14:50] hjuul commented on #38548
Hi, I'm reopening this issue.

In the original post I was seeing this issue when using LittleFS logging backend with the file system on QSPI flash. Since I couldn't make it work I disabled that feature.

Now I'm using NVS with a storage partition in QSPI flash, and I'm seeing the exact same issue. I'm not using the QSPI flash for anything else, so I no longer believe this is an issue of concurrent

[2022-01-10 14:51] hjuul commented on #38548
@FRASTM, could you please reopen this issue?

[2022-01-10 15:45] #41637 closed

[2022-01-10 15:50] danieldegrasse opened #41697 "Enable sharing of image size information in multi-image builds"
This issue is created to track the use case for multi image in #41579. In this instance of Zephyr multi image, the primary core must copy the secondary core application into RAM at boot. The current approach in #41579 is to link the second image binary into the primary image as a binary blob, and then use the `LOADADDR` the linker provides, along with the calculated image size to allow the primary

[2022-01-10 15:52] danieldegrasse commented on #41640
#41697 tracks the use case required for #41579, namely the requirement to share information about a secondary image with a primary image in order to enable the primary core image to copy the secondary image from flash to ram

[2022-01-10 16:08] carlescufi commented on #41697
I think this is somewhat related to #31073

[2022-01-10 16:09] carlescufi commented on #41697
@tejlmand @mbolivar-nordic @carlocaione FYI

[2022-01-10 16:42] jefffhaynes opened #41698 "What does one have to do to activate BT_DBG?"
In the midst of SMP debug hell and I've been completely unable to get BT_DBG to trace anything out, at least in some modules (??)

Version is 2.7.99.  It's a custom board running nrf52840.

prj.conf:

[code]

This is what I get out:

[code]

There doesn't appear to be anything from the SMP module.

[2022-01-10 17:17] #21512 closed

[2022-01-10 18:02] chen-png commented on #2746
hi all, I tried to implement a draft PR #41700 for this, could you help review it and give some suggestions, about the feature requirements or technical details, all are welcome, thanks.

[2022-01-10 19:26] alexanderwachter commented on #24802
incoming...
#41674

[2022-01-11 00:29] #39873 closed

[2022-01-11 00:29] #39871 closed

[2022-01-11 00:29] #39867 closed

[2022-01-11 00:29] #39866 closed

[2022-01-11 00:29] #39864 closed

[2022-01-11 00:29] #39862 closed

[2022-01-11 00:29] #39863 closed

[2022-01-11 00:29] #39855 closed

[2022-01-11 00:29] #39848 closed

[2022-01-11 00:29] #39846 closed

[2022-01-11 00:29] #39845 closed

[2022-01-11 00:29] #39842 closed

[2022-01-11 00:29] #39498 closed

[2022-01-11 02:05] ycsin commented on #37730
@rlubos @mniestroj
I wonder if this issue originates from socket or http client? If it originates from the socket API, wouldn't it affect other things, like the MQTT client?

[2022-01-11 04:06] huarunlin commented on #41624
@sylvioalves I tried to profile UART_TXFIFO_EMPTY_INT_RAW before and found that UART_TXFIFO_EMPTY_INT_RAW is still flagged when UART_TXFIFO_EMPTY_INT_ENA is disabled. Just now I re-read the manual and esp-idf, and found that the correct way should be to evaluate the UART_TXFIFO_EMPTY_INT_ST flag. If you use uart_hal_get_intsts_mask() to evaluate UART_INTR_TXFIFO_EMPTY, that should be correct.

[2022-01-11 04:14] huarunlin commented on #41624
@sylvioalves I tried to profile UART_TXFIFO_EMPTY_INT_RAW before and found that `UART_TXFIFO_EMPTY_INT_RAW `is still flagged when `UART_TXFIFO_EMPTY_INT_ENA `is disabled. Just now I re-read the manual and esp-idf, and found that the correct way should be to evaluate the `UART_TXFIFO_EMPTY_INT_ST `flag. If you use `uart_hal_get_intsts_mask()` to evaluate `UART_INTR_TXFIFO_EMPTY`, that should be cor

[2022-01-11 04:15] huarunlin commented on #41624
@sylvioalves I tried to profile UART_TXFIFO_EMPTY_INT_RAW before and found that `UART_TXFIFO_EMPTY_INT_RAW `is still flagged when `UART_TXFIFO_EMPTY_INT_ENA `is disabled. Just now I re-read the manual and esp-idf, and found that the correct way should be to evaluate the `UART_TXFIFO_EMPTY_INT_ST `flag. If you use `uart_hal_get_intsts_mask()` to evaluate `UART_INTR_TXFIFO_EMPTY`, that should be cor

[2022-01-11 05:05] venkatesh-eq commented on #40795
Can we bump up the priority of the issue, while we are debugging this? if SMP, premptive scheduler and ARM64 are officia support for features for Zephyr, that seems to be broken.

[2022-01-11 06:09] Kshitij4kk commented on #41058
Thanks, I will be closing this issue.

[2022-01-11 06:09] #41058 closed

[2022-01-11 06:55] nordic-krch commented on #41698
you have a lot of dropped messages `--- 447 messages dropped ---` you can try to increase logging buffer (e.g.`CONFIG_LOG_BUFFER_SIZE=8192`). Another thing to increase is `CONFIG_SEGGER_RTT_BUFFER_SIZE_UP`.

[2022-01-11 07:58] sam131208 opened #41707 "esp32 newlib"
**Describe the bug**
We know that esp32 compile errors after enabling CONFIG_NEWLIB_LIBC.
Sometimes, we need some functions of newlib, such as the mathematical function log(). We found that in ESP-IDF, there is a newlib, can you tell us how to use it in zephyr.

**Expected behavior**
Looking for an alternative to CONFIG_NEWLIB_LIBC.

[2022-01-11 08:40] simon-marti-loepfe opened #41708 "Set compiler options only for the application"
Is there a way to set the compiler options only for the application? I would like to enable `-Wall` ,`-Wextra` and `-Werror` but only for my application files. So far I could only find ways to set the compiler options globally. I tried the following two options:

1) Setting `CONFIG_COMPILER_OPT`. That changes the options for all files (as described in the [documentation](https://docs.zephyrproject

[2022-01-11 09:17] carlocaione commented on #40795
The problem seems related to thread migration from one CPU to another. You can workaround this issue by either selecting `CONFIG_SCHED_CPU_MASK_PIN_ONLY` or disabling IPI. I'm still not sure what is the root cause of this issue.

[2022-01-11 09:28] frantony commented on #6082
@remy-luisant

Could you please publish your XIP branch?

[2022-01-11 09:44] erwango commented on #39888
@bearsh Any update on this ?

[2022-01-11 09:47] erwango commented on #40201
@bbilas Did you had a chance to make some progress on this ?

[2022-01-11 09:47] erwango commented on #40329
@alexanderwachter Did you had time to look at this ?

[2022-01-11 09:52] erwango commented on #41449
@bfa8 Do you still plan to push a fix for this ?

[2022-01-11 09:57] #37770 closed

[2022-01-11 09:59] Thalley commented on #37770
Will be fixed as part of upstreaming BAPS https://github.com/zephyrproject-rtos/zephyr/issues/41190

[2022-01-11 10:00] asbjornsabo commented on #41219
This is an optimization for a code module that is a dummy/sample, and which we expect the users to replace with something else.
=> Not important to do.

[2022-01-11 10:00] #41219 closed

[2022-01-11 10:02] nordic-krch opened #41710 "tests: ztest: ztress: Test randomly fails on qemu_cortex_a9"
**Describe the bug**
`tests/ztest/ztress` randomly fails on `qemu_cortex_a9`. Initial investigation was unsuccessful and reason is currently unknown.

**To Reproduce**
Run few times `tests/ztest/ztress` on `qemu_cortex_a9`. Oberve that `test_no_context_requirements` fails ~50% times.

**Expected behavior**
Test shall pass.

**Impact**
Unknown

Test will be disabled for that platform for now.

[2022-01-11 10:05] Thalley opened #41711 "LE Audio: CAP Acceptor Implementation"
**Is your enhancement proposal related to a problem? Please describe.**
Implement the CAP Acceptor role (https://www.bluetooth.com/specifications/specs/common-audio-profile/) and Service (https://www.bluetooth.com/specifications/specs/common-audio-service/).

[2022-01-11 10:17] Thalley opened #41713 "LE Audio: CAP Initiator broadcast Implementation"
**Is your feature request related to a problem? Please describe.**
Implement the CAP Initiator broadcast audio procedures (https://www.bluetooth.com/specifications/specs/common-audio-profile/)

[2022-01-11 10:17] Thalley opened #41714 "LE Audio: CAP Commander Implementation"
**Is your feature request related to a problem? Please describe.**
Implement the CAP Commander role (https://www.bluetooth.com/specifications/specs/common-audio-profile/)

[code]

[2022-01-11 10:26] #41694 closed

[2022-01-11 10:28] FRASTM commented on #41442
All stm32 mcu with low power modes (power.c)

- stm32G0, stm32L0, stm32L4, stm32L5, stm32U5, stm32WB, stm32WL

have the `SYS_INIT(stm32_power_init, POST_KERNEL`
So that I propose to change each  with  **PRE_KERNEL_1**  in their soc/power.c

[2022-01-11 10:46] bfa8 commented on #41449
@erwango Yes, I still plan to do it. I took a look last week and at first thought it was low-hanging fruit and tried it out. But unfortunately, I ran into a problem with just deleting the callback check. Since I was running out of time, I postponed this task to really get to the bottom of the issue.

[2022-01-11 10:49] Laczen commented on #41697
@danieldegrasse, couldn't you just add a header to the image that describes where it should be loaded and what the image side is.

[2022-01-11 10:50] #34159 closed

[2022-01-11 10:53] #41581 closed

[2022-01-11 11:06] Casper-Bonde-Bose commented on #41228
Zephyr module PR (needs merge before Zephyr PR can build)
https://github.com/zephyrproject-rtos/liblc3codec/pull/4
Doing cleanup of the Zephyr PR, will upload draft version shortly allowing transfer of an LC3 encoded sinus tone over a CIS link.

[2022-01-11 13:01] youssefchei-xite opened #41722 "mcuboot image not confirmed on nrf5340dk"
**Describe the bug**

I'm developing an nrf5340 application and I'm trying to add DFU via **updatehub** over modem transport. I'm following the documentation, it seems like the binary is signed and loaded correctly.
The problem is I always get the error **"The current image is not confirmed"**

I tested on  zephyr **v2.6.99-ncs1**  and **v2.7.0-ncs1** on Macos.
I tested with **nrf5340dk** and **nr

[2022-01-11 13:26] Thalley commented on #41355
@alwa-nordic and others will take over the implementation and change of EATT.

[2022-01-11 13:28] nashif commented on #36925
this is resolved.

[2022-01-11 13:28] #36925 closed

[2022-01-11 15:14] danieldegrasse commented on #41697
@Laczen yes, that would work fine. The question is how to generate the header. #41685 is an example of a possible approach.

[2022-01-11 15:36] de-nordic commented on #40559
@tejlmand FYI

[2022-01-11 16:26] #41682 closed

[2022-01-11 16:26] dkalowsk commented on #41682
Closing as per @sylvioalves comment

[2022-01-11 16:43] dkalowsk commented on #41525
seems similar to #41677

[2022-01-11 17:06] mbolivar-nordic commented on #18473
Can this be closed now that we have https://www.zephyrproject.org/ecosystem-vendor-offerings/?

[2022-01-11 17:10] Laczen commented on #41697
I was more thinking about adding this information to the image, just like the header that is used in mcuboot images.

[2022-01-11 17:16] ssharks commented on #41627
Looked at the issue today. I can set call an ppp_lcp->close instead of ppp_lcp->down in ppp_enable(ctx, false),  but have to wait for the connection to properly shutdown, before shutting down the carrier. Otherwise all LCP transmission is blocked by the net_if layer. The LCP layer has callbacks for this purpose, but they do not propagate to the up to the ppp_l2 file.

The carrier off statement can

[2022-01-11 17:29] carlescufi opened #41728 "logging v2 transition"
API meeting:

- Switch to v2 by default in 3.0.0
- Deprecation:

1. Deprecate in Kconfig:
[code]

alternative:

[code]

2. Add comments in [log_backed.h](https://github.com/zephyrproject-rtos/zephyr/blob/main/include/logging/log_backend.h) stating clearly that v1 is deprecated, without actually doing any compiler-aware deprecation.

[2022-01-11 19:30] dleach02 commented on #41052
@hakehuang, does this error still occur?

If so, can you provide a more focused target to reproduce this error? I run the twister command you specified and it ends up trying to build 543 test cases. After 257 of them built without error I stopped it because I'm running out of disk space.

[2022-01-11 20:41] alexanderwachter commented on #40329
Yep. Should be fixed with #41326

[2022-01-11 20:42] bbilas commented on #40201
No, I didn't. It seems that I need that HW to be able to reproduce that issue but I'm lacking that.

[2022-01-11 22:36] szczys opened #41734 "Can't enable pull-up resistors in ESP32 gpio 25,26,27"
**Describe the bug**

The pull-up resistors for GPIO25, GPIO26, and GPIO27 aren't being enabled and the pins are left floating. This behavior is shown on a dev board that has the ESP-WROOM-32 module as well as a TTGO T-Display board.

**To Reproduce**

[code]

1. Create esp32.overlay file in the /basic/button/ folder of the [button sample](https://github.com/zephyrproject-rtos/zephyr/tree/main/sam

[2022-01-12 00:29] #39837 closed

[2022-01-12 00:29] #39836 closed

[2022-01-12 00:29] #39831 closed

[2022-01-12 00:29] #39829 closed

[2022-01-12 00:29] #39828 closed

[2022-01-12 00:29] #39826 closed

[2022-01-12 00:29] #39820 closed

[2022-01-12 00:29] #39811 closed

[2022-01-12 00:29] #39804 closed

[2022-01-12 00:29] #34631 closed

[2022-01-12 00:29] #20269 closed

[2022-01-12 01:57] dragonlock2 commented on #40329
Looks like it's working now. Thanks!

[2022-01-12 01:57] #40329 closed

[2022-01-12 02:23] rettichschnidi commented on #18473
Seems like non-members are also able to get listed there. Thanks!

[2022-01-12 02:23] #18473 closed

[2022-01-12 03:23] fkan-ec commented on #40795
![image](https://user-images.githubusercontent.com/56489428/149058084-8bfae8a0-2861-4de2-ab45-f4c6b314caa7.png)
This is a trace of crash on the thread 2. Seems the poll was entered multiple times

Crash log:
E: ELR_ELn: 0x000000004001b010
E: ESR_ELn: 0x000000008600000f
E:   EC:  0x21 (Instruction Abort taken without a change in Exception level.)
E:   IL:  0x1
E:   ISS: 0xf
E: FAR_ELn: 0x0000000040

[2022-01-12 03:32] fkan-ec commented on #40795
Continue the previous comment, it seems in one case the thread 2 enter poll from one CPU but exit on another CPU.
![image](https://user-images.githubusercontent.com/56489428/149059184-2324ff3e-7d01-482e-8a08-bf012231613d.png)

[2022-01-12 04:53] hakehuang commented on #41052
@dleach02  in latest build this is ok.

[2022-01-12 04:53] #41052 closed

[2022-01-12 06:45] hongshui3000 opened #41736 "Xtensa xt-xc++ Failed to build C++ code"
**Describe the bug**
Failed to build C++ code
log
[code]

[2022-01-12 07:52] bearsh commented on #39888
yes I did test it again, this time using a sample application (`samples/subsys/usb/hid`) and it still does not work, at least with a stm32l422.

steps to (hopefully) reproduce:
- as zephyr doesn't seems to support a board with a stm32l422 and I even don't have a eval board with it, I use a custom board. this board is very simple and it should theoretically also work on other hw with the same cpu a

[2022-01-12 08:22] krjmelik opened #41737 "USB: Serial Number can't be omitted in the device descriptor"
**Is your enhancement proposal related to a problem? Please describe.**
I am unable to set USB descriptor for Serial Number to 0x00.
If I set CONFIG_USB_DEVICE_SN="", I get [02 03] when reading always defined string descriptor idx=0x03. And app (usb device tree viewer) reports an error. If I don't set it I get UID of the chip and I don't want that. And I'm not allowed to set other defined strings.

[2022-01-12 09:04] carlocaione commented on #40795
This should be ok. It is possible that the task was migrated from one core to another. The multiple enter instead looks suspicious indeed.

[2022-01-12 09:08] Thalley commented on #41635
This isn't really a bug, as those are "just" board specific configurations. Not sure what the correct label is though.

@cvinayak
1) Do we have a list of nrf boards that support extended advertising?
2) Do we have a list of nrf boards that support broadcast ISO?

[2022-01-12 09:43] lairdjm commented on #41597
@anangl how is best to handle this? Our board enables the 32KHz RC source by default so it works with the radio samples, but by doing that it's pulling the temperature compensation/check code into mcuboot where it isn't needed, and it won't select the multithreading option by default for mcuboot (this fix will need applying to multiple of our boards with don't have 32KHz crystals fitted)

[2022-01-12 10:01] ycsin commented on #17375
@StefJar #34673 solve the TEMPSENSOR part of this issue, but are you aware of anything that can read the VBAT?

[2022-01-12 10:05] ycsin commented on #17375
2a96cc03478a348f301649870fa1d5b88005f70b added support for internal voltage reference source but left out the VBAT, I modified the code to include VBAT:
[code]

But the ADC value I got doesn't match the voltage on the VBAT.

[2022-01-12 10:08] Thalley opened #41738 "LE Audio: Dynamically register TBS"
**Is your enhancement proposal related to a problem? Please describe.**
The TBS instances are currently statically defined, and their initial values are set by Kconfigs. This is a ineffective way of handling a service that may be registered multiple times, as well as a the fact that TBS services can come and go.

**Describe the solution you'd like**
Use the `bt_gatt_service_register` to dynamicall

[2022-01-12 10:56] asbjornsabo opened #41740 "Media control BabbleSim test to read objects"
The BabbleSim tests for media control do not verify that objects can be read, and read correctly.  The test should do this.
(The MCC test does.)

[2022-01-12 11:19] cvinayak commented on #41635
All nRF52 and nRF53 Series SoCs support Extended Advertising, Broadcast ISO and Synchronized Receiver. The Kconfig are not implicitly/default enabled until the implementation reach acceptable maturity (I see bug during my development/testing and most implementation is still work in progress). Users are open to explicitly enable the Kconfig(s).
That said, the Kconfigs are accordingly enabled in tes

[2022-01-12 11:32] ycsin opened #41742 "stm32g0: stm32_temp: not working"
I'm trying the [stm32_temp](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/adc/adc_stm32.c) driver on my G0B1RE custom board.

<img width="500" alt="image" src="https://user-images.githubusercontent.com/1563974/149132178-bcdf84d8-68ea-4be5-a605-9e412f9daffc.png">

This is the characteristics from G0B1 datasheet:
<img width="650" alt="image" src="https://user-images.githubuserconten

[2022-01-12 11:39] ycsin commented on #41742
@Delsian do you have any idea?

[2022-01-12 12:04] carlescufi commented on #39317
@jhedberg could you take a look at the statement above and see if this is indeed something that can happen?

[2022-01-12 12:06] carlescufi commented on #39131
@sjanc do you know why this doesn't make PTS fail, is there not a test case for this?

[2022-01-12 12:12] carlescufi commented on #40009
@sjanc what's the status here? Still planning an implementation for the 2.7.x series?

[2022-01-12 12:16] Thalley commented on #41635
So you would argue that we perhaps shouldn't add the suggested Kconfigs to the specfic board files for samples @cvinayak ?
Or did I misunderstand your comment?

[2022-01-12 12:20] carlescufi commented on #41465
@ppryga will you please take a look and post a fix if applicable?

[2022-01-12 12:22] carlescufi commented on #41635
I agree, but given that we anyway have plans to enable those features in the built-in controller, and users tend to see Bluetooth as whole, we might as well leave it as a low-prio bug that we close in the near future.

[2022-01-12 12:24] Thalley commented on #41635
What about marking it as a enhancement instead?

[2022-01-12 13:29] cvinayak commented on #41635
We shouldn't add the suggested Kconfigs to specific boards, not yet.

[2022-01-12 13:39] Thalley commented on #41635
What would be the criteria for when then? If it waits until they are accepted maturity, wouldn't we just enable the common config (e.g. `CONFIG_BT_EXT_ADV`)?

[2022-01-12 13:52] benediktibk opened #41745 "Power Management blinky example does not work on STM32H735G-DK"
**Describe the bug**
Running samples/boards/stm32/power_mgmt/blinky does not let the user led on the board blink.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b stm32h735g_disco -s zephyr/samples/boards/stm32/power_mgmt/blinky -d build/power_mgmt
2. west flash -d build/power_mgmt

**Expected behavior**
Red led should blink.

**Impact**
low

**Environment (please complete the f

[2022-01-12 14:02] cvinayak commented on #41635
Passing conformance tests is the criteria to remove EXPERIMENTAL tag and to enable as default. Host and Controller are separate components and yes, host CONFIG_BT_EXT_ADV could implicitly enable the CONFIG_BT_CTLR_ADV_EXT when the Controller component is conformant.

Until the implementation is conformant, users should explicitly be aware of using the feature, hence let users enable it in there ap

[2022-01-12 14:07] Thalley commented on #41635
I thought `EXPERIMENTAL` referred to the API stability, and not so much the conformance test :o (but that's outside the discussion of this issue).

So you suggest that we close this issue, as we won't add the experimental controller configs to the specific board config files?

[2022-01-12 14:16] Thalley opened #41749 "Bluetooth: Add reference to `BT_HCI_ERR_*` in conn/iso disconnect callbacks"
**Is your enhancement proposal related to a problem? Please describe.**
The callbacks both have a `reason` argument, but the value range is never referenced.

**Describe the solution you'd like**
Add reference to the `BT_HCI_ERR_` values.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

[2022-01-12 14:21] kaiser-ren commented on #41635
If you decide to close this issue, I respect the decision. However, this is sample code, not internal test code, it means that everybody can set up and run it. If the current configuration can't make the board run properly, please leave something in readme of this sample to let the user know that how to meet the criteria to run this sample manually, otherwise, they will be frustrated.

[2022-01-12 14:24] Thalley commented on #41635
I think updating the README might be the better choice here. Even if we add the suggested changed to specific board files, that will only "solve" the issue for those specific boards.

[2022-01-12 14:34] carlescufi commented on #36266
@tbursztyka do you think this issue is still applicable?

[2022-01-12 14:37] carlescufi commented on #40371
@rerickson1 could you please take a look and send a PR if appropriate?

[2022-01-12 14:47] rerickson1 commented on #40371
I could submit a PR but have no way of testing this. @JordanYates could you submit a PR with your requested change?

[2022-01-12 15:00] erwango commented on #41742
@ycsin G0 temp sensor probably requires this https://github.com/zephyrproject-rtos/zephyr/pull/41295

[2022-01-12 15:09] koffes opened #41754 "Bluetooth, host: API to expose local controller version & manufacturer info to application"
Now one can print local controller and HCI info using BT_INFO, originating from https://github.com/zephyrproject-rtos/zephyr/blob/45a693a2a92412c8677cae9c3111bb4369272f42/subsys/bluetooth/host/hci_core.c#L3081

This is good, but it is desirable to have this information available to the application trough an API.
Something similar to `bt_dev_get_info()` which returns `bt_dev` as a pointer, or it co

[2022-01-12 15:50] remy-luisant commented on #6082
@frantony

Apologies. I am working on it, on and off, but it isn't ready yet.

All tests now pass in XIP mode, but the fix to the C++ exceptions is unacceptable since I changed the global Zephyr build files to make it work. I think I have a proper fix, but it needs testing.

The problem was that the conversion from ELF to BIN discarded the section that MIPS needs for exceptions and filled the gaps

[2022-01-12 16:26] jhedberg commented on #39317
@carlescufi @NZSmartie I might be missing something, but I don't see how that can happen. The threads are indeed started in `bt_enable()` but that's done before calling the bt_ready callback (or returning from `bt_enable()` in case it's called synchronously with a NULL callback). Remember that `settings_load()` should not be called before `bt_enable()`, rather the right place for it is in the bt_r

[2022-01-12 16:26] #41745 closed

[2022-01-12 16:42] erwango commented on #17375
@ycsin Please open a new issue.

[2022-01-12 17:08] nobodyguy commented on #19244
Can anyone share any current tips and tricks how to get some decent speed?
I was getting around 2kB/s speed last year in my app, I updated Zephyr to 2.7 and tried newtmgr 1.9.0 with https://github.com/apache/mynewt-newtmgr/pull/162 improvement and I'm getting 350 B/s. With the current nRF connect mobile app I'm getting 1.7 kB/s right now.

[2022-01-12 17:09] thoh-ot commented on #39131
The GATT test specification has a test for it "GATT/SR/GAS/BV-02-C [Computing and Returning the Database Hash Characteristic]", and so does PTS.

the validity of that test all depends on the contents of the database, if the IUT doesn't have any 128-bit UUIDs then the test will pass just fine.

The GATT test specification has a rather long list of requirements for the contents of the test database

[2022-01-12 18:09] de-nordic commented on #19244
@nobodyguy

You are talking about Ble or UART?
In case of Ble, can you test this: https://github.com/zephyrproject-rtos/zephyr/pull/41306

[2022-01-12 18:23] nobodyguy commented on #19244
BLE, I forgot to mention it.
Thank you, I'll give it a try.

[2022-01-12 20:19] yonsch opened #41765 "assert.h should not include non libc headers"
**Describe the bug**
If a source file includes the standard `assert.h` header, it also includes non standard Zephyr specific headers, as the assertions use `printk`, which includes logging.
In my case, a HAL source file included `assert.h`, and ended up also including the following files (in order):
[code]
And so a non Zephyr source file ended up "contaminated" with Zephyr definitions. One such de

[2022-01-12 22:04] theotherjimmy commented on #35824
Do we have a reproducing case for the FP_SHARING bug? I would like to take a look into that soon.

[2022-01-12 22:10] nashif commented on #37223
done https://github.com/zephyrproject-rtos/chre

[2022-01-12 22:10] #37223 closed

[2022-01-13 00:58] mbolivar-nordic commented on #41677
Hi there @beiszhihao ! Thanks for the detailed report. I need to confirm 2 things with you.

1. Do you have this line of code:

[code]

In the same file you are using `DT_INST_FOREACH_STATUS_OKAY`? You must define `DT_DRV_COMPAT` for this to work.

Please see this documentation for details and examples for how to use `DT_INST_FOREACH_STATUS_OKAY`: https://docs.zephyrproject.org/latest/guides/dts/h

[2022-01-13 02:00] albertofloyd opened #41770 "tests: drivers: i2c: I2C test does not build for Microchip platforms"
**Describe the bug**
I2C test does not build for Microchip platform

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/drivers/i2c/i2c_api$
2. rm -rf build && west build -c  -b mec15xxevb_assy6853
or
2. rm -rf build && west build -c  -b  mec172xevb_assy6906
3. See error

**Expected behavior**
Test should be able to build and run during sanity check for this board

**Impact**
I2C driver

[2022-01-13 02:17] ycsin commented on #41742
I think the first part of the problem (acquisition time) is due to this [line](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/adc/adc_stm32.c#L789), where all channels need to have the same acquisition time on G0 series.

The second part (calibration) might be a bug in the adc driver which is fixed recently by bc1b262885c3e91b3391a10dc7ecf8b489065998

[2022-01-13 02:20] sam131208 commented on #41682
@sylvioalves Thanks! it is success on Ubuntu build the mcuboot bootloader while failed on windows with Python310.
    But what confuses me is, how set the BOOTLOADER_FLASH_OFFSET while Flash MCUboot. Whether it is set BOOTLOADER_FLASH_OFFSET=0x1000, or BOOTLOADER_FLASH_OFFSET=0x10000, it can be successfully bootload  application.

[2022-01-13 02:24] albertofloyd opened #41771 "tests: drivers: adc: Test doesn't build for mec172xevb_assy6906"
**Describe the bug**
ADC api driver test doesn't build for mec172xevb_assy6906

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/drivers/adc/adc_api
2. rm -rf build && west build -c  -b mec172xevb_assy6906
3. See error

**Expected behavior**
Test does build for this board

**Impact**
Limited test coverage for this board

**Logs and console output**
/home/jamezaar/ecwork/zephyr_alberto

[2022-01-13 02:47] ycsin opened #41772 "stm32: G0: adc: Add support for VBAT internal channel"
From #17375, https://github.com/zephyrproject-rtos/zephyr/issues/17375#issuecomment-1010870257:

Currently the STM32's ADC driver doesn't support reading internal VBAT channel. Being able to read VBAT internal channel is very important for low power application as it uses an internal voltage divider that connects on demand to prevent current leakage, apart from saving us a GPIO & external voltage

[2022-01-13 03:37] sam131208 commented on #41682
@sylvioalves While  enable the mcuboot, the Bluetooth initial is failed.
west build -b esp32 samples/bluetooth/peripheral/ -- -DCONFIG_BOOTLOADER_MCUBOOT=y
west flash --bin-file build/zephyr/zephyr.signed.confirmed.bin

 =~=~=~=~=~=~=~=~=~=~=~= PuTTY log 2022.01.13 11:34:27 =~=~=~=~=~=~=~=~=~=~=~=
ets Jun  8 2016 00:22:57

rst:0x1 (POWERON_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP

[2022-01-13 04:15] JordanYates opened #41773 "LoRaWAN: Unable to correctly join networks of any version on LTS"
**Describe the bug**

The LoRaWAN subsystem is unable to correctly join networks of any LoRaWAN protocol version on the LTS branch.
LoRaWAN fork: https://github.com/zephyrproject-rtos/loramac-node

The relevant versions for this issue:
1. v1.0.3 (Previous version)
2. v1.0.4 (Current version targeted by the Zephyr fork)
3. v1.1.x (Not supported at all by the release that the Zephyr fork is based up

[2022-01-13 04:25] maweicoltsmart commented on #31376
I also need to use esp-at as tcp server. Has there been progress on this issue?

[2022-01-13 05:51] ryan4volts opened #41775 "Extend bt_le_scan_param.options to include channel filter"
In order to minimize latency within my sleepy product, I need to optimise everything I can to get the smallest intervals between my peripheral waking up and my central receiving a packet from it. Security ended up not being a major thing, providing that the peripheral could not be tracked with standard private addressing and don't allow connections.

In doing so, I decided to go for an advertising

[2022-01-13 06:07] chen-png opened #41776 "LLVM: support -fuse-ld=lld linker on qemu_x86."
**Describe the bug**
when tried to **use LLVM built-in lld linker to build zephyr case**, it met a **link error "section 'boot.text' will not fit in region 'RAM': overflowed by 18446744072631615488 bytes"**

**To Reproduce**
Steps to reproduce the behavior:
1. set LLVM toolchain:
     export ZEPHYR_TOOLCHAIN_VARIANT=llvm
     export LLVM_TOOLCHAIN_PATH=~/llvm/llvm-project/build_2
     (notice: **(

[2022-01-13 06:22] jenifer-su opened #41777 "periodic_adv periodic_sync lost data"
Hello,
i've two 52840DK,Windows10 X64,
D:\Program\ncs_v1.8.0\zephyr\samples\bluetooth\periodic_adv\
D:\Program\ncs_v1.8.0\zephyr\samples\bluetooth\periodic_sync\
using the BLE Zephyr controller.
now it work well,but when i change the interval time to 1s,
periodic_sync lost data packet 4 and 7. often lost.
how to advertising/receive continuous data (one by one and there is no repetition)?
how to ch

[2022-01-13 08:18] ycsin commented on #41772
cc @erwango

[2022-01-13 09:07] jakkra commented on #40317
Hi @cvinayak Thanks for continuing working on those issues. I'll see if I can figure out the reason for 1 and 2.
In the mean time I have collected some data and made some experiments with periodic advertising since it now is quite stable using your branch! I have data and plots using 8 tags and different periodic adv. intervals (many iterations, random offset between tags etc.)
For example I see a

[2022-01-13 09:31] povergoing opened #41784 "virtio device driver"
**Is your feature request related to a problem? Please describe.**
I want to use virtio device (front-end), I think there is no virtio-core framework, and so no way to use it.
For example, using qemu boot zephyr and set virtio-xxx-device switch to qemu .etc.

**Describe the solution you'd like**
If I want to add a virtio device, can I introduce virtio-core(virtio queue .. ) logic into zephyr?

**D

[2022-01-13 09:32] #41127 closed

[2022-01-13 09:54] jakkra commented on #40317
Hi again @cvinayak , I found another thing, it does not seem to be a big issue, as it seems to recover itself, but still looks like not expected behaviour.
I sometime see this in the logs:
Check my comments starting with `<------`

[code]

[2022-01-13 10:42] cvinayak commented on #40317
As there is high traffic, I have seen that application processing if slow would starve free buffer availability in the controller, and if this happens during synchronization establishment then at the 6th synchronization interval the synchronization failed to be established (reason 0x3E) HCI event is generated.

[2022-01-13 10:46] cvinayak commented on #40317
sync_create_timeout: Failed cancel sync: -5 <------ bt_le_per_adv_sync_delete fails here with err -5, expected to succeed

When the controller has generated Synchronization Failed to be Established, it is not necessary for the host to call `bt_le_per_adv_sync_delete` (for the Zephyr Controller). This error/warning you see can be ignored, the controller maintains correct states in this scenario of

[2022-01-13 10:50] cvinayak commented on #40317
@jakkra Two days back I believe to have analyzed and solved the lll.c/lll_sync.c assertions, I have been running a modified periodic_sync sample that previously reproduced the assertion, now for over 30 hours without any assertions. I will let the board continue running and in the next days will update the PR with the additional that will make the Controller stable.

Once again thank you for your

[2022-01-13 10:59] jchabod opened #41787 "Alignment issue on Cortex M7"
**Describe the bug**

I'm running an application using sockets, but I got my application crashing with "UNALIGNED" memory access.
Using STLINK debugger on STM32H board, I figured out that the exception is raised in "tcp2.c" on line `memcpy(buf.key, unique_key, sizeof(buf.key));`

Disassembly shows that the LDR command is realized on non 4-bytes aligned object. Checking in the `zephyr.map` file con

[2022-01-13 11:09] ppryga opened #41788 "Bluetooth: Controller: llcp: Refectored PHY Update procedure asserts while waiting for free buffers to send notifications"
**Describe the bug**
Assertion happens: https://github.com/zephyrproject-rtos/zephyr/blob/727ea490292255e3d0462f583fbc490a5c4936e4/subsys/bluetooth/controller/ll_sw/ull_llcp_phy.c#L1108

The problem is related with peripheral role that is executing remote PHY Update procedure in case there is a Kconfig `CONFIG_BT_MAX_CONN` set to 1. Then `CONFIG_BT_CTLR_LLCP_CONN` is set to CONFIG_BT_MAX_CONN and

[2022-01-13 11:19] alwa-nordic opened #41789 "Define function for "Is this attr a CCC managed by the host?""
`attr->write` is the nominally just the handler for writes. But is also (ab)used as a type tag for managed CCC attrs. This works because all managed CCC attrs share a write handler function and that handler also happens to be specific to managed CCC writes. I think this is a detail that should be abstracted away. E.g. like this:

[code]

In the above snippet i use "managed" to be consistent with t

[2022-01-13 11:35] jakkra commented on #40317
Hi @cvinayak thanks alot for your input!

Application processing should not be slow, I'm doing pretty much nothing except keeping track of the currently tracked tags and how many CTE samples I receive. But I'll try without the logs as it does print something when it's starts syncing, etc.

I removed `enable_cte_rx` and without that I have no problems syncing with 8 devices, even with 25ms per. adv

[2022-01-13 11:39] sjanc commented on #40009
Hi,  yes it is on my TODO,  I'll work on that this month

[2022-01-13 11:54] alexsven opened #41792 "CPU load halfed after PR #40784"
**Describe the bug**
I noticed that the idle thread in simple samples like blinky is showing 49% cpu load. When checking out the commit just before the PR it shows 99% (as it should).
(https://github.com/zephyrproject-rtos/zephyr/pull/40784)

I've tested blinky for both nRF52840 and nRF5340, both show 49% CPU load for idle after PR, and 99% before the PR.

This PR was submitted by @peter-mitsis

[2022-01-13 12:38] cvinayak commented on #40317
Increase `CONFIG_BT_CTLR_RX_BUFFERS=10` or more as necessary.

Ok, then it is this case https://github.com/zephyrproject-rtos/zephyr/issues/40204
This is something I have not started work on it yet. We can track it there then.

Only one supported periodic sync set, as the hci_uart sample build for conformance tests is configured with one. But if the configuration is set to 6, the conformance teste

[2022-01-13 12:53] erwango commented on #41772
@ycsin Would you mind mentioning on which stm32 series you're working (description and title)?
(I actually think this should be G0, since you're ofte working on G0, but please consider not every body knows your habits)

[2022-01-13 12:56] Thalley opened #41794 "Bluetooth: ATT calls GATT callbacks with NULL conn pointer during disconnect"
**Describe the bug**
When disconnected `att_reset` will be called, which will run through all outstanding requests and will call their respective callbacks. The issue is that the callback functions are called with `conn == NULL`:

[code]

This `NULL` reference is then propagated up to the application-defined callbacks.

The GATT API does not state that the `conn` pointer in the callbacks can ever

[2022-01-13 12:58] Thalley commented on #41794
@jhedberg @Vudentz I'd like your input on this, especially if it intentional that the callbacks are called with `conn == NULL`. Prior to calling the `req->func` the `att->conn` is also set to NULL.

[2022-01-13 14:22] MrOneTwo opened #41796 "shell_print crashes the board on `bt bonds` and `bt connections`"
- board - Particle Xenon
- Zephyr ver (using `main` ref in west.yml) - c51aa88046ca5c9d687e3e6802b32ddd57dd6de4
- toolchain zephyr 0.13.2

My project is mostly (using the Just Works pairing method by not running `bt_conn_auth_cb_register`) the same as `peripheral_hids`. The problem is that:

- I erase the flash `nrfjprog -e`
- flash the board

Then I run following commands in the RTT shell:

[code

[2022-01-13 14:25] FRASTM commented on #37352
This seems specific to stm32wl55jc low power STOP2 mode, probably because "The content of all other peripherals is reset and must be reprogrammed."
[code]

[2022-01-13 14:41] theotherjimmy commented on #40569
Confirmed to be MVE, it's masked by 91d4b7766ceee7fabb5caa026ba181c47286e28b, which disables MVE for qemu, which is used for testing.

[2022-01-13 14:51] #40569 closed

[2022-01-13 15:21] peter-mitsis commented on #41792
Investigating ....

[2022-01-13 15:32] jakkra commented on #40317
Put it to 18 (max) but did not make any difference unfortunately.

[2022-01-13 15:48] brgl opened #41804 "Include LVGL's MIT-licensed Kconfig in lib/gui/lvgl/"
## Origin

https://github.com/lvgl/lvgl/

## Purpose

This is the graphics library used in zephyr. It's currently at version 7 and https://github.com/zephyrproject-rtos/zephyr/pull/41336 is proposing its update to v8.

## Mode of integration

Only the Kconfig needs to be included in Zephyr.

## Pull Request

https://github.com/zephyrproject-rtos/zephyr/pull/41336

## Description

Due to the proble

[2022-01-13 15:55] kisvegabor commented on #41804
Copied from [here](https://github.com/zephyrproject-rtos/zephyr/pull/41336#issuecomment-1012264443):

It's a little bit hard for me to foresee the legal consequences of having a dual-licensed file in an "plain" MIT repo.
AFAIK, dual licensing means people can choose the license which fits better. Can you confirm it? If so, I see no problem, as one of the licenses is still MIT.
@embeddedt can you c

[2022-01-13 16:07] sujayeshdev commented on #37352
@FRASTM Thank you for your work.
I have understood that ADC registers are not retained in STOP2 mode and decided to use HAL instead of Zephyr PM.
If I stick to using Zephyr PM, can we have some hook for it? E.g. if we can register the callbacks for PM (maybe in `power.c`), users can register their custom code for ADC and other peripheral for STOP2 mode, and PM will call the callbacks before suspen

[2022-01-13 16:13] honestech74 commented on #37352
@FRASTM Thank you for your work.
I have understood that ADC registers are not retained in STOP2 mode and got working by using HAL instead of Zephyr PM.
If I stick to using Zephyr PM, can we have some callbacks for it? E.g. if we can register the callbacks for PM (maybe in power.c), users can register their custom code for ADC and other peripheral for STOP2 mode, and PM will call the callbacks befo

[2022-01-13 16:14] peter-mitsis commented on #41792
Alex,
What steps are you using to reproduce the problem? I ask because I am currently having difficulties just trying to build the blinky sample for the specified boards.

I've been trying to use ...
    west build -p -b <board name> ./samples/basic/blinky
... to just get a basic build of the sample project but it is giving me Kconfig build errors, for every board name that contains nrf52840 that

[2022-01-13 16:21] PerMac opened #41806 "tests: driver: clock: nrf: Several failures on nrf52dk_nrf52832"
**Describe the bug**
Several tests related to clock driver fails on nrf52dk_nrf52832. It looks like the board hangs after some initial commands and the test is terminated by a timeout. Following scenarios are failing:
drivers.clock.drivers.clock.clock_control_nrf5
drivers.clock.drivers.clock.clock_control_nrf5_lfclk_rc
drivers.clock.drivers.clock.nrf5_clock_calibration
drivers.clock.nrf_lf_clock_s

[2022-01-13 16:34] PerMac commented on #41806
I think the fail of `drivers.clock.nrf_lf_clock_start_synth_stable` might be sporadic, however, the other 3 fail regularly.

[2022-01-13 20:49] mbolivar-nordic commented on #41697
The long-term approach is system devicetree, https://github.com/devicetree-org/lopper/blob/master/specification/specification.md, but progress has been pretty slow.

[2022-01-13 21:13] nashif commented on #41792
`west build -b nrf52840dk_nrf52811  ./samples/basic/blinky` works fine...

[2022-01-13 22:43] jhedberg commented on #41794
Have you been able to trace down at which point in the commit history this behavior was introduced? (eg using `git blame`). The commit messages might include some hints for the rationale (if one exists).

[2022-01-13 22:45] matharman opened #41809 "Improve timestamp flexibility for custom logging backends."
There are a few small improvements I'd like to suggest (and contribute as a PR!) to the logging subsystem. Before I dive in to the changes, I wanted to make sure I fully understood any historical context or rationale for why these conditions exist to begin with.

1. Remove [symbol dependencies](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/logging/Kconfig.formatting#L85) on `CONFIG

[2022-01-14 07:44] alexsven commented on #41792
I used
`west build -b nrf52840dk_nrf52840`
and
`west build -b nrf5340dk_nrf5340_cpuapp`
depending on the board of course

[2022-01-14 08:50] Thalley commented on #41794
The `req->func` has been called with `NULL` for the connection pointer ever since it was implemented 5 years ago. I'm amazed that we haven't seen more issues with this.

The `att->conn = NULL` part was implemented as part of EATT 2 years ago, but since `att->conn` was not sent to the callback, it doesn't really matter.

[2022-01-14 09:34] brgl commented on #41804
@kisvegabor I opened this in order to get the MIT licensed file into zephyr and spare you the headache. :)

[2022-01-14 11:30] hubertmis opened #41816 "nrf_802154 radio driver takes random numbers directly from entropy source"
It looks that the 802.15.4 driver for nrf platforms takes random number directly from system entropy source:
https://github.com/zephyrproject-rtos/zephyr/blob/449c37808a68824faa93b77fe24f39f05e9a9939/modules/hal_nordic/nrf_802154/radio/platform/nrf_802154_random_zephyr.c#L30

I think it should use Random Number Generation subsystem instead.
Is there any reason to use entropy source directly?

[2022-01-14 11:35] hubertmis commented on #41816
@czeslawmakarski , @rlubos , do you know?

[2022-01-14 11:41] rlubos commented on #41816
The code snippet you've posted only uses the entropy to seed the driver's internal software RNG, I don't think that's wrong? It'd not used for the actual random number generation.

[2022-01-14 11:46] hubertmis commented on #41816
I think that's an acceptable, but probably unnecessary exhaustion of entropy source. I'm OK to keep it, but if there is no real reason I think it would be better to use `sys_rand32_get()` instead.

[2022-01-14 11:58] SadanandPenore-eaton opened #41818 "In uart.h uart_irq_rx_ready() function not working properly for STM32F429 controller"
**Describe the bug**
In uart.h, Read_Int_status() function not working properly for STM32F429 controller.

When the byte is received on the Rx Line, the interupt is called.
At the start we need to check what type of interrupt is this. ( rx or tx ).
So for checking receive interrupt I put a check:
if( uart_irq_rx_ready() == 1 )

The device gives garbage behaviour.
The code can read the data if data

[2022-01-14 12:58] nvlsianpu opened #41819 "flash/nrf_qspi_nor: add driver self SFDP record usage"
**Is your enhancement proposal related to a problem? Please describe.**
For spi-nor driver CONFIG_SPI_NOR_SFDP_RUNTIME=y setings gives support of configure the serial device along to sfdp records.
Such capability would be also nice to have for the nordic qspi driver.

**Describe the solution you'd like**
Best approach would be extraction of common code from spi_nor.c (at last commonality of functi

[2022-01-14 13:13] sam131208 opened #41821 "ESP32 mcuboot bootloader failed"
**Describe the bug**
Bluetooth initial failed after enabling BOOTLOADER_MCUBOOT.

**To Reproduce**
Steps to reproduce the behavior:
1. flash mcuboot.  ( https://github.com/mcu-tools/mcuboot/blob/main/docs/readme-espressif.md)
2. west build -b esp32 samples/bluetooth/peripheral/ -- -DCONFIG_BOOTLOADER_MCUBOOT=y
3. west flash --bin-file build/zephyr/zephyr.signed.confirmed.bin

**Logs and console ou

[2022-01-14 13:23] rlubos opened #41822 "BLE IPSP sample cannot handle large ICMPv6 Echo Request"
I've encountered a problem in the Bluetooth IPSP sample, the communication stalls after receiving large ICMPv6 Echo Request (>800 bytes of payload in my case). I think however that the issue is not related to the ping itself, but rather to large packet transmission in general.

I can see in the logs that the ping request is processed successfully by the networking stack, but after passing the repl

[2022-01-14 13:27] ppryga-nordic opened #41823 "Bluetooth: Controller: llcp: Remote request are dropped due to lack of free proc_ctx"
**Describe the bug**
The issues is related with refactored LLCPs implementation.

Two devices are in a connected state and start to exchange messages.
First device host starts `CONFIG_BT_CTLR_LLCP_PROC_CTX_BUF_NUM` number of control procedures by HCI commands.
Second device starts at leas one remote control procedure.

First device receives remote request and acknowledges it (default behavior of C

[2022-01-14 13:29] pizi-nordic commented on #41822
Also note very high RAM usage of this sample - it barely fits in nRF52832...

[2022-01-14 14:41] chen-png commented on #41776
not sure why this "snippets-rom-start.ld" linker script for ROM is there, but for this case, it should does not matter.
because that linker script is used for putting .text section into ROM, but in this case, we put .text in RAM, so I removed it, then it didn't report any move backwards error or overflow error.
tested on qemu_x86, qemu_x86_64, built a hello_word and it worked well.

[2022-01-14 14:45] nordic-krch commented on #41792
I am able to reproduce it on qemu_86 and qemu_86_64.
For reference, commit before the break: 0bd3d46cfb86021629bc505f8ebfa3d949a20437.
Application i used: https://github.com/zephyrproject-rtos/zephyr/commit/36c210e06b424d34b837160e98cc45e3e4d400fc

Prints 0.0% on 0bd3d46cfb86021629bc505f8ebfa3d949a20437 and
[code]
on lastest.

[2022-01-14 15:00] peter-mitsis commented on #41792
I'm able to duplicate it now--also on qemu_x86.

[2022-01-14 15:06] maweicoltsmart opened #41826 "MQTT connection failed"
**Describe the bug**
branch：main
zephyr/samples/net/mqtt_publisher/

The demo program runs fine, but when I make the following modifications, the MQTT connection fails.

[code]

log shows as follows：

[code]

When I put a letter in front of the above modified clientid, MQTT can also connect fine, I don't know why.

[code]

[2022-01-14 15:44] rlubos commented on #41826
@maweicoltsmart I'm not able to reproduce the issue, using local `mosquitto` broker and the client ID as in your example it works just fine. Could you provide more details, i. e. what broker do you use, on what platform? A wireshark log of the failed connection attempt would also be helpful.

[2022-01-14 15:57] maweicoltsmart commented on #41826
Sorry, this is my own mistake.

[2022-01-14 15:58] #41826 closed

[2022-01-14 21:25] gregshue opened #41830 "CONF_FILE, OVERLAY_CONFIG parsing expands ${ZEPHYR_<whatever>_MODULE_DIR}"
**Is your enhancement proposal related to a problem? Please describe.**
Downstream project integrators may be pulling content in from multiple downstream repositories, and may be configuring multiple similar projects. In order to reference config files in another module, integrators must explicitly provide either absolute pathnames, project-dir-relative pathnames, or ZEPHYR_BASE-prefixed pathnames

[2022-01-15 00:28] #39971 closed

[2022-01-15 08:12] enjiamai opened #41835 "UP squared and acrn_ehl_crb: test cases which have config SMP config failed"
**Describe the bug**
Test cases which have config SMP failed the kernel testing. After git bisect, problem start from this commit:  3457118540f77a27bc7c2f1fb3331474ee9948b2

 - What target platform are you using? UP squared and acrn_ehl_crb
 - What have you tried to diagnose or workaround this issue?  Most test cases will pass when CONFIG_MP_NUM_CPUS=1

**To Reproduce**
Steps to reproduce the beha

[2022-01-15 10:39] WilliamRoyle opened #41836 "UART ESP32 - Enabling UART1 / UART2 prevents console output"
Hello,

I am trying to get UART2 running on the ESP32 (In particular, the Huzzah board- ESP WROOM). I've left the esp32 dtsi file as configured, including the section with disables uart0, uart1, uart2 through `status = "disabled"; `. The relevant section of the devicetree (dts) for the ESP32 is as follows:

[code]

The only change from default is adding  status = "okay". When I compile and run any

[2022-01-15 13:35] r2r0 opened #41839 "BLE causes system sleep before main"
**Describe the bug**
When the BLE subsystem is enabled (CONFIG_BT=y) then system enters idle thread (sleep) before main function is invoked.

Tested on blinky sample with CONFIG_BT=y and with small code changes as described below.
main.c
[code]
idle.c
[code]

Target (board) is nucleo_wb55rg.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify blinky sample and idle.c as described above.
2

[2022-01-15 17:31] MrOneTwo commented on #41796
Trying to debug this.

I have added `CONFIG_SHELL_BACKEND_SERIAL=n` since I don't need it.

I see that the problem stems from the `subsys/shell/shell.c:shel_vfprintf` doing

[code]

The `sh->ctx->state` has value of `255` and not the `SHELL_STATE_ACTIVE`/`2`. That means it executes `z_flag_print_noinit_set(sh, true)` to set the `sh->ctx->print_noinit` flag. It ends in `atomic_or`. The argument in

[2022-01-15 19:13] MrOneTwo commented on #41796
In `cmd_bonds` printing to shell is done with `sh` pointer which points to `shell_rtt` but in the `bond_info` the `shell` is:

[code]

???

[2022-01-15 19:18] MrOneTwo commented on #41796
`ctx_shell` is invalid because the `cmd_init` never runs! Running `bt init` manually actually runs that function which binds `ctx_shell`.

[2022-01-15 19:24] kisvegabor commented on #41804
Oh, cool :slightly_smiling_face:

[2022-01-15 19:44] MrOneTwo commented on #41796
I've created a PR with a simple solution https://github.com/zephyrproject-rtos/zephyr/pull/41844

[2022-01-16 00:29] #39924 closed

[2022-01-16 00:29] #39838 closed

[2022-01-16 00:29] #28333 closed

[2022-01-16 02:31] WilliamRoyle commented on #41821
A few context questions, might be useful:

1. Exactly what ESP32 module are you using
2. Are we sure that bluetooth is supported on ESP32? It was not as of October https://www.cnx-software.com/2021/10/31/esp32-zephyr-nuttx-rtos-support/
3. Have you tested this without MCUboot to verify that MCUboot is the problem?

[2022-01-16 03:31] sam131208 commented on #41821
The module is ESP32-DevKitC, support wifi , ble.

 Bluetooth is supported on ESP32, i am sure.

I has test Hello World with MCUBOOT, it is work fine.
and test the project esp32 samples/bluetooth/peripheral without  enable BOOTLOADER_MCUBOOT, bluetooth is work fine.

[2022-01-16 04:15] andyross commented on #40795
OK, I found it, though I'm going to have to leave it to you guys to fix it as I don't have ARM assembly in my fingers and would need to spend too long reading docs.  It's just a misordering, fundamentally.  Bear with me:

The arm64 interrupt entry is optimized the way a bunch of architectures are: it only saves off ABI caller-save registers immediately, because it's (probably) going to enter a C h

[2022-01-16 04:21] andyross commented on #40795
Oh, and this explains why the proposed patch, which skipped the assignment of the interrupted thread pointer, "fixed" the reported bug:  it only goes non-NULL later on (inside the repurposed arch_switch() code) once things are correctly set up.

FWIW: I suspect, but didn't try, that you could hack your way around this without modifying the scheduler or the context switch code by passing a NULL "in

[2022-01-16 08:56] carlocaione commented on #40795
Yes, this is my understanding as well and this is what I tried to explain in the description of #41840 (sorry if I was not clear enough in the first place)

Yes, and this is 100% the intention of that patch: postponing the non-NULL assignment later at a time when everything is correctly set-up instead of doing that too soon in `z_get_next_switch_handle()`.

I think that would break when the schedu

[2022-01-16 13:41] carlocaione commented on #40795
Opened #41846 to address this only on the ARM64 code.

[2022-01-16 14:11] andyross commented on #40795
No, that's the architectural location where it **must** be set.  The meaning of that function is "I have finished an interrupt of this thread, here is its state, please arrange the scheduler state accordingly and tell me to which context to return".

The arch layer doesn't own the switch handle storage location.  That's a portable part of the kernel thread struct and the kernel owns it, which is w

[2022-01-16 14:37] carlocaione commented on #40795
Ok, but still one tiny bit that I'm unclear about. If `z_get_next_switch_handle()` must be called after the context is fully saved, that means that we are saving the whole context also when we are not actually going to switch, so wasting a lot of cycles for each interrupt. Is this expected when using `USE_SWITCH`?

[2022-01-16 14:41] andyross commented on #40795
On SMP where the race is present, yes, that's the requirement.  FWIW: total cycles in an interrupt aren't normally the thing you optimize for, the value of the incomplete save is that it reduces entry latency.

But longer term, it wouldn't be unreasonable to specify an API to "complete" the switch once the save was done (essentially just assigning to switch handle -- effectively we could bless thi

[2022-01-16 17:34] rivimey commented on #41686
Roland, I had a look through the code, and one thing worth checking is whether, in your board stack, the Device tree actually defines a pin for CS. If it doesn't the driver can't use it.

If it does and the driver doesn't reference it, that is surely a bug, but would in theory be true for many users of SPI as the SSD driver uses generic SPI calls.

[2022-01-16 17:53] rivimey commented on #38755
I had also decided that u8g2 was a good match for my use case, before I started looking at Zephyr at all. I am driving a SSD1320Z based 320x132 greyscale OLED. The Zephyr codebase doesn't support it at all - no driver, no support for greyscale framebuffers, and even the ssd1306 driver has multiple bugs reported.

Following the comments earlier in this issue, I looked into the LVGL library and foun

[2022-01-16 18:13] DhruvaG2000 commented on #38755
I was planning on using zephyr but found more driver support in the Arduino platform itself, hence I did not integrate U8G2 with zephyr. However if you are still interested you can see my project [here](https://github.com/DhruvaG2000/SmartDuinoSensorHub)

[2022-01-16 18:42] #41536 closed

[2022-01-17 02:40] campbellyoung commented on #41708
This work for me:

[code]

Then the only issue I have is that the warnings generated in headers (see below) aren't ignored because they're not using `-isystem`, but isn't a big deal for us.

[code]