[2020-06-25 18:12] stratonflorin opened #26455 "bme280 connect to rt1020_evk"
device_get_binding(BME280_LABEL); return 0

[2020-06-25 18:15] MaureenHelm commented on #26428
No blocking issues, it just hasn't been worked on yet. It should be easy to add using the `mimxrt1050_evk` as an example. You'll need to add board-level dts, pinmuxing, and configure `tests/drivers/spi/spi_loopback` to verify it works.

[2020-06-25 18:30] MaureenHelm commented on #26377
I2C_4 is connected to Arduino D14 and D15; I2C_1 is connected to Arduino A4 and A5. You need to switch the instance string in your code, or rewire your boards to use A4 and A5.

[2020-06-25 19:37] MaureenHelm commented on #26455
Hi @stratonflorin, please provide more details about your issue. Which Zephyr version (git tag or SHA) did you use? How did you attach a bme280 to this board? Is this an in-tree sample application or a custom application?

[2020-06-25 20:01] #24133 closed

[2020-06-25 20:03] #21611 closed

[2020-06-25 20:04] stratonflorin commented on #26455
Hi!
I am using Zephyr SDK 0.11.3

This is the connection scheme i use (GPIO_SD_B1_03 for I2C_SDA and GPIO_SD_B1_02 for I2C_SCL, both from J19 area).
And the aplication is in-tree: samples/sensor/bme280.

I created an overlay for mimxrt1020_evk which looks like this

[code]
And the problem i have is that the function `device_get_binding(BME280_LABEL);` returns a null structure.
BME280_LABEL has val

[2020-06-25 20:24] MaureenHelm commented on #24700
I can't reproduce this on 4d7d3a2 or a more recent 22be0d8fd5902da11c9bf55a44012abc7c2cf1c1. Is this still an issue?

[2020-06-25 20:35] MaureenHelm commented on #24960
@jhqian are there any errata related to this?

[2020-06-25 20:58] MaureenHelm commented on #26455
Thanks for the additional information. It looks like you've configured your dts and wired the boards correctly. I suspect the sensor initialization may be failing in `bme280_init()`. Can you increase the log level by setting `CONFIG_SENSOR_LOG_LEVEL_DBG=y` in the application `prj.conf`, then share the console output?

cc: @mbolivar-nordic in case 8aadf8957989ecbe10bcd632fe49ec035a8b536f might be t

[2020-06-25 21:01] #25566 closed

[2020-06-25 21:10] stratonflorin commented on #26455
[code]

[code]

[code]

[2020-06-25 21:52] jfischer-phytec-iot commented on #23111
#26288 should resolve this issue.

[2020-06-26 02:31] #25979 closed

[2020-06-26 05:15] LingaoM commented on #26343
I can't see the relationship between this patch and issue.

[2020-06-26 06:42] trond-snekvik commented on #26343
@LingaoM The GATT callbacks were cleared in the state_reset function that got called on disconnect. This caused the device to crash on the next connection, as it called the callback unchecked. The code assumed that the callback could not be NULL as long as provisioning was active. This assumption is now true

[2020-06-26 07:04] de-nordic commented on #22063
The solution https://github.com/zephyrproject-rtos/zephyr/pull/25947 does not seem to work correctly.

[2020-06-26 07:43] Laczen commented on #22063
@de-nordic , might this be caused by line 417 in flash_simulator.c that initializes flash to 0xff ?

[2020-06-26 08:08] joerchan commented on #26450
From the BTMON log this is clearly a bug in the controller, the address type was not used for address match by the initiator.
[code]

[2020-06-26 08:38] wdhpawa opened #26466 "Bluetooth: host: Do auto-postponement of advertising also when application requests advertising"
**Is your enhancement proposal related to a problem? Please describe.**
If the application layer successfully starts advertising by calling bt_le_adv_start without the BT_LE_ADV_OPT_ONE_TIME option, the Zephyr host layer will automatically restart advertising when it stops due to a new connection. If there is no room for more connections at this point, the host will postpone the advertising until

[2020-06-26 08:43] joerchan opened #26467 "Bluetooth: Race-condition on persistent connectable advertiser"
**Describe the bug**
Race-condition in persistent connectable advertiser, the advertiser will not resuming connectable advertiser if the last bt_conn_unref happens from something other than the disconnected callback.
An example of this happening is when the disconnect happens while application is calling bt_gatt_notify.
The  last bt_conn_unref can then be from gatt.c notify_cb called from applicat

[2020-06-26 10:20] de-nordic commented on #22063
Thanks @Laczen! That may be the case, I will check this.

[2020-06-26 11:14] cfriedt commented on #26312
@vanti - yes, that's right, sorry.

[2020-06-26 12:16] de-nordic commented on #22063
There was a problem, but still this is not the root cause.

[2020-06-26 13:04] DenvE commented on #23246
Hi using nucleo_767zi, zephyr 2.3.0, just having net/dhcpv4 and mqtt, i still see  Failed to obtain RX buffer.

info:prj.conf
CONFIG_CPLUSPLUS=y
CONFIG_STD_CPP17=y

#
# C Library
#
# CONFIG_MINIMAL_LIBC is not set
CONFIG_NEWLIB_LIBC=y
CONFIG_LIB_CPLUSPLUS=y

# end of C Library

#enable networking
CONFIG_NET_CONFIG_AUTO_INIT=y
CONFIG_NETWORKING=y
CONFIG_NET_TCP=y
CONFIG_NET_LLDP=y
CONFIG_NET_L2_ETH

[2020-06-26 13:04] weinholtendian commented on #18117
Is power management for the GSM modem driver in scope for this issue? (PPP and GSM 07.10 need to be reinitialized when starting up a completely powered off modem).

[2020-06-26 13:07] sandeepbrcm opened #26476 "ARM Cortex-A: architecture timer continuously firing in tick-less mode"
arm architecture timer interrupt is PPI to GIC cpu interface and level sensitive.
the interrupt request is cleared from IP upon 1- disabling the timer Or 2- updating the compare value Or 3-masking the interrupt.

In current driver we update the compare value to Next tick value in Tick mode.  This is working fine.
In Tick-less mode the next value should be updated as well. And that happens in` z_cl

[2020-06-26 13:09] sandeepbrcm commented on #26476
If I mask the timer interrupt in ISR as part of interrupt clearing it works fine. That will require a refactor of the timer driver.
But I am not sure why compare value update does not work as such.

[2020-06-26 13:10] sandeepbrcm commented on #26476
@carlocaione  @stephanosio  @Abhishek-brcm

[2020-06-26 13:23] Laczen commented on #22063
Do you have an idea where it fails?

[2020-06-26 13:47] de-nordic commented on #22063
I narrowed it to `nvs_read_hist`, where it returns `-ENOENT`, due all conditions evaluating to 1.

I still do not understand operation of NVS good enough to write more on the subject.

[2020-06-26 14:10] cfriedt opened #26477 "GPIO sim driver"
**Is your enhancement proposal related to a problem? Please describe.**
Similar to #26003, it would be nice to have a "fake" GPIO driver that could be used for integration testing.

**Describe the solution you'd like**
A short spec list:
* maybe call it `gpio_sim.c` for consistency
* support multiple GPIO ports (M) and multiple GPIO pins per port (N)
* support DT
* setting dir in / dir out
* suppo

[2020-06-26 14:21] stratonflorin commented on #26455
hi, @MaureenHelm!
I'm sorry I'm so insistent. Do you have any advice on what to do next?

[2020-06-26 14:30] Laczen commented on #22063
@de-nordic, I am a bit puzzled, did you run the test before the merge ? -> I was looking at what would be different from your local test and the automated test.

[2020-06-26 14:37] de-nordic commented on #22063
Yes I did. I run both of the nvs tests each time I have updated something. I do not know why it did pass prior.

[2020-06-26 14:40] Laczen commented on #22063
OK, maybe it is in the 0x00 overlay file (< 0x00 > instead of <0x00> ?)

[2020-06-26 14:44] de-nordic commented on #22063
I have printed out the values that are used for initialization of simulated flash and they are 0.
[code]

[2020-06-26 14:45] de-nordic commented on #22063
`Intitlizing to 0` comes from the flash driver.

[2020-06-26 14:50] de-nordic commented on #22063
Same run but on the non-0x00 test:
[code]

[2020-06-26 15:28] Laczen commented on #22063
@de-nordic, it seems that even the first write fails, in the flash_simulator there is a suspicious line at 261-262:

[code]
shouldn't this be changed ?

[2020-06-26 15:48] de-nordic commented on #22063
@Laczen Yes, you have identified the problem correctly. This is the line. NVS requires no changes. I will fix this and extend testcases for flash simulator.

[2020-06-26 16:07] MaureenHelm commented on #26455
Try attaching a debugger and stepping through `bme280_chip_init()`. You may also want to attach a logic analyzer to the I2C pins to see what's happening on the bus.

[2020-06-26 16:19] Vudentz commented on #26106
Hardcoding -3 is also a bad idea, because the some application may actually wanto to set notify multiple then that would be broken anyway, so perhaps having a check fo IS_ENABLED(CONFIG_BT_GATT_NOTIFY_MULTIPLE) return mtu - 5; instead, but Im afraid we really want a runtime option if the application want to use the entire payload for doing streaming, but that would probably need an API change so t

[2020-06-26 16:37] stratonflorin commented on #26455
i don'a have a logic analizer for debugging
can you mail me at straton.florin.c@gmail.com?

[2020-06-26 17:07] #26407 closed

[2020-06-26 17:45] andrewboie opened #26486 "possible SMP race with k_thread_join()"
**Describe the bug**
From code inspection I think I have found a potential race condition in k_thread_join().

The specific scenario:

1. Thread A is running
2. Thread B blocks with `k_thread_join(A, K_FOREVER);`
3. Thread A self-exits via `k_thread_abort(k_current_get())` either via explicit call or by returning from its entry function
4. In the code path for `k_thread_abort()`, we enter `z_threa

[2020-06-26 18:16] MaureenHelm opened #26488 "Bluetooth: Connection failure using frdm_kw41z shield"
**Describe the bug**
The `frdm_kw41z` when used Bluetooth controller shield attached to `frdm_k64f`, `mimxrt1050_evk`, and other boards fails to make a Bluetooth connection.

**To Reproduce**
1. Build the Bluetooth controller for `frdm_kw41z` as described [here](https://docs.zephyrproject.org/latest/boards/shields/frdm_kw41z/doc/index.html) and load it to the `frdm_kw41z` flash.
2. Build the perip

[2020-06-26 18:21] jasonedn commented on #24960
This is a silicon issue. Rev A doesn't support it but Rev B does.

On Thu, Jun 25, 2020 at 1:35 PM Maureen Helm <notifications@github.com>
wrote:

[2020-06-26 18:43] andrewboie commented on #26486
Fixing this is I think a pre-condition to getting #23062 and #23063 working.

[2020-06-26 18:46] andrewboie commented on #23062
https://github.com/zephyrproject-rtos/zephyr/issues/26486 is most of what's needed to fix this -- if all the `z_thread_single_abort()` actions are guaranteed to take place after the thread is truly dead (even if it self-aborts) then the rest is straightforward.

[2020-06-26 19:06] andrewboie opened #26491 "PCIe: add API to get BAR region size"
**Is your enhancement proposal related to a problem? Please describe.**
We have pcie_get_mbar() to get a BAR MMIO base address, but no API to also obtain the region size. This means that memory-mapping drivers needs to use hard-coded region sizes instead of just querying it.

**Describe the solution you'd like**
An API to obtain a BAR region size given a BDF and a BAR index.

**Describe alternativ

[2020-06-26 19:24] wali-ku commented on #20594
@bbolen I used your commits to enable MPU in a Cortex-R5F based board. The MPU requires power-of-two alignment (Reference: [ARM Cortex-R5 TRM r1p1 Table 4.34: Region Size](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.ddi0460c/Bgbcdeca.html)) but when I enable ```CONFIG_MPU_REQUIRES_POWER_OF_TWO_ALIGNMENT``` in Zephyr, I notice that all the non-static (rw) global data (i.e., the one

[2020-06-26 19:57] andrewboie commented on #26486
This will also help with code that wants to use the thread->fn_abort to free thread object or stack memory back to a heap, this can't be done if fn_abort runs in the context of the thread being aborted. See #23062

[2020-06-26 20:43] andyross opened #26495 "Make k_poll work with KERNEL_COHERENCE"
The k_poll() implementation, at one spot at the top of z_impl_k_poll(), places a struct _poller object on the stack of the calling thread to store metadata about the call.  This is necessarily a shared struct read and updated by other threads.

That doesn't work with the new "coherence" framework, which places all stack memory into incoherent (cached) memory regions for performance. Right now it's

[2020-06-26 23:15] mbolivar-nordic commented on #26455
I retested the sample on nRF52840 on master (fdab8f189d) and v2.3.0, no issues connecting via I2C. Sample worked out of the box on `nrf52840dk_nrf52840` using the upstream overlay.

That's not a Zephyr version; the SDK is an independently versioned piece of software. Your zephyr version is what you get when you run `git describe` in the zephyr repository (make sure to run `west update` and do a pr

[2020-06-26 23:16] mbolivar-nordic commented on #26455
[code]

@stratonflorin did you get this right? The sensor has a strap pin you can use to customize the address.

[2020-06-26 23:40] stratonflorin commented on #26455
v2.3.0-rc1-384-g8b5b7fcf8d is my current version

yes, it has SDO pin for changing address. mine is connected to GND so this is the address
nothing changed after running west update and rebuilding application

still this output

[code]

[2020-06-26 23:58] ceolin opened #26499 "usermode: random: backport random syscall"
Random numbers cannot easily be generate from usermode. Though there is syscall for the entropy driver, an user thread  must give access to the used driver before use it, what is not clear at all. Also it fix an inconsistency in the random subsystem where depending the backend you are using it works in usermode.

[2020-06-27 00:16] mbolivar-nordic commented on #26455
That's kind of a "random" commit from the v2.3.0 RC series -- testing with the final v2.3.0 release or master is probably best if you can. But I know that can be hard to do depending on what you've got committed on top.

Since you don't have a logic analyzer, you'll probably have to enable debug logs in your I2C driver or add some if the right ones aren't present.

From the logs, it looks like i2c

[2020-06-27 00:23] stratonflorin commented on #26455
i don't think i understand what i have to do

[2020-06-27 00:37] mbolivar-nordic commented on #26455
I changed the issue type from "bug" to "question" since that seems more appropriate at this time.

I'm sorry I won't be able to help further, but to me it looks like the BME sample application and driver are both working correctly, so I'm unsubscribing from this issue for now. Please feel free to ping me if there's a bug.

[2020-06-27 00:40] stratonflorin commented on #26455
@mbolivar-nordic, i understand
can you mail me please at straton.florin.c@gmail.com?

[2020-06-27 03:23] yingmingx opened #26500 "sanitycheck reports failing tests with test_slice_scheduling()"
**Describe the bug**
When I was optimizing my PR #25813, there is always a failure on test_slice_scheduling.
Handler.log shows all other platforms are good except qemu_arc_hs and qemu_arc_em.
So I checkout git branch to master and change macro ITRERATION_COUNT in  test_priority_scheduling.c and
test_slice_scheduling.c from 5 to 10, this happens, but not every time.

**To Reproduce**
Steps to repro

[2020-06-27 12:16] #25311 closed

[2020-06-27 16:07] jaredwolff commented on #26200
@joerchan were you able to obtain a full connection between two nRF52840 DKs using PHY coded? As mentioned before, I'm able to scan but the connection fails. I also tried adding the address to the whitelist and enabling the wl

[code]

[2020-06-27 22:50] trungnq97 opened #26505 "An example of using the microphone in Thingy 52"
**Is your enhancement proposal related to a problem? Please describe.**
None.

**Describe the solution you'd like**
An example of using the microphone in Thingy 52. I would like to acquire PCM from the microphone and send PCM data to a PC.

**Describe alternatives you've considered**
I tried to use https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/boards/96b_argonkey/microphone for

[2020-06-28 01:17] zhaoyangyang12 opened #26506 "how does hci_usb (hci_usb fw : \ncs\v1.3.0\zephyr\samples\bluetooth\hci_usb) set mac and send/receive files ?"
HI,the urgent problem we are facing now is:debugging hci_usb on Linux, how to set MAC address and send/receive files ? hci_usb fw : \ncs\v1.3.0\zephyr\samples\bluetooth\hci_usb.Have you ever tested it? Can you give me more effective information？

[2020-06-28 08:35] aescolar opened #26508 "CI: simulated BT tests not run if BT tests are changed"
**Describe the bug**
When only the bluetooth tests are changed,
the current CI test filtering will skip doing any BT tests (BabbleSim or sanitycheck)

See for example
https://github.com/zephyrproject-rtos/zephyr/pull/26479
https://buildkite.com/zephyr/zephyr/builds/1493#7fb11a78-5923-4ede-a25b-ff6c309b9970

Or worse:
https://github.com/zephyrproject-rtos/zephyr/pull/26507

[code]

**Impact**
High

[2020-06-28 10:53] mtahirbutt opened #26509 "net_l2_ppp.ppp_link_terminated: SARA U201 modem"
**Describe the bug**
A clear and concise description of what the bug is.
I am trying to connect SARA U201 modem via PPP link. but sometimes get net_l2_ppp.ppp_link_terminated issue so not able to send data via zephyr TCP/IP stack. I am trying to connect via UDP updatehub app.  Sometimes, I am successful in making the connection but mostly I get this issue PPP link termination issue. Therefore, rig

[2020-06-28 15:14] dieselburner commented on #25140
Tested on the latest tip, and it works again.

[code]

Closing.

[2020-06-28 15:14] #25140 closed

[2020-06-29 03:43] rick1082 opened #26512 "Add support for GPIO configuration in high speed SPI on nRF5340"
**Is your enhancement proposal related to a problem? Please describe.**
Now the "zephyr\drivers\spi_nrfx_spim.c" provides great support for nRF52 series chips.
However, there's a high speed SPI (HS-SPI) interface on nRF5340 which SCLK can reach to 32 MHz, but needs dedicated GPIO pin and drive strength setting which current SPI driver doesn't handle.

**Describe the solution you'd like**
Add API f

[2020-06-29 07:29] rick1082 opened #26513 "Improve the disk_access_spi_sdhc for enhancing the performance"
**Is your enhancement proposal related to a problem? Please describe.**
When trying to connect with a SD card through SPI, disk_access_spi_sdhc.c provides great help.
However, there still something can improve for raising up the throughput performance.
The ```SDHC_SPI_INITIAL_SPEED``` in ```disk_access_spi_sdhc.c``` is 400000, which is very slow.
There's ```SDHC_SPI_SPEED``` which should be used a

[2020-06-29 08:43] vaussard commented on #26513
Hello. Please have a look to PR #26319 that I opened a few days ago to fix the SPI clock setup in this driver. I guess that it answers your request (`SDHC_SPI_INITIAL_SPEED` is per the SD specification, so I do not see a point in having an API to change it).

It can help if you test the changes, or even do a review since it did not gained much traction up to now.

There is also issue #22906 that i

[2020-06-29 10:09] Kludentwo opened #26515 "timers: platforms using cortex_m_systick does not enter indefinite wait on SLOPPY_IDLE"
**Describe the bug**
There is a spot in the SLOPPY_IDLE handling, which allows you to wait indefinite when idle, that has code that can never be reached.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p -b frdm_k64f zephyr/samples/hello_world/ -- -DOPENDSA_FW=jlink
2. west build -t menuconfig
3. enable SLOPPY_IDLE
4. west debug
5. b sys_power_save_idle
6. step to z_set_timeout_e

[2020-06-29 11:50] jsiverskog commented on #26438
i *might* have a workaround - if i before doing the subsequent connect call `bt_unpair`, it seems to work. does that retrigger key negotiation?

[2020-06-29 12:13] MaureenHelm commented on #25140
@dieselburner thanks for following up

[2020-06-29 12:20] Counterfeiter opened #26518 "NRF temperature sensor driver race condition"
**Describe the bug**
The NRF temperature sensor driver is not thread save. It has a race condition within the ISR handling.
The bug appears if the temperature sensor is used to calibrate the low freq. clock source and also from user thread.

**To Reproduce**
Steps to reproduce the behavior:
1. use a sample board with no nrf low freq. crystal (like mircobit) or don't use the crystal with option:
CO

[2020-06-29 12:34] ABOSTM opened #26519 "samples: net: sockets: dumb_http_server: instabllity on nucleo_f767zi"
**Describe the bug**
Running samples/net/sockets/dumb_http_server on nucleo_f767zi board provides unstable result.
Sometimes web page is properly dispalyed on client browser, sometimes not (page unreachable).
Reset is required to switch from working to not working status, ... or reverse.
Console log looks normal, just missing connection information about connection which is printed when successful

[2020-06-29 13:17] pabigot commented on #26427
@jaslob https://github.com/zephyrproject-rtos/sdk-ng/releases/tag/v0.11.4 has the updated SDK.  Can you confirm the problem is resolved with it?  Thanks.

[2020-06-29 13:26] pabigot commented on #26353
I propose marking this issue as False Positive/minor/ignore in Coverity with the following analysis.  @anangl do you concur?

This is an atomic_t value supporting 32 bits, being used in a loop where the iteration maximum `GPIOTE_CH_NUM` is at most 8.  The implementation will not access outside the declared single atomic_t value.

[2020-06-29 13:31] pabigot commented on #25750
I propose to close this as "Intentional"/minor/ignore in Coverity with the following diagnosis.  Will anybody second that decision?

The complaint is that the multiply is done with 32-bit unsigned values which produces a truncated 32-bit unsigned value, but the return value from the function is 64-bit unsigned which Coverity takes as evidence that the full-precision multiplication is desired.  How

[2020-06-29 13:33] pabigot commented on #25283
@KubaFYI Could you verify that the analysis above and the observed behavior is correct?

[2020-06-29 13:35] pabigot commented on #24233
Closing as the suggested fix, though apparently unrelated, has been merged and no problem can be reproduced.  Open a new issue if this recurs.

[2020-06-29 13:35] #24233 closed

[2020-06-29 13:37] pabigot commented on #22974
@nordic-krch Do you still need this, or has the subsequent rework of the onoff service satisfied your use cases?

[2020-06-29 13:39] pabigot commented on #21635
Closing due to inactivity and inability to reproduce.

[2020-06-29 13:39] #21635 closed

[2020-06-29 14:11] pabigot commented on #20693
Reproduced on current master, fix in  #26521.

[2020-06-29 14:28] erwango opened #26522 "Reported "Supported shields" list includes boards"
**Describe the bug**
When west reports the list of supported boards and shields the "Supported shields" list is wrong:

[code]

It seems that this list includes the boards available under `boards/shields/*/boards/*`

**To Reproduce**
Steps to reproduce the behavior:
`west build -b nucleo_f401re -t usage`

**Expected behavior**
List should only include shields

[2020-06-29 15:37] jjamesson opened #26524 "Problem with hci_uart and L2CAP CoC connections"
Hi, Zephyr community!

I am experiencing connection issues between an Android 10 device and the hci_uart example running on an nrf PCA10040 evaluation kit. The problem arises when I use L2CAP channel connection from the android app side, as Bluez states that the PSM value used to create the connection is not supported.

**Btmon log:**
\> ACL Data RX: Handle 0 flags 0x02 dlen 18

< ACL Data TX: Han

[2020-06-29 15:47] pabigot commented on #26372
It should be trivial to rework this to busy-wait, but it appears that if `CONFIG_MULTITHREADING=n` then something prevents `nrfx_qspi_irq_handler()` from being invoked when the `QSPI` peripheral `EVENT_READY` is triggered.

[2020-06-29 16:16] #26508 closed

[2020-06-29 17:04] andyross commented on #25750
Exactly.  It's an **intentional** overflow, with documentation.

[2020-06-29 17:53] pabigot commented on #25750
Thanks; updated Coverity.

[2020-06-29 17:53] #25750 closed

[2020-06-29 17:59] pabigot commented on #26518
I think this might be fixed by in-progress work on the clock infrastructure; in any case this sensor is tightly coupled with that driver.

[2020-06-29 20:11] pabigot commented on #26435
I don't think there's a problem if `outlen` isn't a multiple of 4: the branch to use `memcpy` to cover the final bytes should handle it.

But the assignment through `(uint32_t*)&dst[len]` is incorrect and likely to cause a fault if `dst` is not a pointer to a 4-byte aligned address.

The body of the loop should just use `memcpy` for however many bytes it stores; trust the compiler to optimize the

[2020-06-29 20:18] pabigot commented on #26434
Agreed; that one negative value is documented, but others are obscured by being identified in [the documentation](https://docs.zephyrproject.org/apidoc/latest/group__uart__interface_ga281af2ea0253d2b94b01fca4f0932cc1.html#ga281af2ea0253d2b94b01fca4f0932cc1) for the case that returns `0` is not ideal.

I like:
[code]
to describe the circumstances under which a particular value might occur while not

[2020-06-29 23:58] ceolin commented on #26435
actually the `memcpy` is wrong too:

[code]

where `random_num` is `random_num = k_cycle_get_32();`

[2020-06-30 00:38] pabigot commented on #18970
Here's my assessment of `k_mutex` and `k_pipe`:

function           | syscall | reschedule | sleep | no-wait | isr-ok | pre-kernel-ok | async | supervisor
------------------ | ------- | ---------- | ----- | ------- | ------ | ------------- | ----- | ----------
k_mutex_init       | YES     | no         | no    | yes     | yes    |               |       |
k_mutex_lock       | YES     | yes        |

[2020-06-30 02:14] sslupsky commented on #24499
@carlescufi @galak Any thoughts on how to fix the warning?

[2020-06-30 04:49] #22974 closed

[2020-06-30 06:28] anangl commented on #26353
@pabigot I agree with the above analysis. But perhaps it would be cleaner to replace the following line in `gpiote_pin_cleanup()`
https://github.com/zephyrproject-rtos/zephyr/blob/8e2c4a475dc375da6691175dd1da87525053ed76/drivers/gpio/gpio_nrfx.c#L81
with
[code]
and this way avoid that array confusion?
This would be also consistent with how bits are set for allocated channels (`atomic_or()`). What

[2020-06-30 07:18] emob-nordic commented on #26506
What are You using to communicate with the device?

[2020-06-30 07:29] chen-png opened #26527 "mimxrt1050_evk:Couldn't flash image by using west flash command."
**Describe the bug**
when running west flash command to flash test image into mimxrt1050_evk board, it  failed with "_TargetHalt: CPU halted" error.

but when i used another new mimxrt1050_evk board, it was ok to flash. maybe this a hardware issue, but how to reset this board.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mimxrt1050_evk -p auto samples/hello_world/
2. west fl

[2020-06-30 09:14] zhaoyangyang12 commented on #26506
On the virtual machine, Ubuntu18.04,use hciconfig 、bluetoothctl、obexctl。

[2020-06-30 09:16] pfalcon commented on #26519
Is this reproducible with BOARD=qemu_x86? If not, that's nucleo_f767zi specific issue, I don't have that board, so wouldn't be able to look into that. Unassigning from myself.

[2020-06-30 09:17] pfalcon commented on #26519
@ABOSTM: Besides testing other boards, please also test other samples, to confirm the title of this ticket. Next in queue would be big_http_download.

[2020-06-30 09:27] pfalcon commented on #24092
In addition to what @jukkar said: this feature is called "short read" (correspondingly, there's "short write"). With POSIX, any read() or similar (recv(), etc.) operation may return **less** bytes than requested. Just the same as any read() operation may return 0 (meaning EOF/connection closed) or negative value (meaning error). Dealing with all of these is up to application programmer. In particu

[2020-06-30 09:27] zhaoyangyang12 opened #26529 "How to support Nordic ble5.0 on Android 7.0？"
On Android 7.0 system, is there any Nordic interface firmware that can scan, pair, connect, send and receive data and files?About docking Nordic ble 5.0 on Android system, you can share some ideas

[2020-06-30 09:29] pfalcon commented on #24092
Hopefully, this answers the question.

@jukkar, @MaureenHelm: I'd suggest to close this ticket. Not doing this right away, in case there would be further questions.

[2020-06-30 09:36] pfalcon commented on #25722
False positive: num_iterations value is configurable via project config. It can be both 0 (meaning "infinite" testing), as well as finite value for CI-like testing.

[2020-06-30 09:36] #25722 closed

[2020-06-30 09:43] pfalcon commented on #25739
@tsvehagen: Can you please look into this?

[2020-06-30 09:44] tsvehagen commented on #25739
Yes I will check it out

[2020-06-30 09:44] pfalcon commented on #25734
@tsvehagen: Can you please look into this?

[2020-06-30 09:44] pfalcon commented on #25733
@tsvehagen: And another one ;-).

[2020-06-30 09:50] pfalcon commented on #23578
This was independently fixed in 79a58ddffa6a5864dc9831f3e558aa95675a0f9d.

[2020-06-30 09:50] #23578 closed

[2020-06-30 09:59] pfalcon commented on #25735
Taking care of this issue.

[2020-06-30 10:06] pabigot commented on #26353
Consistency is better.  Will you do a PR for that or do you want me to?

[2020-06-30 10:31] Skallwar commented on #3723
I've worked a bit on this and I have a dummy Wifi driver. Right now, ESP-IDF Wifi code is not really reusable, but on the [v4.1-beta](https://github.com/espressif/esp-idf/releases/tag/v4.1-beta2) there is a [file](https://github.com/espressif/esp-idf/blob/c5cb44d8135a5ec6678259e30468632bc2442288/components/esp_wifi/esp32/esp_adapter.c) with set of stub functions that could be adapted to Zephyr.
I

[2020-06-30 10:44] vladimir-podbrezsky opened #26533 "Support newlib for Aarch64 architecture"
Bug description
The function "z_bss_zero" does not clear BSS section when using newlib for Aarch64 architecture.
Actually the function "memset" invoked from z_bss_zero clears only first 128 bytes of BSS section and returns. The size of BSS section is 0x72BC according to map file
                0x000000000040C000                __bss_start = .
                0x00000000004132bc                __bs

[2020-06-30 10:54] anangl commented on #26353
I will do it.

[2020-06-30 11:15] WilliamGFish commented on #25499
Hi,
I looked at this board pre-covid and the biggest issue to overcome is the boot-loader and lack of easily programming via a J-Link interface. There are pins on the bottom of the board but I've just not got around to soldering some pins on yet.

As it is a Arduino board it uses the BOSSAC programming tool which I haven't spent any time reviewing but there is support for within Zephyr.

Maybe dur

[2020-06-30 11:53] tejlmand commented on #25499
[code]

This error happens because no files are added to drivers__serial library here:
https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/serial/CMakeLists.txt#L3-L33

as you are using a nRF52840 SoS, then you can use either uart or uarte.
You should have a line similar to this in your board dts file:
[code]
https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/nrf52840

[2020-06-30 12:44] andung07 opened #26536 "The CONFIG_BT_L2CAP_RX_MTU setting is not reflected correctly in the build"
**Describe the bug**
The `CONFIG_BT_L2CAP_TX_MTU` and `CONFIG_BT_L2CAP_RX_MTU` setting are not reflected correctly in the build. The resulting negotiated mtu capped to 68 bytes.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `CONFIG_BT_L2CAP_TX_MTU` and `CONFIG_BT_L2CAP_RX_MTU` to 255
2. Create a ble service with read and notify characteristic
3. Create notification with payload at leas

[2020-06-30 13:10] SJFOM commented on #21445
Hi there,

I'm trying to implement the above on an nrf52832 dev board (PCA10040). I'm getting "not found" errors for the `DT_NORDIC_NRF_TWIS_I2C_0_IRQ_0` and  `DT_NORDIC_NRF_TWIS_I2C_0_IRQ_0_PRIORITY` flags. My main.c file is below:

[code]

My overlay file is:

[code]

My prj.conf file is:

[code]

I cannot include `CONFIG_NRFX_PRS` as Segger complains that `soltuion load command failed (1)` when

[2020-06-30 13:28] emob-nordic commented on #26506
Haven't heard about any samples, experiment by yourself.

[2020-06-30 13:32] anangl commented on #21445
@SJFOM Use `DT_IRQN(DT_NODELABEL(i2c0))` and `DT_IRQ(DT_NODELABEL(i2c0), priority)` instead.

[2020-06-30 13:40] kentindell opened #26541 "Priority inversion in CAN"
The drivers in the CAN subsystem suffer from priority inversion. This causes urgent frames to be delayed arbitrarily, and in the case of the FlexCAN drivers, to cause the CPU to spin for an arbitrary time.

I explain CAN priority inversion in a blog post here:

https://kentindell.github.io/2020/06/29/can-priority-inversion/

The solution to this is to rewrite the CAN drivers. Some software may rel

[2020-06-30 14:02] #25735 closed

[2020-06-30 14:03] tejlmand commented on #16031
@MaureenHelm A draft PR has been made: https://github.com/zephyrproject-rtos/zephyr/pull/24851

Based on feedback in the PR and discussions in the Toolchain WG, this appears to be the right way forward.

[2020-06-30 14:35] lpereira commented on #3723
The main reason WiFi isn't supported in Zephyr on the ESP32 is not just the
driver.  Zephyr runs entirely on the IRAM, loaded by the first stage
bootloader in ROM.  If the driver+libs were to be linked, it wouldn't fit.
You'd need to enable the Flash Cache, which will require a second stage
bootloader (because the code will be overwritten when it's done). There was
some code to do this back when I

[2020-06-30 14:35] SJFOM commented on #21445
Hi @anangl, that worked a treat - many thanks!

[2020-06-30 15:21] Skallwar commented on #3723
Are we talking of [this PR](https://github.com/zephyrproject-rtos/zephyr/pull/8783) ?

[2020-06-30 15:43] wysman commented on #26391
Yes, it's the same issue.

[2020-06-30 16:40] jenmwms commented on #26500
@yingmingx  Thanks for the info. Can you please clarify - is this issue observed on master (referenced in description) or with your PR, or both? I will try locally too

[2020-06-30 17:12] #26291 closed

[2020-06-30 17:21] #26369 closed

[2020-06-30 17:28] #23134 closed

[2020-06-30 17:29] lpereira commented on #3723
That seems to be it, yeah.

Once this is working -- you probably want to add ESP32 support in mcuboot,
too, to act as the second stage bootloader -- it should be trivial to hook
up the ESP32 WiFi blob with Zephyr's network stack, IIRC.

With some work it should be possible to deconstruct the static library and
write shims to use the crypto API (and select which crypto implementation
to use).

On T

[2020-06-30 18:14] Skallwar commented on #3723
Any idea why this has never been merged ?

The esp-idf bootloader is not sufficient ?

Is it really a blob ? From what I see [here](https://github.com/espressif/esp-idf/tree/v4.1-beta2/components/esp_wifi) it looks like no, but you maybe referring to something else ?

[2020-06-30 18:15] mniestroj commented on #26509
@mtahirbutt Could you try if #26496 helps? I've got similar issues to `net_ppp.ppp_input_byte: Invalid (0x0d) byte, expecting Address` with QEMU, so there is good chance it will help you too.

[2020-06-30 18:26] lpereira commented on #3723
The ESP-IDF bootloader could be used as a starting point, yes, but I think that the ideal situation for Zephyr would be using mcuboot so that the Zephyr tooling could be used.

You have to link with the blobs provided in https://github.com/espressif/esp32-wifi-lib (the "lib" directory is a git submodule pointing to this repo).

[2020-06-30 18:27] mtahirbutt commented on #26509
@mniestroj I just tried now, I see ring buffer empty messages, but ppp link is terminated still, the problem is I see DNS server negotiation with something (8.8.8.8) which I saw sometimes with successful PPP connection. I feel like it is more like DNS configuration issue as with offloading I had not to worry but I have to use Zephyr IP stack now correctly. Anyways thanks for the idea.

[2020-06-30 18:37] mniestroj commented on #26509
Looking at beginning of provided log:
[code]
it seems that you are receiving termination request from modem. Hard to say why based on current information. Maybe there is something interesting happening in PPP stack before?

Please use \`\`\` before and after logs, so they are nicely rendered in issue description. Remove also ASCII escape sequences, so copy text only.

[2020-06-30 19:09] mtahirbutt commented on #26509
I added another log (a bit detailed), just trying also from different locations may be something odd is happening from the network side or from modem.

[2020-06-30 20:19] alexanderwachter commented on #26541
@kentindell As you already noticed, some CAN subsystems rely on FIFO processing of the messages. Unfortunately, the CAN controllers can either have priority by CAN-ID OR FIFO. A combination is regrettably not possible.
The flexcan driver does NOT busy-wait for a free slot.
The thread is suspended and waits on the semaphore.
If you need to have a priority based on the ID, you can submit a PR with a

[2020-06-30 20:36] kentindell commented on #26541
I’m not suggesting a combination: the hardware *must* be put into ID priority mode to avoid priority inversion.

For segmented messaging, like diagnostics, FIFO is necessary but *only* with respect to the frames containing segments. This is not a mixed strategy: it operates at a higher level. In my blog post I explain that frame is taken from a software FIFO (specific to the segmented message and

[2020-06-30 20:47] #23775 closed

[2020-06-30 22:32] sslupsky opened #26551 "sam0 devicetree failing to compile"
**Describe the bug**
@galak When this commit of yours was merged: 8357005ba12f2a10d080d7bd40405c4e796c77cf

I am observing a build error now:
"devicetree error: clock-names property in /soc/sercom@42001800 in arduino_mkr_1310.dts.pre.tmp has 2 strings, expected 1 strings"

Is there a way to clean this up ?

[2020-06-30 22:34] galak commented on #26551
@sslupsky can you give the command line or something to show the build error.

[2020-06-30 22:35] sslupsky commented on #26551
@galak That (above) is exactly the error I copied from the terminal output.  Here are a few more lines:

[code]

[2020-06-30 22:36] sslupsky commented on #26551
@galak This was the build command:
[code]

[2020-06-30 22:37] sslupsky commented on #26551
@galak Here are (what I think are the offending lines) from the dts.pre.tmp file:
[code]

[2020-06-30 22:38] sslupsky commented on #26551
Appears to me like devicetree is saying we have multiple strings (which we do).

The yaml definition file does not appear to define the property as an array?

[2020-06-30 22:42] sslupsky commented on #26551
base.yaml appears to define the property:
[code]
For whatever reason, devicetree is not accepting multiple strings.

[2020-06-30 22:49] galak commented on #26551
`arduino_mkr_1310` doesn't look to be a board in upstream.  Can you reproduce this with an upstream board?

[2020-06-30 22:52] sslupsky commented on #26551
The mkr_1310 is based on the arduino_zero board in the tree.

In my overlay, I do define my own gclk's.  But, these do not appear to overlap with what you have done or use the clock-names property so I do not think that would be the issue here.

[code]

[2020-06-30 22:53] sslupsky commented on #26551
Here is a copy of what I am using for the arduino_mkr_1310.dts:
[code]

[2020-06-30 22:55] sslupsky commented on #26551
I also noticed you deleted the "dma" property in the i2c bindings.  Has the i2c driver been updated to use the new "dmas" property?

[2020-06-30 22:58] sslupsky commented on #26551
This is the full version of the overlay file I use:
[code]

[2020-07-01 00:10] stephanosio commented on #26533
cc @Abhishek-brcm @sandeepbrcm

[2020-07-01 00:19] yingmingx commented on #26500
@jenmwms This issue observed not only on my PR, but also on the master.

[2020-07-01 00:53] mbolivar-nordic commented on #23825
I removed the label. This is a real bug IMO.

[2020-07-01 00:58] JordanYates opened #26555 "uart: uart_nrfx_uarte: async init does not cleanup previous sync rx"
**Describe the bug**

When booting into an application that uses `CONFIG_UART_ASYNC_API ` from mcuboot, the UART RX hardware is left enabled from the mcuboot application. This results in an increased current consumption of approximately 500uA.
This increase will persist until `uarte_nrfx_rx_disable` is called in an application through `uart_rx_disable`.
This may never be called, if the application

[2020-07-01 01:07] stephanosio commented on #26533
I tested this on `qemu_cortex_a53` (because I do not have `bcm958402m2_a72` hardware) and was unable to reproduce this.

I intentionally set `__bss_start:__bss_end` memory region to garbage values in `z_arm64_prep_c` before calling `z_bss_zero` because everything is already initialised to 0 in QEMU; I could confirm that the newlib `memset` function successfully initialises the entire BSS region de

[2020-07-01 01:12] cvinayak commented on #26529
Do you need a connectivity solution to an Android based system? and/or do you need an Android application?
Could you please elaborate on your requirement?

Docking?

[2020-07-01 01:47] nashif commented on #24221
Go to Settings > Actions > Actions permissions to Disable Actions for the repository in question your fork.

[2020-07-01 01:47] #24221 closed

[2020-07-01 03:04] rick1082 commented on #26513
Hello @vaussard , thanks for the great information and nice PR :) I tested the PR and it works great!
However I believe there still needs an API for developer to configure the SPI clock, since 25 MHz SCLK may not suitable for all hardware platform, so I will remain this ticket open :)
E.g., I'm using nRF5340 now and the SCLK of high speed SPI peripheral can reach to 32MHz, so there still a little

[2020-07-01 04:03] sslupsky commented on #26551
I think I see the problem.  Somehow devicetree is correlating the clocks property and the clock-names property.  The default settings in samd21.dtsi show something like:
[code]

So, if you have one phandle assigned to the clocks property, then you can only have one string assigned to the clock-names property.

In my case, I was using the clocks property to set the gclk and there was only one phand

[2020-07-01 04:06] sslupsky commented on #26551
I am having another problem now with the adc.
[code]

In my prj.conf I have
[code]

That worked fine when I was building in 2.2 but now it causes the error shown above.  The label is "ADC_0" so this should be fine.  Did something change with the ADC configuration?

[2020-07-01 05:07] sslupsky commented on #25945
Yeah, I ran into this issue a while ago too.  This would be useful.

[2020-07-01 05:12] stephanosio commented on #24300
Already fixed by https://github.com/zephyrproject-rtos/zephyr/pull/24370

[2020-07-01 05:12] #24300 closed

[2020-07-01 05:19] tejlmand commented on #23349
@Aukstkalnis sorry for late response, somehow this question never caught my attention.
If you have created the driver as a Zephyr module: https://docs.zephyrproject.org/latest/guides/modules.html#module-inclusion
then you can add your Kconfig file into the build system, and it should show up in the Kconfig menu, for example:
[code]

[2020-07-01 05:39] pfalcon commented on #23917
@ulfalizer: Ping. It occurred to me that while we discussed this issue at length on the Slack, this ticket didn't receive any comment from you.

[2020-07-01 05:41] tejlmand commented on #25956
Is your source that has: `#include <sx1276/sx1276.h>` the app library, or is it in another library, as example, `applora` ?

If the source is part of the app lib, then it ought to work, but for further investigation, then verbose built output for the compilation of the source would be needed.

If the source is part of another lib, such as `applora`, then you probably miss a line such as:
[code]
[c

[2020-07-01 05:47] tsvehagen commented on #25739
@pfalcon I'm not really sure how to handle this actually. I guess it has to do with `fd` being used as `fdtable[fd]` in `close()`. That would mean that this warning should be seen everywhere that close is used so it seems a bit weird :thinking:

[2020-07-01 06:37] locomuco commented on #3723
@Skallwar

https://github.com/locomuco/zephyr-esp32

this was the follow up to the previously mentioned PR, it was able to enable flash cache and link in the Wifi Blob, it's outdated, but might give good hints in the single commits

[2020-07-01 07:13] #26264 closed

[2020-07-01 07:56] nzmichaelh commented on #26551
Hi @sslupsky peripherals on the SAMD21 need both the GCLK and the PM (power management) to be set up before they work, which is why each entry has two clocks.  You also need to supply a name for each clock.

[2020-07-01 08:00] nzmichaelh commented on #26551
I don't know specifically, but in general Zephyr uses DeviceTree to enable modules these days.  I wouldn't be surprised if the KConfig way is a legacy way that has been deleted.

You'll probably need a

[code]

in your DeviceTree file and a `CONFIG_ADC=y` in your defconfig.

Also, consider opening separate bugs for separate issues.  You're more likely to get a response from, say, someone who knows

[2020-07-01 08:19] nzmichaelh commented on #26551
Huh, `adc` is already enabled in the base DeviceTree files so there's nothing to do there.

[2020-07-01 08:28] nzmichaelh commented on #25283
The analysis LGTM

[2020-07-01 08:49] jhedberg commented on #26524
`hci_uart` only provides an HCI transport between a host (e.g. BlueZ) and the Zephyr controller. It's completely agnostic to what traffic flows over this transport on higher layers like L2CAP (i.e. hci_uart knows absolutely nothing about L2CAP). So I don't think the issue can be with the hci_uart application itself, rather most likely something in BlueZ or Android.

[2020-07-01 08:56] nzmichaelh commented on #11803
Once #26288 lands, testusb also passes on the SAM0 based Arduino Zero.  I don't have Windows so I can't run USBCV3.

Note the "-v 512" to limit the vary.  Without this you hit a bug in the test driver itself.

[code]

[2020-07-01 09:17] mtahirbutt commented on #26509
ok, the issue resolved, I have to set correct CONFIG_MODEM_GSM_APN="wm" which had default "internet". closing it.

[2020-07-01 09:18] #26509 closed

[2020-07-01 09:54] ABOSTM opened #26568 "tests: net: socket: af_packet: is ethernet cable now mandatory to run this test ?"
**Question**
Test tests/net/socket/af_packet/
used to be successful on stm32 boards (nucleo_f429zi, nucleo_f746zg for example), on test bench.
Since merged of PR  #26339  (specially commit net: conn: Handle multi interface AF_PACKET recv() properly)
the test is now failed.

Note: On test bench, there is no ethernet cable connected to the boards.
But the test used to be successful without cable.

N

[2020-07-01 09:58] ABOSTM commented on #26568
^^  @jukkar

[2020-07-01 10:10] hakonfam opened #26569 "cmake: remove '-ffreestanding' instead of adding '-fno-freestanding'"
Currently you might end up with both `-ffreestanding` and `-fno-freestanding` defined.

To test, build any unit test for native_posix board.

[code]

Instead, simply ensure that `-ffreestanding` is not added in the first place, if it should not be there.

This looks messy, and brakes some compilers (e.g. `clang-tidy`'s gcc front-end).

[2020-07-01 10:30] tejlmand commented on #26569
Not really a bug, as this is allowed by gcc, but as a cleanup could benefit `clang-tidy` and also looks nicer it is still a valid suggestion.
Changed to `enhancement`

[2020-07-01 10:34] tejlmand commented on #26569
have you used `ZEPHYR_TOOLCHAIN_VARIANT=llvm` ?
https://docs.zephyrproject.org/latest/getting_started/toolchain_host.html?highlight=llvm

[2020-07-01 11:22] #26435 closed

[2020-07-01 11:42] jjamesson commented on #26524
Thanks @jhedberg,
I saw no documentation on Bluez about assigning my own dynamic PSMs, so I will try rebuilding my own driver in an embedded device and let you know if this can be bypassed or not.

Will keep you updated.

WR,

[2020-07-01 12:12] ABOSTM commented on #24221
@nashif thanks for the hint.

[2020-07-01 12:21] nandojve commented on #24211
I noted that #24064 have +3 but was not merged yet.

[2020-07-01 12:38] #26413 closed

[2020-07-01 13:04] galak commented on #26551
The two clocks are there for cases like:

[code]

[2020-07-01 13:05] galak commented on #26551
We removed per instance enables from Kconfig and have this completely driven by devicetree now.

[2020-07-01 13:26] sslupsky commented on #26551
@galak @nzmichaelh Thanks for the notes on the adc change.  Apologies for bringing it up here but I've been experiencing "issues" with the 2.3 update and was hoping it was a quick fix.  I did simply remove the enable from the prj.conf and that appeared to fix the build issue.  Though, I am not sure that the ADC is yet working because now there are about a zillion compile errors because of the data

[2020-07-01 13:29] galak commented on #26551
There is a config option you can enable to support the old data types: `CONFIG_DEPRECATED_ZEPHYR_INT_TYPES`.

[2020-07-01 13:29] sslupsky commented on #26551
Speaking of the release notes, where are the changes to the clocks documented?  I could not find anything in the 2.3 release notes regarding this either.

[2020-07-01 13:31] galak commented on #26551
As for the release notes, I don't think there is anything in them related to these two items.  Agreed they should have been documented there.

[2020-07-01 13:31] sslupsky commented on #26551
Yeah, I found the config option, for some reason I am still getting a zillion errors.  The problem is compounding because I am using the terminal inside vscode so it has a limited scroll back.  So, the only errors that I see are the copious errors that are output by the log defines failing to compile properly.  Which brings up another point, there should be a way to suppress all the "extra" errors

[2020-07-01 13:33] sslupsky commented on #26551
BTW, I like ideas for the changes to the clock configuration for sam0.  If you had not already done so, I was about to submit a PR for the work I had already done on this.  Thank you.

[2020-07-01 13:34] #26551 closed

[2020-07-01 13:34] ABOSTM commented on #26519
@pfalcon,
I tested nucleo_f429zi and don't face the instability.
I also tested sample big_http_download on nucleo_f767zi and I face also some instability (sometimes, unable to get IP address from DHCP server).
So it looks like issue is specific to nucleo_f767zi, and common to several samples.
I will continue investigations.

[2020-07-01 14:13] pabigot opened #26575 "devicetree: need save/restore support for devicetree data"
tl;dr: I need the EDT object that's constructed during devicetree processing to be persisted to disk so I can read it back and use its data to generate optimized dependency information to be used in the final application link.

The parts of #26388 related to using devicetree and macros to add dependency information to the device structure work well.  However the actual values of the device handles

[2020-07-01 15:44] sslupsky opened #26582 "What happened to DT_HAS_NODE macro?"
@galak This commit fdd85d5ad7034ff49d204818b4e0e02a86e96e70 indicates that the DT_HAS_NODE macro was renamed.  The commit message goes on to say that DT_HAS_NODE will "will report if a NODE exists regardless of its status."

However, there does not appear to be any trace of DT_HAS_NODE anywhere?

Can the DT_HAS_NODE macro be restored?

[2020-07-01 15:46] sslupsky commented on #26582
Is DT_NODE_EXISTS the replacement for DT_HAS_NODE?

[2020-07-01 15:48] sslupsky commented on #26582
Yeah, I found another commit that indicates this is the case.

[2020-07-01 15:48] #26582 closed

[2020-07-01 15:48] ibirnbaum commented on #26409
I've looked further into this issue, here's what I've found out in the meantime:

During the regular network stack initialization, there shouldn't be any risk of a race condition: the delayed work struct rs_timer is initialized via net_if_init -> iface_ipv6_init -> iface_ipv6_nd_init. The first time k_delayed_work_submit_to_queue is called for rs_timer should be via net_if_post_init -> net_if_up -

[2020-07-01 16:09] elsinkior opened #26584 "Multicast emission is only possible for ipv4 starting with 224."
**Describe the bug**
ipv4 multicast emission only possible for @ starting with 224. The following modifications could be applied so that the L2 layer replaces the MAC address of the interface by a multicast MAC address for all multicast addresses.

1) Open the file $ ZEPHYR_BASE / zephyr / subsys / net / l2 / ethernet / ethernet.c
2) Redefine the content of the following static functions:

[code]

[2020-07-01 16:30] elsinkior opened #26585 "IPv4 multicast datagrams can't be received for mimxrt1064_evk board (missing ethernet API)"
**Describe the bug**
IPv4 multicast datagrams can't be received for mimxrt1064_evk board (missing ethernet API).
In order to support IPv4 multicast datagrams, it is necessary to modify the mimxrt1064_evk ethernet driver API to join a multicast group.
For mimxrt1064, it is the file eth_mcux.c, which could provide the configuration function set_config to add or remove a multicast source adress filte

[2020-07-01 16:37] sslupsky opened #26586 "K_TIMER_DEFINE macro causing build error"
@andyross Commit 150e18de6e18069426361fe30150bd31ee5250db appears to be causing a build error.

K_TIMER_DEFINE appears to be causing a build error in 2.3:
[code]
[code]

The problem is here:
[code]

and here:
[code]

The order of the struct members was changed and the macro was not updated to reflect this.

[2020-07-01 17:03] #24092 closed

[2020-07-01 17:17] sslupsky opened #26587 "DT_CALL_WITH_ARG macro missing"
I noticed that the macro DT_CALL_WTH_ARG is missing in 2.3.  What happened to this macro?  There is nothing in the release notes about it being deprecated.

[2020-07-01 17:22] MaureenHelm commented on #26455
Thanks for verifying.

I still recommend that you try using the on-board debug probe to step through `bme280_chip_init()`. You can find more information about how to use the probe [here](https://docs.zephyrproject.org/latest/boards/arm/mimxrt1020_evk/doc/index.html#programming-and-debugging).

This means you should add LOG_DBG or LOG_ERR statements to `drivers/i2c/i2c_mcux_lpi2c.c`. See `drivers/s

[2020-07-01 18:37] MaureenHelm commented on #24414
Why do you want to change the work mode at runtime? This seems like something you would normally want to configure at build time.

[2020-07-01 21:40] #26267 closed

[2020-07-01 23:59] JordanYates commented on #22562
+1 for the problem, it feels like signed images are second class citizens in terms of tooling.

The way I see for solving this is for integrating the signing process into CMake.
This would solve the dependency chain, as `west flash` already ensures the artifacts are up to date.
The locations of the signed output images would also be known by the build system, allowing `west build` to find them wit

[2020-07-02 04:13] stephanosio commented on #24627
The problem is fixed in the latest master (2a706d9f209648533d952a1d1d439bccf22cabd3) that has both #26020 and #25879.

[2020-07-02 04:13] #24627 closed

[2020-07-02 05:15] stephanosio commented on #25226
This test fails because `ETH_SAM_GMAC` somehow ends up being a requirement.

[code]

https://github.com/zephyrproject-rtos/zephyr/blob/4a166f49137442d444707fab9e2c4791eae3c9af/tests/net/vlan/prj.conf#L29-L33

[2020-07-02 06:12] stephanosio commented on #25231
Same issue as https://github.com/zephyrproject-rtos/zephyr/issues/25226#issuecomment-652787043

Fixed by #26593

[2020-07-02 06:13] chen-png opened #26595 "tests/kernel/obj_tracing thread counting issue with 1.14 branch."
**Describe the bug**
when running tests/kernel/obj_tracing, some platforms have some existing services, need to count existing threads before running this test.
the same issue with #21756 on master branch.

[2020-07-02 06:23] tejlmand opened #26596 "west: rimage support in `west sign` poorly documented"
**Describe the bug**
With: https://github.com/zephyrproject-rtos/zephyr/commit/d44d986a0326f775a3a4b29bfd209ac58dc62e8a
from PR #21241 support for rimage as signing tool were added to `west sign`.

However, the help text to `west sign` still describes only imgtool, and was not updated to describe support for `rimage`.

[code]

**To Reproduce**
[code]

**Expected behavior**
Description of `rimage`

[2020-07-02 06:25] stephanosio commented on #25227
@jukkar I see that this test runs fine with the on-chip Ethernet peripheral disabled (by setting `CONFIG_ETH_SAM_GMAC=n` in this particular case) as done in other `net` tests (e.g. https://github.com/zephyrproject-rtos/zephyr/issues/25226#issuecomment-652787043).

I am wondering if Ethernet peripherals were ever meant to be enabled for these tests. On SAM E70, the test runs without disabling the E

[2020-07-02 06:42] stephanosio commented on #25229
NOTE: The next course of action will be determined by https://github.com/zephyrproject-rtos/zephyr/issues/25227#issuecomment-652809576

[2020-07-02 06:42] stephanosio commented on #25228
NOTE: The next course of action will be determined by https://github.com/zephyrproject-rtos/zephyr/issues/25227#issuecomment-652809576

[2020-07-02 06:44] stephanosio commented on #25228
NOTE: This test still fails even after the on-chip Ethernet peripheral is disabled. In fact, this test now fails for other SoCs including SAM E70 and K64F.

[2020-07-02 06:54] stephanosio opened #26600 "net.util test is broken on MPU-enabled ARM platforms"
**Describe the bug**
The `tests/net/utils/net.util` test fails on the MPU-enabled ARM platforms.

Known failing platforms:
* `mps2_an385` (QEMU)
* `mps2_an521` (QEMU)
* `sam_e70_xplained`
* `frdm_k64f`

**To Reproduce**
Build and run `tests/net/utils/net.util` on any of the aformentioned known failing platforms.

**Logs and console output**
[code]

**Environment (please complete the following info

[2020-07-02 06:58] stephanosio commented on #26600
cc @jukkar

[2020-07-02 06:59] stephanosio commented on #26600
TODO: Bisect

[2020-07-02 07:03] vaussard commented on #26513
Hello, thanks for testing.

There is already an API, you can set the maximum frequency in the device tree (this was also added by my PR, since it was ignored before). But it will be limited to 25 MHz, since this is the maximum clock speed in Default Speed mode as per the SD specifications (see Part 1, Physical Layer Specification, see also here: https://www.sdcard.org/developers/overview/bus_speed

[2020-07-02 07:51] pfalcon commented on #25739
@tsvehagen:

The usual note is that Coverity report can be a false positive. And reports against tests are of course less serious than the main codebase (the latter really need to be properly investigated). That said, Coverity is usually smart and can pinpoint some non-obvious things. And one can imagine that as any other software, it's also buggy sometimes, and catching that is only more fun.

An

[2020-07-02 08:12] erwango opened #26602 "GH Action: Automatize removal of tag "Waiting for response""
**Is your enhancement proposal related to a problem? Please describe.**
We put some rules around the "Waiting for response" tag.
These rules are known (or will tend to be known) more by maintainers and usual issue assignees that will put this tag after a question is raised to the one that opened the issue.
It would be fair that this tag is removed as soon as the response is given (at least soon en

[2020-07-02 08:14] sandeepbrcm commented on #26476
Depending on compare value to clear the interrupt means we arm an interrupt far in future.
ie. K_FOREVER/MAX_WAIT etc.. should be max possible ticks on the architecture.
That is the bug in current code.  Will fix and update a PR. That will not change the current approach of
updating compare value to clear interrupt.

However in future it will be better to use the IMASK to clear the interrupt.

[2020-07-02 09:16] tsvehagen commented on #25739
@pfalcon I don't have access, it says 'Access request pending'. I guess it must be accepted by someone in the Zephyr project.

[2020-07-02 09:30] pfalcon commented on #25739
@tsvehagen: Ok, I marked it as false positive myself. Hopefully your request will be approved soon. Otherwise it's just about sharing load of "adding and maintaining code in Zephyr", I redirect reports for the code you wrote, but feel free to ask for any help. And just to be explicit, reports re: tests aren't high priority, the idea is to have them handled before the next release ;-).

[2020-07-02 09:31] #25739 closed

[2020-07-02 11:57] #24939 closed

[2020-07-02 12:05] nandra opened #26607 "STM32F0 nucleo PWM output not working"
Use basic sample blinky_led to verify stm32f0 nucleo pwm output. Enable timer2 and pwm nodes in devicetree. Despite of that fact there  is no pwm output on any pin. I think that pinmux is maybe wrong but cannot see even pinmux defines for timer. Does anyone try to run pwm on stm32f0 nucleo board to share? Thanks.

[2020-07-02 12:25] #26266 closed

[2020-07-02 12:37] #25226 closed

[2020-07-02 12:37] #25231 closed

[2020-07-02 12:43] #26220 closed

[2020-07-02 12:47] erwango commented on #26607
@nandra, there are 3 STM32F0 based nucleo boards ported in Zephyr, can you specify the one you're using ?
(Support is faster when we have precise information on the issue.)
Can you try to adapt this for your board and have a new try: https://github.com/zephyrproject-rtos/zephyr/pull/22277 ?

[2020-07-02 12:48] #25076 closed

[2020-07-02 13:12] nandra commented on #26607
@erwango I'm using nucleo_f091rc board. I have adaptions done and driver is working just I think no signal is muxed properly thus  I don't have any output. Thanks.

[2020-07-02 14:15] jaredwolff commented on #26200
@joerchan I'll have to put this project on hold. Fortunately, I was using the original SDK to do the same thing. As much as I'd love to use Zephyr, it seems to be not ready yet. I'd be happy to test if and when it is. Thanks again for all your help!

[2020-07-02 14:31] FRASTM commented on #26607
for example
TIM2 CH2 output is available on PA1 (alternate 2)
TIM2 CH2 output is available on PB3 (alternate 2)
but the STM32F0 pinmux.c does not reference any pin for TMR 2
Both Pins are available on the nucleo board ARDuino connectors

[2020-07-02 14:38] nandra commented on #26607
@FRASTM ok thanks I'll add it to pinmux and retest. Thanks.

[2020-07-02 15:29] sslupsky opened #26617 "devicetree: sam0 gclk"
@galak @nzmichaelh I have been looking at the changes to the sam0 gclk framework.  I am curious if you plan to add some additional clock-cells or otherwise expand the configuration?  At the moment, the atmel,samd2x-gclk.yaml compat defines one clock cell for the clkctrl_id.

How do you propose to handle the other components of the gclk module (genctrl and gendiv)?  I have noticed that a few compat

[2020-07-02 15:32] mbolivar-nordic commented on #26587
This was never an API function; it was an implementation detail explicitly marked internal. It was removed as part of some refactoring in 63d5529a0d08e14f91997d0ec29e3e49431a45c4.

[2020-07-02 15:32] #26587 closed

[2020-07-02 15:32] henrikbrixandersen commented on #26541
@kentindell Thank you for your report on this.

I am the original author of the FlexCAN shim driver in Zephyr. The original driver used the CAN-ID for priority, but this was changed at a later point to match the behaviour of other CAN drivers in Zephyr. See https://github.com/zephyrproject-rtos/zephyr/commit/ec0e19920657e0b074d424410381d12b788494c9#diff-779ad505dc3314d4579e00b03499fb33 for further

[2020-07-02 15:43] xuhao8210 commented on #25022
@abrodkin  Thanks for your support. After I tried your solution that I added below row in the script:” scripts/sanity_chk/sanitylib.py” to test the newest commit ID for Zephyr Repo, I found that some test cases(e.g. tests/portability/ and  tests/lib/ ) are still failure as they reset the board failure, could you please help to check them ?

============add below code in the file:” sanitylib.py” ==

[2020-07-02 15:54] kentindell commented on #26541
With hindsight it probably would've been best to change the other drivers :)

I can see how it gets to this point: there is a need for FIFO queueing for frames with the same CAN ID, and in nearly all cases the hardware doesn't do that (choosing a frame arbitrarily). So this looks like a FIFO problem, and so then the drivers are hacked to produce FIFO ordering, and then we get priority inversion. B

[2020-07-02 16:20] nzmichaelh commented on #26617
Hi @sslupsky I haven't thought about this area.  You need a `gclk` in DeviceTree so that other peripherals can reference it, which (I assume) is why that was added.  Apart from that the clocks are all configured explicitly in the common soc_samd2x.c code.

If you want, prototype up what a DeviceTree driven version of soc_samd2x.c looks like.  You'll also need to address constants like `SOC_ATMEL_S

[2020-07-02 16:34] sslupsky commented on #26617
Yeah, this is the problem with the way the clocks are currently configured, all the clocks are hard coded.  I think it is preferred if they were configurable to some degree in the devicetree.

In my use case, to minimize power consumption I need to use the OSC8M for certain peripherals and the XOSC32K for others and the OSCULP32K for yet others.  Further, some clocks need to turn off during sleep,

[2020-07-02 17:47] alexanderwachter commented on #26541
@kentindell thanks for pointing this out!
I need to think about a realization. Maybe we can somehow put the next frame to the mailbox when a frame is just about to send. For now we are somehow save in our subsystems, because we don‘t rely on priorities. Maybe we should add a warning to the documentation until we find a solution. I think we can discuss the possibilities in this issue.

[2020-07-02 18:22] kentindell commented on #26541
I think you might be able to do something clever on the FlexCAN: do an experiment and find out how frames with the same ID are chosen. The documentation says that it does a sweep down the mailboxes looking for the highest priority, and assuming it sweeps in the same direction (very likely) then it will probably pick frames of the same ID from ether lower or higher slot numbers (depending on sweep

[2020-07-02 18:51] andrewboie opened #26619 "tests/unit/rbtree fails"
**Describe the bug**
[code]

**To Reproduce**
Run the test with platform "unit_testing"

**Expected behavior**
Passing test

**Additional context**
I think this test is not properly written. The case is trying to prove that the data structure has O(log2(n)) asymptotic performance. It is doing this by using system time. This is NOT a good way to do this. The right way to do this is to run the scena

[2020-07-02 18:51] andrewboie commented on #26619
Set to "High" as this is currently breaking CI

[2020-07-02 18:53] andrewboie commented on #26619
@Zhaoningx I need you to revert any test case changes which try to validate O() performance using a timer.

[2020-07-02 19:56] maksimmasalski opened #26621 "System can't recover after assertion failed in kernel/mem_domain.c"
**Describe the bug**
I wrote tests for the mem_domain and find out that assertion in line 171 of the `zephyr/kernel/mem_domain.c` makes system unrecoverable after assertion was executed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/zephyrproject-rtos/zephyr/pull/25535
2. Setup my branch
3. Run the memory protection
`west build -t run -p -b qemu_x86 tests/kernel/me

[2020-07-02 21:31] parthitce commented on #18473
Please include [Linumiz](https://www.linumiz.com/) - parthiban@linumiz.com

[2020-07-03 00:20] mturquette commented on #18473
Thanks @carlescufi for mentioning BayLibre! We're happy to be on the list. only nitpick is that our corporate name is a single word: BayLibre

I know I know, it's CaMeLcAsE but that's marketing for you

Is there any update on when such a list might go live on the Zephyr Project website?

[2020-07-03 01:15] zhaoyangyang12 commented on #26529
We want to support Nordic 52840 on Android system through the relevant software provided by you. For example, Bluetooth on mobile phones, we want to replace Bluetooth on mobile phones with 52840. The hardware Android UART / USB is connected with Nordic UART / USB. Through the standard bluedroid protocol stack on Android, Nordic 52840 can be called. What kind of interface firmware should Nordic 528

[2020-07-03 01:15] zhaoyangyang12 commented on #26529
We want to support Nordic 52840 on Android system through the relevant software provided by you. For example, Bluetooth on mobile phones, we want to replace Bluetooth on mobile phones with 52840. The hardware Android UART / USB is connected with Nordic UART / USB. Through the standard bluedroid protocol stack on Android, Nordic 52840 can be called. What kind of interface firmware should Nordic 528

[2020-07-03 01:30] zhaoyangyang12 opened #26624 "Noridc52840 hci_usb bug on linux when " discoverable on " by bluetoothctl"
Hardware: Nordic 52840dk, I compile HCI_USB, and burn to noric52840dk, and plug the hardware into Linux system. Debugging HCI_USB with Bluetoothctl , found that "discoverable on" has been executed, Nordic Bluetooth is not in the discovered mode. I didn't find a device using Android or apple.Obviously, the HCI command corresponding to "discoverable on" has error. Please check it and look forward to

[2020-07-03 03:28] chen-png opened #26625 "tests/net/utils failed on multiple arm platforms."
**Describe the bug**
tests/net/utils failed on frdm_k64f, mimxrt1050_evk, sam_e70_xplained boards.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b frdm_k64f  -p auto  tests/net/utils
2. west flash
3. see error

**Logs and console output**
*** Booting Zephyr OS build zephyr-v2.3.0-720-gab3e778f47d8  ***
Running test suite test_utils_fn

START - test_net_addr
START - test_ipv4_pt

[2020-07-03 03:31] chen-png commented on #24700
yes, it still failed with latest commit ab3e778f47

*** Booting Zephyr OS build zephyr-v2.3.0-720-gab3e778f47d8  ***
Running test suite kscan_basic_test

START - test_init_callback
Cannot get KBSCAN device
Assertion failed at WEST_TOPDIR/zephyr/tests/drivers/kscan/kscan_api/src/test_kscan.c:87: test_init_callback: test_kb_callback() == TC_PASS is false
FAIL - test_init_callback

START - test_contr

[2020-07-03 03:35] chen-png opened #26626 "tests/portability/cmsis_rtos_v1 failed on reel_board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p auto  tests/portability/cmsis_rtos_v1
2. west flash
3. see error

**Logs and console output**
*** Booting Zephyr OS build zephyr-v2.3.0-720-gab3e778f47d8  ***
Running test suite test_cmsis_apis

START - test_kernel_start
PASS - test_kernel_start

**START - test_kernel_systick
Assertion failed at WEST_TOPDIR/zephyr/tes

[2020-07-03 03:50] chen-png opened #26627 "tests/benchmarks/sys_kernel failed on up_squared."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/benchmarks/sys_kernel
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
*** Booting Zephyr OS build zephyr-v2.3.0-720-gab3e778f47d8  ***
MODULE: kernel API test
KERNEL VERSION: 0x2036300
Each test below is repeated 10 times;
average time for one iteration is displayed.
TEST CASE: Semap

[2020-07-03 05:10] danielkc26 opened #26628 "Couldn't find Definition for CTE transmit and enable command for Connectionless AoA/AoD implementation in Zephyr"
i am trying to implement AoA in nrf52833 in PlatformIO, the board is added. And i couldn’t find macro definition for LE Set Connectionless CTE Transmit Parameters command and LE Set Connectionless CTE Transmit Enable command in the …platformio\packages\framework-zephyr\include\bluetooth\hci.h

Where it will be available?

To establish a Connectionless AoA/AoD- Advertising
the procedure to configur

[2020-07-03 06:39] maksimmasalski commented on #26621
@andrewboie Could you take a look on that bug issue?

[2020-07-03 08:33] abrodkin commented on #25022
@xuhao8210 could you please provide more details on how do those tests still fail?
As for `chmod` on `/dev/ttyUSB0` I'm pretty sure it's not needed at all, instead please add your local user to the group which has access to serial ports. Typically it's a `dialout` group. It could be done that way on Ubuntu:
[code]

[2020-07-03 10:25] stephanosio commented on #26625
Duplicate of #26600

[2020-07-03 10:25] #26625 closed

[2020-07-03 10:56] timdesi opened #26637 "How to identify sensor device?"
Hi all, i need to identify/know which device is a sensor with API. Is there a way?

For example below are devices from reel_board listed from sensor shell. Last three of them are sensors.
[code]
DTS part of reel_board that sensors are defined.

[code]

My problem is that calling **sensor_sample_fetch(dev);** function gives fatal error if device is not sensor.

[code]

[2020-07-03 12:23] tejlmand commented on #26596
Also noticed this in the code:
https://github.com/zephyrproject-rtos/zephyr/blob/b244dccad693e998cb10c43f8fc820ea48be3370/scripts/west_commands/sign.py#L378-L379

Such limitation should also be part of the help text.

[2020-07-03 13:28] erwango commented on #26607
@nandra please get back to us when you have new results

[2020-07-03 18:03] NearbySolutions opened #26643 "Nucleo board Slow Code execution at power up - need to always reset"
I am developing a system based on STM32 SoC using Nucleo board and found that when powering on the board the code is executing slower than normal. When i press the RESET button on the board everything come back to normal and my code is executing normally.

To investigate the issue i decided to execute the Blinking LED sample app delivered with Zephyr code and figured out that the same issue is hap

[2020-07-04 04:04] sslupsky opened #26647 "build generates unaligned function reference in v2.3"
I appear to be observing an odd issue with v2.3 build.  I have encountered a situation where the pointer to an initialization function is wrong.

For example, here is one of the post kernel initialization functions taken from zephyr.lst:
[code]
The function begins at address 0x10880.  I noticed when rebasing my code to version 2.3 master branch that it was not starting up.  I used the debugger to

[2020-07-04 04:54] stephanosio commented on #26647
Are you sure unaligned address is actually the cause? (well it is not actually unaligned)

The LSB being set to 1 just means that the instruction at the 2-byte boundary of the corresponding address is to be executed in Thumb mode, which must be case for all Cortex-M cores.

[2020-07-04 08:31] parthitce opened #26648 "Data compression module integration"
**Is your feature request related to a problem? Please describe.**
Currently Zephyr doesn't have any data compression support. Data compression interface enables the efficiency in communication with cloud platforms, OTA and various other use cases.

This issues is opened to discuss the possible ways to integrate data compression for Zephyr.

**Describe the solution you'd like**
Integrating availab

[2020-07-04 13:36] sslupsky commented on #26647
I was not aware of your statement regarding Thumb mode.  Indeed, this is a build for a sam0 mcu.  I have noticed situations where the pointer is offset by 2 bytes.  Is this another Thumb issue?

Notwithstanding the above Thumb mode, the last example I cited above is causing a fault so something is wrong.

[2020-07-04 14:53] sslupsky commented on #26647
Thank you for the thumb info ... I looked this up not the ARM website and I understand now why this happens.

Must be some asynchronous event going on ... I'll dig deeper.

[2020-07-04 14:53] #26647 closed

[2020-07-05 07:24] parthitce opened #26651 "Updatehub: frdm_k64f resets in a loop"
**Describe the bug**
Updatehub with latest mainline master resets in loop on FRDM K64F target.

**To Reproduce**
Steps to reproduce the behavior:
1. Flashed mcuboot with ```west build -b frdm_k64f -s ./boot/zephyr && west flash```
2. Adjust overlay-prj.conf.example for docker instance running locally
3. ```west build -b frdm_k64f -d ./2.0 -- -DCONF_FILE="prj.conf overlay-prj.conf.example"```
3. Si

[2020-07-05 13:28] tagunil commented on #26643
Could you please re-test now with #26036 merged?

[2020-07-05 13:45] NearbySolutions commented on #26643
Hi @tagunil it fixes the problem ! Thanks for your help on that !!
No more latency at the startup

[2020-07-05 13:45] #26643 closed

[2020-07-05 14:23] carlescufi commented on #26628
@danielkc26 AoA/AoD is not supported in Zephyr for now. If you want this to be supported you can either submit a Pull Request or create a new GitHub issue for it, in the form of a Feature Request.

[2020-07-05 14:23] #26628 closed

[2020-07-05 14:26] nandojve commented on #26651
CC: @otavio

[2020-07-05 14:34] alexanderwachter commented on #26541
@kentindell As I understand, a software buffer suffers from the same problem as the hardware buffers do. If a frame with lower ID must be sent and the HW and SW buffer is full, we cannot do anything, because we can't just remove other frames without putting them in the queue again. This is an issue do to the async behavior of the CAN API. For synchronous calls, we can just keep a copy of the frame

[2020-07-05 14:39] nandojve commented on #26651
Hi @parthitce,

Is the new image confirming itself as an good image, first time it boots?
This is an MCUboot procedure that you currently need implement.
You can validate using below snip.
[code]

[2020-07-05 14:52] kentindell commented on #26541
The software queues would have the same problem as the hardware queues if they aren’t big enough, that’s true. My MicroPython bxCAN drivers can be compiled to support 32 or 64 frames, but it’s not easy to have an arbitrary number.

For serialising a segmented message, you could have an API where the whole message is stored in RAM (allocated by the application but where ‘ownership’ of the RAM is ha

[2020-07-05 15:58] parthitce commented on #26651
@nandojve Yes, that does work. But Updatehub UI waits for the device to confirm the update. So I used the same updatehub sample (with minor diff) again to check the status, which result in reset loop.

[2020-07-06 01:55] stephanosio opened #26656 "SAM0 USB transfer slot leak"
**Describe the bug**
"No transfer slot available" error message is displayed and USB transfer stops working when repeatedly unplugging and re-plugging the USB cable on the SAM0-family SoCs.

This bug has been confirmed on the SAM D21 and E54 SoCs using `atsamd21_xpro` and `atsame54_xpro`, respectively.

**To Reproduce**
Steps to reproduce the behavior:
1. Build and flash `samples/subsys/usb/cdc_ac

[2020-07-06 01:56] stephanosio commented on #26656
cc @jfischer-phytec-iot @nzmichaelh @nandojve

[2020-07-06 02:08] stephanosio commented on #26619
Closing since #26620 is merged

[2020-07-06 02:08] #26619 closed

[2020-07-06 05:12] danielkc26 opened #26658 "Need Support for AoA/AoD Bluetooth feature in Zephyr"
**Is your feature request related to a problem? Please describe.**
I would like to develop AoA/AoD application using nordic nrf52833 DK board in Zephyr framework

**Describe the solution you'd like**
Support for this feature is expected from Zephyr

[2020-07-06 06:35] wentongwu opened #26659 "unexpected behavior of ARCv2 memset in NEWLIB_LIBC with -Os"
[code]
this is a fragment of my code, intends to do memset for a local variable which locates at current stack [sp,8] and [sp,12] as instruction `50030caa` and `50030cae` show, and it seems compiler think the `r16` is `0` on instruction `50030caa` and `50030cae`, but before that, the value of `r16` is first loaded from `[r13]` with `r13 = 0xf0001d10`, and then do `bclr    r16,r16,0x1`, I don't kno

[2020-07-06 07:36] jfischer-phytec-iot commented on #26656
The bug is also reported here  #21234 and has an PR #24402

[2020-07-06 08:38] wentongwu commented on #26659
@andrewboie

[2020-07-06 08:53] IRISZZW opened #26663 "sanitycheck reports failing tests with em_starterkit_em7d_v22 board"
**Describe the bug**
sanitycheck reports failing tests with em_starterkit_em7d_v22 board

**To Reproduce**
Steps to reproduce the behavior:
run command:
`./scripts/sanitycheck -p em_starterkit_em7d_v22 -O build.sanity.em_starterkit_em7d_v22  --device-testing --device-serial /dev/ttyUSB1 -T tests/kernel -n -v`

**Logs and console output**
[code]

**Environment (please complete the following informa

[2020-07-06 09:15] #23364 closed

[2020-07-06 09:15] #26467 closed

[2020-07-06 09:19] xuhao8210 commented on #25022
@abrodkin  For the test case:” tests/portability” on Commit ID: 897b5bf60a, could you please check its log below ?  BTW, it seems that each platform will be reset for your solution(updating sanitylib.py file), whether we should find a better way to only reset the hsdk platform, so what are your comments ?

==================Test log for tests/portability/ case=====================
_[_ztest@zserver

[2020-07-06 09:38] pfalcon opened #26664 "frdm_kw41z: tests/drivers/pwm/pwm_api fails in test_pwm_cycle()"
Systematic failure as occurs in Linaro LAVA testing of Zephyr testsuite. Failure log: https://qa-reports.linaro.org/lite/zephyr-upstream/build/897b5bf6-5344/testrun/2900343/suite/api-drivers-pwm-zephyr/test/test_pwm_cycle/log , quoted below.

[code]

[2020-07-06 09:40] pfalcon commented on #26664
@MaureenHelm, @dleach02, @agansari, @galak: FYI.

[2020-07-06 09:42] nandra commented on #26607
This is my changes:
[code]

but unfortunately cannot get output on any of above mentioned pins. Am I missing still something? Thanks.

[2020-07-06 09:56] abrodkin commented on #14173
Solution for ARC should be in https://github.com/zephyrproject-rtos/zephyr/pull/26646.

[2020-07-06 10:04] abrodkin opened #26665 "Implement reset for ARC development boards"
Originated from https://github.com/zephyrproject-rtos/zephyr/issues/25022.
Short story is: in some cases the board might enter non-recoverable state from which we may only recover with help of real HW reset. And fortunately this is easily doable on most of ARC development boards. Read-on...

Most of ARC development boards (excluding just a legacy EM StarterKit) have global board's reset wired to t

[2020-07-06 10:09] abrodkin commented on #25022
@xuhao8210 OK so this needs to be finally solved and I'll take a look at it seriously this time around, see https://github.com/zephyrproject-rtos/zephyr/issues/26665 :)

[2020-07-06 10:59] alexanderwachter commented on #26541
The TX callback (ISR context) will only move the head of the sorted queue to the HW mailbox. This operation is quite short and O(1). The sorting (Insertion sort,  which is O(n)) will happen in the context of the sending thread.

[2020-07-06 12:20] carlescufi commented on #25021
See #25046

[2020-07-06 12:27] carlescufi commented on #25046
Before this module is created we need to decide if we want to support both S2OPC and [open62541](https://github.com/open62541/open62541) or just one of them.

[2020-07-06 12:39] #26450 closed

[2020-07-06 12:43] FRASTM commented on #26607
what is the PA1 for TIM2_ CH2 configuration :
Pull up or Pull down ?
and its speed : STM32_OSPEEDR_HIGH_SPEED  or STM32_OSPEEDR_VERY_HIGH_SPEED

[2020-07-06 12:54] nandra commented on #26607
I just set: ```+{STM32_PIN_PA1, STM32_PINMUX_ALT_FUNC_2}``` alternate function 2. Do you suggest to use pullup + high speed options? Thanks.

[2020-07-06 12:57] Emil-Gydesen-Bose commented on #26450
Just a FYI: The implementors of the controller have been notified about this issue.

[2020-07-06 13:13] wentongwu commented on #26659
@abrodkin any suggestion? Thanks

[2020-07-06 13:34] puchm commented on #25046
In my opinion it would be better to support both. open62541 seems like it needs some more work until it works on Zephyr but S2OPC does not have a free-to-access documentation.

[2020-07-06 13:58] #23111 closed

[2020-07-06 13:58] #23178 closed

[2020-07-06 14:14] FRASTM commented on #26607
yes, if you could  try a combination of STM32_PUSHPULL_PULLUP |  STM32_OSPEEDR_HIGH_SPEED
or STM32_PUSHPULL_PULL_DOWN |  STM32_OSPEEDR_HIGH_SPEED

[2020-07-06 14:23] abrodkin commented on #26659
@wentongwu could you please provide instructions on how to reproduce that problem? I.e. which application and how should I compile to get that assembly? From what we currently have here it's not clear why there's no call to `memset()` via `bl` or `bl.d` instruction but instead in-place `st`.

[2020-07-06 14:47] #26353 closed

[2020-07-06 14:49] dleach02 commented on #26488
There is a known bug in the KW41z code that has been fixed. The release is pending. When released, this issue report will be updated with the details and then closed.

[2020-07-06 14:50] #26106 closed

[2020-07-06 15:29] carlescufi commented on #15256
@kruithofa @erbr-ot @thoh-ot this is the issue tracking the LLCP rework.

[2020-07-06 15:43] abrodkin opened #26676 "MDB runner is not capturing real board's output"
With addition of MDB runner (see https://github.com/zephyrproject-rtos/zephyr/pull/24806) it's now possible to run Zephyr binaries on both ARC boards and nSIM simulator via MetaWare debugger. But while it works OK-ish (see https://github.com/zephyrproject-rtos/zephyr/issues/26272) with manual execution and to some extent with `sanitycheck` script with simulated `nsim_*` targets, attempt to use `sa

[2020-07-06 17:33] andrewboie opened #26679 "sanitycheck passes tests if the emulator exits unexpectedly"
**Describe the bug**
Sanitycheck is reporting tests passing when in fact the emulator is exiting prematurely (with 0 return code, this happens on a triple fault reset) without completing the test scenario.

**To Reproduce**
Checkout this branch and build qemu_x86_64 the emulator exits without the test completing

https://github.com/andrewboie/zephyr/commit/da32ce9c820eb49f8c43426b6aaa83f7c2b47ece

[2020-07-06 18:00] nzmichaelh commented on #20987
Note that the SAM0 USB fixes have landed.  The SAM0 now passes usbtest.

[2020-07-06 18:01] nzmichaelh commented on #11803
The SAM0 fixes have landed.

[2020-07-06 18:03] vla3913 commented on #25046
We have made further progress:
PubSub based on multicast UDP is now working on native_posix and imx_1064.

In order to achieve it, we have modified the multicast UDP Zephyr functions:
* identified one common issue : https://github.com/zephyrproject-rtos/zephyr/issues/26584
* and suggested a patch for imx1064 https://github.com/zephyrproject-rtos/zephyr/issues/26585
Note: this patch is hardware spe

[2020-07-06 19:25] mbolivar-nordic commented on #22562
This is done downstream in the Zephyr-based Nordic SDK, but the approach to do it was rejected for upstream for various reasons, mainly having to do with lack of generality in my opinion. I would be interested in seeing this improve in upstream Zephyr, though.

Here are some random design thoughts; I'd be interested in feedback on how useful they sound.

It would be easy enough to add some logic t

[2020-07-06 19:26] mbolivar-nordic commented on #22562
CC @hakonfam @oyvindronningstad @tejlmand

[2020-07-06 19:56] maksimmasalski commented on #24859
@andrewboie Did you implement any changes for the memory partitions to close that issue?

[2020-07-06 20:01] MaureenHelm commented on #24700
I see the problem now. There is an [LCD panel](https://www.nxp.com/design/development-boards/i-mx-evaluation-and-development-boards/4-3-lcd-panel:RK043FN02H-CT) for this board that I bet you don't have in your board farm. Without it, the kscan driver init will fail and `device_get_binding(KSCAN_DEV_NAME)` will return NULL.

@nashif can you recommend how to filter this in `testcase.yaml`? Add a har

[2020-07-06 20:08] joh06937 opened #26683 "Transition from non-secure to kernel causes "Stacking error""
I'm currently experimenting with having a primary application running out of secure flash/RAM with Zephyr and having a secondary "app" with a simple entry point running out of non-secure flash/RAM. My hope was to have a second application be able to run more or less out of a thread without having any access to the rest of the system.

From what I've read about Zephyr and ARM's TrustZone, it seems

[2020-07-06 20:44] andrewboie opened #26685 "sanitycheck "--only-failed" is broken"
**Describe the bug**
[code]

Above see how 18 tests failed, but when I called again (after fixing a few things) with "--only-failed" only 3 tests were selected!

scr is a BASH alias:
[code]

**Expected behavior**
All failing scenarios re-built/re-run

**Impact**
This is seriously annoying for anyone who is using sanitycheck to validate their code, the workaround is a full build which takes a lot l

[2020-07-06 20:48] andrewboie commented on #26685
It looks like any test that failed the *build* and not the emulator is not included.

[2020-07-06 20:48] henrikbrixandersen commented on #22562
@mbolivar-nordic You have basically just described how I handle this in our downstream repo (except for having a default for the key file, which I do not think we should have - people might be more inclined to just use the default key if provided). I am all for going for this kind of solution.

[2020-07-06 21:10] oberien commented on #19376
@codingspirit Were you able to build zephyr on an RPi? If yes, which environment variables did you need to set to which values? I'm trying `ZEPHYR_TOOLCHAIN_VARIANT="cross-compile"` and `CROSS_COMPILE="/usr/bin"`, but I get the error that Zephyr was unable to find the toolchain, showing those two values.

[2020-07-06 21:12] henrikbrixandersen commented on #25098
Assuming this is related to #25096.

[2020-07-06 23:38] JordanYates commented on #22562
The tool to sign images with should probably be selected in a similar method to the default west runner.

The issue here is that the entire project must be rebuilt in order to sign an image with a different key.
This is probably not acceptable as I imagine a common workflow would be to release an application, then sign it with different keys depending on where it is being deployed.

Maybe a slight

[2020-07-07 00:39] mbolivar-nordic commented on #22562
That's true.

However, I don't struggle with acceptability as much personally, because the zephyr west extensions are mainly for development, not going to production.

By the time one has dev and release keys and is deploying a release build to production, I would guess that the release flow isn't "take this zephyr build directory and use west to build the signed binaries and flash them", so I'm n

[2020-07-07 00:41] mbolivar-nordic commented on #22562
I do get that --file means you have to know if your runner takes a .hex or a .bin, and that is a bit of friction. Perhaps we could allow --file to be given multiple times to specify both, at the runner's discretion, with an error if none of the file types is usable?

[2020-07-07 01:35] nandojve commented on #26651
Hi @parthitce, I made a clear MCUboot + UpdateHub (v: 1.0.0) and flash frdm-k64f.
After that, create an package with same UpdateHub (v: 2.0.0) to test Update and it is working without any problem.

[code]
OS: Linux Debian-10
Toolchain: Zephyr SDK 0.11.3
Zephyr HEAD: 2eb633d12e - net: lwm2m: Reset only messages owned by lwm2m context (3 hours ago) <Robert Lubos>
MCUBoot HEAD: d52aff5065ab5995f78587

[2020-07-07 02:41] chen-png opened #26689 "Couldn't get test result from serial on up_squared board."
**Describe the bug**
running some tests on up_squared, **the console log will stop at the "Booting Zephyr OS" step**, and couldn't get test result.

git bisect and found the first bad commit is  928d3112.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/common/
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**

***** delaying

[2020-07-07 02:45] wentongwu commented on #26689
seems x86_64 is broken, see also https://buildkite.com/zephyr/zephyr/builds/2229

[2020-07-07 03:57] xuhao8210 commented on #25022
@abrodkin  OK, Got it . Thanks

[2020-07-07 04:25] JordanYates commented on #22562
That's fair, my 'production' is typically no more than 100 devices for a given application, so I normally just use the same tools as development.

Sorry, I was not very clear. The idea was for the CMake files to specify the parameters which have sensible defaults for all applications on that board. i.e. my custom boards would specify they should be signed using `imgtool` with an erased-val of 0xFF

[2020-07-07 06:56] wentongwu commented on #26659
@abrodkin I have no idea about how to reproduce it although I tried a lot with self developed similar code. It can only be reproduced when built along with many other files which I can't share(sorry for that). And BTW sizeof(msg_req_hdr_t) = 8.

[2020-07-07 07:12] nandra commented on #26607
@FRASTM I've tried:
[code]
but unfortunately still nothing.

[2020-07-07 07:16] stephanosio commented on #26659
likely an inline loop expansion optimisation, but I am completely lost as to why you get that with `-Os` (optimise for size) enabled because that is one thing you never want when you are optimising for size.

[2020-07-07 07:32] wentongwu commented on #26659
you mean there is another flag to enable inline loop expansion optimization?

[2020-07-07 07:32] abrodkin commented on #26659
@wentongwu may I have some more data here, in particular:
1. C source of that snippet. I understand you cannot share everything but at least this function.
2. Full command-line used to compile that source into object file
3. Compiler version (whatever you get with `arc-zephyr-elf-gcc -v`)

[2020-07-07 07:39] wentongwu commented on #26659
FLAGS = -Os -g -Wall -Wformat -Wformat-security -Wno-format-zero-length -imacros output/zephyr_1.14.0/zephyr/include/generated/autoconf.h -ffreestanding -Wno-main -fno-common -mcpu=arcem -Werror -fno-asynchronous-unwind-tables -fno-pie -fno-pic -fno-strict-overflow -Wno-pointer-sign -Wno-unused-but-set-variable -fno-reorder-functions -fno-defer-pop -Werror=implicit-int -Wpointer-arith -ffunction-s

[2020-07-07 07:44] FRASTM commented on #22906
@EminYagmahan can you please share your full test application which measures the SD write speed. So that I can check if any improvement is possible.

[2020-07-07 07:46] chrta commented on #26600
When i executed sanitiycheck with undefined behavior sanitizer, i got some alignment issues from some network tests, maybe this is related. See https://github.com/zephyrproject-rtos/zephyr/pull/26674 for the addition of sanitycheck.

[2020-07-07 07:55] FRASTM commented on #26607
why not PA1
{STM32_PIN_PA1, STM32_PINMUX_ALT_FUNC_2| STM32_PUSHPULL_PULLUP | STM32_OSPEEDR_HIGH_SPEED | }

[2020-07-07 07:59] stephanosio commented on #26659
Can you check if this issue is reproducible with the latest version of Zephyr SDK (that has GCC 9.2.0)?

[2020-07-07 08:03] wentongwu commented on #26659
will try.

[2020-07-07 08:05] stephanosio commented on #26659
This makes even less sense given that `st 0,[sp,imm]` can be encoded in the ARC ISA.

I wrote a test code and can see that the compiler generates valid instructions (tested with GCC 9.2.0):
[code]

[2020-07-07 08:17] claziss commented on #26659
If u use upstream gcc8.x to build ARC compiler, it may be a problem as it uses an old register allocation algorithm which may lead to unexpected behaviour. This may explain or not the observed behaviour, however, my recommendation is to upgrade your compiler to gcc9.x or gcc10.x for improved stability and performance.

[2020-07-07 08:50] wentongwu commented on #26659
Tool chain is from Zephyr SDK (version 0.10.3), on which not sure there is the problem you described, but anyway I will try latest version of Zephyr SDK.

[2020-07-07 09:43] jjamesson commented on #26524
Hi, Zephyr community and @jhedberg ,

After digging around for information about Bluez, I was unable to assign dynamic PSMs myself, so I wrote a custom HCI driver on an embedded system. Thus I was able to generate custom PSMs as I liked and I got it to work, so this is likely a Bluez limitation.

Thanks for thinking along. This issue can now be closed.

WR,

[2020-07-07 09:51] jhedberg commented on #26524
@jjamesson IIRC BlueZ gives you dynamic PSMs when you set the PSM to 0 in the struct sockaddr_l2

Anyway, I'll close this then since it's not a Zephyr issue.

[2020-07-07 09:51] #26524 closed

[2020-07-07 10:45] a8961713 opened #26695 "net: TCP2: connect() returns 0 without waiting for handshake completion"
**Describe the bug**
When using `CONFIG_NET_TCP2=y`:
A call to BSD `connect()` or `zsock_connect()` returns 0 immediately after sending SYN, without waiting for TCP handshake completion. Specifically it does not wait for [SYN,ACK] reply from server.
That leads to client assuming connection is established. Immediately sending data after `connect()`, results with an error -128 (ENOTCONN).

**To Repr

[2020-07-07 11:13] a8961713 commented on #26695
**Additional remark**
`connect()` succeeds (returns 0) even when there is no listening server.

[2020-07-07 12:08] rveerama1 commented on #26695
Check with this PR https://github.com/zephyrproject-rtos/zephyr/pull/26098

[2020-07-07 12:30] maksimmasalski opened #26700 "waveshare_open103z board can't build tests/mem_protect"
**Describe the bug**
I find out that waveshare_open103z can't build some tests from `zephyr/tests/mem_protect`. There is list of build results:
1. zephyr/tests/mem_protect/futex Build error
2. zephyr/tests/mem_protect/mem_protect Build error
3. zephyr/tests/mem_protect/obj_validation Build error
4. zephyr/tests/mem_protect/protection Build success
5. zephyr/tests/mem_protect/stackprot Build succes

[2020-07-07 12:31] maksimmasalski commented on #26700
@smanni Could you reproduce the same behaviour? Please test it on your machine.

[2020-07-07 12:37] pabigot commented on #24318
Closing this as a duplicate of #19448 which proposes support for the devicetree standard way of identifying devices as not started at boot.  If there are subtleties of the requirements here please ensure 19448 has enough information to identify them.

[2020-07-07 12:37] #24318 closed

[2020-07-07 12:53] MaureenHelm commented on #26637
Have a look at how system calls validate the driver type. Or, if you have a known set of sensor drivers, you could do something like this: https://github.com/zephyrproject-rtos/zephyr/blob/41279af8a416e45b26a08550a3fe882d4aabba5a/tests/drivers/counter/counter_basic_api/src/test_counter.c#L29-L72

[2020-07-07 13:04] a8961713 commented on #26695
Great! This is what we need.

[2020-07-07 13:06] #26356 closed

[2020-07-07 13:06] #26476 closed

[2020-07-07 13:09] #24747 closed

[2020-07-07 13:10] #26663 closed

[2020-07-07 13:17] pdunaj opened #26701 "Invalid handling of large cycle count in rtc timer"
**Describe the bug**
Invalid macro is used when checking extreme values when setting rtc comparator. This leads to idle not working as intended (being constantly woken up by rtc interrupt) and very high current consumption.

https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/timer/nrf_rtc_timer.c#L136
`MAX_CYCLES` should be used instead of `MAX_TICKS`.

**To Reproduce**
Steps to repr

[2020-07-07 13:23] pdunaj commented on #26701
Fix is one liner + 2 lines in the comments. I would also change the name of the functions and use cycles instead of ticks to avoid confusion. Will push a PR.

[2020-07-07 13:26] koffes opened #26702 "Devicetree for multi core CPUs has duplicate entries"
**Is your enhancement proposal related to a problem? Please describe.**
I will use the nRF5340 as an example, but this issue may concern several boards with multi-core CPUs.
[https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/nrf5340pdk_nrf5340/nrf5340pdk_nrf5340_cpuapp_common.dts](url) and [https://raw.githubusercontent.com/zephyrproject-rtos/zephyr/master/boards/arm/nrf5340pdk_n

[2020-07-07 13:40] MaureenHelm commented on #26656
Duplicate of #21234

[2020-07-07 13:51] stephanosio commented on #26656
This issue is clearly not a duplicate of #21234; at most, it is related.

[2020-07-07 14:03] ABOSTM commented on #26519
I figure out that I used a nucleo_f767zi with soc cut-A (Device marking A) which has some ethernet restrictions:
https://www.st.com/content/ccc/resource/technical/document/errata_sheet/group0/23/a6/11/0b/30/24/46/a5/DM00257543/files/DM00257543.pdf/jcr:content/translations/en.DM00257543.pdf

Using a more recent board, with cut-Z, the instability vanished.

[2020-07-07 14:03] #26519 closed

[2020-07-07 14:07] pfalcon commented on #26519
@ABOSTM, Very interesting, thanks for recording this situation and related links, may be useful to other folks facing a similar situation.

[2020-07-07 15:49] pabigot opened #26708 "RFC: API Change: watchdog: wdt_feed error codes"
## Problem Description

The Atmel SAMx2x and SAMx5x watchdog peripherals implemented in `wdt_sam0.c` require synchronization between the peripheral and system clocks.  Attempts to feed the watchdog while a previous operation is in progress will stall the CPU for a duration measured in ticks of the global and peripheral clock.  In the worst case a feed operation may stall the CPU for 6 ms.  The con

[2020-07-07 16:14] dcpleung commented on #26689
This should be fixed by #26687.

[2020-07-07 16:17] Nukersson commented on #26519
Maybe adding short warning in `nucleo_f767zi` board doc would be not bad?

[2020-07-07 16:29] deangereaux commented on #23465
Current status.
a) Moving code to lib/auth
b) Refactoring code to make library independent of transport (ie Bluetooth, Serial, etc).
c) Adding transport layer API.

[2020-07-07 16:43] pabigot commented on #6184
API 2020-07-07: Closing as duplicate of #18970 which is the centerpoint of current plans to document API expectations.

[2020-07-07 16:43] #6184 closed

[2020-07-07 16:46] henrikbrixandersen commented on #26708
Perhaps `-EAGAIN` would be better here as it implies that the busy state is temporary and should go away without user intervention?

[2020-07-07 16:49] pabigot commented on #20012
API 2020-07-07: Closing as duplicate of #19448 which covers specifying which devices are to be present but not started, and ties to the ability turn devices off (for power management).  Please add to that issue any requirements from this that are not implicitly or explicitly addressed.

[2020-07-07 16:51] pabigot commented on #17902
API 2020-07-07: Moved from triage to on-hold.  The current active approach for this class of devices is to treat them as flash devices.  Revisit if that proves to be insufficient to system needs.

[2020-07-07 16:52] pabigot commented on #21452
API 2020-07-07: Triage review shows now evidence that this has been discussed.  Leaving in Triage with intent it should be on the agenda for 2020-07-14.

[2020-07-07 16:53] pabigot commented on #21452
@alexanderwachter if this issue is no longer of interest to you, please close this instead.

[2020-07-07 16:55] pabigot commented on #21538
API 2020-07-07: Moved from triage to in-progress.  Return to triage if further discussion is warranted, or close if this is duplicative of in-progress device rework viz. #22941

[2020-07-07 16:58] pabigot commented on #22415
API 2020-07-07: Moved from triage to in-progress; base issue for #22409 supporting #23371.  Close if outdated.

[2020-07-07 17:03] pabigot commented on #21111
API 2020-07-07: Closing as duplicate of #18970 which is the centerpoint of current plans to document API expectations.

[2020-07-07 17:03] #21111 closed

[2020-07-07 17:03] mbolivar-nordic commented on #25742
@MaureenHelm is there some way to whitelist the entire file? This is never going to stop otherwise:

https://github.com/zephyrproject-rtos/zephyr/issues/25987
https://github.com/zephyrproject-rtos/zephyr/issues/25985
https://github.com/zephyrproject-rtos/zephyr/issues/24041
https://github.com/zephyrproject-rtos/zephyr/issues/24040
...

The devicetree APIs are macro based, and APIs which "return" s

[2020-07-07 17:04] mbolivar-nordic commented on #25742
I'm also getting 401 unauthorized from coverity when I attempt to log in with this GitHub account.

[2020-07-07 17:07] pabigot commented on #4040
API 2020-07-07: Moved from triage to in-progress, as there has been recent activity.

[2020-07-07 17:09] pabigot commented on #11918
API 2020-07-07: Moved from triage to To-Do pending completion of a generic pinmux API which is likely to be needed to support this.

[2020-07-07 17:10] pabigot commented on #22758
API 2020-07-07: Moved from triage to To-Do as desired functionality has been discussed and recorded above.

[2020-07-07 17:12] pabigot commented on #23465
API 2020-07-07: Moved from triage to in-progress.

[2020-07-07 17:13] loicpoulain commented on #25600
@nandojve could you please also increase debug log to DBG for eswifi.
As well, can you try to apply the patches from #26712

[2020-07-07 17:14] pabigot commented on #26026
API 2020-07-07: Moved from triage to in-progress per discussion.

[2020-07-07 17:28] pabigot commented on #26708
Agreed.

[2020-07-07 17:36] mbolivar-nordic commented on #26522
@erwango This appears to be due to the use of GLOB_RECURSE here:

https://github.com/zephyrproject-rtos/zephyr/blob/4e39938942a5beb7d4eef79855e45af065c637c8/cmake/app/boilerplate.cmake#L326

The problem seems to be that the RECURSE part makes CMake pick up files like boards/shields/esp_8266/boards/disco_l475_iot1.overlay, which then show up in the output.

I found the use of GLOB_RECURSE was origi

[2020-07-07 17:36] mbolivar-nordic commented on #26522
Clearing my assignment since this does not appear to be a west issue.

[2020-07-07 17:45] MaureenHelm commented on #26695
Can you confirm it fixes this issue?

[2020-07-07 18:19] mbolivar-nordic commented on #22562
Amen to that, we are on the exact same page here, the question is just how to set it up.

I don't think it is possible in general to specify sensible defaults for bootloaders used by "all applications on that board", except maybe in the case of single-application custom boards, but that's not the only use case that matters here.

This is notably not possible for generic development boards, which m

[2020-07-07 18:35] nashif commented on #26685
yes, we stopped rebuilding failed tests (those with build failures) because it does not make sense in CI but I see where this can still be useful for developers. Will see how we can continue to support this with --only-failed and maintain new behavior with --retry-failed.

[2020-07-07 18:39] johnsmithecon commented on #23961
I am still seeing this issue occasionally, but I am using bluetooth mesh. I connect to the bearer successfully but the bearer does not open. And my device is outputting the following:

bt_gatt: No space to store CCC cfg

I'm not exactly sure how to reproduce. It seems to be happening pretty randomly and I can't pinpoint exactly when it happens.

[2020-07-07 18:41] mbolivar-nordic commented on #25748
marked fp

[2020-07-07 18:41] #25748 closed

[2020-07-07 18:41] mbolivar-nordic commented on #25743
marked fp

[2020-07-07 18:41] #25743 closed

[2020-07-07 18:42] mbolivar-nordic commented on #25742
marked fp, would be nice if the coverity scanner could be configured away from generating these issues in the test cases

[2020-07-07 18:42] #25742 closed

[2020-07-07 19:36] smanni commented on #26700
@maksimmasalski these tests fails also on other boards (e.g. nucleo_f103rb) with:

`error: array type has incomplete element type 'struct k_futex'`

[2020-07-07 19:42] EminYagmahan commented on #22906
@FRASTM Thank you. I have just uploaded all the necessary test functions. They are located in the following repository: [zephyr_spi_sdcard](https://github.com/EminYagmahan/zephyr_spi_sdcard). It should be mentioned that the calculation of the time in milliseconds does not fully reflect the write/read time. The time for required fat fs operations is also included in the output.

[2020-07-07 19:59] Nukersson opened #26717 "Big HTTP Download - Upgrade"
**Is your enhancement proposal related to a problem? Please describe.**

- [Big HTTP Download](https://docs.zephyrproject.org/latest/samples/net/sockets/big_http_download/README.html) example does not prints useful metrics (KiB, MiB, KiB/sec.) of download progress. It leads to time waste at development.

- [Big HTTP Download](https://docs.zephyrproject.org/latest/samples/net/sockets/big_http_downl

[2020-07-07 20:07] smanni commented on #26700
every board with CONFIG_ARM_MPU=n won't compile

[2020-07-07 20:27] #26518 closed

[2020-07-07 21:19] nandojve opened #26720 "lib: sockets: getaddrinfo don't work without newlib C on ARM"
**Describe the bug**
The getaddrinfo (zsock_getaddrinfo) method fail with DNS_EAI_MEMORY error at calloc.

from **subsys/net/lib/sockets/getaddrinfo.c**:
[code]
**To Reproduce**
Can look at https://github.com/nandojve/zephyr/tree/topic/tagoio_http_post_json project. It is an functional test with TagoIO IoT Platform using HTTP post.

The implementation is in `int tagoio_connect(struct tagoio_contex

[2020-07-07 23:09] rettichschnidi commented on #18473
How about having a way for a consultant to specify if having commit permissions and/or willing to do PR reviews for money? Would allow companies to get a better chance to get their commits merged soonish.

[2020-07-07 23:27] #26586 closed

[2020-07-08 00:33] plskeggs opened #26722 "uarte_nrfx_poll_out() in NRF UARTE driver does not work with hardware flow control"
In Zephyr 2.1.99, the uarte_nrfx_poll_out() function worked correctly with hardware flow control, in this case at 1000000 baud to carry the Zephyr Bluetooth HCI traffic between an nRF9160 and an nRF52840.  When porting this app to Zephyr 2.3.0 (part of the Nordic NCS 1.3.0 release and associated Zephyr fork), the Bluetooth HCI interface stopped working -- it would timeout and assert in hci_core.c:

[2020-07-08 00:35] plskeggs commented on #26722
Note that there was a similar commit in the same PR which may cause the same problem for the uart_nrfx_uart.c driver:
https://github.com/zephyrproject-rtos/zephyr/pull/22355/commits/2512b7333cbdeb1badd12198d4d61a2dbff17d72

[2020-07-08 00:35] zhaoyangyang12 commented on #26624
hi，Have you verified it?

[2020-07-08 01:10] chen-png commented on #26689
fixed by #26687

[2020-07-08 01:10] #26689 closed

[2020-07-08 01:27] wentongwu commented on #26659
[code]

great, it seems right with 9.2.0, thanks everyone's(@abrodkin @stephanosio @claziss ) help.

@claziss is there any link about `it may be a problem as it uses an old register allocation algorithm which may lead to unexpected behaviour`

[2020-07-08 01:27] plskeggs opened #26723 "NULL handler in work queue entry can be called resulting in silent reboot"
Due to some debugging changes and delays added to an application, an application thread inadvertently called `k_delayed_work_submit()` with a pointer to a `struct k_delayed_work` variable which had not yet been initialized.  Since it was not yet initialized, the member variable `struct k_work work` contained a `k_work_handler_t handler` member variable which was still NULL.  But, because Zephyr's

[2020-07-08 02:14] #25398 closed

[2020-07-08 02:44] mbolivar-nordic commented on #26723
@andyross any advice on where the ASSERT might belong?

[2020-07-08 02:46] mbolivar-nordic commented on #26722
@carlescufi assigned to you for triage; since the issue appears to have been added in https://github.com/zephyrproject-rtos/zephyr/commit/a44e722959dea382e312da092875c04f199c8ec5, perhaps @Mierunski can take a look at this?

[2020-07-08 03:05] andyross commented on #26723
Assertions are best used to identify "should never happen" cases internal to the Zephyr code.  They're for early detection of bugs in Zephyr, not protection against bugs in user code.  I wouldn't reject a patch that added some, but I'm not sure I see the value.  There are an effectively infinite numbers of ways that bad user data can cause a crash, we can't possibly detect all of them.

Is a corru

[2020-07-08 04:04] a8961713 commented on #26695
Yes, it does.

[2020-07-08 04:46] cvinayak commented on #26624
Zephyr Bluetooth is Low Energy single mode only.

Please provide details as in the issue template (when creating the this issue), details like how to reproduce the issue, command line or tools used etc.

[2020-07-08 04:49] cvinayak commented on #26529
nRF52840 is Bluetooth Low Energy single mode only. I will assume you will need to port/fix  android Bluetooth subsystem to use Bluetooth standard complaint HCI commands for LE controller.

[2020-07-08 05:50] stephanosio opened #26725 "USB suspend-resume process is not properly handled"
**Describe the bug**
The USB subsystem does not properly handle the suspend-resume process.

When a USB device is suspended, all on-going transfers are cancelled:

https://github.com/zephyrproject-rtos/zephyr/blob/0651688dd350851ab5e00265d1170f3f015e77c0/subsys/usb/usb_device.c#L1017-L1025

The CDC ACM device class implementation, for instance, does not restore the cancelled USB transfer upon the

[2020-07-08 05:50] stephanosio commented on #26725
cc @finikorg @jfischer-phytec-iot

[2020-07-08 06:02] stephanosio commented on #26725
To briefly summarise the kind of mess we are in:
1. USB drivers do not report `USB_DC_DISCONNECTED` event because most USB device cores do not report such a thing (and there is a good reason for that), and we must rely on the `USB_DC_SUSPEND` event occurring when the device is disconnected (and, of course, suspended).
2. #16193 made the USB subsystem cancel/free all on-going transfer slots upon `U

[2020-07-08 07:32] jfischer-phytec-iot commented on #26725
Can not reproduce, works fine on nRF52840. It works even with #26657, but only few times.

[2020-07-08 07:37] stephanosio commented on #26725
@jfischer-phytec-iot I can reproduce this issue on nRF52840 (`nrf52840dk_nrf52840`). Please re-check.

[2020-07-08 07:44] erwango commented on #26522
Thanks @mbolivar-nordic I'll get deeper into it.

[2020-07-08 07:49] claziss commented on #26659
@wentongwu no, but u can consider the above statement as the link, as I am the ARC GNU compiler maintainer.

[2020-07-08 07:50] jfischer-phytec-iot commented on #26725
Expected transition is SUSPEND->RESUME, this behavior is correct. Everything after USB_DC_DISCONNECTED will reset the device and reconfigure usb_transfer. If you platform does not support detached or disconnected events suspend can for sure used instead but you must implement resume too.

[2020-07-08 07:54] stephanosio commented on #26725
@jfischer-phytec-iot I think you are still thinking about the other issue (#26656). This is different.

I am not talking about the disconnect/detach event here, but an actual suspend-resume event; and yes, you need to implement both suspend and resume events to get suspend and resume features working -- that was clear enough.

Try turning on autosuspend on the host and you will see that nRF52840 s

[2020-07-08 07:56] stephanosio commented on #26725
Also I forgot to mention, this issue is seen on all platforms I tested (sam0, sam, kinetis, nrf).

This is a logic issue, not a platform driver issue.

[2020-07-08 08:00] stephanosio commented on #26725
More detailed steps on how to reproduce this:
1. Turn on autosuspend
[code]

2. Wait for `usb_cdc_acm: USB device suspended` to be printed on the UART console

3. Open the board USB ACM serial port (`usb_cdc_acm: USB device resumed` will be printed on the UART console)

Now you will see that the USB ACM serial port does not echo anything and became completely unresponsive for the reasons described

[2020-07-08 08:08] jfischer-phytec-iot commented on #26725
Where is the issue? What you describe is correct behavior:

[2020-07-08 08:17] stephanosio commented on #26725
So you are saying that the ACM device class implementation not restoring the USB transfer after resume and being unable to communicate with the host is the correct behaviour?

I don't think it takes an expert to see that is a problem unless, of course, your goal is to maintain the status quo that is an unusable substandard implementation.

[2020-07-08 08:30] FRASTM commented on #22906
Testing the write speed on a SD card
`Performance Result - write time for 1024000 byte: 32225 ms`

With PR #26319  idisk: fixing the SPI clock,
`Performance Result - write time for 1024000 byte: 7537 ms `

[2020-07-08 08:39] jfischer-phytec-iot commented on #26725
No, I read your sentence too quickly. The transfers are cancelled not disabled. On resume event CDC ACM class sets internal state to `dev_data->usb_status = USB_DC_CONFIGURED;` and allows to fill the fifo (tx_work_handler -> usb_transfer will pass the data to IN endpoint buffer), callbacks for the OUT endpoint are still configured for the usb_transfer and will be triggered.

[2020-07-08 09:04] jfischer-phytec-iot commented on #26725
I can not reproduce it, I should try an other host. Probably regression or was not really fixed in https://github.com/zephyrproject-rtos/zephyr/issues/17488

[2020-07-08 09:13] pfalcon commented on #26717
Can you elaborate, what you mean by this? (The last sentence specifically).

[2020-07-08 09:15] lsangild opened #26728 "Allow k_poll for multiple message queues"
**Is your enhancement proposal related to a problem? Please describe.**
At the moment it is possible to wait on signals, queues and semaphores, but if you want to wait for multiple message queues, you have to implement signals, which doubles the amount of extern usage.

Waiting for a single msgq is possible using ```k_msgq_get( k_msgq *, void *, K_FOREVER)```.

**Describe the solution you'd like**

[2020-07-08 09:15] stephanosio commented on #26725
The log indicates that `cdc_acm_read_cb` is not called after resume.

[code]

[2020-07-08 09:22] tejlmand commented on #25215
@drandreas you can cheok out this PR: #26715

[2020-07-08 09:30] stephanosio commented on #26725
Is your host configuring (`REQ_SET_CONFIGURATION`) the device after resume? Because if it does, this problem will not be reproducible since `USB_DC_CONFIGURED` calls `cdc_acm_read_cb`.

It is my understanding that `REQ_SET_CONFIGURATION` should not be sent after resume and that would indeed be your host's problem.

[2020-07-08 09:51] kruithofa commented on #15256
We should also have a look at issue #13519

[2020-07-08 09:55] pabigot commented on #14307
@nashif @carlescufi I understand we're to put requirements here, but I don't know what exactly you want done.  Editing the description isn't scalable or traceable.

But here's one from slack today:

* The power management solution shall support enabling device power management without enabling system power management.

[2020-07-08 09:59] Trubochkin commented on #16363
I have same error (used nRF52840 and Zephyr v2.2.1):

-- west build: build configuration:
       source directory: C:\Users\Oleksii\Work\VIRAVIX\PROG\Nordic\Projects\fw.ble-gsm-gateway.nrf52.sim800
       build directory: C:\Users\Oleksii\Work\VIRAVIX\PROG\Nordic\Projects\fw.ble-gsm-gateway.nrf52.sim800\build
       BOARD: nrf52840_ble_gsm_gw (origin: CMakeCache.txt)
-- west build: building applic

[2020-07-08 10:32] mtahirbutt commented on #18117
I am facing a similar issue to completely power off modem, but reintialize routines is not working, may be I have set correctly the modem context. is someone successful in this regard.

[2020-07-08 10:33] #26701 closed

[2020-07-08 10:37] #26302 closed

[2020-07-08 10:41] ball-hayden opened #26729 "FCB flash_area_write fails on nRF52840DK when using mx25r64 storage"
**Describe the bug**

Calls to `flash_area_write(fcb->fap, FCB_ENTRY_FA_DATA_OFF(loc), test_data, i);` fail when using mx25r64 as a storage device.

I suspect, more generally, that this is an issue for any flash area using the `nrf_qspi_nor` driver.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply the attached patch, which reconfigures fcb tests to use `mx25r64` storage available on nRF

[2020-07-08 11:15] EdytaBosacka opened #26731 "Single channel selection - Bluetooth - Zephyr"
I would like to advertise and scan ONLY on one bluetooth channel (for example channel 37). Is there any way to do this in Zephyr? I tried to search parametr responsibles for it in this structure:
struct bt_le_scan_param scan_param = {
		.type       = BT_HCI_LE_SCAN_PASSIVE,
		.options    = BT_LE_SCAN_OPT_NONE,
		.interval   = 0x0010,
		.window     = 0x0010,}
but i dont think that this is solution.

[2020-07-08 11:16] #26731 closed

[2020-07-08 11:17] EdytaBosacka opened #26732 "Advertise only on single bluetooth channel"
I would like to advertise and scan ONLY on one bluetooth channel (for example channel 37). Is there any way to do this in Zephyr? I tried to search parametr responsibles for it in this structure:
struct bt_le_scan_param scan_param = {
.type = BT_HCI_LE_SCAN_PASSIVE,
.options = BT_LE_SCAN_OPT_NONE,
.interval = 0x0010,
.window = 0x0010,}
but i dont think that this is solution.

I also found a file l

[2020-07-08 12:23] Nukersson commented on #26717
I mean downloaded [`Kibibytes aka KiB`](https://en.wikipedia.org/wiki/Kibibyte), `Mibibytes aka MiB`. Currently only Bytes will be printed - it is kind a hard to read.

[2020-07-08 13:08] rerickson1 commented on #24076
Resolved with #24245

[2020-07-08 13:08] #24076 closed

[2020-07-08 13:09] cvinayak commented on #26333
Reproduced like 1 in 5 bond erase when having 4 peripheral connect and bond.

![image](https://user-images.githubusercontent.com/6350656/86922354-c705f680-c12c-11ea-96bc-da63a6b125d7.png)

This (again) appears to be new ticker implementation issue, two different connection event when overlapping with flash drive timespace, they dont round-robin and connection events appear to be given precedence s

[2020-07-08 13:24] mtpr-ot commented on #26333
@cvinayak, did you use the suggested reproduction scenario, or did you find an easier way to reproduce this? I assume the flash ticker does not use slot reservation, and is periodic?

[2020-07-08 13:32] jfischer-phytec-iot commented on #26725
I can reproduce it on PC, sorry, I think it is a regression as I tested it to fix #17488

[2020-07-08 13:39] erwango commented on #26700
@maksimmasalski tests/kernel/mem_protect/futex/testcase.yaml declares the following:
[code]
So it requires CONFIG_ARM_MPU=y, which may not be the case for various reasons (no MPU, MPU available but userspaec requesting too much resources vs memory constraints).
So in case of STM32F103, MPU is not present..

[2020-07-08 13:47] maksimmasalski commented on #26700
@erwango Does that means buildkite/zephyr tried to build that test for the unsupported board by mistake? https://github.com/zephyrproject-rtos/zephyr/pull/25842

[2020-07-08 13:57] andyross opened #26737 "Integrate EFI loader into Zephyr build system"
Right now the "zefi" EFI loader is a standalone script that processes a zephyr.elf file into a loadable zephyr.efi file.  That is helpful for testing and early development, but it has some drawbacks.  Ideally we want the build process for EFI binaries to work the way it does on other platforms and be a first class output of the cmake build system.  Some general requirements:

* It should build wit

[2020-07-08 14:10] ball-hayden commented on #26729
Further investigation has shown than increasing the `nrf_qspi_nor` write block size to 4 solves this problem (see above commit).

I'm not currently proposing that as a fix, unless someone with more understanding than I have can confirm that the driver is reporting the wrong block size there?

[2020-07-08 14:11] erwango commented on #26700
@maksimmasalski Ok, I hadn't seen this. This is indeed unexpected, will have a check..

[2020-07-08 14:30] erwango commented on #26700
@maksimmasalski Build issue is due to
[code]
This is a unfortunate merge conflict issue that has been fixed few commits after.
Can you rebase and have a new try ?

[2020-07-08 14:50] jfischer-phytec-iot commented on #26725
At fist glance the fix for cdc acm class could be to re-trigger the transfer for OUT endpoint:

[code]

[2020-07-08 15:04] lindemer opened #26740 "Add support for userspace on RISC-V [seeking feedback on partial implementation]"
The RISC-V privileged specification defines a hardware extension called Physical Memory Protection (PMP), which is conceptually very similar to an Arm MPU. Zephyr already supports boards that contain these extensions (e.g., SiFive HiFive), but this hardware is unused. My colleagues and I have created a working (partial) implementation of userspace support for the HiFive Rev B, which can be found o

[2020-07-08 15:13] Abhishek-brcm commented on #26533
I am able to reproduce the mentioned newlib issue.
@stephanosio can you point to memset implementation used in zephyr SDK aarch64 newlib?

[2020-07-08 15:55] carlescufi commented on #26732
@EdytaBosacka You need to use extended advertising, which is supported in Zephyr but currently only in the Host. Once this is supported in the Controller (@andrzej-kaczmarek is working on it) you will be able to use this. If you are only using the Host and have a separate controller then you should be able to do it already.
However, Zephyr doesn't currently make this configurable by the app:
`cp->

[2020-07-08 15:55] plskeggs commented on #26723
Well, whether the solution is an assert or not, I do feel that, just like dereferencing a NULL pointer is a bad idea, jumping to one is as well.  In z_work_q_main(), it already checks whether the `struct k_work *work` pulled from the queue is NULL, and if so, ignores it.  Seems to me at a minimum it should do the same if `work->handler` is NULL.

[2020-07-08 16:00] carlescufi commented on #26438
@jsiverskog could it be that you have unauth repairing disabled?
There's a KConfig option for this: `CONFIG_BT_SMP_ALLOW_UNAUTH_OVERWRITE`. Try enabling that and see if it fixes your issue.

[2020-07-08 16:03] carlescufi commented on #26466
@wdhpawa Thanks for the report, this makes quite a lot of sense. Would you mind proposing a patch yourself?

[2020-07-08 16:04] carlescufi commented on #26505
I2S is not supported in nRF devices yet. We are planning to add support for it very soon. As soon as that is added please request an example if the one that will be part of the implementation is not sufficient. Thanks!

[2020-07-08 16:04] #26505 closed

[2020-07-08 16:05] carlescufi commented on #26506
@zhaoyangyang12 this is an NCS question, and should be asked in the Nordic DevZone.

[2020-07-08 16:05] #26506 closed

[2020-07-08 16:08] carlescufi commented on #26529
@zhaoyangyang12 I am really not sure the Android Bluetooth stack supports single-mode BLE adapters, but you can try by building the `samples/bluetooth/hci_usb` sample, that will give you what you need.

[2020-07-08 16:08] #26529 closed

[2020-07-08 16:11] carlescufi commented on #26624
As described before, you are likely not going to be able to make Android work with a Zephyr-based controller because Zephyr's controller only supports Bluetooth Low Energy, and not BR/EDR (or classical) Bluetooth.

[2020-07-08 16:11] #26624 closed

[2020-07-08 16:14] carlescufi commented on #26722
@mbolivar-nordic thanks.

@plskeggs we currently use `uart_poll_out()` with hardware flow control enabled in several of the samples and configurations. I will have to wait until @nordic-krch, @Mierunski or @anangl have a chance to dig into the issue.

[2020-07-08 16:20] carlescufi commented on #26648
My feeling is that we should have one repo per upstream project approximately. Meaning that if lz4 and zstd are two different projects we probably want to have two different repositories, one for each. But the modules policies are currently undergoing rework, so there's no definite answer to this.

[2020-07-08 16:29] carlescufi commented on #26740
@mgielda @PiotrZierhoffer would you be up for reviewing this?

[2020-07-08 17:35] mbolivar-nordic commented on #26637
In addition to what @MaureenHelm has said, I have to wonder why this is necessary. Would you be able to describe what you are trying to do in some more detail? Perhaps there is a better way than just looping over the devices.

[2020-07-08 17:41] cvinayak commented on #26333
@mtpr-ot On analyzing the ticker implementation in details, I dont find anything wrong. Instead, reviewing the nrf flash driver revealed that the driver was using ticker id 0 which overlaps with split controller's pipeline preempt ticker id. This overlap can definitely cause flash driver to stall.

I will test more the flash driver fix using an explicit new ticker id and send a PR to resolve this

[2020-07-08 19:02] #26575 closed

[2020-07-08 19:03] galak opened #26746 "Change sanitycheck to used pickled EDT"
Now that we pickle the EDT, have the sanitycheck script utilize the pickle'd version.

[2020-07-08 20:52] maksimmasalski commented on #26700
After rebasing everything is fine. Close bug issue.

[2020-07-08 20:52] #26700 closed

[2020-07-08 21:10] #25255 closed

[2020-07-09 00:08] stephanosio commented on #26725
@jfischer-phytec-iot Yes, that works for the most part.

The only problem is that some platforms trigger the `USB_DC_RESUME` event multiple times when resuming and that may cause multiple transfer slots to be allocated for single endpoint. For instance, on `frdm_k64f`, I see `usb_cdc_acm: USB device resumed` happening twice after the device is resumed (cc @MaureenHelm). I suppose we call that a bu

[2020-07-09 00:39] stephanosio commented on #26737
https://github.com/stephanosio/zephyr-crosstool-ng/issues/70

[2020-07-09 00:59] stephanosio commented on #26648
I wonder if it would make more sense to integrate them into a new "compression" subsystem with common API for using different compression algorithms; after all, most compression algorithm implementations are usually just one or two files, and they can be considered an integral part of the operating system in terms of IoT.

[2020-07-09 01:05] #26499 closed

[2020-07-09 01:06] stephanosio commented on #26740
It would be nice if you could submit a draft pull request (even if it is not in mergeable state/finalised) so that the reviews can be tracked more sanely.

[2020-07-09 01:29] andrewboie commented on #26740
Hi, there! Appreciate the contribution, I designed much of Zephyr's userspace feature and would like to review this. If the code is still WIP but you'd like early feedback, a draft pull request is probably appropriate.

tests/kernel/mem_protect/userspace is a good place to start for checking completeness. Eventually your implementation should eventually pass all tests in tests/kernel/mem_protect a

[2020-07-09 02:44] wentongwu commented on #26659
@claziss Thanks! And the mentioned algorithm `old register allocation algorithm` is dedicated for arc arch or it's generic for any platform? Thanks

[2020-07-09 05:03] petejohanson commented on #20987
I've just encountered this on a project I'm working on as well, my test hardware is nrf52840 based. I can confirm that replacing the `k_yield()` with the proposed `k_usleep(500L)` makes a huge difference in fixing this here.

[2020-07-09 07:06] parthitce commented on #26648
@stephanosio Does that mean to implement from scratch or copy the existing implementation into Zephyr? In the later case, can we copy BSD licensed code into Zephyr, AFAIK it's not possible?

[2020-07-09 07:43] timdesi commented on #26637
First of all thx. @MaureenHelm and @mbolivar-nordic for your answers.

I am trying to develop generic library/firmware that identifies/find sensors and their channels attached to board. Very similar to https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/sensor/sensor_shell.c. After that would collect telemetry data from sensor devices and send it to IoT cloud.

[2020-07-09 07:44] EdytaBosacka commented on #26732
Hello :)
So do i need set up this: BT_LE_ADV_OPT_SCANNABLE = BIT(9), ?
Because I have also found this function:
int bt_le_set_chan_map(uint8_t chan_map[5]);
/** @brief Helper for parsing advertising (or EIR or OOB) data.
If I want just SCAN one bluetooth channel do i need use this function, set
up  BT_LE_ADV_OPT_SCANNABLE = BIT(9), (if yes, where should be this set up,
in plik .CONF ?) , or  shoul

[2020-07-09 08:25] wentongwu commented on #14307
@pabigot sorry I missed this information on slack, what's the usage case here? If nothing to do, CPU just do useless loop?

[2020-07-09 09:02] tejlmand commented on #23825
Exactly.
Inside a CMakeLists.txt file, there is little reason to use a relative path without saying from where.
CMake already offers both `${CMAKE_CURRENT_LIST_DIR}` and `${CMAKE_CURRENT_SOURCE_DIR}`.

Good question, and another question is, is this principle safe to use this in general.
It actually becomes a tricky question when starting to think a little deeper about it.

### CMakeLists.txt file

[2020-07-09 09:16] lindemer commented on #26740
Thanks for the replies. We'll continue to develop it over the coming weeks, but feedback on the work so far in [#26755](https://github.com/zephyrproject-rtos/zephyr/pull/26755) would be greatly appreciated! We're also planning to add support for LiteX VexRiscv in the near future.

[2020-07-09 09:21] #26626 closed

[2020-07-09 09:23] jfischer-phytec-iot commented on #26725
I change the patch to filter spurious resume events which **may** happen during device detection. I had not time to test on frdm_k64f but will do. Not all the drivers are aligned in the behavior.

We do that on suspend and disconnect events, https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/usb_device.c#L1017

That will be done, if necessary, at the line https://github.com/zephyr

[2020-07-09 09:27] #21801 closed

[2020-07-09 09:28] #24429 closed

[2020-07-09 09:29] #26627 closed

[2020-07-09 09:53] FRASTM commented on #22906
Testing the write speed on a SD card on nucleo F411 + SD card on SPI (through cishield)
With SPI clock improvement and PR https://github.com/zephyrproject-rtos/zephyr/pull/26757 :
`Performance Result - write time for 1024000 byte: 5511 ms  `
is below 7000ms

[2020-07-09 09:53] pabigot commented on #14307
The discussion is [here](https://zephyrproject.slack.com/archives/C18PLHN8H/p1594199161328500?thread_ts=1594198862.327000&cid=C18PLHN8H) and should be available for a couple days.

In this case it's because device power management is needed but the target doesn't support system power management.  The dependency is also a bug in the current implementation.

In the general case it's because device p

[2020-07-09 10:04] tejlmand opened #26758 "Missing documentation of report targets (ram/rom report, puncover)"
**Describe the bug**
In Zephyr build system there exists additional report targets, ram/rom report, puncover, pahole.

But to new Zephyr users, those targets are very hidden and not documented.
In order to discover those targets, one must look into:
https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/reports/CMakeLists.txt

We should document such targets, maybe under:
https://docs.zeph

[2020-07-09 10:13] pabigot commented on #26648
Based on existing practice I believe libraries of this type should be added as external modules via west via a PR for each such library.  I assume they'd have to be exposed as a CMake library to be used in Zephyr.  This is consistent with @carlescufi's comment above except I don't know anything about how module policy is being revised.

It may be that a generic compression abstraction API is usefu

[2020-07-09 10:15] Satkarni opened #26759 "Build error - Nothing found at GNUARMEMB_TOOLCHAIN_PATH"
I have just installed Zephyr and am trying to build hello world. I get the following error:
<pre><font color="#8AE234"><b>rp@jiodev</b></font>:<font color="#729FCF"><b>~/zephyrproject/zephyr</b></font>$ west build -p auto -b nucleo_f401re samples/basic/blinky
<font color="#8AE234">-- west build: generating a build system</font>
Including boilerplate (Zephyr base (cached)): /home/rp/zephyrproject/z

[2020-07-09 10:20] nashif opened #26760 "Improve caching configuration and move it to be cross architecture"
**Is your enhancement proposal related to a problem? Please describe.**

right now it is done per architecture (arc, x86) in inconsistent ways, we should look into moving the caching kconfig up and make them work for all architectures in a consistent way because we do now have an architecture interface for this that is public API.

**Describe the solution you'd like**

Move caching to the arch/ le

[2020-07-09 11:17] #26333 closed

[2020-07-09 11:21] galak opened #26764 "Build failure on intel_s1000_crb for samples/drivers/flash_shell/sample.drivers.flash.shell"
The following fails (shown in the daily overall build):

```./scripts/sanitycheck -p intel_s1000_crb -s samples/drivers/flash_shell/sample.drivers.flash.shell```

[2020-07-09 11:24] galak opened #26766 "Build failure on nucleo_wb55rg for tests/kernel/profiling/profiling_api/kernel.common.profiling"
The following fails (shown in the daily overall build):

```./scripts/sanitycheck -p nucleo_wb55rg -s tests/kernel/profiling/profiling_api/kernel.common.profiling```

[2020-07-09 11:28] galak commented on #26766
Also seeing some other similar cI failures that look like the same issue:

[code]

[2020-07-09 11:37] tejlmand commented on #26758
and now `pahole` is part of the list.

[2020-07-09 11:46] #24224 closed

[2020-07-09 12:16] nandra commented on #26607
OK this seems to do the trick. Can I create pull request with related changes to have PWM working on F0 nucleo? Thanks.

[2020-07-09 12:24] EdytaBosacka commented on #26732
@carlescufi
Hello :)
I dont really know what "separate controller" means.  i have 2 boards and i want to advertise on channel 37 on the first board, and receive  on this 37 channel by the second board.

So do i need set up this: BT_LE_ADV_OPT_SCANNABLE = BIT(9), ?
Because I have also found this function:
**int bt_le_set_chan_map(uint8_t chan_map[5]);****
/** @brief Helper for parsing advertising (

[2020-07-09 12:28] erwango commented on #26607
Sure, go ahead!

[2020-07-09 12:35] erwango commented on #26766
Should be fixed by https://github.com/zephyrproject-rtos/zephyr/pull/26660

[2020-07-09 12:59] tejlmand commented on #25153
https://github.com/zephyrproject-rtos/zephyr/pull/26715 created.

[2020-07-09 13:22] carlescufi commented on #26732
@EdytaBosacka what you want to do is not possible right now. You can subscribe to this issue for updates when we get to implementing it.

[2020-07-09 13:32] wojciiii opened #26769 ""west flash -r openocd --serial <serial_num>" ignores serial_num and flashes wrong board"
**Describe the bug**

I have two "nucleo_wb55rg" boards attached.

[code]
`# west flash -r openocd --serial 0670FF363931594E43053025`

flashes the board with serial 0670FF3837334D4E43065316.

**To Reproduce**
Steps to reproduce the behaviour:
1. Build a sample for nucleo_wb55rg board.
2. Attach two nucleo_wb55rg boards.
3. Try to flash both boards using openocd providing the --serial option - one

[2020-07-09 13:41] carlescufi commented on #26759
Are you using GNU Arm Embedded as downloaded from: https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm? `GNUARMEMB_TOOLCHAIN_PATH` is unlikely to work with other distributions of it.

[2020-07-09 13:43] carlescufi commented on #23139
Closing due to inactivity, Please reopen if it's still an issue.

[2020-07-09 13:43] #23139 closed

[2020-07-09 13:43] carlescufi commented on #21498
Closing due to inactivity, Please reopen if it's still an issue.

[2020-07-09 13:43] #21498 closed

[2020-07-09 13:44] carlescufi commented on #23215
Closing due to inactivity, Please reopen if it's still an issue.

[2020-07-09 13:44] #23215 closed

[2020-07-09 13:44] carlescufi commented on #23319
Closing due to inactivity, Please reopen if it's still an issue.

[2020-07-09 13:44] #23319 closed

[2020-07-09 13:44] carlescufi commented on #25283
Closing due to inactivity, Please reopen if it's still an issue.

[2020-07-09 13:44] #25283 closed

[2020-07-09 13:45] carlescufi commented on #25474
@Navin-Sankar is this still an issue or should we close it?

[2020-07-09 13:45] carlescufi commented on #25658
Closing due to inactivity, Please reopen if it's still an issue.

[2020-07-09 13:45] #25658 closed

[2020-07-09 14:22] armandciejak commented on #26330
Hello,

We are having a system, which uses the i.MXRT1062, in production and this problem makes or firmware upgrade process extremely slow (15 minutes instead of 30 seconds).

Is it possible to raise the priority of this issue?

Is there any workaround we can apply until this is properly fixed?

Thanks

[2020-07-09 14:42] wdhpawa commented on #26466
@carlescufi I'm afraid it doesn't look like we'll be able to prioritize this at our end due to an approaching deadline, so we're going to have to make do with the mentioned workaround for now. Our intention was just to create awareness of the problem, so maybe someone would have time to fix it eventually.

[2020-07-09 14:53] emob-nordic commented on #26275
I checked with Flash based app (internal flash, not the MX25R64) with LITTLEFS file system and the tests are passing. I am not sure what is going on here.
Patch applied before testing:
**Removed ./samples/subsys/usb/mass/boards/nrf52840dk_nrf52840.overlay**

[code]

There are tons of errors form mass storage class saying:
[code]

[2020-07-09 15:03] erwango commented on #26769
So we're generating:
[code]

I'm not sure if `set _ZEPHYR_BOARD_SERIAL 066DFF545057717867195937` is expected, but `hla_serial 066DFF545057717867195937` should work..
We should check how to get that.

[2020-07-09 15:14] EdytaBosacka commented on #26732
So to make it work should i extend (write) A function
Le_ext_adv_param_set for controller?
W dniu czwartek, 9 lipca 2020 Carles Cufí <notifications@github.com>
napisał(a):

--
Z wyrazami szacunku,
*Edyta Bosacka*

[2020-07-09 15:17] EdytaBosacka commented on #26732
@carlescufi  So to make it work should i extend (write) A function ? (I
would like to implement this funcionality by myself)
Le_ext_adv_param_set for controller?

W dniu czwartek, 9 lipca 2020 Carles Cufí <notifications@github.com>
napisał(a):

--
Z wyrazami szacunku,
*Edyta Bosacka*

[2020-07-09 15:26] nzmichaelh commented on #26330
Hi @armandciejak I saw some improvement by changing `NET_TCP_BUF_MAX_LEN` in tcp_internal.h and change to `(4*1280)`.  That way you'll receive 4x the data before the window is full and, if lucky, the host will hardly ever fill the whole window.

I also found that doing many small reads kept the window fresher.

Both of these are hacks and only statistically improve the throughput, but are worth a

[2020-07-09 15:35] #26766 closed

[2020-07-09 15:42] carlescufi opened #26774 "Make DT_DOXYGEN generic so it can be used for all headers"
When generating the API documentation with Doxygen, we need most (if not all) Kconfig option-generated macros to be enabled, in order for Doxygen to generate the doc for the full set of APIs. We are using the Doxygen `PREDEFINED` directive in our doxyfile for this, but it is incomplete at best.

Today we avoid conditionally compiling out functions and structures in header files (see #26773), but i

[2020-07-09 16:36] pabigot commented on #26708
Change was fast-tracked so this is done.

[2020-07-09 16:36] #26708 closed

[2020-07-09 17:35] Nephirus commented on #22704
Here is PR for NXP HAL, that builds relevant HAL driver when shim driver is enabled: https://github.com/zephyrproject-rtos/hal_nxp/pull/48

I also have a working shim driver for the watchdog, I'll create PR for that soon (after some clean-up).

[2020-07-09 17:43] MaureenHelm commented on #22704
Great, thank you!

[2020-07-09 18:03] #26764 closed

[2020-07-09 18:42] mbolivar-nordic commented on #26637
Thanks for the information.

Have you considered a devicetree-based approach where users can specify a phandle-array property containing references to all the devices they want your library to handle? That would be similar to how the sensor shell allows users to specify devices by name, except an arbitrary number of devices can be specified in a single property.

[2020-07-09 18:48] Nephirus commented on #22704
No problem :)

Promised PR for shim driver: https://github.com/zephyrproject-rtos/zephyr/pull/26779

`samples/drivers/watchdog` works on LPCXpresso55S69 board, but I'm not 100% sure about Kconfig related stuff.

[2020-07-09 19:41] dleach02 commented on #19670
@tbursztyka, @jfischer-phytec-iot, Do we want to remove this sample? I'm trying to help clean up low priority bugs for our next release.

[2020-07-09 20:04] dleach02 commented on #19670
Note that this sample relies on the spi-1 filter and that filter has virtually been removed (NXP boards have it but will likely get removed). I suspect that @jfischer-phytec-iot recommendation to remove the sample would be the best course unless someone wants to give this sample a work-over on a board that exists.

[2020-07-09 20:11] albertofloyd opened #26782 "boards: mchp: mec15xxevb_assy6853: Cannot set gpios as alternate function when enabling multiple instances of a driver"
**Describe the bug**
Mchp board pinmux uses device instance information to set corresponding pins
i.e.
#ifdef CONFIG_PS2_XEC_1
	/* Set muxing for PS21B*/
	pinmux_pin_set(portd, MCHP_GPIO_154, MCHP_GPIO_CTRL_MUX_F2 |
		       MCHP_GPIO_CTRL_BUFT_OPENDRAIN);

However, after removal for some drivers of KConfig multiple instances such as CONFIG_PWM_XEC_1, etc
This breaks pinmux functionality when sett

[2020-07-09 20:19] andrewboie commented on #26533
You cannot rely on this on real hardware, I strongly suggest you don't do this even if it might be redundant in a certain emulator.

[2020-07-09 20:46] #26685 closed

[2020-07-09 21:03] #25098 closed

[2020-07-09 22:16] Abhishek-brcm commented on #26533
I was able to figure out this issue to some extent.
I see that [dc zva, addr](https://sourceware.org/git/?p=newlib-cygwin.git;a=blob;f=newlib/libc/machine/aarch64/memset.S;h=103e3f8bb0f20a5d02578f2379620687eae10a52;hb=HEAD#l177) (data cache zero by address range) instruction is casing data abort.  I think this could possibly be because D-cache and MMU are not enabled yet.

[2020-07-10 02:06] IRISZZW opened #26788 "cmake build system works wrong with cmake version 3.15.5"
**Describe the bug**
When I update to the newest master branch of zephyr, the build system seems work wrong.
There must be some changes in build system these days, when I using an other branch which hundreds
commits behind the newest master branch, it works fine.

And When I update my cmake to version 3.17.3, and the problem fixed.

as zephyr project required `cmake_minimum_required(VERSION 3.13.1

[2020-07-10 02:43] cfriedt commented on #26720
Looks like this might depend on `CONFIG_MINIMAL_LIBC_MALLOC_ARENA_SIZE` and `CONFIG_MINIMAL_LIBC_CALLOC` for the minimal libc. I don't see a similar listing for newlib libc heap size.
@nandojve - if you add those configuration options (e.g. set arena size to 16384 and calloc to y) does it fix your issues?
If so, I would suggest that we add a dependency on those two in Kconfig for `CONFIG_DNS_RESOL

[2020-07-10 03:16] sandeepbrcm commented on #26533
yes you need `MMU` on with valid map before using `DC ZVA`

[2020-07-10 04:44] Satkarni commented on #26759
I am using the following cross compiler:
https://xpack.github.io/arm-none-eabi-gcc/
The xPack GNU Arm Embedded GCC is an alternate binary distribution that complements the official GNU Arm Embedded Toolchain maintained by Arm.

Will this work ?

[2020-07-10 05:03] Navin-Sankar commented on #25474
Still experimenting. I can't initiate the ble ipsp router up. Once the node device is paired with the central device, I issue the command **net iface**, it shows **Interface is down** in both device. Still I miss some net interface initialization in router side.

[2020-07-10 06:59] jfischer-phytec-iot commented on #19670
People are still trying to use it, see  #26642. I think the mood was that the sampe should stay. cc @nashif

[2020-07-10 07:04] jfischer-phytec-iot commented on #23474
Can not reproduce, close

[2020-07-10 07:04] #23474 closed

[2020-07-10 07:14] nordic-krch commented on #8393
any updates there? Just hit this issue again.

[2020-07-10 07:22] jukkar commented on #26585
For IPv6 there is `net_if_mcast_mon_register()` that can be used to register a function that will be called if a multicast address is added/removed to the network interface. That function should have IPv4 address support and then we could enhance the IPv4 support in the driver side. I am not convinced that we should have this implemented via `set_config()`.

[2020-07-10 07:27] jukkar commented on #26568
No, connecting an ethernet cable should not be needed. There is now some side effect when running the test in the stm32 boards. I am currently on vacation without proper hw so cannot pinpoint immediately what should be changed in the test.

[2020-07-10 08:30] anicare-tero opened #26793 "kernel: work: triggers immediately with longer timeouts"
**Describe the bug**
There seems to be a bug when using kernel works. With functions like `k_delayed_work_submit_to_queue()`, the work triggers immediately with longer timeout values.

I have tested it with a lot of different timeout values. A Nordic employee has debugged the issue more and his results are shown in the thread below.

See the thread on Nordic DevZone about the issue:
[https://devzo

[2020-07-10 08:47] vonhust opened #26794 "arc: smp: different sanitycheck results of ARC hsdk's 2 cores and 4 cores configuration"
**Describe the bug**
We ran the sanitycheck for ARC HSDK board, found the different results between HSDK's 2 cores configuration and 4 cores configuration.

2 cores configuration:  all tests under test/kernel are passed (68/68 %100)
4 cores configuration:   21 faiulres (47/68 %69.12)

when we re-run the failed test of 4 cores configuration, some failed tests are passed.

Here are some guessing abo

[2020-07-10 09:11] nordic-krch opened #26796 "Interrupts on Cortex-M do not work with CONFIG_MULTITHREADING=n"
**Describe the bug**
When `CONFIG_MULTITHREADING=n` then interrupts are initially disabled (see bug #8393) when they are enabled then usage fault happens immediately (seems that it happens during returning from interrupt).

**To Reproduce**
Steps to reproduce the behavior:
1. modify hello_world:
[code]

prj.conf:
[code]

2. buid and run. I used nrf52840dk_nrf52840 board
4. See error
[code]

**Expe

[2020-07-10 09:13] nordic-krch commented on #26796
Note that #26372 was probably failing because of that, too (apart from kernel API usage).

[2020-07-10 09:30] carlescufi commented on #26793
@anicare-tero I believe this is already fixed in master, but not in NCS yet.
Also might be related to https://github.com/zephyrproject-rtos/zephyr/issues/19075

[2020-07-10 09:37] carlescufi commented on #26265
Please send an email to the mailing list of contact us on Slack for code-related questions.

[2020-07-10 09:37] #26265 closed

[2020-07-10 09:37] #23949 closed

[2020-07-10 09:40] carlescufi commented on #23423
The actual Bluetooth-related issue has been fixed. This issue is too vague, since many threads wait with `K_FOREVER` and there's nothing the kernel can do to recover from that if no other threads or ISRs wake it up. Also, resetting a thread would not be enough, since in many subsystems there are also other dependencies to separate threads.
I suggest we use a watchdog for now, or let the applicatio

[2020-07-10 09:40] #23423 closed

[2020-07-10 09:46] #25783 closed

[2020-07-10 10:29] anicare-tero commented on #26793
@carlescufi Yes, you seem to be right. I will be waiting for the fix to be pushed to NCS. Thanks!

[2020-07-10 10:29] #26793 closed

[2020-07-10 10:52] pfalcon commented on #26720
Thoughts, @pfalcon ?

I'd suggest to not mix up CONFIG_DNS_RESOLVER and POSIX getaddrinfo(), whose implementation may malloc() something. I would need to look in more detail for more specific suggestions.

[2020-07-10 11:01] tejlmand commented on #26788
I noticed this:
[code]
which is the root cause for your error, and has been fixed here:
https://github.com/zephyrproject-rtos/zephyr/pull/26783

Please fetch latest master.

[2020-07-10 11:02] tejlmand commented on #26788
Closed as already fixed here: https://github.com/zephyrproject-rtos/zephyr/pull/26783

[2020-07-10 11:02] #26788 closed

[2020-07-10 11:04] carlescufi commented on #26278
Closing for now, please reopen if you see it again. Thanks!

[2020-07-10 11:04] #26278 closed

[2020-07-10 11:12] carlescufi commented on #21378
This is stale, and there's not enough information. Please reopen if still applicable.

[2020-07-10 11:12] #21378 closed

[2020-07-10 11:32] carlescufi commented on #24499
No, but I have added @mbolivar-nordic in the hope that he can give you feedback on it.

[2020-07-10 11:45] carlescufi opened #26799 "Introduce p99"
Proposal to introduce [p99](https://gitlab.inria.fr/gustedt/p99), a library for preprocessor functions, as a separate module in Zephyr or, alternatively, in the main tree given the criticality of the code it contains (i.e. it would be used by nearly every single subsystem in Zephyr).

Background:
#26299 tried to introduce a new implementation of the `IS_EMPTY` macro, but the one that was found was

[2020-07-10 12:01] agansari commented on #26585
@jukkar i've looked at the driver and adding the driver part is not difficult we have to re-purpose `net_if_mcast_cb` and remove ipv6 configuration, also re-purposing net_if_mcast_mon_register() is not difficult.
However I need to ask you don't we need to add some new ipv4 functions/events/handles that handle joining/leaving ethernet multicast groups? I.e. networking stack support.

[2020-07-10 12:12] pabigot commented on #26799
To clarify: the difference between 1 and 2 is whether `p99` is provided via a west module, or copied directly into Zephyr's master branch?

And if it is a module a question is whether it provides all of p99, or just the subdirectory with the headers we need?

Some thoughts:
* As I noted [here](https://github.com/zephyrproject-rtos/zephyr/issues/26648#issuecomment-656040269) I'm not in favor of cop

[2020-07-10 12:14] carlescufi commented on #26799
Correct

That is really option number 1, albeit a bit more detailed. I will try to make it clearer in the issue description.

[2020-07-10 12:39] erwango commented on #26769
So for some reason, the following command doesn't work:
[code]
But this one does:
[code]

[2020-07-10 13:25] erwango commented on #26769
Reading `--serial` helper: `selects FTDI instance by its serial number, defaults to empty`.
So it looks like `--serial` is specific to some probe manufacturer and this makes this option restricted to ARC devices.
For STM32, the above working command is advised.

@wojciiii can you have a test and close the point if satisfied?

[2020-07-10 13:27] nordic-krch opened #26801 "UART API has ifdefs around API functions"
**Describe the bug**
UART API has 2 optional, exclusive APIs: interrupt driven (`CONFIG_UART_INTERRUPT_DRIVEN` ) and later introduced asynchronous (`CONFIG_UART_ASYNC_API`). Both API's are ifdefed. That causes more ifdefs in the code which is using them.

It is also not consistent with other optional API's, e.g. `k_poll` in kernel.

**Expected behavior**
API, even if not implemented, should not be

[2020-07-10 14:00] jameswalmsley commented on #5443
I would strongly advise not to do this. E.g. our internal firmware build system relies on the fact that Zephyr uses real Kconfig.

So we integrate make, and cmake and kconfig that supports a lot of complex configuration. I'm sure there are other users who do this.

I agree the syntax isnt nice, but it has a logical rationale behind it.

Better to just document that more clearly.

[2020-07-10 14:30] kkiyota opened #26803 "Cortex-M7 Thumb-2 Instructions Alignment"
**Describe the bug**
Since I got a bus fault, I analyzed my code by Trace32 debugger.  It seemed that the bus fault occurred at the code like  "cmp r6,#0x40000" which is 32 bits instruction.  This one is allocated at address 0x622A where is not a word aligned.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=myownboard
3. ninja
4. run by trace32

**Expec

[2020-07-10 14:39] galak commented on #5443
@jameswalmsley I doubt anything is going to happen on this front as both Ulf and Sebastian are no longer active contributors.

[2020-07-10 14:39] carlescufi commented on #26801
Agreed, this is also being documented here:
https://github.com/zephyrproject-rtos/zephyr/pull/26773

[2020-07-10 14:39] galak commented on #5443
Closing this issue as we don't plan on making these changes.  Can re-open if someone feels like they need this and plan on working on it.

[2020-07-10 14:39] #5443 closed

[2020-07-10 15:10] wojciiii commented on #26769
Thank you. This works as expected and solves my current problem.

Perhaps this should be noted somewhere in the documentation. I was clearly mislead by reading the documentation since I assumed that --serial would be enough to identify the device that I wanted to flash. :)

[2020-07-10 15:10] johnsmithecon opened #26804 "Bluetooth mesh repeated provision/gatt bearer connection crash"
**Describe the bug**
A clear and concise description of what the bug is.
If I use nrf mesh provision app and I provision then reset then provision then reset and continue for about 5 times in a row, the node will become unable to get composition data and I notice that i can’t connect to it as proxy. The debug messages are below:

**To Reproduce**
Steps to reproduce the behavior:
See above

**Expec

[2020-07-10 15:11] #26769 closed

[2020-07-10 15:11] wojciiii commented on #26769
See my previous comment.

[2020-07-10 15:20] MaureenHelm commented on #17624
Is this still an issue?

[2020-07-10 15:35] ABOSTM opened #26805 "test: drivers: i2c: i2c_slave_api:"
**Describe the bug**
We introduced new board to our test bench: nucleo_f091rc
And we get status failed on test: tests/drivers/i2c/i2c_slave_api/

Looking at original commit introducing this test:
(sha1: 94d3156540d27392236044eebcb4c3a6e6065185)

First issue : specifically for nucleo_f091rc and also for stm32f072b_disco, virtual I2C is disabled
`CONFIG_I2C_VIRTUAL=n`
Thus Physical EEPROM should be

[2020-07-10 15:35] carlescufi commented on #26804
This looks familiar, and is probably unrelated to mesh. Which SHA are you using to reproduce this? We recently merged a PR that solved a similar problem (https://github.com/zephyrproject-rtos/zephyr/pull/25954), though this feels like it's a variant of it, not exactly the same symptoms.

[2020-07-10 15:50] pabigot commented on #8393
I've updated this to medium based on https://github.com/zephyrproject-rtos/zephyr/issues/8393#issuecomment-525359687 which appears to be immediately followed by changing it to low instead.  Personally, I'd call it high so it doesn't get overlooked as it has for the last two years.  (Apparently disabling threading is pretty unusual, but it should still work.)

[2020-07-10 16:17] johnsmithecon commented on #26804
I am using the newest code from master branch. How do I check what SHA I’m using?

[2020-07-10 16:33] carlescufi commented on #26732
You would need to extend the structure that it takes to include the channel set, and then pass it down to the controller.

[2020-07-10 17:25] mbolivar-nordic commented on #26799
Making this a module would make p99 the first "mandatory" module in all Zephyr configurations, since util.h provides core macros like `IS_ENABLED()`.

(I know things like vendor HALs are mandatory for driver shims around them, but that's not mandatory for all targets.)

Do we want to have such a thing? I obviously use west for everything, so I don't object from a personal perspective, but I would

[2020-07-10 17:54] sslupsky commented on #21233
@MaureenHelm PR 24050 has been rebased.

[2020-07-10 18:46] mbolivar-nordic commented on #24499
You can add dtc flags on a board-specific basis using pre_dt_board.cmake. See boards/arm/lpcxpresso54114/pre_dt_board.cmake for example. My guess is that adding `-Wno-spi_bus_bridge` to the dtc flags will silence the warning.

Perhaps we may need a way to do this on an SoC-wide basis, but I would like @galak to confirm that'd be a good idea in this case. It seems reasonable to me that the "Generic

[2020-07-10 18:51] mbolivar-nordic commented on #23825
I think this is a reasonable proposal.

[2020-07-10 19:13] Nukersson commented on #26174
The issue closed due to duplicate of #24767

[2020-07-10 19:13] #26174 closed

[2020-07-10 19:14] Nukersson commented on #24767
@lochej @erwango @ABOSTM

Dear all I've tested the interrupt approach (see comments in #26226) from @lochej on my `nucleo-h745zi-q` board. The branch itself is in [my repo](https://github.com/Nukersson/zephyr/tree/improved_stm32h7_eth_drv_supp) and is ready for @lochej to be integrated after the current PR is merged.

The performance were tested with following `ping` configuration on `1k ping pack

[2020-07-10 19:16] brooksprumo opened #26807 "Bluetooth HCI USB sample is not working"
**Describe the bug**
I'm trying to get the Bluetooth HCI USB sample working. I have Zephyr/NCS version v2.3.0-rc1-ncs1. I am running Ubuntu Linux in a VM on Windows 10. I am using an NRF 52840 DK board.

After building the sample and flashing the board, my Windows machine sees there's a new Bluetooth device, but something is wrong and Windows does not load the driver for it.

![Annotation 2020-07-

[2020-07-10 20:57] dleach02 commented on #20595
I'm not able to reproduce this. Both the hello world commented on by @pabigot and the actual test case. @chen-png can you confirm if this problem is still occurring for you?

[2020-07-10 20:59] dleach02 commented on #24960
Can we close this as "not supported" rev of the silicon?

[2020-07-10 21:28] carlescufi commented on #26807
This should not be a problem, and in fact I have used a very similar setup in the past with no issues.

At least with VMWare, you don't need Windows to recognize your device in order for the VM to be able to use it, since it redirects the whole USB device.
I don't think Windows supports single-mode, BLE-only controllers like Zephyr implements, so I am not surprised that Windows doesn't find driver

[2020-07-10 21:39] brooksprumo commented on #26807
I agree, sounds strange! Below are dumps from `lsusb --verbose` from Zephyr and Mynewt. They are long...

Also, I just saw the EDIT too. I'll go back and check if there's anything strange about my Zephyr VM. I'll try switching the USB to USB 3 and see if that changes anything. I'll reply back to let you know.

## Output from Zephyr

[code]

## Output from Mynewt

[code]

[2020-07-10 21:41] carlescufi commented on #26807
@brooksprumo can you edit your [message](https://github.com/zephyrproject-rtos/zephyr/issues/26807#issuecomment-656903647) and use the `-d vid:pid` option in `lsusb` like I posted in mine to restrict the dump to the device in question?

[2020-07-10 21:44] carlescufi commented on #26807
Hmm I think that Mynewt sets the following fields in the Device Descriptor:

[code]

whereas Zephyr leaves them at 0s:

[code]

[2020-07-10 21:56] brooksprumo commented on #26807
Done! Let me know if there's more info that would be helpful.

[2020-07-10 21:59] carlescufi commented on #26807
Does the mynewt controller actually work with Windows? if you try say searching for devices

[2020-07-10 22:14] brooksprumo commented on #26807
I do not know how to check 🤕

But, it does look like Windows has the same issue with the Mynewt firmware as it does with Zephyr. So, I opened a different VM, still with my board running the Zephyr firmware, and the Bluetooth device was present!

[code]

I was also able to successfully scan via `bluetoothctl`. So I think this means it's something about my VM. Sorry for the run-around on this. Thank

[2020-07-10 22:46] carlescufi commented on #26807
Ok, glad to hear it! I will close this then, feel free to reopen if applicable.

[2020-07-10 22:46] #26807 closed

[2020-07-10 22:47] jfischer-phytec-iot commented on #26807
"If this field is reset to zero, each interface
within a configuration specifies its own
class information and the various
interfaces operate independently." (USB2.0 spec)

"If the bDeviceClass field is reset to zero,
this field must also be reset to zero." (USB2.0 spec)

"If this field is reset to zero, the device
does not use class-specific protocols on a
device basis. However, it may use class-

[2020-07-11 00:47] vanti commented on #14307
A couple of requirements I can think of:

1. Driver APIs should be made power-friendly, so that the driver can internally tell the power management infrastructure whether a device is needed or not at runtime. One example is #23798, where the UART's poll-based APIs expect the UART to be on outside the scope of the functions. Given the UART driver does not have open/close APIs either, there isn't a

[2020-07-11 02:38] nandojve commented on #25600
Hi @loicpoulain , I would like check but I'm stuck again with #25010.
CC @ABOSTM

On Linux:
[code]
Than flash this new hello world
[code]

[code]

Are there fuse to unlock all flash without any restriction?

[2020-07-11 06:10] henrikbrixandersen opened #26812 "NXP: tests/drivers/dma/loop_transfer fails on FRDM-K64F"
**Describe the bug**

The `tests/drivers/dma/loop_transfer` test case fails on the NXP FRDM-K64F. Not all DMA RX buffers contain the DMA TX buffer string.

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/drivers/dma/loop_transfer; mkdir build; cd build
2. cmake -DBOARD=frdm_k64f
3. make flash
4. See the following output on the board console:

[code]
**Expected behavior**
All RX buffe

[2020-07-11 07:24] Delsian opened #26814 "net_ipv6_send_rs behaviour doesn't comply with RFC4291"
Current implementation of net_ipv6_send_rs() uses net_ipv6_addr_create_ll_allnodes_mcast() for creating RS packet. Next we send RS packet to all-nodes destination [FF02::1], but RFC42 requires all-routers destination for RS packet.

**Expected behavior**
RS packet should have [FF02::2] destination address

**Impact**
radvd daemon on host computer ignores packet to all-nodes, but responds to all-ro

[2020-07-11 07:31] Delsian commented on #26814
Created PR to fix this issue https://github.com/zephyrproject-rtos/zephyr/pull/26815

Now RS works fine:
https://snipboard.io/VRvbCN.jpg

[2020-07-11 10:56] #26717 closed

[2020-07-11 12:49] #23243 closed

[2020-07-11 16:53] nandojve commented on #26720
Hi @cfriedt - yes, it worked thanks for the tip.
However after eleven minutes start to got same erro using 16384 for arena.
`[00:11:18.243,000] <err> tagoio: Could not resolve dns, error: -10`
Probably is because not all paths after _z_zsock_getaddrinfo_internal_ free the resource.

I noted that MINIMAL_LIBC_MALLOC default is YES and MINIMAL_LIBC_MALLOC_ARENA_SIZE default is 0 so it will always fa

[2020-07-11 17:34] nandojve commented on #26720
May HEAP_MEM_POOL_SIZE be the right value for MINIMAL_LIBC_MALLOC_ARENA_SIZE?

[2020-07-11 18:55] lochej commented on #24767
Thanks for your feedback on my method :) Sure that will be a great addition to the ethernet driver for both performance et reliability. I will need a bit of time to PR my method due to vacations.

To complete your benchmarks:
I didn't notice packet losses when connecting to the board (Nucleo-H743ZI) directly or when passing through my router to connect to the board (with DHCPv4 functionality worki

[2020-07-11 20:26] sslupsky opened #26818 "drivers: uart_console.c: usb_enable() broken"
This commit 6da7e4159216faf835345480ca92b3c33e29d932 broke usb_enable().

usb_enable() takes a user_status_callback parameter.  This no longer works properly when uart_console_init() is called because this function now calls usb_enable() with a null pointer.  When the application calls usb_enable(), usb_enable() immediately returns because it has already been enabled.

[2020-07-11 20:29] sslupsky commented on #26818
@jfischer-phytec-iot I believe you made the commit.  You may have overlooked this issue?

[2020-07-11 20:40] aport opened #26819 "drivers: modem: SARA modem driver leaks sockets"
**Describe the bug**
When calling `close` on a socket, the ublox sara driver only issues the `+USOCL` command if the socket is UDP, or if it's TCP *and* connected.

I am porting existing POSIX software to Zephyr. This code calls `close()` on a socket descriptor if `connect()` fails. The result on Zephyr is that the sockets allocated internally by the module are never released. On Linux the file de

[2020-07-12 09:51] parthitce commented on #26651
@nandojve I missed the versioning when using `west sign` and it looks mandatory. Sorry for the noise. Closing this issue.

[2020-07-12 09:51] #26651 closed

[2020-07-12 11:17] drandreas commented on #25215
@tagunil Thank you for the notification.

I've tested your PR with the following driver-config:
[code]

This is exactly what I was hoping for. Nice work.

[2020-07-12 16:53] tetious opened #26826 "i2c_nrfx_twi_transfer hangs when SDA/SCL are set to pins 0,1"
**Describe the bug**
When using a custom board, `i2c_nrfx_twi_transfer` hangs when SDA/SCL are set to pins 0,1.
(seems like a few others too, but high pins, like the DK defaults of 26,27 do not hang)

The hang happens here, and it seems like the peripheral just never responds. (i.e. the interrupt that clears the lock never fires)
`k_sem_take(&(get_dev_data(dev)->completion_sync), K_FOREVER);`

I'v

[2020-07-12 16:53] Mani-Sadhasivam commented on #25956
@ngoma94 First you should not include the HAL header in app. This should really be done using the APIs provided by Zephyr. Can you please share what you found missing in current Zephyr API so that we can work together to add it if reasonable?

[2020-07-12 18:29] jasonedn commented on #24960
Yes, I think so

On Fri, Jul 10, 2020 at 2:00 PM David Leach <notifications@github.com>
wrote:

[2020-07-12 18:30] #24960 closed

[2020-07-13 02:42] zhaoyangyang12 commented on #26624
The following is the log I debugged on the virtual machine. After executing the discoverable on command, it can't be scanned by mobile phone or computer.Normal Bluetooth devices do the following operations, can work。

root@zyy-virtual-machine:~# lsusb
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 002 Device 004: ID 2fe3:000b  //usb device
Bus 002 Device 003: ID 0e0f:0002 VMwar

[2020-07-13 03:12] chen-png commented on #20595
yes, it still failed with latest commit 5c603d9ed.

[2020-07-13 03:47] clear-zhang commented on #26362
I found arc-linux-gdb has no this problem while arc-elf-gdb has. Seems it's caused by the different target option when gbd is built. Hope this can provide information for you

[2020-07-13 04:20] xicocana opened #26828 "Build Error - Network communication between Zephyr app on QEMU and Host OS"
I have a running application (main.c) on zephyr inside QEMU (using qemu_cortex_a53) and I am trying to implement a socket communication with a python app on the host OS (Ubuntu).

To enable user networking on QEMU I have added the following options to my app Kconfig file (prj_qemu_cortex_a53.conf) :

[code]

As explained here: https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/zephyr/guid

[2020-07-13 09:23] hasikp1 opened #26829 "GSM modem example on stm32f103 bluepill"
I am trying to use gsm_modem example with stm32 blue pill and SIM7000 modem. I have used following command to build using west.
`west build -b stm32_min_dev_blue samples/net/gsm_modem -p auto -- -DCONFIG_MODEM_GSM_APN=\"mobitel3g\" -DCONFIG_MODEM_GSM_UART_NAME=\"UART_3\"`

I got the following error

[code]

Is it possible to reduce the RAM and FLASH usage? If yes what is the command that I can use

[2020-07-13 09:49] maksimmasalski commented on #25101
@albertofloyd folder tests/drivers/gpio has 2 tests folders: gpio_api_1pin and gpio_basic_api
Which one you used?

[2020-07-13 09:52] songshan99 opened #26830 "Support FIFO mode in sensor drivers for sensors with internal FIFO such as lis2ds12, lis2dw12"
**Is your enhancement proposal related to a problem? Please describe.**

I'm using lis2ds12/lis2dw12 with nRF9160 DK. I add the sensor in overlay file in the device tree:

[code]
in the project configuration file, sensor configuration is:
[code]

In the code, register a trigger handler function, and read the x/y/z acceleration after every triggered event:
[code]
So the sensor_sample_fetch_chan() a

[2020-07-13 09:54] #26259 closed

[2020-07-13 10:17] joerchan commented on #26536
Related: https://github.com/zephyrproject-rtos/zephyr/pull/26447

[2020-07-13 10:31] joerchan commented on #23961
@johnsmithecon Please find out how to reproduce your issue and open a new bug-report if you can

[2020-07-13 10:39] joerchan commented on #26106
But there is an MTU per L2CAP channel. I think the best is to leave it as is, MTU - 3 would give the best throughput when the application wants to send large data. The  notify multiple seems to be best suited for many small notify values.

[2020-07-13 11:11] #26664 closed

[2020-07-13 12:01] hakehuang opened #26832 "[mcux_counter_rtc][frdm_k82f] counter_basic_api hangs"
**Describe the bug**
when enable CONFIG_COUNTER_MCUX_RTC=y in this application for counter_basic_api on frdm_k82f the applications hangs at  test_short_relative_alarm

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k82f  ..
3 make flash

**Expected behavior**
all supported feature test pass

**Impact**
RTC counter issue

**Logs and console output**

[2020-07-13 12:18] ruuddw commented on #26362
Thanks @clear-zhang, this helps (and would be a workaround for now). The tools team told me earlier this was a feature they added specifically for Linux core dumps, so maybe indeed a matter of setting the right flags when building - will check with them.

[2020-07-13 12:33] ioannisg commented on #20595
Yeap, still failing for me as well.

[2020-07-13 12:45] emob-nordic commented on #26391
Can we clsoe @wysman ?

[2020-07-13 12:53] de-nordic opened #26833 "RFC: subsys: fs: Support file open flags to fs and POSIX API"
## Introduction

The `fs_open` lacks support for flags that would allow to choose whether file is created when does not exist, only opened when exists, is opened for read or write, etc. This is proposal to add support for such flags and propagate this support to POSIX file API.
This issue has been created in response to: https://github.com/zephyrproject-rtos/zephyr/issues/16638

### Problem descri

[2020-07-13 13:51] Nukersson commented on #24767
Which project have you used to ping the board for the performance tests? I've used [dumb_http_server_mt](https://docs.zephyrproject.org/latest/samples/net/sockets/dumb_http_server_mt/README.html#socket-multithreaded-dumb-http-server) from Zephyr's examples pool.

[2020-07-13 13:57] lochej commented on #24767
I have used the simple Dumb HTTP

[2020-07-13 14:06] joerchan commented on #26438
It would do a new pairing+bonding procedure, and new keys would be distributed.

I cannot tell from the sniffer logs and debug logs what is the issue here.
The slave dissappears from the connection (in device_b wireshark log), and I cannot see why that happened.
Is it possible to get the disconnect reason from the peripheral side?

Does it always happen to the same device? Or is it the device that

[2020-07-13 14:10] cfriedt commented on #26720
@pfalcon - given the above, I'm hoping that this one-liner could fix it. I'm not convinced that `HEAP_MEM_POOL` is the right config option to use, but I could be wrong.

[code]

[2020-07-13 14:17] dleach02 commented on #20595
Dang, I hate not being able to reproduce... 👎

[2020-07-13 14:21] ioannisg commented on #20595
@dleach02 are you using CONFIG_NO_OPTIMIZATIONS=y?

[2020-07-13 14:41] carlescufi commented on #26828
@xicocana are you using upstream Zephyr or Nordic's fork?

[2020-07-13 14:47] maksimmasalski commented on #25148
As I understand that issue relates to an Input pin of the Microchip board.
1. It is possible to setup input pin in .overlay file using flag GPIO_ACTIVE_HIGH like this:
[code]
That setup will define that if pin receives HIGH signal, on logical level it will be 1 (as common).
2. Also possible to setup it in .c file like this. Some tests are using that configuration and others not:
`
rc = gpio_pin_co

[2020-07-13 14:57] wentongwu commented on #25918
patch has been merged to qemu master, 5.1 version of which will include them.

[2020-07-13 14:59] dleach02 commented on #20595
yes I did... I'll go through it again to verify I didn't fat finger something.

[2020-07-13 15:08] joerchan commented on #26200
@jaredwolff Using NCS 1.3.0 and two nrf52840 DKs.

`west build ../zephyr/tests/bluetooth/shell -- -DCONFIG_BT_LL_NRFXLIB=y -DCONFIG_BT_MAX_CONN=2 -DCONFIG_BT_AUTO_PHY_UPDATE=n`

Peripheral:
[code]

Central:
[code]

[2020-07-13 15:11] ngoma94 commented on #25956
@tejlmand
I tried to include it in my source file.

@Mani-Sadhasivam
It looks like the project module exposes the full functionality of the sx1276 chip, allowing its radio to be configured as either FSK or LoRA, and allowing the user to write to the chips internal registers. The driver API, on the other hand greatly restricts usability. The radio is configured and fixed to LoRa, and there is no av

[2020-07-13 15:14] xicocana commented on #26828
@carlescufi I didn't realize there was a difference. I believe I must be using Nordic's fork due to the fact that I followed this start up guide: https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/zephyr/getting_started/index.html

[2020-07-13 15:20] carlescufi commented on #26828
Nordic has no ICs with Cortex A53 cores, so using Nordic's fork combined with that core is not recommended. Please try the same using the standard getting started guide from zephyr:
https://docs.zephyrproject.org/latest/getting_started/index.html

[2020-07-13 15:22] carlescufi commented on #26804
@joerchan @trond-snekvik any ideas on this one?

[2020-07-13 15:24] xicocana commented on #26828
@carlescufi now that I see that guide I believe I used that one. Is there a way for me to detect which zephyr fork I'm currently using?

[2020-07-13 15:37] wentongwu commented on #14307
one requirement as https://github.com/zephyrproject-rtos/zephyr/issues/24230 stated, the framework shouldn't assume the device state transition happens only with irq locked, some devices need interrupt involved to do state sync.

[2020-07-13 15:42] wentongwu commented on #14307
Thanks, but it doesn't beyond the scope defined by #24228 where system-level pm will take care runtime-idle and device runtime pm(https://github.com/zephyrproject-rtos/zephyr/pull/26366) will control device power with claim/release.

[2020-07-13 15:45] pabigot commented on #14307
That doesn't make sense: You've specified a solution which doesn't satisfy my requirement.  What we have today in Zephyr allows runtime idle (`WFI` when the system idle thread is the only activity) without enabling system power management.  That configuration should continue to be supported.

[2020-07-13 16:00] shahab-vahedi commented on #26362
@clear-zhang thanks for all the detailed info. Indeed, `arc-linux-gdb` is able to parse those coredumps, because that was the foreseeable scenario:

1. A userspace program running inside GNU/Linux OS coredumps.
2. `arc-linux-gdb` must be able to parse it.

For now, please continue using `arc-linux-gdb`. If you run into any trouble, please do let me know.

Track the implementation of the feature is

[2020-07-13 16:05] xicocana commented on #26828
@carlescufi I tried with the standard zephyr but I have the same exact problem. Is there a way to run the net sample
[code]
with qemu_cortex_a53 ?

[2020-07-13 16:44] pabigot commented on #14307
I'm not going to try to do system engineering on the whole power management infrastructure, but I decided to give a shot to clarifying the dependencies associated with device power management.  A first draft is available [here](https://gist.github.com/pabigot/e4c93d4912d55b077124d65666535300#file-dependency-md), starting with three specific use cases and proceeding to a set of derived requirements

[2020-07-13 17:49] nashif commented on #26774
what guarantees that any other solution will not be as incomplete? The work of defining the options needed for doxygen is the same, whether you put it in PREDEFINED (where it belongs) or using some macros (where it does not belong).

[2020-07-13 17:55] albertofloyd commented on #25148
Test enhancement is not MCHP-specific, though the issue was found in MCHP board.

The enhancement is to update gpio test case so gpio initialization issues not taking effect can be caught.

Current oversimplified gpio test case sequence

1) Configure input gpio A
2) Register callback for gpio A and enable interrupt type T
3) Configure output gpio B  i.e. HIGH per dts overlay
4) Toggle N times gpio

[2020-07-13 18:35] jaredwolff commented on #26200
Ahh ok, looks like there are some differences in my config versus yours. It's very hard to tell what's necessary vs what's not. First I had set `CONFIG_BT_LL_NRFXLIB_VS_INCLUDE` and `CONFIG_BT_LL_NRFXLIB_DEFAULT` vs your `CONFIG_BT_LL_NRFXLIB`. Also I left `CONFIG_BT_AUTO_PHY_UPDATE` enabled which is maybe why things aren't working?

It still looks like we're running on a different build though. M

[2020-07-13 20:00] #26030 closed

[2020-07-13 20:06] MaureenHelm commented on #20589
Fixed by #26032 #26031 together. Thanks @karstenkoenig !

[2020-07-13 20:06] #20589 closed

[2020-07-13 22:07] andrewboie opened #26838 "coding style for linker scripts"
**Is your enhancement proposal related to a problem? Please describe.**
The indentation and overall coding style of our linker scripts is inconsistent and not formally documented anywhere.

**Describe the solution you'd like**
Some kind of documented coding style for linker scripts, with patches to correct all the existing ones, and lintian checks for future contributions.

[2020-07-14 00:41] #24770 closed

[2020-07-14 00:41] #24632 closed

[2020-07-14 00:41] #24372 closed

[2020-07-14 01:32] stephanosio commented on #26828
There is currently no networking support on `qemu_cortex_a53` (i.e. QEMU virt platform).

[2020-07-14 05:34] alexanderwachter commented on #21452
@pabigot I don‘t have any particular interest in this issue. It was a finding during a discussion. I‘m not sure if this issue is causing any problems, but it does not feel right if the drivers behave differently.

[2020-07-14 05:42] LeHack opened #26848 "kernel: undefined reference with --no-gc-sections"
**Describe the bug**
When building with `--no-gc-sections` option to ld, reference to `_sys_clock_tick_count` (libmetal) is undefined

**To Reproduce**
1. Add:
[code]
[code]
2. Build blinky:
[code]

**Expected behavior**
Sample builds.

**Impact**
Annoyance.

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu Linux 18.04 (4.15.0-108)
 - T

[2020-07-14 06:58] anangl commented on #26826
@tetious I assume that on your custom board you don't have the 32.768 kHz crystal (LFXO), which would be connected to pins 0/1. But maybe you've got the `CLOCK_CONTROL_NRF_K32SRC_XTAL` option enabled in your application configuration (it is so by default)? Try adding `CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y` in your application's `prj.conf` or your board's `*_defconfig` file.

[2020-07-14 07:01] hakehuang commented on #26812
@henrikbrixandersen this is a racing condtion which cause the dma access flash to tcm  which will cause error. and it is not happen always, but with high possibilities. so the solution is to change the test cases as below:
[code]

[2020-07-14 07:46] jfischer-phytec-iot commented on #26818
The commit 6da7e41 fixed a bug and described it in the commit message.
The design does not provide a way to manually initialize the USB stack when using the console.

[2020-07-14 07:46] #26818 closed

[2020-07-14 08:40] jsiverskog commented on #26438
unfortunately it's hard to get any logs out of it.

i did try another case now, which indicated that it's *not* on the zephyr side. instead of resetting the peripheral, i tried with a physically different peripheral, and it seems to work. i can't believe why i didn't try this earlier, but that is a sign something is not reset / handled correctly on the peripheral side.

i tried enabling it but it

[2020-07-14 08:54] joerchan commented on #26200
@jaredwolff I had omitted some of the output, I have updated to include everything. It looks like we are on the exact same setup.

The only thing I do differently than you is that i flash with `west flash --erase`. If that doesn't work then I'm out of ideas as to what is wrong.

It's not why it wouldn't work. but this option automatically switches over to 2M, which I guess is not what you want.

`

[2020-07-14 08:59] joerchan commented on #26438
@jsiverskog I would agree with you that this appears to be an issue on the peripheral. I cannot see that this has anything to do with the central/zephyr. Also no clue on what happened on the peripheral side.

I will close this issue since it is not a zephyr problem.

[2020-07-14 08:59] #26438 closed

[2020-07-14 09:54] kkiyota commented on #26803
I found the assembler directive, ".align 2" to make the word alignment.  Although the first Thumb-2 instruction, "cmp r6, #262144", was word aligned by addition NOP at 0x542e as shown below.   However, second one at 0x5436 was not word aligned.  Since I have 3 cases, gcc seems to generate 3 cmp instructions at switch statement.  As a result, I can't put other ".align 2".

![image](https://user-ima

[2020-07-14 10:46] pabigot commented on #14307
This was mentioned last week but I don't see it recorded anywhere, so:

* The power management solution shall include the ability to manually initiate all power state transitions.
* The power management solution shall include the ability to disable all automated transition of power states.

This covers an expectation from Nordic that an application have complete control of what power transitions o

[2020-07-14 11:14] koffes opened #26857 "High CPU load when running samples/subsys/usb/audio/headphones_microphone"
**Is your enhancement proposal related to a problem? Please describe.**
Running the mentioned sample on the nRF52840. Vanilla setup, no changes to config.

The CPU loads are:
Idle: 4 %
Playback 33 %
Paused playback: 33 %. Goes down to 26 % after a while
Play and record: 52 %

**Describe the solution you'd like**
Please try to enable DMA. This will likely reduce CPU load significantly.

@emob-nordi

[2020-07-14 11:46] tetious commented on #26826
@anangl Thanks for this suggestion! I did indeed have that set wrong, and while it didn't solve the problem, I'm sure it would have caused confusion later on. :)

While puttering around after fixing this, I discovered another point:
The hang only occurs with pins 0-3. While I didn't check ALL the pins, I tried many others and they error as expected. If I use pins 0-3 for either SDA or SCL, the han

[2020-07-14 11:50] anangl commented on #26826
@tetious Which SoC are you using?

[2020-07-14 11:54] tetious commented on #26826
I'm using the nRF52832.

[2020-07-14 11:55] tetious commented on #26826
More specifically, I'm using Raytac's MDBT42Q-512KV2 module.

[2020-07-14 12:09] joerchan commented on #26732
@EdytaBosacka Adding it for the advertiser would be easy, AE support is not needed, it can be added for both advertising APIs.
However setting scan channel map is not supported by HCI (host-controller interface specified by the Bluetooth core Specification).

[2020-07-14 12:51] dleach02 commented on #20595
Okay. I see the failure on arm_thread_swap. Debugging now

[2020-07-14 13:50] anangl commented on #26826
@tetious I tried with pins 0-3 on the nRF52DK and I saw correct I2C transactions. Obviously, in order to use pins 0 and 1 I had to cut SB1 and SB2 on the board (to disconnect the 32.768 kHz crystal), and solder SB3 and SB4 instead, plus set `CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y` in my configuration. For pins 2 and 3 no modifications were needed.
Therefore, I think there's rather something wrong in

[2020-07-14 14:12] pfalcon commented on #26720
@nandojve:

Can look at https://github.com/nandojve/zephyr/tree/topic/tagoio_http_post_json project.

Please try to provide: either a) (recommended) reproduction case within bounds of the main Zephyr tree (i.e., take an existing example/test, provide small patch which exposes the issue); or b) if that's not possible, minimal self-contained code which just shows the issue. Thanks.

[2020-07-14 14:33] pfalcon commented on #26720
@cfriedt:

My response remains the same - the issue identified (getaddrinfo() implementation calling calloc()) has nothing to do with CONFIG_DNS_RESOLVER (nowhere does subsys/net/lib/dns/* call malloc() or calloc()). Consequently, patching CONFIG_DNS_RESOLVER is not an acceptable solution.

Let's now think what could be:

1. One obvious solution is not to use dynamic allocation. But the usual susp

[2020-07-14 14:41] jaredwolff commented on #26200
Hmm I must be doing something silly. I'll give it one more full shot. Such a mystery! Thanks again @joerchan

[2020-07-14 14:50] tetious commented on #26826
@anangl I really appreciate all your efforts!

I have 4.7k pullups on both lines, and everything works fine with the Arduino core. As such, I think my hardware is at least partially working. :) Also, it was always high when I watched the lines on the scope.

However your clue about the pullup made me remember something I read in the code for how the Arduino is setting up the GPIOs before configuri

[2020-07-14 15:02] MarekPieta opened #26862 "Bluetooth: GATT: CCC is not properly stored"
**Describe the bug**
Zephyr Bluetooth peripheral may not store CCC in non-volatile memory in case of multiple CCC change (due to race condition).

**To Reproduce**
I replicated the problem using nrf_desktop peripheral connected to my Windows10 host (the host performs multiple CCC writes). That causes a race condition and triggers the issue.

`ccc_delayed_store` is called as `k_delayed_work` handle

[2020-07-14 15:28] joerchan commented on #26536
@jhedberg @carlescufi
Any opinions on what to do about this issue?

The L2CAP RX MTU is set from two different config variables depending on if BT_HCI_ACL_FLOW_CONTROL is enabled or not.
I would think removing this dependency and always using the BT_L2CAP_RX_MTU would be best. But that might result in config
issues in existing applications.

Definition of BT_L2CAP_RX_MTU has depends on BT_HCI_ACL_

[2020-07-14 15:56] MarekPieta commented on #26862
I tried moving `ccc_store->conn_list[i] = NULL;` above `bt_gatt_store_ccc`. It worked fine as hotfix (the issue was not replicated - the work was resubmitted). I may provide the fix as PR.

[2020-07-14 16:13] carlescufi commented on #26833
API meeting 14th July: no objections to the change, barring finishing  the review comments in the PR being addressed.

[2020-07-14 16:36] carlescufi commented on #22758
API meeting 14th July:

Instead of the suggestion [here](https://github.com/zephyrproject-rtos/zephyr/issues/22758#issuecomment-600159720), let's expose to the user the 3 possible alternatives that make sense when a system has both an RC and an external crystal:

1. no wait, likely running on RC
2. wait for sys clock available, running on unstable crystal
3. wait for sys clock stable, running on s

[2020-07-14 16:55] carlescufi commented on #21452
@jukka or @tbursztyka do you have interest in moving this forward, or should we close it?

[2020-07-14 17:39] maksimmasalski opened #26865 "Generic function for obtaining the privilege stack bounds for x86"
**Describe the bug**
`arch.priv_stack_start` is implemented only for ARM and ARC. Necessary to have a generic function for obtaining the privilege stack bounds for x86 too.
In other words, necessary to have an arch-neutral API for getting a pointer to the privilege mode stack, then there would not need to be any arch-specific code in this test case and it could be entirely cross-platform.

**To Re

[2020-07-14 19:15] andrewboie opened #26868 "qemu_x86_64 icount support with SMP"
**Describe the bug**
Enabling icount for qemu_x86_64 results in hangs / tests not passing. There has been some discussion about this in https://github.com/zephyrproject-rtos/zephyr/pull/26394

At this time, this is the only platform that doesn't have icount support, fixes for nios2 and arc are in-flight.

It's not clear yet if this is a Zephyr or QEMU issue.

**To Reproduce**
Enable CONFIG_QEMU_IC

[2020-07-14 23:29] pabigot commented on #14307
#13382 was merged with very  weak support.  The concerns raised in that PR should probably inform the planning of new power management capabilities.

[2020-07-15 00:18] stephanosio commented on #26803
All Thumb instructions (including the 32-bit Thumb-2 instructions) are to supposed be half-word (i.e. 2-byte) aligned.

The bus fault must be due to something else.

[2020-07-15 00:42] #24293 closed

[2020-07-15 00:42] #24191 closed

[2020-07-15 00:42] #24134 closed

[2020-07-15 00:42] #23886 closed

[2020-07-15 00:42] #23887 closed

[2020-07-15 00:42] #23873 closed

[2020-07-15 00:42] #23808 closed

[2020-07-15 03:27] wentongwu commented on #26868
It is round-robin way on a single vCPU thread, but there is some kind of granularity, TB or TB chains, for icount there is also soonest deadline.

enabled icount, this is the working modle for multi CPUs case, k_busy_wait is also common instructions, qemu doesn't insert any break/exit code for common instruction.

[2020-07-15 04:22] andrewboie commented on #13813
I am able to reproduce this issue.
https://github.com/andrewboie/zephyr/tree/mslab-threadsafe-issue
reproduces with the `qemu_x86_coverage` target.
This is on x86 but the error is we get a pagefault when we try to execute a NULL address:
[code]

I can confirm a few things:
- This situation is **very** timing sensitive.
- My branch reproduces 100% of the time on my system. It also failed in CI when

[2020-07-15 06:25] anangl commented on #26826
Nevertheless, I'm glad that it works for you as well. And I guess this issue can be closed?

[2020-07-15 08:07] joerchan commented on #26804
@johnsmithecon Can you check if https://github.com/zephyrproject-rtos/zephyr/pull/26872 fixes your issue?

[2020-07-15 08:09] niziak opened #26873 "WIFI_ESP: sockets left opened after unexpected reset of ESP"
**Describe the bug**
There are multiple scenario when cold start of ESP chip can occur (deep sleep modes, turn off to save energy, spurious resets).
Reset is detected by driver, but UDP sockets are still kept in connected state (so `AT+CIPSTART=` is not sent)

**Expected behavior**
All sockets should be closed upon reset.

**Impact**
DNS resolver works only during first "session". After powering E

[2020-07-15 08:29] kkiyota commented on #26803
My CPU is ARMv7-M (Coretex-M7).  According to ARM document, some unaligned instructions seem to be supported, but my case is cmp.w.  I guess it may be out of support.

![image](https://user-images.githubusercontent.com/59073069/87522474-a1df2e00-c6c0-11ea-8002-d8966ed78881.png)

[2020-07-15 08:43] stephanosio commented on #26803
The portion you quoted above only apply to the data accesses. See the section right below that:
![image](https://user-images.githubusercontent.com/11345418/87524074-b15f7680-c6c2-11ea-9fc5-834fc7bebe2e.png)

[2020-07-15 08:56] ioannisg commented on #26803
@stephanosio you mean, they are _required_ to be half-word aligned?

[2020-07-15 08:57] ioannisg commented on #26803
@kkiyota could you post some more information on the fault you're getting, as @stephanosio suggested above?

[2020-07-15 09:08] lsangild opened #26874 "STM32: Multiple ADCs using same interrupt not possible"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
Some STM32 chips have multiple ADCs. At the moment e.g. the STM32F407 ADC1 is the only available one out of three.

**Describe why you are asking for this support?**
On some of the larger chips (e.g. LFPQ144) the ADC3 has dedicated inputs I would like to use.

**If this is a n

[2020-07-15 09:23] niziak commented on #26873
See my fix proposal: https://github.com/niziak/zephyr/tree/esp_close_sockets_on_reset

[2020-07-15 09:34] kkiyota commented on #26803
@stephanosio @ioannisg Sure I will do it later.  Unfortunately, I ca't access to my system due to a network problem.

[2020-07-15 10:14] #26782 closed

[2020-07-15 11:03] nzmichaelh commented on #23672
@stephanosio out of interest, what does a proper DT based pinmux setup look like?

[2020-07-15 11:06] nzmichaelh commented on #23282
+1 to leaving it to the product developer to decide, and +1 to supporting devices that can turn on the WDT at boot via fuses (aka don't disable the WDT at startup)

[2020-07-15 11:27] #26814 closed

[2020-07-15 11:59] joerchan commented on #26862
Based on the bug-report a workaround would be to disable `CONFIG_BT_SETTINGS_CCC_STORE_ON_WRITE`.

[2020-07-15 12:11] nandojve commented on #23282
CC @hwilmers

[2020-07-15 13:12] #26466 closed

[2020-07-15 14:04] joerchan commented on #26536
@andung07 Don't you get something like
[code]

[2020-07-15 14:17] armandciejak commented on #26330
Hi @nzmichaelh, I've tried increasing `NET_TCP_BUF_MAX_LEN` to 4096 and that helps a bit but not with all OS (Windows 10 being the worst).

Here is what I observed:
1. Server (Zephyr application) advertise a window size of 4096
1. Client (Chrome browser on Win10) sends 7 segment of 536 bytes
1. Server advertise a window size of 344 bytes (in the ack packet for the last segment)
1. Client stops sen

[2020-07-15 14:25] armandciejak commented on #26330
@jukkar @ozhuraki do you know if it is possible to trigger sending a window update packet from the server in order to unblock the client?

*Note: I hacked the TCP stack to send a window update packet when the application (web server) consumes data and that effectively unblocks the client. This hack was done to observe the behavior of the client, everything was hard-coded therefore it is not worth

[2020-07-15 14:39] nzmichaelh commented on #26330
@armandciejak wow, that's pretty unusable.  Linux sends a a probe after ~0.5s so it's a bit better.

[2020-07-15 15:01] mniestroj commented on #26873
What I see is that net_context is allocated once in DNS implementation in `subsys/net/lib/dns/resolve.c` in `dns_resolve_init()`. `net_context_put()` is never called (when using fixed list of DNS servers), which is why `esp_offload->put()` is never called as well.

So first question is: is DNS resolve implementation correct? Maybe we should change the code to allocate (`net_context_get()` and deal