[2019-05-02 11:47] maxxlife opened #15814 "[Coverity CID :186196]Unchecked return value in samples/sensor/lsm6dsl/src/main.c"
Unchecked return value in File:  samples/sensor/lsm6dsl/src/main.c
Category: Error handling issues
Function: sensor_trigger_set
Component: Samples
CID: 186196
Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-02 11:47] maxxlife commented on #15814
Fixed by #15743

[2019-05-02 12:19] tsvehagen opened #15817 "nrf52: HFXO is not turned off as expected"
**Describe the bug**
I want to enter a system on sleep mode to minimize power usage. When running, Bluetooth mesh is being used but before going to sleep with k_cpu_idle, I suspend or reset it with bt_mesh_reset or bt_mesh_suspend. The problem is that HFXO is still in use and so a low power state is not really possible.

When CONFIG_BT_CTLR_XTAL_ADVANCED=n, the HFXO is turned off as expected. m16s

[2019-05-02 12:21] jhedberg commented on #15817
The description doesn't mention any specific sample, but I suppose `tests/bluetooth/mesh_shell` might be most convenient using the following shell commands (didn't try myself but it should cause the same APIs to be called):
[code]

[2019-05-02 12:47] lgl88911 opened #15820 "mcumgr: taskstat show name & used size"
**Is your enhancement proposal related to a problem? Please describe.**
Now mcumgr taskstat show prio to task name & can't show used stack size

**Describe the solution you'd like**
mcumgr taskstat show task name & used stack size

[2019-05-02 13:15] carlescufi commented on #15748
Closing as this is a known issue that has been reported several times

[2019-05-02 13:15] #15748 closed

[2019-05-02 13:25] galak opened #15823 "Build failure for spi_loopback on atsamr21_xpro"
https://app.shippable.com/github/zephyrproject-rtos/ci-test/runs/2909/3/tests

[code]

[2019-05-02 13:27] galak commented on #15823
@benpicco

[2019-05-02 13:29] benpicco commented on #15823
That's because https://github.com/zephyrproject-rtos/zephyr/pull/15023 was merged but https://github.com/zephyrproject-rtos/zephyr/pull/14861 was not.

[2019-05-02 13:35] Sizurka commented on #15823
This appears to because #15023 was merged without its dependency (#14861).  I have no clue why it didn't trip CI initially, however (maybe it didn't reload Kconfig for some reason?).

Basically #15023 added async SPI, but also added `select DMA if SPI_ASYNC` to SAM0 SPI, and without the actual DMA driver from #14861 there's no SAM0 DMA driver.

[2019-05-02 13:35] galak commented on #15823
Thanks, just reviewed #14861.

[2019-05-02 13:48] MaureenHelm commented on #15814
If you put this link in the PR instead, the issue will automatically close when the PR gets merged. See https://help.github.com/en/articles/closing-issues-using-keywords

[2019-05-02 13:59] maxxlife commented on #15814
Ok, I did it:)

[2019-05-02 14:42] xiongyu0523 commented on #15748
Indeed, everything is fine after adding to PATH. The debug message does not provide clear information for this error. Better to document it in 'J-Link Debug Host Tools' seciton of documents.  Thank you

[2019-05-02 14:48] jli157 commented on #15759
I have a function
[code]
which is called by a high-level writing function to check if the other peer is ready. If the peer is not ready, the writing operation will be ignored.

If the function returns zero, a printk("DTR\n") will be called. Otherwise, how many written bytes will be printed out.

The upper level writing function will be called by a sensor data collection thread every like 20ms, to

[2019-05-02 15:01] jli157 commented on #15759
hmm, it seems Modem manager is running on my host computer. It could be culprit of the issue. I'll give it another try today by disabling modem manager firstly.

[code]

[2019-05-02 15:38] #15762 closed

[2019-05-02 15:38] #15764 closed

[2019-05-02 15:38] #15766 closed

[2019-05-02 15:56] ioannisg opened #15827 "ARM: Update ARM CMSIS to latest version"
As part of the next Zephyr release, we should update the ARM CMSIS headers to version 5.5.1 (latest).

[2019-05-02 17:30] andrewboie opened #15831 "qemu_x86 DTS does not reflect actual emulated hardware layout"
The QEMU x86 emulator has 8MB reserved on its command line.
In our QEMU DTS, this was cut in half; the first 4MB (minus the zero page) was reserved for a simulated XIP ROM area. The second 4MB is read-write system RAM.

When the flash simulator driver was introduced, the ROM area was reduced to 1MB. This breaks a bunch of tests when CONFIG_COVERAGE=y as they require more than 1MB.

We should not h

[2019-05-02 18:38] andrewboie commented on #15831
Is there a way we can get this flash simulator driver to operate on the actual RAM area in the emulator devoted to it?

In other words, can we get rid of the "static u8_t mock_flash[FLASH_SIZE]" and instead have the driver directly operate on CONFIG_FLASH_SIMULATOR_BASE_ADDRESS? We'll need test code not to blow away actual text/ROM, and adjust the MMU permissions of course.

[2019-05-02 19:51] andrewboie opened #15835 ""#if XIP" block in qemu_x86 DTS always evaluates to false"
The intent here seems to be to properly set memory if CONFIG_XIP=y, but the qemu_x86 target does enable CONFIG_XIP, yet the amount of SRAM gets set to 8188K anyway.

Causes hard to debug runtime hangs if the amount of RAM used exceeds 4096, instead of failing at build time.

[2019-05-02 20:03] jli157 commented on #15759
@finikorg Okay, after disabling Modem Manger, I didn't see DTR becomes 1 now. So, it is Modem Manager which set DTR=1 for a while, I believe.

[2019-05-02 22:21] jli157 commented on #15759
It turns out the modem manager on the host opened the port for a while and made it inconsistent. So, it is not an issue from the usb stack.

[2019-05-02 22:21] #15759 closed

[2019-05-03 00:20] galak commented on #15835
Not sure how this snuck in, but we don't allow use of CONFIG_ ifdef's in dts anymore.

[2019-05-03 00:23] galak commented on #15823
Resolved with merge of #14861

[2019-05-03 00:23] #15823 closed

[2019-05-03 02:50] KwonTae-young opened #15841 "Support AT86RF233"
**Is your feature request related to a problem? Please describe.**
I'm trying to use [AT86RF233](https://www.microchip.com/wwwproducts/en/AT86RF233) for wireless communication.
My first goal is a 2.4GHz RF wireless keyboard.
SAM R21 was supported in #13494, but currently [AT86RF233](https://www.microchip.com/wwwproducts/en/AT86RF233) support is missing.

**Describe the solution you'd like**
I want

[2019-05-03 03:47] hwagner66 commented on #15171
Hi Vinayak,
Yes I can report some progress.  When we last spoke, we changed the slot timing in bluetooth/controller/ll_sw from 328 to a value more appropriate for an MTU of 251.  That by itself gave unexpected results.  I searched the ctrl.c file for other instances of 328 (there are 4 total) and changed all of them to a more appropriate value.  I used a value of 1048 calculated from an MTU of 251

[2019-05-03 05:10] nashif commented on #15835
This is not a CONFIG_* and it was there for almost 2 years, without any effect basically. We do not define XIP anywhere AFAIK

[code]

[2019-05-03 05:23] nashif commented on #15793
@ruuddw thanks for confirming, I suspected it was that issue.
@vonhust any hints on flashing to ICCM? What is the method of getting the binary into the flash?

[2019-05-03 06:27] tbursztyka commented on #15841
Do you know the protocol used by the keyboard?
Zephyr provides support for IEEE 802.15.4 + 6LoWPAN, but nothing for Zigbee (which is kind of proprietary I believe. Correct me if I am wrong).

Since it is an Atmel chip, ASF should provide support for it. It would require to import the necessary bits from ASF into ext/hal/atmel/asf.

If and only if you are interested in 802.15.4:
It is "just" a matt

[2019-05-03 06:42] jli157 opened #15842 "cdc_acm: stm32: uart_fifo_fill() can't transmit data out"
**Describe the bug**
A clear and concise description of what the bug is.
Running the sample `samples/subsys/usb/cdc_acm` on the board `nucleo_f429zi` to receive data written by a host program and echo back the received data to the host. However, Echo doesn't work. The board can only receive data but can't send data out.

**To Reproduce**
Steps to reproduce the behavior:
[code]
Connect the board's

[2019-05-03 06:44] jli157 commented on #15842
## Test script attached here:

[test_uart.py.txt](https://github.com/zephyrproject-rtos/zephyr/files/3140850/test_uart.py.txt)

[2019-05-03 06:45] jli157 commented on #15842
@finikorg Please help to check this issue. It is really a blocking issue for my project.

[2019-05-03 06:47] jli157 commented on #15842
Tried with a terminal on the host side, and got the same result.

[2019-05-03 06:53] KwonTae-young commented on #15841
@tbursztyka

I want to wirelessly receive the data and output it to the `HID keyboard`.
I have tried HID keyboard.

<br/>

Later, I'm trying to reference the ASF.
But I am still immature at the use of Atmel.:sweat_smile:
<br/>

I have not planned to use IEEE 802.15.4 yet.
In some cases, you can send a string, but IEEE 802.15.4 has a slower bit rate (250kbps).

I'm sorry I do not have enough Englis

[2019-05-03 07:00] jli157 commented on #15842
@finikorg Verified the same sample app on `zephyr-v1.14.0`. Everything works well.

[code]

[2019-05-03 07:16] jukkar opened #15844 "Network management API should support user space"
The net_mgmt API should be usable from user space application as it might want to listen to events that the network stack is sending.

[2019-05-03 07:37] finikorg commented on #15842
Does PR #15755 fixes the issue?

[2019-05-03 07:45] dewalddebruyn opened #15845 "_RESET_VECTOR different from 0x00 gives invalid .elf size on nios2"
**Describe the bug**
When configuring the NIOS-II processor to only use on chip memory for code and data, the reset vector is typically at the start of the on chip memory, and the exception vector is typically reset vector + 0x20. When soc/nios2/nios2f-zephyr/include/system.h is updated so that ALT_CPU_RESET_ADDR != 0, linking fails because the .text size gets larger by this offset for some reason

[2019-05-03 07:59] lemrey commented on #15831
Hi @andrewboie the driver wasn't meant, at least initially, to run on emulated targets only, so it needed an actual RAM buffer. I suppose that could be changed like you suggested if we don't need to run it on actual hardware.

[2019-05-03 08:07] jli157 commented on #15842
Yes, TX works after applying this patch. Thank you!

[2019-05-03 08:18] aescolar commented on #15709
@nashif
Would it make sense for an admin to raise this to GitHub support?
(Given that there does not seem to be anything obviously wrong with the CODEOWNERS file itself)

[2019-05-03 09:42] tbursztyka commented on #15844
We have a problem here: net_mgmt was designed for tiny non-mmu based system so it's using callbacks for events.

We might have to rethink its design or at least the way it throws events to user space.

[2019-05-03 10:20] #15817 closed

[2019-05-03 12:47] nashif opened #15854 "Footprint Enhancements"
Identify footprint (ram/rom) enhancement opportunities:

- [x] Create a reliable footprint tracking benchmark [#15855]
- [x] Document how to reduce footprint and list all options and optional features that can be disabled to win more ram/rom

[2019-05-03 12:47] carlescufi commented on #1350
@marc-hb yes, it probably would since we'd be able to retrieve the build type from that structure that the PR adds. Thinking of picking up that PR?

[2019-05-03 12:50] nashif opened #15855 "Create a reliable footprint tracking benchmark"
**Is your enhancement proposal related to a problem? Please describe.**
The footprint benchmark we use to have was removed because it was not reliable and focused only on basic and core kernel objects. We need a more reliable and more inclusive test to measure and track footprint changes of core os and major subsystems in Zephyr.

**Describe the solution you'd like**

A test/benchmark that runs re

[2019-05-03 13:07] carlescufi commented on #1333
@marc-hb thanks for the comment. The issue here is that this is part of a specification that allows a user to retrieve those values (including build number) from a controller. This is in common code, so my objective is to be able to provide a generic build number by default when compiling a zephyr-based application, without the user having to override `version.h`. If we do not intend to support th

[2019-05-03 13:13] carlescufi commented on #1350
@marc-hb in particular I wanted to use this to include this info in the string that is returned by a zephyr-based Bluetooth controller using the following Vendor-Specific command:

https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/reference/bluetooth/hci.txt#L499

Which is current implemented as:

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/hci/h

[2019-05-03 13:14] carlescufi commented on #15751
@lemrey @mbolivar can you take a look since @nvlsianpu is currently on holiday?

[2019-05-03 13:29] jukkar commented on #15844
Yes, the callback system will not work very well with user space. We could for example place fifo between kernel and user space and transfer the event information via it.

[2019-05-03 14:58] andrewboie commented on #15831
That makes no sense to me, since the driver requires that the device have much more RAM and ROM since you decided to make the characteristics of the fake flash come from DTS...in the real world typically the reverse is true

[2019-05-03 15:01] andrewboie opened #15864 "disk partitioning should not specified in DTS"
flash partitioning is a software construction. it doesn't have anything to do with the physical hardware (although it depends on the size of that hardware). why is the flash layout  expressed in DTS and not in code or somewhere else?

please find some other way to specify software constructions like flash partitions. DTS should be used to specify immutable hardware characteristics only

[2019-05-03 15:14] galak commented on #15864
There are some software constructs that are described in DTS, and the reason to have the flash partition in DTS is it provides a portable way to describe this information across different software projects.

[2019-05-03 15:32] nashif commented on #15709
looks like the issues start with 9e8ad2dfe77565a00ade186b157134397b50dd4c, need to double confirm, but I see no issue with the change itself, weird.

[2019-05-03 15:33] nashif commented on #4375
https://github.com/beaugunderson/codeowners does the job.

[2019-05-03 15:33] #4375 closed

[2019-05-03 15:35] andrewboie commented on #15864
Where do you draw the line?
Why not get rid of Kconfig and put all of that in DTS as well?

[2019-05-03 16:01] galak commented on #15864
I think its reasonable to take it on a case by case basis.  If there truly is something that reasonable needs to be know between software components than its reasonable to see if DTS is a way to handle that.  DTS already had a partition definition and thus we used it.

[2019-05-03 16:08] andrewboie commented on #15864
I'm worried about scope creep, but I'll give in on this.

[2019-05-03 16:08] #15864 closed

[2019-05-03 16:19] andrewboie opened #15877 "all qemu_x86_64 tests hang on Ubuntu 18.04"
The last message, in all cases, is

    Booting from ROM..

My environment:

[code]

[2019-05-03 16:23] endian-benjamin commented on #15659
Set EXPORT_COMPILE_COMMANDS on. Or use 'bear' tool. Or strace.

[2019-05-03 16:24] andyross commented on #15877
@marc-hb and @ceolin have stumbled onto the same thing.  Seems to be due to changes in the host toolchain over the last few days.  Currently updated F28, F29 and Clear all seem to be producing valid binaries, which I can then copy over to my 18.04 environment and run successfully with the qemu (host and SDK) there.

[2019-05-03 16:30] andrewboie opened #15878 "tests/net/lib/mqtt_publisher/net.mqtt.tls fails to build on sam_e70_xplained"
[code]

[2019-05-03 16:36] andyross commented on #15877
Looks like a linkage issue.  Here's the 32 bit boot stub (see xuk-stub32.c) at the beginning of a working binary (this is from a xuk.elf unit test, not a Zephyr binary per se):

[code]

Basically it sets a stack pointer to one of two hard-configured stacks depending on whether this is a initial (multiboot) startup or an auxilliary SMP CPU, and then enters cstart().

Here's the same entry code for

[2019-05-03 16:40] marc-hb commented on #15877
BTW both gcc 7 and 8 are available on this distro:
[code]
Not sure about the linker implications though.

[2019-05-03 16:44] andyross commented on #15877
Heh, contents of the garbage:

[code]

Absolutely no idea what this is, but that string tells me 100% it was inserted by the toolchain and not Zephyr's build code. :)

[2019-05-03 16:58] endian-benjamin commented on #15710
Keyer fact: the Nordic drivers pm implementations are all utterly broken.

[2019-05-03 17:00] andrewboie opened #15881 "tests/net/buf fails on qemu_x86_64"
[code]

[2019-05-03 17:17] endian-benjamin commented on #14307
Any plans to follow this up with a workshop-like meeting or anything like that? I'd be very interested in participating. It seems like everyone has just temporarily given up on PM. Would be nice to reinvigorate the discussion.

[2019-05-03 17:31] andrewboie opened #15884 "tests/net/socket/getaddrinfo fails on mps2_an385"
[code]

Seems to be a problem with newlib heap configuration wrt user mode on systems with power of two alignment constraints, I'll look into this one.

[2019-05-03 17:56] jukkar commented on #15881
@jhedberg can you check this one? I looked this briefly but did not quite got why the test was failing.

[2019-05-03 18:01] andrewboie commented on #15881
It's quite plausible that this could ultimately be an x86_64 issue, in which case we should bring to @andyross 's attention

[2019-05-03 18:15] pfalcon commented on #15709
Well, it has commas in filenames.

[2019-05-03 18:20] andyross commented on #15877
Yeah, something is wonky on Ubuntu.  The toolchain (binutils, not gcc per se) is emitting stuff into the linked binaries that Just Shouldn't Be There.

The garbage bytes above are reported in the map file as the contents of the .interp, .gnu.version_d, .gnu.version, .gnu_version_r, .dynsym, .dynstr, .gnu_hash and .eh_frame sections.  But the linker script does not reference these seconds, and in f

[2019-05-03 18:25] karthikprabhu17 commented on #9944
@leodido99 : Can you tell us in which file did you make your modification?

[2019-05-03 19:16] marc-hb commented on #15877
@andyross have you tried downgrading binutils? In `/var/log/apt/history.log` on your system:
[code]

[2019-05-03 19:29] nashif commented on #15709
yep, I came to the same conclusion. The confusing part was that someone else added one more entry with commas which got me confused and was not able to get it to work by remove the entries from 9e8ad2d

[2019-05-03 19:41] marc-hb commented on #15877
Should be especially easy to downgrade considering Ubuntu websites' still point at the previous version:
https://packages.ubuntu.com/bionic/binutils

[2019-05-03 19:41] #15709 closed

[2019-05-03 20:40] andrewboie opened #15893 "code coverage is not tested in CI"
To enable code coverage, the special Kconfig option CONFIG_COVERAGE must be enabled.

I have found that many tests are failing when this is turned on. Most of this is due to stack overflows, but I have found a variety of issues. We need to stop this from bit-rotting, ensuring code coverage is vital for functional safety requirements.

I am going to introduce qemu_x86_coverage and mps2_an385_covera

[2019-05-03 20:46] andrewboie commented on #15844
The current expectation is that the application will register their callback functions, which will then use some sort of IPC mechanism to wake up a thread to do further processing. This is more or less an exercise for the end user, although there is a dearth of samples at the moment to show the best way to do this (this is being worked on in #14683 for 1.15)

It will probably be of some value to i

[2019-05-03 20:55] marc-hb commented on #15877
Wrong site, correction: https://packages.ubuntu.com/bionic-updates/binutils
So now we have a changelog: http://changelogs.ubuntu.com/changelogs/pool/main/b/binutils/binutils_2.30-21ubuntu1~18.04.1/changelog
... which looks like a no-op. The mystery deepens.

[2019-05-03 22:50] marc-hb commented on #15877
I found the (very slightly) older packages there:
https://launchpad.net/ubuntu/bionic/amd64/binutils-x86-64-linux-gnu/2.30-21ubuntu1~18.04/
I downgraded them all:
[code]
Yet I still get this:
[code]

[2019-05-03 23:03] ioannisg commented on #15115
Addressed by #15258

[2019-05-03 23:03] #15115 closed

[2019-05-03 23:38] marc-hb commented on #15877
Adding `-static` to the gcc linker invocation avoids the spurious sections and produces the same sections than on Fedora (which doesn't need -static). Works with both gcc-7 and gcc-8:

gcc-8 **-static** -m32 -ffreestanding -fno-pic -fno-asynchronous-unwind-tables -mno-sse -mno-red-zone -Wl,--build-id=none -nostdlib -nodefaultlibs -nostartfiles -T ../../arch/x86_64/core/xuk-stub32.ld ./q64/zephyr/a

[2019-05-03 23:42] andyross commented on #15877
Hilarious.  So... that sorta fits within the LTO theory.  Normally "-static" is just about library selection, and of course there are no libraries involved in this link (we don't even pull anything from libgcc).   But... yeah, maybe it's become a flag to the linker to disable some LTO generation that otherwise is assumed to be needed?

If nothing else, this is a cleaner workaround than mine.  You

[2019-05-03 23:57] marc-hb commented on #15877
Please do, considering my limited understanding I'd much rather you keep the git blame on all this. I just gave this hack a very quick sanitycheck and that passed. It may also burn your house down (but it didn't seem to break Fedora)
[code]

Any more advanced theory as to why Fedora doesn't need it? LTO off by default or something?

[2019-05-04 02:38] #15835 closed

[2019-05-04 03:49] captcha1 commented on #14790
I agree that the google_iot_mqtt doc could be better.

For example, regarding CONFIG_CLOUD_AUDIENCE , this web page : https://cloud.google.com/iot/docs/how-tos/credentials/jwts ... states :

aud ("Audience"): This must be a single string containing the cloud project ID where the device is registered

Also, under "requirements", the docs say "Google IOT Cloud credentials and required information" .

[2019-05-04 04:47] marc-hb commented on #15709
The feedback is "already in the right hands" : https://lists.zephyrproject.org/g/devel/message/5950 (2018-08-31)

[2019-05-04 07:32] marc-hb commented on #15877
I was focusing on the linker and didn't see these major gcc upgrades at the same time:

[code]

[2019-05-04 07:56] marc-hb commented on #15877
After stracing `ld` invocations and comparing various gcc versions I found the main difference between Ubuntu and Fedora in this particular context:
[code]
`gcc -no-pie` also works: it produces the exact same and working xuk-stub32.elf binary as `gcc -static`. So maybe -no-pie is preferable here as it causes less change in the linker invocation? More "future-proof"?

Now this still doesn't seem to

[2019-05-04 09:00] marc-hb commented on #1333
Understood, thx. Curious where such a build counter would be stored and when/how it would be reset: in the build directory or in the source tree? Would not count the same thing and interesting race condition in the latter case.

From a build reproducibility perspective, requesting to start from a totally pristine checkout (so: counter=0) is a very reasonable requirement.

[2019-05-04 10:15] loicpoulain commented on #15331
@AntoineZen do you reproduce the issue when relocating in ITCM?

[2019-05-04 10:34] aescolar commented on #15893
Related sidetrack: Ideally we would also collect and track coverage. I know the codecov solution was not optimal, and its results were confusion people sometimes, but it would be nice to have something like we did.

[2019-05-04 12:27] dmazzella commented on #15507
@finikorg @masz-nordic any progress on this issue?

[2019-05-04 13:46] pabigot opened #15903 "Documentation missing for SPI and ADC async operations"
None of the user-visible SPI or ADC operations that end in `_async` appear in the [generated documentation](https://docs.zephyrproject.org/latest/reference/peripherals/spi.html) although there are [references](https://docs.zephyrproject.org/latest/reference/peripherals/spi.html#_CPPv310spi_api_io) to their existence.

(Also: in the second link above documentation comment for `spi_api_io_async` err

[2019-05-04 15:12] pabigot opened #15904 "concerns with use of CONFIG_BT_MESH_RPL_STORE_TIMEOUT in examples"
[CONFIG_BT_MESH_RPL_STORE_TIMEOUT](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_BT_MESH_RPL_STORE_TIMEOUT.html) is used in multiple examples with values like 120 or 600, and its documentation suggests that this would reduce the frequency at which sequence numbers are persisted to flash.

In implementation, this option has an effect [only if it is strictly less](https://github.com

[2019-05-04 15:54] maxxlife opened #15906 "WEST ERROR: extension command build was improperly defined"
I'm trying to run west, but it seems that it is quite difficult to do.
I'm trying to repeat everythin what is written here https://docs.zephyrproject.org/latest/getting_started/index.html

That error I receive when I'm running that command `west build -b reel_board samples/hello_world`

#############################################################
`ZEPHYR_BASE=/home/maxxlife/zephyrproject/zephyr (

[2019-05-04 16:20] #15906 closed

[2019-05-04 16:20] maxxlife commented on #15906
Just I need to be more careful^_^

[2019-05-04 18:58] matthew-koch commented on #15591
Quick update.

Made progress on the driver, but have gotten stuck by not having a working memory controller for external SDRAM. Didn't quite realize how sparse support for STM32 was before diving into this, so I'm having to switch gears and work on getting enough memory to handle the framebuffer and sort out the current memory mapping (DTCM vs. SRAM).

[2019-05-04 22:28] #15878 closed

[2019-05-05 00:43] matthew-koch opened #15909 "stm32f7: DTCM included in sram0"
**Describe the bug**
The SRAM base address and sizes for the STM32F7 dts configs includes DTCM memory @ 0x20000000, but TCM is a different beast and probably shouldn't be lumped with in with SRAM.

**Expected behavior**
DTCM and ITCM require some special handling and have some special features. For the time being, use only SRAM1 and SRAM2.

A feature enhancement would be to enable ITCM and DTCM an

[2019-05-05 02:29] wentongwu commented on #15794
from log, it's the instruction located in 0x8656(in memset) caused the BUS fault. And it tries to access 0xaaaaaaaa, so there is bus fault. Haven't got the root cause, still checking it.

[2019-05-05 03:03] wentongwu commented on #15279
I review your code, why don't use SYS_MEM_POOL_DEFINE to do the initialize?

[2019-05-05 04:09] vonhust commented on #15793
@nashif  this issue is caused by ARC's openocd support as pointed out by Ruud.
I just used the openocd in ARC GNU toolchain to replace Zephyr SDK's openocd to debug.
If openocd can run,  the binray/elf file can be directly written into CCMs

@ruuddw @nashif ,  iotdk has the following flash
* internal eflash  (no detailed datasheet, but several simple register description)
* 2 MB spi flash connecte

[2019-05-05 08:25] wgy0831 commented on #15279
Because I don't want to involve too many codes such as mutex and other macros that is not about this bug. I think these codes do not change the wrong state.  I will appreciate it if you can help me to use SYS_MEM_POOL_DEFINE to do the initialize and show the result. ~~~///(^v^)\\\~~~

[2019-05-05 08:44] wgy0831 opened #15911 "Stack size is smaller than it should be"
[code]

The size of the allocated chunk is num_entries, so the correct top should be (void *)buffer + num_entries.  The top here is 'stack->base + num_entries', which is 4 times larger than the correct top since the stack->base is 'u32_t *' not 'void *'. It disable the top variable.

[2019-05-05 12:04] pabigot opened #15912 "add Reject as an option to pull request reviews"
Currently the only negative review option is "Request Changes".  Some PRs take a technical approach that is simply wrong and no changes less than a completely different solution would be acceptable.

#15545 is one of those.  So was #11880, which if it had been firmly rejected as a solution path, rather than leaving open the possibility it could be adjusted to an acceptable state, would have reduce

[2019-05-05 13:20] aescolar commented on #15912
@pabigot The Approve/Comment/"Request changes" review choices [are given by GitHub](https://help.github.com/en/articles/about-pull-request-reviews). It's not something this project can change.

Anyhow, you can always give a "Request changes" review explaining that it is indeed simply the wrong way, and no marginal change will be enough. Quite a few PRs have been closed after people disagreed on th

[2019-05-05 13:47] pabigot commented on #15912
@aescolar

Well, that's annoying.  OK then.

I'm really looking for ways of decreasing the amount of time a contributor is left hanging when reviewers don't reach consensus.  Even if there are several approving reviews, one "Changes Requested" can block progress.  The absence of oversight, though, is indeed hard to work around.

I'll leave this open in case somebody can suggest a viable process im

[2019-05-05 18:52] n3rd4i opened #15916 "[BLE] Mesh example qemu kernel panic"
**Describe the bug**
A clear and concise description of what the bug is.
- Bluetooth Mesh example creates kernel panic with QEMU and Host Bluetooth dongle.

What have you tried to diagnose or workaround this issue? Yes

**To Reproduce**
Steps to reproduce the behavior:
1. cp -r $ZEPHYR_BASE/samples/bluetooth/mesh/ .
2. west build -b qemu_x86 .
3. west build -t run
4. See error:
[code]

* meanwhile

[2019-05-05 20:01] acsplayon opened #15917 "USB disconnect/reconnect"
Hardware/Software
nrf52840 on Nordic PCA100056 DK
USB configured for either CDC-ECM or CDC_ACM

** Describe the bug **
Detaching the USB cable from the host and reattaching (not timing dependent) will not reinitialize/reenumerate the device correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. build the cdc_acm sample for your board
2. flash and run on hardware
3. verify that USB device

[2019-05-05 21:12] matthew-koch opened #15918 "stm32f7 GPIO Ports F & G Disabled by Default"
**Describe the bug**
All of the currently supported STM32F7 MCU parts in Zephyr have some support for GPIO ports F & G, but they are disabled by default.

**To Reproduce**
Configure a STM32F7 board that has a MCU with GPIO pins PFx or PGx (stm32f746g_disco, for example). User must issue make menuconfig and find the option to enable them, even though ports H, I, J and K are enabled by default. Any

[2019-05-06 02:13] summer20100514 commented on #15749
no updates?

[2019-05-06 05:20] jhedberg commented on #15916
Wouldn’t surprise me if this is a simple stack overflow. Could you try increasing the main thread, system work queue thread and Bluetooth RX thread stack sizes to see if the issue goes away?

[2019-05-06 07:08] jerryxiajie opened #15922 "BLE mesh:The Provisioner APP can't find the micro:bit which is running the mesh sample"
**Describe the bug**
I test samples/bluetooth/mesh with the Micro:bit and a nRF Mesh IOS APP.It seems that the micro:bit works well because the led matrix is blinking and the serial console shows the mesh node has been initialized. But the app can't discover any mesh node. I also tried the Silicon Labs BluetoothMesh APP but it still can't discover the micro:bit mesh node.

**To Reproduce**
Steps t

[2019-05-06 07:22] jhedberg commented on #15922
IIRC this app only has PB-ADV on the micro:bit (due to only 16k of RAM), whereas your provisioner app only supports PB-GATT. So that's the likely reason why it's not being discovered.

[2019-05-06 07:22] #15922 closed

[2019-05-06 07:23] jhedberg commented on #15922
One other note: there's a microbit_gatt.conf for this sample, however IIRC someone said the system footprint has grown too large to make it fit on the device. You might be able to fine-tune it though to make it fit.

[2019-05-06 07:52] dwildmark commented on #15612
Guys, closing this since I found out that bt_ctlr_set_public_addr() exists. At least for my use case, that is enough.

[2019-05-06 07:52] #15612 closed

[2019-05-06 07:58] PhilippFinke commented on #15751
Using the mcuboot master everything works now.

[2019-05-06 08:16] jhedberg opened #15924 "Bluetooth: PTS: GATT server tests fail after merge of #15524"
From latest auto-pts run:
[code]

These are most likely caused by #15524

@Vudentz suspects this is due to changed attribute handle values. Don't we communicate those using BTP so that them changing doesn't break things?

[2019-05-06 08:35] kapi-no commented on #15831
Just for clarification:

The configuration was initially placed in the simulator's Kconfig by @lemrey. Then, I moved it to DTS as suggested by reviewers in this thread: https://github.com/zephyrproject-rtos/zephyr/pull/8254#discussion_r239204669

To make it all fit, I reduced the ROM area to 1MB - the CI test has passed for this DT configuration and I wasn't aware of any additional tests that fail

[2019-05-06 08:48] SebastianBoe commented on #15749
add_custom_command(TARGET

must be used with a target, but a file has been specified.

What you would want to do to get a POST_BUILD command is to set the property

extra_post_build_commands

from before boilerplate.cmake.

The only problem being that you don't know what

 ${PYTHON_EXECUTABLE}
 ${APPLICATION_BINARY_DIR}
${ZEPHYR_RUNNER_CONFIG_KERNEL_HEX}

these evaluate to until after boilerplate.

[2019-05-06 08:49] #15749 closed

[2019-05-06 09:05] #14459 closed

[2019-05-06 09:14] #13799 closed

[2019-05-06 10:42] rlubos commented on #12942
@turon Yes, the scenario you describe should be fixed by #15685, which fixes the parent (router) side. #15552 on the other hand fixes the child part, allowing SEDs to be created with Zephyr.

[2019-05-06 10:59] #15751 closed

[2019-05-06 11:16] summer20100514 commented on #15749
problem solved, thank you! @SebastianBoe @carlescufi

[2019-05-06 13:49] rlubos commented on #14740
Do I understand correctly, that with the current approach we apply either local overlay config or the global one, with the location specified in OVERLAY_CONFIG_DIRS, not both?

I'm asking, because looking at various overlay files, it's quite common to see that they contain a common part and sample-specific tweaks. For instance, most of the `overlay-bt.conf` are almost identical, differentiating on

[2019-05-06 14:33] pfalcon commented on #15627
Thanks for prompt reply @SebastianBoe, and sorry that it took some time on my side to play well with it. And while initially (with my own examples) it seemed to work, a more detailed look and trying to convert existing tests showed that it actually doesn't.

As you say, there're a few users of "zephyr_interface_library_named" directive (there doesn't seem to be "zephyr_interface_library" directive

[2019-05-06 14:58] #12942 closed

[2019-05-06 15:27] tedd-an commented on #15924
I used git-bisect to narrow down and e0f3ab6b is the one that introduced the issue.

[2019-05-06 15:33] jhedberg commented on #15924
@tedd-an yes, that's the same as #15524 that I've suspected from the beginning. Thanks for confirming that we're focusing on the right thing!

[2019-05-06 16:03] andyross commented on #15279
Sorry, didn't look at your sample code until just now.  Confirmed, this is a real bug.  The root cause is that the "don't add overflowing blocks to the list" step is only done for top level blocks, not for subblocks, so the last block of four may overflow the first block of the next superblock.

[2019-05-06 16:49] andrewboie commented on #15831
The design of the flash simulator has a fundamental problem: it requires that the target platform have more RAM space than ROM space, because a buffer equal to the ROM size is allocated in the driver, in RAM. Not only that, but for its associated test case to pass, you need over twice as much RAM than ROM because the testcase itself also allocates a buffer equal in size to ROM.

This is not workab

[2019-05-06 16:54] andyross commented on #15877
Ah... that's the magic.  I love -no-pie because it's clearly correct per the docs.  We are not, in fact, generating a position independent executable.  So no need to call out a hack or workaround.  And nice work digging out the underlying ld command line -- the only real platform difference is that Ubuntu started (mid-LTS, sigh...) to link PIE by default, I guess?

But this remains a linker bug, I

[2019-05-06 18:03] jimparis opened #15941 "Stale 1.3.99 documentation under /latest"
There seem to be a bunch of stale documentation pages that report their version as "1.3.99" under /latest -- for example:

https://docs.zephyrproject.org/latest/api/io_interfaces.html
https://docs.zephyrproject.org/latest/api/device.html
https://docs.zephyrproject.org/latest/api/usb_api.html

I come across them occasionally through my own bookmarks and search engine results.  I would expect to at

[2019-05-06 18:18] jimparis commented on #15941
Not just stuff under /latest/api either: e.g. https://docs.zephyrproject.org/latest/getting_started/getting_started.html

[2019-05-06 19:08] matthew-koch opened #15944 "stm32: New Driver for FMC/FSMC"
**Is your feature request related to a problem? Please describe.**
The STM32 series isn't able to use on-board memory devices (NOR Flash, NAND, SRAM, and SDRAM).

**Describe the solution you'd like**
More memory.

New driver type, "memory-controller." It doesn't do much after startup, but needs to start early for possible data/bss.

A sample/test for memory.

* Create drivers/memory_controller/

*

[2019-05-06 19:17] dbkinder commented on #15941
Looks like the process to take the output of a doc build and copy to the AWS server is not cleaning out existing content (aren't we using rsync to the /latest folder)?

[2019-05-06 19:20] dbkinder commented on #15941
... and looks like the detritus has been cleaned out now... (thanks @nashif )

[2019-05-06 20:20] andrewboie commented on #15911
AFAICT the k_stack_init() code is correct. It's k_stack_alloc_init() that is wrong, the buffer being allocated is 4x too small.

[2019-05-06 23:00] #15842 closed

[2019-05-06 23:47] #15911 closed

[2019-05-06 23:48] #15877 closed

[2019-05-06 23:49] marc-hb commented on #1333
One reason I suggested the environment variable is because a "build number" is usually something coming from *outside* the build and provided by Jenkins, buildbot or shippable etc. So "build counter" seems like a more accurate description.

I had a closer look at the dynamic `BUILD_VERSION` and I found that it's mostly unrelated to the static/manual `KERNEL_VERSION_*`. So my suggestion was wrong:

[2019-05-06 23:49] marc-hb commented on #1350
No I don't have any need or time to resume the ELF PR #9188, sorry. This being said, I have a modest contribution: see my latest comment in PR #1333 and help review comments I'm adding in new PR #15950

[2019-05-07 05:06] #15924 closed

[2019-05-07 07:17] Laczen commented on #15912
@pabigot, I agree with your concerns, I stopped contributing to zephyr exactly because of this.

I have been thinking about possible improvements to the review process and I have come up with the following proposal:

Replace the code-owner idea with a code-sponsor: The code sponsor is assigned with the task of
getting a PR merged. When a new PR is submitted the code sponsor decides (possibly with

[2019-05-07 07:42] mnkp commented on #15611
Added to the issue description.

I'm not sure how they made it there. Removed.

I think we need to discuss drive strength, slew rate and debouncing configuration a bit more. In Linux DTS these are configured with a parameter.
- drive-strength takes as argument the target strength in mA.
- input-debounce takes the debounce time in usec as argument or 0 to disable debouncing
 - slew-rate takes as ar

[2019-05-07 09:44] jli157 opened #15961 "bug: west flash doesn't use specified hex file"
**Describe the bug**
A clear and concise description of what the bug is.
The command `west flash --hex-file ./zephyr.signed.hex` doesn't pick up the specified hex file `zephyr.signed.hex` for flashing.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/subsys/usb/dfu
2. west build -b nucleo_f429zi
3. west sign -t imgtool -- --key $MCUBOOT/root-rsa-2048.pem
3. west flash --hex-file ./

[2019-05-07 09:51] finikorg commented on #15507
@dmazzella So what is the issue now? `samples/subsys/usb/mass` does not work on Mac? In all configurations or only with `OUT_EP`?

[2019-05-07 11:25] ioannisg opened #15964 "ARM: Cortex-M: enhance Sharing Floating-Point Registers Mode"
This issue concerns the enhancement of Floating Pointer Sharing Register Mode for ARM Cortex-M architecture. The new implementation offers the following enhancements:
- reduced interrupt latency for ISRs
- reduced stack usage for threads not using the floating point registers
- reduced average time for thread context-switching

Enhancements made:
- enable lazy-stacking for FP
- enable per-thread a

[2019-05-07 11:50] raveslave commented on #11172
just keeping this one warm. anyone (preferably in sweden) that would be interested working on this?

[2019-05-07 12:10] nashif commented on #15706
leave it as a bug please, if it is not a bug in zephyr, it should be closed instead or filed in the right place.

[2019-05-07 12:27] #15776 closed

[2019-05-07 12:28] masz-nordic commented on #15917
I was unable to reproduce, at 859c4ed2cd41aa0ef5b5a29b3d2c64199b252ee1 with Ubuntu 16.04.

[2019-05-07 12:32] #11626 closed

[2019-05-07 12:41] #15003 closed

[2019-05-07 12:41] #8725 closed

[2019-05-07 12:42] #8722 closed

[2019-05-07 12:47] ulfalizer commented on #15912
Couldn't you just say "I'm sorry, but I think the basic approach here is wrong, so I won't approve it"?

Feels like people fall back on templates and stuff instead of just talking to each other too often in IT. :P

[2019-05-07 13:05] oyvindronningstad opened #15968 "rom_report very imprecise"
**Describe the bug**
ninja rom_report doesn't give the correct number. When building hello_world on the board nrf52840_pca10056, rom_report gives a total (at the bottom) of 13236, but the symbols printed above only add up to ~11000.

**To Reproduce**
Steps to reproduce the behavior, either:
1. In samples/hello_world: `mkdir build; cd build`
2. `cmake -DBOARD=nrf52840_pca10056 -GNinja ..`
3. `ninja

[2019-05-07 13:09] jhedberg commented on #15904
There's a single k_delayed_work for performing pending storage actions, which is why the RPL timeout is not independent from the other one. IIRC the intention was to use the RPL timeout whenever only the RPL needs updating or if the RPL timeout is less than the global one. This was just never implemented properly. I'll prepare a PR to fix this, something along the lines of:
[code]

[2019-05-07 13:12] maxxlife opened #15970 "samples: microbit pong demo"
I'm trying to run demo for the micro:bit board called "Pong" game.
Unfortunately two boards can't work together.
Using minicom I discovered that one board says `Advertising successfully started
Connected `
But game doesn't want to start.
I uploaded two .hex files to the two micro:bit boards. In prf.conf file I changed names of the boards to make a different name for each board.  My boards are conn

[2019-05-07 13:28] Olivier-ProGlove opened #15971 "Fail to connect sample bluetooth HID with Tizen OS (BT_HCI_ERR_DIFF_TRANS_COLLISION)"
I am trying to connect Nordic nRF52840 dev kit using last version of Zephyr (`859c4ed` west: Fix unused import and variable - Tue May 7) with [Samsung Gear S3](https://en.wikipedia.org/wiki/Samsung_Gear_S3) latest version of [Tizen OS](https://en.wikipedia.org/wiki/Tizen) 4.0.0.2.

**To Reproduce**
1. Build sample HID `samples/bluetooth/peripheral_hids` and flash on `nrf52840_pca10056`
2. Connect

[2019-05-07 13:35] jhedberg commented on #15970
Seems likely that this might be due to you not having #15939 in your tree

[2019-05-07 13:46] mnkp commented on #14307
I'm actually also very interested in continuing development of the Power Management Subsystem. Finding enough free time is the only issue.

[2019-05-07 14:05] mnkp commented on #15611
The flag is honored by `gpio_pin_write` and `gpio_pin_read` functions. I've clarified the description.

By default (no flags) output is configured in push/pull mode. I've updated the description.

I discuss the configuration of debounce time in the previous comment.

Indeed, that was not well explained. I propose to have to have two sets of flags. The base set used by the drivers, fully sufficient

[2019-05-07 14:10] joerchan commented on #15971
@Olivier-ProGlove This seems to be a bug in the phone side.
It initiates 2 LL procedures with overlapping instant. The Zephyr controller is correct in dropping the link with error code transaction collision.

Procedures in error (sniffer-trace1)
3: PHY_UPDATE_IND(instant = 9)
5: CONN_UPDATE_REQ(instant = 12)

[2019-05-07 14:56] Olivier-ProGlove commented on #15971
It looks you are right. I tried to disable `CONFIG_BT_PHY_UPDATE=n` and I could connect to Tizen OS.

I actually noticed after testing this workaround a similar bug existed for Samsung S8: https://github.com/zephyrproject-rtos/zephyr/issues/13396 with the same workaround :-)

[2019-05-07 14:56] #15971 closed

[2019-05-07 15:04] andrewboie commented on #15968
Is the 'missing' space gaps between various symbols due to alignment?

[2019-05-07 15:45] erwango commented on #15944
Aim of using HALs is to fasten deployment of drivers and ease their maintenance.
Specifically, the abstraction capability  should ease development of drivers that can cover a whole family of controllers.
For more information, I recommend @MaureenHelm's presentation: https://www.youtube.com/watch?v=BV7EYCzSXH0
To be short, HALs allowed to quickly enlarge Zephyr HW support, helping developers to spe

[2019-05-07 16:00] jhedberg commented on #15970
@maxxlife confirmed (on slack) that this was indeed fixed by #15939

[2019-05-07 16:00] #15970 closed

[2019-05-07 16:05] acsplayon opened #15975 "Openthread - fault with dual network interfaces"
**Describe the bug**
Multiple network interfaces (ETHERNET and OPENTHREAD) cause hard fault in openthread network_management callback.

**To Reproduce**
Steps to reproduce the behavior:
1) You create 2 L2 network interfaces. ETHERNET and OPENTHREAD
2) I use USB cdc_ecm to interface to the ETHERNET iface.
3) no special configuration of openthread.
4) on init, openthread will install a net_mgmt call

[2019-05-07 16:10] andrewboie commented on #14493
@wentongwu started work on this, adding him to the assignees list.
No specific due date yet.

[2019-05-07 16:15] #15904 closed

[2019-05-07 16:29] jfischer-phytec-iot commented on #15917
@acsplayon As you already have the patch, could you please open a PR?

[2019-05-07 18:49] ioannisg opened #15981 "ARM: k_float_disable() as system call"
Under FP Sharing Registers mode, (CONFIG_FP_SHARING=y) threads should have the option to announce to the kernel that they do not need to share the FP context any more. These threads will be switched-in and -out faster and require less stack memory after the FP is "disabled".

This issue concerns the implementation of k_float_disable() for ARM Cortex-M architecture. In addition, we expose the local

[2019-05-07 19:07] carlescufi opened #15983 "Kernel tests assume SYS_CLOCK_TICKS_PER_SEC=100"
Merging https://github.com/zephyrproject-rtos/zephyr/pull/15707
and in particular this commit:
https://github.com/zephyrproject-rtos/zephyr/commit/c76dd1edb75001f853cfc0e23ed627f49889b2c6

Made the following tests start failing:

[code]

[2019-05-07 19:54] pabigot commented on #15983
Those are all most likely problems with the tests, perhaps an assumption that the timer operates with a resolution that can exactly express multiples of 10 ms.  `tests/kernel/timer/timer_api/kernel.timer` in particular insists that the wakeup be at a 50 ms boundary, and that can't happen with 128 ticks-per-second: you can get 46.8 ms, or 54.6 ms, but not 50 ms.  (I see it get 55 ms, which is the r

[2019-05-07 20:27] marc-hb commented on #15877
I downgraded all the packages below and went back in Zephyr history (to commit 154c20ce7ad6) yet the issue (and the fix) reproduce exactly the same, no difference whatsoever. So while everyone is happy with the fix, no one knows why and how the regression happened.

[code]

[2019-05-07 20:30] n3rd4i commented on #15916
I've doubled the values but I still get the errors:
[code]

[2019-05-07 20:39] andyross commented on #15877
Heh, your persistence is amazing.  I mean, personally I'm fine with a level of understanding that stops at "distro toolchains are voodoo" and with a final fix that amounts to "put our own toolchain into the SDK where we can control the configuration".

But... I dunno.  Maybe it's possible this has never worked on 18.04 and and we just plain never noticed?  I mean... I'm absolutely sure this was ru

[2019-05-07 21:08] dmazzella commented on #15507
@finikorg `samples/subsys/usb/mass` does not work on Mac in all configurations.

i have used `nrf52840_pca10059` with .conf:

[code]

[code]

[2019-05-07 21:54] aasthagr opened #15985 "[Coverity CID :198395]Memory - corruptions in /soc/arm/microchip_mec/mec1501/soc.c"
Static code scan issues seen in File: /soc/arm/microchip_mec/mec1501/soc.c
 Category: Memory - corruptions
 Function: soc_ecia_init
 Component: Other
 CID: 198395
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-07 21:54] aasthagr opened #15986 "[Coverity CID :198394]Error handling issues in /tests/net/socket/socket_helpers.h"
Static code scan issues seen in File: /tests/net/socket/socket_helpers.h
 Category: Error handling issues
 Function: prepare_listen_sock_udp_v4
 Component: Tests
 CID: 198394
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-07 21:54] aasthagr opened #15987 "[Coverity CID :198393]Error handling issues in /tests/net/socket/socket_helpers.h"
Static code scan issues seen in File: /tests/net/socket/socket_helpers.h
 Category: Error handling issues
 Function: prepare_listen_sock_udp_v6
 Component: Tests
 CID: 198393
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-07 21:54] aasthagr opened #15988 "[Coverity CID :198392]Insecure data handling in /tests/net/socket/getaddrinfo/src/main.c"
Static code scan issues seen in File: /tests/net/socket/getaddrinfo/src/main.c
 Category: Insecure data handling
 Function: process_dns
 Component: Tests
 CID: 198392
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-07 21:54] aasthagr opened #15989 "[Coverity CID :198391]Memory - illegal accesses in /subsys/settings/src/settings_runtime.c"
Static code scan issues seen in File: /subsys/settings/src/settings_runtime.c
 Category: Memory - illegal accesses
 Function: settings_runtime_set
 Component: Other
 CID: 198391
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-07 21:54] aasthagr opened #15990 "[Coverity CID :198390]Memory - illegal accesses in /subsys/settings/src/settings_runtime.c"
Static code scan issues seen in File: /subsys/settings/src/settings_runtime.c
 Category: Memory - illegal accesses
 Function: settings_runtime_get
 Component: Other
 CID: 198390
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-07 21:54] aasthagr opened #15991 "[Coverity CID :198389]Memory - illegal accesses in /subsys/settings/src/settings_runtime.c"
Static code scan issues seen in File: /subsys/settings/src/settings_runtime.c
 Category: Memory - illegal accesses
 Function: settings_runtime_commit
 Component: Other
 CID: 198389
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-07 23:04] pfl commented on #15522
This is a specific bug in SAM E70 Xplained. With this board I get
[code]
This is a 60-byte ARP packet, when the correct Ethernet frame on the wire should be 42. Adding some logging reveals
[code]
Thus the bug must be somewhere in the SAM E70 Xplained ethernet driver, not in the IP or ethernet stack. The log output was from a patch like this:
[code]

[2019-05-07 23:35] aurel32 commented on #15522
This just look like normal Ethernet padding for packets smaller than 64 bytes (header + user data + FCS). Note that Wireshark does not show the FCS, that's why the packets you observe are 60 bytes long.

[2019-05-08 00:36] pfl commented on #15522
It is interesting that only this board produces said padding in Wireshark. All others inlcuding Linux produce 42 byte ARP packets, and so does Zephyr when it sends ARP messages elsewhere(!). So while it looks right, I'm not sure it ends up being right...

[2019-05-08 02:16] #15637 closed

[2019-05-08 02:55] nashif commented on #15604
no, default platforms are primarily to do coverage on architecture level, not peripherals.

Maybe, any good suggestions?

[2019-05-08 02:58] nashif commented on #15985
[code]

[2019-05-08 02:59] nashif commented on #15991
[code]

[2019-05-08 02:59] nashif commented on #15990
[code]

[2019-05-08 02:59] nashif commented on #15989
[code]

[2019-05-08 03:00] nashif commented on #15988
[code]

[2019-05-08 03:00] nashif commented on #15987
[code]

[2019-05-08 03:00] nashif commented on #15986
[code]

[2019-05-08 03:13] #11455 closed

[2019-05-08 03:16] #15733 closed

[2019-05-08 05:38] jhedberg commented on #15916
Could you also try increasing the RX stack size? The Kconfig option for it is `CONFIG_BT_RX_STACK_SIZE` (the `CONFIG_BT_RX_BUF_COUNT` you modified is just the number of data buffers for incoming HCI events & ACL data)

[2019-05-08 06:00] arun1joshi opened #15996 "tests/kernel/sched/schedule_api/testcase.yaml#kernel.sched.slice_reset fails on nrf52840_pca10056, nrf52_pca10040, nrf51_pca10028"
**Describe the bug**
tests/kernel/sched/schedule_api/testcase.yaml#kernel.sched.slice_reset fails on nrf boards - nrf52840_pca10056, nrf52_pca10040, nrf51_pca10028

- Last checked ok commit on 7/may/19 [3696eccc1a]
- Looks same to #9611

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf51_pca10028
3. make
4. See error

**Expected behavior**
The test ca

[2019-05-08 06:08] jukkar opened #15997 "Fix compile warning in samples/net/sockets/dumb_http_server"
The function net_pkt_get_info() is found in net_pkt.h and not
in buf.h. This caused `implicit declaration of function ‘net_pkt_get_info’`
warning if CONFIG_NET_BUF_POOL_USAGE was enabled.

Buf fix for this is already found in #15613

[2019-05-08 06:35] aescolar opened #15998 "CODEOWNERS is broken (Again)"
Same story as #15709

Likely cause, the comma in:
7c7db00a7759a44bbca414d5d1e943f211483190

[2019-05-08 06:52] aescolar opened #16000 "We need a CI check for commas in CODEOWNERS"
We need a new check in CI to prevent commas being added to the CODEOWNERS files.

Background:
CODEOWNERS has been broken twice (#15998 , #15709) in the last weeks.
The combination of DTS files having commas in their names, and the new checks for missing owners to files, means authors have and will continue trying to add lines to CODEOWNERS for particular files which include commas.
This breaks COD

[2019-05-08 07:08] vonhust opened #16001 "ARC iotdk supports MPU and fpu in hardware but not enabled in kconfig"
ARC iotdk supports MPU and fpu in hardware but not enabled in kconfig. Pls enable it and run the sanitycheck tests

[2019-05-08 07:11] vonhust commented on #16001
Fixed by #15484

[2019-05-08 07:11] #16001 closed

[2019-05-08 07:14] vonhust opened #16002 "the spi base reg address in arc_iot.dtsi has an error"
the spi base reg addres in arc_iot.dtsi has an error (line 246).

[2019-05-08 07:15] vonhust commented on #16002
Fixed by #15484

[2019-05-08 07:15] #16002 closed

[2019-05-08 07:42] aurel32 commented on #15522
Then that's a bug of those boards/drivers, not of the SAM E70 GMAC driver.

The Ethernet frame minimum size is 64 bytes, the packets must be padded otherwise they are considered as collisision. It's also the behavior I observe on Linux host when the received packets are seen as 60 bytes long. Of course the ARP packets not sent through Ethernet does not get padded or get padded differently. The sam

[2019-05-08 08:33] aurel32 commented on #15522
Just tested on an NXP IMXRT1020 board, I observe the same behavior, ie the ARP packages are padded to 60 bytes.

[2019-05-08 08:37] avisconti opened #16006 "The ArgonKey board documentation needs to align to the official information"
The ArgonKey board in v1.14 is not aligned to the official image and links.
It must be aligned to info here:
https://www.st.com/en/evaluation-tools/steval-mki187v1.html

[2019-05-08 08:41] #15998 closed

[2019-05-08 08:58] ioannisg commented on #5151
Downside, is that this will eat an MPU region index. But it's doable. Is this something still needed @nvlsianpu ?

[2019-05-08 09:48] nvlsianpu commented on #5151
So fare I didn't revived any request for this - this would be must have for critical devices which are not zephyr target today. Optionally for such protection we can use other SoC resource than MPU (on some targets).

For development purpose advantage of having that is help on identification of bugs caused by over/under-run  flash write., but situation is more complex as in the same time need to a

[2019-05-08 10:39] lorepieri8 commented on #15706
@jukkar

On Digital Ocena I get

[code]

while on Docker:

[code]

[2019-05-08 13:14] nashif opened #16010 "Coverage reporting fails on many tests"
**Describe the bug**

When running with coverage enable, many test fail due to various reasons, mostly related to stack limitations.

**To Reproduce**

run qemu target with coverage enabled

**Expected behavior**
All tests build and deliver coverage data.

**Impact**
Not able to generate and track coverage data.

[2019-05-08 13:17] nashif opened #16011 "Increase coverage of tests"
**Describe the bug**

When evaluating coverage data we notice some features in the core kernel is not be covered with any tests.

**To Reproduce**

Run with coverage enable and look at reports of kernel and core OS services.

**Expected behavior**
Line and function coverage is or close to 100%.

**Impact**

We do not test everything, we might introduce bugs without being able to catch them.

[2019-05-08 13:45] pfl opened #16012 "Source IP address for DHCP renewal messages is unset"
The source address in unicast DHCPv4 Request packets was found out
to be all zeros address 0.0.0.0. This address is only acceptable if
the destination is a multicast one, where the host in question is
acquiring a DHCP address lease. This is true for the DHCP Discover
and the initial DHCP Request message from the client towards the
server. As subsequent DHCP Request renewal messages are sent as
uni

[2019-05-08 16:12] carlescufi commented on #15996
duplicate of #15983

[2019-05-08 16:12] #15996 closed

[2019-05-08 16:26] carlescufi commented on #15941
Fixed

[2019-05-08 16:26] #15941 closed

[2019-05-08 16:36] marc-hb commented on #16000
I wonder which unrelated syntax commas were inspired by. Shell's brace expansion maybe?

Checking for commas is useful but it won't catch other sorts of errors. When I implemented the latest version of the CI check I looked for a way to re-use git ignore and/or git attributes but didn't find any "API".

In the longer term what all github users (not just Zephyr) need is github to make the CODEOWNER

[2019-05-08 17:33] n3rd4i commented on #15916
The new changes are as follows:
[code]

Console output:
[code]

[2019-05-08 18:08] marc-hb commented on #16000
Doh, just realized some filenames have actual commas in them. Sorry.

So there's another github problem far worse than silently failing to parse invalid CODEOWNERS: Github is actually failing to parse valid CODEOWNERS. This should really be reported to github.

What does github do when a single commit hits multiple CODEOWNERS lines? Does it automatically request reviews from the owners on all the

[2019-05-08 19:22] aescolar commented on #16000
@marc-hb In the long term. But in the short term, a stopgap like:
```KK=`grep -v '^#'  CODEOWNERS | grep ","`; if [ ! -z "$KK" ]; then echo "CODEOWNERS file cannot have entries with commas" ; exit 1; fi; ```
in the relevant CI script could save us some pain

[2019-05-08 20:09] marc-hb commented on #15877
"was" :-)

[2019-05-08 21:25] jli157 opened #16023 "mcuboot: enabling USB functionality in MCUboot crashes zephyr application in slot0"
**Describe the bug**
A clear and concise description of what the bug is.
With USB cable always connected to a computer, the zephyr application in the slot0, regardless which one is used, always crashes at booting up if USB DFU is enabled in MCUBOOT.

**To Reproduce**
Steps to reproduce the behavior:
1. apply PR #15949 so that nucleo_f429zi has a partition table.
2. Enable DFU feature in mcuboot by

[2019-05-08 21:28] jli157 commented on #16023
zephyr.lst is attached for analyzing.

[zephyr_crashed_by_mcuboot.lst.txt](https://github.com/zephyrproject-rtos/zephyr/files/3159352/zephyr_crashed_by_mcuboot.lst.txt)

[2019-05-08 21:32] jli157 commented on #16023
@jfischer-phytec-iot can you help to check this one? This is really a blocking issue for me.

[2019-05-08 22:20] jfischer-phytec-iot commented on #16023
@jli157 Can you please first verify that it works to boot other sample e.g. hello_world on your platform?

[2019-05-09 00:22] marc-hb commented on #15604
I thought `pci.c` was not just a "mere peripheral" but somewhere between that and "architecture level".

Not really; copying better informed people.

Wild guesses: tests/shell/, tests/ztest/base, tests/kernel/common/.

[2019-05-09 00:28] jli157 commented on #16023
I got the same issue with `hello_world` as well, please check the logs below:

[code]

[2019-05-09 00:31] jli157 commented on #16023
checked the address 0x8021084 in zephyr.lst for `hello_word`:

[code]

[2019-05-09 00:40] jli157 commented on #16023
I used "CONFIG_USB_CDC_ACM=y" instead of "CONFIG_USB_DFU_CLASS=y", and still got the same issue. Maybe it is a USB device issue from ST Micro's stack?

[2019-05-09 02:08] Jconn opened #16025 "webusb example app not reading data"
**Describe the bug**
the webusb demo will connect but will not receive data from the sample webpage at https://github.com/finikorg/webusb-serial, with log message `<err> usb_device: RX data lost, no transfer`

**To Reproduce**
Steps to reproduce the behavior:

flash the webusb sample application located at samples/subsys/usb/webusb onto a pca10056 dk

launch local http server, clone https://github

[2019-05-09 04:10] jli157 commented on #16023
The spurious IRQ67 on STM32F4XX is the USB_FS interrupt. I guess the enabled USB interrupt disturbed the booting process.

Ref: [page 373 on RM](https://www.st.com/content/ccc/resource/technical/document/reference_manual/3d/6d/5a/66/b4/99/40/d4/DM00031020.pdf/files/DM00031020.pdf/jcr:content/translations/en.DM00031020.pdf#page371)

67  OTG_FS USB On The Go FS global interrupt

[2019-05-09 07:38] wentongwu opened #16027 "support for no-flash systems"
The image of no-flash system will be downloaded to SRAM(text, rodata, and data are all in SRAM, zephyr also shouldn't do the data copy, so it's also non-XIP system) by other big system,  for example some Wi-Fi chipset in cellphone, its binary will be downloaded to SRAM by Android system, no flash at all in Wi-Fi chipset.
But the current linker script(include/arch/arm/cortex_m/scripts/linker.ld) de

[2019-05-09 08:20] alexanderwachter commented on #14918
@lucaspeixotot Did you use CAN1 and CAN2 concurrently?

[2019-05-09 08:27] alexanderwachter commented on #14918
@SebastianStumm @lucaspeixotot can you guys review #13262? Also please leave some comments about feature requests and general thoughts about the API.

[2019-05-09 08:36] carlescufi commented on #8393
Reopening this since the fix was reverted in master

[2019-05-09 09:19] mped-oticon opened #16031 "Toolchain abstraction"
Zephyr currently assumes standard open source toolchains, such a GNU or LLVM.

There is a desire to have Zephyr's CMake build system support more toolchains - including proprietary commercial ones.
Furthermore, the name of some of these proprietary commercial toolchains cannot be public due to industry competition. Hence out-of-tree support for any toolchain is also required.

Rather than pollutin

[2019-05-09 09:27] mped-oticon commented on #16031
Toolchain abstraction has been spanning quite a few PRs:
https://github.com/zephyrproject-rtos/zephyr/pulls?utf8=%E2%9C%93&q=%22Toolchain+abstraction%22

[2019-05-09 09:49] Jeepgoing opened #16032 "Socket UDP: Low transmission efficiency"
when i upgrade zephyr from v1.13 to v1.14 i found udp send data become low efficiency.the same data v1.13(not socket) use 93us, and v1.14(socket) use 200us. who can give me some advises.

[2019-05-09 11:09] alexanderwachter opened #16034 "Net packet size of 64 bytes doesn't work."
**Describe the bug**
net_pkt size of 64 byte (default is 128 byte) does not work for IPv6.
**Setup**
Two nucleo F746ZG boards connected with Ethernet.
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nucleo_f746zg zephyr/samples/net/zperf
2. west build -t menuconfig. Got no Networking -> PI stack and change `Size of each network data fragment` to 64 and eactivate IPv4
3. change C

[2019-05-09 11:11] alexanderwachter commented on #16034
@jukkar I'll look into that but with low priority because it's not very important to support 64 byte net_pkt size.

[2019-05-09 11:37] Pathak94 opened #16035 "facing problem with SDHC driver disk mount, need help to debug better"
I'm getting these error with SDHC driver, the 'Faulting instruction address' doesn't exist. I tried debugging by enabling ASSERTS, stack  but couldn't find the reason behind this. I think this error is originating from fs_mount but don't know what is the issue.

[code]

This is the fault that seems to happen most of the time, but I have seen precise bus fault also (faulting instruction in `find_vo

[2019-05-09 11:52] lylezhu2014 commented on #15133
Yes. Both the external interrupt controller (a perperial of the ARM core) and NVIC exist for the same one core.

[2019-05-09 11:52] tbursztyka commented on #16034
@alexanderwachter check ipv6_nbr.c, in function handle_ns_input(), just change NET_PKT_DATA_ACCESS_CONTIGUOUS_DEFINE(ns_access, ...
to:
NET_PKT_DATA_ACCESS_DEFINE(ns_access, ...

It will raise the stack usage in that function by a sizeof(struct net_icmpv6_ns_hdr) but that's ok.

Check the other input handlers, looks like they all have the same "issue".

Note however that IP headers themselves are

[2019-05-09 12:24] jukkar commented on #16032
If you have UDP sending using native API and then in newer version use BSD socket API, you will get different results. The reason is that the socket API is built on top of native networking API (net_context). The difference looks quite big thou, I would have imagined the difference being smaller.

[2019-05-09 12:29] tbursztyka commented on #16032
The summary is a bit scarce on details: which target? what's the use-case? How has this been measured?

[2019-05-09 13:12] Jeepgoing commented on #16032
@jukkar , yes, i have use net_app API in 1.13, following [udp client](https://github.com/zephyrproject-rtos/zephyr/blob/v1.13-branch/samples/net/echo_client/src/udp.c)

[2019-05-09 13:55] nashif commented on #16012
fix is merged

[2019-05-09 13:55] #16012 closed

[2019-05-09 14:08] Jeepgoing commented on #16032
@tbursztyka
1.target board is based on STM32F407
2.udp client send data to PC which from RF(radio frequency)
3.measured by
[code]

[2019-05-09 15:13] maweicoltsmart opened #16041 "stm32f407 flash erase error sometimes"
[code]
stm32f407vet6 flash erase error sometimes，program run to line printk above

[2019-05-09 15:33] maweicoltsmart commented on #16041
I erase address 0x8060000

[2019-05-09 15:49] mbodmer opened #16042 "NDP should be enhanced with Security, RFC 3971"
The Zephyr IP stack shall support Secure Neighbor Discovery for IPv6 as specified in RFC 3971. This is an extension to the existing Neighbor Discovery Protocol supported by the Zephyr IP stack.

[2019-05-09 16:07] spinkernel commented on #10420
Even with the latest windows updates at 1809 I'm still getting Exec format error when compiling using a powerpc version of gcc.  Anything I can do for more info?

/bin/sh: 1: powerpc-604-linux-gnu-gcc: Exec format error

OS Build 1809
Build 17763.437
Ubuntu 18.04.2 LTS

[2019-05-09 16:26] alexanderwachter commented on #16034
Thanks @tbursztyka I'll look at it tomorrow. IP headers have a fixed size of 40 bytes. Thats why i chose 64. I don't want to go lower than that.

[2019-05-09 18:12] nashif opened #16046 "modules are being processed too late."
Not able to use mbedTLS as a module due to missing dependencies and wrong order of processing of cmake files.

[code]

[2019-05-09 19:40] mbodmer commented on #16042
Seems like SeND is almost dead, so maybe this is not a good fit. Any alternatives making NDP more secure?

[2019-05-09 19:40] #16042 closed

[2019-05-09 19:54] jukkar commented on #16032
Could be also related to echo-client application which was rewritten using sockets for 1.14.

[2019-05-09 20:57] jukkar commented on #15975
Could you send a PR if you have already a fix?

[2019-05-09 21:44] ghost opened #16051 "Support for "split-lock" alignment check exceptions."
Intel have added a new feature which will raise an alignment check exception when an instruction attempts a LOCKed memory access that spans cache lines, a.k.a. a "split lock":

https://lkml.org/lkml/2019/4/3/1137

Under Zephyr, it might be useful to allow enabling these exceptions as a diagnostic tool, because they will catch accesses with detrimental impact on real-time performance.  At a minimum

[2019-05-09 23:26] psidhu opened #16052 "Adafruit Trinket M0 Bossac Offset is Wrong"
**Describe the bug**
When using bossac to flash the adafruit_trinket_m0, it defaults to the 0x0000 address. This is wrong due to the UF2 bootloader. See https://learn.adafruit.com/adafruit-trinket-m0-circuitpython-arduino/uf2-bootloader-details#running-bossac-on-the-command-line-46-29.

Also, due to https://github.com/zephyrproject-rtos/zephyr/issues/13151 (code,partition not taking effect unless

[2019-05-10 01:06] Jeepgoing commented on #16032
@jukkar  yeap, i have followed echo-client sample to edit my code.

[2019-05-10 02:11] Jeepgoing commented on #16032
can i use [https://github.com/zephyrproject-rtos/zephyr/blob/v1.14-branch/tests/net/udp/src/main.c](https://github.com/zephyrproject-rtos/zephyr/blob/v1.14-branch/tests/net/udp/src/main.c)?

[2019-05-10 06:10] jukkar commented on #16032
You are of course free to use these lower APIs if you really want but we would like to people to use BSD socket interface as that will be a stable API for apps. Also please note that those low level APIs cannot be used from user mode as only BSD socket interface has syscall interface and memory protection implemented.
If you have offloading enabled then the very low level APIs will not utilize tha

[2019-05-10 06:18] Jeepgoing commented on #16032
@jukkar i found if disabled gPTP, the send time from 200us to 170us. i want to know weather anyone have test the efficiency about socket udp.

[2019-05-10 06:22] jukkar commented on #16032
We had earlier throughput sample app that could be used to measure some throughput values but it was removed when we removed net_app API. I have been planning to convert it to use sockets but so far I have had no time to do it.
There is also zperf network sample that can give you network timing values and throughput information.

[2019-05-10 06:58] thedjnK opened #16054 "Bluetooth sample app 'peripheral' failing to build for nRF52840"
The sample application bluetooth/peripheral is failing to build for the nRF52840 (using nrf52840_pca10056) with these errors:

    ../src/main.c:190:32: error: expected ')' before '{' token
     BT_GATT_SERVICE_DEFINE(vnd_svc,
                                    ^
                                    )
    ../src/main.c: In function 'main':
    ../src/main.c:331:23: error: 'vnd_svc' undeclared (fir

[2019-05-10 07:26] thedjnK commented on #16054
Seems this was caused by building the old style without west, building with west builds a working image.

[2019-05-10 07:26] #16054 closed

[2019-05-10 08:01] #16006 closed

[2019-05-10 08:28] oyvindronningstad commented on #15968
From looking into it, I think that is partly true, but I think there are certain symbols that somehow are not included at all. I think the size of a symbol should be reported with alignment filling, or the filling should also be reported so that the numbers match.

[2019-05-10 08:36] SebastianBoe commented on #16046
I am unable to reproduce this problem.

I tried using TINYCBOR as a module, and did not get any problems.

[code]

[2019-05-10 09:36] SteveOss commented on #15516
Is this fix going back onto the 1.14 TLS branch ?

[2019-05-10 10:12] nashif commented on #16046
try mbedtls or fat filesystem. The issue is there.

[2019-05-10 10:27] SebastianBoe commented on #16046
Which library links with which library, and which library is a module when this can be reproduced?

[2019-05-10 10:28] SebastianBoe commented on #16046
Or just dump the code.

[2019-05-10 10:36] SebastianBoe commented on #16046
Still not able to reproduce, now with mbedtls as a module. And the fat filesystem linking with mbedtls.

[2019-05-10 11:27] nashif commented on #16046
just run sanitycheck:

[code]

[2019-05-10 11:27] nashif commented on #16046
[code]

[2019-05-10 11:29] SebastianBoe commented on #16046
Will use #16065 16065 to reproduce.

[2019-05-10 11:41] SebastianBoe commented on #16046
Reproduced.

Found the bug (at least the bug provoked by big_http_download).

The bug is not related to the ordering of mbedTLS and I can not explain why it was only provoked now.

This is the root cause:

This line, https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/sockets/CMakeLists.txt#L19 , should be removed. It is modifying mbedTLS. I don't know why, but it is not sane f

[2019-05-10 12:02] nvlsianpu commented on #15831
@andrewboie

In our QEMU DTS, this was cut in half; the first 4MB (minus the zero page) was reserved for a simulated XIP ROM area. The second 4MB is read-write system RAM.

Is that possible to extend  this 8MB of memory to 12MB? So we can use 8MB for read-write system RAM so even if enabled flash-simulator we still keep free 4 MB? I'm not familiar with qemu usage well so mayby ther is a better sol

[2019-05-10 12:25] nashif commented on #16046
there are other tests failing, for example: tests/subsys/jwt

[2019-05-10 12:34] nashif commented on #16046
here is a list of failing tests (with fix from above comment):
[code]

[2019-05-10 13:01] #15989 closed

[2019-05-10 13:01] #15990 closed

[2019-05-10 13:01] #15991 closed

[2019-05-10 14:20] SebastianBoe commented on #16046
I have now tested and fixed these failures here: https://github.com/zephyrproject-rtos/zephyr/pull/16069/files

[2019-05-10 14:41] GregBurns opened #16071 "Add API for TLS server PSK callback"
mbedtls has an API `mbedtls_ssl_conf_psk_cb()` for requesting the PSK for a specific identifier. This functionality is not currently exposed in Zephyr. The `mbedtls_ssl_conf_psk() ` API exposed via setsockopt only allows a single identifier to be associated with the PSK.

This is the application note from the mbedtls documentation for `mbedtls_ssl_conf_psk() `:

**Note**
_This is mainly useful for

[2019-05-10 15:27] nvlsianpu commented on #15831
@andrewboie #16070

[2019-05-10 16:21] gnuless opened #16072 "boards/up_squared: k_sleep() too long with local APIC timer"
**Describe the bug**

When using the local APIC timer (CONFIG_LOAPIC_TIMER=y), k_sleep() on the up_squared board sleep durations are off by a factor approximately of 100.

**To Reproduce**

Build with CONFIG_LOAPIC_TIMER=y and CONFIG_HPET_TIMER=n, and invoke k_sleep().

**Expected behavior**

e.g., k_sleep(1000) should sleep for 1 second, not 100 seconds.

**Impact**
This doesn't affect typical ap

[2019-05-10 19:42] #14588 closed

[2019-05-10 19:47] jcorde commented on #14528
Using `fstab-debugger.dts` is not enough as `BOARD_HAS_NRF5_BOOTLOADER` still selected by `Kconfig`. So `Kconfig.defconfig` sets `FLASH_LOAD_OFFSET` to 0x1000.

[2019-05-10 19:55] jcorde commented on #14528
If we follow [Programming Option 3 - External debug probe](https://docs.zephyrproject.org/latest/boards/arm/nrf52840_pca10059/doc/index.html#option-3-using-an-external-debug-probe), the offset will not be set to 0x000.

[2019-05-11 07:20] ixmeins commented on #16052
I used the Adafruit board as a basis for my homegrown SAMR21 board and I noticed this, as well as the defaults for my particular selected chip (now that R21 support is built in) being wrong with a default start address of 0x0000, 256kb flash and 32k ram where as my chip is 128/16. I also used a modified Adafruit bootloader so also needed the 0x2000 start.
I get around it by resetting those values

[2019-05-11 07:50] ixmeins opened #16078 "Shell subsystem or SERIAL no longer works on SAM0/SAMR"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your prog

[2019-05-11 07:52] #16078 closed

[2019-05-11 08:00] ixmeins opened #16079 "SAM0/SAMR SERIAL subsystem broken?"
Since ADC and GPIO interrupt support was added the SERIAL (UART) subsystem does not appear to work.
I can compile and run various examples (/samples/hello_world etc) in 1.14 LTS but the latest zephyr git clone seems to have broken the serial io. I get no serial output after successful compiles. I'm using a SAMR21E17A, previously with my own SAMR21 support and now with the integrated support.
I hav

[2019-05-11 09:12] ixmeins commented on #16079
I've just built the SHELL sample app on 1.14 LTS targeting the Adafruit_Feather_Basic_Proto (SAMD21) using CDC_ACM as the I/O instead of SERCOM and it compiled and ran as expected. I then compiled the same app using the latest version of Zephyr and again it compiles fine but the CDC_ACM USB device is not enumerated and so the application does nothing.

[2019-05-11 09:26] ixmeins commented on #16079
O.K.. I'm likely confused. I just built the Adafruit_Feather..ect version of the purely serial (SERCOM0) shell example and it built and ran correctly. I thought I also tried that on the SAMR21 board without success.

Maybe I really just need confirmation from a tester that after the addition of the ADC & GPIO Interrupt code for the SAM0 (SAMD21/R21) they tested that the USB CDC_ACM builds and runs

[2019-05-11 09:33] frantony opened #16080 "Zephyr UART shell crashes on start if main() is blocked"
@jarz-nordic @nordic-krch

**Describe the bug**
Zephyr UART shell crashes on start if main() is blocked.

**To Reproduce**
Steps to reproduce the behavior:

1. compile ```samples/subsys/shell``` with blocked ```main()```

[code]
2. burn zephyr image into MCU;
3. open your favorite communication application (e.g. minicom or screen) and connect to MCU UART_1;
5. reset MCU;
6. see no characters from

[2019-05-11 10:50] wentongwu commented on #15794
1. when CONFIG_COVERAGE is enabled, it will enable CONFIG_NO_OPTIMIZATIONS. But the issue isn't related to coverage, I think run every case with CONFIG_NO_OPTIMIZATIONS=y and CONFIG_INIT_STACKS=y, the issue will happen.

2. take a look CONFIG_NO_OPTIMIZATIONS enabled memset:
            while (n >= sizeof(unsigned int)) {
    389e:       e007            b.n     38b0 <memset+0x6a>
                *

[2019-05-11 11:17] wentongwu commented on #15794
it seems the -Os optimized memset doesn't use stack.

void *memset(void *buf, int c, size_t n)
{
        /* do byte-sized initialization until word-aligned or finished */

        unsigned char *d_byte = (unsigned char *)buf;
    1a3a:       4603            mov     r3, r0
{
    1a3c:       b570            push    {r4, r5, r6, lr}
        unsigned char c_byte = (unsigned char)c;
    1a3e:       b2c

[2019-05-11 12:24] #15516 closed

[2019-05-11 14:25] Sizurka commented on #16079
Hmm, I was able to get `samples/subsys/shell/shell_module` working on a SAMD21 based board with:
[code]
With and without the last section, it acts the same.

So I'm not sure it's related to the ADC/GPIO changes.  I don't have any of the Adafruit boards or the SAMD21/R21 Xpro ones, so I can't test those specifically.  I am not familiar with the internals of the shell though, so maybe something ther

[2019-05-12 00:08] wentongwu commented on #15794
1. when CONFIG_COVERAGE=y, it will enable CONFIG_NO_OPTIMIZATIONS, so only with CONFIG_NO_OPTIMIZATIONS=y and CONFIG_INIT_STACKS=y, the issue will also happen.

2. -O0 optimized memset code is like below, and it will use the stack buffer to do the buffer assignment
    while (n >= sizeof(unsigned int)) {
    3862:       e007            b.n     3874 <memset+0x6a>
                *(d_word++) = c_wor

[2019-05-12 03:15] bbolen commented on #16080
I've been sitting on this patch for a little while, but I think it addresses the issue you are seeing.  Let me know if it helps.

From 78e8ec84f8040afef0e7b6a8caa57e5bdf156596 Mon Sep 17 00:00:00 2001
From: Bradley Bolen <bbolen@lexmark.com>
Date: Thu, 14 Feb 2019 11:28:37 -0500
Subject: [PATCH] shell: Move the call to uart_irq_rx_enable to the enable
 callback

The uart could get an RX interrupt

[2019-05-12 04:37] mbolivar commented on #16011
Is this really a bug? It seems more like an enhancement, no?

[2019-05-12 04:45] mbolivar commented on #15133
@ioannisg @lylezhu2014 Zephyr has generic multi-level interrupt support for all architectures. The driver API is `struct irq_next_level_api`. If the M0+ has another interrupt controller built in at architecture level, I'd start by looking for that API implemented for it. If not, I suppose it would need to be added.

[2019-05-12 05:02] mbolivar commented on #15912
@ulfalizer:

This leaves open the problem that the only way to surely block a change from being merged is with the Request Changes state. Which we can't improve upon.

@Laczen:

I don't think this is part of Zephyr's philosophy. Some things that are worth doing take time. This is often the case in open source projects that support a wide variety of hardware architectures, configurations, host oper

[2019-05-12 05:14] mbolivar commented on #15912
@pabigot I think this could use TSC attention. It's a symptom of the ubiquitous problems of divergent priorities and more people writing code than are able to review it, but "process for NAKing PRs" seems like low hanging fruit.

- I've suggested that the TSC consider this at the next meeting by adding a request for an open item in the next agenda in the minutes doc, https://docs.google.com/docume

[2019-05-12 05:18] mbolivar commented on #15676
How practical is this to implement? We may imagine low-power systems where entering deep sleep involves turning off the very clocks we would need to do this tracking.

[2019-05-12 06:28] frantony commented on #16080
@bbolen

I have just tested your patch on top of 59eb48329e. It works perfectly and solves my problem.
Thanks!

[2019-05-12 06:56] jukkar commented on #15987
False positive

[2019-05-12 06:56] #15987 closed

[2019-05-12 06:58] jukkar commented on #15986
False positive

[2019-05-12 06:58] #15986 closed

[2019-05-12 07:06] jukkar commented on #15988
Tainting the variable is not really an issue in this test application because we know what we are receiving. There is nothing here to fix.

[2019-05-12 07:06] #15988 closed

[2019-05-12 07:10] jukkar commented on #16080
@bbolen Could you send a PR for this issue as you have a working solution?

[2019-05-12 09:18] ixmeins commented on #16079
Yes it is unlikely to be in the GPIO/ADC I guess. I'll have to go and see if I can find any changes that were introduced since the LTS version related to SPI or the SHELL.
Thanks for looking.

[2019-05-12 09:18] #16079 closed

[2019-05-12 10:25] aescolar commented on #15912
This issue is digressing into a container of all kind of somehow related frustrations and proposals.
I think this is not going to help anybody, so I'd request people to stop commenting/answering here. It is simply not the right place or format for this. Also this may give people the impression that commenting here is going to reach the right ears. (Long threads with all kind of unrelated topics an

[2019-05-12 12:21] pabigot commented on #15676
@mbolivar We can also imagine that impossible situations can be declared out of scope.  That doesn't eliminate the value of doing what can be done.

I hadn't intended to clutter up this issue with references to unmergeable patches in my fork, but you can see how trivial it is to get a basic estimate of idle versus active time.  It already reveals behavior that isn't otherwise visible: to wit, why

[2019-05-12 16:38] #16052 closed

[2019-05-12 19:15] #15507 closed

[2019-05-12 19:15] #15918 closed

[2019-05-12 20:21] nashif opened #16088 "Verify POSIX PSE51 API requirements"
The PSE51 Units of Functionality Requirements:

ref: http://ieeexplore.ieee.org/document/1342418

Table 1-18 — Units of Functionality Requirements
=================================================

- [ ] POSIX_ADA_LANG_SUPPORT (ada only)
- [ ] POSIX_C_LANG_JUMP (c only)
- [ ] POSIX_C_LANG_SUPPORT
- [ ] POSIX_DEVICE_IO
- [ ] POSIX_FILE_LOCKING
- [ ] POSIX_SIGNALS
- [ ] POSIX_SINGLE_PROCESS
- [ ] PO

[2019-05-13 01:04] wentongwu commented on #15794
with above temp changes, only the last sub test of tests/kernel/mem_protect/userspace fails as below, so I think the original crash problem has been fixed. I'm preparing PR.  I will open another github issue track below problem. Thanks.

starting test - test_stack_buffer
Reserved space: 0
Provided stack size: 1024
Stack object 0x20023000[1024]
 - Testing supervisor mode
   - Thread reports buffer

[2019-05-13 05:32] #15316 closed

[2019-05-13 07:18] ixmeins commented on #16080
fyi I've tried this patch on the latest repo and it breaks cdc_acm shell comms. If I put the rx irq enable back where it was then cdc_acm shell works again. The symptom is that outgoing messages will appear in the terminal but no incoming traffic is seen by the shell.

[2019-05-13 07:25] tbursztyka opened #16089 "Mcux Ethernet driver does not detect carrier anymore (it's alway on)"
**Describe the bug**
Mcux Ethernet driver used to be able to detect carrier state, but something somewhere has changed and it thinks the carrier is always on now.

**To Reproduce**
Do not plug the Ethernet cable to your device
Use samples/net/sockets/echo_client

1. mkdir build; cd build
2. Change the prj.conf so it becomes:
[code]
3. cmake -DBOARD=board\frdm_k64f
4. make
5. Dhcp starts right away

[2019-05-13 08:59] wentongwu opened #16090 "mpu align support for code relocation on non-XIP system"
on non-XIP system, SRAM is the default region, and relocated .data
section and .bss section of SRAM shouldn't be inserted between
_image_rom_start and _image_rom_end, because the memory region between
_image_rom_start and _image_rom_end will construct the mpu read-only region.

Also for the newly added memory region on non-XIP system, the relocated .text
secition and .rodata section should also be

[2019-05-13 09:44] tbursztyka opened #16096 "Sam gmac Ethernet driver should be able to detect the carrier state"
**Is your enhancement proposal related to a problem? Please describe.**
Without carrier detection, an ethernet driver cannot automatically detect it's related network interface can go up or down (on carrier on or off respectively).

**Describe the solution you'd like**
sam gmac driver needs to be support carrier detection in order to call net_eth_carrier_on()/net_eth_carrier_off() relevantly

[2019-05-13 09:49] tbursztyka opened #16097 "STM32 Ethernet driver should be able to detect the carrier state"
**Is your enhancement proposal related to a problem? Please describe.**
Without carrier detection, an ethernet driver cannot automatically detect it's related network interface can go up or down (on carrier on or off respectively).

**Describe the solution you'd like**
STM32 Ethernet driver needs to be support carrier detection in order to call net_eth_carrier_on()/net_eth_carrier_off() relevantly

[2019-05-13 10:02] rmstoi opened #16098 "net: arp: sender hardware address not used by ICMP/TCP/UDP"
If a packet is received with Ethernet source address different from ARP's sender hardware address field, then DUT must use the latter address in response packets. Therefore, in attached pcaps, ICMP/UDP/TCP packets sent by Zephyr have incorrect Ethernet destination address.

[arp-sha-unused-icmp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3172276/arp-sha-unused-icmp.pcap.gz)
[arp-sh

[2019-05-13 11:48] ioannisg commented on #15794
Right. It was really a bad idea to move this code to C from assembly.

[2019-05-13 11:56] jcorde opened #16103 "nrf5 802.15.4 driver requires Log subsys to be enabled"
**Describe the bug**
Compiling OpenThread while CONFIG_LOG=n leads to an undeclared expression error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Hello world sample
2. Enable OT and disable Log by adding the following lines to its `prj.conf` file:
`CONFIG_LOG=n
CONFIG_NET_L2_OPENTHREAD=y
CONFIG_NETWORKING=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_CPLUSPLUS=y
CONFIG_REBOOT=

[2019-05-13 11:58] aescolar opened #16104 "CI Checkpatch warnings should be made obvious in PRs"
**Is your enhancement proposal related to a problem? Please describe.**
Currently checkpatch is run in CI. If an error is reported, the whole checkpatch output to be added as a comment to the PR.

If checkpatch only reports warnings, these are not reported to the PR.
This leads to checkpatch warnings being missed during reviews.

**Describe the solution you'd like**
The CI checkpatch check would s

[2019-05-13 12:04] jcorde commented on #16103
This happens because of `82d956fdf867fd7eb91472c9b94919657db4d0af`. A possible solution is to check if  CONFIG_IEEE802154_DRIVER_LOG_LEVEL is defined before comparing it, as present at https://github.com/jcorde/zephyr/commit/a8f9c612f2aaebcc8d22455df0e34b9bc512d8b5

[2019-05-13 12:05] #16080 closed

[2019-05-13 12:09] rlubos commented on #16103
@jcorde Could you just send the patch you proposed in a PR?

[2019-05-13 12:10] finikorg commented on #16025
I have PR which fixes (should) this issue #15818.

`webusb-serial` also need this patch to work with recent USB product ID: https://github.com/finikorg/webusb-serial/commit/d31113e00c788eef07e37bbce20baa3c9e2e7134

[2019-05-13 12:18] jcorde commented on #16103
@rlubos  Just opened it at https://github.com/zephyrproject-rtos/zephyr/pull/16105

[2019-05-13 12:25] anangl commented on #15611
@mnkp
I am still concerned about the flags `GPIO_ACTIVE_*` and their influence on `gpio_pin_write` and `gpio_pin_read` functions. As I already mentioned in https://github.com/zephyrproject-rtos/zephyr/pull/12651#discussion_r254328542, I think it would be better to keep the current behavior of `gpio_pin_write` and `gpio_pin_read`, and to handle these flags outside of GPIO drivers. My main concern i

[2019-05-13 12:27] nvlsianpu commented on #16035
Does sample /samples/subsys/fs/src/main.c works for you?
What a board you are using?

[2019-05-13 12:42] nwsetec opened #16107 "Using bt_gatt_read() with 'by_uuid' method returns 3 extra bytes"
**Describe the bug**
Using bt_gatt_read() with 'by_uuid' method returns 3 extra unexpected bytes.  The extra bytes are at the beginning of the data pointed to by the *data parameter of the read callback function.  The three bytes are part of the struct bt_att_read_type_rsp, it is the len followed by handle + value list.

**To Reproduce**
Call bt_gatt_rd() similar to this:
	memcpy(&uuid, BT_UUID_GA

[2019-05-13 13:08] rmstoi opened #16110 "net: arp: request from own hardware but different IP address not dropped"
Zephyr IP stack replies to ARP request that has the same Sender Hardware Address than that of Zephyr. Such ARP request must be discarded, no reply should be sent and translation table should not be updated.

[arp-req-own-hwaddr-icmp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3172967/arp-req-own-hwaddr-icmp.pcap.gz)
[arp-req-own-hwaddr-tcp.pcap.gz](https://github.com/zephyrproject-

[2019-05-13 13:13] Pathak94 commented on #16035
It used to, but recently I started getting this error.
[code]

[2019-05-13 13:13] Pathak94 commented on #16035
I'm using nrf52840_blip board.

[2019-05-13 13:15] nvlsianpu commented on #16035
[code]
@anangl - is this a regresion?

[2019-05-13 13:22] ntavish commented on #16035
I was using same hardware when I added the SDHC sample in #12783. It was working then.

[2019-05-13 15:27] ntavish commented on #16035
Also found that the clock speed for SPI is always about 250KHz; even though according to the code in `sdhc_detect(...)` it should start at 400KHz, then after initialization, it should switch to 4MHz.

![image](https://user-images.githubusercontent.com/499791/57633801-bbb74980-75c1-11e9-90e4-924e66fb71b9.png)

[2019-05-13 16:09] ioannisg commented on #15133
Yeah, the api is not implemented for cortex-m, afaics.

[2019-05-13 16:10] ioannisg commented on #15133
Haven't heard any discussions about supporting this in the stack, do you want to file a feature request @lylezhu2014 ?

[2019-05-13 18:19] mbolivar commented on #15912
Are you saying you don't think this particular issue is the right place for a discussion, or the issues page in general? Do you have a counterproposal location? Also since you've specifically asked me a question here, I'm going to reply despite this request that nobody comment here ;).

I'm sorry, but this is simply not true.

There is a big difference between "I have some issues that, if addresse

[2019-05-13 18:26] mbolivar commented on #15676
@pabigot I'm not saying "it's not possible"; I'm asking "is it possible?".

My question was an honest one. Have you looked at a variety of different SoCs and concluded that such an API is implementable and covers enough interesting use cases to be introduced as a general purpose API? Your "unmergeable" patches referenced here don't answer that question for me. Sorry if this is such an obvious ques

[2019-05-13 18:44] pabigot commented on #15676
@mbolivar Sorry, I misinterpreted your response.

No, I have not investigated a variety of SoCs.  I do this in [nrfcxx](https://pabigot.github.io/nrfcxx/classnrfcxx_1_1systemState.html#a3d1956a471409a35f2216b7d0836ff40) where code that changes modes related to active/sleep, high-frequency clock on/off, and radio activity records time in each mode, which is reported in telemetry beacons.

I wasn't

[2019-05-13 18:48] marc-hb commented on #11717
- SeaBIOS does this, will edit description.
- SeaBIOS also breaks my macOS terminal (fixed with `tput smam` a.k.a.` Automatic Margins, no idea why).
- SeaBIOS's message "Booting ...."  also races with Zephyr's boot banner which makes test logs non-deterministic. There are plenty tests which have non deterministic logs but SeaBIOS makes ALL test logs non-deterministic.

[2019-05-13 18:58] marc-hb commented on #11717
I found this great workaround, recommended:
[code]
I looked into making this the default but hit two issues:

1.a Different Linux distributions package OVMF differently (or not at all?). Zephyr could probably re-package it though, maybe in the SDK next to Qemu
1.b The `-bios` option requires write permission on the OVMF.fd file.

2 QEMU_EXTRA_FLAGS is not per-arch and I couldn't get any combinatio

[2019-05-13 19:03] marc-hb commented on #11717
Forgot to mention this: OVMF makes `sanitycheck` 10-20% faster than SeaBIOS when JOBS is small, say below 20 threads. The higher is JOBS and the smaller the speedup, negligible after say 80 threads.

[2019-05-13 19:17] andrewboie commented on #11717
Messes up my Linux terminal as well.
It's subtle, basically after showing any QEMU output, long lines do not wrap any more. A 'reset' command fixes it. I imagine one of the escape codes in the SeaBIOS message has something to do with it.

Worth trying. Definitely don't need a BIOS, we handle matters from the reset vector onwards.

[2019-05-13 20:59] jukkar commented on #15706
Perhaps you have something incorrectly setup in the docker image so that the `ip tuntap add zeth mode tap` fails. Can you try to run it manually and see what errors it will print.
Closing this one for now as this does not seem to be related to issue in zephyr.

[2019-05-13 20:59] #15706 closed

[2019-05-13 22:09] sunkyl opened #16122 "Detect first block in LWM2M firmware updates."
Problem
Currently, there is no way to detect when to reset the context of a firmware update via LWM2M when the process is interrupted outside of the block received callback (say in the case of a timeout).

Solution
Some indication of a first block for the callback, or exposing more functions within the LWM2M library that allows for writing our own callbacks that can start the transfer.

Alternativ

[2019-05-14 06:00] embest-tech opened #16132 "The nRF mesh APP report “Invalid Publish Parameters”"
I add a node like this:
static struct bt_mesh_model root_models[] = {
	BT_MESH_MODEL_CFG_SRV(&cfg_srv),
	BT_MESH_MODEL_HEALTH_SRV(&health_srv, &health_pub),
	BT_MESH_MODEL(BT_MESH_MODEL_ID_GEN_ONOFF_CLI, gen_onoff_cli_op,
																		NULL, &onoff[0]),
};

After provistion,sellect Generic Onoff Client.
Do APPKEY BINDING.
Then sellect PUBLICATION ADDRESS, click Apply Publication, the APP throw

[2019-05-14 06:10] jhedberg commented on #16132
This isn't necessarily a bug - it's possible nRF Mesh is actually sending parameters which are invalid according to the spec. Could you enable debug logs and report what you see in the console? Which version of Zephyr is this?

[2019-05-14 06:17] embest-tech commented on #16132
@jhedberg
The parameters are the default that the APP hold.
Ok, I am try to enable the debug messages.
The verstion is v1.10-branch.

And the code is based on samples/bluetooth/mesh. For the user developer, we really need a example code that tell us how to configure the Node after provision.

[2019-05-14 06:50] jhedberg commented on #16132
@embest-tech there have been numerous fixes for Mesh since 1.10, more than I can try to list here. Could you try reproducing the issue with latest master, or if that's not possible with 1.14?

[2019-05-14 06:55] embest-tech commented on #16132
@jhedberg  The reason I choose v1.10 is because the newer version takes too much RAM that it can not be fit for NRF51822.  If I change to the latest version reducing RAM consumption is difficult, any idea on this?

[2019-05-14 07:58] embest-tech commented on #16132
@jhedberg
I have change to v1.12 , after reduce some RAM consumption. The code can be compile and runs. BUT the same issue come out, I can not add pub for the OnOff client but can add sub for it. It does not make sense. Also, I can add pub and sub for the OnOff server.  I don't know what is the reason for adding pub for a genneric OnOff server.

[2019-05-14 09:35] #16098 closed

[2019-05-14 09:36] #16110 closed

[2019-05-14 12:06] jhedberg commented on #16132
There have been 84 individual commits to the mesh code since 1.12, so it's still possible that the issue has been fixed since then. Is it the 16 or 32k RAM variant of the 51822 that you have?  You can do basic RAM usage analysis with the "ninja ram_report" command. You could also test your app using the latest Zephyr tree on some other nRF board with more RAM to see if the issue is fixed or not.

[2019-05-14 12:08] jhedberg commented on #16132
I also wanted to mention some typical ways of reducing the RAM usage:

 - Reduce stack sizes to minimum of what's needed (there are Kconfig options to help with current usage analysis)
 - Reduce buffer counts and sizes
 - Disable unneeded features in Kconfig

[2019-05-14 12:09] thomascp opened #16138 "is this right for clock announcing in every CORE?"
Hi,

Actually, I have some questions on SMP, I am not sure it is a defect.
Take x86_64 SMP as an example, hpet_isr will execute on every CORE and it will call z_clock_announce, is this right for clock announcing in every CORE?
You know, in Linux, only one core is responsible for do_timer which will increase the jiffies, so...

And, imagine there are two cores, core1 is running a thread with A prio

[2019-05-14 14:03] pfalcon opened #16141 "posix: CONFIG_POSIX_API and CONFIG_NET_SOCKETS_POSIX_NAMES don't make sense to use together, and conflict when doing so"
As discussed in https://github.com/zephyrproject-rtos/zephyr/pull/16009 .

The meaning of CONFIG_SOCKETS_POSIX_NAMES is "expose Zephyr's namespaced socket API under standard POSIX names".

The meaning of CONFIG_POSIX_API is "expose all POSIX APIs which are available in Zephyr".

From this description, it's clear that these 2 options shouldn't be used together, as CONFIG_POSIX_API has wider scope w

[2019-05-14 14:19] finikorg opened #16142 "NET: llmnr responder sends malformed packets"
Sample `samples/net/sockets/echo_server/` with overlay `overlay-netusb.conf` and LLMNR responder:

[code]

sends malformed LLMNR standard query response packets

[2019-05-14 14:27] finikorg commented on #16142
[llmnr.pcapng.tar.gz](https://github.com/zephyrproject-rtos/zephyr/files/3178247/llmnr.pcapng.tar.gz)

[2019-05-14 14:40] alexanderendian opened #16143 "posix: clock_settime calculates the base time incorrectly"
If you call `clock_settime` twice with the same non-zero value appears to reset the clock back to 0. I've that disovered that it's caused by `clock_settime` performing its internal calculation incorrectly when updating the clock base. I have submitted a pull request which contains some further explanation and a fix #16040.

**To Reproduce**

1. Build and run the following program in QEMU (although

[2019-05-14 14:45] galak commented on #16143
@alexanderendian thanks for submitting this issue.

[2019-05-14 15:07] szymonnnm opened #16145 "question: Using OpenThread API in Zephyr application"
Hello everyone!
As I understand - currently OpenThread is implemented as L2 layer in Zephyr. The provided OT samples `echo_server` and `echo_client` use Zephyr's "standard" network API for sending and receiving packets. OpenThread code and libraries are hidden from the application.
Is it possible to use OpenThread API directly in the application?
For example, I'd like to use [otNetworkTimeGet](htt

[2019-05-14 15:14] jcorde commented on #16145
Hi, @szymonnnm! I've been using OT API functions like `otThreadSetNetworkName` and `otLinkSetChannel` just by adding
[code]

[2019-05-14 15:39] erwango commented on #15714
@parthitce, fixed on my side by https://github.com/erwango/zephyr/commit/17108ad2f23eb218cc784d730785c9541a16b5e2

[2019-05-14 15:55] ioannisg opened #16148 "ARM: Enable building with TRUSTED_EXECUTION_SECURE"
We would like to have coverage upstream for all code running only for explicitly _Secure_ ARM firmware (building with CONFIG_TRUSTED_EXECUTION_SECURE=y).

One way to do this is to enable the option by default in some ARMv8-M Board with TrustZone-M support.

[2019-05-14 15:57] ioannisg commented on #8784
Flash: Write-Through
 RAM: WriteBack + Write Allocate.

@pizi-nordic @aurel32 could we say this is done for ARM?

[2019-05-14 17:13] carlescufi commented on #15570
@joerchan can you post a quick update on this one? Is it still reproducible?

[2019-05-14 17:14] carlescufi commented on #15603
@SebastianBoe could you please take a look at this one?

[2019-05-14 17:17] carlescufi commented on #15713
Relabeled as enhancement since this has never been actually supported. Contributors welcome to address this.

[2019-05-14 17:22] carlescufi commented on #15917
@acsplayon what version of Zephyr are you testing with? There was a similar bug but was fixed a while back. Also, as @jfischer-phytec-iot mentioned, can you please post the code you have?

[2019-05-14 17:22] mbolivar commented on #15611
Hi @mnkp, I wanted to clarify my remarks about fast access functions during today's meeting.

I think that the `_raw` variants are good and should be included. The issue I am considering is a separate one that would be an enhancement to your existing work.

My main point is that it would also be useful for other device drivers that need fast access to GPIOs built into the SoC to have a generic API

[2019-05-14 17:26] ioannisg commented on #6375
We need this, if we would like to run tests with TRUSTED_EXECUTION_SECURE=y on ARM (#16148 ). We need to be able to set the security state target of non-banked exception, such as the BusFault.

[2019-05-14 17:29] andyross commented on #16138
Yes, HPET interrupt is global and delivers to every core by default.   The ISR takes a spinlock, so only one CPU will see a time delta and call z_clock_announce() with a non-zero argument.

I experimented briefly with setting external interrupts to "deliver to lowest priority CPU" in the ioapic, but that has a side effect of significantly complicating timeslicing, which has to share the same timer

[2019-05-14 17:32] carlescufi commented on #16141
Relabeling as enhancement since this is about the meaning of Kconfig options.

[2019-05-14 17:37] lodup29 opened #16150 "Make more LWM2M parameters configurable at runtime"
**Description**
Some LWM2M parameters which one would expect to be able to configure at runtime can only be configured at compile time:
- CONFIG_LWM2M_FIRMWARE_UPDATE_PULL_COAP_PROXY_ADDR
- CONFIG_LWM2M_PEER_PORT

To provide an API to override these, possibly through lwm2m_ctx, would seem like a convenient fit.

[2019-05-14 17:38] pfalcon commented on #16141
Interesting, then why @nashif blocks a legitimate pull request https://github.com/zephyrproject-rtos/zephyr/pull/16009 , based on this unrelated enhancement?

[2019-05-14 17:55] andyross commented on #16138
Oh, sorry, and there's a second part to your question: no, there is no scheduler IPI made on changes to the ready queue.  You'll get a synchronous wakeup of a thread on your CPU only, the other CPU will need to wait for another interrupt.  The alternative would be to interrupt all CPUs in the system any time any thread woke up, which is simply too expensive.

Note that there is (on x86_64) a sched

[2019-05-14 19:28] lodup29 opened #16154 "Fix various issues with handling of floating values within the LWM2M subsystem"
**Describe the bug**
- Regardless of its representation (_TLV_, _JSON_), it's not possible to pass a value > -1.0 and < 0.0 (ex: -0.5).  There's no _sign_ field in the [_float32_value_](https://github.com/zephyrproject-rtos/zephyr/blob/master/include/net/lwm2m.h#L345) and [_float64_value_](https://github.com/zephyrproject-rtos/zephyr/blob/master/include/net/lwm2m.h#L358) so the only way to represe

[2019-05-14 19:36] alexanderwachter opened #16155 "drivers: can: wrong value used for filter mode set"
`can_stm32_set_mode_scale()` function is called with filter_nr instead of bank_nr

**Impact**
Filter mode is not selected correctly and filter_index calculation is incorrect.

This bug is fixed with PR #15732 and backport #16060

[2019-05-14 19:42] lodup29 opened #16156 "Remove the LWM2M maximum number of instances limitation"
LWM2M [IPSO objects are currently limited to 20 instances](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/lwm2m/Kconfig.ipso) :
- LWM2M_IPSO_TEMP_SENSOR_INSTANCE_COUNT
- LWM2M_IPSO_LIGHT_CONTROL_INSTANCE_COUNT
- LWM2M_IPSO_TIMER_INSTANCE_COUNT

However this limitation only appears to be self applied through kconfig and doesn't seem to be related to a limitation within the

[2019-05-14 19:50] thomascp commented on #16138
Hi andyross,

Thank you for your quick reply!
1. The ISR takes a spinlock, so only one CPU will see a time delta and call z_clock_announce() with a non-zero argument.
You mean it works with the configuration of CONFIG_TICKLESS_KERNEL, but without it, every core which enters the ISR will announce 1 tick in the ISR routine.
Actually, I am not familiar with IA arch, so maybe for the hept,  CPU can pr

[2019-05-14 20:24] lodup29 opened #16158 "LwM2M: Fix incorrect last_block handling in the firmware write callback"
At least using a coap to http proxy (I never manager to trigger the callback otherwise) the _last_block_ parameter provided though the callback function (implemented through _firmware_block_received_cb_ in the LWM2M client example) is never set to true although the firmware is fully downloaded.

**To Reproduce**
- Build and run a firmware distribution point along with the Leshan demo server using

[2019-05-14 23:24] aasthagr opened #16159 "[Coverity CID :198591]Control flow issues in /drivers/sensor/adxl362/adxl362.c"
Static code scan issues seen in File: /drivers/sensor/adxl362/adxl362.c
 Category: Control flow issues
 Function: adxl362_init
 Component: Drivers
 CID: 198591
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-14 23:24] aasthagr opened #16160 "[Coverity CID :198590]Control flow issues in /drivers/i2c/i2c_sam0.c"
Static code scan issues seen in File: /drivers/i2c/i2c_sam0.c
 Category: Control flow issues
 Function: i2c_sam0_set_apply_bitrate
 Component: Drivers
 CID: 198590
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-14 23:24] aasthagr opened #16161 "[Coverity CID :198589]Control flow issues in /drivers/i2c/i2c_sam0.c"
Static code scan issues seen in File: /drivers/i2c/i2c_sam0.c
 Category: Control flow issues
 Function: i2c_sam0_set_apply_bitrate
 Component: Drivers
 CID: 198589
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-14 23:24] aasthagr opened #16162 "[Coverity CID :198588]Control flow issues in /drivers/gpio/gpio_cc13xx_cc26xx.c"
Static code scan issues seen in File: /drivers/gpio/gpio_cc13xx_cc26xx.c
 Category: Control flow issues
 Function: gpio_cc13xx_cc26xx_config
 Component: Drivers
 CID: 198588
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-14 23:24] aasthagr opened #16163 "[Coverity CID :198587]Incorrect expression in /tests/subsys/usb/desc_sections/src/desc_sections.c"
Static code scan issues seen in File: /tests/subsys/usb/desc_sections/src/desc_sections.c
 Category: Incorrect expression
 Function: check_endpoint_allocation
 Component: Tests
 CID: 198587
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-14 23:24] aasthagr opened #16164 "[Coverity CID :198584]Uninitialized variables in /drivers/led/ht16k33.c"
Static code scan issues seen in File: /drivers/led/ht16k33.c
 Category: Uninitialized variables
 Function: ht16k33_process_keyscan_data
 Component: Drivers
 CID: 198584
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-14 23:24] mnkp commented on #15611
@mbolivar thanks for the proposal.

I was hoping that removing the `access_op` from GPIO API would improve things significantly. It does improve things but there is still a fair share of pointer dereferencing going on. To test it I've implemented `gpio_pin_write_raw` on SAM E70 (ARM Cortex-M7) SoC which is a very friendly chip to work with.
[code]
with default Zephyr compiler optimization options

[2019-05-15 01:48] bwitherspoon commented on #16162
I can look into this.

[2019-05-15 01:56] embest-tech commented on #16132
@jhedberg
Thanks for you warm help. The device we use is 16KB version. We have started to purchase Nordic nRF52840-PDK board,which are mentioned in zephyr document, to help to analyse this issue. But we tend to use the low power M0 core for the real product.  You are the expert for the mesh stack so I'd like to ask if there is potential for reducing the RAM usage to a proper scale, such as from 90

[2019-05-15 04:37] embest-tech commented on #16132
@jhedberg
The problerm has been fixed. It's my mistake, gen_onoff_cli_op need to be add to the model which want to publish.

BT_MESH_MODEL_PUB_DEFINE(**gen_onoff_pub_cli**, NULL, 2 + 2);

static struct bt_mesh_model root_models[] = {
	BT_MESH_MODEL_CFG_SRV(&cfg_srv),
	//BT_MESH_MODEL_HEALTH_SRV(&health_srv, &health_pub),
	BT_MESH_MODEL(BT_MESH_MODEL_ID_GEN_ONOFF_CLI, **gen_onoff_cli_op**,

[2019-05-15 05:33] jhedberg commented on #16132
@embest-tech good to hear, I'll close this issue then.

Regarding mesh footprint reduction, it really depends on what your current configuration is and what features you have enabled. I've been through the exercise of fitting a 16k nRF51 target in the past with the BBC micro:bit board. The sample app used for that was `samples/bluetooth/mesh_demo`. You could e.g. try looking at its `prj_bbc_microb

[2019-05-15 05:33] #16132 closed

[2019-05-15 05:51] agansari opened #16167 "Implement interrupt driven GPIO on LPC families"
Enable PINT device to use GPIO interrupts.
Affects LPC54xxx and LPC55xxx.

[2019-05-15 06:25] lylezhu2014 opened #16168 "Require level2 interrupt support for ARM cortex-M0P core"
According to the ticket #15133. A feture request is created to require level2 interrupt support for ARM cortex-M0P core

[2019-05-15 06:26] lylezhu2014 commented on #15133
@ioannisg I created a ticket #16168 to address this requirement.

[2019-05-15 06:34] ioannisg commented on #15133
Great, then, I think you can close this one

[2019-05-15 06:35] #15133 closed

[2019-05-15 07:35] rlubos commented on #16145
Hi,

you should be able to use OpenThread APIs, the trick is you need to obtain `otInstance` pointer from the networking stack. The instance pointer is encapsulated within `openthread_context` structure inside the network interface, I think you should be able to obtain it with a combination of `net_if_get_first_by_type` and `net_if_l2_data`.

Just keep in mind, that eventually we aim to have a pro

[2019-05-15 07:56] avisconti opened #16170 "CI fails because warning in LOG_ERR() in drivers/i2s_ll_stm32.c"
The i2s_ll_stm32 driver makes use of LOG_ERR with a wrong argument type:

   LOG_ERR("%s: err=%d", __func__, LL_I2S_ReadReg(cfg->i2s, SR));

Infact, the LL_I2S_ReadReg() function returns uint32_t, while %d requires 'int' as a type.
As a consequence, the compiler returns a warning which is finally mapped to error during
Continuos Integration (CI) tests.

[2019-05-15 07:59] avisconti commented on #16170
Fixed by #16140

[2019-05-15 08:00] parthitce commented on #15714
@erwango Thank you very much for that. I will check the same in my end today evening CEST.

[2019-05-15 08:18] carlescufi commented on #16150
@lodup29 this sounds like a very good first issue for a Pull Request. Would you like to give it a try?

[2019-05-15 09:04] SebastianBoe commented on #15603
Presumably, this is due to NOSTDINC not pointing to the correct directory, but I am unable to figure out how to set it correctly, so avoiding -nostdinc is OK.

[2019-05-15 10:01] rmstoi commented on #11617
New pcap, with correct Zephyr MAC address.

[ipv4-udp-bcast-dst2.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3182048/ipv4-udp-bcast-dst2.pcap.gz)

[2019-05-15 10:29] jhedberg commented on #15714
@erwango what's the reason to disable enforcing ATT flow control? Is this bug in the controller?

[2019-05-15 11:22] erwango commented on #15714
@jhedberg, I'm not quite sure.
Use case was not working, and a bt_att warning message was generated "Ignoring unexpected request", linked to flow control enforcement.
I don't have controller source code so, I can't comment much more.

[2019-05-15 11:51] galak commented on #15603
Take a look at the PR here and discussion, we might need to resurrect this:

https://github.com/zephyrproject-rtos/zephyr/pull/13648

[2019-05-15 11:59] lodup29 commented on #16150
@carlescufi sure. I'd just like to hear from the lead developer (Mike Scott) fist to make sure that lwm2m_ctx is the proper place for LWM2M specific parameters.

[2019-05-15 12:19] masz-nordic commented on #15917
After revisiting: SetConfiguration(1) stalls on reattach without chip restart.
Bisection leads to 2b58594e9033eda383534270b15237a51df3f485
@carlescufi I think this issue should have higher priority as it breaks USB3CV tests too.

[2019-05-15 12:31] erwango opened #16177 "STM32: Could not compile with CONFIG_PINMUX=n"
**Describe the bug**
STM32 targets won't compile with CONFIG_PINMUX=n.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/basic/minimal
2. west build -b nucleo_f334r8 -- -DOVERLAY_CONFIG="common.conf no-mt.conf no-timers.conf arm.conf"
3. See error

**Expected behavior**
Compilation ok

**Impact**
Minimal build ko

**Screenshots or console output**
[code]

**Environment (please compl

[2019-05-15 12:41] carlescufi commented on #16177
I actually hit this yesterday! I was writing a minimal sample (`samples/basic/minimal`) and that did not work with ST boards because it disables PINMUX

[2019-05-15 13:04] finikorg commented on #15917
Wasn't the issue fixed in

[code]

[2019-05-15 13:05] finikorg commented on #15917
I will check this issue

[2019-05-15 13:21] finikorg commented on #15917
Apparently we fail because we have added extra checks, in this case endpoints are already enabled and re-enabling them fails. Right way would be disabling endpoints on cable disconnect.

[2019-05-15 13:29] carlescufi commented on #15917
@finikorg I know that @barsok is looking at this, can you provide a PR or code snippet?

[2019-05-15 13:40] acsplayon commented on #15917
@finikorg / Andrei.  I am sorry that I don't have time to do a pull request and update my code, as with most  engineers always under the gun.  You will find that just disabling the endpoints upon detach will not be enough to completely correct the bug (it is only 1 part of 3).  If you read the original bug request I document what I found in my investigation of this issue. Fixing the endpoints will

[2019-05-15 13:52] carlescufi commented on #15917
@acsplayon thanks for the feedback and help fixing this. Can you simply do something like:

`git show <commit SHA>`
if you have committed your fixes in a particular commit? Then you can paste that output in a GitHub Gist:

https://gist.github.com/

or directly in a comment in this issue.

[2019-05-15 13:53] carlescufi commented on #15917
Also feel free to join our Slack channel: https://tinyurl.com/yarkuemx and we can help you out there

[2019-05-15 13:58] pabigot commented on #12626
See https://github.com/zephyrproject-rtos/zephyr/pull/15510#issuecomment-492665490 for a use case that requires an API change to fully support late-to-set.

[2019-05-15 14:09] acsplayon commented on #15917
I have created a gist with the output of 'git diff <file>' on the two files I needed to modify.  I didn't not revisit all of the different drivers for all of the supported USB chips, only the Nordic driver because that is the hardware I have.

https://gist.github.com/acsplayon/b594d6b2207f8923edb071fdee499b36

[2019-05-15 14:45] carlescufi commented on #15917
Thank you @acsplayon, much appreciated!

@barsok @finikorg can one of you take a look at the patch in the file and submit a PR as appropriate?

[2019-05-15 14:48] mbolivar commented on #15611
Yes, I understand this is not a universally supported register type. However, I believe that the existence of the fastled library shows that there is a small set of "types" of GPIO output registers, which we can support through a common API. E.g. if `gpio_get_output_register` errors out, the driver could fall back on `gpio_get_output_set_register()`, `gpio_get_output_clear()` register, etc., with

[2019-05-15 15:13] erwango commented on #16177
:-), I hit this when testing your minimal sample this morning

[2019-05-15 16:25] bbolen opened #16185 "Compile error using entropy.h in C++ code"
When compiling a C++ application that includes entropy.h, the compiler generates the following error:

include/misc/util.h:53:1: error: template with C linkage
template < class T, size_t N >

This is a result of a couple of include directives within the C linkage wrapper in entropy.h

A fix has been submitted to #16183

[2019-05-15 16:31] jfischer-phytec-iot commented on #15917
@loicpoulain please take a look, particularly at the re-initialization of the transfer slots after DC_RESET event.

[2019-05-15 16:39] mike-scott commented on #16122
@sunkyl Did you want to submit your changes as a PR so we can discuss there while looking at code?

[2019-05-15 16:44] mike-scott commented on #16150
@lodup29 I agree that `CONFIG_LWM2M_FIRMWARE_UPDATE_PULL_COAP_PROXY_ADDR` is probably something that we should save int the context and be able to change if needed.  However, `CONFIG_LWM2M_PEER_PORT` is just the default port used when no port is explicitly set in the connection URL:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/lwm2m/lwm2m_engine.c#L4080

I don't have a s

[2019-05-15 16:45] mike-scott commented on #16150
@lodup29 Feel free to setup a PR with this change and we can discuss there.

[2019-05-15 16:46] mike-scott commented on #16156
@lodup29 Agreed.  Feel free to submit a PR removing the upper range in the Kconfig files.

[2019-05-15 16:51] mike-scott commented on #16158
@lodup29 Thank you for bringing this up.  It might be that over time the logic to the last_block handling has been broken (from the callback perspective).

We calculate last_block here:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/lwm2m/lwm2m_obj_firmware_pull.c#L295

And then check for a write callback here:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsy

[2019-05-15 17:01] galak commented on #16185
thanks for submitting this bug.

[2019-05-15 17:33] parthitce commented on #15714
@erwango I still see the same problem with some additional errors after applying the patches.

[code]

RPI end:
[code]

Thanks for your help.

[2019-05-15 17:56] szymonnnm commented on #16145
@rlubos @jcorde Thank you very much for your responses!

Following them, I've been able to obtain the `openthread_contex` structure and use functions from the OpenThread API such as ex. `otThreadGetNetworkName`.
Unfortunately, `otThreadSetNetworkName` didn't work, it returns `OT_ERROR_INVALID_STATE` so I guess it's because according to this function's docs:
[code]
I tried to use it at the very beg

[2019-05-15 19:15] loicpoulain commented on #15917
Ok I'm going to have à look and test this change.

[2019-05-15 19:30] mbolivar commented on #6823
With @marc-hb 's work and sphinx+breathe updates, the build is fast enough for me, so I'm going to close this for now.

[2019-05-15 19:30] #6823 closed

[2019-05-15 19:30] mbolivar commented on #6770
We've released v1.14 with west, so I'm closing this.

[2019-05-15 19:30] #6770 closed

[2019-05-15 19:31] mbolivar commented on #15156
Should we close? Looks like the process PR was merged. Nice work @aescolar!

[2019-05-15 21:42] jcorde commented on #16145
Hi @szymonnnm.
**About otThreadSetNetworkName**
OpenThread automatically initializes before main. So you should stop it before modifying anything.
In my project, we were able to modify the credentials by stopping the interface first.
You can how we did it at https://github.com/CESARBR/zephyr-knot-sdk/blob/master/core/src/net.c#L115.
Please, notice that we call the functions in this sequence:
1. `o

[2019-05-15 23:44] frantony opened #16191 "boards/arm/{olimexino_stm32, stm32_min_dev}: USB pinmux setup is skipped"
**Describe the bug**
USB-related pinmux setup is skipped for two stm32f103-based boards: olimexino_stm32 and stm32_min_dev.

**To Reproduce**

Compile ```samples/subsys/usb/cdc_acm``` for ```olimexino_stm32`` with ```#error 1``` inserted into USB-related block:

[code]

**Expected behavior**
After inserting ```#error 1``` I expect compilation abort, but compilation success.

The file boards/arm/st

[2019-05-16 05:56] jhedberg commented on #15714
@erwango the other HCI driver exceptions where the ATT flow control is disabled have well understood technical reasons: they're cases where USB HCI transport is used, and due to USB having ACL data and HCI events in different endpoints this creates a potential race condition where these get received in the wrong order, making the host think that a request wasn't yet sent when it already receives t

[2019-05-16 06:21] nordic-krch commented on #15196
@jimparis sounds reasonable. I am afraid about the case when log is called from the thread which is part of log processing path, e.g logs in shell instance. Then `K_FOREVER` would block logging and user is left in blind, hard to for him to determine the reason. One option would be to no use `K_FOREVER` to something limited (e.g. 100ms). User will experience logger choking and that could be a hint

[2019-05-16 07:24] rlubos commented on #16145
@szymonnnm `otThreadSetEnabled(instance, false)` is the API function you need, it will stop the Thread network and allow reconfiguration. Once you are done, restart the network with `otThreadSetEnabled(ot_context->instance, true)`. The code posted by @jcorde looks like a very good example on how this should be done.

Regarding `otNetworkTimeGet`, for me, it looks like an obvious issue with OpenThr

[2019-05-16 07:33] erwango commented on #15714
Node of the issue should lie in the following messages, but seems too much subtle to my eyes.
[code]

[2019-05-16 07:34] finikorg commented on #15917
I am thinking about following approach

[code]

[2019-05-16 07:44] erwango commented on #15714
@parthitce, peripheral sample requires some flash configuration which is not yet available on disco, this could be deactivated though:
[code]
Then, on my side, I've been testing using Android apps like NRF Connect or ST BLE Profile. I don't have RPI to test with.

Also, this is not the case for this test case for me right now, but I know following option has enabled to avoid some issues like 'Ille

[2019-05-16 07:56] parthitce commented on #15714
@erwango Thanks for feedback. Will check again with the disabled BT settings today.

[2019-05-16 07:58] lemrey commented on #16023
Hi @jli157, if you are trying to transfer an image using MCUboot's Serial Recovery mode over USB, you'll need to turn on `CONFIG_BOOT_SERIAL_CDC_ACM` (which in turn selects `CONFIG_USB_CDC_ACM`). Note, this does not use the USB DFU class.

Then, you must be able to disable USB from firing interrupts (`usb_disable`) otherwise those, if not handled by the application, will crash.

If you want to use

[2019-05-16 09:01] pizi-nordic opened #16195 "k_uptime_delta(): Defective by design"
The k_uptime_delta() API is widely used in Zephyr tests. However due to flaw in the design, the values returned by k_uptime_delta() depends on the uptime of the system if (1000 / CONFIG_SYS_CLOCK_TICKS_PER_SEC) is not an integer. As result, multiple tests are failing (example: https://github.com/zephyrproject-rtos/zephyr/issues/15983).

Cause:
The k_uptime_delta() calculates delta time using two t

[2019-05-16 09:01] pizi-nordic commented on #16195
FYI: @andyross, @nashif, @carlescufi, @pabigot

[2019-05-16 09:10] aescolar commented on #15156
Closing this as further progress seems very unlikely.

@mbolivar That PR was a precursor to what was proposed here. None of these proposals has been taken in.

[2019-05-16 09:10] #15156 closed

[2019-05-16 09:14] hakehuang opened #16196 "display_mcux_elcdif driver full support frame buffer features"
when I enable the samples/display cases for RT1050 boards ( patch can be found https://github.com/hakehuang/zephyr/commit/986880ba138e6c8f9e88634fdd239b25d7aa19ac)
there are many frame buffer functions that are required by cfb/cfb_customer_font/cfb_shell samples

propose to add framebuffer function support for elcd driver.
below framebuffer APIs are better to have

[code]

[2019-05-16 09:18] hakehuang commented on #16196
@MaureenHelm

[2019-05-16 09:27] jhedberg commented on #15714
@erwango I don't see anything wrong with that. @Vudentz do you?

[2019-05-16 10:01] Vudentz commented on #15714
= bt: bt_att: Ignoring unexpected request                                         37.941300

Weird, that shouldn't happen as there should not be anything pending or perhaps it still waiting att_rsp_sent? I can see the packet completed update though, perhaps we need more debug to log exactly why this is happening.

[2019-05-16 10:02] jfischer-phytec-iot commented on #16196
cfb is designed for the monochrome displays, there are other things i would like to improve, support for rgb pannels has low priority.

[2019-05-16 10:09] erwango commented on #15714
Great to see my eyes are not the problem here :-)

@Vudentz, I can provide log from the beginning, if github allows

[2019-05-16 10:10] erwango commented on #15714
So here it the log, from the boot:
[code]

[2019-05-16 12:08] jli157 commented on #16023
Do you mean CONFIG_MCUBOOT_SERIAL as the recovery mode? Actually, I'm not using either the recovery mode or CONFIG_BOOT_SERIAL_CDC_ACM. I'm using the DFU mode by enabling the option `CONFIG_BOOT_WAIT_FOR_USB_DFU` which will directly uses the DFU module implemented by Zephyr (subsys/usb/dfu) to transfer a firmware image to the slot1. I think it is reasonable to use the DFU mode as well as  the `MCU

[2019-05-16 12:09] #16162 closed

[2019-05-16 12:17] #16025 closed

[2019-05-16 12:36] galak opened #16202 "Improve help for west build target"
The current help for `west build -h` gets (for `target`):

[code]

It wasn't at all obvious at first reading what `target` meant here.  Since this is Zephyr specific, I think it would be useful to have an example for how to invoke the 'run' target for qemu. (unfortunately double use of run)

[2019-05-16 12:42] Benichou34 opened #16204 "Build STM32 : generate hex file fail"
**Describe the bug**
Build displays the following errors messages:
[code]
**To Reproduce**
Steps to reproduce the behavior: Build "Hello world" sample with nucleo_F413zh board.

**Expected behavior**
Generate hex file.

**Environment:**
 - OS: Windows 10 x64
 - Toolchain: GNU ARM toolchain 8-2018-q4-major
- Ninja 1.9.0.20190208
- CMake 3.14.4

[2019-05-16 12:45] galak opened #16205 "Add support to west to flash w/o a build, but given a binary"
Support something like:

`west flash -b <BOARD> [-r RUNNER] <FILENAME>`

Which should allow flashing the board with <FILENAME> w/o doing any type of build.

This is kinda related to:

https://github.com/zephyrproject-rtos/west/issues/124

[2019-05-16 12:55] SebastianBoe commented on #16204
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/12257

[2019-05-16 12:55] #16204 closed

[2019-05-16 13:28] ioannisg opened #16210 "ARM: initialization sequence might be not using all of interrupt stack"
The interrupt stack is defined using the `K_THREAD_STACK_DEFINE(<requested size>) `kernel macro. In some architectures, for example the ARM architecture without requirement for stack start alignment, the size of the stack, defined with `K_THREAD_STACK_DEFINE() `is larger than `<requested size>` due to possibly a stack guard.

First, of, all, this is not yet needed - we do not support MPU-based sta

[2019-05-16 13:32] ioannisg commented on #16210
The reset.S code in the other ARCHes is pretty similar, but we won't see a bug as long as K_THREAD_STACK_DEFINE does not reserve any extra space besides what is requested by CONFIG_ISR_STACK_SIZE

[2019-05-16 13:32] ioannisg commented on #16210
FYI @andrewboie

[2019-05-16 13:38] kapi-no opened #16211 "NVS: sector erase at startup (2-sectors configuration)"
I am trying to understand the NVS code and evaluate the stability of this module. In this process, I stumbled across logic at the end of nvs_startup() function, which seems suspicious to me. Here is the relevant code excerpt:

	/* if the sector after the write sector is not empty gc was interrupted
	 * we need to restart gc, first erase the sector before restarting gc
	 * otherwise the data may no

[2019-05-16 13:42] kapi-no commented on #16211
CC: @Laczen

[2019-05-16 13:52] nvlsianpu commented on #16211
cc @lemrey

[2019-05-16 14:24] Laczen commented on #16211
@kapi-no, the idea is the following: when it finds data in the next sector it was doing a gc from the next sector to the present sector. So to keep it simple we just erase the present sector and restart the gc operation. The valid ate's that were in the present sector will be written again by the gc operation.

How is the stability of the code evaluation ?

[2019-05-16 15:04] nvlsianpu commented on #16211
So there are sequence  of sectors:
(1st) write sector
(2nd) dirty by not finished GC destination sector
(3rd) closed sector which was the source of not finished GC

As I understand in case such situation was detected the 2nd sector should be erased, and then GC should be called again. Looks like the 1st sector is erased.

How is the stability of the code evaluation ?
We have been observing data lo

[2019-05-16 15:07] Benichou34 commented on #16204
Hello @SebastianBoe,
Please note that since PR #16022, generation of hex file for STM32 is activated by default.
So, this issue appears all the time, for each build.

[2019-05-16 15:17] Laczen commented on #16211
There are only 2 sectors: write sector (also the dirty sector) and the next (closed) sector. The write sector only contains data that is also in the next sector

That is not good, do you mean data loss or data not written ? In the case of gc interruption you can expect the data that was meant to be written to be lost as this will only be done after gc has been completed.

[2019-05-16 15:23] mbolivar commented on #16202
The use of `west build -t run` for QEMU is documented in the getting started guide:

https://docs.zephyrproject.org/latest/getting_started/index.html#run-the-application-in-qemu

[code]

Several other usage examples are documented in the page for west build:

https://docs.zephyrproject.org/latest/guides/west/build-flash-debug.html#basics

[code]

What exactly is missing here? The `west build -h` o

[2019-05-16 15:26] mbolivar commented on #16205
Something like this could definitely be done on a per-runner basis. I'm not sure offhand if it can be done in general; we rely on the build directory for various bits of context necessary to flash, but we should be able to pull that from the board directory without doing a build in some cases.

[2019-05-16 16:00] mbolivar commented on #15448
Closing since the submitter says they've figured it out and hasn't replied in the past month.

[2019-05-16 16:00] #15448 closed

[2019-05-16 16:02] mbolivar commented on #16202
See also https://github.com/zephyrproject-rtos/zephyr/issues/5501 for a related open issue related to the QEMU devices.

I didn't do it because I already faced enough backlash about "forcing" people to use west, and those targets have been special-cased and done their own thing since the Kbuild days.

I think most of that pushback has been resolved, though, and I've heard from 4 people in the past

[2019-05-16 16:03] mbolivar commented on #5501
Upgrading the priority since I've received several questions about this recently.

[2019-05-16 16:29] #15794 closed

[2019-05-16 16:54] andrewboie commented on #16210
Affects x86 as well since privilege mode stacks are part of the array created by K_THREAD_STACK_DEFINE(), we could save 4K.

Need to check on ARM but likely wasting both guard area and privileged stack.

[2019-05-16 17:05] Vudentz commented on #15714
I guess you are missing CONFIG_BT_DEBUG_ATT so we can see the effect of things like Number of Completed Packets, that usually clears the pending flag which causes the error on the last line.

[2019-05-16 17:22] galak commented on #16202
I guess I'm hoping that the help we get from the tool is a bit more useful than having to go to online pages.

[2019-05-16 17:25] jwknaup opened #16215 "FIFO queue data seems to get overwritten"
When implementing a fifo queue, do the data items need to be persistent until they are read out of the queue?

In the below code, my output is 22, when I would expect it to be 12.

[code]

I am using v1.14.0 and building for a nrf52 board

[2019-05-16 17:35] yerabolu opened #16216 "tests/kernel/timer/timer_api fails on nrf51_pca10028 board"
**Describe the bug**
test_timer_periodicity test case failure in tests/kernel/timer/timer_api on nrf51_pca10028 board.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf51_pca10028
3. make
4. See error

**Expected behavior**
All test cases should pass without any assertion failure or crash.

**Screenshots or console output**

[code]
**Environment (plea

[2019-05-16 18:28] jli157 commented on #16215
You need to create a new instance for a new data item in the function `put`.  Otherwise, there is only one instance in the queue and it is always overwritten by the next `put` operation.

[2019-05-16 18:56] jwknaup commented on #16215
So like this?

[code]

[2019-05-16 19:34] jli157 commented on #16215
The tx_data should not be a local variable since it will be invalid once the function `put` quits. You can use either malloc or set up a [mempool](https://docs.zephyrproject.org/latest/reference/kernel/memory/pools.html) to allocate a buffer for your new data item.

[2019-05-16 19:35] jukkar commented on #16215
as @jli157 just commented, you cannot send stack variables via fifo.

[2019-05-16 20:33] aurel32 commented on #8784
@ioannisg Yes, I confirm this is done for ARM.

This is also done for static allocations with `__nocache`. It's not clear if it should also be done for dynamic allocations.

[2019-05-17 01:49] jli157 commented on #15497
@carlescufi and @jfischer-phytec-iot can you reopen this issue? I verified that the issue happened again on the latest master ( fc3270).  Even the command `dfu-util -l` can't list correct partition table. It seems the dfu mode is not very stable.

My test is on a real Ubuntu 16.04 Linux instead of a VM. Thank you!

[2019-05-17 02:58] hakehuang commented on #16196
in this case, do we have any plan to add a general framebuffer support?

[2019-05-17 03:46] frantony opened #16223 "stm32: Unable to send 64 byte packet over control endpoint"
**Describe the bug**
cdc_acm_composite does not work on olimexino_stm32. Reverting commit e5cbe6a9e7 (usb: cdc: Add unique PIDs for each sample) fixes the problem.

**To Reproduce**
Steps to reproduce the behavior:

1. compile ```subsys/usb/cdc_acm_composite``` sample
[code]
2. burn zephyr image into olimexino_stm32;
3. connect olimexino_stm32 to linux host via USB;
4. reset olimexino_stm32;
5. No

[2019-05-17 04:31] hakehuang opened #16224 "tests/subsys/storage/flash_map meet mpu hardfault in twr_ke18f board."
**Describe the bug**
when enable the flash_map test for twr_ke18f board, Ican see below message
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f ..
3. make
4. See error

**Expected behavior**
the image 1 can be use  for testing.

**Impact**
falsh config error in twr_ke18f.dts for image_1
[code]

**Screenshots or console output**
[code]

[2019-05-17 04:31] hakehuang commented on #16224
@MaureenHelm

[2019-05-17 05:40] alexanderwachter commented on #16215
@jwknaup you can use a message queue instead (`k_msgq_*`).
https://docs.zephyrproject.org/latest/reference/kernel/data_passing/message_queues.html

[2019-05-17 06:39] hakehuang opened #16225 "tests/kernel/msgq/msgq_api twr_ke18f fails with assert"
**Describe the bug**
assert failure

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f ..
3. make
4. See error

**Expected behavior**
PASS

**Impact**
message queue issue

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK
 - Commit SHA: c8708d9

[2019-05-17 06:40] hakehuang commented on #16225
@MaureenHelm

[2019-05-17 06:50] hakehuang commented on #16225
tests/kernel/semaphore/sema_api
tests/kernel/semaphore/semaphore
tests/kernel/timer/timer_api
tests/kernel/workq/work_queue_api/
has the same failure

[2019-05-17 07:04] ioannisg commented on #16210
Don't know how much of an issue it is (might only affect boot code). But it's certainly something we might want to work on

[2019-05-17 07:12] kapi-no commented on #16211
Where is it ensured that the next (closed) sector has the same data as the previous one (the dirty one)?

And thanks for some explanation so far.

[2019-05-17 07:40] Laczen commented on #16211
This is done in the nvs_write() routine. The way this works is: is there sufficient space to write the new data, if not first do gc. This ensures that the gc operation is starting in a fresh empty sector: so all data in the gc operation is coming from the closed (last sector). Ones the gc operation is finished the write of new data will be performed (unless there is no more space available).

Your

[2019-05-17 07:41] erwango commented on #15714
@Vudentz , I just had a try enabling CONFIG_BT_DEBUG_ATT?
Though, for some reason, this does display more traces.

Using following config, I don't get more debug traces:
[code]
Using following config, I do see the traces, but at a later step, not reached in with the first config
[code]
Trace:
[code]

[2019-05-17 07:59] erwango commented on #15714
@parthitce, I've been able to use bluetoothctl (not on RPI though), I can connect with instruction 'connect'. But I don't think that pair command could work with current peripheral sample.

[2019-05-17 08:01] parthitce commented on #15714
@erwango Should I need to enable any specific defconfig option apart from PR 16146 ?

[2019-05-17 08:11] erwango commented on #15714
@parthitce, I've tested with:
[code]
But maybe CONFIG_LINKER_SORT_BY_ALIGNMENT=n is  not needed

[2019-05-17 08:12] parthitce commented on #15714
@erwango Thanks. I will check it now.

[2019-05-17 08:24] jfischer-phytec-iot commented on #15497
I also noticed several issues on the current master, on only with dfu class. Please also note, that some parts of the usb code has been changed. Can you please test `sudo dfu-util -l` on the latest master?

[2019-05-17 08:58] ioannisg opened #16226 "ARM: IsInIsr(): inconsistencies between doc and implementation"
**Background:**
We have the following API for assessing whether we run in an ISR:
[code]

**Issue**:
Then, we have the following internal documentation for the ARM implementation of it:
[code]
From that I understand that _"taking a fault in Thread mode"_ should **not** be considered as running in ISR.

Now, I am wondering: how about _"taking a double fault in Thread mode"_? Should that be consider

[2019-05-17 08:59] erwango commented on #16223
@masz-nordic, seems related to https://github.com/zephyrproject-rtos/zephyr/pull/14106

[2019-05-17 09:13] metc opened #16227 "Zephyr env: unset var in conditional activation"
**Describe the bug**
When loading the Zephyr environment on Linux, a variable is unset in a conditional activation.

**To Reproduce**
Steps to reproduce the behavior:
1. set -eu
2. source ${ZEPHYR_GIT_ROOT}/zephyr-env.sh
3. zephyr-env.sh: line 15: ZSH_VERSION: unbound variable

**Expected behavior**
`-u` treats unset variables as an error when performing parameter expansion. There should be no err

[2019-05-17 09:25] hakehuang opened #16229 "tests/kernel/common fails at test_atomic on twr_ke18f board"
**Describe the bug**
test_atomic meets mpu failure

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f ..
3. make
4. See error

**Expected behavior**
test PASS

**Impact**
kernel can not work well

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - OS: ( Linux )
 - Toolchain (Zephyr SDK, ...)

[2019-05-17 09:25] hakehuang commented on #16229
@MaureenHelm

[2019-05-17 09:34] parthitce commented on #15714
@erwango Thanks. The sample worked fine. I am able to find the GATT UUIDS and there isn't any crash.

[code]

[2019-05-17 09:39] parthitce commented on #15714
@erwango I also tried mcuboot + smp_svr. I am able to start the application without any problem. But when I try communicate with the target over bluetooth 2nd time, I am facing another exception.

Still I am managed to upload the new image by reset + re-do i.e. the first time it always works, but fails running the 2nd time.

Can you share any clues to fix this? If not in this bug, can I open a ano

[2019-05-17 09:43] masz-nordic commented on #16223
I do not have the `olimexino_stm32` board, so here is my setup:
Board: `nrf52840_pca10056`
OS: Ubuntu 16.04.1, kernel 4.15.0-48

Everything seems to work fine:
[code]

From your error `usb 2-1.1: can't set config #1, error -32` I would expect this has something to do with [problem I mentioned in other issue](https://github.com/zephyrproject-rtos/zephyr/issues/15917#issuecomment-492630853).

@frant

[2019-05-17 09:58] erwango opened #16231 "Add CONFIG_UART_DYNAMIC_SETTINGS option"
**Is your enhancement proposal related to a problem? Please describe.**
Add an option to disable dynamic settings in uart.h (uart_configure, and uart_configure_get).
This saves around 500 bytes of flash per UART device (seen on STM32)

**Describe the solution you'd like**
Add a config UART_DYNAMIC_SETTINGS which would be conditional for uart settings related apis:
 - uart_configure
 - uart_configu

[2019-05-17 09:59] erwango opened #16232 "STM32: implement pinmux api"
**Is your enhancement proposal related to a problem? Please describe.**
pinmux.h is not implemented for STM32 targets

**Describe the solution you'd like**
Implement pinmux API for stm32 series

[2019-05-17 10:15] parthitce commented on #15714
@erwango Additional information about the new problem. I am missed enabling `CONFIG_MCUMGR_SMP_UART=y` for smp_svr example. Now after enabling this defconfig, there is no crash observed.

To observe it, I have opened bluetoothctl in one shell and tried running mcumgr in another. Now after running the mcumgr, the RPI bluetooth controller itself going down. Not sure why. I have captured the `btmon`

[2019-05-17 10:32] benolayinka commented on #12775
@pawelzadrozniak any luck?

[2019-05-17 10:38] hakehuang opened #16234 "tests/benchmarks/latency_measure can not calculate the real time thread switch for twr_ke18f"
**Describe the bug**
tests/benchmarks/latency_measure can not meet real time requirement for twr_ke18f

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f ..
3. make
4. See error

**Expected behavior**
test pass

**Impact**
real time schedule for tasks

**Screenshots or console output**
[code]

**Environment (please complete the following informat

[2019-05-17 10:39] hakehuang commented on #16234
@MaureenHelm

[2019-05-17 11:09] kapi-no commented on #16211
Here is another question from me (also related to the startup function):

	/* possible data write after last ate write, update data_wra */
	while (1) {
		empty_len = fs->ate_wra - fs->data_wra;
		if (!empty_len) {
			break;
		}
		rc = nvs_flash_cmp_const(fs, fs->data_wra, 0xff, empty_len);
		if (rc < 0) {
			goto end;
		}
		if (!rc) {
			break;
		}
		fs->data_wra += fs->write_block_size;
	}

Why i

[2019-05-17 11:17] erwango commented on #15714
Can you open a new issue for this exception?
Resolution generally goes faster if we're able to clearly separate issues.

Maybe this should be raised to https://github.com/apache/mynewt-mcumgr, then.

[2019-05-17 11:20] Laczen commented on #16211
@kapi-no, the nvs_write function will first write the data and afterwards the ate. If the ate for whatever reason does not get written, the data will already be there. This is data without an ate. This region cannot be used for writing data because it already has data and you cannot write the flash twice. So at startup it is checked if there are regions like this and the data_wra is updated just a

[2019-05-17 11:20] parthitce commented on #15714
Sure, I understand.

Am not sure. The same use case works fine with nrf52840_pca0056 target. So I am not sure whether the problem is with `mcumgr`.

Thanks for you help. I will close this issue now and open a new one for mcumgr related.

[2019-05-17 11:24] erwango commented on #15714
@parthitce , thanks for your understanding.

Though, I'm reopening the issue since according to @jhedberg and @Vudentz current proposed solution might not be the most appropriate.

[2019-05-17 11:28] erwango opened #16235 "STM32: Move STM32 Flash driver to CMSIS STM32Cube definitions"
**Is your enhancement proposal related to a problem? Please describe.**
Current STM32 flash driver relies on flash_registers.h header files that should be created each time a new STM32 series is ported in Zephyr.
All definitions that are needed to implement the driver are available in `ext/hal/st/stm32cube/stm32YYxx/soc/stm32xxxxxx.h` files.

**Describe the solution you'd like**
Remove `soc/arm/st

[2019-05-17 11:31] n3rd4i opened #16236 "[docs] Windows installation guide, git part, is installed with non-intended configuration"
**Describe the bug**
If one decides to follow the **windows installation guide #1** from zephyr wiki you will later have an issue with git. Default git-for-windows installations breaks line endings. It converts them from LF to CRLF. Because of this the project will break when trying to source the *.sh environment (from WSL or VM) with this **zephyrproject** installation.

**To Reproduce**
Steps to

[2019-05-17 12:03] erwango opened #16237 "disco_l475_iot1: samples/bluetooth/ipsp ko since 3151d26"
**Describe the bug**
`samples/bluetooth/ipsp` doesn't work anymore on disco_l475_iot1 since merge of 3151d265726fb528d31d8e1ee8b35004e901cfc4

**To Reproduce**
Go before 3151d265726fb528d31d8e1ee8b35004e901cfc4
Test `samples/bluetooth/ipsp` (using CONFIG_NET_L2_BT_ZEP1656=y)
It is possible to ping the device from a remote
Go after 3151d265726fb528d31d8e1ee8b35004e901cfc4
Test `samples/bluetooth/ip

[2019-05-17 12:05] pizi-nordic opened #16238 "k_cycle_get_32() API is useless in some Zephyr configurations"
TL;DR:
`CONFIG_USERSPACE=y` + `CONFIG_TIMER_READS_ITS_FREQUENCY_AT_RUNTIME=y` = No reference for k_cycle_get_32().

The `CONFIG_USERSPACE` option introduces strong separation between the application and the
kernel memory. The `CONFIG_TIMER_READS_ITS_FREQUENCY_AT_RUNTIME` makes the `CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC` define useless leaving the `sys_clock_hw_cycles_per_sec()` function the only sour

[2019-05-17 12:07] erwango commented on #16237
@Vudentz , @jhedberg, this is more fyi than a real bug I'd like to see solved quickly.
This regression seems limited to disco_l475_iot1 (due to the fact it is BT4.1?).

Anyway, I've done a bit of archeology to find out the exact root cause of the regression, so I prefer to log it so information is not lost.
This use case is not a priority for me now, so I don't have much more time to spend on it,

[2019-05-17 12:29] #16107 closed

[2019-05-17 12:31] pizi-nordic commented on #16238
Currently this bug, together with https://github.com/zephyrproject-rtos/zephyr/pull/15230 (which prevents the tests from **not using** userspace if platform supports it), blocks https://github.com/zephyrproject-rtos/zephyr/pull/16203,  which is a fix for https://github.com/zephyrproject-rtos/zephyr/issues/15983.

[2019-05-17 12:41] carlescufi commented on #16236
This is not a bug, because for WSL or a VM we clearly state to follow another set of instructions, which will install the native git client for those:
https://docs.zephyrproject.org/latest/getting_started/installation_win.html#option-2-windows-10-wsl-windows-subsystem-for-linux

[2019-05-17 12:47] pizi-nordic commented on #16238
FYI: @nashif, @andrewboie, @carlescufi

[2019-05-17 13:53] carlescufi commented on #16236
In general it is not a good idea to share a tree between `cmd.exe` and WSL or a VM, because of these type of issues (there are others, like file permissions). I recommend you have separate Git trees, each cloned with the appropriate `git` executable

[2019-05-17 14:09] jbrzozoski commented on #16143
I *just* bumped into this, too.  Fix is just to use CLOCK_MONOTONIC when getting the base reference inside clock_settime.

[2019-05-17 14:48] szymonnnm commented on #16145
Thank you very much! Following your comments, I've been able to make it work!
As for the `otNetworkTimeGet`, I will create an issue in the OT repository as suggested.

[2019-05-17 15:04] Benichou34 opened #16239 "Build: C++ compiler warning '-Wold-style-definition'"
**Describe the bug**
Build  with C++ files displays the following warning message:
`cc1plus.exe: warning: command line option '-Wold-style-definition' is valid for C/ObjC but not for C++
`

**To Reproduce**
Build any projet with cpp files and compilation warnings to level 1.

**Environment :**
OS: Windows 10 x64
Toolchain: GNU ARM toolchain 8-2018-q4-major
Ninja 1.9.0.20190208
CMake 3.14.4

[2019-05-17 15:06] #16163 closed

[2019-05-17 15:06] #15770 closed

[2019-05-17 16:28] psidhu commented on #16232
Quick question: Are we going to ever move to pinmux in dts?

[2019-05-17 16:45] andyross commented on #16138
Ah, indeed. #1 is a bug.  Looks to me like the clock is going to run Ncpu times as fast as it should if you enable SMP but not tickless (which is sort of pathological -- ticked kernels at this point are for resource constrained systems that don't want to pay for the extra complexity in the ISR).

As far as #2 goes: that's doable if you have two CPUs, but it doesn't scale well -- every scheduler ch

[2019-05-17 17:20] andrewboie commented on #16236
Yeah this doesn't seem right, you shouldn't be mixing WSL and native Windows applications, you will run into all kinds of issues.

[2019-05-17 17:26] AdamMooers opened #16240 "USB Bluetooth and DFU classes cannot be enabled simultaneously on nRF52840"
**Describe the bug**
Whenever the USB DFU class (`USB_DFU_CLASS`) and the USB Bluetooth class (`USB_DEVICE_BLUETOOTH`) are both enabled, neither works correctly. I have tested DFU and Bluetooth separately and both work. DFU also works when the bluetooth kernel module is removed in Linux (via modprobe btusb).

**Configuration (prj.conf)**
[code]
**To Reproduce**
- source zephyr/zephyr/zephyr-env.sh

[2019-05-17 18:47] andrewboie commented on #9904
We plan on using a 32khz timer for the Microchip boards instead of SYSTICK, we have an interest in helping resolve these issues as well.

[2019-05-17 18:47] andrewboie commented on #9904
@nashif can we scope this for 2.0?

[2019-05-17 18:52] lorepieri8 commented on #15706
@jukkar
It was indeed some networking capability missing in docker. Using

`docker run --cap-add=NET_ADMIN --device /dev/net/tun:/dev/net/tun  -it f69f013e46ef /bin/bash`

where `f69f013e46ef` is the CONTAINER ID will fix it.

[2019-05-17 23:48] zayralobo opened #16243 "std::vector push_back() not working correctly"
**Describe the bug**
When I use push_back() on a std::vector, I get incorrect values pushed back into my vector. The first value is consistently pushed back incorrectly, while the next few values seem to consistently be correct and then the later values are incorrect again. I get similar results when running on either a SAM E70 Xplained or ST Nucleo L476RG.

**To Reproduce**
prj.conf:
[code]

main

[2019-05-18 08:42] Laczen commented on #16211
@kapi-no, @nvlsianpu It was mentioned that data loss was discovered. This seems like a big bug to me, could you please elaborate this ?

[2019-05-18 12:46] lodup29 commented on #16150
@mike-scott Indeed I missed that. The UDP port can be set through the URL by appending ":UDP_PORT". I see no reason to dissociate the two.
However the client example is a little misleading as it checks for the ':' character to detect if it is an IPV6 address and if so it will encapsulate the whole thing (including the port) within [...]. How about changing the client demo to build the server URL a

[2019-05-18 19:03] ioannisg commented on #16229
I can check it on the freedom board - is this similar?

[2019-05-20 02:13] hakehuang commented on #16229
@ioannisg  which frdm board? we do not have ke18 frdm support. and I do not see this issue on other zephyr enabled frdm boards.

[2019-05-20 07:04] erwango commented on #16232
@psidhu: Yeah, but from my view, this is likely to be the last piece converted to dts.
Reason is I see 2 prerequisites that are not there yet:
- To be easy to use, it will require that we're able to generate code from dts (at least: not only #define 's).
- We need a Linux like pinctrl API, used widely, so we only have one API to focus on for dts > code transition.

[2019-05-20 08:08] aescolar commented on #16215
It would seem this question has been answered => closing. If that is not the case, please reopen it.

[2019-05-20 08:08] #16215 closed

[2019-05-20 08:23] eibe85 commented on #15181
I think perhaps I was wrong. I was looking at implementing the fix as andrewboie described but that turned out harder than expected to get trough the CI. However wen digging into the code I think I found that the problem is in the use of DMA on the UART and the printk function. It looks like the print buffer could be modified while the DMA is running and that there is no error handling if the prog

[2019-05-20 09:46] SebastianBoe commented on #16204
Noted.

[2019-05-20 10:46] eibe85 commented on #15181
Unfortunately I again looked at the wrong code so the bug still stands.

[2019-05-20 10:59] nvlsianpu commented on #16211
This take so much time as we ware trying to find the bug root.

We used 2 sector for NVS.

After first GC operation the 1st sector become scratch and the 2nd sector become write sector. And when, after that NVS was initialize (via reboot) again - it recognized 1st sector as write sector and 2nd as undone GC destination sector, so it cleared 2nd sector and  re-run GC, which causes data loss.

[2019-05-20 11:11] #11617 closed

[2019-05-20 11:55] Laczen commented on #16211
I think I have found what is causing this: in the startup there is the code:

[code]

If none of the sectors were closed you can normally set the address to the first sector, this is not valid for a system with only two sectors. In the case of two sectors you will always have the case that none of the sectors are closed.

[2019-05-20 11:58] nvlsianpu commented on #16211
^^ Yes that is my judgment as well.

[2019-05-20 12:00] nvlsianpu commented on #16211
I will send patch a fix this.

[2019-05-20 12:04] kapi-no commented on #16211
I have extended the NVS test suite to cover this scenario in this PR: https://github.com/zephyrproject-rtos/zephyr/pull/16255. The test that I have added should fail til this bug is fixed.

[2019-05-20 12:16] jfischer-phytec-iot commented on #16240
@AdamMooers you need two patches below to get it working stable on Zephyr 1.14.0 (cebe115)

https://github.com/zephyrproject-rtos/zephyr/pull/15747
https://github.com/zephyrproject-rtos/zephyr/pull/14662

[2019-05-20 12:35] Laczen commented on #16211
A simple patch could be:
[code]

[2019-05-20 12:57] kapi-no commented on #16211
Maybe, we should move it outside this loop so this doesn't affect performance when more than 2 sectors are defined? We can put the following code block right after sector iterating loop:

	for (u16_t i = 0; i < fs->sector_count; i++) {
		(....)
	}

	if (fs->sector_count == 2) {
		nvs_sector_advance(fs, &addr);

		rc = nvs_flash_cmp_const(fs, addr - ate_size, 0xff,
			sizeof(struct nvs_ate));
		if

[2019-05-20 13:00] ioannisg commented on #12961
https://builds.zephyrproject.org/zephyrproject-rtos/sdk-ng/77/zephyr-sdk-0.10.0-pr-77-setup.run

[2019-05-20 13:10] Laczen commented on #16211
I think it's better to keep it in the loop. Even in the case where there are only 2 sectors you can detect a closed sector followed by an open sector and you would have jumped out the loop already with addr pointing to the correct sector. I made a correction above so that the check is only carried out for the last sector.

[2019-05-20 13:13] rmstoi opened #16257 "net: icmpv4: Zephyr sends echo reply with multicast source address"
If Zephyr receives echo request with multicast destination address 224.0.0.1 it sends response with source address 224.0.0.1. In logs it prints:

[code]

In this case source address should be that of Zephyr 192.0.2.1

[echo-reply-src-multicast.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3198044/echo-reply-src-multicast.pcap.gz)

[2019-05-20 13:26] #16227 closed

[2019-05-20 13:42] mbolivar commented on #16202
The problem is that if we try to do that, the `-h` output will be way too long for a command line tool, in my opinion.

There are a lot of tools that  make this tradeoff in my experience (short `foo -h` and details in `man foo` or the online help).

[2019-05-20 15:11] ioannisg commented on #16229
It seems the error is on the nxp_mpu.c module. I have tested this on frdm_k64f and the test is passing. So I was wondering how similar that board/MCU is to the one I have. Unfortunately, I don't have the twr_ke18f; how many MPU regions does that board have?

[2019-05-20 20:51] frantony commented on #16223
@masz-nordic @finikorg

I have just tried b5aefbd from #16193 . Alas ```cdc_acm_composite```  does not work on ```olimexino_stm32```.

Also I have tested #16193 on ```olimex_stm32_e407``` (see #16264). The result is the same: ```cdc_acm_composite```  does not work, reverting commit e5cbe6a (usb: cdc: Add unique PIDs for each sample) fixes the problem.

[2019-05-20 23:18] marc-hb commented on #16000
It should indeed be easy (famous last words) to implement something like this in `check_compliance.py`, feel free to submit a PR.

However I'd like the long term to at least *start* before ~sinking~ spending time in the "whack-a-mole" short term. Having some support ticket filed could/would:
- hopefully stop the long term from slipping every day;
- get github's advice for a better short term, for

[2019-05-20 23:34] marc-hb commented on #15156
Is this disappointment at the low number of votes, lack of consensus off-line or just lack of time? In the first case and now that PR #15054 has been merged  (thx!), I hope following-up with more "traditional" PRs would get more attention than this issue and its less "familiar" voting system.

[2019-05-21 00:54] andrewboie commented on #16238
what I think is needed is a new, private z_ prefixed API, like z_sys_runtime_clock_hw_cycles_per_sec() which returns runtime calculated system clock frequency. make it a system call. and then wrap sys_clock_hw_cycles_per_sec to either call that or just return CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC

[2019-05-21 02:18] david-foo opened #16268 "Add 32K RAM support for nRF51822 REVC/microbit board"
I'm using microbit board for bluetooth mesh estimate. But the 16K RAM is not enough, so I replace the chip wich a 32K one. The question si how to let the build system to adapt to the 32K memory map? I mean how to change the microbit board info from 16K to 32K in a direct way.

[2019-05-21 06:05] aescolar commented on #15156
@marc-hb lack of consensus.

[2019-05-21 07:26] tangzhq opened #16272 "bluetooth mesh proxy filter"
in proxy.c bool bt_mesh_proxy_relay(struct net_buf_simple *buf, u16_t dst)
if (!client_filter_match(client, dst)),   it should be client_filter_match(client, src address)?

[2019-05-21 08:10] finikorg commented on #16223
I think real bug is with sending string descriptor > 64 bytes on stm32, I will check it

[2019-05-21 08:13] pdunaj opened #16273 "Calling k_work_submit can reenable interrupts"
**Describe the bug**
We were hit by a recursive spinlock assert.
[code]

Quick investigation has shown that it hits in unexpected place and the only possible explanation is that interrupts are being re-enabled while spinlock is held.
The code snippet is as follows:
[code]

Further investigation shown that `k_work_submit` can cause reschedule which can take CPU away from the `funcA` and cause inter

[2019-05-21 08:20] pdunaj commented on #16273
Following seems to fix the bug:
[code]

[2019-05-21 08:24] pdunaj commented on #16273
@pizi-nordic

[2019-05-21 08:41] hakehuang commented on #16229
@ioannisg according to the reference manual https://www.nxp.com/docs/en/reference-manual/KE1xFP100M168SF0RM.pdf ,
8 program-visible 128-bit region descriptors, accessible by four 32-bit words each
and I check the board mpu config there has only 4 region defined

[2019-05-21 08:50] ioannisg commented on #16229
This looks, clearly, an issue with the number of MPU regions that are available.

FYI, the test_atomic is the only test in the suite that is executed in "user"mode, which comes with few default application memory definitions. And this seems to exceed the available number of regions, leading the test to failure.

@hakehuang could you please "extract" the same information for board `frdm_k64f` and c

[2019-05-21 08:53] ioannisg commented on #16273
@andyross FYI

[2019-05-21 09:00] hakehuang commented on #16229
this is k64f parts. @ioannisg
[code]

[2019-05-21 09:28] #16272 closed

[2019-05-21 09:28] tangzhq commented on #16272
no problem

[2019-05-21 09:33] Vudentz opened #16275 "setting_init crashes on qemu_x86 when setting BT_SETTINGS"
Steps to reproduce the behavior:
build test/bluetooth/shell
make run

uart:~$ bt init

***** Kernel Panic! *****
Current thread ID = 0x004000e0 (shell_uart)
eax: 0xffffffea, ebx: 0x00000000, ecx: 0x00516000, edx: 0x00516014
esi: 0x0001fba3, edi: 0x00400414, ebp: 0x0050660c, esp: 0x005065fc
eflags: 0x00000282 cs: 0x0008
call trace:
eip: 0x0000a509
     0x0000a546 (0x506620)
     0x0000e3f3 (0x5161b

[2019-05-21 09:40] pizi-nordic commented on #16238
I would rather name it k_cycle_freq_get() in order to relate it to k_cycle_get_32(). IMHO on platforms witch clock speed known at compile time, it could be a static inline returning constant value and syscall on the others. What do you think?

[2019-05-21 09:47] rmstoi opened #16276 "net: ipv4: Zephyr replies to link-layer broadcast packet"
Zephyr replies to a packet with link-layer broadcast destination but not IP mutlicast or broadcast destination address. According to [RFC 1122 3.3.6](https://tools.ietf.org/html/rfc1122#page-67) such packets should be silently  discarded.

[ll-bcast-icmp4.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3201854/ll-bcast-icmp4.pcap.gz)
[ll-bcast-tcp4.pcap.gz](https://github.com/zephyrpro

[2019-05-21 10:44] PhilippFinke opened #16278 "[Zepyhr v1.14.0] Unable to update FW with mcumgr over UART"
I'm using a nrf52840 as an USB BLE dongle on our custom board. Thereby I'm using a UART interface to update the FW with mcumgr (based on the smp_svr sample). Everything worked like a charm until I switched from Zephyr v1.13 to v1.14. Now I always get a "NMP timeout" when I try to communicate with the chip using mcumgr. I also had a configuration for the nrf52840_pca10056 board that worked perfectl

[2019-05-21 11:12] anangl commented on #15611
@mnkp Regarding the question I was trying to signal yesterday on slack. It's about configuring interrupts for handling a button, for instance. An application will get the flags defined for the button in DTS through a a generated macro, like `SW0_GPIO_FLAGS`. Ideally, it would just pass the value to the `gpio_pin_configure` function to get the pin properly configured, just like in the case of the L

[2019-05-21 11:23] carlescufi commented on #16278
Just to clarify, this is using which physical UART on the chip? Is it a CDC ACM UART that goes over USB or do you have an actual physical UART connected?

[2019-05-21 11:26] carlescufi commented on #16268
You need to change this line:
https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/bbc_microbit/bbc_microbit.dts#L8

So it points to this file instead:
https://github.com/zephyrproject-rtos/zephyr/blob/master/dts/arm/nordic/nrf51822_qfac.dtsi

[2019-05-21 11:27] PhilippFinke commented on #16278
On the nrf52840_pca10056 I'm using CDC ACM UART (I think there is no other way) and on my custom board I'm using a physical UART. In both cases I'm able to connect and use the UART console (e.g. with minicom) but unable to use mcumgr with the serial connection type.

[2019-05-21 11:35] pabigot commented on #16243
The values I see being displayed appear to be RAM addresses rather than the pushed value.

I can confirm that this problem is still present when #15603 is avoided by using `CONFIG_NEWLIB_LIBC=y` and when `ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb` is set to use the stock [gcc-arm-none-eabi-8-2018-q4-major](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu

[2019-05-21 11:40] pabigot commented on #16243
Resolved: Adding `CONFIG_HEAP_MEM_POOL_SIZE=8192` (which defaults to zero) fixes it.

So probably the code caused an exception to be thrown and ignored.

[2019-05-21 11:41] #16243 closed

[2019-05-21 11:56] pdunaj commented on #16273
The same issue is within `z_impl_k_wakeup` which causes similar issue e.g. when calling `LOG_ERR` under the spinlock. You can see that it check if we are in isr before calling `z_reschedule_unlocked` but is not checking if interrupts are disabled. This will cause exactly the same issue.

Personally I believe that all places that can be run under isr should not call reschedule at all.
Also if we ca

[2019-05-21 12:23] #13963 closed

[2019-05-21 12:25] #16143 closed

[2019-05-21 12:29] #15728 closed

[2019-05-21 12:37] #16257 closed

[2019-05-21 12:50] ioannisg commented on #16148
This could be done for mps2_an521, as soon as that gets merged, #16029

[2019-05-21 13:32] WilliamGFish opened #16289 "Driver: modem ublox-sara-r4 not compiling"
Attempting to use the UBlox srar-r4 modem driver and unable to compile:
DT_ not defined

**To Reproduce**
Added conf:
CONFIG_MODEM=y
CONFIG_MODEM_SHELL=y
CONFIG_MODEM_UBLOX_SARA_R4=y
CONFIG_NETWORKING=y
CONFIG_NET_OFFLOAD=y

# IPv6 support
CONFIG_NET_IPV6=n
CONFIG_NET_CONFIG_NEED_IPV6=n
# IPv4 support
CONFIG_NET_IPV4=y
CONFIG_NET_TCP=y
CONFIG_NET_UDP=y

1. west build -b particle_boron
2. See error

[2019-05-21 13:43] #16276 closed

[2019-05-21 13:54] WilliamGFish commented on #16289
#14057
The dts for the particle boron board mis-configured: (boards/arm/particle_boron/particle_boron.dts)

Currently is:
[code]
Needs to have "-gpio" removed; see below

[code]

Billy..

[2019-05-21 14:30] raveslave commented on #15025
@MarkWangChinese great to see this. Any plans to continue with Host support, as well as Audio Device 2.0?

[2019-05-21 14:54] tautologyclub commented on #15734
I can't reproduce this any longer - not sure what did it, because it seems that the twi driver was not relevantly modified after the rebase. But closing this is fine by me.

[2019-05-21 14:54] #15734 closed

[2019-05-21 15:46] andrewboie commented on #16238
I don't care what you call it, but you can't ifdef its definition.
The script that scans for syscall names in header files doesn't use the preprocessor.

[2019-05-21 15:49] andrewboie commented on #16273
We need some way to trigger rescheduling, for example if an ISR gives a semaphore, on the way out of the ISR if a high-priority thread (higher than the currently running one) was waiting on that semaphore, it needs to be scheduled.

[2019-05-21 15:58] mike-scott commented on #16289
@WilliamGFish Thanks for this!  I'll submit a fix today.

[2019-05-21 17:07] andyross commented on #16273
Yeah, that's a bug.  Note that this has never really done what you want: k_work_submit() (and anything else that calls z_reschedule()) has always acted as a schedule point and released your lock (and thus probably broken your synchronization).  It used to be nonfatal though, because irq_locks() are implicitly recursive (i.e. you can lock more than once) where spinlocks are not.  Now, you have to b

[2019-05-21 17:08] andyross commented on #16273
And @andrewboie : that's the way it works already.  On interrupt exit the scheduler chooses whoever the highest priority thread is.  But for obvious reasons you can't actually do the context switch in the interrupt context.

[2019-05-21 17:17] MaureenHelm commented on #16224
@brix will you please take a look at this?

[2019-05-21 17:23] carlescufi commented on #16236
Closing this as it's already documented as intended

[2019-05-21 17:23] #16236 closed

[2019-05-21 17:27] #16170 closed

[2019-05-21 18:49] frantony commented on #16223
@finikorg

I have tested #16274 on ```olimex_stm32_e407``` (see #16264).

#16274 fixes #16223 with one drawback: ttyACMx registration time interval has been dramatically increased.

Please see dmesg linux host output below.

The first one dmesg output: #16264 + revert e5cbe6a, the time between new USB device discovery and ttyACMx registration is less than **0.2s**:
[code]

The second one dmesg out

[2019-05-21 19:10] henrikbrixandersen commented on #16224
So, it fails in `flash_erase()` for image-1 due to an MPU hardfault. What I do not understand is, that if I expand the size of MPU region 3 (the flash region) in `soc/arm/nxp_kinetis/ke1xf/nxp_mpu_regions.c` to cover from 0x0 to 0x7FFFFFFF, the test passes.

@MaureenHelm Any idea what I am doing wrong in the current NXP MPU region configuration?

[2019-05-21 19:20] #16159 closed

[2019-05-21 19:24] henrikbrixandersen commented on #16229
@hakehuang @ioannisg I contributed the NXP KE1xF port, but I think I'll need some help in understanding this issue further.

[2019-05-21 19:30] #16090 closed

[2019-05-21 19:35] galak opened #16296 "dts generation in correct for 2 registers and no-size"
if we have something like:

[code]

We should generate:
[code]

instead we generate:
[code]

[2019-05-21 20:13] henrikbrixandersen commented on #16234
It works when doing `cmake -DBOARD=twr_ke18f -DCONF_FILE=prj_small_freq_divider.conf ..`.

[2019-05-21 20:27] #15964 closed

[2019-05-21 21:33] pfalcon opened #16303 "mbedtls: config-tls-generic.h: MBEDTLS_PLATFORM_NO_STD_FUNCTIONS seems ungrounded"
I recently spent a bunch of time debugging following issues: with debug logging enabled in mbedTLS, some messages are printed ok, some not, a bit of garbage was printed. Turned out, that we have MBEDTLS_PLATFORM_NO_STD_FUNCTIONS and MBEDTLS_PLATFORM_SNPRINTF_ALT defined in config-tls-generic.h. This causes mbedTLS to provide a dummy snprintf implementation, which then used in debug output which is

[2019-05-21 21:35] pfalcon commented on #16303
To elaborate, the patch I'm looking forward to is:

[code]

Before submitting that, I want to discuss any possible reason why MBEDTLS_PLATFORM_NO_STD_FUNCTIONS was enabled.

[2019-05-21 21:45] pfalcon commented on #16303
See also https://github.com/zephyrproject-rtos/zephyr/pull/16304 . While this ticket says: "we should not forcibly disable and mock libc functions in mbedtls, let them be", #16304 goes further, and says: "if user enabled extended API support in Zephyr config, automagically use those APIs with mbedTLS".

[2019-05-21 21:59] AdamMooers commented on #16240
@jfischer-phytec-iot I pulled down master (74f0106) today and enabled `IMG_ERASE_PROGRESSIVELY`. I left `DFU_DEFAULT_POLLTIMEOUT` at its 256 ms default. Unfortunately, it appears like the same thing is happening: The DFU class works if the BT class is disabled via `prj.conf` and vice versa.

Do I need to use an alternative branch?

[2019-05-22 01:40] #15652 closed

[2019-05-22 01:41] #16289 closed

[2019-05-22 01:45] wentongwu opened #16307 "cannot move location counter backwards error happen"
when kobject text area is greater than CONFIG_KOBJECT_TEXT_AREA, there will be "linker_pass_final.cmd:1130 cannot move location counter backwards (from 0000000060014bf8 to 0000000060014bd6) collect2: error: ld returned 1 exit status" error happen. Zephyr should prompt CONFIG_KOBJECT_TEXT_AREA should be larger instead of backwards location counter.

[2019-05-22 02:44] MarkWangChinese commented on #15025
Hi @raveslave, there is no usb host support plan in Zephyr currently as I know, what do you think about putting NXP MCUXpresso SDK USB HOST stack to Zephyr? (it works as Zephyr's part in subsys directory or NXP's part in ext/hal directory).

[2019-05-22 02:56] nashif commented on #14591
@ilanbiala no plans currently however, we would consider any contributions supporting this architecture.

[2019-05-22 03:09] #16164 closed

[2019-05-22 04:22] david-foo commented on #16268
@carlescufi  Thank you. It works.

[2019-05-22 04:22] #16268 closed

[2019-05-22 07:06] erwango commented on #15763
@yboutreux

[2019-05-22 07:12] yboutreux commented on #15763
There is indeed a break statement missing here, and https://github.com/zephyrproject-rtos/zephyr/pull/15824 from @maxxlife fixes it

[2019-05-22 07:14] finikorg commented on #16223
@frantony The real problem is with stm32 unable to send packet equal to 64 bytes to control endpoint (the string descriptor happens to be 64 bytes, if you change `USB Device Product` name by adding / removing character you get it "fixed"). My patch does not allow device to hang but does not fix stm32 issue. @ydamigos Could you check this?

[2019-05-22 07:29] rlubos commented on #16303
The answer for "why" is simple, just as any other config that was originally present int there - it is included in https://github.com/zephyrproject-rtos/zephyr/blob/master/ext/lib/crypto/mbedtls/configs/config-mini-tls1_2.h, which `config-tls-generic.h` is based on. Why was it in there, I have no clue. At the point it was created the debug logs were just fine. But indeed, something got broken over

[2019-05-22 07:34] pfalcon commented on #16303
@rlubos, Ok, thanks.

[2019-05-22 07:55] pizi-nordic commented on #16238
The script that scans for syscall names in header files doesn't use the preprocessor.

Ok. I have not known that.

[2019-05-22 08:21] hakehuang commented on #16229
@henrikbrixandersen ,per my understanding, the user_mode will requires more mpu region for a give thread. checking the z_arch_configure_dynamic_mpu_regions in arch/arm/core/cortex_m/mpu/arm_core_mpu.c. but I can not figure out how to avoid this. @ioannisg correct me if I am wrong.

[2019-05-22 08:28] nvlsianpu commented on #16211
fixed by #16280

[2019-05-22 08:28] #16211 closed

[2019-05-22 08:30] hakehuang commented on #16234
@hackermnementh this configure works. thanks

[2019-05-22 08:43] PhilippFinke opened #16313 "LMP Response Timeout / LL Response Timeout (0x22) after ~40s when using LE Secure Connections"
**Describe the bug**
I'm using the hci_usb sample (Zephyr v1.14) on the nrf53840_pca10056 board as a BLE-USB-Dongle under Linux (bluez 5.50). I want to connect a custom peripheral running Zephyr v14.0 on a nrf52840. The peripherial uses a fixed passkey and issues bt_conn_security(conn, BT_SECURITY_FIPS) in its connected event to establish a LE Secure Connection. After entering the correct passkey

[2019-05-22 08:50] rakons commented on #16273
Hi. I did not analyse how it is done in Zephyr, but on ARM, to make context switching safe it usually uses PendSV interrupt for that - then you do not have to check if interrupts are already blocked or not, you do not have to switch context by manual call inside functions that need that and finally, you would get context switch if needed just after interrupts are unlocked.

[2019-05-22 09:13] pfalcon commented on #16303
Posted https://github.com/zephyrproject-rtos/zephyr/pull/16315.

[2019-05-22 09:19] #15917 closed

[2019-05-22 09:30] carlescufi commented on #15497
@jli157 can you please retest this with the latest master?

[2019-05-22 09:30] erwango opened #16316 "ST modules organization"
## Introduction

Due to move of `ext/hal/st` to modules a reorganization of ST libraries is needed.
This issue is mainly a formal request about what was discussed in #16044 and summarized in https://github.com/zephyrproject-rtos/zephyr/pull/16044#issuecomment-493023435

### Problem description

`ext/hal/st` contains 2 different types of 'libraries' (in the most generic acceptance of the word):
- C

[2019-05-22 09:30] erwango commented on #16316
@avisconti, can you review ?

[2019-05-22 09:33] erwango commented on #16316
@nashif, created `modules` label. Feel free to edit.

[2019-05-22 09:40] carlescufi commented on #16278
@PhilippFinke

I assume you mean the JLink CDC ACM UART right?

[2019-05-22 09:41] carlescufi commented on #16278
@PhilippFinke just to make sure, can you try reproducing in current master?

[2019-05-22 09:43] PhilippFinke commented on #16278
With CDC ACM UART I mean the micro USB interface that is also used to flash the board.

I'm gonna give it a try with the Zephyr master.

[2019-05-22 09:50] carlescufi commented on #16278
@PhilippFinke 2 more things to take into account:

1) Can you try without MCUboot to see if there's an issue there?
2) When using the devkit, can you please take into account this: https://github.com/zephyrproject-rtos/zephyr/issues/14753

[2019-05-22 09:50] WilliamGFish opened #16318 "net: Network Offloading: Particle Boron"
**Describe the bug**
When attempting to use Offloaded Modem driver keep receiving MPU fault, see below.

The same driver works fine in v1.14.00; yet consistently fails in v1.14.99

**Expected behavior**
The driver should had over to the kernel once completed connection, as in previous version of Zephyr RTOS

**Impact**
Showstopper, using the same framework to build further modem drivers

**Screens

[2019-05-22 10:30] PhilippFinke commented on #16278
How can I switch from v1.14 to the master using west?

[2019-05-22 10:33] avisconti commented on #16316
@erwango
Yes, it seems aligned to what we said earlier.
Two points just for the sake of a better undertsanding:

1. Question: for microphone directory should we want to go with
            hal_st/stsensors/audio/microphone
    or with
            hal_st/stsensors/microphone

    I'm not against your proposal (first option), but I'm not sure we will ever have other than
    microphones sensors in a

[2019-05-22 11:03] jukkar opened #16320 "The routing option CONFIG_NET_ROUTING needs clarification"
The CONFIG_NET_ROUTING option says "IP routing between interfaces". This needs some more description/clarification what it means after we removed the RPL support from the system.
@rveerama1 can you take a look at this?

[2019-05-22 11:03] PhilippFinke commented on #16278
I tried running it with Zephyr master with and without mcuboot, but the problem still exists.

[2019-05-22 12:29] jfischer-phytec-iot commented on #16240
@AdamMooers Unfortunately, the combination hci_usb + usb_dfu does not work on master and 1.14.0 (with or without patches). Also combination hci_usb + msd did not work for me. There is ongoing work on compostite mode (#15818), after it is merged I will look for this issue again.

[2019-05-22 12:30] rmstoi opened #16323 "net: ipv6: tcp: unexpected reply to malformed HBH in TCP/IPv6 SYN"
If Zephyr receives TCP/IPv6 SYN with malformed Hop-by-Hop having wrong length, it replies with ICMPv6 Destination Unreachable (Port unreachable). Since the length of Hop-by-Hop option is wrong, Zephyr should instead send ICMP parameter problem message or silently drop the packet.

Note that it this packet is dropped for ICMPv6 and UDPv6.

[bad-hbho-len.pcap.gz](https://github.com/zephyrproject-rto

[2019-05-22 13:04] masz-nordic opened #16326 "USB3CV Chapter 9 Tests failures"
**Describe the bug**
Following USB3CV Chapter 9 tests fail on `nrf52840_pca10056`:
- 9.12
- 9.21
- 9.16

**To Reproduce**
1. Build `hid` sample for `nrf52840_pca10056`
2. Flash
3. Run USB3CV tests

**Expected behavior**
Tests pass.

**Environment (please complete the following information):**
- Zephyr commit: 03ef375f5f4b8a2ff864f97d155a058f3ae5a07a

[2019-05-22 13:35] mike-scott opened #16327 "doc: networking: overview has out of date info for LwM2M"
**Describe the bug**
The networking overview page: https://docs.zephyrproject.org/latest/guides/networking/overview.html states that LwM2M doesn't support DTLS or Bootstrap mode.  This was added a while back and doesn't match with the rest of the docs.

**To Reproduce**
View: https://docs.zephyrproject.org/latest/guides/networking/overview.html

**Expected behavior**
LwM2M documentation should mat

[2019-05-22 13:41] pizi-nordic commented on #16273
I think that this problem is much wider. There is a plenty of APIs which are calling z_reschedule() and friends, without checking if there is no spin/irq lock held in layers above. This issue raises a big question about overall stability of many existing and future subsystems. Especially, that the lock could be held several layers above the Zephyr API call.

I just did a short search in the code,

[2019-05-22 14:03] erwango commented on #16316
@erwango

Ok, I guess that this is something that can be fixed on the way.

Updated

[2019-05-22 14:09] avisconti commented on #16316
Yes, sure

Are you going to prepare the repos or will be @nashif doing that?

[2019-05-22 14:21] rakons opened #16329 "ztest teardown function not called if test function is interrupted"
**Describe the bug**
If a test function fails (call to ```ztest_test_fail```) or a ```ztest_test_pass``` is called from the function no teardown function is called.

**To Reproduce**
It is really enough to look into the code, but I may provide some tests if really required.

**Expected behavior**
Teardown function should be called even if ```ztest_test_fail```) or a ```ztest_test_pass``` is called

[2019-05-22 14:22] agansari opened #16330 "LPCXpresso55S69 secure/non-secure configuration"
we need to look at structuring this similar to how dts/arm/nordic/nrf9160* is done.  So that secure/non-secure can work cleanly in the future.

_Originally posted by @galak in https://github.com/zephyrproject-rtos/zephyr/pull/15647_

Memory and peripherals need to be configured as both secure and non-secure.

[2019-05-22 14:23] rakons commented on #16329
CC @jgke @nashif

[2019-05-22 14:54] #15232 closed

[2019-05-22 14:57] agansari commented on #6039
@MaureenHelm  @galak  I have this ready working, but it depends on pull #15647 as I developed and tested on LPC55S69.

[2019-05-22 15:02] erwango commented on #16316
I'm following recent rules concerning modules (https://github.com/zephyrproject-rtos/zephyr/pull/16081).

[2019-05-22 15:23] AdamMooers commented on #16240
@jfischer-phytec-iot Thank you for looking into this issue and for the information about the work on composite mode. I will be sure to keep an eye on future developments.

[2019-05-22 15:52] mike-scott commented on #15355
Driver added to Zephyr here: https://github.com/zephyrproject-rtos/zephyr/commit/1f199b300b8ca1ebdfccb9840dbb64262ff82199

[2019-05-22 15:52] nashif commented on #7403
already implemented

[2019-05-22 15:52] #7403 closed

[2019-05-22 15:52] #15355 closed

[2019-05-22 15:52] jukkar commented on #14668
This is more like an enhancement than feature.

[2019-05-22 15:55] mike-scott commented on #10965
Closed by: https://github.com/zephyrproject-rtos/zephyr/commit/c0d9e7fcb5c4a3329273f8b137187abb288feda5#diff-a56763253b3f0eebe8c067f6a3ebba0b

[2019-05-22 15:55] #10965 closed

[2019-05-22 15:58] aescolar commented on #5941
As just discussed in today's TSC, this is not big enough to qualify as feature request, but just as enhancement

[2019-05-22 16:04] raveslave commented on #15025
Even though I'd prefer if the host-support was a generic/native component in Zephyr, I'm totally fine with a NXP/i.MX RT specific host driver. As long as we can do "otg" device/host switching with dual usb-interfaces, we're good.

Would NXP be interested in doing this effort?

[2019-05-22 16:06] andyross commented on #16273
That's handled at the API layer, essentially.  The spinlockification work split the reschedule call into a few variants.  There is a z_reschedule_unlocked() call used in lots of spots where "I might have woken someone up and they might need to run".   This is the one that should be checking for an atomic (and not just ISR) context.  It's very reasonable that someone up the call stack might have th

[2019-05-22 16:07] andyross commented on #16273
And again: this isn't a new bug, it's been our behavior forever.  It's just that before we'd silently swap anyway while holding that lock, where now we detect it as an error.

[2019-05-22 16:11] andyross commented on #16273
@rakons: We do indeed use PendSV on ARM.  But that has its own gotchas.  Check the tree for instances of CONFIG_SWAP_NONATOMIC where we have to work around the resulting craziness.  Personally I don't think this is a win at all.  In any case Zephyr never actually context switches in interrupt context -- we have a separate interrupt stack so we can't suspend it.  Threads state gets saved at interru

[2019-05-22 16:28] nashif commented on #3040
we have a few ethernet drivers already...

[2019-05-22 16:28] #3040 closed

[2019-05-22 16:31] #4178 closed

[2019-05-22 18:42] mike-scott commented on #4178
Closing due to age, I'm assuming.

[2019-05-22 19:18] jukkar commented on #3396
This is already implemented.

[2019-05-22 19:18] #3396 closed

[2019-05-22 19:19] marc-hb commented on #12553
After a chat with @andyross I'm volunteering to add a new tag `emu_time` to the tests that fail when and only when qemu or any other overloaded emulator fails to provide a "good time". Tags more specific than just "flaky" will be useful to anyone trying to fix or avoid one of these particular issues.
Please start bikeshedding the name of this tag (or its existence) in 3, 2, 1,...

[2019-05-22 19:22] jukkar commented on #2333
This is very old one and I am not sure if this is really important to have. We have conformance testing tool that will tell whether we have suitable IPv6 supported -> closing for now.

[2019-05-22 19:22] #2333 closed

[2019-05-22 19:24] jukkar commented on #3442
This is old one and should work if CONFIG_NET_LOOPBACK is enabled -> closing for now.

[2019-05-22 19:24] #3442 closed

[2019-05-22 19:27] andrewboie commented on #12553
Please start bikeshedding the name of this tag (or its existence) in 3, 2, 1,...

Fine with me.

Anyone with spare development bandwith, someday I'd love this fixed once and for all, see #14173

[2019-05-22 19:27] jukkar commented on #3547
Old one that is probably no longer relevant/applicable as there has been lot of changes in network stack -> closing. Please do not reopen this one but if really needed, create a new issue with valid criterias what is missing/needed from network stack.

[2019-05-22 19:27] #3547 closed

[2019-05-22 19:31] jukkar commented on #5365
DHCPv4 test is currently using ztest -> closing.

[2019-05-22 19:31] #5365 closed

[2019-05-22 19:32] jukkar commented on #13897
Looks like this is no longer a valid issue -> closing.

[2019-05-22 19:32] #13897 closed

[2019-05-22 19:37] jukkar commented on #6605
As we do not have websocket support atm -> closing this for now.

[2019-05-22 19:37] #6605 closed

[2019-05-22 19:39] jukkar commented on #6086
This seems to be related to net_app API which was removed recently -> closing.

[2019-05-22 19:39] #6086 closed

[2019-05-22 19:42] jukkar commented on #15997
Already merged to 1.14 -> closing.

[2019-05-22 19:42] #15997 closed

[2019-05-22 19:43] jukkar commented on #15472
Please reopen if there is an issue. Anyway, closing for now.

[2019-05-22 19:43] #15472 closed

[2019-05-22 19:47] jukkar commented on #14633
I just tried this and did not see any issues -> closing.

[2019-05-22 19:47] #14633 closed

[2019-05-22 21:33] #16238 closed

[2019-05-22 21:42] carlescufi commented on #16273
@andyross `k_work_submit` is used extensively in our downstream, which provides additional subsystems to the one upstream, so this is a critical bug in this context. Is the new required API you mention, `z_arch_is_atomic` something you could draft?

[2019-05-22 22:10] mike-scott opened #16339 "openthread: off-by-one error when calculating ot_flash_offset for settings"
**Describe the bug**
OpenThread uses a CONFIG_OT_PLAT_FLASH_PAGES_COUNT to calculate the # of pages at the end of flash to use for storing OpenThread settings.  This calculation is done here:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/openthread/platform/flash.c#L33

There is an off by 1 error in this line:
[code]
The ending offset is actually 1 page earlier than it sh

[2019-05-22 22:11] mike-scott commented on #16339
@rlubos I know you want to solve the OpenThread storage in better ways, but this should probably be fixed first.

[2019-05-22 22:27] #16296 closed

[2019-05-23 01:03] tedd-an opened #16341 "Bluetooth: GATT Server failed to send Service Change Indication"
**Describe the bug**
GATT server failed to send Service Change Indication.
Ref: PTS GATT/SR/GAS/BV-01-C

**To Reproduce**
Steps to reproduce the behavior:
This was tested with PTS (Bluetooth SIG testing tool)

**Expected behavior**
GATT Server (IUT) should send Service Change indication to the client.

**Impact**
Test fail

**Environment (please complete the following information):**
Using AutoPTS

[2019-05-23 01:21] #16339 closed

[2019-05-23 05:28] wentongwu commented on #15446
I think the BUS FAULT error as below has already been fixed by PR https://github.com/zephyrproject-rtos/zephyr/pull/16099.

***** BUS FAULT *****
  Precise data bus error
  BFAR Address: 0xaaaaaaaa

[2019-05-23 05:58] jhedberg commented on #16341
Is this a recent regression, or something that's been there for a longer time? Should the fix be back ported to LTS?

[2019-05-23 06:11] jhedberg commented on #15916
Could this be the same as #16275 ? @n3rd4i could you try disabling `CONFIG_BT_SETTINGS` in the configuration?

[2019-05-23 06:30] nordic-krch opened #16343 "Provide functionality which allows checking if address is in read only memory"
**Is your feature request related to a problem? Please describe.**
Logger needs to distinguish string addresses between read only locations and read write locations.

**Describe the solution you'd like**
I would like to have public API call like `is_rodata(void *addr)`.

**Describe alternatives you've considered**
Alternatively, logger handles that locally but since it's generic functionality it w

[2019-05-23 07:51] anangl commented on #15611
After taking another look, I've got one more doubt. Why do we change the required behavior of `gpio_pin_{read|write}` functions so that they now are to operate on the logic level and then we introduce `gpio_pin_{read|write}_raw` functions that are to behave just like `gpio_pin_{read|write}` were supposed to so far?
Wouldn't it be clearer/safer to only introduce new functions that take into account

[2019-05-23 08:30] erwango commented on #15598
@Mani-Sadhasivam, can you check https://github.com/zephyrproject-rtos/zephyr/pull/15861 and comment of solving your querry?

[2019-05-23 08:40] carlescufi commented on #16343
Why not send a PR that moves the implementation that you already have in `log_core.c` to a new file in `lib/`?

[2019-05-23 08:57] nordic-krch commented on #16343
Because i'm not sure where to put it. those who has better system overview may have some suggestions.

[2019-05-23 09:06] carlescufi commented on #16343
I see 2 ways to go about this:

1. Add a new arch-specific function `arch_is_rodata()` that each architecture fills in, and then have a common entry point `is_rodata()` that calls the arch-specific code. This common entry point could be in `linclude/kernel.h` or `include/misc/addr.h`
2. Add a new function that is identical to the current one in `log_core.c` in `lib/os/addr.c` and add a new `includ

[2019-05-23 09:31] #16341 closed

[2019-05-23 10:22] ioannisg commented on #16343
@nordic-krch what is the purpose of this? Could you elaborate more?

Btw, if you need to, generally, assess in run-time the access permissions of an address, you could, alternatively, implement this using the mpu.

[2019-05-23 10:30] nordic-krch commented on #16343
@ioannisg i needed in the logger when i've added a functionality to detect logger misuse. Basically, in the logger you need to take special care if you are using %s with strings that can change between the moment log message is created and processing. I need to verify string address if and scream if it is not in read only memory. See #16310

[2019-05-23 11:00] #16307 closed

[2019-05-23 11:24] pabigot commented on #16273
AFAICT `k_poll_signal_raise()` has a similar behavior, in that it invokes `z_reschedule()` with the kernel spin lock that it holds, disregarding anything that might be held in the caller.  So the test with `z_arch_is_atomic()` might need to be added there too.  Assuming that test can detect that other spinlocks are also being held.

Or maybe this should be done in `z_reschedule()` where it should

[2019-05-23 12:36] rmstoi opened #16354 "net: ipv6: Zephyr does not reply to fragmented packet"
Zephyr receives fragmented packet, but does not reply. The same test is done with Linux DUT and it successfully replies to fragmented echo request.

[ipv6-frag-zephyr.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3212117/ipv6-frag-zephyr.pcap.gz)
[ipv6-frag-linux.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3212119/ipv6-frag-linux.pcap.gz)

[2019-05-23 13:26] #9898 closed

[2019-05-23 13:28] #16303 closed

[2019-05-23 13:28] #15983 closed

[2019-05-23 14:35] pizi-nordic commented on #16273
Just for reference: Here is the list of affected APIs (calling z_reschedule*()):

- k_mbox_put()
- k_mbox_get()
- k_mbox_data_get()
- k_mbox_data_block_get()
- k_mem_slab_free()
- k_mem_pool_free()
- k_msgq_put()
- k_msgq_get()
- k_msgq_purge()
- k_pipe_put()
- k_poll_signal_raise()
- k_queue_cancel_wait()
- k_queue_insert()
- k_queue_append()
- k_queue_prepend()
- k_queue_alloc_append()
- k_queue

[2019-05-23 14:47] ioannisg opened #16360 "ARM: Implement configurable MPU-based stack overflow guards"
Now that Lazy Stacking has been enabled for ARM (#15964 ) we need to address #14828.

Copying here the brief explanation:

_When Lazy Stacking is enabled, upon an interrupt, the stack area for the Floating-Point registers is **reserved** on the current stack, but the FP registers are **not** pushed onto the stack, so **no** MPU fault is triggered. The basic stack frame, however, will be pushed **b

[2019-05-23 14:47] ioannisg commented on #16360
FYI @andrewboie , feedback is appreciated here.

[2019-05-23 15:53] tedd-an commented on #16341
Hi @jhedberg

The issue was introduced with e0f3ab6 and it was a part of regression list. But we missed it I guess.
It doesn't need to be backported.