[2020-09-08 20:58] andrewboie commented on #26848
I'm not quite sure if `--no-gc-sections` is a supported configuration? Curious about your use-case at any rate.

[2020-09-08 21:18] LeHack commented on #26848
@andrewboie Check the referenced issue (#20136). It contained a similar discussion on whether it should or shouldn't be supported and the final decision was that it should.
As for the use case: we are running some integration test scenarios on Nordic HW using a C/Python framework, which allows us to remotely control and execute code on the test platform. This way we can have a single hex built and

[2020-09-08 21:23] andrewboie commented on #26848
Ah I remember this now. Thanks for the detail.

[2020-09-08 21:24] #24700 closed

[2020-09-08 21:24] #28146 closed

[2020-09-08 21:24] #28149 closed

[2020-09-08 21:35] aurel32 commented on #28197
@tejlmand  This issue has been introduced by commit c55c64e242ea7f3533f3245edf604d6fe3d3953f.

[2020-09-08 22:09] shileiphys opened #28202 "Adafruit TFT touch shield cap touch flipped sides left-to-right"
**Describe the bug**
I am working with nRF52840, Adafruit 2.8 TFT touch shield with capacitor touch, and I am using the **lvgl** for GUI.
1) If a button were put inside the left half screen, only touching the mirrored position in the right half screen can trigger the touch of the button.
-- I have no workaround for the issue.

2) quite often, the touch ability could be totally lost.
-- I have trie

[2020-09-08 22:53] vanti opened #28203 "Cannot flash TI boards using west"
**Describe the bug**
When flashing TI boards such as cc1352r1_launchxl or cc3220sf_launchxl using OpenOCD via the `west flash` command, the following error is seen:

[code]

This issue occurs after the changes in commit 3124c02987071b045b33bbfa2d12606b2ff0a757. Looks like there is now a requirement to set CONFIG_BUILD_OUTPUT_HEX in order for the hex file path to be passed to the runner.

**To Repr

[2020-09-08 23:56] nandojve commented on #28108
Hi @jakub-uC
Changed the code as
[code]
This is the result
[code]
List file, same point
[code]
Mock the SPI transfer method will fail at memcmp for obvious reasons but we should not see MPU Fault
[code]

I try test an old version and noted that is not ok. On that version, I got errors on subsys/shell/shell_fprintf.c at out_func. The error happen at `sh_fprintf->ctrl_blk->buffer_cnt == sh_fprintf->

[2020-09-09 00:13] andrewboie commented on #26621
This isn't a bug, it's just currently designed to catch issues using assertions and not return values.
This is a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/24609

[2020-09-09 00:13] #26621 closed

[2020-09-09 02:51] hakehuang commented on #27821
@dleach02 v2.4.0-rc1 still not removed

[2020-09-09 03:14] Zhaoningx commented on #28154
Hello @jfischer-phytec-iot , Although it is correct behavior, but you know, the daily testing is just testing automatically, it's reported a failure to me everyday, could you provide a solution to solve this failure?

[2020-09-09 03:28] Zhaoningx commented on #28153
Hi @nashif @pabigot , I totally agree with you all, but you know, daily testing is just testing automatically, and when running this test case, it will be blocked here 'uart:~$ ' to wait input until time out. And it will be reported as a failure in the daily report. Is there OK? And could you all provide a solution to solve this problem?

[2020-09-09 03:45] wentongwu commented on #27834
CONFIG_SRAM_BASE_ADDRESS is not guaranteed to be 0

[2020-09-09 03:53] wentongwu commented on #27647
agree, negative values have already been filtered out by line 476` zassert_true(brw >= 0, "Fail to read file");`

[2020-09-09 03:56] wentongwu commented on #27835
agree, CONFIG_KERNEL_VM_BASE is not guaranteed to be 0

[2020-09-09 04:43] hakehuang opened #28205 "kernel.timer.tickless: frdmk64f failure"
**Describe the bug**
     FAIL - test_timer_duration_period

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f ..
3. make
4. See error

**Expected behavior**
test_timer_duration_period

**Impact**
timer settings

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux)
 - Toolchain (e.g

[2020-09-09 05:05] hakehuang opened #28206 "mimxrt685_cm33: many cases has no console output seems hangs in kernel init."
[mimxrt685_evk_cm33.zip](https://github.com/zephyrproject-rtos/zephyr/files/5192703/mimxrt685_evk_cm33.zip)

**Describe the bug**
mimxrt685_cm33: many cases has no console output seems hangs in kernel init.

**To Reproduce**
please check attached report for timeout cases

**Expected behavior**
test can pass

**Impact**
some core setting for CM33 is not correct in kernel

**Logs and console output*

[2020-09-09 05:07] hakehuang commented on #28206
@MaureenHelm , @dleach02 , @mmahadevan108

[2020-09-09 05:07] Zhaoningx commented on #28152
I'm not familiar with the k64f board, I just ran commands '**west build -b frdm_k64f samples/subsys/canbus/canopen/ -DCONFIG_BOOTLOADER_MCUBOOT=y**' and the ran '**west flash**', and as you see, the failure will be reported, so do you think that is there right?

[2020-09-09 05:09] Zhaoningx commented on #28152
Hello @henrikbrixandersen , I'm not familiar with the test case, I just ran commands 'west build -b frdm_k64f samples/subsys/canbus/canopen/ -DCONFIG_BOOTLOADER_MCUBOOT=y' and then ran 'west flash', and as you see, the failure will be reported, so do you think that is this right?

[2020-09-09 05:11] hakehuang commented on #27421
in v2.4.0-rc1 this issues is gone.

[2020-09-09 05:11] #27421 closed

[2020-09-09 05:12] hakehuang commented on #28205
@MaureenHelm , @dleach02

[2020-09-09 05:16] hakehuang commented on #28156
@dleach02 , the recommand platform is FRDM_K64F which is Cortex-m4 platform, and I enable the cmsis-dsp cases for M4/M0+/M7/CM33 platform, as the cmsis-dap is a pure arm core function, it supposed to be supported on all NXP arm platform.

[2020-09-09 05:34] Zhaoningx commented on #28153
BTW, When using command '**sanitycheck**' to run this test case, human-computer interaction cannot be performed and report a timeout failure directly.

[2020-09-09 06:15] de-nordic commented on #27647
Marked as False Positive with no further action set.

[2020-09-09 06:15] #27647 closed

[2020-09-09 06:44] tejlmand commented on #27288
Did some further investigation on this:

Moved board out of Zephyr repo, and into a workspace repo, run cmake+ninja:
[code]
works without errors

Moved the sample out of Zephyr repo, updated `./../../kernel/sem.c` to absolute path `${ZEPHYR_BASE}/kernel/sem.c`.
Code is still in workspace, did cmake+ninja.

This reveals a different error than described in this PR, that abs path is not working.
[cod

[2020-09-09 07:12] henrikbrixandersen commented on #27203
@dleach02 Would it be okay if I assign this to you instead? I am out of ideas on what the root cause might be...

[2020-09-09 07:14] jfischer-phytec-iot commented on #27992
Works on nucleo_f413zh. @AntoineGL please retest with the correct size for `ioctl(fd, HIDIOCGFEATURE(...)..)`

[2020-09-09 07:15] emob-nordic commented on #28196
PR posted.

[2020-09-09 07:16] henrikbrixandersen commented on #28152
@Zhaoningx So you ran those commands manually and not via sanitycheck?

The output, you have posted, cannot come from the `samples/subsys/canbus/canopen/` sample. It looks like it is from the `samples/subsys/canbus/isotp` sample.

[2020-09-09 07:18] ABOSTM commented on #28184
@lowlander , I pushed a PR which solves the issue: #28182.

[2020-09-09 07:19] Zhaoningx commented on #28152
Let me check.

[2020-09-09 07:20] nordic-krch commented on #26280
Here is the story: nrf9160 in practice will work only with LFXO (high precision) but when starting it initially runs from LFRC because LFXO has 200ms startup time and LFRC has 600uS. Because of that assumption (LFXO is a must) LFRC has no calibration and 30% tolerance. This test runs before switching to LFXO and because of that results are so poor.

problem would be fix by #27398 (require clock st

[2020-09-09 07:24] henrikbrixandersen commented on #28108
What is your `CONFIG_EEPROM_SHELL_BUFFER_SIZE` set to? Is your main stack large enough to hold the buffer? Can you try lowering the EEPROM shell buffer size or increasing the stack size?

[2020-09-09 07:25] agansari commented on #27639
@carlescufi sorry i can't find the CID on the coverity site.
It's a non issue, depends on how the coverage software interprets the macros used in definition and function.

[2020-09-09 07:26] nordic-krch commented on #26280
They will always be a bit inaccurate because busy wait runs from HF RC which has 8% accuracy. Additionally, even when LF XTAL is configured test may be executed before it is stabilized. Again this would be solved by #27398.

[2020-09-09 07:29] jakub-uC commented on #28108
@nandojve I observed in the past similar problems with the shell when the thread stack was too low. I agree with @henrikbrixandersen proposals.

[2020-09-09 07:40] henrikbrixandersen commented on #28093
@lowlander I have read through the SPI API documentation again. From my point of view the documentation is clear on what can be changed in the struct between consecutive calls: https://docs.zephyrproject.org/latest/reference/peripherals/spi.html#c.spi_config - but I might be biases, since I have used the SPI API extensively.

The reasoning behind this (the pointer compare, the fields you are allow

[2020-09-09 07:43] nvlsianpu commented on #27203
Looks like potential a twr_ke18f SoC flash driver issue - might it be caused by a memory monitoring while a flash erase operation was in progress? Usually erase operation does erase entire flash page (is page size 2 KB?), so this looks strange, like page erase operation failure.
I don't know SoC used so can't really help here.

[2020-09-09 07:45] kurddt opened #28211 ""High" current drawn when ussing RTT log back-end with CONFIG_LOG_IMMEDIATE and CONFIG_LOG_BACKEND_RTT_MODE_DROP"
**Describe the bug**
When a log statement is executed with `CONFIG_LOG_IMMEDIATE`, `CONFIG_LOG_BACKEND_RTT_MODE_DROP=y` set and RTT log back-end selected, a great deal of current is used.

**To Reproduce**
Steps to reproduce the behavior:
1. Get any sample application where the MCU is mostly IDLE:
  * `CONFIG_LOG_IMMEDIATE=y`
  * `CONFIG_LOG_BACKEND_RTT=y`
  * `CONFIG_LOG_BACKEND_RTT_MODE_DROP=y`

[2020-09-09 07:49] nordic-krch commented on #28068
@pdunaj can you close if https://github.com/nrfconnect/sdk-nrf/pull/2870 helped? It seems like not zephyr downstream issue.

[2020-09-09 07:55] kurddt commented on #28211
One interesting fact is that the core seems to be on for around 100ms which is the default retry timeout

[2020-09-09 07:56] tejlmand commented on #26937
In fact, the SES-Nordic Edition calls CMake in the background, so you should see same error messages in SES and command line.

But what I do notice, is this:

Those two:
[code]
indicates that the SAME Kconfig file is sourced twice from different locations.
Note, that when you have:
[code]
in your manifest, then the `nrf/Kconfig.nrf` is automatically included by the build system, so if you ALSO do

[2020-09-09 07:58] #28068 closed

[2020-09-09 08:07] Zhaoningx commented on #28175
I have added the solution to solve this issue.

[2020-09-09 08:09] Zhaoningx commented on #28175
I have added the solution to solve the bug, and I'll close this issue if there is no longer anything wrong.

[2020-09-09 08:17] de-nordic commented on #27835
@wentongwu Marked as "False Positive" with Action set to "Ignore".

[2020-09-09 08:19] de-nordic commented on #27834
@wentongwu Marked as "False Positive" with Action set to "Ignore"

[2020-09-09 08:21] #27835 closed

[2020-09-09 08:22] wentongwu commented on #27834
Thanks @de-nordic

[2020-09-09 08:22] #27834 closed

[2020-09-09 08:29] Zhaoningx commented on #28152
Hi @henrikbrixandersen , I double checked it just now, the output is normal, and as follow:

*** Booting Zephyr OS build v2.4.0-rc1-16-g11f44c11aac5  ***
[00:00:00.006,000] <inf> fs_nvs: 2 Sectors of 4096 bytes
[00:00:00.006,000] <inf> fs_nvs: alloc wra: 0, ef0
[00:00:00.006,000] <inf> fs_nvs: data wra: 0, 1f8
[00:00:00.006,000] <dbg> canopen_storage.canopen_settings_set: restored object dictionar

[2020-09-09 08:37] #28152 closed

[2020-09-09 08:38] AntoineGL commented on #27992
Hi @jfischer-phytec-iot , tested with getting 129 bytes (including 1 for report ID), doesn't change anything.
Here's the usbmon trace showing that it requires and sends 128 bytes:
[code]
Note that:
- On the light bug, I never have a timeout on a GET
- On the hard bug, GETs only timeout after a timeout on a SET. (It is always a SET that triggers the hard bug)
I see that you disabled usb driver and

[2020-09-09 08:42] holmes81 commented on #28061
Thanks all so much,
the reason is CONFIG_BOARD_ENABLE_DCDC  default enabled,after I disabled it,the issue was fixed

[2020-09-09 08:47] jfischer-phytec-iot commented on #27992
@AntoineGL well it is then specific to your SoC support in usb_dc_stm32 driver.

[2020-09-09 08:50] armandciejak opened #28216 "socket: send fails instead of blocking when there are no more net buffers"
**Describe the bug**
When trying to send a large amount of data to a TCP socket an application can quickly exhausts the net buffers. The standard behavior of `send` it to block until buffers are released (see man page extract below), but in Zephyr `send` returns an error.

Send man page:

**To Reproduce**
Steps to reproduce the behavior:
1. Apply patch in [test-tcp2.zip](https://github.com/zephyrp

[2020-09-09 08:51] #28138 closed

[2020-09-09 08:52] armandciejak commented on #28131
I opened another issue #28216 for the problem regarding the behavior of send, so that only the crash problem is addressed in this issue.

[2020-09-09 08:56] kurddt commented on #28211
I found something quite strange, that might be related to my issue
in Kconfig:
[code]

So `CONFIG_LOG_BACKEND_RTT_RETRY_CNT` and `CONFIG_LOG_BACKEND_RTT_RETRY_DELAY_MS` are only defined if `CONFIG_LOG_BACKEND_RTT_MODE_BLOCK` is set but in log_backend_rtt.c:

[code]

So in non-blocking mode the delay and retry count will be set to 10.

[code]

The previous code then shows that if in synchronous mod

[2020-09-09 09:11] carlescufi commented on #27992
@erwango this seems related to the USB device driver for STM32.

[2020-09-09 09:15] carlescufi commented on #27599
@pabigot can you test it over UART as well? I suspect that this might be related to #25672

[2020-09-09 09:19] carlescufi commented on #26656
@jfischer-phytec-iot can you take a look?

[2020-09-09 09:19] erwango commented on #27992
^^ @ydamigos @loicpoulain would one of you have time to look at this issue ?

[2020-09-09 09:33] tluio opened #28218 "Possible NULL dereference in subsys/logging/log_msg.c."
**Describe the bug**
In function log_msg_hexdump_data_op():
If available_len <= LOG_MSG_HEXDUMP_BYTES_SINGLE_CHUNK, **cont** will be NULL.
But if req_len > 0, **cont** will be dereferenced in while(req_len > 0) {  }

[2020-09-09 09:36] M1cha commented on #3192
anonther usecase would be to allow the user to disable bluetooth on devices where that functionality is not essential(like you do on smartphones).
If you just stop advertising, other devices could still connect if they know your MAC.

[2020-09-09 09:46] LingaoM commented on #27842
Replay attack table is usually used in the transport layer to prevent replay attacks. However, the specification does not define it in a certain layer, but in a separate security paragraph. Therefore, move Replay attack is decoupled from the network layer by putting it into a separate module is better way.

[2020-09-09 09:47] rlubos commented on #28162
The complaint is about internal mbedtls structure member, it's not the role of `mbedtls_ssl_handshake` user to sanitize it. Please reopen if I misunderstood this report.

[2020-09-09 09:47] #28162 closed

[2020-09-09 09:47] rlubos commented on #28163
The complaint is about internal mbedtls structure member, it's not the role of `mbedtls_ssl_read` user to sanitize it. Please reopen if I misunderstood this report.

[2020-09-09 09:47] #28163 closed

[2020-09-09 09:49] lowlander commented on #28093
@henrikbrixandersen I might also be a bit biased because I strongly dislike the pointer compares :-)

Only cs_hold and lock_on can be changed between consecutive transceive call. Rest of the attributes are not meant to be tweaked.

Most drivers use pointer comparison to determine whether a passed configuration is different from one used in a previous transaction. **Changes to fields in the structu

[2020-09-09 09:58] pabigot opened #28220 "flash: revise API to remove block restrictions on write operations"
#28192 exists in part because of [my comment](https://github.com/zephyrproject-rtos/zephyr/pull/23628#discussion_r465795677) which led to a late change in documentation that wasn't correct.

I had  what seemed like a reasonable expectation: that users of the generic flash API (like file systems) should not have to independently provide a solution to satisfying arbitrary block size requirements imp

[2020-09-09 10:22] pabigot commented on #27599
IIRC I did test it that way since it's the default configuration, and it worked fine.  It possibly is related; the CDC ACM UART appears to use the system work queue to complete transmission, while a real UART would do it though interrupts.  If `bt_enable()` is also using it, and trying to print from it, that could be a problem.

[2020-09-09 10:39] jfischer-phytec-iot commented on #27820
The LED (junction capacitance) and resistor between the GPIO pin and VDD form an RC element. The resistors on the board are intentionally larger, one for LED1 is the largest. The state of the pin is not yet settled at the time it is read, see:
_"Verify that it is not possible to change value of a pin via gpio_pin_set_raw function if pin is configured as an input."_ [gpio_pin_configure(port, TEST_P

[2020-09-09 10:46] pabigot commented on #27820
@jfischer-phytec-iot Thanks; I can work with that and will add that as an optional constant in the test's devicetree binding.  What delay value are you using here?

[2020-09-09 10:48] pabigot commented on #27820
Ah, I see, it's defined in a header.  It should be in devicetree.

[2020-09-09 10:57] jukkar commented on #28131
I have been investigating this and have following observations:

* I can replicate a crash but only with fast device and only randomly. I have been using Atmel sam-e70 and even with that the bug disappers easily if I enable TCP debugging. I was not able to reproduce this with frdm_k64f which also has Ethernet support.
* In my initial analysis, it looks like something is overwriting `accept_cb` fie

[2020-09-09 11:06] #27738 closed

[2020-09-09 11:10] #28161 closed

[2020-09-09 11:10] #28164 closed

[2020-09-09 11:18] GABS9718 commented on #28185
@carlescufi Hi! The problem related to the building process was really related with not declaring in the .dts of the board the lora device. Thank you.

[2020-09-09 11:30] rlubos commented on #28181
I've reproduced the issue with `test.mosquitto.org` (but not only on current master, 2.2.0 or 2.3.0 failed for me as well).

The problem turned out to be the long response time for the CONNECT message from `test.mosquitto.org`. By default we timeout the connection after 500 ms, but for `test.mosquitto.org` I've observed that it took up to 2 seconds to get a response. I think that a valid solution

[2020-09-09 11:50] GABS9718 opened #28223 "LEDs in the board nRF52840dk_nRF52840 dont work with Lora"
**Describe the bug**
Hi, I'm trying to integrate the LoRa library with the LEDs in the development kit nRF52840. I notice that when I change the file prj.conf to the settings of the LoRa, the sketch from \samples\basic\blinky does not work anymore. I can build and flash the program without errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to <zephyr\samples\basic\blinky>
2. Open the

[2020-09-09 11:58] mtahirbutt commented on #28181
@rlubos thanks for the fix, I will check it with my board.

[2020-09-09 11:58] jukkar commented on #28216
Ping @pfalcon, any opinion how we should act on different error / edge cases?

[2020-09-09 12:10] #28166 closed

[2020-09-09 12:20] pfalcon commented on #28216
The approach I always advocated was: follow the POSIX (https://pubs.opengroup.org/onlinepubs/9699919799/) for behavior. When POSIX is not detailed enough (which is often), follow the behavior of Linux.

So yes, in this case, if send() is non-blocking, we should return EAGAIN, and if it's blocking, just wait until send() can get a buffer (waiting indefinitely isn't a good option for unattended apps

[2020-09-09 12:26] #28196 closed

[2020-09-09 12:46] #28181 closed

[2020-09-09 13:05] jukkar commented on #28216
Currently the networking samples assume that `send()` can return less bytes that what user wanted to send. So we have this kind of loops in the code:
[code]
Is the expectation here that we would not need to do this any more? After all the `send()` manual page says `When the message does not fit into the send buffer of the socket, send() normally blocks, unless the socket has been placed in nonbloc

[2020-09-09 13:12] #27820 closed

[2020-09-09 13:13] NZSmartie commented on #27841
Also wanting to confirm a similar issue while giving `2.4.0-rc1` with a Nordic `nRF52840` a try. The SD card does not mount:
[code]

When reverting c64e0ce923cde54415d203e447a1dc62894ed2b0, it works again

[code]

The DTS for the SPI is:
[code]

[2020-09-09 13:15] nandojve commented on #28108
Hi @henrikbrixandersen , I already showed a output from a 256 bytes read. I'm not sure if this is an heap/stack problem.
Yesterday I spend lot of time and noted that can be failing at shell_fprintf.c at out_func function when one of those variables are checked `sh_fprintf->ctrl_blk->buffer_cnt == sh_fprintf->buffer_size`.  How is possible this line of code give us MPU Fault?

I remember that I hav

[2020-09-09 13:22] henrikbrixandersen commented on #27841
@pabigot You mentioned that you verified commit c64e0ce923cde54415d203e447a1dc62894ed2b0 on Nordic SPI in https://github.com/zephyrproject-rtos/zephyr/pull/27685#pullrequestreview-471616998. Any idea on what goes wrong for @NZSmartie above?

[2020-09-09 13:23] pfalcon commented on #28216
Is the expectation here that we would not need to do this any more?

I'm not sure whom you ask, if myself, then nope, all of send()/recv()/write()/read() can always return with less bytes read/written than requested. That's essence of POSIX API, and why it scales down to even low-memory systems, like our usecase.

Note that recv() has MSG_WAITALL flag requesting to return the requested number of b

[2020-09-09 13:24] tluio opened #28229 "Possible NULL dereference in subsys/net/ip/net_context.c."
**Describe the bug**
In function context_sendto(), **msghdr**  and **dst_addr** are checked:
[code]
If both of them are NULL, some variables such as **ll_addr** on line 1454 and **can_addr** on line 1488 are NULL, too. However, they are dereferenced through **ll_addr->sll_ifindex** and **can_addr->can_ifindex**.

[2020-09-09 13:25] pfalcon opened #28230 ""make zephyr_generated_headers" produces incorrect result (SHELL:") after recent cmake refactor"
Originally reported at https://github.com/zephyrproject-rtos/zephyr/pull/24851#issuecomment-689501804 :

"cmake: toolchain disable -imacro deduplication" commit from this PR (merged as f109e6839be04f105ede7c2aaecc034b26c0a613) broke "make zephyr_generated_headers" target, specifically creation of Makefile.exports.* (e.g. Makefile.exports.C) files containing CFLAGS, etc. for integration with extern

[2020-09-09 13:29] pfalcon commented on #28230
(Sorry, I initially mis-pressed Enter and incomplete ticket was submitted, I edited description afterwards, so it might not go into email notification.)

[2020-09-09 13:30] #28203 closed

[2020-09-09 13:53] tejlmand commented on #28230
Fixed: https://github.com/zephyrproject-rtos/zephyr/pull/28232

[2020-09-09 13:57] NZSmartie commented on #27841
I'll have a dig/debug into the situation tomorrow. I've been looking into the nrfx spi driver and so far it looks to respect `SPI_HOLD_ON_CS` indirectly by `spi_context_cs_control()`
https://github.com/zephyrproject-rtos/zephyr/blob/016b5422d90e9d3405eda22da4fda23d6a13a415/drivers/spi/spi_context.h#L176-L200
from here
https://github.com/zephyrproject-rtos/zephyr/blob/016b5422d90e9d3405eda22da4fda2

[2020-09-09 13:58] #28173 closed

[2020-09-09 13:59] xhpohanka commented on #27020
same new notes from my side:

- slow upload was solved with new TCP stack
- there are newer versions of civetweb than the one served in Zephyr, I'm just trying to run with actual master merged and so far it works

[2020-09-09 14:13] jukkar commented on #28216
So how this is then different from the case if send() would return 0 if we could not send any data (like if we ran out of mem). Currently this error is propagated to application.

[2020-09-09 14:25] pfalcon commented on #28216
Well, 0 return from write()/send() is a grey area at all. For read()/recv(), 0 return means EOF. But there's no such concept for write operations. And POSIX doesn't specify what 0 return from write()/send() means. Thus, reasonable approach is to never return 0 from these calls (as there's no portable way to deal with that, so most applications wouldn't deal with that at all, and others would deal

[2020-09-09 14:34] nvlsianpu commented on #28165
@carlescufi False negative.
Issue appeared as mcumgr was moved to deeper directory.

[2020-09-09 14:57] Delsian opened #28234 "ipv6: multicast group: wrong filtering"
**Describe the bug**

After updating to v2.4.0 multicast groups stops working.
Problem in commit b7b73d016017ebeec7cbf56e683793b27f260671
It checks state of ipv6->mcast.is_joined, but this value left uninitialized during
net_if_ipv6_maddr_add()
Will prepare PR with bugfix in a few minutes.

**To Reproduce**

In FW:

    mcast = net_if_ipv6_maddr_add(iface, &mcast_addr.sin6_addr);

On host:

[code]

[2020-09-09 15:07] Delsian commented on #28234
https://github.com/zephyrproject-rtos/zephyr/pull/28235

[2020-09-09 15:11] pabigot commented on #27841
I'm not sure what board's being used in https://github.com/zephyrproject-rtos/zephyr/issues/27841#issuecomment-689554272 because the nrf52840dk_nrf52840 has a different `spi1` configuration.

A clear problem in @NZSmartie's DTS is specifying the chip select as active-high.  CSn should be active-low.

What works for me is this:
[code]

Note I'm switching from spi3 to spi2 because spi3 (which only s

[2020-09-09 15:14] kurddt commented on #28211
So, it seems that `host_present` is set to true even if no host is present. This is due to the fact that `data_out_block_mode` is regularly called with `length = 0`, in that case `SEGGER_RTT_WriteSkipNoLock` always return 1 even if the buffer is full.

BTW it seems that `data_out_block_mode` is always called with a length of 1 when logging strings, which does not seems optimal

[2020-09-09 15:43] lukasbrchl commented on #19244
Hi guys, does anyone have new findings on this issue?

[2020-09-09 15:55] galak commented on #25592
Yeah, I think we've done that for other SoCs.

What do you mean by that?

[2020-09-09 16:00] galak commented on #17624
Closing this for now, @andyross feel free to re-open if you feel like this is still an issue.

[2020-09-09 16:00] #17624 closed

[2020-09-09 16:07] erwango commented on #25592
Ok, will do.

If we add stuff such a file, will it prevent warnings to be issued in CI ?
I mean: today.

[2020-09-09 16:09] Delsian commented on #28234
Closed as invalid

[2020-09-09 16:09] #28234 closed

[2020-09-09 16:10] pabigot opened #28240 "nordic spim: does not work with SPI-SDHC infrastructure"
As summarized in https://github.com/zephyrproject-rtos/zephyr/issues/27841#issuecomment-689627533 `samples/subsys/fs/fat_fs/ ` does not run correctly when controlled by a SPI3 configured as `nordic,nrf-spim`.  ~It appears that CSn is not being correctly deasserted at the end of transactions.~ *this is true, but is probably a secondary effect of the sdhc disk access layer not being consistent about

[2020-09-09 16:13] cvinayak commented on #19244
I am not an expert on the DFU protocol, but the BLE controller is capable of doing upto ~1.3Mbps of GATT Write commands. With a 1Mbps UART, and features provided in this PR https://github.com/zephyrproject-rtos/zephyr/pull/28089, a throughput of ~690 Kbps should be achievable.

[2020-09-09 16:25] nvlsianpu commented on #27471
@tejlmand Can you help with this issue?

[2020-09-09 16:45] nvlsianpu commented on #18529
https://github.com/apache/mynewt-core/pull/1387 : field `fcb->f_active->fe_data_off` is not used by zephyr implementation.

[2020-09-09 17:48] albertofloyd commented on #27299
Still an issue, fix under testing.

[2020-09-09 18:25] CodingGhost opened #28248 "bt_gatt_notify() causes "unable to alllocate TX buffer""
**Describe the bug**
calling bt_gatt_notify() more than once in a row, with 2 devices connected, from system workqueue causes err:"unable to alllocate TX buffer". the app crashes immidiately afterwards with "BUS FAULT".

**To Reproduce**
I have written a minimal example to showcase this problem,
just try to connect with 2 devices and view the RTT log.
https://pastebin.com/0FtDfAdy

**Impact**
app

[2020-09-09 18:25] AdiIntel opened #28249 "driver: espi: mchp: eSPI OOB driver does not support callbacks for incoming OOB messages from eSPI master."
**Describe the bug**
Current eSPI driver allows to transmit & receive OOB messages with explicit function calls.
Driver should also allow to add callbacks to support incoming OOB messages initiated from eSPI master, so that slave (EC) doesn't have to keep polling for it always.
When the slave shows OOB status as free, then only master can send the OOB message. For this, OOB status should also be s

[2020-09-09 18:53] ceolin commented on #9893
https://github.com/zephyrproject-rtos/zephyr/pull/27752

[2020-09-09 18:53] #9893 closed

[2020-09-09 19:01] CodingGhost commented on #28248
I am not sure anymore if it is a bug. It works fine if I use a user defined workqueue... is this a bug? should it work from system workqueue?

[2020-09-09 20:00] aport commented on #26819
Hi, sorry I have not set up a pull request. My tree is a bit out of date and I've been sidetracked by other projects.

My change was minimal, simply the removal of the if statement at https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/modem/ublox-sara-r4.c#L1219

When I get some time I'll try to do a PR for this

[2020-09-09 20:05] PerMac opened #28251 "Tests of the cmsis_dsp library fails on nrf52840dk_nrf52840 platform"
**Describe the bug**
Edit: This looks like some problem with flashing the board and not the tests themselves. I am trying to debug it and verify if it is a real issue or is it setup dependant.

There are always some test suites failing when calling sanitycheck for tests of cmsis_dsp library with `--device-testing` for nrf52840dk_nrf52840. However, one can get different sets of failing test suites

[2020-09-09 21:34] jenmwms commented on #27081
I suggest we close this as a won't fix. Based on discussion, I think it was a mistake in my setup that most will not encounter as a bug.

[2020-09-09 21:34] #27081 closed

[2020-09-09 22:35] nandojve commented on #28108
Hi @henrikbrixandersen , same thing with STM32F767ZI and a ST M95640 (SPI AT25 compatible)

Board: nucleo_f767zi
shield: steval-fki868v2

[code]

[2020-09-09 23:45] nandojve commented on #25010
Hi @nvlsianpu , After https://github.com/zephyrproject-rtos/mcuboot/commit/bdcfc859d4b8b4c000a2a46906080e086d048686 I can't even build MCUboot for disco_l475_iot1. The commit message doesn't explain if there are something that should be done on my environment to allow build.

Any tip?

[2020-09-10 00:18] NZSmartie commented on #27841
Oh hmm. I haven't paid too much attention to the SPI CS line, their spec is rather vague about the pin itself[1]. I was following the Device tree example set by most boards and most but one that specify `GPIO_ACTIVE_HIGH`.
Taking the _OLIMEXINO-STM32_ as an example. [the schematic](https://www.olimex.com/Products/Duino/STM32/OLIMEXINO-STM32/resources/OLIMEXINO-STM32_sch_latest.pdf) pulls the CS li

[2020-09-10 00:23] NZSmartie commented on #27841
Also, the OEM SDCard times out during initialisation with `GPIO_ACTIVE_LOW` I'm still checking it out. It's a bit hard to get a logic analyser on the signals in my board, It's already a bodge job on a prototype, and don't have any test pads spare 😅

[2020-09-10 00:24] nashif commented on #27511
duplicate of  #26949

[2020-09-10 00:24] #27511 closed

[2020-09-10 00:28] nashif commented on #27573
not sure how the timeout in the code relates to the timeout of running the test and failing due to timeouts in sanitycheck.

[2020-09-10 00:34] andrewboie commented on #27573
are any of these tests CPU bound? coverage accounting will add nontrivial overhead.

[2020-09-10 01:05] nashif commented on #20729
well, we never got c++ code to work with coverage, Zephyr is all C and the intention of coverage is C code primarily, so closing. If someone has time, patches to support C++ code are welcome.

[2020-09-10 01:05] #20729 closed

[2020-09-10 01:21] #28099 closed

[2020-09-10 01:39] nashif commented on #26949
just bisected and hit this as the culprit:

[code]

[2020-09-10 01:39] nashif commented on #26949
looking...

[2020-09-10 03:09] Zhaoningx opened #28255 "mimxrt1050_evk:running samples/drivers/display/ failed"
Describe the bug
running samples/drivers/display/, and the result just stay displaying blanking control not implemented

To Reproduce
Steps to reproduce the behavior:
west build -b mimxrt1050_evk samples/drivers/display/
west flash
see error

*** Booting Zephyr OS build v2.4.0-rc1-19-gd7468bf836b7  ***
[00:00:00.006,000] <inf> sample: Display sample for ELCDIF_1
[00:00:04.527,000] <err> display_mc

[2020-09-10 03:17] Zhaoningx opened #28256 "mimxrt1050_evk: running samples/subsys/fs/fat_fs/ failed"
Describe the bug
running samples/subsys/fs/fat_fs/, and no output and timeout failure is reported.

To Reproduce
Steps to reproduce the behavior:
west build -b mimxrt1050_evk samples/subsys/fs/fat_fs/
west flash
see error

*** Booting Zephyr OS build v2.4.0-rc1-19-gd7468bf836b7  ***
(block here forever)

Environment (please complete the following information):
OS: Fedora28
Toolchain: Zephyr-sdk-0.

[2020-09-10 05:12] Zhaoningx opened #28258 "up_squared(acrn):running tests/drivers/counter/counter_cmos/ failed"
Describe the bug
running tests/drivers/counter/counter_cmos/, assert failed to be reported.

To Reproduce
Steps to reproduce the behavior:
sanitycheck -p acrn  --device-testing --device-serial /dev/ttyUSB0 -T tests/drivers/counter/counter_cmos/  --west-flash="/home/ztest2/acrn_up2.sh"
see error

ACRN:\>vm_console 1^M
----- Entering VM 1 Shell -----^M
^[[2J^[[04D^[[=3h^[[2J^[[09D^[[2J^[[04D^[[=3h^[

[2020-09-10 05:26] Zhaoningx opened #28259 "up_squared(acrn):running tests/subsys/debug/coredump/ failed"
Describe the bug
running tests/subsys/debug/coredump/ failed, it showed me timeout failure.

To Reproduce
Steps to reproduce the behavior:
sanitycheck -p acrn  --device-testing --device-serial /dev/ttyUSB0 -T tests/subsys/debug/coredump/  --west-flash="/home/ztest2/acrn_up2.sh"
see error
error: no suitable video mode found.
*** Booting Zephyr OS build v2.4.0-rc1-19-gd7468bf836b7  ***^M
Coredump: a

[2020-09-10 05:38] Zhaoningx opened #28260 "up_squared(acrn):running tests/portability/cmsis_rtos_v2/ failed"
Describe the bug
running tests/portability/cmsis_rtos_v2/ failed, and the test case test_message made halting system

To Reproduce
Steps to reproduce the behavior:
sanitycheck -p acrn  --device-testing --device-serial /dev/ttyUSB0 -T tests/portability/cmsis_rtos_v2/  --west-flash="/home/ztest2/acrn_up2.sh"
see error

*** Booting Zephyr OS build v2.4.0-rc1-19-gd7468bf836b7  ***^M
Running test suite

[2020-09-10 05:51] Zhaoningx opened #28261 "up_squared(acrn):running tests/kernel/common/ failed"
Describe the bug
running tests/kernel/common/ , and assertion failed will be reported.

To Reproduce
Steps to reproduce the behavior:
sanitycheck -p acrn  --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/common/  --west-flash="/home/ztest2/acrn_up2.sh"
see error

*** Booting Zephyr OS build v2.4.0-rc1-19-gd7468bf836b7  (delayed boot 500ms) ***^M
.
.
.
START - test_clock_cycle^M
PASS -

[2020-09-10 05:58] Zhaoningx opened #28262 "up_squared(acrn):running tests/kernel/tickless/tickless_concept/ failed"
Describe the bug
running tests/kernel/tickless/tickless_concept/ , and assertion failed will be reported.

To Reproduce
Steps to reproduce the behavior:
sanitycheck -p acrn  --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/tickless/tickless_concept/  --west-flash="/home/ztest2/acrn_up2.sh"
see error

*** Booting Zephyr OS build v2.4.0-rc1-19-gd7468bf836b7  ***^M
Running test suite tic

[2020-09-10 06:10] Zhaoningx opened #28264 "up_squared(arcn):running tests/kernel/timer/timer_monotonic/ failed"
Describe the bug
running tests/kernel/timer/timer_monotonic/ failed , and assertion failed will be reported.

To Reproduce
Steps to reproduce the behavior:
sanitycheck -p acrn  --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/timer/timer_monotonic/  --west-flash="/home/ztest2/acrn_up2.sh"
see error

*** Booting Zephyr OS build v2.4.0-rc1-19-gd7468bf836b7  ***^M
Running test suite time

[2020-09-10 06:19] Zhaoningx opened #28265 "up_squared(arcn):running tests/kernel/timer/timer_api/ failed"
Describe the bug
running tests/kernel/timer/timer_api/ failed, and assertion failed will be reported.

To Reproduce
Steps to reproduce the behavior:
sanitycheck -p acrn  --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/timer/timer_api/  --west-flash="/home/ztest2/acrn_up2.sh"
see error

**_kernel.timer/handler.log_**
*** Booting Zephyr OS build v2.4.0-rc1-19-gd7468bf836b7  ***^M
Runni

[2020-09-10 06:28] Zhaoningx opened #28266 "up_squared(acrn):running tests/kernel/sched/schedule_api/ failed"
Describe the bug
running tests/kernel/sched/schedule_api/, and assertion failed will be reported.

To Reproduce
Steps to reproduce the behavior:
sanitycheck -p acrn  --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/sched/schedule_api/  --west-flash="/home/ztest2/acrn_up2.sh"
see error

*** Booting Zephyr OS build v2.4.0-rc1-19-gd7468bf836b7  ***^M
Running test suite threads_scheduling

[2020-09-10 06:35] Zhaoningx opened #28267 "up_squared(acrn):running tests/kernel/workq/work_queue_api/ failed"
Describe the bug
running running tests/kernel/workq/work_queue_api/  failed, and assertion failed will be reported.

To Reproduce
Steps to reproduce the behavior:
sanitycheck -p acrn  --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/workq/work_queue_api/  --west-flash="/home/ztest2/acrn_up2.sh"
see error

*** Booting Zephyr OS build v2.4.0-rc1-19-gd7468bf836b7  ***^M
Running test suit

[2020-09-10 07:19] Zhaoningx commented on #28266
this issue has already been reported, so close it, see https://github.com/zephyrproject-rtos/zephyr/issues/23801

[2020-09-10 07:19] #28266 closed

[2020-09-10 07:24] aunsbjerg commented on #21119
Just stumbled on this document by segger on how to integrate J-link debugging with vscode. It's not zephyr specific, but the general setup is applicable to zephyr as well, so posting here for reference.

https://wiki.segger.com/J-Link_Visual_Studio_Code

[2020-09-10 07:28] jukkar commented on #28229
The **ll_addr** access on line 1454 will not happen because the the check at line 1372 (that you copied above) will catch that (AF_PACKET socket is not handling CAN packets).
The **can_addr** check on line 1488 could happen, I will send a fix.

[2020-09-10 07:35] jukkar commented on #28229
Hmm, after better look at the code, we might have same protocol numbers depending on the family. We need to add family check to line 1372.

[2020-09-10 07:37] #27849 closed

[2020-09-10 07:42] erwango commented on #25010
@nandojve please raise a dedicated issue for this new problem, it will help tracking.

[2020-09-10 07:43] is-none opened #28270 "Errors in the HL7800.c file"
**Describe the bug**
I have a Pinnacle 100 dvk board that I integrated to Platformio to be used with Zephyr 2.3. I need to use the HL7800 semiconductor that is not available in the current version of Zephyr but may be for the 2.4 version. So I decided to add what is missing manually, so far so good. I end up with these errors:

**1)**

 ~/.platformio/packages/framework-zephyr/drivers/modem/hl7800.

[2020-09-10 07:45] tluio commented on #28229
Ok. I'm not sure if **addr6**  on line 1401 and **addr4** on line 1427 have the same problem. Could you please have a look at them.

[2020-09-10 07:49] #25299 closed

[2020-09-10 08:08] ioannisg commented on #3634
This is not an easy problem to solve in Cortex-M. There's not a straightforward way to separate Read from eXecute access, and also at best-case scenario the solution will wast 1 out of 8 MPU regions.

@XavierChapron you are welcome to propose a solution to this problem.

[2020-09-10 08:21] jukkar commented on #28229
I simplified the address checks at line 1372, which then required that the sendmsg() handling needed to be added to AF_CAN sockets. This should now work uniformly for all currently supported socket families.

[2020-09-10 08:56] nvlsianpu commented on #25010
@nandojve @erwango We are looking into the build problem anyway.

[2020-09-10 09:09] fromeijn commented on #28133
Tested with a new board, problem was indeed that board not zephyr, thanks for helping out. I will close this issue

[2020-09-10 09:09] #28133 closed

[2020-09-10 09:31] #28230 closed

[2020-09-10 09:57] nvlsianpu commented on #25010
^^ Fix https://github.com/zephyrproject-rtos/mcuboot/pull/32

[2020-09-10 10:10] CodingGhost commented on #28248
I think this is really just because the ble_gatt_notify is a blocking function, that should not be executed from system workqueue. Maybe add that note somewhere, but Im closing it now.

[2020-09-10 10:10] #28248 closed

[2020-09-10 10:24] #28251 closed

[2020-09-10 10:31] PerMac commented on #28251
I closed the issue as the problem looks like not zephyr related.

[2020-09-10 10:33] jakub-uC commented on #28108
@nandojve would you mind pushing some branch where you mocked the I2C driver?
If I would be able to reproduce this I could investigate a bit more.

[2020-09-10 10:37] lochej opened #28275 "drivers: bluetooth: hci_spi: hci driver is init before spi causing an error on device_get_binding"
**Describe the bug**
Due to aac9e2c5e33d1b9d17ca9a7a392e890f91475c38 #24873 changing behavior of driver initialization status,
when a device driver (bluetooth device driver) relying on a another device driver (spi) ```device_get_binding``` on this not yet initialiazed device node, ```device_get_binding``` returns an error.

Before, device driver where considered ready if they had a ```api != NULL`

[2020-09-10 10:40] #28090 closed

[2020-09-10 11:01] pabigot commented on #27841
In Zephyr 2.3.0 the active level flags from devicetree were ignored, and the SPI infrastructure set the configuration at runtime, defaulting to active low.  ("asserted (negative)" in the spec you quoted means active low; active high would be "asserted (positive)".)  Note that most non-SPI uses of GPIO are indeed active-high.

It could well be the card, there are many standards and classes.  I've h

[2020-09-10 11:02] carlescufi commented on #25672
@joerchan you are still working on this right?

[2020-09-10 11:03] carlescufi commented on #26804
@johnsmithecon is this still an issue? Could you please try with the latest master and close the issue if it's not longer reproducible?

[2020-09-10 11:23] #28193 closed

[2020-09-10 11:48] lochej commented on #28275
BTW, this priority problem could happen on other device drivers, we have to be aware of that.

[2020-09-10 12:10] nandojve commented on #25010
Hi @nvlsianpu thank you for help us with this. I'll try again later.

[2020-09-10 12:21] rerickson1 commented on #28270
This is fixed in https://github.com/zephyrproject-rtos/zephyr/pull/27755. There are other fixes/improvements as well.

[2020-09-10 12:29] ioannisg commented on #21754
@adamfeuer could you check the suggestion by @sven-hm and report if this could fix your issue?

[2020-09-10 12:55] bpbradley opened #28278 "PWM silently fails when changing output frequency on stm32"
**Describe the bug**
When trying to change the pwm frequency with `pwm_pin_set_usec`, the output will regularly dropout. The behavior is reproduced more quickly by changing the frequency more often. If I change it at about a 1 second interval, it fails about 10% of the time, and if I change it at 100ms, it fails most of the time.

**To Reproduce**
Here is a basic example which reproduces the behav

[2020-09-10 13:08] rlubos commented on #28117
I agree that the retransmission logic in CoAP could be more explicit. Especially, that currently the retransmission count is hardcoded  (in the aforementioned `next_timeout()` function) and with a proper retransmission counter it could be made configurable (CoAP spec does not put a hard requirement on the MAX_RETRANSMIT value).

Could you clarify what did you mean? According to LwM2M spec, it does

[2020-09-10 13:15] #28258 closed

[2020-09-10 13:15] #28259 closed

[2020-09-10 13:15] #28260 closed

[2020-09-10 13:15] #28261 closed

[2020-09-10 13:15] #28262 closed

[2020-09-10 13:15] #23802 closed

[2020-09-10 13:15] #27377 closed

[2020-09-10 13:40] erwango opened #28280 "tests/kernel/tickless/tickless_concept: disco_l475_iot1 build issue"
**Describe the bug**
Test link issue:
[code]

**To Reproduce**
sanitycheck --build -p disco_l475_iot1 -T tests/kernel/tickless/tickless_concept/

**Expected behavior**
No build error

[2020-09-10 13:55] mtpr-ot opened #28282 "Slave host auto-initiate stalls if master does not support extended reject indications, and procedure collision occurs"
**Problem**
If an LLCP collision occurs during auto-initiate, e.g. with PHY_UPDATE, and master sends a REJECT_IND, auto-initatiate is not continued, as no notification is sent to host from LL.

**Impact**
Other host- or app initiated LLCP requests are never sent.

**Additional context**
In function `ctrl_rx` `(ull_conn.c)`, `PDU_DATA_LLCTRL_TYPE_REJECT_IND` is not handled properly. The case needs

[2020-09-10 14:10] broglep-work opened #28283 "LWM2M: Invalid ACK when server is using message ID 0"
When a LWM2M server is sending a confirmable CoAP packet with message ID 0, the ACK packet from the zephyr is using another message id (due to special semantics of 0 in the client to request generation of a new id, see #28281).
As a result, the ACK is ignored by the LWM2M server and the confirmable CoAP packet is retransmitted.

**To Reproduce**
Steps to reproduce the behavior:
1. Start LWM2M boot

[2020-09-10 14:29] erwango commented on #28280
Coming from https://github.com/zephyrproject-rtos/zephyr/pull/28199

[2020-09-10 14:33] bpbradley commented on #28278
I can now confirm the behavior is identical on stm32f411e_disco.

The behavior is correct on nrf52840 (however I discovered a different issue on there that causes a device hang after a long time)

[2020-09-10 14:52] kurddt opened #28286 "drivers: dac: Have a "generic" way to set a channel output to high impedance"
**Is your enhancement proposal related to a problem? Please describe.**
I'm writing a driver of a DAC which support to set its output as High-impedance. Currently there is no way do set it using the dac API

**Describe the solution you'd like**
I would like to have an entry point to set/unset the high impedance output of a DAC.

This could be done either by adding a dedicated member in `dac_channe

[2020-09-10 15:07] galak commented on #25313
We will need to add a section in the docs for these zephyr specific node labels to give the specific intent/usage.

[2020-09-10 15:07] erwango commented on #28278
^^@gmarull

[2020-09-10 15:09] tejlmand commented on #27471
@nvlsianpu sure. will take a look.

[2020-09-10 15:09] galak commented on #25313
Dev-Review (Sept 10, 2020): No issue w/using a node label for this purpose, just needs a zephyr namespace. (And added to docs)  @jfischer-phytec-iot asked about doing something similar for display.  Don't see any issue, but asked to work up PR to see specific details.

[2020-09-10 15:16] erwango commented on #25313
If we're going wit this solution (which I find elegant), should we add some way to filter on this for sanitycheck?
https://github.com/zephyrproject-rtos/zephyr/pull/25590 was merged recently using alias. I guess it would have to be replaced by a label for coherency. but we'd need a function equivalent to `dt_alias_exists`, so we can do stuff like:
[code]

[2020-09-10 15:24] #26848 closed

[2020-09-10 15:26] galak commented on #25592
we already have the file, so I think if we add the board vendor prefixes it should make the warnings go away.

[2020-09-10 15:35] MaureenHelm commented on #28167
@cbsiddharth will you please have a look?

[2020-09-10 15:35] MaureenHelm commented on #28168
@cbsiddharth will you please have a look?

[2020-09-10 15:39] kurddt opened #28288 "drivers: dac: Allow to set several channels values in one call"
**Is your enhancement proposal related to a problem? Please describe.**
My application requires that the channels of a same DAC  update their values at the same time, so calling `dac_write_value` is not really satisfying

**Describe the solution you'd like**
I would like to be able to pass an array of <channel, value> pairs to write to the dac output registers.
We could define a new structure:
[co

[2020-09-10 15:44] jakub-uC commented on #27997
@sandeep-airatechnology  I am affraid This is not a bug it is how UART works. You can enable flow control or use interrupt driven UART. In fact this was a  reason why we have added interrupt driven option.

[2020-09-10 15:56] cbsiddharth commented on #28167
@MaureenHelm, Sure.

The coverity report link says `401: Unauthorized` can you help?

[2020-09-10 16:04] ABOSTM opened #28289 "tests: arch: arm: arm_sw_vector_relay: fails on nucleo_f091rc"
**Describe the bug**
tests: arch: arm: arm_sw_vector_relay: fails on nucleo_f091rc

**To Reproduce**
Steps to reproduce the behavior:
1. west -p auto -b nucleo_f091rc tests/arch/arm/arm_sw_vector_relay/
2. west flash
3. See error

**Expected behavior**
Test passed

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS:  Linux, and Windows
 - Toolcha

[2020-09-10 16:10] bpbradley commented on #28278
I am not sure if this is related, but I am also noticing that the frequency resolution is really low. Trying to change between 2400 and 2800 for instance doesn't actually change the output. I was hoping to achieve 10Hz resolution on the PWM output. I notice that the result of `pwm_stm32_get_cycles_per_sec` is surprisingly low (around 9600) which would indicate a prescaler value of 10000. The only

[2020-09-10 16:20] tejlmand commented on #28197
Reopened. Wating for: https://github.com/zephyrproject-rtos/zephyr/pull/28273 to be merged.

[2020-09-10 16:35] ABOSTM commented on #28289
I started the analysis, and it seems to me that issue is linked to the fact that nucleo_f091rc is based on cortex-M0 and thus without VTOR register.
Also there is a specific implementation for stm32f0 serie of function `relocate_vector_table()`  in zephyr\soc\arm\st_stm32\stm32f0\soc.c
This specific implementation is anterior to feature SW_VECTOR_RELAY, and I think I can get ride of this specific

[2020-09-10 16:36] MaureenHelm commented on #28167
I sent a coverity invite to the email you use in your signed-off-by

[2020-09-10 16:36] ABOSTM commented on #28289
^^ @ioannisg

[2020-09-10 17:05] #28229 closed

[2020-09-10 17:10] #26729 closed

[2020-09-10 17:59] tejlmand commented on #26937
Closing, as I believed this has been answered.
Feel free to reopen if more details can be provided.

[2020-09-10 17:59] #26937 closed

[2020-09-10 18:09] henrikbrixandersen commented on #28108
@nandojve This looks like it could be a generic problem with the shell. Can you confirm that increasing `CONFIG_SHELL_ARGC_MAX` to e.g. 20 allows you to pass in more bytes without crashing?

[2020-09-10 18:35] henrikbrixandersen commented on #28108
According to my Git bisect, the bug was introduced in 512de5ecac62de202cf17676d57c7c9d466dc3e2.

[2020-09-10 18:38] pabigot commented on #28240
This is because SPIM can't transmit data from flash, so an initial transfer of 74 clocks to synchronize is never sent.

[2020-09-10 18:39] henrikbrixandersen commented on #28108
@nandojve The reason I could not initially reproduce this was that I increased `CONFIG_SHELL_ARGC_MAX` in order to be able to pass more than 9 arguments in to the EEPROM write command.

This bug is not specific to the EEPROM shell; problem can be reproduced just by typing in a command with more arguments than `CONFIG_SHELL_ARGC_MAX` (e.g. `1 2 3 4 5 6 7 8 9 10 11 12 13 14` with the standard `CONFI

[2020-09-10 18:45] jakub-uC commented on #28108
@henrikbrixandersen Thank you for finding - we will fix it.

[2020-09-10 18:47] henrikbrixandersen commented on #27997
Could be related to https://github.com/zephyrproject-rtos/zephyr/issues/28108#issuecomment-690611049.

[2020-09-10 18:48] pabigot commented on #28240
Because SPI transfers from data buffers stored in flash fail, and because the disk_access_spi_sdhc layer doesn't check error codes, large numbers of critical SPI transfers are not being transmitted, so the driver never detects that the device is actually present and able to respond.

[2020-09-10 18:51] jakub-uC commented on #27997
@henrikbrixandersen I think these are different problems. When you will use a shell with UART driver configured in polling mode you will observe that you are not able to paste a long text into the shell because not all characters will appear.
The problem here is before command is executed, before pressing the `enter` key.

[2020-09-10 19:20] pabigot commented on #27841
It appears that, if `CONFIG_SPI_STM32_USE_HW_SS=y`, STM32 driver is not respecting `SPI_HOLD_ON_CS`: logic analyzer traces show CS is being deasserted between the transmission of an R1 command and the read of its result.  This produces unexpected results.

With software control of SSn this doesn't happen, but the response to the command is still not the expected result.

[2020-09-10 19:30] #23825 closed

[2020-09-10 19:31] #22758 closed

[2020-09-10 19:31] #26280 closed

[2020-09-10 19:44] andrewboie commented on #28108
FWIW, an MPU fault due to a stack overflow should be reported as a stack overflow on the ">>> ZEPHYR FATAL ERROR" line. If it ever doesn't do that and reports a generic CPU exception instead, can consider that a bug.

[2020-09-10 20:03] nashif commented on #21342
isnt z_arch_cpu_halt declared weak for a reason here? You can always override it. Not sure what the enhancement request is..

[2020-09-10 20:39] #28280 closed

[2020-09-10 20:55] #28153 closed

[2020-09-10 20:57] #28275 closed

[2020-09-10 21:24] #27288 closed

[2020-09-10 21:38] pabigot commented on #27985
Ropened due to heightened concern about the impact of the change in behavior.

[2020-09-10 21:50] MaureenHelm commented on #27339
@andyross will you be able to fix this soon?

[2020-09-10 22:01] jettr commented on #28170
I finally have a coverity account (it took over a day for it to work for some reason). When I click on the link to get more information, it doesn't work. Do I need to be added to the coverity Zephyr project to see details?

Also, I cannot immediately see what the problem is with the line in question. It looks okay to me, and there are other examples similar to it in the code base. Maybe the issue

[2020-09-11 00:10] sandeep-airatechnology commented on #27997
@jakub-uC how do I enable interrupt driven UART? is it on kconfig?
I tried flow control but it shows similar issue.

[2020-09-11 00:54] vanti commented on #28052
Same issue is seen on cc1352r1_launchxl as well.

[2020-09-11 03:11] hakehuang opened #28294 "arch.interrupt.gen_isr_table.arm_mainline: lpcxpresso55s16_ns failed"
**Describe the bug**
interrupt 57 didn't run once, ran 0 times

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso55s16_ns ..
3. make
4. See error

**Expected behavior**
test pass

**Impact**
core interrupt settings

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux, MacOS, Window

[2020-09-11 03:12] hakehuang commented on #28294
@MaureenHelm @dleach02

[2020-09-11 03:17] hakehuang opened #28295 "kernel.common: lpcxpresso55s16_ns test failure"
**Describe the bug**
ESF could not be retrieved successfully. Shall never occur.

**To Reproduce**
Steps to reproduce the behavior:
two applications fail
kernel.common.stack_protection_armv8m_mpu_stack_guard
and
kernel.common.stack_protection_arm_fpu_sharing

1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
test pass

**Impact**
kernel common functio

[2020-09-11 03:18] hakehuang commented on #28295
@MaureenHelm @dleach02

[2020-09-11 03:23] hakehuang opened #28296 "test_essential_thread_abort: lpcxpresso55s16_ns test failure"
**Describe the bug**
test_essential_thread_abort

**To Reproduce**
Steps to reproduce the behavior:
kernel.threads.apis.kernel.threads.apis
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso55s16_ns ..
3. make
4. See error

**Expected behavior**
test pass

**Impact**
kernel function

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: (e.g. Li

[2020-09-11 03:24] hakehuang commented on #28296
@MaureenHelm , @dleach02

[2020-09-11 05:39] honestech74 opened #28298 "Deep sleep(system off) is not working with LVGL and display driver"
**Describe the bug**
I am going to write a deep sleep in nRF52840-DK. Also I am using the LVGL to display the graph on the SPI LCD screen. But the application was halted at the beginning in zephyr. I can see only one line on debug output.

**To Reproduce**
Steps to reproduce the behavior:
1. Merge ```samples/boards/nrf/system_off``` to ```samples/display/lvgl```.
2. add the power management config

[2020-09-11 06:22] #25474 closed

[2020-09-11 06:27] Navin-Sankar commented on #25474
Didn't added the global ipv6 address(2001:db8::1) in both the ble ipsp router and ble ipsp node. That's the reason for connection failure.

[2020-09-11 06:54] arvid-r commented on #27928
Is  `CONFIG_ARM_MPU=n` really needed?
Maybe `CONFIG_MPU_ALLOW_FLASH_WRITE=y` will work?

[2020-09-11 06:58] jakub-uC commented on #27997
I have the following settings for `nrf52840dk_nrf52840` board
[code]
I see that your working sequence `bt test_tx 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18` has 64 characters so it is the default `CONFIG_SHELL_BACKEND_SERIAL_RX_RING_BUFFER_SIZE`. Please increase this value in your `proj.conf` file to 128 and next try a longer sequence. It is working for me and should be working for you

[2020-09-11 07:30] erwango commented on #25592
`olimex` and `st` are already present in our `vendor-prefixes.txt` file.
So, is that an issue in CI script?

[2020-09-11 07:41] jfischer-phytec-iot commented on #28202
I guess @gmarull has a fix for the mirror issue, see #28247. @shileiphys can you test it, please?

[2020-09-11 07:47] cvinayak commented on #28282
@mtpr-ot will a PR be upstream soon? I will be available to review/test the same.

[2020-09-11 07:50] rlubos opened #28299 "net: lwm2m: Improve token handling"
Token management in LwM2M library should be improved, as currently, it has its limitations.

If token with 0 length is provided, it's implicitly assumed that it should be autogenerated. It won't work in case the LwM2M server sends a request w/o token. Plus the token generation doesn't seem right (token won't be included anyway as `tokenlen` is kept 0):
[code]

[2020-09-11 08:03] jukkar commented on #28216
@armandciejak I have a fix proposal for this, please try it and report if it works for you.

[2020-09-11 08:24] mtpr-ot commented on #28282
I'm not sure I can provide the full functionality - I have only fixed locally for PHY_UPDATE. Perhaps I can have Thomas (@thoh-ot) make the full implementation.

[2020-09-11 08:35] lowlander opened #28303 "nucleo_l4r5zi uses wrong pinmux setting"
The nucleo_l4r5zi  board uses the wrong pinmux setting, this causes SPI shields to not work out of the box.

PR #28243 has a fix for this.

[2020-09-11 08:36] XavierChapron commented on #3634
@ioannisg I don't know much about zephyr or cortex-M MPU design, and therefore I'm very far away from being able to propose a solution.

You are saying that best-case scenario will waste 1 MPU regions, I'm not sure to understand it properly but is it really an issue as I'm not sure they are used when not using CONFIG_USERSPACE?
Maybe this could be a kconfig option?

I'm pretty sure that other RTOS

[2020-09-11 08:59] GABS9718 opened #28305 "Device not found (SX1276 with nRF52840)"
**Describe the bug**
Hi, I have been trying to set up the LoRa with the nRF52840, but I'm having some problems that I dont know how to fix it up. I always get the same error message in the output **00> [00:00:00.257,202] <err> lora_send: sx1276 Device not found**

**To Reproduce**
Steps to reproduce the behavior:
1. Add the line _lora0 = &lora;_ in the aliases options from the .dts related to the

[2020-09-11 09:34] nvlsianpu opened #28307 "Can't build bootloader/mcuboot while `CONF_FILE` contains multiple files."
Bug spotted for buidl for `disco_l475_iot1` board
in  https://github.com/zephyrproject-rtos/zephyr/issues/25010

**to reproduce**
`west build -b disco_l475_iot1 bootloader/mcuboot/boot/zephyr`

**SHA**
https://github.com/zephyrproject-rtos/zephyr/commit/eb2a705497394497f64feeb49e80219fed2513ae

[2020-09-11 09:56] ioannisg commented on #3634
Maybe this could be a kconfig option?

Some of them are still used (MPU stack guards, no-cache memory, etc.) but I agree we are less constrained when USERSPACE is disabled. On the other hand we would like to see a solution for null pointer protection in both cases, i.e. with and without user mode; doing it only for USERSPACE=n is not ideal.

That is why we keep this ticket open :)

[2020-09-11 10:25] nvlsianpu commented on #8364
Thanks @de-nordic!

[2020-09-11 10:25] #8364 closed

[2020-09-11 10:43] pabigot commented on #28298
As I explained on slack: as long as you're using the Nordic fork which apparently doesn't have #26580 enabling deep sleep won't work.  You need to confirm this fails to work on current master, or file this as a bug against the downstream fork, or integrate #26580 and #25490 into your environment.

[2020-09-11 11:04] Cimex97 opened #28309 "Sample/subsys/fs/littlefs with board=nucleo_f429zi don't work"
**Describe the bug**
The sample project **subsys/Ifs/littlefs** don't work on a nucleo_f429zi board. I always get this error: `littlefs: format failed (LFS -28)`
The configuration option **CONFIG_APP_WIPE_STORAGE=y** don't change the behavior.

**To Reproduce**
cd zepyr/samples/subsys/fs/littlefs
west build -b nucleo_f429zi .
west flash

**Expected behavior**
Those output is generated by the sampl

[2020-09-11 11:51] nashif commented on #28104
duplicate of #26949

[2020-09-11 11:53] nashif commented on #28170
@jettr this could be a build issue during coverity run and thus a false positive. Not sure why it fails, works for me locally. Will keep looking.

[2020-09-11 12:15] lowlander commented on #28112
I have not been able to reproduce this, after working around #28118 my code has changed to much. I tried to make a test case on a Olimex board, but never could reproduce the error. I think this might be a combination of the long `irq_lock` in my code and the load of the system (lot of CAN , Ethernet, and SPI IRQs).

Since my problem "disappeared" and nobody else has seen this problem I am closing

[2020-09-11 12:15] #28112 closed

[2020-09-11 12:15] erwango commented on #26607
Closing the issue, as last feedback was positive and no update since then

[2020-09-11 12:15] #26607 closed

[2020-09-11 12:23] lowlander opened #28312 "Add option to enable ART Accelerator on STM32 FLASH controller"
The FLASH controller on the STM32F407 has a cache (ART Accelerator), this is disabled after reset.

By enabling it with  `FLASH->ACR |= FLASH_ACR_ICEN | FLASH_ACR_DCEN;` the performance dramatically improves, some places up to 2x .

The idea is to add a Kconfig option somewhere that lets the user select if the ART Accelerator should be enabled.

update: explicitly mention it is about the ART Accel

[2020-09-11 12:29] #11890 closed

[2020-09-11 12:38] erwango commented on #27350
@avigreen1978

I'm not familiar with adc. Can you provide commands to reproduce the issue ?
Then it may be naive, but I wonder if the following would solve the mismatch:

In `drivers/adc/adc_shell.c`
[code]

[2020-09-11 13:38] armandciejak commented on #28216
@jukkar Thanks for the fix. I tested it on the MIMXRT1050 EVK and it works much better than before.

Here are my observations:
- I cannot reproduce the crash described in #28131 anymore
- Send does not fail anymore
- I still observe a problem, sometimes this error `<err> net_pkt: Data buffer (1500) allocation failed.` occurs and in this case the file downloaded by curl is larger than it should be

[2020-09-11 13:43] Mani-Sadhasivam commented on #28305
@GABS9718 The SPI controllers in nrf52 chipsets can function in multiple modes. So you need to add the relevant compatible in the spi1 node board dts for proper working.

compatible = "nordic,nrf-spi"

[2020-09-11 13:47] nashif commented on #25268
Can't reproduce, induced a segfault into native_posix, getting this:

[code]

[2020-09-11 13:47] #25268 closed

[2020-09-11 13:55] nashif opened #28316 "Twister: Make tests run in a defined sequence when accessing same hardware resource"
**Is your enhancement proposal related to a problem? Please describe.**

When tests are accessing a resource that cant be shared (see #25295), we should run tests in sequence and block. running in parallel will result in concurrency and failed tests.

**Describe the solution you'd like**
Make tests block when accessing a common and share resource, do not let them run in parallel.

[2020-09-11 13:56] nashif commented on #25295
open enhancement #28316, closing this as it is not a sanitycheck bug, rather a missing feature.

[2020-09-11 13:56] #25295 closed

[2020-09-11 13:56] joerchan commented on #3192
That should not be possible, atleast not with LE connections, is this a BR/EDR problem?

[2020-09-11 14:01] GABS9718 commented on #28305
I have this line

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	sck-pin = <31>;
	mosi-pin = <30>;
	miso-pin = <25>;
	cs-gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>;

	lora: sx1276@0 {
		compatible = "semtech,sx1276";
		reg = <0>;
		label = "sx1276";
		reset-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
		dio-gpios = <&gpio0 1 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
			<&gpio0 2 (GPIO_PULL_DOWN |

[2020-09-11 14:07] mshaw11 opened #28317 "Asymmetric nrfx spi_transceive tx/rx lengths outputs error"
**Describe the bug**
Calling spi_transceive using the nrfx library with an asymmetric length of tx and rx buffers it produces the error `<err> spi_nrfx_spi: Update exceeds current buffer`. Making both equal length solves the problem.

**To Reproduce**
[code]

**Expected behavior**
I would expect that it would be okay to have assymetric tx and rx lengths. I’ve written a few drivers now with the ass

[2020-09-11 14:24] shileiphys commented on #28202
Yes, I have tested, it fixed the problem for me. Thanks!

[2020-09-11 14:31] #28184 closed

[2020-09-11 14:34] #28211 closed

[2020-09-11 14:39] #28303 closed

[2020-09-11 14:52] ABOSTM opened #28319 "tests: kernel: context: fails because timer expiration is shorter than excepted"
**Describe the bug**
tests/kernel/context/ fails on nucleo_f091rc board.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_f091rc tests/kernel/context/
2. west flash
3. See error

**Expected behavior**
Test passed

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux and Windows)
 - Toolchain: Zephyr SDK
 - C

[2020-09-11 14:55] ABOSTM commented on #28319
^^ @erwango @andyross @andrewboie

[2020-09-11 15:07] cbsiddharth commented on #28168
A commit in PR #28200 implicitly fixes this issue. Will amend that commit message to include this `Coverity-ID`.

[2020-09-11 15:11] pabigot commented on #28317
Just a marker: my comment on slack was the following:

I.e. this may be a cross-platform concern related to the SPI API.  So I'd like to it to get some visibility at that level as well.  @tbursztyka

[2020-09-11 15:22] cbsiddharth commented on #28167
`p->dev` is checked for NULL before and `k_panic()` is called. A silent return here without panic would cause the sample app to crash as it makes the assumption that OSDP is initialized correctly.

Another approach is to expose an API `osdp_is_ready()` and `k_panic()` in sample. To me both looks similar, can anyone help?

[2020-09-11 16:06] nashif commented on #17991
this is not supported and this qemu platform is not enabled for coverage, so reverting back to enhancement.

[2020-09-11 16:06] doceme opened #28324 "GATT notifications aren't working for CUD characteristics"
**Describe the bug**
GATT notifications are not working with custom "Characteristic User Format Descriptors" (CUD) defined with BT_GATT_CUD. It is possible to read the values, but notifications are not working.

**To Reproduce**
Steps to reproduce the behavior:
1. ```west build -p auto -b nrf52840_pca10056 samples/bluetooth/peripheral_esp```
2. ```west flash```
3. Using a mobile phone or tablet, p

[2020-09-11 16:34] pabigot opened #28325 "bluetooth: null pointer dereference for non-connectable extended advertising"
When https://github.com/pabigot/zephyr/tree/issue/28090 is run on current master including #28090 the application fails with:
[code]

This is due to https://github.com/zephyrproject-rtos/zephyr/blob/7219924ee092676b5e522697c772477741c25b6e/subsys/bluetooth/controller/ll_sw/ull_adv.c#L1497 which unconditionally dereferences `lll->node_rx_adv_term` in a case where that pointer is null.  The pointer

[2020-09-11 16:50] albertofloyd commented on #28148
@maksimmasalski  this is supported in MEC15 chips but similar to PECI, I2C, eSPI bus testing requires another device to act as eSPI host.
While this sample can be run in EVB the HW connection to a eSPI host (Intel RVP) is not documented/supported.

Suggest to mark as not supported in that HW only in Modular card (which setup is documented)

[2020-09-11 16:56] Ripitchip opened #28326 "Sample boards nrf mesh onoff not working"
**Describe the bug**
Trying to run the mesh sample described here : [sample on/off](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/boards/nrf/mesh/onoff-app.)

We have the nRF52840 DK.

**To Reproduce**
Steps to reproduce the behavior:
1. cd zephyrproject/zephyr
2. west build -p auto -b nrf52840dk_nrf52840 samples/boards/nrf/mesh/onoff-app/
3. west flash

**Expected behavior**
As

[2020-09-11 17:28] mbolivar-nordic opened #28328 "(IGNORE) I have a question"
What is the airspeed velocity of an unladen swallow running Zephyr?

[2020-09-11 17:28] #28328 closed

[2020-09-11 17:36] nashif commented on #28154
lets fix the yaml file for that instead

[2020-09-11 17:38] #26188 closed

[2020-09-11 18:00] eugmes opened #28331 "Shell on CDC ACM UART stopped working after PR #24873"
I have a custom board that is based on `nucleo_l432kc` with a USB interface. A software that is running a shell
on CDC ACM interface used to work before #24873 got merged.
The last working revision was d92b199173d7cce41f4837cffa93637fe50dfcf2.

**To Reproduce**
Reproducing requires a custom board, however it should be compatible with `nucleo_l432kc` if one manages to connect
a USB cable to it.

1.

[2020-09-11 18:05] nashif commented on #22906
Can this be considered resolved and can it be closed?

[2020-09-11 18:11] mbolivar-nordic opened #28332 "What is the airspeed velocity of an unladen swallow running Zephyr?"
What is the airspeed velocity of an unladen swallow running Zephyr?

_Originally posted by @mbolivar-nordic in https://github.com/zephyrproject-rtos/zephyr/discussions/28328_

[2020-09-11 18:12] utzig commented on #28332
What do you mean? African or European swallow?

[2020-09-11 18:14] mbolivar-nordic commented on #28332
I don't know that....

[2020-09-11 18:14] #28332 closed

[2020-09-11 18:43] EminYagmahan commented on #22906
Since PR #26319 had a big impact on performance and that is still open, my thought was to do a final test and close the issue after successful merge of the PR. But this can be closed also now.

[2020-09-11 18:43] #22906 closed

[2020-09-11 18:59] nashif commented on #28148
need to change the yaml for this sample file to get excluded. @maksimmasalski  can you please take care of that?

[2020-09-11 19:39] jfischer-phytec-iot commented on #28331
You can quckly modify _samples/subsys/usb/console_ and reproduce/test the issue with nrf52840dk board for example :smile:
[code]

The problem is initialization priority of uart backend _shell_uart.c_, unfortunattely there is no config option to change priority, but you can simple change it to 99 as workaround:

[code]

[2020-09-11 21:09] Trubochkin commented on #3192
I not understand...
I develop device on nrf52840, and when I call `bt_le_adv_start(...)` the current consumption is equal about 500-700uA, and when I call `bt_le_adv_stop()` I have current about 5mA.
I expected that the current will be less, but no... (((
Who know how to resolve this problem?

[2020-09-11 21:14] sandeep-airatechnology commented on #27997
@jakub-uC Thank-you for your response.
I have increased the `CONFIG_SHELL_BACKEND_SERIAL_RX_RING_BUFFER_SIZE` to 128 but it doesn't not help.
I have attached the .config for your reference.
Also, I have tried the same on mac(screen) and linux(putty) to rule out OS specific issues.

copy/pasting `bt test_tx 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18` works
copy/pasting `bt test_tx 01 02

[2020-09-11 21:19] eugmes commented on #28331
@jfischer-phytec-iot I've got to the same conclusion right now. It is too bad that there is no sample with shell on USB CDC ACM to test things quickly.

[2020-09-11 21:21] mbittan opened #28333 "usb: stm32: testusb fails and often hangs forever"
**Describe the bug**

On the Nucleo F767zi and Nucleo F070rb boards, many test cases from the testusb Linux kernel module fail. Failure rates and their consequences can take various forms: most failures only result in a timeout for a specific tranfer, but some of the failures can render the device unusable, forcing the user to reset the MCU in order to use the USB device again.

The following tabl

[2020-09-11 21:44] jfischer-phytec-iot commented on #28333
There is option to set number of iterations  `-c iterations		default 1000`

[2020-09-11 21:49] jfischer-phytec-iot commented on #28333
Depending on how this connection was made (simply wires ?), it is probably not reliable and results should not be taken so seriously.

[2020-09-11 23:06] EminYagmahan commented on #27559
Alternatively I can recommend CLion from JetBrains. With the Embedded Development Support Plugin, STM32CubeMX and OpenOCD can be integrated into the IDE quite well. This is how it can look like. Zephyr projects also work great. A guide is available here:
https://www.jetbrains.com/clion/features/embedded-dev.html
![CLion_Zephyr](https://user-images.githubusercontent.com/47952672/92979814-2ddcbe80-f

[2020-09-12 00:58] #26434 closed

[2020-09-12 11:49] nandojve opened #28337 "Cannot flash Atmel boards using west"
Describe the bug
When flashing Atmel boards such as atsamd20_xpro or sam4e_xpro using OpenOCD by west flash command, the following error is seen:

[code]
This issue occurs after the changes in commit 3124c02. Looks like there is now a requirement to set CONFIG_BUILD_OUTPUT_HEX in order for the hex file path to be passed to the runner.

To Reproduce
Steps to reproduce the behavior:

west build -b a

[2020-09-12 14:20] nandojve opened #28341 "No SRAM available to link echo_server for atsamr21 with ieee802154.overlay"
**Describe the bug**
From 2.3 to 2.4 the net samples pair echo-server/client increase the SRAM requirements.  Since CI doesn't build all combinations, (even for a release like 2.4.0-rc1) the problem was detected only now.

https://github.com/zephyrproject-rtos/zephyr/blob/bc8832f6c8792a541e3000fc42a914955beaf989/samples/net/sockets/echo_server/sample.yaml#L17-L19

Build error:
[code]

**To Reprodu

[2020-09-12 14:21] nandojve commented on #27151
CI not cover all paths, see #28341

[2020-09-12 15:43] parthitce opened #28343 "Bluetooth peripheral sample auto disconnects "ST B_L4S5I_IOT01A Discovery kit""
**Describe the bug**
Bluetooth [Peripheral sample](https://docs.zephyrproject.org/latest/samples/bluetooth/peripheral/README.html) failed to work in [ST B_L4S5I_IOT01A Discovery kit](https://docs.zephyrproject.org/latest/boards/arm/b_l4s5i_iot01a/doc/index.html) board.

Disconnection with the host after,
`[00:00:29.020,000] <err> bt_hci_core: packets count mismatch`

**To Reproduce**
Steps to repr

[2020-09-12 15:48] trondhe opened #28344 "cdc_acm sample with CONFIG_NO_OPTIMIZATIONS=y crashes on nrf52840 dev board"
Compiling and running the cdc_acm sample with -O0 crashes on startup.

Add CONFIG_NO_OPTIMIZATIONS=y to the cdc_acm example and flash it on the nrf52840 dev board and it should print
[code]

Tested with
 - Windows 10
 - gnuarmemb
 - Zephyr 2.3.0 and 2.4.0-rc1, same error

[2020-09-12 17:46] eugmes commented on #28331
This seems to be related to #27985.

[2020-09-12 19:59] jhedberg commented on #3192
BR/EDR has the concept of page- and inquiry scanning. If both of those are disabled then you're neither connectable nor discoverable. So same thing - simply knowing the MAC doesn't allow you to connect through LE or BR/EDR unless the device is actually configured to receive connections (page scanning with BR/EDR or connectable advertising with LE)

[2020-09-12 21:19] pavel-demin commented on #16387
I have the same problem with P-NUCLEO-WB55 EPNWB55$CU4. STM32WB55 on this board doesn't have FUS and newer versions of the M0 encrypted firmware can't be installed on this board. Would it be possible to make this kind of board working with  Zephyr's BLE stack?

The problem is the same with the peripheral* and st_ble_sensor samples. The host stops communicating with the controller right after conne

[2020-09-13 01:01] #26256 closed

[2020-09-13 01:01] #26271 closed

[2020-09-13 07:42] tluio opened #28347 "Possible use-after-free of rx_msg->tx_block in kernel/mailbox.c"
**Describe the bug**
In function mbox_message_dispose(),  rx_msg->tx_block is freed on line 186:
   k_mem_pool_free(&rx_msg->tx_block);
But it is used on line 187:
   rx_msg->tx_block.data = NULL;

[2020-09-13 09:54] henrikbrixandersen opened #28348 "Provide access to CMake project() metadata from Kconfig and C code"
**Is your enhancement proposal related to a problem? Please describe.**
Provide access to CMake application local `project()` metadata (`PROJECT_NAME`, `PROJECT_VERSION`, `PROJECT_VERSION_MAJOR`, `PROJECT_VERSION_MINOR`, `PROJECT_VERSION_PATCH`, `PROJECT_VERSION_TWEAK`, ...) from Kconfig and C code.

This would allow setting the application local metadata in one place (`CMakeLists.txt`) and use it

[2020-09-13 09:54] henrikbrixandersen commented on #28348
cc: @tejlmand

[2020-09-13 10:24] avigreen1978 commented on #27350
@erwango
The fix you proposed only affects the help string of the shell cmd, not the actual syntax.

Let's assume we only have ADC_1 enabled.
then, the syntax of any command would be:
adc <ADC_##inst> <rest of the command syntax>
The 2nd argument is determined by the ADC_SHELL_COMMAND macro's first argument (syntax - which is then stringinfied). This would translate to ADC_0 (inst=0).
This argumen

[2020-09-13 11:41] nashif commented on #27151
the one is not building in CI because the testcase depends on netif, this board does not provide it, so this:

[code]
would make it at least buildable...
However, you then hit the next problem that the test/app itself does not fit on the board, so it overflows. None of this is a bug of sanitycheck, this is just test configuration.

[2020-09-13 13:24] simonguinot commented on #28333
![Nucleo-STM32F070RB-USB](https://user-images.githubusercontent.com/11270339/93018931-de051100-f5d3-11ea-9e24-731eb400c11c.jpg)

Hi @jfischer-phytec-iot. Thanks a lot for looking into this issues. See the attached picture to check how the connection is made. IMHO issues are more likely in the driver or in the HAL than in the wires. For each test we made the results are not erratics but systematics

[2020-09-13 15:46] nandojve commented on #27151
Hi @nashif , this helps a lot to understand the problem but not solve them. The boards that are using shields could never set the depends on at yaml file. Why? These are are shields and can be used on any board `extra_args: SHIELD=atmel_rf2xx_mikrobus OVERLAY_CONFIG="overlay-802154.conf"`.

Are there any way to address the depends on for shields? How shields can expose "netif", "ieee802.15.4", etc

[2020-09-13 23:42] nashif commented on #27151
Can you please stop reopening this as a high priority bug, it is not a bug and it is not a high priority one for that matter.
Please open an enhancement request with the support you are looking for, this is going to be fixed probably with https://github.com/zephyrproject-rtos/zephyr/pull/25703 when it lands, then the filter would work on DTS and what the shield provides.

[2020-09-13 23:42] #27151 closed

[2020-09-13 23:44] nashif commented on #24652
I think I finally got something here, working in progress.

[2020-09-13 23:45] nashif commented on #26949
think I finally have something to fix this and other issues related, stay tuned.

[2020-09-14 02:26] nandojve commented on #27151
Hi @nashif , sorry if I'm disturbing, this is not my intention. Now I have a good picture about what is happening and how things will move forward.
Thank you!

[2020-09-14 06:56] jakub-uC commented on #27997
@sandeep-airatechnology : what uC / board are you using?

[2020-09-14 06:59] erwango commented on #27559
Thanks @EminYagmahan.
I would just warn people that using Zephyr, you won't be able to use the configuration and code generated by CubeMx.

[2020-09-14 07:13] jukkar commented on #28167
To me this looks like a false positive. Coverity does not understand that processing ends when `k_panic()` is called.

[2020-09-14 07:17] erwango commented on #27350
@avigreen1978 Txs for feedback, I'll have a new look

Also, can you tell me what sample you're using to reproduce the issue?
It'll be easier to solve if I can exercice the code myself. Thanks!

[2020-09-14 07:50] cbsiddharth commented on #28167
@MaureenHelm, I'd like to add the following comment and mark the issue as "Ignore" in Coverity:

[code]

I'm not able to submit this comment in the coverity URL (which looks like a permission issue).

[2020-09-14 07:56] jukkar commented on #28167
I can add this to Coverity and close this one.

[2020-09-14 07:56] #28167 closed

[2020-09-14 07:58] jfischer-phytec-iot commented on #28344
This is a known issue, see #19340 for details.

As workaround, you may to increase MAIN_STACK_SIZE to  2048, ISR_STACK_SIZE to 4096, USB_NRFX_WORK_QUEUE_STACK_SIZE to 2048, LOG_PROCESS_THREAD_STACK_SIZE to 4096

[2020-09-14 07:58] #28344 closed

[2020-09-14 08:36] mtpr-ot commented on #28282
The following patch implements REJECT_IND handling for PHY collision only:
[phy_reject_ind_fix.zip](https://github.com/zephyrproject-rtos/zephyr/files/5217145/phy_reject_ind_fix.zip)

[2020-09-14 08:57] JordanYates opened #28355 "Document limitations of net_buf queuing functions"
**Is your enhancement proposal related to a problem? Please describe.**
The current documentation for `net_buf_get` and `net_buf_slist_get` does not specify that the functions are only safe to use from a single thread if the net_buf contains fragments.

**Describe the solution you'd like**
Documentation that describes the above, or an alternate implementation that does not suffer the same problems

[2020-09-14 09:23] hakehuang commented on #28206
@mmahadevan108  with your fix in [https://github.com/zephyrproject-rtos/hal_nxp/pull/57], the /tests/subsys/debug/coredump case still fails, there is no coredump happen, only print out the first message. see below log
[code]

the expected log shall be, take FRDM_k64f as example

[code]

[2020-09-14 09:31] GABS9718 commented on #27915
Hi @holmes81, were you able to receive the data sent? I'm using the same board, I can get the message ''Data sent'' in the log output, but I dont receive in my gateway. I think that this is related with the settings of OTAA protocol, ''Device EUI'', ''Application EUI'' and ''App key''. Do u know how to help me?

[2020-09-14 09:59] jfischer-phytec-iot commented on #28333
The driver certainly has issues/bugs. It is just that the higher number of errors for nucleo_f070rb could be influenced by _bad_ connection.

[2020-09-14 10:11] joerchan commented on #25672
Yes.

The linked controller change is causing the TX thread to be unscheduled during the processing of the adv enable command.
So the main thread becomes active, and can continue to start the scanner, while the Mesh adv thread and TX thread is blocked. Since the command complete for adv enable has not been delivered then the current executing command in the TX thread is the adv enable command, but

[2020-09-14 10:22] erwango commented on #16387
@pavel-demin I'm truly sorry but it is not possible to provide support on these samples since the binary is quite specific.

[2020-09-14 10:24] GABS9718 commented on #28305
Hi @Mani-Sadhasivam. I saw in one topic that you were able to send the data and receive it in TTN using the OTAA.  I can get the message ''Data sent'' in the log output, but I dont receive in my gateway. I think that this is related with the settings of OTAA protocol, ''Device EUI'', ''Application EUI'' and ''App key''. I dont know where I should make this settings for the board that I'm using nRF

[2020-09-14 10:50] Mani-Sadhasivam commented on #28305
DTS and Config look sane. Were you able to get any other SPI samples working under the same SPI instance? Had you made sure that SPI controller is enabled and able to use?

[2020-09-14 10:52] Mani-Sadhasivam commented on #28305
That's from the LoRaWAN PR: https://github.com/zephyrproject-rtos/zephyr/pull/23664

With this PR you should be able to send data to TTN server by modifying the keys in provided sample application.

[2020-09-14 11:24] rlubos opened #28360 "drivers: nrf_802154: SWI IRQ priority is not read correctly"
`nrf_802154` driver does not use its platform IRQ API to read SWI IRQ priority, which results in an invalid behaviour of the driver.

[2020-09-14 11:28] jukkar commented on #28216
I found out this duplicate data issue and there is a new version at #28302, can you re-try it?

[2020-09-14 11:34] jukkar commented on #28216
Hmm, I seem to have messed something in rebase, the sample app does not work any more. Investigating...

[2020-09-14 11:34] alexsven opened #28361 "USB audio samples fails if ASSERT=y"
**Describe the bug**
Running the USB audio samples for nrf5340dk_nrf5340_cpuapp fails on ASSERT in nrf_usbd.h:1273 if asserts are turned on

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples\subsys\usb\audio\headphones_microphone
2. west build -b nrf5340dk_nrf5340_cpuapp
3. west flash
4. See error on UART

[2020-09-14 11:39] GABS9718 commented on #28305
I dont

I dont know what caused that error, but it is not happening anymore. Thank you for the answer.

[2020-09-14 11:41] erwango commented on #28343
@parthitce can you clarify board you're using ?

These aren't the same board. ST B_L4S5I_IOT01A is `b_l4s5i_iot01a`.

Btw, I've tested `samples/bluetooth/peripheral` successfully on both boards, with 2 mobile app (ST BLE profile and nRF Connect). Will try to do some more testing using bluetoothctl.

[2020-09-14 11:42] emob-nordic commented on #28361
The issue is visible when trying to set dtoggle for ISO endpoint. It is not applicable as those type of endpoints does not support dtoggle, will post a patch that will filter it out.

[2020-09-14 11:45] parthitce commented on #28343
I wasn't aware there is different revisions available. Mine is `B-L475E-IOT01A1` (printed on the PCB)

[2020-09-14 11:48] erwango commented on #28343
Ok, so this is indeed disco_l475_iot1.
ST B_L4S5I_IOT01A is based on STM32L4S5I. I agree this could be confising.

[2020-09-14 11:55] Mani-Sadhasivam commented on #28305
Okay, closing the issue now!

[2020-09-14 11:55] #28305 closed

[2020-09-14 11:55] Mani-Sadhasivam commented on #28223
@GABS9718 Did you see any error in serial console?

[2020-09-14 12:01] nvlsianpu commented on #28165
False positive.

[2020-09-14 12:01] #28165 closed

[2020-09-14 12:02] weinholtendian opened #28363 "ssd16xx: off-by-one with non-multiple-of-eight heights"
**Describe the bug**
I'm using the ssd16xx driver with a 122x250 pixel display with all settings in OTP. The image is rendered with an offset, such that the top of the screen is some uninitialized data and the rest of the image is shifted downwards.

**To Reproduce**
I'm not sure how to reproduce without an actual 122x250 pixel display. One could use `west build -b nrf52840dk_nrf52840 samples/disp

[2020-09-14 12:13] Nukersson commented on #27417
Can be solved by e5e0dbbe1b69a88f41ae0f4123cd48eed1238340. It was already added by [following PR](https://github.com/zephyrproject-rtos/civetweb/pull/2)

[2020-09-14 12:24] erwango commented on #28343
@parthitce I've been able to test succesfuly:

[code]

On board:
[code]

Environment (please complete the following information):

OS: Linux with bluez Version 5.48
Zephyr: v2.4.0-rc1-76-geb2a705497

[2020-09-14 12:27] Nukersson commented on #27020
@xhpohanka Try to gzip your files served from your civetweb http server and use mg_send_chunk() for bigger files. Still there may be issues, maybe. Let me know, if mg_send_chunk() improves your performance. If you need more information how to use it, see my PR #28323.

P.S.: How much Bytes KiB or MiB needed your files be on your civetweb http server?

[2020-09-14 12:28] jfischer-phytec-iot commented on #28363
No, that is not always possible because 122 is not multiple of 8

I see that I forgot to update shields properties like in 14ef0a7ccb0a593c1de54be96b920bfdee0b4e14. I will open a PR.

[2020-09-14 12:28] parthitce commented on #28343
@erwango Thank you very much for the tests. I will re-do the tests today and update my results. I was sure that the problem was persistent with constant disconnection and device deletion in bluetoothctl end.

Also there was another test which was failing, nrf52840dk acting as central and disco acting as peripheral. Will confirm my tests again. Thanks again.

[2020-09-14 13:17] gmarull commented on #28202
@shileiphys I have pushed a slightly different approach on the same PR (in some way inspired by X11 settings).

[2020-09-14 13:32] erwango commented on #25919
Closing as no response for more than one month

[2020-09-14 13:32] #25919 closed

[2020-09-14 13:33] erwango commented on #28309
Will look into it in details but generally flash based samples do not play well on nucleo_f429zi due to unusual flash map (cf https://github.com/zephyrproject-rtos/zephyr/issues/19895).

[2020-09-14 13:41] weinholtendian commented on #28363
Hmm, I must be misunderstanding something. I'm half sure that I do get 122 pixels in height on my display and all lines are rendered now, thanks to the workaround. If I set the height to 120 then the two last lines are blank.

I have some reference code from the manufacturer and that sends 250*128 bytes. Isn't it just the case that you should send 128 lines and the display itself ignores the six e

[2020-09-14 13:43] jukkar commented on #28216
Fixed the issue in #28302, I am not seeing duplicate bytes any more. @armandciejak can you verify whether this works in your test setup.

[2020-09-14 14:03] kkasperczyk-no commented on #27513
@tbursztyka  I took a look on this net_mgmt interfaces and if I understand it correctly it's a way to send network request setting interface address to another. So user is able to do this in his code at runtime, by passing desired eui64 to this request, am I right? I'm asking about this, because I had on my mind solution, in which user provides implementation of method called automatically in driv

[2020-09-14 14:04] gmarull commented on #28278
After some quick tests I think that the problem you are observing is related to the pre-scaler value you're using (default to 10000 unless you change it on DT). Using default prescaler I see that pulse_cycles end up reaching 0 on your sample, for which timer output is disabled (as documented by the API). You will need to adjust timer pre-scaler to meet your requirements.

[2020-09-14 14:05] #28108 closed

[2020-09-14 14:07] pabigot commented on #26246
Note that any solution to this would handle #18351 as well.  It's not a simple problem to solve; some history is in https://github.com/zephyrproject-rtos/zephyr/issues/18351#issuecomment-522276594

[2020-09-14 14:10] emob-nordic commented on #27599
It is a problem but I couldn't figure out how to overcome that. Similar situation happens with mcumgr #27727.

[2020-09-14 14:10] haipas commented on #27112
Sorry for the late answer I was on vacation.
The problem also occurs with lfs.

[code]

[2020-09-14 14:13] pabigot commented on #14520
#27342 was merged in lieu of #24404.  I'm marking this stale; if it's still a problem please comment.

[2020-09-14 14:13] #28095 closed

[2020-09-14 14:15] emob-nordic commented on #27727
I think the issue there is USB backend executes `uart_mcumgr_isr()` from system work Q and enter never ending while loop which adds another item for system workQ. This `while` will never let the next item from system work Q to schedule the work and make it unable to finish the communication. I've played a bit with work Qs for both cdc and mcumgr but this seems not helping. I've managed to make it

[2020-09-14 14:19] #17688 closed

[2020-09-14 14:25] de-nordic commented on #27727
I think that this PR https://github.com/zephyrproject-rtos/zephyr/pull/28339/ tries to address the issue also.

[2020-09-14 14:27] ioannisg commented on #28289
Yes, this might be a test issue; the test does not account for platforms that concurrently enable the code relocation feature. Will take a look as well.

[2020-09-14 14:27] emob-nordic commented on #27727
Its separate issue regarding shell over USB.

[2020-09-14 14:33] nvlsianpu commented on #27367
@EdytaBosacka At the first glance this looks like a stack to small issue. Pleas Increase thread stack size.

[2020-09-14 14:38] ioannisg commented on #27544
@oyvindronningstad  will you be able to provide the fix for this issue (probably present in #27872, which is still a draft) :)

[2020-09-14 14:39] de-nordic commented on #27112
I do not think that the problem is with mcumgr. The problem is with SPI or storage subsystem.

[2020-09-14 14:40] #28197 closed

[2020-09-14 14:41] rlubos commented on #27162
This was fixed in https://github.com/zephyrproject-rtos/zephyr/commit/bc0654f361994e8dfa63e5d98ee3360ae282a316 (hal_nordic commit https://github.com/zephyrproject-rtos/hal_nordic/commit/8139a8445900ddbf495f65de21ddeab31ac97951).

[2020-09-14 14:41] #27162 closed

[2020-09-14 14:56] carlescufi commented on #15286
@cvinayak @pdunaj @nordic-krch is this still applicable?
If not, please close

[2020-09-14 15:01] #26263 closed

[2020-09-14 15:03] carlescufi commented on #26722
@nordic-krch is this something you could try to fix for Zephyr 2.4.0?

[2020-09-14 15:07] erwango commented on #28333
^^ @loicpoulain, @ydamigos Would one of you have time to look at this issue?

[2020-09-14 15:19] armandciejak commented on #28216
@jukkar I tested on the MIMXRT1050 EVK board and do not see the size missmatch problem anymore but I had a crash.

[code]

[code]

[2020-09-14 15:24] pdunaj commented on #15286
As far as I know this should be fixed by using onoff to control the operation of hfclock from multiple sources.

[2020-09-14 15:24] #15286 closed

[2020-09-14 15:26] bpbradley commented on #28278
Gotcha. I noticed I was still getting occasional dropouts when I lowered the prescaler to 100, but I will need to narrow down those instances specifically and make sure that is all that is happening.

[2020-09-14 15:37] jhedberg commented on #28355
I vaguely remember some discussion around moving to use a separate fragments list net_buf struct member rather than reusing the first four bytes of the net_buf struct (combined with flags) for this purpose. This would remove this limitation in the implementation. @carlescufi  was it with you that this came up?

[2020-09-14 15:59] broglep-work commented on #28117
While the LwM2M spec does not specify any retransmission, it could be useful if LwM2M lib has its own mechanism for re-transmission if the underlying CoAP transmission does not work. Something like this is present in the bootstrapping client, it creates one lwm2m message, if the corresponding CoAP packet transmission fails, it restart the bootstrap process (by restarting the whole lwm2m engine) an

[2020-09-14 16:05] pabigot commented on #27985
Since we keep playing whack-a-mole with this, and some of the solutions (e.g. #28339) have their own weaknesses, I've pushed #28369 as a potential solution for 2.4.

I think we should spend some 2.5 development effort on maintaining device state with higher fidelity.  We should be able to get a handle for a device before it's been initialized, to break dependency loops.  We should be able to delay

[2020-09-14 16:53] galak opened #28371 "gcc 10.x compile warning/error for array subscript 0 is outside the bounds in subsys/bluetooth/mesh/prov.c"
When building the following test with gcc 10.2 we get:

`tests/bluetooth/mesh_shell/bluetooth.mesh.mesh_shell`

[code]

[2020-09-14 16:54] galak commented on #28371
@carlescufi @jhedberg not sure what we want to do here.

[2020-09-14 17:04] jhedberg commented on #28371
@tsvehagen FYI

[2020-09-14 17:08] jhedberg commented on #28371
I suspect "brute force" solution would be to convert `IS_ENABLED(CONFIG_BT_MESH_PROVISIONER)` usage to `#ifdefs`, though this whole trickery with a zero-length array was supposed to allow the usage of `IS_ENABLED` to begin with, I believe.

[2020-09-14 17:53] pabigot commented on #27599
Results of some investigation: `bt_enable()` invokes `bt_init()` from the system work queue, which blocks until the initialization completes.  While it's blocked work items have been queued for `cdc_acm_irq_callback_work_handler` that would have to be processed to unblock it.

This can be resolved by adding a dedicated work queue in `subsys/usb/class/cdc_acm.c`, but that doesn't help because `usb_

[2020-09-14 18:02] pabigot commented on #27599
It's actually sufficient to give the USB infrastructure its own work queue, and let `usb_transfer` and `cdc_acm` share it.  That might be a viable solution.

[2020-09-14 18:28] #27753 closed

[2020-09-14 19:32] dcpleung commented on #28150
@albertofloyd I tried going back to the commit where the warning messages were introduced, and the sleep latency is about 0.650 seconds (which is higher then the 500ms threshold). Also I got `PM state[0]` counter being 6 instead 5. Just wondering if there is any special setup required for this this test.

[2020-09-14 20:11] albertofloyd commented on #28150
@dcpleung no special HW setup (other than debug pins indicated in the test case)
That discrepancy you observed is why I added the counters, intermittently the entry and exit do not match across kernel versions.
Regarding the latency that's a limitation on the system which sleep entry time is unbounded, even if all threads are stopped.
I filed this as an enhancement to guarantee a bounded time. htt

[2020-09-14 20:26] dcpleung commented on #28150
Regarding the sample (ignoring the latency and cycle counts), this is expected behavior. It runs 4 sets of scenarios, each repeating 5 times. So you will see repeating messages. After all these, it simply idles with nothing to do. So closing this as this is not a bug.

[2020-09-14 20:26] #28150 closed

[2020-09-14 21:00] #28114 closed

[2020-09-14 21:03] #28240 closed

[2020-09-14 21:18] shileiphys commented on #28202
Thank you! I'll give it a try

[2020-09-14 21:35] galak opened #28375 "gcc 10.x compile warning/error for array subscript 0 is outside the bounds in tests/bluetooth/tester/src/gap.c"
When building `tests/bluetooth/tester` on `qemu_x86` with gcc 10.2 we get:

[code]

[2020-09-14 21:39] MaureenHelm commented on #27867
@wentongwu @jhedberg any update on this issue? will it be fixed soon?

[2020-09-14 22:02] jfischer-phytec-iot commented on #28363
Correct, two line (first or last, depending on configuration) are unused.

You are free to use the code from the manufacturer :-). Depending on scanning configuration the last six lines are not displayed, or worst case, the first six lines. I have decided that it is better to leave the two lines unused than to pretend to have a higher resolution that cannot be displayed at all.

[2020-09-14 22:26] sandeep-airatechnology commented on #27997
@jakub-uC I am using NRF52840 devkit. PCA10056, 2.0.1, 2020.20.

[2020-09-14 23:37] #28154 closed

[2020-09-14 23:49] #21754 closed

[2020-09-15 01:08] adamfeuer commented on #21754
@ioannisg Why should I have to modify my board to use the shell? I don't have to do that on NuttX.

[2020-09-15 03:32] albertofloyd opened #28380 "drivers: peci: xec: Cannot recover PECI bus after PECI transfer fails"
**Describe the bug**
After PECI bus transaction fails, all subsequent transactions fail too.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/drivers/peci/
2.  west build -c -b mec1501modular_assy6885

**Expected behavior**
If Intel SoC is not ready, the PECI transaction will fail.
PECI driver shall recover the bus and return to idle.

**Impact**
Showstopper, unable to perform PECI

[2020-09-15 03:44] DMotocus commented on #19244
⚰️

[2020-09-15 05:03] jrananth1032 opened #28383 "bq274xx sample is not working"
**Describe the bug**
I am trying to get bq27421 up and running on our developement board(soc:nrf52840).But sample is not working, because in sample trying to fetch samples for all channels(SENSOR_CHAN_ALL) ,but driver does not handling SENSOR_CHAN_ALL
**To Reproduce**
Steps to reproduce the behavior:
1. west build
2. Opened minicom
4. Seeing values as zero for all the channels

**Environment (plea

[2020-09-15 06:01] tbursztyka commented on #27985
@pabigot I was going to propose the same thing, let's keep the old behavior in 2.4, and revert for 2.5 in order to fix found priority issues.

[2020-09-15 06:30] b0661 commented on #28289
The _vector_table_pointer is always 0. In case of relocation the RAM is additionally mapped to 0; without relocation the FLASH is additionally mapped to 0.

- _vector_start is in FLASH, only if the FLASH is also mapped to address 0 (no relocation) it is the "real" _vector_table_pointer.
- VECTOR_ADDRESS is in RAM, only if the RAM is also mapped to address 0 (relocation) it is the "real" _vector_ta

[2020-09-15 06:45] jori-nordic opened #28384 "Bluetooth: L2CAP: Bad CoC SDU segment handling"
**Bug description**
This is a bug happening when handling a fragmented SDU, and when not using a custom allocator function/memory pool for CoC.

When l2cap_chan_send() is called with a netbuf allocated from a pool with its buffer size equal to the exact data payload length, l2cap_chan_send() will segment the SDU and create an additional 2-byte PDU (in order to send the sdu_len).

On the receiving

[2020-09-15 07:08] PerMac opened #28385 "drivers.clock.nrf_lf_clock_start_xtal_no_wait.wait_in_thread fails on nrf9160dk_nrf9160"
**Describe the bug**
The test case `drivers.clock.nrf_lf_clock_start_xtal_no_wait.wait_in_thread fails on nrf9160dk_nrf9160` fails on nrf9160

**To Reproduce**
Steps to reproduce the behavior:
1. go to zephyr dir
2. have nrf9160 connected (here at ttyACM0)
3. run `./scripts/sanitycheck --device-testing -T tests/drivers/clock_control/nrf_lf_clock_start/ -p nrf9160dk_nrf9160 --device-serial /dev/tty

[2020-09-15 07:12] weinholtendian commented on #28363
(In the previous comment I wrote "250\*128 bytes", but I meant to write 250\*16 bytes or 250\*128 bits).

Okay, I see what you mean, that makes sense if it can't really show all 122 lines.

I will take some time during the week to prove whether or not the display has the ability to display all 122 lines or not. Hopefully I will be back with some photos to demonstrate that it's possible. :)

[2020-09-15 07:15] PerMac commented on #28052
I haven't seen this test failing for some time. Was it fixed somewhere else in the meantime? @vanti How does it look now on your platform?

[2020-09-15 07:33] joerchan commented on #27599
Using a bluetooth work-queue instead of the system workqueue has been suggested other places, for example to free up the availability of the system-workqueue.

However this issue seems to be that the API of shell over CDC ACM cannot be called from the system-workqueue without the risking a deadlock. So solving this problem in the USB CDC ACM driver seems like the correct fix here.

Adding another

[2020-09-15 07:36] loicpoulain commented on #28333
I do not have this nucleo board, but can have a look on disco-iot and carbon one.

[2020-09-15 07:37] erwango commented on #28333
@loicpoulain would be great, txs!

[2020-09-15 07:58] jukkar commented on #28216
I am not seeing exactly this backtrace but fixed one null pointer access in the PR.

[2020-09-15 08:13] ABOSTM commented on #28289
@b0661, I am a bit confused:

_vector_table_pointer variable is only defined under CONFIG_SW_VECTOR_RELAY feature

On nucleo_f091rc (and most STM32 chip), Flash is mapped to address 0x08000000, and `CONFIG_FLASH_BASE_ADDRESS=0x8000000`.
(even if there is some capability to also access it from 0, depending on BOOT Option Bytes)
so `_vector_start ` is also 0x08000000 and this is the real vector tabl

[2020-09-15 08:15] #28361 closed

[2020-09-15 08:25] trond-snekvik commented on #28371
There aren't _that_ many places we'd have to add #ifdefs to to get around this. I'll make a PR, so we can get this fixed for 2.4.

[2020-09-15 08:37] b0661 commented on #28289
@ABOSTM Sorry for the confusing text.

Should read "the real vector table pointer (that is used by the processor) is always 0". You may have a vector table at start of RAM and another vector table at start of FLASH. Depending on BOOT options and later on mapping one of these will be mapped to address 0.

Both can be covered using CONFIG_SW_VECTOR_RELAY by default for such board (boards which don't

[2020-09-15 08:53] ABOSTM opened #28390 "drivers: sensor: lsm6dsl compilation issue when sensor defined in board (I2C) and in test (SPI)"
**Describe the bug**
While pushing PR #27013, Buildkite highlight a compilation issue in lsm6dsl.

#27753 already fixes a similar issue with lis2dh (on stm32f3_disco).
Now it merged, and new issue raised up on disco_l475_iot1 with compilation of lsm6dsl.
Both sensor are embedded in disco_l475_iot1 baord (on I2C), but ther is conflict with test which define the same sensor on SPI:
-> error: 'DT_N_S

[2020-09-15 09:00] sven-hm commented on #21754
@adamfeuer i think @ioannisg refers to #27317. There the internal pull-up is activated for the arduino_due board, so no need to modify the hardware.
By the way, NuttX had [the same problem](https://github.com/apache/incubator-nuttx/commit/4868acf27e699b9af4d8bedf55be56d36d97b8a5) and fixed it by activating the internal pull-up as well.

[2020-09-15 10:04] YuguoWH opened #28394 "nanosleep test failed on ARC series targets"
**Describe the bug**
tests/posix/common test_nanosecond_0_1 failed on ARC series targets including iotdk, emsdp, nsim_em, nsim_hs, etc.

**To Reproduce**
Steps to reproduce the behavior:
scripts/sanitycheck -p nsim_em -T tests/posix/common

**Expected behavior**
All tests should pass

**Logs and console output**

[code]

**Additional context**
Related to #27065

[2020-09-15 10:11] #27874 closed

[2020-09-15 10:44] #28171 closed

[2020-09-15 10:51] pabigot commented on #27599
risking a deadlock. So solving this problem in the USB CDC ACM driver seems like the correct fix here.

It's not isolated to shell; any blocking UART transmission over CDC ACM will suspend whatever thread is animating the UART flow.  The impact is not localized to tasks within the CDC ACM driver since it depends on other parts of USB to get and put data, so the fix can't be done within CDC-ACM its

[2020-09-15 11:44] ruuddw commented on #28394
@pabigot  @carlescufi
The problem doesn't seem to be related to simulation instruction count vs timer count as mentioned in the PR, but to the fact that a 1 nanosec delay is expected to not take more than 1 cycle (which is hard on targets running at few Mhz and not GHz).
       uint64_t tolerance_ns = MAX(NSEC_PER_CYCLE,  (TOLERANCE_PPC * exp_ns) / 100U);

[2020-09-15 11:53] galak opened #28397 "gcc 10.x compile warning/error for array subscript is outside the bounds in cmsis_rtos_v2/thread.c"
When building `samples/portability/cmsis_rtos_v2/philosophers/sample.portability.cmsis_rtos_v2.philosopher` via sanitycheck with gcc 10.2 we get:

[code]

[2020-09-15 11:56] weinholtendian commented on #28363
I used this test pattern:
![image-reference](https://user-images.githubusercontent.com/45032224/93205896-d8850380-f758-11ea-9eb9-00350aacd1ec.png)

The driver can render it either with the image shifted down:

![image-shifted-down](https://user-images.githubusercontent.com/45032224/93205937-e89ce300-f758-11ea-944d-77ed0d78d1ea.jpg)

Or with the image shifted up:

![image-shifted-up](https://user-i

[2020-09-15 12:03] loicpoulain commented on #28333
Result is a bit different on disco-iot:

[2020-09-15 12:05] galak commented on #28295
Is this being run with some TFM since this is a `non-secure` platform?

[2020-09-15 12:19] markus-becker-tridonic-com commented on #26383
It seems that upstream is deprecating NCP in favor of RCP:
https://groups.google.com/g/openthread-users/c/NsVMxljdUEo
https://github.com/openthread/ot-br-posix/pull/403

I have been testing otbr-agent from https://github.com/openthread/ot-br-posix and an RCP firmware from https://github.com/openthread/openthread on a NRF52840-DK without problems.

@rlubos, do you plan to change to RCP for NordicCo

[2020-09-15 12:38] pabigot commented on #28394
I'm not convinced by that diagnosis.  AFAICT POSIX nanosleep on Zephyr uses `k_busy_wait()` which is not bound to ticks (or isn't supposed to be, at least), but has a resolution of 1 us.   The implementation is probably wrong, since it delays for the floor of ns/1000 rather than the ceiling, so the test for 1 ns is effectively `k_busy_wait(0)`.

The configured cycle rate in the application is 5 MH

[2020-09-15 12:47] joerchan commented on #25672
Update to bug description:

After commit c69a27b78970f3426 the behavior that triggered the bug has changed, and to get it back adding `CONFIG_SYSTEM_CLOCK_NO_WAIT=y` is needed.
Also on current master (36128bde19) the bug can sometimes happen on the sample with asynchronous bt_enable as well.

[2020-09-15 13:00] ruuddw commented on #28394
No, it is not 52800 cycles that the busy wait call took, it is 52800 nsec = 264 cycles @5Mhz (which is a realistic minimum overhead for a function call that checks a timer and concludes 1 nsec has passed, see the default implementation).
The assert, however, expects 0 or 1 cycle.

[code]

[2020-09-15 13:17] erwango commented on #28309
@Cimex97 Following discussion during review of #28387, it appears that LittleFS is not made to work with few STM32 series such as F2/F4/F7.
Reason is that LittleFS (similarly to other FS solutions) will use one flash page per file to be saved (plus one for the superblock).
Since STM32F2/F4/F7 flash hardware block is made of quite little number of big pages, it would be a waste of memory to use 256

[2020-09-15 13:22] nashif commented on #27880
however, the soc is selecting this...

see soc/arm/nxp_lpc/lpc55xxx/Kconfig.series

[2020-09-15 13:23] dleach02 commented on #28156
fixed by #27850

[2020-09-15 13:23] #28156 closed

[2020-09-15 13:28] dleach02 commented on #26488
I have confirmed that this problem is fixed with the pending KW41 SDK 2.2.3 release. The current schedule for website release of the SDK 2.2.3 is October 1, 2020.

[2020-09-15 13:56] pabigot commented on #28394
@ruuddw Thanks for explaining; that does make sense.

I'm going to solve this with #28400 by removing the test, which was wrong to start.  When I reworked it to support tolerance I unwittingly (witlessly) removed a comment:
[code]

which should have been a clue that the implementation was wrong due to inappropriate truncation.  Also tests will never be within a proportional tolerance for values th

[2020-09-15 13:59] #28317 closed

[2020-09-15 14:24] haipas commented on #27112
@de-nordic I don't think I have a general problem with the SPI or the SD-Card. My application can read/write to the SD card without any problems and I can send files to the SD card with the fs upload command.

The error occurs with the following function in the file subsys/mgmt/smp.c

[code]

[2020-09-15 14:26] MaureenHelm commented on #28169
@Navin-Sankar ping

[2020-09-15 14:26] MaureenHelm commented on #28172
@Navin-Sankar ping

[2020-09-15 14:26] ABOSTM commented on #28394
I face the same issue on all STM32 boards (disco_l475_iot1, nucleo_f207zg, nucleo_f429zi, nucleo_f746zg, nucleo_g474re, nucleo_h743zi, nucleo_l152re, nucleo_l4r5zi, nucleo_wb55rg ).
Regression introduced by #27065 tests: posix: fix nanosleep tests for clock slew
[code]

[2020-09-15 14:29] MaureenHelm commented on #28298
@honestech74 can you reproduce this issue in upstream master?

[2020-09-15 14:32] MaureenHelm commented on #28383
@parthitce will you please take a look?

[2020-09-15 14:43] jrananth1032 commented on #28383
It is not a big issue , just need to read each channel one by one otherwise ,SENSOR_CHAN_ALL should be handled in driver.

[2020-09-15 14:44] #28331 closed

[2020-09-15 14:52] #27783 closed

[2020-09-15 14:53] de-nordic commented on #27112
Have you tried to follow this advice: https://github.com/zephyrproject-rtos/zephyr/issues/27367#issuecomment-692098385?

[2020-09-15 14:56] ioannisg commented on #28289
@ABOSTM thanks for your input. I have some comments:

This forces the SoC to copy the vector table from ROM to RAM and use the SoC specific HW Relocation mechanism to switch to using the RAM table. This is only happening if the Zephyr image is _not_ Bootloader.

So I am wondering: if Zephyr _is_ a bootloader how does the vector table "work" directly from ROM? If it does work, then I think this sho

[2020-09-15 15:23] haipas commented on #27112
Ok, increasing `CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE` resolved the problem... Many thanks for the help

[2020-09-15 15:23] #27112 closed

[2020-09-15 15:32] adamfeuer commented on #21754
@sven-hm @ioannisg Thanks for explaining, this makes sense. I will try the new code.

[2020-09-15 15:42] armandciejak commented on #28216
@jukkar I could run my test longer but still managed to crash it.

[code]

[2020-09-15 16:15] ABOSTM commented on #28289
yes that is the way it works.

I prefer option 2) so that SW_VECTOR_RELAY and SW_VECTOR_RELAY_CLIENT are available on this platform.

And so to save space in RAM, I kept the original specific redefinition of `relocate_vector_table()` of stm32f3.
Just add the case of SW_VECTOR_RELAY or SW_VECTOR_RELAY_CLIENT activation.
see #28405

I am still wondering whether the generic weak implementation should

[2020-09-15 16:21] ioannisg commented on #28289
Then, how about standalone zephyr images (without bootloader)? why do they need to use the HW re-map mechanism? Wouldn't it be better to "behave" as a bootloader, then?

[2020-09-15 16:22] #27985 closed

[2020-09-15 16:24] maksimmasalski commented on #28148
I will do that

[2020-09-15 16:31] ioannisg commented on #28289
**prep_c.c**
[code]

This looks weird, actually. Unless I am missing something,
if we have `XIP && FLASH_BASE_ADDRESS != 0` then the memcpy will copy the table to address 0, which probably is outside flash, so that should give a fault, actually.

@ABOSTM could you file a ticket for this, and we can take a look outside the scope of this bug report?

[2020-09-15 16:44] carlescufi opened #28406 "Condition variables"
Zephyr kernel APIs that cover:

[code]

[2020-09-15 16:44] carlescufi commented on #27032
Blocked by #28406

[2020-09-15 16:49] carlescufi commented on #27510
@erbr-ot will you create a backport PR for this, targetting the v1.14-branch?

[2020-09-15 16:54] carlescufi commented on #27639
Marked as fixed in Coverity

[2020-09-15 16:54] #27639 closed

[2020-09-15 16:58] carlescufi commented on #28052
@ioannisg can you do a run of this test on multiple boards? I will do reel_board

[2020-09-15 17:02] carlescufi commented on #28052
Passes on reel_board

[2020-09-15 17:18] pabigot commented on #28298
Marking as low as this is believed to be fixed; close or reprioritize if that changes.

[2020-09-15 17:19] pabigot commented on #28309
Marking as low as littlefs is not easily supported on this platform, nothing Zephyr can do about that.  Alternative solutions identified above.  This could also be closed.

[2020-09-15 17:21] pabigot commented on #28325
Marking low so triage telecon doesn't get into it; PR exists and is scheduled for 2.4.0

[2020-09-15 17:29] parthitce commented on #28383
@MaureenHelm Sure I will.

[2020-09-15 17:34] pabigot commented on #28394
Medium since affects multiple platforms; PR scheduled for 2.4.0

[2020-09-15 17:35] #28380 closed

[2020-09-15 17:35] #28360 closed

[2020-09-15 17:49] pabigot commented on #28309
From Triage the concern is why is this being run on a platform that doesn't support it.  The problem is that the test/sample requires a "storage" partition.  Only boards where that partition has at least four blocks will pass this test.

I don't know of a way to filter it other than the existing "platform_allow", which does not include this platform.

@nashif what should I do?

[2020-09-15 17:52] ceolin commented on #28347
It is not issue AFAIU, tx_block is *not* a pointer in rx_msg and the code is just ensuring that the data field in the struct won't be pointing to released memory.

[2020-09-15 18:46] pabigot commented on #28223
The difference is with `CONFIG_LORA_SX12XX=y` the sx1276 driver is being initialized and started.

I can replicate the behavior using your DTS patch without having LoRa hardware attached (I don't have any).  The `k_msleep()` in the main routine is never waking.

For some reason the SX1276 driver successfully initializes, but there's no way it can work.  Please see [the hardware connection data](ht

[2020-09-15 18:46] #28223 closed

[2020-09-15 18:48] galak commented on #28294
What are you using for the trusted firmware / secure side?

[2020-09-15 19:33] zephyrbot opened #28411 "[Coverity CID :214281] Unchecked return value in subsys/mgmt/osdp/src/osdp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/6fe1fde9dcb11cda20644142e71eebbc5fc6c24b/subsys/mgmt/osdp/src/osdp.c#L194

Category: Error handling issues
Function: `osdp_init`
Component: Other
CID: [214281](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214281)

Details:

[code]

Please fix or provide comments in coverity using the li

[2020-09-15 19:33] zephyrbot opened #28412 "[Coverity CID :214279] 'Constant' variable guards dead code in tests/drivers/clock_control/nrf_lf_clock_start/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/6fe1fde9dcb11cda20644142e71eebbc5fc6c24b/tests/drivers/clock_control/nrf_lf_clock_start/src/main.c#L61

Category: Possible Control flow issues
Function: `test_clock_check`
Component: Tests
CID: [214279](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214279)

Details:

[code]

Please fix o

[2020-09-15 19:33] zephyrbot opened #28413 "[Coverity CID :214280] Unintentional integer overflow in tests/posix/common/src/nanosleep.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/6fe1fde9dcb11cda20644142e71eebbc5fc6c24b/tests/posix/common/src/nanosleep.c#L202

Category: Integer handling issues
Function: `common`
Component: Tests
CID: [214280](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214280)

Details:

[code]

Please fix or provide comments in coverity using

[2020-09-15 19:42] mmahadevan108 commented on #28206
@hakehuang I debugged this issue on RT600. The test is writing 0 to address 0x0. This write is erasing the debug_console function pointer, hence the coredump is not printed on the console.
On RT600, 0x0 is mapped to Shared RAM access via CM33 code bus and 0x30000000 is mapped to Shared RAM access CM33 data bus.

[2020-09-15 19:59] jettr commented on #28170
Can we conclude this was a false positive?

[2020-09-15 20:03] dleach02 commented on #28205
@hakehuang can you retest this? I'm unable to reproduce this particular issue.

[2020-09-15 20:15] vanti opened #28414 "kernel/timeout: next_timeout() is returning negative number of ticks"
**Describe the bug**
next_timeout() in kernel/timeout.c has the following line of code:

`int32_t ret = to == NULL ? MAX_WAIT : MAX(0, to->dticks - ticks_elapsed);`

The intent seems to be if the requested timeout has already elapsed and `to->dticks - ticks_elapsed` is negative, it should set `ret` to 0 (if `to` is not NULL).
However, this is not what happens in practice, given `to->dticks` is an

[2020-09-15 20:21] aasthagr commented on #26352
This code no longer exists in the main branch.

[2020-09-15 20:36] #26352 closed

[2020-09-15 20:59] ceolin commented on #28170
Nope, that is not a false positive IMHO. C standard does not define the enum size, it says that it has to be compatible with char and a signed/unsigned integer type an be capable of represent the values of all members, but this is implementation defined. So, it could be an unsigned 32 integer, that is the case without the packed attribute. For the portability sake we should not have that assert.

[2020-09-15 22:03] #28206 closed

[2020-09-15 22:36] pabigot commented on #28414
`to->dticks` was an unsigned number, but this was reverted in #28034 to resolve #27874.

[2020-09-15 23:04] #28294 closed

[2020-09-15 23:17] dcpleung commented on #27006
This will be fixed once the new SDK with newlib 3 is release.

[2020-09-15 23:17] vanti commented on #28414
Closing due to changes from #28034.

[2020-09-15 23:17] #28414 closed

[2020-09-15 23:28] dcpleung commented on #18570
Fixed in commit 0fb43821644fa2912390195fd5295bc3199ebb19

[2020-09-15 23:28] #18570 closed

[2020-09-15 23:51] vanti commented on #28052
@PerMac I haven't been able to reproduce it with the latest code today.

[2020-09-16 00:07] andrewboie commented on #27867
@MaureenHelm I'm taking a look at this.

[2020-09-16 00:08] andrewboie commented on #27867
Also there appears to be a workaround via BIOS settings to use PIO for serial, in which case we might consider lowering severity. I'll follow up on this.

[2020-09-16 00:09] ceolin commented on #28205
tested here and it is working fine as well. Couldn't reproduce the problem.

[2020-09-16 03:10] hakehuang commented on #28205
@dleach02 If I rerun it for several times, it is OK, the is a low changes it gets wrong, looks like the test_timer_duration_period case does not give much margin if the code runs slow for same reason. I will close it.

[2020-09-16 03:10] #28205 closed

[2020-09-16 03:11] hakehuang commented on #28294
No, looks like the case shall not run for this ns platform

[2020-09-16 03:12] hakehuang commented on #28206
let me fix this, Thanks @mmahadevan108

[2020-09-16 03:15] hakehuang commented on #28295
@galak, no TFM is running.

[2020-09-16 04:15] jenmwms commented on #19684
I need some help understanding this, please. Where do you suggest we discuss this in relation to the implementation example of [Defining a Message Queue](https://docs.zephyrproject.org/latest/reference/kernel/data_passing/message_queues.html#defining-a-message-queue)?

[2020-09-16 04:32] jenmwms commented on #19684
Perhaps I could add something like this at the end of that section?
`
typedef struct {
    uint32_t field1;
    uint32_t field2;
    uint32_t field3;
}__attribute__((aligned(4))) data_item_type;
`

[2020-09-16 05:28] jenmwms commented on #19684
I think I understood the suggestions correctly. Please check the PR - https://github.com/zephyrproject-rtos/zephyr/pull/28423

[2020-09-16 06:52] PerMac commented on #28052
I've run the test with the latest master and it passes on all platforms in my setup (nrf52dk_nrf52832, nrf52840dk_nrf52840, nrf9160dk_9160 and nrf5340dk_nrf5340_cpuapp)

[2020-09-16 07:35] armandciejak commented on #28216
I discovered another issue, while testing on MIMXRT1050 EVK board. I enhanced my test script to check the integrity of the received data in addition to checking for the size. Now I see that the data received is sometimes corrupted, see examples below.

The problem occurs systematically after running the test script for a few minutes.

Test script:

[code]

Data corruption:

[code]

[code]

[code]

[2020-09-16 07:43] armandciejak commented on #28216
I run the same test on STM32 Nucleo-144 F767ZI board and got the following errors:

[code]

I cannot download the file via HTTP more than a few times (less than 10).

[2020-09-16 07:52] cbsiddharth commented on #28411
This is a false positive. My coverity access has some issue, can someone add the following comment and close this issue?

[code]

Thanks.

[2020-09-16 08:34] ABOSTM commented on #28289
@ioannisg

If `XIP && FLASH_BASE_ADDRESS != 0`  it may expect to have RAM at 0x0 and then make a copy/relocation of vector to RAM ?
(assuming processor is always working with 0x0 address vector table)
This could explain why F0 need a custom function  `relocate_vector_table()`, to add dedicated mechanism to remap SRAM at 0x0.

[2020-09-16 08:54] GABS9718 commented on #28223
Hi @pabigot. You are right. Thank you so much for the answer. Best regards.

[2020-09-16 08:58] avisconti commented on #28390
OK, I'm scheduling it for the next jira sprint (our internal sprint).
Thanks for reporting it!

[2020-09-16 09:04] tluio commented on #28347
Thank you very much! I will close this issue soon.

[2020-09-16 09:05] carlescufi commented on #28333
@erwango this seems related to the USB device driver for STM32.

[2020-09-16 09:07] jukkar commented on #28216
I managed to source the mimxrt1050_evk board and I am not seeing these issues. I am currently running a script that checks that the file was downloaded properly and so far the test has downloaded 15000 times the 100kb file. Just make sure that the main stack size is larger than 1024, so `CONFIG_MAIN_STACK_SIZE=2048` for example. The "kernel stacks" command revealed that the stack usage was 1052 in

[2020-09-16 10:02] #28202 closed

[2020-09-16 10:04] #28394 closed

[2020-09-16 10:05] #28172 closed

[2020-09-16 10:06] #28307 closed

[2020-09-16 10:28] carlescufi commented on #28385
@ioannisg and @nordic-krch will you fix this for 2.4?

[2020-09-16 10:36] erbr-ot commented on #27510
@carlescufi I will, in the next few days.

[2020-09-16 10:42] jukkar commented on #28216
The issue in stm32 is that the driver returned incorrect value if it could not allocate buffers. Fixed by #28431

[2020-09-16 10:59] tbursztyka commented on #27867
@andrewboie I'll try your fix on my up² (so far, nor efi nor grub boot works, even on commit before your paging ones...)

[2020-09-16 11:02] pabigot commented on #11908
Since this refers to a sample that is no longer in the tree, and the replacement sample has instructions for how to work around this problem, I'm going to close this.  The new power management solution will not have this problem.

[2020-09-16 11:02] #11908 closed

[2020-09-16 11:17] de-nordic commented on #28411
@cbsiddharth I have marked it as requested.

[2020-09-16 11:17] #28411 closed

[2020-09-16 11:27] nashif commented on #28052
lets close this then, reopen if you see this again.

[2020-09-16 11:27] #28052 closed

[2020-09-16 11:39] oyvindronningstad commented on #27544
Working on it now

[2020-09-16 11:58] erwango commented on #28278
Lowering bug priority.
@bpbradley don't hesistate to keep us informed is the issue is no more valid.

[2020-09-16 12:01] erwango commented on #28309
Removing the "STM32" tag since the remaining point to discuss is not STM32 specific.

Meanwhile, it wouild be good to have @Cimex97's feedback on ticket evolution.

[2020-09-16 12:04] erwango commented on #19414
Stale for nearly one year. Closing

[2020-09-16 12:04] #19414 closed

[2020-09-16 12:21] Cimex97 commented on #28309
I tried to use LittleFS in combination with the SMP, that comes with the MCUBoot bootloader to transfer configuration files onto the nucleo_f429zi board.

I used now the [memory map](https://github.com/zephyrproject-rtos/zephyr/issues/19895#issuecomment-545449820) example from @erwangoc and it works fine, in the sample and my own application. But is it a good idea, when I waste a lot of flash for

[2020-09-16 12:24] Thalley opened #28434 "Shell Tab Completion Candidates results in segmentation fault"
**Describe the bug**
This was found using the Bluetooth Shell (`/tests/bluetooth/shell/`). Attempting to tab to find completion candidates, i.e. tab after a space, results in a segmentation fault.

**To Reproduce**
Steps to reproduce the behavior:
1. build the `/tests/bluetooth/shell/` project (e.g. `west build -b native_posix /tests/bluetooth/shell/`)
2. Run the shell .exe (e.g. with Valgrind to

[2020-09-16 12:37] pabigot commented on #28309
I would probably look for a different solution, but offhand I have no suggestions (the ideas I have in mind would be a bit of work, e.g. faked file systems).  If it meets your application needs and you have no other use for the flash it should be fine to use littlefs this way.

[2020-09-16 12:38] erwango commented on #25600
@nandojve would you mind rebasing https://github.com/UpdateHub/zephyr/commits/topic/uhu_wifi so we can have a test on recent  zephyr version ?

[2020-09-16 12:40] erwango commented on #25010
@nandojve would you mind rebasing https://github.com/UpdateHub/zephyr/commits/topic/uhu_wifi so we can have a test on recent zephyr version ?
Txs

[2020-09-16 12:42] leokrueger commented on #21016
I think this issue is not about Zephyr answering to ARP requests, but Zephyr sending out ARP requests about an IP address which it saw in a broadcasted DHCP Request paket.

[2020-09-16 12:52] Cimex97 commented on #28309
I need to talk to my colleagues if we can realize it with a different solution.
Maybe we can help you, to implement your Idea.

[2020-09-16 12:58] jakub-uC commented on #28434
@nordic-krch : I've noticed that your commit: 770f232a670b2f4bc359886dc3dc03f53ca2bd62 brakes qemu_x86 functionality.
The `Tab` button is not working any longer. I believe these issues are related.

[2020-09-16 13:02] nandojve commented on #25010
Hi @erwango , sure! My apologies about delays from my side, it has been very busy these days.

[2020-09-16 13:04] armandciejak commented on #28216
I ran all my tests with:

[code]

[2020-09-16 13:05] #28059 closed

[2020-09-16 13:06] jakub-uC commented on #27997
Hi,
I've tested the sample: zephyr/samples/subsys/shell/shell_module
`west build -b nrf52840dk_nrf52840`
I've only changed `CONFIG_SHELL_ARGC_MAX` to 128 and it is working fine.
I will try to get MAC to reproduce it, but I am not sure when it will be possible.

![image](https://user-images.githubusercontent.com/34125330/93340988-db055d00-f82d-11ea-994b-a2f30bf83e5b.png)

[2020-09-16 14:16] carlescufi opened #28438 "Example downstream manifest+module repo in zephyrproject-rtos"
Create a new repository in the https://github.com/zephyrproject-rtos organizationt that can serve both as reference and as a starting point for users wanting to create their own manifest+module repo (later this can be extended with additional sample module repos).

https://github.com/zephyrproject-rtos/zephyr-downstream-application
which would have:
- A `west.yml` so it serves as a manifest repo.

[2020-09-16 14:27] #27880 closed

[2020-09-16 14:46] markus-becker-tridonic-com commented on #26383
I do have a working (but ugly) RCP configuration that talks to otbr-agent. Did not push yet, since it comments a lot of NCP code and replaces IS_ENABLED(CONFIG_OPENTHREAD_NCP) with IS_ENABLED(CONFIG_OPENTHREAD_RCP.

@rlubos would you want to keep the NCP alive or can it be removed completely and replaced by RCP since it is now the new default upstream?

[2020-09-16 14:49] mbolivar-nordic commented on #28438
self-assigned at least for any west instrumentation changes needed to get this working in CI on each PR

[2020-09-16 15:03] rlubos commented on #26383
@markus-becker-tridonic-com Thanks for taking the effort. I don't think we should remove the NCP support entirely (at least not at this point). The OpenThread doesn't seem to fully depreciate it yet (they're still shipping NCP sample in their repository) and there are users of this component (at least we use it for now in nRF Connect SDK). As for future plans for deprecation, I'd need to talk with

[2020-09-16 15:06] joerchan commented on #27693
@kurddt Can you please provide some more details, I'm not able to reproduce this problem.
Which board?
Which zephyr commit or tag?
What exactly did you add to sd (or how many bytes)?
What is CONFIG_BT_DEVICE_NAME set to (or how many characters)?

Could be that you hit the exact place where there is an off-by-one error, but atleast for me it either starts, or it fails to start, with a log "Too big

[2020-09-16 15:31] nashif commented on #21762
close as stale

[2020-09-16 15:31] #21762 closed

[2020-09-16 15:34] nashif commented on #27943
is this test result valid given that mdb is required here?

[2020-09-16 15:34] dleach02 commented on #27672
Is this issue only with 2.2?

[2020-09-16 15:37] nandojve opened #28442 "How handle IRQ_CONNECT const requirement?"
I have been facing dificults to create access to elements from below structure:

![image](https://user-images.githubusercontent.com/7027887/93387399-8d91eb80-f83f-11ea-9c7a-e07f78d34601.png)

[code]
I noted that IRQ_CONNECT needs a const value. Currently I not found a way to evaluate the children from nvic_mux. The DT_INST_FOREACH_CHILD doesn't have a way to pass a CONST ARG. I'm not sure if an al

[2020-09-16 16:00] ruuddw commented on #27943
yes, it is a valid issue. See #28178

[2020-09-16 16:04] avisconti commented on #28390
@ABOSTM
It seems to me that this bug is only related to lsm6dsl, isn't it?

[2020-09-16 16:12] dsilva-vd commented on #28053
@dcpleung  @tolezk  Is there a workaround until the fix is released?
Thanks!

[2020-09-16 16:29] ABOSTM opened #28443 "drivers: sensor: hts221 compilation issue linked to DT property drdy_gpios"
**Describe the bug**
While pushing PR #27013, Buildkite highlight a compilation issue in hts221 linked to DT drdy_gpios

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b disco_l475_iot1 tests/drivers/build_all/ -- -DCONF_FILE=sensors_trigger_a_h.conf
2. See error

**Expected behavior**
Compilation successful

**Logs and console output**
[code]

**Environment (please compl

[2020-09-16 16:31] ABOSTM commented on #28390
@avisconti ,
Looking at buildkite details of #27013, there is also an error for hts221.
I didn't look carefully the 1st time, and I think error was the same than lis2dh and lsm6dsl.
But in fact error is different for hts221. I submitted a new issue #28443
And I updated the title and description of this issue.

[2020-09-16 16:42] andyross commented on #28020
Note that k_mem_pool_alloc() (soon to be deprecated) and k_heap_alloc() both have the same documentation bug.  They're safe to call in an interrupt as long as the timeout is K_NO_WAIT

[2020-09-16 18:03] dcpleung commented on #28053
@dsilva-vd Could you update the plugin and try? A new version of plugin has been pushed. It should show up in the Eclipse Marketplace shortly.

[2020-09-16 18:11] #27533 closed

[2020-09-16 18:25] #27727 closed

[2020-09-16 18:32] #27599 closed

[2020-09-16 18:43] andrewboie commented on #26865
yes will spend some time on this, thanks

[2020-09-16 18:51] #28169 closed

[2020-09-16 18:57] #27640 closed

[2020-09-16 19:07] #27931 closed

[2020-09-16 19:16] #27339 closed

[2020-09-16 19:23] rerickson1 commented on #28270
Fix via https://github.com/zephyrproject-rtos/zephyr/pull/27755

[2020-09-16 19:23] #28270 closed

[2020-09-16 19:27] nashif commented on #27867
so just to document this here, building with -DCONFIG_PCIE_MMIO_CFG=n, get this back to a working state, if this is a workable solution, we could downgrade priority while working on a  fix.

[2020-09-16 19:32] dsilva-vd commented on #28053
@dcpleung The new version (Version: 0.2.99.202009161801) on Eclipse 2020-09 resolved my problem and a zephyr.elf was successfully linked! :)

[2020-09-16 19:35] #27943 closed

[2020-09-16 20:03] gregshue commented on #28438
For clarification,is this an example of what could be done, what is expected to be done, or what will be supported for the mid- to long- term?

[2020-09-16 20:54] MaureenHelm commented on #28157
Fixed by #28140

[2020-09-16 20:54] #28157 closed

[2020-09-16 21:24] nashif commented on #14520
we should close this, this has been stale for a while.

[2020-09-16 21:24] #14520 closed

[2020-09-16 21:43] nashif commented on #25507
get around the stack overflow with
[code]

[2020-09-16 21:44] nashif commented on #25507
[code]

[2020-09-16 22:09] mbolivar-nordic commented on #28438
... and dts, I assume?

[2020-09-16 22:55] jettr commented on #28170
SG. I will just remove the `BUILD_ASSERT`

[2020-09-16 23:10] sandeep-airatechnology commented on #27997
I was using /zephyr/tests/bluetooth/shell/ example.
I tried zephyr/samples/subsys/shell/shell_module example. Changed the CONFIG_SHELL_ARGC_MAX to 128 and CONFIG_SHELL_BACKEND_SERIAL_RX_RING_BUFFER_SIZE to 128.
When the paste 'bt test_tx 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20' the following shows up.
on mac,
![image](https://user-images.githubusercontent.com/66862324/93396811-

[2020-09-17 00:37] #27867 closed

[2020-09-17 01:00] #25229 closed

[2020-09-17 01:00] #25228 closed

[2020-09-17 01:00] #25227 closed

[2020-09-17 01:52] #28347 closed

[2020-09-17 02:44] nandojve commented on #24211
Waiting #24064 be merged.

[2020-09-17 03:23] galak opened #28453 "qemu 5.1 hangs on a number tests on x86_64"
When using qemu 5.1 we see a number of tests hang (or not complete) on x86_64.

[2020-09-17 03:24] galak commented on #28453
[code]

[2020-09-17 03:37] galak opened #28456 "TOOLCHAIN_LD_FLAGS setting of -mabi/-march aren't propagated to linker invocation on RISC-V"
The setting of TOOLCHAIN_LD_FLAGS in `cmake/compiler/gcc/target_riscv.cmake` has -mabi and -march set.  These flags don't show up in the link invocation.

For example for building hello_world on qemu_riscv64 we have: `-mabi=lp64 -march=rv64imac`

and the link looks like:

[code]

[2020-09-17 04:24] Delsian commented on #27010
Pronlem found. This issue occurs on wrong route configuration, when trying to send direct packet inside FE80:: via router.
Fixed by hardcoded net_if_ipv6_prefix_add(FE80::)

[2020-09-17 04:24] #27010 closed

[2020-09-17 04:42] ceolin commented on #27833
This really looks like a false positive, the memory pointed by `ptables` is allocated by the linker. Everything looks fine IMHO

[2020-09-17 04:43] ceolin commented on #27832
This really looks like a false positive, the memory pointed by ptables is allocated by the linker. Everything looks fine IMHO

[2020-09-17 06:54] jfischer-phytec-iot commented on #25313
Since there are thoughts of supporting more than one device controller, and host support is WiP, would "zephyr_usbd0" node label be acceptable?

[2020-09-17 06:57] jakub-uC commented on #27997
@sandeep-airatechnology: To be honest I am confused. I will look for the same eval board as you have because I am using some older version.
Nevertheless, would you mind attaching your hex file here? I will flash it and try to reproduce on my machine.

[2020-09-17 07:27] armandciejak commented on #28216
@jukkar Here is patch which allows catching NULL pointer access on i.MXRT SoC. It configures the MPU to prevent any access at address 0, which is the base address of the ITCM (not used in the sample application). With this patch any access to NULL triggers an MPU fault and therefore allows to figure out which instruction caused the problem.

[code]

I had an occurrence while testing today with a 1

[2020-09-17 07:31] #28020 closed

[2020-09-17 07:49] kurddt commented on #27693
The board is a custom one, with a NRF52832 chip on it.
I'm using zephyr-v2.3.0 version
CONFIG_BT_DEVICE_NAME_DYNAMIC=y,

[2020-09-17 07:50] ashaannajoy commented on #27999
Suggest to test spi_configure and spi_transceive sending some flash commands.

See example on samples SAF for an way to use SPI API on EVB, send commands and performing read & write.
https://github.com/zephyrproject-rtos/zephyr/pull/27532/commits/a57ec86701f4769a30b643b9d52d19876a0f7be0

[2020-09-17 07:59] markus-becker-tridonic-com commented on #26383
@rlubos I have pushed the relevant changes. The pushes went to the Nordic fork of Zephyr. Since I don't know how the PRs would look like, if they would go to https://github.com/zephyrproject-rtos/zephyr. If the changes are acceptable, we can figure out how to upstream.

[2020-09-17 08:13] avigreen1978 commented on #27350
Any sample (for example, hello_world) in which you set `CONFIG_SHELL=y`, `CONFIG_ADC=y` and `CONFIG_ADC_SHELL=y` would be ok. Of course, you should select a board/create an overlay so that the adc dts node's status is okay.

[2020-09-17 08:29] markus-becker-tridonic-com commented on #26383
Would you have recommendations for the Kconfig to fix

[code]

[2020-09-17 08:45] erwango commented on #27350
SHELL_CMD(DT_INST_LABEL(inst), &sub_adc_cmds, DT_INST_LABEL(inst), NULL)
The macro would try to STRINGIFY the first argument, which is a string already.

I'll have a look, but from what I understand we need a new SHELL DT dedicated command that should not stringify the "_syntax" argument. This might not be sufficient, but this is the first step.

[2020-09-17 08:48] trond-snekvik commented on #28326
Hi,

In your screenshot, the settings load procedure is complaining that it can't find any vendor models, which isn't surprising, as this sample doesn't declare any.

It looks like this device has been provisioned with another application (or at least another composition data layout), and not fully erased before being flashed with this sample.
Try fully erasing your board by passing `--erase` to w

[2020-09-17 08:51] #28371 closed

[2020-09-17 08:56] rlubos commented on #26383
It's happening, because `OPENTHREAD_NCP` was a `menuconfig` entry with some child entries, now it's no longer the case so now you should use the regular `config` for both `OPENTHREAD_NCP` and `OPENTHREAD_RCP`.

Given that, probably we should rework the Kconfig structure for NCP/RCP, as I've now realilzed, we'll have ` OPENTHREAD_NCP` prefixed configs for RCP variant as well. An initial idea from m

[2020-09-17 08:58] markus-becker-tridonic-com commented on #26383
How about putting NCP as well as RCP in parallel to FTD/MTD?

[2020-09-17 09:08] rlubos commented on #26383
This would work for RCP, but with NCP it's a bit more complex, as we still need to link either FTD or MTD libraries. So we would need to either fix to FTD for NCP (which impacts flexibility), or provide two different flavours of NCP config, NCP_FTD and NCP_MTD (which will make us put yet another conditional in the code).

[2020-09-17 09:12] tejlmand commented on #28438
imo this will be a repo that can be used to ensure that Zephyr module features for out-of-tree are working can be tested by CI so that it is ensured that it work as expected.
At the same time, it can serve as a simple reference point for downstream users.

That way we ensure:
- A reference point of a single use case
- CI testing of Zephyr module features
- Guarantee that the reference point will a

[2020-09-17 10:01] leokrueger commented on #21016
Correcting myself here. We continued our investigation. Between the (broadcasted) DHCP Request of a Windows machine and the DHCP Decline (also broadcasted) we see, the respective Windows machine already sends out a couple (3 it semms) NetBios messages with the IP as source (192.168.100.5 in our test setup) it will shortly after decline. These NetBios messages are directed to the network's broadcas

[2020-09-17 11:02] carlescufi commented on #26804
Closing this, @johnsmithecon please reopen this if it's still an issue.

[2020-09-17 11:02] #26804 closed

[2020-09-17 11:09] #28413 closed

[2020-09-17 11:10] #28255 closed

[2020-09-17 11:14] pablogs9 opened #28460 "Generated ExternalProject include directories"
Hello, I'm developing a Zephyr module that generates a static library and some headers using `externalproject_add`.
The point is that I want to link applications against this library but it raises an error about not finding headers, because they are not generated yet. The application is built before the ExternalProject so the second time I run `west build` everything works.

My module CMakeLists.t

[2020-09-17 11:16] Thalley opened #28461 "`HCI_CMD_TIMEOUT` when setting ext adv data in the hci_usb project"
**Describe the bug**
Attempted to use the `samples/bluetooth/hci_usb/` project with `CONFIG_BT_CTLR_ADV_EXT=y`, to run the BT shell as a native_posix application over HCI over USB for on a NRF52840-DK. This unfortunately results in a `HCI_CMD_TIMEOUT` when setting the data, as part of the `bt advertise on` command in the shell.

It works as intended if flashing the shell project directly to the bo

[2020-09-17 11:18] pabigot commented on #27095
@vwj should this still be a medium priority bug that affects the release?  That classification performed its intent by making sure this was re-evaluated before 2.4 came out, but the changes necessary to reduce footprint will not be available for this release so it can't be "fixed".

We could also close it since the check was done.

@nashif

[2020-09-17 11:23] PerMac commented on #25719
I observed the same (similar?) issue when running on-target tests in our setup. Sometimes a test case is reported as failed in the platform.xml report but the failure message indicates something went wrong since the logs are from different test. E.g.:
[code]

[2020-09-17 11:26] ioannisg commented on #28295
@hakehuang @MaureenHelm  I am executing all test suites on nRF5340dk_nrf5340cpuapp**ns**, which is also a TrustZone-M enabled image running at Non-Secure state, and all tests are currently passing (except for tests relying on ISRs; those won't ever pass reliably because non-secure domain does not fully control Interrupt handling).

To be able to do the above, I have flashed a "TF-M" image in the s

[2020-09-17 11:31] lund-prevas opened #28462 "SHIELD not handled correct in CMake when using custom board"
In CMakeList.txt set BOARD_ROOT and SHIELD e.g
set(BOARD_ROOT ${MY_CUSTOM_BOARD_ROOT})
set(SHIELD myShield)
.
pull in the Zephyr boilerplate

CMake will then look for the myShield DTS overlay in ${MY_CUSTOM_BOARD_ROOT}/boards/shields/myShield
but it will look for the Kconfig.shield in .../zephyr/boards/shields/myShield
Furthermore is the SHIELD_AS_LIST only set to myShield, when CMake scans ${MY_C

[2020-09-17 12:09] gregshue commented on #28438
@tejlmand, I agree with the need to support CI verification of Zephyr module features. I think this needs to be more than a "simple reference point" of how those features **can** be used. I want to know how the module is **expected** to be setup - in practice, a boilerplate. Extending my downstream modules as Zephyr module features get added is fine (and expected), but **restructuring it to take a

[2020-09-17 12:19] nordic-krch commented on #28385
@carlescufi yes, i will look into this

[2020-09-17 13:03] gregshue commented on #28438
A couple more:
- Names/prefixes of tags and the main development branch and tags are recommended to be the manifest repository name. Since this is a manifest+module repository the main development branch should be **renamed** to the name of this repository. (This means there will not be a branch named "master", and a "zephyr" branch likely will not be meaningful or useful.)
- A module version and

[2020-09-17 13:18] markus-becker-tridonic-com opened #28465 "Building OpenThread NCP: build system has concurrency issue"
**Describe the bug**

Rarely I do get build errors when building samples/net/openthread/ncp and other openthread samples that also require errno_private.h:

[code]

Seems like a concurrency issue in the build system, where the generated file `./build/zephyr/include/generated/syscalls/errno_private.h` is not created by the time spinel.c is being built.

**To Reproduce**
See above.

**Expected behav

[2020-09-17 13:27] carlescufi commented on #27768
This is a stack overflow.
There's also a small bug to fix, which is that the RX priority thread in the HCI driver had a non-configurable stack size. This is fixed in #28467.

This now runs fine with this configuration:
[code]

[2020-09-17 13:32] joerchan commented on #27693
Update from slack discussion. Bug appears on 2.3.0 and master when the scan response data is of a length 30 or 31.
This is due to the device name shortening handling, which in this case will have an integer underflow of the shortened length field.

[2020-09-17 13:42] Navin-Sankar opened #28469 "Unable to capture adc signal at 8ksps when using nrf52840dk board."
**Describe the bug**
When trying to capture adc signal at 8ksps it captures only 1000 samples per second.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nrf52840dk_nrf52840
2. west flash

**Expected behavior**
nrf52840 should capture 8000 samples

**Impact**
Cannot capture 8000 samples. It capture's only 1000 samples per second

Code
[code]
In the above code channel 0 is initi

[2020-09-17 14:09] rick1082 opened #28471 "Central not working properly on nRF5340-DK"
**Describe the bug**
When using nRF5340-DK as central, the central cannot establish connection with peripheral properly, disconnected happen immediately with reason 0x3e.

**To Reproduce**
Steps to reproduce the behavior:
1. Program the "zephyr\samples\bluetooth\hci_rpmsg" on nRF5340-DK/nRF5340-PDK network core
2. Program the "zephyr\tests\bluetooth\shell" on nRF5340-DK/nRF5340-PDK application cor

[2020-09-17 14:31] bpbradley opened #28473 "Mcuboot fails to compile when using single image and usb dfu"
**Describe the bug**
I am not sure if this is a bug or a feature request, because I can't find much information on my requirement.

I am writing an application which needs to be bootloadable over USB, and does not have physical access to a boot button. Because of this, I would prefer that the bootload process can be initiated from within the application context. My current idea is to use mcumgr wi

[2020-09-17 14:43] gregshue commented on #28438
Please remember that the board "unit_testing" requires different build logic in the test files, so the module interface functionality verification needs to include an example of that.

[2020-09-17 14:48] Laczen commented on #28473
@bpbradley, if you only have one partition why are you trying to use mcumgr. The application can never upgrade itself, so mcumgr does not really do anything (except maybe capture a reboot request).

[2020-09-17 14:51] erwango commented on #28462
@tejlmand would you have time to check this ?

[2020-09-17 14:53] bpbradley commented on #28473
The main things I wanted with mcumgr were:

1. Shell transport layer for the actual dfu, although this isn't a big deal.
2. I had thoughts of doing bluetooth transport at a later stage, but also not a big deal.
3. Mainly I need a way to initiate the bootload process from the application, and couldn't figure out how else to do that because trying to build mcuboot directly with `CONFIG_BOOT_WAIT_FOR

[2020-09-17 15:04] Laczen commented on #28473
@bpbradley, maybe you can trick mcuboot into believing there is a image-1 by making image-1 equal to image-0 in the dts.

[2020-09-17 15:23] bpbradley commented on #28473
That does indeed work to trick it. However there is another issue where both `subsys/dfu/boot/mcuboot.c` has a second definition of multiple functions defined within `bootloader/mcuboot/boot/zephyr/flash_map_extended.c` and `bootloader/mcuboot/boot/bootutil/src/bootutil_misc.c`. Namely `flash_area_erased_val` `flash_area_read_is_empty` `boot_magic_compatible_check` and `boot_read_swap_state_by_id`

[2020-09-17 15:57] endian-benjamin commented on #27622
https://github.com/zephyrproject-rtos/zephyr/pull/28475

[2020-09-17 15:57] utzig commented on #28473
I don't think you should trick it, but instead just remove `image-1`. MCUBoot should be able to deal with this, but it could be that the Zephyr DFU is not 100% up to date with this option at the moment. Might be a bit somewhat related to: https://github.com/zephyrproject-rtos/zephyr/issues/27673

/cc @de-nordic @nvlsianpu

[2020-09-17 16:08] #27768 closed

[2020-09-17 16:59] de-nordic commented on #28473
It should be enough to remove `image-1` as usually the dts would be altered so that `image-1` would be removed and `image-0` would reuse the space after `image-1`.

[2020-09-17 17:01] Vudentz commented on #28384
Weird, why is there are no logs of l2cap_chan_le_recv or l2cap_chan_le_recv_seg?

[2020-09-17 17:06] de-nordic commented on #28473
It is enough to define `CONFIG_BOOT_WAIT_FOR_USB_DFU=y` to catch most of the errors. So the `CONFIG_SINGLE_IMAGE_DFU` is not culprit here. I need to check it closer but I think that when the USB is selected the "non-single image" code is build, since the problem with missing `image-1` is reported.

[2020-09-17 17:40] galak opened #28480 "`tests/lib/devicetree/legacy_api/libraries.devicetree.legacy` fails to build on pinnacle_100_dvk"
When doing:

`/scripts/sanitycheck -s tests/lib/devicetree/legacy_api/libraries.devicetree.legacy -p pinnacle_100_dvk`

We get:

[code]

[2020-09-17 17:50] Vudentz commented on #28384
When testing with shell everything looks fine:

Peripheral: https://gist.github.com/Vudentz/4ddb92569e80c60773a362f5767e1ecd

[code]

I will be trying to test with arbitrary data but look like there is some corruption going on with .sdu/.sdu_len, perhaps some of the memset endup clearing while receiving.

[2020-09-17 18:16] cfriedt opened #28483 "Fix nanosleep(2) for sub-microsecond durations"
**Is your enhancement proposal related to a problem? Please describe.**
Nanosleep should probably round-up instead of down for sub-microsecond durations.

This is just a placeholder for now until I have a few spare cycles.

https://github.com/zephyrproject-rtos/zephyr/issues/28394#issuecomment-692731513

cc @pabigot

**Describe the solution you'd like**

**Describe alternatives you've considered**

[2020-09-17 18:33] pabigot commented on #28483
This is really a bug, since no sleep should ever expire in less than the specified time.

[2020-09-17 18:34] #28283 closed

[2020-09-17 19:17] #19684 closed

[2020-09-17 19:42] maksimmasalski commented on #27821
@dleach02 What is your solution for that task? Seems just necessary to remove board from the allowlist.

[2020-09-17 19:44] #28337 closed

[2020-09-17 19:51] Vudentz commented on #28384
Actually it is misconfiguration problem, you cannot disable alloc_buf if the MTU is bigger than the MPS, so I will likely have to add an assert when that happens or have the application reassemble but that is kind pointless since it does indeed has a buffer to reassemble the segments it should be able to support alloc_buf in the first place.

[2020-09-17 20:04] jfischer-phytec-iot commented on #28473
USB-DFU depends on it and is not designed to work with CONFIG_SINGLE_IMAGE_DFU=y

[2020-09-17 20:11] mbolivar-nordic commented on #28438
@gregshue I'm not sure I get you on this one. I don't think we have expectations of our users in the form of "if you don't structure your module in this way, you're doing it wrong" in this case. I am assuming @tejlmand means "simple reference point" as "here is a way to do it that we think works well and can commit to maintaining". (Please LMK if I misunderstood that.)

So a simple reference point

[2020-09-17 20:13] maksimmasalski commented on #28412
@anangl
I'm just wondering, why it cannot reach the statement `xtal_check(on, type);` ?
Seems that if one of the configs is enabled, everything will be fine. Why Coverity classified that it is an issue?

[2020-09-17 20:43] mbolivar-nordic commented on #28438
@gregshue my take on the other bullets:

-1 from me.

Flat is better than nested in this case, in my opinion. Users can always nest if their use case is suited for that.

I think it could be nicer to 'steal' some short names that are unlikely to conflict. I expect most users will change these anyway, to suit their own project naming conventions.

Karim Yaghmour does this in his Embedded Android bo

[2020-09-17 21:09] utzig commented on #28473
I am not acquainted with the particular implementation, but USB-DFU is a USB class, no? As far as I understand MCUBoot can use USB-CDC for it's BOOT_SERIAL operation (I don't think I've ever tried it myself though!). So I assume when you say USB-DFU, this does not involve USB-CDC; sorry if I am misinterpreting the comment.

[2020-09-17 21:13] #28148 closed

[2020-09-17 21:16] andyross commented on #28319
Looking at this seriously for the first time.  Yeah, this test looks wrong.  The  first "duration" argument to the k_timer_start() API is, as explained in the comment you found, implemented with "round down" semantics vs. "round up" as is the standard for every other blocking timeout API.  And I agree that's crazy, but I left it that way because we have tests that actually depend on it.

One sugge

[2020-09-17 21:21] andyross commented on #28319
Oh wait, no.  What I wrote above is fine, but that's not where the bug is.  The problem reported isn't that the idle took zero time when it expected to sleep for 1ms.  It's that the **TIME WENT BACKWARDS**.  The second call to k_uptime_get_32() returns a smaller number than the first.

I don't have a theory there at all.  The only way to make that happen is to stuff a corrupt timeout object into t

[2020-09-17 21:30] #28480 closed

[2020-09-17 21:30] bpbradley commented on #28473
This was my original plan. Unfortunately when you configure `BOOT_SERIAL` it appears to expect `CONFIG_BOOT_SERIAL_DETECT_PORT` and `CONFIG_BOOT_SERIAL_DETECT_PIN` to be defined as well, and checks that this pin is at an expected value in order to enter serial recovery mode. But in my application there is no access to a physical button or switch which can be used to trigger this. I am not sure a w

[2020-09-17 21:56] #27268 closed

[2020-09-17 22:11] andyross commented on #21216
Some notes about triage: this isn't a severe bug, but the fix is going to be quite involved on x86, as we don't have a framework for dealing with interrupt targetting in the way that would be needed.  For traditional drivers like HPET (which is all that's needed now) we can fix this with the some ioapic code, but in the general case any MSI interrupt is going to need some kind of support at the de

[2020-09-17 22:14] andyross commented on #28319
Heh, no.  I confused myself.  The test code modifies the first result before the comparison and I missed that.  This is just a zero time when 1ms was expected condition.

Can you try this (actually it sounds like you might have already) and verify that it fixes the problem?  If so feel free to submit it, or I can do it:

[code]

[2020-09-17 23:26] gregshue commented on #28438
@mbolivar-nordic , I had not equated "simple reference point" with "boilerplate". With your clarification I think we are in agreement. Thanks for sharing your understanding. (BTW, I never assumed approaches other than this boilerplate were "wrong", just that the downstream maintainer assumes responsibility for designing/implementing/verifying support as module interface features get extended. :-))

[2020-09-18 01:05] #21843 closed

[2020-09-18 02:19] #26354 closed

[2020-09-18 02:31] CristXu commented on #28256
Hi， with a sdcard inserted?

[2020-09-18 03:39] cst-kirank opened #28492 "Could not build Zephyr application for swervolf_nexys board in simulation"
I am getting an error while building Zephyr application for swervolf_nexys board in simulation.
The error states that "Unsupported board: led0 devicetree alias is not defined".

According to this error, the swervolf_nexys board is not supported by Zephyr application but the same is instructed in the README file of SweRVolf corers.

These are the few more details for the reference.
- I am using Lin

[2020-09-18 05:16] Zhaoningx commented on #28155
Hi ,how's it going and what to do next step?

[2020-09-18 05:24] jori-nordic commented on #28384
All right, thanks for the extra documentation, it was not clear before.
I thought in the second example (central.1.log/peripheral.1.log) we did not exceed the MPS as the payload is 27 bytes and still managed to segment the SDU on the tx side, and failed to reassemble it on the RX (due to the missing buffer as you said).
I know it's an unusual use case, but wouldn't this still trigger the bug, even

[2020-09-18 05:33] cvinayak commented on #28471
@rick1082 Please try this: https://github.com/zephyrproject-rtos/zephyr/pull/27069

[2020-09-18 06:06] YuguoWH opened #28493 "Sanitycheck on ARC em_starterkit_em7d has many tests timeout"
**Describe the bug**
Sanitycheck tests keeps going timeout on em_starterkit_em7d target.
take tests/kernel tests as example, first few tests are ok.
The first timeout is no-multithreading test, and all tests after mem_pool/sys_mem_pool test would be timeout.

**To Reproduce**
Steps to reproduce the behavior:
`scripts/sanitychek -p em_starterkit_em7d -T tests/kernel --device-testing --device-serial

[2020-09-18 06:46] de-nordic commented on #28473
Is that a software configuration issue or implementation issue? The single application loader is very stupid thing it just loads software in most simplistic way possible, not checking other slots, etc. It is very simple thing that is just linked in place of full loader. It is basically called when update path has not been taken.
The heavy lifting regarding serials, USB, DFU, etc is really done by

[2020-09-18 06:58] joerchan commented on #28461
@Thalley I'm guessing buffer size configurations are not right, especially since you crash on the ext adv data.
Can you enable CONFIG_BT_EXT_ADV in hci_uart as well?
Ideally you would only have to enable that one, but for the moment we have this:
[code]

[2020-09-18 07:09] rick1082 commented on #28471
Thank you so much Vinayak :) It works.

[2020-09-18 07:39] parthitce commented on #28343
@erwango It's working fine now. I couldn't reproduce the problem anymore. Sorry for the noise, closing it.

[2020-09-18 07:39] #28343 closed

[2020-09-18 07:43] rlubos commented on #28465
I've run the `ncp` build like several dozen of times, but could not reproduce the error once. @tejlmand Have you seen anything like this before?

[2020-09-18 07:48] ABOSTM commented on #28319
@andyross ,
I  tested your proposal and it fixes the issue. Thanks.
I pushed the PR: #28495

[2020-09-18 07:54] hakehuang commented on #28295
@ioannisg  thanks for detailed explaination, I will skip those failures

[2020-09-18 08:13] tejlmand commented on #28460
@pablogs9 Try to link the library instead, that should ensure correct dependency handling in CMake:
[code]

[2020-09-18 08:17] tejlmand commented on #28460
alternatively, use `add_dependencies()` directly, as
[code]

[2020-09-18 08:19] chen-png commented on #27146
False positive.  k_sem_take with k_forever args will wait until it's successful with returned value 0, so the returned value is always 0, no need to check.

[2020-09-18 08:26] tejlmand commented on #28465
I have not seen it, but such randomness could indicate a missing dependency.
If there is a missing dependency, then it can often be triggered with different build commands/arguments, such as:
`ninja / ninja -j1 / ninja j <n> / make / make -j1/ make -j <n> / ...`

will investigate to see if something obviously is missing, otherwise I will try to reproduce the issue.

[2020-09-18 08:28] #28325 closed

[2020-09-18 08:30] rlubos commented on #28465
Ok, I've reproduced it, but it appears only to happen with changes from https://github.com/zephyrproject-rtos/zephyr/pull/28458, when RCP variant is built. To reproduce:
`west build -b nrf52840dk_nrf52840 -p -- -DCONF_FILE=prj-rcp.conf`

[2020-09-18 08:36] pablogs9 commented on #28460
Hello @tejlmand, thanks for your answer, I have solved it with:

[code]

and including a Kconfig variable:

[code]
I guess that making `microros` depending on `libmicroros_project` and the app depending on `microros` (because of this `APP_LINK_WITH_MICROROS`)  makes the build system build and configure my external library just before the application.

For me this solution it's ok, but I would like

[2020-09-18 08:56] tejlmand commented on #28460
Great, and for a reusable module, that can be configured through Kconfig, that is the cleanest solution.
I just presented the short hand version, for an external module where nothing else is needed.

The best description currently available, can be found directly in the extensions file
https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/extensions.cmake#L528-L550

I still have a task on

[2020-09-18 08:56] #28460 closed

[2020-09-18 09:03] anangl opened #28499 "Solution for increased power consumption after enabling GPIO interrupt on nRF52832"
It can be observed on the nRF52832 SoC that just enabling an edge triggered GPIO interrupt (namely, calling
`gpio_pin_interrupt_configure()` or `gpio_pin_configure()` with one of the `GPIO_INT_EDGE_*` flags) leads to increasing the power consumption by ~15 uA. This happens because currently (in Zephyr v2.4.0-rc1) the GPIO driver for nRF SoCs uses GPIOTE channels to detect transitions on GPIO lines

[2020-09-18 09:42] nvlsianpu commented on #28473
Hi @bpbradley

Opion 1:
MCUBoot serial recovery using USB CDC ACM virtual port should works for you - just need to modify mcuboot to wait some time for command instead of checking GPIO. Am I right?
This is something which can be added to mcuboot pretty quick if you can open such a PR to the jullabs/mcuboot.

Option 2:
`CONFIG_BOOT_WAIT_FOR_USB_DFU=y`
MCUBoot with USB DFU class can't work now as it

[2020-09-18 10:15] erwango commented on #27350
@jakub-uC, @nordic-auko, @mbolivar

I've managed to make this working creating a new shell macro that doesn't stringify `_syntax` arg:
[code]

So I think this kind of macro, that basically uses `_syntax` as `_help` (or vice versa) could be useful for similar situations outside of adc.
In a second step, this could be even directly combined with DT API macro to something like:
[code]

So my first st

[2020-09-18 10:20] jakub-uC commented on #27350
@nordic-krch ^

[2020-09-18 10:29] jfischer-phytec-iot commented on #28473
In USB DFU implementation, image_0 is read only area, image_1 can be read and written. The option CONFIG_SINGLE_IMAGE_DFU was unknown when the code was last revised.

[2020-09-18 10:34] nvlsianpu commented on #28473
^^ that's right.

[2020-09-18 10:34] utzig commented on #28473
I believe you missed upstreaming from JuulLabs-OSS to have this already available for Zephyr, no?

[2020-09-18 10:34] jakub-uC commented on #27350
@erwangoTo be honest we can achieve what is needed with existing macros. It would require to rework existing commands a bit.
ADC channel could be passed as the last argument to each command instead of first. In addition, the ADC channel would need to be a dynamic command so you do not need to know the syntax during compile time.

[2020-09-18 10:39] nvlsianpu opened #28502 "USB DFU class: support MCUBoot CONFIG_SINGLE_APPLICATION_SLOT"
**USB DFU class should be able to use as part of MCUBoot in it's single slot mode**
Need to make code able to upload image to image-0 slot as it is only existing image slot.

In this mode only boodloader (or third-party actor like jlink can update the application).

[2020-09-18 10:59] nvlsianpu commented on #28473
^^ No, zephyr is in code-freeze for 2.4 release. Only bug-fixes can go in.

[2020-09-18 11:10] nvlsianpu opened #28504 "dfu: dfu libraries might fails to compile on redefined functions while building MCUBoot"
**Describe the bug**
flash_area_erased_val() and other functions are provide either by mcuboot and dfu/boot/mcuboot.c

**To Reproduce**
build MCUBoot with `BOOT_WAIT_FOR_USB_DFU=y`

**Expected behavior**
build succeed

**Impact**
Can't use USB DFU class in mcuboot

**Additional context**
zephyr SHA: https://github.com/zephyrproject-rtos/zephyr/commit/17c4396ed42bda13a7a5f2c2edb55528a008fe0e

**slo

[2020-09-18 11:11] nvlsianpu commented on #28473
Also registered https://github.com/zephyrproject-rtos/zephyr/issues/28504

[2020-09-18 11:32] #28375 closed

[2020-09-18 11:37] erwango commented on #27350
I knew there were smarter ways :-), would you have time to do that ?

[2020-09-18 11:38] jakub-uC commented on #27350
I can do it but it will not be done in 1-2 days :)

[2020-09-18 11:40] erwango commented on #27350
No rush (I guess). Is that ok if I assign the point to you ?

[2020-09-18 11:40] jakub-uC commented on #27350
sure

[2020-09-18 11:42] PierreAronnax commented on #21016
I am using Zephyr 2.1.0
Again, this is not a fix. This is a workaround that works good enough for me until this is fixed properly.

[2020-09-18 12:04] erwango commented on #28333
@loicpoulain So Maybe 13/18/19/20 would be common to all these.
Also, 1, 3, 14, 17 21 have low reproduction rate, so it is not excluded they have the same issue.

I had a try on my side, but I'm stuck.
I'm seeing this:
[code]

But the following fails:
[code]
even after:
`$ sudo sh -c "echo 0x2fe3 0x0009 0 0x0525 0xa4a0 > /sys/bus/usb/drivers/usbtest/new_id"`

Am I missing something?

[2020-09-18 12:37] jakub-uC commented on #27350
@avigreen1978 , @erwango I've started working on my idea. It will be easy to fix the problem but I will need some support from people that are working on Device Tree. I need a function that will return a pointer to an array of strings with active ADC names.
Any idea who can help with that?

[2020-09-18 12:49] erwango commented on #27350
From `include/devicetree.h`, I think you can use DT_INST_FOREACH_STATUS_OKAY and go with something like:
[code]

[2020-09-18 12:55] nashif commented on #28493
There is a problem with flashing or load the images, those tests are not being run at all...

[code]

[2020-09-18 13:08] jakub-uC commented on #27350
It is a solution but I think I need to assume that all ADCs have the same label `ADC_x`. Please correct me if I am wrong but in my opinion, if the user will change a label of ADC this approach will not work correctly.

[2020-09-18 13:12] erwango opened #28509 "series-push-hook.sh: Don't parse then-master-to-latest-master commits after rebase to lastest"
**Describe the bug**
After a rebase to latest master, `scripts/series-push-hook` was running checkpatch on the full diff from the initial master commit at the creation of the branch to the top branch commit, so including all the commits on top of which we rebased.
This returns a huge flow of warnings on commits that not belong to the branch and hence no useful info, besides this blocks the push.
N

[2020-09-18 13:16] bpbradley commented on #28473
Thanks for the info. Either of these options is acceptable to me. I think I might move forward with option 1 and creating a PR for now since it seems like a lighter lift.

Appreciate the clarifications.

[2020-09-18 13:18] #28434 closed

[2020-09-18 13:20] erwango commented on #27350
Not sure to get your point, how the user could change an ADC label if not in device tree ?
This method will query the adc node labels as put in dts files.

[2020-09-18 14:33] ABOSTM commented on #25453
Now that I better understand zephyr clock and TICK way of working, I proposed a new fix for this issue based on original k_usleep() synchro #28516.

So there is now 3 PR proposal for this issue:
* #25454 tests: posix: common: Rework comparison of REALTIME and MONOTONIC clock
* #28366 tests: posix: common: fix test for cross-clock equality
* #28516  tests: posix: common: k_usleep() synchro just bef

[2020-09-18 14:46] galak commented on #28492
It looks like the SweRVolf support is not zephyr upstream, so this question might be better asked to wherever you got the SweRVolf support.

[2020-09-18 14:49] jukkar commented on #28216
@armandciejak I just sent a new version of the PR, seems to work ok in my testing but please try it too.

[2020-09-18 15:03] andyross commented on #25453
I like #28516 personally, especially given that the tick alignment was already present and well-described in a comment.

FWIW: tick alignment is just plain required for tests that care about any kind of time measurement precision.  The choices are that, or to carefully calculate the appropriate slop for the given tested operations.

[2020-09-18 15:13] carlescufi commented on #28492
This IC is supported in this fork: https://github.com/olofk/zephyr/commits/swervolf

I suggest you contact @olofk for more info.

[2020-09-18 15:13] #28492 closed

[2020-09-18 15:13] #28397 closed

[2020-09-18 15:18] gregshue commented on #28438
@mbolivar @tejlmand @carlescufi After looking into how the Zephyr build system currently extracts version information, it seems like the following is all that is needed to tie downstream manifest modules into the Zephyr build system version extraction mechanisms:

- Make sure this downstream repository has an initial annotated tag following the pattern used within the existing manifest repository

[2020-09-18 15:20] carlescufi commented on #26648
@parthitce
It's almost complete, but I'd say it does make sense to open an RFC at this point, yes. Most of the process to actually create a new module repo is unchanged.

[2020-09-18 15:22] carlescufi commented on #28091
I fundamentally agree that this is not ideal as an experience for the user, but I really don't know how to solve this easily in a general manner. In the particular case of Bluetooth it should be doable, but I think we'd have to do this case by case.

[2020-09-18 15:45] carlescufi commented on #28355
It might've been because I also have a vague recollection of this. I am not up to speed with the problem right now, but feel free to include me in a discussion about this after the release.

[2020-09-18 15:50] carlescufi commented on #19244
There's not that much I can add to the existing thread @DMotocus. It ultimately all boils down to connection interval, GATT MTU and whether DLE and 2Mbit/s PHY is enabled or not. Since we are using a 3rd-party stack to send the image there are too many variables out of our control.

[2020-09-18 15:54] #22892 closed

[2020-09-18 15:54] mbittan commented on #28333
It seems you're not using the right path for the USB device. According to your logs, the correct path is probably `/dev/bus/usb/001/014` (the device number 14 on the USB bus 1).

You should unplug the device and plug it again after that command:
[code]

[2020-09-18 15:55] lukasbrchl commented on #19244
We were able to get only 1kB/s throughput from common Android smartphones and mcumgr-android library (or nRF Device Manager if you prefer). If anyone finds out how to make it faster, we would be glad to implement it in our solution.

[2020-09-18 16:38] nvlsianpu commented on #28502
https://github.com/zephyrproject-rtos/zephyr/pull/28506

[2020-09-18 17:01] bgiori commented on #19244
Hi all, we recently started an effort to improve the image upload speeds by updating the mcumgr client side to support sending multiple concurrent requests. Allowing even 2 concurrent requests has significantly improved upload speeds. Unfortunately I don't have anything concrete about the max upload speeds this new client can achieve, but it should be better than the current send-and-wait regardle

[2020-09-18 17:14] Vudentz commented on #28384
We are going to truncate the MTU with #28488 so you would not be able to send any packet that would require segmentation.

[2020-09-18 17:24] #26900 closed

[2020-09-18 18:08] MaureenHelm commented on #27201
This doesn't reproduce in master (ae8dd148874a1f4a71a7d0b7de8acb22dd184de3) anymore. Bisecting shows it was fixed by 379b93f0d327916cce2f4e2ec521ce0c098cccf0

cc: @nashif @andyross

[2020-09-18 18:23] #28319 closed

[2020-09-18 18:24] #28040 closed

[2020-09-18 18:29] #28453 closed

[2020-09-18 18:29] gregshue commented on #28438
Considering module names (and associated namespaces), it would be beneficial if all zephyrproject-rtos downstream modules were easily identified within the name. Perhaps github.com/zephyrproject-rtos/**oot_***, with this specific repository being named oot_boilerplate or oot_template?

[2020-09-18 18:42] #24414 closed

[2020-09-18 18:49] andrewboie commented on #25891
Further thoughts on this and a proposal:

- The first proposal, abusing TLS, is interesting but has serious caveats. It may be worth a proof-of-concept once we have a proper TLS implementation in place, but this is not a priority.
- The second proposal, using real .so files I think may be very complicated to implement and maintain.
- The third proposal, having multiple copies linked, ties into som

[2020-09-18 19:39] #28256 closed

[2020-09-18 22:02] #25983 closed

[2020-09-18 22:02] #25984 closed

[2020-09-18 22:04] nashif commented on #27201
hmm, not sure how this would have fixed it.

[2020-09-19 01:01] #20780 closed

[2020-09-19 01:01] #20734 closed

[2020-09-19 02:07] #25453 closed

[2020-09-19 02:07] #28216 closed

[2020-09-19 02:08] #28390 closed

[2020-09-19 03:49] nandojve commented on #25010
Hi folks, some updates.

First test: Write files from ABOSTM and confirm board is Ok: Pass
[code]

Second test: Confirm that new MCUboot works as expected only flashing new MCUBoot without erase all flash content. The MCUBoot at a06884a4e6 doesn't run the current v2.3.0-rc1 on the flash: Fail
[code]

Third test: Confirm that new MCUboot works as expected with full flash erase before upload new MCU

[2020-09-19 05:11] cst-kirank commented on #28492
Yes,
Thank you for the suggestion and link.

[2020-09-19 08:19] #25672 closed

[2020-09-19 08:25] #27693 closed

[2020-09-19 08:39] carlescufi commented on #24358
This should be a bug and be fixed for 2.4. It was already something that had to be fixed for 2.3 and never happened.

@nashif @MaureenHelm do you agree?

[2020-09-19 09:36] #22140 closed

[2020-09-19 09:49] #20663 closed

[2020-09-19 10:18] rettichschnidi commented on #17005
I am still interested and hoping that the board finds a good solution for this issue.

[2020-09-19 11:05] #13615 closed

[2020-09-19 12:02] cfriedt opened #28533 "soc: ti_simplelink: cc13xx-cc26xx: kconfig for subghz 802.15.4"
**Is your enhancement proposal related to a problem? Please describe.**
We need to introduce a new Kconfig for IEEE802154_CC13XX_CC26XX_SUB_GHZ in zephyr first, so that we can add the required RF support sources in hal/ti and not receive a check-warns errors like the one below.

[code]

**Describe the solution you'd like**
I'll first create a dummy Kconfig entry in `soc/arm/ti_simplelink/cc13x2_cc

[2020-09-19 12:37] jukkar commented on #21016
@leokrueger thanks for the info! Would you happen to have a pcap file of the packet that caused the issue?

[2020-09-19 13:32] Navin-Sankar opened #28535 "RFC: Add lz4 Data Compresssion library Support"
## Introduction
This proposal plans to add support for minimal lz4 data compression & decompression library as an external module.

### Problem description
Currently Zephyr doesn't have any data compression & decompression library support. Data compression & decompression library enables the efficiency in communication with cloud platforms, OTA and various other use cases by reducing the data band

[2020-09-19 14:21] gregshue commented on #28438
@tejlmand We will also need to verify the solution also supports the Forest topology, where the manifest repo contains no business logic. I expect this will require a separate OOT manifest(s)-only repository with:
- multiple west.yml files
   - one importing only zephyr
   - at least one including an OOT module with one or more applications
- VERSION data (unique per manifest file?)

Perhaps this

[2020-09-19 20:27] nandojve commented on #25010
Rebased on top of 2.4.0-rc2. The 28b9617f5ee1123413ef92d1a74469402272ba81 is full functional here at ETH/WIFI/MODEM.
Don't forget to change configs:
[code]

[2020-09-20 01:03] #25853 closed

[2020-09-20 01:04] #25021 closed

[2020-09-20 02:04] nandojve opened #28538 "Atmel SAM4L have two pinctrl with wrong map"
**Describe the bug**
There are two entries on the sam4l-pinctrl.dtsi file with wrong values.

**Expected behavior**
Fix with correct values.

**Impact**
It unable use of spi npcs1 at pin 13 and usart3 rxd3 at pin 9.

[2020-09-20 09:42] parthitce opened #28540 "littlefs: MPU FAULT and failed to run"
**Describe the bug**
Running littlefs sample in frdm_k64f or disco_l475_iot1 results in segmentation/memory access violation.
Storage partition is described in the device tree for 16k.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -b frdm_k64f -s ./samples/subsys/fs/littlefs/ && west flash`
2. `west build -b disco_l475_iot1 -s ./samples/subsys/fs/littlefs/ && west flash`

**Exp

[2020-09-20 11:42] pabigot commented on #27868
I've updated the RTEMS link above (the original was dead due to reorganization of the RTEMS project) and added one to the corresponding API.

I agree this is a large gap; if it were closed a new sensor API that doesn't hog threads could be constructed.  The capabilities of the eCos and RTEMS solutions are not equal: some thought needs to go into selecting what features are most useful to Zephyr an

[2020-09-20 12:24] parthitce commented on #28540
This is duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/24145. Closing it as it works with `CONFIG_MPU_ALLOW_FLASH_WRITE=y`.

[2020-09-20 12:24] #28540 closed

[2020-09-20 13:31] dleach02 commented on #28216
@armandciejak, the PR was merged to allow more test coverage in the current release cycle. Can you test with the release to see how it affects your report? We can reopen this bug or create a new one if you still have problems.

[2020-09-20 17:59] chrta commented on #20687
@pabigot I think this issue can be closed, since the board porting guide now contains this in https://docs.zephyrproject.org/latest/guides/porting/board_porting.html?highlight=board%20porting#general-recommendations

[code]

[2020-09-20 18:01] pabigot commented on #20687
OK.

[2020-09-20 18:01] #20687 closed

[2020-09-20 20:34] Ripitchip commented on #28326
Yes, you were right. With the full erase, I could run the sample as expected.

Thank you very much for your help :)

[2020-09-20 20:34] #28326 closed

[2020-09-20 20:50] jcyrax opened #28544 "Null pointer dereference in ll_adv_aux_ad_data_set"
**Describe the bug**
When updating advertising data with `bt_le_adv_update_data` I get error and warning message in log: "bt_hci_core: opcode 0x2037 status 0x0d". I'm not using extended advertising.

I debugged the problem to be in `ll_adv_aux_ad_data_set` where controller updates advertising data and after that tries to start extended advertising even if it is not used, however it doesn't check `

[2020-09-21 00:52] keith-packard commented on #22185
Ok, I spent a bit of time today researching how this could work on x86. Of course, x86 is the oddest of odd-ball chips...

TLS support on x86 uses the GS segment register; TLS variables are referenced as small offsets from the base of the GS segment. That means we need to program the GS register correctly. And that means creating a suitable GDT entry, because the GS register references a descripto

[2020-09-21 01:03] #26683 closed

[2020-09-21 01:03] #26455 closed

[2020-09-21 01:27] #27592 closed

[2020-09-21 01:32] chen-png opened #28547 "up_squared: tests/subsys/debug/coredump failed using twister command."
**Describe the bug**
failed to run testcase  "coredump.logging_backend" on up_squared platform using twister command.

according to the testcase.yaml file of this test, twister will catch the multiple lines below to judge whether it's passed of failed, but it **couldn't catch the last line "E: #CD:END#" from console log**, so it failed with timeout.

      type: multi_line
      regex:
        - "

[2020-09-21 01:41] chen-png opened #28548 "up_squared: tests/arch/x86/pagetables/ failed."
**Describe the bug**
Running tests/arch/x86/pagetables/ on up_squared board, when running to test_dump_ptables, it took about 4 minutes to run over this test, though the test result is passed using west, but it will be judged as failed due to timeout by sanitycheck.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/arch/x86/pagetables/
2. west flash ~/up_

[2020-09-21 01:52] chen-png opened #28549 "up_squared: tests/kernel/threads/thread_apis/ failed"
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/threads/thread_apis/
2. west flash ~/up_squared.sh
3. see error
[code]
**Environment (please complete the following information):**
 - OS: Fedora31
 - Toolchain: zephyr-sdk-0.11.4
 - Commit ID: 122bc38fad

[2020-09-21 02:29] chen-png opened #28551 "up_squared: samples/boards/up_squared/gpio_counter failed."
**Describe the bug**
when running samples/boards/up_squared/gpio_counter on up_squared board, have configured the GPIO pins according to readme file, but it **reported an error "ERROR: cannot set HAT pin 37 to OUT (-22)".**

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto samples/boards/up_squared/gpio_counter
2. west flash ~/up_squared.sh
3. see error

**Logs

[2020-09-21 02:47] chen-png opened #28552 "up_squared: samples/portability/cmsis_rtos_v1/philosophers/ failed."
**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b up_squared -p auto samples/portability/cmsis_rtos_v1/philosophers/
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
Philosopher 2 [P: 0]    HOLDING ONE FORK
Philosopher 3 [P: 1]   EATING  [  25 ms ]
Philosopher 4 [P: 2]   EATING  [  25 ms ]        STARVING

Demo Description

An implementation of a solution t

[2020-09-21 03:00] #26832 closed

[2020-09-21 05:16] jori-nordic commented on #28384
In the second example, we have an MTU of 31, MPS of 33:
`[00:01:32.516,052] [0m<dbg> bt_l2cap.le_conn_req: psm 0x80 scid 0x0040 mtu 31 mps 33 credits 2[0m`

But we still truncate on the TX side, because the current behavior right now when sending is to allocate from the same buffer pool as the buffer that is passed to bt_l2cap_chan_send().
The problem is that buffer pool is misconfigured (in ord

[2020-09-21 06:36] wentongwu commented on #27832
@ceolin Thanks, I just get time to look at this, but can we make z_x86_kernel_ptables like this `extern pentry_t z_x86_kernel_ptables[];`?

[2020-09-21 06:37] wentongwu commented on #27833
@ceolin Thanks, I just got time to look at this, but can we make z_x86_kernel_ptables like this `extern pentry_t z_x86_kernel_ptables[];`?

[2020-09-21 06:47] markus-becker-tridonic-com commented on #28465
@rlubos I have also seen it before RCP.

I was able to reproduce it consistently with:
[code]

[2020-09-21 07:26] Zhaoningx opened #28556 "mec15xxevb_assy6853:running tests/kernel/sched/schedule_api/ failed"
Describe the bug
running tests/kernel/sched/schedule_api/ error, it showed me assertion failed.

To Reproduce
Steps to reproduce the behavior:

sanitycheck --hardware-map ~/mec1.file  --device-testing  -T tests/kernel/sched/schedule_api/
see error
[code]

Environment (please complete the following information):
OS: Fedora28
Toolchain: Zephyr-sdk-0.11.3
Commit ID: 122bc38fad

[2020-09-21 07:56] wentongwu commented on #23599
@kkiyota ping

[2020-09-21 07:59] wentongwu commented on #25918
@galak just see Zephyr SDK has already upgraded QEMU to 5.1 version, but is there any plan to do a new release for Zephyr SDK recently? Thanks a lot！

[2020-09-21 08:04] anangl commented on #28412
Exactly. In some configurations this part of code will be executed, in others it is supposed to be optimized out as a dead code (similarly as the calls to `rc_check()` and `synth_check()` that follow).
I marked this as intentional and to be ignored.

[2020-09-21 08:04] #28412 closed

[2020-09-21 08:12] emob-nordic commented on #28461
@Thalley Have You tried with `CONFIG_BT_EXT_ADV` as @joerchan suggested, does it work for You?

[2020-09-21 08:26] leokrueger commented on #21016
@jukkar please find attached a pcap (in a zip, thanks GitHub...) with the NetBios UDP broadcast from a Raspberry Pi and the resulting ARP requests (which, as explained before, should not be there in our opinion).

[2020-09-21-NetBios-UDP-Broadcast-and-ARP-Requests.zip](https://github.com/zephyrproject-rtos/zephyr/files/5254204/2020-09-21-NetBios-UDP-Broadcast-and-ARP-Requests.zip)

[2020-09-21 08:51] rugeGerritsen opened #28559 "Unable to extend the flash sync API part of the BLE Controller"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/pull/27459 introduced a choice to select which flash driver sync interface to use.
The intent was to be able extend this out-of-tree. Unfortunately that is not possible because the choice is unnamed.

**To Reproduce**
Try to add a new flash driver sync interface

**Expected behavior**
It is possible to add another sync interface

**

[2020-09-21 08:58] tejlmand commented on #28465
@markus-becker-tridonic-com I haven't been able to reproduce this on https://github.com/zephyrproject-rtos/zephyr/commit/04d3c3c1a0d479aada6bab83b3d29e6bf61a2a6a or master.
Could you check your openthread version ?
[code]

[2020-09-21 09:08] ioannisg commented on #28471
@rick1082  why have you closed this issue? Is your problem fixed, even though #27069 is not merged?

[2020-09-21 09:11] joerchan commented on #28384
@jori-nordic With the suggested fix it should not be possible to establish a channel with mps/mtu that would result in segmentation.
Did you try the fix?

[2020-09-21 09:16] tejlmand commented on #28465
yep, happens on #28458:

It is enough to run:
[code]
so the dependency issue is introduced in that PR.

[2020-09-21 09:19] #28289 closed

[2020-09-21 09:33] markus-becker-tridonic-com commented on #28465
Where are the dependencies of OpenThread to Zephyr specified? Or how do you make a dependency from OpenThread onto the generation of `syscalls/ettno_private.h`?

[2020-09-21 09:40] tejlmand commented on #28465
See comment here: https://github.com/zephyrproject-rtos/zephyr/pull/28458#issuecomment-696007802

The manifest file in Zephyr speficies the Openthread revision to use.

[2020-09-21 09:44] tejlmand commented on #28465
closed, no bug found in Zephyr.
Invalid mixing of zephyr and openthread revisions.

[2020-09-21 10:06] armandciejak commented on #28216
It works better but I still experiment crashes, I'll report them in #28121 since the functionality requested in this issue is now working fine.

[2020-09-21 10:09] markus-becker-tridonic-com commented on #28465
I don't think this is solved.
See my replies at https://github.com/zephyrproject-rtos/zephyr/pull/28458#issuecomment-696010538 and  https://github.com/zephyrproject-rtos/zephyr/pull/28458#issuecomment-696020300.

[2020-09-21 10:12] armandciejak commented on #28131
I've tested v2.4.0-rc2 and I'm still experimenting illegal data accesses on the MIMXRT1050-EVK board. I'm using the test setup described in #28216 as well as the MPU hack for catching NULL pointer access.

Here is the fault that got reported:

[code]

The instruction causing the fault is in `ethernet_recv`:

[code]

[2020-09-21 10:17] armandciejak commented on #28216
@jukkar I just got a new occurrence of data corruption with v2.4.0-rc2. Shall I open a new issue specific to this problem?

[2020-09-21 10:24] jukkar commented on #28216
Yes please.

[2020-09-21 11:06] #28559 closed

[2020-09-21 11:15] jukkar commented on #21016
@leokrueger fix submitted, please try.

[2020-09-21 11:25] tejlmand commented on #28465
Only happens when building with `-DCONFIG_MINIMAL_LIBC=y`.

[2020-09-21 11:37] erwango opened #28565 "sensor: lsm6dsl: incompatible pointer type (warning)"
**Describe the bug**
Warnings generated when building sensor lsm6dsl.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -b 96b_argonkey -T samples/sensor/lsm6dsl (or -T samples/boards/96b_argonkey/sensors)
2. See error

**Expected behavior**
Should build w/o warning

[2020-09-21 11:58] jakub-uC opened #28566 "List property label for all active ADCs regardless of the board used"
My proposal is related to issue #27350.

To solve this problem I want to modify the shell commands so that only active ADC channels can be selected. In other words, I will add subcommands with the names (property label) of active ADC channels. Right now it is hardcoded `ADC_0` and it is not compatible with all our boards supported by the ADC driver example.
In order to fix the issue, I would need

[2020-09-21 12:05] jukkar commented on #28131
Thanks for the info. I was not able to see the crash but according to your backtrace, the fix in #28568 should help

[2020-09-21 12:09] nvlsianpu commented on #25010
Can you describe clear operation sequence required to reproduce the file: eg:
1. flash mcuboot of version xxx and application
2. upload image of , set it to test...
3. ...

I have only nRF52xxdks boards so want to reproduce yours results using smp_svr sample. So fare I can't.

[2020-09-21 12:35] erbr-ot opened #28571 "Erroneous call to ull_disable_mark in ull_adv::disable()"
**Describe the bug**
Due to seeing asserts re. mark/unmark in disable logic in ULL, inspection lead to noticing an error in ull_adv::disable()

In the cases where ull_adv::disable() returns with BT_HCI_ERR_CMD_DISALLOWED ull_disable_mark() is called instead of ull_disable_unmark()

**To Reproduce**
ASSERTS happened in a scenario with multiple connections coming and going

**Expected behavior**
No

[2020-09-21 12:42] noelleclement opened #28572 "clock_control: stm32: Allow reconfiguration clock [after exiting low-power mode]"
**Is your enhancement proposal related to a problem? Please describe.**
As described [here](https://lists.zephyrproject.org/g/users/topic/27217100) clock reconfiguration is required after waking up from stop mode (STM32 SoCs). With the current STM32 clock_control implementation in `clock_stm32_ll_common.c`, the concerning function (`static int stm32_clock_control_init(struct device *dev)`) is stat

[2020-09-21 12:52] #28282 closed

[2020-09-21 12:54] markus-becker-tridonic-com commented on #11770
@auschel does https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/ug_multiprotocol_support.html meet your needs?

[2020-09-21 13:00] leokrueger commented on #21016
@jukkar we testedt your patch on top of the current master and we see that the board running your patch does not send out the ARP request in reaction to a broadcast. So: Looks good! Thanks!

[2020-09-21 13:07] Thalley commented on #28461
@emob-nordic @joerchan Not yet, been busy with some issue with Periodic Advertisements. Will try to get around to it tonight.

[2020-09-21 13:10] erwango commented on #28333
So I've done a couple of tests (one run/board) on various boards from various vendors: disco_l475_iot (ST), frdm_k64f (NXP), reel_board (nRF).
Result  is as follows (each time I had to end up the test after > 5 min w/o life sign):
[code]

So it appears that at least 1 test is not working whatever the USB driver:
`/dev/bus/usb/001/028 test 13 --> 22 (Invalid argument)`
According to dmesg:
disco_l47

[2020-09-21 13:30] nandojve commented on #25010
Hi @nvlsianpu , the project that I try run is https://github.com/UpdateHub/zephyr/commit/74ae362d7b806c2957c57c2203b189141a33a9a1

I sign the image and upload with west flash --hex.... All that I reported on the old post is related to the image at slot-0 after flash, and the above commit is the **new firmware**. I think you don't need use smp_svr because problem shows with west flash.

old MCUboot

[2020-09-21 13:44] erwango commented on #28572
^^ @wentongwu @nashif @ceolin @pabigot clock control API enehncement proposal in context of power management

[2020-09-21 13:47] jori-nordic commented on #28384
@joerchan I just tried, it does disallow sending a segmented packet when payload > MPS, but the situation I described in my previous comment still happens (see attached logs).
I was just wondering if that would be possible, that a peer might fragment packets even if the actual data size is < MPS.

[central.log](https://github.com/zephyrproject-rtos/zephyr/files/5255710/central.log)
[periph.log](ht

[2020-09-21 13:51] erwango commented on #28566
@jakub-uC

Next, I would need to reference this variable from the adc_shell.c file.

What about the existing code in `drivers/adc/adc_shell.c` :
[code]

[2020-09-21 14:15] #28324 closed

[2020-09-21 14:57] #26896 closed

[2020-09-21 15:04] #21016 closed

[2020-09-21 15:09] andyross commented on #24358
OK, sounds good.   I'll provide the deprecation patch as soon as I get another spin of the SOF PR up, that one is easy.  Note it will end up needing to remove a few tests though.  Post-deprecation, there needs to be a new API to convert a heap block to an old-style "mem block" for the oddball APIs that use those.

[2020-09-21 15:19] cfriedt opened #28577 "possible bug / regression in new TCP stack"
**Describe the bug**

I believe I've uncovered a bug in the new TCP stack. I only discovered it because `CONFIG_NET_TCP2=y` is selected as the default stack instead of the legacy stack as of this commit 70dae094ba2dd3e1f02684a8d673d434966b8b76 and I just happened to rebase my changes on a8ffc03f6eba778db58a1d68179b498793be44d6 today.

In my scenario, the Greybus service opens 3 TCP server sockets

[2020-09-21 15:26] carlescufi commented on #27763
@joerchan could you comment on this one?

[2020-09-21 17:11] dcpleung commented on #28547
This is not a bug. The coredump test actually causes an exception so coredump can be performed. Closing...

[2020-09-21 17:22] dcpleung commented on #28551
Have you set up the BIOS according to README and `main.c`? By default, all those pins are not set as GPIOs and cannot be used as such.