[2022-01-17 06:26] cvinayak commented on #40317
Ok, you should try reducing the `printk` over UART that could slow down the thread that consumes periodic advertising reports, or you can disable periodic advertising reports when creating sync so that the periodic advertising reports do not hog the CPU, (or turn on duplicate filtering with use of the ADI support feature).

Are you not getting the assertions in lll_sync.c and lll.c any more?

[2022-01-17 08:36] mengxianglinx opened #41860 "tests: kernel: queue: test case kernel.queue failed on ADSP of Up Xtreme"
- Platform: ADSP on Up Xtreme

**To Reproduce**
Steps to reproduce the behavior:
1. cavsload.sh:

[code]

2. twister -p intel_adsp_cavs25 --device-testing --device-serial-pty=/path/to/cavsload.sh --west-flash=/path/to/cavsload.sh -T tests/kernel/queue/ -j 1
3. See error
 START - test_queue_append_list_error
[00C0a0u0g2h3t6 ]s ys<teermr >er roosr:  - -* *r eFaAsToAnL  0E X0C
EFPaTtIaOlNe
rror [w0a0

[2022-01-17 08:48] erwango commented on #41839
It seems that this problem is not STM32 specific.
I had a try to prevent system to enter `PM_STATE_SUSPEND_TO_IDLE` during HCI driver init `_bt_ipm_init`, but this had no effect on the issue.

@jhedberg Would you mind having a look on BLE stack side?

[2022-01-17 08:53] mengxianglinx opened #41861 "tests: kernel: There are no log output after flashing image to intel_adsp_cavs25"
**Describe the bug**
For some test cases, binary image can be downloaded to ADSP, but there is no output can be caught by adsplog.py, so those test cases failed with "timeout"

 - Platform: ADSP on Up Xtreme

**To Reproduce**
Steps to reproduce the behavior:
1. cavsload.sh:
[code]
2. twister -p intel_adsp_cavs25 --device-testing --device-serial-pty=/path/to/cavsload.sh --west-flash=/path/to/cavslo

[2022-01-17 09:09] mengxianglinx opened #41862 "tests: kernel: fail to download firmware to ADSP on Up Xtreme"
**Describe the bug**
Fail to download binary image of test cases to ADSP on Up Xtreme, and the test cases failed with "timeout"

 - Platform: ADSP on Up Xtreme

**To Reproduce**
Steps to reproduce the behavior:
1. cavsload.sh:
[code]
2. twister -p intel_adsp_cavs25 --device-testing --device-serial-pty=/path/to/cavsload.sh --west-flash=/path/to/cavsload.sh -T tests/
3. in device.log:
 INFO:cavs-fw:

[2022-01-17 09:18] huarunlin opened #41864 "ESP32 Wifi AP Mode DHCP Service"
I set the wifi working mode to ap mode, the mobile phone is connected to the esp32, and found that the mobile phone cannot obtain an IP through DHCP, how to start the DHCP service?

zephyr version: main branch c9a3dae6519fc788d33233fc1c4d1364ba129034

[2022-01-17 10:00] benediktibk commented on #41408
Implemented by:

- https://github.com/zephyrproject-rtos/zephyr/pull/41871
- https://github.com/zephyrproject-rtos/zephyr/pull/41869
- https://github.com/zephyrproject-rtos/zephyr/pull/41867

[2022-01-17 10:04] benediktibk opened #41873 "STM32H735 Power Supply Config incorrect"
**Describe the bug**
The power supply config for STM32H735 defaults to the incorrect value, it should be "Direct SMPS" to fit with the schematic.

**To Reproduce**
Steps to reproduce the behavior:
1. build and flash hello world on STM32H735 Discovery Kit
2. unable to attach debugger again without a power reset (and connect under reset afterwards)

**Expected behavior**
The power supply configurati

[2022-01-17 10:09] jhedberg commented on #41839
@erwango there is no PM related code on the host side of the Bluetooth stack, so not sure what you’re requesting.

[2022-01-17 10:10] FRASTM commented on #37352
Yes, more or less, for each peripheral, entering/exiting STOP2 mode.
I guess this is the purpose of the `pm_device` _Pointer to the device's power management resources,_
which appears in the `DEVICE_DEFINE`
like `PM_DEVICE_DT_DEFINE(SPI(idx), gpio_stm32_pm_action);`

[2022-01-17 10:16] erwango commented on #41839
Sure, but maybe the point is that there are sleep intervals during BLE stack initialization that let the PM subsystem going into PM state while it should prevent it (using `pm_constraint_`). This could also be a larger system issue, applicable to all stacks and in that case, this should be fixed directly by PM subsystem. I hope @ceolin may give directions.

[2022-01-17 10:27] kaiser-ren commented on #41635
A reminder, how to handle this?

[2022-01-17 10:32] Thalley commented on #41635
I think the best course of action is to update the README file in the affected samples.

[2022-01-17 10:40] lairdjm opened #41874 "Recursive spinlock error on ARM in specific circumstances"
**Describe the bug**
We are seeing an issue with zephyr from nRF connect SDK 1.8 which is based on zephyr 2.6 running on an nRF52840, we have code that is triggered from the shell which is used to restore a device to factory defaults and reboots, however upon doing this now (no issue was observed previously when using nRF connect SDK 1.6) after the warm reboot, it seems that a spinlock duplication

[2022-01-17 11:11] lairdjm commented on #41874
It seems that this is related to a watchdog thread causing a usage fault

[2022-01-17 12:36] mengxianglinx opened #41877 "tests: kernel: fatal: ADSP stalls after firmware downloaded on Up Xtreme"
**Describe the bug**
Test cases in tests/kernel/fatal can stall the ADSP after firmware downloaded by cavs-fw-v25.py and can't be reset unless reboot. twister will be blocked at this point in daily testing.

 - Platform: ADSP on Up Xtreme

**To Reproduce**
Steps to reproduce the behavior:
1. cavsload.sh:
[code]
2. twister -p intel_adsp_cavs25 --device-testing --device-serial-pty=/path/to/cavsload.

[2022-01-17 12:44] nordic-krch opened #41879 "new ztest api fails when user space is enabled"
**Describe the bug**
It seems that new ztest API does not work with user space. I've modified one of test cases to use new ztest API if enabled. Test suite is shortened to only one test case. It fails when new api is enabled.

**To Reproduce**
Cherry-pick https://github.com/zephyrproject-rtos/zephyr/commit/67e5d72956a2dd8ed2f36e1a8d8020f4af65f0c9
1. Run it on `qemu_x86` and observe failure.
2. Com

[2022-01-17 12:54] nordic-krch opened #41880 "Strict test ordering in new ztest API"
**Is your feature request related to a problem? Please describe.**
Currently there are tests which rely on strict order execution. This is mainly related to user space test preparation where non-user test is executed before user test. In order to allow transition to new API it must be somehow supported. Example: https://github.com/zephyrproject-rtos/zephyr/blob/44462723f59ddcc0786af0b5406122476c2a

[2022-01-17 13:12] kaiser-ren commented on #41635
Great.
What are your opinions? @cvinayak , @carlescufi

[2022-01-17 14:30] yperess commented on #41879
https://github.com/zephyrproject-rtos/zephyr/commit/67e5d72956a2dd8ed2f36e1a8d8020f4af65f0c9#r64029060

I'm OK with making the before/after functions run in the same thread as the test. I think that would make sense.

[2022-01-17 14:35] yperess commented on #41880
I'm working on a migration of the chromium tests that does this too. Here's how to set it up...

test_state.h
[code]

main.c
[code]

phase0.c
[code]

[2022-01-17 14:55] FRASTM commented on #41818
@SadanandPenore-eaton you say "Appropriate changes are done in dts file", do you mean adding an overlay or an entry in the nucleo_f429zi.dts board with
[code]
 I expect the `CONFIG_UART_ASYNC_API=y`  is set too, so you probably have to set the DMA for uart transfer

[2022-01-17 15:25] jakkra commented on #40317
- I have 1 printk every 2s now only with stats of synced tags, it's less than 50 characters/2s.
- I completely disabled perdiodic adv. reports using `bt_le_per_adv_sync_recv_disable`.
- I have added `BT_LE_SCAN_OPT_FILTER_DUPLICATE` (filter is reset after evrery sync success/fail).
- Still have CONFIG_BT_CTLR_RX_BUFFERS=18.

Even with those changes I don't really see any difference.

I have also t

[2022-01-17 15:26] simon-marti-loepfe commented on #41708
Thank you very much, setting `target_compile_options()` works. I also have to suppress the warnings created by the included headers (with `-Wno-unused-parameter -Wno-missing-field-initializers` in my case ), but that's acceptable.

[2022-01-17 15:31] #41708 closed

[2022-01-17 15:40] mikedudgeon commented on #31408
As a new Zephyr developer but very experienced embedded guy, I agree that the settings documentation is poor even as of 2.7.  I have found the rest of the docs very good, but not the settings.

[2022-01-17 16:31] lairdjm commented on #41874
Something definitely amiss here, now have it reproducing with it originating in the QSPI driver, I don't think that it does originate where it says:
[code]

[2022-01-17 16:46] #38683 closed

[2022-01-17 16:52] peter-mitsis commented on #41792
I found at least one issue related to the updating of the system's thread_runtime_stats.
   - The total cycles (non-idle) is including the number of idle cycles.

Consequently, the system's execution cycles (sum of total_cycles and idle cycles) ultimately includes the idle cycles twice.

[2022-01-17 17:10] thedjnK opened #41887 "Documentation setup page missing packages for arch linux"
**Describe the bug**
https://docs.zephyrproject.org/latest/guides/docs/index.html?highlight=documentation lists how to build documentation for linux, however the arch linux package list is missing texlive-latexextra which is required to build pdf documentation

**To Reproduce**
Steps to reproduce the behavior: Follow directions and build PDF documentation

**Expected behavior**
Documentation to bu

[2022-01-17 17:56] yonsch commented on #40817
@carlescufi are there any news on this?

[2022-01-17 18:47] mmahadevan108 opened #41890 "Clock Initialization on MXRT10XX is incorrect"
**Is your enhancement proposal related to a problem? Please describe.**
The clock setup for MXRT10XX series is outdated and it does not match the NXP SDK.

**Describe the solution you'd like**
- The clocking code for the various RT platforms should be separated into separate files as the clock init steps are different.
- The clocking code should not modify SYS and USB PLL's as these have been setu

[2022-01-17 18:55] bob2oneil commented on #39707
Thanks for this information.   However, the issue I presented remains, that is when I have CONFIG_SHELL_LOG_BACKEND enabled, and I want the Telnet interface to be purely the shell interface, and the serial interface to be the output of LOG* outputs (can be shell as well), once I enable CONFIG_SHELL_LOG_BACKEND to allow the shell menu to control logging, just enabling that setting then polutes the

[2022-01-17 19:17] yperess commented on #41880
Another thing if you don't want to make it one suite per set of tests is to combine them into one `ZTEST` that calls them in the right order. We do that in chromium. It makes more sense too since if one fails you want to stop execution anyway

[2022-01-17 20:49] #41728 closed

[2022-01-18 00:29] #39695 closed

[2022-01-18 00:29] #39395 closed

[2022-01-18 00:56] sylvioalves commented on #41624
@dkalowsk can you check this? #41892

[2022-01-18 02:09] #19502 closed

[2022-01-18 02:32] carlst opened #41894 "ISOAL sink handle value checked incorrectly"
**Describe the bug**
ISOAL sink handles for BIS are numbered 0...ISOAL_SINKS_MAX but a check for valid sink handle disallows 0 (which is a valid ISOAL sink handle).

Note: I know this code is not fully released so this issue can be considered just-for-reference.

Please also mention any information which could help others to understand
the problem you're facing:
- using 2 nRF52840s with samples/bl

[2022-01-18 06:52] henrikbrixandersen commented on #22379
@martinjaeger I would say this is the expected behaviour. The timeout in `can_send()` is for acquiring a TX MB, not a transmission timeout (as such a transmission timeout would be rather difficult to honour on many CAN controllers, which tend to always retransmit in hardware). By default, the CAN controller will attempt to retransmit frames without ACK or when arbitration is lost, which would happ

[2022-01-18 07:28] julien-massot commented on #33274
Let's consider that all the basic support has land into Zephyr.
The only missing point is IPM driver that needs synchronization with possible
other RTOS for Gen3.
Thanks to all reviewers and maintainers !

[2022-01-18 07:28] #33274 closed

[2022-01-18 07:31] atshinbo-etrinity commented on #39924
I have confirmed that this issue has been fixed at latest commit of main branch (e8df8a579033be238beb774e4909d637da649f3a).

It seems the issue has been fixed by following changes:

In my investigation, the cause of this issue is :
- "main" thread uses z_interrupt_stacks instead of z_main_stack when CONFIG_PMP_STACK_GUARD=y.
- k_thread_create() will save the context of main thread to z_interrupt_s

[2022-01-18 07:49] asbjornsabo commented on #41212
Zephyr-bt host meeting 2022-01-18:
Emil: We store a lot of data on the client, but do not have a means of restoring these data on reboot.
Need to start looking at method to store (permanently) these data. => May end up as a general issue.

[2022-01-18 07:56] asbjornsabo commented on #41195
No longer relevant.
Emil will create new issue for common API for streams.

[2022-01-18 07:56] #41195 closed

[2022-01-18 08:00] huarunlin opened #41899 "ESP32 Wifi mDNS"
In my project, `CONFIG_MDNS_RESOLVER=y` is set, the wifi sta mode is connected to the wifi hotspot, and the ip is obtained. There is a reply to the host ping ip, but no reply to ping <hostname>.local. The host has installed mDNS related tools and can interpret other mDNS devices normally.
zephyr version: c9a3dae6519fc788d33233fc1c4d1364ba129034

[2022-01-18 08:42] chojpsh1 opened #41900 "Add Cortex-A55 support"
Hello, I'm studying Zephyr nowadays. I saw Zephyr supports the Cortex-A53 for supporting ARMv8-A type (via #11172 issue)
But I hope Zephyr also supports Cortex-a55, so I would like to ask if Zephyr has any plans for A55.
Thank you!

[2022-01-18 08:53] benediktibk commented on #41873
Duplicate https://github.com/zephyrproject-rtos/zephyr/issues/34732

[2022-01-18 08:53] #41873 closed

[2022-01-18 09:03] #37639 closed

[2022-01-18 12:04] FRASTM commented on #41691
Also passed on nucleo_h743zi with CONFIG_PM plus PR #https://github.com/zephyrproject-rtos/zephyr/pull/41692
tests/kernel/timer/timer_monotonic or tests/kernel/timer/timer_api or samples/boards/stm32/power_mgmt/blinky/

[2022-01-18 13:45] r2r0 opened #41911 "pm_power_state_force returns false after first call"
**Describe the bug**
I modified the zephyr/samples/boards/stm32/power_mgmt/stm32wb_ble/src/main.c file and I changed "pure" call to pm_power_state_force for sometihing to allow visually detect problems witch switching to shutdown:
[code]
And unfortunately above condition is met and also "Not in SHUTDOWN!" is printed.

**To Reproduce**
Steps to reproduce the behavior:
1. Change code in zephyr/sampl

[2022-01-18 15:00] daFritz84 commented on #17005
Hi, can anyone give an update on the progress?
Cheers,
Stefan

[2022-01-18 15:00] hjuul commented on #38548
I've been looking into this for the past week now. I still don't know what is causing it, but I've got some more information.

`HAL_QSPI_IRQHandler()` disables the QSPI interrupt(s) when done. I tried re-enabling them to see what happened:
[code]
With this patch, sometimes I see that a QSPI interrupt is triggered 212us _after_ `flash_stm32_qspi_read()` is done! Upon entering the ISR, `QUADSPI->SR=

[2022-01-18 15:28] #41526 closed

[2022-01-18 15:28] #41624 closed

[2022-01-18 15:36] #41691 closed

[2022-01-18 15:39] #24802 closed

[2022-01-18 15:40] #41591 closed

[2022-01-18 15:41] #40795 closed

[2022-01-18 15:55] Delsian opened #41915 "regression: Build fails after switching logging to V2"
**Describe the bug**

Build ok with dd4035c62424b4241a5b22ec05e575c48d3fecaf
Build fail with 262cc55609b73ea61b5f999c6c6daaba20bc5240

@nordic-krch Probably you forgot to add some defines in your patch:

[code]

My file log.conf:
[code]

Changing CONFIG_TRACING to n fixes issue

[2022-01-18 15:56] Delsian commented on #41915
@nashif FYI

[2022-01-18 16:01] rlubos commented on #41503
@boaks I've submitted https://github.com/zephyrproject-rtos/zephyr/pull/41916 with my proposal to address the issue.

The core problem was `#define timeval zsock_timeval` - if the standard header was included after that, the standard `struct timeval` definition ended up as a redefinition of `struct zsock_timeval`>

Another thing is that I don't really see a reason for the socket layer to provide i

[2022-01-18 16:45] hackwerken opened #41921 "Fast USB DFU workflow"
## Is your enhancement proposal related to a problem? Please describe.

The current of implementation USB DFU for Zephyr is not very streamlined. This makes it unusable for our product. See [Additional context](#Additional-context).

The current workflow (as far as I understand) is as follows:

1. Download new binary to slot 1 using dfu-util
2. Reset the device
    * There seems to be no solid way

[2022-01-18 17:09] niag-Oticon opened #41922 "Bluetooth: Controller: ISOAL: TX: Implement SDU Fragmentation into Unframed PDUs"
Implementation that fulfills Bluetooth Core V5.3 Specification Vol 6: Low Energy Controller Part G ISO Adaptation Layer fragmentation of SDUs into unframed PDUs for transmission (Host to Controller path).

Considerations:

- Establish source structure (session and PDU production) to collate configuration for CIS / BIS data path (mirrors ISOAL RX sink)
- Optional vendor specific overrides to custom

[2022-01-18 17:09] nashif commented on #41915
what board did you build with? what sample/test?

[2022-01-18 17:11] dkalowsk commented on #41899
@huarunlin thanks for the bug report.  It seems there are some details missing that you can hopefully provide such as build command.  The original template has a nice format to follow on it.

[2022-01-18 17:12] #41525 closed

[2022-01-18 17:16] dkalowsk commented on #41887
@thedjnK any chance you can provide a PR for this?

[2022-01-18 17:24] dkalowsk commented on #41864
@huarunlin can you please provide for more details for resolving the issue?  Follow the steps at https://github.com/zephyrproject-rtos/zephyr/issues/new?assignees=&labels=bug&template=bug_report.md&title=

[2022-01-18 17:30] andyross commented on #41862
That's a load failure, which usually implies a glitch in the DSP (it's possible for the DSP to get into a state from which it can't recover, at least with our loader.  This is a known thing).  Are you absolutely sure that this is repeating after a power cycle of the device, and that it affects only those specific Zephyr tests and not just "every test you try after it hangs?".

It seems very unlike

[2022-01-18 17:30] andyross commented on #41877
Is this a bug against the twister integration or the test case?  What happens when you run it manually?

[2022-01-18 17:47] gmarull opened #41924 "drivers: dma/i2c: nios2: config used as non-const"
**Describe the bug**

These drivers seem to treat device configuration as non-const. For example:

https://github.com/zephyrproject-rtos/zephyr/blob/40bb3d808acb3e40b4a96f3bee794eab2f021b52/drivers/dma/dma_nios2_msgdma.c#L107-L110

**To Reproduce**

1. Don't cast config to non-const (as it should be):
[code]
2. `/scripts/twister -T tests/boards/altera_max10/msgdma -p altera_max10 -vv`

**Expected

[2022-01-18 17:50] mtahirbutt opened #41925 "conflict of v2.7-branch with main:"
Hi mates,
              I am trying to pull v2.7-branch but it shows conflicts with many files and resultantly pull is not successful. I downloaded fresh repo from zephyr and it is definitely 2.7.99 (development version). But I want to work with v2.7.

Somebody can help me please comment to sort out this issue to work with v2.7.

regards,

Tahir

[2022-01-18 17:59] #41835 closed

[2022-01-18 18:08] jhedberg commented on #41796
I downgraded this to an Enhancelent/Feature request, since the current Bluetooth shell has been intentionally designed with the assumption that the Bluetooth stack is always initialised through the shell. Please also see my comments in the linked PR.

[2022-01-18 18:10] #41749 closed

[2022-01-18 18:11] #31811 closed

[2022-01-18 18:11] #41111 closed

[2022-01-18 18:17] #41442 closed

[2022-01-18 18:19] #41595 closed

[2022-01-18 18:24] #40374 closed

[2022-01-18 19:17] dleach02 commented on #41816
@hubertmis we are going to close this bug report. If you want to pursue this some more I recommend opening an enhancement request ticket. As pointed out, this function's usage of entropy is to seed a rng function. That is generally an okay usage of entropy although as you point out, it could have used sys_rand32_get() as well.

[2022-01-18 19:17] #41816 closed

[2022-01-18 19:22] nashif commented on #41469
This was approved, PR can go.

[2022-01-18 19:45] martinjaeger commented on #22379
I agree that it can be considered expected behaviour, so we can probably close the issue.

As far as I can see, the one-shot mode can only be configured via Devicetree. If that's the case, it is not useful for my application, as I want to use the same CAN interface either in "fire & forget" mode for low priority messages or with proper error checking for ISO-TP. But it's not a big deal, I created

[2022-01-18 20:20] ceolin commented on #41911
That is really weird, this function only returns `false` if the cpu bit in `z_power_states_forced` is 1 and this should be zeroed initialized. Can you try to following change and see what happens ?
[code]

[2022-01-18 20:24] gopiotr opened #41929 "twister: problem with build specific samples on Windows OS"
**Describe the bug**
During building samples or tests by Twister on Windows OS some of them cannot be build due to the fact, that path of directories created for build place is too long. This problem is connected with path limit on Windows OS, which can be remove (since Windows 10) but it seems that still some programs like CMake has problem with such limit. This problem do not occur, when those s

[2022-01-18 20:31] SadanandPenore-eaton commented on #41818
Oh. I found a problem area.
By the way I don't want to use DMA for now.
The problem I found was with uart_err_check(). -- (Sorry it is not pasted in the simplified code above.)

And here is the overlay file:
&usart2 {
	pinctrl-0 = <&usart2_tx_pd5 &usart2_rx_pd6>;
	current-speed = <115200>;
	status = "okay";
};

If I comment the function everything work fine.
This is simple code which receives the

[2022-01-18 20:53] ceolin commented on #41839
From the pm subsystem there is nothing preventing it from put the system to sleep. We can ensure that the system does not go to sleep before reach the `main`, this seems very reasonable. Though, there is a thumb rule where anyone doing an operation that the system shouldn't sleep has to set constraints.

[2022-01-18 20:56] boaks commented on #41503
#41916 works for me.

[2022-01-18 20:57] boaks commented on #41503
Should I close the issue?

[2022-01-18 20:58] SadanandPenore-eaton commented on #41818
I came across https://github.com/zephyrproject-rtos/zephyr/issues/41339.
And added code related to line break at mentioned location. That also did not solve the problem.

[2022-01-18 21:15] gmarull opened #41931 "drivers: audio: tlv320dac310x: device config used as non-const"
**Describe the bug**

The driver seems to treat device configuration as non-const. For example:

https://github.com/zephyrproject-rtos/zephyr/blob/5598ae85c0e3b29ed5042d890715b71a5dfce5d2/drivers/audio/tlv320dac310x.c#L84-L92
**To Reproduce**

1. Don't cast config to non-const (as it should be):
[code]
2. `/scripts/twister -T samples/boards/intel_s1000_crb/audio -p intel_s1000_crb -vv`

**Expected

[2022-01-18 21:18] #22379 closed

[2022-01-18 21:31] henrikbrixandersen commented on #30724
@Navin-Sankar Any work done on this yet that you can share?

[2022-01-18 21:37] andyross commented on #41317
Is this resolved?  Can we retest and update?

[2022-01-18 22:05] andyross commented on #41860
KERNEL_COHERENCE regression in the test.  Fix submitted.

[2022-01-18 22:55] youssefchei-xite opened #41933 "updatehub metadata size 0"
**Describe the bug**
I'm testing updatehub on nRF53dk and BG95 as a modem.
I'm using updatehub cloud without DTLS.

- I flashed the updatehub example and it works and connected to **updatehub cloud**.
- Then I build a hello sample, signed then pushed to **updatehub cloud** and finally create a rollout.

When I tried to start the update using **updatehub run** command I got

[code]
I tried differen

[2022-01-18 22:59] andyross commented on #41877
Took a look.  Indeed, exception handlers are having trouble on xtensa at the moment.  The proximate cause took a little bit of digging but is pretty obvious: the interrupt nesting count is zero in the level 1 interrupt (what other architectures call "exception") handler.  That causes the k_thread_abort() at the end of the fatal exception path to think it's in thread mode, and since SMP=y it enters

[2022-01-19 00:18] #41860 closed

[2022-01-19 00:31] ngboonkhai commented on #41469
That's great, thanks Anas :D

[2022-01-19 00:42] enjiamai commented on #41317
Hi @andyross , I am verifying this in ADSP, TGL... please wait me for couple hours, feedback you soon. thanks.

[2022-01-19 00:54] dcpleung commented on #41861
The `tests/kernel/events/event_api/kernel.events` is fixed by #41936.

Others except `tests/kernel/fata/exception/`, `tests/kernel/obj_tracking/` and `tests/kernel/events/event_api` are running fine on my Chromebook.

[2022-01-19 01:02] nandojve commented on #41933
Hi @youssefchei-xite ,

I think you are doing everything OK. However, you are using an intermediate version, not an official ZephyrRTOS release.
I'll ask you to check if this #37854 fix your problem. Please, test and follow up.

[2022-01-19 02:15] jenifer-su commented on #41777
Hello,

I have found the problem because the data + 1 is modified before send complete(occasionally). The sent callback function needs to be enabled and the data can be modified after send complete. However, the sent callback function is not entered at present and the reason is being found. please view to

[nRF Connect SDK1.8.0 periodic_adv no recv callback - Nordic Q&A - Nordic DevZone - Nordic D

[2022-01-19 03:12] laurenmurphyx64 opened #41938 "esp_wrover_kit: hello_world build failure"
**Describe the bug**
`samples/hello_world` (and all builds I tried) fail for the new `esp_wrover_kit` board with a CMake warning. I'm hoping this isn't some kind of crazy weird issue with my environment since I'm able to build for the `esp32` just fine.

CMake warning:
[code]
`../../soc/xtensa/esp32/CMakeLists.txt:12-13`:
[code]

Poking around in my build folder, I noticed that `zephyr.dts` made n

[2022-01-19 03:32] sylvioalves commented on #41821
@sam131208, the 3rd step is wrong. You should not flash `zephyr.signed.confirmed.bin`, but `zephyr.signed.bin`.  Besides this, I recommend you to run only `west flash`. As MCUBOOT is enabled, `west flash` will take care of flashing `zephyr.signed.bin` automatically. Would you try again?

[2022-01-19 03:42] sylvioalves commented on #41734
@szczys I think this was fixed already by the commit below:
https://github.com/zephyrproject-rtos/zephyr/pull/40864/commits/370b3d8423bcbc7b760060480c3e1c6271827bd0

Would you update you main and re-test?

Thanks!

[2022-01-19 03:44] huarunlin commented on #41899
**Describe the bug**
I made some modifications based on the samples\boards\esp32\wifi_station project, configured wifi ssid and password, enabled hostname, mDNS. esp32 successfully connected to wifi, and automatically assigned to ip. The host can access esp32 via ip, but fails to access via <hostname>.local

[code]

**To Reproduce**
1、modify prj.conf, configure the wifi settings and enable the hos

[2022-01-19 03:44] sylvioalves commented on #41864
@huarunlin ESP32 WiFi SoftAP is not supported yet in Zephyr.

[2022-01-19 03:57] sylvioalves commented on #41938
@laurenmurphyx64, thanks for the notice. Please, check the PR.

[2022-01-19 04:02] sylvioalves commented on #41836
@WilliamRoyle, please, would you test this issue using this https://github.com/zephyrproject-rtos/zephyr/pull/41941?

[2022-01-19 04:18] ycsin opened #41942 "k_delayable_work being used as k_work in work's handler"
The `k_delayable_work` being passed into the work handler as `struct k_work *work` is passed into `CONTAINER_OF` directly without the `k_work_delayable_from_work` to derive the address to the container.

I imagine that the worst case scenario being the code modifies some unintended memory addresses and causes corruptions, but I'm not sure, since some of them have been in the upstream for a few yea

[2022-01-19 04:18] ycsin commented on #41942
@andyross @pabigot

[2022-01-19 04:32] enjiamai opened #41943 "Intel_adsp_cavs15: all the test cases run failed when running them by twister"
**Describe the bug**
The twister cannot be used to testing intel_adsp_cavs15 after this commit 8590f67f698e2492a6757239da13a945f88a6646
But when we manually run it by west, it will pass the test.

 - What target platform are you using?
 intel_adsp_cavs15 (on up_squared board)

 - What have you tried to diagnose or workaround this issue?
I found the test case failed in twister because when the adsp

[2022-01-19 04:42] ycsin commented on #41942
@andyross seems to be pretty common in Zephyr that the `k_work_delayable` to be used as a timer, some of them are being named directly as a timer, i.e. `struct k_work_delayable timer`

[2022-01-19 04:45] andyross commented on #41943
That commit changed the output protocol.  You can't use an older script with a newer firmware binary.  Are you sure that "/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/adsplog.py" (the script twister is using) and "boards/xtensa/intel_adsp_cavs15/tools/adsplog.py" (the script you used with west) are identical?

[2022-01-19 04:47] szczys commented on #41734
Yes, at the  current main (7dac931e36) I am able to use the pull-ups on these pins. Thank you for pointing this out and I apologize for not testing the newest before reporting.

[2022-01-19 04:47] #41734 closed

[2022-01-19 05:05] enjiamai commented on #41943
Yes, @andyross. They are identical, the new adsplog.py using new winstream protocol to get log from ADSP. I use that new one.
And I found it the twister works by doing following trial:

[code]

[2022-01-19 05:12] enjiamai commented on #41943
Hi @andyross , by the way, may I ask you one question. When I run it manually by west, the test pass, but I saw this message, it that matter?
[code]
here is the full message:
[code]

[2022-01-19 06:15] rohand87 commented on #41686
Hi Rivimey,
The issue was in my device tree `data_cmd-gpios = <&gpiob 9 GPIO_ACTIVE_LOW>;` line. I changed it to `data_cmd-gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;` and the code started working. I believe the CS pin wasn't the issue. Thanks for your reply.

[2022-01-19 07:04] LixinGuoX commented on #41836
I have problem on building with this patch, is this a common issue?
[code]

[2022-01-19 07:50] r2r0 commented on #41911
Unfortunately it changes nothing.
I suspect that problem can be caused by the fact that `z_power_states_forced` flag is cleared **after** scheduler is unlocked (in `pm_system_suspend`).
And then `pm_system_suspend` is called before main (issue #41839) then after main is scheduled the `z_power_states_forced` flag is still set and it prevents proper `pm_power_state_force` functionality.
Even if ther

[2022-01-19 07:54] sylvioalves commented on #41836
@LixinGuoX, please, run `west update` so that `hal_espressif` brings that symbol.

[2022-01-19 07:54] sylvioalves commented on #41734
@szczys hey, no problem.

[2022-01-19 08:09] r2r0 opened #41944 "Assertion triggered when system is going to PM_STATE_SOFT_OFF"
**Describe the bug**
When I try to switch to SHUTDOWN mode using applicatiom PM policy then there is triggered system assertion from `sched.c`.
The call stack reveals that there is scheduled semaphore waiting from the idle thread and it is not allowed.
Platform: STM32WB55

Call stack:
z_priq_rb_add -> __ASSERT_NO_MSG(!z_is_idle_thread_object(thread))
add_to_waitq_locked
pend
z_pend_curr
z_impl_k_s

[2022-01-19 08:11] rlubos commented on #41503
No need to, GH will close it automatically once the fix is actually merged.

[2022-01-19 08:11] sam131208 commented on #41821
@sylvioalves
 It seems can't bootload success.

Steps to reproduce the behavior:
   1.  flash mcuboot. ( https://github.com/mcu-tools/mcuboot/blob/main/docs/readme-espressif.md)
   2.  west build -b esp32 samples/bluetooth/peripheral/ -- -DCONFIG_BOOTLOADER_MCUBOOT=y
   3.  west flash
        or   west flash --bin-file build/zephyr/zephyr.signed.bin

rst:0x3 (SW_RESET),boot:0x13 (SPI_FAST_FLASH_BO

[2022-01-19 08:16] metratec-mkoehler opened #41945 "nxp_hal module: Seconds GPIO interrupt does never fire"
**Description:**
The input interrupt will never fire
Tested and found on LPC55S16 SoC on LPCxpresso55s16 eval board

**Found cause:**
In File zephyr/drivers/gpio/gpio_mcux_lpc.c, line 32:
 #define NO_PINT_INT ((1 << sizeof(pint_pin_int_t)) - 1)
This looks to me like it intends to get the max value of pint_pin_int_t but does it wrong. For my build sizeof(pint_pin_int_t) is one (1 byte) causing this

[2022-01-19 08:17] erwango commented on #41839
This seems logical but:
- would we be able to enforce that ?
- how can this be technically applied? (how a driver or a subsystem would know that main was entered yet or not. In some cases (init functions), it is simple, but in some subroutines used widely, response is not that easy.

[2022-01-19 08:18] Laczen commented on #41921
Hi @hackwerken, it seems like you are willing to give up all nice mcuboot properties (downgrade protection, encrypted software, ...) to simplify the development proces. This seems like the wrong approach. Are you sure that your final product do without these properties?

It is not because mcuboot is said to be a secure bootloader that you can't disable all the security.

[2022-01-19 08:20] lsangild commented on #41925
You cannot pull to an existing branch, this is akin to merging the two branches. What you want to do is to switch to another branch, which can be done with the `git checkout` feature.

Delete your downloaded repository folder and clone a new one.

You can either checkout to the 2.7 branch, which is still in development.

`git checkout v2.7-branch`

Or if you want a static 2.7 you should checkout t

[2022-01-19 08:20] rlubos commented on #41822
No no, I've reported the issue because I'm not able to resolve it myself, I shouldn't be assigned to it.

[2022-01-19 08:21] sam131208 commented on #41821
@sylvioalves  It seems can't bootload success.

To Reproduce
Steps to reproduce the behavior:

    1. flash mcuboot. ( https://github.com/mcu-tools/mcuboot/blob/main/docs/readme-espressif.md)
         1) cmake -DCMAKE_TOOLCHAIN_FILE=tools/toolchain-esp32.cmake -DMCUBOOT_TARGET=esp32 -B build -GNinja
         2) cmake --build build/
         3) esptool.py --chip esp32 elf2image --flash_mode dio --f

[2022-01-19 08:49] erwango commented on #41839
@r2r0 I just had a debug session in this use case here are my observations:

- No k_sleep is done anywhere before main is reached
- When going step by step into STM32 IPM HCI driver, the issue disappear > Root cause is around this

I think what we're seeing is normal here, and not a bug.
According to @andyross:

This is actually our case here. Well, this is not a SMP but we do have a second core (

[2022-01-19 08:50] erwango commented on #41686
@rohand87 If the issue is fixed and linked to your configuration, can you close the issue ?

[2022-01-19 08:56] Thalley opened #41946 "Bluetooth: ISO: Sending on RX-only CIS doesn't report error"
**Describe the bug**
If there's a unidirectional CIS connected where Zephyr can receive only, then when calling `bt_iso_chan_send()` we don't receive any errors, and the `sent` callback is called almost immediately.

**To Reproduce**
Use `iso_connected_benchmark` sample to setup a unidirectional CIS (TX-only) on the central and notice no errors when the peripheral sends.

**Expected behavior**
`bt

[2022-01-19 08:57] FRASTM commented on #41818
the  uart_err_check  is mapped to the uart_stm32_err_check that mainly deals with reception.
Maybe clearing the Error Flags also change the RXNE so that LL_USART_IsActiveFlag_RXNE is 0 (no data Rx)
I do not see the recommended "software sequence" in the uart_stm32_err_check as the RM0090 (for stm32F429) mentions : "It is cleared by a software sequence (an read to the USART_SR register followed by

[2022-01-19 08:59] metratec-mkoehler opened #41947 "lpcxpresso55s16 SPI hardware chip select not working"
**Describe the bug**
A clear and concise description of what the bug is.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 - What have you tried to diagnose or workaround this issue?
 - ...

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See

[2022-01-19 09:05] tbursztyka commented on #41665
Please send a patch, sounds like a bug to me.

[2022-01-19 09:59] gmarull opened #41951 "drivers: regulator: pmic: config used as non-const"
**Describe the bug**

These drivers seem to treat device configuration as non-const. For example:

https://github.com/zephyrproject-rtos/zephyr/blob/7dac931e3662eb666cdabc3bf1759a7484249730/drivers/regulator/regulator_pmic.c#L292-L298

**To Reproduce**

1. Don't cast config to non-const (as it should be):
[code]
2. Build a board that uses the driver

**Expected behavior**

Device driver should use

[2022-01-19 10:39] abxy opened #41952 "Log timestamp overflows when using LOGv2"
**Describe the bug**
Log timestamp overflows only minutes after boot when using LOGv2 on v2.7.1.
PR https://github.com/zephyrproject-rtos/zephyr/pull/40508 fixes the problem and has already been merged to main. I think this should be backported to 2.7.

**To Reproduce**
I used the hello_world sample with the following changes:

prj.conf
[code]

main.c
[code]

On a nucleo_wl55jc board with 48 MHz s

[2022-01-19 10:44] henrikbrixandersen commented on #41947
Please edit the template text in this issue to provide more information than just the title.

E.g. how did you reproduce this? How did you conclude it isn't working, etc.

[2022-01-19 10:46] #41925 closed

[2022-01-19 11:08] gmarull opened #41953 "drivers: counter: mcux_ctimer: config used as non-const"
**Describe the bug**

These drivers seem to treat device configuration as non-const. For example:

https://github.com/zephyrproject-rtos/zephyr/blob/7dac931e3662eb666cdabc3bf1759a7484249730/drivers/counter/counter_mcux_ctimer.c#L186-L190

**To Reproduce**

1. Don't cast config to non-const (as it should be):
[code]
2. Build a board that uses the driver

**Expected behavior**

Device driver should

[2022-01-19 11:14] #41686 closed

[2022-01-19 11:15] mengxianglinx commented on #41877
with the latest commit 5598ae85c0e3b29ed, tests/kernel/fatal dose not block twister any more, just failed.
But tests/kernel/tickless/tickless_concept blocks twister like tests/kernel/fatal before.

[2022-01-19 11:24] cvinayak opened #41954 "Bluetooth: Controller: BIS: Event timing calculations"
- Need to study timing requirements related to BIS events
- The requirement here is to come up with calculations to reserve on-air time for BIS event.

[2022-01-19 11:28] cvinayak opened #41955 "Bluetooth: Controller: BIG: Broadcaster encryption support"
- Implement security toolbox functions (2-3 functions)
- Call HAL interface to do encryption
- Includes updating the (host) samples
- Depends on ISOAL TX

[2022-01-19 11:30] cvinayak opened #41956 "Bluetooth: Controller: BIG: Synchronized receiver encryption support"
- Call HAL interface to do decryption
- Includes updating the (host) samples

[2022-01-19 11:33] mengxianglinx commented on #41862
Every time run twister, about a dozen cases failed because of "WARNING:cavs-fw:Load failed? FW_STATUS = 0x80000006", but they are not always the same cases.

[2022-01-19 11:51] hackwerken commented on #41921
Hi @Laczen, thanks for your response.

We indeed do not use the features you mentioned for various reasons. Image signing is the most important for us, which is still intact with the proposed changes. We are also not sure yet if we want to ship a bootloader containing this behavior to end customers.

In any case, it would be nice to be able to optionally enable writing to slot 0 from the bootloade

[2022-01-19 12:26] metratec-mkoehler commented on #41947
Sorry, I did add text and am unsure why it / I switched back to the default description. Will edit soon.

[2022-01-19 12:31] rftafas commented on #41864
Going further: DHCP server is not supported also by Zephyr networking stack, not even for cabled (or the doc misses that, see link below). So, even if AP mode is supported, there will be the need to manually configure all IP addresses which seems messy. If the necessity for AP mode is to configure future IOT devices, I suggest:

-Using Bluetooth
-Use suitable host mode config (tethering, app,...)

[2022-01-19 13:04] FRASTM commented on #38548
Depending on which interrupts are set, among
• Timeout
• Status match
• FIFO threshold
• Transfer complete
• Transfer error
You should see which one is coming after the read procedure

Did you had a look at the the [Errata sheet](https://www.st.com/resource/en/errata_sheet/es0334-stm32f76xxx-and-stm32f77xxx-device-errata-stmicroelectronics.pdf) ?

[2022-01-19 13:18] hjuul commented on #38548
`QUADSPI->SR=0x2026`, so that means BUSY, FTF and TCF flags are set.

I've gone through the erratas but nothing there seems to apply to my case.

[2022-01-19 13:27] RafaelLeeImg opened #41963 "Kernel usage fault when using semaphore with multi-threading"
**Describe the bug**
The kernel enters usage fault condition when release semaphore in I2C driver

This project is a demo project to use LVGL with SSD1306 0.96 inch OLED screen and NUCLEO_F411RE board.

https://github.com/RafaelLeeImg/zephyr_lvgl_nucleo_f411re.git
The gdbscript I use is here
https://github.com/RafaelLeeImg/zephyr_lvgl_nucleo_f411re/blob/main/gdbscript

Please also mention any info

[2022-01-19 13:35] nordic-krch commented on #41915
Working on it.

[2022-01-19 14:12] pabigot commented on #41942
Yes, according to the [documentation](https://docs.zephyrproject.org/latest/reference/kernel/threads/workqueue.html?highlight=delayable%20work#delayable-work) the change you're proposing is correct, though technically unnecessary as long as `work` is the first item in the `k_work_delayable` structure.  Other [existing code](https://github.com/zephyrproject-rtos/zephyr/blob/7dac931e3662eb666cdabc3b

[2022-01-19 14:12] sylvioalves commented on #41836
@LixinGuoX Can we close this?

[2022-01-19 14:13] nashif commented on #40817
@yonsch per TSC minutes, this was approved on Dec 8th, 2021. Was a repo created for the HAL?

[2022-01-19 14:23] npal-cy opened #41970 "Update H4 driver to add support of Low power mode for CYW43xxx"
**Is your enhancement proposal related to a problem? Please describe.**
I am working on developing HCI extension driver for CYW43xxx. One feature which need to be added is Support low power mode for CYW43xx. The current version of H4 does not support this. There are two extra lines BT_DEV_WAKE and BT_HOST_WAKE:
1. BT_DEV_WAKE - Bluetooth device wake-up signal: Signal from the host to the CYW4343X

[2022-01-19 14:30] #41938 closed

[2022-01-19 14:34] tmilkovic51 commented on #15591
@matthew-koch , @k0d Are you still working on this issue? I would like to open a PR with my implementation if you aren't working on yours anymore.

I managed to get the driver working with LVGL sample on STM32H7B3I_DK board. The driver uses HAL library, and supports Kconfig-configurable pixel format and frame buffer location (internal/external SRAM). So far, it only supports blocking writes to fra

[2022-01-19 14:35] k0d commented on #15591
@tmilkovic51 I'm not working on it anymore...feel free to submit your code.

[2022-01-19 14:46] metratec-mkoehler commented on #41947
Done. Have not found an easy to use example but will build a main() code to test if needed.

[2022-01-19 14:49] sylvioalves commented on #41821
@sam131208 I read you are using ESP32 DevkitC. It should have 4MB of flash. It means that `--flash_size 1MB` in both esptool.py commands should be replaced by `--flash_size 4MB`. Can you confirm that?

[2022-01-19 15:25] yonsch commented on #40817
@nashif I couldn't find one, so not yet

[2022-01-19 15:27] yonsch commented on #40817
I also suggest calling the new repo `hal_rpi_pico` (not `hal_raspberrypi`), as discussed in the PR.

[2022-01-19 15:30] carlescufi commented on #40817
Given that there might be additional members of the family not named pico, I would suggest keeping the HAL repo itself `hal_raspberrypi`, as per the vendor and not the series (like hal_nordic or hal_nxp).

[2022-01-19 15:30] carlescufi commented on #40817
Sorry, I was supposed to create this a while back and I did not. I will create it.

[2022-01-19 15:36] voxpelli commented on #40817
The chip itself is called RP2040, whereas the board that Raspberry Pi chips that uses it (+ the SDK) is called Pico. Is it the chip name or the board name that's essential?

[2022-01-19 15:37] carlescufi commented on #40817
@yonsch I think that given that this is actually a GitHub repo we might as well fork it with GitHub and then rename it. You can then add the `zephyr/` folder at the root level.

@voxpelli the original repo is called pico-sdk, so that's the name we're going with.

[2022-01-19 15:45] erikhole opened #41976 "Extra closing bracket in function lsm6dso_handle_interrupt"
**Describe the bug**
On line 207 in file ` zephyr/drivers/sensor/lsm6dso/lsm6dso_trigger.c ` there is an extra closing bracket.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 - What have you tried to diagnose or workaround this issue?
 - ...

**To Reproduce**
Steps to reproduce the behavior:
1. Open ` ze

[2022-01-19 16:00] FRASTM commented on #41339
@andreacampanella  can you please check comment https://github.com/zephyrproject-rtos/zephyr/issues/41818#issuecomment-1016218393  to see if it is linked to your pb ?

[2022-01-19 16:02] ceolin commented on #41839
Hi @erwango, constraints don't prevent the system to goes idle, they prevent the system of suspending, aka going to "deep" sleep.

[2022-01-19 16:10] erwango commented on #41839
Ok, so I think there is nothing that can be done and I'd say there is nothing to fix here.
@r2r0 is it fine with you ?

[2022-01-19 16:25] DerekSnell opened #41979 "Add more GPIO interrupt sources with GINT driver support for LPC5500 family"
The current GPIO driver used for the LPC5500 family and the superset board LPCXpresso55S69 configure pin interrupts using the on-chip peripheral PINT.  The PINT allows up to 8 GPIO pins to trigger interrupts, and each have a different IRQ.  But the PINT is limited to just 8 pins in this family.  The LPC5500 devices also have another GPIO interrupt controller called GINT that enables many more pins

[2022-01-19 16:30] henrikbrixandersen commented on #41976
Please submit a PR.

[2022-01-19 16:46] #23021 closed

[2022-01-19 16:57] carlescufi commented on #40817
https://github.com/zephyrproject-rtos/hal_rpi_pico

[2022-01-19 16:57] #40817 closed

[2022-01-19 17:09] erwango opened #41982 "twister: Test not aborted after board was timed out"
**Describe the bug**
When running twister device testing last night, we've faced a timeout issue that prevented session to end.
Looking to twister log, it appeared that twister detected a timeout, but didn't declared the test failed and kept waiting for the board, indefinitely:

[code]

For similar issue on another board, the test was declared failed and twister attempted to run the next test:
[co

[2022-01-19 17:16] #37616 closed

[2022-01-19 17:26] mbolivar-nordic commented on #39194
Process WG minutes:

- @nashif: GitHub originally supported diffs between versions at the time of Zephyr's switchover from Gerrit to GH. This subsequently changed. The move from Gerrit was also partly due to infrastructure issues with self-hosting the instance in the Linux Foundation.
- @keith-zephyr: reviewable offers desired features, but spams the comment section a whole bunch. Meant more for s

[2022-01-19 17:32] mbolivar-nordic commented on #41616
Process WG minutes:

- @nashif: urgent and was discussed at TSC. E.g. @galak was listed as a GH owner and is currently on sabbatical. We need a checklist for what happens when someone leaves.
- @dleach02 : perhaps a periodic meeting to review ACLs in addition to checklists, along with documentation of what the infrastructure is
- @nashif : backup plans: if something happens to me, I may be a singl

[2022-01-19 17:34] #21010 closed

[2022-01-19 18:26] ceolin commented on #41911
Ohh, I see. I have overlooked the messages, the first call works. Will look it better.

[2022-01-19 18:46] andyross commented on #41943
Gah.  **Please** don't use fw_loader.py.  That tooling is ancient.  The official loaders have been the cavs-fw-*.py scripts for months now, which have now been unified (in #41828) as a "cavstool.py" that does both loading and trace output.

Load with cavs-fw-*.py.  Read logs with adsplog.py.  Use both from the same directory in which you are building your firmware.  If the directions for test inte

[2022-01-19 18:48] #6082 closed

[2022-01-19 18:53] andyross commented on #41862
Again, that's known behavior.  One test hangs the DSP and causes spurious failures on other tests.

The test rig needs to be robust enough to be able to retry tests after a reboot to figure out.  If there are tests that reliably hang the DSP (one was discovered yesterday) we need to know what they are.  It's not enough to just run twister and walk away. You need to help us isolate failing test cas

[2022-01-19 18:55] andyross commented on #41862
Here are some more specific suggestions:

1. Always inspect the logs after a failure like this to find the first case that failed.  Add that to a list of suspected "DSP hang tests"
2. Validate the test with several manual runs to make sure you can see it fail using west/cavs-fw*.py/adsplog.py.
3. Submit a github bug for that one test.  Mention that it doesn't just fail but hangs the device.
4. Fil

[2022-01-19 19:35] erwango commented on #41839
Reopening as https://github.com/zephyrproject-rtos/zephyr/pull/41935 doesn't solve issue reported.
Though, I think that there is no issue to be solved.
Waiting @r2r0 to confirm.

[2022-01-19 20:07] RafaelLeeImg commented on #41963
The problem is located in
In error conditions
The error is triggered under this line, before this line, the value of r0 is already wrong.

[code]

[2022-01-19 20:10] #41877 closed

[2022-01-19 20:57] ceolin commented on #41839
yep. I had removed the linkage between the pr and the issue, also removed the "fixes" from the commit message, but somehow the issue was automatically closed

[2022-01-20 00:29] #39808 closed

[2022-01-20 03:00] sam131208 commented on #41821
@sylvioalves  Thanks! you are right, the flash_size is flash chip size, not the image size. Now bootloader work fine.

[2022-01-20 03:00] #41821 closed

[2022-01-20 03:56] huarunlin commented on #41864
@rftafas Thanks,  looking forward to support in future updates

[2022-01-20 06:25] mengxianglinx opened #41989 "tests: kernel: tickless: ADSP stalls after firmware downloaded on Up Xtreme"
**Describe the bug**
Test cases in tests/kernel/tickless/tickless_concept can stall the ADSP after firmware downloaded by cavs-fw-v25.py and can't be reset unless reboot. twister will be blocked at this point in daily testing.

 - Platform: ADSP on Up Xtreme

**To Reproduce**
Steps to reproduce the behavior:
1. cavsload.sh:
[code]
2.
3.  run twister several times: twister -p intel_adsp_cavs25 --de

[2022-01-20 06:53] mengxianglinx commented on #41989
This issue is observed when run "twister -p intel_adsp_cavs25 --device-testing --device-serial-pty=/path/to/cavsload.sh --west-flash=/path/to/cavsload.sh -T tests/" , "tests/kernel/tickless/tickless_concept/ " and "tests/kernel/obj_tracking/" are the last two cases.
Only run "tests/kernel/tickless/tickless_concept/"  will not cause this issue.
When this case blocks twister, cavs-fw-v25.py output l

[2022-01-20 07:14] mengxianglinx commented on #41862
"One test hangs the DSP and causes spurious failures on other tests" has been reported in #41877, it is closed. Another case with the same symptom is reported to #41989.
Failed test cases listed here do not cause following cases failed or cause DSP hang.

[2022-01-20 07:18] r2r0 commented on #41839
Ok, it is clear now to me that system behaior is correct. Thanks a lot for fast proceeding.
I wonder if it should be somehow documented - mainly in context of PM notifiers.
I.e. what is the lowest system initialization level/priority when PM notifiers can be called.
User hooks usually will need some context initialization and it will help users to know when it should be done.

[2022-01-20 07:51] LixinGuoX opened #41991 "Intel_adsp_cavs18: some test cases can not get any log"
**Describe the bug**
For some specific test cases, binary image can be downloaded to ADSP, but there is no output can be caught by adsplog.py, so those test cases failed with "timeout"
Both twister and west can get the same error.

**To Reproduce**
Steps to reproduce the behavior:
1. west build and sign the rimage
2. use cavs-fw-v15.py to download the image
3. use adsplog.py to get log

OR:
use tw

[2022-01-20 08:03] brgl commented on #41804
@carlescufi I thought we did agree that this is the right way to go but also that we'll merge the PR as is and then figure out how to put the Kconfig back into the lvgl repo (and do the same for other modules) after that in order not to block a significant feature?

[2022-01-20 08:13] LixinGuoX opened #41992 "Intel_adsp_cavs18: tests/kernel/smp_boot_delay: failed to run case"
**Describe the bug**
tests/kernel/smp_boot_delay failed to run on intel_adsp_cavs18
Both twister and west can get the same error.

**To Reproduce**
Steps to reproduce the behavior:
1. west build and sign the rimage
2. use cavs-fw-v15.py to download the image
3. use adsplog.py to get log

OR:
use twister command:
`twister -p intel_adsp_cavs18 --device-testing -T tests/kernel/smp_boot_delay/ --west-

[2022-01-20 08:25] LixinGuoX opened #41993 "Intel_adsp_cavs18: test cases can not get complete log"
**Describe the bug**
For test cases, binary image can be downloaded to ADSP, and there is some output can be caught by adsplog.py, but the log is not complete.

**To Reproduce**
Steps to reproduce the behavior:
use twister command:
`twister -p intel_adsp_cavs18 --device-testing -T tests/ --west-flash="/home/ztest/zephyrproject/UP_WHL/tools/flash18.sh" --device-serial-pty="/home/ztest/zephyrproject

[2022-01-20 08:47] anangl commented on #21826
`nrfx_clock_divider_set()` [calls `SystemCoreClockUpdate()`](https://github.com/zephyrproject-rtos/hal_nordic/blob/a42b016d7c7610489f5f8c79773fedc05ba352ee/nrfx/drivers/src/nrfx_clock.c#L519), so Zephyr is actually aware of the change. And I am not sure what "timer issues" you mean. The TIMER peripherals are driven by a peripheral clock that is not affected by the change of the core clock divider

[2022-01-20 09:25] koffes commented on #21826
I see now that just 14 days after I opened this issue, you added the SystemCoreClockUpdate() @anangl :)

So, I take it as Zephyr is aware of the change, or rather does not need to be aware of the change, we can alter between 64 and 128 MHz whenever we want?
The "timer issues" was a concern from my side, as we originally did a call directly to nrfx without Zephyr knowing that any change had been ma

[2022-01-20 09:40] WealianLiao opened #41995 "tracing: riscv: Missing invoking the sys_trace_isr_exit()"
**Describe the bug**
RISCV core doesn't invoke the sys_trace_isr_exit() for tracing system.

**To Reproduce**
Apply PR:41863 &
[code]
or
[code]

**Expected behavior**
In the report log, the ISR counter should not increase.

**Impact**
Can't trace ISR leave for RISCV.

[2022-01-20 09:42] WealianLiao commented on #41995
This probably works but I don't have real the RISCV platform to check.
[code]

[2022-01-20 09:49] kruithofa commented on #41823
It would be good to have some (unit) tests for this behaviour

[2022-01-20 10:09] anangl commented on #21826
Yes, but it [calls `nrfx_coredep_delay_us()`](https://github.com/zephyrproject-rtos/zephyr/blob/f08c44def5fc56f7724664acc6b2e2291911f457/soc/arm/nordic_nrf/nrf53/soc.c#L126) that [takes `SystemCoreClock` into account](https://github.com/zephyrproject-rtos/hal_nordic/blob/a42b016d7c7610489f5f8c79773fedc05ba352ee/nrfx/soc/nrfx_coredep.h#L71), so the delay time will be almost the same (only the overh

[2022-01-20 10:14] enjiamai commented on #41943
It really helps. @andyross . This was not enabled by me so I were not aware of that. According to your suggestion I try to trim the twister running from fw_loader.py to cavs-fw-*.py with minor change in adsplog.py. Now I can get 96.77% test pass rate on Up_squared ADSP. Next step I will try the new tool "cavstool.py" with twister. Thanks for the comment.

So this cavstool.py is aim to fit for all

[2022-01-20 10:16] nordic-krch commented on #21826
@anangl right, i missed that it takes `SystemCoreClock` for delay calculation.

[2022-01-20 10:20] koffes commented on #21826
FYI: @alexsven.

I will close this issue as no one seems to see any issue with this.

[2022-01-20 10:20] #21826 closed

[2022-01-20 10:26] petterssonandreas opened #41996 "LWM2M writing too long strings trigger post_write_cb with previously written value"
**Describe the bug**
You get no error or warning if you try to write a too long string from a LWM2M server, instead the code will silently use the last written value (that had a good length), and trigger post_write_cb and the like with that value, effectily making it look like you wrote the same value once again.

**To Reproduce**
We can define an IPSO object with a field of type String, and set i

[2022-01-20 10:32] RafaelLeeImg commented on #41963
Under error condition, the r2 points to an non_exist position, with address 0x1000xxxx which is not valid.
The r2 meant to be _kernel.cpu.current.
west/zephyr/arch/arm/core/aarch32/swap_helper.S
[code]

[2022-01-20 10:45] FRASTM commented on #39888
Is there something more to have the hid api working ? I got this error:
[code]

[2022-01-20 10:59] gmarull commented on #27095
I think it is safe to close this now. If Zephyr users find an issue or are concerned about LVGL memory usage, they should report it to the project itself. We can't do anything about that here.

[2022-01-20 10:59] #27095 closed

[2022-01-20 11:40] rlubos commented on #41608
@rerickson1 I've submitted a fix proposal in https://github.com/zephyrproject-rtos/zephyr/pull/41997.

After comparing the logic within lwm2m engine with the spec, I've decided to go rather straightforward with the fix - i.e. only compare attribute values if both are set at the given level (the spec goes even further and says only to compare attributes provided in a single message). Additional san

[2022-01-20 12:21] de-nordic opened #41998 "fs/lfs: Custom configuration per LFS instance"
**Is your enhancement proposal related to a problem? Please describe.**
There might be more than one LFS instance mounted on different devices, including block type device and ordinary flash devices, yet there is single set of Kconfig options that affects many aspects of internal behavior of instance.
This makes it hard to tune LFS for each device.
There is also single cache for file buffers and s

[2022-01-20 12:40] bearsh commented on #39888
(I assume you're on linux)
- after writing the udev rule, did you either reconnect the board or call `sudo udevadm control --reload-rules`?
- do you have the same vid/pid in your project? `lsusb` (wenn connected) or `journalctl --follow -k` while connecting may help

[2022-01-20 12:56] darexa opened #42000 "BQ274xx driver not working correctly"
**Describe the bug**
There is a timing issue with the BQ274xx driver.
Unfortunately timings are poorly documented for the device so I'm unsure about the proper fix but I've gotten it to work at least.

**To Reproduce**
Build the driver using STM32L452 running at 80MHz.
Since this seems to be timing related it might or might not work with other modules/speeds etc.

**Expected behavior**
There is a

[2022-01-20 13:22] #41792 closed

[2022-01-20 13:52] FRASTM commented on #39888
Thx, That's better now.  "Bus 004 Device 018: ID 2fe3:0006 ZEPHYR Zephyr HID sample"

My  zephyrproject-rtos /hal_stm32  is on the main top branch [9153102](https://github.com/zephyrproject-rtos/hal_stm32/commit/91531028be0bfa554ae1dd9e2b5d3ed6fd7287c3)
(stm32l4xx  in V1.17.0) and my target board is nucleo_l4r5zi (zephyr OS e8df8a579033be238beb774e4909d637da649f3a) running samples/subsys/usb/hid

[2022-01-20 14:59] jakkra opened #42005 "Saturated BLE IQ sample information lost in 16->8 bit convertion"
**Describe the bug**
[Here](https://github.com/zephyrproject-rtos/zephyr/blob/9c638f727d7bd70c77db8569a94f5015ccbacec9/subsys/bluetooth/controller/hci/hci.c#L2849) a conversion of I and Q samples from 12 bits to 8 bits is made. According to [NRF DF](https://infocenter.nordicsemi.com/index.jsp?topic=%2Fps_nrf5340%2Fradio.html&anchor=concept_dfe_iq_sampling) out of range / saturated values are set t

[2022-01-20 15:24] danieldegrasse commented on #36766
@dleach02 The RT1170 was switched over to the GPT as a clock source by #39449, so the issue with the frequency of systick shouldn't be present anymore. The test is passing on my RT1170 EVK now. I think we can close this issue if you are alright with that.

[2022-01-20 15:46] dleach02 commented on #36766
@hakehuang, can you confirm if this is still an open issue in your test range?

[2022-01-20 15:57] #40189 closed

[2022-01-20 15:59] andyross commented on #41943
Yes, cavstool will be a single tool for all hardware use cases.  Once it merges I promise to remove all the old scripts and rewrite the docs.

[2022-01-20 16:09] andyross commented on #41039
Looking at this for the first time.  I'm sorry, I don't understand what you want Zephyr to do here?  We took an exception, it got preempted by an interrupt that Zephyr doesn't manage and landed in a handler with code written by the application.

How does Zephyr prevent the application code from breaking Zephyr state?  You need to write your custom interrupt handlers to be safe when they preempt im

[2022-01-20 16:10] andyross commented on #40942
This should be fixed now that the ZSR feature merged, actually.  It automatically detects the highest non-debug interrupt level to use for the OS EPCx/EPSx registers.  Can you verify and close?

[2022-01-20 16:15] andyross commented on #40974
This is the same comment from a different bug:  That's not a Zephyr interrupt.  It's not a Zephyr handler.  If you want to interrupt the OS at arbitrary times with an interrupt that it does not mask, you need to write a safe handler for that interrupt.

I don't know what you want the OS to do for you?

[2022-01-20 16:20] bearsh commented on #39888
strange, so the difference between your and my setup is the zephyr version and the used mcu. just to be sure, I can try again with the zephyr version you used.

may it also be some difference/errata/whatever in the mcu?

[2022-01-20 16:20] andyross commented on #40620
Where can I find the soc/board definition for ls_adsp_csk6?  This seems likely to be a problem in the platform layer.  Who did the integration?

[2022-01-20 16:33] andyross commented on #39821
Agreed, false positive.

[2022-01-20 16:33] #39821 closed

[2022-01-20 16:42] gmarull commented on #42000
Can you please submit a PR with a fix?

[2022-01-20 17:30] FRASTM commented on #39888
One difference is stm32L422 has USB FS interface and stm32L4+ has USB OTG

[2022-01-20 18:05] brgl commented on #41804
@carlescufi I clarified what needs doing during the dev-review meeting. I'm closing this as it's no longer needed.

[2022-01-20 18:05] #41804 closed

[2022-01-20 18:22] enjiamai commented on #41317
Verified this can be closed after #41283 merged.

[2022-01-20 18:22] #41317 closed

[2022-01-20 18:42] #41012 closed

[2022-01-20 18:44] enjiamai opened #42010 "intel_adsp_cavs18: Test cases failed on SMP related test cases (when CONFIG_MP_NUM_CPUS > 1)"
**Describe the bug**
Many test suites failed in intel_adsp_cavs18 hardware board, this issue is likely to be SMP related:

tests/kernel/smp/ (no output)
tests/kernel/spinlock/ (no output)
tests/kernel/mp/ (no output)
tests/kernel/workq/work/ (no output, but with -DCONFIG_MP_NUM_CPUS=1 only test_smp_simple_queue, test_1cpu_sync_queue, test_smp_running_cancel)

And bellow test suites failed without

[2022-01-20 18:51] andyross commented on #42010
I don't have this hardware currently, so I'm going to take myself off as assignee while we find someone else to look at this.  Most likely this is a kconfig mistake or accidental regression with recent work.  The MP mechanisms here are almost the same as 1.5 and 2.5.  And IIRC SOF has 1.8 zephyr multiprocessor setups that don't seem to be failing.

[2022-01-20 19:11] nashif opened #42011 "Establish guidelines for TSC working groups"
Establish and document guidelines for each TSC Working group:
- Define Criteria for creating a new group
- Define process for electing/assigning a chairperson
- Define charter for each TSC WG
- How discussions and recommendations are documented and where they are archived
- When does a WG need to report back to the TSC about progress
- Escalation path to the TSC and when discussions are moved to t

[2022-01-20 19:12] nashif commented on #42011
@mbolivar-nordic  FYI

[2022-01-20 19:40] #41945 closed

[2022-01-20 20:40] caspermeijn opened #42015 "LED api can't be called from devicetree phandle"
**Describe the bug**
The `led.h` api requires a `device *` and `uint32_t led`. If you have a phandle to a led node, you can get the device via `DT_PARENT`, but the led number is unavailable.

**To Reproduce**
Devicetree dts:
[code]

`main.c`:
[code]

kconfig:
[code]

**Expected behavior**
I expect a way to find the led number for a phandle.

**Impact**
The workaround is to use the led as a gpio. T

[2022-01-20 21:19] dleach02 commented on #39832
Coverity is warning that IF the data pointer in the transfer structure is not pointing to an array of 32bit containers that you could end up with an overwrite because the underlying function is rounding up the dataSize value to a 4 byte value. But in this case, it isn't a problem.

[2022-01-20 21:19] #39832 closed

[2022-01-20 22:25] marc-hb commented on #41943
In the mean time adding a one-line warning "this tool is deprecated, use this other one" would likely save a lot of time. @enjiamai could you shared your new and hard learned knowledge and add these warnings?

cc: @keqiaozhang

[2022-01-20 22:28] henrikbrixandersen commented on #42015
`compatible = "gpio-leds"` is just a GPIO, not a LED device. Using it as a GPIO is not a workaround, it the intention.

[2022-01-20 23:21] danieldegrasse commented on #40638
@ottojo I can reproduce the error on a RT1064 EVK building the "echo_server" sample with the following command:
`west build -p always -b mimxrt1064_evk samples/net/sockets/echo_server -DOVERLAY_CONFIG=overlay-netusb.conf -DCONFIG_ETH_MCUX=n -DCONFIG_ASSERT=y`. On my board, #42019 fixes the issue (per @jfischer-no's suggestion of offloading the ISR to a thread) can you verify that branch works for

[2022-01-21 00:32] mbolivar-nordic commented on #42011
We can take this in the process WG, but I guess the outcome is something that we will need to take to the TSC for approval, right? Otherwise we'd be putting the cart before the horse a bit, since process WG is itself a TSC working group.

[2022-01-21 01:33] LixinGuoX commented on #41991
This issue is reported in more detail and have assignee in #42010 , so close this issue, we should focus on this one #42010

[2022-01-21 01:33] #41991 closed

[2022-01-21 02:08] bawanqin1987 commented on #40620
The existing zephyr only supports LX6 platform, I wonder if LX7 support?  Because lX7 and LX6 hiFI DSP start the assembly instructions are not quite the same ,I don't know if it matters!
ls_adsp_csk6 is my new add arch.

[2022-01-21 02:24] hongshui3000 commented on #41039
I can understand what you're saying,
1. the issue is that people porting xtensa arch or people using xtensa may encounter this problem.
2. This should be classified as a problem with xtensa arch. If the code implementing high priority interrupts will need to call the underlying code of the current architecture (such as thread switching, etc.), if every ordinary user using high priority calls the u

[2022-01-21 02:45] #36766 closed

[2022-01-21 03:22] hongshui3000 commented on #40946
@andyross
NEST processing I only see in the assembly code below, but what I see is that he can not enter the thread switch program when the interrupt nest returns

In any case he will call the function "xtensa_int##l##_c", and then call z_get_next_switch_handle

Am I understanding it wrong?

[code]

[code]
Can you point me to where the code you're talking about is here?

[2022-01-21 03:24] hongshui3000 commented on #40942
Thanks ,
I will verify it

[2022-01-21 03:47] hongshui3000 commented on #40974
These are the xtensa arch code, it exists in zephyr, I think it should be reusable by most of the xtensa architecture, so I think this should be part of the zephyrrtos xtensa architecture. Of course I can change and PR

[2022-01-21 04:42] hongshui3000 commented on #40620
@bawanqin1987
Please don't turn on your high priority interrupt routine, it will cause weird errors. (If your architecture has high-priority interrupts, such as the timer timer inside the architecture, it is a high-priority interrupt, and the xtensa initialization code will not block these interrupts)

[2022-01-21 06:02] caspermeijn commented on #42015
@henrikbrixandersen There is a LED driver for `gpio-leds`. You need to enable `CONFIG_LED_GPIO`. Then https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/led/led_gpio.c will convert the `compatible = "gpio-leds"` devices to LED devices. From then on you could use the code example. I will add the kconfig options to the example.

[2022-01-21 07:57] lairdjm commented on #41597
@carlescufi can anyone at nordic answer the above query on this bug?

[2022-01-21 08:08] titusece opened #42024 "unrecognized argument in option '-mabi=lp64'"
**Describe the bug**
Trying to build zephyr in Windows10 and getting 'unrecognized argument in option '-mabi=lp64'' error.

west.exe build -p auto -b intel_socfpga_agilex_socdk samples\hello_world
west.exe build -p auto -b qemu_x86 samples\hello_world

gnuarmemb

C:\gnu_arm_embedded

https://docs.zephyrproject.org/latest/getting_started/index.html#install-dependencies

`C:\Users\titus\zephyrprojec

[2022-01-21 08:29] ycsin commented on #41683
I think this [line](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/lib/http/http_client.c#L268) might be the root of confusion?

I reckon that it is reasonable for a user of the `http_client` to expect that the `body_start` pointer always points to the address of the body, whenever there's body in the http response, but instead the `body_start` is pointed to the body only when t

[2022-01-21 08:40] optical-o commented on #34554
Issues are:

1. settings_file opens and closes file for each writen value. It does not utilizes csi_save_start and csi_save_end
2. settings_file each time it writes a value seek till the end of file, little fs flushes write operation on seek.

[2022-01-21 08:44] rlubos commented on #41683
@ycsin I agree with you, I was actually investigating this issue yesterday, and concluded that the `body_start` pointer should be set  unconditionally, regardless of the position in the buffer, otherwise the behaviour is unreliable. I'll post a PR shortly.

[2022-01-21 08:46] wolterhv commented on #40378
Aren't these already defined in `subsys/bluetooth/controller/ll_sw/pdu.h` as `PDU_ACCESS_ADDR_SIZE` and `PDU_CRC_SIZE`?

Excerpt of `pdu.h`:

[code]

If so, I'm happy to take care of this one as my first issue.

[2022-01-21 09:04] Laczen commented on #34554
@optical-o, could you create a PR with the proposed changes ?

How do you guarantee that after a settings_save has been succesfully performed that a reboot contains the updated values ?

[2022-01-21 09:15] optical-o commented on #34554
The csi_save_end will close the file and flush the value. When settings_save finishes then the values will be in the flash.

If the reboot occurs during function call of settings_save before the csi_save_end is save the data will be lost.
However, i think that is intended behavior, isn't it ?

[2022-01-21 09:38] erwango opened #42030 "can: "bosch,m-can-base": Warning "missing or empty reg/ranges property""
**Describe the bug**
When building (any application) one of the boards that include can node with compatible "bosch,m-can-base",
the following warning is generated:
[code]

**To Reproduce**
`west build -b nucleo_h723zg samples/hello_world`

**Expected behavior**
No warning generated

**Impact**
Annoyance

[2022-01-21 09:40] FRASTM commented on #40657
One Proposal is to create a second _dts/bindings/pwm/st,stm32-pwm-n.yaml_  beside the st,stm32-pwm.yaml
Then for timers which have "N" channels, two pwm nodes are created in the DTS on the timer instance. Both pwm and pwm-n have the same model.
Example for Timer 1 of the stm32f303.dtsi:
[code]

The boards enables the timer 1 pwm channels 1
[code]

[2022-01-21 09:43] henrikbrixandersen commented on #42030
Agreed. We need to look into reworking the current hierarchy of Bosch M_CAN devicetree bindings (e.g. for STM32, we have `compatible = "bosch,m-can-base"` nodes with `compatible = "st,stm32-fdcan"` children, which is kind of weird).

[2022-01-21 10:01] kyrreaa opened #42031 "Ringbuffer used in CDC_ACM seems to corrupt data if completely filled during transfer"
**Describe the bug**
Trying to maximize throughput in CDC_ACM by monitoring space in ringbuffer and pushing more data in with uart_fifo_fill() whenever there is enough room for another block read from source appears to corrupt data. Running a ACM ringbuffer of 24576 and a write block size of 8192 (1/3) with double or even quad buffering appears to corrupt.
Waiting for space 8192+1 is ok.

**To Rep

[2022-01-21 10:18] rlubos commented on #41787
Both `buf.key`and `unique_key` are `uint8_t` arrays, I don't think the compiler should make any assumptions regarding alignment here, it seems more like a very low-level problem, not a networking one.

@carlescufi Who could look into the issue from the toolchain/architecture perspective, I don't think I'm the right assignee here.

[2022-01-21 11:56] rlubos commented on #39096
Hmm, that would still require the application to join the mcast group manually once, since if the interface is not up at boot it wouldn't be marked as joined? At least that's the impression I've got when I was inspecting the IGMP code.

I'm wondering if this could still be automated somehow. Perhaps the networking modules that are interested in registering multicast IPv4 addresses (LLMNR, mDNS) co

[2022-01-21 13:04] #41140 closed

[2022-01-21 13:11] enjiamai commented on #41861
Sorry, I think it should be medium bug because it is not a blocker for zephyr mainline

[2022-01-21 13:25] jukkar commented on #39096
Sure, that sounds like a good idea. Indeed, the is_joined flag should be cleared when the interface goes down.

[2022-01-21 13:33] mengxianglinx commented on #41862
If download firmware failed, re-download it will most likely success. refine cavsload.sh like:
[code]
in cavs-fw-v25.py, add
[code]
under line
[code]
these modification make the pass rate rise to 90%

[2022-01-21 13:48] mengxianglinx commented on #41861
normally twister call adsplog.py before cavs-fw-v25.py, if call adsplog.py immediately after cavs-fw-v25.py, with the modification described at https://github.com/zephyrproject-rtos/zephyr/issues/41862#issuecomment-1018509021, most of failed cases will pass

[2022-01-21 14:03] teburd commented on #41861
This is fixed with #42022 as far as I can tell, please check

[2022-01-21 14:36] #41890 closed

[2022-01-21 14:57] jfischer-no commented on #41921
What you describe is how samples/subsys/usb/dfu works, your application does not have to be like that, you can also use USB DFU class from/with bootloader only (what is obvious). IRRC there is example code in MCUboot (where MCUboot is just a Zephyr OS application) itself how to trigger update, e.g. using button or just timeout.

Is not CONFIG_SINGLE_APPLICATION_SLOT what you are looking for?

[2022-01-21 15:06] trembel commented on #28499
Experiencing the same issue.. When will this be fixed?

[2022-01-21 15:08] sigurdnev commented on #28499
Try setting CONFIG_GPIO_NRF_INT_EDGE_USING_SENSE=y

[2022-01-21 15:13] sylvioalves commented on #41836
Closing. Re-open if needed.

[2022-01-21 15:13] #41836 closed

[2022-01-21 15:14] RafaelLeeImg commented on #41963
In fault condition, r0 holds an address of non-writable address or some address for peripherials like 0xE000ED00, when trying to write the address of $r0, usage fault is triggered.
[code]

[2022-01-21 15:16] sylvioalves commented on #41707
Closing this as there is another issue opened: https://github.com/zephyrproject-rtos/zephyr/issues/38978
This is WIP. Custom toolchain to be release soon.

[2022-01-21 15:16] #41707 closed

[2022-01-21 15:19] anangl commented on #28499
This option is no longer available. It has been replaced by the [sense-edge-mask property in "nordic,nrf-gpio" compatible nodes](https://github.com/zephyrproject-rtos/zephyr/blob/cbd93a819854c3c8c7410ac2ab99fd42108b2630/dts/bindings/gpio/nordic%2Cnrf-gpio.yaml#L20-L25).

[2022-01-21 15:20] anangl commented on #28499
Addressed in #31823 and #41288.

[2022-01-21 15:20] #28499 closed

[2022-01-21 15:37] hackwerken commented on #41921
Hi @jfischer-no, thank you for your suggestions.

You are right, the Zephyr Mcuboot port has a recovery option using USB DFU. As you mentioned this requires a button or some kind of other trigger to stay in the bootloader. This works great on the NRF52480 DK. But, apart from requiring extra user input, this also requires a spare button. Unfortunately our product only has one button to turn it on/o

[2022-01-21 16:03] jfischer-no commented on #42031
@kyrreaa Can you please provide minimal changes to reproduce it?

[2022-01-21 16:04] Thalley opened #42048 "Add subtree name for settings"
**Is your enhancement proposal related to a problem? Please describe.**
The API to store something in settings is something like (from https://docs.zephyrproject.org/latest/reference/settings/index.html#example-persist-runtime-state)
[code]
but to extract it a handler is required like
[code]
which has a `.name` field for the "subtree", and then to compare the setting name value something like
[cod

[2022-01-21 16:07] Laczen commented on #41921
@hackwerken, it would be good if there would be a zephyr application that fully supports usb-dfu. As far as I understand usb-dfu this application should:
a. Allow moving from usb-run to usb-dfu,
b. Remain in usb-dfu during the upload,
c. Reboot and upgrade (if using image0 and image1 solution),
d. After the upgrade restart in usb-dfu to allow the manifestation (that should include image validation

[2022-01-21 16:20] hackwerken commented on #41921
@Laczen right!

With D, do you mean to 'confirm' the image (in mcuboot terms)?

That is a good point. Because C and D seem to be the missing pieces of the puzzle.

I'll look more into the manifestation phase next week.

[2022-01-21 16:31] #41608 closed

[2022-01-21 16:31] #41683 closed

[2022-01-21 16:33] cwshu commented on #39924
@atshinbo-etrinity
Thanks for you investigation. I found same bug in QEMU, so I fixed this issue in the 2nd part of commit 5fc5bea.

`no_reschedule` will change the stack at the end of ISR, but `no_reschedule_resched` won't.
The back-to-back interrupt checking is in the `reschedule` so that it should goto `no_reschedule_resched` instead of `no_reschedule`.

p.s.
- `no_reschedule` use IRQ stack so

[2022-01-21 16:47] jeback1 opened #42050 "printk bug: A function called from printk is invoked three times given certain configuration variables"
**Describe the bug**
Calling a function from a printk statement invokes the function three times.

This depends on having both of these two configuration variables set true:
[code]

**To Reproduce**
Steps to reproduce the behavior:
prj.conf:
[code]
main.c:
[code]
build:
[code]
output:
[code]
**Expected behavior**
I expect the function to be invoked only once. This is the case with either CONFIG_LO

[2022-01-21 17:15] Laczen commented on #41921
Yes, by D I mean the image confirmation. You could however also not do the confirmation in the manifestation but to assign a special dfu location where you would write "OK" to in order to validate the image. The running image could be asked to go to dfu mode, allow only upgrades if the image is confirmed, and allow writing to the special "OK" location.

[2022-01-21 17:45] r2r0 commented on #41422
@andyross Any chance to look at this - at first glance it looks as simple CLAMP parameter bug (upper bounding is less than lower bounding).

[2022-01-21 17:55] youssefchei-xite commented on #41933
Hi @nandojve
I'm using the version provided by **nRF Connect SDK**  v1.7.0 [https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/gs_installing.html].
After integrating the modification from commit #37854, it works and I could do the OTA update.

Now, I want to test updatehub with DTLS, so, I have enabled the DTLS using **overlay-modem.conf** and **overlay-dtls.conf**. This Time I got TL

[2022-01-21 18:17] #41503 closed

[2022-01-21 19:01] kyrreaa commented on #42031
I will try again, but currently issue is the cdc_acm example does not build for nrf53 target (the image preparation fails after all build stages are ok) fails in their SDK.

[2022-01-21 19:55] Laczen commented on #42048
@Thalley, the reason settings doesn't work like this is that the set handler can operate on an entire different level compared to the save. This makes that you can have one handler for all `bt` related data, and this one handler can then call different set routines based on the rest of the name.

I don't quite get why the present solution does not support macro's very well. It is just needed to in

[2022-01-21 20:28] #41943 closed

[2022-01-21 20:29] #40235 closed

[2022-01-21 20:45] marc-hb commented on #41943
@nashif or @andyross  or @teburd  can you please share a pointer to some PR? I see only links to items still opened or closed without merge above.

[2022-01-21 21:46] dcpleung commented on #41736
xc-x++ doesn't support C++11 so you will need to set `CONFIG_STD_CPP98=y` and `CONFIG_STD_CPP11=n` (basically enabling C++98 and disabling C++11).

[2022-01-21 21:53] wolterhv commented on #40375
@cvinayak I see that the pull request, which you referenced as the solution to this issue in the issue description, is merged. Is this issue still open in spite of that?

[2022-01-21 22:02] wolterhv commented on #21155
So, to solve this issue, we need to be able to test it (at least)

- on a MCU from the Atmel SAM family which supports ethernet and I2S and
- on a MCU from the STM32 family which supports I2S.

It seems to me however that this would be a final validation test. In the meantime, I don't see why the replacement of the ring buffer couldn't be unit tested to verify functional equivalence with the curre

[2022-01-21 22:15] andyross opened #42061 "obj_tracking hangs system on intel_adsp_cavs25"
The tests/kernel/obj_tracking test hangs the host system solid on cAVS 2.5.

This isn't a failure in the test, it's some kind of problem with the generated file.  If I disable CONFIG_LOG, it actually passes. But I can then instrument the boot to watch it during ROM handoff long, long before we get anywhere kernel initialization, and then re-enable logging, and it still hangs.

It might be a linker

[2022-01-21 22:16] andyross commented on #41862
Going to close this.  We have multiple people reporting 100% success in test runs (with the exception of one case that had to be excluded, see #42061).

[2022-01-21 22:50] andyross commented on #41943
Yeah, things were moving pretty quickly today.  https://github.com/zephyrproject-rtos/zephyr/pull/42020 is the PR with the scripting changes.  Also one merged with some test-specific fixups, and @teburd had one that adjusted the global filtering rules for the cavs platforms to expand the test set.

[2022-01-21 23:34] teburd commented on #41993
@LixinGuoX can you please reverify with the updated cavstwist.sh script @andyross wrote as I think that would fix this particular issue

[2022-01-21 23:38] teburd commented on #41943
#42055 I expanded the tests being run on cavs25 and fixed a minor test filtering issue

[2022-01-22 00:36] andyross commented on #41861
Rename to use a clear platform name.  Though I did it wrong the first time :)

[2022-01-22 00:44] andyross commented on #42010
Indeed, secondary core startup wasn't working (but amusingly in a way that SOF was insulated from by an existing workaround, so they never noticed).  Fix up at https://github.com/zephyrproject-rtos/zephyr/pull/42063 should unblock things.  I haven't done a full twister run yet though.

[2022-01-22 01:04] kbrunham-intel commented on #17743
I still see this issue when using the SiFive GNU Embedded Toolchain v2020.12.8 and release v2.7.1. Please reopen this issue.

[2022-01-22 01:45] carlst opened #42065 "Bluetooth Controller: scan aux setup not checking extended header length of received packet"
**Describe the bug**
Extended Header Length of received BLE packet is not checked before reading Extended Header field in `subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan_aux.c`, `lll_scan_aux_setup()`

Extended Header field (including Extended Header Flags) is therefore invalid and should not be used here.

**To Reproduce**
Steps to reproduce the behavior:
1. Use 2 nRF52840DK boards
2. Add

[2022-01-22 06:31] mengxianglinx commented on #41861
with the latest cavstwist.sh, these test cases all passed. close it.

[2022-01-22 06:31] #41861 closed

[2022-01-22 07:18] mengxianglinx commented on #41989
With the latest cavstool.py, this kind of failure will no happen again. Close it.

[2022-01-22 07:18] #41989 closed

[2022-01-22 10:26] jfischer-no opened #42066 "Planned USB device/host support rework/enhancements for 2022"
## Introduction

Currently we have only USB device support in Zephyr OS. Existing USB device support has many disadvantages and issues, like missing support for multiple driver instances, no endpoint (request) buffers management, missing class instances management and possibility to configure/enable class instance at runtime, not a good notification channel to the user/application, messy callback

[2022-01-22 10:26] jfischer-no commented on #26935
Close in favor of #42066

[2022-01-22 10:26] #26935 closed

[2022-01-22 14:01] erikhole commented on #41976
There was a bug in our local repo, and when checking the zephyr sdk I wasn't thorough enough.

[2022-01-22 14:01] #41976 closed

[2022-01-22 21:00] WilliamRoyle commented on #41836
Sylvio,

Thank you so much for your help with this. Unfortunately, I won't be able to test - long story Glad that this is cleared up in the code base.

[2022-01-22 21:56] #39868 closed

[2022-01-22 21:56] #39874 closed

[2022-01-23 00:28] #39943 closed

[2022-01-23 01:47] rocky134 commented on #40578
I would like this issue to stay open

[2022-01-23 10:40] manoj153 commented on #25907
https://github.com/zephyrproject-rtos/zephyr/pull/32973/commits/8e05a9bb0fa3e921370e753815f99722fc8ec2d9

Have that PR solved the aforementioned issue?

[2022-01-23 15:14] swinslow opened #42070 "west: spdx: Missing field for certain build results"
**Describe the bug**
When using the `west spdx` functionality to create an SPDX SBOM during a build, several SPDX Documents are created. In some instances, the SPDX metadata field `PackageLicenseInfoFromFiles` is required to be present [according to the SPDX 2.2 spec](https://spdx.github.io/spdx-spec/package-information/#714-all-licenses-information-from-files-field), but is being omitted if no li

[2022-01-23 15:14] swinslow commented on #42070
cc @kestewart for visibility. I'm putting together a fix for this.

[2022-01-23 16:51] swinslow opened #42072 "west: spdx: Blank FileChecksum field for missing build file"
**Describe the bug**

The `west spdx` functionality uses the output from CMake's file-based API to determine which build files are created from the various build targets. It then checks each built file to get its checksum and other details for the `build.spdx` SPDX Document.

Using the current main branch to build some basic samples (e.g. samples/hello_world, samples/basic/blinky), there is now a

[2022-01-23 16:53] swinslow commented on #42072
cc @kestewart for visibility

My current plan to address this is to modify the zspdx walker.py and/or scanner.py files so that a build file will be ignored if CMake reports it as being built, but it is not found on disk after the build is complete.

[2022-01-24 00:28] #38719 closed

[2022-01-24 01:21] LixinGuoX commented on #41993
Yes, this issue is fixed by cavstwist.sh, so close this issue.

[2022-01-24 01:21] #41993 closed

[2022-01-24 01:43] enjiamai commented on #41993
Verified this is fixed by #42020

[2022-01-24 02:32] enjiamai commented on #41992
Duplicate with #42010 ,  so close it.  And verified that it will be fixed by #42063 ,

[2022-01-24 02:32] #41992 closed

[2022-01-24 06:37] hwang37 commented on #41862
From our side, we can continue see this "fw downloading failure" issue.
The "retry FW download" workaround is still needed. Can we keep this bug re-open?

We're using UP Extreme board as both Host Machine (on X86 CPU) and Tested Machine (Zephyr on Xtensa SOC).
![image](https://user-images.githubusercontent.com/36193324/150733683-4898f261-36dc-4cb9-a788-2a552a6ee0f7.png)

[2022-01-24 08:08] koffes commented on #42066
This is good news. I would like to link to this issue: https://github.com/zephyrproject-rtos/zephyr/issues/26857, and hopefully the high CPU load will be resolved here as well.
Also, any plans for async USB audio support?

[2022-01-24 08:22] jchabod commented on #41787
That's also what I'm thinking. I tried to explicitely force this alignment (patched the tcp2.c file adding attributes to the variables), But the software did not go really further (however, I did not try to identify the issue exact location because I could not find how to retrieve the failing address once in the exception vector, which make investigation... really slow

If you can help me with a p

[2022-01-24 08:52] rlubos commented on #41787
The fault report that Zephyr produces on exception should contain the failing instruction address (look for `Faulting instruction address (r15/pc):`) and the thread that caused the crash, are you seeing this? If not, perhaps you need to enable the logger module.

[2022-01-24 09:02] Powilas21 commented on #39640
Any updates on this?

[2022-01-24 09:14] FRASTM commented on #40657
Testing the samples/basic/blinky_pwm on the nucleo_l45rzi I can see the pb with red led on pin PB14:
setting the PB14 pin for timer15 channel 1 -> test ok
setting the PB14 for the timer1 channel 2n -> led off

[2022-01-24 09:19] henrikbrixandersen commented on #34706
I will remove the "area: CAN" label from this issue as it is strictly not CAN related. The CANopenNode module integration code uses the flash map internally, but we should be able to migrate that to a new flash map API once ready.

[2022-01-24 09:37] FRASTM commented on #40657
In case of output N the LL_TIM_OC_StructInit must init the pwm with
		oc_init.OC**N**State = LL_TIM_OCSTATE_ENABLE;
		oc_init.OCState = LL_TIM_OCSTATE_DISABLE;

[2022-01-24 09:53] nordic-krch commented on #41806
I've reproduced and looking at it.

[2022-01-24 10:33] Thalley commented on #42048
It is possibly by using two macros (which is also the solution we came up with in https://github.com/zephyrproject-rtos/zephyr/pull/40626), but nonetheless the enhancement still stands. Using two different values for store and retrieve is uncommon for a key-value database like this - Or rather splitting the key for retrieve is.

[2022-01-24 11:13] Bosemani opened #42081 "Direction finding code support for nrf52811?"
Hai
I'm trying to implement Direction-finding in the nrf52811 chip.
i found [this code ](https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/bluetooth/direction_finding_connectionless_tx)
I want to use this code for the nrf52811 chip.
But in that code, they didn't mention it will support nrf52811.
My question is
Is that code support the nrf52811 chip?
if it supports what are the changes

[2022-01-24 11:53] Bosemani commented on #36869
Hai @Faizan-Ellahi-DE I didn't get your point
I'm also using nrf52811 and getting the same error.
can you explain in detail pls?

[2022-01-24 12:36] mkschreder opened #42082 "Add intermediate cast to void* in CONTAINER_OF to make it forget about alignment."
PC-Lint Plus identifies that CONTAINER_OF is messing with alignment:
warning 2445: cast from 'char *' to 'struct s2lp_emul *' increases required alignment from 1 to 8

The solution is to add an intermediate cast to void* in the definition of CONTAINER_OF in include/sys/util.h to make the compiler forget about alignment.
`#define CONTAINER_OF(ptr, type, field) ((type *)(void*)(((char *)(ptr)) - off

[2022-01-24 12:40] Thalley opened #42083 "Bluetooth: ISO: Packet Sequence Number should be incremented for each channel"
**Describe the bug**
In `bt_iso_chan_send` we have a single static value `static uint16_t sn;` that is shared among all ISO channels. This value should be
incremented per channel, and not a global value.

**Expected behavior**
The `sn` should exist for each channel, and be incremented for each channel. Furthermore, it should be reset to 0 for each channel once they are connected/created.

**Impact

[2022-01-24 12:48] Laczen commented on #42048
@Thalley, the key isn't split for retrieve, the routines are just advancing every step down. The disadvantage of using the `settings_save_one(subtree, key, ...)` is that the final key needs to be created on stack, while now there are backends like nvs that do nothing with this key but to compare and if required store. No creation of a final key is required.

While having a quick look at the PR I a

[2022-01-24 12:59] Thalley commented on #42048
That is a good point, and certainly a disadvantage of this approach, unless the final key doesn't need to be combined before we actually write to flash or where, then no additional stack variables to hold that is necessary.

I think that may have been too quick of a look; the `appearance` is using the generic `bt` handler :)

[2022-01-24 13:03] erwango commented on #37883
Moving this as enhancement regarding the nature of problem identified and change requested.

[2022-01-24 13:29] Thalley commented on #31229
@BOZHENG001 Do you still have issues, or can this be closed?

[2022-01-24 13:33] BOZHENG001 commented on #31229
@Thalley This can be closed. Thanks.

[2022-01-24 13:41] #31229 closed

[2022-01-24 13:41] Laczen commented on #42048
Yes it was to quick a look :).

To simplify the use of the macro's it would be possible to create 3 macro's:
a. For the subtree: `#define SETTINGS_SUBTREE "bt"`,
b. For the key: `#define SETTINGS_KEY_APPEARANCE "appearance"`,
c. For the key name: `#define SETTINGS_KEY_APPEARANCE_NAME SETTINGS_SUBTREE"\"SETTINGS_KEY_APPERANCE",

BTW during the rework of settings some years ago I have asked to add t

[2022-01-24 13:56] Thalley commented on #28009
@joerchan You closed the PR that supposedly fixed this enhancement. Why was that closed, and should we fix or close this enhancement?

[2022-01-24 14:09] Thalley commented on #42048
Yes, that is a workaround, but it still not I have requested in this issue, which is the ability to use the same key(s) for store and retrieve, i.e.
[code]

Which is the most common way of dealing with a key-value database, as this is.

[2022-01-24 14:13] joerchan commented on #28009
@Thalley I only wanted to document the behavior, as we agreed above. I closed the PR because I wasn't going to address the review comments. I'll leave it up to you what you think is the best way forwards with this issue.

[2022-01-24 14:14] nordic-krch commented on #41806
@PerMac i've prepared a fix (which acutally disables some tests for nrf52832). Are you able to validate it on your side?

[2022-01-24 14:22] hubertmis commented on #41640
I would like to clarify a little the use-cases described as

There are some samples in the Zephyr tree which by design can run only on multi-core SoC (like linked openamp samples). However, most of the available samples can run on single-core or multi-core SoCs. When these samples run on multi-core SoC, some require one image, other more.

For example [net/sockets/echo_client](https://github.com/z

[2022-01-24 14:42] Laczen commented on #42048
Because the retrieve is not done by searching the key. It can be done by using `settings_load_subtree()`, but it is not in general. If you step down one level from the handler the subtree would need to be inherited from the above handler. Since you would need to construct the subtree anyhow it is a small step to introduce the macro's as you proposed.

While a method of handling settings storage as

[2022-01-24 14:47] Thalley opened #42090 "Bluetooth: Audio: MCS BSIM notification length warning"
**Describe the bug**
When running the mcs_mcc.h babblesim tests, it looks like the MTU isn't large to send the application data:

[code]

This also means that the remote side, i.e. the client, does not verify the song names in the tests. The server does also not have any GATT MTU requirements similar to the buffer count:

[code]

**To Reproduce**
Build and run the mcs_mcc.h test

**Expected behavi

[2022-01-24 14:55] Thalley commented on #34928
I have not been able to find anymore occurrences in the BT susbsytem, so I'm closing this.

[2022-01-24 14:55] #34928 closed

[2022-01-24 15:02] Thalley commented on #42048
And that's the part that seems somewhat odd to me; storing by (aggregated) key, but retrieving with (split) key.

That sounds like reasoning enough to keep this enhancement open. Are there other enhancements for this open somewhere?

I don't see how. Can you elaborate?

[2022-01-24 15:22] PerMac commented on #41806
I will.

[2022-01-24 15:24] abxy opened #42092 "stm32l0: Voltage regulator is not restored after leaving STOP mode"
**Describe the bug**
I have a custom board that started to crash after I enabled power management. I have located the source of the problem to the cpu power management driver for STM32L0.

In `power.c`, when entering "STOP mode" (suspend to idle) the internal voltage regulator is changed to low-power mode, but when exiting STOP mode, the regulator mode is not restored to its main mode. Specificall

[2022-01-24 15:29] theotherjimmy commented on #40874
Reproduced while connected with GDB. I'll post what I find.

[2022-01-24 16:13] Thalley opened #42096 "LE Audio: Media: Pass structs by reference and not value"
**Is your enhancement proposal related to a problem? Please describe.**
There are a few structs in the media implementation where the structs are passed by value, instead of reference. In smaller structs that may be OK, but there are structs > sizeof(pointer), where it definitely shouldn't be the case. Furthermore, for consistency we may want to just pass all structs, regardless of size, by refere

[2022-01-24 16:33] theotherjimmy commented on #40874
It looks to me like this test case is generating a secure falt, which is handled by tf-m, instead of the normal zephyr fault handling on the invalid address `0xffff_ffff`. Since the tf-m secure fault handler just spins, we get stuck and timeout the test.

[2022-01-24 16:56] #42010 closed

[2022-01-24 17:41] chen-png opened #42098 "intel_adsp_cavs25: west sign command output some unrecognized ASCII char."
**Describe the bug**
for intel_adsp_cavs25 platform, when doing **west sign command, it reported some unrecognized ASCII char when parsing cse entry** name "cavs0015.met", the output as below, there are some unrecognized char after "cavs0015.met".
please ignore data of entry.offset and length, I removed them due to private policy.
[code]
this will causing an **error "UnicodeDecodeError: 'utf-8' co

[2022-01-24 17:43] chen-png commented on #42098
hi @andyross could you help take a look of this?

[2022-01-24 18:26] Laczen commented on #42048
@Thalley, the "enhancement" you propose is very limited in functionality as it only makes sense at the handler level and with the disadvantage of requiring the storage key to be created on stack. The requested functionality can easily be achieved using macros.

In the settings system the storing is completely separated from the retrieving and this makes it very versatile (albeit a little difficult

[2022-01-24 18:44] andyross commented on #42098
This is a bug against rimage, can you refile it there?  https://github.com/thesofproject/rimage

I don't know if it's OK to change the entry_name field or not.  That metadata isn't used by Zephyr, it's for parsing by a host audio driver.  I'd be afraid to touch it without coordination with SOF and the windows driver people, honestly.

FWIW, as I read it it's just a display bug.  There's nothing wr

[2022-01-24 18:44] #42098 closed

[2022-01-24 20:17] pearson opened #42102 "doc: searches for sys_reboot() are inconsistant"
It is difficult to find documentation on `sys_reboot()` and associated symbols. Searching through the main Zephyr documentation site gives different search results from a search starting from the Zephyr API Documentation Files List.

Searching through the Zephyr documentation site:
- searching for `sys_reboot()` only lists a couple mentions of the function, as well as `CONFIG_REBOOT`, but no docum

[2022-01-24 21:26] AmberHibberd commented on #41862
see above

[2022-01-24 23:15] keith-zephyr commented on #39194
GitHub has [Pull request revisions](https://github.com/github/roadmap/issues/211)  listed under the Future work of the [public roadmap](https://github.com/orgs/github/projects/4247/views/1).

It was added to roadmap June'21 and we don't have visibility as to when this will be added into the a named release.

[2022-01-25 00:38] chen-png commented on #42098
@andyross  yes, it is just a display bug and it is captured by twister just right.
we can add a handler in twister to catch this exception when decoding output of west flash command, but it would be better to fix it from rimage if we can't modify entry name arbitrarily, i.e, increase the bytes in entry definition structure, I will report this in
 sof rimage project too.

[2022-01-25 00:49] teburd commented on #41770
Fixed with PR https://github.com/zephyrproject-rtos/zephyr/pull/41983

[2022-01-25 00:49] #41770 closed

[2022-01-25 01:45] qipengzha commented on #42066
For driver support, will you plan to enable Synopsys DWC USB2.0 OTG controller ? thx

[2022-01-25 03:06] AshwinKrishn opened #42106 "AARCH64 stack initialisation fails with newlib for qemu_cortex_a53"
**Describe the bug**
Unable to use newlib with qemu_cortex_a53. When using minilib things work fine. The moment I change to newlib, the booting fails.

Please also mention any information which could help others to understand
the problem you're facing:
 - qemu_cortex_a53
 - The code loses control in zeroing of bss in gdb. Something happens there.

**To Reproduce**
Steps to reproduce the behavior:

[2022-01-25 03:18] stephanosio commented on #42106
@carlocaione It looks like something happens when `CONFIG_INIT_STACKS` is enabled with newlib.

[2022-01-25 03:25] yerabolu commented on #40372
this issue is fixed.

[2022-01-25 03:25] #40372 closed

[2022-01-25 03:27] chen-png commented on #42098
reported an issue in rimage project https://github.com/thesofproject/rimage/issues/86

[2022-01-25 03:33] AshwinKrishn commented on #42106
<img width="942" alt="Screen Shot 2022-01-24 at 10 30 32 PM" src="https://user-images.githubusercontent.com/16016925/150906015-860569d0-275b-460f-b3e4-c630c5bf72dc.png">

Looks like when __init_sys_init_malloc_prepare0 begins in user space initialization phase , it is stuck forever.

@stephanosio Should I disable the CONFIG_INIT_STACKS ?

[2022-01-25 03:50] stephanosio commented on #42106
I have tested this with both `tests/c_lib` and `samples/hello_world`. Both boot fine with `CONFIG_USERSPACE=y` and `CONFIG_NEWLIB_LIBC=y` set; though, `CONFIG_INIT_STACKS=y`-related failure is only observed on `tests/c_lib`.

There seems to be an underlying arch port-level issue that is causing this (maybe yet another linker script alignment-related issue?). I do not have the bandwidth to analyse

[2022-01-25 04:06] AshwinKrishn commented on #42106
<img width="942" alt="Screen Shot 2022-01-24 at 10 55 30 PM" src="https://user-images.githubusercontent.com/16016925/150908111-23361e94-1fda-4e47-b743-a7a5d253c870.png">

Hello @stephanosio  Thank you for your time. I have figured out where exactly the kernel_panic is called. It is being called from "zephyrproject_arm/zephyr/arch/arm64/core/mmu.c:48" . The arch_mem_map is unable to map memory.

Th

[2022-01-25 04:49] AshwinKrishn commented on #42106
Hello @carlocaione  @stephanosio  A small update , I increased the CONFIG_MAX_XLAT_TABLES to 4096 and the above trap went off.

I then went on and found another trapping location.
<img width="942" alt="Screen Shot 2022-01-24 at 11 48 03 PM" src="https://user-images.githubusercontent.com/16016925/150912781-ddb86d09-0724-4cdf-aa62-e38d0d301e95.png">

The memset is unable to access the memory. Meanin

[2022-01-25 05:50] yerabolu opened #42108 "upsquared: isr_dynamic & isr_regular test is failing"
Describe the bug
isr_dynamic & isr_regular test is failing on up_squared platform

To Reproduce
Steps to reproduce the behavior:

1. twister -p up_squared --device-testing --device-serial /dev/ttyUSB1 -T tests/kernel/interrupt/ --west-flash="$HOME/up_squared_efi.sh" -j 1 -vv
2. See error

Expected behavior
Tests should pass.

Logs and console output
[code]

Environment:

OS: Fedora
Toolchain: SDK

[2022-01-25 06:08] yerabolu commented on #42108
Tests are also failing on EHL_CRB

[2022-01-25 07:02] sachinjairam opened #42111 "Error : undefined reference to '__device_dts_ord_18'"
Hai, I am trying to read ADC values for Nucleo-H743ZI board with Zephyr microROS.
But, while building the firmware an unknown error occurs.

![oie_xhJx2XTIHUXN](https://user-images.githubusercontent.com/44083276/150927234-bdc88a4e-cf27-454e-9bfc-74cace302f99.png)

I couldn't find any solution. So please advise me how to solve this problem.

Thank you,
Sachin

[2022-01-25 07:44] maxstreitberger commented on #41472
Ok, so I found out that I have to change `CONFIG_DISK_FLASH_DEV_NAME="NUCLEO_FLASH"` to `CONFIG_DISK_FLASH_DEV_NAME="FLASH_CTRL"` to have access to the flash controller. It then checks if there is a FAT volume on the drive. If not, it creates a new partition. After creating the partition, it checks if there is a FAT VBR (`zephyrproject/modules/fs/fatfs/ff.c:3247`), which fails. So I guess that my

[2022-01-25 07:55] erwango commented on #41472
Thanks for the heads up

Have you checked #19895 and #28309 as mentioned earlier ?
Also, maybe you can provide your flash config so we can have a look.

[2022-01-25 07:57] asbjornsabo opened #42112 "OTS: L2CAP: Unable to find channel of LE Credits packet"
Running the mcs_mcc BabbleSim tests, the following error message occurs when transferring objects over L2CAP:

d_01: @00:00:14.031757  [00:00:14.031,738] <dbg> bt_mpl: on_object_send: Read complete
d_01: @00:00:14.031757  [00:00:14.031,738] <dbg> bt_ots: l2cap_disconnected: Channel 0x82523fc disconnected
d_01: @00:00:14.032209  [00:00:14.032,196] <err> bt_l2cap: Unable to find channel of LE Credit

[2022-01-25 08:14] Thalley commented on #42048
Only as it is implemented now. The storage key does not need to be assembled at all before actually writing to the storage, does not?

I would call that a workaround, as yes we can use macros to simulate what we want, i.e. reusing the same macros for storing and retrieving, but we won't be able to use any variables.

That is a possibility, yes.

What is equally interesting is that the `settings_ru

[2022-01-25 08:15] enjiamai commented on #41862
Verified on CAVS25, CAVS18 DSP, this issue is fixed by #41862 , and have also verified no impact on CAVS15.

[2022-01-25 08:20] mjm987 opened #42113 "Modbus RTU allow non-compliant client configuration"
The Modbus RTU driver (modbus_serial.c) hard-codes the nr of stopbits for the serial line to 1 if using parity or 2 without parity.
This corresponds to the Modbus RTU specification but there exists sensor devices which sends non-conform RTU frames with one stopbit and no parity.
In this case the modbus rtu driver reports a "frame length error" without delivering the data - at least on the nrf52 pl

[2022-01-25 08:26] r2r0 commented on #41422
I would be happy to help fixing that but I have one doubt.
My understanding was that the `CLAMP` we talking about handles the case where there is requested a real timeout (system has something on the list waiting for timeout).
And then in this case a `CLAMP` is supposed only to limit timeout value to be in result type (`int32_t`) range.
Am I right? If not then where is the error in my reasoning?

[2022-01-25 08:27] Zzzwierzak commented on #40201
@bbilas, @erwango  I've checked on 25e6803705b25602eb0b730a03a254c354bfae9e and issue still exist.

[2022-01-25 08:27] carlocaione commented on #42106
uhm, something is wrong with A53 + newlib libc.

Also `hello_world_user` is failing with `qemu_cortex_a53_smp` when `CONFIG_NEWLIB_LIBC=y`.

[code]

Not sure if related but that would be a nice coincidence.

[2022-01-25 08:31] erwango commented on #40201
@Zzzwierzak Would you mind a try to provide what was suggested in https://github.com/zephyrproject-rtos/zephyr/issues/40201#issuecomment-964219844 ?

[2022-01-25 08:40] erwango commented on #40201
My 2 cents on this issue:
- There's a protected fw (BLE f/w used on M0) on stm32wb socs (cf trace `WARNING: Secure Firmware detected @ 0x080CA000`)
- The jlink command request a full chip erase from what I can understand(` "--erase"`) which is not possible due to the presence of protected sectors and hence the command fails
- Issue wasn't visible before https://github.com/zephyrproject-rtos/zephyr

[2022-01-25 09:17] Laczen commented on #42048
Yes it does need to be assembled if it is given in parts, it might be possible to write it incrementally but it might not be. By definition a preassembled key does not need to be assembled. Some backends might assemble the entry as being the key + the value, some backends separate the key from the value to avoid rewriting the keys.

If you find it more convenient to use the `_runtime_` functions u

[2022-01-25 09:26] Thalley commented on #42048
@alwa-nordic Do you have any inputs? Would the `settings_runtime_` handle this enhancement request?

Personally I think we can probably close this, given the existing flexibility of the settings API. Thanks for your input @Laczen

[2022-01-25 09:27] Zzzwierzak commented on #40201
@erwango Output from Jlink without change is same( Error -5), but error from erase is discarded silently, after change it is breaking west flash in CI, that cause test fail with flash error.
Unfortunately testing without erase is not stable, and using STM32CubeProgrammer is not possible.

[2022-01-25 09:50] erwango commented on #40201
I understand the problem on your side, but this doesn't sounds like an actual issue as returning an error on erase error is a sound behavior. Support for your use case would likely require an enhancement :
- add support for sector erase
- add option not to fail on erase issue

[2022-01-25 10:09] erwango opened #42117 "efr32mg_sltb004a: Build issue on `tests/drivers/spi/spi_loopback/drivers.spi.loopback`"
**Describe the bug**
CI is failing on this board due to the following error:
[code]

**Impact**
Blocks CI, cf https://github.com/zephyrproject-rtos/zephyr/runs/4934340081?check_suite_focus=true

[2022-01-25 10:12] erwango opened #42118 "mimxrt685_evk_cm33: Build failed on tests/drivers/spi/spi_loopback/drivers.spi.loopback"
**Describe the bug**
Build in CI fails due to following error:

[code]

**Impact**
Blocks CI, cf https://github.com/zephyrproject-rtos/zephyr/runs/4934340162?check_suite_focus=true

[2022-01-25 10:33] Zzzwierzak commented on #40201
@erwango Both options are good for me.

[2022-01-25 10:59] ipshiv opened #42120 "HTS221 missed header hts221_reg.h"
**Describe the bug**
There is no header hts221_reg.h both in src folder and in include

**To Reproduce**
./scripts/twister -T tests/drivers/build_all/sensor

**Expected behavior**
Clean build expected

**Impact**
Can't run tests during sensor development

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain GNU ARM v10.2
 - Commit v.2.7.1

[2022-01-25 11:06] jfischer-no commented on #41921
IIRC there is also timeout option, but it would not make it faster. There is no way without disadvantages, either USB DFU in bootloader and user interaction, or issues/limitations in USB communication in application mode, since USB DFU + other classes usually does not work, on Windows OS anyway.

What kind of product is it that is updated with `west flash --runner dfu` or via BLE, does it happen i

[2022-01-25 11:08] #42120 closed

[2022-01-25 11:09] ipshiv commented on #42120
my bad, corrupted initialization

[2022-01-25 11:22] jfischer-no commented on #42113
This is not a bug because, as you write, the frames are not spec compliant and therefore your sensor is not a MODBUS RTU device. There is https://github.com/zephyrproject-rtos/zephyr/pull/40558 to allow this kind of frames but that should be limited to client configuration.

[2022-01-25 12:23] mjm987 commented on #42113
Ok, but adding a parameter eg. "nr_stopbits" to "struct modbus_iface_param" which defaults (when 0) to the RTU standard would solve the problem for modbus client as well for server configurations without side effects (or not?)

[2022-01-25 12:23] chrta commented on #42113
This is related to https://github.com/zephyrproject-rtos/zephyr/pull/40558 We will update the pr in a few weeks.

[2022-01-25 12:25] maxstreitberger commented on #41472
My flash config is mentioned above.
I looked at them, but I don't know how they help me.

[2022-01-25 12:51] Thalley commented on #28009
Been thinking about this.

Documenting which values are valid in which states doesn't really help much, since we don't expose the state. The `BT_CONN_CONNECTED` and `BT_CONN_DISCONNECTED` states are exposed via callbacks, but that's about it, and the application may want to request this information at any state.

What I suggest is that we expose `bt_conn_state_t` and then thoroughly document which

[2022-01-25 12:54] mjm987 opened #42122 "LoRa Driver extended features"
**Is your enhancement proposal related to a problem? Please describe.**
The current implementation of the LoRa driver seems to be based on the LoRaWAN default configuration but for standalone LoRa applications, some features are missing, eg. carrier activity detection (CAD), CRC on/off, fixed length payload (Header suppression), IQ inversion, paDutyCycle, etc. etc.

**Describe the solution you'd l

[2022-01-25 13:04] FRASTM commented on #42111
@sachinjairam could you please give more details about the application you are building
For example dev is the
` const struct device *dev_adc = DEVICE_DT_GET(ADC_NODE);`
when building the ./samples/drivers/adc for the nucleo_h743zi target board which has an overlay made of
[code]

[2022-01-25 13:33] kruithofa opened #42125 "Bluetooth: controller: llcp: lll_scan_aux does not compile with new LLCP"
**Describe the bug**
Compilation fails for a sample that includes the file subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan_aux.c when the new LLCP is selected

**To Reproduce**
- Select the new LLCP (by selecting it with 'west build -t menuconfig' in for example the shell sample (tests/bluetooth/shell)
- build the sample using 'west build'
- compiler errors will show up

**Expected behavior*

[2022-01-25 13:44] hanselfberg commented on #28009
@Thalley Your suggestion is in line with my initial suggestion and i still think that would be a good improvement to include the status. Of course the status can at any time be outdated, but at least it will be in sync with the received info and should be better in sync than having a local connection status variable updated by the application callbacks. So if the reason to not include the connecti

[2022-01-25 13:59] #41862 closed

[2022-01-25 14:04] Thalley commented on #28009
@hanselfberg One issue with exposing the state, is that the state isn't as simple as the application may think. It isn't just disconnected -> Connecting -> Connected, but rather a more complex enum:

[code]

and I don't feel like exposing these values will be that helpful to the application.
We could cut it down to e.g. a boolean `connected` value, but there are values that are not valid in the `c

[2022-01-25 14:20] dleach02 commented on #41953
yep... that is a bug.

[2022-01-25 14:22] joerchan commented on #28009
From what I recall I discussed exposing the state with @jhedberg who thought this was a bad idea, which is why we instead wanted to document it.

[2022-01-25 14:51] Thalley commented on #28009
I would also like to avoid that. We could however add a simplified public state enum, maybe similar to the ISO state enum:
[code]

But let's see what we really need, and if we can avoid exposing the state altogether.

[2022-01-25 14:56] hackwerken commented on #41921
@Laczen

I'm not sure what you mean by this? Such location already exists in the image trailer. Since the trailer is at the end of an image partition a 'preconfirmed' image is very large (as large as i can be).

Meanwhile I dived a bit deeper into the USB DFU specification. I might be mistaken, but as far as I can tell the manifestation phase works different from what you describe. Because in this

[2022-01-25 15:20] dleach02 commented on #41953
This seems like something static analysis should catch. Casting a const value into a non-const pointer..

[2022-01-25 15:23] teburd commented on #21538
I think the general idea here is good, I would add that rather than a transaction manager against a single device, there be sort of two layers to this to facilitate more complex DMA controllers.

A per device API that accepts a request and a response object associated with it. Each device may choose to use dma or not, with a priority and dma arb setup with it.

[2022-01-25 15:23] #21538 closed

[2022-01-25 15:23] hackwerken commented on #41921
@jfischer-no

Entering the bootloader without user interaction is possible. We currently have a proof of concept shell command that does this. But as I wrote in the original issue, this uses the nRF52 GPREGRET register. That could be a drawback if nothing similar is available on other platforms.

For completeness I also made a diagram for the 'DFU in bootloader' solution:
![image](https://user-ima

[2022-01-25 15:24] Thalley opened #42128 "LE Audio: Use utf8_lcpy when copying utf8 encoded strings"
**Is your enhancement proposal related to a problem? Please describe.**
LE Audio supports UTF8 strings, and we often copy or truncate those strings, but they are often incorrectly copied/truncated.

**Describe the solution you'd like**
Use the utf8_* functions to copy and truncate UTF8 encoded strings with proper termination.

**Describe alternatives you've considered**
N/A

**Additional context**

[2022-01-25 15:31] youssefchei-xite commented on #41933
Hi @nandojve
I'm using the version provided by nRF Connect SDK v1.7.0 [https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/gs_installing.html].
After integrating the modification from commit #37854, it works and I could do the OTA update.

[2022-01-25 15:31] #41933 closed

[2022-01-25 15:37] gmarull opened #42130 "drivers: serial: remove struct uart_device_config"
## Introduction

I've opened this RFC to question if `struct uart_device_config` should be removed.

### Problem description

The main reasons:

1. It is not used by all drivers (in fact, I think it's a minority using it)
2. It pretends to be generic, but it is not (see for instance #42131)
3. No other subsystems are using this kind of _inheritance_ mechanism.
4. Some fields are not always used, w

[2022-01-25 15:38] gmarull commented on #42130
cc: @dcpleung

[2022-01-25 15:45] hermabe commented on #40009
I am currently working on this.

[2022-01-25 15:52] Laczen commented on #41921
@hackwerken, nice diagrams. One small remark regarding this diagram, the manifestation phase could be after the upgrade (and I think usb-dfu intends it to be after the upgrade). If the upgrade fails the manifestation phase would never be reached and `dfu-util` would time-out. To start the manifestation at first boot you could detect the image verification state (but this would probably ruin suppor

[2022-01-25 16:09] youssefchei-xite opened #42134 "TLS handshake error using DTLS on updatehub"
**Describe the bug**
I'm testing the **updatehub** using nrf5340dk and quectel BG95 as modem.
I used the zephyr/samples/subsys/mgmt/updatehub sample and I used the **updatehub cloud** (free version for now) for update
1- I build and flash version 1.0.0
2-Create and push the update package 2.0.0 to updatehub cloud using https://docs.updatehub.io/zephyr-project/zephyr-project-guide/ , steps: 8-9 the

[2022-01-25 17:12] keith-zephyr opened #42136 "doc: Create documentation for all shell commands."
**Is your enhancement proposal related to a problem? Please describe.**
Capturing a discussion started on [discord](https://discord.com/channels/720317445772017664/884782246010175528/931473463535874108)

Users cannot easily discover what shell commands are available, and the built-in help for shell commands doesn't adequately describe their usage.  Users often have to go to the shell command sourc

[2022-01-25 17:14] carlescufi commented on #42136
@jakub-uC do you have suggestions on how to achieve this?

[2022-01-25 17:16] cvinayak commented on #37883
As the issue at hand is Controller specific, should this be handled as a quirk bit in the HCI driver (Zephyr controller specific is handled for example here: https://github.com/zephyrproject-rtos/zephyr/blob/140837ce3ac6ba6ac01d804ebd40c8aaf00a3011/subsys/bluetooth/controller/hci/hci_driver.c#L735

[2022-01-25 17:21] andyross commented on #41039
Agreed, let's mark this as an enhancement instead of a bug.  Zephyr does not currently support applications registering interrupts that interrupt exception handlers.  Applications that do so need to be coded very carefully.  It would be good if Zephyr had an answer here, but it doesn't.  We should add that as a feature.

[2022-01-25 17:22] andyross commented on #40974
I'm going to close this one, as it's effectively a duplicate of #41039

Zephyr doesn't have a solution currently for applications registering interrupts at or beyond EXCM_LEVEL.  It would be a good feature if we had it, but we don't yet.

[2022-01-25 17:22] #40974 closed

[2022-01-25 17:27] andyross commented on #41422
The logic there is supposed to be "the next timeout is the time in the future of the next item on the list, UNLESS it is negative[1] or longer than we can represent".  If all the inputs were positive, the CLAMP() macro would be exactly what we want. But that breaks because K_TICKS_FOREVER happens (for good reason) to have a negative value even though it's being used as MAX_WAIT (i.e. the **largest

[2022-01-25 17:30] jhedberg commented on #28009
So, general comment is that we should only expose stuff for which we have a well justified use case.

As for what @joerchan is referring to wrt something being a "bad idea", I believe that would be a public `get_state()` function, since it's inherently racy (the state may change between getting it and doing something with it).

[2022-01-25 17:41] dcpleung commented on #42130
Probably a good move since only a few drivers are using it.

[2022-01-25 17:45] dkalowsk commented on #40360
@yanivma can you take a look at this issue for TI boards?

[2022-01-25 18:03] erwango commented on #41963
@dkalowsk would you mind assigning to ARM maintainer as this is not STM32 specific according to analysis ?

[2022-01-25 18:17] bbilas commented on #40201
Support for sector erasing is the most suitable solution in my opinion only if it's supported by jlink.

[2022-01-25 20:09] #42118 closed

[2022-01-25 20:59] bbilas commented on #40201
@Zzzwierzak Would you mind testing this https://github.com/zephyrproject-rtos/zephyr/pull/42144 MR? It introduces erasing specified flash range but due to lack of hardware, I'm not able to test it.

Example:
`west flash -d build --erase-range 0x60000000 0x607FFFFF`

[2022-01-25 21:48] dcpleung commented on #41736
This is not a bug but a config issue. Closing...

[2022-01-25 21:48] #41736 closed

[2022-01-25 22:17] dleach02 commented on #41523
this display (grove) and test combination is problematic. The test yaml is only filtering on I2C because the display device object is create programmatically in the grove display driver and not via the device tree so there is nothing to filter on in the test case to check if the display is part of your hardware configuration.

You could filter on an instance of I2C_0 label since that is what they

[2022-01-25 23:26] gregshue commented on #42136
Just to check my understanding ... you want the document generation process to extract shell command documentation from out-of-tree Zephyr modules and put them into an aggregate list (like already happens for Kconfig and interface documentation)?

If so, I agree.

[2022-01-25 23:30] gregshue commented on #42136
BTW, the shell command names need to begin with a prefix indicating the originating module to avoid name collisions.

Is this documentation for what exists in the workspace, or what is built into the executable?

[2022-01-25 23:37] ewalt1 opened #42147 "hts221 driver fails to build"
The sensor driver twister test is failing due to the hts221 driver being broken. It includes a header file that doesn't exist.
https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/sensor/hts221/hts221.h#L17

Steps to reproduce the behavior:
ZEPHYR_TOOLCHAIN_VARIANT=llvm twister -c -T tests/driver/build_all/sensor -p native_posix

[2022-01-25 23:44] dkalowsk commented on #41963
@erwango done.  You were suggested at the bug scrub.  The STM label was applied due to the reported platform.

[2022-01-26 00:16] dleach02 commented on #41523
@cfriedt check out the PR... I tested to ensure that it built the platforms that support an enabled I2C_0 devicetree node and skipped those that do not have one (i.e. node.status is "okay")

[2022-01-26 00:16] #41953 closed

[2022-01-26 00:30] #20686 closed

[2022-01-26 00:37] bob2oneil commented on #39707
It might be worth talking about the 200 foot view.  What I am trying to do is have a Telnet interface to be used exclusively for the shell menu, because the serial is not suitable for a user interface menu as content will be quickly overwritten by program logging.  So I want the Telnet interface to be the command and control interface, but from within the Telnet interface, I want to change the log

[2022-01-26 01:09] mbolivar-nordic opened #42149 "DT_SPI_DEV_CS_GPIOS_DT_SPEC_GET is a layering violation that shouldn't exist"
**Describe the bug**

This macro, introduced in commit 4d1c90ee53be12fd5e0545e83342c84e72b47d5d (pull request https://github.com/zephyrproject-rtos/zephyr/pull/39116), should not have been added to the devicetree API.

It is a layering violation that introduces an unnecessary circular dependency:

- `struct gpio_dt_spec` is defined by the GPIO API (`drivers/gpio.h`)
- the GPIO API depends on the d

[2022-01-26 02:07] mnkp opened #42151 "eth_sam_gmac: unable to change MAC address"
**Describe the bug**
Zephyr networking stack supports run time reconfiguration of Ethernet driver's MAC address via a call to `net_mgmt(NET_REQUEST_ETHERNET_SET_MAC_ADDRESS, ...)` function. When the call is executed on atmel_sam platform, e.g. `sam_e70_xplained` board, it fails with -134 return value.

Atmel SAM platform is using `eth_sam_gmac` Ethernet driver where support for NET_REQUEST_ETHERNE

[2022-01-26 02:10] hongshui3000 commented on #41039
agree completely

[2022-01-26 06:31] nordic-krch commented on #39707
Have you been trying to set `SHELL_TELNET_INIT_LOG_LEVEL_NONE=y`? This should disable logging to telnet shell from the start.

[2022-01-26 07:32] jakub-uC commented on #42136
I would like to understand a little more about the `argparse` implementation. What specifically, would it look like? If we use it for subcommand then in my opinion we will lose :

- developing subcommands using the `tab` button.
- support for dynamic commands. At least for now, I can't think of a way to implement this.
- narrowing the command tree with the `select` command. This is widely used whe

[2022-01-26 08:09] Laczen commented on #41921
@hackwerken (goedemorgen Martijn), the above comments are two separate solutions, the first one to confirm during manifestation, the second one to use dfu-util to confirm the image. The last solution would be the simplest and most versatile.

[2022-01-26 08:34] gmarull commented on #42147
Would you mind submitting a fix?

[2022-01-26 08:44] erwango opened #42157 "tests/lib/ringbuffer/libraries.ring_buffer: Miss a timeout"
**Describe the bug**
Test `tests/lib/ringbuffer/libraries.ring_buffer` is systematically failed due to timeout.
Test duration is too long vs default twister timeout, as a consequence, test is systematically failed (on STM32 platforms but also on potentially on most platforms, as I could see the issues also on frdm_k64f)

**To Reproduce**
Steps to reproduce the behavior:
`twister -N --device-testin

[2022-01-26 08:57] erwango opened #42159 "samples: lora: Miss twister harness"
**Describe the bug**
No harness are provided in lora samples:
   samples/drivers/lora/receive/sample.driver.lora.receive
   samples/drivers/lora/send/sample.driver.lora.send
   samples/subsys/lorawan/class_a/samples.lorawan.class_a

As a consequence tests are reported as failed when run with twister

**To Reproduce**
Steps to reproduce the behavior:
`twister --device-testing -p nucleo_wl55jc -s sa

[2022-01-26 09:08] kevin137 commented on #33747
Hello again everyone. @hakehuang and friends at NXP: Has this been abandoned? Do you guys intend to keep working on this issue?

[2022-01-26 09:35] erwango opened #42161 "samples/compression/l4z: Expected RAM size for correct execution is too low"
**Describe the bug**
`samples/compression/l4z` defines`  min_ram: 32`
This limit seems actually too low as it fails to allocate sufficent RAM on 36KB RAM platforms during execution

In `LZ4_compress_fast`, execution on a 36kb RAM ends up to return 0 in:
[code]

Test fails on nucleo_f091rc and nucleo_g071rc which have both 36kB of RAM,
while it succeeds on stm32f3_disco which has 40kB

**To Reprodu

[2022-01-26 09:40] julien-massot opened #42163 "BIT_MASK(32) generate warning on 32 bits processor"
**Describe the bug**

On ARM 32 bits when using BIT_MASK(32) macro, it generates this warning

/home/julien/src/zephyr/zephyr/include/sys/util_macro.h:44:22: warning: left shift count >= width of type [-Wshift-count-overflow]
   44 | #define BIT(n)  (1UL << (n))
      |                      ^~
/home/julien/src/zephyr/zephyr/include/sys/util_macro.h:68:22: note: in expansion of macro 'BIT'
   68 |

[2022-01-26 09:40] carlescufi commented on #41787
@jchabod at this point we really need more information to find out what is causing this. Please try to find a way to reproduce this reliably so we can then debug this, including boosting stack sizes in case there's a stack overflow that manifests itself as an unaligned access.

[2022-01-26 09:42] carlescufi commented on #40107
@rerickson1 ping again

[2022-01-26 09:49] jchabod commented on #41787
@rlubos => Ok, I added the configuration fr debug, And I now have that information.
@carlescufi  =>Yes I'll try that. (But I clearly have no stack issue, the .MAP file show the array on odd address, so the issue is at buld-time)

If you ahave any idea of any CONFG_xxx that could lead me to anything, do not hesitate to point me that out !

[2022-01-26 09:50] #39096 closed

[2022-01-26 10:07] sjanc opened #42164 "tests/bluetooth/tester broken after switch to logging v2"
**Describe the bug**

Bluetooth tester application is crashing on start.

git bisect results in following commit:

262cc55609b73ea61b5f999c6c6daaba20bc5240 is the first bad commit
commit 262cc55609b73ea61b5f999c6c6daaba20bc5240
Author: Krzysztof Chruscinski <krzysztof.chruscinski@nordicsemi.no>
Date:   Wed Jan 12 15:52:48 2022 +0100

    logging: Deprecate v1, default to v2

    Reduced logging mo

[2022-01-26 10:11] nordic-krch commented on #42050
@jeback1 you can try following fix #42165.

[2022-01-26 10:22] MarkWangChinese commented on #41286
Hi @LuoZhongYao  please have a try with https://github.com/zephyrproject-rtos/zephyr/pull/42166

[2022-01-26 10:43] carlescufi commented on #42031
@kyrreaa have you modified the CDC ACM implementation in Zephyr? Also, there is currently no protection from multiple concurrent writer access, so you should only call `uart_fifo_fill()` from a single thread, or serialize its access.

[2022-01-26 10:45] carlescufi commented on #40925
This is now fixed

[2022-01-26 10:45] #40925 closed

[2022-01-26 10:45] alwa-nordic commented on #42048
I believe we use the `settings_load` API because it is optimized better. `settings_runtime_` does solve this problem. I don't know if it is ok to use it in the stack.

The most non-intuitive bit of API in my eyes is the asymmetry between `h_export(export_func(name, ...))` and `h_set(key, ...)`. In this API `name` is the full path while `key` is a relative path.

https://docs.zephyrproject.org/late

[2022-01-26 10:47] carlescufi commented on #39426
No feedback from reporter, closing this. Please reopen if this is an issue.

[2022-01-26 10:47] #39426 closed

[2022-01-26 10:53] cdrx commented on #33876
I've just tested this and get the same error.

@sylvioalves could this be reopened?

[2022-01-26 11:10] alwa-nordic commented on #39317
It seems to me that the crash happens because there is no call to `bt_enable()` in the sample.

I believe this is a bug in the stack. The application may want to delay Bluetooth initialization but still make use of `settings_load()` early.

[2022-01-26 11:24] hakehuang opened #42168 "v3.0.0-rc1: mimxrt685_evk_cm33: i2s driver build failure"
**Describe the bug**
i2s driver build failure driver .

Please also mention any information which could help others to understand
the problem you're facing:
build failure

 - ...

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make

**Expected behavior**
Buiid PASS

**Impact**
I2S driver

**Logs and console output**

[code]

**Environment

[2022-01-26 11:26] hanselfberg commented on #28009
@Thalley I found that this status would have been useful while I was working on a test stressing the system and got values that I didn't expect, and i think that would not have been an issue for me if I knew the status at the time the parameters were sent by the function. I think there should not be any race conditions (at least no complicated ones) since the purpose of including the state is just

[2022-01-26 11:29] hakehuang opened #42170 "v3.0.0-rc1: mimxrt685_evk_cm33: dma driver build failure"
**Describe the bug**
dma driver build failure driver .

Pease also mention any information which could help others to understand
the problem you're facing:
build failure

To Reproduce
Steps to reproduce the behavior:

mkdir build; cd build
cmake -DBOARD=mimxrt685_evk_cm33
make
Expected behavior
Buiid PASS

Impact
DMA driver

**Logs and console output**

[code]

OS: (e.g. Linux, , )
Toolchain (e.g

[2022-01-26 11:35] hakehuang opened #42171 "v3.0.0-rc1: mimxrt685_evk_cm33: undefined reference to `SystemCoreClock' for latency_measure benchmark"
**Describe the bug**
undefined reference to `SystemCoreClock'

Please also mention any information which could help others to understand
the problem you're facing:
mimxrt685_evk_cm33
tests/benchmarks/latency_measure build failure

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt685_evk_cm33
3. make
4. See error

**Expected behavior**
build failure

[2022-01-26 11:50] hackwerken commented on #41921
@Laczen (goedemiddag :))

As far as I understand the manifestation phase is meant to do things like the swap. In fact, it can't happen after the swap/update, because resetting to the bootloader causes a detach event on the bus. At least in the case of the 'DFU via app' approach.

Taken from the USB Device Firmware Upgrade Specification, Revision 1.1, page 26:

manifest the new firmware. As describ

[2022-01-26 12:10] #39131 closed

[2022-01-26 12:11] Thalley commented on #28009
It certainly can be. There's is currently one use of it in a `disconencted` callback. The `bt_conn`'s are statically declared, so the pointers are always usable.

@hanselfberg I'm sorry, but I fail to see how a connection state would help the case you mention. Can you elaborate on

[2022-01-26 12:15] carlescufi commented on #39317
@jhedberg @alwa-nordic as per @alwa-nordic 's analysis, the fix would be to exit early in `set()` and `commit()` in `subsys/bluetooth/host/settings.c` if Bluetooth is not enabled. That sounds like the proper fix.

[2022-01-26 12:23] carlescufi commented on #40009
OK, but in `main` I assume? and then you'll backport to v2.7-branch?

[2022-01-26 12:25] carlescufi commented on #40306
@sylvioalves ping

[2022-01-26 12:29] #41635 closed

[2022-01-26 12:37] pszkotak commented on #6958
If I understand correctly with current implementation there is impossible to have e.g. LED blinking with higher period that 250ms using PWM based driver (as in https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/basic/blinky_pwm).

It limits some applications or makes a need for weird workarounds.

@carlescufi, @anangl, is it planned for development? Do you have any estimations?

[2022-01-26 12:48] nordic-krch commented on #41952
Fixed.

[2022-01-26 12:48] #41952 closed

[2022-01-26 13:07] dleach02 commented on #42168
This is a result of something done globally last week ... has come up in a number of places.

[2022-01-26 13:10] dleach02 commented on #42170
This is a result of a global change that occurred last week.

[2022-01-26 13:14] sjanc commented on #40009
I can handle 2.7 backport if needed, once L2CAP/TIM/BV-03-C is passing

[2022-01-26 13:20] hanselfberg commented on #28009
@Thalley It's almost one and a half years back now, but if i recall correctly it was the phy info that was unexpected and I concluded that I'd probably need the connection state to be able to know what to expect.

[2022-01-26 13:23] hermabe commented on #40009
Yes, working on top of `main` where we do other EATT work.

[2022-01-26 13:31] r2r0 commented on #41422
@andyross I am sorry I need to rise again topic about CLAMP role in the code under investigation.
I analysed again timeout.c and I really cannot find any place where `dticks` field can get value equal to `K_FOREVER` .
All assignments to `dticks` are always positive integers.
It means that in the following code we need CLAMP only to protect against late interrupts (`to->dticks - ticks_elapsed` expr

[2022-01-26 13:33] Thalley commented on #28009
Hmm, the PHY can change during connection IIRC, so the connection state wouldn't actually provide any additional information there. One of the first things the Zephyr stack does after connection established is to update the PHY. Did you by any chance use the `le_phy_updated` callback to update your PHY information?

[2022-01-26 13:52] dleach02 commented on #42168
duplicate of #42170

[2022-01-26 13:52] #42168 closed

[2022-01-26 14:01] hanselfberg commented on #28009
@Thalley I think so, it looks like I went for that approach instead (from what I can see revisiting the test now).

[2022-01-26 14:09] Zhaoningx opened #42176 "mec15xxevb_assy6853: can not be flashed due to "chip not identified""
**Describe the bug**
The board mec15xxevb_assy6853 can not be flashed,  it showed the error  "Error: chip not identified.".

**To Reproduce**
west build/ -b mec15xxevb_assy6^C3 -tests/kernel/queue/ -p always
west flash

**Logs and console output**
[ztest@localhost zephyr]$ west flash
-- west flash: rebuilding
ninja: no work to do.
-- west flash: using runner dediprog

DpCmd Linux 1.11.1.07 Engine

[2022-01-26 14:12] ctuzane opened #42177 "PM_STATE_INFO_DT_ITEMS_LIST macro does not fill the pm_min_residency array"
I have assigned the cpu-power-states property via overlay as stated in the example device tree fragment. However, the PM_STATE_INFO_DT_ITEMS_LIST macro does not fill the pm_min_residency array in the policy_residency.c file. It is used as stated in the macro brief.

I am using the power management subsystem in residency mode. When I compile the code, I don't get any errors. In debug mode, I see th

[2022-01-26 14:14] Laczen commented on #41921
The 'DFU via bootloader' might be a closer match for usb, not for ble. As you add more and more communication methods to the bootloader it's size and complexity increases. I prefer a bootloader that does almost nothing, but does this good.

[2022-01-26 14:20] dleach02 commented on #42170
fixed by #42141

[2022-01-26 14:20] #42170 closed

[2022-01-26 14:22] hakehuang commented on #33747
@ainguraXmarquiegui @kevin137 the code branch is Ok for demo quality, but for better performance, we still has some more works to do, but I guess we can close this issue for now, and use another ticket to track the timer precision improvement. agree?

[2022-01-26 14:38] hakehuang opened #42179 "driver: i2s: i2s_mcux_sai build failure on mixmrt1170_evk_cm7"
**Describe the bug**
when enable the CONFIG_I2S_MCUX_SAI the i2s_api test build fail.

Please also mention any information which could help others to understand
the problem you're facing:

i2s driver issue

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mixmrt1170_evk_cm7
3. make
4. See error

**Expected behavior**
Build PASS

**Impact**
What impact doe

[2022-01-26 14:46] rlubos commented on #42134
I'm not that familiar with updatehub, but I'd check with `updatehub cloud` support first if their DTLS server is active at all - I've tried to establish DTLS connection with their server (`coap.updatehub.io:5684`) with both, Zephyr (mbedTLS) and openSSL, and it's simply unresponsive (no reply for the initial Client Hello at all), just as if the server was not running under the secure port.

[2022-01-26 14:46] Laczen commented on #42048
The settings system is not a key-value storage system. What the settings system does is declare how to process a key into some setting of the system. The settings system has no knowledge about what is stored in the storage backend, it only knows how to process things.

It is not about relative path versus full path, the settings_handler name is just the start of the key that is processed. As this

[2022-01-26 14:52] nordic-krch commented on #42164
Strange. I run it, added additional log message to `cmd_handler` in bttester.c and got it out on RTT. Can you try to add `CONFIG_LOG1=y` to your configuration and check again? `CONFIG_LOG1=y` should fall back to the state before that commit.

[2022-01-26 14:55] EmbedWise opened #42181 "Ethernet PHY imxrt1060 Teensy not working, sample with DHCPv4_client fails"
**Describe the bug**
Ethernet PHY imxrt1060 Teensy not initialising, sample with DHCPv4_client fails. It does not get an IP and the green activity light is not showing any activity.

Please also mention any information which could help others to understand
the problem you're facing:
 - Target Platform TEENSY41
 - Have verified that the hardware is successfully working with TeensyDuino (FNET)

**To

[2022-01-26 15:08] carlocaione commented on #42106
This is an interesting bug. At least for the problem I reported the problem is that `z_stack_is_user_capable(stack)` is returning `NULL`.

In particular what's returning `NULL` is `z_object_lookup()`:
[code]

The `(str == s)` comparison is failing because while the `str` is correctly carrying the address of the `stack`, the value of `s` retrieved from the `wordlist` table is wrong.

In particular

[2022-01-26 15:08] #42149 closed

[2022-01-26 15:09] #42061 closed

[2022-01-26 15:11] rlubos commented on #41996
Hi @petterssonandreas, thanks for the report.

I think this issue should already be fixed on my PR (https://github.com/zephyrproject-rtos/zephyr/pull/41744), where I've reworked error handling in the LwM2M content writers in general. Could you have a look?

[2022-01-26 15:23] carlocaione commented on #42106
This also happens with `qemu_x86_64` so this is a more general issue. Opening a different issue to track this.

[2022-01-26 15:31] carlocaione opened #42184 "Incremental build with config changes can produce an invalid binary when userspace is enabled"
This is reproducible on `qemu_x86_64` and `qemu_cortex_a53`. Derived from #42106.

Compile `samples/userspace/hello_world_user` + `CONFIG_NEWLIB_LIBC`.

On `qemu_x86_64`:
[code]

On `qemu_cortex_a53`:
[code]

In both cases `z_stack_is_user_capable(stack)` is returning `NULL`.

In particular what's returning `NULL` is `z_object_lookup()`:
[code]

The `(str == s)` comparison is failing because while

[2022-01-26 15:32] carlocaione commented on #42184
tagging @stephanosio

[2022-01-26 15:43] stephanosio commented on #42106
Closing this in favour of #42184 since that is the root issue.

[2022-01-26 15:43] #42106 closed

[2022-01-26 15:44] MathieuGeorges opened #42187 "Settings tests are not correctly run"
**Describe the bug**

When I build and run the tests for "system.settings.functional.nvs" for native_posix board, I only obtain this ouput :
[code]

It looks like no tests are run.
While debugging this unexpected behaviour, I found that the `test_main` function from `settings_basic_test.c` is not called but it calls the weaked one from `ztest.c` : `void __weak test_main(void)`. That is why nothing

[2022-01-26 15:50] benediktibk opened #42189 "Sub 1GHz Support for CC1352"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
For low power wireless applications support for the sub 1 GHz hardware of for instance the CC1352 would be very useful.
The corresponding evaluation board (Launchpad XL) is already supported by zephyr, only the wireless part is missing.

**Describe why you are asking for this

[2022-01-26 15:51] petterssonandreas commented on #41996
Hi @rlubos,

Great that you have made a PR for this. I took a quick look, and left some comments. I am not too familiar with the code so didn't really look at everything, but I tried to look at the parts that issue covers.

[2022-01-26 16:05] wcappelle commented on #42092
Great fix, I've experienced the same problems with an STM32L010RB board (even sometimes on the nucleo board with external -unstable- power). I've tried your fix, and so far no problems, but as you said reproduction isn't that easy..

[2022-01-26 16:07] stephanosio commented on #39948
@ibirnbaum Has there been any progress in fixing this issue?

[2022-01-26 16:22] cvinayak commented on #42065
Should be fixed by https://github.com/zephyrproject-rtos/zephyr/pull/41091/commits/94cf4cba9e61196c1fcac682a8b3ff1059fa852f and this commit in a separate PR will be sent to cover this github issue.

[2022-01-26 16:56] #41653 closed

[2022-01-26 17:15] #42070 closed

[2022-01-26 17:31] mbolivar-nordic commented on #41613
Minutes:

- @carlescufi :  milestones as defined in the wiki do not reflect what we do now. Should we refine this to reflect what we do now without having to reorganize ourselves. E.g. 'planning kickoff' could be replaced with 'talking about next release at first TSC meeting following a release'
- @dleach02 : we are time-based, so having a milestone to do planning based on P0/P1 etc doesn't happen

[2022-01-26 17:32] marc-hb commented on #39194
This and other features are missing simply because Zephyr does not use Github the way it's meant to be used, at least not before https://github.com/github/roadmap/issues/211 gets implemented. Right now Github tolerates force-pushes but does not really support them. Github is supposedly to be used like this:

- Single commit per Pull Request
- Never rewrite git history and never force push to addre

[2022-01-26 17:40] mbolivar-nordic commented on #38567
Process minutes:

- @mbolivar-nordic : AI to add documentation to the contributing guide mirroring Linux's documentation that s-o-b lines should use real names, not hacker handlers
- @MaureenHelm : there are also cases where bucket corporate accounts are used -- do we want those as well, or should we forbid them? e.g. support@foo.com instead of person@foo.com
- @nashif : it's part of the DCO that

[2022-01-26 17:57] mbolivar-nordic commented on #39194
Process WG:

- @keith-zephyr : GitHub has a feature proposal for seeing deltas between force pushes but it's not in any roadmap. The one I found was opened last year (https://github.com/zephyrproject-rtos/zephyr/issues/39194#issuecomment-1020645504).
- @MaureenHelm : is this on the roadmap or not?
- @keith-zephyr : not assigned a release version yet; nothing we can do for now
- @MaureenHelm : my m

[2022-01-26 18:56] ppryga opened #42197 "Bluetooth: Controller: llcp: No disconnect if remote does not response for initiated control procedure"
**Describe the bug**
Two connected devices are required.
First device periodically initiates some control procedure e.g. CTE request.
Second device responses to the control procedure as expected.
At the same time second device starts some other control procedure.
For some reason (even due to bug) the first device never sends response to procedure initiated by second device.

The connection is main

[2022-01-26 19:01] ctuzane commented on #42177
I'm using the nrf system_off sample. In addition to this sample, I added cpu power states via overlay. I was expecting a power state to be selected according to the tick count of the next thread in the pm_policy_next_state function, but I saw that there was a problem and the active state was always selected.

    static volatile const struct pm_state_info pm_min_residency[] =
	PM_STATE_INFO_DT_ITE

[2022-01-26 19:47] erwango commented on #42157
Fixed meanwhile

[2022-01-26 19:47] #42157 closed

[2022-01-26 20:31] gmarull commented on #42177
The code responsible for this part has been changed since the Zephyr version you report. There's a test that covers this part (https://github.com/zephyrproject-rtos/zephyr/blob/main/tests/subsys/pm/policy_api/src/main.c). Can you try using upstream Zephyr?

[2022-01-26 21:53] mnkp opened #42199 "drivers: qdec_sam: position measurement unstable if adc_sam_afec driver is enabled"
**Describe the bug**
The issue manifested itself when working with SAM E70 SoC on a custom board. I have configured quadrature decoder `qdec_sam` driver to use TC1 Timer Counter module. The driver worked flawlessly until I have also enabled `adc_sam_afec` driver on AFEC1 module, channels AD1 to AD8.

After ADC driver was enabled the position measurement returned by quadrature decoder driver become

[2022-01-26 22:03] kyrreaa commented on #42031
I will try again to get a sample working, but until I do  we may consider this a buffer issue "before" it reaches the ring buffer.

I must say though that I found the throughput really poor since it keeps stopping the sequence to grab another bit of the fifo, after it creates a callback when done with previous "reserved" bit. Surprising to find it did not check the fifo again after a 64 byte block

[2022-01-26 22:55] mnkp opened #42205 "drivers: i2s_sam_ssc: data received via I2S bus are partially corrupted"
**Describe the bug**
The issue was discovered when working with SAM E70 SoC on a custom board. The `i2s_sam_ssc` driver was configured to send and receive audio data using `I2S_FMT_DATA_FORMAT_PCM_LONG` format with 8 channels and 8 kHz frame rate. The data received on the first 2-3 channels would sporadically be corrupted. Audio quality on the affected channels was significantly deteriorated, with

[2022-01-26 23:19] keith-zephyr commented on #42136
My ask is to document the shell commands built into the executable.

[2022-01-27 01:18] manoj153 commented on #41915
It may be related to a similar issue I am facing. The board is nucleo_h723zg. Hopefully, my test result will help.

Kconfig:
[code]

Crash log:
[code]

[2022-01-27 01:42] manoj153 opened #42207 "[v2.7] LOG2 + Systemview leads to kernel panic."
When LOG2 + Systemview is set, it will lead to kernel panic.
Board: `nucleo_h723zg`

**Impact**
Panic  (showstopper)

**Kconfig**
[code]

**Logs and console output**
Crash log:
[code]
**Info and the culprit**
the symbol is set `CONFIG_LOG_BACKEND_RTT=y`
On Zephyr e4da3e528088a34a9989f5a50e7ed3149d57de92

[2022-01-27 02:19] dcpleung opened #42208 "tests/subsys/logging/log_api/ fails qemu_leon3 if ptr_in_rodata() is enabled for SPARC"
**Describe the bug**
The `ptr_in_rodata()` in `lib/os/cbprintf_packaged.c` excludes SPARC for now, while the `is_rodata()` in `log_core.c` works on SPARC. If SPARC is added to `ptr_in_rodata()`, `tests/subsys/logging/log_api/` asserts on timestamp tests on `qemu_leon3`:

[code]

**To Reproduce**
Add SPARC to `ptr_in_rodata()` in `lib/os/cbprintf_packaged.c`:
[code]

and run `west build -p -b qemu_

[2022-01-27 05:36] boaks commented on #42134
Using GET coap://coap.updatehub.io/ (without DTLS) results in 2.05 (and sporadically in 5.03). I guess, you need to contact the operator.

[2022-01-27 07:22] kruithofa commented on #42197
I agree that the connection should be terminated

[2022-01-27 08:18] ctuzane commented on #42177
Thanks for your answer. When I examined zephyr v.3.0.0 in the Github repo, I saw that there was a change as you stated. But since this version is Pre-release yet, I will wait for it to be realese. I will let you know if there is a problem in my attempt after it is released.

[2022-01-27 08:18] #42177 closed

[2022-01-27 08:59] mjaun opened #42214 "drivers: uart_nrfx_uarte: Cannot start another reception after reception is complete"
**Describe the bug**
Related to the `uart_nrfx_uarte` driver: After a UART reception is complete using the async API it is not possible to enable the reception again. A call to `uart_rx_enable()` fails with `EBUSY` while a call to `uart_rx_disable()` fails with `EFAULT`.

Here is how I think the bug is caused:

* If the reception is complete, an ENDRX interrupt is generated which will invoke the u

[2022-01-27 09:02] #41915 closed

[2022-01-27 09:03] ainguraXmarquiegui commented on #33747
@hakehuang you have definitely made some very valuable contributions in this issue, and I agree that some of it should be merged as soon as possible. It's especially important to merge the ethernet driver fixes. However, I wouldn't merge other parts of the current code base.

I have prepared a new branch that has everything I think we should be pulling to mainline:

https://github.com/ainguraXmarq

[2022-01-27 09:06] Thalley commented on #28009
So that issue would not be fixed by including the connection status in this.

Did you experience other issues where the connection status would be helpful?

[2022-01-27 09:07] hakehuang commented on #33747
@ainguraXmarquiegui , ok, can you create PR for review? and I am ok to keep this issue open.

[2022-01-27 09:19] ainguraXmarquiegui commented on #33747
@hakehuang , here's the pull request:

https://github.com/zephyrproject-rtos/zephyr/pull/42216

[2022-01-27 09:35] erwango opened #42218 "stm32wl: Issue when disabling gpio interrupt"
**Describe the bug**
`tests/drivers/gpio/gpio_api_1pin` is failed on nucleo_wl55jc
cf https://github.com/zephyrproject-rtos/test_results/pull/775

On some gpio lines it could be impossible to disable IRQ since one exti function is not able to report the correct IRQ source.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p -b nucleo_wl55jc tests/drivers/gpio/gpio_api_1pin
2. west

[2022-01-27 09:45] erwango commented on #42147
Have you tried `west update` ?

[2022-01-27 10:01] #41190 closed

[2022-01-27 10:23] #42117 closed

[2022-01-27 10:29] gmarull commented on #42147
Closing as file exists in `stmemsc` module:

[code]

Sensor build_all tests works fine, so `west update` is likely needed.

[2022-01-27 10:29] #42147 closed

[2022-01-27 11:42] alwa-nordic commented on #39317
@jhedberg I think it should be safe to call `settings_load_subtree("bt")` at least. I'll add this to the doc.

[2022-01-27 12:04] carlescufi commented on #41839
@ceolin @r2r0 please open an Enhancement issue for documenting this behaviour if you want to.

[2022-01-27 12:04] #41839 closed

[2022-01-27 12:10] carlescufi commented on #42112
@sjanc does this ring a bell at all?

[2022-01-27 12:11] #42125 closed

[2022-01-27 12:28] sjanc commented on #42164
OK, so crashing on start was mistake from my side. Autopts is restarting board and debugger was going crazy. So there is no crash on init, but tests are not passing with V2 logs (not even a single one). We see some BTP communication which seems to be OK, yet tests are timing out.

Setting CONFIG_LOG1=y fix the issue and tests are passing...

We will try to debug it further but it does look like V2

[2022-01-27 13:41] abxy commented on #28695
I am considering taking on porting FCB2.

From what I gather, FCB2 stores metadata in fixed length structs with a separate CRC in the top of each sector, allowing corrupt entries to be skipped easily. I think this should address your concerns @Laczen.

[2022-01-27 13:42] hanselfberg commented on #28009
@Thalley No, I don't have a concrete case for it. I think it seems likely to be out of sync sometimes unless the function is only called from the connection-related callbacks, but that should be ok I think. However, a flag for the CONNECTED state would probably be quite useful to avoid caching connection info about active connection(s) in the application (i.e. just call the connection info functio

[2022-01-27 13:51] nordic-krch commented on #42164
There is a slight performance degradation compared to v1. Another thing could be stack overflow due to increased stack usage when log2 is used (i have no number how they compare). Can you try disable `BT_DEBUG` to check if it is in bluetooth debugging?

[2022-01-27 13:59] jhedberg commented on #28009
Wouldn't the `connected()` and `disconnected()` callbacks as part of the `bt_conn_cb` struct suffice for that?

[2022-01-27 14:04] Laczen commented on #28695
@abxy, I don't know how error proof fcb2 is compared with fcb/nvs. Nvs has some quite extensive testing to check all failure modes, probably fcb2 would need the same. I no longer consider nvs as a good solution as it requires non sequential flash writing. From your remark I would conclude that fcb2 also does not do sequential flash writing.

[2022-01-27 14:21] EmbedWise opened #42227 "Teensy41 support SDHC - Storage init Error"
**Describe the bug**
Working on the Teensy41 and trying to get the SD Card functionality to work. For this using the application developed by @bdkrae / @ufechner7. See https://github.com/bdkrae/zephyr_teensy4_test. Which is based on the `zephyr/samples/subsys/fs/fat_fs`.

Please also mention any information which could help others to understand
the problem you're facing:
 - Using a Teensy41
 - San

[2022-01-27 14:27] erwango opened #42228 "hal_stm32: Wrong symbol definition"
**Describe the bug**
cf https://github.com/zephyrproject-rtos/hal_stm32/pull/119
and https://github.com/STMicroelectronics/STM32CubeU5/issues/4#issuecomment-1023261842

[2022-01-27 14:32] hanselfberg commented on #28009
@jhedberg I think it's possible to use those connection callbacks and maintain a local cache for the values, but the flag would make it easier and better since no cache is needed and I can just call the connection info function from a thread to get information about the connection and as well know that it is actually connected.

[2022-01-27 14:43] Thalley commented on #28009
Not really sure why you mention caching here, unless you mean caching of the connect state of the `bt_conn`, which arguably the application should in most cases know what state it is in at all times anyways. Basically whenever you need some information, you should call the `get_info` function. Regardless of connection state, caching the returned value may give you outdated values later on as sever

[2022-01-27 15:01] Laczen commented on #28695
@abxy, I did a quick read of `fcb2_append`, it seems that fcb2 stores entry data (size, ...) from the end of a sector, while the data is from the start. It seems that the entry data is 6 bytes that might require byte write support in flash (the same as for fcb). As the data is written after the entry also the data needs to be protected with a 2 byte crc.
The major limitation IMO is that it require

[2022-01-27 15:04] #39624 closed

[2022-01-27 15:06] abxy commented on #28695
@Laczen I agree about testing. What is the issue with non-sequential flash writing?

I don't believe this is correct. It seems to accommodate other granularities via `fcb2_len_in_flash`  defined in [`fcb2/src/fcb_priv.h` ](https://github.com/apache/mynewt-core/blob/2673c6c414f05028abf12039033d3ec27f87d98b/fs/fcb2/src/fcb_priv.h)

[2022-01-27 15:16] hanselfberg commented on #28009
@Thalley Should I assume the info returned by the function is consistent, so just updating a local connected flag in the connected and disconnected callbacks and call the get info function from a priority lower than the callbacks would be enough to have the info and also know that the connection is connected (i.e. no point using the callbacks (connected, disconnected, le_param_updated, le_param_re

[2022-01-27 15:44] Laczen commented on #28695
More and more flashes (e.g. nand based) do not support non-sequential writing.

Correct.

[2022-01-27 16:32] enjiamai commented on #41388
@PerMac I like this idea, this is only use for code coverage. And we don't need to increase too much overlap files. Just a extra coverage.conf for special purpose. We can think about how to implement that.

[2022-01-27 18:55] bennettbe opened #42235 "SocketCAN not supported for NUCLEO H743ZI"
Running the sample **zephyr/samples/net/sockets/can/** with build and flash commands,

[code]

fails after flashing and the board outputs.

[code]

I found a similar issue that was report back in 2020, https://github.com/zephyrproject-rtos/zephyr/issues/30432. Commits were added to fix this issue.

Is there socket can support for the Nucleo H743zi?

[2022-01-27 21:58] Thalley commented on #28009
No, quite the opposite. You cannot rely on (at least quite a few of the the fields) to be consistent, as they made change over time.
If you want to keep your cached data up to date, you'll either need to update it manually in the callbacks, or call `get_info` in the callbacks to have the host stack update the struct for you.

I don't see any reason why not to call the `get_info` in the callback it

[2022-01-27 22:16] mnkp commented on #17005
This week Zephyr TSC is voting on a motion to manage Binary Blobs in Zephyr. If the motion passes that will be first step to get support for SiLabs RAIL.

[2022-01-27 22:23] bob2oneil commented on #39707
Spoke too soon, runtime dynamic changes using the Telnet interface but targeting the serial interface does not change the logging level.
[code]

[2022-01-27 23:52] szczys opened #42240 "doc: Propose adding a section on Over-the-Air (OTA) updates"
**Is your enhancement proposal related to a problem? Please describe.**
I was looking to reference Zephyr docs on over-the-air updates but found nothing on the topic.

**Describe the solution you'd like**
Add an OTA page and making it a bullet point in the [Device Management](https://docs.zephyrproject.org/latest/guides/device_mgmt/index.html) section (plus tidying up that page).

This page alread

[2022-01-28 06:17] RafaelLeeImg commented on #41963
This is not a bug, This problem is caused by insufficient stack size.
Set stack to 4k will solve this problem.
[code]
 I'll update the details soon.

[2022-01-28 06:28] nordic-krch commented on #39707
try `log backend log_backend_uart enable wrn app`. App module has no debug level compiled in  (`built-in` column) so you cannot change to it.

[2022-01-28 07:06] erwango commented on #41963
@RafaelLeeImg Thank for the heads up. Don't hesitate to close when ready

[2022-01-28 08:11] erwango commented on #42235
@alexanderwachter Would you mind having a look ? (at least to see of this isn't a basic configuration issue)

[2022-01-28 08:56] sjanc commented on #42164
Hi,

disabling BT_DEBUG doesn't fix the issue

[2022-01-28 09:05] #41339 closed

[2022-01-28 09:05] #40638 closed

[2022-01-28 09:06] #42092 closed

[2022-01-28 09:06] #41951 closed

[2022-01-28 09:06] hanselfberg commented on #28009
@Thalley I think your answer seems to indicate that the get_info function is meant to be called only from the callbacks. Is that how it's meant to be? If so, I think there is no issue except that I think this is important to mention specifically in the documentation for the function.

In addition I think that if this function is meant to be called only from the connection callbacks, it would actua

[2022-01-28 09:06] #42151 closed

[2022-01-28 09:07] #42161 closed

[2022-01-28 09:07] #42199 closed

[2022-01-28 09:07] #42205 closed

[2022-01-28 09:23] alexanderwachter commented on #42235
#41847 will solve this issue

[2022-01-28 09:57] Thalley commented on #28009
It is not meant to be called only from callbacks. My point is that it can be called in any context, and there's no reason not to call it from the callbacks, if you need the data there.

My other point is that is isn't a good idea to cache this in the application, rather than calling it whenever you need any current specific information (e.g. the PHY, the connection interval, peer address, etc.), a

[2022-01-28 10:23] #42228 closed

[2022-01-28 10:38] erwango commented on #26874
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/41497

[2022-01-28 10:38] #26874 closed

[2022-01-28 10:40] erwango commented on #34649
@shuiyihang I'm closing the point, feel free to reopen if required

[2022-01-28 10:40] #34649 closed

[2022-01-28 10:43] erwango commented on #35816
@manoj153 ping

[2022-01-28 10:51] realszopen commented on #41597
@carlescufi Can anyone please answer the above?

[2022-01-28 11:31] hanselfberg commented on #28009
@Thalley Ok. Then it should be fine doing what I wrote before ("updating a local connected flag in the connected and disconnected callbacks and call the get info function from a priority lower than the callbacks would be enough to have the info and also know that the connection is connected")? I.e. there is no issue where I'll get the info with partly old values and the other part with new values

[2022-01-28 11:58] Thalley commented on #28009
If you call `get_info` in the callback, then you can (probably) be sure that the data won't change until you get the result. This of course comes from the fact that you are in the RX thread, and the RX thread can thus not change anything while in that function.

If you call `get_info` in another thread with lower priority, then yes, the values may change (although somewhat unlikely). But this is t

[2022-01-28 12:08] alwa-nordic commented on #42048
From https://docs.zephyrproject.org/latest/reference/settings/index.html:

Sounds very much like it's sold as a key-value storage system.

I assume all the backends are serializing the key and the value into one stream. The key can be in two parts. I do not appreciate your '??'. It's rude.

[2022-01-28 12:43] EmbedWise commented on #42181
Finally got it to work on Zephyr 2.7.1 branch. With two steps:

- copy the changes from https://github.com/elcritch/zephyr/commit/55a3100b6eae952db37f6a814ee59303ebf0d661
- and adding using the following prj.conf:

[code]

For me, it was necessary to add

[code]

Result:
[code]

[2022-01-28 12:50] Laczen commented on #42048
In a key-value storage system the key is not only used to store, but also to retrieve the value.

In the settings system the key is not used to retrieve the value, instead for all stored key-value combination a method is defined to use the value. The settings system does not load a key-value combination.

I'm sorry if you considered this as rude. But as I explained above your assumption is wrong.

[2022-01-28 12:57] Thalley commented on #42048
Is that exactly what the `settings_runtime_get` function does?

[2022-01-28 13:03] hanselfberg commented on #28009
@Thalley I think I'll definitely try to remember to avoid calling the function other than in the connection callbacks next time, so I think I should have enough "state awareness" as well by doing it that way.

It sounds like a good idea to look into similar race conditions, i think. It will of course not be good if the app works on the wrong assumptions due to wrong values from the controller.

[2022-01-28 13:19] Laczen commented on #42048
Not by default, `settings_runtime_get` just calls the `h_get()` routine that is associated with a handler.  This could allow you to retrieve present values of some key-value combination. This does not do anything on the backend, so it doesn't retrieve any stored information.

[2022-01-28 13:50] Thalley commented on #28009
Do you think this issue can be considered closed then?
It seems like there are indeed some... Challenges... But they are not fixable by adding the connection state the function or struct.

[2022-01-28 13:52] Thalley commented on #42048
This issue was raised for the settings API, and not so much the backend. The API certainly exposes settings as key-value storage (and I am perfectly fined with closing this, as that is what I was really suggesting to add, before I found the `settings_runtime_` API). What is going on in the backend is irrelevant to my original request :)

[2022-01-28 14:06] Laczen commented on #42048
@Thalley, just to be extra clear and avoid any confusion, the `settings_runtime_` API does not retrieve anything from storage.

[2022-01-28 14:14] Thalley commented on #42048
Then what does it do?

The brief is `Get a value corresponding to a key from a module handler.` and the `example_runtime_usage` shows an example of injecting (odd word of choice) into settings, and then also fetching the value again.

The implementation calls `h_get` which has this brief: `Get values handler of settings items identified by keyword names.`, so I am a bit confused.

Can you elaborat

[2022-01-28 14:44] EmbedWise commented on #42227
I tested the interface with Arduino and the same SD card. Which works and shows both information and files on the SD card.

[2022-01-28 14:51] Laczen commented on #42048
Suppose you have a key: `bt/id` and this id is changed during use, and we call the variable `id`
During startup you would like to restore a value: you define a handler with name `bt/id` with handlers `h_set` and `h_get`. `h_set` is called when during `settings_load()` stored item with key=`bt/id` is found.
Now during runtime there is some other part of the application that needs to now the value o

[2022-01-28 14:55] hanselfberg commented on #28009
@Thalley Since you say get_info is intended to be called not just from the connection callbacks, I'd say the state should be included as well, but now knowing that the data can be corrupted (even though the risk might be low) makes me change my  intention to only call it from the connection callbacks from now on. So since doing it this way also implicitly gives me the state information as well, I

[2022-01-28 15:21] EmbedWise commented on #42227
When the function usdhc_board_access_init is ran in zephyr/driver/disk/usdhc.c

[code]
Additional information:
The card present switch is not connected to the i.mxrt of the Teensy 4.1 .

So the cd-gpios in the dts should not be there.

The statement `if ((base->PRES_STATE & USDHC_PRES_STATE_CINST_MASK) != 0) { ` evaluates false and therefore does not detect the SD card. I could not find where this

[2022-01-28 15:50] Thalley commented on #42048
Sure does, thanks! That isn't particularly clear from the documentation, nor the example though.

However in that case, then the original request from this issue still stands :)

[2022-01-28 15:53] bob2oneil commented on #39707
Got it, I did not understand what the "built-in" column represented in terms of compiled logging levels.

Thanks for the help on this, closing it out.

[2022-01-28 15:53] #39707 closed

[2022-01-28 15:59] thomasnonis opened #42269 "impossible to run west flash. NoneType error"
**Describe the bug**
When i run `west flash` I get the reported error.

OpenOCD is installed and is in PATH, if I run `openocd` in the command line it works (`Open On-Chip Debugger 0.11.0 (2021-11-18)`).

**To Reproduce**
To reproduce run `west flash` in the zephyr directory

**Expected behavior**
The program should be built

**Impact**
If this doesn't get solved, no work can be done.

**Logs and

[2022-01-28 16:14] Laczen commented on #42048
Yes it does :), but for settings the `subtree` has no meaning whatsoever, the meaning is defined in the bt subsystem. So it would be best that the bt subsystem assembles the key (either  at compile time using macro's, or in runtime using a buffer).

[2022-01-28 18:35] sjanc commented on #42164
fixed with https://github.com/zephyrproject-rtos/zephyr/commit/a40ca6fd1c8b730fa372768d4d14d601785874e2

[2022-01-28 18:35] #42164 closed

[2022-01-28 19:11] JeremyBCD opened #42271 "[Backport v2.7-branch] drivers: can: m_can: The can_set_bitrate() function doesn't work."
**Describe the bug**
Using the `can_set_bitrate()` function to change the bitrate of a m_can-compatible CANBUS peripheral doesn't work. The function returns success (0) but the bitrate doesn't change.

Tested on STM32H753-based proprietary board, nucleo_g474re, and nucleo_h753zi.

**To Reproduce**
Steps to reproduce the behavior:
1. Call `can_set_bitrate()`, setting a new bitrate.
2. Attempt to re

[2022-01-28 19:19] ceolin commented on #41911
Yep, I can confirm, if we clear out the flags with the scheduler locked the problem seems to go away. The assessment is correct, the main thread is scheduled after the system resumes and before the flags being cleared out.

[2022-01-28 19:22] neja20 commented on #31593
Bump!
Still happening on stm32h7xx. Just had a rough few weeks with the same exact problem. Dummy hold F5 key test with Firefox over HTTPS(not HTTP) manages to break things in couple of seconds. There seems to be a race condition in the tcp stack regarding the net_pkt leaks between the connection and listen thread when the stack is running out of free net_pkts. It happens with the civetweb and wit

[2022-01-28 19:31] joeyh opened #42272 "doc: "Building on Linux without the Zephyr SDK" does not describe how to actually do it"
**Describe the bug**

I am a new user, and was following https://docs.zephyrproject.org/latest/getting_started/index.html

Since I know my debian system has cross compilers that can target eg, adruino, I thought I'd try to skip installing the zephyr SDK.

I followed a link to https://docs.zephyrproject.org/latest/getting_started/installation_linux.html#zephyr-sdk to read more about the SDK and per

[2022-01-28 19:32] waelbarakat opened #42273 "CONFIG to define a __FILENAME__ and use that instead of __FILE__ to reduce flash usage"
**Is your enhancement proposal related to a problem? Please describe.**

In order to reduce flash usage, we're trying to minimize the strings that are compiled in, mainly from using asserts defined in `__assert.h`.

Many strings show up as
[code]

There's a config to help reduce the strings by removing the condition being tested `CONFIG_ASSERT_NO_COND_INFO` but it would be great if there could be

[2022-01-28 19:42] Thalley commented on #42048
We did talk about that solution as well, and basically implement more `bt_settings_` APIs.

Doesn't all settings need a `foo/bar`, i.e. a `/`, or can you just store values as `foo` and `bar`?

[2022-01-28 20:24] tejlmand commented on #38978
Re-opened, as this is still valid.

[2022-01-28 20:31] #41523 closed

[2022-01-28 21:03] kestewart opened #42277 "Zephyr Docs on West need to be updated to include SBOM generation"
**Describe the bug**
The project documentation does not describe how to use the west spdx command to build SBOMs

Please also mention any information which could help others to understand
the problem you're facing:
People are interested in generating SBOM's and while Zephyr has the capability, it is not documented in Zephyr's public documents.    To get the information on how to invoke it, it's ne

[2022-01-28 22:02] mlsvrts opened #42278 "USB CDC-ACM non-functional after host reboot"
**Describe the bug**
I'm running a USB CDC-ACM endpoint for both logging and as a uart shell on a NXP RT1050. When I start my application from chip reset, USB works correctly; I can see log messages, and use the uart shell.

After any platform state transition (sleep (S3), hibernation (S4), or off (S5)), the USB CDC-ACM endpoint is no longer functional when the system resumes. It is possible to co

[2022-01-28 22:35] AshwinKrishn opened #42279 "The pthreads are not working on user space. ARM64 cortex_a53 but generic requirement."
**Describe the bug**
Pthread is not working on ARM user space. The system exits when pthreads start.

Please also mention any information which could help others to understand
the problem you're facing:
 - The pthread requires stack to execute and creating the stack array is not possible in user space.
 - Is there a work around to provide it stack ?

**To Reproduce**
Steps to reproduce the behavio

[2022-01-28 23:03] thomasnonis commented on #42269
I deleted the whole zephyrproject directory and re-downloaded everything. This did the trick.

[2022-01-28 23:03] #42269 closed

[2022-01-29 00:15] #42159 closed

[2022-01-29 00:15] ceolin commented on #41944
yep, that is a real problem. The bluetooth stack takes a sempahore and we have an assert checking if it is the idle threa doing it. We don't want the idle thread being blocked  ... also this operation can not be async since the soc will be powered down.

This particular situation seems ok to ignore the assert because is is happening when powering off the system ... if you build without asserts you

[2022-01-29 00:30] ceolin commented on #41677
I saw this  happen in a different scenario happens with power domain. In the follow example you have a domain and two devices using it. The DT will generate aa dependency between them, but the domain may not be defined if we don't build with this feature enabled. In this situation the same problem will happen, we will have an undefined reference  ...
[code]

So, if I understood correctly, we can't

[2022-01-29 01:15] MaureenHelm commented on #42277
`west spdx` is an extension command, not a built-in command:
https://docs.zephyrproject.org/latest/guides/west/zephyr-cmds.html#software-bill-of-materials-west-spdx

[2022-01-29 01:29] bob2oneil commented on #39707
Quick question on this topic.  So the registration for a module for the logging system does both establishing the maximum level of logging, but also the current.

So how might I for example enable DBG level as possible (this is understood) while at the same time having the application current set only to INF?  Is there an API for that?

[2022-01-29 05:27] Laczen commented on #42048
You can store values under `foo` and `bar` without a `/`.

[2022-01-29 08:35] helo9 opened #42288 "Use twister with out of tree drivers."
**Is your enhancement proposal related to a problem? Please describe.**
I would like to run twister in an application with out of tree drivers. As far as I could see, that is not possible atm.

**Describe the solution you'd like**
Add a option to define an module path (where _zephyr/module.yml_ is living and use the folders given there.

**Describe alternatives you've considered**
Manually set the

[2022-01-29 14:05] snarkipus opened #42290 "ESP32 - Heltec Wifi - Possibly invalid CONFIG_ESP32_XTAL_FREQ setting (40MHz). Detected 26 MHz"
### Discussed in https://github.com/zephyrproject-rtos/zephyr/discussions/42283

<div type='discussions-op-text'>

<sup>Originally posted by **snarkipus** January 28, 2022</sup>
Hello - I'm trying to build the sample/Hello_World file for the [Heltec Wifi Kit 32](https://heltec.org/project/wifi-kit-32/)

The project builds just fine, but it looks like the config is locked to 40MHz so the monitor ou

[2022-01-29 15:37] manoj153 commented on #35816
@erwango what you need from me?

[2022-01-29 15:52] henrikbrixandersen commented on #42288
Please describe the problem you are seeing. I am using twister with out-of-tree drivers just fine.

[2022-01-29 16:39] muhady opened #42292 "Compilation failed: Driver MPU6050"
When I compile Zephyr project with MPU6050 sensor I got an error:

.....
[64/161] Building C object modules/nrf/lib/fatal_error/CMakeFiles/..__nrf__lib__fatal_error.dir/fatal_error.c.obj
[65/161] Building C object modules/nrf/drivers/hw_cc310/CMakeFiles/..__nrf__drivers__hw_cc310.dir/hw_cc310.c.obj
[66/161] Linking C static library zephyr\drivers\i2c\libdrivers__i2c.a
[67/161] Building C object ze

[2022-01-29 16:45] helo9 commented on #42292
That output `C:\nordicsemi\v1.8.0\zephyr\include\devicetree.h:305:40: error: 'DT_N_INST_0_invensense_mpu6050_BUS_P_label' undeclared here (not in a function)` looks like your sensor is missing in [devicetree](https://docs.zephyrproject.org/latest/guides/dts/intro.html#aliases-and-chosen-nodes). In case you didn't add it to an [overlay](https://docs.zephyrproject.org/latest/guides/dts/howtos.html#u

[2022-01-29 16:53] helo9 commented on #42288
Ah nice, I get this error:
[code]
when running `../zephyr/scripts/twister -T samples -A boards` in my application. But when looking into my normal builds again, I see the same message, it is just ignored from the build system. So I rather have to see how to make spektrum a known vendor or rename it. Will close and eventually reopen, in case problem is present afterwards.

[2022-01-29 16:53] #42288 closed

[2022-01-29 16:55] henrikbrixandersen commented on #42288
The procedure for adding new vendor prefixes, which also applies to out-of-tree bindings, is described here:
https://docs.zephyrproject.org/latest/guides/dts/bindings.html#vendor-prefixes

[2022-01-30 00:29] #40390 closed

[2022-01-30 03:24] ck-telecom opened #42293 "Sample: Bluetooth: discovery more than 2 services and its chrc"
**Is your enhancement proposal related to a problem? Please describe.**
I never found an example on dicovery more than 2 services and its chrc, I wonder how it is the best way?

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-01-30 10:48] erwango commented on #35816
I asked you a question on this point [here](https://github.com/zephyrproject-rtos/zephyr/issues/35816#issuecomment-959710933)

[2022-01-30 12:28] nandojve commented on #38544
Hi @chrisc11,

May you please take a look at this?

[2022-01-30 12:30] nandojve commented on #39814
Closing this since it seems similar to #39808.

[2022-01-30 12:30] #39814 closed

[2022-01-30 12:50] muhady commented on #42292
I didn't add overlay as you mentioned.
Thank you so much

[2022-01-30 12:50] #42292 closed

[2022-01-31 00:29] #40223 closed

[2022-01-31 00:29] #39585 closed

[2022-01-31 03:03] JordanYates opened #42299 "spi: nRF HAL driver asserts when PM is used"
**Describe the bug**

When controlling the PM state of a SPIM instance with `pm_device_state_set` before it has been used, an assertion is triggered inside the HAL driver (nrfx_spim.c).

The HAL driver cleanup function validates that the driver has been previously configured with an `NRFX_ASSERT`, which is enabled with `CONFIG_ASSERT`. https://github.com/zephyrproject-rtos/hal_nordic/blob/a42b016d

[2022-01-31 06:33] nordic-krch commented on #35316
@sslupsky  USB CDC ACM poll_out function has been reworked to be callable from interrupt #37503. That should impact it (potentially fix it). Do you still see the issue?

[2022-01-31 08:00] nordic-krch commented on #41517
@ycsin could you try to check if issue exists still on latest? There was #42164 where RTT backend was used and unexpected hardfault occurred. Turns out that a40ca6f fixed it.

[2022-01-31 08:01] nordic-krch commented on #41806
@PerMac any news?

[2022-01-31 08:16] de-nordic commented on #37193
I'll take over. I have idea how to follow with this, although it requires change in mcumgr/lib.

[2022-01-31 08:39] Thalley commented on #28009
I would argue that the state doesn't help, as the state is provided via the callbacks in any case, and there are more intermediary states that we don't want to add to the public API, so we would also need to add a new (simpler) state enum for this specific function.

The larger issue at hand, i.e. the race conditions, is outside the scope of this PR, as that may happen in many scenarios I'm afraid

[2022-01-31 08:40] r2r0 commented on #41944
@erwango Would it be possible to use asynchronous call (with polling) instead of bt_hci_cmd_send_sync?

[2022-01-31 09:32] hermabe opened #42306 "Bluetooth: Host: More than `CONFIG_BT_EATT_MAX` EATT channels may be created"
**Describe the bug**
It is possible to connect more than `CONFIG_BT_EATT_MAX` enhanced ATT bearers on a connection if `CONFIG_BT_MAX_CONN` > 1.

The check on [att.c:2896-2905](https://github.com/zephyrproject-rtos/zephyr/blob/b374dc6a7fd8f841394ad6cf2364c7ceef05f3c7/subsys/bluetooth/host/att.c#L2896-L2905) does not work when a credit based connection request has been sent and not responded to yet,

[2022-01-31 09:44] Thalley commented on #42048
Okay, then there has been a fundamental misunderstanding on our side :) This is probably based on the significant use of the word `subtree` in `settings.h`, but if there is no such thing as a `subtree` in the settings, and that they are all just "keys", then the documentation need a significant update.

[2022-01-31 10:44] Laczen commented on #42048
That is OK :).

Regarding the use of `subtree` in settings.h you are misunderstanding a `helper` feature with a requirement. The settings system contains very few requirements, but quite a lot of helpers e.g. subtree loading (which is just ignoring keys that do not start with the subtree), `settings_name_steq`, `settings_name_next`. Al these helpers work in cooperation with the 'separator /'. Ther

[2022-01-31 10:46] erwango commented on #41944
@r2r0 I think that this would work indeed. Not need to add a supplemenary polling as it is already present with the following check in function `shutdown_ble_stack`.
[code]
So the new code would looks like:
[code]

[2022-01-31 10:54] erwango opened #42308 "pm: Force shutdown has no effect"
**Describe the bug**
Running `samples/boards/stm32/power_mgmt/stm32wb_ble`, we can observe that call to `pm_power_state_force((struct pm_state_info){PM_STATE_SOFT_OFF, 0, 0});` has no effect anymore.

When adding following lines after the shutdown command, we can observe the ERROR statement is reached
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p -b nucleo_wb55rg board

[2022-01-31 11:03] Thalley commented on #42048
I think you may have missed my point. You stated

But that seemingly isn't the case, with the significant use of the term in the settings API.

You also stated

So if I store a value

[code]

Then there's only the key "foo" and no subtree.

However, to get the value from storage, I'd need to use a `settings_handler`, right? Which would be something like
[code]

and then also have
[code]

In this e

[2022-01-31 11:13] #42065 closed

[2022-01-31 11:14] #42299 closed

[2022-01-31 11:19] manoj153 commented on #35816
maybe using `counter_set_channel_alarm()` will satisfy the requirement, I need to study counter API a bit, will let know / close the issue once I have done assessment on my end

[2022-01-31 11:24] r2r0 commented on #41944
Thanks @erwango - PR submitted.

[2022-01-31 11:37] erwango commented on #42308
Short analysis points to https://github.com/zephyrproject-rtos/zephyr/pull/40339.

[2022-01-31 11:41] RR-Rico opened #42310 "Support for TCA6408A gpio expander, which existing driver as a base?"
I have to add support for the
`TCA6408A Low-Voltage 8-Bit I2C and SMBus I/O Expander With Interrupt Output, Reset,
and Configuration Registers`.

Is there a similar gpio driver already implemented which you can recommand the use as a baseline for the implementation?

[https://www.ti.com/lit/ds/symlink/tca6408a.pdf](https://www.ti.com/lit/ds/symlink/tca6408a.pdf)

[2022-01-31 12:10] Laczen commented on #42048
Probably this would be simpler to understand, but also less efficient on a slow backend. And also a lot less flexible. If you would like such the routine `settings_retrieve_one(key, value, value_len)` to be added I see no problem with creating one, but it would need the side note that this requires each retrieve to go through the entire set of stored keys and could result in slow behavior. Of cour

[2022-01-31 12:19] Thalley commented on #42048
But can't the same be said for the `settings_save_one`? Isn't it also slower to write only a single value, instead of a subtree?

That depends on whether you still claim that `subtree` isn't part of the settings, or if it is. If all settings need a `subtree`, then the save/load (or retrieve) should contain a subtree argument. But if `subtree` isn't required, then there is no subtree, just a `key`

[2022-01-31 13:04] Laczen commented on #42048
Writing a value requires an item to be added at the end, not going through the backend to find the value. When writing multiple values there is already the possibility to use the export function that can avoid opening/closing of the backend (although no backend is using this at the moment).

It seems to me like you would like the subtree to be a requirement for the settings subsystem. What would b

[2022-01-31 13:20] Thalley commented on #42048
So wait, if I call
[code]
twice, then there will be 2 values stored, i.e. it **appends** data instead of overwriting existing value for the same key?

I want there to be either a subtree and a key pair (e.g. ("bt", "name"), or just a key "bt/name", but the current API uses both which is confusing. Personally, for the sake of simplicity and how most other key/value storages work, I would go for jus

[2022-01-31 13:36] Zzzwierzak commented on #40201
@bbilas Yes, it's working with stm32wb55.

[2022-01-31 14:09] r2r0 commented on #42308
This is related to issue #41911.
Effectively current implementation of `pm_power_state_force` do nothing.
Sadly #41911 issue has low priority but fortunately fix is pending.

[2022-01-31 14:13] Laczen commented on #42048
No, the backend will normally filter this out to avoid flash wear. But this is not really important, if the backend filters out duplicate writes it needs to do this for each value that is saved, regardless of a bulk store or not.

This is how the `bt` subsystem is using the API, it is not enforced to do so. But it is efficient doing it the way it is done. Requiring very few error handling and very

[2022-01-31 14:20] erwango commented on #42308
Closing in favor of https://github.com/zephyrproject-rtos/zephyr/issues/41911

[2022-01-31 14:20] #42308 closed

[2022-01-31 14:37] kestewart commented on #42277
Thanks Maureen.     That was what I was looking for, but failing to find.

Was surprised though there was no mention in any of the release notes.

[2022-01-31 14:44] jfischer-no commented on #42031
This is on purpose to deal with different applications on the host. Depending on the host controller/application it limits throughput to 64 bytes per 1ms (FS controller). Improvable but not a bug.

[2022-01-31 15:18] rlubos commented on #39242
I've submitted a fix proposal in https://github.com/zephyrproject-rtos/zephyr/pull/42321

[2022-01-31 15:36] petterssonandreas opened #42323 "lwm2m_engine: Error when enabling debug log because of uninitialized variable `from_addr`"
**Describe the bug**
There is an uninitialized variable `from_addr` in function `socket_recv_message` in lwm2m_engine.c, which is the cause of the following error:
[code]

This error only occurs when debug logs are enabled, since the error is actually produced in a function called as an argument to a `LOG_DBG`.

The code in question:
https://github.com/zephyrproject-rtos/zephyr/blob/e83b0741285416

[2022-01-31 15:42] Laczen commented on #42048
OK, I'm out. I will comment on whatever PR that comes in.

[2022-01-31 15:44] de-nordic opened #42324 "mgmt/mcumgr/lib: Move to direct use of net_buf"
**Is your enhancement proposal related to a problem? Please describe.**
Currently there is a callback overhead, which has been inherited from original mcumgr architecture, that was designed to be system agnostic and allow different systems to work with mcumgr. This is no longer need as we support only one system, yet is present and adds into call paths and takes flash. Additionally it does not wor

[2022-01-31 15:48] Thalley commented on #42048
Thanks for your time so far

[2022-01-31 15:55] jfischer-no commented on #41597
What about `cmake -DBOARD=bl654_dvk -DCONFIG_CLOCK_CONTROL_NRF_K32SRC_RC_CALIBRATION=n ../` ?

[2022-01-31 15:57] de-nordic opened #42325 "mgmt/mcumgr/lib: RFC: Connection/SMP-mcumgr parameters negotiation"
**Is your feature request related to a problem? Please describe.**
There are many parameters that affect Connection or mcumgr SMP behavior like buffer size, count, MTU (tx/rx), flash page size, flash alignment, and so on that are currently hardcoded on device side and there is no way for client software to get information on them except for knowing it in advance, for example because vendor know ho

[2022-01-31 15:59] de-nordic commented on #42325
FYI @MarekPieta

[2022-01-31 16:08] hanselfberg commented on #28009
But that is only if it's called from a lower priority thread.

[2022-01-31 17:04] vleeb opened #42327 "question: increased power consumption after updating from zephyr 2.4 to zephyr 2.7 on nrf52840"
hi all,
i just encountered a substantial increase in the overall power consumption of a nrf52840 system in idle-operating mode after updating from zephyr 2.4.x to 2.7.x.
the idle power consumption was about 120uA with zephyr 2.4 and is now about 550uA with zephyr 2.7 ... after doing a direct migration, without any functional changes.
can anybody give me some advise, how to find, which software com

[2022-01-31 17:09] jfischer-no commented on #42278
@mlsvrts thanks for report. You changes makes sense at first glance, but there should be USB_DC_DISCONNECTED event, can you please try just the following changes:

[code]

[2022-01-31 17:12] #41894 closed

[2022-01-31 17:22] jfischer-no commented on #42227
@EmbedWise , would you like to open a PR to fix it in `boards/arm/teensy4/teensy41.dts` please?

[2022-01-31 17:46] neja20 commented on #31593
Finally i have found a soultion to the leak. Please have a look at my pull request #42328 . I hope the pull request explains it all. All in all it was a simple fix, however damn hard to find :)

I am new to the github contribution system, so excuse me if i am doing something wrong. @jukkar i have seen you under the network related issues, thats why i am mentioning you.

Thank you for cooperation

[2022-01-31 19:36] #42171 closed

[2022-01-31 19:43] MaureenHelm commented on #42277
It was mentioned in the 2.6 and 2.7 release notes:
[code]

It's implemented in the main zephyr repo, so you should be looking in the zephyr release notes, not the west release notes.

[2022-01-31 20:37] #42218 closed

[2022-01-31 20:58] nobodyguy commented on #19244
Tested this on 2.7 branch with nRF Connect Android app and I was still getting 1.7 kB/s. I also tried this together with cherry-picked CONFIG_MCUMGR_SMP_BT_LATENCY_CONTROL support and still no improvement.

[2022-01-31 22:39] natelust opened #42333 "Cannot write to qspi flash in adafruit feather nrf52840, device tree is wrong"
**Describe the bug**
The qspi flash chip on the adafruit feather nrf52840 does not support the write mode supplied in the devicetree file, meaning that no writes are possible. This lead to interesting issues when trying to define a partition and use it for DFU.

Switching to SPI mode proved to be too slow, and caused out of memory issues when attempting a DFU due mcumgr getting data faster than th

[2022-01-31 22:40] natelust commented on #42333
The pull request corresponding to this issue is: https://github.com/zephyrproject-rtos/zephyr/pull/42334

[2022-01-31 23:40] #42272 closed

[2022-02-01 01:21] dleach02 commented on #42179
Fixed by #42155

[2022-02-01 01:21] #42179 closed

[2022-02-01 01:23] dleach02 commented on #42181
@EmbedWise can you supply a PR with your changes?

[2022-02-01 04:52] sslupsky commented on #35316
@nordic-krch I haven't looked at this in a while.  I will have a look.

[2022-02-01 05:21] philips77 commented on #19244
nRF Connect for Android doesn't get support latest features. We're working on bringing them first to "nRF Connect Device Manager" app, and will release version 1.1 soon. With SMP reassembly or pipelining enabled we're achieving ~25-50 kB/s. This is with MTU (ATT_MTU) set to 498 and DLE enabled (L2CAP_MTU) and set to 251. Without the new features, but just with those parameters it gives ~10kB/s.

[2022-02-01 05:44] nobodyguy commented on #19244
@philips77 That's great to hear, thank you for the clarification.

[2022-02-01 07:27] Thalley opened #42341 "LE Audio: CSIS Ordered Access procedure use rank"
**Is your enhancement proposal related to a problem? Please describe.**
The ordered access procedure has mostly been implemented by `bt_csis_client_get_lock_state`, but that only reads the lock states of the members by rank, but does not execute any procedure. The point of the procedure is that we perform a specific procedure on each device in ranked order.

**Describe the solution you'd like**
Af

[2022-02-01 07:38] Thalley opened #42342 "LE Audio: PACS notify changes to locations"
**Is your enhancement proposal related to a problem? Please describe.**
When a client writes a new location, the location shall be notified.

**Describe the solution you'd like**
Notify the location.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A