[2022-08-24 20:14] photonthunder commented on #49482
This is handled by the syscfg register so is not an issue

[2022-08-24 20:14] #49482 closed

[2022-08-24 20:16] bjarki-trackunit commented on #49208
PPP is a data link layer, https://en.wikipedia.org/wiki/OSI_model, it simply allows for bytes to be sent, untreated, from one node to another, the IP stack formats the data (or packets) that must be sent from one node to another. PPP is just above the physical layer, which could be ethernet, or GPRS, or some LPWA technology. PPP creates what could best be described as a RAW tunnel, or socket, on w

[2022-08-24 20:46] thedjnK commented on #49479
You are mixing zephyr versions up: `-- Zephyr version: 3.1.99 (/home/user/zephyr-2.7.3/samples/net/openthread/coprocessor/zephyr)`

The way to get v2.7 is to use west directly, i.e. `west init --mr v2.7.3` not download a zip and use west

[2022-08-24 21:34] stephanosio opened #49491 "arch.interrupt test fails on ARM64 QEMU targets when compiled with GCC 12"
**Describe the bug**

The `arch.interrupt` test fails on the ARM64 QEMU targets (`qemu_cortex_a53` and `qemu_cortex_a53_smp`) when compiled with GCC 12, which is the toolchain included in the Zephyr SDK 0.15.0.

**To Reproduce**

With Zephyr SDK 0.15.0,

[code]

**Expected behavior**

Test passes.

**Logs and console output**

[code]

**Environment (please complete the following information):**
 -

[2022-08-24 21:35] stephanosio commented on #49491
cc @carlocaione @npitre @povergoing @SgrrZhf

[2022-08-24 21:51] stephanosio opened #49492 "kernel.poll test fails on qemu_arc_hs6x when compiled with GCC 12"
**Describe the bug**

The `kernel.poll` test fails on `qemu_arc_hs6x` when compiled with GCC 12, which is the toolchain included in the Zephyr SDK 0.15.0.

**To Reproduce**

With Zephyr SDK 0.15.0,

[code]

**Expected behavior**

Test passes.

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Toolchain: Zephyr SDK 0.15.0
 - Com

[2022-08-24 21:52] stephanosio commented on #49492
cc @abrodkin @evgeniy-paltsev @ruuddw

[2022-08-24 21:54] carlst opened #49493 "Bluetooth: ISO: samples/bluetooth/broadcast_audio_source error -122"
**Describe the bug**
samples/bluetooth/broadcast_audio_source displays log error -122

**To Reproduce**
Steps to reproduce the behavior:
1. build sample for nRF52840DK
2. run sample. console log displays: Unable to broadcast data on 0x20003ae4: -122

**Expected behavior**
sample should broadcast LE audio data

**Environment (please complete the following information):**
 - OS: Windows
 - Toolchain

[2022-08-24 22:02] stephanosio opened #49494 "testing.ztest.ztress test fails on qemu_cortex_r5 when compiled with GCC 12"
**Describe the bug**

The `testing.ztest.ztress` test fails on `qemu_cortex_r5` when compiled with GCC 12, which is the toolchain included in the Zephyr SDK 0.15.0.

**To Reproduce**

With Zephyr SDK 0.15.0,

[code]

**Expected behavior**

Test passes.

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Toolchain: Zephyr SDK 0.1

[2022-08-24 22:08] #49203 closed

[2022-08-24 23:03] sshahleg opened #49498 "net: lib: coap: update method_from_code() to report success/failure"
**Is your enhancement proposal related to a problem? Please describe.**
`coap_handle_request()` is unable to distinguish between two different situations:
(1) the request code is invalid (other than GET, PUT, POST, DEL, etc.)
(2) the function pointer is NULL for a valid request code

This is because `method_from_code()` returns NULL regardless of the two cases mentioned above.

Since `coap_handle_

[2022-08-25 00:21] smrtos commented on #48726
@galak  Will try it. Sorry for the late response.

[2022-08-25 01:08] edersondisouza commented on #49112
I'm not sure this classifies as a bug - indeed, although it's called "flush_inv_all", there's no support currently for flushing other cache areas than a default one. I'll change the label to "Enhancement" instead of "bug".

[2022-08-25 04:57] nick-kraus commented on #48671
Hi @nandojve , I've been trying to look into and diagnose what exactly is happening here, and I think I've found what is going on. It looks like the pointer to the endpoint FIFO for any given endpoint isn't being initialized until after the first write attempt, causing the first write transfer on any endpoint to be dropped.

In the existing code, when usb_dc_ep_write() is called for the first time

[2022-08-25 05:39] povergoing commented on #49491
Weird, I need to take a further look. `fvp_base_revc_2xaemv8a` also fails but `fvp_baser_aemv8r` has no issue

[2022-08-25 06:14] nandojve commented on #48671
Hi @nick-kraus ,

One thing that help me in the past was ran [testusb](https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/subsys/usb/testusb). I`ll see if I can check this issue on the weekend once it seems you maybe found the root of problem.

[2022-08-25 06:41] mjm987 commented on #49208
Ok, I agree it should be possible but there are still some problem when using PPP:

1. The server side needs modification by using a PPP Deaemon
2. Additional 6..8 bytes overhead which consumes some power
3. No influence about the connection according provider selection, select the lwpa thechnology (LTE-M or NB-IoT) baseband channels to use, power control (eDRX, RAI) etc. etc.

What I would prefer

[2022-08-25 07:32] jakkra commented on #49465
@cvinayak commit 76396496b6d9ea24a1e644565c5225222e63984f is indeed the problem, reverting it the behaviour is same/similar to nRF  Connect 2.0.
However I'm still getting some (currupt?):
[code]
I'll backtrack when it started.

[2022-08-25 08:01] bjarki-trackunit commented on #49208
1. The server will not see PPP, nor will it see the physical layer (LTE-M etc.) The **Destination** in my comment is a cellular tower. The server will see UDP or TCP, unless you are a network provider. PPP is used to communicate between the microcontroller and the modem, not the modem and the server, I see i made a mistake in keeping it in the second flow...
2. The PPP encapsulation is only used b

[2022-08-25 08:12] nordicjm commented on #32756
Cannot replicate this issue, have enabled uart1 for a board and changed the chosen nodes to:
[code]
uart1 is actually not connected to an external UART so I cannot monitor it, but with mcumgr configured to use UART instead of shell, I can send shell commands and get responses - sending `kernel stacks`:
[code]
Sending `kernel version`:
[code]
Getting task list (not a shell command):
[code]

[2022-08-25 08:18] jakkra commented on #49465
@cvinayak actually the invalid `PER_ADV_SYNC[9]: [DEVICE]: 00:D9:AC:00:00:00 (public-id) sync terminated reason: 62` is not something new, I see it now on Zephyr version used in nRF Connect 2.0 also. Just that I saw it a lot before reverting 76396496b6d9ea24a1e644565c5225222e63984f and thought it was new.

Do you have any input regarding this? Want me to open a new issue? It's not a huge problem a

[2022-08-25 09:48] prayassamriya commented on #44908
@sylvioalves, is there any updates on adc driver development for ESP?

[2022-08-25 10:37] cvinayak commented on #49465
@jakkra to confirm, https://github.com/zephyrproject-rtos/zephyr/commit/76396496b6d9ea24a1e644565c5225222e63984f is the only change for which a fix is needed, right? if so, I will upstream a PR to add a Kconfig to permit your application to not use the reduced time reservations for periodic sync PDU reception.

`PER_ADV_SYNC[9]: [DEVICE]: 00:D9:AC:00:00:00 (public-id) sync terminated reason: 62` i

[2022-08-25 10:51] jakkra commented on #49465
@cvinayak yes commit 76396496b6d9ea24a1e644565c5225222e63984f fixes the issues with degraded sync performance.

About sync term and the reason 62, I'm more talking about that the MAC address is invalid/garbage and not corresponding to any tags being tracked. The `bt_le_per_adv_sync_term_info`  `bt_le_per_adv_sync` parameters are mostly just 0's.

[2022-08-25 11:41] Thalley commented on #49465
Hmm, the only scenario that I can see is that if the scanning fails in `bt_le_per_adv_sync_create` and that the sync is established before the host manages to call `bt_le_per_adv_sync_delete` (which would cancel it), as the address is only set if the scanning succeeds or if the device is already scanning:
[code]

[2022-08-25 11:44] Thalley commented on #49465
Hmm, actually if the address supplied is garbage, which would probably result in sync terminated with error code 62 (`BT_HCI_ERR_CONN_FAIL_TO_ESTAB`), then that would explain it.

Please verify that the address in the sync parameters is correctly set (potentially provide an HCI log as well).

[2022-08-25 12:11] asbjornsabo commented on #41199
Will not be done - close

[2022-08-25 12:14] asbjornsabo commented on #41205
Zephyr-bt F2F: We have managed without for  a long time -  closing

[2022-08-25 12:15] asbjornsabo commented on #41204
Zephyr-bt F2F: Covered by other issues - closing

[2022-08-25 12:15] asbjornsabo commented on #41208
Zephyr-bt F2F: Covered by other issues - closing

[2022-08-25 12:15] asbjornsabo commented on #41203
Zephyr-bt F2F: Covered by other issues - closing

[2022-08-25 12:16] asbjornsabo commented on #41211
Zephyr-bt F2F: Covered by other issues - closing

[2022-08-25 12:18] Thalley commented on #41212
We should ues the bt_settings to store the data automatically from the stack.

[2022-08-25 12:20] asbjornsabo commented on #41213
Zephyr-bt F2F: Still missing in ASCS (possibly also in BASS, but that is going to be refactored).

[2022-08-25 12:21] asbjornsabo commented on #41214
Zephyr-bt F2F: Duplicated by newer API renaming issue - closing

[2022-08-25 12:21] #41214 closed

[2022-08-25 12:22] #41199 closed

[2022-08-25 12:22] #41203 closed

[2022-08-25 12:22] #41204 closed

[2022-08-25 12:22] #41205 closed

[2022-08-25 12:23] #41208 closed

[2022-08-25 12:30] asbjornsabo commented on #41217
Zephyr-bt F2F: Already done in related PR - closing

[2022-08-25 12:30] #41217 closed

[2022-08-25 12:31] jakkra commented on #49465
@cvinayak @Thalley I think I found the issue. Since I'm using perioidic adv. list the current `get_pending_per_adv_sync()` will have a none populated le addr.
[code]

With `memset(&sync_create_param.addr, 0xFF, sizeof(bt_addr_le_t));` part and the address in sync_term is now 0xFF .. 0xFF... Previously I did not touch the `sync_create_param.addr`, hence the random bytes.

So the problem is here htt

[2022-08-25 12:34] Thalley commented on #49465
Ah, yes, that makes sense. Indeed it should use the event address (the event address should be compared to the `pending_per_adv_sync->addr` when the list is not being used.

For using the list, I guess `pending_per_adv_sync->addr` should be set to the NONE address in case of using the list.

[2022-08-25 12:36] asbjornsabo commented on #42522
Zephyr-bt F2F: Done

[2022-08-25 12:36] #42522 closed

[2022-08-25 12:37] Thalley commented on #42522
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/43574

[2022-08-25 12:39] kruithofa commented on #48806
On latests runs none of these tests failed; we can re-open if the problems occur again

[2022-08-25 12:39] #48806 closed

[2022-08-25 12:40] asbjornsabo commented on #42649
Zephyr-bt F2F: Close - not needed

[2022-08-25 12:40] #42649 closed

[2022-08-25 12:46] kruithofa commented on #13519
@carlescufi we close this issue since realistically no work will be done on this

[2022-08-25 12:46] #13519 closed

[2022-08-25 12:47] asbjornsabo commented on #43913
Zephyr-bt F2F: Decide for each profile, open issues when needed.  Closing.

[2022-08-25 12:47] #43913 closed

[2022-08-25 12:48] asbjornsabo commented on #44058
Done.  Closing.

[2022-08-25 12:48] #44058 closed

[2022-08-25 12:48] asbjornsabo commented on #44059
Done.  Closing.

[2022-08-25 12:48] #44059 closed

[2022-08-25 12:49] kruithofa commented on #22079
this is a proprietry feature,  we can reopen if a new request for this comes

[2022-08-25 12:49] #22079 closed

[2022-08-25 12:51] kruithofa commented on #32665
the issue is at best a marginal improvement, and not worth our time doing

[2022-08-25 12:51] #32665 closed

[2022-08-25 12:55] asbjornsabo commented on #44867
Zephyr-bt F2F: Applies for all profiles in LA Audio.

[2022-08-25 12:58] erwango commented on #47781
So actually, on U5/L5, table vector is expected to be aligned on 0x400 addresses, hence the additional 0x200 offset.
Somehow, the image is correctly built regarding this constraint (I'm yet to understand if this is done for good reason), but unfortunately mcuboot is not informed (likely because the image header doesn't contain the right information).
I'm digging a bit more

[2022-08-25 13:02] kruithofa commented on #42885
This is implemented as proven by successful conformance tests

[2022-08-25 13:02] #42885 closed

[2022-08-25 13:14] SkryptX opened #49523 "k_sleep in native_posix always sleeps one tick too much"
I tried the LVGL example in the Zephyr repository (zephyr/samples/subsys/display/lvgl/src) with the `native_posix_64` board and added a log statement into the while loop at the end of main. After a bit of debugging I realized that every `k_sleep` call waits 10ms (the tick duration) too much. I simplified the code and got this:

[code]
Console output for value=1000:
[code]

For <value> 10ms it wait

[2022-08-25 13:15] nashif commented on #48887
broader, for example the arch_ interface which is not application facing needs to be in scope as well, this is being used by OOT architectures for example. There are a few other interfaces beside that to consider.

[2022-08-25 13:26] #49073 closed

[2022-08-25 13:26] #49166 closed

[2022-08-25 13:29] gmarull commented on #48887
My five cents: I'd limit this to stable public APIs. Other changes should just be written in the release notes. In any case, if a deprecation is cheap, just do it, your users will appreciate it.

Working out of tree is convenient, but it comes with a maintenance cost.

Good read: https://www.kernel.org/doc/html/latest/process/stable-api-nonsense.html#what-to-do

[2022-08-25 13:33] Thalley commented on #46395
@jhedberg @alwa-nordic

We need to either be able to force Host privacy, or to use a Zephyr specific event to let an application to always know of RPA changes. Does `CONFIG_BT_PRIVACY` enable host privacy (`rpa_expired` is guarded by `CONFIG_BT_PRIVACY`)?

[2022-08-25 13:33] kruithofa commented on #42889
This is implemented by PR #48491

[2022-08-25 13:33] #42889 closed

[2022-08-25 13:54] asbjornsabo opened #49530 "Bluetooth: Audio: Invalid behavior testing"
Collection point issue

We need more invalid behavior testing for the various LE Audio profiles and services.
- API testing

TB filled in.
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've con

[2022-08-25 13:56] Thalley opened #49531 "LE Audio: Broadcast Sink not supporting general and specific BIS codec configurations in the BASE"
**Describe the bug**
The broadcast sink does not currently allow codec configuration for the subgroup and the individual BIS in the same BASE, even though it should.

**Expected behavior**
That valid BASEs are allowed (it's a matter of removing the buggy check): https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/bluetooth/audio/broadcast_sink.c#L377-L384

**Impact**
Annoyance

**Logs an

[2022-08-25 13:59] povergoing commented on #49491
I found it. Any changes related to `printk`, more specifically, `va_list`, `va_start` and `va_end`? Compared with the previous version, I found GCC12 will insert a `ldp     q0, q1, [sp, #xx]` and `ldp     q0, q1, [sp, #48],` for example,
Old version
[code]
GCC12:
[code]
That will cause an issue with `CONFIG_FPU_SHARING` because this feature simulates the `str  qx, qy [sp #xx]` for performance I th

[2022-08-25 14:08] asbjornsabo opened #49532 "LE Audio: TMAP: Call Gateway"
**Is your feature request related to a problem? Please describe.**
Implement the call gateway from the TMAP profile

**Describe the solution you'd like**
Implemented including tests

**Describe alternatives you've considered**
N/A

**Additional context**
See BT spec

[2022-08-25 14:09] asbjornsabo opened #49533 "LE Audio: TMAP: Call Terminal"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2022-08-25 14:10] asbjornsabo opened #49534 "LE Audio: TMAP: Unicast Media Sender"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2022-08-25 14:11] asbjornsabo opened #49535 "LE Audio: TMAP: Unicast Media Receiver"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2022-08-25 14:11] asbjornsabo opened #49536 "LE Audio: TMAP: Unicast Media Receiver"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2022-08-25 14:13] asbjornsabo opened #49537 "LE Audio: TMAP: Broadcast Media Sender"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2022-08-25 14:13] asbjornsabo opened #49538 "LE Audio: TMAP: Broadcast Media Receiver"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2022-08-25 14:14] asbjornsabo opened #49539 "LE Audio: TMAP: TMAS"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2022-08-25 14:17] asbjornsabo commented on #41224
Replaced by new issues - one for each role, one for the TMAS service.  Closing.

[2022-08-25 14:17] #41224 closed

[2022-08-25 14:37] jakkra opened #49540 "Bluetooth: Host: sync termination callback parameters not populated correctly when using per. adv. list feature."
**Describe the bug**
When using periodic advertising list the sync termination callback during sync establishement error the `bt_le_per_adv_sync_term_info` is not populated correctly.

**Expected behavior**
Correctly populated `bt_le_per_adv_sync_term_info` when using periodic adv. list during sync establishement errors. Currently the le addr and possible the SID are not populated correctly.

This

[2022-08-25 14:37] jakkra commented on #49540
I'll submit a PR for this soon.

[2022-08-25 14:43] gregshue commented on #25910
I'm not sure what @carlescufi had in mind, but here is a practical use case:
- As a mechatronic device developer, I need to build one FW image that supports the series of prototypes along with the minor variants that exist, so that I can minimize the variability in the results of testing done by other engineers.
- As a result, the FW needs to determine the electro-mechanical prototype revision and

[2022-08-25 15:03] erwango commented on #47781
Configuring right header size using `CONFIG_MCUBOOT_EXTRA_IMGTOOL_ARGS` will fix this issue.
Happen the following to your command:
[code]
Note that I personally need to escape literal strings : `\"--header-size\ 1024\"`. Not sure why.

[2022-08-25 15:10] #7516 closed

[2022-08-25 15:47] erwango commented on #47781
Addendum:
Did you notice [sysbuild](https://docs.zephyrproject.org/latest/build/sysbuild/index.html) ?
Using sysbuild, you can do:
[code]

[2022-08-25 15:54] tobias-aunbol commented on #49406
Update: Here's my findings so far.

I have investigated and tried to understand SFDP, and i can see that there is a sample provided in samples/drivers/jesd216 where  the paramters can be read out. To use this it requires the flash driver to implement sfdp_read from the flash.h interface. This function is actually already implemented in the driver but not referenced to the flash API. I would propos

[2022-08-25 15:56] hunterhu3000 opened #49542 "sdk: it8xxx2_evb cannot build the hello_world sample after zephyr SDK upgrade to 0.15.0"
**Describe the bug**
it8xxx2_evb cannot build the any test case including "hellow_world" after zephyr SDK upgrade to 0.15.0.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? -> it8xxx2_evb
 - What have you tried to diagnose or workaround this issue? -> It looks like a riscv issue. Roll back to 0.14.2, every

[2022-08-25 16:19] npitre commented on #49491
Yep, more context in commit b8d24ffb459f ("arm64: mitigate
FPU-in-exception usage side effects").

I wonder why it has to move 32 bytes between two locations on the stack
like that in the first place.

If gcc has a legitimate reason for doing this then yes.

[2022-08-25 16:39] yperess opened #49545 "Enable per-test console verification in twister"
## Introduction

This idea builds on top of https://github.com/zephyrproject-rtos/zephyr/pull/46030. Once console verification is enabled for ztest, it would be beneficial to support specifying the harness config per test (since tests could be shuffled and test order is never guaranteed).

### Problem description

Some ztest tests will want to verify what gets printed over UART. For example, conso

[2022-08-25 16:50] stephanosio commented on #49542
The main branch is not fully compatible with Zephyr SDK 0.15.0 yet.

This issue is addressed in https://github.com/zephyrproject-rtos/zephyr/pull/49496.

[2022-08-25 16:50] #49542 closed

[2022-08-25 17:17] marc-hb commented on #48887
FWIW I saw these two warnings every day for about a year and none ever stopped anything:
[code]

[code]

[2022-08-25 19:02] gregshue commented on #48887
Agreed.  Downstream users may need to add their own module with architectures, SOC definitions, drivers, boards, subsystems, tests, samples, etc.  It may even need to contain alternate implementations of existing subsystems.  Perhaps the collective set of "public APIs" needs to include whatever could be seen or replaced across modules.

So, what does it mean for something to be "application facing

[2022-08-25 19:34] lboue commented on #49479
Thanks @thedjnK.
So for fixing _fatal error: logging/log.h: No such file or directory_ do you have any advice?

Regards
Ludovic

[2022-08-25 21:05] #49100 closed

[2022-08-25 21:47] mbolivar-nordic commented on #48886
Good question -- do you have a preference?

That's a fair point. How about using this language instead:

[2022-08-26 00:53] #48950 closed

[2022-08-26 01:31] shuai1x commented on #48726
We have tried to disable the ti_hdc` sensor in every prj.conf under the tests/net/ieee802154. But it would see the same failure like before. And the CONFIG_TI_HDC didn't exist in .config after I modify the prj.conf.

[2022-08-26 06:31] mbolivar-nordic commented on #49121
This.

Asking zephyr to open up arbitrary source files as .bin files just because you do not want to perform the conversion of a single array in a C file to a .bin file and validate the results for yourself is asking rather too much of upstream in my opinion.

[2022-08-26 06:48] fomst commented on #49373
@carlescufi I'm not able to do that. I've no nordic's hardware.

@erwango As i wrote this occures randomly, but most frequent this happens for low scan interval and scan window. For parameters passed in my first post this happens relatively often - after max few minutes.

[2022-08-26 06:57] mbolivar-nordic commented on #49431
Consider the alternatives:

1. "just grep the source code for config.TOP_LEVEL_SYMBOL and figure it out for yourself"
2. "just dig around in menuconfig and figure it out for yourself"

These are what Linux provides. I think they are self evidently pretty gross from a user perspective, but maybe I'm alone in that. I think programming interfaces should be able to have documentation that explains how

[2022-08-26 07:22] Zhaoningx commented on #48051
Hi, the issue can't be reproducible on different HW. I tested the case, the log:
[code]

So closed this.

[2022-08-26 07:22] #48051 closed

[2022-08-26 07:30] nordicjm opened #49564 "Newer versions of pylink are not supported in latest zephyr 2.7 release"
**Describe the bug**
It is not possible to mix a zephyr 3.1.99 and zephyr 2.7.3 development environment on a single PC due to the code in zephyr 2.7 not supporting the renamed files in newer versions of pylink, when trying to run `ninja debug`:
[code]

**To Reproduce**
Get zephyr main, install requirements.txt, get zephyr 2.7.3, build and debug a project using `ninja debug`

**Expected behavior**

[2022-08-26 07:47] nicokorn opened #49567 "Files System mounting with custom offset"
**Is your feature request related to a problem? Please describe.**
I am using signed images holding **only** a file system. (I wrote a tool to sign generic binaries). I write the image into a partition called "file-system" and want to mount it:

``
#define LITTLEFS_NODE   DT_NODE_BY_FIXED_PARTITION_LABEL(file_system)

static struct fs_mount_t lfs_storage_mnt = {
    .type = FS_LITTLEFS,
    .fs_da

[2022-08-26 08:07] nordicjm opened #49569 "Backport cmake string cache fix to v2.7 branch"
**Describe the bug**
If a string variables is passed when configuring a project, then the project configuration is edited, the project will then fail to work because the string variable has had it's quotes removed.

Original issue: https://github.com/zephyrproject-rtos/zephyr/issues/48950
Original fix in main: https://github.com/zephyrproject-rtos/zephyr/pull/49267

**Expected behavior**
For re-co

[2022-08-26 08:28] erwango commented on #49373
@fomst Would you be able to provide a [HCI trace using btmon](https://docs.zephyrproject.org/latest/connectivity/bluetooth/bluetooth-dev.html?highlight=btmon#embedded-hci-tracing) ?
This would speed up investigation

[2022-08-26 08:49] alwa-nordic commented on #46395
We do not have a API for forcing Host privacy. `CONFIG_BT_PRIVACY` enables both host and controller privacy. But my understanding is that the current Host implementation does not use Controller privacy for advertising, except for directed advertising. So the problem does not exist *yet*. However, the all the points for concern stand. To be safe, we have to explicitly assert somewhere in code that

[2022-08-26 08:54] caco3 opened #49572 "Reproducable builds with MCUboot signing"
We are trying to switch to [reproducable builds](https://reproducible-builds.org/).

As for the zephyr project, this seems to be fine, how ever we found out that the MCUboot signing is not-deterministic:
At least with the suggested steps (see [Generating a new keypair](https://www.mcuboot.com/documentation/readme-zephyr/), they are using a [RSA-PSS](https://en.wikipedia.org/wiki/RSA-PSS) padding s

[2022-08-26 09:11] r2r0 commented on #49148
@FRASTM
Does it mean that it is a more generic problem?
I mean - Zephyr allows to change already handled timeout in system timer ISR.

[2022-08-26 09:15] kruithofa commented on #46510
Fixed by #46462

[2022-08-26 09:15] #46510 closed

[2022-08-26 09:18] kruithofa opened #49573 "Bluetooth: controller: llcp: remove legace LLCP"
**Is your enhancement proposal related to a problem? Please describe.**
According to schedule the new LLCP is default as of release 3.2, and the legacy LLCP will be removed for release 3.3

**Describe the solution you'd like**
The legacy code will need to be removed, however this process must not start too early, i.e. shortly before the 3.3 release.

**Describe alternatives you've considered**
A c

[2022-08-26 09:51] nordic-piks opened #49576 "tests: kernel: timer: timer_behavior: kernel.timer.timer fails"
**Describe the bug**
The tests/kernel/timer/timer_behavior/kernel.timer.timer fails

Observed for
- nrf9160dk_nrf9160
- nrf9160dk_nrf9160_ns
- nrf52840dk_nrf52840
- nrf5340dk_nrf5340_cpuapp
- nrf5340dk_nrf5340_cpuapp_ns

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk_nrf52840 connected
2. go to your zephyr dir
3. call ./scripts/twister -T tests/kernel/timer/timer_behavior -p

[2022-08-26 10:24] gmarull opened #49578 "[RFC] Deprecate <zephyr/zephyr.h>"
## Introduction

As of today, <zephyr/zephyr.h> is 100% equivalent to <zephyr/kernel.h>.
This patch proposes to then include <zephyr/kernel.h> instead of
<zephyr/zephyr.h> since it is clearer that you are including the
Kernel APIs and (probably) nothing else. <zephyr/zephyr.h> sounds like a
catch-all header that may be confusing. Most applications need to
include a bunch of other things to compile

[2022-08-26 10:43] nashif commented on #49576
@teburd  you might want to give some hints here.

[2022-08-26 10:51] #49540 closed

[2022-08-26 10:51] #49439 closed

[2022-08-26 11:58] cvinayak commented on #49465
@jakkra Please test your application with #49579 and let me know if it solves the performance issue.

You can also check if the following improves Extended Advertising Report generation by increasing `CONFIG_BT_CTLR_SCAN_AUX_SET`:
[code]

[2022-08-26 12:40] Thalley commented on #46395
@alwa-nordic Is it correctly understood that updating the RPA only happens in the host then?

We do have something like `bt_rpa_create` which is also called from the controller and called from `ull_filter_rpa_update`, which would indicate the the controller may also update an RPA for an advertising set.

[2022-08-26 13:33] Aljohcomb opened #49584 "STM32WB55 Failed read remote feature, remote version and LE set PHY"
**Describe the bug**
Running Bluetooth application with SMP in peripheral mode.
When connected to from remote device errors codes are received indicating that connection procedure failed.
However the device still connects.
Following pairing attempts succeeds.

When using the device for communication it is unreliable and will connect/disconnect immediately.

Please also mention any information whic

[2022-08-26 13:39] teburd commented on #49576
There's a few options that could resolve this issue

1. Fix the timer driver accuracy, so add some tick +/- 1 to get the mean timer time to be more accurate every N timer fires.
2. Add some board/platform specifics such that the test period is a nice divisor for 32768 KHz clock (so update testcase.yaml for nordic platforms), so say 1024 us I believe would work out.
3. Add some board/platform speci

[2022-08-26 14:11] ashegheparyshun opened #49586 "Json parser is incorrect with undefined parameter"

[2022-08-26 14:21] evgeniy-paltsev opened #49587 "cross-compile toolchain variant doesn't working properly with multilib toolchain"
**Describe the bug**
In case of `ZEPHYR_TOOLCHAIN_VARIANT=cross-compile` we don't set `SYSROOT_DIR` cmake variable, so we don't execute
block of code which sets `LIBC_LIBRARY_DIR` variable based on the toolchain C flags (including mcpu flag):

https://github.com/zephyrproject-rtos/zephyr/blob/88aa873fbc544b99c1e48e37d5c74662f90b3de0/cmake/compiler/gcc/target.cmake#L74-L88

So, in case of multilib

[2022-08-26 14:36] evgeniy-paltsev commented on #49587
BTW, gcc has option with promising name - `-print-sysroot` - `Display the target libraries directory.`. However it always doesn't print anything for all toolchains I've tried (no matter ARC ones or host toolchains, like X86_64)

[2022-08-26 14:48] ashegheparyshun opened #49588 "Json parser is incorrect with undefined parameter"
**Describe the bug**
The JSON parser can not ignore undefined fields in the JSON.

I have a json named config to parse structured like this:
{
	"configVersion": "2.9.0",
	"updateTime": "2022-07-23T16:00:00",
	"network": {
		"ssid": "Sarveen_wifi",
		"psk": "$arveenTech",
		"country": "CN"
	},
	"systemSettings": {
		"system": "",
		"beaconFunctionality": {
			"enabled": true,
			"advertisingInterva

[2022-08-26 14:50] henrikbrixandersen commented on #49121
I agree.

[2022-08-26 15:23] jakkra commented on #49465
@cvinayak I have now tested https://github.com/zephyrproject-rtos/zephyr/pull/49579 with my sample application (attached to this issue) and it looks promising. Will test with our main application on monday also.
250ms per adv interval and 45 tags.
![45_tags_250_ms_interval__cte](https://user-images.githubusercontent.com/4318648/186938774-e5a41eb0-0587-4fab-9cb9-5b2056e126d0.png)

[2022-08-26 15:40] erwango commented on #49584
@Aljohcomb Thanks for raising this point.
We'll try to investigate based on the trace provided.

Note, following Kconfig flags are not compatible with STM32WB. I think they are discarded in the build, but it would be cleaner not to disable them:
[code]

[2022-08-26 15:41] sambhurst commented on #49379
I've received some useful comments on the PR but I think the discussion should move back to the issue. In the PR, I've implemented two different versions that each have pros and cons. I'd like to list them here so we can pick one.

**1)** Only ISRs created with IRQ_DIRECT_CONNECT can be shared.
**Pros:** Very easy to implement, no C or ASM code needs to change, and any number of shared ISRs.
**Con

[2022-08-26 15:46] erwango commented on #49373
@fomst Would you be able to reproduce the same configuration on a STM32Cube based application ?

[2022-08-26 15:49] gmarull commented on #49379
I haven't gone into much detail on how ISR tables are generated, so please ignore the following if it doesn't make sense. In case of shared IRQs, would it be possible to autogenerate a function stub that calls the N attached routines with the right parameter? Then the table would just point to such function stub. Non-shared IRQs would just call the original function.

[2022-08-26 16:05] sambhurst commented on #49379
@gmarull
That makes sense and was one of the approaches I tried. I stored the arguments in flash but then I needed to rewrite the arm/core/aarch32/isr_wrapper.S to access the arguments and call the ISRs. I thought this change would be to invasive and opted for the two approaches listed above. But maybe I should have listed this one too.

[2022-08-26 16:15] sambhurst commented on #49379
@gmarull
After second thought, maybe I can store the arguments contiguously in flash and use the isr_wrapper.S to call the stub ISR along with a pointer to the list of arguments. Then the stub ISR can pass the appropriate arguments to the N attached routines.

[2022-08-26 17:04] mniestroj commented on #49451
I think this is related: #28998

[2022-08-26 17:51] mbolivar-nordic opened #49590 "devicetree parsing does not error out on duplicate node names"
**Describe the bug**

`dtc` errors out on duplicate node names:

[code]

Zephyr's dtlib doesn't:

[code]

**Expected behavior**

Our DT parser should be equivalent to dtc and therefore should error out.

**Impact**

We accept garbage DT files that have duplicate nodes.

**Additional context**

Originally reported in https://github.com/zephyrproject-rtos/zephyr/pull/48949/files#r955645210

[2022-08-26 19:07] thedjnK commented on #49479
If you want to develop using zephyr 3.1/main, get `zephyr-v3.1.0` or `main`. If you want to develop using zephyr 2.7 (LTS), get `v2.7.3`, as per:
[code]

[2022-08-26 21:26] #48534 closed

[2022-08-27 01:34] #40933 closed

[2022-08-27 02:46] smrtos commented on #47300
I tried 1986591beb68e59c8a8e52f0a3f3e9762cf2a11d which first introduced the `test_stress_0cpy` test on Jun. 30.
It still failed on CAVS25.

So this test never passed on CAVS boards.

[2022-08-27 02:58] smrtos commented on #47300
I tried https://github.com/zephyrproject-rtos/zephyr/commit/1986591beb68e59c8a8e52f0a3f3e9762cf2a11d which first introduced the test_stress_0cpy test on Jun. 30.
It still failed on CAVS25.

So this test has never passed on CAVS boards.

[2022-08-27 06:20] Laczen commented on #49567
@nicokorn, IMO you should aim at dropping the header while writing. The header will become meaningless as soon as you start using the fs anyhow.

[2022-08-27 11:03] nicokorn commented on #49567
In general that's a good point! But I need the header:
- For image validation (The tail holds SHA256 & RSA Signature fields calculated from header and image).
- My file system holds a web-ui that never changes, once written.
- I need to check regularly for authenticity of the web-ui / file system

[2022-08-27 11:21] Laczen commented on #49567
As said, what is the meaning of the image validation as soon as your filesystem is in use? What is the image tail ? Seems like there are two parts that are not part of the filesystem. Adding these two parts to a partition will be very error prone because they have to respect certain conditions (e.g. The filesystem itself will need to be aligned to the flash sector size, and the same is valid for t

[2022-08-27 12:04] nicokorn commented on #49567
What is the meaning of the image validation as soon as your filesystem is in use?
Same story as with the mcu firmware which is validated every reboot in the MCUboot bootloader. The file system (Web-UI) must never be changed except on an update.

What is the image tail?
I need to clarify a bit:
The file system is packed into a MCUboot signed image. Details about header and tail here: https://docs.m

[2022-08-27 12:23] Laczen commented on #49567
@nicokorn, I understand your needs, but from your description you were talking about a filesystem. A filesystem is not a const area in flash like other images. In a filesystem the content changes and as a result the calculated hashes are no longer valid. Also because flash is involved  the filesystem will erase the partition in blocks of erase block size and the filesystem will need to take this i

[2022-08-27 12:36] nicokorn commented on #49567
I need to add:
The Web-UI is a littlefs filesystem. I am using a python lib to convert  a Web-UI build folder into a littlefs binary with specified block-size and block-count.
I thought littlefs takes care of such topics you described, it has even a dynamic wear leveling feature and detects bad blocks.

The big advantage of the filesystem is to call the Web-UI files/items in use with civetweb dire

[2022-08-27 13:03] vChavezB opened #49599 "Bluetooth: Host: Unable to pair zephyr bluetooth peripheral with Secure connection and static passkey"
**Describe the bug**
I want to use the BLE Secure connection feature with the following options

[code]

I know that using a fixed passkey is discouraged but my peripheral will not have a display and the pairing should be done automatically. I have opted for creating a secret algorithm that generates the passkey dynamically with `bt_passkey_set`. The Central also knows the algorithm and can figure

[2022-08-27 13:27] Laczen commented on #49567
No littlefs does not take care of that. Zephyr configures littlefs to use a specific erase-block-size and specific alignment to this erase-block-size. As you already have a solution you can test if it all keeps working when you are adding some data to the filesystem. Verify that you can still get the correct hashes (and that they match) after a write.

It might be that it works in your specific ca

[2022-08-27 14:16] smrtos commented on #47300
In the ztress framework, if I don't call the handler as below line 265. The test never fail.

https://github.com/zephyrproject-rtos/zephyr/blob/5108c4f21d3d1ac3ca143cfaefe33f80e738d5d5/subsys/testsuite/ztest/src/ztress.c#L264-L266

So there must be something wrong with the handler invoking.
Then I add logic to compare the `context_data->handler` value to the 2 handlers `stress_claim_free` and `str

[2022-08-27 14:43] hunterhu3000 opened #49601 "mec15xxevb_assy6853: tests/drivers/adc/adc_api asynchronous test failed"
**Describe the bug**
mec15xxevb_assy6853 board daily test tests/drivers/adc/adc_api asynchronous test failed

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? mec15xxevb_assy6853
 - What have you tried to diagnose or workaround this issue? Found a WA.
 - Is this a regression? No, this problem is randomly hap

[2022-08-27 17:17] nicokorn commented on #49567
So far it works like a charm.  Even before my whole update story, my coworker used a partition as littlefs file system together with civetweb and uploading data into the filesystem via curl implementation and deleting files afterwards was never an issue.

[2022-08-27 19:56] Laczen commented on #49567
For sure this works without the update procedure, this uses the partition just as a filesystem.

It is the update that will not work. Test the update procedure, make a change in the filesystem and check the validity of the hash.

[2022-08-27 20:13] nicokorn commented on #49567
It is not the idea to change the Web-UI build in the filesystem. Of course the secure hash algorithm would fail in that case. It is only about to have easy access to the Web-UI items with civetweb.

[2022-08-28 04:02] Fanhang32 opened #49602 "Bluetooth: Audio: Build error when enable CONFIG_LIBLC3"
**Describe the bug**
Build error when enable  CONFIG_LIBLC3

**To Reproduce**
Steps to reproduce the behavior:
1. enable LC3 config
`
CONFIG_LIBLC3=y
CONFIG_FPU=y
`
2. build
`
west -v build -b qemu_x86 samples/bluetooth/unicast_audio_server
`
3. See error
[code]

[build_err.log](https://github.com/zephyrproject-rtos/zephyr/files/9439062/build_err.log)

[2022-08-28 07:05] Laczen commented on #49567
OK, but if the secure hash fails, should mcuboot remove the filesystem ?

And if mcuboot does not remove it, what will happen after there have been so many changes to the filesystem that the first sector of the partition needs to be removed ?

[2022-08-28 07:23] nicokorn commented on #49567
For my case:
The filesystem must be read only thus only be used in read only use cases -> The Web-UI is read only.

In the write case:
The image would be invalid. The MCUboot bootloader checks every boot for validity of multiboot partitions. And if an image is not valid, the bootloader handles according to its specification: **https://docs.mcuboot.com/design.html**
I already tested it last month,

[2022-08-28 07:51] smrtos commented on #47300
Found another issue through code review. It's about progress stats, trying to fix it with https://github.com/zephyrproject-rtos/zephyr/pull/49604

But it is not fixing this issue.

[2022-08-28 08:54] Laczen commented on #49567
OK, let us summarize:
a. The proposed solution is only tested for read-only filesystems (and even only for littlefs),
b. It does not work for write filesystems as mcuboot refuses to boot,

The use case of ro filesystems is to limited to add such a RFC. Adding a offset to a partition to mount a fs is not without risk of errors and therefore should not be done.

BTW it is possible to get it working

[2022-08-28 09:40] nicokorn commented on #49567
Of course there need to be checks when mounting. When you are defining partition start address in the device tree it gets also checked when you start to build the application and throws an error if alignment is not correct.

Correct, point A to C are common sense and my signed filesystem of course follows these rules tough I use it as ro. Also here everything can be checked for proper operation wh

[2022-08-28 09:56] Laczen commented on #49567
You are making it look more simple and straight forward than it is: the build system has no idea how the filesystem image was generated, so it can't check if there is an agreement in erase-block-size.

Regarding point D: this is not possible as the app has no knowledge of keys so it cannot update the secure TLVs, regardless of what time is needed.

[2022-08-28 10:05] fomst commented on #49373
@erwango
Here are logs from bt_mon
[ble_logs.txt](https://github.com/zephyrproject-rtos/zephyr/files/9439434/ble_logs.txt)

Do you mean to reproduce this without zephyr environment? Just with ST's code base?

[2022-08-28 10:21] nicokorn commented on #49567
The pre-condition is that the image is properly generated by the tool used for signing.

Depends on the application and where the keys are stored. But that's not my intention to have a rw signed filesystem.

[2022-08-28 11:30] mjm987 commented on #49208
Thx for explanation, i got it now ;-)
I tested your code with th a little help from the actual gsm-ppp sample and it generally it works!
But unfortunately not very reliable: if the modem connection is unreliable or if the modem goes in automatic power down mode, sending data is no more possible. It seems the network stack locks up without error message.
Even if the modem is woken-up by gpio or sus

[2022-08-28 13:40] hunterhu3000 opened #49605 "it8xxx2_evb: tests/kernel/timer/timer_api test failed after commit cb041d06"
**Describe the bug**
tests/kernel/timer/timer_api test failed after commit cb041d06

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? it8xxx2_evb
 - What have you tried to diagnose or workaround this issue?
 - Is this a regression? Yes
 - "git bisect" specific commit:  cb041d062f79eba6529d239f8a3ecb3a14ba5bf

[2022-08-28 14:01] Laczen commented on #49572
@caco3, maybe you shouldn't try to make the MCUboot signing deterministic. IMO it is needed to look differently at what is the output of a build system, see https://reproducible-builds.org/docs/embedded-signatures/.

[2022-08-28 14:33] shaggygi opened #49606 "BeagleBone Black / AM335x Support"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
BeagleBone Black and the TI AM335x.

**Describe why you are asking for this support?**
Used with lots of makers and IoT projects.

Thanks for any help.

[2022-08-28 15:57] vaishnavachath commented on #39740
@cfriedt , No sorry I missed the CC32XX platforms I am working on this and will send a PR soon.

[2022-08-28 20:10] Nukersson commented on #46758
Hello everyone,

Thank you all for pointing on this topic. I was previously a maintainer for Civetweb and there was two major problems with it:
1. Huge RAM consumption compared with embedded devices.
2. Long long long Integration processes in Zephyr itself, since no one had time to take a look over it.

But! I've begun working on my own WebSocket Server Implementation for Zephyr. You can take a lo

[2022-08-29 00:32] #46263 closed

[2022-08-29 00:32] #46199 closed

[2022-08-29 01:38] povergoing commented on #49491
like that in the first place.

Yes, good question. I am trying to find out why :)

[2022-08-29 02:12] huhebo commented on #48150
#### Concerns about the separated bias data event callback approach:

1. How to sync the time-stamp of the sensor data and the bias data?

    The [CHRE](https://cs.android.com/android/platform/superproject/+/master:system/chre/pal/include/chre/pal/sensor.h;l=301) sensor API recomends **the PAL should deliver the bias data at the same interval that sensor data is delivered**:
[code]

    For some

[2022-08-29 02:19] huhebo commented on #48150
This topic is a continue discussion from https://github.com/zephyrproject-rtos/zephyr/pull/45370#discussion_r901209004

[2022-08-29 03:07] corteXnzt opened #49607 "ADC reading on E73-2G4M04S1B and nrf52dk"
I followed this tutorial to read ADC from A0/P0.03.
https://medium.com/home-wireless/reading-analog-data-in-zephyr-with-a-nrf52840-e05dae326b9b

1. This has work before with E73-2G4M04S1B with vbluno52 as selected board but now after getting back to the project after how many months it is not working anymore. Is there any change in API? and it has weird output. I set to 12bits = 4095 max but it sh

[2022-08-29 03:09] Dino-Li commented on #49462
In entry_cpu_exception(), the test code runs an illegal instruction from RAM section to trigger an expection on RISCV architecture.
Since IT8xxx2 series run program from flash (text section) directly, run code from RAM section will cause an unknown result.
Can the test code be changed like this?

[code]

[2022-08-29 03:20] hunterhu3000 commented on #49462
Looks good to me
The patch can fix the problem on it8xxx2_evb.
Could you please provide a PR?

[2022-08-29 05:29] huhebo commented on #48148
Seems this topic is a discussion to #45370, especially for the [Device Tree Configuration](https://github.com/huhebo/zephyr/blob/subsys/sensorsubsys/doc/services/senss/index.rst#id41) section.

I do agree the proposal in #45370 is not perfect at current and need more improvements, and the #49294 is a good solution and discussion for this topic, especially for the `vendor`, `model`, `friendly-name`

[2022-08-29 05:56] huhebo commented on #48149
A continue discussion to #45370.

[2022-08-29 06:19] #31208 closed

[2022-08-29 06:29] erwango commented on #49373
Great, thanks

Indeed.

[2022-08-29 06:33] alwa-nordic commented on #46395
For non-directed advertising, yes.

This should be controlled by `own_addr_type` from the HCI command. The Host will never set `own_addr_type` to "Please generate an RPA" for non-directed advertising.

[2022-08-29 06:50] shaoanxli opened #49609 "sdk: failed to run tests/subsys/logging/log_core_additional"
**Describe the bug**
Failed to run tests/subsys/logging/log_core_additional, only when the sdk version is 0.15.0.
The error occurs on LOG_INF(), but if the CONFIG_LOG_RUNTIME_FILTERING=y in tests/subsys/logging/log_core_additional/log_user.conf file is removed, the test passes.
The test fails on nsim_em, up_squared, frdm_k64f, the log below is on frdm_k64f.

**To Reproduce**
Steps to reproduce the

[2022-08-29 07:14] marc-hb commented on #47652
Similar to this?
- https://github.com/thesofproject/linux/pull/3238

[2022-08-29 07:26] Kunli123 opened #49611 "ehl_crb: Failed to run timer testcases"
**Describe the bug**
The testcase tests/kernel/timer/timer_behavior failed to run on the EHL CRB.

**To Reproduce**
west build -b ehl_crb tests/kernel/timer/timer_behavior/ -p always
west flash /home/ztest/EHL_X86_PXE.sh

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Zephyr SDK 0.15.0
 - Commit: ccfe9513ecee

[2022-08-29 07:36] huhebo commented on #48149
The problem of `sensor_subsystem_get_sensors` is it will return all sensor instances, but Apps/Clients may just want the interested sensors by type and instances index, although Apps/Clients can filter by themselves, but this will need some code and logic to do this, why we not put this common filter code and logic into sensor subsystem ? Just as #45370 did:

[code]
  The caller required allocated

[2022-08-29 08:06] Kunli123 opened #49614 "acrn_ehl_crb: The testcase tests/kernel/sched/schedule_api failed to run."
**Describe the bug**
The testcase tests/kernel/sched/schedule_api failed to run on the acrn_ehl_crb.

**To Reproduce**
twister -p acrn_ehl_crb --device-testing --device-serial-pty=$HOME/acrn-env/acrn-test-pty.exp --west-flash=$HOME/acrn-env/acrn_efi.sh -v -T tests/kernel/sched/schedule_api/ -vv

**Logs and console output**
[code]

**Environment (please complete the following information):**

OS: L

[2022-08-29 08:18] #42356 closed

[2022-08-29 08:19] Kunli123 opened #49616 "acrn_ehl_crb: The testcase tests/kernel/common failed to run."
**Describe the bug**
The testcase tests/kernel/common failed to run on the acrn_ehl_crb.

**To Reproduce**
twister -p acrn_ehl_crb --device-testing --device-serial-pty=$HOME/acrn-env/acrn-test-pty.exp --west-flash=$HOME/acrn-env/acrn_efi.sh -v -T tests/kernel/common/ -vv

**Logs and console output**

[code]
**Environment (please complete the following information):**

OS: Linux
Toolchain: Zephyr S

[2022-08-29 08:23] erwango commented on #49373
@fomst Can you confirm status of `CONFIG_BT_RECV_BLOCKING` ?

[2022-08-29 08:30] cperera-aud commented on #27651
Hi @jukkar , We would like understand a bit more as to your statement regarding:

Does this still stand in v3.1? Also to clarify if the application starts with an auto IP address and then gets a DHCP address, is the new address that cannot be removed immediately? Is there a delay involved in doing that?

Also, is there a mechanism to delay auto IP so that DHCP can win the race?

Hi @AntoineZen , d

[2022-08-29 08:32] Aljohcomb commented on #49584
Thank you for the response!
Those configuration options are not in the actual project, only given as examples of somethings I've tried. But you are correct of course.

The issue is very problematic for our use of the STM32 since the bluetooth does not work at all. I would be very happy to provide more logs or testing if there are any ideas.

[2022-08-29 08:47] Thalley commented on #46395
Alright, thanks

@cvinayak Do you agree with Aleksander's comments?

[2022-08-29 09:33] LaVoute974 opened #49618 "&usart2_rx_pd6 no more available for STM32L073RZ"
Hi everybody,

After an update of my zephyr folder, I found that the pin &usart2_rx_pd6 is no more available. When declaring in the .dts file, it outputs an error :

`devicetree error: /soc/serial@40004400: undefined node label 'usart2_rx_pd6'`

Is that normal ?

Thanks for your help :)

[2022-08-29 10:17] jakkra commented on #39376
Hi @ppryga-nordic @cvinayak  I have now tested https://github.com/zephyrproject-rtos/zephyr/pull/48936 together with https://github.com/zephyrproject-rtos/zephyr/pull/49579 and it works. Each new `CONFIG_BT_PER_ADV_SYNC_MAX` results in about 1.3kB RAM, which is still a bit much as we'd like to have it at least 50.

I have 45 tags to test with.
Some observations:
1. With per. adv. interval of 50ms

[2022-08-29 10:26] jakkra commented on #49465
@cvinayak yes I was able to sync to around ~40/45 tags simultaniously, as you can see in the plot they come and go a bit (blue dots goes to yellow means sync was lost), but around 40 seems to be the limit for 250ms per.adv interval.

Do you mean supervision timeout for an additional BLE connection, or parameters inside of `bt_le_per_adv_sync_param`?
What I do in the sample application is to just a

[2022-08-29 10:43] ppryga-nordic commented on #39376
@jakkra I'll start with information that @cvinayak is now responsible for Direction Finding in Zephyr Controller.

Regarding #48936 and memory usage.  The PR should allow to decrease amount of memory allocated for DF by Controller. I hadn't got time to implement this changes. You can try to do that and provide a PR,  that would be very welcome. Current implementation still allocates a number of no

[2022-08-29 10:54] stephanosio opened #49620 "Add picolibc documentation"
**Is your enhancement proposal related to a problem? Please describe.**

Picolibc integration support has been added in #44096, but it is missing documentation.

**Describe the solution you'd like**

Add "Picolibc" page under [Developing with Zephyr/Language Support/C Language Support/Standard Library](https://docs.zephyrproject.org/latest/develop/languages/c/index.html#standard-library).

[2022-08-29 10:56] cvinayak commented on #49465
Ok. Let me try to debug this and if I find something will address it in #49579

[2022-08-29 11:14] piotrParf opened #49621 "STM32WB55 BLE Extended Advertising support"
**Is your feature request related to a problem? Please describe.**

The new HAL(v1.1.14) for stm32wb is released and it should support BLE extended advertising in Zephyr while using firmware stm32wb5x_BLE_HCILayer_extended_fw. Now in hal_stm32 the extended advertising is turned off. It can be turned on by modifying CFG_BLE_OPTIONS in app_conf.h. Unfortunately, the ipm_stm32wb.c in zephyr is still

[2022-08-29 11:52] Thalley opened #49624 "Bluetooth: Controller: Recent RAM usage increase for hci_rpmsg build"
**Is your enhancement proposal related to a problem? Please describe.**
Recently the file `ull_llcp.c` file was added, which increased the RAM usage of the `hci_rpmsg` sample by roughly 4500 bytes. The result of this is that `CONFIG_BT_CTLR_SYNC_ISO` and `CONFIG_BT_CTLR_ADV_ISO` can no longer fit in RAM for the sample anymore.

**Describe the solution you'd like**
Since the `hci_rpmsg` is a sample

[2022-08-29 11:52] Thalley commented on #49624
ping @cvinayak @kruithofa @wopu-ot

[2022-08-29 12:11] Thalley commented on #49624
I also created https://github.com/zephyrproject-rtos/zephyr/pull/49623 so that we can track the (vanilla) edition of the sample on the nRF5340 netcore.

[2022-08-29 12:33] chrta opened #49628 "Compilation fails when ASAN is used with gcc"
**Describe the bug**

I try to execute tests using twister with enabled address sanitizer using gcc. This fails since commit https://github.com/zephyrproject-rtos/zephyr/commit/74cc5347587624ded3ad9c2cc5266909e864cad9 (see https://github.com/zephyrproject-rtos/zephyr/pull/49127)

The newly added macro `#define __noasan __attribute__((no_sanitize("address")))` does not seem to work for gcc and prod

[2022-08-29 12:45] Frodevan opened #49629 "Bluetooth: ISO Broadcast sample fails to send data on nRF5340"
When the ISO broadcast/receive samples are run with the Packetcraft controller on the nRF5340, the samples are able to establish BIG sync but does not attempt to actually broadcast/receive any ISO-data.

Boards:
- arm/nrf5340dk_nrf5340
- arm/nrf5340dk_nrf5340

Samples:
- bluetooth/iso_broadcast
- bluetooth/iso_receive

Controller:
- https://github.com/nrfconnect/sdk-nrf/blob/main/applications/nrf5

[2022-08-29 13:37] Thalley commented on #49493
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/49629

[2022-08-29 13:37] #49493 closed

[2022-08-29 13:46] microbuilder opened #49631 "arch: arm: FP stack warning with GCC 12 and `CONFIG_FPU=y`"
**Describe the bug**

When compiling code that uses `__attribute__ ((interrupt ("IRQ")))` (etc.), such as the `ARCH_ISR_DIRECT_DECLARE` macro, GCC 12 will produce the following warning:

[code]

**To Reproduce**

Using GCC 12.x:

[code]

**Expected behavior**

No warning should be present.

**Environment (please complete the following information):**

- GCC 12.1

**Additional context**

This warni

[2022-08-29 13:47] stephanosio commented on #49631
cc @povergoing @SgrrZhf

[2022-08-29 13:54] stephanosio commented on #49631
See the "Exception entry behavior" section in the Architecture Reference Manual.

For the A and R profiles (or the ARM archs prior to the Cortex days), the ISR is responsible for stacking all registers, including the FP registers.

For the M profile, the NVIC takes care of saving all the caller saved registers upon exception entry and the ISR routine is only responsible for saving the callee saved

[2022-08-29 14:02] stephanosio commented on #49631
Re: the commit message in https://github.com/gcc-mirror/gcc/commit/3c3b4224875d7b8bfd4126b9dd1d9cb028997285

them, for lack of knowledge of which registers they actually clobber.

As per the AAPCS, we would only need to save callee saved registers (i.e. not ALL registers).

saved

For the M profile, it does not need to because they (caller saved FP registers) are automatically saved upon exception

[2022-08-29 14:02] fomst commented on #49373
@erwango CONFIG_BT_RECV_BLOCKING=n as the BT_RECV_WORKQ_BT is selected.

About reproducing the issue with pure ST's ble stack - i'll try to do it asap, but i've other higher priority tasks to do, so it may take some time, until i'll be back with results.

[2022-08-29 14:08] microbuilder commented on #49631
Reading through the v8-M ARM, I agree this doesn't seem to apply to M targets.

Looking through the GCC code I don't see a single 'Cortex M' flag we could use as an exception to this warning, but still poking around to see the most concise way to only check on A/R in GCC.

[2022-08-29 14:12] wopu-ot commented on #49624
We are seeing an increase in memory consumption for our platform as well. ping @erbr-ot

[2022-08-29 14:18] FRASTM commented on #49406
That's included in the https://github.com/zephyrproject-rtos/zephyr/pull/47962

[2022-08-29 14:25] jukkar commented on #27651
What I meant that if the application is using auto IP address (like 169.254.148.77) to communicate to peer and then the device gets DHCP address (like 10.0.0.10), what should we do with the socket that might be connected using the auto IP address? Currently this is not handled at all.

[2022-08-29 14:49] stephanosio commented on #49631
might want to try `arm_arch_notm`

[2022-08-29 14:57] #49195 closed

[2022-08-29 15:20] stephanosio commented on #49195
TODO: Document that Zephyr SDK 0.15.0 or above is required in the release notes.

[2022-08-29 15:30] cvinayak commented on #49629
The issue is reported on use of Packetcraft Controller.

Preliminary data path is supported in Zephyr Controller. iso_broadcast and iso_receive samples should be working with datapath using Zephyr Controller, this is based on the fact that bsim_test_iso continues to pass in PR CI.

[2022-08-29 16:15] gmarull opened #49637 "CMSIS-DSP tests broken with SDK 0.15.0"
**Describe the bug**

CMSIS-DSP builds with warnings when using SDK 0.15.0

**To Reproduce**

[code]

**Expected behavior**

Tests pass, CMSIS-DSP can be compiled without warnings

**Impact**

CI is broken for some PRs (https://github.com/zephyrproject-rtos/zephyr/pull/49510)

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchai

[2022-08-29 16:27] Thalley commented on #49629
Right. This is likely related to the SDU size checks implemented recently.

[2022-08-29 16:29] Thalley commented on #45666
Will need to check once I get the time :)

[2022-08-29 16:43] cfriedt commented on #46758
@Nukersson - would you be interested in being a collaborator or perhaps maintainer for a purpose-built HTTP server?

I'll check out your `websocket_server`, branch as well. There is a link below that can be of use for anyone interested.
https://github.com/zephyrproject-rtos/zephyr/compare/main...Nukersson:zephyr:websocket_server_api

[2022-08-29 16:47] Nukersson commented on #46758
Hello nad thank you.

I am interested in collaboration to http server dev. But maintaining it will be for me currently too much due to private reasons.

Thank you l.

[2022-08-29 17:34] Thalley commented on #45666
I cannot reproduce this at the moment, but that might be likely due the host not getting any num_complete_packets back from the controller, thus stalling the TX'ing:

[code]

[2022-08-29 18:11] nashif commented on #36476
closing, if we need to introduce this hal for intel, a new issue will need to be created.

[2022-08-29 18:11] #36476 closed

[2022-08-29 18:36] str4t0m commented on #49618
According to the datasheet this pin is only available on the 100-pin variants, not the 64-pin variants.
Are you running zephyr on a STM32L073VZ SoC?

[2022-08-29 19:18] konstk1 commented on #44410
Hi, we would like this issue re-opened. I'm from the same company as @MattCampbellST and taking over this effort.

[2022-08-29 19:36] edersondisouza commented on #47300
If you suspect some stack overflow is happening, you can try some things, like a debugger and watch when the stack variable gets overwritten, or enabling CONFIG_STACK_SENTINEL/CONFIG_STACK_CANARIES, to catch when it's happening. Increasing stack size is another valid test. If none of those helps, it maybe, as you also mentioned that this only happen with more than one core, some context switch iss

[2022-08-29 22:56] StefJar commented on #15021
the example code is a hack

https://github.com/StefJar/zephyr_stm32_rtc_driver/blob/master/rtc_stm32.c#L155

makes the zephyr build system to run the init function at the kernel startup before the main function is called

[2022-08-30 00:07] laurenmurphyx64 opened #49648 "tests/subsys/logging/log_switch_format, log_syst build failures on CAVS"
**Describe the bug**

Failure of switch format and sys-T tests to build:

[code]

Observed on latest main (at time of writing, 4f81568286747f7aa74c7dda5da3c536226616c7).

**To Reproduce**

[code]

**Expected behavior**
Build to succeed

**Impact**
Not sure, will leave it up to @aasthagr

**Logs and console output**

[code]

[2022-08-30 00:35] #38654 closed

[2022-08-30 01:36] cvinayak commented on #49465
@jakkra I have tested 5 tags synchronized under simulation under two conditions; one, all 5 tags have overlapping periodic advertising and all the 5 tags got synchronized; two, 5 tags with a progressive offset over time and only 4 tags got synchronized. But in both cases I was using duplicate filtering, stopping and starting scanning,  saw no issues, and periodic_sync device discovered extended ad

[2022-08-30 04:31] cvinayak commented on #45666
Thanks @Thalley, I will follow up as part of https://github.com/zephyrproject-rtos/zephyr/pull/45989 rework.

[2022-08-30 05:45] Zhaoningx commented on #49616
This issue also failed to run in **v2.7-branch** on the **acrn_ehl_crb** board.

[2022-08-30 05:59] Zhaoningx opened #49656 "acrn_ehl_crb: testcases tests/kernel/smp failed to run on v2.7-branch"
**Describe the bug**
The test case tests/kernel/smp failed on v2.7-branch on the ACRN board. I tested the case on the main branch, and it works.

**To Reproduce**
twister -p acrn_ehl_crb --device-testing --device-serial-pty=$HOME/acrn-env/acrn-test-pty.exp --west-flash=$HOME/acrn-env/acrn_efi.sh -v -T tests/kernel/smp/ -v

**Logs and console output**
[code]

**Environment (please complete the foll

[2022-08-30 06:21] chen-png opened #49658 "v3.1-branch: some cases failed with build warnings after upgrading zephyr sdk to 0.15.0."
**Describe the bug**
On v3.1-branch, after upgrading to zephyr-sdk-0.15.0, some tests failed due to build warnings, like some compilation warnings:

1. "warning: 'elapsed_ms' may be used uninitialized [-Wmaybe-uninitialized]".
2. ":error: comparison between two arrays -Werror=array-compare
      if (_net_if_list_start == _net_if_list_end)"
3.  warning: 'version' may be used uninitialized [-Wmaybe-

[2022-08-30 06:34] koffes opened #49659 "logging: LOG_* appends 0x0D to 0x0A"
**Describe the bug**
When printing raw hex values a `CR (0x0A)` is automatically appended if you print a `LF (0x0A)`.

**Impact**
This causes parsers which depend on raw hex data to fail.
Take for instance `LOG_PRINTK("%c%c", 0x0A, 0x33)` will print as` 0x0A 0x0D 0x33`.

**Proposed solution**
A global KConfig to turn off this function would work, but is not ideal as it can break other parts of an

[2022-08-30 06:41] tejlmand commented on #42450
closing, as this `feature request` has been tried before here:
https://github.com/zephyrproject-rtos/zephyr/pull/27901
and reverted here due to the consequences:
https://github.com/zephyrproject-rtos/zephyr/issues/29074

Most likely the snippet RFC #40669 will provide the needed functionality, else feel free to open a new feature request with more precise description as to what is needed and ensur

[2022-08-30 06:41] #42450 closed

[2022-08-30 06:47] tejlmand commented on #42700
It has been discussed several times that Zephyr is not, and shall not be a module.
Zephyr is Zephyr, the core of the system.

See also: https://github.com/zephyrproject-rtos/zephyr/pull/42927
which has been rejected.

[2022-08-30 06:47] #42700 closed

[2022-08-30 07:04] FRASTM commented on #46326
Please see  branch https://github.com/FRASTM/zephyr/tree/uart_async_u5 as a first step.

[2022-08-30 07:18] Cherish-Gww commented on #49446
@erwango
I have read and tesed #46803.
there is an issue, I don`t understand why transmit end ( cs pin pull up), there have a word clock.
I`m looking into the matter.

[2022-08-30 07:19] piotrParf commented on #49621
ping @erwango

[2022-08-30 07:31] nordicjm opened #49661 "mcumgr: bt transport runs in system workqueue thread and can cause resource deadlock"
**Describe the bug**
The bluetooth transport for mcumgr runs in the system workqueue, this presents a problem if there are limited numbers of buffers as sending notifications over bluetooth will take a buffer, or wait indefinitely if there is not one available, and the buffers are freed up in a system workqueue task, which means if there are insufficient buffers available, the code will deadlock u

[2022-08-30 07:44] 99003662 opened #49662 "hello world+ mcuboot is not working"
hi ,
    I am using stm32 board , while i was testing an mcuboot example (zephyrproject/bootloader/mcuboot/samples/zephyr/helloworld) ,
1.this example is building fine, after flashing the code board is not printing the printk statements from main(helloworld/main.c).
2. I have a doubt whether it is including the mcuboot while building or not , so I have added couple of printk inside the bootloader

[2022-08-30 07:52] nordicjm opened #49663 "Bluetooth seems to not work randomly on target device"
**Describe the bug**
Testing with a bl653_dvk board (nrf52833) using the smp_svr sample application (zephyr/samples/subsys/mgmt/mcumgr/smp_svr) and seeing very strange behaviour whereby, for reasons unknown, the target board is advertising and accepts a connection from a target device but then seems to not respond to it and the connection is dropped very shortly thereafter. I've tested this on the

[2022-08-30 08:08] jakkra commented on #49465
@cvinayak thanks for the detailed explaination.

I'll make sure that extended adv. int. is not a multiple of periodic adv. interval. In the tags I have extended adv. int. set to 200ms, so in case of 10ms periodic adv. int. then what you say can occur. However regarding the issue I talked about It's the same problem at 7.5ms and up to somewhere around 10ms+.

Take a look on this log:
7.5ms per. adv

[2022-08-30 08:10] erwango commented on #49621
@piotrParf In order to use `stm32wb5x_BLE_Stack_full_extended_fw.bin`, release notes mentions:
[code]
I don't see traces of this in the code you shared. Did you do something around this ?

[2022-08-30 08:30] #49410 closed

[2022-08-30 08:30] cvinayak commented on #49465
I have a hunch that there is a flaw in the implementation of all `abort_cb` that is closing the radio event that is aborted by an overlapping event. The implementation is not taking the control path that should be checking for supervision/synchronization timeout.

Let me do some investigation and get back.

[2022-08-30 08:31] henrikbrixandersen commented on #49572
I am not sure this qualifies as a bug.

[2022-08-30 08:33] jakkra commented on #49465
Okey great, thanks. Just a quick question regarding
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC vs. CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL I know that the biggest difference is power consumption, but in case of periodic sync with many tags, will it make a difference?
Is my understanding correct that if internal K32RC is used then the time radio is used will be longer (due to window widening?) hence higher po

[2022-08-30 08:34] henrikbrixandersen commented on #49545
Why not use the dummy shell directly within ztest test functions and verify the output produced? https://github.com/zephyrproject-rtos/zephyr/blob/main/include/zephyr/shell/shell_dummy.h

[2022-08-30 08:44] henrikbrixandersen commented on #49606
A PR for adding support for this board is most welcome. If you have access to this hardware, please consider adding a board definition yourself and submitting it.

[2022-08-30 08:44] #49606 closed

[2022-08-30 08:45] henrikbrixandersen commented on #49586
Looks like an unintentional duplicate of #49588. Closing.

[2022-08-30 08:45] #49586 closed

[2022-08-30 08:58] SgrrZhf commented on #49631
Is there any issue that needs to be fixed on A/R?

[2022-08-30 09:03] microbuilder commented on #49631
This only applies to Cortex M, so no.

[2022-08-30 09:04] cvinayak commented on #49465
Larger window widening = higher power consumption. Radio is listening earlier and longer to detect missing PDUs than when the clock accuracy is better. Hence, lower clock accuracy means each radio event needs higher event length to use.

What does this mean for Zephyr Controller, the time reservation is fixed (minimal by default). If a PDU arrived late in the window , overflows beyond the time res

[2022-08-30 09:04] piotrParf commented on #49621
The same applies to stm32wb5x_BLE_HCILayer_extended_fw ?

[2022-08-30 09:09] jori-nordic commented on #49599
@vChavezB could you check if #49669 fixes your issue?

[2022-08-30 09:43] erwango commented on #49621
Ok, no it doesn't. My bad. Naming confusion.

[2022-08-30 10:14] vibhor-meshram opened #49677 "STM32U5 consumes more current using power management"
**Describe the bug**
I am using nucleo_u575zi_q board. I want to implement shutdown mode using power management scheme and wake up the MCU using an external interrupt. For starters I am testing  zephyr\samples\boards\stm32\power_mgmt\blinky example to test the basic power management. I am using zephyr 3.10 version.

I created power states nodes in nucleo_u575zi_q.dts file (since nodes were not pre

[2022-08-30 10:28] broglep-work commented on #47598
Block 2 transfers should be supported generically thought all responses as part of the lwm2m engine (and as transparent as possible to the lwm2m engine caller)

We did already run into this missing functionality on multiple occasions (e.g. registration message getting to big because of many object instances, or big observation notify messages as reported in #28120)

I would also vote for `Serializ

[2022-08-30 11:29] ppryga-nordic commented on #49624
@Thalley does it mean that with enabled ISO (and other required features)  the sample is about edge of free memory for nRF5340 net core?

[2022-08-30 11:37] fabiobaltieri opened #49678 "Zephyr 3.2 module updates overview"
Umbrella issue for tracking requests for updating various modules before Zephyr 3.2, listing all modules and an overview of the status compared to the correseponding upstream:

- [ ] canopennode
  - last updated somewhere in 2020
  - upstream at https://github.com/CANopenNode/CANopenNode
- [x] chre
- [ ] cmsis
  - at 5.8.0, 5.9.0 avilable
  - https://github.com/ARM-software/CMSIS_5/releases
- [x]

[2022-08-30 12:12] LaVoute974 commented on #49618
Yes indeed !

[2022-08-30 12:15] Thalley commented on #49624
It actually goes over the edge if I enable both `CONFIG_BT_CTLR_SYNC_ISO` and `CONFIG_BT_CTLR_ADV_ISO` (so that is excluding support for connected ISO).

[2022-08-30 12:34] str4t0m commented on #49618
So then your problem should be fixed by including the pinctrl file matching your soc.
I will close this issue.

[2022-08-30 12:34] #49618 closed

[2022-08-30 13:30] nordicjm commented on #49663
Will be fixed by https://github.com/zephyrproject-rtos/zephyr/pull/49676

[2022-08-30 13:44] hunterhu3000 commented on #47921
The patch is still under review.

[2022-08-30 13:47] MaureenHelm commented on #49019
@mhennerich Any update finding someone at ADI that can help fix this driver?

[2022-08-30 13:48] gmarull commented on #49213
changed priority to high since it is blocking some PRs due to CI failures

[2022-08-30 13:57] stephanosio commented on #49213
This test has been disabled and should not be running in the CI:
https://github.com/zephyrproject-rtos/zephyr/commit/8e8b56881feb9ed68b3435aa67436abc8a2a8b0f

Something seems to be wrong with twister ...

[2022-08-30 14:12] SkryptX opened #49687 "Allow having .west folder and west.yml in the same folder"
We would like to setup our project with the `.west` folder and the `west.yml` in the same folder. That is currently not possible, because `west init` is inflexible and really wants to create its `.west` folder **next to** the specified directory (even if it is a `.`). I currently see no reason why this should be enforced since changing the `.west/config` file to the content below works just fine (

[2022-08-30 14:13] enjiamai commented on #47652
Thanks for the comments,  @marc-hb , let me take a look first. Besides, I am working on addressing your comment on the #49366 .

[2022-08-30 14:48] erwango commented on #49677
@vibhor-meshram Did you enable lptim node in order to use it as a LP ticker ?
[code]

[2022-08-30 14:48] krish2718 commented on #49451
@rlubos FYI.

[2022-08-30 15:27] stephanosio commented on #49658
As noted in the [SDK release notes](https://github.com/zephyrproject-rtos/sdk-ng/releases/tag/v0.15.0), Zephyr SDK 0.15.0 is "only compatible with the Zephyr development branch (main) and the Zephyr release v3.2 and above," and there currently is no plan to support SDK 0.15.0 in Zephyr 3.1.

Please use Zephyr SDK 0.14.x if you are using Zephyr 3.1 or an earlier release.

[2022-08-30 15:28] #49658 closed

[2022-08-30 16:10] mmahadevan108 commented on #49656
cc @cfriedt

[2022-08-30 16:14] enjiamai commented on #47652
Hi @marc-hb , it seems like this issue is similar to https://github.com/thesofproject/linux/pull/3238, but I'm not very sure.  But I can make sure it is not the later one, thanks.

[2022-08-30 16:14] nashif commented on #49648
did you do we `west update`? This sample builds just fine!

[2022-08-30 16:14] cfriedt commented on #47972
This will not be backported

[2022-08-30 16:14] #47972 closed

[2022-08-30 16:17] cfriedt commented on #46088
manually backported

[2022-08-30 16:17] #46088 closed

[2022-08-30 16:19] stephanosio commented on #49609
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/49213

[2022-08-30 16:19] #49609 closed

[2022-08-30 16:28] mmahadevan108 commented on #49588
cc @mrfuchs

[2022-08-30 16:30] laurenmurphyx64 commented on #49648
Damnit... just did that and it passed. Sorry @aasthagr, that should've been the first thing I did trying to file a bug for a module

[2022-08-30 16:30] #49648 closed

[2022-08-30 16:32] mmahadevan108 commented on #49572
Not a bug

[2022-08-30 16:32] #49572 closed

[2022-08-30 16:56] carlescufi commented on #49479
Please try out these instructions and reopen the issue if it still fails for you.

[2022-08-30 16:56] #49479 closed

[2022-08-30 17:02] romkell opened #49695 "Add Cppcheck to Zephyr OS SDK (and launch scripts and configs to the source tree)"
## Introduction

The coding guidelines shall be followed and Parasofts cpptest static code analyzer is set up in 2.7-auditable as is or was Synopsys Coverity on main. cpptest will follow on main sooner or later.
Depending on the PRs build pipe, response to scans on the server may take some time and put load on the server.
Violation fixing iteration cylces are slow.

### Problem description

Depend

[2022-08-30 17:11] stephanosio opened #49696 "twister: testplan: toolchain_exclude filter is overridden by integration_platforms"
**Describe the bug**

When both `integration_platforms` and `toolchain_exclude` are specified for a test, the twister testplan logic fails to apply the `toolchain_exclude` filter.

For example (8e8b56881feb9ed68b3435aa67436abc8a2a8b0f):
[code]

The `status` of the above test for `qemu_x86` is set to `error` (`In test case toolchain exclude but is one of the integration platforms`) instead of `filt

[2022-08-30 17:11] stephanosio commented on #49696
cc @nashif @PerMac

[2022-08-30 17:24] stephanosio commented on #49696
Feel free to close this if you do not think this is a bug.

I still do not understand why **toolchain** filter needs to be mutually exclusive with **platform** filters (by that, I mean `integration_platforms:`).

[2022-08-30 18:34] yperess commented on #48150
Right, so in the one example you've given you're right, but for 99.9% of applications that's not the case. For those cases, this separate approach would save a lot of memory. Can you point at the bias algorithm? I'm mostly familiar with using a casa filter to collect a sample window and generate a bias from that, this algorithm cannot generate a new bias per sample. @teburd are you familiar with a

[2022-08-30 18:40] dcpleung commented on #49016
With the changes to ADSP HDA logging backend, and the following kconfigs, sys-t catalog messages worked on my end:

[code]

[2022-08-30 18:44] henrikbrixandersen commented on #49678
We are tracking upstream v1.3-master (https://github.com/CANopenNode/CANopenNode/commits/v1.3-master) and as such we are up-to-date (except a couple of commits which breaks the upstream API).

[2022-08-30 18:45] stephanosio commented on #49678
There is already an issue open for this:
https://github.com/zephyrproject-rtos/zephyr/issues/45279

Unfortunately, it does not look like it will be done for 3.2.

[2022-08-30 18:46] stephanosio commented on #45279
This will not make into 3.2. Targeting a future release.

[2022-08-30 18:57] vphirema opened #49703 "eSPI: Add platform specific Slave to Master Virtual Wires"
**Is your feature request related to a problem? Please describe.**
As per eSPI spec, there are about 64 platform specific Slave to Master Virtual Wires that can be used for internal usages.
Current code doesn't support it hence need to add the support.

Table 2-14. PCH/SoC eSPI Virtual Wires Mapping (Address 50h to 5Fh)
https://cdrdv2.intel.com/v1/dl/getContent/562633?explicitVersion=true

**Descr

[2022-08-30 19:02] vphirema commented on #49703
cc: @nashif  @MulinChao @keith-zephyr
I have started implementing the code in Chromium repo. Need to publish it in Zephyr code base
https://chromium-review.googlesource.com/c/chromiumos/third_party/zephyr/+/3849741

[2022-08-30 22:02] edersondisouza commented on #47300
Hmm, I think that this is falling in the cache incoherence trap. And based on some fixes for this issue (like 4796037cf721c6f6416d446e99ec02521542b949), it seems that having `static data` in the `ZTRESS_EXECUTE` macro is the way to go. Can you send a PR for that?

[2022-08-30 22:21] keith-zephyr opened #49708 "Provide consistent deprecated behavior and reduce downstream breakage"
**Need consistent behavior for deprecated objects**
The behavior of builds varies based on the type object that is deprecated and also varies based on the toolchain used.

For example, adding a `label` property to the qemu_x86.dts file results in a warning when running west:

[code]

But running the same thing under twister, results in a build failure, because warnings are promoted to errors:
[cod

[2022-08-30 22:22] keith-zephyr commented on #49708
@carlescufi At the last process meeting you also mentioned that not all deprecated objects are treated the same (e.g. Kconfig, vs API, vs devicetree).  Can add a comment with the inconsistencies you are aware of?

[2022-08-30 23:14] gregshue commented on #49687
Won't your proposal also end up with a manifest repository only having `west.yml`?  If so, it seems you have gained nothing.

Note that a workspace-level repository would be a prime location for workspace-scope content (e.g., document style templates, workspace-level documentation).  This very quickly grows into T2 where your repository is the center of the hub rather than `zephyr/`.

[2022-08-30 23:26] smrtos commented on #47300
Yeah, the `CONFIG_KERNEL_COHERENCE=y` does exist in the final `.config` file.  It seems very likely!
BTW, I discussed this with @enjiamai  yesterday and he also doubted about the cache coherence.

I can send a PR for this test. But it seems there are still some missing pieces of the puzzle.
Why the scheduler doesn't ensure the coherence when switching contexts?
As I understand, all access to memor

[2022-08-30 23:33] edersondisouza commented on #47300
Stack is not made coherent - that's the whole issue. Note that while the config option is called "kernel_coherence", it's is actually there to deal with incoherent cache: https://docs.zephyrproject.org/latest/kconfig.html#CONFIG_KERNEL_COHERENCE.
It's illegal to share data on the stack among the CPUs, as stack is in the cache (which is incoherent). `.bss` section is put on uncached memory, thus, d

[2022-08-30 23:51] smrtos commented on #47300
It seems to be an architecture specific thing. Some memories are cacheable while some are not.
And it seems only specific to the Xtensa because I didn't see such issue on other platforms so far.

A naïve guess maybe I can get some info from the memory map.  Or is it configurable through the MMU?
I got a Xtensa data book. Not sure if I can find answer in it.

[2022-08-31 00:22] laurenmurphyx64 opened #49711 "tests/arch/common/timing/arch.common.timing.smp fails for CAVS15, 18"
**Describe the bug**
tests/arch/common/timing/arch.common.timing.smp fails for CAVS 15 and CAVS 18.

**To Reproduce**
[code]

**Logs and console output**
Same `handler.log` for both:

[code]

**Expected behavior**
Test pass

**Impact**
Unsure, will leave it to @edersondisouza

**Environment**
 - Ubuntu 20.04
 - Zephyr SDK (also confirmed for XCC)
 - Latest main at time of writing (e6d7118f0ee7fbf5

[2022-08-31 00:31] laurenmurphyx64 commented on #49711
What else is weird is that I can't build the same test with XCC for CAVS 15, 18 or 25 (I know I can build with XCC, just built `hello_world`)

XCC environment:
[code]

[code]

`build.log`:

[code]

[2022-08-31 00:35] smrtos commented on #47300
Other issues related to incoherent cache:

- https://github.com/zephyrproject-rtos/zephyr/pull/49707
- https://github.com/zephyrproject-rtos/zephyr/pull/41932

It's interesting that such issues are emerging recently.

[2022-08-31 00:43] andyross commented on #47300
Xtensa tests on intel_adsp have been dealing with fixes like this consistently since KERNEL_COHERENCE landed, actually.  It's, heh, just the staff that changed. :)

But yes, the rules are: when enabled (which only happens now for SMP Xtensa platforms, but in principle other cache-incoherent architectures might behave similarly), thread stack memory is cached/incoherent and must be treated as local

[2022-08-31 01:13] #42472 closed

[2022-08-31 01:14] #39153 closed

[2022-08-31 01:38] shaoanxli opened #49713 "frdm_k64f: tests: failed to run tests/drivers/adc/adc_dma/drivers.adc-dma"
**Describe the bug**
The test failure occurs after 5ceba48473951feced93aa2076370250e0cea544.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p frdm_k64f --hardware-map map.yml --device-testing -T tests/drivers/adc/adc_dma/  -v
3. See error
or
2.picocom -b 115200 /dev/ttyACM2
3.west build -p always -b frdm_k64f tests/drivers/adc/adc_dma/
4.west flash
5.See err

[2022-08-31 02:23] povergoing commented on #49491
like that in the first place.

@npitre Seems the GCC12 uses `qn` registers to copy content to substitute the original `xn` ones, for performance improvement maybe?
For example,
[code]
=>
[code]
So, we may need to simulate the `ldp` and `stp` instructions. But due to the optimization, this pair (`ldp` and `stp`) of instructions can appear randomly, which is probably located separately from those `s

[2022-08-31 02:56] yperess commented on #48148
I think there might have been a misunderstanding with the title of this issue, my concern isn't that the sensor index exists. Just that it's specified in the device tree.

Right, but same as my comment above, why is this specified in devicetree? I'm not saying that sensors don't need to be able to report the minimal interval to the clients, just that it doesn't belong in the devicetree.

[2022-08-31 03:10] hunterhu3000 opened #49714 "tests: tests/drivers/gpio/gpio_api_1pin failed in daily test"
**Describe the bug**
tests/drivers/gpio/gpio_api_1pin failed in daily test

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? mec172xevb
 - Is this a regression? Yes
 - "git bisect" it to a specific commit: 59884f3b8 related to ztest API update

**To Reproduce**
Steps to reproduce the behavior:
1. west build

[2022-08-31 03:32] jwhite-enphase opened #49715 "The function ospi_read_sfdp in drivers/flash/flash_stm32_ospi.c can corrupt the stack"
**Describe the bug**
If the board being used has the sfdp_bfp property e.g. https://github.com/zephyrproject-rtos/zephyr/blob/e6d7118f0ee7fbf542124ab6845ba6879de8aaf7/boards/arm/stm32h7b3i_dk/stm32h7b3i_dk.dts#L247 and it is longer than JESD216_SFDP_SIZE(decl_nph) (24 bytes) then the function: https://github.com/zephyrproject-rtos/zephyr/blob/e6d7118f0ee7fbf542124ab6845ba6879de8aaf7/drivers/flash/

[2022-08-31 04:29] vibhor-meshram commented on #49677
Hi @erwango I added the above nodes. No change in in output. Adding my dts file for your reference.
[nucleo_u575zi_q-common.txt](https://github.com/zephyrproject-rtos/zephyr/files/9458433/nucleo_u575zi_q-common.txt)

[2022-08-31 04:50] hunterhu3000 commented on #49714
The test of port_set_bits_raw_and_verify() works like this:
1. setup environment --> OK
2. port_set_bits_raw_and_verify()  --> set GPIOs to 0xEE11EE11 when i = 0
3. calculate val_expected --> TEST_PIN = 1, as 0xEE11EE11 bit 1 is 0, the TEST_PIN is not set in this case, and val_expected is 0
4. port_get_raw_and_verify() --> found TEST_PIN is 1, which is not expected.

This is because before step 2,

[2022-08-31 05:40] shuai1x opened #49716 "Intel CAVS15/18: Failure in tests/arch/common/timing"
**Describe the bug**
On intel_adsp_cavs15/18 platform, tests/arch/common/timing failed.
Bisect result: 4819e5488da15f8c0714dbbc1fa333993a8df214

Please also mention any information which could help others to understand
the problem you're facing:
 - intel_adsp_cavs15/18
 - tests/arch/common/timing failed.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W --hardware-map /home/ztest/ca

[2022-08-31 06:11] nordicjm opened #49717 "mcumgr: Bluetooth transport fix prevents passing GATT notify status back to SMP"
**Describe the bug**
This issue: https://github.com/zephyrproject-rtos/zephyr/issues/49661 and bug fix: https://github.com/zephyrproject-rtos/zephyr/pull/49691 resolves an issue which caused a bluetooth deadlock, however as a result, the result code of the send operation can no longer be passed back to SMP from the bluetooth code as doing so would involve use of the system work queue which would b

[2022-08-31 06:13] nordicjm commented on #49350
No longer needed, __packed was used instead

[2022-08-31 06:13] #49350 closed

[2022-08-31 06:34] aescolar commented on #49523
@SkryptX that is the expected behavior and is not related to native_posix but the kernel. k_sleep waits for at least the time you request not less, and the resolution of that wait is the system tick period.
When k_sleep is called the first time, the time 0 tick has just passed, and the kernel waits until the first tick after 1s meaning it will wake that thread after the 1.01s tick. After that tick

[2022-08-31 06:51] savinweera commented on #27651
Would a possible solution be to have the NET_ADDR_AUTOCONF address type be overridable by DHCP, similar to NET_ADDR_OVERRIDABLE ?

[code]

Modifying code in net/ip/net_if.c
[code]

[2022-08-31 07:16] Cherish-Gww commented on #49446
@erwango
https://github.com/zephyrproject-rtos/zephyr/pull/46803.
The author has disappeared for too long. When can this patch be merged。

[2022-08-31 07:52] smrtos commented on #46925
Fixed by:
https://github.com/zephyrproject-rtos/zephyr/pull/49721
https://github.com/zephyrproject-rtos/zephyr/pull/49546

[2022-08-31 08:11] jori-nordic commented on #34600
Working on it, managed to reproduce -a- deadlock (not sure if it's that specific one yet, but does look like it) on https://github.com/jori-nordic/zephyr/tree/l2cap-deadlock

[2022-08-31 08:41] #49442 closed

[2022-08-31 08:41] #48194 closed

[2022-08-31 08:47] zhamaliddin-kalzhan commented on #19244
@philips77 Can you please share your config file where you achieved 25-50 kB/s?
Did you modify CONFIG_MCUMGR_BUF_SIZE and CONFIG_MCUMGR_BUF_COUNT? In my experience, those 2 parameters also greatly affect image upload speed.

[2022-08-31 08:54] erwango commented on #49446
This patch will be merged when the review is completed, this depends on the author.
But if you're able to test and improve it (enhance factorization for instance), you can also push a new PR for this feature.

[2022-08-31 08:59] nordicjm commented on #42420
Have had a look at this and it would require a very big restructuring of the whole of mcumgr/smp in zephyr. SMP would need to run from it's own dedicated work queue, for functions like the erase function, the stream object would need to be passed in and stored so it could be used from work queue items i.e. to respond that operations have been completed, or have failed. The SMP protocol itself woul

[2022-08-31 09:00] erwango commented on #49251
@xkisahero did it help ?

[2022-08-31 09:31] erwango commented on #46326
@JiiZR Conclusion of this ticket is that unfortunately UART DMA RX is not functional on U5 and this is a hardware limitation.
A workaround is available on TX as described above by @FRASTM.

Closing.

[2022-08-31 09:35] erwango commented on #49373
@fomst I have been trying to reproduce the issue in the conditions you describe since several hours now using Zephyr (only unknown is the SHA1 you're using). To no avail so far.

[2022-08-31 10:53] rick1082 opened #49733 "Error log "Could not lookup stream by iso 0xXXXXXXXX" from unicast server if client release the stream"
**Describe the bug**
If unicast client release a stream, the unicast server will see error log:
"bt_ascs: ascs_iso_disconnected: Could not lookup stream by iso 0x2000xxxx"

I'm using NCS which with Zephyr cherry-picked https://github.com/zephyrproject-rtos/zephyr/pull/49055 for unicast server, and use Android phone as unicast client for testing.
The Android phone will release the stream if there's

[2022-08-31 10:56] nordicjm commented on #44224
An idea for this: a new group could be added, which would allow querying of transports on device (server) which would have an ID, a type and a identification name, the connected client can write to this to select which transport is active, the default would be 0 (internal), but could be set to a number for an external UART, or another ID for external BLE device, or another ID for external UDP devi

[2022-08-31 11:10] carlescufi commented on #25917
Related Nordic Devzone thread: https://devzone.nordicsemi.com/f/nordic-q-a/89888/ncs-nordic-uart-service-bt-rx-hci-timeout

[2022-08-31 11:20] carlescufi commented on #46347
Might related to #49661

[2022-08-31 11:23] carlescufi commented on #48505
Maybe related to #44998

[2022-08-31 11:26] carlescufi commented on #49183
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/49182

[2022-08-31 11:26] #49183 closed

[2022-08-31 11:30] fabiobaltieri commented on #49678
@yperess @nashif @nandojve @sylvioalves @glaubermaroto @uLipe @MulinChao @ChiHuaL @WealianLiao @kowalewskijan @yonsch @yonsch @mnkp @chrta @cfriedt @gmarull @dcpleung @brgl @Navin-Sankar @d3zd3z @ceolin @nordic-krch @laurenmurphyx64 @tleksell-pe @microbuilder @rlubos

Hi! If you are listed here you are listed as maintainer for a Zephyr module that has updates available upstream. The merge window c

[2022-08-31 11:39] nordicjm commented on #46347
I'll need to generate some test code and try, but my first thought would it be related to https://github.com/zephyrproject-rtos/zephyr/issues/49717
It is likely that SMP will need to be moved to it's own work queue

[2022-08-31 11:41] Thalley commented on #49733
Note to self: Basically if a client releases an ASE before disconnecting the ISO, then we cannot lookup the ASE.

We should either keep the ISO reference in the ASE, or remove this log.

Basically we want to be able to handle
(ASE released, ISO disconnected) => ASE idle
(ISO disconnected, ASE released) => ASE idle

whereas we right now just immediately go to the idle state on ASE released.

[2022-08-31 11:57] nordicjm commented on #46347
https://github.com/nordicjm/zephyr/tree/mcuasyncerase resolves the issue (switches to separate SMP work queue).
On main (BT transport):
[code]
On main (shell transport):
[code]
With above PR (BT transport):
[code]
With above PR (shell transport):
[code]

[2022-08-31 12:11] #49663 closed

[2022-08-31 12:42] yperess commented on #49678
@fabiobaltieri fff's commit is just a restructure of the directory and CI, there's another on the way which I hope to merge shortly. That last one will actually change the header and I'll pull both at the same time.

[2022-08-31 12:44] #49637 closed

[2022-08-31 12:49] SebastianBoe commented on #30105
C11 gives use memset_s.

Useful for securely clearing RAM.

[2022-08-31 12:54] stephanosio commented on #30105
Unfortunately, `memset_s` is part of the Annex K, which is an optional feature (hated by many OSS developers, especially the GNU/Linux people ...).

In fact, none of the standard C libraries we support currently implement `memset_s` (or any other Annex K functions).

[2022-08-31 13:03] chrta commented on #49678
at 3.1.0 (?), 4.1.0 available
https://github.com/SiliconLabs/gecko_sdk

I do not plan to update the sdk. The version information (that the currently used version is 3.1.0) is correct. See also https://github.com/zephyrproject-rtos/zephyr/issues/43139

[2022-08-31 13:16] jakkra opened #49738 "Bluetooth: Controller: Restarting periodic advertising causes crash when ADV_SYNC_PDU_BACK2BACK=y"
**Describe the bug**
Stopping and then starting periodic advertising causes an assert here: https://github.com/zephyrproject-rtos/zephyr/blob/0612dd433d77bf2aee899170ea1efd491f325540/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_sync.c#L345

`ASSERTION FAIL [pdu] @ WEST_TOPDIR/zephyr/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_sync.c:345
`

Crash happens when using chained periodic

[2022-08-31 13:29] tejlmand commented on #9573
and with sysbuild introduced, this even prevents running `sysbuild_menuconfig` if CMake re-runs on the sysbuild level and an image, for example mcuboot fails because `.config` content.

[2022-08-31 13:53] Thalley opened #49740 "LE Audio: Support for application-controlled advertisement for BAP broadcast source"
**Is your enhancement proposal related to a problem? Please describe.**
The current implementation of the BAP broadcaster is that it creates a non-connectable advertising set and advertises the device name, BAP broadcast service data and the BASE.

However, this severely restricts the applications option to add additional information in the broadcasting set. This will also hinder completion of the

[2022-08-31 13:54] erwango commented on #49056
After anaylis of the crash, it appears this is a duplicated of https://github.com/zephyrproject-rtos/zephyr/issues/49715:
After initialization of the OSPI driver, the stack is corrupted with elements of the SFDP table:
[code]

[2022-08-31 13:54] #49056 closed

[2022-08-31 14:06] nandojve commented on #49678
Hi @fabiobaltieri ,

hal_atmel did not track ASF versions. The hal_atmel only have registers files and are added/updated based on http://packs.download.atmel.com. I think there won`t be any new activity for v3.2.

hal_gigadevice is usually tracked by @gmarull and me and I believe there is no pending things till moment.

[2022-08-31 14:13] sjg20 commented on #49121
That makes it even worse, IMO. We have to decode the file with a C preprocessor to get the contents!

[2022-08-31 15:04] enjiamai commented on #49616
There is a design problem in this test_nop testcase. It sometimes files a false alarm. Hi, @mmahadevan108 , I would like to set it's to priority low, thanks!

[2022-08-31 15:11] erwango commented on #47607
@nvlsianpu ping

[2022-08-31 15:26] npitre commented on #49491
Can this copy optimization be disabled independently of FP support?

Otherwise I'd be tempted to simply say that the combination of gcc v12 + va_arg usage within IRQ handlers + recursive IRQs is just not supported.
This shouldn't happen much in practice with real applications anyway, so it might not be worth emulating more of those instructions just for this test sake.

Alternately, the test could

[2022-08-31 15:31] #49631 closed

[2022-08-31 15:33] asemjonovs opened #49746 "twister: extra test results"
**Describe the bug**
Extra test results are generated in json report when `--build-only` and `--test-only` twister arguments are used.  Seems to occur when `src` folder is not present in same folder as `yaml` file.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mv tests/ztest/base/src/ tests/ztest/base/src_bug
2. modify tests/ztest/base/CMakeLists.txt (rename `src` to `src_bug`)
3.

[2022-08-31 15:40] keith-zephyr commented on #49703
Not directly related to your change, but has Intel defined replacement terms for master/slave with the eSPI protocol?  The regular SPI protocol has adopted controller/peripheral. https://www.oshwa.org/a-resolution-to-redefine-spi-signal-names/

[2022-08-31 15:53] danielstuart14 opened #49747 "CAN2 interface on STM32F105 not working"
**Describe the bug**
While testing a STM32F105RBT6 board, I found that the CAN2 inteface wasn't working properly.
While sometimes the can_stm32 driver wouldn't be able to initialize the hardware on startup (can_stm32: Failed to exit sleep mode), even when it initializes correctly I wasn't able to send frames through the interface (error -5).

CAN1 interface seems to work flawlessly, I'll attach he

[2022-08-31 16:04] mbolivar-nordic commented on #38566
Process WG: nothing on this this week

[2022-08-31 16:08] carlescufi commented on #49708
There are at least 3 types of deprecation that I know of:

- Compiler: whenever `__deprecated` is used in source files
- Kconfig: whenever `CONFIG_DEPRECATED` is selected, then the `kconfig` script issues a deprecation warning
- CMake: Some older Kconfig options, or even CMake functions, use the CMake `warning` functionality to warn of deprecations

[2022-08-31 17:00] mbolivar-nordic commented on #48887
Process WG:

- @gregshue `include/zephyr` -- what is the point of the `zephyr` name?
- @dleach02 I think we're only talking about what is directly inside of zephyr
- @stephanosio we aren't going to change all modules
- @gregshue my question is what policy are we recommending to avoid conflicts?
- @keith-zephyr all the zephyr headers were moved under that directory to avoid that problem
- @gregshue

[2022-08-31 17:36] stephanosio opened #49760 "frdm_kl25z: sample.usb.dfu Kconfig issue causing build failure"
**Describe the bug**

Build fails for the `sample.usb.dfu` sample on `frdm_kl25z` due to Kconfig dependency issues.

**To Reproduce**

[code]

**Expected behavior**

Build succeeds.

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Toolchain: Zephyr SDK 0.15.0
 - Commit SHA: e9b29a6f830e6663495960078de8bd06c66726b9

[2022-08-31 17:37] stephanosio commented on #49760
cc @dleach02 @mmahadevan108 @danieldegrasse

[2022-08-31 17:41] stephanosio opened #49762 "esp32: testing.ztest.error_hook.no_userspace build fails due to array-bounds warnings"
**Describe the bug**

`testing.ztest.error_hook.no_userspace` test build fails on `esp32` due to `Warray-bounds` warnings.

**To Reproduce**

[code]

**Expected behavior**

Test build succeeds.

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Toolchain: Zephyr SDK 0.15.0
 - Commit SHA: e6d7118f0ee7fbf542124ab6845ba6879de8aaf7

[2022-08-31 17:45] stephanosio opened #49763 "nucleo_f767zi: sample.net.gptp build fails"
**Describe the bug**

`sample.net.gptp` sample build fails for `nucleo_f767zi` due to missing `ETH_PTPTSSR_TSSARFE` and `ETH_PTPTSSR_TSSSR` definitions.

**To Reproduce**

[code]

**Expected behavior**

Build succeeds

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Toolchain: Zephyr SDK 0.15.0
 - Commit SHA: e6d7118f0ee7fbf5

[2022-08-31 17:45] stephanosio commented on #49763
cc @erwango @FRASTM

[2022-08-31 18:04] rbbrns opened #49764 "Hash based dictionary logging"
Problem:
Zephyr dictionary logging relies on a json dictionary that must be regenerated for every image. This is because the dictionary maps the string to addresses. This creates friction for developers using dictionary based logging because they need to ensure they have the exact dictionary generated for their specific mage before they can decode any strings.

Proposed Solution:
Instead of mappin

[2022-08-31 18:04] dcpleung commented on #49678
upstream of hal_xtensa is https://github.com/foss-xtensa/xtensa-hal, which has no update.

[2022-08-31 18:06] nashif commented on #49764
@dcpleung  FYI

[2022-08-31 18:20] andyross commented on #49628
Hrm.  This seems to be working for me.   It's true, though, that gcc (I'm on 12.2.0) doesn't actually need this.  With gcc, it's enough to flag a bit of data "const" to prevent it from instrumenting it.  So it's surely OK to limit that attribute to clang only, something like this seems to work on my end, can you try it?

[code]

Please ping me if I forget this.

[2022-08-31 18:48] gregshue opened #49766 "Document downstream module configuration recommendations"
**Is your enhancement proposal related to a problem? Please describe.**
Downstream module developers need best practice recommendations on how to organize
and configure their modules to best align with the Zephyr build and configuration system.
These types of recommendations are lacking in the current Zephyr documentation.

**Describe the solution you'd like**
Extend the Zephyr module documentatio

[2022-08-31 19:04] str4t0m opened #49769 "STM32F1 CAN2 does not enable master can gating clock"
Describe the bug

STM32Ff05 have two CAN peripherals, which are closely coupled (they share memory and filters).

If CAN2 is enabled, it acts as a slave and requires CAN1 to be clocked as well. This is not done in current Zephyr driver.

Without CAN1 clock enabled, CAN2 only receives and sends garbage.

Same as #46519 but for STM32F1 series.

[2022-08-31 19:09] str4t0m commented on #49747
Hi, I don't have any hardware where I could test this, and others I know are using the driver also mostly for STM32F4.
So  we will need a bit more information in order to be able to solve this.
Are you observing the exact same behavior on v3.1 and the 5b3f800? Do does it differ, if yes how?
There were definitely a few changes since v3.1 was released.
Multi-instance support (#46646) was not merge i

[2022-08-31 19:19] edersondisouza commented on #49711
Does any `ZTEST` build with xcc?

[2022-08-31 20:11] rbbrns commented on #49764
@yperess

[2022-08-31 20:30] danielstuart14 commented on #49747
Hello @str4t0m, both v3.1 and 5b3f800 have the same behaviour. I'm going to test on v2.7 later, but it demands some changes to the DTS which I still need to do.
Prior to multi-instance, only one CAN interface could be used at a time. Because of that, I tested CAN2 without CAN1 enabled, but the behaviour was the same.
I also tested with the default PIN mapping and got the same issue.

I'll run more

[2022-08-31 20:43] nandojve opened #49775 "Add support to transport IEEE 802.15.4 PPDU + Padding between drivers instances and L2 - MAC"
**Is your enhancement proposal related to a problem? Please describe.**

The Zephyr IEEE 802.15.4 stack (L2 - MAC) implementation don't transport all information defined by the IEEE 802.15.4 PSDU (PHY Service Data Unit) packet. As identified and discussed on #49311 the missing fields obligate majority (if not all) drivers to do special treatment on RX/TX operations. This intents to collect and dis

[2022-08-31 20:48] mmahadevan108 commented on #49760
This test needs to be excluded on `frdm_kl25z` as flash is disabled. I see the below error when running the test command, am I missing something in my environment?
[code]

[2022-08-31 21:24] npitre commented on #49491
| Alternately, the test could be reworked to not print anything from the
| IRQ handlers by simply adjusting a status variable and let the main
| thread print the results.

Something like this (I don't have gcc 12 installed to test it):

[code]

[2022-08-31 21:26] thedjnK opened #49783 "net: ipv4: packet fragmentation support"
**Is your enhancement proposal related to a problem? Please describe.**
Adding support for fragmented packet reassembly (and optionally, transmission) for IPv4 networking. This allows for packets > 1500 bytes or smaller but fragmented packets if links have smaller MTUs.

**Describe the solution you'd like**
For IPv4 fragmentation to be supported, similar to how IPv6 fragmentation is

**Describe al

[2022-08-31 21:39] vphirema commented on #49703
Hi Keith, I will file an internal bug and see if the eSPI owners can change the naming convention

[2022-08-31 21:55] #49462 closed

[2022-08-31 23:11] sylvioalves commented on #49678
@fabiobaltieri, `hal_espressif` will be update to v4.4.1 with this PR: https://github.com/zephyrproject-rtos/zephyr/pull/49682

[2022-09-01 01:48] shaoanxli opened #49786 "nsim_em: tests: fail to run tests/kernel/timer/timer_behavior"
**Describe the bug**
Numerical conditions are not met: max_us <= max_us_bound. And the value of max_us=20000.000000, max_us_bound=1100.000000.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p nsim_em -T tests/kernel/timer/timer_behavior/ -v
3. See error

**Logs and console output**
[code]

**Environment :**
OS: Linux
Toolchain Zephyr SDK 0.15.0
Commit SHA or

[2022-09-01 02:27] cvinayak commented on #49359
@mniestroj I would like you to check somethingL

Use lower priorities for other SoC peripherals used in your application by having the below

#define NRF_DEFAULT_IRQ_PRIORITY 5

inside your application folder in dts/arm/nordic/override.dtsi file.

and then check the zephyr.dts file, the interrupt priorities should be 5 instead of 1.

Meanwhile, I will try to reproduce it at my end today.

[2022-09-01 02:39] hunterhu3000 opened #49789 "it8xxx2_evb: tests/crypto/tinycrypt/ test takes longer on sdk 0.15.0"
**Describe the bug**
tests/crypto/tinycrypt/ fails on sdk 0.15.0, because the timerout for this test is 500s, but it takes longer. If we set the timeout to 600s, the test can pass.

Calculate the actual time of the test:
On SDK 0.15.0
Total 569s
test_ecc_dh in 171.386 seconds
PASS - test_ecc_dsa in 181.298 seconds

On SDK 0.14.2
Total 363s
test_ecc_dh in 272.805 seconds
PASS - test_ecc_dsa in 287.

[2022-09-01 02:40] ChiHuaL commented on #49678
never been updated, upstream has recent commits
https://github.com/OpenNuvoton/M480BSP

Actually, We (@MulinChao and @ChiHuaL) are not maintainers for the HAL.
We maintain Nuvoton EC series chip (NPCX series) and put everything in the Zephyr repository based on the disscussion [here](https://github.com/zephyrproject-rtos/hal_nuvoton/pull/2#issuecomment-671139938). We didn't use the hal for EC chip

[2022-09-01 02:50] hunterhu3000 commented on #49789
It looks like both functions are related to the montecarlo algorithm which is calculation intensive.
@GTLin08, Is it possible to locate which instruction takes longer in 0.15.0, and is it related to the compiler? Thanks

[2022-09-01 06:21] shuai1x opened #49790 "Intel CAVS25: Failure in tests/boards/intel_adsp/smoke sporadically"
**Describe the bug**
On intel_adsp_cavs25 platform, tests/boards/intel_adsp/smoke failed.
This case has a one in ten chance of failure.
Bisect result: Can’t find the exact commit.

Please also mention any information which could help others to understand
the problem you're facing:
 - intel_adsp_cavs25
 - tests/boards/intel_adsp/smoke failed.

**To Reproduce**
Steps to reproduce the behavior:
1. tw

[2022-09-01 06:29] ssekar15 commented on #49678
@fabiobaltieri
I will do it

[2022-09-01 06:33] tobias-aunbol commented on #49406
@FRASTM will #47962 also include a change so the data->address_width won't be set to 3U if it's JESD216_SFDP_BFP_DW1_ADDRBYTES_VAL_3B4B as i mentioned in my last comment?. Because if so, then i think this will fix this issue. I tried to test #47962 but this is getting me hardfault, which i already have commented on #47962.

[2022-09-01 06:43] cvinayak commented on #49359
@mniestroj Thank you for providing a simple sample, it has helped me reproduce the issue, and here is the fix #49791. Please verify and revert back.

[2022-09-01 07:24] yinfangw commented on #49611
When I use APIC_TSC_DEADLINE_TIMER, the testing can pass.

twister -W -p ehl_crb --device-testing --west-flash=$HOME/RPL_X86_USB_v2.sh --device-serial /dev/ttyUSB0 -v -T tests/kernel/timer/timer_behavior/  -vv -x=CONFIG_APIC_TSC_DEADLINE_TIMER=y -x=CONFIG_HPET_TIMER=n
The tests log is as follow:
DEBUG   - DEVICE: *** Zephyr EFI Loader ***
DEBUG   - DEVICE: RSDP found at 0x76c4e014
DEBUG   - DEVICE

[2022-09-01 07:27] hakehuang opened #49792 "test-ci: adc-dma : frdm-k64f: dma dest addess assert"
**Describe the bug**
dma driver meet address assert due to address is not 32 bit aligned.

Please also mention any information which could help others to understand
the problem you're facing:

[code]

**To Reproduce**
Steps to reproduce the behavior:
cd tests/driver/adc/adc_dma
1. mkdir build; cd build
2. west build -b frdm_k64f
3. west flash
4. See error

**Expected behavior**
test pass

**Impact

[2022-09-01 08:09] str4t0m commented on #49769
Closing because it was already merged into main.

[2022-09-01 08:09] #49769 closed

[2022-09-01 08:21] chrta commented on #49628
@andyross Thanks for the fast reply. Your suggested diff works for me. If `__noasan` is never set for gcc and only for clang, maybe a better option would be to move the complete `__noasan`-block from `include/zephyr/toolchain/gcc.h` to `include/zephyr/toolchain/llvm.h`.

[2022-09-01 08:27] #47300 closed

[2022-09-01 08:27] #49599 closed

[2022-09-01 08:28] #47781 closed

[2022-09-01 08:58] #49463 closed

[2022-09-01 09:07] shuai1x commented on #48665
I have opened a PR to fix it. #https://github.com/zephyrproject-rtos/zephyr/pull/49799

[2022-09-01 09:13] Zhaoningx commented on #49614
This is due to the commit 672d0962c004a5a790d91bad9f4b84a85f43855b
[code]

[2022-09-01 09:18] Zhaoningx commented on #49656
This issue is not stable to reproduce, it's difficult to bisect. Still working on looking for what's commit caused this bug.

[2022-09-01 09:22] aradhumal opened #49803 "I/O APIC Driver in Zephyr makes incorrect register access."
**Describe the bug**
The ioapic driver in the zephyr OS makes an incorrect access to the register offset of IOAPIC during the init process.
[https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/interrupt_controller/intc_ioapic.c](url)
line number : 466
The typecast to char causes the assembly language instruction movsbl to have a signed extension of the ebx register starting with registe

[2022-09-01 09:38] str4t0m opened #49805 "stm32f1: can2 & eth pin remap not working"
**Describe the bug**
On STM32F1 CAN2 and ETH can be remapped to a second set of pins, but this does not work on the current zephyr main branch.

**Expected behavior**
Peripherals can be remapped to alternate pins.

**Impact**
The pinctrl driver can't be used to remap the peripherals to alternate pins.

**Environment (please complete the following information):**
 - Commit SHA: 5b3f800

Closed in #

[2022-09-01 09:53] povergoing commented on #49491
Seems we can't (but not 100% sure)

Agreed, I have tried to emulate them but things are kind of ugly :(

I have created a PR, which can pass the nested irq test.

[2022-09-01 10:04] hakehuang commented on #49440
in this two weekly testing, 60% 217/322 cases fails due to fsl_caam init deadloop. @mmahadevan108

[2022-09-01 10:12] SkryptX commented on #49523
This means the definition of `k_sleep` is to wait the given amount of ticks and not to wake x ticks later?

Like this (with tick duration 10ms):
[code]

Not like this:
[code]
That kinda makes sense. The problem just seems way worse than it actually is, because native_posix doesn't know any execution time, so there are always the full 1010ms in between and not _something_ between 1000ms and 1010ms.

[2022-09-01 10:23] rlubos commented on #49775
I understand we need to straighten the situation with FCS field, as it's part of PSDU. But do I understand correctly that you also propose that SHR and PHR should be a part of the frame (net_pkt) exchanged between L2 (MAC) and driver? Shouldn't it be driver responsibility to fill out those fields (and trim them accordingly on the RX side), just as it'd done right now in the drivers? @fgrandel Do y

[2022-09-01 10:40] #49471 closed

[2022-09-01 10:56] SkryptX commented on #49687
My proposed T4 is would allow something like this:

`*` means it is part of the workspace git repository
[code]
Like this it is easy to navigate and open in an IDE like VSCode and prevents the spam of too many Git repositories, which usually incurs a higher administrative overhead. It also enables top-level files like a README for the whole project and how to set it up. West currently only support

[2022-09-01 10:56] #49805 closed

[2022-09-01 11:01] aescolar commented on #49523
Yes.

This would be feedback for the kernel API itself. Maybe you want to create a separate issue?

[2022-09-01 11:01] #49523 closed

[2022-09-01 11:18] #49465 closed

[2022-09-01 11:19] #44824 closed

[2022-09-01 11:20] #42324 closed

[2022-09-01 11:20] #43646 closed

[2022-09-01 11:30] maweicoltsmart opened #49811 "DHCP cannot obtain IP, when CONFIG_NET_VLAN is enabled"
branch：main

DHCP cannot obtain IP, when CONFIG_NET_VLAN is enabled

The log output is as follows:
[code]

[2022-09-01 11:37] maweicoltsmart commented on #49811
If I modify the program to ignore this error, I still cannot get the IP, and the log output is as follows:
[code]

[2022-09-01 11:52] nashif commented on #49716
this should be fixed already by https://github.com/zephyrproject-rtos/zephyr/pull/49771

[2022-09-01 11:52] #49716 closed

[2022-09-01 11:53] nashif commented on #49786
@teburd  should this be disabled for this simulator?

[2022-09-01 11:55] yroeht opened #49814 "Cortex-A9 fails to build cmsis due to missing core_ca.h"
**Describe the bug**
I wanted to check out the Cortex-A9 support, so I tried building the hello_world sample. This issue seems unrelated to the specific sample though. It is also probably unrelated to the the target and entirely due to user error wrt. modules.

The build fails due to a missing header file, which I believe is located in cmsis module (modules/hal/cmsis) at ./hal/cmsis/CMSIS/Core_A/I

[2022-09-01 12:05] #40893 closed

[2022-09-01 12:15] benediktibk opened #49816 "ISOTP receive fails for multiple binds with same CAN ID but different extended ID"
**Describe the bug**
If you call `isotp_bind` twice, both with the same receiving CAN ID (`isotp_msg_id.std_id`) but different ISOTP extended address (`isotp_msg_id.ext_addr`), it is impossible to receive something on the second ISOTP context.

This is caused by the filter mechanism of CAN. `can_attach_isr` is getting called for the specific CAN ID, with `ctx` (`struct isotp_recv_ctx`) as argument

[2022-09-01 12:22] bjarki-trackunit commented on #49208
@warasilapm Have you been able to find time to work through the issues with this PR and the SARA-R4 update?

[2022-09-01 12:38] jakkra commented on #49465
@cvinayak Yes sure, I'll do that, thanks.

[2022-09-01 13:00] erwango commented on #46400
Note:
Since V13.2.0, 2 versions of the fw are compatible with Zephyr:
- stm32wb5x_BLE_HCILayer_fw.bin
- stm32wb5x_BLE_HCILayer_extended_fw.bin
- stm32wb5x_BLE_HCI_AdvScan_fw.bin

For more information on these binaries, get release notes from [STM32CubeWB github page](https://github.com/STMicroelectronics/STM32CubeWB/blob/master/Projects/STM32WB_Copro_Wireless_Binaries/STM32WB5x/)

[2022-09-01 13:01] erwango commented on #49584
Note that for general usage, `stm32wb5x_BLE_HCILayer_fw.bin` is the one to be used.

[2022-09-01 13:06] Light411 opened #49821 "USB DFU implementaiton does not work with WinUSB because of missing device reset API"
**Describe the bug**
When uploading a signed image using dfu-util on windows, the transfers fails and output "Lost device after RESET ?".

From what I understood I'm not the only one facing this issue, It has been discussed on Discord both on the general channel but also on the MCUBOOT one.

The SoC I'm using is stm32g474re, but it seems to also affect other vendors.
USB DFU works flawlessly on Li

[2022-09-01 13:21] Aljohcomb commented on #49584
I have also tried older versions of that stack with no major difference.

[2022-09-01 13:30] nashif commented on #48887
My feedback offline as I was not able to join the major part of the meeting

@gregshue  It is really frustrsating to see this type of discussion always go into modules/mcuboot and things that you might be passionate about, derailing the discussion from the actual topic.

+1

I think this would be a very good replacement to how we manage API stability right now using when some API was introduced/mo

[2022-09-01 13:40] SkryptX opened #49823 "Example Application: Use of undocumented zephyr/module.yml in application folder"
In the current example application (https://github.com/zephyrproject-rtos/example-application) there is a `zephyr` folder with a `module.yml` file, which enables the use of the device trees, Kconfigs etc. just like in a module.

I cannot find any mention of this mechanism anywhere in the documentation. It might very well be that I haven't fully understood west and its magic, but I really can't fin

[2022-09-01 13:43] erwango commented on #49584
@Aljohcomb I'm not able to reproduce this issue on my side (I'm testing current main with V13.2.0, stm32wb5x_BLE_HCILayer_fw.bin). But maybe I'm lacking a remote device that allows to reproduce the issue.
In order to help on investigation, would  you be able to try to reproduce the issue using full STM32Cube application ?

[2022-09-01 13:47] teburd commented on #49786
If this is an emulated environment then yes, disable the test. The test does not work in simulated/emulated environments.

[2022-09-01 13:48] Aljohcomb commented on #49584
The issue is mainly prevalent when remote is using Intels AX201 chipset. However I get the faults no matter remote device.
I did manage just now to get the set phy working with:
`
CONFIG_BT_AUTO_PHY_UPDATE=n
`
I this makes the remote decide on PHY instead of the STM32 in this case.
Also fixed the crash.
The error of failed to read remote features still remains.

Connection towards the AX201 chipse

[2022-09-01 13:55] carlescufi commented on #49823
Here you go:
https://docs.zephyrproject.org/latest/develop/modules.html#integrate-modules-in-zephyr-build-system

[2022-09-01 13:55] #49823 closed

[2022-09-01 14:03] cfriedt opened #49825 "net: ip: tcp: use zu format specifier for size_t"
**Describe the bug**
Incorrect format specifiers cause warnings (escalated to errors in `twister`), breaking build.

**To Reproduce**
Steps to reproduce the behavior:
1. enable logging, debug logging
2. use `twister` to build something involving tcp
3. See error

**Expected behavior**
Successfull build

**Impact**
Showstopper for build (of `gsoc-2022-thrift` project)

**Logs and console output**
[

[2022-09-01 14:08] erwango commented on #49584
CONFIG_BT_AUTO_PHY_UPDATE=n
I this makes the remote decide on PHY instead of the STM32 in this case. Also fixed the crash.

Agreed. I'm checking with our BLE experts on the consequence on deactivating this option.
Note that I don't get crash even when this is on.

Ok, I can see this error as well. We need to investigate that also, but I don't think this is related with your issue.

Here is the equ

[2022-09-01 14:18] Aljohcomb commented on #49584
I will take a look at this and get it running on our HW.

Thanks, will read through this.

Will try to get back on this asap.

[2022-09-01 14:24] romkell opened #49829 "RFC: Mark all safety relevant files with a SPDX tag"
## Introduction

IEC 61508 safety certification is planned for the Zepyhr OS **core**.
Zephyr OS as a eco system is too big to be certified as a whole. The effort would be too high to finish in reasonalbe time.
Therefore a safety scope was defined in the past ([Zephyr-Overview-2022Q1-Public.pdf](https://zephyrproject.org/wp-content/uploads/sites/38/2022/02/Zephyr-Overview-2022Q1-Public.pdf) ) and

[2022-09-01 14:24] #49825 closed

[2022-09-01 14:44] nordicjm commented on #49821
Issue also observed on nrf52833-based module and stm32f103-based module. Some old discussions on github mentioning this issue from 2+ years ago

[2022-09-01 14:52] hubertmis commented on #49775
If I understand correctly this proposal is about adding placeholders in the buffer transferred between L2 and a driver: before and after actual PSDU to accommodate SHR, PHR, MFR (actually being a part of PSDU). There is no doubt MHR and MSDU should be transferred between these layers, but the question is about other parts of the frame.

In a typical network stack we would use a structure like Zeph

[2022-09-01 14:59] rlubos commented on #28998
I've investigated the issue a bit as it has been brought back in https://github.com/zephyrproject-rtos/zephyr/issues/49451.

I think the model proposed in the linked documents makes a lot of sense, it sounds reasonable to separate the administrative state from the operational state. It seems that it will require a lot of rework across the net stack/drivers but I guess it's unavoidable to sort out

[2022-09-01 14:59] rlubos commented on #49451
@mniestroj Indeed the linked issue seems to be covering the same topic, thanks for referencing it.

@krish2718 I suggest we move the discussion into https://github.com/zephyrproject-rtos/zephyr/issues/28998 to avoid duplicates.

[2022-09-01 15:14] nordicjm commented on #49717
https://github.com/zephyrproject-rtos/zephyr/pull/49691 has been changed to resolve this issue

[2022-09-01 15:16] krish2718 commented on #49451
Sorry, I haven't searched for existing ones. Sure, we can move to that.

[2022-09-01 15:26] krish2718 commented on #28998
LGTM, one query

Do we have a usecase for L2 driver is ready but the interface is disabled? If yes, we need both admin UP and oper UP, to distinguish its expected or some fault with L2 driver.

E.g., An application is built with multiple L2's but at run-time (need to extend `net iface` shell command) we can disable an interface (admin DOWN) to use preferred L2.

[2022-09-01 15:38] yperess commented on #49545
Two reasons I kinda listed in the alternatives (through I could have done a better job looking at it now):
1. I don't want to compile the regex into the binary, it'll work for native_posix, but it's not a portable solution
2. For portability too, I don't want to add the extra buffer

[2022-09-01 15:52] yperess commented on #48149
I don't believe that you'll always be able to guess what the various application filters will need to be. So I don't believe that making that filtering logic a part of the sensor subsystem is a reasonable requirement (it bloats the subsystem and makes a lot of assumptions). We will (as we both agree) have the ability to just specify that you want the `default` sensor of type X, which I think is as

[2022-09-01 16:00] mniestroj commented on #28998
We actually have `net iface up` and `net iface down` shell commands now. Those would be the first users for ADMIN UP and ADMIN DOWN. Your application example is also valid, like for IoT devices that want to implement some high level logic on which network interface to use at the time. This might be also per end-user configuration, so either WiFi is conifgured or some other medium. Based on that on

[2022-09-01 16:42] gregshue commented on #49829
Putting multiple identifiers on the same file line has already shown to be problematic for enumerations.  We should use a separate comment line per cert-scope.

I think you mean "orthogonal" rather than "contradicting".  Innovation is largely about concept. Safety (and security) are largely about process.

Verified that it **fully meets the requirements and does nothing else** - absolutely.  Not b

[2022-09-01 16:49] SkryptX commented on #49823
I've read this section multiple times and it does not tell me how the module discovery process works. There is this section https://docs.zephyrproject.org/latest/develop/modules.html#module-inclusion which explains it somewhat, but not completely.

My questions is: How do modules get found? Is it with the `west.yml` and if so, how does the manifest repository of the example-application get added t

[2022-09-01 17:12] krish2718 opened #49843 "net: shell: Extend ping command"
Extend networking shell ping command to take more arguments

* payload size (`-s` in Linux)
* QoS setting (`-Q`/-`T`/`-S`) that can accepted hex/decimal

https://github.com/zephyrproject-rtos/zephyr/issues/49843#tasklist-block-d04b0db3-9a5c-4baa-b0ef-453d43d9e7ac

[2022-09-01 17:12] krish2718 commented on #49843
@rlubos

[2022-09-01 17:16] krish2718 opened #49844 "shell: Add abort support"
Currently, if we run a shell command, then there is no way to abort it, e.g., `net ping -c 100 192.168.0.1` you need to wait for the command to complete. It would be good to have support for `ctrl + c` keyboard interrupt.

I don't see much support for signal handlers in Zephyr except for [this](https://github.com/zephyrproject-rtos/zephyr/commit/e04764dbc716301604cb4e201eebe15cde6a4aee).

[2022-09-01 17:16] krish2718 commented on #49844
@rlubos

[2022-09-01 17:19] boaks commented on #49071
Any  update about the fast retransmission?
One idea, but just an idea: if the 60ms initial timeout is somehow caused by a accidentally converted 60000 ms maximum timeout to "60", then a 1000*1000ms (=> "1000000") as maximum timeout would result in "1000" initial timeout. Just a wild guess. This doesn't really solve the issue, but may limit the scope to consider.

[2022-09-01 17:21] krish2718 opened #49845 "net: Disable data path prints"
Currently, networking layer has loads of per-packet prints, e.g., see below, having prints in data path is not a good idea, we already support statistics, so, that can be used for any errors/drops. These should be removed or converted to debug.

[code]

@rlubos

[2022-09-01 17:32] DerekSnell opened #49846 "mimxrt1160_evk network samples stopped working"
Some commit after v3.1.0 broke the network sample apps when running on the mimxrt1160_evk board.  The problem is seen in the latest main branch, commit d5523386375af720facae445f50e6b1a1c7f7471.  It has also been reported this affects the mimxrt1170_evk as well.  Running the same sample from v3.1.0 boots and starts execution as expected.

**To Reproduce**
Steps to reproduce the behavior, using main

[2022-09-01 17:36] #49760 closed

[2022-09-01 18:11] SkryptX commented on #49687
I just realized that a change like this would need a significant rethinking of the way Zephyr and West do things. Currently the whole Zephyr/West world is based on the workspace and the manifests which define projects which define the modules which define all the rest of the chain.

In my opinion it is a shame west is designed the way it is, since it makes so many assumptions and leaves so little

[2022-09-01 18:19] teburd commented on #48150
I've been thinking about this all morning. I think the answer is yes. Temperature compensating bias may require a continuous bias change. In my own product experience I had one product (chromatography related) where the sensors bias would drift with temperature. This is true of IMU sensors as well. Temperature variations mean bias drifts.

Also, there are some clear ideas that automatic and contin

[2022-09-01 18:26] mbolivar-nordic commented on #49829
A couple of top-level concerns/questions.

1. Who will be responsible for determining the "to-be-defined safety scope" in motion 2?
2. What constitutes the T2 and T3 class tools in this scope? (I see this partially addressed in the now-closed PR, would be good to see this copy/pasted into the issue for the record, since we're voting on the issue in the TSC, not the PR)

Finally:

I know you're ask

[2022-09-01 18:38] gregshue commented on #49687
West is supposed to be optional in the Zephyr environment.  It is a very thin layer on top of other scripts and services. IIRC, Google (platinum member) does not use west. It does not need to solve other ideas of versioning and Git usage.

It sounds like you would be better served by having zephyr and other modules be tied into your repository as Git submodules.

[2022-09-01 18:59] carlescufi commented on #49823
@SkryptX you seem to have come to the right conclusions yourself. The module discovery logic, including the manifest repository as a module (eg. example-application) is located here:

https://github.com/zephyrproject-rtos/zephyr/blob/main/cmake/modules/zephyr_module.cmake

which in turn invokes this script here:

https://github.com/zephyrproject-rtos/zephyr/blob/main/scripts/zephyr_module.py

and

[2022-09-01 18:59] carlescufi commented on #49823
@SkryptX we'd be very grateful if you could send a Pull Request with the missing documentation bits, we always welcome contributions! cc @tejlmand.

[2022-09-01 19:14] gregshue commented on #48887
@nashif It is also really frustrating to see the Zephyr Project not actually support the needs of users trying to complying with a development models it claims to support.  `module.yml` provides an extension of the build system.  As an integrator of multiple modules were I cannot control the consolidation or separation of the modules, I need everything done at a higher layer to be independent of w

[2022-09-01 20:07] tejlmand commented on #49708
Ideally we should always be using `message(DEPRECATION <msg>)` in CMake and not warning, cause `DEPRECATION` offers some nice features:
- [CMAKE_ERROR_DEPRECATED](https://cmake.org/cmake/help/latest/variable/CMAKE_ERROR_DEPRECATED.html)
- [CMAKE_WARN_DEPRECATED](https://cmake.org/cmake/help/latest/variable/CMAKE_WARN_DEPRECATED.html)

[2022-09-01 20:43] gregshue commented on #48887
Almost ... "that does not help with zephyr forks" ... "cause branching and forking"

This is a present user need, not an abstract discussion. Other users independent of me have already indicated on Discord they are building one set of source reusable on both zephyrproject-rtos and nrfconnect ecosystems.

I am not concerned with the forks tracking Zephyr main.  I am concerned about identifying inte

[2022-09-01 20:52] marc-hb commented on #48887
I was referring to the (lack of) solutions, not to the problem.

What makes you think some (good and useful) API change(s) in nrfConnect won't be found in some future upstream Zephyr version? Remember: forking and branching are the same thing.

Off-topic again?

[2022-09-01 21:27] gregshue commented on #48887
I never thought that.  Rather, I thought that an API change upstreamed into Zephyr would now be managed by Zephyr rather than nrfConnect.  I hope nRFConnect would then deprecate/remove their implementation and align with the upstream (just like I do with my local patches to Zephyr when I integrate with a fixed version of Zephyr).

I also know that nrfConnect has rewritten Git history, so this fork

[2022-09-01 21:48] #43655 closed

[2022-09-01 21:48] #49762 closed

[2022-09-01 22:15] marc-hb commented on #48887
OK then why would API changes in nrfConnect not be manageable using the same processes and tools as API changes across upstream Zephyr branches? Considering these processes and tools don't exist yet, it sounds like you're complaining about a problem that does not exist yet.

Pretty sure doxygen does not care about git history. If some other solution or tool ever relies on git history then it will

[2022-09-01 22:25] gregshue commented on #48887
nrfConnect could use the same processes as API changes across upstream Zephyr branches - but it cannot assign different meanings to the same version identifiers **unless** some other mechanism exists to tell them apart. I look to the Zephyr Project to specify one mechanism for all forks to use.

In order for downstream developers to create a module that works with either upstream Zephyr or an inco

[2022-09-01 23:11] aborisovich commented on #48887
Hi everyone,
I'm also thinking about solutions to those problems you describe (but don't worry I won't be interfering much in your opinions exchange). We should think about solutions to all tools/interfaces Zephyr has one by one.
I'll start with Kconfig because it seems an easier problem that other ones.

### Kconfig maintenance proposition
The problem:

1. Out of tree Zephyr application sets valu

[2022-09-02 00:04] yperess commented on #48149
Discussed offline, we'll go with the CHRE API and optionally add `static inline` wrappers later on to provide filtering functionality

[code]

[2022-09-02 00:06] #48149 closed

[2022-09-02 00:19] marc-hb commented on #48887
Right, different forks and branches must use different identifiers to signal that they are indeed different versions. Not breaking new ground.

An upstream project cannot anticipate all the potentially crazy ways it will be forked and create a versioning scheme that will be compatible with everything and anything. You can offer and recommend a "fork-friendly" versioning scheme; that seems reasonab

[2022-09-02 02:04] LingaoM opened #49851 "Bluetooth Controller with Extended Advertising"
Hi,

i'm use Zephyr Bluetooth Controller to develop bluetooth extended advertsing application, but found the second pdu offset too big than
ncs sdk.

For example, ncs sdk aux offset almost 400us, but the current zephyr sdk bigger than 10ms

![image](https://user-images.githubusercontent.com/26378606/188043193-8d7e91de-d9ed-4994-9a21-56a9d56a8b67.png)

[2022-09-02 02:30] yperess commented on #48149
As a note, the open/close aspect of this issue was not yet resolved, but that's on me. I shouldn't have mixed the two. That issue is more relevant to the data type discussion as the discussion boils down to one of the two options:
1. Combine bias and data into one event
2. Generate separate events for bias/data so they can use the same data struct

[2022-09-02 02:47] ric96 opened #49852 "uart: extra XOFF byte in the read buffer"
**Describe the bug**
I am reading 256 byte long uart rx into a uint8_t array of size 256 and have flow control set to none. I can see on my logic analyzer that the tx device is not sending XOFF.
However, my first read element as position 0 in the array is always XOFF (decimal 19) and every other element is shifted by one, so i end up having 257 elements instead.
This is on an stm32F401cc.
as a wor

[2022-09-02 04:24] huhebo commented on #48149
As we discussed offline, the major concern about `senss_find_sensor` is its has memory copy, and there are two options to resolve it:

1. return sensor info array pointer which including all sensors, App/Client doing the filter by type and index later, this is the `sensor_subsystem_get_sensors` proposal:
   https://github.com/zephyrproject-rtos/zephyr/issues/48149#issuecomment-1234927228
2. return

[2022-09-02 04:35] huhebo commented on #48149
Generate separate events for bias/data so they can use the same data struct

Agree,  we can continue the discussion in #48150, but I don't think we need client level open API: `sensor_subsystem_open` :
[code]
It's introduced extra APIs and steps for Apps/Clients to open a sensor, and this API can only support single date event callback per App/Client,  but an App may want per-sensor data event cal

[2022-09-02 05:31] GTLin08 commented on #49789
I test with commit: [66da4c2](https://github.com/zephyrproject-rtos/zephyr/commit/66da4c285412fa60e3c5cdeac53dac476f0a8060) and on SDK 0.15.0, the result is pass.
test_ecc_dh in 168.43 seconds
test_ecc_dsa in 177.955 seconds
Total = 38 duration = 349.826s
Before this commit: [66da4c2](https://github.com/zephyrproject-rtos/zephyr/commit/66da4c285412fa60e3c5cdeac53dac476f0a8060), there are many chan

[2022-09-02 06:24] yinfangw commented on #49786
on acrn_ehl_crb, the test case also failed:

START - test_periodic_behavior
periodic timer behavior test
periodic timer samples gathered, calculating statistics
timer clock rate 1900000000, kernel tick rate 10000, expected period 1000 us, samples 10000, period 1900000.000000 cycles
statistics samples 10000, rollovers 0, mean 999.994210 us, variance 52798.839798 us, stddev 229.779984 us, min 3.2752

[2022-09-02 06:30] yinfangw commented on #49786
For this test case, it failed when using HPET timer by default. But it failed when using APIC TSC timer: detailed in https://github.com/zephyrproject-rtos/zephyr/issues/49611

[2022-09-02 08:12] nordicjm commented on #36358
I asked on the cmake discussion forum and this should not be an issue, see https://discourse.cmake.org/t/object-file-names-use-absolute-path-to-sources-outside-source-tree/6383/6 and corresponding code at https://gitlab.kitware.com/cmake/cmake/-/blob/v3.24.1/Source/cmLocalGenerator.cxx#L3516-3560 which was last updated 7 months ago so should be in cmake version 3.23 onwards

[2022-09-02 08:22] Aljohcomb commented on #49584
Regarding [#31959](https://github.com/zephyrproject-rtos/zephyr/issues/31959) we have made following patch to _ipm_stm32wb.c_.

`Subject: [PATCH] drivers: hci: stm32_ipm: Add HSE as BLE RF wake up source

LSI is not a valid RF wake up clock source anymore.
For more info see, STM32WB55 errata chap. 2.2.1.
---
 drivers/bluetooth/hci/ipm_stm32wb.c | 14 ++++++++++----
 1 file changed, 10 insertions(+)

[2022-09-02 08:23] cvinayak commented on #49738
@jakkra Thank once again with the easy to reproduce steps. Please verify the fix in #49856 and revert back with the results.

[2022-09-02 08:29] nylnx opened #49858 "Add possibility to do calculations with k_timeout_t"
There is currently no easy way to calculate a custom timeout. Something like `1000ms - 1 tick` is error-prone and difficult to get right, especially when compiling for different hardware with different tick-bases. This could be solved with a few standardized add, subtract, multiply and divide macros/functions which let you do timeout calculations on the opaque `k_timeout_t` data type.

[2022-09-02 08:34] LingaoM commented on #49851
[ncs_ext_adv_demo.zip](https://github.com/zephyrproject-rtos/zephyr/files/9476330/ncs_ext_adv_demo.zip)

[2022-09-02 08:53] jakkra commented on #49738
@cvinayak Thanks for the quick fix, not crashing anymore with https://github.com/zephyrproject-rtos/zephyr/pull/49856

[2022-09-02 08:56] romkell commented on #49829
I am fine with any format, as long as its is suitable and conformant to SPDX and west spdx (which I would assume it is, since also licenses are listed in separate lines).

About processes that request output which have to be created with typically a lot more effort that a lean change.
In my experience companies tend to re-think changing concepts fundamentally twice, when the price tag is double or

[2022-09-02 09:01] erwango commented on #49584
Did it helped in fixing your issue ?

[2022-09-02 09:12] cvinayak commented on #49851
In the Zephyr Controller design, the scheduling of AUX_ADV_IND PDUs are different to ensure that they can be placed non-overlapping with other states and roles, and the ADV_EXT_IND PDUs would be scheduled with the required random_delay.

[2022-09-02 09:17] stephanosio commented on #49491
An important update -- this problem is no longer specific to `va_list` usage, but all 256-bit copies:

https://github.com/zephyrproject-rtos/zephyr/pull/49806#issuecomment-1235256667
https://github.com/zephyrproject-rtos/zephyr/pull/49806#issuecomment-1235264899

[2022-09-02 09:24] Aljohcomb commented on #49584
It did fix the issue, we have used this patch for a while.
Might be important to point out that this issue is mostly towards a specific inter chip, AX201.

I'm attaching a log file from a wireshark session were the issue is observer. Can provide longer recordings if necessary.
[STM32_read_remote_features_fail.json.txt](https://github.com/zephyrproject-rtos/zephyr/files/9476720/STM32_read_remote_fe

[2022-09-02 09:38] erwango commented on #49584
@Aljohcomb Sorry but I'm lost. Which issue did it fixed ? As I understand this is not current issue.

[2022-09-02 09:48] romkell commented on #49829
I guess it would be the respective Committee, for safety the Safety Committee. The maintainers participation is highly appreciated, I guess even needed, since (almost) no one from the Safety Committee knows the implementation details in all the code / tool code and would be able identify the relevant code part / files without spending weeks.

But in the end there is not a lot room for bargaining -

[2022-09-02 09:57] jfischer-no commented on #49480
nucleo_l476rg board has a debug adapter on the board with CDC ACM support, arduino_nano_33_ble does not. As described elsewhere, it makes no sense to enable CDC ACM support for this type of boards by default, it leads to other problems and exact same repeated configuration for many boards. It is also not a bug, it is just the way it is. Either use overlays or wait for https://github.com/zephyrproj

[2022-09-02 10:14] Aljohcomb commented on #49584
Sorry that was unclear from my side. It is not the current issue. It was only in regards to the issue you linked yesterday.
I thought that maybe our use of HSE instead of LSE could have an effect on the syncronisation which was a longshot theory for the read remote features fail.

[2022-09-02 10:15] rlubos commented on #49844
CC @jakub-uC

[2022-09-02 10:24] rlubos commented on #49845
I'm not really convinced about lowering packet allocation errors log priority. Packet allocation failures usually indicate problems either with system configuration or some net stack component (not freeing the packets in time). Note that those reports are usually preceded with a considerable timeout during the packet allocation, where the corresponding thread is suspended, so the performance impac

[2022-09-02 10:26] rlubos commented on #47240
Should be fixed by https://github.com/zephyrproject-rtos/zephyr/pull/47115

[2022-09-02 10:26] #47240 closed

[2022-09-02 10:28] jakub-uC commented on #49844
You redirect keyboard input to your handler and bypass shell. Please check:
https://github.com/zephyrproject-rtos/zephyr/blob/main/include/zephyr/shell/shell.h#L1154

[2022-09-02 10:37] rlubos commented on #47966
@ssharks I think we should decide what to do with this ticket. I think that we can agree that while current solution is not 100% compliant with TCP specifications, it is simpler (specifically considering our TCP stack), serves its purpose (triggering ACK from the peer side), and is compatible with major stacks in the wild (Linux). I see two options here:
1. Let's agree to disagree on the topic and

[2022-09-02 10:37] #49763 closed

[2022-09-02 10:40] rlubos commented on #49844
I need to give it a try, thanks for the information!

[2022-09-02 10:57] #40855 closed

[2022-09-02 11:02] #48960 closed

[2022-09-02 11:04] #49786 closed

[2022-09-02 11:18] ssharks commented on #47966
This is a difficult topic. I agree on the fact that it is working in a lot of cases. Without a major overhaul there is no better solution to it. Let's leave it as is in the meantime. We can spend our energy better at things like collision avoidance.

[2022-09-02 11:23] #48665 closed

[2022-09-02 11:32] krish2718 commented on #49845
Not only performance impact, but also the usability of the prints, wouldn't it be better if we report stats? The print in itself doesn't help debug, just shows that there is some problem right, so, stats might be good enough.

[2022-09-02 11:42] fomst commented on #49373
@erwango Sorry for late answer. Somehow i've missed notification.
Here is the SHA1 string: ae7f349367312dbf3f92e6aea028c0a89bb409a7.

Did you tried to reproduce this issue on the STM32 hardware, or on another one?
I still work on reproducing this issue with ST's sdk, but had not much time. Hope i'll be back with results next week.

[2022-09-02 11:45] erwango commented on #49373
Was using nucleo_wb55rg.

[2022-09-02 12:05] krish2718 commented on #49845
ok, agreed on packet allocation failures, thought we could separate debug stats from mandatory stats (like `/proc/net/snmp` in Linux).

Also, what about other prints? I only mentioned a few I saw, but looking at source there are many. e.g., `gateway not set`, frag related prints etc.

[2022-09-02 12:16] #45613 closed

[2022-09-02 12:19] #49036 closed

[2022-09-02 12:20] rlubos commented on #49845
Well, I can only refer here to `<err> net_arp: Gateway not set for iface 0x20001a60`, as along with the packet allocation failure is the only one mentioned here, but I would consider this as useful information. It informs that ARP procedure for a packet outside of the local network failed because there is no gateway information.

As for others, I guess we need to analyze each case individually, I'

[2022-09-02 12:42] krish2718 commented on #49845
Understood, I was just giving some examples.

I am still not convinced using per-packet prints (thought depending on log buffer size they might suppressed) as a way to get users attention, esp. as they can't do anything about it (end-customers). And for developers, if they see low performance, then using stats to see drops, alloc failures is preferred, esp. as it gives the counters, so, we can see

[2022-09-02 13:06] koffes commented on #49659
Relates to https://github.com/zephyrproject-rtos/zephyr/issues/23019

[2022-09-02 13:16] #40389 closed

[2022-09-02 14:25] gregshue commented on #48887
In the [T2: Star topology, application is the manifest repository](https://docs.zephyrproject.org/latest/develop/west/workspaces.html#west-t2), I am strategically reusing the repositories from zephyrproject-rtos, extending forks of other OSS projects to also be Zephyr modules, and putting licensed source into separate modules from my proprietary "applications"/boards/drivers/subsystems/tests/etc.

[2022-09-02 14:48] jukkar commented on #49845
Setting allocation errors to <err> level sounds like a good plan, after all the system is possibly in bad shape after those, especially if the recovery from out-of-mem is not possible or is error prone.

[2022-09-02 15:08] marc-hb commented on #48887
Then participate in these discussions and provide very specific, technical solution that  address your problems if/when possible. This is just getting started.

I suspect the frustration does not come from any particular topic but from the extend, vagueness and verbosity of the requests combined with the expectation level. e.g.: "MUST" support forks/modules without any technical detail. A fork and

[2022-09-02 15:12] PerMac commented on #49696
TL;DR It's a feature, not a bug. IMO it is the only way to have a reliable scope in the CI.

I find it not a bug since this is the desired behavior and I deliberately made it work like this (skips on integration platforms getting changed to errors in the CI run). The background:
There are > 400 platforms in zephyr and > 1000 tests. This gives an enormous combination of all possible configurations

[2022-09-02 15:47] FRASTM opened #49870 "stm32 enables HSI48 clock with device tree"
**Is your enhancement proposal related to a problem? Please describe.**
Until now the HSI 48 clock of the stm32 mcu is enabled by the peripheral that needs it with LL_RCC_HSI48_Enable

**Describe the solution you'd like**
Use the Device tree to enable the HSI48 clock by the clock_control driver.

[2022-09-02 16:03] krish2718 opened #49871 "zperf: Add support to stop/start download"
If by mistake we issue `zperf download` with wrong port, then we cannot re-issue the command as server is already started. We need a command to stop the server and start with proper port. @rlubos

[2022-09-02 16:15] vphirema commented on #49703
https://github.com/zephyrproject-rtos/zephyr/pull/49710
is merged hence closing

[2022-09-02 16:15] #49703 closed

[2022-09-02 16:22] romkell commented on #49829
### Copied last comment from #47029 to here to continue:

I understood that as "we" "the community" in what ever role.

**Concerning out-of-tree code:**

@gregshue takes a Zepyhr OS eco system end user position, the same position as Baumer is in. When building a safe application, as a end user I would want that the west SPDX output tells me, that I have used only certified code. Zephyr OS applicat

[2022-09-02 17:19] npitre commented on #49491
Agreed. I elaborated in #49806 why I think this should be considered a gcc bug.

[2022-09-02 17:49] gregshue commented on #49829
This actually depends on where the HAL lives.  If the HAL is provided through the zephyrproject-rtos then it has an identified module owner who is:
- "required to submit the corresponding changes that are required in module repositories, to ensure that the Zephyr CI on th e pull request with the original changes, as well as the module integration testing are successful"
- "required to fix issues i

[2022-09-02 18:20] gregshue commented on #48887
Maintaining support for the topologies cannot depend on any single person being a watchdog on all issues. This is not my job full time. I have been engaged as I have time.  (See [Global Namespace Management? ](https://github.com/zephyrproject-rtos/zephyr/issues/46152) and [Replacing zephyr driver/subsys implementations ](https://github.com/zephyrproject-rtos/zephyr/issues/44525) and [Support modul

[2022-09-02 18:37] gregshue commented on #48887
This works reasonably well for flagging deprecated symbols when users go from one release to the next.  We also need a solution that works for users that go from one LTS to the next.

As Google members identified, I think a bigger need is to tell out-of-tree developers *how* to transform their code (and verify the transformation) when a rebase is attempted (which may be from one LTS to the next).

[2022-09-02 18:48] photonthunder opened #49874 "STM32G HW_STACK_PROTECTION Warning"
When compiling STM32G code I see the following warning:

warning: HW_STACK_PROTECTION (defined at arch/Kconfig:249) was assigned the value 'y' but got the
value 'n'. Check these unsatisfied dependencies: ARCH_HAS_STACK_PROTECTION (=n).

Asked on Discord and got the following:

"I remember seeing the same thing on stm32f1, I think it's just that the stm32 hal is not configured right
Since it's kind

[2022-09-02 19:05] marc-hb commented on #48887
This is "only" an open-source project: as long as you're the only who cares about some feature or request getting done then it is your job full time. Explaining and convincing others may help (exceptional communication skills required).

[2022-09-02 19:10] marc-hb commented on #38725
Will it be possible to unsubscribe from some pull requests? Not sure what the current status is now but "zephyrbot" keeps re-adding you after every force-push. I guess because a force-push can include new changed files but that's not the most common case.

[2022-09-02 19:26] ric96 commented on #49852
Hi @erwango
I had some time to do more debugging, TL:DR its not a Zephyr or STM32 HAL Bug. So i'm closing this now with this note.

I took a longer capture of on the logic analyser and saw that the linux board is the one sending the phantom XOFF. I am using libmraa, and its sending this byte right after I set the flow-control to OFF which is very early in the code.
Apologies for the noise.

[2022-09-02 19:26] #49852 closed

[2022-09-02 20:05] henrikbrixandersen opened #49876 "drivers: can: twai: driver fails initialization"
**Describe the bug**
The ESP32 TWAI CAN driver fails initialization (the SJA1000 driver fails to enter reset mode) after one of the following commits (cannot bisect which since compilation is broken):
- 61d03e1bb07855a824876af0fa9fea629538bc5b
- 4928a69a068aa3bd3c519f0cc870cb4465037256
- b80c2777965f12483166aa082b3e6ef1525febcb
- 7a00f7b793e4bbe92afabedf1e3671bce05c888f

**To Reproduce**
Steps to

[2022-09-02 21:11] nashif commented on #49829
It is worth mentioning that whether this method is picked (SPDX) or some other method (A spreadsheet for example) the scope will still be defined and tools will be part of the certification/qualification process. So the method picked does not have any impact on the scope itself.

[2022-09-02 21:20] nashif commented on #49829
There is also no way to force modules within the zephyr project to follow this. The key point is that we will not engage in certifying any third party code and code we do not own or control and I do not understand why we will do this. Actually, if someone decided to do so on their own and introduce this type of tagging into their HAL or module, it will just be confusing and you might end up gettin

[2022-09-02 21:24] nashif commented on #49829
You keep bringing this but I have not heard anything, not from the security WG nor from the Security Architect that this is planned, being discussed or needed. Last time I checked, @ceolin  is the authority from the security WG/Committee and he should be putting this on the table and making the requirements on strategies and mechanisms for any safety certification, which again, I am not aware of.

[2022-09-02 22:48] edersondisouza commented on #49790
This is an interesting one. Firstly, I could reproduce it, but the ratio wasn't anything like 1 in 10. From around 500 runs, I got the error 2 times. That in itself is curious. Secondly, I couldn't reproduce it using previous SDK (0.14.2), which is a hint for why this hadn't appeared before. Finally, I think I have fix, but I'm not sure I can explain it completely. Will send a PR soon.

[2022-09-02 23:32] edersondisouza commented on #49790
Hi @shuai1x, could you please check if my draft PR https://github.com/zephyrproject-rtos/zephyr/pull/49877 fixes this issue for you? If it does, I'll make it a proper PR.

[2022-09-03 03:32] Fanhang32 commented on #49602
enable REQUIRES_FULL_LIBC for qemu_x86 can fix it

[2022-09-03 03:32] #49602 closed

[2022-09-03 03:44] gregshue commented on #49829
The Security WG (which I am participating in) is not ready to discuss security standards yet.  The agenda for the next meeting is to review a Requirements Syntax training deck.  I expect we will begin to discuss OT/IoT security standards and certifications in the next few meetings.

Regarding need: files to be kept compliant with any standard(s) need to be marked with each a tag for each standard.

[2022-09-03 04:01] ceolin commented on #49829
Ok, my two cents. Even if it is generating code, it is still part of a tool. We should consider it a tool, otherwise one could use the same argument for the python interpreter or other libraries. Of course, the generated code should be tagged and go over all certification process, but all these scripts should be considered tools (classified and possible qualified).

[2022-09-03 04:24] ceolin commented on #49829
It is not about the WG be ready to discuss security standards, simply there is no demand from the project to pursue any certification, so it is definitely not a goal to group **at the moment**.  Regarding the next meeting, it is about how to capture requirements. If you remember, I asked to keep it as simple as possible. I really want the working group focusing in security enhancements and innovat

[2022-09-03 13:02] fgrandel commented on #49775
@rlubos : I'm taking Linux's IEEE 802.15.4 socket gluecode as an example (which we probably should to not cause confusion to people coming from Linux userspace).

### PHY SHR/PHR

I can assert that **IEEE 802.15.4 PHY headers are never sent to or from user space**. Not even the kernel has access to PHY headers so much less the socket API. Most radio hardware will not even support access to these h

[2022-09-03 13:08] hunterhu3000 commented on #49789
Yes, the issue can be closed, as it is fixed by the update.

[2022-09-03 13:08] #49789 closed

[2022-09-04 00:05] gregshue commented on #49829
Of course not. The Zephyr Project repositories cannot get certified. That must be pursued by the end users.  Potential end users will evaluate Zephyr Project processes, tools, and code for suitability for their secure products.

I really want the working group to answer what processes and artifacts I can regenerate to support a claim of "secure" code, and to which files and functions that applies.

[2022-09-04 00:32] #46684 closed

[2022-09-04 00:38] gregshue commented on #49829
Several events have happened in the world over the last 3-4 years that are fundamentally changing how general software development needs to be done. Security events and new regulations are driving many domains toward secure software.  Regulations, customer demand, and competition are  driving software developers toward standards that require no unused/dead code, defense in depth, and all external

[2022-09-04 04:04] nick-kraus commented on #48671
Hi @nandojve,

I spend some time this weekend trying to find any issues with the testusb sample, however I wasn't able to get the testusb application to run more than just the control transfer tests 0, 9, and 10; which all passed (even after following the directions where you specify usbtest uses the "Gadget Zero" interface). Unfortunately I only had access to a Linux VM (Ubuntu 22.04) and not a d

[2022-09-04 04:44] nick-kraus commented on #48671
I ended up finding a good place to put the FIFO reset / initialization call, which resolved the issue, so I ended up creating pr #49888.

[2022-09-04 07:26] smrtos opened #49889 "ctf trace: unknown event id when parsing samples/tracing result on reel board"
**Describe the bug**
Try to capture ctf trace on reel_board with below steps:

Preparation:

0. As mentioned [here](https://github.com/zephyrproject-rtos/zephyr/issues/24457#issuecomment-617486501), to make sure only trace data go through the UART, I comment out all the `printk()` in [main.c](https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/subsys/tracing/src/main.c).

Build the samp

[2022-09-04 07:33] smrtos commented on #24457
@starmachine24  I got a similar issue https://github.com/zephyrproject-rtos/zephyr/issues/49889. Could you share more details about how you fixed your issue?

[2022-09-04 08:13] str4t0m opened #49890 "drivers/can: stm32_fd: CONFIG_CAN_STM32FD_CLOCK_DIVISOR not applied in driver setup"
**Describe the bug**
The configuration of the `st,stm32_canfd` controller clock divider via  CONFIG_CAN_STM32FD_CLOCK_DIVISOR does not work.

**To Reproduce**
- Compile any can project for a target with a `st,stm32_canfd` compatible can controller and change CONFIG_CAN_STM32FD_CLOCK_DIVISOR to a value other than `1`.
- You will notice that the rate returned by `get_core_clock` changes accoridingly

[2022-09-04 08:25] str4t0m commented on #42030
Great, I have now opened #49884 to move clock configuration from Kconfig to dts.

[2022-09-04 09:53] smrtos commented on #49889
Attached is the trace data.
[ctf_data_reel.zip](https://github.com/zephyrproject-rtos/zephyr/files/9484430/ctf_data_reel.zip)

[2022-09-04 17:31] dstudejio commented on #49659
@koffes I was about to open an issue and found this one.

The order in which `cr_out_func` appends the \r may also be at issue.  We noticed because of this function, LOG_PRINT("hello_nasty\n"); gets output as "hello_nasty\n\r" where we'd expect to see \r\n.

[2022-09-04 19:21] henrikbrixandersen commented on #49829
Not sure why this was moved to a new issue but my https://github.com/zephyrproject-rtos/zephyr/pull/47029#issuecomment-1175973912 still stands.

[2022-09-05 02:03] shuai1x commented on #49790
Ok, will reply to you soon.

[2022-09-05 03:08] yourapiexpert opened #49897 "STM32: NUCLEO_WL55JC internal (die) temperature incorrect"
**Describe the bug**
I am facing an issue with stock Zephyr (latest main), unmodified, and reading internal die temperature from the ADC. I am using the sample provided in samples/sensor/stm32_temp_sensor and the following overlay:

[code]

To the best of my knowledge (and many double-checks with the datasheet) I believe the register addresses and calibration temperatures to be correct.

On runnin

[2022-09-05 06:37] JiiZR commented on #46326
Thanks for the info. So this means that there will not be async UART support for U5 series. or did I missed something ?

[2022-09-05 06:45] stephanosio opened #49903 "riscv: Enabling IRQ vector table makes Zephyr unbootable"
**Describe the bug**

Enabling IRQ vector table (`CONFIG_GEN_IRQ_VECTOR_TABLE=y`) for RISC-V causes the firmware image to become unbootable because the IRQ vector table is placed in the `ROM_START` section and, since #49810, the `ROM_START` section precedes the `vectors` section, which contains the start-up code:

https://github.com/zephyrproject-rtos/zephyr/blob/8563744997a057780a30b5566de8acfe69

[2022-09-05 06:46] stephanosio commented on #49903
cc @msierszulski @carlocaione @tgorochowik @kgugala @pgielda

[2022-09-05 07:03] erwango commented on #46326
At least it would require some heavy workaround. This is unlikely this would go upsteam.

[2022-09-05 07:04] erwango commented on #49852
Np, Thanks for the heads up

[2022-09-05 07:11] msierszulski commented on #49903
Hi @stephanosio, can you please assign me to this issue? I will start working on it as soon as possible.

[2022-09-05 07:21] stephanosio commented on #49903
Done. Thanks.

[2022-09-05 07:29] henrikbrixandersen commented on #49803
Please submit a PR with the proposed fix.

[2022-09-05 07:38] NancyChen0526 commented on #13662
worked on nRF52840-DK

[2022-09-05 08:16] #49016 closed

[2022-09-05 08:16] romkell commented on #49829
I quickly looked at the stm32 HAL. Only stm32cube is some 3000+ files. Assuming Zepyhr OS uses 1/3, hence 1k, mainly the low level driver as far as I know.
The HALs may be no real downstream repos from a main where you have a fixed linkage and simply update to a tag or what so ever.
As for stm32cube there is a maintainer who, when updating to new version, rearranges the folder structure a bit from

[2022-09-05 08:17] #49715 closed

[2022-09-05 08:17] #49605 closed

[2022-09-05 08:24] FRASTM commented on #49897
Also seen on :
   samples/sensor/stm32_temp_sensor/sample.sensor.stm32_temp_sensor, b_u585i_iot02a
   samples/sensor/stm32_temp_sensor/sample.sensor.stm32_temp_sensor, disco_l475_iot1
   samples/sensor/stm32_temp_sensor/sample.sensor.stm32_temp_sensor, nucleo_l073rz
   samples/sensor/stm32_temp_sensor/sample.sensor.stm32_temp_sensor, nucleo_l152re
   samples/sensor/stm32_temp_sensor/sample.sensor.

[2022-09-05 08:42] shuai1x commented on #49790
Hi, I have checked your draft PR, and it can't fix this issue. And I have also tested 500 times, it would fail 6 times.

[2022-09-05 08:50] jakkra opened #49915 "Bluetooth: Controller: Syncing with devices with per. adv. int. < ~10ms eventually causes events from BT controller stop arriving"
**Describe the bug**
When using periodic adv. intervals <~10ms then sometimes BT Controller stops reporting any events, including sync termination, CTEs, scan events etc.

 - What target platform are you using? nRF52833, Zephyr
 - Is this a regression? Not checked.

**To Reproduce**
Have 10 tags sending per. adv. with 7.5ms interval with adv. train of 5 and CTE enabled.
I have not found replicatab

[2022-09-05 08:51] jakkra commented on #49465
@cvinayak created https://github.com/zephyrproject-rtos/zephyr/issues/49915

[2022-09-05 08:56] nordicjm opened #49916 "renesas smartbond family Kconfig visible to non-renesas devices"
**Describe the bug**
When configuring a sample for the nrf5340dk_nrf5340_cpuapp, the following Kconfig option is visible and selectable: `CONFIG_SOC_FAMILY_SMARTBOND`. This should not be appearing on non-renesas devices.

**To Reproduce**
Configure any non-renesas Cortex M33 device, go to menuconfig and see if option is visible in hardware configuration

**Expected behavior**
For the Kconfig to no

[2022-09-05 09:20] FRASTM commented on #49406
Yes, finally, the static void spi_nor_process_bfp_addrbytes()  should it be ?
	if (jesd216_bfp_addrbytes == JESD216_SFDP_BFP_DW1_ADDRBYTES_VAL_3B4B) {
		data->address_width = 4U;
	} else {
		data->address_width = 3U;
	}

[2022-09-05 09:27] evgeniy-paltsev commented on #30348
Hi,

now we have draft implementation of XIP with ARC MWDT toolchain, which can be found in this branch:
https://github.com/foss-for-synopsys-dwc-arc-processors/zephyr/tree/xip_with_mwdt_v2

The implementation was tested with qemu_arc_hs platform which has XIP enabled.

Note that currently it was tested with kernel mode only (without userspace), so userspace testing is disabled in the branch.
Also

[2022-09-05 09:36] zagor opened #49917 "http_client_req() sometimes hangs when peer disconnects"
**Describe the bug**
We have a multi-node system with some inter-node communication performed over https on ethernet.
In our system tests, we restart nodes and/or node software to test resilience and robustness.

Once in a blue moon when the http server node (or server software) restarts, the http client call to `http_client_req()` never returns. It hangs forever and blocks the thread.

**To Repro

[2022-09-05 09:53] FRASTM commented on #49406
However, still not getting the fs :
[code]

[2022-09-05 09:59] XenuIsWatching commented on #48666
The reason why I didn't implement the ALERT pin was in the case where I was using it, I was IO limited and didn't have the alert pin connected to the microprocessor I was using.... so it was just left floating
Pull requests are welcome tho...

Please give me a link to the link where it is conflicting because I don't see it

Pull requests are welcome

Yes, I did take a look at and while reviewing y

[2022-09-05 10:14] romkell commented on #49829
I can understand that a regulated environment (such as safety and I guess security - which is less my experience - might put off developers. To my experience there is a difference between regulated and non-regulated.
The more important I see it, that the safety scope is clearly defined and marked.

[2022-09-05 10:16] XenuIsWatching commented on #48666
#49919

[2022-09-05 10:26] #49659 closed

[2022-09-05 10:45] cfriedt commented on #49678
There is no rush to update hal_ti right now. I am in discussion with 2 candidates (TI employees) who may be better as maintainers.

[2022-09-05 11:04] stephanosio opened #49922 "Make picolibc the default C library for Zephyr"
#44096 introduced the picolibc, a full-featured yet light-weight C library and fork of newlib, as a module for Zephyr that can be configured and fine-tuned at the Zephyr build time to minimise its footprint.

This issue describes the tasks required for making the picolibc the default C library support in the Zephyr RTOS.

## Tasks

- [x] https://github.com/zephyrproject-rtos/zephyr/issues/44143
-

[2022-09-05 11:06] caco3 opened #49923 "ASSERTION FAIL [!arch_is_in_isr()] @ WEST_TOPDIR/zephyr/kernel/sched.c:1449"
I am seeing `ASSERTION FAIL [!arch_is_in_isr()] @ WEST_TOPDIR/zephyr/kernel/sched.c:1449` when stress testing my device.

I tried to trace it further down.
That mentioned line is in the function [z_impl_k_sleep](https://github.com/zephyrproject-rtos/zephyr/search?q=z_impl_k_sleep).
That function only seems to get called in [z_vrfy_k_sleep](https://github.com/zephyrproject-rtos/zephyr/search?q=z_vr

[2022-09-05 11:07] stephanosio commented on #49923
This is lacking too much information. Please file the bug report using the provided bug template.

[2022-09-05 11:24] caco3 commented on #49923
@stephanosio I don't see why you need more information to explain why a function can assert althrough it never gets called!

I will add more details once I understand that and can trace it further!

[2022-09-05 11:25] #49923 closed

[2022-09-05 11:26] stephanosio commented on #49923
which architecture/platform? steps to reproduce, ...

If you think there is something wrong with the upstream code, please file a proper bug report using the template.

[2022-09-05 11:27] caco3 commented on #49923
@stephanosio So to avoid explaining yourself you simply close the issue?

Well done!

[2022-09-05 11:30] yonsch commented on #49678
No need to update hal_rpi_pico for now

[2022-09-05 11:44] enjiamai opened #49924 "tests: drivers: pwm_api and pwm_loopback tests failed on frdm_k64f boards"
**Describe the bug**
The tests/driver/pwm/pwm_api and tests/driver/pwm/pwm_loopback failed, I found this during the migrating it to the new ztest API.
The test failed due to device is not ready. Seem like it is not configurated correctly on frdm_k64f.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p always -b frdm_k64f tests/drivers/pwm/pwm_api  (also the tests/drivers/pwm/pwm_l

[2022-09-05 12:10] mhennerich commented on #49019
Yes @amiclaus will take care of this.

[2022-09-05 12:13] henrikbrixandersen commented on #10516
I agree. This issue does not provide value anymore.

[2022-09-05 12:36] martinjaeger commented on #49816
@benediktibk I got a bit confused by the term "ISOTP ID". But I guess you meant the ISO-TP target address (called `N_TA` in the standard) which can be either part of the CAN ID or the payload. I edited your comment accordingly. Let me know if I got anything wrong.

Regarding the issue itself: At first sight it should be possible to assign two different callbacks for the same CAN ID in the CAN driv

[2022-09-05 12:37] alwa-nordic opened #49927 "Bluetooth: SMP: Pairing Failed as response to Identity Address Information"
## Abstract
There is no way for the Peripheral to fail a bonding process based on the Identity Address Information from the Central.

## Details
Assume the Central initially uses a random address and, as part of bonding, distributes its Identity Address Information. Assume the peripheral decides to reject the bond upon learning the Identity Address. Maybe it already has a bond with that address an

[2022-09-05 12:44] benediktibk commented on #49816
Sorry for the confusion, but I think N_TA is what I am talking about. Basically byte 2 in:
![image](https://user-images.githubusercontent.com/9367089/188452155-f9ae932a-a3fc-40e4-8d98-48dfe0f7bf6b.png)

I found this issue on a SAMC21. As it looks like it is possible to register to different callbacks for the same CAN ID, but only the first one is actually being used later on.

[2022-09-05 13:03] henrikbrixandersen commented on #49816
This is a well-known hardware limitation for many CAN controllers. It is somewhat documented in the CAN API documentation, but the documentation could be improved a bit: https://github.com/zephyrproject-rtos/zephyr/blob/64ab22bf43f937443121b414ddd7997072fe555a/include/zephyr/drivers/can.h#L1046: "If a frame matches more than one attached filter, the priority of the match is hardware dependent."

[2022-09-05 13:50] stephanosio commented on #49564
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/49566

[2022-09-05 13:50] #49564 closed

[2022-09-05 14:30] martinjaeger commented on #49816
That would be better than silently accepting a non-working configuration. But is it sufficient for your use case? If yes, do you think you could submit a PR?

[2022-09-05 14:31] #49578 closed

[2022-09-05 14:33] benediktibk commented on #49816
Unfortunately my setup is bound to use zephyr 2.7.0, I cannot upgrade to a more recent version. Also, I do not have hardware like a development kit for this MCU available to test my changes.

For us such a solution would actually be sufficient, as we just stopped using the extended IDs altogether due to this issue. Luckily, not a big deal in our situation.

[2022-09-05 14:34] PierrickGuitter opened #49938 "drivers/modem/gsm_ppp.c: unnecessary modem_cmd_handler_tx_lock when CONFIG_GSM_MUX disabled"
**Describe the bug**
Trying to lock a semaphore through modem_cmd_handler_tx_lock  methods, that is never unlocked when CONFIG_GSM_MUX is disabled.
The locking attempt times out after GSM_CMD_LOCK_TIMEOUT seconds.

 - What target platform are you using?
 Custom target with STM32U585 micro and Quectel BG950 gsm modem.
 - What have you tried to diagnose or workaround this issue?
 Used Debugger to di

[2022-09-05 14:44] #49890 closed

[2022-09-05 14:50] #49916 closed

[2022-09-05 15:01] jukkar commented on #49917
It sounds like a locking problem i.e., some part of the code is waiting a lock to release but it cannot be released as the thread cannot continue because of lock so a deadlock is seen. There is not much locking or anything else related to that in the `http_client_req()` API. I suspect that there might be still some tcp issue present.
Is your application doing anything related to locking when the h

[2022-09-05 15:06] FRASTM opened #49939 "stm32 adc driver_api test fails on stm32wb55 and stm32l5"
**Describe the bug**
tests/drivers/adc/adc_api test fails when running on
-   nucleo_wb55rg
-   stm32l562e_dk

Test execution blocking in the first sequence _test_adc_asynchronous_call_

Please also mention any information which could help others to understand
the problem you're facing:
 - nucleo_wb55rg board or stm32l562e_dk disco kit
- Looks like a regression after https://github.com/zephyrproje

[2022-09-05 15:08] FRASTM commented on #49939
Could be a mistmatch between channel and index in the adc_stm32_teardown_channels() function call  :
Suggested correction:

[code]

[2022-09-05 15:29] ycsin commented on #49939
Not sure what could be the cause yet, but currently the [`adc_stm32_teardown_channels`](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/adc/adc_stm32.c#L904) is getting the same arg as the [`adc_stm32_setup_channels`](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/adc/adc_stm32.c#L717) since two of them are similar

[2022-09-05 15:33] #49876 closed

[2022-09-05 15:36] #49359 closed

[2022-09-05 15:37] #41954 closed

[2022-09-05 16:14] gmarull opened #49940 "Allow extending upstream boards in applications"
**Is your feature request related to a problem? Please describe.**

I found myself in the need to extend an upstream board in an application. By extending, in this case, I mean adding new hardware description to the upstream board DTS. The reason such hardware description is not upstream is that the application implements new driver classes for specific hardware IP in the platform (STM32 Timers, w

[2022-09-05 16:55] johnkjellberg opened #49942 "Support multiple device trees that can be selected at runtime"
Since it is quite common that components need to be replaced it is must be possible to support different hw revisions. The current Zephyr model handles this by having different BOARD definitions and build separate binaries for each hardware revision. This is not very convenient, since it might just be a small LED driver or other minor difference for example that have changed for example.

I would

[2022-09-05 19:41] henrikbrixandersen commented on #49942
You do realise that in Zephyr, the devicetree is not part of the produced binary at all? The devicetree is parsed and a set of C defines are produced, which are used as compile-time constants?

What you are suggesting is a totally different approach more alike what Linux does (where the devicetree is compiled to a devicetree blob, which is parsed at run-time).

[2022-09-05 21:04] johnkjellberg commented on #49942
Yes. I'm talking about the result that is generated from the tree. For example the arrays used to initialize the drivers. That part should not be that hard, but there might be other things that is generated that I'm not aware of. I'm open to other suggestions to solve the described problem.

[2022-09-05 21:18] danielstuart14 commented on #49747
Testing with latest commits (currently at e9e7ad388da7122a6193845be4eff48c19bbe618) got CAN_2 working!
It seems like https://github.com/zephyrproject-rtos/zephyr/pull/49765 from @str4t0m fixed the issues with can2.

![image](https://user-images.githubusercontent.com/8076962/188513188-38a6e1e7-2338-4f38-ba88-b2a24a1568d3.png)

[2022-09-05 21:18] #49747 closed

[2022-09-05 22:21] gregshue commented on #49829
Cryptosecurity of IoT devices has been regulated in California since 1/1/2020.  Cryptosecurity of consumer wireless devices with an address (e.g., BT) has been regulated, whether or not it contains an IP stack, in Oregon since 1/1/2020. More laws are under way (see https://www.nabto.com/us-and-california-iot-security-laws-guide/).

Even without regulations, customers in application domains being t

[2022-09-05 23:38] keith-packard commented on #49922
I think we should use an SDK version that includes picolibc -- that way we can run both C and C++ tests and use the picolibc module and the SDK version. I think that means getting picolibc into a version of the SDK that we can use from the github CI system?

[2022-09-06 04:07] hakehuang commented on #49924
debug found the error is at ftm initial
[code]

[2022-09-06 04:37] hakehuang commented on #49924
@galak , @dleach02 , @mmahadevan108

[2022-09-06 06:00] xkisahero commented on #49251
@erwango Hi erwango. I am use STM32G071RBT6, and hardware timer6. I tried your merhod also many other methods, but I still didn't receive the interrupt from timer6. How can I use just zephyr (not STM32Cube) receive timer6 interrupt？thank you.

[2022-09-06 06:27] stephanosio commented on #49922
Yes, https://github.com/zephyrproject-rtos/sdk-ng/pull/287 will need to be completed as part of this.

[2022-09-06 07:12] rzr commented on #49480
well it used to work differently, so I thought it was a regression

[2022-09-06 07:18] erwango commented on #49251
There are a lot of possible reasons. We'd need more information on the code you're using to answer.
Here are a couple of ideas:
- Are you able to get Timer6 IRQ with the piece of code I provided in a simple use case without using DAC/DMA ?
- Note that TIM6 is sharing IRQ line with DAC. This may explain why you're having issues in your use case.
I'd suggest testing other timer instance.
- You can a

[2022-09-06 07:37] nordicjm opened #49950 "mcumgr zephyr 3.2 release checklist"
PRs needed for upcoming zephyr 3.2 release:
- [ ] https://github.com/zephyrproject-rtos/zephyr/pull/49455
- [ ] https://github.com/zephyrproject-rtos/zephyr/pull/49516
- [ ] https://github.com/zephyrproject-rtos/zephyr/pull/49517
- [ ] https://github.com/zephyrproject-rtos/zephyr/pull/49691
- [ ] https://github.com/zephyrproject-rtos/zephyr/pull/49801
- [ ] https://github.com/zephyrproject-rtos/ze

[2022-09-06 07:52] pdgendt commented on #49942
Food for thought; I have a similar use case where a board has GPIO revision indicators.

As already mentioned, it's not an easy task to support multiple devicetrees, but it should be possible to allow some "runtime customization" in a single `dts` file.
My idea was to extend the `hwinfo` API, since it's single instance, with `int hwinfo_get_device_revision(uint32_t *rev)`. Adding a compatible that

[2022-09-06 07:56] #49440 closed

[2022-09-06 07:56] #49846 closed

[2022-09-06 07:57] #49074 closed

[2022-09-06 08:24] FRASTM opened #49953 "stm32 gpio_basic_api test fail with CONFIG_ZTEST_NEW_API"
**Describe the bug**
when running the  tests/drivers/gpio/gpio_basic_api/drivers.gpio.2pin  on several stm32 target
the testcase fails

Please also mention any information which could help others to understand
the problem you're facing:
 - target platforms:  disco_l475_iot1, nucleo_f103rb, nucleo_f207zg, nucleo_f429zi, nucleo_f746zg, nucleo_g071rb, nucleo_g474re, nucleo_l152re, nucleo_wb55rg, nucl

[2022-09-06 08:34] FRASTM commented on #49953
@enjiamai could you please give any indication to help fixing this issue ?

[2022-09-06 08:39] enjiamai commented on #49953
Hi @FRASTM , I am looking at it, feedback you soon.

[2022-09-06 08:48] IvanVnucec opened #49956 "`NRF_DRIVE_S0D1` option is not always overriden in the `nordic,nrf-twi` and `nordic,nrf-twim` nodes"
This statement might not be true:
https://github.com/zephyrproject-rtos/zephyr/blob/42858bebb7290e51b93620529bcc1d8b6e5e734b/dts/bindings/pinctrl/nordic%2Cnrf-pinctrl.yaml#L114

Explanation:
I'm using TWI on nrf52832 on custom board. I'm developing software with the nrf sdk v2.0.2.<br>
I have custom board pin control dtsi file `<custom_board>-pinctrl.dtsi` file which has `i2c` configuration as:
[c

[2022-09-06 08:58] FRASTM commented on #49953
I see a similar pb occurs on `west build -p auto -b disco_l475_iot1 tests/drivers/flash `with commit f2cbd8405b884c7e06dc571a1b070e14cdaeb067  (PR https://github.com/zephyrproject-rtos/zephyr/pull/49502)
[code]

[2022-09-06 09:00] henrikbrixandersen commented on #49956
So what are you asking here?

[2022-09-06 09:00] JiafeiPan commented on #46477
I agree with that driver should take responsibility to do the MMIO mapping.

But Carlo said "the big issue with Zephyr is that 95% of the drivers are not using the device MMIO API",  especially in some cases user maybe use hal driver directly which is not a standard Zephyr driver, and in general some hal driver will be shared with other RTOS, so not possible to modify hal driver to add MMIO mappin

[2022-09-06 09:01] enjiamai commented on #49953
I think I found the problem, my bad, the test suite name is not correct for "mgmt" and "vari". Working on the fix, thanks.

[2022-09-06 09:04] IvanVnucec commented on #49956
I've edited the end of the issue to clarify it.

[2022-09-06 09:04] romkell commented on #49829
I can understand that a regulated environment (such as safety and I guess security - which is less my domain) might put off developers. To my experience there is a difference between regulated and non-regulated. Processes in non-regulated environments are typically leaner.
For that, see it even more important, that the safety scope is clearly defined and marked.

[2022-09-06 09:47] romkell commented on #49829
Not fully clear to me what the notion of the said is. I do not think that we required to qualify the python interpreter as a tool, but we will have to qualify a version of the code generating script together with a particular version of the python interpreter, showing that the combination of both does what it is meant to.
Your comment leads me to a thought that for the source code generating tools

[2022-09-06 10:08] nordicjm commented on #49940
Would also be useful for building mcuboot with custom configurations without having to add an overlay directly to the mcuboot repository

[2022-09-06 10:08] shiwzhi opened #49960 "LoRaWAN Code won't linking when config with CN470 region"
### prj.conf
CONFIG_LOG=y
CONFIG_SPI=y
CONFIG_GPIO=y
CONFIG_LORA=y
CONFIG_LORA_SX12XX=y
CONFIG_LORAWAN=y
CONFIG_LORAMAC_REGION_CN470=y
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048
### output
`[165/175] Linking C executable zephyr/zephyr_pre0.elf
FAILED: zephyr/zephyr_pre0.elf zephyr/zephyr_pre0.map /Users/william/zephyrproject/zephyr/samples/subsys/lorawan/class_a/build/zeph

[2022-09-06 10:28] de-nordic opened #49962 "RFC: Stable API Change: SMP (Simple Management Protocol) transport API within MCUMgr drops zephyr_ prefix in functions and type definitions and drop zst parameter from zephyr_smp_transport_out_fn"
## Introduction

The MCUMgr, which used to be external library, used to support multiple operating systems and required implementations of some functions to be provided by operating system it was linked to.
In case of Zephyr port of mcumgr, such functions, and type definitions, would have `zephyr_` prefix.
Since MCUMgr is now Zephyr subsystem, it seems redundant to have `zephyr_` prefix added, for

[2022-09-06 10:31] jukkar commented on #49938
@PierrickGuitter Thanks for the analysis, would you be able to send a patch that fixes the issue?

[2022-09-06 10:36] #49000 closed

[2022-09-06 10:42] simhein commented on #49829
This was decided in the last TSC meeting to get the focus on the mechanism instead of the scope with its 800+ files.

A short follow up on your comment @henrikbrixandersen . If we decide on another mechanism to mark the safety scope ( e.g spreadsheet or a yml file ) isn't this also adding meta-information to a file with a detour? And the developers cannot take decisions on that too but the only di

[2022-09-06 10:50] jukkar commented on #49811
At least the IP addresses and other values seem to have reasonable and non-random values, so I would assume that VLAN header is properly discarded by the Ethernet L2. Your PR title indicates that there is no error if VLAN is disabled, is that so?
Have you checked whether the DHCP debug output matches the actual data being received, i.e., are you able to capture the data in Wireshark for example?

[2022-09-06 10:54] henrikbrixandersen commented on #49829
Sure, at some point - before doing a recertification - the list needs to be evaluated again. But that would be in the scope of the recertification, not in the day-to-day changes done by developers without insights into how to handle the safety scope.

[2022-09-06 10:57] henrikbrixandersen commented on #49829
Fair enough, although that's not what I understood from the meeting. I don't believe we can fully decouple the two (scope vs. mechanism).

Say, if this was tagging a few files (e.g. the base kernel files) in the tree with a safety tag, I don't think many people would object. But tagging 800+ files all over the tree makes this relevant for a lot of developers with little or no insight in the proces

[2022-09-06 10:59] mzajac-avs opened #49963 "Random crash on the L475 due to work->handler set to NULL"
**Describe the bug**
During development of a application that uses Zephyr I observe a random crash which seems to be a problem with race conditions in the eswifi driver used by the disco L475 iot1 board. I managed to reproduce the crash using a small sample that I made. The sample runs two loops both of which runs `sntp_simple` function to create a socket, send/receive some data, and then close it

[2022-09-06 11:05] jukkar commented on #28998
Hmm, at least for Ethernet we already have CARRIER ON/OFF event. From application point of view, it should not matter whether the interface is up/down because of administrative or operational status, so shouldn't it be enough if we have only one IFACE_UP/DOWN event?

[2022-09-06 11:18] krish2718 commented on #28998
Might still be helpful, as if its administratively down, then application can bring the interface up, but if its operationally down then it has to wait or bring it up by sending necessary commands.

[2022-09-06 11:28] jukkar commented on #28998
If the interface is oper down, admin cannot bring it up i.e., the command will fail.

[2022-09-06 11:33] romkell commented on #49829
This is about working together and having mechanisms in the safety scope which support development towards a safety mindset. Is is about defensive programming (do's and dont's with a focus on safety, which I feel is not very far from do's and dont's for security).
Measures to achieve that can be:
- In the safety scope have a safety architect review code changes
- write guidelines how to program fo

[2022-09-06 11:39] henrikbrixandersen commented on #49829
This goes back to the question of the scope for this. Are we talking day-to-day changes of 800+ files requiring review from one dedicated person (the safety architect) - or are we talking 10 files? 20 files?

While this sounds easy as a one-line, how would you do this on an open source project such as Zephyr in practice? We have 1000+ developers so far.

Now you are just making things up ;-) We do

[2022-09-06 11:40] PierrickGuitter commented on #49938
@jukkar Here is the patch asked for.
If there is any question about it, please tell me.
[fix.zip](https://github.com/zephyrproject-rtos/zephyr/files/9496515/fix.zip)

[2022-09-06 11:57] rlubos commented on #28998
Perhaps for the application, a single UP/DOWN even would be enough (so that UP is only issued if the interface is in an operational UP state). But on the other hand, I can imagine a module which for example is managing WiFi connections, for such a module a separate event when the interface was brought admin UP by the application could be useful so that it knows when to start WiFi association. And

[2022-09-06 12:37] erwango commented on #49963
@loicpoulain Would you be able to have a look ?

[2022-09-06 12:48] nashif commented on #49889
are you sure you have the latest `../subsys/tracing/ctf/tsdl/metadata` file? ID 32 is defined in the latest file. Please double check.

[2022-09-06 13:00] nashif commented on #49696
not a bug.

[2022-09-06 13:00] #49696 closed

[2022-09-06 13:04] jukkar commented on #28998
Yes, I tried to say that but probably did not explain myself clarly (I meant that failure in this case would mean that interface stays down until "oper up" is entered). IMHO the "admin up" would be remembered and when "oper up" state is entered, the interface would become automatically up in that case. So we should honor the current "admin" state when "oper up" state is entered.

[2022-09-06 13:07] jukkar commented on #49938
Please submit a PR as then that can be merged after a review.

[2022-09-06 13:45] msfassarella opened #49970 "strange behavior in the spi_flash example"
Hi guys,

I'm learning Zephyr and I'm using the code at sample/drivers/spi_flash.
I have the board RAK5010 that has a Nordic NRF52840 whit an external IS25WP064 qspi flash device.
Everything looks to work fine, but when I put a k_msleep(500) in some points of the code it returns strange results.
For example, if I put the k_msleep at beginning of the code, the first while loop returns zero in the b

[2022-09-06 13:56] simhein commented on #49829
At first place we need to distinguish between the tool files and the source code files which where mixed up in the 800+ files for the PR. I'm actually working on refining the scope for the source files and it seems like that have a number around 230 files under scope but I need to double check it.

Okay as I read your argument you are right, it it is maybe impossible for the project in a whole to

[2022-09-06 14:19] #49661 closed

[2022-09-06 14:19] #40854 closed

[2022-09-06 14:43] #31175 closed

[2022-09-06 14:48] MaureenHelm commented on #49019
Thank you!

[2022-09-06 14:50] edersondisouza commented on #49790
Oh, that's a bummer. Just to clarify, did it at least make it less likely? On the original report, it is mentioned 1 in 10, but more likely 1 in 100 with my draft PR. So, did it become less likely, or no influence at all?

[2022-09-06 15:08] gregshue commented on #49829
Agreed.  It was also noted by @kestewart that the mechanism is expected to work for identifying the security scope.

Agreed.  As I see it, all of the discussion around security regulations and standards pretty clearly shows the _scope_ of the mechanism needs to include all the places where security tags are expected to appear. This brings up a very relevant question:

- Does Zephyr Project need to

[2022-09-06 15:18] rlubos commented on #28998
Some feedback from Networking Forum (September 2022):
* We should try to retain the meaning of `NET_EVENT_IF_UP`, to retain compatibility with existing applications. The event should indicate that the interface is up and running.
* Other states (carrier/dormant/admin up) could be reflected by new events if needed.

[2022-09-06 15:19] nordicjm commented on #44998
Gave this a quick test and it seems to be resolved now for me with https://github.com/zephyrproject-rtos/zephyr/pull/49691 - closing issue.

[2022-09-06 15:19] #44998 closed

[2022-09-06 15:32] carlescufi commented on #49962
Architecture WG meeting:

- No objections

[2022-09-06 15:44] #45666 closed

[2022-09-06 16:57] fabiobaltieri commented on #49803
Hi @aradhumal if you need help creating a pull request, this is the documentation for the contribution guideline and workflow: https://docs.zephyrproject.org/latest/contribute/guidelines.html#contribution-workflow.

[2022-09-06 17:04] fabiobaltieri commented on #49938
Hey @PierrickGuitter, if you need help creating a pull request, this is the documentation for the contribution guideline and workflow: https://docs.zephyrproject.org/latest/contribute/guidelines.html#contribution-workflow.

[2022-09-06 18:34] Klievan opened #49982 "SD: f_sync will always fail using the sdhc_spi driver"
In Zephyr 3.1 the SD subsystem is now used to communicate with SD cards. The SDHC SPI-driver does not seem to implement the card_busy function:
[code]

This causes the `CTRL_SYNC`-command to fail as sdmmc_wait_ready() will always timeout, regardless of the timeout specified in KCONFIG. This causes all calls to f_close() to fail with a DISK_ERROR.

**Expected behavior**
The sdhc_spi driver to have

[2022-09-06 19:01] yourapiexpert opened #49985 "STM32:NUCLEO_WL55JC No serial RX in STOP mode"
**Describe the bug**
I am trying to contribute a new overlay file for samples/boards/stm32/power_mgmt/serial_wakeup to help folks with the Nucleo_WL55JC but I have hit a snag. Following the previous examples I have a overlay as follows:

[code]

When running the example in samples/boards/stm32/power_mgmt/serial_wakeup I successfully get output on the console but the device fails to wake up. If I h

[2022-09-06 20:21] vincemulhollon opened #49987 "Unable to compile on windows"
**Describe the bug**

Unable to compile samples for multiple boards on Windows using a Python venv following the instructions from:

https://docs.zephyrproject.org/latest/develop/getting_started/index.html

I've tried deleting my .cache and build dirs, no change
I've tried cmake versions 3.20.0 and 3.24.0 same error
I've tried compiling for a nucleo_f767zi and an esp32 same error
I've tried compil

[2022-09-06 20:26] rerickson1 opened #49988 "boards: pinnacle_100_dvk: UART1 flow control is not turned on"
**Describe the bug**
Hardware flow control for UART1 is not enabled by default.
This is the interface used to communicate to the HL7800 LTE modem. Flow control is required for reliable communication.

**Expected behavior**
Flow control for UART1 should be enabled by default so an end user does not need to worry about it.

**Impact**
This could result in unreliable communication to the HL7800 modem

[2022-09-06 20:44] carlescufi commented on #49987
It looks like a process crashed. Likely `cmake` or `gcc`? @stephanosio FYI

[2022-09-06 21:29] carlescufi commented on #49987
I have not been able to reproduce it:

[code]

[2022-09-06 22:25] hwang37 commented on #49329
@shaoanxli could you provide more clarification, reproduceable steps, etc?