[2020-08-20 14:09] intercreate commented on #27525
@jettr Awesome! Thanks for posting. Can you comment on how compliant this chromium code is to the USB PD spec?

@jfischer-phytec-iot I'm surprised to learn that nobody in the Zephyr community wants to treat USB PD separate from USB as they're separate specs.. just like how I2C is separate from UART. PD has dedicated wires, a complete different phy, different protocol... it's not USB2.0.

USB TypeC

[2020-08-20 14:36] jfischer-phytec-iot commented on #27525
Where have I said the opposite?
I have revised my comment to be more precise.

[2020-08-20 14:40] kurddt opened #27693 "Crash on ARM when BT LE scan response packet too big"
**Describe the bug**
When the legacy BT LE scan response is too big an bus fault is thrown on arm

**To Reproduce**
Modify the BLE_beacon example in order to:
* Change toe advertising option to `BT_LE_ADV_CONN_NAME`
* Use synchronous BT initialization:
 change `bt_enable(bt_ready)` to
[code]
* Add more data in the scan response `sd[]`
* Use dynamic name `CONFIG_BT_DEVICE_NAME_DYNAMIC=y`

**Expecte

[2020-08-20 15:00] intercreate commented on #27525
@jfischer-phytec-iot  ah! thanks for clarifying. I'm glad we all agree 👍

[2020-08-20 17:21] andrewboie opened #27696 "automatic memory partitions place BSS in flash"
**Is your enhancement proposal related to a problem? Please describe.**
We have a feature called "automatic memory partitions" which allows for a fairly simple way to handle the complicated details of routing global data to memory partitions:

https://docs.zephyrproject.org/latest/reference/usermode/memory_domain.html#automatic-memory-partitions

However this currently has a limitation: although i

[2020-08-20 18:32] henrikbrixandersen opened #27697 "Add support for passing -nogui 1 to J-Link Commander on MS Windows"
**Is your enhancement proposal related to a problem? Please describe.**
PR #27617 introduced support for detecting the version of the installed Segger J-Link Commander in order to pass `-nogui 1` command line parameter to supported versions (> 6.80) for suppressing GUI windows showing flash progress.

The check introduced, however, does not work with Segger J-Link Commander on Microsoft Windows.

[2020-08-20 18:56] #27572 closed

[2020-08-20 20:38] evgeniy-paltsev commented on #20671
Hmm, indeed ARC had some messy scheduler code living in ARC arch layer, but it is gone after 3f88ddd5499788272f4495e391a3c871feb5a821.

Now instead of scheduler stuff check in ASM code the **_z_get_next_switch_handle_** function is used (via __get_next_switch_handle_ wrapper).
Checks for _swap_ok_ and threads pointers manipulation (which were done in _**z_arc_smp_switch_in_isr**_ function from [ar

[2020-08-20 21:55] andrewboie commented on #20671
@andyross is on vacation this week but I believe he's back next week.

[2020-08-21 08:03] Zhaoningx commented on #27574
Hi @ioannisg , I have a try to preset some starting points to test this like /2 /3 /6 /10 and so on, but it also returns a error 'ASSERT failed to indicate that IRQs enabled failed', the reports as below:
*** Booting Zephyr OS build zephyr-v2.3.0-1774-g34859d0d3e40  ***
ARM no-multithreading test
main first test_flag is 0
**Available IRQ line: 86**
main end test_flag = 0
ASSERTION FAIL [arch_irq_i

[2020-08-21 08:09] cvinayak commented on #27672
Please try with this https://github.com/zephyrproject-rtos/zephyr/pull/26404

[2020-08-21 08:16] cvinayak commented on #27672
If I understand from the limited information in the screenshot of the sniffer trace, the transaction collision is a valid scenario when both master and slave are initiating the PHY update procedure. The slave gets the REJECT and master proceed with its procedure to completion.

What is the application symptoms you are observing?

[2020-08-21 08:31] sarazalabany commented on #27672
@cvinayak When the master receives the first packet from the first slave,  the master goes into the receive callback function and then the second slave gets disconnected and the whole system stops and nothing happens anymore.

Normally, or at least what I am trying to achieve here, is that the master sends every received packet to the second slave using the bt_l2cap_chan_send() function.

This is

[2020-08-21 09:06] JaapBosheuvel opened #27706 "Cannot debug specific files"
Hello,

I have a question about debugging. I am using a nRF52 DK with Zephyr (sdk 0.11.3). I debug with Segger Ozone, using the zephyr.elf file and the recommended configurations: Target Interface: SWD,Interface Speed: 4000 KHz.
I try to debug a peripheral application: _samples/bluetooth/peripheral_hr_ (tested with other apps as well).

In order to debug I need to disable some optimizations. I tri

[2020-08-21 12:42] mfiumara opened #27712 "warnings when compiling smp_svr with newlibc on 2.3.0"
**Describe the bug**
When compiling smp_svr sample, there's a bunch of warnings generated when compiling.

**To Reproduce**
Steps to reproduce the behavior:

`west build samples/subsys/mgmt/mcumgr/smp_svr -b nrf52dk_nrf52832 --pristine -- -DCONFIG_NEWLIB_LIBC=y`

**Expected behavior**
No warnings expected

**Impact**
Annoyance

**Logs and console output**
[code]

**Environment (please complete the

[2020-08-21 18:22] MarcianoPreciado opened #27716 "Bluetooth: Mesh: Devices relay their own messages (even with relay disabled!)"
**Describe the bug**
Bluetooth Mesh devices relay their own messages even when the relay feature is disabled/not supported. From what I've seen on one of my projects, device relay's its own message, then upon receiving its own relayed message, it repeats and gets stuck in a relay loop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sample project `samples/bluetooth/mesh_demo`
2. Make

[2020-08-21 19:56] d3zd3z opened #27718 "Updatehub might dereference an uninitialized pointer"
This is a LOW security bug report from the NCC-ZEP-030 vulnerability report. It is mirrored at https://zephyrprojectsec.atlassian.net/browse/ZEPSEC-37, and is described by CVE-2020-10060.

The bug is in `updatehub_probe` in `subsys/mgmt/updatehub/updatehub.c`. There are several references to `objects[1]` within this function. The structures are decoded from json, and have a maximum length of 2. Ho

[2020-08-21 21:27] vanti opened #27721 "Concurrent file descriptor allocations may return the same descriptor"
**Describe the bug**
File descriptors are currently allocated in various parts of the code base via

[code]

Internally, z_finalize_fd() is calling z_fd_ref() to add to the reference count of the fd that is being allocated. This is too late because if another thread also tries to allocate an fd, z_reserve_fd() may return the same one thinking that it is free, when in fact it is about to be finaliz

[2020-08-22 23:20] pabigot opened #27727 "mcumgr serial interface does not work with CDC_ACM UART"
If `CONFIG_MCUMGR=y` and `CONFIG_UART_MCUMGR_ON_DEV_NAME="CDC_ACM_0"` then `uart_mcumgr_isr()` will never exit once it is entered when a command is received over the serial connection.

The problem seems to be with `cdc_acm_irq_is_pending()` which in that context returns `true` because both `tx_ready` and `tx_irq_ena` are true, causing the loop in `uart_mcumgr_isr()` to spin forever.

[2020-08-23 01:05] dj0405 opened #27728 "Cannot set/define CONFIG_UART_ASYNC_API to enable uart async api"
I am trying to build the async uart test (zephyrproject/zephyr/tests/drivers/uart/uart_async_api) for stm32_min_dev_blue. I keep getting -ENOTSUP whenever uart_tx is called.

The error comes from **include/drivers.uart.h:482**

[code]
CONFIG_UART_ASYNC_API is set to "y" in proj.conf, however, it does not appear in the build/zephyr/.confg and, therefore, the #ifdef test fails. I am not sure if this

[2020-08-24 06:18] jrananth1032 opened #27734 "vl53l0x driver gives wrong offset calibration value"
**Describe the bug**
We are vl53l0x proximity sensor in our product. We have cover glass to protect it from dust and other things.So after installing cover glass we need to do calibrations as per datasheet. We got proper values for SPAD and reference(temperature) calibration but offset and xtalk calibration values or looks like wrong.I am thinking that this line may have problem https://github.com

[2020-08-24 07:39] emob-nordic commented on #27727
Could You provide information which sample You have build and how I can quickly reproduce this? I've tried to extend `./samples/subsys/mgmt/mcumgr/smp_svr/` sample with no success.

Was it build from `master` or any release? Have You checked other releases as well? I want to exclude recent `usb_enable()` changes.

[2020-08-24 08:02] ioannisg opened #27735 "Enable DT-based sanity-check test filtering"
**Is your feature request related to a problem? Please describe.**
In sanity check we have efficient way to whitelist or to exclude (filter out) tests/test-suites on certain platforms based on
- Kconfig switches
- ARCHitecture or platform target names
- required RAM / Code footprint (with respect to platform capabilities)

We would like to have additional filtering options based on HW capabilities

[2020-08-24 08:04] ioannisg commented on #27735
@nashif @PerMac FYI
If there is already a related discussion about this, please, comment and close the issue.

[2020-08-24 08:16] #27338 closed

[2020-08-24 08:52] alexsven commented on #27613
Tested with #26110 (first PR with support for the DK) and it didn't work there

[2020-08-24 09:02] gmarull commented on #26830
I think it would be worth re-opening https://github.com/zephyrproject-rtos/zephyr/pull/17434 as it would better suit applications where high sensor data rates need to be processed. Support for sensors that have a FIFO can be implemented on current sensor API, e.g. could be done reading FIFO contents on trigger or using a periodic timer and then `_fetch` would be a consumer.

Still there are a coup

[2020-08-24 09:20] ioannisg commented on #27613
Thanks @alexsven , I am taking a look.

[2020-08-24 09:21] erwango commented on #27559
@ahmedwahdan stm32cubeIDE is not made to use with zephyr. If you need an IDE to use zephyr I suggest to use VSCode (cf https://github.com/zephyrproject-rtos/zephyr/issues/21119 for configuration) or Eclipse with Zephyr plugin (http://marketplace.eclipse.org/content/eclipse-plug-zephyr-project).

[2020-08-24 09:24] gmarull commented on #27095
Update: improvements on ROM footprints will be included in v8 and v9 releases. v8 may be ready by the end of this year.

[2020-08-24 09:31] de-nordic commented on #27112
Are you able to check if the issue persists when performing the same operations on lfs attached to internal storage area instead of external SPI connected SD?

[2020-08-24 09:44] lmajewski commented on #24916
@dleach02 In the end I've decided to do the example for DSA with using LLDP, so I did not delved into this example at all.

[2020-08-24 09:44] #24916 closed

[2020-08-24 09:59] erwango commented on #27728
@dj0405 UART_ASYNC_API is not yzet supported on STM32 serial driver.
You can check https://github.com/zephyrproject-rtos/zephyr/pull/14916 for a WIP implementation

[2020-08-24 09:59] #27728 closed

[2020-08-24 10:08] YuguoWH opened #27738 "em_starterkit_7d sanitycheck test failure on tests\kernel\mem_protect\syscalls test"
**Describe the bug**
em_starterkit_7d would fail on zephyr\tests\kernel\mem_protect\syscalls

**To Reproduce**
Steps to reproduce the behavior:
scripts\sanitycheck -p em_starterkit_7d -T tests\kernel\mem_protect_syscalls

**Expected behavior**
All test cases should pass

[2020-08-24 10:48] maksimmasalski commented on #15246
I have the same problem on Ubuntu 18.04.4 LTS. Solution here and deleting build/ folder didn't help me. https://github.com/zephyrproject-rtos/zephyr/issues/17543

[2020-08-24 10:59] pabigot commented on #27727
OK, I've reproduced, documented, and confirmed my results in: https://github.com/pabigot/zephyr/commits/repro/27727

Thanks for looking into this, it is a showstopper for an upgradable usb dongle.

[2020-08-24 11:58] ioannisg commented on #27176
Just doing a test @jukkar , and will restore the priority to medium.

[2020-08-24 12:14] erwango commented on #27734
@jrananth1032 the line you mention is directly taken from ST Driver library and is not supported inside Zephyr project.
I'd propose to raise your question on https://community.st.com/

[2020-08-24 12:53] pabigot commented on #26990
The SSD1306 datasheet indicates the device can operate at 400 kHz which would solve this problem, but practically it might remain for other devices.

In #27715 I surveyed the existing state of I2C timeouts, which is frankly a mess.  Even adding a global default, with platform overrides, would be messy and inconsistent: it's not clear where the timeout should apply (single message or all messages i

[2020-08-24 12:59] jrananth1032 commented on #27734
okay thanks

[2020-08-24 12:59] pabigot commented on #23322
Closed by #25851.

[2020-08-24 12:59] #23322 closed

[2020-08-24 13:02] pabigot commented on #20792
I suspect the residency policy will be updated in the context of new work that eliminates the hard-coded states, which should settle this, but for now I think it should be left open.

[2020-08-24 13:04] icephyr opened #27745 "Zephyr with host stack and hci driver only ?"
Hello guys, I met a problem during development and hope anyone can help.

I'd like to use an i.mxRT1050 running zephyr as a host, the RT1050 connects with an BLE chip nRF52832 by uart. RT1050 will collect data from sensors, connect and send data to the Gateway by nRF52832, so the RT1050 shall support BLE Host stack and uart driver. The RT1050 will control the nRF52832 by HCI command.  I wonder if

[2020-08-24 13:48] pabigot commented on #12025
A year later I don't think this is worth keeping open.  Currently controlling power is mostly manual, and the referenced sample has been replaced by `samples/boards/system_off` which shows (crudely) how to do it for Nordic.  At some point this will be done automatically, but it's an ongoing process being tracked elsewhere (e.g. entry point at #24228).

[2020-08-24 13:48] #12025 closed

[2020-08-24 14:12] #26527 closed

[2020-08-24 14:29] erwango commented on #27734
@jrananth1032, since the issue does not depends directly on Zephyr code base, I'm closing the point.
Please feel free to reopen if needed

[2020-08-24 14:29] #27734 closed

[2020-08-24 15:03] jettr commented on #27525
The chromium code aims to follow the state machine layout as described in the [Type-C](https://www.usb.org/document-library/usb-type-cr-cable-and-connector-specification-revision-20) (e.g. Figure 4-16) and [PD](https://www.usb.org/document-library/usb-power-delivery) (e.g. Figure 6-54) USB specifications. It also aims to be 100% compliant with the [test specifications](https://www.usb.org/document

[2020-08-24 15:09] carlescufi commented on #27745
@icephyr just build `samples/bluetooth/hci_uart` and it will give you what you need.
This is described here:
https://docs.zephyrproject.org/latest/samples/bluetooth/hci_uart/README.html

[2020-08-24 15:09] #27745 closed

[2020-08-24 16:48] ABOSTM opened #27753 "drivers: sensor: lis2dh: compilation issue struct lis2dh_config' has no member named 'spi_conf'"
**Describe the bug**
While pushing PR #27013,  Buildkite highlight a compilation issue in lis2dh.

Note: Even if issue is not directly linked to the PR #27013,
the PR highlight this issue because it enabled adc for stm32f3_disco, which is a condition (depends on) for sanitycheck
 to compile for this board.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b stm32f3_disco te

[2020-08-24 16:53] ABOSTM commented on #27753
^^ @avisconti

[2020-08-24 21:23] nl0220 opened #27763 "BLE: generic GATT discovery sample function would be helpful"
An existing BLE samples use hard coded UUIDs in a discovery routine ( HR for example ). Would be great to have an alternative way to discover services, characteristics etc while using the generic GATT discovery  routine as an example.

[2020-08-24 21:31] #26990 closed

[2020-08-24 21:35] #27547 closed

[2020-08-25 01:06] icephyr commented on #27745
Hi carlescufi, thanks a lot for your quick reply. One question about hci_uart sample is it is suitable for the nRF52832 as a controller, as for the RT1050 playing the host role, also run hci_uart sample too ?

[2020-08-25 03:10] LeiW000 opened #27765 "Sanitycheck: non-existing test case shows up in .xml file."
Run sanitycheck as below to run the test cases under tests/kernel/workq/work_queue_api/. The test case "kernel.workqueue.api" shows in reel_board.xml, which is generated by sanitycheck. But the test case does not exist.

./scripts/sanitycheck -p reel_board --device-testing --device-serial /dev/ttyACM0 -T tests/kernel/workq/work_queue_api/

[2020-08-25 07:33] #27613 closed

[2020-08-25 07:33] ABOSTM commented on #27753
[code]
In fact, it is not a good solution: I face another compilation error. It is looking for spi-max-frequency property, but within i2c DT node.

[2020-08-25 08:07] #27444 closed

[2020-08-25 08:15] FRASTM commented on #26896
This is the position of the SLEEPONEXIT bit of the System Control Register (SCR) of the cortex
Clearing this bit will avoid going to sleep when returning to Thread mode
This is the LL_LPM_DisableSleepOnExit() call during _sys_pm_power_state_exit_post_ops

[2020-08-25 08:50] oubotong opened #27767 "Merge the MQTT-SN library into the OpenThread submodule"
Currently, I can't find a way to use MQTT-SN protocol within Zephyr. There is no library to use.
However, I found a repo which embed MQTT-SN into OpenThread: https://github.com/kyberpunk/openthread-mqttsn which is based on **paho** library: https://github.com/eclipse/paho.mqtt-sn.embedded-c

And I tried to port this MQTT-SN into the specific OpenThread which Zephyr is using as a module and tested

[2020-08-25 08:54] marvinroger commented on #26383
The issue is not fixed, please remove the stale label.

[2020-08-25 09:25] JaapBosheuvel opened #27768 "Usage fault when running with CONFIG_NO_OPTIMIZATIONS=y"
**Describe the bug**
I get an error message on the terminal when running the sample: _$ZEPHYR_BASE/zephyr/samples/bluetooth/peripher_ht_ with the **CONFIG_NO_OPTIMIZATIONS=y** flag. This error message comes up immediately:
[code]
When I run the binary in my debugger it will not crash immediately and advertises. But when I try to connect with nRF Connect app on android the terminal shows the follow

[2020-08-25 09:56] JaapBosheuvel commented on #27706
Thank you for the tips, the flag CONFIG_BT_CTLR_OPTIMIZE_FOR_SPEED was exactly what I needed.

[2020-08-25 09:56] #27706 closed

[2020-08-25 10:23] pabigot commented on #22027
#20560 fixed the I2C scanner on STM32, so if this is reproducible there's something else going on.  Possibly scanning the wrong I2C bus.

[2020-08-25 10:28] pabigot commented on #11974
This was done in #27387

[2020-08-25 10:28] #11974 closed

[2020-08-25 10:31] pabigot commented on #11457
Just to update: [async_notify](https://docs.zephyrproject.org/latest/reference/misc/notify.html#async-notification) is the current in-tree solution for configuring notification methods.

[2020-08-25 11:53] maksimmasalski opened #27771 "iotdk: cpu_stats function doesn't work as expected"
**Describe the bug**
cpu_stats profiling function doesn’t work as expected, it always report cpu usage 100 even if cpu in idle thread for a long time. It looks like the cpu_stats hooks does not have a chance to count the switch in of idle thread (stats_hw_tick.idle always 0).

[code]
It always report cpu usage 100%, and global variable stats_hw_tick.idle is 0, but I confirmed cpu can enter idle

*

[2020-08-25 12:22] #27434 closed

[2020-08-25 12:25] kisvegabor opened #27772 "Use LVGL's Kconfig"
Hi,

At LVGL we are planning to add a Kconfig file to the main repo but we are not sure if it will harm the existing Kconfig based projects.

Could you comment on what your requirements are and what we should consider in order to allow Zephyr to use LVGL's Kcofig file or - if it's not possible - to make sure it won't bother your Kconfig file?

cc @c47d @BFFonseca

[2020-08-25 13:14] wentongwu commented on #26868
I think icount mode doesn’t work well on qemu_x86_64 multi core, because QEMU can’t provide accurate timer on multi core platform. And QEMU can’t provide true physical concurrency.

[2020-08-25 15:08] trond-snekvik commented on #27716
@LingaoM's assessment is correct, but I just wanted to provide some context for why this looks confusing in the log:

When you send messages to groups your own node subscribes to, the network layer behaves in an unexpected way. Instead of passing the encrypted message to the advertiser and an unencrypted version to its own transport layer, it just encrypts the packet, and adds it to a local RX que

[2020-08-25 15:25] nandojve commented on #27718
CC: @otavio

[2020-08-25 15:43] MarcianoPreciado commented on #27716
@LingaoM @trond-snekvik Thank you for educating me on the process. I'm glad you are working on a patch. When I attempt to suspend the mesh just after sending a message, it seems to repeatedly attempt to fill a net buffer with a message but the suspension removed the buffer. It blows my log up.

[2020-08-25 16:09] #11976 closed

[2020-08-25 16:28] otavio commented on #27718
@nandojve indeed; I think we need to protect against it and fail gracefully.

[2020-08-25 17:11] carlescufi commented on #27672
@sarazalabany could you manage to get a backtrace of the device that gets the bus fault? At the very least can you run `addr2line` on the 0x00081ce address that triggered the fault?

[2020-08-25 17:11] MaureenHelm commented on #27712
@mfiumara can you confirm this is now fixed?

[2020-08-25 17:23] pabigot commented on #27718
Would it make sense to have the JSON API zero its target buffer before starting to process, to avoid nondeterministic behavior?

[2020-08-25 17:41] MaureenHelm commented on #27237
@tejlmand can you please take a look at this?

[2020-08-25 17:49] nashif commented on #27583
As noted above, this is intentional. Code changes all the time and on a constant basis and most of the CI tests are about building and not about flashing on a certain device and running it. Having to chase all of those failures and fix tests to either be skipped is a significant overhead and would exclude platforms that would actually be able to build and run the tests.

The tests are marked as sk

[2020-08-25 19:36] timdesi opened #27783 "Add support for mbedTLS Server Name Indication (SNI) at configuration"
**Describe the bug**
Now days most modern browser and tools support SNI option to connect to TLS enabled servers. While i try to connect to AWS IoT servers, result was always handshake error.

To solve the problem i need to add `#define MBEDTLS_SSL_SERVER_NAME_INDICATION` to config-tls-generic.h file.

Could you introduce same config key like CONFIG_MBEDTLS_SERVER_NAME_INDICATION or add this optio

[2020-08-25 20:03] nashif commented on #27583
lowering priority and leave some time for discussion.

[2020-08-25 23:31] andrewboie opened #27785 "memory domain arch implementation not correct with respect to SMP on ARC"
**Describe the bug**
Consider an SMP system with two CPUs.

- CPU 0 is running a supervisor thread A which makes some API calls to configure a memory domain X
- CPU 1 is concurrently running a user thread B which is a member of memory domain X

With the current code, the memory domain API changes made by thread A will not cause the MPU on CPU 1 to be reconfigured, and thread B retains the old memo

[2020-08-26 04:35] andrewboie commented on #27785
note: I'm going to write a test case for this as I'm not sure everything is in order on x86 either.

[2020-08-26 07:36] mfiumara commented on #27712
Hi @MaureenHelm this looks to be resolved on master (tested on commit 94721b316f634c3a4c24f7a839ab87363248d0d2), so I'm closing this thanks for the response!

[2020-08-26 07:36] #27712 closed

[2020-08-26 07:39] chrta commented on #27583
OK, i would also be fine to remove the bug label.

@nashif Would it make sense to add a new commandline option that enables the behaviour that an error code ( != 0) is returned in case of skipped tests because of a linker error?

[2020-08-26 09:20] simon-iversen opened #27791 "DT_DRV_COMPAT in spi_flash_w25qxxdv.c named incorrectly"
**Describe the bug**
There is a bug in the driver [zephyr\drivers\flash\spi_flash_w25qxxdv.c](https://github.com/zephyrproject-rtos/zephyr/blob/94721b316f634c3a4c24f7a839ab87363248d0d2/drivers/flash/spi_flash_w25qxxdv.c). [DT_DRV_COMPAT](https://github.com/zephyrproject-rtos/zephyr/blob/94721b316f634c3a4c24f7a839ab87363248d0d2/drivers/flash/spi_flash_w25qxxdv.c#L7) is set to winbond_w25q16, which

[2020-08-26 09:39] hjuul opened #27792 "Default clock settings for STM32F7 violates operating conditions"
**Describe the bug**
When building applications for stm32f7 devices with upstream board configurations the CPU clock speed defaults to 216MHz.

According to the STM32F76xxx Reference Manual, this clock speed mandates that the internal regulator is in overdrive mode and that the flash is configured for at least seven wait states.

Neither of these requirements are met for upstream Zephyr, which in

[2020-08-26 10:09] trond-snekvik commented on #27716
Loopback PR: https://github.com/zephyrproject-rtos/zephyr/pull/27796

Sounds like this might log suspension issue might be addressable in a separate PR. Just for confirmation, are you sending mesh messages periodically through a timer of your own, or is it a consequence of some periodic action the stack performs?

[2020-08-26 10:18] tejlmand commented on #27237
Thanks for pinging.
Fixed: https://github.com/zephyrproject-rtos/zephyr/pull/27797
Sorry for the delay, I haven't noticed this issue before.

[2020-08-26 11:14] pabigot commented on #27791
You should not be using spi_flash_w25qxxdv.c.  All JEDEC SPI flashes should be supported by `CONFIG_SPI_NOR=y` which selects the `spi_nor.c` driver.

We really need to get that W25 one out of tree.

[2020-08-26 11:49] gmarull commented on #27772
As far as I know Zephyr doesn't use external modules Kconfig files directly, which makes sense to me. I think that if LVGL moves to Kconfig Zephyr could definitely benefit from it, Kconfig files could probably be re-used with some patches for Zephyr specific options (e.g. display device name). I think that the main Zephyr requiremements now would be that default enabled features are minimal and Kc

[2020-08-26 12:28] kisvegabor commented on #27772
Thanks, @gmarull! Glad to hear that you like the idea.

I wonder if you can simply add LVGL's Kconfig with `rsource` similarly you do it [here](https://github.com/zephyrproject-rtos/zephyr/blob/202ca01dcbe760b825f550df4d8411ad09f34df0/lib/gui/lvgl/Kconfig#L545).

The minimal configuration by default can be an issue because for LVGL users it's more straightforward to have all features enabled which

[2020-08-26 12:59] gmarull commented on #27772
We'd need to have a copy in Zephyr repository, Kconfig from external modules can't be directly included. This is because Zephyr Kconfig needs to be operational even if some modules are not available. However, this doesn't prevent re-use, files would be synchronized (and possibly patched with necessary tweaks) when Zephyr upgrades to new versions of LVGL. License compatibility also needs to be take

[2020-08-26 13:09] kisvegabor commented on #27772
OK, great!

It's also great. As you mentioned in the worst case you can patch some default values.

[2020-08-26 13:51] pabigot opened #27803 "samples: update to support new devicetree flag defaults"
The merge of #27076 made the complex steps to accommodate GPIO specifiers that lack a flags cell, i.e.:
[code]

All in-tree samples should be updated to remove this unnecessary test, as it is being replicated in new code like #26002.

[2020-08-26 13:53] ruuddw commented on #27785
Noted. We don't enable/support Userspace on ARC HS yet, there might be other issues as well with SMP and userspace.

[2020-08-26 14:20] tejlmand commented on #27056
This seems correct behavior to me.
When you do:
[code]
inside `samples/basic/blinky/CMakeLists.txt`, then you are effectively adding `src/include` to the default search path of the `app` library, but not to other Zephyr libraries.

This can be verified by:
[code]
this works as expected with no errors.

But building of `libapp.a` fails, cause you requested `app` library to use `src/include` when co

[2020-08-26 14:21] tejlmand commented on #27056
Closing as this is not a bug.

[2020-08-26 14:21] #27056 closed

[2020-08-26 14:23] pabigot opened #27805 "samples without README"
Taking #27130 to the next step: The following samples do not have a README:

* [ ] samples/boards/esp32/ethernet
* [ ] samples/boards/nrf/nrf53_sync_rtc/net
* [ ] samples/drivers/lcd_cyclonev_socdk
* [ ] samples/drivers/led_apa102c_bitbang
* [ ] samples/drivers/spi_fujitsu_fram
* [ ] samples/sensor/bmg160
* [ ] samples/sensor/max44009 (has a README)
* [ ] samples/sensor/sx9500  (has a README.txt)

[2020-08-26 14:25] pabigot commented on #27805
[code]

[2020-08-26 14:26] nslowell commented on #27056
Can you offer a solution to the scenario?

[2020-08-26 14:46] tejlmand commented on #27056
what are your expectations ?
You request all files belonging to `app` library to be compiled with `${ZEPHYR_BASE}/samples/basic/blinky/src/include` as include path, so did you expect them to NOT be compiled with that include path ?

`main.c` belongs to `app` lib, as can be seen by this line:
[code]

[2020-08-26 15:07] tejlmand commented on #27056
maybe you are mixing up how includes are handled by the compiler.
Zephyr currently supports gcc based compilers (and clang for native builds), and with gcc it would seem that you would not want to use `target_include_directories()` but handle this include path manually with `-iquote` as compile flag to get the behavior you might be looking for:
https://gcc.gnu.org/onlinedocs/gcc-4.3.1/cpp/Search-P

[2020-08-26 15:19] tejlmand commented on #27465
As you already seem to be aware, a SoM should be added as a regular board.
If then, someone wants to create a new board, using that SoM, they should be able to use your SoM board as a reference to extend.

An example of a SoM with a a devkit, that is based on Nordic nRF52833 can be found here:
https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/bl653_dvk

https://www.lairdconnect.c

[2020-08-26 15:50] NolwennV opened #27809 "Cannot enable MPU for nucleo_l552ze_q_ns"
The current L5 TF-M implementation configures and enables both a secure and a non secure MPU. This is incompatible with an activation from Zephyr side (non secure binary).
This is a known issue tracked at : https://developer.trustedfirmware.org/T806

As a result, the  MPU stay disabled for the target nucleo_l552ze_q_ns in the PR https://github.com/zephyrproject-rtos/zephyr/pull/27524.

[2020-08-26 16:10] andrewboie commented on #27785
ohh! misunderstanding on my part.
Feel free to close unless you want to leave this open as a reminder.

[2020-08-26 16:43] #19661 closed

[2020-08-26 16:46] nandojve commented on #27465
Hi @tejlmand , I understand the approach that you suggested. However, I think I not made my self clear enough because there is no SoM module definition on the bl653_dvk. The board was defined same way as any chip down board itself and BL653 SoM, in fact, doesn't exists. This is not what I looking for. I'm trying to reuse/extend a SoM to create N different boards. I'm looking for a relation like we

[2020-08-26 16:54] plskeggs commented on #26722
Any progress on this?

[2020-08-26 17:07] MarcianoPreciado commented on #27716
@trond-snekvik I am sending according to my own timing.

[2020-08-26 17:40] andrewboie opened #27811 "intermittent failure of tests/net/socket/select on qemu_x86"
**Describe the bug**
Seeing this occasionally fail when running sanitycheck with high CPU load:

[code]

This is very strange as we have icount enabled, so our tests should be deterministic.

[2020-08-26 18:16] nashif commented on #27583
yeah, one more option to the script won't hurt, we already have a few of them :-D

[2020-08-26 18:25] #27237 closed

[2020-08-26 18:53] #27785 closed

[2020-08-26 19:18] dleach02 commented on #27569
@jfischer-phytec-iot I have a PR in the NXP HAL to address the divide by 2.

zephyrproject-rtos/hal_nxp#54

[2020-08-26 19:18] d3zd3z commented on #27718
From a security perspective, this is a good idea. I think in this instance, there probably aren't any significant performance implications of this, either. But a more general solution might be to change how the json decoder works to have it zero out parts that it knows aren't being filled in.

[2020-08-26 19:28] wentongwu commented on #27811
The test has the configuration CONFIG_NETWORKING=y which will disable Qemu icount.

[2020-08-26 19:39] pabigot commented on #27718
Turns out neither of those is trivial to do, since there can be missing/misordered fields in the structures as well as short (and possibly sparse) arrays.

So I suggest this be fixed in updatehub by zeroing the memory before passing it to the JSON API.  If somebody cares enough open an enhancement request for the json library to sanitize the areas it doesn't write to, but I doubt it'll get attenti

[2020-08-26 19:45] nashif commented on #23574
marked as fixed

[2020-08-26 19:45] #23574 closed

[2020-08-26 19:46] nashif commented on #24028
dismissed

[2020-08-26 19:46] #24028 closed

[2020-08-26 19:48] nashif commented on #24029
dismissed

[2020-08-26 19:48] #24029 closed

[2020-08-26 19:50] nashif commented on #24030
dismissed

[2020-08-26 19:50] #24030 closed

[2020-08-26 19:58] chris-makaio commented on #25327
Uhm, sorry, I’m lost... what’s the current preferred type? U8_t or uint8_t?

[2020-08-26 20:04] pabigot opened #27813 "samples without sample.yaml"
Parallel to #27805 these are samples that lack a `sample.yaml` so may not be participating in CI as expected.

* [ ] samples/boards/intel_s1000_crb/dmic
* [ ] samples/subsys/mgmt/osdp

~* [ ] samples/testing/integration (has a `testcase.yaml` instead)~ apparently this is not a sample

[2020-08-26 20:33] andrewboie commented on #25327
You want to use `uint8_t`.

[2020-08-26 20:40] #27645 closed

[2020-08-26 20:40] #27646 closed

[2020-08-26 20:40] #27648 closed

[2020-08-26 22:12] dleach02 commented on #19348
If this is with the legacy TCP and we have switched to the new TCP do we need to retain this bug?

[2020-08-26 23:56] andrewboie opened #27819 "Memory Management for MMU-based devices for LTS2"
Our existing memory protection design was designed for MPU-based systems. We now aim to introduce better support for user mode on systems with memory management hardware for the next Zephyr LTS version. This ticket is a meta-issue containing the overall plan of what we want this to look like.

We have already implemented MMU support on x86, but this is being overhauled to conform to this plan. For

[2020-08-26 23:59] andrewboie commented on #25950
The current plan for MMU support is to have a single view of memory from an ISR perspective, and this problem goes away. Details in #27819.

[2020-08-27 01:14] andrewboie commented on #25093
Top two commits of this old branch is where I started working on this, but I set it aside. https://github.com/andrewboie/zephyr/tree/sysenterexit

[2020-08-27 01:23] andrewboie commented on #25950
I'm going to leave this open but de-scope for 2.5 and drop to "low".

I can certainly see it being useful to offer some kind of common infrastructure for bouncing down interrupt callback handling tasks to an unprivileged threads, but this isn't a dealbreaker with the current plan for MMUs.

[2020-08-27 01:26] andrewboie commented on #24859
This is now fixed in master branch , an assertion should be failed regardless of the target arch.

[2020-08-27 01:26] #24859 closed

[2020-08-27 01:30] #26868 closed

[2020-08-27 04:12] andrewboie commented on #25891
This is going to require some ingenuity, if it's feasible at all.

Standard shared libraries in Linux presume that the GOT is located from a fixed offset from the program text. This works because the library program headers just get mapped into the address space with mmap(). But with a physical memory map, this doesn't fit well.

Ideally:

- We need all the program text for all libraries merged in

[2020-08-27 05:11] Zhaoningx opened #27820 "reel_board:running failed in tests/drivers/gpio/gpio_api_1pin/"
Describe the bug
Running test cases and the output assert failed on reel_board

To Reproduce
Steps to reproduce the behavior:
west build -b reel_board tests/drivers/gpio/gpio_api_1pin/
west flash
see error

*** Booting Zephyr OS build zephyr-v2.3.0-2118-g94721b316f63  ***
Running test suite gpio_api_1pin_test

===================================================================
START - test_gpio_pi

[2020-08-27 05:20] Zhaoningx opened #27821 "frdm_k64f:running test cases /tests/subsys/power/power_mgmt/ error"
Describe the bug
running test case /tests/subsys/power/power_mgmt/ error, make system crash.

To Reproduce
Steps to reproduce the behavior:

west build -b frdm_k64f tests/subsys/power/power_mgmt/
west flash
see error

*** Booting Zephyr OS build zephyr-v2.3.0-2118-g94721b316f63  ***
Running test suite power_management_test

===================================================================
START

[2020-08-27 06:34] jukkar commented on #19348
This is for legacy and it is an old one -> closing.

[2020-08-27 06:34] #19348 closed

[2020-08-27 07:47] tejlmand commented on #27465
@nandojve thanks for the detailed explanation. It's clearer now.

Unfortunately Zephyr doesn't have the concept of SoM for the time being, but this does sound like a valid enhancement in future.

The current board concept doesn't get you all the way, but there are a couple of inspirational sources that can get part of the way, and minimizing the need for copy pasting, when extending your SoM.

One

[2020-08-27 07:59] jfischer-phytec-iot commented on #27569
@dleach02 Sorry for delay, I have opened #27824 and also placed explanation in the commit message.

[2020-08-27 08:14] tejlmand commented on #27056
If you do the following in CMakeLists.txt instead:
[code]
then everything builds as expected:
[code]

If we then change `main.c` to use:
[code]
instead, then we'll get:
[code]
because the `-iquote` tells gcc to prefer the `src/include/` path first when quotes are used as `"device.h"`.
Note: I added `_Static_assert(0, "fail");` to `src/include/device.h` to get a failure during compilation, otherwis

[2020-08-27 08:15] tejlmand commented on #27056
@nslowell FYI ^^^

[2020-08-27 08:42] #27721 closed

[2020-08-27 11:06] pabigot commented on #25950
That's disappointing.

I'd hoped this would be fairly simple, and would allow us to start using `sys_notify` in general API.  If it's not going to happen we remain limited to `k_poll_signal` as the only way to notify completion of asynchronous operations in API that needs to support unprivileged execution.  It also prevents us from having a single API that works in both thread and non-thread conte

[2020-08-27 11:08] nashif opened #27829 "sys_mutex and futex missing documentation"
Both objects missing documentation and although they are documented in the code, this API documentation is not linked in the main documentation page.

[2020-08-27 11:14] vanwinkeljan commented on #27772
Sound like a good idea and as @gmarull said if we line up the config names there is no need in maintaining a version of `lv_conf.h` in zephyr.

That is definitely not true some feature will be included in functions that can not be removed and will result in a bigger code base. But if a config such as `LVGL_CONFIG_MINIMAL` would be available we can just set it to default.

[2020-08-27 11:53] #27319 closed

[2020-08-27 11:57] zephyrbot opened #27832 "[Coverity CID :212957] Out-of-bounds access in arch/x86/core/x86_mmu.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/63e858262936c303ccb334ba6db680c3cd135823/arch/x86/core/x86_mmu.c#L748

Category: Memory - corruptions
Function: `stack_guard_set`
Component: Architectures
CID: [212957](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=212957)

Details:

[code]

Please fix or provide comments in coverity usi

[2020-08-27 11:57] zephyrbot opened #27833 "[Coverity CID :212958] Out-of-bounds access in arch/x86/core/x86_mmu.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/63e858262936c303ccb334ba6db680c3cd135823/arch/x86/core/x86_mmu.c#L679

Category: Memory - corruptions
Function: `arch_mem_map`
Component: Architectures
CID: [212958](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=212958)

Details:

[code]

Please fix or provide comments in coverity using

[2020-08-27 11:57] zephyrbot opened #27834 "[Coverity CID :212959] Macro compares unsigned to 0 in include/sys/mem_manage.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/63e858262936c303ccb334ba6db680c3cd135823/include/sys/mem_manage.h#L150

Category: Integer handling issues
Function: `z_mem_virt_addr`
Component: Other
CID: [212959](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=212959)

Details:

[code]

Please fix or provide comments in coverity using t

[2020-08-27 11:57] zephyrbot opened #27835 "[Coverity CID :212962] Macro compares unsigned to 0 in include/sys/mem_manage.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/63e858262936c303ccb334ba6db680c3cd135823/include/sys/mem_manage.h#L132

Category: Integer handling issues
Function: `z_mem_phys_addr`
Component: Other
CID: [212962](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=212962)

Details:

[code]

Please fix or provide comments in coverity using t

[2020-08-27 11:57] zephyrbot opened #27836 "[Coverity CID :212960] Logically dead code in samples/net/sockets/echo_client/src/echo-client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/63e858262936c303ccb334ba6db680c3cd135823/samples/net/sockets/echo_client/src/echo-client.c#L283

Category: Control flow issues
Function: `start_client`
Component: Samples
CID: [212960](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=212960)

Details:

[code]

Please fix or provide comments

[2020-08-27 11:57] zephyrbot opened #27837 "[Coverity CID :212956] Out-of-bounds access in tests/kernel/mem_protect/mem_map/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/63e858262936c303ccb334ba6db680c3cd135823/tests/kernel/mem_protect/mem_map/src/main.c#L103

Category: Memory - corruptions
Function: `test_k_mem_map_exec`
Component: Tests
CID: [212956](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=212956)

Details:

[code]

Please fix or provide comments

[2020-08-27 11:57] zephyrbot opened #27838 "[Coverity CID :212961] Side effect in assertion in tests/kernel/threads/thread_apis/src/test_threads_cancel_abort.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/63e858262936c303ccb334ba6db680c3cd135823/tests/kernel/threads/thread_apis/src/test_threads_cancel_abort.c#L231

Category: Incorrect expression
Function: `test_abort_from_isr`
Component: Tests
CID: [212961](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=212961)

Details:

[code]

Please fi

[2020-08-27 11:59] nashif commented on #27838
false positive

[2020-08-27 11:59] #27838 closed

[2020-08-27 12:48] FRASTM opened #27841 "samples: disk: unable to access sd card"
**Describe the bug**
The **samples/subsys/fs/fat_fs/**  application cannot access the SD card through SPI bus,

**To Reproduce**
This sample is using a ci_shield to mount a SD card through SPI on a nucleo stm32f411

$ west build -p auto -b nucleo_f411re samples/subsys/fs/fat_fs/ -DSHIELD="ci_shield"

See error:

`Error mounting disk.          `
`[00:00:00.007,000] <err> main: Storage init ERROR!

[2020-08-27 12:58] trond-snekvik opened #27842 "Bluetooth: Mesh: Modularizing the stack"
## Introduction

Bluetooth Mesh is a complex component that consumes a significant amount of memory and CPU time. It is currently built as a semi-monolithic subsystem on top of HCI, and must be linked into the application binary, but some configurations could benefit from splitting the mesh stack into smaller components. In this RFC, I'd like to suggest some changes that would allow alternative bu

[2020-08-27 13:13] yashi opened #27843 "spi_nor.c: Wrong buffers for rx_set"
**Describe the bug**
`spi_nor_access()` in `spi_nor.c` is [currently](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/flash/spi_nor.c#L256) like this
[code]
Because `spi_buf` is given to `rx_set` with `count` == 2, `spi_transceive()` is expected to use both `buf` and `data` to receive data.  But, this is wrong because callers are expecting to have the received data in `data`, whic

[2020-08-27 13:32] yashi opened #27845 "Support other kind of SPI NOR flash in spi_nor.c"
**Is your enhancement proposal related to a problem? Please describe.**
`spi_nor.c` currently expect spi_nor_data.spi_config.operation to be `SPI_WORD_SET(8)`.  How should we go by supporting other kind of SPI Flash like 16 bits or transfering MSB first?

**Describe the solution you'd like**
These properties are device dependent.  So they should be in DTS?

BTW, I have set the parameter `operation

[2020-08-27 13:53] mfiumara opened #27846 "Weird ADC outliers on nrf52"
**Describe the bug**
When using the nrfx_saadc in advanced mode as per https://github.com/NordicSemiconductor/nrfx/wiki/SAADC-Advanced-mode-with-IRQs with continuous mode enabled, some strange outliers are observed when oversampling.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the aforementioned sample with the following adc configuration:
[code]
And using the drivers IRQ with prio

[2020-08-27 13:53] pabigot opened #27847 "tests/lib/sprintf fails on native_posix_64"
On updated Ubuntu 20.04 hosts, and on [buildkite](https://buildkite.com/zephyr/zephyr/builds/6377#de9379aa-7a42-4b95-9c4b-3369f80e4d9e), the test fails at:
[code]

[2020-08-27 13:53] mfiumara commented on #27846
@pabigot

[2020-08-27 13:57] nslowell commented on #27056
Thanks! I guess I was wondering if there should be a zephyr_library_... macro that resulted in the -iquote setting, but I guess this solution works.

[2020-08-27 13:59] #27803 closed

[2020-08-27 14:09] nashif commented on #27847
started failing after b51eeb03f4a3c2b6ece78d2c79d336c90587f4cf

[2020-08-27 14:11] pabigot commented on #27845
I don't understand why byte ordering is an issue: doesn't the flash present as a sequence of bytes, and the order depends on what's written?  What specific flash device are you using?

[2020-08-27 14:24] pabigot commented on #27843
Yes.

No.

The way Zephyr's SPI transceive works is rather confusing.  In short `spi_transcieve` takes two buffer sets, each of which must contain fragments that combine to be the total length of the transfer.  It simultaneously transmits data from the `tx_bufs` while reading data into the `rx_bufs`, since SPI is a full-duplex protocol.

`spi_buf` is used to encode the two fragments necessary for

[2020-08-27 14:25] nashif commented on #27821
@hakehuang  @dleach02 FYI

[2020-08-27 14:36] ABOSTM opened #27849 "tests: lib: cmsis_dsp: transform: malloc out of memory"
**Describe the bug**
When running tests/lib/cmsis_dsp/transform/ on nucleo_f207zg,
with config: libraries.cmsis_dsp.transform.cf64 ,
`malloc()` failed as it runs out of memory.
Please note that nucleo_f207zg has 128k RAM (whereas there is a min_ram of 64)

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -N --device-testing --hardware-map ../map.yaml -c -T tests/lib/cmsis_dsp/trans

[2020-08-27 14:42] ABOSTM commented on #27849
Implementation proposal: #27850

[2020-08-27 14:42] ABOSTM commented on #27849
^^ @stephanosio

[2020-08-27 14:49] andrewboie commented on #27835
false positive
CONFIG_KERNEL_VM_BASE is not guaranteed to  be 0

[2020-08-27 14:50] pabigot commented on #27847
@petejohanson @aescolar

[2020-08-27 15:39] carlescufi commented on #27791
Closing now that #27802 is merged

[2020-08-27 15:39] #27791 closed

[2020-08-27 15:53] andyross commented on #20671
Yes, that PR did resolve most of this (and honestly I'd mostly forgotten about this particular bug).  I don't see why this can't be closed.

[2020-08-27 15:59] #20671 closed

[2020-08-27 16:04] sjg20 commented on #25327
Well I didn't see that sorry.

Do you mean stdint.h ? If so, U-Boot doesn't actually use that. It has its own empty version so that libraries build from U-Boot don't use the libc version.

In fact U-Boot used to support using stdint.h but it was dropped by Masahiro in:

9865543ae65 Remove CONFIG_USE_STDINT

and I have not had the need/energy to get it back in there.

[2020-08-27 16:39] #27130 closed

[2020-08-27 16:49] andrewboie commented on #27531
One thing I think worth pointing out, as I understand the focus has been on doing this under native_posix. At the moment, native_posix doesn't support user mode. So if it only worked there, we wouldn't be able to test driver subsystem syscalls with this.

There's an open ticket for this https://github.com/zephyrproject-rtos/zephyr/issues/20083 although so far nobody's had time to look into it furt

[2020-08-27 17:41] sviraaj opened #27855 "i2c bitbanging on nrf52840"
Hi,
I am trying to use i2c_gpio (bitbanging) on nrf52840. I am unable to make it work yet! Did anyone test bitbanging i2c on nrf52840?

Following DT settings used.
[code]

[2020-08-27 18:23] C47D commented on #27772
Hi all,

The current Kconfig can be found [here](https://github.com/lvgl/lv_port_esp32/blob/master/components/lvgl/Kconfig). And the lv_conf.h file can be found [here](https://github.com/lvgl/lv_port_esp32/blob/master/components/lvgl/lv_conf.h). We can agree on the config names before the Kconfig file is summited to the main LVGL repo.

[2020-08-27 19:08] intercreate commented on #26874
This enhancement would be great!  @lsangild how did you end up dealing with this limitation?

[2020-08-27 19:27] pabigot commented on #27855
Are you trying to use I2C, or are you trying to specifically use the bit-bang I2C driver instead of the `nordic,nrf-twi` I2C device that already uses those pins?  If the latter, you need to disable the existing driver:

[code]

[2020-08-27 19:38] pabigot commented on #27820
Confirmed failure, but I suspect this is a test failure.  The Nordic GPIO driver has been pretty heavily tested on other platforms.

[2020-08-27 19:57] nashif opened #27856 "Support per thread runtime statistics"
**Describe the solution you'd like**
Zephyr shall support collecting information on the amount of processing time that has been used by each thread. Zephyr shall use an architecture/SoC specific timer to measure the thread execution time.

For this, every thread structure  shall maintain a cumulative counter which adds the timer ticks spent for that thread.

APIs shall be provided to retrieve coll

[2020-08-27 20:08] andrewboie commented on #25891
One of the problems with using actual shared libraries is that the compiler assumes a fixed offset to the GOT from the library program text. All GOT lookups are IP-relative. This works fine in Linux because everything just gets mapped in the process address space.

In zephyr, we would need a GOT for every memory domain. In a physical memory map, the memory for each GOT would be at a different line

[2020-08-27 20:17] andrewboie commented on #22185
A lot of the work for this was already done in https://github.com/zephyrproject-rtos/zephyr/pull/26545 which we could separate out and implement for x86 and ARC

[2020-08-27 20:28] nashif commented on #15968
issues addressed in #26850

[2020-08-27 20:28] #15968 closed

[2020-08-27 21:09] sviraaj commented on #27855
@pabigot Thanks for the answer. I am trying to use the bit-bang I2C driver. Is there any reason why I need to disable the existing driver? Could both the drivers not work simultaneously?

[2020-08-27 23:45] pabigot commented on #27855
If the TWI driver is active it controls the pins, so attempts to use the bitbang code will not work.  The devices aren't designed to be turned on and off, transferring control from one driver instance to another..  Your best option is to use two different sets of pins, one for the I2C and another for the bitbang.  Alternatively if the slow I2C devices would work at 100 kHz then use that (slowest)

[2020-08-28 00:58] #21707 closed

[2020-08-28 00:58] #21616 closed

[2020-08-28 00:58] #21554 closed

[2020-08-28 00:58] #21549 closed

[2020-08-28 00:58] #21234 closed

[2020-08-28 00:58] #21232 closed

[2020-08-28 00:58] #21187 closed

[2020-08-28 00:58] #21114 closed

[2020-08-28 00:58] #21053 closed

[2020-08-28 01:00] albertofloyd commented on #27506
@VenkatKotakonda  check with PR created

[2020-08-28 02:14] yashi commented on #27845
It's S25FL256LAGMFM000

[2020-08-28 02:20] yashi commented on #27843
Yes

That sounds right. I'll check my SPI driver.  Thanks!

[2020-08-28 02:25] yashi commented on #27843
BTW, does it mean the doc is rather wrong?

It reads:

[code]

https://docs.zephyrproject.org/latest/reference/peripherals/spi.html#_CPPv414spi_transceiveP6devicePK10spi_configPK11spi_buf_setPK11spi_buf_set

[2020-08-28 02:50] Zhaoningx commented on #27820
Hello @pabigot , I don't get your point, you mean, this failure is normal and could be ignored on reel_board?

[2020-08-28 03:05] pabigot commented on #27843
No, it's not wrong, it's just ambiguous.  It could be more clear that every byte transfer bidirectional: the output data comes from `tx_bufs` (or NULL to send zeros) and the input data is stored in `rx_bufs` (or NULL to discard).

[2020-08-28 03:08] pabigot commented on #27820
No, I mean this test depends on an input that is wired to an LED behaving in a particular way, which might not be how the circuit on this particular board actually behaves.  It doesn't mean the GPIO driver is wrong, though that is remotely possible.

[2020-08-28 03:31] Zhaoningx commented on #27820
Good to know, so what should we do next?

[2020-08-28 05:09] hakehuang commented on #27821
same situation here
[code]

and all our drivers using the device_pm_control_nop controler.

[2020-08-28 05:46] sviraaj commented on #27855
@pabigot Sorry, I should have probably mentioned that I was using different pins for different drivers (I2C-TWIM and GPIO-I2C). The issue seems to be something else for me. Any idea what else might be causing the trouble? Thanks.

[2020-08-28 06:50] jukkar commented on #27836
False positive.

[2020-08-28 06:50] #27836 closed

[2020-08-28 06:55] asbjornsabo commented on #26246
Are there any plans for progress on this?

[2020-08-28 08:25] chen-png opened #27867 "up_squared: couldn't get test result from serial of each test."
**Describe the bug**
for up_squared, when using zephyr.strip file and usb disk to run tests on this board, couldn't get test result from serial for each test.

the good commit is 4cf1832fa8, but for the latest, it's broken.

**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b up_squared -p auto samples/hello_world/
2.  west flash ~/up_squared.sh
3.  see error

**Logs and console ou

[2020-08-28 08:29] lowlander opened #27868 "Event flags to signal tasks from ISR's"
Several RTOS like RTEMS and eCos have some sort of event flag set, mostly a 32bit int where one can set and wait for individual bits. A use case would be a ISR that gets called on RX done and on TX done (for example SPI). The ISR can than set bit 1 for RX done and bit 2 for TX done. The thread can than wait for bit 0 and bit 1 to be set. This is an easy API to do signaling from ISR. The only way I

[2020-08-28 08:44] kisvegabor commented on #27772
@vanwinkeljan

True. I'll take care to use something like `LVGL_CONFIG_MINIMAL`.

[2020-08-28 08:46] kisvegabor commented on #27772
@C47D

I vote for using the exact same names as in `lv_conf.h` (e.g. `LV_USE_BTN`) to maintain compatibility with `lv_conf.h`.

[2020-08-28 08:59] lsangild commented on #26874
I have not dealt with it. My application does not necessarily need the dedicated inputs at the moment, so I am using only ADC1.
Later on in the development process, if this feature is not implemented, I will probably use the HAL or LL libraries to circumvent the limitations present in Zephyr.

[2020-08-28 09:37] pabigot commented on #27820
Wait for the people who have been assigned this issue to look at it.

[2020-08-28 09:39] pabigot commented on #27855
Yes: the pins in the devicetree fragment you gave are the same pins normally used by the `i2c0` device.  Did you try adding the fragment I suggested?

[2020-08-28 10:17] chris-makaio opened #27870 "drivers: modem: create subfolders"
I'm not sure it's okay to suggest this, but wouldn't it be better to move modem drivers in subfolders?
I'm once again back to porting a modem driver and find it really hard to follow the code in those single files. I'd prefer to create "my" driver in a subfolder and split several parts across multiple files (power management, socket handling, command handling to name a few)

[2020-08-28 11:27] de-nordic commented on #26939
@lawrence-king Can you check whether https://github.com/zephyrproject-rtos/zephyr/pull/27871 fixes the problem for you?

[2020-08-28 12:48] lawrence-king commented on #26939
I have been temporarily moved to another (non-Zephyr) project, so it will take me a while to get a chance to test it. Reading the code it looks like a correct solution.

Lawrence King
Principal Developer
+1(416)627-7302

From: Dominik Ermel <notifications@github.com>
Sent: Friday, August 28, 2020 7:27 AM
To: zephyrproject-rtos/zephyr <zephyr@noreply.github.com>
Cc: Lawrence King <lawrence.king@ird

[2020-08-28 13:01] chris-makaio opened #27873 "drivers: modem: improve modem pin API"
Dear All,

currently the modem_context / modem_pin depend on aggregating the modem's pins in an array. ATM the vint pin is optional (and macro-checked for existence). I need to add a second optional pin (WAKE) and that's not going to work within an array (because indices get messed up).

I suggest to refactor the modem's pins from an array to a struct like so:
[code]

This struct could be extended

[2020-08-28 13:49] pabigot opened #27874 "Nordic timer failures with synchronized periodic timers"
The application provided in https://github.com/pabigot/zephyr/commits/timer/20200828 repurposes the hello_world sample as a test of various policies for handling periodic operations.  Multiple timers are created with the same control flow: on timeout schedule a work item.  Each timer is rescheduled following a different policy, but all repeat at a nominal interval of 1 s.

This application will fa

[2020-08-28 13:54] sviraaj commented on #27855
@pabigot Yes, I have disabled i2c0. And also, the board I am using is custom, so i2c0 dts has different sda and scl pins assigned than the one mentioned above. Just in case, I have still disabled the i2c0 as you suggested. I still have the same issue. The i2c reads all '0' on the bus.

[2020-08-28 13:59] nandojve commented on #27465
Hi @tejlmand, thank you clarify the current use cases. It helps me to take decisions about this topic, appreciate.

[2020-08-28 13:59] #27465 closed

[2020-08-28 14:01] FRASTM commented on #27841
The second `sdhc_spi_detect` fails, in the `disk_spi_sdhc_access_init` is returning the error code -5

(This is not the case when reverting  commit c64e0ce (from PR #27685) )

[2020-08-28 14:03] pabigot commented on #27874
The following trace around a failure point shows the problem is actually at a 23-bit rollover (4 minutes 16 seconds).

[code]

* `{A}` shows that while the other timers were blocked the one with automatic reschedule continued to invoke its handler at its expected rate, but the others did not advance and the work item was not processed.
* `{B}` showed another failure immediately after clear.
* `{C}

[2020-08-28 14:11] de-nordic commented on #27841
@FRASTM I  do not think that this is problem with FAT FS.

[2020-08-28 14:13] FRASTM commented on #27841
yes, at the beginning the pb occurs with the sample _fat_fs_,

[2020-08-28 14:46] pabigot commented on #27855
Ok, I can reproduce this.  Looks like the GPIO driver doesn't work on nrf52840.  Oddly, the line signals are good, so it's something in the API.  I'll look into it.

[2020-08-28 15:05] pabigot commented on #27855
Try #27875.

[2020-08-28 15:10] pabigot commented on #27855
You might also need this, or you might not.  But it was enabling input that fixed it for me.
[code]

[2020-08-28 15:14] de-nordic commented on #27841
Thanks for clarification! So the issue probably is not even with the samples but the general SD access via SPI.

[2020-08-28 15:15] de-nordic commented on #27841
This is probably similar issue: https://github.com/zephyrproject-rtos/zephyr/issues/27112

[2020-08-28 15:21] pfalcon opened #27876 "TCP2: Apparent issues with server-side connections (>1 connection doesn't work properly)"
**Describe the bug**

It looks that new TCP2 doesn't properly handle server-side connections (i.e. Zephyr acting as a listening socket): of several consecutive connections, only 1st suceeds. 2nd and following have the data delivered, but the connection isn't closed properly from the Zephyr server side (and thus client hangs  waiting for more data - either until timeout or forever).

**To Reproduce

[2020-08-28 15:24] C47D commented on #27772
Will open an issue on the `lv_port_esp32` repo to update the symbol names, currently they start with `LVGL`.

[2020-08-28 16:33] sjg20 commented on #27531
@andrewboie Yes I think so. Of course every platform is different but ideally if we could use the same DT overlay for them it would make things easier.

But if there are tests we can't do with native_posix we should probably fix that.

[2020-08-28 17:27] andrewboie commented on #25891
There is a third option: link in multiple copies of libraries per memory domain.

Pluses:
- No funny tricks to get separate library data/bss per domain
- No extra indirection layers, PIC, etc
- Regular .a static libraries work
- Tighter control of what memory domains use what libraries, as they are more like separate applications
- Separately built applications are something that has come up in di

[2020-08-28 18:57] sviraaj commented on #27855
@pabigot  Wow. This worked -> #27875 . I wonder why? Maybe it has something to do with the behavior in nrf52840 GPIO controller, since SDA needs to be bidirectional? Anyways, Thanks a lot for this patch. :)

[2020-08-28 19:17] tejlmand commented on #27465
Happy to help.

One limitation in case downstream users of your work are to extend your SoM, is that all the solutions I pointed to extend boards in the same folder.
This could indicated that users extending your SoM could end+up having to do extension in your board (SoM) folder.
If, during your work, you see this as a limitation, and you find a nice way that SoM could be described and extended, t

[2020-08-28 20:07] franciscomunoz opened #27879 "Make i2c_slave callbacks public in the documentation"
**Is your feature request related to a problem? Please describe.**
Currently, i2c slave callback APIs are marked as hidden in the documentation which I believe is a little restrictive since we would like to
create Zephyr applications handling I2C slave  scenarios.

**Describe the solution you'd like**
All the code is already in place, but we would like to have  the hidden attributte to be removed

[2020-08-28 20:16] jenmwms opened #27880 "build errors for some samples/ on lpcxpresso55s69_cpu1"
**Describe the bug**
This PR https://github.com/zephyrproject-rtos/zephyr/pull/27549 encountered build errors for the platform `lpcxpresso55s69_cpu1` on some samples. No build errors occured for lpcxpresso55s69_cpu0.

These 10 are from the buildkite report https://buildkite.com/zephyr/zephyr/builds/5366#4f785229-ffdf-4f11-b5c3-e8984a6ff795
- samples/mpu/mpu_test/sample.mpu.mpu_test
- samples/drive

[2020-08-28 20:25] nashif commented on #27880
This is blocking other PRs fixing other bugs from going so raise priority.

[2020-08-28 20:52] mbolivar-nordic opened #27881 "Zephyr requirements.txt fails to install on Python 3.9rc1"
**Describe the bug**

Python 3.9rc1 has been released and is available for testing. Zephyr currently fails to install with Python 3.9rc1, at least on Windows 10, due to various missing requirements.

The [expected release date](https://www.python.org/dev/peps/pep-0596/) for 3.9.0 final is Monday, 2020-10-05, so we can expect users to be unable to install Zephyr with the latest Python on that date.

[2020-08-28 21:52] MarcianoPreciado commented on #16886
This is still an issue. Even when sending unsegmented messages with `bt_mesh_model_send` the receiving node gets **every** message twice.

[2020-08-28 21:53] MarcianoPreciado commented on #16886
Shouldn't the network layer be able to filter these extras out using the IV and SeqNum?

[2020-08-29 09:57] LingaoM commented on #27842
#18326
The friend node and low power node defined in upper transport layer, not in network layer, so split `friend_cred_*` from net.c to other place .

[2020-08-29 20:43] aurel32 commented on #26212
I got the same issue on STM32F7. Fortunately you can change the boot base address in `FLASH_OPTCR1` flash register for boot pin = 0 with `BOOT_ADD0` and for boot pin = 1 with `BOOT_ADD1`. Of course the device tree on the Zephyr side should be updated to match that value.

[2020-08-30 00:25] #26197 closed

[2020-08-30 00:36] oubotong opened #27885 "Question regarding to some issues when work with OpenThread in Zephyr"
I tried to implement MQTT-SN protocol with OpenThread and everything works normally within OpenThread. When I tried to build the same program in Zephyr(exactly same source code), my board doesn't send out the CONNECT unicast message to the broker(I built up a sniffer, and it can't detect the CONNECT message).

While I tried to debug it, I couldn't find out the final function to send out the radio.

[2020-08-30 10:56] mtpr-ot opened #27887 "Event counter may get out of sync when multiple events collide in ticker"
During collision scenarios with high CPU load, the `ticker_worker` may be called a second time before the `ticker_job` gets to run. This will cause ticker operations on the previosly expired node (expected), but in some cases increment lazy_current, even though the node was not sceduled to execute via the req/ack mechanism.

**To Reproduce**
Steps to reproduce the behavior:
1. One or more BLE conn

[2020-08-30 14:32] ibabatov commented on #26939
I am facing the same problem as the original poster.
I have manually applied the fixes from #27871 and my setup seems to work OK now. Have not done any extensive testing though.
Thank you very much!

[2020-08-30 18:35] nandojve opened #27890 "[v2.2.x] lib: updatehub: Improve download on slow networks and security fix"
Describe the bug
Fix download on slow networks (2G modems).

To Reproduce
Use of UpdateHub on wireless networks with slow signal and re-transmissions.

Expected behavior
Improve user experience and apply missing security fix.

Zephyr 2.2

[2020-08-30 19:52] henrikbrixandersen commented on #27841
Unlikely since the author of that issue report talks about Zephyr 2.3.0, which does not contain c64e0ce923cde54415d203e447a1dc62894ed2b0.

[2020-08-30 19:53] henrikbrixandersen commented on #27841
@FRASTM Does the SPI controller driver used for accessing the SDHC card support `SPI_HOLD_ON_CS` properly? The Zephyr SPI SDHC disk access driver heavily depends on that.

[2020-08-30 21:32] nandojve opened #27892 "[v2.1.x] lib: updatehub: Improve download on slow networks and security fix"
Describe the bug
Fix download on slow networks (2G modems).

To Reproduce
Use of UpdateHub on wireless networks with slow signal and re-transmissions.

Expected behavior
Improve user experience and apply missing security fix.

Zephyr 2.1

[2020-08-31 00:25] #26149 closed

[2020-08-31 00:29] stephanosio commented on #27849
Left some comments in the PR #27850.

[2020-08-31 04:25] dleach02 commented on #27821
Folks, The idle stack is not big enough so you end up with the fault occurring when trying to print an assert message. This actually hides your real problem with this test on this board.

Add `CONFIG_IDLE_STACK_SIZE=640` to the prj.conf file.

No when you run the tests you will see the following error:

Assertion failed at WEST_TOPDIR/zephyr/tests/subsys/power/power_mgmt/src/main.c:45: sys_set_pow

[2020-08-31 06:16] jukkar commented on #27876
As there is a workaround (using the legacy stack) for this, lowering the priority.

[2020-08-31 07:52] chris-makaio opened #27898 "drivers: modem: modem_cmd_handler: prefer currently assigned handler"
sorry, @mike-scott for spamming here regarding the driver ;)

I'm creating a driver which assigns URC handlers (for example) for +CREG. But during the init process, I issue AT+CREG? manually to check the current status. If modem is disconnected, I'll connect it, otherwise I'll skip the connection part of the init process.
Currently, the order in which handlers are processed is

But because my URC

[2020-08-31 08:19] FRASTM commented on #27841
thank you  @henrikbrixandersen for pointing that. Trying CONFIG_SPI_HOLD_ON_CS=y gives not the solution, though. Could you please describe a bit the way for the spi driver to support `SPI_HOLD_ON_CS`.

[2020-08-31 08:59] avisconti commented on #27753
Just back from vacations and having a big agenda of stuffs to accomplish. Will take a look asap.

[2020-08-31 09:54] hakehuang commented on #27821
@dleach02 only frdm_k64f is enabled for this test application for NXP platform.

[2020-08-31 11:04] #27718 closed

[2020-08-31 11:07] #27855 closed

[2020-08-31 11:13] ioannisg commented on #27495
Fixed by #27496

[2020-08-31 11:13] #27495 closed

[2020-08-31 11:49] #27637 closed

[2020-08-31 13:27] dleach02 commented on #27821
I'm not familiar with the power management subsystem. This is a brand new test so it isn't clear to me if there is an underlying failure or not. Someone familiar with power management will need to look at this to ensure that 1) the test is structured correctly and 2) that power management is actually implemented for the k64f.

[2020-08-31 13:48] henrikbrixandersen commented on #27841
@FRASTM `SPI_HOLD_ON_CS` is not a Kconfig option. It is a SPI transceive operation option: https://github.com/zephyrproject-rtos/zephyr/blob/36aa42f384382fd71f0e3ebdd33cd1bd434577e1/include/drivers/spi.h#L104

[2020-08-31 13:54] #25022 closed

[2020-08-31 13:54] #26665 closed

[2020-08-31 14:08] nashif commented on #27881
dont see this as a bug, it is probably something to monitor but I do not see how to fix this now at least (based on python 3.9 being not released yet)

[2020-08-31 15:11] jhedberg commented on #27867
@chen-png did you try `git bisect` to narrow this down, since you have a fairly recent "good" commit?

[2020-08-31 15:24] nashif commented on #27765
found offending commit, working on this.

[2020-08-31 15:26] nashif commented on #27771
Here we are not recording switched_in/switched_out correctly for all threads and cpu stats depends on such information. switched_in might need to move to the arch context switch code and not be in the c code.

[2020-08-31 15:54] nashif commented on #27396
This can be folded in #27573

[2020-08-31 15:54] #27396 closed

[2020-08-31 15:57] nashif commented on #27151
This is not the expected behavior, we do not build everything and all combination, this is done on a nightly basis, but not per PR.

[2020-08-31 15:58] nashif commented on #9596
stale

[2020-08-31 15:58] #9596 closed

[2020-08-31 15:59] #10628 closed

[2020-08-31 15:59] #5934 closed

[2020-08-31 15:59] #7385 closed

[2020-08-31 16:00] #15845 closed

[2020-08-31 16:52] mbolivar-nordic commented on #27881
1. The zephyr project (@carlescufi  in particular IUC) owns the `windows-curses` package and we need to update it ourselves. It will not magically get fixed on its own.
2. We can decide what to do about the others. Work with the project maintainers to make sure wheels will be available or remove them from requirements.txt, for example.

The lxml documentation, for example, seems vague about whethe

[2020-08-31 17:21] pabigot commented on #27845
I think byte ordering is more likely to be a controller issue.

I have the S25FL512S flagged as a problematic device, but that's because it requires a 4-byte address.  I believe S25FL256 will as well, in order to use the whole memory.  We don't currently support that, but if that's the problem please open an issue and I will take a look, or you can prepare a PR.    "Other kind of SPI NOR" is too g

[2020-08-31 17:43] nashif commented on #27881
or we could also say that we will not support python 3.9 the minute it is released...

[2020-08-31 18:56] nandojve commented on #27151
Hi @nashif

Maybe I not expressed my self on a clear way. When I wrote "all configurations" I'm referring at sample/test with a whitelist. So, not all whitelist combination are building. In this case, I created combinations to make sure that a change on that overlays + SoCs are Ok on a minimal set. Those are the minimal build set that should pass on CI when a PR is sent to cover all code variation

[2020-08-31 21:51] oubotong commented on #27885
@rlubos Can I have a quick online discussion with you about my issue? Thanks a lot.

[2020-08-31 22:00] andrewboie commented on #27881
we can promote this to a bug at some point when this version of Python is released, right now this is just messing with our bug counts

[2020-08-31 23:43] ceolin commented on #27879
I don't see any problem in make it public if there are application use cases.

[2020-09-01 00:59] #26139 closed

[2020-09-01 00:59] #26104 closed

[2020-09-01 02:10] #27885 closed

[2020-09-01 02:27] yashi commented on #27843
Thanks.

[2020-09-01 02:27] #27843 closed

[2020-09-01 03:37] oubotong commented on #27885
@rlubos Could you tell me your email address? That would be great! Thank!

[2020-09-01 04:54] jenmwms commented on #27813
From what I understand, the first on this list (`samples/application_development/out_of_tree_driver/hello_world_module/zephyr`) is satisfied by [`samples/application_development/out_of_tree_driver/sample.yaml`](https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/application_development/out_of_tree_driver/sample.yaml)

[2020-09-01 07:09] rlubos commented on #27885
@oubotong Just ping me on slack, same username.

[2020-09-01 07:41] xeno27 opened #27914 "frdm_k64f async uart api"
Are there plans to support async uart api on the frdm_k64f ?
or can you guide me to add the support to the frdm_k64 board ?

[2020-09-01 08:04] holmes81 opened #27915 "Samples:LoRa send;sx126x with NRF52840dk ,no data from SPI miso"
**Describe the bug**
I use the NRF52840DK board with sx126x lora board,and then try to run **samples/drivers/lora/send**
But from the log, I can’t get any data from MISO, but everything else is normal, such as CLK, MOSI, NSS.
I am pretty sure that the hardware is ok.
Here is my prj.conf:

**CONFIG_LOG=y
CONFIG_GPIO=y
CONFIG_LORA=y
CONFIG_LORA_SX12XX=y

CONFIG_LORA_LOG_LEVEL_DBG=y

CONFIG_RTT_CONSO

[2020-09-01 08:25] trond-snekvik commented on #27716
@MarcianoPreciado The loopback PR has been merged. Could you check whether the logs look correct with that patch?

[2020-09-01 08:39] ABOSTM commented on #27792
Hi @hjuul,
I agree with your analysis and I proposed a fix: #27916

[2020-09-01 09:03] rlubos commented on #27885
Hi, you shouldn't set up the OpenThread manually in the main() function - in Zephyr we initialize OpenThread during system startup (in the default configuration), and have a separate thread to process OpenThread:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/l2/openthread/openthread.c#L410
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/l2/openthread/opent

[2020-09-01 09:27] rlubos commented on #27767
Hi, just to clarify `zephyr-project/modules/lib/openthread` is a copy of the OpenThread repository, following the upstream repo (https://github.com/openthread/openthread) with a minor Cmake extension, allowing to integrate OpenThread build system with Zephyr.  `zephyr-project/zephyr/subsys/net/l2/openthread` is the Zephyr integration of OpenThread - this allows to use OpenThread as a Zephyr L2, an

[2020-09-01 10:33] JordanYates opened #27921 "Bluetooth: Dynamic TX power is overwritten every procedure"
**Is your enhancement proposal related to a problem? Please describe.**

Dynamic Bluetooth transmit powers can be enabled through `CONFIG_BT_CTLR_TX_PWR_DYNAMIC_CONTROL`.
Once enabled, TX power for advertising, scanning and individual connections can be updated through a custom HCI command as demonstrated in `samples/bluetooth/hci_pwr_ctrl`.

Currently, these powers can only be updated after start

[2020-09-01 11:11] carlescufi commented on #27881
This is relatively easy on Linux but harder on Windows and macOS, where chocolatey and brew automagically update all packages to the latest available versions, including Python major versions.

@mbolivar-nordic will rebuild the `windows-curses` wheel for 3.9 so we are ready when it's released. For the rest, I suggest we wait until a couple of weeks after release to see how the dependencies adapt.

[2020-09-01 11:21] pfalcon commented on #27876
To confirm, the same issue happens with BOARD=frdm_k64f (tested with the same revision 7efe988 for consistency). Actually, with the `dumb_http_server` sample, even 1st connection hangs.

[2020-09-01 11:30] #26939 closed

[2020-09-01 11:34] #27464 closed

[2020-09-01 11:57] #2955 closed

[2020-09-01 12:21] FRASTM commented on #27841
well, the `sdhc_spi_init` in the disk_access_spi_sdhc.c has :

[2020-09-01 12:23] nashif commented on #27881
I still can do

```brew install python@3.7```

and I imagine you should be able to do the same thing with any package manager.

[2020-09-01 13:04] CodingGhost opened #27928 "Settings api hangs"
**Describe the bug**
I have something like the following in my code:

[code]

this will work completly normal. But as soon as I move the settings_save_one out of the main, it will just hang until my wdt resets the chip. Debugging looks like its hanging in idle.

also, If I first save the key in the main function, and then save it again somewhere else, it will work flawlessly. Sometimes it does not

[2020-09-01 13:10] panekk opened #27929 "Address resolving when eswifi is used causes MPU FAULT"
**Describe the bug**
NULL pointer dereference exists in `socket_offload_getaddrinfo` when `eswifi` is used and DNS resolving is enabled.
`dns_offload` is NULL because `socket_offload_dns_register` isn't called in `eswifi` driver.
`NET_SOCKETS_OFFLOAD` has been enabled by default in `d8e63e716153e398fea2a16bffa81c48851eb860`.
The result is:
[code]

**To Reproduce**
With eswifi modem:
Enable `CONFIG

[2020-09-01 13:11] panekk commented on #27929
Misclick.

[2020-09-01 13:11] #27929 closed

[2020-09-01 13:18] panekk opened #27931 "Address resolving when eswifi is used causes MPU FAULT"
**Describe the bug**
NULL pointer dereference exists in `socket_offload_getaddrinfo` when `eswifi` is used and DNS resolver is enabled.
`dns_offload` is NULL because `socket_offload_dns_register` isn't called in `eswifi` driver.
`NET_SOCKETS_OFFLOAD` has been enabled by default in d8e63e716153e398fea2a16bffa81c48851eb860.

**To Reproduce**
With eswifi modem:
Enable `CONFIG_DNS_RESOLVER` and try to

[2020-09-01 13:54] MaureenHelm commented on #27914
There are no immediate plans to add this. A pull request would be welcome.

[2020-09-01 14:05] andrewboie commented on #25891
Another complication: given that debugging sessions are system-wide, how do we handle the address of various shared library symbols if they change depending on what thread is scheduled?

For the TLS approach, these are all treated as thread-local and I expect this will not complicate GDB too much since AFAIK GDB already understands TLS, although this needs further investigation.
For using actual s

[2020-09-01 14:05] agansari commented on #27880
@nashif @jenmwms @MaureenHelm I've created a pull to fix the build problems, but we need to blacklist this target from some of the samples/tests:
 - right now running this is not possible, this target does not run without cpu 0 enabling it
 - samples/mpu/mpu_test/sample.mpu.mpu_test - core has no MPU
 - samples/drivers/entropy/sample.drivers.entropy - no entropy device
 - samples/basic/threads/sam

[2020-09-01 14:10] andrewboie commented on #25891
My thinking on this is converging towards the TLS-based approach being the most promising, despite its drawbacks; at least enough to put together a proof-of-concept. Regardless of method chosen, this will be optional, we'll still always support the current scheme of using a `k_mem_partition` for libary globals as a fallback.

[2020-09-01 14:37] rerickson1 opened #27934 "Tests ignore custom board config overlays"
**Describe the bug**
If you place a boards/my_board.conf in a test folder it is ignored if the test case calls out extra_args: CONF_FILE=some_config.conf.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `sensors.build.a_h:` in `tests/drivers/build_all/testcase.yaml` as an example.
2. place `boards/my_board.conf` file along side `tests/drivers/build_all/testcase.yaml`, your board config w

[2020-09-01 14:46] jjamesson opened #27935 "hci_uart not acknowledging data correctly / losing packets"
Hi, Zephyr community,

**Problem**
I am experiencing issues when trying to create an embedded application for the **hci_uart** FW controller running on NRF52810. The issue is that I'm trying to send 10 packets to the controller, but I only get 10 acknowledgements back very rarely. The number, in fact, varies depending on how how many/how long packets I send. For this example, In most cases, the nu

[2020-09-01 15:32] martinjaeger commented on #27928
@CodingGhost thanks for the potential bug report. Can you please post a minimum working example that has this issue so that others can easily compile the code to reproduce it?

[2020-09-01 15:47] nashif commented on #27211
this one done part of #27812

[2020-09-01 15:47] #27211 closed

[2020-09-01 16:38] chrta commented on #27934
This is the documented behaviour, see https://docs.zephyrproject.org/latest/guides/kconfig/setting.html?highlight=conf_file#the-initial-configuration

[2020-09-01 17:42] rerickson1 commented on #27934
Thanks for pointing that out.  How can we deal with this use case though? One option I see is editing the sample or test cmake file to include a board specific config...

[2020-09-01 17:53] jenmwms commented on #27813
For this one: `samples/testing/integration`
From what I can tell, this should remain as testcase.yaml based on the accompanying description in [`doc/guides/test/ztest.rst`](https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/guides/test/ztest.rst)

[2020-09-01 18:01] carlescufi commented on #27935
@jjamesson

Could you please provide the following information:

1. `hci_uart` is running on an nRF52810, is this a dev kit or a custom board?
2. Where are you running the Host, i.e. the HCI "client"?
3. Are you using a debugger chip via USB or do you have a physical connection TX <-> RX and RX <-> TX between 2 ICs directly?
4. You seem to be disabling hardware flow control, can you confirm that?

[2020-09-01 18:13] carlescufi commented on #27934
@tejlmand is this something you could look into?

[2020-09-01 18:13] rerickson1 commented on #27934
In #27755 I came across a lot of samples or tests where I just need to increase `CONFIG_MAX_THREAD_BYTES` for my board.

[2020-09-01 19:02] #27765 closed

[2020-09-01 20:17] andrewboie opened #27943 "tests/kernel/sched/schedule_api fails on nsim_hs_smp"
[code]

[2020-09-01 20:40] jenmwms commented on #27813
For the last two: `samples/subsys/ipc/.../remote`
My understanding is these do not need a `sample.yaml` here in the structure. The inclusion of `/remote` occurs in `samples/subsys/ipc/ipm_mcux/CMakeLists.txt ` and `samples/subsys/ipc/openamp/CMakeLists.txt`. For example:
[code]

So, only 2 of the 6 identified need a `sample.yaml`:
- samples/boards/intel_s1000_crb/dmic
- samples/subsys/mgmt/osdp

P

[2020-09-02 02:27] mbolivar-nordic commented on #27881
Very well.

Not really on bleeding edge distros whose package repositories delete old versions, but I will grant you that those users should know how to build their own Python if necessary.

On windows etc., though, where users need more hand-holding, I would argue that means we should document the supported versions of Python, especially if it's easy to guess that the current one is going to brea

[2020-09-02 03:54] ceolin opened #27956 "CI: Add support to run external programs necessary for a test"
**Is your feature request related to a problem? Please describe.**

In order to test gdbstub implementation is necessary to run the test itself and another process with gdb to attach the test. Currently there is no such way to do this in Zephyr's CI. Although this is describing the need for testing gdbstub there are possible several other cases where this can be helpful like, for example, an appli

[2020-09-02 05:30] jjamesson commented on #27935
Hi, @carlescufi ,
Thanks for reaching back. The answers to your questions are the following:
1) The Nrf52810 is running on a custom board
2) The host is an STM32 Cortex-M4 chip running on the same board. I am currently developing a custom FW for the host.
3) The two IC-s are situated on the same board, and have a physical UART direct connection between them.
4) Not intentionally, although I find i

[2020-09-02 05:49] Delsian opened #27957 "flash signed binaries: key path and version"
Related to PR https://github.com/zephyrproject-rtos/zephyr/pull/27818

@mbolivar-nordic  Thanks for great functionality, only minor improvement looks necessary to use in projects:

* CONFIG_MCUBOOT_SIGNATURE_KEY_FILE uses relative path to zephyrproject folder. Better to use relative path to user's project to store keys in separate place. Or describe additional shell variable with path to keys fold

[2020-09-02 05:49] nordic-krch commented on #27935
@jjamesson hardware flow control for uart is enabled in DTS. `CONFIG_BT_HCI_ACL_FLOW_CONTROL` is just an information to the hci that flow control is enabled.

overlay should contain something like to enable flow control:
[code]

[2020-09-02 06:37] joerchan commented on #27935
BT_HCI_ACL_FLOW_CONTROL is not UART hardware flow control. It is flow control in receiving data packets and sending them from the controller to the host.

[2020-09-02 07:36] mfiumara commented on #27846
This looks resolved when lowering the oversampling from 8x to 2x, is there any reason for this?

[2020-09-02 08:08] emob-nordic opened #27958 "USB: GET_STATUS(Device) is improperly handled"
**Describe the bug**
If the device configures `USB_SELF_POWERED` then in response to `GET_STATUS(Device)` the device shall return 2 bytes of data and the first bit shall be set to `1`.
Taken from usb20 spec:

![Screenshot from 2020-09-02 09-42-52](https://user-images.githubusercontent.com/52450830/91950751-c474e700-ed00-11ea-9381-605f004d21f1.png)

The behaviour was tested with nrf52840dk

**Expec

[2020-09-02 08:51] anangl commented on #27915
The modem's reset line seems to be active-low, so you probably need to use:
[code]
If the modem is kept in reset, that could explain the silence on the MISO line.

[2020-09-02 08:51] tejlmand commented on #27934
@rerickson1 Thanks for raising this.
Last week I actually noticed this myself, but there is a risk in simply changing current behavior.

There might be downstream users of Zephyr who relies on current behaviour, so that when they simply do:
[code]
then they know any board overlays will be included, but when they do:
[code]
then they know that no overlays are included, so if we suddenly start inclu

[2020-09-02 09:05] loicpoulain commented on #27931
@panekk , shoudl be fixed with #27962

[2020-09-02 09:12] tejlmand commented on #27934
Note, this is more an enhancement request than a bug.

[2020-09-02 09:27] ABOSTM opened #27963 "tests: net: socket: af_packet: failed on nucleo_f746zg"
**Describe the bug**
Tests tests/net/socket/af_packet fails on nucleo_f746zg.
It used to be passed previously, so I run git bisect and found that

cause the regression.
Note: this test runs on test bench and there is no ethernet cable connected.

Thanks to debugger I found that I end up in `return NULL;` of function `z_impl_k_queue_get()`
[code]

The backtrace at this point is:
[code]

**To Reprod

[2020-09-02 09:32] ABOSTM commented on #27963
Note: the same on nucleo_f429zi

[2020-09-02 09:44] joerchan commented on #27582
Closing since this was fixed by https://github.com/zephyrproject-rtos/zephyr/pull/27907

[2020-09-02 09:44] #27582 closed

[2020-09-02 10:00] emob-nordic opened #27964 "usb: Standard requests are not filtered."
**Describe the bug**
Standard USB Requests shall not always be accepted by the device.
Refering to the USB 2.0 specification standard USB are divided into 3 depending on the recipient:
- device (always accepted)
- interface (accepted only if the device is in **Configured** state and the requested interface is valid - existing)
- endpoint (for control endpoints (0x81, 0x00) accepted in **Addressed*

[2020-09-02 10:38] Delsian commented on #27957
Found another issue:
build/zephyr/runners.yaml should contain  updated hex-file and bin-file fields

[2020-09-02 11:18] albdom commented on #20297
@codingspirit @AndreyDodonov-EH
I have the same issue using Nordic PCA10090, the BLE stopped with this loop error. Were you able to solve the issue?

[2020-09-02 11:38] cvinayak opened #27971 "Bluetooth: controller: use sys_get_le24 to fetch 24-bit data"
**Is your enhancement proposal related to a problem? Please describe.**
Refer to https://github.com/zephyrproject-rtos/zephyr/pull/27357#discussion_r477324409
and
https://github.com/zephyrproject-rtos/zephyr/pull/27357#discussion_r477319846

**Describe the solution you'd like**
- Use sys_get_le24() to pass crc_init value
- Define CRC polynomial and use the define instead of magic numbers.

**Descr

[2020-09-02 11:46] jocelyn-li commented on #27771
@evgeniy-paltsev I am interested with this fix. Do you have timeline for the fix?

[2020-09-02 11:48] #27399 closed

[2020-09-02 13:09] jjamesson commented on #27935
Thank you for all the replies and helping me clear out the meaning of BT_HCI_ACL_FLOW_CONTROL. Especially for @nordic-krch for even pointing out a solution. This helped me solve the problem.

With regards,
James

[2020-09-02 13:11] #27935 closed

[2020-09-02 13:42] rerickson1 commented on #27934
Thanks, that makes sense. I agree that extending the functionality as you describe is probably the best approach.

[2020-09-02 13:49] tlr-id opened #27975 "[Thingy52_nrf52832 board] - Working with other led than led0"
# Context

I'm testing ZephyrRTOS with a Nordic Semiconductor dev kit : ```thingy52```.
The board is already supported by ZephyrRTOS and some samples/basic examples are working fine.

However there's an issue with samples/basic/blinky. It works fine with led0, but it doesn't work with led1 or led2.

# Explanation

This is working :

[code]

But this isnt (and it's not related to the fact that I de

[2020-09-02 14:05] andrewboie commented on #21923
To sum up:

- The distinction between "interrupt" and "exception" is nebulous, I think we need separate clearly documented policies for
  - External HW events like peripheral interrupts, IPIs, NMIs, MCEs
  - Syncrhonous SW events like page faults, kernel oops, system calls, undefined instruction, division by zero, memory protection faults, etc
- We're not consistent on interrupt locking state when

[2020-09-02 14:22] pabigot commented on #27813
Thanks, I removed the `ipc` ones, and the out-of-tree where the `sample.yaml` is a couple directories up.

It's confusing that we have a test in the samples directory (where it probably isn't being executed), or maybe it's a non-executable sample ("example" would be better).  I'll just document it above and let it go....

[2020-09-02 15:27] jjamesson opened #27981 "Low UART utilization for hci_uart"
Hi, Zephyr community,

**Introduction**
I am aiming to develop a high-throughput BLE application using the **hci_uart** example running on an NRF52810 chip (hosted on a custom board).

**The problem**
I am trying to pump as much data through the UART channel in a way that I wait for an ACK (number of packets completed) before sending another packet from the host to the controller. The issue is tha

[2020-09-02 15:43] pfalcon opened #27982 "TCP2: Apparent issues with client-side connections (hangs when server (apparently) closes connection)."
This is a kind of dual to #27876. While that dealt with Zephyr-as-server case, this is about Zephyr-as-client case, and `samples/net/sockets/big_http_download` sample.

When running that sample (frdm_k64f tested so far), I get:

[code]

At which point it hangs. Looks like another issue with FIN handling.

I tested this with and without https://github.com/zephyrproject-rtos/zephyr/pull/27960, the b

[2020-09-02 15:45] pfalcon commented on #27982
Ah, forgot to mention that:

is exactly the size of the file being downloaded, http://archive.ubuntu.com:80/ubuntu/dists/xenial/main/installer-amd64/current/images/hd-media/vmlinuz

[2020-09-02 15:48] jukkar commented on #27982
Not a high issue as there is a workaround.

[2020-09-02 15:49] #27876 closed

[2020-09-02 16:01] carlescufi commented on #27415
Decision in the TSC: Deprecate in the 2.4 release for this to be removed in the 2.6 release **unless** someone steps up to maintain the feature.

[2020-09-02 16:17] pabigot opened #27985 "change in device initialization behavior"
There appears to be an unintended behavioral difference resulting from merging #24873: in the past some attempts to retrieve the device pointer for a device that had not yet been initialized succeeded, while they now fail.

The case is demonstrated for `tests/drivers/eeprom` on `native_posix`.  The I2C device initializes at `POST_KERNEL` with priority `CONFIG_I2C_INIT_PRIORITY=60`, while the EEPRO

[2020-09-02 16:17] pabigot commented on #27985
@tbursztyka @carlescufi @nashif for awareness.

[2020-09-02 16:51] mbolivar-nordic commented on #27957
Hi there, thanks for your feedback!

I'm a bit unclear from your description, but would you like this to be addressed before #27818 is merged?

I'm particularly concerned by these two comments:

This makes it sound like the new feature is not useful enough yet.

[2020-09-02 16:58] carlescufi commented on #27981
Adding @cvinayak in case this is actually an issue in the Link Layer.

[2020-09-02 16:59] carlescufi commented on #27981
Can you specify the exact revision you are using? Please try using master after #27918 is merged

[2020-09-02 17:02] carlescufi commented on #27981
Also @jjamesson you can drag-and-drop images directly in the GitHub issue so that they are displayed inline, which would make it easier to understand your statements in context with the images.

[2020-09-02 17:18] nandojve commented on #27957
Hi @mbolivar-nordic , I think many use cases passes "user" version to MCUboot. If the improvements that you are doing could address that will help in many cases. For instance, any user that rely uses FW update may need set all time the version number manually. Yesterday you answered my question and I'm Ok with that, to change file name, for instance. But I think people realized that --version for

[2020-09-02 17:57] mbolivar-nordic commented on #27957
Hi @nandojve -- sure, I get that the version is important. But I am sorry for not understanding whether there is some change needed in pull request #27818 to make it useful, or if the existing code is good enough.

Perhaps if the code is good enough, we need some changes to the documentation to make it clearer how to manage the version number?

Thanks again for helping me to understand.

[2020-09-02 18:42] nashif commented on #27956
@jocelyn-li  FYI

[2020-09-02 18:46] #27847 closed

[2020-09-02 19:15] pabigot commented on #26372
Given the decision on  #27415 to deprecate `CONFIG_MULTITHREADING=n` there doesn't seem any reason to keep this open.

[2020-09-02 19:20] AntoineGL opened #27992 "stm32f7: usb: Bursting HID Get and Set report requests leads to unresponding Control endpoint."
**Describe the bug**
There are 2 alternatives for this bug:
 - Hard bug: the board no longer responds to any Get or Set report request (timeout on host), a reset is needed. Disconnect/Reconnect the USB cable without resetting will finally put the USB status to "reset" and never "configured".
Note that the application still runs and it is still possible to exchange packets through interrupt endpoin

[2020-09-02 19:30] raveslave commented on #27415
great to see the ram/rom footprint comparison

anyone done any performance tests with a "single  threaded multi thread" app vs a non multithreaded one, basicaly doing the same thing, ie hw timer firing an irq -> process stuff -> write to uart -> wait

[2020-09-02 19:36] jfischer-phytec-iot commented on #27992
@AntoineGL thanks for the report.

[2020-09-02 20:17] mbolivar-nordic commented on #27957
We could potentially support this without changing the existing PR by adding a choice option as later work controlling how relative paths work. But it might be easier just to put the application inside the workspace, no? That is generally best for making 'west build' work without environment variables, anyway. So I will consider this an enhancement that is out of scope of the existing PR.

This is

[2020-09-02 20:17] mbolivar-nordic commented on #27957
Not sure what you mean by this.

[2020-09-02 23:03] sandeep-airatechnology opened #27997 "Errors in copy paste lengthy script into Shell Console"
Copy/pasting into shell console fails with long commands. The paste transforms into unexpected characters.
As a consequence commands cannot not be executed correctly.
This is a really weird issue for me, I will try to explain it as clearly as possible.

When I paste the following into shell console,
1.  I dont see any issue with 'bt test_tx 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18' or

[2020-09-03 02:59] sjg20 commented on #27531
This is merged, so I'm closing this issue.

[2020-09-03 02:59] #27531 closed

[2020-09-03 05:00] nordic-krch commented on #26722
#27917 reworked hci_uart to use `uart_fifo_fill` instead of `poll_out` that will solve the issue for hci case. I will take a look at how `poll_out` could be fixed.

[2020-09-03 06:55] ashaannajoy opened #27999 "Add QSPI tests for microchip mec1521 board, drivers are in zephyr/drivers/spi, to be tested on mec15xxevb_assy6853"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.
We are finding issues when we use qspi apis in our app. So requesting for qspi tests to be added for microchip mec1521 under drivers/tests/spi

[2020-09-03 06:59] Zhaoningx opened #28000 "sam_e70_xplained:Test cases run failed at tests/net/lib/dns_packet/."
Describe the bug
running test case tests/net/lib/dns_packet/ error, make system crash.

To Reproduce
Steps to reproduce the behavior:

west build -b sam_e70_xplained tests/net/lib/dns_packet/
west flash
see error

I: MAC: 00:00:00:00:00:00
ASSERTION FAIL [!((uint32_t)rx_buf_addr & ~(0x3FFFFFFFu << 2))] @ WEST_TOPDIR/zephyr/drivers/ethernet/eth_sam_gmac.c:488
        Misaligned RX buffer address
E:

[2020-09-03 07:03] holmes81 commented on #27915
@anangl You are right,this solved my problem, thank you very much

[2020-09-03 07:28] Delsian commented on #27957
About version. Currently I'm using Python script to take FW version from Git tag, probably it should be useful for others:

[code]

[2020-09-03 07:37] Delsian commented on #27957
build/zephyr/runners.yaml contains filenames for flashing.
After signing there is still unsigned filenames:

[code]

Probably we need another PR with updating this file?

[2020-09-03 07:54] Delsian commented on #27957
Just a question - in the debug process I'm using zephyr.elf file.
Do you know any way how to add signing to *.elf? Unfortunately bootloader reports "Incorrect signature" when I start debugging.

[2020-09-03 07:59] #27963 closed

[2020-09-03 08:00] #27318 closed

[2020-09-03 08:12] jjamesson commented on #27981
Thanks for the reply, @carlescufi !

Good to know! I'm currently using SHA 13cf241ee61524ceeab0a70a8b623bef145e5c5e.

I will do that! Do you have an ETA for when this should be merged with master (how long do these things usually take)?

One more question: if I want to use a newer commit on the master branch, do I need to do anything else besides fetching this certain SHA from git in the Zephyr fo

[2020-09-03 08:46] erwango opened #28003 "Module: segger broken following driver instances const-ification"
**Describe the bug**
Following merge of https://github.com/zephyrproject-rtos/zephyr/pull/24873, segger RTT init should be updated:
[code]

Fix to be done in modules/debug/segger/rtt/SEGGER_RTT.c
[code]

**To Reproduce**
Steps to reproduce the behavior:
sanitytest -b -p stm32l496g_disco -T samples/subsys/logging/logger

**Expected behavior**
Compilation should succeed

[2020-09-03 08:55] erwango opened #28006 "Module: mbedtls broken following driver instances const-ification"
**Describe the bug**
Following merge of https://github.com/zephyrproject-rtos/zephyr/pull/24873, mbedtls init should be updated:
[code]

Fix to be done in modules/crypto/mbedtls/zephyr_init.c
[code]

**To Reproduce**
Steps to reproduce the behavior:
sanitytest -b -p nucleo_g431rb -T samples/drivers/crypto

[2020-09-03 09:01] erwango commented on #28003
Fixed by west udpate

[2020-09-03 09:01] #28003 closed

[2020-09-03 09:01] erwango commented on #28006
Fixed by west udpate

[2020-09-03 09:39] pfalcon commented on #27982
To confirm, the issue also happens with qemu_x86.

[2020-09-03 09:40] #28006 closed

[2020-09-03 09:44] pfalcon commented on #27997
This is not unfamiliar issue. It happens when either UART is used in non interrupt-driven mode, or when buffer for interrupt-driven mode is not big enough.

@sandeep-airatechnology: To get any reasonable feedback of your report, you would need to fill in the data in the bug report template, which was presented to you when you submitted the bug (https://github.com/zephyrproject-rtos/zephyr/issues/n

[2020-09-03 10:29] pfalcon commented on #23302
Recently, Zephyr switched to newer, "TCP2" implementation by default. I'm doing its triaging for the 2.4 release (#27876, #27982), ans also would like to record some quick performance data:

dumb_http_server sample, qemu_x86, standard SLIP-based QEMU networking setup, `ab -n1000 http://192.0.2.1:8080/`: 60.78 req/s.

For reference, with TCP1 (`CONFIG_NET_TCP1=y`), it's 4.18 req/s.

So, there's a n

[2020-09-03 10:43] pabigot commented on #27033
More details on why I'm using leader/follower:

"controller" already has a meaning in the Zephyr I2C world: it's the I2C peripheral that interacts with the bus.  The driver for that peripheral is the I2C controller, which can be configured into leader ("master") or follower ("slave") modes.

"Leader" is because it's the one that controls the clock, which the "follower" reacts to (absent clock stre

[2020-09-03 10:56] CodingGhost commented on #27928
Ok, I made a small test: https://pastebin.com/32Ufzgy7
but now, as soon as I try to use the testfunc anywhere I get an MPU fault?!

adding to that, I just tried the zephyr supplied settings sample, and I get nothing but errors...?! I used the same config and the same code, so how is that possible?? only thing I added was
CONFIG_USE_SEGGER_RTT=y
CONFIG_RTT_CONSOLE=y
CONFIG_UART_CONSOLE=n

snippet o

[2020-09-03 11:36] pfalcon commented on #23302
But not so bright with data transfer throughput. The sample is big_http_download, the rest is as above.

First, reference with CONFIG_NET_TCP1=y: 3108 b/s . That's pretty slow. I remember speeds around 10KB/s. Dunno what's up now, my inet connection is not ideal either.

So, with default TCP2, it's 6154 b/s (mind #27982, the transfer doesn't complete successfully, implied end time was used to calc

[2020-09-03 12:02] nashif commented on #8393
single threading is scheduled for deprecation, so lower priority.

[2020-09-03 12:02] pfalcon commented on #23302
For reference, trying @nzmichaelh's hack from https://github.com/zephyrproject-rtos/zephyr/issues/26330#issuecomment-656194045 (set NET_TCP_BUF_MAX_LEN to (4*1280)) didn't make a statistical difference to me (on qemu_x86 with SLIP, again).

[2020-09-03 12:12] pabigot commented on #8393
Why keep this open?  It's unlikely that the decision will change, and if it does part of the task will be to identify all the things that need to work, in which case this issue will be rediscovered.  Keeping it open affects the low bug count which can now impact release.

I'd rather close all these issues and move on.  Maybe discuss next triage.

[2020-09-03 12:15] henrikbrixandersen commented on #27999
Could you please elaborate a bit on which APIs you are using and what errors you are seeing?

[2020-09-03 12:27] CodingGhost commented on #27928
`	LOG_INF("--ZepyrOS booted succesfully--");
	int e = settings_subsys_init();
	LOG_DBG("setting init err=%d",e);
	e = settings_register(&my_conf);
	LOG_DBG("setting register err=%d",e);

	// k_timer_init(&periodictimer, timerfunc, NULL);
	// k_timer_start(&periodictimer,K_SECONDS(1),K_SECONDS(1));

	settings_load();
	int a;
	settings_save_one("system/test_a",&a,sizeof(a));`

`00> [00:00:00.000,000

[2020-09-03 12:55] timdesi commented on #27600
thx. @pabigot jsmn library works us expected.

Dear @MaureenHelm thx. a lot and feel free to close this issue. Could you consider to add jsmn us alternative to current JSON Api?

[2020-09-03 13:40] erwango commented on #27559
@ahmedwahdan are you satisfied with the answer provided ?
If yes, can we close the issue?

[2020-09-03 13:43] jjamesson commented on #27981
Hi, @carlescufi,

I see that the the commit is now in the master branch, so I tried running this, wereas the results are similar. Thus, my problem is not solved by this commit. See the picture after this post.

I am using SHA d3e8d6c3f36453fc455c943482afce9cf155ead8, and I did a complete reinstall to Zephyr according to the Getting Started Guide. This includes using the latest SDK version (v11.4).

[2020-09-03 13:48] hanselfberg opened #28009 "Add connection status to the connection info"
Since the bt_conn_get_info() function can be called successfully even when not connected, the returned info can be confusing.

Adding connection status (i.e. the connection status at the time bt_conn_get_info() was called) would greatly improve understanding the connection info. Also some clarification in documentation particularly for the case when connection status is "not connected" could be us

[2020-09-03 13:49] #27813 closed

[2020-09-03 14:09] CodingGhost commented on #27928
OK. I figured it out, its a mix of stupidity and bad documentation:

the first thing I was missing was CONFIG_NVS=y.
but this wasnt enought, I also needed to add CONFIG_ARM_MPU=n, which was not easy to find out.

then everything worked except for that I couldnt get it running inside a timer function. That is because the timer function executes in ISR context, which I didnt know and is described no

[2020-09-03 14:23] galak opened #28012 "tests/net/lib/mqtt_subscriber/net.mqtt.subscriber fails to build on cc3220sf_launchxl"
Running:

`./scripts/sanitycheck -p cc3220sf_launchxl -s tests/net/lib/mqtt_subscriber/net.mqtt.subscriber`

I get:

[code]

[2020-09-03 14:26] galak opened #28013 "tests/misc/test_build/buildsystem.kconfig.utf8_in_values fails on faze"
When running:

`./scripts/sanitycheck -p faze -s tests/misc/test_build/buildsystem.kconfig.utf8_in_values`

Get:

[code]

[2020-09-03 14:37] ABOSTM opened #28014 "tests: kernel: mem_protect: sys_sem: failed when CONFIG_FPU is activated"
**Describe the bug**
tests/kernel/mem_protect/sys_sem/ fails on stm32f3_disco (on test bench).
Issue appears with commit that enable MPU (sha1: 6f55614222845121b6f2a32cc8830e0752fa8d2d)
Probably because CONFIG_USERSPACE=y is required to reproduce the issue.

In this test, 3 tasks, with 3 different priorities (low mid high) are waiting on the same semaphore: `multiple_thread_sem`
When in function `

[2020-09-03 14:39] #27928 closed

[2020-09-03 14:41] ABOSTM commented on #28014
^^ @erwango

[2020-09-03 14:50] ABOSTM commented on #28014
^^ @andrewboie @andyross @nashif @MaureenHelm @galak @ioannisg

[2020-09-03 14:53] galak opened #28016 "tests/boards/intel_s1000_crb/main/boards.s1000_crb.main fails to build"
Running:
`./scripts/sanitycheck -p intel_s1000_crb -s tests/boards/intel_s1000_crb/main/boards.s1000_crb.main`

Gets:
[code]

[2020-09-03 14:58] galak opened #28017 "tests/bluetooth/init/bluetooth.init.test_controller_dbg_ll_sw_split fails to build on a few boards"
Running:

`./scripts/sanitycheck -p nrf51dk_nrf51422 -s tests/bluetooth/init/bluetooth.init.test_controller_dbg_ll_sw_split`

Get:

[code]

[2020-09-03 14:59] galak commented on #28017
See this failing on nrf52840dk_nrf52840 and nrf52dk_nrf52832

[2020-09-03 15:05] erwango commented on #27369
@macsiahid can you check this possibly fixes the issue you're reporting ?

[2020-09-03 15:35] vandita5 commented on #23302
Has anyone looked at the cpu usage when pushing the udp throughput to 10Mbps? I am able to go up to 8.5 Mbps with modified echo_server sample but see ~70% cpu usage. Any tips on how to reduce that? I've modified echo server to receive a message then send a dummy packet of ~1200 bytes.

[2020-09-03 15:39] lanvis opened #28020 "call k_malloc or k_mem_slab_alloc allowed or not"
We are calling k_malloc() and k_mem_slab_alloc() from our timer and uart ISRs and were not experiencing any issues that we knew of.  We noticed that the documentation does not say it can't be called from an ISR but it doesn't say we can either (like other kernel APIs do).

Can they be called from an ISR?

Thanks

[2020-09-03 15:54] cfriedt commented on #26312
Going to get this moving again.

[2020-09-03 16:01] andrewboie commented on #28014
Just a guess here, but this might be some kind of stack corruption. There are some complexities related to saving/restoring FPU state on this arch, and it's done lazily by the CPU.

[2020-09-03 16:13] ABOSTM commented on #28014
I made the same guess during my analysis.
I increased (double size) following stack sizes:
* STACK_SIZE for the 3 tasks created by the test,
* ZTEST_STACK_SIZE
* IDLE_STACK_SIZE
* ISR_STACK_SIZE
* MAIN_STACK_SIZE
 but without success.

[2020-09-03 16:45] andrewboie commented on #28014
I don't mean to say a stack overflow problem (you get specific fatal errors labeled "Stack Overflow" for that), but possibly stack frame corruption due to the "lazy stacking" mechanism this CPU does with FPU state.

[2020-09-03 16:53] andrewboie commented on #27811
ohhhhhh makes sense now.
Closing. I have a general idea how to mitigate this.

[2020-09-03 16:53] #27811 closed

[2020-09-03 17:44] andrewboie commented on #26949
This is unfortunately causing some problems if a test has a lot of console output and crashes at some point.

For example:

[code]

[code]

I know the test is crashing because of the 2 exit code from the emulator, but the log is truncated.

Is this some kind of race where we detect an emulator exit and stop processing the log contents before it's completely flushed?

[2020-09-03 18:09] andrewboie commented on #26949
OK this is weird -- in the above example, it claims "Exited with 2" but this is actually a timeout.

[2020-09-03 18:21] #28013 closed

[2020-09-03 19:11] galak opened #28031 "samples/subsys/mgmt/mcumgr/smp_svr/sample.mcumg.smp_svr.bt fails to build"
When I run:

`./scripts/sanitycheck -p nrf52840dk_nrf52840 -s samples/subsys/mgmt/mcumgr/smp_svr/sample.mcumg.smp_svr.bt`

I get:

[code]

[2020-09-03 19:12] galak commented on #28031
@carlescufi / @de-nordic not sure exactly who to assign this to, so added you guys as a start.

[2020-09-03 19:15] galak opened #28032 "eth_enc424j600 fails to build"
When doing:

`./scripts/sanitycheck -p reel_board -s samples/net/zperf/sample.net.zperf.shield `

Get:

[code]

[2020-09-03 19:20] galak opened #28033 "rand32_ctr_drbg.c fails to build"
When I try:

`./scripts/sanitycheck -p frdm_kw41z -s samples/net/sockets/websocket_client/sample.net.sockets.websocket_client`

I get:

[code]

[2020-09-03 19:22] pabigot commented on #27874
Bisecting indicates this started at 150e18de6e18069426361fe30150bd31ee5250db

@andyross

[2020-09-03 19:34] galak opened #28036 "samples/drivers/flash_shell/sample.drivers.flash.shell fails to build on nucleo_wb55rg"
When I do:

`./scripts/sanitycheck -s samples/drivers/flash_shell/sample.drivers.flash.shell -p nucleo_wb55rg`

I get:

[code]

[2020-09-03 19:45] #26112 closed

[2020-09-03 19:45] #27792 closed

[2020-09-03 19:50] #13819 closed

[2020-09-03 19:52] #27958 closed

[2020-09-03 19:53] #27636 closed

[2020-09-03 19:54] #27771 closed

[2020-09-03 19:54] #27522 closed

[2020-09-03 21:32] jenmwms commented on #28016
Sorry, I meant to add those individuals as reviewers to the PR. >.<

[2020-09-03 21:33] #28016 closed

[2020-09-03 21:49] #22562 closed

[2020-09-03 21:58] tejlmand commented on #27934
Fixed here: https://github.com/zephyrproject-rtos/zephyr/pull/28039

[2020-09-03 22:04] #27982 closed

[2020-09-03 22:05] #28000 closed

[2020-09-03 22:22] sandeep-airatechnology commented on #27997
@pfalcon shall I close this an open a new bug in the said format?

[2020-09-03 22:34] andrewboie commented on #27533
correction, schedule_api test sets this, we do have some coverage. It doesn't change the default of 0 which means the slices are infinitely large though.

[2020-09-03 22:49] MarcianoPreciado commented on #27842
Some other suggestions during this API revision:

**Mesh Beacon**
Dynamic enabling/disabling of mesh beacons is currently not canonically possible as the functions required are not accessible by an application. (headers defined in subsys/bluetooth/mesh). Not one of the following commands within my functions are accessible.
[code]

**GATT Proxy**
The GATT proxy feature also cannot be easily dynamic

[2020-09-03 22:51] andrewboie opened #28040 "sanitycheck reports test timeouts as "exited with 2""
**Describe the bug**
In my sanitycheck output, I will sometimes see a test will fail with the reason reported as "Exited with 2", which indicates that the emulator exited with a specific return value.

But this is not the case, the test case instead got stuck and sanitycheck killed it. This used to be reported as a timeout.

**Expected behavior**
Tests that hang reported as timeout.

**Impact**
An

[2020-09-03 23:51] MarcianoPreciado commented on #27842
I'd also suggest having an option for LPNs to have to manually poll their friend nodes, rather than having the application do it in the background. This makes going into extreme low power states quite difficult. Overall, the lack of api to the LPN feature makes it very difficult to put into an application. The lack of comments also make it difficult to assess what the LPN is actually going to do o

[2020-09-04 01:14] dleach02 commented on #28033
Broke with the big PR to constify things... according to bisect (c8906fef79cefce3)

[2020-09-04 05:32] wchyan opened #28045 "[mimxrt1050_evk] uart_fifo_fill only send 1 byte"
**Describe the bug**
Hardware loop lpuart3 back rx/tx   in mimxrt1050_evk, build and run the samples/nfc/nfc_hello to test the lpuart3 function.  The uart_fifo_fill function only sent out 1 byte.

**To Reproduce**
1. west build -b mimxrt1050_evk samples/nfc/nfc_hello/
2. west flash
3. push the SW4

**Expected behavior**
Expect the ISR happened 8 times, like
uart1_init() done
uart1_isr: 61 (1 bytes

[2020-09-04 07:04] de-nordic commented on #28031
Taking care of it.

[2020-09-04 07:27] erwango commented on #28036
Strange we haven't been able to see it before.. Thanks for reporting!

[2020-09-04 07:48] jukkar commented on #27870
There has been some talks in the past that we should have proper modem APIs but so far no one has stepped up and send patches. Atm the modem directory is just a bunch of files and the actual drivers need to use the facilities directly. So this needs more TLC and patches are welcome in this area.
cc @mike-scott

[2020-09-04 08:11] erwango opened #28049 "nucleo_wb55rg: test/spi/spi_loopback build failure"
**Describe the bug**
When building `test/spi/spi_loopback` with nucleo_wb55rg, build failure happens:
[code]

**To Reproduce**
Steps to reproduce the behavior:
`sanitycheck -b -p nucleo_wb55rg -T tests/drivers/spi`

**Expected behavior**
Test should build

[2020-09-04 09:02] de-nordic commented on #28031
@galak  If something is wrong with mcumgr or smp you may assign me to it. I will delegate if it is not for me.

[2020-09-04 09:27] PerMac opened #28052 "metairq_dispatch sample fails on nrf platforms"
**Describe the bug**
When calling sanitycheck to run metairq_dispatch sample on nrf9160dk_nrf9160 (EDIT: on other boards as well)  it hangs during the execution and finishes with a timeout. ~~It works on other nrf platforms correctly~~ This test is highly unstable.

**To Reproduce**
Steps to reproduce the behavior:
1. go to zephyr dir
2. call `./scripts/sanitycheck --device-testing -T samples/sche

[2020-09-04 09:43] tolezk opened #28053 "Eclipse broken build ability"
Starting from 79b1f89 I get error on any build attempt if I try to use Eclipse.
Attempts to build using the command line are successful.

Eclipse's console build log doesn't contain any error:
[code]

However, I get the error message window containing next info:
[code]

[2020-09-04 09:43] FRASTM commented on #28049
The pb comes from the CONFIG_HEAP_MEM_POOL_SIZE not defined correctly
which comes from the `drivers/dma/Kconfig.stm32`

[2020-09-04 09:43] chris-makaio commented on #27870
I absolutely agree, but I honestly refrain from starting with patching w/o further discussions before.. I want to do it right and not submit a finished concept which gets declined immediately ;)
Well, I could start by publishing a fork to check out for everyone involved... happy to discuss

[2020-09-04 09:53] #28036 closed

[2020-09-04 09:57] jukkar commented on #26829
Sorry for very late reply, I just noticed this question.

As you noticed, the blue pill is quite limited use, there just isn't much available memory to do any network related activities. I am afraid you need to think some other device for modem development.
I would recommend black pill https://docs.zephyrproject.org/latest/boards/arm/blackpill_f411ce/doc/index.html it works well and has much more

[2020-09-04 09:59] #27964 closed

[2020-09-04 09:59] #28017 closed

[2020-09-04 10:09] pfalcon commented on #28012
Also at https://ci.linaro.org/jenkins/job/zephyr-upstream/PLATFORM=cc3220sf_launchxl,ZEPHYR_TOOLCHAIN_VARIANT=zephyr,label=docker-xenial-amd64-13/5520/display/redirect . Apparently result of "device constify" patchset recently merged.

[2020-09-04 10:12] pfalcon commented on #28033
Definitely was caught by the Linaro CI (I was just slow to triage failures, thanks @galak for beating me on that):
https://ci.linaro.org/jenkins/job/zephyr-upstream/PLATFORM=frdm_kw41z,ZEPHYR_TOOLCHAIN_VARIANT=zephyr,label=docker-xenial-amd64-13/5520/display/redirect

[2020-09-04 10:27] #27612 closed

[2020-09-04 10:46] pfalcon opened #28057 "TCP2: client side receives EOF before all pending data is fed into it"
This is follow up to #27982, #28011.

Steps top reproduce: `samples/net/sockets/big_http_download`, `qemu_x86`. With master 05972fff5af2ea05ea20af980d64447c4a07d185 (with #28011 merged), the output is:

[code]

Mind the **HASH MISMATCH!** errors. Checking closer, the downloaded file size reported is also not right: http://archive.ubuntu.com:80/ubuntu/dists/xenial/main/installer-amd64/current/image

[2020-09-04 11:10] trond-snekvik commented on #27842
@MarcianoPreciado Thanks for the feedback. Currently, these things are normally done through the config client model, even if you want to change your own configuration. I haven't made any specific moves towards changing this in #27908, but it's a good point. Essentially, if the config server becomes a front end for the configuration API, it should be possible to use the API directly as well. Could

[2020-09-04 11:24] pfalcon commented on #28057
The same behavior is on frdm_k64f too.

[2020-09-04 11:36] PerMac opened #28059 "sample for sensor lps22hh is not filtered out for bare nrf52dk_nrf52832"
**Describe the bug**
The sample for sensor lps22hh is not filtered out for bare nrf52dk_nrf52832. I assume it requires a shield/sensor to be attached in the first place. It seems that using `fixture` in the sample.yaml could solve the problem. E.g. of how the sample.yaml could be modified:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. go to zephyr dir
2. run `./scripts/sanitycheck -

[2020-09-04 11:36] pfalcon commented on #23302
11075 b/s with big_http_download on frdm_k64f.

[2020-09-04 11:45] holmes81 opened #28061 "nrf52840 can't boot up after power plug in,unless it was connected to JLINKRTTVIEWER with a JTAG"
**Describe the bug**
It's strange,
It's seem like my program needs J-LINK RTT VIEWER to trigger a startup

My nrf52840 can't boot up with Zephyr OS after power plug in,unless it was connected to J-LINK RTT VIEWER by JTAG,
I try to run the example which was provided by NRFSDK,it's normal.So soc is OK,it should be a SW bug.

If I disconnected the J-LINK RTT VIEWER, the device will stop running,
Conn

[2020-09-04 11:45] jukkar commented on #28057
After quick investigation, the following patch might help here (did not test it yet). If you have time, please try it.

[code]

[2020-09-04 11:46] holmes81 commented on #28061
![图片](https://user-images.githubusercontent.com/19384303/92236045-458dd300-eee7-11ea-9539-3cdc624c05fd.png)

[2020-09-04 12:14] #27887 closed

[2020-09-04 12:25] pfalcon commented on #28057
@jukkar: Yes, that was it, thanks! Please post a patch.

[2020-09-04 12:37] #27921 closed

[2020-09-04 12:41] #25945 closed

[2020-09-04 12:46] #24730 closed

[2020-09-04 12:48] galak commented on #28033
Shows up in the nightly CI.

[2020-09-04 13:31] jjamesson commented on #27981
Hi,

@carlescufi , is anyone looking into this issue?

I have tested this with a completely different setup (NRF52 dev kit with BlueZ + NRF52 Usb Dongle with BlueZ). The issue persists, that when I expand the connection interval, the number of ACKs I get stays the same, and thus the throughput decreases.

Any insights would be appreciated.

With regards,
James

[2020-09-04 14:19] carlescufi commented on #27985
@MaureenHelm @pabigot should we try and fix those before 2.4 is released?

[2020-09-04 14:27] FRASTM commented on #28049
config of the HEAP_MEM_POOL_SIZE depends on DMAMUX_STM32

[2020-09-04 14:35] #28031 closed

[2020-09-04 14:37] carlescufi commented on #28061
@simtind does this ring a bell?

[2020-09-04 14:44] pdunaj opened #28068 "Crash in USB device when turning HFXO off"
**Describe the bug**

The crash was replicated during nrf_desktop usual tests after the last upmerge.

[code]

**To Reproduce**
Steps to reproduce the behavior:
Replicated by automated tests.
[code]
It seems it should be possible to crash the mouse by connecting/disconnecting the USB while BLE is active.

**Expected behavior**
Crash should not happen

**Impact**
Showstopper

**Logs and console out

[2020-09-04 14:44] pdunaj commented on #28068
@nordic-krch @emob-nordic

[2020-09-04 14:49] erwango opened #28069 "eswifi: build failure"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -b -p disco_l475_iot1 -T samples/net/wifi/

[2020-09-04 15:02] carlescufi commented on #27981
@jjamesson we are looking into this right now. Do you have a logic analyzer trace of the UART traffic?
And does the issue only manifest itself when the bulk of the traffic is in the direction Host -> Controller, but with Controller -> Host the throughput is acceptable?

[2020-09-04 15:24] dleach02 commented on #23302
@pfalcon, first, thank you for reporting these metrics. For reference though, when you report measured results, do you have an expected value in mind that we can compare against?

[2020-09-04 15:42] #28049 closed

[2020-09-04 15:52] #27934 closed

[2020-09-04 16:25] carlescufi commented on #28069
This is the commit that introduced the issue: 6ea54db33489d10b873137d4239294225aa81fa6

[2020-09-04 16:34] #21798 closed

[2020-09-04 16:47] MarcianoPreciado commented on #27842
It's true that you can trigger your own poll. However, you cannot stop the application from polling on your behalf. There is also no control over how many times or how often to send friendship requests while in the enabled state. This is also a huge power waster. I'll take a look at the PR as far as cfg goes. Thanks for putting in the work to make the api better!

[2020-09-04 16:57] mbolivar-nordic commented on #27881
Initial python 3.9 support for windows-curses is up here: https://github.com/zephyrproject-rtos/windows-curses/pull/15

Some open questions in my mind about how we should release that, since I've never done a release of this package (or any binary wheel).

[2020-09-04 17:11] jjamesson commented on #27981
Hi, @carlescufi,

Unfortunately the oscilloscope I'm using doesn't have a logic analyzer, not do I have one separately around.

As for the second question, I tried pumping data from the Android's side, and I think the RX part (controller -> host) is fine. Even though the Android or the controller is chopping up the packets to 27B, the throughput dropped from 454 kbps to 375 kbps when changing the

[2020-09-04 17:14] carlescufi commented on #27981
OK, in this case this looks like the same issue we are chasing. We are currently investigating, and will update you here. Also, I will turn this issue into a bug since this is a clear problem in the hci_uart build.

[2020-09-04 17:14] carlescufi commented on #27981
@cvinayak @nordic-krch FYI, see thread above.

[2020-09-04 17:29] jjamesson commented on #27981
Thanks, looking forward to any updates.

NB. Has anyone investigated high throughput applications with hci_spi? I'm wondering if this might have similar problems since I was planning to use this in the future for getting even higher throughputs.

With regards,
James

[2020-09-04 18:05] cvinayak commented on #27981
I have identified a design flaw around the implementation here: https://github.com/zephyrproject-rtos/zephyr/blob/3e7db661d15fb5ce264f8ce63a948e0fe1152631/subsys/bluetooth/controller/ll_sw/ull.c#L1544

The de-muxing of the tx packets in ULL and subsequent enqueue towards LLL is not run for the new tx packets arriving while within a connection event. I will send a PR in the coming days to address t

[2020-09-04 18:47] #28069 closed

[2020-09-04 19:00] carlescufi commented on #27981
I very much doubt it. The `hci_spi` application is not widely used. But I don't foresee any major trouble unless there's been a regression lately.

[2020-09-04 19:07] #27473 closed

[2020-09-04 21:16] mbolivar-nordic commented on #28053
I don't know if I'm the right assignee since the error is a Java NPE.

But is this fixed by https://github.com/zephyrproject-rtos/zephyr/pull/27944?

[2020-09-04 21:36] mbolivar-nordic commented on #27957
No, imgtool only supports bin and hex.

You can just use 'west flash' followed by 'west attach' to debug the flashed binary without reflashing.

[2020-09-04 21:37] mbolivar-nordic commented on #27957
That shouldn't be the case if you follow the workflow in the updated west sign documentation from https://github.com/zephyrproject-rtos/zephyr/pull/27818. If that's what's happening, it's a bug and we'll fix it.

If you are manually calling 'west sign', then that doesn't (and is not meant to) change runners.yaml.

[2020-09-04 22:31] lowlander commented on #27369
PR #27263 landed in master, @macsiahid could you please try the latest master?

[2020-09-04 22:31] andrewboie commented on #28020
These APIs use spinlocks for syncrhonization and should be ISR safe, but the timeout value must be K_NO_WAIT for `k_mem_slab_alloc()` as you can't sleep in an ISR.

don't use libc malloc() though ;)

[2020-09-04 22:31] andrewboie commented on #28020
converting this to a minor documentation issue

[2020-09-04 22:38] lowlander commented on #24686
AFAIK CAN2 can not be enabled without enabling CAN1, because the CAN filters are part of CAN1's clock domain, and so CAN1 has to have its clock configured for CAN2 to work properly.

[2020-09-04 23:57] #23138 closed

[2020-09-05 01:14] dcpleung commented on #28053
This should be fixed by https://github.com/zephyrproject-rtos/eclipse-plugin/pull/33 on the plugin side.

[2020-09-05 02:18] andrewboie commented on #27533
Found something interesting.

I ran some sanitycheck with this revision of https://github.com/andrewboie/zephyr/tree/this-should-not-happen-27533  which is a version of https://github.com/zephyrproject-rtos/zephyr/pull/27995 plus this patch applied:

[code]

The test tests/kernel/mem_protect/sys_sem fails like so. Thankfully we have icount and it does it every time:

[code]

The assertion in quest

[2020-09-05 02:42] andrewboie commented on #27533
One other thing I found, and I think this might be a real bug.

[code]

We grab sched_spinlock, take the thread off the ready queue, mark ourselves as suspended, unlock, and then reschedule.

But with time slicing turned on, looking at this function which runs on the timer interrupt:

[code]

Seems like if we get a timer interrupt at a bad time, this check will pass we'll get put right back on the

[2020-09-05 06:38] tejlmand opened #28083 "Align MWDT and LD linker scripts"
**Is your enhancement proposal related to a problem? Please describe.**
As discussed in #22668, there is additional risk ascociated with splitting linker files, as one may update one script and not be aware of the other.
Especially related to updating GNU ld, and not mwdt could break code for mwdt unnoticed, as mwdt is not part of CI.

**Describe the solution you'd like**
A single entry point for

[2020-09-05 15:49] #27569 closed

[2020-09-05 18:28] #25458 closed

[2020-09-05 19:38] andrewboie commented on #27533
I put together a draft PR https://github.com/zephyrproject-rtos/zephyr/pull/28088 which has patches for some things that I am mostly convinced are bugs.

Not completely out of the woods yet, still can reproduce some problems. Here's what I can still see (with CONFIG_TIMESLICE_SIZE hacked to default to 5):

An issue on x86_64 where do_swap() seems to be invoked with interrupts enabled:
[code]

I ha

[2020-09-06 01:42] andrewboie commented on #26949
Also seen this:

[code]

these are actually PASSING. but the test output is extremely long-winded:

[code]

[2020-09-06 03:08] andrewboie commented on #27533
The weirdness with the schedule_api test was because if one of the scenarios fails, it doesn't clean up thread objects and the kernel goes haywire when it attempts to re-use them. I added a patch to https://github.com/zephyrproject-rtos/zephyr/pull/27995 to catch this, I've been bit by this so many times before in test cases...

I think I've successfully solved this (although my solutions may or m

[2020-09-06 11:00] pabigot opened #28090 "bluetooth: build error with extended advertising"
When extended advertising is enabled without `CONFIG_BT_CTLR_PRIVACY=y` the following build error is produced:

[code]

Unless using extended advertising features **requires** `BT_CTLR_PRIVACY` by specification this should be fixed.  (I really hope it isn't required, because my use case is sensor beacons that are well-served with the default id from FICR, and very poorly served by ids that change.

[2020-09-06 11:23] pabigot opened #28091 "process: require sample configurations to be complete"
tl;dr: by policy Zephyr sample configurations should be self-contained and not rely on board-specific default selects.  Failure to do this should be considered a bug in the sample.

As we move towards a more rigorous development process I propose the following, with context:

I keep running into problems where Zephyr samples don't clearly identify the Kconfig options required to make them work.

A

[2020-09-06 11:25] pabigot commented on #28091
@ioannisg @carlescufi this relates generally to process, and specifically to Bluetooth.  As Zephyr gains visibility with more people who will try to do new things I feel effort directed towards making their experience more friendly is worthwhile.

[2020-09-06 13:36] lowlander opened #28092 "Make SPI speed of SDHC card configurable"
The SD-card-spi driver has a hardcoded 400kHz and 4Mhz SPI bus speed, it would be good to make this configurable (maybe via DT?)

[2020-09-06 14:08] lowlander opened #28093 "SDHC card driver can't reprogram SPI bus speed"
The SDHC card driver uses two SPI bus speeds, 400kHz to start and later switches to 4MHz. Or at least it tries to switch to 4MHz. To do that it updates the `data->cfg.frequency` and `&data->cfg` is than later passed to the SPI transfer functions.

That doesn't work, at least not on the STM32SPI driver, because it only re-configures the SPI bus if the `cfg` pointers are different.

This is extremel

[2020-09-06 14:16] nandojve opened #28094 "samples: drivers: spi_flash_at45: Not work for boards without internal flash driver"
**Describe the bug**
I try build sample for a personal board that uses SAM4L. This board have a AT45DB081D SPI Nor. However, the SAM4L doesn't have an internal flash driver and I got below two errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Select a board without internal flash driver. Ex. SAM4L_EK with sensor_cs
2. Add a valid DT entry:
[code]
3. `west build -b sam4l_wm400_c

[2020-09-06 14:21] DSc-de opened #28095 "Doc: Getting Started Guide: reel board blinky gif is outdated"
**Describe the bug**
If setting up Zephyr according to the Getting Started Guide including build and flash of blinky sample on reel_board / real_board_v2, one can see blinking of red LED D3 (GPIO P0.11) at the front side. However, the Getting Starting Guide shows blinking of another led: LED D13 ( P0.13) at the back side.

**To Reproduce**
Steps to reproduce the behavior:
1. build and flash blinky

[2020-09-06 14:31] lowlander opened #28096 "fatfs update to latest upstream version"
Zephyr currently uses version R0.12b (September 4, 2016) but upstream ( http://elm-chan.org/fsw/ff/00index_e.html ) already has R0.14 (October 14, 2019) plus some additional patches.

[2020-09-06 15:32] pabigot opened #28097 "cmake: fails to filter options for target language"
Since c55c64e242ea7f3533f3245edf604d6fe3d3953f or an earlier commit the `CXX_EXCLUDED_OPTIONS` variable in toolchain-specific `compiler_flags.cmake` is not correctly excluding options that are not accepted by the C++ compiler, causing these diagnostics on C++ code:

[code]

`set_compiler_property` is too advanced for me to propose a fix, but this directive:
[code]
in `cmake/compiler/gcc/compiler_f

[2020-09-06 15:33] pabigot commented on #28097
I've made this a medium since it's a regression.

[2020-09-06 16:16] cvinayak commented on #28091
The context here is specific to experimental feature and it is best that users explicitly select such features. I am not aware of any build warnings to let users know of experimental features if these features get added in upstream samples without satisfactory validations.

 Yes, when a public sample is added that markets such new feature the project configuration shall be complete.

[2020-09-06 16:22] pabigot commented on #28091
The implicit selection of `CONFIG_BT_CTLR=y` is the context: it's in-tree for the beacon example, and unknown others.  The last time I hit it was #27105.  I'd really like to stop running into the same problem in different clothes.

It's that absence that misled me into misconfiguring for the related experimental feature, which is an example of how this impacts users.

[2020-09-06 17:36] nandojve opened #28099 "subsys: power: device implicit depends on CONFIG_SYS_POWER_MANAGEMENT"
**Describe the bug**
When try using subsys:shell on a device that have Power Management capabilities **device_pm_state_str** doesn't compile. Some investigation shows that subsys/power/device.c compile only when CONFIG_SYS_POWER_MANAGEMENT is enabled.
However, SYS_POWER_MANAGEMENT and DEVICE_POWER_MANAGEMENT are independent on the subsys/power/Kconfig.

https://github.com/zephyrproject-rtos/zephyr

[2020-09-06 20:33] andrewboie opened #28104 "sanitycheck overloaded by tests/subsys/logging/log_immediate with large -j values"
[code]

[2020-09-06 20:56] parthitce commented on #26648
@carlescufi Do we have new/updated standardization/process in place for the external modules? Does it makes sense to open an RFC with external module request?

[2020-09-06 21:33] andrewboie opened #28105 "sporadic "Attempt to resume un-suspended thread object" faults on x86-64"
**Describe the bug**
For some time now we have seen weird behavior on x86_64 where a thread object that was not suspended was being resumed, or the same thread was being scheduled on two CPUs at the same time. A typical backtrace:

[code]

I have a hypothesis that this is at least in part a race condition between the determination of the next thread to run in `next_up()` and performing the actual

[2020-09-07 01:16] cvinayak commented on #28090
@andrzej-kaczmarek Please address this. And, if there is no address in the previous primary PDU, then with/without privacy the device address has to be supplied by the caller of the `ull_adv_aux_hdr_set_clear` function in the `value` length encoded parameter.

[2020-09-07 01:43] nandojve opened #28108 "EEPROM shell MPU Fault when performing a write command with more than 9 bytes"
**Describe the bug**
Using EEPROM console to write more than 9 bytes on an AT24 gives MPU fault. The read is performing up to 256 (max allowed). When create a mock for `.transfer` with a `return 0` was noted the same behavior. This indicate that problem can be outside drivers.

**To Reproduce**
1. build hello world app
2. make menuconfig and enable an I2C + EEPROM AT24 + Console with 256 bytes buf

[2020-09-07 01:50] pabigot commented on #27033
A little more background to keep this moving:

As a software professional and student of social science I feel strongly that the terms "master" and "slave" subtly reinforce structural racism in tech culture.  They also blunt the impact of the word "slave" in relation to the more euphemistic "human trafficking" that continues today world-wide.

Other major open source projects have already taken st

[2020-09-07 05:56] wentongwu commented on #23599
@kkiyota ping

[2020-09-07 06:54] lowlander opened #28112 "timer/scheduler problem (STM32F407)"
I have a high prio task (the highest prio in the system, higher than anything else) that should run every 20ms, to  check that I toggle a LED that I measure with a scope.

At random intervals (sometimes every second, but sometimes it takes 15 seconds, or sometimes twice in a row) it does not wake up after 20 ms but after 100ms (it always seems to be 100ms).  This system is not halted at that time,

[2020-09-07 06:57] abrodkin opened #28113 "Embed precise Zephyr version & platform name in sanitycheck output .xml"
Currently .xml files produced by the `sanitycheck` script only have information about tests being executed:
[code]

This is good but for automatic parsing of those results it might be very convenient to have additional data built-in. In particular:
1. Version of Zephyr source tree being used
2. Platform on which tests were run

That suggestion came-up during discussion of test results submission a

[2020-09-07 07:40] erwango opened #28114 "subsys: OSDP forces SERIAL=y"
**Describe the bug**
OSDP subsys forces SERIAL Kconfig symbol in its definition:
[code]

One of the consequence is that sanitycheck filtering deos not operate and sample run on platform not supporting SERIAL:
[code]

When running sanitychcek, test is ran on stm32h747i_disco_m4, which does not support SERIAL by default
:
[code]

**To Reproduce**
[code]

**Expected behavior**
OSDP should follow the

[2020-09-07 07:40] erwango commented on #28114
^^ @cbsiddharth

[2020-09-07 07:48] IRISZZW commented on #26676
I believe the root cause is in the sanity check script, not in MDB runner.
MDB and openocd runner both not listening on the specified serial port.

There are two basic Handlers in sanity check script:[BinaryHandler](https://github.com/zephyrproject-rtos/zephyr/blob/016b5422d90e9d3405eda22da4fda23d6a13a415/scripts/sanity_chk/sanitylib.py#L330) and [DeviceHandler](https://github.com/zephyrproject-rt

[2020-09-07 07:50] cbsiddharth commented on #28114
Thank you. I will send PR for this.

[2020-09-07 07:59] abrodkin commented on #26676
@evgeniy-paltsev this piece of info should be merged in a greater MetaWare-related documentation section in say https://docs.zephyrproject.org/latest/getting_started/toolchain_3rd_party_x_compilers.html as suggested by @tejlmand.

[2020-09-07 08:24] broglep-work opened #28117 "CoAP/LWM2M: Clean Packet Retransmission Concept"
**Summary**
Currently CoAP packet retransmission is not explicitly modelled in the code base. In the CoAP layer the logic about retransmission is done with [next_timeout](https://github.com/zephyrproject-rtos/zephyr/blob/c6bb8b191d0159b415d79addf76b3dee25215710/subsys/net/lib/coap/coap.c#L1204) and [coap_pending_cycle](https://github.com/zephyrproject-rtos/zephyr/blob/c6bb8b191d0159b415d79addf76b3

[2020-09-07 08:27] holmes81 commented on #28061
And If I disable logging over RTT,SOC will not run even I connected it to RTT Viewer

[2020-09-07 08:28] lowlander opened #28118 "timers strange rounding errors"
I have the following setup, for a task with the highest (highest cooperative prio) ;

[code]

My expectation is that the task will run every 20ms, but it doesn't. The timing is highly depended on the `CONFIG_SYS_CLOCK_TICKS_PER_SEC` setting and also on if the system is tickless or not. Here the times I measured for tick settings form 1000 to 10000.

[code]

Here is an example what that looks like

[2020-09-07 08:35] emob-nordic commented on #28068
@nordic-krch Isn't this caused by dedicated path for enabling hfclk for bluetooth?

[2020-09-07 08:38] abrodkin commented on #25022
@xuhao8210 with https://github.com/zephyrproject-rtos/zephyr/pull/27793 merged we now do reset in between tests that way:
[code]
And with that we're getting much better results on the HSDK board.
Please let us know if it helps on your side.

P.S. Sources and build instructions for `rff-reset` utility are available here: https://github.com/foss-for-synopsys-dwc-arc-processors/rff-ftdi-reset

[2020-09-07 08:42] chen-png commented on #27867
the recent good commit is e9d1545, and the first bad commit is 38e17b6.

[2020-09-07 08:43] #26676 closed

[2020-09-07 08:45] abrodkin commented on #3180
Done, see https://github.com/zephyrproject-rtos/zephyr/pull/19365

[2020-09-07 08:45] #3180 closed

[2020-09-07 08:46] broglep-work opened #28120 "CoAP/LWM2M: Blockwise Observe/Notify"
When LWM2M server observes a large resource that does not fit in one single CoAP packet, the zephyr client should use block-wise transfer for its notify messages. The notify packet should contain block headers, the server then identifies it as block message and will then in return request the other blocks of the notify packet from the zephyr client.

This use case is specified in https://tools.iet

[2020-09-07 08:47] lowlander commented on #28118
Segger Systemview tells me the 20ms is exactly 20ms, at the same time my scope tells me it is not. Sounds like the system time isn't correctly calculated? So the scheduling works fine, just that the 20ms isn't 20ms.

[2020-09-07 08:48] abrodkin commented on #26362
I'm closing it now since we don't really understand what's the problem here and for more than a month there were no updates with clarification. Feel free to re-open it once more info is avaialble.

[2020-09-07 08:48] #26362 closed

[2020-09-07 08:52] simtind commented on #28061
Looks like you may be locking up due to some side effect of debug power not being properly disabled. This is a known issue in nrfjprog that we aim to fix in the next release.
Internal reference: MDK-1973

[2020-09-07 09:26] jfischer-phytec-iot commented on #27992
I do not have nucleo_f767zi or an other STM32 board right now, so I tested it on nRF52840 and FRDM_K64F.

First, I only observed the errors for HIDIOCGFEATURE, therefore I changed hid-issue.c:

[code]

With the change above I have **not** observed any errors on nRF52840 and K64F.

Minor changes:
[code]

[code]

[2020-09-07 09:34] nordic-krch commented on #28068
i suspect that it is caused by custom clock_control implementation in nrf connect sdk. I'm looking a that now.

[2020-09-07 09:55] jfischer-phytec-iot commented on #27992
Works for me on **nucleo_wb55rg**.

[2020-09-07 10:13] holmes81 commented on #28061
@simtind

HI,is there a workaround solution available for this?

[2020-09-07 10:21] LingaoM commented on #27842
Non-connected for adv-mesh bearer and proxy connected-adv for proxy or pb-gatt are coupled in `adv.c`.

I've talked about refactoring the framework a long time ago. After all,  it is an important thing for the overall performance of mesh.

Using a separate task to process, it still takes up a lot of ram and increases the throughput delay of message sending.

For this kind of problem, some people h

[2020-09-07 10:43] pablogs9 opened #28124 "Linking external lib against POSIX API"
Hello, I'm trying to use Zephyr POSIX API inside an external lib. In order to do that for example I test the `sample/application_development/external_lib/` with the following changes:

[code]

And I get the following error:

[code]

If I put the same couple of lines inside the `main.c` of the app it builds. Can you provide me some help with the required configuration for this requirement?

**Updat

[2020-09-07 11:27] lowlander commented on #22906
Could the slow performance be due to the SPI bus speed being low? See bug reports #28092 and #28093

[2020-09-07 11:36] lowlander commented on #28093
@henrikbrixandersen can you confirm (since you did a lot of work on the sdcard driver) that the sdhc spi driver isn't able to upgrade the spi bus speed? And that that might cause the slow read/write speeds like in issue #22906

[2020-09-07 11:48] carlescufi commented on #28112
@lowlander is this a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/28118

[2020-09-07 11:52] lowlander commented on #28112
No they are 2 different problems, #28118 seems to be that the system has the wrong idea of what 1ms is, and this issue is that at "random" times the timers are not expired for up to 100ms (this only seems to happen when tickless is used)

[2020-09-07 12:02] armandciejak opened #28131 "Crash while serving large files via HTTP with TCP2"
**Describe the bug**
While testing TCP2 with the _dumb_http_server_ sample application on the MIMXRT1050_EVK board I experimented several crashes when increasing the size of the served file.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply patch in [test-tcp2.zip](https://github.com/zephyrproject-rtos/zephyr/files/5182994/test-tcp2.zip)
2. west build -b mimxrt1050_evk zephyr/samples/net

[2020-09-07 12:03] fromeijn opened #28133 "using nrf52dk_nrf52832 with serial disabled"
**Describe the bug**
When using the blink example on nrf52dk_nrf52832 with `CONFIG_SERIAL=n` in `prj.conf`, the board starts but hangs. Tried also with serial enabled and than at  runtime set uart in power off mode with `device_set_power_state(dev, DEVICE_PM_OFF_STATE, NULL, NULL);` but more or less the same result. Also tried on the nrf52840dk_nrf52840 but this device doenst have the same issues.

[2020-09-07 12:18] FRASTM commented on #22906
@EminYagmahan _"Although there is no implementation for the multiread yet"_

The `sdhc_spi_read`() in the ./subsys/disk/disk_access_spi_sdhc.c is actually starting read command with the SDHC_READ_MULTIPLE_BLOCK. So reading operation is already a multiread.

[2020-09-07 12:41] armandciejak commented on #28131
I cannot reproduce it if the  network has latency (tried with PLC adapters between my PC and the eval board).

[2020-09-07 12:43] armandciejak commented on #28131
I'm wondering if that could be the Ethernet driver but I do not have another eval board at end. If someone can try to reproduce it with a different SOC that would be interesting.

[2020-09-07 12:52] avisconti commented on #27753
Still not working on it, but I quickly took a look at it and seems to me that I may see what has been done for bme280 (8aadf895) for multi-instance implementation.

[2020-09-07 13:11] #27414 closed

[2020-09-07 13:38] mniestroj opened #28134 "mcuboot: specifying -DCONF_FILE results in failure"
**Describe the bug**
Specifying explicitly mcuboot configuration with -DCONF_FILE=/path/to/some_config.conf results in:
[code]
It turns out that CONF_FILE in mcuboot's CMakeLists.txt:235 **is** set normally when -DCONF_FILE **is not** used, and **is not** set when -DCONF_FILE **is** passed to cmake in configuration phase. So just the opposite what one could initially expect. I think this has to do

[2020-09-07 15:07] lowlander commented on #28118
After some more testing it seems to be related how the system is reset'ed, at power on (POR) things work OK, but after a reset with the debugger (J-link/Ozone) the timing is wrong. Will investigate more and try to reproduce it on one of my Nucleo boards.

[2020-09-07 15:11] jukkar commented on #28131
The test-tcp2.zip has this change `CONFIG_NET_BUF_TX_COUNT=256`. This means that we are able to send max 32kB file because each net_buf is 128 bytes long by default. Normally this should not be an issue but the `dumb_http_server` is very dumb as the name implies and tries to send the max buffer in one go regardless of the size. So this will fail for those bigger files you have in the zip file. The

[2020-09-07 15:22] #28097 closed

[2020-09-07 15:23] carlescufi commented on #28133
Have you tried setting the `status` to `disabled` in the `.dts` file or in an overlay of your own?

[2020-09-07 15:34] jukkar commented on #28131
I tried this with qemu_x86 and native_posix boards. Both are unable to send larger files, I tried the 34kb one. The application fails but does not crash in these boards. I also tried with valgrind when using native_posix and it did not report any NULL pointer access or similar. I have some ARM based boards with Ethernet and can try them next.

[2020-09-07 16:01] ABOSTM opened #28138 "No more able to flash board on windows"
**Describe the bug**
I could no more flash boards with openocd on windows (nucleo_l476rg, nucleo_f746zg, ...):

Clearly there is an issue with path where` \ `have been removed.
Note: I am working on windows and have recently perform a west update.
I could workaround by replacing `\` by `/` in hex_name (in openocd.py).
[code]
But I am not sure it is the right place. Specially I don't know if it is

[2020-09-07 16:09] ABOSTM commented on #28138
^^ @mbolivar-nordic @carlescufi @erwango

[2020-09-07 16:12] fromeijn commented on #28133
Yes I have tried that, also has same result.

[2020-09-07 16:41] ABOSTM opened #28139 "tests: benchmarks: data_structure_perf: rbtree_perf: uninitialized root struct"
**Describe the bug**
tests/benchmarks/data_structure_perf/rbtree_perf/ fails on test bench (disco_l475_iot1, nucleo_f103rb, nucleo_f207zg, nucleo_f429zi, nucleo_f746zg, nucleo_g071rb, nucleo_g474re, nucleo_l4r5zi, nucleo_wb55rg, stm32f3_disco).

Analysis show that in function `test_rbtree_container()`  a local variable is created `test_tree_l`,
but `test_tree_l.root` is not initialized.
And the co

[2020-09-07 16:45] ABOSTM commented on #28139
^^ @Zhaoningx

[2020-09-07 17:31] sjg20 commented on #27531
Merged:
https://github.com/zephyrproject-rtos/zephyr/pull/27300

[2020-09-07 17:51] EminYagmahan commented on #22906
@lowlander Correct, but this problem has already been addressed and solved in PR #26319. With this PR the maximum clock frequency is now taken from the definition in the Device Tree Layer `spi-max-frequency`. In combination with the PR #26757 the performance problems are no longer present. I have verified the behavior with a logic analyzer and can confirm the correct execution of the driver.

[2020-09-07 17:54] EminYagmahan commented on #28092
This PR #26319 contains already a working fix, but is still blocked due to some conflicts.

[2020-09-07 18:12] lowlander commented on #28092
@EminYagmahan  thanks for pointing that PR out, I kind of overlooked that, if that ends up in master this issue can be closed.

[2020-09-07 18:29] henrikbrixandersen commented on #28093
The current way of attempting to change the SCL frequency will not work. See my comment on https://github.com/zephyrproject-rtos/zephyr/pull/26319#issuecomment-688465092.

[2020-09-07 18:37] maksimmasalski commented on #26865
@andrewboie Could you take a look at that issue? So after solving it, I can finish my test cases PR #25323

[2020-09-07 18:39] maksimmasalski commented on #26621
Still necessary to have solution for that.

[2020-09-07 18:48] pabigot commented on #28133
Using the unmodified `samples/basic/blinky` in current Zephyr development master with `nrf52dk_nrf52832`:

I can't duplicate setting `CONFIG_SERIAL=n` causing LED1 to not flash and LED2 to light up.  LED1 behaves as expected.

As far as power differences: Measuring current on that board fed by a 3V3 battery directly to VDD/GND during the periods when the LED is off I get:

With uCurrent:
* Standar

[2020-09-07 18:54] pabigot commented on #28133
Retesting with v2.3.0 release I don't see any difference.

[2020-09-07 19:00] fromeijn commented on #28133
mmm stange, thanks for checking out! btw im using the correct board, right? `PCA10040` (if the version matters, V0.9.0, 2015.42)

[2020-09-07 19:00] pabigot commented on #28124
Zephyr's POSIX infrastructure doesn't support the clock_gettime() API, and does not have the various `CLOCK_*` sources.  There was a vision for an enhancement that could support that (#19030) but it didn't go anywhere.

[2020-09-07 19:03] pabigot commented on #28133
Yes, pca10040 is what I call it too (now nrf52dk_nrf52832).  The hardware version might be part of the problem: I have and tested on v1.1.1 2017.1 and v2.0.0 2020.9.  Yours appears to be pretty old, and might even be a PDK which IIRC used experimental silicon with serious problems.

[2020-09-07 19:18] pabigot commented on #25981
AFAICT all functional changes necessary to make this work have been merged.  There's still a documentation gap, but that'd be a different issue.

[2020-09-07 19:18] #25981 closed

[2020-09-07 22:18] pabigot commented on #28124
No, I'm wrong about that.

I applied the patch you give above to the external library function and am able to build for that platform.  This may be a recent fix due to #27939.  Please check the current master branch, or 2.4.0-rc1.

[2020-09-08 00:59] #26428 closed

[2020-09-08 05:29] pablogs9 commented on #28124
I guess that I have yesterday's branch of Zephyr. Here you have a list of commands for replicating it:

[code]

[patch.txt](https://github.com/zephyrproject-rtos/zephyr/files/5186238/patch.txt)

[2020-09-08 06:01] chen-png commented on #26595
fixed by #26962 .

[2020-09-08 06:01] #26595 closed

[2020-09-08 06:36] #28032 closed

[2020-09-08 06:58] lowlander commented on #28093
I missed that PR (filtered on the wrong labels I guess), I updated this bug report to at least updating the documentation.

[2020-09-08 07:00] lowlander commented on #28092
Closing this because things seem to be fixed in the mentioned PR and with the 2.4.rc1 stage it might take a while for that to be merged, no reason to keep open this bug report for that long (there are already enough others).

[2020-09-08 07:00] #28092 closed

[2020-09-08 07:28] nvlsianpu commented on #26212
Summarized: issue now is that NVS doesn't support sector bigger than 16 KB.
This is not a bug, but NVS limitation which can be improved by https://github.com/zephyrproject-rtos/zephyr/pull/23876.

[2020-09-08 07:35] fromeijn commented on #28133
I have ordered a new dev board, I will retry tomorrow!

[2020-09-08 07:37] jakub-uC commented on #28108
I doubt that pointed instruction is a root cause of the issue. It is called after each and every command execution.
In my opinion, the problem can be in the `static int cmd_write(const struct shell *shell, size_t argc, char **argv)` function inside drivers/eeprom/eeprom_shell.c.

Would you mind adding some `k_msleep(10);`  in the command to let the shell print everything?
After:
`shell_print(shell

[2020-09-08 07:42] #28139 closed

[2020-09-08 07:50] kasapreyizz opened #28145 "nRF52840 Dongle cannot scan LE Coded PHY devices"
I am working with Zephyr version 2.4 on nRF52840-Dongle for adding ability to scan CODED PHY devices. My host is Raspberry Pi3 with kernel  version 5.4.51 v7+,
HCI_USB sample is used with following configuration:

CONFIG_STDOUT_CONSOLE=y
CONFIG_GPIO=y
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y

CONFIG_BT=y
CONFIG_BT_H4=y
CONFIG_BT_CTLR=y
CONFIG_BT_HCI=y

CONFIG_USB=y
CONFIG_USB_DEVICE_STACK=y

[2020-09-08 07:52] sdaglish commented on #28138
I can confirm the same issue when flashing to a stm32f429i_disc1 board.

Modifiying openocd.py as mentioned also fixed the issue, allowing the board to be flashed.

**Environment (please complete the following information):**

* OS: Windows 10
* Toolchain : gnuarmemb

[2020-09-08 07:53] #25956 closed

[2020-09-08 08:04] tejlmand commented on #26937
Sorry for late response. Seems summer time caused this to drop to far down the list of notification.
Before closing, I was wondering, is your project a fork of `sdk-nrf`, so that it includes the same Kconfig files as the pure `sdk-nrf` repo ?
I have not been able to reproduce this locally.

[2020-09-08 08:35] ioannisg commented on #28014
@ABOSTM
I am simply adding CONFIG_FPU=y to the prj.conf, as you suggest.

I am not able to reproduce this issue (**on v2.4.0-rc1 tag**) on any of the platforms below, with CONFIG_FPU=y
- nrf52840dk (Cortex-M4F)
- nrf5340pdk (Cortex-M33F)
- sam_e70_xplained (Cortex-M7)
- frdm_k64f (Cortex-M4F with NXP MPU)

...when I am using a GNU ARM Embedded toolchain.
The test_sys_sem test suite is passing.

I

[2020-09-08 08:39] ioannisg commented on #28014
Raising priority to medium, for now.

[2020-09-08 09:04] tejlmand commented on #27503
The `cpp` and `libcxx` tests are not supporting coverage on `qemu_x86` and are for the same reason excluded:
https://github.com/zephyrproject-rtos/zephyr/blob/4d3580d29735bd3d3d7a89e7475ccd9e001cd818/tests/application_development/cpp/testcase.yaml#L3

https://github.com/zephyrproject-rtos/zephyr/blob/4d3580d29735bd3d3d7a89e7475ccd9e001cd818/tests/application_development/libcxx/testcase.yaml#L8

`g

[2020-09-08 09:04] #27503 closed

[2020-09-08 09:04] nvlsianpu commented on #25010
@nandojve Is this issue still valid?

[2020-09-08 09:04] armandciejak commented on #28131
To me there is a problem with the behaviour of send. It should not be a problem to try sending a large amount of data since send returns how much it was able to process, you can use that information to send the remaining data, like it is done in the `dumb_http_server`. To me the implementation in `dumb_http_server` is perfectly fine. The problem is that the call fails when the memory buffers are e

[2020-09-08 09:23] lowlander commented on #28118
OK I did some more debugging and the difference between POR and debugger-reset is that our bootloader is skipped. After some more searching I found that our bootloader enables the STM32 FLASH Icache and Dcache. Zephyr itself does not seem to enable those, so after a debugger reset the cache is disabled. To check I added code to enable the Icache and Dcache in Zephyr and now the 20ms is really 20ms

[2020-09-08 09:32] Laczen commented on #26212
@nvlsianpu, removing this nvs limitation will result in a new issue: NVS is slow on sectors of 128kB (especially garbage collection).

Also on some devices there are only a limited amount of 128kB sectors and you need at least two leaving almost no place for the application.

NVS has been written to store many small items and not a few large ones, this does not match good with large sectors.

The

[2020-09-08 09:37] pabigot commented on #28124
Thanks; apparently I had patched the version in my personal development area then built in my nordic development.  I've reproduced the problem now.

Based on the [description in the documentation](https://docs.zephyrproject.org/latest/guides/portability/posix.html#posix-support) this should probably work, but it doesn't.

The problem is that `<time.h>` when building the external library resolves t

[2020-09-08 09:39] pablogs9 commented on #28124
Ok, thank you very much @pabigot

[2020-09-08 09:50] Zhaoningx opened #28146 "mec15xxevb_assy6853:running samples/drivers/kscan/ failed"
Describe the bug
running samples/drivers/kscan, and the result just keep looping until the system hangs.

To Reproduce
Steps to reproduce the behavior:

west build -b mec15xxevb_assy6853 samples/drivers/kscan
~/software/ci/tools/usbgpio_ftdi/pre_script.sh
west flash
~/software/ci/tools/usbgpio_ftdi/post_script.sh
see error

*** Booting Zephyr OS build v2.4.0-rc1-11-g8c3efc7be5fe  ***
Kscan matrix

[2020-09-08 10:05] Zhaoningx opened #28148 "mec15xxevb_assy6853:running samples/drivers/espi/ failed"
Describe the bug
running samples/drivers/espi/, and there are not output,and the result just block here until system hangs.

To Reproduce
Steps to reproduce the behavior:

west build -b mec15xxevb_assy6853 samples/drivers/espi/
~/software/ci/tools/usbgpio_ftdi/pre_script.sh
west flash
~/software/ci/tools/usbgpio_ftdi/post_script.sh
see error

*** Booting Zephyr OS build v2.4.0-rc1-11-g8c3efc7be5fe

[2020-09-08 10:12] Zhaoningx opened #28149 "mec15xxevb_assy6853:running samples/drivers/ps2/ failed"
Describe the bug
running samples/drivers/ps2/ and ps2 block host

To Reproduce
Steps to reproduce the behavior:

west build -b mec15xxevb_assy6853 samples/drivers/ps2
~/software/ci/tools/usbgpio_ftdi/pre_script.sh
west flash
~/software/ci/tools/usbgpio_ftdi/post_script.sh
see error

*** Booting Zephyr OS build v2.4.0-rc1-11-g8c3efc7be5fe  ***
PS/2 test with mouse
[00:00:00.507,232] <dbg> .initiali

[2020-09-08 10:15] PerMac commented on #26280
The test continues to fail for nrf9160. The values for `diff` when failing are still close to the ones reported before (on my board, I am not sure if this value is the board- or platform- characteristic). As I mentioned in an earlier comment it looks like not a precision issue but an accuracy one.
I would imagine that performing some clock calibration for a board as an initial step could solve the

[2020-09-08 10:16] Zhaoningx opened #28150 "mec15xxevb_assy6853:running samples/boards/mec15xxevb_assy6853/power_management/ failed"
Describe the bug
running samples/boards/mec15xxevb_assy6853/power_management/, and the result just keep looping until the system hangs.

To Reproduce
Steps to reproduce the behavior:

west build -b mec15xxevb_assy6853 samples/boards/mec15xxevb_assy6853/power_management/
~/software/ci/tools/usbgpio_ftdi/pre_script.sh
west flash
~/software/ci/tools/usbgpio_ftdi/post_script.sh
see error

*** Booting

[2020-09-08 10:21] maksimmasalski commented on #28146
To run that sample necessary to connect a keyboard https://www.fujitsu.com/us/pdut/detail/1183530/input/FKB7401-001
It is strange that sample even launched without a connected keyboard.

[2020-09-08 10:27] jukkar commented on #28131
Clarification how the system works atm:

* Application can send x amount of data, x can be quite large
* Net stack checks the MTU, and then allocates enough net_buf's so that the MTU size packet can be send. The data to be sent, is passed to TCP module for sending. TCP clones the packet so that we can re-send any data that is lost.
* Depending on how fast the network is and how fast the applicatio

[2020-09-08 10:30] maksimmasalski commented on #28148
Yes, test should work on the Microchip, because in the its datasheet https://github.com/MicrochipTech/CPGZephyrDocs/blob/master/MEC1501/MEC1501_Datasheet.pdf page 165 has a description about eSPI.

[2020-09-08 10:37] jukkar opened #28151 "gPTP should allow user setting of priority1 and priority2 fields used in BMCA"
**Describe the bug**
The BMCA (Best Master Clock selection Algorithm) uses priority1 and priority2 parameters. Currently the value of these is hardcoded and cannot be changed by the user. It should be possible to user to tweak them as needed. One way to allow tweaking is to provide the values as Kconfig options.

[2020-09-08 10:46] maksimmasalski commented on #28149
For that sample necessary to connect any PS/2 mouse, it is better to test it using a mouse with PS/2 connector like that one https://www.amazon.co.uk/Logitech-PS-Optical-Wheel-Mouse/dp/B000HGMMH6

[2020-09-08 10:54] nvlsianpu commented on #25010
@nandojve testsuite for mcuboot interface functions are here: <zephyr>/tests/subsys/dfu/mcuboot.

[2020-09-08 10:55] Zhaoningx opened #28152 "frdm_k64f: running samples/subsys/canbus/canopen/ failed"
Describe the bug
running samples/subsys/canbus/canopen/ failed, and show me time out.

To Reproduce
Steps to reproduce the behavior:

west build -b frdm_k64f samples/subsys/canbus/canopen/ -DCONFIG_BOOTLOADER_MCUBOOT=y
west flash

see error
�*** Booting Zephyr OS build v2.4.0-rc1-8-g27e1fd69f987  ***
Start sending data
ReTX complete cb [-2]
Error while sending data to ID 384 [-2]
ceiving error [-1

[2020-09-08 11:02] Zhaoningx opened #28153 "reel_board: running samples/subsys/shell/fs/ failed"
Describe the bug
running samples/subsys/shell/fs/, and the result just keep waiting for some inputs until the system hangs.
And do you all think this test case shouldn't be ran at reel_board in daily report.

To Reproduce
Steps to reproduce the behavior:

west build -b reel_board samples/subsys/shell/fs/
west flash

see error

*** Booting Zephyr OS build v2.4.0-rc1-8-g27e1fd69f987  ***

uart:~$

E

[2020-09-08 11:11] Zhaoningx opened #28154 "reel_board:running samples/subsys/usb/console/ failed"
Describe the bug
after running samples/subsys/usb/console/, there is no output at  ttyACM0, but you change the connection from usb debug to usb nRF by manually , there will be output something at ttyACM0.

To Reproduce
Steps to reproduce the behavior:

west build -b reel_board samples/subsys/usb/console/
west flash
see error

before change USB port(connecting to USB debug)
*** Booting Zephyr OS bu

[2020-09-08 11:14] lowlander commented on #28118
I couldn't find a 407 Nucleo so I used an Olimex E407, with the following main loop;
[code]
The big busy_wait is a functional safety check that runs every 20ms to check if the system is still operating correctly (RAM unchanged for critical areas, flash unchanged,  certain devices still operational, etc.)  this may not be interrupted at all.

This setup above with the 600us busywait works fine, but

[2020-09-08 11:21] solsbarry commented on #26937
No our project is its own repository started from scratch. I didn't show our repo in the west file I put above, so I can see that would be confusing. But our repo is the main folder, containing the west file, and it pulls in all the other repos. Our west file is modeled after the NRF one, but thats the only similarity. Our Kconfig files only have new options that we created specific to our project

[2020-09-08 11:21] Zhaoningx opened #28155 "sam_e70_xplained:running samples/net/sockets/civetweb/ failed"
Describe the bug
running samples/net/sockets/civetweb/, and the result just keep waiting interface until time out.

To Reproduce
Steps to reproduce the behavior:
west build -b sam_e70_xplained samples/net/sockets/civetweb/
west flash
see error

*** Booting Zephyr OS build v2.4.0-rc1-11-g8c3efc7be5fe  ***
Hello World! sam_e70_xplained
[00:00:00.000,000] <wrn> soc: CIDR mismatch: chip = 0xa1020e01 v

[2020-09-08 11:28] hakehuang opened #28156 "twr_kv58f220m: libraries.cmsis_dsp.transform.cf64 test fails"
**Describe the bug**
cmsis_dsp transform function error in twr_kv58f220m

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_kv58f220m ..
3. make
4. See error

**Expected behavior**
test pass

**Impact**
cmsis_dsp function

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zeph

[2020-09-08 11:28] hakehuang commented on #28156
@MaureenHelm @dleach02

[2020-09-08 11:43] hakehuang opened #28157 "benchmark.data_structures fails(bus error) on mimxrt1020/60/64/frdmk64f platform"
**Describe the bug**
meed bus error when do rb testing

**To Reproduce**
Steps to reproduce the behavior:
cd  to tests/benchmarks/data_structure_perf/rbtree_perf
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1020_evk ..
3. make
4. See error

mimxrt1060_evk and mimxrt1064_evk and mimx8qm_m4 have the same problem, but 1050/1015/1010 are ok.

frdmk64f has the same problem

**Expected behavior**
tes

[2020-09-08 11:45] hakehuang commented on #28157
@MaureenHelm @dleach02

[2020-09-08 11:48] zephyrbot opened #28159 "[Coverity CID :214216] Logically dead code in drivers/pwm/pwm_stm32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/drivers/pwm/pwm_stm32.c#L179

Category: Control flow issues
Function: `get_tim_clk`
Component: Drivers
CID: [214216](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214216)

Details:

[code]

Please fix or provide comments in coverity using the link

[2020-09-08 11:48] zephyrbot opened #28160 "[Coverity CID :214212] Negative array index read in subsys/net/lib/dns/resolve.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/net/lib/dns/resolve.c#L645

Category: Memory - illegal accesses
Function: `dns_read`
Component: Networking
CID: [214212](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214212)

Details:

[code]

Please fix or provide comments in coverity usi

[2020-09-08 11:48] zephyrbot opened #28161 "[Coverity CID :214219] Uninitialized scalar variable in subsys/net/lib/sockets/sockets_tls.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/net/lib/sockets/sockets_tls.c#L500

Category: Uninitialized variables
Function: `dtls_rx`
Component: Networking
CID: [214219](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214219)

Details:

[code]

Please fix or provide comments in coverit

[2020-09-08 11:48] zephyrbot opened #28162 "[Coverity CID :214221] Untrusted value as argument in subsys/net/lib/sockets/sockets_tls.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/net/lib/sockets/sockets_tls.c#L795

Category: Insecure data handling
Function: `tls_mbedtls_handshake`
Component: Networking
CID: [214221](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214221)

Details:

[code]

Please fix or provide commen

[2020-09-08 11:48] zephyrbot opened #28163 "[Coverity CID :214223] Untrusted value as argument in subsys/net/lib/sockets/sockets_tls.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/net/lib/sockets/sockets_tls.c#L1591

Category: Insecure data handling
Function: `recvfrom_dtls_server`
Component: Networking
CID: [214223](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214223)

Details:

[code]

Please fix or provide commen

[2020-09-08 11:48] zephyrbot opened #28164 "[Coverity CID :214225] Buffer not null terminated in subsys/net/lib/lwm2m/ipso_generic_sensor.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/net/lib/lwm2m/ipso_generic_sensor.c#L193

Category: Memory - illegal accesses
Function: `generic_sensor_create`
Component: Networking
CID: [214225](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214225)

Details:

[code]

Please fix or provi

[2020-09-08 11:50] zephyrbot opened #28165 "[Coverity CID :214215] Out-of-bounds access in subsys/mgmt/mcumgr/smp_shell.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/mgmt/mcumgr/smp_shell.c#L115

Category: Memory - corruptions
Function: `smp_shell_rx_bytes`
Component: Other
CID: [214215](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214215)

Details:

[code]

Please fix or provide comments in coverity u

[2020-09-08 11:51] zephyrbot opened #28166 "[Coverity CID :214211] Unused value in drivers/entropy/entropy_stm32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/drivers/entropy/entropy_stm32.c#L122

Category: Code maintainability issues
Function: `random_byte_get`
Component: Drivers
CID: [214211](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214211)

Details:

[code]

Please fix or provide comments in cov

[2020-09-08 11:51] zephyrbot opened #28167 "[Coverity CID :214209] Dereference after null check in subsys/mgmt/osdp/src/osdp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/mgmt/osdp/src/osdp.c#L186

Category: Null pointer dereferences
Function: `osdp_init`
Component: Other
CID: [214209](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214209)

Details:

[code]

Please fix or provide comments in coverity using th

[2020-09-08 11:51] zephyrbot opened #28168 "[Coverity CID :214218] Unused value in subsys/mgmt/osdp/src/osdp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/mgmt/osdp/src/osdp.c#L62

Category: Code maintainability issues
Function: `osdp_uart_isr`
Component: Other
CID: [214218](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214218)

Details:

[code]

Please fix or provide comments in coverity usi

[2020-09-08 11:51] zephyrbot opened #28169 "[Coverity CID :214220] Explicit null dereferenced in subsys/mgmt/hawkbit/hawkbit.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/mgmt/hawkbit/hawkbit.c#L802

Category: Null pointer dereferences
Function: `response_cb`
Component: Other
CID: [214220](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214220)

Details:

[code]

Please fix or provide comments in coverity usin

[2020-09-08 11:51] zephyrbot opened #28170 "[Coverity CID :214222] Unrecoverable parse warning in include/ec_host_cmd.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/include/ec_host_cmd.h#L195

Category: Parse warnings
Function: ``
Component: Other
CID: [214222](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214222)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan9.cov

[2020-09-08 11:51] zephyrbot opened #28171 "[Coverity CID :214224] Unsigned compared against 0 in subsys/storage/flash_map/flash_map.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/storage/flash_map/flash_map.c#L285

Category: Control flow issues
Function: `flash_area_check_int_sha256`
Component: Other
CID: [214224](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214224)

Details:

[code]

Please fix or provide comments

[2020-09-08 11:51] zephyrbot opened #28172 "[Coverity CID :214227] Resource leak in subsys/mgmt/hawkbit/hawkbit.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/subsys/mgmt/hawkbit/hawkbit.c#L285

Category: Resource leaks
Function: `start_http_client`
Component: Other
CID: [214227](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214227)

Details:

[code]

Please fix or provide comments in coverity using the

[2020-09-08 11:51] zephyrbot opened #28173 "[Coverity CID :214210] Side effect in assertion in tests/arch/arm/arm_interrupt/src/arm_interrupt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/tests/arch/arm/arm_interrupt/src/arm_interrupt.c#L181

Category: Incorrect expression
Function: `test_arm_esf_collection`
Component: Tests
CID: [214210](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214210)

Details:

[code]

Please fix or provide

[2020-09-08 11:51] zephyrbot opened #28174 "[Coverity CID :214213] Improper use of negative value in tests/net/socket/af_packet/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/tests/net/socket/af_packet/src/main.c#L207

Category: Integer handling issues
Function: `test_packet_sockets_dgram`
Component: Tests
CID: [214213](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214213)

Details:

[code]

Please fix or provide comme

[2020-09-08 11:51] zephyrbot opened #28175 "[Coverity CID :214214] Uninitialized pointer read in tests/benchmarks/data_structure_perf/rbtree_perf/src/rbtree_perf.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/tests/benchmarks/data_structure_perf/rbtree_perf/src/rbtree_perf.c#L58

Category: Memory - illegal accesses
Function: `test_rbtree_container`
Component: Tests
CID: [214214](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214214)

Details:

[code]

P

[2020-09-08 11:51] zephyrbot opened #28176 "[Coverity CID :214217] Out-of-bounds access in tests/kernel/mem_protect/mem_map/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/27e1fd69f987d3082229b3368a87d59ffdcab5a4/tests/kernel/mem_protect/mem_map/src/main.c#L103

Category: Memory - corruptions
Function: `test_z_mem_map_exec`
Component: Tests
CID: [214217](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214217)

Details:

[code]

Please fix or provide comments

[2020-09-08 11:52] nandojve commented on #25010
I'll check it again.

[2020-09-08 11:56] nvlsianpu commented on #26961
@andrewboie We were totally unable to reproduce occasional failure you had reported. This tests also is passing all the time on buldkite we are using here, eg.: https://buildkite.com/zephyr/zephyr/builds/7718#e2d59170-240c-40aa-b1ec-34e91454c193

Can we close this issue?

[2020-09-08 12:01] #28134 closed

[2020-09-08 12:03] #28033 closed

[2020-09-08 12:09] jukkar opened #28177 "gPTP gptp_priority_vector struct field ordering is wrong"
**Describe the bug**
The field ordering of gptp_priority_vector is wrong. This affects how BMCA (Best Master Clock selection Algorithm) will choose the best clock.
Specifically the steps_removed field must be placed right after root_system_id in the gptp_priority_vector struct.
The struct should look like this:
[code]
This issue is already fixed in master but needs to be backported to 1.14.

[2020-09-08 12:29] jukkar commented on #28161
@rlubos could you check this one

[2020-09-08 12:42] tbursztyka commented on #27513
Confusing, you say:

but in your solution:

So the user will anyway need to code something then, or?

You are wrongly assuming things here. There are use case where net ifs may not be put up by default, and will be put later on either programmatically or manually through the shell.

There is actually a (big) issue with net_if_get_link_addr/net_if_set_link_addr: it's not  properly"connected to ieee

[2020-09-08 12:44] mtahirbutt opened #28181 "MQTT not working with MOSQUITTO broker:"
**Describe the bug**
A clear and concise description of what the bug is.
MQTT is not able to connect to test.mosquitto.org (IP address: 5.196.95.208).
What have you tried to diagnose or workaround this issue?
I tried mqtt.eclipse.org (IP address: 137.135.83.217), that worked and I get publish messages etc. and the client is successfully connected to the broker, but test.mosquitto.org does not seem

[2020-09-08 12:46] tejlmand commented on #23825
Took a second lookat this, and found a way so that relative paths on command line, where `-D<some>_ROOT=<relative-path>` are allowed, and will be relative seen from application source dir.

If someone uses `set(<some>_ROOT <relative-path>)` then an error will be raised:

[2020-09-08 12:51] jukkar commented on #28174
False positive

[2020-09-08 12:51] #28174 closed

[2020-09-08 12:53] jukkar commented on #28172
@Navin-Sankar can you check this one, for some reason I could not assign this to you.

[2020-09-08 12:54] jukkar commented on #28169
@Navin-Sankar can you check this one, for some reason I could not assign this to you.

[2020-09-08 12:59] gmarull commented on #28159
PWM `get_tim_clk` needs to be improved to cover all STM32 cases. Some progress can be found here https://github.com/zephyrproject-rtos/zephyr/pull/26221/files#diff-0321881e45a0440f0ae270f34324a9c6R129. I'll take care after 2.4 release unless it is considered high priority.

[2020-09-08 12:59] ABOSTM opened #28184 "tests: drivers: spi: spi_loopback: fails on board nucleo_wb55rg"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. west -p auto -b nucleo_wb55rg tests/drivers/spi/spi_loopback  nucleo_wb55rg
2. west flash
3. See error

**Expected behavior**
test passed

**Logs and console output**
[code]

**Environment (please complete the follo

[2020-09-08 13:11] jukkar commented on #28160
False positive

[2020-09-08 13:11] #28160 closed

[2020-09-08 13:17] nvlsianpu commented on #26729
The nrf qspi_nor driver is able to write with 32-bits word alignment of size and offset, apart form sub-word wrtes when it can write part of word to alligned offset (which is a hack for mcumgr.
I will change write-block-size to 4.
FYI @sigvartmh

[2020-09-08 13:17] GABS9718 opened #28185 "Problem using SX1276 with nRF52840dk"
**Describe the bug**
Hi, I'm trying to use the radio SX1276 in the module RFM95 with the development kit BMD-340 that have the nRF52840. But my issue is before the hardware, as I'm not able to build the project. I'm just trying to build the code that is inside <zephyrproject\zephyr\samples\drivers\lora\send>.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the cmd
2. go to directory <ze

[2020-09-08 13:41] ABOSTM commented on #28118
@lowlander ,
Disabling interrupts for 600us or 1.2ms is quite long. And it looks to me like it causes drift in zephyr tick count:
CONFIG_SYS_CLOCK_TICKS_PER_SEC is generally 10000 which means 100us.
STM32 implementation use systick to generate an interrupt every tick, so every 100us in this case.
So if interrupts are blocked for 1.2ms you may loose about 12 ticks.
It explains that with lower CONFI

[2020-09-08 13:53] lowlander commented on #28118
@ABOSTM would it be possible for Zephyr to detect that it missed a tick? For example by looking at a free running counter to see more time has passed than N ticks (and so N-1 ticks were missed). Do you have any idea if it would be worth it for me to look into that looking into that ?

[2020-09-08 14:15] tejlmand commented on #27288
@markrowe any success in reproducing this in plain Zephyr ?

Is your project a `Zephyr workspace application` or a `Zephyr freestanding application` ?
See the differences here:
https://docs.zephyrproject.org/latest/guides/zephyr_cmake_package.html#zephyr-workspace-application
https://docs.zephyrproject.org/latest/guides/zephyr_cmake_package.html#zephyr-freestanding-application

[2020-09-08 14:29] dleach02 commented on #28156
@hakehuang, This test is not supported on this platform. Please note that there was a recent change to the testcase.yaml to change whitelist to integration_platforms (which is confusing... not sure why something like "supported_platforms" was used). I believe you have a script that may be processing the testcase.yaml so make sure it is using this new keyword for whitelist.

[2020-09-08 14:53] ABOSTM commented on #28118
@lowlander, with current implementation based on systick, it is not possible to detect missed TICK. because there is no hardware track of this, and thus software is enable to know interrupts are missed.
Theoretically, it could be possible to track missed interrupt if TICK is port on STM32 hardware timer peripheral instead of systick (taking advantage of timer instance supporting repetition counter

[2020-09-08 15:24] #28012 closed

[2020-09-08 15:35] pabigot commented on #16195
Per the original description `k_uptime_delta()` can't be fixed.  A potential solution is to add `k_cycle_delta()` and recommend it as an alternative.  Parallel to that adding `uint64_t k_cycle_get()` as a companion to `uint32_t k_cycle_get_32()` would eliminate a functionality gap.  However there probably isn't support for 64-bit cycle count on all platforms.

So `k_tick_delta()` along with `stati

[2020-09-08 15:46] nvlsianpu opened #28193 "include/drivers/flash: API stands mistakenly unrestricted alignment of writes."
Telling that all the driver supports unaligned writes was and
is not true. Drivers only have to support any source buffer.

Message introduced by mistake in #23628

[2020-09-08 16:04] lowlander commented on #28118
If we have the need for more exact timing we can use a hardware timer and ISR to do that, I was just wondering if there was an easy "fix" that could also benefit others.

We basically already do that, but some parts are hard to split up. But with the FLASH cache enabled things seem fast enough.

1000 seems OK, I haven't been able to measure any skips.

It isn't that big a deal, the problem was tha

[2020-09-08 16:08] pabigot commented on #18815
API: It appears that at least most of these now appear, so closing.

[2020-09-08 16:08] #18815 closed

[2020-09-08 16:10] #28118 closed

[2020-09-08 16:11] carlescufi commented on #20987
@emob-nordic @jfischer-phytec-iot is this still an issue? Otherwise please close it.

[2020-09-08 16:12] carlescufi commented on #21092
@sslupsky is this still an issue? Otherwise please close it.

[2020-09-08 16:12] mbolivar-nordic commented on #28053
@carlescufi @MaureenHelm I think this should be closed then as it doesn't seem to be a Zephyr build system bug.

[2020-09-08 16:13] #28053 closed

[2020-09-08 16:13] carlescufi commented on #22865
Closing this since it does not seem reproduceable anymore.

[2020-09-08 16:13] #22865 closed

[2020-09-08 16:15] carlescufi commented on #23149
We are going to fix this for 1.14. If the bug exists in master, we will fix it there.

[2020-09-08 16:15] #23149 closed

[2020-09-08 16:18] pabigot commented on #20806
Without looking too closely I believe the ref-counted variants required by Nordic are now using a different API, and the conclusion in that context was that nobody else needed ref-counting for clock management.  This probably isn't true, but the true needs are likely to emerge in the context of power management and clock domains.  Closing this one.

[2020-09-08 16:18] #20806 closed

[2020-09-08 16:19] carlescufi commented on #26330
@nzmichaelh could you retest now that TCP2 is the default in Zephyr please? Please close the issue if this is resolved.

[2020-09-08 16:20] carlescufi commented on #23302
@jukkar could you please settle on the benchmarks that we use to measure progress in this issue?

[2020-09-08 16:22] carlescufi commented on #24700
Will be fixed in #28191

[2020-09-08 16:25] galak commented on #17624
@andyross ping

[2020-09-08 16:39] carlescufi commented on #26409
@ibirnbaum if you can trace it down to the approximate root cause (kernel vs timer driver vs IP stack) then we can assign this properly.

[2020-09-08 16:39] galak commented on #25592
I think we should be asking people to add / update `vendor-prefixes.txt`

[2020-09-08 16:41] carlescufi commented on #26819
@aport did you work around this or find a fix? if so a Pull Request would be appreciated since there's been no activity on this issue.
@mike-scott any chance you'll be able to look at this?

[2020-09-08 16:42] carlescufi commented on #26987
@ssekar15 could you send a patch to resolve this?

[2020-09-08 16:44] carlescufi commented on #27020
@PiotrZierhoffer could you please take a look since you are the maintainer of the civetweb module?

[2020-09-08 16:44] jfischer-phytec-iot commented on #28154
Yes, it is correct behavior. The sample `samples/subsys/usb/console` route the shell over Zephyr's CDC ACM implementation, so one have to open device assigned to it, for example `/dev/ttyACM1`

[2020-09-08 16:45] carlescufi commented on #27299
@albertofloyd is this still an issue? If not please close it.

[2020-09-08 16:47] carlescufi commented on #27574
@Zhaoningx you need to disable all drivers or subsystems that make use of kernel blocking calls such as mutexes or semaphores.

[2020-09-08 16:48] carlescufi commented on #27639
@agansari could you please take a look at this issue?

[2020-09-08 16:49] jfischer-phytec-iot commented on #28095
That is not quite true, the LED on the back was removed and GPIO reused for the buzzer. Actually documentation issue not a bug.

[2020-09-08 16:49] carlescufi commented on #27640
@loicpoulain could you please send a patch?

[2020-09-08 16:51] carlescufi commented on #27753
@avisconti thanks, if you need additional info @mbolivar-nordic is in the #devicetree channel in Slack.

[2020-09-08 16:53] carlescufi commented on #27820
@jfischer-phytec-iot would you mind taking a look at why this test is failing? It doesn't need any fixtures, just an LED.

[2020-09-08 16:58] mike-scott commented on #26819
@carlescufi I have not looked at this.  @aport a PR would be greatly appreciated.

[2020-09-08 16:59] carlescufi commented on #27821
@dleach02 remove the board from the allowlist

[2020-09-08 17:01] carlescufi commented on #27841
@erwango @FRASTM could you please debug this a bit further to see if it's related to the particular SPI driver?

[2020-09-08 17:02] carlescufi commented on #27846
@anangl please take a look

[2020-09-08 17:04] henrikbrixandersen commented on #28108
Which board is this?

[2020-09-08 17:05] MaureenHelm commented on #28045
This sample was removed after 2.3.0

[2020-09-08 17:05] #28045 closed

[2020-09-08 17:06] henrikbrixandersen commented on #28152
Your west command refers to the CANopen sample, but your console output shows output from the ISO-TP sample. Did you flash the board correctly?

[2020-09-08 17:12] carlescufi commented on #28095
@DSc-de or @jfischer-phytec-iot will you update the .gif please?

[2020-09-08 17:16] galak commented on #28090
See this on nightly build:

[code]

[2020-09-08 17:17] carlescufi commented on #28061
Closing this since this is not Zephyr-related but rather an issue with the Nordic nrfjprog tool suite.

@simtind thanks for your input. Is there a workaround that @holmes81 can use in the meantime?

[2020-09-08 17:17] #28061 closed

[2020-09-08 17:19] pabigot commented on #28112
@lowlander Could you try the fix in #28034 to see if that fixes it?  The behavior here seems similar.

[2020-09-08 17:22] galak opened #28196 "samples/boards/intel_s1000_crb/audio/sample.board.intel_s1000_crb.audio Fails to build"
Doing:

`./scripts/sanitycheck -p intel_s1000_crb -s samples/boards/intel_s1000_crb/audio/sample.board.intel_s1000_crb.audio`

Gets:

[code]

INFO    - 5/8 intel_s1000_crb           samples/boards/intel_s1000_crb/audio/sample.board.intel_s1000_crb.audio FAILED Build failure (build)
 

[2020-09-08 17:26] galak opened #28197 "samples/net/sockets/echo_client/sample.net.sockets.echo_client.nrf_openthread fails to build"
`./scripts/sanitycheck -p nrf52840dk_nrf52840 -s samples/net/sockets/echo_client/sample.net.sockets.echo_client.nrf_openthread`

[code]

[2020-09-08 17:30] galak commented on #28114
Bumped to high since this fails in nightly build CI.

[2020-09-08 17:31] lowlander commented on #28184
@ABOSTM sadly I don't have stm32wb hardware to test, but is this a new failure (after I reworked the DMA driver) or did it fail before?  The 8 not valid seems to be a off by one error (the channel, stream, id numbering is very confusing for the v1, v2, and dmamux)

I could try with L4R5 hardware that should have the same DMAMUX setup.

[2020-09-08 17:32] nashif commented on #28153
Not sure what exactly fails here, this is a sample that expects input, so it needs a harness which would exclude it from automated testing.

[2020-09-08 17:33] pabigot commented on #28153
[code]
A harness for the above command and some of its output would cover this.

[2020-09-08 17:33] vanti commented on #28012
Thanks @pabigot for the fix. Looks like the "device constify" patchset was merged during my absence last week and led to the failure.

[2020-09-08 17:35] carlescufi commented on #28185
Did you add a LoRa radio to the board's .dts file? You need to do that in order for the driver to work. This can be used as a source:

https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/96b_wistrio/96b_wistrio.dts#L65

You can also use .overlay files to avoid modifying the board.

Everything is documented here: https://docs.zephyrproject.org/latest/guides/dts/index.html

[2020-09-08 17:35] #28185 closed

[2020-09-08 17:36] carlescufi commented on #28185
@GABS9718 I closed this since it seems you have not declared the LoRa device in Devicetree. If that is incorrect please reopen it.

[2020-09-08 17:38] nashif commented on #28153
not a reel_board issue

[2020-09-08 17:40] mbolivar-nordic commented on #27353
The signed application is now flashable by default since 003d30b6f028705e7eefe7cec29669da1594d6c7 was merged.

Please see updated west sign documentation for an example workflow:

https://docs.zephyrproject.org/latest/guides/west/sign.html#mcuboot-imgtool

The `--bin-file` behavior described in the issue report is a not a bug. This is how the tool is documented to behave. In particular, `west flas

[2020-09-08 17:40] #27353 closed

[2020-09-08 17:41] MaureenHelm commented on #27997
Will you please update this bug with information to reproduce?

[2020-09-08 17:45] pabigot commented on #27985
Triage: Ensure this change is documented in the release notes.  Proposal was to also `__ASSERT()` if `device_get_binding()` is invoked before the device had been initialized, however the device initialization state is a boolean that cannot distinguish "not yet initialized" from "initialization failed", so we can't do that.

Formerly it was a functionally boolean that could not distinguish "not yet

[2020-09-08 17:48] MaureenHelm commented on #28150
cc: @scottwcpg

[2020-09-08 17:51] jukkar commented on #28155
I just flashed some other sample to this board and noticed that the MAC address was all zeros. This caused issues when trying to get IP address. The error I saw was not `Network initialization failed` so the issue described here might be something else.
Anyway, I needed to set `CONFIG_ETH_SAM_GMAC_MAC_I2C_EEPROM=y` in order the network interface work properly.

[2020-09-08 17:52] carlescufi commented on #28145
@kasapreyizz this is not implemented yet. @andrzej-kaczmarek is currently working on it. Please join the #bluetooth channel on our Slack for more details.

[2020-09-08 17:52] #28145 closed

[2020-09-08 17:53] jfischer-phytec-iot commented on #28196
Sample was broken by commit 0d8bd579a5a3ca819641fb840de97e76b5647ed0

[2020-09-08 18:05] nandojve commented on #28108
Hi @jakub-uC , I agreed with you!, I'll check your suggestion at my night.

@henrikbrixandersen It is a personal board that uses SAM4L + AT24C256, as reference you can check SAM4L-EK. There is no currently I2C driver for this SoC on main. Because of that, my first thing was mock the I2C driver API and check on HW. For my surprise, I could reproduce the exactly same behavior.

[2020-09-08 18:10] erwango commented on #25592
One thing I can do is remove the soc compat ("st,stm32f103") as it seems it's only present on sSTM32 based boards.

Does CI check support `vendor-prefixes.txt` yet ?

[2020-09-08 18:42] sslupsky commented on #21092
@carlescufi I submitted a PR quite a while ago that addresses this.  The PR hasn't been accepted yet so I left this open.

I'll close it.

[2020-09-08 18:42] #21092 closed

[2020-09-08 18:51] cbsiddharth commented on #28114
@galak, for now disabling OSDP tests on this platform as it needs CONFIG_SERIAL. Please check PR #28130.

[2020-09-08 18:55] lowlander commented on #28112
Bug #28118 was not Zephyrs fault, and I (with some help) found a plausible explanation for the behavior. This "bug" might also not be zephyrs fault I although the behavior is a bit strange, since it doesn't miss 1 tick but 100ms. This is weird because there is a 1 ms task in my system so even with tickless it should do something every 1ms.

I will do more testing tomorrow and report back.

[2020-09-08 19:30] arvid-r commented on #23825
Thanks. This seems like a good and safe solution.

[2020-09-08 19:50] #26617 closed

[2020-09-08 19:50] #21711 closed

[2020-09-08 19:51] #21233 closed

[2020-09-08 19:53] #24111 closed

[2020-09-08 19:54] #23672 closed

[2020-09-08 19:55] #21725 closed

[2020-09-08 19:55] #21708 closed

[2020-09-08 19:56] #24625 closed

[2020-09-08 19:58] #20987 closed

[2020-09-08 20:17] jettr commented on #28170
I'm setting up access to coverity now, then will send out a fix. Thanks for redirecting this my way!

[2020-09-08 20:41] DSc-de commented on #28095
Below please find the updated gif. If acceptable, please commit to /doc/getting_started/img . Please let me know if I shall do a pull request instead (never done this before but the great zephyr documentation will tell me how to).

![ReelBoard-Blinky](https://user-images.githubusercontent.com/68108999/92525549-5a8a9f00-f224-11ea-81cc-93f409f19b10.gif)

[2020-09-08 20:44] andrewboie commented on #28105
Next step is to confirm the bug by identifying some specific thread state change scenarios across CPUs that will reproduce some of these "attempt to resume unsuspended thread object" faults. Need to make extra sure that the scheduler framework doesn't have some other way of compensating for an obsolete scheduling decision being executed, just in case I missed something.