[2019-11-28 15:55] pabigot commented on #21061
Are threads and ISRs the only calling contexts that matter?  What about userspace vs kernel, and pre-kernel init levels?  Does or will Zephyr support multiple privilege levels?

@alexanderwachter true, and hopefully that would be specified for all ISR-callable blocking (yielding) APIs.

I have no issues with something like this as part of a solution to #18970, but it doesn't the eliminate the need

[2019-11-28 15:57] aescolar commented on #21058
CC: @jhedberg

[2019-11-28 16:29] nashif commented on #21061
This was just an example, initialization, userspace and supervisor modes are other contexts that can be added to this tag.

This RFC is not trying eliminate anything, having the terminology well defined is a good thing indeed. Need to see this in the final form though and submitted to the right location in the documentation so we can move forward with this.

[2019-11-28 16:43] jhedberg commented on #21057
@Vudentz do you wanna look at this? It seems you introduced the 0xffff values in commit 593d8561c9ffde29a38c5a9f87a3b9057b7f1014

[2019-11-28 17:00] jfischer-phytec-iot commented on #20176
I do not think it worked for any nRF based board.

[code]

[2019-11-28 17:16] jhedberg commented on #21057
@kipm-ot @aescolar what do you think the right policy should be? If any of the values is set to 0xffff we don't initiate param update triggered by the timer?

[2019-11-28 17:19] jhedberg commented on #21057
Sorry, just saw your proposed solution in the description @kipm-ot. Sounds reasonable to me. Are you planning to submit a PR?

[2019-11-28 17:56] #21059 closed

[2019-11-28 18:19] pfl opened #21068 "Conflicting documentation for device initialization"
In `include/device.h` the following instructions are provided for the `DEVICE_INIT` macro:
[code]
In the details section it is said that devices set up with this macro is not accessible from user mode, but the parameter dev_name is used to look up the device from user mode. The latter is probably false and was supposed to say kernel mode instead?

[2019-11-28 18:28] dferbas commented on #21016
@jukkar: Did you try the test with IP v6 disabled?

[2019-11-28 19:04] #20872 closed

[2019-11-28 19:21] #20416 closed

[2019-11-28 20:54] #20176 closed

[2019-11-28 22:49] npitre commented on #20981
On Thu, 28 Nov 2019, Paul Gavrikov wrote:

OK. Then here's another one for you to test:

[code]

[2019-11-29 07:17] jukkar commented on #20355
First one needs to create zeth interface in host
[code]
Then compile zephyr to use the e1000 driver. For this, there is a overlay-e1000.conf file in echo-server sample.
[code]

[2019-11-29 07:17] jukkar commented on #20355
Unassigning myself as this is not networking issue.

[2019-11-29 07:31] jukkar opened #21074 "Enhance 802.1Qav documentation"
Current 802.1Qav documentation is too sparse to be useful. Enhance it so that the configuration API is easier to use.

[2019-11-29 08:04] #16723 closed

[2019-11-29 08:30] alexanderwachter commented on #21010
@henrikbrixandersen We could introduce some error counter states and helpers to get them.
These are to ones from Linux, for example:
[code]

They don't represent the controller state, but at least we are compatible to Linux then.
Splitting the states into CAN_ERR_CRTL_RX_* and CAN_ERR_CRTL_TX_* is weird IMO.
CAN_ERR_CRTL_TX_OVERFLOW can't happen in our drivers and CAN_ERR_CRTL_RX_OVERFLOW would be

[2019-11-29 09:04] LuoZhongYao opened #21077 "Help: Pull request "Identity/Emails issues""
I have a pull request #21073 , the zephyrbot reported "Identity / Emails issues", I checked the commits, but couldn't find the problem.

[2019-11-29 09:17] kipm-ot commented on #21057
@jhedberg No worries, yes we will do a PR.

[2019-11-29 09:27] aescolar commented on #21077
Answered in https://github.com/zephyrproject-rtos/zephyr/pull/21073#issuecomment-559721821 , please continue the discussion in the PR itself.
Closing this question

[2019-11-29 09:27] #21077 closed

[2019-11-29 12:23] paulgavrikov commented on #20981
@npitre I run into the issue in sys_dlist_remove earlier now but do not see any additional logs.

[code]

[2019-11-29 12:54] #20836 closed

[2019-11-29 12:54] #20837 closed

[2019-11-29 12:54] #20838 closed

[2019-11-29 12:54] #20839 closed

[2019-11-29 12:54] #20840 closed

[2019-11-29 12:54] #20841 closed

[2019-11-29 12:54] #20842 closed

[2019-11-29 12:55] antfobe commented on #20355
As pointed out in the issues' name, its an xtensa/qemu_xtensa bug - the build should work for other targets, not only qemu_x86.

[2019-11-29 13:09] ioannisg opened #21082 "tests/kernel/timer/timer_api failing on several nRF5x SoCs"
**Describe the bug**
tests/kernel/timer/timer_api fails on several nRF SoCs and Dev Kits
- nrf5340_dk_nrf5340_cpuapp
- nrf52833_pca10100
- ~~nrf52810_pca10040 (on the _original_ 52810 HW)~~
- ~~nrf52811_pca10056 (on the _original_ 52811 HW)~~

**To Reproduce**
Execute tests/kernel/timer/timer_api for the platforms listed above

**Expected behavior**
The test should pass

**Impact**
Concerns about

[2019-11-29 13:10] ioannisg commented on #21082
@kl-cruz @nika-nordic please, let me know if you can reproduce this

[2019-11-29 13:11] ioannisg commented on #21082
FYI @anangl @pabigot

[2019-11-29 13:33] pabigot commented on #21082
My test for accuracy of `k_busy_wait` shows that invocation on nrf5340_dk_nrf5340_cpuapp delays for twice the requested time.

req | meas
--- | ----
1 | 3.25
2 | 5
5 | 11.25
10 | 21.25
15 | 31.25
20 | 41.5
50 | 101.8
50 | 100.2
50 | 101.8
75 | 152.2
75 | 152
75 | 152
100 | 202.5
100 | 202.5
100 | 202.7
1000000 | 2.014 (s)

I don't have the other boards to inspect.  Check the HAL implementation of

[2019-11-29 13:37] antfobe commented on #20355
Well at least the error changed with `-DOVERLAY_CONFIG=overlay-qemu_802154.conf`:

![image](https://user-images.githubusercontent.com/13102173/69872433-1e3d1200-1294-11ea-864b-d486cef095e3.png)

[2019-11-29 13:44] kl-cruz commented on #21082
@pabigot could you add executing of this function right before test? It will work only for nRF5340_cpuapp.

[code]

ref: https://github.com/NordicSemiconductor/nrfx/blob/master/hal/nrf_cache.h#L60

[2019-11-29 13:44] anangl commented on #21082
@ioannisg
Regarding these two:

This is expected, as definitions of these boards are adjusted to give accurate delays on nRF52832 and nRF52840, respectively. See `CMakeLists.txt` for [nrf52810_pca10040](https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/nrf52810_pca10040/CMakeLists.txt#L7) and [nrf52811_pca10056](https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/

[2019-11-29 13:51] pabigot commented on #21082
@kl-cruz This doesn't seem to have any effect.

[2019-11-29 13:52] pabigot commented on #21082
Perhaps it's a wait state configuration issue?

[2019-11-29 14:49] nashif commented on #19419
Please reopen with more details, not sure what is being requested here and probably it is out of scope and needs to be scripted based on the usecase.

[2019-11-29 14:49] #19419 closed

[2019-11-29 15:02] nashif commented on #20878
closed in coverity as false positive

[2019-11-29 15:02] #20878 closed

[2019-11-29 15:03] nashif commented on #20879
closed in coverity as false positive

[2019-11-29 15:03] #20879 closed

[2019-11-29 15:22] emob-nordic commented on #12775
Hello, I've just get notification about this issue. Pawel is not working in the project anymore, I've recently start work in this topic. I don't know what Pawel had but [here](https://github.com/emob-nordic/zephyr/tree/usb_audio_class) is the temp branch where I push the changes. Feel free to comment.

[2019-11-29 15:32] ioannisg commented on #21082
@anangl agreed, you 're right on this. I'll update the bug report description

[2019-11-29 16:44] npitre commented on #20981
On Fri, 29 Nov 2019, Paul Gavrikov wrote:

Do you mean that none of the checks from my latest patch triggered?

If so I'm afraid I'd have to be able to reproduce it locally to help you further.

Is it reproducible in a deterministic manner?

How long before the crash occurs?

Please apply the following patch and send me the output log leading to
the crash. Maybe that will tell us something.

[code

[2019-11-30 03:53] LingaoMeng opened #21088 "Bluetooth: Mesh: Send Model Message shouldn't require explicit NetKey Index"
According Mesh Profile 3.8.6 Keys Application keys are bound to network keys. This means application keys are only used in a context of a network key they are bound to. An application key shall only be bound to a single network key. A device key is implicitly bound to all network keys.

https://github.com/zephyrproject-rtos/zephyr/blob/42c5b0a7fafa3360b8d835d4b76d7b1bebbe9237/samples/bluetooth/mes

[2019-11-30 22:09] sslupsky opened #21092 "i2c-sam0 sleeps waiting for interrupt"
**Describe the bug**
This is likely more a question than a bug report.  However, at this point I have not been able to determine what the correct course of action is to address this observation.

When CONFIG_SYS_POWER_MANAGEMENT and CONFIG_SYS_POWER_SLEEP_STATES are enabled, the i2c-sam0 driver can suffer corruption when the device enters a sleep state.  This happens because the i2c-sam0 driver wa

[2019-12-01 02:41] wentongwu opened #21093 "put sys_trace_isr_enter/sys_trace_isr_exit to user care about ISR instead of every ISR"
## Introduction

Currently the ISR tracing hook is put at the beginning and end of ISR wrapper, so every ISR will be traced, when there is ISR needed in the tracing path(especially tracing back-end, every output of tracing back-end will be traced once), it will cause the tracing buffer easily be exhausted, also it will increase system latency, so I suggest to remove the tracing hook at the _isr_wr

[2019-12-01 02:41] wentongwu commented on #21093
@nashif

[2019-12-01 05:16] jmgao opened #21094 "native_posix doesn't call main function that's defined in C++"
native_posix uses [the following macro:](https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/posix/include/posix_cheats.h#L43)
`#define main(...) zephyr_app_main(__VA_ARGS__)` to rename the app's main to something else (which is presumably linked with a no-op weak symbol that gets overridden by the app's main if it exists).

This works fine in C, but if you define your main function in a

[2019-12-01 08:17] jhedberg commented on #21088
You're right that the net_idx can be implicitly derived from the app_idx. Removing app_idx completely from bt_mesh_msg_ctx is a bit trickier since that struct is also used by the transport layer to send transport control messages, and those messages are only encrypted with a network key (no app key involved). So removing the struct member would require some redesign of the stack, which I'm not con

[2019-12-01 09:32] aescolar commented on #21094
@jmgao C++ support is quite experimental in Zephyr

[2019-12-01 12:37] pabigot commented on #20802
While this is currently a question it is blocking for #18970 as described in https://github.com/zephyrproject-rtos/zephyr/pull/20919#pullrequestreview-324937300: until it's answered I can't identify the conditions under which a cooperative thread may transition from running to another state.

[2019-12-01 15:02] zephyrbot opened #21095 "[Coverity CID :206086] Out-of-bounds access in drivers/timer/cortex_m_systick.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/42c5b0a7fafa3360b8d835d4b76d7b1bebbe9237/drivers/timer/cortex_m_systick.c#L156

Category: Memory - corruptions
Function: `z_clock_driver_init`
Component: Drivers
CID: [206086](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206086)

Details:

[code]

Please fix or provide comments in cover

[2019-12-01 19:19] nashif commented on #21093
@wentongwu  yes, makes sense, we probably want to leave the system timer though

[2019-12-02 01:11] nashif commented on #21093
something like that to get it working for nrf devices...

[code]

[2019-12-02 01:34] wentongwu commented on #21093
@nashif ok, I will do this change for every platform.

[2019-12-02 02:30] dleach02 commented on #20490
The specific problem is that the function stm32_dma_check_fifo_mburst() is referencing the FIFOThreshold field of DMA_InitStruct which has never been initialized. I don't know the hardware but I would figure out what FIFOThreshold should be initialized to before calling the check_fifo_mburst() function.

[2019-12-02 03:10] dleach02 commented on #20494
[code]

this should be >=

[2019-12-02 07:31] aescolar commented on #21094
@jmgao Do you have some simple case to reproduce it?

[2019-12-02 09:30] jmgao commented on #21094
Oops, missed your edit and uploaded another test case.

If you're wondering what I actually ran into, it was samples/subsys/usb/hid segfaulting 2 seconds after usbip connection because k_delayed_work_init was never called.

[2019-12-02 09:47] rmstoi opened #21099 "echo server qemu_x86 e1000 cannot generate coverage reports"
To collect coverage reports I'm following the instructions at:

https://docs.zephyrproject.org/latest/guides/coverage.html

This works with the hello_world sample, cmake with

`cmake -DBOARD=qemu_x86 -DCONFIG_COVERAGE=y ..`

But with echo server it does not work. The problem is that to stdout and to log.log are printed echo server logs and not coverage reports. To collect coverage reports I run th

[2019-12-02 10:21] agansari commented on #20749
@hakehuang
I've ran multiple configurations and found the following:

After correctly configuring my local server, net-tools and the following in prj.conf:
[code]
I have a successful running configuration with default configuration (only changed ip addresses to my local setup, see above):
[code]

Now regarding your configuration:
-DCONFIG_MDNS_RESOLVER=y -> same as default
-DCONFIG_LLMNR_RESOLVER=

[2019-12-02 10:53] aescolar commented on #21094
@jmgao Hopefully that PR fixes the issue for you?

[2019-12-02 11:06] jmgao commented on #21094
Yep, works for me.

No problem, thanks for the quick response!

[2019-12-02 11:29] jmgao opened #21102 "Slack link at https://www.zephyrproject.org/ is expired"
The slack link at https://www.zephyrproject.org points to https://join.slack.com/t/zephyrproject/shared_invite/enQtNDgwNzk5MTU3NTA3LWNhZjc4MzM4Nzg5NGRiNTA2OGVhN2ZlNzZmYWE5Yjc2ZDIwYjYzNGJmMzNiYmY2MTdiYmQ1M2I4NGEzMmUzZjA which is expired (but still works if you already have an account).

The one at https://lists.zephyrproject.org/g/devel works (and points to https://join.slack.com/t/zephyrproject/sh

[2019-12-02 12:32] #18448 closed

[2019-12-02 12:32] #18450 closed

[2019-12-02 12:32] #18449 closed

[2019-12-02 12:32] #18451 closed

[2019-12-02 12:33] wdhpawa opened #21103 "Bluetooth: host: Reduce overhead of GATT subscriptions"
**Is your enhancement proposal related to a problem? Please describe.**
The current way of receiving GATT notifications from a remote server requires the application layer of the client device to allocate a large block of data (struct bt_gatt_subscribe_params) per subscribed characteristic per peer. A reference to this block is passed to the Zephyr host when subscribing (bt_gatt_subscribe), and it

[2019-12-02 12:57] joerchan opened #21105 "Bluetooth API called before finished initialization."
**Describe the bug**
Some Bluetooth API function does not check for if the bluetooth device has finished initialized. This can lead to undefined behavior as the stack is operating on uninitialized kernel objects and memory.

**To Reproduce**
Steps to reproduce the behavior:
Call public API functions before calling bt_enable, or directly after bt_enable when supplied a ready callback.
Affected APIs

[2019-12-02 12:58] joerchan commented on #21105
Accidental enter hit. Will update description.

[2019-12-02 13:37] agansari commented on #20749
<log_strdup alloc failed> message is due to the fact LOG_STRDUP_BUF_COUNT is set too low, we don't have enough logging buffers (because the newly enabled subsys dhcp also uses these buffers).

Enabling ip's subsys DHCP will do the following: run dhcp client at boot and getting an ip address. The second time the dns application calls the dhcp functions, it gets the information system is ready bound

[2019-12-02 13:39] #20088 closed

[2019-12-02 13:57] paulgavrikov commented on #20981
@npitre

Yes, none of the checks triggered. I tested the patches separately. Should I try all together?
It happens deterministically. Some more background: basically our app is a ZTests over a custom stack we wrote on top of SPI. There's quite a lot of code and I do not have clearance to share it unfortunately. The issue happens rather quickly as you can see in the log:

[code]

[2019-12-02 14:12] paulgavrikov commented on #20981
Actually, after applying the latest patch I get the MPU fault in the very first test while it used to be a later on before. Also, the log is not deterministic:

[code]

Another run:
[code]

[2019-12-02 14:29] LeBlue opened #21107 "LL_ASSERT and 'Imprecise data bus error' in LL Controller"
**Describe the bug**
I am using a custom board similar to the **nrf52840_pca10056** modified version of the **hci_usb sample** with addtion of a watchdog, mcumgr capability and logging. The main application on a linux host (bluez5.51) will search and (re)connect up to 9 peripheral devices.

For reconnection the application will regularly enable and disable scans. In the setup there are only 8 devi

[2019-12-02 14:40] pabigot commented on #20792
Tagged as has-pr because if #20950 gets merged this can be reduced to low priority (but shouldn't be closed).

[2019-12-02 14:46] nashif commented on #21048
Can't reproduce anymore.

[2019-12-02 14:46] #21048 closed

[2019-12-02 14:49] stephanosio commented on #21025
I can confirm that the same problem occurs when running long-running tests like `tests/kernel/sched/schedule_api/kernel.sched`.

[2019-12-02 14:52] mbolivar commented on #20810
The word "reference" is exactly what I am objecting to.

Is that really true? I think a lot of the tutorial style content that was added to "API Reference" may have been added after the reorg.

[2019-12-02 14:58] #20931 closed

[2019-12-02 14:58] #20100 closed

[2019-12-02 14:59] stephanosio commented on #21025
Something is wrong with `sam_e70_xplained`.

The following tests fail at the moment:
[code]

**Test failure messages**
[code]

[2019-12-02 15:07] stephanosio commented on #18728
I can also reproduce this on the latest master.

[2019-12-02 15:16] carlescufi commented on #21102
This is an issue with the website itself, so we can't cover it here. I have reported this internally.

[2019-12-02 15:16] #21102 closed

[2019-12-02 16:19] rolandma commented on #20980
I would like to re-open this issue, not because I can't flash it onto the ESP32-wroom-32D dev kit, but because even if I change the esptool.py script to flash it, no sample project will run other than "hello-world". which is not very helpful. I compiled several samples, and all compiled successfully, but none will run on the target board. I tried at least these 4 samples, and managed to compile al

[2019-12-02 16:56] npitre commented on #20981
Quoting your log:

[code]

and:

[code]

Something is wrong there. Normally, the block being freed should be
available and reallocated right away by the following alloc call. Here,
in one case, block 0 is allocated and freed, then block 64 is allocated.
In the other case, block 0 is allocated and freed, then block 1 is
allocated. In both cases, block 0 should have been allocated again, not
some ot

[2019-12-02 17:06] andyross opened #21111 "Reschedule points are currently undocumented"
Zephyr has never been good about documenting its schedule points, where a call to z_swap() (via the z_reschedule family of internal utilities) can be made and a new thread can be selected to run.  This complicates user analysis, especially in the case of cooperative/non-preemptible threads, and can lead to surprising behavior (see for example #20802, where a priority change due to mutex release is

[2019-12-02 17:17] pabigot commented on #21111
As I [have noted](https://github.com/zephyrproject-rtos/zephyr/pull/20919#pullrequestreview-324937300) elsewhere this behavior appears to be inconsistent with the [described behavior of cooperative threads](https://docs.zephyrproject.org/latest/reference/kernel/scheduling/index.html#cooperative-time-slicing) which appears to specifically disallow a context switch on a mutex release of a blocked hi

[2019-12-02 17:33] d3zd3z commented on #11193
FYI @microbuilder

[2019-12-02 19:51] pabigot opened #21113 "k_sem_give reschedules cooperative threads unexpectedly"
The [described behavior of cooperative threads](https://docs.zephyrproject.org/latest/reference/kernel/scheduling/index.html#cooperative-time-slicing) which specifically disallows a context switch until the thread is made unready or `k_yield()` is invoked.

However, `k_sem_give()` apparently does this.  https://github.com/zephyrproject-rtos/zephyr/pull/20919#issuecomment-560532206 indicates this u

[2019-12-02 21:13] d3zd3z commented on #10030
Have we gotten any clarity as to how much we can document MISRA-C compliance while still complying with the license of the MISRA-C spec itself?

[2019-12-02 21:19] d3zd3z commented on #10330
This would need to be optional, however, as not all flash devices can be directly read.

[2019-12-02 21:21] d3zd3z commented on #10534
I might also suggest the *direnv* utility, which allows a `.envrc` to be placed in various directories and the environment changes it makes will be backed out when the user cds to another directory.

[2019-12-02 21:34] ceolin commented on #10030
You mean document deviations and still be compliant ? I don't think there is a number. As far as I know you can deviate from required rules as much as you can if they are properly justified. The only thing that is not allowed is deviate from mandatory rules.

In informal talk with auditors and static analysis tool owners they told me that usually projects only select a small set of rules.

[2019-12-02 21:39] d3zd3z commented on #12718
It is important to distinguish between entropy and a pseudorandom source. The output of the entropy subsystem is unsuitable for pretty much anything other than feeding a PRBG. Does secure sockets have its own PRBG that is uses? Otherwise, this setup is not really secure.

Some work by @dleach02 made this distinction clearer, providing a random API in Zephyr that uses an entropy source under the ho

[2019-12-02 21:45] d3zd3z commented on #13074
Arm had an implementation of this (I forget what it was called) that could be brought into MBED. As far as I know, at least on typical microcontroller devices, the overhead was quite significant. My kind of gut suspicion is that MCUs that are performant enough for this to work probably also don't have a tiny number of MPU regions. But, it might be worth investigating.

[2019-12-02 21:46] #20494 closed

[2019-12-02 23:05] sslupsky opened #21114 "Invalid interaction between the RTC and the I2C drivers for the sam0"
**Describe the bug**
I am not sure if this is a bug yet.  My observation has been that when a kernel timer is used and the soc device has power management enabled (CONFIG_SYS_POWER_MANAGEMENT and CONFIG_SYS_POWER_SLEEP_STATES)  the period of time elapsed between successive expiry of the timer can vary significantly.  For example, I have five kernel timers configured as described below with a perio

[2019-12-02 23:20] dbkinder commented on #10030
I read the question asking how we document the MISRA-C rules so it's all contained in our project's publically available coding guideline documentation without infringing on the MISRA-C licensing rules.

[2019-12-02 23:32] d3zd3z commented on #13759
@ceolin does this have as a prerequisite porting Zephyr to Unicorn? This does seem like it might be a good path forward for fuzzing on Zephyr, though. We'd talked about something with Qemu, but if these people have already put in effort with Unicorn, it might get us a lot closer.

[2019-12-02 23:34] d3zd3z commented on #10030
@dbkinder that is what I was trying to say.

[2019-12-02 23:35] andrewboie commented on #21113
k_sem_give() is not unique in this respect, all the IPC APIs which can wake another thread (except the bug in k_mutex) act in this way, as discussed in #20919

Whatever solution we decide on, I feel the policy for this should be applied consistently to all the IPC APIs we have without special cases, and if we want to change it, need to fully understand what the implications are for end users.

[2019-12-02 23:49] andrewboie commented on #20802
I think we're converging to a consensus that this is working as designed for co-op threads (even if we add a z_reschedule(), it's a no-op if the caller is coop) but definitely broken for preempt threads.

[2019-12-02 23:55] andrewboie commented on #21113
I think we can close this -- the kernel does the right thing with z_reschedule() calls if the caller was a co-op thread.

[2019-12-03 00:00] dcpleung opened #21115 "Request a new repository for the Xtensa HAL"
The new repo will contain the Xtensa HAL, and will be included as a module via west.

Name of repo: `hal_xtensa`
Upstream: `https://github.com/foss-xtensa/xtensa-hal` (branch `RF`)

It would be great if a `zephyr` branch is created to host Zephyr only changes.

More details:
Currently we build the HAL together with the SDK from upstream source. By having it as a module, the HAL will be built as pa

[2019-12-03 01:04] pabigot commented on #21113
Agreed, both about consistency and about current cooperative thread behavior.

[2019-12-03 01:04] #21113 closed

[2019-12-03 01:39] ulfalizer commented on #21115
I know this is "how it's done now" and that it's just a random change dutifully fitting into that scheme. I'm just jumping onto a random PR that seems somewhat tightly coupled to see if I have any supporters.

I think it might be better to just copy it into the Zephyr repository if there'd be Zephyr-only changes. Then it can never drift out of sync with the Zephyr repository, and can be updated to

[2019-12-03 02:00] andrewboie commented on #15304
Note that elf_helper.py script was split out (in a rather rough fashion) to support this extra script, so really I'd like to see gen_kobject_list.py, gen_priv_stacks.py, and elf_helper.py all combined into a single script, that creates a single gperf table.

[2019-12-03 02:16] ulfalizer commented on #21115
Anyway, sorry for hijacking. Just probing a bit.~

[2019-12-03 02:55] andrewboie commented on #21115
Would this apply to all HALs ?
You might want to talk to @mbolivar

[2019-12-03 03:00] dcpleung commented on #21115
@ulfalizer Personally, I like the beauty of having everything in one repo. Like you said, it would have usable git history, and all changes in PRs. Though, I understand the need to factor out the HALs. For example, companies probably need to vet the code before releasing products. With modules, they can pull in the ones really needed (kind of a moot point until west can pull in individual modules

[2019-12-03 03:10] ulfalizer commented on #21115
I think it'd be easier at least for the ones that can be public. I suspect it won't happen in the short term anyway though. I just threw it out there on the off chance that someone might agree.

Maybe Coverity could be disabled for some directories.

Might need some way to hide some code, though I wonder if simple branching might be enough.

Yeah, I don't expect it to change soon. Just had some pr

[2019-12-03 03:25] andrewboie opened #21119 "VS Code integration"
Visual Studio Code is a really nice development environment, even someone such as myself who has stuck with vim for many years is considering switching over to it.

It would be cool if we could provide some documentation and/or VS Code extensions to make VS Code more zephyr-aware. This ticket can be a catch-all for integration tasks/ideas. So far I can think of:

- Best way to get tab settings cor

[2019-12-03 03:45] ulfalizer commented on #21119
For Kconfig, it's because `autoconf.h` is included automatically:

https://github.com/zephyrproject-rtos/zephyr/blob/9d5d2528947b512d85c212decaff7c1822d2e69d/CMakeLists.txt#L214

Would need to either include it manually where it's needed or tell VS Code about it somehow.

[2019-12-03 03:47] ulfalizer commented on #21119
`cmake/ide/eclipse_cdt4_generator_amendment.cmake` seems to already have some stuff related to `autoconf.h`.

[2019-12-03 03:58] andrewboie commented on #21119
We'd need to generate it too, since it's a build artifact that depends on the selected board and defconfig.

Same deal with DTS #defines

[2019-12-03 04:07] nashif commented on #21119
On Kconfig: https://github.com/luveti/kconfig-vscode

[2019-12-03 04:43] andrewboie commented on #21093
I'm not a huge fan of the approach where we have to move these tracing calls out to all the drivers.

That could work much better - define a bitfield where bin N corresponds to IRQ line N, skip it if unset, and have an API to modify the bitfield. There would have to be something special for systick on ARM since that is an exception not an interrupt.

[2019-12-03 05:06] stephanosio commented on #21025
@jukkar Regarding the `samples/net/gptp` reset, I added `CONFIG_WDT_DISABLE_AT_BOOT=y` to `samples/net/gptp/prj.conf` and, just as with all the other issues involving reset, it no longer resets.

Can you try this and confirm if this works for you too?

[2019-12-03 05:28] Jeepgoing opened #21121 "netusb: RNDIS host support"
Hi, i am testing Zephyr connect to Android Phone with Type-C, i found Android Phone only supports RNDIS Device mode, so it that mean Zephyr device should support RNDIS Host?

I also tried ECM mode, but Zephyr can't run DHCP Server, so Android Phone doesn't have IP

[2019-12-03 07:40] aescolar commented on #21115
@nashif @MaureenHelm @carlescufi : One of you would need to create this new repo.

[2019-12-03 07:51] chen-png opened #21123 "sanitycheck halt some test cases with parallel running."
**Describe the bug**

for the parallel running feature in sanitycheck script refer to #18603, I tested it with two boards reel_board and frdm_k64f, they are all the pyocd runner in the supported runner list, but some successful tests judged as failed sometimes.
I found that test device handler ran
 "subprocess.check_output(command, stderr=subprocess.STDOUT)",
it will cause a subprocess error, rais

[2019-12-03 08:22] rlubos commented on #12718
Secure sockets use mbedTLS' CTR-DRBG generator, which is configured to use Zephyr entropy subsystem as an entropy source.

By `we use Zephyr entropy subsystem directly` I meant that we do not pipe it through mbedTLS' entropy module (which to my understanding can collect entropy from multiple sources), not that we use it as a RNG.

[2019-12-03 08:41] erwango commented on #21119
Another nice improvement would be to enable search across modules, which I haven't been able to get working so far (while it is somewhat documented).

[2019-12-03 10:12] tbursztyka commented on #20484
It's a test logic vs hw irq specs issue:

On hw config side:
CONFIG_NUM_IRQS 174
And:
DT_INST_0_MICROCHIP_XEC_WATCHDOG_IRQ_0=171

But the test code tries this (line 258):

IRQ_CONNECT(IRQ_LINE(ISR3_OFFSET), 1, isr3, ISR3_ARG, 0);

IRQ_LINE(ISR3_OFFSET) giving also 171

I don't think it's relevant to enabled watchdog for this test (unless you want to detect such collision at built time, which is pe

[2019-12-03 10:16] ioannisg commented on #21095
This looks like a false-positive to me: SysTick_IRQn is always (or should always be) an element in the IRQn_Type enumeration, defined in vendor CMSIS and NVIC_SetPriority() takes an IRQn_Type as argument.
@pabigot @galak  could you look at it so we can, hopefully, close this one?

[2019-12-03 11:03] tbursztyka commented on #20535
false positive

[2019-12-03 11:03] #20535 closed

[2019-12-03 11:10] Laczen commented on #20629
I can confirm the reported bug. I don't understand the reason that the `commit` calls a 'save`, I think it should be the bt_id_create() that calls the `save`.

[2019-12-03 11:32] Laczen commented on #20629
Or maybe the save should be called only when there was no `bt_dev.id_count` in the commit routine.

[2019-12-03 11:34] anangl opened #21126 "drivers: spi_nrfx_spim: Incorrect handling of extended SPIM configuration"
**Describe the bug**
Extended SPIM configuration (needed by the `SPI_3_NRF_RX_DELAY` Kconfig option) is not handled correctly in `spi_nrfx_spim.c`. In result, no other SPIM instance can be enabled together with SPIM3.

**To Reproduce**
1. In the `hello_world` sample, add the following lines to `prj.conf`:
[code]
and create a file named `nrf52840_pca10056.overlay` with the following content:
[code]

[2019-12-03 11:48] jukkar commented on #21025
Confirmed, the device starts to behave well after setting `CONFIG_WDT_DISABLE_AT_BOOT=y`. I wonder why I saw reboots when I disabled watchdog earlier. Anyway, thanks for the hint, that was really helpful.

[2019-12-03 12:08] stephanosio commented on #21025
For SAM 7 series SoC, watchdog is enabled by default on reset (`WDT_MR.WDDIS=0`), so unless you explicitly disable it by enabling the watchdog driver and explicitly setting `CONFIG_WDT_DISABLE_AT_BOOT=y`, watchdog will reset the SoC.

This is extremely un-intuitive and should be fixed.

A related discussion can be found here:
https://github.com/zephyrproject-rtos/zephyr/pull/20607#issuecomment-560

[2019-12-03 12:21] pabigot commented on #21095
I agree it's bogus just based on the call, but I don't understand how Coverity could get here.  `SysTick_IRQn` is always -1, and the branch in `NVIC_SetPriority` that assigns into a 240-element array requires the `int32_t` value of `IRQn` be non-negative.  The other branch deals with the `SHP` array which is always smaller.

[2019-12-03 12:36] pabigot commented on #21025
Whether it's intuitive or not depends on perspective.  A case can be made either way (all boards behave the same; all boards behave in the way each vendor designed them to behave).  I completely agree it's annoying.

If you @stephanosio want  create an issue to discuss this I think that's reasonable, but since the watchdog API is "stable" changing its behavioral definition (currently vendor-orient

[2019-12-03 12:57] stephanosio commented on #21025
@pabigot By un-intuitive, I was referring to the fact that watchdog H/W is enabled and resets SoC when the watchdog driver is not enabled on SAM 7X (`CONFIG_WDT_SAM=n`). I think the watchdog API itself is fine in this case.

For a "fix", I was thinking something like doing `wdt->WDT_MR |= WDT_MR_WDDIS` when `CONFIG_WDT_SAM=n` in SoC init code, to ensure that watchdog H/W does not misbehave when th

[2019-12-03 13:08] stephanosio commented on #21025
@pabigot @ioannisg Is this using SAME70 Xplained or some other board? I have tested `tests/kernel/sched/schedule_api/kernel.sched` on two Xplained boards (one from 2017 and another we just bought) and they both fail this test.

[2019-12-03 13:10] pabigot commented on #21025
Changing the init code for all SOCs that have a watchdog that's enabled in hardware to disable it on platform initialization if the watchdog driver isn't enabled makes some sense initially.

But the existing behavior allows for applications to provide their own watchdog control when `CONFIG_WDT_SAM=n`.  I don't think unilaterally disabling it just because Zephyr's driver isn't enabled is unconditi

[2019-12-03 13:15] nashif commented on #21119
This should already be supported using the .editorconfig file we have in the tree. That works for me. Alternativly, you could set this directly:

https://code.visualstudio.com/docs/getstarted/settings#_language-specific-editor-settings

[2019-12-03 13:20] SuperPrower opened #21130 "west: runners: Keyboard Interrupt shouldn't kill the process"
**Describe the bug**
Currently, when using `west {debug,attach}` (at least with blackmagicprobe runner), pressing Ctrl-C will kill the runner process and child process. However, this is not be desirable when using GDB or other utilities that catch and use interrupt as a part of debugging process.

**To Reproduce**
[code]

**Expected behavior**
Keyboard Interrupt should be passed to the child proce

[2019-12-03 13:20] SuperPrower opened #21139 "west: runners: blackmagicprobe: Keyboard Interrupt shouldn't kill the process"
**Describe the bug**
Currently, when using `west {debug,attach}` (at least with blackmagicprobe runner), pressing Ctrl-C will kill the runner process and child process. However, this is not be desirable when using GDB or other utilities that catch and use interrupt as a part of debugging process.

**To Reproduce**
[code]

**Expected behavior**
Keyboard Interrupt should be passed to the child proce

[2019-12-03 13:23] dleach02 commented on #21095
Yes. I've been digging on this for a bit as well. I was at the same place @pabigot is with the -1 and branch in set priority.

It would be useful if we could get the package that was submitted to coverity for this report. The number of false positives like this type should be debugged a bit with coverity so we can figure out why they happen and avoid the time sync that occurs when we triage them.

[2019-12-03 13:24] jsiverskog opened #21131 "Bluetooth: host: Subscriptions not removed upon unpair"
**Describe the bug**
When having a central being connected (and bonded) with one peripheral at a time, it's not possible to unpair and then reconnect/pair to a second device without allocating a `struct bt_gatt_subscribe_params` per connection.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a BLE central device with `CONFIG_SMP=y` and `CONFIG_BT_SETTINGS=y`
2. Connect and pair/bon

[2019-12-03 13:28] jsiverskog commented on #21103
related: https://github.com/zephyrproject-rtos/zephyr/issues/21131

[2019-12-03 13:30] ioannisg commented on #21095
Let's keep this open but remove the bug/priority labels

[2019-12-03 13:31] aescolar commented on #21130
CC @mbolivar

[2019-12-03 14:07] antfobe commented on #20355
@jukkar, could you assign this issue to someone that is related to xtensa development in zephyr? - or if you were able to make any network example work, post the steps to reproduce your working example?

[2019-12-03 14:16] jukkar commented on #21025
Fully agree here. For me the sam-e70 is unusable if I do not set `CONFIG_WDT_DISABLE_AT_BOOT=y`, could we set it by default for this board?

[2019-12-03 14:16] abrodkin opened #21136 "ARC: Add support for reduced register file"
ARC cores could be configured with reduced set of core registers and in the deeply embedded world that's pretty typical configuration.

Given GCC for ARC supports such a configuration via `-mrf16` option we just need to accommodate quite a few missing registers in hand-written assembly.

It's not that we're going to do it with the highest priority right now but whenever we have an empty time-slot

[2019-12-03 14:26] stephanosio commented on #21025
@pabigot @jukkar I will create a PR addressing this issue (i.e. disabling the watchdog when the watchdog driver is not used with Kconfig option to leave it enabled if application desires).

[2019-12-03 15:11] galak commented on #20490
@erwango any thoughts/comments?

[2019-12-03 16:03] erwango commented on #20490
Shouldn't we do something like :
[code]

Seems function `stm32_dma_get_fifo_threshold` is meant to provide threshold value, but return value is not used.

[2019-12-03 16:36] carlescufi commented on #21111
As  @pabigot notes, this seems to be inconsistent with the diagram he [links to](https://docs.zephyrproject.org/latest/reference/kernel/scheduling/index.html#cooperative-time-slicing) assuming in the diagram the ISR is using `k_sem_give()` to make Thread 2 ready. Thoughts @andyross ?

[2019-12-03 16:45] pabigot commented on #21111
I think it's fine.  "reschedule" doesn't mean "force a context switch".  See https://github.com/zephyrproject-rtos/zephyr/pull/20919#issuecomment-561139198

To discuss but I think this issue can be closed as redundant with #18970, unless it turns out we can't define the behavior in terms of standard feature sets, in which case we can address it then.

[2019-12-03 16:48] jukkar commented on #20355
[code]
Lets pick dcpleung from the list.

[2019-12-03 16:58] carlescufi commented on #21115
@dcpleung I prefer single repos too, but there were just too many issues with that in the context of Zephyr.

Repo created: https://github.com/zephyrproject-rtos/hal_xtensa

[2019-12-03 16:58] #21115 closed

[2019-12-03 16:59] carlescufi commented on #21058
@kipm-ot will you send a PR for this?

[2019-12-03 17:27] aep opened #21148 "nrf51: uart_1 does not compile"
nrf52840_pca10056 doesn't seem to compile with uart1 enabled

i suspect this dts is wrong in boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts
[code]

because uart1 is UARTE

changing it to uarte makes it compile just fine. it still doesnt work at runtime tho (no output), so probably something else missing.

how to reproduce:

enable UART_1_NRF_UARTE

[code]

[code]

[2019-12-03 17:38] nashif commented on #20484
closing.

[2019-12-03 17:45] dcpleung commented on #20355
The sample is not whitelist-ed to run on `qemu_xtensa` as indicated in `sample.yaml`. This is probably due to lack of UART driver for `qemu_xtensa`. Can you confirm that the fault instruction address (PC, in your example 0x600092d0) in `zephyr/zephyr.lst` points to `api->poll_in(dev, p_char)` in `z_impl_uart_pool_in()`?

[2019-12-03 17:45] dcpleung commented on #21115
@carlescufi Thank you. :)

[2019-12-03 17:53] mbolivar commented on #21139
@SuperPrower thanks for the detailed report.

This is only a problem with the blackmagicprobe runner, so I've renamed the issue title.

Root cause details:

The other runners tend to use run_server_and_client() to properly handle this, since they start a GDB server and connect to it with a client. The BMP USB device presents itself as a serial device which speaks the GDB serial protocol instead, s

[2019-12-03 18:05] antfobe commented on #20355
Yes, I think this confirms it:
![image](https://user-images.githubusercontent.com/13102173/70076744-325b7900-15de-11ea-96e9-369b5a182da1.png)

[2019-12-03 18:10] carlescufi commented on #21045
@JeffLangballe does it work if you add:
`#include <sys/util.h>`
as the first line?

[2019-12-03 18:14] nashif commented on #12553
closing as this was resolved in different places.

[2019-12-03 18:14] #12553 closed

[2019-12-03 18:20] SuperPrower commented on #21139
@mbolivar thanks for explaining. I am unfamiliar with other flashing/debugging methods and tried to make no assumptions in the issue description.

Yes, the fix works for me, thanks. I can Ctrl-C the execution without killing the GDB.

[2019-12-03 18:25] dcpleung commented on #20355
According to http://wiki.osll.ru/doku.php/etc:users:jcmvbkbc:qemu-target-xtensa, the sim platform does not seem to have serial support (contrary to other platforms having 16550s).

Closing this as this is not a problem of Zephyr but a lack of feature in QEMU.

[2019-12-03 18:25] #20355 closed

[2019-12-03 18:26] #21126 closed

[2019-12-03 18:29] d3zd3z commented on #15729
What about flash drivers that don't ever need to write to the flash. For example, some flash drivers, writes are entirely done through the controller. I would assume these would just never call this API.

[2019-12-03 18:31] d3zd3z commented on #15738
Have we considered trying to find if there is a NIC that Qemu is able to emulate, that has a driver for Zephyr? In that configuration, we'd had a lot more options, and the networking would be managed by Qemu, say through tun/tap or equivalent mechanisms on Mac.

[2019-12-03 18:33] #20802 closed

[2019-12-03 18:33] d3zd3z commented on #1583
I fear this limitation is going to become more significant. I'm already seeing several devices that have a write alignment of 512. I don't know if this can be address with NFFS, or if there is possibly another filesystem that might handle these devices?

[2019-12-03 18:34] #20497 closed

[2019-12-03 18:37] andyross commented on #21114
For clarity: if CONFIG_SYS_POWER_MANAGEMENT is not configured, and no other changes are made to the kconfig, the symptoms go away?

And what features are you looking at getting from the PM settings?  I'll admit I don't know the atmel hardware well, but a quick grep in the tree seems to be telling me that there is no soc-specific PM support for atmel_sam0 at all.

The linked bug in #21092 has what

[2019-12-03 18:37] d3zd3z commented on #16023
Is [MCUboot pr#478](https://github.com/JuulLabs-OSS/mcuboot/pull/478) sufficient to fix this? If not, this should probably be filed as an issue with MCUboot, as it should not be leaving the hardware in a state where unexpected interrupts can come in.

[2019-12-03 18:39] markusr commented on #21119
There is a closed issue https://github.com/zephyrproject-rtos/zephyr/issues/17645 with some configs for vscode. Maybe it helps.

[2019-12-03 18:40] mbolivar commented on #21139
Your report was excellent. Thanks again, and thanks for testing!

[2019-12-03 18:42] d3zd3z commented on #16439
Unlike writes, it should always be safe for the driver to read more data is then only return the data the user has requested. I think this change is a good idea.

[2019-12-03 18:43] d3zd3z commented on #16444
If #16439 is implemented, then this issue would not be relevant.

[2019-12-03 18:46] ceolin commented on #18452
False positive - `ring_buf_get` calls `ring_buf_get_claim` that checks if the requested size is bigger than available space.

[2019-12-03 18:49] antfobe commented on #20355
Reading the page above, the lx200 machine should support UART, by modifying ninja's call to qemu in `build/build.ninja` to:
`/opt/zephyr-os/zephyr-sdk/sysroots/x86_64-pokysdk-linux/usr/bin/qemu-system-xtensa -machine lx200 -semihosting -nographic -cpu sample_controller -net none -pidfile qemu.pid -serial mon:stdio -kernel /opt/zephyr-os/zproj/build/zephyr/zephyr.elf`
The build still panicked:
![im

[2019-12-03 18:51] d3zd3z commented on #16472
I believe this analysis is correct. Entropy/random is not necessary to verify signatures, and it is reasonable for an embedded device to be configured for only this situation. Both entropy and a CPRNG would be needed to sign images or generate keys. Hopefully this aspect will get cleaned up by upcoming random/entropy changes.

BTW, is this fixed by #19471.

[2019-12-03 18:53] dcpleung commented on #20355
There is still no driver in Zephyr, and so nothing for the shell to attach. This results in the shell calling UART function with a NULL device pointer.

[2019-12-03 18:56] d3zd3z commented on #17314
There is an example in `samples/net/google_iot_mqtt`, although this just uses the socket interface.

I fear that an example would quickly grow out of date, and that security issues in it would not be addressed, and I think this is better served by making sure there is a good working example in the tree.

As far as the question. DTLS in mbed TLS can be configured, and can use pre-shared keys based

[2019-12-03 18:57] antfobe commented on #20355
I see - well, at least I managed to get some networking with [espressif's qemu](https://github.com/espressif/qemu/wiki)
Maybe zephyr will have this driver in the future, thanks anyway.

[2019-12-03 19:00] sslupsky commented on #21114
The sleep states described in #21092 are what I am using for SAM0 power management.  I forgot to mention that I disabled the SysTick and replaced it with the RTC following some of of the work I found in the Zephyr codebase related to the nRF5x.  So, the RTC runs at 32KHz and I derive the "tick" from the RTC.  I have tested this and it appears to work.  I modified the clock configuration in soc.h a

[2019-12-03 19:01] carlescufi commented on #1583
AFAIK NFFS hasn't seen any work recently and we should probably deprecated. Instead littlefs, which is already integrated into Zephyr, should be a good replacement. I assume that littlefs doesn't have this limitation @pabigot @nvlsianpu ?

[2019-12-03 19:09] andyross commented on #21114
But if you use the same RTC driver without SYS_POWER_MANAGEMENT=y, you get reliable behavior?

@bendiscz is the author of that RTC driver.  I don't know the hardware, any ideas about whether there might be an interaction with the power management driver detailed here?  This definitely smells like a hardware/driver level thing to me.

[2019-12-03 19:16] Laczen commented on #16472
Yes, this is fixed

[2019-12-03 19:16] #16472 closed

[2019-12-03 19:19] dcpleung commented on #20355
If you can figure out the MMIO address, you can try enabling the existing 16550 driver and see if it works.

[2019-12-03 19:21] sslupsky commented on #21114
Yes, if sys_pm_force_power_state(SYS_POWER_STATE_ACTIVE) is executed, system PM is forced "ACTIVE" and none of the system PM sleep states are used.

Everything "appears" to work well from a driver perspective.  Timing appears to be fine if I do not use more than one kernel timer.  Do kernel timers use other hardware timers?

I am new to Zephyr so have been climbing a steep learning curve on this s

[2019-12-03 19:59] nashif commented on #18452
please close and mark it as such in coverity :)

[2019-12-03 20:07] #21074 closed

[2019-12-03 20:10] ceolin opened #21155 "Port drivers to use sys/ring_buffer"
There are some drivers that are implementing their own ring_buffer, there are cases where even functions names are colliding with sys/ring_buffer.

Drivers doing it:
`drivers/ethernet/eth_sam_gmac.c`
`drivers/i2s/i2s_sam_ssc.c`
`drivers/i2s/i2s_ll_stm32.h`

[2019-12-03 20:15] #21139 closed

[2019-12-03 20:22] andyross commented on #21114
Can you log/trace the calls to z_clock_set_timeout() and the ISR in the RTC driver and make sure the arguments look correct (i.e. if you're told to set a timeout for 82 ticks that the ISR fires 82 ticks later, etc...)?

From the kernel's perspective, nothing changes with regard to the way the timer driver is used.  You should see the same sequence of calls with the same arguments (assuming determi

[2019-12-03 20:47] dleach02 commented on #20792
per discussion in release meeting #20950 has been approved and merged and the priority of this issue has been set to low for now

[2019-12-03 20:58] dcpleung opened #21156 "Interrupts do not work on UP Squared board"
**Describe the bug**
`samples/boards/up_squared/gpio_counter` no longer works on UP Squared due to interrupts no longer being delivered.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/boards/up_squared/gpio_counter/
2. mkdir build; cd build
3. cmake -DBOARD=up_squared
4. make
5. Set BIOS configurations described inside `src/main.c`.
6. Boot the Zephyr image according to documenta

[2019-12-03 21:37] ceolin commented on #18452
have already done it there.

[2019-12-03 21:37] #18452 closed

[2019-12-03 22:10] nslowell opened #21158 "Giving Semaphore Limit+1 can cause limit+1 takes"
**Describe the bug**
It appears that if a single thread's loop includes waiting on k_sem_take() of a semaphore with limit X, if another routine (like an IRQ function) calls k_sem_give() X+1 times, the thread will be able to run X+1 times even though it should only run X times.

The true example: I have a single looping thread calling k_sem_take() on a semaphore with a max of 1.  When the count is

[2019-12-03 22:53] henrikbrixandersen commented on #21010
Perhaps we could just add defines for the warning and error levels to header file? The Linux API for this is not the best either, I agree.

[2019-12-03 23:08] pabigot commented on #1583
littlefs allows you to specify the size (and implied alignment) of both read and program operations.  https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/subsys/fs/littlefs/src/testfs_lfs.h and related files show how to configure the filesystem.  The default configuration uses 16-byte transfers.

[2019-12-04 02:02] Y-U-KAY opened #21161 "question: openthread with other boards"
Hello everyone!
I have read that -
OpenThread becomes functional and integrates with all of the platforms Zephyr supports.
(https://www.prnewswire.com/news-releases/the-zephyr-project-announces-openthread-as-the-first-thread-protocol-implementation-to-integrate-with-zephyr-rtos-300604447.html)

Can I use other platforms? I want to use echo_server/client with my host boards that are not arm-based a

[2019-12-04 02:18] jcmvbkbc commented on #20355
UART base address is 0xfd050020 in lx60/lx200/ml605/kc705 machines.

[2019-12-04 02:47] maksimmasalski opened #21162 "Sanitycheck corrupted test case names in test-report.xml files"
**Describe the bug**
Sometimes during the Sanitycheck I receive test results .xml files with the corrupted test case names. Inside of .xml file among test cases with proper names, can be detected names like that one below.
`sys.mutex.nouser.thread_06@119. Failed to take mutex 0x20002288`

**To Reproduce**
1. It was a sanitycheck run for the board qemu_cortex_m3 during the master build master-2019-

[2019-12-04 03:17] hakehuang commented on #20749
@agansari , do you notice that in this application we expect both IPV4 and IPV6 dns resolved, however, there is only IPV6 DNS resolved, why no IPV4 DNS resolved?

[2019-12-04 03:18] maksimmasalski commented on #21162
Today I will check to run full sanitycheck cycle for that boards, to see if the error can be reproduced.

[2019-12-04 03:26] hakehuang commented on #20749
@anangl ,  ok, seems this application only works in dhcpv6 mode.

[2019-12-04 03:26] #20749 closed

[2019-12-04 03:29] chen-png commented on #20686
run "fxsave _thread_offset_to_preempFloatReg(%edx)",
(gdb) x $edx
0x178578 <_interrupt_stack+5496>:  0x00000000
and I find the _thread_offset_to_preemFloatReg is 0x90(0x80+0x10) in generated/offset.h file.
for the "fxsave m512byte" destination operand contains the first byte of the memory image, and it must be aligned on a 16-byte boundary. A misaligned destination operand will result in a general

[2019-12-04 04:46] dleach02 commented on #21156
Change was reverted.

[2019-12-04 06:55] agansari commented on #20749
@hakehuang it works with both ipv4 and ipv6, the problem is enabling DCONFIG_NET_DHCPV4 which conflicts with sample's dhcp setup.

[2019-12-04 07:06] Campou opened #21165 "Bluetooth: Mesh: Friend Clear message from a Friend node"
In Zephyr's implementation, when a Friend node tries to send the Friend Clear message to another Friend node, it will use the master security material from `bt_mesh.sub[0]`, and the code is:
[code]
Here, is there any chance that the other Friend node is not on the same subnet?

Thanks.

[2019-12-04 07:14] jukkar commented on #15738
For x86, the Qemu supports Intel e1000 network card and we have a driver for that in Zephyr. For ARM based Qemu, there is for example stellaris ethernet driver support in Zephyr.
I do not have a mac, so cannot really comment how much changes would be needed in host side setup script. If you want to investigate this, the net-tools project has `net-setup.sh` script that is used to setup the host sid

[2019-12-04 07:34] tuobaye1988 commented on #21121
Hi， I have same question

[2019-12-04 07:44] kipm-ot commented on #21058
@carlescufi yes I am preparing the PR :)

[2019-12-04 08:10] stephanosio opened #21167 "libraries.libc.newlib test fails"
**Describe the bug**
`tests/lib/mem_alloc/libraries.libc.newlib` test fails **when actually building with the newlib**.

`NEWLIB_LIBC_NANO` config defaults to y (when building with the GNU ARM Embedded toolchain) and `prj_newlib.conf` does not set `NEWLIB_LIBC_NANO=n`, so the `libraries.libc.newlib` test was linking with the newlib nano variant (`libc_nano.a`) instead of the normal variant (`libc.

[2019-12-04 08:11] stephanosio commented on #21167
cc @andrewboie @andyross @ioannisg

[2019-12-04 08:25] chen-png commented on #20686
without the CONFIG_COVERAGE,  I found the defined struct k_thread dummy_thread in z_cstart function address is 0x13e570<interrupt_stack+5488>, this is aligned to 16 bytes boundary.
(gdb) p _kernel
irq_stack=0x143800<interrupt_stack+26624>, current=0x13e570<interrupt_stack+5488>

however, when i enable the CONFIG_COVERAGE, the dummy thread address is 0x178578<interrupt_stack+5496>, not aligned to 1

[2019-12-04 08:42] aescolar commented on #21165
CC @jhedberg

[2019-12-04 08:43] aescolar commented on #21158
CC @andyross @andrewboie

[2019-12-04 08:53] anangl commented on #21148
@aep
I cannot reproduce this. The sample (`samples/subsys/shell/shell_module`) builds fine for me with `UART_1` enabled (I set `CONFIG_UART_1_NRF_UARTE=y` in this sample's `prj.conf`).

But looking at the console output you provided, I don't entirely get one thing (I divided the original line into three for better visibility):
[code]
Have you changed the `compatible` property in the `uart1` node t

[2019-12-04 08:57] aep commented on #21148
well,... embarrassing. Apparently i broke this. it works fine with a fresh clone and going through my own repro steps. sorry :/

[2019-12-04 08:57] #21148 closed

[2019-12-04 09:12] panmasuo opened #21171 "Module Request: Optiga Trust X"
Request for repo for Optiga Trust X security chip.

Name of repo: optiga-trust-x

[Optiga Trust X framework](https://github.com/Infineon/optiga-trust-x)
[Discussion on mailing list](https://lists.zephyrproject.org/g/devel/topic/add_support_optiga_trust_x/54228013)

I managed to port this library with Zephyr's mbedTLS and exclude "internal" mbedTLS to avoid redundancy with library.
All examples inc

[2019-12-04 09:15] anangl commented on #21148
No worries. It happens. Good that we managed to solve this quickly and now it works for you.

[2019-12-04 09:32] nvlsianpu commented on #1583
That's right. NFFS should be deprecated - it has serious bugs by design.

[2019-12-04 10:05] carlescufi commented on #21121
@Jeepgoing Zephyr only supports the USB Device role, not USB Host.

[2019-12-04 10:08] carlescufi commented on #20987
@nzmichaelh or @benpicco do you have any additional insight in this issue?

[2019-12-04 10:39] nvlsianpu commented on #20629
BT_DEV_PRESET_ID bit causes that 'bt/id` key is not loaded from the storage and bt_dev.id_count is never assign. so bt_dev.id_count keep 0 values, which causes generation of new ID and attempt to write it to the settings storage. somehow new ID must be always different than the old one...

What `BT_DEV_PRESET_ID` flag suppose to do?

[2019-12-04 10:39] #21045 closed

[2019-12-04 10:54] rlubos commented on #21161
Hi @Y-U-KAY,

The guide you've posted refers to bare-metal OpenThread applications and does not apply in Zephyr. The OpenThread platform abstraction mentioned in the guide is already implemented for Zephyr, and is built on top of several Zephyr APIs (https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/net/lib/openthread/platform).

In order to run OpenThread on your platform, you need

[2019-12-04 11:19] joerchan opened #21177 "Long ATT MTU reports wrong length field in write callback."
**Describe the bug**
When exchanging an ATT MTU field larger than 256 bytes the write callbacks report wrong length field when receiving larger MTU packets.
A write command of length 517 will be report as length 2. This means that the application is not properly informed about the length of received data and data is then lost.

**To Reproduce**
Steps to reproduce the behavior:
Negotiate ATT MTU la

[2019-12-04 12:29] jhedberg commented on #21165
Thanks for the report @Campou. I think the above code is not quite right - it should probably be `.sub = bt_mesh_subnet_get(frnd->net_idx)`.

[2019-12-04 12:39] cybertale commented on #20490
Yes, this is a potential bug I missed, I'll start fixing this now.

[2019-12-04 12:44] erwango opened #21179 "Reduce RAM consumption for civetweb HTTP sample"
**Is your enhancement proposal related to a problem? Please describe.**
Current configuration for Civetweb HTTP sample requires too much RAM (>230K), which prevents it from being run on wide number of targets.

This choice was deliberate at PR introduction (https://github.com/zephyrproject-rtos/zephyr/pull/17019) as described in this [comment](https://github.com/zephyrproject-rtos/zephyr/pull/1701

[2019-12-04 13:37] pabigot opened #21181 "devicetree should support making properties with defaults required"
A relatively common idiom in devicetree bindings is to define a property that is optional in the base binding, and made required in a binding that extends the base.  An existing example is the `ngpios` property in `gpio-controller.yaml`, which is made required for specific controllers that have been updated to support it.

To simplify the process of updating drivers that need the property without

[2019-12-04 13:42] wentongwu commented on #20770
@INemesisI is it good for your case if configure logger in thread mode?

[2019-12-04 13:57] Y-U-KAY commented on #21161
@rlubos Thank you for your responses!

Is it not necessary to use the devices that have been ported in the OpenThread repository?
Openthread required `flash` for firmware image. If I don't use the devices that have been ported in the OpenThread repository, is `flash` necessary?

[2019-12-04 15:02] pabigot opened #21185 "zero-latency IRQ behavior is not documented?"
ARM zero-latency IRQ functionality was added some time this year, but there appears to be no documentation on what it does and its interaction with other thread and interrupt behavior.

From what I can tell, zero-latency IRQs will be taken even when interrupts are disabled, and there is a hint that meta-irq priority threads in the future may be given control from a zero-latency IRQ.

It would help

[2019-12-04 15:03] joerchan opened #21186 "Gatt discover callback gives invalid pointer to primary and secondary service UUID."
**Describe the bug**
Two issues related to using the UUID_DECLARE and then assigning a pointer that has a different scope that the declared variable.

1. The discovery callback giving a pointer to a variable that has been
declared in a scope that is no longer valid. This causes undefined
behavior as the memory pointed to can get corrupt at any time.

2. Giving an invalid pointer during gatt_find_t

[2019-12-04 15:04] aescolar commented on #21185
Triaging as low: This would seem borderline and enhancement

[2019-12-04 15:04] aescolar commented on #21185
CC: @ioannisg

[2019-12-04 15:14] nashif commented on #21185
[code]

Maybe should be extracted and expanded on in https://docs.zephyrproject.org/latest/reference/kernel/other/interrupts.html

[2019-12-04 15:19] nashif commented on #21123
@chen-png This is tricky to resolve when dealing with hardware and flashing in parallel, I suggest to always use `--retry-failed 3` to re-run the failing tests, usually this will pass in the second try.

[2019-12-04 15:22] galak commented on #21181
I'd say something along these lines makes sense to me.

[2019-12-04 15:23] nashif commented on #21123
Also, please check this out: #21096 , it now does better error reporting when flashing.

[2019-12-04 15:44] stephanosio commented on #21167
Note that this issue will be relevant to the Zephyr SDK as well in the near future, as https://github.com/zephyrproject-rtos/sdk-ng/pull/153 builds the normal newlib (`libc.a`) without `--enable-newlib-nano-malloc`.

`--enable-newlib-nano-malloc` is only specified for the nano variant (`libc_nano.a`).

[2019-12-04 15:55] andyross commented on #21158
This is a priority inversion bug in your app, I think.  The behavior per specification sounds correct to me: in the high priority process (which happens to be an ISR, but could be anything) the first call to `k_sem_give()` unpends the waiting thread and makes it runnable, leaving the semaphore count at zero.  The second call sees a semaphore with a count of zero and increments it, so the low prior

[2019-12-04 15:56] bcdonovan opened #21187 "Can not ping or run http server via ethernet when gPTP is enabled"
**Describe the bug**
I have a small application which combines the gPTP example and the dumb_http_server example. I have merged both code and the respective prf.conf entries.

I can run gPTP or the http server but not both.

When gPTP is enabled (via CONFIG_NET_GPTP=y) then I can not ping the device and the http server does not respond. This is true with or without a gPTP grand master operating (A

[2019-12-04 16:14] ulfalizer commented on #21181
Think this might've been based on a misunderstanding. See https://github.com/zephyrproject-rtos/zephyr/pull/20115#discussion_r353763791.

[2019-12-04 16:18] pabigot commented on #21181
No, I did misunderstand, but the accepted workaround will break if the type of the property changes between where the default is specified and where required is added.  Unless I misunderstand again.

I think "Complain only when the required and default appear in the same YAML file" is the place to put this validation.  I understand that means checking this is not trivial, so "Stop complaining" is

[2019-12-04 16:28] ulfalizer commented on #21181
Currently, you'll get an error if you try to change anything from an included file besides changing `required: false` to `default: true`, so more things would have to change.

I suspect it won't be needed though. Changing the type feels a bit hackish.

Could look into it if a case comes up where it seems to be the best solution.

[2019-12-04 16:49] ulfalizer commented on #20915
Done now. See https://github.com/zephyrproject-rtos/zephyr/pull/21133, which moves lots of Kconfig documentation into its own dedicated section in User and Developer Guides, with links from e.g. Application Developmend the board porting guide.

[2019-12-04 17:01] jukkar commented on #21179
This is not correct atm. There is a light weight HTTP client API that is currently used by the Websocket client library. The API can be found in `include/net/http_client.h` and `include/net/websocket.h` header files, the code can be found at `subsys/net/lib/http` and `subsys/net/lib/websocket` directories.

[2019-12-04 17:09] jukkar commented on #21187
Interesting issue. There should not be anything in networking stack that would prevent IP protocols from working if gPTP is enabled. I will try this with my TSN setup tomorrow when I have access to my test network.

[2019-12-04 17:15] ulfalizer commented on #18169
Has been fixed.

[2019-12-04 17:15] #18169 closed

[2019-12-04 17:17] ulfalizer commented on #8539
Categorized by path now that https://github.com/zephyrproject-rtos/zephyr/pull/20322 is in.

Could probably be tweaked further, but closing now that the support is there.

[2019-12-04 17:17] #8539 closed

[2019-12-04 17:26] MarcDorner commented on #21171
Hi,
I am currently also working on a port of the [OPTIGA Trust M Framework](https://github.com/Infineon/optiga-trust-m) for Zephyr. Right now my port is not within this repository but will follow in the next weeks.

Since @panmasuo's work and mine are quite similiar but are targeted at different OPTIGA Trust chips/frameworks, I had a structure like the following in mind within the Zephyr Project r

[2019-12-04 18:08] #21177 closed

[2019-12-04 18:14] #21131 closed

[2019-12-04 19:39] sslupsky commented on #21114
I'm still working on this.  I have dug a little deeper and I think I have found an issue in z_add_timeout().  When using a periodic timer, (a timer that keeps running), I think one expects that the time period remains constant between timer expiry.   The way z_timer_expiration_handler() and z_add_timeout() are implemented, they determine the time of the next timeout relative to the time the functi

[2019-12-04 19:49] erwango commented on #21179
Thanks, I have missed that. I'll have a look, tough the concern for civetweb is still valid (but less important maybe).

[2019-12-04 20:07] andyross commented on #21114
I'm not sure I understand the test case. Those log messages are prefixed with timeouts that are generated using the same subsystem that is interpreting the ticks.  If you're seeing skew between timeout expiration and a call to current time, something bad is going on[1].  **By definition**, a call to get the current uptime (in ticks) from within a timeout handler should return exactly the expiratio

[2019-12-04 21:50] jhedberg commented on #20629
It's supposed to track whether the application explicitly created identities before calling bt_enable() in which case those identities take precedence over anything that might be stored in flash.

The code in the `commit()` function looks buggy to me - it seems it was introduced by commit 2b84c726c8893eaaa1bf26dfddf2798b159cd47d so I hope @joerchan can provide some clarity on this. It seems to me

[2019-12-04 23:50] sslupsky commented on #21092
I have another observation regarding the sam0 i2c driver.  It appears that the i2c bus can be left in a non idle state.  This is a problem because the SCL and/or SDA lines can be held low by the sam0 during and after sleep resulting in significant current (>500uA) due to the pull up resistors on these lines.

I have not isolated what is causing this issue but I have confirmed using an oscilloscope

[2019-12-05 01:13] chen-png commented on #21123
@nashif  thanks, i will have a try.

[2019-12-05 01:46] cvinayak commented on #21107
@LeBlue Is this issue reproducible with CONFIG_LOG=n and CONFIG_SERIAL=n ? Also, otherwise, could you try with updating the BT_CTLR_RX_PRIO_STACK_SIZE value from 448 to something higher say 1024 and try.

Its here https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/Kconfig#L152

[2019-12-05 01:47] nashif commented on #21162
moving up to medium, this bug is causing sanitycheck to produce inconsistent test results when something fails.

[2019-12-05 01:49] maksimmasalski commented on #21162
I'm in process of checking your fix #21191 , I need time to verify it, to understand if it will help on 100%.

[2019-12-05 03:54] Campou commented on #21165
Hi @jhedberg

Thanks for the reply. And one more question here:

When LPN tries to send Friend Request to all-friend nodes, it will use the NetKey from `bt_mesh.sub[0]`, is it possible here that users can choose a different NetKey for the Friend Request, i.e. maybe using the `net_idx` as a parameter when sending the Friend Request?

BR

[2019-12-05 05:17] chen-png commented on #21123
I set the --retry-failed as 2, then run all tests on reel_board and frdm_k64f, the failed tests number from 22 reduce to 5, and finally reduce to 4, the same as the expected result.

[2019-12-05 06:40] jukkar commented on #21179
Lowering the priority as there is alternative implementation available for HTTP client side. For server side HTTP support there is nothing else available atm.

[2019-12-05 07:03] jhedberg commented on #21165
@Campou currently, to keep the code simple, the LPN implementation only supports establishing Friendship on the primary subnet. If you have a requirement to support Friendship on multiple subnets you are welcome to submit a PR. I'm not sure it makes sense for an LPN to establish Friendship on only part of its subnets, since it would be unable to operate using low power otherwise. Even having Frien

[2019-12-05 07:54] jukkar commented on #21187
Tested this in `sam-e70` with echo-server and gptp, and did not see any issues with IP connectivity. I was not able to test the setup with `frdm-k64f` or `mimxrt1050_evk` because the console was not working and network interface was always down, dunno what is wrong there (this was with latest upstream).

I tested this scenario like this:
[code]
Then from host terminal, I launched echo-client like

[2019-12-05 08:06] agansari commented on #21187
@jukka thank you for testing, what you say it's eth_mcux issue and not a networking stack problem.

[2019-12-05 08:10] jukkar commented on #21187
Well, it certainly looks like that.

[2019-12-05 08:20] jukkar commented on #21016
No, IPv6 was enabled all the time but that does not matter here as ARP is IPv4 only protocol.

[2019-12-05 08:57] Oanerer commented on #21016
@jukkar : could you please connect your SAM E70 Xplained board with `CONFIG_NET_ARP_TABLE_SIZE=2` to a busy company network (lots of ARP traffic etc flying around). Next please observe through Wireshark if you see similar patterns as dferbas and me encountered when a Windows 7 system is trying to get an IP address through DHCP (and fails to do so because of duplicate IPs/ARP probe mimicking).

[2019-12-05 09:35] joerchan commented on #20629
@jhedberg Thank you for the analysis. I will check if I can solve the problem.

The reason why I added it is for the simple scenario where the application does not create any identities at all. In this case the Host will read an identity address and generate an identity resolving key (IRK). And it is the generation of the IRK that is the problem since it is not stored in flash.
This resulted in th

[2019-12-05 10:02] erwango opened #21200 "Replace IWDG_STM32_START_AT_BOOT by WDT_DISABLE_AT_BOOT"
**Is your enhancement proposal related to a problem? Please describe.**
STM32 Wachtdog driver implements a STM32 specific `IWDG_STM32_START_AT_BOOT` feature.
Replace by zephyr generic `WDT_DISABLE_AT_BOOT` feature

[2019-12-05 10:05] ioannisg opened #21201 "ARM: Core Stack Improvements/Bug fixes for 2.2 release"
### ARM Architecture related issues scheduled for v2.2 release

**New features**
- [x] Cortex-A53 (ARMv8, AArch64) support (#20263)
- [x] [ARM Cortex-M] Support for Direct Dynamic Interrupts in ARM-only API (#21516 )

**Feature Enhancements**
- [x] [Enh ARM] Document the ZL IRQ feature (#21765)
- [x] [Enh. ARM] Document the incompatibilities between ARMv7-M and ARMv8-M Mainline
- [x] [Enh. ARM Cor

[2019-12-05 10:05] sigvartmh commented on #21119
I would also add that some default configuration for https://marketplace.visualstudio.com/items?itemName=marus25.cortex-debug would be helpful for the people developing with ARM architecture.

I'm pretty sure this is what platform.io uses with some improvements https://platformio.org/platformio-ide

So having some support for
- OS level awareness for debugging in VS code is also an improvement.

[2019-12-05 10:07] ioannisg commented on #18173
Unfinished issues moved to  #21201

[2019-12-05 10:07] #18173 closed

[2019-12-05 10:40] nvlsianpu commented on #20629
So, I investigated the issue - write to the storage is requested (`nvs_write()` ) but is not executed in fact as NVS discard duplicates writes (other settings back-end filter duplicates on higher level).
So increase of wear leveling is not an issue.

[2019-12-05 10:44] nvlsianpu commented on #20629
@ppryga >

Block execution system work queue for long time is in fact due to fact that storage is scanned for settings record duplicates.

Impact
~~May decrease lifetime of flash memory if device goes to power down mode very often.~~
Block execution system work queue for long time because of use of flash read operations for searching entire storage for a settings duplicate .
Can't run very high fr

[2019-12-05 10:54] nvlsianpu commented on #20629
@joakimtoe  From conversation above I see that if  `BT_DEV_PRESET_ID` flag is set basically writing of `bt/id` and `bt/irk` settings records should be disabled.

[2019-12-05 11:03] pfl opened #21202 "Required upgrade of HAL"
After upgrading, something like the following starts to happen suddenly:
[code]
After a bit of investigation, the above and other weird compile errors mean that the board HAL needs to be updated.

A much better usability solution would be to detect the HAL version in use and print out a warning that the installed and expected HAL versions differ.

[2019-12-05 11:22] joakimtoe commented on #20629
Wrong Joakim, @joerchan maybe?

[2019-12-05 11:30] Jeepgoing commented on #21121
@carlescufi @finikorg I think RNDIS have Host and Decice itself , is it possible RNDIS host run on USB device?

[2019-12-05 11:46] Campou commented on #21165
Hi @jhedberg

Thanks, I will submit a PR for the first issue.

[2019-12-05 12:01] joerchan commented on #20629
Thank you @nvlsianpu that is good to hear that flash wear is not an issue. I`m working an fix that would prevent the attempted write when no new IDs has been generated. On nRF devices we shouldn't have to generate an IRK at all.

[2019-12-05 12:08] carlescufi commented on #21088
@LingoMeng will you send a PR for this?

[2019-12-05 12:11] carlescufi commented on #20618
Closing since it's an answered question.

[2019-12-05 12:11] #20618 closed

[2019-12-05 12:11] carlescufi commented on #19488
Question answered

[2019-12-05 12:11] #19488 closed

[2019-12-05 14:33] carlescufi commented on #21202
@pfl just checking, have you run `west update`?

[2019-12-05 14:36] dferbas commented on #21016
@jukkar: I know ARP is IPv4, but idea is to have as same as possible configurations. Because a part of zephyr stack can influence other part. Of course probability of finding this as a reason is minimal, my experience says it makes sense to duplicate configuration for testing.

[2019-12-05 14:41] carlescufi commented on #21202
@pfl I assume you have run `west update` and that this issue covers the fact of handling this in a nicer way.

[2019-12-05 14:59] mped-oticon commented on #13759
Kinda related: FWIW, we have made an internal "CPU load fuzzer", a dummy load to determine system stabillity if/when we loose service (Bluetooth connection for us) or even crash.

{mean, variance}-randomized {period, duty cycle} over {coop, irq} loads.
Not meant for security but good as a canary in the coalmine for merges.

Let me know if you would be interested, I could throw up a RFC PR.

[2019-12-05 15:04] mped-oticon commented on #21093
If the user kconfig asked for tracing out ISRs, then let him.
Solution:

[code]

[2019-12-05 15:11] WilliamGFish opened #21205 "get_device_list only available if power management invoked"
**Issue**
Can the get_device_list function in device.c be always available? Why would it only be valid if power management functionality invoked?

**Solution**
Remove the constitutionality from these functions

code snippet
[code]
**Additional context**
This will be useful in sensor configuration development.

[2019-12-05 15:17] carlescufi commented on #21171
I think your proposal makes a lot of sense @MarcDorner . I have created the repo: https://github.com/zephyrproject-rtos/optiga_trust

I suggest you place this in `modules/crypto` perhaps? I think it's better than `modules/hal`.

[2019-12-05 15:18] carlescufi commented on #21171
@panmasuo see above thread, repo created.

[2019-12-05 15:18] #21171 closed

[2019-12-05 15:25] bcdonovan commented on #21187
I've repeated portions of the test @jukkar ran and am seeing different behavior between IPv4 and IPv6. In short:

gPTP enabled: IPv6 works (both ping and echo), IPv4 fails (both ping and echo)
gPTP disabled: IPv6 works (both ping and echo), IPv4 works (both ping and echo)

I added

[code]

to my prof.conf

and then ran

[code]

and flashed using NXP's `crt_emu_redlink`

My test setup is the NXP de

[2019-12-05 15:53] nashif commented on #21123
@chen-png  so are we good?

[2019-12-05 17:02] LeBlue commented on #21107
@cvinayak The issue is reproducible with CONFIG_LOG=n, at least the behaviour was the same. I enabled CONFIG_LOG to just find out what/where it happens. But CONFIG_SERIAL was enabled as it was necessary for MCUMRG.

I will first try out the BT_CTRL_RX_PRIO_STACK_SIZE option and share the results.

[2019-12-05 17:22] jukkar commented on #21187
In my examples above, I had only IPv6 logs printed but I did test the IPv4 functionality too and there was no difference between them.

[2019-12-05 17:40] jukkar commented on #21202
I think the idea was that west/cmake could check that modules are according to what manifest says and possibly give some information to the user if there is a mismatch so that user would know that he needs to run "west update".

[2019-12-05 18:45] carlescufi commented on #10516
@galak should we close this issue now?

[2019-12-05 19:10] albertofloyd commented on #20484
When I enable the watchdog driver in MEC boards, shippable builds fail, so it can be merged.
Are you indicating this test build conflict can be ignored?

[2019-12-05 20:40] antfobe commented on #20355
Have no idea what I'm doing, trying to follow this [example](https://dangokyo.me/2018/03/27/qemu-internal-memory-region-address-space-and-qemu-io/) on qemu. If I'm able to make it work i'll post my results here.

[2019-12-05 20:43] antfobe commented on #20286
Maybe a bit off topic, but have you ever managed to get any of the samples/net working in qemu_xtensa?

[2019-12-05 21:25] andyross opened #21216 "Ztest "1cpu" cases don't retarget interrupts on x86_64"
On SMP, many tests weren't designed to work with multiple CPUs and are making use of a "1cpu" ztest variant.  The way this work is fairly crude: it spawns a thread which locks interrupts and spins, forcing the test to operate on only one CPU.

But with x86_64 in particular, with the default IO-APIC destination settings for an interrupt ("fixed" delivery to the "lowest priority" "physical" CPU), th

[2019-12-05 21:49] d3zd3z commented on #1894
Related to #6648. Most likely this will be solved by some kind of trusted execution environment.

[2019-12-05 21:56] nashif commented on #20484
Maybe just add the board to `platform_exclude` like a few other boards being added there or disable WDT by default on this board and enable it in the application rather in the default config of the baord.

[2019-12-06 03:07] chen-png commented on #21123
yeah, for this issue, it's ok.

[2019-12-06 03:12] LingoMeng commented on #21088
well, I think it's best to add some binding query statements at the beginning of `bt_mesh_model_send` function:
[code]

@jhedberg What do you think?

[2019-12-06 03:19] chen-png commented on #21123
but I have a question, how do you decide whether a runner can be paralle running?

because i found --generate-hardware-map is only used for device testing, just according to manufacture, product to set which board can be detected.

and really parallel running used the concurrent.futures.threadpoolexecutor, is seems that if I add all boards into the map file, sanitycheck will add all tests of those

[2019-12-06 10:22] de-nordic commented on #18927
Here: https://github.com/de-nordic/zephyr/tree/settings-drop-base64 is my proposal how to deal with dropping the Base64 with settings, for now only with FS backends. I am still working on tests, so the test set is not complete, but the supporting code is.

The solution I would like to propose is that when Base64 deprecate configuration is on (`CONFIG_SETTINGS_DEPRECATE_USE_BASE64`), then only the

[2019-12-06 11:11] Laczen commented on #18927
@de-nordic, I like the idea.
Since settings files are read linearly you could set the "base64encoding" on at every read/write start and switch off after you have found the marker, then there would be no requirement to add the location to the settings_file structure. You could simply add "base64enc_end" as a line to the file at first start.

[2019-12-06 11:23] de-nordic commented on #18927
@Laczen This was original idea and I might consider it as alternative. It worked fine for writes, since after one write you knew that there is marker already. The offset is stored for reads so that there is no strcmp done (in search of marker) if marker position is already known.

[2019-12-06 11:44] nvlsianpu commented on #18927
@de-nordic Like the idea as wel. So for FCB back-end this should work as well (just record with the end of base64 section marker). FCB are read from the oldest to the newest item, right?

[2019-12-06 12:05] de-nordic commented on #18927
@nvlsianpu it might be working too. I have not yet get myself familiar with FCB.

[2019-12-06 12:23] de-nordic commented on #18927
@Laczen I think that I could do without offset. As I have said it is used to avoid calling strcmp in case if marker has already been found, but I can do another test that will limit strcmp calls, simply by checking if first letter of name read is _ before doing strcmp. It does not differ that much from comparing offset. The _ test would happen every time but so does the offset test.
Unfortunately

[2019-12-06 12:52] Laczen commented on #18927
This might not be a good idea: we should leave the possibility that data is stored with a name starting with _

Is there a need to store this globally (in settings_file struct) ? Would you not pass the encode option to in line_entry_ctx ?

Yes, the duplicate search does not need this. Do not try to over optimize, it is only to support a temporary situation where the marker is not at the start.

@n

[2019-12-06 13:14] de-nordic commented on #18927
Sorry I managed to destroy @Laczen comment, I have restored it just now.

[2019-12-06 13:15] de-nordic commented on #18927
I am still going to strcmp to marker, but not with strings that lack _ as first character.

That is exactly what I have been doing. If the offset has been set to non-OFFSET_MAX value, then I would strcmp in search for marker. If offset has been set to position of marker, then I would skip compare as the position of marker has been known.

Yes I think that it might be possible as writing to file do

[2019-12-06 13:17] carlescufi commented on #19655
@nashif @andyross I think this is a great description of a suggested sequence of discrete steps to achieve the goal of moving to the opaque structures and 64-bit timeout support.

[2019-12-06 13:22] de-nordic commented on #18927
@Laczen , @nvlsianpu we may repurpose padding in fcb structure as flags and flag FCB as converted to non-base64 during compression.

[2019-12-06 13:25] de-nordic commented on #18927
Sorry my bad there is no padding byte... seen it somewhere else.

[2019-12-06 13:37] carlescufi commented on #9904
This issue is not really applicable as a roll-up anymore.

[2019-12-06 13:37] #9904 closed

[2019-12-06 13:51] Laczen commented on #18927
@de-nordic, I left some comment in your code (only for the read).

[2019-12-06 17:04] adfernandes opened #21229 "cc1plus: warning: '-Werror=' argument '-Werror=implicit-int' is not valid for C++"
I recently started testing the `gcc-arm-none-eabi-9-2019-q4-major` compiler in a C++ project, and came across the following for my C++ translation units:
[code]

This is a known change in `gcc 9` and will likely is or will soon be a part of `clang`.

**To Reproduce**
Enable C++ and add a C++ file to the project.

**Expected behavior**
The `-Werror=implicit-int` option should not be enabled for C++

[2019-12-06 19:11] albertofloyd commented on #20484
Will do that

[2019-12-06 19:11] #20484 closed

[2019-12-06 20:05] mbolivar opened #21230 "Remove unnecessary CMake target indirection"
**Is your enhancement proposal related to a problem? Please describe.**

As prep work for https://github.com/zephyrproject-rtos/zephyr/pull/13672, various changes were made to the build system which add extra layers of indirection for target names. One example commit is 1b86fb9da3.

Since this PR was rejected, the indirection is not necessary and will not be necessary, so it should be removed.

I'

[2019-12-06 20:05] mbolivar commented on #21230
FYI @carlescufi @SebastianBoe @tejlmand @hakonfam

I'm not sure about the milestone, but this should be done "eventually".

[2019-12-06 20:49] sslupsky opened #21232 "i2c_sam0 LOWTOUT is not functional"
**Describe the bug**
When using the i2c_sam0 driver, SCL remains low indefinitely after a bus transaction.  SCL should be released when a bus transaction completes.  LOWTOUT is intended to guard against situations where SCL is held low too long.

The i2c_sam0 driver enables LOWTOUT (SCL low timeout).  However, the driver does not initialize GCLK_SERCOM_SLOW which is required to enable the timeout

[2019-12-06 21:07] sslupsky opened #21233 "i2c_sam0 driver does not execute a STOP condition"
**Describe the bug**
The i2c_sam0 driver does not execute a STOP condition.  As a result, at the end of each transaction, the SCL line is forced low.

**To Reproduce**
Steps to reproduce the behavior:
1. use blinky example
2. add an i2c peripheral
3. make
4. observe the SCL line
5. See error

**Expected behavior**
SCL should be released (go high) when a bus transaction is complete.

**Impact**
Whe

[2019-12-07 00:11] sslupsky opened #21234 "drivers: usb_dc_sam0: usb detach and reattach does not work"
**Describe the bug**
Not sure if the API supports this but to save power I need to be able to disable the USB interface and then re-enable it.  In Arduino, I can call usb_detach() and then usb_attach() to do so.  When I attempt this using Zephyr usb_dc_detach() and usb_dc_attach(), the usb interface does not appear.

**To Reproduce**
Steps to reproduce the behavior:
1. start with blinky
2.  add sh

[2019-12-07 10:39] vanwinkeljan commented on #21229
@SebastianBoe could you provide some advice?

[2019-12-07 18:59] sslupsky commented on #21234
Some additional information I have on this issue.

Using usb_enable() and usb_disable() appears to proceed further versus usb_dc_detach() and usb_dc_attach().  I believe the usb port is being enumerated now as I can see a log message indicating the usb_cdc_acm is configured (see below).  Further, I do see the device reappear as /dev/cu.usbmodem0_011.  However, when a host terminal connects the Zep

[2019-12-07 19:17] daniel-james-sherwood commented on #18551
I recently discovered the same issue with some of the bt macros.  It can be resolved (at least for gcc-8) by turning the inline struct initialiser into an array of [1] which prevents the compiler treating it as a temporary variable. For the example above this would look something like.

`#define BT_LE_ADV_PARAM(_options, _int_min, _int_max) \
		((const struct bt_le_adv_param[1]) { { \
			.options

[2019-12-07 19:19] pabigot commented on #18551
@daniel-james-sherwood Formatting fixed; thanks for the tip, that could be a very clean solution.

[2019-12-07 19:25] daniel-james-sherwood commented on #18551
Seems to work for me.  For both const and non-const structs.  Also doesn't appear to affect C builds.

[2019-12-07 19:53] pabigot commented on #18551
Agreed.  It does expose a lot of implicit casts from `void*`, as well as some designated initializer order violations, but this seems to have promise.  Gross conversion necessary to get the peripheral sample to work can be seen at https://github.com/pabigot/zephyr/commits/pabigot/cxx20ble

@daniel-james-sherwood If you want to prepare a PR for this I'll defer to you; otherwise I'll go through and

[2019-12-07 19:56] sslupsky commented on #21234
This is the log output when the first keypress after usb_enable() on the host terminal occurs:
[code]

[2019-12-07 19:59] sslupsky commented on #21234
I modified the code around usb_disable() and usb_enable() to stop and start the shell but this made no difference.

At this point, I am thinking this is a USB driver problem.

[2019-12-07 20:53] daniel-james-sherwood commented on #18551
You go ahead.  My changes are mixed up with some others adding this C++ bindings to various APIs.  Note you seem to have added an extra const to your first change.

[2019-12-08 23:50] sslupsky commented on #21234
This problem also occurs on a hardware cable detach and reattach without the usb_disable() and usb_enable().  That is to say, if I pull the usb cable and reattach, the usb port reappears on the host but there is no communication with the Zephyr shell on the device.

[2019-12-09 07:44] pfl commented on #21202
Yes, I did run west update as a result. So this is about either documenting such a situation, or, as @jukkar commented, have west/cmake notice that the HAL is too old wrt to the code being compiled. The latter approach would be preferred.

[2019-12-09 09:03] joerchan opened #21238 "Improve Zephyr HCI VS extension detection"
The heuristic should be that if the Version is 5.0 or later, and the controller does not have a valid public address. It's not a very good heuristic in my opinion. It works for this case because we only use to check for random static identity address. But in the case the controller supports many extensions to HCI but still has a valid Bluetooth address we would not be able to use these features.

[2019-12-09 09:29] tsvehagen commented on #20259
Hey, sorry for the late answer. I've started doing some initial implementation and it seems to be pretty easy to separate the stack from the db at least. I've ran into some questions quite quickly though.

1. Should we support handling of multiple networks? Provisioning to multiple networks might be possible but if we want to configure multiple networks I guess the whole stack needs to support it

[2019-12-09 10:12] KAGA164 opened #21239 "devicetree: Generation of the child-bindigs items as a common static initializer"
Currently I am thinking about generic gpio led driver, but It is hard to generate led data for it without led description duplication in DTS. I found the child-bindings construction, it is used among others for leds configurations generation.

Now It looks like:

[code]

and this is generate for each child node like that:
[code]

The purpose of my proposition is to add a initializer to every node

[2019-12-09 10:14] pankaj18 opened #21240 "Error west flash"
Open On-Chip Debugger 0.10.0
Licensed under GNU GPL v2
For bug reports, read
	http://openocd.org/doc/doxygen/bugs.html
/Users/pankajjadhav/zephyrproject/zephyr/boards/arm/stm32_min_dev/support/openocd.cfg:1: Error: Can't find interface/stlink.cfg
in procedure 'script'
at file "embedded:startup.tcl", line 60
at file "/Users/pankajjadhav/zephyrproject/zephyr/boards/arm/stm32_min_dev/support/openocd.

[2019-12-09 10:19] aescolar commented on #21240
cc @mbolivar

[2019-12-09 10:31] jhedberg commented on #21238
I'm not sure I agree. The heuristic is not something I'd expect to be enabled in most cases. Most cases you're creating a product and you know exactly what host you pair up with what controller, so the heuristic is just unnecessary code. The biggest use case I see is Qemu/native_posix where you use a controller plugged into the host and don't want your host blowing up because of a non-Zephyr contr

[2019-12-09 10:32] KAGA164 commented on #21239
@pabigot

[2019-12-09 10:41] jhedberg commented on #20259
@tsvehagen I'd exclude this until someone comes with a really strong use case. Zephyr is intended for constrained devices, whereas multiple networks sounds like something you'd have on a more powerful system (e.g. something capable of running Linux).

I might not have done a very good job here... to me the difference is mainly in terms of perceived probability of success, i.e. find() implies a hig

[2019-12-09 11:19] SebastianBoe commented on #21230
Agreed

[2019-12-09 11:52] emob-nordic commented on #20953
I've checked it on my reel_board (v1507.0). I hope it does not differ that much.
I can see the issue however I don not think its related to event Q in the driver.
The case is that board is generating unnecessary events. Hardware issue??

It chokes because the event Q is overflowed and if that happen driver performs flush.
It seems that events are generated that fast, that its again and again overf

[2019-12-09 12:15] jfischer-phytec-iot commented on #20953
I have a fix for that.

[2019-12-09 12:27] chrta commented on #21240
Was an stlink programmer properly connected?

I believe there is no on-board programmer, but this is not clearly documented in the board documentation of zephyr.

[2019-12-09 12:35] jfischer-phytec-iot commented on #21234
usb_dc_disable() and usb_dc_enable() are from USB driver API, and may not used by the user. Support for `usb_enable` is somehow broken and will be fixed in #20375. Patches for usb_dc_sam0 are welcome.

[2019-12-09 13:20] jfischer-phytec-iot commented on #20953
@jli157 Thanks for the report and sorry that I did not take it seriously right away :-)

[2019-12-09 14:39] sslupsky commented on #21234
@jfischer-phytec-iot I read through that PR yesterday but I do not think this will resolve the issue here.  I think something is broken somewhere else.  I spent some time trying to determine if there was something about the shell or console that prevented those from reconnecting properly after the usb goes away.  I noticed several mutex sections in shell.c.  But that would not likely explain the l

[2019-12-09 14:55] joerchan commented on #21119
CC: @trond-snekvik  Maybe you have some input here?

[2019-12-09 14:57] #21057 closed

[2019-12-09 14:58] #21186 closed

[2019-12-09 15:04] mbolivar commented on #21240
Looks like you're right: https://embedjournal.com/iot-rtos-zephyr-stm32-minimum-system-development-board/#hardware-setup

@pankaj18 can you please answer @chrta 's question?

Please also read the embedjournal link above if you need more information.

[2019-12-09 15:04] #21058 closed

[2019-12-09 15:11] #21105 closed

[2019-12-09 15:22] sslupsky commented on #21114
@andyross I found some issues with the i2c sam0 driver (#21232 and #21233).  Since correcting these I haven't noticed the timers going wonky.  I am not certain this is the root cause but I haven't observed the problem where the timer period changes between 2 and 18 seconds for a couple days now.  So, I think your suggestion that something funky with the interrupts could cause the timers to go wonk

[2019-12-09 15:24] sslupsky commented on #21234
@jfischer-phytec-iot Note in the log when the terminal reconnects after the usb is reattached, there are several CDC_SET_LINE_CODING 9600 0 0 8 in a row (I think there are 8 of them).  Does this suggest anything to you?  It looks to me like the host is trying to set the serial parameters and for some reason this happens 8 times suggesting that the host doesn't think the parameters were set?

[2019-12-09 15:29] sslupsky commented on #21234
I turned on the debug log for usb_device and here is what the log looks like between the CDC_SET_LINE_CODING log output statements:
[code]

[2019-12-09 15:30] #21162 closed

[2019-12-09 15:40] #20904 closed

[2019-12-09 15:40] trond-snekvik commented on #21119
I actually made a couple of extensions that I'm not sure are quite ready for prime time yet, but they're working quite well for my day to day stuff:

- [vscode-DeviceTree](https://github.com/trond-snekvik/vscode-devicetree) adds syntax highlighting, type checking, code completion, go to defintion and syntax checking to deviceTree files, written specifically for the Zephyr RTOS.
- [vscode-Kconfig](

[2019-12-09 15:42] #20490 closed

[2019-12-09 15:50] de-nordic commented on #18927
Thx

[2019-12-09 16:29] jfischer-phytec-iot commented on #21234
@sslupsky I have a SAMR21 Xplained board. I tested it with the latest master, I can disconnect the TARGET USB and connect it again (the board is still powered through EDBG USB), the board will be enumerated but it failed to set dtr/rts and after few attach/detach cycles it hard-faults. So we need to fix this issue first.

[2019-12-09 16:29] carlescufi commented on #21202
Since this issue only covers HAL repos but the problem is in fact more general and already described here: https://github.com/zephyrproject-rtos/west/issues/333 I will close this issue in benefit of the one linked.

[2019-12-09 16:29] #21202 closed

[2019-12-09 16:33] sslupsky commented on #21234
@jfischer-phytec-iot I believe what you observed are the same symptoms I have encountered here.  The target appears to be enumerated and then fails to communicate.

I have not tried multiple attach/detach cycles and experienced the hard fault yet.

[2019-12-09 16:33] #20915 closed

[2019-12-09 17:40] #20927 closed

[2019-12-09 17:43] sslupsky commented on #21234
It appears that the line state (DTR) is being set after the usb is reattached:
[code]

[2019-12-09 17:54] sslupsky commented on #21234
I noticed that after boot, the usb device performs some calls to "usb_descriptor":
[code]

Does this change the endpoint address?  the usb_descriptor calls do not happen again after the usb port is detached and then reattached.

When I look at the endpoint after boot and the end point after the reattach, they are different.  In the logs below, you can see after boot, it writes to EP 82.  After the

[2019-12-09 19:43] dstroe2000 opened #21252 "Getting Started Guide: west update procedure could lead to a not a good starting point"
Following the guidance of the **Getting Started Guide** ([https://docs.zephyrproject.org/latest/getting_started/index.html](url)), section **Get the source code**, could lead to download an unstable tip of the repository.
It should be possible to select rather a stable release, as this might be a better starting point than the always latest version that could be not yet fully proofed.

[2019-12-09 20:34] dleach02 opened #21253 "2.2 Release Checklist"
Add items as required
--------
- [x] Major enhancements merged

- [x] Pre RC1 Steps
   - [x] Verify that all external components and external dependencies are up to date, for example
      - mbedTLS
      - tinycrypt
      - FatFS
   - [x] Check known vulnerabilities, and fix exploitable vulnerabilities or verify them as un-exploitable (Security working group).

See https://docs.zephyrproject.org/

[2019-12-09 21:34] #21099 closed

[2019-12-09 21:34] #20576 closed

[2019-12-09 21:35] #21165 closed

[2019-12-09 21:40] #20673 closed

[2019-12-09 22:01] bcdonovan commented on #21187
The issue appears to be due to IP accelerators on the NXP 1064 processor. Using gPTP is enabling additional 1588 hardware on the NXP processor. This appears to be enabling a hardware accelerator which will calculate and insert the IP header checksum. The hardware IP accelerator requires that the IPv4 header checksum from the software application be set to 0 otherwise bad IPv4 header values are sho

[2019-12-09 22:40] dbkinder commented on #21252
I suppose we could document that the GSG's setup using ``west init zephyrproject`` will pull the current master branch of the project.  If you want to work with a specific tagged release, you would instead specify ``west init --mr v1.14.1 zephyrproject``, for example.

What does the developer community recommend:
- pulling the latest LTS release (v1.14.1),
- the latest tagged release (v2.1),
- or

[2019-12-10 01:13] chen-png opened #21257 "tests/net/net_pkt failed on mimxrt1050_evk board."
**Describe the bug**
It was similar to the issue #20088 and #20007.

**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b=mimxrt1050_evk -p=auto tests/net/net_pkt
2.  west flash
3.  See error

**Screenshots or console output**

E: ***** BUS FAULT *****
E: Precise data bus error
E: BFAR Address: 0x3a4f7828
E: r0/a1: 0x00000000 r1/a2: 0x6000b7f9 r2/a3: 0x00000000
E: r3/a4: 0x3a4f7820

[2019-12-10 01:18] ulfalizer commented on #21239
It's nice if `child-binding` itself can just be a generic mechanism for assigning bindings to child nodes, with no special logic applied (i.e., have it work just as-if you had assigned the binding manually to all the child nodes via `compatible`).

Could always special-case e.g. LED nodes though, if that'd be helpful.

[2019-12-10 04:30] dleach02 commented on #19053
Release 2.2 checklist: https://github.com/zephyrproject-rtos/zephyr/issues/21253

[2019-12-10 06:01] jmgao commented on #21252
An intermediate option would be to maintain a `stable` branch (or multiple, for latest release, latest LTS release, etc.) that gets the latest tagged release merged into it regularly.

[2019-12-10 08:00] #20315 closed

[2019-12-10 08:16] jukkar commented on #21187
Zephyr supports checksum offloading for RX and TX network packets so if the Ethernet drivers sets `ETHERNET_HW_TX_CHKSUM_OFFLOAD` capability, then the IP stack will not calculate the checksum for TX packets. Unfortunately atm this setting applies to IPv4, TCP and UDP protocols so if NXP hw only calculates it for IPv4, then this setting cannot be used.

[2019-12-10 12:52] jukkar commented on #21257
I just tested this and I could only trigger the issue half of the time. All the tests pass and the error is printed only after all the tests are run. This is some timing issue that happens semi-randomly, I will investigate.

[2019-12-10 13:34] #20414 closed

[2019-12-10 13:48] nashif commented on #18447
was fixed in afe5b2598d0a64c3943dfc507445d334a3c95f39

[2019-12-10 13:48] #18447 closed

[2019-12-10 13:50] nashif commented on #21095
why is this still open? Can we mark it as false-postive in coverity and close please?

[2019-12-10 13:50] sslupsky commented on #21234
@jfischer-phytec-iot I think I have figured this out.  It does not appear to be a sam0 specific issue.  I suppose sam0 could exacerbate the issue some way but it is not obvious to me that it does.  I think this issue likely occurs on other SOC's as well.

The issue is related to the disconnect notification.  I observed that I was not receiving a USB_DC_DISCONNECT notice.  Upon a deeper review and

[2019-12-10 13:51] nashif commented on #21095
also, if something is not a bug, just close it with reasoning, removing the bug label will just keep it as an issue without a path forward.

[2019-12-10 14:24] INemesisI commented on #20770
No, The issue still persists then, although it just happens less often, since the irq is locked for a very short time. The interrupt locking itself causes the issue for me.

The problem is, that the UART RX data on the STM32 is not buffered. Each byte is fetched through an ISR. Missing interrupts because of irq locking will result in lost data.
I don't know about other hardwares, but I can imagine

[2019-12-10 14:28] agansari commented on #21187
@bcdonovan please test pull #21269 it enables hw checksum on bot rx and tx.
I tested on i.mx 1050 rt, echo_server with -DCONFIG_NET_GPTP=y -DCONFIG_NET_GPTP_STATISTICS=y, pinging works on both ipv4 and ipv6.

Still having issues with K64F which uses the same driver when enabling gptp.

[2019-12-10 14:31] SebastianBoe commented on #9947
I believe this is resolved by https://github.com/zephyrproject-rtos/zephyr/pull/20324/files , if not I'd like to know more about what needs to be documented.

[2019-12-10 14:32] agansari commented on #21187
@jukkar @bcdonovan by checking the registers, checksum was disabled

[2019-12-10 14:48] KAGA164 commented on #21239
I would like to have it for LEDs but I do not see any reason to not provide this feature to all child-bindings objects. It is enough for me to have this define generations for LED at this moment. This do not break this generic mechanis for binding, it may add only few useful initializers.

[2019-12-10 14:50] pabigot commented on #21239
See also #21243 which proposes `struct gpio_phandle_specifier` as a defined struct known to be compatible with the initializer lists produced by the devicetree scripting.

[2019-12-10 14:54] sslupsky commented on #20987
I looked into this issue further.  It appears to be a general USB issue, not necessarily specific to the sam0.  This issue manifests in usb_write() in usb_device.c.  The function outputs a warning if it retries a write.  I believe this should be a debug output instead of a warning.  A check should be made after to determine if the write actually failed and if it does, a warning should be issued.

[2019-12-10 15:26] StefJar commented on #20770
I am having maybe an related issue my I2C_1 is not catching the tx complete INTR. I put this on slack an wait for some guys to confirm.
@INemesisI I recomend to use the ASYNC IO interface for the UART. If you need some working code for async uart transfers check my demo https://github.com/StefJar/zephyr_stm32_uart3_dma_driver

[2019-12-10 15:37] pabigot commented on #20172
Closed by #20173.  (The answer to the last question is that `array` means a list of integer values only.  `compound` appears to be used for "not an array or a phandle-array".)

[2019-12-10 15:37] #20172 closed

[2019-12-10 15:40] #20877 closed

[2019-12-10 15:45] agansari commented on #21187
k64f is slower, tx buffers are flooded, increasing Tx bufers number fixes the issue, i.MX has a much faster core.

[code]

[2019-12-10 15:51] sslupsky commented on #21234
The patch above addresses the situation where you physically disconnect the cable and reconnect.

The port does not enumerate when you call usb_disable() and then usb_enable().  This is the original issue and requires further investigation.

[2019-12-10 15:54] pabigot opened #21273 "devicetree: improved support for enum values"
Extracted from #17309 where this was originally proposed:

Currently there is one in-tree use of the `enum` type in bindings, for the usb controller field `maximum-speed`:

    maximum-speed:
      type: string
      enum:
         - "low-speed"
         - "full-speed"
         - "high-speed"
         - "super-speed"

It generates symbols like this:

[code]

This is not robust.  The symbol that id

[2019-12-10 15:54] pabigot commented on #17309
The unimplemented capability is now in its own issue.

[2019-12-10 15:54] #17309 closed

[2019-12-10 16:14] pabigot commented on #20348
In fact I'd like to see progress on as many of these as possible:

* #19904 better support for one-driver-multiple-devices (compatibles)
* #20287 instance number inconsistency with multiple compatibles
* #19448 support devices enabled/disabled at runtime (requires device API change)
* #19285 which could help resolve #20325
* #20253 which could ensure initialization order that supports dependencies

[2019-12-10 16:19] jfischer-phytec-iot commented on #20987
No. It have to be a warning. If it happens for a endpoint other than control then something is fishy in the driver.

regardless, warning should not appear. The driver is buggy and it does not make any sense to discus anything in the stack self until the driver passes all [testusb](https://docs.zephyrproject.org/latest/samples/subsys/usb/testusb/README.html) tests.

[2019-12-10 16:59] vladoatanasov opened #21275 "kl2x soc fixup is missing I2C_1 labels"
**Describe the bug**
soc/nxp_kinetis/kl2x/dts_fixup.h is missing labels for I2C_1

**To  Reproduce**
Steps to reproduce the behavior:
1. enable CONFIG_I2C and CONFIG_I2C_1 in a project using frdm_kl25z board
2. west build .
3.  error: 'DT_I2C_MCUX_1_BASE_ADDRESS' undeclared here (not in a function); did you mean 'DT_I2C_MCUX_0_BASE_ADDRESS'?
   .base = (I2C_Type *)DT_I2C_MCUX_ ## n ## _BASE_ADDRES

[2019-12-10 18:38] carlescufi commented on #21114
Are you using a system timer driver that is not in the tree? Because if that is the case then I suggest you start by posting a Pull Request with the new system timer driver so others can reproduce the problem. Otherwise opening an issue against `k_timer` when using your own, downstream timer driver will not help much.

[2019-12-10 19:21] dleach02 commented on #19356
Removed the 2.1 milestone.

[2019-12-10 19:23] dleach02 commented on #18712
Removing 2.1 milestone. @ioannisg, can you add a reference to the PR of the workaround you referenced?

[2019-12-10 19:24] dleach02 commented on #18629
Removed 2.1 milestone

[2019-12-10 19:28] dleach02 commented on #18351
Removing 2.1 milestone

[2019-12-10 19:28] marc-hb commented on #9947
FWIW PoC/draft #13805 demoed how sphinx can be used to extract documentation straight from the CMake code. #20324 seems much higher level (and more important!).

[2019-12-10 19:35] dleach02 commented on #13637
@andrewboie did a PR get posted for this?

[2019-12-10 19:36] dleach02 commented on #13637
@ioannisg , since you have a tracking ticket that includes this I don't think we need to keep incrementing the milestone with each release

[2019-12-10 19:50] dleach02 commented on #12985
We seem to be kicking this down the road. Does it make sense to to even put a milestone on this?

[2019-12-10 19:55] d3zd3z commented on #18962
I consider this a false positive, and have marked the Coverity issue as such. There are many fewer items in the enum than the 32-bits in the atomic value.

[2019-12-10 20:03] dleach02 commented on #9506
@andyross , you mentioned that you can't reproduce this anymore after #18531. Do you think we can close this issue then?

[2019-12-10 20:13] dleach02 commented on #6066
Moving to 2.2

[2019-12-10 20:25] andrewboie commented on #13637
@dleach02 it didn't make 2.1, I got preempted taking over some responsibilities for a colleague who left the company, but I'm looking at it this month.

[2019-12-10 20:31] dleach02 commented on #13196
Moving to 2.2

[2019-12-10 20:33] dleach02 commented on #13276
Moving milestone to 2.2.

[2019-12-10 20:44] dleach02 commented on #15229
This was merged so I'm going to close this per comment from @andrewboie

[2019-12-10 20:44] #15229 closed

[2019-12-10 20:50] dleach02 commented on #15657
Should this still be open?

@andrewboie

[2019-12-10 20:56] ulfalizer commented on #21239
@KAGA164
Suspect it can be handled in some way besides special-casing `child-binding`. Nice if it can stay as a dead simple "gives a binding to child nodes", with no extra magic beyond that on its own.

[2019-12-10 21:07] pankaj18 opened #21278 "How to use pwm in nrf52832 for rgb led"
The sample code is given for Hexiwear K64. How to use this code for nrf52832 board and external  RGB led using pwm. Which pins are used and how to change given code

#if defined(DT_ALIAS_RED_PWM_LED_PWMS_CONTROLLER) && \
      defined(DT_ALIAS_RED_PWM_LED_PWMS_CHANNEL) && \
      defined(DT_ALIAS_GREEN_PWM_LED_PWMS_CONTROLLER) && \
      defined(DT_ALIAS_GREEN_PWM_LED_PWMS_CHANNEL) && \
      defi

[2019-12-10 21:08] #21240 closed

[2019-12-10 21:15] mbolivar commented on #12985
@galak if you want this for 2.2 I can commit to doing it.

[2019-12-10 21:37] gera-k opened #21281 "logging: msg_free may erroneously call log_free"
**Describe the bug**
If value of log message argument happens to be within boundaries of  the log_msg_pool_buf array then log_is_strdup returns true and log_free gets called, even if argument is just an integer value, not a pointer returned from log_strdup.

**To Reproduce**

Build the following test (derived from hello_world sample) with CONFIG_LOG enabled and run it on qemu_cortex_m0:
[code]
[co

[2019-12-10 21:47] sslupsky commented on #21234
I did not notice earlier but apparently, this patch only works when the debugger to connected to the debug port and a debug session is running.  Not sure why that makes a difference.  If I shut down the debug session and/or disconnect the debugger, then the USB port does not enumerate when reconnected.

[2019-12-10 22:29] andrewboie commented on #15657
Yup, I fixed this.

[2019-12-10 22:29] #15657 closed

[2019-12-11 05:42] dleach02 commented on #21252
I think the request here is to add to the documentation information on how to initialize the build environment to a specific version. Each release point is supposed to be a stable point in time (until the next release) for folks to start from.

[2019-12-11 08:13] szundi opened #21290 "Compiler warnings in flash.h: invalid conversion from 'const void*' to 'const flash_driver_api*'"
There is a missing cast in `/include/drivers/flash.h`, i checked it on master too.

These are only warnings:
`In file included from ../src/main.cpp:15:
/Users/szundi/zephyrproject/zephyr/include/drivers/flash.h: In function 'int z_impl_flash_read(device*, off_t, void*, size_t)':
/Users/szundi/zephyrproject/zephyr/include/drivers/flash.h:104:44: warning: invalid conversion from 'const void*' to 'co

[2019-12-11 10:01] nvlsianpu commented on #21290
Thanks for reporting and fix providing!

[2019-12-11 10:09] StefJar opened #21293 "adding timeout the I2C read/write functions for the stm32 port"
The current implementation of the stm32 I2C driver assumes that the I2C device is fully operational for any IO operation.
If in  whatever case the IC gets broken or maybe not soldered properly while production the current implementation runs into blocking mode. Especially if the I2C read/writes are at the startup this leads to a hangup of the whole device.

IMHO it would be great, if we can setup

[2019-12-11 10:10] #20953 closed

[2019-12-11 10:11] nordic-krch commented on #20770
@INemesisI why are you using `LOG_IMMEDIATE` mode? Have you tried standard, deferred mode? In that mode log message is created quite fast (few ~5us on nrf52 @64MHz). It has to lock interrupts at least for buffer allocation and list management but only for very short periods.

[2019-12-11 10:19] carlescufi commented on #21234
@benpicco would you mind taking a look at this issue if you have some time? @jfischer-phytec-iot has reproduced it locally.

[2019-12-11 10:41] microbuilder commented on #1900
There is some work going on in #19985 to integrate Trusted Firmware M for ARM platforms.

[2019-12-11 11:07] joerchan commented on #19737
Closing this as an alternative method can be used.

[2019-12-11 11:07] #19737 closed

[2019-12-11 12:51] erwango commented on #21293
Seems legitimate.
Behavior is specific to `I2C_STM32_INTERRUPT` config, as we have timeout when interrupts are not used. It would make sense to trigger an error here as well and have similar behavior in 2 configurations.

[2019-12-11 13:24] KAGA164 opened #21299 "bluetooth: Controller does not release buffer on central side after peripheral reset"
I probably found a problem with connection between two Bluetooth device after I three time reset the peripheral side. This is always the third reset which causes problem with connection.  In this file:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/ll_sw/ull_conn.c

is

[code]

where CONN_TX_CTRL_BUFFERS is defined:
[code]

In default configuration this is equ

[2019-12-11 13:24] KAGA164 commented on #21299
@joerchan

[2019-12-11 13:31] joerchan commented on #21299
Thanks @KAGA164.

@cvinayak Is this perhaps the same as NCSDK-3751?

[2019-12-11 13:59] pabigot opened #21300 "pyocd flash failing on bbc_microbit"
I mentioned this on #general a while back and it worked for other people, so it may be specific to my environment, which is Pop!_OS (Ubuntu) 19.04.

Attempts to flash images with `west flash` fail for me with `bbc_microbit`.  Copying the hex file to the mounted directory works.  I suspect a problem with pyocd or installed USB libraries but haven't been able to nail it down.

[code]

[2019-12-11 14:06] KAGA164 commented on #21299
@joerchan It looks like the same test case. I stuck mostly on PHY Update which used the same buffer like that request in NCSDK-3751 but the rest of issue descriptions is the same

[2019-12-11 14:19] finikorg commented on #21121
@Jeepgoing Do you have Android phone with OTG?

[2019-12-11 14:20] carlescufi commented on #21300
@pabigot I tested this locally and it works fine. Can you try [updating the firmware](https://microbit.org/guide/firmware/)?

[2019-12-11 14:24] carlescufi commented on #21300
@pabigot also, to rule out any other issues, can you also try `west flash --flash-opt='-e=chip'`

[2019-12-11 14:26] carlescufi commented on #21300
FWIW here are my versions of the packages that seem relevant:

[code]

[2019-12-11 15:11] rmstoi opened #21301 "Coverage report generated for qemu_x86 board is incomplete"
I'm trying to generate coverage report for the hello_world sample.

To generate coverage reports I follow instructions at:

https://docs.zephyrproject.org/latest/guides/coverage.html

For native_posix it works just fine:

[code]

For qemu_x86 board the coverage report is incomplete, for example main.c is not included. It includes report only for files in "../../../lib/libc/minimal/include/". To ge

[2019-12-11 15:26] SebastianBoe commented on #9573
This is still valid.

[2019-12-11 15:35] rmstoi commented on #21301
OK, I checked the sanitycheck script, and the steps used there also work with qemu_x86 board

[code]

So, this would mean that our documentation is out-of-date

[2019-12-11 16:04] carlescufi commented on #21278
@mbolivar perhaps you can shed some light here?

[2019-12-11 16:45] ulfalizer commented on #21273
As a cop-out, I wonder if it could just be documented that `*_ENUM` is based on the order that values are listed in `enum:`.

The code could then have something like this:

[code]

A warning could be added in the binding re. keeping it in sync with the code.

Note that `enum:` also works for other types btw (`int`, `string`, `array`, etc.) That makes it a bit iffy to special-case it for strings.

[2019-12-11 16:52] ulfalizer commented on #21273
Maybe just some light special-casing for strings could be added too, with an additional `..._ENUM_ID` that gets generated, like this:

[code]

[2019-12-11 16:55] pabigot commented on #21273
That would be a policy that would prevent me from ever using enum.  It's far to trusting and fragile.

I think it's reasonable that the generated enum like `DT_NORDIC_NRF_SPI_40004000_WAVESHARE_EPD_0_VARIANT_EPD1P54B` be provided only when the value of the enum is a string.

[2019-12-11 16:56] ulfalizer commented on #21273
Thinking about it, just outputting an additional concat-friendly macro for all `type: strings` properties might not be so bad, because e.g. `compatible` is a `string-array`.

I'll implement and check.

[2019-12-11 17:00] ulfalizer commented on #21273
Hmm... that might not solve the compile-time-test-by-name part though. Will poke around a bit.

[2019-12-11 17:17] andyross opened #21305 "New Kernel Timeout API"
New Kernel Timeout API
======================

Opaque timeout type
-------------------

A new type will be added, `k_timeout_t`, which represents an abstracted expiration time interpreted by the kernel.  This will not have user-visible fields.  It is intended to be initialized only via a new macro API.

1. The data type stored in the timeout will be exposed to the user as an unsigned `k_ticks_t` t

[2019-12-11 17:17] andyross commented on #21305
OK, as promised, here's a more formal RFC for the timeout changes that were submitted back in July.  There are no surprises here, it's exactly the same stuff.

I've tried to make it as minimal as possible to preserve the fundamental simplicity of what is happening, detailing just the API changes themselves and not the internals or (especially) the form of the patch series.

[2019-12-11 17:46] pabigot commented on #21300
Firmware is already 253, `--flash-opt='-e=chip'` had no effect, pyocd 0.21, 0.22, and 0.23 (default) all behave the same.  This did work on my previous development machine; not sure if it broke with the newer one, or due to updates to the newer one.

[2019-12-11 18:30] mbolivar commented on #21278
@pankaj18 where is this code from? I'm really not clear what the question is.

[2019-12-11 18:35] andrewboie opened #21306 "ARC: syscall register save/restore needs backport to 1.14"
The PR https://github.com/zephyrproject-rtos/zephyr/pull/19404 fixed a serious issue with saving/restoring registers on ARC architecture.

This fix needs to be backported to the V1.14 branch.

In addition to the fixes stated in its commit message, it also fixes a problem where registers r3-r5 were not properly saved/restored if these registers were not used as system call arguments (arch_syscall_i

[2019-12-11 19:02] mbolivar commented on #21300
It looks like the pyocd subprocess itself is failing due to a USB timeout.

[code]

There's nothing wrong with that command line that I can see, so I think this is not a west bug.

The same command works fine for me with pyocd 0.23 installed in a virtualenv, while you got:

[code]

which looks like a failed syscall.

I'm using a fresh virtualenv with this pyocd and pyusb:

[code]

And I suspect li

[2019-12-11 19:06] mbolivar commented on #21300
@pabigot are you by any chance running this in a virtual machine? Either way, you may want to look at 9c390d7655772dc5983624f71c22c17b9f9fa9c1, i.e. something like:

[code]

[2019-12-11 19:19] andyross commented on #9506
Yes, this is working in all CI builds and has been for months. Closing.

[2019-12-11 19:19] #9506 closed

[2019-12-11 19:57] #19053 closed

[2019-12-11 20:27] ydamigos commented on #21293
@erwango I opened PR  #21308 to address the issue. I did some quick tests but it needs more testing.

[2019-12-11 20:30] pabigot commented on #21300
Not running in a VM, and that command doesn't help.

However, I did move the device from the USB 2.0 hub I've been using for years (that works fine for everything else) to a USB 3 hub, and it flashed just fine.  Once. Then I got a GPF from the cdc_acm driver which took out the entire bus.

In any case, it's clear this isn't a west problem or a pyocd problem, but probably Linux driver/hardware issu

[2019-12-11 20:30] #21300 closed

[2019-12-11 22:24] dbkinder commented on #16935
After further review, the call on the field is reversed.  There is indeed a way to tweak the search scoring function to do what we want, and I've submitted a PR #21312 to do just that.

[2019-12-11 22:31] MaureenHelm commented on #17814
See #20328

[2019-12-11 22:36] #15593 closed

[2019-12-11 23:57] andrewboie opened #21317 "intermittent SMP crashes on x86_64"
I'm seeing some sporadic crashes on x86_64.

These crashes seem to have the following characteristics:
1) Instruction pointer (RIP) is NULL
2) It seems to happen when main is creating new child threads to run test cases, but I haven't been able to pinpoint where or get a stack trace

Here's an example, but I have seen this occur in a lot of tests:

[code]

Started noticing this after I enabled boo

[2019-12-12 01:26] MarcianoPreciado opened #21318 "CONFIG_SYS_POWER_MANAGEMENT Makes Build Fail for nRF5340 and nRF9160"
The current implementation of `zephyr/subsys/power/device.c` breaks because of the following:

[code]
The documentation describes that `SYS_POWER_MANAGEMENT` is dependent on `SOC_FAMILY_NRF` which is selected by `SOC_SERIES_NRF51X`, `SOC_SERIES_NRF52X`, `SOC_SERIES_NRF53X`, `SOC_SERIES_NRF91X`. Both of the soc_series symbols for the nRF53x and nRF91x select `HAS_SYS_POWER_STATE_DEEP_SLEEP_1` also

[2019-12-12 02:40] boonpin1975 opened #21321 "error update for project civetweb"
this error occurs when doing west update

![image](https://user-images.githubusercontent.com/17423725/70677993-b93ddf00-1ccb-11ea-9d2a-5f927470033e.png)

[2019-12-12 02:49] ulfalizer commented on #21239
Looking into this now.

[2019-12-12 03:47] jmgao opened #21322 "Allow running a work queue on an existing thread"
**Is your enhancement proposal related to a problem? Please describe.**
Right now, it's rather hard to repurpose the memory used by the main thread's stack after initialization. The obvious options are either to implement your own work queue, or write a pile of hacks to find the main stack, wait until the main thread has exited, and then spawn a work queue there. (The specific use case I have is t

[2019-12-12 06:26] nordic-krch commented on #21305
I think it's worth mentioning that 32 bit type will be unsigned.

What about `k_timer_start`? As one of the goals of this change is to get higher precision timeouts then `k_timer` is a primary goal.

During one of the reviews comment was raised that `k_timeout_t` name is not always precise. I was wondering then if it shouldn't get other name (for example `k_time_t` since it is a representation of

[2019-12-12 06:48] Jeepgoing commented on #21121
yes @finikorg  It's have OTG function

[2019-12-12 07:11] KwonTae-young opened #21325 "Where should the Digital-Input, Output, ADC driver be added?"
I recently had a chance to deal with the following chips.
All work with SPI.
- [TI SN65HVS885](http://www.ti.com/product/SN65HVS885)(Digital Input)
- [TI DRV8804](http://www.ti.com/product/DRV8804)(Digital Output)
- [TI ADC121S051](http://www.ti.com/product/ADC121S051)(ADC)

Can these IC drivers be included in Zephyr?
I didn't know where to work, so I created a new `driver/iio`.
https://github.com

[2019-12-12 07:50] #21257 closed

[2019-12-12 07:55] finikorg commented on #21121
Then Zephyr is USB device and RNDIS should work

[2019-12-12 08:14] cvinayak commented on #21299
@KAGA164 Could you please provide me the samples and the commit hash to reproduce the issue? I will check the samples/bluetooth/peripheral vs samples/bluetooth/central_hr with added bt_conn_security_set, hope I can reproduce. But it is always best if the issue report has better details for reproducing, to speed up on the resolution.

[2019-12-12 08:19] Jeepgoing commented on #21121
@finikorg But  Android phone need DHCP by Zephyr, I can't find DHCP server support

[2019-12-12 08:24] jukkar commented on #21121
If Zephyr is compiled with auto IPv4 support `CONFIG_NET_IPV4_AUTO=y`, the system should start using 169.254.xxx.xxx addresses so there should be no need for DHCP server support.

[2019-12-12 08:39] masz-nordic commented on #21318
@MarcianoPreciado can you try #21075 and see if it helps?

[2019-12-12 08:39] Jeepgoing commented on #21121
@jukkar you mean Zephyr Device and Android Phone all use default IP?

[2019-12-12 08:44] gpaquet85 opened #21328 "Apparent network context leak with offloading driver (u-blox Sara r4)"
**Describe the bug**
I have an issue when I try to make multiple MQTT connection/disconnection.
I focused on net_context management.
Indeed in net_context_get function, I saw that I reached CONFIG_NET_MAX_CONTEXTS (equal to 10 in my prj.conf).
For your information, I use UBLOX sara r4 driver (on zephyr 1.14.1) and I wonder if contexts are well managed in this revision (or new one?), especially whe

[2019-12-12 09:07] pfalcon commented on #21328
cc: @jukkar, @mike-scott

[2019-12-12 09:10] pfalcon commented on #21328
@gpaquet85: Are you sure such a board exists?

[2019-12-12 09:11] avisconti commented on #21293
Well, it seems somehow related to #20639, which is a bug that I opened recently, but for which we never understood the root cause. Actually what I have observed at that time was in fact that the I2C driver was stuck on a k_sem_take() because for some reason a k_sem_give() was never executed.
But the issue was not easily reproducible.

I may review and re-test with #21308.

[2019-12-12 09:16] wenyongh opened #21329 "Submit module wasm-micro-runtime (WAMR) to zephyr"
## Introduction

WebAssembly is the cutting edge managed runtime technology that was created as a universal intermediate representation format, and initially for enabling programming web applications in multiple languages (C/C++/Rust/Go/Typescript..) and achieving near native performance. There is a strong industry trend to expand the usage of WebAssembly to IoT solutions.

[WebAssembly Micro Runt

[2019-12-12 09:24] aescolar commented on #21322
CC @andrewboie @andyross

[2019-12-12 09:50] gpaquet85 commented on #21328
Indeed I forgot to change board name in my description. Sorry about that. I correct it in bug description right now

[2019-12-12 10:52] jukkar commented on #21121
No, I mean that if devices are configured to use auto IPv4 addresses, then they will select suitable IPv4 addresses from 169.254/16 block in order to communicate with each other. Linux typically has this support automatically enabled but in zephyr you need to manually enable this.

[2019-12-12 11:01] nordic-krch commented on #21281
@gera-k thanks for finding and reporting. I've prepared PR with the fix.

[2019-12-12 12:55] pabigot commented on #19285
In #20115 I discovered that the IMX GPIO driver enumerates ports from 1 to 7, corresponding to the datasheet names.  I also discovered that `udoo_neo_full_m4` only uses two (I think 4 and 5), which broke the assumption I had that `DT_INST_n_FOO` corresponded to `DT_GPIO_IMX_PORT_(n_1)`.

I'm making this high because we need a solution for this that does not involve massive soc/series-specific `dts

[2019-12-12 13:05] doki-nordic opened #21335 "net: TCP: Socket echo server does not accept incoming connections when TLS is enabled"
**Describe the bug**
Socket echo server (`samples/net/sockets/echo_server`) does not accept incoming connections. This only happens when compiled with TLS support (e.g. with `overlay-tls.conf`). `git bisect` shown that first commit containing this problem was d88f25bd763e2dfa70873b3c2321f2f8677d643d by @jukkar created on Oct 17 (pull request #19919). After debugging I suspect that problem is somew

[2019-12-12 13:42] jukkar commented on #21335
Could you try #20628 if it fixes the issue in your setup?

[2019-12-12 13:48] Vudentz commented on #21103
We do intend to introduce a general discovery mechanism which would subscribe to service changed instead of custom made discovery for each service, so in the future we may have the stack subscribing as well.

I guess a probably better solution here is not eliminate the subscribe list completely but allow callbacks to work for multiple subscriptions, that way we keep it flexible enough that varios

[2019-12-12 13:55] #21181 closed

[2019-12-12 13:58] #21229 closed

[2019-12-12 14:04] doki-nordic commented on #21335
Yes, it fixes, but breaks case **without** TLS enabled.

Following description is about #20628 without TLS.

I see that connection is accepted - output from qemu:
[code]
but echo does not work. Echo server normally shows some logs, that it received some bytes, but with this PR there are no such logs, so the application does not receive any data.

Closing connection and connecting again shows follo

[2019-12-12 14:24] Vudentz commented on #21103
Im having a second thought on this, the problem with book keeping doesn't go away no matter what since one still has to know all the handles, value and CCC, peer, etc, making it work for multiple callbacks would have about the same logic as with a single one so the end result might consume as much memory, so we are just pushing the probably above with this. One of the things that could perhaps rem

[2019-12-12 14:36] wdhpawa commented on #21103
@Vudentz, yes, if we want the stack to retain any knowledge at all about individual subscriptions, we'll have to consider how to restore this knowledge after a reboot without having to go through the subscription process again. I'm not sure how all the information in the struct gets populated, but that would have to happen without any communication with the peer, and without requiring any local pe

[2019-12-12 15:02] Vudentz commented on #21103
I don't think that would work actually, you would need to remember the handles, peer, etc somehow, for instance if service changed is indicated.

What you are describing is exactly the reason we have this logic on the stack, so each and every application don't have to replicate it. That said I do see you can optimize some structures since you don't need to be generic enough to handle any situation

[2019-12-12 15:58] jonasn-ge opened #21339 "Expired IPv6 router causes an infinite loop"
An expired IPv6 router causes an infinite loop where iface_router_run_timer() repeatedly scheduled a work item with negative delay.

Environment: Zephyr v2.0.0 on native_posix, SDK 0.10.3. This bug also manifests itself on newer versions (current master 3765e46a40) and on ARM Cortex-M hardware.

Steps to reproduce on v2.0.0:
- Use samples/net/eth_native_posix
- Remove CONFIG_NET_CONFIG_* from prj.

[2019-12-12 16:03] andyross commented on #21305
Added (it was, of course, in the pull request from back in July).  Also k_thread_create() was missing, and I added entries for k_fifo/lifo_get(), which are macros defined in terms of k_queue_get() but were historically functions and act like separate APIs.

Also added the unsigned note.

It's not, really.  That's what k_ticks_t is for.  k_timeout_t is a representation of the requested time a timeo

[2019-12-12 16:24] andyross commented on #21322
Makes sense.  Or maybe `k_work_q_run_one_item()` and let the user control the main loop?  Seems like if you want to use your own thread for whatever reason, you probably have other things you want it to be doing.

Alternatively rework the scheme so the "work queue as ordered list of callback/data pairs" and "thread running a work queue" are different layers and you can mix and match as you want.

[2019-12-12 16:29] pabigot opened #21341 "conditions required for safe call of kernel operations from interrupts"
While trying to fully understand what kernel services can be used in what context, in support of #18970 and possibly #21111, I noticed what appears to be an anomaly.

My current assessment from code and documentation is that an operation cannot be invoked from an ISR if (reference [thread states](https://docs.zephyrproject.org/latest/reference/kernel/threads/index.html#thread-states)):

* It trans

[2019-12-12 17:06] #1205 closed

[2019-12-12 18:17] WilliamGFish commented on #21328
Isn't the the +UUSOCL  a remote close response? I think it is worth looking at the remote server connection.

You may need look your server to get some clues.

[2019-12-12 18:35] pabigot opened #21342 "z_arch_cpu_halt() should enter deep power-down where supported"
Are we assuming that power consumption does not matter here?

_Originally posted by @pizi-nordic in https://github.com/zephyrproject-rtos/zephyr/pull/18977/files_

[2019-12-12 19:44] andrewboie commented on #21341
@pabigot this just seems like an omission, k_sleep() and all its variants should assert if called from interrupt context, it makes no sense to call this API from an ISR.

Actions are forbidden in an ISR if they would put the caller to sleep, since we are not in context of any particular thread. Other OSes have the same policy Zephyr is not special here.

Pre-kernel functions have the same restrict

[2019-12-12 19:53] henrikbrixandersen commented on #21278
The code in question (rgb_led sample, likely) depends on device tree aliases for the pwm-leds nodes corresponding to the RGB LED to work.

Which board are you trying to compile for?

[2019-12-12 20:16] nashif commented on #3044
this is not supported with zephyr.

[2019-12-12 20:16] #3044 closed

[2019-12-12 20:16] nashif commented on #6496
It is not supported.

[2019-12-12 20:16] #6496 closed

[2019-12-12 20:21] nashif commented on #6562
It is not support and there are no plans.

[2019-12-12 20:21] #6562 closed

[2019-12-12 21:14] #21275 closed

[2019-12-12 21:18] nashif commented on #12130
answered.

[2019-12-12 21:18] #12130 closed

[2019-12-12 21:32] mbolivar commented on #21278
Yep, that makes sense.

@pankaj18 did you read the device tree documentation?

https://docs.zephyrproject.org/latest/guides/dts/index.html

It explains what an "alias" is.

What you need to set an alias to depends on your board.

[2019-12-12 21:37] andrewboie commented on #21342
it's just work that needs to be done, I'm sure a lot of people would be happy if you wanted to implement this for ARM (overriding the __weak placeholder implementation in the kernel)

[2019-12-12 21:56] nashif commented on #16851
no response, closing.

[2019-12-12 21:56] #16851 closed

[2019-12-12 22:12] pabigot commented on #21341
@andrewboie Thanks, that's clear and I can make it work in the API terminology.  I was getting wrapped around an axle because it seemed that `k_sem_give()`, which can be invoked from an ISR (I believe) could, when invoked by a preemptible thread, cause its caller to sleep, but that's because it's a reschedule point rather than because the function itself might sleep.

[2019-12-12 22:12] #21341 closed

[2019-12-13 00:30] MarcianoPreciado commented on #21318
@masz-nordic I tried the pull request you mentioned and it seems to help a lot! Do you know exactly what is holding it up from being merged?

[2019-12-13 00:31] MarcianoPreciado commented on #21318
I will close the issue once your pull request is accepted.

[2019-12-13 01:23] chen-png opened #21351 "tests/drivers/counter/counter_basic_api failed on mimxrt1050_evk board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mimxrt1050_evk   tests/drivers/counter/counter_basic_api
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.1.0-246-g9602c651c220 ***

Running test suite test_counter
starting test - test_set_top_value_with_alarm
E: Wrap can only be set to 0xffffffff
Skipped for GPT1
PASS - test_set_

[2019-12-13 02:24] Vudentz commented on #20632
I don't really get this one, the stack can only really tell if the services have changed by generating a hash and then proceed to compare to the stored one. As for calling db_hash_store doesn't setting_save_one actually checks if the value is the same and skip any IO, or that is not always the case, in which case we should probably compare to stored_hash before commiting anything.

[2019-12-13 05:11] jmgao commented on #21322
Adding a work queue to the main thread seemed like the best option after some thought. It seems unlikely that anyone is going to spawn their own thread that also want to have a work queue on: they can just create a work queue and submit a work item to it. This resolves the initialization order problems nicely, since we can be explicit about when the queue is ready.

[2019-12-13 06:59] ioannisg commented on #18712
https://github.com/zephyrproject-rtos/zephyr/pull/18713

This PR fixed this by doing some inspection of the escalated hard fault.

[2019-12-13 09:11] joerchan commented on #20632
@Vudentz We had the same discussion here in a different issue and the conclusion there was that settings_save would not overwrite if the value was the same.
https://github.com/zephyrproject-rtos/zephyr/issues/20629#issuecomment-562073390

[2019-12-13 09:31] vonhust commented on #21306
Fixed in #21364

[2019-12-13 09:54] nvlsianpu commented on #21335
cc @rlubos

[2019-12-13 10:03] pabigot opened #21365 "implicit casts in API headers must be replaced for C++ support"
Various headers take advantage of the fact that C allows implicit casts of `void*` to other pointer types, e.g.:

   ..., void* ptr, ....
   struct mine *p = ptr;

However this code is erroneous in C++, causing build errors when these headers are included.

Since Zephyr does support C++ in application code, implicit casts should be replaced by explicit casts  in any header that provides API to app

[2019-12-13 10:25] aescolar commented on #21365
@pabigot Something like this does indeed make sense to fix. But note that C++ support is quite experimental. So classifying it as a bug, is maybe a bit borderline. So I will set it to low.
(note that we cannot be in a situation where somebody adds some experimental support for a new feature, and we end up blocking all progress anywhere else until that feature is mature enough).

Also note that bug

[2019-12-13 10:34] stephanosio commented on #21365
For future reference on the implicit void pointer type conversion error in the C++ compilers:

## GCC
* `-fpermissive` option can be used to downgrade the errors to warnings.
* There is no option to disable such warnings.

## Clang
* There is no option to allow an implicit void pointer type conversion.
* Such a behaviour will always be treated as an error.

[2019-12-13 10:37] pabigot commented on #21365
@aescolar The [documentation](https://docs.zephyrproject.org/latest/reference/kernel/other/cxx_support.html) says nothing about C++ support being "quite experimental" and there are a lot of long-standing bugs related to it, one of which is medium priority, for which we've only just found a viable solution.

I agree the problem is unbound, but I don't see how to focus it.  Since we don't have anyth

[2019-12-13 10:52] tejlmand commented on #21230
agreed/

[2019-12-13 10:56] pabigot commented on #21185
As I learn more about this feature I think the documentation needs to expand on this:

Somebody might read that and think it's not really different from other ISRs, where you can do things like `k_sem_give()`.

If that's not true, it should be explicitly mentioned.

If non-sleeping kernel API that reschedules are permitted in ZLI handlers there seems to be a problem because ZLIs will break spinloc

[2019-12-13 10:58] aescolar commented on #21365
Sidetracking

@pabigot  that is probably what we should be fixing first.

[2019-12-13 11:09] stephanosio commented on #21329
I was thinking about doing something similar with the nanoFramework (.NET platform for microcontrollers), but I can see that this could potentially be a better solution.

[2019-12-13 11:11] pabigot opened #21369 "devicetree: clearly define constraints on identifier/property name conflicts"
I would like to propose a rule for the devicetree scripting, to the effect that the generated identifiers should always end with the unmodified property or node name.  This rule would excludes the use of suffixes like `_INIT` or `_UNQUOTED` for special cases.

It also means we need to deprecate the original generation of individual elements of array-valued properties with a suffix ordinal, e.g. `D

[2019-12-13 11:11] pabigot commented on #21369
I've created this as a bug because the existing path seems to prevent binding authors from using certain property names because the tooling generates symbols that conflict with them.  Fixing that doesn't seem like an enhancement.

[2019-12-13 11:26] aescolar commented on #21185
@pabigot I'd say this is an enhancement. But indeed how to motivate people to work on fixing/improving any area can be tricky. Something is an enhancement certainly does not mean it should be ignored.

[2019-12-13 11:43] jukkar commented on #21335
@doki-nordic I think I figured out the culprit, can you try #21371 if it works for you

[2019-12-13 11:44] happymili opened #21372 "cc26x2r1_launchxl build passed, but can't flash"
### build
[code]
output
[code]

### flash
[code]
output
[code]

[2019-12-13 12:00] #21339 closed

[2019-12-13 12:12] marcoster opened #21375 "GATT: gatt_write_ccc_rsp with error (0x0e) removes always beginning from subscriptions head"
**Describe the bug**
In a multicentral application when `gatt_write_ccc_rsp` is called with error "0x0e", the `subscriptions` always get removed beginning from the head, since in the call of `gatt_subscription_remove` `tmp` is provided as the second parameter instead of `prev`.

**To Reproduce**
Not sure, what error "0x0e" is actually.
I'm testing around with many (20+) connections from one centra

[2019-12-13 12:17] doki-nordic commented on #21335
#21371 works

[2019-12-13 13:09] ZhenfeiWu opened #21378 "The program cannot be downloaded to nrf52840, only to pca10056"
The program cannot be downloaded to nrf52840, only to pca10056

I made a program about nrf52840 small system. When I turn off and restart the small system, I can't start zephyr

[2019-12-13 13:13] LingoMeng opened #21379 "Bluetooth: Mesh: Node Reset Not Clear Bind Key Information"
After receive node reset message, local node exec `bt_mesh_reset`
mod->flag will be fill in some values, but `bt_mesh_comp_unprovision` clear those mod->flag cause https://github.com/zephyrproject-rtos/zephyr/blob/b3da9efbec586bdac0c61671c189b1b6f13eb4ae/subsys/bluetooth/mesh/settings.c#L1556-L1577 not executed.
https://github.com/zephyrproject-rtos/zephyr/blob/43f833800ce9da195985133d070455bef8dd

[2019-12-13 13:14] aescolar commented on #21379
CC @jhedberg

[2019-12-13 13:30] #20640 closed

[2019-12-13 13:34] nordic-krch commented on #21305
Once absolute timeouts are added there might be a need for functions returning target or deadline, something like: `k_ticks_t k_timer_target()`.

[2019-12-13 13:39] jhedberg commented on #21379
@LingoMeng so you're saying the model configuration doesn't end up being removed from flash although the rest of the network configuration is? Are you planning to submit a PR for this? Btw, I didn't see you quote the exact place where mod->flags gets cleared. Your second quote contains bt_dev.flags which is a different variable. @trond-snekvik FYI.

[2019-12-13 13:55] LingoMeng commented on #21379
Sorry, maybe I initialized this value in the model initialization callback. `model_init[i].init`,

[2019-12-13 13:56] #21379 closed

[2019-12-13 14:07] henrikbrixandersen opened #21384 "RFC: API Change: PWM: add support for inverted PWM signals"
## Introduction

The Zephyr PWM API currently lacks a way of  requesting an inverted PWM pulse (active-low) when setting up the period and pulse width of a PWM pin. This is useful when driving external, active-low circuitry with a PWM signal.

### Problem description

The current Zephyr PWM API only allows for a "poor mans" inverted PWM pulse by "inverting" the pulse width, but without proper API

[2019-12-13 14:35] #14621 closed

[2019-12-13 14:39] happymili opened #21385 "board frdm_kl25z build passed, but can't flash"
### config env
[code]

### delete build folder
`sudo rm build -r`

### build
[code]
output
[code]

### flash
`west flash`

output
[code]

[2019-12-13 14:44] carlescufi commented on #21378
@ZhenfeiWu can you please explain a bit more exactly what you are trying to do?

[2019-12-13 15:24] carlescufi commented on #21329
@wenyongh thank you for your proposal. In order for us to understand better what the implications of providing native WASM support to Zephyr via WAMR it would be perhaps interesting for you to present this during one of our TSC calls. @MaureenHelm is the chair person.

[2019-12-13 16:07] nashif commented on #21329
Based on the posted PR there are no changes to Zephyr itself, the PR just add samples. It makes more sense to keep the samples as part of the WAMR project and just add a reference to them. This is a new class of modules that just integrates with Zephyr (without being part of Zephyr) we should be able to add on-demand, not sure if this should be forked or be part of the Zephyr project but we should

[2019-12-13 16:48] andyross commented on #21305
They're in there, under the "New APIs" section.  User-visible objects that include timeouts are k_timer and k_delayed_work, both of which currently have "remaining" predicates (which return ms) but in this scheme get new "end" predicates returning an absolute time in ticks (note that this works regardless of how the timeout was registered).  And threads that are pended on a timeout (e.g. in sleep,

[2019-12-13 17:08] d3zd3z commented on #19380
There is a deeper problem, that `static inline ...` isn't actually the best way to do inline functions in gcc. It usually works, except that depending on certain things, like this construct, it will end up putting code for the function in every module that uses it. This should be warnable against, by adding `-Winline`, which will warn about function that can't be inlined.

Another approach is to u

[2019-12-13 17:17] d3zd3z commented on #19473
At one point, not having argument checks was documented specifically as a design philosophy of Zephyr. I can't find this anywhere in the current documentation (other than a mention of this in the syscalls documentation), but I think it is still a general principle use to keep Zephyr usable on a small footprint.

Maybe the argument check could be an assertion, which would then get compiled out of p

[2019-12-13 18:54] LeBlue commented on #21107
@cvinayak increasing BT_CTRL_RX_PRIO_STACK_SIZE did not help. Addtionaly I watermarked several thread stacks with CONFIG_INIT_STACKS=y, added CONFIG_THREAD_NAME=y and CONFIG_MPU_STACK_GUARD=y

[code]
I think this rules out the stack overflow assumption?

btw.: I had to adjust the default for BT_CTRL_RX_PRIO_STACK_SIZE, adding it to prj.conf did not work.

Addresses v2.1-branch@v2.1.0:
[code]

[2019-12-13 20:09] StefJar commented on #21384
thx for pushing it.
I was asking about the pwm polarity on slack.
My practical case is the pwm generation for an RGB LED. Because of resistors the board comes up after init with all 3 LEDs with maximum brightness. So I was looking for a solution and figured out that the sm32 port of the pwm driver(realized via TIM) does not support reversed polarity. My stm32f412 supports that and this stuff is so

[2019-12-13 21:20] lanvis opened #21390 "BLE Incomplete Connect results in subsquent encryption failures"
**Describe the bug**
After a failed incomplete connect sequence, I get the following warning.
 "<wrn> bt_conn: Found valid but disconnected conn object"

The connect is successful but when I attempt to encrypt the "bonded" link
bt_conn_set_security(conn, BT_SECURITY_L2)
it is successful but  I get the following warning:
**<wrn> bt_att: No pending ATT request**

When I check the key size: bt_conn_e

[2019-12-13 22:02] pabigot opened #21392 "Consider integrating a style-verification tool into CI"
Zephyr has had for a very long time an uncrustify configuration that is [recommended](https://docs.zephyrproject.org/latest/contribute/index.html#uncrustify) to ensure code conforms to the Coding Style.  However there is no QA infrastructure to detect violations of this style.

Part of the plan for coding guidelines includes an enforcement stage.  Tools like Coccinelle may be very helpful in ensur

[2019-12-13 22:06] ulfalizer commented on #21369
I think it would be best to step to step remove stuff that isn't used/needed to start with. It's hard to even get an overview now, and that makes it hard to redesign things.

@galak @pabigot
If you know of any identifiers that aren't used (didn't know the `_<index>` ones for arrays weren't), then please submit PRs to get rid of them. Getting rid of some of the inconsistency for when indices are ge

[2019-12-13 22:08] ulfalizer commented on #21369
The stuff I'm working on now will allow initializers to be generated for entire nodes by the way. That might clean stuff up some more eventually.

[2019-12-13 22:11] pabigot commented on #21369
I want this discussed as a policy before trying to make changes.  There probably are uses of the `_<index>` identifiers, because until the initializer list support was added there wasn't anything else.

I'm aware of new work extending initializer support and concern about the preview I saw on slack is what motivated this issue.

[2019-12-13 22:20] ulfalizer commented on #21369
Do you prefer `DT_..._INIT_PROPNAME` over `DT_..._PROPNAME_INIT`? Or are you talking about not adding any tags at all? The problem with that at the moment is that it clashes with the node existence flags.

Another option would be to add a tag to the existence flags, but I didn't feel like going through all of the code to fix it while working on this. I think that might be nicer at least, if we don

[2019-12-13 22:23] ulfalizer commented on #21369
Gotta have some way to differentiate things if we're gonna generate both "node X exists" and "initializer for node X" identifiers at least.

Maybe the second one could double for the first in some nicer-designed universe...

[2019-12-13 23:04] pabigot commented on #21369
I proposed that the name end with the devicetree path, to node or property.  Anything else risks conflict with other paths.  So distinguishing roles for multiple attributes of a node or property has to be done somewhere else, perhaps as a prefix as I suggested.

ATM I'm not convinced we need initializers for nodes.  What's the use case, how do you deal with order of components, and with changing e

[2019-12-13 23:20] ulfalizer commented on #21369
Can't it clash if you have a prefix as well though? The macro stuff is brittle in that way in general.

`_INIT` just helps disambiguate it. Doesn't matter if it's a prefix or a suffix.

Haven't run into any issues that were caused by clashes between paths/names and "tag" parts of identifiers, so maybe it's not a super-urgent issue.

It's for https://github.com/zephyrproject-rtos/zephyr/issues/2123

[2019-12-13 23:34] ulfalizer commented on #21369
If name/tag clashes start becoming a problem, I'd add a separator like `__`.

I agree that it's ugly that it can clash. Just wonder how urgent it is.

And yeah, nice if it's consistent.

[2019-12-14 00:37] ulfalizer commented on #21239
@KAGA164
Finished implementing it: https://github.com/zephyrproject-rtos/zephyr/pull/21393

Tell me if it works the way you expect and if you run into any issues.

[2019-12-14 12:02] jhedberg commented on #21390
This sounds like a left-over  bt_conn reference from a previous connection (possibly in the application). Which application are you using? Are you able to reproduce it with any of the samples in the Zephyr tree?

[2019-12-14 13:21] ZhenfeiWu commented on #21378
thank you for your replay，
my question is：
I have made a nrf52840 small system board, such as the hex generated by compiling in / basic / Binky. I can download the program through DK, and my board can work normally alone. But I can download the program through DK only by keeping my board connected with DK.
why?

[2019-12-14 13:27] ZhenfeiWu commented on #21378
thank you for your replay,
I have made a nrf52840 small system board, such as the hex generated by compiling in / basic / Binky. My board can work normally independently by downloading the program through DK, but like the hex generated by compiling in / Bluetooth / mesh/Demo, if I download the program through DK, I must keep my board connected with DK to work normally, and cannot work normally ind

[2019-12-14 15:00] #20746 closed

[2019-12-14 17:14] Nukersson opened #21399 "NUCLEO-H745ZI-Q Support"
The support of ST's [NUCLEO-H745ZI-Q](https://www.st.com/en/evaluation-tools/nucleo-h745zi-q.html)  would be nice.

[2019-12-15 01:02] benpicco commented on #21234
@carlescufi I'm afraid I'm not familiar enough with the USB stack and a bit short in time right now.

[2019-12-15 10:04] pabigot commented on #21369
@carlescufi Related to this I think we need to start taking the devicetree infrastructure under management similar to other API with respect to changes to interface and behavior.

Binding descriptions specify what properties are present, which affects devicetree source and drivers.  Adding a new property can require modifications to the test `drivers/buildall/dts_fixup` that are often forgotten.

[2019-12-15 10:32] carlescufi commented on #21392
+1 for this idea, I've actually always thought about  this. Should we then remove `checkpatch` completely or are there some checks that would be missing otherwise?

[2019-12-15 13:27] pabigot commented on #21392
Checkpatch verifies things outside coding style (like commit message content) so it would still be necessary.

[2019-12-15 14:42] nashif commented on #21392
Thought about this multiple times in the past, it is not straightforward but definitely feasible with some effort needed:

1. We need something that works on changes, ie. commits and not on complete files. Not sure if uncrustify can work this way, clang-format does with `clang-format-diff`
2. We need to review all the rules we already have in `.uncrustify.cfg` and `.clang-format` and tighten them

[2019-12-15 15:18] #21290 closed

[2019-12-15 15:18] #21365 closed

[2019-12-15 15:35] #15729 closed

[2019-12-15 16:17] bwasim commented on #20217
I'm trying out Zephyr and an emulator is my obvious first choice.. I've been able to build and execute Zephyr on QEMU-R5 but I am unable to debug the app / kernel (while starting Qemu machine, I tell the GDB to listen to a port for TCP connections and then connect it via an IDE).. I think the problem is that the R5 image is ARM while the Qemu model is Aarch64, and so this incompatibility generates

[2019-12-15 17:20] stephanosio commented on #20217
@bwasim I have never tried debugging Zynq RPU under QEMU, but the Xilinx docs mention that a special gdb build is required for this (i.e. multi-arch build configured with `--enable-targets=all`), which is not included in the Zephyr SDK at the moment.

https://xilinx-wiki.atlassian.net/wiki/spaces/A/pages/18841606/QEMU+-+Zynq+UltraScalePlus#QEMU-ZynqUltraScalePlus-DebuggingtheA53sandtheR5sfromGDB

[2019-12-15 20:20] bwasim commented on #20217
Thanks for the update..

On a side note, I'm currently trying to get a functional board support for ZCU102-R5 (physical board) with support for Ethernet enabled (I don't see the GEM IP ported to Zephyr yet).. Will open a PR for it soon (Thanks to your previous work, I already have the UART / Kernel up and running)..

--Bilal

[2019-12-15 22:17] Vudentz commented on #21103
Here is some idea how we could accomplished a the multiple callback notification with very small footprint:

1. Make a pool of bt_att_req so that doesn't need to be embedded on the params anymore
2. Make subscription list per peer, this increases a little the footprint on the stack side since we need an array of at least MAX_CONN + MAX_PAIRED but with this we can remove the peer member form the su

[2019-12-16 01:31] stephanosio commented on #20217
@bwasim Just tested Xilinx QEMU RPU debugging, and it works with a gdb that is configured with `--target=aarch64-zephyr-elf --enable-targets=arm-zephyr-eabi` (you can just use `gdb-multiarch` that is commonly available too).

I will try to get this included for the Zephyr SDK 0.11.0 release.

[2019-12-16 06:47] FWeissenb commented on #21321
Same here.

`=== updating civetweb (modules\lib\civetweb):
fatal: ambiguous argument 'HEAD': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'`

That's the error message not shown in the screenshot above.

[2019-12-16 08:02] koffes commented on #19473
@d3zd3z I think that is a good idea.

[2019-12-16 08:59] gon1332 commented on #21399
@carlescufi It's `platform: ST`.

[2019-12-16 09:07] #21335 closed

[2019-12-16 09:34] bwasim commented on #20217
Very cool.. Thanks..

[2019-12-16 09:35] #14668 closed

[2019-12-16 10:17] JordanYates opened #21409 "sanitycheck: cmd.exe colorized output"
**Describe the bug**
The windows cmd.exe terminal does not respect ANSI escape sequences for colors.
These escape sequences are used in sanitycheck for formatting the output.
Alternate tools (west/log.py) use the colorama library for colorizing output.

**To Reproduce**
On windows
```python.exe zephyr\scripts\sanitycheck --ninja -T zephyr\tests\unit\util```

**Expected behavior**
Nice colorized ou

[2019-12-16 10:39] aescolar opened #21410 "bt_ctlr_hci: Tx Buffer Overflow on LL/CON/MAS/BV-04-C, LL/CON/SLA/BV-05-C & LL/CON/SLA/BV-06-C"
**Describe the bug**
At some point during the last couple of week in master LL/CON/MAS/BV-04-C, LL/CON/SLA/BV-05-C & LL/CON/SLA/BV-06-C started failing

**To Reproduce**
The fastest way, would be to
1. take this branch: https://github.com/zephyrproject-rtos/zephyr/pull/21006
2. west update
3. source zephyr-env.sh
4. WORK_DIR=${ZEPHYR_BASE}/bsim_bt_out tests/bluetooth/bsim_bt/compile.sh
5. export E

[2019-12-16 10:42] nordic-krch commented on #21305
right, missed `as an absolute/uptime value` part there. good.

[2019-12-16 10:50] nordic-krch commented on #21305
@andyross can you also clarify what happens with `K_THREAD_DEFINE` delay argument? If it is staying as   milliseconds then it cannot accept K_NO_WAIT anymore.

[2019-12-16 14:35] pdunaj opened #21418 "Crash when suspending system"
**Describe the bug**
We enabled watchdog. Now when system goes to sleep crash happens.

**To Reproduce**
Steps to reproduce the behavior:
Enable watchdog in a application that uses power management. Wait for it. Observe crash when `sys_pm_suspend_devices` is called.

**Expected behavior**
System should just go to sleep.

**Impact**
Showstopper.

**Screenshots or console output**
N/A

**Environment

[2019-12-16 14:35] carlescufi commented on #21399
Oops, sorry about that.

[2019-12-16 14:38] pdunaj commented on #21418
When call `sys_pm_suspend_devices` is executed all devices on the list are suppose to get notifications via registered callbacks. Even if some devices this callback is NULL. See watchdog code.

[2019-12-16 14:44] pdunaj commented on #21418
There are some other devices that should either be registered using different api or use `device_pm_control_nop`.

[2019-12-16 14:48] pfalcon commented on #21187
So, I'm testing #21269, and as it is, it visibly regresses frdm_k64f. While there seems to be a way to "fix" it, I personally would have reservation about enabling acceleration features by default. Reason should be obvious: with software issues, we can debug and fix them, with hardware issues, debugging them is much more complicated and fixing are oftentimes not possible. Actually, even figuring o

[2019-12-16 14:56] emob-nordic opened #21419 "RFC: API Change: usb: Make users call usb_enable. Provide global status callback."
## Introduction

* Users should have a possibility to call usb_enable when they wants to (like its done for bluetooth). Currently usb is auto enabled on system boot up which may lead to errors (explained later).

* USB status codes should refer to USB device as a whole not to a particular class as it is done now (HID).

### Problem description

* It is possible that usb is enabled before the class

[2019-12-16 15:16] #21299 closed

[2019-12-16 15:24] nordic-krch commented on #21419
Not sure if this is the case but if usb device can be seen as service requested and released asynchronously by multiple clients (classes) then you might want to keep your eye on `onoff_service` PR (#21090) which attempts to standardize such case.

[2019-12-16 16:02] rolandma opened #21422 "Added nucleo-f767zi board support and would like to share"
I added nucleo-f767zi board support and would like to upload to share.

[2019-12-16 16:35] erwango commented on #21422
@rolandma , please feel free to push a PR.
You can follow contribution guidelines documented on zephyr documentation.
Also, you can use the following PR as example: https://github.com/zephyrproject-rtos/zephyr/pull/20994

[2019-12-16 18:20] carlescufi opened #21426 "civetweb triggers an error on Windows with Git 2.24"
**Describe the bug**
Using west and Git on Windows worked fine up until Git 2.23 (included).
When running `west update` using Git 2.24 on Windows, you get:

[code]

**To Reproduce**

On Windows, and with Git 2.24:
[code]

**Additional Context**

- Git commit that introduced the issue: https://github.com/git/git/commit/e1d911dd4c7b76a5a8cec0f5c8de15981e34da83
- Potential civetweb commit with the is

[2019-12-16 18:53] rolandma commented on #21422
@erwango Okay, I created a PR. I tested with the blinky sample app compilation. The board definition is tested with other projects I'm working on and also flashed onto the actual board.

[2019-12-16 18:53] #21422 closed

[2019-12-16 18:55] pavlohamov opened #21429 "Impossible to override syscalls"
Can't override System V syscalls by my own implementation

1. Configure project: CONFIG_NEWLIB_LIBC=y
2. add trace into:zephyr/lib/libc/newlib/libc-hooks.c
[code]
4. add into main()
`FILE *f = fopen("file", "r+");`
5. run it.
So far so good
6. try implement your own "open"
7. lib/libc/newlib/libc-hooks.c:190: **multiple definition** of `_open';

**Expected behavior**
libc-hooks.c expected to have

[2019-12-16 19:00] #20755 closed

[2019-12-16 19:08] andrewboie commented on #19473
The ask here if I understand correctly, is really that all Zephyr APIs that take a pointer value should have a NULL check for those pointer values. k_pipe shouldn't be a special case.

Personally I don't see a lot to be gained by this, it will add extra footprint/overhead for these checks, and there are of course many other bogus pointer values that would not be caught by this.

Pretty much my fee

[2019-12-16 19:37] andrewboie opened #21431 "missing async uart.h system calls"
**Describe the bug**
The set of system calls for our serial API subsystem is incomplete. We are missing system calls for the following APIs, all of which are related to CONFIG_UART_ASYNC_API:

uart_tx()
uart_tx_abort()
uart_rx_enable()
uart_rx_disable()

uart_callback_set() installs a callback handler and shouldn't have a system call. uart_tx_buf_rsp() is only intended to be invoked from callbacks

[2019-12-16 19:39] andrewboie opened #21432 "watchdog subsystem has no system calls"
**Describe the bug**
We have no system calls defined for the watchdog subsystem API.

wdt_setup()
wdt_disable()
wdt_feed()

wdt_install_timeout() installs a callback handler and shouldn't have a system call. The rest of these APIs need them.

**Impact**
User mode threads can't interact with watchdog devices.

[2019-12-16 20:31] andrewboie commented on #21431
Original PR discussion for async API is here:

https://github.com/zephyrproject-rtos/zephyr/pull/10820

There's a lot of discussion in here, but from skimming over all of it appears that the async UART APIs are intended for supervisor mode only, and these APIs are intended to be used by other drivers that are built on top of the UART. @nordic-krch @pfalcon @Mierunski @carlescufi do I have that rig

[2019-12-16 21:44] andrewboie opened #21435 "error when running ARC GDB in SDK on Ubuntu 19.10"
`/opt/zephyr-sdk/arc-zephyr-elf/bin/arc-zephyr-elf-gdb: error while loading shared libraries: libpython2.7.so.1.0: cannot open shared object file: No such file or directory`

Workaround:

[code]

Workstation setup instructions may need to be updated, or SDK build parameters adjusted.

[2019-12-16 22:07] andrewboie opened #21436 "refactor and augment CPU cache management APIs"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, most of the implementations of sys_cache_flush() don't work from user mode. There are use-cases on SMP systems, at least on ARC, where cache coherency between cores must be managed manually in application logic.

On ARC, reading the aux registers related to caches from user mode results in a privilege violation (nam

[2019-12-16 23:00] andrewboie opened #21438 "sanitycheck reports "FAILED: N/A" for failed or hung tests"
**Describe the bug**
Sanitycheck is reporting "FAILED: N/A" for tests that are failing due to an unexpected exception, or the test gets stuck and times out.

**To Reproduce**
Run sanitycheck in a tree where some tests are failing.

**Expected behavior**
We should have some indication that the test timed out, or crashed.

**Impact**
Annoyance

**Screenshots or console output**
[code]

[2019-12-17 00:54] cvinayak commented on #21107
@LeBlue Have you done any modifications to controller code? did you add the "le" word to the BT_INFO logging from the controller's hci.c ?

I see you are connecting to upto 8 devices. Does this problem exist if its only one device connected to?

Is there a way, I can reproduce this on my end, could you share a minimal private branch that can reproduce the issue with steps to reproduce?

[2019-12-17 09:19] parmentj opened #21441 "Add UART5 on B-port to H7 pinmux"
**Is your enhancement proposal related to a problem? Please describe.**
In the provided zephyr/drivers/pinmux/stm32/pinmux_stm32h7.h, the use of UART5 on PB12 and PB13 is missing (Alternate function 14).

Add on line 69 of pinmux_stm32h7.h :
 #define STM32H7_PINMUX_FUNC_PB13_UART5_TX   \
 	(STM32_PINMUX_ALT_FUNC_14 | STM32_PUSHPULL_PULLUP)

 #define STM32H7_PINMUX_FUNC_PB12_UART5_RX    \
 	(STM32_

[2019-12-17 10:30] Hekkfern opened #21443 ""HCI_USB" sample doesn't compile with "nucleo_wb55rg" board"
**Description**
Using "west" to compile the example "hci_usb" (located in samples/bluetooth) fails with the "nucleo_wb55rg". However, it compiles with the "nrf52840_pca10056" board for example.

**To Reproduce**
Steps to reproduce the behavior:
1. Open terminal
2. Go to the "zephyr" project path.
3. Execute zephyr_env.sh to create ZEPHYR_TOOLCHAIN_VARIANT, ZEPHYR_BASE and ZEPHYR_SDK_INSTALL_DIR va

[2019-12-17 10:40] gpaquet85 commented on #21328
Yes this +UUSOCL come from remote server. However, I can't modify anythinbg on this one because it is handled by Orange operator

[2019-12-17 10:43] mfiumara commented on #20629
@nvlsianpu Is the conclusion correct that there is no flash wear? Maybe so for the `bt/id` and `bt/irk` flags, but `bt/hash` gets rewritten always. An excerpt from my storage memory of a device resetting multiple times:
[code]

[2019-12-17 11:10] sdalu opened #21445 "drivers/i2c: add I2C slave support for nrfx"
On the nordic side, at least nrf52832 and nrf52840 have I2C slave peripheral, zephyr seems to also have an internal API for I2C slave support (in drivers/i2c.h), but driver implementation is currently missing

[2019-12-17 11:13] sdalu opened #21446 "samples: add SPI slave"
Zephyr support SPI slave mode, but no sample is provided on how to use it

[2019-12-17 11:16] jfischer-phytec-iot commented on #21443
USB is not supported on nucleo_wb55rg

[2019-12-17 11:16] #21443 closed

[2019-12-17 11:22] aep opened #21448 "nrf52840 errata_98 / 89 mixup"
the code for errata_98 and errata_89 is identical, this doesn't seem right.

errata 98 is "[98] NFCT: Not able to communicate with the peer" and the workaround is different in the code and in the docs.

https://infocenter.nordicsemi.com/index.jsp?topic=%2Ferrata_nRF52840_EngA%2FERR%2FnRF52840%2FEngineeringA%2Flatest%2Ferr_840.html&cp=4_0_1_5

[code]

i found this because i'm getting a usage fault

[2019-12-17 11:37] anangl commented on #21448
The code in `errata_96` and `errata_97` is also identical to the one in `errata_89`. But there is nothing wrong in it. These functions check if a given workaround needs to be applied. And the workaround for nRF52840 anomaly 98 is applied in [system_nrf52840.c](https://github.com/zephyrproject-rtos/hal_nordic/blob/master/nrfx/mdk/system_nrf52840.c#L104).

[2019-12-17 11:40] carlescufi commented on #21369
I agree with this. I want to discuss this with @galak as part of the API meeting series. I will add this issue to the project and remind myself to add it for discussion.

[2019-12-17 11:40] wdhpawa commented on #21103
@Vudentz, with your proposal it sounds like the client application might then be able to repopulate the subscription info after a reboot without communicating with the peer? Handles and subscribe values should be known to the application already, so if that is all that is needed, the restoring problem would be solved? Unless the pool of bt_att_req requires something more (I'm not sure what that is

[2019-12-17 11:46] wdhpawa commented on #21103
@Vudentz , by the way, regarding your previous comment, the client application's list of handles (not just for subscriptions) would of course be updated by a service discovery, if the server were to send a service changed indication, so that should work OK.

[2019-12-17 11:59] carlescufi commented on #21431
I don't think that's accurate

I am really not sure that is the case. I think those are actually also intended for application use. @nordic-krch and @Mierunski can you please confirm?

[2019-12-17 12:00] chrta commented on #21392
Just a comment, because i used uncrustify in a pre-commit-hook and on a ci in the past. The pre-commit-hook is something similar to https://github.com/ddddavidmartin/Pre-commit-hooks/blob/master/pre-commit-uncrustify

1. Uncrustify behaves a little bit different with different versions of it. So it would make sense to integrate a specific uncrustify version in the sdk.

2. I created a patch-file t

[2019-12-17 12:01] pabigot commented on #20687
I suspect it is intentional to leave the driver support out for boards that are primarily generic development platforms.  The SPI NOR devices are rarely used in these cases.

It's part of a wider issue in that these devices tend to have relatively high power draw (30% of Particle Xenon idle current goes to an unconfigured MX25L32 that isn't explicitly put into deep power-down mode).  #19448 needs

[2019-12-17 12:04] nordic-krch commented on #21431
We had that discussion already.
See https://github.com/zephyrproject-rtos/zephyr/pull/10820#issuecomment-433058921 and https://github.com/zephyrproject-rtos/zephyr/pull/10820#issuecomment-434302834

It's not intended to be used in userspace. Tty api is more suitable.

[2019-12-17 12:08] aep commented on #21448
ah! thanks for the explanation. not sure how that works, but glad its correct

[2019-12-17 12:08] #21448 closed

[2019-12-17 12:13] pabigot commented on #21082
Is anything happening with this?  I'm changing this to medium, and it should probably be high.  @carlescufi

    u32_t t0 = k_cycle_get_32();
    k_busy_wait(1000000);
    u32_t dt = k_cycle_get_32() - t0;
    printk("1M us is %u ticks = %u us\n", dt, k_cyc_to_us_floor32(dt));

produces `1M us is 66080 ticks = 2016601 us` on nrf5340_dk_nrf5340_cpuappns.

[2019-12-17 12:16] carlescufi commented on #21082
@ioannisg and @anangl can you please follow-up on this one? I am raising the priority to high because as @pabigot mentioned, this is a critical issue for nRF ICs.

[2019-12-17 12:40] jukkar commented on #21321
Is this the same issues as #21426?

[2019-12-17 12:45] carlocaione opened #21450 "sample.net.cloud.google_iot_mqtt test is failing for frdm_k64f"
The `samples/net/cloud/google_iot_mqtt/sample.net.cloud.google_iot_mqtt` test fails to build for the `frdm_k64f` platform. Currently reproducible on master.

[code]

This has been caught by shippable on #21326.

[2019-12-17 12:48] carlocaione commented on #21450
This is probably not a bug per se because the key can be generated using the provided `create_keys.py` script but not sure how that is supposed to work on the CI side.

[2019-12-17 13:03] jukkar commented on #21450
I just sent a PR that disables the compilation of this sample by sanitychecker. We should make it possible to compile the sample automatically using some pre-defined certs so that the sample can be compile tested. That is for future studies.

[2019-12-17 13:10] alexanderwachter opened #21452 "drivers: ethernet: unify the initiaization"
**Is your enhancement proposal related to a problem? Please describe.**
ETH_NET_DEVICE_INIT takes a device-init function, and an API with an iface_api init.
The device-init, which is called first, should initialize the hardware to a state where it is ready to send and receive.

The net interface-init function should only bind the device driver to the interface and enable receiving.

At the moment,

[2019-12-17 13:41] nika-nordic commented on #21082
I've just check this for nrf52833_pca10100  on `master` (SHA: 9128200e) and tests pass just fine.

[code]

When it comes to nRF53, in fact one test fails and we are investigating it.

[2019-12-17 13:44] #21450 closed

[2019-12-17 13:52] ioannisg commented on #21082
@nika-nordic : assuming that you have reproduced the failure on the original SHA For pca10100; can you identify the change that has made the test pass in current master? I wonder if this test is simply fragile and depending on code paths may be either passing or failing, or if some patch has really fixed it for nrf52833.

[2019-12-17 14:52] carlescufi commented on #17731
Closed by https://github.com/zephyrproject-rtos/zephyr/pull/19779

[2019-12-17 14:52] mfiumara commented on #17731
Closing issue as it has been merged in #19779. Thanks for the hard work!

[2019-12-17 14:52] #17731 closed

[2019-12-17 15:03] solsbarry commented on #19545
I also would like this feature. I tired creating a second usb descriptor which is easy enough. But whether the Host even asks for anything but the first descriptor is host dependent. On my host, the first descriptor is used if it can be, so this is not a solution.
All you need to do I think, is make a new kconfig option called `CONFIG_USB_MAX_POWER `in `zephyr/subsys/usb/Kconfig`
The defualt could

[2019-12-17 15:27] carlescufi commented on #21441
@parmentj why don't you send a Pull Request with the change?

[2019-12-17 16:04] anangl commented on #21445
It is not feasible to use nRF TWIS peripherals via the I2C slave API that is currently available in Zephyr. This API requires the I2C transactions to be performed in a byte-by-byte manner while TWIS periherals use EasyDMA transfers for whole transactions. That's why there is no driver implementing this API.
However, the nrfx driver for TWIS peripherals ([nrfx_twis](https://github.com/zephyrproject

[2019-12-17 16:40] anangl commented on #21082
Regarding nrf5340_dk_nrf5340_cpuapp, as @nika-nordic found during debugging the issue, the problem is in incorrect initialization of the `SystemCoreClock` variable. The core starts with HFCLK128M [divided by 2](https://infocenter.nordicsemi.com/index.jsp?topic=%2Fps_nrf5340%2Fchapters%2Fclock%2Fdoc%2Fclock.html&cp=3_0_0_3_8_2&anchor=register.HFCLKCTRL). And the call to `SystemCoreClockUpdate` that

[2019-12-17 16:50] ric96 opened #21455 "driver: subsys: sdhc: USAGE FAULT trace and no cs control"
**Describe the bug**
sdhc driver crashes post initialization and mount.

Log is from the fat_fs sample.

The line `... 2OK3OK4OK3OK4OK3 ...` are just some printk I added around the k_sleep while loop. So it looks like the loop executes for some time. I also changed the k_sleep value to 100ms.

The cs control also seems to be inhibited, not sure why as the correct pin b12 is mentioned in the overla

[2019-12-17 18:06] andyross commented on #21305
Excellent point.  Added a section at the bottom about that macro.

[2019-12-17 18:21] andrewboie commented on #21431
Yeah, this discussion isn't very clear. I saw these comments.

We have lots of driver subsystems which have both system calls and callback registration. We don't allow callback registration from user mode, so the callback APIs are left supervisor only. But the rest of the APIs are exposed as system calls. The programming model is to set up callbacks at application init, before dropping privileges

[2019-12-17 18:35] #21429 closed

[2019-12-17 18:37] #21306 closed

[2019-12-17 18:42] d3zd3z commented on #19473
I guess I wasn't really trying to argue for adding the null check (I don't think we should have it here), just that if we did add one, it shouldn't be in production builds.

It would add a lot of code to Zephyr if we checked arguments anywhere.

We will have to decide how to deal with the MISRA C requirement to have them, though.

[2019-12-17 18:45] WilliamGFish commented on #21328
I get that response if you send to many malformed messages. I use Google, afafruit and bluemix. I've got that result when the JSON message upsets the server.

It's worth checking...

[2019-12-17 18:50] andrewboie commented on #19473
Yeah, just looked this up...Directive 4.1 "Unless a pointer is known to be non-NULL, a run-time check should be made before dereferencing that pointer". I wonder if this is a 'should' vs 'must' kind of situation. @ceolin might know

[2019-12-17 18:58] MaureenHelm commented on #21385
Hi @happymili , pyocd is not able to find your debug probe. You probably need to configure a [udev rule](https://github.com/mbedmicro/pyOCD#udev-rules-on-linux). If that doesn't work, please check that you have the correct firmware programmed on the OpenSDA MCU. See [here](https://docs.zephyrproject.org/latest/boards/arm/frdm_kl25z/doc/index.html#programming-and-debugging) for more details.

[2019-12-17 20:56] andrewboie opened #21462 "x86_64 exceptions are not safely preemptible, and stack overflows are not caught"
**Describe the bug**
To the best of my knowledge, exception handling in Zephyr needs to have the following characteristics:

1) Interrupts are not masked
2) Preemption can safely happen while handling the exception
3) User mode can't cause a fault in supervisor mode by filling up its thread stack just up to the limit and then trigger an exception
4) Exceptions either shut down the system, kill the

[2019-12-17 20:57] andrewboie commented on #21462
Setting this as 'low' for now, but this will rise in priority once we implement VM with page fault handling. Currently the only recoverable exception we have is related to z_arch_user_string_nlen().

[2019-12-17 21:47] solsbarry commented on #19545
I provided a fix like I described above. I realize the original request asked for a way to configure this at runtime, and my fix is only at build time. But I am not sure there is a practical reason to reconfigure at runtime. But maybe there is.

[2019-12-17 21:50] jfischer-phytec-iot commented on #19545
Where is this "original request" you talking about?

[2019-12-17 21:59] solsbarry commented on #19545
@jfischer-phytec-iot I meant your request.

[2019-12-17 22:11] nashif commented on #20993
@andyross can you please add missing documentation?

[2019-12-17 22:15] nashif commented on #10534
I guess the answer is no, if there is a proposal for a better solution, this should come in as an RFC or a feature request.

[2019-12-17 22:15] #10534 closed

[2019-12-17 22:18] nashif commented on #2664
Closing, we need to deal with any specific issues 1 by 1, this catchall enhancement request has been addressed for the most part.

[2019-12-17 22:18] #2664 closed

[2019-12-17 22:19] #2807 closed

[2019-12-17 22:20] #3701 closed

[2019-12-17 22:21] #21438 closed

[2019-12-17 22:32] szundi commented on #21321
workaround suggested not worked for me with this problem

[2019-12-17 22:33] jfischer-phytec-iot commented on #19545
This issue suggests to use device tree not Kconfig. But with #20375, Kconfig could probably be a good solution too.

[2019-12-17 23:23] d3zd3z commented on #19473
There are two ways we could deal with Dir 4.1. "Unless a pointer is known to be non-NULL" could be argued that is something Coverity checks. Or the directive is "required", which is MISRA C speak for "should". It is required, unless we write down why we don't comply with it. The wording says it is hard to reason across function boundaries, but something like Coverity is good at that.

[2019-12-17 23:48] andrewboie commented on #16329
This is actually pretty bad.

In SMP scenarios, if the 1cpu test variants are used, the setup function spawns threads which block other CPUs. The teardown function kills those threads. If the test is interrupted (ztest_test_fail, ztest_test_pass, ztest_test_skip are examples) then the teardown function is never run.

If a subsequent case tries to also run a 1cpu test, then we have a problem: the 1

[2019-12-18 00:55] andyross commented on #16329
Don't have an exerciser handy, and not an expert on ztest.  But looking at it it seems fairly straightforward.  This moves the cleanup handling until after the setjmp targets and after the spawned thread is aborted.  It doesn't seem to have broken anything obvious:

diff --git a/subsys/testsuite/ztest/src/ztest.c b/subsys/testsuite/ztest/src/ztest.c
index 2adda688d2..161b511bb7 100644
--- a/subsys

[2019-12-18 01:03] dbkinder opened #21466 "doc: extract_content.py not copying images in a table"
**Describe the bug**
The doc build script ``extract_content.py`` is used to scan .rst files looking for referenced files (images and includes for example) and copies them to the proper location in the _build folder.

The script is missing such references if they're within a drawn table (as encountered in PR #21361), and doesn't copy the referenced images, resulting in a doc build error that the im

[2019-12-18 01:09] andrewboie commented on #16329
@andyross this approach looks good -- one potential gotcha is that teardown is running in the main thread instead of ztest_thread, and IIRC main has a pretty small stack size as compared to the test runner. But I agree we should move the teardown out of the ztest thread, the gymnastics involved in ensuring it runs if its still in ztest_thread context seems somewhere between very complex to impossi

[2019-12-18 01:11] dbkinder commented on #21466
@carlescufi @mbolivar Not a common problem, but it was interesting to diagnose.

[2019-12-18 02:42] andrewboie opened #21469 "ARC SMP is mostly untested in sanitycheck"
ARC has support for SMP now, but there are no ARC-based boards which have CONFIG_MP_NUM_CPUS or CONFIG_SMP set in their defconfigs. I would expect nsim_hs_smp to have CONFIG_SMP=y in it.

Thus, all tests are running uniprocessor instead of in SMP mode except for those two tests that enable SMP specifically. We are not adequately testing the ARC SMP implementation.

This needs to be fixed, if we ha

[2019-12-18 02:42] andrewboie commented on #21469
@vonhust can you please look into this?

[2019-12-18 03:46] andrewboie commented on #21317
At this time I don't believe any of the changes I have made to page tables are the culprit.

I did a git checkout of 12287985fb1e5bd3cf6b1b4018d86064607e45e1 which is the revision that introduced SMP into the qemu_x86_long target. I then did multiple runs of "sanitycheck  -n -p qemu_x86_long; stty sane". I am seeing tests randomly failing as well, although the errors are different as the boot page

[2019-12-18 03:47] boonpin1975 commented on #21321
this work around is not working on my system

On Wed, Dec 18, 2019 at 6:32 AM András Szabó <notifications@github.com>
wrote:

[2019-12-18 03:52] andrewboie commented on #21317
I've prepared a branch at the revision where SMP was introduced in qemu_x86_long with my change to ztest to add the sleep after running a test.

https://github.com/andrewboie/zephyr/tree/smp-issues

To reproduce what I am seeing, check this out, update west, and then run sanitycheck for either qemu_x86_long (new port) or qemu_x86_64 (old port); both should exhibit random failures.

[2019-12-18 05:10] cvinayak commented on #21410
The said test cases LL/CON/MAS/BV-04-C, LL/CON/SLA/BV-05-C & LL/CON/SLA/BV-06-C, all passed on EBQ tester 2019-1.7263

[2019-12-18 05:31] andrewboie commented on #21317
A really good data point would be to see if this can be observed with nsim_hs_smp or some Xtensa target. I'm trying to globally enable SMP for nsim_hs_smp but I'm having some issues.

[2019-12-18 06:51] andrewboie commented on #21317
Some other observations:

- Applying the patch to ztest to the current master branch reproduces this on qemu_x86_64
- All crashes are the CPU trying to execute some address that isn't code. With current x86_64 this results in pagefaults due to our use of the NX bit. before the memory protection stuff landed I've seen invalid opcode, general protection faults, page faults, etc. stack corruption?
-

[2019-12-18 06:54] abrodkin commented on #21469
I think @vonhust point was `CONFIG_SMP` get automatically enabled by SMP-related tests & examples.
But I guess @andrewboie point here is we need to run all the tests with SMP enabled just to see how good SMP implementation is, right?

Now the problem is free version of nSIM (which requires no license whatsoever) doesn't support SMP so the only way to try SMP on ARC is to run tests on real HSDK boa

[2019-12-18 07:07] maksimmasalski opened #21475 "sanitycheck: hardware map generation unexpected exit during the first attempt"
**Describe the bug**
When I create a hardware map for any board, for example reel_board, it finishes work on the step:
[code]
At the same time hardware map file `mec.file` was succesfully created, at can be opened.
When I run the same command at the second time, it gives me the full output.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use the latest master 17d066b9dc0e0ac632edce4a2

[2019-12-18 07:26] parmentj commented on #21441
@carlescufi , stage fright , I am going through the description right now

I will make it so later today

[2019-12-18 07:40] koffes commented on #19473
I have noticed that the Zephyr community has some reservations towards macros, but what about this:
NULL_PARAM_ASSERT(arg1, arg2, ...)
Such a "vararg" macro can be enabled by default in debug mode and lead to an assertion.
In case of many potential NULL arguments this would avoid having an array of assert checks at the top of a function.

[2019-12-18 07:45] nika-nordic commented on #21082
@ioannisg In fact I did not reproduce the issue on the original SHA `105e099`. I was using SHA: `64f3473` for `hal_nordic` (commit which introduces nrf52833_pca10100 to the Zephyr). This is what I get when I run the test locally on `nrf52833_pca10100`:

[code]

[2019-12-18 07:49] nika-nordic commented on #21082
Thank you @anangl for detailed description. To show that this `SystemCoreClockUpdate()` really helps in case of `nRF53`,  just add the call to this function inside `main` of  `tests/kernel/timer/timer_api/src/main.c`:

[code]

[2019-12-18 08:04] gpaquet85 commented on #21328
@WilliamGFish thanks for your feedback it looks interesting. I will have a look.

[2019-12-18 08:09] nordic-krch commented on #21305
@andyross thanks for adding section about delay in thread starting.

Agree, it can be one of the steps. It isn't widely used.

[2019-12-18 09:08] loicpoulain commented on #21351
fix: #21477 21477

[2019-12-18 09:56] aescolar opened #21483 "sanitycheck messages in CI are not informative anymore"
**Describe the bug**
See for example https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/58607/1/console
Sanitycheck messages in CI do not include the test case or platform being run anymore.

**Screenshots or console output**
[code]

**Environment:**
CI

[2019-12-18 09:58] erwango commented on #21455
@ric96 since I'm not able to reproduce, would you be able to provide more information, like a backtrace for instance?
Would you have any way to reproduce on non STM32 HW to see if this is related to SPI driver ?

[2019-12-18 10:34] StefJar commented on #19545
I put a request for that some time ago
https://github.com/zephyrproject-rtos/zephyr/issues/19544

[2019-12-18 10:38] erwango commented on #21443
@Hekkfern, indeed usb is not yet supported on nucleo_wb55rg.
Though, USB IP on STM32WB is similar to other STM32 USB IP supported on zephyr.
So if you're interested, you can find below an example on how USB could enabled on STM32WB:
https://github.com/zephyrproject-rtos/zephyr/pull/18806/commits/83585fe034fd307b43b23c91be2a8ab8effa89e1
Then, you can check USB related changes in following commit to

[2019-12-18 10:55] ric96 commented on #21455
I don't have any suitable non stm32 micros at the moment.

So here is a very verbosely logged output using the following configs: https://pastebin.ubuntu.com/p/wStzbYM6pg/

[code]

[2019-12-18 10:56] nordic-krch commented on #21305
@andyross from my side RFC looks ok and i see no other issues.

[2019-12-18 10:58] rakons opened #21484 "Option for safe k_thread_abort"
**Is your enhancement proposal related to a problem? Please describe.**
There is a discussion ongoing here: https://github.com/zephyrproject-rtos/zephyr/pull/20937#discussion_r357089381.
The problem is that if we wish to support k_thread_abort, and allow the user to reuse the memory that was allocated for the TCB (Task Control Block), we may end reading data from a block that does not exist. It se

[2019-12-18 11:10] #21418 closed

[2019-12-18 11:11] carlescufi commented on #21466
@dbkinder thanks for the report. I've assigned it to @ulfalizer who has been doing a lot of work lately with the documentation Python scripts.

[2019-12-18 11:55] carlescufi commented on #21321
@szundi and @boonpin1975 can you please comment on https://github.com/zephyrproject-rtos/zephyr/issues/21426? I am closing this since it's clearly a duplicate.

[2019-12-18 11:55] #21321 closed

[2019-12-18 13:23] aescolar commented on #21410
Fixed by https://github.com/EDTTool/EDTT/pull/1

[2019-12-18 13:23] #21410 closed

[2019-12-18 13:30] #21351 closed

[2019-12-18 13:38] nashif commented on #21475
@maksimmasalski  you do not need to call `--generate-hardware-map mec.file` with ` --device-serial /dev/ttyACM0 `, the serial is supposed to be detected.

it is full, however we do not show the detected devices.

[2019-12-18 13:43] nashif commented on #3469
addressed by DTS now.

[2019-12-18 13:43] #3469 closed

[2019-12-18 13:46] nashif commented on #7305
duplicate of #15304

[2019-12-18 13:46] #7305 closed

[2019-12-18 13:47] LeBlue commented on #21107
@cvinayak

No i did not change this part, but the ``le`` is probably just an artifact from filtering the log files.

I did not see it happening with only one or even a few devices. (Does not mean it cannot happen).
Generally the crash does happen more frequently if:

- More devices are connected
- More additional BLE advertisers are around
- Scanning is regularly switched on and off in intervals.

[2019-12-18 13:56] #1511 closed

[2019-12-18 13:58] #5027 closed

[2019-12-18 14:00] rakons opened #21489 "Allow to read any types during discovery"
**Is your enhancement proposal related to a problem? Please describe.**
We have some module to handle service discovery. This module does the whole discovery, caches all the outputs and when it finishes, it provides easy interface for the application. For a reference you can see it here (https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/subsys/bluetooth/gatt_dm.c).

Now we wish to

[2019-12-18 14:28] #21432 closed

[2019-12-18 14:44] nashif commented on #21123
Not all devices can be run in parallel. There is a note in the documentation which mentions what runners and board types are supported. If a board is not supported for parallel runs, then it needs to be singled out and tested on its own.

[2019-12-18 14:44] #21123 closed

[2019-12-18 14:45] nashif commented on #20974
Cant reproduce it still..

[2019-12-18 15:05] nashif commented on #14927
`--mailback` is set in .checkpatch.conf

[2019-12-18 15:28] MarekPieta opened #21493 "System tick is not running"
**Describe the bug**
From time to time I observe the following issue on my Zephyr device:
Timestamps for logs are not increasing and application is not running.
It looks like the system tick is not working.

**To Reproduce**
Issue replicated rarely when device is connected via JLink.
I replicated it with two nrf52832 based devices (both use custom boards).
The boards are in use for longer period o

[2019-12-18 15:35] chen-png commented on #21123
Do you mean this note "note: not all types of boards are supported yet, pyocd and nrfjprog flashable devices work fine", or there is other detail document about this?

[2019-12-18 17:07] #21483 closed

[2019-12-18 17:19] andrewboie commented on #21305
I had been using the delay parameter for some things related to user mode. Typically:

1) Create a thread, but set K_FOREVER as the delay. The thread object is now in an initialized state, but not yet running.
2) Assign the thread to memory domains or adjust its permissions to other kernel objects.
3) Call k_thread_start() to start it.

Assignment of kernel object permissions to threads works even

[2019-12-18 17:22] andrewboie commented on #19473
I think this ticket is overloaded, we have two issues

1) a request to add a flushing mechanism to k_pipe API
2) considerations on globally adding NULL checks to zephyr APIs

I think this should be split into two tickets

[2019-12-18 17:37] andyross commented on #21484
So... storage for k_thread structs (we don't have anything Zephyr called a "TCB").  After the return from a k_thread_abort(), the kernel has promised[1] not to have saved or cached or otherwise remembered the pointer to it, and not to use any of the memory for any purpose.  Given this, our abort API has always been synchronous and hasn't needed to wait for other code to get out of the way[2].

Bas

[2019-12-18 17:40] jenmwms commented on #20017
Can someone please explain the reasoning to remove tests/boards/intel_s1000_crb? I need to include rationale in the commit for #21471 . Any thoughts, @dcpleung, @carlescufi?

[2019-12-18 17:41] andrewboie commented on #21469
There's only one test which forces SMP to be on: tests/kernel/smp. It does not by itself comprehensively catch all the things that can go wrong in SMP, for example see #21317 which we are currently fighting

Is the forthcoming QEMU implementation of ARC going to support SMP?
How much does an SMP-enabled nSIM license cost?

We could certainly use some over here, our validation team could integrate

[2019-12-18 17:43] andrewboie commented on #3634
Catching NULLs in user mode already works so I don't see this as urgent.

[2019-12-18 17:45] LeBlue commented on #21107
### How to reproduce the issue

it should be sufficient to use the plain zephyr hci_usb sample with updated ``BT_MAX_CONN=15`` on any board with the nrf52840 or similar with USB and UART (for logging).

#### Changes to the hci_usb sample
The only changes I am using are:
1. set the BD Address from the vendor register
2. a watchdog (thread) on low priority. (Bug was reproducible, even with this disa