[2019-11-14 11:00] #20425 closed

[2019-11-14 11:01] joerchan commented on #20660
@wdhpawa They way privacy is implemented now we switch to host-based privacy when the controller resolving list is full. So the extra scan is needed if the controller does not support controller privacy, or the controller resolving list is full and we switched to host based privacy.

[2019-11-14 11:02] nvlsianpu commented on #20423
Looks like i recognize this improperly. Flash driver API uses relative addressing,
This is NOT an issue the.

[2019-11-14 11:02] #20423 closed

[2019-11-14 11:04] ioannisg opened #20695 "nRF5340: misc fixes for nRF53 porting"
**Describe the bug**
Several bugs need to be fixed for the nRF53 SoC porting in Zephyr

- peripheral macro definitions for CACHE and NVMC need to be corrected. Instead of directly referencing CACHE_S and NVMC_S macros (i.e. for secure domain), the NRF_CACHE and NRF_NVMC macros may be used directly. This has been addressed in nRFX, where the correct base peripheral addresses are generated based on

[2019-11-14 11:06] ioannisg commented on #20695
Low priority bug - affects only nRF53 SoC and Boards.

[2019-11-14 11:18] #20695 closed

[2019-11-14 11:18] wdhpawa commented on #20660
@joerchan, I see, and I agree that skipping the scan in some cases should be a separate enhancement if the command disallowed problem can be solved independently.

[2019-11-14 11:30] carlescufi commented on #20450
That's correct. The handling of the L2CAP packet is up to the Host, which will then need to respond to it with another L2CAP packet (the response) and then initiate an LL Connection Update procedure using the HCI_LE_Connection_Update command.

Closing this as this is not a bug but a misunderstanding of the spec. Feel free to reopen if you disagree.

[2019-11-14 11:30] #20450 closed

[2019-11-14 11:33] carlescufi commented on #20673
Downgraded to question since it's unclear whether this is a bug.

[2019-11-14 11:37] carlescufi commented on #20660
@wdhpawa  I still don't get exactly the setup you are using.

What Host are you using? Zephyr's? If so, how are you compiling it? with the `native_posix` board? With QEMU?

Regarding the controller, which board exactly are you building for, and what transport are you using, UART or USB?

[2019-11-14 11:37] jfischer-phytec-iot commented on #20250
There is regularly one transfer per frame, after a 32 byte HCI event transfer + ZLP subsequent transfers stop for 2 seconds (and cause Transfer error -11).

![master_zlp](https://user-images.githubusercontent.com/9864546/68852219-c0c39580-06d7-11ea-9478-7b359e4445d0.png)

[2019-11-14 11:38] carlescufi commented on #20660
That would be a data vs commands/events race, but not a sequence of HCI commands. I don't think this is the issue.

[2019-11-14 11:52] AdrianEggenberger commented on #20450
Thanks for the lesson in the BLE link layer understanding... :-)
I thought that I'm quite familiar with the core spec, but obviously there are still a lot of things to learn.

[2019-11-14 11:55] trond-snekvik commented on #17454
Resolved by #17729 :tada:

[2019-11-14 11:55] #17454 closed

[2019-11-14 12:16] ChristofferSchroeder commented on #20660
@carlescufi  It is a Zephyr native posix application. We are using two different controller boards. One nRF52840 (PCA10059), and a PTS dongle from Blouetooth.org.

[2019-11-14 12:33] carlescufi commented on #20414
@WilliamGFish could you please try the sample in current upstream master but enabling
`CONFIG_BT_LL_SW_LEGACY=y`? I suspect this has a lot to do with the split controller now being default.

[2019-11-14 12:35] carlescufi commented on #16886
@spieth is this still an issue?

[2019-11-14 12:46] carlescufi commented on #20660
Can we please get a full HCI trace using `btmon`? With this setup it should work out of the box.

[2019-11-14 12:47] carlescufi commented on #20660
@ChristofferSchroeder
Using this combination you should be able to get a full HCI log using `btmon`. Please attach it to the issue so we can check it out.

[2019-11-14 12:57] carlescufi commented on #20392
I am quite sure there are several places in the code, run by the system workqueue, where we assume non-preemptability. There is a long-term goal of making all Bluetooth threads preemptible, but that requires more careful analysis.

[2019-11-14 12:58] carlescufi commented on #20392
There is a PR fixing those, so that could be a short-term solution. Converting the current ecc thread to handle all SMP crypto-related calls could be a very good option as well.

[2019-11-14 13:13] LeBlue commented on #20250
I already assumed that increasing CONFIG_BLUETOOTH_INT_EP_MPS is a workaround. But wouldn't it be better to increase it anyway to decrease fragmentation? As (almost?) all advertisment reports have greater size than 16 bytes.

As for the usb protocol part I cannot really help you except testing/trying out different versions and provide you the log files. For logging usb traffic I'd enable usbmon?

[2019-11-14 13:23] pfl opened #20697 "Confusing warning during cmake"
While implementing new functionality using UARTs, I on purpose enabled the Kconfig variable CONFIG_UART_ASYNC_API. I turns out that this is a variable that has to have supporting code and other Kconfig options setting it, and is not meant to be enabled in prj.conf. The message telling me this is:
[code]
The bug here is that this message is overly verbose and very confusing.

A message simply sayin

[2019-11-14 13:26] vanwinkeljan commented on #20278
@zzzh Note there is a PR correcting an offset in the ST7789 driver (#20691)

[2019-11-14 13:34] wdhpawa opened #20698 "Bluetooth: host: Skip pre-scan done by bt_conn_create_le if not needed"
**Is your enhancement proposal related to a problem? Please describe.**
The host API function bt_conn_create_le uses the HCI_LE_Create_Connection command to make the controller scan for and connect to an advertiser. However, bt_conn_create_le appears to be doing a pre-scan to find the advertiser before issuing the HCI_LE_Create_Connection command. This pre-scan is supposedly needed to support host

[2019-11-14 13:35] pfl opened #20699 "Each board should have a list of Kconfig options supported"
While working on an for me unknown board, let's say for example FRDM k64f, it would be excellent to have all the possible board specific Kconfig options listed. I was looking for UART support, and figured out from the header file that the asynchronous UART API would be the best fit for my project.

Unfortunately the only way of figuring out whether said example board supports this particular UART

[2019-11-14 13:44] wdhpawa commented on #20660
I've split the pre-scan removal into a separate issue #20698 as suggested.

[2019-11-14 13:45] SebastianBoe commented on #20697
It is not-a-bug that the warning text can be improved.

[2019-11-14 13:55] joerchan commented on #20698
As an optimization on the case where the controllers resolving list has been exceeded. It would be possible to add just the device that we wish to connect to in this case in order to start the initiator role.
Same for connecting with a whitelist, we could add all the devices in the whitelist to the resolving list, as long as rl_size >= wl_size

[2019-11-14 14:11] nvlsianpu commented on #20541
@aasthagr  I confirm that this is false positive for reason described above.

[2019-11-14 14:13] #19537 closed

[2019-11-14 14:14] #20444 closed

[2019-11-14 14:19] aescolar commented on #20699
CC @ulfalizer

[2019-11-14 14:26] pfalcon commented on #20663
As this is marked as priority: low, let me look into this when 2.2 window opens. The idea of solution would be to make building of fdtable.c  dependent of (hidden) Kconfig symbol, and `select` it where needed (currently POSIX, BSD Sockets).

[2019-11-14 14:27] jfischer-phytec-iot commented on #20250
Yes, I will also provide a patch for CONFIG_BLUETOOTH_INT_EP_MPS.

I can now reproduce the issue with just three advertising nodes. Thanks, but usbmon is behind host controller and would not help.

[2019-11-14 15:46] MaureenHelm commented on #20499
Fixed by #20615

[2019-11-14 15:46] #20499 closed

[2019-11-14 16:47] #20533 closed

[2019-11-14 16:49] kristoftjonck opened #20707 "Define GATT service at run-time"
**Problem**
How am i able to create a custom GATT service with custom characteristics at run-time without predefining any memory space?

I based myself on the code found in hrs example from 1.14 to create a static implementation of the custom service & characteristics (see second code example). But when i create them on runtime (see added source code) i get an error.

Note: now using the 2.0.99 Ze

[2019-11-14 17:20] dbkinder commented on #20666
Similar unexpected warnings from a clean build of blinky for the sam_e7_xplained board:
[code]

[2019-11-14 17:21] avisconti commented on #20639
Hello @FRASTM can you take a look to this issue?
To recreate it you would need a x_nucleo_iks01a3.

[2019-11-14 17:24] dbkinder commented on #20666
BTW, none of these UART warnings are given when building the hello_world sample, so it may just be some configuration settings for blinky that's exposing this warning.

[2019-11-14 17:31] Deliver88 commented on #17135
@fake991 , @nashif
I faced this issue too, when tried running the WiFi example at samples/net/wifi. The error is caused from the esp-idf. At esp-idf/components/esptool_py/esptool you have to fix it in the esptool.phy, there you will find the section
def verify(self):
        if len(self.segments) > 16:
            raise FatalError('Invalid segment count %d (max 16). Usually this indicates a linker

[2019-11-14 17:47] mbolivar opened #20708 "Blocking clock enable API for drivers/clock_control.h"
**Describe the bug**

We should have a synchronous clock enable API.

**Background**

When the clock_control.h API was added way back in the mists of time (November 2015, in 714dd9786b91a33374c79a01dcc39554130e810c), it had only two functions:

- `clock_control_on()`
- `clock_control_off()`

No mention was made in the API documentation about whether or not the clock enabled by `clock_control_on()`

[2019-11-14 17:59] tbursztyka commented on #20708
When it was added it was indeed meant to be blocking. So when it returned 0, user knew the on/off worked. Documentation was missing (we were doing a lot of API without any docs at that time).

The common pattern (in every APIs) is that you have blocking functions *unless* having _async added to their names.

Now, if many drivers are non-blocking on these non-async functions: that's a bug.

[2019-11-14 18:00] vanti commented on #20500
@galak @aasthagr Not sure how best to deal with this one. 'period' is set to RTC_COUNTS_PER_TICK, which is dependent on the Kconfig CONFIG_SYS_CLOCK_TICKS_PER_SEC. Even though in practice most people would stick with the latter's default value, it is configurable, and depending on its value, line 166 could be run.

[2019-11-14 18:16] mbolivar opened #20712 "nRF clock_control_on() is nonblocking"
**Describe the bug**

Per discussion in https://github.com/zephyrproject-rtos/zephyr/issues/20708, the non-async clock enable function `clock_control_on()` should block until the clock is ready, but the nRF clock driver doesn't.

**To Reproduce**

- call clock_control_on() on an nRF clock that isn't already enabled
- observe clock_start() in nrf_power_clock.c calls clock_async_start() directly wit

[2019-11-14 18:26] andrewboie commented on #20663
I think we should look at why gc-sections is being defeated here. If gc-sections was working as expected this would be a non-issue.

Notice that the only item pulled in is fdtable_lock. This is declared with K_MUTEX_DEFINE(). this ends up in a special section, defeating gc-sections, because K_MUTEX_DEFINE uses Z_STRUCT_SECTION_ITERABLE(k_mutex, name)

However, the *only* reason why k_mutex is rout

[2019-11-14 20:20] novalisek commented on #20673
@carlescufi I think it is a bug, may be not in guiconfig, but somewhere else and may be there should be another issue for that problem. I am new to Zephyr and don't know it into deep so I first thought it was guiconfig problem.
BTW I see you are from Nordic Semi, can I ask if it is possible to use Zephyr+BLE+MCUBOOT on nrf52810, or is the flash too small? Or should I better ask at users@lists.zeph

[2019-11-14 20:26] joerchan commented on #20707
I'm not sure exactly what you are trying to do. If you need dynamic storage for your service you will have to use `k_malloc`, because the example you gave declares the memory on the stack, which will leave to invalid memory, and eventually the bus fault you got.

If you want a dynamic service with static storage then you Static code example is correct for this use-case. This is not the static use

[2019-11-14 21:13] pfalcon commented on #20582
Well (https://ci.linaro.org/view/lite-iot-ci/job/zephyr-upstream/4539/PLATFORM=mps2_an385,ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb,label=docker-xenial-amd64-13/console):

[code]

I'm going to try to 8-2019-q3-update next.

[2019-11-14 21:34] WilliamGFish commented on #20414
Carles,Great that you know the product as well as you do. Made the change and is working great. I'll put together a PR to fix up the sample. Billy..On 14 Nov 2019 12:33, Carles Cufí <notifications@github.com> wrote:@WilliamGFish could you please try the sample in current upstream master but enabling
CONFIG_BT_LL_SW_LEGACY=y? I suspect this has a lot to do with the split controller now being defaul

[2019-11-14 21:56] mbolivar commented on #20673
You're right. I see now that the way this works has changed since the last time I looked at the details on this. The chosen partition now takes effect via CONFIG_FLASH_LOAD_OFFSET and CONFIG_FLASH_LOAD_SIZE.

However, there's no bug here.

At least not as far as I can see at any layer (guiconfig, west, or the build system).

[code]

versus

[code]

The build failure is to be expected since slot0 i

[2019-11-14 22:39] vanti opened #20715 "rtc driver may interrupt in a short time for large timeouts on cc13x2/cc26x2"
**Describe the bug**
In cc13x2_cc26x2_rtc_timer.c, depending on the setting for CONFIG_SYS_CLOCK_TICKS_PER_SEC and on the timing, z_clock_set_timeout may round up the timeout to the next tick, resulting in setThreshold() being called with a value greater than (0x80000000 + current counter value). In this case, setThreshold() would set the comparator to a value very close to the current count, thin

[2019-11-14 22:50] ulfalizer commented on #20697
@pfl
I wouldn't have understood what "supporting code" meant if I didn't already know Kconfig, and I think it's useful to explain what goes on on the Kconfig end, since you'd often have to understand Kconfig to debug it.

Maybe the "high-level" view could be explained better though, somewhere early on. I don't want to remove information though. In general, I think the worshipping of terseness in I

[2019-11-14 22:53] novalisek commented on #20673
@mbolivar I don't think everything is OK, because if you call guiconfig, select MCUBOOT support, then `CONFIG_BOOTLOADER_MCUBOOT=y` is written into .config, but
[code]
are not changed to proper values in the end ... mcuboot may be supported by firmware, but I think it will not work properly.

why does it work (not perfectly, because the binary is too big, but that was expected), when you add `CONF

[2019-11-14 22:59] ulfalizer commented on #20697
The message also applies to other symbol types by the way (`string`/`int`/`hex`/`tristate` - though Zephyr doesn't use `tristate` symbols), so it might need to be tailored depending on the symbol type if a "high-level" explanation is added.

A symbol could also end up as `y` even though you set it to `n`, if it's being selected.

The reason the message is pretty generic now is to account for all t

[2019-11-14 23:03] ulfalizer commented on #20697
Oh, wait, I just remembered that it's already being tailored for the no-prompt case there, so it wouldn't be so bad in this case. I'll tinker a bit later.

The code that generates the warning is in `scripts/kconfig/kconfig.py`.

The reason it hasn't been turned into an error is that it'd be a lot of work to go through and fix everything. Many of those warnings are harmless too, but it could still

[2019-11-14 23:15] mbolivar commented on #20673
OK, I finally see what you're saying.

So yes, the problem is somewhere between Kconfig and DT, not guiconfig itself. Very sorry for not understanding you.

@ulfalizer I think you might want to take a look at this again.

**steps to reproduce:**

1. build samples/bluetooth/peripheral or an nrf52 board (e.g. nrf52810_pca10040)
2. run guiconfig or menuconfig
3. set BOOTLOADER_MCUBOOT=y
4. save .conf

[2019-11-14 23:22] ulfalizer commented on #20697
Think I figured out a nicer way to do things now, which could indirectly be used to improve the message.

The way the error is detected at the moment is just through the assigned value differing from the actual value, along with some slight special-casing of the error message for promptless symbols.

Better would be to check directly if a promptless symbol is assigned to, and always making that an

[2019-11-15 00:12] ulfalizer commented on #20697
Found some stuff with the improved check: https://github.com/zephyrproject-rtos/zephyr/pull/20717 https://github.com/zephyrproject-rtos/zephyr/pull/20718 https://github.com/zephyrproject-rtos/zephyr/pull/20719 https://github.com/zephyrproject-rtos/zephyr/pull/20720

Will wait for those to be in, and then make a PR for the more robust check and tweak the message at the same time.

[2019-11-15 00:14] #20488 closed

[2019-11-15 00:26] ulfalizer commented on #20673
If `FLASH_LOAD_OFFSET` and `FLASH_LOAD_SIZE` are user-assignable (have a prompt), then they will be "frozen" once `.config` is saved (e.g. by merging configurations) and then read back in.

The reason is that all Kconfig has to go on is this:

    CONFIG_FLASH_LOAD_OFFSET=0
    CONFIG_FLASH_LOAD_SIZE=0

If the symbol is user-configurable, then Kconfig has to assume that those were values that the

[2019-11-15 00:33] #20512 closed

[2019-11-15 01:05] ulfalizer commented on #20692
Fixed

[2019-11-15 01:05] #20692 closed

[2019-11-15 01:25] zzzh commented on #20278
yeah, most LCD modules in same size looks similar

[2019-11-15 01:49] zzzh commented on #20278
@vanwinkeljan
Yeah, the picture shows 3 differences: offset, screen size and orientation
For the ZJY-1.54 module:
offset: 0
screen size: 240x240
orientation: 3 o'clock in the picture

[2019-11-15 01:57] zzzh commented on #20278
@vanwinkeljan
Just notice the conf and overlay file in st7789v_generic folder, 3 questions:
1. both have screen size?
2. there's no orientation config?
3. many same configs in st7789v_generic.overlay and nrf52_pca10040.overlay?

[2019-11-15 06:11] nordic-krch commented on #20708
I agree. It makes sense to make it blocking and consistent with other drivers.

[2019-11-15 06:42] rakons commented on #20514
@ceolin

Unless ```load_arg->subtree``` is not set to NULL - in other case, we have a problem.

[2019-11-15 07:42] aescolar commented on #20663
@pfalcon Even though @andrewboie 's PR fixes the RAM impact noted in this issue (and in other cases so it is welcome in itself), the fix you proposed would still be relevant for #12368 , and therefore also welcome

[2019-11-15 07:58] vanwinkeljan commented on #20278
@zzzh

The one in the conf file are specific for the LVGL library.
The resolution in the overlay is the one used by the driver.

Correct the driver does not support this for the moment.

Bit confused here but there is no nrf52_pca10040.overlay

Btw this PR will not work correctly on the 1.54

[2019-11-15 08:20] ChristofferSchroeder commented on #20660
@carlescufi Please see this log.
[cmd_disallowed.txt](https://github.com/zephyrproject-rtos/zephyr/files/3850346/cmd_disallowed.txt)

[2019-11-15 08:34] #20505 closed

[2019-11-15 08:34] #20506 closed

[2019-11-15 08:51] trond-snekvik commented on #20259
I'm sorry, I think I used outdated terminology, I actually meant subnets. I agree with you, we don't need to keep track of a device's presence in multiple networks. Also, if the scope is just storing the stuff we need to know about the nodes, we probably just need to know the network index we want to use with the device key for configuration, like in your draft.

I made a prototype with this API o

[2019-11-15 08:58] wopu-ot commented on #20392
Fixing #20255 makes it somewhat less urgent to fix this issue and I would be okay with lowering its priority.

[2019-11-15 09:00] FRASTM commented on #20639
As I did not find any X-NUCLEO-IKS01A3 here, I tried with a X-NUCLEO-IKS01A1 shield  and get the boot msg:

Is the pb you report specific to a x_nucleo_iks01a3 ?

[2019-11-15 09:06] pfl commented on #20697
Looks like a plan; if the value is promptless, it indeed could spit out an error. Let's see after those other Kconfig fixes. Thanks!

[2019-11-15 09:11] #20501 closed

[2019-11-15 09:33] aescolar commented on #20392
Reclassifying as an enhancement

[2019-11-15 09:36] SebastianBoe commented on #20673
I support applying the same fix to these options as we did in https://github.com/zephyrproject-rtos/zephyr/pull/20702 . But I'm not able to follow up on this.

[2019-11-15 09:40] joerchan opened #20724 "Packed pointer warning in LL Controller"
**Describe the bug**
GCC 9 throws new warnings for possible unaligned pointer issues. On some architectures this is not supported, or can be configured to not be supported. On ARM this would throw a Hard Fault Exception.

**To Reproduce**
Steps to reproduce the behavior:
Build BT Controller with GCC v9

**Impact**
This could end in HardFault or other forms of crash.

**Screenshots or console outpu

[2019-11-15 09:46] nordic-krch commented on #20419
@arnopo @galak given that, is there any plans to improve that in near future?

[2019-11-15 09:49] jhedberg commented on #20660
Thanks @ChristofferSchroeder . The log really does show HCI_LE_Create_Connection before HCI_LE_Set_Scan_Enable(Disabled), which is really remarkable. Is this really an unmodified Zephyr host stack you're using? Which version? In latest master the reacting to a connectable advertising event that we want to connect to goes through the following calls in `hci_core.c` *before* reaching the point where

[2019-11-15 11:05] pabigot commented on #18990
@vanwinkeljan thanks.

[2019-11-15 11:08] joerchan commented on #20660
My theory is that the processing of `le_adv_report` handler is done before the
thread that called `bt_conn_create_le` was woken up to process the `command_complete` event
for the issued LE Set Scan Enable.
This means that we have an inconsistent state in the host where we don't know that
we are currently scanning, but is receiving advertising reports nonetheless.
This happens because we haven't se

[2019-11-15 11:08] joerchan commented on #20660
Given my theory then this comment makes sense:

[2019-11-15 12:04] zzzh commented on #20278
@vanwinkeljan

I see

Sorry, forgot it's me who added it..

Yeah, as I tested

[2019-11-15 12:09] #20255 closed

[2019-11-15 13:04] pfalcon opened #20726 "arm: Specifying sp register in asm's clobber list is deprecated in GCC 9"
This is offshot from https://github.com/zephyrproject-rtos/zephyr/issues/20582.

As said there, GCC 9 (at least one from GNU Arm Embedded package) issues warning (turned error by CI builds) about usage of "sp" in `asm` statement register clobber list. E.g., here: https://github.com/zephyrproject-rtos/zephyr/blob/master/include/arch/arm/syscall.h#L57

It might have been a quick patch to remove it,

[2019-11-15 13:04] pfalcon commented on #20726
cc: @galak

[2019-11-15 13:10] pfalcon commented on #20582
Ok, with 8-2019-q3-update we have a green build: https://ci.linaro.org/view/lite-iot-ci/job/zephyr-upstream/4542/

As mentioned above, that wouldn't be a fix, but quite an unclean (though perhaps harmless) workaround. If I were a maintainer of that header, I would oppose such workaround, at least until due diligence on a proper fix was made. Given that the solution is found, I don't try to submit

[2019-11-15 13:10] #20582 closed

[2019-11-15 13:12] pfalcon commented on #20726
.. Also, there's no "Fixes:" reference in that PR, so one can only guess what issue it really fixed (if any).

[2019-11-15 13:35] vanwinkeljan opened #20729 "Coverage reporting hangs for C++ tests on X86 qemu"
**Describe the bug**

When C++ related tests are executed with coverage reporting on X86 Qemu, Qemu will end up in endless loop when dumping coverage results to UART.

**To Reproduce**

Steps to reproduce the behavior:
1. Remove `platform_exclude: qemu_x86_coverage` from `tests/application_development/libcxx/testcase.yaml`
2. `sanitycheck -N -p qemu_x86_coverage -s tests/application_development/li

[2019-11-15 13:41] ChristofferSchroeder commented on #20660
@jhedberg I am on the master branch commit c68ae690b60dd7df4b34d4ec852c9b52567c8aa1 right now, with no changes. I have seen this happening on pre-2.1 rc1 as well.
@joerchan I am not knowledgeable enough about this code to positively state if your theory is correct or not, but it seems valid. Is my observation about switching the order only a symptom fix?

[2019-11-15 13:41] Deliver88 commented on #3723
Hello, does zephyr support the wifi on esp32? The sample/net/wifi is comparable for esp32 but after fleshing there is no interaction.

[2019-11-15 13:44] joerchan commented on #20660
@ChristofferSchroeder It fixes the case you are seeing but it seems to open up a new corner cases, so I will try to make a proper fix. Can I count on you to verify the fix?

[2019-11-15 13:49] #20514 closed

[2019-11-15 13:53] #20545 closed

[2019-11-15 13:55] galak commented on #20726
https://github.com/zephyrproject-rtos/zephyr/pull/20410

[2019-11-15 14:17] ioannisg commented on #20598
@hakehuang can you tests the proposed fix in #20730 ?

[2019-11-15 14:31] nvlsianpu commented on #19438
@mfiumara can this be close?

[2019-11-15 15:06] ChristofferSchroeder commented on #20660
@joerchan I will be happy to verify it.

[2019-11-15 15:09] pabigot commented on #4028
In #18554 this issue was associated with lack of support for compiling with exceptions, which has been resolved by #19002.  At this time I'm going to say that this issue is complete; there are gaps, but we need more targeted issues that clearly define the scope of work.

[2019-11-15 15:09] #4028 closed

[2019-11-15 15:16] arnopo commented on #20419
Not in near future on my side.
Personally  i would be in favour of first integrating the ongoing  OpenAMP PRs:
- https://github.com/zephyrproject-rtos/zephyr/pull/17553
- https://github.com/zephyrproject-rtos/zephyr/pull/16985

And then, in a second step, find a comment way to ease the OpenAMP initialization relying on DT.

[2019-11-15 15:52] carlescufi commented on #20414
@WilliamGFish feel free to send the PR, but please do not close this issue. We will use it to remind us that there are issues with the split link layer and nRF51.

[2019-11-15 16:02] #20250 closed

[2019-11-15 16:08] carlocaione commented on #14173
Currently fighting with this on the ARM64 port when using the QEMU release by Xilinx. The only way to have all the tests passing is basically using `-icount shift=0,align=off,sleep=off` and disabling timeouts in the `sanitycheck` script.

[2019-11-15 16:13] #20587 closed

[2019-11-15 17:12] carlescufi opened #20734 "Are cooperative threads cooperative in SMP?"
When scheduling cooperative threads in an SMP system, does the scheduler take into account that if 2 separate cooperative threads run in 2 different cores at the same time then the contract that one expects to hold when using cooperative threads is broken?

CC @abrodkin

[2019-11-15 17:37] andyross commented on #20734
The documented scheduling behavior of cooperative threads is identical in SMP: they will not yield the CPU even if another, higher priority thread is ready to run.  The implicit **locking** behavior of cooperative scheduling (that "no other higher priority thread will be run") is a promise that can't be kept in SMP.  The same is true for k_sched_lock(), where IIRC there is some documentation of th

[2019-11-15 17:48] JordanMajd opened #20735 "Cannot flash with jlink on windows."
**Description**

Attempting to flash a Particle Xenon (nrf52840) with a Jlink Edu on Windows 10 via west results in an error:

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. `west init zephyrproject`
1. `cd zephyrproject`
1. `west update`
1. `python3 -m venv .penv`
1. `.penv\Scripts\activate.ps1`
1. `pip3 install -r zephyr\scripts\requirements.txt`
1. Set env vars for `GNUARMEMB_TO

[2019-11-15 17:53] JordanMajd commented on #20735
Figured it out,

Looks like the JDK also has a tool named jlink. It was trying to run that instead:

[code]

[2019-11-15 17:53] #20735 closed

[2019-11-15 17:55] bus710 commented on #17645
So here is my lounch.json for these:
- Ubuntu 19.10
- VSCODE + Cortex-Debug
- nRF52832-DK board and its internal JLink probe
- OpenOCD host
- gdb-multiarch is installed

[code]

With the configuration above, I could run the debug session.
Although Zephyr document mentioned that OpenOCD awares threads, I didn't try it by myself yet to see the stacks of several threads in VSCODE.

[2019-11-15 18:02] WilliamGFish commented on #20414
Shall do...

[2019-11-15 18:04] carlescufi commented on #20734
I'm unsure what you mean by "CPU": a single core or the whole CPU.
So you are saying that if I spawn two cooperative threads in an SMP system, they can actually run concurrently on two separate cores?

[2019-11-15 18:05] carlescufi commented on #20697
@pfl should we close this now?

[2019-11-15 18:05] carlescufi commented on #20673
Would you send a PR @novalisek ?

[2019-11-15 18:53] pabigot commented on #19904
See https://github.com/zephyrproject-rtos/zephyr/pull/20289#issuecomment-554483726 for additional information.

[2019-11-15 19:03] andyross commented on #20734
Yes, they'll run on any core, possibly in parallel with other cooperative threads of higher priority (i.e. something you'll never see in a single CPU environment).

[2019-11-15 19:17] dleach02 commented on #20724
This one does seem to be problematic:

warning: converting a packed 'struct pdu_data' pointer (alignment 1) to a 'struct radio_le_conn_update_cmplt' pointer (alignment 2) may result in an unaligned pointer value [-Waddress-of-packed-member]
 2175 |  cp = (void *)pdu_data_rx;

Generally, Arm would throw an exception when trying to do unaligned access but in the case of a packed structure with point

[2019-11-15 19:24] novalisek commented on #20673
I can try to make one, but should it be like in #20702 or make new symbols like in @ulfalizer 's example ?

[2019-11-15 19:31] pabigot commented on #20669
Cross-link with #20289 and #19904.

[2019-11-15 22:54] ulfalizer commented on #20669
I still need to find that old PR too. Had it all implemented, basically.

[2019-11-15 22:59] ulfalizer commented on #20673
I could put one together. Need to look into these symbols first.

[2019-11-16 00:50] ulfalizer commented on #20673
@novalisek @carlescufi @SebastianBoe
PR: https://github.com/zephyrproject-rtos/zephyr/pull/20740

Also improved the documentation, as it seemed terse.

[2019-11-16 01:06] Deliver88 opened #20741 "Reel board Ethernet Support using the Link board ETH"
Does the reel board support ethernet connection, including the samples socket/http(s), telnet etc. by using the Link board ETH?  Or does it require adjustments? It would be an alternative for the nRF52840 PDK (not available and supported - according to my information) board then, or?

Thanks

[2019-11-16 01:52] cvinayak commented on #9573
@SebastianBoe and @ulfalizer  This issue is old now and "I" dont seem to have lately faced any issues related to this issue. Can we agree to close this issue as "won't fix"?

[2019-11-16 05:09] ulfalizer commented on #20697
The change in https://github.com/zephyrproject-rtos/zephyr/pull/20742 improves the message.

[2019-11-16 05:34] ulfalizer commented on #20666
Suspect what's going on is that `SERIAL_HAS_DRIVER` is `n`. [UART_CONSOLE](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_UART_CONSOLE.html) has it as a dependency.

CC @mnkp

[2019-11-16 09:09] wentongwu commented on #14173
@carlocaione
that's great, as my above comments the method about how to choose value of shift is that the the clock-frequency decided by shift should be similar to the real frequency of that machine(at least that's correct for mps2_an385), so I guess the clock-frequency of your system is most close to 1/(2^0 ns), could you please confirm that? Thanks

yes, the little of shift value the more host t

[2019-11-16 09:52] jfischer-phytec-iot commented on #20741
There is shield support for [link board ETH ](https://docs.zephyrproject.org/latest/boards/shields/link_board_eth/doc/index.html). You can use it with any board that provides corresponding connector. Also nRF52840 DK is well supported and [available](https://octopart.com/search?q=nRF52840%20DK). [Slack channel](https://docs.zephyrproject.org/latest/guides/getting-help.html?highlight=slack) is more

[2019-11-16 09:52] #20741 closed

[2019-11-16 09:59] carlocaione commented on #14173
I'm seriously confused by this statement. Can you give a technical explanation of this? `1/(2^0 ns)` is 1MHz that is definitely a low frequency for my platform.

I did some tests today. Let focus for example on the `tests/kernel/sleep/kernel.timing`. This keeps failing when not using `-icount`.

In particular what fails is:
[code]
- When not using `-icount` I have something like `start_tick==51` a

[2019-11-16 10:04] carlocaione commented on #14173
Just to add one more thing. This behavior is strictly dependent on QEMU.

When I test my ARM64 branch with a regular QEMU emulating a Cortex-A53 virt platform I don't need any `-icount` trick and I'm able to pass 100% of the test. The `-icount` trick is only useful when emulating a Xilinx board using the QEMU released by Xilinx.

[2019-11-16 10:18] wentongwu commented on #14173
should be 1GHz

[2019-11-16 10:22] carlocaione commented on #14173
Ah, I cannot do math apparently. You are right. Still I don't get the reasoning behind.

[2019-11-16 11:58] sdalu opened #20743 "doc: settings.rst has references to mynewt structures"
Looks like some cut/paste from mynewt with references to os_callout, os_event in example: Persist Runtime State. Code examples should compile on zephyr

See: doc/reference/runtime_conf/settings/settings.rst

[2019-11-16 13:19] LingoMeng opened #20746 "Bluetooth: Mesh: Friend node Adding another Friend Update"
Two `friend update` message are required in the `MESH/NODE/FRND/FN/BV-20-C [Adding another Friend Update – Friend Node]`, but I did not find such processing logic in the code. But it's strange that I noticed that I have passed the certification ?

In the authentication process, it is required that the first `friend_update` message should be **MD = 1**,
Only in this case `enqueue_update(frnd, 1);`

[2019-11-16 15:04] hakehuang opened #20748 "build warnings on lpcxpresso54114_m0/m4 board"
**Describe the bug**
there are build warnings for board lpcxpresso54114_m0 and lpcxpresso54114_m4

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso54114_m4 ..
3. make
4. See error

**Expected behavior**
clean build log

**Impact**
no found yet

**Screenshots or console output**

'''
Zephyr version: 2.1.0
-- Found PythonInterp: /usr/bin/python3

[2019-11-16 15:06] hakehuang commented on #20598
@ioannisg , #20730 works fine to me. log below

'''
***** Booting Zephyr OS build v2.1.0-rc1-131-g38e286aef050 *****

Running test suite test_c_lib_dynamic_memalloc

===================================================================

starting test - test_malloc

PASS - test_malloc

===================================================================

starting test - test_free

PASS - test_free

==

[2019-11-16 15:15] hakehuang opened #20749 "samples:sample.net.dns_resolve.mdns:frdmk64f ipv4dns handler has not result"
**Describe the bug**
in this sample we expect to see both ipv4 and ipv6 dns parser result, but for v2.1.0-rc1, I can only see the ipv6 handler triggerred.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f -DCONFIG_MDNS_RESOLVER=y -DCONFIG_LLMNR_RESOLVER=n -DCONFIG_NET_DHCPV4=y ..
3. make
4. make flash
5. see error

**Expected behavior**
 ishall

[2019-11-16 16:29] sdalu opened #20750 "shell: shell_execute_cmd introduce new line"
when executing `shell_execute_cmd` in a shell command, unwanted new line are introduced.

[code]

[code]

[code]

Expected:
[code]

[2019-11-16 16:35] aescolar commented on #20746
CC @trond-snekvik @jhedberg

[2019-11-16 17:21] carlocaione commented on #14173
So it turns out that at least in my case I just forgot to select `QEMU_TARGET`. With that I pass all the tests again.

[2019-11-16 17:45] mnkp commented on #20666
I believe the problem is that
[code]
`n` selects `CONFIG_SERIAL` whereas virtually all board configuration files `y` select the symbol and dependencies (like `UART_CONSOLE`) in their respective `_defconfig` file. The problem is not limited to the two boards mentioned in the issue. According to [Default board configuration](https://docs.zephyrproject.org/latest/guides/porting/board_porting.html#def

[2019-11-16 17:53] dbkinder commented on #20666
Indeed removing the ``CONFIG_SERIAL=n`` from blinky/prj.conf eliminates the warning.  Thanks.  I'll submit a PR to do just that, but I suspect there are other samples that may have this same issue.

[2019-11-16 18:03] mnkp commented on #20666
Doing a quick grep reveals that `samples/basic/minimal` is another project that does the same. Here things become more tricky since we actually want to build project with minimum size. To be able to do it in a clean way we would need to modify all board configuration files to rely on `Kconfig.defconfig` instead of `_defconfig` to configure uart/console. The expectations of `samples/basic/minimal`

[2019-11-16 21:48] novalisek commented on #20673
I tested #20740 with nrf52810_pca10040 -

.config after new build with `west build -b nrf52810_pca10040 samples\bluetooth\peripheral`  without any changes via guiconfig:
[code]

after that, just switching MCUBOOT  ON in guiconfig sets
[code]

but after that, just switching MCUBOOT  OFF  in guiconfig sets
[code]
so you have mcuboot disabled, but the rest is wrong ...

[2019-11-17 11:58] pabigot opened #20755 "mcuboot: add as module and verify functionality"
There are ongoing complaints about trying to coordinate Zephyr versions with compatible mcuboot versions.  This needs to be addressed.

There are also several problems with Zephyr/mcuboot interaction (like #20744) that should get some attention if mcuboot is going to be recommended as a boot manager for Zephyr.

And a bunch of issues that may or may not still be relevant including #12968 and #1602

[2019-11-18 07:51] vanwinkeljan commented on #20278
reopened PR is still pending

[2019-11-18 08:05] agansari commented on #20748
@hakehuang @MaureenHelm this warning is generated by the following:
[code]

@0 and 0x5008c000 don't match, this is because **all gpios on LPC use the same registers**.
Using gpio@5008c000 will map all the separate ports as the last defined port.

It's a devicetree issue, @galak any advice on how to split dts ports that use the same register?
In my opinion we could just suppress the warning on this

[2019-11-18 08:12] mfiumara commented on #19438
I guess it can be closed: I updated to zephyr 2.1 and the warning seems to be working for me that was introduced in #20174.

[2019-11-18 08:12] #19438 closed

[2019-11-18 08:52] avisconti commented on #20639
Yes.
I think the issue is related to the number of sensor requests to the I2C bus.
x_nucleo_iks01a1 has too few sensors

[2019-11-18 08:52] avisconti commented on #20639
@FRASTM
Is it possible to get one x_nucleo_iks01a3?

[2019-11-18 08:53] cvinayak commented on #20724
I have analyzed the implementation, the packed struct pdu_data is used as place holder of pointer to the message passed from controller's ISR contect to HCI thread context. The access to data by both the producing and consuming implementation is by use of unpacked structures. The current upstream implementation does not lead to any unaligned access in the unpacked structures.

That said, I am not

[2019-11-18 10:39] pfl commented on #20697
Yes, said change, when merged, will improve this message.

[2019-11-18 10:57] aescolar commented on #20743
CC @dbkinder

[2019-11-18 11:23] thomasstenersen commented on #20724
@cvinayak, here's the full output against vanilla Zephyr master branch (6ba1fcec3fe9a527ccd2a956cd6860290a0c02eb).

Compiler is
[code]

Building `zephyr/samples/bluetooth/central_hr`

[code]

[2019-11-18 11:34] joerchan commented on #20724
@cvinayak
Zephyr is not using your distributed GCC, it is using the one in zephyr-sdk. Thomas is using the GNUARMEMB toolchain option.

[2019-11-18 11:45] cvinayak commented on #20724
@thomasstenersen could you give me the commandline and environment variables you have set so that I try to reproduce what you get.

@joerchan see my earlier comment, I hardly use Zephyr SDK. I may be wrong, but attaching my ninja verbose for you perusal. I piped my GCC version and "ninja --verbose".

[build.log](https://github.com/zephyrproject-rtos/zephyr/files/3858419/build.log)

[2019-11-18 12:00] joerchan commented on #20724
@cvinayak Didn't see that comment. You are using arm-none-eabi-gcc from the ARCH package manager? It might not be the same build that you get from ARMs webpage. You shoud probably get that one instead.

[2019-11-18 12:17] thomasstenersen commented on #20724
@cvinayak, no special environment.

[code]

Attached [build.log](https://github.com/zephyrproject-rtos/zephyr/files/3858530/build.log)

@joerchan, I'm using the one built by Fedora. So not stock ARM build. Might be that the arch build does not enable `-Waddress-of-packed-member` by default?
https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html

[2019-11-18 12:49] #20666 closed

[2019-11-18 12:49] vikrant8051 commented on #19003
@jhedberg
Please throw some light on "Mesh vendor HCI extensions".
How it is different from current implementation ?
Pros & cons over current implementations.

Thank you !!

[2019-11-18 12:53] #20511 closed

[2019-11-18 12:53] #20681 closed

[2019-11-18 13:14] vikrant8051 commented on #13553
So here conclusion is for better performance (to solve the mentioned issue) we have to set

[code]

& if necessary. increase values of

[code]

I found values of (as per build/zephyr/.config),
CONFIG_BT_RX_BUF_COUNT=3
CONFIG_BT_HCI_TX_STACK_SIZE=640
after building samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app.

[2019-11-18 13:40] jhedberg commented on #20660
@joerchan thanks for the analysis! It sounds about right to me. One thing regarding `hci_cmd_done()` that we should be careful with is to not introduce too much extra processing there. This function gets called through `bt_recv_prio()`, and with some drivers (like h4.c) it's actually in interrupt context. Setting the critical state flags in this context to avoid races does sound like the right thi

[2019-11-18 14:49] pabigot commented on #20755
See #17868 for proposed solution.

[2019-11-18 15:18] #20503 closed

[2019-11-18 15:38] #20598 closed

[2019-11-18 16:22] rosterloh opened #20769 "nucleo_g431rb: Settings subsystem fails to initialise"
On the STM32G431RB using either NVS or FCB the settings subsystem fails to init due to not having enough sectors available. The dts file file for this board only defines 2K for storage and since this part has a 2K sector size at least 4K is needed.

[2019-11-18 16:29] joerchan commented on #20724
@cvinayak  @thomasstenersen AFAIK ARM maintains ARM support for GCC only on their website, not for different package managers. So I **strongly** recommend you switch to that one instead.

[2019-11-18 17:12] INemesisI opened #20770 "irq locking in logging backend can cause missing interrupts"
**Describe the bug**
The logging subsystem uses irq_lock() in certain locations to lock all interrupts while processing data. When CONFIG_LOG_IMMEDIATE is enabled interrupts will be disabled during the whole write progess, as can be seen here:
https://github.com/zephyrproject-rtos/zephyr/blob/d58f8bee79dddb9aa1b65a2ef1624ebf1b389a4e/subsys/logging/log_backend_std.h#L75

This can cause drivers whic

[2019-11-18 17:56] #20769 closed

[2019-11-18 17:58] drewmlsuvo opened #20771 "onoff_level_lighting_vnd_app mcumgr unable to connect to provisioned node"
**Describe the bug**
I am running the onoff_level_lighting_vnd_app sample on an nrf52840_pca10056 board with the extra settings in prj_smp_svr.conf enabled. After I provisioned the board I am no longer to connect to it using mcumgr.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nrf52840_pca10056
2. sign image for mcuboot
3. nrfjprog --program zephyr.hex --sectorerase
4. mcumg

[2019-11-18 20:18] pabigot opened #20775 "sys_pm_ctrl: fragility in managing state control"
subsys/power supports the option (via `CONFIG_SYS_PM_STATE_LOCK`) to enable and disable  specific power states.  State is managed with an array of `atomic_t` instances.

A request to disable a state corresponds to an atomic increment.

A request to enable a state corresponds to an atomic decrement.

The state is considered enabled when the counter is zero, which is the initial condition.

This app

[2019-11-19 00:10] galak commented on #20748
This is a long standing issue since the construct of having interleaved registers for two different devices isn't something device tree handles.

So if we have some way to suppress the DTS warning for the LPC SoCs that would be best.

[2019-11-19 00:13] galak commented on #20500
@vanti you can mark it as a false positive in coverity, with the statement you have here about that because of Kconfig this may vary.

[2019-11-19 00:24] galak commented on #20726
Resolved w/merge of #20410

[2019-11-19 00:24] #20726 closed

[2019-11-19 01:07] vanti commented on #20500
Thanks @galak. Added the info in the Triage section on Coverity.

[2019-11-19 05:47] n3rd4i opened #20780 "Feature Request: Half-duplex UART shell backend"
Is ther any easy way (config option) to make the shell backend, UART driver to communicate in half-duplex way?

Basically discard all RX bytes while TX is printing on the console.

[2019-11-19 07:10] alexandru-porosanu-nxp opened #20781 "peripheral_hr on VEGABoard disconnects from central_hr after BT_CONN_PARAM_UPDATE_TIMEOUT"
**Describe the bug**
When running peripheral_hr on a VEGABoard, connected to a nrf52 central_hr, after 5s, the peripheral disconnects with error code 0x08 (timeout).

**To Reproduce**
Steps to reproduce the behavior:
1. cmake -Bbuild_vega -G"Eclipse CDT4 - Ninja" -DBOARD=rv32m1_vega_ri5cy -DCMAKE_REQUIRED_FLAGS=-Wl,-dT=/dev/null /work/zephyr/zephyr-source/samples/bluetooth/peripheral_hr
2. ninja -

[2019-11-19 08:14] FRASTM commented on #20639
Yes, one shield x_nucleo_iks01a3 has been purchased and should arrive within the week

[2019-11-19 09:21] #20743 closed

[2019-11-19 09:55] alexandru-porosanu-nxp commented on #20781
Here's a capture of the packet exchanges. At 339, you can see the start of the connection update procedure. Then the disconnection happens.

[conn_update_fail.zip](https://github.com/zephyrproject-rtos/zephyr/files/3863100/conn_update_fail.zip)

[2019-11-19 10:31] kristoftjonck commented on #20707
@joerchan I am indeed trying to get a dynamic service with dynamic storage. I tried using k_malloc() but still have some problems. I tried some possibilities but can't get it to work. On the android app the following code adds a random descriptor to the last service (https://imgur.com/3R5HMEU) instead of a new service.

[code]

[2019-11-19 10:42] pabigot opened #20792 "sys_pm: fragility in residency policy"
The residency policy for system power management captures a list of defined residency durations in the order of `SLEEP` levels 1, 2, and 3 followed by `DEEP_SLEEP` levels 1, 2, and 3.

The policy then looks for deepest level for which a requested timeout meets the minimum requirements.

There are a couple problems with the design and implementation:
* The algorithm assumes that the residency durat

[2019-11-19 11:36] pabigot commented on #20792
A potential resolution to part of this would be to remove the deep sleep states (which include power gating) from the residency policy.  Note that also there are legitimate uses of `K_FOREVER` sleeps that are expected to be woken due to external events not monitored by poll, so IMO a "forever timeout" should never power-off the system.

[2019-11-19 12:37] carlescufi commented on #20771
@vikrant8051 is this something you still observe?

[2019-11-19 13:20] vikrant8051 commented on #20771
Please refer image in this tweet
https://twitter.com/vikrant8051/status/1096033120732639234?s=19
which contains script for entire procedure.

May need some modifications as per Zephyr 2.0

[2019-11-19 13:22] erwango commented on #17310
@ulfalizer: if looking at previous example from @galak, anyway we can check if ""wnc_m14a2a" is part of a ${SHIELD_LIST} list ?

[2019-11-19 13:25] vikrant8051 commented on #20771
Please share your result so that we can create new shell script
& add it in App's readme.

[2019-11-19 13:30] joerchan commented on #20781
@alexandru-porosanu-nxp You said it was 5 seconds. But from the Sniffer Capture the slave disappears at the Connection Update Instant.

@cvinayak From the sniffer log it looks like the master is sending outside of the TX transmit window for the connection parameter update.
The master transmits 34690 us after the slave, backtracked using empty packets. that is:
34689 + 150 + 80 + 80 = 34999

The tx

[2019-11-19 13:47] George-Stefan commented on #20781
Connection update is done/initiated in ull_conn_llcp() called from ull_slave_ticker_cb().

d1d603afc3558f31a4728d70179d1cb5d74890c5 breaks this somehow.
Still debugging

[2019-11-19 13:52] rmstoi opened #20797 "echo server qemu_x86 e1000 crash when coverage is enabled"
echo server qemu_x86 e1000 crashes if coverage is enabled. To reproduce:

Compile and run echo server
[code]
After couple of seconds it crashes:

[code]

It still crashes with memory increased:

[code]
echo server qemu_x86 does not crash if -DCONFIG_COVERAGE=y is not passed to cmake
Also, echo server does not crash with coverage enabled and board native_posix

[2019-11-19 13:56] joerchan commented on #20781
@George-Stefan Can you check if the master is sending connetion update because of the L2CAP conn param update request? Or if it initiated it itself? Or possibly both?

Or is it possible that 24 * 1250 + (1 + 4) * 1250 has turned into 24 * 1250 + 4 * 1250 instead?
My suspicion for that is that there is state confusion between connection parameter update procedure, and connection parameter request p

[2019-11-19 14:03] vikrant8051 commented on #20771
Steps:
1) Clone mcuboot repo under zephyrproject: https://github.com/JuulLabs-OSS/mcuboot
2) cd zephyrproject/mcuboot
3) pip3 install -r scripts/requirements.txt
4) pip3 install imgtool
5) cd zephyrproject/zephyr/samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app
6) Erase full flash
7) west build -b nrf52840_pca10056 -s zephyrproject/mcuboot-master/boot/zephyr -d build-mcuboot
8) west flash -d

[2019-11-19 14:04] George-Stefan commented on #20781
Yes, the slave (Vega board) sends BT_L2CAP_CONN_PARAM_REQ.

Same scenario with and without  d1d603afc3558f31a4728d70179d1cb5d74890c5:
- the  master sends the same conn update params
- but in the  1st scenario the slave misses all the connection evens after instant
![3030D3D0](https://user-images.githubusercontent.com/51751981/69153026-310e5480-0ae6-11ea-96eb-c96ef4367c2f.PNG)
![9582264B](https://u

[2019-11-19 14:10] George-Stefan commented on #20781
It's disabled.
BT_CTLR_CONN_PARAM_REQ_SUPPORT(=n)

[2019-11-19 14:35] drewmlsuvo commented on #20771
Thanks for your help! however I'm still unable to connect to the board using mcumgr after it has been provisioned (time out error) using the peer name 'Zephyr', I am however able to connect to it using mcumgr when it is unprovisioned.

I've checked and it doesn't seem to be advertising with the name 'Zephyr' while provisioned.

[2019-11-19 14:48] George-Stefan commented on #20781
[code]

[2019-11-19 15:04] joerchan commented on #20781
[code]
Yes I saw that as well. It has been changed to `--` instead.
@cvinayak Should this  llcp_cu.ack be `-= 2U`? I think there was other places that had this change as well. I think it is fair to say that something is not right in the connection param update procedure.

[2019-11-19 15:09] pabigot commented on #20639
FWIW I can confirm this is specific to ST, as the demo and i2c scanner work with the IKA01A3 on Nordic.

[2019-11-19 15:10] George-Stefan commented on #20781
conn->llcp_cu.ack--; was added but conn->llcp_cu.ack isn't checked for in  ull_conn_llcp() when CONFIG_BT_CTLR_CONN_PARAM_REQ is disabled

[2019-11-19 15:33] alexandru-porosanu-nxp commented on #20781
@joerchan , I haven't been really clear in my statement: 5s after the connection is established, the slave disconnects; 5s being the conn update interval as well. Increasing this to 6s will lead to a disconnection 6s after the establishment of the connection. Sorry for not being more specific.

[2019-11-19 15:37] alexandru-porosanu-nxp commented on #20781
I've disabled all the features that I could for the controller side and I've run  on the nrf52 we've got here:

# CONFIG_BT_CTLR_LE_ENC is not set
# CONFIG_BT_CTLR_CONN_PARAM_REQ is not set
# CONFIG_BT_CTLR_SLAVE_FEAT_REQ is not set
# CONFIG_BT_CTLR_PRIVACY is not set
# CONFIG_BT_CTLR_CHAN_SEL_2 is not set
# CONFIG_BT_CTLR_ADV_EXT is not set
# CONFIG_BT_CTLR_DTM_HCI is not set
# CONFIG_BT_CTLR_ADV

[2019-11-19 15:39] George-Stefan commented on #20781
@alexandru-porosanu-nxp  see my commen

[2019-11-19 15:43] KAGA164 opened #20800 "Ready thread is not swapped in after being woken up in IRQ"
**Describe the bug**
Ready thread is not swapped in after being woken up in IRQ. Probably the sheduler does not do a swap after this.

**To Reproduce**
I have an application where I use only `k_poll` in the main thread. Application is polling for two signal events. I call `k_poll_signal_raise` from IRQ context. After this main thread is in ready state but it is never waken up. My application is in

[2019-11-19 15:45] KAGA164 commented on #20800
@pdunaj

[2019-11-19 15:46] alexandru-porosanu-nxp commented on #20781
Yep, running now w/both CONFIG_BT_CTLR_CONN_PARAM_REQ  and CONFIG_BT_CTLR_PHY disabled and see what happens. I've already run with CONFIG_BT_CTLR_CONN_PARAM_REQ=n but the issue did not appear.

[2019-11-19 15:49] vikrant8051 commented on #20771
Why you are use mcumgr ? First try it with DFU feature from nRF Connect App which supports mcuboot.

Modify something in onoff_level_lighting_vnd_app ...for eg. initial printk message & create it's signed copy.
This will help to confirm after DFU that image has exchanged.

[2019-11-19 15:50] pdunaj opened #20802 "reschedule not done after mutex unlock"
**Describe the bug**
I was preparing some training material and noticed behavior that I believe is a bug.
I have threads. Two are cooperative. The higher priority one is waiting for mutex. The lower priority one is holding the mutex. After mutex is release low priority one continues execution until sleep. If mutex is held by preemptive thread releasing the mutex cause immediate swap to high priori

[2019-11-19 15:51] pdunaj commented on #20802
[code]

[2019-11-19 15:53] pdunaj commented on #20800
@carlescufi , @ioannisg

[2019-11-19 15:53] pdunaj commented on #20802
@carlescufi , @ioannisg

[2019-11-19 16:20] alexandru-porosanu-nxp commented on #20781
Another interesting fact: enabling CONFIG_BT_CTLR_SLAVE_FEAT_REQ_SUPPORT and CONFIG_BT_CTLR_SLAVE_FEAT_REQ on VEGA leads to the issue disappearing: there is no more disconnection after the connection update interval

[2019-11-19 16:26] pabigot opened #20804 "sanitycheck: unimplemented documented option"
The `--discard-report` option is documented in both the guide and the script, but doesn't appear to be implemented.

[2019-11-19 16:29] alexandru-porosanu-nxp commented on #20781
@cvinayak , @joerchan  correct me if I'm wrong, but isn't the whole concept of 'cachable conn update' to allow more than 1 LLCP PDUs to be non-ack'ed (and hence the -2)?

[2019-11-19 16:54] avisconti commented on #20639
@pabigot
Which hash id are you using?

[2019-11-19 16:59] pabigot commented on #20639
It works on current master at 667886d63ddb1a75e5c34b4dd407093b4dfc254d

[2019-11-19 17:14] jhedberg commented on #20771
That's correct. If GATT Proxy support is available we'll either be advertising Node or Network Identity, and neither of those contain the device name.

[2019-11-19 18:11] #7909 closed

[2019-11-19 18:35] aescolar commented on #20072
If this bug is indeed fixed in master, this bug does would not apply anymore. Therefore I close. If the bug is present in master please reopen it.

[2019-11-19 18:35] #20072 closed

[2019-11-19 18:42] aescolar commented on #19535
Was fixed in #19702 => closing

[2019-11-19 18:42] #19535 closed

[2019-11-19 18:52] #20332 closed

[2019-11-19 19:42] pabigot commented on #20693
This was assigned medium in triage, but on inspection reproducing it requires the unmerged #20316 which adds watchdog support.  I'm dropping this to low so it doesn't impact the 2.1 release.

https://github.com/zephyrproject-rtos/zephyr/pull/20316/files#r348128121 may be sufficient to address this without changing the test (though the test may need to be adapted to  `-ENOTSUP` and bypass the test

[2019-11-19 20:17] n3rd4i commented on #17645
There is news on this front from [PlatformIO](https://github.com/platformio/platformio-core/issues/1613#issuecomment-554683964).

[2019-11-19 20:23] mbolivar opened #20806 "nrf: clock control: clock control on/off routines are refcounted"
**Describe the bug**

The `clock_control_on()` and `clock_control_off()` API contracts say that they respectively enable and disable the clock. There is no mention of refcounting users of the clock.

**To Reproduce**

1. call clock_control_on() twice in a row for the same clock on an nRF device
2. call clock_control_off() once on the same device
3. observe clock remains enabled because an associat

[2019-11-19 20:24] mbolivar commented on #20806
cc @pizi-nordic @nordic-krch  @pabigot  -- I couldn't find an existing issue that covers this, but you are all excellent oracles for such things in case I missed one :).

[2019-11-19 21:06] pabigot commented on #20806
I'm unaware of a global issue for this, though the undesirable behavior identified in #20775 seems to be similar (though using a different technical approach).

[2019-11-19 21:44] mbolivar commented on #18970
+1 to these.

No objections, but can you provide an example API function where you might want to use this term? I would expect all the driver APIs I can think of offhand to be interrupt-safe, at least when called from thread context.

I would suggest "might sleep" (or "may sleep") instead.

This is more familiar from Linux kernel source code (648 matches for "might sleep" in v5.3), and has additio

[2019-11-19 22:15] mbolivar commented on #18970
Never mind, I take it back. https://lwn.net/Articles/274695/

[2019-11-19 22:21] rossburton commented on #17004
FWIW I just had this exact problem and installing pkg-config was the solution.

[2019-11-19 22:39] ivankravets commented on #17645
@n3rd4i have you already tried PlatformIO + Zephyr? Does it work for you?

[2019-11-20 00:22] sslupsky commented on #19030
I have not read through all of the related issues but one thing appears to be absent from this discussion, which is power consumption.  I've been working with the SAMD21 and Zephyr recently and have discovered that the clock domain used for the system timers is the same clock used to clock the CPU.  That is a problem for a low power application.  To achieve low power on the SAMD21, the SAMD21 RTC

[2019-11-20 01:52] mbolivar opened #20810 "Better separation between guides and API references"
## Introduction

The Zephyr documentation has "API Reference" and "User and Developer Guides" sections. I believe several API reference pages contain valuable information that would be better placed in the guides, and that this is a discoverability problem.

If there's consensus about that, I think the "guide" documentation should be moved out of "API Reference" pages and into "User and Developer

[2019-11-20 01:52] mbolivar commented on #20810
@dbkinder @ru-fu please review and comment on this RFC

cc @carlescufi

[2019-11-20 02:19] wentongwu opened #20811 "spi driver"
## Introduction

with user space enabled, from the call trace: spi_transceive->z_vrfy_spi_transceive->transceive,
the parameters tx_bufs and rx_bufs passed between these functions are buffer pointers from stack like below, so it's very likely that these are not NULL, so in transceive->spi_context_buffers_setup, the tx_bufs and rx_bufs will never be NULL, so there is problem when users pass NULL in

[2019-11-20 02:53] pabigot commented on #19030
Yes.  Initial thoughts, at least.  It depends on the second TBD in #19282 relating to a domain model for clocks, which considers fixed rates, monotonicity, and the effect of discontinuities when mapping between domains.

[2019-11-20 03:25] pabigot commented on #18970
We need to be able to say succinctly "Unless otherwise specified all API functions are interrupt-safe" and expect people to know what that means.  A specific example would be the GPIO API, where it is not clear to implementers that, because GPIO write functions may be invoked from ISRs, read-modify-write code like:

[code]

*must* be wrapped in a spin-lock to be interrupt-safe.  Most implementatio

[2019-11-20 06:18] wentongwu commented on #20811
@tbursztyka

[2019-11-20 06:27] nordic-krch commented on #20806
@mbolivar of course there is a bug but it's rather in the documentation. Even before https://github.com/zephyrproject-rtos/zephyr/commit/6700f2f1940c645c5cd1eb23baad8bd0c8041b81 nordic driver had the same reference counter.

If `clock_control_off` would shut down clock without ref counter that would make the clock_control useless for multiple request contexts. On nordic soc hf clock is continuousl

[2019-11-20 06:37] chen-png commented on #20686
@andrewboie  after the "__aligned(0x20) struct x86_mmu_pdpt user_pdpt;" removed from arch/x86/include/ia32/kernel_arch_thread.h in #19968, this test case failed, when I added it, it will be ok.
do you know the root cause?

[2019-11-20 06:40] tbursztyka commented on #20811
Indeed, good catch.

That said, fixing spi_handlers.c would be better. make copy_and_check() returning a strut spi_buf_set pointer, count of buffer is 0: return NULL.
To get then:
`tx_bufs = copy_and_check(tx_bufs, tx_buf_copy, 0);`

And there you are: having relevant NULL pointers in the actual transceive call.

[2019-11-20 06:41] andrewboie commented on #20811
It looks like the code in z_vrfy_spi_transceive is wrong. When NULLs are passed in to z_vrfy_spi_transceive(), it is not passing those NULLs to the driver implementation. Instead it is passing pointers to struct spi_buf_set that have been zeroed out.

maybe something like (this is not tested in any way)
[code]

[2019-11-20 06:42] andrewboie commented on #20811
That should work too

[2019-11-20 06:49] wentongwu commented on #20811
@tbursztyka @andrewboie Thanks, I will submit a PR for this issue.

[2019-11-20 07:07] nordic-krch commented on #20780
@n3rd4i, no there is no such option.

[2019-11-20 07:15] andrewboie commented on #20686
do you know the root cause?

That's very odd. It changes the size of the thread struct, but otherwise should have no effect.
What instruction is at 0x00100338 that caused the fault?

[2019-11-20 07:47] chen-png commented on #20686
sorry, i don't know how to cat instruction according to address.
I add some gdb information below, is this useful?

0x00139871 in _handle_exc_13_vector_13_stub ()
Single stepping until exit from function _handle_exc_13_vector_13_stub,
which has no line number information.
_exception_enter () at   arch/x86/core/ia32/excstub.S:72

[2019-11-20 08:31] cvinayak commented on #20781
@alexandru-porosanu-nxp the differential value (llcp_req, llcp_ack) is used as guard on the llcp context wherein the difference have the following meaning:
1. Thread is modifying the context of the LLCP. Ex: Populating parameters before ISR processes it.
2. Thread has commits the values and ISR can start processing the LLCP.
3. ISR has modified the LLCP context while thread requested to modify. Th

[2019-11-20 08:50] George-Stefan commented on #20781
@cvinayak The bug comes from the fact that in ull_conn_llcp()
[code]

is under
`#if defined(CONFIG_BT_CTLR_CONN_PARAM_REQ) || defined(CONFIG_BT_CTLR_PHY)
`
which are not defined for Vega

[2019-11-20 08:55] joerchan commented on #20707
@kristoftjonck You are on the right track. Your code still has some issues though.

[code]
This malloc call has is using `sizeof(struct bt_uuid_128)` So the size in this case will be wrong.
Also there are other UUIDs currently on the stack masked by the use of BT_GATT_PRIMARY_SERVICE and probably BT_GATT_CHARACTERISTIC.

So just continue with what you are doing and make sure that you get everythin

[2019-11-20 09:01] andrewboie commented on #20686
several ways:
1. in gdb, "disassemble 0x00100338"
2. addr2line from shell.
3. look in build/zephyr/zephyr.lst

[2019-11-20 09:05] chen-png commented on #20686
ok, thanks.
i ran the disassemble 0x00100338 in gdb, the information as follows:

Dump of assembler code for function arch_swap:
   0x00100320 <+0>:     push   %edi
   0x00100321 <+1>:     mov    $0x160b20,%edi
   0x00100326 <+6>:     push   %esi
   0x00100327 <+7>:     push   %ebx
   0x00100328 <+8>:     push   %ebp
   0x00100329 <+9>:     pushl  0x13fb60
   0x0010032f <+15>:    mov    0x8(%edi),

[2019-11-20 09:20] cbsiddharth commented on #20561
Does anyone have any objections/suggestions on this approach? Do I go ahead to a PR?

[2019-11-20 09:23] cvinayak commented on #20781
@George-Stefan yes, I just discovered it myself... will you send a PR? or should I?

[2019-11-20 09:24] George-Stefan commented on #20781
@cvinayak let me do it

[2019-11-20 09:29] tbursztyka commented on #20561
Go with an RFC PR.

[2019-11-20 09:32] gvancuts commented on #17004
Thanks for the feedback @rossburton

@gnuless let me close this issue since we cannot reproduce it and have had no further feedback from your side on it. Feel free to re-open it if it is still an issue.

[2019-11-20 09:32] #17004 closed

[2019-11-20 09:34] avisconti commented on #20639
Can you quickly try with 732b815f ?
To be honest the issue disappeared also in my case with latest master even if there are no changes to i2c driver. It is a tricky issue.

[2019-11-20 09:56] alexandru-porosanu-nxp commented on #20781
Right, it now makes more sense. Thanks for your response @cvinayak

[2019-11-20 10:24] George-Stefan commented on #20781
Doing this will prevent BT_L2CAP_CONN_PARAM_REQ being sent by the slave

[2019-11-20 11:39] ulfalizer commented on #20673
@novalisek
It's because Kconfig can't tell that

[code]

isn't a user preference. Internally, it gets stored as the "user value" of the symbol, and once the symbol becomes visible (by toggling `MCUBOOT`), the user value is respected.

It's possible that the behavior could be different there (e.g. checking right after `.config` loading if a symbol is visible or not, and ignoring the user value if i

[2019-11-20 11:47] ulfalizer commented on #20673
"Visible" means that the symbol has a prompt (with a satisfied condition). It's called visible because it makes it visible in e.g. guiconfig/menuconfig.

[2019-11-20 11:53] nashif commented on #19419
@cerealkill  Can you please describe your usecase in more details?

[2019-11-20 11:55] ulfalizer commented on #20673
The root cause of confusing stuff like this might be that Kconfig conflates the saved configuration with the configuration output. If the saved configuration used a different format, more information could be available.

I suspect splitting them up would still make Kconfig worse on the whole though. Most of the time it works great. Kconfig never generates an invalid configuration either, so a lot

[2019-11-20 11:59] novalisek commented on #20673
@ulfalizer
and would it be possible to do it like I wrote in [#issuecomment-554242793](#issuecomment-554242793)

make new symbols
[code]
and if they are not set, always use default values (that will depend on if MCUBOOT is enabled or not)?

Or is this not possible?

[2019-11-20 12:08] ulfalizer commented on #20673
Yeah, think it might be a better idea, if people would get bitten by `FLASH_LOAD_OFFSET` not reverting back to 0 when `MCUBOOT` is turned off.

What do you think about having a symbol like this instead?

[code]

[2019-11-20 12:20] novalisek commented on #20673
@ulfalizer
Yes, I think it is not bad idea to have just one symbol for all 3 symbols  ... But don't also forget to unset USE_DT_CODE_PARTITION if MCUBOOT is not enabled

[2019-11-20 12:34] ulfalizer commented on #20673
That might get trickier. There's no "anti-select" or the like (except `depends on` is kinda like an anti-select), and `USE_DT_CODE_PARTITION` is user-configurable. When Kconfig sees `CONFIG_USE_DT_CODE_PARTITION=y`, it has to assume that's what the user wanted, and can't turn it off when `BOOTLOADER_MCUBOOT` is turned off.

I wonder if the prompts on `FLASH_LOAD_OFFSET` and `FLASH_LOAD_SIZE` could

[2019-11-20 12:39] ulfalizer commented on #20673
No configuration file sets `USE_DT_CODE_PARTITION` either, fwiw...

[2019-11-20 12:54] ulfalizer commented on #20673
Wonder if this might be a plan:

1. Get rid of the prompt on `USE_DT_CODE_PARTITION`, if there's no good reason to make it user-configurable

2. Add a new `CUSTOM_FLASH_LOAD_OFFSET_SIZE` symbol for when `FLASH_LOAD_OFFSET/SIZE` shouldn't be determined automatically, if needed

Alternatively, maybe the prompts on both `USE_DT_CODE_PARTITION` and `FLASH_LOAD_OFFSET/SIZE` could be removed, if there's

[2019-11-20 13:00] novalisek commented on #20673
yes, `CONFIG_TEXT_SECTION_OFFSET`  and  `CONFIG_FLASH_LOAD_OFFSET` and `CONFIG_FLASH_LOAD_SIZE` prompts can be removed when `CUSTOM_FLASH_LOAD_OFFSET_SIZE` is not selected.  They don't have to depend on `USE_DT_CODE_PARTITION` , but few more files have dependencies on that (seeing in #20740 patch) .
It's a pitty there is no "unselect" property for symbols :) that would get called when unselecting

[2019-11-20 13:00] ulfalizer opened #20821 "Do USE_(DT_)CODE_PARTITION and FLASH_LOAD_OFFSET/SIZE need to be user-configurable?"
See discussion near the end of https://github.com/zephyrproject-rtos/zephyr/issues/20673. It might be possible to improve https://github.com/zephyrproject-rtos/zephyr/pull/20740 some more if they weren't (though it already improves the situation, so no need to block it I think).

Recording it mostly so I don't forget it, and in case someone jumps in.

CC @novalisek

[2019-11-20 13:02] ulfalizer commented on #20821
Having `USE_DT_CODE_PARTITION` user-configurable seems the sketchiest out of them.

[2019-11-20 13:10] ulfalizer commented on #20673
@novalisek
One thing that complicates things is that `.config` is also a configuration output format (it actually uses Makefile syntax, to allow configuration values to be read from `make`). If `CONFIG_FOO=a` or the like were to show up, then other tools reading the configuration would have to know how to deal with them.

I sometimes try to think of ways to make Kconfig a bit less confusing for pe

[2019-11-20 13:38] mfiumara commented on #16278
@carlescufi Does this mean the CONFIG_MCUMGR_SMP_SHELL option should be working in Zephyr master? I am trying to get it working but having similar problems as @PhilippFinke. The UART based implementation works correctly but when I try to use the mcumgr serial backend I get no response. Unfortunately for me it is not sufficient to use the UART based implementation and also need shell over UART. Sho

[2019-11-20 13:56] carlescufi commented on #16278
Yes, the SHELL option should be working on master. @nordic-krch [fixed](https://github.com/zephyrproject-rtos/zephyr/commit/63e0ae0a9e3c5a5c0d3d6f3b67213caad5b0591e#diff-67583d2313edd82f14f8a59fca2caa9f) it a while back actually. You can create a separate issue but make sure that you are testing this correctly and that it works with the UART backend first, because it could be the mcumgr applicatio

[2019-11-20 13:58] novalisek commented on #20673
@ulfalizer I don't know how make parses the file, may be this "auto" flag could be added after # character, that may be ignored by make, but it is probably also ignored by guiconfig etc, so it's not a good hack.
And what about making guiconfig for prj.conf? You could use more symbol options there (yes, no, unset, numerical value etc ..), because it is somehow parsed and merged with .config and thi

[2019-11-20 14:05] erwango opened #20825 "stm32: dma: enable dma with peripheral using DMAMUX"
**Is your enhancement proposal related to a problem? Please describe.**
On some STM32 series, a DMAMUX IP is present to handle the peripheral DMA channels multiplexing. This new IP is not supported yet on STM32 DMA driver

**Describe the solution you'd like**
So to support use of DMA by peripherals on these series, stm32 dma driver should be updated
to support channel configuration using DMAMUX

[2019-11-20 14:15] zephyrbot opened #20826 "[Coverity CID :205798] API usage errors in boards/posix/native_posix/hw_models_top.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/posix/native_posix/hw_models_top.c

Category: API usage errors
Function: `hwm_sleep_until_next_timer`
Component: Other
CID: 205798

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 15:22] ulfalizer commented on #20748
Could the unit address be left out instead? Can have e.g. `gpio0` as the name.

[2019-11-20 15:24] aescolar commented on #20826
The actual error from Coverity:
[code]

[2019-11-20 15:55] mbolivar commented on #20806
Ah, you're right about that part, I missed that in the diff.

No, it's in our driver. The driver API just says it enables the clock or disables it. Nothing is said about counting users. And as I wrote in the issue description, the nordic driver is the only one that ref counts. Every other driver just turns the clock on and off.

Right, and as I wrote in the issue description:

[2019-11-20 16:00] #20493 closed

[2019-11-20 16:19] joerchan opened #20833 "Bluetooth: Deadlock in Host API from SMP callbacks."
**Describe the bug**
Deadlock in Bluetooth Host. Deadlock could happen from the SMP
callbacks when calling Bluetooth API functions. This is because the
callbacks was given directly from the HCI TX thread. If the calling
API function resulted in trying to send a new HCI command it would post
this HCI command to the HCI TX thread and then wait for command complete
event. This would result in the HCI

[2019-11-20 16:39] mbolivar commented on #18970
Excellent example, thank you.

Summarizing the status:

- thread-safe: OK as-is
- re-entrant: OK as-is
- interrupt-safe: OK as-is
- atomic: OK as-is
- blocking: scrap it, need a different term
- `k_is_atomic()`: no, not yet (and to clarify: in my mind, not ever, being convinced by the [LWN article](https://lwn.net/Articles/274695/))

Did you mean "The function invoked by a given thread" instead of

[2019-11-20 16:52] n3rd4i commented on #17645
I tried it yesterday, I have some issue configuring it. I wanted to set-up for nrf52832 but I get:
[code]

This is my platformio.ini
[code]

[2019-11-20 16:54] ivankravets commented on #17645
Could you re-run `pio update` command and try again?

[2019-11-20 16:54] ulfalizer commented on #20104
Feel free to reopen if you still think it's too slow. Fixed the low-hanging YAML parsing fruit. Rest is probably mostly micro-optimization, and not that easy.

[2019-11-20 16:54] #20104 closed

[2019-11-20 16:55] n3rd4i commented on #17645
I've run:
`pio update`

Then I run build again:
[code]

[2019-11-20 17:07] zephyrbot opened #20834 "[Coverity CID :205825] API usage errors in boards/posix/native_posix/hw_models_top.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/posix/native_posix/hw_models_top.c

Category: API usage errors
Function: `hwm_sleep_until_next_timer`
Component: Other
CID: 205825

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20835 "[Coverity CID :205797] Control flow issues in drivers/flash/spi_nor.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/flash/spi_nor.c

Category: Control flow issues
Function: `delay_until_exit_dpd_ok`
Component: Drivers
CID: 205797

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20836 "[Coverity CID :205776] Error handling issues in drivers/usb/device/usb_dc_native_posix.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/usb/device/usb_dc_native_posix.c

Category: Error handling issues
Function: `usb_dc_ep_write`
Component: Drivers
CID: 205776

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20837 "[Coverity CID :205777] Error handling issues in drivers/usb/device/usb_dc_native_posix.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/usb/device/usb_dc_native_posix.c

Category: Error handling issues
Function: `usb_dc_ep_write`
Component: Drivers
CID: 205777

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20838 "[Coverity CID :205790] Null pointer dereferences in drivers/usb/device/usb_dc_native_posix.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/usb/device/usb_dc_native_posix.c

Category: Null pointer dereferences
Function: `usb_dc_ep_read_wait`
Component: Drivers
CID: 205790

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20839 "[Coverity CID :205813] Error handling issues in drivers/usb/device/usb_dc_native_posix.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/usb/device/usb_dc_native_posix.c

Category: Error handling issues
Function: `handle_usb_data`
Component: Drivers
CID: 205813

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20840 "[Coverity CID :205821] Error handling issues in drivers/usb/device/usb_dc_native_posix.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/usb/device/usb_dc_native_posix.c

Category: Error handling issues
Function: `usbip_skip_setup`
Component: Drivers
CID: 205821

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20841 "[Coverity CID :205839] Error handling issues in drivers/usb/device/usb_dc_native_posix.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/usb/device/usb_dc_native_posix.c

Category: Error handling issues
Function: `handle_usb_data`
Component: Drivers
CID: 205839

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20842 "[Coverity CID :205787] Memory - corruptions in drivers/usb/device/usb_dc_native_posix_adapt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/usb/device/usb_dc_native_posix_adapt.c

Category: Memory - corruptions
Function: `handle_usbip_unlink`
Component: Drivers
CID: 205787

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20843 "[Coverity CID :205778] Integer handling issues in include/sys/time_units.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/include/sys/time_units.h

Category: Integer handling issues
Function: `z_tmcvt`
Component: Other
CID: [205778](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=205778)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20844 "[Coverity CID :205781] Integer handling issues in lib/os/printk.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/lib/os/printk.c

Category: Integer handling issues
Function: `z_vprintk`
Component: Other
CID: 205781

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20845 "[Coverity CID :205824] Memory - corruptions in samples/net/mqtt_publisher/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/mqtt_publisher/src/main.c

Category: Memory - corruptions
Function: `publisher`
Component: Samples
CID: 205824

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20846 "[Coverity CID :205775] Memory - corruptions in samples/net/sockets/big_http_download/src/big_http_download.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/big_http_download/src/big_http_download.c

Category: Memory - corruptions
Function: `main`
Component: Samples
CID: 205775

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20847 "[Coverity CID :205807] Memory - corruptions in samples/net/sockets/coap_client/src/coap-client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_client/src/coap-client.c

Category: Memory - corruptions
Function: `send_obs_reply_ack`
Component: Samples
CID: 205807

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20848 "[Coverity CID :205817] Memory - corruptions in samples/net/sockets/coap_client/src/coap-client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_client/src/coap-client.c

Category: Memory - corruptions
Function: `send_obs_reset_coap_request`
Component: Samples
CID: 205817

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:07] zephyrbot opened #20849 "[Coverity CID :205822] Memory - corruptions in samples/net/sockets/coap_client/src/coap-client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_client/src/coap-client.c

Category: Memory - corruptions
Function: `send_obs_coap_request`
Component: Samples
CID: 205822

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20850 "[Coverity CID :205828] Memory - corruptions in samples/net/sockets/coap_client/src/coap-client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_client/src/coap-client.c

Category: Memory - corruptions
Function: `send_simple_coap_request`
Component: Samples
CID: 205828

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20851 "[Coverity CID :205835] Memory - corruptions in samples/net/sockets/coap_client/src/coap-client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_client/src/coap-client.c

Category: Memory - corruptions
Function: `send_large_coap_request`
Component: Samples
CID: 205835

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20852 "[Coverity CID :205784] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `send_notification_packet`
Component: Samples
CID: 205784

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20853 "[Coverity CID :205789] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `well_known_core_get`
Component: Samples
CID: 205789

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20854 "[Coverity CID :205796] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `location_query_post`
Component: Samples
CID: 205796

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20855 "[Coverity CID :205804] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `core_get`
Component: Samples
CID: 205804

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20856 "[Coverity CID :205810] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `piggyback_get`
Component: Samples
CID: 205810

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20857 "[Coverity CID :205818] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `large_create_post`
Component: Samples
CID: 205818

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20858 "[Coverity CID :205827] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `test_put`
Component: Samples
CID: 205827

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20859 "[Coverity CID :205829] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `test_del`
Component: Samples
CID: 205829

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20860 "[Coverity CID :205831] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `large_get`
Component: Samples
CID: 205831

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20861 "[Coverity CID :205832] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `large_update_put`
Component: Samples
CID: 205832

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:08] zephyrbot opened #20862 "[Coverity CID :205836] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `separate_get`
Component: Samples
CID: 205836

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:12] n3rd4i commented on #17645
I did some more experiments changing the `platformio.ini`
Experiment #1
[code]
Bring this:
[code]

Experiment #2:
[code]

brings:
[code]

[2019-11-20 17:17] zephyrbot opened #20863 "[Coverity CID :205837] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `query_get`
Component: Samples
CID: 205837

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:17] zephyrbot opened #20864 "[Coverity CID :205838] Memory - corruptions in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_server/src/coap-server.c

Category: Memory - corruptions
Function: `test_post`
Component: Samples
CID: 205838

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:17] ulfalizer commented on #17310
@erwango
No Kconfig-only way to check for a substring (if that's what needed here), but it could be solved by adding a function in `scripts/kconfig/kconfigfunctions.py`.

Could look something like this:

[code]

[2019-11-20 17:17] zephyrbot opened #20865 "[Coverity CID :205794] Code maintainability issues in samples/net/sockets/websocket_client/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/websocket_client/src/main.c

Category: Code maintainability issues
Function: `setup_socket`
Component: Samples
CID: 205794

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:17] zephyrbot opened #20866 "[Coverity CID :205795] Integer handling issues in subsys/fs/nvs/nvs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/fs/nvs/nvs.c

Category: Integer handling issues
Function: `nvs_clear`
Component: Other
CID: 205795

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:17] zephyrbot opened #20867 "[Coverity CID :205803] Integer handling issues in subsys/fs/nvs/nvs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/fs/nvs/nvs.c

Category: Integer handling issues
Function: `nvs_startup`
Component: Other
CID: 205803

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20868 "[Coverity CID :205814] Null pointer dereferences in subsys/net/ip/6lo.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/net/ip/6lo.c

Category: Null pointer dereferences
Function: `uncompress_IPHC_header`
Component: Networking
CID: 205814

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20869 "[Coverity CID :205811] Memory - corruptions in subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/net/lib/lwm2m/lwm2m_engine.c

Category: Memory - corruptions
Function: `lwm2m_init_message`
Component: Networking
CID: 205811

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20870 "[Coverity CID :205816] Control flow issues in subsys/settings/src/settings_file.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/settings/src/settings_file.c

Category: Control flow issues
Function: `read_handler`
Component: Other
CID: 205816

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20871 "[Coverity CID :205815] Memory - illegal accesses in subsys/shell/shell.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/shell/shell.c

Category: Memory - illegal accesses
Function: `common_beginning_find`
Component: Other
CID: 205815

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20872 "[Coverity CID :205779] Parse warnings in subsys/usb/class/hid/core.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/usb/class/hid/core.c

Category: Parse warnings
Function: ``
Component: Other
CID: 205779

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20873 "[Coverity CID :205782] Memory - corruptions in tests/benchmarks/mbedtls/src/benchmark.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/benchmarks/mbedtls/src/benchmark.c

Category: Memory - corruptions
Function: `main`
Component: Tests
CID: 205782

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20874 "[Coverity CID :205805] Memory - corruptions in tests/benchmarks/mbedtls/src/benchmark.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/benchmarks/mbedtls/src/benchmark.c

Category: Memory - corruptions
Function: `main`
Component: Tests
CID: 205805

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20875 "[Coverity CID :205840] Memory - corruptions in tests/benchmarks/mbedtls/src/benchmark.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/benchmarks/mbedtls/src/benchmark.c

Category: Memory - corruptions
Function: `main`
Component: Tests
CID: 205840

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20876 "[Coverity CID :205820] Memory - corruptions in tests/crypto/tinycrypt/src/cmac_mode.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/crypto/tinycrypt/src/cmac_mode.c

Category: Memory - corruptions
Function: `test_cmac_mode`
Component: Tests
CID: 205820

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20877 "[Coverity CID :205823] Null pointer dereferences in tests/kernel/fifo/fifo_timeout/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/kernel/fifo/fifo_timeout/src/main.c

Category: Null pointer dereferences
Function: `test_multiple_threads_pending`
Component: Tests
CID: 205823

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20878 "[Coverity CID :205801] Incorrect expression in tests/kernel/mp/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/kernel/mp/src/main.c

Category: Incorrect expression
Function: `test_mp_start`
Component: Tests
CID: 205801

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20879 "[Coverity CID :205812] Incorrect expression in tests/kernel/spinlock/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/kernel/spinlock/src/main.c

Category: Incorrect expression
Function: `bounce_once`
Component: Tests
CID: 205812

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20880 "[Coverity CID :205780] Integer handling issues in tests/net/lib/coap/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/lib/coap/src/main.c

Category: Integer handling issues
Function: `test_block1_response`
Component: Tests
CID: 205780

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20881 "[Coverity CID :205786] Integer handling issues in tests/net/lib/coap/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/lib/coap/src/main.c

Category: Integer handling issues
Function: `test_block2_request`
Component: Tests
CID: 205786

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20882 "[Coverity CID :205806] Integer handling issues in tests/net/lib/coap/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/lib/coap/src/main.c

Category: Integer handling issues
Function: `test_block1_request`
Component: Tests
CID: 205806

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20883 "[Coverity CID :205808] Integer handling issues in tests/net/lib/coap/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/lib/coap/src/main.c

Category: Integer handling issues
Function: `test_block2_response`
Component: Tests
CID: 205808

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20884 "[Coverity CID :205799] Memory - corruptions in tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c

Category: Memory - corruptions
Function: `nffs_test_assert_file`
Component: Tests
CID: 205799

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:18] zephyrbot opened #20885 "[Coverity CID :205819] Memory - corruptions in tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c

Category: Memory - corruptions
Function: `nffs_test_assert_children_sorted`
Component: Tests
CID: 205819

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:19] zephyrbot opened #20886 "[Coverity CID :205826] Memory - corruptions in tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c

Category: Memory - corruptions
Function: `nffs_test_assert_child_inode_present`
Component: Tests
CID: 205826

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

[2019-11-20 17:36] pabigot commented on #20639
Test command was:

    rm -rf build && west build -b nucleo_l476rg -- -DSHIELD=x_nucleo_iks01a3 && west flash

AFAICT the sample works, from just before 732b815f4be46a0e0c1b540e8274a38b345e7276 through current master 16ba258052552a65d4041b8b0bf1db02643b2b56, but only with a power-down reset.  A running example will fail if the reset button on the board is pressed.

The output suggests the LSM6DSO

[2019-11-20 17:39] andyross commented on #20800
Do you have an exercisable test case you can post?  We have lots of exercising test cases of threads enabled in an ISR correctly preempting the idle thread (literally every k_sleep() call that wakes up synchronously works like that).

The line you commented out is a little suspicious, though.  The point of that macro is that the idle thread is normally preemptible and so it just spins waiting for

[2019-11-20 17:55] ioannisg commented on #18591
This test does not seem to fail any more. I have tested the tests/kernel/fifo/fifo_timeout suite in the following ARM platforms:

| ARM Platform |
|     :---:      |
| lpcxpresso54114_m4 |
| frdm_k64f |
| arduino_due |
| nRF5340_dk_nrf5340_cpuapp & w/wo SysTick |
| nRF9160_pca10090 & w/wo SysTIck |
| nRF52_pca10040 & w/wo SysTIck |
| sam_e70_xplained |
| nucleo_g071rb |
| mimxrt1015_evk |

@pabigo

[2019-11-20 17:56] #20811 closed

[2019-11-20 18:01] andyross commented on #20877
False positive.  This is the "volatile variable reads are side effects" case (i.e. they might be MMIO registers, etc...), coverity is seeing a line like:

    zassert_true(volatile_var == val, "");

And warning that this is illegal because if that assertion is not enabled then the read won't happen and behavior will be different.  (And yes, the volatile is needed: it's a spinlock test.)

Except it

[2019-11-20 18:02] andyross commented on #20879
False positive.  This is the "volatile variable reads are side effects" case (i.e. they might be MMIO registers, etc...), coverity is seeing a line like:

    zassert_true(volatile_var == val, "");

And warning that this is illegal because if that assertion is not enabled then the read won't happen and behavior will be different.  (And yes, the volatile is needed: it's a spinlock test.)

Except it

[2019-11-20 18:08] andyross commented on #20878
(Pasting same answer from elsewhere).

False positive.  This is the "volatile variable reads are side effects" case (i.e. they might be MMIO registers, etc...), coverity is seeing a line like:

    zassert_true(volatile_var == val, "");

And warning that this is illegal because if that assertion is not enabled then the read won't happen and behavior will be different.  (And yes, the volatile is ne

[2019-11-20 18:16] andyross commented on #20844
Some quick triage if someone else wants to work this.  This is a "test is always true" kind of error that happens to be platform dependent.  The code looks like this ("lld" has a type of "long long"):

    if (lld > __LONG_MAX__ ||
        lld < ~__LONG_MAX__) {
            print_err(out, ctx);
            break;
    }

On a 32 bit platform, sizeof(long) < sizeof(long long), so it's possible to ha

[2019-11-20 18:22] andyross commented on #20877
Triage for whoever's benefit: this one is real enough.

test_multiple_threads_pending() does a k_fifo_get() to retrieve a data pointer and then dereferences it to log its fields in a TC_PRINT() at line 162.  The test is making assumptions about the data environment to assume that the get never returns a NULL, but it technically can and coverity wants that case checked.

It's probably enough to put

[2019-11-20 18:36] carlescufi commented on #20806
This was the only way for us to use this API consistently across different modules. Without the reference counting you'd need a higher-layer that tracks the use of the clock, and that layer simply doesn't exist. While I agree that this is essentially breaking the API contract, I don't think we should remove the behaviour. Instead, I agree with @nordic-krch, we should document that some implementat

[2019-11-20 18:37] #20781 closed

[2019-11-20 18:47] n3rd4i commented on #20780
This could be done by discarding rx data while the tx is busy, potentially configurable from KConfig?
It could be helpful to have such support in the future, should I change this ticket to feature request?

[2019-11-20 18:54] pabigot commented on #20806
People who see `foo_enable()/foo_disable()` (#20775) or `foo_on()/foo_off()` (clock) will expect those functions to enable/disable/turn on/turn off.  Given functions with those names reference-counting behavior is just wrong.

If you want reference counting it should be something like `foo_request()/foo_release()`.

Since it's already in the API presumably the only option is to document it and exp

[2019-11-20 19:01] valeros commented on #17645
Hi @n3rd4i ! Please run `pio update` again to pull the latest changes. As for the second error that's really strange, if it doesn't work even with the latest version of `nordicnrf52` platform please open an issue [here](https://github.com/platformio/platform-nordicnrf52/issues) as this thread doesn't seem like a right place to continue our discussion. Thanks!

[2019-11-20 19:01] #20804 closed

[2019-11-20 19:25] joerchan commented on #20781
@alexandru-porosanu-nxp can you update the title of the issue to be more descritiptive of what the actual issue was. Nice to have for the history.

[2019-11-20 19:54] nashif commented on #15881
can't reproduce

[2019-11-20 19:54] #15881 closed

[2019-11-20 19:57] andyross commented on #20800
Yeah, this seems to be working as intended for me in the minimal test case below (drop on top of hello_world's main.c, add CONFIG_POLL=y to prj.conf).  You'll see it log it's progress as it enters idle, gets preempted by the timer ISR, which signals a poll event and wakes up a thread which then runs on ISR exit.

This is hitting some deeper edge case, or else might be an app bug.

[code]

[2019-11-20 20:12] dleach02 commented on #20837
`353        if (USBIP_EP_ADDR2IDX(ep) == 0) {
   	CID 205776: Unchecked return value from library (CHECKED_RETURN) [select issue]
354                usbip_send_common(ep, data_len);

CID 205777 (#1 of 1): Unchecked return value from library (CHECKED_RETURN)
8. check_return: Calling usbip_send(ep, data, data_len) without checking return value. It wraps a library function that may fail and return an

[2019-11-20 20:26] andyross commented on #20802
Indeed, there's no reschedule done inside k_mutex_unlock().  I'm not sure this is a bug, though.  Note that k_sem_give() has exactly the same behavior, as does k_poll_signal_raise() and a bunch of other "write-like" IPC APIs we have.

But not all: I note that an unblocking insert to a queue (e.g. k_lifo/k_fifo) **does** do a synchronous reschedule.  We've never been good about documenting what our

[2019-11-20 20:51] andyross commented on #20843
False positive.  Coverity is warning that a value is being produced with 32 bit math but then assigned to a 64 bit result, that is it doesn't like to see an expression like:

[code]

But that's exactly what's desired here.  The generator function for the time unit conversions can be used in a 64 bit or 32 bit context (with a downcast where it's used), and I want the compiler to be able to see that

[2019-11-20 20:55] #20826 closed

[2019-11-20 20:55] #20834 closed

[2019-11-20 21:01] andrewboie commented on #20802
my vote is to have a reschedule point here. k_mutex should be considered as a special case, aside from other IPC which does more traditional wait/wake semantics and aren't supposed to be priority inheriting.

[2019-11-20 21:22] #20852 closed

[2019-11-20 21:22] #20853 closed

[2019-11-20 21:22] #20854 closed

[2019-11-20 21:22] #20855 closed

[2019-11-20 21:22] #20856 closed

[2019-11-20 21:22] #20857 closed

[2019-11-20 21:22] #20858 closed

[2019-11-20 21:22] #20859 closed

[2019-11-20 21:22] #20860 closed

[2019-11-20 21:22] #20861 closed

[2019-11-20 21:22] #20862 closed

[2019-11-20 21:22] #20863 closed

[2019-11-20 21:23] nashif commented on #20864
Multiple similar CIDs in this file:

205784
205789
205796
205804
205810
205818
205827
205829
205831
205832
205836
205837

[2019-11-20 21:24] #20847 closed

[2019-11-20 21:24] #20848 closed

[2019-11-20 21:24] #20849 closed

[2019-11-20 21:24] #20851 closed

[2019-11-20 21:24] nashif commented on #20850
Multiple similar CIDs in this file:

205807
--
205817
205822
205828
205835

[2019-11-20 21:36] pabigot commented on #18591
Here's my conclusions running

    sanitycheck --device-testing --hardware-map all-arm.yml -T tests/kernel/fifo/fifo_timeout

on these platforms:

* atsamd21_xpro (ATML2130021800032454)
* efr32mg_sltb004a (000440128632)
* frdm_k64f (02400201E89F7E40156183F8)
* mimxrt1060_evk (609301751)
* nucleo_l476rg (066FFF535155878281112638)
* nrf52840_pca10056 (000683290670)
* sam_e70_xplained (ATML2637010000

[2019-11-21 01:04] raveslave commented on #17814
just checking in, any ideas on when this might be

[2019-11-21 01:09] ceolin commented on #20529
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive.

[2019-11-21 01:09] #20529 closed

[2019-11-21 01:13] ceolin commented on #20531
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:13] #20531 closed

[2019-11-21 01:14] ceolin commented on #20532
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:14] #20532 closed

[2019-11-21 01:15] ceolin commented on #20530
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:15] #20530 closed

[2019-11-21 01:16] ceolin commented on #20528
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:16] #20528 closed

[2019-11-21 01:16] ceolin commented on #20527
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:16] #20527 closed

[2019-11-21 01:17] ceolin commented on #20526
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:17] #20526 closed

[2019-11-21 01:18] ceolin commented on #20525
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:18] #20525 closed

[2019-11-21 01:18] ceolin commented on #20523
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:18] #20523 closed

[2019-11-21 01:19] ceolin commented on #20524
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:19] #20524 closed

[2019-11-21 01:20] ceolin commented on #20521
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:20] #20521 closed

[2019-11-21 01:21] ceolin commented on #20522
We have spent some time on Security WG discussing these tinycrypt issues reported by Coverity and we concluded that they are false positive. It seems that coverity is getting confused with the way we running it with sanitycheck and multiple architectures.

[2019-11-21 01:21] #20522 closed

[2019-11-21 01:26] raveslave commented on #12775
do you have this in a repo somewhere?

[2019-11-21 02:19] atKeitaroTakahashi opened #20892 "our nRF52840 board power management sleep duration"
I want to make our nRF52840 board by zephyr-v2.0.0 work into low power mode for specified seconds at k_sleep.
But our board often sleeps 512 seconds longer than specified seconds if we specified time longer 512 seconds.
For example, if we specified 600 seconds, our board often sleeps 1112 seconds.
I only understand this probrem is related nRF52 RTC overflow.
What's the difference when sleeped spec

[2019-11-21 06:10] alexandru-porosanu-nxp commented on #20781
Sure, I'm thinking to change the tile to "Fix connection state machine if !(BT_CTLR_CONN_PARAM_REQ) || BT_CTLR_PHY)". Does it sound OK?

[2019-11-21 07:11] abrodkin commented on #14640
Even with https://github.com/zephyrproject-rtos/zephyr/pull/15123 in place I still see a failure in `cmsis_rtos_v2` on nSIM with ARC EM:
[code]

FWIW I'm on today's master.
@vonhust do you see that issue still as well or it's just me doing something stupid?

[2019-11-21 07:16] n3rd4i commented on #17645
I was able to successfully able to debug with PlatformIO and Zephyr after doing the updates as suggested. I believe with this, we could close this ticket since its kind of resolved with this combination.

[2019-11-21 07:16] #17645 closed

[2019-11-21 07:36] jakub-uC commented on #20871
@nordic-krch : Would you mind sharing some details? I do not have an access to coverity any longer.

[2019-11-21 07:55] aescolar commented on #20802
Lowering priority. Based on @andyross evaluation, even considering this a medium bug may be too much.

[2019-11-21 08:45] rveerama1 commented on #20539
False positive. If new_sock accepted it is error case. Test will fail. No need to close the socket.

[2019-11-21 08:45] #20539 closed

[2019-11-21 09:24] vonhust commented on #14640
@abrodkin  this test did operations on stack which is not allowed by STACK_CHECKING, plse see #17935 ,  two possible fixes:
* modify test code to remove operations on stack
* disable arc's STACK_CHECKING for this test.

[2019-11-21 09:59] rveerama1 commented on #20507
False positive.

[2019-11-21 09:59] #20507 closed

[2019-11-21 10:25] nordic-krch commented on #20604
This is actually not true. Logs are queued from the start of the system (https://github.com/zephyrproject-rtos/zephyr/blob/c9e96b3c1976a0d938cc69d860789434a5ae3299/kernel/init.c#L504)

Logs cannot be processed until log thread is started and some may be dropped if buffer is too small and it overflows. Is that what you see or something else?

[2019-11-21 10:53] nordic-krch commented on #20806
When i searched repo i didn't found many uses of `clock_control_off` except for nordic. I've actually found one (`gpio_dw.c`) and i think that it is actually missing reference counter there because ports are using same clock driver and if any port disables the clock it will shut it down for all.

`clock_control_on` and `clock_control_off` are already purely documented (e.g. no error codes). Renami

[2019-11-21 11:00] erwango opened #20904 "kernel.timer.tickless is failed due to missing TEST_USERSPACE flag"
**Describe the bug**
Running `kernel.timer.tickless` test is failing :

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. ./scripts/sanitycheck --device-testing --device-serial /dev/ttyACM0 -p nucleo_l4r5zi -T tests/kernel/timer/timer_api

**Expected behavior**
Test should be passed

Enabling CONFIG_TEST_USERSPACE fixes the issue.

[2019-11-21 11:49] #20868 closed

[2019-11-21 11:53] nordic-krch commented on #20871
@jakub-uC i took care, it was quite trivial.

[2019-11-21 12:15] pabigot opened #20910 "devicetree: tighten preprocessor include path scope"
It appears that the construction of `DTS_ROOT_SYSTEM_INCLUDE_DIRS` includes adding `${ZEPHYR_BASE}/include`.  This would mean that the namespace for include directives in devicetree sources incorporates the namespace for files included into C language sources.

It would be nice if these could be made more independent, as suggested by having `${ZEPHYR_BASE}/include/dts-bindings/`.  There are relati

[2019-11-21 12:28] nashif commented on #20843
close in coverity.

[2019-11-21 12:28] #20843 closed

[2019-11-21 12:35] #20472 closed

[2019-11-21 12:46] pabigot commented on #20892
Does your application stay completely asleep for the entire 600/1112 second period, or does it have to wake up to do other things like wireless communication, react to external signals, get timer callbacks?  If it wakes, how frequently?

[2019-11-21 12:51] #20833 closed

[2019-11-21 13:28] ioannisg commented on #19700
@carlescufi this is effectively blocking the v2.1 release; i suggest to remove the Medium priority bug label, until we have a response from @jimparis and, also, a better understanding on whether this is actually a bug.

[2019-11-21 13:32] ioannisg commented on #16035
@anangl @nvlsianpu can you help with this ticket? It's effectively blocking the 2.1 release - I wonder if we have a way to address this now. MAybe look at #19391? @carlescufi I would remove the Medium priority labeling on this one if we can't resolve it soon.

[2019-11-21 13:47] Mierunski commented on #19700
uart_err_check clears error state. It's more of API documentation issue than bug in driver. Also its not only an issue in nRF drivers so platform: nRF label should be removed in my opinion

[2019-11-21 13:48] #20498 closed

[2019-11-21 14:15] avisconti commented on #20639
No, this is known. The issue is related to the fact that INT1 pin is used to output the drdy interrupt, but after reset in input to enter in I3C hotjoin mode. So, since there is a level shifter on INT1 the '1' state is preserved when interrupt is generated. There are possible solutions like using either polling mode or INT2 for interrupt (instead of INT1).

OK, I will close this one. I can try to

[2019-11-21 14:15] #20639 closed

[2019-11-21 14:20] carlescufi commented on #17805
@paanastasiadis is this still an issue?

[2019-11-21 14:28] gon1332 commented on #17805
@carlescufi Since then a workaround solution was to use v2.0 version of Zephyr. It is true that it is long time since we last used this functionality. You may close it if there isn't anyone else seeing this.

When we revisit it, we will reopen the issue if it doesn't work under v1.14.

[2019-11-21 14:33] pabigot commented on #20639
Oh, good.  Actually that's common, and the idiom I've been using in updating the sensors for the new GPIO API accommodates it.  Now that I have an A3 I can add that sensor to the set of example conversions.

[2019-11-21 14:37] carlescufi commented on #20806
@nordic-krch I think this is fair. We could deprecate the old names and add the new ones and that should be enough.

[2019-11-21 14:37] erwango commented on #18031
@avisconti, can we close this bug ? It is counting in V2.1.0 maturity while it is actually closed on this branch

[2019-11-21 14:42] erwango commented on #16673
@ydamigos, @loicpoulain any of you working on this one?

[2019-11-21 14:46] loicpoulain commented on #16673
@erwango, let me check that.

[2019-11-21 14:50] erwango commented on #20351
@avisconti, I confirm your observation.
What is strange is that we don't even get banner when test is not working.
Though, I don't see link with f2b75fd644c87c6cc266a61865b55205cc13b8b9.

Anyway, this is working, so I don't see reason for keeping it open..
Closing

[2019-11-21 14:50] #20351 closed

[2019-11-21 14:58] erwango commented on #16421
Fixed (#16420 merged). Closing

[2019-11-21 14:58] #16421 closed

[2019-11-21 15:06] erwango commented on #16041
No update, can't be reproduced. Likely fixed by STM32_FLASH_TIMEOUT increased flashed some months ago.
I'm closing the point. Please feel free to re-open if seen again

[2019-11-21 15:06] #16041 closed

[2019-11-21 15:08] erwango commented on #16363
For an unknown reason, this issue appear in list of open low prio bug whil it is closed.
Removing bug labels..

[2019-11-21 15:09] nashif commented on #2144
fixed in #20257

[2019-11-21 15:09] #2144 closed

[2019-11-21 15:11] #2490 closed

[2019-11-21 15:14] erwango commented on #19670
ping @tbursztyka .
Any idea what to do with this sample? @jfischer-phytec-iot propose to remove it purely.
Assigning it to @dleach02 since there is not much I can do more.

[2019-11-21 15:16] erwango commented on #15435
@arewhyan sorry for getting back to you this late on this issue.

Is your question still valid ?

[2019-11-21 15:16] nashif commented on #3124
RTC was deprecated in favor if counter, we have a SAM driver for this.

[2019-11-21 15:16] #3124 closed

[2019-11-21 15:17] nashif commented on #3181
we now have CONFIG_TEST_EXTRA_STACKSIZE

[2019-11-21 15:17] #3181 closed

[2019-11-21 15:31] #17805 closed

[2019-11-21 15:35] nashif commented on #3497
fixed in 71ce8ceb1843f94861c3feebb86761842ca1c531

[2019-11-21 15:35] #3497 closed

[2019-11-21 15:37] nashif commented on #652
sanitycheck --report-excluded does that now.

[2019-11-21 15:37] #652 closed

[2019-11-21 15:39] #20871 closed

[2019-11-21 15:51] jimparis commented on #19700
Hi,
I'm just now getting back from paternity leave and it will be a little while before I can get back up to speed on this project.
Regarding the undocumented `uart_err_check`: that calls `uart_nrfx_err_check`, which will retrieve and clear the `ERRORSRC` field, but that won't clear the NRF_UART_EVENT_ERROR event, so I think the problem remains.

[2019-11-21 16:34] nvlsianpu commented on #16278
I checked that if you selected progressive erase it starts working CONFIG_IMG_ERASE_PROGRESSIVELY=y  (it should work without it as well). @de-nordic I believe you can help us.

[2019-11-21 16:52] erwango opened #20915 "doc: Kconfig section in board_porting.rst should be moved or removed"
**Describe the bug**

An important piece of Kconfig documentation sits under doc/guides/porting/board_porting.rst
Another part of Kconfig doc is in doc/guides/kconfig/index.rst but does not reference the other part.

I think most of Kconfig relative doc in board_porting section should be moved in actual kconfig guide.
Some part might be cleaned as well ('Old Zephyr Kconfig behavior for defaults')

[2019-11-21 17:16] joerchan commented on #20660
@ChristofferSchroeder @wdhpawa Can any of you give the proposed fix a try, see if it solves the issue?

[2019-11-21 17:21] nashif commented on #12653
Already addressed in recent sanitycheck overhall.

[2019-11-21 17:21] #12653 closed

[2019-11-21 17:30] nashif commented on #7375
we are not using codecov anymore, so closing.

[2019-11-21 17:30] #7375 closed

[2019-11-21 17:30] nashif commented on #11501
done already, so closing.

[2019-11-21 17:30] #11501 closed

[2019-11-21 17:31] nashif commented on #17626
We are going to stay with lcov, it does branch coverage, gcovr does not.

[2019-11-21 17:31] #17626 closed

[2019-11-21 18:04] loicpoulain commented on #16673
This specific issue (locked in usb_write loop) should is now fixed, thanks to #18646 (77125eafa9e23fbac78809483be9ece1827e36b5)

[2019-11-21 18:39] erwango commented on #16673
Thanks @loicpoulain !
@KwonTae-young, Can you confirm this is now working on your side?

[2019-11-21 19:19] ulfalizer commented on #20915
Yeah, another iffy thing at the moment is that the Kconfig tips page has turned into a dumping ground for random Kconfig documentation (like documentation for the `kconfigfunctions.py` macros). Might be nice to keep the "generic" Kconfig stuff separate.

[2019-11-21 20:19] mped-oticon commented on #19922
@andrewboie did you manage to look into this? Let me know, otherwise I could give it a shot.

[2019-11-21 20:25] andrewboie commented on #19922
My inclination at this time is to *not* change the semaphore APIs, I am not finding precedent for this in other OSes.

I think you should do this instead.

[2019-11-21 20:54] jhedberg commented on #19922
@andrewboie lack of precedent doesn't seem like a particularly strong argument to me (plus our k_fifo_put_slist API is kind of a precedent since it seems analogous to what's requested here). Do you see any technical reasons why we shouldn't be doing it? A semaphore is essentially a counter, and counting credits is what's needed here. Using a semaphore, but not its counting ability, thereby requiri

[2019-11-21 21:00] andrewboie commented on #19922
It does to me.

We should not be inventing new APIs for traditional operating system APIs when the traditional semantics of OS semaphores have served the world well for many, many, years. It's bad enough that k_sem takes a nonstandard 'limit' parameter.

NACK on changing k_sem, sorry.

[2019-11-21 21:50] nashif commented on #6991
outdated and done already, closing

[2019-11-21 21:50] #6991 closed

[2019-11-21 21:55] psidhu commented on #15435
I literally (yesterday) ran into this as well. Basically, for me, my system runs at 80MHz. I want to run the SPI at 40MHz, but it hangs. What happens is that the gpio speed is too slow in the default pinmux which causes the RXE to never fire (and thus we hang).

Can you change your SCK, MISO, MOSI to the following: (STM32_PINMUX_ALT_FUNC_5 | STM32_PUSHPULL_NOPULL | STM32_OSPEEDR_VERY_HIGH_SPEED)

[2019-11-21 22:29] dleach02 commented on #20870
`
        ssize_t r_len;
436        int rc;
437
438        /* 0 is reserved for reding the length-field only */
439        if (entry_ctx->len != 0) {
440                if (off >= entry_ctx->len) {
441                        *len = 0;
442                        return 0;
443                }
444
445                if ((off + *len) > entry_ctx->len) {
446                        *len = entry_ctx->le

[2019-11-21 22:39] dleach02 commented on #20870
@nashif, Needs to be marked as a false positive in coverity. Although I don't know why it thinks the ssize_t values are unsigned values.

[2019-11-22 00:16] andrewboie commented on #20686
This will GPF if the supplied memory address is unaligned. It's a bit mysterious how this is happening, but the solution for #17893 will fix this.

[2019-11-22 00:19] karl-zh commented on #20021
@carlescufi Hi, could you please give some help on this ticket to further?
Thanks

[2019-11-22 00:20] andrewboie commented on #17893
This is also a problem on x86_64, and happens quite frequently now that I have userspace working on that, blocking the test case..
I'm disabling tests/kernel/threads/dynamic_thread on x86 until this is fixed.

[2019-11-22 01:04] KwonTae-young commented on #16673
@erwango
I checked on the master branch and it works fine.

[2019-11-22 01:54] pabigot commented on #20892
Confirmed: a sleep of 600 s (10:00 m:s) on Nordic nrf52840_pca10056 will not wake until 18:32 m:s external time has passed.  The Zephyr uptime clock will show 600 s elapsed.

The bug is not present on nucleo_l476rg so it's likely to be specific to the Nordic timer infrastructure.

[2019-11-22 02:38] atKeitaroTakahashi commented on #20892
Our application stay completely asleep for the entire 600/1112 second period.

I tried 136 times, problem happened 103 times.
103/136: wake up on 1112 seconds.
33/136: wake up on 600 seconds.

We confirmed it as well.
I was relieved it isn't inherent probrem on our board.

[2019-11-22 03:26] caomufei commented on #17004
excuse me, where can I  download the pkg-config ? I has this problem too!

[2019-11-22 04:05] dleach02 commented on #20835
[code]

[2019-11-22 04:28] pabigot commented on #20835
The code is not dead in cases where devicetree properties provide an enter delay or wakeup delay that's subtracted from the elapsed delay, potentially resulting a negative time-to-delay.

FWIW: Coverity won't let me commit the description so this will probably show up again.

[2019-11-22 04:43] andrewboie opened #20925 "tests/kernel/fp_sharing/float_disable crashes on qemu_x86 with CONFIG_KPTI=n"
**Describe the bug**
If we force kernel page table isolation to be off, I'm observing a crash in this test:

[code]

The crash is in arch_swap(). Note the zeroed ESP.

**To Reproduce**
Force KPTI to be disabled. This is a little difficult because this is a hidden config that gets selected by other stuff, you can rename `X86_KPTI` in `arch/x86/core/Kconfig.ia32` to something else to force it.

Then

[2019-11-22 04:46] dleach02 commented on #20869
I believe this is another case of mixing 32bit with 64bit architectures and Coverity getting confused. The complaint is in the called routine where there is a memset() of the structure in question using the sizeof(structure)... don't see how that is a problem unless you take into account that a 64bit architecture will use a different alignment of the fields in the structure and the pointer field i

[2019-11-22 05:20] dleach02 commented on #20496
Not sure why the test is looking for < UINT8_MAX? Seems like the code was attempting to ensure that the access doesn't go past the end of the max_freq_high_on_div[] array so do a test against ARRAY_SIZE(max_freq_low_on_div)

[2019-11-22 06:48] andrewboie opened #20926 "ztest_1cpu_user_unit_test() doesn"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your prog

[2019-11-22 06:53] #20926 closed

[2019-11-22 06:53] andrewboie opened #20927 "ztest_1cpu_user_unit_test() doesn't work"
This user mode variant simply results in a crash:

[code]

What's happening is that the ztest_thread, running in *user* mode, is trying to run the functions in z_test_1cpu_start(). There are several issues; some relate to memory/kernel object access permissions which could be fixed, but then it tries to start a high-priority supervisor thread (which is impossible, user threads cannot create superv

[2019-11-22 06:56] andrewboie commented on #20927
To reproduce: clone this branch https://github.com/andrewboie/zephyr/tree/x86-64-wip and then run any test that uses ztest_1cpu_user_unit_test such as tests/kernel/semaphore/semaphore

[2019-11-22 07:34] KAGA164 commented on #20800
It seems like after I rebase on on newer revision of the Zephyr. I can wake up thread from IRQ. I will do a few short tests to be sure.

[2019-11-22 07:43] ioannisg commented on #20800
Thanks @KAGA164 , this is blocking the release right now, so it's great if this report is a false positive, and we can get rid of it today.

[2019-11-22 07:43] erwango commented on #20915
I'd say: better to put everything in one place (`guides/Kconfig`) but make use of different pages  (General, tips, scripts, ..)

[2019-11-22 07:44] ppryga opened #20930 "Linking static library with use of zephyr_link_libraries(${PATH}) may end with undefined reference error"
**Describe the bug**
If one wants to add static library to be linked with Zephyrs application, she may use one of two following functions provided by Zephyrs cmake environment:
1. zephyr_link_libraries
2. zephyr_library_link_libraries

Use of first one may end with undefined reference error.
In case of use of zephyr_link_libraries, an added library is appended to list of zephyr.elf dependencies (p

[2019-11-22 07:44] jhedberg opened #20931 "intel_s1000_crb samples can't be built with latest master"
**Describe the bug**
Building the intel_s1000_crb samples fail with the latest master using the xcc toolchain (the only toolchain that's supported for this board and these samples). Building works fine with the Zephyr 2.0 release. I tried bisecting but it seems the build has broken multiple times since 2.0 in different ways. This is not really a new thing (I've filed similar bugs in the past), and

[2019-11-22 07:44] erwango commented on #16673
Thanks @KwonTae-young. Closing the point.
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/18646

[2019-11-22 07:44] #16673 closed

[2019-11-22 08:13] erwango commented on #15435
@psidhu, thanks for the input!

This looks like what was done on F4 some time ago. At that time we thought it was a F4 limitation.
Though, changing SCK speed to vey high was sufficient. Can you try with only this change ?

[2019-11-22 08:23] jfischer-phytec-iot commented on #19763
Lower the priority, it is _just_ a parameter check, will take a look at it next days.

[2019-11-22 08:28] nvlsianpu commented on #20870
confirm, it is false-positive.

[2019-11-22 08:57] #20707 closed

[2019-11-22 09:04] KAGA164 commented on #20800
@ioannisg I ran the very similar test as above and also my app I do no have this problem anymore so I close this issue

[2019-11-22 09:04] #20800 closed

[2019-11-22 09:25] LuoZhongYao commented on #8379
Is there a document on how to use the out-of-tree driver.

[2019-11-22 09:27] aescolar commented on #20930
@SebastianBoe

[2019-11-22 09:38] aescolar commented on #20915
I reclassify this as an enhancement, as it is a request for an improvement to the documentation usability, independently of how welcome it may be, and not a bug that prevents using the system or a reason to gate releases.

[2019-11-22 09:57] wdhpawa commented on #20660
Thanks @joerchan. @ChristofferSchroeder will give the fix a try.

[2019-11-22 10:00] avisconti opened #20933 "x_nucleo_iks01a3 shield: STM LSM6DSO sensor does not work after h/w or s/w reset"
LSM6DSO sensor on x_nucleo_iks01a3 shield does not work anymore after reset.

Steps to reproduce the behavior:
Plug the x_nucleo_iks01a3 shield on an arduino compatible board (e.g. nucleo_f401re).

Then:
1. cd .../zephyrproject/zephyr/samples/shields/x_nucleo_iks01a3/standard/
2. mkdir build && cd build
3. cmake -DBOARD=nucleo_f401re ..
4. make
5. see error on console output::

    ***** Booting Z

[2019-11-22 10:00] avisconti commented on #20933
Fixed by #20913

[2019-11-22 10:02] SebastianBoe commented on #8379
Not really.

To do this you need to use two things, the zephyr_library API, and the ZEPHYR_EXTRA_MODULES feature.

The zephyr_library API I assume is familiar. ZEPHYR_EXTRA_MODULES is documented here:

https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/zephyr/guides/modules.html

[2019-11-22 10:28] Mierunski commented on #19700
Right, my bad, looked too fast at this one. Proposed solution is good, created a PR to fix that before release.

[2019-11-22 10:29] ioannisg opened #20936 "tests/kernel/mem_protect/protection fails on ARMv8-M"
**Describe the bug**
tests/kernel/mem_protect/protection fails on ARMv8-M platforms

**To Reproduce**
Steps to reproduce the behavior:
build and run tests/kernel/mem_protect/protection on current master on mps2_an521

**Expected behavior**
The test should pass

**Impact**
Breaking CI if, eventulally, mps2_an521 is tested in all runs.

**Screenshots or console output**
[code]
**Additional context**

[2019-11-22 10:34] ioannisg commented on #20936
Just opened this issue to track the bug fix that has already been submitted in a PR

[2019-11-22 10:37] #20936 closed

[2019-11-22 10:47] rossburton commented on #17004
@caomufei your distribution will have a package for this.

[2019-11-22 10:54] SebastianBoe commented on #20930
When using zephyr_link_libraries to add a library to the link command every library that it depends on must be listed after it. Like we do here:

https://github.com/zephyrproject-rtos/zephyr/blob/master/lib/libc/newlib/CMakeLists.txt#L39

If for some reason this is not acceptable the user can insert the library into the whole-archive group using the 'zephyr_library_import' API.

[2019-11-22 11:02] ppryga commented on #20930
Ok, if that is expected behavior then it shoudl be somwhere documented. I did not spot that information anywhere. Also I suggest to move common libraries like gcc to the end of linkage list to avoid re-linking the same library multiple times.

[2019-11-22 11:12] nvlsianpu commented on #16035
Both me and @anangl can't help with the ticket right now (even don't have appropriate HW around my desk).

[2019-11-22 11:12] SebastianBoe commented on #20930
I believe this is impossible unfortunately, but if someone were to figure out how to do so then this patch would be welcome.

A contribution to the documentation would be welcome.

[2019-11-22 11:12] SebastianBoe commented on #20930
Re-categorizing this as an enhancement to documentation.

[2019-11-22 11:54] carlescufi commented on #20021
@karl-zh https://github.com/zephyrproject-rtos/trusted-firmware-m

[2019-11-22 12:21] carlescufi commented on #20892
@nordic-krch can you check if this can be something related to our system timer driver?

[2019-11-22 12:25] nvlsianpu commented on #16278
@carlescufi ^^ this is under investigation by @de-nordic. Let's wait till Monday for more results.

[2019-11-22 12:31] nordic-krch commented on #20892
i will try to investigate

[2019-11-22 13:00] pabigot commented on #20892
I'm on this.  I know what the problem is, and it probably applies to other boards.

[2019-11-22 13:01] nordic-krch commented on #20892
ok

[2019-11-22 13:02] chrta commented on #17626
@nashif gcovr also supports some kind of branch coverage or is this not what is needed?
https://gcovr.com/en/stable/guide.html#tabular-output-of-branch-coverage

[2019-11-22 14:15] carlescufi opened #20938 "ATT/L2CAP "deadlock""
To reproduce:

Pull this branch: https://github.com/carlescufi/zephyr/tree/gh-20938
EDIT: https://github.com/carlescufi/zephyr/tree/gh-20938-rev2 contains the patches from #20951

Build `samples/bluetooth/peripheral` and flash to an nRF52840 DK
Build `samples/bluetooth/central_hr` and flash to an nRF52840 DK
Examine the console output in the peripheral

Context: Modified sample app that is sending

[2019-11-22 14:23] pabigot opened #20939 "long duration timeouts can cause loss of time"
Multiple timer drivers work by recording a counter value at the point ticks were last announced, and tracking elapsed time since that event to get the current time.  Deadlines for new events are calculated by adding the requested duration to the elapsed time and setting a compare event at the last announce time plus this offset.  (With rounding/conversion from ticks to cycles.)

Several driver imp

[2019-11-22 14:25] rolandma commented on #6439
Hello, I'm using the zephyr-sdk-0.10.3 and I can't build the "hello-world" with esp32 board. The error is the same as the original posted.
Thanks.

[2019-11-22 14:38] dleach02 commented on #20931
is there an issue with adding this toolchain to the SDK and enabling CI on this platform?

[2019-11-22 14:40] #20933 closed

[2019-11-22 14:59] #20867 closed

[2019-11-22 14:59] #20866 closed

[2019-11-22 15:01] #20540 closed

[2019-11-22 15:54] henrikbrixandersen commented on #18885
I suggest moving this to v2.2.

[2019-11-22 16:13] erwango commented on #20068
@jmbrederveld, thanks  for these indications, I've managed to reproduce the issue and found a fix.

Issue lies in `boards/arm/nucleo_f091rc/Kconfig.defconfig` where USART_1 (or X depending on your configuration) is not enabled if UART is enabled

The following fixed the issue on my side:
[code]

While fixing the bug is easy, we'd need a way not to enter this kind of issue or detect it easily.
I'll

[2019-11-22 16:15] barsok commented on #16035
Neither do I.   "CS inhibited" is the result of a wrong (or missing) gpio configuration  that is external to the SPI driver. I would opt for removing "platform: nrf" from the ticket and checking the context given to transceive() function call.

[2019-11-22 16:47] dleach02 commented on #20835
@pabigot, before quickly closing this bug we should get some consensus. The code can clearly be dead code with the right configurations and how ever the code base was submitted to coverity it was detected as dead code. My PR should address this for compile configurations that cause this code to be dead.

Further, the detection of dead code is in coverity because there is a misra required rule that

[2019-11-22 17:12] psidhu commented on #15435
@erwango I originally made the rest very high because I figured if it's too slow for the clock, at least MOSI would be too slow to transition as well.

I did what you suggested, but communications fail as I thought they would (at least at 40MHz SPI), but no hang. However, like I thought, setting very high for only SCK and MOSI works for both issues.

I also had to make sure that SCK was pulled up

[2019-11-22 17:34] pabigot commented on #20835
@dleach02 I have no objections to leaving this issue open until consensus is reached.  Here's my perspective:

I was assigned this issue, so I looked into it and determined that it was a bogus result because Coverity wasn't invoked with the flags that would have reached the code.  I tried to resolve it with Coverity triage following existing Zephyr practice, but found I didn't have the permissions

[2019-11-22 17:47] dleach02 commented on #20835
I understand that you didn't like the PR. I suspect the easy thing would have been to just comment on the PR the change that would have been acceptable since you are suggesting there would have been a change if you had the rights to modify my PR. I can make the change and update the PR to get your acceptance if that is an option.

Note that the "ugliness" started with the fact that there are alrea

[2019-11-22 17:53] dcpleung commented on #20931
Logs?

[2019-11-22 17:54] pabigot commented on #20835
If we impose this policy and do *not* make a concerted effort to review existing dispositions then we're checking policy boxes rather than following the spirit and intent of the policy.

It's a poor use of both your time and mine for me to explain and justify what I would want an alternative approach to look like, then for you to implement it.  When I've addressed the critical timer failures and p

[2019-11-22 17:57] dleach02 commented on #20835
I agree it is not a functional risk. I believe the current criteria of the script being run is to create issues as medium priority except for items found in tests and samples (which get low). After triage, the priority can be adjusted up/down or the issue closed.

I believe we are at least in agreement that this is a lower priority item so I will lower it.

[2019-11-22 18:04] jhedberg commented on #20931
@dcpleung are you having trouble reproducing? I didn't provide logs since I got different errors in different places of the commit timeline between 2.0 and latest master. It should be super simple to reproduce though.

[2019-11-22 18:05] jhedberg commented on #20931
@dcpleung btw, even though I assigned this to you (since you're in CODEOWNERS for xtensa boards) we might end up reassigning this to some build-system person - at least that's what happened last time when similar breakage happened.

[2019-11-22 18:07] dcpleung commented on #20931
XCC no longer runs on any of my machines, as it keeps segfaulting. Having logs from you will give me some time to think about it while I setup a VM with older distro to try.

[2019-11-22 18:37] dcpleung commented on #20931
XCC is locked to the ethernet MAC address so it would be problematic to enable it on shippable. However, we have a GCC toolchain for that SoC in SDK v0.11. When we move to the new SDK, we can have CI building the code.

[2019-11-22 19:04] jhedberg commented on #20931
That'd be a nice improvement, but it still won't prevent breakage with xcc though, and there will be people needing & using xcc over gcc even when the latter is available.

[2019-11-22 19:15] jhedberg commented on #20931
With current master I get this:
[code]
in CMakeError.log I see this at the end:
[code]

Starting a `git bisect` operation fails on the first commit somewhere between 2.0 and master with this:
[code]

[2019-11-22 19:46] jimparis commented on #19700
PR looks good to me, thanks

[2019-11-22 21:09] andrewboie commented on #19643
@vonhust this is **breaking** sanitycheck runs.
If you don't want this treated as a bug, get it out of the sanitycheck builds.

[2019-11-22 21:09] andrewboie opened #20945 "samples/synchronization fails on nsim_hs_smp and nsim_sem_normal"
Expected output:

[code]

On nsim_hs_smp there is no output.
On nsim_sem_normal, it prints this and hangs:

[code]

nSIM, Version: 2017.09 (Build: 011_FREE)

[2019-11-23 01:27] LuoZhongYao commented on #8379
The tree-out driver can be compiled with ZEPHYR_EXTRA_MODULES, but Kconfig is a separate menu that can put Kconfig outside the tree in the same position as the tree.
E.g:
The GPIO driver Kconfig is in app/drivers/gpio/Kconfig.foo, the option is in menuconfig -> Device Drivers -> FOO GPIO Driver
The out-of-tree driver has the same structure as the tree, and it is more convenient to merge the tree d

[2019-11-23 06:55] nvlsianpu commented on #18341
fixed by #18341

[2019-11-23 06:55] #18341 closed

[2019-11-23 19:08] jli157 opened #20953 "usb: nrf: usb on reel board becomes unavailable if USB cable is not connected at first"
**Describe the bug**
Running the sample samples/subsys/hid on reel_board(v1507.1), based on the master branch (head is 7aa2355af2d8b735351c5def9495e40e453c749b).  At the beginning, the USB cable is not connected to the nRF USB port.

After booting up, endless messages come like below, and the USB can't be enumerated after plugging in the USB cable.

[code]

**To Reproduce**
Steps to reproduce the

[2019-11-24 12:40] nashif commented on #17626
sorry, I meant to say function coverage. gcovr does not support this as of now: https://github.com/gcovr/gcovr/issues/325

[2019-11-24 22:19] pabigot commented on #18970
I've integrated the discussion so far into [this document](https://github.com/pabigot/zephyr/blob/api/terms/doc/api18970.md) which is available for review through #20959 so people can comment on specific concerns in context.  I think that'll be a bit more convenient then chained comments on this issue.

No.  The operation of yielding is something that directly affects threads.  The impact on funct

[2019-11-25 00:35] dferbas opened #20960 "eth_mcux.c: Is there a reason for 2 memcpys and a shared buffer for ethernet Tx and Rx?"
Platform Kinetis MK64, we use MK64FN1M0VLL12 package on our board.

The eth_mcux.c driver is using context->frame_buf to pass data from / to user buffer to / from driver buffers. For both directions, there are memcpys.
Moreover, the context->frame_buf is used both for Tx and Rx and thus protected with irq_lock, I think this reduces performance, which we observe.

In the eth_rx(), there is net_pkt_

[2019-11-25 04:41] nashif commented on #20870
@dleach02  Please do not remove the bug label, if it is not a bug, then close it.

[2019-11-25 04:42] nashif commented on #20869
Please do not remove bug label, if this is not a bug, then it should be closed.

[2019-11-25 04:46] zephyrbot opened #20962 "[Coverity CID :206022] Out-of-bounds read in drivers/ipm/ipm_nrfx_ipc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/7aa2355af2d8b735351c5def9495e40e453c749b/drivers/ipm/ipm_nrfx_ipc.c#L129

Category: Memory - illegal accesses
Function: `vipm_dispatcher`
Component: Drivers
CID: [206022](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206022)

Details:

[code]

Please fix or provide comments in coverity u

[2019-11-25 04:47] zephyrbot opened #20963 "[Coverity CID :206021] Side effect in assertion in tests/kernel/sched/metairq/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/7aa2355af2d8b735351c5def9495e40e453c749b/tests/kernel/sched/metairq/src/main.c#L98

Category: Incorrect expression
Function: `coop_thread2`
Component: Tests
CID: [206021](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206021)

Details:

[code]

Please fix or provide comments in coverity u

[2019-11-25 04:47] zephyrbot opened #20964 "[Coverity CID :206020] Bad bit shift operation in drivers/ipm/ipm_nrfx_ipc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/7aa2355af2d8b735351c5def9495e40e453c749b/drivers/ipm/ipm_nrfx_ipc.c#L127

Category: Integer handling issues
Function: `vipm_dispatcher`
Component: Drivers
CID: [206020](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206020)

Details:

[code]

Please fix or provide comments in coverity usi

[2019-11-25 04:47] zephyrbot opened #20965 "[Coverity CID :206019] Side effect in assertion in tests/kernel/sched/metairq/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/7aa2355af2d8b735351c5def9495e40e453c749b/tests/kernel/sched/metairq/src/main.c#L96

Category: Incorrect expression
Function: `coop_thread2`
Component: Tests
CID: [206019](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206019)

Details:

[code]

Please fix or provide comments in coverity u

[2019-11-25 04:47] zephyrbot opened #20966 "[Coverity CID :206018] Side effect in assertion in tests/kernel/sched/metairq/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/7aa2355af2d8b735351c5def9495e40e453c749b/tests/kernel/sched/metairq/src/main.c#L75

Category: Incorrect expression
Function: `coop_thread1`
Component: Tests
CID: [206018](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206018)

Details:

[code]

Please fix or provide comments in coverity u

[2019-11-25 04:47] zephyrbot opened #20967 "[Coverity CID :206017] Out-of-bounds read in drivers/ipm/ipm_nrfx_ipc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/7aa2355af2d8b735351c5def9495e40e453c749b/drivers/ipm/ipm_nrfx_ipc.c#L129

Category: Memory - illegal accesses
Function: `vipm_dispatcher`
Component: Drivers
CID: [206017](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206017)

Details:

[code]

Please fix or provide comments in coverity u

[2019-11-25 04:47] zephyrbot opened #20968 "[Coverity CID :206016] Side effect in assertion in tests/kernel/sched/metairq/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/7aa2355af2d8b735351c5def9495e40e453c749b/tests/kernel/sched/metairq/src/main.c#L73

Category: Incorrect expression
Function: `coop_thread1`
Component: Tests
CID: [206016](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206016)

Details:

[code]

Please fix or provide comments in coverity u

[2019-11-25 07:27] LingoMeng commented on #20746
+70516 ms
Verdict Description:     Send Friend Poll. Friend Sequence Number = 1

+70532 ms
Send Event:              HCI!HCI_LE_SET_ADVERTISING_DATA{
                           advertisingDataLength=0x15,
                           advertisingData=0x142A633A636838138218FDA9B2992B453E26792E49000000000000000000
                         }

+70532 ms
Receive Event:           HCI?HCI_LE_SET_ADVERTISING_

[2019-11-25 08:15] tluio opened #20969 "No SOURCES given to target: drivers__gpio"
Hello!
I'm new in zephyr. I did as Getting Started Guide, but when I ran 'west build -p auto -b qemu_x86  samples/basic/blinky', I got an error:
`CMake Error at ../../../cmake/extensions.cmake:372 (add_library):
  No SOURCES given to target: drivers__gpio
Call Stack (most recent call first):
  ../../../cmake/extensions.cmake:349 (zephyr_library_named)
  ../../../drivers/gpio/CMakeLists.txt:3 (zeph

[2019-11-25 08:41] tbursztyka commented on #20960
Look at line 94, it seems to be a known issue.
The hardware can do scatter-gather DMA but not the mcux hal, something like that?
Unless the driver is misusing the mcux hal. Which is likely to be the issue is seems.
I don't think you need any net_pkt api changes for this.

[2019-11-25 10:17] Campou opened #20970 "Bluetooth: Mesh: seg_tx_reset in the transport layer"
In the function `seg_tx_reset()`, before trying to do `net_buf_unref()` with the adv buf, do we need to set the `busy` flag to `0U`, in cast the adv buf has already been put in the mesh adv_queue?
Thanks.

[2019-11-25 10:29] jfischer-phytec-iot commented on #20969
Hi, I suggest to use real hardware instead, or which LED should blink? Please take a look at this https://docs.zephyrproject.org/latest/guides/getting-help.html?highlight=slack.

[2019-11-25 10:29] #20969 closed

[2019-11-25 10:42] pabigot commented on #20939
Here's the deep analysis for the problem.  The background is for Nordic; the problem is cross-platform.

## Background

The Nordic timer infrastructure uses a 24-bit cycle counter that increments at 32 KiHz.  The counter has a compare interrupt; when the interrupt fires the difference in ticks between the previous fire and the current fire is added to a counter and the ticks are announced.

The im

[2019-11-25 10:42] jfischer-phytec-iot commented on #20953
It is the same hardware issue as #11171.

[2019-11-25 11:35] dferbas commented on #20960
I really apologize, I am new to Zephyr and I did not check buffer declaration, only comments in code.

I am in a position whether to move to Zephyr or not. I think Zephyr has future, but now we are unable to fulfill reliable data delivery, socket options for outgoing buffer to collect line data are missing, there are unexpected ARP packets being sent.

In the past, we spent some time with Coldfire

[2019-11-25 11:55] karl-zh commented on #20021
Hi
@carlescufi
TFM build needs include other projects, shall we add 3 more projects in zephyr as it's modules?
The projects details:
https://git.trustedfirmware.org/trusted-firmware-m.git/tree/docs/user_guides/tfm_build_instruction.rst#n90

[2019-11-25 12:17] carlescufi commented on #20021
Well we already have mbedtls, is it possible to use the one we currently have? The two others are going to have to be dependencies, yes. That said this is getting into an area we haven't touched before, so can you please raise this as a TSC meeting topic for this week?

[2019-11-25 12:18] pabigot opened #20974 "file resources exceeded with sanitycheck"
When running sanitycheck with device testing (8 devices connected) on `tests/kernel` I've gotten this diagnostic repeating in bursts:

[code]

Re-invoking with `ulimit -n 4096` (to increase the number of open files from 1024 to 4096) I instead get this diagnostic:
[code]

The error becomes visible near the end of the run, where the test failures clump up.  This suggests that the problem is with no

[2019-11-25 12:38] jukkar commented on #20245
Closing as we do not support 1.11 any longer.

[2019-11-25 12:38] #20245 closed

[2019-11-25 13:23] aescolar commented on #20968
@andyross @andrewboie Are you ok with marking these 4 as false positives?

https://github.com/zephyrproject-rtos/zephyr/issues/20968
https://github.com/zephyrproject-rtos/zephyr/issues/20966
https://github.com/zephyrproject-rtos/zephyr/issues/20965
https://github.com/zephyrproject-rtos/zephyr/issues/20963

Or would you prefer some fix like reading the values into a stack variable first?

[2019-11-25 13:25] aescolar commented on #20970
CC @trond-snekvik @jhedberg

[2019-11-25 13:37] nashif commented on #20931
not fully fixed yet

[2019-11-25 13:43] nordic-krch commented on #20939
@pabigot thanks a lot for your explanation, now i understand the issue.

[2019-11-25 13:56] dleach02 commented on #20869
Okay. I have not been in the habit of closing these bugs. I think it would be appropriate to debug the process in which we submit projects to coverity because this is the fourth such item where it appears there is a mixing of architectures that is confusing coverity.

[2019-11-25 13:58] jhedberg commented on #20970
@Campou yes, I think that makes sense. It seems analogous to what we do in `friend_clear()` in `friend.c`. Do you want to try submitting a PR for it?

[2019-11-25 13:58] mfiumara opened #20978 "Add bond_deleted callback"
**Is your feature request related to a problem? Please describe.**
In order to keep track of bonds in an application, a `bond_deleted` callback needs to be added to Zephyr. Currently there is no way for an application to know when a bond has been removed, except for using the `bt_foreach_bond()` API. Even then it is unclear when to call this API.

**Describe the solution you'd like**
In case the s

[2019-11-25 13:59] ChristofferSchroeder commented on #20660
@joerchan Sorry for the long wait. Most of my tests failed on Friday which luckily turned out to be other reasons than your change. I have been running tests for some hours today and they are passing with no incidents. So it looks like your change fixes the issue :)

[2019-11-25 14:03] dleach02 commented on #20870
@nashif, it is not a bug. But since we don't have a clear way to feed this information back to coverity I did not want to close this issue until we could potentially actually debug our coverity process. In the future, I will only move the priority level to ensure this doesn't become a release blocker.

[2019-11-25 14:56] rolandma opened #20980 "ESP32 flash error with segment count error using esptool.py from esp-idf"
After successfully build a project for ESP32, when running for west flash, there's an error:
west flash -d build/ --skip-rebuild --esp-device /dev/ttyS0
-- west flash: using runner esp32
-- runners.esp32: Converting ELF to BIN
esptool.py v2.9-dev

A fatal error occurred: Invalid segment count 17 (max 16). Usually this indicates a linker script problem.
ERROR: command exited with status 2: /usr/bin

[2019-11-25 15:24] paulgavrikov opened #20981 "mempool: MPU fault"
**Describe the bug**
There seems to be a bug in mempools bfree_recombine. Commit 1b193e9ece638c0c6f144ce2bee96f1ff268a160 changed `partner_alloc_bits(p, level, bn) != 0xf` to `partner_alloc_bits(p, level, bn) != 0` which results in the following MPU faults in our application:

**To Reproduce**
Unfortunately I cannot pinpoint the error source in our app to provide a minimal sample.

**Expected beha

[2019-11-25 16:03] jli157 commented on #20953
I would argue this issue is different from the issue #11171 in that the USB stack here can't be recovered even though the USB cable is connected later, resulting in unavailability of USB functionality unless rebooting the system.  It is obvious that USBD event queue is full and seems the action of clearing event queue doesn't work well at that moment.

@finikorg Do you think the issue reported her

[2019-11-25 16:07] carlescufi commented on #20981
@paulgavrikov please add as much info as you can about how you are defining and using the mempool.

[2019-11-25 16:13] stephanosio commented on #20981
If the mempool struct is, for whatever reason, not located in bss, the following change will likely cause a failure: https://github.com/zephyrproject-rtos/zephyr/commit/1b193e9ece638c0c6f144ce2bee96f1ff268a160#diff-e1987e8f6f4f53b4771db2f818b192f4L97.

Try adding `clear_alloc_bit(p, 0, i);` there and see if doing so resolves the issue; if it does, your mempool struct probably is not located in bss

[2019-11-25 16:14] d3zd3z commented on #19851
One issue we are finding with MCUboot is that some devices are fairly large, and have small erase sectors (say 2MB, with 512 byte sectors). Currently, we build a data structure with one element for each sector. It would actually be handy for us to be able to detect devices that have sectors of the same size (or be configurable at compile time).

I suppose it would still be the correct answer, thou

[2019-11-25 16:21] #20660 closed

[2019-11-25 16:32] andyross commented on #20981
If that's true, then we have a bug somewhere underneath sys_mem_pool_init().  Obviously it shouldn't be leaving the heap in an inconsistent state.

[2019-11-25 18:55] sslupsky commented on #13151
See my comments PR #20740  and the documentation about flash partitions here https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/guides/dts/flash_partitions.inc

The Adafruit board dts is correct.  What is missing is the defconfig should include

```CONFIG_USE_CODE_PARTITION=y```

[2019-11-25 18:59] sslupsky commented on #16052
see #20740

[2019-11-25 19:27] mbolivar commented on #20806
Renaming them is breaking API. Why not add new names instead?

[2019-11-25 19:39] pabigot commented on #20806
I would expect "renaming" to mean create the new ones, and implement the old ones in terms of the new ones, as suggested by @carlescufi.

FWIW I'm drafting a generic implementation for reference-counted require/release management with synchronous and asynchronous support that I hope can simply be used by whatever modules require it, including the device power management infrastructure.  Early days

[2019-11-25 19:41] mbolivar commented on #20806
That would be very nice indeed!

FWIW, I'm partial to `_get` and `_put` for such things. Nice and terse.

[2019-11-25 19:46] sandeepbrcm commented on #11172
@carlocaione  we did not see your PR before and have got a minimal aarch64 port functional on Broadcom SoC with Cortex-A72 with cooperative scheduling.
https://github.com/Broadcom/zephyr/tree/arm64_support

We want to discuss few topics on the arch port.

 1. Context switching
    Why use SVC for context switching in Cortex-A. And PendSV is also confusing to use
    in cortex A and R while it has

[2019-11-25 20:54] rolandma commented on #20980
Okay, by changing the esptool.py segments >17 will fix the flashing error, but seems to me the code didn't really run.
    def verify(self):
        if len(self.segments) > 17:
            raise FatalError('Invalid segment count %d (max 16). Usually this indicates a linker script problem.' % len(self.segments))

[2019-11-25 21:21] npitre commented on #20981
On Mon, 25 Nov 2019, Stephanos Ioannidis wrote:

That's not sufficient for that conclusion.  Adding `clear_alloc_bit(p,
0, i)` is no longer an equivalent replacement of the former
`set_free_bit(p, 0, i)` here.

Instead, the following should be attempted:

[code]

[2019-11-25 21:50] #20963 closed

[2019-11-25 21:50] #20965 closed

[2019-11-25 21:50] #20966 closed

[2019-11-25 21:50] #20968 closed

[2019-11-25 21:54] ulfalizer commented on #20915
Working on this now.

[2019-11-26 00:12] #20033 closed

[2019-11-26 02:21] stephanosio commented on #11172
"PendSV" nomenclature does need to be changed- this can be misleading as PendSV is a Cortex-M-specific feature and does not exist in Cortex-A (the only reason Cortex-R kept "pendsv" is that it is trying to share code with Cortex-M).

As for using SVC in terms of context switching, it should only be invoked when `arch_swap` is called from "user mode"; otherwise, context switching routine is execute

[2019-11-26 03:07] sslupsky opened #20987 "Console showing frequent usb warnings: <wrn> usb_device: Failed to write endpoint buffer 0x82"
**Describe the bug**
Build the blinky application with usb console and shell.  When there is shell activity, there are frequent console warnings:
[code]
I have also noticed occasional dropped characters in the output stream.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b adafruit_feather_m0_basic_proto
2. boot board and connect terminal (I am using screen -L /dev/cu.us

[2019-11-26 07:11] #20297 closed

[2019-11-26 07:53] jukkar commented on #20513
False positive.

[2019-11-26 07:53] #20513 closed

[2019-11-26 08:01] #19700 closed

[2019-11-26 08:08] jukkar commented on #20865
Duplicate of #20899

[2019-11-26 08:08] #20865 closed

[2019-11-26 08:12] jukkar commented on #20850
False positive.

[2019-11-26 08:12] #20850 closed

[2019-11-26 08:13] jukkar commented on #20864
False positive.

[2019-11-26 08:13] #20864 closed

[2019-11-26 08:14] finikorg commented on #20953
@jli157 In my case the USB was recoverable after I plug the cable, but it may still be the same issue.

[2019-11-26 08:15] jukkar commented on #20846
False positive

[2019-11-26 08:15] #20846 closed

[2019-11-26 08:16] jukkar commented on #20845
False positive.

[2019-11-26 08:16] #20845 closed

[2019-11-26 08:20] FRASTM opened #20991 "test_timer_duration_period fails with stm32 lptimer"
When the LPTIMER is enabled, the kernel test timer/timer_api fails in the
"test_timer_duration_period: tdata.expire_cnt == 4 is false"

**To Reproduce**
Steps to reproduce the behavior:

1. Enable the LPTIMER in the proj.conf :
CONFIG_STM32_LPTIM_TIMER=y
CONFIG_STM32_LPTIM_CLOCK_LSE=y
2. mkdir build; cd build
3. cmake -DBOARD=board\nucleo_l4r5zi
4. make
5. See error
"Assertion failed at ZEPHYR_BAS

[2019-11-26 08:21] jukkar commented on #20355
Sorry for late reply, just returned from vacation.

This could be stack size issue, can you try to increase the size of the networking thread stacks, the relevant options are:
CONFIG_NET_TX_STACK_SIZE (default value is 1200)
CONFIG_NET_RX_STACK_SIZE (default value is 1500)

[2019-11-26 08:25] jukkar commented on #20536
False positive.

[2019-11-26 08:25] #20536 closed

[2019-11-26 08:26] tbursztyka commented on #20960
You cannot do that, buf.data might be of any size (it's a Kconfig based configurable option). So if frame_length is bigger, it will overflow.

I don't know if you can call ENET_ReadFrame() as many times as possible to get the whole frame, but if so, you'll have to loop over it like that perhaps:

[code]
So you could remove the lines 611 also.
And no need of any local buffer. At least for receiving

[2019-11-26 08:27] jukkar commented on #20537
False positive

[2019-11-26 08:27] #20537 closed

[2019-11-26 08:27] tbursztyka commented on #20960
Please create issues for both, that would be of great help to improve the stack.

[2019-11-26 08:28] jukkar commented on #20538
False positive

[2019-11-26 08:28] #20538 closed

[2019-11-26 08:54] nordic-krch opened #20993 "spinlock APIs need documentation"
**Describe the bug**
When using spin lock in a following code:

[code]
I'm hitting assert in `z_spin_lock_valid`.
https://github.com/zephyrproject-rtos/zephyr/blob/21e0d4875045a5f26812f34eb9c230398914fd23/include/spinlock.h#L79

`k_spin_lock` is validating lock structure which might not be initialize and validation includes checking one of the fields of uninitialized structure. I'm not sure then i

[2019-11-26 09:01] vikrant8051 commented on #20771
@drewmlsuvo Hope issue has solved. If so kindly close it.

[2019-11-26 09:05] carlocaione commented on #11172
This is really cool, looking forward to your review and comments on my PR then.

While agree that the naming could be misleading using SVC for the context switch also simplify a bit the code when introducing the preemptive context switching. In latter case the task swapping is performed in the ISR so you can partially reuse the entry/exit code (`eret` & co) for the ISR and the SVC call.

Expanding

[2019-11-26 09:15] jfischer-phytec-iot commented on #20987
@sslupsky Please provide information how to reproduce with an in-tree sample or a diff with your changes in `samples/basic/blinky`(?).

[2019-11-26 09:32] de-nordic commented on #16278
When shell is enabled, shell based mcumgr shall work correctly. Both should work correctly, but not at the same time, which is not problem with Zephyr but the problem comes from the fact that UART does have one buffer on host side, your PC side, which means that if you have terminal connected to uart and  run mcumgr at the same time, then it is up to scheduling which process will collect data from

[2019-11-26 09:33] Campou commented on #20970
@jhedberg Thanks, i will submit a PR for this.

[2019-11-26 09:40] paulgavrikov commented on #20981
@npitre Applying the diff does not fix the issue.
@stephanosio I did a git bisect and it is definitely that commit and particularly the `partner_alloc_bits(p, level, bn) != 0` check that causes the issue.
@carlescufi We are not defining our own mempools but we are using the heap through k_malloc and define threads, FIFOs.

[2019-11-26 10:01] drewmlsuvo commented on #20771
Thanks for your help, I managed to get it working last night.

[2019-11-26 10:01] #20771 closed

[2019-11-26 10:22] INemesisI commented on #20770
Thanks for working so quickly on this issue @nordic-krch!

I also want to point out that interrupt locking is not just happening in immediate mode.
Interrupts are also briefly locked in threaded mode when adding/removing elements from the list of logs.
To me those operations sound like a case which is usually handled by semaphores. But again, I am not the expert here!

[2019-11-26 10:50] nordic-krch commented on #20770
@INemesisI we cannot use semaphores because logs can be used in interrupt context.

[2019-11-26 11:17] Oanerer commented on #20960
I think I may have seen a similar issue! Below a repost of my message on Slack in #networking:

[2019-11-26 12:17] jhedberg opened #21000 "Bluetooth: L2CAP: Clean up fixed & dynamic channel abstractions"
There's a whole bunch of confusion between the `bt_l2cap_chan` and `bt_l2cap_le_chan` abstractions. Almost all of the stuff in `bt_l2cap_le_chan` is only relevant for connection-oriented channels, yet the L2CAP APIs creation of this struct also for fixed channels. This seems to have been done to allow using as much common code as possible for the two channels, however that can be solved by moving

[2019-11-26 12:18] jhedberg commented on #21000
@joerchan FYI

[2019-11-26 12:35] #20880 closed

[2019-11-26 12:35] #20881 closed

[2019-11-26 12:35] #20882 closed

[2019-11-26 12:35] #20883 closed

[2019-11-26 13:21] cybertale commented on #20491
@aasthagr @aescolar I cannot open the coverity link, is this normal?

[2019-11-26 13:22] #20508 closed

[2019-11-26 13:23] #20892 closed

[2019-11-26 13:29] jukkar commented on #20960
@Oanerer could you create a separate issue for this, also enable ARP debug logging and attach it and pcap file of this issue.

[2019-11-26 13:32] jukkar commented on #20869
False positive.

[2019-11-26 13:32] #20869 closed

[2019-11-26 13:33] cybertale commented on #20491
Every control branch in thses functions will meet `return` before falls through any `case`, except for the case that `mburst` is an unexpected value, which should be impossible because `mburst` is returned by internal driver function `stm32_dma_get_mburst()`, which will check the user input and return a value with `DMA_LL_EC_MBURST` as it's type.

[2019-11-26 13:36] cybertale commented on #20492
This is explained in #20491 .

[2019-11-26 13:40] cybertale commented on #20490
@aescolar Is this issue points to `DMA_InitStruct` in `dma_stm32_configure()`? I see this structure do need to be initialized before used. Sorry but I don't see problem description in your comment.

[2019-11-26 13:46] alexandru-porosanu-nxp opened #21004 "cmd_data buffer corruption"
**Describe the bug**
Commit "0bf9931c2c708ab289dd4800afb82d7865e04dc9 Bluetooth: Host: Fix create connection fails to stop scanner" increased the struct cmd_data size from 8 to 12B. As such, anything after buf->user_data is getting corrupted.

**To Reproduce**
Steps to reproduce the behavior:
I've reproduced the behavior on VEGABoard, running central_hr sample, but it should reproduce on any other

[2019-11-26 13:48] aescolar commented on #20490
@cybertale (I just helped triage it, by trying to pinpointing the origin and author)
This is the whole report from Coverity:
[code]

[2019-11-26 13:53] aescolar commented on #20491
You should be able to open the link itself. But if you have never requested access to it, you may meet with a page telling you you cannot access it. In that case it should be evident how to request access.

[2019-11-26 13:53] mped-oticon commented on #19922
FYI, I have started implementing option 3 as requested.

[2019-11-26 14:08] #21004 closed

[2019-11-26 14:10] dleach02 commented on #20492
per @cybertale description, this is a false positive and is by design.

[2019-11-26 14:11] dleach02 commented on #20491
per @cybertale description, this is a false positive and is by design.

[2019-11-26 14:38] dleach02 commented on #16035
I'm not sure why I added the nrf platform. May have been a fat finger but @ntavish has a PR that he believes will fix this.

[2019-11-26 14:51] dleach02 commented on #18031
@avisconti, please open an issue item for your backport request. We are going to close this particular issue.

[2019-11-26 14:51] #18031 closed

[2019-11-26 15:05] dleach02 commented on #8469
I question the medium priority assigned to this. We keep punting this forward with each milestone so it doesn't seem to be a medium priority. Can we move this to low priority?

@nashif @galak

[2019-11-26 15:30] galak commented on #8469
I'm fine w/setting it low.  However we should at some point decide if we want to resolve this for the 2.x series so its closed before we get to the LTS 2.x release.

[2019-11-26 15:52] npitre commented on #20981
On Tue, 26 Nov 2019, Paul Gavrikov wrote:

OK.

Could you elaborate on that `partner_alloc_bits()` issue?

Where exactly is the code faulting? If you could convert the fault
address into a code line number, or better yet a gdb backtrace, that
would be very helpful.

[2019-11-26 15:56] erwango commented on #15435
@psidhu, agreed.
 @arewhyan, can you confirm this is actually solving your issue?

[2019-11-26 16:01] paulgavrikov commented on #20981
@npitre Don't have access to gdb now but here is the code line: https://github.com/zephyrproject-rtos/zephyr/blob/master/include/sys/dlist.h#L497

I haven't bothered to understand mempools `bfree_recombine()` but there is an if clause there that was changed with above mentioned commit (https://github.com/zephyrproject-rtos/zephyr/blob/master/lib/os/mempool.c#L17)4. It used to check `!=0xf` but was

[2019-11-26 16:29] ioannisg commented on #13417
So this test, as is, cannot pass on the SAM WDT @aurel32 and we should just exclude the platform from the test for now, until we extend the test to cover the SAM watchdog.

@nashif any thoughts against?

[2019-11-26 16:50] andyross commented on #20993
Spinlocks are valid when zero-initialized.  The normal use case is to put it in bss, but if you want to use a local you can do "`struct k_spinlock l = {};`".  There probably should be a K_SPINLOCK_INITIALIZER macro defined.

[2019-11-26 16:51] avisconti commented on #18031
@erwango @dleach02
Sorry, I missed your comments.
Sure I will open a new request for v2.0.1

[2019-11-26 17:17] antfobe commented on #20355
Increased them both to 2048, still getting the panic:
![image](https://user-images.githubusercontent.com/13102173/69656532-80f59a00-1057-11ea-8127-7956890433a5.png)

[2019-11-26 17:46] alexanderwachter opened #21010 "drivers: CAN: call can_state_change_isr on 96 warning"
The can_state_change_isr is only called on bus-state changes, but there is also a warning level defined in the CAN standard.
My suggestion is to call the ISR when one of the error counters reaches 96, but not introduce a new state, because there is no warning state defined in the standard.
Tho user can check the warnings by comparing the error counter warnings.

[2019-11-26 17:47] alexanderwachter commented on #21010
ping @henrikbrixandersen @karstenkoenig @nixward

[2019-11-26 17:59] npitre commented on #20981
On Tue, 26 Nov 2019, Paul Gavrikov wrote:

My guess would be corruption of the free list caused by some buffer
overflow somewhere.

I do understand that commit and code pretty well.

Yes it is. The commit in question simply flipped 0-bits to 1 and 1-bits
to 0, essentially inverting those bit values and keeping the code logic
unchanged. If the actual bit value matters in your case then this might
i

[2019-11-26 18:41] #18990 closed

[2019-11-26 19:20] henrikbrixandersen commented on #21010
Why not simply introduce a warning state in the Zephyr CAN API?

[2019-11-26 19:34] #18591 closed

[2019-11-26 19:34] #20445 closed

[2019-11-26 19:35] alexanderwachter commented on #21010
Because "warning" is not a state, it does not change the behavior of the node.

[2019-11-26 20:42] dferbas opened #21016 "Unexpected ethernet network traffic after power up"
New issue to separate it from #20960.
Platform Kinetis MK64, our own board with MK64FN1M0VLL12 package (similar to frdm_k64f).

TCP stack produces packets against RFC.
After it requires its IP settings from DHCP server, it bothers network with unsolicited ARP and ICMP echo requests.

---
I thought we have a bad Kconfig or something else, but as Oanerer commented similar behavior,
here is my observ

[2019-11-26 21:08] dferbas commented on #20960
, @tbursztyka Thank you for advice, I will try to follow it. I did not realize packet can be longer then max configured size. There is an assertion in the fsl_enet driver to have BD_num * BD_size > MaxFrameLen.

As to your comment: The enet_fsl loops over received buffers to collect a packet. If next buffer does not fit, driver returns with error. Rest of packet is not read from buffer descriptors

[2019-11-27 07:03] jukkar commented on #21016
Could you provide ARP debug log (set CONFIG_NET_ARP_LOG_LEVEL_DBG=y) that matches the pcap file, so that it is easier to match the sent and received ARP packets. Also please provide your .config file.

[2019-11-27 07:21] jukkar opened #21025 "sam_e70_xplained reboots after 35secs"
**Describe the bug**
Noticed that sam_e70_xplained board reboots after 35 seconds.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd samples/net/gptp`
2. `cmake -Bbuild -DBOARD=sam_e70_xplained .`
3. `make -C build flash`

**Expected behavior**
The device does not boot.

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
- latest master a

[2019-11-27 07:32] jukkar commented on #20355
So what you are saying above means that the issue is not in network stack but somewhere else.

[2019-11-27 07:46] Oanerer commented on #21016
[Zephyr_ARP_debuglog_probe_mimicking.zip](https://github.com/zephyrproject-rtos/zephyr/files/3895625/Zephyr_ARP_debuglog_probe_mimicking.zip)

The Zephyr node consists of a SiLabs EFM32GG11 dev board (not upstreamed yet). MAC: `InterayS_01:b9:74` at IP 192.168.9.135. The Windows 7 PC trying to join the network has MAC `HewlettP_b8:39:20`.

The Wireshark capture contains only ARP and DHCP packets f

[2019-11-27 07:49] Oanerer commented on #20960
Logs are attached to the issue dferbas created:  #21016

[2019-11-27 08:29] jfischer-phytec-iot commented on #20953
There is probably a issue with the event queue in the nRF driver.

[2019-11-27 08:51] ioannisg commented on #20176
Hi @jfischer-phytec-iot any updates on this?

[2019-11-27 08:55] ioannisg commented on #20749
@agansari do you have any updates on this?

[2019-11-27 08:58] ioannisg commented on #20712
@nordic-krch any updates on this?

[2019-11-27 08:58] agansari commented on #20749
@ioannisg no, sorry did not have time to get to this issue

[2019-11-27 09:02] ioannisg commented on #20749
Ok, just checking the status of medium priority bugs, for 2.1 release; let us know if you plan to have this bug fixed for 2.1 (that should be soon), or drop it off to next release

[2019-11-27 09:10] ioannisg commented on #19245
@nordic-krch what's the status of this bug?

[2019-11-27 09:14] #20797 closed

[2019-11-27 09:21] #20970 closed

[2019-11-27 09:35] mtpr-ot commented on #20264
I am looking into a ticker update design which would implement this.
The design proposal is as follows:
- Update `ticker_start` interface, or add new `ticker_start_ext` function, with a new parameter: `ticks_slot_window`
- The `ticks_slot_window` defines the window in which a ticker is allowed to re-locate an event within. A `ticks_slot_window` value of '0' yields existing functionality.
- Setting

[2019-11-27 09:54] George-Stefan commented on #20264
I believe the ticker timeout function should also get the slot as a parameter to be passed to the LLL.
The slot is only estimated by the ULL (for the slave).
A connection event could take longer than expected and we could use the slot to decide whether we allow to be preempted.

[2019-11-27 10:17] kristoftjonck opened #21033 "Read out heap space used and unallocated"
**Is your feature request related to a problem? Please describe.**
I need to know how much heap size is allocated, how much is used and how much is left. Like the "xPortGetFreeHeapSize()" in freeRTOS.

**Describe the solution you'd like**
Function to read out the total heap size, used allocated heap space / unallocated heap space left.

Not sure if it is implemented, but could not find it in the d

[2019-11-27 10:59] wdhpawa commented on #20264
@mtpr-ot, why reschedule to the latest possible time? Shouldn't it be the earliest possible time? I don't think we want most rescheduled advs to end up at precisely the max possible time - that would completely eliminate their randomization.

[2019-11-27 11:15] Jeepgoing commented on #19038
@jfischer-phytec-iot I have tested the patch #20816 it is useful, thanks.

[2019-11-27 11:21] nordic-krch commented on #19245
I believe it is fixed but have no bluetooth tools to run it. @Vudentz can you check?

[2019-11-27 11:34] mtpr-ot commented on #20264
Yes, you're right that we have to be careful not to lose the randomization. However, we want to prevent aborting slave intra-events by scheduling early. Some compromise is needed I guess.

[2019-11-27 11:37] ioannisg commented on #19245
Thanks @nordic-krch . In that case we rely on @Vudentz to provide some feedback; please, do so we might be able to close this Medium Priority issue for Zephyr v2.1.

[2019-11-27 12:54] jukkar commented on #21016
Does the issue go away if you disable gratuitous ARP by setting `CONFIG_NET_ARP_GRATUITOUS=n`? Please try this with default ARP table size (2).

[2019-11-27 13:03] jukkar commented on #21016
Also if possible, please enable `CONFIG_NET_ARP_LOG_LEVEL_DBG=y` and `CONFIG_NET_L2_ETHERNET_LOG_LEVEL_DBG=y` and attach the output here.

[2019-11-27 13:08] demantmrrv opened #21036 "Add SMP function similar to bt_conn_get_info"
**Is your feature request related to a problem? Please describe.**
It is desirable for the app to dynamically filter pairing requests on the `AuthReq` content, in this case the `Bonding_Flags`, to decide whether to accept or reject an attempt. It can be extended with information on IO Caps, OOB, Max Encryption Key Size and Key Distribution fields.
This feature request is a dynamic solution opposin

[2019-11-27 13:32] jfischer-phytec-iot commented on #19038
But it not backported yet.

[2019-11-27 14:41] ioannisg commented on #21025
Have you tried to bisect this @jukkar ?

[2019-11-27 15:09] Oanerer commented on #21016
[003_Zephyr_ARP_probe_mimicking.zip](https://github.com/zephyrproject-rtos/zephyr/files/3897397/003_Zephyr_ARP_probe_mimicking.zip)

`CONFIG_NET_ARP_GRATUITOUS=n`
`CONFIG_NET_ARP_LOG_LEVEL_DBG=y`
`CONFIG_NET_L2_ETHERNET_LOG_LEVEL_DBG=y`

Disabling gratuitous ARPs does not seem to fix the problem.

It seems it is impossible to capture one of these occurrences without messages being dropped, but I h

[2019-11-27 15:42] sslupsky commented on #20987
@jfischer-phytec-iot I believe you can use the samples/basic/blinky to reproduce the problem.  I've added a low power state to my board and I forced the power state to active during the testing I described above, so I think it should not be affecting anything.  Here is the diff for main.c:

[code]

Here is my prj.conf:
[code]

and this is my board defconfig:
[code]

[2019-11-27 15:44] #16035 closed

[2019-11-27 15:45] #20938 closed

[2019-11-27 16:07] jukkar commented on #21025
Not yet, I can try that tomorrow.

[2019-11-27 17:14] #20962 closed

[2019-11-27 17:14] nashif commented on #20964
Fixed by #20972

[2019-11-27 17:14] #20964 closed

[2019-11-27 17:15] nashif commented on #20967
Fixed by #20972

[2019-11-27 17:15] #20967 closed

[2019-11-27 17:16] #20431 closed

[2019-11-27 17:16] carlescufi commented on #20021
As per the TSC meeting with @microbuilder and @galak, the single repository created at https://github.com/zephyrproject-rtos/trusted-firmware-m will hold all the required dependencies, including of course tf-m itself.

[2019-11-27 17:21] #13417 closed

[2019-11-27 17:26] sandeepbrcm commented on #11172
I need to think on it and get back on trade-offs.  May be not an item for the first PR.

[2019-11-27 17:29] carlescufi commented on #20021
Closing the issue since the repo is created and it will contain all dependencies.

[2019-11-27 17:29] #20021 closed

[2019-11-27 17:43] #20939 closed

[2019-11-27 17:44] sandeepbrcm commented on #11172
.

Agree. This can be changed later.
 @stephanosio   reserving memory space for 100s or 1000s of interrupts out of which 90% or more will never be used doesn't sound good. And segmented sw_isr_table will loose the benefit of  direct indexed accessing.  We can discuss this on a RFC.

[2019-11-27 17:59] nashif commented on #19643
filtering issue

[2019-11-27 18:00] #20495 closed

[2019-11-27 18:00] #20496 closed

[2019-11-27 18:03] nashif commented on #20489
@dcpleung  can you please take a look at this one?

[2019-11-27 18:03] nashif commented on #20494
@franciscomunoz  can you please address this one?

[2019-11-27 18:10] nashif commented on #20715
fixed by #21017

[2019-11-27 18:10] #20715 closed

[2019-11-27 18:11] galak commented on #6152
Going to close this, re-open if you think this is still more work to be done.

[2019-11-27 18:11] #6152 closed

[2019-11-27 18:23] sandeepbrcm commented on #11172
The choice will influence rest of the software stack, boot flow and configurations.
1-EL1 non-secure Aarch64  is the best suitable if  TruztZone to be used.
2-EL1 secure         Aarch64  is the good enough if  no TruztZone partitioning required.
I guess EL2 and EL3 will not be required in Zephyr.

may be we should have
  EL1S/EL1NS right.  If booted in EL3, just drop to EL1S.

[2019-11-27 18:50] albertofloyd opened #21043 "west: west update brings different dependencies with same manifest"
**Describe the bug**
Our project is using west manifest using start topology T2 as described in the documentation and following suggestions at https://github.com/zephyrproject-rtos/zephyr/issues/15144 and nordic example.

**To Reproduce**
1. cd ~
2. git clone https://github.com/albertofloyd/ec_west_test.git
3. cd ec_west_test
4. west init
5. west list
Here it shows zephyr-rtos projects
zephyr

[2019-11-27 19:00] cbsiddharth commented on #20561
@tbursztyka: I've raised PR. Could you please help add the RFC label to it? I cannot add it.

[2019-11-27 19:12] JeffLangballe opened #21045 "log_backend.h missing include for UTIL_CAT in LOG_BACKEND_DEFINE macro"
**Describe the bug**
When trying to define a logging backend with LOG_BACKEND_DEFINE, I get errors relating to the macro expansion of LOG_BACKEND_DEFINE even though all of the arguments for the macro are correct.

**To Reproduce**
Create and compile a source file to create a logging backend as such

[code]

Yields many errors and warnings upon compilation. It looks like the UTIL_CAT macro is not d

[2019-11-27 19:24] carlocaione commented on #11172
Now `SWITCH_TO_EL1` is enabled by default so if booted in `EL3` we just drop in `EL1`.

[2019-11-27 21:11] dleach02 commented on #8469
I personally want this dealt with as it is annoying that the two items are not the same. Maybe we bring this up as a topic starting with the next release (2.2)? In the meantime I'm going to put it to low.

[2019-11-27 21:13] dleach02 commented on #20837
@finikorg, will you be posting a PR for this issue anytime soon?

[2019-11-27 21:14] dleach02 commented on #20842
@finikorg will you be posting a PR for this issue anytime soon?

[2019-11-27 21:18] henrikbrixandersen commented on #21010
And yet you propose to issue an ISR when the condition occurs?

[2019-11-27 21:22] dleach02 commented on #20840
#20929

[2019-11-27 21:23] dleach02 commented on #20841
#20929

[2019-11-27 21:26] dleach02 commented on #20839
#20929

[2019-11-27 21:26] dleach02 commented on #20838
#20929

[2019-11-27 21:27] dleach02 commented on #20837
#20929

[2019-11-27 21:27] dleach02 commented on #20836
#20929

[2019-11-27 21:28] dleach02 commented on #20842
#20929

[2019-11-28 06:16] wentongwu opened #21048 "timer case fail on qemu_xtensa and mps2_an385"
qemu_xtensa

tests/kernel/sched/schedule_api/kernel.sched.multiq
[code]

tests/kernel/tickless/tickless_concept/
[code]

mps2_an385
tests/kernel/timer/timer_monotonic/kernel.timer.monotonic
[code]

[2019-11-28 07:19] jhedberg opened #21049 "Bluetooth: Multiple issues with net_buf usage"
- There's code using BT_BUF_USER_DATA_MIN even though this has been meaningless for awhile due to the global Kconfig setting for all net_bufs. What's worse, BT_BUF_USER_DATA_MIN isn't flagged as deprecated.
 - The memory footprint got recently bloated because HCI command user data got moved into a separate array
 - Luckily, thanks to the previous point, we can reduce the Bluetooth default net_buf

[2019-11-28 07:28] tbursztyka commented on #20561
it was just needed in the title of the PR

[2019-11-28 07:41] jukkar commented on #21025
The issue has been long there, the reboot is happening also in 2.0. I was not able to bisect it much further because it would require using older SDK and I do not want to start messing with that.

[2019-11-28 07:56] jukkar commented on #21025
Setting `CONFIG_WATCHDOG=n` and `CONFIG_WDT_SAM=n` did not change anything, the device still reboots.

[2019-11-28 08:06] wentongwu commented on #21048
failed again when run CI.

Sanitycheck / mps2_an385:tests/kernel/timer/timer_monotonic/kernel.timer.monotonic / tests/kernel/timer/timer_monotonic/kernel.timer.monotonic
 failure: N/A

***** Booting Zephyr OS build v2.1.0-rc2-4-g432e7ac5b9bb *****
Running test suite timer_fn
===================================================================
starting test - test_timer
k_ticks_to_cyc_floor32(1) = 2

[2019-11-28 08:16] nordic-krch commented on #20993
seems like spin lock is in general missing any documentation. no doxygen for  `k_spin_lock` and `k_spin_unlock`: https://github.com/zephyrproject-rtos/zephyr/blob/21e0d4875045a5f26812f34eb9c230398914fd23/include/spinlock.h#L67

[2019-11-28 08:16] wentongwu commented on #21048
what I can tell is that the failure of mps2_an385 maybe related to icount mode.

[2019-11-28 09:02] alexanderwachter opened #21053 "net: 6lo: Use context 0 as default when CID-bit is not set"
From RFC6282:
[code]
In the current implementation:
If CID is not set, and DAC or SAC is set, the uncompression fails instead of using context 0 as default.

[2019-11-28 09:11] alexanderwachter commented on #21010
Exactly. Issue an ISR, but don't change the state. The user can then compare the counters to identify that it is a warning. It should work for CANopen, I guess.

[2019-11-28 10:08] paulgavrikov commented on #20981
@npitre I applied the diff and do **not** run into your assert.

[2019-11-28 10:30] henrikbrixandersen commented on #21010
In my opinion that makes the API a bit odd. For some ISR invocations, I need to check the state, for others I need to check the counters. If we issue a state ISR I think we should have a state for it.

[2019-11-28 10:37] alexanderwachter commented on #21010
The counters are not representing a state. The state is the state defined by the state machine in the CAN standard. This state is read directly from the controller and should, in my opinion at least, not be changed in the software, depending on the counter values.

[2019-11-28 11:13] Oanerer commented on #19899
PR [#20316](https://github.com/zephyrproject-rtos/zephyr/pull/20316) depends on symbol `SOC_GECKO_WDOG`

[2019-11-28 11:35] #21049 closed

[2019-11-28 12:13] jukkar commented on #21016
I did not spot anything obviously wrong in the log files. Some lines in the log were skipped and were missing.

Anyway, then I tried to replicate the system using same IP addresses etc. and then sending similar packets to zephyr.
I used `samples/net/sockets/echo_server` application with following config

**overlay-arp-test.conf**
[code]
Then compiled echo-server like this `cmake -Bbuild -DOVERLAY_

[2019-11-28 12:14] #20489 closed

[2019-11-28 12:21] pabigot commented on #20348
@galak Should this include #20253 or at least some milestones toward that?

[2019-11-28 12:31] ioannisg commented on #21048
timer_monotonic does not fail when I run it locally, @pabigot could you confirm?

[2019-11-28 12:40] erwango commented on #19899
@ulfalizer: `USE_STDC_FOO` and `USE_STM32_BAR` should be kept.

[2019-11-28 12:43] kipm-ot opened #21057 "BLE: No Valid Parameter check in send_conn_le_param_update()"
According to Core spec v5.1 vol 3 part A section 4.20: "CONNECTION PARAMETER UPDATE REQUEST", data fields in the Connection Parameter update request are Interval Min , Interval Max, Slave Latency and Timeout Multiplier. And their possible value ranges are as follows.

Interval Min                :  6 to 3200
Interval Max               :  6 to 3200
Slave Latency             :  0 to 499
Timeout Mult

[2019-11-28 12:43] kipm-ot opened #21058 "BLE: Enable/Disable Automatic sending of Connection Parameter update request on Timeout."
Problem:
We want our peripheral to have the Peripheral Preferred Connection Parameters characteristic in the Generic Access service, but we do NOT want the Zephyr stack of our peripheral to automatically send an L2CAP Connection Parameter Update Request if the central doesn't change the connection parameters within a certain time (this behavior is optional according to the spec). We want our perip

[2019-11-28 12:48] nashif commented on #20176
This test was not customized for reelboard, it does need board specific settings AFAICT. I doubt it worked before...

[2019-11-28 13:05] alexandru-porosanu-nxp opened #21059 "Bluetooth sent callback delayed more than ATT"
**Describe the bug**
Previously the ATT was deferred to the system workqueue and the sent notifications and the ATT were practically in the same thread. "0a925bdf9c574bf57940ff41354806f851b6ccfe Bluetooth: L2CAP: Process fixed channels in the RX thread" moved ATT to the RX thread. It seems that sometimes the system work-queue is very slow to be scheduled. As such, the k_work submitted after the bt

[2019-11-28 13:13] ioannisg commented on #18962
@nordic-krch can you address this bug, for v2.1 Zephyr release?

[2019-11-28 13:55] nashif commented on #21048
None of these tests fail for me. They would have been caught in CI. Maye they fail under heavy load, a well known issue with Qemu?

[2019-11-28 13:57] nashif commented on #21048
https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/57173/3/tests

[2019-11-28 13:57] nashif commented on #21048
Looks like some recent changes to the timer drivers are causing this?

[2019-11-28 14:01] nashif commented on #21048
I can now reproduce them locally, a retry get them to pass.

[2019-11-28 14:09] antfobe commented on #20355
Yes, pretty much - how do you pass the network interfaces (like e1000, openeth) to zephyr?

[2019-11-28 14:15] nashif opened #21061 "Document where APIs can be called from using doxygen"
## Introduction

Right now we have no standard way for documenting what APIs can be called from where and if they for example are allowed to be called from thread context or ISR context or if they can be used during initialization of the system for example.

### Problem description

Documentation of the above is spread around the project either in the implementation itself or in the API docs or in

[2019-11-28 14:15] nordic-krch commented on #18962
not sure how to fix it. `atomic_clear_bit` in fact can clear bit in an array (if second argument is >31) but argument is used from enum in that file (`enum smp_shell_esc_mcumgr`). If in other places where `atomic_clear_bit` is used there are no complains maybe the fix is to initialize enum?
[code]
?

[2019-11-28 14:43] alexanderwachter commented on #21061
We need the possibility to make the statement depending on parameters.
For example: `Can be called by ISRs if timeout is K_NO_WAIT`

[2019-11-28 15:43] aescolar commented on #21033
CC @andyross @andrewboie

[2019-11-28 15:46] Oanerer commented on #21016
[004_Zephyr_ARP_probe_mimicking.zip](https://github.com/zephyrproject-rtos/zephyr/files/3902293/004_Zephyr_ARP_probe_mimicking.zip)

This time all log messages are there. Retried with a fresh Zephyr installation and the following configuration options:
[code]
The strange thing is: I can *instantly* reproduce the issue. The Windows 7 PC reports an IP conflict as soon as I disable/enable the network

[2019-11-28 15:52] nashif commented on #20810
Maybe the easy solution is to remove API from "API Reference" and just call that section Reference.

The current status of this structure is the result of a major overhaul that was done earlier this year where thing have been moved around, you are basically proposing reverting all of that :)