[2018-11-20 10:35] #11022 closed

[2018-11-20 10:37] laperie opened #11529 "Get configuration of a running kernel in console"
In order to simplify debugging of certain cases it would be useful to be able to dump the configuration of a running Zephyr kernel from the console, just like /boot/config* in Linux
It would help to create an identical environment to reproduce issues remotely from the machine where the image is built.

**Describe the solution you'd like**
A console command providing a list of config variables curr

[2018-11-20 11:11] pdunaj commented on #11502
I am looking at the code. There seems to be a bug in `_add_timeout` from `kernel/timeout.c`.
Note that `z_clock_set_timeout(_get_next_timeout_expiry(), false);` is called without a lock held.

When two contexts are calling `_add_timeout` add the same time `z_clock_set_timeout` could set the wrong timeout. E.g.
Low priority context calls `_add_timeout` with long timeout. Timeout is added to the lis

[2018-11-20 11:14] #11206 closed

[2018-11-20 11:30] Xenoamor commented on #9055
Thanks, I'll give it a try when I'm back in the office tomorrow! Just to clarify that this is an issue I'm seeing with hci_usb and not hci_uart though

[2018-11-20 11:32] carlescufi commented on #9055
@Xenoamor so this is a completely different issue, not related to using this board without a debugger? Are you flashing using J-Link?

[2018-11-20 11:39] Xenoamor commented on #9055
Sorry yes I'm using a J-Link and nrfjprog. Should I make a new issue for this?

[2018-11-20 11:56] carlescufi commented on #9055
@Xenoamor yes please, this is completely unrelated.

[2018-11-20 12:28] agansari opened #11531 "Networking samples documentation updates"
While running networking samples on K64F and i.MX RT, I found the following issues in the documentation:

- Sample DHCPv4 client application
   * typo:  ‘/etc/dhcpd/dhcp.conf’ -> '/etc/dhcp/dhcpd.conf'

- gPTP Sample Application
   * -DCONF_FILE=prj.conf   -> -DCONF_FILE=prj_base.conf (filename changed)
   * submodule initialization is not mentioned, clone and follow instructions in the README

[2018-11-20 12:29] tbursztyka commented on #11531
Would you mind sending a patch fixing these?

[2018-11-20 12:30] carlescufi commented on #11502
Setting this as priority high tentatively for now.

[2018-11-20 12:30] agansari commented on #11531
Not at all :)

[2018-11-20 12:43] jarz-nordic opened #11532 "drivers: serial: uart_msp432p4xx.c not compile for interrupt API"
PR #11180 missed to update define: `TI_MSP432P4XX_UART_40001000_IRQ_0` in uart_msp432p4xx.c file.

To reproduce:
Try to compile hello word example with interupts on for serial driver.

This issue is stopper for PR #10902

![error_msg](https://user-images.githubusercontent.com/34125330/48774186-c99ea880-ecc9-11e8-9888-a0d15fcbe466.PNG)

[2018-11-20 13:13] pawelzadrozniak commented on #11232
I cannot reproduce the problem. CPU hangs in radio IRQ handler after "iwpan phy $PHY set channel 0 26".

[2018-11-20 13:28] spoerk opened #11533 "Energy-efficient BLE controller on the nRF52"
I am interested in having a very energy-efficient BLE peripheral device based on the nRF52 platform. It is especially important for my use case that the BLE peripheral has a very low baseline current consumption (i.e. consuming only a few micro amperes when no communication is going on).

When I run the existing BLE Heartrate Peripheral sample on the nRF52840 DK, I always get a base current consum

[2018-11-20 13:29] lemrey commented on #9055
Sorry @Xenoamor, I had misunderstood. What I said applies for HCI over UARTE.
Follow carlescufi's advice then and create a new issue.

[2018-11-20 13:56] rlubos commented on #8025
For whatever reason this was not closed along with #9338, therefore closing.

[2018-11-20 13:56] #8025 closed

[2018-11-20 14:00] SebastianBoe commented on #11533
I suspect this is a bug and that something is keeping the HFCLK running.

[2018-11-20 14:03] anangl opened #11535 "serial: uart_irq_tx_ready() needs better documentation or correction of the test"
During a PR review, some confusion about the expected behavior of the `uart_irq_tx_ready` function popped out, see [this comment](https://github.com/zephyrproject-rtos/zephyr/pull/11475/files#r234930386) and replies to it.

Apparently, some existing Zephyr code expects this function to return `true` only when the TX interrupt is enabled (see for instance [drivers/bluetooth/hci/h4.c](https://github

[2018-11-20 14:13] jarz-nordic commented on #11356
In my PR: #10902 I am going to remove tests/subsys/fs/multi-fs/prj_fs_shell.conf because this project can be only build for qemu and qemu does not have DT_FLASH_DEV_NAME. Hence example compilation fails :(

If this problem can be addressed by this PR it is great!

[2018-11-20 14:20] finikorg commented on #11232
Do you mean Linux hangs? BTW: have you disabled Bluetooth? Looks like reel_board always include BT in every project ;)

[2018-11-20 14:23] lemrey commented on #11147
Fixed by 47f529829fe81974cc2ce047d30641dbd8b69005.

[2018-11-20 14:23] #11147 closed

[2018-11-20 14:41] lemrey commented on #11146
Fixed by 564f02ec0ed88b6f2ef77e4a34cca707989025a4.

[2018-11-20 14:41] #11146 closed

[2018-11-20 15:14] andyross commented on #11502
Yeah, that indeed looks like a race in the timeout handling.  Will audit and fix.

[2018-11-20 15:19] pdunaj commented on #11502
It seems that locks do not work...

[code]

[code]

[code]

and log:
[code]

[2018-11-20 15:23] pdunaj commented on #11502
note that `remove_timeout` is called twice from two contexts the problem is should not happen as first call should take it off the list.
Check the marker I added. Observe that `4294966882` is seen in log generated by `_abort_timeout` then we see two removes but before we see the remove from `z_clock_announce` we get another remove called by `_abort_timeout`.
This should not happen as locks are hel

[2018-11-20 15:33] erwango commented on #10965
@agross-linaro , did you had the chance to discuss this point at plumbers?

[2018-11-20 15:37] jfischer-phytec-iot commented on #11232
:smile: well, like other NRF based boards:
boards/arm/reel_board/reel_board_defconfig:24:CONFIG_BT_CTLR=y

[2018-11-20 15:43] andyross commented on #11502
OK.  I'll let you look at the nRF interrupt handling.  But as described, that definitely sounds like a race in the timeout code, even if the causation of the symptom is more complicated.  I'll start there.

[2018-11-20 15:54] #8900 closed

[2018-11-20 16:33] andyross commented on #11502
Patch to address the timeout race (which is very real) is up at #11539

[2018-11-20 16:44] pdunaj commented on #11502
Hi @carlescufi , @anangl , the priorities can be set in the device tree but I think users would expect defaults to be reasonable. It seems however that most peripherals have the same level as RTC clock that is responsible for system scheduling.
Also it would be worth checking if these priorities are correct with regard to zero latency interrupts? (I will check it tomorrow but please tell if you kn

[2018-11-20 16:45] galak commented on #11447
Is this now resolved with #11448 being merged?

[2018-11-20 16:47] carlescufi commented on #11502
Yes, that is something that we could change so that the RTC gets more time and is not choked by the rest of the peripherals, agreed.

ZLI, when enabled, shifts the whole interrupt priority scale, so the same numbers apply, IIRC

[2018-11-20 16:48] galak commented on #10739
Any updates on this?

[2018-11-20 16:49] mike-scott commented on #11447
Yep, can close.

[2018-11-20 16:49] #11447 closed

[2018-11-20 17:15] carlescufi commented on #11533
@spoerk can you try disabling the UART completely?

[2018-11-20 17:37] jhedberg commented on #11088
Already fixed.

[2018-11-20 17:37] #11088 closed

[2018-11-20 17:37] nashif commented on #11501
i would prefer to have 1 single recheck that does everything and that will be done but not immediately, there is no value on doing them individually, it will take almost exactly the same time.

[2018-11-20 17:38] jhedberg commented on #11093
@Vudentz could you take a look?

[2018-11-20 17:40] nashif commented on #11501
yes, this can be done without reporting a status, this can probably just generate a report and post it somewhere for review. We can always run this on master and have a baseline and compare the results of the PR with master and report the diff for example.

[2018-11-20 17:41] vanwinkeljan commented on #11092
Note that this code has been removed in PR #11351

[2018-11-20 17:41] henrikbrixandersen commented on #11136
Do we have the commit hash on which the static code analysis was run? File `drivers/spi/spi_sam0.c:222` is `spi_sam0_fast_txrx()` in current master (3abb8a852155cf87bdbbbf2c7e334162d2c8c2d8).

[2018-11-20 17:43] carlescufi commented on #11393
CC @pkral78

[2018-11-20 17:44] galak commented on #11464
@nashif can we close this, seems like its defined in `kernel/Kconfig.power_mgmt` as @ulfalizer said.

[2018-11-20 17:48] jhedberg commented on #11096
Flagged as false positive in Coverity

[2018-11-20 17:48] #11096 closed

[2018-11-20 17:49] #11464 closed

[2018-11-20 17:58] himanshujha199640 commented on #11136
What do you mean ?
https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/spi/spi_sam0.c#L231

[2018-11-20 17:59] #4831 closed

[2018-11-20 18:00] #9613 closed

[2018-11-20 18:00] #8830 closed

[2018-11-20 18:04] carlescufi commented on #11276
@ajaykish are you going to take a look at this, or should @anangl?

[2018-11-20 18:14] carlescufi commented on #11455
@kulve the UART API documentation only applies to real, physical UARTs. Here we are using the UART API to interface with a virtual UART. What we can do is send a PR to the UART documentation that explicitly states that the calling contexts are not applicable for virtual UARTs. Would you like to give it a go and send a PR?

[2018-11-20 18:32] #10130 closed

[2018-11-20 18:37] #11103 closed

[2018-11-20 18:39] pkral78 commented on #11393
Well, I don't see `CONFIG_LOG_PRINTK` as a workaround rather than proper solution, what is purpose to use rtt console (seems deprecated to me) instead of logger backend when RTT logger backend is enabled at same time ?

But anyway I agree that printk must be usable from isr context, so if use of rtt console is really a must, there is proposed solution:
1.) remove locking macros from `rtt_console.c

[2018-11-20 19:00] andyross commented on #11502
Drive by comment: devicetree isn't really the right place to be assigning interrupt priorities.  Those are software configuration and different apps may want to make different decisions.  An app that does all its work out of timeouts and work queues, like yours, probably wants the timer interrupt to be high priority so that events happen at the right time regardless of hardware activity.  An app t

[2018-11-20 19:19] pfalcon commented on #11281
So, this unlikely should be assigned to me, as the report is against the shell behavior, so it rather goes @jarz-nordic/@nordic-krch way. Of course, I can host it for awhile, it's on my todo to compare subsys/console and shell's UART ISR implementation. I'm just not sure when I get to it...

[2018-11-20 19:22] ydamigos commented on #11091
@galak How can I access Coverity's report? Should I request "Organization access" permission?

[2018-11-20 20:30] galak commented on #3670
@ruuddw, @vonhost do you know if this is still an issue?

[2018-11-20 20:49] galak commented on #8187
Still an issue with new qemu?

[2018-11-20 20:50] #10825 closed

[2018-11-20 20:53] andyross commented on #11502
And FWIW: about BASEPRI being 32, that doesn't sound inherently wrong.  I'm not an ARM guy obviously, but BASEPRI is an integer that gets compared, not a mask.  Architecturally I believe it's guaranteed 8 significant bits, so if you have only 8 interrupt levels you obviously don't care about the other 248 values, but it's not wrong to use them.   The interrupt locking implementation is in include/

[2018-11-20 21:02] pfalcon commented on #8187
Can retest to be 100% sure, bit I don't see any that part of qemu change any longer. Indirectly, it's the same - MicroPythin testsuite running over QEMU serial emu has ~50% chance to fail: https://ci.linaro.org/view/lite-iot-ci/job/lite-aeolus-micropython/

[2018-11-20 21:18] #10658 closed

[2018-11-20 23:07] pfalcon opened #11548 "mimxrt1050_evk: On-chip SRAM appears to be wasted"
@agansari complained that he can't run biggish samples. I looked what memmap for this board is.

So, in dts/arm/nxp/nxp_rt.dtsi we have:

[code]

But in generated_dts_board.h, of memories there's only:

[code]

Which is kinda corresponds to what we have in boards/arm/mimxrt1050_evk/mimxrt1050_evk.dts:
[code]

ocram0 is not listed anywhere. So, we effectively throw away 256K of RAM, while limiting

[2018-11-21 01:10] andyross commented on #11502
I couldn't let go of the "locks don't work" so came back to look at this again.

At least on qemu_cortex_m3 (I don't have an nRF board handy to check), the problem is the converse: **interrupt handlers are called with BASEPRI == 0, so interrupts aren't locked**.  Check with a code block like this:

	unsigned int basepri;
	__asm__ volatile("mrs %0, BASEPRI" : "=r"(basepri));
	printk("BASEPRI == %d\

[2018-11-21 07:29] pfalcon commented on #8187
Well, I'm actually pleasantly surprised, because the situation is visibly improved, running with qemu from SDK 0.9.5.

First run of dumb_http_server/qemu_cortex_m3 with `ab -n1000 http://192.0.2.1:8080/` went without a hitch.

I then proceeded with `-n10000`, and it failed soon:

[code]

But note that the type of failure is different from the original description above: there it was hang with even

[2018-11-21 07:35] pfalcon commented on #8187
But! Now qemu_x86 and qemu_cortex_m3 switched their positions, i.e. SLIP comm with qemu_x86 seems to be significantly broken:

[code]

Got these timeouts 2 times in row (again much less than on 1000th req). All that happened with `-n10000`. Surprisingly, running with `-n1000`, I got 2 successful runs. The thing smells the big number and gives up early, but cheerfully chews not so frightening numbe

[2018-11-21 07:36] pfalcon commented on #8187
@rlubos, Given that this comes from your report, can you please put qemu_x86/qemu_cortex_m3 under some ordeal too?

[2018-11-21 08:01] finikorg commented on #10693
So what is the problem? Missing console?

Since we change console parameters to DTS we have to for every board include the same DTS overlay. Just copy existing overlay to your board name :)

[2018-11-21 08:05] pkral78 commented on #11393
@carlescufi @nordic-krch comments are welcomed.

There is also possibility to write to RTT buffer and deal with isr context without disabling interrupts for the entire time of writing to RTT bufer. By introducing atomically incremented pointers to next writable area (which could be done with ldrex/strex) and disabled interrupts only when synchronizing these pointers with offset pointers for RTT bu

[2018-11-21 08:17] finikorg commented on #10693
Maybe if DTS magic does not include USB console we could issue #error so that user notice that he needs to enable it?

[2018-11-21 08:55] ruuddw commented on #3670
Don't know.  '_update_time_slice_before_swap' doesn't exist anymore after the timer refactoring. That did introduce other problems for ARC due to bugs in the 'legacy' support: #10747, #11129, #11170
@andyross : appreciate your guidance here on if this is still relevant?

[2018-11-21 09:06] vonhust commented on #3670
I think it's not issue now, at least no test cases report.  #10747, #11129, #11179, I think, it's not related to this

[2018-11-21 09:07] pdunaj commented on #11502
@pizi-nordic checked the basepri value and it is ok (he will add a comment about that).

I have checked from which interrupt two contexts are called and it is the same value (the same vector from IPSR). I have one hypothesis that I want to check. I use LOG_ERR to print the messages - if this call sometimes causes a logging thread to be woken up it would call remove timeout. Since I call LOG_ERR fr

[2018-11-21 09:11] ruuddw commented on #3670
Issue #3668 (GH-3668 mentioned above) states there is no testcase for this issue, so no testcase reports doesn't say much...

[2018-11-21 09:11] m-nilsson opened #11558 "Need notification when a BLE packet is sent"
Hi,

We would like to have a notification when a BLE GATT packet is sent.

Our current use-case is to implement accurate clock sync between BLE devices. But I am guessing that there are also many other applications where you want to know if and when a packet is sent.
We have partly solved the problem by calling a hook function from att_pdu_sent() in subsys/bluetooth/host/att.c.
Then we can get a n

[2018-11-21 09:34] pdunaj commented on #11502
@pizi-nordic , @nordic-krch this is nothing logger can solve. I think the best way would be to add a comment in this file that you cannot call anything that may involve scheduler. This is for future generations to not make the same mistake.

[2018-11-21 09:37] pizi-nordic commented on #11502
The LOG() macros should work from any context (with deferred logging enabled). So they should not interfere timers and other system areas. If this is happening, I consider this as a bug.

[2018-11-21 09:40] pdunaj commented on #11502
The original problem with delayed works is still visible even with the patch applied.
Logs collected suggest that RTC isr is not called. The problem is that I know our preemptive task is running fine (I get correct readouts from the sensor) so I don't expect high priority context to hold the CPU. Everything suggests that timeout set is wrong... but why?

[2018-11-21 09:41] derchrismakaio commented on #10760
@Vudentz well, my own application... I'll keep an eye on this and when I stumble accross a sample which gives the same error I'll let you know

[2018-11-21 09:50] nordic-krch commented on #11502
there is an option in logger `LOG_PROCESS_TRIGGER_THRESHOLD` which wakes up logger thread on given amount of pending log messages (using `k_wakeup`). 0 disables the feature. You can check if that helps.

If there are contexts from which `k_wakeup` call is forbidden that should be documented or fixed.

[2018-11-21 10:01] tgorochowik opened #11561 "Ping through net shell seems to be broken"
Running ping through the net shell causes a `BUS FAULT`. Tested on `frdm_k4f` and `sam_e70_xplained`.

One scenario where it happens is using http server with net shell and dhcp enabled, here is the full config:
[code]

And here is the output:
[code]

Note that the output is also kind of malformed (e.g. `Received eG reply` instead of `Received echo reply`). This happens when pinging a PC connected

[2018-11-21 10:03] rmstoi opened #11562 "net: arp: Zephyr does use MAC address from broadcast ARP reply"
If Zephyr receives unrequested broadcast ARP reply it does not update translation table. So, instead of using MAC address from request packet (ICMP, TCP, UDP) in response, it should use MAC from unrequested ARP reply.

[ipv4-unreq-arp-reply-udp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2603717/ipv4-unreq-arp-reply-udp.pcap.gz)
[ipv4-unreq-arp-reply-tcp.pcap.gz](https://github.com

[2018-11-21 10:21] galak commented on #11091
yes, you need to request access.

[2018-11-21 10:39] Qbicz opened #11564 "Bluetooth: settings: Invalid base64 value written to flash"
**Describe the bug**
When central connects, but does not subscribe to any notification, an invalid base64 value is written to settings - after wake up the settings subsystem tries to decode the GATT CCC and crashes.

Problem occurs in `subsys/bluetooth/host/gatt.c` in `bt_gatt_store_ccc()` function when it uses `settings_str_from_bytes()` from `subsys/settings/src/settings.c`.
https://github.com/z

[2018-11-21 10:42] Qbicz commented on #11564
@JoeHut is it similar to what you have seen?

[2018-11-21 10:44] Qbicz commented on #11564
@nvlsianpu @Vudentz @jhedberg

[2018-11-21 10:45] Vudentz commented on #9937
@grochu do we still need this or has this been solved by other means?

[2018-11-21 10:57] galak commented on #11091
Agree with @aurel32 assessment, this is intentional because of Device Tree.

[2018-11-21 10:57] #11091 closed

[2018-11-21 10:58] Vudentz commented on #11409
Though the settings_save_one does not seems to be the place where it is crashing the error -2 is ENOENT which means something is not configured properly. Does CONFIG_BT_GATT_CLIENT is enabled?

[2018-11-21 10:59] #11480 closed

[2018-11-21 10:59] galak commented on #11480
Agree with @aurel32 assessment, this is intentional because of Device Tree.

[2018-11-21 11:02] #11532 closed

[2018-11-21 11:03] pabigot opened #11565 "gpio_callback ambiguity in union pin vs pin_mask"
I notice that the gpio_callback structure has a union that's documented as identifying the pins that trigger a callback, expressed as either a single ordinal (`pin`) or a mask of pins (`pin_mask`).  The union documentation in the header [explicitly states](https://github.com/zephyrproject-rtos/zephyr/blob/39843617cbe6f62b195af152de3416a1e4f47399/include/gpio.h#L80) that the application may change

[2018-11-21 11:34] carlescufi commented on #11232
@finikorg

Well, we do the same for all nRF-based boards. That said this might not be ideal, but in any case we would need to revisit all the boards, so this is outside the scope of this issue.

[2018-11-21 11:43] pabigot commented on #11565
Thanks; that explains it.  Issue was introduced in PR #10085.  Looping in @dcpleung.

Nonetheless, a field that's public and documented as under application control (since the application owns the structure) now has a driver-specific interpretation.  That's a problem that should be resolved before it bites somebody.  Somebody new might write an application that sets the callback pin by using an or

[2018-11-21 11:45] tbursztyka commented on #11565
yes, that might create an issue in application indeed, mostly a portability one since setting up the cb will not be the same on that controller than other ones.

[2018-11-21 12:21] erwango opened #11569 "Convert remaining Kconfig symbols of devices available in dts (SPI, I2C)"
Following #11180, some CONFIG_  symbols of devices already converted to DTS remains in dts_fixup.h files:
CONFIG_I2C_X_NAME
CONFIG_SPI_X_IRQ_PRI

There are other devices impacted, like ADC, WDT... but they might not all be available in DTS.
This is different for I2C and SPI as they are available in dts and the other properties are already converted to DT_ namespace.

It apprears theyare still usin

[2018-11-21 12:30] Olivier-ProGlove commented on #11564
You need to set `LOG_BT_SETTINGS_CCC_STORE_ON_WRITE=1`. But yes that is the same issue as we have.

[2018-11-21 12:31] Olivier-ProGlove commented on #11564
Be aware of this issue I am working on: https://github.com/zephyrproject-rtos/zephyr/issues/11409#issuecomment-440630063

[2018-11-21 12:33] carlescufi commented on #11569
I think this was intentionally left out as `CONFIG_` because they still have the option to use Kconfig for platforms that do not support DT. I will let @galak confirm this.

[2018-11-21 12:34] galak commented on #11569
The SPI one needs fixing, need to look at CONFIG_I2C_X_NAME

[2018-11-21 12:36] erwango commented on #11569
What seemed strange to me is that other properties of the same devices are converted.

[2018-11-21 12:38] galak commented on #11569
Not sure why the SPI irq priority wasn't updated.  The CONFIG_I2C_X_NAME case is because I2C slave drivers need to all be updated before we can remove it.

[2018-11-21 12:38] m-nilsson commented on #11558
Update:
I saw that in the master branch there is the addition of the function bt_gatt_notify_cb() that does almost what I requested. So then my feature request is to add a similar function, bt_gatt_write_without_response_cb(). And also to be able to pass some user data to those functions, that is in turn passed to the callbacks. That way it is easier to match a request with a callback, especially

[2018-11-21 12:41] Qbicz commented on #11564
@Olivier-ProGlove Thanks for the link. `BT_SETTINGS_CCC_STORE_ON_WRITE` fixes the problem in most cases, but not when you perform the discovery but don't subscribe to any notification. There is no CCC write then and this bug reveals.

[2018-11-21 12:48] erwango commented on #11569
Ok, got it, txs

[2018-11-21 12:48] Olivier-ProGlove commented on #11564
You are right. It is also true we saw this issue even after enabling `LOG_BT_SETTINGS_CCC_STORE_ON_WRITE=1` but much less frequently.

[2018-11-21 13:42] Vudentz commented on #11409
It is known that set callback can be called multiple times with the same setting and I assume that is by design otherwise one will have to have a cache which will retain just the last value found before you commit to each backend, because of this I think it is better that we check if a cfg for the address exists.

[2018-11-21 13:58] rmstoi opened #11579 "net: arp: MAC address not updated if target address is not its own"
Zephyr does not update MAC address if it receives ARP reply which has target address that does not belong to Zephyr. Also, in this case Zephyr sends unexpected ARP request.

[ipv4-arp-reply-2ta-udp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2604449/ipv4-arp-reply-2ta-udp.pcap.gz)
[ipv4-arp-reply-2ta-tcp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2604450/ipv4-arp-r

[2018-11-21 14:06] qianfan-Zhao commented on #11561
please take a look: #11281
could you please try revert 4962618 and try again?

[2018-11-21 14:08] Vudentz commented on #11409
@Olivier-ProGlove btw, settings_line_make already support passing NULL as value, that is in fact how keys are cleared here:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/keys.c#L221

[2018-11-21 14:17] Olivier-ProGlove commented on #11409
@Vudentz It is actually the code I was thinking when I mentioned removing setting. When using FCB backend, calling `settings_save_one(key, NULL)` will create a new entry in FCB with an empty value.

When you will load the bluetooth settings, you should expect to load the old key value and the `NULL` key value.

[2018-11-21 14:31] carlescufi commented on #11232
Yes, this is correct since both access the radio and are not coordinated.

[2018-11-21 14:36] tgorochowik commented on #11561
@qianfan-Zhao thanks! That indeed seems to be the same issue. Reverting that commit is not that straightforward as there are some conflicts, but disabling `CONFIG_UART_INTERRUPT_DRIVEN` (like you recommended in #11281) which effectively disables the ring-buffers fixes the issue for me too.

I'm closing this one as this is a duplicate then, thank you again!

[2018-11-21 14:36] #11561 closed

[2018-11-21 14:38] #10693 closed

[2018-11-21 14:45] #10320 closed

[2018-11-21 15:12] pdunaj commented on #11502
I have found the problem. It is in `drivers/timer/nrf_rtc_timer.c` and will emanate itself when system experience frequent calls to `z_clock_set_timeout`. This can happen when something in the system has constantly updated timeout (e.g. interrupt cancels and re-enables delayed work). By frequent I mean occurring several times within one tick.

The problem is that when you do that code in `z_clock_

[2018-11-21 15:16] pdunaj commented on #11502
Hi @andyross , I don't think `MIN_DELAY` should be removed. Maybe we should not set the timeout if update of the list did not bring anything new to the front. The change would be then in `_add_timeout` - before calling `z_clock_set_timeout` we could check if front of the queue is different.

I can give it a try now and see if this helps.

[2018-11-21 15:47] spoerk commented on #11533
Thank you @carlescufi. Completely disabling the UART of the platform solved my problem.

[2018-11-21 15:50] #11533 closed

[2018-11-21 15:51] m-nilsson commented on #11558
I have a question about the new function bt_gatt_notify_cb().

When I used bt_gatt_write_without_response() I saw that att_pdu_sent() was called about 140us after the packet was received at the peripheral.

However, when using bt_gatt_notify_cb(), the callback is called more than 6ms after the packet is received at the central.
Why this long delay before the callback is executed?

[2018-11-21 15:56] pdunaj commented on #11502
@andyross , I gave it a try.
I still think we should add
[code]
but it is not enough.

The problem is that `z_clock_set_timeout` is also called from `sys_power_save_idle`. And here it is called with tick set to 1 that when late will cause the timeout drift.

Only when I removed
[code]
The problem was gone. So it seems this is needed.
Maybe `idle` should not call `sys_power_save_idle` or this `z_cl

[2018-11-21 17:32] #11564 closed

[2018-11-21 17:44] jfischer-phytec-iot commented on #10720
It is DT_SSD1673_SPI_GPIO_CS now. That was a hack because DT describes whether gpio CS is used or CS from the SPI core.

[2018-11-21 17:48] #11409 closed

[2018-11-21 19:03] andyross commented on #11502
Ah, OK.   RISC-V actually had the same glitch.  There it was fatal -- the architecture idle implementation doesn't have a "wait for next interrupt", so its behavior was to spin on the idle loop by default, calling z_clock_set_timeout(..., true) in a tight loop, so the timer was always getting "too close" to the expiring tick and bumping it to the next one, and timers would never expire.

The fix t

[2018-11-21 19:10] andyross commented on #11502
(FWIW, my worry about about interrupts not being locked against each other was a red herring.  Further reading shows that on ARM the NVIC will dispatch nested interrupts on its own and wait for end of service, and that nesting is done internally and not reflected in the state of BASEPRI or PRIMASK.   Well, I learned something anyway.)

[2018-11-21 20:54] pfalcon opened #11586 "mimxrt1050_evb board: Can't get Ethernet to work"
**Describe the bug**
This is continuation of the discussion at (merged/closed) https://github.com/zephyrproject-rtos/zephyr/pull/10875#issuecomment-440625614 .

I cannot get Ethernet connection to BOARD=mimxrt1050_evb. When I connect a patchcord between the mimxrt1050_evb and my laptop, I don't get "link active" LED light up on my laptop side, i.e. it behaves as if the cable wasn't connected. Of c

[2018-11-21 20:57] pfalcon commented on #11586
As additional info, I tried to vary different things. At one point e1000e device was actually hosed, so switching back to frdm_k64f it didn't work, and there was a weird error in dmesg. That caused me some confusion, but after rebooting the laptop, I have a clear reproducible picture that connected frdm_k64f works, while mimxrt1050_evb - doesn't.

[2018-11-21 20:58] pfalcon commented on #11586
I tried another cable too ;-).

[2018-11-21 21:07] nashif commented on #4927
closing this issue, no activity for a while.

[2018-11-21 21:07] #4927 closed

[2018-11-21 22:37] dbkinder commented on #6774
Done.

[2018-11-21 22:37] #6774 closed

[2018-11-22 01:04] #8348 closed

[2018-11-22 01:20] andyross commented on #11502
FWIW: I got started on a proper fix for this (which takes the "sleep for N ticks" decision out of the idle loop entirely), but I'm not going to get it submitted tonight.  And note that the rest of the week is a US holiday, though I should be able to find some time.

In the short term, please try the "ignore z_clock_set_timeout() when idle == true" trick in the driver, which should have the same ef

[2018-11-22 04:16] #11046 closed

[2018-11-22 07:53] erwango commented on #11569
Closing the issue

[2018-11-22 07:53] #11569 closed

[2018-11-22 07:55] pfalcon commented on #11529
Storing such list in binary will east quite a lot of space, up to being impractical in majority of cases.

[2018-11-22 07:58] erwango commented on #5707
Only MPS board remains.
Though, since there is no other board using this SoC, there is no code duplication to factorize there.
Let's close ticket right now

[2018-11-22 07:58] #5707 closed

[2018-11-22 07:59] erwango commented on #6017
Merged some time ago, closing

[2018-11-22 07:59] #6017 closed

[2018-11-22 08:01] erwango commented on #6584
Already implemented on one driver LSM6DSL.
Closing

[2018-11-22 08:01] #6584 closed

[2018-11-22 08:02] #7053 closed

[2018-11-22 08:45] diegosueiro commented on #11465
@pfalcon and @stanislav-poboril ,

I don't have enough time to investigate this issue at the moment because I'm in the middle of another work for Zephyr.

It should be great if one of you could help to look at this in the UDOO Neo board.

[2018-11-22 08:51] pfalcon commented on #11465
@diegosueiro: Same stuff here. (All the time, but lately even worse than usual ;-) ). At the least, I need to finish with MPS2 issue before looking into something else. But we'll get to it - ticket is here, so it won't be lost.

Note that I don't any device with that, so my review will be only speculative.

[2018-11-22 08:54] pdunaj commented on #11502
Hi @andyross , thanks. I can create a patch if you are busy.
I think the best way to fix it would be to set the counter compactor always through timeout infrastructure. Otherwise we may always get a chance for invalid timeout being set. I will give it a try and create a PR for review.

[2018-11-22 09:16] Vudentz commented on #11558
Waiting the controller to acknowledge will always create delays, in fact you don't really need such mechanism if you can block since bt_gatt_write_without_response will do exactly that when attempting to allocate a buffer. HCI already has flow control, in fact that how we are acknowledge that a packet has been sent over the air and free the buffer associated with it which may wakeup any thread wai

[2018-11-22 09:30] Vudentz commented on #9937
Closing due to inactivity, fill free to reopen if there is any update.

[2018-11-22 09:30] #9937 closed

[2018-11-22 09:46] erwango opened #11592 "Provide information on Zephyr slack channel in https://www.zephyrproject.org/"
**Is your feature request related to a problem? Please describe.**

I've looked for slack in https://www.zephyrproject.org/ and there is no mention of it.

**Describe the solution you'd like**
If slack is now official discussion channel, there should be info on it on zephyr website

[2018-11-22 09:58] m-nilsson commented on #11558
But bt_gatt_write_without_response will not block if there are buffers available, right?

So what is the difference between bt_gatt_write_without_response and bt_gatt_notify_cb? They don't require response from the other peer and they both end up in bt_l2cap_send_cb, so where is that extra delay coming from? Sorry if it is a dumb question, but I am not familiar with the lower levels of the ble sta

[2018-11-22 10:20] TTornblom opened #11594 "Cleanup GNUisms to make the code standards compliant"
**Is your feature request related to a problem? Please describe.**
There is work in progress to allow Zephyr to use non-gcc based toolchains. Some of these do not allow many of the non-standard extensions that seems to be commonly used in the Zephyr code.

I started trying to build the **hello_world** sample on **IAR Embedded Workbench for ARM** and quickly ran into at least three issues:
1) Empty

[2018-11-22 11:15] agansari commented on #11586
Hello @pfalcon I'm using a VM to develop and test. I have a USB-Ethernet adapter that is assigned to the VM as eth1 (eth0 - NAT to host). I'm using the adapter to connect the board to the VM.
I'm testing testing dumb_http_server and it does not work. Looks like Ethernet driver is not correctly initialized in i.MX RT in current baseline.
I'll fix the bug and test dumb_http_server (i need to setup D

[2018-11-22 11:20] pdunaj commented on #11502
I added a PR with a fix.

[2018-11-22 13:11] rlubos commented on #9926
Closing, as #11534 satisified the final point from the checklist.

[2018-11-22 13:11] #9926 closed

[2018-11-22 14:30] galak opened #11605 "Convert lis2dh to use dts"
Add DTS bindings for lis2dh and update driver to get info like SPI bus name, GPIOs, etc from DTS generation.

[2018-11-22 14:33] galak commented on #11605
@avisconti Can you take a look

[2018-11-22 14:35] avisconti commented on #11605
ok

[2018-11-22 15:13] avisconti commented on #11605
I'm looking at other sensors that already support dts. It seems that still is not possible in zephyr dts subsystem to discriminate between I2C or SPI, and still requires Kconfig to do so. Correct?

[2018-11-22 18:03] nashif commented on #8108
can't reproduce, in other mbedtls samples this appears in the root.

[2018-11-22 18:03] #8108 closed

[2018-11-22 18:05] nashif commented on #5411
added licenses where applicable.

[2018-11-22 18:05] #5411 closed

[2018-11-22 18:07] nashif commented on #9411
going to close this one because checkpatch generates quite a few warnings that are false negatives and we are not going to fix all of those. We will just override them.

[2018-11-22 18:07] #9411 closed

[2018-11-22 18:17] #11069 closed

[2018-11-22 20:11] nashif commented on #11166
fixed

[2018-11-22 20:11] #11166 closed

[2018-11-23 00:18] #11495 closed

[2018-11-23 03:02] pabigot opened #11612 "i2c_burst_write on nrf51 is not a burst write"
Based on bus snooping it appears that on nrf51_ble400 an i2c_burst_write produces two bus transactions: a write of the one byte address, followed by a write of the multi-byte value.  On a CCS811 this produces an error due to a write to an invalid register (as the multi-byte value did not start with a register).

Packing the register address and data together with `i2c_write` produces the correct b

[2018-11-23 08:38] rmstoi opened #11617 "net: ipv4: udp: broadcast delivery not supported"
Zephyr drops UDP packet with broadcast destination IP and unicast MAC. According to RFC 1122 4.1.1 this scenarion should be supported by UDP: "... to use communications services (e.g., multicast or broadcast delivery) not available from TCP."

[ipv4-udp-bcast-dst.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2610099/ipv4-udp-bcast-dst.pcap.gz)

[2018-11-23 08:57] pdunaj commented on #11495
It is possible that this bug is not yet completely fixed. Please check the comment in the PR.

[2018-11-23 09:01] ajaykish commented on #11276
@carlescufi  you can ask @anangl, to have a look at this. I am quite busy with some high priority task. Will work on this once done with current task.

[2018-11-23 09:13] rmstoi opened #11618 "net: icmpv4: Zephyr drops valid echo request"
Zephyr drops echo request with valid checksum. Zephyr must respond to valid echo request.

[icmpv4-valid-chksum2.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2610165/icmpv4-valid-chksum2.pcap.gz)
[icmpv4-valid-chksum1.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2610166/icmpv4-valid-chksum1.pcap.gz)

[2018-11-23 10:29] agansari commented on #11586
Hello, today I made a rebase on the latest firmware and ethernet works as expected, initilization goes okay, leds blink as they should and also ran the benchmark:
[code]

Can you have a go @pfalcon ? Latest commit I tested on is: 2d6a226b2e59c52449b2d87add8fe3061e83bdb9

[2018-11-23 10:50] SebastianBoe commented on #11533
Do we want to re-open this?

@anangl : I assume it is not expected behaviour that having UART enabled will draw 400uA.

[2018-11-23 10:51] pfalcon commented on #11586
@agansari: Thanks for the update and detailed info. Not sure I'll get to it today, but will test it, thanks for the exact rev to use, to be on the same line.

[2018-11-23 10:54] pfalcon commented on #9015
@mnkp: Ping.

[2018-11-23 10:58] pabigot commented on #11612
Reviewing the code it appears the extended I2C API from ef26bf78484e2f2c851564f170189df5d4d62ee3 is based on a generalization that does not account for all the ways subordinate devices might use the protocol.

An I2C control interface based on request/response operations exposing "registers" of various sizes that are identified by octet (or multi-octet) values is common, but not universal.  Fundam

[2018-11-23 11:12] pabigot commented on #11605
From my experience I think the "natural" DT way to do it requires two binding variants: one that inherits from `spi-device` and one from `i2c-device`.  Then the DT fixup would have to do something like:

[code]
and the driver could switch off the defined symbol without involving Kconfig.

The latter part is straightforward.  I have no idea how to do the yaml to describe two ways of connecting the

[2018-11-23 13:40] #10720 closed

[2018-11-23 14:19] #11481 closed

[2018-11-23 14:38] avisconti commented on #11605
@pabigot
Yes, this is the way I'm doing and all the sensors are implemented.
So, I created this twio yaml descriptions:
dts/bindings/sensor/st,lis2dh.yaml
dts/bindings/sensor/st,lis2dh-spi.yaml

But this requires that in config file you configure SPI or I2C bus type.

I'm not so familiar with the yaml way to implement dts, but in case of linux dts which bus a device is attached to is an info actua

[2018-11-23 14:40] avisconti commented on #11605
@pabigot
OK, I see now what you are saying about dts_fixup.

[2018-11-23 14:59] pabigot commented on #11605
In Linux I believe device information is extracted from dtb (the binary form compiled from the DT source) at runtime.  Zephyr seems to extract the DT information from dts and use it only at compile-time, through dts_fixup.

My solution to a question @galak asked in #11545 about how to support multiple devices would be to evolve Zephyr infrastructure where drivers did configure themselves at boot t

[2018-11-23 15:04] avisconti commented on #11605
Wouldn't it be possible to modify the scripts to set BUS_TYPE based on which  parent bus is included?

[2018-11-23 15:06] pabigot commented on #11605
If you're asking me I have absolutely no idea.  The closest I've gotten to what Zephyr does with the content of device tree source is create and modify yaml files.  Anything between that and dts_fixup is, at this point, magic to me.

[2018-11-23 16:48] MarekPieta opened #11625 "Problem with printk and LOG_ERR used with shell enabled"
**Describe the bug**

Bug occurs when:

- using shell on RTT backend,
- calling LOG_ERR and printk functions (printk is processed by logger),
- log internal thread has low priority (for example: 2).

On logger thread priority=2 some messages do not appear (it shows only output from printk and not fom SYS_ERR). Everything is displayed properly when logger thread has priority -2 (default for sample)

[2018-11-23 17:01] pabigot opened #11626 "k_busy_wait exits early on Nordic chips"
A `k_busy_wait(20)` in driver code to wait for a reset to complete was proceeding in 13 us, causing a hardware failure.  While investigating I discovered that for Nordic NRF51 k_busy_wait delays:

* 12.38 us for an argument of 1, 2, 5, 10, 15, or 20 us
* 26 to 51 us for an argument of 50 us
* 54 to 57 us for an argument of 75 us
* 83 to 86 us for an argument of 100 us

Further, for NRF52840 k_busy

[2018-11-23 19:52] #11462 closed

[2018-11-23 22:13] carlescufi commented on #11625
CC @pkral78

[2018-11-24 12:29] pfalcon opened #11633 "logging: CONFIG_LOG_INPLACE_PROCESS is not synchronous"
So, is was said many times that new logging has a "synchronous" mode to which it switches when something bad happens, and which can be enabled to be default via Kconfig at all. Some time ago, I looked which Kconfig option is that, and the only related thing I could find was CONFIG_LOG_INPLACE_PROCESS. I asked @carlescufi on IRC what was the right option, and he said that CONFIG_LOG_INPLACE_PROCESS

[2018-11-24 13:04] pabigot commented on #11612
After further review, the burst and reg read16/write16 functions should be removed.   They're not used anywhere in the tree, and they assume that a device that uses 16-bit addressing expects to receive it in little-endian byte order.  The burst and reg read/write_addr functions should go too.  The only one used is burst_read_addr once in eth_sam_gmac where the implementation could just as easily u

[2018-11-25 06:42] sathishkuttan opened #11636 "Generic GPIO reset driver"
**Is your feature request related to a problem? Please describe.**
A generic driver to use GPIOs as reset controls for [peripheral] devices.

**Describe the solution you'd like**
A generic driver conceptually similar to linux. reference: https://lwn.net/Articles/585145/

**Describe alternatives you've considered**
Using the existing GPIO driver and make calls to the config and write APIs.

[2018-11-26 06:31] nordic-krch commented on #11633
the issue is about missing debug message when you enable CONFIG_LOG_INPLACE_PROCESS? I think i didn't get another issue.

[2018-11-26 06:34] pfalcon commented on #11633
No, the issue is that: a) There's no way to make logging work in synchronous way via Kconfig; b) CONFIG_LOG_INPLACE_PROCESS which is supposed to do that (according to @carlescufi doesn't work as expected). In other words, CONFIG_LOG_INPLACE_PROCESS doesn't change the "deferred" behavior of logging.

[2018-11-26 06:36] pfalcon commented on #11633
To clarify more, for this issue, the actual output is:
[code]

instead of the expected:

[code]

[2018-11-26 07:44] nordic-krch commented on #11633
are you using shell?

[2018-11-26 07:51] gon1332 commented on #11513
This issue is fixed by https://github.com/zephyrproject-rtos/zephyr/pull/11628.

[2018-11-26 07:51] #11513 closed

[2018-11-26 08:14] pfalcon commented on #11633
The output above from `samples/net/echo_server`, and yes, it has `CONFIG_NET_SHELL=y`.

[2018-11-26 10:55] rmstoi opened #11649 "net: ipv4: Zephyr drops ethernet frame with a trailer"
Zephyr drops packet with an ethernet frame with a trailer (thus, whole packet is over 1500 octets). Linux replies correctly to this packet, as seem in attached pcap.

[ipv4-eth-trail-zephyr.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2615144/ipv4-eth-trail-zephyr.pcap.gz)
[ipv4-eth-trail-linux.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2615145/ipv4-eth-trail-linux.

[2018-11-26 12:05] ajaykish opened #11651 "Time consumption is not constant during the pend and unpend operation with 0(1) pending queue"
Time consumption is not constant during the pend and unpend operation with pending queue
while WAITQ_SCALABLE Configuration enabled.
As per expectation operations should happen in constant time to meet the O(1)
time complexity.
Measurement done with the help of #11650

Steps to reproduce the behavior:
cd tests/kernel/pipe/pipe_api/
mkdir build
cd build
cmake -D BOARD=qemu_x86 -GNinja ../
ninja run

[2018-11-26 15:12] pfalcon commented on #11649
I believe I was hit by this lately while developing a driver for new eth hardware. I'm not sure, because it's not clear what "ethernet frame with a trailer" is. In my case, HW returned frame with FCS and padded to uint32_t, and it was fed in Zephyr, and what I got from it is a confusing log message and no explicit indication that the packet is dropped.

[2018-11-26 15:12] pfalcon commented on #11649
(That's why I'm -1 on any changes which drop packets without logging.)

[2018-11-26 15:36] pfalcon opened #11655 "Alleged multiple design and implementation issues with logging"
It's the same story again (https://github.com/zephyrproject-rtos/zephyr/issues/11008, https://github.com/zephyrproject-rtos/zephyr/issues/11417) - logging doesn't log what's expected. Consider following snippet from ethernet driver ISR handler (i.e. it executes on packet reception) run in the context of `samples/net/echo_server`:

[code]

The output after startup followed the initial ping packet i

[2018-11-26 16:16] pfalcon commented on #11655
Ping to all active TSC members: @nashif, @galak, @carlescufi, @MaureenHelm, etc. I'm developing a new ethernet driver and last 2 weeks any more or less work session ended up hitting the wall with logging (see ticket refs above).

I tried to explain why I submitted https://github.com/zephyrproject-rtos/zephyr/issues/10769 and https://github.com/zephyrproject-rtos/zephyr/issues/10770: they were earl

[2018-11-26 16:34] rlubos opened #11659 "Network logging intrusive behavior"
Currently, network logger helpers (including logger module registration) are defined in `net/net_core.h`. This file is included implicitly by multiple other networking headers (for instance `net/net_app.h` or `/net/socket.h`.

This results in quite intrusive behavior of networking headers which expect that a module including them is already a user of the logger with defined `LOG_LEVEL`. Otherwise

[2018-11-26 23:24] teburd opened #11666 "Sensor Trigger User Data"
**Is your feature request related to a problem? Please describe.**
Currently there's no obvious way to attach user data to sensor trigger callbacks.

**Describe the solution you'd like**
Option 1: set_sensor_trigger should store the pointer to the trigger struct rather than copying it enabling the usage of CONTAINER_OF on the trigger pointer given in the trigger callback.
 Option 2: allow a user d

[2018-11-27 01:42] andrewboie commented on #11655
Under the assumption that there is a clean layer of abstraction between the logging API and the buffering/backend, why not have a Kconfig which can give the user a choice whether logging should be buffered/deferred, or done synchronously. We won't have to impose a buffer size on small devices in that case.

I think this is what CONFIG_LOG_INPLACE_PROCESS does?

Also as a side note, I'd like to lea

[2018-11-27 06:39] nordic-krch commented on #11655
yes, the issue is probably the buffer size but actual size of the buffer is hard to determine since it is dynamic - you enable debug level in one module and suddenly you need twice bigger buffer. We can improve reporting of such scenarios.

Well, that's you. When you have embedded application that has time critical parts that is a must and we seen applications being developed that would suffer by

[2018-11-27 07:04] b0661 opened #11670 "ci: unlicense misrated as non-permissive"
**Describe the bug**

PR #10885 contains a file that is licensed **"unlicense"** ( see https://spdx.org/licenses/Unlicense.html). This is a much more permissive license than apache-2.0.  It should not make CI fail.

**To Reproduce**

Add a file wirh "SPDX-License-Identifier: Unlicense" and run CI.

**Expected behavior**

CI license verification shall pass on  "SPDX-License-Identifier: Unlicense".

[2018-11-27 07:27] b0661 opened #11671 "ci: 'MIT' license verification fail on permissive license"
**Describe the bug**

PR #10885 contains files that are licensed **"mit"** ( see https://spdx.org/licenses/MIT.html). This is a much more permissive license than apache-2.0.  It should not make CI fail.

**To Reproduce**

Add a file wirh "SPDX-License-Identifier: mit" and run CI.

**Expected behavior**

CI license verification shall pass on  "SPDX-License-Identifier: mit".

**Impact**

CI of PR #1

[2018-11-27 07:59] ajaykish commented on #9861
Tested again and test is passing now.
Console log for passing test with  quark_se_c1000_devboard board:
[ajaykish@10-66-192-130 ~]$ sudo usbhid-dump -d 2fe3:0100 -es

Starting dumping interrupt transfer stream
with 1 minute timeout.

001:019:000:STREAM             1543326836.246900
 01 00

001:019:000:STREAM             1543326838.255044
 01 01

001:019:000:STREAM             1543326840.271056
 01

[2018-11-27 07:59] #9861 closed

[2018-11-27 08:06] pfalcon commented on #11655
Exactly, so only size we can use is conservative, and that's a lot (maybe of course not 16K, but say 5K isn't too little too).

Thanks. That would be indeed the baseline measure as argued above. But I wonder is there's enough experience collected already to take measures beyond that, so I'm really keen to raise this question for this week's TSC. Hope I'll do it right, and hope you can be there.

Y

[2018-11-27 08:34] ajaykish opened #11674 "Wrong assert condition @@zephyr/kernel/sched.c:345"
kernel.pipe.bench: assertion fails on qemu_x86, due to wrong assert condition at zephyr/kernel/sched.c:345
__ASSERT_NO_MSG(thread == _current ||  _is_thread_dummy(thread));
Issue found using the PR #11650

Steps to reproduce the behavior:
cd tests/kernel/pipe/pipe_api/
mkdir build
cd build
cmake -D BOARD=qemu_x86 -GNinja ../
ninja run

Console log:
starting test - test_bench
ASSERTION FAIL [thread

[2018-11-27 09:27] finikorg opened #11675 "Cannot set UART device name in menuconfig"
menuconfig option disappeared and now I cannot set specific UART for the console.

[2018-11-27 11:08] laperie opened #11678 "newlib pow function broken for galileo"
**Describe the bug**
Calling newlib's pow function consistently crashes Galileo
following call always fails:  pow(2,-3);

**To Reproduce**
Steps to reproduce the behavior:
1. Hello world sample
2. Apply diff  [pow-hello-world-diff.txt](https://github.com/zephyrproject-rtos/zephyr/files/2619600/pow-hello-world-diff.txt)
3. Build and flash for Galileo
4. Observe console output

**Expected behavior**

[2018-11-27 11:19] carlescufi commented on #11675
@finikorg can you paste the name of the Kconfig option that disappeared?

[2018-11-27 11:25] thomasstenersen opened #11681 "Mesh Friend does not reply within ReceiveWindow"
When using (for example) a receive window of 40ms (`CONFIG_BT_MESH_FRIEND_RECV_WIN=40`) the Friend is not able to reply to the LPN's poll within the receive window. Measuring over multiple polls, with a receive window of 40ms the friend replies between 20-60ms _after_ the receive window has ended.

This behavior is observed with the `samples/bluetooth/mesh` example (at `v1.13.0`) using `CONFIG_BT_

[2018-11-27 11:32] jhedberg commented on #11681
As discussed in Slack, this is largely because standard HCI doesn't give us good enough timing control for scanning and advertising. You're lucky that you're using a combined build, since having split host & controller with a physical HCI in between (e.g. over USB or UART) will likely make this even worse.

I think what we should do is to introduce a similar Kconfig variable for Friend as we have

[2018-11-27 11:55] jhedberg commented on #10143
That's surprising. I had to try it myself to believe it. BT_SETTINGS depends on snprintk(), which in turn is defined inside misc/printk.c. I thought misc/printk.c depends on CONFIG_PRINTK, but apparently not? Is that intentional? Before merging the patch to remove the dependency from CONFIG_BT_SETTINGS I'd like to have an answer to this question.

[2018-11-27 12:03] jhedberg commented on #10143
I just found the answer to my own question: take a look at `include/misc/printk.h`. When CONFIG_PRINTK is not set then all these functions (`snprintk()` included) get defined to empty static inline functions. So disabling CONFIG_PRINTK will still keep the build working, but it'll generate a broken image wrt BT_SETTINGS.

[2018-11-27 12:19] jhedberg commented on #11681
@thomasstenersen are you able to experiment to see if a fixed delay (let's call it e.g. CONFIG_BT_MESH_FRIEND_SEND_LATENCY) solves this for you, or if the latency you can see with sending the responses varies too much?

[2018-11-27 12:21] jhedberg commented on #11681
@thomasstenersen btw, I think we'd also need to have some code to ignore Friend requests if the LPN is requesting a ReceiveDelay that's smaller than the configured CONFIG_BT_MESH_FRIEND_SEND_LATENCY.

[2018-11-27 12:22] thomasstenersen opened #11682 "Mesh Friend replies to initial Friend Poll with "old" security credentials"
Occasionally, after terminating and re-establishing friendship multiple times, the Friend will reply to the LPN's initial Friend Poll with the credentials used in the previous friendship.

From the LPN's side we see
[code]

This is the standard `samples/bluetooth/mesh` example on `v1.13.0`.

[2018-11-27 12:30] carlescufi commented on #11675
`zephyr, console = &uartX` to change it now

[2018-11-27 12:32] thomasstenersen commented on #11681
@jhedberg Not able to do any experimentation on it right now, unfortunately, but it sounds like something that might help. The core underlying issue is, as you point out, the limitations of the HCI interface. In addition, the Friend needs to be able to essentially preempt the outgoing packet queue to be able to always meet the deadline of the ReceiveWindow. Otherwise the ability of the Friend to m

[2018-11-27 12:40] jsplyy opened #11683 "Invalid hyperlink in some README pages"
**Invalid hyperlink in some README pages**

**To Reproduce**
Steps to reproduce the behavior:
1. https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/hci_uart#id1
2. https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/beacon

**Expected behavior**
link is invalid in these read pages.
![image 2](https://user-images.githubusercontent.com/3600912/49082416-

[2018-11-27 12:41] jhedberg commented on #11681
@thomasstenersen it's not a problem for LPN or any other Mesh messaging since I think Friend is the only one with very strict requirements on when a packet should be going out over the advertising bearer. An LPN can send a packet at any time, as long as it doesn't do it too close to the Friend Timeout expiring (e.g. Zephyr starts sending Friend Updates well in advance because of this).

[2018-11-27 12:42] jhedberg commented on #11681
@thomasstenersen this is also why I'd make the new Kconfig option Friend-specific rather than having something more generic.

[2018-11-27 13:09] thomasstenersen commented on #11681
@jhedberg I might have been a bit unclear. I don't see a real problem for the LPN or normal mesh transmissions. But for the Friend, the problems are
- poor control over advertisement timing, e.g., "I want to send packed `PDU` at time `X`"
- lack of preemption for Friend PDUs. If you receive a Friend Poll, you need to be able to transmit a PDU at a given point in time, but you don't know what else

[2018-11-27 13:59] carlescufi commented on #11683
This is not an invalid link. We use `rst` to format documentation but GitHub doesn't render it properly. Instead of browsing it on GitHub, you should browse it on the documentation website:

https://docs.zephyrproject.org/latest/samples/bluetooth/beacon/README.html

[2018-11-27 13:59] #11683 closed

[2018-11-27 14:00] carlescufi commented on #11683
@jsplyy thanks for reporting, I am planning to add a FAQ in the docs and I will include this.

[2018-11-27 14:23] pfalcon commented on #11651
@andyross, @andrewboie: FYI.

[2018-11-27 14:34] jsplyy opened #11688 "hello world build fail on windows power shell"
**hello world build fail on windows power shell**
![image 3](https://user-images.githubusercontent.com/3600912/49088569-7e216700-f294-11e8-8cbb-32df1da82601.png)

Have installed cmake ninja and armgcc, still build fail, do not know how to do.

[2018-11-27 14:37] jsplyy opened #11689 "How to be compatible with python2 on windows"
**How to be compatible with python2 on windows**
I have enable python3 env for zephyr, but it still find python2 in my PC when start to build project. How to config?
Thanks
![image 5](https://user-images.githubusercontent.com/3600912/49088739-e40dee80-f294-11e8-963a-d8510159add7.png)

[2018-11-27 14:38] jsplyy commented on #11683
Thanks a lot. @carlescufi

[2018-11-27 14:42] jeremy-e-mills commented on #11586
@agansari: I'm afraid it also does not work for me. I based on commit 2d6a226, built the dumb_http_server and there is no Ethernet activity, both leds are permanently on, no blinking. It does not generate any response to ARP broadcasts for its IP address.
If I build and run the echo_server sample, this shows the same behaviour, however it sends a broadcast ARP request when I ping out from the boar

[2018-11-27 15:00] agansari commented on #11586
@jeremy-e-mills have you cleaned the build folder workspace after rebase? Sounds like the old behavior.

cd ~/zephyr/samples/net/sockets/dumb_http_server/build
cd .. && rm -rf build && mkdir build && cd build
cmake -GNinja -DBOARD=mimxrt1050_evk ..
ninja debug

Works on my setup, if there are more issues, there maybe something with my setup.

[2018-11-27 15:23] jeremy-e-mills commented on #11586
@agansari: Yes, I cloned a fresh repository and also am building out of the zephyr tree as am using Eclipse for debug builds. I have deleted my build directories a few times and started again during the investigation. The same behaviour is observed with normal and Eclipse project builds, running XIP from hyperflash and SRAM.

If it's my setup then I'm currently out of ideas. The samples run fine o

[2018-11-27 15:30] SebastianBoe commented on #11688
Hi the environment variable ZEPHYR_BASE is not set.

https://stackoverflow.com/questions/47081317/zephyr-cmake-error

[2018-11-27 15:30] #11688 closed

[2018-11-27 15:33] agansari commented on #11586
@jeremy-e-mills I only tested with code in TCM memory, don't think XIP works at all. Does your code reach:  mimxrt1050_evk_init() ?

[2018-11-27 15:53] jeremy-e-mills commented on #11586
@agansari: Yes, it does and I have stepped through the pinmux set up for the EMAC connections. Sorry, should not perhaps have confused things by mentioning XIP. When I want this I cheat by building for XIP in hyperflash with a 0x2000 text section offset. I then replace the first 0x2000 bytes with the contents of another file containing an XIP header binary file that I created by stripping the firs

[2018-11-27 16:15] pfalcon commented on #11586
@jeremy-e-mills: Just wanted to mention that I find your comments insightful, thanks for mentioned XIP and otherwise giving detailed info on steps you take. I'll try to join the debugging fun as soon as I can, feel a bit tired today, but hope to get to it tomorrow.

[2018-11-27 17:02] andyross commented on #11651
WAITQ_SCALABLE is O(log2(N)) in the number of threads.  MULTIQ is constant time (but has a very strict limit on the number of priorities).  DUMB is O(N).

The scatter seems very high though, I'll take a look.  Note that some of the MULTIQ numbers seem inapprioriately fast -- I really doubt you can get a thread unpended in 16 cycles even if it's a simple list remove.

[2018-11-27 18:39] pabigot opened #11694 "system clock problem on NRF52 boards"
I'm running a multi-sensor application on the pca20020 (Thingy:52), with a periodic display of data to UART.  I've driven the display both in a loop with a k_sleep, and with a k_timer.  In both cases, the display stops after eight and a half minutes.  This happens to correspond to the 24-bit wraparound of a Nordic RTC running at 32 KiHz (8:32.000 = 512 s = 2^24 ticks) .  Which is suspicious.

Disp

[2018-11-27 18:52] andyross commented on #11674
No, this code is correct.  You're allowed to pend yourself.  You're allowed to pend a DUMMY thread (becuase that somewhat ugly trick is used by the existing IPC code to "wake up" things that aren't threads).  You can't pend a third thread, becuase on SMP it might be running (or about to run).   This assertion is there to detect that.

[2018-11-27 18:52] #11674 closed

[2018-11-27 19:04] pfalcon commented on #11586
Ok, tested this now, and get the same picture as I described above: my laptop's Ethernet link active LED doesn't light up, i.e. it doesn't think there's a connection carrier.

@jeremy-e-mills : What about you in this case? Can you confirm that the peer sees cable connection between itself and the board? And can you describe your test setup?

[2018-11-27 19:11] pfalcon commented on #11586
So, what I'm doing is testing using samples/net/echo_server with ipv6 disabled. I then enabled:
[code]

And I saw log output below. And then suddenly I noticed that link LED on laptop is up! Still no pings though.

[code]

[2018-11-27 19:12] andyross commented on #11651
OK, took a look at the submitted code, but didn't get a chance to run it.

This isn't really testing anything useful.  When someone says "O(N)"
or "O(1)" or whatever, they're talking about scaling behavior as the
number of objects (suspended/active threads in this case) changes.

This test just tries four threads.  If you want to measure scaling,
you have to do it with dozens to thousands.

Also,

[2018-11-27 19:13] pfalcon commented on #11586
Btw, this is *the* output I get:
[code]

I would imagine there's a timing source bug somewhere, can you look into that, @agansari ?

[2018-11-27 19:19] pfalcon commented on #11586
@agansari : Btw, this else-if ladder doesn't look too right to me, what if there're multiple interrupts to serve, why make it call ISR again instead of serving all in one go?

[code]

[2018-11-27 19:22] pfalcon commented on #11586
I confirm that I see this behavior too.

[2018-11-27 20:00] pfalcon commented on #11586
So, link status goes up and down erratically for me - during startup of new debugging session, and not too often. For example, just got it down and can't recover so far.

[2018-11-27 20:03] MaureenHelm commented on #9962
Thanks!

I added it to the list.

[2018-11-27 20:05] #11136 closed

[2018-11-27 22:50] andrewboie commented on #11678
CPU Exception 7 happens when a floating point operation is enabled, but the FPU isn't activated. The pow() function requires the FPU internally, its args are doubles.

Is CONFIG_FLOAT turned on?
Also, if more than one thread uses the FPU, you'll also need to enable CONFIG_FP_SHARING.

[2018-11-27 23:07] pabigot commented on #11694
More information that may be relevant:
* An application that has just the periodic display code gets past 8:32:00 with no difficulties.
* In the failing application there are sensor triggers at 1 Hz, 7 Hz, and 10 Hz, all using work queues, all producing UART output, so there's a lot of interruption going on.
* Letting the application run I get periodic additional output (which displays system upti

[2018-11-28 07:42] erwango commented on #11373
@ydamigos , have you started? I should find some time to check it this week.

[2018-11-28 08:37] SebastianBoe commented on #11689
@jsplyy : If you look through the documentation for setting up a Windows environment you should find some reference to dtc.

[2018-11-28 08:37] #11689 closed

[2018-11-28 08:41] rmstoi opened #11698 "net: ipv4: Zephyr replies to ICMPv4 packets with incorrect checksums"
These packets should be dropped instead. Note that also checksum 0 is not valid for ICMP.

[icmpv4-bad-chksum2.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2623574/icmpv4-bad-chksum2.pcap.gz)
[icmpv4-bad-chksum1.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2623575/icmpv4-bad-chksum1.pcap.gz)

[2018-11-28 08:45] aurel32 commented on #11694
I have been trying to get OpenThread working on an nRF52840 dongle in the last days (I actually have a few pending patches to submit for it), and I have encountered this issue. Basically the network stops working after some time, but a few things like USB, and shell keep running. The other hand a simple thread toggling a led like in the blinky sample also stops executing at the same time the netwo

[2018-11-28 09:13] #11329 closed

[2018-11-28 09:13] #11489 closed

[2018-11-28 10:54] carlescufi commented on #11171
@jfischer-phytec-iot this does not happen with the nRF52840 DK. Could it be hardware related?

[2018-11-28 11:03] m-nilsson opened #11702 "Add support for nrfx i2s driver"
We would like to use the nrfx i2s driver. Is it possible at this time? If not, is it scheduled to be integrated in the near future?

[2018-11-28 11:19] pabigot commented on #11694
I don't think #11627 is due to the same issue, though there may be another clock issue that causes it (I'm not at all convinced k_busy_wait() being wildly inaccurate is isolated to Nordic hardware; that's just what I use).  Before reporting I tried reverting that patch and there was no change.  There's no direct evidence that the system clock is running at the wrong rate, just that it doesn't hand

[2018-11-28 11:33] aurel32 commented on #11694
Yes, in confirm that in my case, the problem happens in around 8 minutes, not 8 hours.

[2018-11-28 11:41] SebastianBoe commented on #11533
Not-a-bug.

"you need to explicitly set low power for the UART by calling device_set_power_state() [...] it is the application responsibility to do power management" -- @anangl

[2018-11-28 11:47] ashokkumar11 opened #11703 "sam_e70_xplained spi-loopback test breaks compilation"
SPI Loopback Test fails in sam_e70_xplained board.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=sam_e70_xplained ../
3. make
4. See error

[2018-11-28 12:12] jukkar commented on #11343
Not sure what is the issue here, but net_core.h will only call `LOG_MODULE_REGISTER(LOG_MODULE_NAME);` if NET_LOG_LEVEL is defined. The NET_LOG_LEVEL is only enabled in various network related .c files. There should be no issue including net_if.h anywhere in the zephyr code base.

[2018-11-28 12:21] jeremy-e-mills commented on #11586
The problem is with the PHY setup. I disabled the PHY reset in mimxrt1050_evk_init() and re-built. I then flashed into hyperflash a working Ethernet MCUXPresso project, confirmed LED activity and that it responded to pings. I then debugged the echo server sample project (which now no longer resets the PHY at start). The Ethernet now functions correctly, led activity ARP responses OK etc.

So, two

[2018-11-28 12:46] nordic-krch commented on #11343
@jukkar note that there is:
[code]
at the top of `net_core.h`.

There are workarounds for that in the code already (see example i've pasted above).

I think @rlubos also hit that issue recently.

I would recommend to move `LOG_MODULE_REGISTER` to .c files, especially that now compact version is supported:
`LOG_MODULE_REGISTER(module_name, CONFIG_module_LOG_LEVEL)`

[2018-11-28 12:48] agansari commented on #11586
@jeremy-e-mills
GPIO1.10 - ENET_INT from PHY to MCU (GPIO_AD_B0_10)
GPIO1.9 - ENET_RST from MCU to PHY (GPIO_AD_B0_09)

Let me understand, you dont pull the reset now and the PHY will work if it was previously correctly enabled by another firmware? If you run a demo that does not enable PHY before running sample project, does it still work?
I'll try this out as well, use MCUXPresso demos that do e

[2018-11-28 12:53] jukkar commented on #8187
Have you tried with native_posix board? Just wondering if this is something related to SLIP or serial connection, or if the issue is in other part of the networking stack.

[2018-11-28 13:10] agansari commented on #11586
@jeremy-e-mills i've found out why we have different results.

Scenario 1: power up, enet demo in hyperflash (txrx_trasfer) turns eth on, zephyr sample on iTCM used configured phy and works.
Scenario 2: power up, default demo in hyperflash (bubbles i think) does not turn eth on, zephyr sample on iTCM uses unconfigured phy and does not work.

I think this is why my results, yours, @pfalcon were dif

[2018-11-28 13:31] jukkar commented on #11659
The net_core.h will call `LOG_MODULE_REGISTER(LOG_MODULE_NAME);` only if NET_LOG_LEVEL is set, and it should be set only in one .c file before including net_core.h.
Can you point to sources which shows the error you mentioned?

[2018-11-28 13:38] #10652 closed

[2018-11-28 13:41] pfalcon commented on #11586
@jeremy-e-mills, @agansari: Idea that something which runs before a Zephyr app affects/interferes with PHY setup seems plausible.

FWIW, My SW7 DIP is set as: 0101. That's *not* the default which was set after I received board, I played with switches while I was trying to get mbed bootloader's USB mass-storage mode work.

[2018-11-28 13:43] jfischer-phytec-iot commented on #11171
I can reproduce it with `CONFIG_USB_DRIVER_LOG_LEVEL_DBG=y`. It seems that the VBUS_nRF floats and rises the interrupt mentioned above.

[2018-11-28 13:52] jeremy-e-mills commented on #11586
I was a bit mistaken earlier. I still have the working ethernet demo code in hyperflash, so the ethernet is active on boot. I re-enabled the PHY reset in the zephyr sample and ran it from iTCM and the ethernet still works.

Now will remove the code from hyperflash, power cycle board and run the zephyr code again. I expect that the ethernet will not work.

[2018-11-28 13:52] pfalcon opened #11706 "eth: e1000: Last-mile changes to make eth_e1000 work OOB with qemu_x86"
As of today's master, eth_e1000 driver, which added specifically for the purpose of using it with qemu_x86, doesn't work with "make BOARD=qemu_x86 run" out of the box.

The discussion of changes/fixes required to get it work OOB is spread around already closed PRs, so is hard to find. This ticket to created to reference previous discussions and continue them in a visible place.

[2018-11-28 13:53] pfalcon commented on #11706
The current status of investigation can be seen by reading comments starting from https://github.com/zephyrproject-rtos/zephyr/pull/11218#issuecomment-437893684 until the last comment there.

[2018-11-28 13:53] pfalcon commented on #11706
@ozhuraki, @jukkar: Let's move the discussion here.

[2018-11-28 14:02] jeremy-e-mills commented on #11586
As expected, with blinky running out of hyperflash on boot, PHY does not work with subsequent ethernet iTCM code.

[2018-11-28 14:10] pfalcon commented on #11586
@jeremy-e-mills: Good investigation work. So I guess, now it's time to think what's wrong with PHY initialization on mimx.

You guys have access to mcuxpresso samples and probably can compare stuff. I however would like to pose a question to @agansari: Why do we have #ifdef'ed differences in PHY initialization and handling on frdm_k64f vs mimxrt1050_evk, given that PHYs are the same?

[2018-11-28 14:11] aurel32 commented on #11694
In my case `CONFIG_TICKLESS_KERNEL=n` is enough to get the network working more than 8 minutes and 32 seconds. I have a board still answering to ping after more than 25 minutes.

[2018-11-28 14:17] pfalcon commented on #11706
@ozhuraki said in https://github.com/zephyrproject-rtos/zephyr/pull/11218#issuecomment-440664959:

The reason for this problem is that qemu instantiates e1000 on x86 with IRQ=10 in the presence of “-vga none -display none -no-acpi -machine type=pc-0.14” (although it's reported as IRQ=11 at PCI scan).

Could you please check if the fix/workaround (https://github.com/ozhuraki/zephyr/tree/eth-irq) wo

[2018-11-28 14:18] pfalcon commented on #11706
So, it does, thanks.

But I still think that getting rid of problematic `-machine type=pc-0.14` is a better approach.

[2018-11-28 14:21] pfalcon commented on #11706
@jukkar, so we have 2 choices to solve this issue:

1. Get rid of problematic `-vga none -display none -machine type=pc-0.14` options in qemu_x86 command line.
2. Apply DTS overlay to fix an apparent bug in (current versions of) QEMU.

IMHO, laying out paths to avoid bugs is better than working them around, so I'm strongly in favor of choice 1.

[2018-11-28 14:32] agansari commented on #11586
@jeremy-e-mills thank you for testing and debugging the issue it showed what's wrong with the current build.

@pfalcon  partially yes, look for KINETIS and IMX defines in eth_mcux.c
Even if the part is similar they are wired differently, i.e. in Kinetis the clock source is an xtal while i.MX is the clock source for the phy. Kinetis runs mostly on auto, while i.MX requires more PHY configuration, a

[2018-11-28 14:32] pfalcon commented on #11706
Actually, let me ask CI if that breaks anything else: https://github.com/zephyrproject-rtos/zephyr/pull/11710

[2018-11-28 14:42] jfischer-phytec-iot commented on #11171
The reverse leakage current over D6 charges the capacitor C61 until nRF USB detects "USB Powered", this in turn discharges the capacitor C61 and the whole thing repeats itself. This can only be fixed by desoldering  of the D6, but I suggest to just plug in the cable. Will be fixed in next hardware revision.

[2018-11-28 14:45] pfalcon commented on #11586
@agansari:

Ok, let's look at specifics: https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/ethernet/eth_mcux.c#L269

Why do you request read, but don't read value? Can MII controller get upset about that? Then the write is apparently clock source difference you're talking about.

But if they have different clksrc, they both still need to have it set up. Let's not rely on the default

[2018-11-28 15:19] rlubos commented on #11659
The problem is it isn't. In case when neither `LOG_LEVEL` nor `NET_LOG_LEVEL` are defined, we get:
https://github.com/zephyrproject-rtos/zephyr/blob/c43a116f4182e8848b55a7cd2d7788cc5a4f6338/include/net/net_core.h#L40

Which will make the following code in the header to register the logger module.

I don't have any code that I can share publicly at this point, yet the behavior described is fairly e

[2018-11-28 15:45] stanislav-poboril commented on #11465
@diegosueiro , @pfalcon , I can investigate it on UDOO Neo board once I will get to it.

[2018-11-28 16:02] carlescufi commented on #11171
Hardware issue

[2018-11-28 16:02] #11171 closed

[2018-11-28 16:17] oxymoron87 opened #11712 "Add support for newlib-nano"
**Is your feature request related to a problem? Please describe.**
Can't opt for linking with newlib-nano when choosing "(top menu) -> C Library -> Build with newlib c library"

**Describe the solution you'd like**
Ability to set newlib-nano option can dramatically decrease the size of project (in my case it is small C++ project with use of std::vector)
[code]

[code]
For now I've added **--specs=

[2018-11-28 16:34] ydamigos commented on #11373
@erwango yes, I did some work on it. You could find it [here](https://github.com/ydamigos/zephyr/tree/stm32-rtc). It compiles but it doesn't work on target.

[2018-11-28 16:50] sijohans opened #11714 "Building libsodium with arm-zephyr-eabi"
Hello,

I am trying to build libsodium (https://github.com/jedisct1/libsodium) to a zephyr project. However, i fail to configure it with arm-zephyr-eabi-gcc. I followed the example **samples/application_development/external_lib** and tried to add it as an external project. I manage to build it for the native_posix target but fails to build it for nrf52840_pca10056.

This is how i made it work for

[2018-11-28 17:03] erwango commented on #11373
ok, I finally started as well :-). It is [here](https://github.com/erwango/zephyr/tree/dev_rtc_counter_stm32). Not linking with Cube for some issue for now.
I took some options that could be discussed since new API doesn't fit nicely STM32 RTC IP, but out of our 2 initiatives we should manage to get through.

[2018-11-28 17:16] pfalcon commented on #11655
So, these issues were discussed at today's TSC meeting. The general response was that deferred logging is valuable and we want to "get it right", no give up on it. Fine, let's look into that. Current points then:

1. Get non-deferred logging to actually work (or teach people how to get it working, though again, the point is that it "should just work"), blocked by https://github.com/zephyrproject-r

[2018-11-28 17:20] #11485 closed

[2018-11-28 17:20] pfalcon commented on #11633
@nordic-krch: Any further comments here? Do you need more info, maybe exact reproduction steps? This happens with the work done in https://github.com/zephyrproject-rtos/zephyr/pull/11680 , and I posted it exactly to be able to refer to it in contexts like this. It doesn't reproduce this issue OOB (it's development of ethernet driver, not a break-the-logging usecase, after all ;-) ), but I can brun

[2018-11-28 17:51] carlescufi commented on #11714
CC @SebastianBoe

[2018-11-28 17:54] carlescufi commented on #11714
@sijohans since Zephyr also supports standard `arm-none-eabi-gcc`, have you tried switching from `ZEPHYR_TOOLCHAIN_VARIANT=zephyr` to `ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb` as described [here](https://docs.zephyrproject.org/latest/getting_started/toolchain_3rd_party_x_compilers.html#gnu-arm-embedded)?

[2018-11-28 19:00] #11706 closed

[2018-11-28 19:44] MaureenHelm commented on #11703
Fixed by #11704

[2018-11-28 19:44] #11703 closed

[2018-11-28 22:09] andrewboie opened #11717 "qemu_x86 's SeaBIOS clears the screen every time it runs"
Steps to reproduce:

Build and run any test case for qemu_x86.
Observe that the screen is cleared before the emulator prints any output.

Expected behavior:

Screen is not cleared

Impact:

This is VERY annoying when using 'sanitycheck -i' as we can't see a proper log of all the output of all the failing test cases.

Only QEMU on x86 seems to be affected.

[2018-11-28 22:42] andrewboie commented on #11655
[code]

Please close this and file specific bugs for each of these issues if bugs don't exist already.

Having one bug open where you just have a litany of complaints (with a grandiose title like "LOGGING CAN'T BE TRUSTED") isn't terribly helpful in getting these issues prioritized and resolved.

Thanks

[2018-11-28 23:02] pfalcon commented on #11655
@andrewboie, not reading description and previous comments and posting pundit-style comments isn't helpful either. Because there's a whole bunch of tickets already, and maybe time is indeed to take "grandiose" measures and do something with logging with bird's eye view of its issues in mind.

Otherwise, if you've got time to comment around, can you please spend it on replying to exactly specific t

[2018-11-28 23:17] andrewboie commented on #10911
If you don't think those calls should be there, remove them.

[2018-11-28 23:21] andrewboie commented on #10499
"user thread" is a thread that runs in user mode.

It's currently "supervisor thread".

I don't particularly care what gets used but AFAIK "userspace" is used to describe the overall memory protection feature and "user thread" is used to describe threads that run in user mode.

If you care passionately, send a patch. I have no strong attachment as long as everything is consistent.

[2018-11-29 03:59] karthikprabhu17 opened #11719 "Legacy MQTT sample app breaking"
**Describe the bug**
Whenever I tried to build a mqtt client application with mqtt legacy I get a log const error in linking.

../libapp.a(telit.c.obj):/Users/kprabhuv/new_zephyr/include/net/net_core.h:54: multiple definition of `log_const_LOG_MODULE_NAME'

What have you tried to diagnose or workaround this issue?
I tried using an older zephyr tree and it work. So i did a git bisect and found this

[2018-11-29 06:10] vikrant8051 opened #11720 "i2c: nrf5x: unable to write data in I2C slave"
Hello,

**Board:** nRF52840_PCA10056
**Demo eg. used for testing:** zephyr/samples/drivers/i2c_fujitsu_fram

**Changes made to make it compatible for nRF52840:**
1) In main.c, modified Device Driver name from **CONFIG_I2C_0_NAME** to **DT_I2C_0_NAME**
   (This was nowhere mentioned in any documentation)
2) Add following Kconfig in prj.conf:

Here I observed that we could read data from I2C slave b

[2018-11-29 06:14] spoorthik opened #11721 "tests/kernel/sched/schedule_api fails on nrf5* boards"
**Describe the bug**
The test case `test_slice_reset` in tests/kernel/sched/schedule_api failed on CI run but couldn't reproduce locally.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52_pca10040
3. make flash
4. See error

**Expected behavior**
All test cases should pass without any assert failure.

**Screenshots or console output**
[code]

**Envi

[2018-11-29 06:15] spoorthik commented on #11721
@inakypg @nashif @kumarvikash1: JFYI

[2018-11-29 06:30] spoorthik opened #11722 "tests/kernel/timer/timer_api fails on nrf52_pca10040 board"
**Describe the bug**
The CI run caught `test_timer_periodicity` test case failure in tests/kernel/timer/timer_api on nrf52_pca10040 board. This issue is sporadic and I couldn't reproduce locally.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD= nrf52_pca10040
3. make flash
4. See error

**Expected behavior**
All test cases should pass without any assert

[2018-11-29 06:45] spoorthik opened #11723 "tests/cmsis_rtos_v1 fails on nrf52840_pca10056"
**Describe the bug**
`test_kernel_systick` fails on nrf52840_pca10056 in CI run and I couldn't reproduce locally. The issue is sporadic.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52840_pca10056
3. make flash
4. See error

**Expected behavior**
All test cases should pass without any assertion failure or crash.

**Screenshots or console output**

[2018-11-29 07:38] nordic-krch commented on #11633
if shell is used then it is more complex. `INPLACE` feature of the logger defines the behavior of the logger and it will create log message and distribute it to all backends waiting for that message in place of log message call. It has no impact on log backend behavior. In that particular case shell runs it's own thread so when log message is received, it is enqueued and handled in the context of

[2018-11-29 08:08] pfalcon commented on #11633
Even hearing such statement, there's a warning bell that there's a design problem which introduced strong coupling between unrelated subsystems.

Well, it should.

So, this was discussed several times already, that logging and/or shell are trying to usurp place of a console and that it's not good, leading to various behavioral artifacts, e.g. like you described.

That's why initial attempt to do t

[2018-11-29 08:18] rlubos commented on #11719
Hi, I've faced the same problem with networking headers, and created a generic issue for that: #11659.

I assume you are trying to use a logger in a source file that includes some networking headers (`net_app.h`, `mqtt_legacy.h` etc.), hence `LOG_MODULE_REGISTER` is called twice. A workaround that works for me is to create logger instance before including any of the headers:
[code]
Defining `LOG_L

[2018-11-29 08:33] nordic-krch commented on #11633
Well, it should.

I see contradiction here. There is a very louse coupling between shell and logger. Logger gives log message to all backends that matched the filter and don't care what happens then. And you are asking for more coupling.

So your main issue seems to be that your logs get lost. In most of the cases it's a configuration issue and overflow reporting that should be improved. I would p

[2018-11-29 08:36] pfalcon commented on #11655
This was taken to the TSC, exactly because it's easy to get into "let's ignore and work around issues" behavior, and I'm quite along that way, as https://github.com/zephyrproject-rtos/zephyr/issues/11633#issuecomment-442742373 .

And the biggest bug so far is "how did we get to such problems in the first place", and this is to what this ticket is dedicated. And replies like https://github.com/zeph

[2018-11-29 08:43] pfalcon commented on #11633
No, I'm asking for a single global switch which would make logging work as a user expects, regardless of which backends are used.

Sounds good. But there're many issues in here. They're interconnected so far, and trying to decouple them is good idea. But even after that, asking for synchro logging and getting output not corresponding to the order of calls expected to do synchro output will remain

[2018-11-29 09:41] sijohans opened #11728 "Tracing down a hardfault on the nRF52840 board (Illegal load of EXC_RETURN into PC)"
Hello,
I'm learning about Zephyr and testing a simple application on native posix and the nRF52840_pca10056 board. It works well on the posix target but after some time (using BLE connection) i get a hard fault on the nRF52840 board.

[code]

Just wondering if you have any suggestion how to track what the source of this is?

[2018-11-29 10:18] pfalcon commented on #10911
That's exactly the kind of feedback I'm looking for, thanks! And thanks for expanding beyond the original "If you don't think those calls should be there, remove them.". So, I definitely have a stereotype thinking that usermode would work as in Linux, where an app starts in user mode right away. This is both inflexible thinking and pretty far from Zephyr model, we "applications" don't "start", but

[2018-11-29 10:41] sijohans commented on #11728
Thanks you, i guess i was in a bit of hurry. It turned up to be the stack size that was too small. Thank you. This issue can be closed.

[2018-11-29 10:41] #11728 closed

[2018-11-29 10:47] jukkar commented on #11343
Ok, good to know. I will try to figure out some sense to this and will send a PR asap.

[2018-11-29 11:07] trond-snekvik opened #11731 "Mesh friend doesn't forward packets to LPNs non-primary elements"
The Zephyr BT Mesh friend only forwards packets that
1. have their destination in the LPN's subscription list
or
2. [Are destined for the first element in the LPN.](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/mesh/friend.c#L1193)

This makes the friend queue reject packets that are supposed to go to non-primary elements. The friend module needs to store the LPNs

[2018-11-29 11:55] carlescufi commented on #11719
@karthikprabhu17 if #11659 covers the issue describe here please close this one.

[2018-11-29 12:04] jhedberg commented on #11731
That's a really good catch, thanks a lot for reporting it. The current implementation indeed doesn't do anything with the "number of elements" parameter in the Friend Request PDU. This should be too hard to fix. Do you already have a patch, or I should start working on it?

This also looks like a pretty severe oversight in the Test Specification, since I do think we've successfully run all PTS tes

[2018-11-29 12:48] trond-snekvik commented on #11731
That was fast!

I hadn't started on a fix, so I'll try the PR.

Looks like there's no test for this, we'll make an erratum.

[2018-11-29 13:32] trond-snekvik commented on #11731
The machine I'm on has an outdated dependency, so I'm blocked until chocolatey has fixed their system outage.

It's been down for a couple of hours, I'll check back once I have been able to test, but it may have to wait until tomorrow. The changes in the PR should do the trick if the subnet resolution worked out.

[2018-11-29 14:09] jukkar commented on #11343
@nordic-krch I have done this in various .c files
[code]

and removed the log level setting from net_core.h. But now I see
[code]

Am I suppose still declare LOG_LEVEL manually, or should the LOG_MODULE_REGISTER() do that automatically?

[2018-11-29 14:14] pabigot opened #11737 "[RFC]: moving to eliminate dts_fixup files"
DTS fixup files exist, as far as I can reconstruct, to bridge between names formerly used to specify device hardware resource assignments in Kconfig with names that are generated when the resource relationships are defined in device tree source files.  They are ugly, verbose, and fragile; in short, a source of errors and maintenance pain.

Work like #11707 gives a hint for how we can get rid of fi

[2018-11-29 14:17] trond-snekvik commented on #11731
Was able to run the fix, works great! 👍

[2018-11-29 15:29] PhilippFinke opened #11740 "LL_ASSERT in event_common_prepare in Zephyr v1.13"
Hey,

I'm currently running into a LL_ASSERT in event_common_prepare. I'm running Zephyr v1.13 on a custom nrf52840 board acting as a BLE peripheral. It seems that this issue already occurred in a later version of Zephyr (see https://github.com/zephyrproject-rtos/zephyr/issues/3287).

Can anybody help with this issue?

[2018-11-29 15:31] ntavish opened #11741 "mqtt_publisher sample not working with BLE IPSP and has outdated net setup/prj configs"
**Describe the bug**
MQTT publisher sample is stuck trying to connect over TCP.

Following is after making a change to fix a bug(?) which enables bt twice and quits after `EALREADY` is returned:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

Output:

[code]

(before earlier fix, it would simply exit `network_setup()` and not attempt to connect)

**Expected behavior**

Applicat

[2018-11-29 15:38] ntavish commented on #11741
CC @rlubos

[2018-11-29 15:55] #11731 closed

[2018-11-29 16:00] nashif commented on #11655
@pfalcon your style of opening multiple issues and cross linking them over and over again and using the issue system for open discussions is confusing and irritating.

This is an issue tracking system, not a forum or a mailing list. We need real bug reports with details how they can be reproduced and other information related to a specific bug to help resolve the issues, not open-ended rants that

[2018-11-29 16:02] diegosueiro commented on #11737
@pabigot,

One question came up in my mind.
Why do we even need to explicitly add an alias to generate a more "friendly" #define?
Maybe this could be generated automatically.

In my understanding, we should be using the alias to create meaningful names. For the FXOS8700 we could have an alias like `accel = &fxos8700;`, for example.

[2018-11-29 16:18] pfalcon commented on #11655
@nashif

Really? ;-) I'm taking a bad example from guys like laperie who open multiple issue and cross link them, e.g. https://github.com/zephyrproject-rtos/zephyr/issues/7591 .

As for "using the issue system for open discussions is confusing and irritating" - that's a hit. What else do you think issue systems are? For discussion of issues.

In the description the code snippet is provided. If you

[2018-11-29 16:29] pabigot commented on #11737
@diegosueiro I think you're proposing adding or substituting more generic aliases, instead of only an alias that conforms to the device name.  I don't have an objection to the adding, though if we do it should probably be from a specific set of standard aliases: e.g. always use `accelerometer` not sometimes `accel`.

Consider this:
[code]

Here we specify the device by function, but also by the `m

[2018-11-29 16:38] diegosueiro commented on #11737
@pabigot,

If we always want to have #defines like `#defines DT_AMS_CCS811_LABEL        DT_NORDIC_NRF_I2C_40003000_AMS_CCS811_5A_LABEL`, I think that this should be performed automatically, without needing to add an alias in the device tree.

Then the alias could be used by the user if he/she wants to generate a more meaningful/generic names.

[2018-11-29 16:40] sdrsdr commented on #11737
Aliases are super useful if you have two sensors with the same driver but on different buses or addresses

[2018-11-29 17:02] erwango commented on #11737
Fixup files are temporary solution waiting to be able to generate device driver code from device tree.

Requirements for this are here:
- https://github.com/zephyrproject-rtos/zephyr/issues/10904

Prototypes solutions:
- https://github.com/zephyrproject-rtos/zephyr/pull/10957
- https://github.com/zephyrproject-rtos/zephyr/pull/8561

Hopefully, once available, we'll get rid of (most of) the fixups.

[2018-11-29 17:11] jukkar commented on #11659
I am working on this and will try to figure out easy way to solve the issue. This issue is basically the same as #11343

[2018-11-29 17:31] pfalcon commented on #7587
@laperie: Do you agree with assessment above? Maybe we should close this to better track scope of other tasks?

[2018-11-29 17:31] andrewboie commented on #11655
You lecturing other people about attitude is irony on a cosmic level.

The amount of time you spent writing these walls of text would be better spent looking at the log code helping to fix it.

Meanwhile, since you are clearly in a lot of agony about this whole situation, I leave you with the world's smallest violin, playing you a sad, sad, song: 🎻

[2018-11-29 17:37] mike-scott commented on #11741
The various prj*.conf files look quite out-dated and probably need to be cleaned up a bit.

The new standard is to design a nice generic prj.conf file which gets used by default and then overlay-*.conf for various specialized cases.

[2018-11-29 17:37] pfalcon commented on #11741
@ntavish: Thanks for submitting this ticket, was looking to create one myself ;-).

So, @rlubos, the problem here is that this sample should not have stuff like `#if defined(CONFIG_NET_L2_BT)`. We have net_config subsys to handle networking setup.

Also from @mike-scott on IRC:

<hashcode> TBH, most of these settings could be cleaned up

[2018-11-29 17:41] andrewboie opened #11743 "logging: add user mode access"
We'd like to allow user threads to use the logging subsystem, at the moment only supervisor threads may log events.

How to do this will require some thought. We want to minimize latency and also ensure that garbage passed in will not present any opportunities to crash or compromise the kernel. We'd also like to use the same logging APIs in user mode, and not have a parallel set.

Further comments

[2018-11-29 17:44] pfalcon commented on #11655
May end up even worse waste of time if turns out that I'd pull it in the opposite direction the maintainer and other people want it to be. Need to sync up on the action plan first, waiting for responses from @nordic-krch (he apparently multitasks a lot too, everyone works hard to get that proverbial LTS out and not be ashamed of).

Thanks, appreciate it.

[2018-11-29 17:47] pabigot commented on #11737
10904 outlines design goals, not requirements (how would you verify "Code generation provided should be easy to maintain"?) and half the text describes a proposed solution using template-based code generation.

I was sorta hoping for something to explain why we aren't just walking a device tree blob at startup (using existing practice from Linux), or generating an immutable data structure with pre

[2018-11-29 18:09] mike-scott opened #11744 "Regression: nNRF52840 HW dies at 8 minutes 20 seconds in various samples using IPSP"
**Describe the bug**
During automated testing of the LwM2M client in master branch, a regression was noted on both reel_board and nrf52840_pca10056.  The board dies after 8 minutes and 20 seconds.   Other samples which aren't public also displayed the same behavior.  One was an MQTT and HTTP application.  All samples tested use IPSP network connection via BLE.

Bisection led to this commit:
baea22

[2018-11-29 18:12] andrewboie opened #11745 "logging: never leaves panic mode on fatal thread exception"
**Describe the bug**
If a thread crashes, the kernel can decide to hang the system, or just kill the offending thread. The log subsystem enters panic mode to flush the logs and emit the exception data synchronously, but if the thread is simply killed the log subsystem never leaves panic mode.

**Expected behavior**
If the thread is simply killed, an API call is made to leave panic mode immediately

[2018-11-29 18:16] carlescufi commented on #11744
Assigning to @pdunaj, @andyross and @andrewboie since this looks like a commit to the kernel code.

[2018-11-29 18:18] mike-scott commented on #11744
Updated w/ full log from nrf52840_pca10056 running lwm2m_client sample from master with no changes.

[2018-11-29 18:35] andyross commented on #11744
Huh... that patch fixed a real bug, so it can't just be reverted.  This is for sure a rollover condition.  This is a 16kHz clock, right?  So a signed rollover is going to happen at 2^23 bits, or just about exactly eight and a half minutes.  I'll take a look, though @pdunaj  is likely to see it first.

Note that I have another rework in progress of this area to prevent the "set timeout on idle" beh

[2018-11-29 18:40] carlescufi commented on #11744
@andyross I think this is [a 32KHz clock](http://infocenter.nordicsemi.com/topic/com.nordic.infocenter.nrf52/dita/nrf52/development/nrf52840_pdk/hw_block_diagram.html?cp=2_0_3_7_1)

[2018-11-29 18:57] aurel32 commented on #11744
I guess this bug is a duplicate of #11694.

[2018-11-29 19:08] andyross commented on #11744
Hah, even better as it can be an unsigned overflow.

Oh!  And I see you literally just pushed a patch.  Yeah, that looks like it exactly.

[2018-11-29 19:09] andyross commented on #11744
(Though AFAICT that bug predates @pdunaj 's patch mentioned above.  @mike-scott are you sure about that bisection?)

[2018-11-29 19:15] karthikprabhu17 commented on #11719
@rlubos @carlescufi : thanks for the quick reply. I will follow the generic issue #11659

[2018-11-29 19:16] mike-scott commented on #11744
@andyross Absolutely.  I spent quite some time working through the commits.  And this bug reproduces perfectly every time.

[2018-11-29 19:43] andrewboie opened #11749 "logging: default log thread priority is too high"
**Describe the bug**
The logging thread currently has a default priority of -2, which is a fairly high non-preemptible priority.

**To Reproduce**
Kconfig inspection

**Expected behavior**
The logging thread should default to something very low. K_LOWEST_APPLICATION_THREAD_PRIO would be a good default. Do we even need this to be a tuneable parameter?

**Impact**
Advantages of deferred logging are

[2018-11-29 20:24] andyross opened #11751 "Rework exception & fatal error handling framework"
We need a redesign of the error handling API.  Right now, most architectures **try** to do this in some kind of fancy way, but in fact nothing actually tests any of that stuff and everything is either unexercised or incompatible.

Working up a x86_64 implementation, I found that all that's actually required and tested is:

+ _NanoFatalErrorHandler gets called with only three "reason" values (STACK

[2018-11-29 20:31] andrewboie commented on #11751
+1000

Eager to help with this. I've been wanting this to be common code for a long time.

[2018-11-29 20:32] inakypg opened #11752 "tests/lib/ringbuffer: build error on Xtensa ESP32"
Commit ID 2b1d54e897fed4cf1de7c641408f3d90676c31bc

ESP-IDF https://github.com/espressif/esp-idf.git commit dc8c33892e0 and b2ff235bd00

[code]

Full log

[code]

[2018-11-29 22:11] nashif commented on #11749
I vote for this to be fixed and not configurable.

[2018-11-29 22:33] vanwinkeljan opened #11754 "NRFX TWI driver does not compile with newlib"
**Describe the bug**
When newlib C library is enabled the NRFX TWI driver fails with a build error.
Note that this will also impact TWIM version of the driver and NRFX QDEC driver.

Problem is caused by usage of ```static_assert``` in ```I2C_NRFX_TWI_DEVICE``` macro

Solution is to use ```BUILD_ASSERT_MSG``` instead.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir samples/sensor/ms5837

[2018-11-29 22:45] andyross commented on #11261
That sounds wrong for sure.  What's possible reason would there be for leaving any interrupts at all masked when issuing a WFI instruction?

Note that k_cpu_idle() has a funny API -- it's called with an irq_lock taken, but has to release it before returning.  Is it doing it in the wrong order on ARM (i.e. WFI then irq_unlock() instead of the reverse)?

That said, I can't imagine this is that simpl

[2018-11-29 22:47] andyross commented on #11261
Yeah, this is the relevant code from arch/arm/core/cpu_idle.S: it looks correct to me, affirmatively setting BASEPRI to zero before hitting the wfi.  How do you know that interrupt priority is the problem?  Are you hitting a WFI from some other place in the code?

[code]

[code]

[2018-11-29 23:56] pabigot commented on #11720
See #11612.  Looks like the i2c-fujitsu_fram code uses i2c_transfer, which does not send both the register and the payload in the same transaction.

[2018-11-30 01:30] bublover opened #11759 "DHCP is not supported by zperf sample"
**Is your feature request related to a problem? Please describe.**
DHCP could not be supported by zperf sample. Right?

**Describe the solution you'd like**
Do you have any plan to add it ? Or Can I be a contributer for this?

**Describe alternatives you've considered**
If needed, I could improve it and fix parts of bugs.

**Additional context**
I'm working for UNISOC cooperation. We are doing ups

[2018-11-30 05:35] mnkp commented on #11261
My issue concerns strictly _sys_soc_suspend() function, part of the System Power Management interface. In this case k_cpu_idle() is never called, rather the SoC provides its own implementation of an idle function.

Setting a breakpoint at the entrance of _sys_soc_suspend() function I can see that the BASEPRI register has value 0x20. In case of EFR32FG1P SoC NUM_IRQ_PRIORITY_BITS=3. So only three M

[2018-11-30 05:42] ntavish commented on #11744
I saw this with MQTT sample also. Logging completely stops, but if after it stops, you connect BLE and do IPSP stuff, the networking is still working, can ping to the device, and I am still getting stack init logs like `prio recv thread stack (real size 448): unused 188      usage 260 / 448 (58 %)`.

[2018-11-30 06:36] vikrant8051 commented on #11612
@pabigot Thanks for linking #11720

[2018-11-30 06:45] pfalcon commented on #11007
That would be the best way to explain it to the end users indeed. The only concern is that the logging message may change over time ;-). But I'd still take what you propose as is, so all that content appeared in Zephyr docs and was searchable by users.

So, I assume we agree and I'll add that to https://github.com/zephyrproject-rtos/zephyr/pull/11735

[2018-11-30 06:46] nordic-krch commented on #11007
@pfalcon 👍

[2018-11-30 07:02] nordic-krch opened #11763 "logger drops log messages without any indication"
**Describe the bug**
When logger is extensively used it may happen that new log message cannot be allocated. There are two options for the logger to react `LOG_MODE_OVERFLOW` or `LOG_MODE_NO_OVERFLOW`. If overflow is enabled then oldest logs are dropped. There is no indication of that so user may get confused by the log content and do not know that internal logger buffer should be increased

**To

[2018-11-30 07:02] nordic-krch commented on #11763
Originates from #11655

[2018-11-30 07:03] nordic-krch commented on #11763
fyi @pfalcon @andrewboie @nashif

[2018-11-30 07:39] diegosueiro commented on #11465
@pfalcon and @stanislav-poboril ,

I found the issue with the console echo sample app:
[code]

Later I'll test on the shell module sample app.

[2018-11-30 07:47] pfalcon commented on #11465
Oh damn, my fault. Thanks for investigating it!

[2018-11-30 07:50] pfalcon commented on #11763
User should be warned about that situation.

As argued in https://github.com/zephyrproject-rtos/zephyr/issues/11655, there should be 2 choices:

1. warn user about about the situation (i.e. produce a suitable log message)
2. switch to truly sync mode in this case

I'm fine if this ticket is dedicated to just p.1, p.2 is then tracked in #11655.

[2018-11-30 07:53] rlubos commented on #11741
The fact is BLE stuff in the sample might be outdated, I did not touch it at all during the MQTT update. Will look into this.

[2018-11-30 07:59] pfalcon commented on #11741
It *is* outdated, as mentioned, stuff like that was replaced long ago by net_app_config which was replaced by net_config. It seems to have some display hacks, like rotating progress indicator waiting for BLE conn, so will be hard to remove ;-).

[2018-11-30 08:36] nordic-krch commented on #11763
There are two options: notification vs polling.
- add `log_drop_count_get()` to logger api. Backends asks about current drop and reacts (e.g. reports every log losted, or asks periodcally). It's up to backend what to do with that information.
- extend backend API with log_dropped() call. Similar thing. Backend gets notified and reaction is up to it.

I'm leaning toward notification as polling woul

[2018-11-30 08:45] pfalcon commented on #11763
I'm sure people with more knowledge of logging impl will comment. I know little about it so far, and all the above sounds complex to me.

My thinking would be along the lines of: Is logging buffer global or per-backend? If per-backend, d'oh, need to duplicate solution for each. Otherwise, when adding a new entry, see if too little space is left, and if so, instead of adding the requested entry, lo

[2018-11-30 08:46] #11759 closed

[2018-11-30 08:53] nordic-krch commented on #11763
The message pool is common for the logger, then log message is passed to all backends (after filtering if runtime filtering is enable). Reference counter in the message makes sure that when last backend releases the message it is returned to the pool.

yes, i want to avoid allocating 'dropped log' message as it can get lost as well. Dedicated indication is lightweight and leaves to the backend how

[2018-11-30 08:54] pdunaj commented on #11744
@mike-scott , @andyross , bug that was fixed by the commit mentioned caused delayed work to be not executed. It could be that in the code there was something that was simply not running and now it is allowed to execute and behavior changes. If it is so it should be relatively simple to track down.

[2018-11-30 09:29] pfalcon commented on #11743
Minimizing latency is always good, but I guess for userspace it's not the same stringent constraints as for kernelspace (where @nordic-krch quotes 250 cycles to log a message, etc.), where number of tricks and optimizations are used to achieve that. For userspace (which is "slow" anyway) hopefully the main requirement is that it just works and easy to maintain, i.e. no those macro meta-programming

[2018-11-30 09:29] erwango commented on #11737
Well, we want to keep footprint as small a possible. And the only blob might just fill the memory space for some of the devices supported. Besides, the parsing code would occupy memory as well. This is why we're looking for a solution that would do the parsing before build time.

[2018-11-30 10:06] ntavish commented on #11741
Take a look at this #11765, it doesn't handle connecting properly is BT is not connected, but it does connect if you are fast enough in connecting after boot.

[2018-11-30 10:48] pabigot commented on #11737
Thus the next part you didn't quote:

which may or may not be what those proposed solutions are doing.

More importantly it seems there's disagreement on whether aliases are the right solution.  Alternatives of generating `DT_foo` symbols based on node `label` properties as suggested by @diegosueiro are a possible approach that would require small enhancements to existing tooling and would produce

[2018-11-30 11:18] #11678 closed

[2018-11-30 11:19] laperie commented on #11678
@andrewboie  you were absolutely right! FPU was not activated for Galileo (in a GPTP example). I wonder if we need to enforce it whenever NEWLIB is enabled..   But closing this issue for now.

[2018-11-30 11:32] jhedberg commented on #11681
I've hooked up a logic analyzer to an nRF52840 PDK, enabled `CONFIG_BT_CTLR_DEBUG_PINS=y`, and modified some of the debug pins to map to host-side behavior. My findings are as follows:

 - It takes 40-60ms from the host issuing a bt_le_adv_start() until the controller actually transmits the first advertising packet. This implies that if we introduce a FRIEND_SEND_LATENCY Kconfig option the default

[2018-11-30 11:35] jhedberg commented on #11681
One other note: the Friend PDUs are defined to be transmitted only once (see FRIEND_XMIT in the beginning of mesh/friend.c), however based on my findings you'll at least sometimes get two transmissions by the controller, perhaps your worst-case was your receiver catching the second one?

[2018-11-30 11:49] erwango opened #11767 "tests: counter api: Failed when MPU enabled"
**Describe the bug**
in https://github.com/zephyrproject-rtos/zephyr/pull/11729,
tests/drivers/counter/counter_basic_api throws a MPU Fault when MPU is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. CONFIG_ARM_MPU=y
1. mkdir build; cd build
2. cmake -DBOARD=nucleo_f746zg
3. ninja flash
4. See error

**Expected behavior**
Test runs as when MPU is disabled

**Impact**
Can't test coun

[2018-11-30 12:42] sijohans commented on #11714
If my cmake script looks like this:
[code]

Then i run cmake, and then when i try to make it:
[code]

And if i check config.log in the libsodium directory:
[code]

This is what fails:
[code]

It seems to be the posix_cheats.h that causes the errors. I'll dig into this also with arm-zephyr-eabi and see what the problem might be.

[2018-11-30 12:44] sijohans commented on #11714
With the arm-zephyr-eabi compiler:
[code]
I didn't find any settings like the one i CMake you can use (COMPILER_WORKS)

[2018-11-30 13:02] auschel opened #11770 "Multiprotocol feature for BLE/Thread"
Hello

I'm currently working on a project which should achieve the following: A node works as a low power Thread end device, while also be able to establish a BLE connection with a smartphone for configuration purposes. The idea is that Thread and BLE use the same radio concurrently. As far as i've seen, i have to completly deinitialize one stack and initializing the other in order to achive a com

[2018-11-30 13:31] chtavares592 opened #11771 "Update the sample/net/coap_client"
I'm developing an application in coap and I use the master of zephyr. I wonder if it would be possible for someone to update the sample from net / coap to coap_sock. So that I can base and apply the changes on my application. Thank you

[2018-11-30 13:48] rveerama1 commented on #11771
This coap_client sample (https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/coap_client) is based on COAP_SOCK.

[2018-11-30 13:51] #11771 closed

[2018-11-30 14:05] #11694 closed

[2018-11-30 14:05] #11744 closed

[2018-11-30 14:13] carlescufi commented on #1583
CC @utzig

[2018-11-30 14:14] carlescufi commented on #2811
@andyross still relevant?

[2018-11-30 14:14] carlescufi commented on #2544
Not relevant anymore

[2018-11-30 14:14] #2544 closed

[2018-11-30 14:15] Puchinger opened #11773 "Add Bluetooth support for Silicon Labs EFR32MG12"
I would like to use zephyr on the EFR32MG12 from Silicon Labs to build a Bluetooth Mesh Network.
Is there a way to use Bluetooth on EFR32MG12 which I have overlooked?
If not will there be a support in the near future?

Thanks
Thomas

[2018-11-30 14:18] pizi-nordic commented on #11743
I thought about a bit different approach:

1. Keep the logger core in kernel as is.
2. Add "Userspace" backend, which will render and forward rendered messages to userspace.
3. Create userspace version of the logger. IMHO this should be possible by abstracting logger data structures.
4. Use dedicated frontend to communicate with kernel logging.

So data flow from userspace will look like this:
LOG

[2018-11-30 14:18] carlescufi commented on #11773
@Puchinger this is not possible unless Silicon Labs provides a library or register descriptions. I encourage you to ask them directly.

[2018-11-30 14:36] vanwinkeljan commented on #2748
Related to #6709

[2018-11-30 14:43] jhedberg commented on #11681
Added @cvinayak as a second assignee, since based on my analysis this may need tweaking both on the controller and host side.

@thomasstenersen one thing I discovered is that I can reduce the time it takes for the controller to get an advertising packet transmitted by enabling the following in prj.cont:
[code]

With that change the time to transmit gets reduced roughly by a scan window (which with

[2018-11-30 15:12] andyross commented on #11261
I guess I'm not understanding the complaint.  It's not the kernel's job to match interrupt masking to the needs of the HAL.  The kernel uses BASEPRI for interrupt locking, documents that, and calls the suspend function (not the idle loop, sorry, I misunderstood that part) in the state it claims, correctly.

If the platform has different requirements, it's surely the platform's job to implement tha

[2018-11-30 15:53] pdunaj commented on #10186
We are still hit by this...

[2018-11-30 16:00] #11179 closed

[2018-11-30 16:05] #11007 closed

[2018-11-30 16:31] andyross commented on #2811
Technically yes.  I didn't change the basic algorithm, so we have the same kind of performance behavior (i.e. computing the remaining time on a timeout is O(N) in the number of active timeouts).   It would be possible to do here what we do in the scheduler and have multiple backends such that we could use a rbtree if needed for higher code size and constant factor performance but log time scaling.

[2018-11-30 16:34] pdunaj commented on #10186
Fixing this is not trivial really. We changed the application to have one callback for all pins we use. This should do the trick.
I still believe it should be fixed but we will not be affected anymore. If somebody else is hit by that they can do what we did.

[2018-11-30 16:48] andrewboie commented on #11743
Yeah I think this makes the most sense.

[2018-11-30 18:32] pabigot opened #11779 "watchdog sample application not being built on Nordic devices"
In PR #10377 the nrf infrastructure switched to using a device tree alias for watchdog, including changing the dts_fixup to use `DT_WDT_0_NAME`.

Unfortunately the change was isolated to the Nordic driver code, with a consequence that `samples/drivers/watchdog` no longer builds on Nordic hardware.  All other platforms that support watchdog are still using `CONFIG_WDT_0_NAME`, as does the driver AP

[2018-11-30 18:59] #11749 closed

[2018-11-30 19:09] andrewboie commented on #11743
@pizi-nordic so the more I think about it, I'm pretty convinced that rendering the log strings will need to be done at the log call site, due to the potential for bugs or abuse with "%s".

- The calling thread may not have access to the memory pointed to by the %s pointer. If a log thread does the rendering, the memory will be accessed based on the log thread's memory domain configuration and not

[2018-11-30 19:12] andrewboie commented on #11743
No, our customers have pretty strict latency requirements on the overhead of making system calls, for example. The code paths need to be tightly optimized.

What specifically are you talking about? Do you feel we are doing something unnecessarily?

[2018-11-30 19:16] vikrant8051 opened #11780 "Bluetooth: Mesh: initialisation delay after disabling CONFIG_BT_DEBUG_LOG"
It is found that we have to have enable CONFIG_BT_DEBUG_LOG=y
then only Mesh initialization happens within second otherwise it takes around 10+ seconds. This bug has introduced after latest new logging subsystem.

**To Reproduce**
1) flash samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app in nRF52840_pca10056
   with CONFIG_BT_DEBUG_LOG=n (it is by default disable as per current prj.conf)
2)

[2018-11-30 19:50] pfalcon commented on #11743
No, I just consider logging implementation relatively complex.

Anyway, if there's a requirement for both userspace/kernel split **and** minimal latency/overhead when doing syscalls, well, will keep this fact in mind. Because IMHO the obvious way to get minimum overhead is to not use syscalls at all with all their TOCTOU workaround overheads, etc.

[2018-12-01 00:01] cvinayak commented on #2920
@derchrismakaio this is the clock source for system timer (NRF_RTC), < 1uA active consumption, 400uA could be other peripherals not powered down.

We dont turn off this clock, unless going into system off, and a wake up source that does not need LFCLK is used.

This issue should be closed and new one be created when there is a functional requirement to turn off LFCLK.

[2018-12-01 14:12] pabigot commented on #10904
I'm not thrilled with this use of the `label` property which is standardized as "The label property defines a human readable string describing a device."  Normally this would be something like `"green:inet"` for an LED  or `"Volume Down"` for a button.    For zephyr something like `"High-accuracy accelerometer"` or `"On-board temperature sensor"` would be useful, but not available if we co-opt tha

[2018-12-01 14:33] gofortime opened #11789 "Can zephyr BLE mesh support up to 10KB/s p2p throughput?"
Hi,

Recently I am investigating on adopting a possible BLE Mesh solution in my project. Just found there is BLE mesh support in zephyr now. I am wondering how many nodes can zephyr mesh support? And how about the throughout in point-to-point transfer (e.g. can it support up to 10KB/s throughput in BLE mesh OTA)?

Thanks in advance for any answer to this question. It'd be better if any document or

[2018-12-01 14:36] derchrismakaio commented on #2920
@cvinayak I'm running the nrf52_power_mgr sample, everything except GPIO disabled, but I still see 380uA. Another strange thing is that it makes no difference whether I selected RC or Crystal, although there definitely is a crystal on board

[2018-12-01 14:44] derchrismakaio commented on #2920
alright, I've switched to OS level power management and now I see 35uA. Way better :)

[2018-12-01 17:10] ekarlso commented on #11773
@carlescufi RAIL lib I guess ?

[2018-12-01 17:16] jhedberg commented on #11789
The specifications are available here:

https://www.bluetooth.com/specifications/mesh-specifications

[2018-12-01 17:37] #11754 closed

[2018-12-01 21:00] mnkp commented on #11261
Obviously, I may have misunderstood the concept. However, for now, I'm quite confident that the implemented behavior of the kernel's code is not the intended one. To clarify that I would like to ask two questions:
1. What the kernel hopes to achieve by disabling interrupts using BASEPRI register?
2. Is user expected to enable interrupts before calling the WFI instruction?

[2018-12-01 23:08] andyross commented on #11261
It's for mutual exclusion.  You absolutely have to have interrupt locking as an OS primitive.  This is the mechanism chosen (it's true that ARM has several -- I'm not expert enough to tell you why BASEPRI specifically was chosen as the irq_lock() implementation).

In particular, an idle/suspend implementation absolutely has to be atomic -- you can't decide to go to idle with interrupts enabled, be

[2018-12-02 12:14] jarz-nordic opened #11792 "drivers: nrf: UARTE interrupt driven cannot be compiled"
Interrupt driven API for UARTE driver is causing compilation errors.

**To Reproduce**
Try to build hello world sample for nrf52840 with interrupts support. Default DT settings and UARTE selected via Kconfig.

**Expected behavior**
Application compiles and works.

**Impact**
showstopper

[2018-12-02 13:00] yashi opened #11794 "cmake: CMake 3.13 doesn't like INTERFACE with target_link_libraries"
**Describe the bug**
CMake 3.13 start complaining about CMP0079: `target_link_libraries()` allows use with targets in other directories.

**To Reproduce**
Just make for some board.

**Expected behavior**
No warning while build

**Impact**
It builds fine but prints the warning a few times.

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS:

[2018-12-02 13:34] gofortime commented on #11789
Hi Johan, thanks a lot for the detailed information. This is very helpful for my evaluation.

[2018-12-02 22:26] nicber opened #11798 "A thread may lock a mutex before it is fully unlocked."
**Describe the bug**
My team was trying to get Zephyr 1.13 to run on a RISC-V soft core we designed and implemented for the RISC-V Contest https://riscv.org/2018contest/ when we hit a bug in Zephyr.
After running the philosophers sample for some time the kernel fails like this:

`ASSERTION FAIL [mutex->owner == _kernel.current] @ /usr/local/share/zephyr/kernel/mutex.c:215:`

The issue is in this p

[2018-12-02 22:30] nicber commented on #11798
[code]

This patch works for me.

[2018-12-03 06:46] b0661 opened #11801 "test: unittest: run for 32bit architecture breaks test"
**Describe the bug**

Commit 200da3a forces CMAKE_C_FLAGS to "-m32". This prevents to use a 64bit compiler (and 64bit libs) in other solutions to work around the log.h problem.

**To Reproduce**

Run a 64bit only compiler suite on unit tests.

**Expected behavior**

A unit test shall be able to prevent "-m32" to be set in  CMAKE_C_FLAGS.

**Impact**

Unit test that depends on test environment libr

[2018-12-03 07:13] m-nilsson commented on #11702
I have managed to use the nrfx i2s driver with zephyr but I am still curious to know if it is planned to be included in a future release.
And it would be nice if the higher level i2s api in zephyr would support interrupt driven i2s with a callback fired when more data is needed, like the nordic driver.

[2018-12-03 07:14] jarz-nordic commented on #11792
I think that UART/UARTE selection shall be only in one place: DT to avoid such errors.

[2018-12-03 08:20] rlubos commented on #11741
Closing as this got fixed by #11765.

[2018-12-03 08:20] #11741 closed

[2018-12-03 08:38] SebastianBoe commented on #11714
Ah, when it was said ", it will fail in the configure step when detecting if the compiler works. "

I thought you meant when Zephyr tests the compiler, but it fails when the libsodium build system tests the compiler.

I can't comment on how to build libsodium, but if you can figure out what the libsodium build system needs from Zephyr's build system, then I can help you with how to make Zephyr exp

[2018-12-03 09:12] finikorg commented on #11016
Could you check with the fixes for Control endpoint? Basically before you were not able to send more then 64 byte to control endpoint which is HCI commands are using. PR #11713

[2018-12-03 09:35] avisconti commented on #9962
@MaureenHelm
Ticked lis2dh in the list above and moved on lis3dh.

[2018-12-03 09:38] #8796 closed

[2018-12-03 10:20] carlescufi opened #11803 "USB conformance tests"
There are 2 sets of USB conformance tests that the Zephyr USB stack should be compliant with:

* [USB3CV tool](https://www.usb.org/usb32tools). This is part of the official USB-IF set of tools
* [Linux usb-test](http://www.linux-usb.org/usbtest/). This is a set of tests written to verify the conformance to the USB spec against the Linux kernel

This issue tracks the status of the different tests a

[2018-12-03 10:38] carlescufi commented on #11803
@jfischer-phytec-iot yes, that's why on the table there's a column for the respective drivers

[2018-12-03 11:12] pabigot opened #11806 "gpio_nrf mishandles level interrupts"
For in-work enhancements to sensors I have a Thingy:52 (nrf52_pca20020) application that uses triggers to capture data from three environmental sensors at a fairly high rate.  At random points the sensor callbacks will stop being invoked, even though the data-ready signals are properly asserted.

Through previous experience I knew that this occurs when clearing the PORT event is not properly synch

[2018-12-03 11:33] carlescufi commented on #11798
@nicber thanks for the report and the patch. Would you mind sending a Pull Request with the patch?

[2018-12-03 11:34] carlescufi commented on #11789
Question answered.

[2018-12-03 11:34] #11789 closed

[2018-12-03 11:43] carlescufi commented on #11737
@pabigot I think this requires additional discussion based on your proposal and what we have been considering so far. We should wait for @galak to be able to take a look at this first. @erwango has already commented on the current proposal to get rid of the fixup files.

[2018-12-03 11:47] carlescufi commented on #11720
Duplcate of #11612

[2018-12-03 11:47] #11720 closed

[2018-12-03 11:52] pabigot commented on #11737
Agreed, input from @galak is important.  My own perspective is still evolving as I get deeper; I'm now less a fan of `aliases` and also of [`label`](https://github.com/zephyrproject-rtos/zephyr/issues/10904#issuecomment-443429065).  A dedicated property, possibly even marked as specific to zephyr (`zephyr,binding-name = "UART0"`) seems a better approach.

I also believe that the overall solution s

[2018-12-03 12:05] Mierunski commented on #11792
To use either UART or UARTE proper compatible has to be selected in dts. As uart0 in nrf52840 can be both nrf-uart and nrf-uarte so to change it, proper overlay file should be added and desired driver should be selected in menuconfig. This is not a bug, as UARTE can be used.

However better way to do it would be possibility to have more than 1 compatible for node.

[2018-12-03 12:05] #11792 closed

[2018-12-03 12:10] mnkp commented on #11261
Thanks for the detailed explanation. I'm afraid though it confirms that the current implementation of the kernel's code is incorrect. The only way to go to idle state with interrupts disabled is to follow the official ARM guidelines as detailed in a short excerpt from ARM "Cortex™-M4 Devices Generic User Guide" chapter "2.5.2 Wakeup from sleep mode" which I've included in the original description

[2018-12-03 12:16] SebastianBoe commented on #11794
I believe we want to short-term use the cmake_policy() command to set this policy to OLD, and then later on, when necessary, port the code-base to the NEW behaviour and set the policyt to NEW.

[2018-12-03 12:30] m-nilsson commented on #11702
Sounds great, thanks!

[2018-12-03 12:34] jarz-nordic commented on #11702
@m-nilsson :
@barsok told me he needs to do some clean up on his branch. He should be able to share it with you around Wednesday this week.

[2018-12-03 14:40] sigvartmh opened #11812 "ext: debug: segger: CMake file doesn't include the directory with header files"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/blob/a127984613fb89292a96341dadf3d9e13ea08e4c/ext/debug/segger/CMakeLists.txt#L2

The include directory pointed to in the Cmake file does not make sense as there are no headers in the current directory. This should rather be pointing to the `rtt` directory as that's where the header files are. The reason it works is because the Segg

[2018-12-03 14:49] erwango commented on #11767
Coming from stack guard misconfiguration (or at least conflict with application):

0 rasr=8000000 rbar=7020025 P_RO_U_RO(8000000 8080000 , subreg 0)
1 rasr=20000001 rbar=110b001f X P_RW_U_NA(20000000 20010000 , subreg 0)
2 rasr=20010002 rbar=110b001d X P_RW_U_NA(20010000 20018000 , subreg 0)
3 rasr=20000003 rbar=130b0017 X P_RW_U_RW(20000000 20001000 , subreg 0)
4 rasr=20002804 rbar=150b0009 X P_R

[2018-12-03 15:16] erwango commented on #11767
Issue is solved by increasing CONFIG_MAIN_STACK_SIZE from 512 to 1024.
It appears this is default value and it is reduced down to 512 if ZTEST.
This has been introduced with bd9a1548ace9e717d5103e21f7a7e02776b246f1

[2018-12-03 15:21] erwango commented on #11767
@galak , @nashif .

I'm questioning bd9a1548ace9e717d5103e21f7a7e02776b246f1 which prevents some tests to run on STM32 targets. I've tried changing to 768, but overflow still happens (bit later).
As commit message says, I've tried to increase (doubled) CONFIG_ZTEST_STACKSIZE, but issue still present.
What would the impacts of reverting fully the change?

[2018-12-03 16:20] andrewboie commented on #11767
What's special about this test that only it is failing?
If it's using ztest, is it somehow doing a lot of processing in the main thread?

[2018-12-03 16:52] andyross commented on #11798
I think that looks right.  Our mutex implementation (which, to be clear, is a priority inheriting mutex -- a somewhat oddball kind of thing that most apps don't want, routine blocking mutual exclusion should be done with semaphores) is subtle and worrisome.  And honestly our test coverage of it is quite a bit weaker than the more common IPC primitives.

Yes, let's please get this submitted as  PR.

[2018-12-03 18:02] pfalcon commented on #11333
@GAnthony, @rlubos: So, I assume there're no criticism/concerns. I otherwise would plan this implementation yet for this year.

@jukkar, @tbursztyka: Also if you're interested, I try not to ping you on socket details, maybe I should.

If there's something to discuss, there's opportunity to do that at tomorrow's networking forum.

[2018-12-03 18:04] pfalcon commented on #9944
Now all hopes are on https://github.com/zephyrproject-rtos/zephyr/pull/11443 to resolve this issue.

[2018-12-03 18:06] pfalcon opened #11820 "sockets: Implement (POSIX-compatible) timeout support"
It's not possible to implement a robust networking solution without timeouts. So, sockets should implement them, following the POSIX mandated API.

[2018-12-03 18:06] pfalcon commented on #11820
@rlubos: FYI, let's have an explicit ticket on this.

[2018-12-04 01:58] mnkp commented on #11737
I would like to repeat here my related comment from #11180 to close the discussion there as the PR has been merged and has too many participants who are likely not interested in the issue.

Another good alternative method to generate DTS defines is to use node label (not to be confused with label property) and phase out defines based on a unit address.

According to the specification a DTS node is

[2018-12-04 04:00] wanhao2015 opened #11827 "gPTP Sample Application fails on frdm_k64f board ,and PDelay Response Receipt Timeout"
I'm trying to run gptp demo of zephyr in the frdm_k64f board, （https://docs.zephyrproject.org/latest/samples/net/gptp/README.html）
and run gptp on ubuntu 16.04 with i210 interface card(not using a VM).（https://github.com/AVnu/gptp）
They were wired together.But the question occured,I try to execute the following order in the ubuntu 16.04:
sudo ./gptp enp5s0 -F ../gptp_cfg.ini
INFO     : GPTP [11:09

[2018-12-04 08:04] rlubos commented on #11820
Ack, thanks.

[2018-12-04 09:00] diegosueiro commented on #11465
@nashif,

Should I close this issue since the PR #11778 fixed it?

[2018-12-04 09:07] pfalcon commented on #11465
@diegosueiro : You're the author of this bugreport, you would be among first to know if it should be closed or not. If you'd have added:
[code]

To the commit message of #11778, it would be closed automatically, and that's recommended practice, as we have really high ticket flow indeed to track/perform manual closures.

[2018-12-04 09:11] diegosueiro commented on #11465
Thanks Paul. I'll close it manually.

[2018-12-04 09:11] #11465 closed

[2018-12-04 09:45] jhedberg commented on #11780
Looks like this is caused by commit 4d94257162b22f37104e9f85238ed7c3486c5a1c. @vikrant8051 could you try reverting that (`git revert 4d94257162b22f37104e9f85238ed7c3486c5a1c`) and see if the issue goes away for you?

[2018-12-04 09:54] erwango commented on #11737
@pabigot, sorry I don't have much time right now to implement changes to illustrate you request.
One thing to consider is that having multiple HTS221 on one I2C bus can't work, as HTS221 has a hardcoded address. Only way to have 2 HTS221 is to have them on 2 different I2C buses.
This being said, in #8561, you could see an example of a sensor (LSM6DSL) instantiated both on SPI and I2C buses (buildi

[2018-12-04 10:17] erwango commented on #10739
@RonAmihai , did the indications provided by @qianfan-Zhao helped you?

[2018-12-04 11:05] erwango commented on #10611
@sdrsdr, sorry I've missed your last message. I'll have a look to your point this week. Do you confirm it's still valid?

[2018-12-04 11:11] mnkp commented on #11737
My understanding was that the main point of this issue is to find an intermediary solution to get rid of dts_fixup files until the proper, long term approach using instance generation is implemented. Which is a separate topic being worked on in #10904. We probably shouldn't duplicate here the discussion related to instance generation. Or have I mixed up something?

[2018-12-04 11:33] vikrant8051 commented on #11780
OK

[2018-12-04 11:48] vikrant8051 commented on #11780
@jhedberg
I think

has no effect....still Mesh initialization takes some time.

[2018-12-04 12:21] alexsven opened #11841 "Assert invoked in exception in ctrl.c line 7653 (zephyr 1.13.00)"
Assert gets invoked when having one connection and starting another. Spoke to @cvinayak about this and it seems the new connection wants to resize the rx_pool while it's still in use by the first connection.
`if (_radio.packet_rx_data_count != free_count_rx) {
  /** TODO another role instance has obtained
    * memory from rx pool.
    */
    //LL_ASSERT(0);
} `

[2018-12-04 12:46] #11812 closed

[2018-12-04 13:01] erwango commented on #10611
@sdrsdr, I had a quick look, and indeed issue seems to be located in the fact we're using EXTI HW as interrupt controller for GPIOs. Depending on STM32 series, EXTI supports more or less configurable lines. I advise you to check Reference Manual DM00083560, chapter 12.4.
To sum up all GPIO_Y.PinX are mapped on LineX. Then we'll have dedicated configuration capability for this line that will be sha

[2018-12-04 13:44] pabigot commented on #11737
@mnkp you have a good point.  The original goal of the issue was removing dts_fixup; however, I now believe we can't do that until we agree on how to get the information from DTS to the code without using dts_fixup.  Which depends in part on how we represent the information in DTS, and how existing tooling needs to be updated to transfer the information in a standard way.

That certainly contribut

[2018-12-04 13:46] #10909 closed

[2018-12-04 13:48] #11055 closed

[2018-12-04 14:05] jhedberg commented on #11780
@vikrant8051 you also need #11842 . Both PRs should hopefully be merged soon.

[2018-12-04 14:43] #11780 closed

[2018-12-04 14:48] jhedberg commented on #11780
@vikrant8051 both PRs are in master now, so you can just rebase on top of that to see if the issue is now solved.

[2018-12-04 14:52] GAnthony commented on #11333
@pflacon, Thanks, select() would be good to have.

[2018-12-04 14:53] StefJar opened #11844 "rtc_ll_stm32.c:232: undefined reference to `LL_RCC_LSE_SetDriveCapability' #stm32 #rtc"
I am having a custom board on base of the nucleo_f412zg. Activating the RTC at LSE works fine through compilation, but breaks the linking.

Error message:

at linking libdrivers__serial.a:
[code]
and final at:

[code]
I added at <board>_defconfig:

[code]
and at <board>.dts:

[code]
Thinks something like:

[code]
needs to be added

[2018-12-04 15:07] #10449 closed

[2018-12-04 15:22] erwango commented on #10611
@sdrsdr I had a look in detail and not sure excactly what would be the good option here.
Adding support for callbacks per GPIOX.PinY is possible but then both callbacks GPIOA.PIN5 and GPIOC.PIN5 would be triggered in case one of PIN5 is triggered, but not way to know the GPIO... I'm not sure there is anything we can do with that.

About providing an error message at configuration, there is already

[2018-12-04 15:54] mnkp commented on #11737
I believe we should split the following question

into two
- How should information defined in device tree sources be exposed to SOC and peripheral driver?
- How should information defined in device tree sources be exposed to the application code?"

and focus here on the first one. The second question is best treated as a completely independent one to be answered elsewhere, another time. This will

[2018-12-04 16:09] vikrant8051 commented on #11780
@nordic-krch  @jhedberg @carlescufi
Issue has resolved !!
Thanks for solving it.

[2018-12-04 16:19] agross-linaro commented on #11193
Associated issues:
https://github.com/zephyrproject-rtos/zephyr/issues/6648

[2018-12-04 16:21] ioannisg commented on #11193
FYI @andrewboie

[2018-12-04 16:38] ioannisg commented on #11193
FYI @dstroe2000

[2018-12-04 16:57] pabigot commented on #11737
I think that's almost right.  How about three:
* How should information defined in device tree sources be exposed to SOC drivers?
* How should information defined in device tree sources be exposed to peripheral drivers?
* How should information defined in device tree sources be exposed to applications?

For SOC drivers like gpio, serial, i2c, I agree with you: use compatibility property values and

[2018-12-04 17:12] cvinayak commented on #11740
Please review your application for any large interrupt latencies introduced, do you disable interrupts or have interrupt service routines at highest priority level?

[2018-12-04 18:33] galak commented on #8851
Any updates?

[2018-12-04 20:32] d3zd3z commented on #6648
Ideally, I think the secure veneers could just be an 'sg' followed by a jump to the implementation on secure side. The seem to end up being full functions in the current implementation of tfm, though.

[2018-12-05 00:53] nashif opened #11857 "cmake does not detect most recent python, it is fixed somehow to 3.4.x"
**Describe the bug**
On a system with multiple versions of python where the binary **python** actually points to python 3.7, cmake still thinks I want 3.4.x.

This is hardcoded in the boilerplate, when I change:

[code]

it detect the version I want.

**To Reproduce**
Install a new version of python, for example in a virtualenv and make it default

**Expected behavior**
cmake should detect the ena

[2018-12-05 01:26] andrewboie opened #11859 "sanitycheck failures on lpcxpresso54114_m4: Error: Aborting due to non-whitelisted Kconfig warning"
**Describe the bug**
I'm seeing build failures on some cases for lpcxpresso54114_m4

**To Reproduce**
Steps to reproduce the behavior:
$ sanitycheck -i

**Expected behavior**
All tests pass

**Impact**
This may be breaking our CI builds

**Screenshots or console output**
[code]

[2018-12-05 05:31] ulfalizer commented on #11857
I'm seeing this too, though it's kinda nice in that I get compatibility testing for free. ;)

[2018-12-05 06:54] ramakrishnapallala commented on #8256
PR already merged.

[2018-12-05 06:54] #8256 closed

[2018-12-05 08:19] SebastianBoe commented on #11857
To save time, I'd prefer to await the CMake version bump. And then see if the problem persists ...

[2018-12-05 08:21] SebastianBoe commented on #8851
Still blocked by https://github.com/zephyrproject-rtos/zephyr/pull/9562

[2018-12-05 08:24] nordic-krch opened #11866 "Shell log backends started with all logs disabled"
**Describe the bug**
When shell is used as log backend it starts with logging disabled for all modules. It is expected to start shell with initial log filtering set based on SHELL_BACKEND_SERIAL_LOG_LEVEL`

**To Reproduce**
Start samples/subsys/shell/shell_modules or any other sample that uses shell and type `log status` to see current log filtering settings.

**Expected behavior**
Filtering setti

[2018-12-05 09:07] walter-xie commented on #11798
I have a doubt: in step 4, the schedule is locked, why the thread B becomes eligible to run?

[2018-12-05 10:00] #11798 closed

[2018-12-05 11:15] #11806 closed

[2018-12-05 11:20] pawelzadrozniak commented on #11803
I have noticed an issue with testusb aplication build from kernel 4.15.0 - test case 14 and 21 always fail (invalid argument). Works fine on 4.13.0. Have anyone else tried 4.15?

[2018-12-05 11:50] erwango commented on #11844
@StefJar, actually LSE drive strenght is not available on STM32F4.
So, this line should not be used in F4 devices.

STM32 RTC is going to be deprecated soon dur to RTC API depreaction.
It is being replaced by https://github.com/zephyrproject-rtos/zephyr/pull/11729.
So, I'll fix issue directly in #11729 and close this issue.

[2018-12-05 11:56] #11844 closed

[2018-12-05 12:15] JoeHut commented on #10034
Fixed in #11807

[2018-12-05 12:15] #10034 closed

[2018-12-05 12:43] nazeer22 opened #11879 "samples/bluetooth/ipsp does not reply when pings to local link nodes"
I am testing ipsp example (samples/bluetooth/ipsp) on nRF52840-dk. when i flashed i get the below
log from the board console.

***** Booting Zephyr OS zephyr-v1.13.0-2407-g459ad673ba *****
ecc stack (real size 1100):     unused 216      usage 884 / 1100 (80 %)
[00:00:00.008,789] <inf> bt_hci_core.hci_vs_init: HW Platform: Nordic Semiconductor (0x0002)
[00:00:00.008,789] <inf> bt_hci_core.hci_vs_in

[2018-12-05 13:10] jukkar commented on #11827
The fix in #11878 fixes the issue where zephyr gptp was dropping all the incoming packets. That issue is fixed, unfortunately it did not fix the "PDelay Response Receipt Timeout" issue that OpenAvnu is reporting. So a bit more TLC is needed here.

[2018-12-05 13:33] galak commented on #10739
@RonAmihai going to change this to an enhancement.

[2018-12-05 13:35] galak commented on #11719
Closing since we have the generic issue #11659

[2018-12-05 13:35] #11719 closed

[2018-12-05 13:35] #11866 closed

[2018-12-05 13:40] carlescufi commented on #11723
@pizi-nordic can you take a look?

[2018-12-05 13:40] carlescufi commented on #11722
@pizi-nordic can you take a look?

[2018-12-05 13:40] carlescufi commented on #11721
@pizi-nordic can you take a look?

[2018-12-05 13:42] carlescufi commented on #9708
@pizi-nordic can you please re-run and close if fixed?

[2018-12-05 14:09] nashif commented on #11857
whose time? :-)
I spent like 2 hours trying to figure out why none of the installed python modules our scripts are using are not being found, I guess I am not the only one...

[2018-12-05 14:18] mnkp commented on #11737
Again, I believe this issue is not related to how we should get rid of the fixup files. If the board level DTS exists it contains already information on which sensor is connected to which i2c bus. The problem here is that this information is currently not exported from DTS database. The sensor driver needs to know the handle to the i2c bus instance it is connected to, i.e. the parameter to `device

[2018-12-05 14:30] jfischer-phytec-iot commented on #10967
I have looked at it and I found a few minor bugs in mcr20a driver but there is one ugly bug that I have been trying to find for a long time. It almost hits somewhere in spi_mcux_dspi and appears only in a configuration with mcr20a + ieee802154 + frdm_k64f. For example a have a build where spi driver drops first octet in the transfer (`spi_mcux_dspi.spi_mcux_transfer_next_packet: Transfer could not

[2018-12-05 14:30] nazeer22 commented on #11879
Hi,
I followed the link  https://docs.zephyrproject.org/latest/samples/bluetooth/ipsp/README.html,
i tried to ping to the static address  2001:db8::1 also , but it also failed.

Below is the log from my observation.
1) # modprobe bluetooth_6lowpan
    # echo 1 > /sys/kernel/debug/bluetooth/6lowpan_enable
2) Connected the board to the uart console, below is the output from the console

***** Bootin

[2018-12-05 15:08] agansari commented on #11586
@pfalcon @jeremy-e-mills  hello, after investigating what is wrongly initialized in the PHY, finally found some shared pins that are wrongly initialized. Pushed a fix, more details in the commit message.

Also when testing in my VM+usb-eth adapter the result of the benchmark varies greatly depending on VM usb configuration. If you're not testing on a VM don't think it's an issue.

[2018-12-05 15:09] pabigot commented on #11737
@mnkp Thanks, that provides more information.  In the last day I've learned that we have to keep the `label` property even though it's being misused, but that it's ok because it's going to disappear when tooling is complete.  I've also learned that a design goal is to not have Zephyr-specific information in the device-tree source: it's supposed to come from the yaml files (which are very Zephyr-sp

[2018-12-05 15:18] pizi-nordic commented on #11743
Hi @andrewboie. I have talked with @nordic-krch, who is our logger expert, about the changes required in order to support user space. Results of the discussion are below.

- **Module identification and log level control:**
  The logger uses 2 data structures (`log_source_const_data` and `log_source_dynamic_data`) per each registered module in order to provide metadata for the log core as well as c

[2018-12-05 15:25] tejlmand commented on #11794
basically there is no porting needed if allowing the new behavior, current code works on `CMP0079 NEW`. The reason to state `CMP0079 OLD` is in order to still allow users to use CMake versions 3.8.2 - 3.13

[2018-12-05 16:14] carlescufi commented on #10894
@anangl  have you taken a look at `drivers/bluetooth/hci/spi.c` ?

[2018-12-05 18:06] pabigot commented on #11737
@galak was good enough to take the time to run through the high level plans and overall concepts so I have a better handle on things.  It would be good if those driving this work would come up with some "here's what an application developer would do"; "here's how you'd add a new sensor device" use case walk-throughs so people not deeply involved can see and become more comfortable with what's comi

[2018-12-05 18:06] SebastianBoe commented on #11857
Was able to reproduce, it seems that when python3.4 is on path it takes priority over any 'python' executable on path.

Will look into a fix.

[2018-12-05 18:39] #10571 closed

[2018-12-05 18:39] #10593 closed

[2018-12-05 18:55] galak commented on #11737
I pushed PR #11886 to update the generation script to generate defines for I2C & SPI devices that we can use in the drivers.  This is a temp solution for LTS to help remove dts_fixup.h defines since all the I2C & SPI drivers only support a single instance of a sensor, etc right now.

We'll clean this up post 1.14 when we support fuller device tree code generation.

[2018-12-05 19:33] aurel32 commented on #11255
I can't reproduce this problem with PR #11888 applied. Even with the data cache disabled, the existing code is missing a data synchronization barrier after writing the descriptor list.

I got a few packets lost, but I guess it's normal at this rate. The Ethernet interface of the board is still working fine after this.

[2018-12-05 19:46] ntavish commented on #11879
To test this, I was always running radvd, some documentation here: https://infocenter.nordicsemi.com/topic/com.nordic.infocenter.iotsdk.v0.9.0/iot_sdk_user_guides_radvd.html

I'm not 100% sure if it's really needed though.

[2018-12-05 21:42] carlescufi commented on #11841
@cvinayak can you comment on this issue?

[2018-12-05 22:12] GAnthony commented on #3403
There are a few remaining issues and room for enhancement, but otherwise I would say the initial goals of this PR are complete.

[2018-12-05 22:12] #3403 closed

[2018-12-05 23:06] GAnthony opened #11889 "Race between SimpleLink WiFi driver FastConnect and networking app startup."
To simplify the WiFi provisioning of the SimpleLink WiFi based device, the SimpleLink WiFi driver is configured to do an automatic connect ("FastConnect") to the previously connected Access Point (AP).

The initialization of the WiFi driver occurs in the driver's iface_init call: `simplelink_iface_init()` , which is called by the networking subsystem before the main networking application begins.

[2018-12-05 23:16] GAnthony opened #11890 "Reimplement getaddrinfo() to call SlNetUtil_getaddrinfo() in new SimpleLink SDK v 2.30+"
The current implementation of `getaddrinfo()` for the SimpleLink WiFi offload driver only handles client mode.
Once issue #11126 is complete to update SimpleLink SDK to ver 2.30, then `getaddrinfo()` should be updated to call the new utility function `SlNetUtil_getaddrinfo()`, which handles both client and server mode, and includes better error checking.

[2018-12-05 23:54] GAnthony opened #11891 "Enable SimpleLink socket blocking/non-blocking mode to be set via fcntl()"
In Zephyr (and for POSIX sockets), setting blocking/non-blocking mode for TCP sockets is done using `fcntl()`:

[code]

However, the SimpleLink host driver currently used in by the cc3220sf WiFi socket offload driver only allows setting of the blocking mode via its `setsockopt()` API.

This fix is needed for the samples/net/sockets/echo_async sample program to work, as well as other future network

[2018-12-06 02:24] Lindenk opened #11894 "zephyr_env.sh failes to correctly set $ZEPHYR_BASE with zsh hooks bound to cd"
**Describe the bug**
Running the following line in zephyr-env.sh causes `$ZEPHYR_BASE` to be set to the output of both `cd` and `pwd`.

[code]

If a hook is added to zsh, say to run `ls` after every `cd`, that output will also be set to `$ZEPHYR_BASE`

**To Reproduce**
1. Run the following in zsh:
[code]

2. Run `source zephyr_env.sh`

3. Examine `$ZEPHYR_BASE`

[code]

**Expected behavior**
`$ZEP

[2018-12-06 08:08] sdrsdr commented on #10611
Great! :)

[2018-12-06 08:08] #10611 closed

[2018-12-06 11:41] jeremy-e-mills commented on #11586
@agansari Hi, I have tested the fix and I confirm that the Ethernet now functions at startup. After a bit of debugging I notice that the root cause of the issue was that GPIO_AD_B0_10 was being held low because the pinmux had not been setup for that pin. As I said earlier in this thread, I do not know why you are driving this line high as it is pulled up by R309 which provides the high state requi

[2018-12-06 12:45] pabigot opened #11902 "Nordic devices require extra configuration for I2C"
https://github.com/zephyrproject-rtos/zephyr/blob/b5ae7da2697b6e38180856f014cfe6bbc652e4e6/soc/arm/nxp_kinetis/k6x/Kconfig.defconfig.mk64f12#L46-L51

https://github.com/zephyrproject-rtos/zephyr/blob/b5ae7da2697b6e38180856f014cfe6bbc652e4e6/boards/arm/frdm_k64f/Kconfig.defconfig#L73-L81

_Originally posted by @MaureenHelm in [this review comment](
https://github.com/zephyrproject-rtos/zephyr/pull/

[2018-12-06 12:48] pabigot commented on #11902
Raised because in reviewing/testing PR #11887 I find it works on nrf52_pca10028 if I explictly add `OVERLAY_CONFIG=overlay-nrf52.conf` in cmake, but on nrf51_ble400 in any incantation I've yet tried the I2C bus configuration data is missing from the generated DTS file.  Having to juggle overlays is just another confusing variation point I have to slog through while figuring out what's going on.

[2018-12-06 12:59] qianfan-Zhao opened #11904 "blinky example can't work on nucleo-f070rb and nucleo-f030r8 platform"
**Describe the bug**
samples/basic/blinky Example can't work on nucleo-f070rb and nucleo-f030r8 platform(the led can't blinking after download), but the hello_world example can work.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nucleo_f070rb ..
3. make
4. make flash

[2018-12-06 13:17] mnkp commented on #11737
I really think we should reconsider the way we use aliases. #11886 relies on the fact that aliases are prefixed with a 'compatible' string which, I believe, is a questionable approach. In DTS aliases are used as a convenient way to create a mapping between logical name and a node. However the generated #defines decorate this name with an extra string. That goes against the very idea of an aliases

[2018-12-06 13:45] pabigot commented on #11737
+1: I agree the macros generated for aliases should be exactly as spelled by the DTS maintainer, rather than being augmented annotated with elements derived from compatible: the DTS maintainer has to make sure they're unique and I don't see what the annotation adds.  I don't believe the augmentation is necessary for what #11886 is trying to accomplish as the Python scripts have access to the compa

[2018-12-06 14:06] baw-serafin opened #11908 "Power Manager does not handle K_FOREVER properly"
**Describe the bug**
Power Manger will go into deep sleep if `sys_pm_policy_next_state` is called with K_FOREVER even if there is still work to be done.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout v1.13
2. Build `/samples/subsys/power` with ` cmake -DBOARD=nrf52_pca20020 -GNinja ../..` (defaults)
3. run it on a thingy 52

**Expected behavior**
See App output on console:
[code]

[2018-12-06 14:20] pizi-nordic commented on #11908
IMHO the problems is in the:
[code]
We never should select SYS_POWER_STATE_DEEP_SLEEP basing on the expected sleep time as this maps to "System OFF" in our architecture. Since we enter the mode, we cannot be woken-up in the way Zephyr expects (exit from System OFF looks like reset).

Also the mapping of the Zephyr states to the SoC settings in not fortunate:
[code]

[2018-12-06 14:20] pizi-nordic commented on #11908
@carlescufi: FYI

[2018-12-06 14:27] Qbicz opened #11909 "logger: rtt: Output is no longer 'utf-8' but ISO-8859-1"
**Describe the bug**
We used to parse the RTT output from logger in our automated high-level testing. However, yesterday an error occured:
[code]
After changing encoding to ISO-8859-1 this works again.

**To Reproduce**
We use `pynrfjprog` to read RTT using `utf-8` default encoding.
https://github.com/NordicSemiconductor/pynrfjprog/blob/master/pynrfjprog/API.py#L1193

Log configuration:
[code]

**

[2018-12-06 14:39] baw-serafin commented on #11908
@pizi-nordic

I thought so too, but I think that code is not reached with `samples/subsys/power`. The power.c in which this code lies is only in `sample/boards/nrf52/power_mgr` is it not? Or do I miss something?

[2018-12-06 14:41] erwango commented on #11904
Seems fixing BUS in stm32f0.dtsi fixes the issue:
[code]

Though, in that case console should not be working neither.
With the change console is still working...
There is definitly something strange here.

[2018-12-06 14:48] pizi-nordic commented on #11908
@baw-serafin: You are right, the problem you observe is different, however the `pm_policy_get_state()` have to be fixed too. The code selecting power state is in the policy (`sys_pm_policy_next_state()`).

Calling the `sys_pm_ctrl_disable_state(SYS_PM_DEEP_SLEEP)` as early as possible should workaround the problem.

[2018-12-06 14:49] jfischer-phytec-iot commented on #10967
Update: depending on the build, the manifests as `spi_mcux_dspi.spi_mcux_transfer_next_packet: Transfer could not start`. I have debugged it for a while and with a breakpoints in `spi_mcux_master_transfer_callback`, the error will no longer occur. The bug also disappears if SPI clock is set to 1MHz or bus clock to 20MHz.

[2018-12-06 14:58] nazeer22 commented on #11879
Also i enabled the shell on nrf52840_pca10056 and checked the interface using net iface and it shows interface is down.

uart:~$ net iface

Interface 0x2000bdc0 (Bluetooth) [0]
====================================
Interface is down.

[2018-12-06 15:08] erwango commented on #11904
AHB2 bus is actually not supported on F0 series.
Things (eg hello_world) should be working as AHB1 bus is activated by request from other subsystem.
Will submit a patch to fix this and add various check points to detect this kind of issues earlier in future

[2018-12-06 15:22] pizi-nordic commented on #11722
starting test - test_timer_periodicity
PERIOD: 50, DELTA: 40

    Assertion failed at /home/pizi/repos/zephyr/tests/kernel/timer/timer_api/src/main.c:250: test_timer_periodicity: (((delta) >= (50)) && ((delta) <= (50) + (1))) is false

FAIL - test_timer_periodicity
[00:00:00.827,880] <inf> nrf_rtc_timer.z_clock_set_timeout: ticks: 1
[00:00:00.827,911] <inf> timer._impl_k_timer_start: new timeout 0

[2018-12-06 15:22] agansari commented on #11586
@jeremy-e-mills Thank you for looking into this issue. Yes, PHY's INTRP is never used, we never set 1Bh register inside the KSZ8081RNB PHY, so it's always starts with interrupts disabled.
Both GPIO_AD_B0_9/10 are set as output. PHY's INTRP is also NAND_TREE# that is activated when pulled down. MCU and PHY's pins also have internal pull-up resistors.
When testing as input, have you powered down the

[2018-12-06 15:34] galak commented on #8104
I think this might get fixed when we update OpenAMP to the new version.   See PR #11355

[2018-12-06 15:37] galak commented on #6365
@diegosueiro can you retest to see if this is still an issue.

[2018-12-06 16:06] jeremy-e-mills commented on #11586
@agansari Yes, my code with the port as an input has been running in hyperflash and the Ethernet starts successfully after a power cycle. My point is that the imx processor port should be configured as an input and driving it high is unnecessary and conflicts with the mode of the PHY pin (INTRP/) after its reset is complete.

[2018-12-06 16:07] galak commented on #2108
@ioannisg can you take a look at this.

[2018-12-06 16:09] diegosueiro commented on #6365
Sure. I'll be testing this in the weekend.

[2018-12-06 16:09] galak commented on #2490
@kumarvikash1 any updates on getting someone assigned for this?

[2018-12-06 16:11] galak commented on #2627
@jhedberg @sjanc can you look at this old issue.

[2018-12-06 16:14] galak commented on #2984
Is this still relevant?

[2018-12-06 16:14] galak commented on #3129
Is this still relevant?

[2018-12-06 16:14] galak commented on #3132
Is this still relevant?

[2018-12-06 16:16] galak commented on #3198
@ruuddw @vonhust can you still if this is still an issue.

[2018-12-06 16:20] pfalcon commented on #3132
Yes, this one of the long-standing and tedious issues which gets little attention from the network maintainers, and the background issue for https://github.com/zephyrproject-rtos/zephyr/pull/7831 (expired) andhttps://github.com/zephyrproject-rtos/zephyr/pull/11530 (resubmitted) - which however workaround the issue, don't solve it.

[2018-12-06 16:20] galak commented on #3375
Since we haven't had much input or focus on this going to close for now.  Can re-open if someone will look into it.

[2018-12-06 16:20] #3375 closed

[2018-12-06 16:22] #3464 closed

[2018-12-06 16:22] pfalcon commented on #3129
I guess we can close this after all for now. I didn't see this for awhile (but then I also play with frdm_k64f networking less than before).

Once there's a new information avilable, can be reopened.

[2018-12-06 16:22] #3129 closed

[2018-12-06 16:23] galak commented on #3522
We plan to move away from them, and this has been opened for some time.  Going to close this with the plan to move to standard C99 types.

[2018-12-06 16:23] #3522 closed

[2018-12-06 16:23] chris-makaio opened #11912 "net: SimpleLink: Create real cross-platform port"
Dear All,

I'm trying to implement the CC3220 WiFi driver and noticed that it is not really made for Zephyr. I mean, the port is totally dependent on running at TI's LaunchPad.
I'll create my own port now, somebody interested and willing to help?

[2018-12-06 16:30] carlescufi commented on #4977
This has been fixed

[2018-12-06 16:30] #4977 closed

[2018-12-06 16:31] pfalcon commented on #5378
@tbursztyka : Probably worth posting an update here.

[2018-12-06 16:31] Qbicz commented on #11909
Update: the problem happens for showing string `%s` with logger.
[code]
[code]
Buffer content is correct and can be displayed with printk.
[code]

I can reproduce it on application with large number of logged messages. I cannot reproduce it on Zephyr sample with exactly same logger configuration.

[2018-12-06 16:32] galak commented on #5006
Closing this and move to native posix for testing, see #7316.

[2018-12-06 16:32] #5006 closed

[2018-12-06 16:34] pfalcon commented on #3796
This would be resolved by https://github.com/zephyrproject-rtos/zephyr/issues/7585, but so far nobody works on that. So yes, should stay open, at least as a set of (anti)requirements for that ticket.

[2018-12-06 16:35] carlescufi commented on #5289
@priyankaNXP this has been open for a while and there's no certainty that Zephyr is at fault here. Closing this, please open a new issue if you reproduce this and find it to be an issue with Zephyr's BLE stack.

[2018-12-06 16:35] #5289 closed

[2018-12-06 16:36] galak commented on #5343
@SebastianBoe I think we should go ahead with this change.  Can you please submit a PR for this.

[2018-12-06 16:37] pfalcon commented on #3132
cc @jukkar

[2018-12-06 16:38] galak commented on #5387
Looks like we've moved forward on this, but still a few cases need to be addressed:

samples/net/echo_client/src/tcp.c:      mbedtls_ssl_conf_psk(&ctx->tls.mbedtls.conf,
samples/net/echo_client/src/udp.c:      mbedtls_ssl_conf_psk(&ctx->tls.mbedtls.conf,
samples/net/http_client/src/main.c:     mbedtls_ssl_conf_psk(&ctx->tls.mbedtls.conf,

[2018-12-06 16:39] jfischer-phytec-iot commented on #10415
fixed|resolve by ce4be3af869932374fe5b6aa8653e00452456332

[2018-12-06 16:39] #10415 closed

[2018-12-06 16:39] carlescufi commented on #5376
@askawu I see that `device_get_binding()` is being used to obtain a reference to an instance of the clock subsystem. Closing this, please reopen if you think this is still an issue.

[2018-12-06 16:39] #5376 closed

[2018-12-06 16:40] galak commented on #5485
Is this still relevant?

[2018-12-06 16:41] carlescufi commented on #5426
Closing this since in Zephyr we have settled on considering `.config` to be a build system artifact. Please reopen or open a new issue if required.

[2018-12-06 16:43] galak commented on #5678
You guys still work on this?

[2018-12-06 16:43] carlescufi commented on #5634
@SebastianBoe @ulfalizer did we ever come to a conclusion on this issue? Are we using `sync_deps()` or @SebastianBoe's proposal?

[2018-12-06 16:43] carlescufi commented on #4951
@SebastianBoe @ulfalizer did we ever come to a conclusion on this issue?

[2018-12-06 16:46] galak commented on #5941
Is this still relevant?

[2018-12-06 16:48] carlescufi commented on #6015
@gamnes @pizi-nordic could you please take a look at this one to see if it's still applicable?

[2018-12-06 16:49] jhedberg commented on #11909
@Qbicz what you're getting is no surprise since the string is a stack variable that's out of scope by the time the logging thread processes the message. You'd need to use log_strdup() to get a string that's persistent until the logging thread processes it (it will also auto-free the string).

[2018-12-06 16:51] nashif commented on #5734
cant reproduce this anymore

[2018-12-06 16:51] #5734 closed

[2018-12-06 16:53] pfalcon commented on #5941
Yes, still relevant. However, recent console/tty patches may offer an alternative way to implement it for native_posix, simply bypass UART layer. But low priority, not sure that work fits in 1.14 timeframe.

Ref https://github.com/zephyrproject-rtos/zephyr/issues/10512, which discusses that console should work with other underlying devices besides UART.

[2018-12-06 16:53] galak commented on #6452
@finikorg is still an issue?

[2018-12-06 16:55] galak commented on #6585
@andyross can you look at this again.

[2018-12-06 16:59] andyross commented on #11722
Hm.  That code is by design, actually.  The intent is indeed that (for an example) if you have a callback that is supposed to have fired at timer T (but is actually being handled at T+3 because the interrupt arrived late), and it sets a timeout of its own to fire in 1 tick, that that tick gets handled synchronously inside the same ISR at wherever "T+2" timeouts are being issued.   Doing it in a se

[2018-12-06 17:01] pizi-nordic commented on #11722
Yes, both 10040 and 10056 uses the same timer.

[2018-12-06 17:01] carlescufi commented on #4830
Part of #2288

[2018-12-06 17:34] pabigot opened #11914 "NXP documentation: frdm-k64f links dead"
The following links at https://docs.zephyrproject.org/latest/boards/arm/frdm_k64f/doc/frdm_k64f.html are broken:
* `FRDM-K64F User Guide` returns a "File not found error".  The content can be accessed from the FRDM-K64F Website if you register with NXP.
* `FRDM-K64F Schematics` returns the same, and the document appears to be unavailable or replaced with the component-level schematics in the user

[2018-12-06 17:51] andyross commented on #3670
Yeah, this got fixed as part of the timer rework.  The relevant code is in the generic kernel, not the per-arch timer driver.  It works the same everywhere.

[2018-12-06 17:51] #3670 closed

[2018-12-06 17:51] andyross commented on #3669
Just like #3670, fixed with the timer rework

[2018-12-06 17:51] #3669 closed

[2018-12-06 17:52] ulfalizer commented on #4951
@SebastianBoe
Linux doesn't bother with `gcc -MD` when looking for symbols. It just searches the source files directly, and adds a prerequisite like `foo: include/config/my/symbol.h` if `foo.c` depends on `MY_SYMBOL`. Works fine as long as source files don't do stuff like `CONFIG_##NAME`.

See [fixdep.c](https://github.com/torvalds/linux/blob/master/scripts/basic/fixdep.c) and the docstring for `s

[2018-12-06 17:55] ulfalizer commented on #5634
Kconfiglib now makes a list of parsed Kconfig files available in `kconf.kconfig_filenames` at least. Might help, though it'd just be an optimization, as `sync_deps()` can detect all changes that matter.

See https://github.com/zephyrproject-rtos/zephyr/issues/4951 too.

[2018-12-06 18:01] nategraff-sifive commented on #5485
@galak I'm unable to reproduce this on the latest master (commit 3651e03eebbba5a8d281348d145ef8e03d8b65db) using SDK 0.9.5.

[2018-12-06 18:06] mbolivar opened #11916 "ISR table (_sw_isr_table) generation is fragile and can result in corrupted binaries"
**Describe the bug**

If `CONFIG_GEN_ISR_TABLES=y`, drivers can use `IRQ_CONNECT()` to register an ISR with the arch IRQ handling core. `IRQ_CONNECT()` parameters are used to initialize a static variable stored in a special section named `.intList`. This data includes the address of the ISR function.

There is a global `_sw_isr_table` variable. The goal is to fill it with the `IRQ_CONNECT()` data.

[2018-12-06 18:13] GAnthony commented on #11912
@derchrismakaio, can you please clarify which elements of the WiFi driver are launchpad dependent?

I note that the Zephyr SimpleLink WiFi driver was also running on the 96boards-based HopeRun board.
See: https://www.youtube.com/watch?v=84AarmVjeUI
and http://hihope.org/product/Uranus

[2018-12-06 18:31] dhalbert opened #11918 "Runtime pin configuration"
We're looking at porting [CircuitPython](https://github.com/adafruit/circuitpython) to Zephyr. We currently support SAMD21, SAMD51, ESP8266, and nRF52832 and nrf52840. The nRF ports are in progress.

One feature we need (and most other language interpreters need as well) is dynamic pin configuration. The user's Python program can choose to use any pins for any purpose, within the limitations of th

[2018-12-06 19:19] galak commented on #5485
Ok, going to close this.  We can re-open if someone can reproduce.

[2018-12-06 19:19] #5485 closed

[2018-12-06 20:10] derchrismakaio commented on #11912
@GAnthony Maybe I'm completely on the wrong track, but for example the
`CC3220SF_LAUNCHXL_init();` in driver's simplelink_support.c

cc_pal.c seems to "hardcode" SPI settings

Don't get me wrong, most of the work has been done by you. It's just the SPI HAL which seems to be sort of "hard"

[2018-12-06 20:16] jim-wilson commented on #11916
I'm not able to reproduce with any toolchain I have access to.  Checking your toolchain, I see that you are using ancient versions of the tools from mid 2017.  The tools weren't stable until about January 2018.

[code]

I wouldn't recommend using anything before FSF gcc-7.3 and FSF binutils-2.30.  Those are the earliest releases that are stable enough to build an entire linux distro.

I suspect th

[2018-12-06 20:40] aurel32 commented on #11918
@dhalbert, I think you are looking for the pinmux driver, which allows to (re)configure pins at runtime. The interface is described there: https://docs.zephyrproject.org/latest/api/io_interfaces.html#pinmux-interface . You might also want to look at the code there: https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/pinmux/dev

Unfortunately it is currently only supported on a limited

[2018-12-06 20:42] andrewboie commented on #11916
It's not quite clear to me from reading this whether this is a toolchain or a zephyr problem. Can we establish whether generating different code depending on whether weak symbols are used or not is permissible behavior, before we rework the interrupt code?

[2018-12-06 22:21] pfalcon commented on #11763
@nordic-krch: Now that https://github.com/zephyrproject-rtos/zephyr/pull/11769 was merged, a friendly ping about next steps.

[2018-12-06 23:16] jim-wilson commented on #11916
The compiler doesn't know if a weak has zero or non-zero address, so must emit a generic sequence.  If a non-weak is not defined in the module where it is used, then this must also be a generic sequence.  I'd expect these to be the same.

A non-weak defined in the same module where it is used might be optimized by the compiler.  But whether this affects instruction length depends on the hardware a

[2018-12-06 23:18] mbolivar commented on #11916
Hi there @jim-wilson! I unfortunately don't control the toolchain and cannot implement this recommendation, even though I wish I could.

I think this is a case of Zephyr's two-stage link being a bit too chummy with the implementation.

Generating different code depending on whether weak symbols are used is perfectly permissible as far as I can tell. The RISCV binutils maintainer (Palmer Dabbelt) I

[2018-12-06 23:19] mbolivar commented on #11916
I am aware of and did consider that. As I said, I was able to work around this for this toolchain.

My concern is to avoid future driver authors running into issues like this based on what to me seems like invalid assumptions in the Zephyr build system.

[2018-12-07 00:01] andrewboie commented on #11916
Hmm, fair enough.
For the ISR tables, it won't be too bad to change it to save symbols instead of addresses, I think that will fix this.

We have some other stuff on x86 where this becomes more of a problem. Building the GDT and IDT at build time can't be done with symbols since its a binary blob that gets built, not C code, and due to way the addresses are split around in various ways in these de

[2018-12-07 00:14] #11894 closed

[2018-12-07 01:06] pabigot opened #11922 "ADC generic driver missing features: calibration, reference voltage value"
The Nordic SAADC peripheral has a calibration feature that's supposed to be initiated before the first use.  The existing generic ADC driver does not have a way to initiate this.  Since configuring ADC through the "generic" API requires including the SOC headers anyway, I'm just calibrating manually.

Also there's an option to use the internal reference voltage, but no way to fetch the value of th

[2018-12-07 01:42] nashif commented on #11047
@ramakrishnapallala I do not remember the history behind the naming, but those functions are being documented and appear in a public API, so they should not have _sys prefix. The _ should be removed from all public APIs and documented hooks. underscore should only be used for internal function calls.

[2018-12-07 01:43] #9340 closed

[2018-12-07 03:38] Jeepgoing commented on #8104
Hi, @galak, I have tested your branch (galak:openamp-v2018.10),  and the question still exist, i have add <stdint.h> to <stdatomic.h>, but other errors occur, our product need <math.h>, so we must enable newlib support, hope your relay.

[2018-12-07 06:04] pfalcon commented on #10911
I guess this should be closed after all. I definitely not up to speed with complete understanding of userspace and its APIs, and even if I'd think I am, I'd be reluctant to change something a more experience colleague set forth, given the good explanations given.

Thanks for guidance @andrewboie here and elsewhere.

[2018-12-07 06:04] #10911 closed

[2018-12-07 07:33] Qbicz commented on #11909
Thanks @jhedberg. Duplicating the string solves the problem:
[code]

So the logger automatically creates a copy of stack integers, but for strings it needs to be told what to do.

[2018-12-07 07:33] #11909 closed

[2018-12-07 07:43] jhedberg commented on #11909
Pretty much yes. The logger doesn't differentiate at all with the parameters that come after the format string - it just copies the value of each one regardless of the type. So when you give it a pointer it just stores the pointer value for later processing, i.e. it has no knowledge of the persistency of the data that the pointer is referring to.

[2018-12-07 08:13] rlubos commented on #11879
@nazeer22 I'm not an expert in terms of IPSP, but from experience I can tell that for BLE IPSP, network interface will be down until you have a valid BLE connection established. Once you connect to the board from your host, you should see something like this (it's what current master prints):
[code]
And typically when testing I follow the commands you posted.

[2018-12-07 08:18] pdunaj commented on #11722
Hi @andyross , this behavior may trigger serious problems as module scheduling a timeout may require separation of `T` between the callbacks (e.g. because of HW constraints when you sample a sensor). When scheduling a delay you expect that your callback will be fired _no sooner then_ `T` (how accurately it happens depends on how close to real time OS the system is).
The code here will not only cal

[2018-12-07 09:45] oxymoron87 opened #11928 "nRF UART nrfx drivers (nRF UARTE 0) won't build"
**Describe the bug**
Can't build project for `set(BOARD nrf52840_pca10056)` with `CONFIG_UART_0_NRF_UARTE=y`. Build process fails on undeclared symbol.
`[build] ../zephyr/drivers/serial/uart_nrfx_uarte.c:581:5: error:
 DT_NORDIC_NRF_UARTE_UART_0_CURRENT_SPEED' undeclared here (not in a function); did you mean 'DT_NORDIC_NRF_UART_UART_0_CURRENT_SPEED'?`
`[build]      DT_NORDIC_NRF_UARTE_UART_##idx#

[2018-12-07 09:46] MarekPieta commented on #11393
Ok, we may use logger redirection and this solves printk issue.

Anyway we got similiar problem when we want to write to RTT buffer in interrupts for example when we are using profiler (like SystemView). Some time ago there was separate thread for SystemView profiling, but now it uses hooks, so we may write to RTT nearly from any context - it may cause the same problem as it was reported for print

[2018-12-07 09:53] SebastianBoe commented on #5343
-- @galak

Done.

[2018-12-07 10:01] #11343 closed

[2018-12-07 10:01] #11659 closed

[2018-12-07 10:05] oxymoron87 opened #11932 "CMake error when deselecting "UART Port 0 Driver type""
**Describe the bug**
CMake error when deselecting "UART Port 0 Driver type" in Device Drivers -> Serial Drivers -> nRF UART nrfx drivers (through menuconfig).

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=nrf52840_pca10056 ..
3. ninja menuconfig
4. deselect Device Drivers -> Serial Drivers -> nRF UART nrfx drivers -> UART Port 0 Driver type
3.

[2018-12-07 10:56] pizi-nordic commented on #11722
I think we have to choose between two modes of the operation:

- Current approach, when we are trying to compensate delayed firing of the timers:
[code]
   In this approach we are trying to meet expectations about number of timer firings in given time interval.   However this makes system time not monotinic, and in extreme case we can timer scheduled over short period of time could file almost imm

[2018-12-07 10:58] pizi-nordic commented on #11722
I changed priority to high, as the problem is located in the system timers.
I also removed the nRF tag for the same reason.

[2018-12-07 11:01] carlescufi commented on #2907
CC @pabigot

[2018-12-07 11:05] pabigot commented on #2907
See slack discussion around [here](https://zephyrproject.slack.com/archives/C18PLHN8H/p1544180371434500).

[2018-12-07 11:07] jarz-nordic commented on #11928
This is philosophical problem, what shall be done in DT and what in Kconfig.

We agreed that Zephyr will be Linux-like so in Kconfig you set a driver to be compiled and in DT peripheral to be used.

Please refer to issue: #11792

To fix it simply edit file:
`zephyr/boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts`
you need to change line 92:
`compatible = "nordic,nrf-uart";` to `compatible = "no

[2018-12-07 11:07] #11928 closed

[2018-12-07 11:11] #10191 closed

[2018-12-07 11:13] carlescufi commented on #11675
If your board uses Device Tree then the assignment happens in the `dts` file and overlays. Closing this since we have concluded that using `chosen` nodes is the right approach for this.

[2018-12-07 11:13] #11675 closed

[2018-12-07 11:15] carlescufi commented on #11712
@oxymoron87 note that there is an ongoing discussion about the C library and and types that @galak is leading.

[2018-12-07 11:17] jarz-nordic commented on #11932
@oxymoron87 :In my opinion it is expected behavior. You've selected that you want to use serial but you did not choose a driver. It seems to be related to your other issue: #11928. Do you still consider this PR as an issue?

[2018-12-07 11:39] pdunaj commented on #11722
I would ask a question here - which modules depend on the first approach (i.e. approach where you are interested in average number of calls, not timings).

Delayed works can execute periodically but they set new timeout from workqueue thread context (so out of this case). Also in this case you want to be called _not sooner then_.

For waking up threads (stopping sleep, breaking on timeouts, etc.)

[2018-12-07 11:56] pkral78 commented on #11393
@MarekPieta Intent not to lock an irqs in locking macros is that default (i.e. channel 0) up/down buffers are shared across many subsystems on Zephyr that simply does not need to lock irqs.

You should allocate and use different RTT channel for SystemView, assigned exclusively for this purpose. I do not know details how SystemView works, but to deal with irq priority there, it of course need to lo

[2018-12-07 11:57] carlescufi commented on #1387
CC @pabigot

[2018-12-07 11:57] SebastianBoe commented on #11916
Perhaps instead of using weak symbols we should use different object files in different linker passes.

[2018-12-07 12:34] galak commented on #8481
Not sure if this can be resolved yet or not.

[2018-12-07 12:36] galak commented on #9777
@nategraff-sifive can you look at this, I was able to reproduce it based on the instructions in the issue.

[2018-12-07 12:38] carlescufi commented on #11296
@cvinayak could you please take a look at this question?

[2018-12-07 12:39] galak commented on #9695
Looks like we've removed these so closing this issue.  Please re-open if I missed something.

[2018-12-07 12:39] #9695 closed

[2018-12-07 12:47] pizi-nordic opened #11935 "Invalid usage of k_busy_wait()"
**Describe the bug**
Most of the timing APIs in Zephyr uses ms as a time unit. There are also several macros, which converts other time units to milliseconds. However the `k_busy_wait()` uses us as a unit, so all these helpers cannot be directly used with this call. Unfortunately this subtle difference is missed in few places in Zephyr.

- `drivers/display/ssd1673.c:  k_busy_wait(SSD1673_BUSY_DELA

[2018-12-07 12:51] pizi-nordic commented on #9043
Could we close this?
It looks that whole thing is caused by high frequency of hardware timer on some architectures. There is a way to mitigate this in the logger (just provide other clock reference).

[2018-12-07 13:02] pdunaj commented on #11393
Hi @pkral78 ,
First and foremost there is only one lock in RTT called (`SEGGER_RTT_LOCK`) that is taken whatever destination buffer is selected.
Second, profiler hooks are called from various places inside the system - some of them from interrupt context in which you cannot take mutex.

There are 3 ways of solving issue in profiler:
1. Create a dedicated thread for deferred send of profiler data.

[2018-12-07 13:09] jhedberg commented on #9043
@pizi-nordic sure, though applications shouldn't be required to fix this, rather the commonly used boards that have this issue (e.g. qemu_x86) should come with a solution built-in and enabled by default.

[2018-12-07 13:21] aurel32 commented on #9043
I think the issue is present on all ARM boards except the nRF52 based ones. The standard timer on ARM board is the ARM systick one, which usually runs in the range 10-500MHz.

[2018-12-07 13:30] agansari commented on #11586
@jeremy-e-mills Yes, you are right, I've also tested with the pin set as input today, it works... but I wouldn't make this change for maintainability purposes (shared header files with MCUXpresso and their demos).
We should make this change only if we ever implement PHY interrupt mechanisms (PHY register 1Bh is currently not implemented in phy's header).

[2018-12-07 13:30] pabigot commented on #1387
I'd be interested in taking this on, but it'd start with some architectural design.  A generic ability to have device-specific functions and state exposed to the user seems to be lacking in Zephyr and I believe that lack makes things difficult (for both sensors and for devices that support a generic API but have extra functionality that isn't obviously generalizable).

[2018-12-07 13:50] rokobert opened #11940 "Ble mesh stack not compatible with c++"
To @jhedberg
If I include BLE mesh stack into project, it is not possible to compile with c++ compiler.

Header files of BLE Stack are not equiped with extern "C".

Header files must be equiped with macros.
#ifdef __cplusplus
extern "C"{
#endif

#ifdef __cplusplus
}
#endif

[2018-12-07 13:54] pizi-nordic commented on #9708
I have tun 100 iterations without delay and 100 iterations with delay. There was no even single failure. Closing.

[2018-12-07 13:54] #9708 closed

[2018-12-07 14:00] carlescufi commented on #11187
CC @mped-oticon

[2018-12-07 14:03] jhedberg commented on #11940
@rokobert were you still planning to submit a pull request yourself for this? You indicated that you might do that in our email exchange a few weeks ago.

[2018-12-07 14:08] pkral78 commented on #11393
That's just SEGGER's RTT library design limitation. RTT itself does not suffer from such global lock.

Right, but it does not implicate that Zephyr should lock whole system because of SystemView.

that the `SEGGER_RTT_LOCK` is taken for long periods of time. The ideal situation would be for it to be taken only to reserve space in the buffer and when the buffer is mark ready for processing so point

[2018-12-07 14:15] SebastianBoe commented on #11187
I think I'm going to have to insist that someone else fixes this issue. If I can't make something work, I can't fix it's bugs either.

[2018-12-07 14:40] jukkar commented on #9043
In frdm-k64f the counter wraps after 35 sec. I agree with @jhedberg here, there should be no need to application to "fix" this. In a way this is not really a logging subsystem issue but it is easy to see the problem when looking the logging output.

[2018-12-07 14:45] #11827 closed

[2018-12-07 14:49] jukkar commented on #11827
Various generic gptp issues are now fixed.
So I no longer see these messages
[code]
but there is still some fishy going on in frdm as now I am seeing these kind of messages
[code]

[2018-12-07 15:09] #11375 closed

[2018-12-07 15:13] pizi-nordic commented on #9043
So the only generic solution I see is introduction of "k_cycle_get_64()". Otherwise every soc will have to provide some custom clock source for logging only.

[2018-12-07 15:14] jeremy-e-mills commented on #11586
@agansari OK, thanks for the work, I consider this issue fixed.

One other thing not related to this issue, but is relevant to your IMX ethernet work:

I am currently running the gptp sample but in order to build it I found that I had to make a couple of modifications so that the mcux PTP timestamping specific code builds for the IMX processor, as follows:-

1. Added the following project definiti

[2018-12-07 15:21] #5343 closed

[2018-12-07 16:04] pizi-nordic commented on #11721
It seems that this failure is caused by the same issue that triggered the https://github.com/zephyrproject-rtos/zephyr/issues/11722.

I was not able to reproduce it on unmodified code, however after altering the `nrf_rtc_timer.c` which enforced late execution of the `z_clock_announce()` (few ticks after expected time) the test failed in the same way as described in the bug report.

FYI: @carlescuf

[2018-12-07 16:21] carlescufi commented on #6770
@tejlmand @nashif @mbolivar (CC @aescolar)

Unresolved issues before we can split the main repository into multiple ones:

1. PRs across multiple repos: How to match and retrieve a PR that spans multiple repositories. Possible solutions:
   * Use branch names: Same branch across all repositories, including manifest repo
   * Use an equivalent of a Changeset ID
   * Avoid the problem at all by movi

[2018-12-07 16:31] #11904 closed

[2018-12-07 16:32] #11794 closed

[2018-12-07 16:33] #11857 closed

[2018-12-07 17:02] nategraff-sifive commented on #9777
I'll take a look. Also, I can reproduce this failure on latest master (3651e03eebbba5a8d281348d145ef8e03d8b65db) with no boot delay:

[code]

[2018-12-07 17:18] dbkinder commented on #6782
We can generate PDFs (manually) now for the whole document tree, so closing this issue. Issue  #10324 tracks doing a PDF generation with a release.  No intention to add PDF generation with the daily build or CI check. The need for section PDF generation (much harder problem) will be looked into further.

[2018-12-07 17:18] #6782 closed

[2018-12-07 17:36] nategraff-sifive commented on #9777
It looks like the failure is actually related to `test_mpool_alloc_free_isr`.

If you modify `test_main()` to just run `test_mpool_aloc_free_isr`, you get

[code]

[2018-12-07 17:45] nategraff-sifive commented on #9777
@galak I can fix this by modifying prj.conf to increase the ISR stack size from 512 to 1024 bytes. Is that an acceptable solution?

[2018-12-07 17:46] carlescufi commented on #11922
@anangl was the person leading the ADC API rework that took place recently.

[2018-12-07 17:53] #5198 closed

[2018-12-07 18:07] psidhu commented on #9174
@ydamigos I got into this state once. Your patch solved that issue.

[2018-12-07 18:08] carlescufi commented on #11779
@anangl @kl-cruz would you please take a look at this?

[2018-12-07 18:16] himanshujha199640 commented on #11095
The code in context is:
[code]

And coverity says:
[code]

which means coverity doesn't understand the purpose of `__ASSERT` and the returrn value is actually **used** there. So, clearly it is another class of false postives I have observed while skimming through
other coverity issues.

So, please mark it as `False positive` in the Coverity triage, admins!
I don't have the rights to do it myself a

[2018-12-07 19:00] ydamigos commented on #9174
@psidhu Thanks for the feedback. I had forgot it completely.

[2018-12-07 20:32] palmer-dabbelt commented on #11916
I might have said this wrong during the summit, but the two-pass link in Linux was doing something different: it didn't expect stable symbol addresses, but instead used weak undefined symbols that later become defined.  The Linux code was legal, it was just triggering a linker bug.

I can't figure out a better way to deal with the harder problems :)

[2018-12-07 20:38] andrewboie commented on #11916
I tried this at one point. Unfortunately, the objects would appear in different places in the binary, which broke stuff. They have to be guaranteed to be in the same place or it falls over. Might still be possible but everything would have to be linked in the same order. This might be the best route actually, see below:

Hmm. I may have spoke to soon. We can use symbols for the ISR addresses, but

[2018-12-07 21:41] #11914 closed

[2018-12-07 21:46] andrewboie commented on #11916
I think it's probably just simplest to revert 140863f6a753f3ab169e0faee79463e977c1364f
and go back to using .gnu.linkonce.

[2018-12-07 21:59] andrewboie opened #11961 "Python warning in process_gperf.py"
**Describe the bug**
[code]
**To Reproduce**
Steps to reproduce the behavior:

Do any build with CONFIG_USERSPACE=y and the latest Python 3.7, only started to see this when I upgraded to Fedora 29.

**Expected behavior**
No Python warnings.

**Impact**
Probably harmless but someone should take a look and at least get rid of the warning.

**Screenshots or console output**

**Additional context**
Ad

[2018-12-07 22:08] #10747 closed

[2018-12-07 22:08] #11129 closed

[2018-12-07 23:06] andrewboie commented on #9777
Looking at the code, it might be simplest to just define the array of blocks at the top of the function as static, so they don't go on the call stack.

[2018-12-08 00:33] #3079 closed

[2018-12-08 01:09] #9777 closed

[2018-12-08 05:30] pfalcon commented on #11586
Nothing helps so far. But I was reproduce 2 times in row following on app start:
[code]

[2018-12-08 05:36] pfalcon commented on #11586
Well, that started when I tried different eth cable. Seemed stable, until I disconnected that cable and connected it again.

Overall, 10 tries - stop debugging, start again, power on board with cable connected, etc, - nothing helped so far to get activity LED on laptop side (seemed to help previously).

[2018-12-08 05:43] pfalcon commented on #11586
Yeah, seems to be well reproducible/repeatable, with the 1st the cable too.

Now I really start to think that all these problems I experience is due to insufficient power of microUSB (already tried a different USB cable). Will see if I'm able to find a suitable power supply with barrel connector.

[2018-12-08 06:02] pfalcon commented on #11586
Ok, so what I did, is took external USB power supply (Amazon Kindle one, known to be pretty good), and connected to J9 microUSB connector on the board, which seems to be the dedicated microUSB for just power input. Before that, switch J1 DIP to 3-4 position. All that of course following IMXRT1050EVKBHUG.pdf .

Nothing. The link indicator is dead on my laptop.

Swapping in frdm_k64f with all the sa

[2018-12-08 06:04] pfalcon commented on #11586
Huh, I reverted to master (from https://github.com/zephyrproject-rtos/zephyr/pull/11882). LED is up at once!

[2018-12-08 06:06] pfalcon commented on #11586
Ping don't work.

Summary: https://github.com/zephyrproject-rtos/zephyr/pull/11882 deterministically held link down for me.

[2018-12-08 06:11] pfalcon commented on #11586
So, now I got the link up. Let's see if #11882 will be able to put it down. Well, yeah, the link goes down actually when GDB starts to upload the code to the board, and stays down.

[2018-12-08 06:20] diegosueiro commented on #6365
@galak,

I can confirm that at 1daf559 "dummy-flash" is working.

[2018-12-08 06:20] #6365 closed

[2018-12-08 06:54] andrewboie commented on #10635
should be fixed by #11962

[2018-12-08 06:54] #10635 closed

[2018-12-08 11:46] aurel32 commented on #11255
As discussed in PR#11888, I am convinced this bug is due to the timeout code in the TX part of the Ethernet driver. Copying the description from the other PR:

I have found it happens when the Zephyr network stack has to sent 2 packets in row, for example an ack for the just received data + answer data. This seems to be a latent issue, but it happens more often given that instruction cache and now

[2018-12-08 12:01] Dolu1990 commented on #10788
@brouhaha Sorry, just seen your message now :/

So, in the Igloo2Perf and Up5kPerf, i implemented a 32 bits mtime and use the mtime zephyr driver without any changes. Implementing it as a 32 bit time even avoid the 64 bits issue that was in zephyr 1.13

For the Up5kArea design, i implemented my own 20 bit timer / zephyr driver to reduce the area usage, if i remember well it reduce about 100 lut th

[2018-12-08 12:06] aurel32 commented on #11255
I have found that this is done by tagging the last fragment of the frame with `GMAC_TXW1_LASTBUFFER`. So indeed the solution proposed by @mnkp works.

[2018-12-08 12:56] #11940 closed

[2018-12-08 13:13] NZSmartie opened #11967 "nrfx SPI driver blocks indefinitly when transfering"
The SPI driver for Nordic's nRF5x chips blocks indefinitely when performing a transfer.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a project targeting any nRF5x SOCs, (i.e. `nrf51_ble400`, ..., `nrf52_pca10040`)
1. Enable a SPI driver.
   For example, here is a snippit from defconfig from enabling `SPI_0`

[code]
1. In the application, Get the SPI device and initiate a `spi_writ

[2018-12-08 13:17] NZSmartie commented on #11967
I have identified what may be the cause of the block on line 153 of `spi_nrfx_spi.c`

https://github.com/zephyrproject-rtos/zephyr/blob/62c8fee2ecadb48b84b6115567db3422ab5b94c3/drivers/spi/spi_nrfx_spi.c#L134-L166

If the SPI xfer is a success, the function immediately returns without clearing the semaphore associated with the driver's context.

I've noticed that the same pattern is used with [`sp

[2018-12-08 13:18] NZSmartie commented on #11967
Would like to CC: @anangl on this as well

[2018-12-08 14:34] galak commented on #11859
Is there some other setting you've got in the env or something.  I'm not able to reproduce this.

[2018-12-08 14:37] galak commented on #11918
This might be better asked on the zephyr devel list devel@lists.zephyrproject.org

[2018-12-08 16:14] #2907 closed

[2018-12-08 17:13] nashif commented on #11671
Any file going into the zephyr tree with a different license that the project license needs to be reviewed. This check in CI is currently not 'required' for merging and still under heavy development, so a maintainer can override this check after reviewing the warnings and determining that the files are ok.

Will add some text explaining the above in the comment posted by CI.

[2018-12-08 17:14] nashif commented on #11670
Any file going into the zephyr tree with a different license that the project license needs to be reviewed. This check in CI is currently not 'required' for merging and still under heavy development, so a maintainer can override this check after reviewing the warnings and determining that the files are ok.

Will add some text explaining the above in the comment posted by CI.

[2018-12-08 18:05] nashif commented on #8626
While that would be nice, it will generate a huge amount of tests to be built on PRs, some SoCs have way too many boards to cover in a single CI run for each PR. This is now covered in a daily build of all boards and SoCs.

[2018-12-08 20:32] nashif commented on #10329
@MarekPieta do you want to propose a patch for this?

[2018-12-08 21:33] #4438 closed

[2018-12-08 23:07] pabigot commented on #6770
@carlesc asked for my input on this, but I have not delved into west beyond a peripheral awareness that it handles programming devices now  and will do more soon.  So what follows may be irrelevant.

### TL;DR

My top-level requirement for split-repository support would be: When I set my HEAD in zephyr to some commit via `git checkout` or `git reset --hard SHA1` I expect to be able to **immediatel

[2018-12-09 00:14] mnkp commented on #11737
Couldn't we replace #11886 by requiring the board or overlay file to define an alias, e.g.
[code]
The current DTS scripts generate the following defines (values from generated_dts_board.conf as they are easier to interpret)
[code]

And yes, the alias name would have to follow a strict convention, e.g. <_module_name_>-<_instance no._>. But that's easy to document and straightforward to follow.

Thi

[2018-12-09 05:04] b0661 commented on #11671
Reviewers usually do not review until the CI status is "passed".

Can this become a hint for reviewers and CI set to "passed"?

[2018-12-09 11:39] carlescufi commented on #7499
@ulfalizer I think we can close this now, agree?

[2018-12-09 11:52] ulfalizer commented on #7499
Yups, fine to close.

[2018-12-09 11:52] #7499 closed

[2018-12-09 15:23] pabigot opened #11974 "rework eeprom driver to clearly indicate it is a test stub"
The driver identified by `i2c,eeprom` is only used in, and only useful to, `tests/drivers/i2c/i2c_slave_api`.  It simulates in unretained RAM a generic EEPROM with no specific hardware interface or details, has an improperly composed device tree `compatible` name, and is positioned in the source tree in a way that may mislead future developers into believing that i2c and spi devices should be plac

[2018-12-09 16:18] pabigot commented on #11737
@mnkp so basically the proposal that introduced this issue, but adding an instance number to the alias node name.  Yes, that seems to be the best remaining short-term option.  It will break out-of-tree application code, but no more than has already been broken by changes since 1.13.  We'll have to see what pushback shows up once it starts making it into pull requests.  I'm working on one now.

[2018-12-09 16:23] andyross opened #11975 "Logging subsystem doesn't work with prink char_out functions"
If I have a platform where printk() works to emit to a console, the logging system should work with that output stream by default.

Right now, logging only understands a handful of backends, and oddly the printk char_out handler (c.f. __printk_hook_install()) is not one of them.

Obviously on many platforms the printk output is a uart driver, which is a supported backend.  But not all platforms wo

[2018-12-09 17:41] pabigot opened #11976 "APIs that support a callback should provide both the device pointer and a generic pointer"
I propose both a pointer to the associated device and a generic pointer should be provided consistently for all device API callbacks.

I'm running into an issue right now with `gpio_callback` where what comes in is the GPIO device `port` which I need to change the interrupt level sense, a pointer `cb` to a callback structure that lives within a sensor's driver data structure, and a bit-mask of pin