[2021-05-19 10:57] tejlmand commented on #35305
unfortunately not.
The mbed TLS library is linked inside the whole-archive, which means we cannot control the order in the usual CMake way.
So without #8451 this is difficult to manage.

That said, having the same APIs provided by two libraries and relying on correct linking order is in general a bad habit, and in high risk of suddenly fail if other changes / dependencies causes the link order to

[2021-05-19 11:06] joerchan commented on #33645
Closing as original question and follow-up question has been answered.

[2021-05-19 11:06] #33645 closed

[2021-05-19 11:10] #31588 closed

[2021-05-19 11:20] cvinayak commented on #35344
In step 197, data_len value is not considered in the coverity analysis, which should otherwise not cause data_len to be over 228 bytes. Instead data_len is assigned a value of 230 by coverity and hence causing the analysis to fail.

False positive.

[2021-05-19 11:22] carlescufi commented on #35344
Marked as false positive in Coverity, closing.

[2021-05-19 11:26] de-nordic commented on #34737
@carlescufi, @ioannisg  According to this bug description

Which means that compilation fails not due to bug but rather lack of feature.
I think this should be reclassified as feature request or enhancement.

[2021-05-19 11:40] pabigot commented on #29107
My opinion for what it's worth:

While there's a proposed workaround that requires modifying the Zephyr OS code itself, the problem remains: it is not confirmed that Zephyr's behavior is consistent with the specification, and a dongle application combining a Zephyr HCI-USB class with other USB classes like a console or shell **will not work on Linux without a change to Zephyr's USB framework**.

T

[2021-05-19 11:43] de-nordic commented on #33027
This is false positive. The coverity does not understand what is happening there it  thinks that the comparison is to detect whether addr has valid (non-NULL) or invalid pointer. Because it sees that RO_START is 0 (NULL) it thinks that someone is trying to check if addr is NULL or not, and does not understand that it is basically test if addr fits in specific range that is given by [RO_START,RO_EN

[2021-05-19 12:25] avisconti commented on #35297
I also have an issue with  commit 012988406205.
In my case I'm using Nucleo F401RE or F411RE with x_nucleo_iks02a1 or x_nucleo_iks01a3 shield. I did a modification to the samples to test both sensorhub and standard mode with mult-instance. The instance on DIL24 is attached thru SPI, and with this commit STM32 is not able to retrieve even sensor chip id.

I saved my branch on my github: iis2iclx-fi

[2021-05-19 12:27] galak commented on #34419
How are you "disabling" logging v2?

[2021-05-19 12:44] nordic-krch commented on #34419
by deleting content of this if statement:
https://github.com/zephyrproject-rtos/zephyr/blob/db4359cfd2492cf658f18cf0cd49736d7a6788b6/include/logging/log_core.h#L312

[2021-05-19 12:44] de-nordic commented on #33820
This is false positive, the `pthread_attr_getdetachstate` does not use `attr.priority` for anything, and this is just a test for the function to properly react for `attr.initialized == 0`

[2021-05-19 12:46] #35345 closed

[2021-05-19 12:46] #35346 closed

[2021-05-19 12:46] #33820 closed

[2021-05-19 12:47] #35108 closed

[2021-05-19 12:48] nandojve commented on #34971
I noted that `hal_nuclei/SoC ` is, in fact, [GD32VF103 Firmware Library](http://www.gd32mcu.com/en/download/7?kw=GD32VF1). On my view, a `hal_gigadevice ` should be created. That could aggregate all GigaDevice MCUs at same place, including ARM and RISC-V devices.

GigaDevice uses same peripheral on both ARM and RISC-V (some exceptions like interrupt controller) and all drivers developed to GD32 sh

[2021-05-19 12:52] #35390 closed

[2021-05-19 12:57] avisconti commented on #35297
I just saw that same issue is happening on sensortile.box board using latest master. Again, if I remove 0129884062055156bc79fd8faafaf13e601438b4 the SPI starts working again (by the way I have another issue on that board to STTS751 device, but it is on I2C, so totally different story)

[code]

You can find the sensortile.box sample here:
https://github.com/zephyrproject-rtos/zephyr/tree/main/sampl

[2021-05-19 13:02] #35100 closed

[2021-05-19 13:12] #35321 closed

[2021-05-19 13:16] galak commented on #33483
@ceolin is this still an issue?

[2021-05-19 13:25] galak commented on #35102
Closing this, @hakehuang re-open if you still have an issue since we merged #35416.

[2021-05-19 13:28] microbuilder commented on #35305
Given that the PSA API support in mbedtls 2.26.0 is still incomplete, and a (likely) LTS release of mbedtls will happen during the Zephyr 2.7.0 dev cycle, my vote is to disable use of the PSA backend for now in mbedtls, and reference mbedtls as a purely stand-alone module with no dependencies on TF-M.

We can revisit mbedtls + PSA integration in the 2.7.0 dev cycle, with an improved release of mbe

[2021-05-19 13:31] iceananas commented on #35363
Sure!

This is how I define my target characteristic UUIDs
[code]

 This is my callback when a connection was established and I call the discover function

[code]

And finally this is my discover callback

[code]

The commented part in the else-if loop is what I refer to. If i set ww_handle to `attr->handle+1`, I can use it to write a value for the characteristic. If not, the handle is offset by -

[2021-05-19 13:35] microbuilder commented on #35305
@urutva Does disabling these two defines result in the PSA APIs not being included in the mbedtls build:

[code]

@galak No samples in Zephyr 2.6.0 currently use this combination, and it will only be a requirement in 2.7.0, so we can document this as a known issue ("mbedtls 2.26.0 PSA Crypto APIs can not be used when CONFIG_BUILD_WITH_TFM is enabled.") and punt to 2.7.0 where we'll have more time

[2021-05-19 13:46] microbuilder commented on #35305
## Test Results

### With `MBEDTLS_USA_PSA_CRYPTO` (Fails)

[code]

[code]

### Without `MBEDTLS_USA_PSA_CRYPTO` (seemingly passes)

[code]

[code]

[2021-05-19 13:47] scottwcpg commented on #34879
SPI test passed on my board. Please check the SPI flash part is a Winbond W25Q128 with JEDEC ID that matches the JEDEC ID hard coded in the test: 0x001840ef.  If you are loading the Zephyr test app from the same SPI flash as the test then it should be able to read JEDEC ID.  For quad you must make sure the jumpers for SHD_IO2 and SHD_IO3 are correct:
SHD_IO2 JP98 connect 8-9
SHD_IO3 JP98 connect 1

[2021-05-19 13:49] de-nordic commented on #34167
I think that this issue https://github.com/zephyrproject-rtos/zephyr/pull/34945 is also relevant here.

[2021-05-19 13:56] #35444 closed

[2021-05-19 14:12] rlubos commented on #35401
The issue seems to be `MBEDTLS_HAVE_DATE_TIME` option, which is enforced by the `CONFIG_POSIX_API` (https://github.com/zephyrproject-rtos/zephyr/blob/main/modules/mbedtls/configs/config-tls-generic.h#L29). After enabling this option, mbedTLS expects to have a valid time in the system, and since there's no valid time on QEMU, the certificate validity check fails (either expired or not yet valid).

[2021-05-19 14:16] jukkar commented on #35401
I agree, using Posix API to decide that sounds error prone as we have seen.

[2021-05-19 14:21] rlubos commented on #35401
Ok, I'll send a PR then, thanks.

BTW, you don't need to create anything on your own, just include appropiate POSIX headers in the sample/lib. For me the following set of headers was enough:
[code]
We should probably switch to the `zsock_` API in the library so that we're not dependent on the POSIX configuration in the system.

[2021-05-19 14:32] mglettig commented on #35401
@rlubos Thanks for finding out what is causing this issue and thanks for providing a PR. I think it's a great sugestion to decouple the civetweb lib from the POSIX API. Do you thank those change would get accepted by civetweb project or would it be necessary to maintain a Zephyr specific version of civetweb?

[2021-05-19 14:45] rlubos commented on #35401
Oh, I think you've misunderstood me - I've meant the `http_client` library from Zephyr, used by the sample referenced in this issue. As for the civetweb, I'm not able to comment unfortunately, as I don't know the details of the library, but given that it seems to rely not only on the socket API but also other APIs provided by POSIX, I don't think it'd be a trivial task.

And actually, if the civet

[2021-05-19 14:46] carlescufi commented on #35187
@tejlmand will send a PR in time for 2.6.0

[2021-05-19 14:47] carlescufi commented on #34962
@tejlmand is not the right assignee here, added relevant ones.

[2021-05-19 14:48] carlescufi commented on #34962
@galak this is an upstream TF-M issue, so you could exclude it from the release bug tally.

[2021-05-19 14:52] carlescufi commented on #34214
@galak this is not going to be fixed for 2.6.0, since it requires a substantial change, as per conversations with @gmarull. That said, the actual description is not exactly a bug, it's a compiler feature where differently sized arrays will not override the original weak array.

[2021-05-19 14:53] carlescufi commented on #33213
Closing since it is not reproduceable. @thedjnK please reopen this if you have a way of helping us reproduce this.

[2021-05-19 14:53] #33213 closed

[2021-05-19 14:57] carlescufi commented on #32577
Changing to Enhancement to support CMake's `CMAKE_TOOLCHAIN_FILE`

[2021-05-19 15:03] galak commented on #25917
is this fixed?

[2021-05-19 15:04] galak commented on #33440
@richardbarlow any updates on this?

[2021-05-19 15:05] alexanderwachter commented on #35437
It seems that it is an Bock M_CAN. If that is the case, you "only" need a fronted for the generic M_CAN driver.
(see the stm32_fdcan). @legoabram already ported to a SAM SoC.

[2021-05-19 15:16] ioannisg commented on #33768
Closing this.
@sw if this pops up again, in a similar scope, you are welcome to re-open, or open a new ticket.

[2021-05-19 15:16] #33768 closed

[2021-05-19 15:18] carlescufi commented on #34282
Thanks very much. We ran it again on the TSC, and there were no objections to moving forward with this, although there were a couple of additional remarks/questions:

- Reminder: By posting a Pull Request and a new HAL you should commit to a minimum of maintenance of the SoC and board files, as well as the HAL repository in order to make sure that the support for Telink ICs does not go stale.
- Wo

[2021-05-19 15:19] ioannisg commented on #8393
@carlescufi you reopened this, however, I am not sure if this still applies. CONFIG_MULTITHREADING=n is only maintained on Cortex-M, for now, and I can confirm that in Cortex-M this is not an issue.

[2021-05-19 15:33] #33745 closed

[2021-05-19 15:35] carlescufi commented on #8393
I agree, as long as you confirm that this is not an issue with Cortex-M then we can close this @ioannisg

[2021-05-19 15:36] ioannisg commented on #8393
https://github.com/zephyrproject-rtos/zephyr/commit/3b89cf173b6b0085c84a09fd97b42e08a25ae4b3

@carlescufi ^^

[2021-05-19 16:53] scottwcpg commented on #34879
@yerabolu Please review the above debug results

[2021-05-19 17:01] #34419 closed

[2021-05-19 17:07] jfischer-no commented on #33440
That is not right, see my comment https://github.com/zephyrproject-rtos/zephyr/pull/34066#issuecomment-820386381, it also depends on controller type. The issue is rather the user experience with the proposed solution, as it is not obvious. cc @anangl

[2021-05-19 18:10] mbolivar-nordic commented on #27471
@JordanYates @ioannisg I totally agree that things are pretty messed up and hard to use right now. But I think part of the reason why is that we've evolved things organically in response to pain points and there's no overall plan, so anytime you go off of the well-beaten path, it's easy to shoot yourself in the foot.

And I take my share of blame here because I was there when the current DTS appro

[2021-05-19 18:18] de-nordic commented on #27471
@mbolivar You are right.

[2021-05-19 18:44] jenmwms commented on #33275
I tried increasing all of the stack sizes and that did not seem to help (used grep in .config to identify all *_STACK_SIZE).

[2021-05-19 19:11] henrikbrixandersen commented on #34915
@hakehuang Are you sure this is failing on the lpcxpresso55s28 as well? The lpcxpresso55s16 has IRQ 57 reserved, but according to the user manual for the lpcxpresso55s28, it does not reserve IRQ 57.

I have tested the fix in #35472 on the lpcxpresso55s16 but I do not have access to a  lpcxpresso55s28 EVK.

[2021-05-19 19:15] henrikbrixandersen commented on #35104
I believe this is identical to #34915.

[2021-05-19 19:41] joerchan commented on #35363
Thanks for the response. There is no bug, but we are lacking proper documentation and samples in this area. We have an open issue to fix this here: https://github.com/zephyrproject-rtos/zephyr/issues/27763.

The reason why are you getting the "wrong" handle is because a characteristic is split into two attributes, the characteristic declaration, and the characteristic value. When doing the Discove

[2021-05-19 19:41] #35363 closed

[2021-05-19 20:00] simonguinot opened #35474 "The dma-stm32 driver don't build for STM32F0 MCUs"
Here is the error message when building the dma-stm32 driver for a STM32F0 MCU:

[code]

I encountered this issue when building a Zephyr application for a nucleo_f070rb board with SPI_STM32_DMA enabled.

[2021-05-19 20:25] martinjaeger commented on #33509
I did some further investigations and I think this is not a task watchdog issue, but a problem with the hardware watchdog driver.

Without `--reset-after-load`, even very simple apps like blinky and hello world don't start without pressing the reset button, so this seems to be a general issue with the J-Link runner (or is it intended?).

The issue that the device can't be flashed anymore only happ

[2021-05-19 20:40] henrikbrixandersen commented on #35099
[code]

[2021-05-19 20:58] LeBlue opened #35476 "bluetooth: controller assertion when scanning with multiple active connections"
**Describe the bug**

With the hci_usb sample, if more than one peripheral is connected, enableing scanning hits always the following assert:
[code]
The value is `ret == 1 == TICKER_STATUS_FAILURE`
https://github.com/zephyrproject-rtos/zephyr/blob/c71e2dc0077d658b61a8981df6181269890fbc66/subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c#L713-L715

**To Reproduce**
Steps to reproduce the behavior:

[2021-05-19 21:10] #32904 closed

[2021-05-19 21:10] #32923 closed

[2021-05-19 21:16] #34915 closed

[2021-05-19 21:16] #35104 closed

[2021-05-19 21:44] iceananas commented on #35363
Thanks a lot for clarifying this! That makes sense.

Yes some more documentation and examples would be nice, I had to guess multiple times what to do and I also had in mind that there are probably two handles, but I couldn't find the information. This helps me definitely.

[2021-05-19 21:45] gmarull commented on #35236
the provided steps can't be reproduced as the repository doesn't exist

[2021-05-19 23:24] soburi commented on #34971
Previously, https://github.com/riscv-mcu/GD32VF103_Firmware_Library is distributed by GigaDevice as SDKs.
The repository's README references https://github.com/Nuclei-Software/nuclei-sdk that provides more good support for the SoC.
nuclei-sdk seems newer,  I select it.

I agree it.

nuclei/NMSIS/Core contains header files for CPU core related defines such as registers etc.
Any other files are not

[2021-05-20 00:52] gregshue commented on #35236
@gmarull, strange. I verified the repo has public visibility and is readable from my wife's computer.  The link without the @# works.  You will find that commit at the HEAD of branch `bug/35236_doc_gen_FAILS`.  What makes you think the *repository* doesn't exist?

[2021-05-20 01:09] cvinayak commented on #35476
Thank you for reporting the bug.

This is how it was, before the offending commit. To avoid increased ticker operation structure memory allocations that is required (upto the amount of elements that could get enqueued in the prepare pipeline queue) to successfully enqueue ticker_start and then check for failure to start in callback is unnecessary hence for now ignoring the return value is good.

I

[2021-05-20 01:32] IRISZZW opened #35479 "address is not a known kernel object exception with arcmwdt toolchain"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. export ZEPHYR_TOOLCHAIN_VARIANT=arcmwdt (with mwdt toolchain installed)
2. export ARCMWDT_TOOLCHAIN_PATH=${METAWARE_HOME}/../..
3. ./scripts/twister -p nsim_em -W
4. See error

**Logs and console output**

Lots simi

[2021-05-20 01:51] maksimmasalski commented on #10436
Probably it came back, because to be compliant with the MISRA Coding guidelines that part of define should be changed. MISRA says "A macro shall not be defined with the same name as a keyword in C90"

[2021-05-20 01:52] JordanYates opened #35480 "pm: device_runtime: `pm_device_request` can block forever"
**Describe the bug**

The core runtime power management function `pm_device_request` can hang forever with a small amount of bad luck.
The core actions taken by this function are:
[code]

The nuance is that the `condvar` API only unblocks threads that are currently blocked, there is no persistent state like `k_poll_signal`. What this means is that if the thread calling `pm_device_request ` is inte

[2021-05-20 01:52] JordanYates commented on #35480
@ceolin

[2021-05-20 02:48] sslupsky commented on #35316
That might work if I can continue to use RTT?

How do I shut down cdc acm?  It should not be enabled since USB is not yet enabled?

[2021-05-20 03:09] sslupsky commented on #24625
@cederom i think most of what you want to do is already there.  I believe the nRF52 has an rtc driver and there are some posix date and time functions to set the date.  To time stamp your samples you can use the kernel time functions such as k_uptime_get().  I have slow sampling requirements so I configure a kernel timer and use that to synchronize my samples.

[2021-05-20 03:44] ceolin commented on #35480
You're absolutely right, I noticed it this week. This pr fixes it https://github.com/zephyrproject-rtos/zephyr/pull/35315
This commit https://github.com/zephyrproject-rtos/zephyr/pull/35315/commits/1039186d730d2c71cd92ab90c38965745a1adec8, in particular, introduces a function to wait correctly on the codvar

[2021-05-20 04:02] #35099 closed

[2021-05-20 04:49] hakehuang commented on #33747
@ainguraXmarquiegui can you apply below patch at your envrionment

[code]
and add below lines to your board.config

[code]

what I get is below
[code]

looks like something not correctly sync for t2_ns and t3_ns which is not in the same range. my test envrionment is to use a frdm_k64f board to connect with rt1060_evk, which seems not correctly.

[2021-05-20 06:04] mrks115 opened #35486 "drivers: sensor: lis2dh: Allow power-down mode"
**Is your enhancement proposal related to a problem? Please describe.**
When setting the sensors frequency (= ODR register) the driver [checks if the frequency is equal to zero](https://github.com/zephyrproject-rtos/zephyr/blob/bd122e5ea232b2e20eb81aea824c3c9305b88488/drivers/sensor/lis2dh/lis2dh.c#L127). This prevents the user from using the sensors power-down-mode, which is set via `ODR = 0`.

*

[2021-05-20 06:26] martinjaeger commented on #33509
Ok, I think I found a fix now. Please ignore my previous comment regarding how to proceed and have a look at the PR to see if it provides a suitable solution.

[2021-05-20 06:33] yashi commented on #35107
Why do we need to _clean_ the d-cache in `z_arm_mpu_init()`? What data in no-cache area are we trying to write back to the memory?  If there is nothing we need to keep, can we just call `SCB_InvalidateDCache()`?

Just for me to understand the context:
- `CONFIG_NOCACHE_MEMORY` means we have uncached region in the system memory.
- `CONFIG_INIT_ARCH_HW_AT_BOOT` means force Zephyr to initialize the h

[2021-05-20 06:48] IRISZZW commented on #35479
Let's debug `tests/kernel/mutex/mutex_api` for example:

[code]
`kmutex` is at address: 0x800064b8
![image](https://user-images.githubusercontent.com/16890595/118931109-2baef600-b979-11eb-93dd-648cea48b4a0.png)

then enable verbose with `gen_kobject_list.py`:

[code]

there is an unexpected offset 0x1400 (0b5120), then check the `zephyr_prebuilt.map`:
[code]

and check the ``:
[code]

it seems ` .

[2021-05-20 06:52] maksimmasalski commented on #34748
Current status:
On my Fedora 34 code didn't cause a Segmentation fault.
[code]
However, when I run in valgrind I see next result and errors:
[code]
Next steps:
I recommend someone who has M1 Apple Mac try it and repeat the same behaviour which had @prathje
I asked on Slack community try that code on their M1 Macs if they are using them.

[2021-05-20 07:31] ainguraXmarquiegui commented on #33747
Hello @hakehuang . Thank you for the effort.

Here are the results of my test runs.

My setup is my Laptop running avnu gptp as master and the zephyr systems as slaves.

Here you can see a couple of test runs with your suggested code running on the imxrt1020evk connected to my avnugptp master pc:

[imxrt1020.log](https://github.com/zephyrproject-rtos/zephyr/files/6513747/00_hakehuang_log.imxrt1020

[2021-05-20 07:48] cederom commented on #24625
Yup this is what I already have working :-) But having this as standard function (even non posix) would be really nice :-) I already eat up around 60% o RAM :-) Thanks :-)

I have created a feature request here: https://github.com/zephyrproject-rtos/zephyr/issues/35333

[2021-05-20 07:49] maksimmasalski commented on #34748
I tried one more time to run code. But commented out all printk.
[code]
This time, valgrind didn't complain much:
[code]

[2021-05-20 07:52] FRASTM commented on #32839
For the nucleo_g071rb, I confirm that https://github.com/zephyrproject-rtos/zephyr/pull/35062 fixes the pb.

[2021-05-20 07:54] maksimmasalski commented on #34748
@prathje I think your Segmentation fault is platform related. On Fedora build native_posix no seg fault as I can see.

[2021-05-20 08:03] hwilmers opened #35489 "samples: net: gsm_modem: build fails if CONFIG_GSM_MUX=y"
**Describe the bug**
Building of sample app gsm_modem fails if GSM muxing is enabled
by setting CONFIG_GSM_MUX=y.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/gsm_modem
2. west build -b reel_board
-> OK, builds fine.

Now append to prj.conf:
CONFIG_GSM_MUX=y

Repeat build:
1. west build
-> build fails

**Expected behavior**
Build should succeed.

**Impact**
Showstopper - GS

[2021-05-20 08:07] #34076 closed

[2021-05-20 08:14] galak commented on #35489
@hwilmers this appears fixed on the main tree.

[2021-05-20 08:14] #35489 closed

[2021-05-20 08:18] galak commented on #32261
@dcpleung any updates on this?

[2021-05-20 08:47] simonguinot commented on #35474
Looking at #34972, I think it is not related.

[2021-05-20 09:18] hwilmers commented on #35489
Someone is working faster than me. Thanks ;-)

[2021-05-20 09:20] prathje commented on #34748
@maksimmasalski Thank you very much for your support! You are still encountering an uninitialized resource_pool, correct? Valgrind essentially tells you that the memory address (i.e., the pointer thread->resource_pool) has not been initialized. If this is the case (and I do not see any reason why the resource_pool should be correct as it is not the shared heap?), we would still need to initialize

[2021-05-20 09:37] stephanosio commented on #35097
Seeing the same failures on nRF boards: `nrf52840dk_nrf52840` (Cortex-M4) and `nrf51dk_nrf51422` (Cortex-M0).

[2021-05-20 09:41] carlescufi commented on #35113
@Thalley and @asbjornsabo can you send a PR or mark as false positive please?

[2021-05-20 09:43] galak commented on #35097
Can you clarify if that is before or after this PR (or both).

[2021-05-20 09:44] FRASTM commented on #35220
The pb of the #35220 is **not** fixed with this PR. The
Because the the soc/arm/st_stm32/stm32f7 does not define the `CONFIG_INIT_ARCH_HW_AT_BOOT`
then the Cache memory  is not disabled here in the `arch/arm/core/aarch32/cortex_m/scb.c`

[2021-05-20 09:47] carlescufi commented on #34659
@caco3 we will need more information in order to try and figure out the root cause. Ideally we'd need a small sample that reproduces this on an Nordic DK so we can then analyze the issue.

[2021-05-20 09:50] carlescufi commented on #34600
Downgrading to low since:

- This is only an issue when using  multiple L2CAP Connection-Oriented Channels (a rare use case in practice)
- There is a workaround (increase `CONFIG_BT_L2CAP_TX_BUF_COUNT`)

[2021-05-20 09:53] galak commented on #35220
Shouldn't the cache get invalidated though in `z_arm_mpu_init()`?

[2021-05-20 09:53] carlescufi commented on #32941
@Vudentz can you please take care of this one?

[2021-05-20 09:54] carlescufi commented on #30026
@jukkar ping

[2021-05-20 10:00] #35131 closed

[2021-05-20 10:00] #35124 closed

[2021-05-20 10:00] #35125 closed

[2021-05-20 10:00] #35128 closed

[2021-05-20 10:00] #35129 closed

[2021-05-20 10:00] #35120 closed

[2021-05-20 10:00] #35121 closed

[2021-05-20 10:00] #35122 closed

[2021-05-20 10:00] #35123 closed

[2021-05-20 10:00] #35132 closed

[2021-05-20 10:11] FRASTM commented on #35220
This is not enough since in the `soc/arm/st_stm32_f7` st_stm32f7_init  function already enables the cache.So that
1)  	`select INIT_ARCH_HW_AT_BOOT` in the soc/arm/st_stm32/stm32f7/Kconfig.series
2) remove the SCB_EnableICache/SCB_EnableDCache  in the soc.c of the stm32F7 (and probalbly also of the stm32H7

[2021-05-20 10:14] hakehuang commented on #33747
@ainguraXmarquiegui Thanks a lot. can you modify the baord config with below
[code]
there is a clock setting error in former SDK, and we need override the old clock rate.

[2021-05-20 10:16] galak commented on #35220
@FRASTM I dont follow.  It seems if I'm reading the code correctly that `z_arm_mpu_init()` will get called before `st_stm32f7_init`.

[2021-05-20 10:26] ainguraXmarquiegui commented on #33747
@hakehuang . This time I tested only on the imxrt1020evk. I have done several test runs and it still fails every time. I get the impression that the problem takes longer to manifest, but it's still happening. See the attached log file:

[imxrt1020-3.log](https://github.com/zephyrproject-rtos/zephyr/files/6515083/00_hakehuang_log.imxrt1020-3.log)

[2021-05-20 10:34] hakehuang commented on #33747
@ainguraXmarquiegui , there is another issue found in the fsl_enet.c

[code]

[2021-05-20 10:39] #33043 closed

[2021-05-20 10:40] sjanc commented on #33068
coverity status: Fixed

[2021-05-20 10:40] #33068 closed

[2021-05-20 10:40] sjanc commented on #33075
coverity status: Fixed

[2021-05-20 10:40] #33075 closed

[2021-05-20 10:41] sjanc commented on #33085
coverity status: Fixed

[2021-05-20 10:41] #33085 closed

[2021-05-20 10:42] ainguraXmarquiegui commented on #33747
I agree that your proposed change looks a lot cleaner than the previous code, but sadly the error is still happening.

This is the file where I have applied the change you were proposing:

[code]

[2021-05-20 10:47] cvinayak commented on #33037
Marked as false positive in coverity (like pretty much all bt_uuid issues)

[2021-05-20 10:47] #33037 closed

[2021-05-20 10:51] hakehuang commented on #33747
is it still sends 4004?

[2021-05-20 10:53] ainguraXmarquiegui commented on #33747
Yes:

[code]

[2021-05-20 10:55] hakehuang commented on #33747
looks like the frame send has somme issue, let me debugging it, according to former issue it may related to MPU settings. see below
https://github.com/zephyrproject-rtos/zephyr/pull/17603/files
Thanks a lot for your feedback.

[2021-05-20 11:02] #35113 closed

[2021-05-20 11:12] microbuilder commented on #35305
I've been trying to find a solution to the PSA config issue to not allow `CONFIG_BUILD_WITH_TFM` and mbedtls PSA APIs at the same time (since it leads to ambiguous linking), with some variation of a new PSA Kconfig menu and a default `config-psa.h` file similar to what we do for TLS:

[code]

This will only prevent potential linker issues when using this config file, though, not against users defi

[2021-05-20 11:12] carlescufi commented on #33052
@MaureenHelm assigning this to you since @MarkWangChinese is not yet part of the org, and this is BR/EDR with which you've shown an interest in keeping alive.

[2021-05-20 11:12] carlescufi commented on #18386
@MaureenHelm assigning this to you since @MarkWangChinese is not yet part of the org, and this is BR/EDR with which you've shown an interest in keeping alive.

[2021-05-20 11:13] carlescufi commented on #33041
@MaureenHelm assigning this to you since @MarkWangChinese is not yet part of the org, and this is BR/EDR with which you've shown an interest in keeping alive.

[2021-05-20 11:13] ioannisg commented on #31721
This does not really seem to fail; I 've tested it with 2.6.0-RC1 and with current master.
Closing for now, @PerMac pls, reopen if you test this and it fails for nrf9160.

[2021-05-20 11:13] #31721 closed

[2021-05-20 11:23] yurvyn commented on #34282
Hi @carlescufi

Yes, it is clear. I will maintenance all Telink related staff in Zephyr.

Done, see the [link](https://github.com/zephyrproject-rtos/zephyr/pull/35500).
Please pay attention that our toolchain is not yet integrated to SDK-NG and you have to download the toolchain from Telink website, see the [board documentation](https://github.com/yurvyn/zephyr/blob/telink_b91_tlsr9518adk/boards/r

[2021-05-20 11:23] affrinpinhero-2356 commented on #34732
HI @ABOSTM,

I havnt seen any deadlock with stm32h747i_disco board. Test methods was as follows.

1. Used GDB to put breakpoint in all function that called LL_PWR_ConfigSupply. And I have observed LDO settings were called second. For reference I have pasted debugger log below:
[code]
2. I have comented LL_PWR_ConfigSupply(LL_PWR_LDO_SUPPLY); were ever it was called and run.

[2021-05-20 11:55] str4t0m commented on #35474
I guess FRASTM meat to refer to #34666, which omits the assignment of DMA_InitStruct.PeriphRequest for series that are compatible to st_stm32_dma_v2bis.

[2021-05-20 11:58] yurvyn commented on #34282
@carlescufi,
As you recommended, I have updated "west.yml" that points to a "hal_telink" in my private GitHub account.
And, looks like, this is a root cause for some checks failing in this pull request, since the west is looking for hal_telink project in https://github.com/zephyrproject-rtos/.

Should I remove this SHA reference to my private GitHub account? Or, it is OK?

[2021-05-20 12:11] cvinayak commented on #35344
Reopening as a bug was identified for which PR is here https://github.com/zephyrproject-rtos/zephyr/pull/35453

[2021-05-20 12:50] #35479 closed

[2021-05-20 12:51] #34644 closed

[2021-05-20 13:17] PerMac commented on #32839
If #35062 helps for others I won't block this PR. Like I said, this test still fails once in a while with the fix, but it is not a big deal. We have to further investigate the issue on our side, maybe it is something with our timer. Then this issue can be closed and I can create a new one. @nordic-krch ^^

[2021-05-20 13:44] galak commented on #32839
Can you open a new issue for the NRF platforms.

[2021-05-20 13:44] #35073 closed

[2021-05-20 13:45] gmarull commented on #34997
Removing the `bug` label, since this is actually a feature request. https://github.com/nrfconnect/sdk-nrf/ can be taken as an example of docs for a complex module.

[2021-05-20 13:51] ioannisg commented on #34962
Well, it is an issue, since we integrate the PSA arch tests in Zephyr. So I am also fine with the LOW bug here :)
 @microbuilder do you think you could send a patch to fix this? Downstream is fine (then if it is fixed upstream we can do an upmerge and remove the downstream fix)

[2021-05-20 13:54] galak commented on #34909
@MaureenHelm / @hakehuang seems like the issue here is with CONFIG_DMA_LOOP_TRANSFER_CHANNEL_NR.  Not sure why the default value of 0 would cause the issue.

[2021-05-20 13:58] jhedberg commented on #32213
@de-nordic btw, reading again what you wrote, I think we have a slightly different idea of what "domain" means.

I see it as answering the question "how to interpret the error code?" whereas it seems you were more thinking of it as "who created the error?". I think the former would be more useful, and also in line with this kind of error abstractions I've seen elsewhere. The "default domain" conce

[2021-05-20 14:02] ioannisg commented on #32839
Agree, better to open a new issues for nRF since it is really a different driver.

[2021-05-20 14:07] gmarull commented on #35236
I can't reproduce the issue following the listed steps:
[code]

I'd suggest to build the docs in a isolated Python venv, ie

[code]

[2021-05-20 14:41] de-nordic commented on #32213
@jhedberg Everything is up for discussion.
There are several examples here in there that could be evaluated to figure out how they have performed and what we can learn from them; mbedtls for example uses codes which dedicate bits to identify an area where the error comes from, and so on.
On the other side I have been working on software that used such error code system: 15bits of 32 bit code would

[2021-05-20 14:47] PerMac opened #35509 "tests: timer: Unstable tests using timer at nrf platforms"
**Describe the bug**
Once in a few runs tests
tests/kernel/timer/timer_api/: test_timeout_abs (sometimes fails on nrf9160dk_nrf9160, often on nrf5340dk_nrf5340_cpuappns )
tests/posix/common/ : test_posix_realtime (sometimes at nrf9160, often on nrf5340dk_nrf5340_cpuappns)
are failing, respectively:
[code]
[code]

I created a combined issue as there might be the same root cause for these. Sorry for

[2021-05-20 14:50] PerMac commented on #32839
Descoped nrf platforms from here. Issue for nrf platforms: #35509

[2021-05-20 14:56] PerMac commented on #31721
after patching nrf53 with #35455 I see these tests failing most of the time on nrf5340dk_nrf5340_cpuappns. Haven't seen it failed on not ns version yet. I created a separate issue for timer-related instability in tests #35509.

[2021-05-20 14:57] #32839 closed

[2021-05-20 15:02] microbuilder commented on #34962
@ioannisg will do 👍

[2021-05-20 15:23] ddkn commented on #33485
Hi @erwango, Sorry I have been busy with classes and wasn't able to respond for a bit, only now getting back to things.

I ended up just implementing the ADC+DMA outside the zephyr ecosystem. Looking at #33846 looks like it is specific to the DAC DMA continuous mode with hardware triggering, andthat could provide some needed guidance for the ADC continuous mode. I also saw that there is this #3271

[2021-05-20 15:31] jhedberg commented on #32213
@de-nordic sure, for the most part I agree with you. Btw, the only case I can think of where "who created the error?" and "what does the code mean?" are different is when using the ubiquitous POSIX error numbers. Perhaps we could gradually have subcomponents declare their own domains & codes and then gradually move away from this problem.

[2021-05-20 15:33] jhedberg commented on #32213
...or then encode both domain, code and location-of-creation information into the value, but maybe that's too much overhead

[2021-05-20 16:23] ABOSTM commented on #34732
OK, I don't know exactly how to reproduce, I was excepting that your Test methods should be sufficient.
Nevertheless I think there is still a latent issue, as behavior is described in board's user manual,
And there is still an incoherence between LDO setting in `clock_stm32_ll_h7.c` and SMPS setting in `soc_m7.c`
Also, as the board can support both LDO and SMPS, it could be interesting to have the

[2021-05-20 16:26] Gunzter opened #35512 "OpenThread can't find TRNG driver on nRF5340"
**Describe the bug**
While trying to to build the [Echo Server Example](https://docs.zephyrproject.org/latest/samples/net/sockets/echo_server/README.html#sockets-echo-server-sample) for the nRF5340DK board the compilation fail. With message "#error OpenThread requires an entropy source for a TRNG". The issue seems rooted in Devicetree to me, but I am a complete newbie to Zephyr-OS.

**To Reproduce

[2021-05-20 17:05] microbuilder commented on #35305
As per a conversation with @urutva, the problem is as follows:

- `MBEDTLS_USE_PSA_CRYPTO` defines TF-M as a backend for Mbed TLS
- `MBEDTLS_PSA_CRYPTO_C` controls the TF-M crypto implementation in Mbed TLS.

Unfortunately, both configs are tied to each other, so one cannot enable only `MBEDTLS_USE_PSA_CRYPTO` (to use TF-M as a backend) ... we also have to enable `MBEDTLS_PSA_CRYPTO_C`, which pull

[2021-05-20 17:28] ioannisg commented on #35305
@microbuilder this is going to be addressed in the mbedtls 3.0, is that correct? If so, I think we will have time until the Zephyr LTS 2 release to fix this problem.

[2021-05-20 17:31] microbuilder commented on #35305
@ioannisg I think this is something to resolve in the 2.7 cycle with an update to mbedtls, yes, and we can bring the conflict up with the mbedtls community. I don't think this should be considered a bug to solve for 2.6.0. See #35513 for a release note describing this limitation.

[2021-05-20 17:44] #32921 closed

[2021-05-20 17:50] ioannisg commented on #34917
@hakehuang what is the commit you were testing? I'd like to try to reproduce this, if possible on other platforms?

[2021-05-20 18:10] dcpleung commented on #32261
Tried again but still cannot reproduce the issue:

* `./scripts/twister -p nucleo_f429zi -T tests/subsys/logging/ --device-testing --device-serial /dev/ttyACM0 -x=CONFIG_INIT_STACKS=y -x=CONFIG_STACK_SENTINEL=y`
* `./scripts/twister -p nucleo_f429zi -T tests/kernel/ --device-testing --device-serial /dev/ttyACM0 -x=CONFIG_INIT_STACKS=y -x=CONFIG_STACK_SENTINEL=y`

[2021-05-20 18:24] #35474 closed

[2021-05-20 20:58] andyross commented on #33544
This turns out to be a hardware bug.  I'm going to close this, there's no point in having this bug in Zephyr's metrics prior to a release, nor in airing Intel's dirty laundry on Github.

Intel folks interested in scrubbing laundry can follow the saga in RTOS-6239

[2021-05-20 20:59] jenmwms commented on #33275
I'm not sure why MUTLIBOOT is configured. Perhaps there is an issue with it being set for OUTPUT_EFI and MULTIBOOT...
CONFIG_MULTIBOOT=y
# CONFIG_MULTIBOOT_INFO is not set
# CONFIG_MULTIBOOT_MEMMAP is not set
# CONFIG_MULTIBOOT_FRAMEBUF is not set
CONFIG_BUILD_OUTPUT_EFI=y

[2021-05-20 21:06] andyross commented on #33544
Oh, and I should note:

If there's desire to resolve this test failure in upstream Zephyr for the purposes of tracking or whatever, some workaround in order of my personal preference:

1. Use the APIC_TSC_DEADLINE_TIMER, which is not susceptible to this bug
2. Turn off TICKLESS_KERNEL and use a 100 Hz tick rate, which avoids the slow paths in the HPET hardware
3. Turn the tick rate way down, maybe

[2021-05-20 21:34] #35097 closed

[2021-05-20 21:34] #35241 closed

[2021-05-20 21:46] #15738 closed

[2021-05-20 21:48] #33322 closed

[2021-05-20 21:52] #33009 closed

[2021-05-20 23:52] microbuilder commented on #34962
@ioannisg @oyvindronningstad https://github.com/ARM-software/psa-arch-tests/issues/265 allows the API tests to be run with:

[code]

If `CROSS_COMPILE` is not defined, it should continue to fall back to the default C compiler as before.

Tested on Darwin with `arm-none-eabi-gcc`.

[2021-05-21 01:27] #35157 closed

[2021-05-21 02:55] hakehuang commented on #34917
it is on zephyr-v2.5.0-3077-g3a7e0f875cf1 that I meet this failure. @ioannisg

[2021-05-21 03:01] gregshue commented on #34997
@gmarull As clarified by @galak during a recent triage meeting, because the Zephyr document generation behaves *inconsistently* this is considered a bug (even if resolving the bug involves an enhancement). Please restore the `bug` label.

We each have examples for docs for a complex module, but none are under the `zephyrproject-rtos` organization, so none are suitable for verifying the Zephyr docu

[2021-05-21 03:02] hakehuang commented on #34909
Thanks @galak , looks like LPC DMA can not use channel 0 as memory to memory dma. see this
![image](https://user-images.githubusercontent.com/800198/119075709-d54ac180-ba23-11eb-9e1a-1bd07c3fced9.png)

![image](https://user-images.githubusercontent.com/800198/119075760-f01d3600-ba23-11eb-87e7-062a97fb094d.png)
![image](https://user-images.githubusercontent.com/800198/119075801-fe6b5200-ba23-11eb-8

[2021-05-21 06:42] mglettig commented on #35401
@rlubos Ok I unterstand. You are of course right. I think refactoring `http_client` library to use the `zsock_` functions makes sense.

Regarding the actual issue and your PR. I verified on my setup that this solves the issue by manually disabling both compile switches: `#define MBEDTLS_HAVE_TIME` and `#define MBEDTLS_HAVE_TIME_DATE`. Thanks again. Looking forward to see that this PR gets applied

[2021-05-21 06:45] mglettig commented on #34737
@de-nordic Sorry but I don't agree. No longer being able to set `CONFIG_DEBUG=y` in my application when using CIVETWEB is a no-go. In my opinion the least that should be done is adding the missing functions to libc_extensions in the civetweb sample.

[2021-05-21 06:55] yashi opened #35522 "doc: Current section is not shown in the side pane nor the page top cookie"
**Describe the bug**
Pages about Device tree bindings doesn't show
- side pane index
- page cookie at the top

**To Reproduce**
Open one of many binding pages at https://docs.zephyrproject.org/latest/reference/devicetree/bindings.html

e.g) https://docs.zephyrproject.org/latest/reference/devicetree/bindings/cpu/arm%2Ccortex-m3.html#dtbinding-arm-cortex-m3

**Expected behavior**
1) side pane shows

[2021-05-21 06:57] de-nordic commented on #34737
So it used to work? If it used to work previously then it is bug indeed.

[2021-05-21 07:00] de-nordic commented on #34737
Actually, I have focused on missing function but the fact that turning on debugging breaks sample is a bug. Sorry @mglettig, you are right.

[2021-05-21 07:06] mglettig commented on #34438
I have a first working prototype here. My changes are no yet cleaned up and not ready for a PR but for a discussion it should be sufficient. Please have a look at the following changes: https://github.com/civetweb/civetweb/compare/master...endresshauser-lp:feature/https_support

Some explanations on what I needed to change:
- Introduction of a new KConfig value for civetweb module: `CONFIG_USE_MBE

[2021-05-21 07:18] gmarull commented on #34997
If I'm not wrong Zephyr docs do not claim to offer the described feature, this is why I think it can't be cobsidered a bug. Feel free to add the label back though.

I'll remove my assignment since I think Zephyr docs are and should be designed for the project itself. How external projects use it may vary, there are many ways to do that (eg NCS approach, simple usage of intersphinx, etc)

[2021-05-21 07:58] erwango commented on #34268
Ok, that's really strange we're not seeing the same.

Can you have a try by removing use of qspi as flash controller on the board?
Basically, you need to:
-Remove qspi as flash controller
-Re-instantiate storage partition on flash

This is equivalent to revert change (in the board dts file, no need to revert the full driver support)
https://github.com/zephyrproject-rtos/zephyr/pull/30864/files#dif

[2021-05-21 08:19] maksimmasalski commented on #34748
Please submit the PR.

[2021-05-21 08:22] gmarull commented on #33029
It turned out to be a false positive, so closing.

Details provided in the coverity issue:
[code]

[2021-05-21 08:22] #33029 closed

[2021-05-21 08:24] gmarull commented on #35522
These are pages marked as `:orphan:`, so it is expected.

[2021-05-21 08:27] mrfuchs commented on #35395
My bad. It turned out the device is rebooting because of watchdog timeouts. As I am porting an existing project from 2.2 to 2.5, I have a `CONFIG_WATCHDOG=y` in my configuration file (but nothing more). However, since my application is loaded by a bootloader which enables the watchdog and Zephyr's watchdog driver has changed since 2.2 (cf. `CONFIG_WDT_DISABLE_AT_BOOT` and `CONFIG_IWDG_STM32_INITIA

[2021-05-21 08:27] #35395 closed

[2021-05-21 08:33] PerMac opened #35524 "tests: samples: led: LED PWM sample fails on nrf platforms"
**Describe the bug**
The test sample.drivers.led.led_pwm from /zephyr/samples/drivers/led_pwm fails on nrf platforms. The printed output is:
[code]
It seems the device name was changed to `pwmleds`. The sample.yaml tells that `"Found device LED_PWM_\\d+"` is been looked for. Changing to `LED_PWM_` to `pwmleds` makes the sample pass.

I can fix this by myself, however I am worried about these lines

[2021-05-21 08:51] aescolar commented on #34748
I'm not too versed on the resource pool initialization, but in other architectures this does not seem to be initialized in the arch code. This initialization would seem to be the task of the kernel (`z_setup_new_thread()` ), or?
@andyross could you please bring some light here?

[2021-05-21 09:55] #35219 closed

[2021-05-21 09:59] lsangild opened #35529 "STM32: STM32H7 ADC calibration must be performed on startup"
**Is your enhancement proposal related to a problem? Please describe.**
During working with the STM32H743, we found that the ADC's are not acting linear (missing codes) under current Zephyr version.
This seems to be due to the fact that no calibration of the ADC is performed. The calibration is necessary according to [AN5354](https://www.st.com/resource/en/application_note/dm00628458-getting-start

[2021-05-21 10:00] #33509 closed

[2021-05-21 10:47] chrta commented on #34909
Is this issue still relevant or can this be closed?
- the board lpcxpresso55s28_ns was removed, so this test cannot be built for this board any more
- i can run this test successfully on lpcxpresso55s28
[code]

[2021-05-21 10:54] mglettig opened #35532 "SSL Handshake error with modified http(s) client example"
**Describe the bug**
I successfully tested the http(s) client sample on both my target (SAME70 XPlained board) and QEMU. The sample is configured to contact a local webserver that needs to be started with python. So far so good. After the sample was successful I wanted to run a HTTPS request on a remote server ([httpbin.org](https://httpbin.org/)).

This request leads to a SSL handshake error: `TL

[2021-05-21 11:00] chrta commented on #34917
I see the error with the current master v2.6.0-rc1-292-ga46a36a4cf using zephyr-sdk-0.12.3 in all three mentioned above configuration on the board lpcxpresso55s28.

[2021-05-21 11:00] galak commented on #34909
Going to close this based on @chrta report.

[2021-05-21 11:00] #34909 closed

[2021-05-21 11:35] #35091 closed

[2021-05-21 11:39] #35344 closed

[2021-05-21 11:45] #32430 closed

[2021-05-21 12:02] ABOSTM commented on #35102
This test is still failed on nucleo_g071rb and nucleo_l073rz despite #35416.
SHA1: 5f61d89233

[2021-05-21 12:04] yurvyn commented on #34282
Hi @carlescufi,

I have created a new PR: https://github.com/zephyrproject-rtos/zephyr/pull/35533
The previous one PR contains to much changes as for single PR, so the new PR contains only basic support for Telink B91 SoC and TLSR9518ADK board (Core, PinMux, GPIO and Serial).

P.S. Next week I will not have access to the internet and I will not be able to response messages. Will come back on May,

[2021-05-21 12:13] martinjaeger commented on #30055
@galak No, don't think this has brought the solution. I compiled our firmware with the main stack size increased such that 99% of the RAM is consumed. Now, a printf at the beginning of the code doesn't get printed at all. After sending a command to the device via the serial it prints `exit` and restarts (without any further fault indication). So there must be still some function that uses memory l

[2021-05-21 12:27] StefJar commented on #35297
I am having problems with the stm32 spi as well. After migrating my fw from an older zephyr version to the latest main branch the SPI does not seem to work.
I checked the CS etc to make sure that everything is fine and setup.
It does not really matter if I am using the DMA or not. If no DMA is used I am getting `spi_ll_stm32: spi_stm32_get_err: err=64`.

My setup is:
two SPI slaves on my SPI3. The

[2021-05-21 12:30] erwango commented on #35297
Yes, we are.
(Hint: You can check the assignee field on top of each issue to see who's working on what)

[2021-05-21 12:31] avisconti commented on #35297
Can you to check again after a git revert 01298840 ?
Just to be sure that we are talking about same issue...

[2021-05-21 12:34] ABOSTM opened #35539 "tests: drivers: spi: spi_loopback: test failed since #34731 is merged"
**Describe the bug**
Since merge of #34731 `drivers/spi: STM32: This solves SPI infinite loop on Transceive`
 tests/drivers/spi/spi_loopback/ is failed on
* nucleo_f103rb,
* nucleo_f746zg
* stm32f3_disco

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_f746zg tests/drivers/spi/spi_loopback/
2. west flash
3. See error

**Expected behavior**
test passed

**Logs and

[2021-05-21 12:37] henrikbrixandersen commented on #35102
Please update the PR (or open a new one?) to reflect which board it is failing on. The problem was fixed for the lpcxpresso55s16.

[2021-05-21 12:38] erwango commented on #35395
Thanks a good news, thanks for keeping us posted!

[2021-05-21 12:55] ABOSTM opened #35540 "tests: ztest: error_hook: fails on nucleo_g071rb and nucleo_l073rz"
**Describe the bug**
tests/ztest/error_hook fails on nucleo_g071rb (Cortex-M0+) and nucleo_l073rz (Cortex-M0+)

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_l073rz  tests/ztest/error_hook
2. west flash
3. See error

**Expected behavior**
Test passed

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 -

[2021-05-21 12:56] ABOSTM commented on #35102
OK, I close this issue and opened a new issue: #35540

[2021-05-21 12:56] #35102 closed

[2021-05-21 13:13] emillindq opened #35541 "sockets_tls: when using dtls with sara-r4 modem, handshake hangs if no reply"
**Describe the bug**
The scenario is as follows: user issues a sendto on a dtls socket with offloaded socket behind it on the SARA-R4 modem. This will cause a handshake to be issued where I am the dtls client. Now mbedTLS ends up calling `dtls_rx` in sockets_tls.c. As described, mbedTLS wants a recvfrom with timeout, which is done using poll() if `is_block` is true. For reasons below, `is_block` e

[2021-05-21 13:28] ABOSTM commented on #35524
Same sample failure on STM32 boards (nucleo_g474re and nucleo_h743zi), but no error in the output log
[code]

[2021-05-21 13:31] galak commented on #35539
Wonder if this is effectively a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/35297

[2021-05-21 13:42] StefJar commented on #35297
Done the changes, but it seems to me that they don't have a real effect. Guess my issue is maybe different.

[2021-05-21 13:45] erwango commented on #35297
@StefJar can you raise a specific issue with all possible details ?

[2021-05-21 13:47] ABOSTM opened #35543 "samples: subsys: display: lvgl: is run on nucleo_f429zi and nucleo_f746zg but should be skipped"
**Describe the bug**
Since merge of https://github.com/zephyrproject-rtos/zephyr/pull/35324
twister tries to execute samples/subsys/display/lvgl/ on nucleo_f429zi and nucleo_f746zg whereas it is not supported (no display on those boards). Sample was previously skipped on those boards.

**Expected behavior**
Sample skipped for  nucleo_f429zi and nucleo_f746zg

**Environment (please complete the fol

[2021-05-21 13:53] jukkar commented on #35532
This sounds like an issue that would be fixed by #35461

[2021-05-21 13:56] mglettig commented on #35532
Hi @jukkar. No unfortunately not. I disabled `MBEDTLS_HAVE_TIME_DATE ` and `MBEDTLS_HAVE_TIME_DATE` compile switches and it happens still. Also `CONFIG_POSIX_API` is not set in the sample.

[2021-05-21 14:05] jukkar commented on #35532
@rlubos any suggestion what might be wrong here?

[2021-05-21 14:25] yashi commented on #35522
Thanks. I didn't know it was intentional.  Closing.

[2021-05-21 14:25] #35522 closed

[2021-05-21 14:26] StefJar commented on #35297
Hard for me to nail to down. My setup is
SPI1 -> ext nor flash
SPI3 -> movement sensor(node 0) & eeg sensor(node 1)

When starting with a hard reset I am seeing several crashes before the system becomes stable.

the flash related exception is:
[code]
So after this kind of exception the system comes up with having problems finding the flash (on spi1)

On spi3 the situation is different. Sometime th

[2021-05-21 14:46] carlescufi commented on #34282
Thanks @yurvyn! Let's continue the conversation on the PR now.

[2021-05-21 14:47] jfischer-no commented on #35539
Similar on nucleo_f413zh, I came across this while testing an SPI device. On nucleo_f413zh it is a bit different, data in RX buffer is shifted up one octet, reverting 0129884062055156bc79fd8faafaf13e601438b4 fixes the issue.
[code]

[2021-05-21 14:53] erwango commented on #35297
@StefJar ok, thanks. But if not directly linked with current issue, let's discuss this elsewhere in order not to confuse things.

[2021-05-21 14:59] gmarull commented on #34121
I've tried building removing gifs (and running in fast mode, ie no Kconfig), but build still fails:

[code]

It looks like we need to [increase latex capacity](https://tex.stackexchange.com/questions/26205/increase-latex-capacity).

As mentioned earlier, I think it doesn't make sense to support PDF due to the size of the current docs. The content is not optimized for PDF viewing either.

[2021-05-21 15:05] carlescufi commented on #32944
I've looked at the code now and I agree completely. Will close this.

[2021-05-21 15:07] carlescufi commented on #32944
Marked as false positive in Coverity.

[2021-05-21 15:07] #32944 closed

[2021-05-21 15:16] chrta opened #35546 "nrf91 i2c driver: Unexpected LOG_ERR when writing to an eeprom"
**Describe the bug**

When writing to a eeprom that is connected via i2c, a error log message is printed.

**To Reproduce**

To reproduce the issue, i connected a EEPROM to I2C_2 and compiled the slightly modified hello_world sample, that adds I2C, EEPROM, shell and logger support.

I applied the following change to the hello_world sample:
https://github.com/lemonbeat/zephyr/commit/b97d89ef8c98a19

[2021-05-21 15:17] carlescufi commented on #8393
Thanks for confirming @ioannisg. Closing this now.

[2021-05-21 15:17] #8393 closed

[2021-05-21 15:19] Delsian commented on #35297
@avisconti  Just checked again. On branch 6ce0f2ee6606915c75e17753e34db71cb053c119 bug still present,  reverting 0129884062055156bc79fd8faafaf13e601438b4 resolves my problem.

[2021-05-21 15:21] andyross commented on #33483
This sounds like a bug to me.  The scheduler understands that the idle thread is not "sliceable()", but the implication is that on entry to the idle thread the existing timeout is left in place and not cancelled.  It's true that spurious timer interrupts are not normally considered a bug, but they really should be in idle (for exactly this reason).

[2021-05-21 15:22] andyross commented on #33483
It's a scheduler bug, not a PM thing, basically.  I'll take it.  As far as release planning goes: not sure this rises to "medium" personally, as the impact is a single wakeup event per idle.  That's important for PM tuning only on very power-constrained apps.  But that's someone else's call.

[2021-05-21 15:32] npitre commented on #34844
#35410 is now merged

[2021-05-21 15:32] #34844 closed

[2021-05-21 16:34] enjiamai commented on #33901
After studying, I think this is not a bug. In this testcase we use INT instruction to trigger an interrupt.

But the INT instruction does not cause a CPU interrupt. It's a synchronous trap, handled as an exception by the hardware. That's why the irq_disable() and even irq_lock() don't work here. (for X86)

The direct interrupt, regular interrupt, and dynamic interrupt cannot be masked by irq_disab

[2021-05-21 16:36] rajeev1986 opened #35550 "nRF91: DPS310 I2C driver not working"
**Describe the bug**
I have integrated a DPS310 sensor from Infineon to nRF9160 via I2C and trying to get the example DSP310 sample application provided in the samples to work. However, after checking and rechecking all the configurations, I keep getting

`Could not get DPS310 device`

which simply tells me that the application is failing to get the device binding.

[code]

To diagnose this issue,

[2021-05-21 16:40] ceolin commented on #33483
Just to be clear, this happens just the first time the idle thread runs. So the idle thread runs with the next timeout being the slice and after that if there is not active the slice is not renewed and the idle thread gets the remaining time to the scheduled event. It is not the best thing but it is not major bug IMHO. Actually, this could even be documented as part of the system behavior.

[2021-05-21 16:46] kv2019i commented on #35299
@lyakh This is fixed right? At least based on my testing on TGL, SOF patch https://github.com/thesofproject/sof/pull/4208 fixes this.

[2021-05-21 16:50] #35343 closed

[2021-05-21 16:55] carlescufi commented on #35327
You are free to use the code as long as you comply with the requirements of the Apache v2 license. Essentially that means attribution.

[2021-05-21 16:55] #35327 closed

[2021-05-21 17:21] microbuilder opened #35552 "mbedtls: Update for better PSA API support"
Recent versions of mbedtls have started migrating to use Platform Security Architecture (PSA) APIs beneath the hood. This is still a work in progress, and the PSA API coverage isn't very exhaustive as of 2.26.0, and there are conflicts with the PSA APIs in mbedtls 2.26.0 that prevent it being use with TF-M (https://github.com/zephyrproject-rtos/zephyr/issues/35305).

The next release(s) of mbedtls

[2021-05-21 17:23] microbuilder commented on #35305
Closing this as unable to fix with the current limitations of the build system and mbedtls 2.26.0, but will be addressed in the 2.7.0 dev cycle, coordinating with the upstream mbedtls project for any required changes there.

Enhancement can be tracked via https://github.com/zephyrproject-rtos/zephyr/issues/35552

[2021-05-21 17:23] #35305 closed

[2021-05-21 17:28] gregshue commented on #34997
@gmarull, I do not have permission to add tags.  Please restore the `bug` tag that you remove.  Here's my rationale:

From [Documentation Overview](https://docs.zephyrproject.org/latest/README.html#documentation-overview):

From [Developer-mode Document Building](https://docs.zephyrproject.org/latest/README.html#developer-mode-document-building):

To me those sound like pretty overt claims to supp

[2021-05-21 17:35] gregshue commented on #34997
Even if you interpret the the feature to be limited to the Zephyr repository or modules included in the default manifest, the current behavior goes beyond that and so is a bug.

[2021-05-21 17:45] mbolivar-nordic opened #35553 "all menuconfig interfaces contain sound open firmware/SOF text"
**Describe the bug**

The SOF mainmenu here is affecting all zephyr applications:

https://github.com/zephyrproject-rtos/sof/blob/52dc9c5ad8d0d2a5df0bb51ea30e54f8d7890639/Kconfig#L3

It should be removed.

**To Reproduce**

[code]

The "SOF Configuration" banner appears at the top:

![2021-05-21T10:43:58,928935584-07:00](https://user-images.githubusercontent.com/62298616/119177672-80a64700-ba21-11

[2021-05-21 18:00] gmarull commented on #34997
The Zephyr documentation is designed to work for the Zephyr repository, how modules/applications use the Zephyr docs is a separate topic. Applications/modules are free to use whatever they consider best for their documentation, Sphinx is not the only available option. If they choose Sphinx, they can refer to Zephyr docs using `intersphinx` and can re-use dt/kconfig scripts to generate docs for the

[2021-05-21 18:43] andyross commented on #33483
OK, got it.  Yeah, actually looking at the code it's doing the right thing and only resetting the timeout when the new thread is not the idle thread.

A different way to explain this is that it's not the "idle thread's" timeout that's expiring, it's whatever was running earlier.  If you have a timesliced thread that starts running and gets a timeout set for 100 ticks in the future, but then it imm

[2021-05-21 19:20] #33523 closed

[2021-05-21 19:39] gmarull commented on #34997
An example of what I consider a well-designed module with a custom documentation that has no relation with Zephyr nor Sphinx:
https://github.com/zscilib/zscilib

[2021-05-21 20:05] gregshue commented on #34997
Yes, the behavior is undefined, but **the triage team assessed the current _inconsistent_ behavior as a "bug"**.  It seems it is up to you to justify to them that the "bug" label should be removed.

[2021-05-21 20:42] sslupsky commented on #35316
@nordic-krch Is there something we can do about this?  It looks like something gets messed up in z_add_timeout()?  When it hangs, the cpu appears to be infinitely looping in here.
[code]

[2021-05-21 21:55] dleach02 commented on #33726
I walked this back to 2.3 and it still wouldn't fit. I think the simple fix I'll submit is to switch this platform over to using OCRAM instead of DTCM as that will give us plenty of RAM. Ultimately, it would be nice to get Zephyr to support multiple RAM blocks.

Also note that the test application has some large RAM usage because it creates 10 threads with each having their own stack defined. Ther

[2021-05-21 22:16] #25313 closed

[2021-05-21 23:31] gregshue commented on #34997
The module you reference states "the main development target for the library is the Zephyr Project," and has:
- .rst files in the samples with Zephyr-style documentation
- Doxygen comments in the headers
- `zephyr_*` functions in the CMakeLists.txt
- A Kconfig file that is seems only to be referenced from `zephyr/module.yml`

Though it may not be sponsored or managed by the Zephyr Project, it is e

[2021-05-22 13:14] #34862 closed

[2021-05-22 13:35] henrikbrixandersen commented on #35354
The sensors subsystem allows sensor-specific extensions to the channels enumeration. See e.g. https://github.com/zephyrproject-rtos/zephyr/blob/main/include/drivers/sensor/mcux_acmp.h

[2021-05-22 19:31] ddkn opened #35561 "Issue with fat_fs example on nucleo_f767zi"
Hello,

I believe this is something that may be obvious, but I cannot see the issue. I am trying to use the `samples/subsys/fs/fat_fs` project to read an SD card using the `nucleo_f767zi` board with a [Adafruit microSD SPI+SDIO](https://learn.adafruit.com/adafruit-microsd-spi-sdio/using-sdcardio) board. I am hoping to just use the SPI interface, which *should* be supported by the nucleo. However,

[2021-05-24 00:29] #30355 closed

[2021-05-24 07:16] jukkar commented on #35532
Perhaps the issue is related to this error, could it be that the connection cannot be established in the first place. The error values were changed recently but if I recall correctly, the 60 was ETIMEDOUT.

[2021-05-24 07:18] IRISZZW opened #35567 "some mwdt compiler options can't be recognized by zephyr_cc_option"
**Describe the bug**
some mwdt compiler options (`-Xll64` `-Xmpy_option=qmpyh` `-Xfpud_div`) can't be recognized by zephyr_cc_option.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b hsdk -d build.mwdt tests/lib/sprintf/
2. See error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (arcmwdt)
 - Commit S

[2021-05-24 07:21] jukkar commented on #35532
Your own address is 192.0.2.1, and the peer address is 34.231.30.52 but you have removed the default gateway address. This will mean connection to peer will most probably not succeed.

But then in your overlay file, you enable the gateway setting back. Is the gateway able to reroute the packet from zephyr to outside system?

[2021-05-24 08:08] ananthjaisankar95 commented on #35250
Hi,
 we have tried to debug this issue further and observed the below key points
 1) when we use twister to run the test case(tests/kernel/timer_api), after this line (https://github.com/zephyrproject-rtos/zephyr/blob/374629af906a24add294b1c3b945128cb6a486e8/subsys/testsuite/include/tc_util.h#L189) soc is entering into lower energy modes( UART wont work into lower energy modes) as CONFIG_PM is ena

[2021-05-24 08:27] IRISZZW opened #35569 "tests/lib/mem_alloc failed with arcmwdt toolchain"
**Describe the bug**
tests/lib/mem_alloc failed with arcmwdt toolchain

**To Reproduce**
Steps to reproduce the behavior:
1. ./scripts/twister -p nsim_hs -O build.sanity.nsim_hs -n -v -T tests/lib/mem_alloc/ -W
2. See error

**Logs and console output**
[code]
tests/lib/mem_alloc/libraries.libc.minimal.mem_alloc_negative_testing:
[code]
tests/lib/mem_alloc/libraries.libc.minimal.mem_alloc:
[code]

[2021-05-24 08:44] rlubos commented on #35512
Hi,
OpenThread won't work for nRF5340 with vanilla Zephyr, i.e. it requires CryptoCell entropy which is only availalbe in the Zephyr-based nRF Connect SDK. Please use [nRF Connect SDK](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/getting_started.html) instead.

[2021-05-24 08:59] abrodkin commented on #35567
@IRISZZW it would be interesting to figure out why these particular options don't work nice with `check_c_compiler_flag`. My guess it they are not "self-contained", i.e. first require "top-level" option like CPU family (AKA `-arcv2hs` or `-arcv2em`) to exist. Though these are just y guesses which would be good to prove or dismiss.

[2021-05-24 09:05] maksimmasalski commented on #34748
@andyross Could you help us?

[2021-05-24 10:41] de-nordic commented on #32213
If the uin32_t would be the container then we could probably figure out how to fit in the info, of course there will be problems with libraries like mbdtls which also use 32bit error codes.

The question is whether internally Zephyr should use POSIX error codes or rather methods of translation to POSIX layer.

The POSIX has been put together by IEEE somewhere around 1986 (published in 1990), in pa

[2021-05-24 11:38] jfischer-no commented on #35561
It could be SPI issue reported in #35539.

[2021-05-24 11:38] MarekPieta commented on #35524
It seems like the PWM period is too long and it's not supported by the pwm_nrfx driver.
Maybe we could just print information that it's not supported by the driver without marking this as an error?
I am not sure if it should be mandatory for PWM LED driver implementation to support so long periods for blink operation. Blink operation could be implemented using k_work_delayable that resubmits itsel

[2021-05-24 11:47] PerMac commented on #35524
I belive updating the label in sample.yaml regex will make the test pass. I will provide a PR in a moment with the updated label.
It seems the error from the log (nrfx driver) is not treated as an error by twister. We will decide how to handle communicating that >0.25s periods are not supported by nrfx driver.

[2021-05-24 11:51] IRISZZW commented on #35567
you are right, they are not "self-contained":
[code]

[2021-05-24 12:04] abrodkin commented on #35567
@evgeniy-paltsev @tejlmand any hints on how can we test options which have dependencies?
I.e. if option `-option1` is only being recognized when `-option2` also passed to the compiler.

[2021-05-24 15:20] pdunaj opened #35580 "Fault when logging"
**Describe the bug**
Fault when logging due to missing log_strdup.

**To Reproduce**
Steps to reproduce the behavior:
1. run nrf91
2. have a bit of bad luck that will lead to the case with log

**Expected behavior**
Should not crash.

**Impact**
Depends - can be showstopper.

**Logs and console output**
[code]

**Environment (please complete the following information):**
master

**Additional conte

[2021-05-24 15:21] pdunaj commented on #35580
log_strdup is missing in several places.
https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/ipc/rpmsg_service/rpmsg_service.c#L73
https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/ipc/rpmsg_service/rpmsg_service.c#L64

[2021-05-24 15:21] pdunaj commented on #35580
@carlescufi

[2021-05-24 16:19] StefJar opened #35581 "stm32 SPI problems with DMA and INTR set-up"
I on my stm32f412 discovered that a SPI3 config related issues.

1st) the rx and tx dma channel must be the same
2nd) the comms to my lsm6ds3 sensor only works when the DMA and INTR config is disabled

my board dts:
[code]
the config
[code]

As said the interrupt and/or dma option breaks my code. Means that the transfer to lsm6ds3 fails. Also the transfer to ads1292 fails from time to time.

When

[2021-05-24 16:20] StefJar commented on #35297
@erwango I moved my possible DMA/INTR related issues to an extra ticket(https://github.com/zephyrproject-rtos/zephyr/issues)/35581

[2021-05-24 16:29] ddkn commented on #35561
Well there seems to be an issue related to the SPI interface as you suggested. As I am on Zephyr v2.5.0-965, running

[code]

Returns the following on the terminal,

[code]

For now I copied over the nucleo_f746zg.conf -> nucleo_f767zi.conf
[code]

This seems like a possible duplicate issue, I will post in the issue you mentioned to add to it.

[2021-05-24 16:30] ddkn commented on #35539
I have a similar issue with the nucleo_f767zi, as seen here #35561, where @jfischer-no pointed it out.

[2021-05-24 16:42] yerabolu commented on #34879
@scottwcpg: will look into it and get back to you.

[2021-05-24 18:06] #35553 closed

[2021-05-24 18:20] #35199 closed

[2021-05-24 19:40] manoj153 commented on #6958
Is there a detection mechanism to log error that the provided `period` is not supported based on the base pre-scaler set value?

[2021-05-24 21:20] manoj153 commented on #18351
hi  have tried setting `CONFIG_LOG2_MODE_DEFERRED=y` with the latest zephyr build and yet to print float types,
`%f`, is just printing out as `"%f"` , instead of given variable's value

[2021-05-24 22:50] evgeniy-paltsev commented on #35567
Actually I don't see any purpose of this options test - given that we don't provide any kind of alternate options if the original options are not supported by compiler. So in my point of view the replacement of `zephyr_cc_option` by `zephyr_compile_options` looks valid.

[2021-05-24 23:29] MaureenHelm commented on #33041
@MarkWangChinese can you take a look this week?

[2021-05-24 23:29] MaureenHelm commented on #18386
@MarkWangChinese can you take a look this week?

[2021-05-24 23:30] MaureenHelm commented on #33052
@MarkWangChinese can you take a look this week?

[2021-05-25 00:32] wngur300 commented on #33974
It was a hardware problem, so I'll close it.

[2021-05-25 00:32] #33974 closed

[2021-05-25 01:22] jenmwms commented on #33275
Able to get printk's throughout `arch/x86/core/prep_c.c` using CONFIG_X86_VERY_EARLY_CONSOLE.

[2021-05-25 03:29] #34865 closed

[2021-05-25 03:29] #35058 closed

[2021-05-25 03:30] #34964 closed

[2021-05-25 03:30] corteXnzt opened #35586 "Timer based example on docu using nrf52-dk compile error."
Hi I'm new with using zephyr  and maybe a noob question. I'm using nrf52-dk via platformio. Been scratching and googling but can't find answer. I just copied the example timer expiry on zephyr documentation but this shows up and I can't fix it. I need the timer to work every 50ms. It says declaration incompatible pointing to the kernel.h file.

TIA

![Screenshot from 2021-05-25 11-22-32](https://u

[2021-05-25 03:30] #33986 closed

[2021-05-25 03:31] #35569 closed

[2021-05-25 03:31] #33726 closed

[2021-05-25 03:34] nashif commented on #32261
lowering priority given that it can't be reproduced

[2021-05-25 03:38] #34584 closed

[2021-05-25 03:41] nashif commented on #33381
close as duplicate to #34222

[2021-05-25 03:41] #33381 closed

[2021-05-25 03:48] nashif commented on #33590
closing as duplicate of #34222

[2021-05-25 03:48] #33590 closed

[2021-05-25 03:53] #35509 closed

[2021-05-25 05:04] nordic-krch commented on #18351
@manoj153 please check if float formatting is enabled in cbprintf `CBPRINTF_FP_SUPPORT`.

[2021-05-25 05:58] corteXnzt commented on #35586
Closing this. Solved it by moving it to main.

[2021-05-25 05:58] #35586 closed

[2021-05-25 06:06] mglettig commented on #35532
Thanks for looking into this @jukkar. As you already noticed the GW is overwritten by the overlay so all correct there. Routing to the outside system and to the internet works as I was successful with the following command from the net shell:
`net ping 8.8.8.8`
I don't think that [ETIMEDOUT](https://github.com/zephyrproject-rtos/zephyr/blob/v2.6.0-rc1/lib/libc/minimal/include/errno.h#L98) is the r

[2021-05-25 06:31] lyakh commented on #35299
@kv2019i thanks for the confirmation, let's close it then.

[2021-05-25 06:31] #35299 closed

[2021-05-25 07:18] martinjaeger commented on #30055
I've created a minimum non-working example with most recent Zephyr branch:
https://github.com/martinjaeger/zephyr/commit/3bf40cb11342cf29300ba54fce9d0d12e2496683

[code]

Result on the serial console:
[code]

As soon as we decrease the main stack size by a few hundred bytes, everything works fine.

[2021-05-25 07:23] rlubos commented on #35532
`samples/net/sockets/http_get` with `overlay-tls.conf` works out of the box. I'm not sure about the actual issue here (the mbedtls error code is too generic, `MBEDTLS_ERR_SSL_BAD_INPUT_DATA`, but I'd check mbedTLS heap size in the first place - it's often an issue that the heap is too small.

As for the certificate, DER format should be handled out of the box, if you used PEM you'd need to enable

[2021-05-25 07:41] erwango commented on #35581
@StefJar I'm moving this issue as "question" until we're able to prove the issue actually lies in the driver.
We'll try to analyse your point meanwhile.

[2021-05-25 07:53] tiborrr commented on #29394
@sylvioalves how is the progress going on security features like secure boot and flash encryption?

[2021-05-25 09:38] chrisswinchatt-arm opened #35596 "Bluetooth: Cannot connect if extended advertising is enabled in `prj.conf`"
**Describe the bug**

A Zephyr program compiled with the following in `prj.conf`:

[code]

Calling `bt_conn_le_create` after discovering a peer returns -5 (`-EIO`) when compiled with the above config. Removing or setting to `n` the `CONFIG_BT_EXT_ADV` option and recompiling corrects the behaviour.

CONFIG_BT_EXT_ADV | CONFIG_BT_PER_ADV | Return value of `bt_conn_le_create`
:---:|:---:|:---:
n | n

[2021-05-25 10:17] anangl commented on #35550
I think the problem is that the TWIM peripheral that handles I2C in nRF9160 cannot perform a transaction when the provided buffer is located in flash, and that is the case when `i2c_write_read()` is called from the DPS310 driver (`REG_ADDR_CALIB_COEFF_0` is defined as `static const`). When `i2c_write_read()` is called via `i2c_reg_read_byte()`, the buffer to be sent is `&reg_addr`, so it will be o

[2021-05-25 12:06] #35567 closed

[2021-05-25 12:07] #35524 closed

[2021-05-25 12:07] #35543 closed

[2021-05-25 12:12] galak commented on #30055
@martinjaeger thanks for working up a test.

[2021-05-25 12:19] FRASTM commented on #35524
samples/drivers/led_pwm on nucleo_g474re :
[code]

[2021-05-25 12:34] rlubos commented on #35541
This is not correct, Zephyr made the following assumption some time ago (comment from the sockets.c codebase):
[code]
Also if you look in the request codes list supported by Zephyr you'll see the following comment:
[code]
I agree it might not be that obvious on the first sight, but it's cleary the sara-r4 sockets implementation that miss the (basic) feature.

`is_block` does not indicate whether t

[2021-05-25 12:34] #34233 closed

[2021-05-25 12:35] #34585 closed

[2021-05-25 12:36] PerMac commented on #35524
@FRASTM Does your comment mean you are still seeing failure or just reporting the current output? Does the test pass now on nucleo_g474re?

[2021-05-25 12:50] stephanosio commented on #30055
NOTE: The issue is reproducible with @martinjaeger's sample in `qemu_cortex_m3` if you set `CONFIG_MAIN_STACK_SIZE=61440`.

[2021-05-25 12:53] emillindq commented on #35541
Thanks for your input!

I will create a PR for SARA-R4 driver to handle this case.

[2021-05-25 12:59] zephyrbot opened #35603 "[Coverity CID: 236130] Wrong sizeof argument in drivers/adc/adc_lmp90xxx.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8/drivers/adc/adc_lmp90xxx.c#L250

Category: Incorrect expression
Function: `lmp90xxx_read_reg8`
Component: Drivers
CID: [236130](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236130)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/3746

[2021-05-25 12:59] zephyrbot opened #35604 "[Coverity CID: 236129] Unused value in drivers/adc/adc_lmp90xxx.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8/drivers/adc/adc_lmp90xxx.c#L616

Category: Code maintainability issues
Function: `lmp90xxx_adc_read_channel`
Component: Drivers
CID: [236129](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236129)

Details:

https://github.com/zephyrproject-rtos/ze

[2021-05-25 12:59] zephyrbot opened #35605 "[Coverity CID: 236005] Out-of-bounds read in /zephyr/include/generated/syscalls/log_ctrl.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/log_ctrl.h#L1

Category: Memory - illegal accesses
Function: `log_process`
Component: Other
CID: [236005](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236005)

Details:

[code]

Please fix or provide comments in

[2021-05-25 12:59] zephyrbot opened #35606 "[Coverity CID: 235951] Out-of-bounds read in /zephyr/include/generated/syscalls/log_ctrl.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/log_ctrl.h#L1

Category: Memory - illegal accesses
Function: `log_filter_set`
Component: Other
CID: [235951](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235951)

Details:

[code]

Please fix or provide comments

[2021-05-25 12:59] zephyrbot opened #35607 "[Coverity CID: 235933] Out-of-bounds read in /zephyr/include/generated/syscalls/gpio.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/gpio.h

Category: Memory - illegal accesses
Function: `gpio_pin_configure`
Component: Drivers
CID: [235933](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235933)

Details:

Please fix or provide comments in cover

[2021-05-25 12:59] zephyrbot opened #35608 "[Coverity CID: 235923] Out-of-bounds read in /zephyr/include/generated/syscalls/log_msg2.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/log_msg2.h#L1

Category: Memory - illegal accesses
Function: `z_log_msg2_runtime_vcreate`
Component: Other
CID: [235923](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235923)

Details:

[code]

Please fix or prov

[2021-05-25 12:59] zephyrbot opened #35609 "[Coverity CID: 235917] Out-of-bounds read in /zephyr/include/generated/syscalls/log_msg2.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/log_msg2.h#L1

Category: Memory - illegal accesses
Function: `z_log_msg2_runtime_vcreate`
Component: Other
CID: [235917](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235917)

Details:

[code]

Please fix or prov

[2021-05-25 12:59] zephyrbot opened #35610 "[Coverity CID: 232755] Out-of-bounds read in /zephyr/include/generated/syscalls/log_ctrl.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/log_ctrl.h

Category: Memory - illegal accesses
Function: `log_filter_set`
Component: Other
CID: [232755](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=232755)

Details:

Please fix or provide comments in coverit

[2021-05-25 12:59] zephyrbot opened #35611 "[Coverity CID: 230223] Out-of-bounds read in /zephyr/include/generated/syscalls/log_msg2.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/log_msg2.h

Category: Memory - illegal accesses
Function: `z_log_msg2_runtime_vcreate`
Component: Various
CID: [230223](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=230223)

Details:

Please fix or provide comme

[2021-05-25 12:59] zephyrbot opened #35612 "[Coverity CID: 229325] Out-of-bounds read in /zephyr/include/generated/syscalls/log_msg2.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/log_msg2.h

Category: Memory - illegal accesses
Function: `z_log_msg2_runtime_vcreate`
Component: Various
CID: [229325](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=229325)

Details:

Please fix or provide comme

[2021-05-25 12:59] zephyrbot opened #35613 "[Coverity CID: 225900] Out-of-bounds access in tests/net/lib/dns_addremove/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8/tests/net/lib/dns_addremove/src/main.c

Category: Memory - corruptions
Function: `test_dns_reconfigure_callback`
Component: Tests
CID: [225900](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=225900)

Details:

https://github.com/zephyrproject-rtos/

[2021-05-25 12:59] zephyrbot opened #35614 "[Coverity CID: 219725] Out-of-bounds read in /zephyr/include/generated/syscalls/kernel.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/kernel.h

Category: Memory - illegal accesses
Function: `k_busy_wait`
Component: Other
CID: [219725](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219725)

Details:

Please fix or provide comments in coverity usi

[2021-05-25 12:59] zephyrbot opened #35615 "[Coverity CID: 219648] Uninitialized scalar variable in /zephyr/include/generated/syscalls/test_syscalls.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/test_syscalls.h

Category: Uninitialized variables
Function: `syscall_arg64_big`
Component: Kernel
CID: [219648](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219648)

Details:

Please fix or provide comments in

[2021-05-25 12:59] zephyrbot opened #35617 "[Coverity CID: 219568] Out-of-bounds read in /zephyr/include/generated/syscalls/net_if.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/net_if.h

Category: Memory - illegal accesses
Function: `net_if_ipv6_addr_add_by_index`
Component: Networking
CID: [219568](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219568)

Details:

Please fix or provide c

[2021-05-25 12:59] zephyrbot opened #35618 "[Coverity CID: 219506] Out-of-bounds read in /zephyr/include/generated/syscalls/log_ctrl.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/log_ctrl.h

Category: Memory - illegal accesses
Function: `log_process`
Component: Other
CID: [219506](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219506)

Details:

Please fix or provide comments in coverity u

[2021-05-25 12:59] zephyrbot opened #35619 "[Coverity CID: 219496] Out-of-bounds read in /zephyr/include/generated/syscalls/ztest_error_hook.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/ztest_error_hook.h

Category: Memory - illegal accesses
Function: `ztest_set_fault_valid`
Component: Kernel
CID: [219496](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219496)

Details:

Please fix or provide com

[2021-05-25 12:59] zephyrbot opened #35620 "[Coverity CID: 219482] Out-of-bounds read in /zephyr/include/generated/syscalls/pwm.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/pwm.h

Category: Memory - illegal accesses
Function: `pwm_pin_capture_cycles`
Component: Drivers
CID: [219482](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219482)

Details:

Please fix or provide comments in co

[2021-05-25 12:59] zephyrbot opened #35621 "[Coverity CID: 219477] Out-of-bounds read in /zephyr/include/generated/syscalls/pwm.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/pwm.h

Category: Memory - illegal accesses
Function: `pwm_pin_set_cycles`
Component: Drivers
CID: [219477](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219477)

Details:

Please fix or provide comments in coveri

[2021-05-25 12:59] zephyrbot opened #35622 "[Coverity CID: 215238] Out-of-bounds read in /zephyr/include/generated/syscalls/net_ip.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/net_ip.h

Category: Memory - illegal accesses
Function: `net_addr_ntop`
Component: Various
CID: [215238](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215238)

Details:

Please fix or provide comments in coverity

[2021-05-25 13:01] zephyrbot opened #35623 "[Coverity CID: 215223] Out-of-bounds read in /zephyr/include/generated/syscalls/net_ip.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/net_ip.h

Category: Memory - illegal accesses
Function: `net_addr_pton`
Component: Various
CID: [215223](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215223)

Details:

Please fix or provide comments in coverity

[2021-05-25 13:01] zephyrbot opened #35624 "[Coverity CID: 214226] Out-of-bounds read in /zephyr/include/generated/syscalls/uart.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/uart.h

Category: Memory - illegal accesses
Function: `uart_poll_out`
Component: Various
CID: [214226](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214226)

Details:

Please fix or provide comments in coverity u

[2021-05-25 13:01] zephyrbot opened #35625 "[Coverity CID: 211042] Out-of-bounds read in /zephyr/include/generated/syscalls/socket.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/socket.h

Category: Memory - illegal accesses
Function: `zsock_inet_pton`
Component: Networking
CID: [211042](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211042)

Details:

Please fix or provide comments in cov

[2021-05-25 13:01] zephyrbot opened #35626 "[Coverity CID: 210588] Out-of-bounds read in /zephyr/include/generated/syscalls/dac.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/dac.h

Category: Memory - illegal accesses
Function: `dac_write_value`
Component: Drivers
CID: [210588](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210588)

Details:

Please fix or provide comments in coverity

[2021-05-25 13:01] zephyrbot opened #35627 "[Coverity CID: 208195] Out-of-bounds read in /zephyr/include/generated/syscalls/gpio.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/gpio.h

Category: Memory - illegal accesses
Function: `gpio_pin_interrupt_configure`
Component: Drivers
CID: [208195](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208195)

Details:

Please fix or provide comment

[2021-05-25 13:01] zephyrbot opened #35628 "[Coverity CID: 207976] Out-of-bounds read in /zephyr/include/generated/syscalls/counter.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/counter.h

Category: Memory - illegal accesses
Function: `counter_set_channel_alarm`
Component: Drivers
CID: [207976](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=207976)

Details:

Please fix or provide comment

[2021-05-25 13:01] zephyrbot opened #35629 "[Coverity CID: 207968] Out-of-bounds read in /zephyr/include/generated/syscalls/counter.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/counter.h

Category: Memory - illegal accesses
Function: `counter_cancel_channel_alarm`
Component: Drivers
CID: [207968](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=207968)

Details:

Please fix or provide comm

[2021-05-25 13:01] zephyrbot opened #35630 "[Coverity CID: 205657] Out-of-bounds read in /zephyr/include/generated/syscalls/sample_driver.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/sample_driver.h

Category: Memory - illegal accesses
Function: `sample_driver_state_set`
Component: Other
CID: [205657](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=205657)

Details:

Please fix or provide comme

[2021-05-25 13:01] zephyrbot opened #35631 "[Coverity CID: 205610] Out-of-bounds read in /zephyr/include/generated/syscalls/kernel.h (Generated Code)"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/374629af906a24add294b1c3b945128cb6a486e8//zephyr/include/generated/syscalls/kernel.h

Category: Memory - illegal accesses
Function: `k_futex_wake`
Component: Kernel
CID: [205610](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=205610)

Details:

Please fix or provide comments in coverity u

[2021-05-25 13:18] nashif opened #35633 "Out of bound read: Multiple Coverity sightings in generated code"
[code]

[code]

All issues:

CID | Impact | Type | Status | First Detected | Owner | Classification | Severity | Action | Component | Category | Function | File | Line Number | Standard: CERT C
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
236005 | High | Out-of-bounds read | New | 05/10/2021 | Unassigned | Unclassified | Unspecified | Undecided | Other | Memory - illega

[2021-05-25 13:19] nashif commented on #35631
see #35633

[2021-05-25 13:19] #35631 closed

[2021-05-25 13:19] nashif commented on #35630
see #35633

[2021-05-25 13:19] #35630 closed

[2021-05-25 13:19] nashif commented on #35629
see #35633

[2021-05-25 13:19] #35629 closed

[2021-05-25 13:19] nashif commented on #35627
see #35633

[2021-05-25 13:19] #35627 closed

[2021-05-25 13:20] nashif commented on #35628
see #35633

[2021-05-25 13:20] #35628 closed

[2021-05-25 13:20] nashif commented on #35626
see #35633

[2021-05-25 13:20] #35626 closed

[2021-05-25 13:20] nashif commented on #35624
see #35633

[2021-05-25 13:20] #35624 closed

[2021-05-25 13:20] nashif commented on #35625
see #35633

[2021-05-25 13:20] #35625 closed

[2021-05-25 13:20] nashif commented on #35623
see #35633

[2021-05-25 13:20] #35623 closed

[2021-05-25 13:21] nashif commented on #35622
see #35633

[2021-05-25 13:21] #35622 closed

[2021-05-25 13:21] nashif commented on #35621
see #35633

[2021-05-25 13:21] #35621 closed

[2021-05-25 13:21] nashif commented on #35620
see #35633

[2021-05-25 13:21] #35620 closed

[2021-05-25 13:21] nashif commented on #35619
see #35633

[2021-05-25 13:21] #35619 closed

[2021-05-25 13:21] nashif commented on #35618
see #35633

[2021-05-25 13:21] #35618 closed

[2021-05-25 13:21] nashif commented on #35617
see #35633

[2021-05-25 13:21] #35617 closed

[2021-05-25 13:22] nashif commented on #35614
see #35633

[2021-05-25 13:22] #35614 closed

[2021-05-25 13:22] nashif commented on #35612
see #35633

[2021-05-25 13:22] #35612 closed

[2021-05-25 13:22] nashif commented on #35611
see #35633

[2021-05-25 13:22] #35611 closed

[2021-05-25 13:22] nashif commented on #35610
see #35633

[2021-05-25 13:22] #35610 closed

[2021-05-25 13:22] nashif commented on #35609
see #35633

[2021-05-25 13:22] #35609 closed

[2021-05-25 13:22] nashif commented on #35607
see #35633

[2021-05-25 13:22] #35607 closed

[2021-05-25 13:22] nashif commented on #35608
see #35633

[2021-05-25 13:22] #35608 closed

[2021-05-25 13:23] nashif commented on #35606
see #35633

[2021-05-25 13:23] #35606 closed

[2021-05-25 13:23] nashif commented on #35605
see #35633

[2021-05-25 13:23] #35605 closed

[2021-05-25 13:34] EinarHenriksen commented on #34865
I revisited this today, and it seems like what is needed to trigger the buffer leak is to create a socket _and_ to send at least two messages on the socket, while either pinging or sending gptp messages to the board.
Meaning that this triggers a buffer leak for me:
[code]
While this does not:
[code]
After the second message is sent, the incoming messages fill up the rx buffer.

[2021-05-25 13:48] nordic-krch commented on #35163
Commented in coverity as false positive.

[2021-05-25 13:48] #35163 closed

[2021-05-25 13:49] nordic-krch commented on #35162
Commented in coverity as false positive. It complains about use of `sizeof(void *) * 0` where `0` is a define which in certain test configuration has non-zero value and then expression makes more sense.

[2021-05-25 13:49] #35162 closed

[2021-05-25 13:51] sylvioalves commented on #29394
Hi @tiborrr, our current efforts are directed to support ESP32S2 and ESP32C3. For security, so far, we haven't advanced on such front. But I invite you to attend to our lightning talk about our plans on Zephyr Summit.

[2021-05-25 14:33] jukkar commented on #34865
@EinarHenriksen thanks for the info. I will investigate this.

[2021-05-25 14:38] #35580 closed

[2021-05-25 14:40] martinjaeger commented on #30055
Our colleague with using older newlib version 3.1.0 can also still confirm the junk characters.

With `CONFIG_MAIN_STACK_SIZE=16200`:
[code]

With `CONFIG_MAIN_STACK_SIZE=1000`:
[code]

[2021-05-25 14:44] stephanosio commented on #30055
### Analysis

By default, newlib heap starts at `USED_RAM_END_ADDR` = `_end` = `_image_ram_end`, which points to the memory address right after the end of the RAM region occupied by the Zephyr kernel, which includes the "main stack" area:
https://github.com/zephyrproject-rtos/zephyr/blob/1a2804c30731195ad539c1cc03c939cd208eb4ce/lib/libc/newlib/libc-hooks.c#L82

`printf` invokes various functions (

[2021-05-25 14:53] stephanosio commented on #30055
@martinjaeger https://github.com/zephyrproject-rtos/newlib-cygwin/commit/f88aece242178ff0c187d56e34a79645fbc44a23 is included in newlib 3.1.0 and, if the above analysis is correct, you should be seeing the assert message instead. Can you tell me what toolchain/version you are using?

[2021-05-25 15:09] stephanosio commented on #30055
@martinjaeger Since this is not a Zephyr-side issue and it has been fixed in the newlib upstream (https://github.com/zephyrproject-rtos/newlib-cygwin/commit/f88aece242178ff0c187d56e34a79645fbc44a23), shall we close this issue?

[2021-05-25 15:14] azeemshatp commented on #30055
I have the toolchain in Windows installed at C:\gnu_arm_embedded\arm-none-eabi. I can see the _newlib_version.h having the version info as _NEWLIB_VERSION "3.1.0"

[2021-05-25 15:17] martinjaeger commented on #30055
@stephanosio I still think it's a Zephyr-related issue, as we don't consider the heap space required for newlib. Is the newlib `MAX_HEAP_SIZE` from your post above a newlib constant? Can we reduce the amount of RAM allowed to be consumed during linking by that value?

[2021-05-25 15:33] evgeniy-paltsev commented on #33610
Everything that was planned is merged now, so close this issue.

[2021-05-25 15:33] #33610 closed

[2021-05-25 15:40] stephanosio commented on #30055
Memory corruption in itself, which the reported issue is, is not a Zephyr issue and has been fixed upstream.

The default Zephyr-newlib integration scheme is designed to make use of whatever RAM is leftover (i.e. not explicitly allocated by the Zephyr kernel and apps) for the newlib heap region, and when this leftover space is insufficient for certain operations, such operations will fail.

I can

[2021-05-25 15:42] stephanosio commented on #30055
https://github.com/zephyrproject-rtos/zephyr/blob/1a2804c30731195ad539c1cc03c939cd208eb4ce/lib/libc/newlib/libc-hooks.c#L92-L93

`MAX_HEAP_SIZE` in just the size of the RAM area not used (explicitly allocated) by the Zephyr kernel and apps.

[2021-05-25 15:53] martinjaeger commented on #30055
Thanks for the clarification regarding newlib heap management in Zephyr.

I think option 1 makes sense. Not sure what a "reasonable" default would be, though.

[2021-05-25 15:55] ddkn commented on #35539
Does anyone know of a commit state where the nucleo-f103rb or nucleo-f767zi was working for SPI? I have both boards to test with, as well as the nucleo-L152.

[2021-05-25 16:27] joerchan commented on #35596
Support for extended advertising needs to be enabled in the zephyr controller.
`CONFIG_BT_CTLR_ADV_EXT=y`

[2021-05-25 16:31] jukkar commented on #34865
This is actually the same case that in issue #34462 and the fix in #34475 (see the discussion there). In short, the application needs to call `recv()` in order to receive and "free" the received packets. If the recv is not called, the incoming packets for AF_PACKET sockets keep piling up and are never freed.

[2021-05-25 17:03] anangl commented on #35546
This is not an issue in the i2s_nrfx_twim driver. It correctly reports that some I2C transactions failed (though, those messages could bring more useful information about the actual transactions; that's an improvement that could be done in the i2s_nrfx_twim). Right after issuing a successful write request, the shell command tries to verify the write. But during its internal write cycle, the EEPROM

[2021-05-25 17:04] carlescufi commented on #35596
@chrisswinchatt-arm if you objective is to come up with a [power consumption comparison](https://github.com/chrisswinchatt-arm/bluetooth-power-consumption-benchmark/tree/feature-zephyr) between different RTOS, may I point out that you need to take into account not only Bluetooth, but also things like other peripherals (the UART in particular) as well as the behavior of the application itself.

[2021-05-25 17:26] #33897 closed

[2021-05-25 17:28] jukkar commented on #35613
False positive

[2021-05-25 17:28] #35613 closed

[2021-05-25 17:30] #32742 closed

[2021-05-25 17:37] #33084 closed

[2021-05-25 17:43] dcpleung commented on #35615
Not an issue here. `ret64` will be assigned value via `more[]` in `arch_syscall_invoke6()`.

[2021-05-25 17:43] #35615 closed

[2021-05-25 17:53] #35603 closed

[2021-05-25 17:53] #35604 closed

[2021-05-25 17:55] carlescufi commented on #32448
Adding @stephanosio in case this is related to newlib.

[2021-05-25 17:56] galak commented on #32448
I think we know the issues, its mostly a linker script updates and build system changes to pull in crtbegin.o and crtend.o

[2021-05-25 18:08] microbuilder commented on #34962
Fixed by #35510

[2021-05-25 19:49] tejlmand commented on #35187
Fixed here: https://github.com/zephyrproject-rtos/zephyr/pull/35643

[2021-05-25 21:48] #35187 closed

[2021-05-25 21:50] rodrigobrochado commented on #35187
Thank you!

[2021-05-25 22:07] dcpleung commented on #35633
Ignored all as it is as designed for the generated syscall stubs.

[2021-05-25 22:07] #35633 closed

[2021-05-26 00:19] jenmwms commented on #33544
Hi @andyross - Thanks for noting workarounds. In our sync we considered just excluding ehl_crb for this test case, is that not feasible? Perhaps we cannot exclude for only test_posix_realtime().  This case fails for all configurations in the testcase.yml, how can we exclude the platform for just one test case inside the test suite?

Let's reopen since this will keep showing up. ehl_crb is not excl

[2021-05-26 00:19] galak commented on #35633
@dcpleung are we going to keep getting such coverity issues in the future?  Do we need the generator to surpress future warnings?  (@nordic-krch did this for logging at some point).

https://doclazy.wordpress.com/2011/07/14/coverity-suppressing-false-positives-with-cod/

[2021-05-26 00:29] #31980 closed

[2021-05-26 00:36] dcpleung commented on #35633
Coverity doesn't know how we do syscalls, so this will appear every time new syscalls are introduced (or even modified). One very undesirable way to avoid this is to force all function arguments to be pointers, which will probably make drivers/subsys APIs really awkward.

Let me look into the coverity tag.

[2021-05-26 01:08] rajeev1986 commented on #35550
@anangl,
Thanks for the suggestion. So after making similar changes (or should I say hack) across the DPS310 driver code, basically, getting rid of `static const uint8_t` especially for the register addresses and the buffer to be written, I have managed the driver to work and fetch the sensor values.
Now all the` i2c_write_read()` calls within this driver are working as expected without error valu

[2021-05-26 02:06] gregshue commented on #35236
@gmarull After reproducing the issue 3x prior to submission, I am no longer able to reproduce the issue (without even attempting the venv).  Thank you for looking in to this.

[2021-05-26 02:06] #35236 closed

[2021-05-26 02:58] MaureenHelm commented on #34737
When did this work before (which version tag or SHA)? Can you try a git bisect to determine when it broke?

[2021-05-26 04:05] #32755 closed

[2021-05-26 06:31] FRASTM commented on #35524
Yes, tests led_pwm **passed** on nucleo_g474re and nucleo_h743zi

[2021-05-26 06:53] ABOSTM commented on #35539
@ddkn
you can either go back to sha1: 13303c4351d9b88f0c522cf5b5a4835a42cb6403
or simply revert  #34731 (aka sha1 0129884062055156bc79fd8faafaf13e601438b4)
I hope it will fix your SPI issue.

[2021-05-26 07:02] YuguoWH opened #35653 "ARC MWDT toolchain put __start and __reset at different address"
**Describe the bug**
symbol __start and __reset should be at the same address
However when build ARC targets with MWDT toolchain, symbol __start and __reset will be put to different address
Part of map file is shown below

     VMA      LMA     Size Align Out     In      Symbol

    10b8     10b8       6a     4         zephyr/arch/arch/arc/core/libarch__arc__core.a(reset.S.obj):(.text.__start)

[2021-05-26 07:12] tiborrr commented on #29394
I already have registered so I will definitely join the talk. Thanks for the update!

[2021-05-26 07:23] SgrrZhf opened #35655 "Arm64: Assertion failed when CONFIG_MP_CPUS >= 3."
**Describe the bug**

When I try to run samples/arch/smp/pi on qemu_cortex_a53 with CONFIG_MP_CPUS=4, the kernel crashed because of assertion fails.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p always -b qemu_cortex_a53 samples/arch/smp/pi
2. west build -t menuconfig, do some changes.
    `CONFIG_MP_NUM_CPUS=4`
    `CONFIG_PM_CPU_OPS=y`
3. Add these contents to [dts/arm64/qe

[2021-05-26 07:37] hakehuang opened #35656 "arch.interrupt.arm.arm_interrupt: hangs on mimxrt685_evk_cm33"
**Describe the bug**
test application test_arm_interrupt hangs with below
Caught system error -- reason 4
Wrong crash type got 4 expected 0

**To Reproduce**
Steps to reproduce the behavior:
1.cd tests/arch/arm/arm_interrupt;  mkdir build; cd build
2. cmake -DBOARD=mimxrt685_evk_cm33
3. make; make flash
4. See error

all test  configuration fails

  arch.interrupt.arm:
    filter: not CONFIG_TRUST

[2021-05-26 07:43] hakehuang opened #35658 "arch.interrupt.arm.irq_vector_table.arm_irq_vector_table: MPU FAULT Halting system for mximxrt685_evk_cm33"
**Describe the bug**
irq_vector_table test hangs

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -Dmimxrt685_evk_cm33 ..
3. make; make flash
4. See error

**Expected behavior**
PASS

**Impact**
irq vector teable

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux)
 - Toolchain (e.g Zephyr SDK, ..

[2021-05-26 07:44] chrta commented on #35546
Thank you for the information. This makes sense. If this is used by i2c peripheral drivers or application, maybe it is worth considering to lower the log level for this message, since this might be the intended behaviour?

I also see the error logs in "i2c scan" shell command for nearly every address (since there is no connected device with this address sending an ack). This is ok for me, but may

[2021-05-26 07:45] hakehuang commented on #35658
@MaureenHelm , @dleach02 , @mmahadevan108 , this issue also existing in RC1

[2021-05-26 08:06] StefJar commented on #35581
@erwango I am talking about 2 issues related to spi via DMA and ISRs. Maybe you know someone with a F412 demo board. This person can prove the DMA channel issue. Maybe the other issue is related to that as well.

For me it feels, that the spi3 config (polarity, clk rate, etc.) is not proper changed between the DMA transfers/ISR processes.

At my full set up the uart3 and spi3 are both using the DM

[2021-05-26 08:30] carlescufi commented on #35550
@anangl do you want to open an enhancement and close this?

[2021-05-26 08:32] ABOSTM commented on #33169
#34731 causes important regressions, so it is being reverted https://github.com/zephyrproject-rtos/zephyr/pull/35661
So I reopen this issue

[2021-05-26 08:42] mniestroj commented on #35546
I have run into the same issue this week, when writing data from nRF5340 (via I2C_3 at TWIM) to EEPROM (AT24).

[2021-05-26 08:48] jyeons opened #35663 "STM32H7: Support memory protection unit(MPU) to enable shared memory"
Hi,
I am currently working with STM32H747 disco board which is a dual core soc.

**Is your feature request related to a problem? Please describe.**
The two processors in the board has sram4 as a shared memory.
By default, the memory region is protected by memory protection unit(MPU), which I found the related information is somehow not easily accessible. The accesses to the shared memory without c

[2021-05-26 08:53] ruuddw commented on #30618
Closing this one now - @vanwinkeljan feel free to reopen or open another issue if #33907 doesn't handle this issue.

[2021-05-26 08:53] #30618 closed

[2021-05-26 09:05] ABOSTM commented on #33169
@heinwessels,
I tested on my side and I found no issue (Leds are blinking correctly).
So from my point of view there is no issue.

Here is my setup:
#############
Board: nucleo_l476rg
Led strip: WB2812B
SHA1: 374629af906a24add294b1c3b945128cb6a486e8 + revert 0129884062055156bc79fd8faafaf13e601438b4
sample: samples/drivers/led_ws2812

I add nucleo_l476 overlay and conf file to the sample (see attac

[2021-05-26 09:31] heinwessels commented on #33169
@ABOSTM thanks for the testing on your side.

Yes, I did remove the `SCK` from the DTS, as stated in my original description. The clock line was connected to the SWO, and caused issues while debugging/programming. And as you said, it isn't used by the WS2812 driver. I understand that Zephyr might not be built to accomodate this, but I thought it was reasonable to assume it should.

What I did noti

[2021-05-26 09:36] ABOSTM commented on #33169
Thanks for your feedback.

It is not a problem with Zephyr but rather a problem of hardware : SPI is not supposed to work with only MOSI signal.
So Hardware implementation doesn't support it as it is out of specification.

[2021-05-26 09:36] #33169 closed

[2021-05-26 09:43] #35655 closed

[2021-05-26 10:18] anangl commented on #35550
@carlescufi I think it is fine to keep this issue opened as a bug. This missing feature of the i2c_nrfx_twim driver actually causes the DPS310 driver to not work on nRF9160, so that's something that needs to be fixed.

[2021-05-26 10:47] hakehuang commented on #33747
@ainguraXmarquiegui , can you give below patch a try?

[code]

[2021-05-26 10:48] EinarHenriksen commented on #34865
OK, so if I understand this correctly, every incoming packet gets sent to my socket, and then copied to where it is supposed to go?
And in order to avoid this buffer leak I am supposed to regularly call recv() in my application to free up the packet buffer?
Seems like a very backwards way of solving the problem, why would my socket recieve ping- and gptp-packets at all when I have explicitly decla

[2021-05-26 10:50] lukasbrchl opened #35668 "The channel selection of auxiliary advertisments in extended advertisments"
Hi, is there any planned support for some heuristic functionality that would dynamically select channels for auxiliary advertisements? We found out that channel 0 is selected as the default for any extended advertising payloads which might be quite unreliable if there is a lot of inference on this particular channel.

Thanks,
Lukas

[2021-05-26 11:04] FRASTM commented on #35561
Do you want to run the spi_loopback test on the nucleo_f767zi  ? There some adaptations to include:

1. add the **nucleo_f767zi.conf**:
[code]

2. add the **nucleo_f767zi.overlay**
[code]

3. remove the use of the CACHE MEMORY in the soc/arm/st_stm32/stm32f7/soc.c
(since the CONFIG_NOCACHE_MEMORY is defined)

4. connect the MISO pin to MOSI pin (D12/D11 on the CN7)

[2021-05-26 11:12] jukkar commented on #34865
Yes, that is the case atm.

Yes, there could be optimization possibilities here if you are only interested in certain type packets. But for example if the application has created ETH_P_ALL type packet socket, then it needs to call recv in order to flush the incoming socket queue because the core IP does not know atm if the application is only sending data or is listening too.

I was not able to re

[2021-05-26 12:09] jacoba-at commented on #31757
Looks good to me, thanks.
-Jacob

On Wed, May 26, 2021 at 12:02 PM ruuddw ***@***.***> wrote:

--

*Jacob Avraham **| Principal SW Engineer*

*M: +972-52-6970067 | T: +972-9-8865314*

*E: ***@***.*** ***@***.***>*

*Grand Netter building, Kfar Netter, Israel*

*Autotalks* | www.auto-talks.com

[2021-05-26 12:17] joerchan commented on #35596
Did some digging because it was weird that only creating connections was affected, but advertising and scanning worked fine.

Turns out the feature bit checking was inconsistent, I've created a fix for it.

[2021-05-26 12:19] EinarHenriksen commented on #34865
Then I will try using recv() as a temporary solution for now.
It seems like most of these problems would be solved by only recieving the specified protocol on a socket though.
I would very much like to know what causes the leak to stop and start when sending packets if you find out, which seems to be the only undefined behaviour/actual bug in my application right now.

[2021-05-26 12:21] StefJar commented on #35581
I you check the "nucleo_f411re.overlay" you will see that the dma channel for rx and tx is the same. So pls change them to maybe 3 and 2 and confirm that it generates the stream busy message.
One thing I saw when copying the dma setup was that some flags where not proper set. The 411 setup was not working for me. So I altered it to:
[code]
0x28440 -> 0x440
0x28480 -> 0x480

Maybe here lies a mista

[2021-05-26 12:23] tejlmand opened #35671 "Check minimal version of llvm/lld linker"
Support for lld instead of ld.bfd was introduced here:
 #31706, in this commit: 2a59fa52b8e8fe2923a5295cf6c2a71a5eb837c8

However, linking fails if user is using a older llvm, for example v10.0.0.

So a check should be introduced which ensures that llvm in use is >=v12.0.0

**Describe the solution you'd like**
A check to ensure llvm >=12.0.0 is used.

**Describe alternatives you've considered**
N/

[2021-05-26 12:50] ddkn commented on #35561
Hi @FRASTM,

I am an idiot, you deserve a coffee haha.

I thought the SPI was doing something internal, but connecting the pins had everything succeed with my original `nucleo_f767zi.conf`. I had added the pin before I flashed and reset and it worked! (See after, for other notes on what you specifically asked me to do)

[code]

But to add to what you asked me to do. I still did what you asked: 1,2

[2021-05-26 12:54] ddkn commented on #35539
Hi @ABOSTM,

Thanks for the response. I had tried the revert earlier, which had the buffer issue I mentioned. Where 013303c4 gives the same error message, but then @FRASTM in #35561 pointed out I need to connect D11 -> D12 for the loopback to work correctly (I assumed it was doing something internal). It works, now.

[code]

[2021-05-26 12:56] micnet49 commented on #32037
I would like to have the "stale" label removed. The issue is still important for my application.

[2021-05-26 12:56] erwango commented on #35581
I've tried the following successfully:
[code]

[2021-05-26 13:15] FRASTM commented on #35561
Did you use the stream for another DMA request ?
The stm32f767 can propose several _streams_ for SPI1 on the DMA channel 3 (peripheral request):
stream 3 or stream 5 for SPI1_TX, stream 0 or stream 2 for SPI1_RX
 &spi1 {
	dmas = <&dma2 _request=5 or 3_ _stream=3_ 0x28440 0x03
		       &dma2 _request=0 or 2_ _stream=3_ 0x28480 0x03>;
	dma-names = "tx", "rx";
}

[2021-05-26 13:16] StefJar commented on #35581
0x440 vs 0x28440 = Bit15 and Bit16-17 are different
Bit15 translates to:
0 - offset size is linked to the peripheral bus width
1 - offset size is fixed to 4 (32-bit alignment)
B16 translates to: Priority level
00 - low
10 - high

I am understanding the priority level
But can you pls tell me why rx and tx should be always aligned to 32Bit? To my knowledge we are streaming an array of bytes which ma

[2021-05-26 13:30] erwango commented on #35581
Why do you say this "should be always aligned to 32Bit" ?
This is configuration option, so you should be able to change it. I can't swear this has been validated with all combinations, but at least code supports different settings.

[2021-05-26 13:34] emillindq commented on #35541
@rlubos I looked into this a bit more and it seems like  `fcntl` can return -1 upon error. See for example https://pubs.opengroup.org/onlinepubs/009604599/functions/fcntl.html

Otherwise, -1 shall be returned

I interpret this as if F_GETFL is successful, not negative. If fail (for example not implemented as in the case of SARA-R4), -1. In my humble opinion the correct way to handle this is by che

[2021-05-26 13:34] chrisswinchatt-arm commented on #35596
Thanks for speedy response @all.

[2021-05-26 13:42] rlubos commented on #35541
Ok, I agree we should check the error code instead of blindly assuming the success, this could be fixed. But what does it change in the context of SARA-R4? If `fcntl()` returns an error then the whole function should return early, indicating the error. The TLS layer should not make any assumptions on the underlying socket behaviour.

[2021-05-26 13:50] MaureenHelm commented on #35658
git bisect landed on commit ff398d81a46596cdc18b7fe5ea4ae24d8599940c:
[code]

[2021-05-26 13:59] nageshshamnur opened #35677 "samples/subsys/console/getchar and samples/subsys/console/getline build breaks for arduino_nano_33_ble"
**Describe the bug**
when try to build console getchar and getline examples with west build, it fails due to undefined symbol reference

**To Reproduce**
Steps to reproduce the behavior:
```west build -p auto -b arduino_nano_33_ble samples/subsys/console/getline```
```west build -p auto -b arduino_nano_33_ble samples/subsys/console/getchar```
error as below:
[code]

**Expected behavior**
A clear a

[2021-05-26 14:19] carlescufi commented on #35512
Closing as per @rlubos' comment.

[2021-05-26 14:19] #35512 closed

[2021-05-26 14:22] carlescufi commented on #32111
@YanzhouYu can you please retry with the current master?

[2021-05-26 14:35] #35596 closed

[2021-05-26 14:43] erwango commented on #35561
@ddkn Can you enable some log ?
For instance CONFIG_SDMMC_LOG_LEVEL_DBG=y.

Also, please note that `spi1_nss_pa4` might not play well with `cs-gpios`, so I'll remove it.

[2021-05-26 14:46] nashif commented on #35250
You should not enable power management by default and for running tests. This has lots of side effects and the tests were not designed to be run with power management enabled. Does it work for you with PM disabled?

[2021-05-26 14:50] nageshshamnur opened #35681 "Unable to get ouput for samples/subsys/logging/logger and samples/philosophers"
**Describe the bug**
Env details:
Ubuntu 20.04.2 LTS running zephyr project from master and zephyr sdk version: zephyr-sdk-0.12.3
Hardware: Arduino nano 33 ble sense.
I have setup the zephyr environment as explained in the page: https://docs.zephyrproject.org/latest/getting_started/index.html.
I have connected by Arduino nano 33 ble sense board to my ubuntu laptop via USB to mini-USB cable which p

[2021-05-26 14:51] ddkn commented on #35561
Hi @erwango,

Sorry, I am not used to all of the options available. Here is the debug output,
[code]

I wasn't sure what you meant by *remove it*. So just in case I ran it 2 times, one with the `spi1_nss_pa4` removed, and the other with the `cs-gpios` line removed; this gave the same debug output.

Thanks again for helping.

[2021-05-26 14:56] #35480 closed

[2021-05-26 15:00] erwango commented on #35561
Ok, not much info here.

What about CONFIG_SPI_LOG_LEVEL_BDG=y ?
Also, just to be sure, are you using https://github.com/zephyrproject-rtos/zephyr/pull/35661 ?

[2021-05-26 15:01] #31856 closed

[2021-05-26 15:20] ddkn commented on #35561
I have my own branch from 457a28b where I just ran `git revert 012884`, to get the above stuff working in **spi_lookback**.

The output of the SPI log is as such,
[code]

[2021-05-26 15:38] galak commented on #35539
Fixed by #35661

[2021-05-26 15:39] galak commented on #35297
Fixed by #35661

[2021-05-26 15:39] #35297 closed

[2021-05-26 15:39] #35539 closed

[2021-05-26 15:43] galak commented on #34971
The module repo contains various .a files that should not be allowed.

[2021-05-26 15:44] erwango commented on #35561
Moving issue to "low" as different from #35661

[2021-05-26 15:54] #32237 closed

[2021-05-26 15:58] carlescufi commented on #34971
@soburi thanks for the submission.
This was discussed in today's Technical Steering Committee meeting, and we had a couple of additional questions for you:

- Are you employed by GigaDevices? If not, do you have contact with them? Being employed by the silicon vendor is *not* a requirement.
- Are you willing to maintain the port for the foreseeable future? This means reacting to GitHub issues bein

[2021-05-26 16:14] galak commented on #35677
This is expected behavior on this board since the "console" is on USB_UART_CONSOLE which does not support input according to the Kconfig.

[2021-05-26 16:14] #35677 closed

[2021-05-26 16:16] galak commented on #35677
See https://github.com/zephyrproject-rtos/zephyr/blob/4084242a71d0a93d97a83776b995785bd28ec883/drivers/console/Kconfig#L105

If you look at https://github.com/zephyrproject-rtos/zephyr/blob/4084242a71d0a93d97a83776b995785bd28ec883/subsys/console/Kconfig#L9 you'll see that CONSOLE_GETCHAR & CONSOLE_GETLINE depend on UART_CONSOLE

[2021-05-26 16:16] nashif commented on #33761
this is already fixed

[2021-05-26 16:16] #33761 closed

[2021-05-26 16:45] StefJar commented on #35581
Ok cool. My stuff is working with the test DMA settings. So I think my problem is not related to that. Guess we can rule out the DMA channel setup.
Now it comes down to the problem, that the SPI transfers are not working with DMA & ISRs enabled, when having more than one device attached. Do you may have the possibly to check SPI transfers while switching between different devices (different CPOL &

[2021-05-26 16:59] erwango commented on #35581
This still not clear to me why you enable both DMA and ISR if you only have one SPI device enabled.
A SPI device (SPI3 in your case) can only work with one for a specific build.
DMA and ISR might be enabled in case you have several SPI devices and you want to hndle them in different ways (eg ISR on SPI_1 and DMA on SPI3).

This being said, can you have a try using only DMA ? Then only ISR ?

[2021-05-26 17:30] #33884 closed

[2021-05-26 17:37] gpuzio opened #35686 "Bluetooth: Crash in bt_gatt_dm_attr_chrc_val when BLE device is disconnected during discovery process"
In certain situation when BLE device is disconnected during service discovery process sw can crash in bt_gatt_dm_char_by_uuid due to BUS FAULT (dereference of pointer showing non accessible memory). Scenario is following,:
1. scanning is started
2. connection with BLE device is established during filter match callback.
3. Gatt discovery is started with bt_gatt_dm_start.
4. 3 services are discovere

[2021-05-26 18:09] dcpleung commented on #35633
#35690 has the coverity tag added.

[2021-05-26 18:58] mbolivar-nordic commented on #10621
I think we can safely call this issue closed at this point :tada:

If anyone is aware of a device driver that isn't allocating instances from devicetree, I think we should treat that as a bug or deficiency in that particular driver.

[2021-05-26 18:58] #10621 closed

[2021-05-26 19:00] mbolivar-nordic commented on #15659
@kestewart can we close this now that `west spdx` is merged?

[2021-05-26 19:06] mbolivar-nordic commented on #3487
@erwango I'm looking through old issues today and I wonder if this one is still relevant.

[2021-05-26 19:07] mbolivar-nordic commented on #8439
@tejlmand I am pretty sure this can be closed with resolution "won't do"; right?

[2021-05-26 19:09] mbolivar-nordic commented on #7214
I'm taking the liberty of closing this. I don't think it's that confusing in practice.

[2021-05-26 19:09] #7214 closed

[2021-05-26 19:10] dcpleung commented on #29526
Already done. (commit b01177156f8bfd40992485752798188c1ff88e71)

[2021-05-26 19:10] #29526 closed

[2021-05-26 19:13] galak commented on #10621
Fair, there are still some driver classes like IEEE 802154 that dont utilize devicetree, but I'm fine w/closing this and opening specific bugs for those drivers.

[2021-05-26 19:14] dcpleung commented on #25389
`DEVICE_MMIO_*` implements this already. Build time mapping needs to be done in arch-specific way as each arch has different way to generate page tables. So in general, this is done. So closing...

[2021-05-26 19:14] #25389 closed

[2021-05-26 19:36] cvinayak commented on #35668
Advertising extensions is work in progress, currently no one is working  is being done on the auxiliary advertising channels. Contributions to add it is welcome.

[2021-05-26 19:50] mbolivar-nordic opened #35693 "gpio_mcux_lpc.c uses devicetree instance numbers incorrectly"
**Describe the bug**

The driver's Kconfig uses node labels for two particular GPIO ports, `pio0` and `pio1`:

[code]

There's nothing wrong with that in itself.

However, the driver source code assumes that DT_DRV_COMPAT instance number 0 is the same node as `pio0`, and similarly for instance number 1:

https://github.com/zephyrproject-rtos/zephyr/blob/2323319866fc190bc6eed44e9f8675fad3c0b207/dri

[2021-05-26 20:00] nashif opened #35694 "No console output from NIOS2 Max10"
**Describe the bug**
Nothing comes out of the console

**To Reproduce**
Steps to reproduce the behavior:
1. Build anything and flash

**Expected behavior**

Messages should come out on the console

**Impact**
Board unusable.

[2021-05-26 20:37] nandojve commented on #34167
I think any improvement in this field is welcome. I would like comment this RFC could impact other bootloader and/or tools like `bossac runner`.

[2021-05-26 21:18] herve0026 commented on #7618
Hi Nashif.
I just start documenting my code with  custom doxygen tags @req, @satisfy . As explained in zephyr projet documentation page.
By the way, thanks very much for this page.
I was wondering, if by any chance the script to generate the RTM, could also be shared by the zephyr project ?
I found this RTM very nice and would like to obtain the same kind of report but my skill in writing script i

[2021-05-26 23:09] #35694 closed

[2021-05-26 23:11] #32506 closed

[2021-05-26 23:14] #34045 closed

[2021-05-26 23:15] #34046 closed

[2021-05-26 23:58] #33423 closed

[2021-05-26 23:58] #33667 closed

[2021-05-26 23:58] #34962 closed

[2021-05-27 01:39] MarkWangChinese commented on #33052
I think it is not a issue, we can set it as "ignore":
Coverity think the "data length" is calculated by data of the net_buf, and the data came from an external source (we know it is BT).
Then Coverity think the "data length" is tainted and untrusted. Coverity want code to give the "data length" an permissible range, but the "data length" is calculated by the SDP string type (it's length has no per

[2021-05-27 01:55] MarkWangChinese commented on #33041
I think it is not a issue, we can set it as "ignore":
Coverity think the "data length" is calculated by data of the net_buf, and the data came from an external source (we know it is BT).
Then Coverity think the "data length" is tainted and untrusted. Coverity want code to give the "data length" an permissible range, but the "data length" is calculated by the SDP string type (it's length has no per

[2021-05-27 04:06] hakehuang commented on #33747
@ainguraXmarquiegui can you give a try on below fix?

[code]

[2021-05-27 05:15] #31757 closed

[2021-05-27 05:59] erwango commented on #3487
@mbolivar-nordic, I don't think it is. Let's close it. Txs

[2021-05-27 05:59] #3487 closed

[2021-05-27 06:10] hakehuang opened #35703 "posix_apis: fails at test_posix_realtime for mimxrt1024_evk"
**Describe the bug**

    Assertion failed at WEST_TOPDIR/zephyr/tests/posix/common/src/clock.c:75: test_posix_realtime: (rts.tv_nsec not equal to mts.tv_nsec)

only this board has such issue, all other rt1xxx series boards are OK.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\mimxrt1024_evk
3. make
4. See error

**Expected behavior**
pass

**Im

[2021-05-27 06:10] hakehuang commented on #35703
@MaureenHelm , @dleach02

[2021-05-27 06:30] ananthjaisankar95 commented on #35250
Yes, The test is getting passed if PM is disabled. And FYI the particular testcase has COMFIG_PM=y in prj_tickless.conf itself and we did not add them.

[2021-05-27 06:31] yashi commented on #35244
https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=fa6ecf940581b4be26165351bb0473427d31c7d8
https://bugzilla.kernel.org/show_bug.cgi?id=204495

[2021-05-27 06:35] FRASTM commented on #35220
FIXED by #35165
tests are now PASSED

[2021-05-27 06:37] #35220 closed

[2021-05-27 07:09] MarkWangChinese commented on #18386
I created one PR https://github.com/zephyrproject-rtos/zephyr/pull/35706

[2021-05-27 07:15] saininav opened #35707 "AssertionError: zephyr/tests/kernel/common test case is failing with gcc-11 (Yocto)"
I am building stable zephyr v2.5.0 with Yocto toolchain using [meta-zephyr](http://git.yoctoproject.org/cgit/cgit.cgi/meta-zephyr) layer.

GCC : 11.1.1
Python: 3.9.5
Board: up_squared

No issue observed with GCC 10.2.

Observed that few other [kernel testcases](https://github.com/zephyrproject-rtos/zephyr/tree/zephyr-v2.5.0/tests/kernel) are also failing with same error:
zephyr/tests/kernel/common

[2021-05-27 07:21] ioannisg commented on #35656
Looks like a stack overflow

[2021-05-27 07:31] yashi commented on #35244
It seems all tests fail to build for `native_posix` with binutils version 2.35.  But it's just that twister treats the warning and mark them `FAILED`.  You can build and run the tests without a problem if you aren't using twister.

[2021-05-27 07:57] StefJar commented on #35581
I done the requested tests:

- test spi independently (uart3 dma disabled at uart3 node)
- disable/enable isr/dma at spi3

results:
[UART3 dma=off, SPI INTR=on, SPI DMA=off] = works
[UART3 dma=off, SPI INTR=off, SPI DMA=on] = fail
[UART3 dma=on, SPI INTR=on, SPI DMA=off] = works
[UART3 dma=on, SPI INTR=off, SPI DMA=on] = fail

Fail = SPI only reads from ads1292 device but not from lsm6ds3.

[2021-05-27 08:18] erwango commented on #35581
Thanks for these tests!

Just to be sure, can you provide the configuration you're using for UART3? This would be surprising there's a conflict since you mention this is working with ads1292, but who knows ?

If there is no conflict, it would mean that we're having a specific issue to alternate reads on 2 devices when using DMA, while this is working with IRQ..

[2021-05-27 08:34] emillindq opened #35711 "net: sockets: dtls: handshake not reset as it ought to be"
**Describe the bug**
The bug is as follows: I am a client in the DTLS handshake and the remote is not replying. I am using `sendto` to start the DTLS handshake. My end will retransmit the client hello message until timeout. This works well.

I will receive error on `sendto` since remote is gone. When I call0 `sendto` again, I would expect the DTLS handshake to be reset and start over if it's not c

[2021-05-27 08:41] emillindq commented on #35541
Yes you are right, we should do both: check for error (so it is obvious the underlying socket doesn't implementing `F_GETFL` for future potential problems) and return 0 in sara-r4 on said argument.

Please see https://github.com/zephyrproject-rtos/zephyr/pull/35712 for my proposal

[2021-05-27 09:14] erwango opened #35713 "tests: kernel.scheduler.multiq: test_k_thread_suspend_init_null failure"
**Describe the bug**
Following issue appears when running `tests/kernel/sched/schedule_api` on disco_l475_iot1 or frdm_k64f

[code]

**To Reproduce**
`twister -p disco_l475_iot1 -T kernel/sched/schedule_api --device-testing --device-serial /dev/ttyACM0`

**Expected behavior**
Test should be passed

**Logs and console output**
[code]

**Environment (please complete the following information):**
 -

[2021-05-27 09:14] #35713 closed

[2021-05-27 09:30] wngur300 opened #35714 "samples: subsys: testusb: I want to know how to test in window10."
**Describe the bug**
Unable to perform usb loopback test on Desktop (window10).

![etc](https://user-images.githubusercontent.com/46815991/119916804-2c124700-bfa0-11eb-83e8-a0752c07f2f7.png)
**Device Status :**
 - The driver for this device is not installed. (Code 28)
 - There are no compatible drivers for this device.

There are no compatible drivers on this device

**To Reproduce**
Steps to repr

[2021-05-27 09:32] StefJar commented on #35581
yep sure
[code]
plus
[code]
all my tests went against the latest main branch (6e2522d3de8596571d98f01bb17e7f50bf640255)

I will quickly drop the device config here
ads1292
[code]
lsm6ds3
[code]

[2021-05-27 11:07] carlescufi commented on #32233
Closing this due to reporter inactivity. Feel free to reopen if this is still an issue.

[2021-05-27 11:07] #32233 closed

[2021-05-27 11:10] carlescufi commented on #32564
@chyu313 can you confirm this is still an issue in current main?

[2021-05-27 11:12] carlescufi commented on #34659
@caco3 when you come back please do comment on this issue, since Zephyr 2.6.0 is currently being stabilizied and ideally we'd like to include a fix for this.

[2021-05-27 11:16] #31179 closed

[2021-05-27 11:16] ppryga commented on #21392
There was another issue related with clang-format and checkpach that was solved: bit fields formatting, In past clang-format had inserted spaces before and after a colon.
It is fixed in version 12 that is already released. There is new config. option `BitFieldColonSpacing` that can be set to `none` and no white spaces will be inserted.
[code]

I'm interested in update the .clang-format config file

[2021-05-27 11:40] emillindq opened #35718 "Excessive error messages from filesystem interface"
**Is your enhancement proposal related to a problem? Please describe.**
The problem I'm having when using the file system is that I get spammed by error messages when doing operations whose rc gives me the information I want, or that is not error at all. For example:
* `fs_mkdir()` prints an error if the directory already exists. settings_file.c calls this function to create a directory on boot, a

[2021-05-27 11:49] tejlmand commented on #8439
I wouldn't say so, but it's down on the prioritization list compared to other work.

Also I think it's nice to keep open for other new comers to Zephyr who might be experienced CMake developers that this is something we are aware about.

[2021-05-27 12:05] #34734 closed

[2021-05-27 12:12] chyu313 commented on #32564
Yes, it still an issue. I keep pulling Zephyr code and testing it. Fault still occurs.

[2021-05-27 12:40] allopatin opened #35719 "WiFi Management expects networking to be offloaded"
**Is your enhancement proposal related to a problem? Please describe.**

Currently I am working on porting the Silicon Labs WFM200 Wifi NCP to Zeyphr. That device is capable of managing network connections like connecting to a station, creating an AP or scanning for networks. However it does not implement an IP stack etc. The problem is that when using `CONFIG_WIFI_OFFLOAD` for enabling the wifi m

[2021-05-27 12:45] galak commented on #32448
@tejlmand what's left to fix here?

[2021-05-27 12:47] stephanosio commented on #32448
@galak the architectures that are not x86(-32), riscv32, xtensa (i.e. arm64 sparc nios2 riscv32 riscv64 x86_64).

[2021-05-27 12:57] FRASTM opened #35720 "tests:kernel timer fails on test_sleep_abs with TICKLESS_KERNEL and PM on nucleo_wb55rg"
**Describe the bug**
When running the test case tests/kernel/timer/timer_api/ on the nucleo_wb55rg board, in the **prj_tickless.conf**, the test_sleep_abs fails.
With this config, the LPTimer is used as kernel timer.

When testing the disco_l475_iot1 board, the test is PASSED in the same configuration with LPTIM running.
With this config, the LPTimer is also used as kernel timer.

**To Reproduce**

[2021-05-27 13:02] JordanYates commented on #21392
We need at least 1 script doing some amount of checking against the coding style, currently this is `checkpatch`. While `clang-format` can be run on diffs only, I would guess that we can't switch to a tool which generates (IMO) garbage output for large chunks of the repo (see the nested value issue above).

If we can resolve that, and to a lesser extent the struct instantiation issue, I think it w

[2021-05-27 13:02] nandojve opened #35721 "Atmel sam0 Async and/or DMA may not work"
**Describe the bug**
The #24873 made an important enhancement on Zephyr. Such big change may create eventual issues. It was detected that  Async and/or DMA features from Atmel SAM0 devices stopped to work after #24873. It is not exactly clear the why and require more investigation.

**To Reproduce**
Try run `tests/drivers/uart/uart_async_api` with `atsamr21_xpro` board, for instance.

**Expected b

[2021-05-27 13:18] nageshshamnur commented on #35681
This issue was happening due to incorrect connection of Rx/Tx pins in USB-TTL cable. Adding the image here for the benefit of all people.
Closing this issue as incorrect one.
![arduino nano 33 ble](https://user-images.githubusercontent.com/41421560/119832640-00e61400-bf1c-11eb-896e-29a706ab6592.jpg)

[2021-05-27 13:23] #33843 closed

[2021-05-27 13:44] #35541 closed

[2021-05-27 14:04] joerchan commented on #35686
@gpuzio Thank you for the bug-report. This is however reported in the wrong place as the issue is in the nrf repository as part of the nRF Connect SDK, and not related to zephyr itself.
The correct place to report these types of bugs is through https://devzone.nordicsemi.com/.
If you don't mind could you please open a ticket there so that we can continue any dialog there. I've already created an i

[2021-05-27 14:04] #35686 closed

[2021-05-27 14:35] rlubos commented on #35719
@allopatin Hi, we're aware of the problem and we've already discussed this on one of the recent Networking Forums. The idea was to introduce WiFi L2 (based on ethernet L2), and use it instead of `struct net_if_api` inside `struct net_wifi_mgmt_offload`. This should allow implementing L2 functionality with the wifi management layer, w/o offloading. @sylvioalves Do we have any progress in this area?

[2021-05-27 14:51] StefJar commented on #32261
I like to give a short update on that issue
I done some work on my project. So I am currently using for everything the Zephyr drivers. So no own ISRs etc. If I am doing a hard reset VDD off -> on, my firmware runs 2x through a reset because of the stack sentinel. After it goes smooth. As well as a reset from my programmer usually does not triggers this error.
I have problems resolving that message

[2021-05-27 14:59] dcpleung commented on #32261
`zephyr.lst` can usually point you to the instruction that's causing the fault with the program counter address (in your case, `(r15/pc): 0x08021b54`.

If the toolchain emits symbol for a particular thread, you can find it through `zephyr.map` to see which thread is causing issue. (in your case, `Current thread: 0x200035f8`).

[2021-05-27 15:00] FRASTM commented on #35720
It can pass when increasing the "time slop" up to 250µs in the zassert_true ( ... k_us_to_ticks_ceil32(250)) of the test_sleep_abs()

[2021-05-27 15:26] tejlmand commented on #32448
With #35647 and #35722 in place should we consider this an enhancement issue ?

[2021-05-27 15:27] ioannisg commented on #32261
In theory, stack sentinel should not be used together with HW_STACK_PROTECTION on Cortex-M. It's not needed. I've not checked, though, if these can co-exist smoothly.

[2021-05-27 15:29] ioannisg commented on #32261
Yeap, the line  of code could help here.

[2021-05-27 15:31] stephanosio commented on #32448
If C++ exception handling never worked for these architectures to begin with (we should really make sure that feature PRs have associated tests with them ...), it should indeed be considered an enhancement issue.

[2021-05-27 15:51] mmahadevan108 commented on #35658
This issue seems to be related to switching the kernel tick timer away from SYSTICK to OS Event timer. The test is failing the below lines
https://github.com/zephyrproject-rtos/zephyr/blob/main/tests/arch/arm/arm_interrupt/src/arm_interrupt.c#L336-L353
because the test is expecting a CPU exception instead and RT600 is throwing a Kernel Panic.

I am not clear how to address this.

[2021-05-27 16:36] galak commented on #32448
@tejlmand on riscv64/x86_64/arm64 CONFIG_LINKER_SORT_BY_ALIGNMENT=y is causing issues with crtbegin.o not getting linked at the right order.

[2021-05-27 17:07] mmahadevan108 commented on #35656
The test is failing the below lines
https://github.com/zephyrproject-rtos/zephyr/blob/main/tests/arch/arm/arm_interrupt/src/arm_interrupt.c#L336-L353

The test is expecting a CPU exception and RT600 is throwing a Kernel Panic. I am not clear how to address this.

[2021-05-27 17:50] stephanosio commented on #32448
64-bit archs to be fixed by #35734.
SPARC to be fixed by #35733.
NIOS2 needs verification (`qemu-nios2` cannot run the test due to flash size limitation).

[2021-05-27 18:00] str4t0m opened #35737 "drivers: can: mcan: sjw not initialized when CAN_FD_MODE is enabled"
**Describe the bug**
The mcan driver does not initialize the timing.sjw variable in CAN_FD_MODE configuration.
This causes undefined behavior and might trigger a assert that checks the valid range of this parameter.

**Expected behavior**
The synchronization jump width should be initialized with the parameter configured.

**Impact**
Undefined behavior might lead to synchronization problems.

[2021-05-27 18:12] stephanosio commented on #23248
TODO:
1. Consider adding a config to enable the relevant functions in newlib.
2. Consider adding tests for these as part of the newlib tests.

[2021-05-27 18:14] alexanderwachter commented on #35737
Fix: #35738

[2021-05-27 18:35] #34214 closed

[2021-05-27 18:35] tejlmand commented on #32448
Increasing the flash can be done with this diff:
[code]
after all, flash is cheap for a qemu board :wink:

But it doesn't solve the problem, as we still are getting this:
[code]

[2021-05-27 18:39] stephanosio commented on #32448
@tejlmand IIRC, qemu hanged when I did that, so I assumed it had the flash size hardcoded somewhere in the code -- good to know that it isn't :)

[2021-05-27 19:00] ioannisg commented on #35656
I'll take a look.

[2021-05-27 20:06] ddkn commented on #35561
Hi @erwango  and @FRASTM,

I wanted to update, I got the board working. I ended up *changing out* the **microSD SPI+SDIO breakout board**. I may have a bad soldering job on my end or a faulty part, however, it works now.

Here are the current config files I have to ensure this works,

**boards/nucleo_f767zi.overlay**
[code]

**boards/nucleo_f767zi.conf**
[code]

**serial output**
[code]

Did you w

[2021-05-27 20:54] #35737 closed

[2021-05-27 20:59] #35136 closed

[2021-05-27 20:59] #35130 closed

[2021-05-27 21:09] galak commented on #32201
@carlocaione is this still an issue?

[2021-05-27 21:10] galak commented on #30348
@evgeniy-paltsev is this still an issue?

[2021-05-27 23:02] nashif commented on #35707
I doubt this is board specific. This is a new toolchain that is not supported, not tested, etc. Please use the Zephyr SDK or a toolchain that is well-tested, for example 10.2

[2021-05-27 23:06] nashif commented on #35707
oops, closed by mistake

[2021-05-27 23:08] nashif commented on #35707
I can reproduce this with fedora 34 and `export ZEPHYR_TOOLCHAIN_VARIANT=host`

[2021-05-27 23:09] nashif commented on #35707
@dcpleung  take a look at the syscall script thing, you might have an idea what is going on.

[2021-05-28 04:42] yashi commented on #23248
A few questions:
 - Is it just for newlib? I don't really follow #3102 but does it still hold?
 - What has changed since https://github.com/zephyrproject-rtos/zephyr/issues/23248#issuecomment-668721295?

[2021-05-28 06:42] erwango commented on #35561
@ddkn Thanks for the update. I'm gonna close the issue then.

Nice offer, but we generally limit upstream to the hw that's actually on boards. Otherwise we would be overwhelmed with overlays.

[2021-05-28 06:42] #35561 closed

[2021-05-28 06:46] erwango commented on #35561
@ddkn Thinking a bit more to it, what can be done is to port Adafruit microSD SPI+SDIO as a shield. So it can then benefit to all. Cf [boards/shields/adafruit_winc1500](https://github.com/zephyrproject-rtos/zephyr/blob/2323319866fc190bc6eed44e9f8675fad3c0b207/boards/shields/adafruit_winc1500/) as example

[2021-05-28 07:04] maweicoltsmart opened #35756 "ESP32 Ethernet Support"
Is anyone working on porting the Ethernet driver of ESP32? By the way, tell me the address of the git repository, thank you!

[2021-05-28 07:11] jukkar commented on #35756
cc: @sylvioalves

[2021-05-28 07:27] carlocaione commented on #32201
@galak nope

[2021-05-28 07:27] #32201 closed

[2021-05-28 07:58] jfischer-no commented on #35714
Only Linux host is supported by this example. Other host OS can not be supported.

[2021-05-28 07:58] #35714 closed

[2021-05-28 07:58] ioannisg commented on #34917
I can't reproduce any of the tests failures on v2.6.0-rc2, on lpcxpresso55s69.
@hakehuang if this is the same for 55s28 I suggest you close this ticket.

[2021-05-28 08:08] jfischer-no commented on #35718
What is preventing you from turning FS logging off with `CONFIG_FS_LOG_LEVEL_OFF=y`?

[2021-05-28 08:10] ppryga commented on #21392
@JordanYates Is there a list of incompatibility items of clang-format and Coding Style rules? Have you got knowledge about such list?

[2021-05-28 08:24] stephanosio opened #35758 "Increase qemu-nios2 memory size"
**Is your enhancement proposal related to a problem? Please describe.**
The flash and RAM size for the `qemu-nios2` platform is insufficient for running some tests (for instance, C++ tests; see #32448). Since it doesn't really cost us anything to increase the flash and RAM size of an emulated platform, do it.

**Describe the solution you'd like**
1. In QEMU, add a virtual testing platform based on

[2021-05-28 08:24] stephanosio commented on #35758
cc @galak @nashif

[2021-05-28 08:56] emillindq commented on #35718
Yes of course I could do that, but there are errors that are actual errors (for example "mount point not found") that I want to see. My point is that it should be possible to do all types of fs accesses without triggering errors, when there is no error. As mentioned, how to find out if a folder exists?

[2021-05-28 09:37] erwango commented on #32789
@ycsin Do you have a new status on this point ?

[2021-05-28 09:38] erwango commented on #33485
@ddkn, thanks for your feedback. I'm closing the point then.

[2021-05-28 09:40] ABOSTM opened #35760 "tests: subsys: canbus: isotp: implementation: fails on nucleo_g474re"
**Describe the bug**
tests/subsys/canbus/isotp/implementation/  fails on nucleo_g474re.

This test is failed on main branch.
But even when reverting to original introduction of FDCAN on nucleo_g474re,
#31061 with sha1 3b2fd1ca0d951ee06279afca0a8f565459d5550b
it is still failed

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_g474re tests/subsys/canbus/isotp/implem

[2021-05-28 09:43] ABOSTM commented on #35760
@alexanderwachter Is there something I miss to pass the test, any loopback wire, tranceiver,  ...?
(I am not CAN expert)

[2021-05-28 09:49] ycsin commented on #32789
@erwango Nope.. This has became a 'good to have' feature in my current priority list (for F103) and I'm currently migrating from F103 to G0B1.

[2021-05-28 10:09] martin-aberg opened #35762 "SAMPLES: shell_module gives no console output on qemu_leon3"
**Describe the bug**
There is no console input or output when running the `shell_module` sample on the qemu_leon3 board.
Also reproduced on the board generic_leon3.

**To Reproduce**
Steps to reproduce the behavior:
1. `cmake $ZEPHYR_BASE/samples/subsys/shell/shell_module -DBOARD=qemu_leon3`
2. `make`
3. `make run`

**Expected behavior**
It was expected that the program would print the shell promp

[2021-05-28 10:11] ioannisg opened #35764 "tests: kernel: threads: no multithreading: fails with CONFIG_STACK_SENTINEL=y"
**Describe the bug**
no_multithreading test is failing when CONFIG_STACK_SENTINEL is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. build no_multithreading test
2. cmake -DBOARD=nrf52840dk_nrf52840
3. make
4. See error

**Expected behavior**
The test should pass.

**Impact**
Low. This is a custom configuration

**Logs and console output**
[code]

[2021-05-28 10:54] str4t0m commented on #35760
@ABOSTM no external fixture is required to run the test.
I ran the test locally with success on g0 and g4. As CAN_FD_MODE is enabled per default, #35738 may have fixed this.
Would you mind running the test on the latest main?

[2021-05-28 11:03] nvlsianpu commented on #29397
@PerMac Have to check again, but as i remember mcuboot was not build even with these hints. Maybe because it is external application.

[2021-05-28 11:04] DominikWindhab commented on #32610
I'd like to join the conversation as we are currently dealing with similar issues.

It depends on the level of the observer. /6 Location has a "Timestamp" field. And newer versions of sensor values (e.g. /3347 Pushbutton) do have it too. If the observer is on level 0 or 1 (object or instance e.g. /6/0), Zephyrs LWM2M engine will always pack together the changed values into one message, also includ

[2021-05-28 11:18] alexanderwachter commented on #35760
We have issues with that tests ATM. There are race conditions in the testcase (context is reused before the work queue item was processed).
We are working on a fix.

[2021-05-28 11:22] nordic-krch commented on #29397
Just wanted to mention that was just fixing an issue with mcuboot failing to compile in certain configuration (reported by downstream project) #35765. It is not verified by zephyr CI though.

[2021-05-28 11:22] ABOSTM commented on #35760
@str4t0m I still reproduce the issue with latest main
@alexanderwachter ok thanks

[2021-05-28 11:31] #35762 closed

[2021-05-28 11:38] ddkn commented on #35561
That is fair, haha. I will just post this on a blog or something in case someone needs it.  I do appreciate all of the help!

I could try and look into this. For the SPI it was as direct as hooking up the pins. I would need to test out the SDIO stuff as well (but my school project has a small priority at the moment, hence the need for help). I could then just make port/shield like the **adafruit_w

[2021-05-28 11:54] evgeniy-paltsev commented on #30348
@galak yes, it is.

[2021-05-28 12:03] galak commented on #32448
Going to close this issue and open a new one for C++ on NIOS2

[2021-05-28 12:03] #32448 closed

[2021-05-28 12:04] erwango commented on #32789
@ycsin Ok, when you have time please report back of the proposed solution is working.

[2021-05-28 12:08] galak opened #35772 "Support C++ exceptions on NIOS2"
Currently we don't support C++ exceptions on NIOS2:

subsys/cpp/Kconfig:
[code]

~~They may work, but we can't test on qemu_nios2 due to limited flash.~~ Tested it and it is broken indeed.

[2021-05-28 12:08] galak commented on #32448
Opened #35772 for the NIOS2 C++ support.

[2021-05-28 12:24] ioannisg commented on #32261
Btw, I could not reproduce this either, using the same twister call as @dcpleung on nRF52840.
Running this, I noticed that sentinel cannot work with single-threading so I opened #35764

I noticed @StefJar that you're using FPU - that might bring additional stack requirements. I wonder if what you see is an expected stack overflow.

[2021-05-28 12:40] manoj153 opened #35778 "pwm : STM32: Timer handling interrupt callback handling"
![image](https://user-images.githubusercontent.com/17961318/119984135-3d347580-bfeb-11eb-9f5e-a93e0af8c793.png)

Possible to access any of the interrupt callback?
My goal is to signal a `PWM cycle` has elapsed so that a consumer can keep track of the elapsed cycle count.

@erwango

[2021-05-28 13:01] stephanosio commented on #35772
So I rearranged QEMU memory map and tested it -- it still fails:
[code]

QEMU patch (to be applied on top of `0004-qemu-nios2-Add-Altera-MAX-10-board-support-for-Zephy.patch`:
[code]

Zephyr dts:
[code]

[2021-05-28 13:10] erwango commented on #35778
@manoj153 Thanks for raising this. At fisrt sight, this would require PWM API extention (either generic API or STM32 sepcific). This is not something we have in plans right now. We'll revise plans if more people are interested.

[2021-05-28 13:11] ppryga opened #35781 "Missing response parameter for HCI_LE_Set_Connectionless_IQ_Sampling_Enable HCI command"
**Describe the bug**
Response HCI_Command_Complete event generated by BLE controller on HCI_LE_Set_Connectionless_IQ_Sampling_Enable command has missing return parameter: `sync_handle`

**To Reproduce**
Two nRF52833 DKs are required.
First one must run direction_finding_connectionless_tx sample.
Second one must run direction_finding_connectionless_rx sample.

Error may not be observed when BLE con

[2021-05-28 13:44] stephanosio commented on #35772
Found the problem. It has to do with `gcc_except_table`.

[2021-05-28 13:52] tejlmand commented on #35772
@stephanosio when using Zephyr-sdk 0.13.0-alpha, then Qemu on nios2 works (Zephyr-sdk 0.13 comes with Qemu6).
But it seems broken in Zephyr-sdk 0.12.4.
https://github.com/zephyrproject-rtos/sdk-ng/releases

[2021-05-28 13:59] stephanosio commented on #35772
Technically, it shouldn't work due to the reason described here: https://github.com/zephyrproject-rtos/zephyr/issues/32448#issuecomment-849854848; but, if things just happen to fall in the right place, it just might work as it did for your case. I will submit a patch to sdk-ng to increase memory available for NIOS2 testing later (#35758).

[2021-05-28 14:01] stephanosio commented on #35772
Meanwhile, I will submit a patch to fix NIOS2 C++ exception problem. The problem has been identified: https://github.com/zephyrproject-rtos/zephyr/issues/35772#issuecomment-850429980.

[2021-05-28 14:02] pfalcon commented on #34964
Confirming that https://github.com/zephyrproject-rtos/zephyr/pull/35466 fixed this, tested with `ab -n100000 http://192.0.2.1:8080/` with both qemu_x86 and qemu_cortex_m3.

[2021-05-28 14:25] emillindq opened #35789 "sockets_tls: receiving data on offloaded socket before handshake causes pollin | pollerr and failed recvfrom (SARA-R4)"
**Describe the bug**
This bug is a variant of https://github.com/zephyrproject-rtos/zephyr/issues/33330 but with offloaded socket behind the DTLS socket. The fix for mentioned issue doesn't apply for offloaded sockets.

The scenario is as follows:
1. A DTLS socket is created and `bind()` is called with an offloaded socket behind it
2. A packet comes on the offloaded socket before any other calls h

[2021-05-28 14:32] maweicoltsmart commented on #33968
west build -b esp32 samples\net\gsm_modem

compile error.

c:/users/colt/.espressif/tools/xtensa-esp32-elf/esp-2020r3-8.4.0/xtensa-esp32-elf/bin/../lib/gcc/xtensa-esp32-elf/8.4.0/../../../../xtensa-esp32-elf/bin/ld.exe: zephyr/subsys/net/l2/ppp/libsubsys__net__l2__ppp.a(ppp_l2.c.obj):(.literal.ppp_recv+0x0): undefined reference to `_ppp_protocol_handler_list_start'
c:/users/colt/.espressif/tools/x

[2021-05-28 14:53] erwango opened #35793 "kernel.scheduler.multiq: Failed since #35276 ("cooperative scheduling only" special cases removal)"
**Describe the bug**
Test tests/kernel/sched/schedule_api/kernel.scheduler.multiq is failed on disco_l475_iot1 since commit 851d14afc8941313a6f3faeb74f84ed73a33429a

Test is failed only when run with twister but is passed when run manually.
This is the only board impacted, as far as I know

**To Reproduce**
Steps to reproduce the behavior:
`twister --test tests/kernel/sched/schedule_api/kernel.sch

[2021-05-28 14:58] erwango commented on #35793
@andyross FYI.  It's hard for me to make a direct link with your change but it seems that the schedule for this test is a bit tight on this board (cf different status when run with west vs twister) and #35276 may had some small timing changes that impacts the final result.

[2021-05-28 15:15] stephanosio commented on #35758
`qemu_nios2` is using a custom QEMU machine (i.e. `altera_10m50_zephyr`) that is not available in upstream, so upgrading to qemu6 won't fix this issue.

The problem is that the QEMU RAM (note that `qemu_nios2` emulates XIP by loading both "flash" and "RAM" sections into the QEMU RAM) is too small to load the current C++-capable Zephyr image, so we will need something like https://github.com/zephyr

[2021-05-28 15:24] sylvioalves commented on #33968
@maweicoltsmart Have you pulled latest main and run `west update`? It works in here. Please, let me know.

[2021-05-28 15:29] mbolivar-nordic commented on #8439
Hah, okay then. I'm officially taking bets on if this ever gets done :)

[2021-05-28 15:41] #35764 closed

[2021-05-28 16:03] DariusBabrauskas commented on #35055
I have same problem with stm32L4a6.
1. With stm32CubeProgrammer I connect at speed 15 ... 125K  then do mass erase.
2. Then I able flash at hight speed. Then I can work normal until  power off/on. After this swd  speed decrease again, and I must repeat step 1.
I use  zephyr v2.5.
CPU power 1.8V
It looks software problem - (maybe MPU or corruption system registers ...)

[2021-05-28 16:29] bob2oneil commented on #35190
I need to follow up and determine where the problem lies, perhaps with the 'screen" implementation. There are a ton of string duplicate warnings that I can suppress with a kernel config setting.

[2021-05-28 16:46] #35540 closed

[2021-05-28 17:07] nashif commented on #2381
closing per comment above, few years later...

[2021-05-28 17:07] #2381 closed

[2021-05-28 17:07] #35772 closed

[2021-05-28 17:08] nashif commented on #3280
already done

[2021-05-28 17:08] #3280 closed

[2021-05-28 17:16] nashif commented on #1418
closing, lots of effort and work was put into this already..

[2021-05-28 17:16] #1418 closed

[2021-05-28 17:19] nashif commented on #5501
see #35366

[2021-05-28 17:22] nashif commented on #5517
addressed

[2021-05-28 17:27] nashif commented on #7216
AFAIK this was addressed, so closing

[2021-05-28 17:27] #7216 closed

[2021-05-28 17:29] #8400 closed

[2021-05-28 17:30] nashif commented on #8481
@carlescufi  Any updates on this?

[2021-05-28 17:36] nashif commented on #8536
@MaureenHelm  any plans to do that any time soon?

[2021-05-28 17:44] manoj153 commented on #35778
as start to make it work on STM32 specific, in which source file I am supposed to introduce these changes?

[2021-05-28 17:45] #9284 closed

[2021-05-28 17:46] nashif commented on #9626
closing, if you have this, just submit as a PR.

[2021-05-28 17:46] #9626 closed

[2021-05-28 17:48] nashif commented on #9778
This is already addressed

[2021-05-28 17:48] #9778 closed

[2021-05-28 17:49] #9882 closed

[2021-05-28 17:49] #9884 closed

[2021-05-28 17:49] #9885 closed

[2021-05-28 17:49] #9886 closed

[2021-05-28 17:49] #9889 closed

[2021-05-28 17:49] #9894 closed

[2021-05-28 17:49] #9895 closed

[2021-05-28 17:49] #10030 closed

[2021-05-28 17:49] #10041 closed

[2021-05-28 17:49] #10042 closed

[2021-05-28 17:51] nashif commented on #5325
closing in favour of #10112

[2021-05-28 17:51] #5325 closed

[2021-05-28 17:54] nashif commented on #10268
done already, can't find any SPI_DW defines in any soc.h files

[2021-05-28 17:54] #10268 closed

[2021-05-28 18:04] nashif commented on #11449
we moved from 80 to 100, so that should be enough, and IMO the rule in general should apply to all files.

[2021-05-28 18:04] #11449 closed

[2021-05-28 18:05] nashif commented on #11529
impractical

[2021-05-28 18:05] #11529 closed

[2021-05-28 18:17] mbolivar-nordic commented on #8481
There is some work in progress in https://github.com/zephyrproject-rtos/zephyr/pull/35398

[2021-05-28 18:24] nashif commented on #12405
@LeiW000  @enjiamai  do we have test coverage for this?

[2021-05-28 18:26] nashif commented on #13469
[code]

[2021-05-28 18:26] #13469 closed

[2021-05-28 18:30] nashif commented on #14806
too nitty, too subjective, or too broad

[2021-05-28 18:30] #14806 closed

[2021-05-28 18:30] maweicoltsmart commented on #33968
Sorry, it is indeed because I have not synced, thank you!

[2021-05-28 18:30] #33968 closed

[2021-05-28 18:30] #14973 closed

[2021-05-28 18:31] #14996 closed

[2021-05-28 18:32] #15134 closed

[2021-05-28 18:34] nashif commented on #15854
addressed

[2021-05-28 18:34] #15854 closed

[2021-05-28 18:35] nashif commented on #15855
addressed

[2021-05-28 18:35] #15855 closed

[2021-05-28 18:40] enjiamai commented on #12405
@nashif  ,  do you mean which test case cover it?
![image](https://user-images.githubusercontent.com/9374762/120028260-07ad7d80-c027-11eb-8cab-2a3f958754e0.png)

[2021-05-28 18:42] nashif commented on #18554
2.1 is long gone.

[2021-05-28 18:42] #18554 closed

[2021-05-28 18:43] nashif commented on #17571
implementation was replaced. closing, open a new issue if this still applies.

[2021-05-28 18:43] #17571 closed

[2021-05-28 18:45] nashif commented on #19224
the driver in the title does not exist anymore

[2021-05-28 18:45] #19224 closed

[2021-05-28 18:46] nashif commented on #19328
@nordic-krch  can this be closed?

[2021-05-28 18:56] nashif commented on #21648
@laurenmurphyx64  Can you please look into this?

[2021-05-28 18:56] nashif commented on #21783
agree with @jukkar

[2021-05-28 18:56] #21783 closed

[2021-05-28 18:59] nashif commented on #21840
done

[2021-05-28 18:59] #21840 closed

[2021-05-28 19:00] nashif commented on #20366
I think this is now available to everyone using the dokcker image which can be run and used by anyone.

[2021-05-28 19:00] #20366 closed

[2021-05-28 19:01] nashif commented on #22027
please file a bug if this still occurs.

[2021-05-28 19:01] #22027 closed

[2021-05-28 19:03] nashif commented on #22620
done

[2021-05-28 19:03] #22620 closed

[2021-05-28 19:04] d3zd3z commented on #35244
I was not able to reproduce this on NixOS with binutils 2.35.1. I think one of us will have to setup a debian-sid environment to be able to reproduce.

[2021-05-28 19:04] nashif commented on #22731
we only have one docker image now and it is documented https://github.com/zephyrproject-rtos/docker-image

[2021-05-28 19:04] #22731 closed

[2021-05-28 19:05] nashif commented on #22870
@stephanosio are you still looking into that?

[2021-05-28 19:07] stephanosio commented on #22870
@ioannisg Have we managed to get an alternative for this? Or do we still need this?

[2021-05-28 19:20] enjiamai commented on #12405
Hi @nashif  we have the poll tests that cover this, I think it could be closed.

[2021-05-28 19:30] nashif commented on #12405
This is not exactly test coverage. The issue was that is_polling was set to true, and the test still passed, see the original commit in #12384

[2021-05-28 19:39] enjiamai commented on #12405
Got your point. After checking, it cannot be caught by the current testcases. Ok, we will do it soon.

[2021-05-28 19:41] #35756 closed

[2021-05-28 19:50] nashif commented on #35354
For something generic I think it should be ok to submit this as a new channel and have it in the sensor  API. So, submit a PR please.

[2021-05-28 19:53] nashif commented on #35189
we should not have bugs/enhancements for each coding guideline, this is unmanageable, This is a project direction and should be tracked in the tools we use, not here.

[2021-05-28 19:53] #35189 closed

[2021-05-28 20:14] gregshue commented on #34997
@galak, the bug label was removed from this issue since the required behavior is unspecified.  During the triage meeting a few weeks ago we discussed the criteria for "bug" vs "enhancement", and concluded the inconsistent behavior should be a "bug".  If you still come to the same conclusion, please restore the "bug" label, as I do not have permission to do so.

[2021-05-28 20:52] nashif commented on #33890
you can already do that by commenting in the PR, just comment that the checks are unrelated, and someone would be able to override.

[2021-05-28 20:52] #33890 closed

[2021-05-28 20:54] nashif commented on #33363
This was already addressed in 10ee29e947ba5e3ec19a856b6b9cd63f3d82314f

[2021-05-28 20:54] #33363 closed

[2021-05-28 20:55] nashif commented on #28096
duplicate of #34557

[2021-05-28 20:55] #28096 closed

[2021-05-28 20:57] nashif commented on #32258
should be resolved now

[2021-05-28 20:57] #32258 closed

[2021-05-28 21:38] wopu-ot opened #35804 "Bluetooth: controller: Improve window widening accuracy"
The current window widening algorithm widens the window more aggressively than necessary. This can lead to higher radio duty cycles than needed, which can strain battery-powered devices when approaching a link supervision timeout. Greater accuracy in calculating the reception window reduces the radio duty cycle and thus reduces current draw.

The current window widening algorithm operates at the g

[2021-05-28 21:57] nashif commented on #31993
i think this request makes sense, I am often face with this with complex tests or samples that have 10s of options.

slow is relative, slow when you build times and executes 1000s of times in qemu, or slow when you try to build one sample? for one sample/test, I guess the slowness is due to the fact that twister is a tool that parses, builds and runs 1000s of tests and not one, so there is some ov

[2021-05-29 02:07] soburi commented on #34971
@carlescufi,

Thanks for checking this PR.

I'm not an employee of GigaDevice. and not in contact with them so well.
(I'm just a user of their board and chip. and I want to run Zephyr on it.
This chip is released a past year ago but has not to do support Zephyr yet.
To me, it looks like GigaDevice has not much attention to Zephyr.
So I added to support this chip to Zephyr.
I want GigaDevice to con

[2021-05-29 11:55] nashif commented on #31993
cleaned up a bit and put in a PR... https://github.com/zephyrproject-rtos/zephyr/pull/35808

[2021-05-29 13:01] #10499 closed

[2021-05-29 13:45] LongerHV opened #35809 "sample: USB audio samples are not working on STM32"
I wanted to play around with USB audio on STM32, but included samples are not working corectly.
I have nucleo_h743zi and stm32f103_mini boards. Both of them behave the same.
Program compiles, flashes and board is recognized as USB audio device as expected.
The problem is with the actual audio loopback, which is not working.

# Steps to reproduce:
1. Build and flash sample subsys/usb/audio/headset

[2021-05-29 16:57] ainguraXmarquiegui commented on #33747
Hello @hakehuang ,

Sorry for the delay, and thank you for your continued support. I have been unavailable this week.

I have just gone through your post, and I don't really understand all the details. What I do see is that even if your board is reporting to be in `MASTER` mode, gptp doesn't seem to be working, since `Current state` is reported to be `INITIALIZING`

Regardless, I have applied the

[2021-05-29 17:49] ioannisg commented on #22870
@stephanosio I have an open pr for qemu support on cortex-m33. So we will cover fpu testing on a slightly different ARCH though... Maybe worth keeping this open

[2021-05-29 20:45] nashif commented on #35718
Can you point to where this log message is in the code? Difficult to find the code concerned based on the above.

[2021-05-29 21:08] nashif commented on #21342
closing, this is outdated, this API does not exist anymore.

[2021-05-29 21:08] #21342 closed

[2021-05-30 00:32] #32018 closed

[2021-05-30 03:33] maweicoltsmart opened #35812 "ESP32 Factory app partition is not bootable"
**Describe the bug**

**Make the following changes：**

	quectel_bg9x: quectel_bg9x {
		compatible = "quectel,bg9x";
		label = "quectel,bg9x";
		mdm-power-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		mdm-reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		/* mdm-dtr-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>; */
		/* mdm-wdisable-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>; */
		status = "disabled";
	};
 };

 CONFIG_MODEM=y
 CO

[2021-05-30 14:07] stephanosio commented on #22870
Comparing the QEMU emulation feature sets of Cortex-M4 and Cortex-M33:

**Cortex-M4**
[code]

**Cortex-M33**
[code]

As far as the QEMU emulation goes, Cortex-M33F can be thought of as a simple superset of Cortex-M4F, and considering the main reason for adding M4F support was to facilitate Cortex-M floating point testing in Zephyr, I am not sure if there is any major advantage in adding M4F suppor

[2021-05-30 15:07] #34190 closed

[2021-05-30 16:28] bob2oneil opened #35813 "Zephyr Native Posix Build Uses Linux Build Machine Headers out of Sandbox"
I am creating a network enabled application, and my build targets are both native_posix_64 and qemu_riscv64.  I am able to compile for the QEMU board target.

However, for the native_posix_64 built, I get collisions with headers that are defined on my native Linux build machine rather than what I assumed was a cross compiled "sandbox", where for native POSIX, the cross compilation would not use an

[2021-05-30 16:31] xudongzheng commented on #25917
I ran into this issue and my workaround was to handle the sending from a workqueue with a lower priority.

[2021-05-30 17:28] bob2oneil commented on #35813
Also have collision on Linux header for select.h.

--------------------------------

In file included from /usr/include/x86_64-linux-gnu/sys/select.h:30,
                 from /usr/include/x86_64-linux-gnu/sys/types.h:179,
                 from /home/robocom/zephyrproject/zephyr/include/net/socket.h:25,
                 from ../src/config/sessionConfig.cpp:16:
/home/robocom/zephyrproject/zephyr/in

[2021-05-31 00:36] #32469 closed

[2021-05-31 03:05] hakehuang commented on #33747
@ainguraXmarquiegui , I am not able to set up a full test envrioment as you does, so I use two board connect to each other, one is frdm_k64f and another is mimxrt1060_evk, and by this setting, I can see both boards enters the same states, looks like the issue  is fixed.

as to your test result, I find you did not get into the correct status, see below
[code]
![image](https://user-images.githubuser

[2021-05-31 04:04] manoj153 opened #35816 "timer: STM32: using hw timer for counting and interrupt callback"
**Is your enhancement proposal related to a problem? Please describe.**

Generally, a general-purpose timer could be used to signal something accurately whenever ticks based kernel delay are less accurate

**Describe the solution you'd like**
I think having a timer interrupt callback exposed, user can add non-blocking code as per their need in the cb.

**Describe alternatives you've considered**

[2021-05-31 06:55] emillindq commented on #35718
I'm sorry, should have been more explicit.
If I call fs_mkdir then if  the dir exists, this error will be printed with rc=-17 (-EEXST)
https://github.com/zephyrproject-rtos/zephyr/blob/3d39f72a88b3100ac83e7c6c285ae567aca640d0/subsys/fs/fs.c#L501-L504

If I try to stat it to avoid mentioned error, the following error is printed if it doesn't exist, with rc=-2 (-ENOENT)
https://github.com/zephyrproj

[2021-05-31 07:18] erwango commented on #35778
@manoj153 PWM STM32 driver: `drivers/pwm/pwm_stm32.c`

[2021-05-31 07:50] ruuddw commented on #32018
@Zhaoningx : I see this issue was automatically closed (stale bot). Can you please confirm this is no longer an issue (I don't believe the ARC team looked at it - I added the 'ARC' label to make it show up in our queries.

[2021-05-31 09:13] ioannisg commented on #33027
Going to close this, since it is already triaged as false-positive.
@npitre @galak feel free to re-open if applicable.

[2021-05-31 09:13] #33027 closed

[2021-05-31 10:13] joerchan commented on #25917
@xudongzheng Could you elaborate on your workaround? What exactly did you move to the workqueue? Sending of data, or sending of the command?

[2021-05-31 10:25] idlethread commented on #32233
We tracked this down to intel bluetooth controllers (and firmware) on the host PC as being the common reason for failures. We haven't yet spent time trying to run the latest bluetooth stack on those hosts to see if it made the problem go away. That is still pending on us.

We saw no issues with a different controller.

[2021-05-31 11:44] carlescufi commented on #34971
@soburi thank you very much for the clarifications, the attached scan report and the modifications to the PR. Would you mind removing the `doc/` folder from the HAL repo so we avoid the GPL licenses? I do not think we need that in Zephyr. Please attach another report after doing that, and hopefully there will only be Apache and BSD after that.

[2021-05-31 11:46] carlescufi commented on #34971
@fanghuaqi thank you for [your comment in the PR](https://github.com/zephyrproject-rtos/zephyr/pull/34970#issuecomment-843705198). Can you state, on behalf of GigaDevice, that you intend to help @soburi maintain this port in the future?

[2021-05-31 12:05] erwango commented on #35055
Thanks for keeping us informed. I guess this is a custom board, right ?
(this could be a potential clue in the analysis)

[2021-05-31 12:09] ioannisg commented on #22870
What I was thinking of is the combination of FPU along with the (legacy) MPU architecture of Cortex-M4. If we care about that, we could only test it on M4F (or M7F), but not M33F.

[2021-05-31 12:23] sw opened #35821 "Filesystem subsystem logging"
The filesystem subsystem generally logs errors (`LOG_ERR`) when operations fail.

This is good during development, but it interferes with `mcumgr fs` commands when logging is enabled on the shell. For example, when uploading a file, `fs_stat()` is called by the `fs_mgmt` module. If the file does not exist yet on the device (which is obviously not an error case), the error message "failed get file

[2021-05-31 13:19] ioannisg opened #35824 "ARM: Cortex-M: improvements for v2.7.0 release"
**Is your enhancement proposal related to a problem? Please describe.**
Enhancements for the Cortex-M architecture support

**List of open issues**

- [ ] Optimize SPLIM programming, potentially removing SPLIM clearing to zero
- [ ] Validate MSP in HardFault and NMI handlers
- [ ] Use labels for constants in assembly
- [ ] Investigate if barrier instructions are needed for semaphore operations
- [

[2021-05-31 13:39] Ahsan-Averos opened #35826 "LORAWAN Compatibility with nrf52832 and sx1262"
Dear All.
I am trying to integrate Lorawan on **"NRF52Dk"** with **"Sx1262"**(E22900M22S) module.
Can someone please helping me out, how can I use Zephyr Lorawan with my project. (if it is possible with Zephyr).
I saw number of project done with SX1276 with NRF52 in Zephyr but this project is not in detail.
Can someone can guide me step by step. I will be very highly thank full for your support!
T

[2021-05-31 13:54] erwango commented on #35816
@manoj153 can you check if counter API is what you actually need ?
cf `include/drivers/counter.h`

If that's the case, then what you miss is is the support for STM32 GP timer using this API.
For now this API is ported on RTC, but I understand accuracy will not be at expected level.

Also, please clarify link with your previous issue https://github.com/zephyrproject-rtos/zephyr/issues/35778 and clo

[2021-05-31 14:13] manoj153 commented on #35816
@erwango this issue has no link with my previous one.

That was specific to PWM use case and this is related to timer countdown use cases for better accuracy.

I will look at suggested counter.h

[2021-05-31 14:16] manoj153 commented on #35816
I had a requirement where needing microsecond accuracy to synchronise and where sleep and other kernel timing offering was simply not accurate. Nothing can get close to 1us

@erwango

[2021-05-31 14:46] nashif commented on #33754
no response for 2 months, closing

[2021-05-31 14:46] #33754 closed

[2021-05-31 15:00] rlubos commented on #35789
Thank you Emil for reporting the issue.

First of all, let me shortly explain why does the SARA-R4 returns `-EXDEV` for the `POLL_PREPARE`. In the design of the socket offloading, we've assumed that the entire `poll()` function call would be offloaded. Therefore offloaded sockets don't use the `POLL_PREPARE`/`POLL_UPDATE` mechanism that natives socets do, but rather indicate the offloading of the

[2021-05-31 15:28] #35826 closed

[2021-05-31 15:39] #33817 closed

[2021-05-31 15:40] #33028 closed

[2021-05-31 15:44] #35781 closed

[2021-05-31 15:45] #35693 closed

[2021-05-31 16:32] sylvioalves commented on #35812
@maweicoltsmart, I could reproduce in in here.
I think those GPIO phandle used on DTS is not supported yet on ESP32. However, this issue is not yet related to it.
Would you try with the patch below and let me know?
Also, you might want to set `status = "okay";`.

[code]

[2021-05-31 17:38] xudongzheng commented on #25917
@joerchan I was occasionally getting the "Unable to allocate TX context" error when calling `bt_gatt_notify()` from a work running on the system workqueue. However moving my `bt_gatt_notify()` call to a work running on my custom workqueue (with a lower priority) did not give the same "Unable to allocate TX context" error.

[2021-05-31 18:42] DariusBabrauskas commented on #35055
Yes, this is custom board.  But I found chucklink report.
He using nucleo board. So possible system error.
I dont have problem with swd speed before.

[2021-05-31 20:48] bob2oneil commented on #35813
I am not positive what the proper behavior is for NATIVE POSIX development.  I looks like gcc in the output logs matches the gcc version on my Linux machine. Perhaps with that, it is using the default include paths prior to the Zephyr ones.  By contrast, should one expect that an X86 cross compilation should occur?  Should I change my environment/system configuration to prevent these default inclu

[2021-05-31 20:49] bob2oneil commented on #35813
Here is the project kernel configuration as a ZIP compressed file.

[prj.5.31.21.zip](https://github.com/zephyrproject-rtos/zephyr/files/6572170/prj.5.31.21.zip)

[2021-05-31 22:16] soburi commented on #34971
@carlescufi

I forgot.
I correct it and re-pushed. (https://github.com/soburi/hal_nuclei/commit/b22713f28040fd42be0f533eb444678b9933b9d6)

The result of scancode is here.
Only Apache2 and BSD3-Clause are remain.

[scancode2.html.gz](https://github.com/zephyrproject-rtos/zephyr/files/6572389/scancode2.html.gz)

[2021-06-01 06:23] Ahsan-Averos commented on #4569
if someone integrate nrf52 with Sx1262, then please share code here.
Thanks

[2021-06-01 06:55] maweicoltsmart commented on #35812
FAILED: zephyr/zephyr_prebuilt.elf zephyr/zephyr_prebuilt.map
cmd.exe /C "cd . && C:\Users\Colt\.espressif\tools\xtensa-esp32-elf\esp-2020r3-8.4.0\xtensa-esp32-elf\bin\xtensa-esp32-elf-gcc.exe   zephyr/CMakeFiles/zephyr_prebuilt.dir/misc/empty_file.c.obj -o zephyr\zephyr_prebuilt.elf  -Wl,-T  zephyr/linker_zephyr_prebuilt.cmd  -Wl,-Map=D:/ZephyrProject/code/zephyrproject/zephyr/build/zephyr/zephyr

[2021-06-01 06:58] maweicoltsmart commented on #35812
I enabled modem and wifi at the same time, and then it showed insufficient memory.

[2021-06-01 07:00] maweicoltsmart commented on #35812
FAILED: zephyr/zephyr_prebuilt.elf zephyr/zephyr_prebuilt.map
cmd.exe /C "cd . && C:\Users\Colt\.espressif\tools\xtensa-esp32-elf\esp-2020r3-8.4.0\xtensa-esp32-elf\bin\xtensa-esp32-elf-gcc.exe   zephyr/CMakeFiles/zephyr_prebuilt.dir/misc/empty_file.c.obj -o zephyr\zephyr_prebuilt.elf  -Wl,-T  zephyr/linker_zephyr_prebuilt.cmd  -Wl,-Map=D:/ZephyrProject/code/zephyrproject/zephyr/build/zephyr/zephyr

[2021-06-01 07:05] chandramauli-mpc opened #35835 "ADC support for STM32l496_disco board"
Currently example code of ADC is not supporting STM32l496_disco board.

Add support of ADC for STM32l496_disco board.
I am getting error in adding dts node and implementing code .

![Capture](https://user-images.githubusercontent.com/55747909/120280734-af4fd780-c2d5-11eb-8930-d00a9543996d.JPG)

[2021-06-01 07:08] erwango commented on #35055
@DariusBabrauskas Are you suspecting a regression ? If yes, can you share some details ?

[2021-06-01 07:13] Zhaoningx commented on #32018
Hi @ruuddw , I double checked this issue, it can't be reproduced, I ran it 15 times manually and all passed. So I think we can close this first, and I will re-open this if anything wrong with this.

[2021-06-01 07:57] manoj153 commented on #34324
Issue: systemview is not displaying any events and halts code execution.
Is there any link between this issue to my observation?
I had not been able to make the system view work properly with **nucleo_h723zg**

I have enabled the suggested .conf as per: https://docs.zephyrproject.org/latest/guides/tracing/index.html#tracing

[code]

Log from SV:

[code]

[2021-06-01 08:04] ruuddw commented on #32018
Thanks for double checking!

[2021-06-01 08:15] Thalley opened #35838 "Bluetooth: ISO: BIG termination doesn't fully unref the connection"
**Describe the bug**
After https://github.com/zephyrproject-rtos/zephyr/commit/80c824f18ee80caa5bd162b9d2957dde1639add6 was merged BIG termination no longer works as intended as it is missing a bt_conn_unref on termination.

**To Reproduce**
Steps to reproduce the behavior:
1. Create BIG
2. Terminate BIG

**Expected behavior**
On BIG termination, the bt_conn should reach 0 ref's and be fully clean

[2021-06-01 08:19] joerchan commented on #25917
@xudongzheng That behavior is documented here: https://github.com/zephyrproject-rtos/zephyr/blob/main/include/bluetooth/gatt.h#L927L930

That is however not the same as is happening in this case, you haven't encountered this issue.

[2021-06-01 08:45] aescolar commented on #35813
Hi @bob2oneil
Unfortunately `CONFIG_POSIX_API=y` is not supported in native_posix.
The conflicts you are seeing are the result of trying to use that.
This is not a bug, but a known limitation, that has been a long standing, lowish priority, feature request
( #24685 ).

As extra info naive_posix does use your host default gcc and libC. That is as intended by design.

If this answers your question,

[2021-06-01 09:41] YanzhouYu commented on #32111
Hi @carlescufi @tejlmand @nashif

I tried with latest zephyr code v2.6.0-rc1 on Windows 10,
Run command in cmd with administrator access:
set ZEPHYR_TOOLCHAIN_VARIANT=llvm
set LLVM_TOOLCHAIN_PATH=path to toolchains\LLVM_12
west build -b qemu_x86 samples/hello_world

CMake reports error:
Assertion failed: The toolchain is unable to build a dummy C file.

After comment 'assert' in CMakeLists.txt lin

[2021-06-01 10:26] DariusBabrauskas commented on #35055
After investigation, possible we found cause of problem. It looks that swd can't connect if mcu sleeping (wfi). (our custom board dont have hardware reset connected to swd- if it can help).
My test code in init.c file before main:
.....................
	int cnt=0;
	while(1){
                k_msleep(1);//swd can connect
		//k_msleep(3);//swd can't connect
		printk("%04d.\r\n",cnt++);
	}
	extern vo

[2021-06-01 10:28] fanghuaqi commented on #34971
Hi @carlescufi ， I am the maintainer from Nuclei System Technology, not on behalf of GigaDevice, by the way, our doc under doc/ folder are also apache 2.0 license.

If you would like to maintain a HAL for nuclei, I would prefer to maintain it in nuclei-sdk directly, we can discuss which files we need to add?

Thanks
Huaqi

[2021-06-01 10:30] sylvioalves commented on #35812
@maweicoltsmart Hi, ok, I see.

1. Could you confirm that you have successfully build and tested BG9X with the patch I shared?
2. Regarding BG9X and WiFi usage, yes, it will consume lots fo RAM. Trying reducing the HEAP size available for WiFi:
`CONFIG_HEAP_MEM_POOL_SIZE=32768`

I was able to build it in here:
[code]

[2021-06-01 11:36] joerchan opened #35840 "Bluetooth: host: L2CAP enhanced connection request conformance test issues"
During PTS (Bluetooth host confurmance) testing some issues have been discovered with the Enhanced Credit Based connection request.

 - Missing 0x0000 CIDs in the connection response when all connections have been refused.

 - Wrong error code returned in certain cases.
   - Expected "some connections refused - reason" but received "success".
   - Expected "invalid parameters" but "unacceptable pa

[2021-06-01 11:51] DariusBabrauskas commented on #35055
Solution for stm32:
#if CONFIG_DEBUG_SWD == 1
#include "stm32l4xx_ll_system.h"
#endif
#if CONFIG_DEBUG_SWD == 1
    LL_DBGMCU_EnableDBGSleepMode();//
#endif

[2021-06-01 12:03] #35840 closed

[2021-06-01 12:03] #35838 closed

[2021-06-01 12:05] stephanosio commented on #22870
In that case, I will look into resurrecting this PR.

[2021-06-01 12:20] nvlsianpu commented on #29397
Can building of MCUboot can be added to the CI? I think additional twister run with `--testcase-root` set to `bootloader/mcuboot/boot/zephyr` will do the job.

@carlescufi Can this be considered and implemented? Maybe this need TSC approval.

Here draft with modified sample.yaml
https://github.com/mcu-tools/mcuboot/pull/890/

[2021-06-01 12:29] #32331 closed

[2021-06-01 12:30] #35401 closed

[2021-06-01 12:35] galak commented on #35721
@nandojve the issue that caused exclusion of atmel sam0 boards from `tests/drivers/uart/uart_async_api` was the fact that with uart async enabled it has to be enabled on ALL uart's and I don't think that is the case right now for how the sam0 boards are setup.

Do we know if we configure a board with only a single uart and dma if the test fails?

[2021-06-01 13:20] FRASTM commented on #35720
It seems like the commit 63972d6df7121f5133ded61d3cde56d30e2b708b from #32683 is involved in the test failure on this config on this nucleo_wb55rg board

[2021-06-01 14:14] bob2oneil commented on #35813
Thanks for the quick attention to this issue. I explicitly set the project configuration with CONFIG_POSIX_API=n, and the problem still remains.  I still see Linux header files included in the Native Posix build.

The following are some updates to both the kernel configuration and the output.

Any other ideas?

`#
# Copyright (c) 2019 Peter Bigot Consulting, LLC
#
# SPDX-License-Identifier: Apache

[2021-06-01 14:20] aescolar commented on #35813
That is meant to happen

[2021-06-01 14:31] rohand87 opened #35848 "File creation date time for FAT FS"
Hello,

I am using the FAT FS sub system to create/read/write file on to an SD Card. The problem I am facing is when I read the SD Card on Windows, the file's "Date Modified" is showing `01-01-2016 00:00`

I have an a RTC on my board from where I can get the latest date time. My question is how do I configure the latest date-time into Zephyr so that the FAT FS automatically gets the correct time f

[2021-06-01 14:32] bob2oneil commented on #35813
No reason on NEWLIB other than to ensure that I can build for both QEMU and Native Posix, presumably using the same project files .. that in generally being new to Zephyr.

Thanks for the tips.

I have tried again with NEWLIB set to external, but have the same build issues.

I am to understand that perhaps different kernel configs are required for different board targets?

When targeting posix, sh

[2021-06-01 14:36] bob2oneil commented on #35813
"""
robocom@scnuc-1:~/SUS/ddltconfig$ west build -p always -b native_posix_64 ./
-- west build: making build dir /home/robocom/SUS/ddltconfig/build pristine
-- west build: generating a build system
Including boilerplate (Zephyr base): /home/robocom/zephyrproject/zephyr/cmake/app/boilerplate.cmake
-- Application: /home/robocom/SUS/ddltconfig
-- Zephyr version: 2.6.0-rc1 (/home/robocom/zephyrproject

[2021-06-01 14:37] aescolar commented on #35813
That is not uncommon. You can set kconfig overlays for each board you want to treat differently. (you can find some examples of that in the tree, just look for samples with a folder with a board name, with some kconfig and/or dts overlays in them)

@jukkar are you able to help @bob2oneil ? Does he need to disable NET_SOCKETS_POSIX_NAMES in native_posix?

I doubt that would work..

Not really. You

[2021-06-01 14:41] aescolar commented on #35813
@bob2oneil like this: (tripple back ticks == the backwards accent character) ` ``` `  your text ` ``` `

```your text ```
You can click on preview to see you how your text will render

[2021-06-01 14:46] bob2oneil commented on #35813
Thanks, I will correct all future back ticks properly.

What do you recommend now for creating native POSIX socket applications running under Zephyr.

I am looking for BSD sockets, Linux poll() and select(), promiscuous sockets, runtime settable IP and MTUS, one real Ethernet interface (kernel configured) and one virtual Ethernet (9K MTU).

I want to build a bridge applications IPv4 between 2 inte

[2021-06-01 15:31] gmarull commented on #22748
I'd like to mention a problem with approach (b) I faced a few days ago. Let me detail the example so that the problem can be better understood.

I have a custom driver called `svpwm` that generates a set of PWM signals that feed an inverter circuit (sometimes part of a shield). The "SV-PWM device" should be seen as the microcontroller PWM unit + the inverter. Some driver properties depend on the c

[2021-06-01 15:37] sylvioalves commented on #35812
@maweicoltsmart Hi, I'll PR the fix for flash segment issue.
However, regarding the RAM overflow, I'll check with the team. Perhaps moving some stuff to DRAM0_0 is a way.

[2021-06-01 16:02] FRASTM opened #35850 "the sample kernel/metairq_dispatch fails on nucleo_g474re"
**Describe the bug**
When running the sample kernel/metairq_dispatch/  on the nucleo g474re board, the test fails w/o exiting

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_g474re samples/kernel/metairq_dispatch/
2. See error

**Expected behavior**
[code]
**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: ( Li

[2021-06-01 16:05] FRASTM commented on #35850
I Could find that  commit https://github.com/zephyrproject-rtos/zephyr/pull/35647/commits/9d4e9f2356f3eedc2c96a2e1501e759c364e042c from PR https://github.com/zephyrproject-rtos/zephyr/pull/35647/ has an impacto nthis failure, but this cannot be explained in case of running on the stm32g474 re nucleo board

[2021-06-01 17:05] jukkar commented on #35813
The networking sample applications are compiled all the time with native_posix and there is no need to disable `CONFIG_NET_SOCKETS_POSIX_NAMES`. You can try to compile various network applications like `samples/net/sockets/echo_server` and it compiles just fine
[code]

[2021-06-01 17:15] yerabolu commented on #34879
@scottwcpg: Verified the jumper settings for SPI and I2C_API. All the settings are as you mentioned above and tests are passing now on my setup as well.

But the GPIO tests are still failing. If the hack causes a race condition, should we look at the test to see if there is another way to test it?

[2021-06-01 17:16] jukkar commented on #33101
This is already fixed by #33217

[2021-06-01 17:16] #33101 closed

[2021-06-01 17:21] galak commented on #19582
@tejlmand can you look at this for the 2.6 release

[2021-06-01 17:22] galak commented on #29013
@parthitce  ping

[2021-06-01 17:24] parthitce commented on #29013
@galak Sorry I didn't find time checking it in past month. Will do it in the following week. Also W5500 driver is not functional or regression from networking changes. Will sort it out.

[2021-06-01 17:25] galak commented on #35286
@xhpohanka ping on sending a PR.

[2021-06-01 17:29] galak commented on #35316
@nordic-krch what's the latest here?

[2021-06-01 17:41] scottwcpg commented on #34879
@yerabolu All I can think of is to add delay in the test after enabling the GPIO interrupt, check the globals the ISR uses, if they are set clear them and proceed to the loop.  If the delay is several hundred milliseconds that should be longer than the RC time constant of the pin load.  But are there cases with other chips if the ISR fires before the test loop a real error should be reported?

[2021-06-01 17:41] nashif commented on #35793
@andyross  Can you please take a look here

[2021-06-01 19:20] bob2oneil commented on #35813
I am able to build the sample application without any event.  However, my application has a bunch more C++ class, uses some standard C/C++ headers, and I wonder if somehow "types.h" gets included or other platform headers that is causing the havoc.  I will do a strip down to see if this improves anything.  Would one of you fine gentleman be willing to test out my project to see if at least we are

[2021-06-01 20:02] olofj commented on #34971
I am not sure I understand why we are bringing in full SoCs as HALs + external sources like this now. There are native drivers in Zephyr for lots of SoCs, why does this one need to use out-of-tree drivers like this? They don't integrate into Zephyr natively this way, and just makes it awkward.

It would be a lot easier if you did lightweight ports of the peripherals as native Zephyr drivers. I'd e

[2021-06-01 20:10] bob2oneil commented on #35813
Thanks for the quick responses.  Attached is the current build issues as I strip away as much of the standard headers as possible.  Is there any advanced west argument that would provide more information on the include search paths, and what caused a certain standard header to be included?   For example, the errors occur as a function of including standard header "types.h", which are not directly

[2021-06-01 20:13] bob2oneil commented on #35813
The referenced collision in types.h is the inclusion of sys/select with collides with the Zephyr implementation even with CONFIG_POSIX_API=n

[code]

[2021-06-01 20:15] bob2oneil commented on #35813
[code]

[2021-06-01 20:29] dcpleung commented on #35707
#35852 takes care of some issues but not all of them.

There is an issue with linker section.

Another one is about `popcountdi2` being undefined, where we are actually using GCC's builtin popcount function. So this need some investigation.

[2021-06-01 21:51] caco3 commented on #34659
@carlescufi I will look into this after I get back to work. How ever this will only be at beginning of July, most likely to late for the `2.6.0` release, sry!

[2021-06-01 22:22] MaureenHelm commented on #8536
yes

[2021-06-01 23:07] andyross commented on #35793
Only under twister?!  How would it even know?  Surely there's something different about the generated binary?

As far as what's going on, this shouldn't have affected much with that test.  The only spot in the code where we were hitting the oddball "configure zero preemptible priorities" situation was in one of the philosophers sub-samples.  I'll take a look and diff the resulting .config files, m

[2021-06-01 23:09] andyross commented on #35793
Also, maybe it's just a phantom bisect result?  Did you try reverting this one change in isolation (which should work) to see if that was the issue?

[2021-06-01 23:26] galak commented on #35793
@nashif commented that the difference here maybe due to ASSERTs being enabled or not.

[2021-06-01 23:28] andyross commented on #35793
CONFIG_ASSERT=y always in tests.  I know twister will enable some non-default warnings, it's not supposed to affect generated code AFAIK.

[2021-06-02 00:16] #34748 closed

[2021-06-02 00:20] maksimmasalski commented on #34748
Closed it, because it is not reproducable and no any updates from the developers.

[2021-06-02 02:35] soburi commented on #34971
@olofj

Thank you for your mention.

Please tell me about your concerns.
Is it concern about the overall policy about zephyr?
Or is it a problem with this PR?

I wrote the code regarding the existing implementation of other SoCs. If my code violates zephyr's manner, I will correct it.
If it is problem with zephyr overall, it is a bit difficult for me to answer shortly.
I want to discuss.

Regards.

[2021-06-02 02:47] maweicoltsmart commented on #35812
**In the esp32 specification, uart can use any gpio. Do you mean that currently Zephyr's esp32 serial driver only supports gpio0 pins as uart?**

[2021-06-02 04:54] bob2oneil commented on #35813
Additional testing needs to be performed, but I was finally able to get this sample project to build under Native Posix 64 by changing the order of the entries in the project kernel configuration.  This might make some sense, or perhaps this change was anecdotal, and simply caused some other unexplained benefit.  I was building within west using the "-p always" flag to presumably sweep away and pr

[2021-06-02 05:20] KangJianX opened #35856 "intel_adsp_cavs15: run semaphore testcases failed on ADSP"
**Describe the bug**
run tests/kernel/semaphore/semaphore/ failed on ADSP

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/semaphore/semaphore --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/

[2021-06-02 05:25] KangJianX opened #35857 "intel_adsp_cavs15: run msgq testcases failed on ADSP"
**Describe the bug**
run tests/kernel/msgq/msgq_usage/ failed on ADSP

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/msgq/msgq_usage/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/rimage/

[2021-06-02 06:10] aescolar commented on #35813
Unfortunately that is a bad use case for native_posix.

Nice to hear. I guess we can close this issue/question by now then(?) (it can be always reopened if needed)

[2021-06-02 07:12] emillindq commented on #35789
@rlubos firstly, thank you for taking a look at this!

It is a juicy problem indeed. At the core of the problem is that the data is left there and nobody feeds it anywhere. Normally in the DTLS client case, no data should come until somebody has called sendto since that initiates the client handshake and it is firstly then that mbedTLS stack calls recv function.

Would it be possible to check if t

[2021-06-02 07:46] carlocaione commented on #33873
@galak I think we can merge #33909 to close this

[2021-06-02 09:01] StefJar commented on #32261
@ioannisg thx for testing and explaining.

My exception are pointing to the stack sentinel code. That is why I ended up open this issue.

For me its good to know that HW_STACK_PROTECTION and CONFIG_STACK_SENTINEL are conflicting. Maybe it would be beneficial to disable CONFIG_STACK_SENTINEL if HW_STACK_PROTECTION is enabled.

the FPU stuff is super confusing. On app level you can give the K_FP_REG

[2021-06-02 09:12] DominikWindhab commented on #32610
I was thinking a bit more about this topic.

[This](https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/429#issuecomment-576451186) and [this](https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/429#issuecomment-576536165) post are summarizing the problem problem pretty well.

As an update to LWM2M 1.1 is out of scope, how about the following solution: Create an

[2021-06-02 09:59] carlescufi opened #35866 "nRF: Move Clock configuration to Devicetree"
The clock configuration for nRF devices is today governed by the [`clock_control` driver Kconfig](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/clock_control/Kconfig.nrf). As with previous SoC families (see STM32 recently), this information should instead be placed in Devicetree.

CC @galak @gmarull

[2021-06-02 09:59] erwango commented on #35055
Thanks @DariusBabrauskas for reporting this.
If that's the solution we're looking for for this issue, then ok, I don't think this could be harmful.
What I'm not sure to understand is why this would be needed now, as this is not specific to a L4xyz specific variant, not L4 specific at all.
Is that a new issue that appeared recently or would it be because of your custom board specifics ("our custom