[2022-11-01 04:35] hakehuang commented on #51829
@dleach02, @rlubos , please help to highlight this issue as this is a showblocker for MAX Pro TCPIP testing.

[2022-11-01 05:41] mbolivar-nordic opened #51830 "System devicetree support"
# Is your enhancement proposal related to a problem?

Zephyr's support for [AMP](https://en.wikipedia.org/wiki/Asymmetric_multiprocessing) SoCs... works, but has several well-known usability problems, and breaks down in some cases.

Some of these problems are due to workarounds for limitations in the [devicetree specification](https://www.devicetree.org/specifications/) itself. This issue is about

[2022-11-01 05:41] mbolivar-nordic opened #51831 "Hardware model v2"
# Parent issue

This issue is part of a larger issue: https://github.com/zephyrproject-rtos/zephyr/issues/51833

# Proposed introduction plan and timeline

**IMPORTANT NOTE**: During the Architecture WG meetings where this topic was discussed it was agreed to avoid the complex transition plan below and instead adopt a direct approach where the switch between v1 and v2 happens in a single Pull Requ

[2022-11-01 05:42] mbolivar-nordic opened #51832 "Sysbuild support for hardware model v2"
# Parent issue

This issue is part of a larger issue: https://github.com/zephyrproject-rtos/zephyr/issues/51833

# Is your enhancement proposal related to a problem?

Zephyr's [sysbuild](https://docs.zephyrproject.org/latest/build/sysbuild/index.html) feature lets users set up and develop with multiple interrelated Zephyr- and non-Zephyr application directories. If my application directory has sys

[2022-11-01 05:43] mbolivar-nordic opened #51833 "Better support for multi-core AMP SoCs"
# Is your enhancement proposal related to a problem?

Zephyr's support for [AMP](https://en.wikipedia.org/wiki/Asymmetric_multiprocessing) SoCs... works, but has several well-known usability problems due to workarounds for deficiencies in our hardware support features at the following layers:

- [devicetree](https://docs.zephyrproject.org/latest/build/dts/index.html)
- [hardware model](https://doc

[2022-11-01 05:45] mbolivar-nordic opened #51834 "Snippets"
# Is your enhancement proposal related to a problem?

Zephyr developers frequently need to provide interrelated build system settings to accomplish their goals. There is currently no extensible, composable, future-proof way to do this in the build system that lets you store these settings in the file system, give them a name, and apply them easily by name when building an application.

For example

[2022-11-01 06:40] mbolivar-nordic commented on #51830
Here are the slides for a presentation I plan to give at the next architecture working group on this subject:
[20221101-upstream-sysdt.pdf](https://github.com/zephyrproject-rtos/zephyr/files/9907503/20221101-upstream-sysdt.pdf)

[2022-11-01 07:39] #49208 closed

[2022-11-01 08:23] tejlmand commented on #51821
Fixed here: #51837

[2022-11-01 09:00] #51505 closed

[2022-11-01 09:02] #50570 closed

[2022-11-01 09:02] finikorg commented on #51829
@hakehuang , I will investigate this, sadly our automatic tests did not notice the issue.

[2022-11-01 10:59] #51821 closed

[2022-11-01 11:00] #51588 closed

[2022-11-01 11:29] nordicjm opened #51842 "[v3.2-branch] mgmt: mcumgr: image upload, then image erase, then image upload does not restart upload from start"
**Describe the bug**
If an image upload is started, then stopped, then an image erase command is sent, then image upload begins again, it wrongly starts from the previous position, which is invalid since the uploaded data has been erased.

**Expected behavior**
Upload to start from beginning

**Impact**
Showstopper

**Environment (please complete the following information):**
 - Commit SHA or Vers

[2022-11-01 12:07] nordicjm opened #51844 "[v2.7-branch] mgmt: mcumgr: img_mgmt: doing image list causes a device fault"
**Describe the bug**
Using zephyr 2.7, the smp_svr sample, when configured for bluetooth, faults when an img_mgmt image list command is received. Backtrace shows:
[code]

**Expected behavior**
No crash to appear

**Impact**
Showstopper

**Environment (please complete the following information):**
 - Commit SHA or Version used: 1f3121b6b2d151cd34d731174baeb1a007f1ff2c

[2022-11-01 12:11] nordicjm commented on #51844
False alarm, issue was caused by having secondary slot in external memory and Kconfig being disabled for it

[2022-11-01 12:11] #51844 closed

[2022-11-01 12:22] nordicjm opened #51846 "[v2.7-branch] Bluetooth: Application with buffer that cannot unref it in disconnect handler leads to advertising issues"
**Describe the bug**
This issue has been found with a peripheral zephyr device which supports 1 connection, the application works by receiving BT data and then putting it into a fifo to be processed by a dedicated (non-system) workqueue which will send responses to it and unref the connection, an issue arises however in this application if the remote device disconnects prior to the task having fin

[2022-11-01 14:11] leocencetti opened #51855 "twister: targeting wrong serial port / device"
**Describe the bug**

We have a Linux machine with two connected targets for our CI validation pipeline:
- A `Nucleo H743ZI` board.
- An `OpenMV H7` board, connected via STLink V3 programmer.

We use custom `udev` rules to ensure that the serial ports are always enumerated as follows:
- `Nucleo H743ZI` --> `/dev/nucleo_h743zi`
- `OpenMV H7` (STLink) --> `/dev/openmv_h7`

These rules rely on the se

[2022-11-01 14:47] galak commented on #51449
So I was looking at doing the check in `scripts/dts/gen_defines.py`.  However we could do it in `scripts/build/gen_handles.py` and thus it will only look at actual devices that exist in someones build.

[2022-11-01 14:48] galak commented on #51449
Need to double check my filter, but that's a good point.  I think it was filtering on nodes that had a binding match.

[2022-11-01 15:13] mbolivar-nordic commented on #41543
Arch WG: postponed due to @gmarull absence

[2022-11-01 15:16] nordicjm opened #51857 "[RFC] mgmt: mcumgr: transport: Replace get MTU function with get info function that returns a struct"
### Problem description

There is a function that can be called for SMP transports to get the MTU size, this file is not overly useful by itself, but would become more useful if it was expanded to return a structure instead of just the MTU (this new struct can include the MTU). A use-case for this would be so it is possible to get SMP details from e.g. command handlers, if asynchronous responses w

[2022-11-01 15:17] koffes commented on #41754
FYI @Emil-Gydesen-Bose

[2022-11-01 15:20] nordicjm commented on #51857
@de-nordic any objections for this RFC?

[2022-11-01 15:30] koffes opened #51858 "LED driver for RGB leds + device tree support"
Zephyr has a LED driver https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/led/led_gpio.c which is suitable for single LEDs. There is however (IMHO) no good way to handle RGB leds.

**Describe the solution you'd like**
It would be great to have native support for RGB leds. That is, having a common API for both RGB and single LEDs.
Something on this form:
[code]
This would also mean tha

[2022-11-01 15:36] koffes commented on #51858
FYI @alexsven @erikrobstad. After even more searching, I discovered this https://github.com/zephyrproject-rtos/zephyr/blob/main/include/zephyr/drivers/led.h which I need to investigate.

[2022-11-01 15:37] henrikbrixandersen commented on #51855
Can you reproduce this by using e.g. `west flash` without using twister?

[2022-11-01 15:56] galak commented on #51830
I think we should think about having "system devicetree" which I think is this just cpu cluster for even the simple case SoCs with a single core.

[2022-11-01 16:00] galak commented on #51830
I think it would be interesting

@henrikbrixandersen made the comment about compatibility of devicetrees with Linux.

[2022-11-01 16:03] galak commented on #51830
Would also be interesting to describe single core ARM v8m-TZ devices with system devicetree as a use case.  So the tooling we introduce into zephyr could handle taking a system devicetree for a single core device and producing the "correct" dts based on being to run under TZ or not.

[2022-11-01 16:10] laurenmurphyx64 commented on #51842
Closed as duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/51798, release management team figures we only need 1 issue on main to be linked to backport branches.

[2022-11-01 16:10] #51842 closed

[2022-11-01 16:12] laurenmurphyx64 commented on #51846
Closed as duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/51714, relinked the PR for this to that original issue for main as well

[2022-11-01 16:12] #51846 closed

[2022-11-01 16:26] laurenmurphyx64 commented on #51735
CC @Dino-Li @GTLin08

[2022-11-01 16:40] laurenmurphyx64 commented on #51650
Closed assuming https://github.com/zephyrproject-rtos/zephyr/pull/51649 fixed, please re-open if this is still an issue

[2022-11-01 16:40] #51650 closed

[2022-11-01 17:19] XenuIsWatching commented on #51828
cc @dcpleung

[2022-11-01 17:26] stephanosio commented on #51804
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/51714.

There is no need to create separate bug reports for older releases given that the bug seen in the older releases are identical to those in the main.

[2022-11-01 17:26] #51804 closed

[2022-11-01 17:27] danieldegrasse commented on #51731
I've opened #51867 as a fix for this issue. One concern I have with this approach is that `domains.py` does not use the same logger instance as twister does. I'd prefer to use twister's logging instance, but since `domains.py` is imported before the `"twister"` logging instance gets configured, there isn't a straightforward way for the `domains.py` module to identify it is running using twister, a

[2022-11-01 17:34] stephanosio commented on #51640
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/51602

[2022-11-01 17:34] #51640 closed

[2022-11-01 17:36] stephanosio commented on #51641
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/51594

[2022-11-01 17:36] #51641 closed

[2022-11-01 17:44] tristan-google commented on #51731
Thanks for the fix!

Could you instead have Twister pass a Logger object when initializing either of those classes? That should also spare you from needing to set up the verbosity and format since it'll just assume the log settings from twister (or whatever is using this script) automatically.

[2022-11-01 18:18] mmahadevan108 commented on #51470
@hakehuang This has been fixed in the latest master.

[2022-11-01 18:42] jpowen898 opened #51870 "Nucleo_h743zi fails to format storage flash partition"
**Describe the bug**
The file system fails to format the storage partition on the nucleo_h743zi board. This is failing on both the `samples/subsys/shell/fs` and the `samples/subsys/fs/littlefs`. Also one thing to note is the docs for the littlefs example say that it was created using the nucleo_h743zi board which us the same board I am attempting to test with.

**To Reproduce**

***littlefs Exampl

[2022-11-01 19:17] mbolivar-nordic commented on #51830
Those should all be doable, for sure. You can keep /cpus and simple buses in system DT as well, so I believe we can treat regular devicetrees as special case of system devicetrees if that's what people prefer.

[2022-11-01 19:28] andyross commented on #51827
Indeed, looks great.  What's the process for getting the zephyr west manifest updated?  Is there a regular cadence I can wait for?  Right now I'm carrying a workaround in the zync tree, so it's not urgent, but would be good to not have to merge that.

[2022-11-01 19:31] danieldegrasse commented on #51731
We could, but I'd rather not add that parameter. The idea of the `logging` module is that if you call `logging.getLogger('name')`, the same instance should be returned, even if you are making the call from another module. So ideally, we would simply call `logging.getLogger('twister')` and be done. However, since west doesn't configure a logger with this name, we'd be left with a very basic logger.

[2022-11-01 20:32] keith-packard commented on #51827
We don't have a regular cadence, and picolibc releases are pretty much a 'when things seem useful to get released' time frame. There are a bunch of minor fixes that get picolibc support working for all of the Zephyr architectures, both in the module and the SDK, so getting those merged might be useful even before the changes are included in a picolibc release?

[2022-11-01 20:48] larson-whisper commented on #49021
I have been able to isolate the cause of this issue to the following:

When running in ASYNC mode and without HW_RX_COUNTING_ENABLED there is a case verified with external pin toggling on a logic analyzer and event tracing added to the UARTE driver where the endrx_isr will update the data->async->rx_total_user_byte_cnt field beyond the data->async->rx_cnt.cnt counter value kept by the NRF_UARTE_EV

[2022-11-01 21:19] palchak-google opened #51872 "Race condition in workqueue can lead to work items being lost"
**Describe the bug**
### TL;DR

The `unscheduled_locked` function in the work queue implementation fails to confirm that a previously scheduled item is fully canceled (fails to check the return code of `z_abort_timeout`). This leads to a race condition that, in the worst case, results in work items getting "lost". That is, some submitted work items never execute and instead just remain in the subm

[2022-11-01 21:35] larson-whisper commented on #49021
![Missing RXRDY Event](https://user-images.githubusercontent.com/66811907/199345050-920a0929-9b72-4b23-a77e-c0c04ff989f3.png)

I have been able to capture a trace where we are missing the RXRDY event for one byte of data in between 2 ENDRX events.  This is the eventual cause of the off by one error when we process the next ENDRX event in the driver.  Given this capture, I think it is safe to keep

[2022-11-01 21:49] marc-hb commented on #51821
While https://github.com/zephyrproject-rtos/zephyr/pull/51837 made the problem "go away", I think this bug exposed a more generic problem where the toolchain abstraction code is interfering and racing with built-in CMake variables. See my last comment at https://github.com/zephyrproject-rtos/zephyr/pull/51837#issuecomment-1299252613

[2022-11-01 22:00] andyross commented on #51872
I buy that.  Stated (IMHO) more simply: if z_abort_timeout() fails for a known-submitted object, then the timeout **will** be called in finite time[1].  It's up to the user of the timeout subsystem to make sure they wait for this to happen[2] before doing anything else with the object.

[1] It's worth pointing out that that announce call happens in interrupt context, so the only way to exercise th

[2022-11-01 22:02] andyross commented on #51872
In this case, though, it's probably OK to just correctly propagate the error out to the application code that tried to cancel the item.  The whole idea is inherently racy (i.e. "oops you didn't get there in time and it ran" is always a possibility even if there's no race in the subsystem code).

[2022-11-01 23:01] keith-zephyr commented on #50836
I'm in favor of pivoting the discussion in this direction.  Regardless of whether we employ topic branches, smaller more incremental PRs will make reviewing easier.

Some thoughts on this:
* What's the minimum requirement for a new API?  [API lifecycle](https://docs.zephyrproject.org/latest/develop/api/api_lifecycle.html) requires documentation, one implementation, and one sample.  Tests are not m

[2022-11-02 00:36] #46073 closed

[2022-11-02 00:36] #41822 closed

[2022-11-02 01:45] mbolivar-nordic commented on #48886
Approved at the TSC. Pending  documentation merge. Closing.

[2022-11-02 01:45] #48886 closed

[2022-11-02 02:47] dleach02 commented on #51436
@hakehuang, does this also fail for the rt1060? The description references rt1060_evk but the title indicates rt11xxx?

[2022-11-02 03:27] Cherish-forever opened #51873 "sensor: bmp388: missing if check around i2c device ready function"
https://github.com/zephyrproject-rtos/zephyr/blob/3a3cfbb652b29e9f39a38fe6febf29e1570d32bc/drivers/sensor/bmp388/bmp388.c#L600

when device is on spi bus, there is no i2c

https://github.com/zephyrproject-rtos/zephyr/issues/51873#tasklist-block-3e9cf6e6-2736-4b13-8365-aa9ec8b0e700

[2022-11-02 03:29] Cherish-forever commented on #51873
It is judged that the way the device attaches the bus is incorrect during operation

[2022-11-02 03:33] hakehuang commented on #51436
yes. also failures on rt1060

[2022-11-02 03:35] hakehuang commented on #51470
@mmahadevan108 , yes the build zephyr-v3.2.0-1107-g117039ca2b72 is ok

[2022-11-02 03:41] chalecampb opened #51874 "Zephyr 3.1 bosch,bme280 device is in the final DTS and accessible, but DT_HAS_BOSCH_BME280_ENABLED=n"
**Describe the bug**
Following the steps,

Starting with zephyr 3.1, installed via Nordic's toolchain

In device tree (eg, app.overlay for me)
1. Add the following to add the bme280 sensor to the bus
&i2c1 {
	status = "okay";
	bme280@77 {
		compatible = "bosch,bme280";
		reg = <0x77>;
		status = "okay";
	};
};

Build and confirm in zephyr.dts that the device made it in, and the status is okay.

Bu

[2022-11-02 04:06] #51470 closed

[2022-11-02 04:06] #51436 closed

[2022-11-02 06:21] cvinayak commented on #51342
No worries, you are free to correct the implementation; ISOAL module upstream is feature complete (unframed and framed). I have just not gotten yet to integrating it.

I would take inspiration from how Connect ISO code path uses the ISOAL interface:

https://github.com/zephyrproject-rtos/zephyr/blob/3a3cfbb652b29e9f39a38fe6febf29e1570d32bc/subsys/bluetooth/controller/hci/hci.c#L5647-L5699

Re-open

[2022-11-02 08:22] FRASTM commented on #51870
The sample is looking for a  "storage_partition" node.

[2022-11-02 08:29] nordicjm commented on #51873
@xodus7 since you submitted this driver

[2022-11-02 08:33] FRASTM commented on #51785
@CmST0us thanks for pointing this about the stm32h7 serie.
That was not planned yet but if you wish to propose a PR on a similar model as what is done for the stm32f1x, your contribution would be really appreciated.

[2022-11-02 08:40] leocencetti commented on #51855
@henrikbrixandersen yes, I have tried to run:
[code]
The same device is selected no matter was is passed as `<serial-number>`, even with completely random values.

[2022-11-02 09:11] #49584 closed

[2022-11-02 09:15] Dino-Li commented on #51735
@NagarajuGundimi @laurenmurphyx64
Does the below change work on your platform?
https://github.com/Dino-Li/zephyr/commit/6afc690086d7d5d9b98e9e5b83ad0fc08255d313
Can you help to check if any data details need to be set before invoking callback?
(Please see pmc3_it8xxx2_ibf_isr function)

[2022-11-02 09:31] #51815 closed

[2022-11-02 09:31] #30212 closed

[2022-11-02 09:33] #51544 closed

[2022-11-02 09:33] #51600 closed

[2022-11-02 09:33] carlescufi commented on #51600
@nordicjm could you just double-check this is fixed in `main`?

[2022-11-02 09:44] CmST0us commented on #51785
@FRASTM thanks for your reply, I am trying to figure out how to add.

[2022-11-02 09:47] koffes commented on #51858
I have had a look at this one, as well as others, but it seems to me that in order to use them you need an external driver IC? In the use case we want to solve, the LED channels are connected directly to host GPIOs.

[2022-11-02 09:56] nordicjm commented on #51600
Problem is fixed

[2022-11-02 10:11] carlescufi commented on #51471
@maweicoltsmart  please provide the information required.

[2022-11-02 10:24] FRASTM commented on #50565
building for the nucleo_l053r8 `west build -p auto -b nucleo_l053r8 samples/basic/blinky
and flashing (west flash) on a **nucleo_l073rz**
works on this target board : LD2 is blinking

[2022-11-02 11:10] FRASTM commented on #51360
Is PR https://github.com/zephyrproject-rtos/zephyr/pull/51119 also fixing this issue ?

[2022-11-02 11:25] nordicjm commented on #51874
Cannot replicate this in zephyr or using latest main of ncs, it is possible that this is a bug in ncs (downstream, not upstream in zephyr). I would suggest trying this with the latest version of ncs (main). Closing as this is not a zephyr issue.

[2022-11-02 11:25] #51874 closed

[2022-11-02 12:24] carlescufi commented on #51774
Since Bluetooth in general as a feature is not considered thread-safe, this would be part of a larger task. I suggest we document this thoroughly for the time being and that we create a new GitHub issue to track the larger work.

[2022-11-02 12:34] carlescufi commented on #51376
@gcx-dimiz could you please confirm if you will be opening a PR demonstrating the use and integration of this blob in Zephyr?

[2022-11-02 12:53] CodingGhost opened #51893 "LSM303dlhc sensor example not compiling for nRF52840"
the LSM303dlhc example does not compile for the nRF52840 target. tried on 2.7.1 and latest main, on 2.7.1 I get
devicetree.h:305:40: error: 'DT_N_INST_0_st_lsm303dlhc_magn_P_label' undeclared (first use in this function)
and in main I get:
util.h:78:55: error: size of unnamed array is negative

**To Reproduce**
follow this guide and use this command:  west build -b nrf52840dk_nrf52840 samples/sens

[2022-11-02 12:54] henrikbrixandersen commented on #51007
Where can I found the proposed changes to the stabilisation phase documentation?

[2022-11-02 12:58] henrikbrixandersen commented on #51376
As this is a firmware blob for enabling a SoC feature (WiFi) this does fall under the project [policies for binary blobs](https://docs.zephyrproject.org/latest/contribute/bin_blobs.html) as far as I can tell. As @carlescufi mentioned, an up-to-date example PR for how to use this in Zephyr would be needed before we can approve this.

[2022-11-02 13:08] henrikbrixandersen commented on #51893
Well, the `nrf52840dk_nrf52840` board does not have an onboard LSM303dlhc sensor. If you added one you need to make a devicetree overlay describing how this sensor is connected to the board.

[2022-11-02 13:10] CodingGhost commented on #51893
oh. that makes sense. I will try that. I guess I can take the devicetree of the stm board as example?

[2022-11-02 13:10] henrikbrixandersen commented on #51893
Sure.

[2022-11-02 13:42] FRASTM commented on #51360
Did you try the same change as for i2c_V2:

[code]

[2022-11-02 13:45] henrikbrixandersen commented on #51855
When using `--serial` with the `openocd` west runner, the serial number is passed on to the openocd via the `_ZEPHYR_BOARD_SERIAL` variable. The board `openocd.cfg` file needs to support this.

At least `boards/arm/nucleo_h743zi/support/openocd.cfg` does not support this variable. I don't see the `OpenMV H7` board in-tree.

[2022-11-02 13:54] carlescufi commented on #51376
I'm not sure why this doesn't fit the description in the binary blobs documentation? Here's a quote from it;

[2022-11-02 13:59] avisconti commented on #51370
@sevirip, sorry for taking a look at it only now. I think that it is not possible to return hPa, as  SENSOR_CHAN_PRESS data are expected in kPa, as mentioned in sensor.h. I don't think that this modification can be accepted, because it will break the compatibility. I also involve @MaureenHelm, who may better clarify. Does it make sense to you?

[2022-11-02 14:27] avisconti commented on #51488
@sfeutrier, thank you for catching this issue. Yes, I agree that CTRL7.drdy_pulsed must be set, and not CTRL3.lir, which is for interrupts such as wakeup and taps. I will provide a fix asap!

[2022-11-02 15:08] AshwiniMShinde-eaton commented on #51360
This change was for registering slave with 10-bit addressing. With this change, slave gets registered with 10-bit address in both i2c_ll_stm32_v1 and i2c_ll_stm32_v2 cases. But the issue that I reported here is with master that uses i2c_ll_stm32_v1

[2022-11-02 15:15] larson-whisper commented on #49021
I changed the UARTE driver to count the number of RXRDY events in between each ENDRX event and the data corresponds to what is expected (except I do not see a case where there are more than 64 (the size of our RX buffers) RXRDY events per ENDRX as the code comments suggest may happen):

When the failure occurs I always see a transfer with 63 bytes instead of 64 bytes soon before the failure.  This

[2022-11-02 15:20] #6198 closed

[2022-11-02 15:21] henrikbrixandersen commented on #5697
@galak Does this issue still provide value or can it be closed?

[2022-11-02 15:25] galak commented on #5697
going to close it.  We can re-open if needed.

[2022-11-02 15:25] #5697 closed

[2022-11-02 15:30] henrikbrixandersen commented on #11666
I'd vote for this one.

[2022-11-02 15:40] henrikbrixandersen commented on #19243
SD/MMC support was added to the `frdm_k64f` board in 33b851f71e4268685e850f053d7577026f052b53. Can this be closed?

[2022-11-02 15:41] henrikbrixandersen commented on #13170
CC: @mbolivar-nordic

[2022-11-02 15:48] mbolivar-nordic commented on #13170
Yeah, this fits into https://github.com/zephyrproject-rtos/zephyr/issues/51833 I think. We would need to solve this problem for documenting the combination of https://github.com/zephyrproject-rtos/zephyr/issues/51830 and https://github.com/zephyrproject-rtos/zephyr/issues/51831. @r8d8 in short your use case is known and especially since you have different arches, you'll need multiple board directo

[2022-11-02 15:48] #13170 closed

[2022-11-02 15:49] mbolivar-nordic commented on #13170
Sorry, I am not sure why github assumed 'completed' was the status. I meant to close as 'duplicate'.

[2022-11-02 16:01] mbolivar-nordic commented on #51007
Approved at TSC

[2022-11-02 16:01] #51007 closed

[2022-11-02 16:07] henrikbrixandersen commented on #29566
@hjuul Seeing that https://github.com/zephyrproject-rtos/zephyr/pull/37568 was merged, can this be closed?

[2022-11-02 16:08] henrikbrixandersen commented on #30391
Seeing that we now have FFF support in the tree, can this be closed?

[2022-11-02 16:12] henrikbrixandersen commented on #31435
I would suggest we consider using FFF-based fake drivers for this kind of testing (see f30a5969d0302745b9afeb3c3c7946b434dbdbb5 and 10c37a3ab4e0cc842ae73cb2c4c6128893582062 for an example).

[2022-11-02 16:30] henrikbrixandersen commented on #39431
Please submit PRs for adding more functionality to the board.

[2022-11-02 16:30] #39431 closed

[2022-11-02 16:33] henrikbrixandersen commented on #39064
Configuration of SSH+Git credentials needs to happen in SSH, i.e. via ~/.ssh/config. West will invoke Git, which will invoke SSH - and SSH will use the credentials provided via ~/.ssh/config.

[2022-11-02 16:33] henrikbrixandersen commented on #39064
CC: @mbolivar-nordic

[2022-11-02 16:42] mbolivar-nordic commented on #50836
Process WG:

- @MaureenHelm we're on the same page here. Maybe we should look into what our existing docs say
- @keith-zephyr existing API lifecycle docs don't mention exit criteria for each stage, but they do mention the requirements. A new API is the closest thing to what these large PRs are (new subsystem, new feature, etc.).
- @nashif one misconception about APIs is that they apply to peripher

[2022-11-02 16:46] Lowentwickler commented on #19243
I think so

[2022-11-02 16:48] galak commented on #50836
A few comments:
1. Document that we should ask PRs that are associated with a RFC always put a reference to that RFC when being submitted
2. Document that if a PR is taking a while to merge, that reviewers/maintainers request submitter to pull out commits that are concerned acceptable into a separate PR to reduce amount of re-review, making progress, etc.
3. For new APIs we should request that the

[2022-11-02 16:48] #19243 closed

[2022-11-02 17:08] chalecampb commented on #51874
Hi,

I had just pulled the latest version of NCS (2.1.0) last week. It looks like there is a 2.1.1 but it doesn't list this as a fix or anything. I can give it a shot.

Can you let me know the steps to perform this on the CLI outside of VS code, to reproduce in the same environment?

[2022-11-02 17:17] thedjnK commented on #51874
Sure, instructions are at https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/gs_installing.html be sure to use the `main` one

[2022-11-02 17:36] jakub-uC commented on #30391
sure

[2022-11-02 17:36] #30391 closed

[2022-11-02 18:01] henrikbrixandersen commented on #40560
@jimvert Given the examples on how to obtain a context as presented in this issue - can this issue be closed?

[2022-11-02 18:06] henrikbrixandersen commented on #40042
Let me understand this correctly. You want to use the Zephyr RTOS without the RTOS part?

[2022-11-02 18:07] henrikbrixandersen commented on #40989
Desired power states are really application-specific, not specific to the board nor the SoC.

[2022-11-02 18:08] henrikbrixandersen commented on #40982
CC: @mbolivar-nordic

[2022-11-02 18:09] henrikbrixandersen commented on #40972
Closing since https://github.com/zephyrproject-rtos/zephyr/pull/45357 was merged.

[2022-11-02 18:09] #40972 closed

[2022-11-02 18:11] henrikbrixandersen commented on #40868
You can use `POST_KERNEL` as "pre-application".

[2022-11-02 18:11] #40868 closed

[2022-11-02 18:12] henrikbrixandersen commented on #40833
Seeing that https://github.com/zephyrproject-rtos/zephyr/pull/39589 is merged, please submit a PR for adding a build-time assert.

[2022-11-02 18:18] henrikbrixandersen commented on #40563
Please provide more context and examples as to the need for standing on your head.

[2022-11-02 19:33] jpowen898 commented on #51870
I am using the default `nucleo_h743zi.dts` to compile this project and it looks like it does have a storage partition. Are you wanting me to test with something different than this?

[code]

[2022-11-02 19:34] mbolivar-nordic commented on #40982
Dupe of https://github.com/zephyrproject-rtos/zephyr/issues/23025

[2022-11-02 19:34] #40982 closed

[2022-11-02 19:45] EmilioCBen commented on #51692
@hakehuang, I can confirm that this test case passes with the current version of main. Via git bisect, the failure was introduced with #51240 and subsequently fixed with #51613

[2022-11-02 19:45] EmilioCBen commented on #51691
@hakehuang, I can confirm that this test case passes with the current version of main. Via git bisect, the failure was introduced with #51240 and subsequently fixed with #51613

[2022-11-02 19:45] EmilioCBen commented on #51690
@hakehuang, I can confirm that this test case passes with the current version of main. Via git bisect, the failure was introduced with #51240 and subsequently fixed with #51613

[2022-11-02 19:45] EmilioCBen commented on #51689
@hakehuang, I can confirm that this test case passes with the current version of main. Via git bisect, the failure was introduced with #51240 and subsequently fixed with #51613

[2022-11-02 19:46] EmilioCBen commented on #51688
@hakehuang, I can confirm that this test case passes with the current version of main. Via git bisect, the failure was introduced with #51240 and subsequently fixed with #51613

[2022-11-02 19:46] EmilioCBen commented on #51687
@hakehuang, I can confirm that this test case passes with the current version of main. Via git bisect, the failure was introduced with #51240 and subsequently fixed with #51613

[2022-11-02 19:52] #51692 closed

[2022-11-02 19:52] #51687 closed

[2022-11-02 19:53] #51691 closed

[2022-11-02 19:53] #51690 closed

[2022-11-02 19:53] #51689 closed

[2022-11-02 19:54] #51688 closed

[2022-11-02 20:08] larson-whisper commented on #49021
I have enabled a timer to enable the HW_RX_COUNTING_ENABLED check, and now I cannot see the RXRDY events (expected), and empirically the stall when receiving UART traffic does not happen.

@Rocky0102 - You may have the same success for your reported issue.  I enabled the HW RX COUNT with the following additions to my project.conf file:

`
CONFIG_UART_1_NRF_HW_ASYNC=y

 CONFIG_UART_1_NRF_HW_ASYNC_T

[2022-11-02 21:06] #51520 closed

[2022-11-02 21:14] thedjnK opened #51912 "Add textual LCD display driver support"
**Is your feature request related to a problem? Please describe.**
At present, zephyr has a display driver which is very much suited to graphical LCDs whereby e.g. images can be displayed, however it is lacking for support of textual-based displays, e.g. HD44780-based displays, or those with an SPI/I2C interface that support limited commands, essentially for moving a cursor, writing text or cleari

[2022-11-02 21:19] henrikbrixandersen commented on #42998
I cannot see how this would be more correct nor how it would scale to the amount of boards, we support in-tree. I suggest closing.

[2022-11-02 21:54] henrikbrixandersen commented on #47547
Having to maintain all of this in a library instead of in-tree would complicate the maintenance tasks considerably. I'm sorry, but I don't see this as beneficial to the Zephyr Project.

[2022-11-03 03:19] rick1082 commented on #51796
Regarding to "An Initiator should wait for all Sink ASEs to be used for the intended use case to transition to the Streaming state before sending audio data on any of the associated unicast Audio Streams. The waiting time is implementation specific.

This implies that in the above TWS scenario, CAP would actually expect us to either wait for the second device, or to tear down the existing group an

[2022-11-03 04:06] dleach02 commented on #45218
@landonh12, are you still looking at this issue?

[2022-11-03 04:09] danieldegrasse commented on #45218
@dleach02, I believe that https://github.com/zephyrproject-rtos/zephyr/pull/51218 may address this. @landonh12, can you confirm?

[2022-11-03 04:13] landonh12 commented on #45218
Yes, this issue is the root of the sensor work being done in #51218.

[2022-11-03 07:32] chen-png commented on #51636
closed by https://github.com/zephyrproject-rtos/zephyr/pull/51638

[2022-11-03 07:32] #51636 closed

[2022-11-03 08:26] FRASTM commented on #51870
Since the nucleo_h743zi.overlay is deleting the node (of the flash0) ` /delete-node/ &storage_partition;`
another one is required  from the qspi-nor-flash@0 for testing.

Could  you look at https://github.com/zephyrproject-rtos/zephyr/pull/51926

[2022-11-03 08:26] FRASTM commented on #51870
Note that `west build -p auto -b nucleo_h743zi samples/subsys/shell/fs ` does not report any build error

[2022-11-03 08:38] avisconti commented on #51488
@sfeutrier can you possibly take a look to #51901 and review it? Thx!

[2022-11-03 08:51] Thalley commented on #51796
I agree. I think it is important to note that this is only a `should`, and it is allowed to either way. We might want to ask the GAWG about this, to see if the following really is the intention:

1. Connect Acceptor A
2. Start audio streams for Acceptor A
3. Wait
4. Connect Acceptor B
5. Stop audio streams for Acceptor A
6. Start audio streams for Acceptor A and Acceptor B

[2022-11-03 09:07] #51138 closed

[2022-11-03 09:20] avisconti commented on #51488
Once that #51901 will be reviewed (at least 2 with write access) and merged this bug will be closed. Thanks for reporting it and reviewed the commit that you actually provided ;)

[2022-11-03 09:24] #51631 closed

[2022-11-03 09:54] erbr-ot opened #51931 "Failing unit test re. missing PERIPHERAL_ISO_SUPPORT KConfig selection"
Compilation of tests/bluetooth/init/test_ctlr_peripheral_iso is failing after modification to ull_peripheral_iso.c.
In the output (https://github.com/zephyrproject-rtos/zephyr/actions/runs/3368517840/jobs/5587194250) is seen:
warning: BT_ISO_PERIPHERAL (defined at subsys/bluetooth/Kconfig.iso:19) was assigned the value 'y'
but got the value 'n'. Check these unsatisfied dependencies: (!BT_CTLR ||
B

[2022-11-03 09:55] erbr-ot commented on #51931
I'm not sure how is the correct way to resolve this, ie hot to correctly add the correct KConf selection to the build of this test

[2022-11-03 10:15] ruuddw commented on #51814
What board and config are you testing?
ARC doesn't set/support the `CONFIG_IRQ_OFFLOAD_NESTED`, so the `k_sem_give(&offload_sem)` in `irq_offload()` takes care of the  reschedule. The tests, including yours above, seem to work fine for me.

[2022-11-03 10:23] FRASTM commented on #47607
With https://github.com/zephyrproject-rtos/zephyr/pull/47632
don't you get another error on test_config_compress_reset ?
[code]

[2022-11-03 10:34] Thalley commented on #51931
I guess you can apply the same solution as we did for the BSIM tests, right?

Alternatively, since we are adding more testing for this, perhaps it's time we start thinking about being able to set `BT_CTLR_PERIPHERAL_ISO_SUPPORT=y` as an experimental feature in some way?

[2022-11-03 10:50] Laczen commented on #47607
@FRASTM, did you increase the storage partition ? For settings to be fail-safe it is required to have at least 2 erase-blocks (also for fcb), it will first copy/move entries to one block before erasing the second.

[2022-11-03 10:59] Laczen commented on #51870
@jpowen898, @FRASTM, I don't think it is a good idea to use littlefs on the internal flash of a stm32h743zi: the flash blocks are 128kB and it will need at least 2 blocks to provide any power loss resilience. So at least the storage size should be doubled. Even in that case I am unsure if a littlefs configuration with only 2 eraseable blocks is a good idea.

[2022-11-03 11:14] erbr-ot commented on #51931
Well yeah, the thing is just that I don't know how to ;-)

[2022-11-03 11:35] carlescufi commented on #51774
This issue should be closed by adding a "Thread Safety" section in this page: https://docs.zephyrproject.org/latest/connectivity/bluetooth/bluetooth-dev.html

[2022-11-03 11:36] sylvioalves opened #51935 "[Backport v3.2-branch] Cannot enable ESP32 Wi-Fi AP mode"
Enabling Wi-Fi AP mode in ESP32 crashes:

`west build -b esp32 samples/net/wifi`

[code]

[2022-11-03 11:38] carlescufi commented on #51774
Note: This particular function could be made thread-safe by using `atomic_test_and_set()` instead of `atomic_test()` and then `atomic_set()`.

[2022-11-03 11:49] carlescufi commented on #50438
Related to https://github.com/zephyrproject-rtos/zephyr/issues/30699

[2022-11-03 11:50] carlescufi commented on #50438
@ppryga-nordic could you please open a new issue for this point 2., and then close this one? This present one was about something else, and it is confusing to reuse it.

[2022-11-03 11:53] jimvert commented on #40563
I'm unsure how to respond to this follow-up.  As I mention in my initial comment, "the polling interface lacks direct support for timers and mailboxes."  This means that one can't _directly_ use k_poll to determine the expiration of a timer, for example.  There are likely many workarounds (i.e. standing on one's head), but one way is to have timer expiration trigger a signal event (which can be po

[2022-11-03 12:03] #51798 closed

[2022-11-03 12:08] andyross commented on #51814
I'm seeing this in the zync work, which is a new synchronization backend (among other things, it turns uncontended synchronization calls into pure atomic operations that don't involve the kernel).

But regardless, k_sem_give() has never been documented as a rescheduling point, and you can't rely on that.  And I'm pretty sure there's some other funny stuff going on; in particular, there's a test th

[2022-11-03 12:34] ruuddw commented on #51814
Relying on the k_sem_give() to handle the reschedule was probably not the intend when this code was written, but it explains why tests pass on the current tree. I'm not aware of any regular test failing, and the above 'abort' test seem to work as expected as well (I don't see '"SHOULD NOT BE HERE" or exceptions, also not when adding some code after the sleep in main;

Changing the irq_offload to m

[2022-11-03 12:41] jimvert commented on #40560
As was mentioned by the first respondent, the presented method is a workaround.  As such, it doesn't address the core issue.

In general, the lack of a "context" parameter is part of a broader API design issue which has to do with parameter lifetime.  The documentation states that bt_gatt_write_params, for example, must remain valid for callback invocation.  This means that both the bt_gatt_write_

[2022-11-03 13:14] FRASTM opened #51938 "stm32l562_dk_ns missing flash0 node on v3.2-branch"
Fix boot regression with https://github.com/zephyrproject-rtos/zephyr/pull/51852  backported to zephyr  v3.2-branch

[2022-11-03 13:25] nordicjm opened #51939 "mgmt: mcumgr: SMP is broken"
**Describe the bug**
A recent change was introduced for simplifying some mcumgr code by removing the network to system byte ordering functions, however a mistake was entered by copying the size of the source buffer, not the supplied size

**To Reproduce**
Use mcumgr in main

**Expected behavior**
It to work

**Impact**
Showstopper

**Environment (please complete the following information):**
 - Co

[2022-11-03 13:31] FRASTM commented on #51870
Do you mean simply preventing that platform (and maybe others with _large_ sector-size) to run that samples on the **internal** flash mem ?
(Then this is to clarify in the README of that sample)

[2022-11-03 14:28] Laczen commented on #51870
I don't want to prevent running the sample on that platform, but it should somehow be made clear to the user that there are limitations arising from using it on devices with large erase-block-size (and limited erase-block-count). I think it would be good to add this to the documentation of the platform. It should be straight forward that any power loss resilient storage solution needs at least 2 e

[2022-11-03 14:29] alwa-nordic commented on #40560
The lifetime requirement of parameters is a separate discussion. I think you have a valid point about the lack of user guides on memory management in Zephyr. You are welcome to create a new issue or RFC for that and I'll be happy to discuss it.

[2022-11-03 14:31] avisconti commented on #50196
Concerning the pulsed mode there is same issue as in #51488. I will provide a patch for that (and create a new bug maybe). Concerning the other part I'm not sure, I will try to reproduce it.

[2022-11-03 14:35] avisconti opened #51944 "lsm6dso sensnsor driver: to enable drdy in pulsed mode call lsm6dso_data_ready_mode_set()"
In lsm6dso sensor driver a wrong API is called to set drdy_pulsed mode.   1
Split issue from #50196

[2022-11-03 14:39] #51939 closed

[2022-11-03 14:54] #51829 closed

[2022-11-03 15:14] #51931 closed

[2022-11-03 15:18] erbr-ot commented on #51931
Turned out the actual failure was due to missing macros, and not resolved by resolving the KConfig, but rather by adding macros, that then 'magically' appeared by a different PR;-)
I believe this 'issue' is still present, however it has no impact on unit test

[2022-11-03 15:36] mpiccolino-tealblue commented on #33876
@gportay many thanks.
I assume it is CONFIG_LORA_SX12XX, not
![image](https://user-images.githubusercontent.com/56868476/199765614-36039193-475b-4fba-b74e-934353132c9c.png) right?

[2022-11-03 16:28] andyross commented on #51814
Yeah, I have a patch in #51924 that disables test cases that rely on irq_offload allowing preemption.  That's probably good enough for now.

And yes: indeed, irq_offload is expressly not an application API.  It exists only as an oddball hook for tests to exercise interrupt contexts.  But nonetheless, given that requirement, we really should make every effort to make sure it does, in fact, "act lik

[2022-11-03 16:59] evgeniy-paltsev commented on #51814
My first thought about this was - let's drop this interrupt emulation in exception entirely and just implement it via real interrupts.

Pros:
 * we'll test real existing interrupt path code instead of current exception implementation which exists only for test purposes.
 * we can implement IRQ_OFFLOAD_NESTED
Cons
 * we need at least one free IRQ line. I'd say it's doable on all our testing platfor

[2022-11-03 19:26] Michel-Haber commented on #40989
Agreed.
My idea is to split definition and usage:
1. The broadest definition of the possible power states is given by the SoC. It's the ability of the MCU itself to go into sleep, deep-sleep, snooze, etc...
2. The application level is the only one able to define which states it needs to use.

Last time I looked, it was already possible for the application to specify its desired states, and to say

[2022-11-03 20:59] DerekSnell opened #51951 "Zephyr Getting Started steps fail with Python v3.11"
**Describe the bug**
Not all required Python modules install now that Python v3.11 is released.  When following Zephyr's Getting Started steps on Windows 10, installing Python using Chocolately will install the latest v3.11.  The following modules in Zephyr's Requirements.txt files will fail to install:
- gcovr
- pyocd

**To Reproduce**
- follow the [Zephyr Getting Started](https://docs.zephyrproj

[2022-11-03 21:03] stephanosio commented on #51951
This is definitely not a high priority bug. There is nothing forcing users to use Python 3.11.

Technically, this is not really a Zephyr bug eiterh, it is just that `cmsis-pack-manager` and `lxml` packages have not provided the wheels for Python 3.11 yet, so this issue should really be reported to those projects.

[2022-11-03 21:12] stephanosio commented on #51951
Also FYI, you can install Python 3.10 using Chocolatey as follows:

[code]

[2022-11-03 21:54] DerekSnell commented on #51951
Thanks, @stephanosio ,
I understand your feedback, and while these are not Zephyr bugs, they become issues when following the Zephyr installation steps.

One solution is to update the Getting Started steps with the workaround you shared, at least until Python v3.11 is fully supported:
[code]

[2022-11-04 02:10] foldl commented on #51774
First of all, this question should be settled: Is the Bluetooth feature designated to be thread-safe or not?

If it is, then a larger task needs to be done; otherwise, this issue can be closed with a
cleanup of the `atomic_xxx` stuffs, and I believe that the whole Bluetooth subsys needs a cleanup
of such codes trying to be thread-safe.

Anyway, a "Thread Safety" section in the doc is welcome.

[2022-11-04 03:19] marc-hb commented on #50205
These 2 additional lines are IMHO a big step forward, please help review:
- https://github.com/zephyrproject-rtos/zephyr/pull/51954

[2022-11-04 09:05] carlocaione commented on #41784
Preliminary abandoned work at https://github.com/Huawei-Paris-Research-Center/zephyr/tree/virtio-net

[2022-11-04 09:16] #50684 closed

[2022-11-04 09:18] #51025 closed

[2022-11-04 09:38] nuertey commented on #51912
@thedjnK
FYI, see my implementation for an LCD16x2 here: https://github.com/nuertey/ZephyrOS-LCD16x2

I tested it on the component and it is working. Pictures here (scroll down): https://github.com/nuertey/ZephyrOS-WeatherStation
Regards
Nuertey

[2022-11-04 09:56] nuertey commented on #51912
And I forgot to mention--and this is most relevant to your feature request--that I based my implementation on the official sample:

https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/drivers/lcd_hd44780

[2022-11-04 10:28] ruuddw commented on #51814
Indeed I wondered why it was implemented (long time ago) as an exception and not as a SW interrupt. Let's get the intend and expectations clear, then see how to model. ARC e.g. has two types of interrupts, fast and normal: should both be tested/covered or is any interrupt context enough since it is used for testing kernel stuff, not interrupts.
Maybe something to take along when you rework the (SM

[2022-11-04 11:20] evgeniy-paltsev commented on #51951
Frankly speaking this thing fails almost every time for me :)

Failures depends on which python version and Zephyr version we have but In almost all cases I have to either disable something from requirements.txt or just ignore that some packages were not installed due to some issues (if I don't need to use them).

It's really unstable.

[2022-11-04 11:22] povergoing commented on #41784
Thanks! I am going to close this issue, as I found that WindRiver guys are also doing this based on OpenAMP, https://github.com/OpenAMP/open-amp/tree/virtio-exp

[2022-11-04 11:22] #41784 closed

[2022-11-04 11:35] jimvert opened #51960 "Lack of a context parameter for callbacks leads to increase memory management burden for application developers..."
As was mentioned by the first respondent, the presented method is a workaround.  As such, it doesn't address the core issue.

In general, the lack of a "context" parameter is part of a broader API design issue which has to do with parameter lifetime.  The documentation states that bt_gatt_write_params, for example, must remain valid for callback invocation.  This means that both the bt_gatt_write_

[2022-11-04 11:37] jimvert commented on #40560
I've opened https://github.com/zephyrproject-rtos/zephyr/issues/51960 to address the issue of memory management in terms of the context parameter.

[2022-11-04 11:37] #40560 closed

[2022-11-04 11:53] fabiobaltieri commented on #50836
For new subsystem or features, should we have a process to break down the feature into areas and manually assign a set of approvers to decide when the initial implementation is "good enough" for merging? For the usbc case for example it could have made sense to explicitly nominate someone to approve for usb, devicetree, device implementation (stm32 in that case), that way it would be clear who is

[2022-11-04 13:56] #51752 closed

[2022-11-04 14:08] enjiamai commented on #51233
After given the HAT pin16 an input signal, I saw following result:

[code]

It works when I manually trigger the input. I think this is a expected result, @dcpleung , could you please help to confirm? Thank you very much!

[2022-11-04 16:07] mayank0206 commented on #50070
Hello Martinjaeger,

Thank you for sharing the example devicetree overlay. I'm getting the following error when I use this:

sx12xx_common: GPIO device not ready ��
os: ***** BUS FAULT *****
os:   Instruction bus error
os: r0/a1:  0x00000000  r1/a2:  0x00000001  r2/a3:  0x00000105
os: r3/a4:  0x132300b5 r12/ip:  0x00000000 r14/lr:  0x00012155
os:  xpsr:  0x01000000
os: Faulting instruction address

[2022-11-04 16:19] martinjaeger commented on #50070
Just some guesses:

GPIO device: Make sure that `CONFIG_LORA_INIT_PRIORITY` is larger than `CONFIG_GPIO_INIT_PRIORITY`, which should normally be the case.

Bus fault: Try to increase the system work queue size via Kconfig, if not already done.
https://github.com/zephyrproject-rtos/zephyr/blob/278120acb600aa03a93dbfb11125882bb0765d40/samples/subsys/lorawan/class_a/prj.conf#L9

[2022-11-04 16:55] mayank0206 commented on #50070
Now that I've made the suggested changes, I'm not getting a restart issue, but Lora is not working:

Getting below error:

  <err> sx12xx_common: GPIO device not ready )�
  <err> lora_send: SX1276 Device not ready

[2022-11-04 17:31] dcpleung commented on #51233
I don't have an UP2 board to test this. But the output looks correct.

[2022-11-04 17:52] RafaelLeeImg opened #51973 "Coding style problem, clang-format formatted code cannot pass CI."
**Describe the bug**
clang-format result is different from the rules in CI, so code formatted by clang-format could not pass CI.
Let human rember coding style or trial & error is not a systematic way for clean codes.
I believe that I'm not the only one who has encountered this problem.

That space is added by clang-format.

https://github.com/zephyrproject-rtos/zephyr/actions/runs/3395127653/jobs/

[2022-11-04 17:59] stephanosio commented on #51973
This in itself is not a bug. We have never made any guarantees that the style defined by the clang-format file will 100% match the Zephyr coding style and guidelines.

For now, clang-format support is more or less experimental and one should not expect it to be a one-stop solution to all coding formatting issues -- additional human interventions may be necessary.

Also, please see the related disc

[2022-11-04 18:00] stephanosio commented on #51973
cc @gmarull

[2022-11-04 18:09] RafaelLeeImg commented on #51973
At least there shall be some way that let user to setup the coding style checker at their local computer, is there any way to do that?
I didn't find any related documents.

[https://docs.zephyrproject.org/latest/contribute/guidelines.html#coding-style](https://docs.zephyrproject.org/latest/contribute/guidelines.html#coding-style)

[2022-11-04 18:16] stephanosio commented on #51973
Did you see `The Linux kernel GPL-licensed tool checkpatch is used to check coding style conformity.`?

[2022-11-04 18:35] RafaelLeeImg commented on #51973
OK, now I know how to use that. Shall those included in Zephyr documents?

./scripts/checkpatch.pl 0001-sensors-Add-AHT20-temperature-humidity-sensor.patch

By the way, it's showing another false positive warning, it's not lables, it's bit field.

[code]

Related code is:
[code]

[2022-11-04 19:02] jpowen898 commented on #51870
I'm confused by this PR. It looks like they are implying that there is a qspi flash chip on the nucleo_h743zi to which they are mounting the littlefs file system. From what I can tell looking at schematics for this board there is no qspi chip on it. Is the assumption that you need to buy and wire up a breakout board for that qspi flash chip in order to get the example to work?

[2022-11-04 19:21] stephanosio commented on #51973
The instruction is right there in the documentation you linked ...

This will be fixed by https://github.com/zephyrproject-rtos/zephyr/pull/51975

[2022-11-04 19:42] nuertey commented on #51912
Understood.

[2022-11-04 19:51] msasdk commented on #46268
@henrikbrixandersen don't really agree with the label "Windows Support (Related to build Zephyr on Windows)". This has nothing to do with building on Windows but rather what a Zephyr based USB RNDS gadget is detected as on Windows.

[2022-11-04 20:29] henrikbrixandersen commented on #51855
One example is the NEORV32 board definition: https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/riscv/neorv32/support/openocd.cfg

Correct.

[2022-11-04 21:32] #49228 closed

[2022-11-04 23:04] tenllado opened #51977 "newlib integration: _unlink isn't mapped to unlink"
**Describe the bug**

Using the newlib libc in Zephyr, the ISO C remove function calls the _unlink_r funtion which requires the _unlink function, but this function is missing and the compilation fails at link time.

I have tested this while trying to create a lua module for Zephyr. The lua/loslib.c file includes a call to remove:

static int os_remove (lua_State *L) {
  const char *filename = luaL

[2022-11-04 23:26] tenllado opened #51978 "newlib integration: _times isn't mapped to _times_r"
**Describe the bug**

Using the newlib libc in Zephyr, the clock() and/or time() functions call the _times_r function which requires the _times function to be supplied, but this function is missing and the compilation fails at link time.

I have tested this while trying to create a lua module for Zephyr. Lua uses both the clock() and the time() function and the compilation fails with the following

[2022-11-05 04:54] stephanosio commented on #51978
`times` is a POSIX function and it is currently not available in the Zephyr POSIX subsystem.

[2022-11-05 04:56] stephanosio commented on #51978
Converted to enhancement since newlib cannot map a POSIX function to the POSIX subsystem when it is not implemented by the POSIX subsystem.

[2022-11-05 05:20] stephanosio commented on #51978
I did a brief investigation and the ISO C function `clock()` does depend on the POSIX `times()`, which is indeed a problem. I will provide a fix such that `clock()` does not depend on `times()`.

p.s. ISO C `time()` does not require POSIX `times()`; instead, it requires `_gettimeofday()`, which is already provided by the newlib libc-hooks. That aside, the libc hook implementation depending on the

[2022-11-05 05:33] stephanosio opened #51982 "Add comprehensive C library testsuite"

[2022-11-05 06:38] ahmedmoheb-nordic opened #51984 "Bluetooth: Central rejects connection parameters update request from a connected peripheral"
## Introduction

The use case includes a Central that connects to 4 peripherals

### Problem description

The Central uses the following procedure to connect to the peripherals
1 - Central starts a scanning procedure
2 - When a device is found, central attempt to connect to it
3 - When the 'connected' callback is received, a signal is set to start a new scanning procedure from the main thread
4 -

[2022-11-05 06:41] ahmedmoheb-nordic commented on #51984
@jori-nordic @alwa-nordic please check this

[2022-11-05 13:53] wangpengabc opened #51989 "stm32f303v(b-c)tx-pinctrl.dtsi, No such file or directory"
When i run the following command in the terminal on Ubuntu 18.04:
` west build -b stm32f3_disco samples/hello_world`

The following errors prompt. I find that st/f3/stm32f303v(b-c)tx-pinctrl.dtsi does not exist in the corresponding directory.

[code]

[2022-11-05 14:10] wangpengabc commented on #51989
After i run "west update", this bug disappears. It seems relative with cmsis.

[2022-11-05 14:10] #51989 closed

[2022-11-05 15:48] chalecampb commented on #51874
Hi,

Just letting you know, if I do make menuconfig on the CLI, BME280 is enabled. If I try to flash, there is an issue with JLink which I already submitted to nordic. So I think you are right, this is something in the IDE.

Thanks,
-Alex

[2022-11-05 15:52] mbolivar-nordic commented on #31435
@henrikbrixandersen assuming we're still setting up the devices in DT with some sort of fake or vnd compatible, no objections.

[2022-11-05 18:57] #51870 closed

[2022-11-05 18:58] #49783 closed

[2022-11-06 00:31] #43836 closed

[2022-11-06 10:34] mfiumara commented on #1392
Thanks @unixbigot I had a similar problem, was running inside a virtual environment and had west installed in the system causing this. I uninstalled west from my system and things worked again.

[2022-11-06 11:58] tcpipchip commented on #26796
Hi
I am having the same problem with STM32L072 + SX1276 (Zephyr /samples/subsys/lorawan/class_a
[00:00:00.200,000] <inf> sx127x: SX127x version 0x12 found
[00:00:00.302,000] <inf> lorawan_class_a: Joining network over OTAA
[00:00:00.315,000] <err> os: ***** HARD FAULT *****
[00:00:00.315,000] <err> os: r0/a1:  0x000000fd  r1/a2:  0x000000f4  r2/a3:  0x00000041
[00:00:00.315,000] <err> os: r3/a4:

[2022-11-06 13:15] wangpengabc opened #51997 "microTVM or zephyr bugs, No SOURCES given to Zephyr library"
After the configuration of microTVM in [TVM](https://github.com/apache/tvm) and zephyr in my local environment, I run the "python micro_aot.py" in tvm/gallery/how_to/work_with_microtvm subdirectory. The following errors occur.

[code]

[code]

[2022-11-06 13:15] nandojve opened #51998 "Nominate Attie Grande as zephyr Collaborator"
# Background

The [TSC Project Roles] defines the main roles for the Zephyr Project, including Maintainer, Collaborator, and Contributor.

By default anyone that contributes code or documentation is a Contributor, but with the lowest [GitHub Permission Level] of Read. For example, Contributors with Read permission do not have the permission to add reviewers to a pull request.

Use this template to

[2022-11-06 13:16] wangpengabc commented on #51997
Same as [#13303](https://github.com/apache/tvm/issues/13303) in TVM

[2022-11-06 19:44] xodus7 commented on #51873
Indeed this is a bug, and very suggestive of which hardware configuration I has to test with :-( . I see a now closed PR #51876 that was making changes to this driver. Is someone working to fix this? If not, I'd be happy to submit a simple patch.

[2022-11-07 06:53] cvinayak commented on #51984
Zephyr Controller supports LE Connection Parameter Request Procedure, which generates LL_REJECT_EXT_IND PDU with error code Unsupported Link Layer Parameter Value (0x20) when the Controller is busy with another Connection Update procedure.

I have shared a PR #52006 that I use locally for testing LE Connection Parameter Request across multiple simultaneous to reschedule connections of similar conn

[2022-11-07 08:22] nordic-piks opened #52009 "tests: kernel: fifo: fifo_timeout: kernel.fifo.timeout fails on nrf5340dk_nrf5340_cpuapp"
**Describe the bug**
The tests/kernel/fifo/fifo_timeout/kernel.fifo.timeout fails

Observed for
- nrf5340dk_nrf5340_cpuapp

Occurrence: 1/14

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf5340dk_nrf5340 connected
2. go to your zephyr dir
3. call ./scripts/twister -T tests/kernel/fifo/fifo_timeout -p nrf5340dk_nrf5340--device-testing --device-serial /dev/ttyACM2 -v --inline-logs
4. S

[2022-11-07 08:23] nordic-piks commented on #52009
Seems to be the same as #49145 but occurrence is rare.

[2022-11-07 09:10] hjuul commented on #29566
@henrikbrixandersen , #37568 only adds encrypted binaries for the application. It does not handle encryption keys for MCUboot. So I suppose I still need to fork MCUboot repo to add my own keys, which is inconvenient. I prefer keeping this issue open.

[2022-11-07 10:59] erwango commented on #42998
Fully agree. Closing

[2022-11-07 10:59] #42998 closed

[2022-11-07 11:08] gmarull commented on #51973
Unless there's a clang-format option to match checkpatch expectations, I think the best is to patch checkpatch or ignore the failure.

[2022-11-07 11:16] tcpipchip commented on #41581
hi
Do you know if this bug was solved ?
Can you share us the code ?
I got here a STM32WL55 to test!
Thanks!

[2022-11-07 12:47] yashi opened #52018 "Change QEMU Cortex M3 machine to more flexible one"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**

Currently we are using `ti_lm3s6965` as `qemu_cortex_m3` but it seems [it's not flexible for SRAM size](https://github.com/zephyrproject-rtos/zephyr/pull/40437).  For emulating Cortex M3 with QEMU, I believe most of users don't really care which board we are running but does

[2022-11-07 13:25] stephanosio commented on #52018
FWIW, we already have `mps2_an385`, which is a Cortex-M3 board that runs on QEMU with 4MiB "flash" and RAM.

[2022-11-07 14:10] nordicjm opened #52021 "RFC: API Change: mgmt: mcumgr: Replace mgmt_ctxt struct with smp_streamer"
## Problem Description:

This is a stable API change request for MCUmgr to replace the mgmt_ctxt struct with the smp_streamer struct. This essentially gives an extra layer of details to MCUmgr command functions, the mgmt_ctxt object gives them access to a cbor writer and cbor reader object, the smp_streamer struct has both of these object but also has the streamer transport object as well.

## Pro

[2022-11-07 14:22] nordicjm opened #52022 "RFC: API Change: mgmt: mcumgr: transport: Add query valid check function"
## Problem Description:

This is a stable API change request for MCUmgr to add a new function pointer to transports to be used in a callback to check if pending queries are still valid or invalid (and, if invalid, to purge them from the queue). The requirement for this is with connection-orientated transports, e.g. Bluetooth - if a connection is dropped then it does not make sense to continue runn

[2022-11-07 14:23] yashi commented on #52018
Indeed, the following command just works with `zeth` described at https://docs.zephyrproject.org/3.2.0/connectivity/networking/qemu_eth_setup.html
[code]

[2022-11-07 15:03] enjiamai commented on #51233
Thanks for comments from @dcpleung . A manually input triggering works. So I think this is not a bug. Double checking with a output loopback.

[2022-11-07 16:36] galak commented on #51449
@gmarull / @henrikbrixandersen thoughts on doing this check in scripts/build/gen_handles.py.  Means it happens when you do make/ninja instead of at cmake time.  But also means we report a lot less false positives since it will be over actual `struct device`s instead of checking the devicetree.

[2022-11-07 17:10] thedjnK commented on #26796
@tcpipchip You are probably trashing memory

[2022-11-07 17:37] jfischer-no commented on #51834
I assume "mixins" is just a project name, temporary until something better is found.

[2022-11-07 18:03] tcpipchip commented on #26796
yes, looks stack memory!

[2022-11-07 20:15] TakiTajwar17 commented on #25160
Hey I am a beginner here. I want to work on the issue to get started with. Can you share me some tips or resources to get this done? I want to do it!!

[2022-11-07 20:39] carlst commented on #51342
PR #52034 is a draft. It is not yet complete, and fails the automatic PR checks. Currently in testing with broadcast_audio_source/broadcast_audio_sink samples.

[2022-11-07 21:02] tcpipchip commented on #36553
Hi, i am getting the same issue!

Did you find it ?

[2022-11-07 22:44] tcpipchip commented on #26796
memory trashing solved! Stack size redefined on prj.conf

Do you know how to define the SUB-BANDS of AU915 ?

int lorawan_set_datarate(enum lorawan_datarate dr)

Right ?

Thanks!

[2022-11-08 00:29] #49266 closed

[2022-11-08 00:30] #48857 closed

[2022-11-08 03:10] cvinayak commented on #51342
Thanks for the PR. Will review it sometime this week.

[2022-11-08 03:26] Dino-Li commented on #51735
I looked into PVT port ISR for other SOCs (eg. ibf_pvt_isr()).
They didn't set flags before calling callback.
I am curious how they work?

[2022-11-08 05:01] hunterhu3000 commented on #51506
Add a retry in twister command. The issue is not seen

[2022-11-08 05:01] #51506 closed

[2022-11-08 05:06] hunterhu3000 commented on #50452
fixed by https://github.com/zephyrproject-rtos/zephyr/pull/51883

[2022-11-08 05:06] #50452 closed

[2022-11-08 07:35] microbuilder commented on #45319
I see QEMU was also recently updated with the mps2-an500, which is an M7 and may include support for double-precision floating point operations: https://github.com/qemu/qemu/commit/6d4811c4b688de368748c8095250ba12c905a21c

[2022-11-08 07:55] stephanosio commented on #45319
Yes, https://github.com/zephyrproject-rtos/zephyr/issues/22870#issuecomment-1116967262. Though, adding support for it will likely involve a bit more work than this.

[2022-11-08 07:59] microbuilder opened #52049 "Update mps2_an521_remote for compatibility with mps2_an521_ns"
`mps2_an521_remote` was added primarilly as a test platform for the FPU in CI, using the second M33 core on the AN521 since the primary core is missing FPU support.

There are a number of problems with this target, however, such as the memory map overlapping with `mps2_an521_ns`, meaning you can't use TF-M and the remote core at the same time.

The `_remote` target should be updated to have the ba

[2022-11-08 08:00] microbuilder commented on #52049
cc @stephanosio @mbolivar @uLipe

[2022-11-08 08:35] gportay commented on #33876
Indeed, I use the [config](https://github.com/idiot-prototypes/esplorative-idiot/blob/main/prj_sx12xx.conf) chunk:

[code]

[2022-11-08 09:42] #45222 closed

[2022-11-08 09:43] slide333333 commented on #23887
Are there any plans for this one?

I'm currently in the need to use the PPP driver and handle things like SMS and GNSS via GSM MUX additionally. But since there is no public access to the modem_context `iface` member, which does expose the AT channel, this is not possible.

Is including the modem_context.h via "../../../zephyr/drivers/modem/<include file>" still the only solution atm or am I missi

[2022-11-08 09:43] #51165 closed

[2022-11-08 09:45] #51488 closed

[2022-11-08 09:47] #51984 closed

[2022-11-08 09:54] Casper-Bonde-Bose opened #52055 "Bluetooth: Controller: Broadcast scheduling issues"
### Describtion
For a multi BIS BIG there seems to be issues with the scheduling. It is unknown if all issues are related, but I managed to reproduce the issues using the broadcast_audio_sample application with a modified stream_sent_cb where every 40th PDU is not written to the controler. I know this is not normal behaviour for an audio streaming application, but at high CPU load it can occur tha

[2022-11-08 09:59] ahmedmoheb-nordic opened #52056 "Bluetooth: Missing LL data length update callback on Central and Peripheral sides"
## Introduction

Updating LL data length fails

### Problem description

After establishing a connection between a Central and a Peripheral, trying to update the LL data length fails.
Also, the update callback isn't called.

Please check the following draft PR which shows the case and can be executed using BabbleSim
https://github.com/zephyrproject-rtos/zephyr/pull/51985

A shell script can be fou

[2022-11-08 10:00] ahmedmoheb-nordic commented on #52056
@jori-nordic @alwa-nordic please check this

[2022-11-08 10:03] nordic-piks opened #52057 "tests: kernel: timer: starve: kernel.timer.starve hangs"
**Describe the bug**
The tests/kernel/timer/starve/kernel.timer.starve hangs

Observed for
- nrf5340dk_nrf5340_cpunet
- nrf5340dk_nrf5340_cpuapp
- nrf5340dk_nrf5340_cpuapp_ns
- nrf9160dk_nrf9160
- nrf9160dk_nrf9160_ns
- nrf52dk_nrf52832
- nrf52840dk_nrf52840
-

Occurrence: Always

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf5340dk_nrf5340 connected
2. go to your zephyr dir
3. call

[2022-11-08 10:42] ppryga-nordic opened #52059 "Bluetooth: conn: in multi role configuration incorrect adress is set after advertising resume"
**Describe the bug**
Advertising resume in Host is limited operation in comparison to regular advertising enable operation. Limited in a way, there is no device address check/update before the advertising is resumed. When scanner is resumed and identity address is not used, Host uses NRPA address for a device when scanning. This address is different than static random address. When connection in p

[2022-11-08 10:42] slide333333 commented on #45604
This would be a very useful feature and should be actually pretty easy to implement since PPP can be started manually. We would just need some kind of public function like `gsm_ppp_set_apn` that needs to be called once for the device before `gsm_ppp_start` is run. Internally AT+CGDCONT can be run as a separate command instead of being called as a part of  `setup_cmds`.

If anyone could confirm thi

[2022-11-08 10:43] ppryga-nordic commented on #50438
@carlescufi @jori-nordic  New issue created: #52059.

[2022-11-08 11:00] szundi commented on #45604
This sounds very interesing and would solve crucial problem for setting up devices by the end-user to their sim cards.

[2022-11-08 11:11] #49066 closed

[2022-11-08 11:11] erwango commented on #49963
Fixed in https://github.com/zephyrproject-rtos/zephyr/pull/50153

[2022-11-08 12:43] finikorg opened #52065 "west: debugserver command does not work"
Testing with qemu_x86_64

This works
[code]

Using `west debugserver` command I have following:

[code]

[2022-11-08 14:01] gmarull commented on #51912
One misc driver that could likely be converted to such class: https://github.com/zephyrproject-rtos/zephyr/tree/main/drivers/misc/grove_lcd_rgb

[2022-11-08 14:53] abdulayubzoi opened #52073 "ESP32-C3 UART1 not available after zephyr update to v3.2.99"
***Note:** This bug is similar to this [issue ](https://github.com/zephyrproject-rtos/zephyr/issues/46434)*

**Describe the bug**
I'm using the `UART1` on ESP32-C3 to communicate to a connected device. I updated the `zephyr-sdk` to `v0.15.1` and updated `zephyr` to `v3.2.99`, and the `UART1` just stopped working.

The peripheral is existing in [esp32c3.dtsi](https://github.com/zephyrproject-rtos/z

[2022-11-08 15:14] mariuszpos opened #52074 "[RFC]: west: add command to modify the manifest"
## Introduction

Add a new command to modify the west manifest file, like changing the revision for a specific project.

### Problem description

The need to test changes in CI without creating pull request.

### Proposed change

Add new command: 'change' - used for manifest modification.

## Detailed RFC

### Proposed change (Detailed)

Example of usage:
Change revision for openthread project:
[c

[2022-11-08 15:15] nordicjm opened #52075 "mgmt: mcumgr: Improve fs_mgmt file upload/download"
**Is your feature request related to a problem? Please describe.**
At present, the fs_mgmt upload/download functions are self contained, this means that for each command, the underlying file is opened, seeked to the desired offset, and data read/written, then the file is closed. This works, but has an enormous overhead, reducing the throughput by roughly 6 times. This can be improved by keep the f

[2022-11-08 15:57] #52049 closed

[2022-11-08 16:09] krish2718 commented on #50188
I tried to get the build going by hardcoding the `CONFIG_NET_BUF_DATA_SIZE` but still the packets are being dropped at L2 Ethernet at https://github1s.com/zephyrproject-rtos/zephyr/blob/HEAD/include/zephyr/net/buf.h#L1269-L1270 called from https://github1s.com/zephyrproject-rtos/zephyr/blob/HEAD/subsys/net/l2/ethernet/ethernet.c#L512 . Shouldn't we be using variable net_buf here instead of fixed?

[2022-11-08 16:13] carlescufi commented on #52022
Arch WG meeting:

N/A since it's not a stable API: Please make the changes and declare it stable.

[2022-11-08 16:36] mbolivar-nordic commented on #52065
[code]

It's right there in the error message...

[2022-11-08 16:36] #52065 closed

[2022-11-08 16:37] de-nordic commented on #52075
NFS does the same thing. The problem is that it is hard to tell when operation will end and how long should the file handle be opened. This will add requirements for additional timeout mechanism to close the file handle when connection breaks too long.
Currently when you can resume uploading file, as long as device does not get reset, anytime you want.

[2022-11-08 16:47] gokultv-private opened #52079 "TLS handshake failure (after client-hello) with big_http_download sample"
**Describe the bug**
A clear and concise description of what the bug is.
TLS handshake failure (after client-hello) with big_http_download sample

Please also mention any information which could help others to understand
the problem you're facing:
 - Target platform: native_posix
 - Captured the wireshark traces (attached here) and identified the 3-way handshake & TLS client-hello

**To Reproduce*

[2022-11-08 16:48] de-nordic commented on #51857
There is no need to make forward implementation of something we do not know how it will be used, or whether will be used.

These can be added when use case for them is provided, otherwise we are just blindly trying to provide functionality that will require redesign or may be useless in the future, but will be haunting us from the corner of the flash.

[2022-11-08 16:52] carlescufi commented on #41543
Arch WG:

- @nashif states the issue with integrating in CI: This cannot check the whole tree on every PR. It needs to "run on diffs", checking only the files that have been modified. This is made worse by the fact that Zephyr has hundreds of targets instead of just a few
- @gmarull mentions forward declaration as one of the issues that we will need to make a choice on
- The problem with fixing th

[2022-11-08 17:06] laurenmurphyx64 commented on #52079
Setting as medium for now, assignee / networking folks can downgrade if necessary

[2022-11-08 17:13] cfriedt commented on #51826
manually appended to #49031

[2022-11-08 17:16] cfriedt commented on #51152
@jvasanth1 - PTAL

[2022-11-08 17:17] cfriedt commented on #50961
Was not automatically closed for some reason.

[2022-11-08 17:17] #50961 closed

[2022-11-08 17:18] #50512 closed

[2022-11-08 17:19] cfriedt commented on #50490
@yvanderv - PTAL

[2022-11-08 17:36] tcpipchip commented on #36953
i am having this same problem...

[00:25:56.699,000] <dbg> sx126x: SX126xWriteRegisters: Writing 1 registers @ 0x736: 0x9 , ...
[00:25:56.699,000] <dbg> sx126x: SX126xWriteCommand: Issuing opcode 0x8c w. 6 bytes of data
[00:25:56.700,000] <dbg> sx126x: SX126xWriteCommand: Issuing opcode 0x8 w. 8 bytes of data
[00:25:56.701,000] <dbg> sx126x: SX126xSetOperatingMode: SetOperatingMode: RX (5)
[00:25:

[2022-11-08 17:39] laurenmurphyx64 opened #52083 "test"

[2022-11-08 17:40] #52083 closed

[2022-11-08 17:40] laurenmurphyx64 commented on #52083
(Sorry, release team was testing things with projects)

[2022-11-08 19:14] iperry opened #52085 "can: SAM M_CAN regression"
**Describe the bug**
I am trying to run samples/drivers/can/counter on the sam_v71b_xult board, but only one initial garbled frame of all zeroes comes out.
![screenshot_dsox3034 grlocal_2022-11-08T11:06:46](https://user-images.githubusercontent.com/224968/200653703-d6b4d3bc-1d13-47ad-8d1c-3590f8fa5f32.png)

Please also mention any information which could help others to understand
the problem you'r

[2022-11-08 19:33] iperry commented on #52085
I submitted a pull request here https://github.com/zephyrproject-rtos/zephyr/pull/52086

[2022-11-08 19:57] stephanosio commented on #51998
Added in https://github.com/zephyrproject-rtos/zephyr/pull/51996

FYI, for collaborators and maintainers, you do not need to use this form; simply opening a pull request to add the user to the MAINTAINERS.yml alone should be enough.

[2022-11-08 19:57] #51998 closed

[2022-11-08 20:41] #52085 closed

[2022-11-09 00:31] #44908 closed

[2022-11-09 03:39] keith-zephyr commented on #50836
Looking at the documentation again, there appears to be 3 areas of the documentation that intersect with "large PRs"
1. [Contribution Guidelines](https://docs.zephyrproject.org/latest/contribute/guidelines.html)
2. [Proposals and RFCs](https://docs.zephyrproject.org/latest/project/proposals.html#proposals-and-rfcs)
3. [API Lifecycle](https://docs.zephyrproject.org/latest/develop/api/api_lifecycle.

[2022-11-09 05:39] zeyingzheng-linux opened #52094 "STM32MP157 Debugging method use wrong GDB port when execute command `west debug`"
**Describe the bug**
According to the debuging instructions from official website, I find that wrong gdb port will be use when execute command `west debug`  in STM32MP157 platform. The following is the URL:
https://docs.zephyrproject.org/latest/boards/arm/stm32mp157c_dk2/doc/stm32mp157_dk2.html

Please also mention any information which could help others to understand
the problem you're facing:
 -

[2022-11-09 06:49] cvinayak commented on #52055
If this value is set to 251 it forces the host to fragment the 251 byte ISO data payload and thereby use 2 credits per ISO PDU.

@Thalley Host should not be fragmenting a 251 byte SDU when LE Read Buffer Size v2 returns 251 bytes, is there a bug in use of `send_frag`?

@Casper-Bonde-Bose I had to fix your update to the sample to have a catchup of `stream_sent_cb` each time you skip the call. This

[2022-11-09 08:18] nordicjm commented on #51857
It would be used for async messaging, a function handler needs to know if async is supported if it uses it, and instead of having to go through stable API changes to add new function pointers every time a new setting needs to be read, it just makes sense to move it to a struct instead, that way additional parameters can be added without impacting users or needed out of tree code changes

[2022-11-09 08:28] rlubos commented on #50188
I've been investigating the issue recently and I have similar initial conclusions, the Ethernet layer appears to be using `net_pkt_get_frag()` for header fragment allocation, which internally relies on fixed buffers, which obviously seems wrong for the variable buffer length configuration. I don't have a fix yet, need to investigate further.

[2022-11-09 08:37] kurddt opened #52095 "dfu/mcuboot: dfu/mcuboot.h used BOOT_MAX_ALIGN and BOOT_MAGIC_SZ but does not include bootutil/bootutil_public.h"
**Describe the bug**
Since #50371 `dfu/mcuboot.h` does not redefine BOOT_MAX_ALIGN and BOOT_MAGIC_SZ but does not include `bootutil/bootutil_public.h ` itself. So if a file include only `dfu/mcuboot.h` it will lead to a compilation error

**To Reproduce**
* include `dfu/mcuboot.h` in a .c file
* compile

**Expected behavior**
A program including `dfu/mcuboot.h` directly (it's a public header) shou

[2022-11-09 08:45] rlubos commented on #52079
It seems to be a problem with the web server the sample uses, I've encountered the issue recently. Either the certificate has expired and we need to use a new one in the sample, or we need to find a new server to connect to.

@gokultv-private In a meantime, you could evaluate https://docs.zephyrproject.org/latest/samples/net/sockets/http_get/README.html, I see no issues with TLS communication with

[2022-11-09 09:24] Thalley commented on #52055
Could this be a case where the 4-8 octet header in the ISO packet is not taken into account?

If you want to send 251 octets of ISO data, then the ISO packet sent to the controller will be 255-259 octets, depending on whether the packet contains the timestamp or not.

[2022-11-09 09:27] nordicjm opened #52099 "mgmt: mcumgr: Rename fs_mgmt hash/checksum functions"
**Is your enhancement proposal related to a problem? Please describe.**
Rename the fs_mgmt hash/checksum functions to have fs_mgmt in the name to better suit the naming system.

[2022-11-09 10:00] nordicjm commented on #51621
`bootloader/mcuboot/zephyr/samples/mcuboot_external_config/CMakeLists.txt` does not exist with that PR.
`bootloader/mcuboot/zephyr/samples/boards/` does not exist with that PR.
Can you fix these this and check the reproduction steps work?

[2022-11-09 10:08] carlescufi commented on #51471
Closing due to inactivity. @maweicoltsmart please reopen if this is still an issue.

[2022-11-09 10:08] #51471 closed

[2022-11-09 10:10] nordicjm commented on #51621
And from what I can see this is not a bug, this is intended design.
https://docs.zephyrproject.org/latest/develop/application/index.html

And this is confirmed by the cmake files:
[code]

And also described as working like this on the sysbuild pages:

[2022-11-09 10:45] IvanVnucec opened #52101 "`bt_gatt_notify` function does not notify for data larger than 20 bytes"
**Describe the bug**
I have BLE peripheral device which is trying to notify 20 bytes of data over custom GATT characteristic using `bt_gatt_notify` function. When there are not any devices connected, `bt_gatt_notify` function returns `-ENOTCONN` (-128) error as normal. Once the device is connected, `bt_gatt_notify` function is returning `0` indicating that the notify was successful.

When I try to

[2022-11-09 11:07] nordicjm opened #52102 "bluetooth: Add non-reference based unique connection ID"
**Is your feature request related to a problem? Please describe.**
This is a request to add a non-reference based connection ID that can be used by applications and libraries to have a "unique" mapping to a connection, this should __not__ be reference counted, as it might be held by long-running operations that takes upwards of seconds to process (and could cause issues for e.g. restarting adverti

[2022-11-09 11:18] Vinay96110 opened #52103 "STM32u5 dual bank flash issue"
HI,
   I am using **stm32u575zi** board, which has **2mb flash size, with dual bank concept**. I am facing issue accessing the flash of 2ndbank i.e. starting from flash address 0x8100000 end of the flash am not able to access not even read also. but same am able to do it for 1st bank (0x8000000 to 0x8100000 ). while debugging I could see that it was failing in flash_page_layout function in file **

[2022-11-09 11:49] vidarbe opened #52105 "Bluetooth: make the stacksizes for the ECDH processing thread and BT workqueue user configurable"
**Is your feature request related to a problem? Please describe.**
One of our users experience stack overruns in the ECDH processing thread and in the BT workqueue after they enable debugging options in their build, but they can't increase the stack sizes because the BT_LONG_WQ_STACK_SIZE and the BT_CTLR_ECDH_STACK_SIZE symbols are defined without a prompt.

**Describe the solution you'd like**
I

[2022-11-09 13:17] aectaan opened #52111 "Incompatible LTO version of liblt_9518_zephyr.a"
Target: TLSR9518ADK80D
Zephyr versions:  v3.2.0, main.
Host OS: Ubuntu 22.04
[code]
Reproduce:
add `CONFIG_FPU=y` to zephyr/boards/riscv/tlsr9518adk80d/tlsr9518adk80d_defconfig
[code]

Expected: successful build

[2022-11-09 13:35] gregshue commented on #51621
@nordicjm Thank you for the comments.  I should not have referenced an open PR.  The files moved and may move again. Fortunately, this module currently has only one sample beneath `$mcuboot/zephyr/samples/`.  I ended up mistyping the path to the sample-specific `boards/` subdirectory, but the issue requires that directory to be removed anyway.  When I applied the pattern of changes to the current

[2022-11-09 13:56] sevirip commented on #51370
But why do you expect  SENSOR_CHAN_PRESS  in kPa instead of hPa ?
Maybe there is another change to do this modification, but for this sensor driver there is something wrong because there is a big loss of precision.
I used an other driver in NRF5 SDK 17 with the same HW and i have a really better precision....
Also the pressure is used in hPa in many formula and not in kPa.

[2022-11-09 14:01] nordicjm commented on #52111
@carlescufi Query on this, the command above seems to imply that a closed source blob is being included in a hal repo - see https://github.com/zephyrproject-rtos/hal_telink/tree/main/tlsr9/ble/proj_lib

I was under the impression that blobs had to be fetched using `west blobs` and could not be included in the default zephyr instance?

[2022-11-09 14:20] #44055 closed

[2022-11-09 14:23] carlescufi opened #52113 "Binary blobs in `hal_telink` submodules"
[This PR](https://github.com/zephyrproject-rtos/zephyr/pull/45903) added support for Bluetooth in Telink platforms. However, this also [updated the manifest](https://github.com/zephyrproject-rtos/zephyr/blob/90577ee5d8b5ac6eea891134e16aad7b69e239dc/west.yml#L131-L134) with a revision that includes a [submodule with precompiled libraries](https://github.com/zephyrproject-rtos/hal_telink/pull/4/file

[2022-11-09 14:24] tejlmand commented on #52113
Fixed by: #52112
but maybe @yurvyn would like to post a PR which adopts to the approved bin blobs scheme:
https://docs.zephyrproject.org/latest/contribute/bin_blobs.html

[2022-11-09 14:48] ig-66 opened #52114 "Can't make JerryScript Work with Zephyr"
I'm simply not able to make JerryScript work with Zephyr. I have tried different processes with different outcomes:

### 1>
Tried running the command below (just like this [tutorial](https://github.com/jerryscript-project/jerryscript/tree/master/targets/os/zephyr)) in the `targets\os\zephyr`, but changing the toolchain in the CMakeLists:
[code]
Changes to the CMakeLists:
from this:
`--toolchain=${

[2022-11-09 16:15] gokultv-private commented on #52079
Thank you @rlubos . The http_get sample is working for me. This tells the core TLS library is not having any issue.

Interestingly, if I replace the http_get sample to connect our internal HTTPS server, we are seeing the same issue. I believe it is not to do with the certificate but with the default supported cipher suites from the client-side.

I've attached the following wireshark traces,
1. htt

[2022-11-09 16:25] jori-nordic commented on #14753
it's not actually a segger issue: here's my 'fix'
[code]

[2022-11-09 17:36] carlescufi commented on #52114
Hi @ig-66. Thanks for the detailed report. This however doesn't look like a Zephyr bug, but rather an integration issue with JerryScript. Would you mind moving the bug report there? Thanks!

[2022-11-10 02:09] kpyush commented on #52103
@Vinay96110 Could you add some more detail and reproduction steps to the description?

[2022-11-10 06:12] aectaan commented on #52111
@andy-liu-telink Could you please fix it? I would like to use main Zephyr repo instead of Telink fork

[2022-11-10 06:22] vibhor-meshram opened #52125 "Timer accuracy issue with STM32U5 board"
**Describe the bug**
I am using b_u585i_iot02a board and running samples/drivers/counter/alarm example on it. I modified the code to toggle a GPIO pin in the interrupt handler so that can be observed on DSO.

**Observation**
If alarm is configured for 1 ms (auto reload) the interrupt would trigger 5 us early. Attached is the DSO screenshot.

**Expected behavior**
The timer interrupt should trigger

[2022-11-10 08:19] FRASTM commented on #52103
could this have a link with https://github.com/zephyrproject-rtos/zephyr/pull/51525 ?

[2022-11-10 08:24] Casper-Bonde-Bose commented on #52055
Exactly - this is what I was trying to communicate. The payload is 251 octets, but header and optional timestamp means the HCI buffer needs to be larger than 251. But perhaps the values from read_buffer_size_v2 is used wrong in the host - but how will the host know what the HCI limit is - or can it just assume that it is OK to send 259 bytes ISO packets over HCI (251 bytes of Data_Load)?

So there

[2022-11-10 08:26] rlubos commented on #52079
The ciphersuites avaialble depend on the mbed TLS configuration (https://github.com/zephyrproject-rtos/zephyr/blob/main/modules/mbedtls/Kconfig.tls-generic), if you know exactly which ciphersuite is expcted from the client you can enable specific configs, otherwise you could try to enable everything ([here's an example](https://github.com/zephyrproject-rtos/zephyr/blob/main/tests/benchmarks/mbedtl

[2022-11-10 08:28] #51297 closed

[2022-11-10 08:31] Casper-Bonde-Bose commented on #52055
@cvinayak The point is not to catch up. If there is no data for a specific BIS event to be sent one cannot simply catch up. I understand that in the sample application data flow will stop after 18*400 iterations - but in the real application the transmission of new data is not triggered by the call-back, but availability of new data from the audio subsystem.

[2022-11-10 09:03] anangl commented on #52057
The test does not hang. It just needs 60 minutes to complete (as the message says: "still running, would pass at 3600 s"). It is properly marked: https://github.com/zephyrproject-rtos/zephyr/blob/9b7d3657c9f715e2e47466c2a6e009e21688e43e/tests/kernel/timer/starve/testcase.yaml#L3 and when called with the command mentioned above, slightly corrected to:
[code]
the test is skipped, so I don't see an i

[2022-11-10 09:22] hakehuang opened #52131 "tests-ci : kernel: timer: starve test No Console Output(Timeout)"
**Describe the bug**
    starve test is No Console Output(Timeout) on zephyr-v3.2.0-1326-ge2cd634185c6 on mimxrt1170_evk_cm7

    see logs for details

    **To Reproduce**
    1.
[code]
    2. See error

    **Expected behavior**
    test pass

    **Impact**

    **Logs and console output**

[code]

    **Environment (please complete the following information):**
     - OS: (e.g. Linux )
     -

[2022-11-10 09:25] hakehuang commented on #52131
@dleach02 , @mmahadevan108

[2022-11-10 09:37] Thalley commented on #52055
The value read from `read_buffer_size_v2` does not contain the HCI ISO Data packet header. `5.4.5 HCI ISO Data packets` defines the header to only be the 4 octets that contain this:

![image](https://user-images.githubusercontent.com/2520413/201054160-b0d4e7b2-1139-44ff-8f44-50a586675dc9.png)

The timestamp (4 octets) are part of the ISO_Data_load.

So if the buffer read is 251, then you can send

[2022-11-10 09:42] anangl commented on #52057
It looks like I was a bit too quick with making this statement and closing the issue. `timeout: 3600` added in `testcase.yaml` could probably solve the problem. I'll create a PR with such patch.

[2022-11-10 10:01] FRASTM commented on #52125
Do you get a better accuracy with LSE 32768 kHz as RTC clock source by :
CONFIG_COUNTER_RTC_STM32_CLOCK_LSE=y
CONFIG_COUNTER_RTC_STM32_CLOCK_LSI=n

[2022-11-10 10:08] #52021 closed

[2022-11-10 10:08] #51653 closed

[2022-11-10 10:08] #51714 closed

[2022-11-10 10:08] #52022 closed

[2022-11-10 10:11] #51713 closed

[2022-11-10 10:26] AndrewAWG97 commented on #8139
any news about the driver .. thanks in advance

[2022-11-10 10:33] tautologyclub commented on #8139
So what happened was that we did like 60-70% of a driver, then our customer decided to use another accelerometer. We still have plans to finalize and upstream our work, but obviously the urgency is slightly lower now. I can push a WIP pull request if you're in a hurry though?

[2022-11-10 10:38] cvinayak commented on #52055
I am referring to the lost `stream` pointer in calls to `stream_sent_cb` when the callback does not call `bt_audio_stream_send`. I.e. everytime `bt_audio_stream_send` is skipped will reduce the successive number of `stream_send_cb` callback returning.

The controller is not using sequence number yet, hence controller does not delay SDUs based on sequence number. Integration with ISOAL is work in p

[2022-11-10 11:23] avisconti commented on #51370
To be honest I don't know. What I se is that in include/zephyr/drivers/sensor.h in sensor_channel we have

   	/** Pressure in kilopascal. */
	SENSOR_CHAN_PRESS,

I'm not sure how to overcome to this. What driver is using hPa?

[2022-11-10 11:34] #47274 closed

[2022-11-10 11:34] #45891 closed

[2022-11-10 11:34] #50923 closed

[2022-11-10 11:45] cvinayak commented on #52055
@Thalley Application is sending 251 bytes, hence the controller needs to return `ISO_Data_Packet_Length`  as 255 (for without `Time_Stamp`) to support 251 byte `ISO_SDU_Fragment` in the `ISO_Data_Load` field. Host is correct in its implementation, controller needs Kconfig to be used correctly to return 259 so that it is capable of receiving `ISO_Data_Load` with and without the `Time_Stamp` from ho

[2022-11-10 12:17] wojciechslenska opened #52139 "ppp modem doesn't send NET_EVENT_L4_CONNECTED event"
**Describe the bug**
In the current zephyr version, ppp modem doesn't send the event `NET_EVENT_L4_CONNECTED`, and the network is not working. The issue is related probably to the following pull request https://github.com/zephyrproject-rtos/zephyr/pull/51240

**Test setup**
 gsm_modem sample with the following extra configuration
[code]

**Proper behavior**
Test on zephyr version cf23b312c350 whic

[2022-11-10 12:25] carlescufi commented on #51774
@foldl our goal is to make the Bluetooth stack thread-safe: i.e. callable from preemptible threads. This means that issues like the one you describe here are real bugs and will be treated as such. Would you mind sending a PR to fix this particular issue, and then we will fix the others one by one as we find them.

[2022-11-10 12:26] carlescufi commented on #51774
@theob-pro and @alwa-nordic will send a documentation PR.

[2022-11-10 12:34] carlescufi commented on #52105
`BT_LONG_WQ_STACK_SIZE ` should have a prompt since application code may execute in this context. The alternative is to ask the user to define an `app/Kconfig` and override the stack size there.
`BT_CTLR_ECDH_STACK_SIZE ` is an NCS option and should have a different default when `CONFIG_NO_OPTIMIZATIONS` is enabled.

[2022-11-10 13:14] Thalley commented on #52055
Agreed.

I also think we can improve the documentation in the host w.r.t. this; it isn't clear that a ISO buffer size of e.g. 251 means that "only" 243/247 (depending on timestamp) SDU size can be used.

[2022-11-10 13:48] #49234 closed

[2022-11-10 13:51] rlubos commented on #52139
Given the workaround you've provided and `CONFIG_PPP_NET_IF_NO_AUTO_START=y` in your config file I assume that the PPP interface is not brought up. You need to either call `net_if_up()` manually from your application or disable `CONFIG_PPP_NET_IF_NO_AUTO_START` if you want the interface to start automatically.

[2022-11-10 14:25] nordicjm opened #52154 "mgmt: mcumgr: Add Kconfig to automatically register handlers and mcumgr functionality"
**Is your enhancement proposal related to a problem? Please describe.**
At present, mcumgr requires command handlers register their functionality manually and then mcumgr is started manually. This can be started using a sys init at bootup to simplify this

**Describe alternatives you've considered**
Leave registration as manual

[2022-11-10 15:00] wojciechslenska commented on #52139
When I disable this flag `CONFIG_PPP_NET_IF_NO_AUTO_START` situation looks similar, but in that case, my workaround is also not working.
***old zephyr***
[code]
**new zephyr**
[code]
Also please noticed that I enable my modem manually using the command `modem resume` which call `gsm_ppp_start` function.

[2022-11-10 15:26] rlubos commented on #52139
@wojciechslenska Can you please enable `CONFIG_NET_IF_LOG_LEVEL_DBG=y` and `CONFIG_NET_CONNECTION_MANAGER_LOG_LEVEL_DBG=y` and post the logs? It should shed some light on what's going on under the hood.

[2022-11-10 15:44] rlubos commented on #52139
That's with `CONFIG_PPP_NET_IF_NO_AUTO_START=y`, I'm interested to see what's happening if the option is disabled (interface is brought up on boot). Currently the second log just shows that the interface remains in the admin DOWN state (but the carrier goes ON which is a good sign).

[2022-11-10 15:48] wojciechslenska commented on #52139
[code]
log
[code]

[2022-11-10 20:02] tristan-google opened #52167 "twister: Mechanism to pass CLI args through to ztest executable"
Individual test executables built with ztest have a number of useful settings that can be configured using CLI args. These include setting the seed for the test shuffler, filtering test suites and cases, adjusting the execution time, etc...:

[code]

Currently, Twister's own CLI has a `--seed` option that gets passed down to the tests, but there does not appear to be a mechanism for passing other

[2022-11-10 21:40] thedjnK commented on #52113
@interfer

[2022-11-10 22:58] eanderlind opened #52169 "Mesh provisioning static OOB incorrect zero padding"
https://github.com/zephyrproject-rtos/zephyr/blob/f98a240537f34da826f4dc6eb95f63b4e8bb845b/subsys/bluetooth/mesh/prov_device.c#L162

`
if (atomic_test_bit(bt_mesh_prov_link.flags, OOB_STATIC_KEY)) {
		memcpy(bt_mesh_prov_link.auth + 16 - bt_mesh_prov->static_val_len,
		       bt_mesh_prov->static_val, bt_mesh_prov->static_val_len);
		(void)memset(bt_mesh_prov_link.auth, 0,
			     sizeof(bt_mesh_p

[2022-11-11 03:01] zeyingzheng-linux commented on #52094
Thanks for your response , I tried your patch and it works for me , but I don't know whether I use the patch in a right way .

I always follow the instructions in boards/arm/stm32mp157c_dk2/doc/stm32mp157_dk2.rst , So I download the stm32mp1 developer package , and here are my steps :
[code]

Then I can get the expected behavior when I add your patch on stm32mp1 developer package :
[code]
========

[2022-11-11 05:38] vibhor-meshram commented on #52125
@FRASTM This configuration works. But I need microseconds accuracy. With RTC 1sec = 1 tick.  So instead of RTC I have configured timer2 as counter. Using timer2 I am getting the results shown above.

[2022-11-11 06:09] vibhor-meshram commented on #52125
@FRASTM This works. But I need microsecond accuracy. With RTC 1sec = 1 tick. So instead of RTC I configured timer2 in this example. Using timer2 I get the results shown above.

[2022-11-11 08:41] #51153 closed

[2022-11-11 08:42] jerryyang35 opened #52171 "Inappropriate l2cap channel state set/get"
**Describe the bug**
`void bt_l2cap_chan_set_state(struct bt_l2cap_chan *chan, bt_l2cap_chan_state_t state)`
`static inline bt_l2cap_chan_state_t bt_l2cap_chan_get_state(struct bt_l2cap_chan *chan)`
`void bt_l2cap_chan_set_state_debug(struct bt_l2cap_chan *chan, bt_l2cap_chan_state_t state, const char *func, int line)`
In above API, the state of l2cap channel is only handle by `BT_L2CAP_LE_CHAN`.

[2022-11-11 08:48] #52113 closed

[2022-11-11 10:10] tejlmand commented on #52105
This is a topic to which there is not a clear answer.

Having sane calculated defaults on cases like this is very important, and something has definitely gone wrong if the default stack sizes does not consider optimization level (debug).

Of course having a prompt is a easy solution and is used generally by stack sizes in the kernel:
https://github.com/zephyrproject-rtos/zephyr/blob/main/kernel/Kc

[2022-11-11 12:03] #52057 closed

[2022-11-11 13:07] koffes commented on #47296
As linked, this will be resolved by #49720.
The SD card is accessible using standard upstream drivers.
Using the Jack/analog input is dependent on third party drivers with dependencies. There is no plan to upstream these at present time, so we encourage users to go to https://github.com/nrfconnect/sdk-nrf for full support.

The binary controller will be in the NCS repo, yes.

[2022-11-11 14:35] gokultv-private commented on #52079
Thank you @rlubos . Once we enable all the cipher suites in mbedtls config, we are not seeing issues even with big_http_download!

But with our private server, when we connect we see the client_hello & server_hello, certificates - but after than the client is rejecting with the error 'bad certificate'.
Our private server's root certificate is from 'Entrust Root Certification Authority (G2)', seria

[2022-11-11 17:10] ClaCodes commented on #51951
Had the same issue and agree with the suggestion to patch the "getting started"-guide for now.

[2022-11-11 17:11] jhedberg commented on #26109
We decided to go with with a centralised single scan of PCIe devices that builds a table of VID/DID and matching BDF values for all discovered devices. This means that the `reg` property is no-longer used in PCIe DTS nodes, i.e. merging the PR #52107 should resolve this issue.

[2022-11-11 20:55] JamesBeckley-eaton commented on #39640
Any updates on this?

[2022-11-11 21:35] thiagohd commented on #37346
Can you share your solution please?

[2022-11-11 21:36] thiagohd commented on #37346
@honestech74 Can you share your solution please?

[2022-11-11 21:52] honestech74 commented on #37346
@thiagohd You can use the [Pin Control](https://docs.zephyrproject.org/latest/hardware/pinctrl/index.html#pinctrl-guide) from zephyr v3.1.0.

In the past, I set the gpios to `GPIO_DISCONNECTED` like `tx-enable-gpios` and `rx-enable-gpios` on `nucleo_wl55jc` board. Like this:
[code]
You might need the additional GPIOs due to your board and can add the low power stuff to your PM. Please take a look

[2022-11-12 00:33] #47500 closed

[2022-11-12 07:03] aks-bit opened #52181 "ADC Channel SCAN mode for STM32U5"
Hi

I am working with zephyr project to develop a platform.
I need to access ADC channel in scan mode with DMA.
Can any one help on this.

Thanks!

[2022-11-13 12:16] AndrewAWG97 commented on #8139
I will be more than thankful if you send me the basics of of the driver as I don't a fully implemented one.

[2022-11-13 12:54] zafersn commented on #34049
Hi folks, is there any solution to this issue?

[2022-11-14 05:43] LSChyi opened #52186 "Add options for handling pending bit when enabling/disabling GPIO interrupt"
**Is your feature request related to a problem? Please describe.**
Currently the gpio driver only exposes an API `pin_interrupt_configure` for enabling/disabling the interrupt, yet this function did not specify the detailed behavior for whether the pending bit is cleared.
This causes the application behaves differently when using different chips. It would be nice to have the ability to control the

[2022-11-14 07:08] maxstreitberger opened #52189 "Flash file system not working on stm32h735g_disco"
**Describe the bug**
I'm trying to use the [usb/mass](https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/subsys/usb/mass) sample to create a file system on the external flash of the `stm32h735g_disco` board. I have followed the [documentation](https://docs.zephyrproject.org/latest/services/storage/disk/access.html) and created a block device for the flash partition.

[code]
My whole fl

[2022-11-14 08:03] hakehuang opened #52190 "[lpcxpresso55s28] flash range starts from Secure address which is not compatible with latest Jlink(v7.82a)"
**Describe the bug**
in lpcxpresso55s28 dts config, starts from 0x10000000

build/zephyr/include/generated/autoconf.h:13:#define CONFIG_FLASH_BASE_ADDRESS 0x10000000
[code]
which is a Secure address and Jlink V7.82 does not support flash to this address. see below error

[code]
and write to 0x0 works.

Please also mention any information which could help others to understand
the problem you're fac

[2022-11-14 08:04] hakehuang commented on #52190
@dleach02 , @mmahadevan108

[2022-11-14 08:24] tautologyclub commented on #8139
https://github.com/zephyrproject-rtos/zephyr/pull/52193

[2022-11-14 08:42] jhedberg commented on #52171
BR/EDR is an experimental feature of the Zephyr Bluetooth stack, and not very well supported. You are welcome to propose a fix through a poll request, if you want.

[2022-11-14 09:12] FRASTM commented on #52125
In that case would you be able to compare what is written to the timer2 autoreload register compared to the 1ms value.
Maybe be the conversion factors from ms to ticks and from ticks to timer2 counter units inducing an uncertainty.

[2022-11-14 09:40] Thalley opened #52195 "Bluetooth: GATT: add_subscriptions not respecting encryption"
**Describe the bug**
When a device is connected, `bt_gatt_connected` is called and if the GATT client role is enabled, `add_subscriptions` is called as well.

The function contains this part
[code]

Which seems to be a workaround to restore the CCCD values on remote device.

There are two issue with this:
1) This does not take into account that some characteristics require encryption before we can

[2022-11-14 09:49] omkar3141 opened #52196 "Calling `bt_le_ext_adv_stop()` can causes failures in connections when support for multiple connections are enabled"
**Describe the bug**
If two connectable advertisers are running, and one peer device connects, and if "bt_le_ext_adv_stop()" is called from the 'connected' callback, it causes issues in the host that will cause failure to establish a subsequent connection from another peer. The bt_le_ext_adv_stop(), when called on an already stopped advertiser, should not cause a host to mess up its internal state

[2022-11-14 09:53] arnopo commented on #52094
my fault, I didn't clean the doc properly

With PR, you no longer have to use the stm32mp1 SDK for the openocd. ` west attach` will load the` openocd`.
I also notice an error in my patch that not point to the openocd.cfg.
So please reinitialize your environment out of the stm32mp1 SDK and reapply the updated PR.
my output information:
[code]

[2022-11-14 09:55] alxelax commented on #52169
Hi @eanderlind, I think the current implementation does exactly what the specification claims. Let's take a look at the subclause `5.4.2.4 Authentication`.
Spec doesn't claim Static OOB is Numeric or Alphanumeric value. Static OOB is just some binary value.
Then take a look at samples how to build 128-bit AuthValue from different OOB types.

For Numeric type:
[code]
For Alphanumeric type:
[code]
F

[2022-11-14 10:10] enjiamai commented on #51233
Close it because this is triggered successfully manually on UP2.

[2022-11-14 10:10] #51233 closed

[2022-11-14 10:11] arbrauns opened #52198 "Add modification time to fs_dirent"
**Is your enhancement proposal related to a problem? Please describe.**
There currently seems to be no way to retrieve a file's modification time through the FS subsystem APIs.

**Describe the solution you'd like**
The FS subsystem APIs expose file modification times.

**Describe alternatives you've considered**
While it is possible to circumvent the FS subsystem entirely and use the underlying fi

[2022-11-14 10:12] #51731 closed

[2022-11-14 10:18] rlubos commented on #52079
Did you set the hostname with `TLS_HOSTNAME` socket option accordingly? Note, that by default hostname verification is enabled and is a part of the certificate check (it must much the target certificate CN field). This check can be disabled by providing NULL pointer to the `TLS_HOSTNAME` socket option.

You can also try to enable mbed TLS logs (https://github.com/zephyrproject-rtos/zephyr/blob/mai

[2022-11-14 10:55] nordicjm commented on #52101
The error might be wrong, but the failure is expected, you can't notify > 20 bytes unless you use DLE. Try with the latest version of zephyr on main branch and see if you see the same issue, if it does not return that error, then this bug can be closed. If you then try on the latest version of nRF connect SDK and see the issue, please report this to nordic on https://devzone.nordicsemi.com/ not he

[2022-11-14 10:59] FRASTM commented on #52189
@maxstreitberger could you please share what you mean by "removed the usb code from the sample"
also could you take https://github.com/zephyrproject-rtos/zephyr/pull/47962 and check

[2022-11-14 11:37] #51546 closed

[2022-11-14 11:53] nylnx opened #52204 "Allow setting thread name during creation"
It would be nice if it was possible to set the thread name during the creation of a thread, even with a runtime API call. `K_THREAD_DEFINE` already does it implicitly.

Would probably require a new API call with the name argument exposed and gated by `CONFIG_THREAD_NAME`.

[2022-11-14 12:05] dbaluta commented on #41900
@chojpsh1 we at NXP are looking at this. ETA mid 2023.

Cc: @LaurentiuM1234

[2022-11-14 12:07] #52196 closed

[2022-11-14 12:23] IvanVnucec commented on #52101
Because I'm not using Zephyr directly but trough the nRF Connect SDK I don't know how to run zephyr on the main branch.
Secondly, I think that somewhere in the function documentation should be written that the function cannot notify > 20 bytes, and that should be reported with the proper error (if it isn't already reported on the main branch).

[2022-11-14 12:25] Casper-Bonde-Bose commented on #52055
@cvinayak  Just to be sure the main point of this issue is not missed. The adjustment of the ISO Buffer was just needed to support the "real application" that requires 251 byte PDU's - I do not suspect that adjustment is causing the issues.
The main issues (the 3 bullet points) are that the Zephyr controller seems to skip some TX events, use wrong timing and seems to transmit on wrong channels.

[2022-11-14 13:00] maxstreitberger commented on #52189
@FRASTM here is what I removed:
prj.conf:
[code]
Kconfig:
[code]
main.c:
[code]

[2022-11-14 13:23] FRASTM commented on #52189
Then what I get is
[code]

[2022-11-14 13:36] MariuszSkamra commented on #51796
Another option is to make a `bt_audio_stream` object to be related 1:1 to CIS (Connected Isochronous Stream). It would be straightforward to the user that is familiar with Core specification. We would not need to `pair` the streams as the `bt_audio_stream` would represent either unidirectional or bidirectional CIS.
Currently stream somehow wraps the `struct bt_audio_ep` endpoint.

[2022-11-14 13:43] theob-pro commented on #50658
We can't reproduce it with the Zephyr controller nrf52840.
You can see `bt_gatt_notify` completing in ~140us.
![image](https://user-images.githubusercontent.com/115782828/201674737-81cfcb33-19cd-441a-aa11-c660ac33df8a.png)

[2022-11-14 14:13] jeppenodgaard opened #52211 "MCUX based QDEC driver"
**Is your enhancement proposal related to a problem? Please describe.**
I would like to read a quadrature encoded signal on an imxrt1052.

**Describe the solution you'd like**
Implement driver supporting NXP's QDEC driver.

**Additional context**
Link to NXP's driver:
https://github.com/zephyrproject-rtos/hal_nxp/tree/master/mcux/mcux-sdk/drivers/enc
Link to similar PR:
https://github.com/zephyrpr

[2022-11-14 15:24] flo-carrere commented on #50658
@theob-pro

OK thanks for the effort but I'm not sure comparing time is sufficient to state you can't reproduce the issue.
Still your result is 3-10 times longer than my results after "fix" (~14/50us).

After all, 140us to serialize 3 bytes is a bit long isn't it?

Can you provide additional details?
- What is the Zephyr version you used? (Was using v3.0.0)
- What is your host controller? and freq

[2022-11-14 15:26] #51788 closed

[2022-11-14 15:38] benediktibk opened #52216 "spi_transceive with DMA on a STM32 slave returns value incorrect"
**Describe the bug**
When executing spi_transceive with DMA on a STM32 slave the return value is zero for a success, although it should be the number of received bytes.

**To Reproduce**
CONFIG_SPI=y
CONFIG_SPI_SLAVE=y
CONFIG_SPI_STM32_DMA=y

**Expected behavior**
The return value should be the number of received bytes.

**Impact**
Number of actually received bytes is unknown.

**Logs and console

[2022-11-14 15:55] tpennors opened #52218 "ADC read locked forever with CONFIG_DEBUG_OPTIMISATION=y on STM32U5"
**Describe the bug**
ADC read locked forever with `CONFIG_DEBUG_OPTIMISATION=y` on STM32U5
I used gdb to analyse this. I saw that the code gets locked in :
`drivers/adc/adc_context.h: k_sem_take(&ctx->sync, K_FOREVER);`
I checked and `adc_stm32_isr` is never called.

When using `CONFIG_NO_OPTIMISATION=y`, everything is fine.

**Temporary fix**
I found a temporary fix but I would like to understand

[2022-11-14 15:58] MeisterBob opened #52219 "jlink runner doesn't flash bin file if a hex file is present"
**Describe the bug**
If you try to flash a binary using `west flash -r jlink --bin-file path/to/my.bin` but have `CONFIG_BUILD_OUTPUT_HEX` enable the jlink runner will always flash the generated .hex file and ignore the .bin file it got explicitly given in the call.

**To Reproduce**
See description

**Expected behavior**
if `--elf-file`, `--hex-file` or `--bin-file` argument is present west shoul

[2022-11-14 16:05] aks-bit commented on #52181
Hi Erwan,

Can you comment on this.

[2022-11-14 16:20] nordicjm commented on #52219
If you're flashing a bin, why not disable hex output, since you aren't using it?

[2022-11-14 16:21] nordicjm commented on #52218
Probably a stack overflow, increase the stack sizes and try again

[2022-11-14 16:37] nylnx opened #52223 "native port: Mirror the zephyr thread name onto native threads"
The idea is to have the thread name mirrored from the zephyr task struct into the native OS thread name. It would make debugging easier, since there is no second guessing which thread is which.

From my research the only portable/posix way to set the thread name `prctl(PR_SET_NAME, "...")`, which can only set the thread name of the currently executing thread. In posix-zephyr-land, this only enable

[2022-11-14 16:47] MeisterBob commented on #52219
That's correct, but why should west flash the hex when the user explicitly asked to have the bin flashed?

[2022-11-14 16:51] stephanosio commented on #52223
cc @cfriedt

[2022-11-14 16:58] cfriedt commented on #52223
@SkryptX - it's actually already done the second way that you mentioned, via `pthread_setname_np()`. You just need `CONFIG_THREAD_NAME=y`.

See `lib/posix/pthread.c`.

From what I gather, `prctl()` is a linuxism.

[2022-11-14 17:00] zeyingzheng-linux commented on #52094
Thanks for your reminder, after patching PR , it works fine with command `west attach` if I don't use stm32mp1 SDK.

And sometimes, I want to use command `west debug`, so that I can set up a breakpoint in a boottime function such as “z_arm_prep_c”.  But there will be different behaviors whether I using stm32mp1 SDK . pls let me show you :

version use stm32mp1 SDK :
1) Preload firmware
2) Start op

[2022-11-14 17:13] eanderlind commented on #52169
Hi @alxelax,
Agree that alphanumeric and staticOOB shall have same format.

In prov_device.c lines 162+  the buffer bt_mesh_prov_link.auth is set for staticOOB by **prepending zeros**

In prov.c for the case of input_alphanumeric
  1. the function get_auth_string() on lines 162-163 creates the expected result by **appending zeros**
  2. in bt_mesh_input_string() on line 316, copies the string to b

[2022-11-14 17:16] SkryptX commented on #52223
@cfriedt I actually want the reverse of that :P I wish that Zephyr would set the thread names I set in Zephyr to be mirrored onto a POSIX thread, in my case Linux. So I don't want to use Zephyr with Posix, I want Zephyr to use Posix.

Use case: I want to debug my Zephyr application on my Linux host and see the Zephyr thread names :)

[2022-11-14 17:27] Laczen commented on #52189
@maxstreitberger if you use a sector-size of 4096 you will use the disk as if it has a sector-size of 4096 byte instead of the fat standard 512byte. I don't think you want this. The cache-size is what you want to be equal to the flash sector-size.

[2022-11-14 17:58] cfriedt commented on #52223
Yes, that is how the POSIX subsystem currently works (both forward and in reverse).

It's possible that you're confusing `CONFIG_ARCH_POSIX` and `CONFIG_POSIX_API`.

Note, they are mutually exclusive at the moment (you cannot use Zephyr's POSIX subsystem currently when building for `native_posix`).

It is unlikely that this will ever be fixed for the POSIX arch.

[2022-11-14 18:09] gokultv-private commented on #52079
Thank you very much @rlubos . I found the root-cause. The issue is our server's (target) certificate CN field is different from its hostname (found it via wireshark). Surprisingly, the Windows/Google-browser UI is showing the actual hostname (when compared to the wireshark & mbedtls logs).

Until, our IT team fixes this certificate issue, I'm disabling the hostname verification.

PS:- let me know

[2022-11-14 18:09] #52079 closed

[2022-11-14 18:36] PatrickM-ZS commented on #35986
I'm also running into this issue. Trying to build external library with CMake ExternalProject, passing along Zephyr build parameters, doesn't seem to work well when both newlib and posix api support are enabled. Any guidance from Zephyr devs or hints for further debugging are welcome.

These are set internally by newlib headers (sys/features.h). The only way I can successfully omit that is with -n

[2022-11-14 18:46] arnopo commented on #52094
I don't reproduce your issue on my board.
seems strange that you use same openocd version in both case?
I'm using Open On-Chip Debugger 0.11.0+dev-00724-g42b6471c1 (2022-08-17-18:23) provided in the Zephyr zephyr-sdk-0.15.0

[2022-11-14 21:27] stephanosio opened #52226 "Regulate GNUism in Zephyr codebase"
## Preface

Zephyr codebase currently contains many "GNUisms" (GCC-specific constructs) in the assembly and C code because the majority of its developers use the GCC compiler and the upstream CI uses the Zephyr SDK toolchain, which is based on the GCC compiler, to test the submitted patches.

The extensive use of GNUisms throughout the Zephyr codebase creates various portability issues, especially

[2022-11-14 21:28] stephanosio commented on #11594
To be tracked in https://github.com/zephyrproject-rtos/zephyr/issues/52226

[2022-11-14 21:28] #11594 closed

[2022-11-14 23:22] SkryptX commented on #52223
I maybe should have said native port instead of POSIX. I was always talking about the native port and `CONFIG_ARCH_POSIX` and never `CONFIG_POSIX_API`. So if I execute Zephyr with the something like `native_posix` I would like it to mirror the thread names onto the native thread names (for example on Linux `/proc/<pid>/task/<tid>/comm`).

[2022-11-14 23:39] laxiLang opened #52228 "Bluetooth: L2CAP: receive a K-frame with payload longer than MPS if Enhanced ATT enabled"
**Describe the bug**
According to BLUETOOTH CORE SPECIFICATION Version 5.3 | Vol 3, Part A, 3.4.3 Information Payload field

However, this will not happen if EATT enabled after https://github.com/zephyrproject-rtos/zephyr/commit/5f8e657a22162f2842ec6a2042fddcc801d21444. The reason is whenever the L2CAP connection completes, `bt_att_connected` will be called. If EATT is enabled, the L2CAP tx.MPS an

[2022-11-15 00:30] #44377 closed

[2022-11-15 02:55] cvinayak commented on #52055
Attached is the simulation trace of your patch, and I do not observe any BIG event timing issue. Overlapping advertising event are present (#52093 has changes to adv interval to avoid overlaps, I am not using it to simulate your behavior) and due to bug in your patch to skip calls to  `bt_audio_stream_send` which looses generation of `stream_sent_cb`, eventually Controller gets no new ISO data to

[2022-11-15 03:31] zeyingzheng-linux commented on #52094
`west debug` command works fine in your environment, right ?

I used openocd provided in  stm32mp1 SDK in first case :
[code]
And I used openocd provided  in the zephyr-sdk-0.15.1 in second case :
[code]

And I use ST-LINK
[code]

If I replace the openocd bin file of case 2 with that of case 1 , I found openocd start fail :
[code]

[2022-11-15 06:08] maxstreitberger commented on #52189
@FRASTM I looked into https://github.com/zephyrproject-rtos/zephyr/issues/49406 to see how I can fix the `flash_stm32_ospi: OSPI wr in OPI/STR mode is for 32bit address only` error and I found out that I need to change line `1469` in `zephyr/drivers/flash/flash_stm32_ospi.c` to
[code]
Which is also done in https://github.com/zephyrproject-rtos/zephyr/pull/47962

[2022-11-15 06:11] maxstreitberger commented on #52189
But I still get multiple flashdisk initializations, which is a bit odd
[code]

[2022-11-15 06:16] maxstreitberger commented on #52189
@Laczen I initially thought that `sector-size` and `page-size` meant the same thing, so that is the reason why I had `sector-size = <4096>`

[2022-11-15 07:40] tejlmand opened #52234 "Improve Zephyr SDK package lookup"
**Is your enhancement proposal related to a problem? Please describe.**
The Zephyr SDK is located using `find_package()` with search order natural and descending.
https://github.com/zephyrproject-rtos/zephyr/blob/27ec69eca183887c6b3948b3e92b8cc4f935532e/cmake/modules/FindZephyr-sdk.cmake#L48-L49
https://github.com/zephyrproject-rtos/zephyr/blob/27ec69eca183887c6b3948b3e92b8cc4f935532e/cmake/module

[2022-11-15 07:55] lpawelcz opened #52235 "counter_basic_api test fails to build on STM32 platforms"
`tests/drivers/counter/counter_basic_api` fails to build in CI on platforms:
* stm32f103_mini
* nucleo_l4a6zg
* nucleo_f103rb

This happens on current `main` branch (27ec69ec) and in CIs (see: https://github.com/zephyrproject-rtos/zephyr/pull/50352/checks?check_run_id=9478691624). The issue is caused by warnings about deprecated Kconfigs

**To Reproduce**
Steps to reproduce the behavior:
1. checko

[2022-11-15 08:33] Casper-Bonde-Bose commented on #52055
@cvinayak I'll be happy to send you the air-trace - I just don't see a way to attach an air-trace to a github issue. I have tried to reach you on Discord to share it that way, but it seems I need you to accept a friend request to be able to send you a message with the trace?
The issue happens already after 2 BIG events - hence you don't need it to run for long - and I think your fix in my patch wi

[2022-11-15 08:33] erwango commented on #52181
@aks-bit Similar request was raised here: https://github.com/zephyrproject-rtos/zephyr/issues/39640.
I'd suggest to follow up from there.
I'm closing current request

[2022-11-15 08:33] #52181 closed

[2022-11-15 08:40] vibhor-meshram commented on #52125
@FRASTM I am using 159 pre-scaler in my .overlay file. As per that 1000 us = 1000 ticks (this I got from counter_us_to_ticks() api ) and value of CCR1 register is 1001.

`*** Booting Zephyr OS build zephyr-v3.1.0-21-gf6d4aba54f53  ***`
`Counter alarm sample`
`Set alarm in 0.000000 sec (1000 ticks)`
`Timer Control CCR1 = 1001`

[2022-11-15 09:07] Casper-Bonde-Bose commented on #52055
I just noticed that you attached an air-trace in your comment, I was looking for a button to upload a file - you just need to drag the file into this window :-)
Here the trace:
[Zephyr_crtl_broadcast_issue.zip](https://github.com/zephyrproject-rtos/zephyr/files/10011036/Zephyr_crtl_broadcast_issue.zip)

I see your trace do not have the same "scrambled" PDU order as when I run it - which is kind of

[2022-11-15 11:08] rillbert opened #52242 "Fatal exception LoadProhibited from mcuboot when enabling newlib in wifi sample (esp32)"
Hi,

The current main branch of mcuboot on an esp32 gives me a 'Fatal exception (28): LoadProhibited' when trying to run `samples/net/wifi/` after enabling newlib. (similar to #46093).

My target platform is esp32 in the form of a ESP-DevkitC v4 dev board with the ESP-WROOM-32UE module with 4MB flash.

### This succeeds
- build mcuboot from current main branch (36bac4f6a54a3) for the esp32 platfor

[2022-11-15 11:29] wojciechslenska commented on #52139
@rlubos I checked your fix, unfortunately not working
***config***
[code]
***log***
[code]
***config***
[code]
***log***
[code]

[2022-11-15 11:39] rlubos commented on #52139
That's a pity. Unfortunately, w/o a hardware I don't really see a way to investigate the issue further. Can you please check if reverting https://github.com/zephyrproject-rtos/zephyr/commit/dd535f611d6c81275e64f2fe849a033e7e49f8bb helps? Note, that `net_if_carrier_down()` no longer exists, so it'll have to be replaced with `net_if_down()`.

[2022-11-15 12:02] wojciechslenska commented on #52139
For the following setup everything is working
***setup***
Zephyr commit: dae6d2f84b47cd6c295296dde7dd7d97c40d652d
+ revert
[code]
+ changes
[code]

***config***
[code]
***logs***
[code]

***config***
[code]
***logs***
[code]

[2022-11-15 12:05] ahmedmoheb-nordic commented on #52056
No longer exist after rebasing.

It seemed to be related to the interval between receiving the "connected" callback and starting the next scanning procedure.
Before rebasing:

- The connection update request from the second connected peripheral was missed which is related to this issue https://github.com/zephyrproject-rtos/zephyr/issues/51984
- By introducing a delay between receiving the "connect

[2022-11-15 12:05] #52056 closed

[2022-11-15 12:13] jori-nordic commented on #50658
@flo-carrere
while I agree with your point that serializing 3 bytes shouldn't take that long, you should keep in mind that your chip is running at almost 8x the speed as ours (480MHz vs 64 on an nRF53840)

that said, to answer your questions:
- zephyr was latest main from a week ago
- host and controller are running off two nRF52840s
- main thread is prio 0 (default in zephyr) -> pre-emptive
- spi

[2022-11-15 12:14] #50953 closed

[2022-11-15 12:15] #51474 closed

[2022-11-15 12:18] #52094 closed

[2022-11-15 12:20] FRASTM commented on #52125
@vibhor-meshram that could help a lot if you could share your sample based on zephyr-v3.2.0

[2022-11-15 12:34] tpennors commented on #52218
Hello,

I tried to increase stack size and still doesn't work. Hardware interrupt is never received. I would have think of a timing between writing to registers which is not the same between optimizations. Did anyone see this kind of behaviour ?

[2022-11-15 12:46] nordicjm opened #52247 "[v2.7-branch] mgmt: mcumgr: image upload, then image erase, then image upload does not restart upload from start"
**Describe the bug**
If an image upload is started, then stopped, then an image erase command is sent, then image upload begins again, it wrongly starts from the previous position, which is invalid since the uploaded data has been erased.

**Expected behavior**
Upload to start from beginning

**Impact**
Showstopper

**Environment (please complete the following information):**
 - Commit SHA or Vers

[2022-11-15 13:04] flo-carrere commented on #50658
@jori-nordic

OK thanks for the clarifications, indeed it is strange.

Does this mean you are using two nRF53840? (1 as host and 1 as controller).

OK I'll try to provide that.

At this moment, I found myself not able to check whether the performances are similar using `hci_uart` rather than `hci_spi` driver as @carlescufi asked for at some point (expectation is that hci_uart does not suffer from

[2022-11-15 13:22] alxelax commented on #52169
yeah, seems, @eanderlind, you are right. I didn't consider this subclause.
[code]
Static OOB should append zeroes since spec sample is in big endian.
Thanks for this finding.

[2022-11-15 13:36] arnopo commented on #52094
Did you try to update your stlink firmware?
my STLink ( info get from the openocd logs) :
`STLINK V2J39M27 (API v2) VID:PID 0483:3752`

[2022-11-15 13:37] microbuilder commented on #43852
Required to enable CI testing of the Ethos-U55 in this PR, which is currently build only: https://github.com/zephyrproject-rtos/zephyr/pull/42580

[2022-11-15 13:50] jori-nordic commented on #50658
Hi, yeah we'll try with UART. Yeah we were using two 840s, 1 host 1 ctlr.
We've successfully reproduced the issue on the stm32f303re nucleo board (only fast stm32 I had).
Unfortunately it doesn't have trace pins so we'll have to make do without a trace probe, the investigation will be a bit longer.

[2022-11-15 14:02] kasjer opened #52253 "USB: Support for max packet size other then 64 for control endpoint"
### Max packet size hardcoded to 64 prevents usage of USB in SmartBond devices
Max packet size for control endpoint as described in USB specification
can be 8, 16, 32 and 64 for full speed devices.
Zephyr defines maximum value for this endpoint size in _usb_device.h_
[code]
This value is later used in _usb_descriptor.c_ and _usb_dfu.c_ when device descriptor is constructed.
This value is also used

[2022-11-15 14:08] IvanVnucec commented on #52101
Kconfig values in the provided link did not work for me. Also, I've set the following Kconfig values looking at the [throughput](https://github.com/nrfconnect/sdk-nrf/tree/main/samples/bluetooth/throughput) example:
[code]
and called the `bt_conn_le_data_len_update(ble_default_conn, BT_LE_DATA_LEN_PARAM_MAX);` function in the connected callback function in order to update BLE data length. The func

[2022-11-15 14:09] nordicjm commented on #52101
Then the remote device does not support DLE.

[2022-11-15 14:15] zeyingzheng-linux commented on #52094
I haven't tried to upgrade the firmware, here are STLink info capture from my openocd logs
···
Info : STLINK V2J29S7 (API v2) VID:PID 0483:3748
···

Maybe I'll just change to another board or STLink. But I am confused why `west debug` works fine when I used openocd version from stm32mp1 SDK in case 1.

[2022-11-15 14:15] de-nordic commented on #52189
People get confused by what sector-size and page-size do all the time...

[2022-11-15 14:20] IvanVnucec commented on #52101
What do you mean by saying `remote device`? Is it my nRF Connect android app in this scenario?

[2022-11-15 14:22] Laczen commented on #52189
Yes, maybe it should be renamed to `disk-sector-size` in the binding yaml.

[2022-11-15 17:20] mbolivar-nordic commented on #52219
It's bad UX, but the meaning of the --bin-file argument is not "flash this bin file". It's "if you are going to flash a bin file, use this one instead of the default one". That causes confusion as it is here but it's not a bug. Sorry for the confusion and thanks for taking the time to file an issue.

[2022-11-15 17:20] #52219 closed

[2022-11-15 17:21] mbolivar-nordic commented on #52219
Additional references: https://github.com/zephyrproject-rtos/zephyr/issues/23945 https://github.com/zephyrproject-rtos/zephyr/pull/18159#issuecomment-535715795

[2022-11-15 17:35] mbolivar-nordic opened #52262 "west flash --file"
**Is your enhancement proposal related to a problem? Please describe.**

People (understandably) want commands like `west flash --bin-file my.bin` to mean "you must flash my.bin". But the meaning of the `--bin-file` option is not "you must flash this bin file", it's "if you are going to flash a bin file, flash this one".

This is bad UX. I did it this way out of expediency when I was first writing

[2022-11-15 17:37] MeisterBob commented on #52219
The way I implemented it in #51365 it respects the `--hex-file`, `--bin-file` and `--elf-file` with the only drawback that it falls back to the .elf file if the given hex/bin file doesn't exist.

[2022-11-15 17:39] mbolivar-nordic commented on #52219
I filed an enhancement which summarizes the proposed solution that has gotten the most acceptance over the years: https://github.com/zephyrproject-rtos/zephyr/issues/52262

I don't have any plans to implement this, but would of course review with an eye towards merging an implementation of htis.

[2022-11-15 18:00] stephanosio opened #52263 "ci: Automatic backport PR detection"
**Is your enhancement proposal related to a problem? Please describe.**

Zephyr Project uses the [Backports project](https://github.com/zephyrproject-rtos/zephyr/projects/19) on GitHub to keep track of the backport pull requests.

The backports pull request are not automatically added to the Backports project and the current process requires the release managers to manually look up the pull reques

[2022-11-15 18:52] belussi commented on #35986
@PatrickM-ZS Would it be possible to share your prj.conf so I can compare it with my C++ configuration?

[2022-11-15 18:59] mrclark25 opened #52267 "http client includes chunking data in response body when making a non-chunked request and server responds with chunked data"
**Describe the bug**
When making an HTTP get request, the http server I am communicating with responds with chunked data. The trailing chunking information is included in the http response body returned by zephyr. The server is able to fit the entire response in one "chunk", so chunking isn't really used in this case but the chunking data is still included anyway (as per http spec most likely?).

[2022-11-15 19:24] cfriedt commented on #35986
I think this is a valid issue. Not sure why it was closed (maybe Stale?). I'm hoping to resolve the Newlib / zephyr POSIX header issue within the next week.

[2022-11-15 19:28] RafaelLeeImg commented on #51973
Thanks. I tried offline, it works.
I have created a pull-request #52268

[2022-11-15 20:34] SkryptX opened #52269 "UART documentation for uart_irq_tx_enable/disable incomplete"
The current UART documentation for [uart_irq_tx_enable](https://docs.zephyrproject.org/latest/hardware/peripherals/uart.html#c.uart_irq_tx_enable) and [uart_irq_tx_disable](https://docs.zephyrproject.org/latest/hardware/peripherals/uart.html#c.uart_irq_tx_disable) does not explain what they should actually do.

The expected behavior, which I have reverse engineered from tests and other code, is to

[2022-11-16 01:02] JordanYates opened #52271 "west sign: imgtool: zephyr.signed.hex and zephyr.signed.bin do not have the same contents"
**Describe the bug**

When creating signed images, the generated files `zephyr.signed.hex` and `zephyr.signed.bin` do not have the same logical contents.

`west sign` works by running two independent calls to `imgtool`, once to create the `.hex`, and again to create the `.bin`.
Unfortunately even running `imgtool` with the exact same arguments twice does not result in the same binary.

Both files

[2022-11-16 03:20] LSChyi commented on #52186
Create PR #52273 to better illustrate the idea.

[2022-11-16 06:16] bdunlay opened #52276 "stm32: ST Kit B-L4S5I-IOT01A Octospi flash support"
**Is your enhancement proposal related to a problem? Please describe.**

The B-L4S5I-IOT01A board has an onboard QSPI flash, but the flash memory is not exposed in the device tree.

**Describe the solution you'd like**

I would like the ability to use the external flash memory with the B-L4S5I-IOT01A board.

**Describe alternatives you've considered**

I tried adding support for ospi flash to the

[2022-11-16 07:42] mimok commented on #43249
@nandojve: I'm facing the exact same issue. I believe you approach is the right one. Indeed to import a key using `psa_import_key()` you have to set the key attributes from NSPE (i.e. normal word). All these data are stored in NSPE memory before to be sent to the SPE during key import. So, in my opinion, functions supporting attributes handling have to be placed in NSPE memory.

`psa_reset_key_att

[2022-11-16 07:51] microbuilder commented on #43249
@mimok I'm seeing the same thing with the TLS handshake and ECDSA. Handshake seems to complete looming at wireshark, but TLS goes off into the weeds shortly after. I didn't have this issue with Zephyr 3.1 and ECDSA. No solution yet, but wanted to confirm I see the same with a similar setup.

[2022-11-16 07:57] FRASTM commented on #52276
The [B-L4S5I-IOT01A Discovery kit](file:///local/home/frq09495/Downloads/um2708-discovery-kit-for-iot-node-multichannel-communication-with-stm32l4-series-stmicroelectronics.pdf) has a  64-Mbit Quad-SPI Flash memory which must be declared as `compatible = "st,stm32-qspi-nor"`

[2022-11-16 08:16] jori-nordic commented on #48304
@watsug could you test again on latest master, #50046 was supposed to fix those issues.

[2022-11-16 09:24] nordicjm opened #52280 "boards: thingy53 non-secure (thingy53_nrf5340_cpuapp_ns) does not build"
**Describe the bug**
The thingy53_nrf5340_cpuapp_ns board fails building of various samples e.g. bluetooth samples, due to:
[code]

It also fails to configure TF-M based samples, e.g. tfm_integration/psa_protected_storage:
[code]

**To Reproduce**
Build bluetooth or TF-M samples

**Expected behavior**
Builds to work

**Impact**
Board is incomplete and does not build

**Environment (please complete

[2022-11-16 09:29] nordicjm commented on #52280
@emob-nordic @joerchan not sure who'd be responsible for this bug

[2022-11-16 09:56] PrzeBrudny commented on #35986
Hi I have tried what @belussi suggested in #52087 and commented conflicted typas in _pthreadtypes.h -> but failed on linking zephyr_pre0.elf with 2k+ errors:

[code]
...

I am using prj.conf flags:

[code]

[2022-11-16 10:13] FRASTM opened #52284 "unable to malloc during tests/lib/cmsis_dsp/transform.cf64"
**Describe the bug**
When running the tests/lib/cmsis_dsp/transform on nucleo_f207zg platform with 128KB of RAM (flash: 1024), the testcase libraries.cmsis_dsp.transform.cf64  fails on the following cases:

- test_arm_cfft_f64_cmplx_noisy_4096
- test_arm_cfft_f64_cmplx_step_4096
- test_arm_cifft_f64_cmplx_noisy_4096
- test_arm_cifft_f64_cmplx_step_4096

Even if the testcase.yaml declares
    min_r

[2022-11-16 10:17] #48520 closed

[2022-11-16 10:18] #26109 closed

[2022-11-16 10:19] #52216 closed

[2022-11-16 10:20] #51322 closed

[2022-11-16 10:21] #52169 closed

[2022-11-16 10:21] #52139 closed

[2022-11-16 11:19] emob-nordic commented on #52280
@bjornspock who is taking care of thingy53 support? Can you direct us to anyone?

[2022-11-16 11:53] bjornspock commented on #52280
@emob-nordic  I would ask @MarekPieta or @pdunaj as they were the ones adding the initial support for Thingy:53 in NCS regarding the gpio forwarder issue. Regarding TF-M, when the THingy:53 was launched it was decided that SPM ( which is replaced by TFM) was out of scope for Thingy:53. Hence, SPM (TF-M)was not considered when setting up the static partition map and the Thingy:53 board files.

[2022-11-16 12:12] kruithofa commented on #50427
Closing since it is unreproducible

[2022-11-16 12:18] kruithofa commented on #51174
May be related to #52228

[2022-11-16 13:35] denisbohm commented on #52105
I brought up this issue with Nordic a couple of times.  Each major release the apps I'm working on for clients start having stack faults when built with CONFIG_NO_OPTIMIZATIONS=y.

From the above discussion it seems like there are a couple of things with the way stack sizes are set:
1) If user code can't run on a thread then Zephyr intentionally tries to make those stack sizes non-settable.  This

[2022-11-16 13:36] nordicjm opened #52291 "boards: thingy53: Enable USB-CDC by default"
**Is your enhancement proposal related to a problem? Please describe.**
The thingy53 board does not have a traditional UART port on it, it has a single USB interface, therefore to aid in development, the USB CDC port should be used for the console on this board.

**Describe the solution you'd like**
Enabling USB-CDC for the thingy53 by default

[2022-11-16 14:32] Laczen commented on #52271
@JordanYates, when during the signing a some kind of random is used to generate a signature or to generate an encryption key each call to imgtool will create a different hex/bin. As both are generated by a call to imgtool this behavior is to be expected. Both images however should be ok.

As this behavior is intentionally this is not a bug.

If you really need to have the same images (I don't know

[2022-11-16 14:38] nordicjm opened #52296 "Regulator shell does not build due to missing atoi define"
**Describe the bug**
See error on https://github.com/zephyrproject-rtos/zephyr/actions/runs/3479954854/jobs/5819162987
This might be because the same is using minimal libc, not investigated yet.

**Expected behavior**
Regulator shell to be self contained and build

**Impact**
Showstopper, blocking unrelated PRs

**Environment (please complete the following information):**
 - Commit SHA or Version

[2022-11-16 14:39] nordicjm commented on #52296
@gmarull @danieldegrasse not sure who to point this at

[2022-11-16 14:40] stephanosio commented on #52296
This is almost certainly because of a missing include.

[2022-11-16 14:59] RafaelLeeImg opened #52298 "CI fail multiple times due to download package from http://azure.archive.ubuntu.com/ubuntu failed."
**Describe the bug**
CI fail due to unable to download packages from http://azure.archive.ubuntu.com/ubuntu

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 CI
 - What have you tried to diagnose or workaround this issue?
 Push again
 - Is this a regression?
 I don't know,

**To Reproduce**
Steps to reprodu

[2022-11-16 15:05] #52298 closed

[2022-11-16 15:14] RafaelLeeImg commented on #52298
The meaning of CI is reduce human interactions.
And I didn't find good way to trigger CI. I don't think create a new commit and force push is an good idea.

[2022-11-16 15:28] stephanosio commented on #52298
![image](https://user-images.githubusercontent.com/11345418/202222256-e2b0d221-dbb0-4652-9ed8-92e8992ff8e3.png)

Not sure if you have access level required to do that though; if not, waiting a few hours and force pushing can be an option; alternatively, you can ping in the #ci channel on Discord (this would be the easiest way to understand what is going on and get the issue fixed).

[2022-11-16 15:30] RafaelLeeImg commented on #51973
Pull request merged #52268
This problem is solved.

[2022-11-16 15:31] #51973 closed

[2022-11-16 15:44] FRASTM commented on #52276
unfortunately, the west build -p auto -b b_l4s5i_iot01a samples/drivers/spi_flash still fails:
[code]

[2022-11-16 16:19] tripathidivya commented on #40827
@laurenmurphyx64 Hello Lauren, as you mentioned in the above comment I have tried to follow the same steps but while updating west I have faced the issue like this for civetweb and tflite-micro
![image](https://user-images.githubusercontent.com/96341470/202233946-db3bb68c-690e-4cc3-b800-07a8b943ad2f.png)

and in the end it generated the empty folders for civetweb and for tflite-micro.

While updat

[2022-11-16 16:36] tripathidivya opened #52301 "Zephyr-Hello World is not working"
Hello All,

**Describe the bug**
I am trying to build a Zephyr Hello_world sample project as mentioned in this video: https://www.youtube.com/watch?v=vMDxmEwu51M

but I am facing issue there. So, I was looking for the solution and found one work around here: https://github.com/zephyrproject-rtos/zephyr/issues/40827

Describe the bug
Building any tensorflow lite example using VS Code would show an

[2022-11-16 16:53] henrikbrixandersen commented on #38565
I might make sense to include the "Hardware Support" label in the proposed new stale bot automation.

[2022-11-16 17:08] mimok commented on #43249
@microbuilder Doubling the stack size (from 4096 to 8096) solves the problem (well 8096 bytes might be to much but for now I don't care). So this is only a stack overflow problem (at least on my side).

[2022-11-16 17:13] dleach02 commented on #52190
@hake, this appears to be a problem with all the different versions of jlink I've tried. If you change the device type to LPC5528JBD64 then it works. We haven't seen this before because the board is setup to use pyocd runner by default.

[2022-11-16 17:22] rillbert commented on #52242
After testing different things, I have found something that seems to work...at least so far into my yet limited testing.

If I change the memory layout in `<mcuboot_repo_root>/boot/espressif/port/esp32/ld/bootloader.ld` to mimic the values found in `<mcuboot_repo_root>/boot/espressif/hal/esp-idf/components/bootloader/subproject/main/ld/esp32/bootloader.ld` both the wifi sample and the hawkbit samp

[2022-11-16 17:35] mbolivar-nordic commented on #38565
Process WG:

- discussed proposal from @henrikbrixandersen
- @nashif since I introduced the stale bot, I can give my perspective. I am fine with this as long as we have a process for triaging and dealing with these enhancements. If we don't want this, we can just remove 'enhancements' altogether.
- @henrikbrixandersen I generally agree but I don't think we triage PRs, do we? We triage bugs, but no

[2022-11-16 17:40] microbuilder commented on #43249
This really feels like a stack overflow or memory issue, but which stack or memory pool are you increasing? `CONFIG_MAIN_STACK_SIZE`?

[2022-11-16 17:47] mimok commented on #43249
I increased `CONFIG_MAIN_STACK_SIZE` from 4096 to 8096 after reading a post saying that a `usage_fault` in `z_swap()` could be solved by increasing the stack size.

[2022-11-16 17:47] mbolivar-nordic commented on #50836
Process WG:

Summary: general consensus on @keith-zephyr and @fabiobaltieri 's proposals, @keith-zephyr to start work on updating the docs

- @keith-zephyr there are some details in the comment, but the main thing I'm advocating for is creating a separate document for our contribution guidelines and best practices. The contribution guidelines document right now is really big, and it's hard to find

[2022-11-16 19:00] XenuIsWatching commented on #12504
I'm not even sure an external PHY is even working with the implementation within `usb_dc_stm32.c`. no where do I see the definition `USB_OTG_ULPI_PHY` set for `phy_itface`

[2022-11-16 19:15] mkettn opened #52307 "Linker Error using CONSOLE_GETCHAR and CONSOLE_GETLINE"
**Describe the bug**

It looks like `console_getline_init` and `console_getline` cannot get linked, when both `CONFIG_CONSOLE_GETLINE` and `CONFIG_CONSOLE_GETCHAR` are enabled in prj.conf

Is this intended?

**To Reproduce**

goto `<zephyr-root>/samples/subsys/console/getline`

add the following line to prj.conf:
CONFIG_CONSOLE_GETCHAR=y

1. mkdir build; cd build
2. cmake -DBOARD=qemu_x86 ..
3. ma

[2022-11-16 19:36] jo5huajohn opened #52308 "pip3 is unable to build wheel for cmsis-pack-manager as part of the requirements.txt on Fedora 37."
I'm not sure where to report this since pip says it's not a pip issue, so please let me know if I should report it somewhere else.

**Describe the bug**
Running `pip3 install --user -r ~/zephyrproject/zephyr/scripts/requirements.txt` returns the following error:

  error: subprocess-exited-with-error
 × Building wheel for cmsis-pack-manager (pyproject.toml) did not run successfully.
  │ exit code:

[2022-11-16 19:46] benys opened #52309 "SAM0 flash driver with page emulated enabled will not write data at 0 block"
**Describe the bug**
I tried to port my program which updates bootloader from main program.
I discovered that program will not update in first page (for example offset 0-128)

Updates doesn't happen because code assumes that nobody will not write any data in first flash page.

**To Reproduce**
1. Use any SAM0 board for example C21N Xpro
2. Make program which changes flash in first page - for examp

[2022-11-16 20:20] #45910 closed

[2022-11-16 20:23] rodrigopex commented on #45910
Zbus was merged #48509.

[2022-11-16 23:42] JordanYates commented on #52271
I agree that the behaviour is expected from the perspective of how the tool is being used, I disagree that it is expected from the perspective of the end user. I spent an hour or so trying to figure out why the two weren't the same before I realised the difference was only in the signed TLV and that the behaviour came from `imgtool` itself.

Everything I know about build systems would tell me that

[2022-11-17 00:00] aaronemassey commented on #44847
See https://github.com/zephyrproject-rtos/zephyr/pull/46817 for MVP

[2022-11-17 00:20] aaronemassey opened #52315 "Standard commands 0x0 to 0x4 are R/W. I don’t see a sbs_cmd_reg_write function in sbs_gauge.c."
Standard commands 0x0 to 0x4 are R/W. I don’t see a sbs_cmd_reg_write function in sbs_gauge.c.

_Originally posted by @rgundi in https://github.com/zephyrproject-rtos/zephyr/pull/46817#discussion_r970404715_

[2022-11-17 00:21] aaronemassey commented on #44847
https://github.com/zephyrproject-rtos/zephyr/issues/52315

[2022-11-17 00:31] #49413 closed

[2022-11-17 00:31] #49313 closed

[2022-11-17 05:07] Laczen commented on #52271
The difference can be much larger if you would use encrypted images. There has been a similar issue regarding reproducible builds. As soon as the image build process includes some kind of randomness inside (e.g. for signing), repeated builds will generate different artifacts.
I think it is better to leave it as it is, the generation of the bin is for systems that use the bin, the hex is for system

[2022-11-17 05:43] Vinay96110 commented on #52103
@FRASTM  , that PR helped to solve my issue. now able to access 2nd bank as well. Thanks

[2022-11-17 07:27] bdunlay opened #52317 "drivers: wifi: eswifi: Offload sockets accessing invalid net_context, resulting in errors in FLASH_SR and blocking flash use"
**Describe the bug**

It appears that eswifi driver may have an implementation issue when using offloaded sockets. I found the issue by trying to write to flash memory after opening a socket, but my writes returned with -EIO errors. I found the FLASH_SR status register reported errors with value 0xe0, and traced it to a call in the eswifi driver.

The call that triggers this is [net_context_set_st

[2022-11-17 08:32] nordicjm opened #52318 "mgmt: mcumgr: Add settings commands"
**Is your feature request related to a problem? Please describe.**
A requested feature for zephyr-based devices is being able to write/read long data over BLE to/from a device in a simple to use way. MCUmgr allows for such a system as the protocol is simple and supports data which is larger than the BLE MTU (512 bytes), so would be a good fit for this. Therefore having an MCUmgr group for reading

[2022-11-17 08:47] rillbert commented on #52242
How about this theory:

1. the mcuboot iram_loader_seg is set to start at 0x40098000
2. in my two failed cases above, the size of the IRAM segment is 0x1ba0c and 0x1c4b8 respectively.
3. The application's IRAM segment starts at 0x40080000.

The above would mean that mcuboot will overwrite the start of its own iram_loader_seg with the chain-loaded application's IRAM segment and bad things will prob

[2022-11-17 09:02] nordicjm commented on #52308
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/51951

[2022-11-17 09:02] #52308 closed

[2022-11-17 09:16] henrikbrixandersen commented on #45566
A non-working example repo along with error messages would be good.

[2022-11-17 09:19] henrikbrixandersen commented on #43330
That's a very good idea. Care to submit a PR for this?

[2022-11-17 09:22] henrikbrixandersen commented on #42082
Please submit a PR with a proposed fix.

[2022-11-17 10:17] #52284 closed

[2022-11-17 11:11] nashif commented on #47547
I do not think the "move" part will work, however abstracting some of the code in a way to allow use in different environments is not a bad idea and AFAIK some of the code is already at the level of abstraction you can pull it out and use somewhere else.  If you have any specific proposal how to make this work for some of the code, in the zephyr project itself and not by moving things out, feel fr

[2022-11-17 11:51] henrikbrixandersen commented on #36297
@vladimir-podbrezsky, @yashi Can this be closed now that https://github.com/zephyrproject-rtos/zephyr/pull/21747 is merged?

[2022-11-17 11:54] ee05 opened #52324 "Bluetooth Mesh example seems broken on v3.2.99 - worked ok with v3.1.99"
Hello,
I messed "something" up in Zephyr and decided to reinstall. Previously I had been using v3.1.99 but the re-install installed v3.2.99 (I can't work out a simple way to install an earlier Zephyr version, is there?)
I've been using the bluetooth mesh example stored under "samples/boards/nrf/mesh/onoff-app" and with v3.1.99 I could get it to work i.e. allowed my to provision the network using t

[2022-11-17 11:55] henrikbrixandersen commented on #34536
@hongshui3000 Zephyr now also has a state machine framework: https://github.com/zephyrproject-rtos/zephyr/blob/main/include/zephyr/smf.h Does this satisfy your requirements?

[2022-11-17 11:58] nashif commented on #47547
maybe start with those.

[2022-11-17 12:00] nashif commented on #3130
closing, this should just come as a PR.

[2022-11-17 12:00] #3130 closed

[2022-11-17 12:02] #1350 closed

[2022-11-17 12:04] #6780 closed

[2022-11-17 12:06] #7618 closed

[2022-11-17 12:09] Laczen commented on #52309
@benys, would it not be better to initialize (and reset) the offset to an invalid value of the flash_size ?

Please also realize that this BYTE_EMULATION is prone to errors as a result of power failure. When the power is cut just after the erase there will be no data in flash. Using this as a way to provide support for e.g. mcuboot could result in a non-recoverable error.

[2022-11-17 12:10] carlescufi commented on #52171
@jerryyang35 as @jhedberg mentioned, BR/EDR is just not maintained anymore, nor tested. If you are interested in reviving this feature please let us know and we can discuss how to make accommodations for this.

[2022-11-17 12:15] SavitskiDenis opened #52327 "websocket: websocket_recv_msg breaks when there is no data after header"
If there is no data after the header and the message length is 0, the next packet will be incorrectly analyzed, because payload data will be expected instead of the header. I tested it on zephyr 2.7.2, nothing has changed in version 3.2.99.
https://github.com/zephyrproject-rtos/zephyr/blob/56664826b27c1b716483fbad35961450794c3089/subsys/net/lib/websocket/websocket.c#L847
I catch this error when I

[2022-11-17 12:26] broglep-work opened #52328 "net: lwm2m: lwm2m_engine_send improvement (behaviour, callbacks, documentation)"
# Problem
The method `lwm2m_engine_send` has some behaviours, that at least to me, are somewhat unexpected:

1) If `confirmation_request` is enabled, a message timeout will trigger a lwm2m client re-registration
2) Completion of `lwm2m_engine_send` only means that the message has been enqueued for transmission

Behaviour 1) could be considered an unwanted side effect of lwm2m_engine_send, dependin

[2022-11-17 12:26] nashif commented on #29087
related issue to structure: https://github.com/zephyrproject-rtos/zephyr/issues/51831

[2022-11-17 12:29] nashif commented on #29087
re image size: https://github.com/zephyrproject-rtos/zephyr/issues/49026

[2022-11-17 12:29] nashif commented on #29087
re good/bad/ugly: https://github.com/zephyrproject-rtos/zephyr/issues/38566

[2022-11-17 12:30] nashif commented on #29087
but, I do not think it is planned or feasible right now to split boards out, maybe after all of the above has been done and we went through some real cleanup and classification.

[2022-11-17 12:30] #29087 closed

[2022-11-17 12:34] stephanosio commented on #2837
Already done: https://github.com/zephyrproject-rtos/zephyr/tree/main/drivers/crypto

[2022-11-17 12:34] #2837 closed

[2022-11-17 12:36] nashif commented on #17171
seems to be addressed.

[2022-11-17 12:36] #17171 closed

[2022-11-17 12:37] gmarull commented on #12367
Many changes have happened in PM since this PR, so I think it's time to close it. If you observe power usage issues on nRF, please, open a new issue with details on how to reproduce them.

[2022-11-17 12:37] #12367 closed

[2022-11-17 12:40] henrikbrixandersen commented on #16444
@rakons, @d3zd3z Seeing that https://github.com/zephyrproject-rtos/zephyr/issues/16439 was implemented and merged - can this be closed?

[2022-11-17 12:41] nashif commented on #19259
not an issue anymore, file a bug if issue persists

[2022-11-17 12:41] #19259 closed

[2022-11-17 12:41] sachinthegreen commented on #49843
Hi @rlubos ,

Just following up on this since this would help in unblocking a few test cases that we need to run. Do you have a feel as to by when the `payload size` support could be added?

Regards,
Sachin

[2022-11-17 12:44] gopiotr opened #52331 "Additional support for separate execution of Twister's "build only" and "test only""
At this moment Twister supports splitting test execution into two separate phases - "build only" and "test only". Thanks to this it is possible to build applications on first computer/server and run (flash) those applications on second one. For example:

On first computer (without connected `nrf` hardware) run command (`--build-only`):
[code]
Move all output to second computer  (with connected `nr

[2022-11-17 12:45] henrikbrixandersen commented on #20358
Related: #8566

[2022-11-17 13:01] carlescufi commented on #14577
Closing as not applicable after discussing with @nordic-krch

[2022-11-17 13:01] #14577 closed

[2022-11-17 13:03] rlubos commented on #49843
@sachinthegreen I'll prioritize this.

[2022-11-17 13:34] #50665 closed

[2022-11-17 13:47] #29160 closed

[2022-11-17 13:49] nashif commented on #32339
new tests or improved tests are always welcome, just submit a PR.

[2022-11-17 13:49] #32339 closed

[2022-11-17 14:00] kruithofa commented on #50587
Issue will be closed when PR #51300 is merged

[2022-11-17 14:03] jori-nordic commented on #52056
not reproducible anymore after @ahmedmoheb-nordic upgraded from ubuntu 20.04 as host system to ubuntu 22.04.
Probably this is due to the different compiler/linker in the previous system.

[2022-11-17 14:07] rodrigopex commented on #9045
For sure, @gmarull. Thanks for sharing. Zbus provides precisely what you expect, @walter-xie. This model https://github.com/zephyrproject-rtos/zephyr/issues/9045#issue-343019861 is possible with Zbus. If you need help implementing that, reach out to the zbus Discord channel.

[2022-11-17 14:09] gmarull commented on #9045
Let's close this issue then, if you encounter any issues with Zbus to solve your usecase, please open a new issue.

[2022-11-17 14:09] #9045 closed

[2022-11-17 14:09] carlescufi commented on #35177
Merged https://github.com/zephyrproject-rtos/example-application/pull/4

[2022-11-17 14:09] #35177 closed

[2022-11-17 14:12] nashif commented on #51718
Adding hierarchial level of testing makes a lot of sense. We should be able to define the level of testing in such a way where we each level includes all lower levels or have some schema for inclusion defined somewhere else, so just as an example:

so if we take those levels: (borrowed from  [here](https://www.guru99.com/levels-of-testing.html))

- Unit Testing : checks if software components are

[2022-11-17 14:17] #48317 closed

[2022-11-17 16:11] matvey-mukha opened #52339 "usb: USB device re-enabling does not work on Nordic devices (regression)"
**Describe the bug**

If an application running on one of Nordic Semiconductor chips performs the following sequence:

* Enable the USB stack with a call to usb_enable()
* Disable the USB stack with a call to usb_disable()
* Re-enable the USB stack with a call to usb_enable()

the second call to usb_enable() would fail with an -EAGAIN error code.

Failure happens when the stack enables the control

[2022-11-17 16:28] bdunlay commented on #52317
@henrikbrixandersen I believe this is specifically an issue in the eswifi driver.

[2022-11-17 17:52] dleach02 commented on #52190
Functionality of Segger changed with version v7.54b

[2022-11-17 18:03] bdunlay commented on #52317
I believe the regression is a result of the commit https://github.com/zephyrproject-rtos/zephyr/commit/cb1d588ea737fdb7be7ee0c3eb16f8d13c7c03a7. I don't think that eswifi_socket_offload.c should be included in the build when CONFIG_NET_SOCKETS_OFFLOAD=n, but the conditional to build the source file is based on definition, not value.

https://github.com/zephyrproject-rtos/zephyr/blob/eb0060cd7bff91

[2022-11-17 18:19] marc-hb commented on #50836
After a force push, I often have to re-review the whole change instead of just the delta because of the issue above

For the record Github's review model and limitations were discussed one year ago in
- #39194

[2022-11-17 18:30] asemjonovs opened #52344 "Software-based Debounced GPIO"
## Introduction

Implement a generic, software-based GPIO debounce driver.

### Problem description

Zephyr has GPIO flags for hardware-based debouncing filters. Zephyr currently doesn't support a software-based debounced GPIO driver.

### Proposed change

Leverage Zephyr GPIO APIs to implement a software debounced GPIO driver. The algorithm for debouncing will follow closely with Linux [gpio_keys

[2022-11-17 18:35] DerekSnell commented on #19152
I can confirm, the MK22F51212 device has no MPU.  @teburd , can we close this issue?

[2022-11-17 18:43] carlescufi commented on #52344
Looks great! Will you send a Pull Request?

[2022-11-17 18:50] bdunlay commented on #52317
https://github.com/zephyrproject-rtos/zephyr/pull/52346

[2022-11-17 18:56] Thalley opened #52347 "LE Audio: Use the BASE example from the BAP spec for the broadcast samples"
**Is your enhancement proposal related to a problem? Please describe.**
The current broadcast samples does an OK job of showing significant amount of how the API can and should be used. However, they are not setting any metadata or creating multiple subgroups.

My suggestion is to use the BASE example from the BAP spec as the Zephyr sample:
![image](https://user-images.githubusercontent.com/252041

[2022-11-17 18:56] Thalley commented on #52347
Ping @larsgk

[2022-11-17 18:59] asemjonovs commented on #52344
Yeah, I'm working on the PR

[2022-11-17 19:18] #19152 closed

[2022-11-17 21:22] cfriedt commented on #18892
The suggested approach (after much discussion with c, cpp maintainers and collaborators) was to use the Newlib (PicoLibc) POSIX headers internally, as they are quite mature and already provide much of the necessary POSIX feature checking.

With that, using `#include_next` is unnecessary.

For details, please see the POSIX Roadmap for LTSv3 (#51211).

[2022-11-17 21:23] #18892 closed

[2022-11-17 22:47] #47040 closed

[2022-11-18 02:23] carlst opened #52351 "Bluetooth: Controller: ISOAL ASSERT failure"
**Describe the bug**
An ASSERT failure occurs in `subsys/bluetooth/controller/ll_sw/isoal.c` `isoal_get_wrapped_time_us()`

**To Reproduce**
Steps to reproduce the behavior:
1. Using nRF52840DK
2. Edit samples/bluetooth/broadcast_audio_source/src/main.c and set
    `BROADCAST_SOURCE_LIFETIME  (13 * 2 * 30U)`
3. Build `samples/bluetooth/broadcast_audio_source`
4. Build `samples/bluetooth/broadcast_

[2022-11-18 02:24] chojpsh1 opened #52352 "Questions about newlib library"
Hello, I have some questions about newlib math library (libm.a).

I checked that Zephyr 3.x.x version supports the linking libm.a through CONFIG_NEWLIB_LIBC. But, CONFIG_NEWLIB_LIBC config is used to link the libc.a and libm.a together.
I'm looking for a way to link only libm.a. I would like to ask linking only libm.a is possible?
It's my first question and the second is about size.

The size of l

[2022-11-18 02:56] hongshui3000 commented on #34536
yes
I will close it

[2022-11-18 02:56] #34536 closed

[2022-11-18 04:54] soburi commented on #38657
@nandojve
Added #51955 to TIMER driver task.

[2022-11-18 06:49] desowin commented on #52339
Thanks for the excellent bug report and pinpointing the actual faulty commit.

[2022-11-18 06:52] Cherish-Gww opened #52353 "bug: sysbuild lost board reversion here"
https://github.com/zephyrproject-rtos/zephyr/blob/main/share/sysbuild/cmake/modules/sysbuild_extensions.cmake#L197

cause:
In find_package(zephyr), cmake will separate BOARD to BOARD and BOARD_REVERSION.
in sysbuild ExternalZephyrProject_Add function, only keep BOARD variable, lost BOARD_REVERSION.

this is my solution

[code]

[2022-11-18 08:04] desowin commented on #52339
It is worth mentioning that the commit that introduced the regression, essentially uncovered USB stack issue that has always been there. That is, the `usb_disable()` only calls `usb_dc_detach()` and does not call any `usb_dc_ep_disable()` on any endpoint. The reason why `usb_enable()`/`usb_disable()`/`usb_enable()` worked before seems incorrect.

Zephyr USB device controller drivers fall into two

[2022-11-18 08:29] hongshui3000 commented on #38629
Is this roadmap still a work in progress?I feel like I've been stuck for a lot of time.

[2022-11-18 08:41] jukkar commented on #52327
@SavitskiDenis could you propose a PR that has your fix

[2022-11-18 08:54] ChiHuaL opened #52355 "RFC: API change: Add KSCAN matrix API"
## Introduction
Add KSCAN APIs to support the keyboard matrix scanning mechanism.

### Problem description
Currently, all embedded controllers (EC) vendors (Nuvoton, ITE, and Microchip) put the keyboard matrix scanning algorithms within their own kscan drivers. It might not be a good choice since:

1. Scanning algorithm is not relevant to hardware. From a low-level driver's point of view, extracti

[2022-11-18 08:57] FRASTM commented on #52276
@GeorgeCGV, could you please look at

[2022-11-18 09:59] SavitskiDenis commented on #52327
@jukkar My solution is duct tape, because in this case the function returns -EAGAIN. In a good way, you need to return 0 or another errno. if you select the option when the function returns 0 in this case, you need to change the result of the "socket closed" return.

[2022-11-18 10:51] rymaj opened #52360 "samples/net/sockets/socketpair does not run as expected"
**Describe the bug**
I tried to run samples/net/socket/socketpair, and got the folllowing issue first,

[code]
Then I figure out I need to increase the default CONFIG_POSIX_MAX_FDS from 4 to 8 for 3 socket pairs (should this change be  covered in socketpair/prj.conf ?)

Even I add this setting, I saw this issue, seems the poll mechanism was broken?

[code]

Please also mention any information whic

[2022-11-18 11:22] onkila opened #52362 "nrf_qspi_nor driver crash if power management is enabled"
when CONFIG_PM_DEVICE is enabled and system enters suspend pm_system_suspend() is called from idle-thread. This calls also drivers power management function and that tries to get the semaphore. Unfortunately that causes an assert because it seems that we can not wait to get the semaphore if current thead is idle thread. There is an assert for this in sched.c line 186:

[code]
Ozone callstack is fo

[2022-11-18 11:23] onkila commented on #52362
Solution would be to prevent nor flash driver to go to suspend state when it is busy. This happens easily by calling pm_device_busy_set()-funcion

[2022-11-18 11:29] joerchan commented on #52280
Close as won't fix. The thingy53_nrf5340_cpuapp_ns board has no valid configuration in zephyr as TF-M is not supported, and no other secure firmware solution exists to enable the NS configuration.

[2022-11-18 11:29] #52280 closed

[2022-11-18 11:34] theob-pro commented on #50658
Hi @flo-carrere, after further investigations with @jori-nordic we found that what you reported was actually not a bug but the "normal" behavior.

Let me explain what's happening. When the main thread will execute `gatt_notify`, it will add data  to the TX queue of data to be send. The scheduler will find out that the TX thread is waiting on the TX queue and that there is data on it. The scheduler

[2022-11-18 11:51] jori-nordic opened #52364 "Bluetooth: host: allow the TX thread to run with a pre-emptible priority"
**Is your enhancement proposal related to a problem? Please describe.**

The current Bluetooth host depends on it's thread having specific cooperative priorities.
The values seem to be pulled out of thin air, ie, the rationale for deriving them are not described anywhere.

This is okay-ish if the controller runs on the same chip (but still not nice), but this really breaks down when using an off-c

[2022-11-18 11:52] jori-nordic commented on #50658
I have opened another issue https://github.com/zephyrproject-rtos/zephyr/issues/52364 to track progress on this, but will close this one since there is no easy fix, it's an architecture issue in the stack.

[2022-11-18 11:52] #50658 closed

[2022-11-18 11:57] laxiLang commented on #52228
Should not enable this kconfig in nrf52, since it intends to be used when host and controller using different cores

[2022-11-18 12:28] Thalley opened #52366 "LE Audio: Missing released callback for streams on ACL disconnect"
**Describe the bug**
In case of an ACL disconnect `unicast_client_disconnected` is called which will clean up the endpoints and streams on the disconnecting device.

However when `unicast_client_ep_reset` is called, and the stream is essentially released. However, there is no callbacks called for the application to know any state changes for the audio streams.

**To Reproduce**
Steps to reproduce

[2022-11-18 12:47] nashif commented on #16088
this is a task rather than an enahncement, closing.

[2022-11-18 12:47] #16088 closed

[2022-11-18 13:00] nashif commented on #29832
This code has changed and this function does return error codes, not always 1, so this can be considered outdate or obsolete.

[2022-11-18 13:00] #29832 closed

[2022-11-18 13:07] nashif commented on #46897
can this be closed?

[2022-11-18 13:12] nashif commented on #50975
sure, please submit a PR.

[2022-11-18 13:19] nashif commented on #52167
duplicate of #41073

[2022-11-18 13:19] #52167 closed

[2022-11-18 14:10] nashif commented on #32213
not going to happen per @carlescufi

[2022-11-18 14:10] #32213 closed

[2022-11-18 14:17] pnacht commented on #50975
@nashif please see the linked PR #52370.

[2022-11-18 14:48] Thalley commented on #41198
Comments for myself:

Things to be done:

New:
	Add support for add local broadcast sources
		Perhaps a way to get local adv addr and sid and use existing API?

Modify:
	Change
		/** Whether to sync to periodic advertisements. */
		uint8_t pa_sync;

		to bool and automatically suggest PAST if possible?

	Update shell
		Ensure that it works well with the Broadcast Source shell
		Ensure that it work

[2022-11-18 16:32] FRASTM commented on #52189
@Laczen, Do you think of something like :
[code]

[2022-11-18 18:13] tristan-google commented on #41073
I see my issue was marked as a duplicate. Is there still interest in having such a feature? I have some time to work on this.

[2022-11-18 18:29] yperess opened #52376 "Cannot build apps with main in a .cpp file"
See https://github.com/zephyrproject-rtos/zephyr/pull/52375 for a sample.

The issue (I think) is with how the linker renames the main function in C++ binaries. Though I have no expertise in how this is done or things related to the linker.

Setting priority high since this is blocking all our downstream projects using C++ (everything that's building with Pigweed and work in progress on CHRE).

[2022-11-18 18:33] stephanosio commented on #52376
We have a sample that builds with `main` in a C++ source file and it seems to be working fine (even on `native_posix`):
https://github.com/zephyrproject-rtos/zephyr/blob/84c09433b574b40a7d673fb47a1600c64b1d57c8/samples/subsys/cpp/cpp_synchronization/src/main.cpp#L133

Maybe you forgot to enable `CONFIG_CPP_MAIN=y`?

[2022-11-18 18:37] yperess commented on #52376
I see that now, is there a reason this Kconfig wasn't defaulted to `y`? This broke a lot of projects downstream.

[2022-11-18 18:37] yperess commented on #52376
Changed priority to low

[2022-11-18 18:44] stephanosio commented on #52376
See https://github.com/zephyrproject-rtos/zephyr/pull/51966#issue-1436262818

[2022-11-18 19:00] yperess commented on #52376
I guess it's one of those "now that I know". I disagree with the idea that it's "common" all of our projects are either 100% C, or migrating to 100% C++. It's possible that I'm more limited in my understanding of the cpp subsystem on Zephyr, but I always find it odd that I need to enable `CONFIG_CPLUSPLUS=y` for the projects, I always expected the build system to just know it's there similar to ho

[2022-11-18 19:38] stephanosio commented on #52376
Sure, it is fairly new; but, it has also been documented for those are new to Zephyr and looking to use C++ in their application:

https://github.com/zephyrproject-rtos/zephyr/blame/main/doc/develop/languages/cpp/index.rst#L27-L31

If you ask most people who are developing Zephyr applications (or who develop embedded applications for microcontrollers in general), I am sure they will say what you a

[2022-11-18 19:38] #52376 closed

[2022-11-18 20:30] dleach02 commented on #52190
Segger confirmed the bug and will fix this in next week's release (11/21/2022)

[2022-11-18 20:35] nashif commented on #41073
duplicate does not mean we do not want it, we should just track things in one place, and this one was earlier, so I closed yours. Please go ahead and submit a PR if you have anything ready.

[2022-11-18 20:52] nashif commented on #41765
this should have been kept as a bug, but regardless, the issue was resolved in 786647bdcfd

[2022-11-18 20:52] #41765 closed

[2022-11-18 20:54] nashif commented on #41771
no idea why this moved from bug to enhancement, without any comment explaining the reasoning. Move back to a bug, if the bug is invalid, close it.

[2022-11-18 21:15] #27819 closed

[2022-11-18 22:27] yperess commented on #52376
@stephanosio just for future consideration, I'm not sold on C++ being an exception. From all the teams at Google that I've talked to, chromium is the only one that is using C as a primary language (and that's likely to change soon). So I would like to see C++ be a strong consideration in Zephyr.

[2022-11-18 22:37] cfriedt commented on #52360
@rymaj - can you please update the upstream commit in the bug report?

[2022-11-19 02:05] nashif commented on #38346
twister went through a major overhaul over last year, command line parameters reorganised and documented, for anything that might remains, which I am not aware of, please file a bug.

[2022-11-19 02:05] #38346 closed

[2022-11-19 02:08] nashif commented on #35237
we have a method for testing module with twister which is part of CI. twister can be pointed to any directory with tests already.

[2022-11-19 02:09] #28864 closed

[2022-11-19 02:26] nashif commented on #52263
if the base branch is a release branch, why do you need a backport?

[2022-11-19 02:31] nashif commented on #51323
kernel is not the only problem area, this issue is across the tree, some of the items above were already addressed, if there are any remaining issues, in kernel or outside the kernel, this should be a bug.

[2022-11-19 02:31] #51323 closed

[2022-11-19 02:38] nashif commented on #49174
issues is, putting old PR that are broken in the merge queue will just screw up the queue more than we can handle, marking PRs as old and requiring a rebase in general is a good thing. We should look into that.

[2022-11-19 02:41] nashif commented on #47611
This is not obsolete after @carlescufi  converted the action to use annotations, so you do not need to look into the log.

[2022-11-19 02:41] #47611 closed

[2022-11-19 03:18] stephanosio commented on #52263
Because we want to detect the PRs that **are** backports, not the PRs to the main that need to be backported.

As described in the issue, the goal is to automatically add the backport PRs (i.e. PRs to the release branches) to the "Backport" project.

[2022-11-19 11:24] ahmedmoheb-nordic commented on #52056
I tried to reproduce the issue with a VM running Ubuntu 20.04, but I couldn't.

Adding a delay before starting the second scanning procedure allows the 2 expected connection parameters update requests from the connected peripherals to be received, then the LL data length update callbacks are received normally after initiating a LL data length update.

Also, removing the waiting condition and witho

[2022-11-19 12:34] #49843 closed

[2022-11-19 12:38] nashif commented on #38251
seems to be resolved, no further action required?

[2022-11-19 12:38] #38251 closed

[2022-11-19 12:41] #51611 closed

[2022-11-19 13:05] flo-carrere commented on #50658
@theob-pro @jori-nordic

Thank you very much for the detailed explanation and investigation, everything makes sense.

For those interested in a "workaround", I have currently forked and patched Zephyr v3.0 in my private repo to overcome this issue -not perfect but ok-ish.

I'm eager to switch to a proper solution, once everything is fixed properly in a further Zephyr release.

[2022-11-19 14:56] nashif commented on #16942
afaik covered in tests/kernel/common/src/byteorder.c

[2022-11-19 14:56] #16942 closed

[2022-11-19 15:03] parthitce commented on #48304
Unfortunately this didn't help with my testing in nRF52805. The device is still not able to enable and advertise again.

[2022-11-19 15:05] nashif commented on #19496
stale, code coverage is a general goal, for all subsystems, not only logging.

[2022-11-19 15:05] #19496 closed

[2022-11-19 18:44] nashif commented on #14260
This is really bug IMO

[2022-11-20 11:10] ahmedmoheb-nordic opened #52393 "Controller: ACL packets NACKed after Data Length Update"
**Describe the bug**
When central is connected to multiple peripherals and the ~MTU~ LL data length is increased to 247 bytes, central gets notifications only from the last connected peripheral

**To Reproduce**
Steps to reproduce the behavior:
1. Central connects to more than one peripheral
2. For each connection, set the connection interval to be 25 ms
3. For each connection, increase the MTU ab

[2022-11-20 11:55] cfriedt commented on #14260
Just some observations:
- `tests/drivers/flash` does not seem very complete
  - only 1 test
  - gives false reassurance that drivers are properly implemented
- `drivers/flash/flash_shell.c` utility does not work on esp32-c3
  - not sure why, as it passes all 1 tests from `tests/drivers/flash`
- `samples/drivers/flash_shell` utility does work on esp32-c3
  - it's obviously doing something different

[2022-11-20 15:38] thedjnK opened #52395 "Cannot build applications with dts having (unused) external flash partition and disabling those drivers"
**Describe the bug**
Seeing an issue with building mcuboot in zephyr whereby there is an external flash on QSPI which has a partition, `lfs_partition`, this partition is not used by mcuboot but the application fails to link unless the QSPI driver is enabled with an `undefined reference to '__device_dts_ord_133'` error, which is in `default_flash_map`. This leads to a complete waste of flash space

[2022-11-20 15:55] nashif commented on #38450
if you have something in mind, please submit it as a PR. We already have some spelling coverage in checkpatch.

[2022-11-20 15:55] #38450 closed

[2022-11-20 20:36] nashif commented on #21446
zephyr supports many things that do not have a sample, unfortunately. PRs introducing a sample are very welcome.

[2022-11-20 20:36] #21446 closed

[2022-11-20 20:38] nashif commented on #28617
do not think this makes sense, a sample should enable whatever it needs, nothing should be injected by the system and samples should not be treated as tests.

[2022-11-20 20:38] #28617 closed

[2022-11-20 20:47] nashif commented on #27258
@nordic-krch  looks like your PR was closed due to inactivity, do you still need this? I guess you can reopen this, but closing this as stale right now, given that the PR was stale.

[2022-11-20 20:47] #27258 closed

[2022-11-20 20:53] nashif commented on #12401
closing in favor of https://github.com/zephyrproject-rtos/zephyr/issues/51831

[2022-11-20 20:53] #12401 closed

[2022-11-20 20:55] nashif commented on #36601
please submit a pull request with the changes you are looking for.

[2022-11-20 20:55] #36601 closed

[2022-11-20 20:57] nashif commented on #51359
new filesystem is a new feature request.

[2022-11-20 21:02] nashif commented on #11803
now sure what part of this is an enhancement, if we are to track usb test results, we need to do this somewhere else, coverting this to Meta now.

[2022-11-20 21:04] nashif commented on #15453
stale

[2022-11-20 21:04] #15453 closed

[2022-11-20 21:06] #43737 closed

[2022-11-20 21:13] nashif commented on #8626
This and #44593 and many other areas, all the same issue, we do not have the connection between socs and boards, drivers and socs, driverers and architectures, west modules and features and hal and boards, it is all very fuzzy right now and it is not easy.

[2022-11-20 21:14] nashif commented on #43604
please submit this enhancement request to the upstream checkpatch code base, the linux kernel.

[2022-11-20 21:14] #43604 closed

[2022-11-21 02:25] dreamkeep opened #52399 "cmake error"
Describe the bug
I newly install windows 8.1  on my pc, and follow the start guide, below is the error i meet.

PIO Core Call Error: "The current working directory H:\\work-dir\\zephyr\\zephyr-blink will be used for the project.\r\n\r\nThe next files/directories have been created in H:\\work-dir\\zephyr\\zephyr-blink\r\ninclude - Put project header files here\r\nlib - Put here project specific (pr

[2022-11-21 04:18] cvinayak commented on #52351
@niag-Oticon could you analyse?

[2022-11-21 06:51] jori-nordic commented on #48304
@sem1-nordic could you add this procedure to the bsim testsuite and check if it completes successfully?

[2022-11-21 07:00] ppryga-nordic commented on #49338
Hello, I'm sorry for so long time to provide a feedback on the issue.

The described behavior is correct, meaning compliant with Bluetooth specification: BT 5.3. Vol 6, Part A  section 5.1 Antenna Switching General Description:

shall be restarted from the beginning (this can happen more than once); that is,
the first antenna in the pattern is used in the sample slot following that used for
the la

[2022-11-21 07:29] nordicjm opened #52401 "mgmt: mcumgr: Leftover files after directory update"
**Describe the bug**
Some old files have been left after the MCUmgr update in the old location, these need to be deleted

**Impact**
Minor

**Environment (please complete the following information):**
 - Commit SHA or Version used: bf0612cae3fd9b0a8a4e286bdf78d02c815db15a

[2022-11-21 07:39] niag-Oticon commented on #52351
One of the input time values has most likely exceeded what was considered to be the maximum possible absolute time of the controller's clock in microseconds.
i.e. `#define ISOAL_TIME_WRAPPING_POINT_US      (HAL_TICKER_TICKS_TO_US(HAL_TICKER_CNTR_MASK))`
I guess the sum in `isr_rx_iso_data_valid()` that sets the time-stamp would probably do that when the ticker reaches the end of it's 24-bit range.

[2022-11-21 08:11] nordicjm opened #52404 "mgmt: mcumgr: Callback include file has file name typo"
**Describe the bug**
A typo was introduced with commit 4328f165a8ad8965ea697e71128b7a5666dd75f4 which changed one of the file includes from `mgmt` to `mgmg` which fails to compile

**To Reproduce**
Build MCUmgr with notification support enabled

**Expected behavior**
Build to work

**Impact**
Showstopper

**Environment (please complete the following information):**
 - Commit SHA or Version used: b

[2022-11-21 08:25] nordicjm opened #52407 "tests: subsys: mgmt: mcumgr: Test needed that enables all features/Kconfigs"
**Is your enhancement proposal related to a problem? Please describe.**
A test is needed that enables all features of MCUmgr, this is so that it can detected in CI if a change is made which causes any MCUmgr builds to fail, at present the current tests only enable a small subset of features. The new test only needs to be build for 1 platform as it just needs to check that the application builds.

[2022-11-21 08:51] cperera-aud opened #52409 "STM32H7: ethernet: Device fails to receive any IP packets over ethernet after receiving UDP/IP multicast at a constant rate for some time"
**Describe the bug**
I've been able to reproduce this issue on the Nucleo-H753ZI (STM32H7) evaluation board. I have created a very basic example which exhibits the issue. The example application uses ethernet networking. It starts up DHCP and does nothing afterwards. However, the device is on a ethernet network that has a constant rate of 10Mbps IPv4 UDP multicast traffic e.g. audio over IP. The e

[2022-11-21 08:57] vibhor-meshram commented on #52125
@FRASTM Any updates/suggestions ?

[2022-11-21 09:07] nordicjm opened #52412 "doc: mgmt: mcumgr: Clarify that hash in img_mgmt is a full sha256 hash and required"
**Is your enhancement proposal related to a problem? Please describe.**
The hash used in MCUmgr should be a full SHA256 hash, so that it can be used to know if a file upload is correct or not. The original MCUmgr documentation clearly state that this is a a full SHA256 hash, the zephyr documentation wrongly states that it can be anything. Therefore the documentation should be updated.
The go mcumg

[2022-11-21 09:14] #52235 closed

[2022-11-21 09:19] gmarull commented on #21239
We already have a way to solve this:

https://github.com/zephyrproject-rtos/zephyr/blob/144d30eb47b97090894c2b439712c124320f8eb4/drivers/led/led_gpio.c#L88-L90

[2022-11-21 09:19] #21239 closed

[2022-11-21 09:34] nordic-piks opened #52415 "tests: kernel: timer: timer_behavior: kernel.timer.timer fails"
**Describe the bug**
The tests/kernel/timer/timer_behavior/kernel.timer.timer fails

Observed for:
- nrf9160dk_nrf9160
- nrf9160dk_nrf9160_ns
- nrf5340dk_nrf5340_cpunet
- nrf5340dk_nrf5340_cpuapp_ns

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf9160dk_nrf9160 connected
2. go to your zephyr dir
3. call ./scripts/twister -T tests/kernel/timer/timer_behavior -p nrf9160dk_nrf9160_ns --

[2022-11-21 09:53] FRASTM commented on #52125
I have measured
![tek00000](https://user-images.githubusercontent.com/51417392/203020090-6b65a173-2e55-4424-b005-47003717c055.png)
 on my nucleo_u575zi_q with LSE as RTC clock source

[2022-11-21 10:05] nordicjm commented on #52415
@nordic-piks did you try with this disabled? https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/nrf5340dk_nrf5340/Kconfig.defconfig#L100

[2022-11-21 10:22] fouge opened #52417 "RFC: API Change: dma: callback status"
## Introduction

Provide contextual information in the DMA callback.

### Problem description

DMA API allows for one callback, with one success status (`0`), even though there might be more than one DMA event/interrupt.

### Proposed change

The current callback can be leveraged without modifying its signature to pass more information into the `status` parameter:
[code]

## Detailed RFC

The DMA

[2022-11-21 10:25] gmarull commented on #23161
The description on this PR is outdated, PM APIs have changed significantly. Runtime PM should likely be used to solve this case.

[2022-11-21 10:25] #23161 closed

[2022-11-21 10:26] gmarull commented on #24653
There's a guide now https://docs.zephyrproject.org/latest/services/pm/device_runtime.html If not sufficient, please, open a new issue describing what you need/miss.

[2022-11-21 10:26] #24653 closed

[2022-11-21 10:29] #37056 closed

[2022-11-21 10:29] Laczen commented on #52395
@thedjnK, it is possible to remove the driver while building for mcuboot by supplying a dts overlay file that deletes the lfs-partition node.

[2022-11-21 10:29] nordic-piks commented on #52415
No, I did not try. If I understand correctly, this setting is enabled both for nrf5340dk_nrf5340_cpuapp and nrf5340dk_nrf5340_cpuapp_ns, but test are failing only at nrf5340dk_nrf5340_cpuapp_ns.

[2022-11-21 10:29] fouge commented on #52417
Also worth mentioning #37372 which proposes to use an enum to give the status, which would be shared across all the DMA implementations

[2022-11-21 10:31] jfischer-no commented on #12504
Please open a new issue or discussion and describe your problem. Please stop abusing closed issues.

[2022-11-21 10:50] arbrauns opened #52420 "STM32: support external ULPI PHY with OTG_HS"
Followup to #12504.

**Is your enhancement proposal related to a problem? Please describe.**
It is currently unclear whether the driver for the OTG_HS peripheral supports using an external ULPI PHY rather than the internal PHY. These ULPI PHYs are used on several ST dev boards such as the STM3240G-EVAL (from the original issue) or the STM32F769I-DISCOVERY (among probably many others); there is no

[2022-11-21 11:36] #51208 closed

[2022-11-21 11:36] #51228 closed

[2022-11-21 11:36] #51247 closed

[2022-11-21 12:01] alpianon commented on #51317
My understanding is that some express license to redistribute the software should be granted by Altera to the Zephyr project

[2022-11-21 12:02] GrixaYrev commented on #52327
@jukkar, websocket frame can have no payload, for example ping/pong. So it is good return 0 when no payload, rather than socket closed. For socket closed state i suggest to use errno `-ENOTCONN`. If You and other community competent members agree that variant, i and @SavitskiDenis can propose a PR.

[2022-11-21 12:03] mtpr-ot commented on #42894
Fixed by #52147

[2022-11-21 12:03] #42894 closed

[2022-11-21 12:04] mtpr-ot commented on #42895
Fixed by #52147

[2022-11-21 12:04] #42895 closed

[2022-11-21 12:04] mtpr-ot commented on #42899
Fixed by #52147

[2022-11-21 12:04] #42899 closed

[2022-11-21 12:05] mtpr-ot commented on #42908
Fixed by #52147

[2022-11-21 12:05] #42908 closed

[2022-11-21 12:06] mtpr-ot commented on #42904
Supposedly implemented in #52147. Will need testing to verify correct behavior.

[2022-11-21 12:55] erwango commented on #43206
@arnopo

[2022-11-21 13:38] arnopo commented on #43206
The issue is valid, but I don't know what is behind this config, so if we can use it and if there is a way to declare the` .resource_table` section when the config is enable.

Who could help on this point?

[2022-11-21 14:03] jukkar commented on #52327
@GrixaYrev Your proposal sounds ok, so please prepare a PR for it if you can.

[2022-11-21 14:46] henrikbrixandersen opened #52434 "drivers: pinctrl: Use common pinctrl DTS bindings for Cypress psoc6"
**Is your enhancement proposal related to a problem? Please describe.**
As noted in #39740 the Cypress PSoC6 implementation uses a custom devicetree pinctrl representation (as seen in `dts/arm/cypress/psoc6-pinctrl.dtsi`).

**Describe the solution you'd like**
The Cypress PSoC6 implementation should use one of the standard Zephyr pinctrl devicetree representations as described in https://docs.zeph

[2022-11-21 14:50] henrikbrixandersen opened #52435 "drivers: pinctrl: add pinctrl driver for armv7-m/armv8-m"
**Is your enhancement proposal related to a problem? Please describe.**
As noted in #39740 the armv7m/armv8-m implementations uses a custom pinctrl implementation (as seen in https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/v2m_musca_b1/pinmux.c and https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/mps2_an385/pinmux.c).

**Describe the solution you'd like**
The arm

[2022-11-21 14:55] henrikbrixandersen opened #52436 "drivers: pinctrl: add pinctrl driver for ARC emsk"
**Is your enhancement proposal related to a problem? Please describe.**
As noted in #39740 the ARC emsk platform uses a custom pinctrl driver (as seen in https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arc/em_starterkit/pmodmux.c).

**Describe the solution you'd like**
The ARC emsk implementation should use one of the standard Zephyr pinctrl devicetree representations as described in

[2022-11-21 14:59] henrikbrixandersen opened #52437 "drivers: pinctrl: add pinctrl driver for the Xilinx ZynqMP platform"
**Is your enhancement proposal related to a problem? Please describe.**
As noted in #39740 the Xilinx ZynqMP platform uses a custom pinctrl driver (as seen in https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/mercury_xu/board.c).

**Describe the solution you'd like**
The Xilinx ZynqMP platform should use one of the standard Zephyr pinctrl devicetree representations as described in

[2022-11-21 15:02] henrikbrixandersen commented on #39740
Closing this issue as I have opened enhancement issues for the remaining, custom implementations in-tree.

[2022-11-21 15:02] #39740 closed

[2022-11-21 15:48] jfischer-no commented on #52189
Inability to read description of the property and resulting confusion is not a bug in Zephyr.

[2022-11-21 16:34] #52404 closed

[2022-11-21 17:41] towen commented on #27191
Currently, it is not possible to set up a DAC as internally-connected to another peripheral (COMP, OPAMP, for example) because pinctrl-0 is a required property in devicetree.
Also, it would be useful to enable the sawtooth-generation features of the STM32G4 series DACs for power electronics applications
Related issue: #38629

[2022-11-21 21:10] aaronemassey opened #52443 "Concerns with maintaining separate kernel device drivers for fuel-gauge and charger ICs"
Disclaimer: I am very inexperienced, so you should probably not waste your time with me! :)
This is based on my opinion and I am sorry for being this long.
From what I am seeing, I might be late to the party. :(

Last time, I didn't saw the RFC, but now I understand it.

My biggest issue with that RFC (and that PR) is the rarity of separate charger IC and fuel gauge IC in the embedded world. Most

[2022-11-22 00:17] honestech74 opened #52448 "esp32: subsys: settings: not working properly on esp_wrover_kit"
**Describe the bug**
The `settings` subsys doesn't work properly on `esp_wrover_kit`.

But it works on esp32-wroom and esp32-c3.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b esp_wrover_kit samples/subsys/settings/ -p
2. See error
[code]

**Expected behavior**
It seems to work for reading but doesn't work for saving and deleting.
When tried to build as `esp32` board and ran i

[2022-11-22 01:36] ChiHuaL commented on #52355
@MulinChao

[2022-11-22 03:41] #52099 closed

[2022-11-22 03:42] #52401 closed

[2022-11-22 04:20] cperera-aud opened #52449 "net: ip: igmp: IGMP v2 membership reports are sent to 224.0.0.2 instead of the group being reported"
**Describe the bug**
The Zephyr network stack is sending IGMP v2 membership reports to the 224.0.0.2 multicast address instead of the multicast group it is being reported. When reading through RFC 2236 (http://www.faqs.org/rfcs/rfc2236.html) Section 9 this seems to be a violation. I've copy pasted the relevant text from the RFC:

[code]

The reason why I am reporting this issue is when I was repor

[2022-11-22 07:48] Laczen commented on #52318
@nordicjm can't this feature be provided trough a shell command interface for mcumgr ? This would avoid doubling maintenance for a shell interface and a mcumgr interface.

[2022-11-22 07:51] nordicjm commented on #52318
Then you would need to pull the whole shell system in which would add a huge bloat, and would be a big security vulnerability. Unless NVS has an API change made to it, nothing needs to be done with this.

[2022-11-22 08:21] Laczen commented on #52318
@nordicjm, opening the nvs system to mcumgr would be a big security vulnerability also. If there would be a change to the nvs API the work would be doubled (for the shell and for mcumgr). As the author of nvs I also consider nvs to be eol.

[2022-11-22 08:29] nordicjm commented on #52318
Not so, with recent revamped MCUmgr callback system, the plan would be to have an (optional) callback to check if access should be granted to particular keys - similar to how the fs_mgmt one works - see https://docs.zephyrproject.org/latest/services/device_mgmt/mcumgr_callbacks.html#structfs__mgmt__file__access

What's the replacement?

[2022-11-22 08:47] jukkar commented on #52449
Thanks for the report, please send a PR for it.

[2022-11-22 09:25] henrikbrixandersen opened #52452 "drivers: pwm: loopback test fails on frdm_k64f"
**Describe the bug**
The `tests/drivers/pwm/pwm_loopback` test fails in `test_continuous_capture` on the `frdm_k64f` board.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -b frdm_k64f -t flash tests/drivers/pwm/pwm_loopback/`
2. See error:

[code]

**Expected behavior**
The test passes.

**Impact**
The NXP FlexTimer PWM capture may report wrong periods/pulse widths.

**Additiona

[2022-11-22 09:55] kokas-a opened #52455 "ARC: MWDT: minimal libc includes"
**Describe the bug**
Hi,
I'm working on fixing system includes of C++ headers (via -isystem flag) in #52424 PR.
I use MWDT toolchain with ARC nsim_hs platform.

After I carefully removed MWDT includes, I tried to build Zephyr using built-in Minimal libc. This corresponds to case "NOT CONFIG_ARCMWDT_LIBC" and flag '''-Hno_default_include''' has been passed into toolchain (ref. cmake/compiler/arcmwd

[2022-11-22 09:59] kunohel opened #52456 "Zephyr v3.2.0: NXP MIMXRT1050_EVKB_QSPI: mcumgr upload image is hanging using the smp_svr example"
**Describe the bug**
When trying to upload an image using the smp_svr example, mcumgr is hanging during upload

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 -NXP mimxrt1050_evkb_qspi
 - What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
west buil

[2022-11-22 10:02] #52456 closed

[2022-11-22 10:03] kunohel commented on #52456
Sorry, reinstalled mcumgr and then it worked.

[2022-11-22 10:03] arnopo opened #52457 "compilation error with "west build -b lpcxpresso54114_m4 samples/subsys/ipc/openamp/ ""
**Describe the bug**

runing the command `west build -b lpcxpresso54114_m4 samples/subsys/ipc/openamp/` result in a compilation error

[code]
The bug seems to have been introduced in  PR https://github.com/zephyrproject-rtos/zephyr/pull/48709
by the commit 407fe95af3 ("samples: openamp: add lpc54114 configuration settings")

**Impact**
Fails the OpenAMp CI (https://github.com/OpenAMP/open-amp/issu

[2022-11-22 10:03] arnopo commented on #52457
FYI @danieldegrasse

[2022-11-22 10:13] interfer opened #52458 "Add setting default radio TX power for IEEE 802.15.4 in OpenThread"
**Is your enhancement proposal related to a problem? Please describe.**

While trying to set the transmission power for **OpenThread** running `samples/net/sockets/echo_server` on Telink B91 platform with `CONFIG_NET_L2_IEEE802154_RADIO_DFLT_TX_POWER` and `CONFIG_NET_CONFIG_IEEE802154_RADIO_TX_POWER` but none of them works.
AFAIK that dbm value is coming into IEE driver API function (`ieee802154_r

[2022-11-22 10:15] Laczen commented on #52448
@honestech74, the eror message is indicating that there already is data in the flash area used for settings. Could it be that this area was not erased? As a protection against wrongly erasing data that could be vital for the user the settings_subsys_init might not remove what is already there.

[2022-11-22 10:24] erwango commented on #50655
@KenthJohan Did you manage to sort this out ? Is this problem still valid ?

[2022-11-22 10:29] tejlmand commented on #51621
Which is a fundamental misunderstanding of how `APPLICATION_CONFIG_DIR` works.

Read the docs: https://docs.zephyrproject.org/latest/develop/application/index.html#application-configuration

This means that all additional files, such as board specific files under `${APPLICATION_CONFIG_DIR}/boards` are being used.
So when setting `APPLICATION_CONFIG_DIR` you're asking the build system to automatica

[2022-11-22 10:30] tejlmand commented on #51621
Closed as this request is a misunderstanding of how the feature works and how it is intended to work.

[2022-11-22 10:30] #51621 closed

[2022-11-22 10:51] martinjaeger commented on #27191
Regarding the sawtooth generation we recently had a discussion to extend the DAC API: https://github.com/zephyrproject-rtos/zephyr/pull/51271#issuecomment-1303061312

This should be fairly straightforward. I will try to come up with a proposal for the API change in the next days.

Connecting the DAC to other internal peripherals would be more difficult, as we would have to describe this connection