[2021-06-02 10:01] erwango commented on #34324
@manoj153

Hard to say for now. Let's keep it here and see how it evolves

[2021-06-02 10:04] erwango commented on #34324
@ghlualven, @mHendelja

I'd like to see if the following could have an impact on your issue.
Would you mind having a try to add the following line in `soc/arm/st_stm32/stm32l4/soc.c`:

[code]
Then, in stm32l4_init:
[code]

Thanks

[2021-06-02 10:11] LQchengdu commented on #22078
Stlink turns on low-power debugging mode by default，turn off it or disable DBG mode by code is also work fine.

[2021-06-02 10:13] LQchengdu commented on #22078
For me, disable debug-mode by LL is also work fine.
[code]

[2021-06-02 10:19] ainguraXmarquiegui commented on #33747
Hello @hakehuang ,

Using  a direct connection between the imxrt1020 and a frdm_k64f I still am not able to see them get gptp working as expected.

Here's the setup:

![photo_2021-06-02_12-11-26](https://user-images.githubusercontent.com/72266939/120462928-af1a0f80-c39b-11eb-9d7e-c4c472164160.jpg)

I am always building pristine images for both boards. The code used for this test can be found here:

[2021-06-02 10:23] MaikVermeulen commented on #32610
Notification buffering indeed only makes sense on the higher observer levels where the Timestamp resource is bundled with the measurement. And that's fine, as there plenty of sensors where measurements are actually bundles anyhow. E.g. accelerometer.
This does mean however, that in formats that do not inherently include timestamps (so I believe anything except SenML / JSON), we need to explicitly

[2021-06-02 10:32] trintinwibul opened #35868 "H"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2021-06-02 10:51] endian-benjamin commented on #25935
Anything but decoupling DTLS session from ip/port will be an insufficient solution IMO.

Check out the RFC for "DTLS connection id" - last I checked it was still in draft stage but both mbedTLS and Leshan had implemented it in later versions I believe. With session IDs, the session epoch won't be reset, the ip/port will be irrelevant and everything will be beautiful.

https://datatracker.ietf.org/

[2021-06-02 10:53] endian-benjamin commented on #19527
@rlubos Isn't queue mode + dtls connection id the answer?

[2021-06-02 11:02] #35868 closed

[2021-06-02 11:02] carlescufi commented on #35868
@trintinwibul I have closed this since it had no content. Please create a new issue.

[2021-06-02 11:11] dhandzic commented on #19527
I dont think queue mode is the answer, since it means the device does not need to listen all the time. This is not a feasible solution as soon as the device is used to actuate anything and reasonably fast response is required. The sleeping time of the LWM2M engine needs rather to be synchronized with the modem. The latest modem firmware 1.30 for i e nRF9160 offers AT commands to let the modem noti

[2021-06-02 11:18] nashif opened #35870 "Build failure with gcc 11.x on native_posix"
**Describe the bug**
Warnings from new gcc turning into errors:

[code]

**To Reproduce**

On fedora 34 with gcc 11.x

Steps to reproduce the behavior:
1.  twister -T samples/philosophers/ -p native_posix
4. See error

[2021-06-02 11:22] nashif opened #35871 "LPS22HH sensor reporting wrong pressure data"
**Describe the bug**

The pressure sensor reporting wrong data that is too high

**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b frdm_k64f samples/shields/x_nucleo_iks01a3/ -- -DSHIELD=x_nucleo_iks01a
2. See data on console

[code]

**Expected behavior**

Value should be realistic

[2021-06-02 11:23] nashif commented on #35871
also note:

`LIS2MDL: Temperature: 4631.4 C`

[2021-06-02 11:26] JordanYates commented on #28722
One downside of using `ccc_write` instead of `ccc_changed`  that I realised later is that the GATT layer doesn't recognize that the characteristic has been subscribed at that point in the function.

i.e. you can't call `bt_gatt_notify` inside the `ccc_write` callback.

[2021-06-02 11:31] FRASTM commented on #35850
now passed on 2.6.0-rc3:
[code]

[2021-06-02 11:41] #35286 closed

[2021-06-02 11:56] lyakh opened #35873 "Log on Intel ADSP / SOF repeats"
**Describe the bug**
Running adsplog.py generates output with fragments repeating multiple times.

**To Reproduce**
1. Launch adsplog.py with output redirected to a file
2. In a different shell prompt perform actions, creating output, e.g. play audio, wait for the driver to suspend the DSP, play audio again, etc.
3. Stop logging
4. Search for some of timestamps, appearing closer to the end of the

[2021-06-02 11:56] lyakh commented on #35873
@andyross could you have a look, please?

[2021-06-02 12:00] erwango commented on #35793
I'll have a new round of test in case this was a friday evening bug.
But I confirm that I tried just before and after the commit a certain number of time to validate the bisect result.
I'll also compare twister and west binaries, while I'm at it.

[2021-06-02 12:06] rlubos commented on #35789
I think this should be fairly simple to implement. We have `tls_mbedtls_handshake()` function, which is actually the only entry point for the handshake process. We could set some flag, `handshake_in_progress` on the TLS context upon entry/exit of this function. Then, in the offloaded poll, either discard the data (if no connection is established and handshake is not in progress), or ignore it if h

[2021-06-02 12:22] nandojve commented on #34971
I would like suggest a structure to accommodate both ARM and RISC-V:

1) Add a hal_gigadevice
This will have all SoC related code, something like this [proposal](https://github.com/nandojve/hal_gigadevice)
2) Instead add hal_nuclei or even a sdk_nuclei, I believe the relevant part is [NMSIS](https://github.com/Nuclei-Software/NMSIS). NMSIS is pretty close to ARM CMSIS. I think this will better sca

[2021-06-02 12:46] joerchan opened #35876 "Bluetooth: host: CCC store not correctly handled for multiple connections"
**Describe the bug**

Reported on slack:

I am not familiar with the code in gatt.c but looks like the following code (from L1744)
    ...
    cfg->value = value;
    BT_DBG("handle 0x%04x value %u", attr->handle, cfg->value);
    /* Update cfg if don't match */
    if (cfg->value != ccc->value) {
        gatt_ccc_changed(attr, ccc);
    ...
should be replaced by
    ...
    BT_DBG("handle 0x%04x

[2021-06-02 12:48] erwango commented on #35793
One mystery solved:
`kernel.scheduler.multiq` requires use of `-DCONF_FILE=prj_multiq.conf` when run with west.
Using this, I get the same status in twister and manual.

Then I confirm that test is failing on commit 851d14a and failed on the SHA1 before.
I've been able to confirm this a number for times.

BUT, I'm not able to reproduce the issue anymore on top of master, and I can see same status

[2021-06-02 13:49] #33544 closed

[2021-06-02 13:52] galak commented on #28729
@ioannisg can you clear this out / migrate to a 2.7 version.

[2021-06-02 13:55] galak commented on #33873
Looks like PR still needs to address or come to resolution with @andyross comments.

[2021-06-02 13:57] bob2oneil commented on #35813
My thanks to aescolar and jukkar for helping out on this topic in a quick manner.  You guys are a credit to the open source community.

[2021-06-02 13:57] #35813 closed

[2021-06-02 14:03] mglettig commented on #35532
I figured out what was wrong here. A combination of 2 things:
- I didn't use the Root CA certificate but the server certificate. Correct would be to use the root ca certificate (the first certificate of the trust chain).
- I needed to set `CONFIG_MBEDTLS_SSL_MAX_CONTENT_LEN=4096` or more.

On one hand the issue is solved for me now. On the other hand I think it would be good to provide a https cli

[2021-06-02 14:07] mmahadevan108 commented on #35656
@ioannisg Any guidance on this issue?

[2021-06-02 14:09] mglettig commented on #34218
@Nukersson Do you think you will find time to investigate this issue in the near future? It would help us a lot to get a more stable version of civetweb.

[2021-06-02 14:11] mglettig commented on #34438
Is anybody willing to discuss my points from the last post?

[2021-06-02 14:34] jukkar commented on #35532
As there are multiple ways to configure and use mbedtls, it can be difficult to provide a setup that works for everyone. One problematic thing with mbedtls is that it does not provide good information if something goes wrong. For example the max content len really depends on data that is being sent and received. I just wonder why mbedtls is not able to negotiate the buffer size so that both partie

[2021-06-02 14:35] rlubos commented on #34438
A few comments from my side:

This is a good location for module-related Kconfig entries.

Note that entropy handling in TLS sockets implmentation is a subject of change after the release. Zephyr provides its own secure RNG for some time now, and secure sockets are going to use it:
https://github.com/zephyrproject-rtos/zephyr/pull/35166/files

I think we could consider to add a generic [mbedtls_pl

[2021-06-02 14:36] jukkar commented on #35532
That is a good idea, would you be able to provide one or extend the existing samples to do this?

[2021-06-02 14:39] rlubos commented on #35532
Just a small reminder that we already have `http_get` and `big_http_download` samples - both connect to the http server in the internet and both run either http or https. Not sure if we want to maintain yet another sample.

[2021-06-02 14:47] akiannillo opened #35880 "PSA tests run indefinitely when CONFIG_TFM_IPC=y"
**Describe the bug**
I tried to run the tf-m PSA test with CONFIG_TFM_IPC=y.
It simply reboots the test suite over and over, indefinitely.

Run with `west build samples/tfm_integration/tfm_psa_test/ -p -b mps2_an521_nonsecure -t run -- -DCONFIG_TFM_PSA_TEST_STORAGE=y`

It can be solved increasing the watchdog timer in `../modules/tee/tfm/psa-arch-tests/api-tests/platform/targets/tgt_dev_apis_tfm_a

[2021-06-02 14:53] Nukersson commented on #34218
I ma currently on it. But first need to update Civetweb to latest one.

[2021-06-02 15:08] ioannisg commented on #35880
Hi @akiannillo, I believe this is the intended behavior of the sample.

[code]

[2021-06-02 15:10] mbolivar-nordic opened #35882 "Fixed width documentation makes DT bindings docs unreadable"
**Describe the bug**

See  e.g. https://docs.zephyrproject.org/latest/reference/devicetree/bindings/spi/nordic%2Cnrf-spim.html#dtbinding-nordic-nrf-spim

Which, on my system's Firefox, looks like this (notice how the property description is cut off and requires scrolling to read):

![2021-06-02T08:08:08,424747574-07:00](https://user-images.githubusercontent.com/62298616/120505336-ba5c4380-c379-11e

[2021-06-02 15:16] gmarull commented on #35882
We can make a workaround as we did for Kconfig, but we really need to move away from tables (or structure them better), specially if we plan to support LaTeX properly at some point.

Ref. https://github.com/zephyrproject-rtos/zephyr/pull/35369/commits/fb1957ea1f0a0c9dda8f81930ecd96a0823001e8

[2021-06-02 15:18] ioannisg commented on #28729
Yeap, already started doing that.

[2021-06-02 17:13] #35882 closed

[2021-06-02 17:55] sylvioalves commented on #35812
@maweicoltsmart Dismiss my comment about the phandle usage. It is for bg9x modem.
The RAM problem is really an issue. Can you try reducing BG9X RECV buffer. It is default 30k. Wondering if this should be placed into Kconfig instead of define.

`NET_BUF_POOL_DEFINE(mdm_recv_pool, MDM_RECV_MAX_BUF, MDM_RECV_BUF_SIZE, 0, NULL);`

`quectel-bg9x.h`
[code]

[2021-06-02 19:28] tejlmand commented on #19582
Done, fixed here: https://github.com/zephyrproject-rtos/zephyr/pull/35887

[2021-06-02 20:37] ioannisg commented on #35880
Yeap, so I suggest we close this.

[2021-06-02 20:47] palchak-google opened #35890 "Build system ignores explicit ZephyrBuildConfiguration_ROOT variable"
**Describe the bug**
CMake's `find_package` function allows users to set a specifically named variable to specify where to search for a specific package. Zephyr's build system uses CMake's `find_package` functionality to locate the optional ZephyrBuildConfiguration package. However, Zephyr's build system ignores the value of the ZephyrBuildConfiguration_ROOT variable if it is set. This prevents us

[2021-06-02 20:56] jenmwms commented on #33275
@andyross Thanks for the suggestion to try removing this piece from `locore.S`. The sample boots with this removed (and still using the existing THREAD_RUNTIME_STATS=y).
[code]
So now to understand why this unblocked us to boot.  Looks like there is a bug here, tho.

[2021-06-02 21:04] #31774 closed

[2021-06-02 21:10] Nukersson commented on #34218
@mglettig @gebauerf What happens if your explicitly try to access `http://192.0.2.1:8080/favicon.ico`. Cause in my case it works from latest Chrome and Mozilla. And nothing crushes.

[2021-06-02 21:13] palchak-google commented on #35890
Actually, a better solution is to replace the following line in boilerplate.cmake:

[code]

with this:

[code]

This change would enable searching in paths specified in the `<PackageName>_ROOT` CMake variable and the `<PackageName>_ROOT` environment variable while still excluding all other implicit search paths.

[2021-06-02 21:25] Nukersson commented on #34218
Can you please put here your `prj.conf` or is it the same as in `http_server` sample?

[2021-06-02 21:29] Nukersson commented on #34737
I agree with it. It is done.

[2021-06-02 22:23] rajithavk commented on #31742
Hi, I am testing the throughput for hci_uart on 1M PHY. I've used the same source from @Oxymoron79 . Thanks for that work.
My configuration is
Kernel : 5.19+
Bluez : 5.58

UART baud rate : 460800
Notification data length : 20Bytes.

I'm using 2 Adafruit_feather_nrf52840 for this purpose and a custom linux host based on BBBW. Somehow my observations are abnormal from what  I see. So i'm posting bel

[2021-06-03 03:02] shubhamkulkarni97 commented on #35812
@maweicoltsmart ESP32 has discrete RAM regions. The system heap allocator is enabled for the first DRAM region i.e. `dram0_0_seg`.

The second DRAM region (i.e. `dram0_1_seg`) is used for `noinit` data. To add free memory from `dram0_1_seg` to heap, we have setup an allocator for this region. If you are having issue with segment overflow, you can reduce the size of heap allocator from `dram0_1_seg

[2021-06-03 06:05] hakehuang opened #35896 "frdm_k64f: build failure missing dt-bindings/clock/kinetis_sim.h: No such file or directory"
**Describe the bug**
missing dtb clock file
dt-bindings/clock/kinetis_sim.h: No such file or directory

**To Reproduce**
Steps to reproduce the behavior:
cd samples/hello_world
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f ..
3. make
4. See error

**Expected behavior**
build pass

**Impact**
kinetis support

**Logs and console output**
[code]

**Environment (please complete the following inf

[2021-06-03 06:05] hakehuang commented on #35896
@MaureenHelm , @dleach02

[2021-06-03 06:25] galak commented on #35896
Can't reproduce this, https://github.com/zephyrproject-rtos/zephyr/blob/main/include/dt-bindings/clock/kinetis_sim.h exists so feels like something local to your environment.

[2021-06-03 06:43] hakehuang commented on #33747
@ainguraXmarquiegui this is the expected result, as the gptp stack does not support to act as master mode, so both boards will keep in nego status. and I do find some missing code at your side, please see my repo
https://github.com/hakehuang/zephyr/tree/rt_gpt_clock_fixing
https://github.com/hakehuang/hal_nxp/tree/test_ptp

[2021-06-03 06:54] hakehuang commented on #35896
@galak  you are right, it is my lock repo issue, thank for quick check.

[2021-06-03 06:54] #35896 closed

[2021-06-03 06:55] LingaoM opened #35897 "Bluetooth: PTS Tester on native posix"
I now notice that autopts calls uart_pipe realizes the transmission of data,
and this mechanism is not implemented in native posix, so If we want to run and
test the Bluetooth host under native, how do we do it?

[2021-06-03 06:57] ghlualven commented on #34324
@erwango I tried the change, but no lucky.

[2021-06-03 07:52] avisconti commented on #35871
@nashif
Anas, can you possibly set the priority of this bug? For me it is low, but I'll let you decide. Anyway, I'll start asap.

[2021-06-03 07:53] aescolar commented on #35876
CC @jrth

[2021-06-03 07:57] erwango commented on #34324
ok, thanks.

[2021-06-03 08:56] tejlmand commented on #35890
@palchak-google fixed here: https://github.com/zephyrproject-rtos/zephyr/pull/35902

[2021-06-03 09:06] emillindq commented on #35789
Yes I think this is the cleanest solution! Is it perhaps possible to implement this in a way so we can revert https://github.com/zephyrproject-rtos/zephyr/pull/33474 ? It would be nice if one fix covers both offloaded and native poll

[2021-06-03 09:12] ainguraXmarquiegui commented on #33747
Hello @hakehuang,

I have now run 4 different tests, and I still think gptp is not working properly.

As you can see, the test code is still throwing errors and not getting to the expected role. Here's the details about each of the tests:

# avnugptp master + imxrt1020 slave running test code

## Compiled code:
* zephyr:
  * remote: https://github.com/hakehuang/zephyr
  * Commit id: `647d33a83fd6f

[2021-06-03 09:36] #35876 closed

[2021-06-03 09:39] avisconti commented on #35871
@nashif
This is LIS2MDL, can you please open a separate bug for it?

[2021-06-03 10:26] thedjnK opened #35908 "Stopping DHCP with network interface goes down leaves networking state in a broken state"
**Describe the bug**
We are developing an application which uses MQTT over ethernet with an interface that uses DHCP to get an address - hardware is an nRF5340-based module with enc424j600 ethernet driver. The application is runtime configurable for DHCP or static addressing, we are currently testing DHCP whereby it starts up, enables DHCP on an interface then makes a MQTT connection which fails a

[2021-06-03 11:24] carlescufi commented on #33052
@MarkWangChinese this is actually a valid coverity bug. This part here:

![image](https://user-images.githubusercontent.com/12450381/120637141-cbd34780-c46e-11eb-9fea-09da63d7d6a5.png)

assumes that there are at least 2 valid bytes pointed to by `data*` but in fact, the loop iterator (`while (data - buf->data < buf->len)`) only guarantees you one, and on top of that there is a increment of `data*`

[2021-06-03 11:25] carlescufi commented on #33041
@MarkWangChinese See my comment in #33052

[2021-06-03 12:22] nashif opened #35910 "LIS2MDL reporting wrong temperature"
**Describe the bug**

[code]

Note this:

`LIS2MDL: Temperature: 4632.4 C`

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b frdm_k64f samples/shields/x_nucleo_iks01a3/standard/ -- -DSHIELD=x_nucleo_iks01a3
2. west flash
3. See error

[2021-06-03 12:22] nashif commented on #35871
see #35910

[2021-06-03 12:25] nashif opened #35911 "shield sample sensorhub does not produce and meaningful data"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b frdm_k64f samples/shields/x_nucleo_iks01a3/sensorhub/  -- -DSHIELD=x_nucleo_iks01a
2. west flash
3. See output, no sensor data at all

**Expected behavior**
expecting some sensor data

[2021-06-03 12:49] erwango commented on #24119
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/34786

[2021-06-03 12:49] #24119 closed

[2021-06-03 13:07] avisconti commented on #35911
@nashif
Did you put the x_nucleo_iks01a3 shield in Mode2 (sensorhub)?
See info on how to configure jumpers here:
https://docs.zephyrproject.org/latest/boards/shields/x_nucleo_iks01a3/doc/index.html

[2021-06-03 13:34] #19582 closed

[2021-06-03 13:51] jukkar commented on #35908
I do not have an easy way to test MQTT atm, but that should not be relevant thing here as DHCP is running in lower layer.
So I did a small test with echo-server like this:
[code]
and then start to monitor the console. The Ethernet cable is connected and I see this:
[code]
then I disconnect the cable:
[code]
and then reconnect it:
[code]
Is this workflow similar as what you are doing?

[2021-06-03 13:57] maweicoltsmart commented on #35812
According to the solution you gave, the problem has been solved, thank you!

[2021-06-03 13:57] #35812 closed

[2021-06-03 14:43] thedjnK commented on #35908
Yes, I'll give it a try on one of the small networking sample apps and see if I can reproduce it on that.

[2021-06-03 14:44] #35910 closed

[2021-06-03 14:44] niflostancu opened #35916 "drivers: TI cc13xx_cc26xx: build error when PM is enabled (serial, entropy, spi, i2c modules)"
**Describe the bug**
Latest Zephyr fails to build for CC13xx/26xx based boards (e.g., cc1352r1_launchxl) when power management is enabled.

The compiler complains that several `pm/pm.h` symbols were not defined (e.g., `pm_constraint_set`, `PM_STATE_STANDBY`).
I believe it was introduced by the following commits:
- 3863be02a5 _drivers: replace power/power.h with pm/device.h_
- 3f87c5a0f4 _power: Re

[2021-06-03 14:51] galak commented on #35916
@niflostancu your fix looks fine.  Please send a PR.

[2021-06-03 14:54] nashif commented on #35911
aha, switched now and I am getting output, looks like I am on the surface of the sun :-)

[code]

The above with latest main which fixes other sensor issues.

[2021-06-03 14:56] avisconti commented on #35911
OK, I'll take a look at it

[2021-06-03 15:01] avisconti commented on #35911
No, wait, I know the issue!
Values are bad because I think the irq-gpios for lsm6dso in DT is wron for that particular board (i.e. frdm_k64f). Does it make sense to you? So, you may want to check the rq_gpios definitions in standard mode (which seems to work) and in sensorhub mode.

[2021-06-03 15:16] nashif commented on #35911
ok, makes sense. lets close it then.

[2021-06-03 15:16] #35911 closed

[2021-06-03 16:19] ainguraXmarquiegui commented on #33747
Has this issue been accidentaly been closed because #35328 or is gptp been verified to be working on imxrt1020evk?

If it was a mistake, please reopen the issue.

[2021-06-03 17:42] palchak-google commented on #35890
Thanks!

[2021-06-03 19:57] manuaatitya opened #35924 "Help with Configuring Custom GPIO Pins"
Hi,
    I'm trying to write an app to control different motor attached to the [STM_Nucleo H743zi board](https://os.mbed.com/platforms/ST-Nucleo-H743ZI/) for which I've to set some GPIO Pins as output so that that I run them (by setting the GPIO pins as high) as per requirement.

I would like to configure multiple pins from the board for the motor input and output purpose but I'm having trouble con

[2021-06-03 21:21] berendo opened #35926 "Shell tab-completion with more than two levels of nested dynamic commands fails"
**Describe the bug**
Shell commands declared with `SHELL_DYNAMIC_CMD_CREATE()` can further define another level of dynamic commands by setting the `subcmd` of the dynamic entries they return to another command set declared with `SHELL_DYNAMIC_CMD_CREATE()`. Tab-completion with such a deeper nested dynamic command structure fails because in such a scenario [`z_shell_find_cmd()`](https://github.com/

[2021-06-03 22:29] berendo commented on #35926
One could argue that the source of the issue is one more function call up, in [`z_shell_get_last_command()`](https://github.com/zephyrproject-rtos/zephyr/blob/a02704bacf468147d37ad9bb4b67c3a24dd94d02/subsys/shell/shell_utils.c#L327) where the two parameters passed down to `z_shell_find_cmd()` (`entry` and `dloc`) can alias to the storage and the former is used as the anchor to the current command

[2021-06-04 00:11] jhardyswym opened #35930 "nRF Dongle as BLE Central Unstable Connectivity at Long-ish Range"
I am developing a project using an nRF52840 dongle as a BLE central to connect and subscribe to a single GATT characteristic on up to 10 remote BLE sensors.

At this point, everything works as intended and I am able to successfully connect and subscribe to notifications on 10 concurrently. The only problem is when one of the sensors is outside of a certain range (AKA when the RSSI drops too low).

[2021-06-04 00:40] JordanYates opened #35931 "Bluetooth: controller: Assertion in ull_master.c"
**Describe the bug**
A rare Bluetooth ULL assertion has been observed on Zephyr v2.5.
On Zephyr v2.5 the assertion is at line 720.
On Zephyr v2.6 the assertion is at line 868.

`ticker_start` in `ull_master_setup` is returning `TICKER_STATUS_FAILURE` instead of the expected `TICKER_STATUS_SUCCESS` or `TICKER_STATUS_BUSY`.

The application triggering the asserts is performing the following actions:

[2021-06-04 01:07] #35076 closed

[2021-06-04 01:11] #35924 closed

[2021-06-04 01:15] MaureenHelm commented on #35658
I think the test needs to be updated similar to Nordic platforms:
https://github.com/zephyrproject-rtos/zephyr/blob/45bd3dee08ef9804fd4684ae20fde4e53af2c0f2/tests/arch/arm/arm_irq_vector_table/src/arm_irq_vector_table.c#L177-L196

[2021-06-04 02:01] JordanYates commented on #35931
Caught the error again, the sequence before the assertion was:
1. Connection created and failed to establish
2. Connection retry started
3. Bluetooth advertising started (Period = 30 - 60ms) @ Time T
4. Assertion @ Time (T + 40ms)

So it seems likely that the assertion itself is related to the advertising TX.

[code]

[2021-06-04 02:14] cvinayak commented on #35931
At anytime, from the ULL HIGH execution context, a maximum of 3 ticker operations (or 4 ticker operations in case of flash driver being enabled) could be enqueued. The assert conveys that the ULL HIGH operations queue is full.

Is this issue reproducible in v2.6.0-rc1 ?

The assertion in that case was added after the v2.5 release, so the question is "Is the strict failure check also wrong in this

[2021-06-04 03:13] JordanYates commented on #35931
Unfortunately I haven't completed updating our libraries to v2.6 yet so I can't test that yet.

The flash driver is enabled but it is only used at startup in this application.

[2021-06-04 03:49] soburi commented on #34971
@nandojve

Thanks for the comments.

I was worried about how source code structure is good for this SoC in coding.
The suggestion is sound good.

I pushed sources to hal_nuclei which is a single repository.
and after, remove files that are licensed unclearly.
As a result, now it contains only NMSIS (headers about Nuclei core) and GigaDevice peripheral driver.
I think splitting Nuclei's source and

[2021-06-04 05:34] fanghuaqi commented on #34971
Hi， I think a hal for NMSIS is a good idea, we can follow https://github.com/zephyrproject-rtos/cmsis to have a  https://github.com/zephyrproject-rtos/nmsis to track https://github.com/Nuclei-Software/NMSIS/

[2021-06-04 05:36] fanghuaqi commented on #34971
For https://github.com/soburi/hal_gigadevice, I think you can split the https://github.com/Nuclei-Software/nuclei-sdk/tree/master/SoC/gd32vf103 as part of hal_gigadevice HAL since it used APIs defined in NMSIS, and follow similar projects like https://github.com/zephyrproject-rtos/hal_nxp.

Thanks
Huaqi

[2021-06-04 06:00] cvinayak commented on #35930
CONFIG_CLOCK_CONTROL_NRF_K32SRC_250PPM=y

Any reason for using the internal RC oscillator for the 32KHz source? nRF52840 dongle has a 32KHz crystal, is it damaged in your dongle?

Have you tried using a nRF52840 DK instead for your application?

Plese provide details as to building, flashing, reproducing, commit revisions, toolchain, OS environment etc. (as requested in the github issue template)

[2021-06-04 06:08] hakehuang commented on #33747
this looks like partial solved the hal layer issue, there are more issues in the gptp stack integartion, so I reopen it

[2021-06-04 08:11] lairdjm opened #35939 "enc424j600 driver unusable/broken on stm32l552"
**Describe the bug**
Testing with the dumb_http_server_mt sample with an STM32 nucleo board and enc424j600 ethernet results in an unusable application which outputs lots of error

**To Reproduce**
Steps to reproduce the behavior:
1. Configure ethernet for nucleo_l552ze_q with following:
[code]
2. Build dumb_http_server_mt
3. Flash to board
4. Attempt to ping or connect to board and a multitude of

[2021-06-04 08:33] hakehuang commented on #33747
really thanks @ainguraXmarquiegui , I find there is an issue in the driver update, I update the fix in https://github.com/hakehuang/zephyr/tree/rt_gpt_clock_fixing_dev

and it shall works with frdm_k64f, but should have problem with rt series, because on my boards in negoniating the board turns to Master not slave, looks like the time on rt boards is more precise than PC.

[2021-06-04 08:43] Delsian opened #35941 "subsys: tracing: sysview: No SEGGER_SYSVIEW.h in path"
**Describe the bug**

When enabling CONFIG_SEGGER_SYSTEMVIEW compilation fails with an error
[code]

**To Reproduce**
[code]

**Impact**
showstopper, systemview not usable

**Environment (please complete the following information):**
 - OS: Windows
 - Toolchain Zephyr SDK
 - Commit SHA 3d39f72a88b3100ac83e7c6c285ae567aca640d0

**Additional context**
File SEGGER_SYSVIEW.h located inside SystemView

[2021-06-04 09:18] StefJar commented on #32261
I am closing that issue, because it can not reproduced.
Important lesson learned is that
HW_STACK_PROTECTION
and
STACK_SENTINEL
are not necessary compatible.
Thx to @dcpleung  and @ioannisg

[2021-06-04 09:18] #32261 closed

[2021-06-04 09:25] JPSELC commented on #32610
Regarding : 4. CON message ACK timeout after retries (e.g. server did not respond properly), I think there should be a Kconfig option which enables the calling of engine_trigger_update as per https://github.com/zephyrproject-rtos/zephyr/issues/31499, which would then result in 3. Not registered at LWM2M server (e.g. lifetime update failed), so there are less conditions to be handled.

[2021-06-04 09:57] Delsian commented on #35941
Resolved

[2021-06-04 09:57] #35941 closed

[2021-06-04 10:05] SgrrZhf opened #35943 ""samples/arch/smp/pi" may stuck in k_sleep() on qemu_cortex_a53 board when SMP(2 core) is enabled and "NO_OPTIMIZATIONS" is selected."
**Describe the bug**
I found that "samples/arch/smp/pi" have a great chance to stuck in k_sleep() when SMP(2 core) is enabled and "NO_OPTIMIZATIONS" is selected.
But it can work well if "ARMV8_A_NS" is selected.

**To Reproduce**
Steps to reproduce the behavior:
west build -p always -b qemu_cortex_a53 samples/arch/smp/pi
west build -t menuconfig
make some changes, see below.
[code]
west build -t r

[2021-06-04 10:31] alexsven opened #35945 "SPI4 on nRF5340 not working when using k_sleep() in main"
**Describe the bug**
When building a release build with no serial, no debug etc. I've noticed that SPI4 won't work if there is a k_sleep() in main. I know this is a very special edge case, but it could be part of a larger issue.

The bug can be seen using a logic analyzer connected to:
MOSI: P0.09
MISO: P0.10
SCK: P0.08
CS: P0.011

When the k_sleep is present, only the CS-pin toggles

When swappin

[2021-06-04 11:05] carlescufi commented on #27415
Closing this since this is now complete.

[2021-06-04 11:05] #27415 closed

[2021-06-04 11:28] carlescufi commented on #28716
Closing

[2021-06-04 11:28] #28716 closed

[2021-06-04 11:33] Urist-McGit opened #35949 "can: mcan: sjw-data devicetree configuration is not written correctly"
**Describe the bug**
When setting the `sjw-data` field on M_CAN devicetree nodes the values are not written in the correct registers.

**To Reproduce**
1. Configure `sjw-data` field on any M_CAN node
2. Build the example under `samples/drivers/can/` with CANFD enabled
3. Run the example.

**Expected behavior**
The configured `sjw-data` is written to the to `DBTP` register.

**Impact**
The configur

[2021-06-04 12:23] patrick-dojofive commented on #1392
The getting started page linked above DOES NOT even mention elftools

[2021-06-04 12:59] ric96 commented on #31290
Any updates on this or the related pr https://github.com/zephyrproject-rtos/zephyr/pull/32646 ?

The issue still seems to persist. The PWM LED fade sample works with prescaler value of 10000 but when mapping values between using `MIN_PERIOD_NSEC MAX_PERIOD_NSEC` marcos it only works if prescaler is set to 0.
So this line does not works with 10000 prescaler `pwm_pin_set_nsec(pwm_tim, pwm_chan , MAX

[2021-06-04 13:12] #35949 closed

[2021-06-04 13:12] erwango commented on #17375
@ikerperezdelpalomar Can you check if this issue could be closed, following mege of https://github.com/zephyrproject-rtos/zephyr/pull/34673 ?
Txs

[2021-06-04 13:12] jakub-uC commented on #35926
@berendo Thank you very much for finding this bug. I did not know that anyone is using dynamic commands, especially with dynamic subcommands ;-).

[2021-06-04 13:14] erwango commented on #17748
Closing as I'm not certain this is the way to go anymore.
At least, this is not a goal by itself anymore

[2021-06-04 13:14] #17748 closed

[2021-06-04 13:16] erwango commented on #21293
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/32777 and #27291

[2021-06-04 13:16] #21293 closed

[2021-06-04 13:20] jakub-uC commented on #35926
btw. If you wish to test the example using your code please either add a command handler or add in dynamic handlers:

[code]

[2021-06-04 13:31] erwango commented on #33895
@gudnimg I propose to close this point as we don't claim that STM32 soc description are complete, but they are done on need basis. So that's ok to open a point is if there's an action to close it, but I don't want to keep these for long as I don't plan to track them.
Feel free to re-open if you have plans to fix

[2021-06-04 13:31] #33895 closed

[2021-06-04 13:33] erwango commented on #31290
@ric96 nothing has been done for now. But I plan to get this fixed for v2.7.0

[2021-06-04 13:55] FRASTM commented on #35850
issues appears again on the
SHA1 a02704bacf468147d37ad9bb4b67c3a24dd94d02
SHA1 95e359d65809458e03c960492f396720c5d9dcd3

[2021-06-04 14:06] carlescufi opened #35955 "Bluetooth: Controller: Regression in connection setup"
An incorrect and redundant use of ticker user id ULL_LOW
instead of ULL_HIGH when setting up a connection using a
mayfly to disable LLL context. Also, the LLL context pointer
is invalid, where node rx is passed instead of LLL context.

This prevents connections from correctly establishing.

Regression introduced in commit 30f260d ("Bluetooth:
controller: Fix adv/scan context access post release").

[2021-06-04 14:13] FRASTM commented on #35793
issues appears again on the
SHA1 a02704b
SHA1 95e359d

[2021-06-04 14:52] nashif commented on #33265
closing this

[2021-06-04 14:52] #33265 closed

[2021-06-04 15:10] FRASTM commented on #35793
It should be noticed that forcing the 	`LL_FLASH_SetLatency(LL_FLASH_LATENCY_2);`
in the drivers/clock_control/clock_stm32_ll_common.c
(end of the stm32_clock_control_init function)
is a workaround to pass the test.

[2021-06-04 15:15] FRASTM commented on #35850
It should be noticed that forcing the LL_FLASH_SetLatency(LL_FLASH_LATENCY_2);
in the drivers/clock_control/clock_stm32_ll_common.c
(end of the stm32_clock_control_init function)
is a workaround to pass the test.

[2021-06-04 15:24] #35916 closed

[2021-06-04 15:39] nashif opened #35962 "drivers using deprecated Kconfigs"
Few drivers still using deprecated Kconfig CONFIG_DEVICE_POWER_MANAGEMENT, fix them to use CONFIG_PM_DEVICE.

[2021-06-04 15:48] Urist-McGit commented on #24802
I am currently working on a M_CAN driver specialization for the SAMV71 series. My current progress can be found here: https://github.com/Urist-McGit/zephyr/commits/can_mcan_samv71_driver

The work is done for the most part. I am unfortunately stuck on a problem very likely related to the message ram. To summarize the current progress: the driver sends and receives messages on the right pins, with

[2021-06-04 16:13] maximevince opened #35964 "shell_uart hangs when putting UART into PM_LOW_POWER_STATE / PM_DEVICE_STATE_LOW_POWER"
**Describe the bug**
The shell thread can hang when putting the UART into PM_LOW_POWER_STATE, before it has finished outputting all characters on the physical UART. (At least on an nRF52)

It seems the shell thread is stuck in `shell_pend_on_txdone()`, polling for the `SHELL_SIGNAL_TXDONE` signal which is never coming, since the UART driver was put into LOW_POWER_STATE.

**To Reproduce**
Steps to

[2021-06-04 16:34] StefJar commented on #17375
this issue was partially fixed through https://github.com/zephyrproject-rtos/zephyr/pull/34673.
@erwango it works for me with that stage. Lets close it for now

[2021-06-04 16:34] #17375 closed

[2021-06-04 16:59] jhardyswym commented on #35930
OS Environment: Ubuntu 18.04
ZEPHYR_TOOLCHAIN_VARIANT: zephyr
Build using MCUBoot with a signed application
Flashed over SWD w/ a Nordic Dev kit using `west flash --hex-file build/zephyr/zephyr.signed.hex`

Console Output:
[code]
Is there a way to get my zephyr commit version?

[2021-06-04 17:13] #35955 closed

[2021-06-04 17:19] #35962 closed

[2021-06-04 17:23] #35926 closed

[2021-06-04 17:38] berendo commented on #35926
@jakub-uC I see that @galak merged the PR associated with this issue, but I want to make sure you saw my notes here https://github.com/zephyrproject-rtos/zephyr/pull/35951#issuecomment-854845754. Regardless, thank you for the quick response.

[2021-06-04 17:43] galak opened #35966 "Zephyr 2.7 Release Checklist"

[2021-06-04 17:48] galak commented on #32293
https://github.com/zephyrproject-rtos/zephyr/issues/35966

[2021-06-04 17:50] #35890 closed

[2021-06-04 18:39] alexanderwachter commented on #24802
@Urist-McGit can you write a message in the canbus slack channel? Michael Albrechr, @legoabram and me already solved this problem. It is the cache! You need to invalidate the caches after a write and before a read of the msg_sram

[2021-06-04 19:17] galak commented on #32293
Bug status:
High: 0
Medium: 10
Low:

[2021-06-04 19:19] galak commented on #32293
Git Status:
Num commits: 52908 (`git rev-list --count upstream/main`)
Contributors 976  (From main Zephyr Github Page, under about)
Repositories: 94 (on https://github.com/zephyrproject-rtos)
Num pull requests: 35968 (Look for latest pr number on https://github.com/zephyrproject-rtos/zephyr/pulls)

[2021-06-04 19:42] ceolin commented on #21205
This function was removed and `z_device_get_all_static` should be used.

[2021-06-04 19:42] #21205 closed

[2021-06-04 20:54] yerabolu commented on #34879
@scottwcpg: Not sure if there are any other cases. Trying to investigate further.

[2021-06-04 21:24] yerabolu opened #35970 "up_squared: samples/boards/up_squared/gpio_counter/ is failing"
**Describe the bug**
samples/boards/up_squared/gpio_counter/ is failing to set HAT pin 35 to OUT (-22).

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W -p up_squared --device-testing --device-serial /dev/ttyUSB0 -T samples/boards/up_squared/gpio_counter/  --west-flash="~/up_squared.sh"
2. see error

**Expected behavior**
Test should get executed and Pass as below:

**Impact**
What

[2021-06-04 21:47] yerabolu opened #35971 "ehl_crb: test_nop is failing under tests/kernel/common/"
**Describe the bug**
kernel.common.nop & kernel.common.nano64.nop tests are failing.

What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W -p ehl_crb --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/common/ --west-flash=/home/ztest/EHL_X86_PXE.sh -j 1 -vv
2. See error

**Expected behavior**
All the tests should pass

[2021-06-04 22:17] galak commented on #32293
Closing this out.  2.6 is out the door.  Just need to work on the blog.

[2021-06-04 22:17] #32293 closed

[2021-06-04 23:31] stephanosio opened #35972 "C++ exceptions do not work when building with GNU Arm Embedded"
**Describe the bug**
C++ exceptions do not work when building for ARM platforms using GNU Arm Embedded toolchain.

**To Reproduce**
Build and run `tests/subsys/cpp/libcxx` with `CONFIG_EXCEPTIONS=y` for any ARM board (e.g. `mps2_an521`).

**Logs and console output**
For `qemu_cortex_r5`:
[code]

For the rest of the emulated ARM platforms, including `qemu_cortex_m3` and `mps2_an521`, it just hangs

[2021-06-04 23:31] stephanosio commented on #35972
cc @galak @tejlmand

[2021-06-05 03:56] najumon1980 commented on #33544
Could  you please enable TCC Mode in BIOS and verify again ? For enable TCC mode, please go to BIOS "Intel Advance menu" and then go to "Intel(R) Time Coordinated Computing" and then enable "TCC Mode" . This will optimize SOC fabric, memory, etc. for maximum performance for time sensitive application which have stringent real time requirment. Please note that this can impact platform power

[2021-06-05 09:19] soburi commented on #34971
@fanghuaqi

I think this bit complex situation caused by GD32VF103_Firmware_Library not using NMSIS.
So, I modify that library to use NMSIS, and sent PR to GD's repos.

https://github.com/GigaDevice-Semiconductor/GD32VF103_Firmware_Library/pull/2

Once this patch is merged, "hal_gigadevice" will make it easy to separate gd32vf103 drivers, I think.
Until so, We need to modify gd32vf103 driver to fi

[2021-06-05 12:08] manoj153 commented on #34763
@hjuul you mentioned enabling IRQ, you done it in application code or directly on zephyr-driver source,
if you don't mind can you share a snippet?

[2021-06-05 14:57] lgl88911 opened #35978 "ESP32 SPI send data hangup"
**Describe the bug**
When using esp32 spi to drive st7789v, there will be hangup when sending data

**To Reproduce**
Steps to reproduce the behavior:
1. config st7789v for eps32
esp32.dts
[code]
prj.conf
[code]
2. west build -p -b esp32 zephyrproject/zephyr/samples/drivers/display/
3. west flash
4. After running, you will see that the spi will hangup when writing data

**Expected behavior**
SPI of

[2021-06-05 15:49] stephanosio commented on #35972
**Analysis**

When building with Zephyr SDK:
[code]

When building with GNU Arm Embedded:
[code]

The `__data_ram_end` address is invalid when built with GNU Arm Embedded toolchain and this causes `z_data_copy`'s data section `memcpy` to be called with a negative size:

https://github.com/zephyrproject-rtos/zephyr/blob/21d1ad3762302b3e461953df59430c77e0709274/kernel/xip.c#L28-L29

This happens onl

[2021-06-05 17:51] zephyrbot opened #35983 "[backport v1.14-branch] backport of #35935 failed"
This issue was created automatically because the backport of #35935 to `v1.14-branch` failed.

The backport to `v1.14-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v1.14-branch` and the `compare`/`head` branch is `backport-35935-to-v1.14-branch`.

[2021-06-05 17:56] stephanosio commented on #35972
UPDATE: C++ exception handling now works on all 32-bit ARM platforms when building with GNU Arm Embedded after #35982, given that `CONFIG_NEWLIB_LIBC_NANO=n`.

It fails as follows when `CONFIG_NEWLIB_LIBC_NANO=y`:
[code]

This might be a newlib/libstdc++ build-time configuration-related issue, especially noting that there seems to be a big difference in terms of the compiled binary size between th

[2021-06-05 18:11] manoj153 opened #35986 "POSIX: multiple definition of posix_types"
**Describe the bug**
A clear and concise description of what the bug is.
Multiple declaration/conflict between `/sys/_pthreadtypes.h` and `posix_types.h`
I was trying to import and compile an external c source, a posix compliant library with a zephyr based project

External library repo: https://github.com/digidotcom/xbee_ansic_library/

What have you tried to diagnose or workaround this issue?
Id

[2021-06-05 18:21] stephanosio commented on #35972
NOTE: Comparing Zephyr SDK and GNU Arm Embedded libraries

**Zephyr SDK**
[code]

**GNU Arm Embedded**
[code]

Note the size difference between `libstdc++.a` and `libstdc++_nano.a` for the two toolchains:
| Toolchain | libstdc++.a | libstdc++_nano.a |
| :-: | :-: | :-: |
| Zephyr SDK | 5.4M | 5.3M |
| GNU Arm Embedded | 5.5M | _3.5M_ |

There is no discernible difference between the Zephyr SDK and

[2021-06-06 00:29] #33554 closed

[2021-06-06 00:29] #33099 closed

[2021-06-06 00:29] #33016 closed

[2021-06-06 03:57] stoberblog opened #35992 "stm32f303k8 device tree missing DACs"
Hi,

I'm developing with a stm32f303k8 and I've found a few items missing from the device tree. These are both DAC peripherals (DAC1 and DAC2), CAN alternate pins (PB8 and PB9). I also had some issues with timer3 pwm channels.

I'm making a custom board which includes
[code]
which further intern includes
[code]

Firstly both DACs are missing:
[code]

Secondly there are pin-muxes missing from #incl

[2021-06-06 04:05] stoberblog commented on #35992
For reference, the same MCU is used on the Nucleo F303K8 which is a supported board and also what I based my custom board off.

[2021-06-06 16:06] stephanosio commented on #35972
So, as far as GNU Arm Embedded is concerned, **the nano variant of libstdc++ nano is not supposed to support C++ exceptions.**

From GNU Arm Embedded build script:
[code]

Note that `-fno-exceptions` is specified for the libstdc++ nano build.

**This is, in fact, a sensible decision made by the GNU Arm Embedded architects, given that enabling C++ exception handling support significantly increases

[2021-06-06 23:49] berendo commented on #35926
Please ignore my previous comment re: the alternate fix proposal - your fix looks good 👍.

[2021-06-07 00:29] #32733 closed

[2021-06-07 00:29] #31043 closed

[2021-06-07 04:25] soburi commented on #34971
I splitting modules by referred to advice from  @nandojve, @carlescufi and @fanghuaqi.

https://github.com/soburi/hal_nuclei/tree/nmsis
https://github.com/soburi/hal_gigadevice/tree/nmsis
(This is in another branch, not push to the PR branch yet.)

It well-separating CPU core-related header and SoC-specific drivers.
It is better than my first commit, I think.

Also, I updating the zephyr code alon

[2021-06-07 06:19] nwsetec opened #35999 "Unexpected Bluetooth disconnection and removal of bond"
**Describe the bug**
When using BT_KEYS_OVERWRITE_OLDEST=y and BT_MAX_CONN > 1 a connected device (if it is deemed the oldest bond) can be disconnected and bond removed.

**To Reproduce**
Use kconfig options with Bluetooth peripheral sample and protect the BAS characteristic with `BT_GATT_PERM_READ_AUTHEN`:
[code]

Steps to reproduce:
1. Connect and bond device A
2. Connect and bond device B
3. (N

[2021-06-07 08:00] rlubos commented on #35789
Sorry for the delay, I'll try to propose something.

[2021-06-07 08:03] erwango commented on #35992
@stoberblog We' have a PR in preparation to fix the missing CAN nodes. This should be available in few days.
About the pinmux, *-pinctrl.dtsi files are generated from official data base (https://github.com/STMicroelectronics/STM32_open_pin_data). So we need to see if the issue comes from the database or the generation script.

[2021-06-07 08:05] allopatin commented on #35719
@sylvioalves @rlubos Hello, would it be possible to get access to an early version of the API?

[2021-06-07 09:38] erwango commented on #35992
I just had a look to STM32F303K8 datasheet (DS9866.pdf)
Please note that 'he first letter after 303 refers to Pin count (cf "Chapter 8, Ordering information")
In current case, 'K' means 32 pins.
In that package, PB8 and PB9 are not available, which explain why matching CAN_RX and CAN_TX pinctrl config are not available.

Regarding the tim3 pin configs, I've been able to find them here:
https://git

[2021-06-07 10:03] #32035 closed

[2021-06-07 10:04] jakub-uC commented on #35964
@nordic-krch
Do you think it is a good solution to put UART to sleep mode without deinitializing the shell first?

[2021-06-07 10:09] #16231 closed

[2021-06-07 10:27] WilliamGFish commented on #21205
Am I able to use this function without implementing Power Management?

Billy..

[2021-06-07 10:29] nordic-krch commented on #35964
Can you try to run it on latest version. Just before 2.6 release there were couple of fixes in nrf uarte driver that should handle power downs.

[2021-06-07 10:45] Emill opened #36005 "Consider removing CONFIG_BT_FIXED_PASSKEY"
Consider removing CONFIG_BT_FIXED_PASSKEY

In https://github.com/zephyrproject-rtos/zephyr/pull/9169, an option CONFIG_BT_FIXED_PASSKEY was added to allow a fixed / static passkey to be used instead of a unique randomized one for every attempt, without a real discussion on what security implications this has.

But this is not in line with the specification. The SMP spec lists only two cases for th

[2021-06-07 10:49] stoberblog commented on #35992
Ah yes, my mistake for not triple checking as your correct. I had must have copied my configuration from another board (as my schematic is correct) and not realised as the CAN pins matched the pin out section for the PB8 and PB9 in the datasheet for STM32F03x6/x8 (DS9866).

I guess that means the only real issue is the DACs missing in the stm32f3.dtsi or stm32f303.dtsi files then.

[2021-06-07 10:50] hjuul commented on #34763
@manoj153 I did this in application code. I've scraped together some pieces of it below. As you can see it is a combination of Zephyr API and bare metal for the UART, bare metal for DMA and Zephyr API for interrupt handlers. I've since rewritten this to use Zephyr async uart API which is a lot easier, but also slower.
[code]

[2021-06-07 11:32] DominikWindhab commented on #32610
True. But I'm not sure if we would be able to change the observer id after the notify has been created in case of "2) registration not valid anymore" at the moment, are we? Anyways, the lwm2m engine must not throw away any notifications unless at least the server responded (or the buffer is full).

Agreed.

What are you thinking of? There are two options to do this:
1) unregister from server and t

[2021-06-07 12:01] windelbouwman commented on #22731
This docker image looks useful to setup a gitlab runner for example. How can I use the (which?) docker image to build my zephyr project?

[2021-06-07 14:40] ioannisg opened #36013 "arm: qemu: run cmsis-dsp tests on the qemu target with FPU"
As soon as we have a qemu target with FPU on Cortex-M (mps2_an521_remote), cmsis-dsp tests should be updated to test with this target (w/ hardfp). Currently cmsis-dsp tests are being tested using mps2_an521 with softfp.

Depends on #35381.

[2021-06-07 14:41] koalaByte opened #36014 "stm32g050: Missing closing parenthesis for soc prototype"
https://github.com/zephyrproject-rtos/zephyr/blob/a41fc5165acce3f1cee4d4f754844ad31ba48f0b/dts/arm/st/g0/stm32g050.dtsi#L10

west tool output:
[code]

There's a missing closing parenthesis for **soc** prototype in this file, which causes compilation to fail.
Fixing this should solve the issue. (tested locally)

[2021-06-07 15:00] rlubos commented on #32610
That sounds like a good idea, although I think the Network Management events should rather be handled on the application side, and the LwM2M library could expose APIs to put the engine offlline/online. This should fit nicely with the offloaded interafaces as well.

Actually, it should be even easier after some recent changes in the LwM2M engine, where the notifications are not sent immediately aft

[2021-06-07 15:03] de-nordic opened #36017 "RFC: Move mcumgr functionality as internal Zephyr service"
## Origin

Zephyr port of mcumgr: https://github.com/zephyrproject-rtos/mcumgr

## Purpose

Currently used fork is, snapshot updated, copy of https://github.com/apache/mynewt-mcumgr that relies on modified fork of TinyCBOR (https://github.com/zephyrproject-rtos/tinycbor) , taken from https://github.com/apache/mynewt-core/tree/master/encoding/tinycbor.

Mcumgr is missing some features, for example

[2021-06-07 15:07] de-nordic commented on #36017
FYI @carlescufi @nvlsianpu @oyvindronningstad @nandojve @mniestroj

[2021-06-07 15:10] carlescufi commented on #36014
@koalaByte thanks for the report. Could you send a Pull Request fixing this please?

[2021-06-07 15:12] koalaByte commented on #36014
Yes.

[2021-06-07 15:15] carlescufi commented on #36005
Thanks for the input @Emill. We have some Kconfig options that are inherently dangerous, and we warn the user when building the image. The particular warning for this one can be foud [here](https://github.com/zephyrproject-rtos/zephyr/blob/eda1cd073fd6ee911ab95cf7e351f404f4b60f63/subsys/bluetooth/host/CMakeLists.txt#L96). There are several others that are even potentially even more dangerous, like

[2021-06-07 15:31] Emill commented on #36005
Right, I didn't notice that warning, which was apparently added recently. It's good that it's there.

[2021-06-07 15:44] Emill commented on #36005
Right, I didn't notice that warning, which was apparently added recently. It's good that it's there :)

But when reading through the description and the comments at https://github.com/zephyrproject-rtos/zephyr/issues/8350, it is apparent that noone understood the security implications of this, since the reason for adding this was to get an extra "feature" to be able to get MITM security on devices

[2021-06-07 16:06] carlescufi commented on #36005
@Emill You raise good points, but there might still be valid usecases for this feature in certain domains. Without going into specifics, suffice to say that we have had multiple requests for this in the past with descriptions that were convincingly well conceived. I will send a PR trying to clarify the risk implications of the Kconfig option and copy you there.

[2021-06-07 16:08] Emill commented on #36005
Great!

Would you mind sharing the convincing descriptions, or use cases?

[2021-06-07 16:53] ppryga opened #36022 "Wrong channel index in connectionless IQ samples report"
**Describe the bug**
`struct bt_df_per_adv_sync_iq_samples_report` contains channel index. The value provided by host is not correct channel index.
From time to time it may be observed that is exceeds valid channels range 0x0-0x27.

**To Reproduce**
Two nRF52833 DKs are required.
First one must run direction_finding_connectionless_tx sample.
Second one must run direction_finding_connectionless_rx

[2021-06-07 17:29] affrinpinhero-2356 commented on #35835
We will add support at the earliest.

[2021-06-07 18:13] kevanpigott opened #36026 "wolfssl / wolfcrypt"
## Origin

wolfSSL
https://github.com/wolfSSL/wolfssl

## Purpose

Integration of wolfSSL into zephyr as an optional crypto library. has more options than tinyCrypt

## Mode of integration

Updating the auto install script found in the wolfSSL repo under https://github.com/wolfSSL/wolfssl/tree/master/IDE/zephyr
to fit the current working tree of zephyr.

## Description

Has anyone been able to get

[2021-06-07 19:29] pearson commented on #29569
It would be a good idea to have a link to the naming conventions in the Zephyr documentation, and possibly somewhere before any examples are discussed. For me, after taking a look at the "synchronization" example, it took some googling to find this issue and the link to the naming conventions document.

[2021-06-07 19:49] pearson opened #36028 "More Description in Example Documentation"
The documentation for examples could use to be expanded with more description of the code to help those who are new to Zephyr.

As an example, take the second in the "Classic" examples, "Synchronization":
- Why does it do a `k_busy_wait` followed by a `k_msleep` before releasing the semaphore?
- Why are there three `ARG_UNUSED` dummy variables at the start of each thread function?
- What is the `P

[2021-06-07 22:16] #36028 closed

[2021-06-07 22:46] marc-hb opened #36030 "West warnings (and others?) are ignored when building documentation"
**Describe the bug**

West warnings (and others?) are ignored when building documentation

**To Reproduce**
Break the following file like this:

[code]

Build the documentation:
[code]

The following warning appears yet the documentation build completes successfully:

[code]

**Expected behavior**
The build should fail because sphinx and other warnings are either explicitly filtered or treated as

[2021-06-07 23:31] marc-hb opened #36033 "Mere warnings slow down incremental documentation build from seconds to minutes"
**Describe the bug**

Making a typo and trying to build the documentation make it last minutes instead of seconds. Even a simple warning seems to break the incremental build.

I don't remember this performance issue happening in the past. Regression caused by #33934 maybe?

**To Reproduce**
[code]
[code]
Now insert a warning in /doc/guides/west/build-flash-debug.rst (or some other file)
[code]
Fix

[2021-06-08 01:12] mbolivar-nordic opened #36035 "struct devices should be allocated in ROM, not RAM"
**Somebody please prove me wrong by showing me I'm missing something obvious...**

Pull request #24873 marked all devices const as a fix for issue #27399. The problem description says:

However, despite being const, devices are still linked into RAM, at least on Arm Cortex-M:

[code]

Note 0x20000000 is the base address of SRAM in the SoC memory map.

It seems that #24873 did not actually save any

[2021-06-08 02:05] dakejahl commented on #23076
Bump

[2021-06-08 03:53] #35229 closed

[2021-06-08 04:57] pigeonhands opened #36037 "bt_init returning success when Bluetooth initialization does not get finalized."
**Describe the bug**
`bt_enable` is returning success when not initialized.
Caused by [`bt_init` returning early](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/bluetooth/host/hci_core.c#L3435) and [not calling `bt_finalize_init`](https://github.com/zephyrproject-rtos/zephyr/blob/38eaabc9c75c9a0932bbd272952dc81a2f2939ef/subsys/bluetooth/host/hci_core.c#L3441) if `CONFIG_BT_SETTINGS=

[2021-06-08 06:19] mglettig commented on #35532
You are right @rlubos. I think those samples cover my use case. Sorry for missing them. Therefore I think I will close this issue without any new samples.

[2021-06-08 06:19] #35532 closed

[2021-06-08 06:53] gmarull commented on #36030
This is an expected behavior. If west outputs a Python warning (not a Sphinx warning) when it fails to import we can’t do much about it. If we want to make docs fail if this happens then the runners init file should have a “fail mode” than can be activated. Since the installed requirements for docs have not changed, this warning would have been catched by the old mechanism if supported, so I don’t

[2021-06-08 06:55] Zhaoningx opened #36038 "iotdk: the testcase samples/modules/nanopb can't build"
**Describe the bug**
The testcase can't build on iotdk platform, and it works to run others cases.

**To Reproduce**
Steps to reproduce the behavior:
twister -p iotdk --device-testing --device-serial /dev/ttyUSB0 -T samples/modules/nanopb/

**see error**
Including boilerplate (Zephyr base): /home/ztest/zephyrproject/zephyr/cmake/app/boilerplate.cmake
-- Application: /home/ztest/zephyrproject/zephy

[2021-06-08 08:20] gmarull commented on #36033
I have checked and I can reproduce the behavior:
[code]

I can confirm that the external_content extension is doing its job properly, that is, only copying the changed file. What is likely happening is that Sphinx clears the environment before building and so the previous state is lost when the failure happens. I'd report an issue upstream, we can't do much about that.

[2021-06-08 08:52] marc-hb commented on #36033
@gmarull I unfortunately can't date this but I'm pretty sure this is a (IMHO serious) regression. I didn't test this specifically but I can't imagine I never made any `.rst` mistakes in the past.

[2021-06-08 09:16] gmarull commented on #36033
I think I have found the reason: the usage of the `-W` flag. Now it is set by default, meaning that on first warning the build will error and so environment will be _lost_. We can enforce this flag just on CI, but not set it as default. There is also the option to activate `-W` but let the build finish, but that's not the best option for CI, where we want to fail fast.

[2021-06-08 09:53] galak commented on #36038
It looks like you don't have `protoc` installed

From scripts/requirements-extras.txt

[code]

[2021-06-08 10:26] MaikVermeulen commented on #32610
Hey guys, great to see the continued interest and ongoing discussion.
I have tried to make a summary to hopefully help us align our expectations, and possibly to help others interested in the topic get up to speed quickly.

Let me know if I forgot or misinterpreted anything, or if anything is unclear. I will edit the post.
@JPSELC maybe you can add the summary to the original post, or a link to th

[2021-06-08 10:26] carlescufi commented on #36038
[code]

[2021-06-08 10:26] #36038 closed

[2021-06-08 10:28] avisconti commented on #35581
Sorry, I clicked on "close" by mistake.

[2021-06-08 10:38] rick1082 opened #36048 "Cannot establish ISO CIS connection properly after ACL disconnected several times"
**Describe the bug**
Cannot establish ISO CIS connection properly after central disconnected the ACL and connected with peripheral again several times.

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the current master bfd271932228f8ce33b68b82ffee5ee3b2386a17
2. Prepare two nRF5340-DK
3. Modify the ```device_found``` function in central_iso for connecting the specific peripheral, which

[2021-06-08 13:07] emob-nordic opened #36054 "Exclusive flash image access"
An application may wish to implement few possibilities for DFU.
Access to image flash is not guarded in any way right now.
This may lead to a situation when, at the same time, more one
thread/process is writing new app image to flash partition.

Result of such situation is corrupted and denied  image
by the bootloader (mcuboot for example).

Several dfu transports use different API for accessing i

[2021-06-08 13:37] JPSELC commented on #32610
Thanks Maik,
Just one thing. I think the buffering of the messages should be handled by the application, if possible. In a mains-powered application, the messages would need to be stored in Non-volatile memory, whereas a battery-powered application would store in RAM.

[2021-06-08 14:06] bob2oneil opened #36057 "Zephyr Shell Console and Logging Targeting Isolated Different Device Interfaces"
**Describe the bug**
I am unable to separate Zephry logging and the Zephyr Shell/Console to different physical interfaces.  Since a long running log can obscure the shell console, I need these to be on separate pathways.

Interface separation by device could potentially be 2 UARTS, 1 UART (log) and a Telnet Session (shell), or 2 Telnet sessions on different IPs (one shell, one log).

I used the Te

[2021-06-08 14:58] #36033 closed

[2021-06-08 15:25] Zzzwierzak opened #36061 "Undefined reference to `z_priq_rb_lessthan(rbnode*, rbnode*) when using k_timer_start in cpp file."
**Describe the bug**
Undefined reference to `z_priq_rb_lessthan(rbnode*, rbnode*) when using k_timer_start in cpp file.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare cpp source file with call of k_timer_start() function and add kernel.h header.
[code]

2. Ensure that CONFIG_WAITQ_SCALABLE is set
3. cmake -DBOARD=qemu_cortex_m3
3. ninja
4. See error:
/opt/zephyr-sdk/arm-zephyr-eabi/

[2021-06-08 15:45] carlescufi commented on #35931
Setting priority as high since this is an assertion failure.

[2021-06-08 16:20] mbolivar-nordic commented on #36030
There are none for individual runners as those are implementation details. Only the runner core has docstrings pulled into here: https://docs.zephyrproject.org/latest/guides/west/build-flash-debug.html#hacking

There would be a build error if that didn't work.

So I agree with @gmarull that this isn't really a docs bug.

[2021-06-08 16:21] #36030 closed

[2021-06-08 16:45] #35972 closed

[2021-06-08 17:27] manoj153 commented on #36057
I might not be that helpful, but I had faced a similar issue while isolating shell and logging to their respective uarts, below what works for me

dt_changes:
[code]

prj.conf

[code]

so perhaps `CONFIG_SHELL_LOG_BACKEND=n` might help you?

[2021-06-08 18:16] bob2oneil commented on #36057
Thanks, I will give it a try with these changes to the kernel configuration.  I need this to work with a single UART and a Telnet session.  I will post my results in a moment.

[2021-06-08 18:18] #35999 closed

[2021-06-08 19:47] #36014 closed

[2021-06-08 19:53] bob2oneil commented on #36057
That last kernel setting fixed it for me, thanks for you help and your contribution to the community.

[2021-06-08 19:53] #36057 closed

[2021-06-08 23:47] dleach02 commented on #36035
Generic linker scripts usually put .text and .ro together in the same section or ROM in this case. Looking at your PR, I'm guessing our linking is overriding that because of where these are defined. I wonder how many other const data items are ending up in RAM?

[2021-06-09 00:23] andyross commented on #36061
Yeah, for sure that's just some missing ABI hygiene.  Care to submit the patch? :)

[2021-06-09 01:08] cvinayak commented on #33862
Closing as #34035 is merged into v2.5-branch

[2021-06-09 01:08] #33862 closed

[2021-06-09 01:10] cvinayak commented on #33883
Closing as #33369 is merged into v2.5-branch

[2021-06-09 01:10] #33883 closed

[2021-06-09 01:48] cvinayak commented on #35931
@JordanYates are you on top of the v2.5-branch?

[2021-06-09 05:50] JordanYates opened #36074 "LoRaWAN: sx126x: infinite loop on CRC error"
**Describe the bug**

When receiving a packet on LoRaWAN that contains a CRC error, the next attempt to use the modem will result in an infinite loop in `SX126xWaitOnBusy`.

This is due to the RX interrupt handler putting the modem into sleep mode, followed by the CRC handler setting the module state to `MODE_STDBY_RC` without actually changing the hardware state:
https://github.com/zephyrproject-

[2021-06-09 06:01] alexanderwachter opened #36075 "drivers: can: stm32fd: can2 does not work"
**Describe the bug**
When using the can2 node for testing, the test does not complete.

**To Reproduce**

Steps to reproduce the behavior:
- Add can2 node to the board (nucleo_g474re):
[code]

- Change the `zephyr,can-primary = &can1;` to `zephyr,can-primary = &can2;`
- west build -b nucleo_g474re zephyr/tests/drivers/can/api/
- west flash

**Expected behavior**
Tests should complete successfully.

[2021-06-09 06:03] alexanderwachter commented on #36075
ping @str4t0m

[2021-06-09 06:15] Zzzwierzak commented on #36061
@andyross, PR opened;)

[2021-06-09 06:17] Delsian opened #36077 "net: lib: coap: Impossible to get socket info from incoming packet"
**Is your enhancement proposal related to a problem? Please describe.**
During the processing of incoming CoAP in function `coap_handle_request()` we have no ways to inform resource handler about the incoming port for this packet. In case when CoAP server handles incoming connections on different ports (5683 for unsecured and 5684 for DTLS) - it's impossible to choose the correct socket to send AC

[2021-06-09 07:10] hakehuang commented on #34917
@ioannisg, when useing sdk-0.12.3 and it still fails

[code]

[2021-06-09 07:17] hakehuang opened #36078 "coredump.logging_backend: lpcxpresso55s28: test failure assertion fail"
**Describe the bug**
     lpcxpresso55S28
    ASSERTION FAIL [esf != ((void *)0)] @ WEST_TOPDIR/zephyr/arch/arm/core/aarch32/cortex_m/fault.c:993
    	ESF could not be retrieved successfully. Shall never occur.
    ASSERTION FAIL [esf != ((void *)0)] @ WEST_TOPDIR/zephyr/arch/arm/core/aarch32/cortex_m/fault.c:993
    	ESF could not be retrieved successfully. Shall never occur.

**To Reproduce**
St

[2021-06-09 07:19] hakehuang commented on #36078
@MaureenHelm , @dleach02 , found in this weekly

[2021-06-09 07:27] JordanYates commented on #35931
No, just the v2.5 release. I wasn't even aware of the v2.5-branch until a few days ago.

I did reduce the frequency of the assertion by changing some code flow so that function calls don't conflict with each other (e.g. scan / connect), but I still see it occasionally.

I have been tracking down other bugs recently, but I will try to give v2.5-branch a go tomorrow.

[2021-06-09 08:14] Zhaoningx commented on #36038
Thanks, it works normall.

[2021-06-09 08:27] nageshshamnur opened #36084 "Arduino Nano 33 BLE: USB gets disconnected after flashing"
**Describe the bug**
Once Arduino Nano 33 BLE board is connected to host ubuntu machine via USB and flash samples such as ```samples/basic/blinky``` or ```samples/philosophers```, USB gets disconnected and port /dev/ttyACM0 (to which board is connected to becomes unavailable.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect Arduino Nano 33 BLE via USB to host ubuntu machine
2. Check t

[2021-06-09 08:31] nageshshamnur commented on #35681
Waiting for PR to be merged which is related to this issue. This is required since CDC_ACM gets disconnected once flashing is done.

[2021-06-09 09:05] DominikWindhab commented on #32610
Shouldn't this be the opposite? Only level 0 and 1 are allowed? Timestamps would then be part of the instance (if present). Otherwise there is just no timestamp. We could prevent level 2 observes but should we really do that? They would be transmitted without a time information which could be fine. Level 0/1 observes would anyways come with the time.

See before. I think for TLV we cannot add time

[2021-06-09 10:14] Delsian commented on #36077
Fixed!

[2021-06-09 10:14] #36077 closed

[2021-06-09 11:19] kv2019i opened #36088 "intel_adsp_cavs25: secondary boot fails in arch_start_cpu()"
**Describe the bug**
SOF test cases using multiple DSP cores fail on cAVS25 hardware (TGL).

**To Reproduce**
Steps to reproduce the behavior:
Compile SOF application with Zephyr for cavs25 target and load SOF Linux kernel driver using a DSP topology that has at least one pipeline element assigned to non-primary core. This will result in SOF application to call arch_start_cpu(1).

Tracing the prob

[2021-06-09 11:20] kv2019i commented on #36088
FYI @nashif @lgirdwood @lyakh

[2021-06-09 11:25] kv2019i opened #36089 "intel_adsp_cavs25: support more than 2 DSP cores"
**Is your enhancement proposal related to a problem? Please describe.**
Current cavs25 implementation is limited to max 2 DSP cores while we need to support SKUs upto 4 cores:

zephyr/soc/xtensa/intel_adsp/common/soc_mp.c:arch_start_cpu()
[code]

**Describe the solution you'd like**
Support full set of 4 DSP cores.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2021-06-09 11:26] kv2019i commented on #36089
FYI @nashif @andyross @lgirdwood @lyakh

[2021-06-09 11:50] MaikVermeulen commented on #32610
I believe in [the LwM2M engine that the levels start counting from 1](https://github.com/zephyrproject-rtos/zephyr/blob/dce85ebe450053ac1c44e03075cea745cc4f1840/subsys/net/lib/lwm2m/lwm2m_engine.c#L1305). So object level = 1, object instance level = 2, resource level = 3, resource instance level = 4.

But I agree with your points. If observed specifically at the resource level, apparently no other

[2021-06-09 12:03] DominikWindhab commented on #32610
Yes, sorry, my fault. You are right.

Me too, at the momentI cannot think of a useful use-case. But on the other side, why prevent it? I think it should not behave differently when using JSON, but I'd be happy with both.

I think this is what "/1/0/5 Disable Timeout" is for. So it should happen automatically after that timeout.

[2021-06-09 12:05] JPSELC commented on #32610
NVM Buffering is critical for me, unfortunately. Just wondering if we could add hooks for that functionality?
Maybe by default use RAM buffering, but have a mechanism to bypass that via callbacks - a store callback and a restore callback which would allow handling of NVM storage in the application.

[2021-06-09 12:06] MaikVermeulen commented on #32610
To me this sounds perfectly fine. It sounds like it would neatly follow the API the engine already has for the write and read and other callbacks.

[2021-06-09 13:18] erwango opened #36093 "Fix dt_compat_enabled_with_label behavior (or usage)"
**Describe the bug**
`dt_compat_enabled_with_label(foo, bar)` was introdued in https://github.com/zephyrproject-rtos/zephyr/pull/30420
in order to enable filtering on nodes matching compatible "foo" that have children with "bar" label.

This doesn't work as expected and the function return false on boards that should match

**To Reproduce**
[code]

**Expected behavior**
We need a way to filter on

[2021-06-09 13:18] hf81-ble opened #36094 "BLE wrong connections intervals on multible connections"
**Describe the bug**
If defining a strict connection interval to all peripherals to have solid timing inside each connection interval, completly different connection intervals a used.

**To Reproduce**
1. Use 10 or more peripherals
2. Use a connection interval were all peripherals can fit with their worst event length
10*1,4 => 15ms

3. Wait till all peripherals are connection.
4. Transmit equal p

[2021-06-09 13:18] erwango commented on #36093
@jfischer-no FYI

[2021-06-09 13:19] Urist-McGit opened #36095 "drivers: pwm: sam: compilation failure for sam_v71b_xult"
**Describe the bug**
When building for the sam_v71b_xult with the `pwm_sam` driver enabled, the build fails.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -p=auto -b sam_v71b_xult zephyr/samples/hello_world/ -t menuconfig`
2. Enable the `pwm_sam` driver
3. `west build -p=auto -b sam_v71b_xult zephyr/samples/hello_world/`

**Expected behavior**
The sample builds with enabled pwm

[2021-06-09 14:06] nageshshamnur commented on #36084
@nandojve : I am not sure, if this issue was introduced after fixing #33352 but for sure, it came out after the issue was fixed.

[2021-06-09 14:32] #36035 closed

[2021-06-09 14:33] nageshshamnur commented on #36084
@jfischer-no: Just trying to understand more. Same philosophers sample when flashed for 96b_nitrogen board, i am able to use the same port ```/dev/ttyACM0``` to watch the console via minicom ``` $minicom -D /dev/ttyACM0```.

[2021-06-09 14:38] maximevince commented on #35964
@nordic-krch: oh shoot! It just tried on 2.6.x and that does seem to fix the case where:
[code]

It still hangs the shell thread indefinitely if you do this:
[code]

But that makes me wonder:
* Probably it should not be possible to hang the shell thread like this
* Trying to print to the shell, after disabling the uart is of course not "smart", but what if this is happening in different threads?
*

[2021-06-09 14:53] jukkar commented on #25046
I just saw the Zephyr S2OPC presentation in Zephyr Developer summit, and want to comment that the IPv4 multicast support (IGMP) is now supported in upstream Zephyr 2.6. I hope this helps with S2OPC Zephyr integration.

[2021-06-09 15:01] nageshshamnur commented on #36084
steps done for 96b_nitrogen:
1) connect 96b_nitrogen via USB
[code]
2) flash philosophers
```$ west build -p auto -b 96b_nitrogen samples/philosophers```
3) flash the board
[code]
4) watch the console via same USB
[code]

[2021-06-09 15:04] nageshshamnur commented on #36084
@jfischer-no : Like you mentioned, i had already checked the source code under ```samples/subsys/usb/cdc_acm``` and i had seen ```enable_usb( )``` which i added to philosophers sample for testing purpose and i see the USB is intact even after flashing. but i was still not able to use that port ```/dev/ttyACM0```

[2021-06-09 15:13] cvinayak commented on #36094
10*1,4 => 15ms

Please share your application, preferably in a draft PR. This will speed up analysis. Also, provide complete details of zephyr commit hash used, toolchain, development environments, platforms/boards used, steps to build, flash and test your application.

[2021-06-09 15:29] StefJar commented on #35581
@avisconti

I don't have a nucleo F412 only a pcb(of the headphones my company is doing) where I attach my programmer/debugger.

I wrote a driver for the lsm6ds3 and the ads1292. They are on the same spi3 bus. These driver are not really generic. I am using my own dts binding for them. In the lsm6ds3 case you can have 2 signal lines. They are connected at the pcb and so they are connected at the d

[2021-06-09 16:04] mbolivar-nordic commented on #36035
Yes, that's correct.

They would have to be const and specifically placed into a linker section that ends up in RAM. "Normal" static const data without an explicit section attribute ends up in ROM.

You'd have to audit the linker scripts to find the answer, which is probably nontrivial due to Zephyr's linker snippets CMake API.

[2021-06-09 16:12] Sterling-Sleight opened #36100 "pb_gatt buf_send does not call callback"
I am provisioning a BT Mesh device that is set up as a PB Gatt device. Provisioning is failing because the OOB input_complete message is never received when inputting an alphanumeric OOB value. The provisioner device times out after 60 seconds of not receiving the input_complete message. This is because the callback 'public_key_sent' is never called for PB Gatt devices when sending the public key.

[2021-06-09 16:14] ainguraXmarquiegui commented on #33747
Hello again @hakehuang

Apologies for my delay. I'm a lot busier than I'd like to be lately, and I keep multitasking.

As you predicted, with the code you have just shared the frdm_k64f doesn't appear to show any kind of problems at first sight.

Here's the logs of this test run:  [k64f_b571adf75e33_testRun01.txt](https://github.com/zephyrproject-rtos/zephyr/files/6625246/k64f_b571adf75e33_testRun

[2021-06-09 17:12] galak opened #36101 "tfm related build rebuild even if nothing changes"
Doing a repeated `make` will rebuild files even if nothing changes for a tfm board target:

[code]

[2021-06-09 17:51] jfischer-no commented on #36084
96b_nitrogen board has on board debug adapter (probably DAPLink) and is based on nRF52832 SoC which does not support USB. It is different to Arduino Nano 33 BLE board. Nano 33 is not equipped with a debug adapter and uses bootloader (BOSSA) to upload firmware. You can also see it when you read your own bug description:

flash via ```west flash --bossac=<arduino_variant_bossac>"

See also relevant

[2021-06-09 18:00] jfischer-no commented on #35681
If it is not a bug then it does not need to be open.

[2021-06-09 18:00] #35681 closed

[2021-06-09 20:46] yerabolu opened #36107 "ehl_crb: Multiple tests are failing and board is not booting up."
**Describe the bug**
On EHL_CRB, Board is not booting up/stuck after flashing the build.

What have you tried to diagnose or workaround this issue?
Tried git bisect and commit: 9cb8dcbf841484ccb925b6032775e9db0bc2150c  is identified where the board is getting stuck/booting up.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W -p ehl_crb --device-testing --device-serial /dev/ttyUSB0

[2021-06-09 23:04] nandojve commented on #35721
Yes sure, my intention is not forget to re-enable the test case after fix the issue.

I added missing DMA fields at SERCOM0, as:
[code]
Then I build/flash hello world with `UART_ASYNC_API=y`
The result was: no characters on terminal.

[code]

I tried another thing, I set `UART_ASYNC_API=n` and kept `DMA_SAM0=y` for tests/drivers/uart/uart_async_api. I got this:

[code]

[2021-06-10 00:57] andyross commented on #36107
This looks suspicious.  When I build hello_world for this platform, the entry point shows as 0x1000, which is where it should be for all x86 builds right now (because acrn couldn't easily handle the fact that our entry point moves around, we pin it to the beginning of .locore for everyone now).

Which project did you build to get this output?

[2021-06-10 00:59] andyross commented on #36107
Oh, wait.  Now I see what's happening.  EFI entry happens in **64 bit** mode, so it skips the new code at __start32 that fixes up the jump at the start of .locore, so the first SMP CPU to launch hits that jump while in real mode and the world blows up.   Will fix.

[2021-06-10 01:04] LingaoM commented on #36100
Hi, PR https://github.com/zephyrproject-rtos/zephyr/pull/35702 is fixing this problem.

[2021-06-10 02:49] hakehuang commented on #33747
@ainguraXmarquiegui  thanks a lot. the 4004 is becuase we send too fast and i add a reclaim in the hal fsl_enet.c driver, which can recovery this issue when 4004 happens, as to the allocate buffer error, I recommand to change the board setting as below:
CONFIG_NET_PKT_TX_COUNT=1024
CONFIG_NET_BUF_TX_COUNT=64
which seeme work for me on rt1020

[2021-06-10 06:08] daor-oti opened #36117 "toolchain: The added abstraction for llvm, breaks builds with off-tree llvm based toolchains"
**Describe the bug**
The abstraction added for llvm, in commit [eca4618](https://github.com/zephyrproject-rtos/zephyr/pull/34370/commits/eca46188c3cdb665d74bfc8c00afa6165f82edb6) under PR #34370, adds a check for definition of `__llvm__` to the `include/toolchain.h` file.

For off-tree toolchains based upon llvm, this means that the `include/toolchain/llvm.h`, which includes `include/toolchain/gcc

[2021-06-10 06:08] ainguraXmarquiegui commented on #33747
Hello @hakehuang . Sadly, the tests were done with those parameters. You can check the config file used for the test here:

[imxrt1020.test.config.txt](https://github.com/zephyrproject-rtos/zephyr/files/6628760/imxrt1020.test.config.txt)

[2021-06-10 07:23] jukkar commented on #33747
I do not quite get how these values are selected. The net_pkt count tells that there are 1024 packet structs available but they cannot store any data themselves. Then there is only 64 net_bufs that can store data, each net_buf can store 128 bytes by default.
When we send or receive data, one net_pkt is needed to store any metadata related to the used protocol etc, and it also contains a pointer to

[2021-06-10 07:40] erwango commented on #35850
Thanks for this observation, that shows that slowing down the chip has a positive effect or there's a timing related issue. We need to dig further.

[2021-06-10 07:44] DominikWindhab commented on #32610
@MaikVermeulen Are you planning to implement what we are discussed? If you need help or if I can support you please just reach out to me.

[2021-06-10 07:50] koffes commented on #23021
Test

[2021-06-10 08:32] hakehuang commented on #33747
well, actrually It is just to test enlarge the CONFIG_NET_BUF_TX_COUNT, and allow more buffer to allocated. actual buffer need some fine tune. and you are right set CONFIG_NET_PKT_TX_COUNT to 1024 makes no sense, I just type a big number there

[2021-06-10 08:36] hakehuang commented on #33747
this means the phy does not send out date and we get another send request, when this happen, we need force reclaim the buffer back from driver, and recycle it.

and I see from your log this shows Not AS capable: 4294967295 ns, this 0xffffffff again, I did not reproduce your problem yet, still trying

[2021-06-10 09:12] Verfuchst commented on #34268
Without the qspi i could run the sample, but even there, there was some weird acting. So it just felt like, its still something with the hardware and not your code. I will take a look at this, when i get the time. But for now, i would say we gonna close this issue, till someone has the same kinda problem. And if i get any news and i can say its 100% the hardware, i will leave a comment here.

[2021-06-10 09:14] erwango commented on #34268
@Verfuchst Thanks for this feedback. I'm closing the issue then. Feel free to comment or reopen

[2021-06-10 09:14] #34268 closed

[2021-06-10 09:14] MaikVermeulen commented on #32610
Yes! Currently this functionality is planned for our next sprint (in about 2 weeks time).
It would be nice if all interested parties can monitor and review the changes as we go, and of course contribute if they like.

@rlubos If you could provide some final feedback I'll make sure the summary is completely up to date.
Furthermore, what would be the best way to cooperate? A shared fork and a draft

[2021-06-10 10:41] Thalley opened #36131 "Occasionally unable to scan for extended advertisements when connected"
**Describe the bug**
If connected to another BLE device, scanning for extended advertisements occasionally does not work, in the sense that the host does not receive any advertisement reports from the device advertising extended advertisements.

**To Reproduce**
This requires 3 devices and be reproduced using the BT shell:

First device (legacy advertiser)
1. Build and flash the BT shell and run t

[2021-06-10 11:17] Thalley commented on #36131
What @asbjornsabo says is likely the case, but any subtle timing changes may also be the cause why we start seeing it now, even if the issue is older. It's only recently that we have implemented a test that requires scanning for extended advertising while connected.

[2021-06-10 13:05] galak commented on #33449
https://github.com/zephyrproject-rtos/zephyr/pull/36134

[2021-06-10 13:14] #34192 closed

[2021-06-10 13:26] henrikbrixandersen commented on #36078
@galak Sorry, but I don't have access to an lpcxpresso55s28 board (only lpcxpresso55s16).

[2021-06-10 13:32] galak commented on #36078
Oops, couldn't remember which one you had.  I guessed wrong ;).

[2021-06-10 14:05] sylvioalves commented on #35719
@allopatin Hi, sorry for the delay. I have not got any further yet. Do you think you can contribute with this change?

[2021-06-10 14:35] avisconti commented on #35581
I reminded now that I have a sensortile.box board supported by zephyr working well which has already multiple devices on spi1 bus. I can try to replicate the issue on it. So, if my understanding is correct, I would need to enable the dma in the DT (which is a good thing anyway) and make sure that the channel is the same one for tx and rx streams. Is it correct?

[2021-06-10 16:24] ABOSTM commented on #31943
In fact implementation is similar for all stm32 series, but there is on F4 and F7 some misleading definitions:
like STM32F7X_SECTOR_MASK = 0xFFFFFF07
which is opposite of CMSIS mask definition:  FLASH_CR_SNB_Msk = 0x000000F8
Nevertheless in case of F7 there is a bug, as in this case  it should be
(regs->CR & (CR_PSIZE_MASK **&** STM32F7X_SECTOR_MASK))

[2021-06-10 18:51] jenmwms commented on #32603
Does this work better on ACRN v2.5? We see some differences between v2.4 and the latest upstream.

[2021-06-10 20:53] #31943 closed

[2021-06-10 21:00] #35992 closed

[2021-06-10 21:02] ppryga commented on #21392
@pabigot The issue with foreach macros is solved with: SpaceBeforeParens : 'SBPO_ControlStatementsExceptForEachMacros'.
Thanks to that foreach statements are treated as regular functions and there is no space inserted before opening parentheses.

[2021-06-10 22:21] nashif commented on #36117
Not sure how something like this would work, either you are llvm or not. If your 'other' compiler has some unique identifier the solution would be to add a check for that compiler and include a specific header for this 'other' compiler. Depending on the fallback for compiler support will always lead to issues IMO.

[2021-06-11 00:29] #31593 closed

[2021-06-11 01:07] enjiamai commented on #32603
Hi, @jenmwms , it seems like this doesn't work better on v2.5-unstable, it's sad.
[code]

[2021-06-11 04:16] jenmwms commented on #33275
So far nothing jumps out as I look in kernel/thread.c related to z_thread_mark_switched_in() or out(). But I do wonder if this is a different bug? I can revisit on Monday:
[code]

[2021-06-11 08:14] peterniebert commented on #32238
IMHO, there is no such thing as a "typical" LED matrix in terms of pcb wiring.  In the case of the micro:bit, it is directly obtained by from GPIO, but it is much more frequent to find LED drivers that require an SPI like protocol to push the data. Some drivers implement PWM, others do not, etc.

So it does make sense to have something generic in terms of contents and geometry, but the implementat

[2021-06-11 08:17] Thalley commented on #36131
@cvinayak and @andrzej-kaczmarek perhaps this is an issue for one of you guys?

[2021-06-11 08:22] DominikWindhab commented on #32610
I agree that the topic around the timestamp is not easy to solve. But I am not sure if focusing on JSON would be the ideal solution. Usually the server sends a request specifiying the data-format. And from my experience TLV is somwhat standard and is used unless there are specific reasons to use another one. The specification says:

So as far as I understand it would be possible to respond with JS

[2021-06-11 08:50] rlubos commented on #32610
Then we have a different understanding of the spec. I've already quoted the specificaction part that makes this requirement (see https://github.com/zephyrproject-rtos/zephyr/issues/32610#issuecomment-836783211). The part you quote, says only that the client may reply with whatever prefered content format only if server **did not specify** its preference or the **Accept option is not handled** by t

[2021-06-11 09:05] JPSELC commented on #32610
@rlubos You said above in your earlier referenced comment : "In such case I think we're free to swtich between TLV/JSON formats depending whether the engine is in online or offline state."
Then : "From my point of view, the third option would be the only one that is compliant with the LwM2M specification"

Can you confirm that you still consider that there are 2 cases that should work for notifica

[2021-06-11 09:08] Laczen opened #36163 "nvs no longer supports the use of id=0xffff"
**Describe the bug**
The recent addition to add a marker that the garbage collection has been completed (used to detect an unfinished erase operation) makes it impossible to store data with id=0xffff. Entries in nvs with id=0xffff are considered as deleted.

**Expected behavior**
It should be possible to use the complete uint16_t range for id's.

[2021-06-11 09:16] rlubos commented on #32610
Ah, in my previous post I replied on a premise that the 3 cases are all about the situation when the server requested some specific content format with an Accept option. But indeed it might not be the case when I read it again. So yeah, I did not change my thinking, if the Accept option was not specified, then the client is free to use whatever content format that suits the client at the moment. T

[2021-06-11 09:19] DominikWindhab commented on #32610
You are right. I did not read carefully enough. It's about supporting the "option" itself and not about the content of the option.

This would mean notification are stored if the flag "Notification Storing When Disabled or Offline" is enabled and observer requested JSON. In the end the difference in the code ist just one "if" statement checking the accept-option of the observer to decide whether t

[2021-06-11 09:29] MaikVermeulen commented on #32610
I agree with @rlubos. Being compliant with the standard should be our main concern, incompatibility issues will likely be worse than slight inconvenience w.r.t. the format.

I also checked [spec 1.2](https://md2html-tool.com/docs/OpenMobileAlliance/LwM2M/master/c47850f/TS_Core/OMA-TS-LightweightM2M_Core-V1_2-20201110-A_full.html) (to see if perhaps OMA changed its thinking. It didn't):

Which IMHO

[2021-06-11 09:31] JPSELC commented on #32610
I think there could be an option if TLV is specified, where the stored notifications are forwarded in TLV format, without modification or addition of timestamp, and let the user worry about whether a timestamp is included in the object or not.
For example, a custom object could be used for regular payload which includes a timestamp.
Perhaps we could have a KConfig option to enable this?

[2021-06-11 09:38] rlubos commented on #32610
Well I was actually going to suggest that if we want to do something that is not fully spec-compliant, then fine, but let's make it optional (and disabled by default). So Kconfig option for such features are a way to go.

Well, I don't think we should add a custom resource to a predefined object in any case (that's why I mentioned it would only work with serveral IPSO objects or Location, or a cus

[2021-06-11 09:47] MaikVermeulen commented on #32610
Indeed, I don't think we need to support non-compliant setups:

If users want timestamped data for standard objects that include the timestamp resource, they are free to choose JSON or TLV. If they want timestamped data for standard objects without timestamp resource, they have to use JSON. If however, they really only want TLV, they will have to create their own object.

If someone really wants T

[2021-06-11 09:50] DominikWindhab commented on #32610
Totally agree.

[2021-06-11 10:17] JPSELC commented on #32610
So, if I can summarise, again, sorry!

1. If content format is not specified, client can use TLV normally and JSON for forwarding stored notifications
2. If content format is specified as JSON, forwarding of stored notifications is done in JSON format as per specification
3. If content format is specified as TLV _and_ Kconfig Option for TLV Notification Forwarding is set, notifications are forward

[2021-06-11 10:33] StefJar commented on #35581
@avisconti yes that should do.
[code]
Best would be if your sensortile.box board has at least 2 sensors at the same spiX bus. Ideally both sensors have different bus clks and polarity etc. Just to make sure that the MCU switches the spi_config rightfully. Here I can rule out the spi_config changes as root cause for the DMA problem.
Good luck and let me know if I can support you :)

[2021-06-11 10:44] MaikVermeulen commented on #32610
Yes. I don't think the standard prohibits switching of formats in this case, so TLV and JSON can be used and switched at will.

Yes.

Almost. I don't think we need a special option for this because (if I'm not mistaken), although the standard specifies historical notifications only in the SenML JSON section, it never states that other formats are prohibited from historical versions. So for TLV, I

[2021-06-11 11:09] govindadas commented on #25015
@carlescufi any news yet?

[2021-06-11 11:15] Thalley commented on #36048
Hi @rick1082 I've been looking into this issue and have managed reproduce the issue when we get an error when creating the CIG after connection.

The issue appears if the central creates a connection and sets up a CIS, but where the connection actually isn't established yet (because the central will get the connection complete event regardless).

Apparently this triggers some issue in the controll

[2021-06-11 11:19] rlubos commented on #35789
@emillindq I've submitted a [draft PR with the proposal](https://github.com/zephyrproject-rtos/zephyr/pull/36167), would you mind give it some testing? We can discuss further, but for now I've implemented the alternative solution only for offloaded sockets and left native stack as is - IMO monitoring the `tls_established` semaphore is a more roboust solution and I'd personally prefer to leave is a

[2021-06-11 11:28] JPSELC commented on #32610
@MaikVermeulen You think we don't need a KConfig option for 3. ? The reason I suggest that is to a naïve user, they may be expecting all to work well with TLV, and then the notifications may not have any time information, in which case forwarded notifications are effectively garbage. Explicitly enabling it, would be taking the responsibility to include the time information.

Regarding your example

[2021-06-11 12:47] carlescufi commented on #34554
@Laczen could be, yes. @optical-o please update based on the feedback above.

[2021-06-11 12:59] niflostancu opened #36172 "net: ieee802154: LL src/dst address is lost from received net_pkt (when using 6LO)"
Hello,
I am trying to read the MAC addresses for received IPv6 + UDP packets but this info disappears when reaching the net context layer (I use a custom receive callback into the context).
Specifically, after receiving the IEEE802.15.4 frame (with 6LO is enabled), `pkt->lladdr_src` and `pkt->lladdr_dst` point to the wrong memory after passing through the [`ieee802154_manage_recv_packet`](https://

[2021-06-11 13:21] carlescufi commented on #34372
@sslupsky I see there's #35316 now instead, so let's track this issue there.

[2021-06-11 13:38] ppryga commented on #21392
I've ctreated and issue for:
[code]
in clang/llvm bug tracked: https://bugs.llvm.org/show_bug.cgi?id=50680
I'll be tracking it and provide a feedback when receive any response.

[2021-06-11 13:46] #29397 closed

[2021-06-11 14:13] #29535 closed

[2021-06-11 14:15] ioannisg commented on #28729
@galak moving remaining tasks in the ticket for 2.7 release.

[2021-06-11 14:16] #28729 closed

[2021-06-11 14:29] carlescufi commented on #4911
@mglettig this is supported in [native_posix](https://docs.zephyrproject.org/latest/boards/posix/native_posix/doc/index.html#host-based-flash-access) instead, maybe that would be a solution for you?

[2021-06-11 14:35] carlescufi commented on #8481
Thanks.
@anangl we should try to close this in the 2.7 release cycle.

[2021-06-11 15:50] carlescufi commented on #25015
Yes, the current open source controller (and Host) already has basic support for both BIS and CIS. Please try it out and report issues as you find them.

[2021-06-11 16:21] govindadas commented on #25015
Thanks! I will try it out.

[2021-06-11 16:26] carlescufi commented on #34282
@yurvyn

https://github.com/zephyrproject-rtos/hal_telink

Since your HAL doesn't have an upstream on GitHub, please use `main` as the branch name and not `master`.

[2021-06-11 16:33] carlescufi commented on #34971
@katsuster @cfriedt would you please weigh in on the NMSIS question here?

[2021-06-11 19:02] cfriedt commented on #34971
I think @nandojve has the right idea. Components seem to be re-usable and are already used with a few SoCs / SoC families, then separate `hal_gigadevices` and `nmsis` out and have the `nuclei_sdk` use those.

However, I also do agree with @olofj 's thoughts as well. Will there be a fair amount of code reuse with these modules? Will more SoC's / boards be coming down the pipes that will make it wor

[2021-06-11 21:10] cederom opened #36185 "CMP0116 related warnings"
**Describe the bug**
With version v2.6.0 Zephyr and `CONFIG_DEBUG=y` I can see build warning that come from Zephyr source tree (output provided in logs section). This seems low priority but may be nice to fix in a free moment :-)

**To Reproduce**
Steps to reproduce the behavior:
1. Set ` CONFIG_DEBUG=y` in `prj.conf`.
2. Run `west build`.
3. See error

**Expected behavior**
I guess expected polic

[2021-06-11 21:37] #36101 closed

[2021-06-12 00:56] #31993 closed

[2021-06-12 01:38] yashi commented on #4911
@mglettig, it's quite easy to create a `genlittlefs` tool using its library.  You can point to generated file system image when you run qemu instance.

[2021-06-12 02:49] #36074 closed

[2021-06-12 06:20] dlktdr opened #36197 "BOSSA flashing on Arduino Nano 33 BLE (NRF52840)"
I've been working on a project and am trying to use the Arduino variant of BOSSA to automatically reset it into bootloader mode with a 1200 baud touch.

I've tried including
[code]
In the prj.conf file. But I can't seem to get it to work this way.

Also tried to manually do it with the code copied from bossa.c in \soc\arm\atmel_sam0\common but it complains of missing reference cdc_acm_dte_rate_cal

[2021-06-12 06:23] #36197 closed

[2021-06-12 15:03] katsuster commented on #34971
I agree with adding NMSIS and HAL for gigadevice separately.

[2021-06-12 16:44] kevin137 commented on #33747
Hi everybody. Our use case is continuous, 24/7 operation for weeks or months--our idea is that this should work indefinitely. Zephyr and gPTP should be able to do that, at least according to my understanding. I have been watching the evolution of this issue over that last 10 weeks, and wanted to thank everybody for their hard work. @hakehuang, if it would be helpful, I could see about sending you

[2021-06-12 17:31] parthitce commented on #26648
Feasibility of zstd is planned next. Re-opening to address zstd.

[2021-06-13 11:08] alexanderwachter commented on #36172
The problem is that the IPHC does not know anything about the L2 address, but the L2 address is stored in the buffer that was pulled from the beginning.
The same problem hit me when I was developing the CAN L2.
That is why i reworked the IPHC to reuse the old buffer whenever possible. Storing the L2 in the packet an pull it is like doing a malloc, write data, free it and hope that nobody reuses th

[2021-06-13 11:09] alexanderwachter commented on #36172
Ping @jukkar

[2021-06-13 19:39] JonathanVanWin opened #36211 "usb: stm32: not implemented functionality"
**USB subsys functions use unimplemented functions in stm32 USB driver**
There are three functions that are currently not implemented in the stm32
USB driver (from the LOG's that I can see):

- **usb_dc_ep_flush**
- **usb_dc_detach**
- **usb_dc_reset**

The problem is that when you use functions such as usb_deconfig (from the USB subsys), they call the USB driver
and those will print that they are

[2021-06-14 00:29] #33652 closed

[2021-06-14 06:12] allopatin commented on #35719
@sylvioalves I'd be happy to help if possible. Is there any starting point where I can get involved?

[2021-06-14 06:16] mglettig commented on #4911
Good idea. Unfourunately this is not possible in my case due to this bug here: https://github.com/zephyrproject-rtos/zephyr/issues/34226

@yashi This sounds very promising. How can I point to the generated file system image from QEMU? And how will my Zephyr application find this filesystem image so I can mount the Little FS filesystem? Any hints would be welcome.

[2021-06-14 07:40] hakehuang commented on #33747
@kevin137 thanks a lot, I manage to set up a workable gptp server envrionment. the current issue is related to our RT series board has only one interrupt entry for all enet related interrupts, which means the gptp operation window is quite small in compare to frdmk64,  and I can observe that whtn the buffer allocation fails, it is because the gptp stack keep get rx interrupts before it has a chanc

[2021-06-14 07:57] de-nordic commented on #36185
@tejlmand ?

[2021-06-14 08:34] erwango commented on #36211
@JonathanVanWin Thanks for having had a try on this.
Would you mind sharing your code as a draft PR and I can try to get someone looking into it ?

[2021-06-14 08:44] jukkar commented on #36172
The idea of the lladdr pointer in net_pkt, was to save some memory because the data is there already in first net_buf. For IPHC this is not really true as Alexander pointed out. I just wonder would it be possible to restore the ll addresses after the uncompress and then point the lladdr to those.

[2021-06-14 08:52] #36100 closed

[2021-06-14 09:52] de-nordic commented on #36185
@cederom Can you take a look at https://github.com/zephyrproject-rtos/zephyr/pull/36223?

[2021-06-14 10:33] carlescufi commented on #34971
HALs as a separate repository are fully supported in [our current policy](https://docs.zephyrproject.org/latest/guides/modules.html#modules-external-projects). Those are for drivers and potentially some SoC-specific files that are to be shared with bare-metal projects. Major silicon vendors are currently using this model, which has additional benefits for both the vendor and the user.
Note that th

[2021-06-14 11:01] vladimir-podbrezsky opened #36226 "Add support for interrupt and work queue affinity"
**Is your enhancement proposal related to a problem? Please describe.**
We need to run ISR, task and work queue on the same CPU for reducing cache misses. This may improve network performance through the use of threads, work queues and interrupts affinity.
For Aarch64, containing GIC controller, the set of GICD_IROUTER<n> registers may be used.

**Describe the solution you'd like**
Add new interfa

[2021-06-14 11:15] vladimir-podbrezsky opened #36227 "Add support for PMU (Performance Monitor Unit) for architecture Aarch64"
**Is your feature request related to a problem? Please describe.**
During development we need to analyze behavior of system using PMU device included in the ARM Cortex A architecture.

**Describe the solution you'd like**
Add interfaces providing the following
1. Initialization of PMU unit
2. Start of PMU counters
3. Stop of PMU counters
4. Print of PMU counters

So, designers may invoke start, st

[2021-06-14 11:48] niflostancu commented on #36172
From how I understand it, the IPHC decompression algorithm retains the old fragment's pointer at `pkt->frags->frags`, so its buffer won't get freed (right?). If this is the case, the `lladdr_*` pointers are wrongly modified [in here](https://github.com/zephyrproject-rtos/zephyr/blob/75a2ef8fc02a417f0d26307105f80b136a666dc8/subsys/net/l2/ieee802154/ieee802154.c#L169)?
If there is another code path

[2021-06-14 11:54] stephanosio opened #36228 "Support dynamic allocation of sys_{mutex,sem}"
**Is your enhancement proposal related to a problem? Please describe.**
The `sys_mutex` and `sys_sem` mechanisms, unlike the kernel equivalent (`k_mutex` and `k_sem`), do not support run-time dynamic allocation, and must be statically allocated at the build time to work properly.

These mechanisms exist to provide abstraction for the synchronisation primitives such that their performance impact ca

[2021-06-14 11:55] stephanosio commented on #36228
cc @dcpleung @andyross @ioannisg @carlescufi

[2021-06-14 11:55] koffes commented on #35203
I second this. The way it stands today, the information is not that valuable.

[2021-06-14 12:05] yurvyn commented on #34282
@carlescufi,

Done.
Tested with the `west update` and `west build -b tlsr9518adk80d` - it works.
If everything is OK on your side, please close the ticket.
And thank you so much for the support.

[2021-06-14 12:22] #36107 closed

[2021-06-14 12:42] #35581 closed

[2021-06-14 12:43] #35897 closed

[2021-06-14 13:19] #30244 closed

[2021-06-14 13:23] carlescufi commented on #35931
@JordanYates whenever you have the time to test this would be most helpful.
@cvinayak do you have any clues yet?

[2021-06-14 13:40] StefJar opened #36232 "improve uart async test"
**Is your enhancement proposal related to a problem? Please describe.**
The uart async test describes how to use the async API(tests/drivers/uart/uart_async_api). So far this is the only template a user have to use DMA for UART on the STM32 platform.
The test creates a producer and consumer. The producer generates some uart tx messages and the consumer is a thread that handles the rx. The rx handl

[2021-06-14 16:17] andyross commented on #36226
A CPU affinity API for threads (e.g. your task and work queue are just threads) already exists, see `k_thread_cpu_mask_*()`.

The kernel so far has been agnostic about interrupt targetting, and different systems do it differently (often **very** differently, as with x86 MSI/MSI-X where the device driver needs to be involved).  My personal opinion is that in an RTOS we don't want to be supporting a

[2021-06-14 16:58] andyross commented on #33275
Does it still fail if you stub out 100% of the function?  That is, replace it with `void z_thread_mark_switched_in(void) {}`?  It's not impossible this is a stack setup problem that is blowing up due to the simple function call and not anything to do with the content of the function.

If that works, try commenting out individual lines of that function one by one (looking at it, it's an #ifdef hell

[2021-06-14 17:05] cederom commented on #36185
Thank you @de-nordic moving conversation into https://github.com/zephyrproject-rtos/zephyr/pull/36223 :-)

[2021-06-14 17:50] ddkn opened #36237 "fs_open returns 0 on existing file with FS_O_CREATE | FS_O_WRITE"
Hello,

I might be a little confused when using fatfs and calling `fs_open` with options `FS_O_CREATE | FS_O_WRITE`, it generates a status of `0`, regardless if the file exists or not? As the documentation claims to report a `-ERRNO` depending on the state, technically it should report a `-EEXISTS` if I am trying to create a file that already exists?.  Should it not mimic what the [elm FatFs](http

[2021-06-14 18:04] dayjaby opened #36238 "net_if.c: possible mutex deadlock"
**Describe the bug**
Configuring the shell and the IEEE 802.15.4 device "DW1000" in my prj.conf , I stumbled upon a forever waiting mutex in `iface_router_find_default` when asking in the shell for `$ net iface`.

Sadly, in net_if.c any of the logging tools seem to be not working. I used gdb to trace the error back to the `k_mutex_lock` line. Using a timeout of `K_MSEC(1000)` instead of `K_FOREVER

[2021-06-14 19:31] jukkar commented on #36238
I did not understand what do you mean by this, could you elaborate this more?

I do not have IEEE 802.15.4 networks and that hw available, have you tried to replicate the issue with some other board / bearer?

[2021-06-14 21:39] dayjaby commented on #36238
@jukkar Neither `printk` nor `NET_DBG` or similar commands were outputted to the console/shell if put one line before this. My plan would have been to printk all locks/unlocks in this file to see if this mutex is still locked.

I got another STM board to try it. And I just tried thebasic SPI communications with an Arty A7/VexRiscV. I will report my results when I know more.

[2021-06-14 21:46] de-nordic commented on #36237
`FS_O_CREATE` means that file will be created when it does not exist, it passes `FA_OPEN_ALWAYS` flag to FAT driver, which, in case of Elm FAT driver, means to open existing or create a new file.

[2021-06-14 21:55] cederom opened #36242 "Zephyr Upstream + sdk-nrf BLE NUS SHELL LOG/CBPRINTF build problem."
**Describe the bug**
Hello world :-) I am using Zephyr upstream v2.6.0 and BLE NUS SHELL from SDK-NORDIC v1.5.1. After updates to Zephyr and SDK_NORDIC I get log related build error blocker that did not show up before (it did build and work fine in that configuration bare metal zephyr and sdk-nordic). Problem seems to be related with logging and its triggered from nus code. Reverting to older rele

[2021-06-15 00:07] jenmwms commented on #33275
See https://github.com/zephyrproject-rtos/zephyr/pull/36244.  Note the patch does not resolve this issue in shell module sample.

[2021-06-15 00:20] cederom commented on #36242
Allright, so the v1.5.1 sdk-nrf does not build with upstream Zephyr. Later master can build BLE NUS SHELL with upstream Zephyr, until TFM is introduced that depends on sdk-zephyr fork. Will try to find the NUS build fix and TFM commit that prevents build with upstream Zephyr.

[2021-06-15 00:59] jenmwms commented on #33275
Nice! It boots up and enters sample with the suggestion above. Now diving deeper into that function to find the line and/or case that breaks this. Lots of #ifdefs as mentioned, but making progress.

[2021-06-15 01:12] jenmwms commented on #33275
After investigating, indeed it seems `k_cycle_get_32()` is causing the issue (failed functional call). So next we look at timer driver, or where/when the timer driver is initialized to maybe see if we can move this thread tracing to after the timer is set up.
https://github.com/zephyrproject-rtos/zephyr/blob/46029914a7ac092f95e586759b8b6cc379af430c/kernel/thread.c#L1018

[2021-06-15 01:38] fanghuaqi commented on #34971
Hi @carlescufi , about the statements you have made, I need to explain as follows:
1. Nuclei is a company which provide RISC-V Processor IP to customer, Gigadevice use Nuclei's Bumblebee Core(aka N205) RISC-V IP as gd32vf103 SoC's processor core
2. NMSIS was developed by Nuclei, currently only support Nuclei RISC-V processor, it was used to provide Nuclei RISC-V Core HAL such as CSR Registers, TIM

[2021-06-15 01:39] jenmwms commented on #33275
Ooh! I think I found it. Its related to timing from what I can tell. Easy fix if I'm correct - We need to use `CONFIG_TIMING_FUNCTIONS_NEED_AT_BOOT`, so that we can initialize the timer before we call `switch_to_main_thread`

[2021-06-15 01:41] jenmwms commented on #33275
I was thinking of adding this to the sample prj.conf, but this was only observed on ehl_crb. Is there a better place to specify this config, or no harm to add this for other platforms?

[2021-06-15 05:37] wngur300 opened #36247 "samples: usb: testusb: Problems with using with cdc-acm"
**Describe the bug**
I want to use 2 classes like **samples/subsys/usb/hid-cd**c (subsys/usb/class : **cdc_acm.c, loopback.c**)
In samples/usb/cdc-acm source, set CONFIG_USB_DEVICE_LOOPBACK=y option to prj.conf,
and tried loopback testing as shown in the document README.md in samples: usb: testusb, but it does not work.
(I tested the development board that I have as the host.)

**Environment (plea

[2021-06-15 07:05] avigreen1978 opened #36250 "tests/subsys/cpp/cxx - doesn't compile on native_posix when CONFIG_EXCEPTIONS=y"
**Describe the bug**
When compiling c++ code for `native_posix` board with `CONFIG_EXCEPTIONS=y`, the following error is produced:
[code]
The source of this problem is that no cmake file sets `LIBGCC_DIR` value

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/subsys/cpp/cxx
2. Add `CONFIG_EXCEPTIONS=y`, `CONFIG_LIB_CPLUSPLUS=y`
3. west build -b native_posix
4. See error

**Expected b

[2021-06-15 07:09] LingaoM opened #36251 "RFC: API Change: Bluetooth callback register"
### Problem description

The current cb register is based on the dynamic connection of the linked list,
and there is no need to use the dynamic at present.

### Proposed change

Change the cb register to the static mode of zsection, and save part of the RAM.

## Detailed RFC

This change will introduce `Z_ITERABLE_SECTION_ROM` to replace `sys_slist`.

### Proposed change (Detailed)

1. Change `bt_

[2021-06-15 07:38] jukkar commented on #36238
That is indeed weird, I have had no problems to enable debugging in net_if.c after setting `CONFIG_NET_IF_LOG_LEVEL_DBG=y`

[2021-06-15 07:41] jukkar commented on #36238
Thanks for the help. A lot of testing is done with Ethernet, so if you are able to replicate the issue with Ethernet, it helps to speed up any fixes.

[2021-06-15 08:36] IRISZZW opened #36254 "Zephyr shell subsystem not work with ARC hardware boards."
**Describe the bug**
Zephyr shell subsystem not work with ARC hardware boards.

**To Reproduce**
Steps to reproduce the behavior with samples/hello_world :
1. enable shell for hello_world example (add CONFIG_SHELL=y in prj.conf file)
2. west build -b iotdk -d build samples/hello_world
3. west flash
4. See error

**Logs and console output**
When build and run this for `iotdk` and `hsdk`, there is n

[2021-06-15 08:46] de-nordic commented on #36242
The NRF fork of Zephyr (sdk-zephyr) is updated quite regularly from upstream Zephyr and will probably soon be updated from up to version 2.6.0. Unfortunately NRF sdk is not warranted to work with upstream Zephyr due to NRF specific features added or fixes that may not be yet available in upstream Zephyr.
All we can probably do is ask you for patience, and to wait for the next update to the sdk-zep

[2021-06-15 08:54] IRISZZW opened #36255 "tests/subsys/logging/log_core failed on hsdk board"
**Describe the bug**
some tests in tests/subsys/logging failed on hsdk board

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b hsdk -d build tests/subsys/logging/log_core
2. west flash
3. see error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - Commit SHA: be956927446f84a74f4e5568b576d7

[2021-06-15 09:07] jfischer-no commented on #36247
It is not intended to work with testusb in this configuration.

[2021-06-15 09:07] #36247 closed

[2021-06-15 09:08] koffes opened #36256 "SPI4 & 3 MISO not working on nRF5340"
We have used SPI4 on the nRF5340 for a year+ with no issues. With a recent Zephyr upgrade, the CLK, CS, and MOSI works fine, but the data coming in on MISO is not registered in Zephyr.

After a lot of bisecting, the lines which introduced the issue comes from nrfx:
https://github.com/zephyrproject-rtos/hal_nordic/blob/master/nrfx/hal/nrf_gpio.h#L580

This used to be just:
[code]

And this works fi

[2021-06-15 09:25] stephanosio commented on #36250
cc @tejlmand

[2021-06-15 09:25] joerchan commented on #36005
@Emill It's probably related to older use-cases, before LESC was introduced. In the Legacy pairing procedure a random passkey isn't all that much better than a fixed one. Since the passkey is used as the temporary encryption key in that case then brute-forcing the encryption key in order to get the LTK wasn't that hard. The workaround for that case was to simply turn the TX power all the way down

[2021-06-15 09:26] stephanosio commented on #36250
It looks like `${LIBGCC_DIR}` is not set/valid for the `native_posix` target.
https://github.com/zephyrproject-rtos/zephyr/blob/08dfe74c15a8e9d5afa3aa3cb0713e5d894018fa/cmake/linker/ld/target.cmake#L16-L24

[2021-06-15 09:40] yashi commented on #4911
@mglettig Oops, I meant native_posix instance, zephyr.exe.  Not qemu.  Sorry about that.

[2021-06-15 09:59] wngur300 commented on #36247
Both cdc_acm and hid are available, but are both cdc_acm and loopback usb classes unavailable?

[2021-06-15 10:51] jfischer-no commented on #36247
What do you mean by unavailable? Again it is not intended to work with testusb in this configuration, or what do you expect the testusb tool to do?

[2021-06-15 10:58] carlescufi commented on #36256
@koffes is this a duplicate of #35945?

[2021-06-15 11:10] carlescufi commented on #35964
@jakub-uC @nordic-krch any more input to the above?

[2021-06-15 11:20] chen-png opened #36263 "up_squared: kernel.memory_protection.mem_map.x86_64 failed."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/mem_protect/mem_map/
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
Booting Zephyr OS build zephyr-v2.6.0-248-gc9aa260f0cfc
Running test suite test_mem_map

START - test_z_phys_map_rw
E: Page fault at address 0x2ffe04d6 (error code 0x3)
E: Access violation: supervisor thread

[2021-06-15 11:36] anangl commented on #36256
@carlescufi I believe it is not. In #35945, there is no output (on SCK and MOSI), and the problem here is the lack of input data (from MISO).

[2021-06-15 11:58] henrikbrixandersen commented on #22748
Another option could be to use a board-specific shield overlay.

[2021-06-15 12:20] joerchan commented on #36251
I would say adding a static definition in addition would be the best approach. There might be reasons for applications wanting to have dynamic allocation, in addition to that not being a breaking change.

This would be similar to GATT services, which have `BT_GATT_SERVICE_DEFINE` and `bt_gatt_service_register`

[2021-06-15 12:22] nandojve commented on #22748
I think @gmarull is a valid proposal and can usefull.

[code]

In this case, using approach [B], will Zephyr have only pinctrl-0 ? I mean, there is no necessity to have pinctrl-1...N, right?
I was wondering if I'm missing something related to above questions.

[2021-06-15 12:23] koffes commented on #36256
@carlescufi they may be related but not a duplicate.

[2021-06-15 12:37] gmarull commented on #22748
Definitely an option, even though it means duplicating the shield for every board.

[2021-06-15 12:39] gmarull commented on #22748
`pinctrl-1..N` would still be needed to represent other states, e.g. low-power. The only difference is that `pinctrl-N` would contain a single phandle and not a list of phandles.

[2021-06-15 12:40] peterniebert commented on #32238
Submitted a related pullrequest, see here:
https://github.com/zephyrproject-rtos/zephyr/pull/36264

[2021-06-15 13:05] cvinayak commented on #36131
@Thalley I tried both upstream main 7ba52d8f82 and the reported 5719e54, I am not able to reproduce the issue on `nrf52840dk_nrf52840` board with the `tests/bluetooth/shell` application with `CONFIG_BT_CTLR_EXT_ADV=y` enabled.

![image](https://user-images.githubusercontent.com/6350656/122057522-0338e100-cdeb-11eb-8841-4d1f763adc10.png)

[2021-06-15 13:21] ddkn commented on #36237
Hi @de-nordic ,

Thanks for getting back to me! So there isn't a way using the fatfs driver to determine if a file exists? As I do not want to overwrite a file, meaning I need to look at the entries from a directory list, as in the `sample/subsys/fs/fatfs` to see if a file exists?

Or can I use the Elm FAT driver directly without going through the Zephyr framework?

Thanks!

[2021-06-15 13:35] chyu313 opened #36266 "kernel timeout_list NULL pointer access"
I use MIMXRT1060_EVK board to run Zephyr. To avoid NULL pointer access, I use MPU to set ARM address 0x0 (located in ITCM which is not used in my program) as no-access attribute, so that NULL pointer access to 0 will cause MPU FAULT. A NULL pointer access occurs in remove_timeout() which is called by sys_clock_announce() in kernel/timeout.c.

[code]

"Faulting instruction address (r15/pc): 0x6000d

[2021-06-15 13:39] niflostancu opened #36267 "net: ieee802154: software address filtering"
**Is your enhancement proposal related to a problem? Please describe.**
I'm currently developing the firmware for a CC13x2-based wireless sensor board using its sub-GHz radio.
Currently, the `ieee802154_cc13xx_cc26xx_subg` driver does not support hardware-based address filtering and I could not figure out a way to do it (since it uses the `CMD_PROP_*` proprietary subg protocol commands tricked to

[2021-06-15 13:39] Thalley commented on #36131
@cvinayak If you have access to https://github.com/zephyrproject-rtos/zephyr-bt-sig you can easily reproduce it by changing `-rs=24` to `-rs=23` in https://github.com/zephyrproject-rtos/zephyr-bt-sig/blob/le-audio/tests/bluetooth/bsim_bt/bsim_test_audio/test_scripts/bass.sh and run that test.

Please let me know if you have issues with the above.

[2021-06-15 13:52] ruuddw commented on #36254
Don't forget to set the CONFIG_CONSOLE_GETLINE=y (or GETCHAR) as well, to ensure via CONFIG_CONSOLE_HANDLER=y callbacks for handling interrupts are enabled.

[2021-06-15 13:53] ioannisg opened #36270 "TF-M: introduce uniformity in Non-Secure target names"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, the names we choose for the non-secure version of TrustZone-enabled platforms have different suffix versions:
All `_ns`, `ns`, `_nonsecure` are used. This affects board names as well as KConfig options for SoC, Board, and .DTS file names.

**Describe the solution you'd like**
Ideally, we should pick one option to us

[2021-06-15 13:53] ioannisg commented on #36270
@microbuilder @galak does this sound reasonable?

[2021-06-15 14:04] de-nordic commented on #36237
@ddkn You may use `fs_stat(...)` that will fail when entry does not exist, if you are not interested in entry type this is sufficient test.

[2021-06-15 14:07] de-nordic commented on #36237
The use of Elm FAT driver is a development risk, because it is not warranted that this is/will be backend used by FAT FS support layer within Zephyr; the VFS layer within Zephyr is supposed to provide uniform access to file systems, regardless of implementation details, and hide the details from applications.
This may also require some, rather not encouraged, access to internal structures of Zephy

[2021-06-15 14:20] de-nordic commented on #29569
Might be worth setting some general naming convention, or how to short names. It is quite annoying, when you switch between APIs, to remind yourself whether offset in function call is now spelled "offset", "off" or "offs".

[2021-06-15 15:07] rlubos commented on #35711
Sorry for late reply, I somehow missed this issue.

Actually, that was my original assumption - if an error occurs on the TLS/DTLS socket (other than EAGAIN), you need to close it before reuse. I wouldn't compare it with the UDP in terms of error recovery - ok, it's still datagram underneath, but mbedTLS itself is a complex beast, and I wouldn't be confident enough to re-use its context (although

[2021-06-15 15:31] chyu313 opened #36276 "NULL pointer access in check_used_port()"
In net_context.c, ```net_sin_ptr(&contexts[i].local)->sin_addr``` referenced in check_used_port() may be NULL if socket() was called to use this context but net_context_bind() was not yet called to assign interface address to ```net_sin_ptr(&context->local)->sin_addr```.

Not sure whether this should be treated as a bug because this NULL pointer access here will not cause problem since there is a

[2021-06-15 17:19] galak commented on #36237
please re-open if this is an actual issue.

[2021-06-15 17:19] #36237 closed

[2021-06-15 17:27] galak commented on #33449
@de-nordic can you possibly look at the cleanup/removal of deprecated code in the littlefs code?

[2021-06-15 17:55] ddkn commented on #36237
No thanks, I appreciate the feedback. I was confused about the operation, but wasn't sure what the alternative was.

Cheers,

[2021-06-15 19:15] ioannisg opened #36278 "ARM: Cortex-M: SysTick priority is not initialized if the SysTick is not used"
**Describe the bug**
The SysTick IRQ priority level is never set if the SysTick is not used as the system timer. The IRQ however is always enabled, so if it is accidentally pended, the ISR will run at the highest priority level, where asserts are not handled properly (escalation to hard fault). In detail, instead of getting an expected "unhandled IRQ" error, which we may have routines to handle, w

[2021-06-15 23:51] JordanYates commented on #35931
I updated my app to crash relatively frequently, and then rebased it on `v2.5-branch`.
I haven't seen any crashes over ~20 hours of runtime, so I'm happy to close this.

For sanity I did instrument the `ticker_start` function and it was showing different behaviour after the rebase, so that is most likely the fix.

[2021-06-15 23:51] #35931 closed

[2021-06-16 04:43] cvinayak commented on #35931
@JordanYates Thank you, for verifying the v2.5-branch.

I am not able to definitely  point which one of the commits between 6031f04519 and dabf237584 has solved the assert, but you may feel free to re-open this issue in the future if need be.

[2021-06-16 05:40] daor-oti commented on #36117
@nashif As we want 'any' off-tree toolchain to get the `other.h` included, and since it makes little sense for all of the off-tree toolchains to have to update the toolchains.h file, I suggest we come up with a common define to be set for off-tree toolchains, which is then checked first and which includes `other.h`. At the `else`, we then put an error, stating that the toolchain is unsupported and

[2021-06-16 06:30] jukkar commented on #36266
Loopback is supported, just set `CONFIG_NET_LOOPBACK` to enable it.

[2021-06-16 06:48] kurddt opened #36282 "Overwrite mode for RTT logging"
Currently even if the SEGGER RTT "stack" allows it, it is not possible to select the overwrite mode for RTT logging. In this mode instead of skipping logging when the buffer is full the oldest data is replaced.

I would like to be able to select this mode using a new Kconfig option (`LOG_BACKEND_RTT_MODE_OVERWRITE`) for logger behavior choice https://docs.zephyrproject.org/latest/reference/kconfig

[2021-06-16 07:47] de-nordic commented on #33449
Here: https://github.com/zephyrproject-rtos/zephyr/pull/36285

[2021-06-16 07:51] jukkar commented on #36266
Can be replicated with native_posix
[code]

[2021-06-16 07:56] joerchan commented on #36037
@pigeonhands This is the intended behavior, If you enable BT_SETTINGS you have to call settings_load.
Otherwise the stack does not have any identities, which is needed to start the advertiser.

[2021-06-16 08:03] #33275 closed

[2021-06-16 08:03] carlescufi commented on #36282
@kurddt would you be able to send a Pull Request for this?

[2021-06-16 08:14] pigeonhands commented on #36037
Should'nt bt_init return an error if called before settings_load then?

[2021-06-16 08:24] oopsmonk opened #36289 "eswifi gets a deadlock on b_l4s5i_iot01a target"
**Describe the bug**

[samples/net/wifi](https://github.com/zephyrproject-rtos/zephyr/tree/zephyr-v2.6.0/samples/net/wifi) dosen't work on `b_l4s5i_iot01a` target.
the program hangs after wifi related command, like `wifi scan` and `wifi connect`.

**To Reproduce**
Steps to reproduce the behavior:
1. cp -r samples/net/wifi ~/my-wifi-test && cd ~/my-wifi-test
2. west build -b b_l4s5i_iot01a
3. west

[2021-06-16 08:39] #35529 closed

[2021-06-16 08:41] #36075 closed

[2021-06-16 08:42] #36185 closed

[2021-06-16 08:46] chandramauli-mpc opened #36291 "ADC and math library functions use for stm32l496"
- I have connected SIM module with UART interface , thermistor with ADC to stm32l496disco kit.

- When i add CONFIG_ADC in proj.conf for STM32l4 then in 1 thread i send AT command to SIM module i am not getting response in time for sometime. after some time i am getting proper response. I am using normal ADC example for my custom application.

- As well as i add CONFIG_NEWLIB_LIBC in proj.conf to

[2021-06-16 08:55] ioannisg opened #36294 "TF-M: enhance the TF-M/Zephyr integration for Zephyr v2.7.0 release"
Enhance the TF-M integration with Zephyr, for the LTS2 release

- [ ] Upmerge TF-M to 1.4 when ready
- [x] Improve TF-M documentation regarding the integration with Zephyr https://github.com/zephyrproject-rtos/zephyr/pull/37050
       - A TF-M integration user guide
       - Build and flash instructions, in all the boards
       - List of boards supported
       - Additional doc improvements
- [x]

[2021-06-16 09:02] joerchan commented on #36037
No, calling settings_load after bt_enable is supported, and what most of the samples do.
If you see the documentation for `bt_id_create` you can see that the order of these matters when it comes to the handling of the identities.

[2021-06-16 09:07] jukkar commented on #36266
Note that because 0 is a valid fd, the check in tcpserver thread needs to look like this
[code]

As almost every limit in Zephyr is determined at build time, some networking limits need to be increased because you are creating quite many sockets etc. in the application. So I compiled the application like this in order to increase the socket count etc.
[code]
This helped a bit although I am still s

[2021-06-16 09:20] jukkar commented on #36266
The client thread is flooding the system which is causing some issues in TCP because the `CONFIG_NET_TCP_TIME_WAIT_DELAY` is set to 250ms by default. Because of this, the TCP resources are kept still around after the socket is closed. Everything should be working smoothly even if the device is flooded, but there seems to be some place in the stack that does not handle resource exhaustion properly.

[2021-06-16 09:32] vladimir-podbrezsky opened #36295 "Fixed Entry point for ARM Cortex Aarch64"
**Is your enhancement proposal related to a problem? Please describe.**
We load Zephyr image to RAM from Flash memory. This is done by boot loader which is programmed in SoC.
This boot loader loads the address of __reset or __start to program  counter and branches to it. So, it should be any constant address.

[2021-06-16 09:38] vladimir-podbrezsky opened #36297 "Move BSS section to the end of image"
**Is your enhancement proposal related to a problem? Please describe.**
A binary Zephyr image has a huge size because BSS section is inserted to this image. The BSS is placed between .text and .data sections. In case the BSS section is the last one in the image the size of binary file will be reduced because BSS section is not loadable.

[2021-06-16 10:05] ioannisg opened #36298 "TF-M integration: add a brief user guide"
Zephyr/TF-M integration has matured in the latest period and it is time we added a brief TF-M integration user guide that assists the users start with TF-M in Zephyr.

[2021-06-16 11:00] giladchen opened #36301 "soc: cypress: Port Zephyr to Cypress CYW43907"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
The Cypress CYW43907 SoC does not have support currently in Zephyr.

**Describe why you are asking for this support?**
I am developing code for the Cypress CYW943907 EV board. We would like that support will be added for it in Zephyr.

Is adding support to this SoC in progress

[2021-06-16 11:03] galak commented on #36301
@giladchen not aware of anyone work on this, please feel free to go ahead.

[2021-06-16 11:03] #36301 closed

[2021-06-16 11:24] kurddt commented on #36282
I'm not that familiar with the logging subsystem nor the SEGGER internals. If I find some time to do so before somebody else do, I will. But I have a couple of device driver I want to contribute first

[2021-06-16 11:37] galak commented on #36026
@kevanpigott You might want to ask this on the #general channel in slack.  I'm not aware of anyone that has integrated Zephyr and WolfSSL.

[2021-06-16 11:57] zephyrbot opened #36303 "[Coverity CID: 236603] Dereference after null check in subsys/bluetooth/audio/vcs_client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/subsys/bluetooth/audio/vcs_client.c#L661

Category: Null pointer dereferences
Function: `vocs_discover_cb`
Component: Bluetooth
CID: [236603](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236603)

Details:

https://github.com/zephyrproject-rtos/ze

[2021-06-16 11:57] zephyrbot opened #36304 "[Coverity CID: 236609] Explicit null dereferenced in subsys/bluetooth/audio/mics_client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/subsys/bluetooth/audio/mics_client.c#L121

Category: Null pointer dereferences
Function: `mics_client_read_mute_cb`
Component: Bluetooth
CID: [236609](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236609)

Details:

https://github.com/zephyrprojec

[2021-06-16 11:57] zephyrbot opened #36305 "[Coverity CID: 236595] Logically dead code in samples/drivers/eeprom/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/samples/drivers/eeprom/src/main.c#L28

Category: Control flow issues
Function: `get_eeprom_device`
Component: Samples
CID: [236595](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236595)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/

[2021-06-16 11:57] zephyrbot opened #36306 "[Coverity CID: 236596] Logically dead code in subsys/bluetooth/audio/mics.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/subsys/bluetooth/audio/mics.c#L248

Category: Control flow issues
Function: `bt_mics_included_get`
Component: Bluetooth
CID: [236596](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236596)

Details:

https://github.com/zephyrproject-rtos/zephyr/blo

[2021-06-16 11:57] zephyrbot opened #36307 "[Coverity CID: 236605] Logically dead code in subsys/bluetooth/audio/mics.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/subsys/bluetooth/audio/mics.c#L267

Category: Control flow issues
Function: `bt_mics_unmute`
Component: Bluetooth
CID: [236605](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236605)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/d25e

[2021-06-16 11:57] zephyrbot opened #36308 "[Coverity CID: 236601] Missing break in switch in drivers/ieee802154/ieee802154_nrf5.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/drivers/ieee802154/ieee802154_nrf5.c#L546

Category: Control flow issues
Function: `nrf5_tx`
Component: Drivers
CID: [236601](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236601)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/d25e5c

[2021-06-16 11:57] zephyrbot opened #36309 "[Coverity CID: 236606] Missing break in switch in drivers/ieee802154/ieee802154_nrf5.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/drivers/ieee802154/ieee802154_nrf5.c#L548

Category: Control flow issues
Function: `nrf5_tx`
Component: Drivers
CID: [236606](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236606)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/d25e5c

[2021-06-16 11:58] zephyrbot opened #36310 "[Coverity CID: 236607] Missing break in switch in drivers/ieee802154/ieee802154_nrf5.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/drivers/ieee802154/ieee802154_nrf5.c#L551

Category: Control flow issues
Function: `nrf5_tx`
Component: Drivers
CID: [236607](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236607)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/d25e5c

[2021-06-16 11:58] zephyrbot opened #36311 "[Coverity CID: 236598] Out-of-bounds access in subsys/bluetooth/audio/mics_client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/subsys/bluetooth/audio/mics_client.c#L196

Category: Memory - corruptions
Function: `mics_discover_include_func`
Component: Bluetooth
CID: [236598](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236598)

Details:

https://github.com/zephyrproject-r

[2021-06-16 11:58] zephyrbot opened #36312 "[Coverity CID: 236608] Out-of-bounds access in subsys/bluetooth/audio/mics_client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/subsys/bluetooth/audio/mics_client.c#L274

Category: Memory - corruptions
Function: `mics_discover_func`
Component: Bluetooth
CID: [236608](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236608)

Details:

https://github.com/zephyrproject-rtos/zeph

[2021-06-16 11:58] zephyrbot opened #36313 "[Coverity CID: 236602] Unchecked return value in drivers/modem/gsm_ppp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/drivers/modem/gsm_ppp.c#L84

Category: Error handling issues
Function: `gsm_rx`
Component: Drivers
CID: [236602](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236602)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/d25e5c20a07203443b2

[2021-06-16 11:58] zephyrbot opened #36314 "[Coverity CID: 236610] Uninitialized pointer read in subsys/bluetooth/mesh/proxy.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/subsys/bluetooth/mesh/proxy.c#L988

Category: Memory - illegal accesses
Function: `proxy_send`
Component: Bluetooth
CID: [236610](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236610)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/d2

[2021-06-16 11:58] zephyrbot opened #36315 "[Coverity CID: 236604] Untrusted value as argument in subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/subsys/net/lib/lwm2m/lwm2m_engine.c#L4601

Category: Insecure data handling
Function: `socket_recv_message`
Component: Networking
CID: [236604](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236604)

Details:

https://github.com/zephyrproject-rtos/

[2021-06-16 11:58] zephyrbot opened #36316 "[Coverity CID: 236597] Unused value in drivers/ieee802154/ieee802154_nrf5.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/drivers/ieee802154/ieee802154_nrf5.c#L547

Category: Code maintainability issues
Function: `nrf5_tx`
Component: Drivers
CID: [236597](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236597)

Details:

https://github.com/zephyrproject-rtos/zephyr/blo

[2021-06-16 11:58] zephyrbot opened #36317 "[Coverity CID: 236599] Unused value in drivers/ieee802154/ieee802154_nrf5.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/drivers/ieee802154/ieee802154_nrf5.c#L549

Category: Code maintainability issues
Function: `nrf5_tx`
Component: Drivers
CID: [236599](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236599)

Details:

https://github.com/zephyrproject-rtos/zephyr/blo

[2021-06-16 11:58] zephyrbot opened #36318 "[Coverity CID: 236600] Unused value in drivers/ieee802154/ieee802154_nrf5.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/d25e5c20a07203443b2e9fafe30bf8eef852ed23/drivers/ieee802154/ieee802154_nrf5.c#L552

Category: Code maintainability issues
Function: `nrf5_tx`
Component: Drivers
CID: [236600](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236600)

Details:

https://github.com/zephyrproject-rtos/zephyr/blo

[2021-06-16 12:05] torntrousers opened #36319 "Help: Asking for Help Tips page gets 404 error"
On the Zephyr Project Github front page when I click on the [Asking for Help Tips](https://docs.zephyrproject.org/latest/guides/getting-help.html) link in the Help section at the top of the [Resources section](https://github.com/zephyrproject-rtos/zephyr#resources) it gives a 404.

Is there still a place somewhere I can gets some help tips?

Thanks!

[2021-06-16 12:30] jukkar commented on #36310
Already fixed by #36252

[2021-06-16 12:30] #36310 closed

[2021-06-16 12:32] #36309 closed

[2021-06-16 12:33] jukkar commented on #36308
Already fixed by #36252

[2021-06-16 12:33] #36308 closed

[2021-06-16 12:37] jukkar commented on #36316
Already fixed by #36252

[2021-06-16 12:37] #36316 closed

[2021-06-16 12:37] jukkar commented on #36317
Already fixed by #36252

[2021-06-16 12:37] #36317 closed

[2021-06-16 12:38] jukkar commented on #36318
Already fixed by #36252

[2021-06-16 12:38] #36318 closed

[2021-06-16 12:43] galak opened #36323 "Don't set TFM_CMAKE_BUILD_TYPE_DEBUG by default on LPC55S69-NS if DEBUG_OPTIMIZATIONS"
We can get the following build error:

[code]

If CONFIG_DEBUG_OPTIMIZATIONS=y for lpcxpresso55s69_ns.  We should not allow this setting by default for this platform.

[2021-06-16 12:53] temap opened #36324 "add project groups to upsteam west manifest"
## Introduction

Add project groups to upstream west manifest.

### Problem description

Currently, I have ~30 CI twister jobs that check out the Zephyr project. I don't need to check out and test the vendor's HAL and other libraries. I need only a Zephyr core for testing. Current checkout takes around 2.2GB of disk space.

I want to reduce the size of manifest checkout.

Currently, I create a dow

[2021-06-16 13:01] Laczen commented on #36270
As proposed on slack: Could we change the way s/ns are defined: as an example for the cpuapp in nrf5340:

a. We start by defining cpuapp (and "board" for processing by Kconfig.defconfig): In the dts of this board `sram0_s` is defined as the whole `sram0` region (excluding the `ipc_shm` region),
`flash0_s` is defined as the  whole `flash0_s` region,
chosen is: `zephyr, sram = sram0_s`, `zephyr, fla

[2021-06-16 13:22] soburi commented on #34971
@carlescufi , @fanghuaqi

GD32VF103_Firmware_Library contains files with unclear licenses.
(n200_... files in GD32VF103_Firmware_Library)
NMSIS has no files with unclear licenses.
These files can be replaced by NMSIS's one.
I think need to use NMSIS's files from this viewpoint.

This means combining sources from different providers, Nuclei and GigaDevice.
Of cource, it can do put into the same dir

[2021-06-16 13:45] rlubos commented on #36172
Hi @niflostancu @alexanderwachter @jukkar

After digging into the issue a bit, I think that the simple fix proposed by @niflostancu might actually be a good one. Looking how things worked before https://github.com/zephyrproject-rtos/zephyr/pull/16794, the `uncompress_IPHC_header()` function could indeed deallocate the packet (it called `net_pkt_compact()` which could do this). So perhaps backing u

[2021-06-16 13:51] carlescufi commented on #34282
Closing this since the repo has been created

[2021-06-16 13:51] #34282 closed

[2021-06-16 14:15] nashif commented on #36324
@carlescufi  @mbolivar-nordic  FYI

[2021-06-16 14:15] gebauerf opened #36329 "Support for CC3120 WiFi module"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
I want to add a WiFi module to my IoT-project using zephyr. I already have a strong setup using the nRF9160 as host MCU and the civetweb webserver. Currently i'm using an ethernet-interface for networking purposes, but in the end i'd like to replace it with a WiFi module. I sa

[2021-06-16 14:25] kgugala commented on #34971
Hi @soburi,

I took a deeper look at the NMSIS and hal_gigadevices and I have some comments and questions:

It looks as though what NMSIS provides mostly either duplicates what's already directly included in Zephyr e.g. CSR access convenience macros - for example https://github.com/soburi/hal_nuclei/blob/nmsis/NMSIS/Core/Include/core_feature_base.h#L303-L311 vs https://github.com/zephyrproject-rto

[2021-06-16 14:42] nashif commented on #35256
A queue is a FIFO, that is why it missing in the table.

[2021-06-16 14:42] #35256 closed

[2021-06-16 14:45] nashif commented on #30635
this was replaced by thread runtime statistics, we no longer use tracing for cpu stats

[2021-06-16 14:45] #30635 closed

[2021-06-16 14:46] nashif commented on #10930
outdated

[2021-06-16 14:46] #10930 closed

[2021-06-16 15:31] microbuilder commented on #36294
Thanks for putting this together.

I made a bunch of notes for myself for the TF-M presentation for ZDS 2021, and can recycle those to give people a starting point to understand TF-M: https://gist.github.com/microbuilder/53ac490db265e86e5840a9f752b3dc48

[2021-06-16 15:52] galak commented on #36017
+1 for this change.

[2021-06-16 15:59] carlescufi commented on #25046
@nashif @MaureenHelm This issue is unrelated to OSDP, and we still need to come to a conclusion on OPC UA,.

[2021-06-16 16:10] nvlsianpu commented on #36017
+1.

[2021-06-16 16:19] nandojve commented on #36017
+1

[2021-06-16 16:35] #36250 closed

[2021-06-16 17:57] mbolivar-nordic commented on #36324
I agree this is a valid use case for west manifest project groups. The diff in the detailed RFC also has the advantage that results of a default `west init` + `west update` remain unchanged.

I think it's up to the TSC to decide what groups to apply to individual projects.

[2021-06-16 18:39] galak commented on #36324
@mbolivar-nordic how are groups defined?

[2021-06-16 19:51] mbolivar-nordic commented on #36324
https://docs.zephyrproject.org/latest/guides/west/manifest.html#project-groups-and-active-projects

[2021-06-16 21:05] novalisek commented on #22210
@joerchan ok, thank you, both commits looks good to me.. It should be no problem to set the param->attr to  array defined by BT_GATT_SERVICE_DEFINE.
I will be playing with BT again in a week or two, so I will use this new functionality.  I think I will be using bt_gatt_find_by_uuid to store the pointers first and then use them, so that they are not searched in every notify/indicate, it may save fe

[2021-06-16 21:06] #36319 closed

[2021-06-16 21:46] dleach02 opened #36339 "samples/subsys/logging/dictionary doesn't build under MS Windows environment"
**Describe the bug**
The build under Windows environment fails when running the scripts/logging/dictionary/database_gen.py phase of the build with an error:

Traceback (most recent call last):
  File "C:/work/zephyrproject/zephyr/scripts/logging/dictionary/database_gen.py", line 21, in <module>
    import parser.log_database
ModuleNotFoundError: No module named 'parser.log_database'; 'parser' is n

[2021-06-16 21:51] dleach02 commented on #36339
This works fine in my Linux build system but fails in Windows.

The problem is that there is a system module package called 'parser'. I did some debugging and googling on this. This appears to be a modules search order difference between Windows and Linux. In Linux, it searches the local path first for 'parser' and finds the one in our tree under dictionary directory. With Windows, it appears to s

[2021-06-16 22:18] ioannisg commented on #36278
By the way, the same applies to the PendSV and DebugMonitor exceptions which are always enabled.

[2021-06-17 02:12] #36313 closed

[2021-06-17 02:17] LingaoM opened #36343 "Bluetooth: Mesh: Modularizing the proxy feature"
## Introduction

The Bluetooth proxy feature includes proxy client and proxy server. In addition to the proxy pdu message used above, pb-gatt also uses the same proxy pdu message.

Currently zephyr bluetooth mesh couples them in one file.

### Proposed change

I prefer to separate it in different files and refer to @trond-snekvik 's suggestions in https://github.com/zephyrproject-rtos/zephyr/pull/

[2021-06-17 02:49] KevinHRea opened #36344 "Zephyr 2.6.0 st_ble_sensor sample is broken when compiled for nucleo_wb55rg"
**Describe the bug**
The st_ble_sensor sample included in the Zephyr 2.5.0 tree compiles and runs successfully with the nucleo_wb55rg eval board, but does not work when I attempt the same from the Zephyr 2.6.0 tree. In this case the board advertises correctly can be seen with name P2PSRV1 with the LightBlue app running on a Mac, or iPhone, but times out when a connection is made.

**To Reproduce**

[2021-06-17 03:59] #36037 closed

[2021-06-17 05:01] KevinHRea commented on #36344
Console output:

*** Booting Zephyr OS build zephyr-v2.6.0  ***
[00:00:00.027,000] <inf> bt_hci_core: Identity: 80:E1:26:08:2D:61 (public)
[00:00:00.027,000] <inf> bt_hci_core: HCI: version 5.2 (0x0b) revision 0x0051, manufacturer 0x0030
[00:00:00.027,000] <inf> bt_hci_core: LMP: version 5.2 (0x0b) subver 0x2151
[00:00:00.027,000] <inf> main: Bluetooth initialized
[00:00:00.030,000] <inf> main: Co

[2021-06-17 05:55] KevinHRea commented on #36344
When I turn on  debugging for the bluetooth subsystem, the 2.5.0 and 2.6.0 look the same until shortly after the informational log "Connected".

Here is the entire log output from the "Connected" log message onwards for v2.6.0:
[00:00:08.206,000] <inf> main: Connected
[00:00:08.206,000] <dbg> bt_conn.bt_conn_ref: handle 2049 ref 2 -> 3
[00:00:08.206,000] <dbg> bt_gatt.bt_gatt_connected: conn 0x200

[2021-06-17 07:01] erwango commented on #36289
@loicpoulain Would you have time to have a look ?

[2021-06-17 07:02] erwango commented on #36289
@nandojve Would you have time to have a look ?

[2021-06-17 07:19] torntrousers opened #36347 "Zephyr Wifi IoT device - whats a good board to start with?"
I'm looking at using Zephyr in our product and so want to make a prototype IoT device. Just something simple like MQTT publishing over WiFi  connecting to a cloud provider like AWS or Azure. What would be a good MCU board to try that with?

Ferkling around with Google and your user mailing list I see things like [this](https://stackoverflow.com/questions/60369066/zephyr-aws-iot-sample-application)

[2021-06-17 07:37] #36347 closed

[2021-06-17 08:09] yashi commented on #36297
Care to add more detail? board, zephyr version, how you built?

[2021-06-17 08:36] ioannisg opened #36351 "nRF: we do not always guarantee that SystemInit is inlined"
**Describe the bug**
In nRF platforms, SystemInit() is invoked by z_platform_init, during early reset cycle. Normally SRAM should not be accessed before SystemInit has returned, so we should be ensuring that no push register instructions are executed when branching to SystemInit(). Currently we do not ensure this under all optimization regimes. This needs to be fixed.

**Impact**
Unclear. It is ho

[2021-06-17 09:24] hamishguthrie opened #36356 "Network fails to transmit STM32H747DISC0 board zephyr v2.6.0"
**Describe the bug**
With the telnet sample built for the above board, the following error messages are seen shortly after startup:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Using west initialise and update a new clean version of zephyr v2.6.0
2. west build -b stm32h747i_disco_m7 samples/net/telnet
3. Program the resultant image to the discovery board
4. The above error is shown

[2021-06-17 10:16] FRASTM commented on #36344
I could identify that commit 2691541ad22aeb5530c3a692e708e9958865f372 is involved in the failure.

[2021-06-17 10:19] PerMac opened #36357 "tests: samples: watchdog: sample.subsys.task_wdt fails on nrf platforms"
**Describe the bug**
The sample from `zephyr/samples/subsys/task_wdt` fails on nrf9160 and nrf52840 (passes on nrf5340)

**To Reproduce**
1. have nrf52840 connected
2. run `./scripts/twister -T samples/subsys/task_wdt/ -p nrf52840dk_nrf52840 --device-testing --device-serial /dev/ttyACM0 -v -v`
3. See error

**Expected behavior**
The test passes

**Impact**
Not clear

**Logs and console output**
Th

[2021-06-17 10:21] alexsven opened #36358 "Potential issue with CMAKE_OBJECT_PATH_MAX"
Since nrf5340_cpunet_reset.c is located in the boards folder (zephyr/boards/arm/nrf5340dk_nrf5340), the path for linking it in might quickly be too long, depending on where the project is stored on the local machine.

One easy fix is to make sure to place the project as close to root as possible, but this might not be an option for all users.

[2021-06-17 10:23] carlescufi commented on #30243
Since complete Advertising Extensions support is a main focus for 2.7 LTS, and this is a blocker for it, raising the priority to medium

[2021-06-17 10:27] carlescufi commented on #36094
@hf81-ble could you please provide the additional information requested by @cvinayak?

[2021-06-17 10:35] rlubos commented on #36315
False positive, similar case to https://github.com/zephyrproject-rtos/zephyr/issues/33040.

[2021-06-17 10:35] #36315 closed

[2021-06-17 10:41] #24200 closed

[2021-06-17 10:54] rlubos commented on #36172
@niflostancu I've submitted #36359 with a fix, please give it a try.

[2021-06-17 11:01] niflostancu commented on #36172
I've been compiling Zephyr with those lines commented for a couple of days now.
Just tested on my boards, it works ;) I can finally get rid of the manual patch :D

[2021-06-17 11:03] tejlmand commented on #36358
Just a note: `CMAKE_OBJECT_PATH_MAX` has to do with the full path, it doesn't help regarding library names that are too long.

When using `zephyr_library()` without a name, then the lib name is constructed based on it's location:
https://github.com/zephyrproject-rtos/zephyr/blob/4b54d363e8802f301cfd7f1806ca78b288181da1/cmake/extensions.cmake#L391-L409

So best solution in this case would be to slo

[2021-06-17 11:09] carlescufi commented on #30026
@rlubos is there any chance you could take a look at the Wireshark log and see if this could be an issue on the TCP stack?

[2021-06-17 11:10] carlescufi commented on #33041
@MarkWangChinese ping

[2021-06-17 11:10] carlescufi commented on #33052
@MarkWangChinese ping

[2021-06-17 11:11] carlescufi commented on #34600
@Vudentz FYI, in case you have additional comments to this.

[2021-06-17 11:16] carlescufi commented on #36022
This is fixed in #36023

[2021-06-17 11:16] #36022 closed

[2021-06-17 11:16] carlescufi commented on #36048
@Thalley is the issue here on the Host or Controller side?

[2021-06-17 11:36] FRASTM commented on #36344
The pb comes from the drivers/bluetooth/hci/ipm_stm32wb.c
where the #if STM32_LSE_CLOCK is **NOT** defined here

[2021-06-17 11:40] jukkar commented on #30026
Is this the same issue https://devzone.nordicsemi.com/f/nordic-q-a/70593/nrfconnect-ipsp-example-global-address-unreachable

This might also be related to #33185 where the root cause was the incorrect handling of `lowpan_cb->gw` in linux ipsp driver.

[2021-06-17 11:52] Thalley commented on #36048
@carlescufi My assumption is that it is on the controller side. We are currently in dialog with the controller supplier for the controller used here, to fully determine the issue, but at least from the HCI logs it looks like a controller-related issue.

[2021-06-17 12:17] rlubos commented on #30026
@carlescufi The log could indeed indicate some issue with the TCP stack on the Zephyr side, as @jukkar pointed out, however from what I understood from this conversation the log was generated with "Zephyr version v2.2.0" - we still used the "old" TCP stack at that point. So it'd be good to see a more up do date logs.

However, I think the TCP topic slightly deviates from the original report, where

[2021-06-17 12:21] FRASTM commented on #36344
with a Kconfig in the drivers/bluetooth/hci/ like

[code]
The LL_RCC_LSE_Enable() is selected, but it seems not to be enough

[2021-06-17 12:29] koffes commented on #36256
@anangl  I have tried to replicate on both latest main (master) : d6949b75a72c7deda5da4a99208903f1feac36ee
as well as the commit where we first discovered the issue: 6b2cc7e57ea82c507409e4a1f4ff3613558bf5bd

I have used drivers/spi/spi_loopback and added the following:
[spi4_diff.txt](https://github.com/zephyrproject-rtos/zephyr/files/6670119/spi4_diff.txt)
[nrf5340dk_nrf5340_cpuapp.conf.txt](http

[2021-06-17 12:39] JPSELC commented on #31499
I created a draft Pull Request for this here : https://github.com/zephyrproject-rtos/zephyr/pull/36364

@rlubos When a first-time contributor submits a pull request to a public repository, a maintainer with write access must approve any workflow runs. Can you do this please?

[2021-06-17 13:05] peterniebert commented on #32238
OK, now I really think I got it right. With the exception of the right pin for sound output, all the microbit samples seem to work with the V2 and the new display driver and it has become much simpler.

https://github.com/zephyrproject-rtos/zephyr/pull/36280

[2021-06-17 13:10] maximevince commented on #35964
Additionally, I seem to have the same issue with RTT:

[code]

Where the shell thread is now waiting for `shell_pend_on_txdone(const struct shell *shell)` to complete.

[2021-06-17 13:37] temap commented on #36324
I suggest breaking manifest into logic groups or by the vendor. It's okay to check out everything for development purpose once but not a great idea for CI.
I don't want to check out 1GB of stm32 hal when I don't use it. I am looking for something modular.

As an alternative, add a name-filter option in the west to disable checkout specific projects by name.

[2021-06-17 14:40] zpm1066 commented on #32238
Very good! I look forward to trying out the new display driver. Thank you.

[2021-06-17 14:42] loicpoulain commented on #36289
Doesn't it timeout after a certain time?

Look like the 'data ready' pin is probably not correctly configured on that board, driver is waiting for that pin to be high.

[2021-06-17 14:59] oopsmonk commented on #36289
how long is the timeout? I waited for at least 2 minutes.
where I can change it?

[2021-06-17 15:14] jhedberg opened #36374 "Rename net_buf to something more generic and move it outside of net/"
Networking buffers is a separate subsystem with no dependency on networking itself. This implementation was originally created for Bluetooth and called bt_buf back then. Once work started to create a networking stack for Zephyr it made sense to reuse the buffer implementation, but Networking depending on something called bt_buf didn't feel right. Consequently, the implementation was renamed to net

[2021-06-17 17:50] nickstoughton opened #36375 "sdmmc_stm32 disk driver will not work with eMMC"
**Is your enhancement proposal related to a problem? Please describe.**
There are two distinct protocols used over the SDMMC bus:
* JEDEC JESD84-B51A: Embedded MultiMediaCard (e.MMC), Electrical Standard (5.1A).
* SD Card "SD Specifications"
While these two standards have much in common, they also have crucial differences in the protocol (especially during device initialization).

**Describe the s

[2021-06-17 18:37] dleach02 commented on #33747
@kevin137, can you list the specifications of the PC/NIC you are using with the Linux configuration? I was trying to setup a Linux + Avnu gptp but have not been successful.

[2021-06-17 23:26] #36305 closed

[2021-06-18 06:28] holgerschurig opened #36380 "missing auto-dependency on CONFIG_EMUL"
**Describe the bug**
[code]

**To Reproduce**
Simple proj.cnf:

[code]

Small native_posix.overlay:

[code]

Empty main.c, CMakeLists.txt with only main.c in it.

Compilation done with `west build --pristine -b native_posix`

**Expected behavior**
I expect that whatever makes i2c_emul.c get compiled should also define CONFIG_EMUL, as it won't compile without emul.c anyway.

**Environment (please c

[2021-06-18 06:32] nwsetec opened #36381 "Bluetooth ASSERTION FAIL [evdone] Zephyr v2.6.0"
**Describe the bug**
While developing with Zephyr v2.6.0 c9fd7a6099c4fad73014aaf0ce364996afbba9e6 our app raised this Bluetooth assert:
`ASSERTION FAIL [evdone] @ .../zephyr/subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c:353`

With a limited amount of testing I've experienced this twice.

**To Reproduce**
Setup a project the passive Bluetooth scanning with a 60ms scanning interval and 60ms win

[2021-06-18 06:35] holgerschurig opened #36382 "segfault when hardware isn't emulated"
**Describe the bug**
[code]

**To Reproduce**
This prj.conf:

[code]

This native_posix.overlay:

[code]

an empty main.c (just `void main() {}` and a minimal CMakeLists.txt that makes this file compiled.

I get the following backtrace:

[code]

**Expected behavior**
There is no source there that could possibly emulate the HTS221, so I expected an error message.

Perhaps a patch like this would be

[2021-06-18 06:46] oopsmonk commented on #36289
the timeout didn't fail but the code stuck in the while loop which it's no timeout.
https://github.com/zephyrproject-rtos/zephyr/blob/79a6c07536bc14583198f8e3555df6134d8822cf/drivers/wifi/eswifi/eswifi_bus_spi.c#L166-L170

the device tree looks right, not sure if I miss something?
https://github.com/zephyrproject-rtos/zephyr/blob/79a6c07536bc14583198f8e3555df6134d8822cf/boards/arm/b_l4s5i_iot01a/b

[2021-06-18 06:51] ainguraXmarquiegui commented on #33747
@dleach02 these are some details about the machine I have been using. If you need any more details, please let me know:

[code]

[2021-06-18 08:39] loicpoulain commented on #36289
I think this is wrong, chip-select is usually active-low, try to set GPIO_ACTIVE_LOW instead.

[2021-06-18 08:42] koffes commented on #36256
We are able to reproduce. Seems like a nrfx issue.

[2021-06-18 08:58] kevin137 commented on #33747
Hello @dleach02, hi everyone,

I can add a little bit more detail to what @ainguraXmarquiegui just posted--I think the NIC capabilities and firmware are the definitely the most important details, but in case you need some more information...

@ainguraXmarquiegui and I both have the same model of laptop for development, an HP ZBOOK 15 with a Core i9-9880H. We are both using Ubuntu 20.04. The wired

[2021-06-18 09:16] oopsmonk commented on #36289
setting data-gpios to GPIO_ACTIVE_LOW, I got `DATA ready timeout` from eswifi_spi_wait_cmddata_ready.
[code]

according to [GPIO API](https://docs.zephyrproject.org/latest/reference/peripherals/gpio.html#c.GPIO_ACTIVE_HIGH) is should set to `GPIO_ACTIVE_HIGH`, but it depends on SPI driver design, I think.

[2021-06-18 09:22] #36095 closed

[2021-06-18 09:39] lyakh commented on #35293
haven't been observed in a while, let's close it for now

[2021-06-18 09:39] #35293 closed

[2021-06-18 09:40] oopsmonk commented on #36289
oh, I got it. I changed chip-select pin to `GPIO_ACTIVE_LOW`, it seems to work. let me do more tests.

https://github.com/zephyrproject-rtos/zephyr/blob/79a6c07536bc14583198f8e3555df6134d8822cf/boards/arm/b_l4s5i_iot01a/b_l4s5i_iot01a.dts#L134-L135

[2021-06-18 09:49] ioannisg opened #36388 "ARM: Architecture Level user guide"
**Is your enhancement proposal related to a problem? Please describe.**
Generate an architecture-level user guide for ARM Cortex-m architecture variant, similar to the ARC and x86 user guides in the project documentation.

[2021-06-18 10:29] chyu313 opened #36390 "net: ip: Negative TCP unacked_len value"
When testing TCP/IP stack, the following error message displayed:
[code]
unacked_len was set to a negative value.

The reason is that TCP unacked_len was set to zero in tcp_resend_data(), and then be minus by len_acked in tcp_in(), resulting in a negative unacked_len value.

If unacked_len is less then len_acked, it should be set to zero instead of being minus by len_acked, as following:
[code]

*

[2021-06-18 10:33] soburi commented on #34971
Hi @kgugala

Thank you for inspecting the PR.

NMSIS contains a Nuclei-specific register defines such as an interrupt controller. These are referenced from hal_gigadevice.
In this PR, we tried not to change the vendor-supplied code as much as possible.

I think sources under the zephyr directory should use already exists zephyr's definition. If not is so I must correct it.
Make to use zephyr's def

[2021-06-18 11:26] de-nordic commented on #35848
I will look into the issue.

[2021-06-18 12:53] nunosousa opened #36398 "[Video API] Erroneous function pointer validation"
**Bug description**
Possible inconsistent behaviour found in the public APIs for Video (include/drivers/video.h).

Before any API function is called, its function pointer is tested against NULL to check its existence.
Example for video_stream_start Video API:

	if (api->stream_start == NULL) {
		return -ENOSYS;
	}

	return api->stream_start(dev);

In the case of video_stream_stop, this test is not

[2021-06-18 12:59] #36344 closed

[2021-06-18 13:11] #36061 closed

[2021-06-18 13:21] #36390 closed

[2021-06-18 13:33] trond-snekvik commented on #36343
Thumbs up from me, at least :slightly_smiling_face:

CC @andrewpini

[2021-06-18 15:15] hakehuang commented on #33747
@kevin137  @ainguraXmarquiegui  @jukkar  , can you try below fixes?
https://github.com/hakehuang/zephyr/commits/rt_gpt_clock_fixing_dev

does this fix improve?

[2021-06-18 15:33] erwango commented on #36375
@nickstoughton Thanks for this!

Just a clarification for the next steps, we're not using patches, so:
- Would you like to submit a pull request to contribute this patch yourself into zephyr?
- or do you propose this "as is" and expect someone interested to use it and push it for merge ?

Also, about the patch you submitted [here](https://github.com/STMicroelectronics/STM32CubeF7/issues/45), there

[2021-06-18 15:37] erwango commented on #36356
^^ @reloZid FYI. Would you mind to have a look ?

[2021-06-18 17:35] reloZid commented on #36356
What I can tell after a quick test is that for me the following boards are working:

* Nucleo H743
* Nucleo H745

Also used the telnet sample, Zephyr v2.6.0 and SDK v0.12.4 on Ubuntu 20.04.

Unfortunately I don't have a H747 discovery board at hand. In my point of view the MCU should be very similar to the H745 though. Any ideas what could be the difference? I can check later whether I can spot so

[2021-06-19 17:29] jonnykl opened #36408 "ARM_MPU on boards stm32_min_dev_* without MPU enabled"
**Describe the bug**
The boards `stm32_min_dev_{blue,black}` (and maybe some more) have the `ARM_MPU` and `HW_STACK_PROTECTION` enabled (see https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/stm32_min_dev/stm32_min_dev_blue_defconfig), but in the datasheet of the processor (stm32f103x8) a MPU is not described. Also MPU support is not enabled for the processor, so zephyr shows an er

[2021-06-19 21:06] hamishguthrie commented on #36356
Unfortunately the only board I have is an H747, however I will have a board with an H742 tomorrow, and I will try it with that - I am just wondering as a wild guess if this has some conflict between the 2 cores in the H747? I will also try completely disabling the M4 core and see if that makes any difference, but I am very new to the Zephyr and STM32 environments. My major skillset is embedded Lin

[2021-06-20 01:49] cfriedt opened #36410 "board: cc1352r_sensortag: add dts entry for hdc2080"
**Is your enhancement proposal related to a problem? Please describe.**
Pull #36342 adds support for the `ti,hdc2080` that I had never gotten around writing a driver for on the `cc1352r_sensortag`, so it would make sense to add a dts entry for that now.

**Describe the solution you'd like**
A patch for `boards/arm/cc1352r_sensortag/cc1352r_sensortag.dts` that adds an entry for the `hdc2080` on `i2

[2021-06-20 09:01] torntrousers commented on #29394
Is there a recording of that talk available somewhere?

[2021-06-20 09:09] tiborrr commented on #29394
The recording is not yet online however the slides are. Perhaps you can find what you need in there.

https://drive.google.com/file/d/1AmP1R9Mr08nqR_wwNLsgOHaiKaLR9UlS/view?usp=sharing

[2021-06-20 09:15] torntrousers commented on #29394
Thanks!

I'm completly new to Zephyr and this morning have been trying to get it running on an ESP32 but really quite lost - none of the doc or guides I can find seem to work right away or be quite up to date. Is there something up to date somewhere that wold tell me how to get helloworld or blinky running on an ESP32?

[2021-06-20 09:52] tiborrr commented on #29394
@torntrousers i actually switched to Ubuntu because of your experience. Getting USB to work on WSL was a pain. Now that I've switched to Ubuntu developing has been a treat.

[2021-06-20 09:55] vladimir-podbrezsky commented on #36297
We use platform based on Cortex ARM Aarch64 and it's same as "bcm958402m2_a72".  The version of Zephyr is 2.6.0.
Actually,  location of BSS section is defined in file "zephyr/include/arch/arm64/scripts/linker.ld".

[2021-06-20 11:15] torntrousers opened #36412 "Blinky on ESP32: Unsupported board: led0 devicetree alias is not defined""
Trying to get going with Zephy on an ESP32 and the Blinky sample fails to compile with
[code]
Googling, I think I need to add something about led0 to ```C:\Users\Administrator.CQ-LAP-000001\zephyrproject\zephyr\boards\xtensa\esp32\esp32.dts```, but its hard to work out what the syntax should be.

Can someone give me the text?

[2021-06-20 13:20] torntrousers opened #36414 "ESP32 with samples\net\wifi gives: net_if: There is no network interface to work with!"
On an ESP32 trying to run the Zephyr WiFi sample in the samples\net\wifi directory and it fails with:

[code]

Any tips on how to get it working?

[2021-06-20 15:40] fanghuaqi commented on #34971
No need to be customized by SoC vendor, especially the header files, the only thing need to be customized are the startup/interrupt/exception handing code and link script, which we also provide template files.

If our customer find bugs or need new features, they can open issue or PR to us, and let us improve it, so they can also use the latest version if we provided.

Thanks
Huaqi

[2021-06-20 15:44] fanghuaqi commented on #34971
Hi @kgugala , NMSIS-Core is a Nuclei RISC-V Core header files defined for our SoC customer to easily to access the cpu features supported by our RISC-V Core, so we need to define the CSR access APIs, of course you can find csr access in Zephyr existing RISC-V supporting code, it might cause some confusions, but maybe customer can include the files they need maybe zephyr one or NMSIS one.

Thanks
H

[2021-06-20 18:42] manoj153 commented on #35986
any updates? keen to learn or get some hints what's going on atleast, I can try experimenting for a fix on my end

[2021-06-20 19:31] manoj153 commented on #34324
How is it evolving @erwango in regards to this specific issue?
found someone mentioned similar here:
https://lists.zephyrproject.org/g/users/topic/help_using_systemview_on_an/81836728?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,20,81836728

[2021-06-20 21:56] mspeder opened #36415 "Need access to destination ip from socket recv"
Today there is no way to retrieve destination ip address while receiving a packet thru a socket.
This is particularly useful when the interface has multiple ip addresses (for instance multicast).

A possible solution, compliant with POSIX, would be a combination of **recvmsg** and **IP_PKTINFO** socket option but recvmsg is not implemented yet in Zephyr.
Another option would be to add a dedicated

[2021-06-21 00:29] #34015 closed

[2021-06-21 00:29] #33937 closed

[2021-06-21 00:29] #33932 closed

[2021-06-21 00:42] enjiamai commented on #26865
Hi @nashif @andyross , do we indeed need a function/interface like this?  or we can implement this as a test util? thank you!

[2021-06-21 01:26] stephanosio commented on #35986
cc @pfalcon

[2021-06-21 02:01] stephanosio commented on #35986
Reviewing the newlib source code, `pthread_t` and its friends should only be defined by the newlib when `defined(_POSIX_THREADS) || __POSIX_VISIBLE >= 199506`:
https://github.com/zephyrproject-rtos/newlib-cygwin/blob/b1fe4401fdbd0860e0b91227219b15d2e0142b78/newlib/libc/include/sys/_pthreadtypes.h#L21

As far as `tests/posix/common`, which covers pthread, is concerned, it is run with `CONFIG_NEWLIB

[2021-06-21 02:48] sylvioalves commented on #29394
@torntrousers Hi, after having your environment properly set, follow the guide below:
https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html

Let us know if you still face any issue.

[2021-06-21 04:14] cvinayak commented on #36131
The reception of primary channel PDU and auxiliary PDU are being cancelled by the connection event. Connection interval of 50 ms, scan interval of 60ms and a window of 30 ms unfortunately is not able to receive unless the scanning is kept active for a longer duration.

@Thalley The suggested solution is to use continuous scanning, please try an interval of 2.5ms and a window of 2.5 ms.

[2021-06-21 05:30] torntrousers commented on #29394
Thanks @sylvioalves , I have things compiling but can;t get the standard samples working, eg: https://github.com/zephyrproject-rtos/zephyr/issues/36412 and https://github.com/zephyrproject-rtos/zephyr/issues/36414

[2021-06-21 05:39] hakehuang opened #36416 "tests-ci :arch.arm.irq_advanced_features.arm_irq_target_state : zephyr-v2.6.0-286-g46029914a7ac: lpcxpresso55s28: test failed"
**Describe the bug**
arch.arm.irq_advanced_features.arm_irq_target_state test is failed on zephyr-v2.6.0-286-g46029914a7ac on lpcxpresso55s28

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)

[2021-06-21 05:40] hakehuang opened #36417 "tests-ci :coredump.logging_backend : zephyr-v2.6.0-286-g46029914a7ac: lpcxpresso55s28: test failed"
**Describe the bug**
coredump.logging_backend test is failed on zephyr-v2.6.0-286-g46029914a7ac on lpcxpresso55s28

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version use

[2021-06-21 05:51] hakehuang opened #36418 "test-ci: net.socket.tls: zephyr-v2.6.0-286-g46029914a7ac: frdm_k64f: test fail"
**Describe the bug**
test-ci: net.socket.tls: zephyr-v2.6.0-286-g46029914a7ac: frdm_k64f: test fail

**To Reproduce**
Steps to reproduce the behavior:
cd tests\net\socket\tls_ext
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f ..
3. make
4. See error

**Expected behavior**
test PASS

**Impact**
tls extend functions

**Logs and console output**

[code]

**Environment (please complete the follow

[2021-06-21 05:57] hakehuang opened #36419 "test-ci: net.ethernet_mgmt: zephyr-v2.6.0-286-g46029914a7ac: frdm_k64f: test fails"
**Describe the bug**
net.ethernet_mgmt: zephyr-v2.6.0-286-g46029914a7ac: frdm_k64f: test fails

**To Reproduce**
Steps to reproduce the behavior:
cd tests/net/ethernet_mgmt
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f ..
3. make
4. See error

**Expected behavior**
test PASS

**Impact**
ethernet management

**Logs and console output**

[code]

**Environment (please complete the following inf

[2021-06-21 06:28] chyu313 commented on #36266
The following is how it goes:
1. ```tcp_work thread```: send_timer->tcp_send_process()->tcp_send_process_no_lock()->"peek head pkt in conn->send_queue"
2. context switch to ```tcp client thread```: net_tcp_connect()->tcp_conn_unref()(for ETIMEDOUT)->tcp_send_queue_flush()
3. context switch back to ```tcp_work thread```:  tcp_send_process_no_lock()->k_work_reschedule_for_queue()->z_add_timeout()->"

[2021-06-21 06:33] yashi commented on #36297
#24619, #21747

[2021-06-21 07:06] jukkar commented on #36415
IMHO this would be a better solution than adding a new and non-compliant function for this. Both functions would need to dig out the destination IP address anyway so it would not make sense to implement new function for this purpose.

[2021-06-21 07:37] loicpoulain commented on #36289
@oopsmonk, good, could you submit the fix if you confirm it works. CS is active low for eswifi chips.

[2021-06-21 08:04] Thalley commented on #36131
@cvinayak That is a workaround though, isn't it (which I already have)?

The test is attempting to simulate a real life scenario using the default scan parameters of Zephyr.

If I understood correctly, the scan interval and window are basically in conflict with the connection interval, right?
Is this something that can be detected by the controller, and if so, would it not be possible to offset th

[2021-06-21 09:17] hakehuang opened #36427 "test: kernel.common.nano32: zephyr-v2.6.0-286-g46029914a7ac: mimxrt1060_evk: test fails"
**Describe the bug**

kernel.common.nano32: zephyr-v2.6.0-286-g46029914a7ac: mimxrt1060_evk: test fails

**To Reproduce**
Steps to reproduce the behavior:
cd tests/kernel/common
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. See error

**Expected behavior**

test pass

**Impact**

kernel common nano32 support

**Logs and console output**

[code]

**Environment (please compl

[2021-06-21 09:33] de-nordic opened #36428 "Build summary: Report information on all enabled memory devices how DTS partitions them"
**Is your feature request related to a problem? Please describe.**
The flash, or possibly other memory devices, area partitioned via DTS, and such partitioning may be applied via multiple overlays, which allows to create overlaying partitions or accidentally left some space unassigned.
The feature would not affect build in any other way than just displaying information, without categorizing anythi

[2021-06-21 10:37] sylvioalves commented on #36414
@torntrousers Please, use `samples/boards/esp32/wifi_station` as reference.

[2021-06-21 10:38] sylvioalves commented on #36412
@torntrousers, it fails because, as you said, there is no default led0 definition. What pin are you using?

[2021-06-21 10:50] torntrousers commented on #36412
I have a variety of boards, but lets say its a [Heltec WiFi Kit 32](https://heltec.org/project/wifi-kit-32/) which has an LED on GPIO 25 i think.

[2021-06-21 10:57] sylvioalves commented on #36412
There are a few ways to make that work. Changing the .dts is a way. You can also add an overlay file within the project:
1. create a file named esp32.overlay at `samples/basic/blinky`.
2. pasted the content below (it will blink pin 2)

[code]

[2021-06-21 11:05] torntrousers commented on #36412
Woohoo, that works. Thanks @sylvioalves .

If I may, this hasn't been a particularly easy getting started process for someone new to Zephyr and ESP32 on Zephyr. I;d be happy to give some tips on how to make things a bit easier for a newbie.

[2021-06-21 11:30] torntrousers commented on #36414
Thanks @sylvioalves . I've got that to run but it does not seem to connect. I've tried putting in the incorrect password and th elog is the same. Is there some thing I can do to debug what is happening?
[code]

[2021-06-21 11:47] sylvioalves commented on #36412
@torntrousers great, let's chat in slack channel. Can you do that?

[2021-06-21 11:47] #36412 closed

[2021-06-21 11:50] sylvioalves commented on #36414
@torntrousers Have you set that at the `prj.conf` file? What is the wifi security type?

[2021-06-21 11:54] erwango commented on #36289
Thanks @loicpoulain for the great support!

[2021-06-21 12:20] torntrousers commented on #36414
Yes, I found CONFIG_ESP32_WIFI_SSID and CONFIG_ESP32_WIFI_PASSWORD in zephyrproject\zephyr\samples\boards\esp32\wifi_station\prj.conf  and set those for my Wifi access point. I haven;t changed anything else , so whatever the default security type is?

[2021-06-21 12:25] mspeder commented on #36415
I totally agree, however this is also a bit harder to implement. Because recvmsg is more complex with all the msghdr / iovec / control ancillary structures.
So implementing something like recvfromto would probably be easier to do, and also recvfrom could be inlined to recvfromto with NULL src_addr, maybe leading to overall smaller code footprint.

[2021-06-21 13:02] cvinayak commented on #36131
This is not a work around, advertising primary PDU and auxiliary PDU can be anywhere within the advertising interval duration. The recommended BT Spec value are, `TGAP(scan_fast_interval) 30 ms to 60 ms`, and `TGAP(scan_fast_window) 30 ms`. Using continuous scanning (30 ms interval, 30 ms window) will ensure quicker reception of advertising reports.
I suggested 2.5ms, as it will have less overlap

[2021-06-21 13:10] Thalley commented on #36131
Changing from the recommended values to continuous scanning due to the connection parameters (which may change from peripheral to peripheral) sounds like a workaround to me, as we should be able to scan with the recommended values (which we clearly can by changing the timing of the device just slightly).

I don't think I would accept "continuous scan" as a solution to this issue.

If that is the c

[2021-06-21 13:33] rlubos commented on #35719
@allopatin I've sketched the initial idea on the following branch: https://github.com/rlubos/zephyr/commits/wifi/mgmt-integration-rework

The idea was rather simple, introduce `struct wifi_api`, based on `struct ethernet_api`, and use it within `struct net_wifi_mgmt_offload` instead of direct `struct net_if_api` pointer. This would allow to define devices that'd use both, the offloaded `wifi_mgmt`

[2021-06-21 13:59] michal-narajowski opened #36435 "RFC: API Change: Mesh: Add return value for opcode callback"
### Problem description

The current Mesh API is missing a return value for opcode callbacks to get meaningful information from the callback. One example of such information is message length check. Some Mesh messages have fixed length while others have variable length. Current Mesh implementation only verifies that the incoming message is not shorter than the minimum length. According to Mesh Pro

[2021-06-21 14:49] MarkWangChinese commented on #33052
Hi @carlescufi you are right. In this API, it seems not want to change the buf->data, so the variable *data is used. I will add some "if" to the codes.
From my understand and the Coverity log, your found seems not related to the Coverity logic. Coverity think the  "data length" is tainted and untrusted because it comes from external source.
![image](https://user-images.githubusercontent.com/455572

[2021-06-21 15:35] #36351 closed

[2021-06-21 16:20] #36289 closed

[2021-06-21 17:21] reloZid commented on #36356
I would say this is definitely worth a try. According to the board documentation, the M4 core can be disabled by modifying the option bytes using the STM32CubeProgrammer. Otherwise I'd suggest to at least make sure that the other core doesn't mess something up by flashing something simple. On the Nucleo H745 I just tested running the blinky sample on the M4 core in parallel with the telnet sample

[2021-06-21 18:12] torntrousers commented on #36414
Any ideas @sylvioalves ?

[2021-06-21 18:16] sylvioalves commented on #36414
@torntrousers I checked that with latest main branch and it worked.  Have you performed `west update` and `west espressif update` in your env? Is your wifi network configured as WPA or WPA2?

[2021-06-21 18:29] cvinayak commented on #36131
Interval of 30 ms and a window of 30 ms (continuous scanning) is in the range of recommended value in the BT Spec.

Your sample is using 100 ms advertising interval, connection interval of 50ms, scan interval of 60 ms and scan window of 30ms. Yes, they should drift, avoid overlaps and eventually be received by the scanner.

I have been debugging the test and notice that the issue was due to a buff

[2021-06-21 18:46] torntrousers commented on #36414
Thanks @sylvioalves . Network is WPA2-Personal (according to WIndows Network Properties). The ESP32 connects to it ok with the ESP32 Arduino framework.

I had not run those west commands, I have now but after rebuilding and flashing there is no difference.
[code]

[2021-06-21 18:53] sylvioalves commented on #36414
@torntrousers Is the file `prj.conf` modified (except for for ssid and pass)?

[2021-06-21 19:12] torntrousers commented on #36414
@sylvioalves no. It looks like this:
[code]

[2021-06-21 22:46] #36276 closed

[2021-06-22 00:29] #33753 closed

[2021-06-22 00:31] #36093 closed

[2021-06-22 02:26] andyross commented on #26865
It doesn't seem like a **bad** API to have, but clearly we don't need it generically right now.  In some architectures, there's no MMU state behind kernel stacks, so it's not necessarily something that matters to the hardware.

I guess if nothing else is should be part of CONFIG_THREAD_STACK_INFO, which is where we put this information (optionally) for apps that require it.

[2021-06-22 02:57] enjiamai commented on #26865
Hi @andyross , thanks for your guidance!
So my understanding is to implement this kind of API within CONFIG_THREAD_STACK_INFO=y, we might not need to implement it for all of the ARCH/platform at this moment.

[2021-06-22 06:10] torntrousers commented on #36414
@sylvioalves I've tried this with my Wifi access point and also using a hotspot on my Android phone (also WPA2-Personal). Neither work with Zephyr but both work with ESP32 Arduino environment.

To workout if its some problem with my Zephyr install/build how about would it be possible for you to build the sample and send it to me so I can try you binary? My hotspot ssid/password is Balloon1/qaz1234

[2021-06-22 08:01] nwsetec commented on #36381
We have also observed: `ASSERTION FAIL [rx_dle] @ WEST_TOPDIR/zephyr/subsys/bluetooth/controller/ll_sw/ull_conn.c:5466`

[2021-06-22 08:05] romaric35 opened #36447 "net: socket: socketpair: Poll call resetting all events"
**Describe the bug**
At the beginning of poll() call every events on all file descriptors are systematically cleared, here :
socketpair.c: zsock_poll_prepare_ctx(): k_poll_signal_reset((*pev)->obj);

**To Reproduce**
- scenario 1 (on file descriptor addition to poll):
	Create two threads (one will be called client and one server), one socketpair with one end belonging to server
	and the other end

[2021-06-22 08:23] mbrunnen commented on #6657
I think AVDTP is not same as AVRCP.

[2021-06-22 08:25] ABOSTM opened #36448 "samples: subsys: fs: fat_fs: adafruit_2_8_tft_touch_v2: buildkite compilation failed when no i2c defined"
**Describe the bug**
With PR #36389, Arduino_spi has been added to board "stm32h747i_disco_m7", but there is no i2c defined in DeviceTree.
Buildkite compilation fails on board stm32h747i_disco_m7 with sample:
https://buildkite.com/zephyr/zephyr/builds/33625#82d873c4-1fb5-4112-8748-7931c3e913ca
samples/subsys/fs/fat_fs/sample.filesystem.fat_fs.adafruit_2_8_tft_touch_v2
`Error: stm32h747i_disco_m7.d

[2021-06-22 09:34] sylvioalves commented on #36414
@torntrousers I have just tested with my phone as well and it worked with same credentials.

Find the bin file attached.

Hum, You have been working on Windows, right? I'll try in Windows as well.

[code]

[2021-06-22 10:29] hamishguthrie commented on #36356
I now suspect that I have a faulty STM32H747DISC0 board. I received this board (brand new) a few weeks ago. When I first received that board I was using Zephyr v2.5.0 and I was able to get networking running, however, if I built images using the Zephyr SDK, I could easily crash the device simply by pinging it, however, if I built using the GNUARMEMB toolchain it worked, which also puzzled me compl

[2021-06-22 12:44] #36448 closed

[2021-06-22 13:06] #22210 closed

[2021-06-22 16:55] hamishguthrie commented on #36356
I have now also managed to bring up our own custom board which has an H742 on it and the Ethernet works correctly. There is currently no support for the H742 in Zephyr, but I am working on support for that - as far as I can tell the only difference between that and the H743 is the amount of SRAM available, so I have created a new dts for the H742 and will make a pull request once I have it stable.

[2021-06-22 19:32] torntrousers commented on #36414
Oh, its Zephyr isn't it - I'm on a older build than you. How do I update that?

[2021-06-22 20:49] sylvioalves commented on #36414
I think it is something related to the board config itself. Let me check, I'll get back to you..

[2021-06-23 00:12] nashif commented on #36226
@vladimir-podbrezsky do you have a proposal for implementing this? If you have code you can always submit as a PR.

[2021-06-23 00:29] andyross commented on #2811
Let's close this.  While this is still relevant, it's been several years now and really no one has run into trouble with the existing data structure[1].  I think we can close this.  When there's need, obviously, we can always revisit things and do another rework of the timer subsystem.  But until then I think it's safe to say this won't be worked on.

[1] Which to remind everyone: is slightly fast

[2021-06-23 00:29] #2811 closed

[2021-06-23 00:29] #33960 closed

[2021-06-23 04:24] 761669642 opened #36462 "[bluetooth stack][limited_discoverable_advertising timeout] Some problems about the lim_adv_timeout"
Hi, when I test zephry ble stack on my bluetooth board with auto-pts, I meet a problem about the timeout of the limited discoverable advertising. The Bluetooth spec5.0 declare that "Devices shall remain in the limited discoverable mode no longer than
TGAP(lim_adv_timeout)." The default timeout is 180s. But when I test it, it can never stop although that the ad type flag is LimitedDiscoverable.
So,

[2021-06-23 05:06] cvinayak commented on #36381
@nwsetec Please increase the `LL_PDU_RX_CNT` count here: https://github.com/zephyrproject-rtos/zephyr/blob/c9fd7a6099c4fad73014aaf0ce364996afbba9e6/subsys/bluetooth/controller/ll_sw/ull.c#L317

I will send a PR once you can confirm, it avoids the assertion in ull_conn.c.

[2021-06-23 06:58] IRISZZW opened #36465 "samples/compression/lz4 failed with arcmwdt toolchian"
**Describe the bug**
samples/compression/lz4 failed with arcmwdt toolchian

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nsim_em -d build samples/compression/lz4
2. See error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (arcmwdt)
 - Commit SHA: b4faf7fe63201ad26b9c4ddf4742ad750c9f2d7a

**Addition

[2021-06-23 07:06] erwango commented on #36356
No issue, you can add this SoC support, even if no board is available.

[2021-06-23 07:06] IRISZZW opened #36466 "tests/kernel/mem_protect/mem_protect failed with arcmwdt toolchain"
**Describe the bug**
tests/kernel/mem_protect/mem_protect failed with arcmwdt toolchain

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nsim_em -d build tests/kernel/mem_protect/mem_protect
2. west flash
3. See error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (arcmwdt)
 - Commit SHA: b4faf7fe6320

[2021-06-23 07:16] IRISZZW opened #36467 "runner mdb-hw not work with arc hsdk board"
**Describe the bug**
runner mdb-hw not work with arc hsdk board

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b hsdk -d build samples/hello_world
2. west flash -r mdb-hw
3. there is no output from serial, the program not run.

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - Commit SHA: b4faf7fe63201ad26b9c4ddf4742ad750c9f

[2021-06-23 07:39] hakehuang commented on #36419
@dleach02 all RT series have the same problem. mimxrt1060_evk
[code]

[2021-06-23 08:51] FRASTM opened #36471 "[RFC] using dma with client peripheral on stm32 M7 devices"
## Introduction

On the ARM-M7 core-based stm32 MCU, when the L1-Cache memory is enabled, the system needs to "ensure data coherency between the core and the main memory when dealing with shared data", especially with DMA transfers.

This is detailed in the [AN4839: Level 1 cache on STM32F7 Series and STM32H7 Series](https://www.st.com/content/ccc/resource/technical/document/application_note/group

[2021-06-23 10:04] FRASTM commented on #36471
As also stated by Arm M7:
_Multiple Bus Masters
Where we have multiple bus masters (e.g. a DMA controller), runtime cache maintenance operations may be required. For example, sharing a cacheable memory location between the processor and a DMA Controller for buffering:

If the memory location updated by the Cortex-M7 processor, is being used as a write-buffer and has to be accessed by another bus m

[2021-06-23 10:19] hakehuang commented on #35656
lpcxpresso55s28 has the same problem.
'''
?*** Booting Zephyr OS build zephyr-v2.6.0-286-g46029914a7ac  ***
Running test suite arm_interrupt
===================================================================
START - test_arm_null_pointer_exception
Skipped
PASS - test_arm_null_pointer_exception in 0.1 seconds
===================================================================
START - test_arm_inte

[2021-06-23 10:22] hakehuang commented on #25832
this issue still occures in zephyr-v2.6.0-286-g46029914a7ac
[code]

[2021-06-23 10:25] henrikbrixandersen commented on #36417
@hakehuang You already reported this in #36078?

[2021-06-23 10:32] nashif commented on #19328
@nordic-krch  ping

[2021-06-23 10:38] nashif commented on #35237
[code]

we do not want twister dealing with manifests directly, this is up to the user to run tests on modules with tests.

[2021-06-23 10:41] kumarnac opened #36476 "Add intel HAL support"
## Origin
https://github.com/intel/hal-intel

## Purpose
Provide  HAL support  for Intel boards and  Intel SoC  specific hardware definitions to be referred by boards in Zephyr

## Mode of integration
Mode of integration - Module
Module Name:  hal_intel

## Pull Request

N/A

## Description
The module inclusion being requested would  host  Intel  platform  specific files and  driver abstraction la

[2021-06-23 10:44] nordic-krch commented on #19328
It can be reopened when there is some interest.

[2021-06-23 10:44] #19328 closed

[2021-06-23 10:46] nashif commented on #3879
fn_abort was removed, so closing

[2021-06-23 10:46] #3879 closed

[2021-06-23 12:00] de-nordic opened #36485 "RFC: Flash API change that allows to define "virtual" flash devices over real flash devices"
## Introduction

Currently some of flash API calls, like the `flash_api_pages_layout`, often propagate pointers to structures directly defined at driver level; this makes it hard to setup "virtual" device that could lie about the information returned by such API call as it may require run-time allocation of resources as the "real-device" can never be assumed, which is not possible.
Aim of this RFC

[2021-06-23 12:02] #31499 closed

[2021-06-23 12:05] rakons opened #36486 "LOG2 - self referential macro"
**Describe the bug**
Inside LOG2 in specific configuration the __ASSERT macro references to itself.

**To Reproduce**
- Use sample hello_world
- Prepare: code for any platform (like native_posix)
- Set:
    - LOG=y
    - LOG_MODE=LOG2_MODE_DEFERRED
    - LOG_PRINTK=y
    - ASSERT=y
    - CBPRINTF_STATIC_PACKAGE_CHECK_ALIGNMENT=y

**Expected behavior**
Code should compile

**Impact**
Hard to say -

[2021-06-23 12:24] torntrousers commented on #36414
@sylvioalves , I have just joined the Zephyr slack so yes I have an account now.

[2021-06-23 12:25] de-nordic commented on #34706
Currently the aim of this feature has changed to move flash map API to compatibility layer; the flash map  API has been taken into Zephyr, from other project, to quickly allow adaptation of some feature, so it carries a some characteristics that has been required by that project,
Since we are willing to rewrite it in Zephyr it is good moment to select something that will be more Zephyr-native and

[2021-06-23 12:29] de-nordic commented on #36485
FYI @nvlsianpu , @jfischer-no , @mbolivar-nordic , @galak , @nandojve .

[2021-06-23 13:58] gregshue commented on #35237
@nashif

I completely agree, and this fundamentally has nothing to do with manifests.  Manifest parsing should be left to `west`, and any ability to kickoff off `twister` with a generated list of module directories from manifests should be left to a west extension located in `zephyr/scripts/west_commands/`.

This is about `twister`:
1. following a provided list of directories (e.g., `ZEPHYR[_EXTRA

[2021-06-23 14:25] rlubos commented on #36447
Hi @romaric35, thank you for the report.

Indeed, resetting the signal at the beginning of the `poll()` doesn't seem to be a right approach, I've reproduced the faulty behaviour with a proper unit test. I think that you fix proposal looks good, however it doesn't seem to be complete, as it covers only `POLLIN` case, some more changes are needed in order to make `POLLOUT` work as expected.

I'll tr

[2021-06-23 15:03] ejohnso49 opened #36495 "dtc generates missing #address-cells in interrupt provider warning"
**Describe the bug**
`dtc` version 1.6.1 produces a warning when building applications for ARMv7-m targets. This warning does not cause builds to fail. I recently upgraded my `dtc` so I'm not entirely sure what `dtc` version this was introduced with.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `dtc` version 1.6.1
2. Run `west build -b nrf52833dk_nrf52833 zephyr/samples/hello_worl

[2021-06-23 15:08] ainguraXmarquiegui commented on #33747
Good news @hakehuang ! I have only been able to do a couple of quick tests, but it seems that the errors I was seeing in my previous tests are gone with your latest code base.

I have tested it on the imxrt1020evk and imxrt1050evk for a few minutes. When I am less busy I will try to do longer duration tests, and maybe try to verify that time synchronization is working. I just wanted to do a quick

[2021-06-23 15:11] ArneJoris opened #36496 "bluetooth: only the first Extended Advertising Report with data status "incomplete, more data to come" is issued"
**Describe the bug**
When receiving an AUX_ADV_IND advertisement with 60 bytes of extended advertising data, zephyr issues only a single LE Extended Advertising Report meta event, with the first 42 bytes of the data and a data status of 'Incomplete, more data to come'.

No further LE Extended Advertising Report meta events are sent and the last 18 bytes of advertising data are never communicated t