[2019-12-18 17:47] andrewboie opened #21495 "x86_64: interrupt stack overflows are not caught"
x86_64 does not catch stack overflows that take place on the interrupt stack as expected by the CONFIG_HW_STACK_PROTECTION feature.

In detail, x86_64 uses separate interrupt stack buffers for each IRQ nesting level. None of them have guard pages configured. We need to have a guard page for every IRQ nesting level stack, or have nested IRQs take place all on the same stack with a guard region at t

[2019-12-18 19:17] #16329 closed

[2019-12-18 19:40] pabigot commented on #20974
@nashif How many devices have you had simultaneously enabled in the hardware file?

[2019-12-18 20:27] vanti commented on #21372
@happymili Could you double-check you have jumpers on TDO and TDI on the board, which are necessary for JTAG connections?

[2019-12-18 20:43] kcnsunrise opened #21498 "Zephyr Peripheral not responding to Terminate command from central"
I'm testing a zephyr ble HRM peripheral. The test consists of sending a Feature Exchange Command from a central and then terminating the connection from the central before the peripheral can respond to the command. According to the spec, the peripheral should terminate the connection when the terminate command is received. What I see is the peripheral ignores the terminate command and sends the Fe

[2019-12-18 20:45] #16239 closed

[2019-12-18 20:52] #21475 closed

[2019-12-18 20:53] #5695 closed

[2019-12-18 20:53] #18551 closed

[2019-12-18 20:53] #21094 closed

[2019-12-18 21:08] #20770 closed

[2019-12-18 21:32] andrewboie opened #21500 "RFC: k_thread_join()"
**Is your enhancement proposal related to a problem? Please describe.**
There's no good way to block until another thread exits.

Our test cases currently manage this in a few ways:

1) Create an equal priority co-op thread, or higher priority thread, and then yield() the CPU, or sleep for a while. Assuming the child thread never blocks and then exits, control returns after yield() completes...if

[2019-12-19 01:01] Vudentz commented on #21489
I have plans to make a pool of bt_att_req so we don't have to embedded them into the params, that would make them quite more slim, the other thing we have been planning is to support general discovery procedure, in that case you would just provide the service UUID you are interested in and it would do the discovery of all attributes within the service range when a general discovery is triggered.

[2019-12-19 01:19] mbolivar commented on #16545
Revisiting this, I think Zephyr requires pip quite directly, and understanding it is a reasonable expectation of our users, at least at this time.

Can we close this?

[2019-12-19 01:22] mbolivar commented on #21426
Users on the duplicate issue (#21321) reported the `git config --global core.protectNTFS` workaround did not work for them.

I would recommend:

1. apply the `git config work around`
2. backing up any local commits, then deleting the civetweb directory (modules/lib/civetweb) entirely
3. retrying `west update`

[2019-12-19 01:30] mbolivar commented on #21500
Seems reasonable. Just for completeness, can you document the semantics if called from outside thread context?

Are there any additional semantics that need documenting related to meta-irqs?

[2019-12-19 04:26] pabigot commented on #16545
I don't really agree that users should be expected how to use pip, but it looks like there's some stuff in beyond-GSG that adds some clues about `pip -U`.  I suppose that's good enough.

[2019-12-19 04:26] #16545 closed

[2019-12-19 04:43] wentongwu commented on #20792
deep sleep doesn't power-off whole system, at least some circuit(like PMU in our system) and some always on RAM(which is to save system state, like ARM's registers) is alive help to power on CPU, most of the devices, and power offed RAM again.

And I don't think removing deep sleep from residency policy is good, if your system doesn't support deep sleep, just configure CONFIG_SYS_POWER_DEEP_SLEEP_

[2019-12-19 07:02] andrewboie commented on #21500
Sure. Since this is a blocking call, we'd need an assertion to fail if someone calls this out of thread context.

meta-irq threads can sleep so I think it is OK to call this from there, although a use-case for this API from meta-irqs currently escapes me.

[2019-12-19 07:05] rakons commented on #21489
@Vudentz - Look how it is done in the discovery manager I have mentioned above. We cache only the parameters of one service detected. Then you are allowed to continue and process next service.

I am not sure now if should I continue with CEP implementation if there is going to be new API - did you already schedule some timing when you wish to implement it?

[2019-12-19 07:40] andrewboie opened #21510 "re-v"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2019-12-19 07:40] #21510 closed

[2019-12-19 07:42] andrewboie opened #21511 "re-visit k_thread_abort wrt SMP"
The default k_thread_abort implementation has this note:

[code]

Opening this ticket for further contemplation and resolution.

[2019-12-19 07:52] koffes opened #21512 "Add k_pipe_flush API"
It would be beneficial to be able to flush a k_pipe. Suggest adding a k_pipe_flush() API.

AFAIK k_pipe_cleanup() will free a dyn allocated buffer, but this will in many cases be too harsh. The k_pipe_flush() call will keep the buffer allocated, but clear the contents.

[2019-12-19 08:11] andrewboie commented on #21511
Have a couple questions about this:

- This spinlock on the stack effectively just locks interrupts on the current CPU. But there's no synchronization if some other CPU is trying to abort this thread, or indeed perform any operation on the thread object
- My initial guess was that this ought to acquire the spinlock in thread.c, I think functions like z_thread_single_abort() assume that lock is hel

[2019-12-19 08:14] andrewboie commented on #20217
What debugger is that?

[2019-12-19 08:18] stephanosio commented on #20217
@andrewboie It is gdb with the gdb-dashboard.

https://github.com/cyrus-and/gdb-dashboard

[2019-12-19 08:24] koffes opened #21513 "NULL parameter checks in Zephyr APIs"
Zephyr contains numerous APIs which require a pointer to be supplied as parameter which is not NULL.
Usually, the doc specifies this, but as we all know, developers make mistakes.
When a NULL pointer is supplied where it should not, may lead to an MPU_FAULT.  When an MPU_FAULT occurs, this often requires more comprehensive knowledge of embedded systems, such as *.elf files, the addr2line tool and

[2019-12-19 08:25] koffes commented on #19473
k_pipe flush: #21512
NULL checks issue  #21513
Closing this issue.

[2019-12-19 08:25] #19473 closed

[2019-12-19 08:47] aescolar commented on #21512
CC @andrewboie @andyross

[2019-12-19 08:52] aescolar commented on #21498
CC @cvinayak @joerchan @jhedberg

[2019-12-19 09:17] ulfalizer commented on #21466
Fix: https://github.com/zephyrproject-rtos/zephyr/pull/21509

[2019-12-19 09:43] koffes opened #21514 "Logging - strange behaviour with RTT on nRF53"
Currently using the logger with mostly default settings on the nRF53.
Whilst using LOG_WRN in a high frequency loop, I would expect to see something like:
`--- 71 messages dropped ---`
This usually happens. Though, sometimes the logger skips a series of prints without the "messages dropped" warning.

If I set CONFIG_LOG_BLOCK_IN_THREAD=y the same thing happens. I would expect this to block the thr

[2019-12-19 10:23] nordic-krch opened #21515 "Asynchronous sensor API"
**Is your feature request related to a problem? Please describe.**
Currently sensor API is synchronous and thus limited to be called only from thread context. Sensor API has many other limitations. It has been identified (#13718) but it seems that it slowed down and asynchronous API was not mentioned there as the limitation. My use case is more similar to one mentioned here: https://github.com/zep

[2019-12-19 10:24] nordic-krch commented on #13718
I see that sensor API discussions cooled down. I recently also encountered significant limitations there described in #21515

[2019-12-19 10:29] #16202 closed

[2019-12-19 10:45] rakons commented on #21484
For example mbed has per thread mutex that is used when thread is destroyed. Moreover - the join mechanism is implemented - so other task may wait for thread termination before releasing the memory.

[2019-12-19 10:51] carlescufi commented on #21484
@rakons and @andyross
Note that there is now an RFC for a new `k_thread_join()` API: $21500

[2019-12-19 11:02] nordic-krch commented on #21514
@koffes will take a look.

[2019-12-19 11:10] pabigot commented on #20792
Nordic does support deep sleep, but it can be woken only by external signal from certain triggers: logic level change, analog level change, NFC, USB voltage.  It does not support wakeup from a timeout.

Since deep sleep as currently defined for Zephyr does not require that it be possible to wake from a timeout it should be excluded from policies that select sleep state based solely on time until n

[2019-12-19 11:57] pabigot commented on #21515
Thanks.  That particular branch has an outdated version; the most recent work is on https://github.com/pabigot/zephyr/commits/next/sensple

If there's serious interest in this approach I can clean it up and submit a PR sometime in January.

[2019-12-19 12:02] joerchan commented on #21489
@Vudentz Are you saying then that we should have a way to read CEP using `bt_gatt_discovery_params` or not?

The size optimization of the params is not really a blocker for this feature request. Do you suggest to do it in that order anyway, and do you intend to both yourself?

Leaving caching of the discovered attributes and values up to the application is perfectly fine. Don't need to have that i

[2019-12-19 12:02] nordic-krch commented on #21515
will take a look. It makes sense to distinguish between simple and complex sensors as it seems that #13718 is targeting something that is more complex.

[2019-12-19 12:08] #21419 closed

[2019-12-19 12:13] kaidoho opened #21519 "RFC: libc: thread-safe newlib"
## Introduction

Extend Zephyr to be able to use the C standard library newlib in a multi-threaded environment.

### Problem description

The minimum requirement to use libstdc++ in an RTOS environment is to have a thread-safe C library at hand – which is, from my point of view, regarding Zephyr’s adoption of newlib not the case today.

### Proposed change

Implement the hooks provided by newlib t

[2019-12-19 12:14] wentongwu commented on #20792
does that mean timer will not work well in deep sleep of that platform?

[2019-12-19 12:16] raveslave commented on #10945
+1

[2019-12-19 12:18] emob-nordic commented on #13403
Closed by #20375

[2019-12-19 12:18] #13403 closed

[2019-12-19 12:40] Emil-Gydesen-Bose commented on #10945
@ochipara I see that the error is `clang: error: unknown argument: '-fno-freestanding'`

Have you tried compiling with GCC instead of clang? I don't own a mac myself, but I've heard that `gcc` symlinks to the clang (llvm) compiler by default on macs, so that you think you have GCC, but you don't.

There's a couple of guides on how to download, build and install GCC on macs on the web, if you haven

[2019-12-19 12:52] pabigot commented on #20792
The timer does not work at all in deep sleep on that platform.  Uptime restarts from zero when the system is woken.

[2019-12-19 13:10] wentongwu commented on #20792
I'm not familiar with your platform, but if end users need timer how you handle it?

[2019-12-19 13:11] stephanosio commented on #21519
For the build options used by the GNU ARM Embedded newlib, refer to the following comment:
https://github.com/zephyrproject-rtos/sdk-ng/issues/152#issuecomment-559506662

[2019-12-19 13:21] stephanosio commented on #21519
I see that crosstool-ng, which is used to build newlib for the Zephyr SDK, does not provide a Kconfig option to enable `--enable-newlib-retargetable-locking`. An upstream patch to crosstool-ng will be necessary for this.

https://github.com/crosstool-ng/crosstool-ng/blob/master/config/libc/newlib.in

It looks like the GNU ARM Embedded enables `--enable-newlib-reent-small` for the newlib nano varia

[2019-12-19 13:27] Oanerer commented on #17005
As an FYI: the latest version of the SDK (2.7.0) now shows the RAIL library having the same Zlib license as the HAL:

[code]

[2019-12-19 14:05] arnopo commented on #14927
Yes this is the point. The fact that this variable is set in  .checkpatch.conf  does not allow to check patch series directly in git tree.
To understand the delta you can test following command with and without ---mailback defined:
./scripts/checkpatch.pl --strict -g HEAD-4

One question is: Is there a rational to keep this option in  .checkpatch.conf file?

[2019-12-19 14:26] agansari commented on #21187
@pfalcon after some code (fsl_enet), documentation investigation (i.mx 1050 and k64f ENET chapter) and configuration testing i found the following:
 - the issue is observed on Tx frames
 - the software culprit is ENET_ENHANCEDBUFFERDESCRIPTOR_MODE
 - hardware wise, the definition above sets hardware in a new state as you _guesstimate_.

So, gPTP need an extended buffer descriptor to store 1588 tim

[2019-12-19 15:17] emob-nordic commented on #12775
#21526

[2019-12-19 15:47] nashif commented on #14927
dont remember the history, but AFAIK this was added to support execution from a hook.

[2019-12-19 16:04] #21514 closed

[2019-12-19 19:34] andyross commented on #21511
Yeah, I was looking at this yesterday.  In fact the call to ready a thread out of k_thread_create() and to abort a thread here are both basically under the wrong lock.  They really ought to move under the scheduler lock for their core work.  Though I couldn't see an obvious spot where there's a clear race, either.

[2019-12-19 19:42] andrewboie commented on #21511
Yeah, the only thing that looks clearly dangerous so far is two threads on different CPUs calling k_thread_abort() on the same object (or a thread naturally exiting while another CPU tries to call k_thread_abort() on it)

But nothing pops out to suggest it's the ghost we're chasing in #21317

[2019-12-19 20:37] andrewboie commented on #21519
@kaidoho

These bindings are *old*, I've touched this file a lot and the basic implementation pre-dates my involvement in the project, this is code from when the OS was closed source and known as Viper. So file under "nobody knew" probably.

People who are on really constrained systems will usually use minimal libc anyway.

We manage currently do errno in a thread-local storage area carved out of

[2019-12-19 20:39] marc-hb commented on #10945
I suspect this particular error is  gone with a more recent XCode. On Mojave now:

[code]

This is correct. Don't invoke `gcc` on a Mac, it's deceptive (unless you installed it yourself). Use `clang`.

The most likely easiest: https://formulae.brew.sh/formula/gcc

[2019-12-19 20:44] andrewboie commented on #21484
This is how Zephyr works, thread state is captured entirely within the struct k_thread object and its associated stack object. There's no mechanism to deallocate anything when a thread exits.

[2019-12-19 20:52] #16935 closed

[2019-12-20 01:53] lemin9538 opened #21532 "can not build the image ,No targets specified and no makefile found"
I follow the guide https://zephyr-doc.readthedocs.io/zh_CN/latest/getting_started/getting_started.html#id4 to start the compile, but I always get this error

" No targets specified and no makefile found "

for a new developer, I think the build system of zephyr is too complex, not very firendly for developers:
1 - need install many  tools, some of the tools are blocked in china or with slow downlo

[2019-12-20 02:23] lemin9538 commented on #21532
seems I am using the wrong docments, I follow below documents works ok

https://docs.zephyrproject.org/latest/getting_started/index.html

[2019-12-20 03:03] mbolivar commented on #21532
Thanks for following up. I'm closing this since you reported the correct documentation is working for you.

[2019-12-20 03:03] #21532 closed

[2019-12-20 03:04] mbolivar commented on #21515
Hi -- @bfrog has a proposal for "RTIO sensor" which we would like to include in Zephyr 2.2

[2019-12-20 03:08] mbolivar commented on #21500
Yep, seems reasonable, care to update the issue description to include that?

Sounds good. And what about calling it on a meta-irq? No unusual edge cases there either?

[2019-12-20 06:12] jrananth1032 commented on #20987
Facing same issue:
[00:00:38.034,088] <wrn> usb_device: Failed to write endpoint buffer 0x82
[00:00:38.034,118] <wrn> usb_device: Failed to write endpoint buffer 0x82
[00:00:38.034,118] <wrn> usb_device: Failed to write endpoint buffer 0x82
[00:00:38.034,149] <wrn> usb_device: Failed to write endpoint buffer 0x82
[00:00:38.034,179] <err> usb_device: Transfer error -11
[00:00:38.034,240] <wrn> usb_

[2019-12-20 07:08] aescolar opened #21536 "tests/subsys/fs/fat_fs_api fails on native_posix_64"
**Describe the bug**
The testcase tests/subsys/fs/fat_fs_api fails on native_posix_64

**To Reproduce**
1. mkdir build; cd build
2. cmake -DBOARD=native_posix_64 ../tests/subsys/fs/fat_fs_api/ -GNinja
3. ninja
4. zephyr/zephyr.exe
5. see assert in console

**Expected behavior**
No assert, test case passing

**Impact**
Broken master in CI, see for example https://app.shippable.com/github/zephyrproj

[2019-12-20 08:04] Mierunski commented on #21431
From #10820 by @pfalcon

So, even at the very start of your analysis you would have following conjecture:
This PR proposes API which is suitable only for kernel mode.

This was main argument for removing system calls from API (they were there at start of PR). There wasn't much interest in keeping system calls from other participants.
For me it wouldn't hurt to add system calls. If it makes sense t

[2019-12-20 10:21] andrewboie commented on #21431
OK I think you guys got some bad advice, we can add syscalls for this API set and just omit it for the callback registration function. Callbacks get set up by supervisor threads just like other driver APIs.

[2019-12-20 10:23] andrewboie commented on #21500
Good call, @andyross any idea?

[2019-12-20 10:29] raveslave commented on #10945
I'm on latest os + xcode `Apple clang version 11.0.0 (clang-1100.0.33.16`, not getting the fno- error, but instead a bunch of `../kernel/include/kernel_offsets.h:27:1: error: unknown directive`

[2019-12-20 10:29] nordic-krch opened #21538 "RFC: asynchronous i2c and spi API"
## Introduction

Currently, i2c/spi API is synchronous. As a consequence it can only be called from thread context. It also applies to sensors which are built on top of those APIs. In many scenarios that leads to increased RAM usage since additional thread is needed or can be even error prone. It is related to #21515.

### Problem description

Lets consider following cases:

- reacting to gpio int

[2019-12-20 10:31] nordic-krch commented on #21538
@pabigot @MaureenHelm @anangl can you take a look?

[2019-12-20 11:08] stephanosio commented on #19869
@wjliang According to the Zynq UltraScale+ TRM, the TTC implements 32-bit counters; while both the Cadence TTC IP datasheet (I-IPA01-0028-USR Rev 06) and the current `xlnx_psttc_timer.c` implementation suggest that the TTC counter is only 16-bit wide.

Could you advise on which is correct?

[2019-12-20 12:10] stephanosio commented on #19869
For future reference, found the answer on the Xilinx Wiki
https://xilinx-wiki.atlassian.net/wiki/spaces/A/pages/18841648/TTC+Standalone+Driver

[2019-12-20 13:02] rettichschnidi commented on #17005
To be able to build against RAIL, more than just the headers are needed (i.e. the binary blobs). It seems however, that the [Silicon Labs Master Software License Agreement](https://www.silabs.com/about-us/legal/master-software-license-agreement) is still in place, which specifically disallows redistribution.

Given this, would a Zephyr upstream port be feasible?

[2019-12-20 13:49] #21281 closed

[2019-12-20 15:27] aescolar commented on #21536
For whoever wants to look into this, it is a un-initialized memory fest. Here the first few errors of many more
[code]

[2019-12-20 16:05] dbkinder commented on #21532
Oh dear, I don’t know about the docs at https://zephyr-doc.readthedocs.io/zh_CN/latest/index.html but notice they’re for the v1.7 branch and quite old. I’ll try to find out who’s maintaining them and if they should be deleted.

[2019-12-20 18:02] #21466 closed

[2019-12-20 18:06] d3zd3z commented on #10041
Should we revisit the decision in Zephyr to define our own integer types? Most of the code I work on these days isn't exclusive to Zephyr, and therefore has to use `stdint.h` types, instead of Zephyr-specific types. There is quite of bit of this outside of the core code.

Fortunately, C is loose with types, and mixing between `u8_t` and `uint8_t` doesn't generally hurt anything (other than print f

[2019-12-20 18:07] tsvehagen commented on #20259
Please move the conversation to https://github.com/zephyrproject-rtos/zephyr/pull/21544

[2019-12-20 18:14] d3zd3z commented on #11594
`_caller_saved` has been removed in #15541

[2019-12-20 18:19] d3zd3z commented on #11594
Master (as of this comment) has the following `alloca` calls:
[code]

[2019-12-20 18:22] mped-oticon commented on #11594
And if I recall correctly, the red black trees can be avoided if using dumb scheduling.

[2019-12-20 18:26] d3zd3z commented on #1324
A GCC optimization of O0 is only going to be equivalent to a compiler barrier (implemented by any `asm volatile` with `"memory"` in the clobber argument). This only serves to prevent memory reordering by the compiler. We should figure out the necessary CPU barriers to make this correct at that level.

[2019-12-20 18:29] d3zd3z commented on #11594
The ones found in my above comment should be easily replaced with dynamic arrays. Whether that is the desired solution is another question, but the generated code should be equivalent.

[2019-12-20 18:40] motet opened #21545 "Add support for CBOR Object Signing and Encryption (COSE)"
## Introduction

There are a number of new standards for IoT security under development at IETF which depend on CBOR Object Signing and Encryption, or COSE (see [IETF RFC 8152](https://tools.ietf.org/html/rfc8152)). This is the CBOR equivalent of JSON Web Encryption (see [IETF RFC 7516](https://tools.ietf.org/html/rfc7516)). Adding a COSE library is a necessary prerequisite before the following ne

[2019-12-20 18:42] Mani-Sadhasivam opened #21546 "SPI broken for STM32L1"
**Describe the bug**
With the current Zephyr master, SPI is not working as expected on STM32L1 based 96boards Wistrio board. Some of the bytes of the received data seems to be dropping.

**To Reproduce**
Reproducible with the LoRa PR #18998 which uses SPI for communicating to the Radio.

The issue seems to be with this commit: https://github.com/zephyrproject-rtos/zephyr/commit/2ce8fa1e42d3d60e411

[2019-12-20 18:43] Mani-Sadhasivam commented on #21546
@psidhu Since you are the actual author of the commit, could you please look into this?

[2019-12-20 21:11] mped-oticon commented on #11594
@d3zd3z if by dynamic arrays you mean VLAs, then that used to be the case; rb changed away from VLA to alloca because of poor VLA support in compilers (alloca was at least an explicit implementable function with same behavior).

Finally, if rb's alloca remains an issue, it should be fairly easy to add a kconfig replacing alloca calls with statically dimensioned arrays, upper-bounded by rb's log-he

[2019-12-20 22:25] sslupsky commented on #21185
I'll jump in here and ask that this be given some attention soon.  I've been debugging some driver issues with the i2c_sam0 driver and I would like to understand this topic.

[2019-12-20 23:31] sslupsky opened #21549 "i2c_sam0 interrupt latency is excessive"
**Describe the bug**
I've been debugging some driver issues with the i2c_sam0 driver.  Along the way I have observed the interrupt latency for an i2c transaction is on the order of 360us.  That is, each byte of an i2c transfer takes 360us to complete which is 300% - 1000% longer than the actual duration of the i2c byte frame which is about 25us at 400 KHz or 95us at 100 KHz.  I have attached a scr

[2019-12-21 01:28] #16482 closed

[2019-12-21 02:13] albertofloyd opened #21551 "gpio: xec: GPIO Interrupt is not triggered for range GPIO240_276"
No interrupt is triggered when select GPIO in range  GPIO240_276, interrupt is not triggered

Modify gpio_api test and select  MCHP_GPIO_254

Callbacks should occurred whenever GPIO 254 changes level

[2019-12-21 03:03] mpdas108 opened #21552 "Constant disconnects while attempting BT LE multi-central application."
I am attempting a multi-central application, using zephyr-v2.1.0-335-gce753ea49113, and a Nordic nrf52840. I am able to connect to the centrals, and discover and subscribe to a characteristic, but they all disconnect after about 10 seconds with BT_HCI_ERR_CONN_TIMEOUT.  They then proceeded to reconnect without a problem, but then disconnect again, and repeat like that.

Any suggestions? I can prov

[2019-12-21 04:38] LuoZhongYao opened #21554 "ldscript:datas section is not properly aligned in ROM"
If the noinit section is not exactly aligned, the datas section will not be aligned in ROM.

**Describe the bug**
[code]

Program Headers  third LOAD line is the datas section, PhysAddr is 0x08002b4f and is not aligned,

[2019-12-21 09:07] stephanosio commented on #21025
Closing this issue as #21142 made `WDT_DISABLE_AT_BOOT` `default y`.

[2019-12-21 09:07] #21025 closed

[2019-12-21 11:44] alexanderwachter commented on #5436
LoRa support is added by #18998

[2019-12-21 11:44] #5436 closed

[2019-12-21 16:23] pabigot commented on #21536
The underlying cause is probably described in #19231.

[2019-12-21 19:19] d3zd3z commented on #11594
@mped-oticon I'm kind of surprised that VLA would have less support than alloca. VLA is part of C99, alloca never has been. I'm curious how alloca would be implemented in a portable way, without compiler support for it.

General consensus (stack overflow search for example) seems to suggest moving away from alloca to VLAs, since that is defined by the language. But, we may have to do something els

[2019-12-22 09:13] erwango commented on #21546
@Mani-Sadhasivam, thanks for reporting. This is partly my bad, not enough tests have been made for this behavior to be made used by default.
@psidhu, can you push a change to set this behavior available only under specific Kconfig flag (default n)?

[2019-12-22 12:37] pabigot commented on #17102
I was just scanning this to understand exactly why we're deprecating the pin enable/disable callback operations in the new GPIO API.

Removing the calls and replacing them with enable/disable interrupt is part of what happens in #20017.  However, this is not a functional replacement for the existing infrastructure, which technically allows multiple callbacks to be associated with a single interrup

[2019-12-22 21:56] phonkane commented on #16330
@agansari I am investigating running an app on LPCXpresso55S69/Zephyr/NS. I tried your approach (copied the board and devicetree sources under new names, then modified the new dtsi file addresses to nonsecure ones) and it looks promising. I wonder if you are making progress on this one - did not find anything in https://github.com/agansari/zephyr at least.

[2019-12-23 00:18] andrewboie commented on #21554
we really need you to state what platform you are building for.
have you tried adding an alignment directive in the relevant linker script?

[2019-12-23 00:18] andrewboie commented on #11594
this is trivial, just remove the zero in favor of empty brackets, it's just a linker symbol anyway

[2019-12-23 00:29] LuoZhongYao commented on #21554
OS: Windows 10.0.18363.535,  WSL1 + Fedora-Remix-for-WSL,
SDK: 0.10.3
Except for adding test code in samples/basic/blinky/src/main.c, no files have been modified.

[2019-12-23 01:52] wentongwu opened #21568 "mps2_an385:tests/kernel/tickless/tickless_concept/kernel.tickless.concept fail"
[code]

[2019-12-23 05:30] stephanosio commented on #19869
The timing of the Xilinx QEMU PS TTC emulation was found to be simply too unstable to support tickless mode operation.

Since the primary motive of this issue was to support CI validation of the tests that require tickless mode and this is not possible due to the inherent limitations in the Xilinx QEMU, this issue is going to be indefinitely postponed.

[2019-12-23 06:58] lemin9538 commented on #21532
Yes, I see this doc marked as latested version, so I think this is the right steps to build zephyr.

Thanks for your support.

[2019-12-23 08:20] wentongwu opened #21570 "how to select usb mps for SAME70 board"
I use PyUSB on linux host to communicate with SAME70 board, which always send data to host, when my app packet is small(less than 32), selecting mps 32 bytes, it works well; when my application packet is big(hundreds bytes), 32 bytes as mps there is max packet drop(usb spec packet) in my app big packet, but 64 bytes as mps it works well, so mps for bulk IN endpoint on SAME70 impact usb transfer a

[2019-12-23 08:44] jfischer-phytec-iot commented on #19545
resolved by #21461

[2019-12-23 08:44] #19545 closed

[2019-12-23 09:01] stephenmasih opened #21571 "CONFIG_BT_CENTRAL doesnot work fine with nrf51_pca10028"
bt_le_scan_start() works fine with nrf52_pca10040 but the UART console does not print anything in nrf51_pca10028. The code is all OK. When I comment CONFIG_BT_CENTRAL=y it prints in the UART console, but for that purpose, I had to also comment out in bt_le_scan_start().

![Screenshot from 2019-12-23 16-56-28](https://user-images.githubusercontent.com/35296724/71347644-ab2e6f00-25a5-11ea-9a2e-ac39f

[2019-12-23 10:43] aescolar commented on #21571
CC @cvinayak @carlescufi

[2019-12-23 11:53] aescolar commented on #21552
CC @cvinayak @carlescufi

[2019-12-23 12:11] finikorg commented on #21121
Closing per comments

[2019-12-23 12:11] #21121 closed

[2019-12-23 13:13] danieleggert opened #21581 "GNU ARM Embedded link broken in Getting Started"
The link to GNU ARM Embedded on https://docs.zephyrproject.org/latest/getting_started/toolchain_3rd_party_x_compilers.html#gnu-arm-embedded should probably be updated to https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads

[2019-12-23 13:18] nordic-krch commented on #21538
I started to experiment and added following drafts:
- `i2c_mngr` api and implementation
- `i2c_ll` api and implementation for nordic platform.
- extended `i2c` api to be able to use `i2c_mngr` if present and provide sync api on top of that
- extended `sensor` API with async call
- modified `hts221` sensor to support reading temperature and humidity asynchronously
- modified `samples/sensor/hts221`

[2019-12-23 15:09] ulfalizer commented on #21581
Thanks for the report.

Fix: https://github.com/zephyrproject-rtos/zephyr/pull/21583

[2019-12-23 18:56] carlescufi commented on #21571
@stephenmasih for the time being, and while @cvinayak has some time to look at it, can you try enabling `CONFIG_BT_LL_SW_LEGACY=y` in your `prj.conf` and see if that changes something.

[2019-12-23 23:29] mnkp commented on #20792
@wentongwu it would be good to keep working on your #18007 to clarify and fix all those issues.

[2019-12-24 03:53] cvinayak commented on #21571
@stephenmasih Tested 4e135d76a3 samples/bluetooth/central_hr on nrf51_pca10028 board, found no issues with console messages on UART. Attached console log:

[minicom1.txt](https://github.com/zephyrproject-rtos/zephyr/files/3997138/minicom1.txt)

Please share commit hash details, minimal application that reproduces the issue and steps to build and reproduce.

[2019-12-24 04:53] cvinayak commented on #21552
Some observations in your application:
1. Explicitly selected, CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y, but using default 20ppm accuracy, would you want to set the value for the XTAL used in your board? Incorrrect accuracy can lead to connection failures.
2. Support for 32 simultaneous connections, under worst case BLE connection events would temporally overlap, effectively each connection skipping

[2019-12-24 06:16] cvinayak commented on #21498
Please share the commit hash, samples used and your modified controller implementation that is forcing a second feature exchange (or something that is causing the controller to send feature request when it has already done it once in the current connection).

[2019-12-24 06:46] mpdas108 commented on #21552
Hello cvinayak,

Thank you for your feedback. This application is far from complete, I have a lot more work to do. I am just trying to get things going, and I am running into these issues. I have a complete working firmware for our previous version of this board using the Nordic SDK 14.2.0 and the Fanstel BT832XE. We successfully connect up to 20 devices with no issues. We wanted to add some featu

[2019-12-24 08:06] #21570 closed

[2019-12-24 08:26] stephenmasih commented on #21571
@carlescufi @cvinayak I figured out the problem! I created a thread to start the scanning. It doesn't work in this case. But when I defined the same scanning code inside the main() it works fine, and it starts printing in the UART console.

[2019-12-24 08:29] stephenmasih commented on #21571
NRF51_PCA10028 only has one UART. In my application can I use the same uart for the console as well as for checking the AT command outputs (That's only for debugging the AT commands I am getting out from the MCU)?

[2019-12-24 16:36] aurel32 opened #21586 "Bluetooth Mesh fail to transmit messages after some time on nRF52840"
**Describe the bug**
I am running a small Bluetooth Mesh network, with some Zephyr nodes. After some time (usually days, but see below) some of the nodes fail to transmit data with the following error:
`<err> bt_mesh_adv: Advertising failed: err -69`

This happens even if the node doesn't transmit data besides working as a relay and transmitting secure beacons. I have tried to diagnose the issue u

[2019-12-25 16:23] jhedberg commented on #21586
Was it so that the initial analysis was pointing at something on the controller side, or did I misread the Slack backlog?

[2019-12-26 06:08] cvinayak commented on #21571
The issues does not appear to be Bluetooth related. Until steps to reproduce Bluetooth issue is detailed here, no further action.

[2019-12-26 06:14] cvinayak commented on #21552
I suggest you give a try with CONFIG_BT_LL_SW_LEGACY=y too and let me know the results.

[2019-12-26 09:16] maksimmasalski opened #21591 "Timeout error for the Microchip board during Sanitycheck"
**Describe the bug**
Discovered problem that Sanitycheck stopped work on the Microchip board. Now for every test after it was build and uploaded to the board, no output during Sanitycheck run, as a result Sanitycheck shows Timeout error. Tested on 2 independent computers with Microchip board.

The latest working commit was 23bdddea0. Below is shown output which was during that commit.  If to use s

[2019-12-26 10:08] happymili commented on #21372
@vanti I can use TI UniFlash to download hex file, and I can also use IAR & CCS to debug the development board. So, I think the hardware connection is OK.
Thanks for your reply.

[2019-12-26 12:27] pabigot commented on #12968
Is this still relevant?  The upstream issue has been closed.

[2019-12-26 20:48] mpdas108 commented on #21552
Thanks, I will let you know how it goes. As far as accuracy of an XTAL, the lower ppm number means higher/better accuracy, 20ppm is higher accuracy than 500ppm. That would mean a value 10ppm is higher accuracy than 20ppm.

[2019-12-27 00:58] boonpin1975 opened #21597 "sht3xd build error on olimexino_stm32"
host : Ubuntu 18.04 LTS
board olimexino_stm32
sensor : sht3xd

west build  -p auto -b olimexino_stm32 samples/sensor/sht3xd

error messages :

/zephyrproject/zephyr/drivers/sensor/sht3xd/sht3xd.c:228:14: error: 'DT_INST_0_SENSIRION_SHT3XD_BUS_NAME' undeclared here (not in a function); did you mean 'DT_INST_0_ZEPHYR_MMC_SPI_SLOT_BUS_NAME'?
  .bus_name = DT_INST_0_SENSIRION_SHT3XD_BUS_NAME,

[2019-12-27 04:31] sslupsky commented on #21538
I have encountered significant issues with the i2c implementation for sam0 (Cortex M0).  Interrupt latency, issues with the rtc and how/when zephyr sets a timeout compound so that the time taken to read an SHT31 temp/humidity sensor can be on the order of milliseconds.  IMO, this is an extraordinarily long period of time.

One thing for sure, i suggest the new API should treat an i2c message atomi

[2019-12-27 06:31] stephenmasih commented on #21571
Yes it is not a Bluetooth related issue. I will post a new issue. Thank you for your support.

[2019-12-27 06:31] #21571 closed

[2019-12-27 07:30] stephenmasih opened #21599 "CONFIG_HEAP_MEM_POOL_SIZE and k_malloc, k_free not working in nrf51_pca10028"
**Describe the bug**
I my application i am using the board nrf51_pca10028. I the prj.conf file I am defining a CONFIG_HEAP_MEM_POOL_SIZE=1024 for involving a k_malloc() and k_free(). Even when I define a thread in the kernel it doesn't seem to show any output. When I replace the entire thread code in the main thread it works fine in nrf52, not in nrf51. The code works fine with board nrf52_pca1004

[2019-12-27 08:09] ydamigos commented on #21597
Hi @boonpin1975,
Did you use a [DT overlay](https://docs.zephyrproject.org/latest/application/index.html#application-dt)? If not, you should use one. There are some overlay examples for other boards in `samples/sensor/sht3xd`.

[2019-12-27 11:39] ayworld opened #21601 "'!radio_is_ready()' failed"
assert: '!radio_is_ready()' failed
E: ***** HARD FAULT *****
E: ARCH_EXCEPT with reason 3

**test board:**

 .\nrf\samples\bluetooth\peripheral_hids_mouse\ on nrf51_pca10028 board.

**error info:**

assert: '!radio_is_ready()' failed
E: ***** HARD FAULT *****
E: ARCH_EXCEPT with reason 3

E: r0/a1: 0x00000003 r1/a2: 0x00000023 r2/a3: 0x40001000
E: r3/a4: 0x0001316f r12/ip: 0x0000000a r14/lr: 0x000

[2019-12-27 14:46] md-jamal opened #21607 "BME680 Sensor is not building"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
$ west build -b sam_e70_xplained samples/sensor/bme680

**Expected behavior**
Build failed. From one of the issues, it says to update device tree . Can you please provide an sample device tree for bme680

Adding this,

[2019-12-27 16:17] ulfalizer commented on #21607
CC @BoschSensortec

Not familiar with this device, but try making it

[code]

Doing a `git grep` for some of the other compatible strings you'll find in the bindings in `dts/bindings/sensor/` might be helpful too, e.g. `bosch,bmg160`.

[2019-12-27 17:42] md-jamal commented on #21607
Added the following to sam_e70_xplained.overlay
[code]
I get the following error:

[code]

[2019-12-27 17:50] pabigot commented on #21607
The node has to be a child of an I2C controller.  E.g.:
[code]

[2019-12-27 17:58] md-jamal commented on #21607
[code]

[2019-12-28 04:40] md-jamal commented on #21607
It worked...

[2019-12-28 05:13] md-jamal opened #21611 "IS25LP032D-JNLE Flash support"
Hi All,

I have a board on which I have http://www.issi.com/WW/pdf/25LP-WP032D.pdf the following SPI Flash connected.

What all changes are required for supporting this device on Zephyr.

I see there is already an sample application present in samples/drivers/spi_flash/. I want to make it compatible for all the application.

One more question, is there any sample application which just tests SPI C

[2019-12-28 16:11] b0661 opened #21614 "host toolchain for x86 fails on empty CMAKE_C_FLAGS"
**Describe the bug**

Selecting ZEPHYR_TOOLCHAIN_VARIANT=host on Ubuntu x86_64 causes CMake to bail out with:

[code]

**To Reproduce**

Bug showed up in internal test environment. Don't know whether this hits Zephyr's "normal" usage of the host toolchain.

The problem seems to be that all compiler flags are already compiled in the host compiler and there is no need for CMAKE_C_FLAGS. The code at

[2019-12-28 18:53] retfie opened #21616 "LWM2M: unable to get plain text from incoming message"
Sending text message to update RW resource, lwm2m_write_handler fails to get plain text payload and copy to resource. The problem comes from incorrect calculation of available characters into message. Function get_length_left() always return zero, regardless that there are data available into incoming message.

https://github.com/zephyrproject-rtos/zephyr/blob/4e135d76a3c222f208a8e0a3dce93dde55671

[2019-12-28 21:00] carlescufi commented on #21607
I believe the issue is that you need to add a bme680 instance in your device tree file.

[2019-12-28 21:02] carlescufi commented on #21599
@joerchan could you try to reproduce this?

[2019-12-28 21:03] carlescufi commented on #21597
Closing as the [answer provided](https://github.com/zephyrproject-rtos/zephyr/issues/21597#issuecomment-569216992) is accurate.

[2019-12-28 21:03] #21597 closed

[2019-12-28 21:06] carlescufi commented on #21607
Try something like this:

[code]

[2019-12-28 21:07] aurel32 commented on #21586
@jhedberg Yes I confirm that the discussions on Slack are pointing to a controller issue. The latest test I have done show that when the issue happens, the semaphore in `ull_disable` is never taken.

[2019-12-28 21:08] carlescufi commented on #21581
@danieleggert as I commented in the PR, the existing link seems to work fine? https://developer.arm.com/open-source/gnu-toolchain/gnu-rm

[2019-12-28 21:20] hadrienk opened #21617 "Allow per module prj.conf"
**Is your enhancement proposal related to a problem? Please describe.**

I am using mcuboot. I need to manually update the .config under `build/mcuboot/zephyr/.config` when the build directory is cleaned.

**Describe the solution you'd like**

Use a special configuration file name convention: `prj_mcuboot.conf`

This should be compatible with the board configuration `prj_mcuboot_YOURBOARD.conf`

[2019-12-29 13:09] pabigot commented on #21611
Several Zephyr in-tree boards have a related device.  It should be supported with the spi-nor flash driver by adding something like this under the corresponding flash device in devicetree:
[code]
You should be able to test this with `samples/drivers/spi_flash` by adding a board config for your target in the `boards` subdirectory that sets `CONFIG_SPI_NOR=y`.

I'm unaware of any tests for spi commu

[2019-12-29 14:29] pabigot opened #21618 "CI failing to complete tests"
As reported on Slack 2019-12-23T15:55Z the documentation, gitlint, identity/emails, and Kconfig tests are failing to complete on multiple PRs.  Resubmitting does not seem to have any effect.  See https://github.com/zephyrproject-rtos/zephyr/pulls and note all the orange dots where there should be a :heavy_multiplication_x: or a :heavy_check_mark:.

[2019-12-29 15:41] carlescufi commented on #21617
@hadrienk  thanks for the feedback. spm is not part of Zephyr, but rather only present in Nordic's Zephyr-based SDK. Could you edit your proposal so that it doesn't mention spm and instead focuses on mcuboot?

[2019-12-30 06:14] md-jamal commented on #21611
I performed the following steps.

Step1 : Created sam_e70_xplained.conf file in zephyrproject/zephyr/samples/drivers/spi_flash/boards with the following content.

#
# Copyright (c) 2019 Peter Bigot Consulting, LLC
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_SPI_NOR=y

Step2 : Created overlay file sam_e70_xplained.overlay in zephyrproject/zephyr/samples/drivers/spi_flash with the following co

[2019-12-30 06:38] andrewboie commented on #21554
That doesn't answer my question.
what platform you are building **for**
ARM? what board?

[2019-12-30 11:03] LuoZhongYao commented on #21554
stm32_min_dev_blue

[2019-12-30 12:56] jukkar commented on #21187
Re-opening as there are issues still with frdm-k64f

[2019-12-30 13:34] rajdomma commented on #8262
Hi All,

As suggested above I have increased the system work queue stack size to  "8192"
as per https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE.html

But still no luck, I am able to see

"**<wrn> bt_driver: discarding event 0x3e**"

[2019-12-30 14:44] pabigot commented on #21611
Presumably the flash is on a shield or some other board, since the SAM E70 doesn't have this device.

Try adding the following to `prj.conf` to see if there's a clue why it doesn't work.  If the answer isn't obvious, you may need to modify `drivers/flash/spi-nor.c` to add diagnostic output.

[code]

[2019-12-30 15:23] md-jamal commented on #21611
I did the above steps and here is the log

[code]

[2019-12-30 15:41] md-jamal commented on #21611
I have added log in spi_nor_read_id,,

[code]
buf[0] = 0, buf[1] = 0, buf[2] = 0 .
What does this mean

[2019-12-30 16:11] pabigot commented on #21611
Somebody who knows Atmel parts would have to answer this, but it looks like a hardware configuration problem

It also looks like there's no chip-select for the SPI bus you've selected.

If the device isn't being accessed, the ID printed as 0, 0, 0 is not relevant.

[2019-12-30 16:22] md-jamal commented on #21611
What do you mean by no chip select for SPI bus?

[2019-12-30 16:26] pabigot commented on #21611
SPI devices require a chip select signal to indicate which device the controller wants to address.  The diagnostic indicates the devicetree or pinmux configuration for this bus does not identify a chip select.  This is not something I can help with as I'm not very familiar with the Atmel hardware.

[2019-12-30 16:29] md-jamal commented on #21611
![image](https://user-images.githubusercontent.com/5285421/71590715-988cda80-2b4f-11ea-8350-77fcfe9d954e.png)

Chip select line is PD26

[2019-12-30 16:33] finikorg commented on #13894
Closing

[2019-12-30 16:33] #13894 closed

[2019-12-30 16:37] finikorg commented on #14287
Already implemented.

[2019-12-30 16:37] #14287 closed

[2019-12-30 16:38] md-jamal commented on #21611
Do we need to provide cs-gpios in device tree?

[2019-12-30 16:39] lanvis commented on #21390
Custom app.
To secure link, I use the conn from the successful connect.

[2019-12-30 17:56] Vudentz commented on #21489
That would be a different discovery type that would incorporate reading CEP.

I guess it makes sense to do in that order so we don't end up having to reworking the discovery once we introduce a general discovery type.

It would be perfectly fine if only the application would use the cache but the stack might actually be interested in services as well, for instaces things like GATT, GAP, and other

[2019-12-30 20:24] b0661 opened #21623 "DT: accept standard syntax for phandle in chosen node"
**Is your enhancement proposal related to a problem? Please describe.**

I am using a modified edtlib to preprocess the DT for code generation. The modified variant can attach a binding to the chosen node. This is mostly for error detection but also to create some chosen properties for OOT usage.

The edtlib normal node handling, which is enforced by using the binding for chosen,  expects standard

[2019-12-30 20:49] mpdas108 commented on #21552
So yeah I have tried all of your suggestions, and fixed a couple of other issues I had. But they still disconnect.

[2019-12-30 21:00] ulfalizer commented on #21623
`x = &foo` is a path reference, and expands to `x = "/path/to/node/with/label/foo"`, while `x = <&foo>` is a phandle reference, and expands to e.g. `x = <5>`.

There's no special handling for `chosen`. It's just that `chosen` normally contains path references instead of phandle references.

Seems to be used with path references in Linux too. See e.g. `arch/arm/boot/dts/am335x-guardian.dts`:

[code

[2019-12-30 21:14] ulfalizer commented on #21623
There's no `type:` for path references at the moment though, like `type: path`. Maybe that could be added.

On the `dtlib` end, there's `Property.to_path()`, but the only thing that uses it at the moment is the `EDT.chosen_node()` helper.

[2019-12-30 22:47] ulfalizer commented on #21623
Added support for a `path` type that might be useful: https://github.com/zephyrproject-rtos/zephyr/pull/21625

[2019-12-31 00:04] mpdas108 commented on #21552
I also reduced the devices I try to connect to down to 3, and they still disconnect

[2019-12-31 08:49] andrewboie opened #21629 "error with 'west update' on Windows 10"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

Set up windows 10 zephyr environment with chocolatey, and try to west init.

**Expected behavior**
No errors.

**Impact**
Unsure what depends on this.

[2019-12-31 08:49] b0661 commented on #21623
@ulfalizer, thank you for the fast response.

I applied #21625 to Zephyr and also use the changed edtlib.py for code generation. It works, thanks!

I now use the path type in the 'chosen' binding:

[code]

Out of curiosity I tested the following chosen node:
[code]

I works too. I assume it only works because the EDT.chosen_node() helper is never called for "stdout-path", which is okay for me beca

[2019-12-31 10:53] SebastianBoe commented on #21614
Hi, I would prefer this patch:

[code]

But I get another, presumably unrelated, error later in the build:

[code]

so before applying it I would appreciate it if you could confirm this patch works on your system.

[2019-12-31 12:05] finikorg commented on #10996
Not applicable anymore

[2019-12-31 12:05] #10996 closed

[2019-12-31 12:23] ulfalizer commented on #21623
Yup, the type is only checked if `Property.to_path()` in dtlib gets called (e.g. by `EDT.chosen_node()`).

[2019-12-31 12:36] stephenmasih commented on #21599
I tried debugging, any code defined inside a thread. The code gets compiled i am able to get the zephy.hex file. But the code does not work at all. The same code I tried with nrf52, everything seems to be okay.

[2019-12-31 13:16] b0661 commented on #21614
@SebastianBoe, the patch works for me. Thanks.

[2020-01-01 11:40] nullr0ute opened #21633 "Support for MQTT 5"
**Is your feature request related to a problem? Please describe.**
MQTT v5 is the latest version of the MQTT protocol.

**Describe the solution you'd like**
Adding v5 support to the existing MQTT protocol support so that there is one pub/sub client to support all version of the protocol.

**Additional context**
Version 5 of the MQTT protocol is published by OASIS at the following link:
https://doc

[2020-01-02 00:06] boonpin1975 opened #21635 "sht3xd error -5 on olimexino_stm32"
hi ,

 I could build the sht3xd on olimexino_stm32 after adding the overlay file , thanks to @ydamigos ,
I am connected to PB6 and PB7 on the olimexino_stm32 to sht3xd . the reading for console after flashing the binary :
�*** Booting Zephyr OS build zephyr-v2.1.0-581-g4e135d76a3c2  ***
SHT3XD: 24.32 Cel ; 54.02 %RH
SHT3XD: failed: -5
it did not run the loop , as mention in the https://docs.zephyr

[2020-01-02 03:23] chen-png opened #21637 "sanitycheck failed issue in parallel running."
**Describe the bug**
use the sanitycheck to run all tests with four boards, it failed with error **"generated an exception: [Errno 24] Too many open files**", i found this error is caused by the code "log_out_fp = open(self.log, "wt")" in DeviceHandler, the system limits the max open files to 1024.
then I modified the /etc/secruity/limits.conf to set the limited open files to 2048, and run sanityc

[2020-01-02 08:32] nordic-krch commented on #21538
@sslupsky with this approach things would happen atomically since next i2c transfer would be issued from the completion interrupt of the previous one so transaction (chain of transfers) would happen without kernel control.

[2020-01-02 09:55] jhedberg commented on #21618
This still doesn't seem to be resolved and in practice means that nothing can be merged at the moment.

[2020-01-02 10:50] nordic-krch commented on #21514
I've been looking into that a bit and i think that it is host related. When there is a debugging session opened (e.g. Ozone) and RTT viewer then actually both are trying to read RTT data. Most is read by RTT viewer but some is read by debug session.

I've been successfully reading all logs (on nrf52 and nrf53) when i was running Ozone debug session and use PuTTY to connect to telnet 127.0.0.1:1902

[2020-01-02 10:57] koffes commented on #21514
Interesting. AFAIK, the debug session should read from a different channel than RTT. I am quite certain that I did not have a debug session running whilst reading RTT.  Is this something that can be described and sent to Segger?

[2020-01-02 11:03] nordic-krch commented on #21514
Without debug session, RTT viewer only i see some occasional bytes loss (1 per 1000 entries). I don't see them when using Ozone+PuTTY. When I use Ozone+RTT viewer i see multiple losses on RTT viewer (that's competing for RTT data that i've described above).

So it seems that there are 2 issues that could be reported to segger:
- debug session + rtt viewer
- occasional losses on rtt viewer

[2020-01-02 11:27] pabigot commented on #21538
I'm not sure exactly what @sslupsky was proposing, but a problem with the existing API is that it uses a scatter/gather protocol where the message can be fragmented.  This is not supported on all hardware (Nordic TWIM specifically); where it has been supported the effect of specific flags is [not consistent between implementations](https://github.com/zephyrproject-rtos/zephyr/issues/11612#issuecom

[2020-01-02 11:53] aescolar commented on #21637
CC @nashif

[2020-01-02 12:59] mrquincle commented on #17543
@mas-co Deleting the build folder is a drastic measure. Probably you did run `west build` before you had installed `zephyr`:

[code]

Then if you install `zephyr` after all, the `cmake` build system doesn't pick it up. It uses the now stale `ZEPHYR_SDK_INSTALL_DIR` instead of picking it up from an environmental variable.

If I look into the source code I see namely

[code]

If the environmental va

[2020-01-02 13:31] stephanosio commented on #21618
Need to revert the following commit and keep using the docker image v0.9.1 until we figure out why the CI is not happy with the new CI image (probably Python 3.6-related issue ...):

https://github.com/zephyrproject-rtos/ci-pipelines/commit/6bf203c057475d5993b12f523e6b10b41bce0231

[2020-01-02 13:44] conq commented on #17005
I'm a Silicon Labs employee, and I initiated the license change in the past release.

Our intention for the license change is specifically to enable open source projects, such as Zephyr, to use RAIL and be able to redistribute it.

However, I'm only a well-intentioned engineer, and not a lawyer - so I'm poking our lawyers to see what we can do with the MLSA.

[2020-01-02 14:08] pabigot commented on #21635
Try adding this to `prj.conf` and rebuilding, to see if there's any explanation why the read fails:
[code]

[2020-01-02 14:45] SebastianBoe opened #21647 "Support using the shell to mount littlefs filesystems in partitions other than 'storage'"
The shell can be used to mount filesystems and read their contents.

But even though littlefs could at runtime be initialized at any partition, the shell-integration in subsys/fs/shell.c is assuming that the littlefs is always mounted in the 'storage' partition.

littlefs is not always mounted at the storage partition, for instance when the settings subsystem is using the storage partition, the li

[2020-01-02 14:46] SebastianBoe commented on #21647
The code that is hardcoding the assumption that littlefs is in the storage partition is located in subsys/fs/shell.c and looks like this:

[code]

[2020-01-02 15:14] pabigot opened #21648 "improve documentation on meta-IRQ threads"
Related to #21185 there is a distinct lack of documentation on meta-IRQ threads and how they can be used safely.  They are not mentioned at all in the discusson of [thread priorities](https://docs.zephyrproject.org/latest/reference/kernel/threads/index.html#thread-priorities).

For example, it appears that somebody who's using `K_PRIO_COOP(0)` to create a cooperative thread might be surprised to l

[2020-01-02 15:53] #19922 closed

[2020-01-02 16:52] psidhu commented on #21546
@erwango Sure, though it may take me a small bit of time to get to.

[2020-01-02 17:16] nashif commented on #21648
You mean in addition to this https://docs.zephyrproject.org/latest/reference/kernel/scheduling/index.html?highlight=meta#meta-irq-prioritie and this https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_NUM_METAIRQ_PRIORITIES.html#cmdoption-arg-config-num-metairq-priorities?

[2020-01-02 17:17] nashif commented on #21618
should be resolved now.

[2020-01-02 17:17] #21618 closed

[2020-01-02 17:47] pabigot commented on #21648
Yes.

[2020-01-02 18:09] nashif commented on #21591
The commit 23bddde being the last commit that works is curious. This was in the release phase of 2.1 and is one commit before rc3, nothing in that area changed, so I am not sure how you got to this commit. Are you saying that 2.1 (commit b413223a66ed9e857c67ee21d1e8be4768804dd1) does not work also?

Please try manually and verify that you can build, flash and run those tests without sanitycheck on

[2020-01-02 18:12] nashif commented on #21637
duplicate of #20974

[2020-01-02 18:55] carlescufi commented on #21629
This seems to be a duplicate of #21426. See there for a workaround.

[2020-01-02 18:55] #21629 closed

[2020-01-02 19:37] nashif commented on #20974
I am testing with different numbers of devices ranging from 1 to 12. I think to hit this there need to be some failures and timeouts, not just passing tests. Looking into it now.

[2020-01-02 19:47] dleach02 commented on #21385
@happymili, can you provide feedback on @MaureenHelm suggested actions?

[2020-01-02 20:14] andrewboie commented on #21426
A note about this in our documentation would be nice, I tripped over this the other day.

[2020-01-02 20:23] andrewboie opened #21650 "_TEXT_SECTION_NAME_2 on ARM Cortex-R"
**Describe the bug**
ARM platforms define a _TEXT_SECTION_NAME_2 which ends up in the final binary.
This isn't right. We just want one text section, if stuff needs to be aligned internally we can do that within the text section itself.

Delete the exception for _TEXT_SECTION_NAME_2 in scripts/sanitycheck (=> #22675).

[2020-01-02 20:29] nashif commented on #21591
Also, please attach the contents of device.log, handler.log and build.log from  sanity-out/mec15xxevb_assy6853/tests/kernel/fifo/fifo_api/kernel.fifo/

[2020-01-02 21:48] nashif commented on #12860
closing this, the issue itself is not an enhancement, if we are to make an enhancement out of this, a new issue needs to be created, however I do not see what the enhancement is in this case.

[2020-01-02 21:48] #12860 closed

[2020-01-02 21:54] andrewboie commented on #21648
@pabigot this being an open source project the fastest path to success is if you would send a PR with the changes you want.

[2020-01-02 22:00] #20278 closed

[2020-01-02 22:02] #17310 closed

[2020-01-02 23:23] mbolivar commented on #21426
The patch fixing it appears to be making its way through review on mainline git and git-for-windows, so hopefully a new version with the fix will be out soon and we can just close this.

[2020-01-03 01:04] maksimmasalski commented on #21591
@nashif Wrong wiring of the board caused that problem. Before wiring was correct, and then changed, so I missed that wiring can be a root cause too. In sanitycheck PR #21528 I found a bug, so I submitted a PR #21652 to fix it. That bug also caused a Timeout error, but the root cause was another. Please check it.

[2020-01-03 01:38] #21591 closed

[2020-01-03 01:47] andrewboie commented on #21462
Another problem: since all exceptions are handled on the per-CPU exception stack, context switching out will result in a crash if the thread is switched in again. I am seeing this on some tests which call kernel APIs that are reschedule points in their k_sys_fatal_error_handler() implementations.

Need to have arch_is_in_isr() return true (or something like this) if we are in exception handling co

[2020-01-03 09:06] markus-becker-tridonic-com opened #21659 "at86rf2xx radio driver not (reliably) sending ACKs"
**Describe the bug**
The newly introduced at86rf2xx driver is not sending ACKs.

@nandojve, many thanks for developing and upstreaming the at86rf2xx radio driver! I have been trying to use the driver on a custom hardware with an STM32 uC and the RF233 using OpenThread.

However, I am not (reliably) getting ACKs, as can be seen in the following capture:
![image](https://user-images.githubuserconten

[2020-01-03 09:39] r2r0 opened #21660 "Sample projects do not build for Nucleo WB55RG"
Samples i.e. hello_world, basic/blinky, basic/threads cannot be build for Nucleo WB55RG board.
It looks that stm32wbxx.h file is missing.
The same problem when using west build or "manual" cmake.

**Steps to reproduce the behavior**
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=nucleo_wb55rg ../zephyr/samples/basic/threads
3. ninja
4. See error

**Expected behavior**
Clean build of samples

**

[2020-01-03 09:54] nordic-krch commented on #21538
what if i2c low level messages would be defined as something like:
[code]

[2020-01-03 09:57] nordic-krch commented on #21538
I was also thinking that `i2c_mngr` could be turned into `bus_mngr` which would support spi or i2c (it's just a matter of different function which schedules the transfer and understands message). There could be two sets of macros for creating messages so it would be possible to compile given sensor for spi or i2c bus.

[2020-01-03 11:23] jfischer-phytec-iot commented on #21660
Can not reproduce for hello_world and basic/blinky. `west update` ?

[2020-01-03 12:34] r2r0 commented on #21660
After manual "west update" it works.
It looks that for some reason script used for testing master branch with WB55 board silently failed with this step. I manually checked only build steps.
Sorry for noise.

[2020-01-03 12:34] #21660 closed

[2020-01-03 13:03] markus-becker-tridonic-com commented on #21659
It seems sending FORCE_TRX_OFF stops the transmission of ACKs.

Also mentioned in the datasheet http://ww1.microchip.com/downloads/en/devicedoc/atmel-8351-mcu_wireless-at86rf233_datasheet.pdf:

A state transition to RX_AACK_ON is initiated by writing the RX_AACK_ON command
to the register bits TRX_CMD. On success, reading register bits TRX_STATUS
(register 0x01, TRX_STATUS) returns RX_AACK_ON or B

[2020-01-03 13:16] joerchan commented on #18386
@aasthagr Could you possibly check if this issue has been resolved with the fix that was recently submitted to RFCOMM?

[2020-01-03 13:19] #21082 closed

[2020-01-03 13:49] joerchan commented on #21586
Log working advertising disable command
[code]

Log failing advertising disable command
[code]

From the output it looks like hci_cmd_send_sync has timed out after 10 seconds waiting for the command complete event.
It appears to stall before retreiving the command complete event buffer since this print statement is no longer present:
`[01:07:01.403,137] <dbg> bt_hci_core.bt_buf_get_cmd_complete: s

[2020-01-03 14:05] nandojve commented on #21659
@markus-becker-tridonic-com is nice to see that someone is really using this driver. Please, do not change **rf2xx_trx_set_state** method. This is how we change transceiver FSM states. The **RF2XX_TRX_PHY_STATE_CMD_PLL_ON** before **rf2xx_trx_rx** is currently used to avoid buffer overrun. You can disable it but be aware it can happen once RX is enabled. I hope people like you can help with precio

[2020-01-03 14:29] joerchan opened #21669 "Bluetooth: Consider flash wear when deleting bond information."
**Is your enhancement proposal related to a problem? Please describe.**
Deleting multiple bonds trigger many calls to settings_delete in BT settings. This could potentially cause unnecessary flash performance and wear.

**Describe the solution you'd like**
Submit multiple deletion as a single update to the settings backend. This could be done similar to how BT identities are stored.

**Describe al

[2020-01-03 14:30] joerchan commented on #21669
CC: @jsiverskog

[2020-01-03 14:32] nordic-krch opened #21670 "Keep device structures in ROM"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, `struct device` and `struct device_config` are created in RAM for each device. This means 24 bytes of RAM for each device. Hello world sample on nrf52 is using 192 bytes for that. It seems like most or even all fields are constant in those structures. I've found following runtime uses:
- `driver_api` field is set to

[2020-01-03 14:32] nordic-krch commented on #21670
@nashif has that been considered before?

[2020-01-03 14:44] joerchan commented on #20629
@mfiumara It seems to alternate between the same value and zero. Is it deleted by the application at one point perhaps?

[2020-01-03 14:46] joerchan commented on #21390
@lanvis Please check for possible bt_conn_ref missing unrefs.
Probably the unref from the encryption procedure is not released when disconnected.

[2020-01-03 14:55] zephyrbot opened #21672 "[Coverity CID :206394] Logically dead code in subsys/testsuite/ztest/src/ztest.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/53392ad403db3a3c63e5802e620ead569306b978/subsys/testsuite/ztest/src/ztest.c#L111

Category: Control flow issues
Function: `z_impl_z_test_1cpu_start`
Component: Other
CID: [206394](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206394)

Details:

[code]

Please fix or provide comments in c

[2020-01-03 14:55] zephyrbot opened #21673 "[Coverity CID :206393] Unintentional integer overflow in drivers/sensor/ms5607/ms5607.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/53392ad403db3a3c63e5802e620ead569306b978/drivers/sensor/ms5607/ms5607.c#L46

Category: Integer handling issues
Function: `ms5607_compensate`
Component: Drivers
CID: [206393](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206393)

Details:

[code]

Please fix or provide comments in coverit

[2020-01-03 14:55] zephyrbot opened #21674 "[Coverity CID :206392] Side effect in assertion in tests/kernel/timer/starve/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/53392ad403db3a3c63e5802e620ead569306b978/tests/kernel/timer/starve/src/main.c#L83

Category: Incorrect expression
Function: `test_starve`
Component: Tests
CID: [206392](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206392)

Details:

[code]

Please fix or provide comments in coverity usi

[2020-01-03 14:56] zephyrbot opened #21675 "[Coverity CID :206390] Unrecoverable parse warning in subsys/cpp/cpp_new.cpp"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/53392ad403db3a3c63e5802e620ead569306b978/subsys/cpp/cpp_new.cpp#L14

Category: Parse warnings
Function: ``
Component: Other
CID: [206390](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206390)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan9.cov

[2020-01-03 14:56] zephyrbot opened #21676 "[Coverity CID :206389] Logically dead code in subsys/testsuite/ztest/src/ztest.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/53392ad403db3a3c63e5802e620ead569306b978/subsys/testsuite/ztest/src/ztest.c#L124

Category: Control flow issues
Function: `z_impl_z_test_1cpu_stop`
Component: Other
CID: [206389](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206389)

Details:

[code]

Please fix or provide comments in co

[2020-01-03 14:56] zephyrbot opened #21677 "[Coverity CID :206388] Unrecoverable parse warning in subsys/cpp/cpp_new.cpp"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/53392ad403db3a3c63e5802e620ead569306b978/subsys/cpp/cpp_new.cpp#L9

Category: Parse warnings
Function: ``
Component: Other
CID: [206388](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206388)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan9.cove

[2020-01-03 15:06] joerchan commented on #21599
@stephenmasih I have no way to reproduce this issue. Please update with a description on how I can reproduce it. I cannot really do anything with a screenshot.

You are not checking the returned value of k_malloc, you probably should check that it is infact non-zero before using it.

[2020-01-03 15:32] hadrienk commented on #21617
@carlescufi sure thing.

[2020-01-03 16:58] StefJar opened #21679 "SPI broken on stm32f412 on master"
I pulled the latest master and the SPI stopped working.

My config:
[code]
but it does not matter if we are using interrupts or not.

the code:
[code]

My log print:
[code]

on the logic analyzer:
![Screenshot from 2020-01-03 16-38-10](https://user-images.githubusercontent.com/8638279/71735897-8eb4f100-2e47-11ea-87be-7c55ebcecf7e.png)
![Screenshot from 2020-01-03 16-38-34](https://user-images.gith

[2020-01-03 17:05] pabigot commented on #21677
I don't see what's to be done about this other than marking it to be ignored.  The first parameter of the allocation is obviously of type `size_t`.

Clearly the first parameter of the allocation is, in fact, of type size_t.  It may be that Coverity is finding a version of `<stdlib.h>` that doesn't put that typedef in the right namespace, but that's not something we can fix in mainline Zephyr: even

[2020-01-03 17:22] StefJar commented on #21679
I forgot the old version for comparison:

`*** Booting Zephyr OS build zephyr-v2.1.0-383-g17d066b9dc0e  ***`

the latest version:

`*** Booting Zephyr OS build zephyr-v2.1.0-634-gbd9962d8d98c  ***`

And a print out for the old SPI com:

![Screenshot from 2020-01-03 17-17-13](https://user-images.githubusercontent.com/8638279/71737955-12bda780-2e4d-11ea-84c8-4296d09ad4e9.png)

[2020-01-03 17:39] martinjaeger opened #21681 "nucleo_g431rb / STM32G4: Flashing works only once"
**Describe the bug**
Flashing the board with the blinky or hello world sample as described in [Zephyr documentation](https://docs.zephyrproject.org/latest/boards/arm/nucleo_g431rb/doc/index.html#programming-and-debugging) works only once. Afterwards, PyOCD fails with the error as pasted below.

If I flash a very simple app built using other framework (e.g. Arduino Blinky) via the USB mass-storage

[2020-01-03 19:26] #18867 closed

[2020-01-03 19:38] mpdas108 commented on #21552
For anyone else that finds this thread. I have given up, and we are shifting to using ANT protocol and the Nordic SDK to connect many sensors.

[2020-01-03 20:14] #21536 closed

[2020-01-03 21:37] wentongwu opened #21685 "backport label doesn't trigger backport anymore"
**Describe the bug**
backport label doesn't trigger backport anymore, for example: backport v1.14-branch.

[2020-01-04 03:16] sslupsky commented on #21538
@nordic-krch Please see issue #21549 .  The sam0 driver sends the next byte at the completion interrupt.  However, the kernel appears to gets in the way between interrupts and it can insert significant delays between bytes.  The problem is exacerbated when you sleep.

[2020-01-04 06:50] wentongwu opened #21695 "Documentation issues on v1.14-branch block backport"
**Describe the bug**
[code]

The issue can be found here https://github.com/zephyrproject-rtos/zephyr/pull/21694.

[2020-01-04 13:29] nandojve commented on #21659
Hi @markus-becker-tridonic-com, could you check if the below idea works, please? I'm without radios until Jan 13.

The system is currently configured with Dynamic Frame Buffer Protection enabled by RX_SAFE_MODE at (register 0x0C, TRX_CTRL_2). However, we need execute 2 **rf2xx_iface_frame_read** at **rf2xx_trx_rx** and Dynamic Frame Buffer Protection is released on the rising edge of pin 23 (/SEL)

[2020-01-04 14:23] #17838 closed

[2020-01-04 18:01] nashif commented on #21695
fixed

[2020-01-04 18:01] #21695 closed

[2020-01-04 18:05] zephyrbot opened #21699 "[Coverity CID :206608] Dereference null return value in tests/net/icmpv4/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c9a2a5e7fb0194bfb168f5aa1a0a83c73f62acb3/tests/net/icmpv4/src/main.c#L184

Category: Null pointer dereferences
Function: `test_icmpv4`
Component: Tests
CID: [206608](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206608)

Details:

[code]

Please fix or provide comments in coverity using

[2020-01-04 18:05] zephyrbot opened #21700 "[Coverity CID :206606] Out-of-bounds access in tests/bluetooth/uuid/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c9a2a5e7fb0194bfb168f5aa1a0a83c73f62acb3/tests/bluetooth/uuid/src/main.c#L44

Category: Memory - corruptions
Function: `test_uuid_cmp`
Component: Tests
CID: [206606](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206606)

Details:

[code]

Please fix or provide comments in coverity using

[2020-01-04 18:05] zephyrbot opened #21701 "[Coverity CID :206600] Logically dead code in drivers/crypto/crypto_mtls_shim.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c9a2a5e7fb0194bfb168f5aa1a0a83c73f62acb3/drivers/crypto/crypto_mtls_shim.c#L267

Category: Control flow issues
Function: `mtls_session_setup`
Component: Drivers
CID: [206600](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206600)

Details:

[code]

Please fix or provide comments in coveri

[2020-01-04 18:05] zephyrbot opened #21702 "[Coverity CID :206599] Out-of-bounds access in tests/bluetooth/uuid/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c9a2a5e7fb0194bfb168f5aa1a0a83c73f62acb3/tests/bluetooth/uuid/src/main.c#L71

Category: Memory - corruptions
Function: `test_uuid_create`
Component: Tests
CID: [206599](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=206599)

Details:

[code]

Please fix or provide comments in coverity usi

[2020-01-05 11:17] admorgan opened #21706 "Link to releases in README.rst give a 404 error"
When trying to find the SDK releases I click on https://zephyrproject.org/developers/#downloads from the readme. The page displays a 404 error.

[2020-01-05 12:42] Marco-Peter commented on #21679
I experienced the same issue with the effect that the SPI_NOR driver did not initialize anymore (it receives the wrong device id).
By trial and error I could locate the offending commit being 2ce8fa1e42d3d60e4119f15e82c29d2daaf67c00 but I still need to understand how.

[2020-01-05 19:46] sslupsky opened #21707 "Timing violation for all sensor drivers"
**Describe the bug**
I have been working with the BME280, SHT3X, OPT3001, ICM20649 drivers and I have noticed that there is no check after a power on event that the power on timing specification for the sensor is observed.  Most (all) sensors have a timing specification related to power on and accessing the device before the power on period has elapsed could lead to undefined behaviour.

**Impact*

[2020-01-05 20:51] sslupsky opened #21708 "Multiple partitions for LittleFS"
**Is your enhancement proposal related to a problem? Please describe.**
I have a requirement for two LittleFS partitions.  Is there an example for using LittleFS on two partitions?  For instance, one partition is located in internal soc flash and the other is an external SPI NAND flash device.

**Describe the solution you'd like**
Support for multiple LittleFS partitions for internal soc and exter

[2020-01-06 03:05] cvinayak commented on #21601
Indicates Radio ISR latency, will analyse and post my comments here. Meanwhile, could you please bisect to an older release, say v1.14 may be, to find when it is ok and broken after a commit.

[2020-01-06 03:38] boonpin1975 commented on #21635
I added this line and rebuild , but now there is no more error -5
SHT3XD: 25.79 Cel ; 50.17 %RH
�*** Booting Zephyr OS build zephyr-v2.1.0-581-g4e135d76a3c2  ***
SHT3XD: 25.73 Cel ; 50.28 %RH
SHT3XD: 25.72 Cel ; 50.69 %RH
SHT3XD: 25.70 Cel ; 50.76 %RH
SHT3XD: 25.69 Cel ; 50.79 %RH
SHT3XD: 25.65 Cel ; 50.89 %RH
SHT3XD: 25.59 Cel ; 50.88 %RH
SHT3XD: 25.55 Cel ; 50.85 %RH

[2020-01-06 04:57] sslupsky opened #21711 "sam0 i2c slave"
**Is your enhancement proposal related to a problem? Please describe.**
I could not find anything in the tree regarding i2c slave support for sam0.  It appears this feature only exists for stm32.  So, I thought to reach out and ask if anyone has done any work on this?

[2020-01-06 05:05] sslupsky commented on #21635
That looks like you had (or have) a CRC error.  I had issues with the i2c driver for sam0 and the stop bit and saw this error a few times.  You appear to be receiving some valid data so maybe you are not receiving the last byte and the CRC check fails?  That might also explain why it was not looping.

[2020-01-06 08:34] binkboyd commented on #20987
Using the below patch, based on https://github.com/zephyrproject-rtos/zephyr/issues/20250 we are no longer seeing the "Failed to write endpoint buffer" after transferring a few hundred megabytes. This is after getting it consistently along with data corruption previously. It should be noted that our use case mostly consists of single direction transfers from device to host, so high throuput from h

[2020-01-06 10:31] jfischer-phytec-iot commented on #20987
@binkboyd @jrananth1032 please open a new issue for this bug in CDC ACM class. This issue is specific to usb_dc_sam0.c driver.

[2020-01-06 10:56] StefJar commented on #21679
@erwango I put your changes in but it is still broken
I attached a logic analser shot in.

old working version:
![Screenshot from 2020-01-06 10-51-06](https://user-images.githubusercontent.com/8638279/71813917-d66b9080-3072-11ea-8654-ddce7524916b.png)

latest fix:
![Screenshot from 2020-01-06 10-42-48](https://user-images.githubusercontent.com/8638279/71813954-f438f580-3072-11ea-935f-b379af503995.

[2020-01-06 11:55] binkboyd opened #21713 "CDC ACM USB class issue with high transfer rate and ZLP"
**Describe the bug**
This issue is possibly linked to the following two issues: https://github.com/zephyrproject-rtos/zephyr/issues/20987 and https://github.com/zephyrproject-rtos/zephyr/issues/20250

Using an NRF52840  when sending data from the device to host  above 10kb/s continuously  - After a short time the console will show error messages of the form of:
<pre>
<wrn> usb_device: Failed to wr

[2020-01-06 11:57] FRASTM commented on #21681
In the stm32g4/soc.c, the CONFIG_DEBUG flag can enable the DEBUG mode during sleep, stop and standby with :

Then, successive west flashing are possible.

Note that another _manual_ solution is to Press the reset button and maintain shortly before launching the 'west flash' command

[2020-01-06 12:08] jfischer-phytec-iot commented on #21713
@binkboyd How do you read the data on the host side? Could you provide an example, please?

[2020-01-06 12:26] martinjaeger commented on #21681
Awesome, that did the trick. Thanks for the quick response.

So how should we proceed? I could create a PR with the suggested changes. And we should include a remark in the board documentation that CONFIG_DEBUG=y has to be set in order to work properly.

Which other Nucleo boards could be affected by the same issue? Should we update all of them at once?

[2020-01-06 13:08] martinjaeger opened #21715 "nucleo_g431rb: Blinky too slow / wrong clock setup?"
**Describe the bug**
The LED is on approx. 15 times per minute (measured with stop watch), so it is 2 times slower than expected. On = off time in blinky app is set to 1 second.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nucleo_g431rb samples/basic/blinky/
2. west flash

**Impact**
As I'm dealing with energy measurement in my application, the energy will most probably be w

[2020-01-06 13:44] martinjaeger opened #21716 "nucleo_g431rb: Hello world not working"
**Describe the bug**
The basic hello world example does not work for the Nucleo G431RB (STM32G431 MCU).

**To Reproduce**
Try the steps according to [board description in docs](https://docs.zephyrproject.org/latest/boards/arm/nucleo_g431rb/doc/index.html) and see that hello world does not output anything on the terminal.

**Environment (please complete the following information):**
- OS: Linux 5.4

[2020-01-06 13:54] jhedberg commented on #21700
Marked as false positive in Coverity (like pretty much all bt_uuid issues)

[2020-01-06 13:54] #21700 closed

[2020-01-06 13:55] jhedberg commented on #21702
Marked as false positive in coverity (like pretty much all bt_uuid issues)

[2020-01-06 13:55] #21702 closed

[2020-01-06 14:10] FRASTM commented on #21681
There is also a user_script for the pyOCD which could write the DBGMCU_CR register on reset for STM32G4xx devices : [https://github.com/mbedmicro/pyOCD/blob/master/docs/user_scripts.md](url)
But I did not yet succeed with this method

def did_reset():
    # Set  SLEEP bit  to 1.
    target.write32(0xE0042004, 0x1)

[2020-01-06 14:22] sslupsky commented on #20987
@jfischer-phytec-iot I think I mentioned that this issue is not constrained to the sam0.  Moreover, @jrananth1032 indicated he observed the problem on nRF.

Also, you mentioned earlier

Are you implying that the sam0 driver does not pass the tests?  What is failing?

Notwithstanding my comments above, I have found that the existing driver assumes that if the endpoint is busy, a write is in progres

[2020-01-06 14:33] sslupsky commented on #21713
@binkboyd Please see my recent comment on #20987

Related to this, I understand ZLP's are essential to the USB spec.  So, it seems counter intuitive to me to suppress them.  I think the issue may be related to "dropping" the packet when the USB hardware is still in the process of sending the packet.  The packet isn't actually dropped though, as it is retried again and almost always goes through th

[2020-01-06 14:38] sslupsky commented on #20987
With regard to the nordic driver, the underlying code that generates the warning is:
[code]

Similar to the sam0, if a write is on-going, the driver refuses to process the write, so called "drop" in the sam0 case.

It appears to me there is an underlying assumption that ep_write() is called only if the hardware is ready to receive it?  If that is the case, could there be a situation where a ZLP (w

[2020-01-06 14:49] azeemshatp commented on #21716
There seems to be another mistake in the doc in that case (https://docs.zephyrproject.org/latest/boards/arm/nucleo_g431rb/doc/index.html).
It says the Zephyr console output is assigned to UART2.
Does this mean DTS and doc are not matching?.

[2020-01-06 14:58] binkboyd commented on #21713
@jfischer-phytec-iot  I'm using pyserial to receive 32k blocks on the host side. I'll try to create a minimal test case when I get some time.

@sslupsky That's possible, I haven't debugged this in depth. I tried to increase the retry count but if I recall correctly it crashed after a while if the retry count was increased past the default value of 3. I can see if I can condense all this into a tes

[2020-01-06 15:03] sslupsky commented on #21713
@binkboyd In one of my earlier tests, if the USB hardware is busy, waiting 500us (1/2 the USB slot time) eliminated the warnings as well.  I suspect the usb driver is attempting to send a ZLP while a transfer is ongoing.

[2020-01-06 16:14] martinjaeger commented on #17375
Is there any progress on this, as the DMA PR is merged now?

We are currently working on ADC + DMA for the STM32G4 and also need to read out the internal channels.

[2020-01-06 18:31] sslupsky commented on #20987
@jfischer-phytec-iot @binkboyd There may be a race condition.  The transfer status flag does not track the hardware state.  Rather, it tracks the driver state.  In most cases, this appears to be ok because of inherent delays using the kernel work queue.  However, it appears to me that a usb_transfer() can overlap with a transfer the immediately follows at the hardware level.  That is to say, usb_t

[2020-01-06 18:57] #13232 closed

[2020-01-06 18:58] #20974 closed

[2020-01-06 18:58] #21637 closed

[2020-01-06 20:06] jfischer-phytec-iot commented on #20987
@sslupsky There may be a race condition, bug, bad code, or other pain in the stack, but     again    _The sam0 driver is buggy and it does not make any sense to discus anything in the stack self until the driver passes all [testusb](https://docs.zephyrproject.org/latest/samples/subsys/usb/testusb/README.html) tests._ Let me or someone else fix it first, even there is a issue in the stack it does n

[2020-01-06 20:27] b0661 opened #21724 "dts: edtlib: handle child-binding or child-child-binding as 'normal' binding with compatible"
**Is your enhancement proposal related to a problem? Please describe.**

I want to define the bindings for the pinctrl state nodes of pin controllers and the pin configuration nodes of pin controllers as child-binding within the pin-controller binding (see additional context). Edtlib does not recognize the compatible in a child-binding or a child-child-binding.

**Describe the solution you'd like*

[2020-01-06 21:06] sslupsky opened #21725 "device power management by device"
**Is your enhancement proposal related to a problem? Please describe.**
Is there a way to enable device power management on a device by device basis?  The reason I ask is because when I enable device pm, it uses quite a bit of RAM because it enables declaration of a few __pm_ structs for each device driver.  In my case, these add up to almost 3KBytes or 10% of a SAMD21's RAM.  I really only need d

[2020-01-06 23:55] franciscomunoz commented on #21551
GPIO240,276 isrs are failling because GIRQ22 is missing from the enum

312 enum MCHP_GIRQ_IDS {
313         MCHP_GIRQ08_ID = 8,
314         MCHP_GIRQ09_ID,
315         MCHP_GIRQ10_ID,
316         MCHP_GIRQ11_ID,
317         MCHP_GIRQ12_ID,
318         MCHP_GIRQ13_ID,
319         MCHP_GIRQ14_ID,
320         MCHP_GIRQ15_ID,
321         MCHP_GIRQ16_ID,
322         MCHP_GIRQ17_ID,
323         MCHP_GIR

[2020-01-07 02:14] ulfalizer commented on #21724
What should happen if some node has `compatible = "level-1"` but isn't the child of a node with `compatible = "level-0"`? Seems a bit confusing to allow a compatible in a mechanism that says "give this binding to child nodes".

I'll look at it some more later, but I wonder if there might be a simpler way.

[2020-01-07 02:19] ulfalizer commented on #21724
Is this all about being able to give a custom `Node.matching_compat` to nodes that get their binding from `child-binding`? Might be able to work something out in that case.

[2020-01-07 07:41] b0661 commented on #21724
The evident problem in my use case is that  **_init_compat2binding()** does not extract child bindings from a binding file. Therefor the child bindings are also __NOT__ associated to a compatible if there is any in the child binding.

In a broader scope the problem may be that there is no mechanism to associate a binding to a node that is a child-node or child-child-node of a node that has a bindi

[2020-01-07 08:12] ioannisg opened #21735 "ARM: Cortex-M: IRQ lock/unlock() API non-functional but accessible from user mode"
**Describe the bug**

IRQ API is a kernel API, so, normally it shall not be accessible from user mode. This is the case for most of the API functions; an attempt to use them leads to a CPU fault.

This is **not** the case, however, for `irq_lock()`, `irq_unlock()` for ARM Cortex-M Mainline architecture (both ARMv7-M and ARMv8-M): these functions do not cause a fault if called from user mode, altho

[2020-01-07 08:15] ioannisg commented on #21735
CC @andrewboie

[2020-01-07 08:44] joerchan commented on #19361
If we can do something like that which also fits nicely together with AE APIs then that would be ideal from my perspective. joerchan FYI.

@jhedberg I think this is covered by @trond-snekvik currently open PR.

@stephenmasih Any updates on this? We have a similar  bug-report for the advertiser, maybe it is the same type of issue for the scanner? It could be affecting the scanner disable call.
http

[2020-01-07 09:48] StefJar commented on #17375
as far as I know the DMA driver got updated, but the ADC driver is not updated yet.

[2020-01-07 10:14] carlescufi commented on #21426
Closing this issue. See workarounds in the description

[2020-01-07 10:14] #21426 closed

[2020-01-07 11:58] FRASTM commented on #21716
Actually, the nucleo_g431rb board outputs the console on LPUART1 (on VCP_Tx/RX pin PA2, PA3)
This has to be changed in the board config (and doc. ). I will proceed to update that.

Note that baudrate > 115200 is reached with LPUART1 clock source different from LSE clock.

[2020-01-07 12:04] markus-becker-tridonic-com commented on #21659
The snippet above works as well. Thanks very much.

[2020-01-07 12:05] martinjaeger commented on #21716
Please have a look at the PR mentioned above. I guess that implements what you describe.

I tested the fix and it worked fine with my Nucleo board.

[2020-01-07 13:28] FRASTM commented on #21716
That's fine, we could also choose to output USART2 on PA2, PA3  (and leave LPUART on PC1, PC0 if needed).
It works if USART2 is selected for console.
The nucleo_g431rb board refers to UART1 and LPUART1, should it be mentioned USART2,  USART3 ( available on pin PB10, PB11 ) and UART4  (available on pin PC10, PC11).

[2020-01-07 13:35] bran795 opened #21744 "dumb_http_server_mt with overlay-tls.conf does not connect"
running dumb_http_server_mt  with overlay-tls.conf does not connect:
The mbded tls hangs : mbedtls_ssl_fetch_input calls ssl->f_recv on line 2714 and waits forever.
Adding
      net_context_set_accepting(child, false);
in function ztls_accept_ctx() file sockets_tls.c solves the hanging (taken from the master branch)

**To Reproduce**
Steps to reproduce the behavior:
west build -b frdm_k64f -d buil

[2020-01-07 13:38] erwango opened #21745 "tests: counter_basic_api: Failed on stm32 based boards"
**Describe the bug**
Test failed on following boards: nucleo_l476rg, nucleo_wb55rg

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
Test should pass.

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux, MacOS, Windows)
 - Toolchai

[2020-01-07 13:39] anangl commented on #21538
Overall, I like this idea.
After taking a look at #21641, I think we don't need to introduce the LL layer to achieve the effect. Instead, we could add to `i2c_driver_api` a "simple transfer" function that would transfer a single `i2c_msg` only, and add a way of configuring the callback for it (with additional parameters to this function or via another function added to `i2c_driver_api`). This new

[2020-01-07 13:40] martinjaeger commented on #21716
Well, you're right. We could wire UART2 to those pins. But in the board manual they state that LPUART is the default for the VCP (as far as I understand it). So I guess it makes sense to keep it that way to avoid confusion and be consistent with the manual.

So you are saying that we should also configure UART3 and 4? Not sure if that's needed by anyone, but would be easy to add to the PR if you l

[2020-01-07 13:48] #21674 closed

[2020-01-07 13:51] tbursztyka commented on #21538
There is an async SPI API call, but still using caller's thread context. There is no transaction manager in between obviously. All other calls are synchronously pending until they get the lock as for the sync calls.

About transaction manager, how are you going to deal with memory management?
I guess the mgr's thread is going to be a kernel thread. So will you count on current assumption that call

[2020-01-07 15:04] #20698 closed

[2020-01-07 15:05] FRASTM commented on #21715
This is due to a AHBPrescaler not correct in the LL_PLL_ConfigSystemClock_HSI() function

[2020-01-07 15:11] martinjaeger commented on #21715
Great that you found the reason. So will you provide a fix?

[2020-01-07 15:20] nashif commented on #21676
false positive, not dead code in case of multiple CPUs

[2020-01-07 15:20] #21676 closed

[2020-01-07 15:20] nashif commented on #21672
false positive, not dead code in case of multiple CPUs

[2020-01-07 15:20] #21672 closed

[2020-01-07 16:01] #21375 closed

[2020-01-07 16:06] jhedberg commented on #21581
The existing link works for me too, maybe it was a temporary issue with the website. Therefore closing this issue.

[2020-01-07 16:06] #21581 closed

[2020-01-07 16:21] FRASTM commented on #21715
Refer to stm32cube: stm32g431: wrong clock setup #34

[2020-01-07 16:33] martinjaeger commented on #21715
Don't understand what exactly you are referring to. Was that a commit / PR? Number 34 doesn't seem related to our problem.

[2020-01-07 16:46] FRASTM commented on #21715
Sorry, refer to Refer to stm32cube: stm32g431: wrong clock setup zephyrproject-rtos/hal_stm32#34

[2020-01-07 17:13] #21384 closed

[2020-01-07 17:20] FRASTM commented on #21716
I agree, we keep LPUART 1 for console. However for UART_2 pin PA14 & PA15 are already assigned to T_SWCLK and T_JDTI,  so could we omit any reference to UART2 in  `boards/arm/nucleo_g431rb/pinmux.c`  for nucleo_g431rb.
--> only UART1 and LPUART1 are mentioned.

An interesting note ( in the `index.rst`) is  that _LPUART1 baudrate is limited to 9600 if it is clocked by LSE._

[2020-01-07 17:26] martinjaeger commented on #21716
Ok, I'll update the PR accordingly.

[2020-01-07 17:27] #21699 closed

[2020-01-07 18:08] galak commented on #21568
Is this failure on hardware or QEMU?

[2020-01-07 18:08] #21546 closed

[2020-01-07 18:08] #21679 closed

[2020-01-07 18:16] jhedberg commented on #21568
Where did you see the issue? In CI?

[2020-01-07 18:23] jhedberg commented on #21707
@sslupsky since you had a fix proposal, could you perhaps submit a PR?

[2020-01-07 18:25] #21614 closed

[2020-01-07 18:28] sslupsky commented on #21707
I could do that ... might take a while because there are a lot of sensors in the tree and every one of them is affected by this.

I suppose the first thing is to discuss is if the proposed method is the way to proceed forward on this.

Also, should the start up time be specified in the DTS and configurable in KConfig?  If we did things that way, then the code could be generic.

[2020-01-07 18:29] jhedberg commented on #21735
Discussed in the release meeting: The documentation update needs to be done either way, however an assert is probably nice too since otherwise this risks hard-to-catch bugs with critical regions seemingly working but actually not.

[2020-01-07 18:31] sslupsky commented on #21670
I like this idea.  Can some of the device pm settings be stored in ROM?  They take a LOT of RAM when you turn on device pm.

[2020-01-07 18:32] jhedberg commented on #21745
@erwango will you be looking at this? If not, please reassign.

[2020-01-07 18:47] jhedberg commented on #21707
@sslupsky those are all fair questions. I'm not an expert in any of these areas but e.g. using DTS to describe the sensor timing requirements sounds reasonable to me. I suppose this issue may need to act as a "meta issue" and then sub-issues should be filed for the individual drivers?

@galak do you know who else should be added to the discussion for the things @sslupsky points out in his comment

[2020-01-07 18:47] stephanosio commented on #20217
All PRs merged.

[2020-01-07 18:47] #20217 closed

[2020-01-07 18:48] sslupsky commented on #21538
@nordic-krch The problem with the existing driver is it relies on interrupts to fire between sequential parts of an i2c transaction.  So, for instance, if I am reading several bytes, each byte transfer generates an interrupt.  The Zephyr kernel intercepts these interrupts and if you are using PM, the latency can be enormous.  I've seen 100's of ms.  So, a simple transfer that should take 50 or 100

[2020-01-07 18:51] pderwin commented on #21735
I'll echo the 'hard-to-catch bugs' commentary.  I have been actively pursuing a problem on Cortex-R in user mode that turned out to be this exact issue.  Our user-mode code believed it was locking a critical section, but in reality was not.

Now investigating how to re-factor the code to rely on semaphore instead of interrupt disable.

[2020-01-07 18:55] jfischer-phytec-iot commented on #21707
To specify it in DTS is only necessary if the driver supports different devices with different power-on/start-up behavior. Also it depends on the device if k_busy_wait() is really necessary or k_sleep() is a better choice. Nothing more, no need to be more "generic". If there is a issue with the start-up time in BME280 driver and you can fix it, patches are welcome.

[2020-01-07 19:05] sslupsky commented on #21538
@nordic-krch There is another sort of related issue.  I have experienced several complete lockups of the kernel on boot due to an i2c sensor going rogue and getting into a state where a sensor hangs the bus which then hangs the kernel.

It got me thinking that there should be an API to cause the sensors to reset at boot (init) time, maybe something that uses the i2c general call software reset?  I

[2020-01-07 19:20] sslupsky commented on #21707
@jfischer-phytec-iot My point is all the sensors in the tree are affected by this issue.  So, the amount of work to go fix all of them is quite significant.  If we use a generic piece of code for this issue and put the timing parameter in the DTS, then we could probably push the need to set the specific timing requirement to the DTS and could use some "default" value(s).  The user can easily overr

[2020-01-07 23:33] jfischer-phytec-iot commented on #21713
Some thought,

From USB2.0 Spec, 5.8.3 Bulk Transfer Packet Size Constraints
[code]
IRP is I/O Request Packets (on the host side). We will always have this ZLP issues on different places because how it was defined. How I understand, the length of the transfer buffer (acm->readsize) in Linux kernel ACM driver is mostly 2 * endpoint buffer size or less. But on the device side we can not know the len

[2020-01-08 00:14] vanti commented on #21372
@happymili Sorry for the delay, just got back from vacation. Which version of OpenOCD are you using? Are you using the one from Zephyr SDK 0.10.3 (https://docs.zephyrproject.org/latest/getting_started/installation_linux.html)?

I tried to reproduce your issue using this setup:

- commit d385d86f7412f16ea8ed7027a51cd45b4f3cf9ef
- Zephyr SDK 0.10.3
- CC2652R1 LaunchPad with a sticker on the back tha

[2020-01-08 00:44] adamfeuer opened #21754 "Arduino Due shell does not accept input (UART0)"
**Describe the bug**

I am trying to get a shell running on the Arduino Due. I can compile and flash [`samples/subsys/shell/shell_module`](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/subsys/shell/shell_module) on my Arduino Due. I am using Ubuntu Linux 19.10 on a VMWare Fusion VM under MacOS.

Connected to the Due's Programming Port using picocom, I can see output and the shel

[2020-01-08 01:10] wentongwu commented on #21568
QEMU

[2020-01-08 01:10] wentongwu commented on #21568
yes, in CI

[2020-01-08 01:32] wentongwu commented on #20125
the basic idea to fix this high latency is to start a dedicated and very high priority work_q which is used to handle the force suspend request, and it will never compete with the suspend handle in idle thread. But that requires the device drivers implement DEVICE_PM_FORCE_SUSPEND_STATE state. @pabigot @vanti

[2020-01-08 01:59] chen-png opened #21755 "tests/drivers/adc/adc_api failed on mec15xxevb_assy6853 board."
**To Reproduce**
Steps to reproduce the behavior:

1.  programming the tests/drivers/adc/adc_api to mec15xxevb_assy6853 board, according to
https://docs.zephyrproject.org/latest/boards/arm/mec1501modular_assy6885/doc/index.html to set up.
2. See error

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora28
 - Toolchain: zephyr-sdk-0.1

[2020-01-08 02:03] stephanosio commented on #21568
This happens when the host CPU usage is very high (e.g. when running sanitycheck).

Re-running the test should make it pass (it is an intermittent failure caused by processing delay).

[2020-01-08 02:03] stephanosio commented on #21568
cc @nashif

[2020-01-08 02:04] chen-png opened #21756 "tests/kernel/obj_tracing failed on mec15xxevb_assy6853 board."
**To Reproduce**
Steps to reproduce the behavior:

1.  programming the tests/kernel/obj_tracing  to mec15xxevb_assy6853 board, according to
https://docs.zephyrproject.org/latest/boards/arm/mec1501modular_assy6885/doc/index.html to set up.
2. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.1.0-744-g7ee5cf6a0bd1 ***

Running test suite obj_tracing
starting test - t

[2020-01-08 02:07] stephanosio commented on #21568
I have seen this failure a number of times in the CI. Simply re-running the failing block in the Shippable will resolve this.

Maybe we should consider increasing the retry count for this test.

[2020-01-08 02:44] nashif commented on #21756
I am sure this is not a bug, looks like the board is enabling all kind of options that most likely have some kernel objects, so the counting does not match.

[2020-01-08 09:40] nordic-krch commented on #21549
it might be something atmel specific. I've tried it on nrf52 and see no such delays. I tried with device power management on and off.

[2020-01-08 10:23] martinjaeger commented on #3076
Is anyone currently working on that topic?

We need the DAC for STM32L0 and STM32G4 series MCUs. Instead of implementing it only for our project, I can start with the generic DAC driver API and STM32 implementation.

The API would be derived from the ADC. But it is more simple, as a DAC doesn't need async calls and doesn't have gain settings etc.

Is it possible to skip syscalls / userspace option

[2020-01-08 12:01] aurel32 commented on #21586
Yes, I confirm. I have added `LOG_DBG` in `ull_disable()` before and after taking the semaphore. When the problem happens, only the log entry before the `k_sem_take()` appears. So it's indeed stuck there.

[2020-01-08 12:09] gon1332 opened #21762 "[v1.14] stm32: k_sleep() actual sleep times are different than its input"
**Describe the bug**
`k_sleep()` generally sleeps more than the intentional time. Starting from 1 millisecond and for exactly every 10 values there is a new fixed time that the system sleeps. I've used the Analog Discovery 2 to contact the measurements on a GPIO pin. The effect seems consistent as you can see in the graph I've made:

![k_sleep](https://user-images.githubusercontent.com/6116642/719

[2020-01-08 12:11] gon1332 commented on #21762
@galazari

[2020-01-08 13:20] #21735 closed

[2020-01-08 13:25] markus-becker-tridonic-com opened #21763 "at86rf2xx radio driver does not report whether a TX was ACKed"
**Describe the bug**
The newly introduced at86rf2xx driver is doing automatic retransmissions in hardware based on whether ACKs are received or not. Currently the driver is not invoking `ieee802154_radio_handle_ack()` as other drivers are doing and required by OpenThread since https://github.com/zephyrproject-rtos/zephyr/commit/4fe1da9f588230d690d3df4232d066243bbe7b19.

**Impact**
OpenThread does

[2020-01-08 13:41] jukkar commented on #21763
@nandojve Could you add yourself to CODEOWNERS file as an owner for the rf2xx driver and send a PR for that? This way we know who is maintaining the driver.

[2020-01-08 13:51] gpaquet85 opened #21764 "[SARA-R4] MQTT publisher not working - Impossible to connect to broker"
**Describe the bug**
I see an issue when I try to use MQTT Publisher through SARA R4 modem driver. Indeed, it is impossible to conenct to MQTT server/broker.
I checked that Network connection was ok.

**To Reproduce**
Compiling https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/mqtt_publisher::
1. mkdir build; cd build
2. cmake -DBOARD=boards\nrf52840_pca10059 -DSHIELD=sparkfun_s

[2020-01-08 14:02] jukkar commented on #21764
If I understood correctly from report at mailing list, the system worked ok in 1.14
See https://lists.zephyrproject.org/g/devel/message/6622 for details.

[2020-01-08 14:15] WilliamGFish commented on #21764
Have a look at the error "NET_SOCKET_OFFLOAD must be configured for this driver"
Looks like you've not reconfigured your board after the changes implemented in v2.1.

Billy..

[code]

[2020-01-08 14:25] MarekPieta commented on #21493
I replicated the problem again with: b413223a66ed9e857c67ee21d1e8be4768804dd1
The test conditions were the same as before.

I used debugger and noticed that `z_clock_driver_init` is called, but I did not observe `rtc1_nrf_isr` being called.

[2020-01-08 14:31] gpaquet85 commented on #21764
You can understand it like that because I previously worked on zephyr 1.14.1 and I cerry-picked commits to be able to have UBLOX-SARA-R4 driver. This worked pretty good and I did MQTT communications on any MQTT broker (Orange-liveobject, our own mosquitto broker on infomaniak server, mosquitto.org, ...)

[2020-01-08 14:35] gpaquet85 commented on #21764
From my point of view LOG_ERR("NET_SOCKET_OFFLOAD must be configured for this driver"); is not really important because this should only create UDP socket what is not necessary for our need.
I am trying to revert last commits on SARA R4 driver to see if it's work on zephyr2.0.
And as I mentionned above, I am pretty sure that +UUSORD management is not the same on zephyr 2.0. maybe I missed somethin

[2020-01-08 15:16] DenvE opened #21768 "Make [CONFIG_NET_SOCKETS_SOCKOPT_TLS] dependent on [CONFIG_MBEDTLS] in menuconfig"
**Describe the bug**
When you define CONFIG_NET_SOCKETS_SOCKOPT_TLS without CONFIG_MBEDTLS, zephyr has build errors in socket_tls.c.
Workaround is knowing the dependencies and add it to configuration

**To Reproduce**
1. build the dhcpv4_client sample application for the stm32f746g_disco
2. add to prj.conf

# Enable Sockets support
CONFIG_NET_SOCKETS=y
CONFIG_NET_SOCKETS_SOCKOPT_TLS=y

3. build wi

[2020-01-08 15:52] gpaquet85 commented on #21764
@WilliamGFish , @jukkar , @mike-scott I just tried to revert the 2 following commits:
   - https://github.com/zephyrproject-rtos/zephyr/commit/ebf6520d8713aae9809eb1ef6bee7211cf9b4caa#diff-cb3c7d77935fa5df6ccb74a1c5e050ba
   - https://github.com/zephyrproject-rtos/zephyr/commit/ee92cf4d68f3c90eb37acd62a069f79bdb1aba97#diff-cb3c7d77935fa5df6ccb74a1c5e050ba

It is now working so I am pretty sure tha

[2020-01-08 15:54] sslupsky commented on #21549
If I enable the DMA channel, I can eliminate all of the intra frame bus idling except for the last byte.  The last byte received during a message read is not read by the DMAC but is triggered by an interrupt.  The stop bit at the end of a message write is similarly triggered by an interrupt.  In bother cases, there is usually about 360us of delay.  That is not always the case though.  Sometimes th

[2020-01-08 15:56] sslupsky commented on #21549
It is not preferable to the the dmac though.  Using the dmac has the unfortunate side effect of consuming about 1.5K of RAM.

[2020-01-08 16:09] carlescufi commented on #21768
@DenvE maybe you could send a Pull Request with the added dependency?

[2020-01-08 16:19] sslupsky commented on #21549
@nordic-krch At the moment that is what I think as well.  Something appears to be blocking the interrupt for a period of time some reason but I haven’t been able to determine the sequence of events that leads to this.  The problem maybe correlated to sleep modes.

There are some very odd peculiarities with ATMEL peripherals.  In particular, reading or writing a “core” peripheral register requires

[2020-01-08 16:19] mbolivar commented on #21278
Ping

[2020-01-08 16:24] markus-becker-tridonic-com commented on #21763
[code]
the change above allows me to do a full Thread Commissioning using the rf2xx driver.

[2020-01-08 16:36] ioannisg commented on #18273
DYNAMIC_DIRECT_INTERRUPTS, after #21516 is merged

[2020-01-08 17:04] ioannisg commented on #3634
I am not sure this works for ARM, @andrewboie
For XIP images, address 0x0 is Flash and is given user RX access

[2020-01-08 18:27] jbroxson-fbrl opened #21772 "Adding I2C devices to device tree with the same address on different busses generates excessive warnings."
**Describe the bug**
Given the following scenario, build warnings are generated when adding devices to device tree:

* I2C1:
  * Device address: 0x48
  * Device address: 0x49
* I2C2:
  * Device address: 0x48

**To Reproduce**
Add 3 devices to the device tree as shown below. Two devices on different busses must have identical I2C addresses:

[code]
Building will generate the warnings shown in **Scr

[2020-01-08 19:48] nandojve commented on #21763
@markus-becker-tridonic-com thank you for your help with RF2xx driver for OT. I did little changes on your proposal. If you have time to help testing we can conclude this soon. Please take look at #21773.

[2020-01-08 23:08] vvzvlad opened #21775 "echo_server and 802154 not build for NRF52811"
I build an example net/sockets/echo_server for NRF52811. When trying to build from "prj.conf overlay-802154.conf", I get errors:
[code]

Apparently, NRF_EGU3 is some kind of module or driver, but I don't see it on the list when I run menuconfig.

[2020-01-08 23:53] mbolivar commented on #20286
@andrewboie looks like you might be able to close this one

[2020-01-09 00:16] WilliamGFish commented on #21764
Oh no; now I'm looking at this with the U201 version of a Boron board and have found a few odd errors.

The change was moving to the MODEM_CONTEXT which will effect all AT command driven devices.

Billy..

[2020-01-09 00:52] braiden opened #21780 "OpenThread fails on nRF52840 Dongle (nrf52840_pca10059)"
**Describe the bug**
Enabling OpenThread L2 on nrf52840_pca10059 doesn't work. Crashes with a bus error.

`zephyr/subsys/net/lib/openthread/platform/flash.c` wants to use the last two pages of flash for OpenThread. On this board the stock boot-loader occupies the end of flash, and also configures the ACL peripheral to prevent flash writes to this address region. This causes a bus error when OpenTh

[2020-01-09 00:57] #21185 closed

[2020-01-09 01:30] #20286 closed

[2020-01-09 01:49] andrewboie commented on #3634
I see. I don't think unprivileged code has any need to read/write the vector table. So for platforms which don't require power-of-two alignment, we could perhaps offset the beginning of the RX section for text by 32 bytes. Platforms which require power of two alignment, I don't see a way to solve this without defining an extra MPU region (which are in limited supply)

[2020-01-09 02:02] andrewboie opened #21783 "rename zassert functions"
Coverity thinks any function with the word "assert" in its name is a conditionally compiled expression, and generates false positives about side effects.

To avoid this hassle, rename the zassert... family of APIs used in our test cases to something which doesn't have "assert" in the same. zcheck perhaps?

The existing APIs should be marked with __deprecated and just call the new APIs. All test ca

[2020-01-09 02:20] cybertale commented on #17375
So sorry guys, I'm busying on my graduation project these several months, what's worse is that my private local server just got attacked several days ago by ransomware and I lost 4TB data, I'm busying on recovering my files now. Have to working on this later.

[2020-01-09 02:22] andrewboie opened #21784 "sanitycheck prints some build errors directly to the console"
[code]

Looks like in some cases, build stderr is going out the console instead of being logged somwhere

[2020-01-09 07:59] tbursztyka commented on #20388
But that's already possible. There is no limit in how many spi_config you can use on a controller.

If a controller supports both being master and a slave, that's fine. Just have one spi_config with SPI_OP_MODE_MASTER. And then use another spi_config with SPI_OP_MODE_MASK.

 The hardware being the limit obviously here.

When it comes to pins however, that has nothing to do with SPI API at all. It'

[2020-01-09 07:59] #20388 closed

[2020-01-09 08:03] tbursztyka commented on #18608
@galak PCA9685 is an i2c slave device. There is no board using it yet, but what about zephyr user that would wire such device on a board?
Hitting it is easy: just reading the driver code.

[2020-01-09 08:03] ioannisg commented on #3634
Agreed; the (initial) vector table does not need nPRIV access rights. Offsetting the start of the RX flash section is possible on ARMv8-M but still you might have to waste an MPU region to enforce the desired chacheability/shareability attributes, that are different from what the default map does. So it looks like in all cases we end up wasting an extra MPU and we don't favor this :)

[2020-01-09 08:05] b0661 commented on #21623
#21625 works for me. Will go on with the idea to attach a default binding to the chosen node.

[2020-01-09 08:05] #21623 closed

[2020-01-09 08:08] jfischer-phytec-iot commented on #18608
There are expansion boards with PCA9685, for example https://www.adafruit.com/product/815

[2020-01-09 08:16] pfalcon commented on #19483
I see that @d3zd3z, security matters contact for Zephyr, isn't in cc:, so mentioning him.

[2020-01-09 08:17] lanwer-en commented on #11296
I am facing exactly the same problem as I want to synchronize 2 nRF52 devices without using the timeslot API from the Nordic SDK and use Zephyr instead. It would be really helpful if you could share your code.

[2020-01-09 08:21] MarekPieta commented on #21493
I replicated the issue on two various custom boards.

[2020-01-09 08:28] pfalcon commented on #19483
For me, stuff like that doesn't seem like "driver". Example of a driver: LED driver for STM32, that directly drives hardware, and is hardware specific, compare that with the code you have there. For me, it looks more like a "subsystem" or "library" (because we can't have number of subsystems growing infinitely). But that's just 2 cents FYI, shouldn't be reworked unless ack'ed by somebody else.

[2020-01-09 08:33] pfalcon commented on #19483
@cbsiddharth, note that you can (try to) bring the matter before TSC yourself. There may be a better procedure described somewhere, but following should work: post a request present this matter to https://lists.zephyrproject.org/g/tsc, then hopefully get an ack and join next online TSC meeting to speak it up. (Or maybe get a notice that agenda for next meeting is booked up, so it would one after n

[2020-01-09 08:37] Mani-Sadhasivam commented on #19483
It got approved by TSC I believe.

[2020-01-09 08:38] cbsiddharth commented on #19483
@pfalcon, this request did go through the TSC and I got a go ahead on the implementation. @d3zd3z is aware of this. See: https://lists.zephyrproject.org/g/tsc/message/427

[2020-01-09 11:45] carlescufi opened #21789 "Merge topic-gpio back to master"
In order to merge topic-gpio back to master we need to finalize:

- [x] Complete #18530
- [x] Complete #20017
- [x] [@pabigot]Clean up `typedef`s: `gpio_devicetree_flags_t` to `gpio_dt_flags_t` ; replace u32_t with role-specific typedefs in function declarations
- [x] [@pabigot] Deprecate functions and macros
- [x] [@pabigot] Remove the old API implementations
- [x] [@pabigot] As soon as master CI

[2020-01-09 11:46] carlescufi commented on #17102
@pabigot good point, here's a start: https://github.com/zephyrproject-rtos/zephyr/issues/21789

[2020-01-09 12:13] carlescufi commented on #21586
@cvinayak can you please investigate the root cause here. It seems from @joerchan 's investigation that the `mayfly_enqueue` call before the `k_sem_take` is not triggering a `k_sem_give`.

[2020-01-09 12:15] carlescufi commented on #21088
@trond-snekvik Can you also provide feedback on the proposal above?

[2020-01-09 12:52] jfischer-phytec-iot commented on #21789
Could we skip #20017 and convert GPIO users on master? That would avoid conflict and locks.

[2020-01-09 13:05] erwango opened #21790 "tests/kernel/timer/timer_api fails on nucleo_g071rb board"
**Describe the bug**
`test_timer_k_define` fails on nulco_g071rb

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Screenshots or console output**
[code]

[2020-01-09 13:11] carlescufi commented on #21789
As discussed before, this would cause sanitycheck to fail because in-tree samples would be using deprecated functions. If you want to propose an alternative mechanism to merge topic-gpio I suggest you take a look first at  @pabigot's [initial roadmap proposal](https://github.com/zephyrproject-rtos/zephyr/issues/18530#issuecomment-527997161).

[2020-01-09 13:28] rlubos commented on #21775
Hi @vvzvlad,

`NRF_EGU3` is a label for a peripheral, namely Event Generator Unit, instance 3. As nRF52811 has only 2 EGU instances, it is not available in this chip.

The core reason we're seeing this error is that the nRF 802.15.4 radio driver we use in Zephyr is quite dated now, and has no yet support for nRF52811. So in order to build 802.15.4 samples for nRF52811, we'd need to update the driv

[2020-01-09 13:39] rlubos commented on #21780
It's a known issue, unfortunately, see https://github.com/zephyrproject-rtos/zephyr/issues/13941.

I have a solution on one of my branches, which introduces settings module for OpenThread based on Zepyr settings module. It has its flaws due to some shortcomings in the OpenThread/Zephyr API compatibility, it is a working solution though. I'll try to prepare a PR out of it, perhaps we could make it

[2020-01-09 13:43] rlubos commented on #21780
btw, there is a one-year-old PR open, applying the workaround you've proposed, it got stuck though: https://github.com/zephyrproject-rtos/zephyr/pull/12944

[2020-01-09 14:38] carlescufi commented on #21617
@ulfalizer could you comment on this?

[2020-01-09 14:39] WilliamGFish commented on #21764
At a quick glance, it looks like what you have reverted was the change to SOCKET_OFFLOAD back to NET_OFFLOAD, which had been working previously.

[2020-01-09 14:53] jhedberg commented on #21088
@moringe yes, that would probably work, though we should probably also cover the device key case (which is always used together with the primary net key of the device that the device key belongs to, IIRC). Do you want to submit a PR for this?

[2020-01-09 15:24] gpaquet85 commented on #21764
I also think so.

[2020-01-09 16:31] wdhpawa opened #21798 "Bluetooth: host: Allow GATT client to restore subscription info without resubscribing"
**Is your enhancement proposal related to a problem? Please describe.**
When a GATT client subscribes to notifications from a server, the client host layer stores some subscription info in bt_gatt_subscribe_params structs (and possibly elsewhere depending on PR #21682). If the client loses this subscription info (e.g. due to a reboot), there is currently no way to restore it without resubscribing

[2020-01-09 16:38] wdhpawa commented on #21103
I've created a separate issue #21798 to deal with the problem of restoring the subscription info after a reboot.

[2020-01-09 17:09] andyross opened #21800 "Xtensa doesn't save SCOMPARE1 register on context switch"
Xtensa uses a somewhat odd two-instruction sequence for atomic operations.  You first write the SCOMPARE1 special register to the "old value" of the memory address, and then execute a S32C1I instruction to do a compare and swap with a new value if it hasn't changed.

I realized while thinking about the implications of #21771 that the SCOMPARE1 value is not saved by the context switch code.  This m

[2020-01-09 18:15] mbolivar opened #21801 "Logger sample's performance estimates are incorrect"
**Describe the bug**

The performance_showcase() function in samples/subsys/logging/logger/src/main.c does not estimate performance correctly.

**To Reproduce**

Steps to reproduce the behavior:
1. build samples/subsys/logging/logger with the following additional kconfig fragment in thingy_52_immediate.overlay:

[code]

e.g.

[code]

2. flash board and open RTT console (e.g. using Segger Ozone to

[2020-01-09 18:20] #21103 closed

[2020-01-09 19:25] albertofloyd commented on #20125
@wentongwu would it be possible to have this "bypass/force" request to be handled by SoC
for boards/soc that do not support DEVICE_POWER_MANAGEMENT ?
If DEVICE_POWER_MANAGEMENT is support perform the suspension as you indicated and if not to rely on soc sys_set_power_state() is updating updating HW blocks in low power mode?

[2020-01-09 19:28] #21784 closed

[2020-01-09 19:46] WilliamGFish commented on #21764
I put some DBG hex-dump calls in the modem driver and am concerned with the number of rapid calls to the MQTT server, as seen in your message board post.

This appears to be the potential issue or it relates to the polling function which the MQTT client relies on to understand the server connection messages.

More digging tomorrow.

[2020-01-09 21:21] martinjaeger commented on #3076
Just assumed nobody was working on that topic at the moment as it is quite an old one. So tried my best to implement it myself, see above mentioned PR.

[2020-01-09 22:07] dbkinder commented on #21706
@nashif Alas, in the new zephyrproject.org site, there is no longer a list of SDK releases.  We may need to instead link to https://github.com/zephyrproject-rtos/sdk-ng/releases/latest in our documentation instead of to the zephyrproject.org site.

[2020-01-09 22:33] dbkinder commented on #6810
Note how some APIs depend on KConfig settings, as described in #21727, and should be noted in the API doxygen comments.

[2020-01-09 22:45] dbkinder opened #21809 "Update document generating tools to newer versions"
We settled in on specific versions of tools for our project documentation, specifically:
[code]
We've had issues upgrading some of the tools to their latest versions in the past, but now we're rather far behind.  We should investigate moving to later versions of these tools, fix issues encountered, and make it so.   (Switching tools will likely affect the known issues processing we do to remove ex

[2020-01-09 22:48] dbkinder commented on #6781
There are also include files that contain a doxygen defgroup, but the corresponding doxygengroup directive is not found in an API reST file so the content isn't generated in our API docs.  Need to verify that every defgroup has a corresponding doxygengroup mentioning it, and add the missing ones.

[2020-01-09 22:57] dbkinder opened #21811 "Use Doxygen-generated API docs vs. Sphinx/Breath API docs"
Investigate (and implement if feasible) using the doxygen-generated HTML content as a replacement for the API documentation produced by Sphinx/Breath.  The latter has had its issues for years (requiring a "known issues" processor to mask expected warnings), but is easy to create links between documentation prose and the corresponding detailed API material.

There may be some hint in here https://s

[2020-01-10 01:28] wentongwu commented on #20125
@albertofloyd Implementing DEVICE_PM_FORCE_SUSPEND_STATE state is to make sure the possible device ongoing transfers stop and store the states. It depends on SOC not OS where we put that functional code, just to make sure there is no HW issue.
By the way do you have any requirements for the deep sleep request interface between Host and Zephyr, like when received request, Zephyr have to give respon

[2020-01-10 01:29] chen-png opened #21812 "tests/arch/arm/arm_irq_advanced_features failed on reel_board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p auto tests/arch/arm/arm_irq_advanced_features
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.1.0-803-gf05cbb421ddf ***

Running test suite arm_irq_advanced_features
starting test - test_arm_dynamic_direct_interrupts
ASSERTION FAIL [!arch_irq_is_enabled(irq)] @ ZEPHY

[2020-01-10 01:43] chen-png opened #21813 "tests/kernel/timer/timer_api failed on frdm_k64f board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b frdm_k64f -p auto tests/kernel/timer/timer_api/
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.1.0-803-gf05cbb421ddf ***

Running test suite timer_api
starting test - test_time_conversions

PASS - test_time_conversions
starting test - test_timer_duration_period

PASS - test_timer

[2020-01-10 06:37] nordic-krch opened #21819 "Shell fails when dynamic command has empty subcommand"
**Describe the bug**
In order to create dynamic user fills `struct shell_static_entry` structure. One of the fields is `subcmd` which may point to next command in the chain (static or dynamic). If current command is null then shell does not provide auto-completion.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `samples/subsys/shell/shell_module`.
2. Add dynamic commands
[code]
3. Type

[2020-01-10 08:00] pfalcon opened #21820 "docs: "Crypto Cipher" API isn't available in the docs"
So, we have https://github.com/zephyrproject-rtos/zephyr/blob/master/include/crypto/cipher.h#L9 which clearly has docstrings defining a whole API subsystem. However, search for "Crypto Cipher APIs" (section title from that file) doesn't give useful hits: https://docs.zephyrproject.org/latest/search.html?q=Crypto+Cipher+APIs&check_keywords=yes&area=default

It looks like that API is not included in

[2020-01-10 08:03] pfalcon commented on #21820
Note that we have https://docs.zephyrproject.org/latest/guides/crypto/index.html . But that goes just orthogonal: So, Zephyt has own crypto API, in particular, it provides wrappers for 3rd-party libraries, like mbedTLS. Wrappers, because we want to use people to use native Zephyr API, which may be implemented by different underlying crupto providers. And yet we have that "Cryptography" section whe

[2020-01-10 08:12] pfalcon commented on #21820
Actually, looking closer at cipher.h, the majority of comments there are simple comments `/* */`, and not docstring comments `/** */`. @dbkinder, is that what precludes a useful doc section to be generated out of it?

[2020-01-10 11:31] koffes opened #21826 "nRF5340 - frequency set API"
There should be an API to set the APP core freq of the nRF5340.

Currently, the method of changing the core freq is direct register writes.

This API should:
- Change the clock between 64 and 128 MHz.
- Take relevant PANs into account.
- Ensure that timers respond correctly to the clock change. Changing the frequency during execution will generate a number of difficult issues. An alternative to ru

[2020-01-10 12:09] #21318 closed

[2020-01-10 12:59] WilliamGFish commented on #21764
@mike-scott
**Big question**: Why did we move away from net offload and using the module IP stack to using socket offloading? The net offloading is the basis for modem/wifi drivers that are currently used in Zephyr baring the SimpleLink one.

Would it not make sense to revert to using the net (MODEM_RECEIVER) rather than socket offloading (MODEM_CONTEXT) for future portability.? The creation of a

[2020-01-10 13:15] #21715 closed

[2020-01-10 13:22] ioannisg commented on #21650
As far as I could see this has little to do with alignment @andrewboie , it is rather related to the code relocation work done in #10892

I wonder if we could simply rename the initial TEXT Section that contains the vector table to something else.

[2020-01-10 13:34] nordic-krch commented on #21819
Change to NULL in this line:
https://github.com/zephyrproject-rtos/zephyr/blob/9a2e6f87fc3328343dbb2df498cdfeb2552d973d/drivers/i2c/i2c_shell.c#L81

when fix is there.

[2020-01-10 15:13] ggk4u opened #21833 "SRAM not sufficient when building BT Mesh developer guide build on BBC Micro-bit"
When trying to compile sample Mesh code downloaded from BT website(BT Mesh developer guide), I am getting following compilation error...

zephyr version I am using is "Zephyr version: 2.0.99"

Memory region         Used Size  Region Size  %age Used
           FLASH:       96550 B       256 KB     36.83%
            SRAM:       17528 B        16 KB    106.98%
        IDT_LIST:         152 B

[2020-01-10 15:13] ioannisg commented on #21095
Listed as False Positive, in Coverity. Closing this down.

[2020-01-10 15:13] #21095 closed

[2020-01-10 17:22] ioannisg commented on #21650
@wentongwu do you think we can do the above?

[2020-01-10 18:38] pfalcon commented on #21820
David let me know that he no longer oversees Zephyr docs. So, ping to you, @nashif, whether you know of a reason why Crypto API docs shouldn't be in the manual. If not, I'll try to look into getting them rendered there.

[2020-01-10 18:55] DenvE opened #21837 "net: socket: Add dependency to mbedtls"
Add dependency to MBEDTLS for NET_SOCKETS_SOCKOPT_TLS]

Socket_tls.c is depending on mbedtls. If mbedtls is not configured, socket_tls gives
compile issues

[2020-01-10 22:45] andrewboie opened #21840 "need test case for CONFIG_MULTIBOOT on x86"
We don't seem to have tests which prove that CONFIG_MULTIBOOT works, I accidentally broke it in a patch series I was working on but no test failed becasue of it.

[2020-01-10 23:16] andrewboie opened #21843 "CONFIG_INIT_STACKS issue on x86_64"
The code in `go64` assumes that the target stack is always an interrupt stack, although arch_start_cpu() does not require this. Remove the hard-coded CONFIG_ISR_STACK_SIZE usage and provide a stack size in x86_cpuboot_t.

Found via code inspection.

[2020-01-11 05:01] dleach02 commented on #18047
We seem to keep moving this down the release chain. Is this something that is actively being worked?

[2020-01-11 20:10] henrikbrixandersen commented on #18940
As far I see it, that is already fully supported by the current counter API. It is just a matter of having a driver, that configures the underlying counter hardware for counting external events (I have implemented a few these out-of-tree using the counter API already).

[2020-01-11 20:28] henrikbrixandersen opened #21846 "RFC: API: Counter: counter_read() has no way of indicating failure"
## Introduction

The counter API has a method for reading the current counter value with the following function prototype:

    u32_t counter_read(struct device *dev);

This API function does not allow any standard way of indicating a "read failure" since the return value is just the raw, 32-bit counter value.

### Problem description

Counters, like most other devices, may be connected to the SoC

[2020-01-12 08:33] moringe commented on #21088
But,according Mesh Profile 3.8.6.1 Device key The device key (DevKey) is an access layer key known only to the node and a Configuration Client. Thedevice key shall be bound to every network key known to the node.

[2020-01-12 09:28] jhedberg commented on #21088
@moringe you're right. Somehow I had missed this part. I had (wrongly) assumed that the device key is only bound to the network key that it comes together with as part of the provisioning data.

[2020-01-12 12:10] jukkar commented on #21837
Duplicate of #21768 so closing this.

[2020-01-12 12:10] #21837 closed

[2020-01-13 06:44] aescolar commented on #21833
CC @jhedberg

[2020-01-13 06:50] maksimmasalski opened #21848 "sanitycheck duplicate tests Testing/Ztest"
**Describe the bug**
Found duplicate tests in category Testing/Ztest
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run $sanitycheck --export-tests testsuite.csv
2. Open using Excel.
3. Find that testcases

**Expected behavior**
All tests should have unique names.

**Impact**
Wrong count of the passed tests.

**Environment (please complete the following information):**
 - OS: Fedora

[2020-01-13 09:01] jhedberg commented on #21833
I think you'll need to look at the app's build configuration (prj.conf probably) to see what you can fine-tune. Perhaps some thread stack size can be reduced, buffer sizes shrunk or number of buffers reduced. Yet another option is to use the same Zephyr version that the developer guide was originally created for, which I believe is 1.14.

@bluetooth-mdw do you think you'd be able to help out here?

[2020-01-13 09:29] bluetooth-mdw commented on #21833
Hi, the current release of the SIG's Bluetooth Mesh Developer Study Guide is based on V1.12 of the Zephyr SDK. If you take a look at page 6 of the Coding Exercises Introduction document, you'll see that it says this.

Try checking out V1.12 and you should be OK.

FYI I have created version 2.0 of this educational resource and it is based on v1.14 of Zephyr which contains a Bluetooth qualified impl

[2020-01-13 10:31] nordic-krch commented on #21846
Sounds ok. Counter API was initially created for internal peripherals thus direct readout but as it fits external devices then it should be extended.

[2020-01-13 11:03] #21716 closed

[2020-01-13 12:35] md-jamal commented on #21611
How can we provide chip select pin in device tree?

[2020-01-13 12:41] AdrianEggenberger opened #21854 "HCI-UART: Bluetooth ACL data packets with 251 bytes not acknowledged"
**Describe the bug**
I'm using the Zephyr HCI UART sample on an PCA10040 board as a HCI controller. As HCI host I've written an application on Windows that communicates over the HCI UART with the PCA10040 board and acts as a BLE host.

When a BLE peripehral is connected and data length extentions are activated (MTU => 251 bytes) sent ACL data packets with size of 251 bytes are not confirmed. If on

[2020-01-13 13:02] aescolar commented on #21854
CC @joerchan @cvinayak @carlescufi

[2020-01-13 13:14] joerchan commented on #21854
@AdrianEggenberger Could you enable CONFIG_ASSERT=y and check if you run into any asserts? You have to use the very latest commit, otherwise you need to enable CONFIG_NET_BUF_LOG=y to get the asserts in net_buf. Then we could see if any buffers are being overrun.

[2020-01-13 13:21] de-nordic commented on #18927
If you are potential uses of the feature or want to have your input, please look at the review of a proposed solution here: https://github.com/zephyrproject-rtos/zephyr/pull/21657 , thanks.

[2020-01-13 13:56] AdrianEggenberger commented on #21854
I've modified the configuration with the ASSERT and the NET_BUF_LOG support and tried again. There was no assert.

To get more information I've switched from HCI-UART to HCI-USB. This allowed to have a CONSOLE output over UART while using the USB interface for HCI. There error behavior is the same wiht HCI-USB.

I've created a log file with the same operation, but one time with the ACL data limite

[2020-01-13 14:06] philips77 opened #21859 "Bluetooth LE Disconnect event not received"
**Describe the bug**
My fw is based on zephyr (last commit: 9a0a85cf67602e4fa5b0c6d7cef2c5e58ca4ac34). I tried zephyr LL and the old deprecated one with the same result. Phone Sony L4312 with Android 8.1 receives number of notifications with PHY LE 1M and MTU 498. After around 70 of them sent as fast as possible from the device, looks like the phone can't handle more and sends LLCP Termination. Th

[2020-01-13 14:08] philips77 commented on #21859
After
[code]
the log should print "Disconnected, reason...xxx".

[2020-01-13 14:15] wentongwu commented on #21650
@ioannisg I think we can rename this section, maybe vector_table_section.

[2020-01-13 14:31] tbursztyka commented on #21538
If the driver is not using DMA, yes that will be the nominal behavior. Some device - not using DMA - have an internal buffer to be filled up, so it limits such interrupts but it is very often the device relies on the host cpu to feed it byte by byte due to hw limitations. I don't see this as an actual issue unless the device can support DMA and the feature is just not enabled in the driver. Either

[2020-01-13 15:30] rlubos commented on #13941
For anyone interested, due to recurring issues with existing OpenThread settings impelmentation (#21780), I've posted a PR with OT settings rework: #21796.

[2020-01-13 19:40] henrikbrixandersen commented on #21846
Great. Thanks for your feedback. What is the next step here? Should I create a pull request?

[2020-01-13 19:41] jonasn-ge opened #21869 "IPv6 neighbors get added too eagerly"
When receiving an IPv6 neighbor solicitation packet, the sender gets added to the neighbor cache even if the NS was not intended for this node. Then a NS packet is sent back to the sender.

This has some bad consequences:
 - The neighbor table gets filled up quickly with addresses that don't have any intention to communicate with the Zephyr node.
 - Zephyr generates unnecessary NS packets to addre

[2020-01-13 20:49] raveslave commented on #20388
@tbursztyka but can you have both SPI_OP_MODE_MASTER & SPI_OP_MODE_MASK for the same physical SPI, allowing to switch between the two runtime?

[2020-01-13 21:59] andrewboie opened #21871 "x86 doesn't quite handle aborts correctly for non-maskable interrupts"
Some types of exceptions ignore interrupt locking: machine checks, non-maskable interrupts, double faults.

These currently all go through the exception handling path on x86_64. In these cases, if they happen at the wrong time, the check to determine whether we need to swapgs and/or update page tables may not be correct. This can happen in between when the CPU pushes the code segment onto the stac

[2020-01-13 22:50] ioannisg commented on #21650
@wentongwu @andrewboie  I am ok with that. Actually, at least 2 other architectures, Risc-V and Nios2 have a similar thing, that is, several sections at the beginning of ROM (vector, reset exception section) followed by the text section.
This means that __image_rom_start and __image_text_start will be different. The whole thing seems trivial; I'll send a PR and we can take the discussion there. I

[2020-01-13 23:00] andrewboie opened #21875 "sanitycheck warning for silabs,gecko-spi-usart.yaml"
[code]

I ran:

[code]

[2020-01-13 23:10] sslupsky commented on #21538
I suggest there could be a switch for "atomic" transfers that could be passed along to the i2c driver.  Such a switch would be useful in the case where there is a very long transfer where you do want to yield to the kernel between parts of the transaction.

[2020-01-13 23:13] andrewboie commented on #21431
I'm looking at the serial driver system calls today. Adding the system calls themselves does not seem too hard.

We have a small problem: async UART APIs are only implemented for two serial drivers: sam0 and nrfx. There are currently no platforms that are user-mode capable that also have the async UART APIs implemented in their serial driver, so I can't test whether this actually works even though

[2020-01-13 23:23] sslupsky commented on #21549
I believe I have narrowed down the cause to the scheduler.  The driver waits on a semaphore between messages of the transaction.  When it does so, the kernel can end up inserting a delay anywhere from a few 10's of microseconds to 100's of milliseconds.  If I busy wait for the semaphore, I can eliminate the delay.

This suggests perhaps an issue exists with setting timeouts in the kernel.  I read

[2020-01-13 23:36] andrewboie commented on #21650
@ioannisg sounds right -- what we really have here is a special rodata section immediately before the actual program text.

Thinking out loud: could we just reverse the order of the text and rodata sections? So what we have now is:

[code]

Could we just do

[code]

[2020-01-14 00:47] andrewboie opened #21877 "tests/drivers/uart/uart_async_api fails on qemu_cortex_m0"
[code]

[2020-01-14 00:49] andrewboie commented on #21877
For some baffling reason, this doesn't fail when sanitycheck runs it.

[2020-01-14 08:58] tbursztyka commented on #21869
No, that's clearly a bug.

Well no, it would fix the bug you found :)

[2020-01-14 09:37] oyvindronningstad opened #21888 "Print unmet Kconfig dependency"
**Is your enhancement proposal related to a problem? Please describe.**
When the following is printed

    warning: MY_CONFIG (defined at ...) was assigned the value 'y' but got the value 'n'.

It's often to figure out manually what Kconfig dependency is not met, especially if cmake fails so there's no `menuconfig` to run.

**Describe the solution you'd like**

Print which dependency was not met.

[2020-01-14 09:59] ulfalizer commented on #21888
Will get https://github.com/zephyrproject-rtos/zephyr/pull/20742 in first, because it changes some stuff in `scripts/kconfig/kconfig.zephyr`.

[2020-01-14 11:04] jukkar commented on #21869
Would you be able to submit a PR that fixes this?

[2020-01-14 11:54] conq commented on #17005
Update:

I have now written a license.txt file that we'll distribute with our SDK in the future (hopefully the next patch release). Could someone from the Zephyr project tell me if this would be sufficient for your needs?

[License.txt](https://github.com/zephyrproject-rtos/zephyr/files/4058952/License.txt)

[2020-01-14 13:13] yasokada opened #21899 "STM32F769I-DISCO > microSD + FatFS > failed in "samples/subsys/fs/fat_fs" > CMD0 and 0x01"
**Describe the bug**

Using STM32F769I-DISCO, the microSD and FatFs project fails
1. Sending CMD0 command
2. Receiving 0x01

**To Reproduce**

Please see the following article for the detail.

- [2020 Jan. 14 Zephyr > STM32F769I-DISCO > microSD + FatFS > failed in "samples/subsys/fs/fat_fs" > CMD0 and 0x01](https://qiita.com/7of9/items/26797bd01819826dea2a)

If there is any necessary information,

[2020-01-14 13:24] carlescufi commented on #21798
@Vudentz or @joerchan any feedback?

[2020-01-14 13:41] carlescufi commented on #21877
@Mierunski any input on this issue?

[2020-01-14 14:43] rettichschnidi commented on #17005
Nice to see that SiLabs is reacting. Thanks!

Feedback (warning: I am not affiliated with Zephyr): I think that the direction is right, but that the zlib is not an appropriate license for the binary only parts.

[2020-01-14 14:50] Mierunski commented on #21877
This test needs physical connection between RX and TX on second UART not used for console to pass

[2020-01-14 15:49] motet commented on #21545
I have a partial COSE implementation available as an external [Zephyr module](https://github.com/motet/cozy) for anyone interested.

[2020-01-14 16:27] lbise opened #21914 "net: dns: Answers to multiple mDNS queries sent in parallel aren't properly handled"
When trying to resolve several different mDNS names at the same time, the answers received for each queries aren't always properly matched to the initial query.

This is because mDNS queries always have an ID of 0, so when receiving an answer in dns_read, the query slot returned will always be the first of the list since all IDs are at 0:
https://github.com/zephyrproject-rtos/zephyr/blob/404aaec44

[2020-01-14 16:27] jonasn-ge commented on #21869
Yes, that is my intention.

[2020-01-14 16:44] carlescufi commented on #21846
Yes, and you can also deprecate `counter_read()` in the same PR. Since this is not a Stable API change (without deprecation) you don't need to do anything extra in this case.

[2020-01-14 17:36] jhedberg commented on #18047
@dleach02 AFAIK @joerchan has been working on it and should be submitting a draft PR soon. Actually, should this be reassigned from @carlescufi to @joerchan ?

[2020-01-14 18:00] joerchan commented on #18047
Assigned myself and put them in progress.

[2020-01-14 18:03] jukkar commented on #21869
Thanks, much appreciated!

[2020-01-14 18:25] brooksprumo commented on #18554
Hi all, I found a C++ issue with mcuboot.h, which was missing `extern "C"` guards.  I've created a PR for it here:

https://github.com/zephyrproject-rtos/zephyr/pull/21916

I'm not sure if this is the right place to track this PR, so please let me know if I should comment elsewhere.

[2020-01-14 18:26] galak commented on #21772
max31875 doesn't seem to be a driver in the code base.  As I'm assuming this is your own driver, then you are using deprecated DTS generated macro's and thus you are getting those warnings. This is expected behavior.

[2020-01-14 18:34] attdona opened #21917 "cmake error with CONFIG_COUNTER and CONFIG_BT both enabled (nrf52 board)"
cmake fails if both `CONFIG_COUNTER` and `CONFIG_BT` are set in `prj.conf`

With my actual knowledge of zephyr build system I'm not able to troubleshooting myself the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. cd $ZEPHIR_HOME/samples/bluetooth/beacon
2. Add CONFIG_COUNTER=y in prj.conf
1. Added Kconfig file:
[code]
1. mkdir build; cd build
2. cmake -DBOARD=nrf52840_pca10056 ..

[2020-01-14 19:02] ulfalizer commented on #21917
CC @SebastianBoe

[2020-01-14 20:51] seanmlyons22 commented on #21372
@happymili , I am seeing the same issue as you.
Seeing this with both the [Zephyr fork](https://github.com/zephyrproject-rtos/openocd) of openocd as well as the [TI OPENOCD Package](http://www.ti.com/tool/SIMPLELINK-OPENOCD).

On zephyr revision `d24e5e520c`.

We have very similar versions of the Emulator pack firmware on the XDS110.

[code]

[2020-01-14 21:07] seanmlyons22 commented on #21372
[This post](https://e2e.ti.com/support/wireless-connectivity/sub-1-ghz/f/156/t/837129?tisearch=e2e-sitesearch&keymatch=launchxl-cc1312r1) seems to confirm the suspicion that it is related to the emupack f/w differences from TI.

Until openocd is updated to support this new f/w, is there a way to modify the CLI args that west uses when invoking openocd?

[2020-01-14 23:15] andrewboie opened #21922 "sanitycheck: add option to delete passing output artifacts"
**Is your enhancement proposal related to a problem? Please describe.**
A full sanitycheck build uses a ton of disk space. Just "sanitycheck" with no arguments fills up my 32GB ramdisk when it's only half done. If something fails, I'm typically only interested in examining the artifacts for failed tests.

**Describe the solution you'd like**
A non-default command line option to have sanitycheck im

[2020-01-14 23:26] andrewboie opened #21923 "IRQ locking during exceptions isn't consistent"
**Describe the bug**
We should have well-defined behavior for whether interrupts are enabled on the current CPU when servicing an exception, like a fatal error, page fault, MPU fault, etc.

On ARM, they are unlocked.
On x86 32-bit, they are unlocked if and only if the faulting context also had interrupts locked.
On x86-64 they are unlocked unless the fault is from an ARCH_EXCEPT() path (oops, pani

[2020-01-15 00:07] rettichschnidi commented on #17005
@conq The topic is now on the agenda for the [Technical Steering Committee (TSC)](https://github.com/zephyrproject-rtos/zephyr/wiki/Zephyr-Committee-and-Working-Group-Meetings) call on [today](https://docs.google.com/document/d/1xiO721JwqW_H_BpGMOJ4PY3vLVy7nxW2fhy841nsP10/edit#heading=h.zae04rtp0qyo). Maybe you can take part in it?

[2020-01-15 08:05] erwango commented on #21762
@jhedberg, STM32 platform are ticked by cortex_m_systick. Only impact on 'k_sleep' that could be seen from stm32 code could be the configuration which would have a constant impact.

Reported issue is dynamic, so I'd say that potential issue lays either in 'k_sleep' or cortex_m_systick timer code. I propose to check fisrt cortex_m_systick.

@ioannisg, can you provide your view on recent cortex_m_sy

[2020-01-15 08:32] cvinayak commented on #21854
@AdrianEggenberger  as I dont have your host, I have tested a modified Zephyr peripheral and central_hr application transmitting 251 bytes of HCI data payload (or 247 bytes ATT MTU) for GATT write without response. Above case, both with and without Data Length Update to 251 bytes PDUs.

Both the cases have no issue with 251 bytes of HCI data payload (247 ATT + 4 L2CAP header). Also, Bluetooth Conf

[2020-01-15 08:47] activebug202 commented on #21812
@ioannisg @chen-png
I have solved the bug.
This is my pull request, please review.thx.
https://github.com/zephyrproject-rtos/zephyr/pull/21929

[2020-01-15 10:54] Mhrooczny opened #21932 "Current consumption on nrf52_pca10040, power_mgr sample"
Hi all,
It is my first post here and i hope that you can help me with this.

**Describe the bug**
I think that i got too high current consumption on nrf52_pca10040 devkit board. Im building `samples/boards/nrf52/power_mgr`. When board is going to `k_sleep()` function power profile shows current about ~300uA with it too much for "deep sleep".
Got warning when project is building to nrf52_pca10040 b

[2020-01-15 11:51] a8961713 opened #21935 "SPI - STM32: transceive() should handle null tx buffer"
**Describe the bug**
According to the documentation for `struct spi_buf` in `spi.h`, when setting `buf` member to a null-pointer, dummy bytes should be sent on MOSI line.

[code]
But when using STM32 driver `spi_ll_stm32.c`, setting `buf` to a null pointer results in a null-pointer de-reference (e.g. line 100):
[code]
The cause for the problem stems from #20948 and later from #21772
These commits

[2020-01-15 11:57] tbursztyka commented on #21935
Good catch. Would you mind sending a PR directly, since you have the right fix already?

[2020-01-15 12:07] a8961713 commented on #21935
No need. tx_frame is already initialized to zero at the beginning of this function.

[2020-01-15 12:08] tbursztyka commented on #21935
indeed, confused it with rx_frame.

[2020-01-15 12:24] erwango commented on #21935
@a8961713, good catch, this should have actually been reverted as part of https://github.com/zephyrproject-rtos/zephyr/pull/21722.
Can you submit a PR ?

[2020-01-15 14:10] rmstoi opened #21949 "net: TCP: echo server deadlock from TCP packet"
echo server blocks from TCP packet with EOL TCP options. After this packet echo server consumes 100% CPU and does not reply to any other messages.

It seems this issue is introduced by commit d7d3462d912411af40647bf9eeaa4703424a610c

A working solution is to use k_yield, to let also other threads to run

[code]
Attached pcap from this test

[tcp-eol-options.pcap.gz](https://github.com/zephyrprojec

[2020-01-15 14:14] paulgavrikov commented on #20981
No longer happening with r. 2.1

[2020-01-15 14:14] #20981 closed

[2020-01-15 14:38] jukkar commented on #21914
@lbise fix proposal at #21952. I tested it and everything seems to work ok but it would be great if you could verify that it works now as expected.

[2020-01-15 15:25] SebastianBoe commented on #21917
Hi, BT is using RTC0, you need to use RTC2 instead.

[2020-01-15 15:26] SebastianBoe commented on #21917
e.g. in beacon/prj.conf:

[code]

[2020-01-15 15:26] #21917 closed

[2020-01-15 16:10] hakehuang opened #21955 "usb: tests/subsys/usb/device fails on all NXP RT boards"
**Describe the bug**
see log

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1050_evk ..
cmake -DBOARD=mimxrt1015_evk ..
cmake -DBOARD=mimxrt1060_evk ..
cmake -DBOARD=mimxrt1064_evk ..
cmake -DBOARD=mimxrt1020_evk ..
3. make
4. make flash
5 see the error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impa

[2020-01-15 16:11] hakehuang commented on #21955
@MaureenHelm

[2020-01-15 17:17] carlescufi commented on #17005
That is great, thank you. Would you consider also adding a `LICENSE` file in the ` platform/radio/rail_lib/autogen/librail_release` folder that includes the zlib license text? That would help because then Zephyr could import that folder only and rely on the `LICENSE` file being there without any references to the SiLabs proprietary license. I don't think this is strictly required, but it would cer

[2020-01-15 17:20] KubaFYI commented on #15580
Are we expected to need to change this manually every single time? Is there a way to make that into a permanent change?

[2020-01-15 19:54] psidhu commented on #15435
@erwango Want me to create a PR for this?

[2020-01-15 20:14] MrPointer commented on #20981
@paulgavrikov What timing.
In the last few days, we've been encountering **very** similar issues, with the fault address pointing to the same line in the _dlist_ module.
Thing is - We're working with v2.1 as well :worried:

At first, we did suffer from some buffer overflows as suggested in one of the comments here, but we've solved all of them by now, and the issue persists.
Unfortunately, it's no

[2020-01-15 20:17] psidhu commented on #15278
@jukkar @henrikbrixandersen It looks like CanOpenNode changed their license to Apache-2.0: https://github.com/CANopenNode/CANopenNode

[2020-01-15 20:19] henrikbrixandersen commented on #15278
Correct. We are currently working to get #19510 ready for Zephyr v2.2.

[2020-01-15 21:47] rckTom opened #21962 "drivers: usb: usb_dc_stm32: does not compile for stm32f3_disco board"
**Describe the bug**
tests/subsys/usb/device (specifically drivers/usb/device/usb_dc_stm32.c) does not compile for stm32f3_disco board. Bisecting the problem leads to commit 7165803 which introduced a new version of the STM32Cube packages.

**To Reproduce**
Steps to reproduce the behavior:
1. cd test/usb/subsys/device
2. west build -b stm32f3_disco

**Expected behavior**
USB driver should compile

[2020-01-15 22:15] andyross commented on #21317
OK, we're getting farther.  There's another, somewhat similar race involved with waiting for a z_swap() to complete.  When swap begins, it does the scheduler work involved with re-queuing the _current thread (inside the scheduler lock, of course), and then it enters arch_switch() to do the actual context switch.  But in the cycles between those two steps, the old/switching-from thread is **in the

[2020-01-15 22:15] andyross commented on #21317
(applying that on top of #21903 that is)

[2020-01-15 23:02] vanti commented on #21372
@seanmlyons22 I think the post you are referring to is on the right track. @happymili, as a workaround, could you try to add the following line at the bottom of _boards/arm/cc26x2r1_launchxl/support/openocd.cfg_:

`adapter_khz 1500`

I upgraded to firmware 3.0.0.5 and the above allows me to flash successfully with 'west flash'.

[2020-01-15 23:30] galak commented on #21962
I think this might be the fix, but need @erwango or someone else more familiar with the usb & stm32 code to verify:

[code]

[2020-01-16 06:21] ydamigos commented on #21962
@galak Your patch seems reasonable.

[2020-01-16 08:18] jfischer-phytec-iot commented on #21955
#21175 should fixes this issue

[2020-01-16 08:33] codingspirit opened #21967 "json: json_obj_parse will modify the input string"
**Describe the bug**
The end `"` of string items will be changed to `\0` after `json_obj_parse`, i.e.  we have a char array like this:
[code]
if using `json_obj_parse` to proceed it, then it will be changed to
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a json char array with string items
2. decode it with `json_obj_parse`
3. print out the json char array
4. see modificatio

[2020-01-16 08:38] AdrianEggenberger commented on #21854
After your test that the transfer seems to work properly I decided to setup a test environment that can be attached to this issue. I setup a minor application that connects to a peripheral, does DLE exchange to set the MTU to 251 and then initiates an ACL transfer with 251 bytes (ATT Write Command with 244 bytes). The strange thing is that in this simplified setup the transfer works as expected...

[2020-01-16 08:50] erwango commented on #15435
@psidhu, yes please

[2020-01-16 09:30] lbise opened #21970 "net: dns: mDNS resolving fails when responder is also enabled"
https://github.com/zephyrproject-rtos/zephyr/pull/18797 introduced the possibility to enable both mDNS responder and resolver at the same time. Now all multicast packets are correctly received by each subsystem.
There is an issue now with a setup with 2 zephyr nodes with both resolver and responder enabled and actively resolving names. The resolver submodule will receive mDNS queries instead of on

[2020-01-16 09:31] lbise commented on #21914
Thanks for the speedy fix jukkar. This particular issue is now fixed. I have opened another issue for another problem if you could take a look, I think the fix is trivial. https://github.com/zephyrproject-rtos/zephyr/issues/21970

[2020-01-16 09:54] #21586 closed

[2020-01-16 10:48] ioannisg commented on #21650
#21874 fixes this for Cortex-M, I would prefer if @stephanosio provides the fix for Cortex-R.

[2020-01-16 12:49] erwango commented on #21568
@jhedberg  Can we increase the priority ? Frequency of the failure is non negligible

[2020-01-16 13:29] pabigot opened #21974 "make include hierarchy consistent with expected usage"
In response to a review comment I proposed #21776 which removed the implicit addition of `${ZEPHYR_BASE}/include/drivers` from the default include path, so that `<drivers/sensor.h>` would be enforced.  This breaks bluetooth, which wants to use `<bluetooth/whatever.h>` but the location is `${ZEPHYR_BASE}/include/drivers/bluetooth`.

It would be nice if the two were consistent, which probably means

[2020-01-16 13:36] SebastianBoe commented on #21974
FYI: @jhedberg , @joerchan , @cvinayak

[2020-01-16 13:36] jhedberg commented on #21568
@erwango do you know who might be able to take ownership of this issue (i.e. have it assigned to them)? We can change the priority, but without an assignee I'm afraid it will not make much difference.

[2020-01-16 13:43] joerchan commented on #21974
In `include/drivers/bluetooth` there is only `hci_driver.h`. Most HCI drivers are implemented in Zephyr itself. So only out-of-tree HCI drivers would be affected by this.

I don't mind switching to `drivers/bluetooth/hci_driver.h` to make in consistent. It would require updating our downstream HCI driver but shouldn't pose any big issues.
I`m currently not aware of any other maintaining their hci

[2020-01-16 13:44] erwango commented on #21568
@jhedberg, if there is not board owner then maybe the subsystem owner ?

[2020-01-16 13:48] #21673 closed

[2020-01-16 13:49] joerchan commented on #21974
Actually it appears both paths are used. And our downstream use `drivers/bluetooth/hci_driver.h` so only zephyr HCI drivers are affected (that I'm aware of).

[2020-01-16 15:09] #21962 closed

[2020-01-16 15:37] SebastianBoe commented on #21617
In NCS one can specify the mcuboot prj.conf like this:

https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/applications/nrf_desktop/CMakeLists.txt#L34

In Zephyr upstream it doesn't make sense to put a child image's build dir inside of the parent image's build dir so this problem does not exist.

Please re-open if more clarification is needed.

[2020-01-16 15:37] #21617 closed

[2020-01-16 15:53] dleach02 commented on #21813
@chen-png, I have not been able to reproduce the failure. Does this error happen to you on every run or only occasionally?

[2020-01-16 16:37] albertofloyd commented on #20125
Understood, I meant to ask if force suspend request Soc requirements can be specified like this.
1) Requires the SoC device drivers to implement DEVICE_PM_FORCE_SUSPEND_STATE state
or
2) Requires SoC power management module to ensure HW transitions
Original comment makes me wonder if 1) is mandatory or 2) is good enough before 1) is in place

[2020-01-16 17:24] tgwaste opened #21980 "Doesnt Install on Raspberry Pi"
During:
pip3 install --user -r ~/zephyrproject/zephyr/scripts/requirements.txt

There were lots of errors with regard to **No package 'libffi' found**
So I installed: **apt-get -y install python-cffi libffi-dev**

[code]

Would be awesome if this worked on Pi.

[2020-01-16 17:34] #20561 closed

[2020-01-16 18:37] nashif commented on #21980
install python development packages

[2020-01-16 18:40] nashif commented on #21848
you can find duplicates more easily:
[code]

[2020-01-16 18:41] nashif commented on #21848
@maksimmasalski  Please take a look at the duplicates and see if you can provide a fix...

[2020-01-16 18:45] tgwaste commented on #21980
Please be more specific.

[2020-01-16 18:48] nashif commented on #21820
This is correct, need `**`, but also need to put this in some group to make it easy to import them into rst, so first goal is to get them listed here:

https://docs.zephyrproject.org/apidoc/latest/modules.html

@pfalcon  you already started fixing that, so it would be great if you can continue... reassigning.

[2020-01-16 18:52] pfalcon commented on #21820
Sounds good, in my list.

[2020-01-16 19:05] nashif commented on #21301
The manual steps work for me just fine, I get more than libc

[2020-01-16 19:05] #21301 closed

[2020-01-16 19:07] nashif commented on #19492
no updates or sings of this being a bug yet, closing.

[2020-01-16 19:07] #19492 closed

[2020-01-16 19:13] kaidoho commented on #21519
@carlescufi you are right, on the one hand I am waiting for directions and on the other I began to look into GCC / newlib to find out what it takes to have them support a Zephyr thread model. This will end in an RFC with the aim to have a custom toolchain for Zephyr. Perhaps, one would implement this PR differently when GCC / newlib has to be patched anyway. So, I think it is best to write the RFC

[2020-01-16 19:23] nashif commented on #21670
dont remember, but this was a design decision back when this was introduced, the relevant parts from the original RFC (from 2015):

[code]

[2020-01-16 19:59] pabigot commented on #21611
The Zephyr board support for SAM E70 doesn't seem to have SPI infrastructure in it.  You will probably have to add it.  I would use `atsamd20_xpro` as an example.  You will need to add SPI-related options to `sam_e70_xplained_defconfig`, and to add configuration in the pinmux.c file as well.  If SAM E70 uses pinmux you won't need a `cs-gpios` property.

I don't see any other boards that use `CONFI

[2020-01-16 20:05] jfischer-phytec-iot commented on #21670
`struct device_config` will be placed in the ROM section [".devconfig.init"](https://github.com/zephyrproject-rtos/zephyr/blob/master/include/linker/common-rom.ld#L73)

[2020-01-16 20:36] DenvE opened #21984 "i2c_4 not working on stm32f746g_disco"
**Describe the bug**
Enabling I2C_4 on stm32f746g_disco is not working as the pinmux doesn't have the pin mapping for I2C4 ( exp STM32F7_PINMUX_FUNC_PD13_I2C4_SDA)

**To Reproduce**
1. add to proj.conf
# Enable I2C4
CONFIG_I2C=y
CONFIG_I2C_4=y

CONFIG_HAS_DTS_I2C=y

CONFIG_I2C_STM32_INTERRUPT=y
CONFIG_I2C_INIT_PRIORITY=60

2. enable i2c4 in board dts
&i2c4 {
	status = "okay";
	clock-frequency = <I

[2020-01-16 21:18] mrfuchs opened #21989 "websocket: recv_msg always returns full message length on last call"
`websocket_recv_msg()` always returns full message length on last call:
https://github.com/zephyrproject-rtos/zephyr/blob/ba98e72db2f0c921ebb6a6d957a9c3609daec354/subsys/net/lib/websocket/websocket.c#L821

This is probably meant to limit the length to the actual message length when the buffer contains additional trailing data (of another message) and is fine when messages are entirely read at once

[2020-01-16 21:37] mrfuchs commented on #21989
Looking at this once more, though it worked for me, this fix obviously is not right. It should fail when payload data is read in chunks and the input buffer has trailing data.

[2020-01-16 21:57] jbroxson-fbrl commented on #21772
Yes - this is a custom driver. I apologize for my lack of knowledge on this one, but can you point me to something which shows avoiding "using deprecated DTS generated macro" to correct the issue?

Are you referring to our use of DEVICE_DEFINE() within the driver itself or something else within how we use DTS?

[2020-01-16 22:49] andrewboie opened #21991 "memory domain locking may not be entirely correct"
**Describe the bug**
The memory domain APIs have a global spinlock in kernel/mem_domain.c to serialize access to memory domain data structures. However, the memory domain structures may also be accessed from within the arch code, without holding these locks.

For example, on x86, arch_user_mode_enter() examines the thread's current memory domain object and updates page tables based on its contents

[2020-01-16 22:51] andrewboie commented on #21991
Leaving this as low priority for now until we can do some deeper analysis, but wanted to get this in GH.

[2020-01-16 23:27] wentongwu commented on #20125
@albertofloyd I think ensure HW handles the force suspend is good enough.

[2020-01-17 00:19] #21922 closed

[2020-01-17 00:20] #21974 closed

[2020-01-17 00:23] yingmingx commented on #21813
I have reproduce  this failure only on the commit id f05cbb4.  The error does not happen in the later version version 5c1a3f and the commit 4e13 which is before f05cbb4.
I add 1ms sleep before the second test in the function test_timer_k_define, it passed, I think it probably have some issues on arch related porting.

@@ -412,6 +413,7 @@ void test_timer_k_define(void)
         * one will get added

[2020-01-17 03:40] chen-png commented on #21813
it failed occasionally.
i saw it again with commit ebaed210c, but it seems that it's difficult to reproduce.

[2020-01-17 04:41] cvinayak opened #21993 "Bluetooth: controller: split: Move the LLL event prepare/resume queue handling into LLL"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

Currently events to be resume are placed back into pipeline which is processed by ULL. ULL triggers
the events to be executed in LLL when previous event is done.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

This loop

[2020-01-17 05:05] cvinayak opened #21994 "Bluetooth: controller: split: Fix procedure complete event generation"
**Describe the bug**
Generate PHY update complete and Conn Update events after the on-air instant

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstoppe

[2020-01-17 05:06] cvinayak commented on #21994
Use inspiration from legacy controller: zephyrproject-rtos/zephyr@2bf9d49

[2020-01-17 05:20] cvinayak opened #21995 "Bluetooth: controller: split: Porting of connection event length"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

Without use of connection event length, radio events would overlap and cause degradation in performance/throughput.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Be inspired by zephyrproject-rtos/zephyr@32c2f85

**Desc

[2020-01-17 05:27] md-jamal commented on #21611
But the board support page says 'spi is supported'
![image](https://user-images.githubusercontent.com/5285421/72586539-2f131700-3918-11ea-950c-aad2ded1e120.png)

Am i missing anything?

[2020-01-17 06:21] leewkb4567 opened #21996 "Native POSIX or QEMU X86 emulation does not detect Bluetooth HCI Vendor-Specific Extensions"
**Describe the bug**
When running on Native POSIX or QEMU X86, Bluetooth peripheral examples does not use the static random address in PCA10040 (nRF52 DK). Instead the Bluetooth device address is randomly generated. It is found that Bluetooth HCI Vendor-Specific Extensions is not enabled in these build targets.

**To Reproduce**
1. Connect a PCA10040 running hci_uart sample to Linux system.
2. Att

[2020-01-17 06:21] yingmingx commented on #21813
I used git bisect command and found that it was first failed at commit-id 8bdabcc.

[2020-01-17 07:31] erwango commented on #21984
This is not a bug.
If I2C4 is not configured for this board or the series, then support should be added, this is an enhancement.

[2020-01-17 08:02] #21949 closed

[2020-01-17 08:02] ioannisg commented on #18962
Closing this since it is already marked as "False positive" and "Action: ignore" in Coverity

[2020-01-17 08:02] #18962 closed

[2020-01-17 08:06] ioannisg commented on #14122
@pfalcon could you re-visit the documentation and comment if this issue described here still applies?

[2020-01-17 08:08] jhedberg commented on #21996
It's not safe to have the vendor extensions enabled by default when we don't know for sure what controller is connected. HCI vendor commands all share the same opcodes, so it's possible that they map to some completely different vendor command set, and could cause harmful behaviour. It's therefore best to leave the extensions disabled by default and leave it up to the discretion of the user to ena

[2020-01-17 08:10] jhedberg commented on #21996
FYI @joerchan @carlescufi, @Vudentz in case you have any opinion on this

[2020-01-17 08:15] DenvE commented on #21984
Hi Erwan,

sorry for this, I have done already a pull request.

i2c4 was not enabled on disco board in zephyr, but I have an own board with
this controller and have added i2c4. It was missing these pinmux defines in
the zephyr tree.  That is why I though it was a bug.

To be clear: if not yet added to supported boards, it should consider as
enhancement.

Kr,

Wim

On Fri, Jan 17, 2020 at 8:31 AM E

[2020-01-17 09:10] joerchan commented on #21996
@jhedberg There seems to be a Kconfig issue here. Because the BT_HCI_VS cannot be selected unless BT_HAS_HCI_VS is set, which is a hidden option used by the controllers to claim Zephyr HCI VS Support. This option cannot be set by the application AFAIK.

At the moment BT_HCI_VS_EXT_DETECT cannot be set for NATIVE_POSIX, even though it is default to yes for this board.

[2020-01-17 09:23] jhedberg commented on #21996
@joerchan good point - I didn't realise this. Perhaps the `depends on` should be removed and the default be made `default BT_HAS_HCI_VS`?

[2020-01-17 09:31] joerchan commented on #21996
@leewkb4567 With the given fix. It should work by adding these options to your configuration.
BT_HCI_VS
BT_HCI_VS_EXT

(BT_HCI_VS_EXT_DETECT should be set to default y in this case).

[2020-01-17 09:38] rlubos commented on #21780
Resolved by #21796.

[2020-01-17 09:38] #21780 closed

[2020-01-17 09:38] rlubos commented on #13941
Resolved by #21796.

[2020-01-17 09:38] #13941 closed

[2020-01-17 09:39] rlubos commented on #5943
No longer an issue with #21796.

[2020-01-17 09:39] #5943 closed

[2020-01-17 09:41] rlubos commented on #6389
No longer an issue with #20106, closing.

[2020-01-17 09:41] #6389 closed

[2020-01-17 10:03] alexandru-porosanu-nxp opened #22003 "'central' failure on nrf52_pca10040"
**Describe the bug**
When running the central sample on the latest master (33929cb96052af3c61367d00f55cfe4bbaabe470), after a couple of connect/disconnects, an assertion is triggered, as per the log below
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. cmake -Bbuild_nrf -G"Eclipse CDT4 - Ninja" -DBOARD=nrf52_pca10040 /work/b06830/zephyr/zephyr-source/samples/bluetooth/central
3. west f

[2020-01-17 11:27] pabigot commented on #21611
The diagnostics are:

    [00:00:00.000,000] <wrn> soc: CIDR mismatch: chip = 0xa1020e01 vs HAL = 0xa1020e00

I still don't know what that is.

    [00:00:00.000,000] <inf> spi_sam: CS control inhibited (no GPIO device)

Looking into this I see that it's supposed to use a hard-coded chip-select specified as a pinmux outside of devicetree.  That external specification doesn't provide a GPIO device,

[2020-01-17 11:40] #21812 closed

[2020-01-17 11:44] tbursztyka commented on #21611
@pabigot I agree the info message is misleading, it should be understood "CS GPIO control unused". I think no message at all would be just better in this case. Now about spi_sam.c's internal configuration of its CS pin, there is no better way to check but with a scope.

[2020-01-17 11:47] jukkar commented on #21989
Can you try if this works in your setup
[code]
It looks like we should not modify recv_len here.

[2020-01-17 11:55] #21996 closed

[2020-01-17 12:47] #15435 closed

[2020-01-17 13:17] dleach02 commented on #21813
Okay, I was using the tip of master to try to reproduce and was not able to have it occur.

[2020-01-17 13:59] carlescufi commented on #21980
Marked as enhancement since we do not officially support development on the Raspberry Pi.

[2020-01-17 14:00] carlescufi commented on #21980
@tgwaste

`sudo apt-get install python-dev`

[2020-01-17 14:04] jukkar commented on #21783
I am not familiar with Coverity so do not know if this is possible, but IMHO we should instead try to configure Coverity to not generate these false positives. It sounds wrong to change our code just to satisfy some weird rule in a tool.

[2020-01-17 14:13] thomascp opened #22010 "Bluetooth 'central' failure on native_posix"
**Describe the bug**

When running the central sample on the v2.1-branch, after several seconds, the program will be crashed.

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
The program shouldn't crash.

**Screenshots or console output**
[code]

**Core dump backtrace**
[code]

[2020-01-17 14:19] md-jamal commented on #21611
I am still unable to understand what needs to be implemented.
tests/drivers/spi/spi_loopback successfully works when i loopback MOSI to MISO. Does this not mean SPI is working fine?

[2020-01-17 14:45] ChristianHirsch opened #22014 "RTC prescaler overflow on nRF(52)"
**Describe the bug**
when setting prescaler of a (nRF52840) RTC to a value greater than 256, the value overflows. therefore, it is not possible to use all the 12bit of the prescaler as mentioned in the [nRF52840 datasheet](https://infocenter.nordicsemi.com/topic/ps_nrf52840/rtc.html?cp=4_0_0_5_21_9_13#register.PRESCALER).

**To Reproduce**
Steps to reproduce the behavior:
1. set prescaler to a val

[2020-01-17 15:15] ChristianHirsch commented on #22014
I just realized that I had some settings in the `prj.conf` file which caused the zephyr crashes. changing `u8_t prescaler` to `u16_t prescaler` actually fixed the problem.

[2020-01-17 15:29] jhedberg commented on #22010
Looks like related to the cmd(buf)->state stuff that was recently added by @joerchan ?

[2020-01-17 15:32] jhedberg commented on #22010
@thomascp the backtraces are already very useful, however could you also try running the process through valgrind? That might give even more helpful information on what's going on.

[2020-01-17 15:37] mrfuchs commented on #21989
Thanks, @jukkar. Unfortunately, this fails as well. It looks like `recv_len` includes the 2 bytes of the  websocket header then (e.g. `message_len == 4`, `header_len == 2`, `recv_len == 6`), but `websocket_recv_msg` is expected to return the message length only.

[2020-01-17 15:38] joerchan commented on #22010
Yeah, that was my conclusion as well. I will try to reproduce this.

[2020-01-17 15:46] tgwaste commented on #21980
Thats already installed so cant be the issue:
**python-dev is already the newest version (2.7.16-1).**

[2020-01-17 15:49] FRASTM commented on #20825
In case the soc supports dmamux feature, for dma periph->mem or mem->periph, the dma drivers is augmented.
A new device dmamux is added and initialised
The dma configuration now includes the dmamux config. with a limited nb of parameters coming from the dma client. The dmamux channel is calculated based on the dma instance and channel (stream).
The dma start and stop are always transferred through

[2020-01-17 17:37] avisconti commented on #20017
@carlescufi
I am still owner of the following 3 items: lis2dh, lis2ds12, lsm9ds0_gyro.
I am not sure I'll be able to complete them in the timeframe, as I have other urgencies till end of
January. Is there anyone who can volunteer on those tasks?

[2020-01-17 18:08] andyross commented on #21317
OK, #21903 now has both fixes (and a reversion of the CPU count workaround) and seems much improved to me.

I'm still seeing occasional failures in samples/userspace/prod_consumer, samples/userspace/shared_mem and tests/kernel/common.   A quick check running prod_consumer in isolation on an unloaded system has shown 6 failures in 44 runs, all of which seem to be detected as a "no data?" error by t

[2020-01-17 18:39] #20697 closed

[2020-01-17 19:24] andyross commented on #21317
Well, that one was much quicker.  Tiny 1-line SMP race in queue was the source of the prod_consumer failures.  Added to the series.  The others might have gotten a little better, hard to say.

[2020-01-17 21:15] #21431 closed

[2020-01-18 01:28] JordanYates opened #22026 "west: openocd runner fails for boards without support/openocd.cfg"
**Describe the bug**
Python exception when attempting to use the openocd runner with west for boards that do not contain support/openocd.cfg

Lines 27-36 of openocd.py
[code]
When config is None, and openocd.cfg is not present, self.openocd_config is None.
path.exists(None) results in a TypeError

For the nordic development kits, the openocd settings are initialised in board.cmake and openocd-nrf5

[2020-01-18 01:38] boonpin1975 opened #22027 "i2c_scanner does not work on olimexino_stm32"
building the i2c_scanner on olimexino_stm32 , with the sht3xd sensor connected to i2c1 , I keep getting this error when running i2c_scanner

[00:00:00.051,000] <dbg> i2c_ll_stm32_v1.msg_end: stm32_i2c_msg_write: NACK

is there need extra kernel config when using the i2c API in stm32  ?

Starting i2c scanner...

     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00: -- -- -- -- -- -- -- -- -- -- -

[2020-01-18 04:15] md-jamal commented on #21611
I have added to `samples/drivers/spi_flash/sam_e70_xplained.overlay`
`cs-gpios = <&portd 25 0>;`

In drivers/flash/spi_nor.c, it returns at this stage in spi_nor_configure

[code]

[2020-01-18 04:28] md-jamal commented on #21611
After adding `CONFIG_GPIO=y` it worked. Thanks everyone. I also need to update the jdec id

![image](https://user-images.githubusercontent.com/5285421/72658589-09017b80-39d9-11ea-8b3b-1f3d09c1100e.png)

[2020-01-18 10:35] jukkar commented on #21989
Indeed. Thanks for the verification, I will try to figure out a better way to do this.

[2020-01-18 14:11] raveslave commented on #10945
any plans to support LLVM/Xcode on macOS or should we use gcc for the native_posix use case (on mac)?

[2020-01-18 18:54] Boilerplate4u commented on #21775
`So the sample would require some serious trimming in order to fit in.`

Any chance this will be fixed ie do you know, by any chance, if there's a reasonable chance to trim down the size?

[2020-01-19 01:22] cvinayak commented on #21854
@AdrianEggenberger I am suspecting memory overflow in one of the HCI data when being copied into controller's tx node, this can cause an already enqueued tx node's ll_id being overwritten.

Please attach the sniffer log, so I can analyse it.

[2020-01-19 07:02] AdrianEggenberger commented on #21854
A memory overflow sounds like a reasonable explanation. In the logs previously added in my second post there is no line that would indicate that.

Or do you mean a different log? What settings should i set for the log?

I‘m still trying to create a simple setup to be able to reproduce the issue, but till now without success.

[2020-01-19 18:22] joerchan commented on #22010
@thomascp I don't get the failure that you see.
Could you please enable CONFIG_ASSERT=y and see if that triggers an assertion anywhere?
Also please try valgrind as was suggested by Johan suggested
`sudo valgrind ./build/zephyr/zephyr.exe --bt-dev=hci0` (I had to install libc6-dbg:i386)

[2020-01-20 00:17] boonpin1975 commented on #22027
I have tested another eeprom , at24c02 , address is 0x50 , but there is nothing in the i2c_scanner console .

[2020-01-20 01:38] takumiando opened #22034 "Add support for USB device on STM32L1 series"
Why doesn't Zephyr support USB device features on STM32L1?
There's no DTS and its fixup but STM32L1 has USB device functions.

[2020-01-20 06:40] cvinayak commented on #21854
I meant the sniffer log, or in your case  Sodera Protocol Analyzer logs

If you share the (simple) application when ever you have it, usually I should be able to analyze the issue and provide a solution quicker.

[2020-01-20 08:10] andrewboie opened #22036 "sanitycheck for qemu_cortex_r5 fails"
[code]

[2020-01-20 08:13] andrewboie opened #22037 "qemu_cortex_r5 excludes too many tests"
[code]

This target should not be excluding so many categories.
For memory_protection and userspace, these tests already have filters which don't run them if the feature isn't supported (CONFIG_ARCH_HAS_USERSPACE, CONFIG_MEMORY_PROTECTION)

- [x] interrupt should be enabled or a bug filed on it (see #22670)
- [x] kernel should **definitely** be enabled, these are core kernel tests! (see #20474)
-

[2020-01-20 08:22] aescolar commented on #10945
@raveslave No plans wrt macOS and native_posix

[2020-01-20 08:48] AdrianEggenberger commented on #21854
I've managed to create an environment that should allow to reproduce the issue. In the attached zip-file you may find firmware for the peripheral, the HCI controller (=> zephyr HCI USB) and a .NET application that acts as HCI Host. For instruction see the "readme.txt" file in the the Zip. Also in the Zip-File are logs and recordings of the SoderaLE taken with this setup on my side.

[IssueReproduc

[2020-01-20 08:49] mrfuchs commented on #21989
Thanks. Could you please also take a look at line 731?
https://github.com/zephyrproject-rtos/zephyr/blob/ba98e72db2f0c921ebb6a6d957a9c3609daec354/subsys/net/lib/websocket/websocket.c#L731
Isn't this redundant to what we are doing in line 702, because there's no more assignment to `recv_len` in between these lines?
https://github.com/zephyrproject-rtos/zephyr/blob/ba98e72db2f0c921ebb6a6d957a9c3609d

[2020-01-20 08:53] rlubos commented on #21775
Hi @Boilerplate4u,

The radio driver update is already on its way (check #21835, this version has support for nRF52811).

As for the sample size though, I think it's something you need to venture on your own, I don't think there are any plans to trim the echo samples size any time soon. `ninja ram_report` utility should be a great help here. For instance, building for `nrf52840_pc10056` shows, tha

[2020-01-20 08:59] erwango commented on #21568
@karl-zh since you're familiar with mps2 boards, can you have a look to this issue (it is annoying since poping up often in shippable reports)?

[2020-01-20 09:20] tbursztyka commented on #21775
Are you sure about these numbers? First, the L2 being smaller than the driver seems rather strange, but second: both are less than 300 bytes??

[2020-01-20 09:39] erwango commented on #22034
@takumiando, this status reflect work and needs of zephyr community.
If USB has not been enabled on L1, this is because no one in the community did the effort of enabling and testing it.

[2020-01-20 09:44] erwango commented on #22027
Cf #20325:
"
[...]  the test doesn't work because the ST I2C driver doesn't handle the SMBUS command that's used to detect a NAK on the address for an absent subordinate device. It reports all addresses as being associated with devices."

Moving this to enhancement.

[2020-01-20 09:44] rlubos commented on #21775
@tbursztyka Note, we speak about RAM here. The numbers I get:
* "Core" nRF 802.15.4 radio driver:
[code]
* 802.15.4 L2:
[code]

* I missed here one (quite bulky) part though, the Zephyr part of the 802.15.4 radio driver, which is:
[code]
This one is quite large, due to the fact that this module maintains it's own thread for operation.

For anyone interested, I attach the entire RAM report:
[ram_re

[2020-01-20 09:56] tbursztyka commented on #21775
Sure, still less than 300 bytes for L2 is lower than I thought. Nice.

[2020-01-20 10:22] erwango commented on #21681
@martinjaeger, @FRASTM , I agree the pyocd script should be the best solution, since we don't want to impact binary for flashing purpose.
Using user script for flashing with pyocd is not available yet, but this is an on going work: https://github.com/zephyrproject-rtos/zephyr/pull/20957

Can you have a try with this?

[2020-01-20 10:25] erwango commented on #19414
^^ @ErekoseTCE

[2020-01-20 10:27] martinjaeger commented on #21681
I think it would still be good to disable the sleep mode if the debug flag is set (or add a separate Kconfig flag for this). Otherwise it's not possible to use e.g. Segger tools (J-Link and Ozone).

[2020-01-20 10:43] erwango commented on #21681
I'm fine with the Kconfig flag proposal

[2020-01-20 11:15] weinholtendian commented on #21764
DNS isn't working either on the v2.0 branch, maybe the same reason?

[code]

An alternative to offloading for these modems would be +CMUX multiplexing and PPP. The current solution works well with UDP but not for TCP, because the modem handles the TCP acks and checksums and it doesn't know about bytes lost on the modem UART.

[2020-01-20 11:17] avisconti commented on #20017
OK, I  changed also lis2ds12 (see #22040).
I think I'll not be able to proceed with the remaining two (lis2dh and  lsm9ds0_gyro).

[2020-01-20 11:22] SebastianBoe commented on #4951
There is no way of solving this problem without introducing more complexity than the solution is worth.

So I am closing this as can't-fix.

If someone can figure out a reasonable way to solve this then feel free to comment.

[2020-01-20 11:22] #4951 closed

[2020-01-20 11:31] pabigot commented on #20017
I think I'm tapped to handle anything that's left over, which I will do but I can't test them unless somebody can identify a shield or inexpensive supported dev board that has them.

[2020-01-20 12:11] weinholtendian commented on #21764
Sorry for the noise; the DNS calls are just missing in modem_socket_offload. Will try to fix.

[2020-01-20 12:48] gpaquet85 commented on #21764
Ok thanks for this

[2020-01-20 13:18] avisconti commented on #20017
Maybe we can just test the compilation for the moment? Let see what @erwango and @carlescufi  have to say.

[2020-01-20 14:11] pabigot commented on #20017
Yes, we have agreement that build-test is sufficient so we can make progress, but we're also supposed to annotate devices that have not been verified on real hardware somehow.  AFAIK there is no documentation of how that's to be done.

[2020-01-20 14:23] mtpr-ot opened #22048 "Failing LL.TS Data Length Update Tests (split)"
**Description**
Failing LL.TS EBQ Tests for Data Length Update:
[code]
**To Reproduce**
Run the listed LL.TS tests with EBQ and nRF52

**Expected behavior**
Tests should pass

**Impact**
Currently no practical impact, but qualification will fail

[2020-01-20 14:29] mtpr-ot commented on #22048
For `LL/CON/SLA/BV-78-C`, I have a solution proposal which makes the test pass. I'm not 100% sure if this is how to do it:

(call to ll_length_max_get and use of MIN macro added)
[code]

[2020-01-20 14:53] aescolar commented on #22048
CC @cvinayak @joerchan

[2020-01-20 15:37] MarekPieta opened #22049 "Bluetooth: IRK handling issue when using multiple local identities"
**Describe the bug**
When using Bluetooth with multiple local identities, the IRK handling issues may occur.

**To Reproduce**
1) Use Zephyr Bluetooth peripheral with multiple local identities (A, B) and Central that uses IRK.
2) Connect and bond with Central on identity A.
3) Connect and bond with Central on identity B.
        You will see the following error log:
        `<err> bt_hci_core: Fai

[2020-01-20 15:41] joerchan commented on #22049
@jhedberg This looks like an advertising identity issue, similar to #21714
Starting an advertiser should have the IRKs that is valid for it's identity when starting advertising.
Problem can be seen when multiple local identities has a bond with the same remote device.

[2020-01-20 16:17] #15278 closed

[2020-01-20 16:31] lanvis opened #22051 "Bluetooth Central: Discovery of 128bit primary service fails with later versions of gcc."
**Describe the bug**
Discovery of 128bit primary service fails with later versions of gcc.
In gatt_find_type(), looks like macro BT_UUID_16 returns wrong value with later gcc versions.

Using gcc ARM version 7.3.1 (BT_UUID_16(uuid)->val) returns 0x2800 (which is correct)

Using gcc ARM version 9.2.1 (BT_UUID_16(uuid)->val) returns 0x2000 (which is incorrect) and leads to a failed discovery.

**To

[2020-01-20 17:15] carlescufi commented on #20017
@avisconti yes, that is the agreement for this particular branch at least.
@pabigot This should come together with the discussion about how to document stability per-API. It can either be done in Doxygen or else in the upcoming maintainers file.

[2020-01-20 19:34] nashif commented on #21607
seems to be answered, closing.

[2020-01-20 19:34] #21607 closed

[2020-01-20 19:36] nashif commented on #20161
question answered.

[2020-01-20 19:36] #20161 closed

[2020-01-20 21:24] henrikbrixandersen commented on #21846
PR creation is awaiting #22030.

[2020-01-20 21:37] andrewboie commented on #21846
+1 to this proposal

[2020-01-20 21:49] nashif commented on #21756
this is not a bug, the PS2 and other IPs being enabled by default add objects and the count does not match anymore, so the test fails. Boards should by default only enable the bare minimum, all optional features should only be enabled by the application using them, and not by default for every configuration

cc @albertofloyd @franciscomunoz

[2020-01-20 23:38] #21935 closed

[2020-01-21 06:51] Flo3561 commented on #19244
Hi there,

Are there any new findings? e.g. with new releases 2.0.0 or 2.1.0?

[2020-01-21 07:09] nordic-krch commented on #21670
`ram_report` shows that it's in ram
[code]

[2020-01-21 07:11] jukkar commented on #21775
For echo-* programs, we currently try to enable necessary bits and pieces that could be useful for app developers. We have tried to make the echo-* apps to work most of the available hw but as there are lot of small boards with limited RAM, no specific effort has been done to support every board out there.

[2020-01-21 07:11] #21775 closed

[2020-01-21 07:15] jukkar commented on #21989
Yes, it really looks like that line 702 addition should not be there. I try to add some test cases for these. Testing this beast is a bit tricky as I do not want to end up implementing a websocket server.

[2020-01-21 07:24] #22014 closed

[2020-01-21 09:21] lanvis commented on #22051
In gatt_find_type(), BT_UUID_16(uuid)->val) returns wrong value in later gcc versions.

[2020-01-21 10:30] aescolar commented on #22051
CC @jhedberg @Vudentz

[2020-01-21 11:50] baw-serafin opened #22060 "Build fails with gcc-arm-none-eabi-9-2019-q4-major"
**Describe the bug**
There is a Toolchain issue with gnuarmemb 9.2 (current version) under Windows

**To Reproduce**
Steps to reproduce the behaviour:
Just follow [getting started](https://docs.zephyrproject.org/latest/getting_started/index.html) and [3rd party toolchain](https://docs.zephyrproject.org/latest/getting_started/toolchain_3rd_party_x_compilers.html#gnu-arm-embedded)

I installed to `c

[2020-01-21 12:13] koffes commented on #9884
Can such a test be added to Checkpatch?

[2020-01-21 12:14] parthitce opened #22061 "Ethernet switch support"
**Is your feature request related to a problem? Please describe.**
I am currently involved in adding support for [embOS/IP Switch Board](https://www.segger.com/evaluate-our-software/segger/embosip-switch-board/) based on MK66FN2M0VMD18 to Zephyr. The board also comes with Micrel/Microchip KSZ8794CNX 3 port switch. To add support for the switch or to make Zephyr for Switch devices, there is no exis

[2020-01-21 12:30] SebastianBoe commented on #22060
Could not reproduce.

My env:

[code]

v2.0.1, is that supposed to be a Zephyr revision? I can't find a git tag by that name.

[2020-01-21 12:30] SebastianBoe commented on #22060
Please post full build logs.

[2020-01-21 12:31] baw-serafin commented on #22060
sorry my bad v2.1.0 (latest release)

[2020-01-21 12:32] SebastianBoe commented on #22060
Also, try copying the cache directory to a different directory in case the cache directory is corrupted.

CMake spits out in the logs where the cache directory is on every run.

[2020-01-21 12:34] SebastianBoe commented on #22060
Could not reproduce on v2.0.1 either.

[2020-01-21 12:57] joerchan commented on #18386
Answering my own question. No it does not.

[2020-01-21 13:58] KubaFYI opened #22062 "Adafruit Feather M0 does not flash correctly - incorrect flash code offset and bossa version incompatibility"
**Describe the bug**
Adafruit Feather M0 does not flash correctly.

- `west flash` complains about bossa not liking the offset pameter `-o`
- running the bossa command manually without the offending parameter leads to it reporting a successful flash and verify but the board still does not run the code

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -b adafruit_feather_m0_basic_pr

[2020-01-21 14:46] nvlsianpu opened #22063 "fs/NVS: NVS is not compatible with flash memories which have 0x00 as erased"
**This is informative issue**, not a bu really
NVS design assumes 0xff as memory erased state. So it will doesn't work on devices which has 0x00 as erased byte state (e.g. some stm32 embedded. ~~and native_posix with the flash simulator~~ )

**To Reproduce**
~~Try NVS sample using native_posix target~~
[EDIT]: native_posix was fixed
Try NVS sample using a target which have 0x00 as erased byte flas

[2020-01-21 14:53] tbursztyka commented on #20012
There is no need to add anything to the device API. This is a PM issue.

However, I would not say it is possible to do it with the PM API at the moment. It's far from being usable (this is a known issue).

[2020-01-21 15:17] emob-nordic commented on #21713
I am currently trying to reproduce this issue but I am failing to do so. Do You have any minimal example which triggers described issue so I could go further into investigation?

[2020-01-21 15:20] jukkar commented on #21989
@mrfuchs I have a fix proposal at #22064. I have created unit test for the websocket RX and it seems to work ok. Could you try it and confirm it works ok for your setup too?

[2020-01-21 15:23] StefJar commented on #20012
I am agreeing on @gon1332 view.

Like to give some examples where at least a `deinit` function is quite useful.

1.) sleep modes: To disable the peripherals to save some energy
2.) error states/partial failure of the pcb: After production and delivery the device/pcb gets broken. We can detect the error state and would like to put the device into save operation mode
3.) production/self test: the pc

[2020-01-21 16:36] #14650 closed

[2020-01-21 17:33] andrewboie opened #22066 "tests/kernel/mem_pool/mem_pool_threadsafe fails reliably on m2gl025_miv"
**Describe the bug**
[code]

**To Reproduce**
1. Install mono and renode emulator:
https://github.com/renode/renode/releases/tag/v1.8.2
https://www.mono-project.com/download/stable/#download-lin
2. Build and run test/kernel/mem_pool/mem_pool_threadsafe for the m2gl025_miv platform

**Expected behavior**
Passing test.

**Impact**
Not sure what the root cause of this is.

[2020-01-21 18:08] carlescufi commented on #22063
FYI @Laczen

[2020-01-21 18:12] cvinayak commented on #21859
@philips77 please retry with https://github.com/zephyrproject-rtos/zephyr/pull/22005

[2020-01-21 18:16] jhedberg commented on #22036
Will be solved with the new SDK

[2020-01-21 18:17] jhedberg commented on #22036
@galak assigned this to you since it'll be resolved with the new SDK

[2020-01-21 19:01] nashif commented on #22066
@andrewboie  I am not able to reproduce this locally..

[code]

[2020-01-21 20:15] joerchan commented on #22051
Since it is Zephyr 2.0.0. This might be already fixed by:
https://github.com/zephyrproject-rtos/zephyr/issues/21186

@lanvis Please check

[2020-01-21 20:16] Laczen commented on #22063
In general it would be good (and trivial) to add support in nvs for devices that use 0x00 as erase value. This however would not solve the problem with flash simulation on native posix. In the flash simulator on native posix the flash area is filled with 0x00 at start but is set to 0xff after erase. For the flash simulator on native posix it would be better to erase (set to 0xff) on creation of fl

[2020-01-21 20:37] andrewboie commented on #21568
@wentongwu you have already been looking into the timing related issues with QEMU targets

why did you open this bug? why do you think this is unrelated to the QEMU timing issues we have been aware of for a long time now?

@erwango this is not being seen on real hardware

This almost certainly an instance of #14173 unless someone has evidence to the contrary

[2020-01-21 22:49] andrewboie commented on #21317
The major issues here are now fixed and we've re-enabled SMP in QEMU.

One of the races was fixed with a delay, but I requested we leave this ticket open until IPI can be re-worked to make it bulletproof as described here: https://github.com/zephyrproject-rtos/zephyr/pull/21903#issuecomment-576828574

[2020-01-22 01:28] wentongwu commented on #21568
@andrewboie Yes I'm looking at it, just surprised we have already enabled icount on mps2_an385 with "-icount auto" which I don't think is correct. I will close this issue and continue #14173 if got big slot. Thanks

[2020-01-22 01:30] #21568 closed

[2020-01-22 01:37] boonpin1975 opened #22077 "W25Q32fv supported in spi_flash examples ?"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

is W25Q32FV supported in the drivers/spi_flash or only W25QXXDV supported ?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
A clear and concise description of what you

[2020-01-22 01:39] takumiando opened #22078 "stm32: Shell module sample doesn't work on nucleo_l152re"
Shell module sample doesn't work on nucleo_l152re with latest Zephyr.

[code]

[code]

## Environment
 - OS: Debian GNU/Linux 10 amd64
 - Toolchain: zephyr-sdk 0.10.3
 - Commit SHA: 68a235932f93c432638d94a641f923f1210e992f

[2020-01-22 01:40] lanvis commented on #22051
Yep ... that is the same bug.  Sorry about that.  I tested by merging your updates into 2.0 gatt.c file as changes to the file are many.

Many thanks!

[2020-01-22 01:54] sbiwa-where opened #22079 "Add reception channel information to advertise_report"
Please add reception channel information to advertise_report.
For positioning using advertise_report, we usually use RSSI values. However, the RSSI value varies depending on the receiving channel, resulting in poor accuracy.
We need the channel information received to improve accuracy. (This function exists in NORDIC nRF5 SDK)
Please consider it.

[2020-01-22 01:55] takumiando commented on #22078
The integration sample also doesn't work.
Does this bug depends on board specific implementations?
[code]

[2020-01-22 02:25] takumiando commented on #22078
At f144e39ced0afb06375d388a936650f33e9b1ac3, it also doesn't work.
Of course I added `CONFIG_EEPROM_SHELL=y` to `prj.conf` like this commit message...

[2020-01-22 03:00] takumiando commented on #9333
This implementation doesn't work correctly.
https://github.com/zephyrproject-rtos/zephyr/issues/22078