[2022-11-22 11:18] Light411 commented on #27191
The elephant in the room IMO is the lack of proper support of the interconnection matrix for STM32 devices. That's a big piece, but it would help a lot, especially for power electronics application, or any other applications that involves having analog routine, or PWM routines independant from the MCU calculation.

[2022-11-22 11:24] FRASTM commented on #50655
On my side I can still get the error. I noticed the bus fault comes from the LST_remove_head function
[code]

[2022-11-22 11:41] FRASTM commented on #50655
In the  [stm_list.c](https://github.com/zephyrproject-rtos/hal_stm32/blob/main/lib/stm32wb/hci/stm_list.c) , the LST_remove_head() is disabling the irq and then calling the LST_remove_node which also disable irq.
With the following patch, i can connect/disconnect without that  bus fault :
[code]

[2022-11-22 12:08] #41606 closed

[2022-11-22 12:29] r2r0 opened #52462 "uart: stm32: UART clock source not initialized"
**Describe the bug**
When there is no secondary clock defined in dts (`clocks` property) then UART clock (`usart_ker_ck`) it is not set at all (in `RCC_CCIPR`).
In case when bootloder has different settings for `RCC_CCIPR` then UART in application stops working (wrong baudarate is set).

Please also mention any information which could help others to understand
the problem you're facing:
 - target

[2022-11-22 12:43] FRASTM commented on #52125
in the board overlay, I set :
[code]
to source RTC by the LSE clock.

[2022-11-22 12:51] Thalley opened #52464 "LE Audio: Unicast Client failing to create the CIG"
**Describe the bug**
If you run the unicast audio client and unicast audio server samples right now, the client will fail at creating the CIG.

This is caused by the `p_phy` being set to `0` for the stream that uses the unidirectional CIS, which is an invalid value.

**To Reproduce**
Steps to reproduce the behavior:
1. Build and flash the Unicast Audio Client and Unicast Audio Server samples to tw

[2022-11-22 12:53] Thalley commented on #52464
@MariuszSkamra I don't have a good idea on how to fix this. The problem is that we are settings ISO QoS parameters for the direction we are not going to use as the unicast client, causing the `qos->rx` to be non-NULL, but with the `qos->rx->phy` being `0`.

The handling of this in ISO only works if `qos->rx` is NULL:
[code]

[2022-11-22 13:14] kruithofa commented on #41209
This will not be implemented for now

[2022-11-22 13:16] #41212 closed

[2022-11-22 13:17] #41213 closed

[2022-11-22 13:57] r2r0 commented on #49148
It may be related to #51872.

[2022-11-22 14:05] mkettn commented on #44324
Hello,
I stumbled upon the same problem also for BOARD=native_posix[_64] ... on the contrary: BOARD=qemu_x86 works.
I get the same error and adding -std=c11 does not work for me, since I am using a C++ compiler.
zephyr is at most recent version on main (9ebb9abab7b0d662e0d5379367fb7f052959c545) and I am using the Zephyr SDK v0.15.1

Since the posix native target is not that crucial for me, I'll ju

[2022-11-22 14:27] #50853 closed

[2022-11-22 14:35] erwango commented on #52462
@r2r0 Do I understand correctly that if bootloader sets a domain clock, it remains somehow set (in RCC configuration) for application as well (application uart clock setting doesn't set any domain clock,), which leads to bad uart clock configuration in the end ?

[2022-11-22 15:06] r2r0 commented on #52462
@erwango Yes, exactly as you wrote.
We used HSI as a second entry in `clocks` property for LPUART in mcuboot and no `clocks` was defined in application dts - the effect was that in application after UART initilization LPUART1SEL in RCC had value equal to 2.
When bootloader was not programmed everthing went well because default value (0) was set and it matched with default dts `clocks` settings.

[2022-11-22 15:10] sylvioalves commented on #52073
@abdulayubzoi, thanks for pointing this out. I'll fix it.

[2022-11-22 15:17] danieldegrasse commented on #52457
Hi @arnopo- This sample has been updated to use systembuild, which allows multiple Zephyr images to be built using one command. If you build the sample with the following command: `west build --sysbuild -b lpcxpresso54114_m4 samples/subsys/ipc/openamp/`, the build should pass. Will this work for your CI? The missing header is one generated by the M0 core image build as collateral, which contains l

[2022-11-22 15:21] sylvioalves commented on #52242
@rillbert, thanks for pointing this out. I'll start looking into this soon.

[2022-11-22 15:28] arnopo commented on #52457
Thanks for your reactivity, I will test it in my CI and close the issue if fixed

[2022-11-22 15:42] rillbert commented on #52242
Thanks @sylvioalves !

I am currently focused on trying to understand/fix this so I will be glad to help in any way I can.

[2022-11-22 16:52] carlescufi commented on #51722
Architecture WG:

- @nashif mentions that one option is for the board metadata to be "offline", i.e. metadata that is gathered regularly but not as part of the build system, and is kept in a "database" that is not connected to the actual configuration/build process
  - An example of this approach is something like this: https://github.com/zephyrproject-rtos/zephyr/pull/52377

[2022-11-22 16:57] honestech74 commented on #52448
@Laczen Tried to erase the flash using `esptool.py erase_flash` but got the same errors.

[2022-11-22 17:06] #51826 closed

[2022-11-22 17:25] stephanosio commented on #52271
@JordanYates should this issue be moved to mcuboot?

[2022-11-22 17:29] stephanosio commented on #52443
@aaronemassey should this be converted to discussion?

[2022-11-22 17:30] carlescufi commented on #52271
@JordanYates I agree with @stephanosio that this is likely an MCUboot issue? And one more thing, is this not related to the fact that signature is non-deterministic? For example ECDSA will use a random number every time you sign:

https://stackoverflow.com/a/68959662/337201

[2022-11-22 17:31] stephanosio commented on #52189
Closing since this is not a bug. Please file a separate enhancement issue if you think this is necessary.

[2022-11-22 17:31] #52189 closed

[2022-11-22 17:34] cfriedt commented on #41489
This should be fixed by LTSv3 (see [POSIX Roadmap for LTSv3](https://github.com/zephyrproject-rtos/zephyr/issues/51211))

[2022-11-22 17:39] Laczen commented on #52271
@stephanosio, @carlescufi, no this is not a mcuboot issue. It is due to how a hex and bin are generated by west. By calling imgtool twice the signature being non-deterministic is different for the hex and the bin. If west would create the bin from the hex this would not be the case.

[2022-11-22 17:44] cfriedt commented on #25407
I'll add a sample demonstrating read / write functionality. Thanks for the suggestion!

[2022-11-22 17:48] sylvioalves commented on #52448
@honestech74, there reason is that `esp_wrover_kit` does not have an overlay file in this sample code.
To get this properly working, you can create a custom `boards/esp_wrover_kit.conf` and copy `boards/esp32.conf` content or using default `esp32.conf` file:
`west build -b esp_wrover_kit samples/subsys/settings/ .. -DOVERLAY_CONFIG=boards/esp32.conf
`

[2022-11-22 17:48] cfriedt commented on #51776
There are a few changes to the POSIX subsystem planned, and yeah, you're right that there is some inconsistency between ARCH_POSIX and POSIX_API w.r.t. usleep. In the latter, it's possible that a short sleep will not trigger the scheduler (by calling `k_busy_wait()`).

The above is partially a workaround for a lack of high-precision timers, rather than being tick-based. The POSIX sleep calls shoul

[2022-11-22 17:53] cfriedt commented on #51978
Just added the modules label, as this blocks the Lua module

[2022-11-22 18:33] arnopo commented on #52457
That solves the CI issue on OpenAMP , thanks for the advise @danieldegrasse

[2022-11-22 18:33] #52457 closed

[2022-11-22 19:21] GeorgeCGV commented on #31912
@erwango considering power management (_PM_) and possible requirements to control the MCO at runtime (_i.e. enabled/disabled_)  it might not be the worst case. Can you elaborate more on the dummy node approach?

What comes to mind as a quick solution is to use the `chosen` with a vendor-specific prefix like `st`.

Something like:

[code]
where `mco1_pa8` is generated in `hal_stm32`.

Then the GPIO

[2022-11-22 20:38] krebsbstn commented on #20262
I wanted to use the functionality of master/slave modes on an stm32-h7a3zi-q.
I tougth I found the correct solution when i ran over this issue,
but I had to realize that the suggestions made by @maxvankessel have never been merged to zephyr master.
Even though this is needed to get two PWMs into sync.

@erwango
As your comment suggests, there is another way of synchronizing two timers to get align

[2022-11-22 21:49] GeorgeCGV commented on #52276
@FRASTM , `MX25R6435F` supports `PP` (_`Page program, PP (0x02) up to 256 bytes`_) and `4PP` (_that is `0x38` - `PP_1_4_4`_) [_[REV. 0.03, JAN. 30, 2015, p. 16, p. 52](https://pdf1.alldatasheet.com/datasheet-pdf/view/690092/MCNIX/MX25R6435F.html)_].

The following configuration should work when quad mode is enabled (_QE bit is `1`_):
[code]

I would check that QE bit is set (_quad mode is enabled_

[2022-11-22 22:04] iperry opened #52479 "incorrect canopennode SDO CRC"
I am testing block SDO transfers from a master using the Lely Industries CANOpen stack to a slave running the Zephyr canopennode stack.

When attempting to use block SDO uploads (reading a test chunk from the slave), CRC errors are encountered. I narrowed the problem down to the CRC check used inside the canopen stack, and its interaction with the zephyr CRC. I've only tested SDO block upload, but

[2022-11-23 00:59] honestech74 commented on #52448
@sylvioalves I forgot those kconfigs. It works now. Thank you.

[2022-11-23 00:59] #52448 closed

[2022-11-23 07:45] erwango commented on #20262
@krebsbstn This issue is 3 years old. Lot of things changed during this time. Please open a new issue describing your need.

[2022-11-23 07:58] erwango commented on #31912
Tbh, I'm not sure today of what I meant that time.
Anyway, all things considered, I think a dedicated device driver would make sense, even if not backed by a generic API.

[2022-11-23 08:35] cperera-aud commented on #52409
Hi @erwango, if there is anything you would like for me to try out on my end I'm more than happy to give it a go.

[2022-11-23 08:44] gsshewalkar opened #52486 "Losing connection with JLink on STM32H743IIK6 with Zephyr 2.7.2"
Hi,
I am working on STM32H743IIK6 based custom board by porting it to Zephyr v2.7.2 and running it at system clock of 475MHz.

First, I tried building the bare metal sample example such as Blinking of LEDs (generated from STM32CubeMxIDE), it just works fine without any issue. I am able to connect and disconnect to the soc on JTAG through STLink and JLink Seggar as well, even before or after flashi

[2022-11-23 09:17] krebsbstn opened #52490 "STM32: create synchronious PWMs"
**Describe the bug**
Hi,
I am Working on a STM32-H7A3ZI-Q, trying to drive a TCD1304-Sensor.
Therefore it is needed to create at least two PWMs with 2MHz and 500KHz respectively.
The Datasheet of STM32-H7A3ZI-Q points out, that there is a possibility of Timer Link feature.

To get those PWMs synchronized to each other, I tried using the same Timer with different channels.
This is not working becau

[2022-11-23 09:18] krebsbstn commented on #20262
Done, can be found here: https://github.com/zephyrproject-rtos/zephyr/issues/52490

[2022-11-23 09:21] RomainPelletant commented on #52328
I am currently facing the problem.
I would add a callback lwm2m_engine_send to get the simple result true or false (instead of only displaying "Send done!")
Is the lwm2m client re-registration mandantory is case of timeout? I mean, from user point of view, timeout is send failed only, isn't it?

[2022-11-23 09:42] KKopyscinski opened #52491 "Value of EVENT_OVERHEAD_START_US is set too low"
**Describe the bug**
Commit https://github.com/zephyrproject-rtos/zephyr/commit/236d0351e70abd0aa4b1a0cdfddf99e18162f63d set to low value of EVENT_OVERHEAD_START_US.

While testing Bluetooth Mesh with tester app I encountered a problem with assert in `lll`:
https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c#L476-L477

I was using application b

[2022-11-23 09:43] KKopyscinski commented on #52491
FYI @omkar3141

[2022-11-23 10:23] erwango commented on #52409
The issue description is quite complete. We'll not be able to reproduce your issue on our ends though, but we'll reach eth experts internally to check if this could be a known issue.

Though, you need to know that current eth HAL in use in Zephyr drive is being deprecated in favor of a new HAL API that should provide significant improvments. As a consequence, I expect experts' feedback will be: us

[2022-11-23 10:32] #46326 closed

[2022-11-23 10:32] #50587 closed

[2022-11-23 10:36] carlescufi commented on #41771
@nashif assigning to you since this has nothing to do with nRF

[2022-11-23 10:47] RomainPelletant opened #52493 "net: lwm2m: add 32 bits floating point support"
**Is your enhancement proposal related to a problem? Please describe.**
lwm2m_engine_set_float function only supports double and not directly 32 bits float.
Maybe there is a reason why 32 bits float has been deprecated?

**Describe the solution you'd like**
Replace lwm2m_engine_set_float for 32 bits floating points and add lwm2m_engine_set_double for 64 bits ones.

**Describe alternatives you've c

[2022-11-23 10:55] FRASTM commented on #52276
With PR https://github.com/zephyrproject-rtos/zephyr/pull/52374, the SPI or DUAL or QUAD configurations are now all working, with DMA transfer or not

[2022-11-23 11:12] jeremyherbert opened #52494 "SPI NOR DPD comment is misleading/wrong"
**Describe the bug**
In the latest `spi_nor.c` file it has the following comment: https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/flash/spi_nor.c

[code]

The last paragraph is the confusing bit, because as far as I can tell there is no power management handling for the NOR flash in the pm subsystem. The only way to enable deep power down in this file is via the `enter_dpd` function

[2022-11-23 11:25] #52407 closed

[2022-11-23 11:29] rlubos commented on #52493
Can you elaborate on the rationale for why do you need a 32-bit float support in the first place? Having to support both, 32-bit and 64-bit floating point types for **data storage** complicates the LwM2M float processing logic **a lot**. And it's not a limitation from the LwM2M perspective, the engine can parse both, 32-bit and 64-bit floats if present in the message.

Well, I wouldn't say it has

[2022-11-23 11:51] cvinayak commented on #52491
@KKopyscinski Please check if your branch has this commit: https://github.com/zephyrproject-rtos/zephyr/commit/13c29940bf69a30e6d3285859ebd9d00708cb2d7

[2022-11-23 11:53] bhavikbhansali-eaton commented on #43411
Is there any solution for this I am still facing the issue.

[2022-11-23 11:54] cperera-aud commented on #52409
Thanks and much appreciated for getting back @erwango. Yes we certainly would be interested in trying out the new HAL. The ethernet interface is pretty much the bread and butter of all of our devices.

[2022-11-23 11:55] KKopyscinski commented on #52491
It has not, but that's different issue. This issue would result in very big values (obviously)  but the problem is that values are small and reasonable, just slightly above threshold.

[2022-11-23 12:14] carlescufi commented on #49338
Closing as per @ppryga-nordic's response. Please reopen if required.

[2022-11-23 12:14] #49338 closed

[2022-11-23 12:26] nashif commented on #41771
@carlescufi  This is assigned to @anangl  as the ADC maintainer, not because of nRF.

either way, can't re-produce and test builds fine for me.

[2022-11-23 12:26] #41771 closed

[2022-11-23 14:35] 28itay opened #52506 "GPIO multiple gaps cause incorrect pinout check"
**Describe the bug**
The gpio configuration failed because of a gpio pin that "fall" in a gap.

I'm using a custom board with MIMXRT1021CAF4A MCU (it was only 100 pins compare to it's bigger versions), there are 2 gaps in gpio2 one from 0 to 3 and the second from 10 to 15, this was generated using imx_cfg_utils.py (from https://github.com/zephyrproject-rtos/hal_nxp).

![image](https://user-images.

[2022-11-23 14:38] lawrencek52 commented on #51912
I think what @thedjnK is really looking for is a package like ncurses above the character display. ncurses has been around a longtime and a subset of the basic ncurses APIs are probably reasonable for this project.

The list of functions @thedjnK  suggested did not include:
- query functions:
    - the size of the display in rows and columns.
    - the display capabilities, can it draw in colour?

[2022-11-23 15:17] Thalley opened #52508 "LE Audio: Support Broadcast Sink terminating PA Sync"
**Is your enhancement proposal related to a problem? Please describe.**
Currently the lifetime of a Broadcast Sink (`struct bt_audio_broadcast_sink`) is tied to the lifetime of the PA sync. However, there is nothing in the spec's stopping a device from terminating the PA sync after the BIG has been synced, which can provide significant power savings as it does not need to listen to the PA advertis

[2022-11-23 16:10] #50149 closed

[2022-11-23 16:53] FRASTM opened #52510 "twister: truncated handler.log reports test as "failed""
**Describe the bug**
When running a test campaign on stm32 platforms, some testcases have uncomplete handler.log  and twister report it as failed but test is individually passed

Missing the :
[code]

**Expected behavior**
full handler.log   file stored and test reported "passed"

**Impact**
Many tests declared as _failed_ are not.

**Environment (please complete the following information):**
 - O

[2022-11-23 17:00] FRASTM commented on #52510
attached : ../logs/221121/log_dt_main_59f3316d33_2104/nucleo_wb55rg/zephyr/tests/subsys/shell/shell/shell.core/handler.log for the testcase
[handler.log](https://github.com/zephyrproject-rtos/zephyr/files/10077652/handler.log)

[2022-11-23 17:04] mbolivar-nordic commented on #50836
Process WG: work is ongoing, revisit next week

[2022-11-23 17:19] mbolivar-nordic commented on #38565
Process WG:

- @nashif looking to develop a proposal on where we're stuck with backlog issues. We discussed this in the context of enhancements, but we have other categories of issue that are suffering from the same problem (RFCs, feature requests, ...). Not a new issue; will post a link to past discussions about this on the TSC mailing list. Need to figure out how to clean this up. I managed to c

[2022-11-23 17:20] mbolivar-nordic commented on #51608
@gmarull do you want to bring this discussion to the process WG next week?

[2022-11-23 17:36] mbolivar-nordic commented on #48887
Process WG will address this next week with a discussion from @galak on documenting changes to things that are not stable.

[2022-11-23 18:08] thedjnK commented on #51912
I'm not.

[2022-11-23 18:11] fabiobaltieri opened #52513 "sample.modules.chre fails on qemu_leon3"
**Describe the bug**

`zephyr/samples/modules/chre/sample.modules.chre` fails to run on `qemu_leon3`. The test started to try and run on this platform since e478a4e85083dddcbc2cd7282f413f0d89d3a1eb, so it probably never ran successfully.

This is the run and the output:

[code]

[code]

**To Reproduce**
`west build -t run -p -b qemu_leon3 samples/modules/chre`

**Expected behavior**
Does not crash

[2022-11-23 19:53] dleach02 commented on #52190
Confirmed fixed with v7.82d

[2022-11-23 19:53] #52190 closed

[2022-11-23 21:58] lawrencek52 commented on #51912
Every function you asked for is covered by the ncurses API.

[2022-11-23 22:18] henrikbrixandersen commented on #51912
This has nothing to do with ncurses.

It's a driver API for a specific class of display hardware: text based displays (as opposed to graphical/frame buffer displays, which are already supported by Zephyr).

ncurses is a library for creating text-based user interfaces (TUIs). Now, one might want something along the lines of ncurses in Zephyr, but that would still need to operate on top of a low-lev

[2022-11-23 22:27] keith-zephyr commented on #52355
Some additional context, PR https://github.com/zephyrproject-rtos/zephyr/pull/42923, proposes creating a `kscan_matrix` driver that connects to the existing KSCAN API.  The matrix style SoC drivers then connect to the KSCAN matrix API.  The KSCAN user API is unchanged by this proposal.

Logical organization
[code]

The KSCAN matrix pseudo driver doesn't require any devicetree bindings, only the So

[2022-11-23 22:28] keith-zephyr commented on #52355
@gmarull - I'd appreciate your review of this.

[2022-11-24 00:15] DRNadler commented on #12386
@dleach02 Any update on USB host and pull-request above? We'd love to use Zephyr but cannot without USB host (as many others)... Thanks!

[2022-11-24 00:25] runegrunnet opened #52516 "CSIP Set Member: Adding the possibility to change/update SIRK(s) and notify subscribed clients"
According to the Coordinated Set Identification Service (CSIS) Specification it is optional for the SIRK key value to be notifiable.
But the proposal is to add this functionality to the codebase as it would be a valuable feature especially around device firmware upgrade (DFU) and also for a Set Member application that would be part of several different sets.

From "Coordinated Set Identification S

[2022-11-24 02:28] cfriedt opened #52517 "lib: posix: sleep() does not return the number of seconds left if interrupted"
**Describe the bug**
The `sleep(3)` function should return the number of seconds "unslept" according to the standard. Today, it reports 0 unconditionally.

https://pubs.opengroup.org/onlinepubs/9699919799/functions/sleep.html

Please also mention any information which could help others to understand
the problem you're facing:
 - **What target platform are you using?** all
 - **What have you tried

[2022-11-24 02:35] cfriedt opened #52518 "lib: posix: usleep() does not follow the POSIX spec"
**Describe the bug**
Zephyr's POSIX function currently does not follow the specification in a few ways
* calling thread may not be suspended (becuase `k_busy_waiit()` is used) (See #51776)
* if usecs > 1000000, we do not return -1 or set `errno` to `EINVAL`
* if interrupted, we do not return -1 or set `errno` to `EINTR`

https://pubs.opengroup.org/onlinepubs/009696899/functions/usleep.html

Please

[2022-11-24 03:00] cfriedt commented on #51776
Actually, I'm going to categorize this as a bug. The (Linux) man page is pretty clear that it is broken.

https://man7.org/linux/man-pages/man3/usleep.3.html

PR imminent.

[2022-11-24 03:45] albertofloyd commented on #41771
Fixed with https://github.com/zephyrproject-rtos/zephyr/pull/44733

[2022-11-24 06:38] cperera-aud commented on #52449
Sorry @jukkar for the delay in submitting the PR: https://github.com/zephyrproject-rtos/zephyr/pull/52521. This was my first time sending a PR so it took some time to sort out the various issues around pushing changes github.

[2022-11-24 09:21] #47242 closed

[2022-11-24 09:21] #47243 closed

[2022-11-24 10:08] bbkarim opened #52526 "Simplify lvgl.h file by creating more header files inside module's sub-filoders (src/widgets and src/layouts)"
**Make the lvgl.h more simple and short by adding new header files and include them.**

**Describe the solution you'd like**
Create below header files:
- `src/libs/lv_libs.h` with the content:
[code]
- `src/widgets/lv_widgets.h` with the content:
[code]
- `src/layouts/lv_layouts.h` with the content:
[code]
- `src/others/lv_others.h` with the content:
[code]

And include them from `lvgl.h`
[code]

[2022-11-24 10:15] sem1-nordic commented on #48304
Hi @watsug, I have tried to reproduce on the 52840 and seems to work fine. Can you provide any more information on your issue to try and help me see what's going wrong - an example sample that is not working, HCI logs? Is it just the nRF52805 you are having issues with now - the original ticket mentions the nRF52840 DK?

[2022-11-24 11:01] erwango commented on #52409
New HAL support is going to be merged soon. It will be disabled by default. Once merged, you'll be able to enable it using a Kconfig symbol and test it on your end.
If eth is the core of you application, I encourage you to test it proactively and report to us bugs or good status so it can be enabled by default as soon as possible.

[2022-11-24 11:41] broglep-work opened #52527 "net: lwm2m: wrong SenML CBOR object link encoding"
Zephyr's SenML CBOR encoding is not in line with the specification. It it using TLV format (encoding the object link into a 32 bit value) instead of using the text format (encoding the link to a string).

References:
- [JSON Format](https://www.openmobilealliance.org/release/LightweightM2M/V1_1-20180710-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_1-20180710-A.html#Table-744-1-JSON-format-and-desc

[2022-11-24 11:44] PerMac commented on #51718
@nashif What you proposed with levels is very useful and will help with understanding the role of a given test and having a better classification.  It also helps with communication with PMs and auditors and can improve QA in general. E.g. when a PM (auditor) ask: do you (what kind of) unit/system/etc tests have, is this area covered? It is a practice to evaluate a master test plan for a given comp

[2022-11-24 11:48] carlescufi commented on #52526
@bbkarim thanks for the suggestion. Would you be able to send a Pull Request implementing this?

[2022-11-24 12:10] parthitce commented on #48304
It's working fine in my end as well for nRF52805 with `CONFIG_SOC_FLASH_NRF_RADIO_SYNC_NONE=y` with internal RC.

[2022-11-24 12:25] carlescufi commented on #48304
@sem1-nordic @jori-nordic can you please test with the Zephyr LL (as it's the only one upstream) and with different clock options (RC, Crystal, etc). Thanks!

[2022-11-24 12:26] carlescufi commented on #48304
May be related to #52454

[2022-11-24 12:29] watsug commented on #48304
Hello, @parthitce, I will test this ASAP and let you know.

[2022-11-24 12:35] tripathidivya opened #52528 "Zephyr support for Nordic devices Thingy with TFLM"
I have a query regarding zephyr supported Thingy:53 board from Nordic semiconductor.

I need to know does Zephyr support Thingy: 53 for TFLM, Because all the sample examples that I have noticed on Zephyr repository are based on some other development kits like Arduino and others.

[2022-11-24 14:22] bbkarim opened #52534 "Missing include to src/core/lv_theme.h in src/themes/mono/lv_theme_mono.h"
**Missing include to src/core/lv_theme.h in src/themes/mono/lv_theme_mono.h**
Compilation failed when using the mono theme: Undefined `lv_theme_t`

**To Reproduce**
Steps to reproduce the behavior:
1. build the benchmark demo example using mono theme instead of the basic one.
2. Or add below code into your `disp_init()`
[code]

**Expected behavior**
Compilation done successfully

**Environment (pl

[2022-11-24 14:23] #45625 closed

[2022-11-24 14:29] bbkarim commented on #52526
Sorry this is not targetign this project !

[2022-11-24 14:42] #52534 closed

[2022-11-24 14:42] bbkarim commented on #52534
INVALID

[2022-11-24 14:42] #52526 closed

[2022-11-24 14:43] bbkarim commented on #52526
INVALID

[2022-11-24 15:39] hakehuang commented on #51718
-  about level

[code]
e.g.
if filter with 'unit' then only cases with 'unit' tag in level will be run.
if it is blank, then it will run when there is not level filter.
a case can have multiply tags

- about target platform

add a meta like 'target' which we recommend to run

[code]

[2022-11-24 15:51] fouge commented on #24512
@tejlmand should we close this issue?

[2022-11-24 18:37] rillbert opened #52539 "Broken linker script for the esp32 platform"
I believe that the linker script `.../zephyr/soc/xtensa/esp32/linker.ld` makes a faulty calculation for the size of read-only data residing in flash. This, in turn, will in some cases yield an incorrect configuration of the Cache MMU resulting in difficult-to-find application crashes with 'LoadException' or similar.

The error is that the value of `_image_drom_size` is calculated as:

[code]
but t

[2022-11-24 19:31] kiafaldorius opened #52540 "Documentation Request for NVS and SETTINGS_NVS"
**Is your enhancement proposal related to a problem? Please describe.**

It's my understanding of the [settings_nvs.c](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/settings/src/settings_nvs.c) and its usage of `NVS_NAMECNT_ID` and `NVS_NAME_ID_OFFSET` that the settings will only use NVS key indexes from `NVS_NAMECNT_ID` up to and including `NVS_NAMECNT_ID + (NVS_NAME_ID_OFFSET * 2

[2022-11-24 21:31] lucasdietrich opened #52541 "net: sockets: tls: Check whether peer was verified after handshake (with TLS_PEER_VERIFY_OPTIONAL)"
For TLS connections, it would be interesting to know whether the peer was verified when the socket option TLS_PEER_VERIFY_OPTIONAL is enabled.

It seems to be quite feasible, getting the result of `mbedtls_ssl_get_verify_result(tls->ssl)` after handshake would do the trick. However I have no idea of an API to present this result to the application.

Suggestions are welcome.

MbedTLS documentation:

[2022-11-24 22:21] lucasdietrich commented on #52541
Apart from that, I also thought of allowing the application to register a custom TLS verification function, as is done in OpenSSL with the `SSL_CTX_set_verify` function (https://www.openssl.org/docs/man1.1.1/man3/SSL_CTX_set_verify.html).

This issue is quite different from my original post, but having more control over the TLS stack from the application could be a good thing, especially during th

[2022-11-24 23:30] cperera-aud commented on #52409
Thanks for the update, looking forward to trying it out on our end.

[2022-11-25 00:31] #51776 closed

[2022-11-25 00:31] #52517 closed

[2022-11-25 00:31] #52518 closed

[2022-11-25 00:32] zephyrbot opened #52542 "[backport v2.7-branch] backport of #52519 failed"
This issue was created automatically because the backport of #52519 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-52519-to-v2.7-branch`.

[2022-11-25 00:32] zephyrbot opened #52543 "[backport v3.0-branch] backport of #52519 failed"
This issue was created automatically because the backport of #52519 to `v3.0-branch` failed.

The backport to `v3.0-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.0-branch` and the `compare`/`head` branch is `backport-52519-to-v3.0-branch`.

[2022-11-25 09:08] JiiZR opened #52548 "Late device driver initialization"
**Is your feature request related to a problem? Please describe.**
Is it possible to initialize device driver from main thread ?

I have a problem that device driver's HW voltages are enabled at late phase and
driver init from kernel will fail.

I did notice this:
https://github.com/zephyrproject-rtos/zephyr/issues/19448
and it says:
"Applications that are power-sensitive are likely to have device

[2022-11-25 09:11] vibhor-meshram commented on #52125
@FRASTM  I am unable to go less than 1 second using LSE as RTC clock source. Is there anything else that needs to be modified other than .overlay file? How did you configure 1ms alarm?

[2022-11-25 09:55] gmarull commented on #52548
You should likely be using regulators, power domains or runtime PM in your case. You will find some examples in-tree.

[2022-11-25 10:11] jori-nordic commented on #52393
I think it's a controller issue, the test works fine (there were some logic errors) when peripherals are compiled with `CONFIG_BT_AUTO_DATA_LEN_UPDATE=n`.

It seems the central controller has issues ACK-ing one of the peripheral after switching to the max LL packet length. When the LL data length stays at 27, there are no issues whatsoever.

@kruithofa and @cvinayak To reproduce:
- check out this

[2022-11-25 11:14] FRASTM commented on #52125
Nothing special, I took your example (main.c) and your overlay files and put them in a  new samples/boards/stm32/timer_pulse. A counter node was included in the timers2 node of the stm32u5 device Tree.
See my branch [here](https://github.com/FRASTM/zephyr/tree/counter_u5/).

[2022-11-25 11:31] Laczen commented on #52540
@kiafaldorius, yes it has been foreseen from the addition of a nvs backend to settings that the nvs backend could be used by both settings and userspace. However because of how settings initializes it was very difficult to use it this way, so it was never documented. A recent addition  (#48420) has made it possible to get the nvs backend and now this feature can be used more easily. The documentat

[2022-11-25 11:36] vibhor-meshram commented on #52125
Thanks @FRASTM I am now getting the same results as yours. I am closing this issue now.

[2022-11-25 11:36] #52125 closed

[2022-11-25 12:33] Desvauxm-st commented on #52409
About the UDP/IP muticast when Clock PTP (EEE 1588) is used:
I had found one thing about issue PTP on the STM32Hxx
as above:
EEE 1588 PTP Clock Source in STM32H743
https://community.st.com/s/question/0D53W000004lxNhSAI/ieee-1588-ptp-clock-source-in-stm32h743
may be could you have a look at this issue about PTP clock.
Maybe it is link to this issue.

[2022-11-25 13:58] rjmaris opened #52556 "adc driver sample was failing with STM32 nucleo_f429zi board"
An overlay file for the nucleo_f429zi board for the adc driver sample is missing. Hence ADC is not operating despite suggestion in the board description.

The overlay file has been created now, based on another overlay file. However I don't succeed in integrating both inputs of adc1 as well as adc3. Therefore, I outcommented the input description for the one adc3-input, which is tied to A3 of the

[2022-11-25 15:07] r2r0 opened #52559 "Compiler cannot include C++ headers when both PICOLIBC and LIB_CPLUSPLUS options are set"
**Describe the bug**
When `CONFIG_PICOLIBC` and `CONFIG_LIB_CPLUSPLUS` options are set at the same time then compiler is not able to include C++ headers i.e. `cstdint`.
When there is used `picolib` without enableing usage of C++ standard library then everything works well.
After adding `CONFIG_LIB_CPLUSPLUS` standard C++ headers cannot be found (see log below).

**To Reproduce**
Steps to reproduce

[2022-11-25 15:22] stephanosio commented on #52559
Using libstdc++ with picolibc requires the toolchains (i.e. Zephyr SDK) to include the picolibc, which is not currently the case.

The upcoming Zephyr SDK 0.16.0 release will include picolibc and the libstdc++ compiled for it: see https://github.com/zephyrproject-rtos/zephyr/issues/49922#issue-1361765276.

[2022-11-25 15:41] FRASTM commented on #43555
@hjuul could you please share a branch (remotes/hjuul/reproduce/43555 is quite old)
Trying to build for another platform (stm32f746g_disco) also fails.

[2022-11-25 17:30] r2r0 commented on #52559
Thanks a lot for a prompt answer.
Do you think that it would be a good idea to not allow users to select this combination of options for now?

[2022-11-25 18:06] ahmedmoheb-nordic commented on #52393
I've tested the same scenario using the desktop application "nrf connect for desktop Bluetooth Low Energy" in place of the central device while keeping the same peripherals and following the same behavior of the central application and there were no issues found.

[2022-11-25 18:08] kiafaldorius commented on #52540
@Laczen Thank you for the confirmation! What's your recommendation for a storage backend? I'm on NRF52832, an older chip, but starting a new project. NVS is still the default for Zephyr, so I assume it's good enough.

I'll look into updating the documentation, but I'm running 3.1 so `settings_fs_storage_get` doesn't look available to me yet. In the meantime, I've been able to manually initialize t

[2022-11-25 19:02] #52339 closed

[2022-11-25 19:03] #51944 closed

[2022-11-25 19:32] Laczen commented on #52540
Don't do this, when there are two threads writing the userdata and the settings at the same time the lock mechanism does not work and the nvs_fs might get corrupted.

[2022-11-25 20:41] kiafaldorius commented on #52540
And that's why it feels dangerous... I'll heed the warning and use the settings subsystem for my userdata until I get around to updating my libraries. Thanks again.

[2022-11-25 20:49] dipakgmx opened #52561 "fsl_flexcan missing flags"
**Describe the bug**
The CAN FD driver provided in the fsl_flexcan SDK seems to have a few flags of `flexcan_fd_frame_t` not being used or are set to default values.

For example, [here](https://github.com/zephyrproject-rtos/hal_nxp/blob/master/mcux/mcux-sdk/drivers/flexcan/fsl_flexcan.c#L2897) the `pTxFrame->edl` uses a default value of 1, which implies a CAN FD frame. This wouldn't allow one to

[2022-11-25 21:27] rmsaad opened #52563 "spi_transceive with DMA for STM32 does not work for devices with 16 bit words."
**Describe the bug**
The STM32 SPI driver's DMA implementation does not work with devices that utilize 16 bit SPI words. This seems to be due to a bug in the STM32's SPI driver code. Currently, when calculating dma_segment_len in spi_dma_move_buffers() the following calculation is made:

https://github.com/zephyrproject-rtos/zephyr/blob/4256cd41df6c60f1832fd2deb14edc30ac7debab/drivers/spi/spi_ll_s

[2022-11-26 03:25] willChuai commented on #46301
Hi all, any new progress on this issue?

[2022-11-26 07:52] Trafficode opened #52566 "Error while build esp32 samples/hello_world"
Hi
Following instruction(link below) of build simple example for esp32 I met some problem...
https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html

Version of zephyr project that I currently use:
VERSION_MAJOR = 3
VERSION_MINOR = 2
PATCHLEVEL = 99
VERSION_TWEAK = 0
EXTRAVERSION =

SDK version:
zephyr-sdk-0.15.2

Operationn system version:
Distributor ID:	Ubuntu
Description:	Ubun

[2022-11-26 15:27] jalinei opened #52568 "Modbus - Adding support for serial async"
**Is your enhancement proposal related to a problem? Please describe.**

Async serial is supported in zephyr but modbus subsystem to not provide compatibility with the async API. Async has the great advantage of leveraging DMA to relieve CPU of having to deal with incoming messages interupts.
Also, some RS485 transceivers are meant for high speed (Up to 10Mbits is defined in the official spec) but

[2022-11-27 01:47] JordanYates opened #52575 "Kconfig: excessive `select` usage"
**Describe the bug**

Several subsytems (mcumgr, hawkbit) have defaulted to using `select` for all their dependencies.

https://github.com/zephyrproject-rtos/zephyr/blob/5a5e15fc958a0ce299809286a2dc9826d6e4124c/subsys/mgmt/hawkbit/Kconfig#L4-L21

https://github.com/zephyrproject-rtos/zephyr/blob/5a5e15fc958a0ce299809286a2dc9826d6e4124c/subsys/mgmt/mcumgr/Kconfig#L5-L9

https://github.com/zephyrpro

[2022-11-27 13:35] 28itay commented on #52506
@DerekSnell
I'm not sure hot to submit a code 😅, but the change is really simple.
Change line 59 from:
`if (cfg_idx < (config->pin_gaps[i].start +`
to:
`if (pin< (config->pin_gaps[i].start +`

Basically checking if `pin` (the absolute pin value) is in side the current gap (which is also being specified by an absolute values)

[2022-11-27 17:55] thedjnK commented on #52395
I did try this for a while and was not able to get it working, just tried it again and it is working so must have made a mistake previously.

[2022-11-27 20:40] henrikbrixandersen commented on #51449
But the DT_* APIs are not limited to devicetree nodes which have a corresponding `struct device`. These APIs work for any devicetree node, regardless if it has a compatible property, a corresponding driver, a corresponding driver instance etc.

I think the check needs to do the same, otherwise it will work differently depending on e.g. Kconfig settings.

[2022-11-27 20:45] henrikbrixandersen commented on #52561
The function is called `FLEXCAN_WriteFDTxMb()`. For transmitting classic CAN frames, you should use `FLEXCAN_WriteTxMb()`?

[2022-11-27 21:33] dipakgmx commented on #52561
Am uncertain if the `FLEXCAN_WriteTxMb()` would be the right option. Looking into the implementation of `FLEXCAN_WriteFDTxMb()`, it   uses the `FLEXCAN_GetFDMailboxOffset` to figure out where the data needs to placed, whereas the former uses another approach in figuring out where the data needs to be placed. When CAN FD is configured, the MailBoxes are also configured differently, and hence the lo

[2022-11-28 01:22] jefffhaynes opened #52585 "PDM event handler shouldn't stop driver on allocation failure"
I've been struggling to get a USB microphone implementation working, and it strikes me that some of the DMIC driver behavior could probably be better.

I think there are a few weird things, but probably the primary issue is that the PDM "pool" has to be drained faster than it is replenished or else the microphone will simply stop working.  Conversely, if the PDM driver is only activated when the s

[2022-11-28 02:11] vChavezB opened #52586 "doc version selection change"
**Is your enhancement proposal related to a problem? Please describe.**
Whenever you change the version of the zephyr docs the string "latest" is always displayed. Is this an intended behavior or should it change to the current selected version?

![grafik](https://user-images.githubusercontent.com/47216966/204176611-41aa164b-649e-44a8-a6ae-6606a72124cc.png)

**Describe the solution you'd like**
To

[2022-11-28 04:09] galak commented on #51449
Not sure I follow since the check/issue is around `device_get_binding` which would only related to `struct device`.

[2022-11-28 05:46] dean-at-evos opened #52588 "ESP32c3 SPI driver DMA mode limited to 64 byte chunks"
The fix implemented in #35978 may have the unintended side effect of limiting DMA enabled transfers to 64 byte chunks as well.

My hack to test this was to add a check around the code limiting the chunk size in [spi_esp32_spim.c](https://github.com/zephyrproject-rtos/zephyr/blob/7ac69dc4ca95dcf7375a21c24aa4af22b34d6fa7/drivers/spi/spi_esp32_spim.c).
[code]
With this added and declaring buffers as

[2022-11-28 06:44] plinnie opened #52589 "Add support for different SDHC high-speed modes (currently defaults to SDR25)"
**Is your enhancement proposal related to a problem? Please describe.**
In de SDMMC subsystem the high-speed mode defaults to SDR25. However, atmel only supports Legacy High-Speed mode and can't switch to the required 1.8 V required for SDR25.

**Describe the solution you'd like**
The function `sdmmc_init_hs(struct sd_card *card)` should be modified such that high-speed mode is derived from the ca

[2022-11-28 07:59] nordicjm opened #52591 "[v2.7-branch] mcumgr user data size out of sync with net buffer user data size"
**Describe the bug**
v2.7-branch CI is currently failing on a mesh sample application because the net buffer user data size and mcumgr user data size need to be manually set to the same, this can be better served by making them set to the same (higher) values by default, thus fixing the test.

**Expected behavior**
CI to not be broken

**Impact**
Showstopper

**Environment (please complete the fol

[2022-11-28 08:03] erwango commented on #50501
@kborowski3 Should we keep this issue open or do you plan to contribute in coming weeks?

[2022-11-28 08:04] erbr-ot commented on #42905
This is implemented as part of PR43023 and subsequent fixup PRs

[2022-11-28 08:04] #42905 closed

[2022-11-28 08:05] erbr-ot commented on #42902
This is implemented as part of PR43023 and subsequent fixup PRs

[2022-11-28 08:05] #42902 closed

[2022-11-28 08:05] erbr-ot commented on #42898
This is implemented as part of PR43023 and subsequent fixup PRs

[2022-11-28 08:05] #42898 closed

[2022-11-28 08:06] erbr-ot commented on #42897
This is implemented as part of PR43023 and subsequent fixup PRs

[2022-11-28 08:06] #42897 closed

[2022-11-28 09:15] gopiotr opened #52595 "Twister: unable to run tests on real hardware"
**Describe the bug**
As a result of introduction following changes:
https://github.com/zephyrproject-rtos/zephyr/commit/a90d711c7d2b387d119207dc3b485081c1659962
and especially checking in this line:
https://github.com/zephyrproject-rtos/zephyr/blob/main/scripts/pylib/twister/twisterlib/runner.py#L548
it is impossible to run tests on real hardware.

**To Reproduce**
1. Run Twister by command:
[code

[2022-11-28 09:48] #52317 closed

[2022-11-28 09:49] #52309 closed

[2022-11-28 10:17] vChavezB commented on #24961
Just an extra thought about this ,  an assert would be nice to detect at compile time. Metadata could be added about the type of node (uart-controller, gpio-controller,spi-controller,etc) type and only used as mentioned only in debug mode `#ifndef NDEBUG`.

[2022-11-28 10:36] mredp-evos opened #52598 "esp32c3 Unable to do any timing faster than 1ms"
Trying to use any of the kernel timing functions for anything less than 1ms does not work on the ESP32-C3. I would have thought I just need to increase the `CONFIG_SYS_CLOCK_TICKS_PER_SEC` to `10000` to get 100us ticks. But this doesn't work.

I have tried various combinations of `CONFIG_SYS_CLOCK_TICKS_PER_SEC` and `CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC`. But it always ends up wrong/very innacurate.

[2022-11-28 10:54] erwango commented on #52586
I personally find that `latest` is quite explicit. Don't see why it should be changed.
Alternative is `3.2.99` which will confuse most new comers.

[2022-11-28 11:01] vChavezB commented on #52586
Yes the latest tag is explicit, but once you change the version and  go to https://docs.zephyrproject.org/SPECIFIC_VERSION  the v:latest tag is still shown.

What I propose is that if I click v3.20 the label "v:latest" changes to v:3.20. Thats why I asked if its an intended behavior that it always shows v:latest independent of navigation directory in the docs website.

BR
Victor

[2022-11-28 11:18] nordic-piks opened #52602 "tests: subsys: settings: file_littlefs: system.settings.file_littlefs.raw fails"
**Describe the bug**
The tests/subsys/settings/file_littlefs/system.settings.file_littlefs.raw fails

Observed for
- nrf52840dk_nrf52840

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk_nrf52840 connected
2. go to your zephyr dir
3. call ./scripts/twister -T tests/subsys/settings/littlefs -p nrf52840dk_nrf52840 --device-testing --device-serial /dev/ttyACM0 -v --inline-logs
4.

[2022-11-28 11:26] vChavezB commented on #52586
Yes the latest tag is explicit, but once you change the version and  go to https://docs.zephyrproject.org/SPECIFIC_VERSION  the v:latest tag is still shown.

What I propose is that if I click v3.20 the label "v:latest" changes to v:3.20. Thats why I asked if its an intended behavior that it always shows v:latest independent of navigation directory in the docs website.

Btw: my proposal does not us

[2022-11-28 13:16] anangl commented on #49996
The problem with drivers.clock.nrf_onoff_and_bt test was fixed by #52454. nrf_lf_clock_start* tests will be fixed by #52333.

[2022-11-28 13:37] SeppoTakalo commented on #52328
I think the behaviour 1 is correct.
If we lose confirmable CoAP messages, it means that we have lost a connection to the server. This might be due to NAT table have expired, for example.
And because the connection is lost, only way to proceed is to try to re-establish the connection. Re-registration causes a DTLS handshake as well, and should be able to fix the issue.

Another thing is that LwM2M

[2022-11-28 13:38] fabiobaltieri opened #52605 "esp32-usb-serial tx-complete interrupt not working in interrupt mode on esp32c3"
**Describe the bug**
Hi! I'm running into some issue when trying to use the `usb_serial` device on an ESP32C3 system. When running the `shell_module` sample, I can tell that the data is received correctly, but the output buffer is only flushed as a reaction to a receive event. For example I can type a command, but the echo is delayed and the output is not printed until something else is sent on th

[2022-11-28 13:39] Thalley commented on #51796
@MariuszSkamra Somewhat related: After https://github.com/zephyrproject-rtos/zephyr/pull/51513/commits/f958b3b2bb210d0fc9c5dfdd734b29de34753ca6 was merged, the `stream->ep` is now required before a stream can be added to a unicast group. Since `stream->ep` is not set until after it has been configured, this also means that a device can no longer create a unicast group with streams, before the stre

[2022-11-28 13:40] cfriedt commented on #52605
I've experienced the same problem

[2022-11-28 13:49] jmrua commented on #50598
Hello @jori-nordic, are you able to extract meaningful information from the message below?

[2022-11-28 15:41] kborowski3 commented on #50501
Unfortunately I am not planning to. For now we had to make some workarounds for our specific problem which are not suitable to be contributed.

[2022-11-28 16:04] PerMac opened #52614 "Empty "west build --test-item" doesn't report warnings/errors"
Using --test-item tells west which entry from testcase/sample.yaml to use. However, this option returns no errors nor warnings when a given item cannot be selected.

To reproduce:
- Modify testcase.yaml at zephyr/tests/kernel/common/testcase.yaml by adding some wrong option, e.g. `-CONFIG_PAKSGPGKAGSGPADKG_SANE=y`  into `extra_configs`  of kernel.common.misra

- run `west build zephyr/tests/kernel

[2022-11-28 16:33] danieldegrasse commented on #52506
Hi @28itay, I've tested your proposed fix on an RT1015 EVK (since the SOC present there has the same pin mux gaps as the RT1021 SOC you have). PR #52610 should fix this issue, it appears that both checks should use `pin` over `cfg_idx`

[2022-11-28 16:43] #45621 closed

[2022-11-28 16:44] #31298 closed

[2022-11-28 17:12] MikhailSiomin opened #52612 "mcux: flexio: Add generic MCUX FlexIO driver."
Add generic MCUX FlexIO driver.
================================

**Zephyr** currently does not support ***mcux flexio***.

I originally implemented ***mcux flexio spi*** driver that uses FlexIO as SPI only. But @henrikbrixandersen proposed an implementation of a **generic** FlexIO driver. Now I have a proposal to split the driver into parts:
* `zephyr\drivers\misc\mcux_flexio\mcux_flexio.c` – for

[2022-11-28 17:14] carlescufi commented on #52612
@MikhailSiomin I recommend you also mention that you posted this RFC in the #NXP [Discord channel](https://chat.zephyrproject.org/)

[2022-11-28 18:47] #52595 closed

[2022-11-28 18:51] fgrandel commented on #50084
Thanks @carlescufi for keeping the ticket alive. :-)

[2022-11-28 19:16] marc-hb commented on #52614
Thanks for the report. I transferred this to the `zephyr` repo because the `west build` command is not part of `west`. If you run `git grep test.item` in both repos you will find nothing in the `west` repo and the (relatively simple) implementation of `--test-item` in `zephyr/scripts/west_commands/build.py`. If you look at the short `_parse_test_item()` there you will see that the general logic of

[2022-11-29 08:49] #49996 closed

[2022-11-29 09:22] UVV-gh commented on #14591
Is there any update on this?

[2022-11-29 09:31] fabiobaltieri commented on #50590
This should have been fixed with the updated SDK.

[2022-11-29 09:31] #50590 closed

[2022-11-29 09:32] #52276 closed

[2022-11-29 09:34] boaks commented on #23424
Some latest news:

The new https://github.com/Mbed-TLS/mbedtls/pull/6264 has been merged.

[2022-11-29 09:46] #38947 closed

[2022-11-29 10:11] SkryptX commented on #50766
I have learned about the `ZEPHYR_TOOLCHAIN_VARIANT` variable and setting it to `host` (or `llvm`?) should have the effect of disabling cross compiling and keep the host detection mechanisms like `UNIX` etc. That would be an easy and especially explicit fix for this issue in my opinion.

[2022-11-29 10:54] wentasah opened #52623 "qemu_x86: thousands of timer interrupts per second"
**Describe the bug**

When running sample applications under qemu_x86, I experience wired problems caused by overloading the system with timer interrupts.

 - **What target platform are you using?** qemu_x86
 - **What have you tried to diagnose or workaround this issue?**

   Tried different samples. Tried older zephyr versions.

 - **Is this a regression?**
   Not sure.

**To Reproduce**
Steps to

[2022-11-29 10:54] #51785 closed

[2022-11-29 11:44] sylvioalves commented on #52566
@Trafficode, have you `export ZEPHYR_TOOLCHAIN_VARIANT="zephyr"`?

[2022-11-29 11:48] #52591 closed

[2022-11-29 11:48] #52247 closed

[2022-11-29 12:02] sylvioalves commented on #52539
@rillbert I think you are correct, there is a missing area to be added in there. Thanks for noticing this and offering some solution as well. I'll try to reproduce and bring a PR for this.

[2022-11-29 12:05] desowin opened #52625 "USB device: mimxrt685_evk_cm33: premature ZLP during control IN transfer"
**Describe the bug**
USB CDC ACM samples does not work on NXP MIMXRT685-EVK (mimxrt685_evk_cm33).

The behavior is the same for both v3.2.0 and current main branch. The device prematurely ends GET CONFIGURATION control transfer. During Data stage, the first 64 bytes are transferred correctly, then instead of sending remaining 11 bytes, the device sends ZLP that ends the Control transfer Data stage

[2022-11-29 12:09] kruithofa opened #52626 "Improve LLCP unit tests"
**Is your enhancement proposal related to a problem? Please describe.**
In the LLCP unit tests a hack was introduced for using different kconfig settings. Since then the ztest framework has been improved, and this hack is not needed anymore.

**Describe the solution you'd like**
Rewrite the unit tests so that the 'kconfig' hack is not used anymore and the LLCP unittests follow the proper pattern.

[2022-11-29 12:10] kruithofa opened #52627 "Use FFF for the LLCP unit tests"
**Is your enhancement proposal related to a problem? Please describe.**
The FFF framework has been introduced into framework, and should be used by the LLCP unit tests as well

**Describe the solution you'd like**
see above

**Describe alternatives you've considered**
N/A

**Additional context**

[2022-11-29 12:12] ottojo opened #52628 "spi: NXP MCUX LPSPI driver does not correctly change baud rate once configured"
**Describe the bug**
When using SPI devices with different max baud rate, the LPSPI driver does not change the baud rate when configuring the SPI controller for different devices.

I think the problem is that `spi_mcux_configure` calls `LPSPI_MasterInit` without deactivating the peripheral first, and `LPSPI_MasterInit` calls `LPSPI_MasterSetBaudRate` (ignoring its return value) which requires the

[2022-11-29 12:13] mredp-evos commented on #52598
Narrowed the issue down to `esp32c3_sys_timer.c`

A quick workaround was to set `#define MIN_DELAY` to 1. Then when you increase the `CONFIG_SYS_CLOCK_TICKS_PER_SEC` it won't be capped at 1ms.

I guess MIN_DELAY might be left over from the **esp32s2** driver where the HW CYCLES are faster perhaps? Whereas in the **esp32c3** HW CYCLE is only 1us which makes MIN_DELAY of 1000 equal 1ms.

I also set

[2022-11-29 12:15] ottojo commented on #52628
I just found #51177, which may be a duplicate?

[2022-11-29 12:28] sylvioalves commented on #52242
@rillbert, I've addressed the issue regarding mcuboot/zephyr IRAM overlapping.
The reason it happened is that ESP32 MCUBoot porting in upstream's got new features related to security. During this process, IRAM area needs to be increase, which make less room for IRAM in Zephyr's linker. And we haven't updated Zephyr's.
The PR linked to this issue makes room for newlibc + mcuboot + wifi.
Once we mak

[2022-11-29 12:45] jumo-sballing opened #52632 "MQTT over WebSockets: After hours of running time receiving published messages is strongly delayed"
**Describe the bug**
I am using MQTT over secure websockets. The most of the time the device is simply pushing mqtt message in an interval of 5 seconds to a single topic. But sometimes another mqtt client publishes a message to a subscribed topic. Right after the start of the device the published message from the other client is immediately send to the MQTT event callback. Thats fine. But after a

[2022-11-29 14:10] jachatzi opened #52637 "Add a loadable NOCACHE linker section"
**Is your feature request related to a problem? Please describe.**
I've got the data cache enabled on an STM32H7 and want to place some buffers into the section with deactivated cache via `__nocache`.  I also need the region to be loadable, but the no cache section has option `NOLOAD` set in zephyr/arch/common/nocache.ld

I traced this back to the first commit of this feature by @aurel32  and the

[2022-11-29 14:35] bdunlay commented on #52276
Thank you!

[2022-11-29 16:21] ngm0 opened #52641 "armv7: mpu: RASR size field incorrectly initialized"
The zephyr struct interface (I examined the ARMv7 code-path) for specifying a region size incorrectly initializes the corresponding bits in the `RASR` register.  Below is a walk-through of the corresponding code paths that result in this incorrect register programming.

The definition of the `arm_mpu_region` struct, which serves as the interface for boards to specify static MPU rules:
[code]

Boar

[2022-11-29 17:16] laurenmurphyx64 commented on #52588
CC @lgl88911

[2022-11-29 18:59] ngm0 commented on #52641
#usererror - turns out the size field is not a native int, but needs to be one of the predefined `REGION_x` macros.  Marking as closed.

[2022-11-29 18:59] #52641 closed

[2022-11-29 20:05] RomainPelletant commented on #52493
Not a real need, nor any rationale. Just asking cause we are using double and wanted to know if it was possible to use 32 bits float directly.

[2022-11-29 20:05] #52493 closed

[2022-11-29 21:38] k6dsp commented on #36301
Hm. this marked as completed and even end up in release note for 2.7.0. Can someone point me to the implementation?

[2022-11-30 00:08] mbolivar-nordic commented on #52614
@carlocaione originally added support for this feature to `west build` -- can you take a look?

[2022-11-30 00:44] warasilapm commented on #49021
@larson-whisper Thanks so much for digging into this. I ran into this immediately on an nrf52 device with a large amount of processing going on in their interrupt stacks and uart0 operating at 1 Mbaud. Without the hardware timers, I was only getting about half of the correct count. Once the hardware timer was enabled, everything worked perfectly.  At 64 MHz and 1 Mbaud, my use case only gives a 57

[2022-11-30 02:28] XenuIsWatching opened #52652 "drivers: sensors: bmi08x config file"
## Origin

Binary blob `bmi08x_config_file[]` from: https://github.com/BoschSensortec/BMI08x-Sensor-API/blob/631a966891885643f180e18e94870411b8f4c3fc/bmi08a.c#L69

## Purpose

This is written to the BMI08x to enable Data Sync as described in this App Note. https://www.bosch-sensortec.com/media/boschsensortec/downloads/application_notes_1/bst-mis-an006.pdf

## Mode of integration

Integration in to

[2022-11-30 07:43] nordicjm commented on #52271
I don't see any fix for this, a build can output a hex file, and a build can output a bin file - those 2 files are optional via Kconfig, unless you force generating both then you have to assume that one might not be there and so both are going to get signed individually, thus have different signature contents.

[2022-11-30 07:49] marc-hb commented on #38565
"Closed" can have and often has two conflicting definitions:
1. closed = not active right now but could be re-opened. The "project management" definition.
2. closed = done or invalid, should never be re-opened. The "engineering" definition.

Definition 1. can have a "stale bot"; definition 2. can not.

Either definition can work - _but not at the same time in the same project_. The entire project

[2022-11-30 08:25] henrikbrixandersen commented on #38565
GitHub supports two reasons for closing an issue, "completed" or "not planned":
![image](https://user-images.githubusercontent.com/1076226/204743956-f2276906-bdb9-4aa3-a802-008f1c242aca.png)

They list both "won't fix" and "stale" as reasons for closing as "not planned", meaning we cannot use the reason as a search criteria when searching for stale issues/bugs. We could, however, search for issues

[2022-11-30 08:33] carlocaione commented on #52614
nope, I suggested that but @nashif actually wrote the code.

[2022-11-30 09:12] marc-hb commented on #38565
"wontfix" decisions can change and wontfix issues can be re-opened. Again it's all about conventions but most of the time I see "wontfix" used as "looks _valid_ but too hard, closing for now". Granted: less likely to be re-opened than "stale" but still possible.

[2022-11-30 10:04] carlescufi commented on #52327
@GrixaYrev will you post a Pull Request to fix this? Thanks!

[2022-11-30 10:15] GrixaYrev commented on #52327
@carlescufi, i plan to post PR at end of current week.

[2022-11-30 10:28] #51177 closed

[2022-11-30 10:28] #52628 closed

[2022-11-30 10:55] kurddt opened #52667 "nrf_rtc_timer: Booting application with zephyr < 3.0.0 from mcuboot with zephyr >= 3.0.0"
**Describe the bug**
Due to change of the NRF RTC timer in zephyr v3.0.0 which enable the overflow interrupt, MCUBoot will leave this interrupt enabled which is not handled by the driver for earlier version. In practice that mean that in such use case, after ~8.5 minutes of running the interrupt will be triggered indefinitely leading to starvation of all threads.

**To Reproduce**
Steps to reprodu

[2022-11-30 10:56] carlescufi commented on #52625
cc @danieldegrasse @mmahadevan108

[2022-11-30 10:57] carlescufi commented on #52625
@desowin as per @jfischer-no, can you try enabling `CONFIG_USB_DC_HAS_HS_SUPPORT`?

[2022-11-30 11:04] jori-nordic commented on #51174
Thanks for the code snippet @yajunzhi ! I opened a PR (https://github.com/zephyrproject-rtos/zephyr/pull/52631) to fix this issue.
Closing it as duplicate, since https://github.com/zephyrproject-rtos/zephyr/issues/52228 has more details.

[2022-11-30 11:04] #51174 closed

[2022-11-30 11:13] jori-nordic commented on #50598
Not really. I don't think the issue is in l2cap though, but I will try to reproduce it locally just in case.
What strikes me as odd is that for the first two samples (udp ll / global), only the LL seems to have the IP in the payload.

[2022-11-30 11:49] #45427 closed

[2022-11-30 11:50] #52228 closed

[2022-11-30 11:50] nordic-piks opened #52670 "tests: subsys: usb: device: usb.device hangs"
**Describe the bug**
The zephyr/tests/subsys/usb/device/usb.device hangs

Observed for
- nrf5340dk_nrf5340_cpuapp_ns

But test works fine for:
- nrf5340dk_nrf5340_cpuapp
- nrf52840dk_nrf52840

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf5340dk_nrf5340_cpuapp_ns J-Link connected and **DO NOT** connect nRF USB
2. go to your zephyr dir
3. call ./scripts/twister -T tests/subsys/usb/de

[2022-11-30 11:51] sylvioalves commented on #52605
@fabiobaltieri, The below has been fixed already, but needs west.yml update, which depends of other PRs).
[code]
I was able to confirm the same issue, will take a look. Thanks!

[2022-11-30 12:10] desowin commented on #52625
No change at all. Note that `CONFIG_USB_DC_HAS_HS_SUPPORT` affects the bulk endpoint `wMaxPacketSize` value in CONFIGURATION descriptor. The issue here is with 64 byte **control** endpoint. The 64 bytes is the only possibility for High-Speed control endpoint, while it is one of the options for Full-Speed control endpoints (FS options are: 8, 16, 32 or 64). Zephyr USB stack assumes control endpoint

[2022-11-30 12:15] MikhailSiomin opened #52673 "mcux: flexcan: forever waiting semaphore in can_send()"
If you call the `can_send()` function from several **threads** with **different priorities** with the function arguments **timeout = K_FOREVER** and **callback = NULL**, then after a certain period of time, for some reason, the thread will endlessly wait for the semaphore.
**Updated**: Hang is not observed if threads have the same priority.

 - mimxrt1064_evk board
 - CAN baud rate 1Mbit/s
 - A th

[2022-11-30 12:40] #52242 closed

[2022-11-30 13:26] andy3469 opened #52675 "I2C: STM32F0 can't switch to HSI clock by default and change timing"
Even with the dts correctly set we can't set the HSI clock for I2C1 peripheral and change the timings accordingly.

[code]

The clock is instantly set to SYSCLK and it doesn't check if another clock is set inside the clocks property.
https://github.com/zephyrproject-rtos/zephyr/blob/2bfc4451cf4d39b585d9a65f86d8b38facc84277/drivers/i2c/i2c_ll_stm32.c#L238-L250

We can't even use the `i2c_configure`

[2022-11-30 14:37] gmarull commented on #26392
Driver uses DT now.

[2022-11-30 14:37] #26392 closed

[2022-11-30 15:06] erwango commented on #25055
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/14260.
Closing this one as the other one is the most commented

[2022-11-30 15:06] #25055 closed

[2022-11-30 15:35] #51290 closed

[2022-11-30 15:46] jori-nordic commented on #50786
@Thalley I had a quick pass through the code and don't really understand how the queued events would block the host.

`bt_recv` has a check for `BT_HCI_EVT_FLAG_RECV_PRIO` and for command complete/status, that flag will be set, and thus the event will be processed in-place rather than placed in the queue (with `rx_queue_put(buf)`).

Or is that an issue of the CPU just being overloaded?

What I thi

[2022-11-30 17:05] mbolivar-nordic commented on #50836
Process WG:

- @keith-zephyr Hope to have a draft PR uploaded later today

[2022-11-30 17:05] galak commented on #50922
If we go w/semantic version we need to clarify how we know experimental and unstable.

[2022-11-30 17:29] mbolivar-nordic commented on #48887
Process WG:

- consensus among participants that we want changes announced for unstable APIs
- consensus that we want to start having automated enforcement that when unstable (or above, including stable) APIs are changed, we require an update to the release notes within the same PR
- issue goes back to 'on hold' until @stephanosio comes back with an RFC pull request implementing the enforcement

-

[2022-11-30 17:49] RomainPelletant opened #52690 "coredump: stm32l5: I-cache error on coredump backend in flash"
**Describe the bug**
When enabling coredump feature with flash backend, on coredump, an error while writing on stm32l5 flash occurs.
[code]

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? STM32L552Q

**To Reproduce**
Steps to reproduce the behavior:
1. Enable coredump in prj.conf
[code]
2. In board dts, co

[2022-11-30 18:09] mbolivar-nordic commented on #52614
Thanks for the correction; assignee applied

[2022-11-30 18:16] bdunlay opened #52691 "cannot read octospi flash when partition size exceeds 4mb"
**Describe the bug**
I am trying to use littlefs with the the 'store_partition' of the quad-spi flash peripheral using the octospi driver for the b_l4s5i_iot01a. The default size of the `store_partition` is 8MB. When littlefs tries to mount the filesystem, it reads the flash memory and results in an error:

[code]

If I change the `store_partition` size to 4MB or less, this issue goes away.

 - Wh

[2022-11-30 18:34] keith-zephyr commented on #52186
Instead of adding two new GPIO driver APIs, can you extend `api->pin_interrupt_configure` to support this mode?

Currently the function `gpio_pin_interrupt_configure()` processes the `gpio_flags_t flags` parameter to set the `enum gpio_int_mode` and `enum gpio_int_trig` parameters passed to the driver.

You could extend `enum gpio_int_mode` as follows:
[code]

The new public APIs `gpio_pin_interru

[2022-11-30 19:46] markCwatson commented on #43330
@henrikbrixandersen I want to start contributing to the Zephyr Project. I am looking for "Good first issues". I would like to tackle this one please. Can you assign it to me?

[2022-11-30 20:33] glarsennordic opened #52695 "Changes to network stack to facilitate L2-agnostic application code"
# Introduction / Request For Comments
This proposal/issue proposes a set of changes to the Zephyr networking stack that would enable developers to write application code that is maximally iface/L2-agnostic. These changes could significantly reduce boilerplate overhead for Zephyr end-users writing connected applications **_even when only a single iface is used._**

I plan to present and discuss thi

[2022-11-30 21:10] tristan-google commented on #41073
I uploaded a proposal: #52697

[2022-11-30 21:27] cfriedt commented on #37255
After having spent some time trying to package, build, sell, .. the Zephyr SDK in an appealing way, I actually feel that something this proposal is probably the best possible solution to the distribution problem.

Almost all package managers have this concept of adding an external mirror or package source.

Zephyr should simply host a repository for various package managers. The CI SDK build alrea

[2022-11-30 22:54] dkalowsk commented on #50922
Just was made aware of this issue.  The idea of versioning the APIs can be a really powerful tool for development.  Why the limit API versions to just Doxygen?   What if you could use the compiler to enforce and notify updates to end users?

As an end user I would want to see something like the following, which could make my life in tracking updates a lot easier.

[code]

This would generate a for