[2020-11-19 12:55] carlescufi commented on #30027
Closing as this is fixed already.

[2020-11-19 12:55] #30027 closed

[2020-11-19 13:18] RobMeades commented on #23076
FYI, since `newlib` is being used by Zephyr under the hood (at least on my platform) it is **almost** possible to do this by calling the `newlib` `mallinfo()` function.  The reason this is only "almost" is that `mallinfo()` is not the whole story: `newlib` calls `sbrk()` as required to give it heap memory from the ultimate heap, so the real number is `mallinfo`'s `uordblks` **plus** what's left in

[2020-11-19 13:24] escriber opened #30137 "TCP2: Handling of RST flag from server makes poll() call unable to return indefinitely"
**Describe the bug**
The poll()/zsock_poll() call hangs when a TCP message with a RST flag is received.

I have looked into the TCP2 code and added some debug statements to determine whether the message is passed to the TCP2 stack, which is not the case. This same was done to the zsock_poll() call where I can see that the z_pend_curr() in z_impl_k_poll() doesn't return.

**To Reproduce**
Run the s

[2020-11-19 13:29] rlubos commented on #30135
@JusbeR I've opened https://github.com/zephyrproject-rtos/zephyr/pull/30138 that should address this issue. I've tested with Leshan and all possible combinations of Package/Package URI writes I could come up with and it worked fine, but please let me know if fixes the issue for you.

[2020-11-19 14:06] alexanderwachter commented on #30106
Would it be beneficial if we allow external data buffers?
[code]

[2020-11-19 15:04] nashif commented on #30100
Agree this is starting to get confusing and we are mixing old with new terminologies.Some language can be changed here and we probably can drop some of the detailed statistics which might lead to confusion. In a nutshell however and historically a test in sanitycheck lingua is:

Let's dissect this with an example:

[code]

- This is one test folder with one test entry in testcase.yaml which has 4

[2020-11-19 15:28] jukkar commented on #30137
I just fixed one RST packet handling in commit b519ba54f5ddfc51ddbc24d8264fa1dde5186d2d. Could you try to revert that commit and report did it help?

[2020-11-19 15:44] anangl commented on #29977
No, it will be put into sleep mode when all your threads become idle, when they will be waiting on some object or just sleeping. If you try to use the hello_world sample with SysTick as the system clock, you should see the "Hello World!" message printed normally. Even if you add a loop there that will print periodically the value returned by `k_cycle_get_32()`, you should see the counter counting,

[2020-11-19 15:56] #29997 closed

[2020-11-19 16:36] #29690 closed

[2020-11-19 17:12] pabigot opened #30141 "qemu_x86 unexpected thread behavior"
qemu_x86_64 appears to handle semaphores differently with respect to counting and impact on ready but not active threads: it allows cooperative threads to be pre-empted without yielding, and may mishandle semaphore counts.

Using the modified hello-world at https://github.com/pabigot/zephyr/commits/nordic/20201119a  with  qemu_x86:
[code]
With qemu_x86_64:
[code]

This causes test failures at http

[2020-11-19 17:26] #29703 closed

[2020-11-19 17:26] #29016 closed

[2020-11-19 17:26] #29017 closed

[2020-11-19 17:26] #29702 closed

[2020-11-19 17:36] #29692 closed

[2020-11-19 17:36] jukkar commented on #30137
The RST handling patch introduced in #29835 was missing unit tests. The tests can be found in #30142

[2020-11-19 18:41] qdot commented on #29657
@anangl Thanks! I'll try this.

Just curious, is there any sort of device tree overlay validator I could check for issues like this with in the future?

[2020-11-19 18:49] yerabolu commented on #30099
Ran the tests couple of times and it takes a little time to return to the shell. But it does return to the shell.

[2020-11-19 19:38] captcha1 commented on #29958
FYI, for this discussion : MCUBOOT_DIR=$ZEPHYR_BASE/../bootloader/mcuboot ; SRC1=$MCUBOOT_DIR/boot/zephyr

Suggestions :

In $SRC1/main.c , the line : `

    __ASSERT(detect_port, "Error: Bad port for boot serial detection.\n");

is a no-op because CONFIG_ASSERT=n (and if CONFIG_ASSERT=y, then the build fails with : section `rodata' will not fit in region `FLASH').

I would suggest an error messag

[2020-11-19 19:47] qdot commented on #29657
Just tested, this fix works for me in Zephyr 2.4, closing issue (but would still love guidance on debugging things like this in the future!)

[2020-11-19 19:47] #29657 closed

[2020-11-19 19:56] nashif commented on #30099
it is still a bug, should return immediately, based on initial observation it is stuck writing the reports, so something is fishy at this level.

[2020-11-19 20:10] nashif commented on #30099
It is basically spending most of the time writing reports about stuff that did not happen for all platforms, although we asked to only run on a few platforms within riscv32

[2020-11-19 20:12] azeemshatp opened #30148 "STM32G474: Write to flash Bank 2 address 0x08040000 does not work in 256K flash version"
**Describe the bug**
Write to flash Bank 2 address 0x08040000 from Bank 1 using the zephyr API, flash_write() does not seem to work as expected in STM32G474RC.

I am using 256K flash version of STM32G474 and BFB2 bit to switch between flash Banks 1 & 2. I am trying to write a new image to flash Bank 2 address 0x08040000, from the Bank 1. But I don't see anything being written to this address. Howe

[2020-11-19 20:53] alexanderwachter commented on #30106
I pushed the proposal to #28345

[2020-11-20 03:29] liang8057 commented on #30129
I have added k_sleep(K_SECONDS(5)) before socket().
The result is the same.

[2020-11-20 04:56] cvinayak commented on #30130
as `nrf_radio_power_set` in nrf_radio.h does not use the bit position and bit mask like it is done for all other registers, BLE controller code will keep the existing code to pass the value correctly using the `RADIO_POWER_POWER_Disabled << RADIO_POWER_POWER_Pos) & RADIO_POWER_POWER_Msk` construct. (bool does evaluate to 0 or 1, also, existing code is not incorrect in passing 0 or 1 too.).  The BL

[2020-11-20 06:18] Hard1kPrajapat1 commented on #29941
Hi,

Please check my below observations and issues till now and guide me:
1) I am able to connect to the Leshan LwM2M server without security. Can you please explain why the gateway IP address should be the same as tap0's address to make it work?
2) I am unable to connect to the Leshan LwM2M server with DTLS security as mentioned in the [Link](https://docs.zephyrproject.org/latest/samples/net/lwm2

[2020-11-20 07:28] jukkar commented on #30129
Ok, then it is not the same issue I saw. There is an issue if the network interface does not have IP address set when the socket is bound. So in my tests (using you test app), it helped to delay the socket creation. In various network sample applications in `samples/net/sockets/`, the app will "start" after the device is properly setup (has IP addresses etc).

[2020-11-20 08:05] erwango commented on #29958
Sounds like a pure pure issue.
@utzig do you know if this "issue" should be addressed here or in https://github.com/mcu-tools/mcuboot directly ?

[2020-11-20 08:11] tbursztyka commented on #30023
@mbolivar I don't follow you. Being put to sleep would not wipe the device context. I don't see why you'd need get/put functions.

[2020-11-20 08:23] nbrunner commented on #30130
Yes you're right, i will ask Nordics to correct there bug.

[2020-11-20 08:35] rlubos commented on #29941
1. I guess the gateway needs to be in the same subnet as your qemu instance? Otherwise, how would Zephyr know where to route packets if the gateway is in another network? Perhaps someone with more IPv4 knowledge could confirm.
2. The handshake failed with `MBEDTLS_ERR_SSL_TIMEOUT`. Are you sure you use the correct port number? Or perhaps firewall in your network blocks the traffic on ports used by

[2020-11-20 08:53] eHammarstrom opened #30152 "Settings nvs subsystem uses a hardcoded flash area label"
Enabling `CONFIG_SETTINGS_NVS` will result in `settings_nvs.c` initializing and using the flash area labeled `storage`, which is hardcoded in the subsys init function.

I would prefer if this partition label was configurable, so I could choose where the Settings subsys stored NV params.

Considered using Kconfig for this label, but Kconfig does not supported unquoted strings to produce a label.
Th

[2020-11-20 08:57] avisconti commented on #30133
Yes, I got this point. I'll address it as soon as possible.

[2020-11-20 09:05] GasperChen opened #30153 "BSD recv() can not received huge packge(may be 100kB) sustain ."
**Describe the bug**
zephyr 2.2.99, mimxrt1064

I want to receive a huge tcp package(up 100KB), no response. then the BSD socket recv() api cound not sustain package by package, It may be have interval between 1 to 5 seconds.
code following:
sock = socket(AF_INET, SOCK_STREAM,IPPROTO_TCP);
bind(sock, bind_addr, bind_addrlen);
listen(sock, 10);
client = accept(sock, (struct sockaddr *)&client_addr,

[2020-11-20 09:24] jukkar commented on #30129
I have not been able to reproduce this issue. I used mimxrt1050_evk, qemu_x86 and native_posix boards.
My config file looks like this:
[code]
and the application looks like this:
[code]
In this test, the system worked ok and did not crash. Before trying to create the socket, it is mandatory that the network interface has proper IP address in it. In this simple app, I used a small sleep for that so

[2020-11-20 09:39] #30120 closed

[2020-11-20 09:44] jukkar commented on #30153
How many network buffers you have allocated in your app? Can you try to increase the number of RX (and TX) buffers and packets to some higher value.
You are using quite old zephyr version with TCP1 as a default. Can you try with latest master if it helps in your scenario? In master, the TCP2 is the new TCP implementation and it has fixed lot of issues that were present in the legacy TCP implementa

[2020-11-20 09:45] Laczen commented on #30152
Another option could be to introduce a Kconfig variable: SETTINGS_NODEFAULT, enabling this variable could remove the settings_backend_init() so that you could write your own settings_backend_init() function and give full control over the backend(s).

[2020-11-20 09:45] erwango commented on #28872
@Cimex97, would you mind providing mode information on the sample configurations you're using (native_posix_64 vs nucleo_f411re).

Right now I don't have ESP32, so I can't test and see what does (/not) happen.
Though, I'm comparing uart drivers, and IIC, native_posix_64 doesn't handle "hw-flow-control".
Are you sure hw-flow-control is expected on ESP32 side ? Have you tried running the sample w/o

[2020-11-20 09:50] utzig commented on #29958
Yes, it should. I will assign to @nvlsianpu because he maintains the Zephyr port.

[2020-11-20 09:59] GasperChen commented on #30153
HI, jukkar, Thankyou for you response, I try many config (include increase the number of TX\RX buffer and packets), but the exception is still appear.
I will try to update the version of zephyr to test the exception. then give the result for you.
Thank you!

[2020-11-20 10:22] WilliamGFish commented on #30133
Thanks, will make the thingy even better as a prototyping tool....

Billy..

[2020-11-20 10:43] Hard1kPrajapat1 commented on #29941
Hi Robert,

1) It was in the same subnet, my machine's IP is 10.100.105.15. Hence, I have provided 10.100.105.18 for Zephyr App, provided 10.100.105.17 for the tap0 interface and the gateway of my workplace was 10.100.104.1. But applying the 10.100.104.1 IP as GW, it was not working. As soon as I gave tap0's IP, it started working.
2) Yes, I am compiling the sample with `overlay-dtls.conf`, so it

[2020-11-20 11:05] rlubos commented on #29941
1. Note that the default subnet mask in Zephyr is `/24` so `10.100.105.0` and `10.100.104.0` are different subnets from Zephyr perspective. The same goes for the tap interface, it's `/24` by default. Perhaps that's the issue? For Zephyr there's `NET_CONFIG_MY_IPV4_NETMASK` to change subnet mask, not sure about tap.
I'm also not sure if ARP packets will actually be forwarded from tap0 interface to

[2020-11-20 11:19] nehalrohit commented on #29740
Hi @nandojve
Thanks for your reply  :)
I have a nordic border router with Internet access.
here  nrf52840dk ------> nordic border router (connected using thread)
where should I run the updatehub local server on the local machine or border router?
Here I merge updatehub+ openthread demo. and flash into nrf52840dk
![update](https://user-images.githubusercontent.com/50902801/99794510-46cab580-2b50-11

[2020-11-20 11:48] pabigot commented on #30152
How about a `zephyr,settings,nvs` property in `/chosen`?

[2020-11-20 12:09] eHammarstrom commented on #30152
@pabigot I am not familiar with the chosen node, but by the looks of it you would reference the partition by alias `zepyhr,settings,nvs = &my_settings_partition`, and thereafter use `DT_FLASH_AREA_ID(DT_LABEL(DT_CHOSEN_zephyr_settings_nvs)))` in `settings_nvs.c`.
Is this assumption correct?

[2020-11-20 12:14] pabigot commented on #30152
@eHammarstrom Yes.  Using a `chosen` devicetree property is how we're generally addressing the question of selecting which resource is to be used to support a standard feature, like a console.  There's a list around [here](https://docs.zephyrproject.org/latest/reference/devicetree/api.html#c.DT_CHOSEN_ZEPHYR_CAN_PRIMARY_LABEL).

[2020-11-20 12:19] nandojve commented on #29740
This is my Linux config:

[code]
I added manually **2001:db8::1/64** (may not be the best addr) to the lowpan0 iface. This is the IP address that boards will try reach.

`ip addr add 2001:db8::1/64 dev lowpan0`

You can add this to your RADVD config:
[code]
This means, share eth0 prefix and share any other prefix at interface to lowpan0 network.

At board using native IEEE 802.15.4 6lowPAN I got:

[2020-11-20 12:34] Laczen commented on #30152
@pabigot, yes this is a good idea. It wouldn't enable the more advanced features of settings (using multiple backends) but at least it would allow easy selection of a partition to use/override. As at the moment it is not possible to select multiple backends a
`zephyr,settings` poperty in `/chosen` might be a better name, this could then also be used for e.g. `fcb`.

[2020-11-20 12:44] pabigot commented on #30152
`zephyr,settings` is fine if it's not possible to have multiple settings providers simultaneously.  The fallback is also a good idea.

[2020-11-20 13:22] jakkra opened #30157 "SW based BLE Link Layer Random Advertise delay not as expected"
**Describe the bug**
I have a very simple Zephyr application that advertises with a configureable interval.
On my receiver NRF52833 I have a custom radio driver that I scan with and I need to get all 3 adv packets ch 37, 38 and 39. According to BT spec between each advertise packet there shall be a 0-10ms random delay. Changing the frequency on the NRF52833 radio takes about 120us (+ some overhead

[2020-11-20 13:25] escriber commented on #30137
I have updated to #30142 and the problem remains. I did some additional testing where i discovered the following:
Calling poll() after the socket connection was established, results in the thread blocking on poll() while the RST message is never passed from the ethernet driver to the upper layers.
Stop calling poll after the connection was established, results in the RST message to be passed to th

[2020-11-20 14:04] erwango opened #30159 "Clean code related to dts fixup files"
**Is your enhancement proposal related to a problem? Please describe.**
dts fixup files where used prior introduction of new devicetree API.
This is not in use anymore, but walking thought root CMakeLists.txt some references and related code could be found.

**Describe the solution you'd like**
Remove references to fixup files ("fixup_file", "FIXUP_FILE", "dts_fixup", ...) across the tree before w

[2020-11-20 14:04] erwango commented on #30159
@galak

[2020-11-20 14:04] erwango commented on #29884
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/29824.
@cpriouzeau can you have a check ?

[2020-11-20 14:25] cpriouzeau commented on #29884
@erwango Checked with x_nucleo_iks01a2: OK
The issue corrected for me

[2020-11-20 14:31] escriber commented on #30137
By giving the logging thread a higher priority to my thread calling pol() I figured out what my thread was doing. Seems that I misunderstood the behavior of the thread. The RST flag is properly received by the TCP2 code regardless of whether I'm calling poll().

When the connection is closed the poll() call keeps returning with a POLLIN event on the socket and the recv() call returns 0 bytes.

Is

[2020-11-20 14:53] jukkar commented on #29941
I don't think ARP packets have any routing capabilities.

It looks like that either the netmask needs to be adjusted, or gateway to be set if the networks are in different subnets, which seems to be the case here.

[2020-11-20 14:56] gregshue commented on #28438
@tejlmand @carlescufi I can't tell if discussion has stalled or come to a natural conclusion.  What else is needed to create the repositories and have them ready for PRs?

[2020-11-20 15:26] jacoba-at opened #30162 "Build zephyr with Metaware toolchain for HSDK fails"
**Describe the bug**
Hi,
I'm trying to build the hello_world example from Zephyr 2.4.0 release to the ARC HSDK board using my installed MetaWare toolchain, but the build fails.
I did so by setting the environment variable ZEPHYR_TOOLCHAIN_VARIANT to _arcmwdt_ and ARCMWDT_TOOLCHAIN_PATH to $METAWARE_ROOT/../  per the instructions in the Zephyr documentation.
It seems that the code is compiled for t

[2020-11-20 16:13] cfriedt commented on #30072
Yeah, this one is tricky because it should work in both kernel and user space, but as you mentioned in #30110, there is currently no way to create a kernel object in a user thread but then grant permissions to another user thread to use that kernel object (afaik).

Normally, a set of file descriptors is given on a per-process / per-address-space context. Then, of course, the socket / file backend

[2020-11-20 16:42] nashif commented on #30162
@abrodkin  @ruuddw FYI

[2020-11-20 16:44] #26443 closed

[2020-11-20 16:50] ruuddw commented on #30162
Acknowledged, in 2.4 the MetaWare compiler options have been added for nSIM targets, not yet for other ARC boards.
Eugeniy is addressing this.

[2020-11-20 18:54] #29667 closed

[2020-11-20 22:59] leonahi commented on #22060
I am facing the same issue as indicated by @cf1331 but with ubuntu 14.04 environment. Reinstalling the tool chain didn't solved the problem.

[2020-11-21 01:11] andyross commented on #30141
Are you sure you haven't simply discovered the second CPU?  qemu_x86_64 is an SMP platform, coop_main absolutely will start before main yields if you made it runnable.

[2020-11-21 07:04] captcha1 commented on #29958
More of an RFE, but maybe instead of specifying the "pin" and "port", just specify the device tree node somehow (using the "label"?) and then look up the "pin" using DT_GPIO_PIN and the "port" using DT_GPIO_LABEL.

[2020-11-21 09:16] nehalrohit commented on #29740
**If you follow the OT notes about Tayga (NAT-64) you probably will ping internet. Than, you can disable UpdateHub CE and remove CONFIG_UPDATEHUB_SERVER="2001:db8::1" to get access to "coap.updatehub.io" that is UpdateHub cloud server.
You may need test with/without CONFIG_DNS_SERVER1.**  --  as you suggest I changed in the .conf file.

# Turn on the updatehub
CONFIG_UPDATEHUB=y

#Minimal Heap mem

[2020-11-21 12:39] pabigot commented on #30141
No, that explains it.  I just hadn't encountered that behavior before.  It's definitely non-deterministic with a second processor available, so I'll make sure the tests I'm adding exclude that option, or make use of it judiciously.

[2020-11-21 12:39] #30141 closed

[2020-11-21 12:49] #30072 closed

[2020-11-21 13:56] retfie opened #30173 "OpenThread SED cannot join the network after "Update nRF5 ieee802154 driver to v1.9""
**Describe the bug**
After update to latest ToT (03df709a46), commissioning of MTD/SED devices is partial and devices can't join OT network. On FTD devices it's OK.

**To Reproduce**
Steps to reproduce the behavior:

After `git bisect`, last good commit is:
commit: b6b613d4db modules: nordic: Introduce nRF IEEE 802.15.4 Service Layer selection

[code]

*on border router*
[code]

*on node*
[code]

[2020-11-21 14:13] flnhst commented on #30014
First i tried a different prescaler value. Setting it to zero for the timers involved seems to fix all issues, and the output signal is as expected.

Afterwards i pulled the latest changes for Zephyr, and i tried it without the overlay. This still results in PWM and timer devices still being disabled.

I am okay with using an overlay to enable and configure the timers and PWMs, but it would be nic

[2020-11-21 14:16] nandojve commented on #29740
UpdateHub uses sockets so I'm assuming that works with OT.
I try compile OT from current master and got:
[code]

[code]

It is a fault inside memset.

Try build samples/net/sockets/echo_client and got same.

@rlubos , can you assist with this, please? What is the latest hash that you know is ok?

[code]

[2020-11-21 15:32] thelittlebug commented on #12714
@tautologyclub have you found any glues in the meantime?

[2020-11-21 15:56] nandojve commented on #29740
@nehalrohit can you try ping `coap.updatehub.io`? Since you are using Tayga (NAT64) you will navigate, in fact, on IPv4, try this:

1- Get IPv4 from coap.updatehub.io
[code]
2- Translate IPv4 to IPv6
[code]
3- Create the OT IPv6 to be translated to IPv4
[code]
4- Try ping coap.updatehub.io from a Joiner
[code]

If this works, you can configure DNS and UpdateHub as:
[code]

Since UpdateHub uses soc

[2020-11-21 21:33] Nukersson commented on #28941
Reopened due to  #30175

[2020-11-21 21:36] Nukersson commented on #29764
Please note #30175 for CivetWeb

[2020-11-22 01:00] #28124 closed

[2020-11-22 01:00] #27846 closed

[2020-11-22 01:01] #16195 closed

[2020-11-22 05:27] hongshui3000 opened #30178 "Is there any plan to support NXP RT600 HIFI4 DSP in the zephyr project?"
Is there any plan to support NXP RT600 HIFI4 DSP in the zephyr project?

[2020-11-22 05:36] hongshui3000 opened #30179 "out of tree （board soc doc subsystem ...）"
Now the zephyr project is getting bigger and bigger, supporting more and more development boards and SOCs. Can these be maintained outside the reengineering tree (including documentation)
The WEST tool should be able to support selective download of the corresponding modules, allowing users to decide to download the software packages they need.

[2020-11-22 10:22] KozhinovAlexander opened #30181 "OpenPOWERLINK V2 Intergation"
**Is your feature request related to a problem? Please describe.**
Currently Zephyr does not have any real time ethernet support.

**Describe the solution you'd like**
Integrate [openPOWERLINK V2](https://github.com/OpenAutomationTechnologies/openPOWERLINK_V2), which is under BSD and GPLv2 licenses.

**Overview**
[code]

**Physical layer**
[code]
[**source**](https://en.wikipedia.org/wiki/Ethernet

[2020-11-22 11:55] Nukersson commented on #30181
@jukkar what do you think?

[2020-11-22 12:38] #28442 closed

[2020-11-22 18:25] Nukersson commented on #29915
@emillindq Have you already created PR in stm32_hal repo? I cn confirm, that __DSB() approach (no matter if in HAL or driver without CONFIG_DEBUG) increases stability with my board and samples. I have observed it with my latest CivetWeb update (currently as PR).

[2020-11-22 18:28] gmarull commented on #30014
@flnhst The extra-step is only needed if you intend to use PWM at frequencies that require other prescaler values than the default one. DTS bindings for PWM are documented here: https://docs.zephyrproject.org/latest/reference/devicetree/bindings/st%2Cstm32-pwm.html#st-stm32-pwm

Would you mind closing the issue if your issue is fixed?

[2020-11-22 19:02] flnhst commented on #30014
My issue is fixed, thanks for your help 👍

[2020-11-22 19:02] #30014 closed

[2020-11-22 19:35] jasonedn opened #30183 "undefined reference to `ring_buf_item_put'"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
When the project with ring buffer was built, it reported the following error:
  undefined reference to "ring_buf_item_put

[2020-11-22 19:40] drandreas opened #30184 "RFC: Extend Secure Sockets with engine support"
## Introduction

Zephyr implements the concept of Secure Sockets. Those ease the integration of TLS and DTLS into arbitrary applications. However, the secure sockets hide the underlaying crypto library. Moreover, the current code lacks support for opaque private keys and engine callbacks.

The secure socket API should be extended with an API that allows replacing any of the asymmetric functions on

[2020-11-23 01:00] #27299 closed

[2020-11-23 01:00] #26819 closed

[2020-11-23 01:00] #18529 closed

[2020-11-23 01:44] #27892 closed

[2020-11-23 01:44] #27890 closed

[2020-11-23 04:58] aftabahmed59 commented on #26658
Any updates on when is it expected to be released ?

[2020-11-23 05:46] #26500 closed

[2020-11-23 06:45] nehalrohit commented on #29740
Hi @nandojve
I am able to ping coap.updatehub.io from a Joiner.
![ota](https://user-images.githubusercontent.com/50902801/99934801-0a33cf80-2d85-11eb-90a8-e541d9510718.png)

here this setting in prj.conf
# Add Google 8.8.8.8 DNS Server
CONFIG_DNS_SERVER_IP_ADDRESSES=y
CONFIG_DNS_SERVER1="64:ff9b::808:808"

# Add UpdateHub Cloud
CONFIG_UPDATEHUB_SERVER="64:ff9b::9f59:e141"
CONFIG_UPDATEHUB_COAP_BLO

[2020-11-23 07:16] easternblack opened #30187 "usb: stm32: MCU fall in deadlock when calling sleep API during USB transfer"
**Describe the bug**
 during USB transfer, If main or thread calls sleep API(ex. k_sleep, k_msleep, k_usleep), MCU fall in deadlock.

**To Reproduce**
To simplify the situation, I made simple usb stack and sample program for test.
https://github.com/easternblack/zephyr/commit/d1cf0a6792101b397e91a25d22208244adae8ef3

Before make, you should modify a little in main.c
There's 2 ways to reproduce the

[2020-11-23 07:26] Ripitchip commented on #29913
Hello, (I'm a colleague of Tobi)

With our actual understanding of the bluetooth mesh, there are two types of bearers :
- advertising bearer : used to transmit messages between devices
- GATT bearer : used to communicate from an external device to the mesh trough a proxy (cf. a mobile phone used for provisioning).

Does that mean that :
- advertising bearer : Does it mean that it's not possible to

[2020-11-23 07:32] markus-becker-tridonic-com commented on #11770
@carlescufi I believe this issue could be closed with the information about MPSL in the Nordic Connect SDK.

[2020-11-23 07:39] jukkar commented on #30181
I am ok with this. You need to port the openpowerlink code as a module.

[2020-11-23 07:46] #29951 closed

[2020-11-23 08:10] Cimex97 commented on #28872
I'm sure that the ESP32 need hw-flow-control. This is required for the ESP32 as a UART HCI controller.

I tested it with the `samples/bluetooth/peripheral_hr` (same as above). I only deactivate `BT_HCI_ACL_FLOW_CONTROL=n`. Maybe this isn't supported by the ESP32 HCI stack. If it is enabled I get this warning: `[00:00:00.300,000] <wrn> bt_hci_core: opcode 0x0c33 status 0x11` and this error `Bluetoo

[2020-11-23 08:39] Hxinrong opened #30189 "Missing error check of function sensor_trigger_set()"
Hi,
As described in the project API documentation, function sensor_trigger_set() is used to activate a sensor's trigger and set the trigger handler. It returns 0 if successful, negative errno code if failure. But as shown in the following codes, the return value is not error checked before it is assigned by another function.
https://github.com/zephyrproject-rtos/zephyr/blob/0a0404df29ed890cacadc94

[2020-11-23 08:47] emillindq commented on #29915
https://github.com/STMicroelectronics/STM32CubeH7/issues/95
I just did!

[2020-11-23 08:48] jukkar commented on #30137
Yes, if the connection is closed, any read will return 0 bytes. This is the normal BSD socket API convention.

[2020-11-23 09:01] erwango commented on #28872
@Cimex97, please note that BT_HCI_ACL_FLOW_CONTROL, is HCI level flow control, which is different from the RTS/CTS uart level flow control.

What I'm proposing is to have a try w/o the UART level flow control (`&usart1 {hw-flow-control;};`), as these pins don"t seem to be handled by native_posix driver. This being said, this is a naive try, as native_posix is not a basic uart driver.
Anyway, I sho

[2020-11-23 09:04] kevin0402 commented on #23302
@jukkar wondering to know if this issue will be further investigated into or not ?
In my test, TCP2 performance is still poor compared to FreeRTOS on the same hardware platform.

[2020-11-23 09:09] Hxinrong opened #30191 "Missing checks of return values of settings_runtime_set()"
Hello,
As shown in the API documentation, function settings_runtime_set() is used to set a value with a specific key to a module handler, returns 0 on success, non-zero on failure. But in the following codes, the return values are not error checked.
https://github.com/zephyrproject-rtos/zephyr/blob/0a0404df29ed890cacadc94ecbd6e1e7f79c3d75/tests/bluetooth/ll_settings/src/main.c#L39-L47

However, in

[2020-11-23 09:27] jukkar commented on #23302
No major investigation is going on atm for the performance issue.
One thing we are missing is a consistent and documented test environment i.e., how to test TCP performance, what tools to use etc. It is difficult to get consistent results as people are using different boards and software.

[2020-11-23 09:48] escriber commented on #30137
Ok, thanks for your help.

[2020-11-23 09:48] #30137 closed

[2020-11-23 10:28] maksimmasalski opened #30192 "mec15xxevb_assy6853: running tests/subsys/power/power_mgmt_soc failed"
**Describe the bug**
1. Test `test_pm_multithread` and `test_pm_singlethread` fail, Assertion failed in both cases.
2. Also at the end of test happens kernel error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p -b mec15xxevb_assy6853 tests/subsys/power/power_mgmt_soc
2. west flash
3. Open terminal and See error

**Expected behavior**
Test must pass.

**Impact**
Power Ma

[2020-11-23 10:36] jukkar commented on #30184
This looks more like a security enhancement than network one to me. cc: @d3zd3z @ceolin

[2020-11-23 10:36] maksimmasalski opened #30193 "reel_board: running tests/subsys/power/power_mgmt_soc failed"
**Describe the bug**
1. Test `test_pm_dummyinit` fail, happens `***** MPU FAULT *****`
That can be related to #30192 , but reel_board board and the Microchip board from #30192 issue have different error types and failed tests.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p -b reel_board tests/subsys/power/power_mgmt_soc
2. west flash
3. Open terminal and See error

**Expected

[2020-11-23 10:48] jfischer-no commented on #30187
@easternblack Could you please provide an more simple example, for example from the Zephyr tree with minimal changes, where the problem occurs? Sorry, but your example from [above](https://github.com/easternblack/zephyr/commit/d1cf0a6792101b397e91a25d22208244adae8ef3) does not look right. I have marked it as a question until a more clear description follows.

[2020-11-23 11:00] nordic-krch opened #30194 "qemu_x86 crashes when printing floating point."
**Describe the bug**
Printing floating point (`%f`) crashed on qemu_x86. Same sample runs correctly on `qemu_cortex_m3` and `native_posix`.

**To Reproduce**
Modify `hello_world` sample in the following way:
- add `printk("%f", 1.11);` to main.c
- add `CONFIG_CBPRINTF_FP_SUPPORT=y` to `prj.conf`
run it on `qemu_x86` and see that it fails:
[code]

**Expected behavior**
Standard hello world output e

[2020-11-23 11:00] nordic-krch commented on #30194
@pabigot can you take a look?

[2020-11-23 11:00] Cimex97 commented on #28872
Ok I tried to disable the hw-flow-controll.
This works for the natvie_posix_64. I attached the device with `btattach -B /dev/ttyUSB1 -S 115200 -P h4 -N`, where `-N` means no hw-flow-contoll.

On the nucle_f411re I get now a lot of this error messages:
` [00:00:00.009,000] <err> bt_driver: TX interrupt but no pending buffer!`

**Note:** I have to connect the CTS pin from the ESP32 to the RTS-pin. I

[2020-11-23 11:02] nordic-krch commented on #30194
Ok, i got it. Apparently, you need to enable FPU support (`CONFIG_FPU=y`) to print floats on qemu_x86.

[2020-11-23 11:02] #30194 closed

[2020-11-23 11:07] trond-snekvik commented on #29913
It will not be possible to qualify a solution on the long range advertising bearer, as it'd be a direct violation of the first sentence in section 3.3.1 in the mesh profile specification. Even if we provide a solution for using long range in the mesh, it'll be proprietary, unless the Bluetooth SIG ends up adding support for it in a future version of the specification.

With that being said, we can

[2020-11-23 11:18] Hxinrong opened #30195 "Missing error check of device_get_binding() and flash_area_open()"
Hi,
As described in the API documentation, function device_get_binding() is used to retrieve the device structure for a driver by name, and returns the pointer to device structure, or NULL if not found or cannot be used. But as shown in the following three call sites, the error checks are not made.
https://github.com/zephyrproject-rtos/zephyr/blob/0a0404df29ed890cacadc94ecbd6e1e7f79c3d75/drivers/c

[2020-11-23 11:23] pabigot commented on #30194
You can just enable `CONFIG_CBPRINTF_FP_SUPPORT=y`, which is the default when `CONFIG_FPU=y`.  This is what most samples with float output use.

[2020-11-23 13:27] erwango commented on #28872
That's how CTS/RTS works.

`[00:00:00.009,000] <err> bt_driver: TX interrupt but no pending buffer!`

Can you try to increase BT_RX_STACK_SIZE, say CONFIG_BT_RX_STACK_SIZE=2048 ?

[2020-11-23 14:01] Cimex97 commented on #28872
Than I get this message again:
[code]

[2020-11-23 14:03] erwango commented on #28872
ok, txs.
I'll really need to get a way to test this myself. I'll get an ESP32 and get back to you.

[2020-11-23 14:14] nandojve commented on #29740
This error happen with SDK 0.12.0-beta-2. When I switch back to 0.11.3 I didn't see anymore `objdump: DWARF error`
CC: @rlubos @galak

[2020-11-23 14:34] rlubos commented on #29964
@broglep-work Thanks for reporting. Indeed the current implementation oversimplified a lot. I've pushed a PR with proposed changes:
https://github.com/zephyrproject-rtos/zephyr/pull/30200

I've verified that DELETE `/` and DELETE `/x` works as expected, I wasn't able to verify DELETE `/x/y` though as the bootstrap serves I tried with did not issue such operation. I'm not expecting any surprises th

[2020-11-23 14:56] rlubos commented on #29740
@nandojve

I was not able to reproduce the crash on my side, are there any special conditions to trigger it? The radio driver was updated recently (which I'd suspect), but as said I fail to reproduce. Did you call `west update`? Perhaps the hal_nordic went out of sync with Zephyr on your side?

[2020-11-23 16:10] nandojve commented on #29740
You can ignore the run crash. After switch to 0.11.3 I figure out. It was needed to increase RAM from main scope.

[2020-11-23 17:14] thelittlebug commented on #28620
bump!

[2020-11-23 18:42] nandojve commented on #29740
Hi @nehalrohit ,

By some reason the DNS name can not be resolved. It is not necessary a problem with UpdateHub.
I took a note to review that code.

I open my development branch `https://github.com/UpdateHub/zephyr/tree/topic/uhu_net-management`. It is working with OpenThread.

By default I'm using UpdateHub CE, so at **overlay-ot.conf**:
`CONFIG_UPDATEHUB_CE=n`
You need add your server IP:
`CONFI

[2020-11-23 19:19] mbolivar-nordic commented on #30023
I'm thinking of something like this once @pabigot gets ref-counted device power management going:

1. user calls `sensor_sample_fetch(S, ...)` on a sensor device `S`, which has a GPIO device `G` configured in the DT
2. `G` asynchronously gets put to sleep
3. the driver implementation for `sample_fetch` runs and tries to do something with `G`

I guess the sensor driver can't just check the status o

[2020-11-23 19:28] azeemshatp commented on #30148
An update on this:
I have replaced the above partition with this now without any benefit yet:
&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x00000000 0x1F000>;
		};

		slot1_partition: partition@40000 {
			label = "image-1";
			reg = <0x00040000 0x1F000>;
		};

		/* To store

[2020-11-23 19:31] azeemshatp commented on #30148
I placed the below code in the main.c of the zephyr flash_shell example.

	uint8_t data[64];

	printk("Testing: write to flash offset 0x40000 \n");

	int ret;

	off_t offset = 0x40000;
	size_t size = 64;

	// for(int i = 0; i < 2048; i++) {data[i]= i;}
	for(int i = 0; i < 64; i++) {data[i]= i;}

	ret = flash_write_protection_set(flash_device, false);
	if (ret) {
		printk("Failed to disable flash p

[2020-11-23 20:13] pabigot commented on #30023
Yes, something is going to keep track of which devices are in demand, and ensure that they're ready to go before they're used: the `device_if_ready()` API description in #30196 is prepared for the possibility that you have to verify more than once.  It's unclear how the runtime dependencies are going to be tracked.

[2020-11-23 20:49] retfie commented on #29740
HI Hehal,
sorry for late response, but here is the essential change that you need on lwm2m-client re-based on current zephyr master branch:

 https://github.com/retfie/zephyr/commit/3b9dd7281845c281106b2e85eca604f2665919a6

You need mcuboot bootloader on device and a working leshan server to register on. Then use 5/0/0 or 5/0/1 resource to send zephyr.signed.bin to lwm2m_client. Then look for stat

[2020-11-23 22:21] tcpipchip commented on #25379
wow,
Do you mean that replace the NRF52DK_NRF52832 by NRF52_VBLUNO52 and and finally run on E73-2G4M04S1B the ZEPHYR ?

I am having the same problem, my E73-2G4M04S1B does not run ZEPHYR!

[2020-11-24 00:17] easternblack commented on #30187
@jfischer-no thx for reply. Do you mean you want tweaked sample apps of zephyr main tree?

[2020-11-24 01:19] ufechner7 opened #30204 "Support for Teensy 4.0 and 4.1"
Please provide official support for Teensy 4.0 . See: https://www.pjrc.com/store/teensy40.html

This board is sold in large quantities, mainly to hobbyists, but also to small companies. Normally it is used with Arduino Software & Libraries . Making Zephyr available for this board would increase the user base of Zephyr and thus the Zephyr ecosystem.
For the user it would allow to run more demanding

[2020-11-24 02:15] Hxinrong opened #30205 "Missing error check of function i2c_write_read() and dac_write_value()"
Hello,
As shown in the API documentation, function i2c_write_read() is used to write then read data from an I2C device, and returns 0 if successful, or negative values on error. But as shown below, the return value is not checked.
https://github.com/zephyrproject-rtos/zephyr/blob/52ad9a468c1a3ae9a00d1e5aac389c5bfcf087ec/drivers/ethernet/eth_sam_gmac.c#L1795-L1798

However, in other call sites, the

[2020-11-24 05:29] nehalrohit commented on #29740
Hi @nandojve

I already try this configuration
**CONFIG_DNS_SERVER1="64:ff9b::9f59:e141"**   still not work for me.  my joiner device can ping updatehub.io cloud server but the device cant show on the server.

**I open my development branch https://github.com/UpdateHub/zephyr/tree/topic/uhu_net-management. It is working with OpenThread.**
if you successfully did then give me a step on how you do w

[2020-11-24 07:12] nextcoffee commented on #22060
I've encountered this issue when I use the latest version of CMake (v3.19.0), once I downgrade CMake to v3.16.2, the build process is finished without any errors. BTW, I work on windows 10.

[2020-11-24 07:47] PerMac commented on #25719
FYI: Most of the time I see this output leaking into other tests and causing them to fail:
[code]

[2020-11-24 08:18] Ripitchip opened #30207 "Mesh_demo with a nRF52840 not working"
[log1.txt](https://github.com/zephyrproject-rtos/zephyr/files/5588338/log1.txt)
[log2.txt](https://github.com/zephyrproject-rtos/zephyr/files/5588339/log2.txt)

**Describe the bug**
I'm trying to run the `/zephyrproject/zephyr/samples/bluetooth/mesh_demo` with two nRF52840dk without success. One would be flashed with NODE_ADDR 0x0b0c (in board.h file), and the other with NODE_ADDR 0x000f.

At firs

[2020-11-24 08:18] mmccoo commented on #22060
After downgrading CMake, build finishes for me as well.

But...

While I get an elf file, the CMakeError.log file still complains about _exit. I have not yet tried to flash to a board.

I'm on arc linux

[2020-11-24 08:24] jukkar commented on #23302
One thing that certainly affects TCP performance in zephyr is that currently Nagle algorithm and delayed acks are not implemented. There are certainly areas of improvement here.

[2020-11-24 08:30] kevin0402 commented on #23302
Yes, I believe that would be some of key factors.
Is there any plan to do this in next release V2.5 ?

[2020-11-24 09:00] ABOSTM commented on #30148
Hi @azeemshatp,
It is working fine on my side (with default partition settings)
* with flash_shell sample (without changes)
* with your code (original post) in condition to activate switch MPU_ALLOW_FLASH_WRITE
  i.e. same solution that for #29796

Because flash_shell sample activate this switch, it may explain it is working when you use flah_shell sample.
Can you check the same?

G474 in dualbank

[2020-11-24 09:25] azeemshatp commented on #30148
Regarding the point 2:
May be I am missing something here.
I am using STM32G474RCT, which is a 256K flash version. So this can only have a single bank size of 128K max. So if we consider 2k sized pages in dual bank mode, there could only be 64 pages per bank, or not?

[2020-11-24 09:32] jukkar commented on #23302
I have not seen any plans for enhancements in this area. Patches are welcome if you want to improve the code.

[2020-11-24 09:33] azeemshatp commented on #30148
Just noticed that the nucleo board where I found the code was working fine, has the MCU STM32G474RET, which is a 512K flash version. So the issue seems to be only with the 256K version.

[2020-11-24 09:52] liang8057 opened #30209 "TCP2 : How to add MSS option on sending [SYN, ACK] to client?"
I want to add mms to the tcp option during the three-way handshake.
Is there any API available?

[2020-11-24 09:52] mahavirj commented on #3723
@ExtremeGTX FYI, fix for this is available [here](https://github.com/mahavirj/zephyr/issues/1#issuecomment-730866500). We will ensure that this is part of PR for WiFi support on ESP32.

[2020-11-24 10:08] ABOSTM commented on #30148
Ok, as it was not specified, I was supposing you used  nucleo_g474re which is supported in zephyr.
So now, knowing that it seems you can write to address 0x08020000 and not at  0x08040000,
maybe you are in single bank configuration.
Can you check the value of option byte  DBANK ?Aand make sure it is set to 1.

[2020-11-24 10:24] sandroklarer-pingpong opened #30211 "spi nor sfdp runtime: nph offset"
**Describe the bug**
Using the CONFIG_SPI_NOR_SFDP_RUNTIME configuration, by reading out the SFDP, the parameter nph is wrong interpreted.
A value of 0 means 1 parameter headers

So on my flash, where i get a 0 for nph, the flash layouting failed.

code (spi_nor.c) :
`const struct jesd216_param_header *phpe = php + MIN(decl_nph, hp->nph);`

proposal to fix:
`const struct jesd216_param_header *phpe

[2020-11-24 10:33] te-johan opened #30212 "Disk rewrites same flash page multiple times."
While testing USB mass storage on nrf52 I noticed that the write performance was very bad. The reason for this is because disk flash uses a sector size of 512 byte but the erase size of flash is 4096 bytes. For each written sector the disk_access_flash driver reads 4096 bytes, updates 512 bytes, erases the flash pages and writes it. This is highly inefficient since writing multiple contiguous sect

[2020-11-24 10:56] azeemshatp commented on #30148
The value of option byte DBANK was 1 already.
Is there any specific reason why we don't have a zephyr board definition available yet for nucleo_g474rc ?

[2020-11-24 10:59] #28941 closed

[2020-11-24 11:39] PerMac opened #30213 "usb: tests: Test usb.device.usb.device.usb_disable fails on nrf52840dk_nrf52840"
**Describe the bug**
The test from tests/subsys/usb/device/ fails on nrf52840dk_nrf52840

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk_nrf52840  connected to  /dev/ttyACM0
2. go to zephyr dir
3. run `./scripts/sanitycheck --device-testing -p nrf52840dk_nrf52840 -T tests/subsys/usb/device/ --device-serial /dev/ttyACM0 -v -v`
4. See error

**Expected behavior**
Test passes

*

[2020-11-24 11:47] jukkar commented on #23302
Just did a small test, and the TCP performance was really bad. I only got 2.5kb/sec for qemu with echo-server/client. After a quick investigation with wireshark, there is a 200ms timeout in linux side. Did not investigate yet why there is a timeout here. This used to work much better earlier.

[2020-11-24 12:10] pfalcon commented on #23302
For me, it always worked like that (with occasional very short streaks of non-slow performance). The timeout is due to re-xmit timeout, i.e. there's some weird mis-synchronization between Z and Linux, where gradual re-xmit fallback always ends up in the "pit" side of it. (Writing by memory, didn't look into it for a while. Actually heck, I looked yet with TCP1.)

[2020-11-24 12:23] beriberikix commented on #3723
@mahavirj thanks for the updates! Is there an official PR yet for us to follow?

[2020-11-24 12:25] rlubos commented on #30173
I did some testing but could only reproduce the issue with SED (MED worked just fine). And it isn't related to the commissioning process (which completes correctly) but to the attachment which happens afterwards. There is some issue with CCA handling in the radio driver in SED mode, which can get stuck, I've reported the issue internally for further investigation.

[2020-11-24 13:06] jukkar commented on #23302
Yes, I know. For some reason zephyr drops the packet which leads to this 200ms timeout (this is probably Nagle hitting in linux side). The TCP2 was working much better last time I looked, dunno what has changed now.

[2020-11-24 13:26] SloMusti commented on #24142
I have the same issue and would like to use this functionality.

[2020-11-24 14:07] jukkar commented on #23302
For my quick qemu test, a packet from linux is not received by zephyr which leads to the 200ms timeout.

[code]
So system worked ok, but the performance was very poor because of the lost packets. I will try this same thing with real hw to see if the situation changes.

[2020-11-24 14:31] ABOSTM commented on #30148
So with the dualbank configuration on STM32G474RCT,
there is a discontinuity between bank1 and bank2 (0x08020000 -- 0x0803FFFF is physically not accesssible).
Unfortunately, it seems STM32G4 flash driver is not able to tackle this discontinuity, specially when creating flash layout.
In other word it assumes that bank2 is contigiuous to bank1, which explain why you cannot write at 0x08040000.
I wil

[2020-11-24 14:35] jukkar commented on #23302
With sam-e70 board, I got 75kb/sec which is not great either.

[2020-11-24 15:09] jukkar commented on #30209
Currently the TCP stack does not add any tcp options when sending data. We could support `TCP_MAXSEG` socket option that the application could set. Patches are welcome if you want to implement it.

[2020-11-24 15:31] trond-snekvik commented on #30207
Thanks for the thorough report!
You have correctly identified the initial issue you're seeing, the loopback buffer count was too small to buffer all the required packets. I have made PR #30217 for this. The second issue is a little more subtle, as the mod_sub call doesn't have the same non-blocking behavior as the other cfg_cli APIs. I have made PR #30216 to fix this. Once both are merged, both er

[2020-11-24 15:33] #15944 closed

[2020-11-24 15:34] trond-snekvik commented on #25379
@tcpipchip Please create a separate issue if you're having trouble with this. Sounds like you have a board config or XYAL accuracy  issue.

[2020-11-24 15:51] pabigot commented on #28650
Removed stale.  This is still present in 0.12.0-beta-2 @galak:
[code]

[2020-11-24 16:22] #28822 closed

[2020-11-24 16:46] rhssk commented on #22060
The first point seems relevant:
https://cmake.org/cmake/help/latest/release/3.19.html#id1

So either downgrade to 3.18 or upgrade to 3.19.1.

[2020-11-24 16:53] cfriedt commented on #26477
Doing a bit of work on this today.

To handle pull-up / pull-down / open-source / open-drain, I think it will be necessary to modify the 'wiring' approach so that `gpio_emul` queries the application for the input to the pin before setting its input value (if at all).

E.g. if a pin is configured as a pull-up, then it should only be low when 'wiring' drives it low. If there is no wiring attached, t

[2020-11-24 17:10] galak commented on #28650
@tejlmand ping, how should we fix this?

[2020-11-24 17:13] martinjaeger commented on #30148
Also looking into this a bit. It seems like the issue is even beyond the STM32G4 implementation. The `struct flash_pages_layout` only contains the number of pages and their size, but no offset. So even if `flash_stm32_page_layout` in the `flash_stm32g4x.c` returned a separate layout for each bank, the function `flash_get_page_info` would not be able to know about the gap in the flash layout.

A ve

[2020-11-24 17:44] martinjaeger commented on #30148
Played around a bit more and I can confirm that `0x08020000` and `0x08040000` are not mapped to the same physical memory, as I can store different data which persists after reset. Seems like we get additional 256k flash for free if we ignore the `FLASH_SIZE` register ;)

Btw, the value of `FLASH_SIZE` register correctly reads `0x0100FFFF`, which means 256k.

[2020-11-24 18:35] ABOSTM commented on #30148
Hi,
I don't want to modify `flash_pages_layout` as it is defined out of stm32 stuff,
so I tried a much more complex trick.
I push a branch in my fork (https://github.com/ABOSTM/zephyr.git):
branch: `FLASH_G4_BANK_DISCONTINUITY`

It seems working but I don't have STM32G474RCT6 chip to test.
@azeemshatp , @martinjaeger, could you test my branch on your board ?
I am interested by status of  both oper

[2020-11-24 19:22] statropy commented on #23032
SubGHz support for the CC13xx/CC26xx was added https://github.com/zephyrproject-rtos/zephyr/pull/29598

[2020-11-24 19:31] statropy opened #30219 "drivers: gpio: gpio_cc13xx_cc26xx: Add drive strength configurability"
**Is your enhancement proposal related to a problem? Please describe.**
The CC13xx/CC26xx gpio driver does not support setting the drive strength of an IO pin. It is instead fixed at 2mA. IO pins also support 4mA, and some support 8mA.

**Describe the solution you'd like**
Support the `GPIO_DS_ALT_LOW` and `GPIO_DS_ALT_HIGH` gpio flags.

**Describe alternatives you've considered**
n/a

**Additiona

[2020-11-24 20:06] tcpipchip commented on #25379
yes, make sense! it´s a CRYSTAL problem!

[2020-11-24 20:37] retfie commented on #30173
@rlubos, You're right, after upgrading to MED role, node is able to join and attach to network successful. We could update the issue heading with more appropriate description now or once the root cause is found.

[2020-11-24 20:55] vrahane commented on #22060
I had a similar issue, what worked for me was installing CMake release version 3.17.3 from https://cmake.org/files/ and then created a symlink to the executable. What did not work was `cmake/3.19.0_1` installed via homebrew.

[2020-11-24 21:18] statropy opened #30222 "boards: arm: nucleo_wb55rg: fails to build basic samples"
**Describe the bug**
Building a basic sample, such as `samples/basic/blinky` or `samples/hello_world`, for the `nucleo_wb55rg` board fails

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nucleo_wb55rg samples/basic/blinky
2. See error

**Expected behavior**
Successful build

**Impact**
I expect no zephyr builds will succeed targeting `nucleo_wb55rg`

**Logs and console output**

[2020-11-24 21:42] tcpipchip commented on #25379
24Mhz

[2020-11-24 22:02] ufechner7 commented on #30204
Good progress reported from Bernard Kramer:

nxp_hal issue
solved, see here. That means you can just take the teensy4-folder from my zephyr-clone, place it at the correct place in your local zephyr installation and you should be ready to go.

Ethernet
In progress, my hardware to check is on the way.

SD card
Working with some drawbacks due to missing card voltage switch ability and detection switc

[2020-11-24 22:05] statropy commented on #30222
Needed a `west update`

[2020-11-24 22:05] #30222 closed

[2020-11-25 00:57] ufechner7 commented on #30204
I tried: "That means you can just take the teensy4-folder from my zephyr-clone, place it at the correct place in your local zephyr installation and you should be ready to go."

And then I tried:
cd ~/zephyrproject/zephyr
west build -p auto teensy4 samples/basic/blinky

Output:
ERROR: source directory teensy4 does not exist
FATAL ERROR: refusing to proceed without --force due to above error

Any id

[2020-11-25 01:51] zijinhulu commented on #22060
I'm having the same issue. in window10.when I delete the contents of the "zephyr\.cache\ToolchainCapabilityDatabase" folder, the problem is solved

[2020-11-25 02:01] liang8057 commented on #30209
Can TCP1 add mss tcp option?

[2020-11-25 02:04] liang8057 commented on #30209
I did not find the TCP_MAXSEG socket option, is there an example for reference?

[2020-11-25 04:41] #30029 closed

[2020-11-25 05:00] dogtopus opened #30224 "stm32f4_disco: User button press is inverted"
**Describe the bug**

The User button is inverted and reads 0 when pressed and 1 when released.

The [schematic for all 4 revisions of this board](https://www.st.com/en/evaluation-tools/stm32f4discovery.html) clearly shows that the button is pulled down by external resistor instead of up and a button press overrides the pull-down resistor.

**To Reproduce**

Check for `samples/basic/button`. The L

[2020-11-25 05:52] s-kelvin commented on #30193
According to the platform exclusion in the yaml file, reel board should be skipped for this case. In the latest mainline daily test report, I didn't see this failing on reel board.

[2020-11-25 07:40] ABOSTM commented on #30224
Hi @dogtopus,
Thanks for pointing out this issue and fixing it.
I agree there is a pull down, but so default reading is 0 and when pressed it is read at 1.
This justify your changed to `GPIO_ACTIVE_HIGH`.

[2020-11-25 07:45] RoyAnupam commented on #29008
Hello @cvinayak ,
 First of all,  apologies for delay in response (due to my vacation)!

Today I have taken two brand new nRF52840 USB dongle and just performed a test with exact same setups. I like to share the quick results. Also I would like to share the hardware information's for my old & current tests.

**Old Dongle Information as found in back side** [used in all tests done till this time]
D

[2020-11-25 09:06] Laczen commented on #30204
`-b` before `teensy4` ?

[2020-11-25 09:19] RoyAnupam commented on #29008
Hello @cvinayak ,
 Further to my previous email, I wish to inform that, connection did proceed, when i did further tests,  but failed with Connection Timeout, same as before. In order to rule out chances of faulty hardware, I used two brand new dongles(version: 1.2.0,  2019.42) , as mentioned in previous email, but unfortunately, new dongles are not making any difference in results.

I am sharing

[2020-11-25 09:44] martinjaeger commented on #30148
Morning @ABOSTM. Tested your solution and it works like a charm.

At address `0x08040000` I can successfully read and write, at `0x08020000` I get `E: Erase range invalid. Offset: 131072, len: 64`.

I like the idea to create a large dummy flash page. Much cleaner than my quick hack. Are you creating a PR?

[2020-11-25 09:55] azeemshatp commented on #30148
Thanks a lot @ABOSTM and @martinjaeger for the fix.
I am also gonna try this, and will update you how it went.

[2020-11-25 10:16] tejlmand opened #30227 "Improve toolchain capabilities caching / broken toolchain detection"
**Is your enhancement proposal related to a problem? Please describe.**
The current testing toolchain of the toolchain and its capabilities offers a significant performance improvement, as it remove the need of testing the toolchain when running CMake in a new build folder.

Unfortunately, this means that if the installation was broken when testing compiler flags, then the cached capabilities will

[2020-11-25 10:18] tejlmand commented on #22060
This is something that should be improved, but without sacrifying the benefits of the toolchain capabilities database.
Created: https://github.com/zephyrproject-rtos/zephyr/issues/30227 for followup.

[2020-11-25 10:49] baw-serafin commented on #30227
What is the usecase for new build folder? There is `--prisitne` for clean builds if that is not enough and I have to delete the build folder I would want to have a really clean build not caches somewhere else.

[2020-11-25 11:01] carlescufi commented on #30179
@hongshui3000 Thanks for posting. This is a request for an enhancement in west, not in zephyr itself, so I suggest you post this in the west repository instead: https://github.com/zephyrproject-rtos/west

[2020-11-25 11:01] #30179 closed

[2020-11-25 11:20] cvinayak commented on #30157
I expect the time between adv packets to follow BT spec and be a random delay between 0 and 10ms.

By BT Spec. "The advDelay is a pseudo-random value with a range 0 ms to 10 ms generated
by the Link Layer for each advertising event."

The 10 ms random delay is between "advertising event" consisting of channels 37, 38 and 39.

This no specification limit as to how low the three channels can be plac

[2020-11-25 11:31] carlescufi commented on #30157
Changed from bug to question as per [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/30157#issuecomment-733646291). I think that you'll find that the open source Link Layer is just very fast at switching.

[2020-11-25 11:59] markus-becker-tridonic-com commented on #12714
Is https://github.com/nrfconnect/sdk-nrf/blob/master/samples/bluetooth/shell_bt_nus/README.rst  what you are looking for?

[2020-11-25 12:06] jakkra commented on #30157
Thanks, sorry then I missunderstood the spec. Guess I'll need to try get my receiver quicker so that I can switch channel faster than ~62us.

[2020-11-25 12:06] #30157 closed

[2020-11-25 12:10] azeemshatp commented on #30148
With the workaround, just noticed that erasing the offset 0x1F800 as below throws error when I use FLASH_PAGE_SIZE. Works fine when I used a smaller size = 64.
flash_erase(flash_device, offset, FLASH_PAGE_SIZE);

Could you please check this @martinjaeger

[2020-11-25 12:23] #30213 closed

[2020-11-25 12:27] #27809 closed

[2020-11-25 12:31] martinjaeger commented on #30148
@azeemshatp: Yes, same issue here. `FLASH_PAGE_SIZE` is correctly set to 2048 (verified with printf), so there seems to be a bug somewhere in the validation.

[2020-11-25 13:04] wangnuannuan opened #30229 "BinaryHandler has no pid file"
**Describe the bug**
There is no pid file, so method `def try_kill_process_by_pid(self):` can't be called.
https://github.com/zephyrproject-rtos/zephyr/blob/610fd2716477bfa57f19f084f45d22c39a62f58e/scripts/sanity_chk/sanitylib.py#L351

[2020-11-25 13:06] #30229 closed

[2020-11-25 13:08] #29681 closed

[2020-11-25 13:30] joerchan commented on #30157
@jakkra You will have to change the ramp-up. Have a look at the MODECNF0 register in the radio peripheral.
The radio should start in 40 us, so you just have to keep your processing overhead less than 22 us.

[2020-11-25 13:48] MarekPorwisz opened #30230 "printk and power management incompatibility"
**Describe the bug**
Software enters infinite loop when uart assigned to the console enters OFF state.
The driver ends in an infinite loop waiting for sending to finish.
Confirmed on nRF52 devices, not sure if other drivers behave the same.

**To Reproduce**
 1. Enable CONFIG_LOG_MINIMAL in the project config.
 2. Enter power off state on the uart:
[code]
 3. Log anything, for example using NET_LO

[2020-11-25 13:48] pvonmoradi commented on #12714
@markus-becker-tridonic-com @tautologyclub
There is proprietary NUS with samples here: https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/samples/bluetooth/peripheral_uart/README.html#
My problem is, I want to use it from the regular upstream Zephyr (so I don't need to install NCS). Is it possible?

[2020-11-25 13:50] jakkra commented on #30157
@joerchan Thanks for the tip, I'll take a look at the ramp-up in MODECNF0 and see if I can optimize the processing time.

[2020-11-25 13:52] ABOSTM commented on #30148
I created the PR #30231, with a cleaner version of the patch.
I fix the issue of offset 0x1F800 (condition at the border)

[2020-11-25 13:55] markus-becker-tridonic-com commented on #12714
That was the sample I meant.

Well, the NCS sample might or might not be restricted to Nordic hardware. YMMV.

[2020-11-25 14:01] pvonmoradi commented on #12714
@markus-becker-tridonic-com NUS *is* restricted to nordic hw. My problem is, I don't want to manage NCS and upstream zephyr at the same time.

[2020-11-25 14:35] galak opened #30232 "CMake 3.19 doesn't work with Zephyr (tracking issue w/upstream CMake)"
In cmake 3.19 `cmake_check_compiler_flag` behaves differently than previous versions and breaks Zephyr.

On ARM you might see something like:

[code]

and

[code]

[2020-11-25 14:36] galak commented on #30232
This issue is really to track the issue w/upstream CMake and convey status of what's going on.

Here's the CMake issue:

https://gitlab.kitware.com/cmake/cmake/-/issues/21497

[2020-11-25 14:56] galak commented on #22060
cmake 3.19 and 3.19.1 currently don't work with Zephyr.  This appears to be a regression with upstream CMake and I've opened the following issue to track things:

https://github.com/zephyrproject-rtos/zephyr/issues/30232

[2020-11-25 15:03] galak commented on #30232
Note, its possible you get into a weird state with the Zephyr cmake cache and best to possibly remove it:

`rm -fr ~/.cache/zephyr`

[2020-11-25 15:10] tejlmand commented on #30227
A `--pristine` build is identical to a new build folder, because the CMakeCache.txt file is removed during pristine cleaning.
CMake has no concept of pristine, only whether it is:
- Existing build folder (contains a CMakeCache.txt)
- New build folder (doesn't contain a CMakeCache.txt)

[2020-11-25 15:13] microbuilder commented on #30232
setup workaround for Ubuntu, just as an example:

[code]

[2020-11-25 15:57] manchoz commented on #30232
Quick-and-dirty workaround for MacOS + `brew`:

Ignore all the `brew` complaints. YMMV.

[code]

[2020-11-25 16:08] kristoftjonck opened #30235 "MbedTLS X509 certificate not parsing"
**Describe the bug**
To read/parse a PEM certificate in MbedTLS mbedtls_x509_crt_parse(...) should be used.
I formatted the string to comply with the PEM standard (like in examples such as [this](https://github.com/iotivity/iotivity/blob/master/resource/csdk/connectivity/test/ssladapter_test.cpp) and [this](https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-tls-tls-client/file/50d4701

[2020-11-25 16:16] rtzu6 opened #30236 "Main thread sometimes looping forever before user application is reached when using UDP and IPv6 on Nucleo F767ZI"
**Describe the bug**
When booting a Nucleo f767zi with the network stack enabled (UDP and IPv6 only), sometimes the main thread blocks. In most cases, the example works with the TCPtest.py offered by net-tools (modified the socket to work with UDP, otherwise untouched).
In rare cases, it does not reach the application but is stuck in an endless loop in z_clock_announce (timeout.c).
Attaching gdb a

[2020-11-25 19:16] bdkrae commented on #30204
2 Bugs:
- you missed the -b argument
- foldername is teensy4, but the 2 boardname-options are teensy40 and teensy41

But anyway the Blinky sample compiles but seems to be broken. I'll have a look...

[2020-11-25 20:24] utsavm9 commented on #22060
Like last comment, this worked for me on Windows 10 (Powershell):
[code]

[2020-11-25 20:50] bdkrae commented on #30204
ok got it. My code cleanup from yesterday was somewhat too fast (and maybe too late in the evening ;-). Yesterday I removed this little part from ```teensy40.dts```:
[code]
But this defines where the applications standard output goes - e.g. printk() - goes. My example application maps this output to usb and didn't show this bug, so I ran into the trap.

I just pushed a bugfix:
https://github.com/b

[2020-11-26 01:06] LingaoM opened #30240 "Bluetooth: Mesh: PTS Test failed in friend node"
**There are two issues related to friend.**

~~- 1: MESH/NODE/FRND/FN/BV-14-C MESH/NODE/FRND/FN/BV-15-C~~

Both the above two tests require IUT to cache the data(netkey_update) sent by LT2 to LPN as a friend node. However, according to the log, LPN does not receive valid data, resulting in LT2(waiting for netkey_status) timeout exit.

- 2: Latest PTS 7.6.2 Add new testcase MESH/NODE/FRND/FN/BV-23-

[2020-11-26 01:10] LingaoM commented on #30240
https://github.com/zephyrproject-rtos/zephyr/blob/41b7e5da7b453ce6ec648e29825f3e71048b498a/subsys/bluetooth/mesh/subnet.c#L616-L620

@trond-snekvik
Here is a bug that I have found. I plan to submit PR together to solve these problems, but it is necessary to tell you. It will lead to the failure to establish a friendship relationship at all. The reason is that the friend node will set established t

[2020-11-26 05:35] cvinayak opened #30243 "Bluetooth: controller: IRK resolution in extended scanning breaks auxiliary PDU reception"
**Describe the bug**
`radio_irk_resolve` function takes ~300 us which prevents reception of auxiliary PDUs that are as close as 300us of T_MAFS from next auxiliary PDU.

Details be filled as we go about fixing.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
A clear and concise description of what y

[2020-11-26 05:38] cvinayak opened #30244 "Bluetooth: controller: Extended scan window time reservation prevents auxiliary channel reception"
**Describe the bug**
Time space is reserved for scan window, this will cancel single shot scheduling being used for auxiliary PDU.

- Add implementation for abort scan window
- Add new ticker interface to yield currently occupied timespace

More info be filled as we work on this issue...

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make

[2020-11-26 05:50] cvinayak opened #30245 "Bluetooth: controller: event scheduling pipeline preemption by short schedule"
**Describe the bug**
A request to schedule an event shorter than preemption timeout could be delayed upto the preemption timeout making the event to be delayed beyond its hard deadline.

![image](https://user-images.githubusercontent.com/6350656/100312631-20bf6e00-2fb3-11eb-9ac5-986aa2d932da.png)

1 - Prepare callback of continuous scan window
2 - Preemption abort after 1.5 ms since 1
3 - New sche

[2020-11-26 06:11] LingaoM commented on #30240
https://github.com/zephyrproject-rtos/zephyr/blob/41b7e5da7b453ce6ec648e29825f3e71048b498a/subsys/bluetooth/mesh/transport.c#L1446-L1447

In this way, the sequence number of each segment is changed, and the segment packets of the same sequence number are saved to the friend cache, resulting in LPN **replay attack**.

@trond-snekvik first issue has been solved, i'll submit pr for this. But until no

[2020-11-26 06:50] hongshui3000 opened #30373 "out of tree （board soc doc subsystem ...）"
Now the zephyr project is getting bigger and bigger, supporting more and more development boards and SOCs. Can these be maintained outside the reengineering tree (including documentation)
The WEST tool should be able to support selective download of the corresponding modules, allowing users to decide to download the software packages they need.

[2020-11-26 06:56] hongshui3000 opened #30372 "WEST Support clean build"
WEST Support clean build

[2020-11-26 07:52] jukkar commented on #30209
Yes, there is some option setting in TCP1. Seach `net_tcp_set_syn_opt()` function.

[2020-11-26 07:53] jukkar commented on #30209
Yes, see for example `subsys/net/lib/sockets/sockets.c` and ` zsock_setsockopt_ctx()`

[2020-11-26 09:52] PerMac opened #30253 "tests: kernel: Test kernel.memory_protection.gap_filling fails on nrf5340dk_nrf5340_cpuapp"
**Describe the bug**
Test from zephyr/tests/kernel/mem_protect/mem_protect fails on nrf5340dk_nrf5340_cpuapp.

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf5340dk_nrf5340_cpuapp
2. go to zephyr dir
3. run `./scripts/sanitycheck --device-testing -p nrf5340dk_nrf5340_cpuapp -T tests/kernel/mem_protect/mem_protect --device-serial /dev/ttyACM2 -v -v
`
4. See error

**Expected behavior*

[2020-11-26 10:05] #29884 closed

[2020-11-26 10:54] PerMac commented on #29397
With the #29829 merged this should be possible by adding platforms that need to be tested (build level in case of not simulated ones) in 'integration_platforms` list. This list expands/limits the CI to the platforms in the list (`platform_allow` only works as an additional filter preventing anything that is not on the list from being tested).

[2020-11-26 11:15] PerMac opened #30257 "test: kernel: Test kernel.common.stack_protection_arm_fpu_sharing.fatal fails on nrf52 platforms"
**Describe the bug**
The test kernel.common.kernel.common.stack_protection_arm_fpu_sharing.fatal fails on nrf52 platforms.

**To Reproduce**
Steps to reproduce the behavior:
1. go to zephyr dir
2. have nrf52 platform connected (e.g. nrf52dk_nrf52832)
3. run `./scripts/sanitycheck --device-testing -T tests/kernel/fatal/exception/ -p nrf52dk_nrf52832 --device-serial /dev/ttyACM0 -v -v`
4. See error

[2020-11-26 11:36] #30235 closed

[2020-11-26 11:39] nandojve commented on #29740
Hi @nehalrohit

I confirmed here yesterday. The UpdateHub Cloud only accept connections with DTLS. I noted that when I enabled DTLS on Zephyr, for some reason, "send" returns with error and packages have been not sent. It seems something goes wrong at DTLS challenge phase.

I'll recommend, in the mean time that we are investigating the DTLS issue, you to use UpdateHub CE. You can pull the docker c

[2020-11-26 12:04] #30207 closed

[2020-11-26 12:05] carlescufi commented on #27672
Closing due to inactivity. Plesae reopen if this is still an issue.

[2020-11-26 12:05] #27672 closed

[2020-11-26 12:06] carlescufi commented on #29098
@Vudentz ping

[2020-11-26 12:07] carlescufi commented on #29223
@mfinmuch please provide the info requested

[2020-11-26 12:07] carlescufi commented on #29636
@cvinayak could you please comment on this?

[2020-11-26 12:08] carlescufi commented on #30130
Closing this since this is really an nrfx issue.

[2020-11-26 12:08] #30130 closed

[2020-11-26 12:13] mfinmuch commented on #29223
Hello
I finally found that my ATT handle will be the same
But my connection handle will be determined according to the connection order
However, how to select a specific peripheral to use, whether to use it according to the handle of the link, is still not very clear.

[2020-11-26 12:55] cvinayak commented on #29636
It appears like the Zephyr controller has sent the conn_update_ind PDU without filling the window offset value of 1.

Could you please recheck with the following in your prj.conf:
CONFIG_BT_CTLR_ADVANCED_FEATURES=y
CONFIG_BT_CTLR_SCHED_ADVANCED=n

[2020-11-26 12:58] ufechner7 commented on #30204
Still not working:

ufechner@builder:~/zephyrproject/zephyr$ west build -p auto -b teensy40 samples/basic/blinky
WARNING: This looks like a fresh build and BOARD is unknown; so it probably won't work. To fix, use --board=<your-board>.
Note: to silence the above message, run 'west config build.board_warn false'
ninja: error: loading 'build.ninja': No such file or directory
FATAL ERROR: command exit

[2020-11-26 13:11] CodingGhost commented on #28955
I am experiencing this too, its really annoying.

[2020-11-26 13:14] lukasbrchl commented on #28955
Same here

[2020-11-26 13:19] #29916 closed

[2020-11-26 14:29] JeroenAka opened #30261 "File no longer at this location"
https://github.com/zephyrproject-rtos/zephyr/blob/c08ef381c81926483e1469df6972fe063ac25954/drivers/console/uart_console.c#L35

The file reference here is no longer at this location but at mgmt/mcumgr/serial.h

[2020-11-26 15:29] de-nordic commented on #29921
@nehalrohit Do you find the https://github.com/zephyrproject-rtos/zephyr/issues/29921#issuecomment-729542160 information satisfactory? Can the issue be closed now?

[2020-11-26 15:32] de-nordic commented on #30152
Adding myself and @nvlsianpu to the thread.

[2020-11-26 15:58] aunsbjerg commented on #30232
Cmake is available as a pip package, which is already mentioned in the getting started docs. Would it make sense to add cmake to the python requirements instead of having to manually install it? This would also make it easier to pin a specific cmake version as the officially supported version.

[2020-11-26 16:28] avisconti commented on #30133
Hi @WilliamGFish

I started today looking into that issue, but I think that unfortunately the lis2dh12 device can
only have DRDY on INT1 and AnyMotion (or other event combinations) on INT2.
So, we cannot do antything about it.

Just a question related to thingy52: isn't the DRDY fixed on INT1 in hardware?

[2020-11-26 16:56] carlescufi commented on #30232
We did consider that, but it was ultimately decided that this was not a good idea because many people choose to use the CMake that comes with their distribution instead, and by putting it in the requirements we'd effectively be asking users to have 2 copies of CMake.

[2020-11-26 17:08] #30230 closed

[2020-11-26 17:23] cvinayak commented on #29636
Tested the attached sample on a nRF52840DK modified prj file to use UART console (my WIP branch rebased over latest upstream master 27529e0c0d) and do not see any issues (makes me believe this is not a bug in controller source code).
Console output:
![image](https://user-images.githubusercontent.com/6350656/100376017-116e0e00-300f-11eb-884b-a69598ddabd8.png)
nRF sniffer trace (wireshark) file, gh_

[2020-11-26 17:25] nashif commented on #28955
@nordic-krch  Can you please take a look at this, can't find what is going on here.

[2020-11-26 17:27] CodingGhost commented on #28955
I think I know what has happened: the default log level kconfig options seems to affect the kernel log level since 2.4.0, maybe this isnt a bug but just a feature thats confusing for people updating to 2.4.0.
setting the default log level to 1 gets rid of the messages

[2020-11-26 18:43] bdkrae commented on #30204
Most likely you've not set the environment variables for the required build system. See https://docs.zephyrproject.org/latest/getting_started/toolchain_3rd_party_x_compilers.html#gnu-arm-embedded for more information.

My ones look like this:
[code]

[2020-11-26 21:17] tejlmand commented on #30232
Workaround posted: https://github.com/zephyrproject-rtos/zephyr/pull/30272

[2020-11-26 21:49] olofk commented on #30074
I can't tell if this is related but I have spent the past two weeks debugging why the philosophers sample application crashes on my RISC-V SoC with Zephyr 2.4.0 and I have several clues pointing at the spin lock. Sometimes the crashes triggers the assert
    ASSERTION FAIL [z_spin_unlock_valid(l)] @ ../../../include/spinlock.h:132
    PhilosopNot my spinlock 0x00010590E FORK
    @ WEST_TOPDIR/zeph

[2020-11-27 03:57] nehalrohit commented on #29921
hi @de-nordic
Thanks, I resolved my issue.

[2020-11-27 06:50] lyakh commented on #29954
https://github.com/thesofproject/sof/pull/3645 fixes the problem. It can however also be a good idea to add generic cache-line alignment to the Zephyr allocator.

[2020-11-27 06:56] #29921 closed

[2020-11-27 07:24] Guayusa commented on #29636
Hi,

thanks for the update!
I am on commit https://github.com/zephyrproject-rtos/zephyr/commit/cc4708e3170bfedcc2be33d8dc64c48534a76b0f and the my dongle is `PCA10059 1.0.0 2018.34`. I flash it using a J-Link programmer.
Because I update my master frequently I just checked again that the issue still occurs and it does:
![2020-11-27 08_01_00-Window](https://user-images.githubusercontent.com/7365114

[2020-11-27 08:21] maksimmasalski opened #30275 "up_squared: tests/kernel/common failed (timeout error)"
**Describe the bug**
When running test suite "kernel.common" on the up_squared board, tests stop running (freeze) and cause timeout error in sanitycheck. When I'm using west tests pass. I can think that it is a sanitycheck bug.

1. All tests in the category `kernel.common.kernel.common.tls` freeze at the next point:
[code]

2. All tests in the category `kernel.common.kernel.common.misra` freeze at

[2020-11-27 08:35] wangnuannuan opened #30276 "Sanitycheck: can't find mdb.pid"
**Describe the bug**
When platform is `nsim_hs_smp`, if testcase timeout, the sanitycheck may raise error.

[code]
So please check if this file exist brfore
https://github.com/zephyrproject-rtos/zephyr/blob/83b6fa20fe5def289ac2b9a8588097f211bff457/scripts/sanity_chk/sanitylib.py#L352

[2020-11-27 09:19] cvinayak commented on #29008
@RoyAnupam Please use nRF sniffer and capture the on-air traffic for the connection, this will help me analyze if there are any scheduling issues in the controller.

@carlescufi As this issue is not reproducible on my end, I request another resource try to reproduce the issue and I can then have a live session with them to analyze further.

[2020-11-27 10:16] RoyAnupam commented on #29008
Hello @cvinayak ,

Oh, Unfortunately I don't have nRF sniffer with me. Actually I have not used it before. Can you please tell me if it is a hardware/software of HW + S/W combination tool?  or just any guide/weblink for reference? Thank You.

[2020-11-27 10:35] cvinayak commented on #30244
@asmk-ot @mtpr-ot @wopu-ot @kruithofa

Relates to the below design requirement (serial no. 2):
![image](https://user-images.githubusercontent.com/6350656/100439945-71fb5a80-30a4-11eb-90f8-89a7cb0bf836.png)

Discussion welcome...

[2020-11-27 10:52] cvinayak commented on #29008
@RoyAnupam Here you go: https://www.nordicsemi.com/Software-and-tools/Development-Tools/nRF-Sniffer-for-Bluetooth-LE

[2020-11-27 14:30] #29166 closed

[2020-11-27 14:56] #28955 closed

[2020-11-27 15:23] reloZid commented on #29915
Hi!

I also ran into this problem and before finding this issue I did some digging too and I noticed that the DMA descriptors and RX buffers in `eth_stm32_hal.c` are placed in the default system RAM. I think this might be the root cause of this issue, because there are certain constraints which should be taken care of: https://community.st.com/s/article/FAQ-Ethernet-not-working-on-STM32H7x3

What

[2020-11-27 17:11] ufechner7 commented on #30204
But do I need a 3rd party compiler? I have installed and setup zephyr-sdk-0.11.4 .

[2020-11-27 17:17] Nukersson commented on #29915
Absolutely agree with you. Thank you for this notice. If you try to run `nucleo_h743zi` or `nucleo_h745zi_q` boards with `sram1` istead of `sram0` you'll see more responsive Ethernet. Current problem is not in h7 series, but in Zephyr itself, which does not allow (cry if it is not!) putting multiple SRAM regions (sram0, srma1, etc.) in one build together. I've already asked it [here](https://githu

[2020-11-27 17:18] #30261 closed

[2020-11-27 23:58] coderkalyan opened #30298 "regression/change in master: formatting floats and doubles"
After updating to latest zephyr master, I noticed that I can't format float values with libc printf() or the logging API, while I used to be able to. I took a quick in the commit history, and there are some commits recently (in the last 2-3 weeks) regarding formatting in the libc implementation, but I could figure out what was the culprit.

Is there something I should be changing at build time, or

[2020-11-28 01:03] #27559 closed

[2020-11-28 01:03] #27367 closed

[2020-11-28 03:54] nehalrohit commented on #29740
hi @nandojve
I can see the device on UpdateHub CE.
![updatehub](https://user-images.githubusercontent.com/50902801/100445421-1399a080-30d3-11eb-8ed6-4dd88f529787.png)

but updatehub run cmd not working

[2020-11-28 03:54] #29740 closed

[2020-11-28 03:56] nehalrohit commented on #29740
Hi @nandojve
by mistake, the thread is closed my issue is still going on its not yet close

[2020-11-28 09:03] nehalrohit commented on #29740
Hi @nandojve
I have successfully  seen the device on the update server
![img_20201128(1)](https://user-images.githubusercontent.com/50902801/100498205-929be100-3186-11eb-99e5-38da98c1dd0f.png)

![up1](https://user-images.githubusercontent.com/50902801/100498171-54062680-3186-11eb-8639-d60350066f9f.png)

create rollout not work .
![img_20201128](https://user-images.githubusercontent.com/50902801/10

[2020-11-28 12:20] #26372 closed

[2020-11-28 14:45] nashif commented on #19530
--build-only and --test-only now available and supported.

[2020-11-28 14:45] #19530 closed

[2020-11-28 14:47] nashif commented on #6857
was addressed with --integration feature

[2020-11-28 14:47] #6857 closed

[2020-11-28 15:04] nashif commented on #30099
I think I fixed this while cleaning up in another PR, see #28372

[2020-11-28 15:45] nashif commented on #27484
this could be resolved with:
[code]

however, what type of errors you expect to go to stderr?

[2020-11-29 01:06] #28363 closed

[2020-11-29 01:06] #28298 closed

[2020-11-29 16:44] ufechner7 commented on #30204
Some progress:
I had to clean the build directory, then compilation started to work.

[code]
The following command works:
`west build -b mimxrt1060_evk samples/basic/blinky`

The following fails, after cleaning the build directory, with:
`ufechner@builder:~/zephyrproject/zephyr$ west build -b teensy40 samples/basic/blinky
-- west build: generating a build system
Including boilerplate (Zephyr base)

[2020-11-29 16:51] ufechner7 commented on #30204
When using the target xmimxrt1060_evk (which uses the same CPU), I get the following memory usage report:

[code]

So perhaps the memory resource definition for the board teensy40 is wrong?

[2020-11-29 18:19] remy-luisant commented on #30074
Same issue on a custom board, ARMv7-A (sic), master branch.

I might be wrong on this one, but here's a sketch of the problem as I see it.

Below is the relevant, edited for brevity, code.

log_core.c:905
[code]

The locking function:
[code]

Next, in the validation code:
[code]

Who initialized thread_cpu? Not the user, not the locking procedure...

[2020-11-29 18:48] remy-luisant commented on #29162
I might be having the same issue on a custom board, but I'm blocked from investigating by issue #30074, since the noise from spurious spinlock validation errors is deafening. In my case, I get undefined instruction errors when execution is taken out of the RAM and into MMIO areas.

I have OpenOCD running and the issue, if indeed this is the same one, reliably reproducible. While this is a port to

[2020-11-29 19:08] ufechner7 commented on #30204
I tried the example from https://github.com/bdkrae/zephyr_teensy4_test :

west build -p -b teensy40 samples/zephyr_teensy4_test

More or less the same problem:

[code]

[2020-11-29 20:12] KozhinovAlexander opened #30303 "Data Reallocation in SRAM"
Dear Zephyr community,

I have following problem:

1. `sram0` and `sram1` of some SoC DT are placed on non-consecutive memory addresses.
2. DT of the board chooses `zephyr,sram = &sram0`.

How do I place some array of data `static char foo[10];` in `sram1`?

Thanks to everyone, helping to solve it.

[2020-11-29 20:22] olofk commented on #30074
@remy-luisant Good finding. Sounds like you're onto something. I would love to help debug since this sounds related to what I've been debugging for three weeks now. One problem is that I can't really check if thread_cpu is valid because I have no idea what value it is supposed to have. From the code it looks like the two LSB is a CPU number (does Zephyr only support four CPUs?) and perhaps the res

[2020-11-29 21:21] bdkrae commented on #30204
Hmm, weird. When I compile the blinky sample for teensy40 it looks like this (and works pretty fine):

[code]

But yes, it also states SRAM which is actually not present. I think I'll try the sdk toolchain tomorrow since this looks like the common workflow and in addition my compiler version is outdated.

[2020-11-29 22:16] ufechner7 commented on #30204
It looks as if your toolchain is renaming DTCM to SRAM ... How this can be achieved is described here: https://lists.zephyrproject.org/g/users/message/2034?p=,,,20,0,0,0::Created,,ocram,20,2,0,74673781

[2020-11-29 22:18] remy-luisant commented on #30074
I imagine that people who need an RTOS that runs on multiple CPUs at GHz speeds and with tens of MB of RAM would not go with Zephyr. From their homepage: "The Zephyr Project strives to deliver the best-in-class RTOS for connected **resource-constrained devices**, built to be secure and safe." Apparently, I'm not exactly the target audience, but well...

Git points out this edit as the point of inc

[2020-11-30 01:06] #28309 closed

[2020-11-30 01:06] #26515 closed

[2020-11-30 01:09] tcpipchip opened #30304 "NRF52832 consumption too high 220uA"
Dear

I am using the NRF52832, using the following prj
[code]
I would like to know how to disable the UART.

Maybe UART is my CONSUMPTION problem!

Thanks!

[2020-11-30 02:02] chen-png opened #30305 "up_squared: tests/kernel/mem_protect/mem_protect failed."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/mem_protect/mem_protect
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
Booting Zephyr OS build zephyr-v2.4.0-1845-g6aa16e01dd91
Running test suite memory_protection_test_suite

**START - test_permission_inheritance**
E: Page fault at address 0x12e990 (error code 0x4)
E: Linea

[2020-11-30 02:06] chen-png opened #30306 "up_squared: tests/kernel/mem_protect/userspace failed."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p tests/kernel/mem_protect/userspace
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
Booting Zephyr OS build zephyr-v2.4.0-1845-g6aa16e01dd91
Running test suite userspace

START - test_is_usermode
PASS - test_is_usermode

START - test_write_control
E: General protection fault (code 0x0)
E: RAX: 0

[2020-11-30 02:14] chen-png opened #30307 "up_squared: tests/kernel/device/ failed."
**Describe**
when running tests/kernel/device/ on up_squared, the test it will stop at "test_bogus_dynamic_name" and fail with timeout.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/device/
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
Booting Zephyr OS build zephyr-v2.4.0-1845-g6aa16e01dd91
Running test suite device

[2020-11-30 04:27] aloebs29 opened #30308 "Add optional user data field to device structure"
**Is your enhancement proposal related to a problem? Please describe.**
I'm trying to write a C++ class which receives a `struct device *` member via dependency injection. In this case, the device is a sensor, and I'd like to setup a trigger callback. I must use a static function as the callback, since the sensor trigger callback does not provide the `this` argument. This means that I am unable to

[2020-11-30 04:55] aloebs29 commented on #30308
This won't work since `device_get_binding()` returns `const struct device *` (user data would not be mutable).

[2020-11-30 04:55] #30308 closed

[2020-11-30 05:50] s-kelvin commented on #30257
This testcase fails on reel board as well.

[2020-11-30 08:19] erwango commented on #27484
Good question, this was some time ago, I should have documented.
So, I can recall exactly but these were script execution issues that could be due to wrong environment setup or alike. Not test execution issues, but kind of errors that would lead to wrong test results.
Though, fact that I am not able to recall is a sign that this was not that critical or that I managed to get through it.

So either

[2020-11-30 08:37] erwango commented on #30303
^^ @galak

[2020-11-30 08:54] erwango commented on #29915
I haven't been through the proposed solution in detail, but we should consider that Zephyr already makes a strong use of MPU,
as part of its secure implementation design (cf https://docs.zephyrproject.org/latest/reference/usermode/memory_domain.html for more details).
So, one thing to consider before selecting a MPU based solution, is that it won't be as easy to select a proper MPU configuration a

[2020-11-30 09:37] erwango commented on #30236
@rtzu6 Thanks for reporting this issue

Did you face the same issue w/o the network stack enabled ?

[2020-11-30 10:33] jhedberg commented on #30240
Did #30260 fix this?

[2020-11-30 10:52] anirudhajith opened #30315 "Build failure: zephyr/include/generated/devicetree_unfixed.h:627:29: error: 'DT_N_S_leds_S_led_0_P_gpios_IDX_0_PH_P_label' undeclared"
**Description**
Running `west build -p auto -b hifive1 samples/basic/blinky` fails with a build error. This is the full dump:
[code]

It seems to be the case that there is an undeclared reference to `DT_N_S_leds_S_led_0_P_gpios_IDX_0_PH_P_label` in `zephyr/include/generated/devicetree_unfixed.h:627:29`

**To Reproduce**
Steps to reproduce the behavior:
* Follow the steps to set up SDK, etc. at [Ge

[2020-11-30 10:54] WilliamGFish commented on #30133
@avisconti
If you look at the st spec it suggests this is a mater of cfg (https://www.st.com/resource/en/application_note/dm00365457-lis2dh12-mems-digital-output-motion-sensor-ultralowpower-highperformance-3axis-nano-accelerometer-stmicroelectronics.pdf)

I think the zephyr driver was done that way for convenience. I'm not that great with MEM drivers so I always look at the manufacture for guidanc

[2020-11-30 10:58] LingaoM commented on #30240
Yes, But it is only a part, so it cannot be closed.

[2020-11-30 11:29] nehalrohit opened #30316 "updatehub with openthread"
Hello
I am doing some changes to the updatehub code with the openthread demo. and successfully connect with the updatehub local server.

here are my code logs.
![uhu3](https://user-images.githubusercontent.com/50902801/100604828-12fc4680-332d-11eb-91ac-0d9b8f11db48.png)

create a package  version using this
 ** ../../../../bootloader/mcuboot/scripts/imgtool.py sign --key ../../../../bootloader/mcu

[2020-11-30 12:31] nandojve commented on #30316
Hi @nehalrohit,
There are two commands to sign image:

1) **with** --pad option (used to upload image using west flash) This can be BIN or HEX
`imgtool.py sign --key <dir>/root-rsa-2048.pem --header-size 0x200 --align 8 --version 1.0.0 --slot-size 0x67000 --pad build/zephyr/zephyr.hex build/zephyr/zephyr-1.0.0.hex`

2) **without** --pad/--pad-header options (used to create UHU package) this can be

[2020-11-30 12:59] rtzu6 commented on #30236
No, I cannot reproduce this issue when changing `CONFIG_NETWORKING=n` (I assume this is what you mean).

[2020-11-30 13:00] avisconti commented on #30133
I think that you can drive the events interrupts to INT1 or INT2, but you cannot drive DRDY on INT2.

Yes, I sit beside the guy that writes the standard C drivers, and I as well wrote some of them in the past. I can ask to him as well as to designers to be 100% sure of what I told you.

Just to be sure of what you are asking with this request, are you just interested to define INT1/INT2 just for e

[2020-11-30 13:02] joerchan commented on #29223
@mfinmuch You get the connection object to the connections you create. You will have to manage these, as these are the ones used to select which connection you want to perform the read operation on.
As you can see the first argument to bt_gatt_read is this connection object, `bt_conn *conn`.
The central_hr sample is written to only support one connection at a time, and therefore it only keeps trac

[2020-11-30 13:14] ABOSTM commented on #29798
This issue is fixed by #27911

[2020-11-30 14:05] WilliamGFish commented on #30133
@avisconti
I think it would be super useful if INT1 could be configured to be either DRDY or 'Motion' events. If INT2 can only be event driven then that is that.

This is in part because a number of board only connect INT1, Thingy:52 is an example of one that is on my desk.

Billy..

[2020-11-30 14:19] avisconti commented on #30133
@WilliamGFish
Ah ok, so you would like the opposite of what I thought. You would like to have both DRDY and AnyMotion on INT1 (so avoid using INT2 at all). Let me think about that.

[2020-11-30 14:25] ABOSTM opened #30322 "tests: benchmarks: latency_measure: timing measurement values are all 0"
**Describe the bug**
Running tests/benchmarks/latency_measure on nucleo_f746zg,
test is passed, but all timing measurement values are `0 ns`.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_f746zg tests/benchmarks/latency_measure
2. west flash
3. See log

**Expected behavior**
Non null timing measurement value

**Logs and console output**
[code]

**Environment (p

[2020-11-30 14:49] #30219 closed

[2020-11-30 15:26] nicovince opened #30325 "Stack overflow with http post when using civetweb"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
I'm prototyping with a nucleo h743 an embedded web server with GET and POST capabilities. I have no issues with the GET part, but I am encountering stack overflow issues with POST requests.

The issue rises after processing the first key/value, the buffer (8k, located

[2020-11-30 15:29] pabigot commented on #30298
Add `CONFIG_CBPRINTF_FP_SUPPORT=y` to your `prj.conf`.  This should be the default if you have `CONFIG_FPU=y`, but if you're doing software floating point it wouldn't be.

[2020-11-30 15:30] pabigot commented on #30298
For more details on the new formatter: https://docs.zephyrproject.org/latest/reference/misc/formatted_output.html

[2020-11-30 15:41] nashif opened #30328 "Openthread build issues with clang/llvm"
When building openthread tests with llvm/clang, I get the following:

[code]

We should be using the result of otPlatRadioGetTransmitPower

We need a clean clang/llvm build to be able to integrate this in CI.

This was reproduced with:

[code]

[2020-11-30 15:42] ABOSTM commented on #30322
Issue is linked to DWT which never starts.
Writing to DWT registers is inefficient.
On Cortex M7 access to DWT register may be lock.
See #30327

[2020-11-30 15:55] statropy opened #30329 "drivers: gpio: Combined drive strength flags"
**Is your enhancement proposal related to a problem? Please describe.**
Most microcontrollers support some sort of drive strength option for GPIO. The Zephyr implementation provides flags for using an alternate drive strength, but these flags are targeted at a specific vendor implementation. The `GPIO_DS_ALT_HIGH` and `GPIO_DS_ALT_LOW` flags are used to set the drive strength of a pin when the out

[2020-11-30 16:04] pabigot commented on #30304
What board are you using?  How are you measuring the power?

It could be UART.  Look for `CONFIG_UART_` in `build/zephyr/.config` and make sure it's all off (what you specify in `prj.conf` may not be what you're getting).

`samples/boards/nrf/system_off` shows how to get the UART device for the console and set it into a low-power state, but that assumes that the UART is available.  It sounds like

[2020-11-30 16:05] pabigot commented on #30329
Added for API review @carlescufi

[2020-11-30 16:07] pabigot commented on #30329
@mnkp FYI, this follows up on discussion #30220.

[2020-11-30 16:08] ABOSTM commented on #28312
Hi @lowlander,
As you know, activating cache may be easy, but it is not that easy to guarantee cache coherency across zephyr drivers (see issue https://github.com/zephyrproject-rtos/zephyr/issues/29798 and your PR https://github.com/zephyrproject-rtos/zephyr/pull/27911)
So adding such switch need to study all F4 drivers to identify and fix any cache coherency potential issue.

[2020-11-30 16:21] nashif opened #30330 "tests/subsys/usb/bos/usb.bos fails with native_posix and llvm/clang"
**Describe the bug**
currently the test fails when built with clang/llvm.

[code]

[code]
**Expected behavior**
Test should pass.

**Impact**
Not able to integrate CI testing for clang/llvm

**Logs and console output**
See above

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain clang/llvm 10.

[2020-11-30 16:44] bpbradley commented on #28572
@erwango I will give a +1 to this enhancement. I am in need of implementing stop mode on the STM32F411 which does not have LPTIM. I am able to get it into stop mode using LL libraries, and am able to configure an alarm which wakes the device up, but since the system clock does not resume it does not properly resume operation.

[2020-11-30 16:56] tcpipchip commented on #30304
Good morning @pabigot (Peter)

I am using the EBYTE E73. Using Amperimeter and put it the cable  in serie with E73 power (VCC), mayBE is this my fault)

This is my .config

#
# Modules
#

#
# Optional modules. Make sure they're installed, via the project manifest.
#
# CONFIG_CANOPENNODE is not set
# CONFIG_CIVETWEB is not set
CONFIG_HAS_CMSIS_CORE=y
CONFIG_HAS_CMSIS_CORE_M=y
# CONFIG_LIBMETAL is n

[2020-11-30 17:48] pabigot commented on #30304
Based on the config UART is disabled.  It sounds like you're measuring the power consumption of the entire board, which would include any circuitry on the E73 module plus whatever it's connected to (BME680, LEDs, any other current drains).  I don't have any other advice.

[2020-11-30 17:55] de-nordic commented on #29963
Do you consider to make common the FLASH_* definitions so that the macros that are enabling "image" access don't get redefined all over the code?

[2020-11-30 18:54] emillindq commented on #29915
@Nukersson It doesn't boot with said settings when building for dumb_http_server (`west build -b stm32h747i_disco_m7 zephyr/samples/net/sockets/dumb_http_server`); nothing comes in the terminal. If `west debug` then `Error: timed out while waiting for target halted`. However interestingly enough the hello_world sample works.

I am on `cf017378fecb799efcb88`

[2020-11-30 19:35] nashif commented on #30322
@ioannisg  FYI

[2020-11-30 20:06] Nukersson commented on #29915
@emillindq Thank you very much. In my case it worked. Maybe there is something else for h747.

[2020-11-30 20:31] cwshu commented on #30074
Hi @remy-luisant,
If spinlock isn't hold, thread_cpu should be clear to 0 and z_spin_lock_valid() is passed.
Otherwise, if spinlock is hold, thread_cpu is non-zero (because of containing memory address of thread)
and z_spin_lock_valid() will check CPU ID to know if same CPU acquire same lock twice. (recursive spinlock)

Thus, I think thread_cpu of k_spinlock should be initialized to zero.
After ch

[2020-11-30 20:39] stefbo opened #30338 "BT Mesh LPN max. poll timeout calculated incorrectly"
**Describe the bug**
Bluetooth Mesh LPN poll frequency solely determined by poll timeout starting value `CONFIG_BT_MESH_LPN_INIT_POLL_TIMEOUT`. Seems to be a regression from https://github.com/zephyrproject-rtos/zephyr/commit/3b4d58aa4bb05a7b30bb720132bbfa35ea90be7d. The macro `POLL_TIMEOUT_MAX` should use `CONFIG_BT_MESH_LPN_POLL_TIMEOUT` instead of `CONFIG_BT_MESH_LPN_INIT_POLL_TIMEOUT`. The des

[2020-11-30 20:40] tcpipchip commented on #30304
@pabigot

The e73 is not connected to nothing now! And i am getting 100uA! Just running BLE Advertising...

The only very strange stuff was that i had to disable the DC-DC to make the e73 runs my app. Is that a problem ?

I am using a CR coin battery connected to e73 vcc

No problem to me send for now my project for you see inconsistences!

https://github.com/tcpipchip/bmezephyrforced

[2020-11-30 20:53] remy-luisant commented on #30074
@cwshu
As a counter-argument to locks requiring initialization, I would wish to point out all of the other instances in the kernel where the lock is not initialized, most notably in tests/kernel/spinlock/src/main.c:

[code]
Requiring initialization seems not to be the common practice of spinlock usage in Zephyr, unless there are many, many, many more bugs around.

Furthermore, and I might be wrong

[2020-11-30 21:23] remy-luisant commented on #30074
Actually, a minor correction here, the validation code DOES check for the case of 0, so I am indeed happily wrong about that part. My apologies.

The comment about the common usage being on uninitialized locks stands.

[2020-11-30 21:36] jenmwms commented on #30275
Was this observed using sanitycheck only? I do not observe #1 `kernel.common.kernel.common.tls`, can try the others. The test is successful on Up2 using `west build -p -b up_squared zephyr/tests/kernel/common/ -DCONFIG_THREAD_LOCAL_STORAGE=y`.

[2020-11-30 21:49] jenmwms commented on #29737
This is still an issue asof `c08ef38`. Though similar symptom, seems different approach needed than #30275. `test_power_state_trans` frozen/still running after 9 minutes (stopwatch).

[2020-11-30 21:51] #30224 closed

[2020-11-30 22:13] bdkrae commented on #30204
Since I'm working on Mac the Zephyr-SDK is not available. I installed GNU 9.2.1 which is nearly the one that Zephyr-SDK uses. Despite some warnings the build succeeds.

So I suggest to focus on the blinky sample to solve this issue. When I look at @ufechner7´s  build output for this  I'm confused about three things:

- Why there are 127 build steps? As seen above I only have 126.
- Why there are w

[2020-11-30 23:06] d3zd3z commented on #29963
I think it makes sense to have much of the definition here in a single place, probably making sense to have it in the mcuboot repo. It mostly makes sense to build this dfu/boot/mcuboot module when mcuboot itself is also being included, so it shouldn't be an issue of the module being present.

[2020-11-30 23:31] ufechner7 commented on #30204
If I add CONFIG_DATA_OCRAM=y to file teensy40_defconfig I get the following error message:

[code]
Perhaps you are using a different branch of zephyr than I do?

ufechner@builder:~/zephyrproject/zephyr$ git status
On branch master
Your branch is up to date with 'origin/master'.

[2020-12-01 00:04] coderkalyan commented on #30298
This worked for me, thank you very much @pabigot

[2020-12-01 00:04] #30298 closed

[2020-12-01 00:14] ufechner7 commented on #30204
Finally it works. I had to switch to the stable branch of zephyr:

cd zephyrproject/zephyr/
git checkout v2.4-branch

[code]
:)

[2020-12-01 00:24] ufechner7 commented on #30204
But the next step doesn't work yet:
[code]

[2020-12-01 01:08] #21216 closed

[2020-12-01 01:13] jenmwms commented on #30306
I cannot replicate this 'fail and timeout'. The test suite PASSes for me on up2 at that revision `6aa16e0`. (I do not have a flash script, so I used USB boot media method with grub and zephyr.strip.)
[issue_30306_up2_tests_kernel_mem_protect_userspace.txt](https://github.com/zephyrproject-rtos/zephyr/files/5619633/issue_30306_up2_tests_kernel_mem_protect_userspace.txt)

[2020-12-01 01:42] jenmwms commented on #30307
I cannot replicate this 'fail with timeout'. The test suite PASSes for me on up2 at that revision 6aa16e0. (I do not have a flash script, so I used USB boot media method with grub and zephyr.strip.)
[6aa16e0_up2_tests_kernel_device.txt](https://github.com/zephyrproject-rtos/zephyr/files/5619759/6aa16e0_up2_tests_kernel_device.txt)

[2020-12-01 02:21] tcpipchip commented on #30304
Please
Send me a low energy example that really compiles! Thank you!

[2020-12-01 04:24] nehalrohit commented on #30316
Hi @nandojve
**with --pad option (used to upload image using west flash) This can be BIN or HEX
imgtool.py sign --key <dir>/root-rsa-2048.pem --header-size 0x200 --align 8 --version 1.0.0 --slot-size 0x67000 --pad build/zephyr/zephyr.hex build/zephyr/zephyr-1.0.0.hex**

 with only --pad does not work for me. it gives me an error.
![ota1](https://user-images.githubusercontent.com/50902801/100695416

[2020-12-01 05:04] cwshu commented on #30074
@remy-luisant
Global/static spinlock is put into bss and is cleared to 0 without initializer, most of spinlock cases including your example are like that.
But it looks like that there may be some bugs of uninitialized local spinlock in the codebase.
tests/kernel/spinlock/src/main.c has one:

[code]

Also, I find #20993 has same problem and @andyross comments that 'Spinlocks are valid when zero-ini

[2020-12-01 05:44] nehalrohit commented on #30316
Hi @nandojve
I am doing a successful image upload but it takes too much time to update the new image about 20min.

![img_20201201](https://user-images.githubusercontent.com/50902801/100699487-1e994d00-33c1-11eb-8cd4-8e0db4bebeb5.png)

but after reboot, the new image not update.
![img_20201201](https://user-images.githubusercontent.com/50902801/100700280-15a97b00-33c3-11eb-966a-7942c20a2cb4.png)

[2020-12-01 05:51] remy-luisant commented on #30074
@cwshu
Yup, gotcha. It appears the policy is indeed to initialize locks. I missed out on the initialization aspect of the `static` keyword. Thank you very much for clarifying the matter.

I do personally have a problem with that implicit way of initializing variables through the use of `static`, but I can see it would work. My issue is that the examples in tests look very similar to a stack alloca

[2020-12-01 06:47] reloZid commented on #29915
@Nukersson We are currently evaluating various TCP/IP solutions and I just noticed it because others like the example from ST which uses FreeRTOS+LwIP go for the approach with SRAM3 and the MPU. At least this worked for me.

On Zephyr I tried moving the descriptors/buffers to SRAM3 by using a custom linker script and a custom sections file as done in the code relocation sample (but not relocating

[2020-12-01 06:52] Nukersson commented on #29915
@reloZid Thank you for your question. I can move the whole code to SRAM2/3 or none. Therefore I've opened question #30303, to see if somebody have proper way for code/data reallocation 8n Zephyr.

[2020-12-01 08:02] caco3 commented on #30074
While playing around I now get crashes immediately after startup:
[code]
As mentioned in the first post, I have external interrupts configured. They continue to fire even when the MCU restarts. If I interpret the assertion above correctly, Zephyr tries to configure a thread while it is in an ISR. I now disabled all my thread creations but it still happens. I guess Zephyr itself has some own (hidde

[2020-12-01 08:11] lukasbrchl opened #30344 "Bluetooth: host: Add support for multiple advertising sets for legacy advertising"
Hello,

In April this year, support for multiple advertising sets for Bluetooth 5 AE was added (#24491). However, there is no info on planned support for multiple advertising sets for legacy advertising (Bluetooth 4). Is this somewhere in the Zephyr roadmap? I was unable to find any issue or comments on this feature.

Thanks.

[2020-12-01 08:35] remy-luisant commented on #30074
@caco3 Do you have OpenOCD running? It has a pretty great way of showing you all threads that Zephyr has. At a minimum, there is the idle thread. The logger and the shell also have their own threads.

I would also suggest first initializing the spinlocks that are failing, since that is the very first error that you encounter. Once you start getting errors the system might have already gotten damag

[2020-12-01 08:55] remy-luisant commented on #29162
@sdalu I'm trying to narrow this down now that the spinlock issue is resolved for me. This is a pretty slippery one, however. I am trying to look for common things while I ponder a more useful approach. I have a suspicion about the uart_poll functions. What is your UART driver? Can you tell me what code does the LR register point to when you have a backtrace? (You can use addr2line, the list file

[2020-12-01 09:47] evgeniy-paltsev opened #30348 "XIP can't be enabled with ARC MWDT toolchain"
**Describe the bug**
If CONFIG_XIP is enabled we use `ALIGN_WITH_INPUT` option in linker script. However `ALIGN_WITH_INPUT`  isn't supported by ARC MWDT toolchain so we get error on linkage.

**To Reproduce**
Steps to reproduce the behavior:

Enable XIP for nsim_hs:
[code]

Build with ARC MWDT toolchain:

[code]

**Expected behavior**
No build issues.

**Logs and console output**
[code]

**Environ

[2020-12-01 09:47] mejtejt opened #30349 "Memory protection unit fault when running socket CAN program"
**Describe the bug**
When running socket CAN code for my board, I get MPU FAULT. It did not happen a month ago, when I last modified by code. Since then, I only updated (by executing git pull) Zephyr directory.  I initialize a single thread from this function:

[code]

The problem seems to occur only when `SubscribeToMessage` function is called, since when this function is not there, no MPU FAULT

[2020-12-01 09:54] jukkar commented on #30349
Is the fault address `0x4f464e48` a valid one, at a quick glance it does not look like a valid address?
If it is not a valid address, then there is probably a stack problem somewhere.

[2020-12-01 09:55] nordic-krch commented on #30304
I think that you need to disable uart in device tree, too. Add overlay like this:
[code]

[2020-12-01 11:23] mejtejt commented on #30349
I understand there is a stack problem, but I do not understand how I can fix it. I added a few more logs, where it can be seen that read_thread is the one experiencing problems. Also, now it returns BUS FAULT, instead of MPU FAULT.

[code]

Furthermore, now PC is at another location. This is different from the last time, and it seems to me since stack overflow happens, everything messes up.

Read

[2020-12-01 12:21] nandojve commented on #30316
Hi @nehalrohit ,

Let's try figure out!

1) why you are using `root-ec-256.pem` instead `root-rsa-2048.pem`?
Remember, you must use same key that MCUboot have been built. The default is `root-rsa-2048.pem`. Otherwise, the image will not be validated.

2) The MCUboot that you are using have only 1 slot. You need enable dual slot because you must have a second place to download the wholly image on t

[2020-12-01 13:02] nordic-krch opened #30353 "RFC: Logging subsystem overhaul"
## Introduction

Logging subsystem has been in zephyr for more than 2 years. During that time there were feature requests which could not be fulfilled with current design. As number of those requests has grown I've started to look into overhaul of logger internals. Overhaul does not plan to change logger application API but it will change backend API. Currently logger has following limitations:
-

[2020-12-01 13:04] jukkar commented on #30349
And you tried to increase this size?

You can see all the stack sizes like this
[code]

[2020-12-01 13:08] lmajewski opened #30354 "Regression with 'local-mac-address' enet DTS property parsing (on i.MX K6x)"
**Describe the bug**
After the change SHA1:  3498d43784146ce5ffa17b2458eae  the `local-mac-address` property is
no longer parsed correctly when it is defined in `&enet`DTS node on k6x SoCs.

I've tested it on K6xF - ip_k66f and frdm_k64f

As a workaround - I can set the MAC address for eth interfaces in the user program with using
`net_if_set_link_addr()` function.

**To Reproduce**
Board: frdm_k6

[2020-12-01 13:08] mejtejt commented on #30349
Some more info. I will refer to the log shown below:

[code]

I have two parts of a system, for the sake of discussion, two CAN nodes. Timeout is written when those two nodes are disconnected from each other. As soon as I connect them, there is a MPU FAULT. This has to be some low level memory corruption or kernel issue. Hopefully, this can be resolved at some point.

[2020-12-01 13:10] mejtejt commented on #30349
Yes, to 2048, 4096 and 8192. I did not cause any change.

[2020-12-01 13:32] maksimmasalski commented on #30275
Was observed using sanitycheck only.
I can prove that with the west it works correctly, probably that is a sanitycheck bug.

[2020-12-01 14:35] rtzu6 opened #30355 "Multiple vlan interfaces on same interface not working"
**Describe the bug**
This issue was already hinted at in issue #26235, but the author was asked to create a separate issue. I could not find such a followup issue, if I missed it please link it here and close this one.

I want to run two vlan interfaces on the same ethernet interface in addition to the normal interface (board: nucleo f767zi). To achieve this, I extended the vlan sample with an add

[2020-12-01 14:46] #30232 closed

[2020-12-01 15:03] bdkrae commented on #30204
To flash I currently use [teensy_loader_cli](https://github.com/PaulStoffregen/teensy_loader_cli) tool. You can find your hex-file there: ```.../build/zephyr/zehyr.hex``` if the build succeeded.

[2020-12-01 15:08] UberDoefus opened #30356 "DAC header file not included in stm32 soc.h"
**Describe the bug**
When building for board 'nucleo_h743zi' and with enabled DAC in the prj.conf:

CONFIG_DAC=y
CONFIG_DAC_STM32=y

the compiler fails to build 'zephyrproject/zephyr/drivers/dac/dac_stm32.c' due to missing defines and functions.
The reason for this failure is the missing header file inclusion in the zephyrproject/zephyr/soc/arm/st_stm32/stm32h7/soc.h

#ifdef CONFIG_DAC_STM32
#incl

[2020-12-01 15:19] ioannisg commented on #30322
Will take a look, sure

[2020-12-01 15:21] jukkar commented on #30349
@mejtejt do you have an application that you could share to replicate the issue?

You said your setup used to work earlier. Are you able to bisect the issue?

cc: @alexanderwachter

[2020-12-01 15:38] pabigot opened #30360 "reproducible qemu_x86_64 SMP failures"
#29618 has a new kernel work queue API that works very nicely, but intermittently fails its tests with SMP enabled.  To narrow down the problem https://github.com/pabigot/zephyr/commits/nordic/20201201a has a replacement `hello_world` sample that simulates the basic functionality: work items are placed on a queue which is monitored by a thread that removes the items, does something with them, and

[2020-12-01 15:45] pabigot commented on #30360
https://github.com/pabigot/zephyr/commits/pr/29668 is on the rebased #29668 and adds a commit that changes the `volatile int` used to communicate work state to an `atomic_t`.  This has no visible effect on the failures.  (A hypothesis was that the atomic instructions do not work correctly between processors in `qemu_x86_64`, regardless of GCC's sequential consistency promise.  That has not been ru

[2020-12-01 16:02] pabigot commented on #30304
I wouldn't expect devicetree to have any effect since the uploaded config shows all UART drivers are disabled.

@tcpipchip Please test energy use with the [Nordic system-off demo](https://docs.zephyrproject.org/latest/samples/boards/nrf/system_off/README.html).  You should be able to measure multiple power levels, including one where everything associated with the MCU is disabled except the abilit

[2020-12-01 16:09] UberDoefus opened #30362 "adc_read_async callback parameters are dereferenced pointers, making use of CONTAINER_OF impossible"
**Describe the bug**
When the adc_read_async method is called (zephyr/include/drivers/adc.h) with a sequence pointer placed on the heap, and sequence.options pointer placed on the heap, the same pointers are not returned in the options.callback function pointer.
Instead, in zephyr/drivers/adc/adc_context.h, the given pointers are dereferenced in the method 'adc_context_start_read'.

Essentially, t

[2020-12-01 16:10] UberDoefus commented on #30362
Commit hash: 1ea7bf0db026617a52ea7cf5c037c8c932584cb1

[2020-12-01 16:17] #29964 closed

[2020-12-01 16:20] ufechner7 commented on #30204
I can confirm that the following steps work for me:
1. check out and compile teensy_loader_cli from https://github.com/PaulStoffregen/teensy_loader_cli
2. create a symbolic link to teensy_loader_cli in /usr/local/bin
3. install 49-teensy.rules in /etc/udev/rules.d (download them from http://www.pjrc.com/teensy/49-teensy.rules )
4. press button on the teensy
5. execute
    cd ~/zephyrproject/zephyr

[2020-12-01 16:20] #29869 closed

[2020-12-01 16:24] nashif commented on #30193
based on the comment above, this should not be run on reel_board. Also not sure how this is related to memory protection. It is just a stack overflow.

[2020-12-01 16:24] #30193 closed

[2020-12-01 16:26] jukkar opened #30364 "TCP2 does not implement queing for incoming packets"
**Is your enhancement proposal related to a problem? Please describe.**
We do not queue incoming TCP segments. This means that if one TCP segment is lost, all the segments received after that are discarded until the peer re-transmits the missing data. In practice this means that currently all the TCP segements must be received in order.

**Describe the solution you'd like**
We should be able to qu

[2020-12-01 16:26] #30135 closed

[2020-12-01 16:29] erwango commented on #30356
@UberDoefus can you run `west update` ?

[2020-12-01 16:32] jukkar opened #30365 "TCP2 does not implement Nagle algorithm"
**Is your enhancement proposal related to a problem? Please describe.**
Currently TCP Nagle algorithm is not implemented when sending data. https://en.wikipedia.org/wiki/Nagle%27s_algorithm

Implementing Nagle would improve network utilization as it collects smaller TCP segments into larger ones and then send one larger segment instead of multiple smaller ones.

[2020-12-01 16:36] jukkar opened #30366 "TCP2 does not implement delayed ACKs"
**Is your enhancement proposal related to a problem? Please describe.**
We do not implement delayed ACK mechanishm. https://en.wikipedia.org/wiki/TCP_delayed_acknowledgment

Implementing delayed ACKs would improve network utilization as we would be able to send fewer ACK packets to peer by collecting more data before sending a single ACK instead of multiple ACKs.

[2020-12-01 16:40] jukkar opened #30367 "TCP2 does not send our MSS to peer"
**Is your enhancement proposal related to a problem? Please describe.**
We do not send our MSS (maximum segment size) to peer. https://en.wikipedia.org/wiki/Maximum_segment_size

The default value 536 is used if not set. Usually we could advertise larger value in order to send data is bigger chunks.

[2020-12-01 16:59] jukkar commented on #30355
I just tested this and it definitely works for me (with echo-server sample app). I tested it like this:

Terminal 1 (net-tools):
[code]

Terminal 2 (zephyr):
[code]

Then in net-shell in terminal 2:
[code]
So there is 3 interfaces, the master one is the first 1, the other two are the VLAN interfaces.

In Linux side, I am seeing also three interfaces:
[code]

I can then use echo-client in net-tools

[2020-12-01 17:06] jukkar commented on #30355
Can you elaborate more detail what you are doing so I can try to replicate the issue?

[2020-12-01 17:32] carlescufi commented on #18970
@andyross and @andrewboie could you please review the contents of [this table](https://github.com/zephyrproject-rtos/zephyr/issues/18970#issuecomment-651445304)? The terminology is further explained here:
https://docs.zephyrproject.org/latest/reference/terminology.html

[2020-12-01 17:52] andyross commented on #30360
Are you sure this isn't just a race in the test?  I see two threads modifying the same flags bitfield using standard C syntax without locking.  Those operations aren't atomic.  Can you repeat using either a spinlock around the bit operations or the atomic bit operations API and still see the problem?

[2020-12-01 17:54] pabigot commented on #30360
A version with atomics is at https://github.com/pabigot/zephyr/commits/pr/29668 and has no affect.  In any case, any race condition doesn't explain why the application aborts.

[2020-12-01 18:04] pabigot commented on #30360
FYI: This appears to be a qemu issue: when the pr/29668 version is run on up-squared it works just fine.

[2020-12-01 18:30] nashif commented on #3719
this is already implemented and possible.

[2020-12-01 18:30] #3719 closed

[2020-12-01 18:37] nashif commented on #3102
not going to happen

[2020-12-01 18:37] #3102 closed

[2020-12-01 18:37] nashif commented on #22185
Already in the tree.

[2020-12-01 18:37] #22185 closed

[2020-12-01 19:00] UberDoefus commented on #30356
@erwango Just did a git fetch && git pull. I get a lot of changes, compiler error changed to

[code]

[2020-12-01 19:05] Nukersson commented on #30325
Dear @nicovince Thank you for your bug report. The CivetWeb sample were fitted by me to gave smallest footprint, to run on possible wide range of MCU's.

Generally, you can try to change following values of your `prj.conf` to reach needed memory footprint and performance:

CONFIG_NET_TX_STACK_SIZE=2048
CONFIG_NET_RX_STACK_SIZE=2048
CONFIG_ISR_STACK_SIZE=2048
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_IDLE

[2020-12-01 19:08] UberDoefus commented on #30356
Ok, never mind. Mistake by me. Indeed solved after commit 1ea7bf0

[2020-12-01 19:08] #30356 closed

[2020-12-01 19:14] andrewboie commented on #30305
Is this a recent regression or has this been broken for some time? On the off chance you have had time to bisect is there an offending commit?

[2020-12-01 19:21] mbolivar-nordic commented on #30372
Hi, this is already supported. Please see https://docs.zephyrproject.org/latest/guides/west/build-flash-debug.html.

[2020-12-01 19:21] #30372 closed

[2020-12-01 19:23] mbolivar-nordic commented on #30373
Hi, this isn't really a west question, but zephyr repository structure organization. I believe the reasons why the current modules are organize they way they are is documented here:

https://docs.zephyrproject.org/latest/guides/modules.html

Out of tree boards, etc. are already quite well supported. See the various `_ROOT` variables like `BOARD_ROOT`, `DTS_ROOT`, etc.

[2020-12-01 19:23] #30373 closed

[2020-12-01 20:16] carlocaione commented on #2647
I was looking into this since I'm implementing cache operations for AArch64 but I was wondering what's the correct approach for the current two users of the APIs already in place (x86 and ARC) if I decide to add the remaining bits. Should I add some weak functions for the missing parts?

[2020-12-01 20:28] alexanderwachter commented on #30349
@mejtejt can you check the fault address with addr2line?
Is the thread running in user mode?

[2020-12-01 20:34] carlocaione commented on #22411
This is outdated. Closing for now.

[2020-12-01 20:34] #22411 closed

[2020-12-01 20:36] #24652 closed

[2020-12-01 20:36] #26949 closed

[2020-12-01 20:36] #27583 closed

[2020-12-01 20:36] #30099 closed

[2020-12-01 21:03] tcpipchip commented on #30304
Hi team

Thanks for all support that i got here!

you are the best

Well, something is Wrong on E73 that i dont know!  DCC,DCC1, DC-DC

i aborted

I will use the SDK 16 (NORDIC) on a CHINESE beacon that i got!

Thanks again!

I lost 80 hrs without success!

[2020-12-01 21:10] mfinmuch opened #30375 "How nrf52840 implements spis event handler"
Recently I am trying to use nrf52840 to implement SPI slave on zephyr
But I have a problem
In Nordic's SPIS example, it will go to `spis_event_handler` when an interrupt occurs
In `spis_event_handler`, judge whether the transmission has been completed, as follow
`if (event.evt_type == NRF_DRV_SPIS_XFER_DONE)`
I want to implement this interrupt function on zephyr
But at present zephyr SPIS I have n

[2020-12-01 22:45] ufechner7 commented on #30204
Next steps:
1. bisect the Zephyr master branch to find out which commit broke teensy support
2. I created my own fork of the zephyr clone of Bernard and will start to commit improvements there
    see: https://github.com/ufechner7/zephyr/tree/teensy4-branch/boards/arm/teensy4

Does this make sense?

[2020-12-01 22:57] #30211 closed

[2020-12-01 23:11] jfischer-no commented on #29960
I reopen this bug report.
The initial description is correct. Checkpatch in CI does not work properly and does not report style issues. I could reproduce it reviewing https://github.com/zephyrproject-rtos/zephyr/pull/30299. PR checked out, `git diff HEAD~1 | checkpatch.pl --mailback --no-tree -` just as `checkpatch.pl -g HEAD` or `checkpatch.pl -g 1cb4ac697d8fe4160f42e82a202f5cbd5b1d01f7` report s

[2020-12-01 23:19] nashif commented on #29960
because those are warnings and not errors, checkpatch never caused CI to fail on warnings.

[2020-12-01 23:19] nashif commented on #29960
for reference, this is what I get with the PR above:

[code]

[2020-12-01 23:21] ceolin commented on #29319
Hi @chen-png, have running this test (rev 04a421d1b86fd81356f0d2fe59bdd9924cc6b0fe) multiple times and didn't get this problem. I'll close it, but feel free to re-open in case you can reproduce it.

[2020-12-01 23:21] #29319 closed

[2020-12-01 23:26] jfischer-no commented on #29960
@nashif But in the past CI published a report about it even if it was a warning. Can we treat this warnings as errors, or at least report them?

[2020-12-01 23:36] nashif commented on #29960
IMO reporting and not enforcing is confusing. I am all for enforcing warnings and probably disabling some non-applicable warnings completely so we can have crystal clear CI results. Just reporting warnings is going to yield inconsistent results and response because they are not being enforced.

To get there, the biggest issue is going to be the line length issue we see above, we might need to cons

[2020-12-01 23:42] jenmwms commented on #30275
@maksimmasalski  we need to do further root-cause analysis to resolve this issue. Although we can achieve deterministic, reproduceable, correctly passing results using west/flash and sanitycheck by adding workaround of a longer timeout in the tests - it is not advised. We need to find out why the delay is now needed instead of default. It is not a sanitycheck issue. Please see discussion in https:

[2020-12-02 00:02] jenmwms commented on #30305
This is similar symptom as https://github.com/zephyrproject-rtos/zephyr/issues/30275. The workaround is not scalable https://github.com/zephyrproject-rtos/zephyr/pull/30374. This will pass if sanitycheck is informed to wait 120 seconds for the test to complete (TBD if its related to setup/flash/boot time).

[2020-12-02 00:59] nashif commented on #18970
@pabigot  was reading through all of this and was wondering why we use "sleep" (https://docs.zephyrproject.org/latest/reference/terminology.html#sleep). Sleeping is not a documented thread state. Is this the same `_THREAD_PENDING` where a thread is waiting on an object?

[2020-12-02 01:06] #28155 closed

[2020-12-02 03:43] #29953 closed

[2020-12-02 04:29] s-kelvin commented on #30192
The testcase worked well on zephyr version v2.3.0. The failure might be because of the code change in versions.
`
*** Booting Zephyr OS build zephyr-v2.3.0-1348-g32d6aa724f5c  ***
Running test suite test_power_mgmt
===================================================================
START - test_pm_dummyinit
I: PM dummy single-thread test started for one cycle
I: About to enter light sleep
PM >
I:

[2020-12-02 05:32] hardik-proxy opened #30378 "Bluetooth: controller: tx buffer overflow error"
**Describe the bug**
I have multiple central devices connecting to a single peripheral asynchronously. The central device writes to one characteristic (around 40 bytes) and reads from another characteristic (around 170 bytes). After few hours of run, the peripheral device runs into the error. The error occurs when the central device tries to read the characteristic.

[code]

**To Reproduce**
I've

[2020-12-02 05:42] cvinayak commented on #30378
@hardik-proxy Please attached the diff file as to the changes you have done with reference to the printing

[2020-12-02 05:51] hardik-proxy commented on #30378
Here it is:

[git_diff.txt](https://github.com/zephyrproject-rtos/zephyr/files/5627234/git_diff.txt)

[2020-12-02 06:09] nehalrohit commented on #30316
hello @nandojve
**sign without --pad/--pad-header options (now must select the bin file)
imgtool.py sign --key <dir>/root-rsa-2048.pem --header-size 0x200 --align 8 --version 2.0.0 --slot-size 0x67000 build/zephyr/zephyr.bin build/zephyr/zephyr-2.0.0.bin**

when I create a sign image for ota it gives error.
**Error: Header padding was not requested and image does not start with zeros**

[2020-12-02 06:13] cvinayak commented on #30378
From the `arr_acp` values, the value 0 returned by `mem_free_count_get` should cause the `ll_tx_mem_acquire` to return NULL, and subsequently lead to `bt_ctlr_hci: Tx Buffer Overflow`, correct me that is the case?
Why do I see another `0` in `arr_acp` in your logging, if there was already a tx buffer overflow?
Also, `CONFIG_BT_CTLR_TX_BUFFERS=6` hence your `arr_acp` should show numbers from 6 to 1

[2020-12-02 06:35] hardik-proxy commented on #30378
during testing, what I've observed is,
--> tx buffer overflow occurred
--> again buffer were available (not able to understand why it is the case)
--> again application worked as expected
--> again tx buffer overflow occurred
--> the cycle continues few times and then system hangs. Soft reset is the only option to get out of it.

secondly, I even tried to set CONFIG_BT_CTLR_TX_BUFFERS=12 and the r

[2020-12-02 07:24] maksimmasalski commented on #30192
Yes, it might be a code change. You have to find the latest stable zephyr commit which worked well, and then investigate what code changes where did right after that causing an error.

[2020-12-02 08:00] andrewboie commented on #18970
AFAIK yes

[2020-12-02 08:46] maksimmasalski commented on #30275
Hello, today I observed freeze during 3min35sec in
[code]

Your patch won't work for that case.

[2020-12-02 08:52] martin-aberg opened #30380 "Improve the use of CONFIG_KERNEL_COHERENCE"
**Describe the bug**
It seems there is a typo in the kernel where `KERNEL_COHERENCE` is used instead of `CONFIG_KERNEL_COHERENCE`.

**To Reproduce**
Search for " KERNEL_COHERENCE". Note the leading space character.
[code]

**Expected behavior**
[code]

**Impact**
The conditionally compiled code (asserts) is never activated by the Kconfig option.

**Environment (please complete the following inform

[2020-12-02 08:58] #30322 closed

[2020-12-02 10:36] Tehieh opened #30384 "Scheduler doesn't activate sleeping threads on native_posix"
**Describe the bug**
I have the following code built to run as a native_posix application:
[code]
The code stops on the ``` k_msleep(10); ``` and has the following output:
[code]
**Expected behavior**
The code reaches the line to  ```std::cout << "Exiting." << std::endl;```

**Environment (please complete the following information):**
 - OS: Linux, application running inside a docker container

[2020-12-02 10:50] #26275 closed

[2020-12-02 10:58] de-nordic opened #30386 "Building confirmed images does not work"
**Describe the bug**
According to the documentation to following Kconfig options:
https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_MCUBOOT_SIGNATURE_KEY_FILE.html#cmdoption-arg-CONFIG_MCUBOOT_SIGNATURE_KEY_FILE
https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_MCUBOOT_GENERATE_CONFIRMED_IMAGE.html?highlight=config_mcuboot#cmdoption-arg-CONFIG_MCUBOOT_GENERATE_CONFIRMED_I

[2020-12-02 11:04] azeemshatp commented on #30148
Dear @ABOSTM
Did you get a chance to look at the issue that I mentioned in the PR already?.
A write to the offset 0x5F800 from Bank 2 fails every second time giving me the below log:

*** Booting Zephyr OS build zephyr-v2.4.0  ***
Found flash controller FLASH_CTRL.
Flash I/O commands can be run.
Flash offset: 5F800
Reading from flash ..
00 01 02 03 04 05 06 07 08 09 0a 0b 0c 0d 0e 0f 10 11 12 13 1

[2020-12-02 11:10] utzig commented on #30386
The `--confirm` flag exists since the alphas of 1.6.0, which happened in April. Any reasonable recent version should work, so `pip install --upgrade imgtool` might be needed.

[2020-12-02 11:24] rlubos commented on #30173
@retfie The fix is on its way (https://github.com/zephyrproject-rtos/zephyr/pull/30387) thanks to @czeslawmakarski.

[2020-12-02 11:31] de-nordic commented on #30386
My bad. That was the case.

[2020-12-02 11:32] #30386 closed

[2020-12-02 12:33] pabigot commented on #18970
The terminology was introduced in #21678 based on analysis in #20969.  The term "sleep" ultimately came from [here](https://github.com/zephyrproject-rtos/zephyr/issues/21341#issuecomment-565156122).

To precisely describe what "put the caller to sleep" means to a user it [became](https://github.com/zephyrproject-rtos/zephyr/pull/20959#issuecomment-565206691) "a voluntary transition to a non-runnin

[2020-12-02 12:45] pabigot commented on #18970
Shorter: "sleeps" was intended to also describe a function that invokes `k_thread_suspend(_current);` which would instead be `_THREAD_SUSPENDED`.

[2020-12-02 13:30] jakub-uC opened #30391 "Unit Testing in Zephyr"
## Introduction

While testing the modules written for Zephyr, I noticed that there is no environment to create Unit Tests. Currently, it is not possible to test a module isolated from others. This problem affects both Zephyr developers and those who develop applications based on it.

### Problem description

The "z_test" does not allow to create of module tests in isolation from included modules.

[2020-12-02 13:57] nashif commented on #30275
@dcpleung  FYI

[2020-12-02 14:10] carlescufi commented on #30391
@PerMac and @nashif  is this something you want to discuss in the context of the testing working group, or should we leave Unit Testing out of that?

[2020-12-02 14:34] galak opened #30393 "kernel.threads.tls.userspace fails with SDK 0.12.0-beta on ARM Cortex-M"
tests/kernel/threads/tls/kernel.threads.tls.userspace fails to run on qemu for mps2_an521 & mps2_an385.

`./scripts/sanitycheck -p mps2_an521 -p mps2_an385 -s tests/kernel/threads/tls/kernel.threads.tls.userspace`

Get the following log:

[code]

[2020-12-02 14:35] galak commented on #30393
@dcpleung can you please take a look at this, seeing failures when building with gcc-10.2 on ARM.

[2020-12-02 14:36] nashif commented on #30391
adding unity and cmock support would be a great addition IMO. I would like to see concrete examples of what can be tested with the combo and if we should long term move to one single framework if we can cover everything ztest does with unity/cmock.

ztest does have some mocking features, those however were not used widely. mocking in general with zephyr is going to be hard, depending on what you a

[2020-12-02 14:40] nashif opened #30394 "TLS tests failing with sanitycheck (under load)"
**Describe the bug**
Getting this everytime I run sanitycheck with default options:

[code]

**Expected behavior**
should pass

**Impact**
Something is not quite right with TLS that we should look at.

**Logs and console output**

Failing test output:
[code]
**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.12
 - Commit: Tip of master

[2020-12-02 14:41] PerMac opened #30395 "Add possibility to use alternative list of platforms default for CI runs."
**Is your enhancement proposal related to a problem? Please describe.**
This relates mostly to the usage of sanitycheck in downstream CIs.
A set of platforms to be used can be given with `-p` argument. However, using it filters out all platforms which were not given in this way. In particular, this prevents one from using "integration mode" and being able to expand the list of platforms to be test

[2020-12-02 14:48] nicovince commented on #30325
Hi @Nukersson thank for your answer.

I went up to 32768 on `CONFIG_MAIN_STACK_SIZE` without any improvements. Even when reducing `MG_BUF_LEN` to 2kB.
The only way to avoid a crash is setting `MG_BUF_LEN` to 1kB.

btw, I updated Zephyr to 302db10537468170a40c35b852b6f0e3ffecba9c (latest at time of test).

[2020-12-02 14:57] nashif commented on #30395
so if I understand this correctly, with `-p board1 -T test/test1 -G` you want to be able to also run whatever platforms listed as integration_platforms in testcase.yaml of test1 on top of board1?

When you use '-p board1 -p board2', this basically becomes you default platforms, not sure yet I understand how you want this to behave with `-G`

[2020-12-02 14:59] PerMac commented on #30391
I have no experience with Unity nor CMock at all. We can raise the topic and see if there is someone with some experience and eager to help within the testing working group.

[2020-12-02 15:14] PerMac commented on #30395
Yes. This is the effect I would like to achieve. Maybe sometimes also using "integration_platforms" to limit the scope.

But using `-p` works as a filter and blocks whatever can be found in `integration_platforms` so does not work with -G. I think allowing for an alt-default list wouldn't require breaking the main usage of `-p` (to be a filter) and will add benefits of flexibility in downstream CI

[2020-12-02 15:17] nashif commented on #30395
but this violates the contract where sanitycheck should only be building/running on platforms you specify with -p. If you only have board1, why would you want to deal with something that you do not have just because it is part of integration_platforms?

[2020-12-02 15:26] maksimmasalski opened #30397 "tests:latency_measure is not counting semaphore results on the ARM boards"
**Describe the bug**
When I run latency_measure test on the ARM boards (reel board and the Microchip board) semaphore results are empty
[code]
I tested on the x86 up_squared board, it works
[code]
on qemu it works too
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use ARM board
2. Run
`sanitycheck --device-testing --hardware-map ~/reel_board_hw_map.file -p reel_board -T tests/benchma

[2020-12-02 15:47] PerMac commented on #30395
This feature is not meant for --device-testing, maybe hence the confusion.
I came to this idea directly from the use case of non-upstream CI. We are running some non-upstream tests based on sanitycheck, developed internally. I would like to be able to mimic the functionality of the upstream CI. E.g by default, on-commit, only tests for plat_A, plat_B and plat_C will be run/build. If needed, an ext

[2020-12-02 15:59] PerMac commented on #30395
For example, I think this should help for sdk-nrf repo (https://github.com/nrfconnect/sdk-nrf), where some sanitycheck based tests are running on-commit.
Why have you thought that adding `integration_platforms` and -G option was beneficial for the upstream CI? I guess the same reasons will apply to other CIs :)

[2020-12-02 16:11] carlescufi commented on #30391
@jakub-uC side note: CMock uses Unity as a submodule, but west doesn't support submodules yet. I believe that Kamil K. from Nordic is working on adding submodule support to west to avoid the "hack" that is in the manifest in your branch now.

[2020-12-02 16:59] Nukersson commented on #30325
@nicovince Thank you. Looks like we have to do with a bug here. I need time to investigate it.

[2020-12-02 17:08] katsuster commented on #29991
I faced same problem on SiFive HiFive1 rev.b board.

No one has enough time to callback wdt_callback() because WDT_FLAG_RESET_SOC request
hardwired reset from watchdog. WDT will asserts reset signal immediately when it reached timeout.

I think this sample (and also tests/drivers/watchdog) is a little strange.
If sample want to show callback mechanism from Zephyr WDT framework,
this sample should

[2020-12-02 17:53] reloZid commented on #29915
I managed to move only the buffers to SRAM3 and configure the MPU appropriately (only for testing purposes, see [here](https://github.com/reloZid/zephyr/tree/eth_stm32_mpu) if you are interested). This indeed also fixes the problem at least for my simple test. But it was actually not moving to SRAM3 which did the trick, but to have the DMA descriptors configured as device memory by the MPU.

[2020-12-02 18:00] gmarull commented on #29915
@reloZid changes look good, probably would need to use DT for the RAM parameters (addr/size). Would you mind opening a PR to discuss these changes?

[2020-12-02 18:46] mfinmuch commented on #29223
@joerchan
I have seen other people implement one central to mutiple peripheral in other questions
I referred from here [https://github.com/zephyrproject-rtos/zephyr/issues/21552](url)
I use this to modify, central will go to scan peripherals, after subscribing, in the notify function will receive the data sent by the peripheral, received and immediately use `bt_gatt_write `to send back to the peri

[2020-12-02 18:47] maksimmasalski commented on #30397
@dcpleung Could you take a look?

[2020-12-02 19:00] #30304 closed

[2020-12-02 19:21] Nukersson commented on #29915
@reloZid Very good job. Can you observe no semaphore timeout with your changes?
A PR with a changes may be good here. But, even better is to have ability for MPU configurstion over DT.

@gmarull Does DT have possibility for MPU options configuration for SRAM memory regions?

[2020-12-02 19:57] jenmwms commented on #30275
Still looking at this, but found that the test suite starts experiencing delays at this commit. I used git bisect and up2 to narrow it down:
[code]

[2020-12-02 20:13] aescolar commented on #30384
@Tehieh That while loop is an infinite loop in that case. You need to be aware that in native_posix, code executes in 0 simulated time. So the code calls k_yield(), there is nothing to yield to, and continues looping, all in zero time.

You need to do something that causes it to spend time on that while loop. For example a `k_busy_wait(some_time);`

[2020-12-02 20:24] dcpleung commented on #30393
I've traced it to the calling site of `k_thread_create()` at `tests/kernel/threads/tls/src/main.c` line `102`.

Under userspace, when creating the second thread (`tls_thread[1]`), the `stack` argument to `k_thread_create()` is `0x200` and not pointing to `tls_stack[1]`. This is due to register `r1` being set to `0x200`. Here are the register values just before calling `k_thread_create()` on second

[2020-12-02 20:34] dcpleung commented on #30393
Here is the disassembly of the for loop:

[code]

`start_tls_test+94` is where it adds 512 == 0x200 to r1, where under userspace, `r1` is 0 after returning from `k_thread_create()`.

[2020-12-02 20:41] dcpleung commented on #30394
Looks like the same issue as #30393

[2020-12-02 20:45] reloZid commented on #29915
@gmarull Sure, I created #30403

@Nukersson Thanks. I can't reproduce the semaphore timeout anymore. Occasionally I get this error on startup:

[code]

This was also the case before the fix so I suspect it is related to another issue. But the ethernet runs fine afterwards.

[2020-12-02 20:45] nashif commented on #30394
lets close this one then

[2020-12-02 20:45] #30394 closed

[2020-12-02 20:48] nashif commented on #30275
this cant be it, complete unrelated.

[2020-12-02 20:49] dcpleung commented on #30393
I was able to reproduce it even with TLS enabled: `west build -d /tmp/build -p -b mps2_an385 tests/kernel/threads/tls/ -t run -- -DCONFIG_TEST_USERSPACE=y -DCONFIG_QEMU_ICOUNT=n -DCONFIG_THREAD_LOCAL_STORAGE=n`

and the following modified `main.c`:
[code]

[2020-12-02 20:54] tcpipchip commented on #30304
I back to the ZEPHYR, now with U-BLOX NINA B112.

Now is working nice :)

[2020-12-02 20:58] Nukersson commented on #29915
The error is okay for the first time. I think it is much more question to @jukkar . But we would leave it as it is for now.

Anyway - the idea with proper MPU configuration is very good.

[2020-12-02 21:33] pabigot commented on #28572
In a slack conversation I outlined what I think is a general solution, assuming the problem is that the system comes back up after a sleep where context (memory and instruction pointer) has not been lost, but the system clock has reset to zero.

That is to add API so that the `uint64_t curr_tick` in `kernel/timeout.c` that is the basis of all measures of system time can be asynchronously advanced

[2020-12-02 22:45] jenmwms commented on #30275
Thank you, Anas. I'm revisiting this. It seems inconsistent so it's harder to chase down.

[2020-12-03 01:11] jenmwms commented on #30305
Interesting this does look like another case of the test taking longer than the default timeout that sanitycheck is using. The test suite completes quickly back at https://github.com/zephyrproject-rtos/zephyr/commit/b8242bff6441cc9bb310f1a4cac196155b761655, then next commit we start seeing it take longer for `test_permission_inheritance` in https://github.com/zephyrproject-rtos/zephyr/commit/1367c

[2020-12-03 02:07] cvinayak commented on #30378
This indicates loss of tx buffer count very early in your application. Please check if your application has sufficient thread call stack allocated, use the THREAD_ANALYZER  feature to get the runtime usage details. Try to keep a free bytes margin of >128 bytes when subjected to worst case scenarios of possible nested interrupts of priority levels.

You will need to make a small reproducible sample

[2020-12-03 02:12] cvinayak commented on #29994
During my work in progress tasks, I am notice such gradual increase in reported latency by the controller. I am suspecting logging, hence, please disable logging subsystem, use a printk instead to display the ISR latencies and let us know if there is similar gradual increased latencies.

[2020-12-03 02:15] cvinayak commented on #29636
Could related to https://github.com/zephyrproject-rtos/zephyr/issues/25440

[2020-12-03 02:37] KwonTae-young commented on #29581
@vtothsvk Looking at TTN's [Frequency Plan](https://www.thethingsnetwork.org/docs/lorawan/frequency-plans.html), it does not support EU433.
![image](https://user-images.githubusercontent.com/10510127/100956416-c21e6500-355b-11eb-8bac-8c0ff62b9e83.png)

[2020-12-03 05:38] yingmingx opened #30408 "tests/kernel/sched/schedule_api is failing after 0875740 on m2gl025_miv"
When I submit a new PR about scheduler testing, CI build error. So I resubmit a PR just add some notes to reconfirm the issue.
See https://github.com/zephyrproject-rtos/zephyr/pull/30379.
Maybe there are some bug on qemu arc platform.

[2020-12-03 06:05] s-kelvin commented on #30192
The testcase passed without failures by cherry-pick the testcase on top of the commit of the release of v2.4.0 on Sep.26. Then I used bisect between the cherry-pick commit and my merged commit [#27733](https://github.com/zephyrproject-rtos/zephyr/pull/27733), which gave me this [commit](https://github.com/zephyrproject-rtos/zephyr/commit/f5a7e1a108296d00a09d5a6913f31d7c2dc96a00) as the exact one t

[2020-12-03 07:33] nehalrohit commented on #30316
Hi @nandojve
Thank you very much I did it successfully.

after adding  **sysreboot** function. I did successfully update the image.
![img_20201203(1)](https://user-images.githubusercontent.com/50902801/100977288-ca2fd200-3566-11eb-890f-8a993bb38185.png)
![img_20201203](https://user-images.githubusercontent.com/50902801/100977375-e6cc0a00-3566-11eb-9446-216286028760.png)

it takes around **23 min**

[2020-12-03 07:44] RoyAnupam commented on #29008
Hello @cvinayak ,
 Thank you very much for sharing the guide. I am currently facing some issue in getting the sniffer hardware(nRF52840 dongle) detected in the Wireshark hardware interface. I am working on the same. Hopefully will be resolved soon.

[2020-12-03 08:00] jukkar commented on #29915
The -62 error is ENETDOWN, and it is returned if the network interface is still down (from network stack point of view) when feeding a packet to net stack. So in practice the device driver is receiving packets even if upper layers think that the interface is still down. This is probably related to timings when the device starts up.

[2020-12-03 08:07] wangnuannuan commented on #27195
531fe89

[2020-12-03 08:07] #27195 closed

[2020-12-03 08:23] erwango commented on #28572
@pabigot Thanks for this analysis! Do you plan to work on such API ?

[2020-12-03 09:59] rtzu6 commented on #30355
Sorry for the late reply.

Here are my exact steps starting from a fresh zephyr setup with the echo_server example.

1. Modify the prj.conf to enable vlan. I do this by copying the config from overlay-vlan.conf to prj.conf. Nothing else in this project was touched.

This is the output of west diff for the prj.conf file:

[code]

2. Build the example (I use west).
`west build zephyr/samples/net/soc

[2020-12-03 10:24] vtothsvk commented on #29581
Tried ChirpStack as well. Still got the tx-timeout

[2020-12-03 11:00] mejtejt commented on #30349
Ok guys, I did some investigation, and I have some interesting results.

![image](https://user-images.githubusercontent.com/33463717/100995066-91d4c780-3557-11eb-9382-a18453a963b2.png)

The above image shows part of the code which is reading messages 0x600 and 0x601,  and forwards them as 0x300 and 0x301.

I have PEAK analyzer connected to the board. When I comment out the following defines in prj

[2020-12-03 11:18] koffes commented on #30353
Great! In relation to this work, I would like to highlight: #23021 #23019 and #20430

[2020-12-03 11:46] pabigot commented on #28572
Plan; no.  Desire; yes.  It's not directly relevant to the folks who fund my Zephyr work, but I might get to it anyway in hopes it'll push #28977 along in its path to merge (coming up on two months, no reviews, sigh).

Absent other prioritization it won't be until the end of the month, if then: I have to get the new work queue stuff ready and make progress on device power management.

[2020-12-03 12:33] carlescufi commented on #30240
Will you post a PR to fix the second part?

[2020-12-03 12:37] carlescufi commented on #29310
Closing because of inactivity, please reopen if this is still an issue.

[2020-12-03 12:37] #29310 closed

[2020-12-03 12:38] carlescufi commented on #29913
Closing since the question is answered.

[2020-12-03 12:38] #29913 closed

[2020-12-03 12:43] carlescufi commented on #29098
@mtpr-ot and @klauspetersen have you done any further investigation on this?

[2020-12-03 13:15] CSparn opened #30416 "No restore possible with mesh shell app from /tests using qemu_x86 on RaspberryPi3"
Hi,
I'm trying to run the mesh shell from tests on a RaspberryPi with Qemu_x86.
This is working fine as long as I'm not expecting to use store and restore of the mesh network.
After some research I released that this is not working, because qemu has no flash where it can save the data.
So I created an image with 8MB to pass it to the qemu command as pflash:

`qemu-img create -f raw flash/flash.img

[2020-12-03 13:16] carlescufi commented on #23520
According to Segger, they are working on it:
https://twitter.com/SEGGERMicro/status/1298893256323932161

[2020-12-03 13:25] noelleclement commented on #28572
Thanks for the additional comment @pabigot!
However, I'd like to point out that I believe this issue would still be relevant even if such an API would be implemented, as this issue has more to do with the SoC's clock reconfiguration required after wake up from a low-power mode. In my case the STM32L1x SoC defaults to the MSI clock source after wake up from 'stop mode', while I require the HSI, thu

[2020-12-03 13:39] pabigot commented on #28572
Yes, I agree, part of this involves being able to re-initialize a driver at a point other than system startup.  That's also desirable to completely solve #19448.

[2020-12-03 13:47] bpbradley commented on #28572
Yes that is exactly where I am stuck right now on the F4 -- I am able to enter stop mode, and wake up, but nothing further until clocks are reinitialized. I hadn't thought about those other issues you mentioned with regards to advancing the kernel clock after sleep, but that makes sense. That seems to be a more general requirement for low power mode on any device, I would think.

Either way I look

[2020-12-03 14:14] alexsven commented on #26857
I have done some testing on the headset sample with a nRF5340.

I have tested two set ups, one with stereo hp + stereo mic (vanilla sample) and another where I remove one channel from both hp and mic from the overlay file, thus creating a mono device.

The starting CPU load before any audio has been played is 10%, then I start the audio and I see that the CPU load goes up to 40% for stereo hp and

[2020-12-03 14:29] koffes opened #30418 "Logging: Using asserts with LOG in high pri ISR context blocks output"
**Describe the bug**
When using log_panic() in a high pri ISR context, this call hangs in https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/serial/uart_nrfx_uarte.c#L1131

**To Reproduce**
1. On a nRF5340:
2. flash https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/peripheral_hr to the APP core
3. In https://github.com/zephyrproject-rtos/zephyr/blob/master/sa

[2020-12-03 14:36] nandojve commented on #30316
Hi @nehalrohit ,

Below is my setup

IEEE 802.15.4:
Host: PC Linux > 4.9 + RADVD > 2.7 + ATUSB dongle or WPANUSB (can be nRF/rf2xx running Zephyr)
Remote Node:  nRF/rf2xx

OpenThread:
Host: PC Linux > 4.9 + RADVD > 2.7 + nRF52 NCP OpenThread 1.1.1, original code (not Zephyr's)
Remote Node:  nRF52

I would like know how is your setup?
How many nodes you have at same time?

Note:
#CONFIG_UPDATEHUB_C

[2020-12-03 14:54] alexsven commented on #26857
Ran one more test: Headphones only
Starting CPU load: 7%
Playing audio: 28%
Paused: 21%

[2020-12-03 15:23] nashif commented on #30408
@yingmingx Please submit bugs using the template and provide more context, pointing a PR that fails is not really needed if you can reproduce this locally and can provide the failure details directly here.

The issue:

The test tests/kernel/sched/schedule_api is failing after 0875740a3457ecfddc70c93cacd44932f64058a4 on m2gl025_miv:

[code]

[2020-12-03 16:27] nashif commented on #30397
was introduced in ```
commit 9be37553eee22bc16f8740fa2e2ad17b7bccd509 (HEAD, refs/bisect/bad)
Author: Daniel Leung <daniel.leung@intel.com>
Date:   Wed Oct 14 11:15:40 2020 -0700

    timing: do not repeatedly do init()/start()/stop()

    We should not be initializing/starting/stoping timing functions
    multiple times. So this changes how the timing functions are
    structured to allow only on

[2020-12-03 16:33] #29732 closed

[2020-12-03 16:50] #29312 closed

[2020-12-03 17:42] arludwig opened #30423 "Devicetree: Child node of node on SPI bus itself needs reg property - Bug?"
**Disclaimer**
I am not sure this is actually a bug - it might just be that I have misunderstood some details about the devicetree. But it might also be a bug.

**Describe the bug**
I am trying to split the wiring and the protocol information of an spi slave device into two nodes. This would allow me to have a physical connector, like a zif-connector, on my board, hardwired to a specific chip sele

[2020-12-03 19:12] #30328 closed

[2020-12-03 20:01] nashif opened #30426 "Enforce all checkpatch warnings and move to 100 characters per line"
## Introduction

Enforce checkpatch warnings and change line length to 100 (from 80)

### Problem description

Right now we do not enforce checkpatch warnings and do not fail CI on warnings. Some of the warnings expose various issues that are worth fixing, however, in most PRs, the majority of the warning are related to line length.

We used to just put the warnings in a comment but not enforce, t

[2020-12-03 20:11] mbolivar-nordic commented on #30426
I may be old-fashioned, but I still prefer the 80 column rule whenever practical for Python and C. More verbose languages like CMake (or Java) suffer unless you drop that requirement, but I like it for firmware.

80 characters per line allows 2 side-by-side text windows even on laptop screens, and 3 or more on larger monitors. This really helps me cross reference information in multiple files when

[2020-12-03 20:13] mbolivar-nordic commented on #30426
This also makes it a lot easier to look at a diff at the same time as a source file affected by the diff, side by side.

[2020-12-03 20:27] gmarull commented on #30426
I think sticking to 80 but allowing up to 100 is a good compromise. In some cases lines in the 80-90 range make code more readable. Somewhat related: one of the most popular Python formatters, `black`, defaults to 88 columns, see the reasons here: https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length

[2020-12-03 20:35] cfriedt commented on #30426
I'm not entirely sure how well Doxygen responds to line breaks - maybe I'm being paranoid - but if it's not well behaved, some lines in C need to be long (e.g. a URL in Doxygen comments), so failing on that warning might not be a good idea.

[2020-12-03 21:57] dcpleung commented on #30275
This seems to only happen when booting through EFI. Booting through GRUB works fine.

[2020-12-03 22:04] nashif commented on #30426
Pr #30427 implements the changes

[2020-12-04 00:18] ADEscobar opened #30429 "Thread Border Router with NRC/RCP sample and nrf52840dk not starting"
I am trying to build and run a complete Thread Border Router using the OpenThread Co-Processor Networking Sample for the nrf52840dk_nrf52840 in the latest master branch.

The sample documentation refers to the [official OpenThread docu to set-up and build the border router](https://openthread.io/guides/border-router/build#set-up-the-border-router). As far as I know, while there is [a Zephyr Projec

[2020-12-04 00:29] yingmingx commented on #30408
@nashif  Your suggestion is helpful. I'll provide more information when I report bugs later.

[2020-12-04 00:33] #30187 closed

[2020-12-04 01:19] cvinayak commented on #30344
As the PR #24491 states, the feature is fully support in Zephyr host stack. What is the issue?

[2020-12-04 01:27] cvinayak commented on #29008
@RoyAnupam check the path to python if you have multiple python versions installed. Test executing the script in the extcap folder to check if you can run the python script to enumerate the ext interfaces.

[2020-12-04 02:32] hardik-proxy commented on #30378
**As an update:**

![Screen Shot 2020-12-03 at 2 56 07 PM](https://user-images.githubusercontent.com/50844088/101113702-cc108a00-3594-11eb-971c-b1ff7debc71f.png)

the error occurs after around 4 hours of correct behaviour. curious how it runs for few hours before failing.

no issue with one/two/three peripheral and one central device
if more than three central are running simultaneously issue occu

[2020-12-04 02:55] nandojve commented on #27332
#27333 got merged.

[2020-12-04 02:55] #27332 closed

[2020-12-04 05:06] Navin-Sankar opened #30432 "No network interface was found when running socketcan sample"
**Describe the bug**
When running the socketcan sample application with spi based mcp2515 CAN shield, it report that there is no network interface to work with:

![no-network-interface](https://user-images.githubusercontent.com/28673597/101122664-028fe880-3619-11eb-9cbe-3e836225bcfc.png)

There is no network interface is created during compile time itself
[code]

**To Reproduce**
Steps to reproduc

[2020-12-04 05:49] lukasbrchl commented on #30344
Hello @cvinayak, thank you for your reply. Apologies if I didn't understand the implementation correctly. However, the https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/hci_core.c#L446 seems it is implemented as a singleton. which means I cannot have more instances of the legacy advertisements. If I try to do so, then it returns NULL. And it also seems that there is no

[2020-12-04 05:59] IHIDCHAOS opened #30433 "zephyr client automatic joiner failed on nRF52840dk"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
I want to use the auto-join feature in this [link](https://github.com/zephyrproject-rtos/zephyr/pull/13926)
I use echo_server as an example.
I added the following option to the overlay-ot.conf configuration file:
[code]
But my CLI doesn't automatically join the Thread

[2020-12-04 06:25] RoyAnupam commented on #29008
Hello @cvinayak ,
 Thanks for sharing your opinion~
 I have got nRF sniffer Hardware interface detected in Wireshark (I am using Version 3.4.0 (v3.4.0-0-g9733f173ea5e) & sniffing is also starting to work it seems.  However, Is there any recommended setting to filter traffic between only the concerned controllers? Currently, it is flooded with ADV & SCAN packets from all nearby devices.

[2020-12-04 08:01] cvinayak commented on #29008
@RoyAnupam  select in the Wireshark menus->view->Interface Toolbars-> "nRF Sniffer for Bluetooth LE"

Now you have a toolbar with "Device" as "All advertising devices", drop this down and select the advertising device you which to capture the connection for.

[2020-12-04 08:10] Cimex97 commented on #28872
Hey @erwango,
do you have some new information about this issue?
If I could help you to just ask me :).

[2020-12-04 08:28] cvinayak commented on #29994
![image](https://user-images.githubusercontent.com/6350656/101140068-b80b6d80-3612-11eb-8585-32f43c6edad6.png)

The increase in latency is in some way related to log buffer overflow? @nordic-krch  I see that log bytes is truncated, and then the next log message from controller has increased ISR latency measured. Does logging disable interrupts that log messages are truncated or rotated?

[2020-12-04 08:31] erwango commented on #28872
Hi @Cimex97, sorry finally I haven't got a chance to find a ESP32 (was a ESP8266, so no bt...). I need to order one.
So I'm actually sorry, but w/o way to reproduce for now, it will be difficult to help more, at  least for my part.

[2020-12-04 08:48] Cimex97 commented on #28872
Okay, thank you for your answer.

[2020-12-04 09:17] arludwig commented on #30423
OK, so I found that it works if I put it like this:
[code]

Just have to assign the child node a `reg` value on the `spi-target`. I set the `#address-cells` and `#size-cells` properties for convenient `reg` values (defaults are 2 and 1). (And of course I added `reg` to the `child-binding` `properties` of the binding.)

Thus it just became only a minor inconvenience, because the work-around is not

[2020-12-04 09:24] cvinayak commented on #29994
![image](https://user-images.githubusercontent.com/6350656/101145982-c2ca0080-361a-11eb-9895-2ea21269b63d.png)

Ok, without logging subsystem too, I see high latencies... will investigate further.

[2020-12-04 09:41] cvinayak commented on #29994
![image](https://user-images.githubusercontent.com/6350656/101147367-90b99e00-361c-11eb-8f84-30ba888017ec.png)

No added latency seen for > 15 mins of connection with phone as central and simultaneous advertising when using the below:
CONFIG_ZERO_LATENCY_IRQS=y
CONFIG_BT_CTLR_ADVANCED_FEATURES=y
CONFIG_BT_CTLR_ZLI=y

This rules out any controller's self implementation to be introducing latencies.

[2020-12-04 09:47] erwango commented on #28572
I've thought about this point and maybe one idea to make current topic progress might be for now to extend stm32 clock API with the missing function. Limiting the work to stm32 might allow to progress faster and it doesn't prevent to be integrated in the common API.
An example of vendor specific API extension can be found here: https://github.com/zephyrproject-rtos/zephyr/pull/29810.

[2020-12-04 10:14] koffes commented on #29994
I can confirm that I am seeing similar issues.
Random firings of `!radio_is_ready` especially in https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c#L316
This issue is most prominent if I activate CPU load reports and LOG active:
[code]
I tried with `CONFIG_ZERO_LATENCY_IRQS=y` + `CONFIG_BT_CTLR_ZLI=n` and
`CONFIG_ZERO_LATENCY_IRQS=n` +

[2020-12-04 10:18] enjiamai opened #30434 "Memory map executing test case failed when code coverage enabled in x86_64 platform"
**Describe the bug**

In the case we call k_mem_map() to mapping memory a piece of code snippet, then execute it via mapped pointer, it will access wrong Gcov stubbed variable address inside the mapped code. This is due to this code snippet was complied using %rip indirect addressing mode in qemu_x86_64. For qemu_x86, the same code snippet was complied using absolute addressing mode.

This bug was

[2020-12-04 10:41] nehalrohit commented on #30316
Hi @nandojve
I have some questions.
1.- how did you setup **RADVD** in your host Linux?
2 - total time to update the image from your openthread setup?
3 - node and Linux system are in the same network(PC Linux --> wifi --> border router ) is it possible to ping Linux system from the node.

currently for testing, my setup same as your **PC Linux -> NCP dongle(NCP OpenThread 1.1.1)  and 1 node**

I

[2020-12-04 12:05] alexsven opened #30435 "NRFX_CLOCK_EVT_HFCLKAUDIO_STARTED not handled in clock_control_nrf.c"
I discovered that NRFX_CLOCK_EVT_HFCLKAUDIO_STARTED is not handled in clock_event_handler in clock_control_nrf.c and will cause an ASSERT.

[2020-12-04 12:28] RoyAnupam commented on #29008
Hello @cvinayak ,
 Thanks, it works now~
Now,  I can see Empty PDU's being exchanged between master & slave devices in the Wireshark. I have attached it for your reference.  Please let me know if you are expecting same data from Sniffer tool capture for our current Disconnection issue?

![nRFSniffer](https://user-images.githubusercontent.com/14962578/101163807-2f182480-365a-11eb-9068-5369c54ff762.

[2020-12-04 13:36] erwango commented on #30426
I would tend to agree as well. Maybe 90 would even be sufficient for 99% of the cases.

Anyway enforcing checkpatch is desired indeed.

[2020-12-04 14:29] thomasstenersen commented on #30391
@carlescufi you don't need submodule support AFAIK, Unity is a submodule of CMock for conveniece/self-testing. I seem to recall having them cloned separately when I worked with it a while back in the nRF5 SDK for Mesh.

There we have used CMock + Unity for a while. You can take a look at https://github.com/NordicSemiconductor/nRF5-SDK-for-Mesh/blob/master/CMake/UnitTest.cmake and https://github.co

[2020-12-04 14:30] cvinayak commented on #29994
@koffes What was the result for following in your application:
CONFIG_ZERO_LATENCY_IRQS=y
CONFIG_BT_CTLR_ADVANCED_FEATURES=y
CONFIG_BT_CTLR_ZLI=y

[2020-12-04 14:35] jostn opened #30441 "hci_uart uses wrong BT_BUF_ACL_SIZE on dual chip solutions + multicore"
**Describe the bug**
hci_raw.h has a dependency on CONFIG_BT_CTLR_TX_BUFFER_SIZE

This option can not be set for dual chip solutions for multicores platorms like nrf5340pdk_nrf5340_cpuapp, leading to a max hci data payload of 69 bytes.

**To Reproduce**
Steps to reproduce the behavior:
west build -p auto -b nrf5340pdk_nrf5340_cpuapp -dapp samples/bluetooth/hci_uart
west build -p auto -b nrf5340pdk

[2020-12-04 15:02] jukkar commented on #30432
As mentioned in slack, the `mcp2515` does not call `NET_DEVICE_INIT()` macro so no network interface will be created. In practice, this also means that socketcan is currently not supported for `mcp2515`.

[2020-12-04 15:05] nordic-krch commented on #30391
See user guide for how it is done in nRF Connect SDK: https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/ug_unity_testing.html
Short summary:
Since it is hard to remove modules from zephyr build (due to cross dependencies and kconfig options) it builds full zephyr with mocked modules as well. During linking calls to mocked modules are replaced with corresponding mocks which are prefix

[2020-12-04 15:06] pabigot commented on #30426
I have no problems with changing all checkpatch diagnostics to errors, as long as it's understood that not all checkpatch diagnostics are valid or can be reasonably fixed, so we will always have to merge PRs that fail to pass the checkpatch part of compliance.

I tried moving to 100 characters following Linux in #27469, and had to remove it because of strong objections from @andrewboie.  What has

[2020-12-04 15:12] rlubos commented on #30429
The 802154 radio driver for nRF was recently updated, and unfortunately, its open-source variant was trimmed of the CSMA-CA capability (that's the reason you see the warnings). What's even worse, the RCP support was merged **after** the radio driver was updated, so we don't have a single commit on master where we have both RCP support and the "old" radio driver...

A fully-featured radio driver is

[2020-12-04 15:15] nashif commented on #30426
I would rather not change much in checkpatch itself, instead, all the unrelated warnings/errors should be disabled in .checkpatch.conf.

nothing changed, the reason was the fact it was done as part of updating checkpatch, i.e. changing policy and we wanted this to be discussed somewhere else (read: here).

Both issues are related, we cant enforce warnings easily if keep line length at 80, this has

[2020-12-04 15:37] rlubos commented on #30433
Tested current master and two nRF52840 devices against each other, autojoin works just fine for me.

It seems that you have not erased the OT settings area on flash (`west flash --erase`). Looking at the logs, your device already had a dataset stored and it simply formed a network. The startup code won't bother with the joining procedure if it has a valid dataset stored in flash.

As for the secon

[2020-12-04 15:58] ABOSTM commented on #30148
@azeemshatp can you please tell me the value at address 0x1FFF6FFE ?
(You can read with STM32CubeProgrammer)
Normally you should get something like 0xFFFF00D3.

[2020-12-04 16:02] ADEscobar commented on #30429
That means the official Zephyr repo (zephyrproject-rtos/zephyr) will no longer work as RCP with the nrf52840, since the CSMA-CA capability is mandatory for that, right? I think that should be documented then.

What about NCP? This should still work, but I think it is being slowly left behind, as RCP is normally the preferred mode by OpenThread devs for the future.

What about Zephyr Project side?

[2020-12-04 16:17] azeemshatp commented on #30148
It reads 0xFFFF00D4 and not 0xFFFF00D3

[2020-12-04 16:26] aloebs29 opened #30446 "fxas21002 gyroscope reading is in deg/s"
**Describe the bug**
The fxas21002 gyroscope driver scales it's output to deg/s rather than rad/s (which is what the docs say SENSOR_CHANNEL_GYRO_* should output).

**To Reproduce**
Run the fxas21002 sample project and observe the output. This can also be observed analytically by comparing the fxas21002_convert() function in fxas21002.c to the datasheet values for deg/s per LSB.

**Expected behavi

[2020-12-04 17:45] azeemshatp commented on #30148
Yea, you are right and that seemed to be fixed in the updated system bootloader.

[2020-12-04 17:49] cvinayak commented on #29008
@RoyAnupam please attach the sniffer log file with information from connection to disconnection. From the screenshot of few seconds of connection, there is nothing much I can analyze. Did you get the disconnection with supervision timeout (packets stop in the sniffer after only packet from master for the duration of supervision timeout)?

[2020-12-04 18:05] d3zd3z commented on #30184
I think this is a good start. Opaque keys will be important when wanting to store keys in a secure environment such as TF-M/PSA.

[2020-12-05 01:40] RoyAnupam commented on #29008
Hello @cvinayak
My intention of sharing the screenshot was to just confirm with you if you are looking for similar log from wireshark sniffer dump. I will certainly test and share the whole log file. Sorry for confusion!

While I was testing yesterday, I got disconnection once after around 3-4~ mins of connection, but at that time, wireshark filter settings was not correct, so unfortunately that l

[2020-12-05 04:05] #29066 closed

[2020-12-05 04:52] RoyAnupam commented on #29008
Hello @cvinayak ,
 The issue is reproduced with correct Wireshark setting this time. But, facing one issue with uploading the zipped dump file (6 MB zip file). I am trying to figure out what is going wrong. In the mean time, lease find below some observations.

Yes, the last packet was from Master at time : 14399.221, after that, there was nothing from Slave, due to which Connection terminated. I

[2020-12-05 10:54] katsuster commented on #29349
Hello @ite-ch,
PR #30455 has been merged. Does it solved your issue?

[2020-12-05 12:21] aescolar commented on #30384
Closing assuming the issue has been clarified with the previous answer. If that is not the case, please reopen.

[2020-12-05 12:21] #30384 closed

[2020-12-05 18:04] wal003 opened #30462 "Improve how dependent PRs are managed"
**Is your feature request related to a problem? Please describe.**
Actually this is a suggestion to improve how dependent PRs are handled in this project. Example of a PR that depends on another one: https://github.com/zephyrproject-rtos/zephyr/pull/30424. If you do a quick search, you can easily find several other PRs like this.

**Describe the solution you'd like**
Introduce to this project [Dpu

[2020-12-05 22:29] alexanderwachter commented on #30349
You cannot use log immediate in an ISR. There is LOG code in the can driver which crashes your system. Either decrease the log level for CAN or use the threaded logging.

[2020-12-06 00:46] remy-luisant commented on #29162
I have my problem fixed and it turns out it was unrelated.

[2020-12-06 01:02] remy-luisant opened #30465 "Spurious interrupts not handled in ARMv7-R code with GICv2."
Having needed NEON, tens of megabytes of RAM and a very powerful CPU, I have a port of Zephyr to ARMv7-A. The port, quite predictably, shares a lot of code with the ARMv7-R version. I do believe my issue is relevant to your code. Please disregard this report should I be wrong in this respect.

Code in arch/arm/core/aarch32/isr_wrapper.S is as follows, edited for clarity:

[code]

This is a problem

[2020-12-06 01:12] #19244 closed

[2020-12-06 08:16] carlescufi commented on #30462
Thanks for the suggestion @wal003. Does Dpulls also come in the form of a GitHub Action? We've been switching to those lately.

[2020-12-06 09:55] gmarull opened #30466 "Improve API headers documentation"
**Is your enhancement proposal related to a problem? Please describe.**

Driver API headers, i.e. `include/drivers/*.h` files, have slight differences when it comes to Doxygen docstrings:

- Some have undocumented structures, e.g. https://github.com/zephyrproject-rtos/zephyr/blob/master/include/drivers/lora.h#L22
- Some use `@typedef` directive (https://github.com/zephyrproject-rtos/zephyr/blob/ma

[2020-12-06 09:55] gmarull commented on #30466
cc: @carlescufi @nashif

[2020-12-06 11:21] carlescufi commented on #30391
Right, but it is convenient to have the version that CMock packs instead of having yet another dependency.

Yes, and you are able to do this thanks to the "hack" I mentioned (add another entry to the manifest for the submodule)

[2020-12-06 11:22] carlescufi commented on #30441
@jostn would you mind sending a Pull Request yourself if @joerchan is too busy?

[2020-12-06 11:29] jocelyn-li commented on #29430
@andyross I am interested to learn about the progress on this fix, thanks!

[2020-12-06 12:27] pabigot opened #30467 "replace device define macros with devicetree-based macro"
With the merge of #30196 we need to convert any device object definitions that are based on a devicetree node to use `DEVICE_DT_DEFINE` instead of:

* `DEVICE_DEFINE` 17 driver source files
* `DEVICE_AND_API_INIT` 361 driver source files

The vast majority of these are for devices that are associated with a devicetree node.  Changing allows use of new API to access the device object directly via `

[2020-12-06 13:46] sbrown4 opened #30468 "mesh: cfg_svr.c app_key_del passes an incorrect parameter"
cfg_svr.c:399 first param should be key_app_idx, not key_net_idx.
The effect is that app_key_del is broken.

Steve

[2020-12-06 13:47] wal003 commented on #30462
Hey @carlescufi , thanks for your response. Dpulls doesn't come in the form of a Github Action, and I honestly don't think this will change in the future mainly because a Github App is suited better for what Dpulls is trying to achieve (better performance, accessibility, etc..).

[2020-12-07 01:03] IHIDCHAOS commented on #30433
@rlubos Thank you! After I used the option you suggested, everything is ok!

[2020-12-07 01:11] #27279 closed

[2020-12-07 01:11] #25314 closed

[2020-12-07 01:11] #25010 closed

[2020-12-07 01:11] #17023 closed

[2020-12-07 02:05] Zhaoningx opened #30470 "sam_e70_xplained: tesecase tests/subsys/log_core failed to run"
To Reproduce
Steps to reproduce the behavior:
    sanitycheck -p sam_e70_xplained --device-testing --device-serial /dev/ttyACM0 -T tests/subsys/logging/log_core
    see error

*** Booting Zephyr OS build zephyr-v2.4.0-2085-gd9666ff4d091  ***
Running test suite test_log_list

===================================================================
START - test_log_backend_runtime_filtering
Assertion fai

[2020-12-07 02:13] Zhaoningx opened #30472 "sam_e70_xplained: the samples/net/civetweb/http_server/. waits for interface unitl timeout"
To Reproduce
Steps to reproduce the behavior:
sanitycheck -p sam_e70_xplained --device-testing --device-serial /dev/ttyACM0 -T samples/net/civetweb/http_server/
see error

[00:00:00.000,000] <wrn> soc: CIDR mismatch: chip = 0xa1020e01 vs HAL = 0xa1020e00
[00:00:00.000,000] <inf> eth_sam: MAC: 00:00:00:00:00:00
[00:00:00.000,000] <inf> eth_sam: Queue 0 activated
[00:00:00.000,000] <inf> eth_sam: Qu

[2020-12-07 02:22] ite-ch commented on #29349
Hi @katsuster ,

Probably not.
I did the same fix on my local side, but our driver developer still got stuck when they use k_delayed_work_init.
I traced code and found sys work queue didn't give a float option when setting up a new thread in k_work_q_start  function.
So, I think use float option to enable float when creating thread is not applicable to RISC-V arch.
In the end, I changed my mind, I

[2020-12-07 02:22] cvinayak commented on #29994
Controller currently has an O(n) execution on scheduling conflict resolution and request processing in ULL_HIGH and ULL_LOW execution contexts.

When the Radio ISR, LLL, ULL_HIGH, and ULL_LOW execution are configured at the same IRQ priority, these introduce ISR latencies amongst themself.

There exists 3 Kconfig options to mitigate controller's self induced ISR Latencies
1. Use of Zero Latency IR

[2020-12-07 02:34] Zhaoningx opened #30473 "mimxrt1050_evk: testcase tests/kernel/fatal/exception/ failed to be ran"
To Reproduce
Steps to reproduce the behavior:
sanitycheck -p mimxrt1050_evk  --device-testing --device-serial /dev/ttyACM0 -T tests/kernel/fatal/exception/
see error

*** Booting Zephyr OS build zephyr-v2.4.0-2092-g748e7b6d7515  ***
E: ***** MPU FAULT *****
E:   Stacking error (context area might be not valid)
E:   Data Access Violation
E:   MMFAR Address: 0x80002474
E: r0/a1:  0x0b0d0e1f  r1/a2:

[2020-12-07 02:38] LingaoM commented on #30338
@stefbo  Thanks.

[2020-12-07 02:41] LingaoM commented on #30240
Of course, I'm giving feedback to the Bluetooth support team and I'm waiting for an answer.

[2020-12-07 02:44] katsuster commented on #29349
@ite-ch
Which board are you using for? qemu_riscv32? or other real boards?

[2020-12-07 02:48] Zhaoningx opened #30475 "frdm_k64f: testcase tests/kernel/fatal/exception/ failed to be ran"
To Reproduce
Steps to reproduce the behavior:
sanitycheck -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -T tests/kernel/fatal/
see error

*** Booting Zephyr OS build zephyr-v2.4.0-2085-gd9666ff4d091  ***
E: ***** BUS FAULT *****
E:   Stacking error
E:   Imprecise data bus error
E:   NXP MPU error, port 3
E:     Mode: Supervisor, Data Address: 0x200020c0
E:     Type: Write, Master: 0,

[2020-12-07 02:51] ite-ch commented on #29349
@katsuster real board.

[2020-12-07 03:01] Zhaoningx opened #30476 "frdm_k64f: testcase samples/net/cloud/tagoio_http_post/ failed to be ran"
To Reproduce
Steps to reproduce the behavior:
sanitycheck -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -T samples/net/cloud/tagoio_http_post/
see error

**condition 1: tagoio_http_post**
^@^@*** Booting Zephyr OS build zephyr-v2.4.0-2085-gd9666ff4d091  ***
^[[1;32muart:~$ ^[[m^[[8D^[[J[00:00:00.006,000] ^[[0m<inf> net_config: Initializing network^[[0m
^[[1;32muart:~$ ^[[m^[[8D^[[J[00

[2020-12-07 03:13] chen-png commented on #30307
@jenmwms Hi, how long did you run over this test case and get the final result? I used west build and flash to run this test case, it spent about 5 minutes,  so for sanitycheck script, it will be failed with timeout. it seems that the same issue with #30275 .

[2020-12-07 03:14] Zhaoningx opened #30477 "frdm_k64f: testcase samples/subsys/canbus/canopen/ failed to be ran"
To Reproduce
Steps to reproduce the behavior:
sanitycheck -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -T samples/subsys/canbus/canopen/
see error

**condition 1: sample.subsys.canbus.canopen**
*** Booting Zephyr OS build zephyr-v2.4.0-2085-gd9666ff4d091  ***
[00:00:00.005,000] ^[[1;31m<err> app: failed to initialize settings subsystem (err = -33)^[[0m

**condition 2: sample.subsys.c

[2020-12-07 03:19] chen-png commented on #30306
the same timeout issue with #30307

[2020-12-07 07:31] jturnsek commented on #28847
The same with mimxrt1064_evk board.

[2020-12-07 07:35] jmgao commented on #29994
Option 1 appeared to fix things for me, option 2 [still had elevated latencies](https://github.com/zephyrproject-rtos/zephyr/issues/29994#issuecomment-727881458).

[2020-12-07 08:11] JordanYates opened #30480 "Bluetooth: Controller: Advertising can only be started 2^16 times"
**Describe the bug**
On Nordic devices, Bluetooth advertising can only be started ~2^16 times before all calls to `bt_le_adv_start` return `-EIO`.

[code]
Will eventually result in :
[code]

The root cause of this issue is the failure to release `onoff_manager` dependencies in `lll_clock.c`
Each time advertising is started, we wait until the LF clock is ready:
`ll_adv_enable` -> `lll_clock_wait` -

[2020-12-07 08:14] JordanYates commented on #30480
As `lll_clock` provides no function which calls `onoff_release`, the same issue presumably affect connection creation as well, which calls `lll_clock_wait` in `ll_create_connection`.

[2020-12-07 08:39] ioannisg commented on #30257
That's a stacking error, might be related to things that we fixed in other tests (@pabigot FYI). Otherwise, we can fix this by enlarging the stack size. Will take  a look.

[2020-12-07 08:48] rlubos commented on #30433
I'll take the liberty and close the issue then.

[2020-12-07 08:48] #30433 closed

[2020-12-07 09:28] ericrabinowitz commented on #30204
Hello @ufechner7 and @bdkrae , I am also interested in supporting Zephyr for the Teensy 4.1.
I followed your great work and was able to quickly build a working image under MacOs.

I also used the teensy_loader_cli: It was not stable and frequently error'd that it could not get permission to the usb port which required a minor edit to the source - I'll document that.

I ran a configuration to use t

[2020-12-07 09:56] katsuster commented on #29349
@ite-ch Thanks. I don't have such board, so cannot see the problem that is strictly same as you see...
But I can test FPU with QEMU and will continue to find the solution for FPU issue about tasks on work queue.

[2020-12-07 10:01] wangnuannuan opened #30483 "Sanitycheck: When platform is nsim_hs_smp, process "west flash" become defunct, the grandchild "cld" process can't be killed"
**Describe the bug**
When the platforms is `nsim_hs_smp`, the `BinaryHandler` call command `west flash xxx` to run testcase, and the process `west flash` start the child process `mdb -multifiles=core0,core1 -run -cl`, and finally child process `mdb -multifiles=core0,core1 -run -cl` create grandchild process `MetaWare/arc/bin32/cld`.

In normal circumstances, the child process `mdb -multifiles=core

[2020-12-07 10:02] cvinayak commented on #30480
The regression was introduced here: https://github.com/zephyrproject-rtos/zephyr/commit/2b4763076eab408c4bec4e452accff296d814139#diff-4b2727dd1031ae4d5de482dc43a4c5d2295a89f718b04e5480f6c8f8082846b4

The following is missing from `lll_clock_wait`
[code]

I will send a PR soon. Thanks for the issue report and detailed analysis.

[2020-12-07 10:11] JordanYates commented on #30480
While I imagine this would work in most real-world cases, it's not strictly correct.
1. A second thread calling `lll_clock_wait` would return immediately without the clock being ready.
2. If the first clock setup fails, future calls don't recognize that the clock is not running and return 0.

[2020-12-07 10:48] Laczen commented on #30416
@CSparn, I don't know if qemu provides flash support. Native_posix does provide flash support where a file is used as a flash emulator. Maybe it is possible to achieve your goal  using native_posix.

[2020-12-07 11:22] neo-rink106 opened #30486 "updatehub demo for nrf52840dk"
HI,
I am beginner on Nordic MCU and zephyr sdk. I am going to start a new project. Before starting my work on updatehub, I need some basic information about updatehub demo with open thread.

1- is it possible to do multibroadcasting? If yes, How many number of maximum device I can connect?
2 Using openthread, how much time(Total Time) it will take for new OTA image update?

[2020-12-07 11:29] mejtejt commented on #30349
@alexanderwachter , I don't understand quite your last response. I will break it up in a sections. First of all, what do you mean by "cannot use log in ISR"? I have no ISR which is using log lines. `read_thread` is (one of) foreground thread(s), created with `k_thread_create`.

![image](https://user-images.githubusercontent.com/33463717/101344863-7aaf1600-3886-11eb-868a-0b64554049f9.png)

Secondly

[2020-12-07 11:35] alexanderwachter commented on #30349
There is a log from the can rx ISR in your screenshot. I don't recommend to use immediate logging. Some other drivers might also do logging from ISRs

[2020-12-07 11:37] koffes opened #30488 "Bluetooth: controller: swi.h should use CONFIG_SOC_NRF5340_CPUNET define"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/swi.h#L21
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/swi.h#L33

These two lines should be based on SoC and not board.
@cvinayak

[2020-12-07 11:55] #30173 closed

[2020-12-07 12:05] carlescufi commented on #28535
@Navin-Sankar as far as I can tell you have already followed all the steps in:
https://docs.zephyrproject.org/latest/guides/modules.html#process-for-submitting-a-new-module

@ioannisg @nashif @MaureenHelm @galak any objections to me creating the repo? I propose naming it simply `lz4`.

[2020-12-07 12:17] rlubos commented on #30429
That's unfortunate but yes, you're correct. The CSMA feature is now distributed as a closed part of the radio driver and cannot be a part of the Zephyr project. I agree about the doc, I need to update it (I wasn't even aware CSMA-CA capability is critical for RCP operation until this issue was reported).

The NCP still works (since it can use CSMA-CA implemented in the OT MAC layer.

To be honest,

[2020-12-07 12:37] carlescufi commented on #11770
Agreed @markus-becker-tridonic-com

Please refer to nRF Connect SDK for this fuctionality:
https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/ug_multiprotocol_support.html

[2020-12-07 12:37] #11770 closed

[2020-12-07 13:17] abrodkin commented on #29194
@IRISZZW @evgeniy-paltsev this one might be of interest to you.

[2020-12-07 13:20] CSparn commented on #30416
Hi,
as far as I know, it is possible to use a flash in qemu. For that you need to create an image and add -pflash image_name to the command you start qemu with. But when I do this starting the mesh app, I just see a black line but qemu is not starting properly.
More information you can find here:
https://wiki.qemu.org/Features/PC_System_Flash
and here
https://qemu.readthedocs.io/en/latest/system/i

[2020-12-07 13:52] pabigot commented on #30353
I want to point out again that float arguments are already promoted to double when passed to a function that lacks a prototype (or in a varargs position), so there is nothing to do for "Any float arguments will be promoted to double".  What has to be done is detecting that the value to be formatted takes more than one word on the stack.

I added [cbprintf_arglen()](https://docs.zephyrproject.org/l

[2020-12-07 13:56] valeros opened #30493 "Allow a custom location for the final merged configuration file"
Hi,

**Is your enhancement proposal related to a problem?**
At the moment Zephyr integration with PlatformIO ecosystem only supports project configuration using `*.conf` files. Users (see https://skybluetrades.net/projects/nrf52840-tools-comparison/platformio-zephyr) would like have support for an interactive Kconfig interface, for example the `menuconfig` target.

The main issue here is that the

[2020-12-07 14:22] Laczen commented on #30416
@CSparn, I don't know if that is the correct way to use flash on qemu. Qemu_x86 does provide simulated flash storage support but  I think this is all done in memory and not on a "flash" device (even if you provide -pflash image_name). Is there a zephyr flash driver to support the -pflash area added to the command line ? For storage you need to be able to write this "flash", so a flash driver is ne

[2020-12-07 14:53] pabigot commented on #30257
When reproduced using `prj_arm_fpu_sharing.conf ` this correlates with the merge of #29876 so yes a stack size needs to be increased.  Prior to this printk formatting would have used less space as it wouldn't have supported float formatting, which requires a larger stack buffer.

If `CONFIG_CBPRINTF_NANO=y` is added to that config that particular test passes.  That's #30494.

    west build -b pca

[2020-12-07 14:56] lmajewski commented on #30354
Fix applied to -master.

[2020-12-07 14:56] #30354 closed

[2020-12-07 15:09] ADEscobar commented on #30429
Maybe it can at least be documented with which commit or version of OTBR the Co-Processor Networking Samples of Zephyr are known to be working, otherwise they are of little use.

[2020-12-07 16:02] cvinayak commented on #30480
@JordanYates This is the LF clock which is also the core system clock, it is only started once on power up. The `lll_clock_wait` only needs to ensure the clock has settled, i.e. truely switched to crystal/RC source and stable. This clock is not to be stopped after power up.

[2020-12-07 16:39] abrodkin commented on #15793
@nashif if there's no demand on getting IoTDK's real flash usable for loading Zephyr I suggest to close this one so it no longer lingers here open.

[2020-12-07 16:48] CSparn commented on #30416
Hi,
I'm also not sure if the command line is the only option to add a flash to qemu.
And I couldn't find a driver for pflash or qemu. But it looks like there is a flash simulator.
Maybe this is the right way to get the flash running with qemu. But when I enable the config
CONFIG_FLASH_SIMULATOR it does not change anything. Maybe another option is missing?
But the flash simulator seems to run on qe

[2020-12-07 16:59] joerchan commented on #30344
@lukasbrchl  In order have multiple advertising sets you will have to use the new API i.e bt_le_ext_adv_* functions in order to create and manage multiple advertising sets.

The type of advertising is determined by the advertising option `BT_LE_ADV_OPT_EXT_ADV`, if you don't set this option then the advertising set will be a "legacy" advertiser.

The singleton you refer to is for the legacy API i.

[2020-12-07 16:59] #30344 closed

[2020-12-07 17:55] nandojve commented on #30486
Hi @neo-rink106 ,

My suggestion is before try UpdateHub, make sure you have a Thread Networking with Zephyr RTOS running. UpdateHub uses sockets on top of network stack. We opened #30460 to add network management and overlays, it covers OT too. This will help you to test UpdateHub over OT. We try keep same configurations that OT have on the https://openthread.io/guides/border-router section. If y

[2020-12-07 17:58] carlescufi commented on #9875
This is done

[2020-12-07 17:58] #9875 closed

[2020-12-07 18:02] carlescufi commented on #22942
Fixed in https://github.com/zephyrproject-rtos/zephyr/commit/3b4ead139fc2

[2020-12-07 18:02] #22942 closed

[2020-12-07 18:04] carlescufi commented on #2247
Already handled in the split controller with an internal API.

[2020-12-07 18:04] #2247 closed

[2020-12-07 18:05] carlescufi commented on #25434
@ioannisg and @cvinayak is this still applicable?

[2020-12-07 18:07] Laczen commented on #30416
Hi @CSparn, please give native_posix a try, this has full support for flash storage.

[2020-12-07 20:43] andyross opened #30505 "Rework pipe_api test for coverage"
Changes in #28611, which remove the old mem_pool block internals from k_pipe, forced the removal of a bunch of cases in the tests/kernel/pipe/pipe_api test, many of which do not seem specific to block transfer features.  The test was just a little incestuous as to what depended on what.

I'm afraid this has impacted coverage and we should go back in and recover testing of features that don't get h

[2020-12-07 21:16] #29831 closed

[2020-12-07 21:19] bdkrae commented on #30204
Hello @ericrabinowitz, nice to hear, help is welcome.

For the i2c I've already added (but not tested) the pin multiplexing sections to _pinmux.c_, so you should be able to activate it by stating a section in the _teensy41.overlay_ for your application, as well as ```CONFIG_I2C=y``` in _prj.conf_.

Little update from my side:
I´m struggling with the ethernet peripheral for several evenings now, bu

[2020-12-07 22:18] nashif opened #30507 "nrf52_bsim fails on some tests after merging 29810"
**Describe the bug**

```west build -b nrf52_bsim  tests/benchmarks/latency_measure -t run```
hangs, before #29810 (by @nordic-krch ) it used to run all the way to the end.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nrf52_bsim  tests/benchmarks/latency_measure -t run

**Expected behavior**

test completes
**Impact**
Blocking CI in many pending PRs

**Logs and console outpu

[2020-12-07 22:45] ljaynes87 opened #30509 "k_timer_remaining_get returns incorrect value on long timers"
**Describe the bug**
k_timer_remaining_get returns incorrect value when reading time remaining on long timers. I am not sure on the exact timer length but setting a timer for 48 hours will cause this issue

**To Reproduce**
Steps to reproduce the behavior:
1. Start a timer over 48 hours. (Could be shorter. 24 hours seems to work but 48 does not)
2. Read the timer with k_timer_remaining_get.
3. Tim

[2020-12-07 23:03] CSparn commented on #30416
Hi,
I tried with native_posix but I could not get it running properly. I always get errors running the app. I will go on trying with native_posix, but for me it seems that the app is running more stable in Qemu. So I also try to find a solution for the flash problem in qemu.

[2020-12-08 00:39] mkschreder opened #30512 "Single instance drivers are not guarded against disabled DT nodes."
This results in disabled nodes being initialized anyway.

Multi-instance drivers are guarded today because it turns out they all use the `DT_INST_FOREACH_STATUS_OKAY` macro. I see that most, if not all, single-instance drivers like FMC, counter, flash... don't have an equivalent guard. You're right, I think they should also be guarded after all. @erwango are you aware of any reason why it is not d

[2020-12-08 01:11] #28613 closed

[2020-12-08 01:11] #25466 closed

[2020-12-08 01:11] #22771 closed

[2020-12-08 01:11] hardik-proxy commented on #30378
**Update:**
the issue doesn't occur if I remove GATT read operation of around 170 bytes, which is not I want but just to see where is the problem.

[2020-12-08 01:39] cvinayak commented on #29008
It just looks like Peripheral did a proper local initiated disconnect to which the Central acknowledged in packet no. 476411, except that the Info says L2CAP Fragment (is the connection encrypted?). Without the sniffer logs with details to look at, I cant be certain.... Can you email me the sniffer log zip file? My email address is in any of controller commit messages in Zephyr.

[2020-12-08 02:50] #24358 closed

[2020-12-08 04:58] s-kelvin opened #30513 "reel_board: tests/benchmarks/latency_measure/ fails"
**Describe the bug**
Running tests/benchmarks/latency_measure on reel board. The testcase benchmark.kernel.latency failed without any output.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b reel_board tests/benchmarks/latency_measure/
2. west flash

**Expected behavior**
Test should pass.

**Impact**
Test suite fails.

**Logs and console output**
[code]

**Environment (

[2020-12-08 05:00] s-kelvin opened #30514 "reel_board: tests/benchmarks/sys_kernel/ fails"
**Describe the bug**
Running tests/benchmarks/sys_kernel on reel board. The testcase benchmark.kernel.core failed without any output.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b reel_board tests/benchmarks/sys_kernel/
2. west flash

**Expected behavior**
Test should pass.

**Impact**
Test suite fails.

**Logs and console output**
[code]

**Environment (please comple

[2020-12-08 06:50] remy-luisant opened #30517 "Interrupt nesting is broken on ARMv7-R / LR_svc corrupted."
I have a custom board running a port to ARMv7-A with NEON. This shares much code with the ARMv7-R version and I believe this issue is relevant to your code as well. Please disregard this report should this not be the case.

zephyr/arch/arm/core/aarch32/isr_wrapper.S, edited for clarity, comments starting with // are mine:

[code]

At no point is LR_svc preserved. The fix is to simply store LR_svc

[2020-12-08 06:57] nordic-krch commented on #30507
@aescolar i think i would need a help from you here. It seems like RTC interrupt is triggered only once. I've logged `COUNTER`, `CC[0]` and `EVTEN` registers after setting new CC and it looks ok.

At 0 CC is set for 1sec, at one sec RTC interrupt occurs and it is set to 2sec timeout but that one never comes.

[code]

[2020-12-08 08:09] julien-massot commented on #30517
Hi Remy, I'm indeed facing an issue with nested interrupt on Cortex-R,
but didn't figured out what is the reason.
Thanks for the report.

As a temporary workaround, I just disabled nested interrupt, as it's done in Cortex M.
https://github.com/iotbzh/zephyr/commit/a0e4c0ab6f2c009570d16529972e50faf36c3ffc#

[2020-12-08 08:34] aescolar commented on #30507
@nordic-krch (Today and tomorrow I'm swamped.) The default when a PR breaks master is to revert it and figure out calmly why and fix it without blocking others. If you cannot find easily what went wrong I would not delay further reverting it.

[2020-12-08 09:32] LonesomeUnixCowboy opened #30520 "recv() call to Ublox Sara R4 cant return 0"
**Describe the bug**
recv() wont return 0 when there is nothing left to read from the socket. It seems the driver (ublox-sara-r4.c) gets stuck at a semaphore in side modem_socket_wait_data() at row 1438.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with -DSHIELD=sparkfun_sara_r4
2. Get address with getaddrinfo()
3. Create socket with socket()
4. Connect to socket with connect()
5. S