[2017-10-26 12:45] #4563 closed

[2017-10-26 12:45] #4567 closed

[2017-10-26 12:50] jhedberg commented on #4567
Also note that as you create a more complex device composition, the composition data will likely no-longer fit in the max three transport layer segments that the current sample configurations support. So you might need to increase that. For outgoing segments, the number is directly dependent on the number of mesh advertising buffers, so you'll want to set CONFIG_BT_MESH_ADV_BUF_COUNT to some highe

[2017-10-26 13:08] guo-mkcooc opened #4569 "LoRa: support LoRa"
Hi,
Recently I do something about LoRa in STM32, i would like to transplant  SX127x radio drivers for zephyr to support LoRa.
Does zephyr have plan to support LoRa ?   thanks.

[2017-10-26 13:11] DWagenk commented on #2956
I'd like to work on a I2C slave driver for stm32 family. Has there been any discussion, rfc or similar on how the API should work? Or any started work on this issue? I didn't find anything in the mailinglist archives and on github.

I'm mostly interested in slave reciever, since it is a multi-master setup, so every component sends data as master and recieves as slave. Anyhow the API should be able

[2017-10-26 13:14] Laczen commented on #4567
As an example of a node with multiple elements (2) you can use the following code. The configuration server model (cfg_srv) is only allowed in the first element.

static struct bt_mesh_model root_models[] = {
	BT_MESH_MODEL_CFG_SRV(&cfg_srv),
	BT_MESH_MODEL_HEALTH_SRV(&health_srv),
	BT_MESH_MODEL(BT_MESH_MODEL_ID_GEN_ONOFF_SRV, gen_onoff_srv_op,
		      &gen_onoff_srv_pub, NULL),
        BT_MESH_M

[2017-10-26 13:43] tbursztyka commented on #4569
I haven't heard about someone working on it.

If you are proposing yourself to bring such support to Zephyr, it will be nice.
I don't know about SX127x, it is a Full or Soft MAC chip?

[2017-10-26 13:54] Tenderson commented on #1289
@mbolivar, thank you for the notice. I close this issue, however I appreciate if you have some thoughts to share on the issue #4028.

[2017-10-26 13:54] #1289 closed

[2017-10-26 13:56] Tenderson commented on #4028
@andrewboie @andrewboie Any thoughts on this issue is highly appreciated.

[2017-10-26 14:01] galak commented on #2956
@mnkp might have some ideas on this.  We need to workup a usage model of how we think slave mode will look from the API perspective first.

[2017-10-26 15:29] nashif commented on #4563
An issue does not have to be a bug, it can also be a question. And having it here is way better than IRC. (Can be found later)

[2017-10-26 16:09] pfalcon commented on #4216
I didn't have much chance to look further into this specifically, and wasn't able to reproduce it under QEMU anymore, so I guess I need to move to frdm_k64f hardware.

Here's some idea though (based on my looking at various stuff in the meantime). sockets don't do cheating and define custom per-context TX buffer pool (like seems to be pretty common with other stuff, I especially love to see commen

[2017-10-26 17:25] jukkar commented on #4565
@vakulgarg Could you test #4571 in your setup so that we are sure I did not miss some corner case?

[2017-10-26 21:19] andrewboie opened #4576 "no testcase.yaml for tests/drivers/spi/spi_loopback"

[2017-10-26 21:19] andrewboie commented on #4576
As a result this never gets built by CI.

[2017-10-27 05:06] rrahulkx opened #4578 "tests/net/socket/udp/testcase.yaml#test : Build failed on esp32"
when I am running this testcase.I am able to re -produce this failure and log pasted below --

**Build procedure :--**

tests/net/socket/udp/testcase.yaml#test @ esp32:xtensa COMPLETION failed

Toolchain: ZEPHYR_GCC_VARIANT=espressif

Commit ID                                                            Branch          URL
---------------------------------------- --------------- -------------------

[2017-10-27 05:21] Shilpashree3lc opened #4579 "[CID: 178249] Parse warnings in samples/mpu/mem_domain_apis_test/src/main.c"
Static code scan issues seen in File: /samples/mpu/mem_domain_apis_test/src/main.c
 Category: Parse warnings
 Function:
 Component: Samples
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4580 "Coverity issue seen with CID: 178248"
Static code scan issues seen in File: /subsys/net/lib/coap/coap.c
 Category: Null pointer dereferences
 Function: coap_packet_get_payload
 Component: Networking
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4581 "Coverity issue seen with CID: 178247"
Static code scan issues seen in File: /subsys/net/lib/sockets/sockets.c
 Category: Error handling issues
 Function: zsock_accepted_cb
 Component: Networking
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4582 "Coverity issue seen with CID: 178246"
Static code scan issues seen in File: /subsys/net/lib/app/client.c
 Category: Error handling issues
 Function: _app_connected
 Component: Networking
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4583 "[CID: 178245] Parse warnings in samples/mpu/mem_domain_apis_test/src/main.c"
Static code scan issues seen in File: /samples/mpu/mem_domain_apis_test/src/main.c
 Category: Parse warnings
 Function:
 Component: Samples
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4584 "Coverity issue seen with CID: 178244"
Static code scan issues seen in File: /subsys/net/lib/http/http_server.c
 Category: Error handling issues
 Function: accept_cb
 Component: Networking
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4585 "Coverity issue seen with CID: 178243"
Static code scan issues seen in File: /drivers/ethernet/eth_enc28j60.c
 Category: Error handling issues
 Function: eth_enc28j60_read_reg
 Component: Drivers
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4586 "[CID: 178242]: Parse warnings samples/mpu/mem_domain_apis_test/src/main.c"
Static code scan issues seen in File: /samples/mpu/mem_domain_apis_test/src/main.c
 Category: Parse warnings
 Function:
 Component: Samples
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4587 "Coverity issue seen with CID: 178241"
Static code scan issues seen in File: /drivers/ethernet/eth_enc28j60.c
 Category: Error handling issues
 Function: eth_enc28j60_read_mem
 Component: Drivers
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4588 "Coverity issue seen with CID: 178240"
Static code scan issues seen in File: /drivers/ethernet/eth_enc28j60.c
 Category: Error handling issues
 Function: eth_enc28j60_set_bank
 Component: Drivers
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4589 "[coverity] Null pointer dereferences in tests/net/app/src/main.c"
Static code scan issues seen in File: /tests/net/app/src/main.c
 Category: Null pointer dereferences
 Function: iface_setup
 Component: Tests
 CID: 178239
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4590 "[CID: 178238] Parse warnings in samples/mpu/mem_domain_apis_test/src/main.c"
Static code scan issues seen in File: /samples/mpu/mem_domain_apis_test/src/main.c
 Category: Parse warnings
 Function:
 Component: Samples
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4591 "[CID: 178237] memory corruption in drivers/ieee802154/ieee802154_mcr20a.c"
Static code scan issues seen in File: /drivers/ieee802154/ieee802154_mcr20a.c
 Category: Memory - corruptions
 Function: _mcr20a_write_burst
 Component: Drivers
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4592 "Coverity issue seen with CID: 178236"
Static code scan issues seen in File: /drivers/ieee802154/ieee802154_mcr20a.c
 Category: Memory - corruptions
 Function: _mcr20a_read_burst
 Component: Drivers
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:21] Shilpashree3lc opened #4593 "Coverity issue seen with CID: 178235"
Static code scan issues seen in File: /subsys/net/lib/dns/mdns_responder.c
 Category: Null pointer dereferences
 Function: send_response
 Component: Networking
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:22] Shilpashree3lc opened #4594 "Coverity issue seen with CID: 178234"
Static code scan issues seen in File: /subsys/net/lib/coap/coap.c
 Category: Null pointer dereferences
 Function: coap_packet_get_payload
 Component: Networking
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:22] Shilpashree3lc opened #4595 "Coverity issue seen with CID: 178233"
Static code scan issues seen in File: /samples/net/echo_client/src/tcp.c
 Category: Null pointer dereferences
 Function: compare_tcp_data
 Component: Samples
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-27 05:37] rrahulkx opened #4596 "tests/net/mgmt/testcase.yaml#test :failed due to un-handled exception"
Testcase :--tests/net/mgmt/testcase.yaml#test @ esp32:xtensa COMPLETION failed
This testcase is failed due to unhandled exception.

The failure report are pasted below :--
**Detailed description**
====================
 configure passed

**Build procedure :--**

build passed: 'mkdir -p /outdir-ari3-asid-esp32; outdir-ari3-asid-esp32/.config'
build passed: 'make -j -C zephyr/tests/net/mgmt/
EXTRA_CF

[2017-10-27 06:28] rrahulkx opened #4597 "tests/drivers/ipm/testcase.yaml#test :unable to print the Expected output"
when I run this testcase, its unable to print the entire expected output and could not able to run testcase successfully.

The failure report is pasted below :--

tests/drivers/ipm/testcase.yaml#test @ esp32:xtensa COMPLETION failed

Toolchain: ZEPHYR_GCC_VARIANT=espressif

Commit ID                                                           Branch          URL
-------------------------------------

[2017-10-27 06:44] guo-mkcooc commented on #4569
well,  Thanks for your reply,  I'll try it.

it's a wireless transceivers,  providing spi interface access to the configuration register.

[2017-10-27 06:44] #4569 closed

[2017-10-27 07:26] SharanIoT commented on #4563
Hi Nashif,

I'm new to the Zephyr world. But I like Zephyr, at the moment it's the only true IoT platform addressing wireless standard and security infrastructure. But problem for me is lack of developer forum to post our queries. I'm believe that saves significant time for the new people who are trying to work with Zephyr.

Regards,
Sharan

[2017-10-27 07:39] guo-mkcooc commented on #1281
I also encountered the same problem.

I plan to use spi with the stm32f107 , but dts or pinmux seem can't configure SPI pins.
however, stm32f4, f3, l4 all works with pinmux except f1.

[2017-10-27 08:09] DWagenk opened #4600 "drivers:i2c_ll_stm32_v2: Interrupt mode uses while loops"
Stm32 v2 (F0/F3/F7) driver in interrupt mode is not completely based on interrupts, but uses while loops when waiting for stop and transfer complete flags (current arm branch).

I'll submit a pull request updating it to use interrupts instead when #4572 is merged (since it is based on it).
It's ready to look at here: https://github.com/DWagenk/zephyr/tree/stm32-i2c-v2-use-interrupts

[2017-10-27 08:14] SharanIoT commented on #4567
Hi Laczen,

I tried the same thing, it didn't work. Could be a bug on the SiLabs app, always fails to read "DCD".
Did you test the multiple elements scenario?

Thanks,
Sharan

[2017-10-27 08:29] tbursztyka commented on #2956
@DWagenk I haven't had time to finalize SPI slave support, I mean: the proper way for complex slaves. I just rebased my working branch but there is still a big part missing: handling incoming master input's interruption which would call user's callback (i.e.: the one parsing the input asap and doing something about it). https://github.com/tbursztyka/zephyr/tree/spi_update_wip I hope I'll have time

[2017-10-27 10:04] tbursztyka commented on #4533
A PAN ID of 0 is totally fine.

What you see here is the IPv6 DAD process running before you set your pan id, and once done: DAD is not re-ran again.

I'll come with something.

[2017-10-27 10:20] jfischer-phytec-iot commented on #4592
already taken into account in the commit 114d671e24e47fe0c56f319d368ff07642d2e13c

[2017-10-27 10:20] jfischer-phytec-iot commented on #4591
already taken into account in the commit 114d671e24e47fe0c56f319d368ff07642d2e13c

[2017-10-27 10:23] Laczen commented on #4567
Hi SharanIoT,

I just tried and indeed it does not work with the SiLabs app. Maybe there is no support for multiple elements in the app. It does work with meshctl.

Kind regards,

Jehudi

[2017-10-27 10:56] jukkar commented on #4060
Should be fixed by #4571

[2017-10-27 11:43] jukkar commented on #4323
Is there still some issue with this, I thought this was fixed by #4292 or is the bug description wrong.

[2017-10-27 11:52] pfalcon opened #4603 "sanitycheck either conceals information from user or spams it"
When I run sanitycheck normally, e.g.:

[code]

, majority of time I'm being shown useless information for dozens of seconds if not minutes, like:

[code]

It's not ok to tell me that 4 tests selected and 1 of them ran - I want to know *which test is being run now and which finished running so far*. I don't want to spend minutes just to find out that it ran something else than I wanted.

Ok, solut

[2017-10-27 11:59] pfalcon commented on #4603
As https://github.com/zephyrproject-rtos/zephyr/pull/4604 explains, the only way to use sanitycheck sanely is with `sanitycheck | cat` (with that patch applied).

So, the best proposal:

1. Make whatever sanitycheck | cat outputs to be the default output.
2. Then add --terse switch or something for current riddly "0/4" output.

Compromise proposal:

1. Leave current output as is (sucks)
2. Make -v

[2017-10-27 12:02] pfalcon commented on #4323
No, this wasn't fixed by #4292, this is a separate issue, and the title and description are correct.

I'd say, this waits triaging by the maintainers, to confirm the issue and priority of "high".

[2017-10-27 12:06] nashif commented on #4603
yeah, this has been annoying me as well, listing all discarded tests is not really useful, this should be  another flag which enables listing all discarded tests or change of -v behaviour, but a tip for you, you can run

`./scripts/sanitycheck -T tests/net/socket/udp`

instead, it will only deal with that specific test and ignore everything else...

[2017-10-27 12:13] jukkar commented on #4595
False positive

[2017-10-27 12:13] #4595 closed

[2017-10-27 12:36] #4582 closed

[2017-10-27 12:36] #4584 closed

[2017-10-27 12:36] #4593 closed

[2017-10-27 13:10] pfalcon commented on #4603
@nashif : Thanks for the lifehack, good to know, though doesn't help with the output delay issue. Can we merge #4604 in the meantime?

[2017-10-27 13:44] nashif commented on #4603
I am still not sure what is #4604 is good for. The "output delay" you mention....

This is because you are executing one test but parse and preprocess all tests before that, the -T should really just preprocess the selected test and there should not be any delay unless there are kconfig filters.

[2017-10-27 13:46] nashif commented on #4603
actually just noticed that -s behave the same way as -T, it just runs the selected test in testcase.yaml, so your issue is with -v and showing discarded tests?

[2017-10-27 13:49] akhileshupadhyay opened #4606 "usb mass storage : config waits for Vendor ID and Product ID from user during building"
While building application for usb mass storage, config is expecting user to pass Vendor ID and Product id. Build keeps waiting until provided with IDs. This creates blockage for automation.

=================================
Below logs appear during building:

[code]

Steps to reproduce:

1. cd   $ZEPHYR_BASE
2. source  zephyr-env.sh
3. cd   $ZEPHYR_BASE/samples/subsys/usb/mass
4. make  BOARD=qua

[2017-10-27 13:58] pfalcon opened #4607 "tests/net/socket/udp/ is broken, again"
This feels like deja vu, because there was a ticket https://github.com/zephyrproject-rtos/zephyr/issues/4347 recently and the issue was fixed. My memory of what happened is:

1. Running "make run" in tests/net/socket/udp/ led to the test hang on start up (no testcase finished completely).
2. Then apparently, after #4347, it was fixed (i.e. test fully passed).

But now with the latest master I get:

[2017-10-27 14:01] pfalcon commented on #4607
Even tried https://github.com/zephyrproject-rtos/zephyr/pull/4599, doesn't help.

[2017-10-27 14:18] pfalcon commented on #4603
With #4604, I can run "sanitycheck ... | cat" and get the output which I want (which is the names of tests being run, in realtime).

Without #4604, if I run "sanitycheck ... | cat", I get silence, with big stdout-drop when sanitycheck exits.

[2017-10-27 14:20] pfalcon commented on #4603
Yes, my issue is what this ticket tells - there's either too little or too much output. #4604 is the simplest and quickest partial solution, before further patches are dropped (which will need more discussion unlike #4604 one-liner).

[2017-10-27 14:38] nashif commented on #4603
we do need to run sanitycheck without having to pipe this through cat, your patch just enable a hack instead of fixing the real problem, I did not see a negative effect of your patch yet, but this requires some additional testing and we need to be able to run with -v and get the desired results without the cat

[2017-10-27 14:41] nashif commented on #4597
I do not see any failures

[2017-10-27 14:49] finikorg commented on #4606
We do not have VENDOR_ID and PRODUCT_ID assigned for this board, however if you know uark_se_c1000_devboard default values we can put them to this defconfig. BTW, do not you use sanitycheck for automatic build?

[2017-10-27 14:52] pfalcon commented on #4603
You must be kidding me - what negative effects can be from flushing the stdout stream? It's just that if Python (and not only Python, many libc's do that) detects that stdout file descriptor is `!isatty(fd)`, it turns on bulk buffering instead of the default line buffering, which causes output delay if fd is a pipe, fifo, etc. It would affect CI systems too (being able to watch output on reatime),

[2017-10-27 15:39] dleach02 commented on #4533
Yes, I saw what was running. Just seemed strange that the IP stack was able to send anything before the underlying network was fully "up". I may be looking at this wrong but I consider it a link up vs down condition where the protocol stacks should hold off until they get a link up indication. It may be though that this is different for 15.4.

In the end, it didn't prevent things from running but

[2017-10-27 15:55] dleach02 commented on #4592
@jfischer-phytec-iot , I left a comment on your PR that it doesn't actually fix this bug. The length test is an "off-by-one" problem and needs to have ">=" instead of ">". I have a PR to fix this as well: #4575 which did a similar change but also fixed the condition test.

[2017-10-27 16:28] nashif commented on #4606
@finikorg this is breaking sanitycheck and we do need to have some default values added in this case, same as with tinyTILE.

[2017-10-27 16:33] nashif commented on #4606
ok, I mixed this up with another issue we had with IDs, but in this case for the arduino 101, they all share the same ID like the tinyTILE, so this needs to be set somewhere, in this case probably in the test framework testing the usb

[2017-10-27 16:34] jfischer-phytec-iot commented on #4592
@dleach02 yes, I have overlooked it, since you have already opened a PR, please pick
114d671 to your PR and add a commit that fixes this issue, thx

[2017-10-27 17:36] andrewboie commented on #4603
you know, in the time you took to write all this you could have just adjusted sanitycheck's verbose output, as I have just done in #4612

[2017-10-27 17:52] pfalcon commented on #4603
Well, if everyone will just go and throw patches without discussing an issue ... we'll have the situation like we have now (or worse, it being flip-flopping).

The patch looks nice, but my solution was to switch "verbose()" and "debug()" level (then adjust few cases of verbose to debug):

[code]

(And yeah, it's not ready to be posted yet, needs more self-review and testing.)

[2017-10-27 21:47] nashif commented on #4603
no I am not, as I said, I am fine with the change, but I did not spend time looking at where the flush is being done and why. There is a lot of magic that happens in sanitycheck and we better not break it just because....

[2017-10-28 09:04] pfalcon commented on #4603
@nashif : Sure, take your time, that's what reviews are for. But in all fairness, I can't imagine a more obvious and safe change than that. If you look at the patch, 2 lines below the flush is being done to the log file: https://github.com/zephyrproject-rtos/zephyr/pull/4604/files#diff-2287566453359d41de0ff5c53acf48d6L250 . (Then again, it makes more sense to flush stdout (because it has higher ch

[2017-10-28 09:57] pfalcon commented on #4607
Well, the previous test in CI was not clean, here's updated log that confirms the problem: https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/5983/3/tests

[2017-10-30 06:22] askawu commented on #4607
It's my fault.  It's the same problem of early version of #4390. These test cases are not self-contained. They should be run with the help of net-tools echo server. That's why it blocks the execution. I've submitted #4621 for the fix.

[2017-10-30 08:47] rveerama1 commented on #4580
Already addressed by https://github.com/zephyrproject-rtos/zephyr/pull/4562

[2017-10-30 08:47] rveerama1 commented on #4594
Already addressed by https://github.com/zephyrproject-rtos/zephyr/pull/4562

[2017-10-30 08:48] #4580 closed

[2017-10-30 08:48] #4594 closed

[2017-10-30 09:51] erwango opened #4628 "Sample app enabling sensors on disco_l475_iot1 board"
Board disco_l475_iot1 board embeds several sensors (hts221, LIS3MDL, LSM6DSL, LPS22HB)
Provide a board specific app making all work together.

[2017-10-30 11:04] vakulgarg opened #4630 "Sample app 'coaps_server' fails to parse coap pkt"
On running coaps_server sample, it fails and displays error:

"Could not parse packet".

I am using steps provided with example's README file.
The non-dtls variant of same sample application coap_server works as expected.

------------------------------------------------------------------------------------------
On digging into code, I found that the api coap_packet_parse() expects that input 'net

[2017-10-30 14:45] carlescufi commented on #2954
No, because only the RX path is interrupt-driven at this point. The TX path relies on uart_poll_out()

[2017-10-30 14:49] SharanIoT commented on #4567
Hi Jehudi,

Thats a useful info! I think I need to setup a linux machine for Mesh Testing :)

Thanks & Regards,
Sharan

[2017-10-30 15:18] #4565 closed

[2017-10-30 16:05] #1630 closed

[2017-10-30 16:27] jfischer-phytec-iot commented on #4592
I think Coverity makes a mistake here, I will leave it open until someone confirms.

[2017-10-30 16:27] jfischer-phytec-iot commented on #4591
I think Coverity makes a mistake here, I will leave it open until someone confirms.

[2017-10-30 16:32] dleach02 commented on #4592
sounds good. I've been told that Coverity is run manually about once a week so lets see what the next report posts.

[2017-10-30 16:51] MaureenHelm opened #4633 "Implement flash page layout api in the Kinetis flash driver"
Note that the Kinetis flash driver applies to multiple SoCs, not just k64. Try to implement this api using macros from the MCUX device feature file (e.g., MK64F12_features.h) to make it portable across Kinetis SoCs.

[2017-10-30 16:53] nashif commented on #1429
was this fixed?

[2017-10-30 16:54] #1241 closed

[2017-10-30 17:07] mike-scott commented on #1429
Not yet.  I can land a patch for this after the multi-fragment support is merged.

[2017-10-30 20:16] mike-scott opened #4634 "LwM2M: no tests to ensure working functionality"
Need to discuss and implement a sane approach for running functional tests on the LwM2M subsystem.

[2017-10-30 21:07] d3zd3z commented on #3885
#4389 Is part of this, start of cleaning up the entropy drivers.

[2017-10-30 22:59] micheljung opened #4635 "xtensa-esp32-elf-gcc.exe: error: unrecognized command line option '-no-pie'"
OS: Windows 10
Board: ESP32
Zephyr at [e5b3918](https://github.com/zephyrproject-rtos/zephyr/commit/e5b3918a9ffc80e6ba079c6a0eff60aaa42917d0)
esp-idf at [dc8c338](https://github.com/espressif/esp-idf/commit/dc8c33892e0082822c4c69afa201c02d9758a1c0)
ESP32 Win32 msys2 environment: [2017-09-18](https://dl.espressif.com/dl/esp32_win32_msys2_environment_and_toolchain-20170918.zip)

    MSYS zephyr/samp

[2017-10-31 06:29] Shilpashree3lc opened #4637 "[Coverity CID: 178334] Null pointer dereferences in /subsys/usb/class/netusb/function_ecm.c"
Static code scan issues seen in File: /subsys/usb/class/netusb/function_ecm.c
 Category: Null pointer dereferences
 Function: ecm_send
 Component: Other
 CID: 178334
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-10-31 08:04] ramakrishnapallala opened #4638 "build is failing when newlib is enabled"
timer_monotonic (tests/kernel/timer/timer_monotonic/) is throwing following warnings when we compile the test with newlibc enabled (CONFIG_NEWLIB_LIBC=y).

And due this shippable is failing on newlibc dependent patches.

In file included from /home/rpallala/ssg-otc/zephyr/31st-Oct/zephyr/tests/kernel/timer/timer_monotonic/src/main.c:9:0:
/home/rpallala/ssg-otc/zephyr/31st-Oct/zephyr/tests/kernel/t

[2017-10-31 08:15] ramakrishnapallala commented on #4638
The issue coming from the following TC_PRINT statement:
tests/kernel/timer/timer_monotonic/src/main.c

TC_PRINT("diff = %" PRId32 " (t_last = %" PRIu32
                                 " : t_now = %" PRIu32 "); i = %u\n",

If change the statement as below, no issue is seen:
 TC_PRINT("diff = %d (t_last = %u : t_now = %u); i = %u\n",
                                 diff, t_last, t_now, i);

what i

[2017-10-31 10:09] carlescufi opened #4644 "Kconfig warnings when building any sample for nRF5x"
[code]

[2017-10-31 10:10] carlescufi commented on #4644
Any idea what introduced this? I've seen it for the last few days

[2017-10-31 10:41] carlescufi commented on #4644
@MaureenHelm seems like this commit by you is the culprit after bisecting: 7a60782f6767e22e502f5d24c8956de477c9b2fb

[2017-10-31 14:59] pfalcon commented on #4607
Fixed, thanks.

[2017-10-31 14:59] #4607 closed

[2017-10-31 15:00] pfalcon commented on #3547
While we aren't yet in the optimization stage, some more obvious issues are already being addressed: https://github.com/zephyrproject-rtos/zephyr/issues/4421

[2017-10-31 16:37] SebastianBoe opened #4652 "Document "make flash" in the "application development primer""
"make flash" is an important feature of Zephyr, but the application development primer does not mention it.

Instead this feature is discoverable through various board and sample doc's.

make flash is so important that it should be mentioned in the application development primer.

[2017-10-31 16:53] pfalcon opened #4653 "net: tcp->recv_max_ack isn't used"
We maintain tcp->recv_max_ack, but never really use. Let's decide if we drop it now or keep dragging along. (IIRC, RFC 793 uses it for something, but for what...).

(A note because I plan to a "more useful" field, it can be added instead, or in addition to an unused field like recv_max_ack).

[2017-10-31 16:53] pfalcon commented on #4653
@tbursztyka , @lpereira , @askawu : FYI

[2017-10-31 17:23] MaureenHelm commented on #4644
This problem seems limited to Nordic boards, as I don't see it happening on NXP or ST boards. Most of the clock control drivers are conditioned upon the SoC series, except for the NXP clock control driver which uses a `depends on HAS_MCUX_SIM` instead. I think the problem may be that the Nordic SoCs `select CLOCK_CONTROL` in Kconfig.series whereas everything else does it in defconfigs.

[2017-10-31 17:24] SebastianBoe opened #4654 "Wrong file name for drivers/aio/aio_comparator_handlers.o"
@andrewboie : Should be .c, not .o

https://github.com/zephyrproject-rtos/zephyr/commit/9c37af10ece52e8c992e1c14464431be896cb218

[2017-10-31 17:27] SebastianBoe commented on #4654
Same with drivers/flash/flash_handlers.o

[2017-10-31 18:05] carlescufi commented on #4644
@MaureenHelm thanks for looking into this. I tried selecting CLOCK_CONTROL in the board defconfig, but the problem is that our SoC requires clock control by default because it includes the NRF_TIMER, which replaces the SysTick and itself uses the clock control, so I don't think that's a solution, since clock control is an integral part of our SoCs and should indeed be in the Kconfig.series

[2017-10-31 18:16] mike-scott commented on #1429
These configs will be addressed in the upcoming patches to support LwM2M bootstrap.  If there's a priority I can remove them, but some of the code will come right back later.

[2017-10-31 19:03] nashif commented on #3941
resolved by #4548

[2017-10-31 19:20] andrewboie commented on #4654
fixing this now

[2017-10-31 19:48] nashif commented on #3852
fixed by d0f6ce2d9858095809f2f517e384df78a14b9d0e

[2017-10-31 19:51] #4654 closed

[2017-10-31 21:40] MaureenHelm commented on #4644
Can you do it in the SoC defconfig rather than the board defconfig? Although Kinetis doesn't use clock control to replace the SysTick, it does need clock control for the uart and thus the console. So it's pretty essential for Kinetis too.

[2017-11-01 07:47] #4581 closed

[2017-11-01 08:00] #4637 closed

[2017-11-01 09:00] finikorg commented on #4606
I consider this not a bug but feature. Until we get proper Vendor ID we cannot invent those values and put to the project configuration files. Automation issues are resolved in sample.yaml configurations.

[2017-11-01 10:03] carlescufi commented on #4644
Addressed by: https://github.com/zephyrproject-rtos/zephyr/pull/4663

Build currently failing there because of a UART warning issue unrelated to this.

@MaureenHelm can you take a look?

[2017-11-01 11:04] galak opened #4666 "x86 device trees need interrupt controller nodes"
None of the x86 device tree files have interrupt controller nodes or interrupts in the various devices described in the .dts

[2017-11-01 11:05] carlescufi commented on #4644
Fixed and merged by #4663

[2017-11-01 11:05] #4644 closed

[2017-11-01 11:06] galak opened #4667 "x86 boards need device trees"
galileo, minnowboard & panther need device trees

[2017-11-01 12:36] #4652 closed

[2017-11-01 12:55] SebastianBoe opened #4668 "drivers/random/random_handlers.c is built when no random driver has been kconfig'ed into the build"
Hi,

after checking out the latest master I was surprised to see

   /home/sebo/zephyr-sdk-0.9.2-rc5/sysroots/x86_64-pokysdk-linux/usr/bin/i586-zephyr-elf/i586-zephyr-elf-ld -nostartfiles -nodefaultlibs -nostdlib -static   -r -o drivers/random/built-in.o drivers/random/random_handlers.o

when building an application that didn't use a random driver. I am not familiar with the handler system,
but I

[2017-11-01 13:04] MaureenHelm commented on #4644
LGTM. Thanks!

[2017-11-01 14:30] jukkar commented on #4630
This is related to issue described in commit 4fea5b18ab6aeb6db691589e227051a299f63528
As there is no IP header after packet is received from DTLS tunnel, the coap library fails to parse it. I am working on a similar fix as described in above commit.

[2017-11-01 17:16] pfalcon commented on #3547
I find it harder and harder to look thru code and not do anything about it. #4673.

[2017-11-01 17:28] andrewboie commented on #4668
I think the real problem is in drivers/Makefile

You'll see that most of the subsystems are only built if turned on by some Kconfig.
However, for console, entropy (random), serial, display, crc, and interrupt_controller, this is not the case.

In order to only build the entropy handlers if a entropy driver is built, need some Kconfig to indicate this condition.

[2017-11-01 17:30] andrewboie commented on #4638
The fix is to not mix zephyr/types.h and newlib's inttypes.h which this code appears to be doing

[2017-11-01 17:30] andrewboie commented on #4638
http://pubs.opengroup.org/onlinepubs/009695399/basedefs/inttypes.h.html

We used to use these.
Then it was decided for Zephyr to use its own types instead.

[2017-11-01 17:36] andrewboie commented on #4668
They aren't used by the drivers per se.
They are the landing site when a user thread makes a system call to use some driver API. The handlers need to be built, otherwise any system call for that API will trigger an "unimplemented system call" error and kill the calling thread.
Their purpose is to validate the arguments passed in from user mode, and then call the real implementation.

[2017-11-01 17:37] andrewboie commented on #4505
You'd have to have Make pass a different return value if the build fails due to link in order for this to be possible, as the parallel build is controlled by Make and not sanitycheck.

[2017-11-01 17:50] SebastianBoe commented on #4668
"In order to only build the entropy handlers if a entropy driver is built, need some Kconfig to indicate this condition."
Right. Long-term there should be some kind of standard, CONFIG_HAS_DRIVER_RANDOM, or whatever, you could probably find an ad-hoc standard by examining the KConfig sources.

Short-term you can close this as won't fix if you want. CMake is ifdef'ing away the entire random driver

[2017-11-01 21:00] lpereira commented on #4588
Closing as fixed by #4655.

[2017-11-01 21:00] #4588 closed

[2017-11-01 21:02] lpereira commented on #4587
Closed as fixed by #4655.

@Shilpashree3lc, please add the function name and filename in the title for the next reports.  It makes it easier to scan through the list of issues finding things that might pose some risk.

[2017-11-01 21:02] #4587 closed

[2017-11-01 21:02] lpereira commented on #4585
Closed as fixed by #4655.

[2017-11-01 21:02] #4585 closed

[2017-11-01 22:09] micheljung opened #4682 "http_server example fails for ESP32"
OS: Windows 10
Board: ESP32
Zephyr at [e5b3918](https://github.com/zephyrproject-rtos/zephyr/commit/e5b3918a9ffc80e6ba079c6a0eff60aaa42917d0)
esp-idf at [dc8c338](https://github.com/espressif/esp-idf/commit/dc8c33892e0082822c4c69afa201c02d9758a1c0)
ESP32 Win32 msys2 environment: [2017-09-18](https://dl.espressif.com/dl/esp32_win32_msys2_environment_and_toolchain-20170918.zip)

Trying to build `zep

[2017-11-01 22:58] nashif commented on #3588
use GH-3704

[2017-11-01 22:58] #3588 closed

[2017-11-01 22:59] nashif commented on #4667
duplicates #3704

[2017-11-01 22:59] #4667 closed

[2017-11-01 23:00] nashif commented on #3704
@galak tracking this here

[2017-11-02 01:29] Likailiu opened #4683 "net: tcp tcp_retry_expired cause assert"
The tcp_retry_expired function that is executed each time the timer expires. The function is executed by the system clock interrupt handler. When executing net_context_unref in tcp_retry_expired,  k_sem_take(&contexts_lock, K_FOREVER) will cause assert. @jukkar

[2017-11-02 04:08] lpereira commented on #4682
It's not possible currently to use mbedtls on ESP32 due to the library size exceeding the few dozen kilobytes that the first stage bootloader will be able to load.

The first stage bootloader is part of the ESP32 ROM and has some limitations.  This bootloader currently loads everything into RAM and runs from there.  We would need a second stage bootloader that would load Zephyr from the flash and

[2017-11-02 04:09] ramakrishnapallala commented on #4638
Can i the "inttypes.h" and use regular format specifiers(%d/, %u) to fix the issue?

[2017-11-02 04:27] vakulgarg commented on #4630
Hi Jukka

Isn't it a layer violation to require coap library having to deal with
transport (& possibly DTLS) headers?
IMO, coap library should be passed only the data relevant to it.
The other headers if any should be stripped by application itself.

Regards

Vakul

On Wed, Nov 1, 2017 at 8:00 PM, Jukka Rissanen <notifications@github.com>
wrote:

[2017-11-02 06:48] vakulgarg opened #4684 "mtls and tinycrypt crypto drivers not returning number of bytes written to output buffer"
In structure cipher_pkt, there is an output field 'out_len'. This is supposed to return back to the caller number of bytes written in output buffer.

The said field is left uninitialized by the crypto apis (e.g. cipher_ccm_op).

[2017-11-02 07:46] tbursztyka commented on #4684
Up to the crypto driver to do so. But heh, now you mentioned this: both mtls and tc shim drivers do not set it. Only the ataes132c and cc2520 do it properly.

[2017-11-02 08:44] tbursztyka commented on #3547
All out of bubblegum? ;P

[2017-11-02 09:02] jukkar commented on #4630
Coap library does not need information about the actual data in transport headers, it needs to know where the user payload (=coap in this case) starts etc. So it might be enough if we set this accounting information properly in net_pkt, but I need to investigate this more. Currently the coaps code just strips away the transport headers but does not update the packet accounting information.

[2017-11-02 09:02] vakulgarg commented on #4684
Right. Only mtls and tinycrypt shims miss it.

On 02-Nov-2017 1:16 PM, "Tomasz Bursztyka" <notifications@github.com> wrote:

[2017-11-02 10:43] jfischer-phytec-iot commented on #4606
currently it is desired behavior

[2017-11-02 11:17] nashif commented on #3065
see https://www.youtube.com/watch?v=T-Qamm11UfI

[2017-11-02 11:51] SebastianBoe opened #4687 "Windows: Remove all dependencies on MSYS2"
Definition Of Done: Windows users must be able to use all officially supported build system features without having a dependency on any form of unix emulation layer; MinGW/MSYS2/Cygwin/WSL.

Informally; Windows users should not need to install unix tools, the Zephyr host-side infrastructure should purely have portable dependencies such as python.

# Blockers
- [x] Kconfig
  - [x] merge_config.sh (

[2017-11-02 12:23] nashif commented on #3065
more references: https://github.com/EmbeddedRPC/erpc

[2017-11-02 12:36] pfalcon opened #4690 "net: RFC: Make the last arg ("data") of net_frag_read() be void* instead of u8_t*"
Oftentimes, net_frag_read() is used to read values directly into integral variables, e.g.

[code]

Usage like that requires constant (and thus excessive) use of casts (`(u8_t *)&mss` in the example above). Why, if we just can make arg to arg void* ? We don't get much more type safety with u8_t*, but definitely get compromised readability (we have code where net_frag_read() is called literally doze

[2017-11-02 12:43] #4630 closed

[2017-11-02 13:01] #1236 closed

[2017-11-02 15:10] nashif opened #4695 "samples/net/ieee802154 needs documentation"
Being under samples without any instructions how to use it makes this very useless, please add documentation on how this sample can be used.

[2017-11-02 15:10] nashif commented on #4463
related to #4695

[2017-11-02 16:13] pfalcon opened #4697 "[regression] net: echo_server doesn't accept IPv4 connections"
With master 3b1cb4a309a92d (latest):

[code]

On Linux side:

[code]

[2017-11-02 18:38] micheljung opened #4699 "PWM LED Driver for ESP32"
I'd like to use PWM with the ESP32, but (with my limited knowledge) I understand that there is no such driver yet? I expected it to be listed in #3471 but for some reason, it's not.

If I got it right and it's missing, I'm willing to pay [a $100.- Bounty](https://www.bountysource.com/issues/51086816-pwm-driver-for-esp32) for it.

[2017-11-02 19:53] #4463 closed

[2017-11-02 19:53] #4695 closed

[2017-11-03 02:23] #3412 closed

[2017-11-03 09:41] rrahulkx opened #4705 "tests/net/socket/tcp/ :undefined reference to `__getreent"
observed Build failure issue while running this testcase.

Work around:

testcase ---> zephyr/tests/net/socket/tcp

1) export ZEPHYR_GCC_VARIANT=espressif

2)make BOARD=esp32

Report is pasted below :---

xtensa-esp32-elf/bin/../lib/gcc/xtensa-esp32-elf/5.2.0/../../../../xtensa-esp32-elf/lib/libc.a(lib_a-strtol.o):(.literal+0x8): undefined reference to `__getreent'
xtensa-esp32-elf/bin/../lib/gcc/

[2017-11-03 10:33] rrahulkx opened #4709 "tests/kernel/fatal/testcase.yaml#stack-sentinel : Kernel Panic"
When I ran this testcase .Their is failure due to kernel panic issues.

The report which I obtain is pasted below :--

Detailed description
====================
Automated test run failed.

Output (the target might have produced none; GDB will be needed at this point):

 build passed: 'mkdir -p outdir-qryy-lbab-quark_se_c1000_devboard; rm -f outdir-qryy-lbab-quark_se_c1000_devboard/.config'

 build

[2017-11-03 12:42] jukkar commented on #4705
Actually this is not a networking issue but esp32 issue.

[2017-11-03 12:49] jukkar commented on #4541
Already fixed by commit 972992c524b6004e53207d26a179cb6767098cca

[2017-11-03 12:49] #4541 closed

[2017-11-03 12:56] jukkar commented on #4540
Fixed by commit 7929db12bb8cee55a1c83ad2871ef5876ed1e753 although that commit has wrong Coverity ID in commit message.

[2017-11-03 12:56] #4540 closed

[2017-11-03 13:14] tbursztyka commented on #4442
the sample does not exist any-more so, closing

[2017-11-03 13:14] #4442 closed

[2017-11-03 13:15] tbursztyka commented on #4099
This sample does not exist any-more. closing

[2017-11-03 13:15] #4099 closed

[2017-11-03 13:24] tbursztyka opened #4713 "SPI: Update drivers to drop support of the legacy API"
- [x] mcux driver
- [x] nrf driver  (note: all drivers starts with spi_ prefix, there is _no_ spis_ spim_: instead it should be spi_nrf5_master.c, spi_nrf5_slave.c for instance)
- [x] intel driver (question: do we still support Galileo board? if not, this driver could be removed.)
- [x] qmsi driver
- [x] qmsi ss driver

[2017-11-03 13:25] mbolivar commented on #4687
Flashing and debugging bash scripts are done

[2017-11-03 14:09] #4697 closed

[2017-11-03 15:13] lpereira commented on #4699
What PWM controller are you talking about? There are two: LED control PWM and motor control PWM.

[2017-11-03 15:40] micheljung commented on #4699
See, I didn't even know there's a difference ;) LED.

[2017-11-03 16:01] micheljung commented on #3471
What about Bluetooth?

[2017-11-03 16:50] lpereira commented on #3471
Bluetooth and WiFi are on the roadmap, yes, but the hardware isn't documented publicly (and it's very unlikely it'll ever be; there are some reverse engineering efforts for ESP8266 but not much for ESP32 last time I checked).

Espressif provides a binary blob to support them but they're heavily tied into FreeRTOS; it's possible to provide some shims implementing some FreeRTOS structs and functions

[2017-11-03 19:12] agross-linaro opened #4722 "Documentation of test policy on new code"
The project needs to provide a stated policy on testing of new functionality.  This should include something about adding additional coverage in automated test suites.

This is in reference to CII badge New Functionality Testing - https://bestpractices.coreinfrastructure.org/projects/74#quality

[2017-11-03 19:42] andrewboie commented on #4709
Why is this not failing in CI?
I think you are running this test with incorrect configuration.

[2017-11-03 19:44] andrewboie commented on #4687
gperf might be a really tough one, it is used to generate perfect hash tables of kernel object pointers which are needed by memory protection features, if you don't want to use it we would have to re-implement it in Python.
@lpereira you were looking at this at one point?

[2017-11-03 20:13] lpereira commented on #4687
@andrewboie I was.  I might return to it sometime if there's a real need.

I'm working on dtc right now.

[2017-11-03 21:52] nashif opened #4724 "sanitycheck build_only option can be confusing"
[code]
A few things:
- this should not be a QEMU thing, although we do run most cases in qemu only, there might be other emulation platforms other than Qemu, for example xt-sim, renode, etc.
- We do have some testcases which are true 'build_only', meaning that they should never run on anything, i.e not designed to run on hardware or emulation. For example we have footprint benchmarks that remove a

[2017-11-03 23:46] lpereira commented on #4687
A dtc implemented in Python is here: https://github.com/zephyrproject-rtos/zephyr/pull/4728

Some error checking should be introduced, but overall, this should work fine. Review appreciated.

I'll look into gperf next week.  The prototype I have isn't working well in some cases; I might implement the same algorithm that gperf uses instead.

[2017-11-04 00:08] mbolivar commented on #4687
The perfect hash table algorithm itself is not that complicated. What is the concern here that makes it a "really tough one"?

[2017-11-04 00:09] mbolivar commented on #4687
Example: https://github.com/eddieantonio/perfection

[2017-11-06 03:47] wayen30 opened #4738 "ble-mesh: proxy.c : Is clients-> conn a clerical error? it should be client-> conn?"
In function bt_mesh_proxy_prov_disable  & bt_mesh_proxy_gatt_disable
		if (clients->conn && client->filter_type == PROV) {
Is clients-> conn a clerical error? it should be client-> conn?

[2017-11-06 04:42] ramakrishnapallala commented on #4638
PR merged:
https://github.com/zephyrproject-rtos/zephyr/pull/4703

[2017-11-06 04:42] #4638 closed

[2017-11-06 08:46] nniranjhana commented on #3922
@rmstoi This test case passes in my environment, with current revision of zephyr and auto-pts, and PTS 7.1.1 build, can close the bug.

[2017-11-06 09:16] rmstoi commented on #3922
@nniranjhana thanks, I will close the bug.

[2017-11-06 09:16] #3922 closed

[2017-11-06 11:28] rrahulkx opened #4744 "tests/net/ieee802154/l2/testcase.yaml#test : unable to acknowledge data from receiver"
After re -producing this test case the failure log is pasted below.

**The Report is pasted below**:

configure passed
build passed: 'mkdir -p outdir-fm7j-rhok-qemu_x86; rm -f outdir-fm7j-rhok-qemu_x86/.config'

build passed: 'make -C zephyr/tests/net/ieee802154/l2/
EXTRA_CFLAGS="-Werror -Wno-error=deprecated-declarations"
KCPPFLAGS=-DTC_RUNID=:rhok
BOARD=qemu_x86 ARCH=x86
O=outdir-fm7j-rhok-qemu_

[2017-11-06 12:10] #4421 closed

[2017-11-06 12:27] tbursztyka commented on #4744
Works just fine here, I have been running it many times.

Could you paste the generated .config ?

[2017-11-06 15:16] #4683 closed

[2017-11-06 17:43] linkmeyer commented on #4012
Set as low priority per Andrei L's input.

[2017-11-06 17:50] lpereira commented on #4687
There are many perfect hashes out there; we just need to find one that lets us build a hash function that do not require the use of a modulus operator (as integer division is quite costly).  Making the table size a power of two will help, but it's not always easy to do depending on the perfect hashing algorithm.  gperf isn't a perfect *minimal* hash table because of this.

But, yeah, I'm sure that

[2017-11-06 18:40] linkmeyer commented on #4366
@andyross , what's your status in getting this bug fixed?  It's a high priority kernel bug which has been open for 20 days.

[2017-11-06 19:54] andrewboie commented on #4724
I don't think this is a good way to look at it.
I think the QEMU targets should be treated like any other HW platform, with YAML files describing capabilities that are filtered on to run tests.
"build_only" should be used only for those tests that really shouldn't be run on any platform, for things  like footprint, or samples which do not report pass/fail status.
If people are using "build only" t

[2017-11-06 21:07] iha commented on #4699
Hi @micheljung , I have started to study the ESP32 PWM in the datasheet and will keep you informed as soon as I have any progress.

[2017-11-07 05:00] vakulgarg opened #4757 "kw41z-frdm: assertion failure while setting IRQ priority"
While running any networking demo e.g. in zephyr/samples/net/sockets/echo/, we get an assertion failure if we define CONFIG_ASSERT=y in project configuration.

The assert in the  function _irq_priority_set() is failing.
On disabling CONFIG_ASSERT, the application can start.

[2017-11-07 06:39] nniranjhana opened #4759 "[PTS] GATT/CL/GAW/BV-02-C fails with INCONC"
_Test Env:_
Zephyr Revision: master/c968e102e679f41f0fd2016fea7391f4c121a320
PTS: 7.1.1
Host: Win 10 64 bit Enterprise, with Intel® Core i5-6300U CPU @2.40GHz, 8 GB RAM
BT USB Dongle: PTS Dongle
Client: Arduino 101 flashed with current Zephyr Revision

Attached log below.

[2017-11-07 06:40] nniranjhana commented on #4759
[autoptsclient-zephyr.log](https://github.com/zephyrproject-rtos/zephyr/files/1448927/autoptsclient-zephyr.log)

[2017-11-07 07:33] ydamigos commented on #4459
PR #4572 was merged.

[2017-11-07 07:33] #4459 closed

[2017-11-07 08:34] spring-z opened #4760 "stm32f4_disco and frdm_k64f samples/basic/blink_led ,Choose supported PWM driver"
[code]

[2017-11-07 08:56] linkmeyer commented on #3363
Reassigned to Savinay per Manoj after Andrew suggested it be reassigned due to his bandwidth and other priorities.

[2017-11-07 09:52] youvedeep opened #4762 "[nrf][power][Sample] nrf52 exits from Low Power Mode immedately"
**Expected Behavior :-**
nrf52 Sample Application "samples/boards/nrf52/power_mgr/", demonstrates Low Power Mode and Deep Sleep state entry and Exit.  Device should enter into Low power mode and it should not exit from this till GPIO Button (Button 1) is pressed.

**Actual Behavior :-**
Device is exiting from Low Power state immediately on entering.

**Debug  :-**
1. Device stays into Low Power St

[2017-11-07 11:08] rrahulkx opened #4766 "kernel: mem_pool_api test case fails on quark_d2000_crb board"
TC failed while executing on zephyr Commit ID:-c968e102e679f41f0fd2016fea7391f4c121a320
From the log the TC does not seem to complete.

Failure log is pasted below:-

Detailed description
====================
configure passed
build passed: 'mkdir -p outdir-d4pp-aoov-quark_d2000_crb; rm -f outdir-d4pp-aoov-quark_d2000_crb/.config'
build passed: 'make -C zephyr/tests/kernel/mem_pool/mem_pool_api/
EX

[2017-11-07 11:26] jfischer-phytec-iot opened #4767 "USB: assign endpoints at runtime"
The configuration of the USB endpoints in the corresponding Kconfigs is too cumbersome and has to be done for each board/SoC and USB class/function.

USB device stack can assign the endpoints at runtime by using something like usb_ep_capabilities:

[code]

[2017-11-07 11:29] jfischer-phytec-iot commented on #4767
@finikorg @ydamigos @youvedeep
I can add it to #4661 if there are no objections.

[2017-11-07 12:40] finikorg commented on #4767
I have also PR #4763 . This allows to select endpoints.

[2017-11-07 13:43] ydamigos commented on #4767
I agree that it is cumbersome and not flexible to configure USB endpoints for each board/SoC and USB class/function, like we do in commit ca13e798ff183aeba2a563b879cadd7e0401dab4 for 96b_carbon. We should assign the endpoints at runtime. You could do it in PR #4661 or ,even better, a different one to keep things clear and not connect it with the USB descriptors rework.

[2017-11-07 18:25] dbkinder opened #4772 "doc: add contributing info about shippable failures"
The [contributing guidelines](http://docs.zephyrproject.org/contribute/contribute_guidelines.html) should be updated to include information about shippable and how to see failure logs.  Some new contributors are struggling to figure out why their PRs are failing.

[2017-11-07 18:43] nashif commented on #4772
struggling why? There is a link that can be followed which has the summary and test results.

[2017-11-08 00:43] nashif opened #4777 "need a testcase for version number of the kernel and version.h"
we need a testcase to verify version.h which is generated by the build system to insure correct syntax.

[2017-11-08 04:26] askawu opened #4779 "net: tcp: FIN isn't sent when performing active close."
Hi,

I found TCP server doesn't send FIN to the client when performing active close.  Following are how to reproduce this issue.

### Zephyr as TCP server
- Apply patches
[code]
[code]
- cd samples/net/sockets/echo/; make run

### Netcat as TCP client
- echo "bye" > msg
- cat msg - | nc 192.0.2.1 4242
   - "cat" will wait for stdin, so the connection will not be closed by netcat immediately.

###

[2017-11-08 08:07] Shilpashree3lc opened #4780 "[Coverity CID: 178794] Error handling issues in /tests/subsys/dfu/mcuboot/src/main.c"
Static code scan issues seen in File: /tests/subsys/dfu/mcuboot/src/main.c
 Category: Error handling issues
 Function: test_bank_erase
 Component: Tests
 CID: 178794
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-08 08:07] Shilpashree3lc opened #4781 "[Coverity CID: 178793] Incorrect expression in /tests/kernel/static_idt/src/static_idt.c"
Static code scan issues seen in File: /tests/kernel/static_idt/src/static_idt.c
 Category: Incorrect expression
 Function: testing_static_idt
 Component: Tests
 CID: 178793
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-08 08:07] Shilpashree3lc opened #4782 "[Coverity CID: 178792] Memory - illegal accesses in /subsys/net/lib/http/http_app_server.c"
Static code scan issues seen in File: /subsys/net/lib/http/http_app_server.c
 Category: Memory - illegal accesses
 Function: http_send_error
 Component: Networking
 CID: 178792
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-08 08:07] Shilpashree3lc opened #4783 "[Coverity CID: 178791] Incorrect expression in /tests/kernel/static_idt/src/static_idt.c"
Static code scan issues seen in File: /tests/kernel/static_idt/src/static_idt.c
 Category: Incorrect expression
 Function: testing_static_idt
 Component: Tests
 CID: 178791
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-08 08:07] Shilpashree3lc opened #4784 "[Coverity CID: 178790] Memory - corruptions in /samples/net/http_server/src/main.c"
Static code scan issues seen in File: /samples/net/http_server/src/main.c
 Category: Memory - corruptions
 Function: http_connected
 Component: Samples
 CID: 178790
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-08 08:07] Shilpashree3lc opened #4785 "[Coverity CID: 178789] Null pointer dereferences in /samples/net/http_server/src/main.c"
Static code scan issues seen in File: /samples/net/http_server/src/main.c
 Category: Null pointer dereferences
 Function: http_received
 Component: Samples
 CID: 178789
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-08 08:07] Shilpashree3lc opened #4786 "[Coverity CID: 178788] Control flow issues in /tests/net/context/src/main.c"
Static code scan issues seen in File: /tests/net/context/src/main.c
 Category: Control flow issues
 Function: timeout_thread
 Component: Tests
 CID: 178788
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-08 08:07] Shilpashree3lc opened #4787 "[Coverity CID: 178787] Null pointer dereferences in /subsys/net/ip/net_context.c"
Static code scan issues seen in File: /subsys/net/ip/net_context.c
 Category: Null pointer dereferences
 Function: tcp_backlog_find
 Component: Networking
 CID: 178787
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-08 08:07] Shilpashree3lc opened #4788 "[Coverity CID:178786] Memory - corruptions in /samples/net/http_server/src/main.c"
Static code scan issues seen in File: /samples/net/http_server/src/main.c
 Category: Memory - corruptions
 Function: main
 Component: Samples
 CID: 178786
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-08 08:07] Shilpashree3lc opened #4789 "[Coverity CID: 178785] Incorrect expression in /tests/kernel/static_idt/src/static_idt.c"
Static code scan issues seen in File: /tests/kernel/static_idt/src/static_idt.c
 Category: Incorrect expression
 Function: testing_static_idt
 Component: Tests
 CID: 178785
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-08 09:36] SebastianBoe opened #4791 "rpl-node uses testcase.ini instead of sample.yaml format"

[2017-11-08 09:40] gurucharanx commented on #4188
Configuring the CONFIG_NET_APP_NEED_IPV4=y or CONFIG_NET_APP_NEED_IPV6=y along with CONFIG_NET_IPV4=y or CONFIG_NET_IPV6=y solves only the problem of connection between the sockets in the particular domain. But still facing the issue of packets transfer between the sockets.

[2017-11-08 09:48] SebastianBoe commented on #4791
Also, as a related issue.

I could not get rpl-node to build with qemu_x86.

Does anyone know how to get it to build?

[2017-11-08 10:12] rveerama1 commented on #4791
rpl-node is not intended for qemu purpose. Main purpose of this sample is to run it on h/w and joins in real RPL mesh network. So simple 'make' should compile sources at-least.

[2017-11-08 10:47] spring-z commented on #4760
@galak

[2017-11-08 15:04] galak commented on #4760
@spring-z can you try and explain what issue are you running into?

[2017-11-08 15:10] SebastianBoe commented on #4791
Does not build with a simple make unfortunately. I suspect it has bit rotted.

[2017-11-08 16:47] spring-z commented on #4760
I try run samples to stm32f4_disco

[2017-11-08 16:47] galak commented on #4760
What are you specific build steps?

[2017-11-08 16:48] spring-z commented on #4760
➜  make BOARD=stm32f4_disco
Using /Volumes/Embedded/Zephyr/zephyr/boards/arm/stm32f4_disco/stm32f4_disco_defconfig as base
Merging prj.conf
#
# configuration written to .config
#
  GEN     ./Makefile
scripts/kconfig/conf --silentoldconfig Kconfig
  DTC     dts/arm/stm32f4_disco.dts_compiled
dts/arm/stm32f4_disco.dts_compiled: Warning (unit_address_vs_reg): Node /soc/pin-controller has a reg or ran

[2017-11-08 16:55] galak commented on #4760
Based on zephyr/samples/basic/blink_led/sample.yaml the only platforms this sample is buildable for are:
      platform_whitelist: arduino_101 quark_d2000_crb
        nucleo_f103rb nucleo_f401re nucleo_l476rg hexiwear_k64

So one needs to port the sample for the stm32f4_disco board

[2017-11-08 16:57] spring-z commented on #4760
Thanks, I need STM32 samples

[2017-11-08 18:03] spring-z commented on #4760
add PR

[2017-11-08 19:07] micheljung commented on #3471
I contacted Espressif support about it, they told me:

So it sounds to me like they might be willing to help?

[2017-11-08 20:13] spring-z commented on #4760
@erwango

[2017-11-08 20:20] jukkar commented on #4788
This is false positive.

[2017-11-08 20:20] #4788 closed

[2017-11-08 21:03] spring-z commented on #4760
Sorry. CI block. I am trying to meet the standard.

[2017-11-09 04:35] agross-linaro commented on #4015
There appears to be an issue with the emulation not doing the right thing w.r.t. the region.  I contacted the qemu guys and I am working with them to resolve this.

[2017-11-09 07:01] vakulgarg opened #4825 "Bluetooth IPSP error with qemu_x86"
On running bluetooth IPSP example on qemu_x86 (with kw41z-frdm board as HCI controller), the  IPSP example shows following error output on connecting from peer bluetooth endpoint.
The IPv6 link does not get established (i.e. ping does not work between zephyr and peer).

The same setup works fine with zephyr-1.9.1.
[code]

[2017-11-09 07:17] vakulgarg opened #4826 "Bluetooth IPSP example does not reach main() on qemu_cortex_m3"
Running IPSP example with BOARD=qemu_cortex_m3, kw41z-frdm board as HCI controller, the control does not reach application's main().

[2017-11-09 07:24] vakulgarg opened #4827 "Ping command crashes kernel over qemu_x86"
I am running IPSP example over qemu_x86. I have added 'CONFIG_NET_SHELL=y' in sample application's configuration.

After application starts, if ping is issued without any arguments, it crashes kernel with following log.
On BOARD=qemu_cortex_m3, the command prints error 'Invalid IP address'  and nicely terminates.

--------------------------------------------------------------------
[code]

[2017-11-09 08:13] erwango opened #4828 "device tree: Introduce bus objects (i2c-device)"
Bus objects are required in device tree to describe for instance a relation between I2C controller (bus master) and sensors (bus slaves).

In device tree, this could be described by defining slave as a subnode of master node.
For instance:
&i2c2 {
	lis3mdl-magn@1e {
		compatible = "st,lis3mdl-magn";
		reg = <0x1e>;
		label = "LIS3MDL";
	};
}

Subnode inherits of some of master node information:
*I

[2017-11-09 08:15] erwango opened #4829 "device tree: gpio"
Provide:
*device tree gpio description
*yaml description
*example of use on some platform

[2017-11-09 08:18] erwango opened #4830 "device tree: generate pinmux"
Generate board pinmux from device tree file.
Aim is to use fully pinmux information from dts and get rid of pinmux.c

[2017-11-09 08:23] erwango opened #4831 "disco_l475_iot1: Provide Wi-Fi"
A Wi-Fi chip (ISM43362-M3G-L44) is implemented on disco_l475_iot1 board.
Enable its support with Zephyr

[2017-11-09 08:24] erwango opened #4832 "disco_l475_iot1: Provide 802.15.4 Sub-GHz"
A Sub-GHz chip  (SPSGRF) is implemented on disco_l475_iot1 board.
Provide support with Zephyr

[2017-11-09 08:59] #4791 closed

[2017-11-09 10:10] loicpoulain commented on #4767
I agree that current solution is a pain, but I can understand that we want to define endpoints statically at build time since we have all the information we need to define which addr to use. the main issue is we need to deal with every endpoint address for each class/function driver + combination complexity. Ideally we should have a built-time macro USB_ALLOC_ENPOINT(BULK_IN) which takes care of r

[2017-11-09 10:58] jfischer-phytec-iot commented on #4767
It is not that evil. It would be desirable if all USB classes and functions were abstract and the user could combine own functions with those of Zephyr. Problem (1) is the USB device descriptor and (2) endpoints enumerating and assignment.

1. The descriptor must be fixed after it has been linked, that is: enumerating of the interfaces and its components, calculating the length of interfaces, stri

[2017-11-09 11:02] cobbler123 opened #4836 "connection disconnected due to Le timeout(0x22)"
Hi friend,
             When I test some android phone (such as 360 N5,xiaomi3,xiaomi4C,MotoX) connecting with My BLE Evb. The connection will be failed due to le timeout(0x22).
             After some debug and  analyse,  I get some clues about it:
             (1) this issue is related with feature –“LE_SLAVE_FEAT_REQ”. When I don’t call hci_le_read_remote_features, It is ok!
             (2) wh

[2017-11-09 15:58] galak opened #4841 "fix doc/devices/dts/device_tree.rst path and Make references"
We've moved things around so that the path's and references in doc/devices/dts/device_tree.rst aren't correct anymore.  We need to fix that all up.

[2017-11-09 16:30] galak commented on #4001
@andrewboie can you check and close it out if fixed.

[2017-11-09 16:31] carlescufi commented on #1488
Of the blocker todos, everything is done AFAICT except the documentation.

Carles: samples/**/*.rst (except samples/net)
@jukkar: samples/net/**/*.rst
@mbolivar: boards/**/*.rst

Anything else I'm missing?

[2017-11-09 16:31] galak commented on #3587
This should be address with PR #4843

[2017-11-09 16:40] carlescufi commented on #3682
Fixed by move to CMake, incremental builds work now.

[2017-11-09 16:40] #3682 closed

[2017-11-09 16:42] carlescufi commented on #1926
@nashif is this true with CMake now?

[2017-11-09 16:43] erwango opened #4844 "cmake: can't flash stm32 with openocd"
Error when flashing:
invalid command name "flash write_image erase /local/mcu/zephyr/zephyr-project/samples/hello_world/builds/disco_l475_iot1/zephyr/zephyr.bin 0x8000000"

Generated flash command:
[code]
Expected flash command (command that worked before cmak migration)

[code]

Following arg is missing:
 -s /local/mcu/zephyr-sdk/sysroots/x86_64-pokysdk-linux/usr/share/openocd/scripts

[2017-11-09 16:56] erwango commented on #4844
This used to be set by :
OPENOCD_DEFAULT_PATH ?= ${TOOLCHAIN_HOME}/usr/share/openocd/scripts.

But "export OPENOCD_DEFAULT_PATH=/local/mcu/zephyr-sdk/sysroots/x86_64-pokysdk-linux/usr/share/openocd/script" does not solve the issue.

More analysis needed

[2017-11-09 18:47] dbkinder opened #4847 "custom 404 error page not being shown on docs.zephyrproject.org"
Recent changes to where the zephyr project technical docs are hosted lost the custom 404 error page so folks are shown:
[code]
instead of being redirected to our custom error page  /404.html

[2017-11-09 21:13] andrewboie opened #4851 "cmake does not show verbose output of build tools"
In the old build system, if V=1 was passed to Make, then this would implictly pass --verbose flags to tools like gen_idt, gen_gdt, gen_kobject_list, etc...
This isn't happening any more, if I pass VERBOSE=1 to the build I see no debug output from post build tools.

[2017-11-09 22:00] nashif commented on #4851
Does

`cmake -DCMAKE_VERBOSE_MAKEFILE=ON .. -DBOARD=qemu_x86`

give you what you want?

[2017-11-09 22:06] andrewboie commented on #4851
that prints the output I am expecting yes
can we make "make VERBOSE=1" do this??

[2017-11-09 22:39] galak commented on #1571
Fixed by 4845.

[2017-11-09 22:39] #1571 closed

[2017-11-09 22:41] galak commented on #3587
Fixed by #4843

[2017-11-09 22:41] #3587 closed

[2017-11-09 23:06] inakypg opened #4853 "cmake: building unit test cases ignore EXTRA_* settings"
Tried building a unit test case with:

    $ mkdir -p /home/inaky/z/s/production/tmp/z2ie/outdir-z2ie
    $ cmake -DARCH=unit -DBOARD=unit_testing  -DEXTRA_CPPFLAGS="-DTC_RUNID=:z2ie" -DEXTRA_CFLAGS="-Werror -Wno-error=deprecated-declarations" -DEXTRA_AFLAGS=-Wa,--fatal-warnings -DEXTRA_LDFLAGS=--fatal-warnings  -B"/home/inaky/z/s/production/tmp/z2ie/outdir-z2ie" -H"zephyr.git/tests/ztest/test/moc

[2017-11-10 08:14] erwango commented on #4844
Additionally to need for OPENOCD_DEFAULT_PATH definition,
removing '\' chars from the command is needed for successful build

[2017-11-10 08:34] SebastianBoe commented on #4851
I'm not able to reproduce what was originally reported here.

Steps to reproduce:
https://asciinema.org/a/pseZ5zugMwdyaJ3ynCDQvnVUp

[2017-11-10 10:38] VVESTM opened #4864 "cmake: hts221 sensor sample not working anymore"
Hi,

Since the latest updates (I am on sha1 994ec924e37e220add2bef8da3c90367704113af), I cannot run anymore the sample application for hts221 sensor on disco_l475_iot1 board. I have this error message in the console :
   Could not get HTS221 device
I think this error is generic to all sensor sample applications.

Vincent

[2017-11-10 12:14] jhedberg commented on #4738
That's a good catch. Will send a fix PR in a moment.

[2017-11-10 12:55] #4844 closed

[2017-11-10 12:56] SebastianBoe commented on #4851
I can't see an easy way to do that unfortunately.

[2017-11-10 13:13] #4738 closed

[2017-11-10 13:32] SebastianBoe commented on #4864
A bug related to flashing that board was fixed
in this commit
f0346bfac04704a8d9ca4bdcea718b66d11de01c
on master

Could you update master again and see if the issue is resolved now?

I am hoping this is a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/4844

[2017-11-10 14:10] erwango commented on #4864
@SebastianBoe : I tested but unfortunately, this is another issue.

[2017-11-10 14:13] SebastianBoe commented on #4864
I'll have a closer look then.

[2017-11-10 14:25] erwango commented on #4864
Seems that generated .config file is fine.
Though, for some reason following files are not build:
  CC      drivers/sensor/hts221/hts221.o
  LD      drivers/sensor/hts221/built-in.o
  LD      drivers/sensor/built-in.o

[2017-11-10 14:25] SebastianBoe commented on #4864
Good catch, that narrows it down!

[2017-11-10 14:29] SebastianBoe commented on #4864
Right, got it, drivers/sensor/CMakeLists.txt is calling zephyr_sources instead of subdirectory.

Pushing a fix now.

Thanks a lot @erwango , I was debugging down the wrong path.

[2017-11-10 15:39] VVESTM commented on #4864
Hi,

Thanks a lot Sebastian !
I have tested with your patch and now, the hts221 sensor is working on this board.

It will be my model to port my PR related to vl53l0x sensor on cmake... (https://github.com/zephyrproject-rtos/zephyr/pull/829)

Regards
Vincent

[2017-11-10 15:42] SebastianBoe commented on #4864
Thank you for reporting @VVESTM :)

[2017-11-10 16:30] vakulgarg opened #4881 "device_get_binding() returns failure in sample/drivers/crypto"
Running zephyr/samples/drivers/crypto is failing with following error log.
API device_get_binding() fails to look the crypto device of given name.

[code]

[2017-11-10 18:14] nashif commented on #4864
should be fixed

[2017-11-10 18:14] #4864 closed

[2017-11-10 19:39] dbkinder opened #4883 "Should command line examples be "cut and paste" ready?"
With multi-line command line (bash) examples, it's convenient for users to just cut and paste them into a terminal window.  Our examples (mostly) start with a ``$`` on each line, making it inconvenient to cut and paste examples such as:
[code]
vs.
[code]

For examples that mix command and their output, I'm personally in favor of putting the ``$`` in, but for multi-line examples (without output) no

[2017-11-10 21:43] inakypg opened #4885 "cmake: IS_TEST guessing gets thrown off by symlinks"
cmake/app/boilerplate.cmake tries to guess if something is a testcase, to define IS_TEST that then is used to automatically bring in somethings

The test gets thrown off if ZEPHYR_BASE is set to PATH1 and the app source is set to PATH2, where part of PATH2 is a symlink to PATH1.

I'd suggest changing the target of the regex match to both get the canonical path name (equivalent to 'readlink -e')

[2017-11-10 23:54] mike-scott opened #4888 "LwM2M: Fix BT device pending / retry errors"
In the bluetooth L2 layer the packets are being compressed prior to send.  This means we cannot merely resend the existing packets upon a packet timeout in the LwM2M / CoAP libraries.  Much like they do in the TCP subsystem, we need to make a clone of the original data for the pending / retry process.

As a result, we are seeing a double unref on NON-bluetooth devices:
https://github.com/zephyrpro

[2017-11-10 23:54] nashif opened #4889 "Flashing EM Starterkit with EM7D fails on master"
This works fine on 1.9.x but fails on master with the new flashing scripts

[2017-11-11 19:42] nashif commented on #4885
Actually we should not make this depend on some directory, I would rather define IS_TEST in every testcase that needs that instead, i.e.

`set(IS_TEST 1)`

tests might be somewhere else and not in the directory structure of the project.

[2017-11-12 11:24] carlescufi opened #4899 "Convert opensda doc to CMake"
Convert this file:
https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/tools/opensda.rst
to now use the CMake conventions.

[2017-11-12 14:17] mnkp commented on #4889
Flashing on SAM E70 Xplained Atmel board also fails with new scripts. @nashif could you please describe EM Starterkit issue in more details so I know if it is the same failure mode or if we need a second ticket.

[2017-11-12 18:24] andrewboie commented on #4883
+1

[2017-11-13 06:17] Vudentz commented on #4888
Not following, is this suggesting to clone every single packet? Perhaps LwM2M should follow the TCP design and have its own poll to clone the packets for timeout handling.

[2017-11-13 06:19] Vudentz commented on #4888
Btw, this is not unique to Bluetooth, afaik any driver using 6lo compression will change the packet.

[2017-11-13 06:22] askawu opened #4901 "net: tcp: RST is sent after last ack is recieved"
Hi,

I found RST is sent to the peer if the last ack is received. Following are how to reproduce this issue.

### Zepher as TCP server
- cd samples/net/sockets/echo/; make run

### Netcat as TCP client
- echo "msg" | nc 192.0.2.1 4242

### Summary
- when "FIN,ACK" is received, zephyr performs a passive close and sends "FIN,ACK" to the peer.
- In tcp_established(), net context is released before th

[2017-11-13 06:24] askawu commented on #4901
@jukkar, I'm working on this issue, can you help to assign this issue to me?

[2017-11-13 06:49] askawu opened #4902 "Firmata support"
### Why
Firmata is a protocol for communicating with microcontrollers from software on a computer. There're many client implementations on the github. Most of them are different language binding, such as C++, Java, Python, Javascript, and Ruby. If Zephyr could support firmata as a server, existing client applications can communicate with Zephyr.

### How
- Evaluate the existing firmata server impl

[2017-11-13 07:40] MariuszSkamra commented on #4759
This is PTS issue. We have reported this [here](https://bluetooth.service-now.com/x_bsig_case_manage_case.do?sys_id=c15fd23a4f8e8b407270b3318110c7ed&sysparm_view=ess&sysparm_record_target=x_bsig_case_manage_case&sysparm_record_row=2&sysparm_record_rows=4&sysparm_record_list=categoryANYTHING%5ErequesterDYNAMICjavascript%3Ags.getUserID%28%29%5Eaffect_layerANYTHING%5EORDERBYnumber). It is in resolved

[2017-11-13 08:09] erwango opened #4904 "cmake: BOOT_BANNER disappeared"
BOOT_BANNER disappeared following cmake migration:

Eg:
sample/hello_world:
***** BOOTING ZEPHYR OS v1.9.99 - BUILD: Nov  8 2017 11:07:46 *****
Hello World! arm

[2017-11-13 08:18] #4827 closed

[2017-11-13 08:40] nniranjhana commented on #4759
@MariuszSkamra Okay, thank you for the info. Do you have the link to the list of issues that have been reported such as this? I have few more, thought I could raise. Would like to check if they have already been reported.

[2017-11-13 09:58] finikorg opened #4905 "cmake: flashing for quark_se_devboard is broken"
After cmake migration I cannot flash quark_se_c1000_devboard.

Error message is:
[code]

[2017-11-13 11:22] jhedberg opened #4909 "Bluetooth: Add a sample iBeacon app"
Add a sample app demonstrating iBeacon usage

[2017-11-13 11:36] SebastianBoe opened #4910 "BT host CMakeLists.txt code should be agnostic to the FS implementation"
Right now BT HOST is ifdef'ing on the selected FS implementation to link with the correct FS implementation.

There should exist some FS interface library that FS users can link with instead to avoid FS users to know about FS implementations.

BT host code today:

if(CONFIG_BT_INTERNAL_STORAGE)
  zephyr_library_sources(storage.c)
  zephyr_library_link_libraries_ifdef(CONFIG_FAT_FILESYSTEM_ELM ELMF

[2017-11-13 11:39] jhedberg opened #4911 "Filesystem support for qemu"
I'd like to be able to do something like "make run FS=/some/host/path" and have the directory structure under /some/host/path become available inside qemu as persistent storage that can be accessed using the Zephyr file system APIs.

[2017-11-13 11:48] SebastianBoe commented on #4910
Fixed by https://github.com/jhedberg/zephyr/pull/2/files

[2017-11-13 12:37] SebastianBoe opened #4912 "Not using the Zephyr SDK is broken"
Selecting toolchains and SDKs with environment variables is broken.

We are documenting that ZEPHYR_GCC_VARIANT specifies whether we are using a Zephyr SDK,
or a toolchain, like gccarmemb. But, this would not allow us to simultaneously use an SDK and a toolchain like issm. So we have implemented this slightly different behaviour:

ZEPHYR_GCC_VARIANT can be specified to something else than zephyr t

[2017-11-13 12:46] GautierAtWork commented on #4912
Using environment variables for dealing with different tools versions is a generic approach, which is used  also in large scale:
http://modules.sourceforge.net/
https://en.wikipedia.org/wiki/Environment_Modules_(software)

It is not uncommon to see hundreds of tools with tens of versions each managed this way...

[2017-11-13 12:55] SebastianBoe commented on #4912
I'm sorry @GautierAtWork , I should have been more specific, let me rework the issue text.

[2017-11-13 14:48] nashif commented on #4889
@mnkp dont think it is related, this was me doing something that the flasher did not support originally.

[2017-11-13 15:09] #4905 closed

[2017-11-13 15:33] pfalcon opened #4917 "Reintroduce generic "outputexports" target after CMake migration"
As was expected, CMake migration broke building of 3rd-party projects with Zephyr ports which call out to Zephyr build system from their own (cross-platform) build systems.

Here's example: https://github.com/micropython/micropython/blob/master/ports/zephyr/Makefile#L70
[code]

How this is supposed to work: The basic requirements are:

- [x] being able to build 3rd-party app sources with the same

[2017-11-13 15:38] mnkp commented on #4905
I see the same problem when flashing Atmel SAM E70 Xplained development board. It is reported however slightly differently
[code]
The difference are backslashes in
[code]
Re-running the openocd command by hand with backslashes removed fixes the problem. Re-running the openocd command by hand keeping backslashes intact results in the same error as reported by make.

My system is Kubuntu 17.04 with

[2017-11-13 15:44] mbolivar commented on #4889
@nashif your fix looks good to me.

[2017-11-13 15:53] mbolivar commented on #4917
@pfalcon Our out of tree build scripts were also (as expected) broken by this, and I'll be looking at that this week, so I hope it's OK if I jump on in hopes of sharing common ground / solutions.

I assume you've taken a look at this information:
http://docs.zephyrproject.org/application/application.html#application-specific-code

It might help to explain why it's not satisfactory for your use cas

[2017-11-13 15:55] #4889 closed

[2017-11-13 15:55] pfalcon commented on #4917
I'm looking at samples/application_development/external_lib/, but I don't see anything helpful so far. Besides CMake generated makefiles being not too readable, that sample offers opposite flow, where Zephyr's build system calls into 3rd-party build system. That's not flexible enough, what's needed is "inversion of control" solution, where 3rd-party build system calls into Zephyr's to run a partic

[2017-11-13 16:04] SebastianBoe commented on #4912
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/4918

[2017-11-13 16:11] SebastianBoe commented on #4905
@mnkp : Just tried locally on commit 539d2af654c4089cbdacdbe69676fdf0c95eb1f3.

I'm not seeing the backslash problem.

There was a bug fixed with the same symptoms as you are reporting in this commit: dfc13b21fced7504737dd396dd4900156cf21475

Could you post the steps to reproduce and what (clean) version of master you are using?

[2017-11-13 16:40] linkmeyer commented on #4323
@jukkar , @tbursztyka , what's the status?

[2017-11-13 16:41] mnkp commented on #4905
@SebastianBoe I pulled 'master' last Friday. With the current version the problem if fixed. I am able to flash my board successfully. Thanks for help!

I have an unrelated question: If you were able to flash SAM E70 Xplained board does Hello World application work for you? In my case the application crashes (an exception handler is invoked) long before the main() is reached. With the old make syst

[2017-11-13 16:49] SebastianBoe commented on #4917
Changing certain variables into Cache variables to be able to extract them after invoking CMake seems like a sane approach to me.

@pfalcon : Thank you for trying to define requirements. The ability to integrate with third-party projects is important. I was under the impression that both mcuboot and micropython had the same structure as external_lib, I was obviously mistaken.

You are right in tha

[2017-11-13 16:53] SebastianBoe commented on #4917
If one were to go down that road I might define a "custom_target" (see zephyr/cmake/usage/CMakeLists.txt). And have that custom_target call the zephyr_get_* API and write that information to a file.

[2017-11-13 16:54] pfalcon commented on #4917
@mbolivar :

Sure, I appreciate the comments and ideas!

I now did. Yes, I don't see immediately how to make use of that due to issue mentioned in my previous comment (which I posted before seeing yours): they seem to work for usecase when 3rd-party build is integrated into Zephyr's CMake build, micropython, jerryscript need it vice-versa.

As far as I can tell, a solution might be to include thes

[2017-11-13 16:55] andrewboie commented on #4668
Nothing to do here since CMake does the right thing

[2017-11-13 16:55] #4668 closed

[2017-11-13 17:04] SebastianBoe commented on #4905
I don't have the HW unfortunately. But if this is a regression due to the CMake migration then I can debug it without the HW. Please report a bug when you are sufficiently convinced there is no user error and I will gladly debug :)

[2017-11-13 17:06] andrewboie commented on #4781
It's complaining because a volatile variable is being read in a zassert() function. This is a false positive, zasserts are not conditionally compiled and there are no side effects even if it was. Closing.

[2017-11-13 17:06] #4781 closed

[2017-11-13 17:06] andrewboie commented on #4783
It's complaining because a volatile variable is being read in a zassert() function. This is a false positive, zasserts are not conditionally compiled and there are no side effects even if it was. Closing.

[2017-11-13 17:06] #4783 closed

[2017-11-13 17:06] andrewboie commented on #4789
It's complaining because a volatile variable is being read in a zassert() function. This is a false positive, zasserts are not conditionally compiled and there are no side effects even if it was. Closing.

[2017-11-13 17:06] #4789 closed

[2017-11-13 17:46] pfalcon commented on #4917
@SebastianBoe :

Trying quick hack on that:

[code]

Leads to:

[code]

And indeed, I see references to zephyr_interface only in extensions.cmake, and nothing seems to "define" it there. (Per my understanding, there should be "add_<something>" call to define a target, a-la https://cmake.org/cmake/help/latest/manual/cmake-buildsystem.7.html#binary-targets)

[2017-11-13 18:22] andyross commented on #4366
Nothing too exotic as it happened: end_sema was just uninitialized.  And the corruption you got when it linked in after pipe was a whole lot crazier than when it was before the pipe, I don't have a good answer.

Note if you want to validate, the patch as submitted changes too many variables by using K_SEM_DEFINE (which also changes the linker order).  Just adding a k_sem_init() to the top of the v

[2017-11-13 18:26] andrewboie opened #4924 "dumb_http_server pollutes the source directory"
After running sanitycheck, I see the following from 'git status':

[code]

This is not correct, build artifacts need to end up in the out directory and not in the source tree.

[2017-11-13 18:29] andrewboie opened #4925 "application_development test pollutes source directory"
Output of 'git status' after running sanitycheck:

[code]

The build system needs to place all generated artifacts in the output directory, not mixed in with the source tree

[2017-11-13 18:30] nashif commented on #4925
wasn't this just fixed by 965f78088fd57bfabfb74943b22613973d69f85b?

[2017-11-13 18:34] #4312 closed

[2017-11-13 18:37] andrewboie commented on #4925
might be. let me rebase my tree and re-test

[2017-11-13 19:43] dleach02 opened #4927 "Hard Fault when no device driver is setup for ENTROPY results"
A bug was introduced into the build system (CMAKE) for KW41Z that caused the build to not have a default device driver for entropy. The initial problem is that there doesn't seem to be a way to catch a build problem here since the binding of a driver is done at run time. In sys_rand32_get(), there is a call to get the device binding to the CONFIG_ENTROPY_NAME. If the build system has an error (or

[2017-11-13 20:18] andrewboie commented on #4925
@nashif no this is not fixed

reproduce by running "sanitycheck -i"

[2017-11-13 20:22] andrewboie commented on #4925
This is what I am seeing now:

[code]

[2017-11-13 21:28] mbolivar commented on #4917
By the way, mcuboot is just a "normal" Zephyr application, so the external_lib extras are not needed. Simply a single application CMakeLists.txt will suffice. I'm working on that this week.

[2017-11-13 21:34] mbolivar commented on #4917
Well, it seems you're off on another direction given the above, but `cmake -L` can be used to print the values of cache variables, rather than parsing CMakeCache.txt by hand:

https://cmake.org/cmake/help/v3.8/manual/cmake.1.html

(FWIW, I think the ability to call into the Zephyr build might be interesting for us as well, but I'd say it's a lower priority at the moment for getting mcuboot-based a

[2017-11-13 21:39] nashif commented on #4917
Can someone please write up the requirement in a clear way without making assumptions and without asking for some "features" we had in kbuild that were pretty much a work-around. We want to do this right this time and it should not be a forward ported hack. Please.

[2017-11-13 23:21] dleach02 opened #4934 "net: 15.4 network interfaces use incorrect MTU setting of 127"
Commit 4718dac5607cbc224e78d5ab551e661f94eda950 has broken net_pkt_append().

The change added code to detect max_len overruns of the submitted transmit frame but the logic path ends up setting max_len to the smaller mtu size of the underlying transport if there is a context associated with the packet which then in turn resets the submitted "len" to this smaller size. In my test scenario, I'm test

[2017-11-14 01:31] mbolivar commented on #4917
The main thing I've still not got a replacement that Makefile.exports previously enabled is getting the board-specific information provided to Zephyr's build system to flash the board.

This let me write some build and flash scripts that tie together an mcuboot build, a zephyr application build, and use information available in device tree to flash them at the right offsets, doing a full chip eras

[2017-11-14 04:41] nniranjhana commented on #4759
@MariuszSkamra found the place, I will raise the other PTS issues where you have raised ones such as these before.

[2017-11-14 04:41] #4759 closed

[2017-11-14 06:14] pfalcon commented on #4917
@nashif :

That's exactly what I didn in the top description of the ticket, namely:

I definitely agree that it doesn't have to use the same make targets/variables like before. Maybe, it doesn't even have to be a "make" target/variable (maybe CMake ones).

[2017-11-14 06:21] pfalcon commented on #4917
I don't even think that far. My initial goal would be to get a binary build again. @mbolivar , I surely appreciate your work on standardizing flashing support in Zephyr, and surely agree that it would be to "pass thru" it to 3rd-party apps, with additional params like partition layout. All in all, that seems an additional, orthogonal requirement to my list above.

[2017-11-14 06:44] pfalcon commented on #4917
@SebastianBoe :

you described where the third-party build system is the toplevel build system and invokes Zephyr to retrieve build information instead of binaries is not covered.

To discuss this further:

Method 1: "a third-party build system would not care about how Zephyr built it's code" - This is not realistic, because almost any 3rd-party project would need to build its sources too, and of

[2017-11-14 06:51] pfalcon commented on #4934
Which shows that the problem is not with how net_pkt_append() works, but with something else.

Specifically, with setting of MTU for 15.4 interfaces, which is set to 127 or so. This is not a correct value for IPv6 network interface, as IPv6 requires minimum MTU of 1280. Consequently, that's the value which should be used for MTU of 15.4 too, because L2 fragmentation is handled on different level.

[2017-11-14 06:56] pfalcon opened #4936 "net: 15.4 MAC addresses are shown differently between shell "net iface" and "ieee15_4 get_ext_addr""
One of them is shown reversed comparing to another. E.g. 11:22:...:88 vs 88:...:22:11.

[2017-11-14 06:57] WeldonWangwang opened #4937 "ESP32 can't boot"
Hi,

I followed the document at  [here](http://docs.zephyrproject.org/getting_started/getting_started.html) with ESP32, I tried the demo of `hello_world`, but when I run `make flash` after `make`, the terminal showed:

[code]

ESP32 didn't work, I found three questions:

1. The `zephyr.bin` generated by make is 13,776 bytes, but the log shows it flashing 16384 bytes. I can't understand.

2. The bi

[2017-11-14 07:52] #4782 closed

[2017-11-14 08:11] jukkar commented on #4323
The #4907 looks like a perfect match that would fix this.

[2017-11-14 08:39] tbursztyka commented on #4936
net iface is showing you the mac address, which is used by default to create the extended address.
But the extended address could be something else, it's possible to change it.

Extended address is taken from iface's 15.4 context, and that one has to be in little endian as 15.4 frames requires it.
Shell could show it the same way as mac, why not. I'll make sure the set ext addr assumes this same o

[2017-11-14 09:57] rbtchc opened #4941 "LwM2M: support discovery other than '/'"
Current implementation ignores the "path" given by the caller and always return all the resources device possessed by the device.

Tested  with
1. commit 697e30459d1b559bf21ef25efd68720504a26a8e
1. wakaama lwm2m server
    - use command **disc** <client_id> <path>

Resources associated w/ the path is expected instead and to follow [LwM2M specification](http://www.openmobilealliance.org/release/Lig

[2017-11-14 11:07] SebastianBoe commented on #4917
It doesn't always need to know this does it? In the use-case where the 3rd-party app already
 knows how to build for an SoC it will already have figured out what CC and CFLAGS to use
wouldn't it? I thought that two archives could be linked together without using the same
CC and FLAGS? Perhaps there exist some small set of flags that the third-party actually
needs to know, like -mabi, that Zephyr c

[2017-11-14 11:37] nvlsianpu commented on #4780
fix: https://github.com/zephyrproject-rtos/zephyr/pull/4945

[2017-11-14 11:40] #4912 closed

[2017-11-14 11:53] #4910 closed

[2017-11-14 11:59] pfalcon commented on #4917
have generated Kconfig headers even before Make is invoked.

Ack, thanks!

[2017-11-14 12:04] #4760 closed

[2017-11-14 12:09] SebastianBoe commented on #4904
Found the root cause.

With KBuild, hello_world was a test, with CMake it is a sample. Will push a fix.

[2017-11-14 12:26] pfalcon commented on #4917
knows how to build for an SoC it will already have figured out what CC and CFLAGS to use
wouldn't it?

But how a 3rd-party app may know that? Zephyr is a portable RTOS, so a Zephyr application should be able to build for any target supported by Zephyr (including future).

I didn't mention that, but all the requirements and points above come from enough (year+) experience. A case you talk about rem

[2017-11-14 12:30] mnkp commented on #4905
I had a closer look yesterday and found the issue. I've just posted the fix: #4948

[2017-11-14 13:17] tbursztyka commented on #4934
@pfalcon  if commit 4718dac changes the behaviour that used to be fine before then yes this commit is the culprit.

You are mixing up HW MTU vs IPv6 layer "MTU". I made that comment actually in your PR afaik, as well as in various places where we've been talking about MTU. 15.4 hw MTU **is** 127 bytes, it's the right value. Now if IPv6 is used on top, the core should be aware of it and use the IPv

[2017-11-14 13:29] SebastianBoe commented on #4925
Sorry about creating paperwork, should of course not have been like this in the first place.

[2017-11-14 13:31] pfl commented on #4934
To clarify a bit more, IEEE 802.15.4 uses 6LoWPAN fragment headers to assemble the 127-byte 15.4 payload into an IPv6 datagram with a minimum size of 1280 bytes. Thus the MTU for 15.4 is 127, while still being 1280 for IPv6.

[2017-11-14 13:51] SebastianBoe opened #4951 "Prevent full rebuilds on Kconfig changes"
With Kbuild, a Kconfig change would result in an incremental build. After the CMake migration we get a full rebuild.

Find out if the new performance is acceptable and/or if there exists any low-hanging fruit optimizations that we can take from Kbuild and re-implement in CMake.

[2017-11-14 13:58] pfalcon commented on #4934
Sorry, but there never was "fine". IP stack is full of bugs, and it takes multiple iterations to get it right. It's quite expected that solving (well, making progress on) one issue makes evident other issues, like in this case.

My argument is that, no, I don't mix them up, they actually were mixed before. We're talking about generic *network interfaces*, those work on IP level. If there's a diffe

[2017-11-14 14:09] tbursztyka commented on #4934
It was fine in the context of MTU not being handled. I repeatedly said what are the issue about this, and how to handle properly the hw MTU vs the IPv6 packet size, it's all clear, all known, and it's not a small task _at all_. No they were not mixed up for the good reason that HW MTU was never handled at all. I don't see why you are discussing this: your commit added a bug it seems. One more on t

[2017-11-14 14:12] SebastianBoe commented on #4927
This is really bad.

Did Kbuild do this better, or has the migration just initially introduced a lot of bugs of this nature?

Any ideas for solutions?

I'm not familiar with the device binding mechanism.

Is it feasible to offer an implementation of device_get_binding() that is evaluated and checked at build time instead of run time?

[2017-11-14 14:14] SebastianBoe commented on #4927
@dleach02 : Could you rename the title to make this not specific to entropy?

[2017-11-14 14:19] nashif commented on #4917
The support for a specific SoC will come from Zephyr, not from the middleware you are trying to build, the middleware might have notion of what hardware it will be running on, so this needs to come from Zephyr.

[2017-11-14 14:30] SebastianBoe commented on #4937
Not sure how you are getting 13,776 bytes. I'm getting

16334 bytes, which maybe becomes 16384 when rounded up to the page size?

[2017-11-14 15:06] SebastianBoe commented on #4937
This PR should fix at least 1 bug that you are affected by. I don't have the HW so please retest with that patch to see if there are more bugs that are exposed by your test.

https://github.com/zephyrproject-rtos/zephyr/pull/4954

[2017-11-14 15:17] pfalcon commented on #4934
@tbursztyka: I re-read your comment https://github.com/zephyrproject-rtos/zephyr/pull/119#pullrequestreview-36787801 . Unfortunately, that's the best reference to your solution I have. There, you cover various "lower-level" points of the problem, but at the high-level, the solution is not POSIX compatible, which leads to issues. Namely, you write:

That's all nice, but it's the same question I pos

[2017-11-14 15:20] dleach02 commented on #4934
I think we may have an overuse of terms. The "MTU" is typically associated with IP terminology but we are also using it in relation to the 802.15.4 transport size. The definition of an "MTU" is the Maximum Transmission Unit of the largest network layer protocol data unit. IPv4/IPv6 are network layer protocols while IEEE802.15.4 is a data link layer.

If you look at the IEEE802.15.4-2015 specificat

[2017-11-14 15:25] mbolivar commented on #4917
@pfalcon Thanks and sure, which is why I wrote "This seems to be different than what Paul needs". I only joined this issue as the top-level description appeared related. I now see that it isn't, so I'll leave this thread.

[2017-11-14 15:32] galak opened #4957 "Add build targets for each explicit debug/flash option"
Its possible that boards support multiple flash/debug choices (ie boards/arm/frdm_kw41z/board.cmake).  We need a way to allow for the user to do something like 'make debug-jlink' or 'make debug-daplink' and have the right thing happen if the board supports both.

[2017-11-14 15:34] SebastianBoe commented on #4957
To implement this I suspect one would add a nested foreach loop in cmake/flash/CMakeLists.txt.

[2017-11-14 15:40] galak commented on #4957
Was also thinking we'd add something like variables in the board.cmake files like BOARD_SUPPORTS_DEBUG_JLINK, BOARD_SUPPORTS_DEBUG_DAPLINK, etc that the board would define and maybe some means of saying which one was default so that 'make flash' would get the default choice.

[2017-11-14 15:45] nashif commented on #4957
maybe add those to the board yaml file instead

[2017-11-14 15:48] SebastianBoe commented on #4937
Going to assume https://github.com/zephyrproject-rtos/zephyr/pull/4954 fixes this issue. Please re-open if the issue persists.

[2017-11-14 15:48] #4937 closed

[2017-11-14 15:52] galak commented on #4957
do we p

Do we parse the board yaml in cmake?

[2017-11-14 15:53] SebastianBoe commented on #4957
Not yet. So what @galak  proposed is easier to implement today.

[2017-11-14 16:29] tbursztyka commented on #4934
@dleach02 the net_if_get_mtu() was there from the start of the net stack rewrite and is meant to be about hw mtu, and basically unused anywhere until now. Thing is, both hw mtu and ip layer mtu are necessary. The later one however does not need to be stored per-interface and can be, I think, assessed from the context: ipv6, ipv4, tcp etc...

Naming is not the issue anyway. We used MTU as hw mtu to

[2017-11-14 16:40] galak commented on #4957
Was also thinking that we should have the zephyr_flash_debug.py report back what flashers, debugers, etc are supported to give a list back to cmake.  So that way we don't need to update multiple places when adding a new debug/flash target.  I asked @mbolivar to try and look at adding that support to zephyr_flash_debug.py

[2017-11-14 16:42] dleach02 commented on #4934
@tbursztyka, I understand that the naming problem has been around from the beginning. I'm just pointing out that MTU gets used a lot and it can be confusing. On the surface, the only function for retrieving a MTU value was this net_if_get_mtu() but the part that is missed by @pfalcon is that the "if" in this function is the HW link layer physical packet size and not the IPv6 MTU.

Maybe what is ne

[2017-11-14 17:42] andrewboie commented on #4951
kbuild had a clever system for enabling this. as I recall, it would create a directory structure for the kconfig space with separate files for each config option, in $OUT/include/config.

[2017-11-14 17:47] #4366 closed

[2017-11-14 18:02] pfalcon commented on #4934
@tbursztyka :

From this, at least 2 solutions seem to be available:

1. If net_if_get_mtu() was always about HW MTU, add another member and accessor for IP level MTU, because the IP protocol needs such a value.
2. And if it's "basically unused anywhere until now" (which seems to be true, based on my grep), just redefine it to be IP MTU, because the need for that already arised, and when need for

[2017-11-14 18:06] salerio-gs opened #4959 "Failure to install on Mac OS High Sierra (return of the same error)"
Followed MacOS Setup as documented in the v1.9.1 Getting Started Guide

[code]

[2017-11-14 18:08] lpereira commented on #4881
Fixed by #4928

[2017-11-14 18:08] #4881 closed

[2017-11-14 18:18] galak commented on #3941
Can we marked this closed?

[2017-11-14 18:19] #3941 closed

[2017-11-14 18:21] #4009 closed

[2017-11-14 18:24] nashif commented on #3852
done

[2017-11-14 18:24] #3852 closed

[2017-11-14 18:24] #3630 closed

[2017-11-14 18:24] #3621 closed

[2017-11-14 18:24] #3641 closed

[2017-11-14 18:25] nashif commented on #3727
is this still for 1.10?

[2017-11-14 18:26] nashif commented on #3722
still targeting 1.10

[2017-11-14 18:28] lpereira commented on #3722
This won't be available in 1.10; there's no way I'll be able to make this work until then.

[2017-11-14 18:29] lpereira commented on #3727
Yes. I'm working on this; it's taking more time than I anticipated due to some hardware oddities.

[2017-11-14 18:29] galak opened #4960 "All boards for all arch's should use DTS"
- [x] x86: Issue #3704
- [x] ARC: Issue #4964
- [x] NIOS2: Issue #4963
- [x] RISCV: Issue #4962
- [x] XTENSA: Issue #4961

[2017-11-14 18:33] galak opened #4961 "Convert xtensa boards to device tree"
The following boards need to get converted:
- [x] esp32
- [x] qemu_xtensa
- [x] xt-sim

[2017-11-14 18:35] galak opened #4962 "Convert riscv boards to device tree"
The following boards need to get converted:

- [x] m2gl025_miv
- [x] qemu_riscv32
- [x] zedboard_pulpino
- [x] hifive1

[2017-11-14 18:36] galak opened #4963 "Convert NIOS2 boards to device tree"
The following boards need to get converted:

- [ ] altera_max10
- [ ] qemu_nios2

[2017-11-14 18:36] #3383 closed

[2017-11-14 18:37] #3268 closed

[2017-11-14 18:37] #3275 closed

[2017-11-14 18:37] galak opened #4964 "Convert ARC boards to device tree"
The following boards need to get converted:

- [ ] arduino_101_sss
- [ ] em_starterkit
- [ ] ~~panther_ss~~ (no need to do this, will be dropped)
- [x] quark_se_c1000_ss_devboard

[2017-11-14 18:39] nashif commented on #1450
does not apply anymore

[2017-11-14 18:39] #1450 closed

[2017-11-14 18:40] andrewboie commented on #4503
Fixed by #4930

[2017-11-14 18:40] #4503 closed

[2017-11-14 18:40] #1166 closed

[2017-11-14 18:42] andrewboie commented on #4959
seems like ct-ng is not being parsed as a Makefile and it thinks its a shell script instead.
Does "make -f /usr/local/bin/ct-ng" work?
Also did you build this ct-ng yourself or get it from brew? In my experience the brew build was horribly broken and it didn't work until I built it myself.

[2017-11-14 18:43] nashif commented on #2793
@lpereira is this done for 1.10?

[2017-11-14 18:44] salerio-gs commented on #4959
Yes make -f /usr/local/bin/ct-ng menu config works just fine. I think your deduction is correct, it does not think its a makefile. I am using cross tool-ng 1.23 from brew which the documentation says is the minimum required.

[2017-11-14 18:51] lpereira commented on #2793
Part of it is done, yes: the only thing that is missing is a software-only thing to gather entropy from various sources where a hardware number generator isn't available.  What has been merged is mostly a cleanup, separating drivers from the random number generator themselves, and adding a simple generator that does not draw that much entropy from the device.

[2017-11-14 18:52] #2793 closed

[2017-11-14 18:54] galak commented on #3910
@jfischer-phytec-iot is this still an issue?

[2017-11-14 19:01] lpereira opened #4966 "Entropy gathering without hardware number generator"
Zephyr needs a way to gather entropy when a hardware number generator isn't available.  This is kind of tricky on embedded devices, where entropy is usually a premium commodity, but this needs to be available anyway.

[2017-11-14 19:04] salerio-gs commented on #4959
This command however does not, will try building crosstool-ng

Peters-MBP:CrossToolNG ps$ make -f /usr/local/bin/ct-ng build
/bin/bash: /usr/local/Cellar/crosstool-ng/1.23.0/lib/crosstool-ng-1.23.0/scripts/crosstool-NG.sh: Permission denied

[2017-11-14 19:19] salerio-gs commented on #4959
Built my own crosstool-ng 1.23 from source, seems to work just fine, perhaps documentation should warn more strongly against using the homebrew build?

[2017-11-14 19:36] dleach02 commented on #4934
@pfalcon, the only usage I see is in slip.c in slip_send() when CONFIG_SLIP_TAP is defined.

But why are you restricting the size of the transmit request within net_pkt_send()? I haven't fully grepped the IP stack in Zephyr but there certainly is code that will breakup a transmit request to fit into NET_IPV6_MTU sized fragments (see send_ipv6_fragment()).

It seems like the socket interface really

[2017-11-14 20:40] jukkar commented on #4934
I think we need to revert this and figure out how to handle the MTU.

[2017-11-14 20:49] tbursztyka commented on #4934
net_if does not need to hold an mtu value for the ip layer. Don't forget that some iface are able to run both ipv4 and ipv6. As I said, the ip layer mtu can be assessed from the context per-iface/net_pkt so no need for net_if to store anything

Unlike above for ip layer mtu, hw mtu cannot be guessed and thus iface needs to store it. It's not used now, true, but that should be when both mtu types w

[2017-11-14 21:03] #4784 closed

[2017-11-14 21:03] #4785 closed

[2017-11-14 21:03] #4787 closed

[2017-11-14 21:31] andrewboie commented on #4959
I concur. I believe at the time it was written, that Brew build wasn't yet available so issues with it were not known about.
Might be worth reporting upstream to the Brew team, it seems very very broken in ways that are trivial to reproduce

[2017-11-14 21:32] jhedberg commented on #4044
The "livelock" is fixed. The btvirt issue may still need investigating, however that's out of scope for Zephyr, so closing this one.

[2017-11-14 21:32] #4044 closed

[2017-11-14 21:35] jhedberg opened #4973 "Provide Linux-style ERR_PTR/PTR_ERR/IS_ERR macros"
Linux has macros which enable functions returning pointers to indicate specific error codes in their return value rather than just returning NULL. It'd be nice to have similar functionality for Zephyr.

[2017-11-14 21:39] andrewboie commented on #4973
It might be hard to do this since we do not virtualize memory, the Linux implementation assumes the range ((uint32_t)-MAX_ERRNO)-0xFFFFFFFF is never a valid memory address it seems.

There might be other approaches, such as stating that any returned pointer that isn't aligned to 4 bytes is a flag indicating that the real error value should be fetched from some other variable (thinking out loud her

[2017-11-14 21:40] jfischer-phytec-iot commented on #3910
not sure, I know there is a issue related to FRDM-K64F and MCR20A, e.g. simple ping from linux host or other node over 802.15.4 makes SPI driver logic broken after a while, whereby USB-KW24D512 works without any problems in the same test setup.  I am not sure if it's the MCR20A driver or the SPI driver. I need to test current master.

[2017-11-14 21:49] salerio-gs opened #4975 "Getting started documentation for Mac OS X inconsistent"
The following is from the above for v1.9.1. It states that there is a ct-ng configuration for ARM toolchain generation, there is no such configuration.

[2017-11-14 21:52] nashif commented on #4975
For ARM we recommend using https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads, but this needs to be fixed, agree.

[2017-11-14 22:00] jfischer-phytec-iot opened #4977 "USB: documentation needs to be updated"
doc/subsystems/usb/usb.rst, chapter `USB device class drivers ` needs to be updated. The description is not wrong, but does not reflect current status.

[2017-11-14 22:02] nashif commented on #4977
@finikorg , @jfischer-phytec-iot  will you take a stab at this?

[2017-11-14 22:08] salerio-gs commented on #4975
Thx, will take that advice ( new to Zephyr )

[2017-11-14 22:11] lpereira commented on #4927
I'll look into this.  In any case, an assertion in `sys_rand32_get()` is now in place, so at least it'll fail in runtime with a message to check the configuration.

[2017-11-14 22:19] jfischer-phytec-iot commented on #4977
I will update the description of the USB Device Descriptor. I think everything else should be updated when #4661,#4767 are ready (or with it).

[2017-11-14 22:57] nashif commented on #4847
fixed

[2017-11-14 22:57] #4847 closed

[2017-11-15 00:28] #4975 closed

[2017-11-15 00:42] lpereira commented on #4973
Can errno be used instead?  This is an idiom that I've seen used in the wild: `return errno = ESOMETHING, NULL;`.

[2017-11-15 05:37] dleach02 commented on #4927
I'm not sure there is a solution for this to generically deal with the problem of not defining a binding. I created the issue to see if someone has any idea how we could catch this via the build system instead of runtime crashes.

[2017-11-15 06:03] jhedberg commented on #4973
In some cases it could be an option. However it's not multi-thread safe, so it can't always be used. In general I'm not sure we should encourage errno usage because of its vulnerability to multi-threaded (or thread + ISR) race conditions.

[2017-11-15 06:34] nniranjhana commented on #3143
@MariuszSkamra @rmstoi This has passed in my environment for the last three executions, with PTS 7.1.1 and with Arduino 101 on client side. Can close the issue.

[2017-11-15 06:39] nniranjhana commented on #3142
@rmstoi @MariuszSkamra Again, this too has passed in my environment for the last three executions, with PTS 7.1.1 and with Arduino 101 on client side. Can close the issue.

[2017-11-15 07:10] andrewboie commented on #4973
I'm not a fan of errno either unless we can migrate it to thread-specific storage.
Memory protection makes dealing with it a lot more complicated.

[2017-11-15 07:49] #3942 closed

[2017-11-15 07:50] #3313 closed

[2017-11-15 07:50] #4004 closed

[2017-11-15 07:50] #4014 closed

[2017-11-15 08:13] tbursztyka commented on #3910
@jfischer-phytec-iot It think it's unlikely to be spi driver, unless you use a too aggressive frequency, because we have been using cc2520 on top of frdm and it works perfectly well with the same spi driver below.

[2017-11-15 08:18] jukkar commented on #3440
This is postponed to later release.

[2017-11-15 08:23] jukkar commented on #4589
This is false positive.

[2017-11-15 08:23] #4589 closed

[2017-11-15 08:35] finikorg commented on #4977
@nashif I could document USB Networking, what would be the proper place for it?

[2017-11-15 08:51] carlescufi opened #4983 "ARMv8-M basic support"
Add basic support for the ARMv8-M architecture and its cores:

[code]

Including any changes in the conditional compilation of common ARM core to support the new architecture.

[2017-11-15 08:51] carlescufi commented on #4983
@ioannisg FYI

[2017-11-15 08:54] carlescufi opened #4985 "TEE support for ARMv8-M"
Implement https://github.com/zephyrproject-rtos/zephyr/issues/1900 for ARMv8-M.

Blocked by https://github.com/zephyrproject-rtos/zephyr/issues/4983

[2017-11-15 08:54] carlescufi commented on #4985
@ioannisg FYI

[2017-11-15 08:55] #3643 closed

[2017-11-15 09:28] nniranjhana commented on #3643
@MariuszSkamra Any update on this issue? For me, during multiple recent executions with PTS version 7.1.1 and with Arduino 101 as client, this is my result:

After TC_SEC_CSIGN_BV_01_C (now renamed as GAP/SEC/CSIGN/BV-01-C ) getting a E_RPC_CALL_FAILED error, and following that, 5 test cases (of the same category) by names TC_SEC_CSIGN_BV_02_C, TC_SEC_CSIGN_BI_01_C,  TC_SEC_CSIGN_BI_02_C, TC_SEC_C

[2017-11-15 09:36] jfischer-phytec-iot commented on #3910
@tbursztyka I do not really suspect the SPI driver, but I have noticed that after a long time, k_sem_take (in spi_mcux_transceive(...)) did not block even though the count was at zero and the transfer not finished.  I have observed it on FRDM-K64F and FRDM-CR20A. But the code has changed and I have to check it again.

[2017-11-15 10:28] #4323 closed

[2017-11-15 10:39] tbursztyka commented on #3910
ouch that sounds like a deeper issue if semaphore seems to bug then

[2017-11-15 10:52] MariuszSkamra opened #4989 "Bluetooth: PTS fails to connect to Zephyr"
HW
- Tester application running on QEMU
- Bluetooth USB dongle or Zephyr based (hci_uart) bt dongle
or
- Tester combined build on nrf52 board

PTS fails to connect to the Zephyr. Note that only few test cases are failing due to this, the rest of tests is passing. PTS orders IUT to enable advertising, then tries to connect. Connection fails to be established.

Steps to reproduce:
- Run one of the f

[2017-11-15 11:37] kolodgrz commented on #4989
This also affects GATT/SR/GAW/BV-02-C, GATT/SR/GAD/BV-01-C

[2017-11-15 13:49] #4925 closed

[2017-11-15 14:32] galak commented on #4757
Fixed by PR #4473 4473

[2017-11-15 14:32] #4757 closed

[2017-11-15 15:52] nashif commented on #4904
or we might as well just make BOOT_BANNER set to y by default...

[2017-11-15 16:00] SebastianBoe commented on #4904
Fine by me. Copying KBuild is a mental shortcut.

I'll do a new PR.

[2017-11-15 16:00] #4904 closed

[2017-11-15 17:30] #4780 closed

[2017-11-15 17:32] nashif commented on #4592
this one already fixed

[2017-11-15 17:32] #4592 closed

[2017-11-15 17:37] nashif commented on #4586
a sample, so mark as low

[2017-11-15 17:43] nashif commented on #4054
fixed

[2017-11-15 17:43] #4054 closed

[2017-11-15 17:44] #4591 closed

[2017-11-15 18:07] galak opened #5004 "Normalize IEEE802514 driver "raw" mode."
All the other drivers implement a RAW mode, enabled by a config like IEEE802154_MCR20A_RAW.  We should do this on KW41Z as well.  Eventually at least the config option should get refactored up a level.

[2017-11-15 18:09] galak commented on #5004
@dleach02 can you take a look at this when you have a few cycles.  @jfischer-phytec-iot might be helpful to ask about exactly what RAW mode is doing/needs since he did something for MCR20A.

[2017-11-15 18:26] inakypg opened #5006 "syscalls: properly fix how unit testing deals with __syscall"
Currently the unit testing build process does not generate syscall stubs
Thus, including common.h generates warnings because we have all the syscall declaration with no definition.
So the current hack on #4887 is not a final solution but a hack.
We are waiting for PR for #4174, that will add native support and will have to implement the same to re-use the solution and then #4887 can be undone.

Th

[2017-11-15 19:41] andrewboie opened #5008 "system call headers are not properly regenerated in CMake on incremental builds"
Steps to reproduce:

1) Do a build
2) Make a change to the function prototype of an API marked with __syscall
3) Build again

Observe that the associated header in <out>/include/generated/syscalls/ is not updated as the script was never re-run.

This worked in the old build system, there was a filechk_ rule for gen_syscalls.py that *always* ran the script, the generated files for syscall headers w

[2017-11-15 20:00] andrewboie opened #5009 "cmake creates too many build artifacts"
As a baseline, any Zephyr build needs to produce a .elf file for the kernel.
Depending on the target hardware requirements, this .elf file *may* need to be additionally converted into another binary type to support device provisioning.

Examples:

- Nios II Altera MAX10 needs the kernel converted to IHEX format
- Many targets (but not the QEMU targets) need the elf stripped and turned into BIN for

[2017-11-15 20:03] andrewboie opened #5010 "changes to included linker scripts are not picked up by the build system"
This was a problem in the old Kbuild build system as well.

There's no dependency tracking for included linker scripts, which is pretty much all of them since the base linker script is typically a very small file under arch/xxx/soc that just includes other stuff.

We use the GCC preprocessor to generate the final script that gets fed to ld. Need to use GCC options like -MD to create the dependenci

[2017-11-15 20:54] lpereira commented on #5009
Just a clarification: ESP32 takes the striped ELF and turns it into a format that's specific to ESP32 (it's the format that the first stage bootloader, part of the SoC mask ROM, understands).  The .bin file generated in the output directory is not used by the flasher tool; the flashing script will overwrite the BIN format with this proprietary format prior to flashing.

[2017-11-15 21:24] Zarkopafilis commented on #1488
Why Install CMake (>=3.7) ? Current apt version is way lower

[2017-11-15 21:47] carlescufi commented on #1488
@Zarkopafilis I believe it's due to requiring add_custom_command() to use DEPFILE, which was introduced in CMake 3.7. The getting started guide gives you a step by step guide on installing CMake from cmake.org, and it's quite simple.

[2017-11-15 21:54] lpereira commented on #4927
I think I found the bug in the `Kconfig` files:

KW41Z4 has a hardware number generator that is supported by Zephyr (it's based off of the MCUX HAL, using the TRNG variant), so it should provide an entropy driver.  In `arch/arm/soc/nxp_kinetis/kwx/Kconfig.soc`, one can se that, if `CONFIG_SOC_MKW41Z4` is selected, `CONFIG_HAS_MCUX_TRNG` is also selected.

The driver is only built if `CONFIG_ENTROP

[2017-11-15 22:04] Zarkopafilis commented on #1488
Ok. Sidenote: On windows with MSYS it works with cmake 3.6.2.... on a
docker container with an ubuntu base image it did not.

On Wed, Nov 15, 2017 at 11:47 PM, Carles Cufí <notifications@github.com>
wrote:

--
Best Regards,
Theodoros 'Zarkopafilis' Ntakouris
+30 698 92 90 272 (Greece)

[2017-11-15 22:06] carlescufi commented on #1488
@Zarkopafilis that's because the CMake scripts detect that you're running MSYS and lower the required version. It's an exception in the case of MSYS, which doesn't support Ninja. This is temporary since we will soon switch to native CMake with Ninja and no MSYS at all on Windows.

[2017-11-16 00:05] lpereira commented on #4973
Yeah. That makes sense -- also, we don't seem to use errno that much in Zephyr anyway; we mostly use the error codes.

The idea to use unaligned pointers to signal errors has potential.  There's no need to have another errno-like variable to store the error, as it can be encoded in the pointer itself if it's not aligned. With a 4-byte alignment, only 2 bits dictate the alignment, so we have 30 bit

[2017-11-16 08:22] tbursztyka commented on #5004
raw mode is useless but for wpan samples.

[2017-11-16 08:32] rrahulkx opened #5014 "samples/drivers/crypto :Unable to find crypto device"
The procedure followed to re-produce is -

**Zephyr Commit ID:-**
036dde2201ad60f2f1df2c73b62031a6967c629d

**Config file is attached to this Report** :
[Driver_crypto_config.txt](https://github.com/zephyrproject-rtos/zephyr/files/1477802/Driver_crypto_config.txt)

**Build Procedure-**

**Cmake Build procedure -**

$cd $ZEPHYR_BASE/samples/drivers/crypto
$mkdir build && cd build
$cmake –DBOARD=qua

[2017-11-16 08:57] tbursztyka commented on #5004
Actually, I think it's the good occasion to get rid of that awful hack that wpan introduced, I'll investigate.

[2017-11-16 10:11] dhavalpanchalispl opened #5017 "Genuino/Arduino 101 Sensor Sample BMI160: Gyro Device not found"
**Board:** Genuino 101
**Zephyr SDK:** Latest version 0.9.2

I flashed both ARC and X86 cores successfully using these samples,

**ARC Core:**
cd $ZEPHYR_BASE/samples/sensor/bmi160
mkdir -p build/arduino_101_sss && cd build/arduino_101_sss
cmake -DBOARD=arduino_101_sss ../..
make
make flash

**X86 Core:**
cd $ZEPHYR_BASE/tests/booting/stub
mkdir -p build/arduino_101 && cd build/arduino_101
cmake -

[2017-11-16 10:42] rrahulkx opened #5019 "tests/kernel/mem_protect/stackprot : input string is long stack overflow"
The procedure followed to re-produce is -

Zephyr Commit ID:-
036dde2201ad60f2f1df2c73b62031a6967c629d
Config file is attached to this Report:
[kernel_mem_protect_stackprot_config.txt](https://github.com/zephyrproject-rtos/zephyr/files/1478228/kernel_mem_protect_stackprot_config.txt)

Build Procedure-

Cmake Build procedure -

$cd $ZEPHYR_BASE/tests/kernel/mem_protect/stackprot
 $mkdir build && cd

[2017-11-16 10:48] #5014 closed

[2017-11-16 11:01] nashif commented on #1653
test runs fine on ARC

[2017-11-16 11:01] #1653 closed

[2017-11-16 11:04] #1880 closed

[2017-11-16 11:04] nashif commented on #1883
missing details

[2017-11-16 11:04] #1883 closed

[2017-11-16 11:04] nashif commented on #1885
missing details

[2017-11-16 11:04] #1885 closed

[2017-11-16 11:08] nashif commented on #1930
can you please check if this can be closed?

[2017-11-16 11:12] nashif commented on #2613
@jfischer-phytec-iot is this covered by recent USB changes?

[2017-11-16 11:12] nashif commented on #2760
@finikorg please update status here

[2017-11-16 11:13] nashif commented on #2723
looks like it is gone

[2017-11-16 11:13] #2723 closed

[2017-11-16 11:14] nashif commented on #3058
should be covered now with cmake.

[2017-11-16 11:14] #3058 closed

[2017-11-16 11:17] #3294 closed

[2017-11-16 11:43] jfischer-phytec-iot commented on #2613
yes, can be closed, but we do not really have an example for that, the usb samples will/should be revised

[2017-11-16 11:55] nashif commented on #5017
works just fine:

[code]

[2017-11-16 12:21] rmstoi commented on #1930
This feature is needed, so please do not close the issue yet.

[2017-11-16 12:59] finikorg commented on #2760
At the moment CDC ECM Ethernet support is merged, RNDIS is in review PR #4999

[2017-11-16 14:25] BOBRAPHTONE commented on #3471
Please share the branch that supports esp32 ..the tag number or something .the one in the zephyr website is Brocken or something

[2017-11-16 14:44] #3142 closed

[2017-11-16 14:45] #3143 closed

[2017-11-16 15:50] dleach02 commented on #5004
I'm curious about what this raw mode is? I'll follow up with the Phytek guys to get some insight but my first instinct is similar to @tbursztyka. I prefer seeing systems using a common interface to the driver.

[2017-11-16 16:00] tbursztyka commented on #5004
see PR #5018

drivers will still need to implement a little bit of it: it should keep/write the FCS in the net_pkt. That's all.
(no more lqi written in the beginning etc... that was linux / wpan specific.)

[2017-11-16 18:57] lpereira commented on #3471
@BOBRAPHTONE ESP32 is supported on the master branch. Building it requires the SDK and toolchain provided by Espressif; please refer to the [board documentation for specific steps](http://docs.zephyrproject.org/boards/xtensa/esp32/doc/esp32.html). Also, keep note that not all peripherals are supported yet; the port isn't very mature.

[2017-11-16 21:17] Zarkopafilis opened #5025 "arduino_due not generating proper config with cmake (crash)"
I am trying to build the sample 'hello_world' app, after having properly installed everything according to the guide (msys on windows + gccarmemb) and I get the following error:

`
$(inside /build) cmake -DBOARD=arduino_due ..
-- Selected BOARD arduino_due
-- Generating zephyr/include/generated/autoconf.h
*
* Restart config...
*
*
* General Kernel Options
*
Multi-threading (MULTITHREADING) [Y/n/?]

[2017-11-16 21:24] andrewboie commented on #5019
investigating
Hoping this is reproducible on arduino_101_ss

[2017-11-16 21:31] andrewboie opened #5026 "k_poll() documentation is wrong"
The patch https://github.com/zephyrproject-rtos/zephyr/commit/90b471fe4afacd279c9423612b5ea1e40bde3e64?diff=unified
introduced -EINTR return value to k_poll(), but the documentation was not updated to reflect this, and user may not know that it can return something other than 0 or -EAGAIN

[2017-11-17 00:28] dbkinder commented on #5026
(a quick edit to include/kernel.h and the doxygen comments above k_poll() will address this)

[2017-11-17 01:20] nashif opened #5027 "Enhance Testing and Test Coverage"
We should shift focus to quality of tests rather than quantity…
- [ ] Every API needs to be tested and verified
- [ ] Advanced Use Case testing
   - [ ] 100s of threads
   - [ ] Determinism
   - [ ] Using External IO
   - [ ] Heavy Load, MTBF style testing
- [ ] Implement mechanism to detect APIs not being documented or tested
- [ ] Implement coverage analysis
   - [ ] Using native port
   - [ ] U

[2017-11-17 07:06] pfalcon commented on #4924
dumb_http_server does it because that's how @jukkar initially implemented the functionality of converting a .bin file into a C header with data. (So assignment to him looks right).

[2017-11-17 09:01] SebastianBoe commented on #5025
Was not able to reproduce with this environment:

OS: Ubuntu
Toolchain: Zephyr SDK
sample: samples/hello_world
BOARD: arduino_due
git revision: b05ba6b531ba310dc5f3190c846177f52f805b66

[2017-11-17 09:01] SebastianBoe commented on #5025
I have seen this before with a non-clean build directory. Can you confirm that you can reproduce this with a clean build?

[2017-11-17 09:06] SebastianBoe commented on #5025
Was not able to reproduce with gccarmemb either.

Will try to reproduce on Windows after you have confirmed it affects clean builds on git revision b05ba6b.

[2017-11-17 10:43] pfalcon commented on #4917
@SebastianBoe :

Any further suggestions re: (https://github.com/zephyrproject-rtos/zephyr/issues/4917#issuecomment-343999824)

[code]

(or suggestions for any other direction)

[2017-11-17 11:02] #5025 closed

[2017-11-17 11:39] SebastianBoe commented on #4917
It's not clear how that code snippet has been integrated. But I am going to assume that it is acting
as the toplevel/application CMakeLists.txt file, if so it needs to be placed after the boilerplate that is in every application. If it is not structured like that then that would explain the error.

I would do something like this if I were you:

Develop an application CMakeLists.txt file.
To satisf

[2017-11-17 11:47] pfalcon commented on #4917
In the least-resistance way following your pointer to cmake/usage/ as implementing something similar:

1. The quoted code content is in cmake/usage/outputexports.cmake
2. cmake/usage/CMakeLists.txt patched with:

[code]

[2017-11-17 11:49] pfalcon commented on #4917
I'll try to follow your suggestion, but my aim is not unexpectedly to just get back the behavior which was available previously: running "make outputexports" for any Zephyr app produces the needed list, without any involvement from app's side.

[2017-11-17 11:53] vakulgarg commented on #4825
I do not get the same error with the latest code.
Tested with commit 1c825c825.

[2017-11-17 11:53] #4825 closed

[2017-11-17 12:02] SebastianBoe commented on #4917
Ah, right, so turns out "usage" is not so similair after all. Invoking CMake again as usage does gives us a new CMake build system that doesn't know anything.

We need another mechanism, perhaps using ExternalProject with a dummy build system that exists only to receive build information from the Zephyr build system and write it to some file for consumption by the third-party build system.

Or may

[2017-11-17 15:40] SebastianBoe commented on #5008
Okay, I've tried many different methods, and I have a proposal that I
hope you can OK @andrewboie .

In any build system you have to create a DAG of dependencies between
files. In KBuild the DAG looked like this:

NULL (always out-of-date) -> generated syscalls -> Pretty much any object file in a Zephyr build

With a DAG like that you would think that KBuild would have to do a
full rebuild every t

[2017-11-17 16:06] dbkinder opened #5040 "Bluetooth mesh API documentation incomplete"
@jhedberg noted that the generated API documentation for Bluetooth Mesh (found at http://docs.zephyrproject.org/api/bluetooth.html#mesh-profile) is missing material.  A quick look shows only API material from bluetooth/mesh/main.h is showing up.

Recommend folks read the header files for now while we investigate and fix.

[2017-11-17 17:57] dbkinder commented on #5040
Verified doxygen comments and processing is ok, so it looks like a sphinx/breathe issue...

[2017-11-17 18:34] pfalcon commented on #4917
Ok, I was able to make MicroPython port build against CMake, the patch is here https://github.com/pfalcon/micropython/commit/c021057fbe49dbdd46ccd2506f9ce2034bf5e257 . As can be seen, it effectively follows application_development/external_lib very closely. I'll refrain from comments so far, will need to play with it more and think about, then update JerryScript too, to gather my thoughts on it.

[2017-11-17 23:36] #4899 closed

[2017-11-18 00:01] #3832 closed

[2017-11-18 13:46] nashif commented on #5040
see http://docs.zephyrproject.org/apidoc/latest/dd/d6d/group__bt__mesh.html

[2017-11-19 06:52] zhaozhongchen opened #5047 "document error: getting_started.rst"
In the section **Building without the Zephyr SDK**

is there lost **cd $ZEPHYR_BASE** before *make* ?
and i don't know what the $PWD/kconfig means, is it means $ZEPHYR_BASE/scripts/kconfig ?

[code]

[2017-11-19 07:17] dbkinder commented on #5047
I believe it is correct as written; make is supposed to run in the ``build`` directory, right @SebastianBoe

[2017-11-19 07:25] zhaozhongchen commented on #5047
@dbkinder But there is no such file named *Makefile* in build directory.

[2017-11-19 09:37] zhaozhongchen commented on #5047
@dbkinder  sorry, it's my fault. the right way is **cmake $ZEPHYR_BASE/scripts**, but i forgot to type **scripts**

[2017-11-19 14:52] dbkinder commented on #5047
OK.  We'll close this issue then.

[2017-11-19 14:52] #5047 closed

[2017-11-19 15:07] dbkinder commented on #5040
Wait for another cycle of the nightly doc build to verify the subgroups of Mesh in the http://docs.zephyrproject.org/api/bluetooth.html API doc are shown and we can close this issue.

[2017-11-19 15:28] dbkinder opened #5051 "Verify doxygen documented APIs are in the generated docs"
Some API material (with doxygen comments) aren't included in the generated documentation because there's no ``.. doxygengroup`` sphinx directive to display them  (e.g., Flash interface in device drivers). Scan the doxygen defgroups and verify they're all represented in the sphinx docs.

[2017-11-20 06:30] Shilpashree3lc opened #5055 "[Coverity CID: 179254] Possible Control flow issues in /samples/net/zperf/src/zperf_udp_receiver.c"
Static code scan issues seen in File: /samples/net/zperf/src/zperf_udp_receiver.c
 Category: Possible Control flow issues
 Function: zperf_rx_thread
 Component: Samples
 CID: 179254
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-20 06:30] Shilpashree3lc opened #5056 "[Coverity CID: 179253] Control flow issues in /samples/net/zperf/src/zperf_tcp_receiver.c"
Static code scan issues seen in File: /samples/net/zperf/src/zperf_tcp_receiver.c
 Category: Control flow issues
 Function: zperf_tcp_rx_thread
 Component: Samples
 CID: 179253
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-20 06:30] Shilpashree3lc opened #5057 "[Coverity CID: 179252] Null pointer dereferences in /samples/net/zperf/src/zperf_udp_receiver.c"
Static code scan issues seen in File: /samples/net/zperf/src/zperf_udp_receiver.c
 Category: Null pointer dereferences
 Function: udp_received
 Component: Samples
 CID: 179252
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-20 06:30] Shilpashree3lc opened #5058 "[Coverity CID: 179251] Control flow issues in /samples/net/zperf/src/zperf_udp_receiver.c"
Static code scan issues seen in File: /samples/net/zperf/src/zperf_udp_receiver.c
 Category: Control flow issues
 Function: zperf_rx_thread
 Component: Samples
 CID: 179251
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-20 06:30] Shilpashree3lc opened #5059 "[Coverity CID: 179250] Null pointer dereferences in /samples/net/zperf/src/zperf_udp_uploader.c"
Static code scan issues seen in File: /samples/net/zperf/src/zperf_udp_uploader.c
 Category: Null pointer dereferences
 Function: zperf_upload_decode_stat
 Component: Samples
 CID: 179250
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-20 06:30] Shilpashree3lc opened #5060 "[Coverity CID: 179249] Incorrect expression in /tests/kernel/fatal/src/main.c"
Static code scan issues seen in File: /tests/kernel/fatal/src/main.c
 Category: Incorrect expression
 Function: testing_fatal
 Component: Tests
 CID: 179249
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-20 06:30] Shilpashree3lc opened #5061 "[Coverity CID: 179248] Control flow issues in /samples/net/zperf/src/zperf_tcp_receiver.c"
Static code scan issues seen in File: /samples/net/zperf/src/zperf_tcp_receiver.c
 Category: Control flow issues
 Function: tcp_received
 Component: Samples
 CID: 179248
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-20 06:30] Shilpashree3lc opened #5062 "[Coverity CID: 179247] Incorrect expression in /tests/kernel/fatal/src/main.c"
Static code scan issues seen in File: /tests/kernel/fatal/src/main.c
 Category: Incorrect expression
 Function: testing_fatal
 Component: Tests
 CID: 179247
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-20 06:50] vikramx2112 opened #5063 "samples/bluetooth: central_hr sample app is not connecting with peripherl sample app on arduino_101."
Central_hr sample app is designed to connect automatically with nearby peripheral device that notify Heart rate measurements.
On zephyr released v1.9, central_hr is connecting with peripheral sample app. But with latest version it is not connecting(no message shown on console for connected and notification).

Tested zephyr version:
Latest version: cb9390c791f25a6787e07de085375eab96d29e5c

How to r

[2017-11-20 11:42] #4901 closed

[2017-11-20 12:30] SebastianBoe commented on #5008
I did not like the proposed solution, so I tried a different approach and succeeded with what is alternative B) above in PR #5071

[2017-11-20 13:05] rveerama1 commented on #3712
Targeting RPL Border Router functionality after 1.10 release. ( https://github.com/zephyrproject-rtos/zephyr/pull/980, https://github.com/zephyrproject-rtos/zephyr/pull/5035). So moved away this issue from 1.10.

[2017-11-20 13:23] #1488 closed

[2017-11-20 14:45] SebastianBoe commented on #5009
Modifying the build scripts is pretty straightforward.
https://github.com/SebastianBoe/zephyr/commit/4da2f76a87c9465d6e300943a0fcfa90ac6b8eac

Creating a user-friendly Kconfig is a bit more tricky, I'll give it a go later on unless someone has any ideas themselves. I imagine we might want a menu for the configuring the build system. Perhaps the menu "Compiler Options" could be sub-menu in this "Bu

[2017-11-20 16:06] erwango commented on #4568
@galak , @agross-linaro:
We are adding "#size-cells = <0>;", for I2C on both NXP and ST for I2C
This is not done for UART and UART generates the correct define (_SIZE_0) (inheriting from armv6/7.dtsi #size-cells = <1>;)

Should we have same size-cells for both UART and I2C?
If yes, then one of these above is wrong. And then either dts either script should be updated.
(If not I don't really see why

[2017-11-20 16:57] nashif commented on #1581
not relevant with current SDK

[2017-11-20 16:57] #1581 closed

[2017-11-21 01:55] zhaozhongchen opened #5085 "bug: dts: stm32f1: wrong pinctrl base address"
in the file: zephyr/dts/arm/st/stm32f1.dtsi:

[code]

the right base address is **0x40010800** , not 0x40018000

[2017-11-21 04:13] rbtchc commented on #4941
It turns out that there are two level of discover operation
1. LwM2M discover which only two kinds of discovery are allowed
    - boot discover: object ID is optional which means root directory discover is allowed. Security object discovery is allowed
    - Device management discover: object ID is required, object instance ID, resource ID is optional. Security object is not allowed to be discovere

[2017-11-21 05:41] vikramx2112 opened #5087 "Samples/bluetooth: Failed to connect with eddystone sample app on arduino_101."
Eddystone sample app is designed to advertise eddystone pkts and waiting for connection for 30sec after boot. If any connect request comes within 30 sec, then connection is successful. In zephyr version v1.9-branch, connection is getting successful, but with latest version connection failed on arduino_101.

Error logs:
console: ***** BOOTING ZEPHYR OS v1.10.0-rc1 (delayed boot 1000ms) *****
[bt] [

[2017-11-21 07:05] vikrant8051 opened #5090 "no makefile in zephyr/samples/bluetooth/mesh examples"
no makefile in zephyr/samples/bluetooth/mesh examples

in this https://github.com/zephyrproject-rtos/zephyr/releases/tag/v1.10.0-rc1

[2017-11-21 07:13] jhedberg commented on #3754
I don't see what's still needed here. Could the reporter please clarify?

[2017-11-21 07:15] jhedberg commented on #3935
I don't see anything wrong with those steps. "./bootstrap-configure && make" is what I use as well, and it results in a tools/btproxy binary for me.

[2017-11-21 07:40] jhedberg opened #5091 "MPU fault at drivers/flash/soc_flash_nrf5.c:493 with NFFS enabled on nrf52840_pca10056"
[code]

The instruction address 0x4568 resolves to `drivers/flash/soc_flash_nrf5.c:493`

Happens with the following configuration using the mesh_shell app on `BOARD=nrf52840_pca10056`

[code]

[2017-11-21 07:56] jhedberg commented on #5091
Just verified that this also happens with samples/hello_world:

[code]

And instruction address 0x19c8 resolves again to `drivers/flash/soc_flash_nrf5.c:493`

[code]

[2017-11-21 08:47] jhedberg commented on #5091
`CONFIG_MPU_ALLOW_FLASH_WRITE=y` fixes this. It seems to me this option should be enabled by default, and if it's disabled we should give an understandable error to the user saying this option needs to be enabled, in case the FS isn't formatted yet.

[2017-11-21 09:38] SebastianBoe commented on #5090
That is intentional.

Zephyr version 1.10 has migrated to CMake. See https://lists.zephyrproject.org/pipermail/zephyr-users/2017-November/000772.html

[2017-11-21 09:38] #5090 closed

[2017-11-21 09:44] MariuszSkamra commented on #4989
I tested this with privacy disabled (CONFIG_BT_PRIVACY=n) and it passed

[2017-11-21 09:45] MariuszSkamra commented on #4989
So there is a connection issue only if privacy is enabled

[2017-11-21 09:46] SebastianBoe commented on #4853
Fixed by #4871

[2017-11-21 09:46] #4853 closed

[2017-11-21 10:40] gurucharanx commented on #4258
I dont see the zoap_server and zoap_client applications in zephyr base of
commit: 25737d99
Author: Vinayak Kariappa Chettimada <vich@nordicsemi.no>
Date: Mon Nov 20 14:15:46 2017 +0100

@rbtchc  Have we merged these applications into coap_server/coap_client. May I know the reason behind of testing only coap_server/coap_client but not the zoap_server/zoap_client.

[2017-11-21 10:51] rveerama1 commented on #4258
Hi,
zoap_server/zoap_client are based on ZOAP library. Now ZOAP lib is
deprecated, new CoAP is ZOAP + handles multi fragment (longer network
packets).
So I renamed zoap_server/zoap_client to coap_server/coap_client to use
new CoAP library api's and samples are same as zoap_server/zoap_client
as purpose wise.

- Ravi.

On 11/21/2017 12:40 PM, gurucharanx wrote:

[2017-11-21 11:16] gurucharanx commented on #4216
I have found that the communication between sockets/echo and echo_client works fine if I apply
[sockets_echo.txt](https://github.com/zephyrproject-rtos/zephyr/files/1491059/sockets_echo.txt)
the attached file changes to prj.conf file of sockets/echo.

But the communication is very slow as compared the communication between echo_server and echo_client applications.

I have verified by adding these

[2017-11-21 11:55] #5026 closed

[2017-11-21 11:57] #5085 closed

[2017-11-21 14:33] nashif commented on #2202
can't reproduce

[2017-11-21 14:33] #2202 closed

[2017-11-21 14:34] nashif commented on #2580
can't reproduce

[2017-11-21 14:34] #2580 closed

[2017-11-21 14:36] nashif commented on #2837
@carlescufi  isn't this already resolved?

[2017-11-21 17:17] SebastianBoe opened #5097 "zephyr_library_*() configuration has lower precedence than global zephyr_*() configuration"
It is expected behaviour that if a "global" flag from zephyr_compile_options() conflicts with a library-specific flag given with zephyr_library_compile_options() then the local library-specific option will override the global option.

An example of a use-case is that we are able to globally configure whether we build optimized for size or speed, but the bluetooth controller is on the limit of it's

[2017-11-21 17:19] SebastianBoe commented on #5097
Source file flags have higher precedence than link interface flags, so reworking the extentions to use source file properties might be the cleanest solution.

[2017-11-22 04:24] rrahulkx commented on #4195
This issue is invalid .So closing this issue.

[2017-11-22 04:25] #4195 closed

[2017-11-22 06:30] rbtchc opened #5101 "LwM2M: device hang after requesting a firmware update to a loopback device IP"
Tested against commit b678895a6dadff7a10cb5ff6927ae74cc49fbae0

Issue a PACKAGE URI firmware update (/5/0/1) w/ URI set as _coap://127.0.0.1:7783/large_ to start the firmware update process. The device will hang shortly after receive the request from server.
Issue is reproducible on both Qemu_x86 and FRDM K64F

Debug log as below

[2017-11-22 07:57] jukkar commented on #5058
This is false positive.

[2017-11-22 07:57] #5058 closed

[2017-11-22 08:18] jukkar commented on #5056
This is false positive.

[2017-11-22 08:18] #5056 closed

[2017-11-22 08:21] jukkar commented on #5055
This is false positive.

[2017-11-22 08:22] #5055 closed

[2017-11-22 12:44] #4786 closed

[2017-11-22 12:44] #5057 closed

[2017-11-22 12:44] #5059 closed

[2017-11-22 12:44] #5061 closed

[2017-11-22 12:57] jsiloto opened #5107 "Default parition addressing for nrf52_pca10040 is incompatible"
After loading the https://github.com/runtimeco/mcuboot zephyr sample:
[MCUBOOT] [INF] main: Starting bootloader
[MCUBOOT] [ERR] flash_area_get_sectors: area 1 size 0x32000 not divisible by sector size 0xd000
[MCUBOOT] [ERR] main: Unable to find bootable image

[2017-11-22 14:29] erwango opened #5109 "yaml: fix key/value syntax to 'mapping' instead of 'series'"
According to yaml syntaxic rules, '- attribute' should be used for series (list of single element)
and 'attribute' (w/o hyphen) should be used for 'mapping' (key/value couple),
When treated by yaml python library, yaml mappings are converted to python type 'dict'
while series are converted to python type 'list'.

In some yaml files, we're using hyphen before key/value element.
They are then conver

[2017-11-22 14:32] erwango commented on #5109
Impacted:
-dts/bindings/\*/\*.yaml  -> fixed by #5076
-samples/\*/\*.yaml
-tests/\*/\*.yaml

[2017-11-22 15:03] nashif commented on #5009
@SebastianBoe can you submit this as a PR, I am looking into making this configurable using the board yaml files which will be able to specify which output binaries they need and will support. This will be done in a layered approach, so we can specify this for an architecture or a group of boards as well.

[2017-11-22 15:10] #5004 closed

[2017-11-22 15:22] SebastianBoe commented on #5009
Done: https://github.com/zephyrproject-rtos/zephyr/pull/5112

[2017-11-22 17:08] erwango commented on #3355
Closed #4509

[2017-11-22 17:08] #3355 closed

[2017-11-23 04:38] Shilpashree3lc opened #5116 "[Coverity CID: 179986] Null pointer dereferences in /subsys/bluetooth/host/mesh/access.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/access.c
 Category: Null pointer dereferences
 Function: bt_mesh_model_publish
 Component: Bluetooth
 CID: 179986
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:38] Shilpashree3lc opened #5117 "[Coverity CID: 179985] Error handling issues in /subsys/bluetooth/host/mesh/cfg_srv.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/cfg_srv.c
 Category: Error handling issues
 Function: hb_sub_send_status
 Component: Bluetooth
 CID: 179985
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:38] Shilpashree3lc opened #5118 "[Coverity CID: 179984] Memory - corruptions in /drivers/ethernet/eth_mcux.c"
Static code scan issues seen in File: /drivers/ethernet/eth_mcux.c
 Category: Memory - corruptions
 Function: eth_0_init
 Component: Drivers
 CID: 179984
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:38] Shilpashree3lc opened #5119 "[Coverity CID: 179983] Error handling issues in /subsys/bluetooth/host/mesh/cfg_srv.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/cfg_srv.c
 Category: Error handling issues
 Function: hb_pub_send_status
 Component: Bluetooth
 CID: 179983
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:38] Shilpashree3lc opened #5120 "[Coverity CID: 179982] Error handling issues in /subsys/bluetooth/host/mesh/cfg_srv.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/cfg_srv.c
 Category: Error handling issues
 Function: send_net_key_status
 Component: Bluetooth
 CID: 179982
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:38] Shilpashree3lc opened #5121 "[Coverity CID: 179981] Incorrect expression in /drivers/ieee802154/ieee802154_kw41z.c"
Static code scan issues seen in File: /drivers/ieee802154/ieee802154_kw41z.c
 Category: Incorrect expression
 Function: kw41z_phy_abort
 Component: Drivers
 CID: 179981
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:38] Shilpashree3lc opened #5122 "[Coverity CID: 179980] Integer handling issues in /subsys/bluetooth/host/mesh/friend.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/friend.c
 Category: Integer handling issues
 Function: bt_mesh_friend_req
 Component: Bluetooth
 CID: 179980
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:38] Shilpashree3lc opened #5123 "[Coverity CID: 179979] Error handling issues in /subsys/bluetooth/host/mesh/cfg_srv.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/cfg_srv.c
 Category: Error handling issues
 Function: send_mod_sub_status
 Component: Bluetooth
 CID: 179979
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:38] Shilpashree3lc opened #5124 "[Coverity CID: 179978] Error handling issues in /subsys/bluetooth/host/mesh/health_srv.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/health_srv.c
 Category: Error handling issues
 Function: send_health_period_status
 Component: Bluetooth
 CID: 179978
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:39] Shilpashree3lc opened #5125 "[Coverity CID: 179976] Error handling issues in /subsys/bluetooth/host/mesh/cfg_srv.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/cfg_srv.c
 Category: Error handling issues
 Function: send_mod_pub_status
 Component: Bluetooth
 CID: 179976
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:39] Shilpashree3lc opened #5126 "[Coverity CID: 179975] Error handling issues in /subsys/bluetooth/host/mesh/health_srv.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/health_srv.c
 Category: Error handling issues
 Function: send_attention_status
 Component: Bluetooth
 CID: 179975
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:39] Shilpashree3lc opened #5127 "[Coverity CID: 179974] Error handling issues in /subsys/bluetooth/host/mesh/cfg_srv.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/cfg_srv.c
 Category: Error handling issues
 Function: send_krp_status
 Component: Bluetooth
 CID: 179974
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 04:39] Shilpashree3lc opened #5128 "[Coverity CID: 179973] Error handling issues in /subsys/bluetooth/host/mesh/cfg_srv.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/cfg_srv.c
 Category: Error handling issues
 Function: mod_app_get
 Component: Bluetooth
 CID: 179973
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-11-23 05:39] gurucharanx commented on #4258
Verified the communication between the coap_server and coap_client on frdm_k64f board and find it as working fine as explained in README.rst file of coap_client. So closing this issue.

The test was verified on commit id: b678895a6dadff7a10cb5ff6927ae74cc49fbae0

[2017-11-23 05:39] #4258 closed

[2017-11-23 07:29] IotPanorama commented on #1270
@GAnthony , sorry for being late, CC3220SF have a 1Mb xip flash internally but the CC3220SF Launchxl  has a 32Mbit (4MB) flash (MX25R3235F) on board. Each CC3220x device need that external flash. you can find the information in block diagram present in this Document( http://www.ti.com/lit/ug/swru463/swru463.pdf )

[2017-11-23 08:43] aescolar-ot opened #5130 "include guards missing in toolchain/gcc.h and toolchain/common.h"
Both toolchain/gcc.h and toolchain/common.h lack include guards.
=> Including them twice thru other headers will cause quite a few warnings.

Also both headers define BUILD_ASSERT() and BUILD_ASSERT_MSG(), but only toolchain/common.h has a guard for it in its definition.

[2017-11-23 09:49] MariuszSkamra commented on #4989
Steps to reproduce:
1. Start samples/bluetooth/peripheral application in QEMU
2. Try to connect

Expected result:
Connection successful

Actual result:
Connection failed to be established

[2017-11-23 10:49] pfalcon commented on #4917
Also posted an initial version of the JerryScript port update: https://github.com/jerryscript-project/jerryscript/pull/2120

[2017-11-23 12:29] #5009 closed

[2017-11-23 12:43] carlescufi opened #5132 "Soft real-time "tasklets" in kernel"
The way the Zephyr kernel schedules today is:

* ISRs have the highest priority, they execute always before any threads
* If no ISRs are pending, ready cooperative threads are run
* If no cooperative threads are ready, ready preemptible threads are run

The problem is when one wants to design a "soft real-time" protocol stack with this architecture is that one cannot use cooperative threads becaus

[2017-11-23 12:43] carlescufi commented on #5132
@cvinayak FYI

[2017-11-23 12:46] jhedberg commented on #5125
Already fixed in the master branch

[2017-11-23 12:46] #5125 closed

[2017-11-23 12:47] jhedberg commented on #5116
Already fixed in the master branch

[2017-11-23 12:47] jhedberg commented on #5117
Already fixed in the master branch

[2017-11-23 12:47] #5117 closed

[2017-11-23 12:47] jhedberg commented on #5119
Already fixed in the master branch

[2017-11-23 12:47] #5119 closed

[2017-11-23 12:47] jhedberg commented on #5122
Already fixed in the master branch

[2017-11-23 12:47] #5122 closed

[2017-11-23 12:48] jhedberg commented on #5123
Already fixed in the master branch

[2017-11-23 12:48] #5123 closed

[2017-11-23 12:48] jhedberg commented on #5126
Already fixed in the master branch

[2017-11-23 12:48] #5126 closed

[2017-11-23 12:48] jhedberg commented on #5128
Already fixed in the master branch

[2017-11-23 12:48] #5128 closed

[2017-11-23 12:49] jhedberg commented on #5124
Already fixed in the master branch

[2017-11-23 12:49] #5124 closed

[2017-11-23 12:49] jhedberg commented on #5120
Already fixed in the master branch

[2017-11-23 12:49] #5120 closed

[2017-11-23 12:49] jhedberg commented on #5127
Already fixed in the master branch

[2017-11-23 12:49] #5127 closed

[2017-11-23 13:35] nvlsianpu commented on #5107
This is caused by https://runtimeco.atlassian.net/browse/MCUB-90 bug

[2017-11-23 13:38] nvlsianpu commented on #5107
This is not zephyr's bug. Compiling with CONFIG_FLASH_PAGE_LAYOUT=y will solve this for sure.

[2017-11-23 14:18] #5097 closed

[2017-11-23 14:32] SebastianBoe commented on #5132
What is the reason for not making the host's threads into preemtible threads?

Then the controller would be able to preempt the host, wouldn't it?

[2017-11-23 14:34] carlescufi commented on #5132
@SebastianBoe for one it would increase the complexity of the Host, since it would have to add locking in several places. But it would also put the host below the TCP/IP stack and any other coop threads that the system runs, which is not a good idea given that the Host is a "system service".

[2017-11-23 15:26] nashif opened #5136 ""Distinguishing Features" section in docs is outdated and needs an update"
http://docs.zephyrproject.org/introduction/introducing_zephyr.html

is very old and outdated, need an update to list the latests features and major changes that happened in the last year.

[2017-11-23 16:09] #5107 closed

[2017-11-23 16:27] erwango opened #5138 "dts: boards: provide generic dtsi file for 'generic' boards"
Some boards belonging to the same board family share common settings.
Being able to include provide a <generic_board>.dtsi file by each board adhering to the generic type would allow to factorize board description.

For instance st nucleo boards share:
-User Button (SW0), LD0 settings
-Console being routed to uart2
-uart2 pinmux and pinmuxing in general

These settings could be defined in a nucleo

[2017-11-23 17:15] pfalcon opened #5140 "CMake migration regressed (changed behavior) of QEMU_PTY=1"
Turns out that older command `make run QEMU_PTY=1` doesn't work as expected (as it used to work before) - QEMU_PTY option isn't processed and QEMU doesn't run in PTY mode.

Instead, seems that the option needs to be specified to cmake invocation: `cmake ... -DQEMU_PTY=1`.

I'd argue this doesn't work as expected. The idea behind QEMU_PTY option (as far as I see it, granted, I picked it up for usag

[2017-11-23 17:31] SebastianBoe commented on #5140
This usability issue is of the same nature, and might have a similair solution, as https://github.com/zephyrproject-rtos/zephyr/issues/4957

[2017-11-23 18:02] pfalcon commented on #5140
Thanks for the quick response and a pointer. It would be similar, if folks in #4957 wanted something like `make flash METHOD=jlink`, `make flash METHOD=pyocd`. But as they want separate make target, that indeed would be handled on cmake level. But make-level variables would need to be processed on make level, via make's builtin functions and/or shell statements, so we'd need to just generate corre

[2017-11-24 04:14] rrahulkx commented on #4190
This is Duplication of following github
 https://github.com/zephyrproject-rtos/zephyr/issues/4216
closing this Issue .

[2017-11-24 04:14] #4190 closed

[2017-11-24 04:15] rrahulkx commented on #4188
This is Duplication of following github
 https://github.com/zephyrproject-rtos/zephyr/issues/4216
closing this Issue .

[2017-11-24 04:15] #4188 closed

[2017-11-24 04:56] rrahulkx commented on #4744
please find the .config  file attached generated for   **qemu -arm**.
[config_qemu_arm.txt](https://github.com/zephyrproject-rtos/zephyr/files/1500645/config_qemu_arm.txt)

[2017-11-24 05:04] vakulgarg opened #5143 "Cmake ignores setting CONFIG_ETH_MCUX_0=n in prj.conf"
I am compiling samples/bluetooth/ipsp for frdm_k64f board with following modifications in prj.conf.
The following two lines are added.

+CONFIG_BT=y
+CONFIG_NET_L2_BT=y
+CONFIG_ETH_MCUX_0=n
+CONFIG_NET_L2_ETHERNET=n

In the  zephyr configuration generated ipsp/build/zephyr/.config, I still see CONFIG_ETH_MCUX_0=y.
Thus CONFIG_ETH_MCUX_0 does not get turned off.

[2017-11-24 05:15] gurucharanx commented on #4401
@jukkar  this is running fine on qemu_x86 and arduino_101:x86 after adding the  CONFIG_NET_IF_MCAST_IPV6_ADDR_COUNT=5 in the prj.conf file.
on the commit ID: cb9390c7

Also it works fine on frdm_k64f :arm and sam_e70_xplained:arm boards after adding
arch_whitelist: x86 arm in testcame.yaml file.

So I request to modify the corresponding files accrodingly

[2017-11-24 07:19] zhaozhongchen opened #5144 "BUG: cmake: make doesn't update zephyr.hex file"
zephyr doesn't update zephyr.hex file if it is already exist, even though zephyr.elf was updated.

[2017-11-24 07:42] tbursztyka commented on #4744
Why qemu-arm? Your log above is about qemu-x86.

[2017-11-24 08:48] SebastianBoe commented on #5144
Could not reproduce.

Used sample ~/zephyr/samples/synchronization
and BOARD nrf52840_pca10056

on commit

96e7df466a928593e3d1c5ae25fc74709d71772b

Please post steps to reproduce.

[2017-11-24 08:49] SebastianBoe commented on #5144
[code]

[2017-11-24 08:51] SebastianBoe commented on #5144
What might be happening, is that the platform you are on no longer defaults to generating hex files after commit 1f1143a , so you are seeing an old hex file built before 1f1143a.

You can test this by using a clean build directory.

[2017-11-24 08:58] tarunkum opened #5145 "samples/bluetooth: Connection failure on peripheral CSC with Arduino 101"
Peripheral Cycling Speed & Cadence sample app is designed to advertise CSC pkts.
If any connect request comes from central device then this peripheral should connect successfully.
Once connection is establish then central device should be able to list the attributes of Peripheral device
As well as Central device should be able to read the characteristics of Peripheral.
In zephyr version v1.9-branc

[2017-11-24 09:00] tarunkum commented on #5145
Same Connection issue seen in following sample apps as well as  :-
peripheral,
peripheral_dis,
peripheral_esp,
peripheral_hids,
peripheral_hr,
peripheral_sc_only.

[2017-11-24 09:17] zhaozhongchen commented on #5144
yes, you are right.

somedays ago *make* create an old zephyr.hex file, and today i update my source code with master.

I remove all file in build and rebuild target, there are no file named zephyr.hex. It's my fault.

[2017-11-24 09:42] #5144 closed

[2017-11-24 10:22] rrahulkx commented on #4578
As per  Zephyr Commit ID:07e1a64e77e15180721c56993a19bce473ff4365

This TC passed on **frdm_k64f** board.

But it failed on below boards at run time.

1)**arduino101**

console output

Running test suite socket_udp
===================================================================
starting test - test_send_recv_2_sock

2)**sam_e70_xplained**

console output:

Running test suite socket_udp
=======

[2017-11-24 10:58] rrahulkx commented on #4744
Because as per the Zephyr Commit ID:07e1a64e77e15180721c56993a19bce473ff4365

This TC failed on qemu_x86 and qemu_arm.

please find the config file for the qemu_x86
[config_qemu_x86.txt](https://github.com/zephyrproject-rtos/zephyr/files/1501414/config_qemu_x86.txt)

[2017-11-24 11:24] carlescufi commented on #4851
@andrewboie try `make --trace`

[2017-11-24 11:30] carlescufi commented on #4826
Can you add log files for btmon and also enable HCI debugging on the Zephyr build?

[2017-11-24 11:32] carlescufi opened #5148 "Lightweight flash storage layer"
Zephyr already supports NFFS as a storage layer, but it might be a little bit too heavyweight for certain applications in memory-restricted ICs.

A lightweight flash storage layer similar to Mynewt's "FCB" would be useful for those applications:
https://github.com/apache/mynewt-core/tree/master/fs/fcb

[2017-11-24 11:33] SebastianBoe commented on #5143
That is weird, I see that the board's kconfig defaults it to y.

config ETH_MCUX_0
	def_bool y

But CONF_FILE is passed to merge_config.sh after the board's kconfig, so merge_config should override the board's settings. I can't explain this behaviour.

[2017-11-24 11:35] carlescufi opened #5149 "Runtime non-volatile configuration system"
Many of the different subsystems in Zephyr might require storing and loading configuration data from non-volatile storage. To achieve a backend-neutral mechanism that allows for central loading and storing of the runtime configuration, a new subsystem is required that manages this centrally.

At the very least the following backends should be supported:
* FCB (see https://github.com/zephyrproject-

[2017-11-24 11:38] SebastianBoe commented on #4851
That won't work Carles. The build system needs to invoke the underlying commands differently.

Make does not know that our custom commands accept a "--verbose" flag.

The only solution I can see here is having the scripts accept environment variables.

[2017-11-24 11:39] pfalcon commented on #4851
For me, `make VERBOSE=1` usually works (without having added any special flags to cmake previously). But sometimes it doesn't, pattern is not clear so far.

[2017-11-24 11:41] SebastianBoe commented on #4851
The desired design is that "make VERBOSE=1" is used.

But today, if you want a truly verbose build, you need to do

cmake -DCMAKE_VERBOSE_MAKEFILE=ON && make VERBOSE=1

[2017-11-24 11:50] nvlsianpu opened #5151 "MPU flash region for storage area."
Currently there is possible to allow write to whole FLASH or not allow writing to FLASH at all.
It should be possibile to have option which will allow writing to flash area  which is specific for data Storage. Thanks to that e.g. program flash will be stil preserve while e.g. file system will might operate propellery.

[2017-11-24 11:52] nvlsianpu commented on #5091
I open related 'TBD' task https://github.com/zephyrproject-rtos/zephyr/issues/5151
I think it will be better to create separate MPU flash region for data storage.

[2017-11-24 11:56] nvlsianpu commented on #5151
cc @carlescufi

[2017-11-24 11:57] jhedberg commented on #5087
Could you also flash your controller with the latest Zephyr version? From the logs its evident that you have some older one.

[2017-11-24 12:00] SebastianBoe commented on #5140
You are correct pfalcon. This is a different use-case from #4957, because we can't create a new make target for every possible qemu_instance value.

In general we want to avoid using environment variables like we do in #5142, but for this use-case there does not exist any better solution.

[2017-11-24 12:03] SebastianBoe commented on #5140
Well, I guess we could create a dozen targets and require users to work within that subset of instance values. But we can deal with that use-case if it arises.

[2017-11-24 12:08] jhedberg commented on #5145
I just tried the latest Zephyr (both hci_uart and peripheral app) on my Arduino 101, and the connection was successful from BlueZ (bluetoothctl). So I cannot reproduce this issue.

[2017-11-24 12:24] pfalcon commented on #5140
@SebastianBoe :

Per my clarification in https://github.com/zephyrproject-rtos/zephyr/pull/5142#discussion_r152957143 , this is not "environment variable", it's "make variable". (Make is flexible though and can take its variable from shell (process) environment. The point, it doesn't have too.)

(I'm sure you know all that, just phrase "environment variable" is confusing, and in the context you us

[2017-11-24 12:33] SebastianBoe commented on #5140
It doesn't have to, but it can, which is unfortunate.

[2017-11-24 12:43] tbursztyka commented on #4744
Ok. And it still works just fine here.
I run it the manual way:

cd tests/net/ieee802154/l2
mkdir build && cd build
cmake -DBOARD=qemu_x86 -DCONF_FILE=prj.conf ..
make run

Are you up-to-date on zephyr tree and sdk? (btw the commit ID you point has nothing to do with what's tested, actually I²C is not enabled for that test also).
I don't know what your environment is doing, there are slight change

[2017-11-24 13:37] SebastianBoe opened #5152 "CONFIG_CPLUSPLUS is incompatible with the zephyr_get_* API"
The zephyr_get_* API is used to extract the flags used when building zephyr sources. For
complex applications this might be exported to a third-party build system.

When building C++ source code, generator expressions are used to distinguish between flags that should be applied to C source code, and flags that should be applied to C++ source code. See documentation
of $<COMPILE_LANGUAGE:lang> in h

[2017-11-24 15:00] pfalcon opened #5153 "[RFC] Discussion of "cmake" vs "make" variables, aka "build environment" vs "work environment" setup"
There was some discussion of this issue between @SebastianBoe and me in https://github.com/zephyrproject-rtos/zephyr/issues/5140 and https://github.com/zephyrproject-rtos/zephyr/pull/5142 , and as those tickets are particular cases, and the discussion is far from complete, I'd like to create this ticket for wider and longer discussion.

So, idea I'd like to convey is that original Kbuild based sys

[2017-11-24 15:11] pfalcon commented on #4851
Attempt to established a more general outlook of the problems we experience with make variables: https://github.com/zephyrproject-rtos/zephyr/issues/5153

[2017-11-24 15:23] carlescufi commented on #5153
@pfalcon I think that moving those variables to actual "runtime" (p2) with Make/Ninja should not preclude the option of later setting those via IDE, meaning that, unless I'm missing something I don't see why we cannot move those back to p2 for some reason that escapes me now. I agree that options like `QEMU_PTY` belong in Make and not CMake, since they have nothing to do with the actual building o

[2017-11-24 15:29] SebastianBoe commented on #5153
I suspect that instead of a migration of variables from CMake to Make, we can do both in many cases and keep everyone happy.

[2017-11-24 15:31] pfalcon commented on #5153
@carlescufi

That's somewhat ambiguous. My understanding is that folks like @SebastianBoe, @mbolivar treat CMake as an abstraction layer with its own closed-circuit semantics which can generate a spec for an abstract, arbitrary build-worker system.

Of course, that's not going to work if we add rules for a particular build-worker system, namely, make, because it would contain things like `qemu -se

[2017-11-24 15:32] pfalcon commented on #5153
I did in https://github.com/zephyrproject-rtos/zephyr/pull/5154 , but that's extra work, extra testing, extra maintenance. And for what? In most cases, those opts aren't useful outside of command line unix make env (IMHO).

[2017-11-24 15:37] carlescufi commented on #5153
@pfalcon

Maybe I'm missing something here, but I believe one can generate code in CMake, using the CMake language, that then gets translated to the particular build system chosen. So @SebastianBoe, instead of writing `qemu -serial $(if $(FOO),bar,baz)`, can't we write something like `if(FOO in baz) qemu --serial` in CMake scripting language?

[2017-11-24 15:45] pfalcon commented on #5153
Maybe I'm missing something too. Per my understanding, CMake-based logic is static, in the sense that it happens once at cmake invocation. While we're talking about decision-making logic at make's invocation. I didn't hear about CMake language transplier to ~~JavaScript~~ make/shell language, but maybe I'm missing its advanceness indeed.

[2017-11-24 16:08] SebastianBoe commented on #5153
The benefit of, e.g. the technique of having flash_jlink, flash_openocd, targets instead of
a single target flash, which accepts make variables is that IDEs can know of the existance
of these targets and present them to the user.

As I said, we haven't started working on IDE support, so I don't have all the answers,
but out of curiosity, I tried it out with CLion, and indeed, CLion presented every

[2017-11-24 16:32] pfalcon commented on #5153
can be configured.

Sure, I'm well aware that I have limited insight into this stuff, that's why I'm posted this RFC, to have a wider discussion not directly tied to a particular value.

So, trying to translate that directly to "run" target, would "run_pty" work? It would, though "run" was  an abstraction over original "qemu" to allow running across various emulators, but running over PTY is a QEM

[2017-11-24 20:59] anderspitman opened #5159 "[nrf] Button example for nrf5x boards latches GPIO after 1 button press"
The interrupt handler triggers the first button push, but doesn't seem to respond to anything after that point, event if the board is reset. Only a re-flash lets it register another button push for me.

A solution (kindly shared by carlesc on the IRC channel) is to change the following line:

`#define PULL_UP 0`

to

`#define PULL_UP GPIO_PUD_PULL_UP`

Is there a proper place in the code to config

[2017-11-24 21:01] anderspitman commented on #5159
Oops looks like this is already covered in #4008

[2017-11-24 21:01] #5159 closed

[2017-11-24 22:00] andrian7 commented on #4959
Quick fix for Permission denied:
`chmod +x /usr/local/Cellar/crosstool-ng/1.23.0/lib/crosstool-ng-1.23.0/scripts/crosstool-NG.sh`

[2017-11-25 04:41] shukla-ashish-92 commented on #4567
Hi Sharan,
I've been trying to provision and configure /Bluetooth/mesh with Android app by silabs. After disabling the OOB feature, it successfully provision the node, but configuration page never appears as shown in the video. If you've made it work, would you please share hacks you did to configure it ?

[2017-11-25 06:34] vakulgarg commented on #5143
Thanks for looking into this. Does the problem reproduce at your end?

Regards
Vakul

On 24-Nov-2017 5:03 PM, "Sebastian Bøe" <notifications@github.com> wrote:

[2017-11-25 17:00] anderspitman opened #5162 "Reduce duplication in UUID definitions?"
Looking at `include/bluetooth/uuid.h`, is there any reason not to replace the definitions like this:

[code]

with this:

[code]
in order to reduce duplication a bit?

[2017-11-25 22:36] nashif commented on #5143
this config is being set in the board when networking is enabled, looks like it is not overridable, which is a problem.

[2017-11-26 07:06] jhedberg commented on #5162
Only reason I can think of is that you'll have to start breaking long lines, but that's probably not reason enough. So if you want to send a patch to fix this, feel free :)

[2017-11-26 13:26] ydamigos commented on #4150
PR #5163 adds support for the rest of the STM32 families.

[2017-11-26 16:44] kumarvikash1 commented on #4353
What is the target release version ? Can we fix this issue in R-1.10 ?

[2017-11-26 19:02] SharanIoT commented on #4567
Hi Ashish,

How did you disable the OOB feature? how did you initialize bt_mesh_prov and bt_mesh_cfg initialize?

Thanks & Regards,
Sharan

[2017-11-27 01:58] nvl1109 commented on #1526
Another way to get it works:
[code]
You need to enter the OOB number (get from zephyr console) when Silicon Lab app requires.

[2017-11-27 04:27] nashif commented on #5153
IMHO we are going back to how kbuild in zephyr was overloaded with things a build system is not supposed to be doing in the first place. Trying to make the **build environment** to act as a test-runner supporting different complex scenarios with different options, sometimes added adhoc does not scale and will make the build system very difficult to deal with, just like we had with kbuild.
We do ha

[2017-11-27 05:45] rrahulkx commented on #4744
ok  thanks @tbursztyka .
With latest zephyr(07e1a64e77e15180721c56993a19bce473ff4365), Testcase is passing, so closing the issue.

[2017-11-27 05:45] #4744 closed

[2017-11-27 08:14] vikramx2112 commented on #5087
Thanks @jhedberg, with latest BLE FW, test is passing. So closing the issue thread.

[2017-11-27 08:14] #5087 closed

[2017-11-27 08:16] vikramx2112 commented on #5063
With latest zephyr BLE FW(commit ID=f48dda0f0f4a44c9be86609331430b0bbc4d149a), test is passing, so closing the thread issue.

[2017-11-27 08:16] #5063 closed

[2017-11-27 10:35] nniranjhana commented on #3144
@MariuszSkamra @rmstoi @laperie This test case has started passing in my current environment. Can check and close the issue.

[2017-11-27 16:29] lpereira commented on #5062
This is a false positive. Ignoring.

[2017-11-27 16:29] #5062 closed

[2017-11-27 16:29] lpereira commented on #5060
This is a false positive. Ignoring.

[2017-11-27 16:29] #5060 closed

[2017-11-27 18:05] pfalcon commented on #5153
@nashif : Some quick replies.

I don't think that there was support for "complex scenarios", just the most basic ones, though I agree some were added in adhoc manner. And I'm not sure that Kbuild was hard to deal with because of these pretty modest additions, vs due to how it was built in the first place ;-). (The same applies to CMake too.)

Sounds good, but the matter, the usual direction is tha

[2017-11-27 18:46] lpereira commented on #5148
How does it compare to [SPIFFS](https://github.com/pellepl/spiffs)?

[2017-11-27 19:51] carlescufi commented on #5148
@lpereira I see that the author also has a project for an on-chip FS:

https://github.com/pellepl/niffs

[2017-11-27 21:17] andrewboie commented on #5130
Hmm, we could add guards, but really nobody should ever include those headers directly. People should be doing #include <toolchain.h>

[2017-11-27 22:34] dbkinder opened #5176 "zephyr-v1.9.2 tag missing"
Final tagged releases for Zephyr all have the form zephyr-v1.x.x except for the latest v1.9.2 (where there's no zephyr-v1.9.2 tag).  See https://github.com/zephyrproject-rtos/zephyr/tags

[2017-11-28 00:11] VinceGa opened #5177 "hci_usb: Linking error"
GNU Arm Embedded Toolchain on OS X.
Version 6-2017-q2-update

[ 95%] Linking C executable zephyr_prebuilt.elf
libzephyr.a(usb_device.c.obj): In function `usb_data_to_host':
/Users/VincentG/Zephyr/zephyr/subsys/usb/usb_device.c:198: undefined reference to `usb_dc_ep_write'
libzephyr.a(usb_device.c.obj): In function `usb_handle_std_device_req':
/Users/VincentG/Zephyr/zephyr/subsys/usb/usb_device.c:5

[2017-11-28 00:25] lpereira commented on #5121
False positive.  This is a hardware register and code has a comment already.

[2017-11-28 00:25] #5121 closed

[2017-11-28 00:27] lpereira commented on #4586
Parse errors are often issues with Coverity itself. This appears to be the case here, as the code builds and runs.  I'm closing this as false positive.

[2017-11-28 00:27] #4586 closed

[2017-11-28 00:28] lpereira commented on #4583
Closing as false positive since this is a parsing issue with Coverity.  GCC understands this code just fine.

[2017-11-28 00:28] #4583 closed

[2017-11-28 00:29] lpereira commented on #4579
Closing this issue as it's a parsing issue with Coverity. GCC understands the code just fine.

[2017-11-28 00:29] #4579 closed

[2017-11-28 00:30] lpereira commented on #4052
Setting priority to low as this is a test.

[2017-11-28 00:31] lpereira commented on #3897
It seems that everything mentioned here has been fixed. Things have been either merged, or marked as false positives in Coverity

[2017-11-28 00:31] #3897 closed

[2017-11-28 00:56] lpereira commented on #5118
This looks like a non-issue: ENET_GetDefaultConfig() initializes ringNum from a enet_config_t to 1, and between eth_0_init() calling it and all the functions called by ENET_Init() using the buffer_config struct as an array, nothing changes the ringNum value. I'm closing this as intentional.

[2017-11-28 00:56] #5118 closed

[2017-11-28 00:58] lpereira commented on #4053
Changing to low priority since it's in a test.

[2017-11-28 03:20] nashif commented on #5176
done

[2017-11-28 04:22] tarunkum commented on #5145
Thanks a lot Johan. I have upgraded the BLE firmware on Arduino 101 after that I did not face any issue related to connectivity.

[2017-11-28 04:22] #5145 closed

[2017-11-28 08:52] gurucharanx commented on #4018
The test case is running fine on qemu-x86 with the
commit ID: cb9390c791f25a6787e07de085375eab96d29e5c

The output of the test run is as below

[100%]
To exit from QEMU enter: 'CTRL+a, x'
[QEMU] CPU: qemu32,+nx,+pae
qemu-system-i386: warning: Unknown firmware file in legacy mode: genroms/multiboot.bin

***** BOOTING ZEPHYR OS v1.10.0-rc1 - BUILD: Nov 28 2017 08:43:40 *****
Running test suite net_m

[2017-11-28 09:22] gurucharanx commented on #4213
@jukkar  I have tried to config  CONFIG_NET_IPV6=n and CONFIG_NET_APP_NEED_IPV6=n in my config for IPv4 but still getting the similar issues.

[2017-11-28 10:53] nvlsianpu commented on #5148
Regard SPIFFS - In techdoc (https://github.com/pellepl/spiffs/blob/master/docs/TECH_SPEC#L42) there is  noticed about that it using read-modify-write algorithm for writing to flash, what is probably unwanted for some devices we supported in zephyr.

[2017-11-28 14:05] nashif commented on #5148
i think those filesystems are orthogonal to the feature being requested, which is a flash circular buffer, ie. very low level and not really a file system.

[2017-11-28 16:11] SebastianBoe commented on #5153
I am sceptical to having a layer on top of Zephyr's build system.

The Zephyr build system is not just something that compiles code, nor should it be. It is a knowledge
engine that knows "how" to give a user something that the user knows "what" is. This doesn't mean
the knowledge engine always needs to know all the details, it is OK, for it to pass on a users request
verbatim to an underlying scri

[2017-11-28 16:59] dbkinder commented on #5176
Almost.  The release notes should be on the zephyr-1.9.2 tag too.

[2017-11-28 17:21] #4600 closed

[2017-11-28 17:24] galak commented on #4888
Any updates on a fix for this?

[2017-11-28 17:47] galak commented on #5109
Can we write a script or something to modify the yaml files?

[2017-11-28 17:49] galak commented on #4001
@andrewboie ping on closing this

[2017-11-28 17:50] galak commented on #2760
@finikorg any updates on this? or the PR

[2017-11-28 18:09] #4001 closed

[2017-11-28 18:20] galak commented on #4927
We added an assert in subsys/random/rand32_entropy_device.c for this, but should this be in device_get_binding()?  [ there might be some valid cases for getting null back ]

[2017-11-28 18:21] nashif commented on #4766
@AdithyaBaglody are you looking into this?

[2017-11-28 18:21] galak commented on #4927
Added reference to #4928 for tracking purposes.

[2017-11-28 18:26] nashif commented on #4353
@SebastianBoe is this still an issue?

[2017-11-28 18:27] #5040 closed

[2017-11-28 18:28] nashif commented on #1181
@pfalcon any update on this one? Is this still an issue?

[2017-11-28 18:28] carlescufi commented on #5153
@mbolivar FYI

[2017-11-28 18:39] carlescufi commented on #5153
My current preference (which has changed a bit) based on these last days' conversations and personal usage of the build system is to have 2 layers:

* Expert users, integrators, test systems should always be able to, at the very minimum, build from CMake. Flashing is a nice extra, but I would personally not be against moving flashing entirely out of the build system and into an upper layer. Same g

[2017-11-28 18:43] pfalcon commented on #1181
@nashif : Yes. However, this clearly doesn't fit into 1.10, assigned 1.11 milestone.

[2017-11-28 19:29] mike-scott commented on #4888
Let's mark this as 1.11.  I want to get the fix right for this.

[2017-11-28 19:35] andrewboie commented on #5019
The compiler doesn't seem to be generating the stack canary code on ARC.
Maybe the compiler doesn't support it?

[2017-11-28 19:48] andrewboie commented on #5019
[code]

[2017-11-28 19:49] mbolivar commented on #5153
@SebastianBoe wrote:

@pfalcon responded:

I believe @pfalcon has identified the crux of the matter here, which I have also had trouble dealing with. Specifically, it is sometimes necessary to pass values at runtime to targets in the generated build system.

Unfortunately, with CMake, the only portable way I can find to do this across generated build system types (and I'll out myself as a partisan

[2017-11-28 19:56] andrewboie commented on #5019
If I manually pass -fstack-protector-all it works.
The build system rejects the option because the test code fails due to linker error.
I'm mystified why this doesn't fail on other arches, the stack protector feature requires that the __stack_chk_guard and __stack_chk_fail symbols are defined, I don't see how this could work on other arches since we are building free-standing binaries.

[2017-11-28 20:33] andrewboie commented on #5019
I could investigate further why this only fails on ARC, but I think a different approach is needed.

It seems we do these checks for ALL c compiler options, anytime zephyr_cc_option() is used.
Any option that doesn't pass the test, is dropped from cflags when the kernel is built.
In this case, I think this is not ideal. I would much rather see the build break if someone tries to enable the stack c

[2017-11-28 20:40] andrewboie opened #5184 "kernel system call handlers missing due to -Wl,--no-whole-archive"
Discovered by @agross-linaro, who was getting "unimplemented system call" errors on ARM for k_thread_abort().

ARM has a custom implementation of k_thread_abort under arch/arm. This has the effect of compiling out everything in kernel/thread_abort.c except the handler function.
For some strange reason, if --no-whole-archive is enabled, the linker decides to prefer the weak handler for k_thread_abo

[2017-11-28 21:25] andrewboie commented on #4911
(01:14:40 PM) Anas: any idea if there is a way to emulate internal flash of an mcu with qemu? (https://github.com/zephyrproject-rtos/zephyr/issues/4911)
(01:18:02 PM) apboie: Anas: I know you can pass a disk image file to QEMU to use
(01:18:35 PM) apboie: -drive option
(01:18:59 PM) apboie: but that may or may not work, probably emulates a SATA device or something, not some memory-mapped flash
(01

[2017-11-28 21:48] andrewboie opened #5186 "gen_syscall_header_py is being run at the wrong time"
gen_syscall_header.py is being run at cmake time, not at build time.
There seems to be an assumption that this action has no dependencies. This is not true. The script itself is a dependency.
The build system needs to re-run this script, when it builds the kernel, if the script itself changes. This used to work but broke with the new build system.

[2017-11-28 21:48] #5019 closed

[2017-11-28 21:48] andrewboie commented on #5186
Another problem: if the script fails to run, the build doesn't break.

[2017-11-28 23:54] dbkinder commented on #5051
@nashif There are quite a few doxygen @defgroup commands in the include/ header files, without a corresponding doxygengroup directive in a .rst file to get that material in the generated API docs.  Are there any of these that shouldn't be in our API docs?

DMA_interface  (dma.h)
arp  (net/arp.h)
bluetooth  (bluetooth/bluetooth.h)
bt_crypto  (bluetooth/crypto.h)
bt_hfp  (bluetooth/hfp_hf.h)
bt_mesh

[2017-11-29 04:12] shukla-ashish-92 commented on #1526
.output_size = 4,
.output_actions = BT_MESH_DISPLAY_NUMBER | BT_MESH_BEEP | BT_MESH_VIBRATE | BT_MESH_BLINK,
.output_number = output_number,

by making these changes in zephyr/samples/bluetooth/mesh/src/main.c, silicon app asks for OOB number, but it fails to configure the node.

[2017-11-29 05:09] kumarvikash1 commented on #4606
As discussed above, Now VID & PID values are being provided from test framework only. Specific VID & PID will be profided by user, if any.

We can close this issue as FIXED.

[2017-11-29 07:39] finikorg commented on #2760
@galak My PR #4999 is in review at the moment

[2017-11-29 07:56] finikorg commented on #5177
How do you build it? I tested it works fine for quark_se_c1000_devboard board. What is your board?

[2017-11-29 09:03] rrahulkx opened #5189 "tests/subsys/fs/nffs_fs_api:-Evalution failed"
As on  zephyr commit ID:-07e1a64e77e15180721c56993a19bce473ff4365

**Steps to be Reproduce:**

cd $ZEPHYR_BASE/tests/subsys/fs/nffs_fs_api
mkdir build && cd build
cmake -DBOARD=qemu_x86 -DTEST=cache ..
make run

**Then console output is obtained as pasted below:**

Running test suite nffs_fs_cache_test
===================================================================
starting test - test_cache_l

[2017-11-29 09:59] #3144 closed

[2017-11-29 11:48] tbursztyka commented on #4027
Can you reproduce that on latest master? Since your report, there had been many fixes applied on TCP.

[2017-11-29 15:11] erwango opened #5198 "board: Provide new pictures for nucleo_f413zh"
Pictures provided for nucleo_f413zh are actually those from nucleo_f412zh and might not be 100% accurate.
Need to be replaced

[2017-11-29 15:46] linkmeyer commented on #5184
@andrewboie , can you please set the priority?

[2017-11-29 16:08] galak commented on #1597
Completed with merge of #5182

[2017-11-29 16:08] #1597 closed

[2017-11-29 16:17] galak commented on #3384
Any update on this?

[2017-11-29 16:24] nashif commented on #5176
done

[2017-11-29 16:24] #5176 closed

[2017-11-29 16:30] galak commented on #3441
@jukkar any plans to address this for v1.10?

[2017-11-29 16:33] galak commented on #3127
@jukkar is this resolved?

[2017-11-29 16:46] galak commented on #3127
@laperie can you see if this has been resolved?

[2017-11-29 17:03] SebastianBoe commented on #5140
Resolved by #5154

[2017-11-29 17:07] lpereira commented on #5184
I set the priority to high since the way things are right now, they won't work on ARM.  This fix is required.

[2017-11-29 17:11] lpereira commented on #5184
I had originally set this to high because this wouldn't work on ARM, but userland isn't working on ARM yet and won't be at least for 1.11. So moved back to medium.

[2017-11-29 17:28] galak commented on #5189
I'm guessing this is related to needing to configure CONFIG_FS_NFFS_NUM_CACHE_BLOCKS & CONFIG_FS_NFFS_NUM_CACHE_INODES.  If you look at tests/subsys/fs/nffs_fs_api/testcase.yaml you'll see those set as part of the cache test.

[2017-11-29 17:51] SebastianBoe commented on #4353
Works perfectly!

Re-tested with a commit from master:

commit a8054d5936324e70dc9cdbfb4c37a89d5d08d17c
Author: Neil Armstrong <narmstrong@baylibre.com>
Date:   Tue Nov 28 16:40:40 2017 +0100

[2017-11-29 17:51] #4353 closed

[2017-11-29 19:58] andrewboie commented on #5184
This issue affects x86 and needs to go into 1.10

[2017-11-29 22:23] carlescufi commented on #5132
@andrewboie Could you give us some early feedback on what you think about this? Thanks!

[2017-11-30 04:39] vakulgarg opened #5207 "Bluetooth subsystem uses acl_in_pool even for controllers not supporting flow control"
If zephyr compiled with CONFIG_BT_HCI_ACL_FLOW_CONTROL=y is used with a controller which does not support hci acl flow control, it should not use acl_in_pool. The function bt_buf_get_rx() misses checking the flow control capability of controller and allocates from acl_in_pool for all types which are other than BT_BUF_EVT.

[2017-11-30 08:20] jhedberg commented on #5207
See my comment in the pull request. I'm failing to understand how the current behavior is "bad". Btw, the general assumption is that an application writer fine-tunes the configuration for the hardware that is being targeted, so in this case you simply wouldn't enable CONFIG_BT_HCI_ACL_FLOW_CONTROL since you know your hardware doesn't support it. Don't we also have board-specific defaults which cou

[2017-11-30 11:01] gurucharanx commented on #4018
The same test case fails if we introduce CONFIG_BOOT_DELAY=1000 in the prj.conf file and reports as below on qemu board
To exit from QEMU enter: 'CTRL+a, x'
[QEMU] CPU: qemu32
qemu-system-i386: warning: Unknown firmware file in legacy mode: genroms/multiboot.bin

***** delaying boot 1000ms (per build configuration) *****
***** CPU Page Fault (error code 0x00000000)
Supervisor thread read address 0

[2017-11-30 11:08] SebastianBoe commented on #5177
Unable to reproduce.

@VinceGa : Please create a new issue with more detailed steps to reproduce and assign to me.

[2017-11-30 11:08] #5177 closed

[2017-11-30 11:24] miyatsu opened #5211 "Kconfig: CPU_HAS_FPU dependencies problem"
Hi, recent I'm try to make the hello world on my board using "cmake -DBOARD=olimex_stm32_e407"，
 the cmake output some warning message below:

warning: (SOC_EM11D && SOC_EM9D && SOC_SERIES_SAME70 && SOC_SERIES_NRF52X && SOC_SERIES_EFM32WG && SOC_SERIES_STM32F3X && SOC_SERIES_STM32F4X && SOC_SERIES_MSP432P4XX && SOC_MIMXRT1051 && SOC_MIMXRT1052 && SOC_MK64F12 && SOC_EFM32WG && SOC_SERIES_QUARK_X100

[2017-11-30 11:49] #5186 closed

[2017-11-30 12:28] vikrant8051 commented on #5090
Thanks for reply !!

http://docs.zephyrproject.org/boards/arm/nrf52840_pca10056/doc/nrf52840_pca10056.html

cd $ZEPHYR_BASE/samples/bluetooth/mesh

# Make a build directory, and use cmake to configure a Make-based build system:
$ mkdir build && cd build
$ cmake -DBOARD=nrf52840_pca10056 ..

[2017-11-30 13:42] nashif commented on #5189
you need to set additional configs per the testcase.yaml for the cache test

[2017-11-30 13:42] #5189 closed

[2017-11-30 14:59] #5211 closed

[2017-11-30 15:03] pfalcon commented on #3441
@galak : AFAIK, @jukkar is on vacation. And in my list, this week IP stack is already in freeze. I've set milestone to 1.11.

[2017-11-30 15:06] pfalcon commented on #3127
@galak : In my list, what's left is to actually implement Ethernet IPv6 multicast handling on a real device (frdm_k64f). Bumping to 1.11.

[2017-11-30 15:08] pfalcon commented on #3805
@youvedeep : If this is about BT specifically, can the ticket title be updated accordingly?

[2017-11-30 16:58] galak commented on #3939
I think this resolved by PR #1262

[2017-11-30 16:58] #3939 closed

[2017-12-01 04:23] agross-linaro opened #5221 "Build doesn't fail if total RAM usage is greater than the RAM available on the board"
When compiling the image, there is no indication that you have blown through the available RAM on the target board.  The elf contains the amount used and the RAM size can be determined from the Kconfig/DT information.  It would be helpful for the build system to fail and give some useful information.

[2017-12-01 04:58] agross-linaro commented on #2775
The security jira has been implemented.  The security related JIRAs are located at:
https://zephyrprojectsec.atlassian.net

Tickets can be created by anyone, but are only readable/accessible by people assigned to the triage team, assignees, or people who were added specifically to review/examine the ticket.

[2017-12-01 04:58] #2775 closed

[2017-12-01 05:46] SavinayDharmappa commented on #4964
@galak  @nashif  arduino_101_sss dts support is added only for em_starterkit needs to added

[2017-12-01 07:01] jhedberg commented on #3283
My ongoing work for this feature is available in the "net_buf' branch of my Zephyr github tree:

https://github.com/jhedberg/zephyr/commits/net_buf

[2017-12-01 11:07] vakulgarg commented on #5207
I now understand that this is a non issue.

[2017-12-01 11:15] SebastianBoe commented on #2994
This bug still exists with the new build system unfortunately.

Now that we have a new build system it might be possible to fix the issue. This should
be investigated and then either fixed or documented as a limitation.

[2017-12-01 11:22] pfalcon opened #5223 "CMake: Recent changes broke 3rd-party build system integration again"
With MicroPython:

[code]

Worked well with 703dc59baad222f276f98676bc53f351ab648e89

[2017-12-01 11:46] pfalcon commented on #5223
Fixed by https://github.com/micropython/micropython/commit/bb047558da6d7e1857e1d4c79547776976353cd3 with @SebastianBoe's help on IRC.

[2017-12-01 11:46] #5223 closed

[2017-12-01 11:50] SebastianBoe opened #5226 "Compiling with -O0 causes the kobject text area to exceed the limit (linker error)"
Compiling with -O0 causes the kobject text area to exceed the limit (linker error).

This PR has a failing testcase:

https://github.com/zephyrproject-rtos/zephyr/pull/5225

To reproduce, do

cmake -DBOARD=qemu_x86 -DEXTRA_CFLAGS=-O0 -Hzephyr/tests/kernel/test_build -Bb && make -C b

on commit 967d8b5

[2017-12-01 11:51] SebastianBoe commented on #5226
Tweaking

 #define KOBJECT_TEXT_AREA	128

to be 256

fixed the issue, so perhaps we just need to tweak

#if defined(CONFIG_DEBUG) || defined(CONFIG_STACK_CANARIES)

to fix the issue.

[2017-12-01 12:09] pfalcon commented on #4917
Ok, so the current status of updating 3rd-party projects for Zephyr CMake build system:

* MicroPython changes are merged in https://github.com/micropython/micropython/commit/a036554a77c50fc4aabf056d93f7b3170ee4af21 (with a recent fix up in https://github.com/micropython/micropython/commit/bb047558da6d7e1857e1d4c79547776976353cd3)
* Patch for JerryScript submitted: https://github.com/jerryscript-p

[2017-12-01 12:18] pfalcon commented on #4917
So, it's fair to say that the original 3 requirements are possible with new CMake-based build system, and I ticked checkboxes in the top description.

But: doing the "being able to build 3rd-party app sources with the same compiler and compiler options as Zephyr uses" requirement takes adding an adhoc custom target to project's (each 3rd-party project!) CMakeLists.txt. Fairly speaking, each projec

[2017-12-01 13:42] superna9999 commented on #2956
@DWagenk can you have a look at #5224 ?

[2017-12-01 13:58] #5051 closed

[2017-12-01 14:05] SebastianBoe opened #5228 "The build fails when building echo_server with nrf52840_pca10056"
Steps to reproduce:

git checkout 967d8b5b59f6107af43a9979b34998b60f97f0ec
cmake -Bb -Hsamples/net/echo_server -DCONF_FILE=prj_nrf5.conf -DBOARD=nrf52840_pca10056
make -C b

[2017-12-01 16:18] SebastianBoe commented on #5152
This is resolved by https://github.com/zephyrproject-rtos/zephyr/pull/5229

[2017-12-01 16:29] SebastianBoe commented on #5228
Does not affect nrf51_pca10028 ...

[2017-12-01 17:36] agross-linaro commented on #5221
might be false positive.  will update when i get more info.

[2017-12-01 19:37] galak commented on #4841
Fixed by #5230

[2017-12-02 00:51] jimmy-huang commented on #4917
@pfalcon I have ZJS building with cmake and I used the samples/application_development/external_lib/ as a reference, but I am using ExternalProject_Add() instead of custom_target but so far it's working, I am  but I am not sure if is the ideal way, because we want to build jerryscript as as two separate static libaries (w/without the parser), and pick which one to link when we build that app.  So

[2017-12-02 13:23] iha opened #5240 "I2C is enabled by default on ESP32"
The gpio sample doesn't work because it uses the gpio port 4, which is used by I2C also.

Using `make menuconfig` in samples/drivers/gpio, I2C is enabled by default.

I checked that I2C is disabled in Kconfig.esp32 of the I2C driver and prj.conf of sample.

[2017-12-03 18:47] mhudec1 opened #5244 "UART continuous interrupt"
Hello,

I'm trying to program simple applicatio where when interrupt on uart rx occure, I just read the input buffer and send it back. My problem is, when i send more than 1 Byte, It stops responding and the interrupt is occuring continuously. In case i send only one byte it is working.

Here is the code:
[code]

I tried to code it using example nfc_hello, but there is no uart_irq_update funcion u

[2017-12-04 05:48] punitvara commented on #3384
Working on this. Work around is available. Debugging for permanent fix

[2017-12-04 09:39] spoorthik opened #5247 "Object tracing test case fails in NRF boards"
The test case in tests/kernel/obj_tracing fails for NRF board due to an extra  semaphore than the expected number.

Steps to reproduce:

- cd <ZEPHYR_BASE>/tests/kernel/obj_tracing
- mkdir build && cd build && cmake -DBOARD=nrf51_pca10028 ..
- /nrfjprog/nrfjprog --eraseall -f nrf51
- /nrfjprog/nrfjprog --program build/zephyr/nrf52_pca10040/zephyr.hex -f nrf51
- /nrfjprog/nrfjprog --reset -f nrf51

[2017-12-04 15:09] kenchris commented on #3500
Seems interesting as this is part of the Arduino Primo which main processor (nRF52) is already supported by Zephyr:

https://store.arduino.cc/arduino-primo

[2017-12-04 15:13] nashif opened #5254 "missing test for kernel event logger"
while we have a sample for the kernel event logger, we are missing a test that verifies the implementation and values. A test that verifies all functionality and options is needed to improve kernel code coverage.

Options to verify:

- [ ] KERNEL_EVENT_LOGGER
- [ ] KERNEL_EVENT_LOGGER_BUFFER_SIZE
- [ ] KERNEL_EVENT_LOGGER_DYNAMIC
- [ ] KERNEL_EVENT_LOGGER_CUSTOM_TIMESTAMP
- [ ] KERNEL_EVENT_LOGGER

[2017-12-04 15:51] nashif opened #5256 "_nano_tick_delta, sys_tick_delta, sys_tick_delta_32: not used or tested"
Looks like those are leftovers from the old kernel that are not being used or tests, look at removing them if we have this functionality provided somewhere else.

- [ ] _nano_tick_delta
- [ ] sys_tick_delta
- [ ] sys_tick_delta_32

[2017-12-04 16:18] SebastianBoe commented on #5228
The build fails because it is missing an include path.
The include path is missing because it is enabled by the disabled CONFIG_HAS_NORDIC_DRIVERS.
I have no idea why drivers is disabled and am unable to enable it.

Adding it to prj_nrf5.conf has no effect.

[2017-12-04 16:41] laperie commented on #4027
Closing as fixed.  Please reopen if the bug reappears (it shoudn't)

[2017-12-04 16:41] #4027 closed

[2017-12-04 17:32] pfalcon commented on #3127
So, mcast handling for frdm_k64f is posted as https://github.com/zephyrproject-rtos/zephyr/pull/5255 . Unfortunately, still no joy, as it only exposes further problems with the subject of this ticket:

[code]

The above still doesn't comply with https://tools.ietf.org/html/rfc4291#section-2.8's

As can be seen above, there's no solicited multicast for 2001:db8::1, so it would not answer to pings.

[2017-12-04 18:15] pfalcon commented on #3127
One question I'd like to have an answer for is: Should DAD be performed on manually assigned addresses (like CONFIG_NET_APP_MY_IPV6_ADDR)?

https://tools.ietf.org/html/rfc4862 so far isn't very clear on that. It has:

   process includes generating a link-local address, generating global
   addresses via stateless address autoconfiguration, and the Duplicate
   Address Detection procedure to verif