[2018-10-29 17:29] galak opened #10917 "Convert iwdg_stm32 STM32 Watchdog driver to new API"
We have a new driver API for watchdog, the old API has been deprecated for several releases now. We need to convert the driver to use the API or remove it.

[2018-10-29 17:30] galak commented on #10917
@apodogrocki can you look at update the driver?

[2018-10-29 18:14] #10345 closed

[2018-10-29 18:41] SebastianBoe commented on #10857
Code readability.

Since we no longer have typed base addresses, every reference to
hardware registers is going to look slightly different. E.g. in
one source file we might be calling it 'aurt0_addr', in another
'UART0_ADDR', in a third 'UART0', in a fourth, 'NRF_UART0_ADDR'
and so on.

With CMSIS you only needed to know whether a vendor distributed
CMSIS files with it's vendor prefix, or without,

[2018-10-29 19:42] galak commented on #10857
But should drivers be encapsulating the access to the HW registers?  As such we're going to end up with code generating what the driver desires the name to be called.

I'm also never been a fine of having the same define mean 2 different things based on the SoC.  We also have to think across arches w/regards to Zephyr.

I guess I'm still trying to understand what functionality you are wanting to e

[2018-10-29 21:33] jukkar commented on #10574
Already fixed

[2018-10-29 21:33] #10574 closed

[2018-10-29 23:06] yerabolu opened #10922 "Crypto/tinycrypt testcases are failing on multiple boards"
**Boards:** arduino2:arm, esp32:xtensa, ma:x86, emsk7d_v22:arc
**Commit ID:** 203948e156f58cdbca549b51c3170b5e5e67c937

**Log on Arduino:**

console output: Performing montecarlo_signverify test:
console output: ..........
eval error trace: Traceback (most recent call last):
eval error trace:   File "/home/jenkins/workspace/zephyr-master-tcf-v0.11-branch/LABEL/verify/SHARD/2-6/ZEPHYR_GCC_VARIANT/z

[2018-10-30 01:01] subbu147 commented on #10913
Hi Kumar,
I have done in it PR #10828. Can you please take a look at it.

[2018-10-30 02:09] #10870 closed

[2018-10-30 08:29] carlescufi commented on #10898
@thedjnK Please see this pull request:

https://github.com/zephyrproject-rtos/zephyr/pull/10900

This fixes your request through the use of Zephyr's reset type.

[2018-10-30 08:29] #10898 closed

[2018-10-30 10:40] galak commented on #10913
@subbu147 thanks for the update.  I've made some cleanups and enhancements.  Take a look, and if you can test it out, that would be great.

[2018-10-30 10:44] aescolar commented on #10243
We are actually not telling people to install gcc or gcc-multilib in the getting started guide.. The multilib dependency is only mentioned in the native_posix board page. I will do a PR to update the getting started list of packages for Ubuntu. (Maybe this issue is the result of running cmake the first time without the needed things, then installing them, and then running it again with a corrupted

[2018-10-30 10:55] pfalcon commented on #10243
Definitely not for me. rm -rf ... is my frequent command during Zephyr development (I don't trust Zephyr's own clean).

[2018-10-30 10:56] #10585 closed

[2018-10-30 11:00] #10685 closed

[2018-10-30 11:15] leodido99 commented on #9924
I'm having the same problem. Is there a quick fix to this?

[2018-10-30 11:19] nordic-krch opened #10930 "Extending string formatting function"
Today we use 2 different string formatting functions (at least in logger and shell):
- _prf from minimal libc if newlibc is not used
- _vprintk otherwise

It has been started by @jhedberg in #9090. Then briefly touched with @jhedberg, @mike-scott, @pizi-nordic and @jarz-nordic to extend string formatting function to support zephyr specific format specifiers for things like BLE or NET addresses (li

[2018-10-30 11:20] nordic-krch commented on #10930
@nashif @carlescufi could you forward this. I'm not sure who was responsible for string formatting functions, printk, minimal libc etc.

[2018-10-30 11:54] galak commented on #10904
@b0661 mentioned use for out of tree drivers, so wondering what requirements that drives

[2018-10-30 11:55] galak commented on #10904
One template file per driver .c file

[2018-10-30 11:58] galak commented on #10904
Should be standalone from Zephyr (usable by other projects).

[2018-10-30 12:00] nashif commented on #10769
This is no regression, when you completely change how the subsystem works, to the better, it happens. I have not seen anyone complaining about this being missing or being broken because of that. Very nice to be speaking for the "users", but I did not hear any users complaining about that. This will will need to be documented in the release notes and should be enough IMO. Let's move on.

If there i

[2018-10-30 12:14] galak commented on #10904
Performance of rendering (Are we invoking python once for all files that need to be rendered or per file)?

[2018-10-30 12:17] nordic-krch commented on #10769
Fyi, during hackathon @jarz-nordic was playing around making select command which goes one step into command tree. The trick there was that when you are switching to commands 'branch' you don't have `unselect` command. For that he used metakey `ctrl+x`. Such approach emulates starting an application and quitting it. Not sure where that ends and if he plans to do PR since it's rather nice to have f

[2018-10-30 12:18] pfalcon commented on #10769
@nashif: This ticket is open for community discussion. Please don't close it single-headedly, unless you want to make (repeated) precedents of how tickets are handled in Zephyr projects. Obviously, you won't "hear" complaints, if there's a motion to shut up any such discussion.

Otherwise, thanks for your opinion. I fully agree that this matter should be finalized until 1.14 release, so it's usefu

[2018-10-30 12:18] #10580 closed

[2018-10-30 12:19] pfalcon commented on #10769
I do hope that nobody spends implementation effort on this ticket until it's proven as required. I also do hope that it remains a place of discussion, and ultimately, an exercise of change control for all of us.

[2018-10-30 12:33] carlescufi commented on #10904
Thanks, updated the description now

[2018-10-30 12:40] vikrant8051 commented on #10664
Any update ?

[2018-10-30 13:01] erwango commented on #10904
This is complex.
This means that the solution should provide modules, or templating approach. Codegen provides this with each module providing an API for a particular template. I don't know if jinja2 could provide the same approach.
It also mean that invocation could be decoupled from Cmake.

[2018-10-30 13:07] SebastianBoe commented on #10857
Sorry, I don't understand what this means.

I'm not sure what this means either. Which define are you talking about? Note that the base addresses have become more consistent across platforms with the DeviceTree migration. But drivers don't traditionally use the base addresses, and the typed addresses, which are used, have become less consistent in Zephyr from the DeviceTree migration, so as a whol

[2018-10-30 13:10] SebastianBoe commented on #10857
Any developer that needs to access peripheral registers. So both application developers and driver developers. Peripheral registers are accessed by application developers when, for whatever reason,
the driver does not support the application's use-case, and the application developer needs to access HW directly (through a typed address).

[2018-10-30 13:12] SebastianBoe commented on #10857
In embedded, firmware does memory mapped IO to HW peripheral registers (addresses). I want the ability to reference these registers in a human-readable way.

E.g.

NRF_POWER->SYSTEMRESET = 1; // Do a soft reset of the system

[2018-10-30 14:27] rmstoi opened #10933 "net: ipv6: Zephyr replies to TCP & UDP with loopback destination address"
Zephyr TCP/IPv6 replies to TCP and UDP packets with destination IP address set to ::1 loopback address. These packet should be dropped instead.

[dst-loopback-tcp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2530031/dst-loopback-tcp.pcap.gz)
[dst-loopback-udp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2530032/dst-loopback-udp.pcap.gz)

[2018-10-30 14:29] #8999 closed

[2018-10-30 14:35] pawelzadrozniak commented on #10678
Timeout issue fixed in #10934 .

[2018-10-30 15:23] mandarcthorat1 opened #10935 "Support all UARTs on ESP32 WROOM module"
The UART functions available in ESP_IDF code at "components/esp32/include/rom/uart.h" header file takes UART number as parameter.

Zephyr should have option to support all 3 UART ports present on ESP32 WROOM module

[2018-10-30 15:32] FlorianFouillet opened #10937 "boilerplate.cmake and environment variable"
hi everyone, I am trying to use the zephyr stack and I am facing the same issue for the last days..

I am following the Linux development guide and doing every steps. then when I am trying to build the hello world example I keep having this cmake issue:

[code]

I have the file boilerplate but I think the issue is with the environment variable.

CmakeLists for hello_world:

[code]

I am sourcing t

[2018-10-30 15:58] pdunaj opened #10938 "Standardize labels (string device names) used for device binding"
To simplify OS API and allow cross platform application development it would be great if Zephyr defined a way in which device binding labels are set up.

At the moment there seem to be a mess with this. Let's take GPIO as an example.
Most SoCs have its label defined as `"GPIO_0"` the problem is that there is nothing in documentation that would say that using `"GPIO_0"` for binding will work for ev

[2018-10-30 16:00] pdunaj commented on #10938
@barsok ping

[2018-10-30 16:34] SebastianBoe commented on #10937
Perhaps the env vars are different when sudo is used. Try without sudo.

[2018-10-30 16:37] nashif opened #10942 "Declaring an API Stable"
from the API meeting in November 2017 this was the definition of stable APIs:

- When introduced: unstable by default
- At least 2(?) implementations of the API for different HW ->  generic.
- (Multiple) Applications in the case of HW agnostic APIs
- Dedicated model still valid, declare API for HW features (no catch-all API functions for HW specific features)
- Stable: basic requirements for an AP

[2018-10-30 16:44] erwango commented on #10938
This topic has already been discussed long time back.

Problem is that vendors documents quite different names for their IPs.
If Zephyr specifies `GPIO_5`, how can I map this to my STM32, NXP, ARC, ... devices, where reference manual deals with `GPIOA`, some start numbering with `GPIO_1`, etc .... ?

Though, dts could define aliases. They are already used in for leds and buttons:
[code]
I think th

[2018-10-30 16:53] erwango commented on #10904
Added information about driver <> compatible binding:
    * Driver <> EDTS binding should be done using dts 'compatible' property.

[2018-10-30 16:56] michiwend opened #10943 "Objects in a custom RAM section defined in custom-sections.ld don't get initialized"
Working on an ARM cortex_m platform (NRF52840), when adding objects to a custom RAM section defined in `custom-sections.ld` in my project folder the objects don't get initialized to their initial values. However when I add the same section definition to `include/linker/common-ram.ld` it works as expected. I'm not sure whether I'm doing it wrong, it's not what the `custom-sections.ld` is for or if

[2018-10-30 16:57] galak commented on #10942
Test of the full API should be part of the requirements for 'stable' classification.

[2018-10-30 17:15] carlescufi commented on #10937
@FlorianFouillet yes, as @SebastianBoe says, you really should not be building with `sudo` in the first place unless you have a very good reason for it.

[2018-10-30 17:16] carlescufi commented on #9055
@postlund @larsgk can you retry with current master? a fix was just merged https://github.com/zephyrproject-rtos/zephyr/pull/10934

[2018-10-30 17:18] carlescufi commented on #9055
@lemrey it looks like all the features are in place for this now. We just need to document how to transition from the built-in bootloader to MCUboot in order for people to be able to use this without a debugger.

[2018-10-30 17:18] carlescufi commented on #8683
Closing due to inactivity

[2018-10-30 17:18] #8683 closed

[2018-10-30 17:33] #10937 closed

[2018-10-30 17:38] larsgk commented on #9055
I can try when I get home

On Tue, Oct 30, 2018, 18:24 Carles Cufí <notifications@github.com> wrote:

[2018-10-30 17:41] carlescufi commented on #10671
@SergeSmirnov so there are 2 things here:

1) Are you sure `CONFIG_BT_CTLR_CONN_PARAM_REQ` is set to `=y` in your `<build>/zephyr/.config`?
2) You need to be sure that the master (nRF_Connect) actually supports LE Connection Parameters Request, because both master and slave need to support it in order for the feature to be used.

@cvinayak any other clues?

[2018-10-30 17:48] carlescufi commented on #10671
@SergeSmirnov also the decision is taken here: https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/conn.c#L204

Maybe you can add some debug info there to find out exactly why L2CAP is being used?

[2018-10-30 17:53] carlescufi commented on #10937
@FlorianFouillet Glad to hear this worked for you. Remember to install dependencies with `pip install --user` so that they are placed in the user folder and not a global one.

[2018-10-30 17:57] carlescufi commented on #9352
Closing this since the question was answered

[2018-10-30 17:57] #9352 closed

[2018-10-30 18:08] SergeSmirnov commented on #10671
@carlescufi
About **CONFIG_BT_CTLR_CONN_PARAM_REQ** just double checked it.
By default **CONFIG_BT_CTLR_CONN_PARAM_REQ=y**.
To disable it you need to set **CONFIG_BT_CTLR_CONN_PARAM_REQ=n**.

Thanks for the link. I will try debugging tomorrow.

[2018-10-30 18:18] SebastianBoe commented on #10943
"it's not what the custom-sections.ld is for or if it is an
actual bug?"

I wouldn't say it's a bug. For that section to be copied from
flash to ram it has to be placed in a location that the kernel
will run memcpy on (see _data_copy() in init.c).

I think you are probably looking for CUSTOM_RWDATA_LD.

[code]

as that will be placed somewhere that is copied from flash to
ram.

I see there is also

[2018-10-30 18:37] ceolin commented on #10942
Question related with this matter. How is our policy about API breaks ?
Asking because With MISRA-C changes we'll need break some API due things like
identifier clashes.

[2018-10-30 18:43] himanshujha199640 commented on #10845
I'm not discouraged!
It's just that I don't want to waste either of our time pushing issues
which have a low priority.

OK.
As @galak pointed to the 3rd party repo, you can also point me to it, and I will push
at that repo instead.

I work with the linux kernel community, so used to it ;)
https://lore.kernel.org/lkml/20170829142011.76w67w64a7lheef4@piout.net/

[2018-10-30 18:50] ochipara opened #10945 "native_posix fails to compile on macOS"
Hi,

I am trying to compile hello_world for native_posix on an os x (high sierra). I am able to use cmake to generate the build files, but it fails during compilation. I am getting the following error

FAILED: zephyr/CMakeFiles/offsets.dir/arch/posix/core/offsets/offsets.c.obj
/usr/bin/gcc -DBUILD_VERSION=zephyr-v1.13.0-1408-g7700eb2a15 -DKERNEL -D_FORTIFY_SOURCE=2 -D_POSIX_C_SOURCE=200809 -D_XOPE

[2018-10-30 21:17] sathishkuttan opened #10948 "k_msgq API to peek the message at the head of the queue"
Currently there are 2 primary APIs for the kernel message queues. _put() and _get().
In a few drivers, I could have avoided creating additional message queues if there was an API to read the message at the head of the queue without actually deleting the message from the queue.
For example while tracking data buffers through the driver from
- application to the driver
- within driver to the DMA des

[2018-10-30 21:34] ceolin commented on #1291
@nashif looking the features, aren't we targeting pse51 ? pse52 is pse51 + file systems + asynchronous I/O.

If we're targeting pse52 we need to add:
 - memory mapped files
 - files and directories
 - Asynchronous I/O

[2018-10-30 21:35] b0661 commented on #10904
EDTS should be decoupled from extract_dts_includes.py. It should have it´s own extraction function that directly extracts from the compiled DTS file (see #10885).

Benefit:
- Smooth transistion from defines to code generation without impacting each other
- Standardized EDTS extraction becomes part of the database and enables the database to be used standalone.
- Without coupling to define generati

[2018-10-30 22:02] b0661 commented on #10904
Must be detailed.  'compatible' is the same for all instances of a driver.

 - How shall the instances of a driver be bound? - by 'label', by 'address', by ???

[2018-10-30 22:09] b0661 commented on #10904
Does that mean:

- low maintenance burden because maintained/ improved outside of Zephyr or
- low maintenance burden because maintained/ improved inside of Zephyr with full control and no extra effort to upstream?

[2018-10-30 22:22] b0661 commented on #10904
These are rules how to structure a driver.  Code generation should not be restricted to this model. Code genration should be versatile and generate any file type (not only *.h.in -> *.h).

[2018-10-30 22:25] b0661 commented on #10904
Template faults shall be easy to debug with a clear indication of the fault location in the template.

[2018-10-30 23:32] ceolin commented on #10922
the log is just showing the python script backtrace. The script crashes when the test fails or is other problem ?

[2018-10-31 02:01] RonAmihai opened #10952 "Bluetooth Mesh: Disabling "CONFIG_BT_MESH_DEBUG_ACCESS" leads to wrong OpCode attached to sent messages"
Me & my team are developing Zephyr Bluetooth mesh application, using nRF52840-pca10056 boards.
Our application is working as expected in version (1.12). Currently we are using self provisioning in both server & client models if it matters.

After upgrading to Zephyr 1.13.0 - we've noticed that disabling the "CONFIG_MESH_DEBUG_ACCESS" causes our server model to attach WRONG opcode to sent messages

[2018-10-31 02:35] jimschm commented on #10243
I am well versed with cmake. That said it's good to mention in the instructions that tool paths are cached in the build directory.

[2018-10-31 05:15] nniranjhana commented on #10594
Fixed via #10738

[2018-10-31 05:15] #10594 closed

[2018-10-31 05:33] nniranjhana commented on #10576
This is also fixed via #10738

[2018-10-31 05:33] #10576 closed

[2018-10-31 06:11] b0661 commented on #10904
Excluding a major set of known use cases from the requirments analysis is the wrong method. By this you do not identify the shortcomings of the tools. In a tool evaluation you still may decide to use the tool just because you are only targeting the limited scope - but then you know about the implications.

The use cases I ran in so far:

- Write a driver for a pin controller device that initialize

[2018-10-31 07:12] guanyuqian opened #10955 "I can't see the output using the minicom when flash on STM32F429IGT6"
I flash zephyr on  STM32F429IGT6 follow the [zephyr document ST STM32F4DISCOVERY](https://docs.zephyrproject.org/latest/boards/arm/stm32f4_disco/doc/stm32f4_disco.html)
using the ninja flash the output on pc is

[code]

Is it show success?

but when I use the minicon to observed the "hello world" output ,I found nothing
`$ minicom -D /dev/ttyACM0`

I flash other program (ucos3) on my board , the r

[2018-10-31 08:39] rmstoi opened #10958 "net: ipv6: Zephyr replies to a packet with destination multicast with scope zero"
Packets with a multicast destination address of scope zero must be dropped.

[dst-multicast.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2533414/dst-multicast.pcap.gz)

[2018-10-31 08:44] pdunaj commented on #10938
Hi @erwango , code that you pasted is what I would expect the OS to do. Create a mapping between the application and devices. In Linux if I open `/dev/fb0` or `/dev/console` do I care who is the vendor?

To show an example how simple it could be note that Zephyr OS could document that SoC vendor creating an UART driver must name UART in following way: `"UART_n" when n is sequential number starting

[2018-10-31 08:51] rmstoi opened #10959 "net: ipv6: Zephyr replies to a packet with interface-local multicast destination"
Packets received with interface-scope multicast destination address must be dropped.
[dst-iface-local-multicast.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2533456/dst-iface-local-multicast.pcap.gz)

[2018-10-31 08:52] #10943 closed

[2018-10-31 08:59] tbursztyka commented on #10904
I don't get this requirement. Have there been actual real interest from other projects to reuse what's being done by @b0661 and @erwango ? (This is something deeply tied to zephyr, making it "generic" will just add-up a big amount of work).

[2018-10-31 09:11] rmstoi opened #10960 "net: ipv6: Zephyr replies to a packet with site-local multicast destination address"
Packets should be dropped if  site group ID does not match one of the sites administratively assigned to that interface.

[dst-site-local-multicast-icmp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2533522/dst-site-local-multicast-icmp.pcap.gz)
[dst-site-local-multicast-tcp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2533523/dst-site-local-multicast-tcp.pcap.gz)
[dst

[2018-10-31 09:18] rmstoi opened #10961 "net: ipv6: Zephyr replies to a packet with organization local multicast destination address"
Packets should be dropped if organization group ID does not match one of the organizations administratively assigned to that interface.
[dst-org-local-multicast-icmp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2533548/dst-org-local-multicast-icmp.pcap.gz)
[dst-org-local-multicast-tcp.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2533549/dst-org-local-multicast-tcp.pca

[2018-10-31 09:48] michiwend commented on #10943
@SebastianBoe thanks for your help. Putting the definition inside of the custom-rwdata.ld works. But since it is already included into a section i just kept the inner three lines like so:
[code]

[2018-10-31 10:31] agansari commented on #8888
FLASH is not yes initialized to run this demo out of the box even after #8900 is fixed.

[2018-10-31 11:00] carlescufi commented on #10904
@b0661 so are you saying that these usecases are not covered by the requirements because  we will need code generation inside the `.c` files, that having a generated `.h` won't be enough?

[2018-10-31 11:02] carlescufi commented on #10904
We are trying to limit the scope here, solving one problem at a time to try and make progress. Code generation itself is limitless, but we do want to try and work on a subset of issues that we need to fix now. All of the code generation options proposed are flexible enough in the end to generate any file types.

[2018-10-31 11:30] laperie commented on #7586
PR #9832 is addressing this issue

[2018-10-31 11:37] nashif opened #10965 "wncm14a2a modem should be moved to a shield configuration"
The modem is part of a shield, currently is hardcoded into the frdm_k64f board DTS. We should move it to a shield an make it available to other boards.

[2018-10-31 12:05] pfalcon commented on #10938
Specifically: https://lists.zephyrproject.org/g/devel/message/42

@pdunaj, I like your approach, of 2 cases brought by you I've seen so far, 2 I tried to move forward before too. Definitely try to push them forward, you have my +10 on any good RFC you bring up. But as I already said elsewhere, a word of warning: "nobody cares". That's blatant oversimplification of course, more like "everybody care

[2018-10-31 12:07] finikorg opened #10967 "FRDM-K64F and MCR-20A configuration does not work"
Since some DTS stuff was changed I cannot use FRDM-K64F and MCR-20A

Errors are:
[code]

[2018-10-31 12:08] pfalcon commented on #10938
Oh, and btw, last thing I heard is that "ascii device names" are to be gone. Calling @tbursztyka (with apology if I mixed up and I heard that from somebody else).

[2018-10-31 12:21] pfalcon commented on #10512
So, to not push deds behind the talk (because indeed, we're talking long enough on that, it started long before this ticket), https://github.com/zephyrproject-rtos/zephyr/pull/10765 was the next step.

Capturing @nordic-krch's comments to it:

Ack from my side on the requirement, we can think what's the cleanest (re: POSIX integration too) and the most general way to implement it.

[2018-10-31 12:30] tbursztyka commented on #10938
@pfalcon no you're right, hopefully one day we'll get rid of these names (see Issue #6293). But first, device instantiation automation has to go in (DTS/Codegen and all), so it's a long shot.

[2018-10-31 12:42] #10573 closed

[2018-10-31 12:52] carlescufi commented on #10904
@galak I've removed the "should be standalone" requirement because it's not clear what exactly you mean by that, as pointed out by several people on this thread.

[2018-10-31 13:32] #10348 closed

[2018-10-31 13:40] galak commented on #10904
Yes, there's real interesting other projects like the TFM (https://www.trustedfirmware.org/).  The CMake integration is obviously going to be Zephyr specific, but going from a set of YAML files & dts, plus whatever template generation solution should be able to be used by any project.

[2018-10-31 13:40] galak commented on #10904
I'd rather clarify what this means, than removing it.

[2018-10-31 13:41] carlescufi commented on #10904
@galak
OK, can you add it back with a little bit more information on what it actually means?

[2018-10-31 13:54] galak commented on #10904
Added back, let's see if that's any more clear to people.

[2018-10-31 13:55] galak commented on #10904
Curiuos why at 'ninja' time?

[2018-10-31 14:05] SebastianBoe commented on #10904
Because it makes the build system run faster and therefore improves the usability.

[2018-10-31 14:09] galak commented on #10904
I assume you guys mean how we figure out what one would pass to device_get_binding()?  Or are we thinking about something else?

[2018-10-31 14:14] rmstoi opened #10970 "net: ipv6: Zephyr replies to malformed ICMPv6 message"
Malformed messages should be dropped instead.

[icmp-trunc.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2534738/icmp-trunc.pcap.gz)

[2018-10-31 14:25] evenl commented on #10904
We really need to define what "standalone" means, because this requirement does not make sense to me no matter how I try to look at it...

[2018-10-31 14:26] rmstoi opened #10971 "net: ipv6: Zephyr replies to ICMPv6 packets with incorrect checksums"
These messages should be dropped instead. Note that also checksum 0 is not valid for ICMP.

[chksum-err3.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2534798/chksum-err3.pcap.gz)
[chksum-err2.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2534799/chksum-err2.pcap.gz)
[chksum-err1.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2534800/chksum-err1.pcap.gz)

[2018-10-31 14:58] laperie opened #10972 "Modify socket samples to use user mode"
Since user mode support was enabled in Zephyr for sockets (See https://github.com/zephyrproject-rtos/zephyr/issues/8203) at least some of socket-based samples need to be modified to support it.

[2018-10-31 15:15] aescolar commented on #10945
Hi @ochipara , we have tried to get native_posix working on mac OS and do know from a couple of people who tried that it does not work.

[2018-10-31 15:44] galak commented on #10904
Not sure if my update makes it more clear.

[2018-10-31 16:15] #9993 closed

[2018-10-31 17:03] galak commented on #6545
@salerio-gs is this something you are looking at or just saying would be nice?

[2018-10-31 17:56] SergeSmirnov commented on #10671
@carlescufi
First, a big thank you for the clue the direction of the search.
I did a lot of tests with various Android and Apple devices using nRF_Connect.
Checked commands LL_FEATURE_REQ, LL_SLAVE_FEATURE_REQ, LL_FEATURE_RSP and LL_VERSION_IND.

If the BLE version of the master is 4.2, then feature **Connection Parameters Request Procedure** is allowed and the callback **le_param_req()** occurs.

[2018-10-31 18:48] carlescufi commented on #10671
@SergeSmirnov thanks very much for reporting back. I will now close this issue, glad that you got your issue resolved and look forward to you using Zephyr for your applications.

[2018-10-31 18:48] #10671 closed

[2018-10-31 19:03] tugstugi commented on #9055
Is there now a documentation how to replace the stock bootloader without jlink?

[2018-10-31 19:45] carlescufi commented on #9055
@tugstugi not yet, @lemrey is working on it and will report soon

[2018-10-31 22:12] aurel32 commented on #4150
I am also interested in an USB audio class in Zephyr to run on a SAM E70 board. I would be happy to help or to test code.

[2018-10-31 22:46] mike-scott commented on #10965
@erwango What is your recommendation for establishing digital pin exports from the main board in DTS?

Under non-shield configuration:
[code]

These should be exported in some way from the main board's DTS (note this doesn't work):
[code]

[2018-11-01 07:56] evenl commented on #10904
I would rephrase/add some like, "the generation process must not be dependent on the zephyr build process", because that is what is meant I think? You should be able execute an application/script, give it some input data and get something out without the need to run the whole zephyr build process.

The .yaml files are zephyr specific, right? I would define the templates as input data,  which is ve

[2018-11-01 08:34] evenl commented on #10904
So what I think we are a missing is a different issue where we can discuss high level requirements for code generation in general. Because some of the statements in this issue is very generic while others are very concrete/specific to the driver instantiation use-case. To avoid that the high level requirements diverges between different code generation use-case discussion, all of these discussions

[2018-11-01 08:46] vikrant8051 commented on #10664
@jhedberg @carlescufi
Today I modified #onoff_level_lighting_vnd_app's files as per attachments.
Now able to follow all 5 steps which are mentioned in introduction of this issue.

Node remains in provisioned state after DFU.

But is it optimal integration ?
Have I done everything correctly ?

Waiting for reply since then I could create new PR to introduced #DFU_OTA
feature in #onoff_level_lighting

[2018-11-01 08:47] vonhust commented on #9765
@ruuddw  @nashif  I can't access the details of coverity result.  It needs approval which i applied in Sept. 5th.
But current status is still Pending Approval

[2018-11-01 09:15] pfalcon commented on #10499
Ok, so maybe that's true, but besides that, there're gazillion of cases where "user mode" terminology is used, starting with the section title in https://docs.zephyrproject.org/latest/kernel/usermode/usermode.html . "User mode" is of course more specific term than just "user", but still may be confusing.

Again, the nature of my proposal is to replace ambiguous "user" work in that meaning with muc

[2018-11-01 09:15] b0661 commented on #10904
No, I don´t say that. For the C compiler it is regardless where the C code comes from. The way you are forcing *.h files is just a matter of taste no technical requirement.

What I´m saying is that by restricting the scope before elaborating requirement makes you miss the requirements that are related to the use cases that you left out because of the restriction.

[2018-11-01 09:17] ruuddw commented on #9765
@Wayne: Coverity access approved

[2018-11-01 10:31] lemrey opened #10990 "ext: lib: crypto: mbedTLS: warning in platform.h glue"
Line [226](https://github.com/zephyrproject-rtos/zephyr/blob/d70eb9853720bdae730fa598a87f72a96a302001/ext/lib/crypto/mbedtls/include/mbedtls/platform.h#L226) looks suspicious: the pattern has changed in the latest commit, but that's the only place where it changed. The patterns for printf, fprintf etc. remain unchanged.

The compiler emits a warning when compiling Zephyr's MCUBoot port:

[code]

@

[2018-11-01 11:43] galak opened #10993 "upsquared sample gpio_counter doesnt build"
When trying to `samples/boards/up_squared/gpio_counter`

you get compile errors like:

[code]

[2018-11-01 11:47] galak opened #10994 "upsquared sample gpio_counter sample.yaml is malformatted/sanitycheck doens't build samples/boards/up_squared/gpio_counter"
`samples/boards/up_squared/gpio_counter/sample.yaml` isn't structured correctly so that sanitycheck scripts tries to build it:

[code]

This should cause the sample to build, but doesn't due to sample.yaml

[2018-11-01 12:33] #10933 closed

[2018-11-01 12:40] #10843 closed

[2018-11-01 12:42] galak opened #10996 "Add device tree support for usb controllers on x86"
For boards like arduino_101, quark_se_c1000_devboard, tinytile we need to add dts support similar to what we have on stm32

[2018-11-01 13:51] aurel32 opened #11000 "USB 2.0 high-speed support in Zephyr"
To the best of my knowledge, Zephyr supports at least one high-speed USB controller, the one in the STM32F723 SoC. The PR #10977 adds the USB driver for the SAM E70 SoC, which also support high-speed USB.

I have done some basic testing of the USB device stack in high-speed mode. So far it seems most of the issues are on the descriptor side. The control and interrupt endpoints work fine, but the b

[2018-11-01 14:08] locomuco commented on #3723
for anybody who's interested, [here](https://github.com/locomuco/zephyr-esp32) is a application that can compile the ESP wifi lib against zephyr, but still quite a long way to go getting wifi running

[2018-11-01 14:55] SebastianBoe commented on #7216
Mynewt has an interesting solution to this problem.

They disallow directly accessing CONFIG_ARM, and instead require that one accesses the options through a macro with an argument, CONFIG(ARM), since macro's with arguments can't be undefined, you get an error, and can therefore be safe that autoconf.h has been defined.

This would require search replacement of all Kconfig's in and out of tree, bu

[2018-11-01 16:16] galak commented on #3723
Adding reference to the #10539

[2018-11-01 16:59] lpereira commented on #3723
@galak #10539 is unrelated to @locomuco's application -- ESP8266 in that PR is being used as an external chip, running its stock firmware, rather than running Zephyr and driving the radio itself.

[2018-11-01 17:52] pfalcon opened #11007 "logging: "log_strdup pool empty!" is confusing"
I've enabled CONFIG_NET_DEFAULT_LOG_LEVEL_DBG=y (with echo_server), and here's what I see:

[code]

[2018-11-01 17:52] pfalcon commented on #11007
cc: @nordic-krch

[2018-11-01 18:51] pfalcon opened #11008 "net-related logging: Don't see the expected output + crash in logging"
Context: I'm developing a new network driver. I never wrote one from scratch, so doing a lot of stupid things. I would think that logging is there to help me, but instead, it puzzles me.

So, to reproduce this one, you'd need to look at the branch https://github.com/pfalcon/zephyr/tree/smsc9220-pfalcon-logging-issue . There lives the new WIP driver, and to test it, I made adhoc prj.conf changes to

[2018-11-01 18:53] pfalcon commented on #11008
Also cc: @jukkar. Because you see, stuff works as expected in completely unrelated, barebones sample. And doesn't work with a proper networking sample, where one would expect everything work without a hitch. One could imagine that it's some bad interaction with networking logging.

[2018-11-01 23:20] mike-scott opened #11016 "nRF52840-PCA10056/59: Cannot bring up HCI0 when using HCI_USB sample"
[code]

[2018-11-02 03:00] findlayfeng opened #11019 "About printk configuration"
https://github.com/zephyrproject-rtos/zephyr/blob/79b9b51307940116f66783dc8bd55a38cb1f8674/subsys/debug/Kconfig#L65

The functions in printk.c are used in many places, including many places that are not related to debug.
For example, the snprintk function is used in bt_settings, which has nothing to do with CONSOLE_HAS_DRIVER.
But if I want to use it, I must configure CONSOLE_HAS_DRIVER because of

[2018-11-02 08:09] jukkar commented on #11007
The log_strdup warning is because CONFIG_LOG_STRDUP_BUF_COUNT is too small. It might not make sense to tweak individual applications because of this, so I suggest that the global default is increased instead. @nordic-krch any opinion about this?

[2018-11-02 09:00] findlayfeng commented on #9873
@kl-cruz
Reading sfdp using QSPI first is defined in the sfdp documentation.
And this attempt is only done during initialization, and the result can be returned immediately without waiting. It has little effect on the initialization time.
And for devices that only support spi to read sfdp, this is a more expensive attempt, but it will be faster for devices that support qspi to read sfdp.

[2018-11-02 09:44] nniranjhana commented on #10922
Well, looks to me like our script waits for 60s for the 'PROJECT EXECUTION SUCCESSFUL' result, and this test takes a while longer, and hence complains of an evaluation error.

If we do a `tcf console-read` on the DUT, we can see the PASS after the Test #4 (Monte Carlo test which is getting snipped in our TCF log).

If we see any of the logs @yerabolu has attached, we find:

`eval error trace: erro

[2018-11-02 09:44] #10922 closed

[2018-11-02 09:49] jarz-nordic commented on #10413
@erwango @carlescufi  @nashif
I found a root cause and I know how to fix it :)
Basically there is a weakness of ST UART driver, it is not handling overrun error. When this error occurs driver always returns that there is no new data received. According to ST specification:

Bolded case is not handled by ST UART driver.

I've prepared my fix for that by adding a function `LL_USART_ClearFlag_ORE(Uar

[2018-11-02 09:56] pdunaj opened #11022 "mempool allocator is broken"
There is a bug in mempool implementation. When memory is allocated allocator gets an available block and if it is large enough it splits these block into 4 smaller blocks. This is repeated until allocator reaches the smallest block that satisfies the request. When `block_free` is called situation is reversed and when 4 neighboring blocks are found to be free allocator concatenates them and returns

[2018-11-02 10:44] nashif opened #11028 "CONFIG_LOAPIC_SPURIOUS_VECTOR not being tested"
we have no test with this option enabled. See #11029

[2018-11-02 11:02] nordic-krch commented on #10512
My comment: https://github.com/zephyrproject-rtos/zephyr/pull/10765#issuecomment-435284859 is also relevant to that discussion. It's about handling receiver errors on api like the one in #10765:

[2018-11-02 12:22] SavinayDharmappa opened #11034 "Enabling config XTENSA_ASM2 is causing system crash on intel_s1000"
Upon running sample application(i. e tests/boards/intel_s1000_crb) of intel_S1000_crb following crash is being observed.

Press CTRL-A Z for help on special keys
[code]

[2018-11-02 12:31] nashif commented on #11034
@SavinayDharmappa you need to add more details in the body of the bug!

[2018-11-02 13:11] #10958 closed

[2018-11-02 13:11] #10959 closed

[2018-11-02 13:11] #10960 closed

[2018-11-02 13:11] #10961 closed

[2018-11-02 13:12] cvinayak commented on #10537
@mike-scott any updates?

[2018-11-02 13:42] nashif commented on #10996
@SavinayDharmappa please take a look at this as well.

[2018-11-02 13:43] nashif commented on #10769
@pfalcon then please remove the "Regression" from the title. This is not a regression.

[2018-11-02 13:44] nashif commented on #10769
@pfalcon

I still need to find the button that supports multi-headed closing.

[2018-11-02 14:03] #10971 closed

[2018-11-02 14:17] nashif commented on #11019
this is similar to #10143

[2018-11-02 14:17] nashif commented on #11019
closing as duplicate

[2018-11-02 14:17] #11019 closed

[2018-11-02 14:28] nashif commented on #2114
stale, closing

[2018-11-02 14:28] #2114 closed

[2018-11-02 14:28] #1845 closed

[2018-11-02 14:29] #1884 closed

[2018-11-02 14:30] nashif commented on #1904
stale issue

[2018-11-02 14:30] #1904 closed

[2018-11-02 14:30] nashif commented on #2090
stale issue

[2018-11-02 14:30] #2090 closed

[2018-11-02 14:31] nashif commented on #2100
stale issue

[2018-11-02 14:31] #2100 closed

[2018-11-02 14:31] nashif commented on #2101
stale issue

[2018-11-02 14:31] #2101 closed

[2018-11-02 14:31] nashif commented on #2247
@carlescufi  still relevant?

[2018-11-02 14:32] nashif commented on #2293
We now have maxwell pro

[2018-11-02 14:32] #2293 closed

[2018-11-02 14:34] nashif commented on #2544
still relevant? @carlescufi

[2018-11-02 14:54] pkral78 commented on #10512
Some notes:
#10247 was good start, but we should also add support for pooled (non-isr) uart drivers. For example RTT console driver is one that must be implemented by that way. And in fact  #10709 implemented it already for shell subsystem - which is unnecessary effort as my POV is, that shell subsystem could uses console subsystem by default.

Also it would be useful if console subsystem supports

[2018-11-02 15:16] nashif commented on #3524
@jhedberg please take a look and address, we really need to start closing those low priority issues, either fix them or close them as invalid if not applicable!

[2018-11-02 15:33] aurel32 commented on #9689
I have tried to re-enable the caches on the current git code, and I am not able to reproduce all those issues. @spoorthik, can you try to re-apply the patch enabling the caches to check it is also fixed on your side?

[2018-11-02 15:45] aurel32 commented on #9689
I forgot to say I **do** reproduce the issue with the commit just before the revert.

[2018-11-02 16:02] mnkp opened #11046 "Enabling SYS_POWER_MANAGEMENT results in a linker error."
When SYS_POWER_MANAGEMENT Kconfig option is enabled via menuconfig for hello_world sample application on any of the ARM boards (and likely on others) the linker will generate the following error:
[code]

Zephyr's [Power Management](https://docs.zephyrproject.org/latest/subsystems/power_management.html) documentation is ambiguous on the issue however, enabling the power management system seems to m

[2018-11-02 16:20] mnkp opened #11047 "doc: missing Doxygen generated documentation for any function which name starts with an underscore"
"[Power Management Hook Interface](https://docs.zephyrproject.org/latest/api/power_management_api.html#power-management-hook-interface)" section of "[Power Management APIs](https://docs.zephyrproject.org/latest/api/power_management_api.html)" is empty despite the fact that zephyr/include/power.h contains all necessary Doxygen comments.

Functions which should appear in this section are:
[code]

It

[2018-11-02 16:20] #8394 closed

[2018-11-02 16:21] psidhu commented on #10726
One thing I'm also curious about is the fact that the STM uart driver doesn't account for errors.

I was able to induce a ORE error (even with a call to uart_irq_err_disable) by blasting data at the uart before the rx_irq was enabled. This caused the ORE bit to get set, causing infinite IRQ's to be fired for that uart until I cleared the ORE bit.

How are we supposed to account for these types of

[2018-11-02 17:28] psidhu commented on #10726
Related to my last question, I just saw this PR: https://github.com/zephyrproject-rtos/zephyr/pull/11039

@gon1332 Were you perhaps running into this?

[2018-11-02 18:03] brouhaha commented on #10788
Just found this myself. The comment "This also works for other implementations" should be "This also works for _some_ other implementations." In particular, it can fail on an implementation that doesn't have a cache, or for which the mtime and mtimecmp addresses are uncacheable. (In fact, a RISC-V implementation where mtime is cached is broken, unless the cache is invalidated whenever mtime is inc

[2018-11-02 18:10] brouhaha commented on #10788
@Dolu1990 If I understand the code you pointed to, you're only implementing a 32-bit mtime in your RISC-V core, which both violates the RISC-V specification and doesn't solve this problem.

[2018-11-02 18:16] pfalcon commented on #10726
I bet, not only it. Each such case should be submitted as an individual ticket, assigned to a SoC maintainer, and being worked on.

[2018-11-02 18:57] wenhuizhang opened #11051 "samples/net/zperf"
Hi,
Sorry for bothering, however it seems like samples/net/zperf  depends on
`samples/task_profiler`,  however `samples/task_profiler` is not merged into v1.13.
Thanks,
Wenhui

[2018-11-02 19:04] galak commented on #10996
This would let us remove include <board.h> in subsys/usb/usb_device.c as its just need to get GPIO info, which we'd get from DT instead.  This is one of the few <board.h> references left to remove.

[2018-11-02 19:20] galak opened #11055 "Update RISC-V PLIC dts support"
The PLIC has multiple register regions that should be described in the dts binding.  Once we do this, we should also update the PLIC code to use the DTS generated defines for those regions.

Right now we do things like:

(soc/riscv32/riscv-privilege/sifive-freedom/soc.h)
[code]

and
(soc/riscv32/riscv-privilege/miv/soc.h)
[code]

[2018-11-02 19:38] jhedberg opened #11056 "Bluetooth: Convert Mesh shell to new shell"
Bluetooth Mesh is still using the old shell: `subsys/bluetooth/host/mesh/shell.c`

[2018-11-02 21:06] subbu147 commented on #10913
addressed by PR #10828. This issue can be closed.

[2018-11-03 00:48] cvinayak commented on #10811
@pdunaj yes #11038 will fix the accidental assert due to LF event being set when USB events are enabled.

[2018-11-03 01:58] #10993 closed

[2018-11-03 01:58] #10994 closed

[2018-11-03 02:36] galak opened #11060 "ARC based boards don't build with SDK 0.9.5"
We updated binutils to 2.29 for arc after SDK 0.9.3, this seems to cause ARC platforms not to build due to:

[code]

[2018-11-03 02:41] galak commented on #11060
@dcpleung looks like you've touched some of the linker scripts recently and might have run into something like this.

[2018-11-03 03:32] #11060 closed

[2018-11-03 11:08] galak commented on #10913
Resolved by merge of #10828

[2018-11-03 11:08] #10913 closed

[2018-11-03 12:12] galak commented on #4962
All RISC-V use DTS to some level now w/mering of #11050.

[2018-11-03 12:12] #4962 closed

[2018-11-03 12:43] galak opened #11064 "Convert SPI intel driver to DTS"
the spi_intel.c driver is the last driver that needs to get convert for all SPI controller drivers to support DTS.

[2018-11-03 12:43] galak commented on #11064
@nashif is there someone who can look at this.

[2018-11-03 21:53] #11051 closed

[2018-11-03 21:54] aurel32 opened #11069 "Enable instruction and data caches on SAM E70"
The SAM E70 platform has very bad performances, as the Cortex-M7 data and instruction caches are not enabled. Tentative to enable them have been made in the past, but they caused unexplained crashes in the testsuite.

I am personally not able to reproduce the problem on the current HEAD, but @spoorthik is able to reproduce it. I have done more tests and I have found that the problem is sometimes d

[2018-11-03 21:56] aurel32 commented on #9689
@spoorthik, thanks for the test. I ran exactly the same thing, but I don't have the issue. I believe you are still interested to the cache enabled by default on the SAM E70 platform. I have therefore just opened the issue #11069 to discuss that, that is probably better than here.

[2018-11-04 00:01] aurel32 commented on #11069
I have just tried to define the RAM region as shareable on the SAM E70 board, and the `mem_protect` tests do not even start. Using GDB, it seems they crashes the first time the MPU is enabled. I tried the same thing on an STM32F723 board (after adding `select CPU_HAS_MPU` to Kconfig), and all still works perfectly. This is the patch I used:

[code]

So it seems using shareable attributes for the R

[2018-11-04 11:08] zhang-wenchao opened #11074 "samples:application_development failed"
cd samples/application_development/external_lib

mkdir build && cd build

cmake -GNinja -DBOARD=frdm_k64f ..
[code]
ninja

[code]

[2018-11-04 11:09] zhang-wenchao commented on #11074
macOS 10.14

[2018-11-04 11:14] zhang-wenchao commented on #11074
I tried to use a static library, always wrong, until I tried the samples , I got an error.
@SebastianBoe What is the cause of this, looking forward to answering.

[2018-11-04 21:04] #7405 closed

[2018-11-05 01:18] wizofe opened #11076 "Reelboard sample"
Is there any sample files for the reelboard LCD screen and Bluetooth stack? Thanks :)

[2018-11-05 05:35] nniranjhana opened #11077 "Compiler warning at include/misc/util.h when building for ESP32"
We have a compiler warning being treated as error, thus stopping build.

The issue as reported says that

` #define BIT(n)  (1UL << (n))`

is re-defined at _/zephyr/include/misc/util.h:135_

Well, it complains because when we build with our toolchains, **esp-idf** already includes it at
_esp-idf/components/soc/esp32/include/soc/soc.h:128_

as `#define BIT(nr)                 (1UL << (nr))`

So we

[2018-11-05 07:40] tgorochowik commented on #11069
I think It also might be worth noting that there are GMAC cache problems: #9812. While I did not encounter any problems with caches enabled when I was changing the caches support in SAM GMAC (and manually enabling the actual caches), the remarks by @mnkp seem to be completely valid, so it may be needed to address that too before re-enabling caches on this platform.

However to fix that **properly*

[2018-11-05 07:41] nordic-krch opened #11078 "NET_L2_BT has the wrong dependencies"
Sample: net/http_server for 96b_carbon board with overlay-netusb.conf.

Following warning during CMake:

[code]

As the outcome NET_6LO is set and 6lo.c file is compiled (CMakeLists.txt: `zephyr_library_sources_ifdef(CONFIG_NET_6LO          6lo.c)`) but Kconfig options are cut because in kconfig NET_6LO options depends on NET_IPV6 option which is disabled.

I'm not sure if this is framework error

[2018-11-05 07:47] nordic-krch commented on #11078
@jukkar could you advise? It may be that this is wrong board configuration?
It seems like 96b_carbon board may have error:

[code]

[2018-11-05 07:52] tbursztyka commented on #11064
@galak I'll do this

[2018-11-05 08:06] pdunaj commented on #11022
@pizi-nordic

[2018-11-05 08:10] vikrant8051 commented on #10664
Hi,
waiting for some feedback.

[2018-11-05 08:16] vanwinkeljan commented on #11076
A display sample for the reelboard can be found in samples/display/cfb/

[2018-11-05 08:20] pdunaj commented on #10811
@cvinayak that is a good news thanks! Could you make the PR close the issue once it is merged?

[2018-11-05 08:46] SebastianBoe commented on #11074
This is how 'ar' is discovered:

find_program(CMAKE_AR         ${CROSS_COMPILE}ar      PATH ${TOOLCHAIN_HOME} NO_DEFAULT_PATH)

It is supposed to find the cross-compiling toolchain's 'ar'.

Are you able to find out why it is not doing so?

If we knew the root-cause I might be able to create a fix.

[2018-11-05 08:54] zhang-wenchao commented on #11074
I am trying to fix this problem

[2018-11-05 09:15] jhedberg commented on #3524
bt_conn has been documented already for quite a while. bt_addr_le_t hasn't, on the other hand - I'll fix that in a moment.

[2018-11-05 09:22] cvinayak commented on #10811
@pdunaj I guess having a "Fixes ..." in commit message should close this issue, hopefully, else will close is manually.

[2018-11-05 10:59] jukkar commented on #11078
This is highly suspicious because IPv6 is needed by 6lo and by Bluetooth. Something is not selecting or depending on CONFIG_NET_IPV6

[2018-11-05 11:01] nordic-krch commented on #11078
It's because sample is deselecting IPV6:
https://github.com/zephyrproject-rtos/zephyr/blob/6203020bfd7985eae9c7f6de02247d937fdd28af/samples/net/http_server/overlay-netusb.conf#L26

[2018-11-05 11:01] mandarcthorat1 opened #11086 "[Coverity CID :189520]Error handling issues in /samples/net/sockets/echo/src/socket_echo.c"
Static code scan issues seen in File: /samples/net/sockets/echo/src/socket_echo.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 189520
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11087 "[Coverity CID :189519]Error handling issues in /samples/net/sockets/echo/src/socket_echo.c"
Static code scan issues seen in File: /samples/net/sockets/echo/src/socket_echo.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 189519
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11088 "[Coverity CID :189518]Memory - illegal accesses in /samples/boards/reel_board/mesh_badge/src/reel_board.c"
Static code scan issues seen in File: /samples/boards/reel_board/mesh_badge/src/reel_board.c
 Category: Memory - illegal accesses
 Function: epd_update
 Component: Samples
 CID: 189518
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11089 "[Coverity CID :189517]Control flow issues in /drivers/sensor/fxos8700/fxos8700.c"
Static code scan issues seen in File: /drivers/sensor/fxos8700/fxos8700.c
 Category: Control flow issues
 Function: fxos8700_init
 Component: Drivers
 CID: 189517
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11090 "[Coverity CID :189516]Null pointer dereferences in /drivers/wifi/simplelink/simplelink_sockets.c"
Static code scan issues seen in File: /drivers/wifi/simplelink/simplelink_sockets.c
 Category: Null pointer dereferences
 Function: simplelink_getaddrinfo
 Component: Drivers
 CID: 189516
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11091 "[Coverity CID :189515]Incorrect expression in /drivers/usb/device/usb_dc_stm32.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_stm32.c
 Category: Incorrect expression
 Function: usb_dc_stm32_get_maximum_speed
 Component: Drivers
 CID: 189515
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11092 "[Coverity CID :189514]Possible Control flow issues in /drivers/display/ssd1673.c"
Static code scan issues seen in File: /drivers/display/ssd1673.c
 Category: Possible Control flow issues
 Function: ssd1673_write
 Component: Drivers
 CID: 189514
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11093 "[Coverity CID :189513]Control flow issues in /subsys/bluetooth/shell/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/shell/gatt.c
 Category: Control flow issues
 Function: cmd_subscribe
 Component: Bluetooth
 CID: 189513
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11094 "[Coverity CID :189512]Null pointer dereferences in /subsys/logging/log_msg.c"
Static code scan issues seen in File: /subsys/logging/log_msg.c
 Category: Null pointer dereferences
 Function: msg_alloc
 Component: Other
 CID: 189512
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11095 "[Coverity CID :189511]Code maintainability issues in /subsys/settings/src/settings_fcb.c"
Static code scan issues seen in File: /subsys/settings/src/settings_fcb.c
 Category: Code maintainability issues
 Function: settings_fcb_compress
 Component: Other
 CID: 189511
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11096 "[Coverity CID :189510]Memory - corruptions in /subsys/bluetooth/host/monitor.c"
Static code scan issues seen in File: /subsys/bluetooth/host/monitor.c
 Category: Memory - corruptions
 Function: monitor_log_put
 Component: Bluetooth
 CID: 189510
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11097 "[Coverity CID :189509]Integer handling issues in /drivers/sensor/ms5837/ms5837.c"
Static code scan issues seen in File: /drivers/sensor/ms5837/ms5837.c
 Category: Integer handling issues
 Function: ms5837_compensate
 Component: Drivers
 CID: 189509
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11098 "[Coverity CID :189508]Control flow issues in /drivers/usb/device/usb_dc_nrfx.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_nrfx.c
 Category: Control flow issues
 Function: usb_dc_detach
 Component: Drivers
 CID: 189508
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11099 "[Coverity CID :189507]Parse warnings in /samples/drivers/flash_shell/src/main.c"
Static code scan issues seen in File: /samples/drivers/flash_shell/src/main.c
 Category: Parse warnings
 Function:
 Component: Samples
 CID: 189507
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11100 "[Coverity CID :189506]Control flow issues in /subsys/net/ip/net_shell.c"
Static code scan issues seen in File: /subsys/net/ip/net_shell.c
 Category: Control flow issues
 Function: cmd_net_ping
 Component: Networking
 CID: 189506
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11101 "[Coverity CID :189505]Error handling issues in /drivers/sensor/lis2mdl/lis2mdl_trigger.c"
Static code scan issues seen in File: /drivers/sensor/lis2mdl/lis2mdl_trigger.c
 Category: Error handling issues
 Function: lis2mdl_trigger_set
 Component: Drivers
 CID: 189505
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:01] mandarcthorat1 opened #11102 "[Coverity CID :189504]Error handling issues in /samples/net/sockets/echo/src/socket_echo.c"
Static code scan issues seen in File: /samples/net/sockets/echo/src/socket_echo.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 189504
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-05 11:07] jukkar commented on #11078
In that case NET_L2_BT should not be selected as the IPv6 support will not be there and BT IPSP will not work, which we saw here because of compilation error. The board is still usable, it is just that the Bluetooth IP connectivity will not work.

[2018-11-05 11:28] aurel32 commented on #11091
The Coverity analysis consider the data (here the maximum-speed) value to be a constant. In practice it is not the case, different SoC have different values.

So it looks like a false positive to me.

[2018-11-05 11:30] aurel32 commented on #11069
@tgorochowik, I was not aware of this issue thanks for the pointer. It should indeed be fixed, however it should not prevent the instruction cache to be enabled.

As for the data cache, we can also, at least as a first step, enable it only if the GMAC driver is disabled. The other alternative to fix that properly is to use the DTCM memory which doesn't go through the cache.

[2018-11-05 11:33] SebastianBoe opened #11103 "The wrong Python version can be detected on Windows"
When a Windows-user (this does not affect Linux) has both Python2 and Python3 on path, and Python2 is earlier on path, the wrong python will be detected.

NB: Zephyr only supports Python 3.

Until this is resolved users should either re-order Python2's location on path, or invoke CMake while setting the CMake variable PYTHON_EXECUTABLE.

[2018-11-05 11:45] vanwinkeljan commented on #11097
requested access to zephyr coverity project for further investigation

[2018-11-05 12:12] pdunaj commented on #11022
Temporary fix https://github.com/zephyrproject-rtos/zephyr/pull/11106

[2018-11-05 12:27] SebastianBoe opened #11107 "clock_control: API should support asynchronous and synchronous variants of turning on clocks"
Turning on a clock can take a long time, especially to wait for it to stabilize.

The clock_control driver API should have a runtime-configurable API for turning on a clock synchronously or asynchronously.

Currently it is only Kconfig-urable whether it is done synchronously or asynchronously.

~~Also, piggy-backing on this issue, (if asynchronous clock enable is to be supported) there should exis

[2018-11-05 12:38] tbursztyka commented on #11107
Looks like a legitimate API change.
However, about having "is_clock_running()", I would instead return "-EALREADY" on off/on calls, as long as the clock is already fully stable on respectively off/on states. Which means that, if - let's say - a on is called in a middle of an on-going on call, it would have to return -EBUSY. (same for off obviously).
This would save one pointer on driver API side,

[2018-11-05 12:48] SebastianBoe commented on #11107
All right, (although not documented) this is the current behaviour of nrf's clock_control. So if there are technical reasons to not have an is_stable then that makes sense.

But a doc update would be nice  ...

[2018-11-05 12:55] nordic-krch commented on #11078
do you suggest to add `NET_L2_BT=n` to netusb overlay?

[2018-11-05 13:01] SebastianBoe opened #11109 "DeviceTree symbols should be in the CMake namespace"
CMake parses the Kconfig output for CONFIG_* symbols and adds them to the CMake namespace.

It does the same for DT, but because DT doesn't have a namespace (https://github.com/zephyrproject-rtos/zephyr/issues/7213) it filters on DT symbols with CONFIG_* and loses most of the DT information.

For DeviceTree to be useful, it's information needs to be accessible from CMake, just like Kconfig is.

~~

[2018-11-05 13:19] carlescufi commented on #2544
Well, we could still switch from PendSV to something different, but I want to check with @cvinayak to see if this really could be used in the context of Zephyr.

[2018-11-05 13:19] carlescufi commented on #2247
@nashif yes

[2018-11-05 13:44] jukkar commented on #11078
I was thinking more like adding `depends on NET_IPV6` to where NET_L2_BT is set. For example to subsys/net/l2/Kconfig where NET_L2_BT is defined.

[2018-11-05 13:54] nordic-krch commented on #11078
ok, I'll fix that as the part of #11035
https://github.com/zephyrproject-rtos/zephyr/pull/11035/commits/bb6c63a4e1532133e123d42630d440c236de4af3

[2018-11-05 14:01] #10413 closed

[2018-11-05 14:40] pdunaj commented on #10938
@erwango I agree that there are differences in the target audience. Still I expect that applications running on Zephyr will become more complex in the coming years. In the end if this would not be true there would be a little need for the OS. I think more and more people will move further away from HW as they will be less concerned about which pin to use and more about how to process data and prov

[2018-11-05 14:49] jukkar opened #11111 "Shippable shows too little for documentation errors"
I got following error from shippable
[code]
But that is not very useful for anything. I then tried to replicate this by running `make htmldocs` manually, and then the real issue was shown.
[code]

Would it be possible to get the actual error message already to shippable logs?

I am asking this because building docs is a very heavy operation and takes long time. The actual error is still there in t

[2018-11-05 14:51] nashif commented on #11111
you have a link to the shippable build?

[2018-11-05 14:58] jukkar commented on #11111
https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/26163/5/tests

[2018-11-05 15:13] finikorg commented on #10967
@jfischer-phytec-iot have you tried this driver recently?

[2018-11-05 15:23] pfalcon commented on #10512
@nordic-krch

Ok, to support this synchronous/busy-polling mode, there definitely will have to be branch in the code to use either interrupt-driven or busy-polling mode. An condition on which to branch is the size of the corresponding (rx/tx) buffer: indeed, if it's 0, i.e. there's no buffer space, then we can't perform interrupt driven operation.

To make that flexible and configurable, let's jus

[2018-11-05 15:24] galak commented on #10938
I was thinking about this with the recent jinja work.  I think it might not be that difficult to provide a means to get the device object from a DT means w/o a string.  I want to phase out label in DT, or at least using and requiring them the way we do.

[2018-11-05 15:35] pfalcon commented on #10938
Note that we'll need "ascii device name" for POSIX subsystem (if we want to move it further along). I would be about ready to implement support for the following code:

[code]

[2018-11-05 15:38] nashif commented on #3288
stale issue, closing.

[2018-11-05 15:38] #3288 closed

[2018-11-05 15:39] nashif commented on #3442
@pfalcon @jukkar is this still an issue, please update status.

[2018-11-05 15:40] nashif commented on #3524
@jhedberg thanks

[2018-11-05 15:41] nashif commented on #3997
@jukkar still an issue? Should we close since we are moving to a new mqtt implementation?

[2018-11-05 15:42] nashif commented on #1429
looks like this is resolved now

[2018-11-05 15:42] #1429 closed

[2018-11-05 15:42] pfalcon commented on #3442
Will need to recheck, yeah.

[2018-11-05 15:44] nashif commented on #4888
@mike-scott ping

[2018-11-05 15:45] nashif commented on #5603
obsolete now with new logger in place.

[2018-11-05 15:45] #5603 closed

[2018-11-05 15:46] nashif commented on #5716
not a bug

[2018-11-05 15:47] nashif commented on #5735
AFAIK should be resolved with the new SDK support MPU on ARM.

[2018-11-05 15:47] #5735 closed

[2018-11-05 15:48] nashif commented on #6147
@mbolivar  still an issue?

[2018-11-05 15:48] jukkar commented on #11111
Other more recent build which failed
https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/26183/5/tests

[2018-11-05 15:48] nashif commented on #6226
@mike-scott still an issue?

[2018-11-05 15:49] nashif commented on #6695
samples/net/mbedtls_dtlsclient/ is removed from the repo

[2018-11-05 15:49] #6695 closed

[2018-11-05 15:50] nashif commented on #7013
@galak is this still an issue?

[2018-11-05 15:50] nashif commented on #7510
samples/net/mbedtls_sslclient/ removed

[2018-11-05 15:50] #7510 closed

[2018-11-05 15:50] jukkar commented on #3997
Closing this as we are moving to new mqtt impl.

[2018-11-05 15:50] #3997 closed

[2018-11-05 15:51] jhedberg commented on #11016
BlueZ knows how to work without a public address. bluetoothd will auto-generate a static random address and keep using that. You do need a fairly recent kernel though. Note that all the legacy commands like hcitool and hciconfig are completely oblivious to LE, which is why e.g. hciconfig only knows about the public address and has no identity address concept (which with these controllers would be

[2018-11-05 15:52] jhedberg commented on #11016
Anyway, if you think there's some BlueZ bug I think that'd be best reported to the linux-bluetooth mailing list instead of Zephyr github.

[2018-11-05 16:01] #10043 closed

[2018-11-05 16:09] carlescufi commented on #11016
@mike-scott you said that "Using the dongle for IPSP fails". I assume that is not the case with `hci_uart`? So maybe there's something different there, between the initialization done by `btattach` and the one done by the USB class loader? @jhedberg do you know?

[2018-11-05 16:28] mike-scott commented on #4888
@nashif This issue goes away in the move to sockets.  We can close.  Unless you want to track it separately.

[2018-11-05 16:29] mike-scott commented on #6226
@nashif haven't checked this lately.  But we need to migrate the entire sample to use sockets.  We can close now and re-open later if needed.

[2018-11-05 16:49] pfalcon commented on #10512
@nordic-krch

Let's first see how it's done now: https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/console/tty.c#L58

So, the original usecase for implementing "buffered UART" (aka "tty") support was:

1. Console, i.e. a device for user interaction. For this usecase, RX buffer overflow is not a problem - there's always a user on the other, who will see that some input they types didn

[2018-11-05 16:56] erwango commented on #10965
@mike-scott

There were on going work on dtc to enable similar stuff (https://elinux.org/images/d/d0/Panto.pdf) , but I don't know current status. I'll check on dtc status and come back to you.

There are some ways to get dtc compiled and have something like (in dts_compiled file). For instance:
[code]
Would compile into
[code]

But then it requires some hack in extract_dts_include script to do th

[2018-11-05 17:08] #6226 closed

[2018-11-05 17:12] nashif commented on #7817
@andyross can you take a look at this as part of your timer rewrite series?

[2018-11-05 17:24] pfalcon commented on #11008
Ok, as that branch is actually for feature development, I created https://github.com/pfalcon/zephyr/tree/smsc9220-pfalcon-logging-issue to serve just for reproducing of the issue described here (will edit link in the description too).

[2018-11-05 17:30] andyross commented on #7817
Yeah.  There's a growing list of "missed cleanup opportunities" with the timer code that I keep discovering, will add this to the list.

[2018-11-05 17:32] pfalcon commented on #11008
Not creating another ticket for the following close issue:

Apply following patch:
[code]

Then:

[code]

0x13b8 is in log_msg_create_n.

So, whatever happens, I don't expect logging to crash my app, there're enough ways it can crash without it ;-).

[2018-11-05 17:35] pfalcon commented on #11008
Heh, nevermind, appears to be fixed in master.

[2018-11-05 17:42] pfalcon commented on #11008
But the original issue from the description still holds with 2d7825976a988d110d91a3bc11423784f9d1fdcc

Actually, with that master, I would expect echo_server to log:

[code]

But it doesn't. (hello_world does)

[2018-11-05 17:51] pfalcon commented on #11008
smsc9220-pfalcon-logging-issue  branch has now been rebased on that master.

[2018-11-05 18:07] carlescufi commented on #10811
Fixed in master

[2018-11-05 18:07] #10811 closed

[2018-11-05 18:18] nashif commented on #11111
@dbkinder any idea?

[2018-11-05 18:34] sectyler opened #11120 "Breakpoints in Bluetooth IPSP cause kernel oops"
I am trying to use and debug TLS/DTLS sockets over Bluetooth using the nrf52840_pca10056 development board but am unable to hit breakpoints without crashing the kernel. I have reproduced the problem using the IPSP example provided with Zephyr but have been unable to correct it. The problem occurs when debugging in CLI as well as using Eclipse. Any insight on correcting or working around the issue

[2018-11-05 18:38] nashif commented on #6276
can't reproduce anymore.

[2018-11-05 18:38] #6276 closed

[2018-11-05 18:56] nashif commented on #9510
@agross-linaro ping

[2018-11-05 18:58] nashif commented on #9587
#9394 merged

[2018-11-05 18:58] #9587 closed

[2018-11-05 18:59] #10610 closed

[2018-11-05 19:07] kzyapkov opened #11121 "dts: cannot set child of parent with multiple compatible-s"
Trying to add a modem as child node of a serial controller on STM32L4 results in an error in `extract_dts_includes.py`

[code]

This is because UART/USARTs on STM32 have a list of compatible strings

    compatible = "st,stm32-usart", "st,stm32-uart";

This patch fixes it for me, but is probably not the correct way to handle the situation

[code]

[2018-11-05 19:12] vanwinkeljan commented on #11097
Coverity reported possible overflow at line 74 in [ms5837.c:](https://github.com/zephyrproject-rtos/zephyr/blob/c3d75488d408d618cd823be162770efa627684ce/drivers/sensor/ms5837/ms5837.c#L74)
[code]

But as per MS5837 datasheet the maximum value of ```data->temperature``` is 8500 and the minimum value is -4000 as such no overflow can occur.

[2018-11-05 19:30] vanwinkeljan commented on #11097
@agross-linaro, @ceolin could your mark the coverity issue as intentional?

[2018-11-05 19:32] dbkinder commented on #11111
@nashif the "duplicate declaration" warnings (with no mention of what is duplicated) are from doxygen/breathe and are normally filtered by our ".known_issues" filter.  I see we're using doxygen version 1.8.11 in the CI system and the reporting of these duplicate declarations seems to change with doxygen versions.  I've added a .known_issues filter to remove these.

But the differences in the repor

[2018-11-05 21:18] mike-scott commented on #11016
@carlescufi yes, running `hci_uart` sample w/ latest Zephyr works, however we do enable additional buffers as such:
[code]

[2018-11-05 21:48] mike-scott commented on #11016
I updated the title and description of the problem to be more accurate.  This was tested on kernel: 4.18.16

[2018-11-05 22:29] andrewboie commented on #11022
Can you file enhancements for these two points, and we can use this ticket to track the incorrect behavior you noticed?

[2018-11-05 22:31] #10662 closed

[2018-11-05 23:10] GAnthony opened #11126 "Update SimpleLink SDK to version 2.30+"
The current SimpleLink SDK version in Zephyr is quite old, version 1.50.
New security features and bug fixes are in version 2.30+, and so the HAL should be updated.
http://www.ti.com/tool/simplelink-cc3220-sdk

[2018-11-05 23:30] #4888 closed

[2018-11-06 00:44] dbkinder commented on #11111
@jukkar BTW, I can build docs on my Linux box with a clean build folder (``rm -rf doc/_build``) in just under 7 minutes. If I run it a second time with only one or two .rst files changed, it takes only 1m30s (because of the optimizations built into the build system).  Are you finding it's taking much longer that that for you, and that why you call it a "very heavy operation"?

[2018-11-06 04:40] #11111 closed

[2018-11-06 08:23] vonhust opened #11129 "CONFIG_TICKLESS_KERNEL makes z_clock_set_timeout doesn't work"
@andyross @nashif  @ruuddw

in timeout.c, the function will call  the clock driver wrapper z_clock_set_timerout in legacy_api.h.

[code]

According to the code, if TICKLESS_KERNEL is not configured,  z_clock_set_timeout will do nothing, which means  the timeout mechnism will fail.

I already observed the failure in tests/kernel/profiling/profiling_api caused by the changes in clock driver (legacy_

[2018-11-06 08:38] pfalcon commented on #11008
@nordic-krch: D'oh! Pushed that file.

[2018-11-06 09:06] jukkar commented on #11111
@dbkinder for my machine the document generation takes 30 min (Core-i7 16gb), which is quite long imho. Thanks for fixing the issue!

[2018-11-06 09:08] #10970 closed

[2018-11-06 09:09] #11100 closed

[2018-11-06 09:15] pfalcon commented on #11120
What about other samples?

[2018-11-06 09:19] pfalcon commented on #11077
@lpereira : Is there a reason why you're not in CODEOWNERS for any xtensa/esp32 stuff?

[2018-11-06 09:21] pfalcon commented on #11076
@wizofe : You may get better response with such questions on the mailing list.

[2018-11-06 10:05] nniranjhana commented on #11087
This looks intentional to me. I don't see why the arguments (SOCKET) can't be negative for `bind` and `recv` calls.

I think we can mark so in Coverity and close this. Same applies to #11086

[2018-11-06 10:09] pfalcon commented on #10942
@ceolin:

Well, we break APIs all the time. The whole "LTS and stable API" matter is about stopping doing that routinely (apparently, by having APIs which don't suck). When we do that, we try to deprecate old API elements (functions, structures, etc.), while introducing new. Well, we **do** that for public application APIs. For internal APIs, like drivers API, doing that (much) harder, so exceptio

[2018-11-06 10:15] pfalcon commented on #10942
Perhaps worth being more specific: any new API should start as EXPERIMENTAL in Kconfig. Then likely, should stay that way for N releases. (Where 1 is over-optimistic, at least for 3-mon releases we used to have).

2 implementations for stable API? LOL

Good mention. For example, for POSIX FS, there're tests, but zero samples.

This point needs clarifications.

Again, needs clarification. I guess t

[2018-11-06 10:34] erwango commented on #11121
@kzyapkov

Can you try the following?
[code]

[2018-11-06 10:39] tbursztyka commented on #7578
@mike-scott net_buf is still going to be used, it's the low level descriptor of the buffers.

[2018-11-06 10:40] pfalcon commented on #10512
I wanted to link to this issue: https://github.com/zephyrproject-rtos/zephyr/pull/6815 , where some related ideas on console, etc. were previously discussed.

[2018-11-06 10:42] erwango commented on #11109
@SebastianBoe , in order to try to unblock this ticket.
Can you clarify "namespace scoping rules that prevent aliasing issues" (I think I get it but I prefer to be sure to avoid any misunderstanding) and what in #7213 is blocking this?

[2018-11-06 10:49] nordic-krch commented on #11008
@pfalcon i tried to reproduce, i'm getting following output:
[code]

Is this wrong?

One thing that i noticed is that after quitting qemu im no longer able to use terminal, it does not accept any new characters. Have you seen something like that? I'm running terminal on mint 19

[2018-11-06 10:49] himanshujha199640 opened #11133 "lib/posix/mqueue.c: WARNING: Unsigned expression compared with zero"
Found using Coccinelle.
https://github.com/zephyrproject-rtos/zephyr/pull/11132
[code]

[2018-11-06 10:52] himanshujha199640 opened #11134 "drivers/flash/soc_flash_nios2_qspi.c: WARNING: Unsigned expression compared with zero"
Found using Coccinelle
https://github.com/zephyrproject-rtos/zephyr/pull/11132
[code]

[2018-11-06 10:53] himanshujha199640 opened #11135 "subsys/net/lib/: WARNING: Unsigned expression compared with zero"
Found using Coccinelle.
https://github.com/zephyrproject-rtos/zephyr/pull/11132
[code]

[2018-11-06 10:55] himanshujha199640 opened #11136 "drivers/spi: WARNING: Unsigned expression compared with zero"
Found using Coccinelle.
https://github.com/zephyrproject-rtos/zephyr/pull/11132
[code]

[2018-11-06 10:55] pfalcon commented on #10512
@pkral78 :

This is coming, per above requests from @nordic-krch. Even though teh original idea was that "only an interrupt-driven console can be real-world useful". (But certainly, there's no reason to not support even "toy" busy-polling console)

It should be noted that using "console" with other devices than "uart" is still an open topic. It's definitely should be supported, but the only detail

[2018-11-06 10:58] wizofe commented on #11076
Thank you @vanwinkeljan.

[2018-11-06 10:58] #11076 closed

[2018-11-06 11:16] mnkp commented on #9015
Thanks @pfalcon for your analysis and proposals how to solve the issue. And I apologize for a late reply: long vacations + lack of time.

I definitely agree with your statement

however I don't agree with the following

Forcing all the drivers to use the same amount of buffers regardless of their internal architecture is very inflexible. It's akin to demanding that all I2C drivers work in fast mod

[2018-11-06 11:18] #11102 closed

[2018-11-06 11:47] pkral78 commented on #10512
Which leads to question, if there should not be some abstraction for both push/pull types of API in between driver and the subsystem. I'm not sure how to call it - stream API, character devices? It can also clarify running context where and when are data handled. I don't see directly hooking console subsystem on uart interrupts is way to go (if we also want to support non-uart drivers). What this

[2018-11-06 11:59] pfalcon commented on #11008
@nordic-krch , ok you tried "hello_world", and that's correct, expected output.

Now please try net/echo_server, and there's no
[code]
line output, even though the settings are seemingly similar. (Well, they are definitely the same for me as a user.)

[2018-11-06 12:00] pfalcon commented on #11008
One thing that i noticed is that after quitting qemu im no longer able to use terminal, it does not accept any new characters. Have you seen something like that? I'm running terminal on mint 19

Sure, I get that every day ;-). tty is in raw/no-echo mode. just type "reset" blindly. (may need twice, if you already typed something before).

[2018-11-06 13:05] erwango commented on #10904
My purpose is how do we establish the list of devices (or instances of device) that should be generated against a particular driver template. In Linux, the equivalent operation is done using 'compatible' field at run time. Even if we're doing this operation at pre-compilation, we should use the same approach.

[2018-11-06 14:06] sectyler commented on #11120
I have not worked much with the other Bluetooth samples, but trying it with the `scan_adv` sample resulted in similar behavior.
- I ran the sample with `make debug`
- Enter `c` at the GDB prompt to begin execution. The following messages are printed to the console:
[code]
- After several seconds press `CTRL+C` to pause execution
- Upon resuming execution with `c`, I get an assertion failure:

[cod

[2018-11-06 14:09] SebastianBoe commented on #11109
In any namespace (set of symbols), you need some way to prevent aliasing issues.

So for instance.

In the CMake namespace (set of CMake variable names), symbols named CONFIG_* are reserved for Kconfig. It is not permitted to create a CMake variable that is prefixed with CONFIG_.

Similairly, in the the C namespace symbols named CONFIG_* are reserved for Kconfig. It is not permitted to #define CON

[2018-11-06 14:27] lemrey opened #11146 "ext: debug: segger: rtt: SEGGER_RTT_Init() missing return statement"
The compiler emits a warning:
[code]

[2018-11-06 14:30] lemrey opened #11147 "subsys: logging: rtt: undeclared macro"
DROP_MAX macro is used unconditionally but its declaration is conditional.

Line `subsys/logging/log_backend_rtt.c:113`
`int cnt = min(drop_cnt, DROP_MAX);`
`error: ‘DROP_MAX’ undeclared (first use in this function)`

[2018-11-06 14:46] carlescufi commented on #11120
@sectyler As @pfalcon mentions I don't think this is a bug, let me explain.
Bluetooth requires hard real-time timing intervals to be respected. If they are not, there are guards in the code that will trigger a kernel oops in order to warn the developer that something was done in the background that delayed the ISR execution beyond what is admissible as per the Bluetooth specification.
There is abs

[2018-11-06 14:48] himanshujha199640 opened #11149 "subsys/bluetooth/host/rfcomm.c: Missing unlock"
Found using coccinelle.
https://github.com/zephyrproject-rtos/zephyr/pull/11148
[code]

[2018-11-06 14:49] himanshujha199640 opened #11150 "samples/net/sntp_client/src/main.c: Missing unlock on return path"
Found using Coccinelle.
https://github.com/zephyrproject-rtos/zephyr/pull/11148
[code]

[2018-11-06 14:58] erwango commented on #11109
So is that all about defining a DTS_ (or DT_) prefix for device tree generated symbols?

[2018-11-06 14:59] SebastianBoe commented on #11109
Yes.

[2018-11-06 15:19] sectyler commented on #11120
@carlescufi Thank you, your response is very informative and helpful. If I understand correctly, this means when trying to debug an application using Bluetooth I cannot effectively use a debugger like GDB and am limited to logs and print statements.

Are there other tools/techniques Bluetooth developers use to debug more effectively? I came across the problem trying to debug a TLS or DTLS echo ser

[2018-11-06 15:43] mike-scott commented on #7584
CoAP migration was merged.

[2018-11-06 15:43] #7584 closed

[2018-11-06 15:52] zhang-wenchao commented on #11074
I have found the problem, fixing it, please wait for my pr

[2018-11-06 16:37] #9765 closed

[2018-11-06 16:43] carlescufi commented on #11120
You can use GDB, but you are limited to then a single breakpoint, you cannot continue. There are no other real methods beyond `LOG()` (which will work fine now that it is deferred) or tracing via pins. There is also RTOS tracing functionality that you can use with Segger SystemView.

No, this is the right place. I will mark this issue as a question

[2018-11-06 16:44] carlescufi commented on #11120
CC @mike-scott who has experience debugging IPSP

[2018-11-06 17:02] himanshujha199640 commented on #11098
Fixed!
commit 767b4ec6b74e7dda81821a4f7cf3553c499b0a11
https://github.com/zephyrproject-rtos/zephyr/pull/11081

Please close this Issue.

[2018-11-06 17:34] b0661 commented on #10904
For device_get_binding you always have to use the 'compatible' property.

**The question is how do you identify a specific instance of a device type (e.g. UART0 of all the UARTs of a SOC that are of the same type and therefor have the same 'compatible')?**

I propose to use the 'label' property to identify a specific instance of a device type - would be 'UART0' in the example above.

The 'compatib

[2018-11-06 17:34] dbkinder commented on #11111
@jukkar Recent changes to the doc/CMakeLists.txt processing may be the culprit here.  Previously, the doc build created it's output within the doc/ folder structure, mostly within the doc/_build folders, but some files were created outside of this and we used .gitignore to keep Git happy.  Because of the way the current doc build works, it copies .rst files into a build folder before starting the

[2018-11-06 17:53] himanshujha199640 commented on #11089
False postive as the switch case branch skims through various
WHOAMI register to check for various supported devices.

And @ceolin I think it doesn't violate MISRA-C. Isn't it ?
https://github.com/zephyrproject-rtos/zephyr/issues/9893

[2018-11-06 17:53] galak commented on #10894
Any update?  This drivers will soon not be usable once all SPI controllers use DTS.

[2018-11-06 17:57] galak commented on #10894
@agansari can you look at converting the eth_enc28j60 driver over to use DTS.

[2018-11-06 18:15] galak opened #11163 "Define definition of API categories (stable, experimental, deprecated, etc.)"
Come to agreement on definition of API categories, document this, and find some means of marking the APIs in each category.

[2018-11-06 18:16] lpereira commented on #11077
@pfalcon I'm not working on Zephyr any longer.

[2018-11-06 18:18] lpereira commented on #11077
In any case, this is just the matter of including headers in the right order.  This error happened before; see, for instance, `drivers/serial/uart_esp32.c`.

[2018-11-06 18:21] #11163 closed

[2018-11-06 18:22] galak commented on #10942
Here are a few classes to start with: stable, experimental, deprecated, etc.

[2018-11-06 18:33] galak commented on #3464
Is this still an issue?

[2018-11-06 20:10] #11101 closed

[2018-11-06 21:14] #10435 closed

[2018-11-06 21:58] #3524 closed

[2018-11-06 22:13] galak commented on #10894
PR #11165 to convert over BMI160 Sensor

[2018-11-06 22:39] galak opened #11166 "quark_se_c1000_devboard has no docs"
There are no board docs for quark_se_c1000_devboard

[2018-11-06 22:48] subbu147 commented on #11089
It looks like a valid waring.
It violates the MISRA-C
switch (x) {
   case 'a':  /* allowed */
   case 'b':
      do_something();
      break;
  **case 'c':
      do_something_else(); /*not allowed */
  case 'd':
      break;**
  default:
      break;
}

[2018-11-07 01:43] GAnthony commented on #10592
Filed a TI JIRA ticket on the TI host driver: (internal link) https://jira.itg.ti.com/browse/CC3X20SDK-1578 to track.
Should be fixed in a future TI SimpleLink SDK release.

[2018-11-07 02:22] ceolin opened #11167 "Building failing in arm cortex-m0"
Building is failing when `CONFIG_NO_OPTIMIZATIONS` is enabled. This is the output for `./samples/hello_world/` with bbc-microbit as target.

[code]

[2018-11-07 06:02] pfalcon commented on #10942
Btw, is this correct? I.e. this captures the status of the discussion of the matter done a year ago, and asks if it's good enough to be captured in the docs by now?

(It would be easy to think that it's a typo, but then I know that the API meeting was yesterday, Nov 6, they're weekly, so the previous one wasn't even in November).

[2018-11-07 06:42] pfalcon commented on #10942
I can also propose a "case study" based on APIs I'm familiar with:

1. UART driver API has 27 implementations. Is it stable? Well, there're 2 sub-APIs: synchronous I/O and interrupt-driven async I/O. The first is definitely stable and adheres to all requirements (like, being easy to implement for board bring-up). The interrupt-driven async I/O API isn't stable at all. It's not documented thoroughl

[2018-11-07 06:55] nordic-krch commented on #11008
ok, reproduced. #10734 fixes it. It's ready to be merged.

[2018-11-07 07:00] pfalcon commented on #8243
This has now been implemented as part of https://github.com/zephyrproject-rtos/zephyr/pull/10765 . Details of the API is still being worked on (it's marked EXPERIMENTAL), implementation needs optimization, but otherwise the intended functionality is there and ready for interested parties to play with (and provide feedback, to drive further elaboration).

[2018-11-07 07:12] pfalcon commented on #11008
Thanks!

[2018-11-07 07:48] erwango commented on #10904
I haven't managed to make myself clear enough.
My point is how to list the instances that will match the device template provided by a driver. We should make clear this should done thanks to 'compatible'.

You're raising another question.

[2018-11-07 07:59] ajaykish opened #11170 "kernel.profiling.call_stacks_analyze_idle: assertion fails on em_starterkit_em7d_v22"
Execution log:
[code]
Failure found on : em_starterkit_em7d_v22

[2018-11-07 09:20] finikorg opened #11171 "usb: nrf: usb_nrfx is in endless loop when USB cable in not connected"
When USB cable is not connected to the `reel_board`'s `nRF USB` connector board issues endless events:

[code]

[2018-11-07 09:31] jukkar commented on #11111
That did the trick, doc build is now under 7 minutes in my machine. Thanks for the help!

[2018-11-07 09:39] timork opened #11172 "ARM Cortex A Architecture support - ARMv8-A"
ARM Cortex A Architecture support is needed for new generation of automotive devices with strong security, reliability, real-time, connectivity (automotive ethernet) requirements.
New Cortex A class devices devices are targeted for these applications (like Cortex A55).
Integration with ARM Trusted Firmware is needed for secure boot, basic system initialization and power management.

[2018-11-07 09:43] jukkar commented on #11135
We are deprecating the current mqtt implementation soon so those warnings can be ignored right now.

@mike-scott Can you check the lwm2m warning?

[2018-11-07 09:49] jrth opened #11173 "Bluetooth/GATT, bt_gatt_attr_write_ccc write attibute helper"
The bt_gatt_attr_write_ccc write attibute helper (gatt.h/c) appears to contain errors if more than 1 connection is supported. The _cfg_changed should be called whenever a ccc->cfg[i].value changes. This is not the case.
If ccc->cfg[i].value is updated then _cfg_changed is only called when ccc->cfg[i].value != ccc->value. The ccc->value holds the largest of ccc->cfg[i].value's. What sence does that

[2018-11-07 11:04] #11074 closed

[2018-11-07 11:09] pfalcon commented on #9015
@mnkp : Thanks for getting back to this.

But that turns the situation upside down. It's not "forcing driver to use the same amount of buffers", it's "a driver should be able to work with *any* amount of buffers, as specified by *user*". Like, that's a high ideal, to be able to *work* like that. But at least to *build* should be the baseline requirement.

But again, the situation is just the oppos

[2018-11-07 11:36] jukkar commented on #9015
This assumption is wrong, especially with sam-e70 eth driver. There is some minimal amount of buffers that e70 needs.

I do not see why we should have a global minimum for network buffers. This clearly depends on application / board needs.

[2018-11-07 11:49] Vudentz commented on #10517
Can you use btmon to collect the HCI trace on Ubuntu? There could be a problem in the HID layer as well but lets first check the data is not corrupted for some reason.

[2018-11-07 12:00] pfalcon commented on #10512
@pkral78:

So, I see the obvious contradiction in what you say. You first ask for supporting push-style API for console, then wonder how UART ISR ended up there. The answer is simple: because UART ISR is a typical example of push-style producer! That's why the *initial*, 1.5yrs old implementation of console looked like that - it was an "impedance matcher" which converted push-style producer(s) int

[2018-11-07 12:11] Lindenk opened #11176 "Support for particle boards"
Support for Particle's boards would be very helpful. This includes (in the order if my prefrence):

- Xenon
- Boron (although this requires GSM support)
- Argon

Also, support for the particle programmer/debugger would be nice too (if it isn't already).

[2018-11-07 12:19] pfalcon commented on #10512
We absolutely want to copy data between buffers multiple times. I mean, if the user ordered us that. Just imagine what happens if we want to output character "a" to multiple devices, and one of them is not ready to do that just now. Well, we aren't going to stop the world because of just one lazy device. The solution is to let individual device buffer stuff on their side per their likes (well, per

[2018-11-07 12:29] pfalcon commented on #9015
That's not assumption. That's the *baseline* requirement of flexible, unmessy networking stack.

Well, *networking* needs minimal amount of buffers, counted as 1 (or maybe 2). I can send data in 5-byte chunks and live long happy networking life, and should be able to do that even on sam-e70.

We do not need to specially "have" it. It's implicit property of the world. Like, minimum number of things

[2018-11-07 12:34] #11150 closed

[2018-11-07 12:39] #11008 closed

[2018-11-07 12:52] carlescufi commented on #8758
@jarz-nordic @Mierunski @anangl can you please check the table in the description and tick off what's needed?

[2018-11-07 12:53] vsaw opened #11179 "Minor Typo "dirver" in UART of Native Posix"
See https://github.com/zephyrproject-rtos/zephyr/blob/bded528b6b4f12ebd0d83ef2119518aa356ad8b9/drivers/serial/uart_native_posix.c#L182

[2018-11-07 12:55] galak commented on #3405
We've had a SPI driver for Atmel for a bit now, going to close this.

[2018-11-07 12:55] #3405 closed

[2018-11-07 13:02] dhananjaygj commented on #10517
@Vudentz Thanks for the reply. I have attached btmon trace i collected for this issue using nRF52832 dev kit and Ubuntu laptop.

In my sample application,
1) I used Tx buffer configuration as
CONFIG_BT_CONN_TX_MAX=5
CONFIG_BT_CTLR_TX_BUFFERS=5

2) The connection interval collected using bt_conn_get_info() is 40.

3) I send ASCII characters (0x04 - 0x27) on button press through HID profile.

In the

[2018-11-07 13:32] pfalcon commented on #11179
@vsaw : Care to submit a patch? ;-) Fixing a typo is a smoothest way to start to contribute, if you're interested in that.

[2018-11-07 13:32] aurel32 commented on #11069
Some more details about that part. The Cortex M7 technical reference manual clearly says that cacheable shared locations are treated as being non-cacheable if CACR.SIWT = 0 (default) or as write-through if CACR.SIWT = 1.

First of all it's not what we want. Secondly I guess that when switching from WBWA to nocache (if CACR.SWIT=0) or to WT (if CACR.SIWT = 1), by enabling the MPU after reconfigurin

[2018-11-07 13:36] SebastianBoe commented on #11167
Reproduced.

[code]

[2018-11-07 13:38] nashif opened #11182 "qemu_xtensa tests fail spuriously under sanitycheck/CI"
Test keeps failing randomly in CI

[code]

[2018-11-07 13:39] SebastianBoe commented on #11167
Fixed.

Not sure what kind of consequences this fix has though, it might be breaking things ...

[code]

[2018-11-07 13:50] SebastianBoe commented on #11167
The root cause and solution options are described in https://github.com/zephyrproject-rtos/zephyr/commit/17652760001cec19cd25f48fa18d0c973f5ca345#diff-ef6459503728d8b77ea93b33e8de0117

Personally I think that porting to C is the best long-term solution. Not sure what to do short-term ...

[2018-11-07 14:39] pkral78 commented on #10512
This is just misinterpretation of what I pointed on: mixing run context across subsystems, without clear border. This ends up in mess like an old timers API. Another example is USB subsystem, where endpoint enumeration is done directly from isr (at least on stm32) which time to time causes random transfer errors just by enabling higher level of logging. So, because isr is typical push-style produc

[2018-11-07 14:40] pfalcon commented on #8722
The point is that there's not enough context, guidelines, and requirements are provided, so one literally can only try to make conclusions from the sparse data provided, which can easily turn out to be false...

[2018-11-07 14:42] tbursztyka commented on #8722
I think we all know what needs to be done here, no need to take by hand whoever is going to do that work.

[2018-11-07 14:47] pfalcon commented on #8722
So let me clarify: I don't know, so that's why I didn't participate in it. Actually, I had issues with reviewing patches claiming to be cleanups/fixes based on this and related tickets - if it's known exactly *what* should be done and *why*, it's hard to assess whether a particular change is improvement, regression, or just sideways work.

Anyway, just a friendly feedback.

[2018-11-07 15:16] nashif commented on #11182
same fails on qemu_xtensa  with the following exception

[code]

[2018-11-07 15:17] nashif commented on #11182
@nategraff-sifive @andyross @andrewboie fyi, any idea what is going here?

[2018-11-07 15:17] nashif commented on #11182
This is now happening more often with new Qemu in the SDK

[2018-11-07 15:21] thomasstenersen opened #11186 "Broken ext/hal/* license links"
The links CMSIS, Nordic and NXP licenses in https://docs.zephyrproject.org/latest/LICENSING.html#zephyr-licensing are broken. Seems to be due to a recent path change.

[2018-11-07 15:47] nashif commented on #10942
**At least 2(?) implementations of the API for different HW -> generic.**

So lets analyse this:

- at least = this is fixed to X implementations, this will depend on the domain and subsystem. So being minutes from a live discussion "at least" here signifies that we know that some domains will need more.

- 2(?): Meaning that the number was put there as a placeholder open for discussion and not fi

[2018-11-07 15:49] nashif commented on #10942
yes, this is correct, pulled those bullets from first API meeting we had 1 year ago. They were in raw firm and copy/pasted as is and to pick up and continue the discussion. Those are discussion minutes, **not** decisions.

[2018-11-07 15:51] sigvartmh opened #11187 "cmake/toolchain/clang: selecting clang doesn't select the correct compiler file"
When setting `ZEPHYR_TOOLCHAIN_VARIANT=clang` and try to compile an example you'll get
`-- Performing Test toolchain_is_ok - Failed`
This is due to this error:

[code]
This error is caused by the following line: https://github.com/zephyrproject-rtos/zephyr/blob/58781d5782fc7644dafd44d309ef485eee3f88d9/cmake/toolchain.cmake#L71

due to it trying to compile something called `compiler/clang.cmake` ho

[2018-11-07 15:57] mike-scott commented on #11135
@jukkar I'll check into it

[2018-11-07 17:18] andyross commented on #11022
I'll take this one.  @pizi-nordic set me straight on the need, see comments in the linked patch.

[2018-11-07 17:20] pizi-nordic commented on #11022
Thank you!

[2018-11-07 18:42] nategraff-sifive commented on #11182
I'm on commit 5addb3a92 and SDK 0.9.5 and I can't seem to make this test fail anymore.

Running `./scripts/sanitycheck -p qemu_riscv32 -s tests/kernel/timer/timer_api/kernel.timer`

[2018-11-07 18:43] aurel32 commented on #11069
I have been able to reproduce the issue seen by @spoorthik by using the Zephyr SDK instead of using the toolchain from Debian testing. And that allows me to confirm that the issue is fixed by the above patch. I'll send a proper pull request for it.

[2018-11-07 18:59] pfalcon commented on #10972
Ok, so as this was mentioned at yesterday's networking call, let's go forward with this, and let me record response to this ticket as a kind of walkthru.

1. Let's choose a random socket sample, e.g. samples/net/sockets/http_get , and build it for the default BOARD, which is qemu_x86.
2. Grepping outdir/qemu_x86/zephyr, there's CONFIG_USERSPACE=y. That fully corresponds to my expectations, as I "k

[2018-11-07 19:17] ceolin commented on #11167
Yeah, it override the link register, one change that works is save lr register into other register and restore it in _IntExit. But my re-organize these sections make more sense to me.

[2018-11-07 19:36] agross-oss opened #11193 "ARM V8M Trusted Execution Environments and Zephyr"
This issue is to document use cases, threat models, functional requirements, and design considerations for a trusted execution environment in Zephyr on ARMv8M hardware implementations.  We can broaden this if we need to include ARC.

[2018-11-07 20:55] pfalcon commented on #10512
So, good news is that it's now largely resolved, with more resolutions to gradually perform going forward.

No, as explained above, we wave push producers goodbye (not composable enough, don't work across domain boundaries).

Noted. I'm not familiar with RTT enough to give an immediate answer/suggestions, but definitely let's keep it in scope.

Sounds good, please lead on that. On my plate so far

[2018-11-07 21:44] kzyapkov commented on #11121
@erwango your patch works and looks like the correct way to handle the situation.

[2018-11-07 22:44] RonAmihai opened #11198 "Bluetooth Mesh: device receives it's own sent messages when CONFIG_BT_SETTINGS is enabled"
@jhedberg

I'm opening this issue further to my previous one, which also refers to Bluetooth Mesh. Maybe the issues are related.
https://github.com/zephyrproject-rtos/zephyr/issues/10952

I'm using nRF52840-pca10056 as development board.

When CONFIG_BT_SETTINGS is enabled, and messages are sent through publication context, I've noticed that the same device receives it own messages.

In my situati

[2018-11-07 22:53] aurel32 commented on #11069
@tgorochowik, I have just made a proposal for a uncached memory section in #11199

[2018-11-08 00:36] nategraff-sifive commented on #11182
I seem to remember this test failing for me sometimes on another commit. Maybe I'm remembering another one.

[2018-11-08 02:02] GAnthony opened #11202 "recent "shell: shell_uart" commit breaks shell samples on cc3220sf"
The commit: 4962618e "shell: shell_uart: add ring_buffers and interrupt support" breaks the samples/subsys/shell/shell_module and samples/net/wifi shell samples on the cc3220sf_launchxl, resulting in no character input.

Reverting that commit makes the samples work again.

The interrupt driven uart tests had previously been working, so there is some assumption being made with this new shell client

[2018-11-08 03:57] #11186 closed

[2018-11-08 05:35] sathishkuttan commented on #8974
Addressed in #9792

[2018-11-08 05:35] #8974 closed

[2018-11-08 08:33] jhedberg commented on #11198
What destination address are you using? Are you sure the local node doesn't subscribe to it?

[2018-11-08 08:43] jhedberg commented on #10952
It appears that it's not just the opcode that's wrong, but a large part of the SDU is zeroes. Working:
[code]
vs not working:
[code]

Anyway, the receiving side gives only half of the picture. What about the sending side? How does the received SDU content compare with what the server-side logs claim to be sending?

FWIW, I've never heard or seen such an issue before, so I would have an initial bia

[2018-11-08 09:46] #11099 closed

[2018-11-08 09:56] akshhr opened #11206 "Bletooth/GATT bt_gatt_characteristic properties write with and without response are not mutually exclusive"
I have an issue if I want certain attribute to accept only write without response.
Even if property is set to write without response only , write with response is getting through. It looks like neither stack checks whether an attribute has BT_GATT_CHRC_WRITE or  BT_GATT_CHRC_WRITE_WITHOUT_RESP  nor the actual opcodes for these operations are exposed to application so that it can control the write

[2018-11-08 10:32] jhedberg commented on #11206
CC @carlescufi

[2018-11-08 10:59] carlescufi commented on #10821
@erwango
I believe it's because we are generating a Kconfig fragment, and Kconfig variables **must** be prefixed with `CONFIG_`

[2018-11-08 11:04] erwango commented on #10821
@carlescufi , ok so should be excluded from https://github.com/zephyrproject-rtos/zephyr/pull/11180 then

[2018-11-08 11:14] Mierunski opened #11207 "ENOSYS has ambiguous meaning."
In the errno.h file, we can find:
[code]
While checkpatch gives following information:
[code]
i.e. I wanted to use it in the following way:
[code]
Where
-ENOSYS If driver has not implemented this function
-ENOTSUP If device does not support given configuration.

Which information if true? errno.h file or checkpatch?

[2018-11-08 12:16] erwango commented on #9406
from: #11180
@carlescufi

Then, how will we link both ?

[2018-11-08 12:18] carlescufi commented on #9406
Well, my hope is that `#define DT_COMPAT_STM32_SPI` won't be needed at all and we'll be able to remove it. Instead of generating that macro, we will enable the Kconfig option `CONFIG_DT_COMPAT_STM32_SPI` in a generated fragment (`.conf`).

[2018-11-08 12:45] erwango commented on #9406
Output of discussion on slack https://zephyrproject.slack.com/archives/C18PLHN8H/p1541680753156800

**Proposal**:

Do not generate #define DT_COMPAT or #define CONFIG_DT_COMPAT

Depending on node 'compatible' field:

if it's ON, we write the line `CONFIG_DT_COMPAT_X=y` in the generated `.conf`.
Then Kconfig will generated `#define CONFIG_DT_COMPAT_X 1` in `autoconf.h`.

If it's OFF, we do *not* wr

[2018-11-08 13:35] MitterdorferMathias opened #11213 "NFFS: Handle unexpected Power Off"
Can NFFS handle unexpected power failures (either brownout reset - NRF52832, or loss of VCC)?

We encountered a corrupt nffs file system (see attachment).

It is not possible to unlink existing files (error code 3 - Invalid offset).

@nvlsianpu Can you please comment on this

[nffs_file_system_corrupt.bin.gz](https://github.com/zephyrproject-rtos/zephyr/files/2561937/nffs_file_system_corrupt.bin.g

[2018-11-08 14:01] rmstoi opened #11215 "net: arp: Zephyr replies to ARP request with malformed hardware type"
Zephyr replies to ARP Request with unknown hardware type.  This ARP Request should be dropped instead and translation table should not be updated

[arp_unknown_hw_type.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2562009/arp_unknown_hw_type.pcap.gz)

[2018-11-08 15:40] rmstoi opened #11217 "net: arp: Zephyr replies to ARP request with malformed protocol type"
Zephyr replies to ARP Request with unknown protocol type. This ARP Request should be dropped instead and translation table should not be updated

[arp_unknown_protocol_type.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2562390/arp_unknown_protocol_type.pcap.gz)

[2018-11-08 16:52] andyross commented on #11182
I thought I had most of these issues fixed, but note that on a loaded host machine architectures (risc-v and xtensa are ones!) that need to reset the timer in the ISR for the next tick even in "non-tickless" mode are always going to have some exposure to the race.

The root cause is that when you ask qemu for a cycle count, it gives you back "real time".  So if the host OS blocks the process for a

[2018-11-08 17:36] pfalcon commented on #8869
Ok, so I have to news, good and bad, and actually I don't know which of them is which:

1. Still can't reproduce with for qemu_x86 (qemu from SDK 0.9.5, master 93bd26343ef5c0c0b71f269efe5fe53f87406885).
2. But now I can see "something" with mps2_an385 in QEMU (which I never used before otherwise, and for which I don't have real board either).

So, this "something" behaves in following way: a) I do

[2018-11-08 17:38] pfalcon commented on #10182
cc: @GAnthony as a TI guy.

[2018-11-08 18:40] himanshujha199640 commented on #11207
In linux kernel's context from where `checkpatch.pl` is actually derived:

https://github.com/torvalds/linux/commit/e15f431fe2d53cd4673510736da7d4fa1090e096
https://github.com/torvalds/linux/commit/91c9afaf97ee554d2cd3042a5ad01ad21c99e8c4

But grepping through Zephyr sources:
[code]

So, I believe `errno.h` is correct here!

[2018-11-08 18:51] andyross commented on #11022
Root cause fix up in #11220, should be good to go though I didn't wait for a full sanitycheck on my end before pushing.

[2018-11-08 21:23] #11090 closed

[2018-11-08 22:07] #11167 closed

[2018-11-08 23:09] mike-scott opened #11226 "Logging: duplicate log messages for some samples when building for qemu_x86"
samples/net/irc_bot
samples/net/lwm2m_client

Will generated duplicated log messages after main() is called (from LwM2M sample):
[code]

[2018-11-08 23:10] mike-scott commented on #11226
@jukkar @nordic-krch Not sure what changes I need in prj.conf to avoid this.

[2018-11-08 23:12] mike-scott commented on #11226
NOTE: it only seems to be INFO (and lower) lines which are duplicated.  The DEBUG lines are not.

[2018-11-09 07:46] nordic-krch commented on #8869
you can disable interrupt uart driver (thanks to `imply` being used in shell kconfig) for this board. It seems like uart_cmsdk_apb driver which is used here is not working well with interrupts. We might need to disable uart with interrupts for that board until it is resolved.

And again, it's not our fault that bug are discovered. It's rather the opposit, it's fame and glory. Same story was with c

[2018-11-09 08:07] pfalcon commented on #8869
Continuing from https://github.com/zephyrproject-rtos/zephyr/pull/10923#issuecomment-437265695:

@nordic-krch :

So, now you know that you can't. Actually I thought you guys are well aware of that, and that's why there's e.g. https://github.com/zephyrproject-rtos/zephyr/pull/10820. So, just to avoid any future confusion, let me share another best kept secret: there're many parts in Zephyr which ca

[2018-11-09 08:13] pfalcon commented on #8869
Absolutely. I for one was locked in that tower waiting for you guys to come and help me fight the dragon. ;-). So, let's get to it.

Again, don't discount bugs in QEMU UART emulation. We likely have both bugs in Zephyr drivers, and bugs in QEMU emulation, in arbitrary combinations for a particular target.

[2018-11-09 08:50] nvlsianpu commented on #11213
Apparently looks like not. As far i know there is any routine for checking integrity of file in nffs while the FS starts. This should be easy to add, also recovery previous files sate should be easy to do (as only need to restore previous version of the file inode).

Unfortunately what you encountered is not only nffs issue we have.
https://github.com/apache/mynewt-nffs/issues/10

[2018-11-09 09:03] raveslave commented on #4326
Any plans on when?

[2018-11-09 09:13] pfalcon commented on #4326
@raveslave : All the time ;-). You can search pull requests for "psoc6" for the current work in progress. E.g. right now you can help with reviewing and testing https://github.com/zephyrproject-rtos/zephyr/pull/10601. (And without help with testing, it's all going to be very-very slow.)

Oh, and btw, I wouldn't close this ticket, given the community interest. (I.e. this ticket can be subscribed to

[2018-11-09 09:40] MitterdorferMathias commented on #11213
@nvlsianpu Thanks for the reply.

I think this would be a good feature to have.

[2018-11-09 10:01] raveslave commented on #4326
We'd be happy to do testing, but we need more things in place first
- peripherals:
  * i2c, spi, i2s, sdio, pdm, usb, etc..
  * other psoc 6 specifics, i.e. the analog blocks
- pin-config & routing

@galak can you please look into this and re-open this issue.

[2018-11-09 10:02] finikorg opened #11232 "nrf82: reel_board: USB unable to send fragmented packets through Control endpoint"
When testing issue with wpanusb I noticed that after Host sends more then 64 bytes through Control endpoint communication stalls.
@mike-scott

[2018-11-09 10:04] finikorg commented on #11016
Can this be related? Issue #11232

[2018-11-09 10:05] JoeHut opened #11233 "Add trigger support for nRF temperature sensor"
The nrf5_temp sensor currently only supports polling, but no asynchronous trigger. It would be helpful to have trigger support in order to define a temperature that fires an action like a board shutdown to prevent overheating.

[2018-11-09 10:07] pfalcon commented on #4326
@raveslave: As you can see, the current thing which needs testing is IPM communication between the cores.

Reopening based on the community request, reassigning to me. I'll try to post updates to this, and we can open at least until 1.14 release I guess.

[2018-11-09 10:20] #11056 closed

[2018-11-09 10:50] #10629 closed

[2018-11-09 11:09] jarz-nordic commented on #11202
@GAnthony : I tested it with no problems on:
- all Nordic boards
- frdm_k64f
- disco_l475_iot1
and it was working fine.

In my opinion this is problem with serial driver - interrupt API. You can unselect UART interrupt API in menuconfig:
`Device Drivers -> Serial Drivers -> Enable UART Interrupt support`. Now shell will work in polling mode like before this commit.

[2018-11-09 11:49] MarekPieta opened #11244 "Turning on SystemView causes error"
Starting SystemView in make menuconfig causes error - program is no longer working. Checked in gdb and noticed that execution does not even reach start of main function.
With SystemView turned on program receives signal SIGTRAP at

`/zephyr/kernel/mutex.c:118 (function: _impl_k_mutex_lock (mutex=0x200041d8 <rtt_term_mutex>, timeout=timeout@entry=-1)).`

Problem is caused by `sys_trace_void(SYS_TRA

[2018-11-09 12:10] nordic-krch commented on #11202
Most likely it's error in TI serial driver and i won't be able to help with that.

[2018-11-09 12:14] carlescufi commented on #11232
Assigned to @pawelzadrozniak so he can take a look.

[2018-11-09 12:20] pfalcon commented on #8869
For shell, apparently makes sense to standardize on samples/subsys/shell/shell_module for testing. Here's the behavior I see with `... BOARD=mps2_an385 run`:

1. On start, the usual `uart:~$` prompt is not printed.
2. Now I press "1", get two linefeeds.
3. "2" - `ua` gets printed.
4. "3" - `rt:~$ ` gets printed
4. "4" - `123` gets printed.
5. "5" - `4`
6. "6" - `5`, and following, it converges to

[2018-11-09 12:32] jarz-nordic commented on #8869
Two line feeds are first characters send by the shell before promt is printed.

`ua` looks like beginning of the promt :)

[2018-11-09 12:34] pfalcon commented on #8869
Absolutely. Again, to get to the bottom of it, we first need to compare, exactly, what behavior each us see. I described mine. Now your call guys. Do you see `ua` at that step, or maybe you see `uar`, or maybe something else completely?

[2018-11-09 12:39] pfalcon commented on #8869
@nordic-krch :

Well, that's not what I think. I think we should have a switch to disable interrupt-based UART support on shell level. Let me know if you disagree. (And I again would point out that if already had common console layer, we'd need to apply that in one place, now we need to apply it in 2).

In that regard, `CONFIG_SHELL_BACKEND_SERIAL_FORCE_INTERRUPTS=n` in prj.conf doesn't give the e

[2018-11-09 12:42] jarz-nordic commented on #8869
I have tested:
- nrf52840_pca10056
- frdm_k64f
- disco_l475_iot1
- qemu_x86

I did not observe any problems

[2018-11-09 12:47] nordic-krch commented on #8869
I disagree, if we have board/platform which has bugs in interrupt version of uart driver (or qemu error) we should disable that on that platform and not in shell. We don't want other modules to use uart interrupts there only to find out again that it does not work.

[2018-11-09 12:48] finikorg commented on #11232
![image](https://user-images.githubusercontent.com/3072104/48263332-65105d80-e42e-11e8-8cbe-06d191c6db45.png)

[2018-11-09 12:53] rmstoi opened #11248 "net: arp: Zephyr replies to ARP request with hardware size zero"
Zephyr replies to ARP Request with hardware size zero. This ARP Request should be dropped instead and translation table should not be updated
[arp_hw_size_zero.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2565882/arp_hw_size_zero.pcap.gz)

[2018-11-09 13:09] tbursztyka opened #11250 "'net help' or 'kernel help' shell commands lead to a fatal fault"
uart:~$ net help
net - Networking commands
Options:
  -h, --help  :Show command help.
Subcommands:
  allocs  :Print network memory allocations.
  app     :Print network application API usage information.
  arp     :Print information about IPv4 ARP cache.
  conn    :Print information about network connections.
  dns     :Show how DNS is configured.
  gptp    :Print information about gPTP support.

[2018-11-09 13:19] jukkar commented on #11250
What sample application you are using here?

I tried "net help" in echo-server sample and I see no errors.

[2018-11-09 13:30] rmstoi opened #11253 "net: arp: Zephyr replies to ARP request with invalid HLEN"
Zephyr replies to ARP Request with invalid hardware address length (for Ethernet it should be 6). This ARP Request should be dropped instead and translation table should not be updated
[arp_hw_len_inv.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2566009/arp_hw_len_inv.pcap.gz)

[2018-11-09 13:32] pfalcon commented on #8869
@nordic-krch

Then I have bad news for you, e.g. https://github.com/zephyrproject-rtos/zephyr/issues/8187 . Per my hypothesis, QEMU serial emulations is *always* broken, the question is how much, i.e. error rate. It may be 1 char per million, or 1 char per thousand, or maybe every other char. You say that we should not QEMU serial at all (== not use QEMU at all), and I say that we should be more f

[2018-11-09 13:36] nordic-krch commented on #8869
i'm only saying to not use serial with interrupts on qemu (`SERIAL_SUPPORT_INTERRUPT=n`). shell_uart handles that case and i assume that other modules using uart should also support handling that case since it's not guaranteed that uart will support interrupts.

[2018-11-09 13:41] pfalcon commented on #8869
@nordic-krch : And I'm saying that interrupts should work on qemu, and `SERIAL_SUPPORT_INTERRUPT=n` is a way to pretend that they shouldn't even work. We don't try to resolve the problem, we try to pretend it doesn't exist this way.

So, instead IMHO we should stick around warning posts like SHELL_DISABLE_UART_INTERRUPT, so it was clear to everyone it's ugly workaround until a better solution is f

[2018-11-09 13:41] rmstoi opened #11254 "net: arp: Zephyr replies to ARP request with protocol size zero"
Zephyr replies to ARP Request with protocol size zero. This ARP Request should be dropped instead and translation table should not be updated
[arp_proto_size_zero.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2566044/arp_proto_size_zero.pcap.gz)

[2018-11-09 13:46] tbursztyka opened #11255 "Pinging sam_e70 leads to unresponsive ethernet device at some point"
On target a net ping shows it can send/recv packets.

From an external host: ping -i 0.00001 <ip of the sam_e70 board> will work for some time until it cannot reach the target. On target side, a net ping does not work anymore.

Seems like either the ethernet driver or the ethernet device on the sam_e70 gets unresponsive.

[2018-11-09 13:51] jarz-nordic commented on #8869
@pfalcon
-DBOARD=qemu_cortex_m3      works just fine
-DBOARD=mps2_an385             works a you described :/

[2018-11-09 13:51] rmstoi opened #11257 "net: arp: Zephyr replies to ARP request with invalid PLEN"
Zephyr replies to ARP Request with invalid protocol address length (for IPv4 it should be 4). This ARP Request should be dropped instead and translation table should not be updated
[arp_proto_inv_plen.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2566075/arp_proto_inv_plen.pcap.gz)

[2018-11-09 13:54] pfalcon commented on #8869
@jarz-nordic : Thanks for confirming!

Oh, btw: https://github.com/zephyrproject-rtos/zephyr/issues/11202

[2018-11-09 13:55] jarz-nordic commented on #8869
Yes I saw that. It looks like a problem with serial interrupt API.

[2018-11-09 13:56] pfalcon commented on #11202
@GAnthony : Please try samples/subsys/console/echo on you board.

And see https://github.com/zephyrproject-rtos/zephyr/issues/8869 for more cases (but that issue is dedicated to QEMU boards).

[2018-11-09 14:18] #10570 closed

[2018-11-09 14:42] SebastianBoe opened #11260 "Detection of an MSYS environment sometimes fails"
Sometimes, in a "native windows" environment, we mistakenly detect that we are in an MSYS environment.

The offending code is in boilerplate.cmake:

[code]

This can for instance happen if, in a native windows environment, the path C:\Program Files\Git\usr\bin is added to path. Because Git\usr\bin contains uname, and git's uname returns "MSYS_NT*".

When MSYS is assumed in a native windows environ

[2018-11-09 14:54] mnkp opened #11261 "ARM Cortex-M4 (EFR32FG1P) MCU fails to wake up from sleep within _sys_soc_suspend()"
I'm implementing power management features on SiLabs efr32_slwstk6061a board with EFR32FG1P ARM Cortex-M4 MCU. To put the device to sleep I'm using vendor provided em_emu library module.

After performing all the tedious configuration of Energy Management Unit the em_emu library puts the device to sleep via the WFI instruction. Unfortunately, despite correctly configured wake up event the device n

[2018-11-09 16:08] markusr opened #11262 "shell over hardware uart shows strange characters"
I am testing the UART shell with a STM32L433:

I changed the following parameter to use usart1:

[code]

The usart1 is connected to a Raspberry Pi 3. The build and flash of the STM32L433 works fine. And I can see the console on the Raspi with

[code]

In general the shell works and also command are executed. However, after pushing "TAB" the output is partly "corrupted".

[code]

When pushing sever

[2018-11-09 16:30] jhedberg commented on #11088
@himanshujha199640 generally I try to do that - I just overlooked the fact that there was an open github issue for it (I fixed it as a consequence of the Coverity email report, not this github issue).

[2018-11-09 16:42] bfrog commented on #9509
I finally figured this out, it had to do with the builtin jlink on the nrf52840-dk having mass storage enabled. Disabling mass storage fixes this issue! Thank you for fixing this!

[2018-11-09 16:42] #9509 closed

[2018-11-09 18:22] himanshujha199640 commented on #6696
It is maked as `Fixed` in Coverity.
Please close this issue!

[2018-11-09 18:31] sathishkuttan opened #11266 "intel_s1000: usb_hid: load/store alignment exception"
When USB HID class is initialized in Intel S1000 SoC/CRB, a load/store exception occurs due to the assignment below in function `usb_set_hid_report_size` in file `subsys/usb/class/hid/core.c`

`hid_cfg.if0_hid.subdesc[0].wDescriptorLength =
                sys_cpu_to_le16(report_desc_size);`

[2018-11-09 18:52] himanshujha199640 commented on #10589
False postive!
Based on assumption:
[code]
Coverity considers case of `(value & 0) == 1` can't be true in any case and that is actually intentional/desired as we only adjust odr index in LP mode.

[2018-11-09 19:13] GAnthony commented on #11202
The design of the UART interrupt API is problematic.
It expects the driver to "cache" the results of the interrupt status register, to (hopefully at the right time) be read by the client's callback function.  Drivers shouldn't be doing this, as it creates races between the cached value and the actual interrupt status register value at a later time.

Yesterday, I rewrote the driver per the updated

[2018-11-09 19:25] sathishkuttan opened #11268 "soc: intel_s1000: linker section size updates"
Currently, the sizes of text, data and bss sections are define separately (`soc/xtensa/intel_s1000/memory.h`)
The linker script (`soc/xtensa/intel_s1000/linker.ld`) uses these definitions for appropriately sizing the corresponding sections.
Depending on the application, the code/data sizes vary and this often results in updating the section size definitions in `soc/xtensa/intel_s1000/memory.h`
Sin

[2018-11-09 21:53] andrewboie opened #11274 "tests/kernel/gen_isr_tables only runs on ARM"
This test ought to run on any platform which uses CONFIG_GEN_ISR_TABLES and has code to trigger an interrupt line from software. The test used to run on ARC and RISCV32.

The bug is in the testcase.yaml which has an incorrect filter line:
`filter: CONFIG_GEN_ISR_TABLES and CONFIG_ARMV7_M_ARMV8_M_MAINLINE`

[2018-11-09 21:55] #6696 closed

[2018-11-09 22:04] andrewboie opened #11275 "frdm_k64f/samples/net/gptp/test: irq line 85 registered twice"
As noted in build failures for #11273 which checks for this.
IRQ_CONNECT() shouldn't ever be called more than once on the same IRQ line, it's undefined which one will actually get registered.

[code]

[2018-11-09 22:05] andrewboie opened #11276 "nrf51_pca10028:tests/kernel/interrupt/arch.interrupt registers IRQ 24 twice"
As noted in build failures for #11273 which checks for this.
IRQ_CONNECT() shouldn't ever be called more than once on the same IRQ line, it's undefined which one will actually get registered.

[code]

[2018-11-09 22:08] andrewboie commented on #11276
Assigning to @ajaykish as he wrote the test, which is registering testcase interrupts which appear to clash with real IRQs on this board.

[2018-11-09 22:11] #10590 closed

[2018-11-10 00:34] GAnthony commented on #11202
OK, I did that, and tested that shell does indeed work.  However, now each log message is getting printed twice (with the same time stamp).  And, also, console does not work, since it's interrupt driven only.

Since I need shell more than console right now, I'll do this workaround and file an issue on uart_cc32xx.c to either 1) try to conform it's interrupt handling to the expectations of shell/co

[2018-11-10 00:35] GAnthony commented on #11202
I noted that console expects that a call to  `putchar->uart_irq_tx_enable()` will trigger a tx interrupt.  But in fact, the tx interrupt is only triggered after the uart sends a character, so that interrupt actually gets miss

[2018-11-10 00:35] aurel32 commented on #11250
bisected to:

[code]

@Vudentz, could you please have a look?

[2018-11-10 02:58] andyross commented on #11129
z_clock_set_timeout() is an internal API between the kernel and timer driver, and indeed it's a noop if TICKLESS_KERNEL is not defined.  When TICKLESS_KERNEL=n, the driver is expected to deliver regular ticks on its own, and doesn't need the kernel to tell it when to schedule the next z_clock_announce().

[2018-11-10 03:05] andyross commented on #11182
FWIW, the newer riscv timer driver in #10556 seems a little more robust than the old one and doesn't spurious fail, at least not in a few iterations of sanitycheck on my build box.

I'm lost on the Xtensa bug.  It seems like qemu is tossing that exception almost immediately after boot, it hits about 10 qemu_xtensa tests on a given run of sanitycheck, might be dependent on host load (I couldn't mak

[2018-11-10 04:28] sathishkuttan commented on #10948
I'll give it a try. The userspace stuff is something I have to familiarize myself with before I can implement

[2018-11-10 07:11] pfalcon commented on #11202
So, we've got a problem here. As comments to uart.h should explain (if they don't, d'oh), there're (at least) 2 possible TX interrupts: a) FIFO has some empty space and *ready* to accommodate more chars; b) UART has *completed* sending out chars. Ready/complete terminology might be not ideal, but an improvement over previous "empty" one we had, where it was completely ambiguous whether it was "som

[2018-11-10 07:49] pfalcon commented on #11202
So, I studied both the driver and cc3220 TRM, and here's my analysis and suggestions to try to fix the situation. First of all, I indeed was surprised that FIFO wasn't used in the current driver. But my reading thru the TRM, "disabling FIFO" effectively reducing it to be of the depth 1. All other interrupt processing works in the consistent way whether it's disabled or not. So, indeed, disabling i

[2018-11-10 11:54] aunsbjerg opened #11279 "Installation of requirements.txt fail because of pyocd issue"
Installation of requirements.txt fails because the latest release of pyocd is not installable via pip. See mbedmicro/pyOCD#442.

I suggest locking the pyocd dependency to a version that is now to least be installable, ie. version 0.12.0.

[2018-11-10 14:27] qianfan-Zhao opened #11281 "uart shell: ring buffer usage bug"
I had test http_server example on frdm_k64f/custom SAME70 board, Zephyr board has the default ipv4 config: 192.0.2.1, the host(ubuntu) computer's ip address is 192.0.2.2.

1. After power up, ping Zephyr from Ubuntu successful.
[code]

2. Ping Ubuntu from Zephyr, failed.
[code]

(Please notice the **S** in Send a ping**S**g to, I don't know where it comes)

3. Ping Zephyr from Ubuntu again, failed.

[2018-11-10 14:59] qianfan-Zhao commented on #11281
I had try revery commit: [59c23b1] 'shell: wildcard active by default' on the laster master branch(45f0917)

1. After power up, ping Zephyr from Ubuntu successful.
[code]

2. Ping Ubuntu from Zephyr, failed.
[code]

3. Ping Zephyr from Ubuntu again, failed.

Use bisect to check commit again after revert commit [59c23b1]. Next is the git bisect log:

[code]

[2018-11-10 16:44] RonAmihai commented on #10952
Erasing the device's flash using nrfjprog utility (-e / --eraseall) actually solved this issue for us.
Thanks for helping anyway.

[2018-11-10 16:44] #10952 closed

[2018-11-10 16:44] RonAmihai commented on #11198
Erasing the device's flash using nrfjprog utility (-e / --eraseall) actually solved this issue for us.
Thanks for helping anyway.

[2018-11-10 16:44] #11198 closed

[2018-11-10 17:38] #11078 closed

[2018-11-10 17:39] #7092 closed

[2018-11-10 17:45] #11121 closed

[2018-11-10 19:39] dbkinder commented on #11047
This is a deliberate configuration of doxygen, added by PR #6280

@lpereira @nashif The assumption was that symbols with leading underscores "shouldn't be used by applications, as there's no guarantee they will be available in subsequent versions or maintain
API and ABI compatibility.  Is this still true and the desired behavior of our API doc processing?

[2018-11-10 21:13] henrikbrixandersen commented on #11279
Thanks! This was fixed via #11280. Closing.

[2018-11-10 21:13] #11279 closed

[2018-11-10 21:17] henrikbrixandersen commented on #6496
I suggest we close this issue and track the feature request (along with use cases) in #2746.

[2018-11-10 21:36] andyross commented on #11182
Spent some time on this this morning.  I think I'm comfortable putting the RISC-V bug to bed.  It doesn't happen anymore.  The combination of the new (still unmerged) driver and "qemu hardening" seems to have done the trick.  I've done many santiycheck runs over qemu_riscv32 and haven't seen this once.

And I have a proximate cause for the Xtensa crash: the timer interrupt is firing very early, be

[2018-11-10 21:55] henrikbrixandersen commented on #10678
I can confirm that the timeout issue was fixed in #10934. Can this issue be closed?

[2018-11-11 01:39] qianfan-Zhao commented on #11281
I had check the tag: v1.13.0 is a good commit, and the latest commmit(45f0917) on master is a bad commit.
Check the first commit which broke net by using 'git bisect', next is the log:

[code]

[2018-11-11 02:59] qianfan-Zhao commented on #11281
I had disabled CONFIG_UART_INTERRUPT_DRIVEN, the 'net ping' worked again.

[2018-11-11 03:00] qianfan-Zhao commented on #11202
#11281 it's the same thing as this one

[2018-11-11 10:33] qianfan-Zhao commented on #11250
samples/subsys/shell/shell_module example has the same issue when the 'device' command executing.

The fault messasge and bisect track as same as this one.

[code]

[code]

[2018-11-11 12:33] qianfan-Zhao commented on #11250
Besides can we provide a way to report bug on NULL dereference at runtime?

[2018-11-11 13:54] raveslave commented on #7331
I'd like to get in touch with someone that's got experience implementing similar things that could be up for making this happen.

Except for the sync itself, I believe we need an autonomous handover to ensure stability even if the device acting as master leaves. _ref: IEEE 1588 BMC (best master clock)_

[2018-11-11 16:46] andyross commented on #11182
Should have started looking yesterday.  Didn't need much searching, it was pretty obvious and even called out in comments that the code was explicitly enabling interrupts (because the original idea was to enter an "app" that expected interrupts to be set up, AFAICT).  Fixes the crazy crashes on boot in CI.

I still see a few (0-2 per run) of the spurious timer asserts on xtensa, both with master a

[2018-11-11 19:53] #11250 closed

[2018-11-12 01:57] qianfan-Zhao commented on #11281
The usage of ring_buffer in funtion uart_rx_handle is wrong.
ring_buf_put_claim will return 0 if the tail is equal ring buffer's size.

[code]

For most SoC's(without hardware FIFO) drivers implements, they always save the
received uart byte to ring buffer and return 1, doesn't check the 'size' param
in uart_fifo_read even if it is zero.

Such as the implements in usart_sam.c:
[code]

The save act

[2018-11-12 05:51] spoorthik commented on #3668
@andrewboie @andyross: Do we still have the mentioned scenario for x86 and ARM only? Would you please provide some background on this issue with respect to current scheduling mechanisms?

[2018-11-12 06:19] vonhust commented on #11129
So, how about the case TICKLESS_IDLE?  When TICKLESS_IDLE is configured and TICKLESS_KERNEL not configured,  z_clock_set_timeout should not be noop.

For ARC, in arcv2_timer0.c,  z_clock_idle_exit and _timer_idle_enter should be a couple. If z_clock_set_timeout is a noop, it means _timer_idle_enter will not be called.

Then the call to z_clock_idle_exit  in interrupt handling will cause problem.

[2018-11-12 07:10] m-nilsson opened #11296 "Possible ways to implement clock synchronisation over BLE"
We need to implement precision clock synchronisation between two Nordic NRF52 devices. I have seen the example using the Timeslot API with the Nordic SDK. Is there some similar technique that can be used with Zephyr? I am thinking that there might be even more possibilities to achieve something like that with the Zephyr infrastructure since there are no closed source involved.

For example, if the

[2018-11-12 08:47] nniranjhana commented on #8869
@pfalcon

Shell module works good for me on QEMU, able to use all modules which are enabled.

Yes, it does persist with the latest commits on Zephyr and with the newest version of Zephyr SDK too. Again, if I add another `console_putchar(c)`, it echoes back, else it doesn't.

Some info on my environment, and console log:

[code]

_**Zephyr SDK version**_ 0.9.5
_**Linux version**_ 4.16.11-100.fc26.x

[2018-11-12 09:34] cvinayak commented on #10678
Fixed by #10934

Thank you @henrikbrixandersen

[2018-11-12 09:34] #10678 closed

[2018-11-12 10:06] pfalcon commented on #10512
Ok, I assume there's no criticism of "tty" naming. So, https://github.com/zephyrproject-rtos/zephyr/pull/11298 splits tty-related functions to header tty.h header.

@nordic-krch: Ping on responses to the proposals above on implementation of features requested by you.

[2018-11-12 10:07] markusr commented on #11262
It determined that this is a hardware problem with the Raspberry Pi 3 serial port. I tested a PL2303<-->USB instead and it worked without a problem.

[2018-11-12 10:07] #11262 closed

[2018-11-12 12:31] ekarlso opened #11301 "KW41Z crash on echo apps (ieee802154)"
KW41Z with Echo Server|Client hard faults

**To Reproduce**
Just flash a kw41z with echo-server or client @ master zephyr and look at console
cmake -GNinja  -DBOARD=frdm_kw41z -DCONF_FILE="boards/frdm_kw41z.conf prj.conf" ../
cp zephyr/zephyr.bin /media/<user>/FRDM-KW41ZJ/

**Expected behavior**
Should work out of the box.

**Impact**
Showstopper to test 802154 between devices on KW41Z

**Toolscha

[2018-11-12 12:32] ekarlso commented on #11301
cc @MaureenHelm

[2018-11-12 12:40] Vudentz commented on #11206
Usually there is no problem to respond to a regular when BT_GATT_CHRC_WRITE_WITHOUT_RESP is set, in fact there would be hard to map an error to say only write without response is supported, and even if there would be an error like that the result would probably be a retry with write without response so I wonder what is the benefit to disallow something like that.

In case of write without response

[2018-11-12 13:17] #10448 closed

[2018-11-12 13:42] #11248 closed

[2018-11-12 13:42] #11253 closed

[2018-11-12 13:42] #11254 closed

[2018-11-12 13:42] #11257 closed

[2018-11-12 14:51] andyross commented on #11129
Check the new drivers in #10556, hopefully that will be clearer.   I think the problem is that you're looking at only half the change (the API refactoring) and getting confused about the shim layer needed to make the older drivers work.

[2018-11-12 14:55] andyross commented on #3668
I can't speak to existing test coverage (except that I don't remember hitting a case like this), but FWIW: in the new implementation, there is only one timeslice counter (well, strictly one per CPU).  It's not owned by a thread and thus the posited edge case can't happen.  It gets reset any time a new thread gets scheduled for any reason.  Can't hurt to have more test cases though.

[2018-11-12 16:55] erwango opened #11310 "Wifi scan crashes on disco_l475_iot1"
**Describe the bug**

When running samples/net/wifi with disco_l475_iot1, crash happens.

**To Reproduce**
Steps to reproduce the behavior:
0. cd samples/net/wifi
1. mkdir build; cd build
2. cmake -DBOARD=disco_l475_iot1
3. make
4. See error

**Expected behavior**
Scan is performed and returns list of available APs

**Impact**
Prevent use of Wifi on board

**Screenshots or console output**
[code]

[2018-11-12 16:56] erwango commented on #11310
@loicpoulain, was working recently but crashing now, can you have a look?
Thanks

[2018-11-12 18:21] chris-makaio opened #11312 "Please clarify on BT L2CAP"
Dear all,
Documentation for L2CAP is rather short and it seems as there are no samples.
Trying to move from Notdic‘s SDK I really have trouble understanding Zephyr‘s BT stack (beyond the basic old-school GATT peripheral and central ping pong).
Is there any documentation (apart from the autodocs) I am missing here?

[2018-11-12 18:33] pfalcon commented on #10972
Hopefully it's answered.

[2018-11-12 18:33] #10972 closed

[2018-11-12 18:51] #11182 closed

[2018-11-12 23:53] gurpreetz commented on #9509
Disabling mass storage on my JLINK didnt seem to help.
This is on the nrf52dk.

[code]

Meanwhile over RTT on the dev board:
[code]

The gotrace:
[code]

[2018-11-13 03:10] andrewboie commented on #11202
Minimized, but nonzero?

[2018-11-13 06:45] nordic-krch commented on #11202
@GAnthony regarding:

see #11320

[2018-11-13 06:48] #11173 closed

[2018-11-13 06:56] jarz-nordic commented on #11202
@GAnthony
Similar problem we had in Nordic UARTE driver. What I did to have TX interrupt active was to send 0 lenght message during driver initialization.

[2018-11-13 08:01] finikorg opened #11321 "usb: hid: Certification failed for GetDescriptor(HIDDescriptor) request"
[code]

[2018-11-13 08:43] pfalcon commented on #11207
-ENOSYS If driver has not implemented this function
-ENOTSUP If device does not support given configuration.

Note that this doesn't correspond to how "driver multiplexor APIs" (spi, i2c, etc.) currently work. If that is to be changed, it should be changed consistently for all APIs. (Low priority IMHO considering all other tasks we have.)

[2018-11-13 08:55] pawelzadrozniak commented on #11171
I was able to recreate it.
The same binary works fine on nRF52DK. Could it be the board issue?

[2018-11-13 09:07] #7659 closed

[2018-11-13 09:08] #7654 closed

[2018-11-13 09:49] nordic-krch commented on #11281
@qianfan-Zhao

It may return 0 only if ringbuffer is full. That case is in fact not handled here. Overrun handling must be added here.

regarding:

If this is true then it's a bug in ring buffer. In that case it should wrap and return pointer to the start of the buffer. I will check it.

[2018-11-13 10:10] qianfan-Zhao commented on #11281
Unfortunately the ring buffer will not wrap automatilly, it will wrap when ring_buf_put_finish.
Please check the ring buffer APIs

[2018-11-13 10:21] qianfan-Zhao commented on #11281
@nordic-krch

I think it is not a bug. It is such a design.
ring_buf_put_claim want provide a memory buffer continuous address, to make sure the DMA can works.

[2018-11-13 11:03] tbursztyka commented on #11281
if it's by design then it's not documented, like at all.

[2018-11-13 11:41] #11321 closed

[2018-11-13 11:53] wdhpawa commented on #11206
The BT spec (core v5.0, vol 3, part G, section 3.3.1.1 "Characteristic Properties") states:

can be used, [...]. If the bits defined in Table 3 5 are set, the action described is
permitted.

In my view this clearly implies that if the bits are NOT set, the corresponding actions are NOT permitted.

For the properties in question table 3.5 says:

In my view the above clearly implies that there is on

[2018-11-13 12:17] jukkar commented on #11275
This crash is most probably related. I am seeing this message from samples/net/gptp when running the app in frdm_k64f
[code]

[2018-11-13 12:21] nordic-krch commented on #11281
@qianfan-Zhao , are you using ring buf size = 1?

[2018-11-13 12:29] pfalcon commented on #11301
cc @dleach02

@ekarlso, it always makes sense to include the exact HEAD revision of the master you used.

[2018-11-13 12:31] pfalcon commented on #11301
And people will start with looking at this bug, and it doesn't provide enough info on what happens...

[2018-11-13 12:31] qianfan-Zhao commented on #11281
@nordic-krch No I used the default value in Kconfig.

[2018-11-13 12:33] carlescufi commented on #11206
@wdhpawa

Thanks for the extensive analysis. A couple of comments:

I believe that sentence, "if a write operation is not permitted" refers to permissions, not properties. That's why it says "write operation" and not "write request operation".

That is an application error code, so I am unsure whether the stack itself should reply with it.

That said, I am not against actually implementing this. I

[2018-11-13 12:39] carlescufi commented on #11206
Also since there seems to be a bit of contention here regarding the implementation of the spec, I would like to page @holtmann to get his point of view.

[2018-11-13 13:07] rmstoi opened #11329 "net: arp: Zephyr replies to multicast address cause of malfored ARP request"
Zephyr replies to IPv4 packets from multicast address after reception of ARP Request with Hardware and Protocol Sender Address set to multicast. This ARP Request should be dropped instead and translation table should not be updated.

**Note: Zephyr sets source IP address to 0.0.0.0 in all of the responses (TCP, UDP, ICMP).**

[ipv4_arp_multicast_udp.pcap.gz](https://github.com/zephyrproject-rtos/z

[2018-11-13 13:50] pfalcon opened #11333 "sockets: Implement select() call"
Now that sockets are backed by file descriptors, i.e. we know they're small integers, we can implement select().

[2018-11-13 13:51] pfalcon commented on #11333
@GAnthony, @rlubos : FYI

[2018-11-13 13:51] wdhpawa commented on #11206
@carlescufi
The "Write Request Rejected" (0xFC) error code is actually not an application error, it is a "Common Profile and Service Error Code". Application errors are in the range 0x80-0x9F. So I think it is appropriate to use this code.

Yes, it is unclear what the spec means by "permitted" in the various sections, but my point is that the operation in question is definitely not allowed, so it

[2018-11-13 13:54] pfalcon commented on #11333
Actually, all this time everyone (?, perhaps just me) assumed that select, well, FD_SET, would need to be implemented in a classic (?) way using bitsets. Ahem, it doesn't have to! We could implement it long ago, with FD_SET backed by struct pollfd[]. Of course, then FD_ISSET() would need to loop over this array, which is O(n), but given that the array would be small anyway, nobody would care. And

[2018-11-13 14:06] carlescufi commented on #11206
@wdhpawa

You are right, my mistake, apologies.

While I do agree with you that the operation is not allowed as per various sections of the GATT spec, I would argue there is enough uncertainty about the role the stack needs to play in enforcing this to make it configurable as I described above.

[2018-11-13 14:13] Vudentz commented on #11206
@carlescufi

If that is an application error code that normally comes from the application, since that was introduced later I suspect that it is exactly to handle the specific case where the stack support certain operation but the application doesn't.

So Im thinking on adding another flag BT_GATT_WRITE_FLAG_NO_RSP so the application will be able to distinguish between write operations and in case

[2018-11-13 14:13] finikorg opened #11336 "usb: msc: Certification test failed for invalid string"
[code]

[2018-11-13 14:17] #11226 closed

[2018-11-13 14:17] carlescufi commented on #11206
That is exactly how we solved it at Nordic (at least a while back), so I am in favor of this solution. The only reason I suggested `CONFIG_BT_GATT_ENFORCE_CHAR_PROPS` is that there seems to be a push towards having the stack handling this automatically. Personally I still think this is better handled at the application level, as I wrote originally.

[2018-11-13 14:18] wdhpawa commented on #11206
Well, making it configurable is always the safe route, and has the advantage of allowing application specific hacks if needed, so I'm fine with that.

[2018-11-13 14:21] wdhpawa commented on #11206
@Vudentz
The Generic Access Service you refer to is actually an area where we are probably going to need more configurability, because right now the optional features appear to be quite hardcoded in the stack. But that's a separate issue.

[2018-11-13 14:29] wdhpawa commented on #11206
@Vudentz
The Generic Access Service code you linked to actually looks much more configurable than what I saw previously, so maybe we're fine there after all. :-)

[2018-11-13 14:36] #10312 closed

[2018-11-13 14:47] StefJar opened #11339 "zephyr stm32f4 startup freezes at startup in PRINT_BOOT_BANNER() #stm32 #uart #boot"
After pulling latest commit(7c290b053df8e9b973f6436198f3a89902a1e977), the startup hangs when printing chars to the UART.

Call stack trace:
[code]

[code]

[code]
I am using the a slightly different version of the

with following dts changes:

[code]

[2018-11-13 15:12] tbursztyka commented on #11301
@pfalcon because this not more info that what he says in the beginning "hard faults". Directly. I tried and there is nothing but the hard fault.

[2018-11-13 15:39] himanshujha199640 commented on #9893
Does this MISRA-C rule open opportunities for enabling `-Wimplicit-fallthrough` to the standard
list of warnings ?

AFAIK, Coverity produces a lot of bugs tagged "Control flow Issues" due to the fallthrough warnings. And
more often they are actually *real* bugs.

OTOH if we expect that the behavior is desired/intentional we mark the switch case as "fall through" stringwhich compiler detects/reads

[2018-11-13 16:04] erwango commented on #11339
@StefJar

What was your previous sha1?
What board are you using?

[2018-11-13 16:11] StefJar commented on #11339
@sha1 sorry I don't know the exactly one. Guess the last form Friday(09-11-2018).
@board: a custom board. It's comparable to the nucleo_f412zg BUT I redirected the console form uart3 to uart1. these uart1 has a different  pin use. That's why I added the usart1_pins_d node to the pin control
@PRINT_BOOT_BANNER(): this prints the boot message of zephyr os like version & hash

[2018-11-13 16:14] StefJar commented on #11339
Maybee commit : bd7387947e5ffc5f9bdc02064a4ad66cdde263f5
or bd7387947e5ffc5f9bdc02064a4ad66cdde263f5 breaks the old powe up sequence

[2018-11-13 16:56] derchrismakaio opened #11343 "Clarification of LOG_MODULE_REGISTER placement"
I'm trying to implement a driver which needs to include net_if.h (because I want to use **struct net_if_api**)
net_if.h includes net_core.h which has (ifdef NET_LOG_LEVEL) _LOG_MODULE_REGISTER(LOG_MODULE_NAME);_

When I now try to include my own header in my implementation .c file, I can't do a _LOG_MODULE_REGISTER(app, 4);_
as it will give redefinition warnings.

Here's the compiler output:
`erro

[2018-11-13 17:03] jarz-nordic commented on #11343
I see sys_log header. It looks like legacy code. @nordic-krch may you please take a look?

[2018-11-13 17:04] derchrismakaio commented on #11343
ah sorry, that was a copy & paste mistake, I'll edit the sources

[2018-11-13 17:16] derchrismakaio commented on #11343
so, it looks like net_core.h depends on #define LOG_MODULE_NAME

If I change
[code]

to

[code]
(note: removed LOG_MODULE_REGISTER as it is in done in inherently included net_core.h)

it's working fine, but all net-specific logging will inherit my LOG_MODULE_NAME "my_driver", I guess

[2018-11-13 18:07] andrewboie opened #11348 "i2s_configure() can't be called from user mode"
Currently, i2s drivers cannot have their configuration function i2s_configure called from user mode. This is because the configuration struct passes in a struct k_mem_slab pointer which then gets used by the driver. There's no way to guarantee that this memory slab is valid.

We need some way to configure the driver without having user mode provide important private data structures to the kernel,

[2018-11-13 18:47] galak commented on #10537
@mike-scott where are we on this high priority issue?

[2018-11-13 21:10] ioannisg commented on #8018
Pull-request for non-overlapping MPU regions: #11346

[2018-11-13 21:58] ceolin commented on #9893
We can, enable the warning is a good thing once we fixed it because will avoid errors be introduced. Regarding `__attribute__ ((fallthrough)); ` I particularly a big fan. We want to be, as much compiler agnostic, as possible. Also this will still need a deviation. That's being said, we can discuss it more.

[2018-11-13 21:58] ceolin commented on #9893
btw, we can turn it on once we have fixed the issues to avoid break CI

[2018-11-13 21:59] ekarlso commented on #11301
@pfalcon basically what @tbursztyka says, it goes nuclear and faults (Nothing really useful in the console)

[2018-11-13 22:02] ekarlso commented on #11301
@mnkp @chrta Do we have a overview of what MCU's support DCDC?

[2018-11-13 22:11] #10609 closed

[2018-11-13 22:30] mike-scott commented on #11343
Apparently there is also confusion on the order of #define LOG_LEVEL vs. #include <logging/log.h>: https://github.com/zephyrproject-rtos/zephyr/pull/11352

[2018-11-13 22:45] mike-scott commented on #10733
Fix was merged.

[2018-11-13 22:45] #10733 closed

[2018-11-13 22:45] mike-scott commented on #10537
@galak @carlescufi @cvinayak retesting on today's master.  Will update shortly.

[2018-11-14 04:09] qianfan-Zhao commented on #10917
I will do it

[2018-11-14 04:31] nashif opened #11356 "Move tests/subsys/fs/multi-fs/src/test_fs_shell to new shell"
tests/subsys/fs/multi-fs/src/test_fs_shell still using old shell.

[2018-11-14 07:09] nordic-krch commented on #11343
This is rather an issue in net subsystem: usage of `LOG_MODULE_REGISTER` in header which is frequently included by API headers. There are a log of workarounds for that in the code (example https://github.com/zephyrproject-rtos/zephyr/blob/9d14874db18e0d5b87bb4af748e96bda474a4417/subsys/usb/class/netusb/function_rndis.c#L15). @jukkar do you plan to fix that?

[2018-11-14 07:31] apodogrocki commented on #10917
@qianfan-Zhao I've already started working on that. If you would like you can think of adding _window mode_ to the Independent Watchdog driver. It has never been activated, but can be useful. That probably requires separate PR.

@erwango @galak There is also a question how to provide support for System Window Watchdog. All watchdog devices are named "WATCHDOG_0" at the moment. In case of STM32 can

[2018-11-14 07:36] b0661 opened #11357 "extract_dts_includes.py causes build error on cell name detection"
**Describe the bug**

Within extract_cells() in exrract_dts_inlcudes.py the default for an unavailable cell name is an empty list, whereas a  given name is a string. Leads to a build time error if the name is given because later on a list is expected.

[code]

Furthermore if a device has several cell related properties the cell name definition in the yaml binding clashes because the cell names are

[2018-11-14 07:38] tbursztyka commented on #11301
Thanks @MaureenHelm for looking into this. This is indeed a surprising issue since all attributes in this struct are all pointers thus 4 bytes each so I would have assumed linker would not have much to do here for alignment.

[2018-11-14 08:56] erwango commented on #11339
ok, I think I got the issue.
Looks like a clock configuration issue in dts.
In dts/arm/st/f4/stm32f4.dtsi, can you try the following change:
[code]

[2018-11-14 09:46] finikorg opened #11359 "usb: msc: Certification fails for Get MAX LUNs"
MSC should check USB input parameters.

[code]

[2018-11-14 09:48] SebastianBoe commented on #11301
I'm not aware of any changes that can affect this. A git bisect from someone with a KW417 (or any M0 board with enough RAM) would be helpful.

[2018-11-14 09:48] StefJar commented on #11339
I can confirm that the clock change to
clocks = <&rcc STM32_CLOCK_BUS_APB2 0x00000010>;
solves that issue

[2018-11-14 09:54] StefJar commented on #11339
I checked the other uart in my def file
its affected as well

[2018-11-14 11:48] derchrismakaio commented on #11343
I'm not 100% sure but it looks like this is really a critical bug because since I made my changes I know get BUS FAULTS on some occurences of LOG_DBG

[2018-11-14 11:51] mnkp commented on #11301
I may have found the root cause. As we know any variable or constant of type `struct ieee802154_radio_api` may be placed at an unaligned memory address (even if all the members are aligned at 4 bytes).

When we access the API via the predefined inline functions
[code]
the access will be slow but should work. However that does not hold true for the first field `struct net_if_api iface_api;`. As the

[2018-11-14 12:45] galak commented on #11357
Can you give an example that shows the issue?

[2018-11-14 13:34] galak opened #11368 "Convert pwm_nrf5_sw to device tree"
Convert the pwm_nrf5_sw driver to utilize device tree.

[2018-11-14 13:36] galak commented on #11368
By converting this driver we can remove explicit inclusion of <board.h> in samples/boards/microbit/sound & samples/boards/microbit/pong, and samples/bluetooth/mesh_demo

[2018-11-14 13:59] erwango opened #11373 "Move STM32 RTC to new counter API"
**Is your feature request related to a problem? Please describe.**
Move STM32 RTC driver to new counter API (cf #8340)

**Describe the solution you'd like**
Could look at https://github.com/zephyrproject-rtos/zephyr/pull/11347 as example of similar work

[2018-11-14 14:08] galak commented on #11373
@ydamigos Is this something you might have some time to look into doing?

[2018-11-14 14:14] galak opened #11375 "Enhance DTS yaml support to handle device being on different bus types"
Currently we have sensors that can be connected over either I2C or SPI.  To handle this we have different compatible names like ("st,lsm6dsl-spi" & "st,lsm6dsl").  We really should only have a single compatible for the device ("st,lsm6dsl").

[2018-11-14 14:30] qianfan-Zhao commented on #10917
Currently the name of watchdog are defined in Kconfig. Based on the comments in #11331 we should remove the Kconfig options and make DT define the name of Kconfig.

Others SoC such as NRF has this lines in dts_fixup.h:
[code]

If there has 2 watchdogs, such as IWDG and WWDG, i think it OK to define the difference name in DT:
[code]

[2018-11-14 15:37] derchrismakaio commented on #2920
@carlescufi I think it is - at least if this is about the peripheral clock.
I see about 400uA in idle which, acording to nordic devzone, seems to be the current draw of the peripheral clock

[2018-11-14 15:40] carlescufi commented on #2920
@derchrismakaio thanks for confirming.
@cvinayak is this something you need to do, or can we assign this to someone else?

[2018-11-14 16:45] apodogrocki commented on #10917
@qianfan-Zhao Ok, I see that you have better insight in the current Zephyr code than me. So maybe it is correct that you should take care of this task. After all it seems that @galak has already made a decision.

[2018-11-14 16:49] galak commented on #10917
Sorry, I got confused by the thread, and so I assigned it to @qianfan-Zhao.  I'm happy for either of you guys to get this driver updated.  I don't think @apodogrocki was a collaborator of the project, so couldn't add you :).

[2018-11-14 17:34] ydamigos commented on #11373
@galak My time is limited but I'll give it a try,

[2018-11-14 18:40] dleach02 commented on #11301
while I agree that the structure definition doesn't need the __packed directive I don't quite understand how its presence affects the alignment of instances of this structure? Is this because the __packed directive causes GCC to believe the natural alignment of the structure is 1 byte aligned?

The __packed directive has been on this structure for a long time so why is this just now showing up?

[2018-11-14 19:01] pfalcon commented on #11301
Source code stays, compilers come and go, acquiring crazier and crazier features...

[2018-11-14 20:38] andrewboie opened #11383 "tests/drivers/i2s/i2s_api failing on sam_e70_xplained"
**Describe the bug**
This test defines two suites, i2s_loopback_test and i2s_states_test. i2s_loopback_test passes, but i2s_states_test is failing:
[code]
This was undetected by CI due to an issue where if a test defines multiple suites, and the first suite to run passes, CI ignores the result of any subsequent suites.

**To Reproduce**
Build/flash the test on sam_e70_xplained, run on a board and

[2018-11-14 20:42] andrewboie opened #11384 "CI ignores result of multiple test suites in one test application"
**Describe the bug**
See #11383
This test defines two suites:

[code]

The second suite fails, but because the result of the first suite prints PROJECT_EXECUTION_SUCCESSFUL, CI stops looking at console output after that.

**To Reproduce**
See #11383 , this test is broken but our test reports are not capturing this test as failing on the board.

**Expected behavior**
ztest should only print success

[2018-11-14 20:44] andrewboie commented on #11384
Easy to fix, but might want to fix #11383 first else we'll start getting failures in our CI reports.

[2018-11-14 22:38] aurel32 commented on #11383
Bisection leads to that commit:
[code]

It looks like a bad interaction between the I2S driver and the logger. Reducing the log level to `inf` from `dbg` also makes the problem disappear.

[2018-11-14 23:17] andrewboie commented on #11383
in my testing, it seems that this test case is VERY timing sensitive, adding printks in various places in the test, or stepping through test functions in a debugger, can cause them to fail

[2018-11-14 23:31] aurel32 commented on #11383
At least for the `test_i2s_state_running_neg` case, the test is submitting regularly blocks to the I2S driver, and thus expect it to stay it run state. This is done from the main thread, with priority 0. Unfortunately the log thread has priority -2 and takes some time to complete, causing a buffer underrun.

A workaround is to reduce the priority of the log thread to 0.

[2018-11-15 04:54] #11336 closed

[2018-11-15 04:54] #11359 closed

[2018-11-15 06:41] rgundi opened #11390 "soc: intel_s1000: Fix the tests for dma and i2s drivers"
I2S and the DMA drivers have been modified quite a bit recently due to which the current tests for intel_s1000 fail. These tests need to be fixed.

Once these tests fail, they also block the other tests (i2c, gpio etc) as the system is kind of hung.

[2018-11-15 07:40] pfalcon commented on #8869
@nniranjhana: Thanks for re-testing and additional info!

Well, sorry, if you use that, then it's not supported for Zephyr. You should use qemu from Zephyr SDK 0.9.5, which is:

[code]

In https://github.com/zephyrproject-rtos/zephyr/pull/11314, I modify the console/echo sample to provide additional output to hint want may be wrong. When it's merged, I would ask you to re-run it.

[2018-11-15 07:45] tbursztyka commented on #11301
__packed is indeed useless here (probably a c/p left over when I started this api... hum). That said, the new behaviour is indeed suspicious, well I am going to send a patch removing this. Thanks @MaureenHelm and @mnkp for looking at this.

[2018-11-15 07:59] pdunaj opened #11393 "printk (RTT backend) from isr can deadlock the system"
**Describe the bug**
Calling printk from interrupt callback can deadlock the system if RTT backend is used.

The problem is caused by `SEGGER_RTT_LOCK` called from `rtt_console_out` (in `./drivers/console/rtt_console.c`). Console out is called directly from printk (see `_vprintk`) and can cause deadlock if called from an interrupt context.

**To Reproduce**
Steps to reproduce the behavior:
1. Buil

[2018-11-15 08:04] tbursztyka opened #11394 "GPIO API: Do not blindly re-install an already installed callback"
**Describe the bug**

gpio_add_callback() can be called as many times as possible on the same callback, and results in corrupting the cb list. (even worse: if the callback is already installed in another controller's cb list)

**Expected behavior**

gpio_add_callback() should return a relevant error code in case the callback is already installed.

**Impact**

Infinite cb loop

[2018-11-15 08:09] pdunaj commented on #11393
btw `CONFIG_LOG_PRINTK` should be usable workaround

[2018-11-15 08:42] loicpoulain commented on #11310
@erwango, just checked it, I thought #10372 was merged, but actually not. It's requested to prevent spi error.

[2018-11-15 08:49] tbursztyka commented on #11310
reopened #10372, sorry

[2018-11-15 13:28] koffes opened #11408 "device.c ignores return value from device init"
**Description**
A device driver may return an error on init, e.g. if the physical hardware is not found on the board.
Many of the existing Zephyr drivers return an error if something fails in their init function.
The device_init_fn() is passed to e.g. the DEVICE_AND_API_INIT macro.
At boot the kernel initialises these devices, and as I can see, the return value is ignored.

The decision to ignore

[2018-11-15 13:55] pdunaj opened #11409 "Device crash on BLE reconnection"
**Describe the bug**
Device crashes when host reconnects.

**To Reproduce**
Steps to reproduce the behavior:
Connect HID peripheral device to mobile (Android 8). Observe HID activity.
Turn bluetooth off on the host side. Do not restart peripheral. Re-enable BT on host and wait for re-connection. Observe crash.

**Expected behavior**
Crash should not happen.

**Impact**
BLE is unusable.

**Screensh

[2018-11-15 14:07] hersp commented on #10143
Currently I am actually  able to enable BT_SETTINGS when I remove the dependency of PRINTK in subsys/bluetooth/host/Kconfig.  (I ran sanitycheck)
Can the dependency be removed as it seems like it is actually not needed?

[2018-11-15 14:14] #11301 closed

[2018-11-15 15:22] dhananjaygj commented on #11409
@pdunaj We also observed the same issue during our development with windows 10 machine and my colleague @Olivier-ProGlove has created two PRs to solve this issue.
https://github.com/zephyrproject-rtos/zephyr/pull/11330, https://github.com/zephyrproject-rtos/zephyr/pull/11349.

Hope this solves your problem

[2018-11-15 16:11] pfalcon commented on #11408
See https://github.com/zephyrproject-rtos/zephyr/pull/10496

[2018-11-15 16:40] agansari opened #11416 "gPTP sample fails on frdm_k64f"
Interrupt is not correctly set for PTP in networking driver

To reproduce run gPTP sample on K64F, you will observe ISR 82 crash.

[2018-11-15 16:52] andyross commented on #7048
This should be fixed now.  Tickless is the default mode on almost all platforms (not ARC, Nios2 or Pulpino yet) and the test suite exercises these entry points extensively.   A quick test in the shell shows what I think you expect.

[2018-11-15 16:52] andyross commented on #7193
Fixed as of the big timer rework.  Tickless is default and all timeslicing tests pass with it enabled. Closing as I'm the one who opened it to begin with.

[2018-11-15 16:52] #7193 closed

[2018-11-15 16:56] andyross commented on #8257
I think we can close this.  The two kconfigs are still separate because multiple tests and the legacy timer drivers are written to assume they are different, but the kernel internals no longer care about the distinction.

At least in theory, it's possible to imagine a system where no arbitrary cycle-counted interrupt is available, but where it's able to sleep without that interrupt for long period

[2018-11-15 16:58] andyross commented on #9627
Timeouts got reworked in the timer rewrite.  Closing my own bug, because obviously I think my new implementation is better than the old one.

[2018-11-15 16:58] #9627 closed

[2018-11-15 16:59] andyross commented on #9904
Now that all the timer/timeout/tickless/driver work is merged, we should go back and retest all of these.  I **think** all of these bugs should be addressed now, but don't have access to all the hardware to check.

[2018-11-15 17:04] pfalcon opened #11417 "logging doesn't log, again"
"Again" is re: https://github.com/zephyrproject-rtos/zephyr/issues/11008

**Describe the bug**
Enabling CONFIG_NET_IPV4_LOG_LEVEL_DBG=y (likely also other similar loggers, at DEBUG level) doesn't lead to LOG_DBG() messages to be logged.

**To Reproduce**
Apply this patch:
[code]

Alternatively, it's available in branch https://github.com/pfalcon/zephyr/tree/logging-hosed-again .

Steps to reproduc

[2018-11-15 17:38] tbursztyka commented on #11416
Seems like the same as @jukkar reported here in #11275 but the issue you opened is actually targeting the right culprit.

[2018-11-15 17:38] andyross commented on #3651
The Pulpino driver is one of the few that didn't get rewritten during the timer rework, but looking at it it's a pretty standard cycle counter with comparator like almost all the others (e.g. HPET, nRF, Xtensa, RISC-V machine timer, but not APIC or ARM SysTick as those are werider).  Doing a driver would mostly be cut and paste of about 100 lines, I just don't have hardware to test with.

[2018-11-15 17:44] andrewboie commented on #11383
Why is the log thread such high priority? Shouldn't it be set to the lowest preemptible priority?

[2018-11-15 17:52] andyross commented on #9708
Should be fixed as of the timer rework.   I just retried this on a nrf52840_pca10056, with and without BOOT_DELAY=1000 and it was reliable across 20 tries each.

[2018-11-15 17:56] andyross commented on #9843
Should be fixed now.  Can't reproduce on nrf52840_pca10056 post-timer-rewrite.

[2018-11-15 17:57] nordic-krch commented on #11417
Try `log status` in shell. By default shell starts with INF level on all modules. If so enable DBG level for given module. Its an open item how if that level should be configurable. Actually, i discussed same issue today with Robert Lubos.

[2018-11-15 18:38] andrewboie opened #11421 "tests/drivers/i2s_api: test_i2s_transfer_tx_underrun fails on sam_e70_xplained in user mode"
**Describe the bug**
A particular test case for i2s fails on sam_e70_xplained when run in user mode, the output just hangs forever.

**To Reproduce**
Pull #11420
Remove the #if 0 block from tests/drivers/i2s/i2s_api/src/main.c so that the test case test_i2s_transfer_tx_underrun is executed in user mode
Observe that the test starts and hangs with no console output at all

**Expected behavior**
The

[2018-11-15 18:42] andrewboie commented on #11421
@ManojSubbarao do you have anyone who can look into this?

[2018-11-15 18:51] aurel32 commented on #11383
The problem is that with the default UART backend, the log is dumping the data to the serial port in polling mode. Therefore when the log thread kicks in, it doesn't yield until the log messages are fully dumped, which might take a few hundred of milliseconds, causing the I2S underrun.

When using the shell backend instead, with `CONFIG_UART_INTERRUPT_DRIVEN=y`, the problem disappears, as the log

[2018-11-15 19:34] pfalcon commented on #11417
Thanks for quick response.

But this is very, very wrong. It's nice that it's possible to gate logging level via some runtime-configurable level (I'd personally prefer such feature off by default to save memory). But if user enabled DEBUG level for some logger, they should get their messages. That means that this "current" value should be by default "dbg" instead of "inf".

[2018-11-15 21:15] #11421 closed

[2018-11-15 22:38] #10270 closed

[2018-11-16 00:22] ceolin opened #11425 "MISRA C Do not use recursions"
MISRA-C does not allows that a function call themselves, either directly or indirectly. Currently there is only one spot in Zephyr doing it  `_rb_walk()`.

rule 17.2

part of: #9552

[2018-11-16 00:42] andyross commented on #11425
MISRA exists just to make my life miserable, doesn't it?

(FWIW: I know of at least one other in mempool, though that one is proper tail recursion and maybe MISRA has an exception for that?)

Yeah, I'll take it.  FWIW: there is a non-recursive walker (a FOREACH kind of thing), but it's got significantly higher code size.

[2018-11-16 00:54] ceolin commented on #11425
it does feel to be in my shoes :)

Yeah, I'm sorry for that, I know that not using recursion here will increase and make it more complicated.

[2018-11-16 14:46] pfalcon commented on #11425
Everyone's.

I'm sure tail recursion doesn't exist in MISRA's world. And speaking seriously, C doesn't guarantee tail-recursive optimization, so... just don't tell anyone there's another func like that ;-).

[2018-11-16 15:03] dleach02 commented on #11301
My fear is that we don't really know what is causing this alignment problem and taking __packed off doesn't really explain why it fixes the problem. The result is that this problem may crop up someplace else..

[2018-11-16 15:40] agansari commented on #11416
Yes, it's the same issue

[2018-11-16 15:44] pfalcon commented on #11301
I for one 100% sure that it's caused by __packed and 100% sure that it was the right fix (in general, there should be no __packed on any structure which contains a pointer).

[2018-11-16 19:17] galak commented on #7462
Need to move the following out of boards/arm/frdm_k64f/dts_fixup.h into a shield for the FRDM_CR20A:

[code]

and:

in `boards/arm/frdm_k64f/frdm_k64f.dts`  Needs to move to `boards/shields/frdm_cr20a/frdm_cr20a.overlay`

[code]

[2018-11-16 19:54] mike-scott commented on #10537
Setup:
- 6x nRF52832-based devices used for the following tests
- Test outline: perform 9x passes of over-the-air tests for each device (that's a total of 9 x 6 = 56 OTAs for a completed test):
    1) test is run with the bluetooth commit in question reverted
    2) test is run with the bluetooth commit left in the source
- Tested yesterday's master branch @ commit 824d0bd854476cf22888bf942ea71f0c

[2018-11-16 21:20] mike-scott opened #11447 "Build error for lwm2m_client w/ modem overlay"
** Issue reproduction **
Using SDK 0.9.5 on Ubuntu 18.04:
[code]

Generates the following build errors:
[code]

**Expected behavior**
No errors. When building sample using modem overlay.

**Diagnosis**
#1 When I checked build/zephyr/include/generated/generated_dts_board.h I noticed I'm missing the uart entries for UART2 used for the modem.  Looks like we need to add status = "ok" to the DTS overla

[2018-11-16 21:50] gon1332 opened #11449 "checkpatch warns on .dtsi files about line length"
**Describe the bug**
As a git hook on pre-commit I have the checkpatch enabled.
I've put a new entry in `dts/arm/st/l4stm32l4-pinctrl.dtsi`, but as you can see, every entry
is above the line length limit. So was mine.

**To Reproduce**
Steps to reproduce the behavior:
1. add a new entry in such a file as described above
2. add .
3. commit -s
4. See error

**Expected behavior**
I expected to have s

[2018-11-16 21:58] mike-scott commented on #11447
So it looks like the use of "base_label" in the dt-binding stops the addition of DT_* to the property:
[code]

I have to wonder why these are being skipped?

[2018-11-16 22:39] mike-scott commented on #11447
I removed the base_label from the modem binding and adjusted the dts_fixup files in new patches here:
https://github.com/zephyrproject-rtos/zephyr/pull/11448

[2018-11-16 22:44] mike-scott commented on #10537
I turned on logging for:
CONFIG_SOC_LOG_LEVEL_WRN=y
CONFIG_ARCH_LOG_LEVEL_WRN=y
CONFIG_KERNEL_LOG_LEVEL_WRN=y
CONFIG_FLASH_LOG_LEVEL_WRN=y

Re-ran 9 passes and didn't see any errors.

I'll close this until I see this again reliably with more informatio.

[2018-11-16 22:44] #10537 closed

[2018-11-16 22:49] mike-scott commented on #10965
Did we come to any resolution for making placeholders for the gpio pins:
Hack extract_dts_include script or make a change to dtc?

I didn't see @galak weigh in on either.

[2018-11-16 22:51] galak commented on #10965
what do you mean by place holders?

[2018-11-16 22:58] mike-scott commented on #10965
I was explaining above, that along with the UART which can currently be configured in the shield dts as a placeholder like so:
[code]
This is "connected" to the K64F dts (exposes the fact that there's a serial on the arduino headers):
[code]

There are also 5 GPIO pins which need to be handled by the modem driver.  These are not so easy to export in this way.  @erwango had a fairly good idea illus

[2018-11-16 23:44] #11275 closed

[2018-11-16 23:46] MaureenHelm commented on #11416
Fixed by #11439

[2018-11-16 23:46] #11416 closed

[2018-11-17 11:34] kulve opened #11455 "cdc_acm uart_fifo_fill sample app doesn't comply with the documentation"
The documentation in
https://github.com/zephyrproject-rtos/zephyr/blob/master/include/uart.h#L378

says:

_This function is expected to be called from UART interrupt handler (ISR), if uart_irq_tx_ready() returns true. Result of calling this function not from an ISR is undefined (hardware-dependent). Likewise, *not* calling this function from an ISR if uart_irq_tx_ready() returns true may lead to u

[2018-11-17 16:01] vlotech opened #11457 "change SPI async interface to select alternative notification methods"
The current implementation of spi_transceive_async uses the k_poll_signal mechanism for informing the upper layer the asynchronous transfer is done. This forces the user of this spi interface to use or k_poll and become blocking again (with timeout) or need to poll the signal.

As most drivers with asynchronous behavior have (in zephyr but also other platforms) is to use a callback function. The u

[2018-11-17 17:56] KillerLink commented on #9922
So with new knowledge gained from a lot of trial and error, i rewrote my ieee802154 driver to the best of my knowledge, built upon the current state of zephyr. I now can not reproduce the errors / bug i previously did, which leads me to the assumption that it either has been fixed on the network stack side or on my driver side.
The propagation of the error from the stack upward works as expected n

[2018-11-17 17:56] #9922 closed

[2018-11-18 00:36] sathishkuttan opened #11460 "kernel: msgq: add tests for k_msgq_peek"
**Is your feature request related to a problem? Please describe.**
PR #11294 is being submitted to add a `peek()` API to kernel message queue. There is a set of tests for `k_msgq` APIs using Zephyr test framework. While I could implement the actual API, I could not understand the test framework and unable to add a test for this API. This submission is to assign the work to someone who understands

[2018-11-18 01:43] sathishkuttan opened #11461 "tests: intel_s1000: build error due to offsets lib"
**Describe the bug**
A commit (18f9bb0) in master is causing build failure for intel_s1000

**To Reproduce**
Rebase to commit 18f9bb0
Steps to reproduce the behavior:
In `tests/boards/intel_s1000_crb`
[code]
See error

**Expected behavior**
Build should succeed without errors.

**Impact**
Impacts work on #11390

**Console output**
[code]

[2018-11-18 01:47] nashif commented on #11461
which cmake version are you using?

`cmake --version`

[2018-11-18 01:54] sathishkuttan opened #11462 "tests: intel_s1000: flash test will fail or erase code when booting from flash"
PR #10988 added a test for flash device on Intel S1000 CRB.
The test erases a flash sector and writes a pattern and reads back.
The sector at 64KB is used for this write/read test.
`#define FLASH_TEST_REGION_OFFSET 0x10000`
In a setup where the code is in flash and the board boots from flash, the test will erase the sector where the code is.
Suggest using the last sector for the flash device for s

[2018-11-18 01:58] sathishkuttan commented on #11461
cmake version 3.8.2

`tests/boards/intel_s1000_crb/CMakeLists.txt` has
`cmake_minimum_required(VERSION 3.8.2)`

[2018-11-18 02:13] nashif commented on #11461
ok, I confirm this does not work with 3.8.2, looks like most of us are using newer versions.

Will revert the patch until we have found a way around this or updated minimum cmake requirement.

@kapedev @SebastianBoe fyi

[2018-11-18 03:43] nashif commented on #11460
@nniranjhana , @spoorthik can you please add a test for this new API?

[2018-11-18 04:42] nashif opened #11464 "where is PM_CONTROL_OS defined in Kconfig?"
Can't find where PM_CONTROL_OS is being defined in Kconfig. It is being used in

`subsys/power/Kconfig`

[2018-11-18 05:34] ulfalizer commented on #11464
Seems to be in `kernel/Kconfig.power_mgmt`.

The auto-generated Kconfig docs (and the menuconfig) list definition locations by the way: https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_PM_CONTROL_OS.html

[2018-11-18 07:47] diegosueiro opened #11465 "UART_INTERRUPT_DRIVEN broken on SOC_SERIES_IMX7_M4 and SOC_SERIES_IMX_6X_M4"
Shell module sample app was working without any issues on v.1.13 and after testing it on master no characters are not shown in the console.

After bisecting it I found that the issue came up with the [4962618](https://github.com/zephyrproject-rtos/zephyr/commit/4962618e5f7074be3b4fffc9c7db60b17761b6d7) commit.

Using the debugger I could track that the [uart_imx_isr](https://github.com/zephyrproje

[2018-11-18 08:46] diegosueiro commented on #11465
Some additional information.

When compiling with CONFIG_UART_INTERRUPT_DRIVEN=y the [UART_SetIntCmd](https://github.com/zephyrproject-rtos/zephyr/blob/master/ext/hal/nxp/imx/drivers/uart_imx.c#L258) appears this way in the zephyr.lst (attached) file:

[code]

As far as I understand the UART_SetIntCmd is calling the UART_SetDmaCmd and it shouldn't.

I don't have any idea how to investigate this. I

[2018-11-18 19:12] pabigot commented on #3079
Are there evolved plans to address this anywhere, or a schedule?  I see mention of a "story" but don't know where to look for it.

[2018-11-19 05:42] dleach02 commented on #11301
I understand. Just not sure why this just now popped up. Maybe this is a new compiler vs old compiler.

My understanding of packed structure is to pack the contents of the structure but this setting seemed to carry to the alignment of the whole structure which seems problematic. I did see a long running bug in the gcc bug database about packed and bus faults with unaligned access but it wasn't dir

[2018-11-19 08:45] erwango commented on #11310
Tested. Working, thanks!
Closing the ticket

[2018-11-19 08:45] #11310 closed

[2018-11-19 09:06] vlotech commented on #11457
I'm afraid I disagree with your statement.

First of all, (almost) all other I/O drivers use callback functions for the async behavior, except the SPI driver.
Secondly, I think you misunderstood my proposal. It's not the plan to put extensive processing of the SPI data in this callback, but just give the user the freedom to choose it's own way of informing the upper application layer. This could b

[2018-11-19 09:55] tbursztyka commented on #11457
It's true some APIs uses direct cb, but it's because of their domain of use: gpio is commonly used as "interrupts" in many drivers/kernel space, where you need to react locally quickly (and where obviously the cb is then super short), same for watchdog, i2c slaves (there is no async mode for master), same again for IPM, for counter as well, etc... In the end the more complex domains do no have thi

[2018-11-19 10:16] vlotech commented on #11457
I agree the responsibility for correct usage moves to the user which can be a problem.
Therefore I was adding an example cb function for the poll, and can extend it to other examples like semaphore.

Our use-case is communication with a RF transceiver within a high throughput network, where several SPI calls are needed for the actual transmission and reception to happen.
Some calls are pretty shor

[2018-11-19 10:29] tbursztyka commented on #11457
No existing implementation no, feel free to make a proposal.

I think k_poll_signal and k_sem would be the types to support (all generically handled in drivers/spi/spi_context.h). I don't see any point for k_fifo for instance, nor k_queue as spi would have nothing to put there, unless I am missing something here. Not sure about k_work either.

[2018-11-19 10:36] mandarcthorat1 opened #11480 "[Coverity CID :189743]Incorrect expression in /drivers/usb/device/usb_dc_sam.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_sam.c
 Category: Incorrect expression
 Function: usb_dc_attach
 Component: Drivers
 CID: 189743
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-19 10:36] mandarcthorat1 opened #11481 "[Coverity CID :189742]Program hangs in /drivers/usb/device/usb_dc_sam.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_sam.c
 Category: Program hangs
 Function: usb_dc_ep_write
 Component: Drivers
 CID: 189742
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-19 10:36] mandarcthorat1 opened #11482 "[Coverity CID :189741]Memory - illegal accesses in /samples/boards/reel_board/mesh_badge/src/reel_board.c"
Static code scan issues seen in File: /samples/boards/reel_board/mesh_badge/src/reel_board.c
 Category: Memory - illegal accesses
 Function: show_sensors_data
 Component: Samples
 CID: 189741
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-19 10:36] mandarcthorat1 opened #11483 "[Coverity CID :189740]Control flow issues in /samples/boards/reel_board/mesh_badge/src/reel_board.c"
Static code scan issues seen in File: /samples/boards/reel_board/mesh_badge/src/reel_board.c
 Category: Control flow issues
 Function: show_statistics
 Component: Samples
 CID: 189740
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-19 10:36] mandarcthorat1 opened #11484 "[Coverity CID :189739]Parse warnings in /subsys/usb/class/netusb/function_eem.c"
Static code scan issues seen in File: /subsys/usb/class/netusb/function_eem.c
 Category: Parse warnings
 Function:
 Component: Other
 CID: 189739
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-19 10:36] mandarcthorat1 opened #11485 "[Coverity CID :189738]Null pointer dereferences in /subsys/net/lib/dns/llmnr_responder.c"
Static code scan issues seen in File: /subsys/net/lib/dns/llmnr_responder.c
 Category: Null pointer dereferences
 Function: create_ipv4_dst_addr
 Component: Networking
 CID: 189738
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-19 10:36] mandarcthorat1 opened #11486 "[Coverity CID :186197]Parse warnings in /sanitylog/lpcxpresso54114_m4/samples/subsys/ipc/openamp/test/openamp_remote-prefix/src/openamp_remote-build/CMakeFiles/CheckIncludeFiles/HAVE_FCNTL_H.c"
Static code scan issues seen in File: /sanitylog/lpcxpresso54114_m4/samples/subsys/ipc/openamp/test/openamp_remote-prefix/src/openamp_remote-build/CMakeFiles/CheckIncludeFiles/HAVE_FCNTL_H.c
 Category: Parse warnings
 Function:
 Component: Other
 CID: 186197
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-19 10:36] mandarcthorat1 opened #11487 "[Coverity CID :185396]Incorrect expression in /sanitylog/v2m_beetle/tests/posix/fs/portability.posix/zephyr/kobject_hash.gperf"
Static code scan issues seen in File: /sanitylog/v2m_beetle/tests/posix/fs/portability.posix/zephyr/kobject_hash.gperf
 Category: Incorrect expression
 Function: _k_object_gperf_find
 Component: Various
 CID: 185396
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-19 10:36] mandarcthorat1 opened #11488 "[Coverity CID :183483]Incorrect expression in /sanitylog/v2m_beetle/tests/ztest/test/base/testing.ztest.verbose_2/zephyr/priv_stacks_hash.gperf"
Static code scan issues seen in File: /sanitylog/v2m_beetle/tests/ztest/test/base/testing.ztest.verbose_2/zephyr/priv_stacks_hash.gperf
 Category: Incorrect expression
 Function: _k_priv_stack_find
 Component: Various
 CID: 183483
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-11-19 10:36] rmstoi opened #11489 "net: arp: Zephyr replies to localhost address"
Zephyr replies to ARP Request with sender IP address set to localhost. This ARP Request should be dropped instead and translation table should not be updated

[arp-localhost.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2594851/arp-localhost.pcap.gz)

[2018-11-19 10:38] vlotech commented on #11457
Ok, I'll make a proposal and send the url in github.

[2018-11-19 10:46] zagor opened #11490 "setup_ipv6() treats event enums as bitmasks"
Here is a snippet from `subsys/net/lib/config/init.c`. I've added a comment in brackets after each assignment of `mask`, showing the result on the 'cmd' bits of mask:

[code]

After the statement `mask |= NET_EVENT_IPV6_ADDR_ADD`, the value of mask is unchanged, so is still `NET_EVENT_IPV6_DAD_SUCCEED`. The statement is thus a no-op.

After the statement `mask |= NET_EVENT_IPV6_ROUTER_ADD`, mask h

[2018-11-19 11:03] tbursztyka commented on #11490
It's by design, the "mask" isn't a strict bit mask. At that time there was a big urge to save as much memory as possible, and thus a combination of events can make events to overlap, it was considered less harmful to do so as it would just call the callback some time too many, instead of eating up memory on each and every event registered, knowing that these evens are anyway seldom. It's just up t

[2018-11-19 11:05] #11417 closed

[2018-11-19 12:06] Qbicz opened #11495 "Printk processed by logger overwrites each other"
**Describe the bug**
Enabled processing of printk messages by logger: `LOG_PRINTK=y`, with RTT backend, two subsequent printk calls without line break. Effect: second message is printed from beginning of the line and overwrites the first printed message.

**To Reproduce**
Steps to reproduce the behavior:
1. `LOG_PRINTK=y`
2. Use RTT backend to log
3. Whole log config:
[code]
3. `printk("1: %s ", "

[2018-11-19 12:10] Qbicz commented on #11495
FYI @nordic-krch @pdunaj

[2018-11-19 12:16] zagor commented on #11490
I don't see how it calls the event handler too many times, I see it using the wrong value. The calling code tries to set DAD_SUCCEED and ROUTER_ADD, but ends up sending NBR_ADD. There is no way for the event handler to find out that the caller tried to do something other than NBR_ADD.

And ipv6_event_handler() never tries to decipher the mask, it always compares full integer value:

[code]

If thi

[2018-11-19 12:31] Xenoamor commented on #9055
![image](https://user-images.githubusercontent.com/7109951/48707281-d2727a00-ebf6-11e8-97f3-7223c86b9c7e.png)
I've tried uploading the latest firmware via j-link but I keep seeing this. It doesn't appear to be working on Linux either
Any idea what might be happening?

[2018-11-19 12:45] mnkp commented on #11301
We didn't remove __packed because we noticed that it solved the issue but because it shouldn't be there in the first place. There is no use for this __packed, also as @pfalcon mentioned 'in general, there should be no __packed on any structure which contains a pointer'. The redundant attribute was overlooked during the code review.

With __packed not only structure fields but also the structure it

[2018-11-19 13:02] vlotech commented on #11457
see: https://github.com/vlotech/zephyr/tree/spi_composite_event
It currently contains the driver + interface changes only.
https://github.com/vlotech/zephyr/commit/b72fbdc0d1b4fdc58cee9974bfeecfe1db90b27f

If this is in line with the preferred solution, I'll go over the drivers making use of the SPI async interface and update those + create a pull request.

[2018-11-19 13:07] #11482 closed

[2018-11-19 13:07] #11483 closed

[2018-11-19 13:11] tbursztyka commented on #11457
seems like a good start.
Just about naming:
s/SPI_ASYNC_EVENT_/SPI_ASYNC_EVENT_TYPE_
s/POLL/SIGNAL
s/spi_async_config/spi_async_event

and void object, instead make:
union {
        void *object;
        struct k_poll_signal *signal;
        struct k_sem *sem;
        ... etc ...
};

also the comment: "type of pointer used for the async callback"
better "Type of object used for asynchronous signal

[2018-11-19 13:13] tbursztyka commented on #11457
As a PR, create it as an [RFC], I'll link then this PR to relevant people since it requires other relevant people to judge the change.

I believe the change should not be that hard on driver side, mostly a signature change. Biggest changes will be in drivers/spi/spi_context.h

[2018-11-19 13:19] stanislav-poboril commented on #11465
Hi @diegosueiro, I have verified that the UDOO Neo has the same problem on master while not having it on 1.13.

As for the UART_SetIntCmd() and UART_SetDmaCmd, the functions looks the same except for the name of one parameter. So compiler probably optimized it this way and it should be ok.

[2018-11-19 13:30] Xenoamor commented on #9055
![image](https://user-images.githubusercontent.com/7109951/48710015-149fb980-ebff-11e8-9288-09d84154cdb9.png)
Any idea why I can't get the hci_usb sample to work on this board? It appears to fail in the same way on both windows and linux. I'm uploading to the board via j-link and the blinky example works via this method

[2018-11-19 14:12] erwango commented on #11375
I'm surprised by this request.
Node for spi bus slave or i2c bus slave will have different properties, how can we make map this to single compatible ? (which  mean a single driver will have to be able to handle both)

[2018-11-19 14:35] #11357 closed

[2018-11-19 14:40] #10914 closed

[2018-11-19 14:41] galak commented on #10916
Taken care of with Merge of #11442

[2018-11-19 14:41] aurel32 commented on #11480
This is a false positive from Coverity. It assumes the `DT_USBHS_MAXIMUM_SPEED` is constant, while it comes from the device tree and therefore can take different values.

[2018-11-19 14:41] #10916 closed

[2018-11-19 14:43] aurel32 commented on #11481
This is a false positive from Coverity. `usb_dc_ep_mps()` can indeed return a negative value if the endpoint address is out of range, however the returned value is not used in that case.

Anyway I'll send a patch shuffling the code to get rid of this warning.

[2018-11-19 15:03] vlotech commented on #11457
[RFC] drivers/spi: implement a composite event for async callback #11500 pull request is created.

[2018-11-19 15:04] nashif opened #11501 "RFC: Improve CI and add more status items"
## Current Status

Currently all of our CI is run in one job and all results are reported via one status from shippable. We often have to wait more than 30 minutes to get a report that only complains about bad commit messages and such. Thos reports are hidden in  the over all report and not immediately visible to new comers and first time contributors.

## Proposal

- Move the compliance tests to

[2018-11-19 15:11] pabigot commented on #10857
The Nordic headers that provide the CMSIS structure declarations have things like:

[code]

which seems functionally the same as:

[code]

I too absolutely want to use the CMSIS structures to directly manipulate the peripheral registers, but I don't see how getting the base address of the peripheral instance to use from device tree instead of the vendor's header makes that difficult.  (Except in c

[2018-11-19 15:34] dleach02 commented on #11301
Fair enough. I've just never seen the packed modifier affect the alignment of the variable. Just the internal fields of the structure.

[2018-11-19 15:35] pdunaj opened #11502 "Delayed works are not scheduled when system is busy"
**Describe the bug**
Replicated with nrf52840, revision
We execute most of our things from workqueue thread via works.
During the latest testing we found out that when there is a lot of normal works, delayed works are not scheduled for execution.
Quick investigation shows that delayed work is never submitted to the workqueue until system has nothing else to do. I.e. when user stops generating hid

[2018-11-19 15:36] pdunaj commented on #11502
@pizi-nordic

[2018-11-19 15:49] galak commented on #11501
Can we add recheck-{checkpatch, doc, gitlint, etc.., all}?

[2018-11-19 15:57] pdunaj commented on #11502
it looks as if `rtc1_nrf5_isr` is not called when issue is seen

... and the at least once was randomly gone after some time... it could be that device went through the low power cycle but I am not sure and could not replicate it so far.

[2018-11-19 16:00] galak commented on #11375
All of the properties that aren't bus specific should be identical for the same sensor like st,lsm6dsl.  I assume that if a sensor supports connecting over I2C or SPI that everything else is the same.

[2018-11-19 16:32] erwango commented on #11375
Ok, so then, they can share a common "phy", but I don't how we can have common bus slaves.
So 2 bus slaves variants that share the same sensor phy node?

[2018-11-19 18:12] ceolin commented on #11501
Can we add soft checks ? We have some coccinelle scripts that would be
great to be checked. Some of them are testing MISRA-C rules and it'd
nice to have a report. The problem is that they run per file/directory
so we can have issues not related with the patch, also it can have
false-positives. Though, this still can be used to help on review.

[2018-11-19 18:45] pfalcon commented on #11465
@diegosueiro : Thanks for ticketing this issue.

[2018-11-19 19:10] pfalcon commented on #11465
Do you want to say that running with shell enabled, your board is effectively locked up, always spinning in calls to ISR?

[2018-11-19 19:11] pfalcon commented on #11465
@diegosueiro : Can you try `samples/subsys/console/echo`, and post the exact output you get (plus description of what happens if you type chars of course). Thanks.

[2018-11-19 19:19] diegosueiro commented on #11465
Yep.

[2018-11-19 19:44] diegosueiro commented on #11465
@pfalcon ,

The console echo is broken on v1.13.0. I think I should change the issue subject.

If I checkout at the commit ecc891b2 the console echo works fine.

[2018-11-19 20:01] #11202 closed

[2018-11-19 21:32] gon1332 opened #11513 "drivers: SPI NOR: Inconsistency with flash interface docs"
**Describe the bug**
The addition of SPI NOR flash driver introduced an incosistency with the docs for flash.
According to the docs, [flash_read](https://docs.zephyrproject.org/latest/api/io_interfaces.html?_CPPv310flash_readP6device5off_tPv6size_t#_CPPv310flash_readP6device5off_tPv6size_t)/[flash_write](https://docs.zephyrproject.org/latest/api/io_interfaces.html?_CPPv310flash_readP6device5off_tP

[2018-11-19 22:41] galak commented on #11501
I wondering about using something like https://lgtm.com/ for such checks.

[2018-11-19 22:53] #10948 closed

[2018-11-19 22:59] galak opened #11516 "Trademark not done correctly in Galileo board docs?"
https://docs.zephyrproject.org/latest/boards/x86/galileo/doc/galileo.html

Has references like 'Intel |reg| Quark'  Not sure if that is for a Trademark or something.

[2018-11-19 23:12] galak opened #11519 "Add at least build test for cc1200"
There doesn't appear to be anything in the code base that enables building CC1200 as part of any test or sample.  We should add something to make sure the driver builds and doesn't bitrot.

[2018-11-19 23:16] dbkinder commented on #11516
``Intel |reg| Quark |trade|`` is translated by Sphinx into Intel® Quark™ **except** if used in a link reference or a code-block.  I'll go back through the docs looking for these and fix.  Thanks for reporting.

[2018-11-20 02:36] #11516 closed

[2018-11-20 03:43] #11460 closed

[2018-11-20 05:40] pabigot commented on #10339
IMO resolving this will be a good improvement to Zephyr: having to describe output signals like LEDs as `GPIO_INT_ACTIVE_LOW` in DT is weird.  I also like the concept of leaving the choice of edge and level triggering to the application while active level is specified in the device-tree.

One point: Nordic hardware (GPIOTE) has resource-limited ability to detect edge transitions ("high accuracy"),

[2018-11-20 07:55] koffes commented on #11408
I will close this issue as it is fairy covered by #3079 and #10496.

[2018-11-20 07:55] #11408 closed

[2018-11-20 08:47] stanislav-poboril commented on #11465
@diegosueiro Yes and I think it is OK. The two functions are identical, so it is enough to branch the execution from `UART_SetIntCmd()` into `UART_SetDmaCmd()` function without preparing the function parameters and adjusting a call stack. The compiler probably does this to minimize the code size.

[2018-11-20 10:21] lemrey commented on #9055
Hi @Xenoamor, on this board the default peripheral used for HCI over UART is a UARTE peripheral. At the moment we are fixing an issue in the UARTE driver which is preventing the hci_uart sample to work as intented. Could you please check if it works any better with this patch https://github.com/zephyrproject-rtos/zephyr/pull/11475 ?