[2022-09-22 21:26] perezpri opened #50562 "RFC: AP Power Sequence Driver"
## Introduction

An Embedded Controller (EC) is essentially a microcontroller installed on a mobile PC platform that performs important system level operations such as: fan control, thermal measurement, LED indication toggling, and communication ports enablement, among others.

One of the key roles of EC is to monitor power rails and supply Application Processor (AP) with required signaling to dri

[2022-09-22 22:02] stephanosio commented on #50562
Why does this need to be part of the upstream Zephyr?

Should it not be part of the Embedded Controller firmware "app"?

[2022-09-23 00:17] mm40 opened #50565 "Fatal error after `west flash` for nucleo_l053r8"
**Describe the bug**
I've been following the [getting started guide](https://docs.zephyrproject.org/latest/develop/getting_started/index.html), and everything went well until the `west flash` command. That command fails with a fatal error.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? *nucleo_l053r8*
 -

[2022-09-23 00:27] cvinayak commented on #50432
Thank you, as always I need to get this reproduced at my side, hope I get to identify the issue today.

[2022-09-23 02:24] mengxianglinx commented on #49656
Thank you @cfriedt , sure, run this test case with "--retry-failed 10" it definitely pass, but "--retry-failed 3" it doesn't always pass.
So if "--retry-failed 10" is acceptable for daily testing, it could be a solution.

[2022-09-23 02:51] mengxianglinx opened #50567 "Passed test cases are reported as "Skipped" because of incomplete test log"
**Describe the bug**
Passed test cases are reported as “Skipped" with reason “No results captured, testsuite misconfiguration?”.
This kind of "Skipped" happens on all platforms.

**To Reproduce**
Steps to reproduce the behavior:
On frdm_k64f:
1. twister -p frdm_k64f --device-testing --hardware-map map.yml -T tests/
2. In twister-out/twister_report.xml, "coredump.backends.logging.coredump_backend"

[2022-09-23 02:57] mengxianglinx commented on #50567
It seems like twister prefer a complete handler.log ends with
RunID: xxxxxxxxxxxxxxx
PROJECT EXECUTION XXXXXXXX
if the test case call panic() or k_oops(), there is no this kind of info output to handler.log

[2022-09-23 04:04] teburd commented on #50455
Please try with #50450

[2022-09-23 05:45] martinjaeger opened #50570 "samples/drivers/can/counter fails in twister for native_posix"
**Describe the bug**

`samples/drivers/can/counter` works when run using west, but fails in twister with a timeout.

**To Reproduce**

Set `can_loopback0` to `status = "okay"` in devicetree and run:

[code]
It works with the following output:
[code]

Now try with twister:
[code]
It fails with a timeout. The file `handler.log` is empty.
[code]

**Expected behavior**

The sample runs successfully in

[2022-09-23 06:00] henrikbrixandersen commented on #50570
I'll look into this. The CAN counter sample runs fine in twister on regular hardware boards.

[2022-09-23 06:09] stephanosio commented on #49491
UPDATE: https://github.com/zephyrproject-rtos/zephyr/pull/49806#issuecomment-1255830930

I will be sending a patch to fix this shortly.

[2022-09-23 06:14] cvinayak commented on #50432
I was able to reproduce the below (please confirm if this is what you too see?):
[code]

Then I used #50569 to check if there is any change, and I got an assertion from your sample:

[code]

@jakkra  Please use #50454 and #50569, and let me know your observations.

[2022-09-23 06:21] jakkra commented on #50432
Hi, the first log looks like the issue, no tags gets synced and nothing happens.

The second log I have seen a few times also, but it could be a bug in the sample that it does not handle the case that happens when it gets an error from periodic adv list as you can see in the log. So for now you can ignore that case in your last log with the assert in application. I did not investigate why I get th

[2022-09-23 06:35] martinjaeger commented on #33627
Looks like this has been implemented in #43260 by @gmarull. Please re-open if you disagree.

[2022-09-23 06:35] #33627 closed

[2022-09-23 06:44] nordicjm commented on #50284
I performed a quick test of getting current main of zephyr in one directory and tag v3.2.0-rc1 in another directory then building hello_world for the same board, and diff'd both build directories. The build directories are absolutely nothing alike, both have tonnes of absolute paths. A quick check with the diff file and nano outputs a diff file with 18,681 lines. Searching backwards in the file, t

[2022-09-23 07:03] nordicjm commented on #50538
This platform should be excluded from the test:

mcuboot cannot work on this device

[2022-09-23 07:20] erwango commented on #50565
It seems there is a regression coming from the openocd version packed with the latest SDK. This is under investigation.

Here are a few workarounds:
1- You should be able to flash by pressing the reset button.

2- Alternatively, you can edit the board's `board.cmake` file and add:
[code]
and flash using `--runner=stm32cubeprogrammer`.
Of course, this requires stm32cubeprogrammer installation, and

[2022-09-23 07:33] cvinayak commented on #50432
[code]

This could be a race in application between the below two lines in `check_restart_scanning_syncing()`:
[code]

May be cancell/delete all sync before clearing the list so that there is no race between clearing and `sync_cb` being called.

[2022-09-23 08:05] jakkra commented on #50432
Yeah I think this is just in the sample, I did not have this issue in the "real" application where more precautions are in place.

Doesn't seem like a difference, 4 tags 50ms per.adv.int.

[code]

[2022-09-23 08:44] cvinayak commented on #50432
@jakkra This issue was closed as the fix for assertion was closed.

[code]

I am trying to understand this, `Queued: 3` does this not indicate that 3 periodic advertisers where discovered fresh after the `Start scanning...success` ?. This would indicate that the scanner is working, right?

I reset one of the periodic advertisers, and the `Queued: ` value now increased, hence there is  no issue wit

[2022-09-23 08:52] cvinayak commented on #50432
Also, when I turned off my advertisers, I see the following happen:

![image](https://user-images.githubusercontent.com/6350656/191925182-ba7b731b-2276-46bd-bec6-eb4b7afb0cbb.png)

[2022-09-23 08:53] cvinayak commented on #50432
@jakkra if you still think the scanning is not always started, you may re-open the issue.

[2022-09-23 08:56] jakkra commented on #50432
Correct, 3 was discovered, and added to the periodic_adv_list successfully (queued), but 4th was never found, and controller did not manage to sync to any of the 3 ones added to the per_adv_list. Also note in the log that after
[code]
Note there is no print of `Scan is running...`, which means scanner is not reporting anything. Also I reset my tags and started new ones, but they where not found an

[2022-09-23 09:31] cfriedt commented on #49656
CI tries 3 times, for référence. It could be timing related as well, so perhaps increasing some timeout would make the test more reliable

https://github.com/zephyrproject-rtos/zephyr/blob/fad899d2ad5e3c5b857ee0b5a331185addcc8deb/.github/workflows/twister.yaml#L136

[2022-09-23 09:42] enjiamai commented on #50525
This is due to the testing log cannot be printed out completely on ACRN, so twister cannot judge it as pass, set it's status as "null",  that's why we saw "“No results captured, testsuite misconfiguration?”. But I think this is a limitation of these kinds of skipping on ACRN board. I prefer to close it.

[code]

[2022-09-23 09:42] #50525 closed

[2022-09-23 09:51] fabiobaltieri commented on #50538
@dleach02 seems like the various lpc55 platforms cannot support mcuboot right now due to limitations on the page write size:

[code]

See:

https://github.com/zephyrproject-rtos/mcuboot/blob/2fcae1c1a05fe3a0892ba3c649f93cf3e1077949/boot/bootutil/include/bootutil/bootutil_public.h#L86-L87

I'll send a PR to exclude the board from the test but maybe it should not have the mcuboot partitions defined

[2022-09-23 09:52] cvinayak commented on #50432
I believe it is the sample application that has not registered the synchronizations, the below messages give me the impressions:
![image](https://user-images.githubusercontent.com/6350656/191932590-bf1a8c18-3c55-46fe-98c2-eb0f53efabcd.png)

The `info->reason: 31` is printed from `term_cb`, the sample prior to this has `Synced: 0` but immediately there after has `Synced: 2` at the logged timestamp.

[2022-09-23 09:52] #50549 closed

[2022-09-23 09:54] ibaz-nordic opened #50579 "arch: arm: Using ISR_DIRECT_PM with zero-latency-interrupt violation"
**Describe the bug**
Calling ISR_DIRECT_PM when using ZLI will lead to [kernel API](https://github.com/zephyrproject-rtos/zephyr/blob/main/arch/arm/core/aarch32/irq_manage.c#L183).  This violates [ZLI requirement](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/zephyr/kernel/services/interrupts.html#zero-latency-interrupts)

I've tried removing ISR_DIRECT_PM but this gives unstable beh

[2022-09-23 09:55] jhedberg commented on #26109
@galak I started experimenting with this "standard" based encoding, however it seems the Zephyr device tree processing doesn't like the multiple zero values in the `reg` property:
[code]

The DTS (for `ehl_crb` board) I'm experimenting looks something like this:
[code]

[2022-09-23 10:10] #49491 closed

[2022-09-23 10:26] enjiamai commented on #50567
The kinds of test case shows “No results captured, testsuite misconfiguration?” due to it will not print out the "pass" message as test result because it is expected to trigger a fatal error.  In the twister.json(report) it's status is marked us null.
[code]

[2022-09-23 10:27] enjiamai commented on #50567
Still checking if this is a bug.

[2022-09-23 10:28] enjiamai commented on #49611
Hi @fabiobaltieri , I am still working on finding the root cause...

[2022-09-23 10:34] jhedberg commented on #26109
@galak one thing I don't quite get when looking at the falcon falls DTS in more detail, is that most PCI peripherals in it use "I/O space" (`ss = 01`) encoding for their reg property, when I think "Config space" (`ss = 00`) is the appropriate one. They also leave the `phys.lo` value as zero in every case for the I/O address, which doesn't make much sense to me.

[2022-09-23 10:53] tejlmand commented on #49587
@evgeniy-paltsev it's already possible today to use `-DSYSROOT_DIR=<sysroot-dir>`

[2022-09-23 11:00] jhedberg commented on #26109
@galak I also get this error if I fix up the "zero address" stuff and let the processing continue, i.e. Zephyr device tree parsing doesn't like the way the PCI DTS spec places the Text Representation as the unit address:
[code]

[2022-09-23 11:31] #50538 closed

[2022-09-23 11:34] mm40 commented on #50565
Hey thanks, that works for flashing.  However, nothing is blinking on my board when I flashed blinky. Any tips on how to get debugging to work? `west debug` uses openocd too which doesn't work.

[2022-09-23 12:08] caco3 opened #50587 "Regression in Link Layer Control Procedure (LLCP)"
As requested in https://discord.com/channels/720317445772017664/733036956392357908/1022831217969733712 I create following bug report.

We have an nrf52840 system where we use BLE to transfer data at a high througput.
After we updated from https://github.com/zephyrproject-rtos/zephyr/commit/e1c2c36f569a8e06184a2c5574f1d25ba00df8d7 to the next commit https://github.com/zephyrproject-rtos/zephyr/comm

[2022-09-23 12:11] stephanosio commented on #49587
@evgeniy-paltsev FYI, https://github.com/zephyrproject-rtos/zephyr/pull/50584#pullrequestreview-1118344285. There likely is a configuration issue with your toolchain build.

[2022-09-23 12:12] erwango commented on #50565
Ok, it seems there is something quite weird about this board. I don't have explanation so far.
I can get things working nicely on similar `nucleo_l073rz`.
I've tried to use previous Zephyr version as well. No more luck, which is even more strange.

I'll keep you posted, but it seems you picked up the ugly duckling, unfortunately.

[2022-09-23 12:34] erwango commented on #50306
@maxstreitberger I suspect an openocd configuration issue.
Would  you mind trying to replicate the configuration provided for [nucleo_h743zi](https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/nucleo_h743zi/support/openocd.cfg).

Regarding nuclo_f429zi, I'll open a dedicated ticket, as I've found the root cause, and I'm not sure it applies to H7

[2022-09-23 12:42] erwango opened #50590 "openocd: Can't flash on various STM32 boards"
**Describe the bug**
Since SDK0.15.0, a flashing issue using openocd appears in specific conditions on various STM32 boards.

Impacted boards identified so far (likely more to come):
- disco_l475_iot1
- nucleo_f429zi
- stm32f3_disco
- stm32f429i_disc1

Note: Potentially applies to non STM32 boards, due to the nature of the issue.

Issues could be seen when trying to flash just after the board is p

[2022-09-23 12:45] erwango commented on #50590
Guilty commit in openocd: https://github.com/zephyrproject-rtos/openocd/commit/98d9f1168cbdc59e4c2c0b1f01b225a4df9ad98a

Reverting this commit fixes the issue.

[2022-09-23 12:46] erwango commented on #50565
Moving priority to low as only this board is impacted.

[2022-09-23 12:55] henrikbrixandersen commented on #50590
I can reproduce this on the `stm32f3_disco` as well.

[2022-09-23 12:56] erwango commented on #50590
Thanks, I've updated the list.

[2022-09-23 12:58] smrtos commented on #49889
No time to try it recently. Will take a look.

[2022-09-23 13:00] smrtos commented on #49889
I did checked the qemu command line in the build folder before.
But no time to further investigate it recently. Will continue the work.
Sorry for the late response.

[2022-09-23 13:01] smrtos commented on #48726
@shuai1x  Could you be more specific about what you have tried?

[2022-09-23 13:02] smrtos commented on #48147
Will update it when I have more thoughts on this.

[2022-09-23 13:06] fabiobaltieri commented on #50590
Tried a couple boards, can reproduce on `stm32f429i_disc1` but not on `nrf52dk_nrf52832` or `nucleo_h745zi_q_m7`. Could this only affect ST-Link v2 boards?

[2022-09-23 13:11] erwango commented on #50590
Thanks for the tests. `nucleo_l073rz`, using a ST-Link/V2-1, is not impacted so it might be trickier than that.

[2022-09-23 13:20] cvinayak commented on #50432
I am continuing to test, I do get into the scenario where no new periodic advertising is printed by the sample but I was able to terminate the sync by powering off 7 syncs (`Synced: 0` was logged). There sure seems something out-of-sync in the sample too.
I have now added a printk in the `scan_recv` to print any periodic advertising received but if `is_syncing` may be true. I do get the `Scan is r

[2022-09-23 13:20] stephanosio commented on #50590
I will look into reverting 98d9f1168cbdc59e4c2c0b1f01b225a4df9ad98a in the upcoming Zephyr SDK 0.15.1, unless a proper fix comes before that.

[2022-09-23 13:32] nordicjm opened #50592 "mgmt: mcumgr: Remove code/functions deprecated in zephyr 3.1 release"
Some mcumgr parts were deprecated in zephyr 3.1, with the impending release of zephyr 3.2, these deprecated parts can be removed after the 3.2 release.

[2022-09-23 13:38] cvinayak commented on #50432
Reopening as only the assertion has been fix. The scanning seems to call `scan_recv` but there are no periodic advertisings reported.

See log:
[20220923_10.txt](https://github.com/zephyrproject-rtos/zephyr/files/9634080/20220923_10.txt)

[2022-09-23 13:44] erwango commented on #50565
Note: `nucleo_l011k4` working as expected.

[2022-09-23 13:47] jakkra commented on #50432
@cvinayak good that you where able to reproduce that case. As you say I agree and think there is some issue in the sample and I'll see if I can fix the sample.

About `is_syncing` that should be false always when `USE_PER_ADV_LIST` is defined as that variable is only used when syncing to one tag at a time.

[2022-09-23 14:00] Thalley opened #50596 "Documentation: Broken links in the previous release documentation"
**Describe the bug**
Using a linkchecker (https://github.com/linkchecker/linkchecker) I've been able to produce a list of broken URLs/links found the in documentation.

The linkchecker was run with `linkchecker --no-robots --check-extern --no-warnings`.

I've run it twice: Once locally on locally built and hosted documentation (SHA: `dca9c2b165b92e90d38a5002ae7e6ad013daf04d`), and once on the actu

[2022-09-23 14:15] fabiobaltieri commented on #50590
About the workaround: does it really work if you press reset for you? For me it only works by retrying. That is: plug - reset - wests flash <- does not work.

[2022-09-23 14:17] henrikbrixandersen commented on #50590
Yes. If I hold down reset, run west flash, then release reset after openocd is running, it works.

[2022-09-23 14:20] erwango commented on #50590
I confirm this works on `nucleo_f429zi`. Note that you need to release once the flashing starts.

[2022-09-23 14:21] jmrua opened #50598 "UDP over IPSP not working on nRF52840"
**Describe the bug**
UDP packets are not sent through the IPSP interface if the destination IP is a global IP. It works just fine if the destination IP is link-local. Both ICMPv6 and TCP traffic work as expected.

Although the packets do not appear on the interface between the host and the device (analyzed using Wireshark from the host), the zephyr logs seem to indicate that they are sent, no erro

[2022-09-23 14:33] carlescufi commented on #50598
@jmrua thanks for reporting this. Note that IPSP unfortunately lacks a maintainer right now in Zephyr, so we might not be able to help out in a timely manner.

[2022-09-23 14:37] #49587 closed

[2022-09-23 14:43] fabiobaltieri commented on #50590
Ok that works. But also re-running west flash a second time right? (may be worth noting it in the workarounds)

[2022-09-23 14:47] erwango commented on #50590
You're right! And that might be the easiest one in most cases. Updating the description.

[2022-09-23 15:01] asemjonovs commented on #50389
As I'm learning about west, here are some thoughts I have (please let me know if I'm missing any details)

1. Since twister already builds and tests - west should use twister as a backend for both `build` and `test` commands. Doesn't make sense to me to have different behavior here.  Which means this becomes an exercise of invoking twister with `--build-only` or `--test-only` args and translating

[2022-09-23 15:52] dberlin opened #50603 "Upgrade to loramac-node 4.7.0 when it is released to fix async LoRa reception on SX1276"
Right now, asynchronous LoRa reception on the SX1276 is broken because the payload buffer gets memset before the callback is run.
[This pull request](https://github.com/zephyrproject-rtos/zephyr/pull/48765) has more details.

A patch was submitted upstream to loramac-node to fix the issue there (rather than change zephyr's handling), and was accepted. It is targeted at the 4.7.0 release of loramac

[2022-09-23 16:20] mjm987 commented on #46347
I tested it and now it works successfully!
Many thx and regards!

[2022-09-23 16:54] paperclip4465 commented on #50284
The build should work from anywhere, and the build system should be flexible enough to fit into most development environments but when talking about reproducibility I was thinking something more like `/tmp/zephyrproject`, a location can can easily exist on most machines. I think release builds should be built in a location like this by a robot anyway and not someone’s home directory, but people wi

[2022-09-23 17:25] #50545 closed

[2022-09-23 18:59] bjarki-trackunit commented on #48934
You misunderstood my comment. I am not arguing that any particular implementation of this specific solution is better, I am highlighting that the MFD solutions are essentially the same, and how they differ from the multi API solution. This is a good thing, as it implies agreement.

I am well aware how C++ solves the issue, maybe I should have said "any object oriented programming language"

[2022-09-23 19:37] tom-van commented on #50590
The main problem is wrong OpenOCD configuration used in Zephyr.
Zephyr code puts Cortex-M into some sleep mode and CPU clock is stopped.
In such state the debugger is not able to connect the sleeping target.
The CPU wakes up time to time. If this interval is long enough, the debugger may randomly succeed connecting.
There is the only reliable way to connect: assert reset during connect!
To do so O

[2022-09-23 20:29] Thalley commented on #50596
It seems that we have a lot of dead links for Kconfig options that were removed in newer versions, as the older versions still have a link with `The latest development version of this page may be more current than this released 2.7.0 version.` when there is not latest version with the Kconfig in it.

I do not know if that goes for all the Kconfig ones, or if the links for some of them just don't w

[2022-09-23 22:30] jshoen opened #50611 "k_heap_aligned_alloc does not handle a timeout of K_FOREVER correctly"
When K_FOREVER is passed the return value of z_timeout_end_calc is MAX_UINT64 which equates to -1 when treated as an int64_t.  This causes the end-now check to always return < 0.

The timeout handing code in k_mem_pool_alloc appears to be correct.  k_heap_aligned_alloc should be updated with similar logic.

This was found in Zephyr 2.4, but the issue is still present in current code.

[2022-09-24 00:35] #46446 closed

[2022-09-24 02:49] mengxianglinx commented on #49656
acrn_ehl_crb use apic_tsc timer, for acrn, I suspect that CONFIG_SYS_CLOCK_TICKS_PER_SEC=10000 is too high, I set it to 1000, 800, 500, the failed test cases passed.

[2022-09-24 07:24] GasperChen opened #50614 "Zephyr if got the ip is "10.xxx.xxx.xxx" when join in the switchboard, then the device may can not visit the outer net, also unable to Ping."
**Describe the bug**
Zephyr if got the ip is "10.xxx.xxx.xxx" when join in the switchboard, then the device may can not visit the outer net, also unable to Ping.

Please also mention any information which could help others to understand
the problem you're facing:

 - NXP imxrt1061, PHY RTL8201F
 - ZEPHYR 2.6.99
 - （128.1.0.0-191.255.0.0）and （192.0.1.0-223.255.255.0） is ok.

There is the ip can mak

[2022-09-24 07:48] stephanosio commented on #50614
I have many devices running Zephyr in our intranet that are assigned 10.0.0.0/8 addresses and they work just fine.

You will need to provide more information than what you have provided for us to identify the issue (e.g. device log, packet dump, your network configuration).

cc @rlubos

[2022-09-24 07:57] GasperChen commented on #50614
Can you test the IP: 10.70.100.133 when you devices got IP from switchboard, not got the IP from router. and what is you os version.
[Uploading log.TXT…]()

[2022-09-24 08:00] GasperChen commented on #50614
[01-01 00:00:00]DriverUart_init,183: Success
[01-01 00:00:00]DriverGpio_init,866: Success
[01-01 00:00:00]DriverRtc_init,372: Success
*** Booting Zephyr OS version 2.6.99  ***
*** J01_Boot_0 Jun  2 2022 09:51:20 ***
[01-01 00:00:00]GwBoot_loadBootloader,1272: Success
[01-01 00:00:00]DriverUart_init,183: Success
[01-01 00:00:00]DriverGpio_init,866: Success
[01-01 00:00:00]DriverRtc_init,372: Succes

[2022-09-24 08:03] GasperChen commented on #50614
![Image_20220924160311](https://user-images.githubusercontent.com/74764219/192087521-30e01806-263b-42f1-98a4-89f50112ee44.png)

[2022-09-24 09:18] sam131208 opened #50615 "ESP32 GPIO driver"
**Describe the bug**
The input configuration of GPIO34~GPIO39 cannot be performed. When the following code block is executed, it ends abnormally and return the value -134.

The following code is located on line 119 of gpio_esp32.c。

 	if (flags & GPIO_PULL_UP) {
		if (!rtc_gpio_is_valid_gpio(io_pin) || SOC_GPIO_SUPPORT_RTC_INDEPENDENT) {
			gpio_ll_pullup_en(&GPIO, io_pin);
		} else {

[2022-09-24 10:02] sam131208 commented on #29394
Hello,
    Are there any plans to support I2S? I wrote a simple I2S driver before, but when I ported from zephyr ver3.1 to ver3.2, it didn't work correctly. I hope zephyr can add I2S support to the list.

[2022-09-24 10:32] JordanYates commented on #50603
It is not necessarily required to wait for 4.7 to be released in order to fix the bug. In the past we have cherry-picked official commits that fix issues back to our current Zephyr branch. Unfortunately the hard freeze deadline for v3.2 has passed and I don't think this qualifies as a blocker-bug, but we would be able to fix it as soon as main opens up again.

[2022-09-24 11:12] cvinayak commented on #50432
@jakkra Could you please try this additional fix #50617

[2022-09-24 11:38] Bamelink opened #50618 "STM32 Ethernet"
## **Has someone got an example for using ethernet/UDP on STM32 MCU?.**
### **Description**
Hi, I am working on a project for Formula Student and I would like to use and push Zephyr with MicroROS.
But I am currently stuck on getting ethernet up and running. We have made a custom board around the STM32F407VGT6, but it is very similar to the olimex_stm32_e407 and I can already flash some examples wi

[2022-09-24 11:52] nashif opened #50619 "tests/kernel/timer/starve fails to run on devices"
**Describe the bug**
This test is marked build_only and is never run by any device. Trying to run it on a device results in an MPU fault.

**To Reproduce**
west build -b nrf52840dk_nrf52811
west flash

**Expected behavior**
Test runs

**Impact**
Bitrot, duplication? Maybe this can be folded into or removed into some other tests? timer_behaviour maybe?

**Logs and console output**
[code]

[2022-09-24 12:16] nashif opened #50620 "fifo test fails with CONFIG_CMAKE_LINKER_GENERATOR enabled on qemu_cortex_a9"
**Describe the bug**
`tests/kernel/fifo/fifo_api` is enabled for one platform, which is wrong, trying to enable it for everything fails due to `CONFIG_CMAKE_LINKER_GENERATOR` being set as an extra config.

**To Reproduce**
Build the test with twister by removing the `platform_allow` and see it failing to build on some ARM platforms.

**Expected behavior**
This test should build and pass on platfor

[2022-09-24 12:18] nashif commented on #50620
Maybe I am missing something, is CONFIG_CMAKE_LINKER_GENERATOR supposed to work on all ARM platforms?

[2022-09-24 16:24] bjarki-trackunit opened #50621 "The history of the multi API / MFD discussions 2022 July - Sep"
## Intruduction
This issue will go through the entire MFD / multi API device model discussions starting in with the modem driver design issue. Please note that this is summarizing multiple PRs and issues with about 100 comments across them, some details will be left out.

## The issue with modem driver design July 2022
Modems often contain multiple functions, which are not common between all modem

[2022-09-24 16:26] bjarki-trackunit commented on #22941
I have summarized the discussions and conclusions regarding the last months of discussion regarding MFDs and the device model. It is a 2-3 minute read approximately.

[2022-09-24 16:41] cfriedt commented on #49656
Nice catch @Zhaoningx - do you know if this bug is present or has already been fixed in `main`? In either case, are you able to make a PR?

[2022-09-24 23:01] nashif commented on #50455
You actually do not need to use HDA backend at all, you can just use the default and that should work:

[code]

But the still not the proper solution for the issue, we can solve the problem by adding the delays to ztest directly and make the console output (without logging being enabled) a bit slower...

[2022-09-25 03:05] maweicoltsmart commented on #49811
I found a new problem. When `CONFIG_NET_UDP_CHECKSUM=n`, the IP can be obtained on a Huawei switch, but when `CONFIG_NET_UDP_CHECKSUM=y`, the IP cannot be obtained. From the output log, it can be known that the DHCP offer packet sent by the switch is discarded by the protocol stack. Forgive me I didn't save the raw data but just took pictures, one picture is the wires hark and the other is the log

[2022-09-25 11:30] bjarki-trackunit commented on #50621
## Solution Bjarki

### Proposed solution
Using the api_device structs model, placing the api / device type information in the bindings files, generating macros using gen_defines.py / edtlib.py.

### Supporting remarks
* Only adds 1 pointer pr API to ROM if struct device pointer is removed.
* No runtime lookup of devices
* Type safety through specifying device type in `DEVICE_API_GET`

### Require

[2022-09-25 12:11] JordanYates commented on #49940
I suspect #40669 would be a way of solving this issue (might require additional search paths for snippets)

[2022-09-25 12:35] Thalley commented on #42523
This comment seems unrelated to the issue.

[2022-09-25 22:32] jwestmoreland opened #50631 "Please Add __heapstats() to stdlib.h"
Hello,

As an enhancement - can __heapstats() be added to stdlib.h?

A full implementation of __heapstats() would be helpful - of course, a pointer to the active heap to be interrogated will be required - for certain processor architectures like the M33 - a first round of this so to speak would be only for the NS part of the heap unless a global heap is easily interrogated in both secure and NS mo

[2022-09-25 23:50] mengxianglinx commented on #49656
This bug is not present in main, not sure it is fixed by some patches or by side effect of some patches.

[2022-09-26 03:11] shuai1x commented on #50455
I tested the PR https://github.com/zephyrproject-rtos/zephyr/pull/50623 on CAVS platform five times. And it would pass stably, so this PR will fix this issue.

[2022-09-26 03:14] stephanosio commented on #50631
`__heapstats()` is not a standard C function and will not be added to the C standard library (it seems to be some random function Keil decided to add).

Please enable `CONFIG_SYS_HEAP_RUNTIME_STATS`.

[2022-09-26 03:14] #50631 closed

[2022-09-26 03:17] maweicoltsmart commented on #50614
@GasperChen Author
I encountered a similar error, my solution is to make CONFIG_NET_UDP_CHECKSUM=n, it seems that the check code is wrong。

The issue I created is #49811

[2022-09-26 03:18] maweicoltsmart commented on #49811
@rlubos
Should be the same issue as issue #50614

[2022-09-26 06:59] nordicjm commented on #50618
If you have a segger, you can enable the RTT log/shell backend and use that. Without a UART to display logs, you're going to be playing pin the tale on the 18km2 donkey. You can take the existing network samples, https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/net/sockets and try those on your board to see if networking is working. Then, if it does, use those prj.conf files as a bas

[2022-09-26 07:14] yinfangw commented on #50221
code merged, close it.

[2022-09-26 07:14] #50221 closed

[2022-09-26 07:41] shuai1x opened #50632 "nominate me as zephyr contributor"
# Background

The [TSC Project Roles] defines the main roles for the Zephyr Project, including
Maintainer, Collaborator, and Contributor.

By default anyone that contributes code or documentation is a Contributor, but
with the lowest [GitHub Permission Level] of Read. For example, Contributors
with Read permission do not have the permission to add reviewers to a pull
request.

Use this template to

[2022-09-26 07:47] Kunli123 opened #50634 "nominate me as zephyr contributor"
# Background

The [TSC Project Roles] defines the main roles for the Zephyr Project, including
Maintainer, Collaborator, and Contributor.

By default anyone that contributes code or documentation is a Contributor, but
with the lowest [GitHub Permission Level] of Read. For example, Contributors
with Read permission do not have the permission to add reviewers to a pull
request.

Use this template to

[2022-09-26 07:56] #50502 closed

[2022-09-26 07:58] henrikbrixandersen commented on #50611
@jshoen Can you submit a PR for fixing this?

[2022-09-26 08:00] GeorgeCGV opened #50635 "hal: stm32: valid pins were removed in the last version"
**Description**

The  https://github.com/zephyrproject-rtos/hal_stm32/pull/150 PR removed some valid pins:

For example, the following OCSTOSPI pins disappeared from [stm32h730vbtx-pinctrl.dtsi](https://github.com/teslabs/hal_stm32/blob/41d427dd4b021092cd2432a76ae87b2cac962c80/dts/st/h7/stm32h730vbtx-pinctrl.dtsi):

* `octospim_p1_io2_pc2`
* `octospim_p1_io0_pc3`

**To Reproduce**

Try to build an

[2022-09-26 08:01] henrikbrixandersen commented on #50615
@sam131208 Please revisit the description of this issue and fix the formatting to make it readable.

[2022-09-26 09:05] #34600 closed

[2022-09-26 09:13] nvincent-vossloh commented on #47732
As far as I am concerned, the dual bank support works correctly:
Whatever the bank swap state is, the same firmware works (no bank specific firmware).
When I request an address from the lower range, the physical areas targeted is the one from the _current_ bank, and when requesting an address in the higher range it is _the other_ bank which is targeted.
Since I'm trying to use some flash sectors f

[2022-09-26 09:32] gmarull commented on #50621
It is used e.g. by STM32 timers (specific functions of the timer are represented as child nodes: `pwm`, `qdec`, etc. Same approach is used in Linux, so we're not deviating here. Also used now by GD32 RCU (Reset and Clock Unit).

The main problem I see in Zephyr really is that we use DT node identifiers (node labels, paths, aliases, etc.) to obtain `struct device` instances. This forces us to have

[2022-09-26 09:38] #49960 closed

[2022-09-26 09:41] bjarki-trackunit commented on #50621
@gmarull Sorry, but could you copy your comment to this discussion https://github.com/zephyrproject-rtos/zephyr/discussions/50641 ? I have created a copy in the discussions section instead of the issues section. I tried to close this issue but it did not work it seems :)

[2022-09-26 09:41] #50621 closed

[2022-09-26 09:43] pdgendt commented on #50621
FYI; there is a "Convert to discussion" action for issues.

[2022-09-26 09:47] bjarki-trackunit commented on #50621
Ha, of course there is :)

[2022-09-26 09:56] #50635 closed

[2022-09-26 10:01] #50634 closed

[2022-09-26 10:02] nashif commented on #50632
triage role granted.

[2022-09-26 10:02] #50632 closed

[2022-09-26 10:38] sam131208 commented on #50615
@henrikbrixandersen format fixed。

[2022-09-26 10:53] #50455 closed

[2022-09-26 11:08] #32608 closed

[2022-09-26 11:30] gmarull commented on #14527
We already support oot drivers as _first-class_ citizens. An application will need to de-select an in-tree driver if it provides an alternative driver for the same compatible, though.

[2022-09-26 11:30] #14527 closed

[2022-09-26 13:03] Sathishkumar-rk opened #50652 "RAM Loading on i.MXRT1160_evk"
**Describe the bug**

   --> Want to run zephyr application from SDRAM location using RAM Loading feature.

**Information**

- Build the code for SDRAM using CONFIG_CODE_SEMC=y. However, when I test with this, I see when z_bss_zero() is called in the startup code, it trashes the code memory in SDRAM.

- So it seems the linker settings for this RT1160 are not configured for CONFIG_CODE_SEMC=y, and

[2022-09-26 13:22] Andrewpini opened #50653 "Contributor nomination of Stine Åkredalen"
I would like to nominate the following user to the contributer role in Zephyr:

Full Name: Stine Åkredalen
GitHub username: akredalen
Organization: Nordic Semiconductor ASA, Bluetooth Mesh team

She needs this role to be able to contribute to the Bluetooth mesh implementation in Zephyr.

[2022-09-26 13:24] SebastianBoe commented on #47872
Some Kconfig options have different reasonable default values in a sample meant for testing / development purposes and a demo meant to demonstrate a final product.

E.g. dummy passwords are reasonable during development, but must be enforced to not go into production images.
How to handle errors (reset in production, halt in development/debug).

If we were to introduce a "Demo" category, could we

[2022-09-26 14:02] Laczen commented on #47732
As far as I'm concerned there are two distinct use cases of bank swap:

A. A real bank swap support in which case everything is separated, the images and the storage, and both banks are independent of each other.
B. A bank swap of only the images and shared storage.

For case A the dts should only describe half of the flash area (I think this is the supported case at the moment). For case B this w

[2022-09-26 14:15] nashif opened #50654 "Some files are being ALWAYS built, without them being used"
**Describe the bug**
Many files are being by default although they are not being used pulling files from upper layers and other subsystems.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -b qemu_x86 samples/synchronization/`
2. `cat  build/compile_commands.json  | jq .[].file   |less`
3. Review list of files being built

**Expected behavior**
We should only build files that are

[2022-09-26 14:16] nashif commented on #50654
cc @cfriedt  FYI

"/home/nashif/zephyrproject/zephyr/lib/posix/perror.c"
"/home/nashif/zephyrproject/zephyr/lib/posix/pthread_common.c"
"/home/nashif/zephyrproject/zephyr/lib/posix/nanosleep.c"

also

"/home/nashif/zephyrproject/zephyr/lib/os/fdtable.c"

why isn't that part of posix?

[2022-09-26 14:17] KenthJohan commented on #49584
I have the same problem when connecting then disconnecting then connecting then disconnecting then connecting:

[code]
[code]
After the last `Connected` using `nRF Connect for Mobile` it fails to connect and there is no error printing from zephyr log.

<hr>

[code]
[code]
After the last `Connected` using `nRF Connect for Mobile` it fails to connect but now zephyr log prints some error at least.

[2022-09-26 14:23] erwango commented on #49584
This is likely a different error. Would you mind raising a new issue and provide all information on the SW you're using ?
Also note that AUTO_PHY_UPDATE is not supported by STM32WB BLE Controller. Config should be `CONFIG_BT_AUTO_PHY_UPDATE=n`.

[2022-09-26 14:24] jakkra commented on #50432
@cvinayak So far I have not gotten it stuck using the sample. However I still have same problem using the real application. I restart scanning and then it finds 0 or some tag and then scanning stops.

Resetting the tags, adding new tags etc. does nothing. I'm not getting any normal scan or ext. scan responses.
If I in this state try again with `bt_le_scan_start` I get -120 back (EALREADY). Doing `

[2022-09-26 14:29] Laczen commented on #47732
@nvincent-vossloh, BTW have you tried disabling DUAL_BANK, I am not sure if this is really needed for something other than flash.

[2022-09-26 14:29] erwango commented on #43115
@kborowski3 can you tell if the issue you faced is similar to https://github.com/zephyrproject-rtos/zephyr/issues/50501 ?

[2022-09-26 14:31] KenthJohan opened #50655 "STM32WB55 Bus Fault when connecting then disconnecting then connecting then disconnecting then connecting"
`STM32WB55` Bus Fault when connecting then disconnecting then connecting then disconnecting then connecting.
I'm using `nRF Connect for Mobile` to connect to the `STM32WB55`.
Referenses:
* https://discord.com/channels/720317445772017664/733036956392357908/1023963199009206372
[code]
[code]
[code]
After the last `Connected` using `nRF Connect for Mobile` it fails to connect.

Modifying the `prj.conf

[2022-09-26 14:33] dabekjakub opened #50656 "Wrong definition of bank size for intel memory management driver."
I believe that this code fragment
`#define SRAM_BANK_SIZE				(128 * 1024)`
from mm_drv_intel_adsp_mtl_tlb.c
should be set to
`#define SRAM_BANK_SIZE				(64 * 1024)`
So currently it returns much greater value of ebb banks for TLB translation.
I am not 100% sure on this that's why I create the issue.

[2022-09-26 14:38] cvinayak commented on #50432
Please confirm that now you are using #50617 in the sample, and without it you would reproduce it with the sample, right?

If I in this state try again with bt_le_scan_start I get -120 back (EALREADY). Doing bt_le_scan_stop and then bt_le_scan_start it recovers.

This could be a Host stack issue, if it was Controller command failing, then there should be a BT_ERR log with HCI error code.

Probable

[2022-09-26 14:43] FRASTM commented on #50501
The SPI1_NSS is present on PA15 (connector CN7 pin 17) with
&spi1 {
	pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7 spi1_nss_pa15>;
	pinctrl-names = "default";
};

[2022-09-26 14:45] flo-carrere opened #50658 "Bluetooth: BLE stack notifications blocks host side for too long (`drivers/bluetooth/hci/spi.c` and `hci_spi`)"
First, I have no pretention in stating it is a bug, it may be **the normal way of working of the BLE stack architecture at this moment**.
In this case, it could be reclassified as an **enhancement request** if relevant. I may be expecting too much.

### **Preliminary context**
I am using a classic [dual-chip configuration](https://docs.zephyrproject.org/3.0.0/guides/bluetooth/bluetooth-arch.html#c

[2022-09-26 14:49] nvincent-vossloh commented on #47732
I want to be sure of the differences in your cases.
In your case A., do you mean that each bank have a version of the image and the storage ? an image only use the storage which resides in the same bank (I do not fall in that use case).

In case B, each bank have an image. The storage is located in **one of** the banks and used by  images from both banks (I am in that use case).

If the above is t

[2022-09-26 14:55] kborowski3 commented on #43115
For me using the interrupt mode wasn't working as well but I don't remember the exact problem.

[2022-09-26 15:03] KenthJohan commented on #49584
https://github.com/zephyrproject-rtos/zephyr/issues/50655

[2022-09-26 15:08] kborowski3 commented on #50501
We have been struggling with spi in the slave mode a lot too. We have noticed that SPI should be enabled at proper time, so we added NSS software control, which allows us to start and end transmission according to NSS state. If this solution remains stable, we will try to push our changes to Zephyr OS.

[2022-09-26 15:09] #45270 closed

[2022-09-26 15:30] fabiobaltieri opened #50665 "MEC15xx/MEC1501: UART and and special purpose pins missing pinctrl configuration"
Known issue affecting `mec1501modular_assy6885` and `mec15xxevb_assy6853`: to facilitate the pinmux subsystem deprecation, the custom pin configuration for these two boards has been removed in https://github.com/zephyrproject-rtos/zephyr/pull/48893 and the boards have been excluded from CI. Due to this the UART and other special purpose peripherals on those boards are not functional, see https://g

[2022-09-26 16:05] jakkra commented on #50432
I'm going to run some tests over night and see. Will come back.

**However**: I still end up quite often even with that patch in the state where all tags are in the periodic sync list, but no sync in created, resetting any of the tags results in a:
[code]
I'm trying to understand if this is expected or not. It could be that the sample ends up in a scenario where it misses enabling syncing with `bt

[2022-09-26 16:17] cfriedt commented on #50654
That's a great question. From what I can tell, it has to do with the divide that exists between posix and the sockets API. There is a fair amount of work to do to clean that up. Ultimately, I would like to prove that `CONFIG_NET_SOCKETS_POSIX_NAMES` is more or less synonymous with `CONFIG_POSIX_API` (or something similar), so that we can have a simple API wrapper with properly namespaced constants

[2022-09-26 16:18] cvinayak commented on #50463
@optical-o Hi, I am maintaining the Controller, but adding Co-Ex is not in plan. As you have expressed interest in implementing, I can help in guiding you. But before that I would like to get the details of the protocol on the pin.

You can start by documenting here the protocol as a timing diagram. If you have a logic analyzer, you should be able to get real-time Bluetooth scheduling on GPIO by `

[2022-09-26 16:28] cfriedt commented on #50463
Just my 2c, but latency will likely need to be a major consideration here. The Zephyr GPIO abstraction has some cost, even when used in kernel mode. It might need to be delegated to use hal-specific functions.

[2022-09-26 18:05] Laczen commented on #47732
I mean it is needed to agree on the meaning, and if different functionality is required it is needed to agree on the way to describe this and to make sure that also case A remains supported.

[2022-09-26 19:26] DerekSnell commented on #50652
Adding that @Sathishkumar-rk has additional details on this use-case using MCUboot at https://github.com/zephyrproject-rtos/zephyr/discussions/48242

[2022-09-26 20:19] teburd commented on #50404
This should be retried with the defaults and #50623 applied

[2022-09-26 21:54] rftafas commented on #29394
@sam131208 , it is not on the horizon yet and I wouldn't hold my breath either. I strongly encourage you to share your work on GH. It may be a starting point to fix your issue, points you towards a nice contribution and you may have it working earlier...

[2022-09-27 01:10] cvinayak commented on #50432
Will wait for you inputs before proceeding with the review/merge of #50617.

If the controller did not generate the `LE Periodic Advertising Sync Established event` then the `LE Periodic Advertising Sync Lost event` from the controller should give an error message log from the host:
https://github.com/zephyrproject-rtos/zephyr/blob/605d8c85d88d0341df649e029801bfcd2ff54350/subsys/bluetooth/host/sca

[2022-09-27 01:47] shuai1x commented on #50404
Yes, I have tested the PR https://github.com/zephyrproject-rtos/zephyr/pull/50623 with the defaults on CAVS platform five times. And it would pass stably, so this PR will fix this issue.

[2022-09-27 02:09] XenuIsWatching commented on #46901
closing with https://github.com/zephyrproject-rtos/zephyr/pull/46087 merge in.

Option 1 was choosing from arch meetings

[2022-09-27 02:09] #46901 closed

[2022-09-27 05:14] NagarajuGundimi opened #50681 "gpio: ite: gpio_ite_configure() neither supporting nor throwing error when gpio is configured with GPIO_DISCONNECTED flag"
gpio: ite: gpio_ite_configure() neither supporting nor throwing error when gpio is configured with GPIO_DISCONNECTED flag.

ITE gpio driver is not supporting how to configure unused GPIOs.

[2022-09-27 06:02] chen-png commented on #45009
this issue occurred on v3.0-branch too, so added a backport PR for v3.0-branch.

[2022-09-27 06:08] stephanosio commented on #50653
Anyone will become a "Contributor" once they submit a pull request that is merged. You do not need any nominations for this.

The "Contributor Nomination" template is for requesting "an elevated permission level in
the Contributor role" (i.e. Triage permissions), which one can apply for once they "demonstrate the user's dedication to the
Zephyr project" (add links to 3-5 pull requests) as requeste

[2022-09-27 06:36] smrtos commented on #50515
Should be fixed by https://github.com/zephyrproject-rtos/zephyr/pull/49619

[2022-09-27 06:52] erwango commented on #50655
@KenthJohan, thanks for the details of the application.
Though, I've had a try and I manage to reproduce an issue, but only with `CONFIG_BT_BAS=n`
- Zephyr SHA1: `v3.2.0-rc3-16-ge348fe494a`.
- BLE controller f/w: [stm32wb5x_BLE_HCILayer_fw.bin](https://github.com/STMicroelectronics/STM32CubeWB/blob/v1.14.1/Projects/STM32WB_Copro_Wireless_Binaries/STM32WB5x/stm32wb5x_BLE_HCILayer_fw.bin)

What vers

[2022-09-27 07:02] erwango commented on #50655
Ok, I'm now seeing the crash whatever the configuration, which is worrisome. Setting the prio to medium.

[2022-09-27 07:04] swatikumari1-eaton opened #50684 "After enabling CONFIG_SPI_STM32_DMA in project config file for STM32MP157-dk2 Zephyr throwing error"
### I am trying to enable CONFIG_SPI_STM32_DMA macro in my config file but I am getting below error.

[code]

**Impact**
Build failed

**Environment (please complete the following information):**
 - OS: - Windows
 - Toolchain -  Zephyr SDK
 - Commit SHA or Version -zephyr-v3.0.0
![SPI DMA](https://user-images.githubusercontent.com/96224486/192456865-321c6d5a-e1d3-4297-98a6-e2124c351479.PNG)

[2022-09-27 07:09] Andrewpini commented on #50653
Ok, thanks for the clarification 👍

[2022-09-27 07:17] erwango commented on #50655
After re-flashing the BLE Controller f/w I'm not able to reproduce the crash anymore, whatever the configuration.
I'm seeing as well that the crash I reported (ASSERTION FAIL, no response from the controller) is different from the issue you saw (BUS FAULT).
I'll test again, but it seems like a tricky one. Also, I'd like to be sure we're on the same page regarding BLE Cltr f/w.

[2022-09-27 07:21] erwango commented on #50684
Moving to "enhancement" as DMA has not yet been ported on STM32MP1.

[2022-09-27 07:32] erwango commented on #49373
@fomst Have you been able to make some progress in you investigation ?

[2022-09-27 07:56] FRASTM commented on #50684
as a first WA I could suggest you  to try to adapt the dma_stm32.c driver like for the stm32H7 family:
[code]

[2022-09-27 08:13] jakkra commented on #50432
No error is printed when scanning is stopped.

I'm getting a lot of dropped messages even with 1mbit baudrate. I think many events are legacy scan rsp. as there are many BT devices in the area. Any idea what more I can do
[code]

I can confirm that https://github.com/zephyrproject-rtos/zephyr/pull/50617 does NOT solve any of the issues, I got the sample in the state multiple times where resetting

[2022-09-27 08:37] optical-o commented on #50463
Firstly, i have raised an [Devzone Ticket](https://devzone.nordicsemi.com/f/nordic-q-a/92344/nrf9160-bluetooth-coexistence-insufficient-documentation)  for further clarify the functionality of the COEX interface. Their documentation is quite lacking proper description of functionality.

Regarding the direction of from the Bluetooth controller to the LTE modem using COEX0, the external PA GPIO func

[2022-09-27 08:46] Thalley commented on #50658
I won't take a look at this, but from the issue text it sounds like it's a simple matter of the host running out of buffers, and have to wait for previous buffers to be free'd.

Also, as this seems to be a simple request for enhancing the performance (if possible), then I suggest to change the type from `bug` to `enhancement`.

[2022-09-27 08:57] Thalley opened #50686 "Bluetooth: GATT: Verify of handle during reads with handle ranges"
**Is your enhancement proposal related to a problem? Please describe.**
The issue was found due to a remote server with a bug when handling read by type request with a UUID.

The basic issue is that Zephyr would perform a read by type request with a specific range, and a UUID, e.g. `start_handle = 0x10`, `end_handle=0xFFFF` and some UUID.

In this case, the remote GATT server would return with a `

[2022-09-27 08:57] cvinayak commented on #50432
@jakkra I do not see any reference to `bt_le_per_adv_sync_create_cancel()` in your sample, I am suspecting a race in the sample that would make the host to disable scanning with a new sync is created exactly after the sample has called `scan_enable()`. Please  use `bt_le_per_adv_sync_create_cancel()` before `scan_disable()`

Do let me know if you manage to see any change.

[2022-09-27 08:58] Thalley commented on #50686
@alwa-nordic I wasn't sure if I would categorize this as a bug or enhancement, so I'll let you decide on that :)

[2022-09-27 09:11] Andrewpini opened #50689 "Suspected unaligned access in Bluetooth controller connection handling"
**Describe the bug**
The zephyr mesh sample crashes with default settings. The crash seems to occur due to a unaligned memory access in the bluetooth controller handling.

**To Reproduce**
1. cd samples/bluetooth/mesh
2. west build -b < dev > -p (Tested with dev: nrf52840dk_nrf52840)
3. west flash --erase
4. Open a terminal program to view the device output.
5. Provision the device over GATT (E.g

[2022-09-27 09:14] jhedberg commented on #26109
@galak @mbolivar-nordic any feedback on my last three comments? Are these incompatibilities with the OpenFirmware devicetree spec and the currently implemented Zephyr DTS validation/parsing something that can/should be fixed in the Zephyr devicetree implementation, or should we diverge from the OpenFirmware spec?

[2022-09-27 09:24] Thalley opened #50691 "Bluetooth: Host: CONFIG_BT_LOG_SNIFFER_INFO doesn't work as intended without bonding"
**Describe the bug**
The help text of `CONFIG_BT_LOG_SNIFFER_INFO` says that it will enable logging of e.g. the LTK and private keys. While this is mostly true, the LTK is not logged if the link isn't bonding (triggered by e.g. setting `CONFIG_BT_BONDABLE=n`).

**To Reproduce**
Steps to reproduce the behavior:
1. Build the BT shell (`zephyr/tests/bluetooth/shell`) with `CONFIG_BT_BONDABLE=n`
2. Co

[2022-09-27 09:34] stephanosio commented on #50653
Added to the repository with "read" permission so that the user can be added as a reviewer.

[2022-09-27 09:34] #50653 closed

[2022-09-27 09:39] FRASTM commented on #50684
see https://github.com/FRASTM/zephyr/tree/dma_mp1

[2022-09-27 09:53] flo-carrere commented on #50658
@Thalley No, I don't think so as it is exactly what I tried to check first with no success.

Let me explain further.

This basically proposes to increase both Host/Controller configuration with some more buffer/payload/MTUs/queue/stacks and so on up to their maximum configurable value, creating huge space at every level throughout the full stack.

Commented in the `prj.conf.txt` provided are the o

[2022-09-27 10:02] #48823 closed

[2022-09-27 10:02] jakkra commented on #50432
@cvinayak good catch, missed that in the sample but unfortunately no difference. In the "real" application I had the call to `bt_le_per_adv_sync_delete` however had it after and not before `bt_le_scan_stop`, moved it but also same there.

[code]
![Capture-per-scan-stop](https://user-images.githubusercontent.com/4318648/192496694-1ad7b47f-cd28-4989-aaeb-c92e2639c916.PNG)

[2022-09-27 10:16] cvinayak commented on #50432
@jakkra You still have `[00:00:53.758,728] <wrn> main: Per syncing enabled!`

I have your updated sample, plus some commits I am using to debug here: https://github.com/zephyrproject-rtos/zephyr/pull/50696, please use this and let me know.

I have the sample running close to an hour now (I only have 7 advertisers though).

[2022-09-27 10:24] Thalley commented on #50658
@flo-carrere Keep in mind that you can only send 1 GATT notification per connection interval. Have you tried increasing that as well? Since you are sending in a `while(1)` loop, it won't do any good to increase the number of buffers, if the buffers are queued faster than they can be sent.

[2022-09-27 10:46] jakkra commented on #50432
That is printed as part of the `restart_per_adv_list_syncing` after scan_enable, so that's expected.

@cvinayak I'll try with yours.

[2022-09-27 10:57] jakkra commented on #50432
@cvinayak ran sample and code in https://github.com/zephyrproject-rtos/zephyr/pull/50696 with 7 tags and I stopped getting scan rsp. after 1 min.

So the only difference now is our tags, let me compile the exact same tag SW I use for you. Are you using nRF52833 DK?

[2022-09-27 11:01] flo-carrere commented on #50658
No I haven't, is there a kconfig option available to do so? Can you point me to a way to do so?

BTW I didn't modify any BLE stack code so far only went through during debugging.

I agree with this, that's why I emulated a reporting rate of 50ms (see pseudo-code), that I believe is in the same order of magnitude as the connection interval (~15 <-> 40ms) based on the time I receive GATT notificatio

[2022-09-27 11:09] Thalley commented on #50658
The connection interval is done at runtime, and is initially controller by the central. The peripheral may however ask to modify it by calling `bt_conn_le_param_update`.

If you also control the central, you can just modify the `conn_param` when calling `bt_conn_le_create`

[2022-09-27 11:18] rlubos commented on #49811
@maweicoltsmart Please post wireshark logs next time, it's not really helpful when you need to parse the packet manually based on the blurry photo...

Anyway, it seems that the UDP checksum field is not set in the received packet (checksum missing), such packets are by default dropped by Zephyr. In order to allow for such packet processing, you need to enable `CONFIG_NET_UDP_MISSING_CHECKSUM=y` ex

[2022-09-27 11:35] FRASTM commented on #50501
OK,

[2022-09-27 11:44] rlubos commented on #50614
I don't understand what do you mean by "when you devices got IP from switchboard". Anyway, I've tried with `qemu_x68`, reconfigured my local network so that qemu lies within `10.0.0.0/8` subnet, and statically configured `10.70.100.133` on my Zephyr device - the communication with internet works just fine. I really doubt there's some Zephyr issue that prevents network communication within a specif

[2022-09-27 11:46] cvinayak commented on #50432
Use may remove the other commits that adds the assertions code, they indicate that the scheduling is O(n) and not all radio events are getting scheduled due to overlapping periodic syncs.

(i will take your tags once I do more investigation using the current advertisers I have).

I was able to reproduce, log attached.
[20220927_1.log](https://github.com/zephyrproject-rtos/zephyr/files/9655042/2022

[2022-09-27 11:58] flo-carrere commented on #50658
As I expected, even when **diminishing the reporting rate to 1 Hz** it does not change the time spent in GATT notify.

I measure **a constant 1.482ms** to "notify" a 17 bytes long HID report update, and I receive the callback from the controller 40ms after (using the default connection interval).

My understanding is that this time should be spent for 2 actions on host-side:
- Packetizing the GATT

[2022-09-27 11:59] erwango commented on #50590
Thanks @tom-van for these insights. We'll try to fix configurations accordingly.

[2022-09-27 12:05] jakkra commented on #50432
Great, hopefully with my tag SW you will be able to reproduce faster.

Often it takes not long for me to reproduce, let me know if you need me to test anything.
Here I added a scan start every 10s and it recovers. [scan-try-enable-periodically.log](https://github.com/zephyrproject-rtos/zephyr/files/9655192/scan-try-enable-periodically.log)

[2022-09-27 12:11] rlubos commented on #35719
Resolved with https://github.com/zephyrproject-rtos/zephyr/pull/49464

[2022-09-27 12:11] #35719 closed

[2022-09-27 12:17] cvinayak commented on #50432
@jakkra I have updated the sample in #50696 (commit hash 6ff6a4c39a2d6b1ea6d1c69b37217b69fa223e5b), removed the commit that add assertion checks and removed the possible race in calls to `bt_le_scan_update()` in Host.

Please try the sample now and let me know if it helps.

[2022-09-27 12:32] cvinayak commented on #50432
Are you using my sample in #50696 unmodified?

[2022-09-27 12:34] mmahadevan108 commented on #50603
@Mani-Sadhasivam, if you decide to cherry-pick this fix into the Lora module, then we might be able to get this in for 3.2 as this would be a bug fix.

[2022-09-27 12:49] jakkra commented on #50432
@cvinayak yes
![Capture-build-log](https://user-images.githubusercontent.com/4318648/192530718-268d35d4-1e90-4ae8-aaa0-6568edad5e98.PNG)

[2022-09-27 13:25] FRASTM opened #50709 "tests: arch: arm: arm_thread_swap fails on stm32g0 or stm32l0"
**Describe the bug**
running the tests/arch/arm/arm_thread_swap  on the   nucleo_g071rb or nucleo_l073rz will fail  (cortex M0+)

Please also mention any information which could help others to understand
the problem you're facing:
 In the tests/arch/arm/arm_thread_swap/src/arm_thread_arch.c  the hard fault occurs after
line 326  `z_move_thread_to_end_of_prio_q(_current);`
in
`#if defined(CONFIG_AR

[2022-09-27 13:52] cvinayak commented on #50432
@jakkra ok, then it must be a controller bug... I just have to wait longer to reproduce it. If I am able identify the cause and have a fix tonight, I will let you know the PR.

[2022-09-27 14:12] #49938 closed

[2022-09-27 14:13] mmahadevan108 commented on #50709
@FRASTM can you help narrow down to the commit that introduced the failure.

[2022-09-27 14:23] dberlin commented on #50603
FWIW - it's not a regression in the strictest sense because it never worked.
It has been broken on the 1276 since async receive was added :)

But it's definitely a bug fix, and it will be surprising to anyone who tries to use LoRa with zephyr, since it affects 100% of async receives on the sx127x.  The sx127x chips (which silently fail) are *much* more popular than the sx126x series (which works).

[2022-09-27 14:56] mmahadevan108 commented on #50520
@Tronil can you give the PR a try and let us know if it addresses the issue reported.

[2022-09-27 15:11] cvinayak commented on #50432
@jakkra I have some updates in #50696. Please fetch latest and give a try.

[2022-09-27 15:13] erwango commented on #50590
Here is the status on the tests/searches I've made so far.

| board | Current config | Impacted | Flash with connect_assert_srst  |
|---|---|---|---|
| nucleo_f429zi | st_nucleo_f4.cfg (srst_nogate srst_only) | Yes | ok |
| nucleo_f103rb | st_nucleo_f103rb.cfg (srst_nogate srst_only) | Yes | ok  |
| nucleo_f030r8 | st_nucleo_f0.cfg (srst_nogate srst_only) | No  | ok |
| nucleo_l073rz | st_nucleo_l

[2022-09-27 15:33] galak commented on #26109
Config space would be the PCI register config space vs general PCI MMIO access.

[2022-09-27 15:35] galak commented on #26109
This is an area that needs improvement in the edtlib parsing.

[2022-09-27 15:35] galak commented on #26109
We need to enhance the tooling, NOT diverge from the OF spec.

[2022-09-27 15:38] erwango commented on #50590
Adding the following in the `openocd.cfg` solves the `west debug` issue:
[code]
That works, but I'm a bit reluctant to add this blindly on all STM32 based boards.

[2022-09-27 15:52] enjiamai commented on #49614
After bisect, the
- tests/kernel/sched/schedule_api/kernel.scheduler.multiq_no_timeslicing
- tests/kernel/sched/schedule_api/kernel.scheduler.no_timeslicing
started failed from ec8a3ba7a8ca9de53d9171aaef5dcd856d0b3b66.

And this is a newly added test cases, the failure is order dependent.
- tests/kernel/sched/schedule_api/kernel.scheduler.slice_perthread

[2022-09-27 15:55] galak commented on #26109
how are you defining PCIE_CFG_REG?  I need to review the OF pci spec on the zero size.

[2022-09-27 16:10] fabiobaltieri commented on #50656
Hi, Zephyr is an open-source project, and as such we welcome and encourage the community to submit patches directly. Would you be able to submit a pull request with the fix? This is the [contribution guideline documentation](https://docs.zephyrproject.org/latest/contribute/guidelines.html#contribution-guidelines).

[2022-09-27 16:17] cvinayak commented on #50463
I would start with designing based on the requirement of the protocol.

This is what is happening in the timeline of a connectable advertiser, in the Zephyr Controller implementation (do not get confused with product specification radio states, they are for generic use):
![image](https://user-images.githubusercontent.com/6350656/192507888-828f22e7-c526-43fd-a8a4-8ae375db8cc7.png)

To this we need

[2022-09-27 16:19] mmahadevan108 commented on #50579
cc @carlescufi

[2022-09-27 16:23] stephanosio commented on #50452
this means that it is running out of memory. updating the test filter (min_ram) should fix this.

[2022-09-27 16:24] mmahadevan108 commented on #50691
@carlescufi can you please help assign this Issue

[2022-09-27 16:28] mmahadevan108 commented on #50381
@CodingGhost Does that fix the issue you are seeing.

[2022-09-27 16:41] dabekjakub commented on #50656
I will whenever I find time to check the documentation for the platform - left it out here just so We remember.  Do we use TLB feature right now ? If we do this should be high priority. I will consult it with @mwasko

[2022-09-27 16:52] rodrigobrochado commented on #43736
Thanks for sharing. Have you seen the CONFIG_OPENTHREAD_SETTINGS_RAM? It was recommended only for testing when I saw it, not sure if it changed since. Some more [here](https://discord.com/channels/720317445772017664/884102400149966930/953227937807745064) and [here](https://discord.com/channels/720317445772017664/884102400149966930/955387536111460373).

[2022-09-27 18:47] sylvioalves commented on #50615
@sam131208  thanks for reporting. Indeed there is an issue in there.

[2022-09-27 19:35] npitre opened #50728 "missing SMP fixes for RISC-V"
A few issues prevent RISC-V from working properly in an SMP configuration.

Fixes for those issues are provided in PR #50679.

***

riscv: pmp: fix stackguard when used on SMP

The IRQ stack in particular is different on each CPU, and so is its
stack guard PMP entry value. This creates 2 issues:

- The assertion ensuring the last global PMP address is the same
  for each CPU does fail;

- That las

[2022-09-27 20:23] anangl commented on #50619
For which commit was this issue observed? I cannot reproduce it with the recent `main`. For c4cc1621a5a2fc6d99287fe22aed324ba4e4e803 on nRF52840 DK (target `nrf52840dk_nrf52811`) I got the following output:
[code]

[2022-09-27 20:38] edersondisouza commented on #50728
Why not at least describe the issues here? Like, copy them from the PR, as this issue is somehow created from the PR. Why was this created at all?

[2022-09-27 20:42] npitre commented on #50728
Fair enough, will do.

[2022-09-27 20:47] optical-o commented on #50463
It is fine that is just information, for us where i will be getting more information about timing of the CoEx. I really appreciate you guiding me in the implementation.

Maybe for the first implementation, we could support coexistance using only the COEX2 type of signal. Which indicates that the LTE modem will be active. Could we simply add simple skipping to next advertisement interval. This woul

[2022-09-27 20:56] jshoen commented on #50611
I can submit a PR, but may take me some time.  I have not submitted to zephyr before.

[2022-09-27 22:23] macpijan commented on #50501
@kborowski3 Do you have these changes shared somewhere publicly already?

[2022-09-27 22:28] jshoen commented on #50611
PR Submitted.  PR Number 50731

[2022-09-27 22:46] marc-hb commented on #50284
Did you remove `-g` as mentioned above?

[2022-09-28 02:24] shuai1x opened #50732 "net: tests/net/ieee802154/l2/net.ieee802154.l2 failed on reel_board due to build failure"
**Describe the bug**
When delete the platform_allow in testcase.yaml, we can run tests/net/ieee802154/l2/net.ieee802154.l2 on reel_board.
On reel_board platform,  tests/net/ieee802154/l2/net.ieee802154.l2 failed due to build failure.

Please also mention any information which could help others to understand
the problem you're facing:
 - reel_board
 - tests/net/ieee802154/l2/net.ieee802154.l2 Build

[2022-09-28 06:26] Mani-Sadhasivam commented on #50603
@mmahadevan108  Done! https://github.com/zephyrproject-rtos/zephyr/pull/50733

[2022-09-28 07:05] cvinayak commented on #50432
@jakkra I have been doing some investigation on race conditions, my sample with debug aids added is in commit 8403f5013a3dbdf56a1dc39854cccbddb9d3be72 of #50696. It take over an hour of running for me to discover the scan issue, could you please try the sample at your end and provide me with the console log (preferrably from boot until the stall plus another 10 mins of logging to check if `Scan is

[2022-09-28 07:09] jakkra commented on #50432
@cvinayak On it!

[2022-09-28 07:14] nordicjm commented on #50284
Different files excluding cmake:
[code]
As per:

Manual exclusions doesn't seem positive for a system that, apparently, should have the same build files

[2022-09-28 07:23] FRASTM commented on #50709
I can identify sha1 e7591615724894a2319ea2c09d7eb21b4263fbf0 where test PASSED (with stm32g071rb and stml32073rz nucleo boards)
and from sha1 6edcee886cf1f4231cc0c826fe0cf9fedf324ba7 the  test FAILED (on both boards)
(In between it seems that python version changed  as on that sha1 we had a build error)

[2022-09-28 07:41] stephanosio commented on #50611
Setting this issue to high priority since it is a kernel bug and we definitely want it fixed in this release.

[2022-09-28 07:42] jakkra commented on #50432
@cvinayak Here is a log where it happend 3 times in a row, the first two ones I did not wait 10 min after scan stopped, but after the last reset I waited about 5 min. I also changed to print every 100 scan_recv instead of 500 if that may give more info with more prints.
[gh-50432-22-09-28-09.txt](https://github.com/zephyrproject-rtos/zephyr/files/9662615/gh-50432-22-09-28-09.txt)

[2022-09-28 07:52] #50615 closed

[2022-09-28 07:53] #50728 closed

[2022-09-28 08:02] cvinayak commented on #50432
@jakkra I have been running for over an hour now.... may be my advertisers the default samples/bluetooth/direction_finding_connectionless_rx are not exercising the problem on the receiver.... I will switch to using your advertiser on my 7 boards. Will keep you posted.

[20220928_2.log](https://github.com/zephyrproject-rtos/zephyr/files/9662738/20220928_2.log)

[2022-09-28 08:16] carlocaione commented on #50728
Because this is the formal procedure of when you want to merge an hotfix in the upcoming release quickly.

[2022-09-28 08:22] cvinayak commented on #50432
@jakkra still hard for me to reproduce using your 1 chain advertiser hex.... my receiver hex is
[zephyr-aoa-receiver-multiple-202209281019.zip](https://github.com/zephyrproject-rtos/zephyr/files/9662911/zephyr-aoa-receiver-multiple-202209281019.zip)

Log of non-reproduction when 7 advertisers using your hex:
[20220928_3.log](https://github.com/zephyrproject-rtos/zephyr/files/9662923/20220928_3.log

[2022-09-28 08:27] shuai1x opened #50735 "intel_adsp_cavs18: tests/boards/intel_adsp/hda_log/boards.intel_adsp.hda_log.printk failed"
**Describe the bug**
On intel_adsp_cavs18 platform, tests/boards/intel_adsp/hda_log/boards.intel_adsp.hda_log.printk failed due to No Console Output(Timeout).
But it only appeared on daily report, and I can't reproduce it by manual operation.

Please also mention any information which could help others to understand
the problem you're facing:
 - intel_adsp_cavs18
 - tests/boards/intel_adsp/hda_log

[2022-09-28 08:31] rogeryou commented on #46399
draw.io

[2022-09-28 08:33] kborowski3 commented on #50501
Not yet and we are not planning it for upcoming days due to other responsibilities.

[2022-09-28 09:00] nordicjm opened #50737 "tfm_ram_report does not work with sdk-ng 0.15.0"
**Describe the bug**
The `tfm_ram_report` target does not work with sdk-ng 0.15.0, output is as follows:
[code]

Likely caused by the tfm build outputting a dwarfv5 elf instead of dwarfv4

**To Reproduce**
Build `samples/tfm_integration/tfm_secure_partition` for `nrf5340dk_nrf5340_cpuapp_ns` then run `ninja tfm_ram_report`

**Expected behavior**
The command to work

**Environment (please complete

[2022-09-28 09:03] stephanosio commented on #50737
It looks like a DWARF version issue (GCC 12 defaults to DWARF v5, which pyelftools does not yet fully support).

Zephyr already forces DWARF v4 (https://github.com/zephyrproject-rtos/zephyr/pull/35852), it looks like this flag is not being properly passed down to the TF-M build system.

[2022-09-28 09:18] carlescufi commented on #49917
Downgrading to low priority since we are currently unable to reproduce.

[2022-09-28 09:37] erwango commented on #50590
Current status:

Assuming openocd is correct and that the commit that reveals the issue should be kept, fixing the issue globally (fix flash and debug on all impacted boards) requires a fix (likely in `openocd.cfg`) on all boards.
Two issues with that approach:
- we don't know for sure which boards are impacted (I don't have all the boards at hand, and even if we can guess rules of thumb, nothing

[2022-09-28 09:46] jakkra commented on #50432
@cvinayak I can reproduce no problem using your .hex. You could try the 16 chain .hex instead as that may help to reproduce faster. I think the difference for us is the environment, I experimented a bit and removing the antenna on my receiver (will receive less scan_recv from legacy advertisers around) then it seems to take longer until it gets to the problem.

[2022-09-28 09:57] efra-mx-aqua commented on #49071
@carlescufi @boaks After doing analysis with the server we found that:

* Our Server, based on bouncy castle DTLS (.NET) is not compliant with the handshake re-transmission.
* Increasing the timeout to 12 seconds solved out issue
* Stating with a small timeout (1 sec.) was triggering a FATAL alert due two concurrent handshakes.

I apologize for the late reply.
Tank you for the support

[2022-09-28 09:59] rlubos commented on #49071
@efra-mx-aqua Thank you for the update. Does that mean we can close the issue then?

[2022-09-28 10:20] kkasperczyk-no opened #50744 "net: ipv6: Allow on creating incomplete neighbor entries and routes in case of receiving Router Advertisement"
**Is your enhancement proposal related to a problem? Please describe.**
Currently it looks like Zephyr implementation assumes that after receiving Router Advertisement, neighbor entry for the source router and route to it should be added only if RA includes SLLAO (Source Link Layer Address Option) field and in result also Link Layer address.
Handling SLLAO:
https://github.com/zephyrproject-rtos/ze

[2022-09-28 10:32] cvinayak commented on #50432
#jakkra the 16 chain hex too does not easy reproduce the issue on the sample I have in the PR #50696. The log ~ 30 mins, and the receiver is still running.
Now this is getting hard for me to debug anymore.
[20220928_5.log](https://github.com/zephyrproject-rtos/zephyr/files/9663985/20220928_5.log)

[2022-09-28 10:35] stephanosio opened #50746 "Stale kernel memory pool API references"
**Describe the bug**

There are various stale references to the kernel memory pool API (`k_mem_pool`) in the current Zephyr codebase.

The `k_mem_pool` support was (supposed to be) removed in the Zephyr v2.5.0 release as part of #28611, but it seems to have missed a few references.

[code]

[2022-09-28 10:35] stephanosio commented on #50746
cc @andyross @peter-mitsis @dcpleung

[2022-09-28 10:43] carlocaione opened #50747 "cache API rework"
The current cache API needs a deep rework as came out in #50136.

### The problem
The cache operations must be quick, optimized and possibly inlined. The current API is clunky, functions are not inlined and passing parameters around that are basically always known at compile time.

See [include/zephyr/cache.h](https://github.com/zephyrproject-rtos/zephyr/blob/main/include/zephyr/cache.h)

### The

[2022-09-28 10:44] carlocaione commented on #50747
@andyross @lgirdwood @lyakh @nashif @carlescufi @stephanosio

[2022-09-28 10:53] aborisovich commented on #50284
Grrrr again... linux world problems. When I see this kind of thinking it just makes me angry.
@paperclip4465 do you realize that Zephyr project and many other dependant projects use [west tool](https://docs.zephyrproject.org/latest/develop/west/index.html) perform most of the operations? Do you realize, that west tool **by design** works on hardcoded structures of files and folders? You can't just

[2022-09-28 11:02] stephanosio commented on #50590
Sure, as long as the Zephyr-side configurations are going to be fixed.

I will revert https://github.com/zephyrproject-rtos/openocd/commit/98d9f1168cbdc59e4c2c0b1f01b225a4df9ad98a in the Zephyr SDK 0.15.1-rc2 (I already tagged rc1 today).

[2022-09-28 11:07] jakkra commented on #50432
@cvinayak I see, I'll grab a radio shielded box and play around with the transmitters and receiver and see if I can get a way to reproduce faster.

[2022-09-28 11:11] carlescufi commented on #50598
@jmrua feel free to open a Pull Request if you have identified a fix for this.

[2022-09-28 11:12] #50520 closed

[2022-09-28 11:15] carlescufi commented on #50658
Can you please clarify if you are using an nRF52840 or an STM32M4 as the controller?

[2022-09-28 11:17] carlescufi commented on #50658
You mean you were looking at the controller chip here? Because the LL would run on the controller chip.

[2022-09-28 11:19] carlescufi commented on #50658
How did you measure that ~80%?

[2022-09-28 11:48] Thalley commented on #50691
Exactly. Generally if you have a sniffer trace of an encrypted link, you should be able to apply the encryption key (LTK) at any point to do the decryption. Ellisif may be the only sniffer software at this point that supports that (not sure).

[2022-09-28 11:49] flo-carrere commented on #50658
@carlescufi

I use an nRF52840, I was referring to the STM32M4 inside
Edited the issue description

No, I only debugged the host side.
My bad if the LL is misleading, I meant the layers traversed on host side down to the HCI event creation (GATT/ATT/ACL/...).
Edited the issue description

Same techniques as for the `bt_gatt_notify` call.
Getting the time before and after (us), getting the differen

[2022-09-28 12:00] nashif commented on #50619
tried again with latest main commit and I do not have the issue, so something went wrong or I had a dirty tree.

[2022-09-28 12:00] #50619 closed

[2022-09-28 12:03] alwa-nordic commented on #50686
Did you see this in a sniffer log? Then is clearly a bug in the Zephyr ATT client. Obviously the start handle of the next read-by-type operation must be larger than the handle of all of the returned attributes.

[2022-09-28 12:08] Thalley commented on #50686
Not from a sniffer log, but from using the BT shell to do `audio discover`:

[code]

This was from testing at UPF, and the remote server were aware of this issue.

[2022-09-28 12:19] alwa-nordic commented on #50686
The log output lacks evidence suggesting that we repeat a request-by-type with the same start handle. I looked at the code, in `parse_read_by_uuid` and it looks like it should work.

I suspect that the server is returning an attribute outside the requested range. Would you like to try the following just above the line with `/* Update start_handle */`?

[code]

[2022-09-28 12:24] alwa-nordic commented on #50686
Do you think it's useful to gracefully handle this quirk by just skipping any attributes outside the requested range?

[2022-09-28 12:26] Thalley commented on #50686
I think you are correct in your suspicion (it it also what I wrote is the problem in the issue).

I don't have access to the faulty server, so I cannot just apply this to test if it works. It would require modifying the Zephyr GATT server to be faulty and then try with this patch on the GATT client. Unfortunately I do not have the time for doing this at the moment.

I have no not tried modifying a

[2022-09-28 12:28] Thalley commented on #50686
Yes and no - Yes as in we can just skip it, but no as in that we will still need to update our `start_handle` correctly.

I am unsure of whether we should try to simply mitigate this by skipping the response, or if we should disconnect from the device since it is sending an invalid response. Since this issue caused an infinite loop, the former solution may not be enough.

[2022-09-28 12:59] henrikbrixandersen opened #50754 "MCUboot update breaks compilation for boards without CONFIG_WATCHDOG=y"
**Describe the bug**
The MCUboot update in cfc96eaacceeaa09bb19d8df35af7bdbbf7af189 breaks compilation for at least the `twr_ke18f` board (and likely all other boards having a DTS `watchdog0` alias with status `okay` but not setting `CONFIG_WATCHDOG=y`).

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -b twr_ke18f ../bootloader/mcuboot/boot/zephyr/`
2. See error:

[code]

**Expec

[2022-09-28 13:15] jakkra commented on #50432
@cvinayak Good news, I can now reproduce inside a shielded box with 7 tags. I made some changes. In the attached .zip you have the patch in aoa_receiver_multiple, .hex for your nrf52833-dk tags and a log.

What I changed:
- Tags advertise an extra legacy adv. at 7.5ms.
- Tags advertise ext. adv. at 7.5ms.
- Receiver does **not** restart scanning and does **not** initialize any syncs.

[gh-50432-22

[2022-09-28 13:16] henrikbrixandersen commented on #50754
This comes from `CONFIG_BOOT_WATCHDOG_FEED` now defaulting to `y` regardless of the selected SoC family (and even more important, regardless if `CONFIG_WATCHDOG` was enabled.

Comparing the MCUboot repository changes in #50148 reveals that `CONFIG_WATCHDOG=y` was added for the boards enabled in the sample.

[2022-09-28 13:27] cvinayak commented on #50432
Hmm, minimum legacy and ext. advertising intervals by BT Spec is 20 ms, is the 7.5 ms a typo?

[2022-09-28 13:29] jakkra commented on #50432
@cvinayak Sorry, yes of course `interval_min, interval_max` is 0x0020 => 20ms

[2022-09-28 13:38] bbilas commented on #50754
For some reason, it detects `DT_NODE_HAS_STATUS(DT_ALIAS(watchdog0), okay)` even though there is no watchdog alias in the DTS.

<pre>
	aliases {
		led0 = &orange_led;
		led1 = &yellow_led;
		led2 = &green_led;
		led3 = &red_led;
		led4 = &tri_red_led;
		led5 = &tri_green_led;
		led6 = &tri_blue_led;
		pwm-led0 = &orange_pwm_led;
		pwm-led1 = &yellow_pwm_led;
		pwm-led2 = &green_pwm_led;
		pwm-led3

[2022-09-28 13:40] henrikbrixandersen commented on #50754
No. The alias is defined at the SoC level. The issue here is that MCUboot is trying to obtain a reference to that device even with `CONFIG_WATCHDOG=n`.

[2022-09-28 13:42] nvlsianpu commented on #50754
I will make CONFIG_BOOT_WATCHDOG_FEED dependent on CONFIG_WATCHDOG.

[2022-09-28 13:46] bbilas commented on #50754
Ouch, I have not completely thought that it can be taken from the SoC level... I feel so stupid right now.

[2022-09-28 14:02] nvlsianpu commented on #50754
fix proposal : https://github.com/zephyrproject-rtos/mcuboot/pull/92

[2022-09-28 14:06] #50654 closed

[2022-09-28 14:26] CodingGhost commented on #50381
no it doesnt. Im still testing stuff and will report back when I found something new.

[2022-09-28 14:27] stephanosio commented on #50746
Keeping this open since there are still leftovers that require more intrusive cleaning as noted in https://github.com/zephyrproject-rtos/zephyr/pull/50749#issue-1389197533.

[2022-09-28 14:31] cvinayak commented on #50432
@jakkra I am able to reproduce the issue (i remove my debug prints), I will continue my investigations:
![image](https://user-images.githubusercontent.com/6350656/192806494-5bd5e308-39af-49e3-ab31-0b9b5be67cce.png)

[2022-09-28 14:36] holgerschurig opened #50759 "callback for USB CDC_ACM line changes needed"
**Is your enhancement proposal related to a problem? Please describe.**

In my Zephyr application, I want to react to USB CDC_ACM line changes. In my specific case, I know that the host application always triggers the "case SET_CONTROL_LINE_STATE" in usb/device/class/cdc_acm.c whenever it open the USB serial connection. So I wanted to reset some internal "hanging" state when this happened.

There

[2022-09-28 14:37] holgerschurig commented on #50759
https://0x0.st/oWhY.txt -- first patch attempt, modifies the current callback

https://0x0.st/oWh0.txt -- second patch attempt, creates a completely new callback

[2022-09-28 14:53] teburd commented on #50735
Is this with or without #50450

[2022-09-28 15:05] paperclip4465 commented on #50284
This has nothing to do with west, it is a cmake problem. Using cmake without west [is supported](https://docs.zephyrproject.org/latest/develop/west/without-west.html). I am working on an alternate build tool which uses a different strategy than west to ensure reproducibility and help with my own sanity during deployments.

[2022-09-28 15:21] mbolivar-nordic commented on #48887
@gregshue my opinion is that you are missing the point here.

Basically all of us work on out of tree modules and we do care about them; please accept that.

I think what people are trying to tell you is that your attempts to rescope this issue are unwelcome distractions from what we are trying to do first. As has previously been stated we are trying to tackle one thing at a time, and that's not m

[2022-09-28 15:43] gregshue commented on #48887
Perhaps we need to clearly describe the range of out of tree users we are trying to keep operational.  I assumed it included end users doing freestanding and workspace application modules as well as downstream module developers. Are they not part of the scope trying to be addressed?

[2022-09-28 15:51] jmrua commented on #50598
@carlescufi After some more debugging, I think that the problem may be a problem with the [Bluetooth layer 2 code,](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/l2/bluetooth/bluetooth.c) specifically in the send function ( bt_l2cap_chan_send). For the same payload, (The same case as above, TCP/UDP packet with the string "test" ) the return value for UDP with a destination link

[2022-09-28 16:04] SkryptX opened #50766 "Zephyr toolchain doesn't setup CMake host environment correctly"
The toolchain of Zephyr doesn't correctly setup the CMake environment when using Zephyr on a Linux/Posix host.

Examples of this are:
- `CMAKE_SIZEOF_VOID_P` is not set
- The whole `find_package` mechanism for libraries on a Linux host does not work nicely
- `GnuInstallDirs` also doesn't work

I sadly do not yet understand enough from the setup Zephyr tries to achieve, but when using a Posix build

[2022-09-28 16:11] stephanosio commented on #50766
cc @tejlmand

[2022-09-28 16:16] stephanosio commented on #50766
I suppose you mean "build system" and not toolchain?

Also, Zephyr SDK does not include any host toolchains.

I do not think this is something that is supported. @tejlmand can confirm.

[2022-09-28 16:38] nvlsianpu opened #50768 "storage: DT `fixed-partition` with `status = "okay"` requires flash driver"
**Describe the known issue**
The build failure incase where a DT node ``fixed-partition`` is on a flash  device with `status = "okay"` but with no driver compiled in.

Problem might happen if someone is using a common partition map, but one of partition is unused therefore its driver ca be excluded from the application build.

This behaviour is side effect of the #47193
**Expected behavior**

**Im

[2022-09-28 16:43] marc-hb commented on #48887
I think it depends what code they write. Yes for users who follow the guidelines TO BE DEFINED (that's the entire purpose of this issue, read its description again). Others, probably not.

Types of users will be defined by which rules they follow (the rules do not exist yet)

A formal definition of this range will be the _conclusion_ of this work, not the starting point.

So no one can tell yet wh

[2022-09-28 16:48] mbolivar-nordic commented on #48886
Process WG:

After approval in the Architecture WG.

Change to: "the architecture working group shall define what the merge process will be for a particular treewide change"

---------------

- @nashif: we do need approvers to review
- @fabiobaltieri: current 4 days/2 days/etc are hard to understand. If we want to enforce, maybe we should have the bot enforce this with a DNM tag being applied.
- @

[2022-09-28 16:49] mbolivar-nordic commented on #48886
Next steps:

@mbolivar-nordic to clean up the language for the final proposal and go for TSC approval. If approved, I can update the documentation

[2022-09-28 16:50] mbolivar-nordic commented on #46824
Process WG: defer; @yperess couldn't make it.

@nashif next steps should be "complete, deprecate, remove;" I'd like to year @yperess 's points about this, though.

[2022-09-28 17:00] mbolivar-nordic commented on #48887
Process WG:

- @mbolivar-nordic we made progress on defining the treewide process changes; can move on to working on discussion in https://github.com/zephyrproject-rtos/zephyr/issues/48887#issuecomment-1225992073
- @fabiobaltieri don't we have a `z_` prefix for private interfaces / internals?
- @nashif this is not consistently applied and those items shouldn't even appear in `include/zephyr`; we s

[2022-09-28 17:04] ThadHouse opened #50771 "mcan driver has tx and rx error counts swapped"
**Describe the bug**
The error counts in the mcan driver are swapped in can_mcan_get_state

**Expected behavior**
TX errors to report as TX, RX errors to report as RX

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Additional context**
PR to fix #50770
Bug has existed since originally implemented.

[2022-09-28 17:34] SkryptX commented on #50766
Yes, my bad. Has nothing to do with Zephyr SDK.

I understand that it isn't supported currently.

I am not interested in the `native_posix` board _exclusively_. I am currently trying to build a much more useful and less hacky posix board (obviously based on the `native_posix` board). My experiments so far did show that it is possible to build a Zephyr application on Linux that is configurable with

[2022-09-28 17:56] yperess commented on #46824
Sorry, I was stuck in another meeting. The idea of this workflow was to provide the following:

1. We have a new API that Zephyr itself is in the process of migrating to. We cannot mark the old API as deprecated or it'll break our own CI.
2. We use the blocklist CI tool to prevent new uses of the old API.
3. We complete the migration of the old API to the new one (because new uses of the old API a

[2022-09-28 18:29] mbolivar-nordic commented on #48886
Final language:

- This process covers how to make "treewide" changes. The project GitHub shall add a 'treewide' label for use on issues and PRs that are treewide changes.
- The person proposing a treewide change shall write an RFC issue describing the change.
- The architecture WG shall include the issue on the agenda and discuss whether the project will accept or reject the cleanup, with escalat

[2022-09-28 18:36] Machine-Hum opened #50774 "ESP32 GPIO34 IRQ not working"
I can't find anything in the docs about GPIO34 not being able to produce an interrupt. I know it's an "input only" pin, but this should still be able to produce an interrupts.

[code]
When the top line is uncommented, pin27 will produce an interrupt fine. When I use the bottom line it doesn't work. I have jumped the two pins together with a wire.

[code]

[code]
Output...
[code]

Any ideas would b

[2022-09-28 18:44] dkalowsk commented on #44070
@swinslow since Discord is pointing back towards you, figure I'll tag you here in the issue as well

[2022-09-28 18:52] sylvioalves commented on #50774
@Machine-Hum There was an issue regarding input pins and this PR fixed that: #50725
Can you update your repo and test again to confirm whether your issue was also fixed?

[2022-09-28 19:21] Machine-Hum commented on #50774
I've updated it and am seeing the same issues. Thanks for your reply.

[2022-09-28 19:26] ThadHouse opened #50776 "CAN Drivers allow sending FD frames without device being set to FD mode"
**Describe the bug**
Many of the CAN drivers don't check that the device is set to FD mode before sending an FD frame. Depending on the device, this could do a lot of random things. On mcan (The device I found this on originally), if the DLC is higher then 8, that higher DLC is written to the bus, and then only 10 bytes of data are written, and nothing else, which causes all devices to see an erro

[2022-09-28 19:26] sylvioalves commented on #50774
oh, I think I know the reason: GPIO34 needs to be addressed by `gpio1 2`.
` rdy-gpios = <&gpio1 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;`
Please, try that out.

[2022-09-28 19:33] Thalley opened #50777 "LE Audio: Receiver start ready command shall only be sent by the receiver"
**Describe the bug**
The ASCS Receiver start ready opcode, trigger by `bt_audio_stream_start`, shall only be sent by the receiver, i.e. the client for source endpoints, and the server for sink endpoints. Furthermore, this should not sent automatically by the ASCS implementation as it is currently, but should be done by the upper layers when they are in fact, ready.

**To Reproduce**
N/A

**Expecte

[2022-09-28 19:33] Machine-Hum commented on #50774
Exact same issue trying this :(

[2022-09-28 19:37] Thalley opened #50778 "LE Audio: Audio shell: Unicast server cannot execute commands for the default_stream"
**Describe the bug**
The `default_stream` is not properly for the unicast server, and thus remains NULL. The means that none of the `bt_audio_stream_*` commands can be executed.

**To Reproduce**
N/A

**Expected behavior**
The `default_stream` should be set and all the commands callable as the unicast server.

**Impact**
Minor; just missing features for the unicast server.

**Logs and console outp

[2022-09-28 19:44] sylvioalves commented on #50774
Should be without `GPIO_PULL_DOWN` as GPIOS34~39 have no PU nor PD resistors.

`rdy-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;`

[2022-09-28 19:49] Thalley opened #50780 "LE Audio: Bidirectional handling of 2 audio streams as the unicast server when streams are configured separately not working as intended"
**Describe the bug**
If a unicast server have 2 ASEs; 1 sink and 1 source, and the client sets up the sink endpoint first into the streaming state with, and then sets up the source endpoint with the same CIS, then the unicast server does not handle that well.

This is because the ISO QoS are stored in the `bt_audio_stream` struct, and the stream isn't bound to the endpoint until after the endpoint

[2022-09-28 19:53] Thalley opened #50781 "LE Audio: `mpl init ` causes warnings when adding objects"
**Describe the bug**
When call `mpl init` in the audio shell, it is unable to add many of the objects it tries to add.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the BT shell with the `audio.conf` config file
2. `bt init`
3. `mpl init`
4. See error

**Expected behavior**
That `mpl init` initializes the media player without warnings.

**Impact**
Minor: It would appear that the OTS

[2022-09-28 19:57] Thalley opened #50782 "LE Audio: The MPL shell module should not use opcodes"
**Is your enhancement proposal related to a problem? Please describe.**
When using the `mpl` shell module, it should not use opcode to execute operations, as the user will unlikely know all the opcodes. This makes the `mpl` shell very hard to use.

**Describe the solution you'd like**
Add `mpl start`, `mpl stop`, `mpl pause`, etc. shell commands to make it more usable by humans.

**Describe altern

[2022-09-28 20:03] Thalley opened #50783 "LE Audio: Reject ISO data if the stream is not in the streaming state"
**Describe the bug**
In LE Audio there is both the CIS state and the state of the endpoint(s).

The endpoint(s) may not yet be in the streaming state while the CIS has been connected. It is a spec violation to send data on such a stream, but as the receiver of the data we should also verify the state and reject it if we indeed receive ISO data on a `bt_audio_stream` not in the streaming state.

**

[2022-09-28 20:08] Thalley opened #50784 "LE Audio: Missing Media Proxy checks for callbacks"
**Is your enhancement proposal related to a problem? Please describe.**
Many, if not all, callbacks to `mprx.local_player.calls` are missing a NULL check, e.g.

[code]

This can cause fatal errors when accessing NULL pointers.

**Describe the solution you'd like**
Add NULL checks before calling any of the callbacks.

**Describe alternatives you've considered**
Possibly we can just require them to

[2022-09-28 20:21] Thalley opened #50786 "Bluetooth: Host: Extended advertising reports may block the host"
**Is your enhancement proposal related to a problem? Please describe.**
In the case that we are doing scanning in a very busy environment (e.g. hundreds of extended advertising reports per second), then the host will receive so many events that it may effectively block the host from working, if it receives more reports than it can handle. Many reports may cause the events to be queued, and thus ca

[2022-09-28 20:22] Thalley commented on #50786
@rugeGerritsen This is the host issued I mentioned at the UPF when receiving many scan reports.

[2022-09-28 20:34] #50771 closed

[2022-09-28 20:37] rugeGerritsen commented on #50786
@Thalley, thanks for creating this issue. Unfortunately, I think there is no way we can know what extended advertising reports we can discard, and that is also true for reports with data status set to `BT_HCI_LE_ADV_EVT_TYPE_DATA_STATUS_COMPLETE`. The problem is that we don't know if such a report is both first and last or only last.

Example: We receive advertising reports from one advertiser. It

[2022-09-28 21:24] bjarki-trackunit opened #50788 "Use YAML files to describe device driver capabilities to validate kconfig/devicetree coherency"
## Introduction

We need a place to describe the capabilities of a driver. This information is used to validate coherence between the included device drivers and the devicetree before compilation, and to provide promises to the application regarding how a device driver may be interacted with.

The specific information we need:
1. Does a driver exists
2. Which devices does the driver support
3. How

[2022-09-28 21:34] aeremin opened #50789 "west: runners: blackmagicprobe: Doesn't work on windows due to wrong path separator"
It seems that `blackmagicprobe` runner is broken on windows. Running
[code]
results in error like this

[code]
(actual file location is `D:\Dev\hardware\zephyr\firefly_zephyr\build\zephyr\zephyr.elf` in that case).

This happens because:
1) `self.elf_file` is set [here](https://github.com/zephyrproject-rtos/zephyr/blob/b56310d4d4ff9e7725388246ab2fbb3ae1905272/scripts/west_commands/runners/blackmag

[2022-09-28 23:38] Machine-Hum commented on #50774
Awesome, that does it!

[2022-09-28 23:38] #50774 closed

[2022-09-29 01:14] rogeryou opened #50795 "Add NAND Flash driver and NFTL driver to enable LittlefS to run on NAND Flash"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.
This issue is an extension of #46399.
At present, LittleFS only supports running on NOR Flash. However, some users want LittleFS to run on NAND Flash, so we are currently developing NFTL and NAND Flash drivers to achieve this goal.
**Describe the solution you'd like**
A c

[2022-09-29 01:17] yajunzhi opened #50796 "bluetooth/audio buf define"
In audio module, these buffer deined as:
NET_BUF_SIMPLE_DEFINE_STATIC(rsp_buf, CONFIG_BT_L2CAP_TX_MTU);
NET_BUF_SIMPLE_DEFINE_STATIC(ase_buf, CONFIG_BT_L2CAP_TX_MTU);
NET_BUF_SIMPLE_DEFINE_STATIC(cp_buf, CONFIG_BT_L2CAP_TX_MTU);
...
The buff are the same size, the advantage is that the code implemented sample, but looks a little more occupation resource.
So if merge to a public buffer poll for all

[2022-09-29 01:28] shuai1x commented on #50735
Without https://github.com/zephyrproject-rtos/zephyr/pull/50450. Because I can't reproduce it, it only appeared on daily. So I haven't tried https://github.com/zephyrproject-rtos/zephyr/pull/50450.

[2022-09-29 01:40] albertofloyd commented on #49032
@jvasanth1 could you take a look into this?
Even after setting espi_saf0 device to okay, generic error occurs.

Change on top of mainline.
+&espi_saf0 {
+       status = "okay";
+};

/home/jamezaar/zephyr-sdk-0.15.0/arm-zephyr-eabi/bin/../lib/gcc/arm-zephyr-eabi/12.1.0/../../../../arm-zephyr-eabi/bin/ld.bfd: app/libapp.a(main.c.obj): in function `saf_read':
/home/jamezaar/ecwork/zephyr_mchp/sample

[2022-09-29 06:06] cvinayak commented on #50432
@jakkra There were many scenarios that each lead to the scan to stall, I have included the required changes and your sample (with debug aids) in the updated #50696 with head commit at 39634c3873116b10fc9d110c4c15e6154de5297d for debugging/reproduction.

I have updated #50617 with the commits (head at a56526fda490cc859bf86960be69cad6ab496c2c), please test your sample and application with these fixe

[2022-09-29 06:21] stephanosio commented on #50590
Here is a test build with https://github.com/zephyrproject-rtos/openocd/commit/98d9f1168cbdc59e4c2c0b1f01b225a4df9ad98a reverted:
https://github.com/zephyrproject-rtos/sdk-ng/suites/8525740612/artifacts/380154374

@erwango can you confirm if this fixes the issue?

[2022-09-29 06:27] huelsenfruchtzwerg commented on #47598
I'm also currently looking into implementing blockwise transfers, primarily considering registration(-updates) and (regular, still need to think a bit about composite-) reads/notifications for now; and I'd like some quick feedback on some thoughts I'm having:
I'm currently considering  ~3 approaches:

cache ops: serialize the operation payload at once into a single buffer when triggered (i.e. in c

[2022-09-29 06:37] kruithofa commented on #50587
I haven't been  able to reproduce the behaviour yet, but I think the problem may be solved by increasing the number of available local procedure contexts, for example by adding the following lines to your prj.conf file:

Or by running 'west build -t menuconfig':

- under 'sub Systems and OS Services -> Bluetooth' enable 'show advanced features',
- under 'sub Systems and OS Services -> Bluetooth ->

[2022-09-29 06:53] hermabe commented on #50786
If we discard any An we must discard all previously reassembled reports from A (A1, ... , A(n-1)) and keep discarding until we get a report from A with `data_status==complete`. However, to do this we sort of have to do the reassembly anyway. The current implementation should not reassemble reports from different advertisers, but we will run into [this warning](https://github.com/zephyrproject-rtos

[2022-09-29 07:00] jori-nordic commented on #50658
@flo-carrere

There is no STM32M4 (STmicro SoC) in nordic chips. I suppose you're rather referring to the Cortext-M4 CPU core.

In any case >1ms processing is excessive I totally agree. We have tests with real HW downstream (in nRF Connect SDK) that measure all kind of things, including performance, so that comes as a surprise to me. The performance tests are measuring throughput so it's possible

[2022-09-29 07:08] mrfuchs opened #50801 "JSON parser fails on multidimensional arrays"
The following code examples are based on the current test case `test_json_decoding_array_array()`:

https://github.com/zephyrproject-rtos/zephyr/blob/489e8eb02c2a7bd46a9e73ee1a07a9bd20a61e98/tests/lib/json/src/main.c#L258-L271

1. Encoding data using an array-array descriptor

Encoding the sample data that is given in `test_json_decoding_array_array()` will fail - `json_obj_encode_buf()` won't eve

[2022-09-29 07:49] erwango commented on #50590
@stephanosio I confirm this works on the boards mentioned earlier in this issues and some more. I also confirm no regression on the boards that were not hit by this bug (tested >10 boards from various STM32 series)

With one exception: `nucleo_f103rb`
On this specific board, `reset_config connect_assert_srst` and the [patch for west debug](https://github.com/zephyrproject-rtos/zephyr/issues/50590#

[2022-09-29 08:35] gautierg-st commented on #50554
After investigation, it appears that it is a case of unstable test.
A git bisect has shown that commit ad1d6d passes and following commit 32ad01 fails, but the only difference between the two is in the MAINAINERS.yml file.
A simple modification of the error message (to display the number of bytes sent and received) makes the test PASS.
Similarly, a repetition of an instruction makes the test PASS.

[2022-09-29 08:40] hunterhu3000 commented on #50452
The SRAM for data access is only64KB, so we cannot enlarge the min_ram
As the malloc/calloc takes continuous memory, we alloc 24.9KB first and then 2 12.8KB small memory, the problem can be fixed.

[2022-09-29 08:43] cvinayak commented on #50432
Going back to original sample with periodic sync creations with `CONFIG_BT_CTLR_SCAN_AUX_SET=2`, I am observing assertion with this. Do let me know if you see the same, you will need to revert back to `CONFIG_BT_CTLR_SCAN_AUX_SET=1` or remove setting it and use the default of 1.

[2022-09-29 08:45] stephanosio commented on #50452
why not? you are setting the minimum required RAM filter for the test.

that is completely up to the libc malloc implementation and not a reliable fix.

[2022-09-29 08:49] stephanosio commented on #37255
Until you want to flash/debug your targets and do many other USB stuff, and also you want to integrate directly to a native Windows IDE.

[2022-09-29 08:58] hunterhu3000 commented on #50452
Please refer to MEC17 data sheet chapter 7.1 https://github.com/MicrochipTech/CPGZephyrDocs/blob/master/MEC172x/MEC172x-Data-Sheet.pdf

Depending on the device, the first SRAM, which is optimized for code access, is
• 352kB
The second SRAM, which is optimized for data access, is
• 64KB

Correct me if my understanding is wrong, I'm not sure if there are some other ways to enlarge the data segment

[2022-09-29 09:33] tom-van commented on #50590
I learned from your conversation that you prefer to run OpenOCD without `reset_config connect_assert_srst`.
This way is not as reliable as with `connect_assert_srst` and OpenOCD inevitably shows some errors as it tries to talk to a sleeping and unresponsive target. The first `reset halt` should restore the communication with the target so this way should be viable too if you tolerate the errors be

[2022-09-29 09:43] erwango commented on #50590
@tom-van Thanks for your time on this issue

In general we're quite open to changes and personally I don't have strong preference, but there are 2 points going against this change today:
- It needs to be deployed on more than 100 boards in tree (with a good part that can't be tested directly/easily) and on a unknown number of out of tree boards.
- It requires some additional changes to be compatib

[2022-09-29 09:44] jakkra commented on #50432
@cvinayak I'm testing and so far looking good. I'm running our main application and so far not seen any crashes redgarding `CONFIG_BT_CTLR_SCAN_AUX_SET=2` and no scan stopped. I'll be testing more in the coming hours and will come back with results when done.

[2022-09-29 09:48] flo-carrere commented on #50658
@jori-nordic

Yes indeed, my bad

[2022-09-29 09:59] koffes commented on #37255
@mkschreder : Although WSL2 works nicely, it adds a whole new layer of complexity which we want to shield users from.

[2022-09-29 10:15] #50691 closed

[2022-09-29 10:58] maxstreitberger opened #50812 "MCUmgr udp sample fails with shell - BUS FAULT"
**Describe the bug**
I am trying to run the `mcumgr` sample in `zephyr/samples/subsys/mgmt/mcumgr/smp_svr/` with an udp connection and a shell. However, I can only send one command when I compile with `overlay-shell-mgmt.conf` and `overlay-udp.conf`:
[code]

After flashing, the code boots as usual, and I can execute this command, which works fine:
`./mcumgr -c stm32udp echo hello`

But if I rerun

[2022-09-29 11:04] Thalley commented on #50596
@stephanosio Did your PR fix all broken links from this issue? I think not, right?

[2022-09-29 11:06] stephanosio commented on #50596
It did, for the latest documentation.

[2022-09-29 11:07] Thalley commented on #50596
That is true, but for the non-latest docs we still have a lot of broken links, which are also reported by this issue.

I can open a new GH issue for those if you like, or we can reopen this.

[2022-09-29 11:27] gmarull commented on #50596
Old docs are never re-built, we should probably just keep fixes in LTS branches.

[2022-09-29 11:27] stephanosio commented on #50596
I guess it makes sense to fix the broken links for the currently supported releases (2.7, 3.0, 3.1); though, we do not have a clear policy on them.

I will rename the issue to reflect that the scope of this is for the previous supported releases.

[2022-09-29 11:40] PerMac commented on #50389
I think we are reaching a bit too deep level of inception: getting a wrapper to wrap over another wrapper wrapping this wrapper :).
I believe the hierarchy should go like this: cmake -> west -> twister.  I think I am convinced with Anas's argumentation (presented in various other places, e.g. https://github.com/zephyrproject-rtos/zephyr/pull/36729#pullrequestreview-752684699) that the core build s

[2022-09-29 12:04] yperess commented on #50389
Adding @keith-zephyr and @jackrosenthal to this discussion since we just started an internal discussion about a virtual environment internally

[2022-09-29 12:37] MaureenHelm commented on #48780
@erwango Is there a reason to keep both this issue and #50040 open? I think we can close this one.

[2022-09-29 12:38] erwango commented on #50590
I'm reopening this issue, as we're not done with it.

[2022-09-29 12:49] erwango commented on #48780
Right, let me close this one. Thanks for noticing.

[2022-09-29 12:49] #48780 closed

[2022-09-29 13:22] fabiobaltieri commented on #46759
Hey was going through the slides: since the new criteria have a strong depenency on tests passing on Tier 1 hardware, but the Tier 1 testing infrastructure would be owned by the vendor (unless I misunderstood), should we have some more detailed and explicit requirement on what's expected from the vendor team to keep the platform at tier? Trying to be defensive about unresponsive vendor maintainers

[2022-09-29 13:35] fabiobaltieri commented on #46759
About Severity/Priority, I understand that severity would do a better job to classify the issue, but then what do we do with the information? At the end of the day an issue either blocks the release or doesn't, and we already have two tags that do that (priority:high and release blocker, I'd argue we shoudl get rid of one). What do do with the severity bit of information? I'm afraid we'd end up wa

[2022-09-29 13:56] beriberikix commented on #37255
While you can use WSL2 to flash/debug (I wrote about it [here](https://blog.golioth.io/program-mcu-from-wsl2-with-usb-support/)) and I do, many companies still require use of Windows and Windows tools. Even still, when we do trainings, more than 2/3rds of participants are on Windows for their personal machines. Having Windows support is rather important, for better or for worse :)

[2022-09-29 14:27] #50754 closed

[2022-09-29 14:42] #50432 closed

[2022-09-29 14:50] carlescufi commented on #49071
Closing based on reporter's feedback.

[2022-09-29 14:50] #49071 closed

[2022-09-29 14:57] stephanosio commented on #50452
See https://github.com/zephyrproject-rtos/zephyr/pull/50804#pullrequestreview-1125471350

[2022-09-29 15:07] carlescufi commented on #50598
Thanks for the analysis! In that case I'll ask @jori-nordic to take a look, since he recently looked into the L2CAP internals.

[2022-09-29 15:21] teburd commented on #50747
Would creating a userspace friendly wrapper around DMA buffers (that does the work of flushing/invalidating at the right times perhaps) allow for these to *not* be syscalls?

Is there another use case that requires them to be syscalls?

[2022-09-29 15:39] #50611 closed

[2022-09-29 16:22] cvinayak commented on #50432
@jakkra hope your testing has not reproduce the scan stop in this issue? and this issue is closed.

[2022-09-29 16:26] jakkra commented on #50432
@cvinayak All seems good! I'm mostly testing so there are no regressions, have tests running over night. Thanks for nailing it down :)

[2022-09-29 16:28] yperess commented on #43099
I'm running into this issue from the Pigweed CI now only the check wasn't catching it. It's on CMake 3.24.2. Can we just get rid of the cmake version check? Or just ban `cmake_path` in favor of https://cmake.org/cmake/help/latest/command/get_filename_component.html?

[2022-09-29 16:29] yperess commented on #43099
I set priority medium because this is breaking downstream CIs (feel free to adjust)

[2022-09-29 16:36] keith-zephyr commented on #48150
@huhebo Do you any feedback for Yuval's proposal? https://github.com/zephyrproject-rtos/zephyr/issues/48150#issuecomment-1249623867

[2022-09-29 16:42] CodingGhost commented on #50381
so I tested alot today and found out it had something todo with the settings subsystem.
I then made the effort and updated my sample app to zephyr 3.1 with NCS and suddenly it worked!
so although I dont know why the cherry pick didnt work (could be user error) updating to 3.1 solves my issues.

Ps. I already tried upgrading my complete program to 3.1 and NCS (coming from 2.7 PlatformIO) but Im str

[2022-09-29 16:45] cvinayak commented on #50432
@jakkra as I have seen assertion in ull_scan_aux.c line 200 with `CONFIG_BT_CTLR_SCAN_AUX_SET=2` and I know why (primary scan context no longer would have reference to auxiliary scan context when 2 or more auxiliary PDU reception has been spawned. Instead the implementation has to search for auxiliary scan contexts that have their parent as the primary scan context); I would ask you to not use it

[2022-09-29 16:48] galak commented on #10157
@gmarull here's the issue for generating docs based on DTS info.

[2022-09-29 17:14] mbolivar-nordic commented on #32225
@galak my thinking there is to match https://docs.zephyrproject.org/latest/develop/api/api_lifecycle.html. In particular, 'experimental' is a signal 'this can change or be removed later', while 'unstable' means 'this can change later'.

Been thinking about how we would want to flag changes to any bindings marked stable to add a label or something for failing CI if we change a stable binding in an

[2022-09-29 21:28] mbolivar-nordic commented on #43099
I'm using 3.24.2 as well and I don't see this. Using the cmake that comes with Arch Linux.

[2022-09-29 21:32] dkalowsk commented on #44070
Connecting the MR that applied said patch: https://github.com/zephyrproject-rtos/zephyr/pull/45815

[2022-09-29 22:37] mbolivar-nordic commented on #46759
Commitment to responsiveness is a requirement for your board to be in tier 1.

The "stick" we can use as a project to enforce responsiveness that goes along with the "carrot" of being featured more prominently in tier 1 is that you can drop to tier 3 if you're not responsive.

[2022-09-29 22:42] galak commented on #50788
This is not true, we can easily describe 1 driver to multiple dts compatibles in Kconfig, we do it today (see `drivers/adc/Kconfig.ads1x1x`):

[code]

[2022-09-29 22:45] galak commented on #50788
One downside to the YAML file approach is we have to keep information in-sync information between the Kconfig and capabilities YAML file.  If we shift this information to just the capabilities YAML than we introduce yet another "configuration" system.

[2022-09-30 03:46] enjiamai commented on #49611
We find this is related to "HPET timer on SMP". We observed that in timer_behavior test, the expect time (10 ticks) is about to have  one tick of error. This won't happens when not in SMP mode or using the TSC deadline timer. See following  log:
[code]

By the way, a tick align before start testing is also needed to reduce the error.

[2022-09-30 03:59] cvinayak commented on #50463
Please refer to:
`ll_radio_state_abort()`
`ll_radio_state_is_idle()`
and
ticker function usage in https://github.com/zephyrproject-rtos/zephyr/blob/f738f494eb23188aa4a30939a60e9963643992ea/drivers/flash/soc_flash_nrf_ticker.c

I am thinking aloud here, like how flash driver co-operatively halts the CPU during active Bluetooth states and roles, the COEX2 type signal should setup a ticker instance t

[2022-09-30 04:34] yperess commented on #43099
It seems that the toolchain used to build cmake for our CI is the same as the one used for PyPI which is how we're coming across this. The issue still exists in 3.24.2 depending on how cmake is built. I propose that we remove the version check and just see if `cmake_path` returns the same path, thoughts @mbolivar-nordic?

[2022-09-30 04:52] yperess opened #50836 "Update process for complex features"
## Introduction

The current workflow of having fully flushed out PRs for new features doesn't scale well. See for example PRs for:
- #44098 new sensor API
- #45370 new sensor subsystem
- #45601 USBC subsystem

I'd like us to revisit a more iterative approach that will still guarantee the same high quality PRs into the `main` branch.

### Problem description

Some PRs (especially for new subsystem

[2022-09-30 04:52] yperess commented on #50836
@sambhurst @keith-zephyr

[2022-09-30 06:17] jukkar commented on #50744
@kkasperczyk-no Please send a PR for your proposal, it is then public and people can find and comment on it.

[2022-09-30 06:30] hakehuang commented on #50354
@asemjonovs  thanks a lot, so we need change z_assert* to z_expect* for cases that need afterwards clean up. @enjiamai , maybe you can apply this change in cmsis-dsp cases

[2022-09-30 06:34] optical-o commented on #50463
| Taking the ticker use like in the flash driver seems a reasonable solution for input signal.

I will take a look at the nrf_flash ticker. It looks very accessible to use as guide. Next week i will hopefully find time to create first implementation.

| Good, need to check if there are available PPI/DPPI and GPIOTE to achieve this side-by-side with PA/LNA.

Have you identified, which PPI/DPPI chan

[2022-09-30 06:46] stephanosio commented on #50836
cc @mbolivar-nordic @carlescufi

[2022-09-30 06:47] migdard opened #50837 "> I think the CI build failures are unrelated to the changes, but will need to be resolved as well. Maybe @nandojve can help out here?"
Agree, and I believe I have narrowed it down already.
Whenever `CONFIG_UART_ASYNC_API` is set, one needs to have some properties (dmas, dma-names) defined for the  sam0_uart driver. If they are not (which is the case on this board), compilation fails.

Should we provide working default values for these in the devicetree ?

_Originally posted by @migdard in https://github.com/zephyrproject-rtos/zep

[2022-09-30 06:58] bjarki-trackunit commented on #50788
Corrected issues

[2022-09-30 07:26] jori-nordic commented on #50598
@jmrua could you log the exact L2CAP payload? I'm thinking it differs between the packet types you listed.
A simple
[code]
inside `bt_l2cap_chan_send` (before the `return` ofc) should suffice.

The return value of chan_send is a bit cryptic, because it will sometimes return a lower value, even though it has queued the rest of the packet and will transmit it without needing further calls. I'll make

[2022-09-30 07:26] tejlmand opened #50840 "Support `.last_section` and `_flash_used` on all architectures"
**Is your enhancement proposal related to a problem? Please describe.**
The following achitectures contains a `.last_section` section to facilitate flash / rom region usage calculation: riscv, arm, arm64.
https://github.com/zephyrproject-rtos/zephyr/blob/1d879b93c59e8f1f48d86db5794600769c86facb/include/zephyr/arch/riscv/common/linker.ld#L402-L404

https://github.com/zephyrproject-rtos/zephyr/blob/

[2022-09-30 07:33] nordic-piks opened #50841 "high SRAM usage with picolibc on some userspace platforms"
**Describe the bug**
The tests:
tests/kernel/common/kernel.common.picolibc
tests/lib/c_lib/libraries.picolibc
tests/lib/mem_alloc/libraries.libc.picolibc.mem_alloc
tests/lib/sprintf/libraries.picolibc.sprintf_new

Does not fit into SRAM - SRAM overflow.

Observed at:
- nrf52dk_nrf52832

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52dk_nrf52832 connected
2. go to your zephyr dir
3.

[2022-09-30 07:36] nordic-piks opened #50843 "tests: kernel: timer: timer_behavior: kernel.timer.timer - SRAM overflow on nrf5340dk_nrf5340_cpunet and nrf52dk_nrf52832"
**Describe the bug**
The tests:
tests/kernel/timer/timer_behavior/kernel.timer.timer

Does not fit into SRAM - SRAM overflow.

Observed at:
- nrf52dk_nrf52832
- nrf5340dk_nrf5340_cpunet

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52dk_nrf52832 connected
2. go to your zephyr dir
3. call ./scripts/twister -T tests/kernel/common -p nrf52dk_nrf52832 --device-testing --device-serial /

[2022-09-30 07:47] bjarki-trackunit commented on #50788
The YAML files inform the builds system of which device drivers exist and what they are capable of. The capabilities of a device driver is determined by the source code, the Kconfig configures which sources to include for a given device driver.

I would not say the YAML files configure anything, they inform the build system of the capabilities implemented in the source code for a device driver. Th

[2022-09-30 07:53] carlocaione commented on #50747
Possibly but we cannot exclude other possible uses. Quoting @andyross from discord: `Whether cache control instructions are priviledged or not is going to be arch-specific.  It's probably safe to assume that usermode code will never care, but at the same time we should probably support the API wherever we can.`

I'm thinking for example user-space apps using OpenAMP. In that case OpenAMP is using

[2022-09-30 07:57] KarthikeyanM-eaton opened #50844 "zcbor module apis which are used for mcu boot functionality are not building in cpp file against v3.1.0"
**Describe the bug**
We have created mcuboot test code, added following function in cpp file and we are able to build against zephyr v3.0.0. But if we try to build same cpp file against zephyr v3.1.0, It is giving build error, or else if we convert same file into c it is building success.

![image](https://user-images.githubusercontent.com/96125299/193218492-97ebf86d-63fc-4e0a-b5bf-a941ba4e7a3c.pn

[2022-09-30 07:58] cvinayak commented on #50463
No. The define in `bt_ctlr_used_resources.h` is used by zephyr drivers based on those that use PPI/DPPI and dynamically allocate the free ones. The ones used by Controller is reserved using that header file.

The Controller so far has very little documentation, but most of the ones are privately accessible in the form of presentations we hold in our regular F2F meetings with contributing member co

[2022-09-30 08:26] jakkra commented on #50432
@cvinayak We would really like to be able to use those new fixes in nrf-sdk, do you think those could be cherry-picked into https://github.com/nrfconnect/sdk-nrf ?

[2022-09-30 09:05] dabekjakub commented on #50656
Closing - confirmed 128 was correct.

[2022-09-30 09:05] #50656 closed

[2022-09-30 09:08] stephanosio commented on #50844
@de-nordic looks like there is a somewhat serious bug in zcbor ...

To quote [GCC manual](https://gcc.gnu.org/onlinedocs/gcc/Compound-Literals.html):

even in C, this can (if not already) result in a dangling pointer depending on the compiler implementation ...

[2022-09-30 09:12] #50689 closed

[2022-09-30 09:53] caco3 commented on #50587
Dear @kruithofa

Thank you for looking into it.

I have  `CONFIG_BT_CTLR_ADVANCED_FEATURES` already activated because we need it for `CONFIG_BT_CTLR_ULL_HIGH_PRIO` and `CONFIG_BT_CTLR_XTAL_THRESHOLD`.

I now disabled `CONFIG_BT_LL_SW_LLCP_LEGACY` again and instead set `CONFIG_BT_CTLR_LLCP_LOCAL_PROC_CTX_BUF_NUM=8`.

The log entries then no longer show up and I didn't find any regression.

[2022-09-30 10:20] stephanosio commented on #50843
SRAM overflow is not a bug.

[2022-09-30 10:20] #50843 closed

[2022-09-30 10:20] stephanosio commented on #50841
SRAM overflow is not a bug.

[2022-09-30 10:21] huhebo commented on #48150
@yperess and @keith-zephyr

The proposal seems use a virtual sensor concept for the separated bias data, then it can have separated update frequency according usage needs.

So, for ISH windows, which need same frequency with sensor data, can still use the combined sensor type definition, but with other cases which bias data updates rarely, can use the separated virtual sensor for just bias data.

[2022-09-30 10:29] stephanosio commented on #50841
While SRAM overflow in itself is not a bug, it is strange that the picolibc version of `tests/lib/c_lib` is using much more SRAM than the minimal libc version on `nrf52dk_nrf52832`.

For `qemu_cortex_m3`, there is only a negligible difference:

[code]

[2022-09-30 10:49] stephanosio commented on #50841
# nrf52840dk_nrf52840, minimal libc

Memory region         Used Size  Region Size  %age Used
           FLASH:       96420 B         1 MB      9.20%
            SRAM:       15112 B       256 KB      5.76%
        IDT_LIST:          0 GB         2 KB      0.00%

[code]

[2022-09-30 11:33] stephanosio commented on #50841
The direct cause seems to be that the nRF52 platforms build with `CONFIG_USERSPACE=y` by default and it has `CONFIG_MPU_REQUIRES_POWER_OF_TWO_ALIGNMENT=y`:

https://github.com/zephyrproject-rtos/zephyr/blob/3110aa3a93171ce0e5bc62a1e37cf3235fac1e86/lib/libc/picolibc/Kconfig#L11-L15

https://github.com/zephyrproject-rtos/zephyr/blob/3110aa3a93171ce0e5bc62a1e37cf3235fac1e86/lib/libc/picolibc/libc-hoo

[2022-09-30 11:38] cvinayak commented on #50432
@jakkra This has to be taken up as formal support request by logging a request in https://devzone.nordicsemi.com, it will be done.

[2022-09-30 11:45] vgeneves opened #50853 "STM32F7 series can't run at frequencies higher than 180MHz"
**Describe the bug**

When configuring clock with a frequency higher than 180MHz the board is not able to start.
It hangs just after configuring the clock (`clock_stm32_ll_common.c:stm32_clock_control_init`).

By looking at the code :
`LL_SetFlashLatency` checks `LL_PWR_IsEnabledOverDriveMode` for frequencies higher than 180HMz.

Unfortunately overdrive mode is enable later in `set_up_plls`.

By c

[2022-09-30 11:52] kruithofa commented on #50587
Thanks! I suggest that for the time being you keep this setting (i.e. CONFIG_BT_CTLR_LLCP_LOCAL_PROC_CTX_BUF_NUM=8).
I'll leave the issue open until I've discussed/thought more about whether we need a better fix for this (or if increasing the number of buffers is sufficient)

[2022-09-30 12:03] stephanosio commented on #50841
@nordic-piks [can you please check if https://github.com/zephyrproject-rtos/zephyr/pull/50854 reso](https://github.com/zephyrproject-rtos/zephyr/pull/50854)

[2022-09-30 12:49] nordicjm commented on #50812
Can't replicate this here on an nrf5340 with the same overlays:
[code]

[2022-09-30 13:15] nordic-piks commented on #50841
@stephanosio PR works fine, thanks.

[2022-09-30 13:17] nordicjm commented on #50812
Can't reproduce any issue with `native_posix` either, sending very large kernel shell commands

[2022-09-30 13:41] jakkra commented on #50432
@cvinayak Thanks, created https://devzone.nordicsemi.com/f/nordic-q-a/92485/backporting-periodic-adv-scanning-to-nrf-connect-from-upstream-zephyr

[2022-09-30 13:52] #50841 closed

[2022-09-30 14:19] erwango commented on #50306
@maxstreitberger Can you try: https://github.com/zephyrproject-rtos/zephyr/pull/50860 ?

[2022-09-30 14:53] rlubos commented on #47598
@hakehuang Thank you for your input and summary. I think that given the discussion above, we were leaning towards the first method, to serialize the whole message into a single, large buffer, despite of the method drawbacks. The other, on the fly serialization method seemed quite complex to implement for serveral reasons (problematic write operaion, as you've also noticed; also a need to modify wr

[2022-09-30 15:07] #50737 closed

[2022-09-30 15:13] teburd opened #50861 "Intel ADSP HDA and GPDMA Bugs"
DMA destination/source addresses are reversed for the link in stream.

GPDMA was missing the correct DMA peripheral id (dma_slot) usage.

Fixed by #50051

[2022-09-30 15:18] #50861 closed

[2022-09-30 15:19] fabiobaltieri commented on #50861
https://github.com/zephyrproject-rtos/zephyr/pull/50051 merged.

[2022-09-30 15:36] #50306 closed

[2022-09-30 16:27] flo-carrere commented on #50658
Hi again,

As you had a concern on the HCI_SPI driver implementation, I investigated a bit further and realized that adding a delay (randomly placed and tuned at 200us) in the `bt_spi_send` function **was totally solving my issue**.

Making the overall `bt_gatt_notify` call duration -> ~15us (instead of 1.5ms as stated in the issue) which is in line with what I expected.

[code]

It seems that the

[2022-09-30 18:23] gregshue opened #50866 "module: example-application: set module name as recommended"
**Is your enhancement proposal related to a problem? Please describe.**
Example-application is not following the Zephyr recommendation to explicitly set the module name.

**Describe the solution you'd like**
Update example-application to follow the recommendations and verify the name is set as expected - by:

1. Set `name:` in module.yml.
2. Extend the module-level CMakeLists.txt to fail if the mo

[2022-09-30 18:39] #50423 closed

[2022-09-30 19:40] rerickson1 opened #50868 "DHCP never binds if a NAK is received during the requesting state"
**Describe the bug**
If a NAK is received during the requesting state the DHCP process starts over.
This can lead to a state where a device keeps trying DHCP forever and never succeeds.

**To Reproduce**
This was discovered when running on a network with two DHCP servers.
DHCP server 1 has slots left in its IP address range and DHCP server 2 has no slots left so it only replies with NAKs.

**Expec

[2022-10-01 09:47] WajahatRiaz opened #50872 "Error while installing python dependecies"
I'm setting up zephyr for my eclipse IDE using the guide from the following link:
[https://www.nxp.com/docs/en/training-reference-material/BUILD-YOUR-FIRST-ZEPHYR-APPLICATION-ON-I.MX-RT.pdf](url)

I use the following command to install dependecies:
`pip3 install -r zephyr/scripts/requirements.txt
`

But i'm getting the following error message:
<img width="731" alt="image" src="https://user-images.

[2022-10-01 10:15] WajahatRiaz commented on #50872
I believe I found a solution. It's trivial but solves the issue. Open the requirements.tx file on your windows and simply change **hub==2.0** to **hub==3.0.0**. Then save the file and run the following command:
`pip3 install --user -r zephyrproject/zephyr/scripts/requirements.txt`

[2022-10-01 13:10] mrfuchs commented on #49588
@ashegheparyshun, would you give #47989 a try?

[2022-10-01 14:59] vChavezB opened #50874 "Cant disable bluetooth for BLE peripheral after connection with Central"
**Describe the bug**
I have been trying to disconnect a peripheral itself from a BLE Central but I get back error values from the api `bt_disable `and `bt_conn_disconnect`

Target platform: NRF52833 DK

**To Reproduce**

use project peripheral_hr

https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/bluetooth/peripheral_hr

and replace main.c with these modifications

https://github.com/

[2022-10-01 15:06] vChavezB commented on #50874
Now I am able to disconnect the peripheral, forgot to add the correct reason in the disconnect API

BT_HCI_ERR_REMOTE_USER_TERM_CONN

[2022-10-01 18:13] fgrandel opened #50875 "net: ip: race in access to writable net_if attributes"
**Describe the bug**

The net_if API may be concurrently accessed by several threads. Write access to certain net_if attributes (notably link-layer address) is therefore guarded by a mutex lock.

Locking has only been introduced for write access while non-atomic read access does not seem to be guarded. This seems to create a race condition during concurrent read and write access to net_if attribut

[2022-10-01 18:17] #50874 closed

[2022-10-02 15:33] zpm1066 commented on #32286
@vanwinkeljan, @cvetaevvitaliy ,
I now have display rotation for all the above displays updated, working and fully tested with the latest Zephyr RTOS version.

I’ll look into how to doing a pull request to get the changes into Zephyr. I may need some assistant for the pull request. Thanks.

[2022-10-02 17:10] DaAwesomeP commented on #44318
Has anyone tested this?

[2022-10-03 00:34] #47477 closed

[2022-10-03 07:00] kkasperczyk-no commented on #50744
@jukkar ah ok, I thought my fork changes should be visible to anyone. I opened PR and linked to this issue.

[2022-10-03 07:26] jmrua commented on #50598
@jori-nordic Here are the logs with your suggested addition

UDP Global IP:
[code]

UDP Link-Local:

[code]

TCP:

[code]
I also attach here some Wireshark screenshots for the UDP Link-Local and TCP packets
UDP LL:
![udp](https://user-images.githubusercontent.com/82411856/193522411-cda6ea56-77fc-4337-91b4-13157b360f19.png)
TCP:
![tcp](https://user-images.githubusercontent.com/82411856/193522370-65

[2022-10-03 07:49] jukkar commented on #50744
Well, your forked changes are visible but usually we do not review code that is not in the PR.

[2022-10-03 08:07] jori-nordic commented on #50658
Yeah there might be an issue with thread priorities then. Because with `k_yield`, the kernel will only allow threads that have >= prio of the current thread to run. But with a `k_sleep` or any other blocking call on a kernel object, lower priority threads will be allowed to run.

[2022-10-03 08:08] #44164 closed

[2022-10-03 08:09] #49298 closed

[2022-10-03 08:09] zephyrbot opened #50892 "[backport v3.1-branch] backport of #45971 failed"
This issue was created automatically because the backport of #45971 to `v3.1-branch` failed.

The backport to `v3.1-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.1-branch` and the `compare`/`head` branch is `backport-45971-to-v3.1-branch`.

[2022-10-03 08:44] vibhor-meshram opened #50895 "ADC Voltage Reference issue with STM32U5 MCU"
Bug Description:-

I am using nucleo_u575zi_q board and wanted to implement ADC on it. my overlay file looks as follows:-

/ {
    zephyr,user {
        /* adjust channel number according to pinmux in board.dts */
        io-channels = <&adc1 1>;
    };
};

&adc1 {
    #address-cells = <1>;
    #size-cells = <0>;

    channel@1 {
        reg = <1>;
        zephyr,gain = "ADC_GAIN_1";
        zephy

[2022-10-03 09:30] Thalley opened #50897 "Bluetooth: Support for generating HCI/btmon log while using the shell"
**Is your enhancement proposal related to a problem? Please describe.**
Currently it is impossible to enable `CONFIG_BT_DEBUG_MONITOR_UART` and use the shell, as `CONFIG_UART_CONSOLE` needs to be disabled to output the `btmon` log.

Since both the HCI/`btmon` log and the shell application are both very useful, it would be great if both could be used at the same time in some way.

**Describe the so

[2022-10-03 09:38] fabiobaltieri opened #50898 "Zephyr 3.3 release checklist"
- [x] Make sure the release plan is kept up to date:
   - See https://github.com/orgs/zephyrproject-rtos/projects/13

- [x] Pre RC1 Steps
   - [x] Create v3.3.1 and v3.4.0 milestone so that features that don't make it to the release can be assigned a milestone
   - [x] Verify that all security-critical external components and external dependencies are up to date (previous: https://github.com/zephy

[2022-10-03 10:26] erwango commented on #50895
@vibhor-meshram There were somesignificant changes on ADC during last release. Did you check status on V3.2 ?

[2022-10-03 10:43] fomst commented on #49373
Hi @erwango,

Sorry for late answer, i had other stuff to do meantime.
unfortunately no progress from my side. I've not been able to reproduce this issue on pure ST's stack.
If i'll get anything new i'll inform you asap.

[2022-10-03 15:12] nashif opened #50922 "Improve management and documentation of API states"
## Introduction

Current API [overview of API](https://docs.zephyrproject.org/latest/develop/api/overview.html) is maintained manually and does not cover all public APIs provided by Zephyr. We need  to introduce a better solution for maintaining such data and increase the coverage and have all APIs listed and their state updated whenever they change.

There are other issues with such table and a l

[2022-10-03 15:13] nordicjm opened #50923 "RFC: Stable API change: Rework and improve mcumgr callback system"
## Introduction

mcumgr has a callback system which allows applications to register for events and get callbacks on those events, this allows the application to know the current status of e.g. a firmware update or block access to a file.

### Problem description

The problem with the current callback method is that there is not a single callback system, there are 3 or 4 entirely separate callback

[2022-10-03 17:03] flo-carrere commented on #50658
@jori-nordic

Do you mean there is a way to solve the issue by changing the priorities associated to BT threads according to my "app threads" (by the use of **already existing config options**)? If so, can you point to relevant guidelines to achieve such behavior?

At this moment, I can reproduce the problem with only a single thread (main thread with the default priority) calling the `bt_gatt_not

[2022-10-03 17:55] yperess opened #50928 "Create a zephyr module/fork for CMSIS-DSP"
## Introduction

The current module/fork of CMSIS is out of date since CMSIS split off the DSP library to https://github.com/ARM-software/CMSIS-DSP. We should mirror that.

### Problem description

It is no longer possible to track ToT CMSIS without having a separate module for the DSP library and set the correct module dependencies

### Proposed change

Create a fork of the CMSIS-DSP repo and add

[2022-10-03 17:57] stephanosio commented on #50928
Related discussion: https://github.com/zephyrproject-rtos/zephyr/pull/50012#pullrequestreview-1126273027

[2022-10-03 17:59] carlescufi commented on #50928
Makes sense. This is not quite a new module request but it'd still be nice to use the template:
https://docs.zephyrproject.org/latest/contribute/external.html#submission-and-review-process

[2022-10-03 20:49] attie-argentum commented on #50256
@benediktibk - thanks for your patch, I've reviewed it and would like to also relocate the STOP on error - see #50933.

I've credited you in the commit message, but if you'd prefer to make the PR I'm more than happy to pass it to you.

[2022-10-04 04:27] stephanosio commented on #8922
@cfriedt technically, this issue is not resolved.

https://github.com/zephyrproject-rtos/sdk-ng/issues/350

https://github.com/zephyrproject-rtos/zephyr/issues/46032

[2022-10-04 05:28] vibhor-meshram commented on #50895
@erwango I tried to compile adc example using zephyr 3.2.0 version for nucleo_u575zi_q board. I set the reference to "ADC_REF_VDD_1_2". On compilation I got following error:-
`C:/Users/zephyrproject/zephyr/drivers/gpio/gpio_stm32.c:714: undefined reference to `LL_PWR_EnableVddIO2'`

I fixed this error by making changes to gpio_stm32.c code. After successful compilation, the serial terminal output

[2022-10-04 06:43] benediktibk commented on #50256
I'm absolutely happy that you prepared the PR, I just wasn't yet able to find the time to prepare a test setup as a preparation for creating the PR. Thanks mate!

[2022-10-04 06:56] nordicjm commented on #45756
Marking as closed due to lack of interest

[2022-10-04 06:56] #45756 closed

[2022-10-04 06:56] nordicjm commented on #32756
Cannot replicate issue with zephyr 3.2, closing.

[2022-10-04 06:56] #32756 closed

[2022-10-04 07:14] nordicjm commented on #50812
Have tested this with `nucleo_f746zg` with the same overlay and cannot replicate any crash.

[2022-10-04 07:41] FRASTM commented on #50895
With the nucleo_u575zi_q, the samples/drivers/adc gives:

- adc@42028000, channel 1: 0 = 0 mV   when pin A5 on GND
- adc@42028000, channel 1: 16383 = 3299 mV   when pin A5 on 3V3 or 5V
- adc@42028000, channel 1: 9087 = 1830 mV  when pin A5 on 1V8

[2022-10-04 08:03] joaomcfreire opened #50937 "Error when building for esp32c3_devkitm"
**Describe the bug**
Building the hello world sample for ESP32C3 gives an error. See logs below.

I'm on macOS Monterey 12.5.1 on a Macbook Pro 2017.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps for macOS in [Getting Started](https://docs.zephyrproject.org/3.2.0/develop/getting_started/index.html) and [Supported Boards - ESP32C3](https://docs.zephyrproject.org/latest/boar

[2022-10-04 08:23] erwango commented on #50895
Please run "west update".

[2022-10-04 08:25] vibhor-meshram commented on #50895
@FRASTM I get similar results when using reference as "ADC_REF_INTERNAL". I want to use External reference or may be VDD.

[2022-10-04 08:37] FRASTM commented on #50895
The error "Could not setup channel #0 (-22)" comes from the adc_stm32.c driver that only accepts the ADC_REF_INTERNAL as reference.
This `channel_cfg->reference` is an enum value that should be converted to a nb of mv if this has to be compared :  the  channel_cfg->reference against DT_INST_PROP(0, vref_mv) is  expressed in mV.

[2022-10-04 10:04] vibhor-meshram commented on #50895
@FRASTM Thanks for your resolution. Upon trying the the above solution my observation are as follows:-
1. After setting reference voltage as "ADC_REF_VDD_1" and adding vref-mv, I still get the adc error - `Could not setup channel #0 (-22) `. I had to comment the following line of code from adc_stm32.c

`	if (channel_cfg->reference != ADC_REF_INTERNAL) {
		LOG_ERR("Invalid channel reference");
		re

[2022-10-04 10:10] stephanosio opened #50940 "logging.log_output_ts64 fails on qemu_arc_hs5x"
**Describe the bug**

`logging.log_output_ts64` test fails on `qemu_arc_hs5x`

**To Reproduce**

[code]

**Expected behavior**

Test passes

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Toolchain: Zephyr SDK 0.15.0
 - Commit SHA: cf3b10a2c015631c253162b4d4a09f118d9df12c

**Additional context**

https://github.com/zephyrpro

[2022-10-04 10:10] stephanosio commented on #50940
cc @nordic-krch @ruuddw

[2022-10-04 10:12] stephanosio opened #50941 "sample.logger.syst.catalog.deferred_cpp fails on qemu_cortex_m0"
**Describe the bug**

`sample.logger.syst.catalog.deferred_cpp` test fails on `qemu_cortex_m0`.

**To Reproduce**

[code]

**Expected behavior**

Test passes.

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Toolchain: Zephyr SDK 0.15.0
 - Commit SHA: cf3b10a2c015631c253162b4d4a09f118d9df12c

**Additional context**

https://g

[2022-10-04 10:14] stephanosio commented on #50941
cc @nordic-krch @dcpleung @microbuilder

[2022-10-04 10:46] ExtremeGTX commented on #50923
Will this fix https://github.com/zephyrproject-rtos/zephyr/issues/36882#issue-941861859?

when console, shell and mcumgr are sharing the same serial connection, the logs can stop while there is a file transfer and resume again when file transfer is done?

Thanks

[2022-10-04 11:23] jhedberg commented on #26109
@galak it expands to an integer value as per the OF spec:
[code]

Btw, would the DT syntax allow having a preprocessor macro that expands to the entire list of values between `<` and `>`, i.e. including the `0x0` values? I wasn't sure, so for the purposes of testing I went with a macro that just expands to the first value (which is the only non-zero one as per the OF spec).

What's the best way to

[2022-10-04 11:32] Thalley opened #50944 "LE Audio: Unicast client shell support for multiple streams in same unicast group"
**Is your enhancement proposal related to a problem? Please describe.**
The current implementation (sha: 61d6532014c25fce5ea99662bd9e436ba0c89190) does not support configuring multiple audio streams as the unicast client. This is due to how the unicast group is created as part of the QoS configure operation (`cmd_qos`), which just sets a single stream.

**Describe the solution you'd like**
The cre

[2022-10-04 11:39] nordicjm commented on #50923
No, you can use this to fix that specific issue: https://github.com/zephyrproject-rtos/zephyr/pull/50945
The fundamental issue with it is that there might be other filesystem errors that are emitted that it won't fix, that and the actual issue lies with the `mcumgr` go application itself, not the mcumgr code in zephyr. The mcumgr response is received fully by the application, it should be searchin

[2022-10-04 11:45] galak commented on #26109
Sure, as long as the result of the preprocessor macro is valid DTS data.

As with all things, PRs are welcome to the tooling for the enhancements you need :).

[2022-10-04 12:02] galak commented on #26109
( For the zero-size reg issue in edtlib):

1.  Add `device_type = "pci"` to `dts/bindings/pcie/host/pcie-controller.yaml` (and update any dts files accordingly)
2. Update
For the `devicetree error: zero-sized 'reg'` issue, we should update the check to ignore pci devices (do this by checking if the parent node has `device_type = "pci"`.

[2022-10-04 12:03] nordicjm opened #50947 "stm32 static IPv4 networking in smp_svr sample application does not seem to work until a ping is received"
**Describe the bug**
Testing `samples/subsys/mgmt/mcumgr/smp_svr` for the `nucleo_f746zg` board with the `overlay-udp.conf` overlay enabled (note: there is no partition map for this board, which needs to be setup) results in an image that, once flashed, does work, but does not accept UDP connections until the device is pinged.
Output on board after boot and sending a command via mcumgr (using `mcu

[2022-10-04 12:03] zpm1066 opened #50948 "SSD1306+lvgl sample fails to display"
**Describe the bug**
I'm able to build the sample "zephyrproject/zephyr/samples/subsys/display/lvgl" for a nrf52840 board using an overlay. The program builds fine but a connected generic OLED SSD1306 128x64 display (also a ssd1306 Adafruit FeatherWing OLED - 128x64) fails to display anything.
The sample code hasn't been modified.

Please also mention any information which could help others to und

[2022-10-04 12:28] PerMac commented on #49996
@nordic-krch Any progress with this one?

[2022-10-04 12:39] carlescufi commented on #50947
cc @rlubos

[2022-10-04 12:54] Thalley opened #50949 "Bluetooth: ISO: Add support for ISO test commands"
**Is your enhancement proposal related to a problem? Please describe.**
Add support for the HCI_LE_Set_CIG_Parameters_Test and HCI_LE_Create_BIG_Test commands. While these commands have been designed for testing purposes, they may actually serve a different purpose: They allow the app/host to set CIG/BIG values that is otherwise controlled by the controller in the regular commands. The purpose of

[2022-10-04 12:55] henrikbrixandersen commented on #50404
Closing as fixed by #50623. Please reopen if that is not the case.

[2022-10-04 12:55] #50404 closed

[2022-10-04 12:56] Thalley opened #50950 "LE Audio: Support for ISO test commands"
**Is your enhancement proposal related to a problem? Please describe.**
Add support for using the ISO test commands implemented by https://github.com/zephyrproject-rtos/zephyr/issues/50949 in the LE Audio context.

**Describe the solution you'd like**
The additional fields should be added to the `struct bt_codec_qos`.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-10-04 12:57] CraigBurden commented on #32733
@manoj153 I would certainly be interested in that. My product uses a proprietary protocol over RS485 and so I am in the market for a generic driver that I can build on top of.

@jfischer-no I guess it could be an extension to the UART controller since all it would require is an addition to the existing flow control logic.

Any contribution made should be coupled with a refactor of the Modbus RTU i

[2022-10-04 13:23] Thalley opened #50953 "LE Audio: Add support for setting ISO data path for broadcast sink"
**Is your enhancement proposal related to a problem? Please describe.**
The data path ID is a field in the `struct bt_codec`, but for the broadcast sink there is no way for the upper layers to provide this value.

**Describe the solution you'd like**
Since the BAP broadcast sink requires PACS, we should be able to implement the same solution for the broadcast sink, as we have done for the unicast

[2022-10-04 13:27] jori-nordic commented on #50658
I was not suggesting the problem be in your app thread priorities (though it could be if they are cooperative), but rather in the relative priorities of the BT stack threads (and the system workqueue, if that was altered somehow).

You can try to play with `CONFIG_BT_DRIVER_RX_HIGH_PRIO`, but I don't think that's the root cause either.
General documentation (other than API) is a bit light for Blue

[2022-10-04 13:31] nordicjm commented on #50947
Just had another check and does seem to be STM32 specific, seems the lag on the nordic was caused by a test fs_mgmt change, reverted that and now works instantly on nordic, long delay on stm32, sorry @erwango

[2022-10-04 13:35] bonetor commented on #46758
Hello.
We are using CivetWeb since Zephyr v2.7 and

- would be highly interested in a replacement of CivetWeb
- glad if there will be a successor for CivetWeb

With Zephyr v3.2 the support and maintenance of CivetWeb is stopped and there is currently no support for an alternative HTTP web server with similar functionality as CivetWeb: REST API, WebSockets, HTTPS / TLS / Secure WebSockets, ...

[2022-10-04 13:38] nordicjm commented on #50947
Issue seems to be MAC address of the device, the STM32 ethernet MAC address is changing on each boot because of `CONFIG_ETH_STM32_HAL_RANDOM_MAC`:
[code]
Should this not be using some internal ID use at the MAC address? Doesn't seem very flexible to either have it random or use static Kconfig values for 3 bytes

[2022-10-04 13:48] r2r0 commented on #50426
@erwango Is it specific problem of STM32WL?

[2022-10-04 14:26] galak commented on #50788
We already have a solution and pattern to the problem of having a driver enabled w/o devicetree node being enabled.  That is what the `depends on DT_HAS_TI_ADS1013_ENABLED` in Kconfig accomplishes.  I'm sure there are some cases that still need to be added in Kconfig.

In general we should not be having multiple drivers for the same device.  If this is really needed, Kconfig can describe the mutua

[2022-10-04 14:50] nordicjm opened #50961 "[v2.7-backport] drivers: counter: Update counter_set_channel_alarm documentation"
**Is your enhancement proposal related to a problem? Please describe.**
The counter documentation is missing the -EBUSY return value from the `counter_set_channel_alarm` function

Was fixed in main by https://github.com/zephyrproject-rtos/zephyr/pull/49801

[2022-10-04 15:13] carlescufi commented on #50923
Architecture WG meeting:

- @nashif raises the fact that, yet again, we will break out-of-tree users, but this is how the process is designed right now
- Separate discussion to improve the process and reduce out-of-tree breakage will take place
- No objections to this particular change

[2022-10-04 15:30] henrikbrixandersen commented on #50922
We need to establish the level of granularity for where to use `@since`. API functions? Definitions? Enumeration values? ...?

[2022-10-04 15:30] bjarki-trackunit commented on #50788
As mentioned in the issue, under **Concerns and Unresolved Questions**, this is expanded upon. The solution proposed with this issue also does the reverse check, is there a node which is enabled, for which any driver exists, which has not been enabled. And if so, notify the user of the existence of these drivers.

Having multiple drivers is beneficial for out-of-tree drivers, where you want to ove

[2022-10-04 15:41] carlescufi commented on #50922
Architecture WG meeting:

- @henrikbrixandersen mentions that other projects that use `@since` tend to do so in a per-API call basis
- The current table in the API overview page covers only a very small subset
- The objective is to help users of Zephyr that have no direct connection with upstream
- Proposal is to introduce `@since` in new APIs only
- We would tag all stable APIs are `@version 1.0.

[2022-10-04 16:28] laurenmurphyx64 commented on #50844
@oyvindronningstad Hi, could you update the zcbor revision is Zephyr to include the fix?

[2022-10-04 16:36] antonaltx opened #50970 "SAME54_xpro network driver not attached"
**Describe the bug**
GSAM interface did not work in net samples

Platform :Win10Pro , blinky sample works fine
west build -b always atsame54_xpro samples\net\dhcpv4_client
west flash

after boot apps on target:
uart:~$ net iface
uart:~$

No interfaces shown .
All commits from "Support Ethernet on SAM E5x #23300" present in code.

[2022-10-04 16:42] laurenmurphyx64 commented on #50970
Hi! Thanks for filing an issue, could you fill in more information following the template [here](https://github.com/zephyrproject-rtos/zephyr/blob/main/.github/ISSUE_TEMPLATE/bug_report.md)?

[2022-10-04 16:43] cfriedt commented on #50970
@antonaltx - unsolicited tip, but you can embed code / preformatted text between an opening and closing sequence of 3 back-ticks

See https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code

[2022-10-04 16:44] jhedberg commented on #26109
@galak the Devicetree spec (version 0.3) states:

So do we really want to extend our usage of it? I didn't (quickly looking) find any place in the specification that would forbid zero values for the register size, so maybe this check could be removed entirely from edtlib?

[2022-10-04 17:07] dcpleung commented on #50941
Here is the error message:

[code]

After bisecting, this is the commit which is causing the issue:

[code]

which should not have caused the issue.

However, when I tried to use `CONFIG_NO_OPTIMIZATIONS`, it worked without issue. `CONFIG_DEBUG_OPTIMIZATIONS` and `CONFIG_SPEED_OPTIMIZATIONS` also worked fine. The error only occurs with `CONFIG_SIZE_OPTIMIZATIONS`.

This also doesn't seem to be sta

[2022-10-04 17:27] galak commented on #26109
I think its good to have, we can change it to a warning and look to add a check if its a pci device to ignore it.

[2022-10-04 17:29] dcpleung commented on #50941
While debugging, the log line https://github.com/zephyrproject-rtos/zephyr/blob/d823f88e3b3478050f16431526ebdc550152a0af/samples/subsys/logging/syst/src/main.c#L52

has integer as the first argument.

When it comes to outputting the log, https://github.com/zephyrproject-rtos/zephyr/blob/7c3bf208137f5f469b3a27af0946f6ae00ac5143/subsys/logging/log_output_syst.c#L677

where `arg_tag` should be 0x05 w

[2022-10-04 19:06] antonaltx commented on #50970
Output from target app:
*** Booting Zephyr OS build zephyr-v3.2.0-132-g6bbd2b2d06f3  ***

[00:00:00.000,000] <err> net_if: There is no network interface to work with!
[00:00:00.006,000] <inf> net_dhcpv4_client_sample: Run dhcpv4 client
uart:~$

[2022-10-04 19:16] #50256 closed

[2022-10-04 20:07] nordicjm opened #50973 "DHCP (IPv4) seemingly dies by trying to assign an IP of 0.0.0.0"
**Describe the bug**
This strange issue leads to an ethernet device on a network being completely dead until it is restarted. A device gets a fixed IP from a DHCP server for 20 seconds, the server is changed to give a different fixed IP and the zephyr board renews the IP. Seemingly at this time, the DHCP client seems to think it has been assigned the IP 0.0.0.0 for whatever reason, this IP clearly

[2022-10-04 20:11] nordicjm opened #50974 "DHCP (IPv4) NAK not respected when in renewing state"
**Describe the bug**
DHCP for IPv4 should, when a NAK is received in the renewing state, go back to the init stage, however seemingly the zephyr DHCP client just ignores it.

**To Reproduce**
Follow instructions in https://github.com/zephyrproject-rtos/zephyr/issues/50973

**Expected behavior**
DHCP to go back to the init state upon receiving a NAK when in the renewing state

**Impact**
Unknown, s

[2022-10-04 20:42] pnacht opened #50975 "Add OpenSSF Scorecard Action"
**Is your enhancement proposal related to a problem? Please describe.**
Open-source supply-chain attacks are [increasing every year][sonatype]. Beyond the infamous [SolarWinds][solarwinds] and [Codecov][codecov] attacks, there have also been multiple smaller but significant supply-chain disruptions such as [left-pad][leftpad],  [colors/faker.js][faker], [coa/rc][coa] and [ua-parser-js][ua].

**Des

[2022-10-04 21:45] lucasdietrich opened #50976 "JSON array encoding fails on array of objects"
Hi,

When I try to encode an array of objects. If the descriptors of the inner object doesn't cover all the fields of the object structure, then the array is wrongly encoded.

**Normal case:**
[code]

With the previous code, the json is properly encoded :
[code]

But if I uncomment the line `uint32_t b;`.
Here, "b" member is still not encoded in the JSON, but I would have expect the result to be t

[2022-10-04 23:42] zpm1066 commented on #50948
@laurenmurphyx64, @henrikbrixandersen, @jfischer-no, @brgl
I'm also going to create an account at lvgl.com to see if they can also investigate, as I don't see anything wrong with the Zephyr code.

I have several types of displays (ST7789v, ili9341 - 1.14" to 2.8") that all work just fine with Zephyr + lvgl. SSD1306 works fine with Zephyr on it's own. There may be a SSD1306 binding issue with lvgl.

[2022-10-05 06:30] nordicjm commented on #50973
Issue likely caused due to a number of factors, but essentially the code copies the new IP from the server over to a local variable, it then tries to remove and add this IP from an interface, it can only remove it if it was the previous IP (which is not always going to be the case) so this remove process is likely to fail, then due to the default maximum number of IPs being 1, it cannot add the ne

[2022-10-05 07:25] FRASTM commented on #46326
Could you please have a look at PR https://github.com/zephyrproject-rtos/zephyr/pull/50968

[2022-10-05 08:32] FRASTM commented on #50895
Yes, the stm32 adc driver is limited to the ADC_REF_INTERNAL mainly, I guess, due to the hw design where the input pin VREF+ is VDDA  = 3.3V
When input pin channel 1 is 1.8 V this is half the physical Vref voltage (on the hw).

[2022-10-05 08:50] lgehreke opened #50983 "RPI Pico usb hangs up in interrupt handler for composite devices"
**Describe the bug**
I am using the rp2040 with the cdc_acm_composite sample.  When sending bytes
the first few bytes to the first acm port they will be echoed to the second acm port.
After a few more bytes the port will hang up.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the cdc_acm_composite sample for the rp2040
2. Connect to ACM0 and ACM1 (or whatever they are called on your s

[2022-10-05 09:07] carlescufi commented on #49811
Closing since there is no clarity over whether there is an actual issue here at all. Please reopen if you have logs and a reproducible example that we can use to debug it.

[2022-10-05 09:07] #49811 closed

[2022-10-05 09:10] carlescufi commented on #50614
@GasperChen please provide additional information, including your exact network setup and, if possible, a reproducible sample so we can debug it.

[2022-10-05 10:06] oyvindronningstad commented on #50844
Yes, the plan is to release zcbor and update Zephyr within a week or two. Inspired by this, I also made the following C++ related changes: https://github.com/NordicSemiconductor/zcbor/pull/258

[2022-10-05 10:48] jfischer-no commented on #42066
Virtual controller and host support has been separated from #38679  and moved to #50985. Updated the list of drivers and class implementations to be ported.

[2022-10-05 11:15] szymon-czapracki opened #50989 "Invalid ASE State Machine Transition"
While executing the test case: **BAP/USR/SCC/BV-136-C** an invalid transition in ASE occurs.

Proper transition:
ASE Enable -> ASE Enabling -> (getting) ASE Receiver Start Ready -> ASE Streaming

Our transition:
ASE Enable -> ASE Enabling -> ASE Streaming -> (getting) ASE Receiver Start Ready -> Invalid ASE State Machine

We are not waiting for the write command with receiver start ready before st

[2022-10-05 13:13] cfriedt commented on #46758
Some additional notes from the Networking Forum 2022-10-04 https://bit.ly/3ruOUWX

[2022-10-05 13:54] sense-Jo commented on #50426
I could now solve it by re-initializing and re-configuring the ADC before it is used again, with the help of Device Runtime Power Management. However, I'm not sure whether this is the proper way to do it, and I didn't test it intensively either.
Especially, I'm unsure about whether it would work with DMA as well. I did test with `CONFIG_SPI_STM32_DMA=y`, but is this enough?
Nevertheless, one might

[2022-10-05 14:20] lgirdwood commented on #50747
@carlocaione can we also have
[code]
This will allow us some more fine grained control over cache when needed for performance or debug reasons. Thanks

[2022-10-05 14:40] RomainPelletant opened #51003 "Crash when using flexcomm5 as i2c on LPC5526"
**Describe the bug**
Division by zero when Zephyr boot if flexcomm5 is configured as i2c on LPC5526

Please also mention any information which could help others to understand
the problem you're facing:
 - LPC5526 with Zephyr 3.1
 - pin muxing is like
 `#if DT_NODE_HAS_COMPAT_STATUS(DT_NODELABEL(flexcomm5), nxp_lpc_i2c, okay) && CONFIG_I2C
  /* I2C5 SDA */
  uint32_t port0_pin8_config = (
    IOCON

[2022-10-05 14:43] andyross commented on #50747
@lgirdwood  What does the lock/unlock entail, semantically?  Pinning cache lines (which I'm guessing is what you mean?) is a thing, but it tends to be highly hardware-specific, and may even have things like different interfaces for different levels of cache.  You need to worry about aliasing between ways (i.e. you can only have N lines pinned with an address modulo the way stride), etc...  This ju

[2022-10-05 14:51] andyross commented on #50747
And regarding the syscall discussion from last week: I guess my feeling is that we should have some kind of support for userspace here[1].  I don't necessarily know that it needs to be exactly the same API.  Something like the old API could be left as the "high level" API, since it has fewer entry points to make into syscalls, and obviously the concern about inlinability needed by the kernel and d

[2022-10-05 14:57] #46824 closed

[2022-10-05 15:18] carlescufi commented on #50872
This report is incorrect:

- `hub` is not a requirement, direct or indirect, in Zephyr
- `hub` is now called `deeplake`, and again, is not a requirement

[2022-10-05 15:18] #50872 closed

[2022-10-05 15:21] #5716 closed

[2022-10-05 16:24] #50744 closed

[2022-10-05 18:43] nashif opened #51007 "Improve process around feature freeze exceptions"
Follow up to escalation path and post freeze exceptions, ideas for improving the process:

- Any changes raised for exception need to be complete, approved and ready for merge. (also approved by assignee)
- Changes need to be first discussed and brought to the attention of the release management working group (Escalation to the TSC should not be the first step). Maintainers of the given subsystem

[2022-10-05 20:24] nandojve commented on #50970
Hi @antonaltx ,

I don't have this board. I tested using [sam_v71_xult](https://docs.zephyrproject.org/latest/boards/arm/sam_v71_xult/doc/index.html) board with [TagoIO IoT Cloud HTTP](https://docs.zephyrproject.org/latest/samples/net/cloud/tagoio_http_post/README.html) Sample. The result log you can see below. I recommend you compare `prj.conf` because sometimes maybe missing some config.

[code]

[2022-10-05 20:51] antonaltx commented on #50970
Hi @nandojve ,
I have try different platform(STM32H743) and it works fine.
Problem is for same54_xpro. It does not see network iface. It is for tagoio_http_post.
I did not change any prj.conf .

Errors:

 *** Booting Zephyr OS build zephyr-v3.2.0-132-g6bbd2b2d06f3  ***

[00:00:00.000,000] <err> net_if: There is no network interface to work with!
[00:00:00.006,000] <inf> net_config: Initializing ne

[2022-10-05 21:01] nandojve commented on #50970
Would you mind to check this patch:

[code]

[2022-10-05 21:10] lucasdietrich commented on #50976
Hi Markus,

Thank you for your quick analysis. After debugging this, your explanation perfectly matches my observations.

Now the question is: does this behavior deserves to be enhanced or not ? This is probably not a must have. But anyone could unintentionally end up with JSON descriptors not matching C structure. So telling explicitly somewhere in the documentation that we can't do that would be

[2022-10-05 21:27] jefffhaynes opened #51010 "Unable to communicate with LIS2DS12 on NRF52840DK and custom board"
I've tried to avoid submitting a bug for this but after 10 hours of troubleshooting I feel I'm no closer to figuring it out.  In essence, on a prior version of Zephyr (sorry, I'm not sure what I was using but it was relatively recent, within the year) everything worked fine.  I then upgraded to 2.1.0 using NRF Connect SDK (previously I was simply using west) and now the LIS2DS12 IMU I've been usin

[2022-10-06 01:50] jefffhaynes commented on #51010
It looks like adding a pull-up to the i2c0 config fixed this.  I'm pretty lost as to why this was working before and changed.  I'm also not clear on the correct approach for overriding i2c0 pull-up behavior.

[2022-10-06 05:43] yperess commented on #48150
Sounds great, I'm going to close this issue with the final conclusion that:

1. We'll provide 2 event types for the MVP
    1. data events
    2. bias events
2. The default implementation will have 1 data structure and the callback will be the key differentiation.
3. Bias calculations will be done via virtual sensors framework
4. 3P consumers of the sensor subsystem (such as the ISH for Windows) c

[2022-10-06 05:43] #48150 closed

[2022-10-06 07:01] #50461 closed

[2022-10-06 07:16] nordicjm opened #51016 "mgmt: mcumgr: Add dummy shell buffer size Kconfig entry to shell mgmt"
**Is your enhancement proposal related to a problem? Please describe.**
The shell response size for commands is linked to the dummy shell buffer size, which is under the dummy shell configuration and not shell_mgmt, this can be replicated in the shell_mgmt Kconfig area so that it is easy to link the two from a user perspective

**Describe the solution you'd like**
Duplicate the same Kconfig name f

[2022-10-06 07:58] maximevince opened #51019 "NVS should allow overwriting existing index even if there's no room to keep the old value"
**Is your enhancement proposal related to a problem? Please describe.**
When the NVS pages are full (i.e. the item of the size we're trying to write doesn't fit on the existing pages anymore),
but we want to overwrite an existing data-item (which might be of smaller or equal size),
NVS starts moving (through the GC) all id-data pairs on all pages to a new page, then looping back to the first page

[2022-10-06 08:04] onkila commented on #50192
This seems to be an issue on zephyr side:

when CONFIG_PM_DEVICE is enabled and system enters suspend `pm_system_suspend()` is called from idle-thread. This calls also drivers power management function and that tries to get the semaphore. Unfortunately that causes an assert because it seems that we can not wait to get the semaphore if current thead is idle thread. There is an assert for this in sc

[2022-10-06 08:59] gmarull opened #51021 "openthread: build warnings"
**Describe the bug**

[code]

**To Reproduce**

[code]

**Expected behavior**

Clean build.

**Impact**

Blocking CI

**Logs and console output**

See above

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.15.0
 - Commit SHA or Version used ce1580765dc25ccf111933d77330b5830f83a614

**Additional context**

Discovered in https://github.com/zephyrpr

[2022-10-06 09:00] Laczen commented on #51019
@maximevince, I understand your request.

The reason nvs does not allow this is because you might loose data if there is a powerdown during the proposed operation as you correctly state. A second problem that might arise is that the new write takes up more space and so it might not fit leaving the nvs system without data.

The work around you propose (first deleting, then writing) is exactly the m

[2022-10-06 09:07] nordic-krch commented on #50940
This is quite strange. Anything added to the test make the test pass but increasing stack does not. I also tried to bisect and got to a commit which break the test: 003ee34593 which is not related at all but starts to break the test on my setup consistently.

[2022-10-06 09:12] #49821 closed

[2022-10-06 09:33] jfischer-no commented on #50948
I cannot confirm, works fine for me using `west build -b nrf52840dk_nrf52840 samples/subsys/display/lvgl/ -- -DSHIELD=ssd1306_128x64`. Moving to discussion since it is likely configuration issue.

[2022-10-06 09:46] rlubos commented on #51021
The warning should be gone with https://github.com/zephyrproject-rtos/zephyr/commit/fbd88cd5bba57861a74a514792770ca4edbc2d7d, it was fixed upstream.

[2022-10-06 09:49] #51021 closed

[2022-10-06 10:00] yroeht opened #51024 "aarch32 excn vector not pinned in mmu causing newlib heap overlap"
**Describe the bug**

Concerning Zephyr v3.2.0, present since release v3.0.0, introduced by commit
70c403c215 - arch: arm: core: aarch32: introduce basic ARMv7 MMU support

The linker script for aarch32 cortex A and R places z_mapped_start after the exception vector section, just before the code text section.
This causes the Newlib malloc_prepare to allocate a heap at the same physical address as

[2022-10-06 10:07] gmarull opened #51025 "mbedtls: build warnings"
**Describe the bug**

[code]

**To Reproduce**

[code]

**Expected behavior**

Clean build

**Impact**

Blocking CI

**Logs and console output**

See above

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.15.0
 - Commit SHA or Version used 4fa2f6fdb29b2173c94fc3c9e4485e83817bffa8

**Additional context**

Discovered in https://github.com/zephyrpro

[2022-10-06 11:21] evgeniy-paltsev commented on #50940
Hmm, I've tried it on proposed commit (https://github.com/zephyrproject-rtos/zephyr/commit/cf3b10a2c015631c253162b4d4a09f118d9df12c) and on current main (40a6f08d3c) and I can't reproduce the issue locally.

E.g: environment is same as proposed:

OS: Ubuntu 20.04
Toolchain: Zephyr SDK 0.15.0
Commit SHA: https://github.com/zephyrproject-rtos/zephyr/commit/cf3b10a2c015631c253162b4d4a09f118d9df12c

[

[2022-10-06 11:37] vibhor-meshram commented on #50895
I removed solder points that connects VDDA to Vref+ and now I am able to use external vref IC to provide reference voltage to my board. This worked without making any changes in the code ( Keeping the reference as ADC_REF_INTERNAL ). I am not sure about the enum provided for voltage reference. Is it only used for calculation purpose (convert raw data to mv) or it does some register configuration t

[2022-10-06 11:44] maximevince commented on #51019
@Laczen, thank for you quick response.

I am wondering, however, if there isn't a way to avoid the potential loss of data.
If we only delete the old entry 0, after writing the new entry 0 to the new sector, there is no risk of losing any data, right?
Even if in between operations there would be a powerdown?

[2022-10-06 11:57] Laczen commented on #51019
Yes, but then there would be the second problem, what if larger data is written, is there space enough? And there is another problem, suppose the old data is not in the last sector: the new data is written and the sector has insufficient space to copy the data in the last sector; this would be a gc failure.

[2022-10-06 12:20] FRASTM commented on #50895
The ADC_REF_INTERNAL is for calculation (giving the voltage for the Full range of ADC)

[2022-10-06 12:26] vibhor-meshram commented on #50895
Is there any way I could configure internal VREFBUF register to use as reference for ADC?

[2022-10-06 12:31] erwango commented on #50684
@swatikumari1-eaton Feedback would be appreciated

[2022-10-06 12:42] carlescufi opened #51034 "USB: notifications overhaul"
USB notifications currently use callbacks. This issue is to document the requirements of USB notifications to be able to decide which mechanism to use in the new, overhauled USB support (both Device and Host).

Notification examples/types:

- Device connected to Vbus (presence of voltage in Vbus). Could then trigger power management logic
- Device is configured
- Device is suspended
- Device is re

[2022-10-06 12:48] antonaltx commented on #50970
Hi @nandojve,
Patch corrected ethernet on SAM54_xpro. I will test more with different samples.
But so far looks good.
Thank you.
Now I see correct output from tagoio_http_post on SAM54_xpro:
uart:~$ *** Booting Zephyr OS build zephyr-v3.2.0-132-g6bbd2b2d06f3  ***
[00:00:00.255,000] <err> mdio_sam: transfer timedout mdio
[00:00:00.510,000] <err> mdio_sam: transfer timedout mdio
[00:00:00.765,000] <

[2022-10-06 12:52] antonaltx commented on #50970
tagoio_http_post: TagoIO IoT - HTTP Client  on SAME54_xpro works.

[2022-10-06 12:57] FRASTM commented on #50895
There is an internal channel (0) in the ADC1  to measure the V Ref.
It works more or less like Vbat (drivers/sensor/stm32_vbat/stm32_vbat.c) or temp sensor  (drivers/sensor/stm32_temp/stm32_temp.c) but is not implemented
Then I guess the measured value  should be injected to be variable insted of ADC_REF_INTERNAL constant

[2022-10-06 13:13] rvoell-gcx opened #51038 "net: lwm2m: actually handle data_len > buflen case"
**Is your enhancement proposal related to a problem? Please describe.**
https://github.com/zephyrproject-rtos/zephyr/blob/708fee8f61e7b0b943315c796a447114389bea22/subsys/net/lib/lwm2m/lwm2m_registry.c#L830

I did debug a problem caused by a too small buffer the last few days. It would be so nice to have this situation handled in some way, so the next one does not need multiple days to search for a

[2022-10-06 14:33] #51016 closed

[2022-10-06 14:35] #50592 closed

[2022-10-06 14:35] #40924 closed

[2022-10-06 14:39] rodrigopex commented on #51034
Synchronous (callback) and asynchronous (pub/sub) notifications can be done easily using Zbus. I can help to design that if you need.

[2022-10-06 14:40] ibirnbaum commented on #51024
Interesting as I have actually been building projects for aarch32 Cortex-A with Newlib as the active C library and without XIP. However, my heap mem pool size is significantly larger than 4k. I should get the chance tomorrow to verify the described issue on the Zynq-7000 with the trusty ole' Lauterbach debugger.

[2022-10-06 14:54] yroeht commented on #51024
Well actually the code is
[code]

So I take it CONFIG_HEAP_MEM_POOL_SIZE doesn't have any effect.

[2022-10-06 15:10] hakehuang opened #51043 "retag the kernel cases with T1 tag and some filters need to be judged"
To make sure that kernel test cases can be run on T1 boards, we need review the filters for all kernel test cases.
Basically,  if a case has filter, then we need exclude it from T1 cases list. except for below:
CONFIG_PICOLIBC_SUPPORTED

we need review all the filters that need to be add to above exclude list.

[2022-10-06 15:38] yroeht commented on #51024
I have implemented #51035 and have CONFIG_SRAM_BASE_ADDRESS=0x8000000 (because of FastModel limitations on our side which are beyond my understanding at the moment), though it was my understanding this shouldn't matter.

[2022-10-06 16:13] dcpleung commented on #50941
@stephanosio have you seen something like this before in Zephyr's ARM toolchain?

[2022-10-06 16:47] vipulkute-eaton opened #51048 "Firmware Upgrade Issue with Mcumgr On STM32H743 controller"
I am working on the Firmware upgrade with mcumgr on STM32H743 controller.
I have flash the signed primary and signed secondary image and using mcumgr command I am able to see the file list.
mcumgr command : mcumgr image list --conntype serial --connstring "COM7,baud=115200"

But when I try to test or confirm the secondary image, i am getting error.
mcumgr command : mcumgr --conntype serial --conns

[2022-10-06 21:20] jfischer-no commented on #51034
It should be generally not synchronous, it is not stated anywhere.

We know it otherwise it would not be in the list, though easily is subjective :wink: .

[2022-10-06 22:13] albertofloyd commented on #49032
Fixed #50799

[2022-10-06 22:13] #49032 closed

[2022-10-06 22:31] aaronemassey commented on #50836
Yes please. This would help considerably in doing incremental development on newer APIs, such as a battery API, versus having to make a monolithic PR that has tests, a driver, the API, a sample board, etc.

@teburd What are your thoughts on this?

[2022-10-06 22:40] #50781 closed

[2022-10-06 23:36] teburd commented on #50836
I'm actually quite fond of the requirements while reviewing code. Having the bare minimum of some docs, a sample, and some tests makes reviewing easier. I don't get to spend all day reviewing. I have my own commitments to features/bug fixes. Samples and docs are nice way of showing how the API is meant to be used and why. For larger PRs I usually start immediately at the samples and docs, followed

[2022-10-07 01:50] danielstuart14 opened #51057 "Retrieve gpios used by a device (pinctrl)"
After hours researching, I think I found out that with pinctrl we aren't able to get the gpio a device is using. Is that correct?
Prior to pinctrl, I was able to get the RX and TX pin from a Serial device using its tx-pin and rx-pin property, for example.
Does anyone knows if this is still possible with pinctrl?

I'm currently developing a LIN bus driver and I need access to the RX and TX GPIO fro

[2022-10-07 06:15] desowin commented on #51034
How to handle control transfer application specific hooks? For example the reporter of #50759 wants to have application code executed on every SET_CONTROL_LINE_STATE request. I believe the best way to way to achieve it is to have callback execute in USB stack context and it would be application developer responsibility to make write reasonable code in the callback.

I believe it is important to ex

[2022-10-07 06:21] AshwiniMShinde-eaton opened #51060 "10-bit addressing not supported by I2C slave driver for STM32 target"
I am working on I2C master and slave example codes to enable 10-bit addressing. I am using STM32H743ZI nucleo board. In slave example code, the issue is that i2c_slave_register() function doesn't support 10-bit addressing.
After adding the following line in drivers/i2c/i2c_ll_stm32_v2.c file, this issue got fixed.

`	if( data->slave_cfg->flags == I2C_SLAVE_FLAGS_ADDR_10_BITS )
	{
		LL_I2C_SetOwnAd

[2022-10-07 06:57] ivanwagner opened #51062 "lora_recv_async receives empty buffer after multiple receptions on sx12xx"
**Describe the bug**
When a second call is being made to lora_recv_async (using a sx12xx LoRa module) it actually returns an empty buffer of data reception. The length of the received buffer is actually correct but the contents are filled with zeros.

**To Reproduce**
Steps to reproduce the behavior:
To reproduce this target you can use any board which mounts an sx12xx such as:
- rm1xx_dvk
- 96b_w

[2022-10-07 07:05] ivanwagner commented on #51062
It leads down to resetting Rx before calling the the user callback. I've opened a PR here: https://github.com/zephyrproject-rtos/zephyr/pull/51063

[2022-10-07 07:48] FRASTM opened #51065 "building tests/subsys/jwt failed on disco_l475_iot1 with twister"
When running the twister -T tests/subsys/jwt/  on -p disco_l475_iot1 -
the build fails due to "FAILED: zephyr/kernel/CMakeFiles/kernel.dir/idle.c.obj"

Please also mention any information which could help others to understand the problem you're facing:
 - target platform disco_l475_iot1
 - regression   after the merge of https://github.com/zephyrproject-rtos/zephyr/pull/50508  (commit d823f88e3b34

[2022-10-07 07:55] Thalley commented on #33704
Closing this as we already have most of them, and it's good enough for now.

[2022-10-07 07:55] #33704 closed

[2022-10-07 08:12] vibhor-meshram commented on #50895
Thanks @FRASTM for your help. I am closing the issue now.

[2022-10-07 08:12] #50895 closed

[2022-10-07 09:01] jfischer-no commented on #51034
**Again, neither that, nor #50759 is about hooks in request processing.** Generally there will be no user hooks in request processing, there is simply no reason for it. Here and in #50759 it is about notifying user that something has taken place, user has no direct influence on it.

[2022-10-07 09:16] WajahatRiaz opened #51068 "ModuleNotFoundError: No module named 'elftools'"
**Describe the bug:**
I'm trying to build a simple blinky application for my stm32f103rb board but I'm getting the **ModuleNotFoundError: No module named 'elftools'** error over and over again. I tried it for different boards and QEMU. Still the efforst were in vain. I used the following guide to setup the zephyr project for my Windows based host.

[https://docs.zephyrproject.org/latest/develop/ge

[2022-10-07 09:29] #36343 closed

[2022-10-07 09:32] #44281 closed

[2022-10-07 09:50] WajahatRiaz opened #51070 "ModuleNotFoundError: No module named 'elftools'"
### Discussed in https://github.com/zephyrproject-rtos/zephyr/discussions/51069

<div type='discussions-op-text'>

<sup>Originally posted by **WajahatRiaz** October  7, 2022</sup>
**Describe the bug:**
I'm trying to build a simple blinky application for my stm32f103rb board but I'm getting the **ModuleNotFoundError: No module named 'elftools'** error over and over again. I tried it for different b

[2022-10-07 10:10] #50989 closed

[2022-10-07 10:57] desowin opened #51073 "Runtime locking correctness validator"
**Is your enhancement proposal related to a problem? Please describe.**
Sometimes a function expects that the caller holds specific lock (e.g. mutex). Zephyr currently doesn't have any runtime method of checking locking violations (e.g. caller does not hold mutex).

**Describe the solution you'd like**
Something similar to Linux [Runtime locking correctness validator](https://www.kernel.org/doc/Do

[2022-10-07 12:01] gmarull opened #51074 "logging: syst: sample failure"
**Describe the bug**

[code]

**To Reproduce**

[code]

**Expected behavior**

Sample/test passes

**Impact**

Blocking CI

**Logs and console output**

See above

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.15.0
 - Commit SHA or Version used: 916e04e0ef3c129ae9837cdc05c13ea427650a12

**Additional context**

Observed in https://github.com/zep

[2022-10-07 12:01] erwango commented on #51060
@AshwiniMShinde-eaton Thanks  for sharing this.
Would you mind raising a PR directly ?

[2022-10-07 12:02] stephanosio commented on #51074
Duplicate of #50941

[2022-10-07 12:02] #51074 closed

[2022-10-07 12:03] gmarull commented on #50941
changed priority to high since it is impacting CI, see https://github.com/zephyrproject-rtos/zephyr/actions/runs/3204173755/jobs/5235181704

[2022-10-07 12:10] yroeht commented on #51024
Have you been able to look into this yet? I would be interested to know that it works for you.

[2022-10-07 12:15] carlescufi commented on #50836
@yperess maybe you could bring this up in the TSC?

[2022-10-07 12:26] yperess commented on #50836
This will still be a hard requirement for meeting the feature branch into main. The idea here is mostly to increase velocity between the start of the idea and finish. Instead of developing it locally inside one organization with little public visibility and dropping one large PR on the Zephyr community, companies can publicly develop these features with an easier potential for collaboration.

@car

[2022-10-07 12:30] bulanek commented on #42082
Still not resolved. This is not only enhancement but it can hide errors which leads to read/write from unexpected memory part. Please make zephyr be ok with gcc flag -Werror=cast-align.

[2022-10-07 12:39] stephanosio commented on #50941
That looks like a completely different issue, so should be a new issue.

[2022-10-07 12:56] JeroenReeskamp opened #51076 "ADC channels 8-12 not working on LPC55s6X"
**Describe the bug**
On the LPCxpresso55s69 I am unable to use ADC channel 8-12. Channel 0-4 have no issues.
Channel 0-4 return correct values. Channel 8 only returns 0 or 1, and channel 9-12 result in a hardfault

**To Reproduce**
run the samples/drivers/adc example on an LPCxpresso55s69 board with all (at least channel 4 and 8) channels enabled.

**Expected behavior**
All channels to return min

[2022-10-07 13:04] erwango commented on #51048
@vipulkute-eaton If the issue is around creation of the image, can you check if using `--align 32` when calling imgtool can help situiation?
There's a dedicated zephyr option for this `-DCONFIG_MCUBOOT_EXTRA_IMGTOOL_ARGS="--align 32"`.
Note that you might need to escape the command: `-DCONFIG_MCUBOOT_EXTRA_IMGTOOL_ARGS=\"--align\ 32\"`

[2022-10-07 13:43] katgiadla opened #51079 "samples: tests: Improve accuracy of required dependencies in networking tests"
**Problem description:**
Majority of the networking testcases require any network interface - this requirement is specified in testsuite YAML by using keyword _netif_.
On the boards, which support this feature, it is possible to build and/or execute test configuration.

Some test suites assume that specific networking technology will be used ([example for Ethernet](https://github.com/zephyrproject

[2022-10-07 15:20] keith-zephyr commented on #50836
I think the Process WG is a better place to start the discussion on this topic than the full TSC.

[2022-10-07 18:49] mbolivar-nordic commented on #50836
@yperess if you can "champion" the issue within the process WG, I am happy to add it to next week's agenda.

[2022-10-07 18:57] mbolivar-nordic commented on #50836
Initial thoughts:

Jumping into the weeds, I don't follow the semantics of the proposed `experiments` key for west.yml files. Where does this go (next to `projects` and `self`? Inside `self`? etc.). And then the `west update` semantics look weird too. It's also not clear how you want west to cherry pick branches on top of zephyr itself for feature branches in the zephyr repository. By design, west

[2022-10-07 19:06] mbolivar-nordic commented on #50789
Thanks for the report. The Python standard library has a non-hacky facility for this that we use in other places (see e.g. the openocd runner) which I've used in the linked PR fixing this issue.

[2022-10-07 19:18] mbolivar-nordic commented on #43099
No objections, but this is really a question for @tejlmand

[2022-10-07 19:25] mbolivar-nordic commented on #26109
@jhedberg can you file a bug or bugs with reproducers for your edtlib issues and assign to me?

[2022-10-07 19:49] edersondisouza commented on #49112
Heh, it turned out to be actually a bug, PR at #51090

[2022-10-07 20:04] aeremin commented on #50789
Thanks for the quick fix, appreciate it!

[2022-10-07 20:56] teburd commented on #50836
Can the project really manage feature branches though in one repository?

I guess my question here would be if the goal is to build a collaborative place to work on code, e.g. a new sensor API, perhaps the linux model of a fork where collaborators can review and merge each others code, then polish it up on a branch and PR that to the upstream project.

Any sort of rebasing/cherry-picking/merging v

[2022-10-07 21:20] npitre opened #51094 "RISC-V support in Zephyr v2.7 (LTS2)"
## Introduction

Companies wishing to release products based on Zephyr prefer to base
their work on an LTS branch. The latest LTS available is the v2.7 branch
whose RISC-V support is severely lacking.

### Problem description

The latest LTS branch still dates back to a year ago. At the time, the
RISC-V support was rather poor and subpar. In the mean time, RISC-V
support in Zephyr has hugely progr

[2022-10-07 21:48] #49112 closed

[2022-10-07 23:24] albertofloyd opened #51095 "eSPI driver API enhancements"
Need additional documentation and APIs for eSPI subsystem.

API
- Consider eSPI reset status API in additional to callback
- Add API to allow to enable/disable interrupts similar to GPIO driver API.

Documentation
- Detail eSPI expected callback flows, channel enabled/disable, bus events, oob/flash channel operations
- Clarify eSPI OOB packet length
- Document rx_length usage and expectations from

[2022-10-08 01:27] enjiamai commented on #50354
Thanks, got it. @hakehuang , will give it a try soon.

[2022-10-08 05:10] rockdevice commented on #2746
So after read all above, does this RTOS has any plan actually is on-going for this features "dynamic elf module loader"? Thanks. It is really usefual for smart-watch & smart-home IoT device, which needs to update firmware functionality from time-to-time..

[2022-10-08 06:52] aunsbjerg commented on #51048
@vipulkute-eaton I believe what you are seeing is related to [this](https://github.com/mcu-tools/mcuboot/issues/713) mcuboot issue.

[2022-10-08 18:18] ANKUR29gupta opened #51102 "issue installing zepyhr when i am using west cmd"
![Capture](https://user-images.githubusercontent.com/68587598/194721861-78458803-dd17-432c-ae97-603b22855b05.JPG)
what can do for this error? please help me on that.

[2022-10-09 00:38] dcpleung commented on #50941
Workaround in https://github.com/zephyrproject-rtos/zephyr/pull/51104 to unblock CI.

[2022-10-09 01:56] zoujixing opened #51105 "esp32 wifi: http transmit rate is too slow"
ESP32 as wifi station mode to connect server by http client(zephyr/subsys/net/lib/http). Request to downlow file.The file size is about 1MB, need about 30minutes.
This time is too long.How to inrease download rate?Follow is relevant setting:

# Networking config
CONFIG_NET_TCP=y
CONFIG_NET_UDP=y
CONFIG_NET_SOCKETS=y
CONFIG_NET_SOCKETS_POSIX_NAMES=y
CONFIG_NET_SOCKETS_SOCKOPT_TLS=y
CONFIG_NET_CONNE

[2022-10-09 02:51] jeolwang opened #51107 "Ethernet: Error frames are often displayed: <err> eth_mcux: ENET_GetRxFrameSize return: 4001"
System version zephyr3.1.0, hardware mimxrt1064_evk, run DHCP routine, PING test is unstable. In addition, after adding socket communication logic, socket communication was unstable and slow. After receiving and sending a few KB of data, the network seemed to be unavailable, and PING failed

The following is the device running log:
[code]

[2022-10-09 03:34] jeolwang opened #51108 "Ethernet: Error frames are displayed when DHCP is suspended for a long time: <inf> net_dhcpv4: Received: 192.168.1.119"
The system version is zephyr3.1.0, the hardware is mimxrt1064_evk, and the DHCP routine is run. After the device runs for 4 days and 2 hours, the IP address obtained by DHCP is abnormal. The system prompts that 192.168.1.119 is obtained, and the PING test on the computer fails. However, if you PING the IP address of the router through the shell entry of the zephyr device, the IP address of the dev

[2022-10-09 05:50] Laczen commented on #51019
@maximevince, can this be closed ? There already is a solution (first erase, then write).

[2022-10-09 06:14] ssharks commented on #51105
Sounds like a bad tcp implementation. In the native tcp stack, there was a similar issue, but that has been fixed by

[2022-10-09 08:00] jeolwang commented on #51108
This issue is resolved after the macro CONFIG_NET_IF_UNICAST_IPV4_ADDR_COUNT is configured to be greater than 1

[2022-10-09 08:00] #51108 closed

[2022-10-09 08:29] maximevince commented on #51019
I would like to elaborate a little more, if that's okay.

[2022-10-09 08:30] maximevince commented on #51019
For the problem of the bigger size: that's the same in both cases, no? If you want to write a bigger entry, and there's no room for it, the action should fail. That seems normal behavior to me.
In that case, you could still keep the old entry (history), since it's not been deleted yet, right?

[2022-10-09 09:27] Laczen commented on #51019
For the problem of the bigger size: It needs to decide before it writes, not after.
For the second problem: there is no space enough for saving other entries from the oldest sector before it is deleted. Space will become available, but it is not available when it is needed.

BTW: Geniet van je zondag, vanuit een zonnig Koksijde.

[2022-10-09 10:33] maximevince commented on #51019
Hi,
Thanks for the fast replies. I'm okay to close the ticket, although I feel there's still a little room for improvement here.
I can live with the delete + write workaround for my current use-case.

P.S: Haha, geniet van 't zeetje! Groetjes vanuit het ook zonnige Hasselt ;)

[2022-10-09 10:33] #51019 closed

[2022-10-09 15:33] Laczen commented on #51019
@maximevince, if you find a solution that would guarantee no data is lost a PR is welcome. If you have other questions/proposals for nvs do not hesitate to add them as issue/PR.

[2022-10-09 17:10] flo-carrere commented on #50658
@jori-nordic

My code is very similar to existing zephyr samples:

1. Flash the host side with `samples/bluetooth/peripheral_hids`. Default configuration is fine.

2. Flash the controller side with `samples/bluetooth/hci_spi`. Default configuration is fine.

3. Monitor the duration of `bt_gatt_notify` call (in peripheral_hids/src/hog.c).

You'll notice > ~1sm duration which is way too excessive, a

[2022-10-10 02:56] maweicoltsmart commented on #51105
@ssharks
esp32 wifi compile error
branch：main
[code]

[code]

[2022-10-10 05:36] ssharks commented on #51105
Did you run `west espressif update`, to de the binary blobs?

[2022-10-10 06:14] maweicoltsmart commented on #51105
@ssharks
[code]

[2022-10-10 06:16] #29986 closed

[2022-10-10 06:21] ssharks commented on #51105
Sorry, should have referred to the latest docs: west blobs fetch hal_espressif

[2022-10-10 06:23] ssharks commented on #51105
See https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html

[2022-10-10 06:26] maweicoltsmart commented on #51105
@ssharks

I did this at the beginning, but compilation errors still occur

[2022-10-10 07:54] #50789 closed

[2022-10-10 08:27] nordic-piks opened #51117 "tests: kernel: workq: work: kernel.work.api fails test_1cpu_drain_wait"
**Describe the bug**
The tests/kernel/workq/work/kernel.work.api fails

- nrf52dk_nrf52832

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52dk_nrf52832connected
2. go to your zephyr dir
3. call ./scripts/twister -T tests/kernel/workq/work -p nrf52dk_nrf52832 --device-testing --device-serial /dev/ttyACM0 -v --inline-logs
4. See console output with error

**Expected behavior**
Valid c

[2022-10-10 08:28] nordic-piks commented on #51117
This is the same issue like this one #48875, still occurring.

[2022-10-10 09:21] AshwiniMShinde-eaton commented on #51060
Created PR https://github.com/zephyrproject-rtos/zephyr/pull/51119

[2022-10-10 11:13] Fladdan commented on #32875
Thanks @luizvilla to share this topic!

Could you share the used code on Github? It seems the LAAS GitLab is not open to public access anymore.
I'm curious to do tests with an STM32 and Zephyr and your benchmark could be a good starting point.

[2022-10-10 11:21] henrikbrixandersen commented on #51094
We usually do not backport added functionality, only bugfixes. I would be especially cautious seeing the amount of changes proposed here.

[2022-10-10 11:25] henrikbrixandersen commented on #51057
Which SoC? nRF? And I believe you are asking for the pin used, not the GPIO used (as a UART does not use GPIOs).

[2022-10-10 11:30] ppryga-nordic opened #51126 "Bluetooh: host: df: wrong size of a HCI command for connectionless CTE enable in AoD mode"
**Describe the bug**
When attempt to enable reception of a CTE in AoD mode for connectionless Direction Finding, the command send to Controller has  wrong size. That causes controller to reject the command.

**To Reproduce**
Steps to reproduce the behavior:
Use `direction_finging_connectionless_rx` in AoD mode only.

**Expected behavior**
The CTE reception is successfully enabled.

**Impact**
Low,

[2022-10-10 11:35] bhardadinesh-eaton opened #51127 "UART HW DMA ( UART Communication based on HW DMA ) - Buffer Overflow test in STM32H743 Controller"
We have developed driver to support UART Communication based on HW DMA for STM32F429 and STM32H743. UART Communication is working for both the controller. It is also supporting the events like RX Buffer Full, RX Byte Complete, TX Complete.

In one case, My RX buffer size is 255, If I transmit 300 bytes through Docklight or any third-party tool. For F429 controller, It is giving two events RX Buffe

[2022-10-10 11:37] enjiamai commented on #49614
Got the problem. The test_slice_perthread() test should be skipped under CONFIG_TIMESLICING is not set.

[2022-10-10 12:55] joerchan commented on #20707
I suggest you ask this question on nordics support forum: [devzone.nordicsemi.no](https://devzone.nordicsemi.com/)
Or you can get in touch with the zephyr community: https://zephyrproject.org/community/#connect

Asking questions on closed issues is not where you would get answers.

[2022-10-10 12:57] JeroenReeskamp commented on #51076
I think I solved it,

If I change line 198 in adc_mcux_lpadc.c
`cmd_config.channelNumber = data->channel_id;`

to

`
cmd_config.channelNumber = data->channel_id & 0b111;
`

and add a line bellow it to set the side:

`
cmd_config.sampleChannelMode = (data->channel_id & 8) ? kLPADC_SampleChannelSingleEndSideB : kLPADC_SampleChannelSingleEndSideA;
`

I get te expected result on channel 8

[2022-10-10 14:16] MariuszSkamra opened #51133 "Bluetooth: audio: Sink ASE does not go to IDLE state"
**Describe the bug**
After the Release operation initiated by remote device, the ASE stuck in Releasing state.
HEAD: 25f14d7092fcdc54de0e144d36da549925531708

**To Reproduce**
Steps to reproduce the behavior:
1. Reproducible with Android AOSP Master on Pixel 6
2. Start unicast server
3. Establish connection and play some music then stop playing
4. After a while, the Android sends Release command
5

[2022-10-10 15:09] FRASTM opened #51138 "Testing tests/lib/cmsis_dsp/ fails on some stm32 boards"
**Describe the bug**
Executing the tests/lib/cmsis_dsp/matrix/ on the nucleo_g474re with twister fails on
libraries.cmsis_dsp.matrix.binary_q15
libraries.cmsis_dsp.matrix.binary_q15.fpu

Please also mention any information which could help others to understand
the problem you're facing:
 - target platform : nucleo_g474re or nucleo_f207zg
 - also seen on tests/lib/cmsis_dsp/support testcases on som

[2022-10-10 15:32] gmarull commented on #51057
If you need such feature, you can create a new compatible that _extends_ your uart device with `tx-gpios`, `rx-gpios` similar to how certain I2C drivers do for recovery (you can use them as a reference).

[2022-10-10 15:32] #51057 closed

[2022-10-10 16:23] #50970 closed

[2022-10-10 17:03] sylvioalves commented on #51105
@zoujixing which Zephyr version/revision are you working with? I was able to run zperf and download data with ~10MBit/s. Let me now so we can optimized TCP buffers and IRAM content.
Also, trying increase this values if applicable:
[code]

[2022-10-10 17:06] sylvioalves commented on #51105
@ssharks, ESP32 uses Zephyr's native TCP stack, not esp-idf. It would be esp-idf net stack if using offloaded Wi-Fi network and external ESP32 board with esp-at.

[2022-10-10 17:09] yperess commented on #50836
![Blank diagram (2)](https://user-images.githubusercontent.com/9535482/194918946-86c00f01-a773-4c9a-a354-7ced6568179a.png)

Here's a rough diagram of the flow I'm expecting. Having the experiments in the west yaml will trigger the following when calling `west update`:
1. `git fetch`
2. `git checkout origin/main`
3. `git pull --ff origin/sensors_v2`
4. `git pull --ff origin/sensor_subsys`

This ena

[2022-10-10 19:47] krish2718 commented on #50188
I tried using `CONFIG_NET_BUF_VARIABLE_DATA_SIZE` but it doesn't event build as `CONFIG_NET_BUF_DATA_SIZE` is used in file `tcp.c`, `net_pkt.c`..

[2022-10-10 20:07] asemjonovs opened #51142 "TestPlan generation not picking up tests missing "test_" prefix"
**Describe the bug**
If a developer misses adding "test_" prefix to their `ZTEST(foo, bar)` the resulting twister.json indicates `null` status for the test.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create ZTEST(foo, bar) test case // don't add prefix for the test bar
3. Run test

**Expected behavior**
I'd expect a PASS or FAIL status for the test

**Impact**
annoyance

**Logs a