[2022-07-16 17:09] alwa-nordic commented on #47682
It's fine, I think. This choice is a property of Host API, so we can choose. It's a future-problem for when a profile that actually cares about this pops up.

[2022-07-16 20:22] RomainPelletant commented on #47598
Serialization on the fly is the way we should implement it:

- Data change during transfer : can we implement it with CRC or checksum on data instead of storing timestamp?
- Support for write seems to be compromise but the SEND method shall be the prior method to do a long data write on that case : do you agree ?

[2022-07-16 20:42] henrikbrixandersen commented on #47014
The same test passes on several other boards, including the `lpcxpresso55s16` which uses the same Bosch M_CAN driver backend:

[code]

[2022-07-16 21:27] henrikbrixandersen opened #47902 "drivers: can: mcux: flexcan: failure to handle RTR frames correctly"
**Describe the bug**
The NXP MCUX FlexCAN driver fails to handle CAN remote transmission request frames correctly:
- When installing a RX filter, the driver uses `filter->rtr & filter->rtr_mask` for setting the filter mask. It should just be using `filter->rtr_mask`, otherwise filters for non-RTR frames will match RTR frames as well.
- When transmitting a RTR frame, the hardware automatically swit

[2022-07-16 22:24] henrikbrixandersen opened #47904 "drivers: can: loopback driver only compares loopback frames against CAN IDs in installed filters"
**Describe the bug**
The CAN loopback driver only compares loopback frames against CAN IDs in installed filters. It must also compare the CAN ID type (standard or extended) and the RTR bit.

**To Reproduce**
Steps to reproduce the behavior:
1. See above along with the test suite accompanying the fix

**Environment (please complete the following information):**
 - Commit SHA: 62f19cc6b3d4697630abed

[2022-07-17 09:51] smrtos commented on #47830
It's strange that west build didn't see this issue. But twister saw this.

[2022-07-17 14:20] evgeniy-paltsev opened #47908 "tests/kernel/mem_protect/stack_random works unreliably and sporadically fails"
The `tests/kernel/mem_protect/stack_random/kernel.memory_protection.stack_random` works unreliably and sporadically fails after changes not related to it (ot the part of code which is tested by it).

The fail symptoms:

[code]

The test is checking the `CONFIG_STACK_POINTER_RANDOM` feature which should enable initial thread stack pointer randomization.

I've debugged the test and it appeared to be

[2022-07-17 14:30] evgeniy-paltsev commented on #47908
Pinging the developers, who discussed previous similar issue @fkokosinski @cfriedt @d3zd3z @dleach02

[2022-07-17 14:46] cfriedt commented on #47908
Not entirely surprising after seeing that it uses the cycle counter, which can exhibit flakiness / time compression on certain qemu platforms.

Do we effectively need to find a better way to generate random numbers on such platforms?

[2022-07-17 17:40] sslupsky opened #47916 "FRAM device support"
## Introduction

This RFC is to add an API for serial FRAM devices.  The API is based on the work Vestas did for serial EEPROM devices.

## Detailed RFC

[code]

### Concerns and Unresolved Questions

FRAM devices are similar to serial RAM devices.  Should a similar API be proposed for those devices as well?

[2022-07-17 21:03] evgeniy-paltsev commented on #47908
Yep, I guess we need to change TEST_RANDOM_GENERATOR implementation from this custom (and broken) algo to some well-know pseudo random number generator algorithm.

One possible candidate is the example from C standard:

[code]

[2022-07-17 22:20] xudongzheng opened #47917 "logging: configuration option to log with wall date and time"
**Is your enhancement proposal related to a problem? Please describe.**

Currently, log output only displays the wall time (with date) when logging to the net backend: https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/logging/log_output.c#L252-L276

Log output with date can also be helpful when logging to other backends when there is an RTC and a custom timestamp function is defined wi

[2022-07-18 02:07] povergoing commented on #47330
That's it! Thanks for your clear explanation. I also confirmed it works when we use `spsr_cxsf` :)

[2022-07-18 03:26] LixinGuoX commented on #47477
Yes, this could also be related to new ztest API, for now I will workaround it by increasing the main stack size in #47475.
Also, we should keep finding the root cause.

[2022-07-18 03:47] hunterhu3000 opened #47921 "tests: pin_get_config failed on it8xxx2_evb"
**Describe the bug**
Test case tests/drivers/gpio/gpio_basic_api failed in daily test. When setting a GPIO to high, and then get the GPIO result, the result is not as expected.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? it8xxx2_evb
 - What have you tried to diagnose or workaround this issue? Provide P

[2022-07-18 07:24] vleeb opened #47925 "Asynchronous UART API (DMA) not working like expected on nrf52840"
hi,
i am trying to use the async uart api on a nrf52840 for communicating to a quectel bg95 modem.
no matter which timeout or buffer-size i am using, i am experiencing the problem that that some (1-2) bytes of the modem response are not received (or forwarded via the api) when they are arriving ... they are received with delay, when the next response of the modem comes in.

so the usual communicat

[2022-07-18 07:35] yath-eiSmart commented on #47021
Perfect, thanks for the update!

[2022-07-18 07:38] FRASTM commented on #47731
to be completed for the octoflash once the https://github.com/zephyrproject-rtos/zephyr/issues/46740 is fixed

[2022-07-18 08:14] jilu-ot commented on #46798
Oh, I am not sure if there are missing backports. I can see on PR #33266 's page that some older versions also have this fix. Zephyr 1.14, 2.4 and 2.5. But I don't know if there are other versions that should have this fix.

[2022-07-18 08:43] SeppoTakalo commented on #47598
Currently our content-formatters try to use standard libraries for encoding and decoding the content. This places a requirement for content formatting libraries. I believe currently our standard JSON or CBOR libraries don't allow partial data to be decoded or encoded.

So even when serialization on the fly sounds logical choice, it might require so much tweaks or hand writing the decoder that it i

[2022-07-18 08:53] nordic-piks opened #47929 "tests: arch: arm: arm_thread_swap: arch.arm.swap.common.no_optimizations - Data Access Violation - MPU Fault"
**Describe the bug**
The  tests/arch/arm/arm_thread_swap/arch.arm.swap.common.no_optimizations fails on-target tests - Data Access Violation - MPU Fault

Observed for
- nrf52dk_nrf52832
- nrf52840dk_nrf52840

There is MPU Fault detected and system halts, no other output.

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk connected
2. go to your zephyr dir
3. call ./scripts/twist

[2022-07-18 08:57] nordic-piks opened #47930 "tests: arch: arm: arm_interrupt: arch.interrupt.no_optimizations - Data Access Violation - MPU Fault"
**Describe the bug**
The   tests/arch/arm/arm_interrupt/arch.interrupt.no_optimizations fails on-target tests - Data Access Violation - MPU Fault

Observed for
- nrf52dk_nrf52832
- nrf52840dk_nrf52840

There is MPU Fault detected and system halts, no other output.

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk connected
2. go to your zephyr dir
3. call ./scripts/twister -T t

[2022-07-18 09:09] nordic-piks opened #47933 "tests: subsys: logging: log_switch_format: logging.log_switch_format - test_log_switch_format_success_case - Assertion failed"
**Describe the bug**
The  tests/subsys/logging/log_switch_format/logging.log_switch_format.immediate(deferred) fails on-target tests - test_log_switch_format_success_case - Assertion failed

Observed for
- nrf52dk_nrf52832
- nrf52840dk_nrf52840

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk connected
2. go to your zephyr dir
3. call ./scripts/twister -T tests/subsys/logging/

[2022-07-18 10:29] joerchan commented on #23893
100% agree, CC: @alwa-nordic @jori-nordic This is a common gotcha that creates problems for many users of the API. This could be improved in documentation, which is very sparse when it comes to how to create and handle a GATT database. The samples only demonstrate simple ones.

[2022-07-18 10:54] Laczen commented on #47732
@de-nordic, could you please revisit and confirm/or reject that device definition should not be dependent on the bank the program is executing from.

If device definition should be independent from the bank the program is executing from IMO no changes should be made to flashmap (but instead to the flash driver), but I might be wrong.

[2022-07-18 11:03] nvincent-vossloh commented on #47732
We have a patched version of mcuboot to provide firmware update through bank swapping capability on stm32h743:
https://github.com/SiemaApplications/mcuboot/commit/fffedbb57238e3bfa5d2529d727b6cc4732d9f04
Since this patch is really device specific I obviously could not upstream it, I'm sharing it here in case someone is interested.

[2022-07-18 11:09] #46164 closed

[2022-07-18 11:20] alwa-nordic opened #47942 "Mutex priority inheritance when thread holds multiple mutexes"
The section on [priority inheritance in mutexes] contains the following warning.

This is clearly a bug. There is a tangential discussion in https://github.com/zephyrproject-rtos/zephyr/issues/15138#issuecomment-540892530.

The specification would be simpler if it did not talk about the "original non-elevated priority" and when it's reverted. I think we should just say that each thread has a base

[2022-07-18 11:45] alwa-nordic commented on #23893
For now, please use `bt_gatt_find_by_uuid` for locating the attribute in less fragile manner.

[2022-07-18 11:46] joerchan commented on #47407
The problem here appears to be the FPU support being enabled without the dependent PR to not build the NS application merged first.
Merging https://github.com/zephyrproject-rtos/zephyr/pull/43599 and reverting #47423 again this builds without issues.

The bug description here is inaccurate, the issue is this: `error: tf-m-tests/app/CMakeFiles/tfm_ns.dir/main_ns.o uses VFP register arguments, bin/t

[2022-07-18 11:54] de-nordic commented on #47732
Yes, you are right but I do not think that device definition changes here.
The problem is what software "believes"; software compiled for bank 0 assumes that it will be executed from bank 0, when you swap banks and run it from bank 1, it still believes it is in bank 0, even though this is different instance of a software.
If we decide in driver to correct address then doing  `flash_write(dev, 0, )

[2022-07-18 11:59] joerchan commented on #47307
FP hard ABI is only supported with IPC model in TF-M. This was a missing dependency. Thanks for the bug-report.

[2022-07-18 12:10] alwa-nordic commented on #46798
According to https://github.com/zephyrproject-rtos/zephyr/blob/ae0297e8de1f94b050de0afecc9e2150006e3ec6/.github/SECURITY.md, only Zephyr v2.7 and v3.0 are currently supported. Those tags contain the fix.

[2022-07-18 12:10] #46798 closed

[2022-07-18 12:51] Laczen commented on #47732
This is exactly the problem. It seems the current driver is accessing different flash address depending on the bank it is executing from. If it would respect this there wouldn't be a problem. That is why I think a driver correction is required.

[2022-07-18 12:52] kmanish88 opened #47948 "_kernel.threads' always points to NULL(0x0000'0000)"
Hello All,

I am new to this platform and not sure if this is the right place to ask this question here. Please let me know if not then I will take out my post.

Here is my question:
I have just started using Zephyr os and working with basic QEMU 'synchronisation' sample. My application runs fine and can see thread 'a' and 'b'. I am using iSYSTEM debugger tool. Why '_kernel.threads' always points

[2022-07-18 13:18] #44400 closed

[2022-07-18 13:24] #47204 closed

[2022-07-18 13:24] #47902 closed

[2022-07-18 13:24] #47904 closed

[2022-07-18 13:25] zephyrbot opened #47955 "[backport v2.7-branch] backport of #47903 failed"
This issue was created automatically because the backport of #47903 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-47903-to-v2.7-branch`.

[2022-07-18 13:25] zephyrbot opened #47956 "[backport v3.0-branch] backport of #47903 failed"
This issue was created automatically because the backport of #47903 to `v3.0-branch` failed.

The backport to `v3.0-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.0-branch` and the `compare`/`head` branch is `backport-47903-to-v3.0-branch`.

[2022-07-18 13:42] mmahadevan108 commented on #46414
@bbilas, can this issue be closed?

[2022-07-18 13:45] mmahadevan108 commented on #46986
@nordic-krch, can this issue be closed?

[2022-07-18 13:50] thedjnK commented on #46986
This issue is not resolved

[2022-07-18 15:27] hunterhu3000 commented on #47592
The issue is fixed by the patch.

[2022-07-18 15:27] #47592 closed

[2022-07-18 15:28] ssharks opened #47966 "TCP: Zero window probe packet incorrect"
**Describe the bug**
The Zero Window Probe is supposed to send the next byte in line. This is described by:

https://www.wireshark.org/docs/wsug_html_chunked/ChAdvTCPAnalysis.html

_**TCP ZeroWindowProbe**_
_Set when the sequence number is equal to the next expected sequence number, the segment size is one, and last-seen window size in the reverse direction was zero._

_If the single data byte fro

[2022-07-18 15:36] #47683 closed

[2022-07-18 15:40] MaureenHelm commented on #47613
It auto-closed when I merged #47810

[2022-07-18 16:09] bbilas commented on #46414
We have created an issue in the mcuboot repository nevertheless the root issue is not found yet. I don't know what is the right way to manage such an issue but it seems that it's related to the mcuboot rather than zephyr itself so IMO it can be closed.

[2022-07-18 16:30] #43767 closed

[2022-07-18 17:42] marekmatej opened #47970 "Flash: SFDP parameter address is not correct"
---
name: SFDP parameter address parse error
about: ''
title: SFDP parameter address parse error
labels: bug
assignees: ''

---

If CONFIG_SPI_NOR_SFDP_RUNTIME is enabled, reading SFDP parameter table gives all 0xFF, which leads to flash miss-configuration.

Parameter Table Pointer from SFDP param. header represents the address of parameter table in dual-words, therefore it need to be converted to

[2022-07-18 18:06] sslupsky commented on #21647
There is another problem as well, the shell integration also forces the default littlefs configuration:

https://github.com/zephyrproject-rtos/zephyr/blob/03912c23e380c9e36a7ce40cc061f58720f67e73/subsys/fs/shell.c#L35

So if you are using a custom configuration, it is not compatible.

[2022-07-18 18:09] sslupsky commented on #41998
This also affects the shell integration mentioned in #21647

[2022-07-18 19:03] #46580 closed

[2022-07-18 20:40] laurenmurphyx64 commented on #47300
Also observing other similar tests failing with patches on top of commit for CAVS18 in addition to CAVS25:

[code]

[2022-07-18 21:05] zephyrbot opened #47972 "[backport v2.7-branch] backport of #39531 failed"
This issue was created automatically because the backport of #39531 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-39531-to-v2.7-branch`.

[2022-07-19 05:28] userid0x0 opened #47985 "ARC wrong .debug_frame"
**Describe the bug**
With optimizationlevel -Os the ARC GCC 10.3.0 of the Zephyr SDK generates .debug_frame information with wrong polarity. I observed the following behavior. With "-Os" the instruction `enter_s` is used. For these instructions the .debug_frame creates information like

(increment the SP by 0x8=CFA, in order to find the stacked R13 increment the CFA again by 0x8)
but it should be

[2022-07-19 05:48] userid0x0 commented on #47985
I cross checked with Zephyr SDK 0.15.0-beta2 - same behavior.

[2022-07-19 06:25] martinjaeger opened #47986 "Rework of STM32 bxCAN driver filter handling required"
## Background

The STM32 bxCAN assigns a number to the filters in the order they appear in the filter banks. This number is used in the RX FIFOs to associate a stored message to the used filter (the filter number is called filter match index in this context).

One filter bank can store 1 (extended ID + mask) to 4 (std ID, non-masked) filters depending on their mode and scale. If a bank configurati

[2022-07-19 06:34] martinjaeger commented on #44725
In order to reproduce the bug, I started with implementing the `can_get_max_filters` API call (see my [working branch](https://github.com/martinjaeger/zephyr/commits/stm32-can-max-filter)).

Now `tests/drivers/can/api` fails on all filter-related tests.

<details>
<summary>Click to expand log output for CONFIG_CAN_LOG_LEVEL_DBG=y</summary>

[code]

</details>

Digging deeper into the driver implem

[2022-07-19 06:39] henrikbrixandersen commented on #47986
Thank you for this analysis. The above sounds like the simplest solution. I'd say 28 std + 14 ext filters should suffice most needs?

[2022-07-19 06:54] martinjaeger commented on #47986
It would not be 28 + 14, but 14 if all filters are ext filters, 28 if all are std and something in between if you use mixed IDs. But I still think it should be sufficient. If someone really needs more, he/she can come up with a more sophisticated driver implementation.

I did actually start with implementation if this solution already, but wanted to get some more opinions to see if there are any c

[2022-07-19 07:35] hunterhu3000 opened #47987 "test: samples/boards/mec15xxevb_assy6853/power_management failed after commit 5f60164a0fc"
**Describe the bug**
test case samples/boards/mec15xxevb_assy6853/power_management failed after commit 5f60164a0fc

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? mec15xxevb_assy6853
 - What have you tried to diagnose or workaround this issue? git bisect and found first bad commit is 5f60164a0fc

**To Repr

[2022-07-19 07:44] mrfuchs opened #47988 "JSON parser not consistent on extra data"
For json strings containing additional objects that are not specified in the descriptor, the behavior of `json_obj_parse()` is inconsistent. It sometimes even is incorrect.

1. Extra objects are supported (`ret == 1`)

[code]

2. Extra arrays are not supported (`ret == -EINVAL`)

[code]

3. Extra nested objects may manipulate desired objects specified in descriptor (`ret == 1`, but `ts.str == "def

[2022-07-19 07:47] ballardr commented on #47323
Hi @aurel32, have you got  your code working yet?

For me, I fixed my first bug (which was device tree related - error were misleading), however, now I'm joining (according to the LoRaWAN server) but Zephyr's lorawan_join() is failing and crashing. Seems to be crashing at line 316 -  `k_sem_take(&mlme_confirm_sem, K_FOREVER);` in subsys/lorawan/lorawan.c. I put print statements above and below to

[2022-07-19 09:00] r2r0 opened #47991 "BLE functionality for STM32WB55 is limited with full version of BLE stack"
**Describe the bug**
The stm32wb_ble sample on nucleo_wb55rg board hangs on when it is used in combination with stm32wb5x_BLE_Stack_full_fw.bin (version 0.13.2) as a BLE firmware.
After updating BLE stack with stm32wb5x_BLE_HCILayer_extended_fw.bin sample works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Update BLE FW with stm32wb5x_BLE_Stack_full_fw.bin (version 0.13.2)
2.

[2022-07-19 09:04] fdarling commented on #43940
I can't find any mention of support for the CH32V307 other than in the release notes referring to this issue. Are any of the peripherals supported? I am interested specifically in Ethernet...

[2022-07-19 10:26] niag-Oticon commented on #41922
@cvinayak Yes all the considerations should now be implemented.

[2022-07-19 10:26] #41922 closed

[2022-07-19 10:49] aurel32 commented on #47323
Hi @ballardr. I guess you mean @HelloWorldTeraByte instead. My code has been working fine for a long time, although it is limited to LoRa and not LoRaWAN.

[2022-07-19 12:25] nvincent-vossloh commented on #46758
Hi, I recently upgraded to zephyr 3.1 and noticed the deprecation warning on civetweb which we use in our product in a similar fashion as described [here](https://github.com/zephyrproject-rtos/zephyr/issues/46758#issuecomment-1162629402) (first time setup, configuration, ...).

I wanted to let you know that we have [modified civetweb](https://github.com/siemaApplications/civetweb) to support https

[2022-07-19 12:27] #46763 closed

[2022-07-19 12:50] simhein opened #48002 "MISRA coding guidelines migration from auditable branch back to main"
# MISRA coding guidelines migration from auditable branch back to main
The actual https://docs.zephyrproject.org/latest/contribute/coding_guidelines/index.html defines a subset of MISRA-C 2012 rules.

A wide range of violations of the MISRA rules where fixed in the auditable branch (https://github.com/zephyrproject-rtos/zephyr/tree/v2.7-auditable-branch) by BUGSENG (https://github.com/zephyrprojec

[2022-07-19 13:08] kmanish88 commented on #47948
solved by enbling respective CONFIG settings

[2022-07-19 13:19] jori-nordic commented on #47649
@carlst I'm having some trouble reproducing it, do you mind uploading the `build/zephyr/.config` file so I can use your exact configuration ? If you have proprietary Kconfigs you can just grep any lines that contain `CONFIG_BT`, that will be enough.

Also, do you do anything on (re)connection before sending the notifications ? e.g. MTU exchange, encryption, stuff like that.

[2022-07-19 13:19] FRASTM opened #48007 "tests: gpio driver fails in pin_get_config"
**Describe the bug**
When running the testcase  tests/drivers/gpio/gpio_basic_api/ on various stm32 boards, the sequence pin_get_config fails because
flag set differs from flag get.

At least  on the following target boards : stm32f3_disco,  nucleo_g474re, nucleo_g071rb,  nucleo l152r, nucleo_wl55jc

During the gpio_stm32_config, the _flags_ is set with value  = 0xa0000
During the gpio_stm32_get_c

[2022-07-19 13:54] henrikbrixandersen commented on #47970
Please use the bug report template when reporting a bug (you can copy it from here since you missed it in the first place: https://github.com/zephyrproject-rtos/zephyr/blob/main/.github/ISSUE_TEMPLATE/bug_report.md).

[2022-07-19 14:02] henrikbrixandersen commented on #47916
I must be missing something. The proposed FRAM API is an exact copy of the EEPROM API with `eeprom` replaced by `fram`?

[2022-07-19 14:33] smrtos opened #48018 "ztest: static threads are not re-launched for repeated test suite execution."
**Is your enhancement proposal related to a problem? Please describe.**

New ztest fx doesn't have a logic to launch static threads. For test suites that use static threads in a "one-shot" way, when they are shuffled and executed repeatedly, later iterations may run in a different context. And tests can fail. Such as the tests/kernel/mutex/sys_mutex.

For now, static threads can be replaced with d

[2022-07-19 15:10] gregshue commented on #26073
When we need exclusive access to resources shared with interrupt context we need to lock interrupts to the level of the ISR(s) accessing it (or we need to disable the ISRs that access it - causing priority inversion).  This cannot be done by a `k_mutex`, so we will need at least two mechanisms.  Which one depends on whether the **project** configures the interrupt service routine to run in interru

[2022-07-19 15:18] carlocaione commented on #47700
tagging myself

[2022-07-19 15:26] carlocaione commented on #47700
At least for MMU enabled platforms you can already do that by leveraging `arch_mem_map()` https://github.com/zephyrproject-rtos/zephyr/blob/4a64af0e9dc16cc1fb48f44a5705a5f8f00ada4e/kernel/include/kernel_arch_interface.h#L248-L284

That is used for example by `z_phys_map()`.

[2022-07-19 16:14] #47955 closed

[2022-07-19 16:19] mmahadevan108 commented on #47987
cc @semihalf-barnas-michal

[2022-07-19 16:20] mmahadevan108 commented on #48007
cc @semihalf-barnas-michal

[2022-07-19 16:27] mmahadevan108 commented on #47942
cc @peter-mitsis

[2022-07-19 16:43] #39486 closed

[2022-07-19 16:49] henrikbrixandersen commented on #47822
Looks like you are attempting to use the SPI API from an interrupt service routine? You cannot do that, as a SPI transaction will sleep - and you cannot sleep from within an ISR.

[2022-07-19 16:56] mmahadevan108 commented on #47987
cc @nordic-krch

[2022-07-19 17:26] abrodkin commented on #47985
@claziss could you please comment on this one?

[2022-07-19 18:01] aralex1 commented on #46656
@mmahadevan108, Apologize for the late response. 3 weeks ago, I was working on creating a smaller sample to try to recreate the issue, so I could share it here. However, I haven't been able to reproduce it, apart from our actual project. I was pulled 2 weeks ago to work on another project due to a higher priority and that's why I haven't had the chance to continue researching this issue.

[2022-07-19 19:09] rodrigopex commented on #45910
Another feature added: message validator. If you provide a validator function at the channel declaration, the publishing action will check if the message is valid. If it is not, the publishing will fail.

[2022-07-19 19:14] rod-watt opened #48037 "Grove LCD Sample Not Working"
**Describe the bug**
I have built the samples for the Grove LCD found in zephyr/samples/drivers/misc/grove_display/ but the characters on the screen jump around.  It looks as if the curser position is moving between individual writes. I know it needs to move, but it look like it's moving incorrectly.

I am using the nrf52840 Dongle board and I have used the Grove LCD with older versions of the cod

[2022-07-19 19:45] gregshue commented on #47895
@nvlsianpu I understand why this ends up being priority:low, but this is blocking a PR in upstream mcuboot related to an informal TSC initiative. Can we approve this quickly to allow that to get unblocked?

[2022-07-19 20:19] alwa-nordic commented on #47942
Both, of course! Thank you for asking :D

But seriously. The main problem is that the warning is too vague, so it comes of sounding quite scary. If we document the limitation/requirement that each thread must be release mutexes in the reverse order of acquiring them, we have solved the issue. We can keep a explanation of the bad stuff that may happen if the reverse order is not honored. But it mus

[2022-07-19 21:41] dleach02 commented on #47908
I'm not exactly sure why TEST_RANDOM_GENERATOR doesn't just ultimately use the XORSHIRO algorithm but with a bad seed. By definition, it is just a test generator not to be used for anything real and from what you highlight, it is probably important to ensure there are no repeating parts of the rand values.

[2022-07-19 21:44] mmahadevan108 commented on #46656
@aralex1 any support you can give on this issue will be most helpful.

[2022-07-19 22:08] mbolivar-nordic commented on #47780
@WolsYang I can't really see anything in your video, sorry.

A few questions for you that may help you debug:

1. What pins do you have connected on the DK board?
2. Did you verify the color mapping on your WS2812 board? Many WS2812 boards are different. The default configuration for the nRF52-DK board is working for 16x RGB WS2812 chains like https://www.adafruit.com/product/1463. Your board may

[2022-07-20 01:25] WolsYang commented on #47780
@mbolivar-nordic Sorry, that video relly bad, I know I'm trying to find an easy way to that others understand.

I just want to show WS2812 example code for 52832 works and 52833 are not, they are both flash on 53833dk.
So, I don't think is hw issue.

`west build -b nrf52dk_nrf52832 zephyr/samples/drivers/led_ws2812/ --pristine`
`west flash // To 53833dk and this is work`

`west build -b nrf52833dk

[2022-07-20 03:47] fgrandel opened #48047 "Reference to obsolete files in cmake package docs"
The files mentioned in
https://github.com/zephyrproject-rtos/zephyr/blob/main/doc/build/zephyr_cmake_package.rst#zephyr-cmake-package-source-code
no longer exist.

They have been obsoleted by several refactorings to the folder over the last two years. Maybe the section should be replaced by one documenting the cmake modules under
https://github.com/zephyrproject-rtos/zephyr/tree/main/cmake/modules

[2022-07-20 04:54] cperera-aud opened #48049 "Obtaining the DNS domain name from the DHCP lease"
**Is your enhancement proposal related to a problem? Please describe**

We would like to obtain the DNS domain name from the DHCP lease so that this DNS domain name can be used later on. In our solution we need to use the this DNS domain name as a search path for looking up DNS records. Following is the workflow expected in our solution:

1. Obtain a DHCP lease with IP address, DNS server, DNS dom

[2022-07-20 05:45] enjiamai opened #48051 "samples: logger: samples/subsys/logging/logger/sample.logger.basic failed on acrn_ehl_crb board"
**Describe the bug**

The samples/subsys/logging/logger/sample.logger.basic is running failed on acrn_ehl_crb board.

**To Reproduce**
Steps to reproduce the behavior:
1.  west build samples/subsys/logging/logger -p always -b acrn_ehl_crb
2.  west flash /opt/remotehw/remotehw-x86-acrn.sh ehlsku11
3.  After seeing the ACRN boot, press "enter", when you see ACRN:\> enter "vm_console 0"
4.  You can s

[2022-07-20 06:28] pdgendt commented on #47817
I doubt this has anything to do with `xtensa`. I've had the same discussion in PR #46825, where eventually the installed python package is `grpcio-tools` which depends on `protobuf v3.20.1`.

Can you try with a reinstall of the requirements?
[code]

This limitation is because of a breaking upgrade from google as described [here](https://developers.google.com/protocol-buffers/docs/news/2022-05-06#p

[2022-07-20 06:47] pdgendt commented on #47877
I've worked on this [here](https://github.com/pdgendt/zephyr/tree/drivers-spi-mcux-ecspi). But this was ported from zephyr 2.7 where pinctrl wasn't implemented yet.
So it still has some `TODO` entries and an [update to the HAL](https://github.com/zephyrproject-rtos/hal_nxp/commit/ec24aed9945377cbbb02c1f8d634deaa331b7ed8) is needed. Feel free to test and fill in the blanks :)

[2022-07-20 07:04] RomainPelletant commented on #47598
@SeppoTakalo : according to your point of view, the whole serialization method seems to be the most reasonnable choice.
As the partial encoding/decoding feature is currently not integrated in JSON or CBOR librairies, could we open an issue/enhancement to see it implemented in a next futur and then have the tools to serialize on the fly in lwm2m client?

[2022-07-20 07:18] rlubos commented on #47966
The link you've posted does not explain what to do in a case when there is no data to send. Keep-alive based probe, from the experience, actually more often seen in the wild (but I might be wrong here) seems to be more universal in this case.

[2022-07-20 09:38] nordic-piks opened #48055 "samples: subsys: usb: audio: headphones_microphone and headset - Can not get USB Device"
**Describe the bug**
The samples/subsys/usb/audio/headphones_microphone/sample.usb.audio.headphones_microphone
and
samples/subsys/usb/audio/headset/sample.usb.audio.headset
fails (due to USB error?)

Observed for
- nrf52840dk_nrf52840
- nrf5340dk_nrf5340_cpuapp
- nrf5340dk_nrf5340_cpuapp_ns

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk connected
2. go to your zephyr dir
3.

[2022-07-20 10:24] SeediqQ opened #48056 "Possible null pointer dereference after k_mutex_lock times out"
**Describe the bug**

Assume thread A holds a mutex and thread B tries to lock it with a timeout, when that time comes up B gets unpended by z_thread_timeout and thus removed from the mutex's wait queue.

If however A unlocks this mutex before B being rescheduled again, the mutex->owner field will be set to null because B is not on the wait queue anymore. And when B finally gets resheduled again i

[2022-07-20 10:53] julius-barendt commented on #47477
I can confirm that the root cause is a stack issue and that it worked with stack size 512 was just luck.

It stems from the commit _129ddfe5c62_ that adds the line `CONFIG_MAIN_STACK_SIZE=1024.`
This overrides and halves the default 2048 specified in `/arch/sparc/Kconfig`.

So the fix you made is sufficient to solve this issue. But an argument could be made to remove the line to avoid overriding d

[2022-07-20 10:54] FRASTM commented on #48055
I found similar issue on the stm32 boards: see https://github.com/zephyrproject-rtos/zephyr/pull/48000

[2022-07-20 11:04] userid0x0 commented on #47985
I created a simple testcase using the same GCC flags as Zephyr uses
  https://github.com/userid0x0/arc-debug_frame
I included the objdumps as reference. Using -O2 the CFA references are all negative

using -Os the CFA references are positive if the compiler uses `enter_s`. The resulting adresses are outside of the frame

[2022-07-20 11:57] Klievan opened #48058 "Reading out a GPIO pin configured as output returns invalid value."
**Describe the bug**
On an nRF52-device, if an output-pin is set using gpio_pin_set() and is subsequently read by gpio_pin_get() or gpio_pin_get_raw() it does not return the updated value. I went through the documentation on gpio_pin_get() and it does not specify anything about the direction of the pin having to be input. On first glance it seems that this function can be used to check the output-

[2022-07-20 12:12] Gioelinho opened #48060 "Have modbus RTU Client and modbus TCP Master on the same microcontroller"
**Is your enhancement proposal related to a problem? Please describe.**
At the moment there isn't a way to have, i.e. , a Modbus TCP Mastert and Modbus RTU Client on the same microcontroller
We only have a CONFIG_MODBUS_ROLE_SERVER for both TCP and RTU

**Describe the solution you'd like**
I want one configuration option for MODBUS RTU and other one to MODBUS TCP like:
CONFIG_MODBUS_TCP_ROLE_SERVE

[2022-07-20 12:15] Thalley opened #48061 "BT: ISO: Add ISO host fragmentation"
**Is your enhancement proposal related to a problem? Please describe.**
If the host attempts to send a ISO packet larger than the ISO buffer then per the code spec it shall fragment it:

The `bt_iso_create_frag_timeout` already exists in the code, but isn't being used.

**Describe the solution you'd like**
Fully implement the `bt_iso_create_frag_timeout` function.

**Describe alternatives you've c

[2022-07-20 12:29] nvincent-vossloh commented on #47732
@Laczen I'm not sure what you mean by _absolute address_.

From my understanding, the `get_sector()` routine takes an address between 0 and `FLASH_SIZE` (therefore I do not consider it an absolute address, in my mind an absolute address would start at 0x08000000, at least on stm32). And depending on the offset requested and the swap state it provides the register addresses for CR and SR.
(DUAL_BAN

[2022-07-20 13:24] claziss commented on #47985
The dwarf info associated to `enter_s` instruction is wrong. I'll fix it asap.

[2022-07-20 14:09] userid0x0 commented on #47985
@claziss Is there a range of affected GCC versions available? We can add a workaround limited for these versions.

[2022-07-20 14:31] hakehuang commented on #47855
this case is ok for mimxrt1010_evk
[code]

[2022-07-20 14:37] Laczen commented on #47732
By absolute address I'm talking in the context of bank switching and the device addressing. No matter what bank the firmware is executing from, the flash device is always using the same addressing (as if the firmware was executing from bank 0). But yes for the stm32 an offset of 0x08000000 needs to be added to get fully absolute addresses.

The answer to this is: you shouldn't have any problems, t

[2022-07-20 14:38] mmahadevan108 commented on #47921
cc @semihalf-barnas-michal

[2022-07-20 15:26] jfischer-no commented on #48060
Kconfig options MODBUS_ROLE_CLIENT_SERVER, MODBUS_ROLE_CLIENT, MODBUS_ROLE_SERVER, specify supported roles in the core, MODBUS_ROLE_CLIENT_SERVER is selected by default. The role of an interface is determined during initialization by `modbus_init_client(iface, param);` or `modbus_init_server(iface, param);`

We only have a CONFIG_MODBUS_ROLE_SERVER for both TCP and RTU

For Modbus TCP to RTU gatew

[2022-07-20 15:26] #48060 closed

[2022-07-20 16:03] hakehuang commented on #47930
without config_no_optimzation=y, nxp platform test pass, but with CONFIG_NO_OPTMIZATION=y, there is no console output, as the exception overried the serial output function

[2022-07-20 16:04] hunterhu3000 opened #48071 "mec15xxevb_assy6853: test_i2c_pca95xx failed"
**Describe the bug**
tests/boards/mec15xxevb_assy6853/i2c_api failed on commit be6fede047567eb1e1a47d109704a69594a6dea5 (the first bad commit)
[code]
Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? mec15xxevb_assy6853

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p always -b mec15xxevb_a

[2022-07-20 16:07] mbolivar-nordic commented on #38725
Process WG:

- @stephanosio I will provide a template with example syntax
- @mbolivar-nordic -- are you opposed to doing it in one file @nashif ?
- @nashif I just want to see an example before agreeing to this. Don't want people to get the impression they are project level maintainers just because they have some responsibility for a single file they submit or something like that.

[2022-07-20 16:41] lawrencek52 commented on #47930
Try adding "add_compile_options(-mno-unaligned-access)" to the top of the
CMakeLists.txt in the project.

On Wed, Jul 20, 2022 at 12:03 PM hakehuang ***@***.***> wrote:

[2022-07-20 16:53] mbolivar-nordic commented on #46759
Process WG:

- @mbolivar-nordic it looks like the "Release blockers" slide is the main proposal for this issue: https://docs.google.com/presentation/d/10Q-B0Upv1bBaoQRNM5n9yUEMeXO6NINnFNDkA86RCsM/edit#slide=id.ga4343a65c2_1_0
- @nashif that and slide 6 "release criteria"
- @stephanosio my concern is assigning blockers will take lengthy discussions on a per-subsystem basis
- @dleach02 I also do lik

[2022-07-20 16:55] mbolivar-nordic commented on #46800
- @mbolivar-nordic I think we're still brainstorming -- unless there are concrete ideas, would like to postpone due to lack of time
- @nashif I would like to hear people's thoughts on this

Request:

- If you have thoughts on this, please write them here on GitHub or let @nashif know what they are privately

[2022-07-20 17:02] stephanosio commented on #47329
No objections raised in the TSC.

The motion to "keep the C99 format specifier support disabled for the newlib 'nano' variant at the cost of breaking the C99 standard compatibility" passed.

I will implement this change.

[2022-07-20 17:25] tpennors opened #48081 "tests/drivers/clock_control/stm32_clock_configuration/stm32u5_core not working with msis 48"
**Describe the bug**
Unit test "tests/drivers/clock_control/stm32_clock_configuration/stm32u5_core" not working with clock msis 48MHz
Not working means that core doesn't even start. No zephyr banner.
Info : Example with overlay pll are working.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b b_u585i_iot02a tests/drivers/clock_control/stm32_clock_configuration/stm32u5_core/ -DDT

[2022-07-20 20:15] krish2718 opened #48089 "AF_PACKET sockets not filling L2 header details in `sockaddr_ll`"
**Describe the bug**

We have agreed in https://github.com/zephyrproject-rtos/zephyr/pull/45592#issuecomment-1127794846 that all unknown ether types will be passed and its up to application to filter. But with fix in https://github.com/zephyrproject-rtos/zephyr/pull/45592 L2 header is now removed but the `recvfrom` doesn't fill the `sockaddr_ll` details, so, we don't have access to the protocol (e

[2022-07-20 20:16] krish2718 commented on #48089
@rlubos unable to assign, so, tagging you.

[2022-07-20 20:37] #29866 closed

[2022-07-20 21:58] mbolivar-nordic commented on #47780
I agree that signal is really weird. It should not be possible for the signals to be that close together.

I agree this sounds like an installation issue, but I too am not so sure how to proceed.

Maybe you can look at the SPIM registers in Ozone and see if there is anything strange or different in the non-working hex, when you compare with the working hex? Since your hardware is OK, there must be

[2022-07-20 22:02] microbuilder commented on #47855
I did a quick test with the following command, which fails as described on the nRF53 (all I had on hand):

[code]

Increasing stack size to `CONFIG_MAIN_STACK_SIZE=2048` causes the test to pass:

[code]

[2022-07-20 22:08] microbuilder commented on #47929
Please confirm this isn't simply the stack size being too small for this platform, as per https://github.com/zephyrproject-rtos/zephyr/issues/47855#issuecomment-1190806681=

[2022-07-20 22:09] microbuilder commented on #47930
Please confirm this isn't simply the stack size being too small for this platform, as per https://github.com/zephyrproject-rtos/zephyr/issues/47855#issuecomment-1190806681=

[2022-07-20 23:21] sslupsky opened #48094 "pre-commit scripts fail when there is a space in zephyr_base"
Not sure how to title this issue ... checkpatch?  environment? build? git?

**Describe the bug**
Pre commit script fails when ZEPHYR_BASE has a space in the path.

**To Reproduce**
Create a directory with a space in the name.
For instance, the path "/Users/stevenslupsky/Library/Mobile Documents/..."
Attempt to commit.
Error message in git log:
[code]

**Mitigation**
If the pre-commit script is upd

[2022-07-21 01:09] WolsYang commented on #47780
How can I do that? I'll try it later.

[2022-07-21 01:55] Abrahamh08 commented on #47877
Hi, thanks for making that repo! I have looked at it quite a bit while trying to implement this. I am also the person who asked you about it in discord recently. However, this requires MCUXpresso SDK support, and as I mentioned I tried adding support for the i.MX7D to MCUXpresso with no success. They have i.MX7ULP support, so you would think it is trivial to port that, but I also tried that and it

[2022-07-21 06:57] FRASTM commented on #48058
is it a similar  to issue https://github.com/zephyrproject-rtos/zephyr/issues/48007 ?

[2022-07-21 07:13] Fanhang32 opened #48098 "Build error for samples/bluetooth/unicast_audio_server of nrf52dk-nrf52832 board"
**Describe the bug**
Build error for samples/bluetooth/unicast_audio_server of nrf52dk-nrf52832 board

**To Reproduce**
Build with below command
`west build -p auto -b nrf52dk_nrf52832 samples/bluetooth/unicast_audio_server`

**Logs and console output**
`$ west build -p auto -b nrf52dk_nrf52832 samples/bluetooth/unicast_audio_server/
-- west build: making build dir /home/project/zephyr/zephyr/buil

[2022-07-21 08:41] Sir-Branch opened #48102 "JSON parses uses recursion (breaks rule 17.2)"
Creating bug to not lose track, came up during #47989.

We should remove recursion inside the JSON parser library, as this breaks rule  breaks rule 17.2 and is not MISRA C compliant (#11425).

 @mrfuchs pointed out:

[2022-07-21 09:10] mabbas22 opened #48104 "[v 1.13 ] HID is not connecting to Linux based Master device"
**Describe the bug**
We are using nrf52840 as BLE peripheral.
The HID (peripheral_hids) of Zephyr 1.13.0 is not connecting to Linux based Master device.
I am getting following errors upon first connection request:

**_First:_**
`
ASSERTION FAIL [api->get_entropy != ((void *)0)] @
lib/zephyr/include/entropy.h:75:`

Peripheral device just reboots

**_Second_**

Security_changed callback is called an

[2022-07-21 09:31] willChuai commented on #46301
Revision completed, please review, thanks.

[2022-07-21 09:49] rahulmohang opened #48111 "LVGL: License agreement not found for the font arial.ttf"
Hello,

There is a proprietary font software at https://github.com/zephyrproject-rtos/lvgl/blob/zephyr/examples/libs/freetype/arial.ttf. There is a reference to a license agreement. However, the location of the license agreement is not explicitly mentioned. We tried browsing to the URL of the webpage mentioned in the page. However, we could not reach the server.

Is it possible to remove this font

[2022-07-21 10:00] 99003662 opened #48113 "Zephyr support for STM32U5 series MCU"
Hi team,
            I am working with STM32U5 series board, I have couple of question here
1. Currently in zephyr , what all are the features and peripheral support is available for this particular series(STM32U5) ,
2. Do we have an estimated timeline by which zephyr will completely support the stm32u5 family.

 Based on these , we need to take critical decision so , kindly help me here .
Thanks

[2022-07-21 10:38] ssharks commented on #47966
TCP Keep-alive and Zero Window Probe are two different things.

In basis TCP should never send an acknowledgement to an ACK message, otherwise you keep sending acknowledgements back and forth, which will never work.
If ZWP is implemented as defined in the reference, this will always work, simply because there is always 1 byte of payload.

TCP keep alive is a special case and requires an exception

[2022-07-21 10:41] nordic-piks opened #48115 "tests: subsys: dfu: mcuboot_multi: dfu.mcuboot.multiimage hangs at first test case - test_request_upgrade_multi"
**Describe the bug**
The test - tests/subsys/dfu/mcuboot_multi/dfu.mcuboot.multiimage
hangs during first test case:
[code]
no other console output within 60 sec.

Reproduction 3/3.

Observed for
- nrf52840dk_nrf52840

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk connected
2. go to your zephyr dir
3. call ./scripts/twister -T tests/subsys/dfu/mcuboot_multi -p nrf52840dk_nrf5

[2022-07-21 11:28] rlubos commented on #47966
I can only aggree on the fact, that a textbook example of TCP Keep-alive and ZWP are indeed two different things. It doesn't change the fact however, that you can achieve the same result (i. e. window update) by sending a Keep-alive packet instead of a textbook ZWP. And it's not that only some wacky TCP implementations in the wild do that - Linux does the very same thing:
![image](https://user-ima

[2022-07-21 12:37] M1cha commented on #24373
This issue shouldn't have been closed since it was created after the merge, exactly to track backporting it to 2.2.x:
https://github.com/zephyrproject-rtos/zephyr/pull/24354#issuecomment-613906317

This was never done and the bug is still present in 2.2.1. Our company just ran into it this week.

[2022-07-21 12:45] ssharks commented on #47966
A ZWP only needs to be send when there is data to be send, in order to make it work properly we need to have an option for tcp_send_data, where we can specify the length to be transmitted = 1 after setting conn->unacked_len to 0.

[2022-07-21 12:51] fkokosinski commented on #46301
Thanks, it looks much better without e.g. the `middleware` directory.

I'm wondering - why can't much of the HAL be moved and merged directly into the main Zephyr tree? Some parts, i.e. files in [hpm_sdk](https://github.com/hpmicro/zephyr_hal_hpmicro/tree/manifest-rev/hpm_sdk)/[drivers](https://github.com/hpmicro/zephyr_hal_hpmicro/tree/manifest-rev/hpm_sdk/drivers/src) look like they should be mo

[2022-07-21 13:17] willChuai commented on #46301
The hpm_sdk/drivers package is already very thin, it corresponds directly to the mcu registers, without this layer it would do the register operations directly, which should be consistent with most vendors. So the final structure is that zephyr/drivers calls the hpm_sdk/drivers interface.

We are active in the open source community and hpm_sdk itself is open source. HPMicro does not support many z

[2022-07-21 13:22] rlubos commented on #47966
This will be problematic in terms of `POLLOUT` processing, imagine the following scenario:
1. Zephyr uses `poll()`/non-blocking `send()` to handle TX side and sends a data packet exactly of the size of the peer receive window. Peer acknowledges the data, reporting zero window.
2. Now Zephyr is blocked in `poll()` waiting for a non-blocking `send()` to be possible. In order to achieve that, the win

[2022-07-21 14:06] aaronemassey commented on #48018
@yperess

[2022-07-21 14:10] aaronemassey commented on #48018
My understanding from the test working group meeting is this is specifically reproduced by shuffling the tests and rerunning the test.

[2022-07-21 14:13] yperess commented on #48018
@smrtos can you link an example or paste a minimal code example? From what I'm hearing you want to have a static thread which is stateful, but order of execution or repeated execution of tests breaks that. Can't you reset state in the thread during the before function of your suite? You'll need some synchronization tools for that, but it should be possible in the current API.

Generally I would re

[2022-07-21 14:18] de-nordic commented on #14994
@galak The #13702 has been merged, so the issue is solved?

[2022-07-21 14:31] FRASTM commented on #48081
@tpennors could you please check with the PR

[2022-07-21 14:37] asemjonovs commented on #48018
@smrtos - is it expected behavior of the test to make the static thread exit?

[2022-07-21 14:46] aralex1 commented on #46656
@mmahadevan108 Like I mentioned, I haven't been able to go back to this research. But, here is what I tried to recreate the issue.
[TestCode.zip](https://github.com/zephyrproject-rtos/zephyr/files/9160038/TestCode.zip)

The idea is to have 2 threads running (Tight and Tlow). Thigh waits for Tlow on a semaphore. Once Tlow gives the semaphore to Thigh, Thigh does "some work" and then sleeps for 100m

[2022-07-21 15:54] ssharks commented on #47966
Hmmm... did not realize the polling situation. Then you would need to accept the write despite the receive window being 0 after the persist timer has elapsed. This indeed complicates stuff quite a bit.

On the ACK side then it is only required to acknowledge an ACK when the sequence number is 1 behind, not all ACK with previous sequence numbers.

[2022-07-21 17:09] tpennors commented on #48081
Wonderful, it works for me now !

[2022-07-21 18:24] #48055 closed

[2022-07-21 18:24] galak commented on #48055
Merged #48000 see if this is still an issue

[2022-07-22 01:59] #47942 closed

[2022-07-22 02:03] smrtos commented on #48018
I don't mean stateful static thread. Actually, I don't think a test function should be stateful. I just want to ensure each run of a test function has the exactly same context.

For example, below are some static threads:
https://github.com/zephyrproject-rtos/zephyr/blob/45cecadb35a2fa8078759bd0c42583a15758c4fb/tests/kernel/mutex/sys_mutex/src/main.c#L394-L395

They interact with below test functi

[2022-07-22 02:07] smrtos commented on #48018
For the design of below test, I think the static threads are expected to exit after the test function ends. https://github.com/zephyrproject-rtos/zephyr/blob/45cecadb35a2fa8078759bd0c42583a15758c4fb/tests/kernel/mutex/sys_mutex/src/main.c#L394

[2022-07-22 03:23] inteljiangwe1 commented on #47081
@peter-mitsis any comments?

[2022-07-22 03:24] JordanYates commented on #34227
Is this resolved by #47193?

[2022-07-22 04:02] smrtos opened #48147 "ztest: before/after functions may run on different threads, which may cause potential issues."
**Describe the bug**
For the new ztest fx, there can be two threads at runtime, `main` thread and `ztest` thread.

With current implementation, the `after` function is **always** executed on the `main` thread:
https://github.com/zephyrproject-rtos/zephyr/blob/0476d6ad69f1954c5e10e48f57515b881e5a5ee1/subsys/testsuite/ztest/src/ztest_new.c#L441-L443

While the `before` function can run on `main` thr

[2022-07-22 04:05] smrtos commented on #47604
Current `before/after` functions may run on different threads, which may cause potential issues. See: https://github.com/zephyrproject-rtos/zephyr/issues/48147

[2022-07-22 04:07] yperess opened #48148 "Sensor Subsystem: Base sensor DTS bindings"
We should come to an agreement on the following properties:

1, `label` should not be required, it's being phased out of Zephyr overall

2. `sensor-index` should not be specified by the application, it's assigned by the subsystem and should not be guaranteed to be the same across builds. Having to specify this manually makes it difficult to add/remove new entries in the middle.

3. `vendor`, `mode

[2022-07-22 04:39] yperess opened #48149 "Sensor Subsystem: client facing API: finding sensors"
The currently proposed API provides `senss_find_sensor()`, `senss_get_sensor_count()` which forces the caller to allocate a buffer for the sensor info structs to be filled. There's no reason to re-invent a good API and we should just use the one from CHRE.

[code]

Using this model, the client doesn't need to allocate any memory, the memory is allocated exactly as needed by the subsystem (when ite

[2022-07-22 04:40] Fanhang32 commented on #48098
It can build pass if I revert below patch by @rugeGerritsen,
But i don't think it's the right way to resolve this build error, who can help to give some advice? thx
https://github.com/zephyrproject-rtos/zephyr/commit/860592698be9fc401fbbf95a7610d0facdd64cc1#diff-d0914d337ff3496106eb595db0df3ff12b8f0f5004ea2efb82f119ebe381d471R21

[2022-07-22 04:51] yperess opened #48150 "Sensor Subsystem: data types"
The subsystem should not distinguish between calibrated and uncalibrated types in the data structure layer.

The currently proposed API includes:
[code]

This means that any client requesting uncalibrated data will consume twice as much memory. Like previous comments, I don't believe that we should be deviating from existing public APIs in this domain and we should be replicating the CHRE model. I

[2022-07-22 06:17] rugeGerritsen commented on #48098
@Fanhang32 , the sample is not building because of `BT_CTLR_PERIPHERAL_ISO_SUPPORT=n`, that is the Zephyr Bluetooth Controller does not support connected isochronous channels in peripheral mode yet.

In order to get rid of this build failure you may:
1. Not build the Bluetooth Controller as part of this sample, that is set `CONFIG_BT_CTLR=n`. This will require you to have a Bluetooth controller on

[2022-07-22 06:45] Fanhang32 commented on #48098
@rugeGerritsen  Thanks for your reply!

As i know, nrf52832 support Bluetooth 5.3, i think it should support CIS default. So is it the limitation of Zephyr Bluetooth Controller?  Do you know when CIS can be supported by Zephyr Bluetooth Controller with nrf52832?
https://www.nordicsemi.com/Products/nrf52832

[2022-07-22 07:04] rugeGerritsen commented on #48098
A controller supporting 5.3 does not need to support all features. For controller related question, contact @cvinayak

[2022-07-22 07:42] brgl commented on #48111
@kisvegabor I think this is an upstream issue, does this ring a bell for you?

[2022-07-22 09:09] cjgraydon commented on #47817
I'll give that a go with the force reinstall and check on the version of grpcio-tools and see what I get and report back.

[2022-07-22 13:13] enthunilu commented on #44573
Just wanted to share I am able to test usb-rndis functionality by using below example code and
[https://github.com/zephyrproject-rtos/zephyr/tree/f9739ab41dde9c56e3bc038fe0bebf65b5ac1cfa/samples/net/sockets/dumb_http_server](url)

with some minor changes in code.

Thanks again @finikorg for sharing inputs.

[2022-07-22 13:42] peter-mitsis commented on #47081
@inteljiangwe1 - Apologies for the late reply. My attention had been focussed on other issues tagged as higher priority. However, I now have a small window to take a look at this before I jump onto the next priority item.

[2022-07-22 13:57] FRASTM commented on #47105
@str4t0m do you have a PR for this ?

[2022-07-22 13:59] asemjonovs commented on #48018
Ok, looks like this test wasn't designed to be ran multiple times. Since all the threads are defined within the test, we should be fine with making these dynamic like you mentioned in your other response.

[2022-07-22 14:04] #47852 closed

[2022-07-22 15:10] str4t0m commented on #47105
@FRASTM Yes I had prepared something, I think it should still be applicable without change.

Update:
- STM32G0, STM32G4, STM32L4, STM32L5, STM32WB, and STM32WL.are already fixed, and PLLCLK was dropped after the PLL_X sources have been introduced.
-  STM32F2, STM32F4, STM32F7: have the same error, but it is not exposed as PLLCLK was not added as clock source, but it will be needed once PLL sources

[2022-07-22 15:23] aradenac opened #48175 "stm32 octospi flash driver"
**Describe the bug**
Hello, in Zephyr v3.1.0 the sample zephyr/samples/drivers/spi_flash was working fine on b_u585i_iot02a board (MX25LM51245 octospi flash), providing the following output:
![image](https://user-images.githubusercontent.com/22891063/180468982-3cd63a46-9ce5-47d1-8277-b28fb1499e53.png)

But in the current main Zephyr version (commit 5432cac806b4e479a2da55afa30ead927eef3e2b) the sam

[2022-07-22 15:26] Fanhang32 commented on #48098
@rugeGerritsen Got it, thanks a lot !

Hi @cvinayak , could you help to explain if nrf52832 controller can support CIS ?
If not，when can support？thanks very much

[2022-07-22 15:41] peter-mitsis commented on #47081
To fix or not to fix, that is the question.

I've spent the last couple of hours getting somewhat re-acquainted with this code as a fair bit has happened since I last looked at this code (over 5 years ago).  If I am following things correctly, this appears to be by design, and this will probably fall under "do not fix". (To be clear, this is not a final verdict; it is just an early indicator.)  I

[2022-07-22 15:51] #47010 closed

[2022-07-22 17:05] mrdimfox opened #48185 "LV_Z_DISPLAY_DEV_NAME symbol has not got "parent" symbol with a type"
## Description

Using stm32f429i_disc1 board with Zephyr 3.1.0 I got an error on CMake configuration step. This error is connected to absent of LVGM symbols in project by default. I mean, [LV_Z_DISPLAY_DEV_NAME ](https://github.com/zephyrproject-rtos/lvgl/blob/aae1c11102138cf596687e662c0d54b72f72bf9b/zephyr/Kconfig.graphical#L12) is supposed to be declared in LVGL module with an appropriate type,

[2022-07-22 17:49] Klievan commented on #48058
Don't think so. Went through the PR you mentioned and that would not fix this issue. That issue seems related to the pin configuration, while this issue is about reading out the output state of a pin.

[2022-07-22 17:56] aasthagr commented on #47872
@gregshue I think the manual test applications still go under the tests category but the manual tests can be marked build only in the YAML file since CI doesn't have actual hardware support yet.

Also, can you elaborate on what you mean by actual product configurations? Kconfigs?

[2022-07-22 19:14] gregshue commented on #47872
@aasthagr

Sure.

Many end users will be creating FW images for commercial products (e.g., a USB dongle providing a BLE mesh interface; multi-function printer; automotive anti-lock brake unit; defibrillator; home door lock; etc.).

Similar to existing tests and samples, each "product" directory in the workspace will have:
- a top-level CMakeLists.txt
- a prj.conf
- one or more project-unique sourc

[2022-07-22 21:13] aasthagr commented on #47872
@gregshue If I am following you correctly, do you mean to have a framework in place which allows for easier integration of products?

And for the second part, do you mean to have support for a separate subcategory of tests that can determine the test as a manual test which is not build-only or automated test?

[2022-07-22 21:27] gregshue commented on #47872
Yes, but it can be as simple as adding a `products/` tree parallel to `samples/`, `tests/`, and `demos/`, modeling a naming patter with a prefix to avoid collisions with other trees and other modules, and putting a base-level "product" in there for verifying CI builds this tree.

I don't know if "subcategory" is the right term.  Manual tests and automated tests are as different as samples and demo

[2022-07-22 21:34] dleach02 commented on #47568
@kt-peters, can you try #48191 in your setup to ensure it addresses your problem?

[2022-07-22 22:27] soburi opened #48194 "Support J-Link debugger for RaspberryPi Pico"
This issue derives from #45137.

@MeisterBob provided a short code to support the J-Link debugger.

https://github.com/zephyrproject-rtos/zephyr/issues/45137#issuecomment-1182826277

I think it is good to add after #45137 is merged.

[2022-07-22 22:28] soburi commented on #48194
But I don't have J-Link debugger, I can't verify it is working. :-(

[2022-07-22 23:38] aaronemassey opened #48198 "NPCX Tachometer driver compiled despite status = "disabled""
**Describe the bug**

With https://github.com/zephyrproject-rtos/zephyr/pull/48048 changes, we noticed
our builds were failing on board overlays using npcx without a tachometer driver
due to the following warning:

[code]

This can be reproduced in upstream Zephyr using the `npcx9m6f_evb` board.

**To Reproduce**
Steps to reproduce the behavior:
1. In `boards/arm/npcx9m6f_evb/npcx9m6f_evb.dts` dis

[2022-07-22 23:38] aaronemassey commented on #48198
@keith-zephyr ^

[2022-07-23 00:20] HelloWorldTeraByte commented on #47323
I unfortunately have not gotten the LoRa module to work yet.

I attached a gdb server and probed around the registers of interest. Interestingly none of the SPI registers responsible for the LoRa are resetting to the values given in the reference manual. They are all zero even after manually enabling the SPI with the RCC register. Zephyr gets stuck waiting for the TXE flag to be set, but the entir

[2022-07-23 00:30] #43479 closed

[2022-07-23 04:04] galak commented on #48175
This could be because of device init ordering.  Worth checking the priorities of the flash device, ospi driver, etc to make sure the init ordering is happening correctly.

[2022-07-23 09:38] enjiamai opened #48215 "docs: build the documentation failed due to "Could NOT find LATEX""
**Describe the bug**
When trying to update the Zephyr documentation, there is a build error and
it will cause the PR cannot pass the CI's check of documentation.

I got a error message of  "Could NOT find LATEX" , please see https://github.com/zephyrproject-rtos/zephyr/runs/7480058629?check_suite_focus=true  for more details, which is the CI result of PR https://github.com/zephyrproject-rtos/zephy

[2022-07-23 09:50] stephanosio commented on #48215
That is incorrect. It failed because of:

[code]

Please fix the incorrect change in the PR.

[2022-07-23 09:50] #48215 closed

[2022-07-23 09:54] enjiamai commented on #48215
It's my wrong. Thanks for correcting me. @stephanosio .

[2022-07-23 11:21] nashif commented on #47072
this is completed, closing.

[2022-07-23 11:21] #47072 closed

[2022-07-23 11:34] bbilas commented on #48185
It looks similar to https://github.com/zephyrproject-rtos/zephyr/pull/48128.

[2022-07-23 13:01] Smale-12048867 opened #48216 "Running gPTP sample application on SAMe54 Xplained pro(Supports IEEE 802.1 AS gPTP clock) , PDelay Response Receipt Timeout"
**Describe the bug**
I'm trying to run gptp demo of zephyr in the SAMe54 Xplained Pro board (Supports IEEE 802.1 AS gPTP clock),
Connected  SAMe54 Xplained Pro board and Dell Latitude 7480.
getting PDelay Response Receipt Timeout

**To Reproduce**
Steps to reproduce the behavior:
Open three terminals 1, 2 and 3
I) running the gPTP sample application on SAMe54 Xplained pro board
1. connect the SAMe

[2022-07-23 13:46] mrdimfox commented on #48185
Yes, as I can see these are seems related.

[2022-07-23 16:01] soburi opened #48220 "adxl345: sensor value calculation should be wrong"
Currently, adxl345 sensor count to value is implement as follow.

https://github.com/zephyrproject-rtos/zephyr/blob/6b5ae7799a147396e6c744d39e9df204b6bbe38c/drivers/sensor/adxl345/adxl345.c#L136-L137

It means,

$$
value [mg] = { sample [LSB]  \over 32 [{LSB/g}] } * 1000 [millis]
$$

But, sensor.h says the sensor value unit is  $m/s^2$. Not milli-g.

https://github.com/zephyrproject-rtos/zephyr/bl

[2022-07-23 18:34] kisvegabor commented on #48111
Hi,

It's really an LVGL upstream issue. I replaced Arial with Lato in the  7master` branch and cherry-picked it to the `release/v8.3` branch too. I'll release v8.3.1 next week which will contain this fix.

[2022-07-23 18:44] Erdyke opened #48223 "base64.c encode returns wrong count of output bytes"
**Describe the bug**
A simple off by one error in the final calculation of `olen`

**Please also mention any information which could help others to understand the problem you're facing:**
Unit testing shows amount of encoded data is different from amount expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Use base64_encode with `dlen = 0` size to get expected base64 size
2. Run base64

[2022-07-23 18:53] Erdyke commented on #48223
This might be a nevermind. Reading more carefully:
` * @note           Call this function with dlen = 0 to obtain the required buffer size in *olen`

[2022-07-23 21:32] nklayman commented on #34269
I came across this issue on latest main branch of Zephyr with XCC based off GCC 4.2. Neither @hongshui3000's nor @nordic-krch's solutions worked for me, but I came up with this which appears to work alright:
[code]

This worked with both minimal and non-minimal logging. This patch wasn't necessary with GCC (but it didn't break it), so maybe it should be conditional on that as well. Should I open a

[2022-07-23 23:06] bpbradley commented on #48058
I can confirm this behavior. I rolled back to 2.7 though and it is still present, so it may be intentional. On nrf52840, gpio_pin_get always returns the default value, and does not change when the state is changed.

[2022-07-24 00:32] #45509 closed

[2022-07-24 00:32] #45315 closed

[2022-07-25 06:25] nordic-krch commented on #34269
@nklayman please open PR, maybe you can wrap it with
`if(${ZEPHYR_TOOLCHAIN_VARIANT} STREQUAL "xcc")` and add a comment.

[2022-07-25 07:40] #48198 closed

[2022-07-25 07:45] ibirnbaum opened #48243 "drivers: conflicting demands between DEVICE_MMIO API and GPIO drivers"
**Description:**

I was planning to refactor all device drivers for the integrated peripherals of the Xilinx Zynq-7000 / ZynqMP(UltraScale) families so that the DEVICE_MMIO API is used for mapping the device's respective register space with proper memory protection (MMU in the Zynq, MPU in the UltraScale) rather than having a DT_NODE_HAS_STATUS(..., okay)-dependent static entry for each device in

[2022-07-25 08:08] kt-peters commented on #47568
It does. Thanks for the fix.

[2022-07-25 09:02] bbilas commented on #48185
Sure, I've added `LV_Z_DISPLAY_DEV_NAME` as well. Would you mind testing that patch and confirming if it works for you?

[2022-07-25 09:34] erwango opened #48249 "[v2.7-branch] boards: nucleo_wb55rg: documentation BLE binary compatibility issue"
**Describe the bug**
Board doc states:
"To date, interoperability and backward compatibility has been tested and is
guaranteed up to version 1.5 of STM32Cube package releases."

This is wrong and should be updated.

[2022-07-25 09:35] erwango opened #48251 "[v3.1-branch] boards: nucleo_wb55rg: documentation BLE binary compatibility issue"
**Describe the bug**
Board doc states:
"To date, interoperability and backward compatibility has been tested and is
guaranteed up to version 1.5 of STM32Cube package releases."

This is wrong and should be updated.

[2022-07-25 10:22] gmarull commented on #48037
Unfortunately, I don't have the hardware to test this. The grove lcd driver has been unmaintained for a while, I just ported it to DT in https://github.com/zephyrproject-rtos/zephyr/pull/42237. Can you check if that PR introduced the issue?

[2022-07-25 10:39] alwa-nordic opened #48253 "Only the first failing test is aborted and marked failed"
When multiple tests should fail, only the first one is aborted and marked failed. This error is present in both new and old ztest (selected by `CONFIG_ZTEST_NEW_API`).

#### How to reproduce
- Edit `tests/ztest/base/src/main.c` so that it has two or more failing tests. It works with both `ztest_test_fail();`, `zassert_true(0, NULL);` and everything else I've tried. Note that `ztest_test_fail();` i

[2022-07-25 11:05] #47379 closed

[2022-07-25 12:48] nashif commented on #47872
tests that can run manual or automated, should never be marked build-only. build_only is ONLY for code that is not designed to run. For this, we use harness which indicates how something be tests.

[2022-07-25 12:55] nashif commented on #47872
"products" is out of scope, those should be maintained downstream and I do not think they should be part of the scope of this RFC. We probably can have a page in the documentation pointing to products and product repos and leave everything to the maintainers. The closest we can get to "products" is what is listed as "demos" above which are a bit more involved and are part of the project and run on

[2022-07-25 13:10] chrta opened #48263 "[v3.1-branch] net: net_bufs are leaked when net_pkt_shallow_clone() is used"
**Describe the bug**

This issue is already fixed in main by the pr https://github.com/zephyrproject-rtos/zephyr/pull/45659

From the relevant commit message https://github.com/zephyrproject-rtos/zephyr/commit/f12f9d5e95a83af96d4f09b4c882de5581b78971:

[2022-07-25 13:14] #47568 closed

[2022-07-25 13:17] yfourel-vossloh opened #48267 "No model in devicetree_unfixed.h :"
I use zephyr 3.0 on a STM32H743.

We add "model" in our zephyr.dts file because we need to send model name during Mqtt Nbirth request.
Here is the beginning of zephyr.dts :

[code]

- My problem is that I can find "compatible" on devicetree_unfixed.h, but not "model". I think it's a bug because you allow to add model property, but it seems it's not generated in devicetree_unfixed.h
- Moreover, is

[2022-07-25 13:42] erwango commented on #47822
@zdtyuiop4444 Can you check comment from @henrikbrixandersen and get back to us ?

[2022-07-25 14:14] chrta opened #48269 "[v3.1-branch] net: Possible net_pkt leak in ipv6 multicast forwarding"
**Describe the bug**

This issue is already fixed in main by the pr #48218

From the relevant commit message https://github.com/zephyrproject-rtos/zephyr/commit/a3cdb2102c5a3f2dea640e51f1963e1aeddbfd7c

[2022-07-25 14:18] chrta opened #48270 "[v3.0-branch] net: Possible net_pkt leak in ipv6 multicast forwarding"
**Describe the bug**

This issue is already fixed in main by the pr #48218

From the relevant commit message https://github.com/zephyrproject-rtos/zephyr/commit/a3cdb2102c5a3f2dea640e51f1963e1aeddbfd7c

[2022-07-25 14:20] chrta opened #48271 "[v2.7-branch] net: Possible net_pkt leak in ipv6 multicast forwarding"
**Describe the bug**

This issue is already fixed in main by the pr #48218

From the relevant commit message https://github.com/zephyrproject-rtos/zephyr/commit/a3cdb2102c5a3f2dea640e51f1963e1aeddbfd7c

[2022-07-25 14:47] microbuilder commented on #47855
@nordic-piks Any feedback? Seems trivial to fix all three of these related issues, but not sure where Nordic wants to increase stack size in a manageable way for these tests and across platforms. I'll just make a PR myself to close them if there isn't a reply, and presumably someone will comment there on placement of the stack size adjustments.

cc @carlescufi @joerchan

[2022-07-25 15:32] peter-mitsis commented on #47081
So I did some more digging. Exceptions, unlike interrupts, are handled at thread level. They may do things that interrupts are not allowed to do such as block on a resource.

I am certain now that this issue qualifies as a "Do Not Fix".

[2022-07-25 15:32] #47081 closed

[2022-07-25 18:38] peter-mitsis commented on #47081
Although there are similarities between exceptions and interrupts, on x86 they are sufficiently different such that k_is_in_isr() returns false inside an exception handler (unless the exception occurred during the handling of an interrupt).

[2022-07-25 19:24] #46117 closed

[2022-07-25 20:16] nashif commented on #47872
this is not downstream.

I am not following why we as an upstream project that is not tied to any product directly and in the upstream tree have to carry and maintain product code that is not part of the project.

Again, why would we maintain products as part of the vanilla upstream zephyr. If there are products out there that are seeking esposure, they should do that in their own environment and

[2022-07-25 21:12] mrdimfox commented on #48185
Yeah, sure. I've tested your patch. It works as expected.

[2022-07-25 21:18] rod-watt commented on #48037
I think so, I tried to run a previous version of the code but its complaint that the parenthesis on my overlay file is incorrect "  parse error: expected number or parenthesized expression". But yes the overlay file works fine on version 2.0.0.

[2022-07-25 21:26] keith-zephyr opened #48281 "Fix github permissions for user "alevkoy""
User @alevkoy has been added as a collaborator under the [Emulation](https://github.com/zephyrproject-rtos/zephyr/blob/dfa71ca332b11ef4605577abdd6c029501258ef7/MAINTAINERS.yml#L2665) section.  However this user appears to be stuck with only contributor/read only access.

[2022-07-25 21:40] dsilva-vd opened #48282 "BT_H4 overriding BT_SPI=y causing build to fail - HCI Host only build SPI bus"
**Describe the bug**
Specifying CONFIG_BT_SPI=y in the prj.conf file gets overridden by BT_H4 when trying to build a Host only build using HCI SPI interface. The build fails when trying to compile /drivers/bluetooth/hci/h4.c

A clear and concise description of what the bug is.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platf

[2022-07-25 21:49] nklayman commented on #34269
@nordic-krch I found out that building without logging enabled fails as well:
[code]

I'm not sure how to solve this, should I open a new issue that covers all the failing scenarios I've found? Happy to make a PR, but I think it makes sense to fix this as well first.

[2022-07-25 23:03] mbolivar-nordic commented on #45241
Pinging again:

- hal_nordic: @anangl
- mbedtls: @d3zd3z @ceolin
- TraceRecorderSource: @nashif

[2022-07-26 00:16] gregshue commented on #47872
Dependency wise, `example-application` is dependent on Zephyr repository, but the Zephyr repository is entirely independent and unaware of `example-application`.  This relationship was chosen to specifically represent and verify that downstream repositories provided outside of zephyrproject-rtos would also be supported. For all practical purposes, this is "downstream".

That's because we are using

[2022-07-26 00:31] #45441 closed

[2022-07-26 00:32] inteljiangwe1 commented on #47081
thanks Mitsis for explaination
@kwd-doodling for awareness

[2022-07-26 01:59] inteljiangwe1 opened #48287 "malloc_prepare ASSERT happens when enabling newlib libc with demand paging"
With newlibc and demand paging enabled, and config CONFIG_NEWLIB_LIBC_MIN_REQUIRED_HEAP_SIZE on demand. On malloc_prepare initization, it will trigger [assert on libc_hooks.c](https://github.com/zephyrproject-rtos/zephyr/blob/1c1e56835d8182fe45ecd0981b3738bb63cb1075/lib/libc/newlib/libc-hooks.c#L129) \
k_mem_free_get() returns vaule of available physical SRAM size, but users may actually need more

[2022-07-26 02:00] hongshui3000 commented on #34269
When using xcc to compile the code, if you choose not to optimize, then the log code needs to be fully compiled to avoid errors

[2022-07-26 02:01] stephanosio commented on #48287
So the fix would be to add more physical SRAM? This is not a Zephyr bug.

[2022-07-26 02:04] inteljiangwe1 commented on #48287
physical SRAM size is fixed, when enable demand paging, it will use extern memory

[2022-07-26 02:12] stephanosio commented on #48287
https://github.com/zephyrproject-rtos/zephyr/blob/fb9b3bcd9326923f8c08fd6754485c28d8f6e915/include/zephyr/sys/mem_manage.h#L296-L307

@dcpleung @andyross any suggestions on how we should handle this?

[2022-07-26 02:40] stephanosio commented on #48281
@alevkoy has been added to the "collaborators" team.

[2022-07-26 02:40] #48281 closed

[2022-07-26 02:53] dsilva-vd commented on #48282
I am new to Zephyr and this is not a bug. For those trying to build a Bluetooth HCI SPI Host build here is the prj.conf lines necessary

`
CONFIG_BT=y
CONFIG_SPI=y
CONFIG_BT_SPI=y
CONFIG_BT_HCI=y
`

[2022-07-26 02:53] #48282 closed

[2022-07-26 02:53] sam131208 opened #48290 "ESP32 ble no work while enable CONFIG_SETTINGS"
**Describe the bug**
 The project of zephyr\samples\subsys\mgmt\mcumgr\smp_svr, build with enable settings, will cause bluetooth loss。

**To Reproduce**
Steps to reproduce the behavior:
1. enter the project  zephyr\samples\subsys\mgmt\mcumgr\smp_svr
2. edit the prj.conf file,  enable settings:
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

CONFIG_SETTINGS=y
CONFIG_SETTINGS_RUNTIME=y

[2022-07-26 03:36] stephanosio commented on #47588
https://github.com/zephyrproject-rtos/zephyr/pull/47828#issuecomment-1194951749

[2022-07-26 03:52] andyross commented on #48287
The current idea behind the demand paging design is that the app is (kinda) responsible for implementing the backing store and page replacement algorithm.  That isn't a great fit for shoehorning it in underneath the C library in a generic way.  Zephyr isn't a virtual memory OS, and fundamentally this is a request for a virtual memory process architecture.  Personally I think we should work at gett

[2022-07-26 06:46] #48249 closed

[2022-07-26 06:46] #48251 closed

[2022-07-26 06:57] anangl commented on #45241
?
`hal_nordic` has already been cleaned up. There is only `v1.14-branch` there, what is okay according to this issue description. Am I missing something?

[2022-07-26 07:47] chrta commented on #48263
This is done by merging #48053

[2022-07-26 07:47] #48263 closed

[2022-07-26 08:17] louiscr opened #48299 "SHT3XD_CMD_WRITE_TH_LOW_SET should be SHT3XD_CMD_WRITE_TH_LOW_CLEAR"
https://github.com/zephyrproject-rtos/zephyr/blob/1c1c57b31bc4dbcd220cb7d1ca7445d9e3da4cce/drivers/sensor/sht3xd/sht3xd_trigger.c#L231

[2022-07-26 08:36] magnmaeh opened #48302 "West search for "compatible" device tree property does not expand C preprocessor macros"
**Describe the bug**
When west searches for device tree "compatible" bindings, it does not seem to expand the C macros first. The following macro

[code]

gives the west warning:

I.e., west believes the "compatible" property is set to 'drrd,name'. (The macro was called as `DEVICE(a02yyuw, 0);`, so west should search for 'drrd,a02yyuw'.)

If I were to manually expand the macro, it works just fine.

[2022-07-26 08:46] zdtyuiop4444 commented on #47822
Thanks for your reply.
So that's a hardware limitation, I cannot use interrupt to check the statue of dw3000.

[2022-07-26 08:46] #47822 closed

[2022-07-26 09:09] watsug opened #48304 "bt_disable() does not work properly on nRF52"
**Describe the bug**
With the latest Zephyr bt_disable() function was added to shutdown the BLE subsystem. It works properly on STM32WB55 and nRF53, but not on nRF52. After this sequence: bt_enable() / setup and start peripheral / bt_disable() / bt_enable() it is not possible to set up and start peripheral again. The API works, but the device is muted (not advertising again).

**To Reproduce**
Ste

[2022-07-26 09:12] #48302 closed

[2022-07-26 09:31] SeppoTakalo opened #48306 "Lwm2m_client sample broken on native_posix target"
**Describe the bug**

`samples/net/lwm2m_client` does not anymore build on `native_posix` target.

Git bisecting shows:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `cd samples/net/lwm2m_client`
2. `west build -b native_posix`

**Expected behavior**
Should build normally.

**Impact**
Blocks testing on native_posix environment

**Logs and console output**
[code]

**Environment (plea

[2022-07-26 09:32] SeppoTakalo commented on #48306
@galak Please review. I believe it is your commit that broke the build.

[2022-07-26 09:43] de-nordic commented on #34227
Yes.

[2022-07-26 09:43] #34227 closed

[2022-07-26 10:15] nordic-piks commented on #47852
Issue no longer visible.

[2022-07-26 10:16] nordic-piks commented on #48055
Issue no longer visible.

[2022-07-26 10:32] #48269 closed

[2022-07-26 10:34] nordic-piks commented on #47855
@microbuilder I can verify such PR (increasing stack size) for all platforms mentioned in the issue.
I will leave decision if this should be the solution for @carlescufi and @joerchan.
I thinks that there is still other solution possible - add filtering for this test cases based on platform's stack size, so that those tests will no be executed if platforms does not have enough stack available. Can

[2022-07-26 11:11] #47854 closed

[2022-07-26 11:59] erwango commented on #37883
@sundayglee With the latest STM32WB Cube BLE firmware V1.14.0, MESH is now functional. This should be available with upcoming https://github.com/zephyrproject-rtos/zephyr/pull/48160.
Please use stm32wb5x_BLE_HCILayer_fw.bin.

[2022-07-26 12:57] cfriedt opened #48317 "drivers: fpga: include driver for Lattice iCE40 parts"
**Is your enhancement proposal related to a problem? Please describe.**
Add support for the iCE40 series of FPGAs from Lattice Semi.

The Lattice iCE40 series of FPGAs are an attractive option for low pin-count and low(er) power applications.

The iCE40 series was the first to receive support from the Open-Source synthesis toolchain ([yosys](https://github.com/YosysHQ/yosys) / [nextpnr](https://gi

[2022-07-26 13:42] gopiotr opened #48321 "twister: bug in platform names verification"
**Describe the bug**
Currently Twister verify only first platform name on list of platforms (passed by CLI `-p` option, `platform_allow` or `integration_platforms`)

**To Reproduce**
1. Run Twister by command:
[code]
2. Observe, that wrong first platform name (`xyz`) was detected properly:
[code]
3. Run Twister by command:
[code]
4. Observe, that wrong second platform name (`xyz`) wasn't detected:

[2022-07-26 14:07] nordic-krch commented on #46986
I tried to reproduced it by logging from timer interrupt but it does not fail: https://github.com/zephyrproject-rtos/zephyr/commit/e253a497c432ca3f39f3799c91cc4302445cf1d3

Any suggestion how can test be improved to trigger the issue.

[2022-07-26 14:33] #48306 closed

[2022-07-26 14:40] gregshue commented on #47872
@aasthagr

🤔 I'd like to see more clarification on the purpose of Demos.  Consider:
- Don't a large portion of Samples already use multiple subsystems (e.g., console + something else; net + something else)?
- Aren't usage of multiple subsystems demonstrated by integration tests?  Will the integration tests needed for verifying system (or system element) requirements be sufficient?
- How is "can be

[2022-07-26 15:31] erwango commented on #47991
@r2r0, STM32WB Cube package 13.2.0, "_full_" binaries are no more compatible with use in Zephyr. Instead, you should now use one of the following binaries:
stm32wb5x_BLE_HCILayer_extended_fw.bin
stm32wb5x_BLE_HCILayer_fw.bin

I'll update board documentation to make this clear and take this into account in flash partition .

[2022-07-26 15:43] andyross commented on #46656
I'm not able to reproduce, I don't think.  I built your sample code[1] with the only modification being to undefine TEST_SEM_FLAG, which I think is the failure case you're seeing.  And it's running in exactly 30s on all of the uniprocessor emulation environments I tried.

And some added printks shows that the two preemption points are working as expected:

1. When Tlow gives the semaphore, Thigh b

[2022-07-26 15:49] simon-iversen opened #48328 "Add API to get the nvs_fs struct from the settings backend"
**Is your enhancement proposal related to a problem? Please describe.**
The problem is that currently it is not possible to use the same storage area for custom NVS usage and the NVS settings backend. The reason for this is because they would need to use the same `nvs_fs struct`, but there are no APIs to fetch this struct from the settings backend.

**Describe the solution you'd like**
I did creat

[2022-07-26 16:14] fabiobaltieri commented on #48223
@Erdyke can this be closed down then?

[2022-07-26 16:17] fabiobaltieri commented on #48216
cc @nandojve

[2022-07-26 16:18] fabiobaltieri commented on #48175
cc @erwango

[2022-07-26 16:25] fabiobaltieri commented on #48104
Hey, Zephyr 1.13 is no longer supported, pleas try with a more recent version.

[2022-07-26 16:25] #48104 closed

[2022-07-26 16:36] fabiobaltieri commented on #48299
@louiscr can you send a pull request?

[2022-07-26 16:39] yperess opened #48334 "Allow twister to natively specify additional config files and dts overlay files"
Currently, in order to specify additional `.conf` files and DTS overlays, projects need to do something like:
[code]

I would like to add something similar to `extra_configs` for both DTC overlays and CONF_FILE so it would look more yaml native:
[code]

Long term, I would like to be able to specify a `parent` config similar to how we can specify a `common`. The parent would be a relative path and

[2022-07-26 16:40] yperess commented on #48334
@aaronemassey @tristan-google @asemjonovs @PerMac

[2022-07-26 18:16] dcpleung commented on #48243
Since both have to be the top of config/data struct, they cannot co-exist in the current foam. I can think of a couple ways forward:

1. Create another set of device MMIO API which takes a dedicated struct instead of the device struct. This means the driver will need to be aware of whether the MMIO struct resides in config or data. This is going to cause some confusions as there are two sets of de

[2022-07-26 18:17] dcpleung commented on #48243
@mnkp as GPIO maintainer.

[2022-07-26 18:46] dcpleung commented on #48287
Extending from what @andyross has said, newlib has no idea of Zephyr's memory management scheme, which means it has no idea how much memory can actually be allocated. It is possible to have a 4GB virtual memory address space, but only 256MB backing store. malloc would happily return address pointers beyond backing store capacity, and will result in system crash when the new address is accessed. Th

[2022-07-26 19:11] nashif commented on #47702
https://github.com/zephyrproject-rtos/zephyr/pull/47703 merged

[2022-07-26 19:11] #47702 closed

[2022-07-26 19:13] yperess commented on #48147
This is a topic I've spent a lot of time on and I don't believe should be altered. The before function runs in the same thread as the test to allow common setup to have the thread context. With that context:

Option 1: having the after function run in the same thread as before is a non starter. It results in no guarantee that the after function would ever run, making the test non-deterministic.

O

[2022-07-26 20:07] #47933 closed

[2022-07-26 21:03] ceolin commented on #46378
So, I tried to come up with something similar to SoF scheduler but simpler. I run this sample in cavs25 with two different configurations, `CONFIG_SYS_CLOCK_TICKS_PER_SEC=80000` and `CONFIG_SYS_CLOCK_TICKS_PER_SEC=12000`. With 80k we missed some ticks and with 10k we have two cpus handling the "same" tick. Please see the logs below:

80k
![bug-80k](https://user-images.githubusercontent.com/882919/

[2022-07-26 21:11] Erdyke commented on #48223
Yes

[2022-07-26 21:11] tristan-google commented on #48334
I think this is a nice solution to a common problem we need to deal with and would make testcase.yaml files much more readable. I haven't looked closely but implementable entirely within TwisterConfigParser

[2022-07-26 21:24] #48223 closed

[2022-07-26 22:37] nashif commented on #48334
lgtm for the configs/overlays. Anyone working in this already?

Regarding parents, need some more thinking, but makes sense in general.

[2022-07-26 23:25] pdietl commented on #39640
I have a working bit of code that needs a lot of cleanup and generalization away from STM32G4. It also makes a new interface for doing something like #32719 for continuous reading.

https://github.com/worldcoin/zephyr/tree/stm32_adc_dma

@erwango @henrikbrixandersen @Powilas21 @yonsch

[2022-07-27 00:19] MarcianoPreciado commented on #42327
@vleeb did you ever find a solution? I'm currently using zephyr 2.7.99 and I'm running into this issue.

[2022-07-27 00:32] #45532 closed

[2022-07-27 00:42] #48321 closed

[2022-07-27 00:47] nashif commented on #48334
I guess you meant natively? :-)

[2022-07-27 01:10] nashif commented on #47500
lowering priority due to the above.

[2022-07-27 01:12] nashif commented on #47127
not a bug in twister, the dsp tests themselves are a mess and this can only be resolved once we start getting testcase lists from binaries.

[2022-07-27 01:12] #47127 closed

[2022-07-27 02:45] yperess commented on #48334
I asked @tristan-google to look at this once he has our migration to twister underway. I'm hoping he'll be able to start on it by the end of the week or early next week.

[2022-07-27 02:53] hakehuang commented on #47500
this works for me.  the one thing we want is that do we need send the whole twister-out folder? say if we have several same boards on different machine, and how we split them?

[2022-07-27 03:30] leewkb4567 opened #48343 "NVS nvs_recover_last_ate() does not align data length"
**Describe the bug**
In NVS source code 'zephyr\subsys\fs\nvs\nvs.c', nvs_recover_last_ate() walks through the ATEs. It exits the search loop when the ATE address is not larger than the data end address. The data end address is derived from the ATE found. See following extract:

`static int nvs_recover_last_ate(struct nvs_fs *fs, uint32_t *addr)`
`...`
`	while (ate_end_addr > data_end_addr) {`
`..

[2022-07-27 05:41] Laczen commented on #48343
@leewkb4567, thank you for reporting this.

To avoid inconsistency in naming the data length (and also the data end) is always used for the 'real' data length (not the aligned). Assigning the aligned length to data end would be inconsistent and confusing. For the code it doesn't matter what end is used.

[2022-07-27 06:19] vleeb commented on #42327
It seems that the increased power consumption is caused by the uart driver. In the meantime I am trying to upgrade to zephyr 3.2, but I would assume that the problem is still the same.

In my hardware/software setup there seems to be some kind of initialization race-condition, which leads to permanently increased power consumption, when using the interrupt-driven uart api. I was able to avoid this

[2022-07-27 06:56] erwango commented on #39640
@pdietl Thanks, interesting. From what I see this removes IRQ mode, is that correct?

[2022-07-27 07:07] nvlsianpu commented on #47895
"@gregshue Can't build of mcuboot itself and building an application which uses only its components (and is not mcuboot bootloader) be distinguished?
What is signaled as issue here was not an issue before.
"an informal TSC initiative" - which TSC?

[2022-07-27 09:49] leewkb4567 commented on #48343
@Laczen Thanks for commenting. Agree that further aligning will not make it better, as least for nRF52.

[2022-07-27 09:49] #48343 closed

[2022-07-27 10:00] erwango commented on #48175
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/46740
Should be fixed by https://github.com/zephyrproject-rtos/zephyr/pull/46794.

[2022-07-27 10:00] #48175 closed

[2022-07-27 10:03] erwango commented on #47731
This API is not supported yet. Not a bug, converting this as an enhancement.

[2022-07-27 11:11] pdietl commented on #39640
@erwango yes, but we can add it back or make this configurable maybe.

[2022-07-27 12:48] erwango commented on #39640
It is indeed not possible to remove IRQ mode support. Behavior regarding IRQ mode should be equivalent with or without DMA.
If configurable, it should be default y.
I suggest to get the DMA mode as an opt-in, using dma property. If DMA property is configured, then DMA is used. IRQ mode is used otherwise. See for instance how it is done for SPI or UART STM32 drivers.

[2022-07-27 13:11] JeroenReeskamp opened #48367 "Wrong clock assigned"
https://github.com/zephyrproject-rtos/zephyr/blob/3b5590a18790ea8f9159eadbc38f8a514b342543/drivers/clock_control/clock_control_mcux_syscon.c#L95-L103

In the case of MCUX_HS_SPI_CLK the switch always falls trough and you end up with MCUX_HS_SPI1_CLK, is this intentional? Or should a break be added after line 100?

[2022-07-27 13:56] erwango commented on #47991
Re-opening as this issue should be used to backport #48349 on V3.1.1

[2022-07-27 14:33] hunterhu3000 commented on #46324
z_tick_sleep->z_add_thread_timeout->z_add_timeout->next_timeout->_current_cpu->slice_ticks

The _current_cpu->slice_ticks is not initialized in the test of test_priority_cooperative().  So the swap of the thread got problem.
I'll provide a PR to fix it.

[2022-07-27 15:03] pdietl commented on #39640
Good idea. I’ll do this.

[2022-07-27 15:12] teburd commented on #46378
The race I believe I sorted out in my mind before in this code before goes with a flow like the following inside the adsp timer driver. Though was told there wasn't a race before, seeing this I'm less convinced.

Imagine the flow in intel_adsp_timer.c goes like the following.

core 0 takes driver lock, updates last count, releases driver lock and calls sys_clock_announce, takes k_timer lock
core 1

[2022-07-27 15:27] erwango commented on #48334
[code]

The tricky part is to be able to make sure that, at least for .overlays, the files are taken in the expected logical order.
For instance, today,
[code]
is different from:
[code]
As the second version allows to ensure foo.overlay is applied before bar.overlay, while this is not guaranteed in the first version.
This would be nice to allow this with this new change.

[2022-07-27 15:47] teburd commented on #46378
So I tried two things real quick with maybe more surprising results than I expected...

If I add an outter spin lock around the entire compare_isr call (including the announce) I lose *more* ticks.

If I bail early in compare_isr (if arch_curr_cpu()->id != 0) { return; } I get every tick exactly like I'd expect. Maybe some spin lock contention causing issues?

[2022-07-27 16:04] mbolivar-nordic commented on #38725
Process WG: revisit next week

[2022-07-27 16:05] keith-zephyr commented on #46800
My thoughts:
* Short term we could consider reducing the TSC members for platinum members from 2 to 1.  Then move these seats to the general community to be voted on.
* For community seats, I see value in allowing companies to nominate the company itself for a seat.  Once approved for a seat, the individual company would select the specific individual to actually participate on the TSC.  This allo

[2022-07-27 16:11] mbolivar-nordic commented on #46759
Process WG:

 - @nashif will add recommendation to move to 100 for v3.2 to TSC next week
 - @dleach02 : Anas noted that we are now adding release blockers to v3.2 using the corresponding GitHub label
 - @mbolivar-nordic : should we also note to the TSC that we're adding release blockers as part of the recommendations to the TSC?
 - @nashif: I think that's worth it. We can also mark low priority bu

[2022-07-27 16:44] ccoenenatbaumer commented on #43887
This is caused by circular header dependencies. IMHO the segger systemview header should never direclty include zephyr kernel headers but what happens is

[code]
So regular code includes zephyr kernel code, which includes the tracing with segger, which then in SEGGER_RTT_Conf.h includes the kernel again.

I prepared a fix which moves all the dependent code into the c files of the segger module. Un

[2022-07-27 16:44] #47105 closed

[2022-07-27 16:53] thedjnK commented on #46986
I no longer have the hardware or firmware which was used to reproduce this issue, I'll have a look around what breakout boards I have and see if I can create a new application which demonstrates the issue

[2022-07-27 17:00] mbolivar-nordic commented on #38566
Support tiers:

- @stephanosio : highest would be supported by company, second community support, etc
- @dleach02 what does community support mean?
- @nashif let's look at https://github.com/zephyrproject-rtos/zephyr/discussions/35872 again
- @mbolivar-nordic I would push back on "silicon vendors" being a requirement for "reference" / "tier 1" boards -- the main thing that is needed is a committed

[2022-07-27 17:37] ejohnso49 opened #48380 "shell: Mixing mandatory arguments w/ SHELL_OPT_ARG_RAW causes crash"
**Describe the bug**
When using `SHELL_OPT_ARG_RAW` in the optional args field of the macro `SHELL_CMD_ARG_REGISTER`, the shell subsystem provides the handler an incorrect value of `argc` when the handler is executed. This occurs when using a mandatory argument value of >= 2 (1 means no mandatory arguments), and `SHELL_OPT_ARG_RAW` as the optional argument value. This issue can result in a out of

[2022-07-27 18:58] henrikbrixandersen commented on #46800
This sounds like a good starting point. I'd like to reach a situation, where the TSC is mainly composed of technical contributors to Zephyr as opposed to e.g. people with management roles from member companies. Not that I have anything against these, but I strongly feel the Technical Steering Committee should be more technical than political.

[2022-07-27 19:02] aasthagr commented on #47613
@nashif I think a yaml file is not needed for the samples listed below as they are the sub-applications being built as part of the main application using the main sample.yaml.

- samples/boards/nrf/nrf53_sync_rtc/net
- samples/subsys/ipc/openamp/remote
- samples/drivers/ipm/ipm_mcux/remote
- samples/subsys/ipc/rpmsg_service/remote

The "tests/cmake/config_dir/foo" just contains a config file (refe

[2022-07-27 21:08] nklayman opened #48385 "Compilation failures on Cavs 18/20/25 GCC"
**Describe the bug**
Compilation failures on cavs 18/20/25 with GCC since 43371d0414

**To Reproduce**
Build any zephyr application (ie `west build -b intel_adsp_cavs25 samples/hello_world`)
SOF build (`xtensa-build-zephyr.py`) also fails

**Impact**
Forces XCC usage in order to compile.

**Logs and console output**
[code]
**Environment (please complete the following information):**
 - OS: Linux

[2022-07-27 21:49] nashif commented on #47613
@aasthagr  something like `samples/subsys/ipc/openamp/remote` can be built and that is the point with the sample.yml, it can be marked as build_only for now so that it does not bitrot if it is not a standalone application. The least I expect is a README explaining how this is used and how it relates to other samples so there is no confusion.

If it get complicated, please open sepearate issues wit

[2022-07-27 22:01] dcpleung opened #48386 "twister cannot take `board@revision` as platform filter"
**Describe the bug**
It is possible to use west build to build for different board revision, but twister does not support it.

For example, `west build -p -b nucleo_f030r8@1 samples/hello_world/` works but running `./scripts/twister -p nucleo_f030r8@1 -T samples/hello_world/` has the following error:

[code]

**Expected behavior**
Twister can using board revision in platform filter.

**Impact**
Th

[2022-07-27 22:06] nklayman commented on #48385
Turns out this was due to an outdated hal_xtensa clone, updating that fixes it.

[2022-07-27 22:06] #48385 closed

[2022-07-27 22:53] dipakgmx commented on #45814
@tejlmand Could you remove the stale label on this ticket?

[2022-07-27 23:16] pdietl commented on #39640
@erwango I also want your opinion on the continuous reading interface. It would be nice to make a change to the ADC public API to support this use-case. Either by adding a new function (as I have) or adding more fields to the `adc_options` struct.

[2022-07-27 23:46] nklayman opened #48390 "[Intel Cavs] Boot failures on low optimization levels"
**Describe the bug**
Compiling at low optimization levels causes boot failures with both XCC and GCC toolchains across cavs platforms (tested 18 and 25, assume other platforms are affected as well). Specifically, O0 and O1 fail with XCC, while only O0 fails with GCC.

**To Reproduce**
Essentially, build and run and zephyr application on a cavs platform with O0 or O1 for XCC or O0 for GCC. Simple s

[2022-07-28 02:02] nashif commented on #46925
@smrtos Can you please confirm that this test actually passes and only caputering the results is not working correctly, if so, then it can be closed as a non-bug in the test itself, and point to the CAVS issue and the test enahancement. But please you mark this internally and do not open the same bug again.

[2022-07-28 02:18] nashif commented on #48386
@chen-png  Can you please take a look at this?

[2022-07-28 02:46] chen-png commented on #48386
yes, I will help fix this.

[2022-07-28 03:47] soburi opened #48392 "Compiling failure watchdog sample with nucleo_u575zi_q"
Failed to compile the watchdog sample for the nucleo_u575zi_q board.

Build with following commandline.

[code]

I got this error in build.log

[code]

It is may be forgot to fix in the #47912.

[2022-07-28 06:29] #47409 closed

[2022-07-28 06:51] sw opened #48394 "vsnprintfcb writes to *str if it is NULL"
`vsnprintfcb` will write to the given string buffer even if the pointer is `NULL`:

https://github.com/zephyrproject-rtos/zephyr/blob/3462a2a5912bea924ada551f514522083b5d66df/lib/os/cbprintf.c#L105-L109

Apparently having `str==NULL && size==0` is valid: https://stackoverflow.com/a/37173612

The code above obviously needs to be wrapped in an `if` condition, but what about `struct str_ctx`? Adding

[2022-07-28 07:00] jori-nordic commented on #47649
@carlst thanks to the config, I think I managed to reproduce it (using babblesim, which is pretty neat btw) here: https://github.com/zephyrproject-rtos/zephyr/compare/main...jori-nordic:zephyr:att-buffer-leak .

I opened a proper PR to fix it. Thanks for the bug report !

[2022-07-28 07:19] erwango commented on #39640
This should rather be discussed with @anangl as ADC maintainer. I suggest to open a dedicated issue for this purpose.

[2022-07-28 07:34] RuibinChang commented on #46324
Re# Could you please help to check? The function "riscv_idle" is in soc/riscv/riscv-ite/it8xxx2/soc.c.

Sorry for the late reply.
I checked that event timer interrupt is enabled. I also compared the test_priority_cooperative() test between CONFIG_TIMESLICE_PER_THREAD = y/n, and found that kernel never sets event timer count when running test_priority_cooperative() with CONFIG_TIMESLICE_PER_THREAD

[2022-07-28 11:13] nashif commented on #46656
does not seem to be high priority bug, can't be reproduced, not even by the original author.

[2022-07-28 11:20] soburi commented on #48392
Verified with 4a8ffee1d8b1630a1328918f8c3e83b67810ffa7.
Solved.

[2022-07-28 11:20] #48392 closed

[2022-07-28 11:37] Thalley opened #48414 "Make it easier to find release dates and lifetimes of releases"
**Is your enhancement proposal related to a problem? Please describe.**
The release dates of Zephyr is mainly only visible from https://github.com/zephyrproject-rtos/zephyr/releases, but the search feature is quite bad and it's hard (or at least harder) to find the release you are looking for a release date from.

**Describe the solution you'd like**
Something like the release table from https://w

[2022-07-28 12:25] smrtos opened #48416 "samples: samples/subsys/tracing is broken for UART tracing"
**Describe the bug**
Follow the [ReadMe](https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/subsys/tracing/README.txt) to build the UART tracing sample:

[code]

The build failed since the **first** trackable commit of `samples/subsys/tracing/src/main.c` (eaba71738e1044eede2e53dd1336fe5098a987ea).

Error as below:

[code]

[2022-07-28 12:30] apoussartFW opened #48417 "Add a way to place given variable at a given address in flash at linker time"
**Is your feature request related to a problem? Please describe.**
Impossibility right now to have two variables placed at the beginning (fixed address) and the end of the zephyr app code.

**Describe the solution you'd like**
The idea would be that a variable in the beginning of the program and another at the end would be used to verify its integrity when being sent to a device through an unrelia

[2022-07-28 14:17] henrikbrixandersen commented on #48414
Perhaps we could add "(LTS)" to the LTS releases on https://docs.zephyrproject.org/latest/releases/index.html

[2022-07-28 14:40] rlubos commented on #48089
@krish2718 I've submitted https://github.com/zephyrproject-rtos/zephyr/pull/48422, please give it a try.

[2022-07-28 15:01] asemjonovs opened #48424 "ZTEST Framework fails when ztest_run_all is called multiple times"
**Describe the bug**
When overriding test_main to run ZTEST framework multiple times a failure status may be returned as the fail flag will be set early on
 in `ztest_verify_all_test_suites_ran`

[code]

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? native_posix
 - What have you tried to diagnose or worka

[2022-07-28 15:12] Thalley commented on #48414
That would also be nice. The list of releases we have is nice, but adding EOL and date on those would make it very easy to get an overview

[2022-07-28 15:33] hunterhu3000 commented on #46324
The problem happens in next_timeout()
[code]
_current_cpu->slice_ticks is not initialized

So similar to test "test_time_slicing_preemptible", I add
[code]

[2022-07-28 15:41] microbuilder commented on #43887
@ccoenenatbaumer Do you mind making a pair of PRs for these changes?

[2022-07-28 16:03] microbuilder commented on #48148
Is it important to capture device or firmware revision at the DT level, if this isn't something that can easily be determined from registers at run time, and different device revisions behave differently in a non-trivial way?

[2022-07-28 16:05] hunterhu3000 commented on #47987
@nordic-krch It seems commit 5f60164a0fc36484b6 causes this problem. Could you please help to check?

[2022-07-28 16:12] microbuilder commented on #48150
I wouldn't say this is most often limited to the factory -- for example, an IMU will be calibrated before use, and the mag cal data, if done on the fly, might only be available after a certain amount of motion -- but I agree the current approach is wasteful and the calibration data shouldn't be associated with every sample in any use case I can think of myself, and the callback here is a sensible

[2022-07-28 18:21] carlst commented on #47649
@jori-nordic I can no longer reproduce the issue with #48395 applied. And I verified the patch code was called (and the in-flight buffer freed by ATT). A nice, clean fix.

Babblesim is indeed quite good; I have not used it much where timing is important but may do so in the future.

[2022-07-28 18:51] #47613 closed

[2022-07-28 19:46] galak commented on #48416
@smrtos will look to update the readme.  You need to set `zephyr,tracing-uart` in the chosen section of the devicetree.

[2022-07-28 23:25] marc-hb commented on #48390
So this is making sure that there's absolutely zero CMake or Kconfiguration problem but really just an issue with the actual optimization level, and only with the optimization level correct? Did you inspect the compiler command lines with `ninja clean; ninja -v &> build.log` in all cases?

[2022-07-29 05:34] nRF5xFanBoy opened #48444 "Problem upgrading ncs 1.5.1 upgrade to ncs 1.9.1 failed"
Hello,

I am currently using nRF52840 + NCS 1.5.1 (including zephyr 2.4)
I am using BG95/96 model meaning offloaded socket to have internet connection for leshain & lwm2m

**Expected behavior**
The application was working fine until with NCS 1.5.1

**Impact**
 I upgrade to NCS 1.9.1 (including zephyr 2.7) then socket failed. I can't figure out why
I am placing breakpoints in the offloading code bu

[2022-07-29 06:54] ccoenenatbaumer commented on #43887
With the changes it builds again, but I am unable to verify if Segger SystemView is still working properly. Would be great if someone could do that.

[2022-07-29 06:57] brycewilkins opened #48447 "`hwinfo devid` does not work correctly for NXP devices using `nxp,lpc-uid` device binding"
**Describe the bug**
`hwinfo devid` does not correctly retrieve the device UUID for NXP SoC's using the `nxp,lpc-uid` device binding and corresponding driver `drivers/hwinfo/hwinfo_mcux_syscon.c`.

The bug was introduced in #36457

Primary problem is `memcpy` is used to read bytes from an address on the AHB bus (not in RAM). In such case `memcpy` does not perform correctly -- only bytes on word-al

[2022-07-29 08:19] hunterhu3000 commented on #48071
Do the following chang, the test can pass
[code]

[2022-07-29 09:20] microbuilder commented on #43887
I was previously able to compile on the M33 (all I had on hand at the time with a built-in J-Link was the `nrf5340dk_nrf5340_cpuapp`), but I haven't been able to get SystemView (v3.32) to work.

KConfig Settings:

[code]

As per the tracing documentation, I also updated this file:

[code]

I haven't used SystemView with Zephyr before, so I'm not sure if one of these settings is wrong, or if this h

[2022-07-29 09:38] chrta commented on #48414
Another example for a release overview: https://wiki.yoctoproject.org/wiki/Releases

[2022-07-29 09:57] #48416 closed

[2022-07-29 09:58] #46382 closed

[2022-07-29 11:55] stephanosio opened #48459 "bluetooth: host: Dangling pointer in le_adv_recv"
**Describe the bug**

The `le_adv_recv` function sets the `addr` field of the `struct bt_le_scan_recv_info *info` argument to the address of a local (stack) variable (hence, dangling pointer):

https://github.com/zephyrproject-rtos/zephyr/blob/c0317fba1fb8d89a3aeb7c622c3b14101aec2ef0/subsys/bluetooth/host/scan.c#L463

**To Reproduce**

Build `tests/bluetooth/host_long_adv_recv/bluetooth.host_long_

[2022-07-29 11:58] stephanosio commented on #48459
cc @jhedberg @carlescufi @joerchan @Thalley @ppryga @cvinayak

[2022-07-29 12:25] nashif opened #48460 "Provide duration of each testsuite and testcase in ztest test summary."
**Is your enhancement proposal related to a problem? Please describe.**
Provide duration information about each suite and case being run in the summary, right now we have:

[code]

**Describe the solution you'd like**

We need something like this:

[code]
or something along those lines

[2022-07-29 13:10] erwango opened #48463 "Grant Triage permission level to @aurel32"
# Nomination

Grant Triage permission level to @aurel32

## GitHub User

Provide the following information about the GitHub user:

1. Full Name: Aurelien Jarno <aurelien@aurel32.net>
1. GitHub username: https://github.com/aurel32

## Supporting Documents

https://github.com/zephyrproject-rtos/zephyr/pulls?q=is%3Apr+author%3Aaurel32+

[2022-07-29 13:12] erwango commented on #48463
@aurel32

[2022-07-29 13:26] microbuilder commented on #48148
Thinking about this, if there is value in setting revision in DT it should probably be in the specific driver binding, not the generic sensor binding since the data type may vary from one sensor to another.

[2022-07-29 13:31] microbuilder commented on #43887
@nordic-krch Are you responsible for SystemView as well? Just curious if the above looks right to you. Wasn't able to get any tracing input working to test on the nRF53, but don't know when this was last known to work.

[2022-07-29 13:56] stephanosio commented on #48463
@aurel32 already has triage permission.

[2022-07-29 13:57] rlubos opened #48465 "net: tcp: SYN flag received after connection is established should result in connection reset"
**Describe the bug**
According to [RFC 793](https://www.rfc-editor.org/rfc/rfc793.txt), receiving a SYN flag after connection has been established is an error and should results in RST response and connection being closed:
[code]

Currently it's not the case, and the SYN flag is ignored by the TCP stack in such case.

**To Reproduce**
No easy way to reproduce, as it requires to inject a malformed

[2022-07-29 14:00] stephanosio commented on #48463
@aurel32 I am actually surprised that you are not in the MAINTAINERS file given the amount of contributions you have made.

Could you open a PR adding yourself as a collaborator for one of the areas you have been involved in so that we can add you as a collaborator?

[2022-07-29 14:02] Thalley commented on #48459
Why is this an issue?

It would only be an issue if the `info->addr` is used afterwards, but that's not the case here.

It is true that the lifetime of the `bt_le_scan_recv_info` is longer than the lifetime of the `info->addr`, so perhaps that should be changed so that's not the case (or alternatively actually allocate the address in the `bt_le_scan_recv_info` instead of just a pointer).

[2022-07-29 14:07] mmaslik opened #48468 "GSM Mux does not transmit all queued data when uart_fifo_fill is called"
**Describe the bug**
On some occasions a call to uart_fifo_fill results in only a part of the provided data buffer sent out when using gsm mux due to tx_ringbuf in uart_mux.c wrapping.

**To Reproduce**

1. Allocate muxing UART device
2. Attach the muxing UART to a real UART device
3. Call uart_fifo_fill outside of an ISR to transmit data
4. If the transmitted data leads to wrapping in tx_ringbuf

[2022-07-29 14:09] carlocaione opened #48469 "[bisected] 5a850a5d06e1 is breaking some tests on ARM64"
Reproduced on `main`:
[code]

Bisected to:
[code]

[2022-07-29 14:15] smrtos commented on #46925
Yes, this is a non-bug in the test itself. I am closing this one and track it with https://github.com/zephyrproject-rtos/zephyr/issues/47833. Thanks.

[2022-07-29 14:15] #46925 closed

[2022-07-29 14:18] stephanosio commented on #48459
Then why are you setting it?

[2022-07-29 14:18] mmaslik opened #48470 "Inconsistent return value of uart_mux_fifo_fill when called inside/outside of an ISR"
**Describe the bug**
Calling uart_fifo_fill on a GSM Mux UART device results in inconsistent return values, dependent on whether the function is called from an ISR or outside of it.

According to documentation uart_fifo_fill should return the number of bytes sent. This happens correctly when called on a UART Mux outside of an ISR. If called inside of an ISR, uart_mux_fifo_fill calls gsm_dlci_send

[2022-07-29 14:19] erwango commented on #48463
Ok, let me close this issue and we'll check this.

[2022-07-29 14:19] #48463 closed

[2022-07-29 14:22] rlubos opened #48471 "net: tcp: Persistent timer for window probing does not implement exponential backoff"
**Describe the bug**
The persistent timer responsible for sending Zero Window Probes should increase it's interval exponentially as stated in RFC 1122. Currently it sends probes at constant rate:
[code]

**To Reproduce**
This needs a specially crafted TCP server, that receives the data but does not consume it, which eventually results in reporting a zero window. The issue was reported by one of th

[2022-07-29 14:30] mmaslik opened #48473 "Setting CONFIG_GSM_MUX_INITIATOR=n results in a compile error"
**Describe the bug**
Setting CONFIG_GSM_MUX_INITIATOR=n in a configuration results in a compile error.

The value of CONFIG_GSM_MUX_INITIATOR is directly assigned to mux->is_initiator in gsm_mux.c. Setting CONFIG_GSM_MUX_INITIATOR=n results in CONFIG_GSM_MUX_INITIATOR symbol not being declared and therefore compilation fails as a result.

**To Reproduce**

1. Set CONFIG_GSM_MUX_INITIATOR=n while e

[2022-07-29 14:40] Thalley commented on #48459
It is being forwarded to the upper layers in the callback.

What is happening is basically this:

[code]

Which isn't really a problem, but on the other hand isn't really great either as `local_val` and `ms` have different lifetimes/scopes.

[2022-07-29 15:00] stephanosio commented on #48459
Alright, if the callback, called from the `le_adv_recv` function, is the only place where `info->addr` is actually dereferenced, it should not result in an undefined behaviour.

Nevertheless, it is still "returning" the pointer to a local object to the caller of `le_adv_recv`, who may or may not be dereference it.

I guess we can fix this in one of the following ways:

a) sanitize the `info->addr`

[2022-07-29 15:15] Thalley commented on #48459
Agreed. The struct in question is a shortlived-stack allocated variable and the increased footprint of embedding the address into the struct isn't a problem. It is, however, different than how we generally report Bluetooth addresses in callback structures.

@stephanosio Did you add any additional warnings when you built? Because I've been building for native_posix at least once a week for years an

[2022-07-29 15:18] stephanosio commented on #48459
You are not going to see the above warning unless you are on a bleeding edge distro with the GCC 12.1 as the default host compiler.

[2022-07-29 15:23] Thalley commented on #48459
I just compiled with GCC 12.1 (I am running Arch Linux) and I do not get this warning :S

[2022-07-29 15:32] Thalley commented on #48459
Option a) also has the benefit of not changing the (stable and widely used) API.
I suggest that we either do option a) (tested to work already), or that we allocate the address at the same time as the info object so that they share lifetimes.

[2022-07-29 15:34] pdietl commented on #39640
Discussion created here: https://github.com/zephyrproject-rtos/zephyr/discussions/48478

[2022-07-29 15:41] asemjonovs opened #48480 "ZTEST: duplicate symbol linker error"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/pull/48105 introduced linker errors

When different test suites use the same function test name, we'll encounter a duplicate symbol linker error.  Please include suite when defining test functions

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create test suites A and B
2. Define test `foo` in both of them
3. Compile

[2022-07-29 15:53] #47956 closed

[2022-07-29 16:22] str4t0m commented on #43887
@ccoenenatbaumer Thanks for your proposal. I picked your changes and in a quick test with the synchronization sample everything seems to work.
So I would suggest you to open a PR. Even if you have not tested the changes fully you can always open a draft PR, because that simplifies testing and giving feedback for others.

[2022-07-29 16:25] microbuilder commented on #43887
What config flags did you add that you were able to get SystemView working? Couldn't get any output myself with the settings here https://github.com/zephyrproject-rtos/zephyr/issues/43887#issuecomment-1199059992

[2022-07-29 16:45] smrtos commented on #48480
@asemjonovs Could you take a look at https://github.com/zephyrproject-rtos/zephyr/pull/48484. I cannot add you as the reviewer.

[2022-07-29 17:25] LBleijendaal commented on #32157
Any progress on this feature? I need this too. Is there a way to reset the counter in a temporary way before this is implemented?

[2022-07-29 18:37] stephanosio commented on #48469
really helps to actually link the commit: 5a850a5d06e1

[2022-07-29 19:44] #48469 closed

[2022-07-29 19:44] #48480 closed

[2022-07-29 20:18] ejohnso49 commented on #48380
I think I've found a root cause, and will put up a PR shortly.

[2022-07-29 20:28] str4t0m commented on #43887
I was testing with `samples/synchronization` adding an overlay file with the following options:

[code]
With SystemView V3.32 on Linux.
Have you tried with Cortex-M4 or a Cortex-M0+? Those targets have worked quite reliable in the few tests I have performed.
Also tried with an STM32U5 target (CM33), but there it had issues finding the buffer and only worked from time to time.

[2022-07-30 00:31] #41286 closed

[2022-07-30 07:08] DariusBabrauskas commented on #34354
Its very important task.  Only dma, especialy on rx to avoid lost bytes.

[2022-07-30 07:42] ranshalit opened #48492 "gdbstub for arc core"
Is it planned to add gdbstub for arc processor ?

[2022-07-30 10:24] smrtos commented on #27511
![image](https://user-images.githubusercontent.com/54129187/181906148-251cbc71-9486-4536-8af5-04de94c2d2fe.png)

Just saw some similar `EOF` error with `qemu_riscv32_smp`. It also involves logging and printk.

[2022-07-30 11:54] str4t0m commented on #47323
I don't think your module is broken, nor that it is an issue with zephyr.
From your description it looks like you just have enabled the the `SUBGHSPISD` option byte.
That option does not bring any benefit for the single core variants, other than having the same set of option bytes available.But will still block communication with the peripheral on CPU1(the CM4).

[2022-07-30 19:08] nklayman commented on #48390
Yep. With XCC, I built with no_optimizations twice, with the second time hardcoding it to use O2. The build logs were identical except for the the optimization levels passed to GCC. However, only the second build successfully booted. They were also nearly identical with GCC, but there was an extra warning printed by O0.

[2022-07-31 00:41] HelloWorldTeraByte commented on #47323
Interestingly enough I cannot even see the menu for Security Configuration Option bytes in the STM32CubeProgramer GUI.
![image](https://user-images.githubusercontent.com/8968521/182004816-ea310f94-d273-44bd-8a46-52a81586a8be.png)

Or the STM32CubeProgrammer CLI.
[code]

[2022-07-31 01:24] beriberikix commented on #43655
I have a bunch of `ESP32-C3-DevKitC-02` and have been able to reproduce on 6 boards.

[2022-07-31 05:42] gangs7192 opened #48501 "Usage Fault : Illegal use of EPSR , NRFSDK 2.0.0 and BLE DFU NRF52840 DK"
**Describe the bug**
In the latest NRF Connect SDK 2.0.0, I am trying to do add DFU over BLE to my main project. DFU went well when I create a workspace
C:\ncs\v2.0.0\zephyr\samples\subsys\mgmt\mcumgr\smp_svr separately but i have to add DFU application to my main project. I added source files and conf files to my main project. The project compiled well but when I started DFU I got this crash/erro

[2022-07-31 08:54] JiangengDong opened #48504 "Increase SWO logging thoughput by sending 4 bytes in an ITM packet"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, the `ITM_SendChar` function is used when logging through SWO. According to the [Coresight ITM's packet specification](https://developer.arm.com/documentation/ddi0314/h/Instrumentation-Trace-Macrocell/About-the-Instrumentation-Trace-Macrocell/Trace-packet-format?lang=en), this means a 50% overhead (1-byte header for

[2022-07-31 12:09] marc-hb commented on #38725
`git log -p '*/MAINTAINERS'` shows changes to all `MAINTAINERS` files across the tree. Not much harder.

What I find missing in the giant linux/MAINTAINERS approach is... a bird's eye view. No way to zoom in and out. Searching is impractical when trying to match a path: which subdir to look for? linux/MAINTAINERS itself asks to try subdirs one by one. I suspect linux/MAINTAINERS a write-only datab

[2022-07-31 12:35] martinjaeger commented on #43655
@sylvioalves do you have any estimation when the Espressif team will have time to have a closer look into this or upgrade to next version HAL?

This bug makes the ESP32-C3 pretty much unusable for Zephyr, as WiFi is one of the key features why one would choose this MCU.

[2022-07-31 12:57] teburd commented on #46378
To add to my analysis above, the issue comes when core 1 updates the last_count (when the last announce occurred) while core 0 is still announcing. If core 1 happens to be a tick or more ahead, time is lost from the perspective of core 0 as it will potentially appear as if the announce took 1 or more ticks less than reality. This is more likely to occur when the tick rate is faster as the tick tim

[2022-07-31 13:23] tautologyclub opened #48505 "BLE stack can get stuck in connected state despite connection failure"
I'm periodically connecting to a Zephyr sensor (nrf52840) using a central device (esp32-c3). The central is rather unstable due to WiFi/BT coexistence, so it drops the connection unexpectedly a lot. I noticed that the Zephyr device does not recover nicely from this, if it had an active connection when the error occurs.

It gets detected on a low level, but the information does not get propagated i

[2022-07-31 17:49] imammashur opened #48507 "error on console usb app.overlay"
Hi, I have been trying to build an example of **console usb** example and then build it for **thingy91_nrf9160_ns** but got an error

`devicetree error: C:\nrf-workspace\test_thingy91\bridge\hello_world_usb\app.overlay:13 (column 1): parse error: undefined node label 'zephyr_udc0'`

I have been trying this code several weeks ago, but when I try to recreate another example, it seems like this error

[2022-07-31 23:20] cperera-aud commented on #48049
I'll contribute to this issue. Feel free to assign it to me, I don't seem to be able to assign the issue to myself.

[2022-08-01 00:33] #45647 closed

[2022-08-01 00:33] #45564 closed

[2022-08-01 00:33] #44622 closed

[2022-08-01 00:33] #43515 closed

[2022-08-01 06:44] danielSchaeble opened #48511 "STM32WL LoRaWAN pinout incomplete / RFO pin not selectable"
**Is your enhancement proposal related to a problem? Please describe.**

The STM32WL chip series has on chip LoRa and provides two input and two output pins for this. The low power output pin (RFO_LP) and the high power output pin (RFO_HP) are currently not choosable. By default the RFO_HP pin is used.

The limitation was found because of the following problem:
A custom board with STM32WLE5CC, whi

[2022-08-01 07:01] shaoanxli opened #48512 "frdm_k64f : failed to run tests/drivers/dma/scatter_gather"
**Describe the bug**
The error shows : ASSERTION FAIL [(((uint32_t)(uint32_t *)srcAddr) % srcWidth) == 0U]. The error occurs because the srcAddr is not 4-byte alignment.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p frdm_k64f --hardware-map map.yml --device-testing -T tests/drivers/dma/scatter_gather/ -vv
3. see error
  or
2. west build -p always -b frdm_

[2022-08-01 07:13] mabbas22 commented on #48104
@fabiobaltieri Thanks for reply. I know that Zephyr 1.13 is not supported anymore but all of our devices in the field are based on Zephyr 1.13 and updating it recent version will take some time. We are limited to Zephyr 1.13 until we update all the devices in the field.

Looking into the error, may be you have some ideas what is causing the issue and which commits can fix the issue for now?

Thank

[2022-08-01 07:23] PerMac commented on #47500
For now my only idea is to manage this on the "CI-level" i.e. in Jenkins or other orchestrator you use. I would play with building in subsets and sending each subset as a whole to different agents. So each subset has its own test plan etc. Making twister able of distributing tests over the net based on available resources is quite challenging and I am still not sure if this should be a twister fea

[2022-08-01 07:38] ccoenenatbaumer commented on #43887
I could successfully test with nucleo_g431rb and created two pull requests

#48513
zephyrproject-rtos/segger#13

[2022-08-01 08:02] hermabe commented on #48505
The `send_conn_le_param_update()` will only be called if the connection is not in the disconnected state, so most likely there is a missing state transition somewhere. Can you share some logs that shows what happens before the failed connection parameter update?

[2022-08-01 08:23] joerchan commented on #48459
For b) I think this should be done more thoroughly if decided to do it. There are other structs that does the same thing as well, e.g. `bt_le_per_adv_sync_term_info`.

IMO this is the best option.

[2022-08-01 08:23] alxelax opened #48514 "bsim mesh establish_multi.sh doesn't send data for one of devices"
**Describe the bug**
The bug is reproduce only if extended advertiser is chosen for mesh (the legacy adv works well). Test scenario includes 6 emulated devices: 1 mesh friend node and 5 mesh low power nodes. Test should start all devices simultaneously. 5 low power nodes should establish friendship with friend node in one turn.
Wrong external behavior: 4th node always cannot establish friendship.

[2022-08-01 08:36] pdgendt opened #48516 "flash: sam: Build error for sam4s_xplained"
**Describe the bug**
Building `samples/drivers/flash_shell` fails for the `sam4s_xplained` board.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Build succeeds.

**Impact**
Current CI builds with `sam4s_xplained` board fail. (For example [this run](https://github.com/zephyrproject-rtos/zephyr/runs/7606463844?check_suite_focus=true))

**Environment (please complete

[2022-08-01 08:37] gweisberger commented on #44908
Any updates?

[2022-08-01 09:11] erwango opened #48518 "samples/sensor/*: Build issue when board expose sensors defined on both I2C and SPI buses"
**Describe the bug**
There are a few sensor samples which fail to build with `96b_argonkey`:
`samples/sensor/vl53l0x/`
`samples/sensor/hts221`
`samples/sensor/lps22hb`

[code]

Root cause is:
- Board dts defines `lsm6dsl` on SPI bus, while other sensors (`hts221`, `vl53l0x`, `lps22hb`) are defined on I2C bus
- samples for I2C sensors enable both `CONFIG_SENSOR` and `CONFIG_I2C`
- Due to `CONFIG_SE

[2022-08-01 10:34] ppryga-nordic opened #48520 "clang-format: #include reorder due to default: SortIncludesOptions != SI_Never"
**Describe the bug**
If use `clang-format` to apply formatting on save and e.g. add `#include<xxx.h>` in a source file then it runs sorting of all `#includes`.

The problem is caused by change of `.clang-format` to use `BasedOnStyle: LLVM`. This style, by default, has enabled `SortIncludes` that causes an issue. This option has to be disabled, in other case it makes a mess with `#include` directiv

[2022-08-01 11:35] Zhaoningx commented on #44062
Hi, sorry for the long time no update, the main issue about this bug is the stack usage is different from the test case. So my first solution is to create a new macro `COVERAGE_STACK_SIZE` to increase the stack that is needed when coverage is enabled.

Let me use the main stack as an example:
**defined**
[code]
**arch/arm/core/aarch32/cortex_m/reset.S**
`    ldr r0, =z_main_stack + CONFIG_MAIN_STA

[2022-08-01 12:19] benjaminkelenyi opened #48523 "Mathematical operations in Kconfig"
Hello!

Is there any way to make mathematical operations in Kconfig file?
Like: MEM_ADDRESS + FLASH_SIZE? Where MEM_ADDRESS is 0x0123456 and FLASH_SIZE is 0x654321.

Thnks,
Benjamin

[2022-08-01 13:29] #43450 closed

[2022-08-01 13:56] danieldegrasse commented on #47238
@asarbs, sorry, missed this notification and was on PTO this past week. Will changing the `LOG_INF` statement out for `k_busy_wait` work to fix the issue?

[2022-08-01 15:20] #43887 closed

[2022-08-01 15:24] peter-mitsis opened #48531 "RFC: Changing the sys_clock interface to fix race conditions."
## Introduction

Recently https://github.com/zephyrproject-rtos/zephyr/pull/48474 was opened to address a race condition in sys_clock_announce(). Additional issues in the existing implementation have since been identified and this RFC is an attempt to both accurately describe them and (hopefully) get agreement about the solution proposed here. It affects every timer driver and the sys_clock_announ

[2022-08-01 15:26] enjiamai commented on #47512
Now we are working on two ways: (a) apply Zephyr workaround from OS layer (b) report to UEFI BIOS team a bug.

[2022-08-01 16:01] zephyrbot opened #48532 "[backport v3.1-branch] backport of #48449 failed"
This issue was created automatically because the backport of #48449 to `v3.1-branch` failed.

The backport to `v3.1-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.1-branch` and the `compare`/`head` branch is `backport-48449-to-v3.1-branch`.

[2022-08-01 16:02] #48089 closed

[2022-08-01 16:36] yperess commented on #48148
I agree, I didn't want to add more to the device API because I'm already in the process of trying to get a v2 API up and running to support more use cases (https://github.com/zephyrproject-rtos/zephyr/pull/44098). I also think that this is pretty unique to a small subset of applications that might want to expose this information to the user (the use for the vendor/model/friendly-name fields came f

[2022-08-01 17:07] nRF5xFanBoy opened #48534 "SMF missing events"
**Is your enhancement proposal related to a problem? Please describe.**
The problem is with the current state machine framework is I can not de-queue events in the current state!
Also missing examples in the zephyr folder examples.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I wish for state aware de-queue dispatching (due to a missing example

[2022-08-01 17:13] #47649 closed

[2022-08-01 17:44] clau2145 opened #48537 "Can gpio output configuration flags be expressed in the devicetree?"
I was wondering if gpio output configuration flags such as GPIO_OUTPUT_HIGH/LOW can be expressed in the device tree along with devicetree flags such as GPIO_ACTIVE_HIGH/LOW? The documentation seems to imply that pin configuration flags such as GPIO_OUTPUT_HIGH/LOW are uint32_t and only uint16_t flags can be expressed in the device tree but I wanted to confirm.

For example this is how I tried to i

[2022-08-01 19:51] dleach02 commented on #33747
@kevin137, I've removed the stale and reopened the issue.

[2022-08-01 20:23] PierrickGuitter opened #48541 "subsys/net/l2/ppp/fsm.c: BUS FAULT"
**Describe the bug**
Bus Fault during the initialization of gsm modem, using ppp driver.

 - What target platform are you using?
 Custom target with STM32U585 micro and Quectel BG950 gsm modem.
 - What have you tried to diagnose or workaround this issue?
 Debugger and addr2line (see last section for more information)

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. we

[2022-08-02 01:55] hongshui3000 commented on #48534
+1

[2022-08-02 06:11] rugeGerritsen commented on #48304
As part of fixing this issue, it would be nice if you could add a bsim test. For example doing the following:
[code]

[2022-08-02 06:12] smrtos commented on #47300
This issue has been reproduced on cavs25. Investigating it.

[2022-08-02 07:30] Suhas-MS commented on #29394
Hello,
I have a requirement for SPI slave using ESP32. Is this supported now or will it added in the future?

[2022-08-02 07:58] smrtos opened #48547 "ztest: Incorrect display of test duration value."
**Describe the bug**

Below code will introduce incorrect test duration stats:
https://github.com/zephyrproject-rtos/zephyr/blob/d5ab3ee0b06457f9e82be12cac1bf39617113e4e/subsys/testsuite/include/zephyr/tc_util.h#L145-L147

For example:
1002 will be shown as 1.2
1020 will be shown as 1.20
1200 will be shown as 1.200

Introduced by 3eb2c60e520bd59d18c515b29d9b719220a43d33

[2022-08-02 07:59] smrtos commented on #48547
May be fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/48499

[2022-08-02 08:15] smrtos commented on #48460
Maybe fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/48499

[2022-08-02 11:24] nashif commented on #48253
@yperess any idea what is going on here?

[2022-08-02 11:50] bonetor commented on #46758
Hello.
Are there any updates for the replacement for CivetWeb?

[2022-08-02 12:27] galak commented on #48518
@erwango I had worked up something similar to what you suggested in a PR:

https://github.com/zephyrproject-rtos/zephyr/pull/48048

[code]

However @MaureenHelm asked to just update the board Kconfig.defconfig to enable the bus needed.  So will look for her comment on this to see what direction we should go.

[2022-08-02 12:40] erwango commented on #48518
If this is something like follows, this would make sense indeed:
[code]

[2022-08-02 13:13] yperess commented on #48253
@nashif I'm on it

[2022-08-02 13:15] #48328 closed

[2022-08-02 14:05] tautologyclub commented on #48505
Sorry, not really - first of all this is pretty hard to reproduce but basically there was no other indications that something went wrong. Everything looked fine until that opcode warning. Maybe I'd have more info if I had higher log levels set, but as I said it's not easy to reproduce.

[2022-08-02 14:13] raghulshanmuganathan-sigmaconnectivity opened #48567 "MIMXRT1060 custom board support for NXP HAL modules"
Hi,

I have created a custom (out-of-tree) board for IMX RT 1061 based on MIMXRT1060_EVK Board.
I followed all the steps from this guide https://docs.zephyrproject.org/latest/hardware/porting/board_porting.html.

The application builds but does not link to the NXP HAL from modules directory and returns an error: "...  undefined reference to `dcd_data'" whenever I try to configure the CODE_LOCATION

[2022-08-02 14:40] cfriedt commented on #47049
@nordicjm - was this resolved via a manual backport?

[2022-08-02 14:41] cfriedt commented on #46088
@cvinayak - was this resolved already via manual backport?

[2022-08-02 14:55] rftafas commented on #29394
@Suhas-MS, it's not supported yet, it's on backlog, it's not on any schedule/roadmap yet. I suggest creating a request for that or DIY if you are on a tight schedule. Usual advice to rely on already released features still apply.

[2022-08-02 15:06] andyross commented on #48531
The immediate problem this will cause (really regress[1]) is that simultaneous timer ISRs will now block each other.  Remember that due to timeslicing requirements[2], we require timer interrupts be delivered to all cores.  The current architecture allows a timer driver to compute a tick count to announce, enter the announce call, and then early-exit knowing that another CPU is going to handle it.

[2022-08-02 15:28] cfriedt commented on #46758
* collect stakeholders
* collect collaborators
* maintainer??

[2022-08-02 15:44] cfriedt commented on #46758
* PSA Crypto API - standard crypto API for Zephyr
* unified api for all crypto apps

* @cfriedt could come up with initial implementation / PoC, with testsuite
* Would be greatly appreciated for interested parties to contribute test-points / cases to testsuite
* Additional features based on top of HTTP, HTTPS would be additive (potentially separate suites?)

[2022-08-02 15:58] cfriedt commented on #29750
@gmarull - PTAL when you have a moment, would be great to get your input here.

[2022-08-02 16:00] andyross commented on #48531
Per a comment at the dev meeting: maybe it would help to write up an event sequence that shows the race in the current setup?  That is, a list of what happens when that ends up at an incorrect action (in this case, presumably a timeout failing to fire early enough, or a handler failing to execute, or executing at the wrong time, I guess?).

[2022-08-02 16:05] andyross commented on #48531
Oh, and also per the meeting, @carlescufi  pointed out this bit I wrote was ambiguous:

The point is that the existing misordering bug (IIRC: the last timeout entry in the list can end up executing in parallel with a newly-added-just-now timeout) can be fixed within the existing timeout subsystem lock.  It doesn't require coordination with the other lock in the timer driver.

[2022-08-02 16:12] nordicjm commented on #47049
@cfriedt Nope, however, created a manual backport now at https://github.com/zephyrproject-rtos/zephyr/pull/48573

[2022-08-02 16:13] peter-mitsis commented on #48531
The scenario I was thinking of goes like this ...

Core 0 starts servicing the timer ISR. It does the ISR work (acquire driver spinlock, set last_count, calculate elapsed ticks, and unlocks the driver spinlock).
Core 0 invokes sys_clock_announce().
Core 0 processes the timeout list.
Core 0 calls next_timeout() to determine when the next timer ISR should fire.
Core 1 finally has time to process the

[2022-08-02 16:17] mmahadevan108 commented on #48541
@PierrickGuitter , can you share with us the application you are trying to run so we can debug on different hardware.

[2022-08-02 16:18] andyross commented on #48531
Maybe elaborate this to explain why the resulting app behavior becomes incorrect?  I content this is correct behavior.  "Time" is an aspect of the physical universe, it can't be "locked" and is not subject to synchronization.  We don't want core 0 running "in the past", we want timeouts that it sets to reflect the actual time.  (There's some complexity here for sure, because in fact the system tim

[2022-08-02 16:30] mmahadevan108 commented on #48470
@mmaslik Would you like to submit a PR to fix this issue?

[2022-08-02 16:35] mmahadevan108 commented on #48468
@mmaslik would you like to submit a PR to fix this issue.

[2022-08-02 16:42] mmahadevan108 commented on #46656
@aralex1 Please reopen if you can reproduce the failure.

[2022-08-02 16:42] #46656 closed

[2022-08-02 16:56] mbolivar-nordic commented on #29750
I generally agree that the right place for this in Zephyr is devicetree. This has always been our escape mechanism when Kconfig doesn't scale. I don't have enough networking knowledge to comment in depth, but I'd really love to see the networking subsystem become more DT aware in general. I do have some comments on the detailed RFC:

I think you meant something like `ipv4-X = <ip1 ip2 ip3 ip4>;`,

[2022-08-02 18:01] peter-mitsis commented on #48531
I’m playing this scenario out more, and I am starting to think that I had previously missed something because I stopped too early. Here’s my thinking ....

If in the previously described scenario core 1 has ticks to announce, then it is true that core 0 will set the timer to expire later in the future than expected. This is where I had previously stopped in my thought experiment as I was expecting

[2022-08-02 18:10] andyross commented on #46378
Sneaking in:

But... that's all correct.  There isn't a separate clock per core.  It's a single device.  If core 1 sees time as 1 tick ahead while core 0 is still announcing, that means that core 0 took more than one tick to finish the announce calls, by definition.  No time is being "lost", it's just slow.  No amount of timer architecture is going to make an ISR finish faster.

(FWIW: none of tha

[2022-08-02 18:30] NickolasLapp opened #48578 "NRF GPIO Toggle introduces race condition when multithreaded"
**Describe the bug**
`gpio_nrfx_port_toggle_bits` introduces a race condition between threads, and can cause GPIO writes to be lost.

https://github.com/zephyrproject-rtos/zephyr/blob/13714a6742ad180fff60be4b80e2d6955614eeca/drivers/gpio/gpio_nrfx.c#L210-L211

Specifically, if a pin in the `GPIO.OUT` register is changed in between capturing the assignment to `value` and writing value back out to `

[2022-08-02 18:40] #48447 closed

[2022-08-02 18:44] MaureenHelm commented on #48518
I really don't like this pattern.

I tried this before, but it created a circular dependency (LSM6DSL depends on SPI, and SPI depends on LSM6DSL). That's why I wound up using SENSOR instead of LSM6DSL.

[code]

Agreed

[2022-08-02 19:17] stephanosio opened #48584 "Remove netifaces Python package dependency"
The `requirements-run-test.txt` file specifies the `netifaces` package as a dependency:

https://github.com/zephyrproject-rtos/zephyr/blob/ce18d3c4ff66ae0f81212ef2f2b9143a1dca6a36/scripts/requirements-run-test.txt#L20-L21

[This package is no longer maintained](https://github.com/al45tair/netifaces) and will likely cause various problems in the future.

It already lacks the pre-built binary packag

[2022-08-02 19:23] fgrandel opened #48585 "net: l2: ieee802154: decouple l2/l3 layers"
The current IEEE 802.15.4 MAC (L2) layer is coupled to IPv6 and 6LoWPAN which are L3 concerns. This breaks L2 layer encapsulation and makes it impossible to design custom non-IP L3 protocols on top of IEEE 802.15.4.

There are IEEE 802.15.4 "RAW" and "CUSTOM" modes. Unfortunately both exclude most of zephyr's generic and otherwise perfectly re-usable IEEE 802.15.4 MAC implementation. They require

[2022-08-02 20:42] marc-hb commented on #48584
Perfect timing: for a while I've been asking @enjiamai to get rid of the misguided binding to a semi-random interface and I think he just did: https://github.com/zephyrproject-rtos/zephyr/pull/46972#issuecomment-1199760762

(and to use `INADDR_ANY` by default like any other program
https://docs.python.org/3/library/socket.html#socket-families)

[2022-08-02 23:11] enjiamai commented on #48584
Ok, @stephanosio, I think as @marc-hb mentioned, I will remote the netifaces, thanks.

[2022-08-03 00:02] smrtos commented on #47300
Saw two changes related to spsc_pbuf tests.
https://github.com/zephyrproject-rtos/zephyr/commit/3a369c47b3398878bc5112fd9107f0c1dda1de1e
https://github.com/zephyrproject-rtos/zephyr/commit/09b41829a8aad8ca91db87a2f175aa2e8cbb0a75

[2022-08-03 00:46] smrtos commented on #47833
For tests that failed for this reason, it's possible to capture the **complete** log by adding some extra delay between tests: https://github.com/zephyrproject-rtos/zephyr/pull/47779. But this is not fixing the root problem described in this issue. Just work around.

And there's another PR to add summary to ztest log output so that we can determine test result with **less** logs.
https://github.co

[2022-08-03 02:22] sambhurst commented on #48534
I'm unsure what you mean about de-queuing an event in the current state. Could you explain further and maybe add some sudo-code? Also, the [documentation](https://docs.zephyrproject.org/latest/services/smf/index.html) has two complete examples that can be extracted and built.

Personally, I'm not a big fan of state machine compilers because you're dealing with two languages instead of one and you

[2022-08-03 04:01] #48185 closed

[2022-08-03 04:02] #44725 closed

[2022-08-03 04:02] #47986 closed

[2022-08-03 04:36] ofirshe opened #48591 "Can't run zephyr application from SDRAM on RT1060-EVKB"
Hey,

I wanted to link my application to SDRAM and then download the zephyr.elf using the debugger for debug purposes (can't debug my application from the FLASH).
I tried to run my zephyr application from the SDRAM using CONFIG_XIP=n and CONFIG_NO_OPTIMIZATIONS=y, but the application hangs in arm_mpu_init(). In order to overcome this, I set CONFIG_ARM_MPU=n but I get warning regarding stack protec

[2022-08-03 04:49] asarbs commented on #47238
@danieldegrasse yes.

[2022-08-03 06:54] aescolar commented on #48514
@alxelax can you please check in the Phy radio logs to see what is actually sent by each device and when each other device tries to receive and what it receives.

[2022-08-03 08:06] balogul opened #48603 "LoRa driver asynchronous receive callback clears data before the callback."
Hi,

I am developing with nRF52 + SX1276 for a BLE + LoRa application. The issue is that the RxTxBuffer within the library loramac-node is cleared before the callback is called from the driver. This occurs within the function sx12xx_ev_rx_done of the file "drivers/lora/sx12xx_common.c".

You can reproduce the behaviour when you use the LoRa receive sample project. The received data callback does n

[2022-08-03 08:35] r2r0 opened #48606 "Allow switching form Interrupt-driven UPART API to asynchronous API on STM32."
**Is your enhancement proposal related to a problem? Please describe.**
Actual implementation does not support use case when UART driver is initialized to use Interrupt-driven API (`uart_irq_callback_set`) and then we want to switch later to asynchronous API (`uart_callback_set`).
It is because the "old" callback for interrupt API is still remembered, and it is still used in ISR.
This disturbs log

[2022-08-03 08:47] stephanosio opened #48608 "boards: mps2_an385: Unstable system timer"
**Describe the bug**

The system timer on the `mps2_an385` platform, when run inside QEMU with the "icount" mode disabled, is unstable and may return an invalid uptime value (e.g. when calling `k_uptime_get_32()`), leading to frequent test failures and system crashes.

While the `mps2_an385` platform normally [runs with the "icount" mode enabled in order to ensure stable timing](https://github.com

[2022-08-03 08:55] stephanosio commented on #48608
Marking this low priority since it is a platform-specific issue and the networking tests already run on many other platforms.

[2022-08-03 08:55] mkschreder opened #48609 "drivers: gpio: expose gpio_utils.h to external GPIO drivers"
**Is your enhancement proposal related to a problem? Please describe.**
The problem is with external gpio drivers. These helpers are needed but by convention everything that is not under "include" is "private" headers.

**Describe the solution you'd like**

- Remove inlines
- Put this code into drivers/gpio/gpio_util.c
- Put public interface under include/drivers/gpio/gpio_util.h
- Add a kconfig o

[2022-08-03 09:03] mkschreder opened #48611 "drivers: gpio: update gpio_shell functionality to include PU/PD and interrupt callbacks"
**Is your enhancement proposal related to a problem? Please describe.**
GPIO shell is very useful for running automated tests against samples that use GPIO. However it's functionality is very limited right now. It needs to be updated to reflect the GPIO api.

**Describe the solution you'd like**

- Add ability to set pullup pulldown state
- Add ability to catch gpio events by enabling interrupts f

[2022-08-03 09:06] stephanosio commented on #48608
cc @andyross @dcpleung @peter-mitsis @microbuilder

[2022-08-03 09:11] #47046 closed

[2022-08-03 09:20] #48512 closed

[2022-08-03 10:01] fgrandel opened #48616 "RFC: Change to clang-format coding style rules re binary operators"
## Introduction

This proposal is due to a review comment which observed that
[code]
probably causes more cognitive load than

[code]
for most of us (myself included).

See https://github.com/zephyrproject-rtos/zephyr/pull/48586#discussion_r936315804

### Problem description

Especially when operands are very short, breaking after operators may be
hard to read.

On the other hand, fixing a single

[2022-08-03 10:09] gmarull commented on #48616
is this about adding `BreakBeforeBinaryOperators: ...` ? Could you provide some examples on how it looks like with/without while formatting a few source files?

[2022-08-03 10:12] fgrandel commented on #48616
Wow, cool, you're so fast I couldn't even link the commit before you asked.

Yes that's exactly it - example provided in the attached commit.

[2022-08-03 10:24] anangl commented on #47925
@vleeb Could you provide some code snippet that can be used to reproduce the behavior you described?

[2022-08-03 10:25] gmarull commented on #48616
I think that this change should go into its own PR, and provide a few more examples other than networking code (so we see how it looks like in real code).

[2022-08-03 10:26] alxelax commented on #48514
Yep, sure. @aescolar could you provide more information how to collect this logs? Do I need to add some options when I build tests or to run it with specific options?

[2022-08-03 10:41] aescolar commented on #48514
@alxelax
_The Phy can dump all radio activity to files. You control this with the -dump and -nodump command line options. This radio activity can be easily [imported for analysis](https://babblesim.github.io/import_Ellisys.html) into the [Ellisys Bluetooth Analyzer SW.](https://www.ellisys.com/products/bex400/index.php#screenshots)_
The results for each simulation end up in the results/<sim_id> fo

[2022-08-03 10:45] anangl commented on #48578
Fixed by #48582.

[2022-08-03 10:45] #48578 closed

[2022-08-03 10:59] fgrandel commented on #48616
Yes, I agree. Let's see whether the original author of the comment also agrees, then I'll prepare a separate PR. @jukkar - can you please comment?

[2022-08-03 11:28] fgrandel commented on #48616
@gmarull Can you propose a few files that I should "tentatively" format? Preferably these should be files that already comply to the formatting rules so that we only see the changes due to BreakBeforeBinaryOperators.

[2022-08-03 11:43] gmarull commented on #48616
not to reformat anything right now, just provide some examples with option on/off. But anyway, option is clear, so I guess it's ok to just provide the network examples.

[2022-08-03 11:58] jukkar commented on #48616
I just wonder why do we even try to split the checks. Most of the code does not be very readable after that.
For example
[code]
vs
[code]
IMHO, the latter is much more readable from these two.

[2022-08-03 12:41] vleeb commented on #47925
Hi Andrzej,

Thank you for your reply and your attempt to help. In the meantime I was able to solve the problem by myself.

At first there was a very confusing side-effect with CONFIG_NETWORKING.
As long as I did not activate CONFIG_NETWORKING everything worked find. But after adding CONFIG_NETWORKING it did not work anymore … even while not actively using any of the networking features.

Then I f

[2022-08-03 12:41] MariuszSkamra opened #48620 "LC3 External Source Code"
## Origin

liblc3 - Low Complexity Communication Codec library
https://github.com/google/liblc3

## Purpose

Audio codec specified by Bluetooth SIG for LE Audio purposes.

## Mode of integration

External component (fork of existing repository).

## Maintainership

Casper-Bonde-Bose
MariuszSkamra

## Pull Request

TBD
Sample PR - https://github.com/zephyrproject-rtos/zephyr/pull/46970

## Descript

[2022-08-03 12:44] stephanosio commented on #48620
cc @nashif @carlescufi

[2022-08-03 12:55] fgrandel commented on #48616
@jukkar How can I achieve this with clang-format? This is not compliant with automatic formatting AFAICS...

[2022-08-03 13:40] ivonalo opened #48625 "GSM_PPP api keeps sending commands to muxed AT channel"
When enabling the `CONFIG_MODEM_GSM_PPP=y `and ` CONFIG_GSM_MUX=y` options the ` gsm_ppp.c` api keeps sending "AT+CSQ" command to the modem with the `CONFIG_MODEM_GSM_RSSI_POLLING_PERIOD` period.
Because of this, when I am sending some other AT commands in my custom api to the muxed AT channel, the response to my AT command interferes with the response to the ` AT+CSQ` command and part of my comma

[2022-08-03 13:41] fgrandel opened #48626 "jlink flasher not working with recent versions of pylink dependency"
**Describe the bug**
 <snip>
  File ".../zephyr/scripts/west_commands/runners/jlink.py", line 162, in jlink_version
    lib = Library(dllpath=os.fspath(Path(self.commander).parent /
  File ".../.venv/lib/python3.8/site-packages/pylink/library.py", line 278, in __init__
    self.load(dllpath)
  File ".../.venv/lib/python3.8/site-packages/pylink/library.py", line 384, in load
    with open(self._pat

[2022-08-03 14:05] #40309 closed

[2022-08-03 14:15] mbolivar-nordic opened #48630 "Process: maintainer involvement in triaging issues"
This is a re-hash of the initial discussion in #46759.

Following some offline discussion with @nashif, we agreed that it would be worthwhile to start sending requests for action from maintainers to periodically triage open bugs and issues in parallel to the ongoing broader discussions about release criteria that turned into https://github.com/zephyrproject-rtos/zephyr/issues/38566.

To resolve in

[2022-08-03 14:45] gmarull commented on #48616
Another question is why clang-format was increased to 100 cols... IMO it should be reverted to 80 cols, or, remove the option so that it gives freedom on where to break (assuming we do an extra check to not exceed 100).

[2022-08-03 15:14] carlescufi commented on #48620
@MariuszSkamra can you provide a sample PR that uses the new repo? For now just point directly to upstream [google/liblc3](https://github.com/google/liblc3).

[2022-08-03 15:15] ofirshe commented on #48567
following

[2022-08-03 15:44] mbolivar-nordic commented on #48626
This is due to a pylink change; see discussion starting at https://github.com/zephyrproject-rtos/zephyr/pull/48627#issuecomment-1204000385.

[2022-08-03 15:54] cfriedt commented on #30105
That's a good question - is anyone able to grok the output of `xt-xcc --help` and `xt-clang --help` and paste the relevant output here?

If xcc is the only toolchain that's holding up switching to C11, it would be good to know.

[2022-08-03 16:03] mbolivar-nordic commented on #38725
Process WG: moved back to on hold; @stephanosio is busy

[2022-08-03 16:11] galak opened #48642 "nucleo_l011k4 does not build"
Trying to build 'hello/world' for nucleo_l011k4 and get:

[code]

[2022-08-03 16:17] mbolivar-nordic commented on #48630
Process WG:

For the initial triage, first experiment, not limiting future work to this:

- Ask maintainers to use 'future' milestone for bugs they likely won't be able to address this release
- We (the TSC) will exclude these low priority bugs from our release metrics
- We (the release managers) will clear the 'future' milestone from every bug after each release, to enforce policy that we revisit

[2022-08-03 16:26] mbolivar-nordic commented on #46800
Process WG: roundtable discussion and feedback

[2022-08-03 17:00] mbolivar-nordic commented on #38566
Process WG:

- @mbolivar-nordic: Nordic is interested in having Tier 1 boards. We are looking for a process owner for test reporting infrastructure.
- @nashif the testing WG needs to define requirements
- @dleach02 : release managers are a stakeholder here as well

[2022-08-03 17:13] tristan-google commented on #48334
I will start work on the first half of this proposal (extra conf files/overlays) this week.

[2022-08-03 17:24] balajikulkarni commented on #48609
@mkschreder I would like to pick up this issue. One quick query though, could we have the existing gpio_util.h (with inlines) itself exposed under public header interface?

[2022-08-03 17:25] andyross commented on #48608
Took a super quick look and reproduced pretty easily.  The smoking gun is in the deltas above:

[code]

This is using the SysTick driver.  ARM Cortex SysTick is a 24 bit counter[1], the delta there is slipping backwards by 280k cycles less than 2^24.  Given the cycle rate of 25 MHz, that corresponds to 11ms, or just about one host scheduling quantum (i.e. the inevitable timer slop we always have t

[2022-08-03 17:35] andyross commented on #48608
Well, it isn't going to be that easy.  The wraparound logic in cortex_m_systick.c is some fairly subtle code reading a register overflow state flag.  It doesn't look wrong to me at a glance.

Interestingly, the qemu_cortex_m3 platform does **not** show this behavior, even when I set the clock rate to 25Mhz.   Those platform should otherwise be mostly identical (mps2_an385 has the MMU enabled, but

[2022-08-03 18:56] peter-mitsis commented on #46378
We have the following call sequence executed in the timer expiration handler (z_timer_expiration_handler). Note that this handler is a callback routine called from within sys_clock_announce() in the context of the timer ISR.

`   k_uptime_ticks() -> sys_clock_tick_get() -> curr_tick + sys_clock_elapsed()
`

sys_clock_elapsed() simply does ...

`       uint32_t ret = (count32() - (uint32_t)last_cou

[2022-08-03 22:30] aaronemassey opened #48665 "tests/usb/device: Add zassert to match zassume usage."
We should only use `zassume` to check behavior that is already tested elsewhere because `zassume` skips the test/testsuite. We only want to be skipping on conditions that we `zassert` elsewhere. That way we just have a single assertion or limited root cause assertion failures to find why a test isn't passing.

The zassume added in https://github.com/zephyrproject-rtos/zephyr/pull/47998/files#diff-

[2022-08-03 22:51] sslupsky opened #48666 "driver: ads1x1x: add support for ALERT pin"
**Is your enhancement proposal related to a problem? Please describe.**
The device bindings and driver do not have allow configuration of the ALERT pin.  For instance, when the pin is connected to the mcu and signals an interrupt.

**Describe the solution you'd like**
Add something like the following to the binding (the lmp90xxx binding does something like this) and add support in the driver:
[cod

[2022-08-03 23:16] cfriedt commented on #29750
@mbolivar-nordic - thanks for the suggestions (esp the ipv6 version). Had the same idea in mind with the IPv4 addresses.

Was just kind of rushing and talking while I noticed `<>` did not render.

I like the idea of using binary versions of IP addresses but am also worried that they might be annoying for users.

It's not a problem for IPv4, but kind of annoying for IPv6 (unless we had some similar

[2022-08-04 02:39] shuai1x commented on #48665
Ok, I know. I will fix it.

[2022-08-04 03:50] nick-kraus opened #48671 "SAM V71B Initial USB Transfer Drops Data Bytes"
**Describe the bug**
After a reboot, the first instance of writing data from the device (sam_v71b_xult board, usbhs) to a host (PC) gets dropped and no data is available to be read from the host. After the first write, subsequent writes work as expected, even when resetting and re-configuring the usb port.

Problem was originally discovered when developing a custom firmware which acts as a usb com

[2022-08-04 06:00] smrtos commented on #47300
Tried to reproduce with below command on cavs25:
`twister --hardware-map ~/daily_qa/cavs25.map --device-testing -vv -s tests/lib/spsc_pbuf/lib.spsc_pbuf`

Saw below log
[code]

[2022-08-04 06:40] PierrickGuitter commented on #48541
@mmahadevan108 The application running is also a custom one.
Essentially, the application :
- Performs the initialization of BG950A-GL (bringing all the pins to their init state)
- Then waits for the modem to be ready and send AT commands for configuration and information collection. It is performed by gsm_configure in the ppp driver.
- Then waits for ppp net interface to be up and ready for sendi

[2022-08-04 09:09] hunterhu3000 commented on #48007
@FRASTM As this bug is not related to https://github.com/zephyrproject-rtos/zephyr/issues/47921, can I unassign me in the Assignees list?

[2022-08-04 09:32] #46378 closed

[2022-08-04 10:27] vibhor-meshram opened #48682 "ADC Support for STM32U575"
**Is your feature request related to a problem? Please describe.**
I need to use ADC for my project. I am using nucleo_u575zi_q board. I am using samples/drivers/adc example. I looked into PR #39202 where ADC support is provided for STM32U585 board. I made necessary changes to my dts files for ADC to work.
The ADC sample code is now compiling and running as well. I have configured pc0 as adc pin.

[2022-08-04 11:44] #48585 closed

[2022-08-04 11:45] #48642 closed

[2022-08-04 12:21] galak commented on #48516
Need to understand from @nandojve or someone more familiar with the atmel hardware if the sam4s flash hardware is really the same as the same70.

[2022-08-04 12:24] stephanosio commented on #48459
https://github.com/zephyrproject-rtos/sdk-ng/discussions/530#discussioncomment-3319706

This has become a blocker for the Zephyr SDK 0.15.0. Since it will likely take some time to properly fix, I will send a PR to partially disable this warning for the affected function for now.

[2022-08-04 13:18] galak commented on #48518
@erwango will you work up a PR for this?

[2022-08-04 13:34] erwango commented on #46847
I'm back at this, I'm reproducing an issue, but not exactly with the same difference
Here are the figures I can observe:
- STM32CubeWL/Projects/NUCLEO-WL55JC/Examples_LL/PWR/PWR_EnterStopMode: 450uA
- zephyrproject/zephyr/samples/boards/stm32/power_mgmt/blinky: 1500uA/5000uA (Led OFF/Led ON)

In Zephyr, when changing sysclk to HSI@16MHz (same as Cube sample): 440uA/4200uA (Led OFF/Led ON). So this

[2022-08-04 13:36] peter-mitsis commented on #48531
The bug to which we were trying to solve has been resolved without the need to go the route of changing the sys_clock_xxx interfaces. Consequently, I am closing this item.

[2022-08-04 13:36] #48531 closed

[2022-08-04 13:36] AminoACID123 opened #48699 "Is there a way to port the Bluetooth host stack to linux?"

[2022-08-04 13:58] erwango commented on #48518
[code]

I'm not convinced by this solution. This enables bus irrespective of sensor devicetree status on the bus.
We end up in a situation where:
- If I have sensors on one type of bus, bus is activated only if required based on devices device tree status.
- If I have sensors splits on 2 types of bus, both bus are activated irrespective of devicetree status (as long as one sensor is enabled). If I

[2022-08-04 14:23] galak commented on #48148
Can you give an example dts snippet of use here.  Vendor, model info should effectively be encoded in the compatible so those don't make sense to me.  Not sure about friendly-name either.  At least from a standard zephyr binding point of view.

[2022-08-04 14:43] cfriedt commented on #29750
Exactly - I occasional remind myself that this could all be done at compile time via C++ and `constexpr`. In fact, I think that the majority of our ELF hacks could be done this way too, which would simplify the macOS port (cc @galak)

[2022-08-04 15:35] aaronemassey commented on #48665
Thank you!

[2022-08-04 15:50] enjiamai commented on #47652
Waiting for https://github.com/zephyrproject-rtos/zephyr/pull/46972 got merged.

[2022-08-04 15:55] enjiamai commented on #47512
For these failed tests:
tests/kernel/mem_protect/mem_protect/kernel.memory_protection
tests/subsys/rtio/rtio_api/subsys.rtio.api
tests/subsys/rtio/rtio_api/subsys.rtio.api.submit_sem
sample/portability/sample.portability/cmsis_rtos_v1.timer_synchronization
sample/portability/sample.portability/cmsis_rtos_v2.timer_synchronization
samples/userspace/shared_mem/sample.kernel.memory_protection.shared_m

[2022-08-04 16:01] fgrandel commented on #48616
As this is essentially a maintainers' decision, I of course don't have any strong opinions re any of the coding style questions raised in this RFC.

Like probably most of us I'm fine with any coding style as long as there is an automated way to check and enforce it consistently across the whole code base. I'll therefore withdraw from the discussion of details.

Feel free to maintain the RFC open i

[2022-08-04 16:02] erwango commented on #48518
Dev meeting: Review the bus selection: select bus in drivers and remove board related code.
I'll have a try and propose a PR

[2022-08-04 16:10] hunterhu3000 commented on #47987
The commit https://github.com/zephyrproject-rtos/zephyr/commit/5f60164a0fc36484b60004310320dfd6f3ef0525 think if there is no activated log backend, the timeout will be set to K_FOREVER. If there is at least 1 log backend activated, the value is 50ms.
Before this commit, the value is hard code to 50ms and works well. After this commit, it cannot find any activated backend, and set the value to K_FO

[2022-08-04 16:26] galak commented on #48518
pushed a PR, will see how it goes through CI.

[2022-08-04 16:35] #47119 closed

[2022-08-04 22:52] fgrandel opened #48715 "Enabling NET_L2_IEEE802154 and IEEE802154_RAW_MODE together breaks the build"
**Describe the bug**
Activating both, the IEEE 802.15.4 raw mode /and/ the L2 mode does not make sense and in fact even leads to a build error:

**To Reproduce**
Steps to reproduce the behavior:
1. clone hello world, enable both options and build
2. see the above error

**Expected behavior**
It should not be possible to activate both options at the same time.

**Impact**
Build failure.

**Logs and

[2022-08-04 23:11] fgrandel opened #48718 "Completely disabling IP support leads to a build error when enabling IEEE 802.15.4 L2 support"
**Describe the bug**
Completely disabling IP support leads to a build error when enabling IEEE 802.15.4 L2 support.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the following options together:
CONFIG_NETWORKING=y
CONFIG_NET_IPV6=n
CONFIG_NET_UDP=n
CONFIG_IEEE802154=y
CONFIG_NET_L2_IEEE802154=y
3. Try to build the application
4. see error

**Expected behavior**
The combination is valid

[2022-08-04 23:44] #46324 closed

[2022-08-05 05:14] sslupsky opened #48722 "flash_map: pointer dereferencing causes build to fail"
**Describe the bug**
A recent change to flash_map is causing build problems.  A pointer is not properly declared which causes the build to fail.
https://github.com/zephyrproject-rtos/zephyr/blob/57487622f57dbb3aa7582f8dbf62c148e07c9138/subsys/storage/flash_map/flash_map_shell.c#L26-L28

[code]

flash_map_shell.c and flash_map.h do not include device.h so the device struct has an incomplete type he

[2022-08-05 05:29] sslupsky commented on #48722
Also, the fa->fa_off argument is throwing a Wformat warning.  I am compiling on arm32 and the sizes are actually correct but the compiler is generating a warning.  Probably should type cast the argument?

[2022-08-05 05:47] ShenMansell opened #48724 "mpu9250 driver init function register setup using the same config parameter twice."
the mpu9250.c driver mpu9250_init function seems suspect at line 311 & 312 ->
[code]
It is using the gyro_dlpf to setup the accel cfg register. Presumably this should be using cfg->accel_dlpf?

This seems like a typo, and that thinking is confirmed by
* checks to the cfg->accel_dlpf directly before this line.
* cfg->gyro_dlpf is used to setup a different register earlier in the function.
* cfg->ac

[2022-08-05 06:54] smrtos opened #48725 "arm_thread_swap: tests/arch/arm/arm_thread_swap/ failed on reel_board"
**Describe the bug**

Run below command:
`twister -vv --hardware-map ~/daily_qa/reel_board.map --device-testing -s tests/arch/arm/arm_thread_swap/arch.arm.swap.common.fpu_sharing.no_optimizations`

Hardware map like this:
[code]

Saw failure:
[code]

Bisect leads to this commit: bfd59b17a1913ee00cbe447b59cdfd514eeeb693

[2022-08-05 07:17] erwango commented on #48682
I had a test on b_u585i_iot02a and I'm seeing same behavior. Converting to bug

[2022-08-05 07:50] smrtos opened #48726 "net: tests/net/ieee802154/l2/net.ieee802154.l2 failed on reel board"
**Describe the bug**
Run:
[code]

Or:
`twister -vv --hardware-map ~/daily_qa/cavs25.map --device-testing -T tests/net/ieee802154`

Failure:
[code]

Hardware map like this:
[code]

Bisect leads to: f0441fba58a242d4fcc70794f6250ace358baae4

[2022-08-05 08:03] erwango commented on #48511
Rather looks like a pure LORA driver point.

[2022-08-05 08:17] gmarull commented on #48724
cc: @dchat-nordic

[2022-08-05 08:56] alxelax commented on #48514
[logs.zip](https://github.com/zephyrproject-rtos/zephyr/files/9267082/logs.zip)
These are logs of tests. Archive includes all csv files for `establish_multi.sh` test. Additionally I put test log as `test_log.txt` file.
It is possible to see in `d_2G4_04.Tx.csv` that 4th device sends some frames (this is broadcasted Friend Request).
Also it is possible to see in `d_2G4_00.Rx.csv` that there is thes

[2022-08-05 09:10] nordicjm opened #48731 "gen_handles script fails with pwmleds handle"
**Describe the bug**
The updates to the gen_handles scripts which adds support for graphviz output seems to fail in specific circumstances, a project for example has this contents in the dev_handles.c file:
[code]

The script fails on the last part due to label on line 271 of scripts/build/elf_parser.py being none:
[code]

A workaround is to check if the label type is none, but I don't think that

[2022-08-05 09:14] aescolar commented on #48514
Please check in the Rx file if the receiver is open at times when it could possibly receive those device 4 transmissions. Also please check that it is not receiving somebody else's packet at the time.

[2022-08-05 09:24] gmarull commented on #48731
This has been fixed https://github.com/zephyrproject-rtos/zephyr/commit/700745195525f311fd939fad4fe8cd2bdda17dc3

[2022-08-05 09:28] nordicjm commented on #48731
Wonderful! Thanks

[2022-08-05 09:28] #48731 closed

[2022-08-05 09:39] senseDan commented on #46847
I checked both projects with the nucleo board as well and my results are completely different to your results and my results back then. The measurements of my inital post were differently powered, maybe that caused a sideeffect I did not expect

STM32CubeWL/Projects/NUCLEO-WL55JC/Examples_LL/PWR/PWR_EnterStopMode: 1.2uA
To make sure I am measuring the same way you do i made a photo of my setup.

!

[2022-08-05 10:03] erwango commented on #46847
That is not actually the case:
https://github.com/zephyrproject-rtos/zephyr/blob/3ba0cb19ea99a8c85756308432652d762de54f7e/boards/arm/nucleo_wl55jc/nucleo_wl55jc.dts#L108-L110
This should be updated to:
[code]

Also, 1uA difference is small and may come from pin configuration for instance.
I'd suggest modifying the sample and add:
[code]

[2022-08-05 10:21] prayassamriya commented on #44908
@wolterhv can you please provide rough estimate by when it could be ready. I would like to plan my project accordingly

[2022-08-05 10:50] str4t0m commented on #47323
I see ST does no longer display these option bytes for the WLE5 chips in the cube programmer, so they expect the these security options to be disabled and your problem may be caused by something else.
But you could still give it a try and read/write these either using an old cube programmer version(2.8) or any other preferred tool.

[2022-08-05 10:55] #30694 closed

[2022-08-05 10:58] #48626 closed

[2022-08-05 11:03] #48459 closed

[2022-08-05 11:24] alxelax commented on #48514
Scanner in Mesh works from the BLE Mesh initialization with duty cycle about 100%. Rx should be open to the time of friendship establishment (according to timestamps from log files it is open).
Regarding receiving somebody else's frame it seems very strange. Looking at Tx log and start stop time it is possible to see Friend Request takes 368 (time units) always.
Looking at Rx log I see time diff (

[2022-08-05 11:40] senseDan commented on #46847
Okay, first I was looking at this:
![Screenshot_20220805_131741](https://user-images.githubusercontent.com/108049583/183067442-7b2e4f8d-95a6-4933-b476-a968f8070d99.png)

I updated it and I got 3uA/3500uA (LED_ON/LED_OFF) in the same measurement setup. So more then before. It was at 2.1uA.

I tried it with both clock configurations:
48MHz:  1.8uA / 3570uA LED_ON/LED_OFF
16Mhz:   1.8uA / 3570uA LED_

[2022-08-05 12:04] erwango commented on #46847
Ok. Using HSI instead of PLL allows to use low power range for VOS.
But indeed that doesn't impact Stop2 consumption since VCore is disabled.
In theory this should have an impact in run mode though, but run mode is extremely brief in this sample.

48MHz: 1.8uA / 3570uA LED_ON/LED_OFF
16Mhz: 1.8uA / 3570uA LED_ON/LED_OFF no change

1.8uA with Zephyr compared to 1.2uA using Cube, I guess we won't be

[2022-08-05 12:13] galak commented on #48726
The only difference that SHA would make is enabling a few extra sensor drivers.

Can you try disabling the `ti_hdc` sensor either via Kconfig or devicetree.

[2022-08-05 12:15] galak commented on #48726
@rlubos does it make sense that `NRF_802154_TEMPERATURE_UPDATE` is `default y`??

[2022-08-05 12:20] senseDan commented on #46847
I'm totally fine with it, Thanks!

[2022-08-05 12:20] #46847 closed

[2022-08-05 12:35] rlubos commented on #48726
@jciupis How does it look from the driver perspective? I wonder if the config should be enabled implicitly given it has dependencies to a temperature sensor.

[2022-08-05 13:04] #48718 closed

[2022-08-05 13:04] #48715 closed

[2022-08-05 13:15] MariuszSkamra commented on #48620
Done, just re-opened https://github.com/zephyrproject-rtos/zephyr/pull/46970

[2022-08-05 13:17] #48465 closed

[2022-08-05 13:31] sslupsky commented on #47916
@henrikbrixandersen I largely based this proposal on the existing FLASH API.  But, there are unique differences between the parts that I do not think belong in a FLASH API.  An FRAM more closely resembles an SRAM than a FLASH device.  Incidentally, there is no SRAM API for adding an external serial SRAM at the moment and there probably should be.  So I suggest this RFC could be made into a more ge

[2022-08-05 13:55] aurel32 commented on #48511
The SX127X driver has such an option, but not the SX126X driver, as both the SX1261 and SX1262 chips only have a single RF output, respectively LP and HP. The HP and LP output seems specific to the ST implementation, and the way to switch is not documented in the STM32WL reference manual, nor in the SX126X manual.

That said it is possible to find the way to switch between the two implementation b

[2022-08-05 13:57] hakehuang opened #48738 "dts: label: label defined in soc does not take effects in final zephyr.dts"
**Describe the bug**

label defined in dts\arm\nxp\nxp_rt11xx.dtsi, does not take effects in final zephyr.dts

Please also mention any information which could help others to understand

we have defined i2c1 label in zephyr\dts\arm\nxp\nxp_rt11xx.dtsi

[code]

and after we build a application the label is not passed to final zephyr.dts

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. c

[2022-08-05 14:17] henrikbrixandersen commented on #47916
I still don't get it. You're proposing adding an exact copy of the EEPROM API with the word "eeprom" replaced by "fram"?

Why not just implement your FRAM device driver using the EEPROM API, if it behaves the same?

[2022-08-05 14:28] rlubos opened #48739 "net: tcp: Implicit MSS value is not correct"
**Describe the bug**
In case no MSS option is received from peer, TCP stack should assume the default send MSS value, as per RFC 1122:
[code]

Currently, Zephr does not comply with that requirement and ignores the send MSS value if the option is not present.

**To Reproduce**
This needs a specially crafted TCP peer, which sends no MSS option. The issue was reported by one of the Maxwell Pro tests.

[2022-08-05 15:00] erwango commented on #48511
IIUC, it's actually documented in §5.8.4:

byte 3
    bits 7:1 Reserved, must be kept at reset value.
    bit 0 PaSel: PA selection.
      0: HP PA selected
      1: LP PA selected (default)

[2022-08-05 15:08] #10512 closed

[2022-08-05 15:17] carlescufi commented on #11918
Closing as done, even though https://github.com/zephyrproject-rtos/zephyr/issues/40385 has not been addressed yet.

[2022-08-05 15:17] #11918 closed

[2022-08-05 15:19] aurel32 commented on #48511
Indeed I search too quickly through the reference manual. Apologies.

[2022-08-05 15:22] erwango commented on #48511
Took me some time to find it :-D

[2022-08-05 15:23] atoncetti opened #48742 "Linking fails during build when referencing functions in `zephyr/bluetooth/crypto.h`"
**Describe the bug**
Linking fails during build when referencing functions in `zephyr/bluetooth/crypto.h` with the following error:

[code]

Here is the relevant part of the code:
[code]

and `prj.conf`:
[code]

I am trying to build for a `bbc_microbit` with `west build -p auto -b bbc_microbit ./bt_cypto_example`

Am I missing a config flag?

A minimal example can be found at: https://github.com/a

[2022-08-05 18:00] DerekSnell commented on #48567
Hi @Aragorn.Etiorir ,
As you found, Zephyr support for the NXP boards uses hal_nxp.cmake to include board-specific files into the builds for the in-tree boards.  This includes the dcd.c source file that is missing for your board build.  The board-specific files are pulled in from the MCUXpresso SDK folders in hal_nxp, using the variable MCUX_BOARD.  Once you create your own board and change the bo

[2022-08-05 21:44] gregshue commented on #47895
Zephyr Project's TSC.  After discussion at a dev-review meeting this proposal is being closed.  We recognized this specific issue could (and should) be addressed within Kconfig files within the MCUBoot refactoring.  We also recognized this revealed a much larger issue around **when** should a component depend on a default=y. That needs to be discussed with a different RFC.

[2022-08-05 21:44] #47895 closed

[2022-08-05 22:25] nklayman commented on #48390
Looks like this was caused by boot functions not being in the imr section, O2 would inline them so the issue wasn't noticed. There's also a weird thing with power management. See #48749 for WIP solution, turned out to be quite small (but was a lot of work to discover). Unfortunately, SOF still has its own issues (but gets further than before):
![image](https://user-images.githubusercontent.com/124

[2022-08-06 09:48] marc-hb commented on #48390
@mmahadevan108 how is a failure to boot priority:low?

[2022-08-06 11:35] r0n9Y opened #48757 "Windows10 Installation: Failed to run `west update`"
**Failed to run `west update` when I try to install Zephyr SDK first time**

[code]
 - Zephyr version: 3.1.99
 - Following the installation guide for window from https://docs.zephyrproject.org/latest/develop/getting_started/index.html
 - Unable to get the Zephyr source code
 - env: Windows 10 version: 21H2 19044.1826

[2022-08-06 15:00] galak commented on #48738
Tried reproducing this and I see the `label` property in <BUILD>/zephyr/zephyr.dts

[2022-08-06 15:06] hakehuang commented on #48738
@galak  can you attach your zephyr.dts? my result seems different
[zephyr.zip](https://github.com/zephyrproject-rtos/zephyr/files/9275287/zephyr.zip)

[2022-08-06 15:29] galak commented on #48738
Here's me zephyr.dts [zephyr.dts.gz](https://github.com/zephyrproject-rtos/zephyr/files/9275337/zephyr.dts.gz)

Here's my tweak to dts:
[code]

[2022-08-06 16:07] hakehuang commented on #48738
@galak , the dts/arm/nxp/nxp_rt11xx.dtsi content is as below, there is already label defined.

[code]

[2022-08-06 17:34] galak commented on #48738
We recently removed that in upstream Zephyr.

[2022-08-06 18:54] sslupsky commented on #47916
@henrikbrixandersen It is not an exact copy of the flash api.  There is no block erase for a RAM device.  I had a look at the EEPROM api and I see your point now, the EEPROM api does not have the block erase and so yes, it is the same as my proposal.

So, should the EEPROM API be renamed to reflect that is can be used for other devices as well?

[2022-08-06 18:55] henrikbrixandersen commented on #47916
I don't think it should, no.

[2022-08-06 23:23] sslupsky commented on #47916
Hmmm, why?  It does not seem obvious to use an API named "EEPROM" for reading and writing to a SRAM or FRAM?

[2022-08-07 00:33] #45842 closed

[2022-08-07 03:44] hakehuang commented on #48738
@ok, seems it is fixed in latest version

[2022-08-07 03:45] #48738 closed

[2022-08-07 08:30] aescolar commented on #48514
Hi @alxelax , I took a look at the logs:
The first 3 advertisement (transmissions) from device 4 overlap exactly in time and frequency with the first 3 advertisements from device 1. Device 0 happened to receive device 1 instead of 4(^1).
The 4th advertisement from 4 happens while device 0 is listening in another frequency, in which it receives device 1 again.
The 5th advertisement from 4 happens w

[2022-08-07 13:17] mkschreder commented on #48609
Lets start with that. It would be a very small change to start with.

[2022-08-08 05:58] #48518 closed

[2022-08-08 06:01] jciupis commented on #48726
@rlubos I think it would be good to keep `NRF_802154_TEMPERATURE_UPDATE` enabled by default. Temperature affects RSSI, so disabling it will lead to inaccurate RSSI readouts.

[2022-08-08 06:40] senseDan commented on #48511
Thanks, so I am adding this up from you.
According to the STM32WLE5CC RM (https://www.st.com/resource/en/reference_manual/rm0461-stm32wlex-advanced-armbased-32bit-mcus-with-subghz-radio-solution-stmicroelectronics.pdf) in §4.8.4 the Set_PaConfig(PaDutyCycle, HpMax, PaSel, 0x01) sets to LP or HP RFO.

In `modules/lib/loramac-node/src/radio/sx126x/sx126x.c` the function `void SX126xSetTxParams( int8

[2022-08-08 07:12] hermabe commented on #48742
It looks like the functions in `aes_ccm.c` are only linked in if `CONFIG_BT_HOST_CCM=y`.

[2022-08-08 07:29] ivonalo commented on #48625
My question is how to synchronize the access to the modem with the gsm_ppp.c file from the application code? The semaphore is initialized in the gsm_ppp.c file and I have no idea how to access it from my application code

[2022-08-08 07:51] cvinayak commented on #42890
Fixed in https://github.com/zephyrproject-rtos/zephyr/pull/48491

[2022-08-08 07:51] #42890 closed

[2022-08-08 07:52] kruithofa commented on #43435
EBQ passes, although some instabilities have been observed

[2022-08-08 07:52] #43435 closed

[2022-08-08 08:12] atoncetti commented on #48742
Thank you @hermabe, that was indeed the issue!

Now it builds correctly when I add the flag `CONFIG_BT_HOST_CCM=y`.

Closing this for the solution above.

[2022-08-08 08:13] FRASTM commented on #48682
@vibhor-meshram could you please check with the https://github.com/zephyrproject-rtos/zephyr/pull/48770

[2022-08-08 08:50] joerchan commented on #47929
@hakehuang Did you run this test using twister, or just in its default configuration. It appears that the configuration that causes trouble on this bug-report is the optimization level, `-DCONFIG_NO_OPTIMIZATIONS=y`, it has a very significant effect on the stack size.

I could reproduce this issue on `mps2_an521_ns` (random pick) as well.

[2022-08-08 08:55] joerchan commented on #47855
@microbuilder The issue appears to be the NO_OPTIMIZATIONS configuration which causes a very significant increase in the stack usage.
I could reproduce this on the `mps3_an521_ns` board as well so it is not just a Nordic platform issue.

Here you can see the impact this configuration has:
[code]

I used this diff to get the numbers, I had to disable FPU though since the impact on flash was huge an

[2022-08-08 09:22] alxelax commented on #48514
Hi @aescolar , thanks a lot for the detailed clarification. Now I see the cause of the issue. I'll modify the test to shift device starts.

[2022-08-08 09:35] erwango opened #48779 "net.socket.select: failed (qemu/mps2_an385)"
**Describe the bug**
See https://github.com/zephyrproject-rtos/zephyr/runs/7721882961?check_suite_focus=true

`tests/net/socket/tcp/net.socket.tcp (mps2_an385:tests/net/socket/tcp/net.socket.tcp) failed`.

Error log:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
Blocks CI

[2022-08-08 09:42] aescolar commented on #48514
Beware that if the test fails in this way it is probably too tough (meaning the test should probably allow for more time for devices to find each other or so). Note that in simulation tests are repeatable, but still you don't want to have tests that  pass in simulation but in real life would be flaky.

Closing the issue.

[2022-08-08 09:42] #48514 closed

[2022-08-08 10:03] stephanosio commented on #48779
Likely related to https://github.com/zephyrproject-rtos/zephyr/issues/48608

[2022-08-08 10:13] erwango opened #48780 "boards: bus devices label names should include address on bus"
**Describe the bug**
`samples/shields/x_nucleo_iks01a2/standard/sample.shields.x_nucleo_iks01a2.standard` on `b_l4s5i_iot01a` generates the following dtc issue:
[code]

This is because same node label 'lsm6dsl' is used for both board and shield description:
https://github.com/zephyrproject-rtos/zephyr/blob/eafc4f875b7443bceffe7f8bee14aa97d7ca4bd6/boards/shields/x_nucleo_iks01a2/x_nucleo_iks01a2.ov

[2022-08-08 10:15] erwango commented on #48780
@ycsin, @gmarull, @MaureenHelm, @soburi, @galak, @carlescufi:
Aligned with this proposal ?

[2022-08-08 10:19] anangl commented on #48058
Well, its description says it is intended for input pins: https://github.com/zephyrproject-rtos/zephyr/blob/eafc4f875b7443bceffe7f8bee14aa97d7ca4bd6/include/zephyr/drivers/gpio.h#L1203
Similarly for `gpio_pin_get_raw()`:
https://github.com/zephyrproject-rtos/zephyr/blob/eafc4f875b7443bceffe7f8bee14aa97d7ca4bd6/include/zephyr/drivers/gpio.h#L1170

You can configure a pin as both output and input. T

[2022-08-08 10:19] #48058 closed

[2022-08-08 10:20] #47925 closed

[2022-08-08 10:26] rlubos commented on #48779
I'd say we disable other time-sensitive network tests on this platform as well, until https://github.com/zephyrproject-rtos/zephyr/issues/48608 is resolved. I'll send a PR.

[2022-08-08 11:12] carlescufi commented on #48757
@r0n9Y which west version are you using? `west --version`

[2022-08-08 11:14] carlescufi commented on #48757
You do not need to build the SDK from scratch, this is Zephyr and its source code and not the SDK.

[2022-08-08 11:15] owain-incus commented on #42102
Kind of a pretty basic functionality one would want to use.
Should be documented.

[2022-08-08 12:21] r0n9Y commented on #48757
West version: v0.13.1

[2022-08-08 13:06] smrtos commented on #47300
Without any change, the 2 tests can sometimes pass on cavs25:

[code]

[2022-08-08 13:18] #48779 closed

[2022-08-08 13:18] soburi commented on #48780
Hi, @erwango

It may not have been necessary to label all sensors.

It may be preferable to use the full path of the devicetree to define the alias.
At least, We don't have to create a label to applicate generic test conventions.

Labels are convenient names that potentially conflict.
I think that should use a full path of devicetree to solve this problem instead label.
(And we should not label th

[2022-08-08 13:21] jfischer-no opened #48785 "Unnecessary changes in code base because of assumption that clang-format defines project coding style"
There is increased unnecessary changes in codebase because of assumption that clang-format is defines project coding style.

The formatting of clang-format is not completely compatible with our established coding style and requires some manual post-processing. For some reason new contributors start changing existing code that follows [Zephyr's coding style](https://docs.zephyrproject.org/latest/co

[2022-08-08 13:36] erwango commented on #48780
I'm not convinced about using the full path as we generally avoid this solution.
But maybe that could be acceptable.
Can we use full path for shields as well ?
This would be something like: `accel0 = "/soc/arduino_i2C/mma8653fc@1d`

[2022-08-08 14:13] henrikbrixandersen commented on #48417
Have you seen how e.g. the NXP Kinetis series handles this? It needs a specific variable for configuration to be stored at a fixed address in flash: https://github.com/zephyrproject-rtos/zephyr/blob/main/soc/arm/nxp_kinetis/flash_configuration.c

[2022-08-08 14:14] soburi commented on #48780
@erwango ,

It is difficult problem in a shield case.

arduino_i2c can't determine it placed just under the /soc.
Shield's overlay defines "relative path" from the label path.
The full-path is depends on that the arduino_i2c is where.
It should use label in this case.

Heart of my opinion is...
  - Don't set needless label to prevent (__decrement the probability__) conflict.
  - If can determine f

[2022-08-08 14:27] carlocaione commented on #48243
tagging myself. To look at this after I'm back from my vacations.

[2022-08-08 14:31] sylvioalves commented on #48290
@sam131208 This sample requires ESP32's MCUBOOT flashed prior. Have you done that?

[2022-08-08 14:47] smrtos commented on #47300
Some failed logs indicate that alignment is related:

[code]

[2022-08-08 14:52] smrtos commented on #47300
Some failed logs indicate it is a PIF data error:

[code]

According to [here](https://mirrobo.ru/wp-content/uploads/2016/11/Cadence_Tensillica_Xtensa_LX6_ds.pdf), PIF = Processor Interface

[2022-08-08 14:58] smrtos commented on #47300
Some failed logs indicate it is an assertion failure:

[code]

[2022-08-08 15:02] smrtos commented on #47300
Some failed logs indicate it is related to schedule:

[code]

[2022-08-08 15:17] #47930 closed

[2022-08-08 15:17] #47855 closed

[2022-08-08 15:17] #47929 closed

[2022-08-08 17:45] enjiamai commented on #47512
After reporting this bug to UEFI BIOS team, I got some response for this:
1. When we boot Zephyr as an EFI application, the ExitBootService() should be called before EFI handover all the control to OS. After invoking the ExitBootService(), the EFI context will be cleaned. Otherwise the EFI timer interrupt might be triggered during Zephyr running. But after invoking ExitBootService() also means the

[2022-08-08 17:55] andyross commented on #47512
FWIW: we clear the timer hardware at OS start, and are always running our own IDT anyway that will detect and report any spurious interrupts.  That's not much of a problem in practice.  Also FWIW: I'm not really the expert, but my understanding is that Linux also doesn't call ExitBootService, precisely because it wants to preserve the EFI library state for use at runtime just like we do.

Frankly

[2022-08-08 18:24] enjiamai commented on #47512
Thanks for providing this idea, @andyross , so it seems like we already disabled the timer interrupt of the EFI context but it would still be enabled in the EFI context. And you mentioned Linux also not call ExitBootService (they told me this usually call by grub). I saw this part of code in Linux kernel and it also mentioned things of the firmware bug.

Totally agree with you. I would like to kee

[2022-08-08 23:21] unixbigot commented on #1392
I had this problem just now (mid 2022) on a clean MacOS install.   It turned out to be because I had two copies of west present, one of which explicitly loaded the system python in /Library/Developer/CommandLineTools and one of which used /usr/local/the/actual/python/I/wanted.   Check the output of "head `which west`" and see what python west is running with.

My solution was to get rid of the bro

[2022-08-09 02:24] sam131208 commented on #48290
@sylvioalves
I don't know how to modify it, can you help me?

[2022-08-09 02:28] sam131208 commented on #48290
@sylvioalves
I only know to modify the application's CONFIG_FLASH_INIT_PRIORITY。

[2022-08-09 03:28] sam131208 commented on #48290
@sylvioalves
 In fact, another project “zephyr\samples\bluetooth\peripheral” has the same problem. it doesn't use mcuboot。

[2022-08-09 03:37] lancersky opened #48799 "Why is the command input incomplete?"
**Describe the bug**
A clear and concise description of what the bug is.
Hi, When I enter the following command,
[code]
It will return exception as follow,
[code]
It look like the input buffer size of SHELL to be limit. How can I adjust this limit?

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 - What ha

[2022-08-09 04:36] hakehuang opened #48801 "test: driver: wdt: wdt cases fails in LPC platfrom randonly"
**Describe the bug**
wdt cases fails in LPC platfrom randonly

Please also mention any information which could help others to understand
the problem you're facing:

in watchdog testing, the test data is put in noninit area and expect to be persisted after rest, however in LPC and RTxxx series, this area may conflict with the power firmware.  so there will be some random failure for wdt cases.

**T

[2022-08-09 06:23] erwango commented on #48780
Well, I think this is what https://github.com/zephyrproject-rtos/zephyr/pull/47944 actually did, by introducing node labels that quickly created the issues we were trying to avoid by removing label properties.

So the rule you propose would be:
- boards: use full paths to create aliases
- shields: add labels as full path can't be used. Note that, even in this case, labels should be in the form `<d

[2022-08-09 07:16] Thalley opened #48804 "LE Audio: Add HAP sample to Zephyr footprint tracking"
**Is your enhancement proposal related to a problem? Please describe.**
The HAP hearing aid sample (https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/bluetooth/hap_ha) should be added as a sample that is being tracked w.r.t. footprint (RAM and ROM) so that it shows up along the others like (https://stats.zephyrproject.org/testing/d/SSxr5P6Gk/footprint-tracking?orgId=1&var-board=nrf528

[2022-08-09 07:34] gmarull commented on #48780
I'm not convinced about appending the address to nodelabels, since I personally like nodelabels to be short and readable. Maybe shields could pre/append nodelabels with e.g. `shield`? Something like:

regular board:
[code]
shield:
[code]

[2022-08-09 07:44] kruithofa opened #48806 "Bluetooth: controller: conformance test instability"
**Describe the bug**
When running conformance tests a few tests are not stable. These  tests will pass conformance tests when running stand-alone, but fail when running as part of the complete set of tests to be run.
This behaviour is mainly observed on the Nordic nrf5340 chip

- [ ] LL/CON/CEN/BV-121-C
- [ ] LL/CON/CEN/BV-57-C
- [ ] LL/CON/PER/BV-61-C
- [ ] LL/CON/PER/BV-71-C
- [ ] LL/CON/PER/BV-

[2022-08-09 07:46] erwango commented on #48780
I though about it initially but it let a case open which is collision between compatible shields.
Maybe `lsm6dsl_x_nucleo_iks01a2` ?

[2022-08-09 07:51] anthonytex opened #48808 "Pinctl api breaks NXP imx6sx"
Hello,

just upgraded to zephyr 3.1 from zephyr 3.0 but after some test we discover some issue with new pinctl implementation for imx6sx that make it unusable.
Here are some examples:

https://github.com/zephyrproject-rtos/zephyr/blob/main/soc/arm/nxp_imx/mcimx6x_m4/pinctrl_soc.h#L19
Input daisy bit is bit 0 **not** 1 so 0x2 mask is wrong

Mux mode sometimes needs "input filed bit" that is the bit

[2022-08-09 07:54] anthonytex commented on #48808
Closing i'll open a PR

[2022-08-09 07:54] #48808 closed

[2022-08-09 08:05] gmarull commented on #48785
There's the option to remove/unset ColumnLimit, then clang-format will not try to fit content up to any column width. However, this means we need to enforce the maximum somehow (we already do with checkpatch).

[2022-08-09 08:36] vibhor-meshram commented on #48682
ADC works using above fix.

[2022-08-09 08:36] #48682 closed

[2022-08-09 09:19] optical-o opened #48812 "Bluetooth controller extended advertisement crashes in lll layer"
Zephyr version:
NCS 2.0.0 - Zephyr tag v3.0.99-ncs1

I'm running and Bluetooth host and controller combination of nRF9160(Host)  and nRF52833(Controller) using the BT_LL_SW_SPLIT variant. The application is very complicated so i cannot provide a reproducible sample. I have managed to capture an stack trace using Memfault. The problem occurs rather random once in a few hours.

![image](https://user

[2022-08-09 09:29] Klievan opened #48813 "Bluetooth: bt_conn_disconnect randomly gives error "bt_conn: not connected!""
**Describe the bug**
Platform: nRF52840
When calling bt_conn_disconnect() in a BLE-characteristic write-callback I get randomly returned the following error:

[code]

Stripped down function where I call bt_conn_disconnect():
[code]

When enabling debug logs using the below prj.conf options the error seems to dissapear. This makes me believe that there is some sort of timing-issue.
CONFIG_BT_DEBUG_

[2022-08-09 10:15] henrikbrixandersen commented on #48785
I reintroduced a ColumnLimit of 100 after it was reduced to 80 since clang-format otherwise reformatted code lines with length > 80 that otherwise conformed to our established coding style.

[2022-08-09 10:31] #46075 closed

[2022-08-09 10:37] nordic-piks commented on #47855
#48776 Fixes the issue, thanks for help.

[2022-08-09 10:38] nordic-piks commented on #47929
#48776 Fixes the issue, thanks for help.

[2022-08-09 10:38] nordic-piks commented on #47930
#48776 Fixes the issue, thanks for help.

[2022-08-09 10:48] cvinayak commented on #48812
Some observations:
- Are using Zephyr Controller in production without BT design listing?
- You are using proprietary host and controller interface, may be breaking the threading contract needed for context safety of controller data structures
- You may have altered the design of LLL control flow of the controller by removing LL_ASSERTs
- There is no details of where the assert is, line number wou