[2021-04-22 07:08] avigreen1978 commented on #30564
The GNSS API in zephyr is really desired.
What's the current status of that?

[2021-04-22 07:14] #34341 closed

[2021-04-22 08:12] hakehuang opened #34482 "net_tunnel_virtual:frdm_k64f: build failure"
**Describe the bug**
Build failure for tests/net/virtual cases

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f
3. make
4. See error

**Expected behavior**
build pass

**Impact**
virtual network testing

**Logs and console output**

`

/build/src/workspace/test_jenkins_master/zephyr/tests/net/virtual/build_283b1e9/zephyr/misc/generated/extra_kc

[2021-04-22 08:14] jfischer-no commented on #34469
You need to build and flash a cpuapp firmware with BOARD_ENABLE_CPUNET enabled:

[code]

You should see cpuapp output on /dev/ttyACM2 and cpunet output on /dev/ttyACM0.

[2021-04-22 08:15] #34469 closed

[2021-04-22 08:18] FRASTM commented on #34461
what is your zephyr branch ? With the latest (ecf89143da0df6f9bd7346149415830372798430) I can compile w/o any error
_west build -p auto -b nucleo_h743zi samples/basic/blinky_pwm_

-- west build: making build dir ./zephyrproject/zephyr/build pristine
-- west build: generating a build system
Including boilerplate (Zephyr base): ./zephyrproject/zephyr/cmake/app/boilerplate.cmake
-- Application: ./zep

[2021-04-22 09:27] carlocaione commented on #33122
Tagging @dcpleung because X86 people can be interested in this.

[2021-04-22 09:32] #33830 closed

[2021-04-22 09:43] carlescufi commented on #34214
@gmarull FYI ultimately we probably want to get the array length from Devicetree here.

[2021-04-22 09:44] carlescufi commented on #34473
@laurenmurphyx64 what exactly do you mean by this? There is a Docker image and a Getting Started Guide, so I am unsure what specifically you are referring to.

[2021-04-22 10:05] ioannisg commented on #34474
will take a look

[2021-04-22 10:29] gmarull commented on #34214
@carlescufi agreed. I'm currently looking at all these things.

[2021-04-22 10:41] #34165 closed

[2021-04-22 11:03] carlescufi commented on #34268
This happens before the Bluetooth subsystem is even initialized, so removing the Bluetooth labels.

[2021-04-22 11:05] nordic-krch commented on #34372
yes, logger expects that panic handler is part of the backend and calls in unconditionally.

[2021-04-22 11:05] carlescufi commented on #30026
@jukkar could you take a look to see if this indeed can be TCP-related?

[2021-04-22 12:06] lyakh opened #34492 "Logging still broken with SOF"
**Description**
When built with Zephyr, SOF logs, as generated by the logtool, appear badly corrupted.

**To Reproduce**
Build and run SOF with Zephyr, print logs per
[code]

**Expected behavior**
Properly formatted consistent logs should be printed.

**Impact**
Debugging becomes impossible.

**Logs and console output**
Example output:

**Context**

Logging configuration:

[2021-04-22 12:37] carlescufi commented on #34439
Fixed by #34456, which was cherry-picked.

[2021-04-22 12:37] #34439 closed

[2021-04-22 12:55] laurenmurphyx64 commented on #34473
@carlescufi Sorry, maybe documentation isn't the best tag to put it under. A [separate requirements catalog repository](https://github.com/zephyrproject/reqmgmt) is part of our safety collateral for functional safety certification. @AmberHibberd asked for a card for 2.6 so I made one.

[2021-04-22 13:18] r2r0 opened #34495 "logger: Logger API cannot be compiled with C++"
**Describe the bug**
Logger API (I.e. LOG_INF) does not compile with C++.

**To Reproduce**
See attached pseudotest.

**Expected behavior**
Loging API usage should compile without errors and warnings.

**Impact**
showstopper

**Logs and console output**
See attached log

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.12.4
 - Commit SHA 01014a2c0

[2021-04-22 14:35] affrinpinhero-2356 commented on #33169
I have tested SPI in transmit only. And I have not observed any issue on as mentioned.  For the reference an commenting the test codes and my changes and target below.
_Note: my sample code transmit a string continuously._

**Target Used: NUCLEO_F767ZI**

_Other file Modification I made as per the recommendation:_
GPIO:
[code]

SPI:
[code]

Driver Code( _spi_ll_stm32.c_ ):
[code]

Test app: (_Code

[2021-04-22 15:07] galak commented on #34482
Tried this with zephyr-v2.5.0-2532-ga379196b48ed and seems to build fine.  So maybe the issue has been fixed.

[2021-04-22 15:10] galak commented on #34482
@hakehuang closing this, if you can still reproduce please re-open.

[2021-04-22 15:10] #34482 closed

[2021-04-22 16:21] nordic-krch commented on #34403
It is very strange. I've been looking at the code and comparing code size of logging and shell before and after log v2 and it differs only by few bytes as expceted. Can you try to revert commit which adapts shell to log2: https://github.com/zephyrproject-rtos/zephyr/pull/31535/commits/b3bcad5101d724eab3346001b48d83e8dab5caaa ?

Then if that does not help go back to https://github.com/zephyrproject

[2021-04-22 16:34] #34463 closed

[2021-04-22 16:39] carlescufi commented on #34372
OK, closing this then.

[2021-04-22 16:39] #34372 closed

[2021-04-22 16:44] ufechner7 commented on #30204
How can I reopen this issue? I mean, there is a commit that might close it, but that is not merged yet, it is waiting for review.

[2021-04-22 16:47] carlescufi commented on #33662
PR merged, closing issue.

[2021-04-22 16:47] #33662 closed

[2021-04-22 17:03] pabigot opened #34500 "thingy52 lis2dh12 sensor values too large"
Running `samples/sensors/lis2dh` on a thingy52_nrf52832 produces this:

[code]

I can guarantee the sensor is not experiencing 10 gravities of acceleration.  Running an independent application based on https://github.com/STMicroelectronics/STMems_Standard_C_drivers on the same hardware confirms these calculations are 10x higher than the sensor is producing.

[2021-04-22 17:48] andyross commented on #33667
Just noticing this comment.  What's the reason that the remaining check is taking longer than a tick?  That call is just a wrapper around z_timeout_remaining(), which is a pure kernel thing that just queries state.  The only interaction with the timer driver is a call to sys_clock_elapsed() to get the current ticks since the last interrupt.

The intent is that sys_clock_elapsed() should be impleme

[2021-04-22 18:10] #33874 closed

[2021-04-22 18:49] dcpleung commented on #33122
Moving into `drivers/cache` means arch code no longer only resides under `arch/`, which is going to cause some confusion.

We had this issue with weak functions for timing subsys, as there can be arch-/soc-/board-specific timing routine. We decided to use kconfig to specify which level to use. I think the caching API has similar problem where we can have cache control on different levels, and we c

[2021-04-22 19:37] madscientist159 commented on #34438
@jukkar No, we need HTTPS server support.  See https://twitter.com/RaptorEng/status/1385175244881727491 for an example of what we have so far; HTTPS is going to be needed to get Redfish implemented securely.

[2021-04-22 20:21] andyross commented on #34492
This certainly looks like messages being interleaved across the two CPUs.  Did this regress with the recent LOG2 work?  Logging has always been atomic.  Pull in @nordic-krch and @npitre who know more about the new code.

A quick review gets a little confused by all the layers of macros, but the basic architecture doesn't seem to be any different.  Space in the output buffer is allocated by what lo

[2021-04-22 23:32] yerabolu opened #34503 "up_squared and ehl_crb: test fails from timeout in application_development.cpp.libcxx.exceptions"
**Describe the bug**
tests/application_development/libcxx/application_development.cpp.libcxx.exceptions Failed Timeout.
and test also fails on Upsquare board.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W -p ehl_crb --device-testing --device-serial /dev/ttyUSB0 -T  tests/application_development/libcxx/ --west-flash="/home/ztest/EHL_X86_PXE.sh" -j 1
2. device timeout error in dev

[2021-04-23 02:35] Zhaoningx opened #34505 "mimxrt1050_evk： failed to run testcases tests/net"
**To Reproduce**

Hi, I tried to run testcases tests/net on mimxrt1050_evk, sam_e70b_xplained and k64f platforms, but almost case are failed,

**Steps to reproduce the behavior:**

twister -p mimxrt1050_evk --device-testing --device-serial /dev/ttyACM0 -T tests/net

**see error**

Booting Zephyr OS zephyr-v1.14.2-intel-rc3-ww02.2 *****
there are a lot of testcase error log.

W: You have 1 IPv6 net

[2021-04-23 03:15] kevin0402 commented on #32564
@andrewboie @jukkar @chyu313

Looks like this issue relate to #27032 and might be solved in [https://github.com/zephyrproject-rtos/zephyr/commit/dde03c67709a0ed4b84d4892ca05361716b75c80](url) ?

[2021-04-23 03:16] K2AAE commented on #29394
It's been awhile, any updates? Just purchased a ESP32-S2

[2021-04-23 03:48] qipengzha commented on #32809
Great thanks all your support.
it works now after try to get log or clean cmake caches,  i'm not very sure what exactly make the change.
will try some more test by change build env.

arcmwdt
/home/mike/metaware/ARC/
-- west build: generating a build system
Including boilerplate (Zephyr base): /home/mike/work/mcf/zephyr/zephyrproject/zephyr/cmake/app/boilerplate.cmake
-- Application: /home/mike/wor

[2021-04-23 05:06] nordic-krch commented on #34492
In the config above logv2 is not used (`CONFIG_LOG_MODE_DEFERRED=y`). Can you bisect or start by trying commit before logging overhaul (https://github.com/zephyrproject-rtos/zephyr/commit/67fade04a0cf465d335f9392b86ad9db386796d9) ?

[2021-04-23 05:50] lyakh commented on #34492
@andyross Sorry, for a confusion: this happens with a single core.
@nordic-krch this has been broken for a rather long time, for months. I mentioned it several times during Zephyr-SOF syncs and I had the impression that this was known an worked upon and almost fixed

[2021-04-23 06:22] sr1dh48r opened #34507 "RFC : WiFi : Add support for supplicant"
## Introduction

Proposal to include a supplicant that can be used for WiFi connections.

### Problem description

Currently Zephy OS does not have a supplicant or WiFi related stack which can be used to establish connections to WiFi peers. Adding a supplicant would help developers to integrate their WiFi stacks faster and help the community share the advanced features.

### Proposed change

We ha

[2021-04-23 07:08] rlubos commented on #34507
CC @jukkar @carlescufi @sylvioalves

[2021-04-23 08:04] jukkar commented on #34438
@Nukersson did you had any plans for HTTPS support for civetweb?

[2021-04-23 08:17] Nukersson commented on #34438
Hey @jukkar and thank you. Currently I do not have a time to merge newer Civetweb into Zephyr and provide some good https server example. But may be possible for anyone else, based on my already implemented samples. I am ready to support this person. Currently I am very busy on other proprietary projects.

[2021-04-23 08:19] jukkar commented on #34507
CC @dleach02 I remember you mentioning you had wifi experience so we would appreciate any comments / ideas you may have.

[2021-04-23 09:21] aunsbjerg opened #34515 "samples: net: syslog_net: hard fault when running on frdm_k64f"
**Describe the bug**
When building and running the syslog_net sample on a frdm_k64f board with no changes to the sample configuration, the application crashes with nothing printed to the shell besides the standard zephyr booting banner.

Disabling autostart of the log backend yields slightly more information in the form of a bus fault stack trace, see log output.

**To Reproduce**
west build -b fr

[2021-04-23 10:04] gmarull opened #34518 "Device initialization improvements"
## Introduction

As of today all Zephyr devices rely mostly on a set of Kconfig-defined priorities to set their initialization order. This RFC proposes alternatives to improve this mechanism.

### Problem description

Hardware device initialization order depends on the final hardware layout where Zephyr runs. One board may have different initialization requirements than another one. The correct de

[2021-04-23 10:04] gmarull commented on #34518
cc: @nashif @ceolin @erwango @mbolivar-nordic @carlescufi

[2021-04-23 10:13] carlescufi commented on #34295
+1 from me, I think we should name the repo as its upstream counterpart, i.e. `tensorflow`

[2021-04-23 11:17] chyu313 commented on #32564
<B>It seems there are also more protections needed in kernel.</B>

I tested dde03c6 (without modification to protect net_buf) and MPU fault occurred:
[code]
To avoid NULL pointer access, I use MPU to set ARM address 0x0 (located in ITCM which is not used in my program) as no-access attribute, so that NULL pointer access to 0 will cause MPU FAULT.

The faulting instruction address 0x8001b2bc is loc

[2021-04-23 11:23] ruuddw commented on #32809
Thanks @qipengzha for confirming that clearing up your environment solved the problem. I close this issue, feel free to reopen if you run into the problem again - or create a new issue if it is a different problem.

[2021-04-23 11:23] #32809 closed

[2021-04-23 12:40] ioannisg commented on #34474
I took a look briefly, into the QEMU implementation of AN385, 386, here: https://qemu.readthedocs.io/en/latest/system/arm/mps2.html

It looks like with respect to SRAM (memory in the 0x20000000 area) QEMU implements the AN385 as is.

Now, in the AN385 (https://developer.arm.com/documentation/dai0385/d/)  it is stated that in the respective area only 4MB are implemented (even though 8MB are reserve

[2021-04-23 12:43] ioannisg commented on #34474
I think the 8MB in the documentation refers to both ZBTSRAM blocks (1 and 2,3), each have 4 MB available.
I'll send a patch to correct the documentation in Zephyr.

@gromero @galak let me know if you have any comments.

[2021-04-23 12:49] caco3 commented on #34372
Thanks for the clarification.

Sadly I still experience CPU Lockup Resets, even when I disable my custom Log Backend.
Is there any way to trace down why those Lockups get triggered?
I need to nail it down more and create another bug report here.

[2021-04-23 12:56] yurvyn commented on #34282
@galak, @carlescufi
Could you please help me with the questions from the previous comment?

[2021-04-23 12:58] #34209 closed

[2021-04-23 13:26] carlocaione commented on #33122
In `drivers/cache` you only have a function call to something possibly defined somewhere under `arch/` (if you decide to use the arch driver). I mean, also the interrupt controller drivers are calling code into `arch/` after all.

This case is easier though. You do not have levels, you have a choice: either arch-implemented cache operations or driver-implemented cache operations, that's it.

Exact

[2021-04-23 14:27] avisconti commented on #34500
@pabigot
OK, I'll take a look at it. Just for my curiosity, where is the the graviity vector Can you also add the values returned by STdC drivers keeping the h/w setup in the same orientation? Thanks!

[2021-04-23 14:34] pabigot commented on #34500
The sensor orientation is on its side at an angle due to cables propping it up.  Earth gravity is mostly associated with the Y axis; the X and Z components are correct.  The magnitude of the vector is one gravity (9.99 according to Zephyr).

A subset of `lis2dh12_STdC/example/lis2dh12_self_test.c` augmented with output produced this for the values of the averaged `acceleration_mg` (in mg, truncate

[2021-04-23 14:46] avisconti commented on #34500
I need to leave for the week. Now. I took a quick look and I suspect that there might be the following mistake:
[code]
instead of
[code]

[2021-04-23 14:46] avisconti commented on #34500
BTW, I really want to replace this driivers using the STdC.

[2021-04-23 14:49] ioannisg commented on #31191
Has this now been done @microbuilder , based on @oyvindronningstad 's last PR?

[2021-04-23 14:49] ioannisg commented on #29476
Isn't this done now @oyvindronningstad , @microbuilder ?

[2021-04-23 14:52] andyross commented on #34492
Were you seeing this prior to SMP work even?  That sounds like something entirely different.  Maybe this is getting mixed up with the pre-existing SOF trace output in some module or another (similar to the header collision with the cache pointer API, etc...)?  I'll see about making this happen on x86_64 so @nordic-krch has something to test against, but if it's not SMP we may need to look in the p

[2021-04-23 14:57] nashif commented on #21484
this has been addressed already.

[2021-04-23 14:57] #21484 closed

[2021-04-23 15:03] oyvindronningstad commented on #29476
My PR added support for the dev APIs test. FF tests is still not available.

[2021-04-23 15:16] dcpleung commented on #33122
Instead of dealing with weak functions, maybe we can use kconfig choice to choose which to use (including none). Each choice would depend on an `CONFIG_*_HAS_CACHE_CONTROL` (or similar). Then the inline functions in `cache.h` can call the appropriate arch or driver cache functions. This would allow future expansion for SoC and board level cache code (though not sure how much of this matters).

[2021-04-23 15:20] pabigot commented on #34500
Looking into it it's PEBCAK: Zephyr's producing values in m/s^2, which is roughly 10 times the value in `g` that I was assuming.  That the STdC sample produces values in mg was what threw me.  Sorry.

[2021-04-23 15:20] #34500 closed

[2021-04-23 15:23] ioannisg commented on #1324
This is solved for Cortex-M, not sure if we would like to keep this open, to get fixes for other ARCHes

[2021-04-23 15:24] adrianlshaw commented on #29476
Just mentioning here that the Dev APIs are all you need for Functional API certification. See here https://www.psacertified.org/getting-certified/functional-api-certification/ The FF ones are good to have but not strictly needed.

[2021-04-23 15:33] carlocaione commented on #33122
That's basically solution 2 in https://github.com/zephyrproject-rtos/zephyr/issues/33122#issuecomment-823878793:
[code]
Right?

[2021-04-23 15:48] galak opened #34526 "logging tests fails to build on a number of platforms"
`./scripts/twister -s tests/subsys/logging/log_benchmark/logging.log_benchmark_v2 -s tests/subsys/logging/log_benchmark/logging.log_benchmark_v2_speed -l`

Fails to build on:

[code]

[2021-04-23 15:50] galak commented on #34526
Guessing these might all be platforms that utilize `CONFIG_USE_SEGGER_RTT=y` / `CONFIG_RTT_CONSOLE=y` by default.

[2021-04-23 16:03] enjiamai commented on #33491
@carlescufi  sorry for reply late, after checking it, I found this is due to:
When we call "fwrite("This 3", -1, 1, stdout);",  the size_t -1 means 4294967295, so actually parameter is:
[code]
And this incorrect size cannot be detected by neither userspace z_vrfy_zephyr_fwrite()
[code]
nor z_impl_zephyr_fwrite() itself,  so the fwrite() works, and overflow happens.

I am thinking if we should chec

[2021-04-23 16:04] enjiamai commented on #33491
In this case, it is using the minimal C library.

[2021-04-23 16:16] DariusBabrauskas opened #34527 "Cpp compiling error: expected primary-expression before 'char'. _Generic macros problem"
**Describe the bug**

Compile error if use call  LOG_DBG(...)  from cpp code.

Error example:
error: expected primary-expression before 'char'.

**To Reproduce**
Simple try compile cpp file with code:
// Type your code here, or load an example.

// C program to illustrate macro function.
#include <stdio.h>
#define geeks(T) _Generic( (T), char: 1, int: 2, long: 3, default: 0)
int main(void)
{
    /

[2021-04-23 16:26] dcpleung commented on #33122
Oh yeah... forgot I read about it yesterday. (I need more caffeine.)

Since we have 3 choices (for now): none, arch and device. Kconfig seems to be a more straightforward approach.

[2021-04-23 16:29] microbuilder commented on #31191
The FF APIs aren't done, but aren't needed for PSA certification, which was the main goal of this issue, so I'll close this.

[2021-04-23 16:29] #31191 closed

[2021-04-23 16:30] microbuilder commented on #29476
Thanks for the clarification Adrian.

[2021-04-23 16:35] microbuilder commented on #29476
@ioannisg @oyvindronningstad I'm OK for now with only having the regression tests, and not the individual test suites, since facilitating PSA certification was my main goal. The extra tests are nice to have, but I'd consider them bonus points. Feel free to close this if you'd like to get it off the ToDo list.

[2021-04-23 16:43] Laczen commented on #34270
I am closing this as there is insufficient information about the issue. If more information is available the author can reopen the issue.

[2021-04-23 16:43] #34270 closed

[2021-04-23 16:58] galak commented on #34527
Maybe the same issue as #34495

[2021-04-23 17:23] farhangj commented on #22161
I also vote for this feature. Currently having to develop a cmdline-like module to set/get params for a module that will interface with a PC program. If this feature was developed it would fit right in. I think many embedded applications use a command line to get/set params. Though it's good to keep in mind not all params are "settings"/non-volatile related.. so ideally it would allow some command

[2021-04-23 18:09] JakeMercer commented on #27697
I think I may have found this issue on Linux:
[code]

Version string for this version of JLink Commander has a space instead of the digit expected by the regex which parses it (from _jlink.py_):
`\s+V([.0-9]+)[a-zA-Z]*\s+`

This results in "7." being matched which does not conform to the PEP440 format expected by the packaging python library; so this code results in the "7." falling back to a type

[2021-04-23 18:42] mrrosen commented on #34167
I recently ran into the same thing a few weeks ago where the linker script I was using (in this case one based off of one for Xtensa) was not structured to use the information provided in devicetree to place the output sections. This problem extends beyond the partitions in flash but in fact to the entire way the linker scripts are structured to try to figure out where to put both code and data (w

[2021-04-23 19:18] dleach02 commented on #33788
@jfischer-no are you going to submit a PR for this?

[2021-04-23 19:41] nandojve commented on #34102
The sam0 DMA broke after 7967aa6af0. It was just before the mass const-ify on Zephyr. My guess is that some structure was supposed to not be const because `device_get_binding` returns NULL and then a hard fault happen.

My proposal is convert uart to use new kwork API but driver will continue with a bug. It may take long to understand what is going on with DMA driver.

Is it reasonable?

[2021-04-23 20:15] #34462 closed

[2021-04-23 20:27] #34474 closed

[2021-04-23 21:53] gromero commented on #34474
Hi @ioannisg. Sorry to be late for the party : )

Your understanding about the 8MB in the docs referring actually to 4MB of flash (ZBTSRAM 1) + 4MB used as RAM (ZBTSRAM 2_3) and as it's sort of displayed by Zephyr compile statistics as posted by @AfflatusX  above, where FLASH = ZBTSRAM 1 and SRAM = ZBTSRAM 2_3, looks correct to me, so I agree with the fix in  #34521 ("boards: arm: mps2_an385: corr

[2021-04-23 22:51] mbolivar-nordic commented on #34518
The proposal sounds good to the extent that the unresolved questions can be solved.

[2021-04-24 00:37] ddavidebor commented on #26857
@koffes I see this has been opened for a long time. Is there an update on this?

[2021-04-24 01:20] nandojve opened #34534 "west sign regression when HEX file not exists"
**Describe the bug**
`west sign`, as command says, should sign zephyr output files for MCUboot, for instance. When using minimal parameters west will try sign both hex and bin files. The `west sign` is failing on current zephyr mainline for projects that create only a bin file. This is the case of `frdm-k64f` board.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -b frdm_k64f -d

[2021-04-24 02:07] JordanYates commented on #34167
Thanks for the input @mrrosen. I quite like the idea of the `linkable-memory` compatible, as it elegantly solves the issue of which devicetree nodes should result in memory regions, without needing to add additional properties to nodes. I think the case where a node with the `linkable-memory` has children could be special cased to generate regions for the children instead, allowing the following s

[2021-04-24 04:30] hongshui3000 opened #34536 "Simple event-driven framework"
**Is your feature request related to a problem? Please describe.**
Hope to add a simple event-driven framework for single-threaded applications.
In this way, some simple devices do not need to start complex multi-threading.
Usable range
1.mcuboot
2.ble controller
3. Minimal MCU applications.
4. etc.

reference:wsf
https://github.com/packetcraft-inc/stacks/tree/master/wsf

[2021-04-24 08:20] Delsian commented on #34231
I'll close this request as it requires some changes in UZLIB.
Currently I've done including this library in my project, I can share implementation details by request.
Thank you!

[2021-04-24 08:20] #34231 closed

[2021-04-24 08:37] Delsian opened #34538 "STM32 temperature sensor"
**Is your enhancement proposal related to a problem? Please describe.**
STM32 chips contain an internal temperature sensor, but existing ADC bindings doesn't allow read internal temperature value in a proper way.

**Describe the solution you'd like**
Sensor binding similar to dts\bindings\sensor\nxp,kinetis-temperature.yaml

**Additional context**

[code]

Other usable sources, for example, **AN39

[2021-04-24 12:37] kaiser-ren opened #34541 "per-adv-sync-create doesn't work on nRF52840, ./tests/bluetooth/shell/"
**Describe the bug**
I tried to make shell sample code of *./tests/bluetooth/shell/* to initial periodic scanner on nRF52840. However, when I typed "bt per-adv-sync-create 00:11:22:33:44:55 random 0 skip 0 timeout 2000", it always return "Failed to set periodic advertising
 -35".
I dug into it and found it means Periodic Advertising is not supported. The root cause is that that nRF52840 should def

[2021-04-24 13:26] galak commented on #34102
@nandojve sounds good

[2021-04-24 14:03] roland-xz opened #34543 "STM32F1 failed to compile with CONFIG_UART_ASYNC_API"
**Describe the bug**
Testing nucleo_f103rb board, with my own code or the tests/drivers/uart/uart_async_api code, the compile fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a board with STM32F1 SoC, e.g, nucleo_f103rb
2. $ west build -p auto -b nucleo_f103rb --cmake ./zephyr/tests/drivers/uart/uart_async_api/
3. See error
[code]

**Expected behavior**
Compile should pass.

[2021-04-24 14:59] marinjurjevic opened #34544 "lib: gui: lvgl: buffer overflow bug on misconfiguration"
**Describe the bug**
I wanted to try out minimal lvgl on stm32_min_dev_blue board which has only 20kB RAM. I am using ILI9340 display with resolution of 320x240. Because of small RAM, I kept reducing all values until build passed. You can see the relevant config in Additional context.

https://github.com/zephyrproject-rtos/zephyr/blob/e366d7948a536951d63392dd3bc63c36212e8081/lib/gui/lvgl/lvgl.c#L3

[2021-04-24 15:28] manuaatitya commented on #34461
Hi @FRASTM, it seems that the codebase I was not using was not in the latest zephyr branch. When reverted to the latest branch, I'm able to build the app.
The issue is resolved now.
Thanks for the help.

I'm closing the issue.

[2021-04-24 15:28] #34461 closed

[2021-04-24 19:42] ceolin commented on #34518
No objections, sounds like a good start point for me.

[2021-04-24 20:31] alexanderwachter commented on #34375
The can configure function is legacy and not made for CAN-FD. Please use the new API instead:
`can_set_bitrate(...)` and `can_set_mode(...)`

[2021-04-24 23:41] kaiser-ren commented on #34541
Maybe add board overlay for nrf52840?

[2021-04-25 00:29] #32075 closed

[2021-04-25 00:29] #31323 closed

[2021-04-25 00:29] #30991 closed

[2021-04-25 06:14] qipengzha commented on #32809
Hi
it works with zephyr 2.4.99. but got some errors(see below error log) related to link script on zephyr 2.5.0, I just WA by add some macros.

-- The C compiler identification is Clang 9.0.1
-- The CXX compiler identification is Clang 9.0.1
-- The ASM compiler identification is unknown
-- Found assembler: /home/mike/metaware/ARC/MetaWare/arc/bin/ccac
-- Warning: Did not find file Compiler/-ASM
CM

[2021-04-25 12:59] enjiamai commented on #33558
Hi @nashif , This is not a bug of condvar's code. It has something to do with test cases, could you please take a look at #33547? I put the fix in that PR, thanks!

[2021-04-25 16:01] optical-o opened #34554 "Settings FS: Duplicite finding is extremely slow when dealing with larger number of settings entries"
The settings backends are trying to save write/erase cycles by storing duplicate settings entries and later resolving their duplicates by using the latest entry.

It should also include duplicate free storing and loading settings from memory. (Overwriting the whole settings when saving) The loading would be much faster then loading. Or at-least it should not resolve duplicates when loading the set

[2021-04-25 21:44] aurel32 commented on #24119
With the new device tree bindings for SPI pins configuration, the fix can be done on all the STM32 series at the same time. This should be fixed by: https://github.com/zephyrproject-rtos/hal_stm32/pull/95

[2021-04-25 22:58] dha-gh commented on #2336
We are evaluating Zephyr as a platform for our product and discovered that IPv4 IGMP support was not implemented. I came across this thread and wanted to share the use case.

IPv4 multicast is used extensively by AV over IP standards (SMPTE 2110 and AES67) to fanout media to multiple sinks. This results in high rate multicast on the network; e.g. 10's of Mbps for several audio channels, 1+ Gbps fo

[2021-04-26 00:29] #32195 closed

[2021-04-26 00:29] #30540 closed

[2021-04-26 00:29] #29581 closed

[2021-04-26 00:30] #27203 closed

[2021-04-26 00:30] #13436 closed

[2021-04-26 01:43] kumarnac commented on #34375
The  can_configure   API needs to  return error when  CAN-FD is enabled and would require changed the API description.

[2021-04-26 02:02] LeiW000 commented on #34505
It seems to me that it is an issue with the test case or the test configuration. Could any networking expert help to look into it? It is blocking our daily testing.

[2021-04-26 03:14] wngur300 commented on #33974
R1 (1M Ohm) of the circuit diagram captured above was removed and operated normally.
[code]
The LSE was not ready and was unable to exit the repeat.
And even if the R1 resistance was removed from the circuit diagram, the C5 capacitor had the same symptoms with 10 pF.

[2021-04-26 03:25] wentongwu opened #34557 "upgrade fatfs to 0.14b"
Current revision in the tree is 0.12b, but since then there are lots of enhancements, I think it's better to upgrade fatfs to 0.14b. Hope the maintainers who have bandwidth can upgrade it 0.14b. Thanks a lot!

[code]

[2021-04-26 05:03] nordic-krch commented on #34527
Yes, same issue. Fix in #34527

[2021-04-26 05:06] Zhaoningx commented on #34505
The testcases tests/net are not working **mimxrt1050_evk**, **sam_e70b_xplained** and **k64f platforms,**

[2021-04-26 05:13] dcpleung opened #34558 "Compilation error with Log v2 and CONFIG_LOG_PRINTK"
Using the latest commit e366d7948a536951d63392dd3bc63c36212e8081 and building hello world with the following command resulted compilation error.

Command: `west build -p -b qemu_x86 samples/hello_world -- -DCONFIG_LOG_PRINTK=y -DCONFIG_LOG2_MODE_DEFERRED=y -DCONFIG_LOG=y`

Build log:
[code]

[2021-04-26 06:41] koffes commented on #26935
What is the status of this issue?

[2021-04-26 06:41] koffes commented on #26857
@ddavidebor We are waiting for this issue to be resolved as part of #26935

[2021-04-26 07:04] Laczen commented on #34554
@optical-o, indeed 60s seems like a long boot time.

However it is not possible to reduce the load time without introducing a lot of wear in flash. When settings save is called it will only save something when it is changed, that is why a save will take a longer time. The result of the save will be a file that contains multiple items for the same settings entry.

Loading the setting will need to g

[2021-04-26 07:15] de-nordic commented on #34554
@optical-o Can you give some more details on backends you have been testing and the flash device that you use?

[2021-04-26 07:41] FRASTM commented on #34543
@roland-xz thank you for reporting this issue
The stm32f103 has a DMA1 (dma V2) but no DMAMUX, just like the stm32l476, but their stm32_ll_dma.h differ. It appears that `LL_DMA_InitTypeDef` structure  of the modules `stm32cube/ stm32f1xx` has NO PeriphRequest.

[2021-04-26 07:45] chyu313 opened #34563 "net: lib: sockets: Unable to select() file descriptors with number >= 32"
**Describe the bug**
zsock_select() cannot poll file descriptors if all the file descriptors in readfds or writefds are all greater than or equal to 32.

**To Reproduce**
1. Create 32 threads to accept 32 TCP connections, each thread handles one TCP connection. Some of the file descriptor returned by zsock_accept() are >= 32.
2. In each thread, use zsock_select() to poll read event for the file de

[2021-04-26 08:08] FRASTM commented on #34543
A quick fix is to exclude the CONFIG_SOC_SERIES_STM32F1X in the drivers/dma/dma_stm32.c
[code]

[2021-04-26 08:12] ghlualven commented on #34324
Any update?

[2021-04-26 08:21] jukkar commented on #34563
@chyu313 could you send a PR for this?

[2021-04-26 08:21] ioannisg commented on #33768
@sw have you tried to use a lower priority for the cpu-net reset function? If so, did that solve your problem?

[2021-04-26 08:25] FRASTM commented on #34543
With this exception for the stm32f1x soc serie, the dma binding of the stm32 does not change :  a channel (defined by the ref. Manual "Summary of DMA1 requests for each channel") and a slot (not used). In this configuration, it could be specified that slot equal channels, for convenience. So for testing the _usart2_, the **nucleo_f103rb.overlay** could be as follows:
[code]

[2021-04-26 08:37] erwango commented on #33974
@wngur300 Thanks for this feedback!

So from what I understand, this is not linked with Zephyr implementation, as you would face the same issue on CubeMx if using LSE. If you agree, can you close the point ?

[2021-04-26 08:41] erwango commented on #34518
Seems like a good approach.

[2021-04-26 08:46] jukkar commented on #34515
Increasing the logging thread stack space from 768 (default) to 2048, the crash disappeared.
`-DCONFIG_LOG_PROCESS_THREAD_STACK_SIZE=2048`
probably lower number would be ok too, I did not really try to smaller value.

[2021-04-26 08:53] aunsbjerg commented on #33747
I am seeing the same issue when running the gPTP sample on the `mimxrt1064_evk` board.

[2021-04-26 09:29] jfischer-no commented on #26935
Is almost ready.

[2021-04-26 09:49] ioannisg commented on #33768
Copying @hubertmis (had an offline chat about this)

It seems that rpmsg boot sequence requires the host initialization and endpoint registration precede the remote initialization, hence the rpmsg service has lower priority than the service that enables and resets the Network core from the Application side.

If the problem only appears after the kernel reboot cold (and not in a regular cold reboot

[2021-04-26 09:52] aunsbjerg commented on #34515
Thanks @jukkar, you are right. I have should tried that before making this issue.
Would it make sense to add this to the sample configuration? I assume this requirement would be the same for all boards, not just the frdm_k64f.

[2021-04-26 10:27] DridriLaBastos opened #34568 "Compilation error with zephyr 2.3.0"
**Description of the bug**
I need zephyr 2.3.0. When I compiled the hello world samples for the mimxrt_1064 board (but as far as I tested its the case for every compilation), I have this error :

![image](https://user-images.githubusercontent.com/19534959/116067908-e8b77680-a689-11eb-9343-bd44bf5d8f76.png)

**To Reproduce**
Steps to reproduce the behavior:
1. `west init –-mr v2.3.0 zephyrproject `

[2021-04-26 11:06] oyvindronningstad opened #34570 "IPC samples running secure but configured nonsecure (AN521)"
**Describe the bug**
At least on AN521, the openamp and rpmsg samples have `CONFIG_TRUSTED_EXECUTION_NONSECURE=y` set for the remote side, but the software is running in secure mode.

This gives rise to the build failures on this PR: https://github.com/zephyrproject-rtos/zephyr/pull/26414 (https://buildkite.com/zephyr/zephyr/builds/27854)

**To Reproduce**
Steps to reproduce the behavior:
1. Build

[2021-04-26 11:16] optical-o commented on #34554
I'm using nrf9160 chip with 16Mbit macronix flash - MX25 clocked at 8Mhz.
prj.conf for Settings backends is:
[code]

I understand that the wear on the flash is significant, however i think that settings changing is very rare occasion for most of the devices. The loading is done during every boot sequence, which is much critical part of the settings implementation and should be as quick as possible

[2021-04-26 11:19] #34568 closed

[2021-04-26 11:22] optical-o commented on #34554
Regarding my Runtime storage it is simple array containing the settings, key and value.
The h_set and h_get function only searchers this runtime table for the key and sets/gets the value.

I have some macros to help me with the table definitions.
Such as:
[code]
Each table is defined as its own subtree.

[2021-04-26 11:25] de-nordic commented on #34554
Which file system do you  have mounted at `/settings`?

[2021-04-26 11:28] optical-o commented on #34554
I have mounted littlefs with configuration:
[code]
prj.conf - CONFIG_FILE_SYSTEM_LITTLEFS with other default settings.

I have tried to increase some ram buffers for the littlefs in hope of caching the file inside the memory to decrease the boot time with no luck. The Cache options had little or no effect on the load time.

[2021-04-26 11:38] #34526 closed

[2021-04-26 11:38] #34558 closed

[2021-04-26 11:41] #31248 closed

[2021-04-26 11:42] #34416 closed

[2021-04-26 11:50] evgeniy-paltsev opened #34571 "Twister mark successfully passed tests as failed"
Recently I've noticed that some of successfully passed tests are marked as failed.
As I can see it only happens with QEMU platforms (I've seen this issue on qemu_x86, qemu_arc_hs, qemu_arc_em, etc...)

Here is an example. Some tests are marked as `FAILED Timeout (qemu)` or `FAILED unexpected eof (qemu 1.644s)`:

[code]

However we can see `PROJECT EXECUTION SUCCESSFUL` in the corresponding logs:

[2021-04-26 11:51] jukkar commented on #34515
@aunsbjerg I think better would be to increase the logging thread default stack size as the 768 seems to be too small. Then we would not need to adjust each and every sample.

[2021-04-26 12:04] evgeniy-paltsev commented on #34571
I'm curious if someone have seen similar issues with twister?

[2021-04-26 12:11] carlescufi commented on #10727
No, I was really just thinking about `addrline`, which is not part of gdb but is very useful when trying to trace back the source of an assert or fault.

[2021-04-26 12:13] roland-xz commented on #34543
@FRASTM Thanks a lot for the suggested fixes.
However, this was the other issue I encountered. I configured dma on usart2 this way the other day, but because zephyr console used uart 2 on this board, the test always failed. Not 100% sure if it was due to a conflict with the console. Please see failure log down below.
Moved the test on usart3 and it passed.

Keen to see tests/drivers/uart/uart_mix_

[2021-04-26 12:17] galak commented on #34527
Closing this as a duplicate.

[2021-04-26 12:17] #34527 closed

[2021-04-26 12:34] nordic-krch commented on #34515
I will look into this. Stack usage should not increase after logging v2.

[2021-04-26 13:01] Laczen commented on #34554
Unfortunately, that is not true, in bt-mesh application every (received) communication requires storing data for replay protection, this is done using settings. The flash wear would be unacceptable.

That is also questionable, the critical part is the storage where you would like to make sure that you have stored the data when a unforeseen power failure happens.

I agree that 20s is really bad, I

[2021-04-26 13:20] Laczen commented on #34554
@optical-o, BTW you are not by accident or intentionally calling a save settings during the loading ?

[2021-04-26 13:24] FRASTM commented on #34543
On the nucleo_f103rb, the usart 2 is the console, so that you cannot run test on it, but on usart3 or usart1
[code]
[code]

[2021-04-26 13:54] anangl commented on #33583
@etterli These additional delays are caused by the adaptation of the nrfx_spi driver to the Zephyr API that is done in the spi_nrfx_spi shim, in particular, by handling of the scattered buffers that this API permits. The CS line must stay active for potentially multiple SPI transfers so that one call to `spi_transceive()` results in one SPI transaction. That's why the CS line is activated and deac

[2021-04-26 14:01] roland-xz commented on #34543
Thanks again@FRASTM.
Having trouble configuring the device tree for TIMER_0 with `compatible = "st,stm32-timer-counter"`, and in general DT configuration requires a lot of trials and errors for me.
Do you know of any STM32 specific documentation on this?

[2021-04-26 14:22] kevin137 commented on #33747
We have some new information. Unfortunately, due to continuing logistical difficulties we still don't have the K64-FRDM at our location, and we are not able to run the code with the latest modifications on it. We ARE able to run the same code on the mimxrt1050_evk and mimxrt1020_evk, however, and we see the same behavior as mentioned in all the previous posts. Beyond this, we are starting to looki

[2021-04-26 14:33] emillindq commented on #29915
I just saw this happen to me again with my fix removed and with latest stm32 HAL version, so it seems like it's a lot better but not completely fixed.

[2021-04-26 14:46] erwango commented on #29915
Thanks for the test. The initial description was "we very fast get a semaphore timeout on waiting for transmission complete callback from ST HAL layer". Do I understand correctly that this is no more "very fast" ? Can you give an idea about the new occurrence rate ?
Last, did you check if the fix is still compatible with the new HAL version?

[2021-04-26 14:55] mbolivar-nordic commented on #34518
The only thing I can think of off the top of my head is you might need to add more linker sections if the max ordinal is more than 100.

[2021-04-26 14:57] optical-o commented on #34554
I have check again to be sure, but no.

I tested if i omit call inside settings_fs: settings_file_load_priv.
If i commented settings_file_check_duplicate then the boot time shorten by mentioned 53 seconds.

Currently i added to my code option CONFIG_SETTINGS_FS_NO_DUP which disables the settings_file_check_duplicate call.
[code]
And in save function clears the whole file. This is only temporary so

[2021-04-26 14:57] gmarull commented on #34518
Good point, but that could be extended by adding more `[0-9]` entries I guess.

[2021-04-26 15:03] erwango commented on #34543
Having trouble configuring the device tree for TIMER_0 with compatible = "st,stm32-timer-counter", and in general DT configuration requires a lot of trials and errors for me.
Do you know of any STM32 specific documentation on this?

@roland-xz There is no STM32 specific documentation for this, but you can find the list of supported STM32 bindings here:
https://docs.zephyrproject.org/latest/referen

[2021-04-26 15:04] FRASTM commented on #32839
For the nucleo_g071rb, the flash latency is set to 2 wait states and power range is 1, which are correct values when running the tests at HCLK = 64MHz.

[2021-04-26 15:09] erwango commented on #34324
@ghlualven Unfortunately there are not much RTT users on STM32. Have you tried with another STM32 reference (not STM32F3 based) ?

[2021-04-26 15:15] carlescufi commented on #33583
Changed from Bug to Question since this is expected, although a problem for the user. A workaround has been provided, so @etterli I would be grateful if you could check @anangl 's suggested alternative and close this issue if that works for you.

[2021-04-26 15:21] #32485 closed

[2021-04-26 15:27] erwango commented on #34538
@Delsian Thanks for this. Don't hesiate to contribute of you have solution in mind.

[2021-04-26 15:29] #7151 closed

[2021-04-26 15:31] erwango commented on #7297
I think we can reasonably state this is fulfilled by
https://docs.zephyrproject.org/latest/reference/devicetree/bindings.html#stmicroelectronics-st

[2021-04-26 15:31] #7297 closed

[2021-04-26 15:33] erwango commented on #19760
I'm not requesting this anymore, so I'm closing. One can feel free to reopen if interested

[2021-04-26 15:33] #19760 closed

[2021-04-26 15:35] erwango commented on #27484
Closing and will re-open once the case is faced again

[2021-04-26 15:35] #27484 closed

[2021-04-26 15:36] erwango commented on #30159
@tejlmand you might be interested by this point

[2021-04-26 15:51] Laczen commented on #34554
@optical-o, could you test again with only disabling the check duplicate during settings_file_load_priv(). I am wondering if something is failing in the check_duplicate().

[2021-04-26 16:13] de-nordic commented on #34554
Can you also check the settings subsystem performance with other backend (nvs for example?)

[2021-04-26 17:36] lyakh commented on #34492
A complete .config for a cAVS 1.5 / Apollolake SOF build:
[apl.config.txt](https://github.com/zephyrproject-rtos/zephyr/files/6379021/apl.config.txt)

[2021-04-26 17:51] mrrosen commented on #34167
While I like that idea, can memory regions have `@` characters in their name? From what I can tell I guess you could stringify it, but I havent tried it.

For some reason, I remembered seeing the chosen `zephyr,flash` to be an external SPI flash (not memory mapped) for a board for some function. But since I cant find it, I guess its a non-issue. I just wanted to mention that Im not sure chosen `ze

[2021-04-26 17:58] Andermutu opened #34581 "Unable to work with SX1276 Lora module."
**Describe the bug**
I am trying to use SX1276 Lora module with nRF9160. I am trying /zephyr/samples/drivers/lora/send example. I can build and flash the example.

The connection between nRF and RF95W(SX1276) is the following:

3V --> 3V
GND --> GND
MOSI --> MOSI
MISO --> MISO
SCK --> SCK
GPIO 19 --> NSS(Chip select)

I added this .overlay file:

`&spi3 {
compatible = "nordic,nrf-spim";
status = "

[2021-04-26 18:14] #34515 closed

[2021-04-26 18:17] #34102 closed

[2021-04-26 19:28] dleach02 commented on #10727
I've used 'info line *<addr>' from within gdb or 'info symbol <addr>' ... haven't used addr2line

[2021-04-26 21:30] sambhurst opened #34583 "twister failing: fails platform native_posix, test lib/cmsis_dsp/filtering"
**Describe the bug**
Locally executing `twister` to run the lib/cmsis_dsp/filtering test on the native_posix platform fails.

**To Reproduce**
Steps to reproduce the behavior:
In the zephyr directory.

1. set ZEPHYR_TOOLCHAIN_VARIANT=llvm
2. twister -p native_posix -T tests/lib/cmsis_dsp/filtering -v
3. See errors

**Expected behavior**
The test should pass

**Impact**
Push Request is blocked due

[2021-04-26 22:48] mnkp opened #34584 "kernel: workqueue thread is occasionally not invoked when kernel is run in cooperative mode only"
**Describe the bug**

I've been working on a low latency, real time audio processing device which receives audio data over IP network and plays them via an audio codec. The audio data packets are received every 1 ms and passed immediately to the audio codec. Our application is working in cooperative only mode enabled by setting `CONFIG_NUM_PREEMPT_PRIORITIES=0`.

We have noticed that occasionally

[2021-04-26 23:59] ghlualven commented on #34324
Yes, I tried on nucleo_l476rg, nucleo_f411re, L443VC, all the same problem.

[2021-04-27 00:30] #19340 closed

[2021-04-27 00:31] yerabolu opened #34585 "mec15xxevb_assy6853: test_timeout_order in tests/kernel/common assertion failed"
**Describe the bug**
 test_timeout_order in tests/kernel/common assertion failed

It is also failing on **EHL_CRB**

**To Reproduce**
Steps to reproduce the behavior:
1. twister --hardware-map ~/mec1.file --device-testing -T tests/kernel/common/
2. See error

**Expected behavior**
Test should pass

**Logs and console output**
[code]
**Environment (please complete the following information):**
 - O

[2021-04-27 03:32] hakehuang commented on #33747
I check your  https://github.com/ainguraXmarquiegui/zephyr/tree/feature/aingura_gptp_tests but I did not see you modify the west.yml to direct your hal code.  how do you do that? do you run west update before your build?

[2021-04-27 04:01] mengxianglinx commented on #34583
clang handles  __attribute__(( optimize("-O1") )) in different way.
add below code before line 8881 #elif defined ( __GNUC__ ) in modules/hal/cmsis/CMSIS/DSP/Include/arm_math.h:
#elif defined ( __clang__ )
  #define LOW_OPTIMIZATION_ENTER \
   __attribute__(( optnone ))
  #define LOW_OPTIMIZATION_EXIT
  #define IAR_ONLY_LOW_OPTIMIZATION_ENTER
  #define IAR_ONLY_LOW_OPTIMIZATION_EXIT

[2021-04-27 04:37] mbolivar-nordic commented on #22545
@gmarull FYI

[2021-04-27 04:46] mbolivar-nordic commented on #31280
@kurddt I implemented this as prep work in https://github.com/zephyrproject-rtos/zephyr/pull/34589

[2021-04-27 05:00] mHendelja commented on #34324
I also tried on STM32L433RC and custom board build around same MCU, same problem with RTT.
RTT displaced only Zephyr crash log when I made segmentation fault.

[2021-04-27 06:21] kevin137 commented on #33747
Yes. We ran west update initially, and we are not changing between platforms, it is always either RT1050 or RT1020. My colleague @ainguraXmarquiegui ran west update just before creating the fork.

[2021-04-27 06:51] erwango commented on #34324
ok, thanks for reporting. We'll see what we can do.

[2021-04-27 07:02] nordic-krch commented on #34413
@tejlmand @nashif any opinions?

[2021-04-27 07:22] jakub-uC opened #34590 "Functions getopt_long and getopt_long_only from the FreeBSD project"
## Origin

The FreeBSD
https://github.com/lattera/freebsd/blob/master/lib/libc/stdlib/getopt_long.c

## Purpose

Extend existing lib/util/getopt library support with getopt_long and getopt_long_only functions.
Add support for two modes of operation: single instance and multi-instance.

## Mode of integration

It is needed to integrate the module in the main tree. The main module using this library

[2021-04-27 07:24] armandomiguel commented on #34246
The root of the issue results to be not in the LoRa drivers but in the SPI srivers for Sifive's MCUs, which appear to not handle multiple buffers. That's why I'm closing this issue, and continue in #34308.

[2021-04-27 07:24] #34246 closed

[2021-04-27 08:15] optical-o commented on #34554
I will try to create some sample demonstrating. However it will be probably next week due to some deadlines i have to meet.

[2021-04-27 08:25] emillindq commented on #29915
I must apologize, my tests were not too academic :innocent: I must correct myself.

I have two hardwares:
* The devkit STM32H747I DISCO running on the M7 core.
* Hardware developed by my company, which has the STM32H743BIT

**h747**
Latest HAL with and without my *fix* works flawlessly.

**h743**
without my fix it happens directly when the DHCP client starts. About half of the time it's not able t

[2021-04-27 08:34] erwango commented on #34324
@ghlualven, @mHendelja  Looking to https://wiki.segger.com/STM32, it seems some specvific steps are required for STM32 devices. Have you tried those ?

[2021-04-27 09:00] #31969 closed

[2021-04-27 09:14] 1am opened #34593 "Using hci_usb with Bluez 5.55 or 5.58"
**Describe the bug**

I'm trying to use [hci_usb](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/hci_usb) on nRF52840DK to connect [peripheral_dis](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/peripheral_dis) on a nRF52833 DK using bluetoothctrl (or even old hcitool + gatttool). The boards behave correctly, I can see the peripheral advertis

[2021-04-27 09:36] bluetooth-mdw opened #34595 "Function to generate RFC4122 compliant UUIDs"
**Is your enhancement proposal related to a problem? Please describe.**
Bluetooth mesh unprovisioned device beacons include a device UUID. The UUID value is set by manufacturers and must be compliant with RFC4122. See https://tools.ietf.org/html/rfc4122

**Describe the solution you'd like**
It would be useful is there was a function you could call on first boot which returns a freshly generated RF

[2021-04-27 09:53] #17745 closed

[2021-04-27 10:15] houssine97 commented on #33876
@sylvioalves any update

[2021-04-27 10:27] alexbarcelo opened #34597 "Mismatch between `ot ping` and `net ping`"
**Describe the bug**

The `ping` on the network subsystem is different than the one on the openthread subsystem.

**To Reproduce**

Build an application for a nRF52840 board. The rellevant flags, AFAICT, are:

[code]

Join the device to an OpenThread network. Check that `net ipv6` and `ot ipaddr` are consistent between them. Try to do a ping to, for instance, the border router:

[code]

But this f

[2021-04-27 10:30] sjanc commented on #34593
Your device is not responding for ATT Exchange MTU Request  and after 30 seconds BlueZ timeouts and terminates link.

I'd suggest checking if ATT request was received on slave device, if yes fix it,  if not there might be some IOP issue on LL and this would have to be investigated further...

[2021-04-27 10:51] tejlmand commented on #34413
Not sure how that changes my main concern ?

Of course, as mentioned https://github.com/zephyrproject-rtos/zephyr/issues/34413#issuecomment-823834066
I also see so benefits.

Today's approach is clear in the sense that developers have to make a conscious choice that this particular function should go into a specific section that has `KEEP`, if needed.
What about variables ?

[2021-04-27 11:02] 1am commented on #34593
What could be the reason for [peripheral_dis](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/peripheral_dis) not accepting ATT Exchange MTU Request? There aren't many options to fix or break this sample code. It's not that this packet is not received due to heavy RF interference or anything.
Similar thing happens with other firmware I've tried to connect to (based on nR

[2021-04-27 11:13] nordic-krch commented on #34413
With this approach, function code is together with rest of the code and only pointer lands in the section so it can be kept hidden in shared section.

[2021-04-27 11:30] roland-xz commented on #34543
@erwango Thanks for the links.

[2021-04-27 11:32] carlescufi commented on #34593
@1am `peripheral_dis` should definitely respond to that Request, so my guess is that the Request is never going over the air or the response is not reaching the dongle controller.
If you have a spare dongle or any other Nordic DK, could you please sniff the exchange with the [Nordic Sniffer](https://www.nordicsemi.com/Software-and-Tools/Development-Tools/nRF-Sniffer-for-Bluetooth-LE) and attach it

[2021-04-27 11:40] #34570 closed

[2021-04-27 11:47] tejlmand commented on #30159
@erwango thanks, I think this could deserve a cleanup. Thanks for pinging me, it's now on my radar.

[2021-04-27 11:58] rlubos commented on #34597
Would be good to see `net iface` output. I've investigated a similar issue some time ago and it turned out Zephyr selected some rubbish source address due to misconfiguration:
https://github.com/zephyrproject-rtos/zephyr/issues/30688#issuecomment-746249565

[2021-04-27 12:16] #29915 closed

[2021-04-27 12:21] #22965 closed

[2021-04-27 12:30] gmarull commented on #34590
For reference, in case we prefer using Apache licensed code:

Nuttx has support for longopt, see https://github.com/apache/incubator-nuttx/tree/master/libs/libc/unistd

[2021-04-27 12:34] gmarull commented on #34544
You're setting a display pixel format RGB888 (24bpp) with `CONFIG_LVGL_BITS_PER_PIXEL=8`, should be `CONFIG_LVGL_BITS_PER_PIXEL=24`. Can you check and close the issue if it fixes the problem?

[2021-04-27 12:39] 1am commented on #34593
Of course. Attaching a zip with pcapng (Github doesn't accept raw pcapng but zip worked) between F4:02:11:4D:7C:FF as with HCI_USB and F4:84:A0:B0:37:41 with peripheral_dis.

[hci-f402114d7cff-to-dis-f484a0b03741.zip](https://github.com/zephyrproject-rtos/zephyr/files/6384518/hci-f402114d7cff-to-dis-f484a0b03741.zip)

[2021-04-27 12:41] KatrineNordic opened #34600 "Bluetooth: L2CAP: Deadlock when there are no free buffers while transmitting on multiple channels"
**Describe the bug**
Transmitting many large SDUs as quickly as possible on multiple L2CAP channels quickly fills a lot of buffers. When no more segments can be queued to be transmitted because there are no more free buffers, or there are no more credits for the channel, queuing of segments is stopped. Whenever a previously queued segment has been transmitted, or more credits are received, segment

[2021-04-27 12:48] ABOSTM opened #34601 "sample: bluetooth: beacon: USAGE FAULT after few seconds on board b_l4s5i_iot01a"
**Describe the bug**
sample/ bluetooth: beacon crashes on b_l4s5i_iot01a board with USAGE FAULT after about 20 seconds of execution

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b b_l4s5i_iot01a  samples/bluetooth/beacon/
2. west flash
3. See error

**Logs and console output**

**Environment (please complete the following information):**
 - OS: Windows
 - Toolchain gnua

[2021-04-27 12:48] ABOSTM commented on #34601
I found that doubling `spi_rx_stack` (in file ...\zephyr\drivers\bluetooth\hci\spi.c) fixes the issue
     `static K_KERNEL_STACK_DEFINE(spi_rx_stack, 512);`
But strangely, there is no issue with board nucleo_wb55rg.
So I am not sure increasing stack is the right fix.

[2021-04-27 12:52] ABOSTM commented on #34601
^^ @joerchan @jhedberg @Vudentz

[2021-04-27 13:05] joerchan commented on #34601
@ABOSTM Can you please enable the thread analyzer and report the stack usage for both boards. Run it with the increased stack size that you set, so that we don't get a crash.

Configurations to enable thread analyzer.
[code]

I don't know these boards, what kind of architecture are they?
Can you compare the default board configurations to see if there is additional features selected?

[2021-04-27 13:24] FRASTM commented on #33169
It confirms that without any valid Rx buffer, there is no need to loop on the RXNE : Tx-only  mode.

[2021-04-27 13:48] #34495 closed

[2021-04-27 13:51] galak opened #34605 "flash_stm32h7x.c fails to build"
`./scripts/twister -T samples/drivers/flash_shell/ -p nucleo_h743zi`

gets:
[code]

[2021-04-27 13:58] galak commented on #34101
@nandojve any updates on this?

[2021-04-27 14:05] carlescufi commented on #34282
As I see, Nordic is dong it. Zephyr hal_nordic/nrfx has 3-caluse BSD license, but the same files on Nordic website (NRF5 SDK 17.0.2) have Nordic BSD license which is nearly the same as Telink BSD.

The difference is that we do have an upstream with a BSD clause here: https://github.com/NordicSemiconductor/nrfx
I think you would probably need to explain it in the Pull Request, stating how you got p

[2021-04-27 14:05] galak commented on #34583
Not sure how you are running into this as we mark the filtering tests as not supported on llvm:

https://github.com/zephyrproject-rtos/zephyr/commit/9614581ebed7f14dbbe938182022630e0d79e675

[2021-04-27 14:13] galak commented on #34581
@carlescufi is this a reference to the nordic downstream ( v2.4.0-ncs2?)

[2021-04-27 14:17] galak commented on #34503
The output looks like an issue with flashing the test and not the test itself.

[2021-04-27 14:18] anangl commented on #31503
@YoYo0304 can you try to switch from TWIM to TWI, i.e. set `compatible = "nordic,nrf-twi";` instead of `compatible = "nordic,nrf-twim";` in the devicetree node for the instance you are using?

[2021-04-27 14:22] sylvioalves commented on #34282
@yurvyn I suggest you to open the PR in anyway it fits you as commented.

[2021-04-27 14:25] nandojve commented on #34101
Hi @galak ,
The conversion was made and seems OK. I think we should go with #34442.

The MCUboot issue probably should be addressed on another thread. Otherwise this will block the whole API conversion and there is no reason to do that.

Is LTS scheduled for 2.7 right?

[2021-04-27 14:42] carlocaione commented on #34132
I'm not entirely clear whether your proposal is involving to extend the current heap / slab /pools APIs to directly support allocation of memory blocks on cacheable / non-cacheable memory.

The point is that FWICT all the current allocators do already have the capability to locate the the buffer area for heap/slab/pool in a code-provided memory region with the desired attributes, so the solution t

[2021-04-27 14:44] alexbarcelo commented on #34597
The `net iface` output is the following:

[code]

I have been trying to update all the codebase (I am using the [ot-br-agent](https://github.com/openthread/ot-br-posix) for the Raspberry Pi and the official OpenThread NCP build for the nRF stick). The behaviour is the same. I am not sure it is a Zephyr issue, but the Border Router seems to work and the errors

[code]

where bugging me.

[2021-04-27 14:45] anangl commented on #33837
Marked as false positive.

[2021-04-27 14:45] #33837 closed

[2021-04-27 14:58] nandojve commented on #34101
Just for record.

Now there is #34530. The big question is: when MCUboot/Zephyr API/infrastructure will be stable? What happened with 3 versions API before deprecate? There will be multiple ways for LTS?

This difficult what is best time to explore and fix problems.

BTW I didn't look yet #34530 but my felling is that may brake device compatibility. User will be stuck with their current version an

[2021-04-27 15:11] ABOSTM commented on #34601
@joerchan, thanks for your quick answer.
Let's forget about nucleo_wb55rg: it is a dualcore with Cortex M0 dedicated to BLE ... with shared memory. So no hci over spi.

b_l4s5i_iot01a has an STM32L4S5VIT6 chip based on Cortex M4.
It embed a Bluetooth (V4.1 compliant) SPBTLE-RF module, connected to Cortex M4 through SPI.

Below the log of b_l4s5i_iot01a with thread analyzer (and increased stack), p

[2021-04-27 15:17] alexbarcelo commented on #34597
Some additional things I have discovered, that may or may not be relevant here (I apologize for my lack of understanding).

If I add a route to the netdata and register that, the `ot ping` works for servers in the LAN. The following can be seen in the Zephyr device:

[code]

(Note how the route appears in the netdata but does not appear in the `net` subsystem).

The `net ping` doesn't work, the `o

[2021-04-27 15:19] de-nordic commented on #34101
@nandojve

The change is supposed to maintain the compatibility with current API, generally you should be able to get flash area by ID, determined from DTS by label (`FLASH_AREA_ID()`) and use `flash_area_open` or directly get flash_area object (`FLASH_AREA()`) and either pass it to `flash_area_open` or use directly (I would stick with `flash_area_open` for now as I guess it may, for example check

[2021-04-27 15:21] rlubos commented on #34597
The unicast addresses you have on the interface seem fine - Zephyr should select the right address for an external destination.

The `Error while calling otIp6Send` you're observing is actually the reason why `net ping` doesn't work. For whatever reason, OT is rejecting to send the IP packet created by Zephyr. One of the possible reasons is wrong source address selection, that's why I asked for th

[2021-04-27 15:27] bgiori commented on #19244
@philips77

Android is done, tag `0.12.0-beta4`

iOS still needs an implementation. This is something I don't really have bandwidth for at the moment.

[2021-04-27 15:30] sambhurst commented on #34583
I needed to sync my repo. The tests are passing now. Thanks

[2021-04-27 15:30] #34583 closed

[2021-04-27 15:34] alexbarcelo commented on #34597
You are right! Thank you! As I suspected, the problem was caused by my botch attempts on making things work.

Once both flags are set to `n`, then `net route` complains with `Set CONFIG_NET_ROUTE to enable network route support.`... which I assume is what we want because then the network system works through the OpenThread machinery (as it should).

[code]

No need to reproduce it --that was right

[2021-04-27 15:38] joerchan commented on #34601
@ABOSTM With the thread analyzer in AUTO mode (`CONFIG_THREAD_ANALYZER_AUTO`) it should run the analyzer once every 60 second (by default, can be changed with `THREAD_ANALYZER_AUTO_INTERVAL`).

Can you get the thread analyzer values once it has had a chance to run for a while?

For convenience, could you also add a name to the thread.
[code]

[2021-04-27 16:05] ABOSTM commented on #34601
Here it is:
[code]

[2021-04-27 16:17] ABOSTM commented on #34601
By the way, with THREAD_ANALYZER_AUTO_INTERVAL=5 ... it took about 1,5 minutes to get a Thread analyze update.

[2021-04-27 16:19] nashif commented on #33641
yeah, that was the original ask, have minutes in general, but then the idea of google docs for the API meeting was not appealing for some... :)

[2021-04-27 16:19] carlescufi commented on #22748
API meeting 27.04.2021

@mnkp describes the options available to us

a) Closer to the Linux approach
b) Closer to the current Zephyr approach

a) The pinctrl driver owns an array of `struct cfg` with all the possible configurations that the application may need. In order to select one of the configuration one would then call `pinmux_select(int select)`. In this case `struct cfg` contains a string

[2021-04-27 16:21] #34597 closed

[2021-04-27 17:18] rlubos commented on #34597
Well that's definitely something that needs addressing, specifically for multi-inteface. We should rather have an option to enable/disable ND/MLD on each interface separately at runtime instead of relying on static configuration. OpenThread could then enforce that ND/MLD are disabled on it's interface. But we're simply not there yet.

[2021-04-27 17:28] #34363 closed

[2021-04-27 17:29] #34101 closed

[2021-04-27 17:30] #33558 closed

[2021-04-27 17:31] #34368 closed

[2021-04-27 17:33] jukkar commented on #34505
Why there are two different banners in the description? Which version this issue refers to?

[2021-04-27 17:39] ioannisg commented on #34584
@pabigot FYI

[2021-04-27 17:47] carlescufi commented on #34593
Thanks @1am. This packet:

[code]
Never goes over the air. This might be an issue in the USB driver then.

This is a typo right?

[2021-04-27 17:50] carlescufi commented on #34593
Since you are using a DK, could you also try the [UART transport](https://docs.zephyrproject.org/latest/samples/bluetooth/hci_uart/README.html#bluetooth-hci-uart-sample) instead of the USB one and see if that makes it work?

[2021-04-27 17:52] mbolivar-nordic commented on #33641
I can totally sympathize with that; I write minutes in my editor and then copy them into Gdocs later. I just think we should be consistent until we can all agree on an alternative.

[2021-04-27 17:53] katsuster commented on #34308
Sorry for late. I have finished to reproduce this problem on my board...
And I'll try your suggestion and create patch & PR. Thanks!

[2021-04-27 17:53] carlescufi commented on #34600
@KatrineNordic which Nordic (upstream, not NCS/sdk-zephyr) revision did you test this with?

[2021-04-27 18:01] mbolivar-nordic commented on #22748
I was having audio problems when this was discussed, but I still cannot see how this can be made to work for Nordic devices in a space-efficient way.

If we require a full array of possibilities, then it will contain NPINS * NFUNCTIONS elements, which is simply impractical even if stored in flash, and anyway most of the data will never be used by 99% of applications, even the ones that want to dyn

[2021-04-27 18:02] sylvioalves commented on #34282
@carlescufi, please run  `west espressif update` to retrieve those necessary submodules and pre-built binaries.

[2021-04-27 18:03] carlescufi commented on #34282
Thanks, just realized that now :)

[2021-04-27 18:13] scottwcpg commented on #34585
Reproduced on MEC152x EVB building only the tests/kernel/common.
Not related to power management. Fails with PM disabled in build.
It will pass if I lower the CPU clock speed from full speed 48 MHz to 12 MHz. This implies this SoC is not able to update fast enough. The build is configured to use a 32 KHz clock for the kernel timer with second 48 MHz timer used for higher resolution.
Were there any

[2021-04-27 18:32] pabigot commented on #34584
AFAICT the reproducing code invokes undefined behavior, since the work handler frees the memory that holds the work item data structure.  This is in violation of [the requirement](https://docs.zephyrproject.org/latest/reference/kernel/threads/workqueue.html#work-item-lifecycle) that the work item not be altered outside of the work API until the item has been processed by the work queue thread.  Th

[2021-04-27 18:37] scottwcpg commented on #34585
Narrowed it down to something related to the 32KHz timer we are using for the kernel timer.  If the build is switched to SYSTICK the test passes even at fastest CPU speed.

[2021-04-27 18:38] 1am commented on #34593
Yes, a typo of course. I meant nRF52840dk_nrf52833

I've tried HCI UART just now and as when I tested roughly a year ago everything seemed to be very ok on the DK. The only difference from the link you shared is that I had to attach my nRF52840dk_nrf52833 using `btattach -B /dev/ttyACM0 -S 1000000 -P h4` or it didn't work at all - interface showed up but was always down and `hciconfig hci2 up` res

[2021-04-27 18:41] wthidden commented on #34324
I've tried all the suggestions on the segger page with no joy.

[2021-04-27 18:59] scottwcpg commented on #34585
@albertofloyd This is an issue. If we have to switch to SYSTICK then deep sleep will require enabling a 32 KHz based timer and the issues converting kernel ticks to 32 KHz units.

[2021-04-27 19:12] katsuster commented on #34308
@armandomiguel
I created patch that send/recv all data in spi_sifive_xfer() because if first xfer() call is finished, CS is accidentally negated.
I guessed it's not your intention. If I got some mistakes, please tell me.

[2021-04-27 19:46] pabigot commented on #34584
I played around with this more, and by using statically allocated work items I can see the delays show up, but I'm not sure where they're coming from.  It looks like the number of pending items in the work queue is normally zero or one, but at some times so many work items are queued that the expected deadline is exceeded.

In any case I can't see anything about this that is specific to work queue

[2021-04-27 20:18] ceolin commented on #32474
Fixed in 87c6311d99e81fd67a66fe1de72b33c3a072b9a5

[2021-04-27 20:18] #32474 closed

[2021-04-27 20:30] scottwcpg commented on #34585
@yerabolu and @ioannisg
The commit a09b5ade26e97953933753a500d5235d8ba85387 remoted a printk() from the spawned thread speeding up thread completion.  Adding a the printk() back or a delay loop writing a read-only HW register allows the test to pass but causes the test application to trigger a fault after all tests have finished.  Tried increasing thread stack size by setting CONFIG_TEST_EXTRA_STA

[2021-04-27 21:41] mnkp commented on #34584
Good point. Though it seems it's a bit tricky to do it in a clean way for non static work items. I could try to pass the memory block that holds the work item to another thread for later processing using one of the available mechanisms (FIFO, message queue) but the queues typically pass the data directly to the waiting thread (if there is a thread waiting). Since handler function itself is execute

[2021-04-28 00:01] wngur300 commented on #33974
**The following configuration in cubemx also booted (LSE settings):**
![lse](https://user-images.githubusercontent.com/46815991/116326787-381fb300-a800-11eb-8e77-237d36a1b89a.PNG)

It is assumed that the code generated by cubemx was booted because it did not check registers to verify that the LSE was ready, such as the LL_RCC_LSE_IsReady() function.
Currently, PC14 and PC15 cannot be tested becaus

[2021-04-28 00:14] ghlualven commented on #34324
I also have tried all the suggestions on the segger page, no lucky.

[2021-04-28 00:15] albertofloyd commented on #34585
@yerabolu was this test passing before?  Do you have any any regression data?
Does the test have any CPU requirements?

[2021-04-28 00:27] yerabolu commented on #34585
@albertofloyd and @scottwcpg: This test was passing before and started failing from c22df64b616c. Will bisect to look into which commit it started failing exactly.

[2021-04-28 00:33] Zhaoningx commented on #34505
Sorry for mistake, I have update the description.

[2021-04-28 00:41] dcpleung opened #34624 "Coding guidelines 15.7 PR causes tests failures"
The `cbprintf_*.c` changes in commit 163b7f0d82235830a2daef394d7dc7bd154dfb35 causes test failures (as seen in https://buildkite.com/zephyr/zephyr/builds/28195). After reverting those changes, the failed test passed again.

1. `tests/lib/mpsc_pbuf` on `qemu_riscv32`: `west build -d /tmp/build -p -b qemu_riscv32 tests/lib/mpsc_pbuf/ -t run`

[code]

2. TFM integration test: `west build -d /tmp/buil

[2021-04-28 01:37] #34325 closed

[2021-04-28 02:25] sylvioalves commented on #33876
@houssine97, not yet, supporting newlibc is tricky. We are working on it.

[2021-04-28 02:42] #34624 closed

[2021-04-28 03:19] LeiW000 commented on #34505
@jukkar , the commit id is e1a6820.

[2021-04-28 03:37] IRISZZW commented on #33858
fixed with PR: #34556.

[2021-04-28 03:37] #33858 closed

[2021-04-28 04:34] hakehuang commented on #33747
can you have a picture on your real boards connection? and if possible can I have your linux host boards shipped to me?

[2021-04-28 04:34] Mani-Sadhasivam commented on #34581
This is not happening because the SPI reads are getting succeeded. I think we can do better here by bailing out if the version is `00` or `ff`. Let me do that.

This also depends on the SPI controller of your chipset or its pin configuration.

Looks like the version info is getting fetched correctly but data is not sent. Did you observe a hang? Can you probe the SPI pins to see if there is any tra

[2021-04-28 06:41] kurddt commented on #31280
Nice. I hope I will be able some time to update my drivers to use this as well as `DEVICE_DT_GET` and contribute them

[2021-04-28 06:45] arienjudge opened #34631 "STM32 SAI peripheral shim"
**Is your feature request related to a problem? Please describe.**
Add support for STM32's SAI on STM32H7 (and others). Currently, Zephyr's I2S shim driver makes use of the I2S/SPI interface available on most STM parts. For the H7 parts, the on-chip SAI peripheral provides more flexibility in the available data formats, number of slots, and more synchronisation options between multiple SAIs.

**De

[2021-04-28 07:16] RobertGalatNordic opened #34632 "add counter to coredump RTT messages"
When I configured coredump to pass data via RTT, I was faced with an issue where RTT is not fully trustworthy. Sometimes I see some artifacts, like missing escape character for shell coloring. This can cause doubt if the recorded coredump is complete.

I tried to add a counter to the every line of the coredump. I placed it before Coredump prefix, so it will not brake any scripts that are meant to

[2021-04-28 07:16] erwango commented on #22748
I'm also concerned about "with all the possible configurations that the application may need". Is that all existing pinmux configurations (which could include all potential tx/rx combinatory) or only the ones configured in device tree by enabled nodes?

[2021-04-28 07:52] Andermutu commented on #34581
Thank you for your answer!

The program keeps running forever and I get "Data Sent" message from console every second. We can not probe SPI pins because we don't have a digital oscilloscope, sorry.

I also think that the right version is 12, because we get 00 or ff when it is disconnected or not properly connected(one SPI pin unwired for example).

[2021-04-28 07:54] gmarull commented on #22748
I think storing all possible combinations is definitely a no-go. In SoC like ST we'd be wasting a lot of ROM for nothing. I think we definitely should avoid something like https://elixir.bootlin.com/linux/latest/source/drivers/pinctrl/stm32/pinctrl-stm32mp157.c here. If I'm not wrong, what was discussed was to store all combinations listed in a board `-pinctrl.dtsi` file in a single place (now it

[2021-04-28 08:02] SpooniSpoon commented on #17902
Hi @manoj153, Are you able to handle quad flash on STM32H723? I want to use quad flash too on a STM32H743.

[2021-04-28 08:09] erwango opened #34633 "STM32: Mass conversion of boards to dts based clock control configuration"
Following merge of #34120, #34609 (done) and https://github.com/zephyrproject-rtos/zephyr/pull/34701 (on-going), dts based clock control configuration will be made available to all STM32 based boards.

This opens the way to a cleaner clock control management on STM32 based targets:
- centralize handling of alternative clocks (like LSE which is controlled directly in various drivers for now)
- simp

[2021-04-28 08:14] AMGab opened #34635 "BME280 build error"
I tired build and flashthe BME280 sensor sample on nrf9160 with adding the proper overlay and prj.config files. It always gives an error. When running on v2.3.0-rc1-ncs2.

`
/home/am/nrfmix/zephyr/drivers/sensor/bme280/bme280.c:31:2: warning: #warning "BME280 driver enabled without any devices" [-Wcpp]
 #warning "BME280 driver enabled without any devices"
  ^~~~~~~
/home/am/nrfmix/zephyr/drivers/s

[2021-04-28 09:25] Nukersson opened #34644 "CAN - Bus Driver Sample"
https://github.com/zephyrproject-rtos/zephyr/blob/4e6cb116f87bb2ff0ece7d8f968adac4dd2c9b3d/samples/drivers/can/src/main.c#L161

Shouldn't it be: `if (can_recover(can_dev, K_MSEC(100)) != 0)`

[2021-04-28 09:59] shuiyihang opened #34649 "Use spi and dma to refresh the screen very slowly"
I am using the spi of stm32 mini to drive a st7735 screen, but I think it is too slow, so I did the following to enable dma,
`&spi1 {
	pinctrl-0 = <&spi1_nss_master_pa4 &spi1_sck_master_pa5
		     &spi1_miso_master_pa6 &spi1_mosi_master_pa7>;
	status = "okay";
	dmas = <&dma1 3 1 0x20440 0x00>,
            <&dma1 2 1 0x20480 0x00>;
    dma-names = "tx", "rx";

	cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>

[2021-04-28 10:15] de-nordic opened #34652 "NVS should be able to correctly read data even if write alignment changes"
**Is your enhancement proposal related to a problem? Please describe.**
There is possible write alignment/write block size change (as proved here https://github.com/zephyrproject-rtos/zephyr/pull/34592#issuecomment-828297527) that may cause NVS to not be able to read correctly data after application image where
write block/write alignment changes with application upgrade, for example due to change

[2021-04-28 10:16] de-nordic commented on #34652
@nvlsianpu , @Laczen FYI.

[2021-04-28 10:23] martinjaeger commented on #33509
Quick status update on this.

I can now reproduce the issue with the nRF52840-DK. There are two different issues:

1. The device does not reset properly if a new app is flashed after the `task_wdt` sample. Pressing the hardware reset button or adding ` "--reset-after-load"` to the J-Link runner makes the new app start properly. But that's of course not a permanent fix.

2. Sometimes (approx. every

[2021-04-28 10:41] alexanderwachter commented on #34644
Good catch! Thanks for reporting.

[2021-04-28 12:02] roland-xz opened #34656 "STM32 ADC - read of multiple channels in a sequence"
**Is your enhancement proposal related to a problem? Please describe.**
Currently STM32 only supports a single channel in a sequence read, this is not consistent with the driver of other SoCs and not documented anywhere.
https://github.com/zephyrproject-rtos/zephyr/blob/1cc73074d0540caa8dd7ea9501afefea2e410791/drivers/adc/adc_stm32.c#L325

**Describe the solution you'd like**
Make it consistent wi

[2021-04-28 12:06] ioannisg opened #34658 "TF-M integration samples do not work with GNU ARM Embedded having GCC v10.x.x"
**Describe the bug**
I am trying to run the TF-M integration samples (on any supported platform) using the GNU ARM Embedded toolchain, and the samples are failing.

**To Reproduce**
Steps to reproduce the behavior:
1. Build and run any of the tfm integration samples (e.g. psa_level1, tfm_ipc) for any supported platform (including AN521 Qemu)
4. See error. For example, in tfm_ipc the psa_call() ser

[2021-04-28 12:07] ioannisg commented on #34658
@galak FYI

[2021-04-28 12:13] caco3 opened #34659 "Bluetooth: HCI cmd response timeout"
**Describe the bug**
We have an application based on a nrf52840. We see `k_sem_take failed with err -11` assertion when we stress the device with a lot of notifications and read requests at the same time.

The system is used for a measurement device. We run an external ADC at 10 kSamples/s and read its data through SPI DMA transfers. After 30 samples (=> 333 Hz) we trigger an Interrupt Handler whi

[2021-04-28 12:16] pabigot commented on #34584
https://github.com/pabigot/zephyr/tree/issue/34584 has my test code, based on the original reproducer.  There's an intermediate commit that has additional diagnostics that confirmed to my satisfaction that the work queue is behaving correctly, but are not necessary to reproduce the problem.

Note that I could not reproduce this on Nordic boards, possibly because of the slower cycle clock.  It does

[2021-04-28 12:17] carlescufi commented on #34593
Could you please send a Pull Request updating the documentation?

HCI USB should work, so this is probably a bug in the USB layer somewhere. Since this seems simple to reproduce I will assign this to @jfischer-no so he can take a look.

[2021-04-28 12:40] microbuilder commented on #34658
Tested on OS X and fails with the following Arm GNU Toolchain releases:

- `10-2020-q2-preview` (GCC 10.1.1)
- `10-2020-q4-major` (GCC 10.2.1)

This seems to be the missing patch, which has been applied in the Zephyr SDK: https://github.com/zephyrproject-rtos/sdk-ng/blob/v0.12.4/patches/gcc/10.2.0/0016-gcc-libgcc-t-arm-Fix-mcmse-compile-test-for-setting-.patch

Arm is aware of this issue, and it s

[2021-04-28 12:40] carlescufi commented on #34593
@Vudentz have you seen something similar before, a packet transmitted by BlueZ over USB that doesn't go over the air when using a Zephyr-based controller?

[2021-04-28 12:41] hakehuang opened #34662 "many udp networking cases fails on nxp platforms"
**Describe the bug**
many net work cases fails on nxp platforms

tests/net/udp
tests/net/dhcpv4
tests/net/icmpv4
tests/net/ethernet_mgmt

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1050_evk / mimxrt1060_evk / mimxrt1064_evk / frdmk64f
3. make
4. make flash

**Expected behavior**
test pass

**Impact**
udp related protocol test features

**Logs

[2021-04-28 13:06] nashif commented on #34503
duplicate of #32448

[2021-04-28 13:06] #34503 closed

[2021-04-28 13:46] hakehuang opened #34667 "posix_apis:mimxrt685_evk_cm33 timeout in test_posix_realtime"
**Describe the bug**
posix related cases hangs when run
test_posix_realtime

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt685_evk_cm33
3. make
4. make flash

**Expected behavior**
test pass

**Impact**
no clear.

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux, MacOS, Windows)

[2021-04-28 13:46] hakehuang commented on #34667
@MaureenHelm , @dleach02

[2021-04-28 13:47] hakehuang commented on #34662
@MaureenHelm , @dleach02

[2021-04-28 13:59] galak commented on #34658
the arm gcc is known to be buggy for tfm

[2021-04-28 14:01] galak commented on #34658
See my comments here:

https://lists.trustedfirmware.org/pipermail/tf-m/2021-February/001498.html

[2021-04-28 14:01] galak commented on #34658
This is fixed in upstream gcc 10.3.0 now.

[2021-04-28 14:06] #34605 closed

[2021-04-28 14:07] erwango commented on #34656
I'm closing as already requested in https://github.com/zephyrproject-rtos/zephyr/issues/32288.

[2021-04-28 14:07] #34656 closed

[2021-04-28 14:11] galak opened #34668 "i2c_ite_it8xxx2.c fails to build - possibly related to device_pm_control_nop changes"
Running the following fails:

[code]

We get:

[code]

[2021-04-28 14:16] jukkar commented on #34662
Shoudl be fixed by #34655, please try that fix and report back.

[2021-04-28 14:16] gmarull commented on #34668
@galak yes, it's related to `device_pm_control_nop`. https://github.com/zephyrproject-rtos/zephyr/pull/34642 should fix the problem

[2021-04-28 14:45] Sergi22 opened #34669 "uart_read_fifo() reads only 2 chars on nucleo STM32L43KC and nRF52840-DK"
I'm trying to setup RX over UART in INTERRUPT_DRIVEN mode.

Here is my code:
[code]

Basically what If get in the terminal when I try to send message over UART and print it with printk()
![image](https://user-images.githubusercontent.com/26751873/116423293-3a5a2f80-a849-11eb-8f17-cb710ece4761.png)
On Nordic it gets 1st and 7th letters, on STM32 it gets first letters.
Did anyone had similar issue ?

[2021-04-28 14:55] #34668 closed

[2021-04-28 15:11] de-nordic opened #34670 "smp_svr sample configured for serial port with shell management enabled does not work"
**Describe the bug**
smp_svr sample for serial with overlay-shell-mgmt.conf applied does not respond to mcumgr requests.
Tested on nrf52840dk_nrf52840

**To Reproduce**
Steps to reproduce the behavior:
1. build sample for nrf52840dk_nr52840 according to  instruction (https://docs.zephyrproject.org/latest/samples/subsys/mgmt/mcumgr/smp_svr/README.html?highlight=smp_svr) but with nrf52840dk_nrf52840

[2021-04-28 15:19] nashif commented on #34473
discussed with @carlescufi , this is unrelated to python requirements file.

[2021-04-28 15:19] nashif commented on #34473
repo created.

[2021-04-28 15:19] #34473 closed

[2021-04-28 15:34] manoj153 opened #34672 "stm32h7: issue with CONFIG_UART_ASYNC_API=y"
As per the title, I am on an STM32H723 mcu, `uart_tx `and `uart_rx` is working fine on application code

setting `CONFIG_UART_STM32=y` and disabling the async allow the shell to be functional.

What are steps i could possibly do to get the shell work on async_uart?

[2021-04-28 15:53] kevin137 commented on #33747
Hello @hakehuang and everyone listening in,

To anyone trying our code, please do a fresh checkout of the latest commit at:

https://github.com/ainguraXmarquiegui/zephyr/tree/feature/aingura_gptp_tests
and
https://github.com/ainguraXmarquiegui/hal_nxp/tree/feature/aingura_gptp_tests

Thanks to our friends at EBV, we got our hands on a FRDM-K64F and were able to run the same code on all three board

[2021-04-28 16:46] erwango commented on #34672
@manoj153 When setting CONFIG_UART_ASYNC_API, you need to provide a valid configuration for dma channels, do you have that ?

[2021-04-28 16:49] erwango commented on #34672
For instance look at: `tests/drivers/uart/uart_async_api/boards/nucleo_g071rb.overlay`
(this has to be updated for your need based on information from dma bindings)

[2021-04-28 16:59] manoj153 commented on #34672
yes I do have them, my uart_rx is working async method, that gives indication it works?

[2021-04-28 17:01] #34563 closed

[2021-04-28 17:23] carlescufi commented on #33977
Thanks! Closing the question for now, feel free to reopen if you have more questions.

[2021-04-28 17:23] #33977 closed

[2021-04-28 17:30] #34005 closed

[2021-04-28 17:43] cvinayak commented on #34659
@caco3 Relates to #25917

@joerchan  can #26057 be used as a fix/workaround for the deadlock?

[2021-04-28 17:49] #34402 closed

[2021-04-28 18:06] #33815 closed

[2021-04-28 18:06] #33840 closed

[2021-04-28 18:30] albertofloyd commented on #34585
Thanks @yerabolu . That commit seems to be part of this PR https://github.com/zephyrproject-rtos/zephyr/pull/33302 introduced by as part of tickeless idle removal.

I;m not clear in the implications from tickeless removal to the RTOS drivers @andyross @nashif  could you indicate if preliminary analysis from @scottwcpg is going in the direction expected by Zephyr.

[2021-04-28 18:32] #21061 closed

[2021-04-28 18:38] jenmwms commented on #33544
ping @andyross Can you please offer feedback or recommendation?

[2021-04-28 20:05] nandojve commented on #34045
The #34680 fix this issue?

[2021-04-28 20:07] caco3 commented on #34659
Thanks for the reference to this open patch. I ported it to `2.5.0` and gave it a try.
Patch is [here](https://github.com/zephyrproject-rtos/zephyr/pull/34681/files), I just did it quickly but it compiled and BLE communication worked.

Sadly, I still experience the crashes, but it looks a bit different now:
[code]

Another time it looked as following:
[code]

[2021-04-28 20:33] ceolin commented on #34214
I got a similar problem when trying to generate the device list at build time using the address from the pre-built image. The length of the weak / strong have to be the same otherwise we get into problems.

[2021-04-28 22:39] nandojve opened #34683 "MCUboot not confirm image when using 'west flash'"
**Describe the bug**
When an App uses MCUboot as bootloader it needs confirm any "clean/new" image at first boot. This always worked on Zephyr until pre-2.5.0 version. Now, it was detected that an image flashed using OpenOCD is not confirming images anymore. This was detected with frdm-k64f, nrf52840dk_nrf52840 and nucleo-f767zi. One possible consequence is an infinite loop that tries boot the boa

[2021-04-28 23:41] JordanYates commented on #23520
As of JLink 7.20, Zephyr is supported:
https://www.segger.com/downloads/jlink/ReleaseNotes_JLink.html

[2021-04-28 23:41] #23520 closed

[2021-04-29 00:26] nandojve commented on #33910
At `sam_v71_xult` board the `usart1` is used as console. The `txd1` pin is shared with `twd1` and you can't have both `twihs1` and `usart1` at same time. I think that is the issue.

You can test using a USB<->serial with any UART port. Try disable USART_SAM driver and enable UART_SAM.
Look at [same70-pinctrl](https://github.com/zephyrproject-rtos/zephyr/blob/master/dts/arm/atmel/same70-pinctrl.dts

[2021-04-29 01:36] jenmwms commented on #34117
FWIW This/similar issue was recently resolved with patch 148769c "sched: timeout: Do not miss slice timeouts".  I can also use that as a last-known-working for git bisect to find where/why this broke again.

[2021-04-29 02:47] jenmwms commented on #34117
Perhaps this bug is not reproduceable on all EHL platforms? I'll keep trying on a different board next, because first device passed. Then debug once it's isolated.

[2021-04-29 03:52] hakehuang commented on #33747
@kevin137 , can you try same? set a break point at ENET_Ptp1588GetTimer , and show me what you can see? you code in gptp/src/main.c has some problem, because it is to check the register after the init_testing, but if the init_testing quit, the whole test is end, see below code. what is the ret when you quit? at my side the for rt boards the status is
the board is running in DISABLED.
but for frdmk

[2021-04-29 03:55] yerabolu commented on #34117
@jenmwms : I retested this on EHL_CRB now and tests are passing. So closing this issue.

[2021-04-29 03:55] #34117 closed

[2021-04-29 05:12] ceolin commented on #33265
https://github.com/zephyrproject-rtos/zephyr/pull/33942

- Address device PM during startup and availability of kernel services
- Add samples using hardware for device_pm_get/put APIs
- Address thread concurrency and move away from work queues when calling _get()/_put APIs in device drivers (mostly)

[2021-04-29 05:20] ceolin commented on #31774
We have samples and tests in tree doing what was requested here. I think the biggest problem is that some of them are not easily found. Instead of just creating another similar test I'll gather all of them and ensure they are visible in the documentation.

[2021-04-29 06:34] KangJianX opened #34687 "intel_adsp_cavs15: run tests/kernel/semaphore/semaphore/ failed on ADSP"
**Describe the bug**
run semaphore testcase failed.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/semaphore/semaphore/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/zephyrproject/modules

[2021-04-29 06:55] mHendelja commented on #34324
@erwango did all steps and some additional settings, nothing enables RTT.

[2021-04-29 07:03] erwango commented on #34324
@wthidden, @mHendelja Thanks for reporting. Unfortunately, I don't know much about RTT and I'm not a user, so my ability to help will be limited. I'll try to seek for information internally.

[2021-04-29 08:34] #34154 closed

[2021-04-29 08:36] mnkp opened #34690 "net: process_rx_packet() work handler violates requirements of Workqueue Threads implementation"
**Describe the bug**

The Workqueue Threads implementation imposes the following requirement

This requirement is violated by `void process_rx_packet(struct k_work *work)` work handler function implemented in `subsys/net/ip/net_core.c`.

In the RX path when data are received, e.g. from an Ethernet driver, the packet is submitted to a workqueue in an interrupt context and then processed by `process

[2021-04-29 09:08] e-devs commented on #34049
Hello @anangl

Did you have a chance to check my question?

[2021-04-29 11:17] aunsbjerg commented on #34045
No, as far as I can tell, that fix doesn't make any difference.

Building mcuboot with `CONFIG_MCUBOOT_CLEANUP_ARM_CORE=y` does make the application image boot just fine though, so that's progress. I'm not sure if that setting should be added to the sample on a permanent basis or if the mentioned PR should make that unnecessary for cortex-m SoC's.

[2021-04-29 11:18] manoj153 commented on #34672
additional info about this bug:
With:
`CONFIG_UART_ASYNC_API=y
`
1. Logging works
2. Enabling shell-related cfgs breaks the uart functionality  eg: ```CONFIG_SHELL=y``` but no error printed, system boots up, print zephyr version and all other user-threads runs, so it seems like something messed the particular UART and caused it not functional anymore. Anyone who understands the shell subsys might

[2021-04-29 11:48] jukkar commented on #34690
Thanks @mnkp.

This issue was already discussed in slack with following summary:

* Because of this workqueue restriction, it is not easy to free the `net_pkt` that contains the used `k_work`, as we cannot unref it from workhandler (as that would overwrite the `k_work` which is still in use)
* One possible solution could be to use `k_fifo` instead of `k_work` in RX path, so the `net_data_recv()` w

[2021-04-29 11:49] #2336 closed

[2021-04-29 12:19] yashi opened #34696 "Unable to select LOG_DICTIONARY_SUPPORT when TEST_LOGGING_DEFAULTS=y"
**Describe the bug**
The commit 7f08061f0c4d341f37b206a95b7e1a4c0b292253 changed `imply LOG_MINIMAL` in `subsys/testsuite/Kconfig` to `select LOG_MINIMAL`, which prohibits menuconfig users not to select desired logging mode and effectively reverts the commit 34b7a6c81cd9483b3e40178b7012fbd4b376af43.

Because it selects `LOG_MINIMAL` instead of `LOG_MODE_MINIMAL`, you can't test any feature such as

[2021-04-29 12:34] yashi commented on #34696
I guess I misread the help string on `TEST_LOGGING_DEFAULTS`.  It seems like when you want the minimal mode logging with test, you select `TEST_LOGGING_DEFAULTS`, which is by default.  If you want other logging mode, you need to deselect it.

hmm... Why do we need this `TEST_LOGGING_DEFAULTS`?

[2021-04-29 12:48] carlescufi commented on #34403
@madscientist159 is this still an issue with the latest master?

[2021-04-29 13:20] jukkar commented on #34690
The changes were actually quite easy to do, and we get 10% better performance for both RX and TX. I think is good candidate for 2.6.

[2021-04-29 13:57] yashi commented on #32531
how do you want to fix this?  It's nice for a casual user to check who's maintaining what.  I've checked the file and noticed that:
a) some files have been moved to other dirs
b) some glob patterns match other dirs

for (a), I can send a patch to MAINTAINERS.yml.  But for (b), I'm not sure what an acceptable fix is.  you can 1) fix MAINTAINERS.yml, or 2) ignore directory match when `/` is not pres

[2021-04-29 14:13] aescolar commented on #32531
@yashi The issue (as far as I understand it) would be that the syntax of MAINTAINERS has diverged from the original file format, which is what get_maintainer.py expected. But the yml file is also parsed now to autolabel, add reviewers and auto assign PRs by a separate script which @nashif wrote (AFAIK).
So I guess the first question is, should MAINTAINERS syntax be rolled back to the original and

[2021-04-29 14:14] erwango commented on #34633
Related ticket:

- [] nucleo_f4*1re: https://github.com/zephyrproject-rtos/zephyr/pull/34663

[2021-04-29 14:15] carlescufi commented on #22748
@mbolivar-nordic and @erwango

To be clear, when I say "with all the possible configurations that the application may need", what I mean is "all pin configurations that are applicable to one particular board". So that means that you have to know **at build time** which pins are connected where, in some cases to more than one peripheral, on the board, and that's the only set of combinations that wi

[2021-04-29 14:18] de-nordic opened #34706 "RFC: API Change: flash_area"
### Problem description
Current flash_area structures contain much more fields than needed for Zephyr operation out of compatibility with mcuboot and rely on device_get_binding to get device name at compile time prior to any operation on flash.

### Proposed change

The proposed change is to replace flash_area access within mcuboot and other external projects with getter functions and make flash_a

[2021-04-29 14:30] wthidden commented on #34324
What was the reasoning on giving this bug a  low priority?

[2021-04-29 14:32] nvlsianpu opened #34707 "drivers/flash: extend API by write/erase with flash content check and re-write"
Usually flash drivers/controllers doesn't check whether what was requested to be  write was written. As flash driver API implements just write, it doesn't mean that corruption of written data will be detected as error by the driver.

Most of FS and storage system implementation assumes that write/erase operations are reliable (and they usually are).
If corrupted write or corrupted erase occurred t

[2021-04-29 14:36] nvlsianpu commented on #34707
cc @Laczen @d3zd3z @de-nordic @anangl @carlescufi
This idea came with review of my draft PR for fixing issue which looks like results of silently unwritten flash.
See the comment: https://github.com/zephyrproject-rtos/zephyr/pull/33947#issuecomment-822227983

[2021-04-29 14:37] mbolivar-nordic commented on #22748
@carlescufi that sounds more reasonable to me, but I think it is not compatible with "the Linux approach" option proposed by @mnkp . Or did I misunderstand?

Anyway, I guess we'll see when we have a real API proposal, but it seems like we all agree that the Zephyr API needs to give the user (i.e. the board or application maintainer) full control over how much ROM to allocate to pin configuration d

[2021-04-29 14:40] erwango commented on #34324
One subsystem on one vendor.

[2021-04-29 14:47] carlescufi commented on #22748
That is, to my understanding, exactly the Linux approach. Except Linux doesn't really have "boards" so they define more combos than strictly required. We can narrow it down better than them because we know exactly for which physical PCB we are building for.

[2021-04-29 14:53] carlescufi commented on #34282
@yurvyn a couple of notes from the TSC meeting:

1. Do you work for Telink? If not, then you will need to provide us with evidence that Telink allows for the license change
2. Would it be possible to create an "upstream", ideally in Telink's GitHub organization, with the relicensed files, so that we can fork that? The TSC feels that this would be more consistent with the approach we take for other

[2021-04-29 14:53] mbolivar-nordic commented on #30708
@hubertmis I have reviewed the existing materials and I have a proposal for how to proceed.

I think the request is for me to write a single DT binding that will apply to the Skyworks 66112 device and other similar devices, as well as the nRF21540 and potentially other Nordic FEMs. I think that has to be the case since we want to be able to use all of these devices as a FEM within the split contro

[2021-04-29 15:00] carlescufi commented on #34696
I think that `TEST_LOGGING_DEFAULTS` was introduced by Andrew but @nashif knows why it's necessary.

[2021-04-29 15:10] Laczen commented on #34707
@nvlsianpu, maybe I was a bit too quick in saying that this belongs in the flash driver. It seems that littlefs does a check of a write even if the flash driver provides a write error return.

[2021-04-29 15:53] nvlsianpu commented on #34707
^^ that's nothing. It is RFC for query what can be done and what can't.

[2021-04-29 19:41] madscientist159 commented on #34403
@carlescufi I'll check later tonight.  It looks like the only change was a stack increase?

[2021-04-29 20:07] mnkp commented on #22748
Just to reconfirm what @carlescufi has already stated. In case of option a) described here as "Closer to the Linux approach" the pinctrl would only store those combinations of pin configuration data that the application developer defined in the DTS for the given board they are developing their application for.

As it was already noted here, with modern hardware, it's not feasible to store all the

[2021-04-29 20:30] jenmwms commented on #34117
Thank you @yerabolu !

[2021-04-29 21:35] kevin137 commented on #33747
Hi again @hakehuang ,

I'm having a few logistical issues and am not able to get the debugger to run on the 1050 this evening. No problems on the K64F, but the interesting stuff is happening on the 1050.

We see what you are getting at with the init_testing comment, but we don't see the exit happen because in our case, run_duration is 0, so init_testing exits at the fifth line, "exit(ret);" never

[2021-04-29 21:38] simonguinot opened #34716 "flash: spi_nor: build fails when CONFIG_SPI_NOR_SFDP_RUNTIME is enabled"
The spi_nor driver fails to build when the CONFIG_SPI_NOR_SFDP_RUNTIME option is enabled.

Here is the build error message:
[code]

[2021-04-29 22:06] #33475 closed

[2021-04-29 22:31] mnkp commented on #34262
The existing pinmux driver is going to be deprecated. I think the best option for now when adding a new SoC to Zephyr is to keep pinmux driver private to the soc. I.e. place it in `soc/<arch>/<family>/` and do not provide the public pinmux driver. You can take Atmel SAM family as an example. The pinmux driver is located in `soc/arm/atmel_sam/common/soc_gpio.c`. It's used by all Atmel SAM drivers b

[2021-04-29 22:48] jenmwms commented on #33275
@nashif Do you have any ideas why the option `CONFIG_THREAD_RUNTIME_STATS` breaks this shell_module sample for EHL?

[2021-04-30 02:59] hakehuang commented on #33747
on board debug should work, you just use below command line
[code]

[2021-04-30 04:43] ghlualven commented on #34324
I hope this would be fixed soon.

[2021-04-30 05:19] hubertmis commented on #30708
@mbolivar-nordic Thanks for looking into this issue. Let me shortly explain the idea behind separated bindings downstream.

PA/LNA modules are managed with different interfaces. Some of them use simple GPIO signals (some of them as simple as one line to trigger PA and second one to trigger LNA), other use more complicated serial data interface like SPI. SKY66112 is one example of PA/LNA module wit

[2021-04-30 05:27] hubertmis commented on #30708
I see now that BLE SW controller uses single severely ifdefed driver for all PA/LNA modules. I think that's the source of confusion. I'm in favor of refactoring this driver and split it into smaller parts without all these ifdefs. It should be easier to read and maintain, and would be aligned with bindings naming pins according to naming for given device.

[2021-04-30 06:08] nordic-krch commented on #34696
@yashi, `TEST_LOGGING_DEFAULTS` was introduce to enforce using minimal logging as the default mode in the tests. Log minimal is a simple redirection to printk so it does not support `LOG_DICTIONARY_SUPPORT`,

[2021-04-30 06:19] marc-hb commented on #33567
That Z_MAX attempt did not fly.

Sorry for the delay, there was some debate on the SOF changes required and then I got caught into something else.

I see you pointed zephyr/west.yml at your workaround in the mean time: https://github.com/nordic-krch/sof/commit/2f8ef204454d278f0c18

The final SOF decision is to drop the fancy, run-time gcc statement-expressions and align SOF with the basic, compile

[2021-04-30 07:09] Laczen opened #34722 "nvs: possibility of losing data"
**Describe the bug**
When nvs does a garbage collection to free up space for new writes it ends by doing a flash erase of a sector. When the erase is interrupted due to a power fail the subsequent startup of nvs will detect data in the sector that was being erased and restart a gc operation (erasing the already copied data). As the erase was ongoing the data that is found in the sector might no lo

[2021-04-30 07:13] Laczen commented on #34706
@de-nordic, the aim of this change seems to be to reduce the rom size of a zephyr application that is not mcuboot. Could you add some figures showing the difference in rom size of an application using the old API and the new API?

[2021-04-30 07:33] hubertmis commented on #30708
Alternatively, if it is preferred to minimize changes to BLE SW Controller, I would recommend to create aliases in there like:
[code]

[2021-04-30 07:54] joerchan commented on #34659
I think if this is the fix needed the symptom should be possible to see in a sniffer log, it should be locked with NACKS at the LL.

The USAGE fault could mean a stack overflow, or calling of an invalid function pointer.

[2021-04-30 07:55] cvinayak commented on #30708
To reduce work, we keep the nRF21540 bindings as-is, use aliases as suggested here https://github.com/zephyrproject-rtos/zephyr/issues/30708#issuecomment-829903166 . We add the new generic and skyworks bindings inline with @mbolivar thoughts.

[2021-04-30 08:12] joerchan commented on #34541
@kaiser-ren We haven't added them so far because this is not a finished feature, if we add them we would just be getting bug-reports on something that is not finished, which is something we wish to avoid.

[2021-04-30 08:12] #34541 closed

[2021-04-30 08:31] gmarull commented on #34121
I think PDF documentation is currently not well maintained, so I'd not be surprised if it is broken or the output is not properly structured. I think that the addition of Kconfig/DTS bindings made things worse, the number of pages has likely exploded. I'd personally remove the PDF option since it adds no value as of today. Opinions @carlescufi @nashif ?

[2021-04-30 08:41] carlescufi commented on #24908
We would need a bit more information as to what you would like to do.
If you want examples on how to distribute code as shared libraries (`.a`) you can take a look at the [sdk-nrfxlib](https://github.com/nrfconnect/sdk-nrfxlib) repository of the Nordic nRF Connect SDK, which is pulled by the main [sdk-nrf manifest](https://github.com/nrfconnect/sdk-nrf/blob/master/west.yml)

[2021-04-30 08:48] carlescufi commented on #24908
Note that Zephyr does not support dynamic linking at all, so the `.a` files need to be present at build time

[2021-04-30 08:52] yurvyn commented on #34282
@carlescufi, than you for the support, please find my answers below.

Yes, I do work for Telink.

Currently Telink does not have an account on GitHub.
I have reported these two issues to my managers and the next options are under discussion:
1. hal_telink with precompiled binary file. Telink will create an account on GitHub, create an "upstream" for hal_telink with relicensed files. The precompile

[2021-04-30 08:59] yashi commented on #34696
@nordic-krch Thanks for your feedback.  Do we really want to _enfoce_ minimal logging with tests? The commit 34b7a6c81cd9483b3e40178b7012fbd4b376af43 reads:

I'm not sure what was the intent.  If we just want minimal logging as the default with test suite, we can do like this.

[code]

Many `prj.conf`s and `defconfig`s set `TEST_LOGGING_DEFAULTS=n`, so we have to make sure that the change doesn't

[2021-04-30 09:00] carlescufi commented on #34282
Thanks! That makes things simpler.

Note that it doesn't have to be GitHub. It can be any other Git hosted repository or even a downloadable link for a .zip package with the files licensed under a permissive license.

This should work fine, but not that, just like for Espressif, Telink users will have to go through an extra step (i.e. `west espressif update`) to get the libraries, since the defaul

[2021-04-30 09:13] LeiW000 commented on #34505
@jukkar , thanks for fixing the issue.

[2021-04-30 09:48] yurvyn commented on #34282
@carlescufi, thanks for the clarifications, now it is fully understandable.

Now I am waiting for the decision from my managers.
If the decision is that we should go with "libB91.a", we will create a Telink organization account on GitHub.
If the decision is that we should go without "libB91.a", I think we will provide a downloadable link for a .zip package on Telink website.

Will come back once t

[2021-04-30 10:13] erwango commented on #34669
If both targets are impacted, this could be an API related usage issue.
@dcpleung would you mind having a look ?

[2021-04-30 10:16] erwango commented on #34672
@manoj153 This could be because SHELL subsys selects UART_INTERRUPT_DRIVEN. Maybe you can have a check in that direction ?

[2021-04-30 11:03] Mani-Sadhasivam commented on #34581
No, I asked what happens when you connect the lora module?

Since this driver supports both SX1272 and SX1276, correct versions are `0x12` and `0x22`. I'll add check for these.

[2021-04-30 11:50] ABOSTM opened #34732 "stm32h747i_disco: Wrong Power supply setting LDO"
**Describe the bug**
Clock_control driver for STM32H7 set LDO as powersupply source.
https://github.com/zephyrproject-rtos/zephyr/blob/29c838ed1dc9aa2520051b670d387b3d4d02187c/drivers/clock_control/clock_stm32_ll_h7.c#L262
https://github.com/zephyrproject-rtos/zephyr/blob/29c838ed1dc9aa2520051b670d387b3d4d02187c/drivers/clock_control/clock_stm32_ll_h7.c#L278

But on stm32h747i_disco board, both po

[2021-04-30 12:25] julien-massot opened #34734 "Can handler doesn't compile with CONFIG_USERSPACE"
**Describe the bug**
Can handler is looking for set_bitrate can api which no longer exist.

**To Reproduce**
Steps to reproduce the behavior:
west build -b stm32f4_disco zephyr/samples/userspace/hello_world_user/ -DCONFIG_CAN=y --build-dir stm32_user

**Expected behavior**
Compilation  should not fail

**Logs and console output**

In file included from /home/julien/src/out/zephyr/drivers/can/can_h

[2021-04-30 12:32] carlescufi commented on #34722
@Laczen do you have a fix in the works?

[2021-04-30 12:40] Laczen commented on #34722
To tell you the truth, I don't, I even don't know if it's possible (been challenging myself all morning).

[2021-04-30 12:50] #34635 closed

[2021-04-30 13:02] carlescufi commented on #34282
Thank you for your patience @yurvyn. Of course the ideal outcome for Zephyr and for its users would be to use source code only, especially for something as fundamental as a HAL.

[2021-04-30 13:31] mglettig commented on #34438
I am also  interested in having HTTPS support in civetweb. Civetweb v1.14 is the latest release and also the first version that supports the mbedtls library. So I guess there is a chance to get HTTPS working when integrating the latest release v1.14 in Zephyr and setting the WITH_MBEDTLS=1 when building civetweb.

[2021-04-30 13:57] erwango commented on #34672
@manoj153 I don't think this something doable. At minimum it would require some shell driver rework.
So I think the assumption should be that shell requires UART_INTERRUPT_DRIVEN.
The question would be: is there a way to get it work with UART_ASYNC_API on top?

Let's ask the shell codeowners: @jakub-uC @nordic-krch.

[2021-04-30 14:05] mglettig opened #34737 "Can't compile CIVETWEB with CONFIG_NO_OPTIMIZATIONS or CONFIG_DEBUG"
**Describe the bug**
When setting either CONFIG_NO_OPTIMIZATIONS =y or CONFIG_DEBUG=y CIVETWEB server has compile errors. The compile errors say that the POSIX functions ferror and fileno were undefined. These are POSIX functions that are not supported by Zephyr according to the documentation.

**To Reproduce**
Steps to reproduce the behavior:
Build https://github.com/zephyrproject-rtos/zephyr/tre

[2021-04-30 14:12] galak opened #34739 "tests/arch/arm/arm_no_multithreading/arch.arm.no_multithreading fails to build on a number of platforms"
`./scripts/twister -s tests/arch/arm/arm_no_multithreading/arch.arm.no_multithreading -l`

Gets:

[code]

logs look like:
[code]

[2021-04-30 15:10] ioannisg commented on #34739
I wonder how this was not caught by CI @nordic-krch

[2021-04-30 16:11] mbolivar-nordic commented on #30708
@hubertmis hmm, maybe I'm missing something here but I'm not sure your counterproposal is workable as a generic replacement for the existing Kconfig options. It seems to me that the openisa controller also supports these Kconfig options, and we can't just go about adding SOME_VENDOR_FEM_PRESENT ifdefs everywhere for every supported controller, can we?

I agree we could write a FEM driver API that

[2021-04-30 18:10] #34716 closed

[2021-04-30 18:10] manoj153 commented on #34672
I am also thinking if INTERUPT and ASYNC can work at the same time?, that means interrupt uart call API works smoothly

[2021-04-30 20:19] bwasim commented on #17486
@anangl , Sorry to bring this up on such an old issue, but does enabling ANAMOLY_198_WORKAROUND have any side effects on the rest of the system ? This work around writes to registers which aren't document in the any guides, and so we aren't sure what happens under the hood and if it has any impact on other stuff.

[2021-05-01 00:29] #32212 closed

[2021-05-01 01:45] hongshui3000 commented on #34121
For a user who is trying to use zephyrrtos in a real product, it is useful to be able to generate pdf. This is why I am trying to generate the pdf

[2021-05-01 02:45] prathje opened #34748 "Native posix: Segmentation fault in case of allocations without explicit heap assignment"
**Describe the bug**
I am trying to dynamically allocate memory (for e.g. a message queue) in the native POSIX architecture.
Without explicitly assigning the main thread to a heap, I get a segmentation fault. I assume that the resource pool of the thread is not properly initialized which might result in a segmentation fault when dereferencing.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-05-01 11:01] JordanYates commented on #21392
I have had a look into this and have made the following observations:
`ControlStatementsExceptForEachMacros` is present in clang-format 11.0.0, it fixes the issue identified by @pabigot.
`AlignConsecutiveMacros` will probably want to use `AcrossEmptyLinesAndComments`, as this is the default format in a lot of Zephyr code, however this is only present in version 12.0.0, which is released, but not r

[2021-05-01 11:19] phantomblot-x commented on #34593
The ACL Tx (host to controller) bulk end-point of the USB driver is 1 - not 2 as suggested by the the BT HCI USB spec. I faced a similar issue using a custom BT host stack that I could not transmit ACL data. If I change my host to bind ACL Tx to end-point 1, it seems to work.
It would be nice though if the driver exposed the end-points suggested by BT spec.

[2021-05-01 11:43] kaiser-ren commented on #34541
@joerchan , I don't agree with you. There are two samples, ./samples/bluetooth/periodic_adv/ and ./samples/bluetooth/periodic_sync/, they are public and periodic adv are enabled by default.

[2021-05-01 13:29] Nukersson commented on #34737
I think, we have either to wait for Implementation or you can just create stubs for this functions.

[2021-05-01 17:06] hubertmis opened #34752 "west flash: nrfjprog: using --pinresetenable by default may lead to bricking development boards"
**Is your enhancement proposal related to a problem? Please describe.**
I'm using a development board including nRF52840. Because of limited number of available pins, the pin assigned by default as RESET (0.18) on this board is connected to a peripheral. I expected that setting `CONFIG_GPIO_AS_PINRESET=n` in the project configuration would be enough to easily use Zephyr on this board. Unfortunatel

[2021-05-01 19:52] bob2oneil opened #34753 "Building and Debugging Zephyr for Native Platform on Linux using VSCode and/or QtCreator"
I am trying to use a standard IDE on Linux as a build and development platform for Zephyr, with the board targets to native POSIX builds.

I have had success with the process in VS Code, where I am able to single step and debug into the Zephyr.exe generated using the standard "west build -p auto -b native_posix_64 samples/string" build tool, and then specifying the "west" built binary in the build

[2021-05-02 00:48] rettichschnidi commented on #17005
@carlescufi Any updates?

[2021-05-02 09:54] cvinayak commented on #34541
@kaiser-ren I will go with @joerchan, the periodic_adv and periodic_sync  samples have already started raising github issues for the feature being experimental in the Zephyr controller. I will plan to remove the board specific configuration files until the feature is stable.

[2021-05-02 10:19] kaiser-ren commented on #34541
Okay, no objection to close this issue.

[2021-05-02 13:47] cvinayak commented on #33950
Closing the issue as periodic advertising feature is experiment and work is still in progress.

[2021-05-02 13:47] #33950 closed

[2021-05-02 13:50] nandojve commented on #33523
Hello @eHammarstrom ,

As comment at [BOSSAC RFC](https://github.com/zephyrproject-rtos/zephyr/issues/29312), offset indicate where erase starts.  You should ensure to remove knowledge of the bootloader size from BOSSAC, see https://github.com/shumatech/BOSSA/commit/dbdd088909c57bdf9aee191720bf6c6159217e22.

As mentioned

This means that your bootloader/tool is not following what was defined by sh

[2021-05-02 13:53] cvinayak commented on #13553
Closing, as there is no planned work related to this issue.

[2021-05-02 13:53] #13553 closed

[2021-05-02 14:07] caco3 commented on #34659
Thanks for the tip. I did a trace using an nRF52840-DK and Wireshark.
The trace is attached: [Wireshark.pcapng.gz](https://github.com/zephyrproject-rtos/zephyr/files/6411478/Wireshark.pcapng.gz)
How ever I do not see any error in it.
Below some screenshots for further explaining the happening.

### Measure Mode: Data notifications (handle 0x28, 241 bytes of payload) every 1.4 ms
![notification](ht

[2021-05-02 14:19] Swij commented on #34752
I just encountered this issue as well on my board. I think it's unacceptable that west modifies the UICR as a default behavior when it resets the board. Pin reset should only be enabled if the user requests it using `--pinresetenable`.

[2021-05-02 14:50] eHammarstrom commented on #33523
@nandojve Thanks for clarifying this, I was not aware that the binaries differed in the `--offset` behavior.

I wonder if it would be beneficial for West's bossac runner to output a warning if a non-zephyr bossac binary is supplied?

If not, you may close this ticket.

[2021-05-02 15:45] eugmes commented on #33523
@nandojve: The documentation here https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/arduino_nano_33_ble/doc/index.rst#programming-and-debugging says to use bossac from Arduino IDE. Is there a special Zephyr version of bossac that should be used instead?

[2021-05-02 16:46] nandojve commented on #33523
@eHammarstrom ,

I'm not sure if it is possible detect.

@eugmes , as far I know, @saltyJeff used a special nRF branch, see his comments here: https://github.com/zephyrproject-rtos/zephyr/issues/33523#issuecomment-804392269

[2021-05-02 21:25] nandojve opened #34757 "west update: Default behavior should fetch only --depth 1"
**Is your enhancement proposal related to a problem? Please describe.**
I can imagine that majority of developers that are using Zephyr don't require full module clone. This can save tons of space and speed up some CI/CD systems. For these cases, a fetch that uses a --depth 1 is enough.

For instance, the new tensorflow module fetch:
[code]

git clone --depth 1 on the valid hash is most than enoug

[2021-05-03 01:17] shachar-oren commented on #34011
I have the same problem when compiling for the nRF52840dk. The following code produces the same error:

[code]

Relevant compiler output:
[code]

[2021-05-03 06:25] mglettig commented on #34218
Hi @Nukersson & @gebauerf

I noticed that the webserver behaves correctly when compiling with CONFIG_DEBUG=y. In that case an error 404 is returned when I try to access a non existing resource which is what is expected. Therefore I suspect some issues with optimizations.

Regards,
Michael

[2021-05-03 06:41] Nukersson commented on #34218
Thank you all very much for your very big effort in finding the bugs. I think with this knowledge the investigation of the bug can be done much faster. Unfortunately, I have no time for fix now. Sorry. I will take a look as soon as I can. If you are kind, you can always create your own fix. I can provide a review. I hope it is okay for you.

[2021-05-03 07:10] Andermutu commented on #34581
When I connect the Lora module I get version 12 found and "Data sent" print from console. However, I can not receive the sent data in my gateway/receiver device.

[2021-05-03 07:49] aunsbjerg commented on #34753
#21119 and #17645 may have some useful information for using vscode for zephyr development.

You can add a default build task in vscode that invokes west build:

[code]

Then you can use `ctrl+b` to quickly build. You can also add task inputs to make the build target a bit more generic.

[2021-05-03 08:08] carlescufi commented on #34757
Another option would be to use the [groups(https://docs.zephyrproject.org/latest/guides/west/manifest.html#project-groups-and-active-projects) feature of west projects to clone only certain projects by default.

[2021-05-03 08:11] burumaj opened #34760 "Hawkbit not downloading large files"
**Describe the bug**
When dowloading a large fil/update using the hawkbit client the file gets corrupted. This is caused by the hawkbit application not checking the start of the buffer correctly. After a quick gloss over the other code in 'response_cb' this also the case for other actions in the application.

**To Reproduce**
Steps to reproduce the behavior:
1. Build an application that uses hawkb

[2021-05-03 08:58] hjuul opened #34763 "STM32: Improve speed of uart async implementation"
I am trying to use the UART async API on stm32f7. It works nicely up to about 460.8kbps, but above that I start loosing characters during buffer switch. I immediately provide new buffers when requested, and increasing the buffer size doesn't help. So this appears to happen when new data arrives before my RX handler is done.

**Describe the solution you'd like**
I currently have my own implementati

[2021-05-03 09:04] #33567 closed

[2021-05-03 09:43] caco3 commented on #22210
I also believe such a function would be useful.
I have notifications in a primary and a secondary service and was unable to get the indexes with above example.
(ended up to find it with try & error)

[2021-05-03 09:56] #33712 closed

[2021-05-03 10:31] Sergi22 commented on #34669
Changed the code a bit and it started to work. Still not sure what the issue was. I was using platform IO to setup the project, may be it affected somehow. Not sure how to check exact commit from platform IO. But I see this line from build output:
PACKAGES:
 - framework-zephyr 2.20500.210226 (2.5.0)

 Changed callback code in case it is needed
 `
 static void uart_cb(const struct device *uart_devi

[2021-05-03 10:31] #34669 closed

[2021-05-03 11:28] lemrey commented on #34722
It'll be hard without storing metadata for the sectors.

[2021-05-03 11:43] erwango commented on #34669
@Sergi22 thanks for feedback.

[2021-05-03 11:54] Laczen commented on #34722
@lemrey, I agree.

One possibility I see is to add a special ate (id = 0xfffe) indicating that gc of the previous sector has been completed.

Another possibility would be to change the storage method where the first ate written (at the end of a sector)
would be an opening ate (containing a number that indicates the sector order). In that case the erase could be delayed until the new sector is need

[2021-05-03 12:00] erwango commented on #34763
^^@Shlomow

[2021-05-03 12:33] atiselsts opened #34767 "C++ support on ESP boards"
**Is your feature request related to a problem? Please describe.**
I'm trying to build a Zephyr application that has a C++ file and links to a C++ external library (TensorFlow Lite Micro). The application builds fine if the ARM GCC toolchain is used. However, on ESP, which uses the Xtensa GCC toolchain, there are problems.

In the compilation stage, there are a few problems related to incompatible

[2021-05-03 13:53] gmarull opened #34772 "Mixed usage of signed/unsigned integer by the logging subsystem"
**Describe the bug**

If `-Wextra` is enabled on an application using the logging subsystem a few compilers warnings related to signed/unsigned comparisons are reported

**To Reproduce**
Steps to reproduce the behavior:
1. Take any application that makes uses of the logging subsystem, e.g. `LOG_ERR(...)`.
2. Enable `-Wextra`, `target_compile_options(app PRIVATE -Wextra)`
3. Observe reported warnin

[2021-05-03 14:24] carlescufi commented on #34295
This can be closed now.

[2021-05-03 14:24] #34295 closed

[2021-05-03 14:26] 1am commented on #34593
@phantomblot-x Could you please share how to change ACL Tx to end-point 1 to try it out?

[2021-05-03 14:36] jfischer-no commented on #34593
Then there is an issue in your "custom BT host stack" because it does not take into account endpoint descriptors.

[2021-05-03 14:41] ryangenz commented on #32279
Is it the case that the Feather Sense should have its own board definition within the 'boards' directory to account for the small Pin and Clock differences from the basic nRF52840 Feather?

[2021-05-03 14:46] carlescufi commented on #34593
That might be the case, but @1am is using vanilla BlueZ and the Linux kernel. That *should* work out of the box, shouldn't it?

[2021-05-03 15:24] jfischer-no commented on #34593
yes, I will try to recreate and report.

[2021-05-03 15:38] mbolivar-nordic commented on #34757
@nandojve I think using groups is better if we want to avoid issues with large optional repositories in general. Shallow fetches don't actually save that much time in cases we have measured, and I believe @marc-hb discovered that repeatedly doing a shallow fetch in the same repository gets you into weird states.

[2021-05-03 15:51] phantomblot-x commented on #34593
I don't see how the host stack is supposed to guess that endpoint 1 is for ACL Tx - end-point 1 could be a proprietary interface. Anyway, for best interoperability it should use end-point 2 as suggested by the BT spec.

[2021-05-03 16:11] manoj153 commented on #34672
@erwango, what is the possibility of enabling UART mode per peripheral,

what I am trying to say is that each UART peripheral can be set as ASYNC or INTERRUPT. Is this something achievable?

[2021-05-03 16:13] marc-hb commented on #34757
(emphasis mine)

To be clear: you're only referring to optional or very stable modules where development is _not_ happening, correct? I can't imagine developers not using version control in a repo under development.

BTW this issue seems to miss a very important difference between developers and CI: developers clone rarely from scratch whereas CI does many times a day.

On small repos shallow make

[2021-05-03 16:25] erwango commented on #34672
@manoj153 Indeed, we should be able to have both enabled and use ASYNC on one instance and INTERRUPT on other.
Are you able to demonstrate that this is not working this way?
If yes, is the limitation coming from API or STM32 driver ?

[2021-05-03 16:53] manoj153 commented on #34672
Yes its not working in this way I can assure that.

Limitations root-cause I have a feeling it's the driver from STM32.

[2021-05-03 17:13] nandojve commented on #34757
I opened this because I believe there are better paths than current one, and I suggested one option. If there are better ways, I'm ok with that. I think ordinary use cases will not touch modules, instead, they will use it, or they are dependencies.

The goal from this enhancement is improve this scenario and avoid useless download/time for ordinary use case. The user that clone Zephyr and only wan

[2021-05-03 17:18] conq commented on #17005
If there's anything I can do to help this along, let me know. I'll be happy to represent Silicon Labs in this question.

[2021-05-03 17:19] dcpleung opened #34777 "semaphore and condvar_api tests fails after ARM64 FPU context switch commit on qemu_cortex_a53_smp"
After commit f1f63dda176f8bce7a8cebe50c30ebe01262b798 (`arm64: FPU context switch support`), I am getting timeout in twister for `tests/kernel/semaphore/semaphore/kernel.semaphore` and `tests/kernel/condvar/condvar_api/kernel.condvar`.

The error from semaphore test:
[code]

The error from the condvar_api test:
[code]

These faults were not there on the commit just before f1f63dda176f8bce7a8cebe50

[2021-05-03 18:15] nashif commented on #33275
can you try this:

https://docs.zephyrproject.org/latest/guides/flash_debug/thread-analyzer.html

`west build -b ehl_crb samples/synchronization/ -- -DCONFIG_THREAD_ANALYZER=y -DCONFIG_THREAD_ANALYZER_USE_PRINTK=y -DCONFIG_THREAD_ANALYZER_AUTO=y -DCONFIG_THREAD_ANALYZER_AUTO_INTERVAL=5`

and see if that works?

[2021-05-03 18:53] henrikbrixandersen commented on #27697
Can anybody (@mhelm, @mbolivar-nordic?) confirm If this was fixed with #34660?

[2021-05-03 19:32] jenmwms commented on #32603
Found this - we can try similar for acrn_ehl_crb since our feedback was to use the same as native (ehl) tsc:
https://github.com/zephyrproject-rtos/zephyr/blob/55e8807b08149a0a672a6faaa550500d8af2c994/soc/x86/elkhart_lake/Kconfig.defconfig#L24
[code]

[2021-05-03 19:42] shlomow commented on #34763
We implemented our uart driver in the past with circular buffer before we used zephyr. It has some drawbacks. First, if you need hardware flow control then you have to control the rts line in software instead of hardware, and this is a little bit hard since the driver needs to know how much data the application has already read. In addition, if you want to implement the async api then you need to

[2021-05-03 20:19] #34145 closed

[2021-05-03 20:36] jenmwms commented on #32603
^^ did not seem to make a difference

[2021-05-03 21:28] #34777 closed

[2021-05-03 21:43] #29476 closed

[2021-05-03 21:46] jenmwms opened #34788 "APIC timer does not support SMP"
**Describe the bug**
There is a protective build assert on the APIC timer driver, which is likely no longer needed.
`BUILD_ASSERT(!IS_ENABLED(CONFIG_SMP), "APIC timer doesn't support SMP");`

**To Reproduce**
Steps to reproduce the behavior:
1. Configure for SMP, such as tests/kernel/interrupt:
[code]
2. west build -p -b acrn_ehl_crb zephyr/tests/kernel/interrupt
4. See error

**Expected behavior*

[2021-05-03 22:28] andyross commented on #34788
So.. that error indeed looks wrong.  I don't see anything SMP-unsafe about that driver.

smp_timer_init() is just a hook so that platforms can do per-CPU timer driver initialization.  For APIC is should just be a noop.   This patch below is enough to get me a working build on acrn_ehl_crb.

Then the question becomes "does it work?".  I don't have a setup for running ACRN on EHL (and I don't see an

[2021-05-03 22:34] andyross commented on #32839
Coming back to this.  I had a confirmation of this failure on intel_adsp_cavs15, but that turned out to have been a bug in my tree.  I remember seeing the failure on my only STM board (disco_l475_iot1), but having just recovered that from what turns out to have been a bum USB cable, it's not happening for me anymore on master (it's not impossible that the same bad tracing hack I had in the ADSP tr

[2021-05-03 23:12] jenmwms commented on #34788
Hi Andy! Thanks for taking a look!

I can hep test on ACRN on EHL. The docs need to be improved (or added in general), its on the To Do list. Please work with me offline to learn more until we get it published.

Great catch. Please let me know how else I can help!

[2021-05-03 23:23] rettichschnidi commented on #23520
Anyone having any success running the JLink Zephyr RTOS Plugin?

I tried the following, and failed:
1. Load plugin:
[code]
    Same goes for `-rtos=/opt/SEGGER/JLink_V720/GDBServer/RTOSPlugin_Zephyr.so` and other variations I tried.
2. Ensuring the thread monitor support is enabled:
[code]
3. `west flash` and `west debug`
4. No thread information:
[code]

[2021-05-03 23:24] andyross commented on #34788
OK, I got it.  Or I got something anyway[1].  The APIC CCR counter registers aren't synchronized between CPUs like the TSC is, even though they're actually architecturally fixed to the TSC counter via a divider.  The language in the SDM that I (only vaguely) remembered says that they are reset on CPU initialization, which sounds like it should be fine for us since we never bother to set it.  Excep

[2021-05-03 23:29] andyross commented on #34788
Alternatively, given that this is only needed for multicore x86_64 hardware,  it might actually be easiest to write a second (er, third!) APIC driver that exploits the TSC deadline mode of the APIC, which is a much cleaner interface that avoids exactly this problem[1].  But this is a "only in the last decade" kind of feature, and weird hardware doesn't support it.  I know Quark did not, and it's n

[2021-05-03 23:39] jenmwms commented on #34788
In case it helps, but a note on `acrn_ehl_crb` APIC timer TSC `M` and `N` values, which is not yet configured....I think I found it:
https://github.com/zephyrproject-rtos/zephyr/issues/32603#issuecomment-831482651.  I'll submit a PR so you'll be working with it.
CONFIG_APIC_TIMER_TSC_M=3
CONFIG_APIC_TIMER_TSC_N=249

[2021-05-03 23:44] andyross commented on #34584
Have you thought about reconsidering the priority design here?  I don't see what the value in disallowing preemption is, personally.  In general in hard real time situations, you **want** low priority tasks to be preempted so that high priority tasks can run promptly.  With NUM_PREEMPT_PRIORITIES=0, you're guaranteed that high priority tasks will **never** run until the current thread blocks or yi

[2021-05-03 23:54] MaureenHelm commented on #23520
Make sure to set `CONFIG_DEBUG_THREAD_INFO=y`. See also #34660

[2021-05-04 00:14] jenmwms commented on #32603
Submitted https://github.com/zephyrproject-rtos/zephyr/pull/34790.
But does not resolve this issue, so keep debugging...

[2021-05-04 00:38] andyross commented on #34788
I'm not even going to think about touching the hypervisor on the dev-board-in-remote-lab until this works first in Qemu and then on the up2 board on my desk.  Always make software work on the simple platforms before looking at the weird ones.

[2021-05-04 03:39] jaredwolff opened #34794 "LIS2DH Hard Fault when INT2 is not defined"
**Describe the bug**
I noticed that since pulling a newer version of Zephyr through Nordic's nRF Connect SDK my accelerometer code stopped working. After some research and adding these

[code]

(See logs below)

My best guess is that the NULL reference of `cfg->irq2_dev_name` in `lis2dh_trigger.c` is causing this to happen. A workaround right now is to check if `irq2_dev_name` is NULL before tryin

[2021-05-04 04:38] mbolivar-nordic opened #34796 "jlink runner fails on M1 macs"
**Describe the bug**

The new pylink library that jlink.py depends on doesn't work on M1 macs with x86 JLink tools.

**To Reproduce**

[code]

**Expected behavior**

Works

**Impact**

Showstopper on that platform

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: macOS
 - Toolchain: GNU Arm Embedded
 - Commit SHA or Version used: 069c18d3ad

[2021-05-04 06:22] nvlsianpu commented on #34722
That Is actually quite common behavior among storages, will work good for sure. Option for the open-ATE-counter also sounds reasonable.

[2021-05-04 07:13] nvlsianpu commented on #34722
If we add new metadata record for marking sector active - this can be made backward-compatible with previous NVS volumens (NVS sector written before the patch will not have such record). Just need to add this record before the firs `data_wra`.

Regard porting new storage:
Probably good idea, especially as it add missing feature.
But that should be different topic - we need to patch what we have al

[2021-05-04 08:32] PerMac commented on #32839
@andyross I still see this issue for nrf9160dk. However, the test is flaky. It doesn't end in the final results as most of the time a single repeat is enough. @carlescufi the behavior for secure and non-secure is slightly different. The secure one causes a failure described in this issue. The non-secure is terminated by a timeout.

[2021-05-04 08:37] hubertmis commented on #30708
@mbolivar-nordic I think DTS structure and binding shall be designed to reflect hardware devices. We should not design DTS bindings to be similar to some software implementations. Because of this I don't want to discuss how PA/LNA management is implemented in BLE SW Controller, openisa, proprietary closed-source protocols (like downstream MPSL, SD Controller, 802.15.4 radio driver) yet. I want to

[2021-05-04 08:47] FRASTM commented on #32839
I confirm, still failing on stm32 nucleo_g071rb board on mastter 37de0c49878c7540b6af7e3af4bbbadf3d2094d6.
( In #34307 we have a workaround, but not consistent latency should not be increased)

[2021-05-04 08:56] jfischer-no commented on #34593
I can not reproduce it, neither on master nor on zephyr-v2.5.0 tag.
I am with:
hci_usb on nrf52840dk_nrf52840, peripheral_dis on nrf52833dk_nrf52833
Linux 5.10.0-4-amd64
BlueZ Version 5.55

Unlikely that it is related to BlueZ version, rather host hardware/controller. @1am what board exactly are you using for hci_usb?

[2021-05-04 09:38] mnkp commented on #34584
Yes, I thought and cooperative only mode seemed like the best choice.

Our application is a fairly simple one, similar to the sample code which I attached to the issue. It reads data packets that arrive via the network, does some minor tweaks here and there and copies it to the audio codec. There are no long tasks. Not in the application and not in the drivers.

The data are arriving in 1 ms tact

[2021-05-04 09:40] Laczen commented on #34722
I see an opportunity to improve nvs. Zephyr has changed a lot since nvs was introduced.

Regarding the start of a new sector it is possible to change the sector close item with a sector open item, while maintaining compatibility (the sector close ate is optional as we anyhow needed a way to recover if the close ate was badly written).

In the rework I would introduce a lower level api (nvs_ll_xxx)

[2021-05-04 09:43] 1am commented on #34593
Hello @jfischer-no I've repeated my tests on Zephyr master with the following setups:
* peripheral_dis on nrf52840DK, hci_usb on nRF52833 - works
* hci_usb on nrf52840DK, peripheral_dis on nRF52833 - not working the same way as https://github.com/zephyrproject-rtos/zephyr/issues/34593#issue-868643833

[2021-05-04 09:47] ppryga opened #34823 "Coding Guideline - enforces identifier length to be less than 31 characters"
**Is your enhancement proposal related to a problem? Please describe.**
Coding guideline introduced by this commit
https://github.com/zephyrproject-rtos/zephyr/commit/83de530d5a36c3399cc9575d9a61e3a532dc29ba#diff-9ebe20b8caad8f54d10399a882c3d64079cc3975a83d43f4172ae90c9df3d8eb
limits identifier names to 31 characters. There is another commit https://github.com/zephyrproject-rtos/zephyr/commit/a869

[2021-05-04 09:48] thedjnK commented on #34707
My comment on this is that it's a nice idea but not something all or even most devices are going to require so there should be an option to enable it which should be off by default for the reason that this will bloat the flash size and execution speed (in the case of the nRF52840 with a QSPI chip which is already slow in comparison to the internal flash, each write will now be half the speed and e

[2021-05-04 09:57] carlescufi commented on #34722
NVS is currently used in production in many projects, so a backwards-compatible fix to the current NVS is something that needs to happen, a filesystem needs to provide that level of certainty and maintenance over time. Perhaps the best approach would be to provide a fix for this issue in the current NVS and then start a new "nvs2" project, similar to what was done with "tcp2" that can be developed

[2021-05-04 11:57] jfischer-no commented on #34593
It should not make any difference.
Your nrf52840DK, is it nRF52840-PDK (imprinted next to the PCB antenna)? What version is it (PCA10056 ....)?

[2021-05-04 12:06] 1am commented on #34593
You're right it's nRF52840-Preview-DK, the version is:

[code]

[2021-05-04 12:19] jfischer-no commented on #34593
nRF52840-PDK has known USB device controller issues and is not supported by Zephyr OS. You can use hci_usb on nrf52833dk_nrf52833 for development.

[2021-05-04 12:19] #34593 closed

[2021-05-04 12:29] carlescufi commented on #34593
@phantomblot-x  We have a separate issue covering this:
https://github.com/zephyrproject-rtos/zephyr/issues/29107

[2021-05-04 12:33] nvlsianpu commented on #34707
^^ @thedjnK I'm are aware of all limitation. I'm taking them into account. Thanks for input!.

[2021-05-04 12:37] PerMac opened #34827 "tests: power management: test_power_state_trans fails on nrf boards"
**Describe the bug**
The test test_power_state_trans from tests/subsys/power/power_mgmt/ fails on-target tests (at least on nrf and reel boards)

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk connected
2. go to your zephyr dir
3. call `/scripts/twister -T /tests/subsys/power/power_mgmt -p nrf52840dk_nrf52840 --device-testing --device-serial /dev/ttyACM0 -v --inline-logs`
4.

[2021-05-04 12:58] Thalley opened #34829 "Bluetooth: ISO: Don't attempt to remove the ISO data path of a disconnected ISO channel"
**Is your enhancement proposal related to a problem? Please describe.**
If an ISO channel (CIS or BIS) is disconnect, we should not attempt to remove the ISO data path, as the connection handle will, after the receival of the disconnect event, no longer be valid  in the controller. Currently in the implementation a disconnect request triggers a le_remove_iso_data_path command, and will always fail

[2021-05-04 13:04] jfischer-no commented on #34593
Before someone reads it here and believes, that is nonsense. With USB we have device, interface, endpoint and whatever descriptors. Which describe a device completely. There is no reason at all to work with hardcoded endpoint addresses. Not even because of "suggestion" or "interoperability" :wink:. If the driver on the host side can not read and interpret it then it is a bug in the driver. The int

[2021-05-04 13:17] galak commented on #34788
@jenmwms - I don't see why this is a bug / high vs being an enhancement?

[2021-05-04 13:23] galak commented on #34658
@ioannisg any update here.  Can we close since this isn't an issue with TFM code, but the ARM toolchain that we can't address/fix.

[2021-05-04 13:28] ioannisg commented on #34658
Yeap, sure. Don't recall exactly why I wanted to track this in Zephyr, maybe just raise awareness.

[2021-05-04 13:30] jfischer-no commented on #29107
AFAIK BR/EDR USB audio interface cannot be used for ISO or not yet.

[2021-05-04 13:31] erwango commented on #34649
Same as #34543, closing

[2021-05-04 13:33] jfischer-no commented on #29107
I leave https://github.com/zephyrproject-rtos/zephyr/issues/29107#issuecomment-706770001 as workaround and will not fix it for now.

[2021-05-04 13:46] andyross commented on #34584
But... you picked an architecture where the system will **not** process it with high priority. It's going to wait until whatever it is doing currently (even if it's low priority, like emitting a big log buffer -- do you have non-immediate logging enabled?) finishes up and reaches a schedule point.

Again, any long (>600us) CPU processing at all anywhere in the system is going to cause exactly the

[2021-05-04 13:50] andyross commented on #34584
To be clearer: even if there was a circumstance where kernel code[1] was doing some non-trivial CPU work without yielding, that would only constitute a "bug" if the work wasn't necessary or if it was done at an incorrect priority.  Work is work, the OS has work too, and it needs to be able to do it.

[1] Or any code, really.  Again if you have logging enabled, I'm suspicious that this is the culpr

[2021-05-04 13:59] andyross commented on #32839
@PerMac But you're describing the TEE issue, right?  That arch API requires a privilege elevation that takes longer than a 32kHz tick?  That problem is fundamental, it happens to glitch this test but you're going to have performance issues in timing everywhere.  The idea of tickless is that you replace regular interrupts with just "checking the current time", so the kernel expects that to be fast.

[2021-05-04 14:14] andyross commented on #34788
Uh... well, I guess the feature request to use this particular driver driver on this particular platform is an enhancement, but the actual behavior of this code vs. a second CPU's APIC is totally a bug that should be fixed.  How's that?

[2021-05-04 14:41] Thalley opened #34832 "Coding Guideline - MISRA rule 14.4 not applied properly"
**Is your enhancement proposal related to a problem? Please describe.**
MISRA rule 14.4 basically enforces strong typing, such that <expr> in `if (<expr>)` shall be a binary expression. It works for some examples such as
[code]
which should be `if (pointer != NULL) { ... } `

But seemingly don't work for any of the following examples (and probably more):
[code]

**Describe the solution you'd like*

[2021-05-04 14:41] Thalley commented on #34832
Related to https://github.com/zephyrproject-rtos/zephyr/issues/34823

[2021-05-04 14:50] andyross commented on #34584
Oh, wait.  I think maybe you're confusing preemption with timeslicing.  It's timeslicing that switches between threads (of equal priority!) at ticks to ensure that all runnable threads at a priority get some CPU.

Preemption can happen at any moment.  If, for example, you have a high priority thread blocked on a semaphore and a lower priority preemptible thread spinning on the CPU (computing digit

[2021-05-04 15:04] phantomblot-x commented on #34593
In Vol 4, Part B, section 2 of the BT spec it says:
"The endpoint numbers (labeled ‘Suggested Endpoint Address’ below) may be dynamically recognized upon driver initialization – this depends on the implementation."

A good host/driver would implement this (agreed), but some hosts may not - those hosts will not work with Zephyr controllers.  Too bad!
If changing a number from 1 to 2 can make Zephyr

[2021-05-04 15:04] mbolivar-nordic commented on #34011
This means the device doesn't exist, most likely because the driver is not enabled.

You probably need to add these to your prj.conf:

[code]

With those enabled, that builds for me.

[2021-05-04 15:12] mbolivar-nordic commented on #34757
Hi @nandojve - yep, I totally understand why you want to look for ways to optimize. You are not alone, and west 0.11 has several features which are meant for that. The west 0.11.0 release is actually already available on PyPI; I just haven't sent the email yet because release documentation is not merged yet: https://github.com/zephyrproject-rtos/zephyr/pull/34797

I encourage you to give `west upd

[2021-05-04 15:21] avisconti commented on #34390
I always used the I2S to interface with pdm microphones. In this case I do not use MCLK, but I use the bitclk. To generate it I configure the PLL for the I2SCLK (see boards/shields/x_nucleo_iks02a1/boards/nucleo_f411re.defconfig)

[code]

Are you confiuring the PLL in the same way?

[2021-05-04 16:14] hf81-ble opened #34837 "Unstable multi connections between NRF52840"
**Describe the bug**
I want to run a stable simultaneous multi connection between 1 NRF52840 and all 20 Peripherals. With DLE to 251 and 2 MBit

I calc a maximal Event Time from from ~ 1,5ms. =>  1,5 * 20 => 30ms needed for a connection interval.

To use 10ms for scanning => 40ms connection intervall should be sufficient.

Is this basic calculation correct?

The problem is, that connected peripher

[2021-05-04 16:36] dcpleung opened #34838 "tests/subsys/logging/log_msg2 failes on qemu_cortex_a53"
**Describe the bug**
There is build error with `tests/subsys/logging/log_msg2` on `qemu_cortex_a53` due to uninitialized variable. However, after setting a default value to `lli`, the test would fail.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -d /tmp/build -p -b qemu_cortex_a53 tests/subsys/logging/log_msg2/

**Expected behavior**
Should build without errors.

**Impact**
Pre

[2021-05-04 17:49] galak commented on #34239
Please open a new bug for this with the template filled out.

[2021-05-04 18:03] #33140 closed

[2021-05-04 18:04] galak commented on #34739
decided to merge fix to unblock CI issues, and open a new high priority issue to track adding hardware platforms to test this on beyond QEMU platforms.

[2021-05-04 19:15] #34739 closed

[2021-05-04 19:21] ioannisg opened #34840 "CONFIG_MULTITHREADING=n is not tested on hardware platforms"
**Describe the bug**
Single thread support in Zephyr (CONFIG_MULTITHREADING=n) has been recently de-deprecated, however the configuration is not currently enabled in the tree for real hardware. There are several samples and tests that enable CONFIG_MULTITHREADING=n, however they only build and/or run in QEMU targets. If we claim support for the feature, we need to support it at least on a set of p

[2021-05-04 21:01] jenmwms commented on #34788
@nashif can you please answer @galak on why this is a bug not enhancement?

[2021-05-04 21:22] mbolivar-nordic commented on #34011
Closing since these appear to be user errors

[2021-05-04 21:22] #34011 closed

[2021-05-04 21:25] jenmwms commented on #33275
Thanks @nashif ! That seems to be working, here's the output:
[code]

[2021-05-04 22:52] nashif commented on #33275
do we have more details about where it actually fails, i.e. debug the code enabled by  `CONFIG_THREAD_RUNTIME_STATS` in `subsys/shell/modules/kernel_service.c` and see what goes wrong.

[2021-05-04 23:09] #33403 closed

[2021-05-05 00:29] #32314 closed

[2021-05-05 01:22] cvinayak commented on #34837
1. When using 251 bytes, connection event length has to be set with correct time in microseconds. This is not implemented in the Data Length Update Procedure. Refer to, https://github.com/zephyrproject-rtos/zephyr/issues/21995
2. Please upload air traffic log files, screenshots can not be used to analyze packet contents.

[2021-05-05 02:09] enjiamai opened #34844 "qemu_cortex_a53_smp: tests/ztest/error_hook failed after enabling the FPU context switching support"
**Describe the bug**
The testcase tests/ztest/error_hook failed after the FPU context switching support.  This failure is not 100% reproduced.
And after git bisect, we found the issue started after commit:   a82fff04ff9ce3bbb126e4f8e7af9c0fc4003c4f, or f1f63dda176f8bce7a8cebe50c30ebe01262b798.

**To Reproduce**
Steps to reproduce the behavior:
Run command:
        twister -T tests/ztest/error_hook

[2021-05-05 02:26] nandojve commented on #34757
Thank you folks for giving me a pretty good perspective about effort dedicated to improve this topic.
I'm convinced that you've been looking all possibilities and this request is well addressed.

[2021-05-05 02:26] #34757 closed

[2021-05-05 03:08] marc-hb commented on #34757
Something very, very simple that has been mentioned in the references but not here yet is to replace `west init -m URL` with `git clone --depth 5 URL && west init -l ...`

Such a script change takes practically no time to implement, however it makes a performance difference only if your manifest repo has a large git history (which is the case of zephyr.git).

[2021-05-05 04:14] ceolin commented on #34832
Yep, the coccinelle script does not catch these and probably other examples. There are a lot of room for improvements.
Just one thing, the idea with these scripts is catch more common errors fast but not replace the static analysis tool.

[2021-05-05 04:14] enjiamai commented on #34844
Hi @nashif, I found this is due to the assertion fail from ISR in the previous executed test case, and it might not recover all the status of the program.  So I put the test_catch_assert_in_isr() in the last to prevent it affects the following test case.

[2021-05-05 04:55] joicetm commented on #34752
I am also facing a similar issue, I could not control the p0.18 even after adding "CONFIG_GPIO_AS_PINRESET=n" to the config file.

I have  tried   _west flash --softreset_  and also uploaded the .hex using the nrfjprog directly but it doesn't seem to work.(for me, it may not be configuring the pin as normal gpio in the first place)

I have used the blinky examples from zephyr samples to test it by

[2021-05-05 05:02] hubertmis commented on #34752
Try

[code]

It worked for me.

`nrfjprog -e` clears memory, including UICR holding pin reset configuration.

[2021-05-05 06:18] aescolar commented on #34748
@prathje this would seem to not be native_posix specific, but heap specific
=> @andrewboie , @andyross ^^

[2021-05-05 06:59] Laczen commented on #34722
OK, will work on a fix for the present NVS and (slowly) start working on nvs2.

[2021-05-05 07:46] Thalley commented on #34832
@ceolin @nashif I assume that the plan is to follow the rule fully, right? So we should actually have boolean expressions for boolean checks?

[2021-05-05 08:02] erwango commented on #34633
All boards converted.
Last one : https://github.com/zephyrproject-rtos/zephyr/pull/34744

[2021-05-05 08:13] hf81-ble commented on #34837
just added the log files

[2021-05-05 08:33] jhedberg commented on #33275
[code]
Seems like that thread had a stack overflow?

[2021-05-05 08:35] kevin0402 commented on #12386
@MaureenHelm
Can we get any help from NXP if we want to port USB host stack on i.MX RT1060 platform ?
The stack is based on #30361

[2021-05-05 09:33] #33786 closed

[2021-05-05 09:33] #33795 closed

[2021-05-05 09:35] carlescufi commented on #33788
This has been fixed.

[2021-05-05 09:35] #33788 closed

[2021-05-05 10:53] manoj153 commented on #34672
I have the starting point now, it's because of the way async or interrupt is handled, they are not handled per instance
https://github.com/zephyrproject-rtos/zephyr/blob/ebfe9be01f4da55de8f5876c64b2ca79fb04ada2/drivers/serial/uart_stm32.c#L1408-L1421

I am going to think, how we're going to solve this as a whole. Is this a feature request and I shall open a new issue?
@erwango

[2021-05-05 11:21] isakwestin opened #34852 "Some bluetooth advertising packages never get transmitted over-air (Bluetooth Mesh application)"
**Describe the bug**
My setup is a Nordic nRF52832-board running the zephyr hci_uart sample which is connected via UART with the host, a GNU/Linux aarch64. The host is running the bluetooth-mesh-daemon proveded by BlueZ and I am using the tool `mesh-cfgclient`, also provided by BlueZ, that is using the DBUS-api provided by the daemon.

I have noticed that the reliability of mesh-messages reaching

[2021-05-05 11:28] cvinayak commented on #34837
Correct.

As a quick test, please change 328 to 2120 here: https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/ll_sw/ull_master.c#L324

You have to place your connections 5 ms apart, and use connection interval of 110ms.

Please upload sniffer logs of the results.

[2021-05-05 11:56] nixchun commented on #34838
I didn't have this compilation problem on Zephyr 0.12.4.

user@ubuntu_20_04:~/projects/open/zephyr/zephyr$ west build -d build/log_msg2/ -p -b qemu_cortex_a53 tests/subsys/logging/log_msg2/
-- west build: generating a build system
Including boilerplate (Zephyr base): /home/user/projects/open/zephyr/zephyr/cmake/app/boilerplate.cmake
-- Application: /home/user/projects/open/zephyr/zephyr/tests/subs

[2021-05-05 12:11] RenierVDWBluerain opened #34855 "FANSTEL BT840X"
Hi,

The Fanstel BT840 devices are growing in popularity and are wondering if .dts and .yaml files can't be generated for those boards.

Especially the BT840X which has a PA/LNA Skyworks SKY66112 amplifier and there are no example code as to how one would enable that feature.

I'm currently using nrf52840dk_nrf52840.dts.

[2021-05-05 12:15] #3514 closed

[2021-05-05 12:42] #34633 closed

[2021-05-05 13:13] erwango commented on #34324
@wthidden You're stating in https://github.com/zephyrproject-rtos/zephyr/pull/34828 that this is working on a F429 board.
Did it fix you're issue or there are still cases where it does not work ?

[2021-05-05 13:34] erwango commented on #34672
@manoj153 Let's open a new issue mentioning that UART_INTERRUPT_DRIVEN and UART_ASYNC_API can't be used at same time on different instances

[2021-05-05 13:35] erwango commented on #34672
and we can close this one.

[2021-05-05 13:47] joicetm commented on #34752
@hubertmis Thanks man,
It is working.

[2021-05-05 13:50] pdgendt commented on #33633
Hey @hendriklehmkuhl, can you verify again, now that [this PR](https://github.com/zephyrproject-rtos/zephyr/pull/34845) has been merged?

As mentioned, check that you build the bootloader with `CONFIG_BOOT_MAX_IMG_SECTORS=512`.

[2021-05-05 13:53] Stefan-Schmidt commented on #33352
For me it was very much related. I have seen the same resetting behavior and the root was indeed the double offset problem described in #33523

Working around this double offset did lead to successful flashing and no more USB resetting.

[2021-05-05 13:56] de-nordic commented on #34823
The rules must be really happy about devicetree_unfixed.h

[2021-05-05 13:56] martinjaeger opened #34862 "CAN ISO-TP implementation not using local work queue"
**Describe the bug**

A local `k_work_q` is defined in `isotp.c`, but the work is always submitted to the system work queue using `k_work_submit`.

Just replacing the calls with `k_work_submit_to_queue` resulted in failing unit tests on `nucleo_l452re`.

Implementation test:

[code]

Conformance test:
[code]

**Impact**

It is annoying that the stack space is reserved, but not actually used. And i

[2021-05-05 13:59] Stefan-Schmidt commented on #33523
Just wanted to confirm what @eugmes wrote at https://github.com/zephyrproject-rtos/zephyr/issues/33523#issuecomment-817208257 I was hitting the same issue when using the recommended bossac version from the documentation (arduino IDE or compiled manually).

Removing the offset adding in scripts/west_commands/runners/bossac.py line 167&168 works around this for me, but there is clearly a gap between

[2021-05-05 14:07] PerMac commented on #32839
@andyross  I think these are two separate issues. The issue from Carles comment is for nrf9160ns and the result is different, there is no output from the test and the test is terminated. Here (in this issue) I refer to the failure at nrf9160 (not non-secure), and the failure is as the one reported:  `START - test_timeout_abs
Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/timer/timer_api/src/m

[2021-05-05 14:15] galak commented on #34844
Possibly whatever is happening here might impact #34838

[2021-05-05 14:25] carlescufi commented on #34659
@caco3 so to summarize:

- You see the issue both in v2.5.0 and also current master
- [This patch](https://github.com/zephyrproject-rtos/zephyr/pull/26057/files) did not help

Is this correct?

[2021-05-05 14:40] EinarHenriksen opened #34865 "CONFIG_NET_SOCKETS_PACKET interferes with other network traffic (gptp, IP)"
**Describe the bug**
I want to send Ethernet packets (AF_PACKET, SOCK_DGRAM) from a BSD socket while also running gPTP on my system, but this has proven problematic.
In trying to debug this, I have simplified my code into an empty main file where only changing one line in prj.conf is enough to trigger the issue.
Here is the content of my prj.conf file (it is very similar to the prj.conf of the gpt

[2021-05-05 14:52] cvinayak commented on #34852
Radio Rx utilization will be low, and hence will lower number of advertising reports will be generated.

Please provide details of reproducing your issue, steps to build, steps and commands to use to reproduce the issue, how was the statistics calculated, if there has been changes to code etc., preferably in the format requested in the issue template that was provided when creating this issue.

[2021-05-05 15:03] npitre commented on #34838
No. #34793 won't do anything here.

[2021-05-05 15:09] andyross commented on #32839
OK, then that sounds like the nRF9 and STM are showing the same issue with remaining time being misreported, but the secure mode stuff at least is well characterized?

Can you explain what that flash wait state patch is doing?  I still don't understand what that has to do within the timer hardware, it sounds like if anything it's just addressing execution speed?  Which presumably is just hiding th

[2021-05-05 15:14] #7317 closed

[2021-05-05 15:26] npitre commented on #34844
I doubt it. #34838 is a toolchain issue that got exposed for the first
time when ARM64 started having CONFIG_FPU=y.

Here this is most likely something to do with the interaction between FP
context handling code and the exception mode.

And in this case I'm unable to reproduce when building and running the
test via west. It requires twister to fail. What's the difference?

[2021-05-05 15:28] galak commented on #34838
Yeah, I was hoping it might magically fix this issue. :)

[2021-05-05 15:49] npitre commented on #34838
The first warning can be reproduced with this small test:

[code]

This produces the following:

[code]

It appears that the only way to shut it up is to use `-Wno-psabi`.
However this could have unexpected impact elsewhere if people link against
libraries that might have that a mismatched ABI. Some project-wide policy
might be needed here.

[2021-05-05 15:58] ceolin commented on #34832
Yep, that is the plan.

[2021-05-05 16:02] enjiamai commented on #34844
Hi, @npitre , in this case west command needs a extra -DCONFIG_TEST_USERSPACE=y to keep in concert with twister.
After looking at #34838, I'm not very sure, but it seems like a different issue, @galak, thanks!

[2021-05-05 16:27] dcpleung commented on #34838
The warning about GCC 9.1 does not result in twister failure. It's just annoyance during build.

[2021-05-05 16:32] galak commented on #34838
we're able to build, but the test fails to run correctly in qemu is what I was seeing.

[2021-05-05 16:44] ainguraXmarquiegui commented on #33747
I have been trying to compare code from FreeRTOs and Zephyr and I haven't been able to identify any major differences.

On the other hand, I have been able to narrow down a little bit more on the apparent root of the cause. Function ENET_Ptp1588StartTimer on

https://github.com/zephyrproject-rtos/hal_nxp/blob/e7b8d8ba5932f70eb5f978ad7f6f278cf0bf565c/mcux/drivers/imx/fsl_enet.c#L2801

sets the ENET

[2021-05-05 17:26] ehunck opened #34872 "Question about adding CANFD support to 6LoCAN"
This is really a question related to an enhancement that I am working on which is adding CANFD support to 6LoCAN.

**Is your enhancement proposal related to a problem? Please describe.**
My question is specifically related to updating [6locan.c](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/l2/canbus/6locan.c) to support 64 byte frames for a CANFD enabled driver. My test setu

[2021-05-05 17:41] mbolivar-nordic commented on #34796
@carlescufi pointed out that https://www.segger.com/downloads/jlink/ contains builds for M1 macs. I'm going to close this as invalid.

[2021-05-05 17:41] #34796 closed

[2021-05-05 18:25] #34095 closed

[2021-05-05 18:46] #31280 closed

[2021-05-05 20:43] yerabolu opened #34879 "mec15xxevb_assy6853: 2 GPIO test failures"
**Describe the bug**
Multiple tests are failing on mec15xxevb_assy6853 board under tests/boards/mec15xxevb_assy6853/qspi/ ,  i2c_api/ and tests/drivers/gpio/gpio_api_1pin/

**To Reproduce**
Steps to reproduce the behavior:
1. twister --hardware-map ~/mec1.file --device-testing -T tests/boards/mec15xxevb_assy6853/qspi/ ,  i2c_api  and
2. See error

**Expected behavior**
All the tests should pass

*

[2021-05-05 20:46] galak opened #34880 "Convert SoF Module to new kwork API"
Convert modules/audio/sof/src/schedule/timer_domain.c to use new kwork API.

See the following issue for details:

#33104

[2021-05-05 20:47] galak commented on #34880
When setting the old kwork api's as deprecated we get:
[code]

[2021-05-05 21:13] nandojve commented on #33523
Can someone test the below devicetree configuration. I changed from `reg = <0x10000 0xf0000>;` to `reg = <0x0 0xf0000>;`

[code]

[2021-05-05 22:46] dcpleung commented on #34696
Note that the testsuite defaults to using `printk()` for `TC_PRINT()`, and also a bunch of tests are actually using `printk()`, so you will need to enable `CONFIG_LOG_PRINTK`.

[2021-05-06 00:24] yashi commented on #30105
Just to add a yet another compiler, TI's CGT for ARM (#10182) seems to support C11 but not C17 with v20.2.0.LTS.
https://www.ti.com/lit/pdf/SPNU151V

[2021-05-06 00:53] pabigot commented on #29610
Consensus was the documentation is wrong, so one last attempt to get this addressed.

[2021-05-06 03:59] cvinayak commented on #8958
Closing this as there is no traction for sometime now.

[2021-05-06 03:59] #8958 closed

[2021-05-06 04:01] cvinayak commented on #28597
Closing this as no work has been done in this regard for an year now.

[2021-05-06 04:01] #28597 closed

[2021-05-06 05:08] npitre commented on #34844
That doesn't work here. I tried:

[code]

And I verified that `build/zephyr/.config` does include
`CONFIG_USERSPACE=y`.

Then I even copied
`twister-out/qemu_cortex_a53_smp/tests/ztest/error_hook/testing.ztest.error_hook/zephyr/.config`
onto `build/zephyr/.config` to make sure I have the same config.

I just can't make it to fail with `west build -t run` at all while it
fails with twister.

I'm ra

[2021-05-06 05:11] nordic-krch commented on #34772
I don't see it on master anymore. Fixed by #34697. @gmarull can you confirm?

[2021-05-06 05:33] nordic-krch commented on #34672
just a comment from my side. On nordic drivers it is a per instance choice (e.g. instance 0 can work with async while instance 1 with interrupt driven).

[2021-05-06 06:32] erwango commented on #34672
Yes, I expect to be the case as well on STM32. I know this works that way on SPI.
If not the case on UART, this is a real bug.

[2021-05-06 07:17] cvinayak commented on #34837
@hf81-ble  Do you have any results?

If there is no more queries/issue, please close this github issue.

[2021-05-06 07:18] PerMac commented on #34827
I think the same bug is causing more power mgmt tests/samples to fail, as I see also this one failing from the same time: sample.power.ospm.dev_idle_pm

[2021-05-06 07:25] sw opened #34891 "mcumgr timeout due to smp_shell_process stalling"
`smp_shell_process` only tries to get one net_buf from the FIFO:
https://github.com/zephyrproject-rtos/zephyr/blob/af10c06885c92321ff947ab83c3abcf8f0281cf3/subsys/mgmt/mcumgr/smp_shell.c#L140

If there have been more than one fragment received, these will only be processed on the next call to `smp_shell_process`.

This results in timeouts when using firmware image upload using mcumgr, as the syste

[2021-05-06 07:46] gmarull commented on #34772
@nordic-krch seems fixed after a `west update`, thanks

[2021-05-06 07:46] #34772 closed

[2021-05-06 08:17] trond-snekvik commented on #34852
Depends on the configuration, but often, yes.

[2021-05-06 08:29] mniestroj commented on #34891
Thanks @sw! You are certainly right, packets should be processed in a loop. Could you check if #34897 solves the issue?

[2021-05-06 08:39] hf81-ble commented on #34837
is it recommended switch between different connection intervals in a connected state?

for example:

i have one active transmission and want to increase throughput and setting the connection intervall to 7,5ms. After that, is switch to another peripheral and set previous to connection intervall 100ms and the next peripheral to 7,5ms. So i use a roundtrip process to request data from each periphera

[2021-05-06 08:46] isakwestin commented on #34852
Thank you for the reply!

`CONFIG_BT_CTLR_SCAN_UNRESERVED=y` seems to have been the missing piece in my case. Enabling it made a big difference and for now it works as expected. I didn't notice this configuration flag until now, so thanks for mentioning it.

For curiousity:
Is there any summary or specific documentation anywhere on how to use/configure a controller-only build for mesh-only applica

[2021-05-06 08:46] #34852 closed

[2021-05-06 08:57] jukkar commented on #34865
@EinarHenriksen could you test the fix proposal at #34899 and report back if your use case works with it.
I did test the PR and everything seems to work as expected but packet socket part of the code is quite convoluted and it is difficult to see all the corner cases.

[2021-05-06 09:09] carlescufi commented on #33352
Closing as duplicate of #33523

[2021-05-06 09:09] #33352 closed

[2021-05-06 09:10] #34382 closed

[2021-05-06 09:19] hakehuang commented on #33747
Hi @kevin137 so do you get a chance to check with debugger as I do? I see you steps above, and you still checking the control register.

[2021-05-06 09:29] sw commented on #34891
That was quick. Thank you @mniestroj , that does indeed solve the issue.

[2021-05-06 09:36] Berte-Yu commented on #34262
Thanks,  I have ported the pinmax driver。

[2021-05-06 09:36] #34262 closed

[2021-05-06 09:55] aaillet opened #34903 "doc: Target name is wrong for rcar_h3ulcb board"
**Describe the bug**

By following the current documentation provided for the Renesas R-Car H3ULCB board it's not currently possible to build any zephyr application.

The current target name provided is not the right one.

**To Reproduce**

1. west build -b rcar_h3ulcb samples/hello_world
2. The build system wont find any board with that name

**Expected behavior**

Build hello world application f

[2021-05-06 09:57] hakehuang opened #34904 "uart_mcux_lpuart: Enable driver to work with `CONFIG_MULTITHREADING=n`"
**Describe the bug**
k_sleep is not defined when disable CONFIG_MULTITHREADING

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k82f
3. make
4. See error

**Expected behavior**
do not use k_sleep in driver

**Impact**
driver usage in no multithread mode for all NXP lpuart enalbed platform

**Logs and console output**

[code]

**Environment (please c

[2021-05-06 09:57] hakehuang commented on #34904
@MaureenHelm , @dleach02 , @mmahadevan108

[2021-05-06 10:23] hakehuang opened #34909 "dma_loopback:lpcxpresso55s28_ns driver test failure"
**Describe the bug**
dma_loopback:lpcxpresso55s28_ns driver test failure
        Assertion failed at WEST_TOPDIR/zephyr/tests/drivers/dma/loop_transfer/src/test_dma_loop.c:175: test_dma_m2m_loop: (test_loop() == TC_PASS) is false

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso55s28_ns
3. make flash
4. See error

**Expected behavior**
test pas

[2021-05-06 10:23] hakehuang commented on #34909
@MaureenHelm , @dleach02 , @mmahadevan108

[2021-05-06 10:25] enjiamai commented on #34844
Hi @npitre , I can reproduce it on my side. I just use the command:
[code]
Did you use the same command as mine? thanks!

[2021-05-06 10:37] hakehuang opened #34911 "tests/kernel/mem_protect/mem_protect: frdm_k82f/frdm_k64f unexpected fatal error"
**Describe the bug**
in memory protection test meet belo werror in test_kobject_perm_error
fatal error was unexpected, aborting

**To Reproduce**
Steps to reproduce the behavior:
tests/kernel/mem_protect/mem_protect
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k82f
3. make flash
4. See error

**Expected behavior**
all test PASS

**Impact**
memory protection featues

**Logs and console output**
s

[2021-05-06 10:38] shehamb opened #34913 "ModuleNotFoundError: No module named 'elftools'"
Hello,
I am trying to build sample application on for mimxrt1064_evk on windows 10. I seem to have installed everything, but i still get this error:
C:\Users\mbajaj\zephyrproject\zephyr>west build -p auto -b mimxrt1064_evk samples/hello_world
[1/130] Generating include/generated/kobj-types-enum.h, include/generated/otype-to-str.h, include/generated/otype-to-size.h
FAILED: zephyr/include/generated/

[2021-05-06 10:38] hakehuang commented on #34911
@MaureenHelm , @dleach02 , @mmahadevan108

[2021-05-06 10:56] hakehuang opened #34915 "arch.interrupt.gen_isr_table.arm_mainline:lpcxpresso55s16_ns/lpcxpresso55s28: interrupt 57 does not work"
**Describe the bug**
    test_build_time_interrupt
        Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/gen_isr_table/src/main.c:278: test_build_time_interrupt: (check_sw_isr(isr3, ISR3_ARG, ISR3_OFFSET) is non-zero)

    check interrupt isr3 failed

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso55s16_ns
3. make flash
4. See error

**E

[2021-05-06 10:57] hakehuang commented on #34915
@MaureenHelm , @dleach02 , @mmahadevan108

[2021-05-06 11:18] hakehuang opened #34917 "arch.interrupt.arm| arch.interrupt.extra_exception_info: lpcxpresso55s28 series: test failure"
**Describe the bug**
interrupt testing failure, but is disable optimization and enlarge the stack size test can pass

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b lpcxpresso55s28 -- -DCONFIG_EXTRA_EXCEPTION_INFO=y
   or
    west build -b lpcxpresso55s28
3. make flash
4. See error

test pass with below build options

west build -b lpcxpresso55s28 --  -DCONFIG_NO_OPTIMIZATIONS=

[2021-05-06 11:19] hakehuang commented on #34917
@MaureenHelm , @dleach02 , @mmahadevan108

[2021-05-06 11:56] hakehuang opened #34923 "net.socket.get_addr_info: frdm_k64f test fails"
**Describe the bug**
below two cases fails, looks like it is not stable enough to all platform
test_getaddrinfo_ok
test_getaddrinfo_cancelled

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f
3. make falsh
4. See error

**Expected behavior**
all test pass

**Impact**
addressinfo api call

**Logs and console output**

[code]

**Environment (pleas

[2021-05-06 11:57] hakehuang commented on #34923
@MaureenHelm , @dleach02 , looks like the test is not reliable, but need owner to confirm

[2021-05-06 11:59] mglettig commented on #34438
I thought I would give it a shot and try to integrate Civetweb 1.14 and enable MBEDTLS. However I'm already struggling on how to enable mbedtls and tell civetweb to link against mbedtls. Also civetweb needs to know where the mbedtls header files are located.
I found the following section in the Makefile of civetweb:

`ifdef NO_SSL
  CFLAGS += -DNO_SSL
else ifdef WITH_MBEDTLS
  CFLAGS += -DUSE_MBED

[2021-05-06 12:08] Nukersson commented on #34438
The simples first test for you would be putting it as #define WITH_MBEDTLS just in main.cpp of http_server sample of Civetweb. Then you can see if other problem occures.

Later this defines should go into KConfig or so. I can help you with this later. Maybe just we can make a call if you really interested in providing this PR. Anyway thank you for your work.

[2021-05-06 12:13] galak opened #34925 "tests/lib/cbprintf_package fails to build"
`./scripts/twister -l -T tests/lib/cbprintf_package/`

Will get:

[code]

[2021-05-06 12:15] sr1dh48r commented on #34507
**Minutes of the meeting : Zephyr Networking Forum : 04-05-2021**

Marcel's comments

- Recommendation is to write from scratch and use IWD code as required and avoid wpa_supplicant.
- Entire IWD cannot be licensed or used but some parts of it can be used (re-licensed ??). (Can the entire WiFi stack code apart from Linux be used that part isn't clear ???)

Sridhar's comments

- We understand that

[2021-05-06 12:22] galak commented on #34925
@nordic-krch in testcase.yaml we have an issue with integration_platforms & platform_allow creating an empty set of platforms to test on.  ie, `native_posix` isn't in the platform_allow list.  Additionally, it seems since C++ support varies a bit arch to arch so maybe best to just drop `integration_platforms` and leave it to the platform_allow list.

[code]

[2021-05-06 12:29] galak opened #34927 "Add error check to twister if set of platforms between platform_allow and integration_platforms is empty"
We have a testcase in https://github.com/zephyrproject-rtos/zephyr/blob/0e39b7d707d8fda73e72494fcb9d25c911e50a9c/tests/lib/cbprintf_package/testcase.yaml

that has `native_posix` as the `integration_platforms` but that platform is not in `platform_allow`.  As such nothing  runs in CI for this test.  We should treat this as an error when twister is run with `-G` for this test.

[2021-05-06 12:31] Thalley opened #34928 "Avoiding memcpy with the same source and destination pointers"
**Is your enhancement proposal related to a problem? Please describe.**
From the memcpy manpage:

I am unsure on how many places this may occur within Zephyr, but Valgrind at least finds some cases for it in bluetooth:
[code]

Using memcpy in sure situations is not only unsure (undefined behavior), but is also a minor performance hit (no reason to ever copy the same data.

**Describe the solution

[2021-05-06 12:35] Stefan-Schmidt commented on #33523
@nandojve Just checked and it does not solve the problem. Maybe the offset is still somehow being applied from west flash bossac.py runner?

[2021-05-06 12:40] carlescufi commented on #34403
@madscientist159 ping

[2021-05-06 12:41] #34308 closed

[2021-05-06 12:42] #34369 closed

[2021-05-06 12:54] #34903 closed

[2021-05-06 13:09] galak commented on #34904
If there's a desire to support frdm-k82f with no-multithreading, once that works it should get added to tests/arch/arm/arm_no_multithreading

[2021-05-06 13:14] nordic-krch commented on #34925
Will be looking at this. Seems that C++ in fact behavior is platform specific.

[2021-05-06 13:19] EinarHenriksen commented on #34865
I'm testing with your code now, and in the basic example this has solved the problem for me too.
Thank you very much for the quick response :)

Though in my application where I set up a BSD socket and send ethernet packets, after a connection has been established between my linux gptp host and the gptp server on my board this warning gets printed for each incoming packet afterwards:
`net_conn: pkt

[2021-05-06 13:23] ainguraXmarquiegui commented on #33747
Hello @hakehuang . Yes, we posted the registers because we think that information is more valuable and closer to the root of the problem. We might be wrong, though...

Seeing that you are still interested in us replicating your steps with the debugger, we have done so in two of our EVKs.

Here's what we see when we run the debug session on the i.MX-rt1020-EVK:

[code]
Here's what we see when we ru

[2021-05-06 13:38] FRASTM commented on #32839
The WA  (#34307) on the stm32g0  is programming 1 wait-state on the flash read, instead of 0.
The nb of wait states to be inserted depends on the clock (HCLK) of flash memory . HCLCK is given by the AHB prescaler applied on the systemclock.
Actually a value of 2 wait states is recommended for HCLK running at 64MHz.

[2021-05-06 14:14] nimarty opened #34931 "dns resolve timeout leads to CPU memory access violation error"
**Describe the bug**
Zephyr OS crashes when trying to do a DNS resolve. Zephyr runs in QEMU (qemu_x86). zsock_getaddrinfo() from getaddrinfo.c is used.

**To Reproduce**
Steps to reproduce the behavior:
1. build for qemu_x86 and run
2. simple application sends a dns query from within main() using api mentioned in description.
2. zephyr fatal error

**Expected behavior**
When the DNS server is not

[2021-05-06 14:14] nvlsianpu opened #34932 "drvers/flash/nrf_qspi_nor: high power consumption on nrf52840"
**Describe the bug**
Energy consumption is to high.
This is related to nRF52840 anomaly 122
[here](https://devzone.nordicsemi.com/f/nordic-q-a/73909/qspi-high-current-improvements-for-anomaly-122-in-nrf52840)

**solution**
here: https://github.com/zephyrproject-rtos/zephyr/pull/34405

[2021-05-06 14:22] npitre commented on #34844
On Thu, 6 May 2021, enjia mai wrote:

I just did. And I get:

[code]

[2021-05-06 14:24] mniestroj commented on #34931
"Zephyr v2.4.99-ncs1" is not mainline Zephyr. Could you retest with tip of master?

It would be also very useful to provide link to commited code (your fork) that allows to reproduce this bug. Just to speed up reproducing it.

[2021-05-06 14:29] enjiamai commented on #34844
Excuse me, @npitre, could you please tell me the commit ID you use, let me also have a try, thanks~

[2021-05-06 14:34] npitre commented on #34844
Commit 5f423d45cfa1 (before the test order swap workaround was merged).

[2021-05-06 15:12] nandojve commented on #33523
Could you execute `west flash` using -v option and print here the command line?
`west -v flash`

This change on the devicetree should avoid --offset parameter because start address is 0.

[2021-05-06 15:16] jb-gcx opened #34935 "LwM2M: Block transfer with TLV format does not work"
**Describe the bug**
When writing an opaque resource with block transfer using the TLV format, the first block is received and interpreted correctly. The payload of the second block is interpreted by the code as a new TLV tuple, even though it doesn't repeat the TLV header. This causes the first bytes of the payload in the second block to be interpreted as a TLV header, resulting in an arbitrary t

[2021-05-06 15:27] #34093 closed

[2021-05-06 15:31] enjiamai commented on #34844
Here are my trials of running by "west build tests/ztest/error_hook/ -b qemu_cortex_a53_smp -p always -t run -DCONFIG_TEST_USERSPACE=y"

f5e3d89e326567c2aa345abb6d6b4f28fb497b37 (ztest order workaround)  west 20/20 pass, by twister pass
2b864edbcd1d6f7dfbf8c9797a845c05fd344456 (last before workaround)  west 20/15 pass, by twister failed
5f423d45cfa1fdfe4a543a0b773f8f8eb3048109 (commit you are usin

[2021-05-06 15:47] npitre commented on #34844
Let's keep this open until we can explain the root issue.

[2021-05-06 15:53] jukkar commented on #34865
This means that you run out of net_pkt, you need to increase the number of `CONFIG_NET_PKT_RX_COUNT` and probably `CONFIG_NET_BUF_RX_COUNT` too.

[2021-05-06 16:08] carlescufi commented on #34518
I think it's reasonable as an approach, would need coordination to get in since it would probably require many sparse changes in the tree.

[2021-05-06 16:15] carlescufi commented on #34581
It is. @Andermutu you might want to try opening a ticket in the Nordic DevZone.

[2021-05-06 16:29] pabigot commented on #33491
See https://github.com/zephyrproject-rtos/zephyr/pull/34531#pullrequestreview-653659547: the C library is doing exactly what it was told to do.

[2021-05-06 16:34] enjiamai commented on #34844
@npitre But I also want to highlight that when an assertion happened, especially in ISR, in a normal situation program should be terminated. Recover it here then keep executing the program only for testing purposes.

[2021-05-06 16:38] carlescufi commented on #34121
The .pdf was added in part due to archival purposes related to Safety certification, so I think we should keep it even if it is not complete. It was good enough that it could be considered usable.

[2021-05-06 16:42] manoj153 commented on #34672
okay closing this and proceeding with a proper issue relating to serial driver

[2021-05-06 16:42] #34672 closed

[2021-05-06 17:13] #34891 closed

[2021-05-06 17:17] npitre commented on #34844
Agreed. However, in this case, the fact that it sometimes works and
sometimes doesn't is worrisome. That is indicative of a race somewhere
and we better find it.

[2021-05-06 17:20] #33954 closed

[2021-05-06 18:00] erwango commented on #34518
I've seen that often indeed

[2021-05-06 18:37] rettichschnidi commented on #17005
Glad this is now public! Awesome!

Does this have any positive consequences regarding this issue here?

[2021-05-06 20:17] npitre commented on #33515
This is solved with commit 28dc807f5057

[2021-05-06 20:17] #33515 closed

[2021-05-06 21:16] #27697 closed

[2021-05-06 21:35] #34670 closed

[2021-05-06 21:35] mbolivar-nordic commented on #27697
I just retested. It does pass -nogui 1 on flash and that does work.

I also passes -nogui on debug, but I still get a GUI. There's nothing I can see wrong with what west is doing, though.

[2021-05-06 21:36] nandojve commented on #34683
To make it easy to reproduce:

[code]

Apply this diff
[code]

Move out Zephyr dir:

[code]

For frdm-k64f
[code]

[code]

[2021-05-06 21:41] henrikbrixandersen commented on #27697
Oh. I didn't test debug. I'll leave this as closed, though.

Can't see anything wrong with the west runner either. Thanks.

[2021-05-06 21:51] nandojve commented on #34683
For nrf52840dk_nrf52840

[code]

[code]

[2021-05-06 21:56] nandojve commented on #34683
For nucleo_f767zi

[code]

[code]

[2021-05-06 21:57] nandojve commented on #34683
CC: @nvlsianpu , @de-nordic , @utzig

[2021-05-06 22:19] MaureenHelm commented on #34683
The title of this issue suggests the problem is related to OpenOCD, but I don't think that's the case since you've reproduced it on frdm_k64 (pyocd), nrf52840dk_nrf52840 (jlink), and nucleo_f767zi (openocd).

[2021-05-06 23:08] jenmwms commented on #32603
FWIW - The test progresses with the use of newer APIC timer driver:
https://github.com/zephyrproject-rtos/zephyr/issues/32603.

[code]

[2021-05-06 23:28] nashif commented on #34925
#34946 fixes the filtering and shows what is failing as well.

[2021-05-07 00:30] #27000 closed

[2021-05-07 00:35] nandojve commented on #33523
There are two solutions to this board. I think add a compatibility mode is better than change flash layout.
I'm waiting feedback about #34947 to finish the work.

[2021-05-07 00:40] utzig commented on #34683
I just run some tests with MCUboot and smp_svr on latest master and everything is working correctly. `hello_world` does not write the image flags, so I assume you have modified it to use updatehub, which calls `boot_set_confirmed` from MCUboot, set a breakpoint there and check what condition fails. Also, there's no need to confirm an image unless you're doing a test upgrade, and there's no need to

[2021-05-07 01:02] galak opened #34948 "SoF module is not pointing at Zehpyr repo"
West.yml has:

[code]

This is not acceptable for release and needs to be resolved to use the Zephyr SoF fork.

[2021-05-07 01:18] nandojve commented on #34683
Hi @utzig ,

The `smp_svr` is not part of this use case. The procedure described here should work, at least it worked till Dec/20 for all these boards.

This issue happen when an external agent install a clean image at some slot (in this case at first slot, it could be second). And yes, I'm interested to use `boot_set_confirmed` because UpdateHub uses test upgrade.

Here, I created a test applicat

[2021-05-07 01:46] utzig commented on #34683
I guess I missed much of the previous description, but I confirmed the issue and run it in the debugger, and the issue happens here:

https://github.com/mcu-tools/mcuboot/blob/master/boot/bootutil/src/bootutil_public.c#L586

This line checks that the image copy_done flag is set, which it is not because no upgrade was performed, and thus it fails to write the confirmed flag. Someone can track down

[2021-05-07 02:31] npitre commented on #34838
A few things look wrong here.

`Z_LOG_MSG2_CREATE2()` is passed a `char str[256]` making
`CBPRINTF_MUST_RUNTIME_PACKAGE()` to always be true. The resulting mode is
`RUNTIME` and not `ZERO_COPY` which fails the first `zassert_equal()`.

Then, removing the `str` argument makes it pass, but the test fails further
down. It turns out that the static package produces a payload of 56 bytes
whereas the ru

[2021-05-07 03:00] hakehuang commented on #33747
![gptp](https://user-images.githubusercontent.com/800198/117391382-6b5df280-af22-11eb-875e-cea510f07208.png)

Now it looks like something strange, this is only one line assigment what I can see is that ptpTimeData.nanosecond is updated with correct value, but pkt->timestamp.nanosecond is not assigned after
803                     pkt->timestamp.nanosecond = ptpTimeData.nanosecond;

it is not possi

[2021-05-07 03:02] hakehuang commented on #34904
just to add more information, all lpuart platfrom from NXP will be impacted.

[2021-05-07 03:06] cederom opened #34949 "console Bluetooth LE backend"
**Is your feature request related to a problem? Please describe.**
There is a CONSOLE module in Zephyr that helps in device control and development. It would be really nice to have also BLE UART module that would allow remote testing and control of devices with no physical usb/uart over the wire. I know that Nordic provides custom service for BLE UART [1].

**Describe the solution you'd like**
BLE

[2021-05-07 03:47] hongshui3000 opened #34950 "xtensa arch ：The source code version is too old"
**Describe the bug**
I tried the latest xtensa compilation tool to compile zephyr, and found that the ADDI.A instruction could not be recognized (because my dsp does not support this instruction but there is this instruction in my tie-asm.h).

The latest XTOS has the following changes:
The "addi.a" is an assembler macro for "addi" instruction, conditionally defined in <xtensa/coreasm.h>.
#ifndef X

[2021-05-07 06:22] kevin137 commented on #33747
Ok @hakehuang , we agree that line 803 is very strange. It certainly seems that, after the assignment, pkt->timestamp.nanosecond should get the value in ptpTimeData.nanosecond. We are quite convinced that the problem is related to the ATCR Reset Timer bit not clearing, as we attempted to show in previous posts, but in any case, we agree that there is some state machine issue.

@MaureenHelm , How c

[2021-05-07 06:48] reibax-marcus commented on #33747
Hello @hakehuang ,

Thank you very  much for your time. Allow me to disagree on the fact that it is not a low layer driver issue. I think we are running into more than problem here. I did exactly the steps you asked to get this unstuck, but I have more observations.

In both your test run, and our test run the debugger is misleading us. **ptpTimeData.nanosecond in not being updated with the correc

[2021-05-07 07:02] nordic-krch commented on #34948
@nashif Fix in sof has been merged but I am not sure how that gets to zephyr fork.

[2021-05-07 07:11] jukkar commented on #33747
This looks like some kind of stack issue

[2021-05-07 07:32] nvlsianpu commented on #34683
@nandojve Thanks for report. I must have overlooked the issue.

[2021-05-07 08:12] Andermutu commented on #34581
@carlescufi I have already openend a ticket. They told me that I might found help here...

[2021-05-07 08:24] nvlsianpu commented on #34683
@utzig

This line checks that the image copy_done flag is set, which it is not because no upgrade was performed, and thus it fails to write the confirmed flag. Someone can track down where this changed recently /cc @nvlsianpu

So yes, current implementation of in MCUboot bootutill public is more strict than the one before. I would just remove the check of copy-done flag. Actually if image is runni

[2021-05-07 08:29] cvinayak commented on #34837
Yes, if you want lower latency on one connection at a time, you can switch to lower connection interval on that connection and increase connection interval on others. When you put back all connections to same connection interval, the Zephyr controller scheduling to group the connections back into non-overlapping time space.

Do revert back if you see any scheduling issues.

[2021-05-07 08:29] carlescufi commented on #34837
Closing since this is informational. The conversation for advice can continue even with the issue closed.

[2021-05-07 08:29] #34837 closed

[2021-05-07 08:52] mglettig commented on #34438
To get further on this topic I introduced a new KConfig parameter in modules/KConfig.civetweb called "CONFIG_USE_MBEDTLS". Then in civetweb.c I do the following:
[code]
Is modules/KConfig.civetweb the right place to put this KConfig parameter?

Additionally I need to set the following configuration flags in order to make sure mbedtls is linked against the target:
[code]
Later those configuration p

[2021-05-07 09:04] Stefan-Schmidt commented on #33523
Just tried with your PR and I can confirm it fixes the issue for me. I assume that means you do not want any verbose flash output anymore. If you still need any logs or such let me know.

Thanks for working on this!

[2021-05-07 09:26] nimarty commented on #34931
I updated to the latest Zephyr OS: zephyr-v2.5.0-3535-gf4350a9303e5 and retried to do a dns resolve with qemu_x86.

This time there is a problem right while/after receiving ARP response.

[code]

[2021-05-07 09:28] Nukersson commented on #34438
Good beginning. Sure you need to implement / reimplement multiple posix functions as Civetweb were primarily developed for Linux, I believe. But anyway you can first put some "fake" functions into Civetweb examples. In my example there should be a file containing some faked posix functions. Just follow same way for the first time. You can just return default values in newly added functions.

Addit

[2021-05-07 10:14] mniestroj commented on #34931
@nimarty Thanks! Could you commit exact configuration and code that results in this crash and send a link? Or at least attach configuration and `void main()` body?

[2021-05-07 11:11] EinarHenriksen commented on #34865
ok so I increased pkt_rx_count and buf_rx_count from 32 to 512, filling up my sram to 97%, and now it fails in 30 seconds instead of 3 seconds after the gptp connection is established

[2021-05-07 11:25] microbuilder opened #34962 "tfm: cmake: Toolchain not being passed into psa-arch-tests"
**Describe the bug**

When running unit tests for `psa_arch_tests` with TF-M, cmake falls back to the default C compiler, rather than forwarding the correct ARM cross-compiler, resulting in build failure.

The use of the host compiler is caused by this: https://github.com/zephyrproject-rtos/trusted-firmware-m/blob/master/psa-arch-tests/api-tests/CMakeLists.txt#L415-L436

Where the compiler is not

[2021-05-07 11:40] pfalcon opened #34964 "net regression: Connection to Zephyr server non-deterministically leads to client timeout, ENOTCONN on server side"
**Describe the bug**

When running dumb_http_server sample for qemu_x86, and connecting to it with `ab -n1000 http://192.0.2.1:8080/`, the `ab` tool aborts due to timeout during handling of one of these 1000 requests. Previously (v2.5.0), 100K requests were served without any problem.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/sockets/dumb_http_server
2. west build -b qem

[2021-05-07 11:49] wthidden commented on #34324
PR #34828 fixed my issue with not having RTT and SystemView working on the F429 boards. SystemView sometimes is not able to gather data, but after a board power cycle SystemView seems fine.

[2021-05-07 12:04] de-nordic commented on #33491
It is not a bug; the `size`, within context of `fwrite` definition,  is of type `size_t`, so the value -1 is casted as expected.
It is quite common trick  to give unsigned type the highest value by assigning it `-1`.

Internally, within the  `fwrite` function expects `size_t` which means that any value that fits within range of the type is correct.
Lets for example assume that  `size_t` is 16 bit,

[2021-05-07 12:09] erwango commented on #34324
@wthidden Thanks for this feedback.
@ghlualven, @mHendelja Can you have a try on your side ?

[2021-05-07 12:13] nandojve commented on #33523
Hi @Stefan-Schmidt ,
No need for verbose output on previous case. There are two solution and I believe that #34947 is the most recommended solution.

I'll finish PR and open to review soon.
Thank you all for bring this to us.

[2021-05-07 12:40] #34840 closed

[2021-05-07 13:01] carlescufi commented on #34581
OK, understood. In that case, can you please try updating to the latest nRF Connect SDK master to see if that fixes your issue?

[2021-05-07 13:06] pfalcon commented on #34964
I now tested with frdm_k64f, and cannot reproduce this issue, with either `-n1000` or `-n100000`.

How it was before, is that there was not ideal handling of retransmits and other uncommon conditions in the network stack. qemu serial emulation (as used for SLIP networking connection) is also not ideal, leading to some transmitted data loss, rexmits/timeouts in the stack. So, the fact that 100K cou

[2021-05-07 13:14] nashif commented on #34948
huh,  and I was wondering how the MAX issue was worked around, @carlescufi  how can we block such changes from being merged, anyway we can do a check on the manifest and block PRs that have such entries?

[2021-05-07 13:28] #29610 closed

[2021-05-07 13:31] enjiamai commented on #33491
Hi @carlescufi @nashif , the point from @pabigot and @de-nordic is totally making sense, it's not a bug. Can we close this issue? thanks!

[2021-05-07 13:32] #33491 closed

[2021-05-07 13:36] oyvindronningstad commented on #34962
This is psa-arch-tests. An issue can be opened here: https://github.com/ARM-software/psa-arch-tests/issues

[2021-05-07 13:37] johnkjellberg opened #34969 "Documentation still mentions deprecated macro DT_INST_FOREACH_STATUS_OKAY"
**Describe the bug**
`DT_INST_FOREACH_STATUS_OKAY` gives a deprecated compiler warning but the guide `guides/dts/howtos` still mention that it should be used.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `DT_INST_FOREACH_STATUS_OKAY` in code.
2. compile

**Expected behavior**
The documentation should mention what to use instead of the deprecated macro.

**Impact**
Confusion on what is

[2021-05-07 13:39] microbuilder commented on #34962
I'll file one and put a change request together, and update the issue here with a link.

[2021-05-07 13:53] soburi opened #34971 "Add a hal for Nuclei RISC-V core and SoCs"
This PR adds support for GigaDevice GD32V SoC and SiPeed Longan Nano board that is use the SoC.
Currently, the west module dependency points to https://github.com/soburi/hal_nuclei.

Support:
GPIO
UART (UART0 only, pins are fixed)

WIP:
Support pinctrl.
Add SPI and other drivers.

## Origin

Nuclei Software Development Kit
https://github.com/Nuclei-Software/nuclei-sdk

Fork and modifying to work w