[2018-10-02 17:46] pfalcon commented on #10339
My wild guess is: some hardware has hardware debounce settings, that might be for that. But I never saw that in general-purpose MCUs (which we kinda target in the mainline Zephyr), and then the config of that debounce functionality was more complex than just one "debounce on" bit (e.g. there was debounce time, maybe something else).

[2018-10-02 17:48] pfalcon commented on #8975
I'm sure the word which was meant here is "improved". @oxalistriangularis, if you don't mind, I'll fix this and a few other minor typo-like issues in the description. (I'd ask you to do that, but as this ticket is a bit dated, I'm not sure how soon you could get to it, so hopefully fixing it on spot is ok.)

[2018-10-02 17:58] ceolin commented on #10336
That's true this function returns a boolean and the check is wrong. But there is other problem here, this is a builtin function and it is not allowed too and since there is no prototype for this function they static analyzer interpret it as returning an integer.

Thanks for pointing it out.

[2018-10-02 18:02] ceolin commented on #9552
Useful link: https://gitlab.com/MISRA/MISRA-C/MISRA-C-2012/Example-Suite

It contains examples of the problems addressed by MISRA-C

[2018-10-02 18:13] ceolin commented on #10336
#10342

[2018-10-02 18:28] kubiajir commented on #10339
Hi,
Im missing flag for pin Open Drain settings.

[2018-10-02 18:55] #10207 closed

[2018-10-02 21:06] #8159 closed

[2018-10-02 21:49] DWagenk commented on #10339
@kubiajir I think the `GPIO_DS_*_*` flags are meant for your use case although I haven't seen them implemented in the gpio drivers yet.

@galak I'm still unsure about the proposed `GPIO_INT_*` flags. They contain parts that I deem board-specific and parts that I deem application specific.

e.g. for the button sample:
the boards .dts files need to set GPIO flags to select if a low level or a high l

[2018-10-02 21:57] DWagenk commented on #10339
I'd also propose to be more verbose in the boards .dts files, to give more guidance for newly ported boards. Namely set all flags, that are deemed board-specific in the .dts file, even if they evaluate to the respective bit beeing set to 0.

e.g. for an LED:
`(GPIO_DIR_OUT | GPIO_ACTIVE_LOW | GPIO_PUD_NORMAL)`

and for a button:
`(GPIO_DIR_IN | GPIO_ACTIVE_LOW | GPIO_PUD_PULL_UP)`

Although `GPIO_

[2018-10-02 23:53] mnkp commented on #10339
When initializing pin as an output we need to define its initial state to either high or low. There is no way around it or we are going to drive the pin with some random value. Currently this requires two steps: setting the required voltage level on a pin and then configuring the pin as an output. This is clumsy and error prone.

So I propose to have two flags GPIO_DIR_OUT_HIGH, GPIO_DIR_OUT_LOW.

[2018-10-03 00:05] mnkp commented on #10339
The debounce circuitry is actually very common and present on many MCUs supported by Zephyr. Configuring its properties is a bit tricky though as it is MCU / vendor specific. Maybe this part could be done by DTS. The flag would only turn the circuitry on or off.

The debouncing is usually not interrupt specific. Also when reading / polling the pin directly the effect of debouncing circuitry is vis

[2018-10-03 00:52] galak commented on #10339
What SoC / board are you needing/wanting open drain settings for?

[2018-10-03 00:55] galak commented on #10339
I'm in agreement with you here, I do wondering if DIR_IN/OUT is needed in the dts, it should be implied by the usage.

[2018-10-03 06:59] tbursztyka commented on #10339
@galak

That is meant to mitigate spurious interrupts due to crappy wiring or components (cheap buttons, etc...)

I guess we could remove that flag. Imo, if the controller supports debouncing internally, the driver should always enable it. If not, up to the electronic part to do it anyway.

[2018-10-03 07:01] vlotech opened #10344 "SPI Chip Select usage is not unambiguous"
In the different SPI drivers for each of the SoC's i noticed that there's no control mentioned over the peripheral own chip select line(s). Only in case a GPIO is used, the behavior is defined.
Some chipset have multiple CS lines per peripheral. There is no interface given to map devices to each of the chipsets.

secondly, the flag SPI_HOLD_ON_CS is only used for the gpio version in all drivers, b

[2018-10-03 07:14] #6766 closed

[2018-10-03 07:15] #6402 closed

[2018-10-03 07:18] ioannisg commented on #8018
The non-overlapping MPU regions' issue is handler in #8907

[2018-10-03 07:46] SebastianBoe opened #10345 "The OpenAMP remote build is for wrong board"
The OpenAMP sample does not build on the latest master.

Steps to reproduce;

1. git checkout b941561e # Check out a recent master
2. $ZEPHYR_BASE/scripts/sanitycheck -T $ZEPHYR_BASE/samples/subsys/ipc/openamp

[code]

[2018-10-03 07:53] joerchan commented on #10146
The sniffer trace that has been uploaded does not show a connection that disconnected with that error code, but there is a hole in the sniffer trace , so it might be that the sniffer missed it. Can we get a new sniffer trace?

Also could you provide some more information to help me reproduce the issue?

- Which device is central.
- which device is peripheral.
- a specific commit
- Any special conf

[2018-10-03 08:09] SebastianBoe commented on #10345
I can no longer reproduce this. I can't explain why.

[2018-10-03 08:14] SebastianBoe commented on #10345
Found the explanation.

When openamp does a recursive-build (&¤#!) it does not correctly transfer all necessary metadata from one build to the other, specifically, the BOARD is set differently in the two builds. This can be seen if one greps for BOARD in above attached log output.

You will see that one build is done with nrf52840_pca10056 and the other with xpresso.

[2018-10-03 09:34] aescolar opened #10348 "valgrind detected issue in logger, during msg free"
`Valgrind` is detecting an issue, when the logger frees messages:

==18932== Conditional jump or move depends on uninitialised value(s)
==18932==    at 0x804AC96: log_is_strdup (log_core.c:539)
==18932==    by 0x804AEEF: msg_free (log_msg.c:51)
==18932==    by 0x804AFB8: log_msg_put (log_msg.c:86)
==18932==    by 0x804A971: msg_process (log_core.c:369)
==18932==    by 0x804A9D2: log_process (log_c

[2018-10-03 09:41] mped-oticon commented on #10182
@SebastianBoe I think it would be cleaner and simpler to handle this within Cmake: Whenever a literal GCC-specific compiler flag is used, abstract it away into a cmake macro (or function). E.g. "-g" becomes something like get_cc_debug_flags() which becomes an API each toolchain has to implement.

@yashi So you translate the command line flags, but do you expect to also modify the C files in-place?

[2018-10-03 09:42] carlescufi commented on #10348
@jarz-nordic if @nordic-krch is away could you take a look at this one?

[2018-10-03 09:49] SebastianBoe commented on #10182
I disagree. Users will be more familiar with GCC flags than our CMake compiler flag API and will therefore find it easier to read and write build scripts with the solution proposed here.

[2018-10-03 09:54] SebastianBoe commented on #10182
Note that we do employ the "wrapper CMake API" approach for some flags, such as -g. This has been wrapped with the CMake variable OPTIMIZE_FOR_DEBUG_FLAG.

But this approach does not work well for the full GCC CLI.

[2018-10-03 09:59] jarz-nordic commented on #10348
@carlescufi : We need to wait for Krzysztof, he shall be tomorrow at the office.

[2018-10-03 10:54] yashi commented on #10182
@mped-oticon I haven't encountered any C file to modify.  I've posted my diff here. https://gist.github.com/yashi/d200601d68cd3d9948600d99aee5ef1f

There are many debug / test code in it or missing files but hope you feel what I'm doing.

[2018-10-03 11:18] yashi commented on #10182
Having compiler option translator / compiler driver is to add yet another layer to our already complex build system, IMO.   With cmake, however, it is easier to add arbitrary compile options in sub-directories and we already have some of them.  Having if-gcc-elif in all of those cmake is burden to developers who don't know all compilers we will support.

The current compiler driver is designed to

[2018-10-03 11:27] SebastianBoe commented on #10182
This is not possible because the compiler options are not known until after "cmake time" (Configure-time). For instance, if generator expression are used;

zephyr_compile_options($<$<BOOL:${ENABLE_SOME_FLAG}>:--some-flag>)

[2018-10-03 12:30] anangl commented on #10339
What about the GPIO_DS_* flags? Should these also be specified in dts then?

[2018-10-03 12:51] anangl commented on #10339
But to be consistent we would then need to take this abstraction into account also in calls to `gpio_pin_read` and `gpio_pin_write`. I am afraid that this way we'd end up with a similar confusion that the one introduced by the GPIO_POL_* flags.
I'd prefer to stay with the naming proposed by @galak. At the application level one can use the flag from dts to check which edge, raising or falling, shou

[2018-10-03 13:17] jfischer-phytec-iot commented on #10339
Electromechanical components such as buttons bounce, no matter expensive or cheap. Debouncing causes signal delays, so it only makes sense to use it for the buttons and not for interrupt signals from sensors or transceivers. Please keep the GPIO_INT_DEBOUNCE  flag or rename it to GPIO_DEBOUNCE as proposed by @mnkp.

[2018-10-03 14:15] pkral78 commented on #3102
Regarding newlib as default library.

The problem is that newlib in some default preconfigured/compiled form is included with toolchain (as ABI dependency). That default configuration should not be sufficient because:
1.) it may differ version/vendor to version/vendor of toolchain
2.) doesn't support reentrancy by default

So I suggest that newlib should be preconfigured/precompiled for Zephyr pro

[2018-10-03 15:17] galak commented on #10339
Do you think we should drop GPIO_DEBOUNCE from the sensor trigger code?

[2018-10-03 20:17] jfischer-phytec-iot commented on #10339
I think yes.

[2018-10-03 22:05] dleach02 commented on #10338
I manually ran PyLint3 on the various scripts and here is the current state:

************* Module dts.extract_dts_includes
dts/extract_dts_includes.py:100:24: E1101: Instance of 'dict' has no 'iteritems' member (no-member)
************* Module dts.devicetree
dts/devicetree.py:215:40: E0602: Undefined variable 'name' (undefined-variable)
************* Module dts.extract.directive
dts/extract/direc

[2018-10-03 22:35] ulfalizer commented on #10338
Re. the ones I know stuff about:

[code]

`checkconfig.py` hasn't been updated for Kconfiglib 2, which renamed `Config` to `Kconfig`.

[code]

`pylint3` getting confused by Python 2/3 compatibility.

[code]

False positive due to global variable. I'm a fan of them under the right circumstances.

[code]

False positive. The code is `y, x, s = args[:3]`, and `args` is required to have at least 3 ele

[2018-10-03 23:13] dleach02 commented on #10338
I didn't inspect all of them but there are some that are real errors on that list... my only point is that integrating PyLint into the CI process will help catch all of these and any new ones... and it is just generally good practice with Python code (particularly if we open it up a bit and look at the warnings as well).

[2018-10-03 23:28] ulfalizer commented on #10338
Yep, doesn't hurt to run it from time to check for errors.

I don't know if we've planned to take it further than that. I think there's a risk that it turns into tool pleasing, for little or negative benefit.

This guy is my spirit animal when it comes to "PEP 8-ifying" code and the like: https://www.youtube.com/watch?v=wf-BqAjZb8M

[2018-10-04 03:14] ulfalizer commented on #10338
Just to not sound overly negative, I think it'd be awesome to automatically flag stuff like unused local variables. Getting rid of things like that is always a win.

[2018-10-04 07:37] tbursztyka commented on #10339
@jfischer-phytec-iot

The issue with providing a flag for DEBOUNCE is that not all hw support it. Actually, only a very few does if I look at our drivers, unlike what @mnkp said. Unless the feature was not handled in most of the drivers, then that's another issue.
Which makes a code using that flag not portable (aka: the gpio line behaviour will not be guaranteed depending on gpio controller below

[2018-10-04 08:29] carlescufi commented on #4326
@galak Can we close this now that this is merged?

[2018-10-04 08:34] raveslave commented on #4326
I've checked this out and right now there is only a hard-coded UART supported.
Would be great with the full peripheral-set of the PSoC 6 as well as offering a more flexible pin-configuration.

[2018-10-04 08:42] carlescufi commented on #7347
I think we can close this now @SebastianBoe, as this is no longer the case.

[2018-10-04 08:42] carlescufi commented on #9954
Closing due to lack of feedback and availability of native builds for Windows

[2018-10-04 08:42] #9954 closed

[2018-10-04 09:04] carlescufi commented on #4326
@raveslave thanks for chiming in. @nazrchorn @OlegKapshii do you have plans to improve and extend the port?

[2018-10-04 09:54] jarz-nordic opened #10369 "Logger crashes shell when boot banner is enabled"
When following parameters are enabled:
`CONFIG_LOG_PRINTK=y`
`CONFIG_BOOT_BANNER=y`

Program stucks in function `static void panic(const struct log_backend *const backend)` in shell_log_backend.c file

When boot banner is disabled `CONFIG_BOOT_BANNER=n` applications works just fine.

[2018-10-04 10:13] pkral78 commented on #3102
I've already done something similar for company's RTOS using cmake's ExternalProject_Add.
The tricky part was how to substitute libraries it produces to toolchain's linker with cmake.
It is neccessary to use plain ld, not gcc frontend as it already preconfigure lib dirs to toolchain itself.

I end up with something like this for gcc:
`
execute_process(
        COMMAND ${CMAKE_C_COMPILER} ${CMD_ARC

[2018-10-04 11:43] tbursztyka commented on #10344
Ok, I'll check this seems-to-be-a-bug spi_release().

About hw CS line controls, the use-case never popped up so far. Thus why, currently, it affects the gpio emulated CS lines. However, through the same struct spi_cs_control you could affect the controller CS lines: gpio-dev could be NULL, gpio-pin set to UINT_MAX (or we don't care about its value, either way) and delay would be a valid value in

[2018-10-04 12:34] jarz-nordic commented on #10190
@aescolar @jukkar
Shell cannot simply select CONFIG_SERIAL. In future when we will have more backends I can imagine that one wants to have only shell on RTT or BT. Hardcoded SERIAL selection makes limited sense in such case.

I will add an option in shell's Kconfig like ACTIVE_BACKEND, when user will have possiblity to select SERIAL or any other...

[2018-10-04 12:49] dleach02 commented on #10338
I don't follow everything on PyLint/PEP. But for actual error checking it is very useful. I personally like Google's style: https://github.com/google/styleguide/blob/gh-pages/pyguide.md

[2018-10-04 13:21] Olivier-ProGlove opened #10378 "watchdog: Limitation with the current watchdog API for Nordic devices"
**Context:** At boot time my device can take a lot of time to initialize itself - mainly due to flash accesses by NVS and FCB modules.

While I initially setup the watchdog after all these initialization steps, it has recently been decided to move watchdog initialization at the early stage.
Unfortunately the watchdog window is too small for the boot phase.
So I was thinking to setup a first watchd

[2018-10-04 13:57] fnde-ot commented on #10182
How about moving all the "zephyr_compile_options" and friends (ld_options, ...) from the root CMakeLists.txt to the specific toolchain cmake files?

Those are included after kconfig so they should have access to CONFIG_* variables as well as most cmake variables. It shouldn't be rocket science to move the logic from the root CMakeLists.txt to -for example- gcc.cmake and others. That would also sim

[2018-10-04 14:57] erwango opened #10380 "Warning on SYS_LOG_ERR instruction in spi_ll_stm32.c"
Following warning is generated when running `tests/drivers/spi/spi_loopback`:
[code]
This prevents CI to pass, for instance here:
https://github.com/zephyrproject-rtos/zephyr/pull/5541

[2018-10-04 15:29] yerabolu opened #10382 "samples/sensor/apds9960/ results into build failure on multiple platforms."
The test **samples/sensor/apds9960/** results into build failure on multiple platforms.

**Board:** sam_e70_xplained, quark_d2000_crb, quark_se_c1000_devboard, quark_se_c1000_ss_devboard
**Arch:** x86, arm, arc
**Zephyr version:**  commit 98d765a3b4c6204cd789754ff266cf53791d570f.
**Toolchain:**  ZEPHYR_TOOLCHAIN_VARIANT=zephyr

**Build Log:**
[code]

**Steps to reproduce:**
[code]

**Additional in

[2018-10-04 17:47] ceolin commented on #10336
integrated, thanks again.

[2018-10-04 17:47] #10336 closed

[2018-10-04 18:21] salerio-gs commented on #6545
I would add the Xilinx US+ MPSoC (as found on 96 Boards Ultra96), this will become popular I think.

[2018-10-04 19:36] galak commented on #6545
That would be awesome!

[2018-10-05 00:03] GAnthony opened #10389 "Conversion of net core to new logger breaks WiFi driver builds"
commit a76814bfb698a33bb6a5337421c1504b157beb71
" net: Convert core IP stack to use log levels"

seems to have broken the builds of WiFi drivers for both SimpleLink and winc1500.

I tried to grok what changes would be needed to update wifi_mgmt, or the drivers, but think I need some pointers.

Eg: try to build samples/net/drivers/wifi

`build[(no branch, bisect started on 3d1a659)]> pwd
/home/gpit

[2018-10-05 08:04] #10190 closed

[2018-10-05 08:43] paulsykes commented on #10243
@pfalcon: Using Ubuntu 16.04.10 I have the same issue, -m32 appears to be missing from the link line. This was not an upgrade, it was a recent fresh install.

[code]

gcc is:
[code]
multilib packages:
[code]
Would be interesting to try a 16.04 clean vm to see if it is broken?

[2018-10-05 10:19] carlescufi commented on #10312
@joerchan @nvlsianpu can you please advise on this one? There was a conversation on IRC about this in #zephyr-bt, hopefully you have the logs.

[2018-10-05 11:02] pfalcon commented on #10243
@paulsykes : Cool, thanks for confirmation and additional info. Previous to upgrade, I was on 16.04 and everything was ok for me. (16.04 was itself upgraded from 14.04.)

It's still on my todo to debug this.

[2018-10-05 11:19] jukkar opened #10402 "Crash with new logger and with new shell"
I tried to use the new net-shell with new logger enabled in native-posix. Got following crash, I just wonder if I am missing some config option. I see crash also with qemu_x86.

[code]

The crash happens when networking code tries to print something to new logger. In this case I had set the `CONFIG_NET_CORE_LOG_LEVEL_DBG=y` option.

Steps to reproduce:
* clone #9825
* use `samples/net/echo_server`

[2018-10-05 11:27] jukkar commented on #10389
This is trivial to fix, I am working on it. Unfortunately this wifi sample was missing sample.yaml file so it was never checked by sanitychecker.

[2018-10-05 11:39] nvlsianpu commented on #10312
I see no obstacles for saving this just after case. In normal device life storing CCC Is expected to be rare event -like paring is..  In case a device might subscribe to more than one characteristic it is better to save all CCC at once (this will decrees wear levering - understand that we don't know how many subscription request will received, so nice to have only). We disused this together with @

[2018-10-05 11:41] pfalcon opened #10404 "Clarification of the code style to use for module* params in Kconfig templates"
Recently, a "Kconfig template feature" was introduced, which requires assigning values to some template variables and then source a "Kconfig template" which will have those vars substituted.

This ticket is to clarify punctuation style to use of these template var assignments. E.g., initially syntax with spaces around `=`, e.g. https://github.com/zephyrproject-rtos/zephyr/commit/6aed72e487b5c3a8cc

[2018-10-05 11:41] pfalcon commented on #10404
cc @jukkar

[2018-10-05 11:46] Qbicz commented on #10312
As discussed with @Vudentz and @nvlsianpu, I'm adding an optional behaviour: store CCC to flash after it has been changed (in `bt_gatt_attr_write_ccc()`). I already have the storing and restoring CCC from flash working. This requires either increasing BT RX stack size or deferring to system work queue (connected to a question @Vudentz asked on IRC).

However there is another bug in loading from se

[2018-10-05 12:27] ulfalizer commented on #10404
Wee... a soapbox. ;)

I like spaces around `=`. Looks less cramped, and avoids tricking people into thinking that whitespace is significant. Preprocessor variables are based on Make variables, and people usually put spaces around `=` and `:=` there too.

Another thing is that I'd use a plain Kconfig `if` instead of `module-dep`:

[code]

It's a few more lines (the blank lines are negotiable), but

[2018-10-05 14:09] #10389 closed

[2018-10-05 15:11] #10380 closed

[2018-10-05 16:25] nashif opened #10413 "Shell: trying to browse history freezes shell on disco_l475_iot1"
can be reproduced in samples/subsys/shell/shell_module when built for the disco_l475_iot1, run one command, for example "kernel threads", then try to re-run by pressing up arrow, the shell freezes.

Works fine on nrf boards.

[2018-10-05 16:46] pfalcon commented on #10243
From the console log above: `zephyr/samples/hello_world`.

[2018-10-05 16:59] aescolar commented on #10243
The posix arch cmake file sets the "-m32"

About 16.04 I just tried, and it works fine in a clean machine. Here the exact steps I followed:
[code]

[2018-10-05 17:17] pfalcon commented on #10243
Yeah, and I thought maybe it's conditional on some checks, but it's not:

[code]

Now the fun thing: there were a bunch of toolchain upgrades in 18.04 this weekend, which I installed. Ant trying to build now for BOARD=native_posix, everything links well (I tried hello_world and samples/subsys/shell/shell_module).

I don't known what may be involved. Maybe cmake tries to smartass thru app's link fl

[2018-10-05 17:18] pfalcon commented on #10243
Btw, I don't use -GNinja, i.e. use ol' good makefiles.

[2018-10-05 18:40] GAnthony commented on #10389
Thanks @jukkar.  It wasn't quite obvious to me the conversion needed.  Saw wifi_mgmt.c was still using SYS_LOG, so guess that one just wasn't completely converted yet.  I verified wifi driver builds and runs now.
Thanks again!

[2018-10-05 20:48] jfischer-phytec-iot opened #10415 "logging: Unaligned memory access in log_free"
sample: `sample/net/rpl_border_router`
board: frdm_k64f + mcr20a

console output:
[code]

gdb:
[code]

[2018-10-05 23:46] jfischer-phytec-iot commented on #10415
Possible workaround is to set block size to multiple of 4, e.g. CONFIG_LOG_STRDUP_MAX_STRING=48. Default for networking is 46, see [subsys/logging/Kconfig](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/logging/Kconfig#L261)

[`To ensure that each memory block is similarly aligned to this boundary, slab_block_size must also be a multiple of N.`](https://docs.zephyrproject.org/late

[2018-10-07 09:16] b0661 commented on #10305
Hi @qianfan-Zhao, I am also experimenting with masked port access. What do you think about the following:

gpio.h:

[code]

There is just one inline function added that makes clear that this is a masked access. All current code that uses gpio_port_write() stays untouched. A driver that does not support GPIO_ACCESS_BY_PORT_MASK can return an error.

I think a masked access to for gpio_port_configur

[2018-10-07 10:38] qianfan-Zhao commented on #10305
@b0661 your opinion is good that can compatible the previous code, Which way is better between create new api gpio_port_write_masked and add param 'mask' to gpio_port_write in yours opinion? I prefer add mask param.
is it necessary for compatible the old versions?

[2018-10-07 16:02] MaureenHelm commented on #10382
What boards should this sample be buildable for? The only board mentioned in `samples/sensor/apds9960/sample.yaml` is the reel_board, thus CI passed.

[2018-10-07 16:39] b0661 commented on #10339
In Linux drivers (also GPIO drivers) may use the PINCTRL driver to configure the pins. ???This seems the way to go???. There is a standard set of pin characteristics to configure which are described in https://www.kernel.org/doc/Documentation/devicetree/bindings/pinctrl/pinctrl-bindings.txt.

If changing the GPIO flags why not use these well documented and seemingly sufficient flags for pin config

[2018-10-07 17:38] b0661 commented on #10305
@qianfan-Zhao

I prefer gpio_port_write_masked  as it makes clear what is done. We also have gpio_pin_write to write to a single pin. Having an extra function for a specialized write operation seems already in the API.

I don´t know. Using an extra inline function makes this PR an addition which is not intrusive; maybe this is the main argument Also why should I create a mask if I want to write to

[2018-10-07 20:29] nashif commented on #10382
this should work for any board that has this sensor connected, the sanitycheck configuration was set to limit the rebuilds of the sample.

If we are to add overrides for each board that is going to be a mess, we need to find a better way to allow this type of configuration maybe proving a generic override file instead of for each board.

[2018-10-07 21:39] pfalcon commented on #10404
@ulfalizer : Thanks for the detailed reply. Glad that you confirm preferences for spaces around "=", and since posting this ticket, the case which prompted it was resolved: https://github.com/zephyrproject-rtos/zephyr/pull/10406 , i.e. it wasn't the case that there're disagreement, it was just an omission in an otherwise pretty big and backlogged patch.

Hmm, with me actually paying attention to t

[2018-10-07 21:39] #10404 closed

[2018-10-08 01:21] Ralms opened #10420 "gcc: "Exec format error" - WSL in Windows 10 1803"
Hello everyone.

I'm having an issue doing the first build with CMake and it's starting to discourage me to get into ZephyrOS development :(

My setup is the following:
Subsystem Linux on a Windows 10 1803 machine.
Using Ubuntu 18.04.1 LTS
cmake version 3.8.2
zephyr-sdk-0.9.3
Board Intel D2000 (although I don't think its relevant with this error)

I've followed these guides twice:
https://docs.zep

[2018-10-08 07:19] vanwinkeljan commented on #10420
Are you sure it is 64-bit VM?

Could you provide the output of the following commands?
[code]

Further could you try for an other board?

[2018-10-08 07:28] Ralms commented on #10420
Hi there,

It's not a VM, it's Subsystem for Linux on Windows:
https://docs.microsoft.com/en-us/windows/wsl/install-win10

I assume it's supported since it's mentioned on the documentation here:
https://docs.zephyrproject.org/latest/getting_started/installation_win.html#option-3-windows-10-wsl-windows-subsystem-for-linux

I've tried running the QEMU_x86 board one suggested on the Getting Started p

[2018-10-08 08:51] b0661 opened #10423 "log_core.h error on pointer-to-int-cast on 64bit system"
I´m running an unit test on a 64bit system. The module under test has some logging macros included.

The logging macro tries to cast pointers to u32_t values. This does not work on my system.

The cast should follow the compiler´s pointer size.

[code]

[2018-10-08 09:32] vanwinkeljan commented on #10420
No experience with WSL but it seems this is a known issue with WSL 1803:
https://github.com/Microsoft/WSL/issues/3259
https://github.com/Microsoft/WSL/issues/3154

[2018-10-08 09:59] SebastianBoe commented on #7347
Really? That is good news, I would appreciate it if someone could post a benchmarking result to confirm this.

`time cmake -H$ZEPHYR_BASE/samples/hello_world -GNinja -DBOARD=nrf52_pca10040 -Bbuild`

[2018-10-08 10:15] carlescufi commented on #7347
Oh sorry, I thought you meant the total time. The configure time is still around the same for your example (3.4s) but the total times are now comparable on my machine (21s vs 24s).

[2018-10-08 10:38] SebastianBoe commented on #10182
This wouldn't scale. Subsystem-specific information would pollute (what should be subsystem-independent) toolchain portability files.

The condition for when a zephyr_[library_]compiler_options() invocation occurs can be arbitrarily complex, for instance for subsys/bluetooth/controller/CMakeLists.txt:63 it would be when (CONFIG_BT && CONFIG_BT_CTLR && CONFIG_BT_LL_SW && CONFIG_BT_CTLR_FAST_ENC).

[2018-10-08 10:49] jukkar opened #10428 "logging: Weird output from log_strdup()"
I am seeing messages printed incorrectly when using log_strdup() in networking.
I did a quick test with following

[code]
and also added
[code]

Then this is printed to console
[code]

So the first log_strdup() print is "lost" somewhere and not printed.

[2018-10-08 10:53] jukkar commented on #10428
Also I had to set the CONFIG_LOG_STRDUP_BUF_COUNT to very high number 100, in order to get any print.
For example with CONFIG_LOG_STRDUP_BUF_COUNT=20 I get following output:

[code]

It looks like the allocated strings are not freed properly.

[2018-10-08 10:56] jukkar commented on #10428
Forgot to mention that I did this test with native_posix board.

[2018-10-08 12:08] nordic-krch commented on #10423
arguments in log message are 32bit width so it will not work in 64bit system, they must be casted. You need to compile unit test in 32 bits. We might in future extend the logger to have argument size according to architecture but there are many other issues pending in the queue so it is rather a long term goal.

[2018-10-08 12:20] mped-oticon commented on #10182
That is why the _intent_ should be expressed as a cmake macro/function. That takes care of the general case. If a subsystem then really has a non-generalizable need, then that subsystem is allowed to branch on `CMAKE_C_COMPILER_ID` or `ZEPHYR_TOOLCHAIN_VARIANT`. My bet is that the generalizable cases would constitute the vast majority.

Your example of `subsys/bluetooth/controller/CMakeLists.txt:6

[2018-10-08 12:27] mped-oticon commented on #10182
This may be an issue worthy of TSC attention. @nashif Do you have input?

[2018-10-08 12:28] b0661 commented on #10423
@nordic-krch

Is there a way I can prevent the logger macros to generate C code at all?

[2018-10-08 12:43] nordic-krch commented on #10423
@b0661 unfortunately, no. Macros were intentionally created in that way to always create code even though it's later on removed during compilation.

[2018-10-08 13:53] MaureenHelm commented on #10382
The only in-tree board that has this sensor connected is the reel_board. Any other board requires a shield or blue wires. I don't know how you can have a generic override file when you have to manually wire up the sensor to the board.

[2018-10-08 14:32] leodido99 commented on #10316
I'm going to submit a patch tomorrow, it's quiet a simple change.

[2018-10-08 15:12] tbursztyka commented on #10344
@vlotech Can you have a look at the linked PR?

[2018-10-08 15:39] SebastianBoe commented on #10182
There is a misunderstading, I am not saying we should never use a
Zephyr abstraction, I am saying that flags that are supported by
most toolchains should not be wrapped with an abstraction, while
flags that are not portable should be.

What is designated as a portable and non-portable flag is up for
debate. For instance, -Ofast is currently not designated as a
portable flag, which is why we introd

[2018-10-08 15:54] psidhu commented on #10339
@galak bitbanged i2c. There's a few other cases I've needed open-drain setting configured. In fact, I've recently opened a PR that adds this for arch/stm32 (still a WIP) https://github.com/zephyrproject-rtos/zephyr/pull/9834

[2018-10-08 16:00] erwango opened #10435 "dts/stm32: Populate clocks for i2c nodes and use CONFIG_ #defines for instances configuration"
"clocks" property is missing in stm32 i2c nodes, which prevents using #define CONFIG_xxx for clock related code configuration in i2c instances:
[code]
Rather than using the hardcoded #defines LL_APB1_GRP1_P_XXX and STM32_CLOCK_BUS_XXX,
instance configuration code, should rather use the equivalent coming from dts #define generation.

Cf example in `drivers/can/stm32_can.c`:
[code]

This should be d

[2018-10-08 16:32] pfalcon opened #10436 "Mess with ssize_t, off_t definitions"
Working on https://github.com/zephyrproject-rtos/zephyr/pull/10429 , I was getting weird build failures with native_posix port re: ssize_t and off_t being undefined. Some posix tests had it, some didn't.

Turned out, Zephyr defines these types in fs.h, and in weird way: https://github.com/zephyrproject-rtos/zephyr/blob/master/include/fs.h#L10

So, first of all, ssize_t is being defined only for CO

[2018-10-08 16:47] #7547 closed

[2018-10-08 16:57] #9233 closed

[2018-10-08 18:11] aescolar commented on #10436
@pfalcon: yes, I'm aware of it. It isn't specially beautiful though ( https://github.com/zephyrproject-rtos/zephyr/pull/7326#issuecomment-389539773 )

[2018-10-08 19:08] pfalcon commented on #10436
Ok, so looks like that code comes from you, and just was committed by @ramakrishnapallala .

But anyway, the problem I'm facing now isn't with native_posix, it's actually with all the other boards, and is rooted in the fact that #include_next does not work as expected. Specifically:

[code]

Preprocessor output:

[code]

I.e. #include_next within posix/sys/types.h causes posix/sys/types.h itself b

[2018-10-08 19:10] pfalcon commented on #10436
Damn, this time it was fixable by:

[code]

But mess such a mess...

[2018-10-08 20:16] mike-scott opened #10439 "Logger calls will execute functions even though the LOG_LEVEL is masked"
Here's an example:
[code]
Then later I have code which looks like:
[code]

When DBG is =n, I see the following warnings:
[code]

The behavior has changed here from `SYS_LOG` where `SYS_LOG_DBG` ends up as a no-op.

[2018-10-08 20:28] nashif commented on #10439
thats a "feature", we are using IS_ENABLED AFAIK.
just remove the #if LOG_LEVEL >= LOG_LEVEL_DBG around sprint_token.

We already found countless log statements that never worked because they were ifdefed like that or were never evaluated.

[2018-10-08 20:44] mike-scott commented on #10439
Won't a needless call to sprint_token will be made if logging is enabled?  This doesn't seem like good behavior.

[2018-10-08 23:53] zerotri commented on #10413
I'm seeing the same thing on stm32f746g_disco as well.

[2018-10-08 23:57] Ralms commented on #10420
Due to some people loosing files from documents when updating to Windows 10 1809, I'm currently unable to update.
And it seems that Microsoft removed the possibility to manually update or force the update.

I will wait for the update, do it and report back.

[2018-10-09 04:51] nniranjhana opened #10444 "tests/subsys/logging/log_core fails on few ARM platforms"
The test fails with an _Assertion Error_ on nRF, FRDM and sam_e70 boards.
Additionally on emsk platform too which is ARC based.

**Arch:** ARM
**Platforms:** nrf52_pca10040, nrf52840_pca10056, frdm_k64f, sam_e70_xplained, emsk.

**Error log on console:**
[code]

[2018-10-09 06:32] leodido99 commented on #10316
Created PR #10446

[2018-10-09 07:36] erwango opened #10447 "dts/stm32: Populate clocks for spi nodes and use CONFIG_ #defines for instances configuration"
"clocks" property is missing in stm32 i2c nodes, which prevents using #define CONFIG_xxx for clock related code configuration in i2c instances:

[code]

Rather than using the hardcoded #defines LL_APB1_GRP1_XXX and STM32_CLOCK_BUS_XXX,
instance configuration code should rather use the equivalent coming from dts #define generation.

Cf example in drivers/can/stm32_can.c:
[code]
This should be done

[2018-10-09 07:41] erwango opened #10448 "serial/stm32: use dts extracted information to populate clock settings"
"clocks" property is missing in stm32 uart nodes, which prevents using #define CONFIG_xxx for clock related code configuration in uart instances:

cf: https://github.com/zephyrproject-rtos/zephyr/blob/4db9731451226d1a8f75ae1c355d98cce626d143/drivers/serial/uart_stm32.c#L356

Rather than using the hardcoded #defines LL_APB1_GRP1_P_XXX and STM32_CLOCK_BUS_XXX,
instance configuration code, should rat

[2018-10-09 07:45] erwango opened #10449 "pwm/stm32: use dts extracted information to populate clock settings"
"clocks" property is missing in stm32 pwm nodes, which prevents using #define CONFIG_xxx for clock related code configuration in pwm instances:

[code]

Rather than using the hardcoded #defines LL_##apb##_##grp##_PERIPH_TIM##n and STM32_CLOCK_BUS_ ## apb, instance configuration code, should rather use the equivalent coming from dts #define generation.

Cf example in drivers/can/stm32_can.c:
[code]

[2018-10-09 08:00] erwango opened #10450 "usb/stm32: use dts extracted information to populate clock settings"
"clocks" property is missing in stm32 usb nodes, which prevents using #define CONFIG_xxx for clock related usb configuration code:

[code]

Rather than using the hardcoded #defines LL_APB1_GRP1_P_XXX and STM32_CLOCK_BUS_XXX,
instance configuration code, should rather use the equivalent coming from dts #define generation.

Cf example in drivers/can/stm32_can.c:
[code]
This should be done in 3 steps

[2018-10-09 08:04] thedjnK commented on #10378
You will have to work around this problem without the "hacky" version because as quoted on that documentation page, once the watchdog has been activated, those registers become read only: "The watchdog must be configured before it is started. After it is started, the watchdog’s configuration registers, which comprise registers CRV, RREN, and CONFIG, will be blocked for further configuration" and t

[2018-10-09 08:06] erwango opened #10451 "rtc/stm32: use dts extracted information to populate clock settings"
"clocks" property is missing in stm32 rtc nodes, which prevents using #define CONFIG_xxx for clock related code configuration in rtc instances:

[code]

Rather than using the hardcoded #defines LL_APB1_GRP1_P_XXX and STM32_CLOCK_BUS_XXX,
instance configuration code, should rather use the equivalent coming from dts #define generation.

Cf example in drivers/can/stm32_can.c:

static const struct can

[2018-10-09 08:34] jarz-nordic commented on #10413
I will take a look this week.

[2018-10-09 08:52] avisconti commented on #10435
I have done it for I2S in stm32f4 (#9034 ) and it can be taken as reference once that it is approved
by @erwango.

[2018-10-09 09:02] erwango commented on #10413
Thanks @nashif , reproduced on disco_l475_iot1.
Behavior is slightly different on nucleo_f429zi, shell doesn't freeze, but 'arrow' symbols don't work. Backspace is working correctly, though.

[2018-10-09 09:31] erwango opened #10453 "dma_stm32 driver has been broken by commit 07ff2d5"

[2018-10-09 09:38] erwango commented on #10413
I tested this is not an issue specific to STlink VCP.
We face the same behavior when bypassing ST-Link VCP.

`tests/drivers/uart/uart_basic_api` works fine, seems specific to shell implementation of uart service.

[2018-10-09 09:38] pfalcon commented on #9015
@mnkp: Ping, is it in your queue to do something re: this ticket?

[2018-10-09 09:41] pfalcon commented on #8168
With new logger having got in, and so much effort went into (well, still going, logger/shell migration is probably going to be major theme of 1.14, with little of anything else done), let's hope that it indeed fixes this issue too, so let me close it.

[2018-10-09 09:41] #8168 closed

[2018-10-09 10:20] pswarnak commented on #10382
@MaureenHelm
I think the expectation here is to make sure build works fine. However, for test case to pass runtime, we definitely need the sensor connected on the board.
Prior to dts related changes, the test case was able to build properly for quark_d2000_crb and/or sam_e70_xplained. Also, the build failure is not only in apds9960 sensor test case. It fails even for hts221 where no platform_white

[2018-10-09 10:33] yashi opened #10456 "Build system doesn't support big endian architecture"
The current build system doesn't support big endian architecture.  Even with a compiler which generates big-endian object files, the final linking fails if linker script isn't setup for big endian.   I have two patches to fix this.  One is to add a condition in `include/linker/linker-tool-gcc.h` to control `OUTPUT_FORMAT`.  Another is to add linker command line option `-EB`.

[2018-10-09 10:53] yashi commented on #10456
They are #10457 and #10458

[2018-10-09 11:19] carlescufi commented on #10182
@mped-oticon I agree that this will probably need discussion at the TSC level. Can you please send an email to the [TSC](https://lists.zephyrproject.org/g/tsc) mailing list to raise awareness and to request it being included in the next TSC meeting?

[2018-10-09 11:20] jarz-nordic commented on #10413
@erwango @zerotri @nashif :
May you please test it with flow control switched on for serial driver?

[2018-10-09 12:09] jarz-nordic commented on #10413
yes

[2018-10-09 12:12] erwango commented on #10413
We don't have these pins available on ST-Link VCP.
I can have a try with VCP by-passing but need to find a proper RS232 cable.

That being said, shell seems to be working on frdm_k64f w/o CTS/RTS pins IIUC.

[2018-10-09 12:59] SebastianBoe commented on #7054
This has been fixed.

[2018-10-09 12:59] #7054 closed

[2018-10-09 13:00] SebastianBoe commented on #5534
This was fixed by #10368

[2018-10-09 13:00] #5534 closed

[2018-10-09 13:01] erwango opened #10459 "STM32: Factorize GPIO code"
There is a lot of redundancy across various STM32 series in GPIO code in soc/arm/stm32/*/soc_gpio.c files. Factorize the most of it in stm32 gpio drivers.

[2018-10-09 13:02] erwango commented on #10459
@psidhu: fyi.

[2018-10-09 13:40] thomas-ot commented on #10143
It seems from the discussion above that there is agreement that console dependencies to printk should be removed. Hence, I'm reopening the issue.

[2018-10-09 14:29] Qbicz opened #10460 "Bluetooth: settings: No space to store CCC config after successful pairing"
When subsequent peer connects, enabling CCC fails even though pairing was successful.

Steps to reproduce:
- clear flash memory
- pair BLE host A -> it connects, pairing successful, after reading GATT services host writes CCC and it is possible to send notifications. Disconnect host A.
- pair BLE host B -> it connects, pairing successful, after reading GATT services there is warning:
`[bt] [WRN] b

[2018-10-09 14:33] Qbicz commented on #10460
CC @pdunaj

[2018-10-09 15:59] erwango opened #10463 "can: stm32: Update to new API"
A new CAN API is available in stm32cube packages, current zephyr can driver is implemented on top of legacy driver.

Update stm32 can driver to use new stm32cube API.
Before doing so, check new API is available in all stm32cube packages in order not to introduce fragmentation.

[2018-10-09 17:11] dcpleung commented on #9498
The build system now warns about orphan sections, so developers will get hints on what might be the problem. As mentioned above, there is not generic way to forcibly place orphan sections into certain locations. So closing this...

[2018-10-09 17:11] #9498 closed

[2018-10-09 20:06] endofexclusive commented on #10456
You may also want to add the option `--big-endian` when calling `gen_isr_tables.py`, for example by adding to `CMakeLists.txt`:
[code]

[2018-10-09 20:07] nashif commented on #10043
@nategraff-sifive any update?

[2018-10-09 20:10] nategraff-sifive commented on #10043
@nashif Sorry, not yet. I had some other tasks take priority. I should have some time to dive into this within the next few days.

[2018-10-09 20:15] #10240 closed

[2018-10-10 02:40] galak opened #10472 "some stm32 platforms fail to build w/usb"
[code]

Will cause the following error:

[code]

[2018-10-10 05:30] spoorthik opened #10473 "tests/kernel/mem_protect/mem_protect tests are failing on ARM boards"
Execution log:

[code]

Platforms tested: sam_e70_xplained, nrf52_pca10040, frdm_k64f, nrf52840_pca10056

[2018-10-10 05:36] spoorthik opened #10474 "tests/kernel/pipe/pipe test cases are failing on ARM boards"
Execution log:
[code]

Platforms tested: frdm_k64f, nrf52840_pca10056, nrf52_pca10040

[2018-10-10 05:40] spoorthik opened #10475 "tests/kernel/threads/dynamic_thread test cases are failing on ARM boards"
Execution log:

[code]

Platforms tested: sam_e70_xplained, nrf52_pca10040, frdm_k64f, nrf52840_pca10056

[2018-10-10 05:44] spoorthik opened #10476 "kernel/threads/thread_apis tests crashes on ARM boards"
Execution log:

[code]

Platforms tested: sam_e70_xplained, nrf52_pca10040, frdm_k64f, nrf52840_pca10056

[2018-10-10 06:54] leodido99 commented on #10313
I've been investigating this more and actually I think I was mistaken. I was using a weird hardware setup and when the setup was updated the problem went away, so I'm closing this issue.

[2018-10-10 06:56] yashi commented on #10456
@endofexclusive How about like this?

[code]

[2018-10-10 07:05] SebastianBoe commented on #10182
My point of view is that we should bias towards the GCC CLI. It is familiar and well documented. The alternative to biasing against a CLI is to disallow direct usage of compiler flags, which would make the build system difficult to read and write.

[2018-10-10 07:32] jukkar commented on #10316
The #10446 was missing the "Fixes #10316" line in its commit message, so this was not automatically closed, so closing it manually.

[2018-10-10 07:32] #10316 closed

[2018-10-10 10:31] jukkar opened #10480 "Creating shell with current SHELL_DEFINE() is not practical"
I have been porting multiple network related shells to use new shell and noticed some issues how the shells are defined.
Currently one needs to do something like this in order to define a shell.
[code]

Currently this code is called by `subsys/net/ip/net_shell.c` when `CONFIG_NET_SHELL=y` is set.

There are other network related shells that can co-exists with this network shell. For example if one

[2018-10-10 11:01] carlescufi commented on #10460
CC @nvlsianpu

[2018-10-10 11:04] carlescufi commented on #10420
@Ralms I tested 1809 and it fixes the issue as I mentioned here: https://github.com/Microsoft/WSL/issues/3154#issuecomment-426928230

I am closing this issue now. If you want to add this to the doc I suggest you sent a PR against this file:
https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/getting_started/installation_win.rst

[2018-10-10 11:04] #10420 closed

[2018-10-10 11:17] jukkar commented on #10428
Also noticed that if I set `CONFIG_LOG_INPLACE_PROCESS=y`, then the `log_strdup pool empty!` messages are no longer shown even with the default CONFIG_LOG_STRDUP_BUF_COUNT setting. But still only one of the `log_strdup()` strings is printed.

[2018-10-10 11:20] jarz-nordic commented on #10480
But do you need `SHELL_DEFINE` in these files at all?
In my opinion all you need is to register commands which will be available for all created shells - somewhere else.

[2018-10-10 11:53] jukkar commented on #10480
If I leave the SHELL_DEFINE() away, which means that I cannot call shell_init(). Then also the shell functionality is missing (= I do not see any shell after this). Regardless how this is is implemented in shell library and support, the expectation (at least from networking shell point of view) is that everything should work out of the box without any extra coding regarding shell configuration.

[2018-10-10 11:59] vlotech commented on #10344
Looks like the mentioned PR will solve the SPI CS lock issue as mentioned in this issue.
Looking at the different SPI drivers, there seems to be an inconsistent usage between _release and _inactive_unconditionally(). Perhaps at a later stage this an be aligned. For now, this prevents at least unexpected CS to be active after transactions / communication.

[2018-10-10 12:01] vlotech commented on #10344
For the hardware CS, I'll take a look at it for the SAM4S and similar driver to see what the impact will be to include hardware CS.

[2018-10-10 12:13] jarz-nordic commented on #10480
Possibly I am missing full pictrue here. I thought that: `CONFIG_NET_SHELL` or `CONFIG_NET_L2_IEEE802154_SHELL` are in fact only resposible for adding commands to the shell. Shell instance needs to be created separatly.

Otherwise you would force one transport medium for them (UART).

[2018-10-10 12:35] jukkar commented on #10480
I am fine with this, but which component in zephyr would do this? We can have multiple shells that are activated by just a config option, only common element here is the core shell code so I suppose it should call the shell_init() then?

[2018-10-10 12:41] jukkar commented on #10480
Proposal:
* keep SHELL_DEFINE() as we just introduced the flag variable there which is useful, perhaps the shell commands variable could be placed as one parameter there
* place the shell defined by SHELL_DEFINE() to a separate linker section
* make core shell code traverse this section and initialize things like calling shell_init() if it needs to do so

[2018-10-10 12:57] jarz-nordic commented on #10480
@jukkar : I see that in old implementation shell init was in file: shell_service.c
Can't we reuse this approach? You could also add there macro `SHELL_DEFINE` as it is.

[2018-10-10 13:18] jukkar commented on #10480
I am not sure that we will need any short term solution here. Currently most of the things work ok if I have multiple shells defined, except that history does not work but personally I can live with that. My issue is more like an enhancement request than a bug report anyway.

[2018-10-10 13:31] jarz-nordic commented on #10480
@jukkar : it works with legacy shell. Plan is to get rid of it asap.

[2018-10-10 13:54] SebastianBoe commented on #10182
I don't know, how would that work?

This looks unmaintainable, and it is only changing 4 out of dozens of flags;

https://github.com/SebastianBoe/zephyr/commit/b27a9a8d9ea062df86762d92c082137dc480267b

[2018-10-10 14:57] jarz-nordic commented on #10166
I digged in a bit more.
New shell has different design compering to the old one. We are in the middle of transition so it may not still not work.
Current concept is that you can enable shell commands via Kconfig for NET, BT and so on. But shell instance itself needs to be created separately.

[2018-10-10 15:46] ydamigos commented on #10472
Now it fails with a different error:
[code]

[2018-10-10 15:50] ydamigos commented on #10472
STM32L4 HAL is missing USB_OTG_SPEED_HIGH definition.

[2018-10-10 16:01] ydamigos commented on #10472
I pushed a commit which adds the missing defines at driver level for L4 series.

[2018-10-10 16:03] jukkar commented on #10480
So the current way how the new shell works is just an interim step towards something else. Is there some concrete plans to this "something else", I mean I do not want to investigate this more if you have plans to remove existing macros/functions.

[2018-10-10 16:30] jarz-nordic commented on #10480
I do not want to do "something else" to be honest. In my opinion all you should do is to migrate commands to the new shell and `#ifdef` them with Kconfig parameters like `CONFIG_NET_SHELL_COMMANDS` or `CONFIG_NET_L2_IEEE802154_SHELL_COMMANDS `. Please take a look how logger is implemented. It has own command set but it does not define a shell istance. It is up to the user to create a shell instanc

[2018-10-10 16:34] jarz-nordic commented on #10480
Next it is up to the user to enable and initialize the shell on whatever backend is needed.
Just like in the examples. Shell instance is created once in the main.c file and all commands activated in the Kconfig are available for the user.

[2018-10-10 16:35] pfalcon commented on #10243
Ok, let's close this for now, can reopen if stable reproduction cases are provided.

[2018-10-10 16:35] #10243 closed

[2018-10-10 16:41] pfalcon opened #10493 "native_posix: Warnings during link on orphan sections after #10368"
Resubmitted from https://github.com/zephyrproject-rtos/zephyr/pull/10368#issuecomment-428264786 :

After #10368 was applied, building for BOARD=native_posix produces warnings like below. The resulting executable seems to work.

[code]

[2018-10-10 16:43] pfalcon commented on #10493
cc: @aescolar

[2018-10-10 16:54] jukkar commented on #10480
I have had totally different usecases in mind. There user does not need to do anything in the main.c to get shell to use it, this is how the old shell worked. It would be very convenient for a user to just say that he/she wants to use a shell in config file, and if the default shell settings are ok, then a shell with UART backend would be created automatically without any extra coding.

[2018-10-10 17:00] #6067 closed

[2018-10-10 17:00] pfalcon opened #10494 "sockets: Implement MSG_TRUNC flag for recv()"
Feature request from @mike-scott. He'd like to estimate a buffer size required to receive a complete UDP datagram. Per POSIX semantics, a recv() for SOCK_DGRAM will drop any unread data belonging to datagram.

Doing "man recv" on Linux, one can see:

[code]

The expectation is that combined with MSG_PEEK (which we already implement), this flag would give the effect desired by @mike-scott.

TODO:

[2018-10-10 17:01] pfalcon commented on #10494
@rlubos : FYI, maybe you'd have comments as the author of MSG_PEEK.

[2018-10-10 17:04] pfalcon commented on #10200
@leodido99 : Just to reply, sounds good. The docs for sockets definitely needs improvements, and this fact can be mentioned too. But it's likely going to be backlogged (at least) until 1.14 closing to the release freeze. Because so far, there're a lot of code work to do...

[2018-10-10 17:27] #10472 closed

[2018-10-10 18:32] jarz-nordic commented on #10480
I can work tomorrow on shell module. Once user activates particular backend it will be initialized and started.

[2018-10-10 19:03] pfalcon opened #10499 "docs: References to "user threads" are confusing"
I was reading https://docs.zephyrproject.org/latest/api/io_interfaces.html?highlight=sensor_trigger_set#_CPPv318sensor_trigger_setP6deviceP14sensor_trigger24sensor_trigger_handler_t , and it says:

Well, that's confusing. The opposite of "user thread" is "system thread". What's meant there is "userspace thread". Grepping around, we have a bunch of these "user threads" threads in the docs. But we h

[2018-10-10 19:04] pfalcon commented on #10499
If acked, I can help with this too at suitable time (like, ~ release freeze).

cc: @andrewboie, @nashif

[2018-10-10 19:06] pfalcon commented on #10499
Actually, we probably should turn phrase "This API is not permitted for user threads." into RST warning or admonition.

[2018-10-10 20:07] dbkinder commented on #10499
A grep only shows 8 reST files with the phrase "user thread(s)"  and 5 generated html files from Doxygen API comments, so it's not much to change them all to "userspace thread(s)" if that's the mission here

[2018-10-10 20:09] Ralms commented on #10420
@carlescufi Thank you for the information.
I've submitted the pull request as best as I could since I've not worked with reStructuredText in the past.

[2018-10-10 20:42] carlescufi commented on #10420
@Ralms thank you for submitting it! I will review it

[2018-10-10 21:12] aurel32 opened #10503 "User defined USB function & usb_get_device_descriptor()"
I am trying to define my own USB function, that is an USB device not defined from one of the existing USB classes. In order to fill the `usb_device_description member of struct usb_cfg_data`, I need to call the `usb_get_device_descriptor()` function. However this function is declared in `subsys/usb/usb_descriptor.h` and thus not part of the public API. I wonder if I am doing something wrong, or if

[2018-10-10 21:42] nategraff-sifive commented on #10043
@nashif Are any RISC-V targets part of the standard sanitycheck that gets run on PRs? I went back to establish a baseline and ran `./scripts/sanitycheck -p qemu_riscv32` using SDK 0.9.3 on the `v1.12.0` and `v1.13.0` tags and I saw failures in both cases in:
- tests/kernel/timer/timer_api/kernel.timer
- tests/kernel/timer/timer_monotonic/kernel.timer

Those are two of the tests that are failing wi

[2018-10-11 00:29] nashif commented on #10043
qemu_riscv32 is a default platform and all tests run on this board for every commit. I guess what you are seeing is a sporadic behaviour with current qemu that stops being sporadic in the new qemu. usually if you re-run the tests again the test will pass (with sanitycheck --only-failed)

[2018-10-11 01:41] yashi commented on #10456
It's closed by #10457.  Thank you, guys.

[2018-10-11 01:41] #10456 closed

[2018-10-11 06:10] nniranjhana opened #10508 "tests/posix/common fails randomly on all platforms"
The `pthread_execution` test fails with an _Assertion Error_ when trying to set or use attributes before they are initialized.

**Arch:** ARM, xtensa
**Platforms:** arduino2:arm, sam_e70_xplained:arm, frdm_k64f:arm, nrf52840_pca10056:arm, nrf52_pca10040:arm, emsk7d_v22:arc, esp32:xtensa

**Error log on console:**
[code]

[2018-10-11 06:11] spoorthik opened #10509 "tests/kernel/interrupt is failing on NRFx boards"
Commit: 2a103ea67493ebcae5c5d7720f6e1a38a05faff1

Execution log:
[code]

Platforms tested: nrf52_pca10040, nrf52840_pca10056

[2018-10-11 06:57] mike-scott commented on #10494
Thanks for adding this issue @pfalcon

[2018-10-11 07:12] fnde-ot commented on #10182
Those variables could contain multiple flags grouped by intent, such as desired warning levels or readable assembly, ...

It would leave us with a dozen variables such as:

COMPILER_FLAGS_MAIN
COMPILER_FLAGS_WARNINGS1
COMPILER_FLAGS_WARNINGS2
COMPILER_FLAGS_WARNINGS3
COMPILER_FLAGS_READABLE_ASM
COMPILER_FLAGS_STACK_CANARIES
COMPILER_FLAGS_FRAME_POINTER
COMPILER_FLAGS_NO_FRAME_POINTER
...

fx:
set(

[2018-10-11 07:19] rlubos commented on #10494
@pfalcon It was actually some other guy from Nordic, but thanks for letting me know. Good that you've posted the docs for this option, as for instance "man recv" on my Arch doesn't event mention it's existence.

[2018-10-11 07:28] nordic-krch commented on #10428
Can you check if #10506 fixes it?

[2018-10-11 07:38] nordic-krch commented on #10054
In case no backends are present in the system we can add assert since in that case it's better to disable logger. What are the issues with xtensa tests? Will it fix it?

[2018-10-11 07:42] pfalcon commented on #10494
@rlubos: Oops, sorry, I usually check such stuff, but was almost sure it was you ;-).

Hmm, it's not POSIX, but Linux extension, but indeed, a bit strange.

[2018-10-11 07:44] pfalcon commented on #10494
References for recv(..., MSG_PEEK | MSG_TRUNC) used together:

* https://yakking.branchable.com/posts/msg-trunc/
* https://lists.samba.org/archive/samba-technical/2016-February/111982.html

So, I guess that's enough to prove that it's a known pattern (Linux-specific, again).

[2018-10-11 07:54] pfalcon commented on #10494
Now about POSIX (non)compliance:

[recv() spec](http://pubs.opengroup.org/onlinepubs/9699919799/functions/recv.html) doesn't mention anything about MSG_TRUNC, so as was already hinted, it's a Linux extension. That's fine by us, we already implement e.g. MSG_DONTWAIT extension flag.

However, it's interesting to trace this further. MSG_TRUNC actually **is** defined by POSIX, but as *output* flag fo

[2018-10-11 08:01] aescolar commented on #10054
Agreed.
Having an assert would be also a nice way of pointing to the reason of the (configured in) logger not working (there was no backends for it).

That the assert will trigger for them, (assuming they haven't been fixed yet) and they will fail in CI.
Meaning, the assert will work as expected.

An assert does not fix things. It fails noisily when the error condition happens.

[2018-10-11 08:10] lgl88911 commented on #10166
@jarz-nordic Yes, I tested look like you。 BT_SHELL is old shell style , but CONFIG_SHELL is new shell style. Is there a plan covert BT&Net shell to new shell style?

[2018-10-11 08:12] jarz-nordic commented on #10166
@lgl88911 : yes of course. It is ongoing activit. I hope that in 2 weeks we will be able to do it.
Once PR: #10511 is merged it will be very easy task.

[2018-10-11 08:35] nordic-krch opened #10512 "Console, logger, shell architecure"
Relations between consoles, logger and shell must be clarified as it generates a lot of confusion as it is now.

Topics to clarify:
- what is console?
- Is it a 'standard io' and thus should be single instance or it's just an 'io' but there is one 'default' (the console).
- What's the purpose of console? Any other use cases than logging and shell?

Current issues with console:
- byte API - slow.

[2018-10-11 08:37] mped-oticon commented on #10182
I think your diff looks very readable: An English description tied to what flag is needed to achieve that in GCC.
It exemplifies a very direct 1:1 mapping, so the intent is there but not very abstract/lifted.

I'd argue if you increase readability, you increase maintainability.
Granted, some toolchains would have these expand to nothing (which is fine), but having them verbosely named like that wo

[2018-10-11 08:37] jukkar commented on #10480
The #10511 works for me regarding the issues described here, thanks for supporting this.

[2018-10-11 08:38] nordic-krch commented on #10512
@pfalcon @nashif @carlescufi @jarz-nordic @pizi-nordic @jukkar @aescolar could you comment?
I feel like we should agree on that as way forward is not settled.
@pfalcon you are working around console, maybe you already have this things somehow figured, could you share?

[2018-10-11 08:45] nordic-krch commented on #10054
added assert in #10513, if CI fails i'll go from there.

[2018-10-11 09:00] SebastianBoe commented on #10182
Zephyr has two API's for adding flags.

*_cc_option
*_compiler_option

one is used to express that the flag should be used if the toolchain supports it. And the other that the flag is a requirement (So optional or mandatory flag).

We need to retain this ability somehow ... silently dropping flags when the toolchain doesn't support it won't do.

[2018-10-11 09:04] aescolar commented on #10512
One comment here: there is 2 quite different "consoles" in Zephyr.
`drivers/console` which was a set of backends, used by printk and the old shell.
and `subsys/console` (`CONSOLE_SUBSYS`) which was not used inside zephyr itself, but AFAIK pfalcon was promoting as the API to have.

[2018-10-11 09:11] lgl88911 commented on #10166
@jarz-nordic  Thanks, I‘ll wait your news

[2018-10-11 09:19] aescolar commented on #10493
Raising the priority to medium as this breaks sanitycheck in native_posix fully for "newer" OSs default installations.

[2018-10-11 09:40] nniranjhana opened #10515 "tests/benchmarks/timing_info faults on ARM platforms"
The time measurement test passes but runs into couple of _USAGE FAULTS_ and _hardware exceptions_ before that.

**Arch:** ARM
**Platforms:** sam_e70_xplained, nrf52_pca10040, nrf52840_pca10056, frdm_k64f

**Error log on console:**
[code]

[2018-10-11 10:08] #10480 closed

[2018-10-11 10:11] jukkar commented on #10428
Yes, with that PR applied the log output is proper. One just needs to increase the CONFIG_LOG_STRDUP_BUF_COUNT but that is another matter. Closing this one as there is already a fix.

[2018-10-11 10:11] #10428 closed

[2018-10-11 10:14] pfalcon commented on #10512
That's right. Here's a short intro into the situation:

The name of "drivers/console" would suggest that those should be *drivers*, and of course the client applications should not call into *drivers*. Instead, apps would go thru "subsystem". That's the pattern we follow in the rest of Zephyr, even if many subsystems are as simple as multiplexors from `struct device` to virtual methods define by a

[2018-10-11 10:15] carlescufi opened #10516 "Migrate drivers to Devicetree"
Note: Sensors are covered in #9962

* **adc**
	- [x] dw
	- [x] intel_quark_d2000
	- [x] mcux_adc16
	- [x] mcux_adc
	- [x] nrfx_adc
	- [x] nrfx_saadc
	- [x] sam_afec

* **audio**
	- [x] N/A tlv320dac310x

* **bluetooth**
	- [x] ~nrf51~
	- [x] h4
	- [x] h5
	- [x] spi
	- [x] userchan

* **can**
	- [x] stm32

* **clock_control**
	- [x] beetle
	- [x] ? mcux_ccm
	- [x] ? mcux_sim
	- [x] nrf5
	- [ ] ~stm

[2018-10-11 10:20] pfalcon commented on #10512
So, to port existing applications to Zephyr, I had a requirement to provide ANSI C/POSIX style functions:

* gets()-alike, to call it and get a line from console
* getchar()-like, to call and get a single char

That's how subsys/console was started. Yes, in a sense, it's "userspace" API, because Zephyr internal components were (and remain) too "originally-designed" to use simple APIs like those.

[2018-10-11 10:28] dhananjaygj opened #10517 "Compatibility problem with increased BLE Tx buffers"
### **Issue:**
There is a compatibility problem with windows machines when Tx Buffers and pending Tx Buffers are increased to 3.

### **Background:**
This issue was initially discussed here under zephyr developers list.
https://lists.zephyrproject.org/g/devel/topic/25802151?p=Created,,,20,1,0,0

Last update to this discussion is to provide the sniffer log for my problem. I tried to sniff the BLE p

[2018-10-11 10:29] #10369 closed

[2018-10-11 10:52] jarz-nordic commented on #10402
@jukkar : I guess we can close this one as well?

[2018-10-11 11:14] #10402 closed

[2018-10-11 11:23] sdrsdr opened #10518 "drivers/modem/modem_receiver.c needs LOG_MODULE_REGISTER(mdm_receiver)"
As can be seen at

https://github.com/zephyrproject-rtos/zephyr/blob/05b854c168ffc29e7164e6bc764bb05aa5f00660/drivers/modem/modem_receiver.c#L21

the  log system in the file is not fully initialized so you get compile time errors

[2018-10-11 12:45] jarz-nordic commented on #10413
@erwango @nashif : I think I found a bug which can pop up when flow controll is off. If you will notice that shell has hanged please press capital `A`. :-)

I will submit PR shortly.

[2018-10-11 12:46] jfischer-phytec-iot commented on #10503
That is the way (or should it be). "Legacy" and composite Initialization should be merged/simplified. It is IMHO better to automatically detect if there is more than one class or function, then the composite support does not have to be switched on explicitly.

[2018-10-11 13:10] jarz-nordic commented on #10166
@lgl88911 : Please track PR #9825. Once it will be merged you shall be able to use new shell.

[2018-10-11 13:28] michiwend opened #10524 "PM_CONTROL_OS doesn't work in combination with certain I2C drivers in a single thread context"
## Summary
When ```PM_CONTROL_OS``` is enabled the OS enters the lowest configured power mode as soon as the I2C transfer function of some I2C drivers gets called in a single thread context.

## Details
Some I2C driver implementations use a semaphore in their transfer implementations and call ```k_sem_take()``` in combination with ```K_FOREVER``` to block the current thread until an I2C event occu

[2018-10-11 13:29] finikorg commented on #10503
@jfischer-phytec-iot it make sense to merge those interfaces.

[2018-10-11 13:33] JoeHut commented on #10524
@ramakrishnapallala FYI

[2018-10-11 13:56] #10475 closed

[2018-10-11 13:56] #10476 closed

[2018-10-11 14:16] rettichschnidi commented on #3514
Now that #9875 is scheduled for v1.14.0 - any update on the ETA of this ticket?

[2018-10-11 14:31] dcpleung commented on #10493
GCC on Ubuntu has PIE turned on by default (since 16.10, IIRC). If you do gcc --v and there is an "--enable-default-pie", native_posix will fail to build. Adding "-no-pie" as linker option gets past the PIE issue, but it complains about not able to find "-lgcc_s" (libgcc_s.so and libgcc_s.so.1 are installed by GCC).

@aescolar Are you hitting the PIE issue? If so, we need to create another issue f

[2018-10-11 15:21] Vudentz commented on #10460
This might be a different issue than just lack of storage then. Do you have the logs with CONFIG_BT_GATT_DEBUG=y?

[2018-10-11 15:36] michiwend opened #10531 "Default idle thread stack sizes too small when OS controlled power management is used"
Since ```_sys_soc_suspend()``` is called from the idle thread the default idle thread stack sizes need to be changed to a higher values when ```PM_CONTROL_OS``` is set otherwise a stack overflow can happen.

Tested with the [power_mgr](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/subsys/power/power_mgr) sample on an nRF nrf52840_pca10056 devboard (ARM with FPU => 320 idle threa

[2018-10-11 15:37] mike-scott commented on #10518
Ah nm, it's been moved.  Just has a bug.

[2018-10-11 15:41] nniranjhana commented on #10531
@ramakrishnapallala FYI..

[2018-10-11 15:52] aescolar commented on #10493
With "fail to build" you mean you will get a warning from the linker due to orphan sections?

Sidetrack: I did not try to hint about the PIE issue, but it is also an issue *1. It seems a bit dangerous to try to have this feature on by default in native_posix given that it is built with whatever the user wants/has locally..

1* `/usr/bin/x86_64-linux-gnu-ld: warning: orphan section `.rel.log_const_

[2018-10-11 16:15] dcpleung commented on #10493
Not due to orphan sections, but something like this:

[code]

This causes sanitycheck to fail.

But PR #10528 will fix the orphan section warning emitted.

[2018-10-11 18:57] sdrsdr commented on #10518
The commit from @nashif  will resolve it .. quick work guys :+1:

[2018-10-11 19:18] aescolar commented on #10493
Still some missing ones:
`
/usr/bin/x86_64-linux-gnu-ld: warning: orphan section `.rel.shell_cmd_' from `/usr/lib/gcc/x86_64-linux-gnu/7/../../../../lib32/Scrt1.o' being placed in section `.rel.dyn'.
/usr/bin/x86_64-linux-gnu-ld: warning: orphan section `.rel.shell_module_' from `/usr/lib/gcc/x86_64-linux-gnu/7/../../../../lib32/Scrt1.o' being placed in section `.rel.dyn'.
`

[2018-10-11 19:26] ulfalizer opened #10534 "Can we get rid of zephyr-env.sh?"
It feels pretty clunky to me whenever I have to run scripts or manually set environment variables to build a project. I wonder if we could give variables sensible defaults so that most users won't have to bother with them.

The sample `CMakeLists.txt` files do

    include($ENV{ZEPHYR_BASE}/cmake/app/boilerplate.cmake NO_POLICY_SCOPE)

Maybe they could just use a relative path instead:

    includ

[2018-10-11 19:42] aescolar opened #10535 "Failure on tests/posix/common/ due to uninitialized memory access"
Randomly, the test crashes with an assert. The cause would seem to be the one detected by valgrind (see log below)

#### Steps to reproduce

On ae8649c5ec59b483615c0348ebcb8da6e346a1ce
[code]

#### Log
[code]

[2018-10-11 19:48] aescolar commented on #10535
@nashif : Please reassign to whoever is maintaining this area.

[2018-10-11 19:54] aurel32 commented on #10503
Thanks for your feedback. I got a quick look at the code. It looks relatively to merge `usb_composite_init()` and `usb_enable()` / `usb_set_config()` into a single function init function that handle both cases, as there is already a lot of code duplication. Choosing automatically between legacy and composite looks a bit more tricky though, at least at a first glance.

Do you plan to work on that?

[2018-10-11 20:31] dcpleung commented on #10493
Hm... I haven't seen the shell ones on my development machine. It was on GCC 6.4.0 though.

The new PR #10536 should fix the shell_* section.

[2018-10-11 22:39] jfischer-phytec-iot commented on #10415
@nordic-krch while checking this the next one appeared, `***** Stack Check Fail! *****`.
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/logging/log_core.c#L525
What ist the size of the flag? I guess the char pointer` sdupl` should be incremented not the u32_t pointer `dupl`?

[2018-10-11 22:43] mike-scott commented on #10415
@jfischer-phytec-iot can you try adding this setting to whatever prj.conf you're using:
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048

[2018-10-11 23:44] nategraff-sifive commented on #10043
Quick update: I just tested the new_qemu branch against the downstream riscv-qemu and a number of tests are still failing. Notably, with downstream QEMU the tests are crashing QEMU, as opposed to the tests assertions failing in upstream. It remains to be seen which of the two failures is preferable.

[2018-10-12 03:18] mike-scott opened #10537 "nRF52 regression: random resets noted across several boards / use cases"
When it happens, there is no abort or log related to the cause of the reset.

Example log:
[code]

This particular reset happened while downloading firmware.  But this can happen at almost any time it seems like.

Bisection leads me to this commit:
https://github.com/zephyrproject-rtos/zephyr/commit/f0a2f2b42300a2ebfb4aaed3c51650d88f38d38a

[2018-10-12 03:54] mike-scott commented on #10537
Hrm, now I just got a random reboot with a build testing Zephyr prior to this commit.   It's very hard to bisect this as you need to log many devices and run them through different use cases and then match up where they rebooted and see if it was an "expected" reboot.

[2018-10-12 03:58] spoorthik commented on #10535
#10508 also reports the same issue. Possibly any one of the issues can be closed.

[2018-10-12 04:09] spoorthik commented on #10473
The test suite fails on freedom_k64f with the fix.

Execution log:

[code]

[2018-10-12 04:12] spoorthik commented on #10474
@nashif @AdithyaBaglody : The test cases still fail even after the fix is merged.

Execution log:

[code]

[2018-10-12 04:17] zerotri commented on #10534
Part of the benefit to having the `zephyr-env.sh` set `ZEPHYR_BASE` is that you can copy a sample project to just about anywhere on your system and cmake can find it to build your out of tree project.

You could always set these environment variables in your profile and then you'll never have to source the env file unless you move things.

[2018-10-12 06:29] aescolar commented on #10535
Correct, feel free to close this one.

[2018-10-12 07:40] SebastianBoe commented on #10534
+1

Additionally, zephyr-env.sh sources .zephyrrc, so we wouldn't be able to get rid of it without breaking compatibility. But it is, as @zerotri notes, optional to use (I don't use it personally).

There was an attempt at deprecating it by replacing it with a CMake-equivalent, but that was not received well. That PR has some additional discussion on zephyr-env.sh.

https://github.com/zephyrprojec

[2018-10-12 07:56] jfischer-phytec-iot commented on #10415
@mike-scott here it is a bug, see above

[2018-10-12 08:35] Qbicz commented on #10460
Logs with GATT debug and BT storage debug enabled:
[code]

[2018-10-12 08:39] nordic-krch commented on #10415
@jfischer-phytec-iot flag is u32_t. It is later on used by `atomic_dec()` so must be 32bit.

[2018-10-12 09:00] carlescufi commented on #10537
I will copy a few people to see if any of them have observed the same behavior. @nvlsianpu @joerchan @pizi-nordic @anangl.
BTW @mike-scott does this happen only when using MCUboot?

[2018-10-12 10:45] Vudentz commented on #10460
@Qbicz Try printing what is the cfg_len, perhaps there is some bug in BT_GATT_CCC macro that don't evaluate the actual array size for some reason.

[2018-10-12 11:14] #9628 closed

[2018-10-12 13:20] ulfalizer commented on #10534
Maybe we could explain that people need to include `cmake/app/boilerplate.cmake` from the Zephyr root:

    Your application CMakeLists.txt file must include the
    cmake/app/boilerplate.cmake file from the Zephyr root directory.

    If you are building your application outside of the Zephyr source tree, we
    recommend setting an environment variable called ZEPHYR_BASE to point to
    the Zeph

[2018-10-12 14:46] Craigzyc commented on #6874
How do you issue thread commands with the echo_client example?

[2018-10-12 17:21] #10493 closed

[2018-10-12 18:04] nategraff-sifive commented on #10043
@nashif

So the QEMU sifive_e target doesn't quite *exactly* match the FE310-G000 SoC on the HiFive 1. One of the discrepancies is that the machine timer driving Zephyr's sys_clock runs at 32768 Hz on the FE310, while in QEMU it runs at the same speed as the CPU, 10 MHz. The result is that tests fail all over the place because they depend on the system clock to be running at the right frequency.

[2018-10-12 19:46] MaureenHelm commented on #10382
I argue that most boards don't have this particular sensor hardware and thus the sample is not valid for those boards. The same is true for hts221, except we are using  depends_on/supports attributes instead of a platform_whitelist to choose which boards the sample is valid for.

[2018-10-12 21:34] MaureenHelm commented on #10515
The test fails only with `prj_userspace.conf`, starting with commit 8ce758a8ff1b21e4ce131c79c13f070089418d32

[code]

[2018-10-12 21:56] dcpleung commented on #10515
Maybe this is related to #10542?

[2018-10-13 20:09] redradist commented on #6654
Hi guys,

I have the same issue as @warner83 on **cc2650_sensortag**
This hardware is not supported yet or something missed in config file ?

[2018-10-14 03:05] nashif commented on #10474
@dcpleung this is related to the linker changes, we might want to revert them until we have a solution. This turns out to be very fragile.

[2018-10-14 10:03] arjunak234 commented on #10534
It also makes the assumption that everyone uses bash as their shell.

[2018-10-14 10:53] arjunak234 commented on #10534
5. It makes it easier to import the project into IDEs that supports cmake projects (like qtcreator)

[2018-10-14 16:48] Craigzyc opened #10561 "Openthread build and usage example"
Can someone help with building zephyr for the nrf52840 including openthread.
I'm using `cmake -GNinja -DBOARD=nrf52840_pca10056 -DCONF_FILE=overlay-ot.conf ..
` in the zephyr/samples/net/echo_client sample but it seems to build identically if I specify the conf or not. Is there something else I need to specify in order to build with openthread support or is it already in zephyr_prebuilt?

It may b

[2018-10-14 17:08] Craigzyc commented on #10561
Ok, Found i was using that wrong.

Using `cmake -GNinja -DBOARD=nrf52840_pca10056 -DOVERLAY_CONFIG=overlay-ot.conf ..`

I get `warning: NET_L2_OPENTHREAD (defined at subsys/net/l2/openthread/Kconfig:12) was assigned the value
'y' but got the value 'n'. You can check symbol information (including dependencies) in the
'menuconfig' interface (see the Application Development Primer section of the manu

[2018-10-15 04:36] AdithyaBaglody commented on #10474
@nashif @dcpleung  #10542 Fixes all issues introduced by orphan sections.

[2018-10-15 06:53] mandarcthorat1 opened #10567 "[Coverity CID :188760]Error handling issues in /drivers/wifi/winc1500/wifi_winc1500.c"
Static code scan issues seen in File: /drivers/wifi/winc1500/wifi_winc1500.c
 Category: Error handling issues
 Function: winc1500_accept
 Component: Drivers
 CID: 188760
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10568 "[Coverity CID :188759]Integer handling issues in /subsys/net/l2/ethernet/gptp/gptp_mi.c"
Static code scan issues seen in File: /subsys/net/l2/ethernet/gptp/gptp_mi.c
 Category: Integer handling issues
 Function: gptp_compute_gm_rate_ratio
 Component: Networking
 CID: 188759
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10569 "[Coverity CID :188758]Incorrect expression in /drivers/wifi/winc1500/wifi_winc1500.c"
Static code scan issues seen in File: /drivers/wifi/winc1500/wifi_winc1500.c
 Category: Incorrect expression
 Function: winc1500_get
 Component: Drivers
 CID: 188758
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10570 "[Coverity CID :188757]Memory - illegal accesses in /subsys/bluetooth/shell/bt.c"
Static code scan issues seen in File: /subsys/bluetooth/shell/bt.c
 Category: Memory - illegal accesses
 Function: cmd_directed_adv
 Component: Bluetooth
 CID: 188757
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10571 "[Coverity CID :188756]Memory - corruptions in /drivers/sensor/lis2dh/lis2dh_trigger.c"
Static code scan issues seen in File: /drivers/sensor/lis2dh/lis2dh_trigger.c
 Category: Memory - corruptions
 Function: lis2dh_trigger_drdy_set
 Component: Drivers
 CID: 188756
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10572 "[Coverity CID :188755]Control flow issues in /subsys/shell/shell_utils.c"
Static code scan issues seen in File: /subsys/shell/shell_utils.c
 Category: Control flow issues
 Function: shell_buffer_trim
 Component: Other
 CID: 188755
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10573 "[Coverity CID :188754]Control flow issues in /samples/basic/userspace/shared_mem/src/enc.c"
Static code scan issues seen in File: /samples/basic/userspace/shared_mem/src/enc.c
 Category: Control flow issues
 Function: calc_rev_wheel
 Component: Samples
 CID: 188754
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10574 "[Coverity CID :188753]Incorrect expression in /subsys/net/ip/connection.c"
Static code scan issues seen in File: /subsys/net/ip/connection.c
 Category: Incorrect expression
 Function: net_conn_unregister
 Component: Networking
 CID: 188753
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10575 "[Coverity CID :188752]Security best practices violations in /subsys/shell/shell.c"
Static code scan issues seen in File: /subsys/shell/shell.c
 Category: Security best practices violations
 Function: help_options_print
 Component: Other
 CID: 188752
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10576 "[Coverity CID :188750]Memory - illegal accesses in /subsys/bluetooth/shell/bt.c"
Static code scan issues seen in File: /subsys/bluetooth/shell/bt.c
 Category: Memory - illegal accesses
 Function: cmd_advertise
 Component: Bluetooth
 CID: 188750
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10577 "[Coverity CID :188749]Null pointer dereferences in /subsys/bluetooth/controller/ll_sw/ctrl.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ll_sw/ctrl.c
 Category: Null pointer dereferences
 Function: ll_rx_mem_release
 Component: Bluetooth
 CID: 188749
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10578 "[Coverity CID :188748]Memory - corruptions in /subsys/bluetooth/host/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/host/gatt.c
 Category: Memory - corruptions
 Function: bt_gatt_notify_cb
 Component: Bluetooth
 CID: 188748
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10579 "[Coverity CID :188747]Security best practices violations in /subsys/shell/shell.c"
Static code scan issues seen in File: /subsys/shell/shell.c
 Category: Security best practices violations
 Function: shell_execute_cmd
 Component: Other
 CID: 188747
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10580 "[Coverity CID :188745]Error handling issues in /drivers/wifi/winc1500/wifi_winc1500.c"
Static code scan issues seen in File: /drivers/wifi/winc1500/wifi_winc1500.c
 Category: Error handling issues
 Function: handle_socket_msg_recv
 Component: Drivers
 CID: 188745
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10581 "[Coverity CID :188744]Memory - corruptions in /drivers/sensor/lis2dh/lis2dh_trigger.c"
Static code scan issues seen in File: /drivers/sensor/lis2dh/lis2dh_trigger.c
 Category: Memory - corruptions
 Function: lis2dh_thread_cb
 Component: Drivers
 CID: 188744
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:53] mandarcthorat1 opened #10582 "[Coverity CID :188743]Program hangs in /tests/posix/common/src/posix_rwlock.c"
Static code scan issues seen in File: /tests/posix/common/src/posix_rwlock.c
 Category: Program hangs
 Function: test_posix_rw_lock
 Component: Tests
 CID: 188743
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10583 "[Coverity CID :188742]Incorrect expression in /subsys/net/ip/connection.c"
Static code scan issues seen in File: /subsys/net/ip/connection.c
 Category: Incorrect expression
 Function: net_conn_change_callback
 Component: Networking
 CID: 188742
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10584 "[Coverity CID :188741]Control flow issues in /subsys/shell/shell_utils.c"
Static code scan issues seen in File: /subsys/shell/shell_utils.c
 Category: Control flow issues
 Function: shell_str_similarity_check
 Component: Other
 CID: 188741
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10585 "[Coverity CID :188740]Error handling issues in /drivers/sensor/isl29035/isl29035_trigger.c"
Static code scan issues seen in File: /drivers/sensor/isl29035/isl29035_trigger.c
 Category: Error handling issues
 Function: isl29035_thread_cb
 Component: Drivers
 CID: 188740
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10586 "[Coverity CID :188739]Program hangs in /tests/posix/common/src/posix_rwlock.c"
Static code scan issues seen in File: /tests/posix/common/src/posix_rwlock.c
 Category: Program hangs
 Function: test_posix_rw_lock
 Component: Tests
 CID: 188739
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10587 "[Coverity CID :188738]Memory - illegal accesses in /subsys/bluetooth/host/conn.c"
Static code scan issues seen in File: /subsys/bluetooth/host/conn.c
 Category: Memory - illegal accesses
 Function: conn_le_update_timeout
 Component: Bluetooth
 CID: 188738
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10588 "[Coverity CID :188735]Uninitialized variables in /subsys/bluetooth/shell/bt.c"
Static code scan issues seen in File: /subsys/bluetooth/shell/bt.c
 Category: Uninitialized variables
 Function: cmd_advertise
 Component: Bluetooth
 CID: 188735
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10589 "[Coverity CID :188734]Control flow issues in /drivers/sensor/lis2dh/lis2dh.c"
Static code scan issues seen in File: /drivers/sensor/lis2dh/lis2dh.c
 Category: Control flow issues
 Function: lis2dh_acc_odr_set
 Component: Drivers
 CID: 188734
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10590 "[Coverity CID :188733]Error handling issues in /drivers/sensor/lis2dh/lis2dh_trigger.c"
Static code scan issues seen in File: /drivers/sensor/lis2dh/lis2dh_trigger.c
 Category: Error handling issues
 Function: lis2dh_thread_cb
 Component: Drivers
 CID: 188733
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10591 "[Coverity CID :188732]Integer handling issues in /subsys/net/lib/http/http_server.c"
Static code scan issues seen in File: /subsys/net/lib/http/http_server.c
 Category: Integer handling issues
 Function: _http_change_state
 Component: Networking
 CID: 188732
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10592 "[Coverity CID :188731]Memory - illegal accesses in /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/driver.c"
Static code scan issues seen in File: /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/driver.c
 Category: Memory - illegal accesses
 Function: _SlDrvMsgRead
 Component: Networking
 CID: 188731
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10593 "[Coverity CID :188730]Memory - corruptions in /drivers/sensor/lis2dh/lis2dh_trigger.c"
Static code scan issues seen in File: /drivers/sensor/lis2dh/lis2dh_trigger.c
 Category: Memory - corruptions
 Function: lis2dh_trigger_anym_set
 Component: Drivers
 CID: 188730
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10594 "[Coverity CID :188729]Uninitialized variables in /subsys/bluetooth/shell/bt.c"
Static code scan issues seen in File: /subsys/bluetooth/shell/bt.c
 Category: Uninitialized variables
 Function: cmd_chan_map
 Component: Bluetooth
 CID: 188729
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10595 "[Coverity CID :174418]Error handling issues in /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/fs.c"
Static code scan issues seen in File: /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/fs.c
 Category: Error handling issues
 Function: sl_FsOpen
 Component: Networking
 CID: 174418
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10596 "[Coverity CID :174417]Code maintainability issues in /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/device.c"
Static code scan issues seen in File: /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/device.c
 Category: Code maintainability issues
 Function: sl_Stop
 Component: Networking
 CID: 174417
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10597 "[Coverity CID :174414]Error handling issues in /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/driver.c"
Static code scan issues seen in File: /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/driver.c
 Category: Error handling issues
 Function: _SlDrvObjGlobalLockWaitForever
 Component: Networking
 CID: 174414
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10598 "[Coverity CID :174412]Incorrect expression in /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/wlan.c"
Static code scan issues seen in File: /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/wlan.c
 Category: Incorrect expression
 Function: sl_WlanProfileGet
 Component: Networking
 CID: 174412
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10599 "[Coverity CID :174410]Memory - corruptions in /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/wlan.c"
Static code scan issues seen in File: /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/wlan.c
 Category: Memory - corruptions
 Function: sl_WlanProvisioning
 Component: Networking
 CID: 174410
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:54] mandarcthorat1 opened #10600 "[Coverity CID :174409]Memory - illegal accesses in /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/fs.c"
Static code scan issues seen in File: /ext/hal/ti/simplelink/source/ti/drivers/net/wifi/source/fs.c
 Category: Memory - illegal accesses
 Function: FsGetCreateFsMode
 Component: Networking
 CID: 174409
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-15 06:57] mandarcthorat1 commented on #10600
Duplicate of #3957

[2018-10-15 06:57] #10600 closed

[2018-10-15 06:58] mandarcthorat1 commented on #10599
Duplicate of #3956

[2018-10-15 06:58] #10599 closed

[2018-10-15 06:59] mandarcthorat1 commented on #10598
Duplicate of #3954

[2018-10-15 06:59] #10598 closed

[2018-10-15 07:00] mandarcthorat1 commented on #10597
Duplicate of #3952

[2018-10-15 07:00] #10597 closed

[2018-10-15 07:01] mandarcthorat1 commented on #10596
Duplicate of #3949

[2018-10-15 07:01] #10596 closed

[2018-10-15 07:03] mandarcthorat1 commented on #10595
Duplicate of #3948

[2018-10-15 07:03] #10595 closed

[2018-10-15 07:33] rlubos commented on #10561
Hi,
I've just tried `cmake -GNinja -DBOARD=nrf52840_pca10056 -DOVERLAY_CONFIG=overlay-ot.conf ..` and it worked just fine.

Perhaps you didn't clear you build directory after unsuccessfull `cmake` run?

[2018-10-15 07:33] hakonfam opened #10602 "Incorrect documentation for GENERATED_KERNEL_SOURCE_FILES"
In `zephyr/cmake/app/boilerplate.cmake`:

`define_property(GLOBAL PROPERTY GENERATED_KERNEL_SOURCE_FILES`

States:

[code]

Should be `Source files ...`

[2018-10-15 07:37] hakonfam opened #10603 "Hard to find "todo""
In `$ZEPHYR_BASE/CMakeLists.txt`:

[code]

Link with issue or create write TODO to make it easier to find.

[2018-10-15 08:14] #8875 closed

[2018-10-15 08:17] JoeHut commented on #10312
@Qbicz did you report the ``base64_decode()`` issue? I cannot find it and we are facing it as well.

[2018-10-15 08:39] Qbicz commented on #10312
@JoeHut no, I didn't create the issue. I stopped seeing it after implementing https://github.com/zephyrproject-rtos/zephyr/pull/10452 which ensures that I always have correct CCC stored. If you can reproduce the decoding issue (especially for something different than CCC), please create a bug report.

[2018-10-15 08:40] jarz-nordic commented on #10166
@lgl88911 : Please check now if it is working as you expect it.

[2018-10-15 08:41] JoeHut commented on #10312
@Qbicz ok, thanks. I will check with your PR once merged :+1:
@dhananjaygj FYI

[2018-10-15 10:09] spoorthik commented on #10382
@MaureenHelm: I agree that most boards don't have sensor embedded but sensor can always be connected if the board supports particular sensor driver. So ideally, build should pass for any board with sensor driver support.

@nashif: We should have attributes in yaml file to filter out platforms which supports particular sensor driver (like depends_on: hts221 in hts221 sample.yaml) and have fixture e

[2018-10-15 11:49] #8874 closed

[2018-10-15 12:16] atthecodeface opened #10609 "RISC-V timer incorrectly written"
I don't know if this is handled by Andy Ross' updates to the timer stuff, so rather than it getting dropped:
riscv_machine_timer_irq_handler in drivers/timer/riscv_machine_timer.c
is presumably the interrupt handler for the timer. Its process is to do its stuff then rearm the timer.

The RISC-V privileged spec does not guarantee spurious timer interrupts on timer rearming; there is a chance that a

[2018-10-15 13:12] leodido99 commented on #10313
I'm actually re-opening this issue, because I've experienced it again. The problem is caused when several packets in the TCP retry list have refcount > 1, they are all leaked.

[2018-10-15 13:20] nashif opened #10610 "i2s driver for stm still uses old logger"
@avisconti

commit 7b82e9f2d09ca17a97e34d11965e119f394ee39c
Author: Armando Visconti <armando.visconti@st.com>
Date:   Thu Jun 14 09:27:46 2018 +0200

    drivers: i2s: Add support for I2S stm32

Please move this driver to new logger

[2018-10-15 13:48] nashif commented on #10444
@nordic-krch Are you looking at this, seems to break on most ARM architectures...

[2018-10-15 13:51] nashif commented on #10444
To reproduce this in Qemu, export QEMU_BIN_PATH to point to host qemu (assuming you have a very recent version on the host) and run it on mps2_an385

[2018-10-15 13:57] #10602 closed

[2018-10-15 13:58] rlubos commented on #10561
Sorry I missed that part - yes, OT shell is exposed to the user, just connect to you board with a terminal, and you should be able to use it.

To activate OT shell type `select ot`, and then type `cmd help` to list supported OT commands. Note that you need to prefix every OT command with `cmd`, so for example to get OT version, use `cmd version` command.

[2018-10-15 14:08] sdrsdr opened #10611 "STM32L4 GPIOC Missing Interrupt support? (nucleo_l476rg)"
Similar to #9630 when I try to use interrupt callback related to  GPIOC  the callback is not triggered. GPIOA  and GPIOB are working as expected. I've tested with nucleo_l476rg  board. The code I use for testing is:
[code]
project file is minimal:
[code]

make menuconfig does not show usart3 selected so gpioc5 should be free for gpio..

[2018-10-15 14:40] OlegKapshii commented on #4326
Yes. We will extend it.

[2018-10-15 14:49] #10518 closed

[2018-10-15 15:03] erwango commented on #10611
Hi,

Seems you miss the `gpio_init_callback` for `btn_gpioc_cb` in the example you gave.
I had a try on my board and it worked.

Can you have another check?

[2018-10-15 15:53] sdrsdr commented on #10611
gpio_pin_configure is indeed missing :-( I'll check again tomorrow

[2018-10-15 16:05] avisconti commented on #10610
Sure. I'll do it tomorrow.

[2018-10-15 16:17] avisconti commented on #10610
@nashif
How to test it? Porting new logging method was easy enough for doing it right now. But tomorrow I would like to see if I can really see the logs.

[2018-10-15 16:34] nategraff-sifive commented on #10043
@galak Doing a quick glance over the source, it looks like modifying `SIFIVE_CLINT_TIMEBASE_FREQ` in [include/hw/riscv/sifive_clint.h](https://github.com/qemu/qemu/blob/master/include/hw/riscv/sifive_clint.h) might just do the trick. Let me try that and see what happens.

[2018-10-15 16:40] nashif commented on #10043
meanwhile I have been testing with the above option and it works fine

[2018-10-15 16:40] nashif commented on #10043
see #10136

[2018-10-15 16:49] pfalcon commented on #9993
I don't know why this issue is at all exists.

Of course, the spec just lists typical error codes which can happen for each call. That doesn't mean that they all should be used in a particular implementation. Nor it even means that an implementation can't return some other error. (However, it means that if an implementation faces and handles some error condition described in the spec, then the err

[2018-10-15 17:28] nategraff-sifive commented on #10043
@nashif Awesome!

@galak So I made the change I just suggested and ran sanitycheck on the hifive1 target. Oddly enough, there's exactly one test failing and it's `tests/kernel/mem_pool/mem_pool_api/kernel.memory_pool` causing QEMU to jump to 0x00000008, where it subsequently crashes. Not sure yet what's going on, but I'll keep looking.

[2018-10-15 17:32] Craigzyc commented on #10561
Ok, yes that worked. Thank you

[2018-10-15 17:32] #10561 closed

[2018-10-15 19:36] dcpleung commented on #10473
@AdithyaBaglody said that #10542 should fix this.

[2018-10-15 23:51] GAnthony opened #10617 "net: shell: Converting net and wifi shells to new shell breaks samples/net/wifi app for SimpleLink WiFi driver"
The recent commits 681ff123 and 436e295 cause crashes, and break the operation of the SimpleLink WiFi driver callbacks, when attempting to execute connect, disconnect or scan commands, executed via the samples/net/wifi shell sample app.

Reverting these commits gets the samples/net/wifi shell sample working again.

I haven't had time to delve too deeply, but logging the issue until I have time to

[2018-10-16 03:28] parinpatel opened #10619 "[Zephyr] Firmware upgrade through UART [Nordic 52840 - pca 10056 Board]"
Hi all,

[NRF52840 - pca10056]

I used the mcuboot for bootloader
and I wanted to firmware upgrade using UART interface
I also found that there is one flag "CONFIG_MCUBOOT_SERIAL" which is used for firmware upgrade through UART but after enable this ,
 I read the following document,
https://docs.zephyrproject.org/latest/samples/subsys/mgmt/mcumgr/smp_svr/README.html

But I unable to find out the s

[2018-10-16 03:52] parinpatel commented on #10619
Currently I found some command from below link

https://github.com/zephyrproject-rtos/zephyr/issues/9509

Is it correct?

[2018-10-16 04:48] qianfan-Zhao opened #10621 "RFC: Enable device by using dts, not Kconfig"
The most drivers use Kconfig to select which device compiled and which not currently. eg:
(CONFIG_GPIO_STM32_PORTA is a variable defined in Kconfig)

[code]

And the 'status = "ok"' in dts seems useless because the drivers doesn't need the defines generated from dts. Drivers use  the peripheral's base address, irq number and other informations provide by **HAL**.

[code]

In the above code, GPIOA_

[2018-10-16 06:13] nniranjhana opened #10623 "tests/drivers/watchdog/wdt_basic_api fails on Quark platforms"
On quark_se_c1000, #8097 says its fixed, but recent builds show an Assertion Failure, not a test crash like reported before. This seems to be a different issue, with the assertion failure and restarts arising after #9872 was merged.

**Arch:** x86, ARC
**Platforms:** quark_se_c1000, quark_d2000

**Error on console log:**

_quark_se_c1000:arc_

[code]

On _quark_d2000:x86_, it restarts multiple tim

[2018-10-16 06:46] spoorthik commented on #10623
@nniranjhana: It is duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/8097

[2018-10-16 07:28] jhedberg commented on #10578
Marked as false positive in Coverity

[2018-10-16 07:28] #10578 closed

[2018-10-16 07:30] jhedberg commented on #10587
Looks like a valid issue. @sjanc could you take a look? It seems this code was introduced by you.

[2018-10-16 07:47] spoorthik opened #10628 "tests/kernel/common and tests/posix/fs crash on ESP32"
Execution log:

[code]

Steps to reproduce:
[code]

[2018-10-16 07:52] sdrsdr commented on #10611
Ok here is the revised testing code:
[code]
this time all pins and structs are properly configured and the callback on PC5 is triggered but not on PB5. When I don't configure pin5 on gpioc the callback is triggered again on PB5. There is some remote memory about all ports are sharing interrupt  mask per pin so PC5 and PB5 are the same interrupt and mask and you have to somehow check which pin on w

[2018-10-16 07:58] erwango opened #10629 "gpio/stm32: use dts extracted information to populate instances settings"
STM32 gpio driver does not use dts generated defines for instances configuration:
[code]

When possible replace with information extracted from dts:
[code]

To do this, matching configuration CONFIG_ should be declared in various `soc/arm/st_stm32/stm32xx/dts_fixup.h`files

[2018-10-16 08:19] avisconti commented on #10610
OK, it works. Nevertheless there are too many logs and I didn't get how to filter them. For example I may want just to see logs from my I2S driver, while now I get logs also from dma driver. Not sure if it is possible to filter the driver from menuconfig.

[2018-10-16 08:29] spoorthik opened #10632 "tests/kernel/poll faults on freedom_k64f, sam_e70_xplained and nrf52_pca10040"
Execution log:

[code]
Steps to reproduce:
[code]

[2018-10-16 08:34] spoorthik opened #10633 "tests/kernel/mem_protect/syscall crashes on freedom_k64f"
Execution log:

[code]

[2018-10-16 08:42] finikorg commented on #10503
OK, sounds good.

[2018-10-16 09:30] spoorthik opened #10635 "tests/kernel/mem_pool/mem_pool_api#test_mpool_alloc_timeout crashes on qemu_riscv32"
The test case test_mpool_alloc_timeout faults on qemu_riscv32.

Execution log:

[code]

Steps to reproduce:

[code]

[2018-10-16 09:52] nniranjhana commented on #10628
The tests in posix/fs also crash with similar log on ESP32:

[code]

[2018-10-16 12:01] finikorg opened #10636 "quark_se is missing SPI_DRV_NAME symbol"
After commit 55caa7b7434e769c5da2680a5161da8ec7caa260 SPI_1_NAME is empty for a board quark_se_c1000_devboard

[2018-10-16 12:02] finikorg commented on #10636
@tbursztyka

[2018-10-16 13:38] nashif opened #10639 "make run for native_posix has dependency issues"
call 'make -j10 run' for native_posix and the build will fail, we do not have dependency of the run taget on the .exe binary.

[code]

[2018-10-16 14:53] nashif commented on #10639
actually that does not solve the problem because we are renaming...

[code]

[2018-10-16 15:56] carlescufi commented on #10619
@parinpatel can you comment on #9509 instead?

[2018-10-16 16:12] nashif commented on #4040
@MaureenHelm  to submit a proposal for #4039 and get comments in a PR

[2018-10-16 16:16] pfalcon opened #10644 "logging: Where's my function name??"
With new logger, I get:

[code]

What's this? How to get use of this? I need the function name where it happens, like was there with the old logger. (It was there, right, or am I hallucinating? All in all, with the old logger, it was clear (ahem) what happens where, and the new logger really leads to that question - what's this?)

[2018-10-16 16:46] carlescufi commented on #10305
@qianfan-Zhao I think your proposal is reasonable. Why don't you send a PR where you add the new mask and call, and implement it for one particular platform? For all the others you can return `-ENOTSUPP`

[2018-10-16 17:13] nashif commented on #10531
@michiwend you can always increase that using Kconfig.

[2018-10-16 17:17] andyross commented on #10609
Cool, thanks.  I was literally just this morning starting the rework on this driver, and indeed had copied that "low then high" mechanism (and even added a comment explaining it) verbatim.  That kind of latching is a pretty common trick for multi-word counters, so it didn't look weird to me.

What is the correct reference for this device?  The only docs I could find publicly were the SiFive manual

[2018-10-16 17:38] nategraff-sifive commented on #10609
@andyross [The Freedom E310-G000 Manual](https://www.sifive.com/documentation) and the [RISC-V Privileged Architecture Specification](https://content.riscv.org/wp-content/uploads/2017/05/riscv-privileged-v1.10.pdf) are the references I use for the machine timer. You can also check out the Freedom U540-C000 Manual which has its own implementation of the RISC-V machine timer.

I should also mention

[2018-10-16 18:46] MaureenHelm commented on #10636
The Kconfig symbol `SPI_1_NAME` is intentionally undefined for this board after this commit.  The preprocessor macro `CONFIG_SPI_1_NAME` is still defined, but now it's generated from dts instead of Kconfig.

Excerpts from `tests/drivers/spi/spi_loopback/build/zephyr/include/generated/generated_dts_board.h`:
[code]

[2018-10-16 20:02] parinpatel commented on #10619
Ok

[2018-10-16 20:02] #10619 closed

[2018-10-16 20:06] parinpatel commented on #9509
@bfrog are you find any solution ??

@carlescufi
Is there any tx, rx and Hw flow control configuration is available for UART firmware upgrade??
Because I also unable to flash firmware through UART and I got following error,
Error: NMP timeout

[2018-10-16 20:08] carlescufi commented on #9509
@parinpatel not that I know no. I think the config should match between the sample and mcumgr by default. But I've copied @nvlsianpu who should be able to help

[2018-10-16 20:10] carlescufi commented on #9509
@parinpatel do other commands work for you? Can you try increasing the timeout with the `-t` switch?

[2018-10-16 21:16] jukkar commented on #10644
NET_DBG() will add function name. There was no function name for error log prints with old logging.

[2018-10-16 22:51] dcpleung commented on #10632
Reverting this

[code]

and the test passed on frdm_k64f and nrf52_pca10040.

[2018-10-16 22:52] dcpleung commented on #10633
Reverting this

[code]

and the test passed on frdm_k64f and nrf52_pca10040.

[2018-10-16 23:17] qianfan-Zhao commented on #10305
@carlescufi sure, I am doing this pr

[2018-10-17 01:41] lgl88911 commented on #10166
@jarz-nordic Update code & test OK, Thanks a lot！
`uart:~$
  bt       clear    gatt     help     history  kernel   l2cap    log
  net      net_bt   resize   shell    ticker
`

[2018-10-17 01:41] #10166 closed

[2018-10-17 03:13] pengguiyong opened #10649 "bug when build project which new c lib"
[code]

[2018-10-17 03:15] pengguiyong commented on #10649
redefine this function name will be ok
remove_tt(struct _timeout *t)

[2018-10-17 04:54] qianfan-Zhao opened #10652 "qustion: How to ping host target from Zephyr?"
Hi, I want ping a target device from Zephyr, and check if the target alive. But the API net_icmpv4_send_echo_request is declared in subsys/net/ip, not exported for us. Is there has a easy way to do that?

[2018-10-17 07:43] finikorg commented on #10636
@MaureenHelm so should the functionality be the same as before? At the moment SPI_NAME is undefined (whatever it is called now)

[2018-10-17 07:45] #10460 closed

[2018-10-17 09:35] parinpatel commented on #9509
I try with -t but It didn't work
I Have one question, for which board you were check this UART Firmware up gradation method ??
If you have mcuboot and Smp_server related README please share with me
May be I execute wrong steps

[2018-10-17 09:48] nniranjhana commented on #10623
When flashed directly on both the platforms (without infrastructure), the output is the same.

The test passes on x86 core of the quark_se_c1000 platform. If the test should not be running on the arc core, we need to exclude in the .yaml file.

The test restarts multiple times on x86 core of the quark_d2000, same as above.

[2018-10-17 09:54] nniranjhana opened #10657 "tests/net/ieee802154/crypto does not work as expected"
The test in tests/net/ieee802154/crypto runs into a CPU exception without starting the test.

**Arch:** x86
**Platform:** quark_se_c1000

It looks like the test should ideally bind with the crypto device, use the key, auth data provided by the test to verify authentication, encryption and display the following results:

But, when test application is flashed, I only get a uart console asking for in

[2018-10-17 10:00] anangl opened #10658 "Cannot use SPI_0 on nRF52810"
After the SPI driver configuration was moved to device tree (see #9781), the SPI_0 device became unusable on nRF52810. Compilation fails with a bunch of errors like this:
[code]
This is because, unlike in other chips from the nRF52 family, the base address of the SPIM0 peripheral in nRF52810 is [0x40004000](https://github.com/zephyrproject-rtos/zephyr/blob/master/dts/arm/nordic/nrf52810.dtsi#L85),

[2018-10-17 10:36] jarz-nordic commented on #8872
All examples have been migrated.

[2018-10-17 10:36] #8872 closed

[2018-10-17 10:43] hakonfam opened #10662 ""Quick start - Integration testing" does not work as intended."
When following the steps listed in [Quick start - Integration testing](https://docs.zephyrproject.org/latest/subsystems/test/ztest.html#test-framework) no tests will be included when running the `./scripts/sanitycheck -s tests/foo/bar/test` command.

I'm no expert in this, but it looks like the `-T` argument should be used instead of `-s` since a path is given as argument (as opposed to a test nam

[2018-10-17 10:46] pkral78 commented on #9778
#10659 make RTT backend independent on rtt console, when console is also used then rtt backend may by configured to differend up-buffer separating terminal from logger, no locking needed.

In case when both console and logger access terminal buffer (which is not forbidden) we of course need mutex.

[2018-10-17 11:29] vikrant8051 opened #10664 "FOTA: nRF52: integration of samples/bluetooth/mesh & smp_srv"
Need guidance in integration of samples/bluetooth/mesh & samples/subsys/mgmt/mcumgr/smp_svr:

Goal is to :
1) flash #mcuboot on nRF52_PDK
2) then flash signed original.hex
3) provision it using #nRFMesh
4) firmware upgrade over Bluetooth using #nRFConnect
    (by uploading signed modified.bin)
5) NODE should remain in provisioned state.

[2018-10-17 11:41] qianfan-Zhao commented on #10652
My personal idea is based on PR #10665 and PR #10660 .

[code]

This maybe not the best way, but it just works.
If we can export some ICMP APIs to public, or implement SOCK_RAW?

[2018-10-17 12:08] nashif commented on #10444
@nordic-krch any updates?

[2018-10-17 12:42] pkral78 commented on #9778
Sharing now implemented in #10659 by commit https://github.com/zephyrproject-rtos/zephyr/pull/10659/commits/e1f3fc87198d43a91fa6bd42c9599ca729641570

[2018-10-17 12:49] carlescufi commented on #4150
@sathishkuttan there is indeed. We talked about this today with @pawelzadrozniak and @finikorg and we'd have interest in sharing the work.

[2018-10-17 13:13] #10444 closed

[2018-10-17 13:46] ehudmarvell opened #10667 "posix: compilation fail while enabling shell option"
Hi,

I am trying to use Posix+Shell

For example, I am using "hello_word" app with the following code to register  shell cmd
[code]

following the next sequence:
1. cd ./samples/hello_world/
2.  mkdir build && cd build
3. cmake -DBOARD=native_posix -GNinja  ..
4. ninja menuconfig
5. shell options -> enable legacy shell
    shell options -> enable shell
6. ninja

got the errors:

please help

Thank

[2018-10-17 13:55] chris-makaio opened #10668 "nRF52832: RTT vs. Bluetooth"
I'm currently struggling with running a bluetooth peripheral while logging.

It seems to be very unstable as soon as logging (I'm logging to RTT) is enabled, even if there is actually no log activity during connection handling.
Just for reference I've enabled the basic BLE logging.

The banner:

Here's how it looks for failing connections:

and this for a successful connection:

[2018-10-17 13:59] pfalcon opened #10669 "kernel: "New timer subsystem" uses oversimplified, common names, leading to debugging confusion and compilation clashes"
From https://github.com/zephyrproject-rtos/zephyr/pull/10303#issuecomment-430638826 :

[code]

[2018-10-17 14:35] carlescufi commented on #10669
Isn't that a static function though? how come it collides?

[2018-10-17 14:41] andyross commented on #10669
It's a POSIX symbol (an ancient synonym for unlink(), basically), so yeah, sarcasm aside I shouldn't have used it.

Somewhat frustrating that stdio.h (!!!) is getting included out of a HAL layer though.

Will fix.

[2018-10-17 14:42] pfalcon commented on #10669
Even with static function, using simple words like that is not a good practices. Such simple words belong to somebody else.

Very simple - a header is included which declares such a function with different prototype. Happens and going to happen, and the only solution is proper namespacing of names.

[2018-10-17 14:44] pfalcon commented on #10669
Any 3rd-party header/lib can be included anywhere (and anytime, mostly of course on the users' side somewhen later).

[2018-10-17 14:46] pfalcon commented on #10669
And don't forget about the debugging case - you're in gdb, and see "remove" function. What does it tell you?

(I would mention map file issue, but static symbols aren't even shown by GUN ld. gdb sees them of course.)

[2018-10-17 14:49] pfalcon commented on #10669
Or "idle", I whatever.

I hope the concern is clear. For networking subsystem there're cleat guidelines on naming: https://github.com/zephyrproject-rtos/zephyr/issues/8723

.When it is a public function net_&lt;domain><...>()
.When it is a private function &lt;domain><...>()

And yep, it's surprising that we fight MISRA hydra, but didn't adopted something like above as a golden rule for entire of

[2018-10-17 14:50] andyross commented on #10669
We can go in circles on this all day.  I mean... sure, reusing POSIX symbol names is a bad practice.  But including libc functions seven layers deep out of "hardware abstraction layers" is if anything a worse practice.  If you get to "Any header/lib can be included anywhere" then I get to "any legal symbol can be used", right? :)

Just call out the symbols that bug you and I'll rename them.  Obvio

[2018-10-17 14:54] pfalcon commented on #10669
But that's not my point, we shouldn't reuse any symbols which can easily belong to somebody else. (Because everyone thinks that they can use it.)

My suggestion is to use prefix(es) for all functions of subAPI/subsystem. E.g. timeout_remove(). That's still clash'able, but at least debuggable, set of names.

[2018-10-17 14:57] andyross commented on #10669
That sounds more like a generic complaint about the kernel source, then?  Really I'm asking what it is you want fixed and where.  We have a clearly important build breakage due to a collision on remove(), is that enough to close this bug?

[2018-10-17 14:57] pfalcon commented on #10669
Of course. But last time I heard, we support out of tree SoCs, boards, drivers, etc. You can imagine what may end up there. So if we do that, let's embrace that it's out of our control, and make users' life easier by containing ourselves in a namespace.

[2018-10-17 14:59] pfalcon commented on #10669
I'm trying to raise awareness of the need to namespace things, like I'm trying to do for ~2 years.

Yes, if pledges for more consistent namespacing don't find response in your heart, just fixing specific build breakage is good of course ;-)

[2018-10-17 15:38] pfalcon commented on #10669
I'm not surprised, or CI would fail your PR, right? 3rd-party builds is the key.

Happens here: https://ci.linaro.org/job/lite-aeolus-micropython/548/ . Indeed, it's board-specific, some, but not all ARM boards affected. Build logs can be reached in few clicks, e.g.

https://ci.linaro.org/job/lite-aeolus-micropython/548/PLATFORM=disco_l475_iot1,ZEPHYR_GCC_VARIANT=zephyr,label=docker-xenial-amd64-1

[2018-10-17 15:45] pfalcon commented on #10669
(btw qemu_x86 failure there is unrelated)

[2018-10-17 16:00] SergeSmirnov opened #10671 "Callback function le_param_req() is never called."
A simplest example is samples\bluetooth\peripheral_dis.

Board nrf51_pca10028.

Minor changes to the main.c file.
Functions le_param_req() and le_param_updated() added to conn_callbacks{} structure.
[code]
For the test, nRF connect PC is used. Three simple steps:
1. Connection
2. Change connection parameter
3. Disconnection

Log:
[code]

It can be seen that the parameters have changed, there is ca

[2018-10-17 16:07] d3zd3z commented on #6389
NIST SP 800-90C describes "true", and it should be doable with an entropy source.

[2018-10-17 16:15] #10669 closed

[2018-10-17 16:53] SergeSmirnov commented on #9720
I am very sorry for the delay in response.

Stack sizes are default.
In the file prj.conf now added lines
[code]
Subscriber's log:
[code]
Publisher's log:
[code]

[2018-10-17 17:06] jhedberg commented on #9720
Is this reproducible with the latest master branch? Also, could you play with increasing the stack sizes, as well as increasing the buffer counts (since segmentation means more buffers needed) and see if that helps at all? I wasn't able to reproduce such an issue when I tried with multi-segment messages with my mesh badge app #/10210

[2018-10-17 17:11] tautologyclub opened #10672 "nRF52: UARTE: uart_fifo_fill return value unreliable"
Today I noticed that when using interrupt-driven UART (UARTE @ UART_1 on a nrf52840 based board), calling `uart_fifo_fill(buf_ptr, buf_sz)` often returned `buf_sz` despite not pushing the whole buffer onto the fifo. Speficially, this always occured for me when `buf_sz > 8` and never when `buf_sz < 5` (not sure what happens in between but I guess 8 is a reasonable guess at a cut-off point).

I.e. I

[2018-10-17 18:57] MaureenHelm commented on #10636
You can't change `SPI_1_NAME` value in menuconfig anymore, but you can use `CONFIG_SPI_1_NAME` just as you did before:

https://github.com/zephyrproject-rtos/zephyr/blob/92080a0670a8b1b7a6808688057665cc58b9804f/drivers/spi/spi_dw.c#L594-L597

Is there a particular sample or test application that's broken?

[2018-10-17 18:58] derchrismakaio commented on #10668
As discussed in IRC: As soon as I‘ve got it back working (RTT, Logging, Bluetooth - everything enabled) I wasn‘t able to reproduce the „fault“ state.
I could imagine two causes:
- some corelation with the exact point in time when RTT is attached after or while flashibg
- we‘re using XL1 as GPIO in and XL2 as GPIO out (hardware watchdog)

[2018-10-17 23:37] dcpleung commented on #10633
The test passed on nrf52_pca10040 after increasing PRIVILEGED_STACK_SIZE to 512.

[2018-10-17 23:37] dcpleung commented on #10632
The test passed on nrf52_pca10040 after increasing PRIVILEGED_STACK_SIZE to 512.

[2018-10-18 06:46] arun-kmr opened #10676 "Feature Required: DFU over Thread network"
It would be great, if we can have DFU over thread network feature in zephyr or may be a network agnostic dfu system.

[2018-10-18 07:14] #10667 closed

[2018-10-18 07:31] #8928 closed

[2018-10-18 08:17] finikorg commented on #10636
`samples/net/wpanusb` is not working anymore

[2018-10-18 08:40] parinpatel commented on #9509
Ok It's resolved now
It happened due to It does not go to the serial recovery mode  after resolved it, I successfully upload the  firmware through UART

[2018-10-18 09:48] Eystorhaf opened #10678 "nRF52840: hci_usb timeout during initialization by bluez"
Hey there,

encountered a problem with hci_usb sample on nrF52840,

Hardware:
USB-Devices:
nordic nRF52840 DK & laird DVK-BL654-1.0

USB-Host:
PC / x86 Ubuntu LTS 18.04 / Bluez 4.48 / Kernel 4.15.0-36-generic

Firmware:
zephyr-master @8b20f9d

While initializing the hci-device bluez gets a timeout:
[Thu Oct 18 02:36:18 2018] Bluetooth: hci0: command 0x1002 tx timeout

Here the output of:

btmon: h

[2018-10-18 10:40] SergeSmirnov commented on #9720
The last experiment was on October 17, 2018 with the master brunch.

What parameters of stacks and buffers do you recommend to change?

[2018-10-18 11:18] rveerama1 commented on #8724
Deprecating RPL, so closing this issue.

[2018-10-18 11:19] rveerama1 commented on #8721
Most of the issues are addressed already. So closing it.

[2018-10-18 11:19] #8721 closed

[2018-10-18 11:20] rveerama1 commented on #9041
IPv6 related issues are addressed and deprecating RPL (https://github.com/zephyrproject-rtos/zephyr/pull/10679). So closing this.

[2018-10-18 11:20] #9041 closed

[2018-10-18 11:37] rveerama1 commented on #7584
https://github.com/zephyrproject-rtos/zephyr/pull/10121 Submitted.

[2018-10-18 12:32] JoeHut commented on #10531
@nashif Sure, but if the power management is done by the OS and a sample is provided it should be ensured that the stack is not corrupted, right?

[2018-10-18 12:35] jukkar commented on #10439
The compiler should optimize away the sprint_token() so there should be no issue here. Closing this atm, re-open if you think this is incorrect.

[2018-10-18 12:35] #10439 closed

[2018-10-18 12:39] sigvartmh opened #10685 "Missing # for else in segger conf"
https://github.com/zephyrproject-rtos/zephyr/blob/7ae220c845194a1c68b258cd4f9b1e63df26eb41/ext/debug/segger/rtt/SEGGER_RTT_Conf.h#L108

[2018-10-18 12:56] nashif commented on #10649
this is already fixed.

[2018-10-18 12:56] #10649 closed

[2018-10-18 15:54] erwango opened #10693 "samples/subsys/usb/console: Console routed to UART of no USB"
When testing samples/subsys/usb/console, "Hello World" is routed to UART console if USB console is not there.
I don't know if this is intended behavior, but this could be confusing when testing.

[2018-10-18 16:01] bfrog commented on #9509
I was running this on a nrf52840 dev board, and more recently a custom board with the same chip, neither worked

[2018-10-18 16:05] mike-scott commented on #10439
I'll just submit the compile warning fix for LwM2M as was discussed.

[2018-10-18 16:14] jhedberg commented on #10678
I don't know why the controller would not respond to Read Local Supported Commands. It's something that's used even as part of a combined build HCI initialization.

[2018-10-18 16:17] jhedberg commented on #10678
The only special think I can think of regarding HCI_Read_Local_Supported_Commands is that its return parameters (as part of the Command Complete event) are probably some of the longest of any HCI command. Perhaps that could be an issue here (possibly with the way the HCI transport is implemented).

[2018-10-18 16:42] MaureenHelm commented on #10636
Ok, I see the problem now. We need to add dts bindings for the cc2520 like we did for the mcr20a.

[2018-10-18 17:25] bluespring opened #10698 "Fatal fault in thread in Echo-Server when NET_TCP_LOG_LEVEL_DBG is enabled"
### Overview
While running **Echo-Server** on **QEMU**, if `NET_TCP_LOG_LEVEL_DBG` is enabled, it throws an fatal error.

However, if NET_TCP_LOG_LEVEL is below DBG, there is no issue.

### Steps to reporduce
1. Enable `NET_TCP_LOG_LEVEL_DBG`
2. Run Echo-Server as instructed in [Networking with QEMU/Basic Steps](https://docs.zephyrproject.org/latest/subsystems/networking/qemu_setup.html#basic-setu

[2018-10-18 17:31] finikorg commented on #9861
@ajaykish Have you tested this sample recently, It should work now.

[2018-10-18 17:35] #10568 closed

[2018-10-18 17:35] #10583 closed

[2018-10-18 17:36] bluespring commented on #10698
FYI, after commenting this line, no issue is seen.
Possibly caused by `log_strdup()`.

[code]

[2018-10-18 18:33] andyross commented on #10609
Driver that should address this up at #10556

[2018-10-18 18:51] jhedberg opened #10700 "logging: Support for including function name in the log"
I'd like to proceed with converting all BT_* logging calls to corresponding LOG_* ones as part of #10264 however e.g. BT_DBG and BT_ERR implicitly include the function name in the log output, so this would change the current behavior. Could we either get a Kconfig option to include the function name, or possibly store it as part of log_msg_hdr (as a string pointer) so that the log processing can l

[2018-10-18 18:54] jhedberg commented on #10700
Seems like a duplicate of #10644 hence closing

[2018-10-18 18:54] #10700 closed

[2018-10-18 19:32] jhedberg commented on #10644
We need this also for Bluetooth (see the duplicate issue I opened by mistake). Currently #10264 is mapping the Bluetooth logging macros as follows:
[code]
I'd like to completely remove the Bluetooth-specific macros and replace them with corresponding LOG_* ones however as long as the function name support is not there this would change the behavior.

[2018-10-18 19:36] jhedberg commented on #10143
@thomas-ot ok, however then this needs to be re-assigned to some console or prink maintainer.

[2018-10-18 19:43] jhedberg commented on #10671
IIRC the central can just go and change the parameters - it does not need the peripheral's permission for it. Probably that's what's happening. The le_param_req() callback is in that sense mostly useful for central applications and not peripheral ones. @sjanc @carlescufi please correct me if I'm wrong.

[2018-10-18 19:45] jhedberg commented on #10664
How far have you gotten in these steps? At what point do you get stuck?

[2018-10-18 19:46] jhedberg commented on #10664
For the record, as long as you don't change the composition of the node and don't overwrite the data in the storage partition everything should work as you describe in the steps. If you change the composition you will need to reprovision no matter what since the Mesh specification does not provide a way for nodes to change their composition after provisioning.

[2018-10-18 19:48] pfalcon opened #10701 "API: Prefix (aio_) conflict between POSIX AsyncIO and Designware AnalogIO Comparator"
Following the lovely topic of https://github.com/zephyrproject-rtos/zephyr/issues/10669, etc. I just spotted not a direct name clash (yet), but prefix clash. So, POSIX defines async i/o sub-api with functions starting with `aio_`, e.g. `aio_` http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/aio.h.html .

Surely, sooner or later we'll get to those (I remember @d3zd3z already asked if we sho

[2018-10-18 19:48] pfalcon commented on #10701
@nashif : FYI

[2018-10-18 19:56] SergeSmirnov commented on #10671
For example. The peripheral device at the connection set latency 4 and does not want to change it.
And then the central device requested a latency 0. How can a peripheral device refuse to change parameters if it does not know about it.

[2018-10-18 21:45] vikrant8051 commented on #10664
@jhedberg
[main.txt](https://github.com/zephyrproject-rtos/zephyr/files/2493654/main.txt)
[prj.txt](https://github.com/zephyrproject-rtos/zephyr/files/2493657/prj.txt)

To integrate smp_svr, I modified main.c & prj.conf as per attached file.
These are part of #onoff_level_lighting_vnd_app.

After these changes, I created original_signed.hex & modified_signed.bin from
same App (composition of the N

[2018-10-18 22:15] mike-scott opened #10703 "net: possible "disable" flag for the bulk of network traffic classification"
The RAM usage alone for net_tc is 3.5K.   That is very valuable space atm.

Many applications may not need this, is there a way we could device a flag to disable it?

[2018-10-19 04:51] nniranjhana opened #10707 "tests/benchmarks/latency_measure fails on sam_e70_xplained"
The latency_measure benchmark test fails on sam_e70_xplained with an _"Error: tick occurred"_ when measuring average context switch time between cooperative threads.

**Arch:** ARM
**Platform:** sam_e70_xplained

**Error log on console:**

[code]

[2018-10-19 05:09] parinpatel commented on #9509
@bfrog
I checked for Uart and its working as expected
which interface you are using for firmware flash UART / USB??
if UART may be I will help you for Firmware upgradation.
I was not checked for USB interface but so I haven't idea about it.

[2018-10-19 06:47] aescolar commented on #10508
How is fixing this one going? It is quite disruptive to have this test failing in CI at random so often as it does..

[2018-10-19 07:10] pfalcon commented on #10639
Similar report from me: https://github.com/zephyrproject-rtos/zephyr/pull/10640#issuecomment-430689014

[2018-10-19 07:11] pfalcon commented on #10639
Then following @SebastianBoe 's suggestion in https://github.com/zephyrproject-rtos/zephyr/pull/10429#issuecomment-431260571 to try https://github.com/SebastianBoe/zephyr/commit/0c72c82fdad67bef68cc6ecaa0d9c9a170ffcae0 , that commit fixes it for me, so I suggest to submit it as PR (if not yet).

[2018-10-19 07:32] jukkar commented on #9922
Sorry about late reply, this issue got lost in to the sea of other issues.

If the IEEE 802.15.4 device driver TX returns error, then for example in ieee802154_radio_csma_ca.c line 69 should do retries and return error code to net_if.c line 173 (status = api->send()), which would then be given to application / net_app by net_context_send_cb() if there was send_cb defined when packet was sent. So i

[2018-10-19 07:59] nvlsianpu commented on #9509
@bfrog  An example of proper connection parameters.
`sudo ./mcumgr image list --conntype=serial --connstring='dev=/dev/ttyACM0,baud=115200'`

The mcumgr Go app doesn't use flow control (it is imposible due serial library used).

[2018-10-19 08:06] jukkar commented on #10591
False positive.

[2018-10-19 08:06] #10591 closed

[2018-10-19 08:52] cvinayak commented on #10678
@jhedberg @uhrheber I just now built the hci_usb sample, and it works out-of-the-box as a btusb device on my archlinux (on my virtualbox) when flashed on my nRF52840 DK.

[2018-10-19 08:56] carlescufi commented on #10671
@SergeSmirnov there are two ways of changing connection parameters in BLE. I will use the Link Layer names:

* LE Connection Update: This was introduced in BLE 4.0. Only the master can make use of it and it can change the connection parameters at any time without the slave being able to do anything about it. However the slave can request connection parameters through a "hint" packet that it can se

[2018-10-19 09:16] pawelzadrozniak commented on #10678
The device does not enumerate on Windows. Looks like HCI ACL packet is interpreted incorrectly:
https://pastebin.com/0BUYatVF
Error in hci.c (added length logging):
`	if (buf->len < len) {
		BT_ERR("Invalid HCI ACL packet length, %d < %d -", buf->len, len);
		return -EINVAL;
	}`

17218 equals 0x4342 - see the attached USB log:
![hciusb_e1](https://user-images.githubusercontent.com/19924549/4720872

[2018-10-19 09:49] ioannisg commented on #6392
Fully supported in PR #10544

[2018-10-19 09:54] jukkar commented on #10703
The net_tc.c is implementing the same things as what we did earlier in net_if.c and net_core.c, see also commit 6049207a29a3a74b238571470336a87f3372d0d7 that introduced net_tc.c.
By default there is only one traffic class which implements the same functionality that we had in net_if.c (for TX) and in net_core.c (for RX). Normally you should only have one traffic class, this is the default. In this

[2018-10-19 10:16] jukkar commented on #10698
Seems to be issue in logging:

This is log from echo-server:
[code]

I had gdb attached to echo-server in order to see the backtrace of the crash:
[code]

[2018-10-19 10:19] jukkar commented on #10652
Is there need to do anything here? I thought after IRC conversation that there is some progress when working with `shell_execute_cmd()`.

[2018-10-19 10:50] pawelzadrozniak commented on #10678
Looks like Windows 7 does not support this type of device.
The device enumerates in Linux, however I am getting bus fault BT thread:
https://pastebin.com/ffugF07U

[2018-10-19 11:56] #10639 closed

[2018-10-19 12:18] pfalcon commented on #10508
So, if it's random, them I'm updating the title. (Because I also have regular systematic failures on trying to refactor code - mostly due to fragile includes.)

[2018-10-19 12:55] #8376 closed

[2018-10-19 12:57] #10155 closed

[2018-10-19 13:17] galak opened #10720 "SSD1673 driver it setting a Kconfig symbol in dts_fixup.h"
We seem to set CONFIG_SSD1673_SPI_GPIO_CS in boards/arm/reel_board/dts_fixup.h.  This isn't generated, so seems like this should move into Kconfig and out of dts_fixup.h

[2018-10-19 14:00] KillerLink commented on #9922
No problem!

If I understood you correctly, that means my application should recieve an error from the network stack IF my phsical layer driver delivered error(s) (on all retries) to the network stack. I will check again exactly whether or not my driver does this correctly. It might be possible that the ChannelClearAsessment is to insensitive.

Regarding "enough network buffers", the default confi

[2018-10-19 14:08] jukkar commented on #9922
You buffer count sounds very reasonable, there should be no issues in that side.

[2018-10-19 14:12] jukkar commented on #9922
Yes, the return code from driver should propagate up in the stack. But of course bugs are possible here, I tried to follow the path from driver to application but might have missed something.

Any possibility for you to send your driver to upstream for a review?

[2018-10-19 14:14] jukkar commented on #10698
I wonder if this is a stack space issue as the crash happens in weird place.

[2018-10-19 14:21] nashif commented on #10508
this is coming from 11775b22470f460a7e1c7edb22b641b609a9ee4f, @nniranjhana this is a commit from you.

[2018-10-19 14:22] gon1332 opened #10726 "Which is the best way to handle UART comm?"
Hi there,

I want to write a serial driver over UART for a module. It should have interrupted RX but synchronous TX. Zephyr runs on top of a STM32L496RE.

The problem is I cannot conclude on the best way to do it with Zephyr.
The two approaches that I've seen are the [modem_receiver](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/modem/modem_receiver.c) and the [console_tty](http

[2018-10-19 14:57] dleach02 opened #10727 "Documentation: Need better debugging documentation"
The documentation on how to setup debugging is not very clear and the existing documentation is spread around in a difficult to grep manner. For example, the NXP boards have some fairly decent documentation but when I switched to debugging on the Reel Board it would not work in my environment. Turns out I needed to add a udev rule which was buried pretty deep in the documentation tree for the 96bo

[2018-10-19 15:17] mike-scott commented on #10703
@jukkar Heh, ok that's a very complete analysis.

My misperception was that TC logic added code / resources which wouldn't be needed if we only had 1 classification.

I'll close.

[2018-10-19 15:17] #10703 closed

[2018-10-19 15:42] jfischer-phytec-iot commented on #10720
I will tackle it until Sunday, there was a reason why it is there

[2018-10-19 18:28] SergeSmirnov commented on #10671
This is very useful information, thanks.
Unfortunately, adding CONFIG_BT_CTLR_CONN_PARAM_REQ=y has not changed anything.

What other  test can I do to distinguish the master uses **LE Connection Update** or **LE Connection Parameters Request**?
Or which other software master uses **LE Connection Parameters Request** to test the function le_param_req()?

[2018-10-19 18:29] mike-scott commented on #10537
@carlescufi @cvinayak I found the commit that was causing us so many problems:
https://github.com/zephyrproject-rtos/zephyr/commit/9da6a85c8c995f2751ea1a7c7ad80474fb40063b

I'm not familiar with the connection between the BT driver and the flash driver or why this was changed.  So I might need help with a fix.

[2018-10-19 18:59] d3zd3z commented on #9808
Also, just because some particular target may have a driver that needs multi threading, doesn't keep people from designing targets that are small, and don't have these requirements. There isn't just one configuration of MCUboot, and it needs to still be able to support very small targets, and work without threading support.

[2018-10-19 19:05] d3zd3z commented on #10701
If anything, renaming "AnalogIO" to something other than `aio_` will help avoid confusion. AIO is fairly commonly used to refer to asynchronous I/O, and not very commonly used to refer to Analog IO.

A good rule to use when trying to come up with an acronym is to do a Google search for the acronym. If your meaning isn't near the top, and especially if there are already other meanings, pick somethi

[2018-10-19 19:49] mike-scott opened #10733 "Logger thread should be started earlier than _init_static_threads() in init.c"
Where it's at now, doesn't allow for any real-time output to be generated by network drivers which may be initializing via the NET_CONFIG settings.  (Which hold the main() call till they are done).

[2018-10-19 20:09] #10632 closed

[2018-10-19 20:11] #10473 closed

[2018-10-19 20:12] #9992 closed

[2018-10-19 20:12] #10474 closed

[2018-10-19 20:12] #10515 closed

[2018-10-19 20:17] #10617 closed

[2018-10-19 23:07] qianfan-Zhao commented on #10727
+1 should add debugger tool's usb device id to udev and avoid use root debug and download.

But seems there are no such documents or it is hard to find in the documents. I suggest that add them to 'Development Environment Setup on Linux'

[2018-10-19 23:18] qianfan-Zhao commented on #10726
I had noticed that mem_receiver using a static buffer on ISR handler。I think it is not safe if another UART's interrupt priority higher that the current processed.

[2018-10-20 01:08] cvinayak commented on #10537
@mike-scott changes in https://github.com/zephyrproject-rtos/zephyr/commit/9da6a85c8c995f2751ea1a7c7ad80474fb40063b distinguishes the interval for erase and write operations (as compared to previously used single value of that of the erase operation). By using lower value, write operation now should be more frequent while in a BLE connection. This should not introduce regression.

You could assign

[2018-10-20 01:39] mike-scott commented on #10537
@cvinayak we notice the regression under the following setup:
- 6x nRF52832-based HW connected via BLE IPSP (6lowpan)
- 1 Linux gateway (tested w/ previously stable 4.16.x kernel)

Running an MQTT / HTTP client which transfers an OTA and writes it to flash using dfu flash_img API.  When download starts on all 6 clients at least one will generate a VERIFY error and/or a BUS FAULT.

Once reverted, I

[2018-10-20 01:53] cvinayak commented on #10537
@mike-scott as the transfer will be much faster, I am suspecting program/ISR  stack overflows leading to memory corruptions, could you paste the BUS FAULT details here?.

[2018-10-20 02:07] mike-scott commented on #10537
I'm packing for ELC-E travel.  However, I can post the BUS FAULT and more information on Sunday/Monday

[2018-10-20 08:02] gon1332 commented on #10726
Also according with the [docs](https://docs.zephyrproject.org/latest/api/io_interfaces.html?highlight=uart#_CPPv314uart_fifo_fillP6devicePK4u8_ti), the call of `uart_fifo_fill` outside of an ISR results in undefined behaviour.

[2018-10-20 09:13] cvinayak commented on #10537
@mike-scott ok, lets sync-up f2f at ELCE.

[2018-10-20 12:09] b0661 commented on #10726
If you are using more than one UART check your setup. The driver seems to be unable to handle multiple UARTs sharing the same RX/TX interrupt (which is btw common for STM32). Only use one UART per interrupt.

Maybe @erwango can clarify.

[2018-10-20 12:15] nashif commented on #10658
@Qbicz fyi

[2018-10-20 12:16] nashif commented on #10509
@kumarvikash1 please make sure @ajaykish sees that

[2018-10-20 14:20] RonAmihai opened #10739 "Cannot flash to STM32 Nucleo F446RE with SEGGER JLink"
Me & my team are trying to build & flash our code to STM32 Nucleo F446RE with JLink.
We've upgraded the board's ST-LINK to JLink on-board using SEGGER's reflash tool (as [described here](https://www.segger.com/products/debug-probes/j-link/models/other-j-links/st-link-on-board/)).

Our workspace (Ubuntu 18.04) is configured to work with JLink utillities. We've developed Zephyr using nRF JLink board

[2018-10-21 00:54] qianfan-Zhao commented on #10739
Do you had updated nucleo-f446 board's cmake scripts?

[2018-10-21 01:00] qianfan-Zhao commented on #10739
Please take a look about this commit:  d1054f7

I don't has another board, so just changed f070 only

[2018-10-21 12:09] #10588 closed

[2018-10-21 14:39] aescolar commented on #10512
My 2 cents:

* It would have been nice if the shell & logger would have used the console, as they would have inherited the already available backends. That would have saved work for others, but I can understand they did not fit. From my point of view, no point discussing this.

* About the shell: AFAIK, it seems to assume you always want the embedded Zephyr device to do the shell line editing, and

[2018-10-21 16:44] b0661 commented on #10726
I was referring to the Zephyr stm32 UART driver.

Sorry, I´m not familar with the STM32L496RE. I just checked the reference manual chapter 13.3. The STM32L496RE does not have shared interrupts for USARTs -> Forget about my comment it does not apply to the STM32L496RE .

[2018-10-22 05:53] kumarvikash1 commented on #10509
@nashif , i have informed @ajaykish . I am not sure, why issues are not getting assigned to him.

[2018-10-22 06:11] spoorthik opened #10746 "tests/kernel/tickless/tickless_concept fails on ARC boards"
Execution log on quark_se_c1000_ss_devboard:
[code]
Execution log on emsk:

[code]

[2018-10-22 06:14] spoorthik opened #10747 "tests/kernel/tickless/tickless_concept fails on ARC boards"
Execution log on emsk:

[code]

Execution log on quark_se_c1000_ss_devboard:

[code]

[2018-10-22 06:34] punitvara commented on #9993
yes I agree @pfalcon  However I will try to add where it is possible to add error code if functionality exist at the moment

[2018-10-22 07:05] gon1332 commented on #10726
The data flow of my peoject is that I utilize one UART to communicate and take pictures from a camera module and then, these data will be transferred through another UART to a wireless network. Meanwhile, a third UART is used for logging/debugging to my PC.

There are cases that Zephyr gives a runtime error for Spinning Threads or it just hangs.

It would be really nice if there was a sample for m

[2018-10-22 07:19] pdunaj opened #10748 "Work waiting on pollable objects"
At the moment Zephyr has two kinds of works - executed straightaway or executed with delay. It would be useful to have a third kind in which work would be executed when specific pollable object is ready (or any from a given list).

This way one could avoid creating a new thread to wait for some blocking API to become ready. Since creation of a thread costs RAM it may be to expensive to create many

[2018-10-22 07:46] gon1332 commented on #10726
The data flow of my project is that I have one UART communicating and taking picture from a camera module, then another UART to send the picture over a wireless network and finally a third one attached to the console for logging/debugging.

It would be really nice if there were samples that show how to utilize two or more UARTs (even for specific boards like stm32) like the #8564 issue suggests.

[2018-10-22 08:00] ManojSubbarao commented on #8097
@SavinayDharmappa  please look into this issue

[2018-10-22 08:08] pdunaj opened #10749 "Work blocked on pollable object"
At the moment Zephyr has two kinds of work: executed straightaway and executed with a delay. It would be useful to add a third kind - work executed when provided pollable object is ready (or any object from the given set).

This would be useful in cases when user has a need to wait for a blocking API (e.g. read) but would like to avoid creating a dedicated thread to handle blocking (that would cos

[2018-10-22 08:27] gon1332 commented on #10726
The data flow of my project is that I have one UART communicating and taking picture from a camera module, then another UART to send the picture over a wireless network and finally a third one attached to the console for logging/debugging.

It would be really nice if there were samples that show how to utilize two or more UARTs in Zephyr (even for specific boards like stm32) like the #3564 issue s

[2018-10-22 08:38] nniranjhana commented on #10508
Hi, yes in my commit, I had introduced negative tests which try to set or use attributes before they are initialized (they shouldn't be ideally), but since they are, the test is failing. So is testing this way wrong for some reason and I should remove these tests, or should I be looking into the implementation to fix this bug?

[2018-10-22 09:08] nniranjhana commented on #10508
Hi, yes, in my commit I had added negative tests which try to set or use attributes before they are initialized (ideally they shouldn't be), but since they are, the test is failing. So should I not be testing this way for some reason and remove the test, or is it the implementation that I need to look into for this bug?

[2018-10-22 09:19] nniranjhana commented on #10508
Sorry if I spammed multiple times - my comments/PRs were not appearing, realized it is because of https://blog.github.com/2018-10-21-october21-incident-report/

[2018-10-22 09:20] henrikbrixandersen commented on #10678
I can confirm this issue. I tried reverting 68cb7b3 and related commits - that works.

[2018-10-22 09:35] mandarcthorat1 opened #10750 "[Coverity CID :188890]Insecure data handling in /drivers/watchdog/wdt_qmsi.c"
Static code scan issues seen in File: /drivers/watchdog/wdt_qmsi.c
 Category: Insecure data handling
 Function: get_timeout
 Component: Drivers
 CID: 188890
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-22 09:36] mandarcthorat1 opened #10751 "[Coverity CID :188889]Memory - illegal accesses in /subsys/bluetooth/host/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/host/gatt.c
 Category: Memory - illegal accesses
 Function: gatt_find_type
 Component: Bluetooth
 CID: 188889
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-22 09:36] mandarcthorat1 opened #10752 "[Coverity CID :188888]Incorrect expression in /tests/kernel/interrupt/src/nested_irq.c"
Static code scan issues seen in File: /tests/kernel/interrupt/src/nested_irq.c
 Category: Incorrect expression
 Function: isr0
 Component: Tests
 CID: 188888
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-22 09:36] mandarcthorat1 opened #10753 "[Coverity CID :188887]Error handling issues in /tests/posix/common/src/pthread.c"
Static code scan issues seen in File: /tests/posix/common/src/pthread.c
 Category: Error handling issues
 Function: test_posix_pthread_termination
 Component: Tests
 CID: 188887
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-22 09:36] mandarcthorat1 opened #10754 "[Coverity CID :188886]Error handling issues in /tests/posix/common/src/mqueue.c"
Static code scan issues seen in File: /tests/posix/common/src/mqueue.c
 Category: Error handling issues
 Function: test_posix_mqueue
 Component: Tests
 CID: 188886
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-22 09:36] mandarcthorat1 opened #10755 "[Coverity CID :188885]Error handling issues in /lib/ring_buffer/ring_buffer.c"
Static code scan issues seen in File: /lib/ring_buffer/ring_buffer.c
 Category: Error handling issues
 Function: ring_buf_put
 Component: Other
 CID: 188885
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-22 09:36] mandarcthorat1 opened #10756 "[Coverity CID :188883]Memory - illegal accesses in /subsys/bluetooth/host/hci_core.c"
Static code scan issues seen in File: /subsys/bluetooth/host/hci_core.c
 Category: Memory - illegal accesses
 Function: bt_dev_show_info
 Component: Bluetooth
 CID: 188883
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-22 09:36] mandarcthorat1 opened #10757 "[Coverity CID :188882]Incorrect expression in /tests/kernel/interrupt/src/nested_irq.c"
Static code scan issues seen in File: /tests/kernel/interrupt/src/nested_irq.c
 Category: Incorrect expression
 Function: offload_function
 Component: Tests
 CID: 188882
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-22 09:37] mandarcthorat1 opened #10758 "[Coverity CID :188881]Control flow issues in /samples/net/zperf/src/zperf_shell.c"
Static code scan issues seen in File: /samples/net/zperf/src/zperf_shell.c
 Category: Control flow issues
 Function: cmd_udp_download
 Component: Samples
 CID: 188881
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-10-22 10:24] spoorthik commented on #10746
Closing this as the issue was not getting created and I had to create this multiple times to create an issue. This was due to github issue posted at https://blog.github.com/2018-10-21-october21-incident-report/.

[2018-10-22 10:24] #10746 closed

[2018-10-22 12:28] chris-makaio opened #10760 "Flash Shell compilation error without BT"
Compiling without BT shell I get a compilation error for line
extern const struct shell *ctx_shell;

If I change to
const struct shell *ctx_shell;

it works, so I guess w/o BT shell it's simply not exposed.
However, I wonder why this is needed as the shell comes as param in every cmd

[2018-10-22 13:16] pkral78 commented on #3102
@nashif @pfalcon There was some discussion about it on IRC. So just to be mentioned. My PoV is to have newlib configurable from application perspective. Now this configuration is hardcoded in a SDK recipe.

[2018-10-22 13:48] jarz-nordic commented on #10512
@aescolar : Thank you for this input. I will work to improve shell according to your suggestions but it will take time... My priority is to fix bug reported by Anas: #10413

[2018-10-22 14:03] pdunaj commented on #10749
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/10748

[2018-10-22 14:03] #10749 closed

[2018-10-22 18:27] pfalcon opened #10766 "shell: Uncomfortable handling of "current editline" vs history"
Here's how GNU readline, and a bunch of its workalines work:

1. Suppose you have some lines in the history buffer.
2. Now you start with an empty line with prompt.
3. You can press up arrow and go to previous command in history.
4. Then you can press down, and you'll get back to you empty line to type new things in!

Current Zephyr shell breaks down on step 4. You can't press down and get back to

[2018-10-22 18:28] pfalcon commented on #10766
@carlescufi, @nashif : FYI. This is arguably a feature request, but a pretty priority one, I hope we won't live too much without it.

@jukkar : I wonder if you can relate to this feature quest.

[2018-10-22 18:52] pfalcon opened #10769 "shell: "select" command suddenly gone"
Following up on the quick discussion on IRC.

So, a user which used both old and new shell would immediately notice the lack of "select" command in the new one. On IRC, I was told that it's not needed, and one can access all commands directly.  I don't what was meant by that, but my interpretation is obvious - it would mean that knowing that there's "stats" command in "net" shell module, I can typ

[2018-10-22 19:11] pfalcon commented on #10748
Somehow, "This way one could avoid creating a new thread" and "This could be solved by creating a dedicated thread" together don't ring well to me.

But anyway, if you think it's useful for your needs, why don't you try to prototype it, and then see if it's really useful to become a generic facility of kernel (that's my understanding is what you propose; and that likely would require major changes

[2018-10-22 19:42] pfalcon opened #10770 "logging: Proposals to optimize/minimize logged content"
So, this was initially intended to be in the vein of https://github.com/zephyrproject-rtos/zephyr/issues/10644 and https://github.com/zephyrproject-rtos/zephyr/issues/10769, i.e. user'esque complaining of random, seemingly ungrounded changes.

Let's however accept that changes can be for good, and try to consider how to take a chance of switching from old to new logging to actually *improve* loggi

[2018-10-22 19:49] pfalcon commented on #10770
Calling to @carlescufi, @jukkar, @jhedberg, @nashif, and any other interested parties.

Btw, I would easily understand if somebody doesn't like my "improvements". In this case, I'd just humbly call to get back to the older logging format as familiar and well-know ;-). (Well, "XML in the logging output" what concerns me foremost, those `<err>` really cut on the eye. And no, not in the good way of m

[2018-10-22 21:01] jarz-nordic commented on #10766
@pfalcon : this can be quickly fixed. I will take care tomorrow.

[2018-10-22 21:04] pfalcon commented on #10766
@jarz-nordic : Thanks for acking! No too big a hurry of course.

[2018-10-22 21:10] jarz-nordic commented on #10769
@carlescufi @nashif @pfalcon
New shell has different architecture comparing to the old one. It was highlighted since the very beginning that it will not have namespaces. Of course it would be feasable to implement `select` command but in my opinion it will have follwoing drawbacks:

- it will not bring realy new functionality
- it will be extra code that must be maintained
- memory footprint will

[2018-10-22 21:20] pfalcon commented on #10769
So, unlike some other things (e.g. https://github.com/zephyrproject-rtos/zephyr/issues/10766) I also not 100% "want it back". I'm just taking a role of an end user (and I am such regarding the use of the shell), and trying to understand how it happened that new, improved shell was designed in a way to not support previous shell features. And then to collect feedback from other people whether they

[2018-10-22 21:59] jarz-nordic opened #10771 "Recent Logger changes breaks shell example compilation"
Due to commit: be092a607aea6d3f0458ec44693951b343b9a9d0
I am not able to build shell example any longer. I have following error message:
![error_msg](https://user-images.githubusercontent.com/34125330/47321873-6bdd5900-d656-11e8-8f20-3e90f7240d22.PNG)

This problem is visible also on a master branch.

[2018-10-22 22:44] zerotri commented on #10693
This totally caught me off guard as well a week ago when I was trying to get a usb shell working on stm32l4. We could maybe add a disclaimer in the README for this sample.

[2018-10-23 04:42] nniranjhana opened #10772 "tests/drivers/adc/adc_api results into build failure on nRF platforms"
The test in tests/drivers/adc/adc_api results into build error on nRF boards.

**Arch:** ARM
**Platforms:** nrf51_pca10028, nrf52840_pca10056, nrf52_pca10040

**Error log on console:**

[code]

**Steps to reproduce:**

[code]

Check the build log.

[2018-10-23 05:30] AdithyaBaglody commented on #4015
MPU enabled on mps2_an385 which should run on the latest qemu.
Hence closing this issue.

[2018-10-23 05:30] #4015 closed

[2018-10-23 06:08] spoorthik opened #10775 "Build error in zephyr.git/include/toolchain/gcc.h leading to shippable failures"
Log:

[code]

[2018-10-23 06:29] nordic-krch commented on #10771
have you cleaned the project after fetching upstream? I've fetched latest master and compiled shell example without any issues.

[2018-10-23 06:33] nniranjhana commented on #10508
@aescolar This does not seem to fail on all platforms, rather only platforms with ARM architecture and emsk (ARC) and esp32 (xtensa).
The failure seems consistent, not really random either.
I am not sure why the negative test should cause this issue, ideally we should not be able to use attributes before initializing them, but somehow this is not the case for the above mentioned platforms. Any ide

[2018-10-23 06:35] himanshujha199640 opened #10777 "tests/net/net_pkt/src/main.c : NULL dereferences"
Found using Coccinelle.
https://github.com/zephyrproject-rtos/zephyr/pull/10776
[code]

[2018-10-23 06:38] nniranjhana commented on #10772
Closing this, as reported in #10775 it is not just for drivers, but a build failure from the toolchain across many tests.

[2018-10-23 06:38] #10772 closed

[2018-10-23 06:38] himanshujha199640 opened #10778 "boards/posix/nrf52_bsim/bstests_entry.c : NULL dereference"
Found using Coccinelle.
https://github.com/zephyrproject-rtos/zephyr/pull/10776
[code]

[2018-10-23 06:41] himanshujha199640 opened #10779 "ext: NULL dereferences"
Found using Coccinelle.
https://github.com/zephyrproject-rtos/zephyr/pull/10776
[code]

[2018-10-23 07:10] jukkar commented on #10771
This should be fixed by #10763

[2018-10-23 07:29] pdunaj commented on #10748
Hi @pfalcon

If you need to block in one place it would be no problem. If you need to block in 10 places it is a problem and this is what I refer to.

I will once I have a bit of time. Maybe somebody else will also fine the idea useful and do it earlier.

[2018-10-23 07:37] jukkar commented on #10771
The #10763 is now merged, please try again and re-open if problem persists.

[2018-10-23 07:37] #10771 closed

[2018-10-23 07:40] jarz-nordic commented on #10771
It is fixed, thank you.

[2018-10-23 07:57] erwango commented on #10779
For, stm32cube, NULL check is performed to detect handle initialisation issue, and return error is true.
So, we can argue this should not happen, but this should be considered as a protection on the use of the API (function should not be called if handle has not been initialized first) made on purpose and not an implementation issue.

[2018-10-23 08:06] erwango commented on #10726
@gon1332, what about try to upstream your example as part of samples application?
Seems like an interesting application example, and having it pushed would help getting more attention and best chances to solve the issue.
I don't know about your code, but you should try to make it the most generic possible so it can be run on most of platforms.
I think this is the best way to address #3564

[2018-10-23 08:15] pfalcon commented on #10726
@gon1332

Do you have exact code and exact instructions how to reproduce that? If so, could you try them on some other board (preferrably, on non-STM32, to get good variation)? Then both all the above with your results?

My plan regarding subsys/console is to have interface similar to POSIX, i.e. what you could do e.g. on Linux, you would be able to do in a conceptually similar way using "tty" on

[2018-10-23 08:31] rmstoi opened #10780 "net: ipv4: Zephyr replies to TCP SYN with broadcast destination IPv4 address"
Zephyr TCP/IPv4 replies to  TCP SYN with destination IP address set to 255.255.255.255 broadcast address. This packet should be dropped instead.

[ipv4-tcp-bcast-syn.pcapng.gz](https://github.com/zephyrproject-rtos/zephyr/files/2505170/ipv4-tcp-bcast-syn.pcapng.gz)

[2018-10-23 08:42] aescolar commented on #10775
@SebastianBoe : It seems to be an issue with the autogenerated misc/generated/configs.c being in some cases corrupted. Do you have some clue about why is this happening?

[2018-10-23 08:52] aescolar commented on #10775
@jukkar All errors seem to relate to `CONFIG_NET_BUF_LOG_LEVEL`

[2018-10-23 08:53] gon1332 commented on #10726
@erwango
Off course, but I work on a custom board. Should I use the closest possible, eg a Nucleo one with a STM32L496G even if I haven't got one?

@pfalcon

Unfortunately I do not own other boards. I own 2 boards with STM32L496RE but both of them behave the same. Obviously, I ported this MCU in Zephyr (something I will give to the community some time soon) and all of its peripherals as recommende

[2018-10-23 08:54] rmstoi opened #10782 "net: ipv4: Zephyr replies to packets with broadcast source IPv4 address"
Zephyr TCP/IPv4 replies to packets with source IP address set to 255.255.255.255 broadcast address.  It
replies to:

- ICMP echo request
- UDP
- TCP

All these packets should be dropped instead.

[ipv4-bcast-src.pcapng.gz](https://github.com/zephyrproject-rtos/zephyr/files/2505294/ipv4-bcast-src.pcapng.gz)

[2018-10-23 09:12] pfalcon commented on #10726
Well, those docs were written by me, based on experience on trying to implement console/subsys on (wide enough) different hardware. But while I have more than one type of board, I don't have all of them still, so something might not work somewhere (and I don't test them all all the time either, so there can be regressions too :-( ).

Btw, I posted https://github.com/zephyrproject-rtos/zephyr/pull/

[2018-10-23 09:16] pfalcon commented on #10726
@gon1332 : Summing up, there doesn't seem to be "the best way" to use UART if fully portable, generic way in Zephyr, unfortunately. The current driver API was designed with leaking hardware specificity, and apparently with the idea of writing hw-specific apps indeed. So yep, that's what people may be reduced to - deal with peculiarities of specific hw and handle them in adhoc way.

That's not good

[2018-10-23 09:28] tbursztyka commented on #8724
@jfischer-phytec-iot Are you planning to maintain rpl code?

[2018-10-23 09:33] jfischer-phytec-iot commented on #8724
@tbursztyka at last keep it alive

[2018-10-23 09:36] tbursztyka commented on #8724
@jfischer-phytec-iot ok, because there is a lot of work in there. Not only cleaning up the code base I mean. A lot of features are still missing

[2018-10-23 10:53] SebastianBoe commented on #10775
Has anyone been able to reproduce this locally?

It would be interesting to see what config.c looks like.

[2018-10-23 10:54] aescolar commented on #10775
@SebastianBoe : At least I wan't able to reproduce it locally. But  from the error in CI:
`GEN_ABSOLUTE_SYM(CONFIG_NET_BUF_LOG_LEVEL, ):`

[2018-10-23 10:55] jukkar commented on #10770
I am ok with current format, the color coding makes easy to spot errors anyway. One can save the log to file and then search errors, warnings etc anyway if needed. By reading the code, it is actually to my eyes easier to spot things if there are more of these [] or <> there.

In your example like
`00:00:00.000,000 INF slip: slip_send: sent: pkt 0x20001ec4 llr: 14, len: 54`
it is less clearer to sp

[2018-10-23 10:58] jukkar commented on #10769
IMHO we do not need select command, personally I never used it earlier anyway.

[2018-10-23 11:00] himanshujha199640 commented on #10779
Do you mean NULL dereference is made on purpose ?
That is actually an underfined behavior according to C Standard and compiler can do **anything** under
such circumstance.

On the other hand, if you say that "Yes! That condition shouldn't happen in any case and let's just nuke it ..." knowing that it could lead to a kernel Oop.

I don't know much about the code in discussion. So if it is a false p

[2018-10-23 11:16] aescolar commented on #10508
@nniranjhana This fails also on POSIX as shown above https://github.com/zephyrproject-rtos/zephyr/issues/10508#issuecomment-430115277
And will fail in any platform when that area of the stack happens to not be zeroed'* during execution of that test.
'* or some data values which will lead to `pthread_attr_setschedparam()` not returning `EINVAL`.
Given that, in general, the content of a non initiali

[2018-10-23 11:29] jukkar commented on #10775
This is already fixed by #10763

[2018-10-23 11:29] #10775 closed

[2018-10-23 11:30] jukkar commented on #10775
The issue was seen if one enabled CONFIG_NET_BUF_LOG=y, which happened for couple of Bluetooth tests.

[2018-10-23 11:50] #10778 closed

[2018-10-23 11:51] #10777 closed

[2018-10-23 12:13] Dolu1990 opened #10788 "riscv_machine_timer driver don't follow the spec ?"
The mtime isn't read properly in the following code :
https://github.com/zephyrproject-rtos/zephyr/blob/da699e4a3b5f1baf1305331bbea0f8697117a8b9/drivers/timer/riscv_machine_timer.c#L51

I use _Volume I: RISC-V User-Level ISA V2.2  -> Figure 2.5: Sample code for reading the 64-bit cycle counter in RV32_ as reference.

[2018-10-23 12:31] jukkar commented on #10780
Never mind, this is about destination address being all ones, the other bug is about source address being all ones. We can keep these ones separate of course.

[2018-10-23 14:19] jfischer-phytec-iot commented on #10698
please try out if #10616 fix it

[2018-10-23 16:19] #10508 closed

[2018-10-23 21:36] nordic-krch commented on #10770
Everybody will be biased regarding log output format as we get used to what we use (or we have bad xml memories) so we should find existing format that is accepted by majority or agree on something that is accepted by majority. I don't have strong opinions and 'compressed' proposal looks ok (except that there is a `.` between module name and function name). I took a liberty of adding `|` instead o

[2018-10-24 02:28] summer20100514 opened #10796 "is there anyway node configures itself"
I want to do some pub/sub configurations on one node. And I try to use
`bt_mesh_cfg_mod_pub_set_vnd(0, elem->addr, elem->addr, 0x1234, 0x0002, &pub, &status);`
which elem->addr is the node's own element addr. I dive into the source code and found that one node can send messages to itself. But the situation is when bt_mesh_cfg_mod_pub_set_vnd is sent, a response pub status message should be sent ba

[2018-10-24 04:53] nniranjhana commented on #10508
@aescolar Oh okay I get it now! Thank you for the fix

[2018-10-24 05:18] nniranjhana commented on #10753
False positive, `pthread_setschedparam` can take any integer policy arguments, it is implementation defined.

[2018-10-24 05:18] #10753 closed

[2018-10-24 05:39] SavinayDharmappa commented on #8116
can u test it again. Issue may not exsist as reported...as test case related to it is being moved

[2018-10-24 06:18] spoorthik opened #10801 "Compiler warning in soc/xtensa/esp32/include/_soc_inthandlers.h"
Commit: 7cea94942c35bb65a8c219b69ec2270c0fedd6f4

Log:

[code]

It is good to get rid of this as it would be an issue while building with compiler warnings being treated as errors.

[2018-10-24 06:30] spoorthik opened #10803 "Compiler warning at /kernel/sched.c"
Log:

[code]

It is good to get rid of this as it would be an issue while building with compiler warnings being treated as errors.

[2018-10-24 07:06] nniranjhana commented on #10582
False positive, test requires to sleep while holding lock, to verify other threads cannot acquire lock. This is not a mistake, this is intended implementation for the test.

[2018-10-24 07:06] #10582 closed

[2018-10-24 07:31] erwango commented on #10779
Checked code again and while code is made to detect NULL pointer and return an error, it is actually doing NULL pointer dereference in between...
I will raise an ST internal issue and will get back here to provide bug tracker ID so we can track this issue.

[2018-10-24 08:40] pdunaj opened #10807 "Allow configuration of USB polling interval"
At the moment `subsys/usb/class/hid/core.c` has `bInterval` hard-coded to 9. It would be great if this value could be controlled (Kconfig would be enough I guess).

[2018-10-24 08:42] ramakrishnapallala commented on #3392
Closing the Issue as PR was already merged to force suspend devices.

[2018-10-24 08:42] #3392 closed

[2018-10-24 08:48] #10803 closed

[2018-10-24 09:21] pdunaj opened #10811 "crash while connecting a USB cable"
I am using nRF52840 SoC.

I have enabled USB HID class. On my device almost everything seems to be working fine except information about USB cable connection (for some reason it seems to be always attached, even if it is not). I suspect a HW bug so I took a second device. This time I did not get a notification about connection while cable is disconnected. When the USB was attached however I got fo

[2018-10-24 09:29] pdunaj commented on #10811
In `_power_clock_isr`, when USB is enabled, there are three more: `usb_detected`, `usb_power_rdy` and `usb_removed`. This three seems to be connected with what I was doing (crash happened when I connected the USB).

We use qdec which as far as I remember depends on low frequency clock. Then it won't be surprising that lf is true (was started). Why crashing then?

[2018-10-24 09:29] pdunaj commented on #10811
@kl-cruz , @pawelzadrozniak do you have any ideas?

[2018-10-24 09:39] pdunaj commented on #10811
on the device that "works" I get following sequence (note that USB cable is not connected):
These three int are the usb related variables in the order they are set.
[code]

On the failing device I get following:
[code]

When cable is connect from the start (before device is reset) there is no crash. Sequence is like in the first case.

[2018-10-24 09:46] pdunaj commented on #10811
When I comment out this assert sometimes I get the event about USB being detached and sometimes I don't... It doesn't seem very reliable...

[2018-10-24 10:14] #10644 closed

[2018-10-24 10:15] #10754 closed

[2018-10-24 11:53] oyvindronningstad opened #10817 "Getting Started Guide script error"
The getting started guide (https://docs.zephyrproject.org/latest/getting_started/getting_started.html) says to

    # Linux
    pip3 install -r --user zephyr/scripts/requirements.txt

This doesn't actually work. The order of `-r` and `--user` must be switched

    pip3 install --user -r zephyr/scripts/requirements.txt

My pip3 is at version `pip 9.0.1`

[2018-10-24 12:53] carlescufi opened #10821 "ELCE: DT, Kconfig, EDTS path forward"
Meeting at ELCE 2018.10.24
@nashif @galak @erwango @mbolivar @carlescufi

- Run DT before Kconfig (**DONE**)
  - Remove `#if CONFIG_` from all `board/` and `dts/` files
  - Use `-DSHIELD=` to enable building of a shield (#12102)
  - Build system needs to look by default for board, arch and soc `.conf` and `.overlay` files
  - Find the exact arch and soc name to locate SoC-specific overlays, requir

[2018-10-24 13:31] #10766 closed

[2018-10-24 13:41] SebastianBoe opened #10825 "The DesignWare SPI driver should be hidden on unsupported platforms"
When users are configuring nRF applications they are given the option
to enable the DesignWare SPI driver. But they should not be given this
option because nRF SoCs do not have DesignWare SPI HW.

A fix similar to what was developed for I2C[0] should be developed for SPI.

[0] https://github.com/zephyrproject-rtos/zephyr/pull/10717

[2018-10-24 13:49] galak commented on #10821
Here are the defines we need to remove board/*/*.dts and dts/

[code]

[2018-10-24 15:12] carlescufi commented on #10821
Sorry we were just brainstorming, see the updated description.

[2018-10-24 15:35] bluespring commented on #10698
@jfischer-phytec-iot I confirmed that I no longer see the crash on the stack with #10616.
Great work!

[2018-10-24 15:41] nashif commented on #10698
fixed with #10616

[2018-10-24 15:41] #10698 closed

[2018-10-24 16:09] derchrismakaio commented on #8190
just wanted to add a +1
Was wondering why my whole application nearly locks up - well, it was because I've added BT (together with some other stuff).
Thanks, @mike-scott

[2018-10-24 16:10] avisconti commented on #10610
@nashif
You may close this issue

[2018-10-24 16:43] #6374 closed

[2018-10-24 16:44] ioannisg commented on #6392
Closing this since #10544 has been merged.

[2018-10-24 16:45] #6392 closed

[2018-10-24 21:42] henrikbrixandersen commented on #4909
This was added in #7143.

[2018-10-24 21:42] #4909 closed

[2018-10-25 02:36] nniranjhana commented on #10801
This is rather a priority since many tests enabled on ESP32 are failing on build now.

This is the code causing the issue -

[code]
How would one reach the label `handle_irq` from inside this function tho?

[2018-10-25 03:20] spoorthik commented on #10801
FYI: @lpereira

[2018-10-25 05:39] ajaykish commented on #10509
Looks like due to low power 32 KHz timer in nrf board, we are not achieving the required sequence.
Expected log from this test:
 Triggering irq : 84
 isr0 running !!
 Triggering irq : 83
 isr1 ran !!
 isr0 execution completed !!
 PASS - test_nested_isr

 But in nrf board, once isr0 (low priority interrupt) starts execution with busy wait,
 isr1 (high priority interrupt) is not getting triggered me

[2018-10-25 06:16] ManojSubbarao commented on #1821
EIC (External Interrupt Controller) not supported  in the current NIOS II soft cpu image. Hence closing this issue.

[2018-10-25 06:16] #1821 closed

[2018-10-25 06:18] ManojSubbarao commented on #3276
Closing this since this requirement is not relevant.

[2018-10-25 06:18] #3276 closed

[2018-10-25 06:19] ManojSubbarao commented on #3200
High-resolution timer not supported  in the current NIOS II soft cpu image. Hence closing this issue.

[2018-10-25 06:19] #3200 closed

[2018-10-25 08:00] pdunaj opened #10832 "k_sleep should return information that thread was woken up"
At the moment `k_sleep` returns void so it is not possible to determine if thread waited for expected time or was woken up by `k_wakeup`.

It seems that at the moment there is no easy way to obtain this as current timeout is removed from the list on wakeup and information is lost. Additional variable could be added to the structure but it is also possible to pass this information in `t->dticks`: s

[2018-10-25 08:01] pdunaj commented on #10832
@pizi-nordic

[2018-10-25 08:09] nelsongribeiro opened #10833 "Build on msys2 gives the following "error: static assertion failed: "Structure must be same size"""
In a fresh msys2 installation, after issuing the commands below:  (its is required to close the msys2 windows after each of the following two commands)

I did run the following commands/script:

I found the following error:

How do I fix this compilation error without hacking into ../../../include/toolchain/gcc.h file?

Nelson

[2018-10-25 08:32] galak opened #10834 "Can we sort the board docs alphabetically?"
Is it possible to have:

https://docs.zephyrproject.org/latest/boards/arm/index.html

Sorted alphabetically?

[2018-10-25 09:29] himanshujha199640 opened #10843 "Make GENMASK macro definition generic and thus avoid redundancy"
The `GENMASK` macro is currently defined at two places:
[code]
It would be better to place the macro definition at `include/misc/util.h` and use it throoughly among the codebase, therefore avoiding any subsequent redundancy when adding a new driver in future.

The only problem I see is defining `BITS_PER_LONG` for each architecture and where exatcly it should be placed ?

[2018-10-25 10:00] himanshujha199640 opened #10845 "ext: hal: nxp: Use ARRAY_SIZE helper macro"
CC @MaureenHelm
[code]

[2018-10-25 11:38] himanshujha199640 commented on #10843
Cc @ulfalizer @galak

Hmm. I don't know much about Zephyr but here is my opinion:

* What if I want to cross-compile for say x86_32(i386) ILP32 by selecting `CONFIG_32BIT`(don't know if it exists in Zephyr) but my host machine (x86_64) would give 64 bits according to LP64 data model.
https://docs.oracle.com/cd/E19620-01/805-3024/lp64-1/index.html

It would be better to support some option in Kconf

[2018-10-25 11:48] rmstoi opened #10853 "net: TCP SYN in IPv6 HBHO packet dropped"
Zephyr drops TCP SYN in IPv6 with Hop-by-Hop Options header. It logs:

[code]

It seems the bug is in net_pkt_get_addr at:

[code]

proto is set to zero (Next Header: IPv6 Hop-by-Hop Option 0) which causes this function to return -ENOTSUP

[code]

[ipv6-hbho-tcp-syn.pcapng.gz](https://github.com/zephyrproject-rtos/zephyr/files/2514693/ipv6-hbho-tcp-syn.pcapng.gz)

[2018-10-25 11:54] #10807 closed

[2018-10-25 11:59] pdunaj commented on #10811
Hi @cvinayak , I had a look into the clock driver code and I think the problem is caused by the fact that when `CONFIG_CLOCK_CONTROL_NRF5_K32SRC_BLOCKING` is not selected LF clock is started but status is never confirmed. When USB cable is attached `lf` reads out information that at some point in time low frequency clock was set. This should be fixed - either by removing an assert in `_power_clock

[2018-10-25 13:40] pizi-nordic commented on #10832
Does posix-like behaviour (return number of ms we still have to wait in order to reach timeout) satisfies your needs?

[2018-10-25 13:51] SebastianBoe opened #10857 "Migrating from CMSIS-Core to DeviceTree results in loss of type information"
We are in the early process of migrating from retrieving peripheral base addresses from CMSIS-Core to retrieving addresses from DeviceTree.

This has an unfortunate side-effect, namely, CMSIS drivers don't actually usually reference the u32_t base address itself. But a struct typed address that has register names and offsets encoded in it.

This results in DT drivers writing code like this:

`NRF_

[2018-10-25 13:52] SebastianBoe commented on #10857
FYI: @anangl @barsok

[2018-10-25 14:04] pdunaj commented on #10832
@pizi-nordic , sure :)

[2018-10-25 14:21] SebastianBoe commented on #10821
I believe that this is what will require the most work and break compatibility the hardest:

the rest looks fairly straightforward.

I would like to discuss our strategies for getting these Kconfig symbols out of DT. For instance CONFIG_BOOTLOADER_MCUBOOT. I agree with the assessment of @mbolivar , who has worked on the MCUboot integration, that taking the MCUBoot partitions out of the scope of DT

[2018-10-25 14:31] dbkinder commented on #10834
Actually, they are currently sorted... by filename but showing the doc title in the list.  So the unexpected order of titles such as:

- Arduino/Genuino Zero
- SAM D20 Xplained Pro Evaluation Kit
- SAM D21 Xplained Pro Evaluation Kit
- BBC MicroBit

is because the "SAM" document files are called ``atsamd20_xpro`` and ``atsamd21_xpro`` which nicely sort into the list at the end of the A's.

To fix

[2018-10-25 21:17] wizofe opened #10867 "Can't compile basic blinky for reel_board"
[code]

[2018-10-25 21:36] wizofe commented on #10867
Note to shelf:

1. Upgrade `cmake` and set the path in `${HOME}/.zephyrrc`
2. `unset` all the "ZEPHYR*" environment variables except the following:

[code]

Very important: Just running `cmake` again inside the build directory doesn't fix the issue. First do an `rm -rf *` (well ensure that you are inside the build directory before doing that) and run the proper `cmake` again. Bam! :boom:

[2018-10-25 21:36] #10867 closed

[2018-10-26 02:54] summer20100514 commented on #10796
It works now, no problem in the function, but I should send pub in another thread.

[2018-10-26 04:58] postlund commented on #9055
I'm stuck with a few of these dongles that I want to flash with zephyr, but I don't have an external debugger (yet). If I understand it correctly, once this is done, I can flash without an additional debugger but I would still need one in the first place to place mcu_boot on the target, right? Using DFU-flash is not sufficient?

[2018-10-26 05:56] ceolin commented on #10755
It's not an issue. The return can be ignored because the only possible error is covered by `ring_buf_put_claim()`. Though, it is always a good practice checking the return even if it is just a cast to explicit acknowledge that it can be ignore.

[2018-10-26 06:53] derchrismakaio commented on #2542
Anyone working on this?
I‘ll soon have to interface a BQ24295 (I2C Battery Charger) and it would help if there were others with different hardware

[2018-10-26 07:12] galak commented on #10857
I'm not sure I understand what feature from CMSIS you want?  Is it having global defines like NRF_UART0, NRF_UART1, etc..? that are a pointer to a struct for the registers of that device?

[2018-10-26 07:57] SebastianBoe commented on #10857
Yes.

[2018-10-26 08:10] JoeHut commented on #2542
The only thing I know of where something is done in this domain is https://github.com/zephyrproject-rtos/zephyr/pull/9735. At least there is a charging state channel for the sensors now. But I don't think anyone has been working on a higher-level API. I have drivers for the BQ24031 charger and the BQ27421 Fuel Gauge lying around that have to be cleaned up and upstreamed if they help you. But the c

[2018-10-26 08:12] galak commented on #10857
Why do we need such a thing?

[2018-10-26 08:44] SebastianBoe commented on #10857
Because CMSIS drivers don't actually usually reference the u32_t base address itself. But a struct typed address that has register names and offsets encoded in it.

Not having access to this symbol results in DT drivers writing code like this:

NRF_UART_Type * uart0_addr = (NRF_UART_Type *)CONFIG_UART_0_BASE;
https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/serial/uart_nrfx_uart.c#

[2018-10-26 09:14] mbolivar commented on #2288
I think we need macro-based APIs to avoid function call overhead to set and clear bits, which allow SoC-specific code to provide small and fast assembly implementations. This would be needed for time-sensitive bit banging protocol implementations.

[2018-10-26 09:34] #10061 closed

[2018-10-26 10:58] MarekPieta opened #10870 "Problem with tracing hooks"
I was using tracing hooks with SysView implementation. I noticed that hooks sys_thread_switched_in() and sys_thread_switched_out() probably aren't working fine. I check if thread which is switched out is the same thread that recently switched in and sometimes it is not true. To identify currently running thread i use k_current_get(). I think there may be problem with hooks depending on the way thr

[2018-10-26 11:08] #10853 closed

[2018-10-26 12:38] #10780 closed

[2018-10-26 12:38] #10782 closed

[2018-10-26 13:19] carlescufi commented on #9055
@postlund there is an issue with the current USB driver that @pawelzadrozniak. I think then that @lemrey needs to update the documentation on the board in order to describe how to use Zephyr without an external debugger.

[2018-10-26 13:35] galak opened #10878 "errno for error codes for key management break on newlib"
The following added errno values aren't defined by newlib and thus cause issues when building with newlib:

[code]

[2018-10-26 13:35] galak commented on #10878
@nilsMontenegro can you look at this.

[2018-10-26 14:35] nilsMontenegro commented on #10878
Yes. Can we define them in newlib as well? Would that be a pull request to the zephyr-SDK?

[2018-10-26 15:49] galak commented on #10878
defining them in newlib isn't an option.  We'd need a zephyr specific header for such extensions if we want to keep these defines.

[2018-10-26 16:03] jimschm opened #10882 "Web instructions: quotes are wrong in build chain for Windows"
Minor thing but an annoyance. Instructions say things like:

# Windows in cmd.exe
set ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb
set GNUARMEMB_TOOLCHAIN_PATH="C:\gnu_arm_embedded"

It turns out the double quotes on the toolchain path don't work with CMake. It will say something like:

CMake Error at D:/Git/repo/vf/zephyr/cmake/toolchain/gnuarmemb.cmake:14 (message):
  Nothing found at GNUARMEMB_TOOLCHAIN_

[2018-10-26 17:58] postlund commented on #9055
Perfect, thank you!

[2018-10-26 18:36] pdunaj opened #10884 "Make functions related to context switching add implicit barriers"
To make sure that code is not reordered around functions that are critical for correct behavior of multi-threading, such functions should add barriers (compiler one or in case of MP systems proper hw instruction).

This is mostly important for locks of all kinds. (E.g. Linux kernel documentation states that locks add barriers).
This is not however the only case, consider following code:
[code]
In

[2018-10-27 08:35] carlescufi commented on #10884
Note that we do have this in irq_lock/unlock at least for Arm

[2018-10-27 18:05] himanshujha199640 commented on #10843
Exactly! knowing at precessing stage is better than runtime stage.

Yes, it double-checks with the userspace macro implementation.

[2018-10-27 18:10] himanshujha199640 commented on #10843
[code]
So, `__CHAR_BIT__ * __SIZEOF_LONG__` seems best choice for now.
 I will propose a patch for the same and add the definition at `include/misc/util.h`.

[2018-10-27 21:18] jimschm commented on #10243
Sigh, I hit this starting from scratch with 18.04 minimal setup and following instructions. There are some steps missing.

[2018-10-28 07:50] aescolar commented on #10243
@jimschm : It is quite annoying that this is happening to some people. But it is very difficult to know what is the problem from the descriptions provided so far in this issue.
Which app are you trying to build? Which cmake version? which Ubuntu version?
Are you able to provide a reproducible set of steps where it will happens?

[2018-10-28 11:04] nelsongribeiro commented on #10833
Hi.

I may have used a cross-compiler which is not supported by Zephyr.
Tried others 2 different compilers for  riscv32 arch and now it works without modifications.
Closing.

Nelson

[2018-10-28 11:04] #10833 closed

[2018-10-28 13:50] galak commented on #10345
This change seems to pass the wrong board to the 'remote' build.

[2018-10-28 14:05] galak commented on #10345
Where do we think nrf52840_pca10056 was coming from?

[2018-10-28 16:01] everclear72216 commented on #10629
I'd like to give this one a shot for my debut.

[2018-10-28 16:03] aurel32 commented on #9043
I got the same issue on an Atmel SAM E70 board, it wraps every 14 seconds. The CPU runs at 300MHz, and `k_cycle_get_32()` returns a 32-bit value. And 2**32/300e6 = 14.3 seconds. So k_cycle_get_32 does not seem a good time source for timestamping.

[2018-10-28 19:36] Dolu1990 commented on #10788
@AnttiLukats There is 32 bits implementation of the mtime which isn't impacted by the bug :
https://github.com/SpinalHDL/riscvSoftcoreContest/blob/6fc1ac40b3332699cd87060d70d71cc67c5c9290/src/main/scala/riscvSoftcoreContest/Peripherals.scala#L18
I tested it, it work fine

[2018-10-29 06:15] nordic-krch commented on #9043
@aurel32 by default logger uses `k_cycle_get_32()` but it can be changed runtime using `log_set_timestamp_func` (log_ctrl.h).

[2018-10-29 06:53] galak commented on #10878
This has been partially addressed by PR #10881, and the rest with PR #10879

[2018-10-29 06:59] galak commented on #10720
ping :)

[2018-10-29 07:02] galak commented on #10636
There are a few cleanups like this we need to make, will open another issue to catch them all.

[2018-10-29 07:08] galak opened #10894 "Add dts support to SPI slave drivers & tests"
Issue #10636 exposed a problem that a few cases that SPI slave drivers aren't converted to DTS.  Doing a grep in the tree for SPI_._NAME or SPI_DRV_NAME or spi_config we come up with:

[code]

We need to convert these slave drivers to use DTS.

Any update on this?

[2018-10-29 07:17] galak commented on #10894
@vanwinkeljan can you look at adding DTS support to drivers/display/display_ili9340.c.  Thanks.

[2018-10-29 07:20] galak commented on #10894
@mbolivar can you add dts support to WS2812 & LPD880x

[2018-10-29 07:20] galak commented on #10894
@tbursztyka can you look at converting adc_ti_adc108s102 to device tree.

[2018-10-29 07:54] ManojSubbarao commented on #9861
@ajaykish re-check

[2018-10-29 08:41] punitvara commented on #9993
sem_init - We are already checking whether we are trying to init more than max value or not. Then I dont know what ENOSPC makes sense as it is also checking if semaphore limit. It is not possible to whether any resource exhausted or not because there are no function with return value. As @nniranjhana said we are spawning kernel thread so EPREM also doesn't make sense as of now.

sem_timedwait, sem

[2018-10-29 08:59] erwango opened #10896 "Add STM32 ADC driver"
ADC driver is missing for STM32 devices.

https://github.com/zephyrproject-rtos/zephyr/pull/8624 was started based on former ADC API but was closed when new ADC API got merged.
This PR was a good start and could be reused with following changes:
-use latest zephyr ADC API
-be STM32 generic ready (initial version was focusing on F4). This does not mean it should be tested and validated on all STM32

[2018-10-29 09:29] galak commented on #10345
Do a build of open amp sample and look at the .config in the remote build dir, it will be for the M4 core instead of M0

[2018-10-29 09:54] SebastianBoe commented on #10345
It was coming from the environment.

[2018-10-29 10:05] thedjnK opened #10898 "Add Nordic GPREGRET retrieval/setting functions"
This is a request to add support for the Nordic general purpose retention registers so that they can be read or set from Zephyr, so that a Zephyr-based application can set the state and reboot and detect what state it was in before resetting, it also allows for communication with other applications on the module which are not Zephyr based i.e. a bootloader

[2018-10-29 10:08] nilsMontenegro commented on #10878
@galak Yes, with these PRs in, that will not be a problem any more.

[2018-10-29 10:08] erwango commented on #10779
STM32Cube issue has been fixed in upcoming version of the CubeL4 package (V1.13.0, current V1.12.0).
Will be fixed by: #10642

[2018-10-29 10:12] #10878 closed

[2018-10-29 10:26] mike-scott opened #10899 "nRF52840 DevKit generates USB TX timeout when using HCI_USB"
After compiling and flashing samples/bluetooth/hci_usb to the Nordic nRF52840 DevKit I'm seeing a TX timeout when plugging in the USB port.  hciconfig also fails to bring up the interface.

[code]

[2018-10-29 10:30] #10779 closed

[2018-10-29 10:33] galak commented on #10345
`build/openamp_remote-prefix/src/openamp_remote-build/zephyr/.config` will show the issue and which SoC/board is getting set.

[2018-10-29 10:35] mike-scott commented on #10899
NOTE: Host PC is running Ubuntu 18.04

[2018-10-29 10:36] pdunaj commented on #10884
@carlescufi , I just checked and you are right.
Maybe we should add information in the documentation about functions with implicit barrier.
I read comment in `k_sleep` code explaining the volatile used there and I think such item is needed.

[2018-10-29 10:45] pizi-nordic commented on #10884
@pdunaj is correct that not all cases are covered. For example on SMP, the irq_lock() is a call to global _smp_global_lock() and there is no compiler barrier on the call level. POSIX also might have some trouble caused by ordering.

[2018-10-29 10:53] carlescufi commented on #10899
@mike-scott is this a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/10678? If so can you close it?

[2018-10-29 11:09] mike-scott commented on #10899
@carlescufi perfect!  will close here.

[2018-10-29 11:09] #10899 closed

[2018-10-29 12:40] Vudentz commented on #10760
I wonder what the flash has to do with BT shell here? Note that any asynchronous operation that requires to print out something to the shell need a shell pointer in order to do so, which is what the ctx_shell is used for.

[2018-10-29 13:35] erwango opened #10904 "Requirements for driver devices generation using device tree"
Aim of this issue is to settle on requirements for code generation solution that should be used to generate devices code for a driver configured by device tree. Most of the elements that will be listed here were discussed during OpenIoT 2018 in Edinburgh last week.

* User's acceptance/Ease of use:
  * Code generation solution should be easy to read and use. User should identify main elements and

[2018-10-29 13:37] erwango commented on #10904
@b0661 , @evenl

[2018-10-29 14:00] jarz-nordic commented on #10413
@erwango : I have disco_l475_iot1 on my table and I confirm observed issue.
However I am not sure it is related with the shell. It looks more like a driver issue to me.

I am debugging application with gdb. Once shell is frozen with an arrow, function `uart_stm32_poll_in` is always returning `-1` despite the fact I am typing characters.

[2018-10-29 14:04] SebastianBoe commented on #10345
I see that the sample documents that it only support the xpresso board. So I am going to solve this by erroring out when the user tries to specify a non-xpresso board.

[2018-10-29 14:33] SebastianBoe commented on #10898
For the record, be aware that it is possible to access these registers through "CMSIS" aka the "MDK" or nrf.h.

Something like

#include "nrf.h"

NRF_POWER->GPREGRET[0]

[2018-10-29 14:43] pfalcon commented on #10769
But people apparently did, see e.g. https://github.com/zephyrproject-rtos/zephyr/commit/0b8fde39e4b7b4ab81c763cda7daf0a3cee8cc56 . Quoting the commit message:

[code]

[2018-10-29 14:45] pfalcon commented on #10499
@dbkinder: Thanks for reply, let's backlog this until ~ release freeze time.

And ping to @andrewboie to avoid surprises when a patch will be prepared/submitted.

[2018-10-29 14:48] pfalcon commented on #10845
@himanshujha199640: You understand that everything in ext/ comes from 3rd-party sources, right? So, it's outside of our control and these reports are effectively "false positives", as the output above says.

[2018-10-29 14:51] galak commented on #10845
I suggested that @himanshujha199640 open issues to report what he was seeing so at least there was visibility to those that might care.

[2018-10-29 14:56] jimschm commented on #10243
Yeah, my feedback isn't super actionable, except that it is another independent report. What I did is described well above. I installed 18.04 fresh from Ubuntu into a VirtualBox VM, then followed online instructions closely, including SDK installation. I put SDK export lines into .zephyrrc which was not explicitly instructed but fairly obvious. This brought me to the point where I could run cmake,

[2018-10-29 15:14] pfalcon commented on #10243
@jimschm: I guess, going forward, we need to collect some objective data for the working/non-working environments. As an initial step, can start with providing output for the following commands:

[code]

For me (working env):

[code]

(As can be seen, my cmake doesn't come from distro, it's actually a manual install from ubuntu 16.04 times, when distro version was too low for Zephyr's need. Need t

[2018-10-29 15:39] markusr opened #10909 "Missing stm32l433.dtsi file"
I am trying to get a custom board with the STM32L433 running.
However, it seems that the ```<st/l4/stm32l433.dtsi>``` defined in  ```dts/arm/st/l4/stm32l433Xc.dtsi``` is missing.

@galak Can you take a look? Since you were the last to change these files.

[2018-10-29 15:49] pfalcon opened #10911 "uart: Superfluous syscalls for driver API"
Split from https://github.com/zephyrproject-rtos/zephyr/pull/10761#issuecomment-432311026

"Even more surprising was that bunch of IRQ-related functionality of UART API was made userspace syscalls. @andrewboie, how did we get to that? Even with reading the docstring, it's pretty clear that uart_irq_tx_enable() is IRQ related. What's the point of exporting it userspace, like, user calls uart_irq_tx

[2018-10-29 15:50] galak commented on #10909
At a quick look it doesn't seem like we've ever had a board that uses STM32L433 in the tree, thus the issue you are running into.

@markusr I see two solutions:

1. You contribute the missing file (or maybe @erwango will)
2. We remove dts/arm/st/l4/stm32l433Xc.dtsi since its not used

Option 2, means you get all the fun :).

Thoughts?

[2018-10-29 15:50] pfalcon commented on #10911
@nashif : I don't see a good label for userspace-vs-kernel split and/or syscalls. I suggest to create one, as many already introduced syscalls are questionable, so might be a regular topic.

[2018-10-29 16:43] pfalcon commented on #10845
@himanshujha199640

Well, if you had an arrangement with @galak regarding doing that, which has now been explained, then please continue. My note was not to discourage you, but give a warnings that there may be a long path from finding some possible things to improve to them actually being improved.

As for "community", this specific patchset targets internal HAL maintained by NXP. Only NXP repres

[2018-10-29 17:25] galak opened #10913 "Convert Atmel SAM Watchdog driver to new API"
We have a new driver API for watchdog, the old API has been deprecated for several releases now.  We need to convert the driver to use the API or remove it.

[2018-10-29 17:26] galak opened #10914 "Convert Atmel SAM0 Watchdog driver to new API"
We have a new driver API for watchdog, the old API has been deprecated for several releases now. We need to convert the driver to use the API or remove it.

[2018-10-29 17:28] galak opened #10916 "Convert CMSDK APB Watchdog driver to new API"
We have a new driver API for watchdog, the old API has been deprecated for several releases now. We need to convert the driver to use the API or remove it