[2022-09-06 23:16] hwang37 commented on #49004
@1xlibiao @mengxianglinx  could you continue updating and working on this bug?

[2022-09-06 23:18] hwang37 commented on #49263
@Zhaoningx could you please continue working with @mengxianglinx @enjiamai  on it?

[2022-09-07 00:13] nashif commented on #49746
This is a known problem and will go away once we completely move to new ztest API and get list of test cases from the binary.

[2022-09-07 00:29] nashif commented on #49263
this is an issue you found while converting a test to the new API, it does not exist in the current code, is this really a bug? This could be a bug in the way you are trying to convert?

[2022-09-07 00:30] nashif commented on #49263
Do not see how this is tracing related.

[2022-09-07 02:20] mengxianglinx commented on #49004
By implementing panic() interface for log_backend, the "unexpected eof" issue of some qemu platform disappears. close it.

[2022-09-07 02:20] #49004 closed

[2022-09-07 02:27] cvinayak commented on #43562
Some discussions to consider while adding documentation:
https://discord.com/channels/720317445772017664/720317445772017667/1016411681221525667
https://github.com/zephyrproject-rtos/zephyr/issues/21917

[2022-09-07 03:50] ceolin commented on #49829
Yes !

[2022-09-07 05:12] mengxianglinx commented on #49263
When convert test to new API, test cases run in different order than before, that exposes bug in tracing_backends_output().
Every test case should be standalone.
It is not tracing related.

[2022-09-07 05:12] #49263 closed

[2022-09-07 05:16] hakehuang commented on #49576
nxp paltfrom also has such issue, e.g. mimxrt1060_evk
[code]

[2022-09-07 05:20] inductivekickback opened #50016 "jlinkarm.so files renamed in latest J-Link drivers"
Running "west debug" on Linux fails when using an nRF53-DK, West version: v0.14.0, and JLink_V770e:

-- west debug: rebuilding
[0/4] Performing build step for 'ant_rpc_subimage'
ninja: no work to do.
-- west debug: using runner jlink
Traceback (most recent call last):
  File "/home/foolsday/workspace/ncs/bin/west", line 8, in <module>
    sys.exit(main())
  File "/home/foolsday/workspace/ncs/lib/p

[2022-09-07 05:31] stephanosio commented on #49987
Unable to reproduce this either. Likely a local issue on your system (maybe corrupted Ninja executable?)

[2022-09-07 05:44] shuai1x commented on #49790
I think I need to test it again to compare the results of these two tests. And will reply to you soon.

[2022-09-07 06:28] mengxianglinx commented on #49329
This is duplicate with #47127, will be resolved once we start getting testcase lists from binaries.

[2022-09-07 06:28] #49329 closed

[2022-09-07 06:47] #49717 closed

[2022-09-07 07:04] r2r0 commented on #49148
Any progress for that?
I observed similar problem associated with using delayed work from interrupt.
We use separate HW timer and ISR for timer interrupt and depending on interrupt priority problems are visible (when timer interrupt priority is higher than LPTIM interrupt) or not.

[2022-09-07 07:05] pdgendt commented on #49942
I've created an example branch for the `zephyr,gpio-revision` driver [here](https://github.com/pdgendt/zephyr/commits/hwinfo-gpio-revision).

[2022-09-07 08:37] carlescufi commented on #49987
Closing since it's hard to see any fault attributable to Zephyr's toolchain or code here. @vincemulhollon please reinstall everything and try again.

[2022-09-07 08:37] #49987 closed

[2022-09-07 08:38] nelarsen opened #49995 "Support for other PHYs than KSZ8081 missing in mcux_eth / nxp kinetis ethernet driver"
The Zephyr shim driver eth_mcux.c is currently hard-coded with support for only one particular PHY (KSZ8081, found on many NXP evks).

Quote by @danieldegrasse in [discussion about this issue at Discord](https://discord.com/channels/720317445772017664/1012637723347124224/1014198439824851004):

This issue is a show-stopper for any NXP SoC (K6x, RT10xx, RT11xx) using the Kinetis Ethernet driver (eth

[2022-09-07 09:02] nordic-piks opened #49996 "tests: drivers: clock_control: nrf_lf_clock_start and nrf_onoff_and_bt fails"
**Describe the bug**
The tests/drivers/clock_control/nrf_onoff_and_bt/drivers.clock.nrf_onoff_and_bt,
 tests/drivers/clock_control/nrf_lf_clock_start/drivers.clock.nrf_lf_clock_start_rc_no_wait,
tests/drivers/clock_control/nrf_lf_clock_start/drivers.clock.nrf_lf_clock_start_xtal_no_wait fails

Observed at drivers.clock.nrf_onoff_and_bt for:
- nrf52840dk_nrf52840
- nrf52dk_nrf52832

Observed at dri

[2022-09-07 09:26] carlescufi commented on #47966
Closing this as per agreement between maintainer and reporter. Please reopen or open a new issue if you decide to rewrite/overhaul the logic in the future.

[2022-09-07 09:26] #47966 closed

[2022-09-07 09:27] carlescufi commented on #49917
Can you try to get a stack trace when that happens?

[2022-09-07 09:27] zagor commented on #49917
@jukkar We have a mutex protecting data used in the call, but I fail to see how that could affect http_client_req(). We use the .response callback but it doesn't touch that mutex. I'll add logging to the response callback to see if that reveals any clues.

I am not currently able to attach a debugger to these systems.

[2022-09-07 09:39] tejlmand commented on #43488
Relates to discussions found here:
https://github.com/zephyrproject-rtos/zephyr/pull/44654#discussion_r909335964
https://github.com/zephyrproject-rtos/zephyr/pull/49260#issuecomment-1220254984
https://github.com/zephyrproject-rtos/zephyr/pull/49260#issuecomment-1220381626

[2022-09-07 09:46] tobias-aunbol commented on #49406
@FRASTM it looks like that no filesystem is mounted or activated are you reproducing by the steps i provided and remember the .overlay files yourself provided earlier in this thread? I just tested the PR  #47962 and everything looks fine here so i will close this issue.

[2022-09-07 09:46] #49406 closed

[2022-09-07 11:14] zagor commented on #49917
If we can think of a way to detect the hang and log the stack trace from another thread, then yes.
I am unfortunately currently unable to reproduce the issue under conditions where I have a debugger connected.

[2022-09-07 13:34] #47921 closed

[2022-09-07 13:59] gregshue commented on #49829
From https://github.com/zephyrproject-rtos/zephyr/pull/47029#issuecomment-1170212688

A few thoughts on the options above:
- The purpose of the security discussion was to show the last options will be impractical very soon.
- In order to support development of FW images using either a workspace application model or freestanding application model what is in/out of each scope must track and follow e

[2022-09-07 15:45] erwango commented on #49677
@vibhor-meshram I'm closing the point as can't be reproduced. Please re-open if you have more inputs.

[2022-09-07 15:45] #49677 closed

[2022-09-07 16:03] rlubos commented on #49811
@maweicoltsmart Can you provide more details, what platform do you use, what's your application, what network setup do you use? I've tried to use reproduce with `samples/net/vlan` running on `native_posix` (with DHCPv4 enabled) and I've seen no issues at all, my device obtained IPv4 address w/o issues.

[2022-09-07 16:08] jasonxytan commented on #33015
This issue is still not resolved. As described by the OP, the flash device will fail to initialize because the code does not acquire the flash (and exit DPD) when calling `read_sfdp()` in `spi_nor_process_sfdp()` [Line 880](https://github.com/zephyrproject-rtos/zephyr/blob/78d8ea4a6244279e3e866ec97543815d69f512e8/drivers/flash/spi_nor.c#L880) and [Line 913](https://github.com/zephyrproject-rtos/ze

[2022-09-07 16:13] jasonxytan commented on #33015
@jrhees-cae Would you mind reopening this issue? I think it would be better not to create a duplicated issue.

[2022-09-07 16:26] yourapiexpert commented on #49897
I am not sure if this helps or is relevant but it seems clock related.

Here is an overlay for consideration:

[code]

When I do this not only does the temperature readings indicate something in the 27-ish degrees but the battery also indicates a correct 3.33v in the case of my USB power so it seems that the ADC behaves better in this instance.

[2022-09-07 16:27] jrhees-cae commented on #33015
Sorry I cannot re-open -- the author can only re-open if they themselves closed the issue.

[2022-09-07 16:32] jasonxytan commented on #33015
Thank you @jrhees-cae. Would you mind reopening this issue @pabigot? Thank you.

[2022-09-07 17:02] mbolivar-nordic commented on #46759
Process WG:

- presentation from @nashif, "Copy of Release Criteria and Issue Management V2"
- @keith-zephyr additional release criterion we're not tracking is reproducible builds
- @mbolivar-nordic I can take the tier 1 and subsystem specific test cases discussion internally
- @MaureenHelm proposal makes a lot of sense, but I'm still concerned that we'll end up with a lot of bugs that don't get f

[2022-09-07 19:18] pabigot commented on #33015
@jasonxytan done, but be aware that if no action is taken it will automatically be closed again in sixty days, unless Zephyr has changed its clean-the-books policy since I was last involved.

[2022-09-07 21:44] jfischer-no commented on #49821
You can reproduce it on nRF52833DK?

[2022-09-07 21:52] jfischer-no commented on #49821
@Light411 Since you opened it here, can you reproduce the issue using Zephyr's sample `samples/subsys/usb/dfu`?

[2022-09-07 23:41] vincemulhollon opened #50017 "Windows Build System Documentation Improvements"
**Describe the bug**

I have two separate windows build system documentation bug fixes related to bug #49987

**To Reproduce**

Obtain a domain-attached PC with Windows 11 Pro Version 21H2 OS Build 22000.918

Note the corporate Active Directory GPO thing (I'm clearly not a windows sysadmin) force-installs a licensed registered copy of Spybot - Search & Destroy + AV corporate licensed version 2.9.8

[2022-09-07 23:58] marc-hb commented on #46759
In case anyone is looking for this: it's still the same URL as the one at the very top: https://docs.google.com/presentation/d/10Q-B0Upv1bBaoQRNM5n9yUEMeXO6NINnFNDkA86RCsM/

I don't remember whether it started as V1 or Vanything but right now it's definitely called "Copy of Release Criteria and Issue Management V2"

[2022-09-08 01:20] xkisahero commented on #49251
Hi erwango. Thank you for your reply. In fact, I only need a hardware timer example project with stm32. Then I can finish the rest of the work by myself. But I can't find such code on Google. I tried to refer to Nordic's code, but their code used their own library file.

Can you provide a simple sample file? you can use any STM32 MCU and any hardware timer. Please help me, thank you.

[2022-09-08 01:21] xkisahero commented on #49251
@erwango Hi erwango. Thank you for your reply. In fact, I only need a hardware timer example project with stm32. Then I can finish the rest of the work by myself. But I can't find such code on Google. I tried to refer to Nordic's code, but their code used their own library file.

Can you provide a simple sample file? you can use any STM32 MCU and any hardware timer. Please help me, thank you.

[2022-09-08 02:37] shuai1x commented on #49790
I did the test again. And I wonder whether the failure is random. Because before I tested it, it would fail 1 in 10, but this test I ran 100 times, and failed 27, which seems 3 in 10. And after using your draft PR, it would pass 5 in 100. So it seems your PR make it become less.

[2022-09-08 02:57] edersondisouza commented on #49790
Thanks for the input, I'm finalizing a patch here that should truly solve the issue, stay tuned =D

[2022-09-08 03:35] edersondisouza commented on #49790
Ok, so I updated my draft PR - I think it solves this issue. Even if it doesn't, it still fix some code issues. @shuai1x could you check, please?

[2022-09-08 05:20] shuai1x commented on #49790
Ok, will reply to you soon.

[2022-09-08 05:36] enjiamai opened #50023 "tests: some driver tests of frdm_k64f build failed in twister (shows devicetree error)"
**Describe the bug**
After SDHC support was added into commit: 33b851f71e4268685e850f053d7577026f052b53, build tests by twister will fail due to
[code]

We simply remove the label of shdc in dts file can avoid this, but we are not sure if this is right solution.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -T tests/driver/dac/dac_api -vv
3. See buil

[2022-09-08 05:38] enjiamai commented on #50023
Hi @mmahadevan108 , could you please help on this issue? Thanks!

[2022-09-08 06:44] nordicjm commented on #49821
BL653 DVK which is the same hardware/interface wise as nRF52833dk. After having more of a play with it, it seems to be the winusb driver, I tried installing the libusbK drivers using zadig instead, and after installing the libusbK package with system drivers, suddenly dfu-util can communicate with the device on windows. So it's a far cry faff from the ability to do a mcuboot serial recovery update

[2022-09-08 06:54] nordicjm commented on #50016
This was fixed weeks ago in main and recently in 2.7 (needs `v2.7-branch` as the fix is not in the last released 2.7.3 version). Closing since this is fixed and the above is using nRF connect SDK instead of zephyr.

[2022-09-08 06:54] #50016 closed

[2022-09-08 07:08] erwango commented on #49251
You can look at `drivers/counter/counter_ll_stm32_timer.c` or `drivers/pwm/pwm_stm32.c` that both use timer IP.

[2022-09-08 08:14] #46186 closed

[2022-09-08 08:38] #50023 closed

[2022-09-08 08:39] #49903 closed

[2022-09-08 08:42] tobias-aunbol opened #50028 "flash_stm32_ospi Write enable failed when building with TF-M"
**Describe the bug**
On b_u585_iot02a:
When enabling Trustzone with CONFIG_BUILD_WITH_TFM=y, the flash_stm32_ospi driver will fail in initializing the MX25LM51245 external OSPI flash giving following errors:

[code]
My first thought was that must be related to something with the configuration in the secure application. I have not made any changes to the secure application provided in the TF-M modu

[2022-09-08 09:16] jfischer-no commented on #49821
I agree that "mcuboot serial recovery update" is much easier to use for Windows OS users. I have no measurements regarding throughput but remember that USB DFU was faster.
I do not get to test it until week 38.

[2022-09-08 09:31] cvinayak commented on #49915
@jakkra Please check if #50022 the event stall problem?

[2022-09-08 10:00] nordic-piks opened #50032 "tests: subsys: shell: shell.core and drivers.can.shell fails at shell_setup"
**Describe the bug**
The tests/subsys/shell/shell/shell.core and  tests/drivers/can/shell/drivers.can.shell fails

Observed for:
- nrf52840dk_nrf52840
- nrf52dk_nrf52832
- nrf9160dk_nrf9160
- nrf9160dk_nrf9160_ns
- nrf5340dk_nrf5340_cpuapp
- nrf5340dk_nrf5340_cpuapp_ns
- nrf5340dk_nrf5340_cpunet

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk_nrf52840 connected
2. go to your

[2022-09-08 10:09] nordic-piks opened #50033 "tests: subsys: fs: littlefs: filesystem.littlefs.custom fails to build"
**Describe the bug**
The tests/subsys/fs/littlefs/filesystem.littlefs.custom fails to build

Observed for:
- nrf52840dk_nrf52840

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk_nrf52840 connected
2. go to your zephyr dir
3. call ./scripts/twister -T tests/subsys/fs/littlefs -p nrf52840dk_nrf52840 --device-testing --device-serial /dev/ttyACM0 -v --inline-logs
4. See console ou

[2022-09-08 10:15] fabiobaltieri commented on #46986
Hey I'll bump this to low priority since it's been here for a couple months, don't have a case for reproducing it and there's no other report for this. Happy to bump ti back up if the conditions change.

[2022-09-08 10:48] nashif commented on #49889
ping

[2022-09-08 11:12] carlescufi commented on #22049
`CONFIG_BT_SAME_PEER_DIFF_ID_BOND_OVERWRITE`:

If set to `y`, then bonding with the same peer but a different identity (when already bonded) will overwrite the existing bond, effectively "moving" the bond from the old to the new identity. Note: this will not be an actual "overwrite" since bonds are identified by `identity:peer address` and thus the new bond will have a different identifier.
If set

[2022-09-08 11:22] nordicjm commented on #50033
Cannot replicate this issue, using `zephyr-v3.1.0-4961-gba810303c5cf`:
[code]

[2022-09-08 11:30] chrta commented on #50033
Looks like there is a typo in some used device tree and instead of `large_partition`, ther is instead a `larege_partition`

[2022-09-08 11:32] #49629 closed

[2022-09-08 12:02] fabiobaltieri commented on #38544
@nandojve any update? Hard to justify keeping this as medium after almost 1y.

[2022-09-08 12:17] erwango opened #50040 "shields: Settle on nodelabels naming scheme"
When using shields with boards, it may happen that shields and board both describe use the same nodelabel (to describe the same device: sensor, display, ..), leading to a conflict at device tree compilation.
For instance, same node label 'lsm6dsl' is used for both board and shield description:
https://github.com/zephyrproject-rtos/zephyr/blob/eafc4f875b7443bceffe7f8bee14aa97d7ca4bd6/boards/shields

[2022-09-08 13:23] jakkra commented on #49915
@cvinayak unfortunately still samm issue.

[2022-09-08 13:26] smrtos opened #50044 "reel_board: pyocd.yaml causes flashing error on reel board"
**Describe the bug**
Build the hello world and flash it onto reel board.
Saw below error:

If comment out below line, the error is gone.

https://github.com/zephyrproject-rtos/zephyr/blob/8191423950ce0e1a920bec727f08707ad2b34558/boards/arm/reel_board/support/pyocd.yaml#L4

[2022-09-08 13:34] gmarull commented on #50040
I think it makes sense

[2022-09-08 13:38] cvinayak commented on #49915
Ok, my fault that I used simulation and an own sample (https://github.com/zephyrproject-rtos/zephyr/pull/42721) to check whether my changes were covered by trying to sync to 5 other periodic advertisers at 7.5ms interval. I will use your sample instead and try reproducing the issue. Sorry for taking your time on the verification.

[2022-09-08 14:09] FRASTM commented on #49985
@yourapiexpert could you test including PR https://github.com/zephyrproject-rtos/zephyr/pull/50008 (mainly commit 4a163618f30e6bcf4aaccb77eb745f42f31eec31 ) and   PR https://github.com/zephyrproject-rtos/zephyr/pull/50045

[2022-09-08 15:53] galak commented on #48954
Fixed `nxp,os-timer` and `nxp,gpt-hw-timer` as part of https://github.com/zephyrproject-rtos/zephyr/pull/50003

[2022-09-08 19:20] henrikbrixandersen commented on #50032
I think this is correlated with `CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=32768`. `WAIT_FOR()` divides this by `USEC_PER_SEC`, which is `1000000` resulting in a `cycle_count` of `0`:

[code]

[2022-09-08 19:26] Light411 commented on #49821
I tried using libusbK this afternoon, and I managed to download the image sucessfully on Windows !

IMO the best fix here would be to include the windows descriptor in ucb_dfu.c file so that Windows natively load libusbK driver for the given run-time and dfu mode VID:PID.

I've seen that windows descriptors are already in tree. I tried implementing them to try my luck implementing a WCID feature f

[2022-09-08 19:40] henrikbrixandersen commented on #50032
@nordic-piks Please see #50058

[2022-09-08 19:47] henrikbrixandersen commented on #50032
Setting priority to medium since this will cause a lot of hardware-in-the-loop tests to fail during our v3.2 stabilisation phase.

[2022-09-08 20:23] #49790 closed

[2022-09-08 20:53] jfischer-no commented on #49821
If it is about Microsoft OS * Descriptor, please take a look at samples/subsys/usb/webusb.

[2022-09-08 21:10] #49988 closed

[2022-09-08 22:43] MikeDK commented on #40560
Thanks @alwa-nordic for that workaround! This way the already existing user_data fields can be used for other useful things.
I created a small template class using your technique and wanted to share it, maybe it's useful for someone ;)
[code]

One could use it for example like this:

[code]
maybe the example does not make much sense, but i hope you get the idea ;)

[2022-09-08 22:44] carlst opened #50061 "Bluetooth: Samples: bluetooth_audio_source does not send multiple streams"
**Describe the bug**
`samples/bluetooth/broadcast_audio_source` with `CONFIG_BT_AUDIO_BROADCAST_SRC_STREAM_COUNT=2` fails to send data after sending initial buffers.

Please also mention any information which could help others to understand
the problem you're facing:
 - platform is nRF52840DK
 - commit 1dfc469bd5543ab1a3761aa8cfd8019e33ca6b8f
 - tried previous commits but other issues with multipl

[2022-09-08 23:55] yperess commented on #48148
index does not need to persistent across builds, @MaureenHelm suggested the use of chosen nodes:

[code]

[chosen nodes](https://docs.zephyrproject.org/latest/build/dts/intro.html?highlight=chosen#aliases-and-chosen-nodes)

`minimal-interval` will be queried at runtime during initialization and possibly during a refresh if power state changes.

[2022-09-09 00:47] hunterhu3000 opened #50065 "tests: tests/subsys/shell/shell test case fail in daily test on many platforms"
**Describe the bug**
tests/subsys/shell/shell test case fail in daily test on it8xxx2_evb, mec15xxevb_assy6853, mec172xevb_assy6906, intel_adsp_cavs* and etc.
including the following tests:
[code]

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? it8xxx2_evb, mec15xxevb_assy6853, mec172xevb_assy6906, intel_a

[2022-09-09 00:53] hunterhu3000 opened #50066 "tests: tests/drivers/can/shell failed in daily test on many platforms"
**Describe the bug**
tests/drivers/can/shell failed in daily test on it8xxx2_evb, mec15xxevb_assy6853, mec172xevb_assy6906

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? it8xxx2_evb, mec15xxevb_assy6853, mec172xevb_assy6906
 - Is this a regression? yes
   specific commit? 2f925b47a

**To Reproduce**
Steps

[2022-09-09 03:14] hunterhu3000 commented on #50065
@jakub-uC Could you please help to check this problem? Probably caused by the following commit. Thanks

commit 491f4dd701b043639b2ab680353249c8e151d2ca
Author: Jakub Rzeszutko <jakub.rzeszutko@nordicsemi.no>
Date:   Tue Sep 6 09:50:52 2022 +0200

    shell: update shell tests

    Replace hard fixed delay with function shell_ready to wait
    for shell readiness.

    Signed-off-by: Jakub Rzeszutk

[2022-09-09 03:19] hunterhu3000 commented on #50066
@henrikbrixandersen Could you please help to check this problem first? It looks like caused by the following commit. Thanks.

commit 2f925b47a7d141d9ff4edf1350a76f9f53f018d0 (HEAD)
Author: Henrik Brix Andersen <henrik@brixandersen.dk>
Date:   Tue Sep 6 13:25:54 2022 +0200

    tests: drivers: can: shell: poll for the dummy shell to be ready

    Poll for the dummy shell to become ready and fail th

[2022-09-09 04:34] yourapiexpert commented on #49985
@FRASTM It works so much better. Thank you and @erwango for all the efforts.

In my case I think there might be some unintended consequences.  In my testing:

1. I have to set CONFIG_SHELL_BACKEND_SERIAL_INTERRUPT_DRIVEN=n otherwise it's sluggish and slow to respond.  With interrupt it works, eventually, it's just not responsive.

2. If I set CONFIG_COUNTER=y then everything stops. There is no out

[2022-09-09 05:08] henrikbrixandersen commented on #50066
@hunterhu3000 Thank you for reporting this. I was already made aware of this in #50058 and I'm working on a fix.

[2022-09-09 05:08] #50066 closed

[2022-09-09 05:09] henrikbrixandersen commented on #50066
Closed as duplicate.

[2022-09-09 05:09] jakub-uC commented on #50065
@hunterhu3000
This issue is already investigated. It seems that the problem is with the `WAIT_FOR` macro that needs to be fixed:

https://github.com/zephyrproject-rtos/zephyr/pull/50058#pullrequestreview-1101349518

[2022-09-09 05:26] mayank0206 opened #50070 "LoRa: Support on RFM95 LoRa module combined with a nRF52 board"
Hi,
Recently I do something about LoRa in nRF52, I want to interface the RFM95 LoRa module with zephyr.
Does zephyr have a plan to support RFM95 LoRa?

Thank You!

[2022-09-09 07:26] nordicjm opened #50073 "mcumgr: Bluetooth backend does not restart advertising after disconnect"
**Describe the bug**
After a disconnect with the Bluetooth mcumgr backend, the device does not restart advertising and cannot be connected to again. Issue caused by commit c72eb5f02cb649b31993c0f1f6be5ceb35ba5123 and found by @de-nordic

**To Reproduce**
Run `smp_svr` with Bluetooth, connect, send command, disconnect, try connecting again

**Expected behavior**
For the connection to be successful

[2022-09-09 07:38] chrta commented on #50033
Ok, so the typo is in the main branch: https://github.com/zephyrproject-rtos/zephyr/blob/main/tests/subsys/fs/littlefs/boards/nrf52840dk_nrf52840.overlay#L21

[2022-09-09 08:47] henrikbrixandersen commented on #50065
Duplicate of #50066 (which is a duplicate of #50032).

[2022-09-09 08:47] #50065 closed

[2022-09-09 09:29] erwango commented on #49985
Reopening, as it's not fully fixed.

[2022-09-09 09:35] FRASTM commented on #49985
yes, this seems related to the PM of the stm32wl because  without cpu-power-states defined (but CONFIG_PM), the console reacts as quick as stm32wb (where cpu-power-states are defined and running on the LPUART too)

[2022-09-09 09:43] cvinayak commented on #49915
@jakkra I was able to reproduce the stall using my own sample today when I had 7 advertisers synchronized. What I observed is, the system recovers after 8 minutes which corresponds to the 24-bit RTC rollover.

I was not able to build your attached sample, it overflowed RAM.

Could you please confirm that in your application, after the stall, the system resume after ~8 mins?

[2022-09-09 09:47] yourapiexpert commented on #49985
Here's what I have at least for the lpuart:

[code]
The default dts for the wl55jc has the CPU states but it's still sluggish.  Well not to much sluggish as more responds to about every second character.

[2022-09-09 09:53] #50073 closed

[2022-09-09 10:08] Light411 commented on #49821
I found two implementation of MS OS descriptors available in Zephyr
`CONFIG_USB_DEVICE_OS_DESC` which from my understanding is only capable of MS OS descriptor V1 and is focused on WCID feature.
`CONFIG_USB_DEVICE_BOS` which from my understanding is capable of the extended features offered by MS OS descriptor V2 that I indeed found in the very useful webusb sample.

I was thinking that the first o

[2022-09-09 10:18] jakkra commented on #49915
@cvinayak I'm not in office today but will test on monday. Regarding overflow strange, but just decrease the `CONFIG_BT_PER_SYNC_MAX `to like 10 instead of 25 and `CONFIG_BT_CTRL_DF_PER_SCAN_CTE_NUM=1`

[2022-09-09 10:47] ghost opened #50084 "drivers: nrf_802154: nrf_802154_trx.c - assertion fault when enabling Segger SystemView tracing"
**Describe the bug**
Assertion fault (radio not disabled) in IRQ handler when receiving a radio packet via nRF 802154 driver while tracing with Segger SystemView backend is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Tracing together with the nRF 802.15.4 radio driver

[code]

2. Build and flash some app with radio reception to the target hardware (nRF52840)
3. Wait for i

[2022-09-09 11:08] FRASTM commented on #49985
I found that a config is missing to wake up by the LPUART  before entering to stop mode.
PR to come soon

[2022-09-09 11:36] 5frank commented on #42122
Other suggested changes to `struct lora_modem_config`:
- `datarate` is arguably incorrect name as it is currently expected to be a spreading_factor value. Actual data rate in bit/s is given by:  `datarate = spreading_factor / symbol_period`. The term used in this way only in Semtech LoRaMac-node code but not in Semtech sx12xx reference manuals. Confusing it is...

- Change bandwith to be in hertz

[2022-09-09 12:53] vincemulhollon commented on #49987
The above issue #50017 contains a working fix, its an unusual anti-virus incompatibility.

[2022-09-09 13:01] nordicjm opened #50095 "ARC revision Kconfigs wrongly mixed with board name"
**Describe the bug**
Using the boards in https://github.com/zephyrproject-rtos/zephyr/tree/main/boards/arc/em_starterkit if we compare the `em_starterkit_em7d_defconfig` and `em_starterkit_em7d_v22_defconfig` files we have:
[code]
and
[code]
This suggests that both boards are using an EM7D ARC SOC and there are 2 revisions of the board, however when looking at the files in the soc folder, such as

[2022-09-09 13:02] enjiamai opened #50096 "tests: drivers: the gpio_basic_api test cannot be build successfully on bl5340_dvk_cpuapp board"
**Describe the bug**
The tests/drivers/gpio/gpio_basic_api cannot be built successfully.
After bisecting, the bl5340_dvk_cpuapp failed in CI after this commit: https://github.com/zephyrproject-rtos/zephyr/commit/975787fb5e5070add816eee7e7d46e986061ac29.

It seems like the dts related configuration need to adapt to this change. Need board owner help with addressing it. Thanks!

**To Reproduce**
Ste

[2022-09-09 13:17] erwango commented on #50040
@MaureenHelm  ?

[2022-09-09 13:20] tejlmand commented on #49569
Fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/49570

[2022-09-09 13:20] #49569 closed

[2022-09-09 13:32] MaureenHelm commented on #50040
Agree this makes sense

[2022-09-09 14:06] rerickson1 opened #50099 "boards: pinnacle_100_dvk should enable QSPI and modem by default"
**Describe the bug**
To prevent the user from always needing overlays for apps using networking or mcuboot, the board defconfig should be updated to enable QSPI and the modem by default.

[2022-09-09 14:22] erwango commented on #50028
@tobias-aunbol I'm not able to reproduce the issue you're seeing. Can you check there is no missing configuration bit?
Also can you share the log you're getting ?

[2022-09-09 14:41] erwango commented on #50040
ok, thanks. I'll update

[2022-09-09 14:50] Thalley commented on #50061
Likely a controller issue

[2022-09-09 15:24] jeremybettis opened #50106 "ram_report stopped working with zephyr-sdk 0.15"
**Describe the bug**
Since Zephyr requires 0.15 of the SDK now, I upgraded to that version, and then the ram report broke because of an outdated pyelftools, so I updated that to 0.29.

**To Reproduce**
For ChromeOS EC, we have a publicly visible CI system running on gitlab.com. You can see this failure at https://gitlab.com/zephyr-ec/ec/-/pipelines/635841472 but here is the excerpt:

[code]

**Imp

[2022-09-09 15:28] #50032 closed

[2022-09-09 17:25] henrikbrixandersen commented on #50106
I have no issues running `make ram_report` here using SDK 0.15.0.

[2022-09-09 17:31] #47520 closed

[2022-09-09 17:31] jeremybettis commented on #50106
Hmm. I am using GCC 12 on ARM (Nuvoton npcx9m3f and npcx7), and actually not having failures on RiscV, so it might only be ARM platforms that have problems.

[2022-09-09 17:35] henrikbrixandersen commented on #50106
I just confirmed a working `ram_report` with `samples/hello_world` for board `npcx7m6fb_evb`.

Have you tried upgrading the Python packages referred in `scripts/requirements.txt`?

[2022-09-09 18:12] fgrandel opened #50107 "subsys: pm: device_runtime.c: compile error"
**Describe the bug**
Enabling Device Power Management together with Tracing will cause a compile error (see log below).

**To Reproduce**

[code]
**Impact**
Does not compile

**Logs and console output**
[code]
**Environment (please complete the following information):**
n/a

**Additional context**
n/a

[2022-09-09 18:15] jeremybettis commented on #50106
Yes, I am getting DWARF v5. Let me see what we did that is preventing `-gdwarf-4` from working. Thank you, that was exactly the pointer I needed.

[2022-09-09 18:17] fgrandel opened #50108 "drivers: console: rtt_console: undefined reference to `__printk_hook_install'`"
**Describe the bug**
Compile error when disabling PRINTK with RTT enabled.

**To Reproduce**
[code]
**Impact**
build error

**Logs and console output**
`zephyr/zephyr/drivers/console/rtt_console.c:85: undefined reference to `__printk_hook_install'`

**Environment (please complete the following information):**
n/a

**Additional context**
n/a

[2022-09-09 19:04] yourapiexpert commented on #49985
@FRASTM That has completely fixed it! I can confirm that when run with this example and correct configs applied there is no more sluggish behavior.

I can also report that the issue with CONFIG_LPTIM or the low power timer config is no longer present.

There is still a collision with anything CONFIG_COUNTER related even after PR #50104 is applied but I think that is another matter.

Thanks so much

[2022-09-09 19:47] #49444 closed

[2022-09-09 19:47] jeremybettis commented on #50106
I ran these commands

[code]

And the only files that have version 5 symbols is zephyr_pre0.elf, zephyr_pre1.elf, zephyr.elf

So I ran `ninja -v | grep zephyr_pre0` to find the link command for that binary, and added -gdwarf-4 to it, and those symbols went away.

Now to find the right place in cmake for that.

[2022-09-09 19:48] mmahadevan108 commented on #47120
@aurel32 does the suggestion from @jfischer-no work for you? If so kindly close this issue.

[2022-09-09 20:05] mmahadevan108 commented on #47985
Zephyr SDK 0.15.0 has been released.

[2022-09-09 20:05] #47985 closed

[2022-09-09 20:29] #49738 closed

[2022-09-09 20:31] #48671 closed

[2022-09-09 21:18] #15256 closed

[2022-09-09 21:22] mmahadevan108 commented on #41823
@erbr-ot can you test again. Per Issue [ 15256](https://github.com/zephyrproject-rtos/zephyr/issues/15256), this should be fixed.

[2022-09-09 21:29] mmahadevan108 commented on #48863
@gkujawsk, can you help test the PR and confirm it fixes the issue you reported.

[2022-09-09 21:33] aaronemassey opened #50118 "Twister: `--coverage-formats` Does not work despite `--coverage` added"
**Describe the bug**
Invoking twister using the `--coverage-formats` with `--coverage` gives the error:

[code]

An exact command to reproduce:

[code]

[2022-09-09 21:48] justinyhuang opened #50119 "non-IPI path of SMP is broken"
**Describe the bug**
When SMP is enabled without `CONFIG_SCHED_IPI_SUPPORTED`, the idle thread could simply busy wait and yield periodically. This path is broken, which will lead to an assert failure during `do_swap`.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
   RISCV with SMP enabled but without IPI

[2022-09-09 21:48] justinyhuang commented on #50119
It looks like I cannot directly assign this issue to you, @andyross

[2022-09-09 23:08] ruuddw commented on #50095
There's a 1 to 1 relation between the board and the SoC revisions. It can be argued if the options are more board than SoC level features.
It's not really clear to me what the problem is you run into or trying to solve. What do you need to be changed?

[2022-09-10 07:41] cvinayak commented on #50061
@carlst Please try this #50126 and let me know it resolves the issue you face.

[2022-09-10 09:48] gkujawsk commented on #48863
@mmahadevan108  Yes. It fixed the issue.

[2022-09-10 14:48] carlescufi commented on #50017
@vincemulhollon thanks for the detailed report. Would you mind opening a Pull Request with the suggestions you have in this issue?

[2022-09-10 17:06] nandojve commented on #38544
I still have a problem with the esWIFI driver. My feeling is that some kind of leak exists because after few hours changing the configs and memory I put it to ran the app. The other thing that I noted is that problem happen after socket be closed.

I'll close this issue because I'm not saw BUS FAULT anymore and app run with more memory for a little more time.

[code]

[2022-09-10 17:06] #38544 closed

[2022-09-10 19:28] #49982 closed

[2022-09-10 21:04] #50107 closed

[2022-09-11 06:41] ssharks commented on #42653
@mdkf There have been a lot of fixes in TCP between  March and July. Both reliability and throughput improved a lot. Could you give is a try with the current Zephyr version?

[2022-09-11 08:01] marc-cpdesign commented on #49956
was this issue fixed in 32a87215d7aa97191097357f602237f7da4a3536 ?

[2022-09-11 11:03] billionfish opened #50135 "cannot boot up on custom board"
**Describe the bug**
the samples/helloworld Demo can run and print well on BOARD_NRF52840DK_NRF52840.

but this hex  file cannot boot up on  my board.

for simplest case, my custom board only use 4 pins (SWC SWD GND VCC) from [E73](https://www.aliexpress.com/wholesale?SearchText=E73%202G4M08S1C)

someone suggests set BOARD_ENABLE_DCDC=n  but not work for me.

so i need some help
thx

[2022-09-11 15:16] ycsin commented on #48863
Could you please approve the PR if it fixes the issue?

[2022-09-11 15:27] ta2-info commented on #43308
I succeeded in reproducing it for the purpose of resolving this problem.
but...
I'm assuming this is a user program issue, not a driver issue.

This happened when calling time-consuming operations such as printk while processing callbacks.

[2022-09-11 18:10] IvanVnucec commented on #49956
I've edited comment with information that I'm developing software with the nrf sdk v2.0.2. Zephyr version on sdk could be found [here](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/releases/release-notes-2.0.2.html#zephyr).

[2022-09-11 18:59] krish2718 opened #50139 "net: ipv4: Add DSCP/ToS based QoS support"
QoS is implemented at IPv4 using DSCP/ToS fields in the header, these fields are currently hardcoded to 0 in Zephyr's networking stack, neither in TX nor in RX.

E.g., Tx - no option to send ICMP packets with a specificed DSCP
         Rx - if we received an ICMP packet with DSCP set, the reply uses 0 DSCP (In Linux the same DSCP is replicated).

[2022-09-11 19:34] thedjnK opened #50140 "ARP handling causes dropped packets when multiple outgoing packets are queued"
**Describe the bug**
The current ARP system in the zephyr networking stack has a very odd choice of operation, it will send an outgoing ARP request if an entry is not present, however it does not support assigning multiple packets to a handler, so in the case that a device sends multiple packets at once, e.g. 5, there will be 5 ARP requests sent out, when the first response is received, the queued

[2022-09-11 19:37] ruuddw commented on #47725
This doesn't seem to be a problem anymore, please re-open if it is.

[2022-09-11 19:37] #47725 closed

[2022-09-12 05:52] asarbs opened #50142 "NXP i.MX RT1024 CPU GPIO access bug."
**Describe the bug**

When I'm sending square signal through pin  **gpio_ad_b1_12** i cna't find it on pin ad_b1_12 with my oscilloscope but I can find this signal on **ad_b1_06**.

DT fragments
[code]

[code]
I have added additional prints in

- mcux_igpio_configure
- z_impl_gpio_pin_configure
- gpio_pin_configure
- gpio_pin_configure_dt
- HAL_GPIO_ConfigurePin
- main

`mcux_igpio_configure gpio=

[2022-09-12 06:08] IvanVnucec commented on #50135
Can you get console output?

[2022-09-12 06:22] nordicjm commented on #50095
Boards are being changed to use SOC_* defines, the files in soc/ will need to set those up (i.e. the boards will select which soc defines to use). So for example, at present, there are 3 different boards all filtering on `BOARD_EM_STARTERKIT_R22` and `BOARD_EM_STARTERKIT_R23`:
https://github.com/zephyrproject-rtos/zephyr/blob/main/soc/arc/snps_emsk/Kconfig.defconfig.em11d
https://github.com/zephyr

[2022-09-12 06:35] erwango commented on #49985
Re-opening as #50100 will be required for completing the fix.

Ok, please raise another issue.

[2022-09-12 06:39] erwango commented on #43308
ok, I will close it then.

[2022-09-12 06:41] erwango commented on #43308
@Jeepgoing Is that possible that this is the same reason in your case as well ?

[2022-09-12 06:42] billionfish commented on #50135
no output and other  information.

today I try to link the PIN to the LED but  it not lighted.

I guess the board even not boot..

[2022-09-12 07:04] Jeepgoing commented on #43308
No, the driver only adapt to fixed length, not applicable to variable length.

[2022-09-12 08:18] zagor commented on #49917
I added logging to the response callback, and it shows that the hang occurs prior to it.

Do we have any code for printing an arm stack trace in zephyr? I searched but didn't find anything other than the https://github.com/zephyrproject-rtos/zephyr/issues/4416  feature request. And CONFIG_EXCEPTION_STACK_TRACE seems to be x86 only.

[2022-09-12 08:23] tobias-aunbol commented on #50028
@erwango thanks for looking into this. Okay that sounds weird.

Can you verify that the littleFS is actually mounted on yours when building with TF-M?

When i'm building without TF-M and littlefs i get following log output from flash_stm32_ospi driver and the littlefs:

[code]
So i would expect that you get the same output if the littlefs is successfully mounted when building with TF-M.

When i'm

[2022-09-12 08:33] FRASTM opened #50146 "tests: kernel: mem_protect fails on ARMv6-M and ARMv8-M Baseline"
**Describe the bug**
the test tests/kernel/mem_protect/userspace/  fails when executed on the nucleo_g071rb  and nucleo_l073rz platforms

Please also mention any information which could help others to understand
the problem you're facing:
 After the PR https://github.com/zephyrproject-rtos/zephyr/pull/49264/  and commit 8ea5cea4a7e71abc23804a400d468516dc82c2b9

maybe a question of cortex M0,
Incre

[2022-09-12 09:08] nordicjm commented on #50135
Probably because you haven't connected a 32KHz crystal. This isn't a zephyr problem.

[2022-09-12 09:09] jakkra commented on #49915
@cvinayak yes after about 8 minutes I get some events, see log:
[code]

[2022-09-12 09:21] FRASTM commented on #50146
seems  similar to what happend in https://github.com/zephyrproject-rtos/zephyr/issues/49953,
 @enjiamai could you please give any indication to help fixing this issue ?

[2022-09-12 09:28] erbr-ot commented on #41823
This is still an issue, as the handling of it was not yet implemented.

[2022-09-12 09:36] krish2718 commented on #50139
@rlubos we need support in both core IP stack and also in apps like zperf, icmp etc.

[2022-09-12 09:39] cvinayak commented on #49915
@jakkra Thank you. From GPIO pin debugging of the scheduling, the timeouts of each periodic sync and the scanning seem to be running in the ULL context but I do not see any LLL code be invoked. I am continuing to inspect the implementation, so far it has been difficult in not getting to a fix quickly.

[2022-09-12 09:44] FRASTM opened #50149 "tests: drivers: flash fails on nucleo_l152re because of wrong erase flash size"
**Describe the bug**
When executing the tests/drivers/flash on the nucleo_l152re platform, it fails

The page erase size is 256 so that test cannot write 512 bytes to flash correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_l152re tests/drivers/flash
2. west flash
3. See error

**Expected behavior**
Test PASSED

**Impact**

**Logs and console output**
[co

[2022-09-12 09:51] FRASTM opened #50150 "tests: drivers: flash: building error with b_u585i_iot02a_ns board"
**Describe the bug**
When building the tests/drivers/flash on the b_u585i_iot02a_ns platform, the **TEST_AREA** is not defined and compilation fails

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_l152re tests/drivers/flash
2. See error

**Expected behavior**
compilation succeed

**Impact**
Impact CI tests

**Logs and console output**
`error: '__device_dts_ord_DT

[2022-09-12 09:51] billionfish commented on #50135
[E73](https://www.aliexpress.com/wholesale?SearchText=E73%202G4M08S1C) has crystal.   And I can run other firmware on my board.

[2022-09-12 10:12] TDhaouST opened #50152 "SMT32: incorrect internal temperature value"
**Describe the bug**
 Fix the internal temperature sensor value (Die temp) incorrect when reading internal  temperature from ADC.

This ticket is to fix the incorrect temperature sensor (Die temp) value in the ADC device-tree node for the stm32 series below:

- stm32U5
- stm32L1
- stm32L4
- stm32L0

Acquired values seems inconsistent and not compatible. Example for the stm32U5 (b_u585i_iot02a), he

[2022-09-12 10:16] chrta commented on #50118
Per default lcov and not gcovr is used by twister to create the coverage reports. You have to specify that gcovr should be used instead of lcov by adding ` --coverage-tool gcovr`
[code]

[2022-09-12 10:31] lkoudelka commented on #49621
Hello,
I was trying on my side with code you linked above. Problem preventing two advertising sets on my side was adv_param used in bt_le_ext_adv_create. Define BT_LE_ADV_OPT_EXT_ADV was missing there.

With following setting I can see two advertising
`static struct bt_le_adv_param adv_param1=BT_LE_ADV_PARAM_INIT(
		BT_LE_ADV_OPT_EXT_ADV | BT_LE_ADV_OPT_USE_IDENTITY, BT_GAP_ADV_FAST_INT_MIN_2, BT_

[2022-09-12 10:32] optical-o commented on #19244
Currently these recommended settings will break mcumgr_fs layer due to FS_MGMT_DL_CHUNK_SIZE being to large to transfer. There should be some work on testing the SMP_REASSEMBLY with the mgmt_fs layer. @de-nordic

[2022-09-12 10:53] #49498 closed

[2022-09-12 10:59] maweicoltsmart commented on #49811
@rlubos @jukkar Sorry for not replying in time due to busy work. The above problem occurs because I enabled `CONFIG_NET_VLAN` but did not call the function` int net_eth_vlan_enable(struct net_if *iface, uint16_t tag)`. In order to solve this problem, I added a patch to the Ethernet driver: when receiving an Ethernet packet, take out the vlan tag in the header and call the function` int net_eth_vla

[2022-09-12 11:14] mzajac-avs commented on #49963
I added a proposed solution to fix the problem in this pull request: https://github.com/zephyrproject-rtos/zephyr/pull/50153

[2022-09-12 11:39] rlubos commented on #49811
@maweicoltsmart Which driver exactly are you referring to? There is a `net_eth_is_vlan_enabled()` function that verifies if VLAN has been enabled on an interface, and the function is used in the Ethernet LL to determine whether to fill/strip the VLAN header.

Shouldn't the packet be dropped though in such case? If the interface is not a part of a particular VLAN "subnet", it shouldn't be processin

[2022-09-12 11:39] vincemulhollon commented on #50017
I will try to replicate doc bug fix 1 on a spare laptop, but IIRC I did install python via choco

[2022-09-12 14:08] #50108 closed

[2022-09-12 14:11] eSTChristopheU opened #50158 "Drivers: gpio: stm32u5 portG not working"
**Describe the bug**
I am using the STM32U585.
The portG[2..15] is not enabled at startup by gpio_stm32_init() function.
The gpio_stm32_init() fucntion check if PWR_CR2_IOSV is defined, unfortunatly STM32U585 seems to use PWR_SVMCR_IO2SV instead.
Second issue, it seems there is a typo on LL_PWR_EnableVDDIO2() function name.
it probably should be named LL_PWR_EnableVddIO2().

**To Reproduce**
Steps

[2022-09-12 14:19] erwango commented on #50028
Which sample are you actually using?
You mentioned `tfm_ipc` initially, but on this sample, this is the default configuration and w/o it this can't build, so I guess this is not what you are using.
Also I wonder why you're not puttin `fstab` node in common.dtsi file if you want to use it in both TFM enabled/ns and TFM disabled applications.

[2022-09-12 15:31] ycsin commented on #46072
@jeronimoagullo would it be possible for you to test #49232 and approve if it fixes the issue?

[2022-09-12 16:14] marc-hb commented on #46864
Yet another raw socket issue:
- https://github.com/zephyrproject-rtos/zephyr/pull/50071#issuecomment-1242722148

Raw sockets: just say no. Don't design your own network protocol, always re-use some existing one. Just like parsers.

cc: @smrtos @teburd

[2022-09-12 16:43] mmahadevan108 commented on #46483
@stephanosio I have cleared the milestone field as we are past the feature freeze date for the 3.2 release. Kindly pick a new milestone for a future release.

[2022-09-12 16:46] stephanosio commented on #46483
This was already merged as part of https://github.com/zephyrproject-rtos/zephyr/issues/46491

[2022-09-12 16:46] #46483 closed

[2022-09-12 17:17] #50150 closed

[2022-09-12 17:24] mmahadevan108 commented on #30493
@valeros @tejlmand . I am clearing the milestone field as we are past the feature freeze date for release 3.2. Kindly add one for a future release.

[2022-09-12 17:35] albertofloyd opened #50165 "boards: riscv: ite: No flash and RAM stats are shown whenever building ITE board"
**Describe the bug**
No flash and RAM stats are shown whenever building ITE board

it8xxx2_evb

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/helloworld
2. rm -rf build && west build -c -b it8xxx2_evb
3.  No flash and RAM stats are shown.

**Expected behavior**
Flash and RAM stats should be shown to support footprint assessments

**Impact**
This prevent RAM and code footprint ass

[2022-09-12 17:38] albertofloyd commented on #50165
@itebj @RuibinChang could you help with this, looks like some flash and ram device properties are missing for the board

[2022-09-12 17:49] stephanosio commented on #50165
[This pla](https://github.com/zephyrproject-rtos/zephyr/blob/7c50ab1f0364084fba228d45937ee491e312b421/boards/riscv/it8xxx2_evb/it8xxx2_evb_defconfig#L19)

[2022-09-12 18:02] stephanosio commented on #50017
This is not a bug. Converted to Enhancement.

Also:

PyPI already provides the wheels (pre-built binary packages) for the `psutil` package, so I am not sure why you need this.

This really sounds like an issue specific to the particular antivirus software you are using.

It is a well known fact that leaving "Live Protection" on, regardless of whichever antivirus software you use, is going to signi

[2022-09-13 00:13] carlst commented on #50061
@cvinayak The issue does not occur with the code branch that fixes https://github.com/zephyrproject-rtos/zephyr/pull/50126. Initial testing indicates `stream_sent_cb` is now being called in an alternating fashion for both streams. Will continue to test both broadcaster and receiver with various samples, but I consider this issue resolved. Please close as you see fit.

[2022-09-13 03:24] Wi1L-Y opened #50167 "zephyr ,52832, hci_uart Qemu emulator"
A few days ago, I tried project "hci_uart" of zephyr on nrf52832 and succeed. Now I want to know if there is any method running "hci_uart" with Qemu?

[2022-09-13 04:36] maweicoltsmart commented on #49811
@rlubos In most cases, the device does not set the vlan tag in advance, and does not provide the interface for setting the vlan tag, but the switch will send the data packet with the vlan tag to the device. In this case, the device will not be able to access the set vlan tag switch.

[2022-09-13 06:15] enjiamai commented on #50146
Hi, @FRASTM , I did not have these boards, so could you please help to try these for debugging? Thank you very much!

(1) put this test to run firstly to see if it is failed due to previous state.
[code]
(2) If we skip this test, could all other tests pass?

[code]

By the way, these two boards both support USERSPACE, right?

[2022-09-13 06:27] itebj commented on #50165
@albertofloyd
@stephanosio

Sorry that I re-push it and the original one has been closed.
Beg your pardon to review it again.
Thanks again for your patience and guidance.
Best regards,
BJ

[2022-09-13 06:50] tobias-aunbol commented on #50028
@erwango okay i'm sorry for the missing clarity, i'm primarly using my own application with our own custom boards, I have only provided/tested it with the tfm_ipc example and the b_u585i_iot02a/_ns board so i was able to make it reproducible, thats also why it may become a bit unclear, sorry about that. When i'm testing with the tfm_ipc sample without the TF-M enabled i am course outcommenting eve

[2022-09-13 06:56] cvinayak commented on #50061
@carlst Thank you for testing. The implementation on the synchronised receiver is not optimized and also I noticed that after certain number of subevents in the ISO event the PDUs are not received. I.e. on a nRF52833 DK (that I used today), second stream PDUs where not received (controller generates invalid status for the ISO data). This is to do with the window calculations that need some tuning.

[2022-09-13 07:35] deyro opened #50172 "QSPI NAND Flash driver question"
Hello,

I am looking to interface a 2Gb NAND Flash MT29F02G01ABAGB with a STM32G473 processor. Previous we had a 256Gb NOR flash (MT25QL256) on the board which I was able to use with the `flash_stm32_qspi.c` driver and `st,stm32-qspi-nor` binding.

I tried using the same driver for the NAND flash but got the below error:
`[00000000]	<err>	flash_stm32_qspi:	SFDP	magic	00000000	invalid`

I debugged

[2022-09-13 07:43] govindum commented on #27997
Add CONFIG_SHELL_CMD_BUFF_SIZE=512 to your prj.conf file and check it shoud be working.

[2022-09-13 08:26] FRASTM commented on #49939
On both stm32wb55 and stm32L5x , the VREFINT channel is on the **channel 0** of the ADC1/2
During the adc_stm32_teardown_channels

One possible WA for that test execution is to remove the `has-vref-channel` property (with boards/overlay file)
[code]

[2022-09-13 09:04] FRASTM commented on #49939
However, the adc_stm32_teardown_channels when the channel ID is 0 --> VREFINT is  not enabling  correctly this channel but because it waits endlessly for LL_ADC_IsActiveFlag_ADRDY.

[2022-09-13 09:28] FRASTM commented on #50146
1. yes, both have CONFIG_USERSPACE 1
2. if executed first, the same error occurs "Wrong fault reason, expecting 3"
3. if bypassed, test completes successfully

[2022-09-13 09:52] enjiamai commented on #50146
Thanks! @FRASTM , could you please give me one more favor to try this?
[code]
I wanna make sure if this is related to certain test should be run first. (Basically it should not), thank you!

[2022-09-13 10:07] FRASTM commented on #50146
in case the test_bad_syscall  is the last executed sequence, with ZTEST_USER(userspace, test_z_bad_syscall), then all  previous are PASSed and that last still block on the same error

[2022-09-13 10:10] FRASTM commented on #50146
Note that the system falls into `arch_system_halt` from `handler_bad_syscall`

[2022-09-13 11:56] lkoudelka commented on #49621
On STM32 in general is possible to have multiple legacy advertising (if just 1 advertising is connectable). Could you please share some airtrace/config detail to give us better understanding what exactly you need?

[2022-09-13 12:20] kruithofa commented on #48823
This may be fixed by a coming PR from @erbr-ot , to be verified when this PR is available

[2022-09-13 12:22] kruithofa commented on #45427
As discussed during the F2F:
Use of slist can create a race condition
On last F2F proposed solution: use a mayfly enable/disable (of TICKER_USER_ID_ULL_HIGH) around the slist usage when running in thread mode
- Requires an update of Oticon’s implementation
- After the mayfly disable: check that the mayfly is actually disabled and ASSERT
- After a mayfly disable there are no higher priority mayflys

[2022-09-13 12:23] kruithofa commented on #44339
From F2F in august 2022:
Action item:
- Enable auto-connection update via Kconfig so that correct behaviour is tested in babblesim test
- Find who will implement this behaviour?

[2022-09-13 12:23] kruithofa commented on #41823
I am working on this issue

[2022-09-13 12:25] kruithofa commented on #45323
Which procedures are involved in this behaviour:
- Instant based procedures
- Procedures where you would send a notification after responding

In legacy llcp we piggy back on the rx-node
Possible solution: piggy back on the rx-node
- Does not work for instant based procedures, and other procedures that do not get a response
- Create a queue for delayed notifications, this queue contains the connec

[2022-09-13 12:26] kruithofa opened #50186 "Bluetooth: controller: llcp: piggy back notifications on the rx-node"
**Is your enhancement proposal related to a problem? Please describe.**
Re-use the rx-node for sending notifications back to the host, see also issue #45323

[2022-09-13 12:28] kruithofa commented on #41823
Short term solution:
- Ensure that each connection has (at least) 1 procedure context available, and disconnect a connection when it initiates a 2nd procedure before the 1st is finished
Disadvantage: memory consumption

Long term solution:
- Create new API in LLL for NACK-ing control PDUs on a connection, requires check on LL-id and if it is a request for a new procedure
- Use a function-pointer f

[2022-09-13 12:42] piotrParf commented on #49621
Ok, you mean "Additional" advertising support via STM32WB specific ACI commands? I can't make multiple connectable advertising sets then? Is that possible with extended advertising operates then? I mean can I have two(or more) connectable extended advertising sets but not two connectable legacy advertising sets?

[2022-09-13 12:53] krish2718 opened #50188 "Avoid using extra net buffer for L2 header"
https://github.com/zephyrproject-rtos/zephyr/commit/94e89a11b7151c9f8dd8c22007e64bd30ee8b809  added change to use a dedicated net buf for the L2 header (ethernet) in this case, and as commit says it was meant to be temporary, as this unnecessarily wastes a net buffer (esp. if net buffer size is increase to 1024, we end up using only 14 bytes for Ethernet L2 header).

This should be optimized use a

[2022-09-13 12:53] krish2718 commented on #50188
@rlubos FYI.

[2022-09-13 12:56] rlubos commented on #50188
@jukkar The commit message states that "this is the first step towards getting rid of that ll reserve concept everywhere.". I see the commit is pretty old, but do you recall perhaps what was the reasoning behind such an approach?

[2022-09-13 13:45] jukkar commented on #50188
Before that commit we tried to have Ethernet header in front of the L3 headers in the same net_buf. This is a bit problematic as we would need to calculate how many bytes the L2 header needs, and that is difficult to know in all the cases and then reallocate / reshuffle the buffers etc (see that commit how it re-allocates the buffers). Easiest solution was to allocate a new net_buf just for L2 hea

[2022-09-13 13:51] onkila opened #50191 "nrf_qspi_nor-driver leaves CS pin to undefined state when pinctrl is enabled"
nrf_qspi_nor-driver leaves CS pin to undefined state when pinctrl is enabled. Commit 1ffb3864 changed driver functionlity so that qspi was uninitialized always when it is not used (call of function qspi_device_uninit()). During uninitialization CS pin is set output low state. But if pinctrl is enabled CS pin is not touced during uninitialization. This might cause high current consumption as nor fl

[2022-09-13 13:56] garriguv commented on #46797
@pcmont out of curiosity, what did you end up removing? I'm encountering a similar issue but can't get tot the bottom of it.

[2022-09-13 14:02] onkila opened #50192 "nrf_qspi_nor driver might crash if power management is enabled"
It seems that zephyr might enter to suspend state when nrf_qspi_nor-driver has locked qpsi by calling `qspi_lock()`. I did not investigate this deeper but I suspect that this might happen during some `k_msleep`-calls? Entering to suspend state is not problematic but problem is that this will cause crash as there is also `qspi_lock()` call in handling of `PM_DEVICE_ACTION_SUSPEND`. Execution will s

[2022-09-13 14:22] rubenwat opened #50193 "Impossible to connect with a peripheral with BLE and zephyr 2.7.99, BT_HCI_ERR_UNKNOWN_CONN_ID error"
I am having a connectivity problem with a central Bluetooth device (nrf52832) that needs to be connected to a peripheral (nrf52840), previously this connectivity worked correctly with zephyr 2.5.0 but now that I wanted to update to zephyr 2.7.99 it has stopped working correctly since I rarely get connected to the peripheral, most of the time I don't get it and I get an error=2 from the callback of

[2022-09-13 14:29] mmahadevan108 commented on #49713
This is similar to Issue https://github.com/zephyrproject-rtos/zephyr/issues/49792.

@shaoanxli kindly help review PR https://github.com/zephyrproject-rtos/zephyr/pull/49793 that fixes this issue

[2022-09-13 14:29] #49713 closed

[2022-09-13 14:43] tanoc opened #50196 "LSM6DSO interrupt handler not being called"
**Describe the bug**
I'm trying to use a LSM6DSO (actually a LSM6DSOX, but it should be the same) with a custom board with a NRF52840.

Sometimes (mainly using tracing, `CONFIG_TRACING=y`) the LSM6DSO interrupt handler (for the accelerometer) stops being called. When it happens the interrupt port on the module looks like it's working in latched mode, with the pin set to high and not as pulsed as e

[2022-09-13 15:08] pcmont commented on #46797
Hi @garriguv,

I removed all Nordic LOG_ and malloc function calls.

Also be careful to do not assign a buffer size greater than 2^(RXD.MAXCNT number of bits), because there is no software check and the value is just assigned to the register. For me (nRF52832) was 8 bits, so when I defined 256 as buffer size, that is -> 0b1 0000 0100, the value written to RXD.MAXCNT (buffer size) was in fact 0b000

[2022-09-13 15:51] rerickson1 commented on #50096
The BL5340 DVK uses a GPIO port expander via I2C. Before the mentioned commit above, I2C would be enabled by the boards defconfig and also enable the GPIO expander. Now it seems that https://github.com/zephyrproject-rtos/zephyr/commit/975787fb5e5070add816eee7e7d46e986061ac29 broke enabling I2C by default. I don't know enough about that previous syntax. @galak How do you think this should be fixed?

[2022-09-13 16:06] #45304 closed

[2022-09-13 16:31] mmahadevan108 commented on #50193
Can you reproduce this issue on the latest main

[2022-09-13 17:26] andyross commented on #50119
See linked PR, should fix it for you.  But please also try to move your new platform work onto current main and not 2.7! :)

[2022-09-13 17:54] d1g2w3 commented on #49121
It's also worth noting outside of this use case, there are Machine Learning models that often come in C Array format. You look at various partners who do ML Training and AutoML in the TinyML community, they often output a C Array

[2022-09-13 18:26] henrikbrixandersen commented on #49121
That's not an issue unless you'll need to ship one of these models in order to support a SoC in upstream Zephyr (unlikely).

[2022-09-13 18:42] carlst commented on #50061
@cvinayak Ah, that may explain the variations in `bt_iso_recv_info` `flags`  and `len`  0 values (see attached log from `samples/broadcast_audio_sink` on nRF52840DK with printk in `stream_recv_cb`). I was concerned about stability of multi-BIS (audio). I can attest 1 BIS has been rock-solid stable over extended periods of time (at least an hour on nRF52840DK with a PDM mic as source, and routing s

[2022-09-13 20:01] SkryptX opened #50201 "target_link_directories missing in Zephyr CMake extensions"
The CMake extension functions are missing a wrapper for [target_link_directories](https://cmake.org/cmake/help/latest/command/target_link_directories.html). This can be useful if there are very specific linker requirements.

This would look something like this in `cmake/modules/extensions.cmake`:
[code]

[2022-09-13 20:41] vshymanskyy opened #50202 "Configuring `GPIO25` crashes ESP32"
**To Reproduce**
Add `esp32.overlay` to `samples/basic/blinky`:
[code]
Run:
[code]

**Expected behavior**
This does not happen with pins 4, 24, 26, 27.
Pin 25 is expected to work just like other pins.

**Impact**
I have a PCB where gpio25 is hard-wired to another component, and must be used to initialize the board.

**Logs and console output**
[code]

**Environment (please complete the following i

[2022-09-13 22:05] #50106 closed

[2022-09-13 23:03] keith-zephyr opened #50205 "Verify builds are reproducible in the CI"
## Introduction

Zephyr builds should be reproducible.  A checkout of Zephyr from the same commit, built with the same toolchain, should generate an identical image binary.

### Problem description

This has been proposed before (https://github.com/zephyrproject-rtos/zephyr/pull/11523 and https://github.com/zephyrproject-rtos/zephyr/pull/14593). But there are no tests that verify reproducible buil

[2022-09-14 05:11] desowin commented on #49821
This is expected due to the actual root cause of the issue. WinUSB does not support host initiated USB bus resets, while libusbK.

I think adjusting Zephyr for WinUSB limitations is better. USB Device Firmware Upgrade Specification, Revision 1.1 specifies:
`Bit 3: device will perform a bus detach-attach sequence when it receives a DFU_DETACH request. The host must not issue a USB Reset. (bitWillDe

[2022-09-14 05:30] asarbs commented on #50142
@mmahadevan108 this is change that solved my problem.

[code]

[2022-09-14 06:14] asarbs opened #50214 "Missing human readable names in names file od deive structure"
**Describe the bug**

after commit [dts: bindings: bus labels are now optional](https://github.com/zephyrproject-rtos/zephyr/commit/b200b9a9e034a1c1d7bb8ad229c1bbb187da46e4) human readbel names of device despaired from "name" filed of

[code]

Please also mention any information which could help others to understand
the problem you're facing:
 - Zephyr 0.15.0, NXP 1024.
 - What have you tried to d

[2022-09-14 07:25] stephanosio commented on #50201
cc @tejlmand

[2022-09-14 07:32] stephanosio commented on #50205
cc @marc-hb

[2022-09-14 07:40] stephanosio commented on #50205
I do not expect this to be something that breaks often. Bi-weekly build should be fine.

[2022-09-14 07:42] aaillet opened #50218 "rcar_h3ulcb: can: failed to run RTR test cases"
**Describe the bug**
While running `tests/drivers/can/api` test cases on Renesas R-Car platforms, the test suite fail on RTR related tests added with #47903.

The CAN controller that is equipping these boards is not able to support standard ID frames, extended ID frames & remote frames at the same time.
When the driver has been written, we then chosen to support std id and ext id frames but not re

[2022-09-14 07:43] rubenwat commented on #50193
Hi, thanks for your reply it would be really tedious and time consuming for me to move to the latest 3.2.0-rc1 version as my firmware has a lot of dependencies right now. do you think we can try to make it work in this version?

[2022-09-14 07:50] tejlmand commented on #50201
Just for information, then Zephyr CMake is not wrapping every CMake function just for the purpose of wrapping it.

CMake functions are wrapped when it serves the purpose of facilitating Zephyr development.
As example, `zephyr_library()` and `zephyr_library_named()` wraps CMake targets because libraries created with those functions must be whole-archived, and it sets `ZEPHYR_CURRENT_LIBRARY` so tha

[2022-09-14 08:01] nordicjm opened #50219 "Kernel tests failing on qemu_riscv32_smp"
**Describe the bug**
Kernel tests are failing when running on the `qemu_riscv32_smp` target

**To Reproduce**
`./scripts/twister -p qemu_riscv32_smp -T tests/kernel/common/`
Note that you may have to run this multiple times to see the issue, it might be an issue with qemu? Sometimes no tests fail, sometimes 1 test fails, sometimes multiple tests fail

**Expected behavior**
Tests to pass

**Impact*

[2022-09-14 08:15] henrikbrixandersen commented on #50214
Not sure what you are reporting or asking here. Please read through your report, clarify it where needed, and replace the placeholder texts with actual information. When done, feel free to reopen this issue.

[2022-09-14 08:15] #50214 closed

[2022-09-14 08:36] henrikbrixandersen commented on #50218
@aaillet If I understand correctly, this is an issue in the receive path where the R-Car CAN controller supports two RX FIFOs, which are currently configured for STD ID data frames in FIFO0, and EXT ID data frames in FIFO1?

[2022-09-14 08:59] yinfangw opened #50221 "tests: debug: test case subsys/debug/coredump failed on acrn_ehl_crb on branch v2.7"
Describe the bug
The subsys/debug/coredump testcase failed on acrn_ehl_crb board. The twister will catch the console output to determine
whether it passes or not. It seems like that the front part of acrn console output would be missing.

Please also mention any information which could help others to understand
the problem you're facing:

What target platform are you using?
acrn_ehl_crb
What have

[2022-09-14 09:05] SkryptX commented on #50201
My use case is something like this and involves the currently underdeveloped Posix layer. The current `native_posix` board links to SDL2, but doesn't ensure that it is correctly linked against the library which was actually found with `pkg-config`, when SDL2 is more than just a random system library _somewhere_.

[code]

Therefore I would argue, that `zephyr_link_directories` is indeed missing, ev

[2022-09-14 09:14] aaillet commented on #50218
Yes, exactly !

Each FIFO is configured by two registers:
- IDE to select STD or EXT ID
- RTR to select between data and remote frames

As you said, current configuration is:
- FIFO0 accepting STD ID data frames
- FIFO1 accepting EXT ID data frames

[2022-09-14 09:30] #49939 closed

[2022-09-14 09:33] erwango opened #50224 "tests/kernel/tickless/tickless_concept: Failed on STM32"
tests/kernel/tickless/tickless_concept fails on STM32 platforms.

Reason is that test set tick freq to 100 and enables PM which due to recent changes is detected as a misconfiguration.

[2022-09-14 09:38] #47588 closed

[2022-09-14 09:47] Linzdigr opened #50226 "MPU FAULT: Stacking error with lvgl on lv_timer_handler()"
When I'm trying to use lvgl along with Zephyr, I get the following:

I already tried to "play" with different `CONFIG_MAIN_STACK_SIZE` and `CONFIG_IDLE_STACK_SIZE` values with no success.

Here is the code I use to init and test the display

[code]

And the vars:
[code]

**Environment:**
 - OS: MacOS Monterey
 - Platform: nRF52840 DK
 - Toolchain nrf-connect.toolchain:2.0.2
 - Zephyr hash be360e7d

[2022-09-14 10:38] nordicjm commented on #50226
@pdgendt

[2022-09-14 10:54] kaushalmp commented on #25442
Hi Any updates on the availability of USB xHCI host driver? Please point me to any other host stack that supports xHCI and more number of classes.

[2022-09-14 11:14] jori-nordic commented on #50193
@rubenwat can you manage to reproduce this using a (or multiple) samples in-tree? A branch with some sample code can also do the trick if you prefer.

[2022-09-14 11:18] pdgendt commented on #50226
Some things worth checking:

- Does the color depth match your hardware? Check if the driver's current pixel format is compatible with the LVGL config
- zephyr already initializes LVGL in `modules/lib/gui/lvgl/zephyr/lvgl.c`, does this conflict with your setup?
- Can you run the `lv_timer_handler` a single time without crashing?
- Can you connect a debugger and add a breakpoint in the `display_wri

[2022-09-14 11:22] rlubos commented on #50084
Unfortunately, I don't have access to `adafruit_feather_nrf52840`, but I've tried to reproduce the issue with my `nrf52840dk_nrf52840` DK but with no success. I've used `echo_server`/`echo_client` samples, with all the configs you mention enabled, but got no luck hitting the assert. The sample just keeps working, regardless of SystemView being connected or not.

@jciupis Did you perhaps encounter

[2022-09-14 11:40] garriguv commented on #46797
@pcmont after much hair pulling, my colleague pointed out that the problem was due to a J-Link firmware issue on my board: nRF52840DK.

Basically you can't send more than 64 bytes at a time unless you disable the mass storage device on the board:
https://docs.zephyrproject.org/latest/develop/flash_debug/nordic_segger.html#usb-cdc-acm-serial-port-setup

[2022-09-14 11:44] jciupis commented on #50084
@rlubos No, I don't recall this assert ever causing any trouble.

[2022-09-14 11:51] Linzdigr commented on #50226
- Color is on 16bits format (default from what I saw)
- for the `lv_init`, I indeed saw this is done by Zephyr and would like to know if we can init by ourself instead ?
- no, `lv_timer_handler` crashes at first call
- actually, it crashes at timer's callback call :
**lv_timer.c**
[code]
- `SSD1333_MAX_COL` is the vertical resolution of the display, i.e 160

Looking now, I'm afraid it may be relat

[2022-09-14 12:03] fgrandel commented on #50084
@rlubos, @jciupis  Would it help you if I provided the source code of my application? It's not exactly open source, but it's also not very sensitive. I could push it to a private repository on github and let you have a look. As I'm using the usual abstractions (pinctrl, devicetree, etc.) it shouldn't be too hard to make it work on a standard Nordic dev kit which is very similar to the Feather. Unf

[2022-09-14 12:06] fgrandel commented on #50084
Oh and of course I'd also be available for a remote debugging session if you like (over whatever video tool you use). But then it's also not that much of a show stopper. So I understand if you don't have the time for any of this of course. Just close if you don't think it worth the effort.

[2022-09-14 12:08] cvinayak commented on #49915
@jakkra I believe to have nailed down the cause of the repeated skip of colliding events in #50231, please verify and revert back so that the fix can make it to the latest release versions.

[2022-09-14 12:09] rlubos commented on #50084
@fgrandel If you could share you app, I can try to reproduce the problem.

[2022-09-14 12:13] erwango opened #50232 "gpio_shell: Not functional anymore following DT label cleanup and deprecation"
**Describe the bug**
GPIO_SHELL provides a utility to perform few specific GPIO related actions:
[code]

It could be used as follows:
[code]

Since recent device tree label deprecation and cleanup, this is not functional anymore:
[code]

**To Reproduce**
[code]

**Expected behavior**
gpio shell should be functional

**Impact**
gpio shell is useless

[2022-09-14 12:27] pdgendt commented on #50226
Maybe, but having both will create 2 `lv_disp_t` instances and the first will be the default (probably the zephyr one). So `lv_scr_act` will be for the wrong display.
Didn't you already have to add hacks around the `DT_CHOSEN(zephyr_display)` used in `lvgl.c`?

I think in the long run its easier to add an out-of-tree driver (or in-tree if you can upstream) and amend your driver to the display subs

[2022-09-14 12:48] fgrandel commented on #50084
@rlubos Ok, will do. Just give me a little time to provide a working example as I'm currently in the middle of implementing a feature. As soon as the issue is (again) reproducible, I'll let you know.

[2022-09-14 12:58] FRASTM commented on #49897
There is a sequence with the adc_stm32 driver that makes the ADC common register =0 at the moment the conversion is started

[2022-09-14 13:10] finikorg commented on #50118
BTW, is coverage working now? I get report with no hits at all.

[2022-09-14 13:12] aaronemassey commented on #50118
@chrta

Ahh, the error message should probably make that a bit more clear. Thanks!

[2022-09-14 13:25] mmahadevan108 commented on #43390
@mdkf I am closing this issue, please reopen if you have any additional information.

[2022-09-14 13:25] #43390 closed

[2022-09-14 13:27] rlubos commented on #50140
Indeed, dropping packets when ARP transaction is already pending seems quite unfortunate... I think this could be fairly easily fixed by replacing the `struct net_pkt *` with `struct k_fifo` within [struct arp_entry ](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/l2/ethernet/arp.h#L58) - that way all pending packets could be sent out once ARP response is received.

As for the m

[2022-09-14 13:31] #50165 closed

[2022-09-14 13:44] gmarull commented on #50205
We have many non-locked Python dependencies that are used somehow during the build process, they should be considered.

[2022-09-14 13:46] lkoudelka commented on #49621
Unfortunately I need to agree with you - Additional advertising is not available with zephyr. Extended advertising is targeting your  question, just there is the question of compatibility as extended advertising is still not so common among BLE devices/phones on market

[2022-09-14 13:47] #50033 closed

[2022-09-14 13:54] jukkar commented on #50140
I agree that we should implement a proper retransmission mechanism. The original code shows its quick and dirty past, it has served us decently but some rework is probably in place now.

[2022-09-14 14:02] nvlsianpu commented on #49002
These tests are passing currently (zephyr-v3.1.0-5182-g85445474f29e)

[2022-09-14 14:02] #49002 closed

[2022-09-14 14:37] erwango commented on #50152
Removing STM32WL as this is specific. See #49897

[2022-09-14 14:40] cvinayak commented on #50061
@carlst It is surprising that you have the second stream data as much as the first stream on your board.

The occasional invalid data which appear on both streams is unrelated to what I am observing on my board where first stream get valid data and the second gets invalid data (this is apparently due to the listen time tuning required).

Your invalid data could be due to missing PDUs on-air from t

[2022-09-14 14:43] erwango commented on #49874
@photonthunder Can you at least provide an example command (build which board on which sample ?) that generates the following warning ?
I won't try to guess

[2022-09-14 14:46] nvlsianpu commented on #48115
Reproduced - this is test algorithm issue.

[2022-09-14 14:48] thedjnK commented on #50140
It's not a problem, just a waste of packets and buffers. The thinking I had at the time was that with 3 devices on a network constantly pinging a zephyr device, that could be sufficient to prevent legitimiate communication with a host because of the default 2 ARP entry limit.

[2022-09-14 15:02] photonthunder commented on #49874
I saw it when I used board stm32g071b_disco and then add CONFIG_HW_STACK_PROTECTION=y to the hello world sample, then you get the warning...

[2022-09-14 15:08] henrikbrixandersen commented on #50232
You need to use the devicetree node name instead of `GPIOD` (e.g. `gpio@deadbeef`).

[2022-09-14 15:13] #33015 closed

[2022-09-14 15:36] galak commented on #26109
Links to OpenFirmware specs that describe how to represent PCI/PCIe nodes in a devicetree:

https://www.devicetree.org/open-firmware/bindings/pci/pci2_1.pdf
https://www.devicetree.org/open-firmware/bindings/pci/pci-express.txt

[2022-09-14 15:55] rettichschnidi opened #50235 "UDP: Memory leak when allocated packet is smaller than requested"
**Preface**

Bug already got resolved in main by https://github.com/zephyrproject-rtos/zephyr/pull/50212, but the fix should be backported to older Zephyr versions.
I have verified that this bug also happens on current Zephyr [v3.1-branch](https://github.com/zephyrproject-rtos/zephyr/commit/2cd7fa9cbf6d8dd38745d6d08b11831e4f40ecc7).

**Describe the bug**
When trying to send a package, it may happe

[2022-09-14 15:56] #49874 closed

[2022-09-14 16:06] erwango commented on #50232
Ok, let me close and I'll open a new issue as description doesn't match a enhancement.

[2022-09-14 16:06] #50232 closed

[2022-09-14 16:10] marc-hb commented on #50205
Here's a list of 20+ old reproducibility fixes:
- #14593

In the same place there's an (obsolete) test script. The approach was crude but very effective:
- build once
- change as many things as possible
- build again
- diffoscope

[2022-09-14 16:37] Machine-Hum opened #50238 "ESP32: rtcio_ll_pullup_disable crash regression"
I've added all the details in https://github.com/zephyrproject-rtos/zephyr/pull/49550

Switching to another GPIO fixes the issues, rolling back one commit before the PR fixes the issue. Any support or ideas would be muchly appreciated.

I'm not sure what this define is, or where it's set... SOC_RTCIO_INPUT_OUTPUT_SUPPORTED

[2022-09-14 17:22] marc-hb commented on #50205
Agreed. Reproducibility testing and fixing is rare, but reproducibility regressions are very rare too.

On the other hand, IF it's cheap and quick to run then why not run it every PR?

[2022-09-14 19:50] yperess commented on #48150
I believe my concern is that 99% of applications will not need or expect bias to update frequently or at all. Also, since this is the data provided by the sensor subsystem it's possible to add any custom or more advanced calibration algorithms ontop of the sensor subsystem (instead of inside it). My ideal architecture to this would look like:

* Provide 2 separate callbacks for data and bias
* All

[2022-09-14 20:53] vincemulhollon commented on #50017
Obtained a second windows laptop, this one is domain attached, mostly untouched since re-imaging, earlier this year.

Windows 11 Version 21H2 OS Build 22000.856

Note the OS build is older than the domain attached desktop; it had been in storage some time and will be upgraded eventually.

I followed the windows instructions in the Getting Started Guide

I am pleased to report the psutil python pac

[2022-09-14 20:58] vincemulhollon commented on #50017
As for the other documentation issue, I will submit a PR on that soon.

In a generic sense, yes, everyone knows anti-virus type stuff can be problematic in a generic sense, although I've never experienced this specific software crash any build system of any type for any language in the past for Python, Node.JS, Dart, platform.io, or MbedOS development, so it was kind of a surprise it crashed Zephy

[2022-09-14 22:31] mmahadevan108 commented on #38840
@mmurty I think this is fixed in the current Zephyr main. Please let us know.

[2022-09-14 23:24] ballardr opened #50244 "GPIO manipulation from a “counter” (ie HW timer) when Bluetooth (BLE) is enabled."
**Describe the bug**
Hi, I’m having issues controlling GPIO from a “counter” (ie HW timer) when Bluetooth (BLE) is enabled.

My program flow is that I set up counter to interrupt after a period equivalent of 1200baud. Each time the interrupt runs, I set the bit logic on my bus. It’s basically a software UART (it's SDI-12), but I needed to implement a few extra features which Zephyr’s UART driver d

[2022-09-14 23:25] ballardr commented on #50244
I did have this as a discussion (https://github.com/zephyrproject-rtos/zephyr/discussions/50216) but after some sleep, I thought I'd add as a issue and add details about likely being a queue/semaphore servicing issue

[2022-09-15 00:13] #48918 closed

[2022-09-15 00:35] #43115 closed

[2022-09-15 01:05] carlst commented on #50061
@cvinayak I think we have moved well beyond the issue initially reported. While awaiting any window or other calculation changes, I will continue testing and attempt to gather more specific information on:
- data fidelity (within each stream)
- data loss (e.g. flags: 0x10 and/or len=0)
- Advertising PDU effects

If you have any further advice, please let me know. Thank you for the help.

[2022-09-15 03:14] huhebo commented on #48150
We do have the usages in Windows, such as many 2in1 products, and I don't believe they are 1% of applications :)

For the case need more advanced calibration algorithms on top of the sensor subsystem, we can define new sensor type, e.g,. a raw sensor type, then no any bias data defined in the sensor value data structure, but just some raw sensor data fields. This is the advantage and flexibility o

[2022-09-15 05:46] pcmont commented on #46797
Ah I see,

Thanks for sharing!

[2022-09-15 06:31] hunterhu3000 commented on #49601
Close as the bug is unable to reproduce for some days

[2022-09-15 06:31] #49601 closed

[2022-09-15 07:47] rlubos commented on #50235
Thanks @rettichschnidi. Closing as this is already resolved on main. The issue will be reused when backport PRs are open.

[2022-09-15 07:47] #50235 closed

[2022-09-15 07:56] cvinayak commented on #49915
@jakkra @mtpr-ot

I have concluded that an issue in the implementation of the `ticker_resolve_collision()` function is causing continuous skipping of all active radio events due to missing information to calculate the age of the radio events since their last successful use of the radio.

https://github.com/zephyrproject-rtos/zephyr/blob/b27c5d73ef09278186dc8858dfbed2a33dff6031/subsys/bluetooth/con

[2022-09-15 08:20] nordicjm commented on #38947
Created a sample application which shows this issue: https://github.com/nordicjm/zephyr/tree/uart_mcu_issue

Build `zephyr/samples/subsys/mgmt/mcumgr/smp_svr` for a board with `overlay-shell-mgmt.conf` and `overlay-shell.conf` overlays then flash. I was using https://github.com/LairdCP/UwTerminalX to test this issue but anything that sends/receives data in a loop and checks it can be used. For UwT

[2022-09-15 08:29] mengxianglinx opened #50255 "Test process crash when run twister with --coverage"
**Describe the bug**
Run twister with --coverage, test cases passed, test process break when dump coverage info.

 git bisect" it to commit 30af51fc5e

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p qemu_x86 -T tests/kernel/mutex/mutex_api/ --coverage

**Logs and console output**
 GCOV_COVERAGE_DUMP_START
 *E: Page fault at address 0x1f889f9a (error code 0x0)
 E: Linear address no

[2022-09-15 08:57] benediktibk opened #50256 "I2C on SAMC21 sends out stop condition incorrectly"
Running an I2C master on a SAMC21 results in an incorrect end of the transaction. The last byte will be read and the master will send out correctly a NACK. But after this another 9 clocks follow with the stop condition after this. Actually the stop condition should come right after the NACK, without any additional clocks in between.

The issue is that the stop condition is triggered in the context

[2022-09-15 09:10] finikorg opened #50257 "twister: --coverage option does not work for qemu_x86_64 and other boards"
I have the latest SDK 0.15.0.
When generating coverage for my board I have 0% hits. I can reproduce this with qemu_x86_64 for example with the command:

`$ twister -T zephyr/samples/hello_world/ --coverage -c -p qemu_x86_64`

[2022-09-15 09:14] jakkra commented on #49915
@cvinayak thanks, this seems to resolve the issue, will do a bit more testing but so far so good!

[2022-09-15 09:40] cvinayak commented on #49915
In `ticker_resolve_collision()`, the problem I am trying to understand is (2 tickers of 7.5ms period and 7.5 ms reservation, ticker1 to ticker2 has 5ms to start with):

1. ticker1 current age = 7.5 ms + (1 lazy x 7.5 ms) = 15 ms, force = 0; ticker2 next age = (7.5 - 5) + (1 lazy x 7.5 ms ) = 10 ms, force = 1, next_force = 1. ticker1 looses.
2. ticker2 current age = 7.5 + (1 x 7.5) = 15 ms, force =

[2022-09-15 10:11] jhedberg commented on #26109
@galak could you address the specific details of Andy's last comment? The specs you referenced don't seem to offer an option where the BDF values would come from DTS. They also state that the `reg` property is mandatory for PCIe child nodes, so if we encode the BDF into another property it leaves the question of what to do with `reg`. Essentially, it seems to me that if we were to strictly follow

[2022-09-15 10:41] nvlsianpu commented on #47970
<b>NACK</b> According to the JESD216E SFDP specification: PTP is specified in byte unit and must be dword aligned.

I did test how SFDP readout works on nRF52840dk_nrf52840 (it has MX25R6435F serial flash) with qspi nor driver (using samples/drivers/jesd216). Procedure in the sample is the same as in spi_nor driver and it does work well (addressing is correct, ).

[2022-09-15 10:53] #48115 closed

[2022-09-15 10:57] henrikbrixandersen opened #50263 "drivers: can: mcan: transceiver is enabled at driver initialization"
**Describe the bug**
The Bosch M_CAN driver backend enables the CAN transceiver at driver initialization. Reported by @str4t0m via Discord.

**Expected behavior**
The CAN transceiver should not be enabled until the CAN controller is started.

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.15.0
 - Commit SHA: b27c5d73ef09278186dc8858dfbed2a33dff6

[2022-09-15 10:58] #50099 closed

[2022-09-15 11:25] fgrandel commented on #50084
@rlubos You should have gotten an invitation to the private repository. I just checked that the problem is still reproducible with the latest main branch. The problem is in this app: https://github.com/fgrandel/co2sensor/tree/master/edge/firmware/gateway

[2022-09-15 11:39] str4t0m opened #50266 "drivers: can: native_posix_linux: should not receive frames while stopped"
Describe the bug
The native posix linux driver does not drop the received frames while in stopped state.

Expected behavior
The driver receive frames when the node is started not when stopped.

Environment (please complete the following information):

    OS: Linux
    Toolchain Zephyr SDK 0.15.0
    Commit SHA: https://github.com/zephyrproject-rtos/zephyr/commit/b27c5d73ef09278186dc8858dfbed2a33d

[2022-09-15 11:46] FRASTM commented on #50152
Regarding the stm32F3 disco.
The mcu is stm32F303VCT6 which refman is [RM0316 Rev 8.0](https://www.st.com/resource/en/reference_manual/rm0316-stm32f303xbcde-stm32f303x68-stm32f328x8-stm32f358xc-stm32f398xe-advanced-armbased-mcus-stmicroelectronics.pdf)  and product spec is [DS9118 Rev 14](https://www.st.com/resource/en/datasheet/stm32f303vc.pdf)

[2022-09-15 12:24] sylvioalves commented on #50202
Duplicated: #50238

[2022-09-15 12:24] #50202 closed

[2022-09-15 12:45] martinjaeger commented on #50070
The RFM95 modules are based on Semtech SX1276 IP and already supported by Zephyr. See below for an example devicetree overlay which I used some time ago. This was for an STM32 based board, but it will also work in a similar way for nRF52 boards.

[code]

[2022-09-15 12:53] galak commented on #26109
@jhedberg the spec conveys how to encode bus/dev/func in the reg property.  Look at how phys.hi cell:

[code]

[2022-09-15 12:59] galak commented on #26109
Here's an example:

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/x86/platform/ce4100/falconfalls.dts#n79

[2022-09-15 13:24] andyross commented on #26109
But... why?  Why can't we just make "bus", "device" and "function" integer properties and be done with it?  I get that there's a specification, but... that's awful!  Everyone can see that's awful, right?  It's not even nibble-aligned, so you have to pull out a calculator just to match the packed numbers to ones you can read in documentation or lspci.

[2022-09-15 13:25] andyross commented on #26109
And to tie this back to my ancient comment above: Linux doesn't care that it's awful, because linux probes everything dynamically anyway.  All they care about is uniqueness, not utility.  We want these values so we can use them.

[2022-09-15 13:32] galak commented on #26109
The spec predates linux.  For the Zephyr case, how the bits are encoded shouldn't mater since its static data.  So a simple `PCI_BDF_TO_DT_REG()` macro can hide all the weirdness.

[2022-09-15 13:55] andyross commented on #26109
(Probably too much typing for this subject.  I'll disappear after this bit, I promise)

To be a little glib: does linux actually use these DTS files?  I'm 94% certain that it does not, and that on effectively all deployed PCI devices[1] nothing looks at that packed B/D/F data and does its probing via VID/DID.  In fact, I'll put better than even money down that the data that does exist in files we

[2022-09-15 14:03] galak commented on #26109
There are a number of non-x86 embedded systems with PCI and PCIe on linux that utilize devicetree and use these mechanisms.  I've developed embedded PowerPC support on linux and absolutely used the devicetree to describe PCI/PCIe busses.  So this is used, while the majority of times things are probed as you state on linux, there are still a number of embedded type systems that don't do that for wh

[2022-09-15 14:48] rlubos commented on #50084
@fgrandel Thank you for the access. To my surprise, I was able to build your application w/o any modifications needed.

It took me a moment to reproduce, as it seems that it's not only the SystemView that needs to be enabled but also an active USB is needed (application USB cable connected to a host). With both conditions fulfilled, I hit the assert on every first reception, just as described.

Si

[2022-09-15 15:02] #49985 closed

[2022-09-15 15:28] cvinayak commented on #50244
Counter callbacks occur in the timer's interrupt context. User applications are to use kernel features to defer the handling to a work queue or threads to achieve lower ISR latencies.

The counter callbacks are ISRs, hence already providing the means to execute user code in ISRs. Kernel features can be used as necessary to defer operations.

GPIO are directly set. These are set of CPU instructions

[2022-09-15 15:28] #50244 closed

[2022-09-15 15:55] nvlsianpu commented on #47970
I tested readout using spi-nor driver on nrf52840dk_nrf52840. It works well as well.
I open PR with configuration used by my: https://github.com/zephyrproject-rtos/zephyr/pull/50277

[2022-09-15 16:05] nvlsianpu commented on #47970
According to S25FL127S specification it should behave the same.

I'm closing as can not to reproducer a bag here. JESD216 are addressed properly.

[2022-09-15 16:05] #47970 closed

[2022-09-15 16:12] yperess commented on #48150
Are you saying that if I write a windows application I'll be able to see sensor samples with a different bias on every sample? Can you point me at the proper set-up for this? I'd be very interested to try it and see what that data looks like.

Right, but in windows you don't need that to be the data structure coming out of the subsystem do you? You can easily combine the data + bias in the applica

[2022-09-15 16:19] #50263 closed

[2022-09-15 16:20] #50266 closed

[2022-09-15 16:26] #50238 closed

[2022-09-15 18:17] str4t0m opened #50282 "samples: drivers: can: babbling: can controller not started."
**Describe the bug**
The CAN node is not started in the babbling sample.

**Expected behavior**
CAN frames are sent successfully.

**Impact**
Can messages won't be sent in the sample.

**Environment**
OS: Linux
Toolchain Zephyr SDK 0.15.0
Commit SHA: https://github.com/zephyrproject-rtos/zephyr/commit/b27c5d73ef09278186dc8858dfbed2a33dff6031

[2022-09-15 18:19] fgrandel commented on #50084
@rlubos Wow, I'm impressed! If I can help anything let me know.

[2022-09-15 18:33] paperclip4465 opened #50284 "Generated linker scripts break when ZEPHYR_BASE and ZEPHYR_MODULES share structure that contains symlinks"
**Describe the bug**
My zephyr workspace consists of symlinks to read-only copies of modules which exist in a programmatically managed filesystem.
The filesystem looks something like this.
[code]

This command builds successfully:

[code]
This command fails to build:

[code]

The reason is because the generated linker scripts in `build/zephyr/include/generated/` use relative paths to $ZEPHYR_BASE.

[2022-09-15 19:02] manoj153 commented on #46399
Sorry for going off-topic. What application do you use to create the diagram?
@rogeryou  they look great!

[2022-09-15 19:07] yperess commented on #48150
Here's a rough diagram for the flow of bias calculators I've envisioned
[Blank diagram.pdf](https://github.com/zephyrproject-rtos/zephyr/files/9578250/Blank.diagram.pdf)

[2022-09-15 19:16] #49792 closed

[2022-09-15 19:46] henrikbrixandersen commented on #50218
@aaillet Please see #50286 for a proposed fix.

[2022-09-15 20:52] mbolivar-nordic commented on #42030
@henrikbrixandersen is this still the plan?

[2022-09-15 21:06] mmahadevan108 commented on #46765
@hakehuang, can you please try this on `3.2-rc1`. I cannot reproduce this failure.

[2022-09-15 21:53] mmahadevan108 commented on #46255
@teburd I have looked at the changes proposed to the `nxp_rt10xx.dtsi` file. The Reference Manual states L1I2C start address is `0x403F0000` and SAI1  is at '0x40384000' which is what we have in the dtsi file. These values in the .dtsi file looks correct.

[2022-09-15 22:01] teburd commented on #46255
@mmahadevan108 Which reference manual? I'm looking right at imxrt1010rm and it says SAI1 base is 401E_0000h

![Screenshot from 2022-09-15 17-03-22](https://user-images.githubusercontent.com/135839/190516455-cf2c7cc7-bd20-4f92-b12d-d4f51fbf0639.png)

[2022-09-15 23:17] nashif commented on #49889
My suspecion here is that the data capture is not complete, they way you are making the changes is not ideal, tracing needs to have a dedicated backend. See how this work with qemu which emits the trace to a file under build/, those events you are missing show up correctly.

[2022-09-16 04:57] yperess commented on #48150
Intel/Google sync next steps:
1. Come up with a way for applications to provide their own bias calculations (this would allow for proprietary bias calculations).
2. Provide a way for the final data format to be customizable per application. Example being explored is that the default `SENSOR_TYPE_ACCELEROMETER_UNCALIBRATED` is mapped to `struct sensor_data_3d_float` can be overridden by the applica

[2022-09-16 05:26] hakehuang commented on #46765
@mmahadevan108 , I can still  repoduce this issue on my board with latest rc1 weekly build

[code]

[2022-09-16 05:33] hakehuang opened #50293 "sta feature on dma perpheral feature"
**Is your enhancement proposal related to a problem? Please describe.**
in many DMA peripheral there are some address alignment on source and target address.

**Describe the solution you'd like**
There are 2 option to resolved this

- option 1:

currently we can use the existing dma-buf-alignment define in dma dts feature, and let application to select the purpore one.

- option 2

We need define

[2022-09-16 06:07] hakehuang opened #50294 "test-ci: timer_behavior: mimxrt1170_evk_cm7/1160: test failure"
**Describe the bug**
Timer variance and standard deviation is below defined acceptable values

**To Reproduce**
Steps to reproduce the behavior:
cd tests/kernel/timer/timer_behavior
1. mkdir build; cd build
2. west build -b mimxrt1170_evk_cm7
3. west flash
4. See error

**Expected behavior**
test pass

**Impact**
timer accuracy

**Logs and console output**
[code]

**Environment (please complete th

[2022-09-16 06:08] hakehuang commented on #50294
@mmahadevan108

[2022-09-16 07:39] jhedberg commented on #26109
@galak thanks for pointing out where the BDF information is encoded. I initially skipped most of that part since it seemed irrelevant. The spec feels quite convoluted and would benefit of some examples of how devices with a given BDF should look like in DTS format.

Looking at the falcon falls DTS encoding, let's take this example:
[code]

Do I understand correctly that the `4,0` is what the Open

[2022-09-16 08:06] Linzdigr commented on #50226
Finally manage to port code to a dedicate zephyr driver :)

I changed the code to align with _samples/subsys/display/lvgl/src/main.c_ and got the following error on this :

[code]

The _prj.conf_ didn't changed much :
[code]

And the overlay :
[code]

I forgot something I guess ?

[2022-09-16 08:10] nordicjm opened #50297 "mcumgr: fs_mgmt: hash/checksum: Build warnings on native_posix_64"
**Describe the bug**
Builds warnings appear when configuring for native_posix_64 due to variable size mismatch and out of bounds array access

**Expected behavior**
No build warnings

**Impact**
Limited impact as the code would not flow to the erroneous parts

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Zephyr SDK 0.15.0
 - Commit SHA or Version used: 0d

[2022-09-16 08:12] pdgendt commented on #50226
Are you sure the overlay is applied? Check `build/zephyr/zephyr.dts` for the merged devicetree.

[2022-09-16 08:26] #50282 closed

[2022-09-16 08:31] nordicjm commented on #50284
I am unable to reproduce this issue, I have zephyr cloned in `/tmp/aa` fully, and just the zephyr repository also clones in `/tmp/bb` and have manually created symlinks to the modules in `/tmp/aa` inside `/tmp/bb`:
[code]

I then configure zephyr in `/tmp/bb`:
[code]

And then configure a build and build hello_world:
[code]

[2022-09-16 08:31] Linzdigr commented on #50226
It's not indeed, what do I should do ?
I've rode https://docs.zephyrproject.org/3.1.0/build/dts/howtos.html#set-devicetree-overlays but don't really know where to do something now

[2022-09-16 08:35] FRASTM opened #50299 "CI fails building stm32u5 tests/subsys/pm/device_runtime_api"
**Describe the bug**
Building tests/subsys/pm/device_runtime_api on b_u585i_iot02a  or nucleo_u575zi_q platforms fails due to
drivers/serial/uart_stm32.c:1699: undefined reference to `LL_EXTI_EnableIT_0_31'

Missing `#include <stm32_ll_exti.h>`

Please also mention any information which could help others to understand
the problem you're facing:
 - this is a regression : https://github.com/zephyrpr

[2022-09-16 08:41] #49251 closed

[2022-09-16 08:42] nordicjm commented on #50284
Likewise cannot replicate this when building for an nxp build the the source hal nxp folder at a different folder level in the primary area:
[code]

The relative paths should be from the configured zephyr directory, e.g. `/workspace/zephyr` for you: `/workspace/zephyr/../modules/hal/nxp/...` so this should not be an issue.

[2022-09-16 08:53] jhedberg commented on #26109
Btw, I don't see how the VID/DID encoding into the compatible string would help us, since that would mean that drivers would need to have it too as part of their code too, which is something I don't think we want. That said, the Open Firmware spec does seem to define standard `device-id` and `vendor-id` properties, so we should be able to use those.

[2022-09-16 09:19] erwango commented on #49251
@xkisahero Thank for closing the point. Did you manage to solve your point ?
If yes, can you share what was the blocking issue and how you solved it ?

[2022-09-16 09:35] kruithofa commented on #48850
I haven't found a good way of writing a unittest for this. After code inspection I found no other places where this issue pops up

[2022-09-16 10:49] #50299 closed

[2022-09-16 11:46] maxstreitberger opened #50306 "Not able to flash stm32h735g_disco - TARGET: stm32h7x.cpu0 - Not halted"
When using the new Zephyr-SDK-0.15.0, I cannot flash the `stm32h735g_disco` board.

If I build the `zephyr/samples/hello_world project` for the `stm32h735g_disco` and try to flash it, I receive this error:
[code]
I compared the target file `stm32h7x.cfg` found in `~/zephyr-sdk/sysroots/x86_64-pokysdk-linux/usr/share/openocd/scripts/target/` from the Zephyr-SDK-0.14.2 with the file from the Zephyr-

[2022-09-16 12:05] zephyrbot opened #50307 "[backport v2.7-branch] backport of #50301 failed"
This issue was created automatically because the backport of #50301 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-50301-to-v2.7-branch`.

[2022-09-16 12:05] zephyrbot opened #50308 "[backport v2.7-auditable-branch] backport of #50301 failed"
This issue was created automatically because the backport of #50301 to `v2.7-auditable-branch` failed.

The backport to `v2.7-auditable-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-auditable-branch` and the `compare`/`head` branch is `backport-50301-to-v2.7-auditable-branch`.

[2022-09-16 12:05] zephyrbot opened #50309 "[backport v3.0-branch] backport of #50301 failed"
This issue was created automatically because the backport of #50301 to `v3.0-branch` failed.

The backport to `v3.0-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.0-branch` and the `compare`/`head` branch is `backport-50301-to-v3.0-branch`.

[2022-09-16 12:12] stephanosio commented on #50309
Not going to be backporting to v3.0 since the twister module dependency handling was added in the commit https://github.com/zephyrproject-rtos/zephyr/commit/f429f339fc8fb9adcb5d87559cabe0f164106601, which was introduced in the Zephyr 3.1 release.

[2022-09-16 12:12] #50309 closed

[2022-09-16 12:12] stephanosio commented on #50308
Not going to be backporting to v3.0 since the twister module dependency handling was added in the commit https://github.com/zephyrproject-rtos/zephyr/commit/f429f339fc8fb9adcb5d87559cabe0f164106601, which was introduced in the Zephyr 3.1 release.

[2022-09-16 12:12] #50308 closed

[2022-09-16 12:13] stephanosio commented on #50307
Not going to be backporting to v3.0 since the twister module dependency handling was added in the commit https://github.com/zephyrproject-rtos/zephyr/commit/f429f339fc8fb9adcb5d87559cabe0f164106601, which was introduced in the Zephyr 3.1 release.

[2022-09-16 12:13] #50307 closed

[2022-09-16 12:16] cvinayak commented on #49915
@jakkra Do let me know if you were able to do more testing and if any issues faced while using `CONFIG_BT_TICKER_LOW_LAT=y`?

Meanwhile, I have this PR for `CONFIG_BT_TICKER_LOW_LAT=n` #50311, do switch back and test with this PR (i.e. upstream default new implementation should give higher radio utilization, is the future implementation for new features in Controller).

[2022-09-16 13:24] teburd commented on #50293
I think it would be useful to have the alignment property known somehow in the pair of DMA + Peripheral, the best place for that to me and maybe others would think otherwise, would be on the peripheral, but if there's some better way to describe some attributes tied to the pair of devices that would be best.

@mbolivar-nordic or @galak any thoughts on how best to do this?

[2022-09-16 13:29] aborisovich commented on #30105
I'm quite sure this is not true.
Cadence is obsoleting xt-xcc and moving to xt-clang. As far as I know there is C++17 support with xt-clang RI-2021.7.
I double there would be no C17 support. I'll check in a moment.

[2022-09-16 13:38] nvlsianpu opened #50317 "boards/arm/thingy53_nrf5340: lack of mcuboot's gpio aliases"
**Describe the bug**
This boards DTS should provide `mcuboot-led0` and `mcuboot-button0` aliases. Otherwise it is impossible to use related feature (signaling recovery mode, and the serial recovery) with the board. It is sill possible to configure button using the legacy Kconfig, although it is not recommended.

**Expected behavior**
Can build mcuboot with serial recovery for the board

[2022-09-16 14:04] jakkra commented on #49915
1. `CONFIG_BT_TICKER_LOW_LAT=y` works fine.
2. With: [#50311 ](https://github.com/zephyrproject-rtos/zephyr/pull/50311)
    -  `CONFIG_BT_TICKER_LOW_LAT=n` and `CONFIG_BT_TICKER_PRIORITY_SET=y` => Does not work same as before ("hangs")
    -  `CONFIG_BT_TICKER_LOW_LAT=n` and `CONFIG_BT_TICKER_PRIORITY_SET=n` => Works.

There is a difference between 1. and 2.
**With 1.**
25 tags synced I get an ave

[2022-09-16 14:36] erwango commented on #50028
@tobias-aunbol We managed to get it working. Issue is finally located in TFM, which was not releasing GPIOI correctly.
In https://github.com/zephyrproject-rtos/trusted-firmware-m/blob/4c984817d861512edaeca27b83308e9b9915a98a/platform/ext/target/stm/common/stm32u5xx/secure/target_cfg.c.
In function `pinmux_init_cfg`, need to add :
[code]
@microbuilder What is the process to fix an issue in Zephyr T

[2022-09-16 14:47] microbuilder commented on #50028
You file a change request to TF-M, and then we can cherry pick that in the Zephyr fork.

[2022-09-16 15:03] keith-zephyr commented on #50205
Because of the amount of generated code, I'm in favor of checking on every PR.   Maybe the github workflow can be setup to run on any changes to the ./scripts directory, but also setup as a weekly run to catch problems with the actual source code.

[2022-09-16 15:06] paperclip4465 commented on #50284
Yes, I imagine it is an easy fix, but I’m not competent enough with python to determine what part actually comes up with those paths.

[2022-09-16 15:24] nvlsianpu opened #50321 "Flash: JESD216 SFDP readout and processing"
**Is your enhancement proposal related to a problem? Please describe.**
SFDP headers are read up to static allocated amount (spi_nor.c: 3, stm32_qspi.c: 3) It would be possible to make number of header possible to read dynamic.

**Describe the solution you'd like**
Rework SFDP discovery procedures so it will iterates over SFDP headers and its parameter tables.

**Describe alternatives you've consi

[2022-09-16 15:28] cvinayak commented on #49915
@jakkra Thank you and appreciate your thoroughness in verifying the fix.

Regarding the rate of CTE, I would think of it to depend on both, how much of the advertisers are overlapping over the 7.5ms interval, and how the observer listen window is scheduled. I am not  very familiar with the direction finding CTE feature, and would leave it you to decide which 1 or 2 is best for your application.

A

[2022-09-16 15:42] aborisovich commented on #30105
Can't really copy content of the Xtensa guides here as they are copyright protected...
From what they say for 2021.7 toolchain docs is basically:

- Use XT-CLANG for new C and C++ language features, XCC is legacy - stable but not developed any more
- By default xt-clang uses libstdc++11 GNU based
- For best support of the STL use libc++ library and it is required to use C++14 and C++17

Toolchain:

[2022-09-16 15:44] nvlsianpu opened #50322 "drivers/flash/spi_nor: optimalize devie acquisition during initialization"
**Is your enhancement proposal related to a problem? Please describe.**
The driver multiple time acquires and release SPI device during the initialization.
Theas might cause multiple  putting to sleep and waking-up of SPI memory.

**Describe the solution you'd like**
Make acquisition effective only on the initialization beginning and releasing only effective at the end of initialization procedure.

[2022-09-16 15:52] rubenwat commented on #50193
With those sample I do get to perform a connection, maybe the error is that my connection interval is so fast (7,5ms) but I do not understand why with zephyr 2.5.0 works correctly though.

[2022-09-16 15:59] galak commented on #26109
That is correct.  However, the DD = 4, and F = 0, is also encoded in the `reg` property and that is the best place to extract that data from.

So the `reg` have 4 cells because, the bus has 3 `#address-cells` and 2 `#size-cells`:

[code]

The `#address-cells` is 3, as that is how pci "addresses" are encoded as described in numerical representation (phys.hi, phys.mid, phys.low).  PCI being a 64-bit

[2022-09-16 16:07] paperclip4465 commented on #50284
https://github.com/zephyrproject-rtos/zephyr/pull/16368/commits/62d611a3f8645c74f56f375a8e06b0143b4c34e7
It turns out this is not the way it always has been. The desire to move to relative paths was ironically in the name of reproducibility.

I am working on integrating the zephyr build system into a [functional deployment model](https://edolstra.github.io/pubs/phd-thesis.pdf) which addresses some

[2022-09-16 16:27] Linzdigr commented on #50226
Ok so now I packed everything up and.. I still have the same MPU Fault Staking error at the same point 😕

As a reminder, here is the updated calling code :

[code]

[2022-09-16 16:54] brgl commented on #50226
@Linzdigr Have I understood correctly that you implemented a new display driver for SSD1333? Have you posted it somewhere? Have you been able to run the lvgl hello world on it?

[2022-09-16 17:37] Linzdigr commented on #50226
@brgl Yes, but it was working on his "standalone" c file form on my color OLED display. I didn't publicly posted it for now since I wanted to make sure it works first :)

Now I'm trying to do the job with Zephyr+LVGL as I didn't tried other way yet.

[2022-09-16 17:41] yperess commented on #48150
@huhebo @MaureenHelm @keith-zephyr here's an idea that I think might give everyone what they need. I believe that if we treat bias calculators no different than a virtual sensor it solves the issue. So lets use the issue discussed yesterday as an exmaple.

Combined data example:
1. The ISH needs both bias + data in the same sample and it doesn't make sense to add multiplexing outside of the subsys

[2022-09-16 18:21] #49924 closed

[2022-09-16 18:44] mmahadevan108 commented on #46765
Thats strange, I am seeing the below on my RT595 board:
[code]

[2022-09-16 18:58] yperess commented on #48150
Here's a quick graph surveying the existing boards in Zephyr. I excluded some of the high end because they make the graph unreadable, but here's the raw data...

[code]

![% of boards vs  RAM Size](https://user-images.githubusercontent.com/9535482/190710738-353dc315-49d6-4ec8-999d-547705f5b7f3.png)

[2022-09-16 19:50] #46255 closed

[2022-09-16 20:51] mbolivar-nordic commented on #50293
@teburd I'm confused. From @hakehuang 's description it sounds like the DMA peripheral itself is where the alignment restrictions are. E.g. a memory to peripheral transfer can only read from 4-byte aligned memory addresses and things like that. When you say "pair of DMA + Peripheral", what do you mean? Are there additional alignment constraints that are specific to the combination of the DMA contr

[2022-09-16 21:21] DerekSnell opened #50327 "JLink needs flashloader for MIMXRT1060-EVK"
Segger recently made a change to the JLink driver starting with v7.70d, and now the QSPI flashloader must be specified with the device name to flash the MIMXRT1060-EVK.  Otherwise, the driver uses a HyperFlash flashloader.  This change breaks the `west flash` command for this board, and the JLink driver will report the error:
[code]

The fix is simple, just change this line below in the board's [b

[2022-09-16 21:33] mmahadevan108 commented on #50294
@hakehuang, this seems like a duplicate of Issue https://github.com/zephyrproject-rtos/zephyr/issues/49576

[2022-09-16 21:33] #50294 closed

[2022-09-17 00:29] #47222 closed

[2022-09-17 08:30] manuargue opened #50330 "Fail to find GICv3 Redistributor base address for Cortex-R52 running in a cluster different than 0"
**Describe the bug**
It seems that https://github.com/zephyrproject-rtos/zephyr/commit/68b10e8572d9ad4633a8c9f71e9ebf48bb8019ee has broken the support for Cortex-R52 to run in a different cluster than the 0. In Cortex-R52, `GICR_TYPER` doesn't use Aff1-3 (RAZ, https://developer.arm.com/documentation/100026/0101/Chunk723471919), so only `GICR_TYPER.Aff0` can be compared against `MPIDR.Aff0`. When r

[2022-09-17 08:34] manuargue commented on #50330
Hi @SgrrZhf @carlocaione, could you help me take a look on this? thanks

[2022-09-17 10:46] thedjnK opened #50331 "net mem shell output indents TX DATA line"
**Describe the bug**
When using `net mem` via the shell, the TX DATA line is idented whilst the other lines are not.

**Expected behavior**
All lines to have the same identation i.e. none

**Impact**
Minor annoyance

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Zephyr SDK 0.14.2
 - Commit SHA or Version used: 0d4ff38fa239dedab75d32629a238c36a7198632

[2022-09-17 14:17] carlocaione commented on #50330
@povergoing

[2022-09-17 15:08] enjiamai commented on #50146
Hi @FRASTM , I found this issue is due to the ssf parameter did not pass correctly to bad syscall handler ("kernel/userspace.c" : 915). It is null because it is not being push to stack in a right order in cortex-m0 (ARMv6) during the syscall dispatching. Actually the ssf was not passing correctly before this new ztest migration. It happened to not being "null" so this issue did not be exposed befo

[2022-09-18 00:35] #47326 closed

[2022-09-18 09:00] fgrandel commented on #48616
@gmarull, @jukkar : Do you see any chance that the clang-format line length will be reverted to 80 cols (which I'd support) any time soon or any other change come out of this RFC? Otherwise I propose we close it for inactivity.

[2022-09-18 09:14] fgrandel commented on #31453
@hubertmis @pabigot @ppryga-nordic @galak Maybe a stupid question, but why don't you just add sub-nodes similarly to what is done on busses like uart or i2c? The main radio node could be used to describe generic radio hw aspects and capabilities like radio co-existence, antennas, etc. and the sub-nodes coud be activated separately iff ble, 802154 or any custom radio drivers should be run on that r

[2022-09-18 09:32] fgrandel commented on #49775
Just stumbled upon the discussion in #4934 which seems to be relevant to the usage of the term "MTU" in different contexts in Zephyr. Just to make sure we take into account what's already been discussed/decided.

[2022-09-18 11:22] fgrandel opened #50336 "net: l2: ieee802154: TSCH protocol support"
# Why TSCH protocol support?

The IEEE 802.15.4e amendment introduced the Time Slotted Channel Hopping (TSCH) protocol to the standard. This was later consolidated into IEEE802.15.4-2015 and all following versions of the standard. [Wikipedia](https://en.wikipedia.org/wiki/Time_Slotted_Channel_Hopping) has a quick introduction.

TSCH in IEEE 802.15.4 is designed around very similar concepts as the

[2022-09-18 11:30] fgrandel commented on #50336
@rlubos @jukkar @nandojve As always I'm trying to implement this in my free time so I prefer an iterative approach that leaves the code base in a clean and generally improved state even if I have to stop in the middle due to lack of time.

In that sense I'd like to start with two preparatory tasks:
* Introduce IEEE 802.15.4 neighbour table (nice side effect: short address/PAN association support w

[2022-09-18 12:38] cfriedt commented on #39598
The solution suggested in #48172 is that the solution should be part of a specific memory controller driver implementation.

[2022-09-18 15:07] brian-level commented on #43736
Have you found any solution to this problem?  Could doing nvs operations in a different thread uncouple the delay?

[2022-09-18 15:29] Laczen commented on #43736
@brian-level, this problem should be highly reduced by enabling the nvs cache. This can be done using the config option: `CONFIG_NVS_LOOKUP_CACHE`.

[2022-09-18 19:41] jonnykl opened #50339 "UART/serial bitbang driver"
**Is your feature request related to a problem? Please describe.**
Hardware UART does not always allow custom baudrates. A bitbanging UART driver would provide a solution in such a case.

**Describe the solution you'd like**
There are already I2C and SPI bitbanging drivers implemented. Maybe a similar driver could also be implemented for UART?

**Describe alternatives you've considered**
\-

**Add

[2022-09-19 03:06] hakehuang commented on #46765
maybe we can close it, and let me find a solid way to reproduce it.

[2022-09-19 03:06] #46765 closed

[2022-09-19 03:11] hakehuang commented on #50293
@mbolivar-nordic , I think pair means each peripheral with DMA support need add such constrains.
for peripheral dma, the src is usually a 4 byte aliged 32 bit word. but it depends on the peripheral. so if we need add this to each peripheral, would this be better that we create a common dts for all peripheral that supports dma?

[2022-09-19 03:16] stephanosio opened #50341 "undefined reference to `log_output_flush` in sample.logger.syst.catalog"
**Describe the bug**

Undefined reference to `log_output_flush` when building `sample.logger.syst.catalog` tests for some platforms (e.g. `nrf52840dongle_nrf52840`).

**To Reproduce**

[code]

**Expected behavior**

Test builds successfully.

**Impact**

Unable to build and run `sample.logger.syst.catalog` tests

**Logs and console output**

[code]

**Environment (please complete the following inf

[2022-09-19 03:16] stephanosio commented on #50341
cc @nordic-krch

[2022-09-19 03:20] stephanosio opened #50342 "mcuboot: BOOT_MAX_ALIGN is redefined"
**Describe the bug**

`BOOT_MAX_ALIGN` is redefined in `include/zephyr/dfu/mcuboot.h` (already defined in `bootutil_public.h` in the module).

**To Reproduce**

[code]

**Expected behavior**

`BOOT_MAX_ALIGN` is only defined once.

**Impact**

Unable to build tests and samples using mcuboot.

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: U

[2022-09-19 03:21] stephanosio commented on #50342
cc @nvlsianpu @d3zd3z

[2022-09-19 03:30] stephanosio opened #50343 "uninitialized variable in kernel.workqueue test"
**Describe the bug**

[code]

**To Reproduce**

[code]

**Expected behavior**

No uninitialised vars

**Impact**

Uninitialised vars

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Toolchain: Zephyr SDK 0.15.0
 - Commit SHA: 2829de75d1ae88dc53bc6e85d8f8e59ac3cca8d3

[2022-09-19 03:35] stephanosio opened #50344 "bl5340_dvk_cpuapp: undefined reference to `__device_dts_ord_14`"
**Describe the bug**

[code]

**To Reproduce**

[code]

**Expected behavior**

Test builds successfully

**Impact**

Unable to build tests and samples for `bl5340_dvk_cpuapp`

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Toolchain: Zephyr SDK 0.15.0
 - Commit SHA: 2829de75d1ae88dc53bc6e85d8f8e59ac3cca8d3

[2022-09-19 03:35] stephanosio commented on #50344
cc @rerickson1 @greg-leach

[2022-09-19 04:18] stephanosio commented on #50146
Setting medium priority since this is a rather serious bug in the ARM arch port.

[2022-09-19 04:29] andrewleech commented on #44324
For what it's worth, I encountered the same error message when compiling sections of the zephyr codebase on linux x64, gcc 9.4.0 (not using Zephyr SDK).

By comparing compile arguments between standard zephyr / west builds for `native_posix_64` and my custom Makefile I narrowed the issue down to `-std=c11`

If I compile without `-std=c11` it throws these error in `zephyr/sys/byteorder.h`, eg.
[cod

[2022-09-19 04:58] manuargue commented on #50096
It also fails for board `bl5340_dvk_cpuapp_ns`. Currently blocking https://github.com/zephyrproject-rtos/zephyr/pull/49161

[2022-09-19 05:02] manuargue commented on #50344
Perhaps related to https://github.com/zephyrproject-rtos/zephyr/issues/50096?

[2022-09-19 06:05] wentong-li opened #50345 "Network traffic occurs before Bluetooth NET L2 (IPSP) link setup complete"
**Describe the bug**
This issue is about BT network l2 implementation. When creating a L2CAP channel, after receiving the request from initiator, BT RX thread on the responder will handle the packet, and the call stack would be:

(beginning of call stack omitted)

- l2cap_recv(),
- which calls le_conn_req();
- which calls l2cap_chan_accept().

In this function, it call server's "accept" callback f

[2022-09-19 06:21] enjiamai commented on #50257
This seems to be duplicated with #50255, could you please closed it, @finikorg ?

[2022-09-19 06:45] finikorg commented on #50257
My issue is different, I do not see crash, only coverage report incomplete.

[2022-09-19 06:47] enjiamai commented on #50257
Ok, got it, thanks for clarifying!

[2022-09-19 06:49] nvincent-vossloh commented on #47732
As far as I am concerned I think there is something to do regarding flash addressing and bank swapping.
@erwango, could you give us your opinion on this matter please ?

[2022-09-19 07:17] #50146 closed

[2022-09-19 07:19] #50119 closed

[2022-09-19 07:55] erwango commented on #47732
@erwango, could you give us your opinion on this matter please ?

According to this comment:

I'd say that since the driver is able to identify the sector in use, it would be interesting to understand at which step this information is lost. If this is known, it will be easier to take the right decision.

[2022-09-19 08:09] Laczen commented on #47732
I have a feeling that it might be lost in the flash_page_support API.

[2022-09-19 09:34] #49953 closed

[2022-09-19 09:36] enjiamai commented on #47652
Verify issue fixed. After split them and run cavstool.py in another process, it can prevent the cavs' server tool won't stuck when the ROM start failed. (design problem).
We can checkout back to a commit which a little early than this commit: b161554ee862e9508f699e93403f7b2e667c9377 , for example, bc8419e20a0a0efc396b504b99b10c3c2869f823. Then run the all tests or tests under tests/boards/intel_ad

[2022-09-19 09:36] #47652 closed

[2022-09-19 09:38] anangl commented on #49956
Yes, this is a bug in NCS v2.0.2. A workaround for it is to set `nordic,drive-mode = <NRF_DRIVE_S0D1>` in the pinctrl configuration node, just as you did (there is no need to set it in the `*_sleep` node, as the drive mode is irrelevant in this case - the pins are not driven anyway).

The fix mentioned above (32a8721) is now also applied in NCS, in both `main` (the recently released v2.1.0 contain

[2022-09-19 09:38] #49956 closed

[2022-09-19 09:53] anangl commented on #50196
I cannot take care of this issue as I don't know this sensor and I don't even have such one to check anything. Perhaps someone from ST could take a look. @erwango

[2022-09-19 09:56] tobias-aunbol commented on #50028
@erwango i just tested, and it looks like it's working properly, filesystem is mounting on external flash and i'm able to read and write! Thanks a lot!

[2022-09-19 10:14] #44996 closed

[2022-09-19 10:17] rlubos commented on #50336
Thanks @fgrandel, I agree that the two initial tasks proposed by you sound like valuable additions. Adding OT guys on the CC, since the OpenThead is currently the main target of the 15.4-specific net_pkt fields. CC @edmont @lmaciejonczyk @canisLupus1313

As for `get_config()` - there were some discussions in the past regarding adding such an radio API function, here's the link for some background

[2022-09-19 10:33] hakehuang opened #50354 "ztest_new: _zassert_base : return without post processing"
**Describe the bug**
the  _zassert_base  will return directly, and if we have malloc before, there is no way to handle this fault(free memory), which cause all following cases fails.

[2022-09-19 10:42] jakkra commented on #49915
Less CTE's is pretty much same thing as missed periodic adv. packets (AUX_SYNC_IND), if the radio finds the per. adv. packet, it will also sample the CTE (assuming there is RAM). For us it's a tradeoff around as many CTE's as possible, but also being able to find new tags and re-sync to tags we lost sync to.

The more AUX_SYNC_IND/CTE's the better for us. So the behaviour with `CONFIG_BT_TICKER_LO

[2022-09-19 10:50] #50297 closed

[2022-09-19 11:28] cvinayak commented on #49915
You this #50252 in addition.

[2022-09-19 12:21] IvanVnucec commented on #49956
thank you

[2022-09-19 12:30] sylvioalves opened #50368 "esp32: counter driver not working with absoulte value"
**Describe the bug**
`COUNTER_ALARM_CFG_ABSOLUTE` is not working in esp32 platform.

[2022-09-19 12:41] kborowski3 commented on #43115
We have successfully solved our problem making some small changes in the zephyr source code. Additionally we had to add the extra feature, which is the software NSS control in the Slave mode. This allows us to stop the transmission if the master device changes NSS state. Thanks to that we are able to pass a big data buffer to the driver so we can receive either small or large data streams and we d

[2022-09-19 12:47] anangl commented on #50192
@onkila I don't quite see a possible crash here. If `PM_DEVICE_ACTION_SUSPEND` is requested but the driver is locked because it is still waiting for an operation to finish, the `qspi_nor_pm_action` routine will just wait in the call to `qspi_lock()` until the lock is released, i.e. until that operation finishes and the driver calls `qspi_unlock()`. What am I missing?

[2022-09-19 12:48] erwango commented on #43115
Thanks  for the head's up !

For sure!

[2022-09-19 13:08] nvincent-vossloh commented on #47732
@Laczen did you made a typo in the command I should run ?
[code]

I tried some variants of your command without success.

[2022-09-19 13:21] Linzdigr commented on #50226
Ok so, the Zephyr driver is working fine without LVGL with last modifications.

As I switch back to the LVGL sample code, still the Stacking error comes 😕

Any idea ?

[2022-09-19 13:26] nvincent-vossloh commented on #47732
[settings_fcb.tar.gz](https://github.com/zephyrproject-rtos/zephyr/files/9599243/settings_fcb.tar.gz) updated sample application to demonstrate the issue, tested on commit e61aec3e4c012e015008918a8a368701e35d2baa with this patch https://github.com/nvincent-vossloh/zephyr/commit/9d33ebdc629c0d182ef72d9670de90c33d93b713 cherry-picked

[2022-09-19 13:46] stephanosio opened #50373 "Add DWARF v5 support"
**Is your enhancement proposal related to a problem? Please describe.**

GCC 11 and above (Zephyr SDK 0.15.0 and above) use the DWARF v5 by default.

Zephyr currently only supports up to the DWARF v4 and forces GCC to generate the v4 information by specifying `-gdwarf-4`.

This is far from ideal because we are unable to take advantage of any improvements introduced in the DWARF v5 (including, but

[2022-09-19 13:46] stephanosio commented on #50373
cc @tejlmand

[2022-09-19 13:48] #49047 closed

[2022-09-19 13:48] stephanosio commented on #50373
Also use this commit for linker script generator update later: https://github.com/stephanosio/zephyr/commit/315148c32490a4bdb07823d40fbd3df96133c967

[2022-09-19 13:58] fabiobaltieri opened #50374 "CI failure in v3.1.0-rc2 full run"
https://github.com/zephyrproject-rtos/zephyr/runs/8405077838 full run reports 124 broken tests

Full list of board and tests: https://gist.github.com/fabiobaltieri/5c671f56be012ed88472269f3671ca6e

Groups:

- [x] samples/subsys/logging/syst
  - https://github.com/zephyrproject-rtos/zephyr/issues/50341
- [x] bl5340_dvk_cpuapp
  - https://github.com/zephyrproject-rtos/zephyr/issues/50344
- [x] sampl

[2022-09-19 14:02] stephanosio commented on #50374
Updated with the links to the relevant issues

[2022-09-19 14:06] fabiobaltieri commented on #50374
cc @mmahadevan108

[2022-09-19 14:08] nvincent-vossloh commented on #47732
**From partition 0**
[code]

**From partition 1**
[code]

Here is partitions node in my dts:
[code]

The `storage_mirror` partitions is here to be able to use the workaround from #47692 (see code under `if 0` in `main.c` in the attached tar.gz above).

[2022-09-19 14:15] #50341 closed

[2022-09-19 14:31] onkila commented on #50192
First I have to say that I am not really well familiar with zephyr scheduler & power manager, but if I am correct suspend call happens from scheduler and context change won't happen until power management actions are done. So if this part of code gets stuck to something (like `qspi_lock()` call) it won't get released as context change will not happen. There was some assert that prevented this kind

[2022-09-19 14:39] Laczen commented on #47732
@nvincent-vossloh, could you remove the mirror partition during the test, I think this hides the problem.

[2022-09-19 14:42] nvincent-vossloh commented on #47732
**running from partition 0**
[code]

**running from partition 1**
[code]

[2022-09-19 14:44] fgrandel commented on #50336
@rlubos Thanks for your quick response. I'm going to work on those first steps then.

Taking up the ball re configuration getter to propose something more specific:

**Do we need a generic getter in the radio API at all?**

@tbursztyka 's argument against a generic configuration getter in #23347 was based on the assumption that L2 owns all configuration logic required in L2. While this is true for

[2022-09-19 14:53] Laczen commented on #47732
Ok, so flash_map is always returning the "absolute" address for the partition. But when this is used in the flash driver the driver maps this to a different address because it is running from a different partition. Maybe the code in the flash driver should be changes not to take into account the running partition.

[2022-09-19 15:14] andyross commented on #25910
Just saw this come by.  FWIW: the reason this API doesn't exist is because the concept isn't easily portable.  Every architecture does priority assignment differently, and most interrupt controller drivers have their own schemes that would need to be integrated.  Some systems like Xtensa have hard-wired priorities that can't be configured at all (though in many cases the systems then include a sec

[2022-09-19 15:18] #50344 closed

[2022-09-19 15:18] #50096 closed

[2022-09-19 15:53] aaronemassey commented on #50118
Coverage definitely works for me if I just used the `--coverage` argument.

[2022-09-19 15:53] #50118 closed

[2022-09-19 15:53] #10516 closed

[2022-09-19 16:11] #50061 closed

[2022-09-19 16:12] Laczen commented on #47732
@erwango, the driver contains:
[code]
is this correct ? Or should it be:
[code]

[2022-09-19 16:16] stephanosio commented on #49922
cc @nashif @carlescufi @tejlmand

[2022-09-19 16:25] yperess commented on #50354
Another option is to use a dedicated heap and `k_heap_alloc`. You can then assume that in the test suite's after function it is safe to clear the whole heap .

[2022-09-19 16:34] #49531 closed

[2022-09-19 16:36] #50342 closed

[2022-09-19 16:37] #50368 closed

[2022-09-19 16:42] CodingGhost opened #50381 "BLE: Connection slows down massively when connecting to a second device"
I have a program which reads DMX512 over uart at 250kbaud and controls some peripherals based on the DMX values.
when 1 device is connected, everything is super fast, but as soon as I connect a second device, things slow down massively, with 1 device, I get latency of about 10-15ms, with 2 devices its over a second.

the first strange thing is, that even if I disconnect the second device, the link

[2022-09-19 16:44] stephanosio commented on #49922
**Toolchain WG on 2022-09-20**

* @nashif: This will need to be discussed and reviewed at the project level (TSC).
* @nashif: In general, no strong objection to the general direction of making picolibc the default C library; however, there are some concerns regarding the subsequent effects that this can have:
    * @nashif: How do we prevent the core parts of Zephyr (e.g. kernel) from abusing all

[2022-09-19 16:49] keith-packard commented on #49922
Is the eventual plan to get rid of the minimal libc?

[2022-09-19 16:57] stephanosio commented on #49922
Not in the foreseeable future (it will be too controversial). The minimal libc will stay to provide somewhat self-contained? way of testing the kernel.

To quote what @nashif posted in the Teams chat:

in zephyr 1.0.0....

config MINIMAL_LIBC        bool        prompt "Build minimal c library"        help        Build integrated minimal c library. This integrated library is available        to sup

[2022-09-19 17:53] fabiobaltieri opened #50386 "Twister "FLASH overflow" does not account for imgtool trailer."
**Describe the bug**
Twister has a check for skipping (rather than failing) builds that trigger a flash overflow error. That does not work for board that call imgtool through, where the build image is under the flash size, but the image + imgtool trailer is not. The build fails CI with an error like:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git checkout v3.2.0-rc2
2. west buil

[2022-09-19 19:16] #50343 closed

[2022-09-19 19:36] fabiobaltieri commented on #50374
Not sure what to do with the last one, runs fine locally, seems like some race condition in the build scripts, maybe we are trying to build it multiple times in parallel? Guess let's see what we get in the next --all run.

[2022-09-19 19:36] #50374 closed

[2022-09-19 19:37] yperess opened #50389 "Allow twister to be called directly from west"
**Is your enhancement proposal related to a problem? Please describe.**
Different projects might place `zephyr` in different places, as such, calling `twister` may use different paths. This makes it difficult for developers that work on multiple projects. Additionally, twister uses different flags from west (`-p` and `-b` being the most obvious) which just makes things even more confusing, if poss

[2022-09-19 20:20] #49177 closed

[2022-09-19 23:03] danieldegrasse opened #50394 "RT685 flash chip size is incorrect"
**Describe the bug**
The size of the flash chip on the RT685 EVK is incorrect. The `jedec,jesd216` binding requires the flash size be given in bits, but the 512Mbit mx25um51345g flash chip on the RT685 currently has the following DTS source:
[code]

The size should be updated, as the flash controller driver currently assumes this flash size is given in bits, so only 1/8th of the flash chip is acce

[2022-09-19 23:35] nashif commented on #49922
My point above was that we need to just be cautious with such a move (picolibc as the default libc, dropping minimal, etc.) and think about all possible consequences that might affect users. Last time we tried to make such a move (make newlib default), there were countless issues and that did not happen.

[2022-09-20 00:33] #47301 closed

[2022-09-20 00:33] #45993 closed

[2022-09-20 00:53] cvinayak commented on #48841
@ppryga-nordic will #48936 fix this issue?

[2022-09-20 01:59] povergoing commented on #50330
Let me take a look

[2022-09-20 03:11] hakehuang commented on #50354
the code snipper is as below
[code]
so the question is whether the zexpect can deallocate the memory allocated from sys heap? IMHO @yperess proposal is more clear to me.

[2022-09-20 03:20] yperess commented on #50354
It's not that the expect API would handle the `free` for you, it's that on failure, it won't bail on the test function. So for example:

[code]

[2022-09-20 04:16] cvinayak commented on #50381
@CodingGhost Please retry your application with latest upstream main branch, I suspect you may have stumbled on the issue fixed here: #50126

If you are unable to use the latest main, you may try cherry-pick this commit: https://github.com/zephyrproject-rtos/zephyr/commit/eff946a9ade2facc72454de290427d020f603e22

[2022-09-20 05:08] keith-packard commented on #49922
Thanks for that link, really useful to be able to review what happened in the past. It looks like picolibc has a few benefits that should help resolve some of the issues from the past:

 * picolibc's printf is smaller than printk, so we can use printf everywhere and save space.
 * picolibc uses TLS for all thread-specific data, avoiding reentrancy issues and the large struct _reent
 * picolibc can

[2022-09-20 05:36] ppryga-nordic commented on #48841
@cvinayak No, the PR https://github.com/zephyrproject-rtos/zephyr/pull/48936 handles insufficient `node_rx_iq_report` for periodic scanner only.
There part for DF connected mode should be implemented.

Actually I suggest a change in the PR. Witch changs to `lll_df_conf_cte_rx_enable` that remove `LL_ASSERT` the connected mode will execute reception of CTE even there is no memory for IQ report. Hen

[2022-09-20 06:27] nandojve commented on #50336
Hi @fgrandel ,

It`ll be great have TSCH on Zephyr. Yes, I want to continue look on #49775 as soon new release is launched.

[2022-09-20 06:27] povergoing commented on #50330
@manuargue Not sure if I understand your issue correctly, you meant your platform has several independent distributor regions like `#redistributor-regions` > 1 or your platform has a special redistributor-stride size?

Could you give me more information about why the current code cannot find the GIC Redistributor base address? In terms of https://developer.arm.com/documentation/100026/0101/generic

[2022-09-20 06:41] piotrParf commented on #49621
Ok. We should manage utilizing callbacks with this. But for future we would like to ask ST team to implement "legacy multiadvertising" and also add support in Zephyr for extended advertising with STM32WB55 platform. As it works as is ext advertising should be switchable with CONFIG_BT_EXT_ADV without manipulating app_conf.h in hal_stm32 and patching ipm_stm32wb.c file. The same with CFG_BLE_MAX_AD

[2022-09-20 06:49] shuai1x opened #50404 "Intel CAVS: tests/subsys/logging/log_immediate failed."
**Describe the bug**
On intel_adsp_cavs25 platform, tests/subsys/logging/log_immediate failed.

Tried:
(1) Add extra delay between test functions, it will pass stably.
(2) Use HDA logging, it can't pass.
     Boards overlay:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W --hardware-map /home/ztest/cavs/cavs.map --device-testing -x=CONFIG_BOOT_DELAY=500 -T tests/subsys/logg

[2022-09-20 07:25] giovanniticozzi commented on #45012
Hi, I am trying to build a MCAN driver for a SamE70 Xplained Ultra Board.

In SamE70 Xplained Ultra the external oscillator is connected throught XIN and XOUT is unconnected.
In read in this case I have to enable the Bypass mode to Bypass the Main crystall oscillator.

![Capture](https://user-images.githubusercontent.com/47893724/191193714-2dfb3945-e4ea-45be-91f8-4e4915206c93.PNG)

But even in thi

[2022-09-20 07:26] manuargue commented on #50330
@povergoing our platform has several independent distributor regions implemented as detailed in the documentation above.

However, for Cortex-R52 the `GICR_TYPER` fields for [aff1 to aff3 are not used and read as zero](https://developer.arm.com/documentation/100026/0101/Chunk723471919):
![image](https://user-images.githubusercontent.com/511857/191191628-c1d4a8b9-e42e-4eda-ba82-10e3db533a8f.png)

T

[2022-09-20 07:38] henrikbrixandersen commented on #45012
Please contact the chip vendor for questions like that. This issue is closed.

[2022-09-20 07:41] henrikbrixandersen commented on #50404
This seems to be a general problem with that platform. See e.g. #50403, #50402, or #50401.

[2022-09-20 07:51] shuai1x commented on #50404
No, it is not exactly like https://github.com/zephyrproject-rtos/zephyr/pull/50401, https://github.com/zephyrproject-rtos/zephyr/pull/50402, and https://github.com/zephyrproject-rtos/zephyr/pull/50403. Because these three cases will pass after we use the HDA logging. But this case can't pass after we use it.

[2022-09-20 08:20] nordicjm commented on #50386
This links with https://github.com/zephyrproject-rtos/zephyr/issues/46194 in that depending on mcuboot configuration, a generated firmware image might be useless because of mcuboot swap status data, but there would need to be a way for the application (at build time) to know details of the mcuboot configuration

[2022-09-20 08:23] povergoing commented on #50330
Thanks, understood. I actually doubt if it's right to design in this way. But it's also reasonable since clusters are independent. Anyway, fixing it seems easy by adding a `CONFIG_ ` just using `aff0` when comparing. Do you think it's enough for your case?

[2022-09-20 08:31] Mikdadali commented on #42523
any way to fix bt crashing in a13, as we have LE audio support and we are not able to fix it

[2022-09-20 08:34] Linzdigr commented on #50226
Last tries:
- Setting `CONFIG_LV_Z_POINTER_KSCAN=n`
- Setting `CONFIG_LV_CONF_MINIMAL=y`
- Setting `CONFIG_LV_MEM_CUSTOM=n`
- Defining a lower display resolution x/y from overlay
- Calling no explicit lv_* functions until `lv_task_handler()`

No changes.

[2022-09-20 08:39] pdgendt commented on #50226
How did you test the driver itself?

Is it possible to share code for the driver?
What's the instruction that caused the fault (with `addr2line`)?
Can you attach a debugger and get to the `display_write` function?

[2022-09-20 08:39] manuargue commented on #50330
Yes, a fix would be to compare only `Aff0` from both registers when building for Cortex-R52.

[2022-09-20 09:10] #49915 closed

[2022-09-20 09:16] erwango commented on #50306
I've contacted STM32 openocd maintainer for this specific issue.

Meanwhile, if this is blocking, I suggest to use stm32cubeprogrammer runner. Reducing criticality to low since there is an alternate solution.

[2022-09-20 09:16] Linzdigr commented on #50226
@pdgendt I tested my driver from the `nordic/ncs/v2.0.2/zephyr/samples/drivers/display/src/main.c` and was able to print the expected screen

I'll fork the zephyr repo so I can show you, meanwhile, init of the display is done before the OS as expected (init/write/...), then no further call to any of the driver's function are done.

It seems lvgl crashes before soliciting the driver layer.

---

I

[2022-09-20 09:16] #50226 closed

[2022-09-20 09:36] #50317 closed

[2022-09-20 10:00] #50158 closed

[2022-09-20 10:01] zephyrbot opened #50413 "[backport v3.1-branch] backport of #50230 failed"
This issue was created automatically because the backport of #50230 to `v3.1-branch` failed.

The backport to `v3.1-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.1-branch` and the `compare`/`head` branch is `backport-50230-to-v3.1-branch`.

[2022-09-20 10:03] nordicjm opened #50414 "smp_dummy.h file is outside of zephyr include folder"
**Describe the bug**
Commit 7992256df5111d5caa9b2a5f36b8ef13446eaa21 wrongly added a .h file outside of the zephyr include folder, this should be moved to the zephyr folder

**Impact**
Annoyance

**Environment (please complete the following information):**
 - Commit SHA or Version used: c9d0965ee3385850a3de193a50e07f3f4222c938

[2022-09-20 10:11] erwango commented on #50413
This was expected as code base changed in V3.2. I'll need to provide a specific patch.

[2022-09-20 12:21] nordicjm opened #50421 "Sysbuild-configured project using `west flash --recover` will wrongly recover (and reset) the MCU each time it flashes an image"
**Describe the bug**
Issue noticed whilst testing https://github.com/zephyrproject-rtos/zephyr/pull/49552
It seems that with a sysbuild project, with multiple images e.g. sample application and mcuboot, using `west flash --recover` will wrongly have the west flash runner recover the module for every instance it is used, which results in a non-working board. It also resets the board after each prog

[2022-09-20 12:40] nordicjm commented on #46347
Resolved in https://github.com/zephyrproject-rtos/zephyr/pull/49691

[2022-09-20 12:59] nordicjm commented on #50421
CC @tejlmand @mbolivar-nordic probably need to plan how this works in future

[2022-09-20 13:01] #50414 closed

[2022-09-20 13:12] tejlmand commented on #50421
this is not a bug, but using runner specific arguments on multiple domains are considered experimental at current stage.

There was however a flaw in warning printed, that it was not printed until 2 or more arguments were used.

[2022-09-20 13:37] fabiobaltieri opened #50423 "Zephyr 3.2 release notes overview"
Umbrella issue for tracking release notes updates for the various drivers and subsystems, if you own one of these feel free to mark as done, link PRs, add notes, expand or just drop a comment. Adding few placeholders in https://github.com/zephyrproject-rtos/zephyr/pull/50418 for these, will clear the empty one before the final release.

- [ ] Overview (everyone)
  - [x] https://github.com/zephyrpr

[2022-09-20 13:53] erwango commented on #50028
@microbuilder Here it is: https://review.trustedfirmware.org/c/TF-M/trusted-firmware-m/+/16791

[2022-09-20 14:17] sense-Jo opened #50426 "STM32: using SPI after STOP2 sleep causes application to hang"
**Describe the bug**
After an application on STM32WL accessed STOP2 sleep mode, at the next access to an SPI device the application hangs.
When connecting a debugger, one always catches the application in a loop in `spi_ll_stm32.c` (see screenshots below).

The problem does not occur when STOP2 sleep mode is disabled, by either calling `	pm_policy_state_lock_get(PM_STATE_SUSPEND_TO_IDLE, 3);` (bef

[2022-09-20 14:18] joerchan opened #50427 "Bluetooth: host: central connection context leak"
**Describe the bug**
I've been seeing this issue with the zephyr host. I am using NCS (2c8ef25e7) and the two samples for direction finding.
The connection context for the central part is left in an incomplete state when the connection is timed out.

**To Reproduce**
 `west build -b nrf52833dk_nrf52833 ../zephyr/samples/bluetooth/direction_finding_peripheral -d peripheral -- -DCONFIG_BT_LL_SW_SPLI

[2022-09-20 14:31] fabiobaltieri commented on #50423
Hi! This is for tracking release not updates for v3.2.0 (https://github.com/zephyrproject-rtos/zephyr/blob/main/doc/releases/release-notes-3.2.rst). If you own one of these feel free to mark as done, link PRs, add notes, expand or just drop a comment.

Thanks!

[2022-09-20 14:33] nordicjm opened #50428 "RFC: asyncronous communications from mcumgr server"
## Introduction

At present, mcumgr is a `message -> response` system whereby a response from the mcumgr system can only be sent to an mcumgr client when a mcumgr request has been received. This makes the system synchronous, however as part of some requests to add asynchronous functionality into mcumgr commands (https://github.com/zephyrproject-rtos/zephyr/issues/42420)

### Proposed change

It wo

[2022-09-20 14:38] stephanosio commented on #47329
To be implemented in 3.3 since we are already past feature freeze for 3.2.

[2022-09-20 14:52] erwango commented on #50426
I confirm this is not done. This has to be implemented. Not a bug from our perspective. As always contributions are welcome. Otherwise we'll try to implement based on priority calls.

[2022-09-20 15:21] tejlmand commented on #50421
closed, as this is experimental feature, and the issue regarding correct printing of the error message has been fixed here: #50422

[2022-09-20 15:40] carlescufi commented on #22941
API meeting:

- Requirement from @bjarki-trackunit:
  -  To be able to call multiple API classes using the same `struct device *` (or equivalent) in each call

[2022-09-20 15:49] jakkra opened #50432 "Bluetooth: Controller: Restarting BLE scanning not always working and sometimes crashes together with periodic. adv."
**Describe the bug**
There are 3 sub issues, all related to the same scenario hence I made one ticket. Write if you want it split.
1. Restarting scanning with `bt_le_scan_stop` followed by `bt_le_scan_start` sometimes fails. `bt_le_scan_start` returns success, but scanning either not started or just a few events are received before it stops reporting anything from controller (maybe similar to http

[2022-09-20 15:55] dianjixz commented on #50339
And W1 bitbang drivers,haha!

[2022-09-20 16:12] fabiobaltieri commented on #50386
Adding mcuboot maintainers, you have any ideas? I'm thinking either reducing the flash size in the board config when imgtool is enabled or detecting the specific error in twister.

[2022-09-20 16:24] fabiobaltieri commented on #50255
cc @stephanosio

[2022-09-20 16:27] brian-level commented on #43736
Thank you!  That indeed fixes issues I was seeing.

[2022-09-20 16:31] fabiobaltieri commented on #50219
Tagging as known issue, these are unfortunately known to be flaky on SMP patforms, the CI should retry on these.

[2022-09-20 16:32] #50219 closed

[2022-09-20 16:48] nandojve commented on #50256
Hi @benediktibk ,

Thank you for sharing this with us. Please, open a PR with your fix so I can add more people to look at it.
It is important mention that there is no support for SAMC21 on current Zephyr but maybe the driver uses same IP and we may have same bug anyway. Maybe people from #50384 may help to check too.

@attie-argentum This maybe could be interesting to you look. Let me know if you

[2022-09-20 17:01] Klievan opened #50438 "Bluetooth: Conn: Bluetooth stack becomes unusable when communicating with both centrals and peripherals"
**Describe the bug**
There is a specific case in which the Bluetooth stack seems to become stuck in a state where it will not accept/initiate any new connections. The following warning is printed in the console:
`<wrn> bt_hci_core: opcode 0x2005 status 0x0c`

I'm using an nRF52840 and NCS 2.1. The only way to get out of this state seems to be resetting the device. Below the steps I found which rep

[2022-09-20 17:34] mbolivar-nordic commented on #50389
I would want it called `west twister`. Otherwise I'm on board.

[2022-09-20 18:11] thedjnK opened #50440 "Older stm32 (nucleo) boards without 8MHz ST-LINK clock do not work"
**Describe the bug**
Older STM32 nucleo board, C-01, do not work with the default zephyr boards files, this is due to the default using an 8MHz clock provided by the ST-LINK chip, which on the C-01 boards is not connected. A possible fix is to have board revisions whereby building for e.g. `nucleo_f401re@C-01` will build using the internal 16MHz clock source.

**To Reproduce**
Build for any C-01 n

[2022-09-20 18:26] mbolivar-nordic commented on #50389
@PerMac FYI. I'm guessing we could add a `west twister --v2` or `west twister-v2` at some point as well.

[2022-09-20 19:29] bjarki-trackunit commented on #49431
The properties files and associated scripts have been isolated and moved to this PR https://github.com/zephyrproject-rtos/zephyr/pull/50441

[2022-09-20 20:21] jfischer-no commented on #49821
Well it would be easier if they just write that there is no API for it instead of placing dead links in the code. Anyway, limitations of WinUSB do not seem to be a bug in Zephyr to me.

[2022-09-20 20:23] decsny opened #50446 "MCUX CAAM is disabled temporarily"
**Describe the bug**
The CAAM driver is currently disabled in zephyr because a change to the NXP HAL has caused it to fail its initialization. The problem is related to invalidating cache safely using cache write through mode, and fixing the issue requires setting up MPU regions with the correct settings.

**To Reproduce**
Currently not reproducible because the CAAM has been disabled by PR 49849 a

[2022-09-20 20:56] mbolivar-nordic commented on #50389
@yperess are you aware of https://github.com/zephyrproject-rtos/twister ?

This effort actually does seem to have some of the alternatives you've considered so I am curious why you think it does not scale.

[2022-09-20 21:14] yperess commented on #50389
Twister tightly couples with ztest to parse the logs and generate the test plan. That means that if I have two projects with different versions of zephyr, I'll need two versions of twister installed.

[2022-09-20 21:41] d3zd3z commented on #50386
Unfortunately, the trailer size isn't easy to determine as it depends on signature sizes and other things. But, imgtool should fail if the image is too large, is that not happening?

[2022-09-20 21:54] fabiobaltieri commented on #50386
It is, the problem is that then twister detects that as a generic "build failure" and fails the test, while normally it would skip instead in case of flash overflow. So I guess the other option is for twister to detect this specific error condition and detect it as flash overflow.

[2022-09-20 21:56] d3zd3z commented on #50386
Do you have any ideas on how this could be done? I think that imgtool just raises an exception.

[2022-09-20 22:09] fabiobaltieri commented on #50386
Yeah actually it seems fairly easy, something like:

[code]

I'll massage that code a bit and send a PR.

[2022-09-20 22:11] teburd commented on #50404
The flush timer seems to cause problems here in some way, changing the flush time to 10000 the test passes for me.

Will spend some time investigating

[2022-09-20 23:52] rodrigobrochado commented on #43736
I've tried the Cache with the LFS, but as it was not recommended for OT, I've changed to NVS. I don't remember if I've tested the NVS cache though. We've made and workaround to wipe flash when the children addition to the list takes too much time, but we will be stuck in Zephyr v2.7.0 (NCS 1.8.0) and probably this workaround for a while.

@brian-level can I ask you which Zephyr version you are usi

[2022-09-21 02:38] Kunli123 opened #50452 "mec172xevb_assy6906: The testcase tests/lib/cmsis_dsp/matrix failed to run."
**Describe the bug**
 The testcase tests/lib/cmsis_dsp/matrix failed to run on the mec172xevb_assy6906.

**To Reproduce**
twister -p mec172xevb_assy6906 --device-testing --device-serial /dev/ttyUSB0  -T tests/lib/cmsis_dsp/matrix/ -vv

**Logs and console output**

[code]
**Environment (please complete the following information):**

OS: Linux
Toolchain: Zephyr SDK 0.15.0
Commit: 32f4f8d987f4

[2022-09-21 04:29] cvinayak commented on #50432
@jakkra Please check if #50454 fixes assertion.

[2022-09-21 05:34] shuai1x opened #50455 "Intel CAVS15/25: tests/subsys/shell/shell failed with no console output"
**Describe the bug**
On intel_adsp_cavs15/25 platform, tests/subsys/shell/shell failed.

Tried:
(1) Add extra delay between test functions, it will pass stably.
(2) Use HDA logging, it will fail sporadically.
Boards overlay:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W --hardware-map /home/ztest/cavs/cavs.map --device-testing -x=CONFIG_BOOT_DELAY=500 -T tests/subsys/shel

[2022-09-21 05:42] desowin commented on #49821
Nobody placed dead links in the code. It is just how internet works, the links do become dead over time. So will the links placed in Zephyr code/documentation, especially the ones that point to latest version and not some specific version. This is why besides just a link, there should be enough context for the future reader.

If the comment you are referring to is what you [linked earlier](https:/

[2022-09-21 06:13] manuargue commented on #50330
@povergoing just to know, should I provide a fix or you are working on it already?

[2022-09-21 06:30] jori-nordic commented on #50438
can confirm I am able to reproduce it, will look into it asap

[2022-09-21 06:36] povergoing commented on #50330
I am working on it already, will send the PR soon

[2022-09-21 06:39] nordicjm commented on #27471
Bumping a very old topic, however with an idea on top of @mbolivar-nordic's in that a useful feature would be slot selection using this method. At present, when using mcuboot with support in the application, images are build for slot0, however mcuboot does not have to operate in this mode, it can run in a direct slot execution mode whereby it does not swap the image slots but just runs the image i

[2022-09-21 06:44] hakehuang commented on #50354
the problem is  above line bails(return), and following testcase will get executed with the allocated memory not freed.

[2022-09-21 06:59] kruithofa opened #50461 "Bluetooth: controller: LLCP: use of legacy ctrl Tx buffers"
**Describe the bug**
The refactored LLCP is using the legacy ctrl Tx buffers, which it should not use. This results in using too much RAM
See PR #49326 for reproducing the issue

**Expected behavior**
The ctrl Tx buffers should be removed without having an effect on the new LLCP

**Impact**
Not all features can be enabled when running on the nRF5340 due to RAM usage

[2022-09-21 07:02] erwango commented on #50440
Moving this to "Feature Request" as it's coming down to supporting a new board revision.

[2022-09-21 07:09] FRASTM commented on #50440
On the MB1136 board schematic, the reason is probably that MCO signal is open (SB16 and/or SB50 not present on the PCB)
A possible harwdare WA is to close solder bridge.

[2022-09-21 07:19] Kunli123 commented on #50452
I used the git bisect tool to find that there was a problem with the commite.
commite：ccb3927233b6ede872e8a0e77c8137d2501764d9

[2022-09-21 07:29] optical-o opened #50463 "Bluetooth Controller: Coexistence GPIO feature"
The SoftDevice Bluetooth controller(CONFIG_BT_LL_SW_SPLIT) got in recent release of NCS 2.1.0 coexistance feature using GPIO pins with other RF systems on board.
We are looking into using Coexistence feature on NRF9160 and NRF52833 combo for Bluetooth coexistance with the LTE chip.

Is there a plan to integrate this feature into Zephyr Bluetooth controller ?

Our main use-case is Bluetooth adverti

[2022-09-21 07:32] nordicjm opened #50464 "Boot banner can cut through output of shell prompt"
**Describe the bug**
Whilst testing `smp_svr` with a build including many overlay files, this was seen at startup on a module:
[code]
The boot banner is output part the way through the shell prompt output.

**To Reproduce**
Steps to reproduce the behavior:
`cmake -GNinja -DBOARD=nrf5340dk_nrf5340_cpuapp -DOVERLAY_CONFIG="overlay-shell.conf;overlay-shell-mgmt.conf;overlay-bt.conf;overlay-udp.conf"

[2022-09-21 07:39] carlocaione opened #50465 "Possible memory corruption on RISCV when userspace is enabled"
Using `Z_THREAD_STACK_BUFFER` instead of `Z_KERNEL_STACK_BUFFER` can cause memory corruption when userspace is enabled. Refer to the PR for details.

[2022-09-21 07:58] povergoing commented on #50330
@manuargue would you like to take a look and check if it would fix your issue? I have verified it with tweaked FVP

[2022-09-21 08:09] stephanosio opened #50467 "Possible memory corruption on ARC when userspace is enabled"
Using Z_THREAD_STACK_BUFFER instead of Z_KERNEL_STACK_BUFFER can cause memory corruption when userspace is enabled.

See https://github.com/zephyrproject-rtos/zephyr/pull/50459#issuecomment-1253335275

[2022-09-21 08:15] stephanosio opened #50468 "Incorrect Z_THREAD_STACK_BUFFER in arch_start_cpu for Xtensa"
Some Xtensa platforms use `Z_THREAD_STACK_BUFFER` instead of `Z_KERNEL_STACK_BUFFER` in `arch_start_cpu`:

https://github.com/zephyrproject-rtos/zephyr/blob/51af614f88eae21dc4baa3cbed03e1de81b053df/soc/xtensa/esp32/esp32-mp.c#L238

https://github.com/zephyrproject-rtos/zephyr/blob/0687a610b9e9c99b835676d455c0d85ab1f402f8/soc/xtensa/intel_adsp/common/multiprocessing.c#L140

This can cause memory co

[2022-09-21 08:19] jori-nordic commented on #50438
I've narrowed it down, I think it's an issue with the controller rather than the host, as `bt_conn_le_create` returns `-EIO` which is an HCI error. Still digging..

[2022-09-21 08:23] Klievan commented on #50438
I've looked up the HCI warning in the BLE spec and it gave me these 'translations':
bt_hci_core: opcode 0x2005 status 0x0c
0x2005 for the BT_HCI_OP_LE_CREATE_CONN command, and 0x0C should mean "NOT ALLOWED". Not sure if that helps you out in any way?

[2022-09-21 08:48] nashif commented on #50389
There shall be just one twister, if we decide to move to a new implementation, it will be done in a transparent way. I am not on board with supporting 2 different versions of twister at any given time.

[2022-09-21 08:51] nashif commented on #50389
Twister (sanitycheck) was there before west and it always used -p for platform, we can make this less confusing by using the -b also for twister..

[2022-09-21 08:54] #50331 closed

[2022-09-21 08:54] jori-nordic commented on #50438
Thanks, yeah I know it's not allowed (you can check out `hci_err.h` in zephyr it has the list).

I think this requires more digging in the softdevice controller, it looks like a bug there. I tried to make it work with the zephyr LL but there were some issues, I'll try again to double-check.

The same opcodes are sent, in the same order for both cases (scanning+connecting after boot,  scanning+conn

[2022-09-21 08:58] #50152 closed

[2022-09-21 08:58] tautologyclub commented on #8139
Working on this currently.

[2022-09-21 09:01] #50465 closed

[2022-09-21 09:03] zephyrbot opened #50471 "[backport v2.7-branch] backport of #50459 failed"
This issue was created automatically because the backport of #50459 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-50459-to-v2.7-branch`.

Fixes https://github.com/zephyrproject-rtos/zephyr/issues

[2022-09-21 09:03] zephyrbot opened #50472 "[backport v3.0-branch] backport of #50459 failed"
This issue was created automatically because the backport of #50459 to `v3.0-branch` failed.

The backport to `v3.0-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.0-branch` and the `compare`/`head` branch is `backport-50459-to-v3.0-branch`.

Fixes https://github.com/zephyrproject-rtos/zephyr/issues

[2022-09-21 09:07] carlescufi commented on #48216
Closing on inactivity

[2022-09-21 09:07] #48216 closed

[2022-09-21 09:09] carlescufi commented on #49071
@efra-mx-aqua can you please reply to the questions from @boaks so we can continue the analysis.

[2022-09-21 09:10] carlescufi commented on #49811
@maweicoltsmart please provide the information requested by @rlubos, including which platform and driver you are using

[2022-09-21 09:12] carlescufi commented on #49917
No, we don't. But if you are running with a debugger connected or attach a debugger once the hang happens you should be able to get the stack trace from any of the threads as long as your debugger has support for Zephyr (most do)

Can you try to produce a minimal reproducible sample and environment so that @rlubos can try and reproduce it locally?

[2022-09-21 09:13] nashif commented on #49922
@stephanosio  @keith-packard  how far can we get by enabling picolibc as the default in Zephyr as a module? Would this work with all supported toolchains? Adding picolibc to the SDK is fine, however we need to make sure other non-SDK toolchains still work and are not left behind and there need to be parity. We should not get into the situation where using zephyr with some features enabled forces t

[2022-09-21 09:14] stephanosio commented on #50472
[SMP support for RISC-V was introduced in 3.1](https://github.com/zephyrproject-rtos/zephyr/pull/41939), so this is not applicable.

[2022-09-21 09:14] #50472 closed

[2022-09-21 09:14] stephanosio commented on #50471
[SMP support for RISC-V was introduced in 3.1](https://github.com/zephyrproject-rtos/zephyr/pull/41939), so this is not applicable.

[2022-09-21 09:14] #50471 closed

[2022-09-21 09:24] manuargue commented on #50330
The bugfix works on our SoC, thanks for the fix 👍

Btw it would be great if you can share the tweaked FVP parameters you used, just out of curiosity and in case is needed in the future.

[2022-09-21 09:24] stephanosio commented on #49922
Noting that even the minimal libc seems to be having issues with some proprietary toolchains (e.g. with armclang as mentioned by @tejlmand during the meeting), it will likely need some tweaking.

But, in principle, it is no different to the minimal libc in that it can be adapted to work with any toolchains we support now and in the future because it is integrated to the Zephyr build process and we

[2022-09-21 09:30] jori-nordic commented on #50438
okay, it works with the zephyr link layer (no bug) with these changes in the `prj.conf`:
[code]

So this seems to be a bug in the Softdevice Controller. could you open a bug in the [devzone](https://devzone.nordicsemi.com/f/nordic-q-a) and link it here? I'll close this issue.
I have already pinged the controller team, but they'll need the ticket number that's why.

[2022-09-21 09:33] Klievan commented on #50438
Just as a last comment, I've used the Zephyr LL as well and the bug also seems to disappear on my end.

[2022-09-21 09:33] povergoing commented on #50330
Sure, it is `-C cluster0.cpu0.MPIDR-override=0x80000100`, overriding the original 0x80000000 with 0x80000100 and 100 means aff1= 0. BTW, you could check with all the params by running `./FVP_BaseR_AEMv8R -l`

[2022-09-21 09:37] carlescufi commented on #50192
@onkila it seems here that it is not clear whether this is indeed an issue with the driver. I suggest you do additional investigation and, if you conclude that this is a problem on Zephyr's side, please reopen this issue.

[2022-09-21 09:37] #50192 closed

[2022-09-21 09:49] Klievan commented on #50438
https://devzone.nordicsemi.com/f/nordic-q-a/92177/bluetooth-conn-bluetooth-stack-becomes-unusable-when-communicating-with-both-centrals-and-peripherals

[2022-09-21 09:53] nordicjm commented on #50464
@nordic-krch Is there any reason `CONFIG_LOG_PRINTK` isn't enabled by default if logging is enabled and `CONFIG_PRINTK` is enabled? That avoids this issue

[2022-09-21 09:54] #39902 closed

[2022-09-21 09:58] fabiobaltieri commented on #49611
@Kunli123 does the comment above help? Lowering priority seems it appears that a config option could fix this, feel free to send a PR to change the default for the platform if that's appropriate for this case.

[2022-09-21 10:08] fabiobaltieri commented on #49614
@andyross does this one ring any bell? (see the comment above)

[2022-09-21 10:09] fabiobaltieri commented on #49656
@Zhaoningx any update?

[2022-09-21 10:28] #49803 closed

[2022-09-21 10:45] jakkra commented on #50432
@cvinayak I'm pretty sure https://github.com/zephyrproject-rtos/zephyr/pull/50454 fixed the crash, been running for 30 min now without the crash.

[2022-09-21 10:51] nashif commented on #50389
more thoughts...

Are we looking at a plain wrapper here, i..e `west twister` to call the right twister from the current workspace or a more than that? would `west twister` accept the twister command line options as if you are calling `twister` directly or is there going to be some level of translation, i.e. `-b` becomes `-p` etc.?

I am in favor of more integration and providing more value, i.e.

[2022-09-21 11:09] kruithofa commented on #50345
@wentong-li Can you see if PR #50476 fixes this issue?

[2022-09-21 11:16] kruithofa commented on #49136
This is an issue with PTS, see  CASE0072485

[2022-09-21 11:16] #49136 closed

[2022-09-21 11:23] kruithofa commented on #50463
Currently there is no plan for this

[2022-09-21 11:23] jfischer-no commented on #50044
Only one board is affected and it depends on pyOCD version 0.34.x, set priority to low.

[2022-09-21 11:28] nordic-krch commented on #50464
The main reason was that logging behaves differently, especially deferred mode where output is delayed. Imo, `CONFIG_LOG_PRINTK=y` could be the default but I guess that  we need broader audience to make that decision. Maybe Architecture working group meeting (@carlescufi).

[2022-09-21 11:47] plinnie opened #50481 "Simplify system call subgeneration for modules by adding setting to zephyr/module.yml"
**Describe the solution you'd like**
The ability to add to the syscall directories for stub generation to a module by declaring a setting in the module.yml, e.g.:
`zephyr/module.yml`
[code]

**Describe alternatives you've considered**
I've considered adding custom system-calls directly to a fork of Zephyr. However, this requires additional maintenance keeping updated, and does not allow clean sepa

[2022-09-21 11:51] nordicjm commented on #50481
CC @tejlmand

[2022-09-21 11:52] optical-o commented on #50463
Is there somebody who could guide me thought the process, who could tell me where is the best place to implement this functionality ?
I'm willing to give it a go, if no one experienced has time to do it. I do not have any special equipment to verify it is working correctly in realtime. Only to test when i drive the coex pin that the Bluetooth advertisements will stop.

[2022-09-21 11:59] nordicjm commented on #50464
I've just tried enabling `CONFIG_LOG_PRINTK` on this issue https://github.com/zephyrproject-rtos/zephyr/issues/38947 and it's magically resolved, so it does seem like defaulting to this option when logging is enabled would help with a few bugs

[2022-09-21 12:08] cvinayak commented on #50432
@jakkra Thank you, will proceed to get #50454 merged upstream.

Observations:

`CONFIG_BT_CTLR_SCAN_UNRESERVED=n # Scan only when radio is free.`

and

`scanning either not started or just a few events are received before it stops reporting anything from controller `

You are having 10+ tags at 7.5ms interval, this is very stressful scenario with overlapping radio events across and every 7.5 ms du

[2022-09-21 12:08] brian-level commented on #43736
I am using NCS 2.1.0.  I am trying to scale to very large networks (>200 nodes) but haven't built that many yet.  I am also thinking OT should not have to use non-volatile storage at all in FTD mode (always powered) and setup each boot by the application so am looking in to creating a ram-only backend for OT nvs perhaps.

[2022-09-21 12:11] pawelosyp-hid commented on #35512
Hi all,
Has anything changed in this topic? Driver to CryptoCell entropy or other solution for that?
btw is it possible to make multiprotocol setup (BLE and OT) ? @rlubos

[2022-09-21 12:19] rlubos commented on #35512
Nothing has changed in this regard.

Yes, it is possible, but you also need NCS for that:
https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/ug_multiprotocol_support.html#ug-multiprotocol-support

[2022-09-21 12:24] pawelosyp-hid commented on #35512
Are there any chances that it will be implemented in vanilla Zephyr? Or any part of that? Thanks for responce.

[2022-09-21 12:29] sylvioalves commented on #48290
@sam131208 I've re-tested again enabling `CONFIG_BT_SETTINGS=y` and it still works. Can you confirm so we can close this issue?

[2022-09-21 12:32] rlubos commented on #35512
I don't think there are plans for that as of today.

[2022-09-21 12:33] sylvioalves commented on #49008
@sam131208 Can you add the following: `CONFIG_ESP_HEAP_MEM_POOL_REGION_1_SIZE=4096`? This will make room for dram0_1 and will fix the error. Also, can you check whether this issue is still valid? Otherwise we can close this.

[2022-09-21 12:47] nordicjm opened #50482 "mcumgr: img_mgmt: zephyr_img_mgmt_flash_area_id has wrong slot3 ID"
**Describe the bug**
Lines 139 onwards of zephyr_img_mgmt.c have the following code:
[code]

The #if check for slot3 looks to have the wrong case

**Impact**
Probably nil as no boards currently support slot3 images

**Environment (please complete the following information):**
 - Commit SHA or Version used: 6030b85f71ce05a69d6953f265ae1831a6c67548

[2022-09-21 13:04] #49014 closed

[2022-09-21 13:07] jakkra commented on #50432
@cvinayak
- I can reproduce with periodic. adv. interval of 100ms with 10 tags.
- I can reproduce the problem both with `CONFIG_BT_CTLR_SCAN_UNRESERVED=y` and `CONFIG_BT_CTLR_SCAN_UNRESERVED=n`
- Most of the time when events stop coming it's just after scanning is re-started and no devices yet synced.

[2022-09-21 13:21] #50330 closed

[2022-09-21 13:22] #50394 closed

[2022-09-21 13:24] teburd commented on #50404
Seems to be a missing IPC done return

Which can be seen here

https://github.com/teburd/zephyr/tree/hda_missing_ipc_return

I'm now wondering if this is the actual cause of a few things, like sometimes spinning too long in the timer isr when flushing which I've seen before.

[2022-09-21 13:38] carlescufi commented on #50464
Can you please post a PR changing the default @nordic-krch? Then we'll drive the discussion in that PR.

[2022-09-21 13:38] carlescufi commented on #50464
Closing this issue since it's a matter of enabling `CONFIG_LOG_PRINTK`.

[2022-09-21 13:38] #50464 closed

[2022-09-21 13:42] jakkra commented on #50432
Here is one log with `CONFIG_BT_CTLR_SCAN_UNRESERVED=y`. In this log behaviour is a bit different, here you can see the `Scan is running...` print, which means I get scan responses, but no tags manage to sync at all, and when I power off tags you can see all getting terminated, but it does not recover afterwards. Also note no `Scan is running...` at the end.

I have another log, same case as above

[2022-09-21 13:47] de-nordic commented on #50482
Should be fixed, although it is not really a bug, unless somebody changes line 29 of the file where there is this definition:
[code]
so unless the line is changed `SLOT3_PARTITION == slot3_partition`.

You can define 4 slots (2 images) for any board, the mcuboot may not be able to boot it but they will be visible in mcumgr and it will be possible to upload images to them.
The nrf5340dk_nrf5340 may

[2022-09-21 13:47] cvinayak commented on #50432
@jakkra ok, I will do more testing using your attached sample to try to get the same behavior as you see.

If you are using `CONFIG_BT_CTLR_SCAN_UNRESERVED=y`, you are using continuous scanning (same interval and window), right? (Otherwise, this option will make no difference).

[2022-09-21 13:49] jakkra commented on #50432
Great, thank you!
Yes in the attached sample I use:
[code]

[2022-09-21 13:55] #49628 closed

[2022-09-21 14:00] jakkra commented on #50432
Two tags only, 50ms interval:
[code]
[code]

[2022-09-21 14:16] carlescufi commented on #47780
Closing due to unresponsiveness from the reporter. Please reopen if it's still an issue.

[2022-09-21 14:16] #47780 closed

[2022-09-21 14:17] carlescufi commented on #49139
Fixed by #49140

[2022-09-21 14:17] #49139 closed

[2022-09-21 14:33] #50327 closed

[2022-09-21 14:47] zephyrbot opened #50490 "[backport v2.7-branch] backport of #50393 failed"
This issue was created automatically because the backport of #50393 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-50393-to-v2.7-branch`.

[2022-09-21 14:55] #49590 closed

[2022-09-21 15:37] jfischer-no commented on #49821
Again, it is not a bug in Zephyr and therefore not a fix and has to wait until release is finished.

[2022-09-21 16:07] mbolivar-nordic commented on #38566
Process WG:

- @nashif (who could not attend) requests that we make the board tier level recommendations to the TSC, with details to be sorted out by the testing WG assuming TSC approval
- no objections, moving forward with that

[2022-09-21 16:09] mbolivar-nordic commented on #46759
Process WG:

- OK to move to "awaiting TSC approval" based on content of @nashif's presentation given 2 weeks ago

[2022-09-21 16:11] mbolivar-nordic commented on #48887
Process WG: defer until next week since @nashif could not attend today

[2022-09-21 16:13] mbolivar-nordic commented on #46824
Process WG:

- @mbolivar-nordic: how does a word blocklist allow you to say "the $BLOCKED_WORD API is now deprecated"?
- @MaureenHelm : not sure why we don't use the regular deprecation process -- is there something special about this?

@yperess can you attend next week to discuss further if there's still something to handle here?

[2022-09-21 16:13] keith-zephyr commented on #46759
RFC for adding reproducible build check to the CI is on https://github.com/zephyrproject-rtos/zephyr/issues/50205

[2022-09-21 16:18] #50482 closed

[2022-09-21 16:34] marc-hb commented on #50284
It depends. The build system is made of a very large collection of scripts and different parts have different opinions.

Yes, symbolic links break relative paths, this has always been the case. Symbolic links are "quick hacks", they cause countless other issues: https://lwn.net/Articles/899543/

I frequently use symbolic links to avoid spending time solving the real problems and I even submitted s

[2022-09-21 16:44] marc-hb commented on #50284
In the particular case of `#include "../../../modules/hal/nxp/mcux/quick_access_code.ld"` maybe something like this could work:

[code]

Worth a try.

[2022-09-21 17:39] paperclip4465 commented on #50284
In this case it is not a quick hack. The functional deployment model as described in the paper I referenced above introduces a global filesystem by using the cryptographic hashes of a packages input. For example the file /gnu/store/some-hash-zephyr-base.3.1.99 is always the result of a specific computation, ie pulling the git repo and checking out a specific commit, applying whatever patches, etc.

[2022-09-21 18:30] marc-hb commented on #50284
Did you have a look a this article? I restored the URL. It explains why symbolic links are "broken by design". How you use them is mitigation at best. It is from file system experts who spent years trying to fix them.

[2022-09-21 18:38] #49616 closed

[2022-09-21 18:39] #50224 closed

[2022-09-21 18:40] #49019 closed

[2022-09-21 18:43] #49576 closed

[2022-09-21 18:46] #50467 closed

[2022-09-21 18:48] zephyrbot opened #50498 "[backport v2.7-branch] backport of #50493 failed"
This issue was created automatically because the backport of #50493 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-50493-to-v2.7-branch`.

Fixes https://github.com/zephyrproject-rtos/zephyr/issues

[2022-09-21 18:50] #50142 closed

[2022-09-21 18:53] yperess commented on #46824
This is for long migrations that take time. If we deprecate the old API our CI will break. We just want to prevent new uses.

Sure

[2022-09-21 19:21] arturkow2000 opened #50501 "STM32 SPI does not work properly with async + interrupts"
**Describe the bug**
Seems like STM32 shifts the data out during master inactivity period instead of waiting for master to enable SPI clock. After starting the transfer with `spi_transceive_signal` SPI interrupt is fired almost immediatelly, and this results in call to `spi_stm32_shift_s`. SPI activity can be seen on logic analyzer (no clock signal present, but MISO goes low). The data sent is `0x

[2022-09-21 19:25] danieldegrasse opened #50502 "iMX 7D GPIO Pinmux Array Has Incorrect Ordering"
**Describe the bug**
The GPIO `pinmux` array is out of order for some GPIO peripherals on the iMX 7D. This array must be ordered by the GPIO pin and port number, so that when the user requests a specific GPIO to be configured, the correct GPIO pin control settings can be located in the `pinmux` array.

See below the `gpio1` pinmux array:

[code]

**Expected behavior**
This GPIO array must be in or

[2022-09-21 19:29] dcpleung commented on #50498
https://github.com/zephyrproject-rtos/zephyr/pull/50503

[2022-09-21 19:29] #50498 closed

[2022-09-21 19:59] thedjnK commented on #48270
Bug can be closed

[2022-09-21 20:22] paperclip4465 commented on #50284
I did read the article and it highlights the problems of treating the
filesystem as unstructured memory.
I did not want to go so far into the weeds because it seemed unrelated
but chapter 3 of that PDF discusses this issue as it relates to this
deployment model and the parallels between memory management in
languages like c and c++ and the file system.

I think "broken by design" is a bit of an ov

[2022-09-21 21:10] mbolivar-nordic opened #50506 "nxp,mcux-usbd devicetree binding issues"
**Describe the bug**

The point of a  devicetree binding is to describe hardware and its initial configuration. We have carved out a few exceptions for driver-specific property names prefixed with `zephyr,`. However, we should not be designing devicetree bindings to cater to the software requirements of vendor HALs.

This USB device driver binding has a name that seems to specifically refer to the

[2022-09-21 23:31] marc-hb commented on #50284
Interesting analogy. Similarly, the Zephyr build system could (conditional, I do not speak on behalf of "the build system"), make a similar decision not to bother supporting symbolic links because they are generally dangerous - even when some users are using them very safely.  Less hypothetically, reaching large "symlink test coverage" would be impossible because the possibilities are literally in

[2022-09-21 23:55] paperclip4465 commented on #50284
Of course I don't expect the project to bend over backwards for my use-cases, there is no change which doesn't break someone's workflow after all.  When I opened this bug I had no idea where to begin sniffing out where these paths were resolved, I stumbled upon that commit almost by chance. I have a patch which changes the behavior for the zephyr base which ends up in the store so my problem has b

[2022-09-21 23:55] #50284 closed

[2022-09-22 00:13] mengxianglinx commented on #49614
acrn_ehl_crb use apic_tsc timer, for acrn, I suspect that CONFIG_SYS_CLOCK_TICKS_PER_SEC=10000 is too high, I set it to 1000, 800, 500, the failed test cases passed.

[2022-09-22 01:34] Kunli123 commented on #49611
@fabiobaltieri OK ,I will.

[2022-09-22 02:28] zephyrbot opened #50512 "[backport v2.7-branch] backport of #49232 failed"
This issue was created automatically because the backport of #49232 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-49232-to-v2.7-branch`.

[2022-09-22 02:28] zephyrbot opened #50513 "[backport v3.0-branch] backport of #49232 failed"
This issue was created automatically because the backport of #49232 to `v3.0-branch` failed.

The backport to `v3.0-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.0-branch` and the `compare`/`head` branch is `backport-49232-to-v3.0-branch`.

[2022-09-22 02:28] zephyrbot opened #50514 "[backport v3.1-branch] backport of #49232 failed"
This issue was created automatically because the backport of #49232 to `v3.1-branch` failed.

The backport to `v3.1-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.1-branch` and the `compare`/`head` branch is `backport-49232-to-v3.1-branch`.

[2022-09-22 03:01] hakehuang commented on #50293
no it is the peripheral that has DMA can read from,  such register is usually 4 bytes address aligned, but it is platform dependant.

[2022-09-22 04:48] mengxianglinx opened #50515 "Non-existing test cases reported as "Skipped" with reason “No results captured, testsuite misconfiguration?” in test report"
**Describe the bug**
Some test cases reported as Skipped even they never have been compiled into binary.
It happens on all platforms.

Steps to reproduce the behavior, take nsim_em as an example
1.  twister -p nsim_em -T tests/
in twister_report.xml, following test cases labeled as skipped with “No results captured, testsuite misconfiguration?”
libraries.picolibc.sprintf.EOF
libraries.picolibc.spr

[2022-09-22 05:11] mengxianglinx commented on #50515
As of now, there is three kind of cases cause this kind of skip:
1) Test log is lost in handler.log. for example, test case shell.core.cmd_history on acrn_ehl_crb, output of this case is not in handler.log
2) If test cases call k_oops(), panic() which cause fatal error, test case actually passed, but the handler.log is not complete, the test report is not ended as expected.
3) If test case source

[2022-09-22 06:25] benys commented on #50256
@benediktibk please correct me: I2C works now with master code, but not efficient.
You fix that sercom stops clock/transmission faster?

I read L21 / D21 / C21 datasheet and they mention the same thing.

flag (INTFLAG.MB) is '1'.

(I tested on my board i2c "master" code with one i2c sensor and it works)

[2022-09-22 06:46] erwango commented on #50028
I propose to keep the ticket open, so we can track it is cherry-picked in Zephyr TFM fork.

[2022-09-22 06:51] enjiamai commented on #50255
Hi @mengxianglinx , I fixed this by #50477, could you please help review it?

[2022-09-22 07:02] #48270 closed

[2022-09-22 07:03] nordicjm commented on #50284
@marc-hb would you be acceptable to having https://github.com/zephyrproject-rtos/zephyr/commit/62d611a3f8645c74f56f375a8e06b0143b4c34e7 reverted? This is a cmake generated file and will be regenerated by the build system if any configuration changes or if it is moved to a different machine so does not require having a relative path.

[2022-09-22 07:10] nordicjm commented on #50515
CC @PerMac

[2022-09-22 07:10] sam131208 commented on #49008
@sylvioalves Thanks, now it can be compiled and passed.

[2022-09-22 07:10] #49008 closed

[2022-09-22 07:13] sam131208 commented on #48290
@sylvioalves Thanks，i will test it.

[2022-09-22 07:13] #48290 closed

[2022-09-22 07:22] marc-hb commented on #50284
I'm confused, is this revert the "patch" @paperclip4465 mentioned there?

This change was made for a reason. When trying to root cause a reproducibility regression, you want as many generated files as possible to be identical. Imagine for instance that part of the linker script is generated from a randomly ordered dictionary (as they used to be in Python). With relative paths we can compare your g

[2022-09-22 07:30] nordicjm commented on #50284
It does not change the output at all. From generating a build in zephyr as it is today:
[code]
With the following change made:
[code]
Gives the following output files:
[code]
Which match up with the other files. The intermediary build files might not match up, but that does not matter, the build output is the same regardless of type of path used.

[2022-09-22 07:54] tobias-aunbol commented on #50028
yeah good idea, sorry i pulled the trigger to early ;)

[2022-09-22 08:10] Tronil opened #50520 "Bluetooth: bsim eatt_notif test fails with assertion in some environments"
The tests/bluetooth/bsim_bt/bsim_test_eatt_notif/test_scripts/eatt_notif.sh test is failing when run in both CentOS 7.5 and Debian 11 (note that it passes in the Ubuntu 20.04 based docker image used in Github actions). This is with the latest main branch (currently commit 55c4e06b35639d525d214cb3432740a489b7147f).

From running it under valgrind, it looks like the root cause is use of some uniniti

[2022-09-22 08:14] wentong-li commented on #50345
Seems not. IMO, the receiver of L2CAP channel connection req does things in wrong order. Currently, it first call "accept" callback, then "connected" callback, and finally send L2CAP channel connection rsp. And I am sending data over this l2cap channel in "connected" callback. It is fine for the receiver, but the sender of L2CAP channel connection req is waiting for L2CAP channel connection rsp bu

[2022-09-22 08:30] #8945 closed

[2022-09-22 08:31] nordicjm opened #50522 "mgmt: mcumgr: img_mgmt: Failure of erase returns nothing"
**Describe the bug**
In `subsys/mgmt/mcumgr/lib/cmd/img_mgmt/src/img_mgmt.c` is this code:
[code]
This code, should `img_mgmt_impl_erase_slot` return an error, will return an empty response to the mcumgr client, which is not valid

**Expected behavior**
The error code should be returned to the client

**Impact**
Showstopper as function is not within specification

**Environment (please complete th

[2022-09-22 08:42] mengxianglinx opened #50525 "Passed test cases reported as "Skipped" because test log lost"
**Describe the bug**
Test cases passed as expected, but they are labeled as Skipped with reason “No results captured, testsuite misconfiguration?” ,
because the output of the test case missed in handler.log

On platform acrn_ehl_crb, following test cases are labeled as "Skipped"
shell.core.cmd_history
shell.core.cmd_dict
shell.core.cmd_mand_1_opt_raw
shell.core.cmd_clear
arch.x86.pagetables.dump_p

[2022-09-22 10:03] finikorg commented on #50257
Hi @enjiamai , I verified the issue is fixed with the PR mentioned.

[2022-09-22 10:04] nordicjm commented on #42420
After having another play with this I do not think it is worth the effort. Putting the erase in a separate work queue works, the status can then be queried exactly 0 or 1 times, after which mcumgr will drop any incoming data and not send any output or perform any processing until the erase process has completely finished, despite the erase process running in a low priority (7) vs mcumgr (3) - I am

[2022-09-22 10:18] fabiobaltieri opened #50538 "lpcxpresso55s69_cpu0 samples/subsys/usb/dfu/sample.usb.dfu build failure"
**Describe the bug**

Build failure for:

`west build -p -b lpcxpresso55s69_cpu0 samples/subsys/usb/dfu`

fails with

[code]

The check was introduced in

95292e85aa manifest: mcuboot update

@nvlsianpu can you take a look?

This is the only error in the last full run https://github.com/zephyrproject-rtos/zephyr/runs/8482669051

**To Reproduce**
`west build -p -b lpcxpresso55s69_cpu0 samples/subsy

[2022-09-22 10:19] fabiobaltieri commented on #50538
(@stephanosio fyi, from the yesterday's full run)

[2022-09-22 11:00] nordicjm commented on #42420
OK so the limitation with this is when using UART, because the erase process (for internal flash) is a busy-wait with interrupts disabled, meaning that any UART data arriving will be silently ignored, if using a bluetooth transport then this issue is not apparent. Because this would break the UART transport or set up different standards for the protocols I vote to NACK this idea.

[2022-09-22 11:27] carlescufi commented on #44339
Downgrading to Low priority because users can choose to revert back to the legacy LLCP which supports advanced scheduling.

[2022-09-22 11:27] de-nordic commented on #42420
@nordicjm  Are we able to cut erase into smaller portions so that we could respond to requests?

[2022-09-22 11:29] carlescufi commented on #50427
Downgrading to Low because it is not easily reproducible.

[2022-09-22 11:38] nordicjm commented on #42420
No, nothing I do is able to resolve it, probably because the overhead of a work queue item is small but the actual erase process is what blocks for the longest time. I've tried yielding with loops, using delayed work queue items whereby it erases on sector at a time with 150ms delays between each and different variations of everything combined and it will not work via the UART. It actually makes i

[2022-09-22 12:03] de-nordic commented on #42420
Bummer...

@nordicjm  Thanks for investing your time into researching the issue. Taking your analysis, of the problem, into account I am closing the issue, as it is  not possible to implement.

[2022-09-22 12:03] #42420 closed

[2022-09-22 12:18] nordicjm commented on #42420
Test code (if needed in future) uploaded to https://github.com/nordicjm/zephyr/tree/mcuasyncerasetest

[2022-09-22 12:33] henrikbrixandersen opened #50545 "drivers: can: inconsistent behavior when calling can_stop() with pending transmissions"
**Describe the bug**
The in-tree CAN controller drivers exhibit inconsistent behavior when calling `can_stop()` with pending CAN frame transmissions:
- SJA1000 based drivers (ESP32 TWAI) and Bosch M_CAN based drivers automatically abort any pending transmission on `can_stop()`.
- NXP FlexCAN and STM32 bxCAN resumes pending transmissions when later calling `can_start()`.
- MCP2515 fails to enter co

[2022-09-22 12:39] henrikbrixandersen opened #50546 "drivers: can: rcar: inconsistent behavior when calling can_stop() with pending transmissions"
**Describe the bug**
The Renesas R-Car CAN controller drivers likely exhibits inconsistent behavior when calling `can_stop()` with pending CAN frame transmissions similar as to what was reported in #50545. I have not been able to find the behavior of the Renesas R-Car CAN driver as I do not have access to the hardware.

**To check**
Steps to reproduce the behavior:
1. Disconnect the CAN controller

[2022-09-22 12:39] henrikbrixandersen commented on #50545
I have opened #50546 for dealing with the (likely) issue in the Renesas R-Car CAN driver as I do not have access to the hardware to verify its behavior.

[2022-09-22 12:52] desowin opened #50549 "USB: samhs: Device does not work after detach-attach sequence"
**Describe the bug**

`sam_v71b_xult` fails to re-enumerate on the bus after detach (see #50268).

With OpenVizsla, I was able to observe that `sam_v71b_xult` does reattach to the bus but does not reply to GET DEVICE DESCRIPTOR and SET ADDRESS control transfers. Device is recognizing bus resets.

`usb_dc_disable()` does not set `USBHS_DEVCTRL_DETACH` bit, i.e. the code currently clears the bit ins

[2022-09-22 13:24] #47991 closed

[2022-09-22 14:14] #50255 closed

[2022-09-22 14:14] #50257 closed

[2022-09-22 14:42] marc-hb commented on #50284
You missed the point. Intermediate files do matter very much because they're how you root-cause non determinism in a reasonable time. You have to imagine a regression, for instance something in the `.ld` file starts to be non deterministic. Then good luck root-causing that when all intermediate files were always different anyway. Identical intermediate files is how I found and fixed all these repr

[2022-09-22 14:43] gautierg-st opened #50554 "Test uart async failed on Nucleo F429ZI"
**Describe the bug**
The test `tests/drivers/uart/uart_async_api/drivers.uart.async_api` fails on Nucleo F429ZI with the following error
`Assertion failed at WEST_TOPDIR/zephyr/tests/drivers/uart/uart_async_api/src/test_uart_async.c:526: uart_async_write_abort_test_write_abort: (sent not equal to received)
Sent is not equal to received.`

[2022-09-22 14:57] FRASTM commented on #50501
As a 1st test: running tests/drivers/spi/spi_loopback/  on the nucleo_l476rg with CONFIG_SPI_STM32_INTERRUPT=y and CONFIG_SPI_ASYNC=y
[code]

[2022-09-22 14:59] gmarull commented on #48934
So I've been thinking about this use case, and I have the following suggestion that requires **no** modifications to the current device model.

First for DT:

[code]

Then, you can create one device per each MFD entry and still share parent driver's data/config:

[code]

[2022-09-22 15:03] fabiobaltieri commented on #50044
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/50128

[2022-09-22 15:03] #50044 closed

[2022-09-22 15:06] #49897 closed

[2022-09-22 15:14] #49116 closed

[2022-09-22 15:55] arturkow2000 commented on #50501
@erwango I tried DMA+sync and async but without DMA.

I turns out i forgot to set `CONFIG_SPI_SLAVE`, STM32 driver still configures controller to operate in slave mode but driver behaviour is a bit altered as some behaviours does depend on `CONFIG_SPI_SLAVE`. But, after enabling this, SPI stops working at all regardless of used mode FIFO/DMA with or without interrupts, sync/async, and `spi_transce

[2022-09-22 16:17] paperclip4465 commented on #50284
I don't think there should be any expectation that builds run from different points in the filesystem should be identical, let alone builds run on different machines.
Only that builds with the same inputs in the same environment should result the same outputs. Inputs in this case being all of the explicit dependencies/build instructions and environment being everything else.

A build run from `/tm

[2022-09-22 16:21] bjarki-trackunit commented on #48934
@gmarull

This is the nearly identical to the solution proposed in this PR https://github.com/zephyrproject-rtos/zephyr/pull/48932, which does indeed not require any changes.

The multi API model however is solving the usecase for multiple APIs **pr instance**, this solution solves MFDs, by creating three distinct instances, which share context. The Multi API device model is trying to create C++ s

[2022-09-22 16:49] cfriedt commented on #49656
Tests with a randomized value and tests with SMP enabled can sometimes fail due to race conditions and timeouts. Sometimes we need to increase timeouts as a result. In CI, we explicitly retry tests with `--retry-failed $N` for some N (I usually choose 3, and most times the test pass, but sometimes they can fail once).

I would be much more concerned if tests fail in a majority of 10 trials.

@Zhao

[2022-09-22 17:17] gmarull commented on #48934
The example above also solves the same problem. This is important to note, since than means Zephyr can solve your problem, even if not the way your prefer. It also allows us to weight in solutions that involve breaking the device model, including adding runtime overhead. Is it worth doing all these changes for such particular usecase? To me clearly not, unless I’m given a more convincing example.

[2022-09-22 17:41] marc-hb commented on #50284
At #14593 time I achieved that and this is what allowed me to fix all the issues listed there in a reasonable time.

The most important keyword here is **debug**. Remove `-g` to switch to a release build and that's it: you can often instantly pinpoint the root-cause of any reproducibility issue thanks to simple recursive diff on all build outputs. This was possible at #14593 time and it would be a