[2019-03-27 08:38] kubiaj commented on #13913
Hi,
as I didnt file the question I didnt get the notification about your purpose.

The catch here is that user normally dont want to have the ability to write to the flash (when NAND flash is used) - that is why we have MPU. We want to catch the program exception when something goes wrong - when it really try write into FLASH area because some pointer is wrong.

In our SW we need sometime update b

[2019-03-27 08:43] carlescufi commented on #14903
@nordic-krch how about another option, which is enabling `CONFIG_LOG_IMMEDIATE` in those tests? then we wouldn't need to increase the buffer size.

[2019-03-27 08:50] #12241 closed

[2019-03-27 08:50] arnopo opened #14927 "checkpatch: not expected behavior for multiple git commit check."
The checkpatch.pl script should allows to check multi commits by defining a range of git commit.
For instance following command should review the 4 last commits:
 ./scripts/checkpatch.pl --strict --git HEAD-4

But the result of this command is the check of the 4th commit from the head not the 4 last commits of the branch.

**To Reproduce**
 ./scripts/checkpatch.pl --strict --git HEAD-4

**Expected

[2019-03-27 08:57] jhedberg opened #14928 "Bluetooth: Mesh: Provisioning state doesn't always get properly re-initialized when doing reset"
If both PB-ADV and PB-GATT are supported and the node is reset after provisioning, there are several parts of the provisioning state that do not get correctly re-initialized and result in the following fault:
[code]

[2019-03-27 09:20] joerchan commented on #14044
The issue here is dependent on the exact sequence of control packets between the master and slave.

This sequence is this:
M -> S LL_ENC_REQ
M <- S LL_LENGTH_REQ/LL_SLAVE_FEATURE_REQ (not really important which)

M -> S LL_UNKNOWN_RSP

The reason why the workaround for #13983 did not work was that the LL has enqueued the LL_ENC_RSP when it receives LL_UNKNOWN_RSP, and it has already started to rec

[2019-03-27 09:34] nordic-krch commented on #14903
@carlescufi , yes, that could be an option. Timing of printk going through logger with `LOG_IMMEDIATE` will be more or less the same as printk direct to uart.

[2019-03-27 09:38] pabigot commented on #14186
That change was made because `k_busy_wait()` was terminating 30% early for delays less than 100 us (#11626).  I proposed that patch because the shared implementation was obscure while the basic functionality was straightforward.  After getting more experience in Zephyr's internals I can imagine there's some kernel-level entanglement that Zephyr expects that got lost with the custom implementation.

[2019-03-27 09:49] mkarhumaa commented on #14899
Ok, thinks are getting clearer now. It indeed seems that problem is somewhere in USB endpoint.

I captured both usb and hci traffic to same pcap. From the pcap we can see that once things start go wrong we do not get `URB_BULK out`s with type `URB_COMPLETE` for those `URB_BULK out`s with type `URB_SUBMIT` we have sent. Once we give up and disconnect we finally get ÙRB_BULK out` with type `URB_COMP

[2019-03-27 09:57] tbursztyka commented on #14571
@dgloeck ping

[2019-03-27 11:08] pizi-nordic commented on #11908
The /samples/subsys/power sample was removed. The samples/boards/nrf52/power_mgr, which was updated to match recent development in power management area does not support the nrf52_pca20020 board as it lacks buttons and LEDs required by the example. So this bug is no longer valid.

Unfortunately root cause of the behaviour described in this bug is lack of some PM features. But these are covered in

[2019-03-27 11:32] baw-serafin commented on #11908
I think the problem is not pc20020 specific test should be fairly easy. Use a device which loads a driver that waits an a lock (or similar) with K_FOREVER while having power management enabled. Device should not go into deepsleep. If it does it is very broken. As my code base is still 1.13 I can't test myself.

[2019-03-27 11:39] galak commented on #11745
@andrewboie, @nordic-krch any updates on this?

[2019-03-27 11:41] galak commented on #10657
@tbursztyka have you looked at this?

[2019-03-27 11:41] baw-serafin commented on #11908
simething like:
[code]

[2019-03-27 11:54] bluetooth-mdw commented on #14782
For some reason I've not been receiving notifications, even when @bluetooth-mdw is in the comment. Testing, testing. Will check spam folder!

Anyway, just recreated with v1.14.0-rc2 and the peripheral_hr sample. Intend to upgrade my ARM toolchain as I'm running with something from 2017. Maybe that's it.

[2019-03-27 12:05] galak opened #14934 "tinycbor is failing in nightly CI"
In nightly ci having some issue with tinycbor:

https://app.shippable.com/github/zephyrproject-rtos/ci-test/runs/2844/8/tests

[2019-03-27 12:20] galak commented on #14934
Attempted fix:

https://github.com/zephyrproject-rtos/ci-test/pull/14

[2019-03-27 12:25] pizi-nordic commented on #11908
@baw-serafin: Yes, the problem is a generic one. However it is not so easy to fix. At the moment system does not have any information about state of the devices. So there is no simple way to prevent the shutdown. We can of course scan all devices and check if they are busy, but this will be an overkill (note that such scan would be needed on every idleness). These issues was already identified:

H

[2019-03-27 12:34] baw-serafin commented on #11908
@pizi-nordic  I agree it is a hard problem. I can only speak for the nrf52 platform as I don't know the rest.

I think it is a BUG that power_manager can go into deep-sleep as long as there is no automatic wakeup and ram retention this is unsuspected and will to lead to random "crashes" . But If you think the other bugs are explicit enough. You can close this one. But I think only  #14306 applies

[2019-03-27 12:40] pizi-nordic commented on #11908
@baw-serafin: It think that #14306 will be still enhancement as it is hard to find bug in non-existing feature ;-). [The sad fact is that power management is mostly missing in Zephyr. Still the application have to handle most of the stuff].

Regarding this issue I could only propose a workaround: We can disable PM until application does not notify that it is ready to handle all events. What do you

[2019-03-27 12:46] baw-serafin commented on #11908
@pizi-nordic that would be better. Going into a sleep state while bootup makes no sense anyway.

I still see a problem that the application also will not be able to handle a K_FOREVER signal. What should that even mean? I think there should be some kind of logic in the way of:

if (ticks == K_FOREVER) {
      ticks = CONFIG_IDLE_POLL_RATE;
}

Because nobody want's to sleep autonomic for FOREVER. I

[2019-03-27 12:52] mkarhumaa commented on #14899
After all this ended up being problem in `subsystem/usb/class/bluetooth.c`.

If we ran out of buffers in acl_tx_pool we stopped reading stuff from hci tx endpoint.

See pr: https://github.com/zephyrproject-rtos/zephyr/pull/14936

[2019-03-27 12:53] nashif commented on #14903
raising to high, this is causing many tests to fail.

[2019-03-27 12:55] pizi-nordic commented on #11908
The problem is that drivers are using K_FOREVER to wait for interrupt (which is a bit silly - we should have timeout there) and PM assumes that any interrupt is able to wake-up the chip form any sleep mode which is simply not true. As result the application have to do a kind of micromanagement using sys_pm_force_power_state() and sys_pm_ctrl_enable/disable_state().

It has a lot of sense if you ha

[2019-03-27 13:25] bluetooth-mdw commented on #14782
Updated ARM tools and now I get this:

[code]

[2019-03-27 13:27] carlescufi commented on #14782
@bluetooth-mdw that is a known bug in `8-2018-q4-major`. You need to install `7-2018-q2-update` instead.

[2019-03-27 13:43] joerchan commented on #14044
The UNKNOWN RSP has been added in Core Spec version 5.0
So this is no longer a workaround, but a spec requirement.

[2019-03-27 13:54] bluetooth-mdw commented on #14782
Thanks @carlescufi . Installed the q2-update version and with 1.14-rc2 I still get the same problem:
[code]

With 1.14-rc1 checked out, I don't get this problem. The hex file installs fine. This does seem to be 1.14-rc2 related.

[2019-03-27 13:59] baw-serafin commented on #14927
Yes this is anoying, I have a little script on our jenkins maybee one can use this a base fo a solutions
[code]

[2019-03-27 14:04] carlescufi commented on #14782
@bluetooth-mdw 	I wonder what the difference is then. I cannot reproduce this on my machine at all, using the exact same commands as you and the same toolchain.

[2019-03-27 14:15] nashif commented on #14934
This is not fixed zephyrproject-rtos/ci-test#15

[2019-03-27 14:15] #14934 closed

[2019-03-27 14:20] joerchan commented on #14044
@Olivier-ProGlove
Can you confirm that the fix in #14913 resolves this issue?

[2019-03-27 14:30] masz-nordic opened #14937 "usb: mass: support multiple disks"
**Is your enhancement proposal related to a problem? Please describe.**
Current implementation of USB MSC uses
```static const char *disk_pdrv = CONFIG_MASS_STORAGE_DISK_NAME;```
to determine which disk is being used. This limits use case to a single disk.

**Describe the solution you'd like**
MSC should be able to handle multiple disks at once, for example one RAM and one FLASH disk to be visible

[2019-03-27 14:33] gvancuts commented on #14289
This seems to have come back (sigh), I cannot identify what changed in the meantime and the failure has been reported by different sources. I've tried the latest Clear Linux version (as of today: 28510) and the problem is reproducible in that environment too... reopening.

[2019-03-27 14:48] bluetooth-mdw commented on #14782
It seems to relate to an older version of the DAPLink firmware on my micro:bit.

The problem occurs with my old microbit which states Interface version 0234 in the Details.txt file which is accessible via the mbed mass storage drive. I updated to 0250 per https://microbit.org/guide/firmware/ and re-tested. The problem did not occur. I also tested with another micro:bit that had Interface Version 0

[2019-03-27 14:48] #14782 closed

[2019-03-27 15:37] erwango commented on #14397
Fixed by #14799

[2019-03-27 15:37] #14397 closed

[2019-03-27 15:53] cvinayak commented on #14044
@FrankGorgenyi  @carlescufi @Olivier-ProGlove FYI https://github.com/zephyrproject-rtos/zephyr/issues/14044#issuecomment-477160491

[2019-03-27 16:00] gvancuts commented on #14289
One of the `CFLAGS` setting in Clear Linux is causing this, if you unset it before calling the script, it will successfully generate the `grub_x86_64.efi` file.

A (pretty unrefined) patch would be to unset this from the script directly, i.e.:
[code]

**Note:** this only unsets `CFLAGS` in the context of the script. Clear Linux environment still has it after you run the script.

[2019-03-27 16:20] galak opened #14942 "tests/posix/fs don't build on em_starterkit_em11d"
`./scripts/sanitycheck -T tests/posix/fs -p em_starterkit_em11d`

Gets:

[code]

[2019-03-27 16:35] galak commented on #14942
We can easily exclude this board, but it seems like the configuration with its build about what we think is "FLASH" and what we think is "SRAM" might not be right.

[code]

[2019-03-27 16:40] galak commented on #14942
I'm not clear which memory on the em11d we expect to be running out of.  The dts seems to imply DDR.  `zephyr,sram = &ddr0;` But I think the linker scripts have a different idea.

[2019-03-27 16:56] carlescufi commented on #14927
I don't think this is a Zephyr bug though, we use `git diff` to invoke `checkpatch` so I think this might need to be reported to the upstream `checkpatch` maintainers:

https://github.com/zephyrproject-rtos/ci-tools/blob/master/scripts/check_compliance.py#L191

[2019-03-27 16:59] kubiaj commented on #9904
The following tests have been conducted on nrf52_pca10014 and Zephyr v1.14.0-rc2.

Findings
1) According to the documentation, the k_sleep should sleep for duration of milliseconds. But practically it will always sleep in number of ticks, i.e. multiply of 10ms by default. This is confusing. If the user relies on ms timing, he will be surprised. E.g. in our tests we have set k_sleep(15) expecting t

[2019-03-27 17:05] markrages opened #14943 "config BOARD_HAS_NRF5_BOOTLOADER not honored for nrf52840_pca10059"
To make executables that load with the n5 bootloader, we have this config option in `boards/arm/nrf52840_pca10059/Kconfig`:

[code]

But it doesn't work.  The executable is still linked at 0x0, not 0x1000.

**To Reproduce**
1. `west build -d build/nRF52/blinky -s zephyrproject/zephyr/samples/basic/blinky -b nrf52840_pca10059`
2. `head build/nRF52/blinky/zephyr/linker.cmd` gives this output:

[code

[2019-03-27 17:07] markrages commented on #14943
zephyr/.config has `CONFIG_TEXT_SECTION_OFFSET=0x1000` but this isn't actually applied when the linker script is generated.

The linker script uses `CONFIG_FLASH_BASE_ADDRESS=0x0` and ignores `TEXT_SECTION_OFFSET`.

[2019-03-27 17:16] pfalcon commented on #14903
That's what appears to be the issue. As discussed before, printk is one thing, logging is another. Trying to mix them up leads ... well, to weird mix-ups.

[2019-03-27 17:19] gnuless commented on #9506
This bug should not have been closed, as #14846 addressed some issues related to this bug, but not all.

[2019-03-27 17:38] markrages opened #14945 "nrf52840_pca10059 executables do not work without mcuboot"
**Description**

The LED blink example build for nrf52840_pca10059 does not work when loaded with nRF Connect.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -d build/nRF52/blinky -s zephyrproject/zephyr/samples/basic/blinky -b nrf52840_pca10059 -- -DCONFIG_FLASH_BASE_ADDRESS=0x1000` (the define is necessitated by #14943)
2. Load executable with nrfutil:
[code]
3. The LED is not

[2019-03-27 17:51] markrages opened #14946 "cdc_acm example doesn't work on nrf52840_pca10059"
**Describe the bug**
CDC_ACM example doesn't work in nrf52840_pca10059.  The USB device doesn't appear.

**To Reproduce**
I build using the workaround in #14945:
1. `west build -d build/nRF52/mcuboot -s mcuboot/boot/zephyr -b nrf52840_pca10059 -- -DCONFIG_FLASH_LOAD_OFFSET=0x1000 -DCONFIG_FLASH_LOAD_SIZE=0xf000`
2. `west build -d build/nRF52/cdc_acm -s zephyrproject/zephyr/samples/subsys/usb/cdc_a

[2019-03-27 18:12] andrewboie opened #14947 "no user mode access to MQTT subsystem"
MQTT is built on sockets, but MQTT client instances have an embedded k_mutex which can't live in userspace. Hence any attempts to use these APIs generate a fault.

The preferred fix would be into introduce a mutex API which don't require the mutexes to be in kernel space.

[2019-03-27 19:01] pfalcon commented on #13943
I finally did a new test sweep-over against revision 972221423. The results can be found in https://docs.google.com/spreadsheets/d/1_8CsACPEXqrMIbxBKxPAds091tNAwnwdWkMKr3994QY/edit#gid=0 as usual. Summary is:

* eth_stellaris (qemu_cortex_m3) is completely broken. It sends packets with 14 extra bytes, which points to some issues with Ethernet header handling.
* eth_e1000 mostly works, though I had

[2019-03-27 20:02] #14807 closed

[2019-03-27 20:33] andrewboie commented on #14828
Also if this is to be fixed for 1.14, I think a small non-invasive change should be made, such as setting MPU_GUARD_ALIGN_AND_SIZE to the larger value if CONFIG_FLOAT is turned on.

[2019-03-27 20:33] jukkar commented on #14740
Sure, why not. We can of course name the files as we like here, perhaps we could even name the files without the "overlay" string as that seems to be a bit redundant, so something like `common-e1000.conf` instead of `common-overlay-e1000.conf` or `overlay-e1000.conf`

[2019-03-27 20:47] andrewboie commented on #14869
does not fail on qemu_nios2

[2019-03-27 21:05] pfalcon commented on #14740
IMHO, this superfluous and precludes some interesting usecases. Instead, I'd like to draw attention again to "overlay config path" idea, like `.:${ZEPHYR_BASE}/.../overlays`. Note that current directory is the first entry. That means that some overlay file like `overlay-foo-feature.conf` would normally be stored in a common overlay dir. But if current app would need to make some additional tweaks

[2019-03-27 21:17] aasthagr opened #14950 "[Coverity CID :197465]Integer handling issues in /samples/bluetooth/ipsp/src/main.c"
Static code scan issues seen in File: /samples/bluetooth/ipsp/src/main.c
 Category: Integer handling issues
 Function: udp_received
 Component: Samples
 CID: 197465
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-27 21:17] aasthagr opened #14951 "[Coverity CID :197464]Memory - corruptions in /subsys/bluetooth/host/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/host/gatt.c
 Category: Memory - corruptions
 Function: bt_gatt_discover
 Component: Bluetooth
 CID: 197464
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-27 21:17] aasthagr opened #14952 "[Coverity CID :197463]Memory - corruptions in /samples/bluetooth/central_hr/src/main.c"
Static code scan issues seen in File: /samples/bluetooth/central_hr/src/main.c
 Category: Memory - corruptions
 Function: discover_func
 Component: Samples
 CID: 197463
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-27 21:17] aasthagr opened #14953 "[Coverity CID :197462]Memory - corruptions in /subsys/bluetooth/host/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/host/gatt.c
 Category: Memory - corruptions
 Function: gatt_find_info_rsp
 Component: Bluetooth
 CID: 197462
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-27 21:17] aasthagr opened #14954 "[Coverity CID :197461]Insecure data handling in /subsys/usb/usb_device.c"
Static code scan issues seen in File: /subsys/usb/usb_device.c
 Category: Insecure data handling
 Function: usb_set_configuration
 Component: Other
 CID: 197461
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-27 21:17] aasthagr opened #14955 "[Coverity CID :197460]Integer handling issues in /samples/bluetooth/ipsp/src/main.c"
Static code scan issues seen in File: /samples/bluetooth/ipsp/src/main.c
 Category: Integer handling issues
 Function: tcp_received
 Component: Samples
 CID: 197460
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-27 21:17] aasthagr opened #14956 "[Coverity CID :197459]Memory - corruptions in /subsys/bluetooth/shell/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/shell/gatt.c
 Category: Memory - corruptions
 Function: cmd_discover
 Component: Bluetooth
 CID: 197459
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-27 21:17] aasthagr opened #14957 "[Coverity CID :197458]Insecure data handling in /subsys/usb/usb_device.c"
Static code scan issues seen in File: /subsys/usb/usb_device.c
 Category: Insecure data handling
 Function: usb_set_interface
 Component: Other
 CID: 197458
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-27 21:17] aasthagr opened #14958 "[Coverity CID :197457]Control flow issues in /subsys/bluetooth/host/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/host/gatt.c
 Category: Control flow issues
 Function: gen_hash_m
 Component: Bluetooth
 CID: 197457
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-27 21:37] #14762 closed

[2019-03-27 21:58] jhedberg commented on #14956
Marked as false-positive in Coverity

[2019-03-27 21:58] #14956 closed

[2019-03-27 22:00] jhedberg commented on #14953
Marked as false positive in Coverity

[2019-03-27 22:00] #14953 closed

[2019-03-27 22:00] jhedberg commented on #14952
Marked as false positive in Coverity

[2019-03-27 22:00] #14952 closed

[2019-03-27 22:01] jhedberg commented on #14951
Marked as false positive in Coverity

[2019-03-27 22:01] #14951 closed

[2019-03-27 22:36] markrages commented on #14946
Here's backtrace:

[code]

[2019-03-27 23:46] jfischer-phytec-iot commented on #14957
I think we need appropriate macros in usb_device.h, something like:

[code]

and checks for that in `bool usb_set_interface(u8_t iface, u8_t alt_setting)` or `usb_dc_ep_configure(const struct usb_dc_ep_cfg_data * const cfg)`.

[2019-03-28 00:08] #14244 closed

[2019-03-28 00:12] markrages commented on #14946
Waiting for DTR is like #13662. Except I am sure the device is plugged in to USB -- that's how I loaded the code.

[2019-03-28 00:17] overheat commented on #13468
Ok, I will take this and try to fix it today.

[2019-03-28 00:17] lpereira commented on #14493
One of the things that futexes could be used for is to move the network stack to user mode.

What I imagine that could be made here is to keep L2 drivers in kernel mode --  but their device type could expose ring buffers for transmission and reception that L3 upwards (running in user mode) could use and synchronize with futexes.

If you want inspiration for this kind of thing, you may want to look

[2019-03-28 00:21] jfischer-phytec-iot commented on #14946
micro USB connector labeled as "nRF USB" is also connected to the host?

[2019-03-28 00:44] markrages commented on #14946
@jfischer-phytec-iot the '59 is the dongle, see picture on this unrelated bug: https://github.com/NordicSemiconductor/pc-nrfconnect-programmer/issues/116#issuecomment-477321052

[2019-03-28 01:50] chinli commented on #13212
@pfalcon how's it going about the http lib? what the schedule of it?

[2019-03-28 03:16] andrewboie commented on #13212
Higher-level protocols need to be compatible with user mode.

[2019-03-28 03:40] hakehuang commented on #14609
this is test setting issue. close it

[2019-03-28 03:40] #14609 closed

[2019-03-28 03:47] hakehuang commented on #14605
can some one try my binary? I can always reproduce it on rt1060 boards

[evkmimxrt1060_cpp_synchronization_flexspi_nor_zephyr.zip](https://github.com/zephyrproject-rtos/zephyr/files/3016100/evkmimxrt1060_cpp_synchronization_flexspi_nor_zephyr.zip)

[2019-03-28 03:51] hakehuang commented on #14293
test setting issue, close it. @MaureenHelm @galak

[2019-03-28 03:51] #14293 closed

[2019-03-28 04:04] andyross commented on #9904
I don't disagree that on nRF5, the aliasing issues with timing get difficult.  But note that **someone** has to eat this complexity.  If k_sleep() et. al. (1) takes ticks, then code that expects to be portable suddenly has to do complicated timing math (essentially the **same** complicated timing math you're complaining about!).  What's the guarantee that if we change everything that we won't just

[2019-03-28 04:40] markrages commented on #14946
So, this worked once.

I did the `git bisect` dance, and learned two things:
1. usb is not working with the #1495 workaround. Instead compile with `west build -d $BUILDDIR -s $SOURCEDIR -b nrf52840_pca10059 -- -DCONFIG_FLASH_LOAD_OFFSET=0x1000 -DCONFIG_FLASH_LOAD_SIZE=0x1f000`
2. `cdc_acm` example works before 5977b3db2f29d169adcf032149be4cab94964829, and is broken from then on.

[2019-03-28 06:30] rgundi commented on #14186
@carlescufi Can somebody from nordic take a look at d4b4b99? Perhaps modify or worst case, revert the patch?

[2019-03-28 06:50] arun1joshi commented on #12632
verified ok on commit [cf91f8cf90]

[2019-03-28 06:52] overheat commented on #13468
@chiachuanwu Could do test this patch on sam_e70_xplained? It works on arduino_due, that I have tested.

[2019-03-28 07:02] finikorg commented on #14957
So we continue to check endpoint address at device controllers and MPS in usb_device, right?

[2019-03-28 07:06] bdrlamb commented on #12726
@xiaoliang314 I wasn't using the absolute latest version, but it definitely included commit dff6b71.  The issue was my fault (calling kernel functions in NMIs) and I have not encountered it since.

[2019-03-28 07:32] chiachuanwu commented on #13468
@overheat , i had tested  PR#14968 , arduino_due board passed, but sam_e70_xplained board still failed, console log as below:

**arduino_due** PASSED
[code]
**sam_e70_xplained** (FAILED)

[code]

[2019-03-28 08:11] overheat commented on #14283
@cinlyooi-intel Hi, I think #14968 will resolve those issues on ATSAMxxxx based boards, like arduino_due(which I have tested)

[2019-03-28 08:16] cinlyooi-intel opened #14970 "samples/drivers/watchdog: Not showing "Waiting for reset..." for nrf boards"
**Describe the bug**
We are expecting to see the line "Waiting for reset...". However, we did not see it.

**To Reproduce**
Affected boards are
 - nrf51_pca10028 (frequency: occasional)
 - nrf52_pca10040 (frequency: 50:50)
 - nrf52840_pca10056 (frequency: almost always affected)

Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52840_pca10056
3. make
4. make run

**Scr

[2019-03-28 08:27] chinli commented on #13212
@pfalcon @andrewboie Rightnow, is there any alternative solution?

[2019-03-28 08:39] finikorg commented on #14957
Or maybe we can have
[code]

[2019-03-28 08:43] cinlyooi-intel commented on #14749
Updated the list on 20190328

[2019-03-28 08:47] chinli commented on #14467
@tgorochowik how's going about the http api. Is there any alternative solution?

[2019-03-28 08:49] kubiaj commented on #9904
Can you please specify what you mean with "code that expects to be portable"? Is the k_sleep compliant with some standards or it has been designed by Zephyr?
If it has been designed by Zephyr, then it makes sense to fix it rather now and later. Zephyr is still in very early stage. The problem will only grow and it will explode one day.

I don't think it is related only with nRF5x. The conversion b

[2019-03-28 09:01] jfischer-phytec-iot commented on #14946
Tested with reel board and frdm-k64f, works fine.

[2019-03-28 09:01] cinlyooi-intel opened #14972 "samples: Create README.rst"
Please create README.rst for the following samples in samples directory.

- [ ]  application_development/external_lib
- [ ]  application_development/out_of_tree_board
- [ ]  application_development/code_relocation
- [ ]  crypto/mbedtls_benchmark
- [ ]  boards/intel_s1000_crb/audio
- [ ]  boards/intel_s1000_crb/dmic
- [ ]  boards/intel_s1000_crb/i2s
- [ ]  boards/up_squared/gpio_counter
- [ ]  driv

[2019-03-28 09:10] cinlyooi-intel opened #14973 "samples: Specify the board target required for the sample"
Please specify the board target used to run the sample in README.rst

- [ ] drivers/led_wd2812
- [ ] drivers/crypto
- [ ] drivers/CAN
- [ ] drivers/led_lp8806
- [ ] drivers/led_apa102
- [ ] drivers/rtc
- [ ] drivers/gpio
- [ ] basic/disco
- [ ] nfc/nfc_hello
- [ ] sensor/sx9500
- [ ] sensor/mcp9808
- [ ] sensor/bme280
- [ ] sensor/bmg160
- [ ] sensor/grove_temperature
- [ ] sensor/max44009
- [ ] s

[2019-03-28 09:32] tgorochowik commented on #14467
@chinli Hopefully at least a minimal HTTP API implementation will be ready for 1.15. So far we don't even have a decision as you can see.

If by _alternative solution_ you mean something that you can use now and with current Zephyr tree, then I am afraid there may be nothing that will work out of the box.
Implementing/porting something to be a part of the application is always an option though.

Y

[2019-03-28 09:38] carlescufi opened #14974 "Kconfig.modules needs to be at the top level build folder"
Today we are generating `Kconfig.modules` inside `build/zephyr` but that is not accurate to what it represents. Since it is a result of running `west list` on the forest, this should not be tied to zephyr and should instead be at the top-level `build/` folder.
Now that we have an actual module in the upstream tree (tinycbor) it only makes sense that we have the list of modules where it belongs.

[2019-03-28 09:48] #14899 closed

[2019-03-28 10:09] jfischer-phytec-iot commented on #14957
I suggest to add a common usb_dc_validate_ep_config(struct usb_dc_ep_cfg_data *ep_cfg, bool speed) function and call it from the drivers.

[code]

[2019-03-28 10:11] arnop2 commented on #14927
I performed news tests on my side. For this I compared the script with the Linux kernel one.

In fact the parse of the multi git commit is working well. The issue is that the script exists on first patch checked without error or warning because the $mailback variable is set to 1 ( set to 0 for Linux kernel).
This result in an exit of the script if no issue found for a commit, without parsing the r

[2019-03-28 10:24] baw-serafin commented on #14927
This result in an exit of the script if no issue found for a commit, without parsing the rest of the patch list.

That's sounds like a Bug to me;) Or the variable is very strangely named. None the less good work. Maybe we can get it working without upstream fixes than.

[2019-03-28 10:35] carlescufi commented on #9904
@andyross I think we cannot expect every nRF-based application to implement this by itself. This has been raised by several users both upstream and downstream so it is my impression that there is justification to solve this problem in a way that is reusable across applications. By that I am not suggesting any change in particular, just for timer accuracy with low power, low frequency timers to be

[2019-03-28 11:11] pizi-nordic commented on #9904
@andyross, @carlescufi, @nashif: As you see the whole discussion about timers is continuously repeating. Could we eventually fix these issues?

Just short recap of the things that should be changes in my opinion (any comments welcome):
- Get rid of tick alignment from the kernel. The API specifies that k_sleep() sleeps from `now()` to `now() + timeout`. Not from `magic_tick_alignment(now())`  to `

[2019-03-28 11:12] lemrey commented on #14945
This issue does not seem valid, since the "nRF Connect App" is not documented as a supported DFU method for this board. The support DFU method is via `nrfutil`.

[2019-03-28 11:22] lemrey commented on #14946
Hi @markrages, could you please check if https://github.com/zephyrproject-rtos/zephyr/pull/14978 fixes this issue. Thank you.

[2019-03-28 11:36] pabigot commented on #9904
@kubiaj I agree with much of your first comment here, but from the second I don't believe Zephyr is internally perceived to be in its early stages. There's a core of Intel engineers who have been working on it for at least four years, and there's a lot of corporate investment and marketing that is inconsistent with accepting a description of it as immature.

Which it is.  I spent three months in l

[2019-03-28 12:17] masz-nordic commented on #12775
@raveslave Can you make a separate issue for Audio 2.0? I think @pawelzadrozniak is implementing 1.0.

[2019-03-28 12:31] ruuddw commented on #14942
This is related to PR #14811.
Somewhere a /1024 is applied in the dts magic, and emsk linker script does additional /1024, resulting in 128k instead of 128M memory size.

Generated dts section:
`/* memory@10000000 */
#define DT_MMIO_SRAM_0				1
#define DT_MMIO_SRAM_10000000_BASE_ADDRESS	0x10000000
#define DT_MMIO_SRAM_10000000_SIZE		134217728
#define DT_SRAM_BASE_ADDRESS			0x10000000
#define DT_SR

[2019-03-28 12:54] leapslabs commented on #9904
Hi All, I am TDK (Kai) and will help my colleague @kubiaj to take over this discussion on behalf of our team. He will be out of the office in the upcoming days.

@pizi-nordic  So far I can give these comments

1) "Get rid of timeout alignment" - yes, I think it is important to not introduce uncertainty. It can use ticks or time but not something in between.

2) "Regarding the the tick abstraction"

[2019-03-28 13:07] MaureenHelm commented on #14605
I tried it and it works.
[code]

[2019-03-28 13:23] #14974 closed

[2019-03-28 13:28] finikorg commented on #14957
@jfischer-phytec-iot `usb_dc_validate_ep_config()` would make impression that this is device controller function. It would be called only from set_endpoint(), or do we want it to be called from device controllers?

[2019-03-28 13:30] #12501 closed

[2019-03-28 13:38] #9463 closed

[2019-03-28 13:39] galak commented on #14942
The linker script needs fixing.  We've always scaled DT_SRAM_SIZE by 1024 in Zephyr.  I want to change that, but haven't gotten around to cleaning it up.

[2019-03-28 13:41] #14903 closed

[2019-03-28 13:48] carlescufi commented on #2921
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/12068

[2019-03-28 13:48] #2921 closed

[2019-03-28 13:49] carlescufi commented on #3256
Fixed

[2019-03-28 13:49] #3256 closed

[2019-03-28 14:22] #14958 closed

[2019-03-28 14:24] galak opened #14985 "Clarify in release docs NOT to use github tagging."
If we use github to tag it doesn't create an 'annotated' tag for a pre-release (not sure if it does for a release).

So we get:

[code]

Where `git describe --tag` does:

[code]

[2019-03-28 14:31] galak commented on #14985
Not sure if we want to add --tag to 'git describe' or try and make sure we always annotate tags?

[2019-03-28 14:40] #14928 closed

[2019-03-28 14:40] pizi-nordic commented on #14186
I have found root cause of such behaviour. All the details are below:

- The nRF5x chips have 2 distinct clocks (Low Frequency and High Frequency).
- Each clock could be generated by dedicated RC or crystal oscillator.
- The default configuration of the test selects XTAL oscillator for LF clock (but does not wait for oscillator startup) and RC for the HF clock.

Since the k_busy_wait() uses CPU cl

[2019-03-28 14:42] #14568 closed

[2019-03-28 14:55] Qbicz opened #14988 "USB device not recognized on PCA10056 preview-DK"
**Describe the bug**
nrf52840_pca10056, USB DFU sample. USB device used to be recognized in the past, with recent Zephyr it's unusable with following message on Windows:

`USB Device Not Recognized. One of the USB devices attached to this computer has malfunctioned and Windows does not recognize it. For assistance in solving this problem, click this message.`

![image](https://user-images.githubus

[2019-03-28 14:55] Qbicz commented on #14988
@nvlsianpu FYI

[2019-03-28 15:03] dbkinder commented on #14313
I'd call it "fixed" now.  We **could** go through every ``:c:func:`xxx` `` reference and change to simply `` `xxx` ``, but that's not necessary right now since most of the references are working today with the domain-specific syntax.

[2019-03-28 15:03] #14313 closed

[2019-03-28 15:05] Qbicz commented on #14988
I tried going back in history with bisect, but all old revisions resulted in the same problem. Toolchain issue? Tried on a few different kits.

[2019-03-28 15:14] pfalcon commented on #14313
@dbkinder: While working on https://github.com/zephyrproject-rtos/zephyr/pull/14912, I see cases when neither `` `xxx` `` nor `` :c:func:`xxx` `` works. Mostly FYI, didn't try to investigate those in more detail to report more detail. And that's in turn complicated by a couple of screensfuls of warnings generated during "normal" doc build process (so any possible warnings from user changes are dro

[2019-03-28 15:28] dbkinder commented on #14313
Alas, there are some "known warnings" because of known issues with doxygen/Sphinx/Breathe interactions (such as the "duplicate declaration" and "Unexpected identifier" warnings you're seeing).  We have a filtering process added to scan through the reported warnings looking for "known warnings" that's reporting the "No new errors/warnings." at the end of the run.  Previously, we only wrote out when

[2019-03-28 15:40] galak commented on #12825
@nordic-krch Can you take a look at this issue.

[2019-03-28 15:43] galak commented on #14927
Does this work with the upstream version of checkpatch?

[2019-03-28 15:44] carlescufi commented on #14988
This sounds like it needs an `.inf` file. @masz-nordic?

[2019-03-28 15:46] markrages commented on #14946
@lemrey yes, #14978 fixes it.

[2019-03-28 15:48] galak commented on #14789
#14841

[2019-03-28 15:50] masz-nordic commented on #14988
No, this message appears when the device fails during enumeration.
I was actually unable to reproduce with Zephyr 373a42b and MCUBoot ebd0503 - device is enumerated properly.

[2019-03-28 15:51] pfalcon commented on #14313
Well, I'm also seeing warnings of ambiguous paths (for :file: or something), which I imagine, could be fixed. (Let me know if you'd need more info on those.)

Ok, those cases can be see even right now in https://docs.zephyrproject.org/latest/reference/networking/sockets.html .

* From start of doc, search for "zsock_socket". You'll see that it has formatting as an xref, but there's no actual link

[2019-03-28 15:51] markrages commented on #14946
The #14945 workaround did not work for USB example, I assume because https://github.com/zephyrproject-rtos/zephyr/pull/14875

[2019-03-28 15:53] markrages commented on #14945
@lemrey edited to show nrfutil use.  The file is linked incorrectly, so the programmer script makes no difference.

[2019-03-28 15:57] galak commented on #14985
We should handle this via tagging by hand and not via github.  Want to update https://docs.zephyrproject.org/latest/development_process/release_process.html#tagging

to clarify NOT to use github.

[2019-03-28 15:58] carlescufi opened #14989 "Doc build does not include the zephyr modules Kconfig files"
When building the doc, the `Kconfig.*` files in the modules (`Kconfig.tinycbor` at this point) are not being included due to the documentation build system currently creating an empty `Kconfig.modules` file:

`file(TOUCH ${CMAKE_CURRENT_BINARY_DIR}/Kconfig.modules)`

So we need to actually process the modules to populate the `Kconfig.modules` file.

[2019-03-28 16:12] mbolivar opened #14992 "West documentation is largely missing"
The documentation for west has several inaccurate statements when it comes to the multi-repo commands, and is missing entirely for several features:

- configuration
- extension commands in general
- the sign extension command

Additionally, API documentation is missing.

Since west is part of the getting started guide now, we need to fix this so users can learn how to use it without having to mak

[2019-03-28 16:12] lemrey commented on #14945
This is issue is still confusing, since you apply a workaround and argue that the result is not what expected; you are not supposed to manually override the `FLASH_LOAD_OFFSET`.

I think all the issues you have opened are rooted in one, real issue: https://github.com/zephyrproject-rtos/zephyr/issues/14943,
for which I have opened a PR: https://github.com/zephyrproject-rtos/zephyr/pull/14978.

Plea

[2019-03-28 16:17] galak opened #14994 "Enable flash_shell on all platforms with a flash_driver"
There's an old PR for doing this here:

PR #13702

We probably need a mix of board support and Kconfig to determine if the sample is valid.

[2019-03-28 16:19] lemrey commented on #14943
Hi @markrages, could you please check if #14978 fixes this issue. Thank you.

[2019-03-28 16:25] markrages commented on #14943
Fixed by #14978, thank you.

[2019-03-28 16:27] markrages commented on #14945
@lemrey I agree, my three issues all stem from #14943 (and #14875.)

I will close them all when #14978 is merged.

[2019-03-28 16:41] vanti commented on #13444
@galak the build error that I encountered by following the procedure in the "To Reproduce" section is still present.

[2019-03-28 16:54] #14943 closed

[2019-03-28 16:55] carlescufi commented on #14945
Closing, #14978 is merged

[2019-03-28 16:55] #14945 closed

[2019-03-28 16:55] carlescufi commented on #14946
@markrages is this one fixed too by #14875? If so, could you please close it? Thanks!

[2019-03-28 16:56] carlescufi commented on #14988
Setting prio as low since this impacts a single sample, not a single board.

[2019-03-28 17:14] markrages commented on #14946
Everything appears to work with #14978 and #14875 merged.

[2019-03-28 17:14] #14946 closed

[2019-03-28 18:42] andrewboie opened #14996 "enhance mutex tests"
We have two tests in tests/kernel/mutex. Merge their scenarios into one test, and test all scenarios with both k_mutex and sys_mutex APIs. Could probably use function pointers to repeat tests with each API set.

[2019-03-28 19:31] galak opened #14997 "Convert samples/sensor/bme280/src/main.c to use printk instead of printf"
Replace printf with printk in samples/sensor/bme280/src/main.c

[2019-03-28 20:06] ulfalizer commented on #14240
SYS_LOG was removed in https://github.com/zephyrproject-rtos/zephyr/pull/14883.

[2019-03-28 20:06] #14240 closed

[2019-03-28 20:09] #14186 closed

[2019-03-28 21:36] laperie commented on #14749
@erwango , we have a spreadsheet https://docs.google.com/spreadsheets/d/1peGvQQg2gXogputGtR0DrUNLDM1FWqR3m7bamueRSSE/edit#gid=0 that has more details, for networking and bluetooth at least. I think for 1.14 you can use that one too.

[2019-03-28 22:04] mike-scott commented on #14749
@nashif I marked lwm2m_client as tested last week in the spreadsheet, but its not reflecting here?

[2019-03-28 23:16] arturorosete0 commented on #9578
This worked for me. All the system variables were setted correctly. My error was the following:
![image](https://user-images.githubusercontent.com/19495617/55198777-106f4400-517d-11e9-9303-e782f0b5719e.png)

[2019-03-29 00:38] iha commented on #3727
@lpereira, sorry I couldn't get enough time to do this driver :/

[2019-03-29 02:12] chinli commented on #14467
@tgorochowik well, so badly. I have no idea about this issue, but if there was any schedule upgrade or need someone work it, please let me know. thanks!

[2019-03-29 02:39] cinlyooi-intel commented on #14500
@wentongwu : How do I increase CONFIG_PRIVILEGED_STACK_SIZE? and to what value? Many thanks

[2019-03-29 02:42] hakehuang commented on #14605
@MaureenHelm , thanks a lot, Ineed check my board for this issue.

[2019-03-29 02:42] #14605 closed

[2019-03-29 02:50] wentongwu commented on #14500
Today I will submit a PR for this issue, but it will take some time for mps2_an385. I have already submit a PR for qemu_x86. Thanks.

[2019-03-29 03:22] cinlyooi-intel commented on #14499
@wentongwu : Do you get this error `linker_pass_final.cmd:65 cannot move location counter backwards (from 000000000002e34e to 000000000002dfaa)` at all?

[2019-03-29 04:02] overheat commented on #13468
@cinlyooi-intel @chiachuanwu After digging deeper with GDB, I found that section .noinit be cleared during the boot process on ATSAME70, it's wrong according to line 422 in ```"zephyr\include\arch\arm\cortex_m\scripts\linker.ld"``` and ARM spec.  I think it is probably a bug inside ATSAME70 SoC itself, not Zephyr. I will open another issue to discuss it, but before that could you both give a revie

[2019-03-29 04:17] vonhust opened #15003 "init_iface in net_if.c should check api->init"
**Describe the bug**
the init_ifcae should check api->init is not NULL before calling it.

Although `NET_ASSERT(api && api->init)` is added to check, but if ASSERT is not enable and api->init is null,  this will cause sw restart.

A possible case of `api->init == null` is, if the hardware init of net interface called in `z_sys_device_do_config_level` failed, i.e retval !=0, then `info->driver_api`

[2019-03-29 05:51] wentongwu commented on #14499
I didn't get this. which case are you running? Did you apply my PR?

[2019-03-29 06:38] chiachuanwu commented on #14898
hi @carlescufi  @Laczen , sorry for late reply, i had updated the reproduced steps.
The target board should be "nrf52840_pca10056 ", instead of "nrf51_pca10028 " .

I tested this sample on "nrf51_pca10028 " target board, the console output log looks correct.

But on "nrf52840_pca10056 " target board, the console output log looks not the same:
[code]

[2019-03-29 08:06] Laczen commented on #14898
Hi @chiachuanwu, the sample seems to run perfectly. The messages you are seeing are related to the logger, you have quite a lot of dropped messages. If you consider these messages as a bug you should file a bug for the logger: "Logger: to many dropped messages when running sample samples/subsys/nvs".

[2019-03-29 08:08] cinlyooi-intel commented on #14499
@wentongwu :
Two scenarios

(1)  Pure PR15002 no longer have handler_crash, but does not generate gcov data
[code]
Examining the output shows aht the GCDA data is not created:
[code]

(2) If I merge PR15002 into master branch
[code]
Handler crash again. if we look at `build.log` we have  the error shown in [previous comment]([https://github.com/zephyrproject-rtos/zephyr/issues/14499#issuecomment-4

[2019-03-29 08:16] chiachuanwu commented on #14898
hi @Laczen noted, i will close this issue.

[2019-03-29 08:40] #14898 closed

[2019-03-29 08:58] wentongwu commented on #14499
@cinlyooi-intel  without my PR, master branch also can't run sanitycheck. It's not my PR cause master branch broken, please open another github issue to track the issue. Thanks

[2019-03-29 09:00] mnkp opened #15008 "SWO logger backend produces no output in 'in place' mode"
**Describe the bug**
The SWO logger backend produces no output if CONFIG_LOG_IMMEDIATE Kconfig option is enabled. Otherwise it works as expected. The support for SWO backend has been overlooked when the new API for 'in place' mode has recently been added.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=efr32_slwstk6061a ../samples/subsys/logging/logger/

[2019-03-29 09:08] cinlyooi-intel opened #15009 "sanitycheck --coverage on qemu_x86: cannot move location counter backwards"
*** Description ***
When trying to run coverage check, linker failed with `cannot move location counter backwards (from 0000000000047b1c to 0000000000047774)`

*** To Reproduce ***
[code]
*** Info ***
OS: fedora29
ToolChain: zephyr
CommitID: f5a4a698ec

[2019-03-29 09:17] cinlyooi-intel commented on #14499
@wentongwu: Sent (2) to https://github.com/zephyrproject-rtos/zephyr/issues/15009. Not going to deal with issue (1) for now as it would had been blocked by issue (2) if I filed a GitHub ticket for it. It is also unclear whether issue (1) will persist once issue (2) is resolved.

[2019-03-29 09:34] wentongwu commented on #14499
@cinlyooi-intel for issue (1), I also run it on mps2_an385, but there isn't gcda data. also my PR dosen't cause the problem. It seems we see another issue after fixed your original reporting. Thanks

[2019-03-29 09:36] #14985 closed

[2019-03-29 09:39] #14950 closed

[2019-03-29 09:39] #14955 closed

[2019-03-29 09:40] cinlyooi-intel commented on #13468
Sorry, still seeing the issue on master  after #14466 is merged into it. Also see this when testing PR #14968 on its own

os: fedora29
toolchain: zephyr
commit: f5a4a698ec17e6a78299966a1a3fe73c3404b78d
board: sam_e70_xplained

screenshot
[code]

[2019-03-29 10:02] pdunaj opened #15012 "Unable to establish security after reconnect to dongle"
**Describe the bug**
We have two devices: mouse (peripheral) and dongle (central). Dongle connects to mouse when the other one is available. Until around two weeks ago everything was working fine but lately security cannot be established after one of the device reconnects.

I found out that the problem is in `ll_enc_req_send` that rejects starting an encryption
[code]

There was recently a change

[2019-03-29 10:03] cinlyooi-intel opened #15013 "tests/kernel/fatal: check_stack_overflow: (rv equal to TC_FAIL)"
**Describe the bug**
This is a different bug from #13934 because it occurred at a different line

**To Reproduce**
Boards: quark_se_c1000_ss_devboard, nrf52840_pca10056, nrf52_10040

Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=quark_se_c1000_ss_devboard -DARCH=arc
3. make
4. See error

**Expected behavior**
A clear and concise description of what you expected to happ

[2019-03-29 10:11] aescolar commented on #15013
@cinlyooi-intel, thanks for the report, to speed up things it would be a bit nicer, please:
* refer to bugs using GH notation #XYZ so they are automatically linked
* label the bug with the appropriate area (if you can)

Note that commit you mention cannot be found in the upstream tree (is there a copy paste mistake?)

[2019-03-29 10:24] #14992 closed

[2019-03-29 10:25] Qbicz commented on #14988
This issue occurs on PCA10056 preview DKs, version 0.9.0 and 0.10.0. These are engineering samples which are obsolete anyway.

On PCA10056 0.12.0 and 1.0.0 problem cannot be reproduced.

[2019-03-29 10:25] carlescufi commented on #15012
Setting high priority since this is a critical regression

[2019-03-29 11:11] carlescufi commented on #14988
Closing since this is a hardware problem

[2019-03-29 11:11] #14988 closed

[2019-03-29 11:27] akshhr opened #15017 "Not able to set "0xFFFF No specific value" for GAP PPCP structured data"
Currently, it is not possible to set the following parameters to "0xFFFF No specific value"
CONFIG_BT_PERIPHERAL_PREF_MIN_INT
CONFIG_BT_PERIPHERAL_PREF_MAX_INT
CONFIG_BT_PERIPHERAL_PREF_TIMEOUT
This is required as per the specification document, core v5.0, vol 3, part C, section 12.3 Peripheral preferred connection parameters characteristic.

[2019-03-29 11:46] cinlyooi-intel opened #15018 "tests/kernel/threads/no-multithreading: Not booting"
**Describe the bug**
Cannot see any sign that the board is booting up

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=altera_max10
3. make
4. make run

 - OS: fedora29
 - Toolchain zephyr
 - Commit SHA or Version used:  f5a4a698ec17e6a78299966a1a3fe73c3404b78d

[2019-03-29 11:47] hakehuang commented on #14293
@MaureenHelm  I find the root cause of this problem is:
I set the SDRAM clock to 166M the context switch will be very slow, exceed the 1s limitation. and after raise the SDRAM clock them this issue will be resolved.

[2019-03-29 11:55] cinlyooi-intel opened #15019 "tests/kernel/common: test_bitfield: test_bitfield: (b1 not equal to (1 << bit))"
**Describe the bug**
Assertion occured at test_bitfield(), i.e.

test_bitfield: (b1 not equal to (1 << bit))

Observed for both test cases `kernel.common` and `kernel.common.misra`

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=altera_max10
3. make
4. make run

**Screenshots or console output**
[code]
**Environment (please complete the following inform

[2019-03-29 12:21] jhedberg commented on #15017
So the range needs to be extended to 0xffff in Kconfig and then we probably also want a `BUILD_ASSERT(within_range(val) || val == 0xffff)`

[2019-03-29 12:26] nashif commented on #15018
boot delay was removed when running in a single thread. So it is a test setup issue, not a zephyr bug. Need to exclude this from testing or test manually.

[2019-03-29 12:26] #15018 closed

[2019-03-29 12:27] nashif commented on #15019
duplicate of #7909

[2019-03-29 12:27] #15019 closed

[2019-03-29 12:29] nashif commented on #14973
You can get the data from the sample.yaml file and based on filters. Those samples should run majority of boards.

[2019-03-29 12:50] StefJar commented on #11844
Hey ho
I am try to build a own test project on the latest commit (d3bb3cfd7a4a2358ba7927d5913ecbeb5cfaf577) with RTC for a stm32f412 based custom board. It fails with:

[code]
@ @erwango looks the power driver issue is not fixed. Can you please have a look.

a quick setup:
[code]
thx

[2019-03-29 12:53] pizi-nordic commented on #15013
I run this test using current master (d3bb3cfd7a4a2358ba7927d5913ecbeb5cfaf577) on the nrf51_pca10028, nrf52_pca10040 and nrf52840_pca10056. The test was repeated 100 times on each board. All iterations passed successfully on all boards.

Could somebody run this on the quark_se_c1000_ss_devboard?

[2019-03-29 13:02] StefJar opened #15021 "set the RTC time & date manually and getting timestamps with ms/ns resolution"
To sync distributed systems, I like to set the RTC time and date.
It would be perfect if the RTC API provide an API for that.

Maybe getting a (date)timestamp directly out of the API would be useful as well.

So far the ZephrOS documentation is not clearly telling, from which source the OS is generating its ticks and how it behaves when we have more than one possible source available.
Using the ti

[2019-03-29 13:08] erwango commented on #11844
@StefJar , RTC driver is to be deprecated. It should now be replaced by drivers/counter/counter_ll_stm32_rtc.c. Issue is fixed for this driver.
So we can fix the issue to avoid compilation issue in rtc_ll_stm32.c, but for your development, I'd advise to move to counter RTC usage as a more future proof solution.

[2019-03-29 13:35] jfischer-phytec-iot commented on #10967
tested with `samples/net/wpanusb` and `samples/net/sockets/echo_server`, can not reproduce the issue with current master, close it.

[2019-03-29 13:35] #10967 closed

[2019-03-29 13:37] #14942 closed

[2019-03-29 13:43] nashif commented on #13574
@nvlsianpu what about documenting fcb and nffs?

[2019-03-29 13:45] nashif commented on #12955
closing this catchall issue

[2019-03-29 13:45] #12955 closed

[2019-03-29 13:55] nashif commented on #15013
@pizi-nordic it fails for me on nrf52840_pca10056.
Note that there are two tests, the test that fails is

`tests/kernel/fatal/kernel.common.stack_sentinel`

[2019-03-29 13:59] nvlsianpu commented on #13574
FCB doc I can copy form MyNewt.
NFFS is under fixing now - expects that It will change a lot. I would only refer to its design.txt file and describe its limitation.

[2019-03-29 14:08] nashif commented on #14766
what are the plans for this issue? Is it going to be fixed for 1.14 release?

[2019-03-29 14:23] pizi-nordic commented on #15013
@nashif: Ehhh. I used prj.conf. Allow me to check that again...

[2019-03-29 14:36] raveslave opened #15025 "USB Audio Class 2.0 host & device drivers"
I'd like to see USB-Audio Class 2.0 (UAC2) support

Advantages:
- Lower latency on MCU's with USB 2.0 High Speed support
- Increased channel count & higher sample-rates/bit-depths
- More flexible clock domains
- Better device descriptors to be able to present features

For instance the i.MX RT 1050 board has support for both USB HS, Host & Device.
Could perhaps be a good starting-board to add supp

[2019-03-29 15:24] pizi-nordic commented on #15013
@nashif: I have re-run all the tests using sentinel.conf in the same manner as described here: https://github.com/zephyrproject-rtos/zephyr/issues/15013#issuecomment-477986903

I have not seen even single occurrence of the bug.

[2019-03-29 15:39] dbkinder opened #15027 "doc: PDF generation broken"
**Describe the bug**
Generating a PDF version of the Zephyr documentation displays some errors and creates PDF output with bad formatting in the Network Stack Architecture section through the end of that chapter.

Note that this documentation section uses a floating image to create a two-column effect that renders fine for the HTML docs, but not for the PDF.  I suspect we'll need to add some speci

[2019-03-29 17:08] arnop2 commented on #14927
@galak  not sure to get the upstream project but this variable exist in Linux kernel.

The behavior  is related to the .checkpatch.conf which defines the option --mailback.
This option has been introduced in the initial revision of the file (commit 9020c57934d52aeea9566322e20bd5fd56bf1d0b)

By cleaning the related line in  .checkpatch.conf file the issue is not reproduced...
Any idea about the rea

[2019-03-29 17:35] andrewboie commented on #14766
Implementation is in progress.

[2019-03-29 17:37] andrewboie commented on #15013
I've seen this from time to time in CI runs, I've definitely seen it on qemu_xtensa and mps2_an385.

[2019-03-29 17:39] andrewboie commented on #15013
[code]

This is the same bug as #13934

[2019-03-29 17:47] pfalcon opened #15031 "net: 9cd547f53b "Fix ref counting for the net_pkt" allegedly broke reference counting"
Culprit, based on dissecting: 9cd547f53b7474945e94111e5f8ce9b05fa9579c

Steps to reproduce: samples/net/sockets/dumb_http_server BOARD=qemu_x86 OVERLAY=overlay-e1000.conf (which got added only in 946836577bb1adfe62e25771b8d565d2074d162f), then as usual run `ab -n1000 http://192.0.2.1:8080/`.

Seen behavior (100% and exactly reproducible):

[code]

Expected behavior: 1000 requests should go thru.

[2019-03-29 17:50] pfalcon commented on #15031
This would be "Priority: High". But as I'm not a release manager, I don't set it.

[2019-03-29 17:50] pfalcon commented on #15031
Also reproducible with default set up of dumb_http_server (i.e. qemu_x86 + SLIP).

[2019-03-29 17:53] pfalcon commented on #15031
Also reproducible with BOARD=mps2_an385 CONF_FILE="prj.conf overlay-smsc911x.conf".

[2019-03-29 18:55] nashif commented on #14586
can't reproduce and no additional details.

[2019-03-29 18:55] #14586 closed

[2019-03-29 18:55] nashif commented on #14623
cant reproduce and no additional details.

[2019-03-29 18:55] #14623 closed

[2019-03-29 19:48] carlescufi commented on #14970
@kl-cruz could you please take a look at this?

[2019-03-29 20:07] andrewboie commented on #15013
This is really a problem with the test case. On a tickless system, you can busy wait as long as you want but you're not guaranteed to get a timer IRQ. I need to contemplate a better way to exercise this. Meanwhile, downgrading to 'low'.

[2019-03-29 20:15] #14693 closed

[2019-03-29 20:30] jukkar commented on #15031
Hmm, I will investigate this. The original commit I sent fixed a real issue. It seems that the fix exposed some other issue.

[2019-03-29 20:31] andrewboie commented on #15013
PR sent, putting back to medium as this causes spurious CI failures in some cases even with retries

[2019-03-29 20:47] andrewboie commented on #14499
This is the same issue as #14500
Closing this so this doesn't count as two bugs.

[2019-03-29 20:47] #14499 closed

[2019-03-29 20:48] jukkar commented on #15003
If the device configuration fails, then obviously the interface cannot be used. I just wonder how the init pointer can be null as typically it is set at compile time by `NET_DEVICE_INIT()` and should be always available. Could you point to the sources of the device driver that causes this issue?

[2019-03-29 21:34] andrewboie opened #15035 "build breakage on two ARC targets: missing arc_exc_saved_sp"
[code]

[2019-03-29 22:24] andrewboie opened #15037 "xtensa: context returns to thread after kernel oops"
**Describe the bug**
See CI failures for #15032

What is happening is that a thread is blowing its stack which generates a call to z_except_reason(). k_thread_abort() gets called and the thread should never return to its faulting context.

Instead, the thread returns to where it faulted! After the "Caught system error" observe that the thread continues to run, failing the test case.

[code]

[2019-03-29 22:41] #15035 closed

[2019-03-29 23:12] andrewboie commented on #15037
Some more details:

1. The timer interrupt fires. On the way out of the timer interrupt, xtensa_excint1_c() in the xtensa arch code makes a call to z_get_next_switch_handle().
2. z_get_next_switch_handle() in kernel/sched.c calls z_check_stack_sentinel()
3. Since we blew the stack, z_check_stack_sentinel() calls z_except_reason(_NANO_ERR_STACK_CHECK_FAIL)
4. xtensa has no arch-specific Z_ARCH_EXCE

[2019-03-29 23:51] andrewboie commented on #15009
The fix for this is to increase CONFIG_KOBJECT_TEXT_AREA.

[2019-03-29 23:54] andrewboie commented on #14766
Setting to low, in current code this may not reveal the true stack buffer, but does not point to memory outside of the stack object.

[2019-03-30 00:24] andrewboie opened #15039 "ADC drivers adc_read_async() keep pointers to sequence"
adc_read_async() is an asynchronous call. However, it keeps a pointer to the sequence struct and stores it within the adc context, which gets used even after adc_read_async() returns. this pointer could belong to memory that is freed, or lives on the stack.

need to make a copy of it.

[2019-03-30 02:03] nashif commented on #14641
this was already fixed by #14558

[2019-03-30 02:13] #15013 closed

[2019-03-30 02:13] #15037 closed

[2019-03-30 02:17] nashif commented on #15013
ok, looks like this happens with CONFIG_BOOT_DELAY=1000 in prj.conf, something the hardware test setup does...

[2019-03-30 02:19] nashif commented on #15013
With fix from @andrewboie this is now resolved also with `CONFIG_BOOT_DELAY=1000`

[2019-03-30 02:21] #14789 closed

[2019-03-30 02:50] #13584 closed

[2019-03-30 03:11] #14513 closed

[2019-03-30 03:11] #14989 closed

[2019-03-30 05:48] dcpleung opened #15041 "qemu_x86: no coverage data is produced"
When doing coverage with `qemu_x86`, there is nothing between `GCOV_COVERAGE_DUMP_START` and `GCOV_COVERAGE_DUMP_END` in the output, and thus no coverage data is produced. This is due to `__gcov_init()` not being called. The `gcov_static_init()` requires an array of init functions to call, but under i586, there is no such init array being produced by compiler.

This is fixed by PR https://github.c

[2019-03-30 07:03] andrewboie opened #15044 "ARC: test failure in tests/kernel/threads/thread_apis"
Seen on nsim_sem_mpu_stack_guard and nsim_em_mpu_stack_guard

[code]

[2019-03-30 09:49] jukkar opened #15046 "Native_posix: command line handling: Hint users why an option does not exist"
I just compiled `samples/net/sockets/dump_http_server` which does not enable UART by default. I then tried to start the sample app using this command `zephyr/zephyr.exe -attach_uart` but got an error `Incorrect option '-attach_uart'`. It took some time to figure out what was going on.

Anyway, my point was that the all the command line options should be always available. If the option is not reall

[2019-03-30 10:19] aescolar commented on #15046
( Changing to enhancement, as this is indeed an enhancement request, not a bug :) )

Uhm... The thing is, many options exist only when a given driver/component/application is compiled in. There is no central place where all possible options are known.

It would be certainly possible to change the error message, and help message, so they would hint the user about why an option is not available (Say

[2019-03-30 13:36] jukkar commented on #15046
After looking how the command line options are done, I understand that is indeed difficult task to do what I was proposing. Your suggestion for a hint "Incorrect option %s. Did you miss-spell it? Is that feature supported in this build?"  sounds like a good workaround.

[2019-03-30 15:00] jukkar opened #15050 "Using TCP in zperf causes free memory access"
There is a fix for this at #15045 but creating the issue just in case it is required. Basically the original code caused free memory access in certain cases in TCP workflow like when a packet was not sent properly outside. The issue was easily seen in zperf but the fix is generic one. See the commit itself for better description.

[2019-03-30 22:06] ioannisg opened #15056 "arch: arm: arch.mode variable _not_ initialized to nPRIV in user space enter"
It seems that a user thread's `arch.mode` state variable is not initialized to mode::user, for threads entering user mode. This may cause a critical error for a user thread that ends up executing in PRIV mode. The scenario is, briefly, as follows:

- under `CONFIG_USERSPACE=y`, a thread reads `thread.arch.mode` field in a context-switch, to select the appropriate privilege mode
- `thread.arch.mode

[2019-03-31 15:12] #14289 closed

[2019-03-31 19:10] galak opened #15059 "Fix builds w/o modules"
Builds fail if Kconfig.modules doesn't exist.  This is a change of build behavior late in the 1.14 process due to commit bd7569f.  We need to restore the ability to build as things where if no west/no modules needed.

[2019-03-31 20:34] carlescufi commented on #15059
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/15042

[2019-03-31 20:34] #15059 closed

[2019-03-31 20:35] carlescufi opened #15061 "Builds on Windows are broken due to invalid zephyr_modules.txt parsing"
Windows paths include `:` characters, which is also the separator between name and path of a module in `zephyr_modules.txt`. This breaks the parsing of this file and with it the build

[2019-03-31 20:36] carlescufi commented on #15061
@ioannisg FYI

[2019-03-31 23:27] #15061 closed

[2019-04-01 00:37] cinlyooi-intel commented on #7908
Reopened because it is  observed again for f89735fb401a82ac64414d14331733ab1db5ce3f

[2019-04-01 00:56] cinlyooi-intel opened #15063 "tests/subsys/settings/fcb/src/settings_test_save_unaligned.c fail with assertion failure on nrf52_pca10040"
Same as #13734. Created new bug instead of reopening because of
 - the time passed since bug was closed.
 - Observed on second platform

The tests in tests/subsys/settings/fcb/src/settings_test_save_unaligned.c fail with assertion failure on nrf52_pca10040 and nrf52840_pca10056:arm. It occurs on both tests/subsys/settings/fcb/base64 and tests/subsys/settings/fcb/raw/

**Commit ID: ** 89735fb401a82

[2019-04-01 02:00] wentongwu commented on #15009
PR #15005 should fix this issue.

[2019-04-01 03:21] vonhust commented on #15044
@andrewboie @ruuddw   this is caused by
`if ((char *)thread->stack_info.start ==
			K_THREAD_STACK_BUFFER(tstack)) {`

one of issues caused by the mismatch in stack_info.  It's not a critical issue. I plan to clear them in 1.15
When MPU_STACK_GUARD is enabled. The layout of thread's stack area will be

| User stack layout |
| ------ |
| user stack defind in K_THREAD_STACK_DEFINE  |
| stack guard |

[2019-04-01 03:36] vonhust commented on #15003
@jukkar
the device related info may be cleared in kernel/device.c line 61
[code]
the failure will not stop the call of `net_init->init_rx_queue->net_if_init`, then

const struct net_if_api *api = net_if_get_device(iface)->driver_api = NULL (set by line61);

[2019-04-01 06:55] cinlyooi-intel opened #15064 "tests/kernel/fp_sharing: undefined reference k_float_disable()"
**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=qemu_x86
3. make
4. See error

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora29
 - Toolchain zephyr
 - Commit SHA or Version used: f89735fb401a82ac64414d14331733ab1db5ce3f

**Additional context**
Add any other context about the problem he

[2019-04-01 07:17] jukkar commented on #15027
Even thou this issue is seen with networking documentation, I think it is more about an issue in documentation system itself, so assigning to David for a time being.

[2019-04-01 07:20] jukkar commented on #15003
Indeed, that is unfortunate that the API struct is cleared. Can you propose a patch that adds the check to net_if.c?

[2019-04-01 07:47] nordic-krch commented on #11745
no update. maybe @andrewboie could help me with answering question above.

[2019-04-01 07:49] zagor commented on #13212
FYI we have written a simple and fully static (no malloc) http server in my current project at Xylem, using the Zephyr http-parser, tls and sockets. I have secured approval to upstream this and will create a pull request for initial discussions soon.

[2019-04-01 07:49] ivakyb opened #15065 "[Question] How to override/disable compiler flags added by Zephyr"
These flags are added when compiling with `west build -b stm32f4_disco .`:
[code]

Flags set in project root `CMakeLists.txt`

    set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++17")
    set(CMAKE_CXX_FLAGS  "${CMAKE_CXX_FLAGS} -Wall -Wextra -Wno-unused-variable -Wno-comment")

appear before flags added by Zephyr.

I also tried

    set_target_properties( app PROPERTIES COMPILE_FLAGS "-Wno-unused

[2019-04-01 09:46] paulgavrikov opened #15067 "bluetooth: bt_set_name rejects names of size CONFIG_BT_DEVICE_NAME_MAX"
**Describe the bug**
`bt_set_name(const char *name)` in hci_core.c will refuse names that are of length `CONFIG_BT_DEVICE_NAME_MAX`

[2019-04-01 10:00] ioannisg opened #15069 "arch: arm: thread arch.mode not always inline with thread's privilege mode (e.g. system calls)"
Here is a a description of the FSM around an ARM thread's mode with few examples, that help revealing the issue:

Assume a thread running in user mode. Assume, naturally: `arch.mode = nPRIV`

Example 1 - System call:

- `CONTROL = PRIV` (`arch.mode = nPRIV`)
- system call code
- `CONTROL = nPRIV`
- return from system call (`arch.mode = nPRIV`)

Note: during the system call arch.mode contains outda

[2019-04-01 10:04] finikorg opened #15070 "ieee802154: Configuration for CC2520 is not working"
When enabling CC2520 configuration I have error in `cc2520_init()` function

net/sockets/echo_server + `-DOVERLAY_CONFIG=overlay-cc2520.conf`
[code]

wpanusb + `-DOVERLAY_CONFIG=overlay-cc2520.conf`
[code]

[2019-04-01 10:29] gon1332 commented on #15065
@nikooikono

[2019-04-01 10:36] pdunaj opened #15073 "Device crashes when starting with USB connected"
**Describe the bug**
[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
Connect USB cable, observe USB working fine. Reset device - observe device dying.

**Expected behavior**
Device should be able to work fine when starting with USB connected.

**Impact**
Showstopper

**Screenshots or console output**

**Environment (please complete the following information):**
zephyr ncs: `0bf52

[2019-04-01 10:36] pdunaj commented on #15073
Hi @pawelzadrozniak , is this something new?

[2019-04-01 10:38] ioannisg opened #15074 "ARM: Fix/Enhance Floating Point for ARM Cortex-M architecture"
This is an umbrella issue for fixing the floating point implementation for the ARM stack in Zephyr.

In high-level description, we will focus on the following issues

- [x]  When only `CONFIG_FLOAT `is defined, FP co-processor is not shared between threads. Therefore, we won't be in need of stacking/un-stacking the FP context. The ESF structure can, additionally, skip reserving space for the FP co

[2019-04-01 12:21] ioannisg commented on #15069
FYI @andrewboie @agross-korg

[2019-04-01 12:29] tbursztyka commented on #10657
See #8339

[2019-04-01 12:45] pdunaj commented on #15073
[code]

[2019-04-01 12:47] carlescufi commented on #15073
@pdunaj can you revert https://github.com/zephyrproject-rtos/zephyr/pull/14875/commits/8604d086669a193e35b63b138a9c0f4baadf06d4 and see if it fixes it?

[2019-04-01 12:47] jfischer-phytec-iot commented on #15073
It is broken after bdde5fd98489013b7ac477e8549f218497bf3f06, https://github.com/zephyrproject-rtos/zephyr/pull/14875.

With current master, the device does not exit the while loop inside [nrfx_usbd_enable()](https://github.com/zephyrproject-rtos/zephyr/blob/master/ext/hal/nordic/nrfx/drivers/src/nrfx_usbd.c#L1748)

[code]

[2019-04-01 12:55] pdunaj commented on #15073
Hi @carlescufi , sure. Will be back in a sec.

[2019-04-01 13:00] pdunaj commented on #15073
Hi @carlescufi , I reverted `bdde5fd98489013b7ac477e8549f218497bf3f06` (seems to be the commit you referred to on the ncs fork) and issue is gone. If we cannot do quick revert and upmerge then I propose to revert it on fork until fix is ready upstream.

[2019-04-01 13:25] finikorg commented on #15070
Reverting commit 25d17db96bf2a986adcc666448f1a233e60888d9 fixes the issue

[2019-04-01 13:29] pdunaj opened #15077 "Cannot boot application flashed to nrf52840_pca10059"
**Describe the bug**
For some reason Zephyr chooses to flash it at 0x1000 not 0x0 for scenario without bootloaded.

**To Reproduce**
Steps to reproduce the behavior:
Build and flash dongle.

**Expected behavior**
Should boot from 0x0 if no bootloader support enabled.

**Impact**
Showstopper.

**Screenshots or console output**
N/A

**Environment (please complete the following information):**
zephyr

[2019-04-01 13:30] pdunaj commented on #15077
Probably somebody change configuration in DTS yet again...

[2019-04-01 13:34] pdunaj commented on #15077
Probably this one `500fa722fb4ae971f2f0668bc02af9c001168e42`. I guess only one configuration is assumed and other ignored.

[2019-04-01 13:37] pdunaj commented on #15077
Hi @lemrey , we don't use MBR and so would like load address be 0 if no mcuboot and slot0 if mcuboot is present. As it is now we cannot boot our dongle at all as `FLASH_LOAD_OFFSET` points to incorrect place in memory.

[2019-04-01 13:43] pdunaj commented on #15077
The problem is BOARD_HAS_NRF5_BOOTLOADER. Can this be converted into project specific options instead of a board option?

[2019-04-01 14:21] Qbicz opened #15083 "MCUBoot is linked to slot0 because overlay is dropped in boilerplate.cmake"
**EDIT**: Clarification on request from @SebastianBoe: This issue is the same as https://github.com/JuulLabs-OSS/mcuboot/issues/399. However, I suspect the problem to be in Zephyr boilerplate.cmake, not in MCUBoot.
Main problem is that when `mcuboot/boot/zephyr/CMakeLists.txt` is provided with `-DDTC_OVERLAY_FILE` from command line, it is not appended to the list of overlayed files, but used inste

[2019-04-01 14:26] #12611 closed

[2019-04-01 14:26] rgundi commented on #13223
@dcpleung @sathishkuttan This is really weird but i am seeing exactly the opposite behaviour with the HEAD at 766edd449d6c9b654ca49aa21390b9514e9e6aa6. The static K_MEM_SLAB_DEFINE works whereas the dynamic k_mem_slab doesn't.  k_mem_slab_alloc fails the first time itself (line number 621 in file drivers/i2s/i2s_cavs.c) citing "insufficient memory". I didn't see any exception though. Can you guys

[2019-04-01 14:34] nashif opened #15085 "Sanitycheck when running on devices is not counting samples in the final report"
**Describe the bug**

Sanitycheck when running on devices is not counting samples in the final report.

**To Reproduce**

`sanitycheck  --device-testing --device-serial /dev/ttyACM0 -p frdm_k64f --detailed-report frdm_k64f.xml`

**Expected behavior**

Results from sample tests should be in the final report

**Impact**

Incomplete test data

**Additional context**

Many samples still have generic i

[2019-04-01 14:39] jfischer-phytec-iot commented on #15083
Is it the same issue as #15077?

[2019-04-01 14:51] #15067 closed

[2019-04-01 14:53] Qbicz commented on #15083
No, #15077 is for PCA10059. This issue is for compiling MCUBoot from application directory. In our application, we added `ninja mcuboot` target which looks like this https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/samples/nrf_desktop/CMakeLists.txt#L131

With previous revisions, MCUBoot `hex` was linked from `0x0000` if it was built with the CMake command mentioned.

Now `hex` is

[2019-04-01 15:20] lemrey commented on #15077
`nrf52840_pca10059` has no debugger, so the default behavior is different from other boards; you have to use `nrfutil` to program it. This behavior is documented ([here](https://docs.zephyrproject.org/latest/boards/arm/nrf52840_pca10059/doc/index.html)), as are the instructions to have it instead be linked from 0x00.

Can you achieve the desired behavior by selecting the `fstab-debugger` partition

[2019-04-01 16:02] lemrey commented on #15083
What you say is slightly incorrect, MCUboot is not linked from 0x00 but in `boot_partition`.
That's done by `dts.overlay` under `/mcuboot/boot/zephyr`, when compiling MCUboot.

I see in your `CMakeList.txt` file that you specify an overlay manually and do not select the `boot_partition`. I suppose that the overlay in MCUboot is not applied in that case; though I am not entirely clear why your imag

[2019-04-01 16:23] #15085 closed

[2019-04-01 16:31] andyross commented on #9904
Can someone point to an example of an OS that implements timing the way you want?   I recognize that I've become sort of a whipping boy for issues of timing of all sorts, so maybe my input isn't really desired here.  Some of the criticisms just don't make sense to me (in particular the ones about "tick abstractions" -- in the presence of pervasive tickless, ticks are just a scaling factor, you can

[2019-04-01 16:39] #15031 closed

[2019-04-01 16:39] #15050 closed

[2019-04-01 16:42] andyross commented on #9904
More broadly, I think I'm going to take myself out of the timer design discussions.  The goals of the rewrite in 1.14 were to shrink the code size, simplify driver implementation, unify the kernel timeout handling, fix a bunch of existing bugs (especially on nRF), and make CONFIG_TICKLESS_KERNEL the pervasive default.  And as I see it (and yeah, I may be the only one) that's been an outrageous suc

[2019-04-01 16:54] ubicore opened #15087 "SDK migration 0.9.5 -> 0.10.0 increase CPU usage"
**Describe the bug**
New SDK 0.10.0 toolchain seems to significantly increase CPU usage, the new SDK 0.10.0 Newlib a lot.

------------------------------------------------------------------
Test case
------------------------------------------------------------------
I do CPU average usage test on an audio compression task using the opus codec.
------------------------------------------------------

[2019-04-01 17:49] paulgavrikov opened #15090 "FIFO: Clarify doc for k_fifo_alloc_put"
**Describe the bug**
The doc for `k_fifo_alloc_put``makes it sound as if the actual data is allocated but only the head is.

**Expected behavior**
Point out that data isn't stored in the FIFO. E.g.:

[2019-04-01 17:49] paulgavrikov commented on #15090
@jhedberg

[2019-04-01 19:23] andrewboie commented on #14599
@hexiangdong2017 Have you looked at tests/drivers/adc/adc_api?

[2019-04-01 19:37] #12207 closed

[2019-04-01 20:21] marc-hb opened #15093 "zephyr_library_compile_options() lost support for duplicates"
**Describe the bug**

PR #14776 / commit 915a35325562 changed function zephyr_library_compile_options() to use MD5 instead of RANDOM for build reproduction reasons. As later predicted by @SebastianBoe  in the PR (thx), the names generated for these pseudo-libraries won't be unique anymore if the exact same flag gets added more than once.

**To Reproduce**

Simply add the following two lines in som

[2019-04-01 21:05] marc-hb commented on #15093
@SebastianBoe could you please help assess the impact? Not sure whether this should make v1.14.0 or not.

[2019-04-01 21:17] pfl opened #15096 "Cannot build samples/net/ipv4_autoconf"
Building samples/net/ipv4_autoconf for sam_e70_explained fails with errors. Upstream is at 1eead93a483bbb758e8ad418f3f715b4fe6d285c.
[code]
...
[code]

[2019-04-01 21:58] paulgavrikov opened #15098 "Bluetooth: GATT Unsubscribe doesn't work if a new parameters are used."
**Describe the bug**
If `bt_gatt_unsubscribe` is called with other parameters than the subscribe was called it will not work and return `-EINVAL` because it does not actually compare the handles.

**Expected behavior**
Unsubscribe should happen by comparing the handles.

[2019-04-01 21:59] paulgavrikov opened #15099 "Bluetooth: GATT Subscribe does not detect duplicate if new parameters are used."
**Describe the bug**
Similar to #15098. It is possible to issue a new subscribe command to previously subscribed handles by using a different subscribe param struct.

**Expected behavior**
Iterare over existing subscriptions and compare handles.

[2019-04-01 22:04] paulgavrikov opened #15100 "Bluetooth: GATT (un)subscribe can silently fail"
**Describe the bug**
`bt_gatt_subscribe` / `bt_gatt_unsubscribe` can fail (e.g. subscription to unknown handle) without notifying the user because the ATT response is ignored.

**Expected behavior**
Add `err` param to callback and trigger on response (similar to GATT write / read) or add a completely new callback just for subscribe responses.

[2019-04-01 22:27] #15090 closed

[2019-04-01 23:43] galak commented on #12261
@vslapik Any update on this?

[2019-04-02 00:12] rljordan commented on #14096
@pdunaj  Were you able to reproduce this?

[2019-04-02 00:18] cinlyooi-intel commented on #14184
@rljordan : Sorry I cannot close it. I am still seeing it on latest master (193fb971c24f827464982307b5b3bb34de0fa98d). However, if someone can show that it cannot be reproduced on a real board then we can close it.

[2019-04-02 00:39] andrewboie commented on #9904
Is this really a bug?

[2019-04-02 00:40] rljordan commented on #9904
@carlescufi  Does this remain to be a bug?

[2019-04-02 01:25] andrewboie commented on #9904
Put another way: This is set to High priority, blocking the immanent release of 1.14. What are your expectations for resolving this for 1.14, and of what has been discussed here, what falls under wishlist/feature request/enhancements as opposed to actual bugs?

[2019-04-02 01:29] wentongwu opened #15103 "nrf52810_pca10040 SRAM space not enough"
**Describe the bug**
it seems nrf52810_pca10040 SRAM space is not enough for current version. It fails on link stage.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=nrf52810_pca10040  ..
3. ninja
4. See error

**Screenshots or console output**

for case tests/kernel/sched/preempt on platform nrf52810_pca10040
Memory region         Used Size  Re

[2019-04-02 03:05] cinlyooi-intel commented on #15103
Seeing the same error at 193fb971c24f827464982307b5b3bb34de0fa98d

[2019-04-02 03:54] dcpleung opened #15107 "samples/application_development/code_relocation fails to build with coverage on mps2_an385"
**Describe the bug**
When building `samples/application_development/code_relocation` on `mps2_an385` with coverage enabled, it complains that

[code]

Note that the size of section `.sram2_data` in `zephyr.map` is 6824 (0x1AA8) bytes:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mps2_an385 -DCONFIG_COVERAGE=y ../
3. make
4. See error

**Expec

[2019-04-02 04:45] wentongwu commented on #15103
@andrewboie  this is the same issue when PR#15005 run CI test.

[2019-04-02 05:31] AdithyaBaglody commented on #14184
@cinlyooi-intel how are you testing this? because I am not able to see this issue on the actual hardware. if you are testing on a test framework then please assign it to the respective person so that this can move ahead.

[2019-04-02 06:26] overheat opened #15109 "ATSAME70 MCU(SAM E70 Xplained) RAM random after a watchdog reset."
**Describe the bug**
After digging deeper with GDB, I found that section .noinit be cleared(random) during the boot process on ATSAME70 MCU (SAM E70 Xplained board), Which make test/driver/watchdog keep resetting.

PS: According to ARM spec, .noinit is used for non-initialized objects that will not be cleared during the boot process.

PS: PS: By far, only found on ATSAME70. even ATSAM3X, which is

[2019-04-02 07:13] pdunaj commented on #15077
Hi @lemrey , we have jlink connector mounted on this board. There are pads for it so such action is in line with board design.  We can access board using a debugger. Why limiting board use to a specific configuration only when there is absolutely no need for it?
I understand forcing boot step can be convenient for some group of users who are not willing to mount a jlink connector. But this also ha

[2019-04-02 07:19] pdunaj commented on #14096
Hi @rljordan , have no time yet but will get back to it this week.

[2019-04-02 07:23] Qbicz commented on #15083
Thanks @lemrey. I checked with @nvlsianpu offline and the partitions in the dts_compiled file look like this:
[code]

However, partition is chosen incorrectly:
[code]

When I remove `-DDTC_OVERLAY_FILE` argument from cmake, the partition is chosen correctly:
[code]

MCUBoot `dts.overlay' is not overlayed.

We build the list of overlay files to use in CMakeLists, here: https://github.com/NordicPlay

[2019-04-02 08:09] lemrey commented on #15077
Hi @pdunaj, the functionality is not limited to a specific configuration, simply, there is a default configuration. The reasoning behind the default configuration is that the board comes with no debugger and a bootloader, so I thought that Zephyr application for `nrf52840_pca10059` should support that configuration by default.

I don't understand how having `CONFIG_NRF5_BOOTLOADER_PRESENT`, defaul

[2019-04-02 08:10] rveerama1 commented on #13212
@zagor we have Zephyr Monthly Networking forum today. This would be a good platform to discuss Networking topic.

I am posting meeting details here. Please try to join this meeting.
Please check meeting time as per your location.

https://www.zephyrproject.org/developers/meetings/

Zephyr Networking Forum (monthly recurrence 2019)
Tuesday, 2 April⋅6:00 – 7:00pm (Finnish time).
Monthly on the first

[2019-04-02 08:29] pdunaj commented on #15077
Hi @lemrey , the default is fine and I agree it should stay as is to avoid confusion. We can set the configuration option to disable bootloader.

As for the name, I have impression (maybe it is wrong) that options `HAS_xyz` just like refer to characteristic (compatibility) of HW and so should not be modified by application configuration. If presence of the bootloader is optional having "HAS_" in t

[2019-04-02 09:14] carlescufi commented on #9904
@andrewboie @rljordan this is an issue that has come up several times. The idea behind setting it as a high-priority bug was agreed with @nashif so that we would raise awareness about the fact that it impacts users of Nordic boards in general and to discuss a path forward. I am happy to talk this over tomorrow at the TSC and discuss what we can do about it in the short and mid term.

[2019-04-02 09:22] pdunaj commented on #15077
We are setting the `TEXT_SECTION_OFFSET` in our configuration file. So far it was working and it seems that the latest change should not really affect it. Probably the order in which values are applied is different now.

I disabled `BOARD_HAS_NRF5_BOOTLOADER` and dongle boots. Let's leave it as is until somebody else will complain about the name.

[2019-04-02 09:22] #15077 closed

[2019-04-02 09:30] carlescufi commented on #9904
@andyross

Thanks for the feedback.

I am certainly not a expert in the area, so I will delegate to @pizi-nordic, @ioannisg and @leapslabs to discuss the fine technical details, but I would certainly disagree with the statement about your input. You are the author of a timer rewrite that you accurately describe as highly successful, and have the overview of the different requirements of the myriad

[2019-04-02 09:31] leapslabs commented on #9904
@andyross @andrewboie @rljordan @carlescufi I think we should separate the discussion into 2 issues. One is related with using k_sleep and the rounding errors. I think this one is a bug. This has been observed on nrf52_pca10040 when k_sleep is used
k_sleep(15) - the real sleep is 30 ms
k_sleep(10) - the real sleep is 20 ms
k_sleep(20) - the real sleep is 30 ms
k_sleep(100) - the real sleep is 110

[2019-04-02 10:02] ioannisg commented on #15109
FYI @aurel32

[2019-04-02 10:05] pfalcon commented on #11586
Ok, so we got together with @agansari at Linaro Connect to look into that. After we made sure that we have all the hardware setup (jumpers, etc.) and Zephyr version, the same, and after I upgraded to the latest west tool, it worked out for me. We do noted that there's a chance that Eth bootstrap might fail on startup, but I definitely had it working. Thanks for patience here.

[2019-04-02 10:05] #11586 closed

[2019-04-02 10:14] SebastianBoe commented on #9573
No. But it does parse the .config before running menuconfig.py. So if menuconfig.py creates a corrupted .config file, this .config file will prevent menuconfig from being run again.

turning off -Werror is not sufficient to resolve this issue.

[2019-04-02 10:21] Vudentz commented on #15098
It removes the subscription parameters, it is there is the documentation, if you want to unsubscribe by handle that is a different matter but the ownership of the subscription is still within the params so I like to understand why such API would be needed.

[2019-04-02 10:25] ioannisg commented on #15103
nrf52810 is a low-end SOC - several tests do not run for this device, anyways.

I am wondering whether it is a problem of increasing the PRIVILEGED_STACK_SIZE to default of 1024.

[2019-04-02 10:31] Vudentz commented on #15099
We do support multiple subscription to the same CCC, it does actually iterate to check that:

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/gatt.c#L2733

Im closing it as it is working as intended, if you want to add an API to query existing subscription that is a different API, though Id consider a bug if an application cannot really check its own subscription sin

[2019-04-02 10:31] #15099 closed

[2019-04-02 10:39] Vudentz commented on #15100
The API is not only about unsubscribing the CCC but also unregistering the parameters and removing it from the list so it can be reused, if we do have to wait the CCC write result that would mean the parameters cannot be reused, ever, if the CCC write fails.

Btw, Im not sure why are you coming up with some rather unusual situation, in this case the handle can only be invalid if it had been change

[2019-04-02 10:39] #15100 closed

[2019-04-02 10:46] hakehuang commented on #14605
@MaureenHelm I find it is my board qspi has some issues when program in sector data. if I continues program pages in a sector then there will be some issues with the data in qspi. now I use a slow program algorithm which can resolve this issue.

[2019-04-02 10:47] aurel32 commented on #15109
Yes, it's also what I noticed there: https://github.com/zephyrproject-rtos/zephyr/issues/13417#issuecomment-471099233

I have the impression it comes from the SoC itself and not from Zephyr. The datasheet seems to imply that, at least it doesn't say the RAM is preserved when the watchdog triggers.

[2019-04-02 10:48] ioannisg opened #15115 "ARM: Cortex-M: enhance non-sharing floating point services"
The Zephyr Kernel specification claims that under the **Unshared FP registers' mode**, only a single context (a thread, _not_ an ISR) is allowed to use the FP registers, otherwise the behavior is undefined.

This allows us to implement the following enhancements that will increase system performance:

- We remove the requirement for Stacking the FP-context during Exception Entry and/or context-swi

[2019-04-02 10:50] Vudentz commented on #14791
@pdunaj Any update on this matter?

[2019-04-02 10:57] Vudentz commented on #15017
But if one don't want to specify the value why to select it in the first place? I guess it would have been better not to include the attributes if you won't specify any value.

[2019-04-02 11:03] jfischer-phytec-iot opened #15116 "nrfx_twim: (nRF52) driver unable to perform i2c_burst_write() correctly"
**Describe the bug**

nrfx_twim (nRF52) driver is not able to perform i2c_burst_write(...) correctly, the driver handles the transfer of two messages as two separate transfers with "start repeat" in between.

Though there is NRFX_TWIM_XFER_TXTX type of transfer and NRFX_TWIM_XFER_DESC_TXTX macro, but also in this configuration a "restart" is present between the transfers, I did not found a way to

[2019-04-02 11:09] ulfalizer commented on #9573
@SebastianBoe
Should be able to work around it by passing a flag to `kconfig.py` that tells it whether to error out for warnings, and disable that flag if the final target is running the `menuconfig`.

Don't know how hard that is to do in CMake though.

[2019-04-02 11:12] jhedberg commented on #15017
@Vudentz maybe because you want a specific value on one or two of the parameters, but don't care about the value of the rest?

[2019-04-02 11:19] #14743 closed

[2019-04-02 11:19] wentongwu commented on #15103
I'm not running cases on that platform, but CI test want to do that when I submit PR #15005.

you mean megered patches increasing PRIVILEGED_STACK_SIZE cause this platform's failure?

[2019-04-02 11:34] akshhr commented on #15017
@Vudentz I agree with @jhedberg and also it is a requirement from the specification.

[2019-04-02 12:05] cinlyooi-intel commented on #14184
Closed it since @AdithyaBaglody says it works on actual hardware.

[2019-04-02 12:05] #14184 closed

[2019-04-02 12:06] nashif commented on #9904
@rljordan

yes, we know this is difficult to fix in 1.14 and will end up transferred to the next release, however, it should not be "hidden" as a future item until we agree on next steps.

[2019-04-02 12:58] dleach02 commented on #14605
@hakehuang how are you controlling the program algorithm?

[2019-04-02 13:00] #14870 closed

[2019-04-02 13:02] kl-cruz commented on #14970
@carlescufi  I'll have some time 8th April. If it is important please try to ask someone else

[2019-04-02 13:07] nashif commented on #15107
maybe we should just exclude it when coverage is enabled, this is a very "custom" sample

[2019-04-02 13:30] Qbicz commented on #15083
When I pass the `-DDTC_OVERLAY_FILE` to `mcuboot/boot/zephyr/CMakeLists.txt` the file is appended, but then the appended file is dropped in the `boilerplate.cmake` in line
`set(DTC_OVERLAY_FILE "${DTC_OVERLAY_FILE}" CACHE STRING`

Turns out this bug is duplicate of https://github.com/JuulLabs-OSS/mcuboot/issues/399
I may be caused by confusion between lists and strings in CMake.

[code]

[2019-04-02 13:41] #15009 closed

[2019-04-02 13:56] Qbicz commented on #15083
The overlay list is passed around as a space-separated string "a.overlay b.overlay c.overlay". I don't know why caching drops one of the overlays. Removing this command
https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/app/boilerplate.cmake#L369 results in all overlays being applied.

[2019-04-02 14:23] pdunaj opened #15119 "GPIO callback not disabled from an interrupt"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/issues/10186 is back again.

In new hw version we can no longer use single callback as we have pins scattered on two ports. We need to disable callbacks for both ports at the same time in the single interrupt. Yet the current infrastructure makes it impossible.

I will narrow it to nrf52 case. `gpiote_event_handler` first checks whi

[2019-04-02 14:28] pdunaj commented on #15119
There is a way to fix this in the driver. When `gpio_nrfx_pin_disable_callback` and `gpio_nrfx_pin_enable_callback` are called one could remove bit corresponding to pin in `pin_mask` member on all callbacks corresponding with the port (these functions know which port/pin is touched).
Actually one should record the original mask (as set by callback init) to see if bit should really be restored.

[2019-04-02 14:50] carlescufi commented on #15083
@SebastianBoe @mbolivar could it be that `DTC_OVERLAY_FILE` expects filenames separate by semicolon instead of space?

[2019-04-02 14:52] rgundi commented on #13223
This is getting trickier. Looks like there are some timing related issues in the i2s test/driver. All my analysis below is for K_MEM_SLAB_DEFINE.
I happened to introduce a couple of printk statements in test_i2s_bidirectional_transfer_configure function for debug and i could see that there was a k_mem_slab_alloc failure after sometime. On debugging further, i could see that the allocs were being c

[2019-04-02 15:07] #15069 closed

[2019-04-02 15:16] #15073 closed

[2019-04-02 16:05] #15056 closed

[2019-04-02 16:13] #15017 closed

[2019-04-02 16:31] SebastianBoe commented on #15083
@hakonfam : FYI

[2019-04-02 16:47] dcpleung commented on #15107
Is there a way to exclude it from coverage in the yaml file?

[2019-04-02 16:50] nashif commented on #14640
moving to low because blocking bug is low now.

[2019-04-02 17:11] nashif commented on #9904
moving to a future milestone: Nordic will provide an RFC and a fix to all issues listed after 1.14.

[2019-04-02 17:18] #14622 closed

[2019-04-02 17:19] nashif commented on #13574
@nvlsianpu any updates?

[2019-04-02 17:24] nashif commented on #10524
i2c and other drivers might require multithreading. this is documented now in the single thread configuration option.

[2019-04-02 17:24] #10524 closed

[2019-04-02 17:40] nashif commented on #15109
duplicate of #13417

[2019-04-02 17:40] #15109 closed

[2019-04-02 17:56] nashif commented on #12114
@anangl ping

[2019-04-02 18:10] dcpleung commented on #13223
I just tested it again on my setup.

- On master, it failed every time due to allocation errors.
- With the `K_MEM_SLAB_DEFINE()` changes above, it ran 100+ times of I2S transfers without errors. (This is with `CONFIG_LOG=y`)
- With the `K_MEM_SLAB_DEFINE()` changes above and `CONFIG_LOG=n`, the first I2S transfer would succeed, but subsequent transfers failed with allocation errors.

From what I

[2019-04-02 18:11] andrewboie commented on #14640
#13561 has nothing to do with this..

[2019-04-02 18:17] #14084 closed

[2019-04-02 18:17] #15039 closed

[2019-04-02 18:37] andrewboie commented on #14640
And this has nothing to do with #14766 either.
The root cause is that the CMSIS test doesn't like that the stack generated is *larger* than the specified size. This isn't reasonable, it should complain if it is smaller.

[2019-04-02 18:44] andrewboie commented on #14642
This seems to be worse since the last time I looked at it, it now appears to get stuck.

[2019-04-02 19:20] andrewboie commented on #15044
the problem is that the test is trying to do too much. PR sent.

[2019-04-02 19:46] rerickson1 opened #15124 "DNS not working with NET_OFFLOAD"
**Describe the bug**
When using NET_OFFLOAD, `dns_write` does not work because it does not properly create the socket first.  The first call in `dns_write`, `net_context_recv` fails because a socket has not been created and associated to `net_ctx->offload_context`.

**To Reproduce**
I have come across this during development of a new modem driver.  TCP/UDP socket send/RX is working with my driver,

[2019-04-02 20:15] andrewboie opened #15126 "multiple intermittent test failure on ARC"
My suspicion is that these are all related to the patch which sets nsim_isa_host_timer=1

tests/kernel/lifo/lifo_usage/kernel.lifo.usage
[code]

tests/kernel/workq/work_queue/kernel.workqueue
[code]

tests/cmsis_rtos_v2/portability.cmsis_rtos_v2
[code]

tests/kernel/sched/schedule_api/kernel.sched
[code]

[2019-04-02 20:17] andrewboie commented on #15103
My guess as well. How many threads does this test create?

[2019-04-02 21:30] andrewboie commented on #14642
Correction. On nsim_em, the test takes about 22 seconds. on nsim_sem, it hangs forever. The bug is only on nsim_sem.

[2019-04-02 21:35] rerickson1 commented on #15124
I think I found the root cause of what is going on.  In short, dns_resolver is getting inited before the offload interface.

The details:
In `dns_resolve_init`, `net_context_get` is called to setup the sockets for DNS.  At this point, the offload interface is not initialized yet (`offload_iface_init`), so the socket creation does not happen properly.

Looking at `net_core.c` -> `net_init()` , `l3_

[2019-04-02 21:39] #14641 closed

[2019-04-02 21:42] andrewboie commented on #15126
Fixed by applying Wayne's patch to remove host clock

[2019-04-02 21:42] #15126 closed

[2019-04-02 21:46] dcpleung commented on #13223
It looks like `i2s_dma_rx_callback()` is called multiple times but `i2s_dma_tx_callback()` is never called. Hence the allocation failure because the mem slab is running out of memory.

[2019-04-02 22:49] andrewboie commented on #14642
I think there is some weird race in the test itself, I'm digging deeper.

[2019-04-02 22:58] andrewboie commented on #14642
the slowness of the test is due to the sched_yield() call in thread_top_exec(), which simply calls k_yield(), presumably to allow other threads to run...if I comment it out the test finishes very quickly.

Not sure what is going on yet.

[2019-04-02 23:35] dcpleung commented on #13223
When `CONFIG_STACK_SENTINEL=y` is set, there would be stack check errors running the I2S transfer test. This seems to be caused by `xthal_dcache_region_writeback()` and `xthal_dcache_region_invalidate()`. When I cleared the macros `SOC_DCACHE_FLUSH()` and `SOC_DCACHE_INVALIDATE()`, there were no stack check errors and I2S transfers were working fine. So this might actually caused by the Xtensa HAL

[2019-04-02 23:43] andrewboie commented on #14642
More data:

If I disable CONFIG_TEST_USERSPACE (which runs the test without user mode), it completes very quickly.

[2019-04-02 23:47] overheat commented on #15109
@aurel32 Yes, I agree with you , it comes from the SoC itself. So should we exclude this chip(ATSAME70) from watchdog test, do you know how to do it?

[2019-04-03 00:11] #14640 closed

[2019-04-03 00:11] #15044 closed

[2019-04-03 00:31] andrewboie opened #15129 "ARC: tests/kernel/critical times out on nsim_sem"
I suspect this may be the same issue as #14642

Time to run on nsim_sem: 116s
Time to run on nsim_em: 13s

Now if I comment out the body of configure_mpu_thread(), I get:

Time to run on nsim_sem: 11s
Time to run on nsim_em: 7s

[2019-04-03 01:02] #8339 closed

[2019-04-03 01:02] andrewboie opened #15130 "ARC: Z_ARCH_THREAD_STACK_MEMBER defined incorrectly"
The definition isn't taking into account minimum MPU region sizes and is creating arrays that are too small for stacks < 2K

[2019-04-03 01:03] andrewboie opened #15131 "ARC: off-by-one in MPU V2 _is_in_region()"
There's an off-by-one in arc_mpu_v2_internal.h where the last byte of a region is incorrectly reported as being out-of-bounds. This bug was found by calling arc_core_mpu_buffer_validate() on every byte individually in the region, the last one reports failure.

[2019-04-03 02:11] lylezhu2014 opened #15133 "Is the level2 interrupt supported for ARM cortex-M0P core?"
For ARM cortex-M0P core, the MAX IRQ Line is 32 for peripherals.  In order to support more, the level2 inetrrupt controller is added.
Is the level2 interrupt supported for ARM cortex-M0P core? If yes, how to use this feature. If no, is there a plan to support this feature?

[2019-04-03 02:37] cinlyooi-intel opened #15134 "samples/boards/reel_board/mesh_badge/README.rst : No compilation or flash instructions"
Need to update the said README.rst with compilation and flash instructions

[2019-04-03 03:08] andrewboie commented on #15129
closing as duplicate of #14642

[2019-04-03 03:08] #15129 closed

[2019-04-03 03:09] andrewboie commented on #14642
tests/kernel/critical has a similar issue:

**Time to run on nsim_sem: 116s**
Time to run on nsim_em: 13s

Now if I comment out the body of configure_mpu_thread(), I get:

Time to run on nsim_sem: 11s
Time to run on nsim_em: 7s

[2019-04-03 03:10] andrewboie commented on #14642
Both tests involve a lot of context switching, the performance of the MPU reprogramming (either in the code or the emulator) is severely impacting the test completion time. Closing the other bug #15129 as a duplicate.

[2019-04-03 03:58] andrewboie opened #15135 "implement lazy MMU/MPU context switch"
There is some overhead on context switch due to reprogramming memory protection hardware. We always will need to update privilege mode stack guards, but user stack regions and memory domains can be skipped in some scenarios. Implement lazy MPU/MMU reprogramming such that:

- Reprogramming of thread stack MPU regions is avoided if the incoming thread is a supervisor thread
- Switching memory domain

[2019-04-03 04:17] tedd-an commented on #14612
I believe this is fixed by #14896 and can be closed.

[2019-04-03 04:21] vonhust commented on #14642
@andrewboie , if i recall correctly, it runs ok in hardware. I will double check it

[2019-04-03 04:43] andrewboie opened #15136 "implement sys_msgq that reside in user memory"
Message queues are a basic IPC mechanism currently offered by k_msgq, which is a kernel object. We could implement these in userspace based on the wake/wait APIs and sys_mutex() instead, allowing the message queue data structures to reside in user memory.

[2019-04-03 04:45] andrewboie commented on #15136
Depends on completion of #14493

[2019-04-03 05:06] andrewboie opened #15138 "add PI_FUTEX-like semantics to sys_mem_pool()"
We have the infrastructure, but not the implementation to use atomic operations to avoid system calls for uncontended sys_mutexes. We could store the mutex owner (struct k_thread *) in the atomic_t being tracked by the kernel, along with low-order bit flags for mutexes that currently have waiters.

[2019-04-03 05:14] andrewboie commented on #15138
Related to, but doesn't really intersect with #14493

[2019-04-03 05:29] andrewboie opened #15139 "implement sys_sem that can reside in user memory"
Semaphores are a basic IPC mechanism currently offered by k_sem, which is a kernel object. We could implement these in userspace based on the wake/wait APIs instead, allowing the semaphore data structures to reside in user memory.

[2019-04-03 05:34] andrewboie commented on #15139
Requires #14493

[2019-04-03 05:49] andrewboie commented on #14642
Tomorrow I'm going to try to apply the optimization in #15135, it seems ARC code unconditionally reprograms all of the volatile MPU registers on every context switch

[2019-04-03 06:06] Qbicz commented on #15083
Using a space separated string is expected and works fine, as long as full string is passed to `dts.cmake` from `app/boilerplate.cmake`:
https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/dts.cmake#L37

It is only the caching in boilerplate.cmake that strips the other overlays and only passes one. I don't really understand why. Workaround would be to disable cache in
`set(DTC_OVERLAY_F

[2019-04-03 06:56] tbursztyka commented on #15124
Nope, though you got the root cause: I think dns_resolver_init() should be moved out of l3_init(), it's not exactly part of l3 in fact: it's a service on top of the net stack (as dhcpv4 for instance).

[2019-04-03 07:18] tbursztyka commented on #15124
@rerickson1 Please have a look at #15141

[2019-04-03 07:23] ozhuraki commented on #14612
Fixed by #14896.

[2019-04-03 07:23] #14612 closed

[2019-04-03 08:12] jukkar commented on #14034
I am actually working on this right now. Current plan is to implement a dedicated PPP L2 layer in networking stack, and initially support LCP, IPCP and IPv6CP. Target release would be 1.15.

[2019-04-03 08:36] Laczen opened #15144 "West: how to set up for external modules"
Hi, I would like to use west for a multi repository setup. My idea is to setup a zephyr directory as:
[code]
where extmod and extboard would have there own repository.

From the documentation it is clear how to setup each of the subdirectories /extmod/mod1, ... however it is not completely clear for me how to reflect this for west.
Should I add all the modules to the west.yml under zephyr ? Or is

[2019-04-03 08:37] rveerama1 commented on #15096
@pfl PR provided and given explanation there. Please take a look.

[2019-04-03 09:00] carlescufi commented on #15144
Hi @Laczen. Should I assume you are setting up a downstream with your own repositories that are complementary of the upstream zephyr? If so then you are very close to the Nordic usecase, and you can see how we handle that here:

https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/west.yml

Note that we have our own Zephyr fork, but you can point to upstream zephyr in your west.yml if

[2019-04-03 09:02] carlescufi commented on #15144
Also see https://docs.zephyrproject.org/latest/guides/west/why.html#topologies-supported. We use Topology 2.

[2019-04-03 09:02] raveslave commented on #9944
what's a good workaround for this?

[2019-04-03 09:05] pdunaj opened #15145 "USB HF clock stop fail"
**Describe the bug**
Replicated with PCA20041 (probably will be replicated with anything else with nrf52840). Plug and unplug USB. Observe that sometimes we get `HF clock stop fail` with some error =16 or -69.

**To Reproduce**
Plug/unplug the USB.

**Expected behavior**
HF clock must be stopped.

**Impact**
Showstopper as HF clock consumes power. Current consumption will increase from few uA to f

[2019-04-03 09:23] carlescufi commented on #15145
@pdunaj can it be that you are advertising when you unplug, so that the HF clock needs to be kept running for BLE?

[2019-04-03 09:33] MarkWangChinese commented on #15025
@raveslave RT1050's USB device controller driver is in pull-request review The pull-request is: #12533

[2019-04-03 09:38] rgundi commented on #13223
Yes, verified your observations to be correct. Also, the stack check errors don't go away upon doubling the i2s_test thread's as well as the interrupt stack's size to 4096.

[2019-04-03 09:42] vonhust commented on #14642
@andrewboie  no problem in hardware, both em and sem are ok.  The difference betwenn call configure_mpu_thread and not call configure_mpu_thread is time of context switch

[2019-04-03 09:46] pdunaj commented on #15145
Hi @carlescufi , this is possible. I will have a look on my desk. From the logs it seems however that error can come when we are connected.

[code]

[2019-04-03 09:53] paulgavrikov commented on #15098
@Vudentz Simply, to not have to bother storing the params. Especially with multiple subscriptions.

[2019-04-03 09:56] Laczen commented on #15144
@carlescufi, thanks for the reply. I am indeed very close to the Nordic usecase. So basically the idea is to create a new west.yml manifest above the zephyr directory. But how do I get started?
Step 1: I create a west.yml, but what do I do with the self section (especially how to make sure the west commands are still working) ?
Step 2: How to call west init and update for the created west.yml ?

[2019-04-03 09:58] paulgavrikov commented on #15100
@Vudentz All other APIs (i.e. read / write) notify the callback on success or fail. What happens if a subscription is issued to a non_existing handle? The other APIs handle that.
With `bt_gatt_subscribe` we have no feedback about that. As I commented on Slack subscribe followed by an unsubscribe before the ATT response crashes the system.

[2019-04-03 10:05] SebastianBoe commented on #15065
For which C files do you need to override the flags? Just the app, or all files?

[2019-04-03 10:06] carlescufi commented on #15144
@Laczen

Step 1. You create a `west.yml` in your main "downstream" repository, let's assume it's called "foo":

`foo/west.yml`:

[code]

Step 2.

[code]

will give you a set of 2 repositories at the same level, `zephyr` and `foo` and all of the flash commands will still work.

[2019-04-03 10:08] carlescufi commented on #15145
@pdunaj well when you are connected the HF clock is also required by the Link Layer often.
@cvinayak can you weigh in as well?

[2019-04-03 10:09] SebastianBoe commented on #15065
Try

zephyr_library_compile_options(-std=c++17 -Wall -Wextra -Wno-unused-variable -Wno-comment)

from the app CMakeListst.txt after boilerplate.cmake.

[2019-04-03 10:20] paulgavrikov commented on #14267
@jhedberg Almost perfect there except: [](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/hci_core.c#L5217)

I think changing the `!sd `checks to `!sd_len` is a much safer way.

[2019-04-03 10:25] jhedberg commented on #14267
@paulgavrikov perhaps, though all the branch does is calls `sd_has_name()` and that function will not do anything if sd_len is 0. Anyway, if you feel strongly about this feel free to submit a PR :)

[2019-04-03 10:29] pdunaj commented on #14096
I checked it today using ncs zephyr `1937b41459ca722848abe88cf84067945e8cf0c2` (upstream  `d3bb3cf`) and pca10040.

Issue is still present but it was more difficult to replicate. Logs seems to be reworked so characters are printed synchronously. When I added log issue was not replicable for the time I run test. When I set timeslice to some larger value I was also unable to replicate the problem.

[2019-04-03 10:29] cinlyooi-intel opened #15146 "mps2_an385: Multiple "MPU Fault"s, "Hardware Fault"s "Stack Check Fail!" and "Bus Fault" when running code coverage"
**Describe the bug**
We are seeing a lot of MPU Fault with mps2_an385 when attempting to get code coverage data

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Impact**
Low codecoverage percentage

**Screenshots or console output**
Examples:
[code]
[code]
[code]

[code]

**Environment (please complete the following information):**
 - OS: fedora29
 - Toolchain zephyr
 - Commit SHA or

[2019-04-03 10:29] mtuxpe commented on #4569
@tbursztyka  What is the suitable directory for LoRa node?
https://github.com/Lora-net/LoRaMac-node
/ext/hal/semtech
/ext/lib/semtech

[2019-04-03 10:37] pdunaj commented on #14096
My guess is that this issue is caused by the access to mutex around timeslice (recheduling event in general maybe).

I changed code a bit to replicate bug with higher value of timeslice.
[code]

[2019-04-03 10:42] cinlyooi-intel opened #15148 "tests/kernel/mem_pool/mem_pool_concept/: Assertion failures for mpns2_an385"
**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
-    OS: fedora29
-    Toolchain zephyr
-    Commit SHA or Version used: 0734b4fcaaea62e5f887d932a79b31507d61429d

[2019-04-03 10:47] cinlyooi-intel opened #15149 "mps2_an385: fatal lockup when running code coverage"
**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
-    OS: fedora29
-    Toolchain zephyr
-    Commit SHA or Version used: 0734b4fcaaea62e5f887d932a79b31507d61429d

**Affected Log files**
1.sanity-out/mps2_an385/tests/kernel/fatal/kernel.common.stack_sentinel/run.log
2. sanity-out/mps2_an

[2019-04-03 11:00] Laczen commented on #15144
@carlescufi , cool, thanks.

[2019-04-03 11:00] #15144 closed

[2019-04-03 11:05] cinlyooi-intel opened #15150 "tests/kernel/threads/thread_api: "Double faults" when running code coverage in qemu_x86"
**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
-    OS: fedora29
-    Toolchain zephyr
-    Commit SHA or Version used: 0734b4fcaaea62e5f887d932a79b31507d61429d

[2019-04-03 11:09] cinlyooi-intel opened #15151 "tests/tickless/tickless_concept: Assertions when running code coverage on qemu_x86"
**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
-    OS: fedora29
-    Toolchain zephyr
-    Commit SHA or Version used: 0734b4fcaaea62e5f887d932a79b31507d61429d

[2019-04-03 11:11] cinlyooi-intel opened #15152 "tests/kernel/pipe/pipe: "Kernel Oops" and "CPU Page Fault" when running coverage for qemu_x86"
**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
-    OS: fedora29
-    Toolchain zephyr
-    Commit SHA or Version used: 0734b4fcaaea62e5f887d932a79b31507d61429d

[2019-04-03 11:19] cinlyooi-intel opened #15153 "Some empty qemu_x86 output when running code coverage using sanity_check"
**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
-    OS: fedora29
-    Toolchain zephyr
-    Commit SHA or Version used: 0734b4fcaaea62e5f887d932a79b31507d61429d

[2019-04-03 11:19] paulgavrikov commented on #14267
@jhedberg Not that strongly :P

[2019-04-03 11:19] #14267 closed

[2019-04-03 11:22] pdunaj opened #15154 "mempool can result in OOM while memory is available"
**Describe the bug**
This is known issue. The problem is we are being hit by it frequently.

The mempool alloctor when looking for a block to give takes the smallest one available and if it is too large breaks it into smaller pieces. The problem is lock is released during this operation. This can lead to memory depletion if low priority task grabs the large block but cannot finish split as a high

[2019-04-03 11:32] ioannisg commented on #14744
FYI @agross-korg

[2019-04-03 11:46] pdunaj commented on #15154
This is a regeression caused by my change `41e90630d74110a8d9d9e74681b43af7fb6a59a6`:
[code]
Previously a first `block_break` was happening before irq was relaxed giving 3/4 of the block back to the pool. I guess we would have to move this back.

I see two other things that could be done maybe:

- At the moment heap consist of the 1 large block that is split. Maybe we could add a config option tha

[2019-04-03 12:06] pdunaj commented on #15154
Fix created...

[2019-04-03 12:10] pawelzadrozniak commented on #15145
Error code -16 means -EBUSY. Looks like something else has requested HFCLK.
It looks like not-really-an-error - there is a primitive reference counter in current implementation of clock driver (nrf_power_clock.c). When a module requests HFCLK to run, that counter is increased and decreased on stop request. -EBUSY is returned when reference counter > 0 which means that someone else is using HFCLK.

[2019-04-03 12:28] aescolar opened #15156 "GH labels reorg"
Following https://github.com/zephyrproject-rtos/zephyr/pull/15054 (Assuming it is merged),
this issue aims at settling other fixes for the labels which were not trivially agreed yet.
I list each proposal in a separate point below, if you agree just give it a thumbs-up, if you disagree a down (and create a separate comment for it). Maybe we can handle the discussion just in this fashion.

[2019-04-03 12:32] aescolar commented on #15156
Create/Rename labels for issues to be discussed in a following meeting,
review: {TSC|Securty|API|dev-review}

Purpose: To clearly communicate to the issue/PR author that he his issue will probably be discussed there.
To have a quick filter in the meeting of issues which are meant to be discussed.
To avoid confusion with an issue simply being related to the APIs or Security area (but not meant to b

[2019-04-03 12:32] #13122 closed

[2019-04-03 12:35] aescolar commented on #15156
Rename the "TSC", "Maintainer", "Trivial" & "Security" labels into
review time: {4h (trivial)| 2d (maintainer)| 3d | 1w (contentious)}
(Also update the figure and text in https://docs.zephyrproject.org/latest/development_process/review_process.html? highlight=review%20time , to reflect this new naming)

Purpose: To decouple what needs to be discussed in a meeting, and how long something should be

[2019-04-03 12:36] carlescufi opened #15157 "mps2_an385 and GNU Arm Embedded gcc-arm-none-eabi-7-2018-q2-update failed tests"
Several tests fail when running sanitycheck with GNU Arm Embedded and mps2_an385:

* tests/kernel/fifo/fifo_api/kernel.fifo.poll
* tests/lib/mem_alloc/libraries.libc.newlib
* tests/kernel/threads/thread_apis/kernel.threads

tests/kernel/fifo/fifo_api/kernel.fifo.poll:
[code]

tests/lib/mem_alloc/libraries.libc.newlib:
[code]

tests/kernel/threads/thread_apis/kernel.threads:
[code]

**Environment (

[2019-04-03 12:40] aescolar commented on #15156
Create labels "area:Security" and "area:API"

[2019-04-03 12:49] aescolar commented on #15156
CC (run out of assignments): @jhedberg , @jfischer-phytec-iot , @nategraff-sifive , @mgielda , @ruuddw , @smijovic-si

[2019-04-03 13:19] #15146 closed

[2019-04-03 13:19] #15149 closed

[2019-04-03 13:19] #15150 closed

[2019-04-03 13:19] #15151 closed

[2019-04-03 13:19] #15152 closed

[2019-04-03 13:19] #15153 closed

[2019-04-03 13:22] nashif commented on #14500
@cinlyooi-intel:

Making this bug the master for all coverage related bugs, please add issues here instead of opening new bugs for each test/sample that might fail.

Here is a list of closed issues related to coverage:

#15149 #15146 #15150 #15151 #15152  #15153

[2019-04-03 13:23] nashif commented on #14500
one more #15148

[2019-04-03 13:23] nashif commented on #15148
track this in the master coverage bug

[2019-04-03 13:23] #15148 closed

[2019-04-03 13:24] nashif commented on #15107
no, just add `CONFIG_COVERAGE=n` to the project file.

[2019-04-03 13:32] #15124 closed

[2019-04-03 14:46] #15008 closed

[2019-04-03 14:50] StefJar opened #15159 "undefined reference to `bsearch' #stdlib"
It seems that the "bsearch" function got removed from the stdlib implementation.

A note on "bsearch":

[Despite the name, neither C nor POSIX standards require this function to be implemented using binary search or make any complexity guarantees.](https://en.cppreference.com/w/c/algorithm/bsearch)

I like to use these function and maybe others as well. Is it possible to provide it?

[2019-04-03 14:55] StefJar commented on #15159
I quickly looked up the linux kernel. It brings an own implementation. Maybe a good point to start from

https://github.com/torvalds/linux/blob/master/lib/bsearch.c

[2019-04-03 16:01] andyross commented on #14096
For clarity: this still requires the log subsystem with the segger backend to reproduce?  Or can you make it happen with printk?

[2019-04-03 16:36] #15154 closed

[2019-04-03 17:10] dcpleung commented on #15107
From what I can tell, `check_link_map.py` doesn't take into account the actual size of the section (in this case 0x1AA8), but tries to infer size with addresses. The section can actually fit inside the relocated (loaded/XIP) space. I don't know enough about relocation and the script to fix it correctly.

[2019-04-03 17:47] #14947 closed

[2019-04-03 17:48] #15130 closed

[2019-04-03 17:48] #15131 closed

[2019-04-03 18:08] pdunaj commented on #15145
I checked the reference counter and who calls clock on/off. It seems that mayfly is constantly enabling and disabling the clock. I expect this is correct and clock is enabled only during the transmission (I have not seen any changes in this area lately). Counter is going up and down periodically so there seems to be no missed stop.

I can't check it now but I will measure power consumption tomorro

[2019-04-03 18:11] mbolivar commented on #15156
Great work! +1 to all the above. I'd like to propose for up/down voting:

Remove DNM label and just use "Draft" PRs: https://github.blog/2019-02-14-introducing-draft-pull-requests/

[2019-04-03 18:26] andrewboie opened #15161 "stack overflow in tests/posix/common on nsim_em_mpu_stack_guard"
I suspect this has something to do with very large MPU guard sizes (2K) on this target.

[code]

[2019-04-03 18:28] pdunaj commented on #14096
Hi @andyross , you don't need any logging, only mutex lock/unlock in started threads. I placed the snippet that seems to replicate the issue right away (https://github.com/zephyrproject-rtos/zephyr/issues/14096#issuecomment-479434661). The only logged messages are from main thread that is cooperative. All started started threads will run after all code from main is done.

[2019-04-03 18:29] andyross commented on #14096
OK, I can make something happen.

FWIW: the problem you were seeing with that specific code is actually a test bug.  You're missing a call to k_mutex_init() on the lock object.  So eventually a thread will be sliced away while the mutex is held, causing future threads to pend themselves inside the k_mutex_lock() call, at which point they will crash because the wait_q is uninitialized.

But even fi

[2019-04-03 18:30] aescolar commented on #15156
The thing with this one, is that you cannot take a normal PR into draft. While quite a few times, DNM is added to a PR for some reason afterwards. I would promote people using Draft PRs, but would not remove the DNM label.

[2019-04-03 18:33] mbolivar commented on #15156
Fair enough; I didn't know that.

[2019-04-03 18:42] #15161 closed

[2019-04-03 19:05] MaureenHelm opened #15162 "Support shared gpio interrupts on kw40/41 and kl25z"
**Is your enhancement proposal related to a problem? Please describe.**
Kinetis kw40/41 and kl25z socs have multiple port instances that share a common interrupt vector. We don't currently have a way to express this in device tree, and are working around it by supporting interrupts on only one of the port instances. See #15127

**Describe the solution you'd like**
We need a way to support both por

[2019-04-03 19:24] shlomow commented on #14034
Thanks for the reply! Since ppp is mostly used by cellular devices there will be a generic library to handle 3gpp at commands?

[2019-04-03 19:30] andrewboie opened #15163 "nsim_*_mpu_stack_guard fails if CONFIG_USERSPACE=n but CONFIG_HW_STACK_PROTECTION=y"
For example, with tests/posix/common:

[code]

[2019-04-03 19:56] andyross commented on #14096
Heh, actually it was just user error.  I stuff the k_mutex_init() into the thread function instead of main, so each thread would clobber the mutex state and thus multiply lock it.  Doing it right works for me on all platforms I tried.

The race I found in k_mutex has a patch up, but on further reflection the code as written wouldn't have been actually racy on a uniprocessor platform, so it's unrel

[2019-04-03 19:56] #14096 closed

[2019-04-03 20:14] rerickson1 opened #15165 "DHCP does not work with NET_OFFLOAD"
**Is your enhancement proposal related to a problem? Please describe.**
DHCP client is not setup to work with NET_OFFLOAD.

**Describe the solution you'd like**
DHCP should be setup to work with sockets or the net_context layer so users can use it with NET_OFFLOAD if they desire.

**Additional context**
It's frustrating that upper layers of the networking stack are implemented in different ways.

[2019-04-03 20:26] MaureenHelm commented on #13766
@hakehuang Looking at this again, I see you're right that the reset is not expected behavior. The problem seems to have been resolved between rc1 and rc3, but I'm having trouble bisecting due to #14497. Can you rerun this test on your side?

[2019-04-03 20:27] ivakyb commented on #15065
@SebastianBoe  I need to override GCC flags only for files of my project, no sense to touch zephyr's files.

`zephyr_library_compile_options` works fine. Thanks.

[2019-04-03 20:27] #15065 closed

[2019-04-03 20:43] aasthagr opened #15166 "[Coverity CID :197537]Control flow issues in /subsys/power/power.c"
Static code scan issues seen in File: /subsys/power/power.c
 Category: Control flow issues
 Function: _sys_suspend
 Component: Other
 CID: 197537
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-03 20:43] aasthagr opened #15167 "[Coverity CID :197536]Parse warnings in /include/mgmt/buf.h"
Static code scan issues seen in File: /include/mgmt/buf.h
 Category: Parse warnings
 Function:
 Component: Other
 CID: 197536
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-03 20:43] aasthagr opened #15168 "[Coverity CID :197535]Incorrect expression in /tests/drivers/uart/uart_async_api/src/test_uart_async.c"
Static code scan issues seen in File: /tests/drivers/uart/uart_async_api/src/test_uart_async.c
 Category: Incorrect expression
 Function: test_single_read
 Component: Tests
 CID: 197535
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-03 20:43] aasthagr opened #15169 "[Coverity CID :197534]Memory - corruptions in /subsys/logging/log_backend_rtt.c"
Static code scan issues seen in File: /subsys/logging/log_backend_rtt.c
 Category: Memory - corruptions
 Function: line_out_drop_mode
 Component: Other
 CID: 197534
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-03 20:51] dbkinder opened #15170 "undefined symbol TINYCBOR during doc build"
**Describe the bug**
Getting an unexpected warning when generating documentation with "make htmldocs"

**To Reproduce**
[code]
No new errors reported after that.

[2019-04-03 21:30] hwagner66 opened #15171 "BLE Throughput"
After implementing a throughput test for BLE using nrf52840 hardware (BL654-USB) and Zephyr 1.14-rc1, notice some curious behavior in data we are collecting.  The test seems to show that sending data from the central (client) to peripheral (server) throughput performance is relatively balanced per connection but one peripheral seems to get little data and one peripheral get more.  In data flow fro

[2019-04-03 21:56] MaureenHelm commented on #13819
I haven't gotten to the bottom of this yet, but it seems to be some kind of timing problem or race condition. If I step through the i2c driver with a debugger, the nack conditions are handled correctly and I don't get all the false positives.

[2019-04-03 22:10] dcpleung commented on #13223
I don't have your printk changes so I cannot reproduce on my side. Here is what I have been trying today @ https://github.com/dcpleung/zephyr/tree/sue_creek_i2s_test. I had to comment out the SPI flash test because the SPI flash on my board is bad (can't even talk to it via dediprog). With or without CONFIG_STACK_SENTINEL and CONFIG_LOG (4 cases), the app worked without exceptions.

[2019-04-03 22:20] pfl commented on #15096
Still failing with:
[code]

[2019-04-03 23:05] carlescufi commented on #15170
Please run `west update` and this will fix it, assuming you have west set up correctly.

[2019-04-03 23:05] #15170 closed

[2019-04-04 00:23] andrewboie commented on #11745
Just look at SysFatalErrorHandler, it makes a decision on whether the thread should simply be killed or the whole system taken down.

[2019-04-04 01:22] cinlyooi-intel opened #15177 "samples/drivers/crypto: CBC and CTR mode not supported"
**Describe the bug**
CBC and CTR mode not supported for test case sample.driver.crypto.mbedtls only. (It works for sample.driver.crypto.mbedtls.micro)

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52_pca10040 # qemu_x86, qemu_nios2, qemu_arm, arduino_due, frdm_k64f, nrf51_pca10028, sam_e70_xplained, nrf52840_pca10056, altera_max10, quark_ss_c1000_d

[2019-04-04 02:14] cinlyooi-intel opened #15178 "samples/mpu/mem_domain_apis_test: Did not get to "destroy app0 domain", went into indefinite loop"
**Describe the bug**
According to sample.yaml,  I am suppose to get console output "destroy app0 domain", instead, the test appears to go into indefinite loop

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=sam_e70_xplained
3. make
4. make run

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - OS: f

[2019-04-04 03:14] andrewboie commented on #15178
Another very old test. I'll look into it.

[2019-04-04 03:17] andrewboie commented on #15163
To reproduce, set CONFIG_TEST_USERSPACE=n in tests/posix/common
Seems to reproduce very reliably on nsim_em_mpu_stack_guard

I spent some time looking at it today, but the root cause is still unclear. The memory exception does not seem to be against the MPU region currently defined for the stack guard, but I need to gather more data.

[2019-04-04 04:58] vonhust commented on #15163
@andrewboie the root cause for nsim_em_mpu_stack_guard is that mpu_stack_guard also requires power of 2 stack allocation.
In arc/arch.h,  I consider this only for the case of USERPACE.  I will fix it soon.

[2019-04-04 06:45] pdunaj commented on #14096
Hi @andyross , thanks for pointing this one out. It was probably just that as I am unable to replicate other issues.

[2019-04-04 06:46] SebastianBoe commented on #15083
This is now fixed, please re-open if not.

[2019-04-04 06:46] #15083 closed

[2019-04-04 07:05] rveerama1 commented on #15096
I already mentioned this in PR.
---------------------------------------------------------------------------------------------------------------------------
But it still gives error when you compile samples/net/ipv4_autoconf sample for sam_e70_xplained board. Its because of low RX buffer count in prj.conf. If someone wants to build this sample please increase the Rx Buffer count.
------------------

[2019-04-04 08:13] carlescufi commented on #15157
This looks like it was the QEMU bug related to running with the CPU fully loaded

[2019-04-04 08:13] #15157 closed

[2019-04-04 08:22] nvlsianpu opened #15180 "testing flash driver clients in CI"
**problem**
Components which are using flash driver are not well tested. Test for these component are on-board tests, so are not run in CI.

components scope:
* subsys/settings
* subsys/FS/fcb
* subsys/FS/nvs
* subsys/dfu
* ...

**solution**
We can provide emulated flash driver https://github.com/zephyrproject-rtos/zephyr/pull/8254 (https://github.com/zephyrproject-rtos/zephyr/issues/7403) which w

[2019-04-04 08:55] nvlsianpu commented on #15180
cc @carlescufi @kapi-no

[2019-04-04 09:22] eibe85 opened #15181 "ztest issues"
Scenario is using UART on nrf91 for printing on PC side. All zasserts and the the "regular" printouts of tests like what test is running and if it has passed, is skipped, or has failed, compete for the UART.
Some of the test cases finish fast, and some slow. If a test case finishes fast it looks like it can disturb printouts of previous tests.
As far as I can see from the ztest.c file tests are ex

[2019-04-04 09:30] #13397 closed

[2019-04-04 09:42] Olivier-ProGlove opened #15183 "BLE HID sample often asserts on Windows 10 reconnection"
**Describe the bug**

I was checking if https://github.com/zephyrproject-rtos/zephyr/pull/14938 could fix the issue "BLE HID sample fails to reconnect on Windows 10 tablets - Wrong Sequence Number (follow-up)" #14044.

I have the failing assert `<err> bt_ctlr_hci: assert: '0' failed` after the device connects.
I am using Nordic nRF52840 dev kit (PCA10056) in a good third of the reconnection (it is

[2019-04-04 09:46] Qbicz commented on #15083
@SebastianBoe https://github.com/JuulLabs-OSS/mcuboot/pull/457 fixes this. Thanks!

[2019-04-04 09:55] pdunaj commented on #15012
Do anybody knows if this will be fixed? If fix will not happen soon, can the change causing a problem be reverted?

[2019-04-04 10:22] carlescufi commented on #15183
I believe that an upcoming patch from @joerchan will fix this as well.

[2019-04-04 10:24] carlescufi commented on #15012
@pdunaj yes, @joerchan is working on this and it's his first priority.

[2019-04-04 10:58] galak opened #15184 "Fix build issue with z_sys_trace_thread_switched_in"
commit 4aa48833d812ca56b62226462d48da24fb9bf756 (upstream/topic-sensors)
Author: Patrik Flykt <patrik.flykt@intel.com>
Date:   Thu Mar 14 19:42:51 2019 -0600

    subsystems: Rename reserved function names

Changed _sys_trace_thread_switched_in to z_sys_trace_thread_switched_in, however we already had a z_sys_trace_thread_switched_in, so this causes build warnings (and possible issues).

[2019-04-04 11:01] ioannisg commented on #15178
It looks, again, like a problem with the watch-dog IMHO

In addition to that, I agree, this test needs re-work. To name a reason for that, the indicated log output does not correspond to the current MPU driver function calls, at least for ARM.

[2019-04-04 11:05] ioannisg commented on #15178
The sample runs in nrf52 boards, without problems.

[2019-04-04 11:20] ruuddw commented on #14642
I did a quick experiment, looking at the count values/number of iterations completed in the (fixed) test time. There is (as can be expected) significant context switch 'overhead' due to the MPU reprogramming on both nSIM and hardware (~25%-100% less iterations with userspace enabled, for both MPU variants) but that doesn't explain the 10x slower performance on nsim_sem. Based on this, my expectati

[2019-04-04 11:31] Olivier-ProGlove commented on #15183
Here is the sniffer traces when the assert occurs (I removed my workaround) to force `LL_ASSERT(0)`:[windows10-reconnection-assert.zip](https://github.com/zephyrproject-rtos/zephyr/files/3043183/windows10-reconnection-assert.zip)

I duplicated the issue twice to ensure we have consistent traces (and it looks like the trace are consistant):

- reconnection-assert1.pcapng: First try
- reconnection-a

[2019-04-04 12:11] #15093 closed

[2019-04-04 12:12] nashif commented on #15166
[code]

[2019-04-04 12:12] nashif commented on #15166
lower prio based on the nature of issue.

[2019-04-04 12:13] nashif commented on #15167
[code]

[2019-04-04 12:14] nashif commented on #15167
invalid setup, looks like west is not setup correctly and does not load modules. @aasthagr, you need to fix this.

[2019-04-04 12:14] #15167 closed

[2019-04-04 12:15] nashif commented on #15169
[code]

[2019-04-04 12:23] #14500 closed

[2019-04-04 12:58] wentongwu commented on #15103
from priv_stacks_hash.c, sched/preempt has 11 threads and /kernel/poll has 10 threads.

[2019-04-04 13:20] ioannisg commented on #15178
Looking more into the sample, I realize that the actual logging from the MPU module is not printed in console, because the logging thread does not get chance to execute (all other threads have higher priorities and, simply, yield to each other).

I am submitting a patch to fix this

[2019-04-04 13:27] nvlsianpu commented on #15063
@cinlyooi-intel

Didn't you  run this test without waiting for execution end before failure? This indeed cause failure which is consequence of unexpected flash area content.

[2019-04-04 13:29] nvlsianpu commented on #15063
This is testing suite bug (test suite need to be fixed) - not setting subsystem bug.

[2019-04-04 13:34] wentongwu commented on #15103
for sched/preempt/, if PRIVILEGED_STACK_SIZE = 256, zephyr_prebuilt.elf is 15872 Bytes, so if set PRIVILEGED_STACK_SIZE = 1024, zephyr_prebuilt.elf will almost occupy the whole sram. Finally it should add kobjects, so when do the linking for zephyr.elf, there isn't enough space.

I see the commit changing priv stack size from 256 to 1024, so the work for proving maximum syscall stack depth is ongo

[2019-04-04 13:44] ioannisg commented on #15156
Yes, I think this is a good approach.

[2019-04-04 13:47] pfl commented on #15096
Shouldn't that be "the bug" for sam_e70_xplained in this sample then? Why is the prj.conf left in such a low buffer count state in the first place?

[2019-04-04 14:28] rgundi commented on #13223
I have uploaded my branch at https://github.com/rgundi/zephyr/tree/i2s_crash. The various results are in the attached file.
[I2s issue.xlsx](https://github.com/zephyrproject-rtos/zephyr/files/3043920/I2s.issue.xlsx)

I did not see any silent failures/exceptions with these tests. All I saw was Stack failures and/or mem_alloc failures.

[2019-04-04 15:03] Vudentz commented on #15098
@paulgavrikov Im not following, one most store the params since it is pushed to a list in the stack in order to call notifify, and yes it does need to be multiple params in order to support multiple notification, the stack don't copy any params.

[2019-04-04 15:33] andyross commented on #15166
Drive-by analysis: this looks like a false positive.  If we don't have any deep sleep states configured, then sys_pm_is_deep_sleep_state() will always return false, thus making the local deep_sleep variable always false, thus preventing this block from executing.

But that's static configuration.  I don't see anything wrong with the code as written (beyond the fact that we have outrageously poor c

[2019-04-04 15:53] hwagner66 commented on #15171
In this test, all of the devices are Laird BL654-USB devices built around the nrf52840 and an FTDI UART-USB chip.  The devices are all plugged into a USB hub for testing.
One device operates as the BLE central and is a client (call it dev0).  The remaining 5 devices are BLE peripherals and act as servers (dev1-5).  I use Zephyr 1.14-rc1 enabling the Shell and BLE devices.   Shell implements comman

[2019-04-04 16:00] dcpleung commented on #13223
The two `i2c_read()` errors were `-EAGAIN`, which means there was nothing to read. IMHO, the test should retry instead of failing, as this is a recoverable error.

[2019-04-04 16:38] marc-hb commented on #15156
Unfortunately github issues don't seem to support any form of threading, so while voting works, discussing particular changes doesn't really seem posssible here :-(  On the other hand you could stack a modification PR on top of the "current state" PR #15054
https://graysonkoonce.com/stacked-pull-requests-keeping-github-diffs-small/
Or even better: just expedite PR #15054

[2019-04-04 16:42] marc-hb commented on #15156
Can it also be set by the author to request discussion in the meeting?

This is a common problem with a number of labels: From: whom To: whom? This needs to be clarified in the doc, hopefully on a per prefix basis to keep things consistent and simple.

[2019-04-04 16:52] andyross commented on #12478
Took a look here.  As far as I can tell, the earlier problem has disappeared and the only issue is, as @wentongwu discovered, SMP correctness.  There's no point in trying to finesse that with a controversial patch at this stage.  We have **lots** of known SMP safety issues in the test code already, and the workaround is just to disable SMP on those tests.  We can come back in 1.15 as part of the w

[2019-04-04 17:00] #15184 closed

[2019-04-04 17:06] pfl commented on #15096
Can we have a .prj file for sam_e70_xplained to get this sample working out of the box?

[2019-04-04 18:34] mike-scott opened #15193 "tests/net/socket/getaddrinfo tests too little"
**Describe the bug**
Assert logic in https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/net/socket/getaddrinfo/src/main.c#L23 is backwards.  You can run this test without access to a local dnsmasq server and it passes.

**To Reproduce**
1. Make sure QEMU net-tools are started, **but no local dnsmasq server is available**.
2. cd tests/net/socket/getaddrinfo
3. mkdir build && cd build
4.

[2019-04-04 18:35] mike-scott commented on #15193
I have a feeling more of the socket tests have this same issue.

[2019-04-04 18:41] andrewboie commented on #15178
I think a better approach is to look at what scenarios this test is covering vs. what is being tested with ztest under tests/kernel/mem_protect, and if there is nothing unique, delete it.

[2019-04-04 20:01] jimparis opened #15196 "logging: Support for blocking deferred logging"
With deferred logging, messages get dropped when buffers are full.  In many cases, I would prefer if the `LOG_*` caller would block instead, when possible (thread context).  For example, something like this, maybe hidden behind a config option `CONFIG_LOG_BLOCKING`:

[code]

Note that this isn't about immediate vs deferred logging -- I still want logs to be deferred when possible, I just want to e

[2019-04-04 21:07] jukkar commented on #15193
Please note that all the programs under `tests/net` are suppose to be self contained, they are not suppose to connect to outside world. The programs in `samples/net/` are different in this respect as those ones will need outside connectivity to function properly.

That said, I tried to run this test for native_posix and it fails with this message
`ASSERTION FAIL [net_if_get_link_addr(iface)->addr

[2019-04-04 21:16] mike-scott commented on #15193
@jukkar can you try and run this test for qemu_x86?  Without any setup of local dnsmasq it will PASS.  Which is not correct.  Take a look here at the assert checks:
https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/net/socket/getaddrinfo/src/main.c#L23

[2019-04-04 21:18] mike-scott commented on #15193
BTW, if you look at the asserts, there is clearly a bug there.  Removing the `bug` tag doesn't change this.  Are we to ship LTS with incorrect tests?

[2019-04-04 21:25] mike-scott commented on #15193
Ugh.  Re-reading this.  I guess this test is written as a failure?  Why does this even exist?  Samples would do compile testing for sanity.

This test is a waste of CPU cycles.

I'll close, but this is silly.

[2019-04-04 21:35] mike-scott commented on #15193
To clarify why this test is silly:
The whole reason I started investigating this, is that an actual DNS query sent via the Socket-based APIs which is never returned by the server will hang the Zephyr device.  We have an edge gateway setup where containers are loaded which handle NAT64, DNS64, joining BLE 6lowpan devices as well as OpenThread.  This issue was identified when the DNS64 container spi

[2019-04-04 21:41] mike-scott opened #15197 "Socket-based DNS API will hang device if DNS query is not answered"
**Describe the bug**
Using the socket-based DNS query APIs located here:
If a query is generated and sent, but never returned, the Zephyr device will stay in that state forever.

The cause of this is the K_FOREVER here and a bit lower (in the IPV6 code): The whole reason I started investigating this, is that an actual DNS query sent via the Socket-based APIs which is never returned by the server w

[2019-04-04 21:43] mike-scott commented on #15197
@pfalcon @jukkar Testing ignored.  This is the bug that I would like to see fixed.

If you would like pointers on how to test, please let me know and I'll setup instructions for a native sample of your choice using whatever real hardware with networking you happen to have.

[2019-04-05 00:06] andrewboie commented on #15163
@wentongwu It should not. Stack sizes should be arbitrary.
We're only setting an MPU region for the guard area for supervisor mode stacks.
So the stack buffer just needs to be aligned to the size of the guard region.

[code]

We don't need to set an MPU region for the stack buffer itself, a supervisor mode thread should already be able to read it.

The code appears to correctly align stack objects

[2019-04-05 00:22] rljordan commented on #15181
@eibe85 Can you please provide details on how to reproduce this?  Can we get specific changes to the concurrency?

[2019-04-05 00:27] rljordan commented on #15197
@jukkar  Can you please assess and add a priority to this?

[2019-04-05 00:54] ceolin commented on #15064
fixed in 96659ac83be755cd7909df4b2250bfa8378ad5f6

[2019-04-05 00:56] #15064 closed

[2019-04-05 01:08] cinlyooi-intel opened #15198 "tests/booting: Considering remove it"
Consider removing tests/booting

tests/booting has only one directory, i.e. `stub`

`stub` has no testcase.yaml, It has boilerplate `CMakeList.txt` and `prj.conf` and simply set `CONFIG_BOOT_BANNER=n`. `src/main.c` states
[code]

If the solution planned already exists, we should remove `tests/booting`. Otherwise please consider placing a note saying that missing testcase.yaml is intentional. That

[2019-04-05 03:48] cvinayak commented on #15145
Historically, the -EALREADY return value in the clock driver _m16src_stop was a fatal ASSERT if there was a miss match of start and stop. Current day, its a return value. You may check this return in controller code and assert. If you do hit this assert, then there is a bug in controller. There is not harm in adding such a check in controller.

Let me think aloud here,

Case 1, where HF clock is n

[2019-04-05 04:17] erwango opened #15201 "Support multiple shields builds"
**Is your enhancement proposal related to a problem? Please describe.**
We currently support use of shields thank to -DSHIELD=...
Though, it is limited to one shield.

**Describe the solution you'd like**
We should support compilation of multiple shields at a same time.

**Describe alternatives you've considered**
Get -DSHIELD to support being invoked multiple times as follows:
[code]

**Additiona

[2019-04-05 04:37] erwango commented on #15201
Supported with following syntax:
[code]

[2019-04-05 04:37] #15201 closed

[2019-04-05 06:13] jukkar commented on #15193
Lets not close this as there is an issue. As I said, I will investigate how to fix it.

[2019-04-05 06:15] jukkar commented on #15193
There are too may assignees so setting only one. @mike-scott, please set only one assignee at a time as otherwise it is not clear who will start to fix the issue.

[2019-04-05 06:16] jukkar commented on #15197
Setting only one assignee.

[2019-04-05 06:37] mike-scott commented on #15193
@jukka Apologies.  I'm too used to PRs where that spot is for reviews.  Thank you for taking a look here and at the new bug I opened.

[2019-04-05 06:48] arun1joshi opened #15202 "tests/benchmarks/timing_info measurements are suddenly higher than previous values on nrf52_pca10040"
**Describe the bug**
tests/benchmarks/timing_info measurements are suddenly higher than previous values on nrf52_pca10040.

**To Reproduce**

Steps to reproduce the behavior:
run  tests/benchmarks/timing_info

**Expected behavior**
No uptick in measurement

**Impact**
Its not blocking anything

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 -

[2019-04-05 07:30] eibe85 commented on #15181
@rljordan I am running a test sute wih multiple test cases the UART baud rate is set to 115200. If I use ztest_test_skip() on multiple consecutive test cases to skip those I can observe that only the last skip printout is represented properly. Here is an example output:
"
============= - test_socket_connect_tcp_ipv6
starting test - test_socket_connect_udp_ipv6
SKIP - test_socket_connect_udp_ipv6
=

[2019-04-05 08:25] rveerama1 commented on #15096
@pfl submitted fix.

[2019-04-05 08:43] tbursztyka commented on #10657
@nniranjhana  can you retry now #8339 is in master? that should fix the issue.

[2019-04-05 08:48] laperie commented on #14581
@jukkar  -- please close /resolve the issue as you see fit

[2019-04-05 08:54] laperie commented on #13943
assigning to @bravegnu since his eth_stellaris driver is reportedly broken (see @pfalcon comment above)

[2019-04-05 08:58] laperie commented on #13943
also lowering a priority since there's only one driver that is not working

[2019-04-05 08:59] tbursztyka commented on #13943
Contacting eth_stellaris maintainer

[2019-04-05 09:22] pieterjanc opened #15204 "lwm2m engine hangs on native_posix"
**Describe the bug**
When running the LwM2M engine, the application gets into an infinite loop and does not respond anymore on native_posix. This happens on my machine after 188 seconds.
When setting CONFIG_NATIVE_POSIX_SLOWDOWN_TO_REAL_TIME=n, the hang also occurs after 188 seconds simulated time.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/lwm2m_client
2. mkdir build; cd

[2019-04-05 09:46] Matt90o opened #15205 "hci_usb not working on v1.14.0rc3 with SDK 0.10.0"
**Describe the bug**
The HCI_usb example in the zephyr repo stopped working on v1.14.0rc3 using SDK0.10.0. The USB dongle does not show as a USB device. Previous build based on v1.14.0rc2 and SDK 0.9.0 works succesfully. I am using the nrf52840_pca10059 board (dongle).

**To Reproduce**
Steps to reproduce the behavior:
1. Build the HCI_usb example for nrf52840_pca10059 board
2. Flash the hex on th

[2019-04-05 10:23] carlescufi commented on #15205
@pawelzadrozniak @lemrey @barsok is this an issue only on pca10059,  or also on pca10056? I wonder if it's related to the board or the USB stack in fact

[2019-04-05 10:24] carlescufi commented on #14882
Reopening since this doesn't seem fully fixed

[2019-04-05 10:24] carlescufi commented on #14882
Reopening since this doesn't seem fully fixed

[2019-04-05 11:01] cinlyooi-intel opened #15206 "sanitycheck --coverage: stack overflows on qemu_x86, mps2_an385 and qemu_x86_nommu"
**Describe the bug**
Closure of bug #14500 via pull request #15005 remove the majority of coverage error. (Thank you for the effort. I appreciate it a lot)

I am trying not to look a gift horse in the mouth, but here are the remaining errors after merging #15005.

**To Reproduce**
[code]

It is confirmed that, if I am not running code coverage, i.e.
[code]
all the test that failed in coverage test

[2019-04-05 11:09] jfischer-phytec-iot commented on #15205
sample works fine on reel board and nrf52840_pca10056 (latest master), but not the combination of mcuboot and hci_usb

[00:00:00.201,202] <inf> mcuboot: Jumping to the first image slot
***** BUS FAULT *****
  Precise data bus error
  BFAR Address: 0x96f3b83d
***** Hardware exception *****
Current thread ID = 0x00000000
Faulting instruction address = 0x733a

addr2line -e build/nrf52840_pca10056/mcu

[2019-04-05 12:05] alexanderwachter commented on #14918
Hy @SebastianStumm!
How are you doing with the CAN on the olimexino?
I just created a PR for another board (#15209). You can see there how to bring up CAN on a board.

[2019-04-05 12:14] carlescufi commented on #15205
@nvlsianpu can you take a look at the above log?

[2019-04-05 12:17] jfischer-phytec-iot commented on #15205
@carlescufi I do not think it is a flash issue, now I got `<err> kernel: Never should get here`

[2019-04-05 12:21] nvlsianpu commented on #15205
codec Line pointed is the statement for write data to flash - so looks like stack corruption.

[2019-04-05 12:21] nashif commented on #15198
@cinlyooi-intel afaik tcf uses this file now for flashing arduino boards, so it is not a bug. We can revisit this later.

[2019-04-05 12:21] #15198 closed

[2019-04-05 13:08] kestewart opened #15213 "cmake infrastructure in code missing file level license identifiers"
**Describe the bug**
Using FOSSology to do a test clearing the zephyr-master repo,  its clear we've got a systemic failure to add license information in the CMakeLists.txt files.

**To Reproduce**
See the following files:
zephyr-master/arch/CMakeLists.txt
zephyr-master/arch/arc/CMakeLists.txt
zephyr-master/arch/arc/core/CMakeLists.txt
zephyr-master/arch/arc/core/mpu/CMakeLists.txt

zephyr-master/a

[2019-04-05 13:27] jfischer-phytec-iot commented on #14882
similar issue https://github.com/zephyrproject-rtos/zephyr/issues/15205

[2019-04-05 13:31] #15183 closed

[2019-04-05 13:36] overheat commented on #13468
@cinlyooi-intel @SavinayDharmappa @chiachuanwu According to #15109, ATSAME70 don't preserve RAM when watchdog triggers, which is a kind of chip bug and also cause failure in watchdog test. So exclude this series of chips from this test.
Please review again. thanks.

[2019-04-05 14:00] kestewart commented on #15213
Also have found: zephyr-master/cmake/backports/FindPythonInterp.cmake has BSD-3-Clause reference.

# Distributed under the OSI-approved BSD 3-Clause License.  See accompanying
# file Copyright.txt or https://cmake.org/licensing for details.

So there is some licensing bits.

zephyr-master/cmake   should be included in the cleanup.

[2019-04-05 14:56] SebastianBoe commented on #15213
Do you need to license infrastructure code? I thought it was only the sources that constitute the resulting firmware that needed to be licensed, and not the scripts that control how the firmware is built.

Or is this about over-licensing so that it is easier to for the tool to prove that all files are correctly licensed?

[2019-04-05 14:58] aescolar commented on #15156
That depends only on people approving that PR, and somebody merging it. Today both @carlescufi & @nashif have old addressed rejections which are pending their re-review..
@marc-hb If you like that PR, you can show so by approving it. If you like any of the proposals above you can indicate it with a thumb-up

Yes, at least for collaborators it should be possible.

[2019-04-05 15:25] nashif commented on #15213
the above example is taken from somewhere else which requires the license header. For something like CMakeFile.txt files we should be covered by the top level license file.

From the apache 2.0 license:

[code]

see `"to allow the license to be included by reference instead of listed in every file"`

[2019-04-05 15:28] DC11011100 opened #15214 "Enforce correct compilers in boilerplate.cmake"
**Is your enhancement proposal related to a problem? Please describe.**
I propose enhancing toolchain checkers in boilerplate.cmake. On my system, the calling order project(....) and include(....boilerplate.cmake) in CMakeLists.txt determines whether my build will fail of succeed. CMake's documentation on 'project()' isn't clear as to why this build difference occurs, but its noticeable in the cma

[2019-04-05 16:02] bravegnu commented on #13943
Going through the change history, this change https://github.com/zephyrproject-rtos/zephyr/commit/bff65b6330fc5be1614c4b2e5f9704608a1e487b#diff-36181bf0c30748729a35e42e076ac604L72 seemed to have introduced a regression. The 2 byte data_len written first should not include the header size.

[2019-04-05 16:06] avisconti opened #15216 "k_sleep() expires sooner than expected on STM32F4 (Cortex M4)"
**Description**
I'm adding support for a new sensor shield (shield-iks01a3) which should be plugged
on Nucleo board (for example F411RE, which is based on Cortex M4).
I have a sample thread that reads sensor data every 2 secs using a k_sleep().
The sensors are  programmed to generate triggers at 100hz or 200hz.
I see that k_sleep() very often takes less than 2secs.

I opened a PR (#15024) with a t

[2019-04-05 18:27] andyross commented on #15216
So... the bug that I thought I saw during review of the first patch turned out to not be one.  But on careful reflection I found a situation that could potentially be causing the behavior you're seeing.

While as explained, a LOAD value set to less than one tick is normal and desired, the driver was allowing VERY small LOAD values to be set (as low as 512 cycles), which create problems if you are

[2019-04-05 19:21] andrewboie opened #15221 "ARC: incorrect value checked for MPU violation"
The MPU stack guard check in ARC's _Fault() is checking base-10 24, not 0x24.

[2019-04-05 19:56] andrewboie opened #15223 "optimize MPU gap-filling"
This is applicable to ARC MPUv3 and ARMv8, whose MPUs do not allow overlapping regions.

Both MPUs implement logic to fill in gaps between user-writable regions with kernel-writable regions, as the "background" MPU setting does not provide access at all.

However, all the gap-filling computation is taking place at context switch time. Even worse, on ARC, the gap-filling mechanism is constantly rep

[2019-04-05 20:10] #14766 closed

[2019-04-05 20:10] #14556 closed

[2019-04-05 20:11] #15096 closed

[2019-04-05 20:11] andrewboie commented on #15103
@wentongwu I can't reproduce the failure in tests/kernel/sched/preempt, can you retry?
[code]

[2019-04-05 20:14] #13560 closed

[2019-04-05 21:56] andrewboie opened #15227 "sockets: no syscall for gethostname()"
the test tests/net/socket/misc test has userspace intentionally disabled and crashes if you turn it on.
all BSD socket APIs must be runnable from user mode.

[2019-04-05 22:02] andrewboie opened #15228 "tests: getnameinfo runs with user mode disabled"
tests/net/socket/getnameinfo has CONFIG_TEST_USERSPACE=n set in its prj.conf

This is despite the fact that it tries to run the test in user mode, and works just fine.

[2019-04-05 22:07] kestewart commented on #15213
If we have license headers in all the files, we're clear and its a lot easier to figure out automatically and not require manual judgement.    Challenge is some files are imported from other projects,  and the license of those projects needs to be traced back and explicitly documented, unless its in the file.   (see cmake/backports/FindPythonInterp.cmake - and there are others in that directory, w

[2019-04-05 22:10] andrewboie opened #15229 "network tests have extremely restrictive whitelist"
I am seeing a great many network test cases that have the following:

[code]

Why? We should be running these tests on any platform that has a network interface. We have no coverage at all on non-x86/non-ARM, and run nothing on hardware.

[2019-04-05 22:35] DC11011100 commented on #5695
As I was trying to port my freeRTOS C++ applications, I'm sad this has stagnated and that I won't be able to use the full functionality/abstraction zephyr has to offer.

Given issues like this still exist, I think it's only fair to ATLEAST put a caveat in the [documentation](https://docs.zephyrproject.org/1.9.0/kernel/other/cxx_support.html), which seems to sell zephyr as conveniently c++ compatib

[2019-04-05 23:09] dcpleung commented on #13223
@rgundi Could you try https://github.com/dcpleung/zephyr/commits/sue_creek_i2s_test again? I have updated the branch with a few new patches. I tried the different scenarios in your xlsx file and they are all passing with my changes.

[2019-04-06 00:02] andrewboie opened #15232 "tests/bluetooth/tester fails build if CONFIG_TEST_USERSPACE=n"
Steps to reproduce:

[code]

cmake output:

[code]

[2019-04-06 00:12] andrewboie commented on #14642
@ruuddw nsim_sem does tons more writes to the MPU registers than nsim_em does, to implement gap-filling. See details in #15223

[2019-04-06 10:03] jukkar commented on #15229
We had a lot more platforms earlier, but then the list was made much shorter in order to speed up sanitycheck time. Also we had lot of issues with different boards that have different requirements for memory consumption etc, but these can be overcome of course. I think this is more of a enhancement than a bug.

[2019-04-06 12:32] nashif commented on #15213
@kestewart:

I am personally fully ok with adding SPDX everywhere and be explicit instead of implicit. Not worth getting into debates about the definition of what source code is and quoting Wikipedia for that :-)

Let's get everyone onboard next week and make this happen.

[2019-04-06 13:03] kestewart opened #15234 "Missing SPDX license references in drivers source files."
**Describe the bug**
Missing SPDX license reference in the source file:

**To Reproduce**
See headers in the following files:

zephyr-master/drivers/display/Kconfig.grove
zephyr-master/drivers/entropy/Kconfig.native_posix
zephyr-master/drivers/flash/Kconfig.mcux
zephyr-master/drivers/flash/Kconfig.nios2_qspi
zephyr-master/drivers/flash/Kconfig.nrf
zephyr-master/drivers/gpio/Kconfig.cc32xx
zephyr-m

[2019-04-06 13:45] kestewart opened #15235 "Missing license references in DTS files"
**Describe the bug**
Missing SPDX license reference in the source file:

**To Reproduce**
See headers in the following files:

zephyr-master/dts/arm/armv6-m.dtsi
zephyr-master/dts/arm/armv7-m.dtsi
zephyr-master/dts/arm/armv8-m.dtsi
zephyr-master/dts/arm/nordic/nrf51822.dtsi
zephyr-master/dts/arm/nordic/nrf52810.dtsi
zephyr-master/dts/arm/nordic/nrf52832.dtsi
zephyr-master/dts/arm/nordic/nrf52840.d

[2019-04-06 14:59] lgl88911 opened #15236 "add external spi-nor flash will build fail"
**Describe the bug**
I add spi-nor flash for nrf52832 board, want to the external spi flash & nrf52832 internal flash work same times. but build error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. modify my board dts, add spi-nor flash tree:
[code]
2. modify my board default conf，add spi-nor flash config
[code]
3. make, you can find undeclared DT_JEDEC_SPI_NOR_0_ERASE_BLOCK_SIZE &

[2019-04-06 18:30] #15221 closed

[2019-04-06 18:30] #15228 closed

[2019-04-06 18:30] #15103 closed

[2019-04-06 18:30] #15227 closed

[2019-04-06 18:37] andrewboie commented on #15229
I don't agree that this is an enhancement.
We have no coverage on RiscV32, Xtensa, ARC, Nios II.
We have no testing on hardware.
We have no testing on the ARM target which support stack overflow/userspace in emulation (mps2_an385)

You do realize that if every subsystem did this, we would have hardly any testing at all? Why was it decided that network tests didn't need to run on every available pl

[2019-04-06 18:46] andrewboie commented on #15232
The CONFIG_GPIO=y in the default.conf seems to be causing this. Perhaps the error happens which a driver subsystem is selected, but no driver code at all to build? Userspace would cover this up since it would build the syscall handlers. @SebastianBoe any idea?

[2019-04-06 19:25] kestewart commented on #15213
Thanks Anas.      It will make it much easier for everyone doing licensing clearing for products to not have to look into all the cases one by one when license aren't present.

[2019-04-06 20:44] sathishkuttan commented on #13223
@rgundi printk should not be used once the interface has started because it can delay the reloading of DMA resulting in transfer errors.

@rgundi @dcpleung based on some of your observations, my hypothesis would be that the crashes/exceptions are a result of unintended eviction of data from the cache. Since the entire internal memory is is configured with writeback data cache attribute, some data

[2019-04-06 21:29] jukkar commented on #15229
That is a good list of additional boards, lets start with these to add more hw coverage to networking tests.

Most of the networking software is hw agnostic, they do not really depend on where they are run. But of course it is good to add more boards to the testing. I think we do not need to add for example all network enabled ARM boards to the testing, it just feels pointless. We could for exampl

[2019-04-06 21:45] andrewboie commented on #15229
Works for me, thanks!

[2019-04-06 22:58] nashif opened #15240 "esp32 build broken"
after rename of a string, build is broken and GPIO driver does not build.

[2019-04-07 09:44] AliceMurray opened #15242 "west/run_common.py: TypeError when using unknown arguments."
**Describe the bug**
When using west flash with unknown arguments, you get an TypeError at raising a CommandContextException because it is called with too much arguments.

**To Reproduce**
1. west build -s ../zephyrproject/zephyr/samples/hello_world -b 96b_nitrogen -d build-hello_world
2. west flash --build-dir build-hello_world --unknown_arg
3. see the following error trace:
[code]

**Expected be

[2019-04-07 12:45] #15213 closed

[2019-04-07 12:45] #15234 closed

[2019-04-07 12:45] #15235 closed

[2019-04-07 12:50] #15240 closed

[2019-04-07 16:22] #14098 closed

[2019-04-07 19:53] andrewboie opened #15246 "doc: confusion about dtc version"
I set up a workstation with Ubuntu 18.04 LTS and discovered that the device-tree-compiler is out of date:

[code]

However, the provided link gives no information about using an alternate dtc binary. I have the Zephyr SDK 0.10 set up.

[2019-04-07 19:57] andrewboie commented on #15246
The SDK supposedly has a binary, but I can't seem to get the build to use it. If I do "sudo apt remove device-tree-compiler" it removes it, and then I get this when I try to build:

[code]

I don't know where it is getting this 0.5.7 version of dtc

[2019-04-08 02:59] cinlyooi-intel opened #15247 "tests/posix/common: test_posix_pthread_execution() reboots repeatedly for portability.posix"
**Describe the bug**
test_posix_phread_execution()reboots repeatedly.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f
3. make
4. make run

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora
 - Toolchain : zephyr
 - Commit SHA or Version used: 318a98a7fb1f604369ff1f2ee99608836176

[2019-04-08 03:31] paulgavrikov commented on #15098
@Vudentz Right, and this works for the Zephyr sample but if you have multiple connections with multiple subscriptions issued by a user to any potential GATT server handling this becomes a nightmare.

[2019-04-08 05:24] ChaserTlss commented on #12272
I'm interested in this features,  Any update in this patch? Why this patch is not merge.
What's the new plan for this patch?

[2019-04-08 05:58] AdithyaBaglody commented on #15107
There are 2 options here.
1. Disable the coverage.
2. Run this on a hardware which has multiple memory regions.
 The 2nd option is not feasible for mps2_an385 because it has only one memory region. This sample creates another memory region inside sram to show the working of code-relocation script. I am not sure how the gcov would behave when we instrument the code in different memory regions. So I

[2019-04-08 07:20] ManojSubbarao commented on #14283
@cinlyooi-intel  can this be closed if issue is fixed?

[2019-04-08 07:24] wentongwu commented on #15107
.sram2_data     0x00000000202002d4     0x1aa8 load address 0x0000000000000394
                     ... ...
 .data..LPBX1   0x0000000020201d70        0x4 CMakeFiles/offsets.dir/arch/arm/core/offsets/offsets.c.obj
 .data..LPBX1   0x0000000020201d74        0x8 libcode_relocation_source_lib.a(code_relocation.c.obj)
 *(SORT_BY_ALIGNMENT(.rel.data..LPBX1))
                0x0000000020201d7c

[2019-04-08 07:25] SebastianBoe commented on #15232
That is correct. I would look into which driver sources should have been included, or look into if the driver shouldn't have been enabled in the first place.

[2019-04-08 07:55] llisauskas commented on #14034
@jukkar Are you targeting cellular devices?
Most often embedded devices communicate with cellular modems via UART and designating it only for PPP limits modem features severely (env. monitoring such as serving and/or visible cells, SMS operations, incoming/outgoing calls and so on are unavailable if port is used by PPP). Have you thought about implementing CMUX (3GPP TS 07.10 multiplexer) to overc

[2019-04-08 08:16] cvinayak commented on #15171
@hwagner66 The central scheduling would place the slave connections of similar connection interval in a group next to each other with a minimum possibility of one default sized PDU exchange. When you have 251 bytes PDU and n peripheral connection, there will be chance for only the central to send a single PDU. The peripheral does not have enough on air time before the next peripheral connection is

[2019-04-08 08:43] AdithyaBaglody commented on #15107
I actually don't see this error. I just find that the emulator has crashed. In my case I don't see 4byte offset (but still fails) ,so I cant tell what caused this. But if you think this is the issue please go ahead an create a PR fixing it.

[2019-04-08 09:10] tautologyclub opened #15251 "nRF Watchdog not triggering on kernel panic"
If I configure watchdog and try it out with for example

[code]

a wdt reset is always triggered. But if I try to trigger it with

[code]

the watchdog does nothing. The system just hangs indefinitely.

[2019-04-08 09:13] tautologyclub commented on #15251
Actually, the following snippet doesn't trigger it either:

    typedef void (*bla)(void);
    ...
        	/* Try pissing off the MPU */
        	bla null_func = (bla)0;
	        null_func();

[2019-04-08 09:34] rgundi commented on #13223
Tested with your branch and i concur with your findings. All the scenarios passed for me as well. I had to change your latest patch a bit though as i was not able to get JTAG working reliably with that patch.

[2019-04-08 11:36] aescolar commented on #15196
@jarz-nordic @nordic-krch

[2019-04-08 11:50] aescolar commented on #15214
CC @SebastianBoe

[2019-04-08 11:56] SebastianBoe commented on #15214
placing project() before include() is not supported.

If there is a clean way to detect and report this user-error then a patch to this effect would be very welcome. I would prefer to not add support for placing 'project' before 'include' unless there is a good reason to support it.

[2019-04-08 12:08] carlescufi commented on #15246
Strange, this works perfectly well for me. I have DTC 1.4.5 but the build correctly uses the one in my SDK:

[code]

@andrewboie note that you need to set:
`ZEPHYR_SDK_INSTALL_DIR="/home/carles/bin/zephyr-sdk"`
for the build system to find your dtc.

[2019-04-08 12:39] carlescufi commented on #15205
@Matt90o You are not using MCUboot here but the Nordic stock bootloader right?

[2019-04-08 13:32] Matt90o commented on #15205
Yes I am using the Nordic stock bootloader. I am packaging the HCI usb example exactly as described in the docs [here](https://docs.zephyrproject.org/latest/boards/arm/nrf52840_pca10059/doc/index.html#flashing-with-a-device-firmware-update-dfu).

[2019-04-08 14:28] carlescufi commented on #15205
@Matt90o I cannot reproduce this at all with the current master (7cdfe7f26f4bc840a0c3554732b8cf6ed1a645c8) and SDK 0.10.0. The app boots correct and is detected by BlueZ on the Linux Host.

[2019-04-08 14:45] Matt90o commented on #15205
@carlescufi This seems to be fixed in https://github.com/zephyrproject-rtos/zephyr/commit/e01662d387c0dfb5e68ed964174106e57c778fc5. I have tried the HCI usb example again with SDK 0.10.0 and the device pops up again as usb device. So this issue can be closed.

[2019-04-08 14:45] #15205 closed

[2019-04-08 14:50] #15063 closed

[2019-04-08 14:52] dleach02 commented on #15156
I'm not sure renaming TSC/Maintainer to a review time is useful. The intent of the label is to highlight who needs to pay attention. I know the TSC label gets used a good bit in the TSC meetings.

[2019-04-08 15:06] carlescufi opened #15256 "Link Layer Control Procedure overhaul"
There are three types of issues that can occur today when handling Control Procedures in the Link layer (both legacy and split):

* Type 1: Peer initiated procedure first and then local initiated procedure will lead to `HCI_CMD_DISALLOWED`
* Type 2: Local initiated procedure first and then peer initiated procedure will lead to disconnect
* Type 3: Multiple local initiated procedures processed simu

[2019-04-08 15:26] carlescufi commented on #15251
@nordic-krch @kl-cruz @andrewboie what's the expected behavior for watchdogs when a kernel panic is triggered?

[2019-04-08 15:28] pawelzadrozniak commented on #15145
https://github.com/zephyrproject-rtos/zephyr/pull/15257

[2019-04-08 16:22] dykon opened #15259 "CAN sample does not work"
CAN sample does not work

We try to get the ```zephyr\samples\net\sockets\can``` sample to work on a ```nucleo_l432```

Compilation and flashing works without problem.

Serial output is:

[code]

[2019-04-08 16:34] ioannisg commented on #15251
the system is expected to hang:

[code]

[2019-04-08 16:36] ioannisg commented on #15251
Can you post the exact output you see?

[2019-04-08 17:00] jimparis opened #15260 "Shell doesn't always process input data when it arrives"
The shell doesn't always consume all input data when it arrives.
For example, when several lines worth of data are pasted simultaneously from the host, the shell will act as if it only received the first or second line.  If the host sends even more input, then the shell starts to "catch up" and processes the third original pasted line as if it had just arrived.

Tested on nrf52 with shell over UAR

[2019-04-08 17:22] andrewboie commented on #15246
I have ZEPHYR_SDK_INSTALL_DIR set, but it still couldn't find it.
I had to download dtc manually compile and install it. Then I was able to run sanitycheck.

[2019-04-08 17:25] andrewboie commented on #15181
printk() is synchronous.

whats printing "amily:1 type:1 protocol:6"?

[2019-04-08 18:23] jimparis commented on #15236
Hi,
I raised this same issue in PR https://github.com/zephyrproject-rtos/zephyr/pull/15225/
This patch should help: https://github.com/zephyrproject-rtos/zephyr/pull/15225/commits/cc5ffd03b6a5d258d7af8ccdf247402f017c0a00

[2019-04-08 18:44] andrewboie commented on #15251
What are you expecting to happen when k_panic() is called?
This does not seem like a bug to me.

[2019-04-08 18:44] alexanderwachter commented on #15259
@ dykon what does your setup looks like? Do you have a CAN transceiver attached to the board?
Can you enable Asserts and CAN drivers debug log and try it again?

[2019-04-08 19:52] #15251 closed

[2019-04-08 19:59] henrikbrixandersen commented on #15251
I would at least expect to be able to configure this behavior. A system watchdog is not of much use, if not for resetting the CPU when an error occurs.

[2019-04-08 20:02] carlescufi commented on #15246
@andrewboie I am puzzled then because it should search first `CMAKE_PREFIX_PATH` and then `PATH`. And it is being added to `CMAKE_PREFIX_PATH` according to:
https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/toolchain/zephyr/0.10.0/host-tools.cmake#L9

Can you please double-check that your `ZEPHYR_SDK_INSTALL_DIR` is pointing to a correct installation of 0.10.0?

[2019-04-08 20:13] carlescufi commented on #15202
@pizi-nordic @nashif @arun1joshi could this be a regression with the performance of the compiler?

[2019-04-08 20:14] aescolar opened #15266 "doc: Contribution guidelines still link to IRC"
In the contribution guidelines:
https://docs.zephyrproject.org/latest/contribute/index.html#pull-requests-and-issues
we are still pointing to IRC (Last time I was on our IRC channel, it was a ghost town)

I'd think we should be pointing to slack instead.

[2019-04-08 20:21] jarz-nordic commented on #15260
I've added @jimparis as a resolver because he already fixed it ;)

[2019-04-08 21:24] andrewboie opened #15272 "sanitycheck reports build errors as "handler crash""
Running sanitycheck for nsim_em_mpu_stack_guard I got:

[code]

But looking at the log it's a build error:

[code]

This should be reported as a build error and not the handler crashing!!

[2019-04-08 23:38] #15260 closed

[2019-04-09 01:16] overheat commented on #13417
Fixed through #14968

[2019-04-09 01:21] andrewboie commented on #15223
somewhat related task for MMU-based x86: #13003

[2019-04-09 01:29] andrewboie commented on #15247
that test sits for a few seconds after those printouts (it's doing a lot of context switch thrashing between threads) and then continues...could this be a watchdog reset?

[2019-04-09 02:43] nashif commented on #15202
this can be a lot of things, I would like to see the data from a "good run" first.

[2019-04-09 03:30] nashif opened #15278 "CANopen Support"
**Is your feature request related to a problem? Please describe.**

CANopen is a CAN-based communication system. It comprises higher-layer protocols and profile specifications.

[2019-04-09 05:13] SebastianStumm commented on #14918
Hi,
First of all thank you alot for the help and feedback !
I did add the controller but did not submit a pr yet because it does not fully work currently. I took a look at your example with the nucleo_f746zg and I basicly already did the same configuration with some minor changes due the lack of alternate function registers of the stm321f03.

**1. stm32f103Xb.dtsi under soc**
[code]

**2. olimexin

[2019-04-09 05:27] wgy0831 opened #15279 "mempool alignment might cause a memory block allocated twice"
the alignment in mempool is #define _ALIGN4(n) ((((n)+3)/4)*4), it means the alignment might expand the size of the block. If max_sz is not the power of four such as 36, the size of second level is ((((36/4)+3)/4)*4) = 12. Function block_break breaks the big block into 4 small blocks and append the last 3 blocks into the free_list.The last block might overflow the big block because function block_

[2019-04-09 05:31] wentongwu opened #15280 "tests/kernel/mem_protect/stackprot fails on platform qemu_riscv32"
**Describe the bug**
tests/kernel/mem_protect/stackprot fails on platform qemu_riscv32

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=qemu_riscv32  ..
3. ninja
4. See error

**Screenshots or console output**
***** Booting Zephyr OS v1.14.0-rc3-148-g318a98a7fb1f *****
Starts alternate_thread
alternate_thread: Input string is too long and stack o

[2019-04-09 05:45] #15280 closed

[2019-04-09 06:15] jukkar opened #15282 "Enhance networking tests/net/all tests"
We should update network `tests/net/all` testing by adding missing Kconfig options to prj.conf file and possibly adding more usage stuff to `src/main.c` file.

[2019-04-09 06:33] anangl commented on #15251
@henrikbrixandersen

Just configure and enable the watchdog then. When its timer expires, it will reset the CPU, no matter if
it is hung (in `k_panic();`, `while (1);`, or any other infinite loop), or it runs normally. That's how watchdogs work. They are to reset the system when they are not fed (their timers are not reset) for a certain (mostly configurable) time. But they need to be permitted to

[2019-04-09 07:26] carlescufi commented on #15251
@andrewboie @ioannisg @tautologyclub maybe `k_panic()` should reboot?

[2019-04-09 07:57] ioannisg commented on #15251
So, first, let me present some findings. It looks to me that the watchdog (for nRF) works as expected. Here's my modified hello-world (inspired by the watchdog test):

[code]

Here's the output I get (goes forever):

[code]

So it seems to me that the kernel is in panic, but the watchdog still reboots the MCU at expire time.

[2019-04-09 08:05] ioannisg commented on #15251
So, k_panic() triggers the System Fatal Error Handler, which, in /arch has a weak implementation

`void __weak z_SysFatalErrorHandler(unsigned int reason, const NANO_ESF *pEsf)`

and simply hangs the CPU, but does not stop/reset the watchdog, or disables interrupts, AFAICS, so the behavior we see is the expected one.

I don't think we need to enforce system reboot on k_panic(); this is something t

[2019-04-09 08:34] wentongwu commented on #15279
I don't think 36 can be partitioned more, that means in your case the minimum block size should also be 36.

[2019-04-09 08:45] wgy0831 commented on #15279
Why can't 36 be partitioned more? I change the number to 4100 and the smaller block size is 1028,  the case still works because the max_sz is not the power of 4.

[2019-04-09 09:20] jukkar commented on #15259
Just tried this with `nucleo_l432kc` board and I did not see any errors.

[2019-04-09 09:37] vonhust opened #15285 "arc: it's not reliable to use exc_nest_count to check nest interrupt"
**Describe the bug**
   using exc_nest_count to decide whether is nest int is not reliable.  a better option is to use IRQ_ACT

**To Reproduce**
 A case is:  a high priority int preempts a low priority int before rirq_enter/firq_enter, then in _rirq_exit/_firq_exit, it will see exc_nest_cout is 0, this will lead to possible thread switch, but a low priority int is still pending.

**Expected behavi

[2019-04-09 10:05] pdunaj opened #15286 "HF clock's m16src_grd and BLE stack"
**Describe the bug**
I was reviewing HF start and stop in `nrf_power_clock.c` and noticed that these functions use `m16src_grd`. The idea is to unlock the interrupts but mark the clock operation as pending until in finishes. While the operation is pending a concurrent call to `m16src_start` or `m16src_stop` will return with `-EAGAIN`. The problem is BLE stack is ignoring all return values from HF

[2019-04-09 10:06] pdunaj commented on #15286
Ah... and there is no barrier before releasing the guard.

[2019-04-09 10:07] pdunaj commented on #15145
I have created https://github.com/zephyrproject-rtos/zephyr/issues/15286 for observations regarding the HF clock start/stop issues (guard and lack of barrier).

[2019-04-09 10:12] rgundi commented on #13223
I ran 2 experiments.
1) Experiments on Latest HEAD (38ecf)
    a) Pristine HEAD - fails with mem error (see below)
        Testing I2S bidirectional transfer
        RX Start failed with -12 error
        [00:00:03.950,000] <inf> soc: Reference clock frequency: 38400000 Hz
        [00:00:03.950,000] <inf> dma_cavs: Device DMA_0 initialized
        [00:00:03.950,000] <inf> dev_i2s_cavs: Device I2S_

[2019-04-09 10:21] rgundi commented on #13223
So, my inference is that there are/were 3 separate problems.
1) The dynamic k_mem_slab usage in I2S test has been giving some problem from before itself. We need to separately see what that issue is.
2) With respect to using the static K_MEM_SLAB_DEFINE, there was some exception seen earlier which is not there anymore on the main line. I suggest we drop it for the time being. We can look into it i

[2019-04-09 11:06] alexanderwachter commented on #15259
@jukkar @dykon I guess that the CAN controller is not ready or something like that. We will see this in the logs.
@jukkar did you tried socketCAN without an initialized CAN controller?

[2019-04-09 11:19] jukkar commented on #15259
Note sure what you mean by that. I just flashed the socket_can sample to two nucleo_l432kc boards. Then monitored the 1st board that it is not crashing. After that I started 2nd board which was connected to 1st board. Monitored both boards and did not see any errors / crashes. So this setup worked for me.

[2019-04-09 11:22] alexanderwachter commented on #14918
@SebastianStumm can you try calling
[code]
in zephyr/boards/arm/olimexino_stm32/pinmux.c after
[code]

The phenomenon of sending more than one frame could also be a result of bouncing user button.
Enable Asserts and debug log of the CAN driver in menuconfig. Maybe something is wrong with the BS1 and BS2 config, for example the prescaler is not a real number.

[2019-04-09 11:41] alexanderwachter commented on #15259
I just wonder why it crashes. Maybe it is because the controller initialization fails (for example the CAN_RX pin is not high when the driver is initializing).

[2019-04-09 11:53] #15266 closed

[2019-04-09 11:57] tejlmand opened #15289 "Zephyr module uses `\` in path on windows when creating Kconfig files"
The script `zephyr_modules.py` uses `os.path.abspath` when generating Kconfig include files for windows.

This causes the generated file to contain path like:
[code]
cause the load to fail in windows.

Instead posix style paths should be used.

[2019-04-09 12:16] lgl88911 commented on #15236
@jimparis  Thanks, I use your patch, build pass

[2019-04-09 12:32] ulfalizer commented on #15289
Oh, wait, I realized how it fails. "\p" is transformed to just "p", due to how escaping works in strings in Kconfig.

[2019-04-09 12:34] ioannisg opened #15292 "ARM: FPU: imlement ASSERT-based testing of multi-usage in Unshared FP Services mode"
We may want to enhance the implementation of Unshared FP Services' mode, by providing a testing mechanism that detects corruptions of FPU as a result of accidental sharing between multiple thread contexts.

The mechanism should trigger ASSERTS if the FPU is used by multiple threads under the Unshared Mode (CONFIG_FLOAT=y, CONFIG_FP_SHARING=n).

[2019-04-09 12:37] galak commented on #15246
@andrewboie do you happen to have DTC set in your environment?

[2019-04-09 13:01] E3V3A opened #15293 "Zephyr find the wrong python interpreter"
I'm, trying to run a demo compile using the SEGGER Embedded Studio:

[code]

I'm following the detailed installation instructions as given by the *Getting Started Assistant* provided by `nRF Connect v2.6.2` plug-in, which is part of the Nordic Semiconductor SDK.
All step were completed without issue until trying to run the final demo example.

In the SEGGER code windows for `FindPackageHandleStand

[2019-04-09 13:09] E3V3A commented on #15293
Just seen that this is related and similar to both:
* https://github.com/zephyrproject-rtos/zephyr/issues/12066
* https://github.com/zephyrproject-rtos/zephyr/issues/11103

[2019-04-09 13:19] tautologyclub commented on #15251
@ioannisg Of course I configured the watchdog before I did `k_panic()`. I expected the watchdog reset to trigger, but it didn't. It is only triggered by infinite busy waiting. My code is pretty much identical to yours w.r.t. setup. The only difference is that I used the flags

[code]

[2019-04-09 13:20] tautologyclub commented on #15251
@andrewboie You sure this issue is closed?

[2019-04-09 14:17] Vudentz commented on #15098
@paulgavrikov Most of Zephyr API actually have the same principle of not copying parameters, that seems natural when there is no use of malloc internally. Alternatives would be to have a pool on the stack, but that seems more complicated than having one struct per request which each application should be able to managed compared to managing everything with a single pool which is prone to be miscon

[2019-04-09 15:38] E3V3A commented on #15293
@carlescufi
I suppose that this issue can be closed, since the real issue seem to be lacking usage/documentation.
So where should I report this?

---

By patching up or using the latest zephyr tag branch it gets past the OP error.
However, now I get:
[code]

[2019-04-09 15:43] tautologyclub commented on #14749
I can attest that `boards/nrf52/power_mgr` seems completely broken (tested on `nrf52840_pca10056`, with some RTTLogger configs added to prj.conf):

[code]

I know I got it to running as expected a while ago (maybe November-December?), perhaps I should start a new issue though.

[2019-04-09 15:43] E3V3A commented on #15293
Anyone else who come here, make sure **not** to use the tag branch `v1.13.99-ncs2`. It doesn't include the python finding patch.

[2019-04-09 15:43] #15293 closed

[2019-04-09 15:47] #15178 closed

[2019-04-09 16:03] E3V3A opened #15299 "west init fails in powershell"
I'm following your west instructions from [here](https://docs.zephyrproject.org/latest/getting_started/index.html) with the result that `west init` fails, like this:

[code]

With PWSH version:
[code]

[2019-04-09 16:22] mbolivar commented on #15299
Hi @E3V3A, and thanks very much for the report.

Zephyr in general is tested using cmd.exe on Windows. Powershell support is neither expected nor guaranteed. Are you able to work with cmd.exe (or the Bash that comes with git)? I've tested west with both of those today on Windows 10 and had no issues.

[2019-04-09 16:23] jhedberg opened #15300 "Bluetooth: Mesh: bt_mesh_fault_update() doesn't update publication message"
bt_mesh_fault_update() sends out the publication message but doesn't update it prior to it, as intended.

[2019-04-09 16:42] andrewboie commented on #14688
I'm going to close this, as the ARC approach has issues with alignment. Separate privilege mode stacks are going to need to stay for power-of-two systems.

[2019-04-09 16:42] #14688 closed

[2019-04-09 16:43] alexanderwachter opened #15303 "net: Stackoverflow in net mgmt thread"
**Describe the bug**
Stack overflow in net mgmt event thread. This bug was observed on a net_l2 layer that
is not yet submitted to zephyr (6LoCAN). Maybe it can't be reproduced with Ethernet.

**To Reproduce**
- Build net sockets echo client sample for nucleo_f746zg board
- Enable stack sentinal and thread names
- Flash board
- Open GDB start debugging and enter print *(struct k_thread*) <0x threa

[2019-04-09 16:45] andrewboie opened #15304 "merge gen_kobject_list.py and gen_priv_stacks.py"
Generation of privilege mode stack buffers can take place in the main gen_kobject_list.py script, there's no actual need for them to be separate. Any data/bss for objects declared in the gperf C file already goes in an area of memory which can expand without limit.

We just need the main gperf table; for any thread's kobject, the data field will point to a struct containing the thread ID and a poi

[2019-04-09 16:46] #15107 closed

[2019-04-09 16:49] andrewboie opened #15305 "add QEMU target for armv8-M with MPU support"
QEMU 4.0 seems to have support for ARMv8-M and its MPU. Create a CI build target that runs as this, with MPU support enabled.

This will greatly help keep the ARMv8-M port of memory protection from bit-rotting as we will be able to validate test cases with CI.

[2019-04-09 17:12] nashif commented on #15285
@ruuddw @vonhust are you working on a fix for this?

[2019-04-09 17:21] E3V3A commented on #15299
@mbolivar
Hi. Thanks for quick feedback. I'm just trying to get my SEGGER ARM Development kit to work, and it seem to require west. (As I explained in detail [here](https://github.com/zephyrproject-rtos/zephyr/issues/15293). )

I can try to use whatever, as long as it's not WSL, since I'm on W8.1. I tried normal bash, but that resulted in a very similar error. But I need to know if there are addit

[2019-04-09 17:21] nashif commented on #15166
false positive

[2019-04-09 17:21] #15166 closed

[2019-04-09 17:30] mbolivar commented on #15299
The details are all covered in the getting started guide: https://docs.zephyrproject.org/latest/getting_started/index.html

West doesn't require any additional environment variables.

The windows specific document inside has a `cmd.exe` setup option: https://docs.zephyrproject.org/latest/getting_started/installation_win.html

WSL is also covered there; you can ignore it, it's just another option.

[2019-04-09 18:00] E3V3A commented on #15299
@mbolivar

Come on guys, ^^ that is not very helpful! (Referring back to the same document I already mentioned I was following.)

So what is [`this`](https://github.com/zephyrproject-rtos/zephyr/blob/master/zephyr-env.cmd#L2) used for? (When is it supposed to be used?)

`set ZEPHYR_BASE=%~dp0`

No it doesn't, did you actually read it?

Have you actually tried to walk through your own installation

[2019-04-09 18:12] carlescufi commented on #15246
I thought about that but even then `find_program` should give precedence to the `CMAKE_PREFIX_PATH` according to CMake doc.

[2019-04-09 18:15] carlescufi commented on #15299
@E3V3A I recently went through a full setup of west on a clean machine using Powershell without any issues. I was helping another user getting set up. Can you please verify that you can reach `git` from your powershell prompt? I suspect that is the issue. You need to add the folder containing `git.exe` to your `PATH`. Could you try that and let us know?

[2019-04-09 18:19] carlescufi commented on #15299
We need to clarify that. It is required when building using CMake and ninja but not when building using west.

https://docs.zephyrproject.org/latest/getting_started/installation_win.html#option-1-windows-command-prompt

It mentions `cmd.exe` by name doesn't it?

[2019-04-09 18:23] carlescufi commented on #15299
Assuming you are building for Arm:
* `ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb`
* `GNUARMEMB_TOOLCHAIN_PATH=c:\path\to\gnu\arm\embedded`

See https://docs.zephyrproject.org/latest/getting_started/toolchain_3rd_party_x_compilers.html#gnu-arm-embedded

You need install CMake, yes. You can use Chocolatey as described here:
https://docs.zephyrproject.org/latest/getting_started/installation_win.html#option-1

[2019-04-09 18:34] mbolivar commented on #15299
Sorry, I meant to say that west doesn't require any additional environment variables beyond what's in the getting started. In fact, we're trying to decrease the use of mandatory environment variables in general by making them west configuration options. ZEPHYR_BASE is an example; you don't need to set it if you're using west to build, flash, and debug. You still need to set the other variables cov

[2019-04-09 19:18] andrewboie commented on #15246
This must have something weird but transitory in my environment when I was setting up this workstation, seems to be fine now. Sorry for the noise!

[2019-04-09 19:35] #15285 closed

[2019-04-09 19:35] #15303 closed

[2019-04-09 19:43] andrewboie commented on #15181
It is not, the PRINT macro maps to printk():

[code]

There's also a PRINT_DATA() macro in ztest which maps to printk:

[code]

and TC_PRINT() which is mapped onto PRINT_DATA():

[code]

I don't know why PRINT_DATA() doesn't just map onto PRINT.

Would this solution be acceptable:

1) #define PRINT PRINT_DATA
2) Implement PRINT_DATA as an inline function which grabs a global sys_mutex before it pr

[2019-04-09 20:34] E3V3A commented on #15299
Hi Guys! Good News!

The culprit *seem* to have been a combination of pwsh 6.1 (when using chocolatey install) and indeed the **git.exe** culprit. Apparently the verification steps for git passed, making me believe it was working. However, something had picked up the wrong git. (From Cygwin, which we know is partially broken for native Windows use, due to a known bug but lacking updates to its Cyg

[2019-04-09 20:34] #15299 closed

[2019-04-09 20:49] carlescufi commented on #15299
Thanks for the feedback and for following-up @E3V3A. Know that we have just merged a PR into the west repo improving the error code when Git is not found after you  brought it up.

[2019-04-09 21:00] ioannisg opened #15309 "ARM Cortex-M SysTick Load value setting off-by-one"
When the counter reaches zero, it reloads the value in
SYST_RVR on the next clock edge. This means that if the
LOAD value is N, the interrupt ("tick") is triggered
every N+1 cycles. Therefore, when we operate in non-
tickless mode, we need to configure the LAOD value
with CYC_PER_TICK - 1, in order to get an event
every CYC_PER_TICK cycles.

Reference: https://developer.arm.com/docs/dui0471/l/hand

[2019-04-09 21:15] gnuless commented on #15177
This appears to be the expected behavior.  From `crypto_mtls_shim.c`:

[code]
In addition, the test case doesn't need to be modified because it's not failing: it doesn't look for successful crypto, just to see if it attempts the crypto. So I'm going to close this as a false alarm.

[2019-04-09 21:18] #15177 closed

[2019-04-09 21:28] mbolivar commented on #15299
Great! Thanks, glad to hear it.

[2019-04-09 21:37] andrewboie commented on #14869
I think this has something to do with unaligned memory access to the ring buffer storage area, still digging

[2019-04-09 22:00] andrewboie commented on #14869
Seems that on the real Max10 board, trying to array reference an unaligned pointer implictly changes stuff. The rb_data[] array passed to ring_buf_item_put() is not 4-byte aligned.

In emulation, and presumably on other hardware, we see:

[code]

But on the Max10 board, the unaligned pointer is treated differently:

[code]

We expect data[i] to be 0x44434241, which is what "ABCD" would look like i

[2019-04-09 22:30] andrewboie commented on #14869
https://stackoverflow.com/questions/51126257/what-does-the-standard-say-about-unaligned-memory-access

I'm gonna go with this being undefined behavior.

[2019-04-09 22:32] tormodvolden commented on #8734
As I explained in the pull request, the problem is not that the timeout in dfu-util is too small (the device should always respond immediately to the DFU request USB transaction) but that the device is not correctly implementing the DFU standard and the bwPollTimeout in the DFU_GETSTATUS response.

[2019-04-09 22:39] #15163 closed

[2019-04-09 23:38] #14642 closed

[2019-04-09 23:59] #14869 closed

[2019-04-10 04:34] arun1joshi commented on #14869
verified that the tests/lib/ringbuffer test cases are passed with the latest commit 9926f94

[2019-04-10 04:54] marc-hb opened #15315 "doc: simplify cmake examples thanks to cmake's new -B option"
This issue is to request that the cmake examples in the documentation are simplified thanks to the new -B option.

CMake versions before 3.13 required running cmake from the temporary `build` directory, example:

https://docs.zephyrproject.org/1.13.0/getting_started/getting_started.html#building-a-sample-application

As explained in the CMake FAQ, one of the major advantages of out-of-source build

[2019-04-10 05:22] Pathak94 opened #15316 "printf causing usage fault"
I'm trying to print float values to the console. But, it is causing usage fault error. Also, I'm trying to read sensor values and trying to write it to the SD card.

Here, code fails.
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=nrf52840_blip ..
3. make

**Expected behavior**

***** USAGE FAULT *****
  Illegal load of EXC_RETURN into PC

[2019-04-10 06:45] aescolar commented on #15315
CC @SebastianBoe @dbkinder

[2019-04-10 06:56] ioannisg commented on #15316
Could you give some more details, e.g. which sample/test your are attempting to execute, where do place the code snippet you posted, etc.?

[2019-04-10 07:31] SebastianBoe commented on #15315
I agree that we should update the documentation to use the -B flag.

[2019-04-10 07:56] #15300 closed

[2019-04-10 09:10] anangl opened #15323 "blink_led sample does not work on most of the nRF boards"
The issue was originally reported on slack (#general):
[code]
Indeed, when trying to run this sample on any board with an nRF52 series SoC, which by default uses the HW PWM driver, one hits the following error:
[code]
Same happens for boards with nRF91 series SoCs.

For nRF52 the solution could be to use the nRF SW PWM driver, for nRF91 the driver is unavailable.

[2019-04-10 09:26] nhauyeneducation opened #15324 "Error undefined reference to `__aeabi_uldivmod' when build Zephyr for nrf52_pca10040 board"
**Describe the bug**
I try to build zephyr-zephyr-v1.9.2 with zephyr sdk and I meet a issue

  AR      libzephyr.a
  AR      libapplication.a
  LINK    zephyr.lnk
/opt/zephyr-sdk/arm-zephyr-eabi/bin/../lib/gcc/arm-zephyr-eabi/8.3.0/../../../../arm-zephyr-eabi/bin/ld: drivers/built-in.o: in function `gpio_nrf5_config':
/home/thientran/IoT/IoTivity/iot_newpart/zephyr_project/zephyr-zephyr-v1.9.2_ori