[2020-02-27 08:28] jocelyn-li commented on #20301
@albertofloyd is this issue caused by limited RAM resource on microchip mec15xxevb_assy6853?

[2020-02-27 08:36] avisconti commented on #22348
Have you had the chance to give it a try?

[2020-02-27 09:26] #23110 closed

[2020-02-27 09:38] #18378 closed

[2020-02-27 10:42] #21800 closed

[2020-02-27 10:47] paulgavrikov commented on #22980
[config.txt](https://github.com/zephyrproject-rtos/zephyr/files/4261161/config.txt)

[2020-02-27 10:54] #22968 closed

[2020-02-27 11:10] figual commented on #3723
This is a bug (just a missing comma in line 485 of drivers/serial/uart_esp32.c, line 485 (end of line, missing a comma). I submitted a PR yesterday about it.

[2020-02-27 11:56] theBASTI0N commented on #22348
Replaced the files with the ones you worked on, but am getting issue with building. But getting some issues when building

lis2dh.h:12:10: fatal error: misc/util.h: No such file or directory
is one example

[2020-02-27 12:11] kkiyota commented on #22903
Hi,

Looking at my error message in case of 2 x 256KB sectors for slot1 (Sector 7 and 8) , erase error seems to occur at 0x8120000 which is in Sector 8.   pyocd option for erase is set as sector erase as a default.  However, it seems that there is no way to specify the 2 sectors erase.  And it's not clear how erase and program operations are proceeded.

There is the description in pyocd document t

[2020-02-27 12:19] 225296 commented on #21755
After changing the jumper on header **J35 to pin 1-2 and 3-4** , Sanity check is **PASSED**

Environment (please complete the following information):
OS : Ubuntu LTS 18.04
Toolchain: Zephyr SDK : 0.11.2
Commit ID: g7b4861114372

[2020-02-27 12:30] ramonhpr commented on #8833
Sure. When I used zephyr, the FTD option was the default if you'd like to change the option, you should change that. (I used to run the command `make menuconfig` and search for the option MTD, but I think that now you can use the command `west` for that).

Since you are getting started in the zephyr I recommend you to follow the [getting started](https://docs.zephyrproject.org/latest/getting_start

[2020-02-27 13:05] KubaFYI opened #23133 "boards: adafruit_feather_m0: don't throw compiler warnings on using custom sercom config"
In order to use it's serial peripheral SERCOMs SAD1 requires their pins to be configured with pinmux. Currently that's enabled only for the board default serial interfaces: the USART TX/RX on sercom0, an SPI interface on sercom4, and the USB port. The pinmux code currently is written to throw a compiler error if a user app tries to use any sercom in a way it wasn't pre-defined to be used. The erro

[2020-02-27 13:11] KubaFYI commented on #23133
What do you think @henrikbrixandersen ?

[2020-02-27 13:39] stephanosio commented on #22870
NOTE: Running STM32F405 Zephyr image on QEMU `netduinoplus2` requires some (not upstreamed yet) patches:

https://lists.gnu.org/archive/html/qemu-devel/2020-02/msg07841.html
https://lists.gnu.org/archive/html/qemu-devel/2020-02/msg07842.html

In summary, Zephyr links code and rodata in the flash at 0x8000000, which is aliased to 0x0. QEMU has a bug in which the ROM reset handler is executed after

[2020-02-27 14:28] tbursztyka commented on #22941
@vanti the 1 is indeed a good point, however let's put it aside for the moment as it is DTS/PM only issue (there is a _lot_ of issues with PM besides the dependency thing I mentioned. To put it mildly: it's a mess.). I think once we get the base fixed - issue 6 and 1 - we will be able to go further and fix PM completely. About 2, such use-case sounds just like suspend/resume to me. So I still don'

[2020-02-27 14:28] tbursztyka commented on #22941
@vanti the 1 is indeed a good point, however let's put it aside for the moment as it is DTS/PM only issue (there is a _lot_ of issues with PM besides the dependency thing I mentioned. To put it mildly: it's a mess.). I think once we get the base fixed - issue 6 and 1 - we will be able to go further and fix PM completely. About 2, such use-case sounds just like suspend/resume to me. So I still don'

[2020-02-27 14:58] ioannisg commented on #22977
BTW, this is not only applicable to Cortex-M4, but also to every Cortex-M with FP extension

[2020-02-27 14:59] tbursztyka commented on #22941
@vanti the 1 is indeed a good point, however let's put it aside for the moment as it is DTS/PM only issue (there is a _lot_ of issues with PM besides the dependency thing I mentioned. To put it mildly: it's a mess.). I think once we get the base fixed - issue 6 and 1 - we will be able to go further and fix PM completely. About 2, such use-case sounds just like suspend/resume to me. So I still don'

[2020-02-27 15:55] aescolar opened #23134 "BT: Host: Notification dropped instead of truncated if bigger than ATT_MTU-3"
From slack:
[code]

[2020-02-27 15:56] aescolar commented on #23134
CC @jhedberg @joerchan (better a lousy bug report than none :) )

[2020-02-27 16:20] jhedberg commented on #23134
Despite what the spec says, silent truncation of data (which in most cases will result in corrupt data) doesn't sound like a smart idea. We could make this "non-silent" on our side by changing the `bt_gatt_notify()` return value from `int` to `ssize_t` and return the number of bytes sent was the return value, instead of 0. That's however an API break, i.e. not something we can do this close to rel

[2020-02-27 17:09] jhedberg commented on #23134
Based on some further discussion on Slack, I can understand the opposing argument as well, i.e. keep the GATT server simple and leave it to the client to check MTU and use another procedure to get more data. So please don't stop the creation of a PR just because of my earlier comment :)

[2020-02-27 17:14] #23109 closed

[2020-02-27 17:21] Vudentz commented on #23134
Id leave the implementation as it is, Id never seem any profile spec that does require reading after notifying since that is racy, in fact that could be a bug in the upper layer that don't check the MTU or haven't triggered a MTU exchange.

[2020-02-27 17:26] #22977 closed

[2020-02-27 18:25] carlescufi commented on #22982
#23137 Fixes `GATT/SR/GAS/BV-01-C`, but `GATT/SR/GAS/BV-07-C` still fails, likely due to an issue in BTP itself (see log below).
In both tests the auto-pts client seems to be trying to register the **same service** multiple times.

[code]

[2020-02-27 19:07] kkiyota commented on #22903
Referring to the log file, this flash may be configured as dual bank mode which is defined in Table 4 below instead of single bank mode in Table 3.

So in my last case with the following slot1_partition, it would be overlapped to Bank 2.  I need to check it furthermore, though.

			label = "image-1";
			reg = <0x000C0000 0x00080000>;

![image](https://user-images.githubusercontent.com/59073069/754

[2020-02-27 19:33] jhedberg commented on #23134
Since there is some contention on how to proceed with this, I don't think it's appropriate to consider it a medium priority bug that we should try to "fix" for 2.2. I'd rather us spend some more time thinking how to best fix this, if a fix is needed to begin with. From an API perspective, even if we choose to do truncation, it should be possible for the application to notice from the `bt_gatt_noti

[2020-02-27 19:34] jhedberg commented on #23134
Changed to low priority because:

 - This is not a regression
 - This doesn't fail any qualification tests
 - We don't (yet) have a consensus on what the right fix is, or even that a fix is needed at all

[2020-02-27 20:08] kkiyota commented on #22903
I also confirmed by register read that flash controller in stm32f767zi was configured as single bank mode.  However, pyocd log info showed erase operation was performed by 128KB(target sector size in dual bank mode) instead of 256KB(target sector size in single bank mode).

So I guess my problem is related to pyocd.  Since my board files for nucleo-f767zi doesn't work with pyocd, I'm currently usi

[2020-02-27 20:09] nandojve opened #23138 "Codegen for an C structure that stores pinmux definitions"
**Is your feature request related to a problem? Please describe.**

This proposes a small integration to allow codegen create a C structure to store small data about pins. The end result can be used by gpio/pinmux/pinctrl drivers.
The discussion about the API can be followed at #22748. The intention here is not solve all the problems but give perspective and maybe give a option to store the data.

[2020-02-27 20:11] nandojve commented on #23138
@galak @ulfalizer @tbursztyka

[2020-02-27 20:14] #22979 closed

[2020-02-27 20:51] optdcw opened #23139 "USB Mass storage - Unexpected USB restart from host"
I have created appliction which uses internal flash of nrf52840 as USB Mass storage device.
I has size 400Kb.
I'm using modified usb mass storage. It works as expected with RAM FAT. It also works with small files inside the internal flash.
However, when i try to copy larger file around 300Kb the transfer is slow which is expected however around 100Kb the usb device recieves USB reset from the host

[2020-02-27 20:54] carlescufi commented on #10821
This is not really relevant anymore, and the missing bits are covered by #8499

[2020-02-27 20:54] #10821 closed

[2020-02-27 22:04] albertofloyd commented on #20301
@jocelyn-li  there is no limited RAM resource.
In other reset conditions the bootloader fetches the code again from SPI flash and loads into RAM.
Need confirmation from @scottwcpg to see RAM is preserved during WDT_EVENT since that's what the test code is expecting. If RAM is not preserved in this case the test have to skipped.

[2020-02-28 01:50] chen-png opened #23147 "tests/drivers/watchdog/wdt_basic_api failed on mec15xxevb_assy6853 board."
**Describe the bug**
Running tests/drivers/watchdog/wdt_basic_api test case on mec15xxevb_assy6853 board, it will loop to report the message below.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mec15xxevb_assy6853  tests/drivers/watchdog/wdt_basic_api
2. west flash
3. See error

**Screenshots or console output**
Running test suite wdt_basic_test
starting test - test_wdt
Testc

[2020-02-28 01:53] chen-png commented on #20301
this test has been skipped on sam_e70_xplained, so closed this.
opened another new issue #23147 to track this issue for mec15xxevb_assy6853 board.

[2020-02-28 04:18] mbolivar opened #23148 "bme280 sample does not compile"
**Describe the bug**
The https://docs.zephyrproject.org/latest/samples/sensor/bme280/README.html build instructions do not build. The recommended board (nrf52840_pca10056) doesn't have that sensor in its DTS, so the reason why is clear, but all in-tree samples should compile.

I am unable to find a board in tree which *does* have this sensor in its DTS.

It's not clear to me whether or how mainlin

[2020-02-28 05:36] chen-png opened #23149 "[v1.14] sam_e70_xplained:tests/drivers/watchdog/wdt_basic_api failed with v1.14 branch."
**Describe the bug**
Running tests/drivers/watchdog/wdt_basic_api test case on sam_e70_xplained board with v1.14 branch, it will loop to report the message below.

This test has been skipped on sam_e70_xplained board in master branch.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=sam_e70_xplained  tests/drivers/watchdog/wdt_basic_api
2. west flash
3. See error

**Screenshots

[2020-02-28 07:54] fnde-ot commented on #23134
Note that this issue applies to both notifications and indications.

@Vudentz I think Zephyr should handle this to support the use-case of bt_gatt_notify with conn=NULL, which sends the notification to all connected devices that are subscribed, as each of those devices could have a different MTU.

Given the above use-case, instead of changing the return value of bt_gatt_notify, we should probably

[2020-02-28 08:24] jukkar opened #23153 "Binding AF_PACKET socket second time will fail with multiple network interfaces"
**Describe the bug**
If there are multiple network interfaces in the system, then calling bind() to a specific network interface will fail if the bind() has already been called. So the bind() call does not honor the network interface index set by the application but always tries to bind() to the default interface.

[2020-02-28 08:32] avisconti commented on #22348
How is it possible?
Maybe you are using an older zephyr version?

[2020-02-28 08:55] #21601 closed

[2020-02-28 09:11] chen-png commented on #23147
duplicate #20301.

[2020-02-28 09:11] #23147 closed

[2020-02-28 09:16] yasokada commented on #21899
Any progress or any schedule to tackle this problem?
I tried to solve this myself, but it is not easy for me to solve.

[2020-02-28 09:32] LuoZhongYao opened #23156 "App determines if Bluetooth host link request is allowed"
Applications sometimes need to make some restrictions on Bluetooth link requests.For example, in undiscoverable mode, only devices in the pairing list are allowed to link, or only certain types of devices with specific addresses are allowed to link.

**Describe the solution you'd like**
Can add a callback function to bt_conn_cb. This callback is called when a connection request is received. If the

[2020-02-28 09:39] sjanc commented on #22982
yeap, I think this issue can be closed
autopts work will be handled in https://github.com/intel/auto-pts/issues/366

[2020-02-28 09:55] aescolar commented on #23156
CC @jhedberg @joerchan @carlescufi @Vudentz

[2020-02-28 09:58] aescolar commented on #22982
Closing then (if anybody disagrees, please reopen)

[2020-02-28 09:58] #22982 closed

[2020-02-28 10:01] FRASTM commented on #20825
Requires change in the stm32 dma driver: https://github.com/zephyrproject-rtos/zephyr/pull/22100

For stm32 with DMA MUX IP  (like stm32wb55, stm32l4r5 series ), the issue requires:
1. the stm32 dmamux driver: https://github.com/zephyrproject-rtos/zephyr/pull/22021
2. adaptation of the client like SPI, with Device Tree configuration and application: https://github.com/zephyrproject-rtos/zephyr/pul

[2020-02-28 10:08] jhedberg commented on #23156
"callback is called when a connection request is received" - what exactly do you mean by "connection request" @LuoZhongYao ? BR/EDR has a separate connection request HCI event, however LE doesn't, i.e. the controller just informs the host of a new connection using the LE Connection Complete event, without the host having a chance to reject this in advance.

[2020-02-28 11:05] ChristianHirsch commented on #18583
@Vudentz I'm experiencing the same issue. I tried different versions (1.14.1, 2.1.0, 2.2.0-rc2) but they all behave the same.. How can I check if this is a Zephyr or a BlueZ problem? My problem is the following: I'm connecting to two (identical) devices and request some data with:
[code]
Then, the following happens:
[code]
After that, device `AA:BB:CC:DD:EE:FF` is disconnected (I see it when scann

[2020-02-28 12:05] utzig commented on #22903
I use almost exclusively this tooling with STM32s: https://github.com/texane/stlink

[2020-02-28 13:05] kkiyota commented on #22903
@utzig Thank you!  Is it different from ST supplied tools?

[2020-02-28 13:19] Mhrooczny opened #23161 "I2C and sensor deinitialization"
Hello everyone,

I'm trying to make low power app. There is any way to deinitialization sensor with I2C bus which is using? I'm using nRF52832 soc and BME280 sensor and I tried to do this using Device Power Management API. I pass the BME280 and I2C to `device_get_binding` function. Then used `device_set_power_state` with `DEVICE_PM_LOW_POWER_STATE` argument. Power draw is lot higher then if i keep

[2020-02-28 13:54] jfischer-phytec-iot commented on #23139
I guess the host resets the device because erase/write flash takes too long and during that the device can not respond. For example USB DFU selects IMG_ERASE_PROGRESSIVELY option to prevent this behavior. So the issue is in your application, I will replace the bug label with question for now. Note Mass Storage Class has a issue tracked here #14302, which will probably not be fixed in this release.

[2020-02-28 14:06] utzig commented on #22903
I don't know what tools ST are supplying these days, but stlink is open-source and works on 100% of the boards I use (with no configuration required).

[2020-02-28 14:10] JaimeAlbq commented on #3723
Now I am facing the same problem as @Deliver88.

It can be built, thanks to @figual, but when I try to flash the `esptool.py` says it:
`A fatal error occurred: Invalid segment count 17 (max 16). Usually this indicates a linker script problem.`

So I tried to force to accept it by increasing the number of segments in the line 1603 in `esptool.py` from 16 to 17.

After that the board can be flash. B

[2020-02-28 14:10] kkiyota commented on #22903
@utzig Thanks!  In your case, does stlink work fine with 2 sectors of slot0 and slot1 like 256KB x2 in single bank mode?

[2020-02-28 14:16] novalisek opened #23173 "west flash --nobuild, west flash-signed"
Hi,
I didn't found a way how to just "flash" without building project again, I think it would be useful.
Now when using mcuboot, I do:
[code]
But `west flash` is building the project again ...

Or may be thre could be command `west flash-signed`  that would flash the default signed file, without building. And may be some option in project.yaml, that could point to key file, and then you could do s

[2020-02-28 14:16] erwango commented on #22964
@mbolivar @pabigot, @mnkp, I've tried to go a little bit further in STM32 driver conversion to DT_INST macros. I've came across a few interesting points. As expected some driver will require DT_NODELABEL macros, but not always for the expected reasons.
You can have a check on my summary here: https://github.com/zephyrproject-rtos/zephyr/pull/22807#issuecomment-592481101.
I don't think there is any

[2020-02-28 14:17] optdcw commented on #23139
I have suspected this kind of behavior. The problem is that the SCSI command issued by the host is single large bulk transaction.
I think solution to this could be implementation some kind of SCSI command which tells the host device how to limit the maximum length of the SCSI transaction.

I found stackoverflow thread mentioning solution which could work:
https://stackoverflow.com/questions/333548

[2020-02-28 14:50] utzig commented on #22903
Yes, I have absolutely no issues, I use a lot of STM32 boards (20 or more) and everything works 100%.

[2020-02-28 14:52] scottwcpg commented on #20301
Hi,
MEC150x Boot-ROM clears all SRAM per security requirements of its secure boot loader feature.
You could write a test  flag into VBAT memory which retains state if the VTR or VBAT power rails stay up.

[2020-02-28 14:58] kkiyota commented on #22903
@utzig Sounds good!  I'll implement and run with it.

[2020-02-28 15:07] carlescufi commented on #23161
@pabigot and @mbolivar please check if this is a duplicate

[2020-02-28 15:09] carlescufi commented on #11918
I am reopening this since it's a legitimate use case, different from #20012 and that is not covered elsewhere.

[2020-02-28 15:11] erwango commented on #21899
Sorry, it's not easy to investigate without the appropaite HW.
Anyway you could share an application that allows to reproduce the issue w/o  CK-40?

[2020-02-28 15:23] Mhrooczny commented on #23161
For UART this method like sending PM to low power mode using `device_set_power_state` is working but for I2C and sensor got higher current draw after calling `device_set_power_state`. I already tried with `OFF` state and `FORCE_SUSPEND` / `SUSPEND`.

[2020-02-28 15:27] jfischer-phytec-iot commented on #18583
Can it be reproduced with one of the `samples/bluetooth/peripheral*` samples?

[2020-02-28 16:11] jfischer-phytec-iot commented on #23111
Then it is probably a question and it would be properly to label it as a question?
You mean the "Endpoint descriptors" table?

The ["_descriptor tables filled with zeros_"](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/usb/device/usb_dc_sam0.c#L232) are internal Endpoint Descriptor structure for the SAM's device controller, used to by a built-in DMA. (remark: Kinetis USB IP has

[2020-02-28 17:34] ChristianHirsch commented on #18583
@jfischer-phytec-iot thanks for letting me try. I just figured something out: it occurs with the `samples/bluetooth/peripheral_hr` example, if you make the following modification:
[code]
So, I'm using `BT_GAP_ADV_SLOW_INT_MIN` and `BT_GAP_ADV_SLOW_INT_MAX` instead of `BT_GAP_ADV_FAST_INT_MIN_2` and `BT_GAP_ADV_FAST_INT_MAX_2` and the sample is flashed onto a `nrf51_pca10028` board. Then, I read so

[2020-02-28 17:43] snej opened #23165 "macOS setup fails to build for lack of "elftools" Python package"
**Describe the bug**
I'm just getting started, on macOS 10.15. I installed the latest GCC-ARM toolchain as directed.
However, **building fails due to lack of the Python `elftools` package**. This package should be added to `requirements.txt`, or at least mentioned on the 3rd-party-toolchains page if it's specific to using the GCC toolchain.

**To Reproduce**
1. Install zephyr on macOS, as directed

[2020-02-28 17:46] snej commented on #23165
Also maybe worth noting is that installing `elftools` also failed, for lack of `numpy`. I realize this isn't your bug, rather a bug in the `elftools` package description that it doesn't mention that dependency, but you might want to work around it by explicitly adding `numpy` as a dependency of your own.

[code]

[2020-02-28 17:50] snej commented on #23165
OK, even after installing `elftools`, the build fails with exactly the same error. WTF? I'm now officially blocked.
[code]

[2020-02-28 18:14] snej opened #23168 "Toolchain docs: describe macOS un-quarantine procedure"
I'm new to Zephyr and embedded development, but an experienced Mac/iOS developer. I'm following the Getting Started guide.

When building the "blinky" program, I get an onscreen alert saying that the app "arm-none-eabi-gcc" is from an unknown developer and can't be opened. The only options are to cancel (which causes the build to fail, of course) or delete the binary.

I'm used to this with apps a

[2020-02-28 18:23] snej opened #23169 ""blinky" sample fails to build for BBC MicroBit (DT_ALIAS_LED0_GPIOS_CONTROLLER undefined)"
**Describe the bug**
Following along in the Getting Started guide, I tried to build the "blinky" sample for the BBC MicroBit board. It fails due to a C compile error; apparently the constants for the LED0 pin are not defined as expected. The sample does build for the `reel_board`.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup zephyr as per Getting Started Guide, steps 1-5
2. Follow s

[2020-02-28 18:35] kkiyota commented on #22903
@utzig I installed stlink thru Ubuntu Software store.

In case of slot0=slot1=scratch=256KB, swap case works fine.

However, in case of slot0=slot1=scratch=512KB or slot0=slot1=768KB/ scratch=256KB, hello1 was executed although flash write operation was performed well.  Expected result is that hello2 is run temporally and revert it on reset.

My set-flash command for hello2 is listed below.  Is it

[2020-02-28 19:01] kkiyota commented on #22903
@utzig Looks like I forgot to change --slot-size during imgtoo.py execution.  After I fixed it, everything looks fine as shown below in case of slot0=slot1=768KB and scratch=256KB.

Appreciated your help!

[00:00:00.005,000] <inf> mcuboot: Starting bootloader
[00:00:00.011,000] <inf> mcuboot: Primary image: magic=unset, swap_type=0x1, copy_done=0x3, image_ok=0x3
[00:00:00.021,000] <inf> mcuboot: S

[2020-02-28 19:48] nandojve commented on #23107
@galak

[2020-02-28 19:56] mbolivar opened #23172 "Common west flash, debug arguments like --hex-file can't be used from command line"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/commit/eb95bed552f2977d77511d3c4fab0cba9f30a7a9 broke the ability to `west flash --hex-file foo.hex`.

A fix is in https://github.com/zephyrproject-rtos/zephyr/pull/23171

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nrf52840_pca10056 -s samples/hello_world
2. cp build/zephyr/zephyr.hex my-cool-zephyr.hex
3. we

[2020-02-28 22:08] mbolivar commented on #23161
Sorry, I'm having trouble understanding the report.

Can you please share exactly which devices you passed to `device_set_power_state()` in both scenarios, and what the results were?

[2020-02-28 22:13] mbolivar commented on #23173
Hello,

Since [build, flash, and debug](https://docs.zephyrproject.org/latest/guides/west/build-flash-debug.html) are [extensions](https://docs.zephyrproject.org/latest/guides/west/extensions.html) defined in the zephyr repository, I've made this a zephyr issue, not a west issue.

You can use `west flash --skip-rebuild`. Tip: run `west flash --help` for help on available options.

Please reopen if

[2020-02-28 22:13] #23173 closed

[2020-02-28 23:34] yasokada commented on #21899
Do you mean, you cannot obtain CK-40, or microSD modules of any kind?
If you have (or can have) one of any microSD module, I will consider to buy and test on my side.

Without hardware, it seems difficult to debug. In this case, I will have to consider any way to use two STM32 boards for this, but it takes time.

I hope you would put information which is delaying this debug.
(I understand you are

[2020-02-29 00:31] LuoZhongYao commented on #23156
connection request HCI event

[2020-02-29 04:09] sslupsky commented on #23111
@jfischer-phytec-iot You are of course correctand I apologize, when i posted the isssue there are only four "choices" for the type of issue and the closest I could come to "question" was unfortunately "bug" since the other choices were even more inappropriate.

I am not familiar with the Kinetis devices so cannot comment on those.  The sam0 usb peripheral appears to me to not include hardware buff

[2020-02-29 05:04] md-jamal commented on #22866
Hi,

I wrote this code:

[code]

It is failing at mqtt_input:

[code]

[2020-02-29 07:26] novalisek commented on #23173
Sorry for not using `west flash --help`, I was just doing `west --help`.
And is it bad idea to automaticaly disable rebuild when running west flash with --hex-file parameter? Now I don't see any reason for rebuilding when using other file, than the one that is created by rebuild.  But may be it could cause trouble somewhere else, just the idea ...

[2020-02-29 11:43] tluio opened #23177 "Bluetooth: Mesh: Access structure member with a possible NULL pointer"
File: /subsys/bluetooth/mesh/cfg_srv.c
Function: friend_set, send_friend_status

On line 2681 of the code, in function friend_set, **model->user_data** is assigned to **cfg**.
On line 2692 of the code, if **cfg** is NULL, jump to label send_status where send_friend_status is called and **model** is passed as the first argument.
On line 2656 of the code, in function send_friend_status, **model->use

[2020-02-29 12:46] jmgao opened #23178 "usb: endpoint buffer leak upon SET_CONFIGURATION, SET_INTERFACE"
**Describe the bug**
Some platforms don't use a real allocator to allocate endpoint packet buffers, and just bump a pointer into a buffer ([stm32](https://github.com/zephyrproject-rtos/zephyr/blob/ca66f5b2e5a640c100c735b4e9ffadbc7ee18acc/drivers/usb/device/usb_dc_stm32.c#L562), [sam0](https://github.com/zephyrproject-rtos/zephyr/blob/ca66f5b2e5a640c100c735b4e9ffadbc7ee18acc/drivers/usb/device/usb_

[2020-02-29 17:40] jhedberg commented on #23172
#23171 was merged

[2020-02-29 17:40] #23172 closed

[2020-02-29 18:05] JaimeAlbq commented on #3723
I could workaround to flash the code by disabling the configuration option [`CONFIG_NET_LOG`](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_NET_LOG.html#cmdoption-arg-config-net-log) from [`wifi/prj.conf`](https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/net/wifi/prj.conf).

The shell works fine, and I really enjoy to used.

But whenever it tries to use some drive,

[2020-03-01 01:15] cvinayak commented on #22980
No immediate logging in or outside Bluetooth subsystem can be used, as it introduces large interrupt latencies.

[2020-03-01 09:08] stephanosio commented on #22870
NOTE: Running STM32F405 Zephyr image on QEMU `netduinoplus2` requires some (not upstreamed yet) patches:

https://lists.gnu.org/archive/html/qemu-devel/2020-02/msg07841.html
https://lists.gnu.org/archive/html/qemu-devel/2020-02/msg07842.html

In summary, Zephyr links code and rodata in the flash at 0x8000000, which is aliased to 0x0. QEMU has a bug in which the ROM reset handler is executed after

[2020-03-01 10:51] md-jamal opened #23184 "mqtt_connect fails with return -2"
Hi Guys,

I tried to connect to MQTT Amazon Web Services IOT Service. Wrote a basic code by following other two cloud samples. Please have a look at the below code

[code]
It fails with the following messages

[code]
Following is my prj.conf file
[code]

[2020-03-01 19:31] b0661 commented on #22941
@tbursztyka, updated PR #10885 in case somebody wants to play around with code generation.

[2020-03-02 00:07] sbiwa-where opened #23187 "nrf_rtc_timer.c timseout setting mistake."
Sleep time is abnormally long.
COUNTER register overruns before setting CC [0] register.
[code]
No events for a long time

TARGET BOARD is nrf52833_pca10100. and use NORDIC proprietary ble_controller.

[2020-03-02 07:36] theBASTI0N commented on #22348
Hey,

Got it to build and is working great. Havn't been able to test the interrupt trigger.

I added CONFIG_LIS2DH_TRIGGER_OWN_THREAD=y to my prj.conf then I get errors.

The errors I am getting:
`In function 'setup_int1':
24:2: warning: implicit declaration of function 'gpio_pin_interrupt_configure'; did you mean 'gpio_pin_configure'? [-Wimplicit-function-declaration]
   24 |  gpio_pin_interrupt_

[2020-03-02 08:19] nordic-krch commented on #22980
@cvinayak yes, that will lead to failures but there might be cases when user still wants to use it. For example when debugging some crash at startup then switching to immediate logging may be welcomed. What about adding config option to bluetooth to disable this check with note that user should be aware of consequences.

[2020-03-02 08:24] ioannisg commented on #23169
The following is present in the README:
[code]

Additionally, the sample, itself, is filtered-out for boards without gpio-leds, led0
`    filter: dt_compat_enabled_with_alias("gpio-leds", "led0")`

So, strictly speaking, this does not seem to be a bug, IMHO. Sanity check on bbc_microbit is successfully built:
`./scripts/sanitycheck  -p bbc_microbit -b -T `samples/

Since the platform supports LEDs

[2020-03-02 08:45] Mhrooczny commented on #23161
Yes sure, @mbolivar i'm sorry for not clear problem description.
For every scenario i'm using PM for UART and setting it low power state to get lowest current draw in `k_sleep()` function.
1. When BME280 sensor is only binded and unused the current draw is as low as in `k_sleep()` with UART in low power but there is high current peak with 1s period which i think is caused by BME280 sensor. In this

[2020-03-02 08:50] aescolar commented on #23177
CC @jhedberg @trond-snekvik

[2020-03-02 09:05] joerchan commented on #23156
Sounds like a whitelist feature. For LE we have whitelist feature and whitelisting is done in the controller. So with BR/EDR we might want to have a host or application whitelist feature. With the callback suggestion it would be application that whitelists.

@jhedberg Maybe just add a BR/EDR-only connection request callback as suggested?

@LuoZhongYao Is this something you could send a PR for perh

[2020-03-02 09:38] jfischer-phytec-iot commented on #23178
No need for `usb_dc_reconfigure` as we have [usb_dc_ep_disable()](https://github.com/zephyrproject-rtos/zephyr/blob/master/include/drivers/usb/usb_dc.h#L263). Independent of the issues in the drivers, usb_set_configuration() could rather also call reset_endpoint() as just set_endpoint(). But as I can remember, we tolerate this because the stack supports only one configuration. It is also up to the

[2020-03-02 09:45] ioannisg commented on #3490
@erwango is this issue already addressed?

[2020-03-02 09:50] jhedberg commented on #23177
The bug is actually the unnecessary check in `friend_set()` since the `cfg_srv_init()` function ensures that `model->user_data` is always non-NULL. Setting low priority for this one since it's essentially harmless, but we should still strive to eliminate dead code like this.

[2020-03-02 11:05] jhedberg commented on #23156
Yes, for BR/EDR that would probably make sense. One open question is whether it should be synchronous (return value indicates accept/reject) or asynchronous (separate API to accept/reject a pending connection)

[2020-03-02 11:19] joerchan commented on #23156
As the default value for the Connection_Accept_Timeout value is 5.06 seconds. I don't see a reason why it shouldn't be made asynchronous.
I don't know all the criteria for accepting the connections. It could be whitelist/blacklist, user-confirmation perhaps? With asynchronous we would cover more use-cases I think.

[2020-03-02 12:11] LeBlue commented on #18583
I had not any problems creating multiple (up to 9) connections with the `hci_usb` derived FW since around zephry-v2.1.0-rc1. Since there were some other issues (not related to connection establishment) I tested a lot of different versions/master revisions since then (up to zephry-v.2.2.0-rc2).

With zephyrv.1.14.0/1-rc1 this also worked if other established connections did not exchange data _while

[2020-03-02 12:53] erwango commented on #3490
@ioannisg, not in the plans right now. Let's close it for now.

[2020-03-02 12:54] #3490 closed

[2020-03-02 13:02] markus-becker-tridonic-com opened #23193 "Allow overriding get_mac() function in ieee802154 drivers"
**Is your enhancement proposal related to a problem? Please describe.**
Several IEEE802.15.4 drivers are using randomly generated MACs and the API does not offer to provide a manufacturer MAC/EUI64.

[code]

Drivers that only use randomized MACs: rf2xx, mcr20a

uart_pipe, cc1200, cc2520 has the option to use randomized or static addresses.

cc13/cc26, nrf5 is using a MAC from the SoC register.

**

[2020-03-02 13:47] joerchan commented on #18583
@ChristianHirsch Since this appears to be different problem please create a new issue. And provide an as detailed as possible way to reproduce the problem.

@LeBlue Thank you for responding. If there is nothing else needed for your original problem could you please close the issue again?

[2020-03-02 14:04] #18583 closed

[2020-03-02 14:16] lowlander commented on #22751
OK after some more research it seems the the driver sets the STOP flag (not sure when/how), this flags stays pending until a data byte is finished or a START is generated, and than it will directly generate a STOP (and that is what I see on the bus).

I now check and reset the STOP bit in CR1 before doing a START, and this seems to work.

Not really sure where it goes wrong, it has to be some race

[2020-03-02 14:24] nandojve commented on #23193
@nandojve @tbursztyka @jukkar

[2020-03-02 14:37] tbursztyka commented on #23193
Forget about "get_mac()". In those drivers, it is just a utility function helped to set the IEEE extended address with necessary default value.

But there is already a way to set such IEEE extended address, see include/net/ieee802154_mgmt.h header and more specifically NET_REQUEST_IEEE802154_SET_EXT_ADDR command code.

[2020-03-02 14:45] tbursztyka commented on #23193
see subsys/net/l2/ieee802154/ieee802154_shell.c  for an actual example on how this interface is being used.

[2020-03-02 15:02] markus-becker-tridonic-com commented on #23193
OK, found:
[code]

Need to check it out and see whether that would work.

[2020-03-02 15:18] nandojve commented on #23193
@tbursztyka Could be a good idea add **local-mac-address** on DT for tests purposes as alternative to random MAC?

[code]

[2020-03-02 15:35] dcpleung commented on #22885
@chen-png could you try it with master and see if this is still an issue?

[2020-03-02 15:36] #21755 closed

[2020-03-02 16:05] mbolivar commented on #23173
That's okay!

By the way, this is the last line printed by `west --help`:

[code]

The output for `west help flash` is currently the same as the `west flash --help` I suggested, in case you were wondering.

The flash and debug commands bring the targets they depend on up to date in order to match the build system commands by the same name (that is, both `west flash` and `ninja flash` bring the bui

[2020-03-02 16:07] markus-becker-tridonic-com opened #23198 "rf2xx driver uses mutex in ISR"
**Describe the bug**

The ieee802154_rf2xx driver is using a mutex in ISR context:

https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/ieee802154/ieee802154_rf2xx.c#L85-L87

With CONFIG_ASSERT=y, the kernel will  report

[code]

The MCR driver handles this differently, I think.

FYI: @nandojve

[2020-03-02 16:22] alexanderwachter commented on #22452
No response from issuer since two weeks.

[2020-03-02 16:22] #22452 closed

[2020-03-02 16:48] novalisek commented on #23173
Ok, I will continue to use --skip-rebuild if it cannot be done automaticaly when external binary is specified.
Is it also bad idea to have something like CONFIG_MCUBOOT_PEM in prj.conf to point to .pem file and have
`west build-signed` to build and sign the binary and then `west flash-signed` to automaticaly select signed binary and flash it without rebuild?

[2020-03-02 17:29] mbolivar commented on #23173
If you're doing this on an application-specific basis, I think you could probably set a custom --hex-file argument in the build system using `board_set_runner_args(),` no?

I can't reproduce this on my windows 10 machine with ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb when building hello world. Even on Windows, a fresh rebuild takes under a second.

Perhaps your application has a custom target which is al

[2020-03-02 17:39] mbolivar commented on #23161
Hi and thanks.

The `device_get_binding()` function doesn't do anything to the device. It just returns a pointer to it:

https://github.com/zephyrproject-rtos/zephyr/blob/master/kernel/device.c#L66

Whether or not you call `device_get_binding()` does not affect the power drawn by the device. Even though there is "get" in the function's name, it doesn't actually call a probe function in the driver

[2020-03-02 17:57] AdiIntel opened #23202 "Macro value for 10 bit ADC is wrong in MEC driver."
Current microchip ADC driver is using reserved fields to program 10bit resolution setting.
In :\modules\hal\microchip\mec\mec1501\component\adc.h:
`#define MCHP_ADC_SAR_CTRL_RES_10_BITS	(0x01ul << 1)`

This value should be:
`#define MCHP_ADC_SAR_CTRL_RES_10_BITS	(0x02ul << 1)`

Also, when using 10 bit resolution, driver should shift data in reading register.
adc_mchp_xec.c driver should use `MCHP_

[2020-03-02 18:10] snej commented on #23169
Not a bug in the sample, then, but a bug in the documentation — it would be nice to fix the Getting Started guide so it calls out boards that won't work, or advises you to look at the sample's README (in which case it'd also be nice if the sample mentioned that the MicroBit is not supported.)

To be frank, at this point I'm still evaluating whether I want to use Zephyr at all, vs. one of the many

[2020-03-02 18:14] snej commented on #23165
I was able to work around this by adding `numpy` and `elftools` to the `scripts/requirements.txt` file and then repeating the `pip3 install --user -r zephyr/scripts/requirements.txt` command.

[2020-03-02 18:38] albertofloyd commented on #23202
@scottwcpg could you update  the HAL ?
@dcpleung seems driver changes is also required.

[2020-03-02 19:00] novalisek commented on #23173
Sorry, it's W7, not W10, I am running W7 guest in W10 host under Virtualbox.

[code]
`west build -b nrf52_pca10040` - fresh build takes around 40 sec
another`west build` - takes around 15sec
It is doing 122 steps in first run, and 88 steps in second ... so there is some change, should it do 0 (or very few) steps or 88 steps, but very fast?

I shall try on fresh W10, I have some othere devel. tools

[2020-03-02 19:24] henrikbrixandersen commented on #23133
Sounds like an okay solution to me.

[2020-03-02 19:45] mbolivar commented on #23173
If a no-op build takes more than a fraction of a second on a currently supported version of Windows (note that as far as I know, Windows 7 is not officially supported since Microsoft EOLed it), that's a build system bug for sure. Please let me know if you see it on Windows 10.

[2020-03-03 01:53] chen-png commented on #22885
it worked well to run sanitycheck on mec board now.

[2020-03-03 02:07] chen-png opened #23207 "tests/kernel/mem_pool/mem_pool_concept failed on mec15xxevb_assy6853 board."
**Describe the bug**
using sanitycheck to run tests/kernel/mem_pool/mem_pool_concept on mec15xxevb_assy6853 board, there are some error log message output, it will cause we can't use the junit2html to convert the sanitycheck.xml to html file.

**To Reproduce**
1. sanitycheck --hardware-map ~/mec1.file --device-testing
      -T  tests/kernel/mem_pool/mem_pool_concept/ -vv
2. see error
3. console ou

[2020-03-03 02:44] chen-png opened #23208 "Can not flash test images into up_squared board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto samples/hello_world/
2. west flash
3. See error

**Screenshots or console output**
[ztest@zserver12 zephyr]$ west flash ~/up_squared.sh
-- west flash: rebuilding
ninja: no work to do.
-- west flash: using runner misc-flasher
flash
**FATAL ERROR: required program flash not found; install it or add its location to

[2020-03-03 03:25] md-jamal opened #23209 "Bug in tls_set_credential"
Hi Guys,

This is the code present in subsys/net/lib/sockets/sockets_tls.c

[code]
Here in this you can see when it tries to set TLS_CREDENTIAL_SERVER_CERTIFICATE, it will always fail with ENOENT, because we are using the tag of TLS_CREDENTIAL_SERVER_CERTIFICATE and type of PRIVATE_KEY.

[2020-03-03 03:48] chen-png opened #23210 "mimxrt1050_evk:tests/net/iface failed with v1.14 branch."
**Describe the bug**
Running tests/net/iface test case on mimxrt1050_evk board with v1.14 branch, it will meet a "BUF FAULT" error.
this is an occasionally error,  similar to #21257.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=mimxrt1050_evk tests/net/iface
2. west flash
3. See error

**Screenshots or console output**

***** BUS FAULT *****
  Precise data bus error
  BFAR A

[2020-03-03 05:47] #22885 closed

[2020-03-03 05:57] tannewt commented on #11918
@carlescufi Please post any planned discussion times around this issue (like the API meeting) so we can be sure to attend. Thanks!

[2020-03-03 06:55] jmgao commented on #23178
That's true of configuration right now, but interface alt setting [seems to be supported](https://github.com/zephyrproject-rtos/zephyr/blob/8a5063924c2fba56c3694775a3ccd58717314026/subsys/usb/usb_device.c#L635) today (and support for multiple configurations is something that probably needs be implemented at some point?)

I switched my stm32 patch over to tracking the size of the buffer allocated a

[2020-03-03 08:20] andrewboie opened #23211 "need a proper arch_system_halt() for x86_64"
**Describe the bug**
This is to facilitate hardware testing. The default arch_system_halt() doesn't work properly for SMP systems as it just hangs one CPU core instead of all of them.

Under QEMU, we do have an arch_system_halt() which causes the emulator to exit. But for real HW the default arch_system_halt() is in use which may allow crashes in tests to go undetected.

[2020-03-03 09:07] andrewboie commented on #23211
https://wiki.osdev.org/Shutdown

I think it might be best to improve the default arch_system_halt() so it works with SMP.
One thing I consider is to raise the idle thread priority to maximum for all idle threads, and then call z_reschedule_unlocked(). That would suppress all thread activity. Interrupts would still happen though. Could add some logic in the idle thread loop to check its own priorit

[2020-03-03 09:53] abrodkin opened #23212 "ARC: SMP: Enable use of ARConnect Inter-core Debug Unit"
ARC's SMP-supporting IP called ARConnect has a special module which helps with interactive debugging of multi-core ARC designs by halting all cores in the cluster whenever any core is halted.

We do have helper functions in place (`z_arc_connect_debug_select_{set|read}()` & `z_arc_connect_debug_mask_{set|read}()`) so that's just a matter of using them for SMP platforms which are as of today MDB si

[2020-03-03 09:58] cvinayak commented on #22980
@nordic-krch The reporter can disable using Bluetooth controller if he is debugging startup. With Bluetooth state/role active and immediate logging, I do not think the reporter can reliably use his application.

[2020-03-03 10:20] BOZHENG001 commented on #19737
@joerchan
Hi joerchan
I tried with the code in zephyr (both my old version 1.14 and new version 2.0), and i used it in **central_hr main.c**, but it does not work well. It shows some compiling errors as below:

`c:73:8: warning: implicit declaration of function 'bt_hci_get_conn_handle'; did you mean 'bt_br_set_connectable'? [-Wimplicit-function-declaration]
  err = bt_hci_get_conn_handle(conn, &ha

[2020-03-03 10:37] anangl commented on #23161
Yes, the implementations of `device_pm_control` function for both TWI and TWIM drivers look fine. But the BME280 sensor driver does not implement its own `device_pm_control` function, so calling `device_set_power_state()` for the sensor results in the default no-op function (just returning 0) being called. Thus, nothing in the driver or sensor configuration changes.
Regarding the scenario 3, my gu

[2020-03-03 10:49] joerchan commented on #19737
@BOZHENG001 You might have to go to 2.1 to get the missing function. Or maybe cherry-pick the commit (0f06c7d8e4626c6793c2a9f34d17113ba9cb4ec4).

[2020-03-03 10:55] carlescufi commented on #23168
There is an "easier" way, see this screenshot:

![image](https://user-images.githubusercontent.com/12450381/75769118-e091ce80-5d45-11ea-89d0-033b13e34637.png)

Would you mind sendin a pull request @snej ?

[2020-03-03 10:59] carlescufi commented on #23169
I think directing users to the `README.rst` of the sample, or to its rendered version, which in your case is:
https://docs.zephyrproject.org/latest/samples/basic/blinky/README.html

Would you mind sending a Pull Request to the Getting Started Guide for this?

[2020-03-03 11:00] andrewboie opened #23214 "least-privilege validation framework for kernel object permissions"
**Is your enhancement proposal related to a problem? Please describe.**
Programmers are sometimes lazy and may grant threads access to more kernel objects or device drivers than they actually need. It would be great if we could audit the permissions that threads have been given vs. what they actually needed to do their job.

**Describe the solution you'd like**
This sort of accounting will involve

[2020-03-03 11:11] rlubos commented on #23184
Please remove the `bug` label unless you have a specific bug report.

The original title suggested that there is a problem with CA certificate used (`0x2700` is `MBEDTLS_ERR_X509_CERT_VERIFY_FAILED`). Did anything change in that matter which caused the title change?

I recommend to enable mbed TLS logs in order to proceed with investigation. Try adding the following:
[code]

[2020-03-03 12:03] carlescufi commented on #23165
@snej I just went through the procedure myself and did not find  any issues. The package required is actually called `pyelftools` which is indeed in our `scripts/requirements.txt`:
https://github.com/zephyrproject-rtos/zephyr/blob/master/scripts/requirements.txt#L13

I suspect your initial installation of `requirements.txt`did not complete correctly, for whatever reason, and then you tried to inst

[2020-03-03 12:03] carlescufi commented on #23165
Re-labeling as a question since this does not seem to be an actual issue with our requirements file.

[2020-03-03 12:06] carlescufi commented on #23165
As described in my comment above, this is really not required. Could you  please try removing those extra lines from `scripts/requirements.txt`, uninstalling `numpy` and `elftools` and seeing if you can still build? I tested with a clean environment and was able to build without those modules, which are certainly not required by Zephyr.

[2020-03-03 12:13] carlescufi commented on #23198
@nandojve will you send a fix for this?

[2020-03-03 12:14] boonpin1975 opened #23215 "fujitsu FRAM read error on stm32_olimexino"
on zephyr 2.1.0 using fram model https://learn.adafruit.com/adafruit-spi-fram-breakout
on olimexino stm32 ,
�*** Booting Zephyr OS build zephyr-v2.1.0-1662-ga28f8fbef542  ***
fujitsu FRAM example application
Error during ID read
Could not verify FRAM ID

is this the model supported ? thanks !

[2020-03-03 13:03] nandojve commented on #23198
@carlescufi I can work but I need some help to understand my options inside a timer callback to change **ctx->trx_state** variable.
[code]
This callback affects transceiver state machine and mistakes around that variable could lead to a deadlock.

Need refactor name from **trx_isr_timeout** to **trx_timeout_callback** too.

[2020-03-03 13:09] tbursztyka commented on #22941
@b0661 Sure, I am evaluating it along with other solutions.

[2020-03-03 13:23] FRASTM commented on #21899
I can find stm32f769i_disco with sd card. However I still get
[code]
even with _proj.conf_ and _stm32f769_disco.overlay_ as mentioned.

[2020-03-03 13:42] FRASTM commented on #21899
on the smt32f769i_disco, the SD card seems to be connected on the uSD_x signals and not on SPI_2 port.

[2020-03-03 13:57] rlubos commented on #23209
It's not a bug, `TLS_CREDENTIAL_SERVER_CERTIFICATE` has to be combined with a corresponding `TLS_CREDENTIAL_PRIVATE_KEY`. Such a pair is sharing the same tag, it's documented here:
https://docs.zephyrproject.org/latest/reference/networking/sockets.html#_CPPv49sec_tag_t
https://docs.zephyrproject.org/latest/reference/networking/sockets.html#_CPPv4N15tls_credentials33TLS_CREDENTIAL_SERVER_CERTIFICAT

[2020-03-03 13:57] #23209 closed

[2020-03-03 14:18] armandciejak commented on #22902
@agansari I could test your change with success on my board. Thanks for your commit.

[2020-03-03 14:34] md-jamal commented on #23184
How to enable 'MBEDTLS_X509_CRT_PARSE_C' this particular option
From subsys/net/lib/sockets/sockets_tls.c, line number 331
[code]

[2020-03-03 14:38] rlubos commented on #23184
It's enabled by default when certificate-based cipher suite is selected:
https://github.com/zephyrproject-rtos/mbedtls/blob/master/configs/config-tls-generic.h#L336

[2020-03-03 14:47] armandciejak opened #23221 "status register value always reads 0x0000 in eth_mcux_phy_setup"
**Describe the bug**
In `drivers/ethernet/eth_mcux.c:eth_mcux_phy_setup` `ENET_ReadSMIData` is called right after calling `ENET_StartSMIRead` without waiting for the MII interrupt, which leads to the value of the status variable to always be `0x0000`.

The correct sequence is documented in the i.MX RT1060 reference manual in chapter 41.7.17.4.

I've hacked the `eth_mcux_phy_setup` function to poll

[2020-03-03 14:53] joerchan opened #23222 "Bluetooth: host: Unable to pair when privacy feature is disabled by application"
**Describe the bug**
The local on-air address will not be properly initialized when CONFIG_BT_PRIVACY is enabled but the privacy of the device has been disabled. This can happen in two ways:
 - The controller was not instructed to use RPAs because BT_LE_ADV_OPT_USE_IDENTITY was used.
 - An all zeroes local IRK has been set for the identity being used.

This happens because the local RPA will be se

[2020-03-03 14:56] BOZHENG001 commented on #19737
@joerchan Thanks for your hints! I only tried the cherry-pick in my zephyr 2.0, and it works! But I found the results from this function is always the default channel map (ff ff ff ff 1f). I suppose it means this function only reads the channel map, but does not sense environment and update channel map from environment.
I am wondering if we have another function to sense environment and update cha

[2020-03-03 15:25] carlescufi commented on #11918
Yes, of course. Right now this feature will probably be discussed as part of #22748, pending whether @erwango thinks this is indeed a good idea.

[2020-03-03 15:36] joerchan commented on #19737
@BOZHENG001 It reads the channel map that is being used in the connection at the moment.
Updating the channel map is a different thing. We don't have anything for that yet.

[2020-03-03 15:51] BOZHENG001 opened #23225 "Bluetooth: Quality of service: Adaptive channel map"
**Is your feature request related to a problem? Please describe.**
I am now working on BLE development on Zephyr (1.14 and 2.0), I would like to update channel map from environment so that I can add some specific features to my application, but I found no function in Zephyr supporting this. There are only some functions for setting and reading channel map.

**Describe the solution you'd like**
Sin

[2020-03-03 15:51] joerchan opened #23226 "Bluetooth: host: Peer not resolved when host resolving is used"
**Describe the bug**
When the controller resolving list is full the host switches to resolving in the host instead.
When the enhanced connection complete event is used the peer address is not resolved by the host.

**To Reproduce**
Steps to reproduce the behavior:
Precondition: Pair with more devices than can fit into the resolving list (or edit the resolving list size manually to 0).

Using the s

[2020-03-03 16:45] jaronkelleher opened #23231 "RISCV Machine Timer consistently interrupts long running system after soft reset"
On a long running riscv platform, the microprocessor may get a soft reset, while the rest of the platform is not reset. In this scenario, the riscv machine timer driver does not function properly. After the first tick interrupt, the timer will constantly interrupt the microprocessor due to invalid mtimecmp register values.

Steps to reproduce the behavior:
1. Run the system long enough for the mti

[2020-03-03 16:47] jaronkelleher commented on #23231
Associated with pull request #23201

[2020-03-03 16:47] aescolar commented on #23225
CC @jhedberg @joerchan @cvinayak

[2020-03-03 17:22] FRASTM commented on #21899
on the stm32f769i_disco board the SPI2 port is available on ARD connector CN9 on D13, D12, D11, D10.
SPI2_SCK could be configured with `STM32_OSPEEDR_VERY_HIGH_SPEED` in the _drivers/stm32/pinmux_stm32f7.h_
Note that PA12 (D13) SPI2_SCK is also assigned to the LD3 pin

[2020-03-03 17:29] jhedberg commented on #23222
Reduced the priority since @joerchan reported that this hasn't been reproduced with the upstream tree (the upstream controller, in particular)

[2020-03-03 18:23] joerchan commented on #23222
Reproduced with upstream, but the medium priority was wrong to begin with. This problem has been there since privacy feature was added and can easily be prevented by simply not using the advertise Identity option.

[2020-03-03 18:24] carlescufi commented on #23187
@nordic-krch the nRF Controller uses ZLI, in case this matters.
@sbiwa-where what revision of NCS are you using exactly?

[2020-03-03 18:27] carlescufi commented on #23198
@tbursztyka input welcome for this issue, in case you have a suggestion.

[2020-03-03 18:33] jhedberg commented on #23208
Looks more like a development environment issue?

[2020-03-03 18:59] dcpleung commented on #23208
The flash script is probably only available on your CI system, and is specific to the DUT. Try finding the script in your CI and see if it works on your dev machine. Note that west flash is not supported on master. The official way is to provision a USB stick with GRUB and the Zephyr binary.

Closing this as this is expected and not a bug.

[2020-03-03 19:47] jhedberg commented on #23231
@jaronkelleher if #23201 will fix this, could you add the appropriate "Fixes #23231" to its description so that GitHub will auto-close this one once it's merged.

[2020-03-03 20:02] ydamigos commented on #23215
Yes, this is the supported model. `spi_fujitsu_fram` sample supports MB85RS64V FRAM and it the one used on adafruit SPI FRAM breakout.
Did you connect olimexino_stm32 to adafruit SPI FRAM breakout board correctly? By default SPI_1 is configured on UEXT connector on olimexino_stm32.

[2020-03-03 20:10] nandojve commented on #23198
Can I work on top of https://github.com/zephyrproject-rtos/zephyr/pull/22511?
Is this block release?

[2020-03-03 20:52] snej commented on #23165
Hmm ... `which python3` tells me it's in `/usr/local/bin` just like yours.
Aha: `/usr/local/opt/python` is a symlink to the actual python3 binary — as is `/usr/local/bin/python3`. They both point to the same place, `/usr/local/Cellar/python/3.7.6_1/bin/python3`. So this is a red herring.

[2020-03-03 20:54] snej commented on #23165
I know I got an error while installing HomeBrew packages, resolved it, and repeated the command. I don't recall an error running `requirements.txt`, but if I had gotten one I would have repeated the command to make sure it completed.

[2020-03-03 21:17] carlescufi commented on #23165
Indeed, sorry for the noise.

I see, then I am out of ideas.  I really don't know what happened there. I assume you cannot reproduce it either?

[2020-03-03 21:21] vanti commented on #23117
@phuntimes The CC2640R2F belongs to a different family of devices from the CC26x2, so I wouldn't have expected this to work.

[2020-03-03 21:24] snej commented on #23165
I can't think of a way to reproduce it without nuking my HomeBrew setup (which I cannot do because I have plenty of other stuff dependent on HomeBrew packages) or finding another Mac to install Zephyr on (I do have an iMac, but I can't upgrade it to Catalina as I have music software on it that isn't compatible.)

[2020-03-03 21:30] carlescufi commented on #23165
@snej are you using virtualenv or similar? I was googling for previous occurrences of this problem and found this:
https://github.com/zephyrproject-rtos/zephyr/issues/6866#issuecomment-449167666

[2020-03-03 21:39] mbolivar commented on #23165
I would try to reproduce in a virtualenv. The package is definitely 'pyelftools', not 'elftools', and it sounds like there might be a lot going on in the homebrew environment that could be complicating things.

If it doesn't repro in a virtualenv, then I have no idea either. I've set up macs from scratch before and
don't believe I've run into this, but they're not my primary dev environments.

[2020-03-03 22:37] ulfalizer commented on #22964
Is this stuff that needs to be backwards compatible?

Otherwise, I think we should separate parts with two underscores. The macros we generate now are super hard to read (and pretty much unguessable if you don't already know how it works), since it's hard to see where parts start and end.

This is common in the Linux kernel too. Try this:

[code]

Could have

[code]

instead of

[code]

for exampl

[2020-03-03 23:07] sbiwa-where commented on #23187
I use NCS v1.2.0.

[2020-03-03 23:08] boonpin1975 commented on #23215
thanks for you clarification , I am connecting the pin to D10 to D13 on
con4 digital , I will try on the UEXT .

3

D10 (#SS1)

PA4 / SPI1_NSS / USART2_CK / ADC12_IN4

4

D11 (MOSI1)

PA7 / SPI1_MOSI / ADC12_IN7 / TIM3_CH2 / TIM1_CH1N

5

D12 (MISO1)

PA6 / SPI1_MISO / ADC12_IN6 / TIM3_CH1 / TIM1_BKIN

6

D13 (SCK1 / LED1)

PA5 / SPI1_SCK / ADC12_IN5

On Wed, Mar 4, 2020 at 4:02 AM Yannis Damigos

[2020-03-04 01:30] md-jamal commented on #23184
I have enabled CONFIG_MBEDTLS_KEY_EXCHANGE_RSA_PSK_ENABLED=y in prj.conf

Then i have added the following statement in src/main.c

[code]
After flashing the code on to the device, and looking at serial logs, this log is not present, hence my question

[2020-03-04 02:12] chen-png commented on #23208
my script is ok to download test image into up_squared via pxe, and it worked well with commit "f8cb3d4d53" in master branch.
for up_squared, misc-flasher was added into master to support sanitycheck running on up_sqaured.

[2020-03-04 02:15] chen-png commented on #23208
@mbolivar  it seems that this issue is related to commit "dc0948424e" in master.
 my added command option "up_sqaured.sh" script in args was replaced by the "flash" command in user_args.

[2020-03-04 03:47] hakehuang opened #23243 "test/kernel/gen_isr_table fails in v2.2.0-rc3 on lpcxpresso54114_m4 board"
**Describe the bug**
Checking _sw_isr_table entry 36 for irq 36 failure

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso54114_m4 ..
3. make flash
4. See error

**Expected behavior**
test PASS

**Impact**
isr function

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux, )
 -

[2020-03-04 03:48] hakehuang commented on #23243
@MaureenHelm

[2020-03-04 04:12] hakehuang opened #23244 "kernel.scheduler fails on frdmkw41z"
**Describe the bug**
if enable timeslice this case will fails on frdmkw41z. this issues exist on all v2.2.0-rc1 to rc3.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdmkw41z  -DCONFIG_TIMESLICING=y ..
3. make flash
4. See error

**Expected behavior**
test pass

**Impact**
kernel threads

**Screenshots or console output**
[code]

**Environment (pleas

[2020-03-04 04:12] hakehuang commented on #23244
@MaureenHelm

[2020-03-04 04:34] dcpleung commented on #23208
I have verified that `west flash` is broken with dc0948424ef3711e65e7f351dcaa74682ec3eb18.

[2020-03-04 05:19] dleach02 commented on #21253
The main website changed from (or during) the last release so I'm not sure https://www.zephyrproject.org/developers/#downloads has a new place to resolve to. Probably should remove it from the checklist unless someone knows where this should resolve to.

[2020-03-04 07:42] xhpohanka opened #23246 "net: tx_bufs are not freed when NET_TCP_BACKLOG_SIZE is too high"
I'm playing with `samples/net/sockets/dumb_http_server_mt` sample on `nucleo-f429zi` board. I have tried several network stack configurations and found out that when I increase number of `NET_TCP_BACKLOG_SIZE` (Number of simultaneous incoming TCP connections) to something higher than 6 and try to flood my board with many requests then some tx buffers are lost and never freed.

For network testing

[2020-03-04 07:43] jhedberg commented on #23208
@mbolivar FYI

[2020-03-04 07:54] nordic-krch commented on #23187
i will try to port algorithm from `counter_nrfx_rtc` which is lockless so handles ZLI case as well.

[2020-03-04 08:22] jfischer-phytec-iot commented on #23111
Yes, both [Endpoint Descriptors](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/usb/device/usb_dc_sam0.c#L28) and [Endpoint Buffers (u32_t type!)](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/usb/device/usb_dc_sam0.c#L37) are located in the RAM. During attach the Descriptor Address Register [DESCADD](https://github.com/zephyrproject-rtos/zephyr/blob/master/dri

[2020-03-04 08:28] erwango commented on #11918
@carlescufi, @tannewt, @dhalbert I think it's a good idea. Though I don't know what are the dependencies with #22748 yet.
Maybe the first question we need to answer is what type of high level service are we talking about. To avoid dependencies to external projects, I guess the problematic could be rephrased as "how to set my peripheral pins at run time within an application?". What about thinking

[2020-03-04 08:48] Casper-Bonde-Bose opened #23247 "Bluetooth LE: Add feature to allow profiles to change ADV data at RPA updates"
**Problem**
An upcoming Bluetooth (GATT based) specifications require that the data advertised is updated at the same time as the Resolvable Private Address updates.

**Feature**
This request covers adding a mechanism for a profile to update the advertisement data and scan response data between updating the address and re-enabling advertisements.

**Requirements**
It is important that:
- not a sin

[2020-03-04 08:53] Casper-Bonde-Bose commented on #23247
@joerchan I see you have a commit for advertisement extensions - do you have comments on this topic?

[2020-03-04 08:58] yashi opened #23248 "Add secure version of strcpy"
We lack `strlcpy()` or `strscpy()` and its friend.  As a secure RTOS, we should have at least one of those string copy functions.  Rationale behind the new APIs are that neither standard `strcpy()` nor `strncpy()` does not guarantee the terminal NUL character.

 - [`strlcpy()`][1] is more widely used variant from OpenBSD.  It returns the length of the source string.
- [`strscpy()`][2] is Linux ker

[2020-03-04 09:13] joerchan commented on #23247
@Casper-Bonde-Bose I'm not sure if you are aware of this, but somebody already created a PR for the address callback solution which was closed since we couldn't solve all the issues with that. You have already outlined the controller RPA update issue.
https://github.com/zephyrproject-rtos/zephyr/pull/22524

Your second solution might be better suited. Since the undirected advertiser uses the host

[2020-03-04 09:33] Casper-Bonde-Bose commented on #23247
@joerchan I was not aware of #22524, thanks for the reference.

I believe it is limited to the profiles in the host stack - in the future there might be a need to call from the profile to the application to get parts of the advertisements data but currently I do not see a need for this.

I was not aware that a mix of host and controller RPA handling was used - this means we do not need to handle c

[2020-03-04 09:45] emob-nordic commented on #23178
I dont think this is good approach as it will make an exception for those drivers which does not track the internal configurations. The case is st driver does not free the buffer which was previously allocated [here](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/usb/device/usb_dc_stm32.c#L560).

I see 2 solutions (st):
* Check if the endpoint has already configured the space for

[2020-03-04 09:51] emob-nordic commented on #23178
nvm, I hadn't noticed You have already posted a pr for this.

[2020-03-04 09:53] jfischer-phytec-iot commented on #23178
Disagree, that is disproportionate effort compared to the use case.

[2020-03-04 10:10] carlescufi commented on #23139
CC @nordic-auko. Do you have additional info for @optdcw?

[2020-03-04 10:29] nordic-krch commented on #23187
can you try to cherrypick this: https://github.com/zephyrproject-rtos/zephyr/pull/23251/commits/f63f22aebd63b56a7b0ca15dad3dab6c2091135c and check if issue still exists?

[2020-03-04 10:51] optdcw commented on #23139
I have implementace the support for the INQUIRY command and the VPD pages.
More specificly the mandatory the VPD support page and optional Block limits VPD page.

I found out that the os Linux and windows ignores these pages for usb mass storage device unfortunatly.

On the linux i was able to change the max transaction size from the os. However that is not usable solution for non development scen

[2020-03-04 11:17] joerchan commented on #23247
That was my suggestion yes. Except it is duration, there is a period parameter as well.
Using the Privacy feature together with advertising duration would mean that we could set the duration equal to the RPA timeout, and update advertising data and re-start the advertiser in the advertiser stopped callback. I think that is the best solution.

[2020-03-04 11:24] jfischer-phytec-iot commented on #23139
I still do not see that we have to implement something in Mass Storage Class and it does not seems like you have a plan.

On nRF52804 `The flash is divided into 256 pages of 4 kB`, Time to erase one page = 85ms, Time to write one 32-bit word = 41µs, there is also partial erase support (as I mentioned above)

The block size of MSC is fixed to 512 bytes, this is a little misaligned to flash page siz

[2020-03-04 11:30] avisconti commented on #22348
I think you are using an old version the GPIO APIs have been modified recently. It seems your zephyr version is still using the old one. Please go in sync

[2020-03-04 11:36] optical-o commented on #23139
The problem is that the host system issues single large bulk transaction which blocks the USB responses.  The inner SCSI protocol requires to write whole block to the device in this case 64Kb(default value on windows).

The partial erasing is done within the inner SCSI transaction, however the timeout is on the outer layer USB bulk transfer.

I think only solution is to persuade the host system to

[2020-03-04 11:37] avisconti commented on #22348
I used the x_nucleo_iks01a3 shield on top of nucleo_f401re board, plugged together thru arduino.
Here the code:

&arduino_spi {
	status = "okay";
	cs-gpios = <&arduino_header 16 0>;		/* D10 */

	lis2dh@0 {
		compatible = "st,lis2dh";
		label = "LIS2DH";
		spi-max-frequency = <1000000>;
		irq-gpios = <&arduino_header 5 GPIO_ACTIVE_HIGH>; /* A5 */
		reg = <0>;
	};
};

[2020-03-04 11:39] joerchan commented on #23247
CC: @Vudentz @jhedberg Any comments to the suggested solution? It wouldn't require any changes to the proposed API of Advertising Extension since we can use the duration parameter and the stopped callback.

[2020-03-04 11:48] jhedberg commented on #23247
@joerchan no other comments except that it sounds like a good plan forward

[2020-03-04 12:08] carlescufi commented on #23165
@snej and @mbolivar

I actually managed to get a clean macOS machine and run the whole procedure locally. Everything worked as expected, with no issues, except for this (seemingly harmless) error message:

[code]
The error above appeared but all the actual python dependencies were indeed installed correctly. Googling a bit didn't really help much, so I don't know why this appeared.

Since I now tr

[2020-03-04 12:08] #23165 closed

[2020-03-04 12:50] jfischer-phytec-iot commented on #23139
We can discuss it for long time, probably without any conclusion. Again: Block size in MSC is fixed to 512 bytes, the host should not transmit larger blocks, USB FS bulk EP buffer is 64 bytes, there is nothing more to optimize. MSC is just a adaption layer between USB and disk subsystem. We had a issue in USB DFU because of timeout during flash erase, and that was one of the reasons to add
IMG_ERA

[2020-03-04 13:33] theBASTI0N commented on #22348
If i use
[code]
I get this error:
[code]

[2020-03-04 13:38] nordic-auko commented on #23139
I did a test on an nRF52840, writing a 400 KiB file to the internal flash via USB MSC. If I do the disk writing directly from the bulk_out handler instead of offloading it to the op thread, the write operation succeeds without a reset or other errors. It does take a long time to complete though. Note the timestamps in the USB sniffer screenshot below:

![usb_msc_flash_write](https://user-images.gi

[2020-03-04 13:54] boonpin1975 commented on #23215
I connect to the uext the spi in olimexino , but the fram still can not detected

�*** Booting Zephyr OS build zephyr-v2.1.0-1662-ga28f8fbef542  ***
fujitsu FRAM example application
Error during ID read
Could not verify FRAM ID

[2020-03-04 14:02] jfischer-phytec-iot commented on #23139
Can you share the patch? I would expect reverse behavior.

But MSC passes it as max. 512 byte blocks to `disk_acces_write()`.

[2020-03-04 14:15] nordic-auko commented on #23139
Copied the actions from THREAD_OP_WRITE_QUEUED into the bulk_out handler:

[code]

[2020-03-04 15:45] MaureenHelm commented on #23244
Duplicate of #22745

[2020-03-04 15:45] #23244 closed

[2020-03-04 15:45] mbolivar commented on #22964
We've been over this idea a couple of times before, and unfortunately we cannot do that, because @pabigot pointed out that double underscores are reserved in C++.

[2020-03-04 16:20] avisconti commented on #22348
Sorry, I'm completeley confused. Let me try to recap everything.

1. we had an issue in LIS2DH for which was not possible to communicate thru SPI. Now, after the
   #23049 you are able to make the LIS2DH thru SPI. Is this correct?

2. Yet you are not able to test triggers, because when you enable it it does not build properly, right?
    Now, for this point, I believe the issue is that you are not

[2020-03-04 16:25] #22858 closed

[2020-03-04 17:01] nashif commented on #23148
is this really a high prio bug?

[2020-03-04 17:02] mbolivar commented on #23208
This issue is specific to misc-flasher, so I've posted a fix to just that file in https://github.com/zephyrproject-rtos/zephyr/pull/23260.

[2020-03-04 17:12] jhedberg commented on #23148
Well, a non-building sample in the tree was something we decided we want fixed before the release (doesn't really matter what the priority is, but setting high forces it to be done). This was at least the consensus in yesterday's release meeting.

[2020-03-04 17:26] carlescufi commented on #23169
@snej turns out blinky cannot run on the micro:bit at all, because the micro:bit doesn't have a simple LED connected to a GPIO line. It does have however a "display" driver that you can test with this sample:
https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/boards/bbc_microbit/display

I have sent a PR that clarifies the blinky situation: #23262

[2020-03-04 17:38] snej commented on #23169
Thank you!

[2020-03-04 17:39] jukkar commented on #23246
Tried this with nucleo_f767zi and I could reproduce the issue with wrk. I did not see similar issue with Apache bench (ab) tool, wrk seems to stress test the target more.

[2020-03-04 18:17] xhpohanka commented on #23246
In fact I was able to reproduce it also with Chrome but it was quite difficult to press F5 so fast :)

[2020-03-04 18:29] #23148 closed

[2020-03-04 19:25] jaronkelleher commented on #17743
Does Pull Request #23265 solve this?

[2020-03-04 19:48] #23208 closed

[2020-03-04 19:50] #23169 closed

[2020-03-04 20:51] ydamigos commented on #23215
Do you have a logic analyzer to check the signals?

[2020-03-04 21:08] #23231 closed

[2020-03-04 22:56] bbolen opened #23268 "Unnecessary privileged stacks with CONFIG_USERSPACE=y"
**Describe the bug**
When building with userspace enabled, gen_priv_stacks.py generates privileged stacks for system stacks that do not need it.  For example, on Cortex-M platforms, there is no need for a privileged shadow stack of _interrupt_stack, z_main_stack, or z_idle_stack.

**To Reproduce**
Using recent code as of g219d9fc0829
west build -p auto --board=stm32f411e_disco samples/userspace/pr

[2020-03-04 22:59] boonpin1975 commented on #23215
I just use a loopback ( miso connect to mosi ) to check if it's working
![image](https://user-images.githubusercontent.com/17423725/75930997-d63f1400-5eae-11ea-9510-8cd5a85f1c20.png)

[2020-03-05 00:33] theBASTI0N commented on #22348
Hey,

I am able to use the LIS2DH through SPI and am using the LIS2DH sample by changing it to use SPI instead of I2C.

When I enable the trigger it fails to build.

I have Zephyr version 2.1.99.

[2020-03-05 01:18] albertofloyd opened #23274 "power: subsystem: Application hangs when logging is enabled after entering deep sleep"
When logging is enabled and used in app that sleeps periodically for enough time to enter deep sleep (Sleep time higher than minimum residency)

After entering deep sleep the application thread never execute again which can be perceived as application hang.

Note: from kernel debug traces, deep sleep is exited but immediately re-entered, giving no opportunity for other threads to run.

Steps to re

[2020-03-05 02:59] md-jamal commented on #23184
Got the zephyr able to communicate with aws, if anyone is interested

[code]

[2020-03-05 05:27] ydamigos commented on #23215
How do you configure CS signal? Does the application drive it or the hardware (CONFIG_SPI_STM32_USE_HW_SS)?

[2020-03-05 05:46] archseer commented on #17787
@galak I also have this issue present on all openocd versions. I think it's XDS110 firmware dependent (it's broken for me on 3.0.0.7)

[2020-03-05 07:12] stephanosio opened #23278 "uart_basic_api test fails for SAM family devices"
**Describe the bug**
The `uart_basic_api` test fails for the Atmel SAM family devices due to incorrect `irq_update` function implementation.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=sam_e70_xplained
3. make
4. See error

**Expected behavior**
`irq_update` should always return 1.

**Screenshots or console output**
[code]

**Environment (please com

[2020-03-05 07:43] #23168 closed

[2020-03-05 07:48] ChristianHirsch opened #23280 "Bluetooth: hci_usb fails to connect to two devices with slow advertising interval"
**Describe the bug**
Connecting to two devices one after another and reading data with the `samples/bluetooth/hci_usb` sample fails on a PC. First the PC connects to device 1 (`AA:BB:CC:DD:EE:FF`) and reads the data. Then, it tries to connect to device 2 (`FF:EE:DD:CC:BB:AA`) and read the data, but establishing a connection (or channel?) fails, although, the PC (or bluetooth service) seems to be c

[2020-03-05 07:50] ChristianHirsch commented on #18583
Thanks @LeBlue for this information.

@joerchan I opened the issue #23280.

[2020-03-05 08:10] ChristianHirsch commented on #23280
I get the same behavior on a Raspberry Pi 3 running `Raspbian GNU/Linux 9 (stretch)`: everything works with the internal bluetooth adapter, but with the `hci_usb` sample the error occurs.

[2020-03-05 08:12] ioannisg commented on #23268
Duplicate of #16210, and will be solved by #13637

[2020-03-05 08:12] ioannisg commented on #23268
@bbolen maybe close this one (you could add this report info in #16210)

[2020-03-05 08:19] stephanosio opened #23281 "UART console input does not work on SAM E5x"
**Describe the bug**
UART (serial) console input does not work on the SAM E5x series devices (tested on `atsame54_xpro`).

**To Reproduce**
Steps to reproduce the behavior:
1. `mkdir build; cd build`
2. `cmake -DBOARD=atsame54_xpro ..`
3. `make`
4. Flash and run

**Expected behavior**
The serial console should echo the typed character and the test should succeed once the enter key is pressed.

**I

[2020-03-05 08:20] stephanosio commented on #23281
cc @benpicco

Could you check if this issue is reproducible on your side?

[2020-03-05 08:21] stephanosio commented on #23281
To anyone with access to a SAM D2x development board:

Could you check if this issue is reproducible on the board?

[2020-03-05 08:44] avisconti commented on #22348
That's why it is not building.
I think you should align to v2.2.0-rc3 now or to v2.2.0 as soon as it will be available.

[2020-03-05 08:44] carlescufi commented on #23280
@ChristianHirsch can you please reproduce the issue while running `btmon` and then attach the log?

[2020-03-05 08:48] carlescufi opened #23282 "Watchdog handling overhaul"
This issue is intended to collect all information related to the need for a new approach to how Zephyr handles the watchdog peripheral in a consistent way across all platforms.

This work was triggered by issue #22858.

[2020-03-05 08:58] carlescufi commented on #23281
@nandojve do you have this platform to test?

[2020-03-05 09:20] stephanosio commented on #23282
So far we have had two different schools of thoughts on this:

1. Watchdog should always be enabled by default to make it (arguably) fool-proof, even if application does not make use of it (i.e. does not feed the watchdog) and that will lead to seemingly mysterious and baffling processor resets from the perspective of the users that are unaware of the watchdog being active, clearly because he/she

[2020-03-05 09:22] ChristianHirsch commented on #23280
@carlescufi see logs attached.
[btmon_internal.log](https://github.com/zephyrproject-rtos/zephyr/files/4292019/btmon_internal.log)
[btmon_hci_usb.log](https://github.com/zephyrproject-rtos/zephyr/files/4292031/btmon_hci_usb.log)

[2020-03-05 09:24] ChristianHirsch commented on #23280
It seems that when the problem occurs, it repeatedly requests the data from the remote device..

[2020-03-05 09:30] ChristianHirsch commented on #23280
At [btmon_hci_usb.log](https://github.com/zephyrproject-rtos/zephyr/files/4292031/btmon_hci_usb.log) line 428 I restarted the bluetooth service.

[2020-03-05 09:54] armandciejak opened #23284 "driver: ethernet: Add support for a second Ethernet controller in the MCUX driver"
**Is your enhancement proposal related to a problem? Please describe.**
MCUs from the i.MX RT1060 family are equipped with 2 Ethernet controllers but the MCUX driver does support only the first one (ENET base register is hard-coded).

**Describe the solution you'd like**
Modify the driver so that it can support multiple controllers.

**Additional context**
I have a proof of concept barely working,

[2020-03-05 09:56] cvinayak commented on #23280
With the internal controller, the connections do not overlap, seems the controller you are using does not support simultaneous connections and scanning to connect until the previous connection is being disconnected by the gatttool.

The LE Create Connection is only issued after the previous connection is disconnected. Also, this way it reuses the same connection handle 3585.

[code]

In the Zephyr

[2020-03-05 10:01] cvinayak commented on #23280
@jhedberg do you know if Bluez/gatttool would behave differently? Does the host use the local supported features?

[2020-03-05 10:03] benpicco commented on #23281
I can confirm the issue on `atsame54_xpro` with the shell example.

[2020-03-05 10:30] boonpin1975 commented on #23215
I change to the stm32 blue pill , but it still not accessible to this module

�*** Booting Zephyr OS build v2.2.0-rc3-43-gf7564323f592  ***
fujitsu FRAM example application
Error during ID read
Could not verify FRAM ID

[2020-03-05 10:31] jfischer-phytec-iot commented on #23280
@cvinayak The person is using Zephyr's hci_usb sample on a nRF52840 board :-)

[2020-03-05 10:31] benpicco commented on #23281
I supposed checking for the existence of `DT_INST_0_ATMEL_SAM0_UART_IRQ_3` would work - or is there a better way to get the number of UART IRQs from the device tree?

[2020-03-05 10:42] ChristianHirsch commented on #23280
That's also strange, @cvinayak, I did not enable notifications, so why am I receiving them?

[2020-03-05 11:07] cvinayak commented on #23280
@jfischer-phytec-iot Reporter is using PC's controller

[2020-03-05 11:13] cvinayak commented on #23280
@ ChristianHirsch something in the host does the following... not sure if this is the CCCD handle (0x0013) being written to enable notifications.

[code]

[2020-03-05 11:17] stephanosio commented on #23281
I can see that is indeed the problem.

Checking for the existence of `DT_INST_0_ATMEL_SAM0_UART_IRQ_3` would work, but the code checks for `DT_ATMEL_SAM0_UART_0_IRQ_3` which has been phased out and replaced by `DT_INST_`.

I have opened a PR that fixes this problem #23289.

[2020-03-05 11:17] cvinayak commented on #23280
@ChristianHirsch also, the handle you wanted to read has been read in the second connection.

[code]

[2020-03-05 11:25] stephanosio commented on #23281
Unless we add a new device tree symbol that specifies the number of interrupts connected to a device, I think the following would be the best we can do:

1. Define a Kconfig helper symbol that resolves SoC-specific IRQ count (AFAIK, only SAM D/E5x has 4 IRQs per SERCOM).
2. Use that Kconfig symbol to connect IRQ(s).

cc @galak

[2020-03-05 11:44] nandojve commented on #23107
@carlescufi @benpicco @stephanosio

[2020-03-05 11:47] nandojve commented on #23281
@carlescufi Yes I had a SAMD20_XPRO and can test tonight.
I've been addressing all DT_INST changes on #23107.

[2020-03-05 11:51] jfischer-phytec-iot commented on #23280
a)

b)

To be clear, this `seems the controller you are using` from (a) is `hci_usb sample on a nRF52840 board`, @cvinayak do you agree with that?

[2020-03-05 12:25] pabigot commented on #23282
There's also:

3. The watchdog behavior on a particular platform should follow power-up behavior specified by the vendor:
    * if it's enabled on power-up with certain settings, Zephyr leaves it alone
    * if it's not enabled on power-up, Zephyr leaves it alone

There should of course be standard options to force the watchdog to be turned off (whether or not the Zephyr watchdog API is enabled; u

[2020-03-05 12:28] nashif commented on #23148
This is bad, high priority bugs should really be reserved to bugs that are more critical than a sample that does not build due to some missing overlay...

[2020-03-05 12:34] cvinayak commented on #23280
Both (a) and (b)  are the same comment text you have quote, and is for the internal PC's controller.

This is for the Zephyr controller.

[2020-03-05 12:39] bbolen commented on #16210
Adding information from #23268 per request.

Describe the bug
When building with userspace enabled, gen_priv_stacks.py generates privileged stacks for system stacks that do not need it. For example, on Cortex-M platforms, there is no need for a privileged shadow stack of _interrupt_stack, z_main_stack, or z_idle_stack.

To Reproduce
Using recent code as of g219d9fc0829
west build -p auto --board=s

[2020-03-05 12:40] bbolen commented on #23268
Sorry for the duplicate.  Thanks for the response.

[2020-03-05 12:40] #23268 closed

[2020-03-05 13:04] joerchan opened #23292 "Bluetooth: Mesh and SMP DHKey coexistence"
**Describe the bug**
Bluetooth SMP protocol and Bluetooth Mesh provisioner both use the bt_pub_key_gen API.
This API uses the HCI interface to generate a single public/private key pair. The public key is given to the remote, and the private key is used when received the remote public key to generate the DHKey.

While SMP only generates a single public key during init Mesh will generate a new one f

[2020-03-05 13:06] joerchan commented on #23292
@jhedberg @trond-snekvik Do you foresee this as a possible use-case?

[2020-03-05 13:22] benpicco commented on #23281
Looks like i2c has [the same issue](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/i2c/i2c_sam0.c#L778).

[2020-03-05 13:40] nandojve commented on #23281
@benpicco #23107

[2020-03-05 13:41] stephanosio commented on #23281
Thanks for pointing it out. `DT_ATMEL_SAM0_I2C_0_IRQ_3` does need to be fixed as it uses the obsolete DT names.

`DT_ATMEL_SAM0` in itself is not a problem; `DT_<COMPAT>_<INSTANCE>_<PROP>` is.

https://github.com/zephyrproject-rtos/zephyr/commit/01e54a54721aa989e4f0947d97607cc84e6b1721

[2020-03-05 13:46] stephanosio commented on #23281
In regards to #23107, I believe the `DT_<COMPAT>_<INSTANCE>_<PROP>` issue is a little different from the on-going `DT_INST` conversions, as these symbols were completely removed and should have already been renamed earlier when the mass renaming was done (I guess they missed a few in the process).

Since this issue inhibits proper operation of SERCOMs on the SAM D/E5x, IMO, this should be treated

[2020-03-05 14:49] zephyrbot opened #23294 "[Coverity CID :208677] Unchecked return value in drivers/sensor/lis3mdl/lis3mdl_trigger.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/23ace0e55681c02a81fb6b891f832aa356c85aab/drivers/sensor/lis3mdl/lis3mdl_trigger.c#L28

Category: Error handling issues
Function: `lis3mdl_trigger_set`
Component: Drivers
CID: [208677](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208677)

Details:

[code]

Please fix or provide comments

[2020-03-05 14:49] zephyrbot opened #23295 "[Coverity CID :208676] Overlapping buffer in memory copy in subsys/usb/class/mass_storage.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/23ace0e55681c02a81fb6b891f832aa356c85aab/subsys/usb/class/mass_storage.c#L744

Category: API usage errors
Function: `thread_memory_write_done`
Component: Other
CID: [208676](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208676)

Details:

[code]

Please fix or provide comments in coverit

[2020-03-05 15:00] jfischer-phytec-iot commented on #23295
CONFIG_MASS_STORAGE_BULK_EP_MPS is either 64 or 512 (for high speed), BLOCK_SIZE is 512, page buffer is BLOCK_SIZE+CONFIG_MASS_STORAGE_BULK_EP_MPS. It can not overlap, but memmove is better choice indeed.

I will fix int in following MSC cleanup patches.

[2020-03-05 15:56] tluio opened #23299 "Some bugs or dead codes cased by possible NULL pointers"
I have found some bugs cased by possible NULL pointers. Otherwise, if these pointers cannot be NULL, there will be some dead codes. But I think some of them may be NULL in some special cases.

1.
File: subsys/fb/cfb.c
Function: cfb_print
Code:
108	        const struct char_framebuffer *fb = &char_fb;
109          const struct cfb_font *fptr = &(fb->fonts[fb->font_idx]);
110
111	        if (!fb->fo

[2020-03-05 16:01] nvlsianpu commented on #23139
I'm sure that if nRF have to erase 64 KB in one transaction it will timeout the USB bus (as NVMC will lock any code execution). I'm not sure what happens here - will have time to investigate maybe next week. One flash pager erase will take ~89 ms, Probably need to synchronize this somehow with the USB machinery.

[2020-03-05 17:06] jukkar commented on #23284
That is a good idea so please share your changes.

[2020-03-05 17:20] jukkar commented on #23299
Options can be NULL, in which case the opt_len should have been set to 0. As the num variable in line 577 is set to 0, then option would evaluate NULL and we do not access options[]. Only problem is that if the caller sets options to NULL and opt_len > 0 then we have a null pointer access. We could check that in this function.

[2020-03-05 17:37] joerchan commented on #23299
Function: bt_mesh_friend_get
Code:

This is really a check if the cfg_srv has been initialized. Because cfg_srv cannot be initialized without a valid conf. So just need to update the BT_DBG statement here.
https://github.com/zephyrproject-rtos/zephyr/pull/23301

[2020-03-05 17:42] joerchan commented on #23299
@tluio  Is this a static code analysis tool? Or did you just look around? I'm curious which tool you used,  Shouldn't coverity find these?

[2020-03-05 17:50] xhpohanka opened #23302 "Poor TCP performance"
I continue playing with Zephyr network stack and STM32 and I unfortunately found next issue. With `nucleo_f429zi` board and `big_http_download` sample I got very slow download speed. This pushed me to check network performace with `zperf`.

For UDP transfers I got around 10Mbps but for TCP the result was **only 10kbps** which is really bad.

I tried if some older versions of Zephyr behaves better

[2020-03-05 17:55] vanti commented on #17787
@archseer Have you tried the workaround in https://github.com/zephyrproject-rtos/zephyr/issues/21372? It is needed on newer XDS firmware 3.x until OpenOCD is fixed.

[2020-03-05 18:52] bbolen commented on #13637
@andrewboie Is there anything I could do to help move this forward?  I'm willing to go take the information in the description and work on a solution, or continue any work you already have started if it would help.

[2020-03-05 21:08] jukkar commented on #23302
Indeed, there is a regression with the TCP throughput. Problem with TCP has been that currently we have no proper tests for TCP that would catch these kind of regression issues. This has been one of the reasons we have been building a new version of the TCP stack that would support proper testing that could be integrated into sanitychecker. The TCP2 has been cooking quite long time and we are slow

[2020-03-05 23:53] boonpin1975 commented on #23215
I am using the out of box prj.conf from
https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/drivers/spi_fujitsu_fram/prj.conf

CONFIG_STDOUT_CONSOLE=y
CONFIG_PRINTK=y

CONFIG_SPI=y
CONFIG_GPIO=y

On Thu, Mar 5, 2020 at 1:27 PM Yannis Damigos <notifications@github.com>
wrote:

[2020-03-06 01:24] tluio commented on #23299
@joerchan I used a static code analysis tool written by myself. But there are still some bugs in it to be fixed.

[2020-03-06 02:23] nandojve commented on #23281
[code]

[2020-03-06 02:24] stephanosio commented on #23281
@nandojve Thanks for checking. Noting that the SAM D2x only has 1 interrupt per SERCOM, that is indeed the expected result.

[2020-03-06 02:24] chen-png opened #23309 "Sanitycheck generated incorrect acrn.xml on acrn platform"
**Describe the bug**
Running sanitycheck on acrn platform, the generated two files acrn.xml and sanitycheck.xml are not same in sanity-out directory, the test results in these two files are different.

the result in sanitycheck.xml should be right, it's the same with sanitycheck.log.

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p acrn --device-testing --device-serial /dev/tty

[2020-03-06 02:26] stephanosio commented on #23281
@nandojve This is a little off-topic, but could you also check `uart_async_api` on the SAM D2x? That also seems to be broken on the SAM E5x even with the IRQ fix.

[2020-03-06 02:40] tluio opened #23310 "GUI: LVGL: possible NULL dereference"
Sorry, I am not sure if I can report bug in lvgl here, but I find issue may be not supported in zephyrproject-rtos/lvgl.
[code]

[2020-03-06 02:58] nandojve commented on #23281
Ok two things on uart_async_api:

1- SAMD20 is the only 32-bit device on all SAM family without DMA, so build error.
2- SAMR21 build but execution on HW fail. Maybe I forgot to do something like short circuit RX/TX? Execution logs below:

[code]

[2020-03-06 03:09] chen-png opened #23311 "Sanitycheck flash error on frdm_k64f board."
**Describe the bug**
use sanitycheck script to run all tests on frdm_k64f board, sometimes it will meet a flash error.

it's ok to run the test build step, but when run flash step, **it  will failed occasionally**.
the error log in device.log as below.

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p frdm_k64f --device-testing --device-serial /dev/ttyACM1 -T tests/
2. See error

[2020-03-06 05:47] boonpin1975 commented on #23215
I added software cs , connected to PA11 in blue pill but it did not work either , to do a comparison , this fram is working when I connected to the arduino . thanks

// PA11
	spi_cs.gpio_dev = device_get_binding("GPIOA");
	spi_cs.gpio_pin = 11;
	spi_cs.delay = 0;

	spi_cfg.cs = &spi_cs;

[2020-03-06 07:42] cvinayak opened #23314 "Bluetooth: controller: Use defines for 625 us and 1250 us"
**Is your enhancement proposal related to a problem? Please describe.**
Bluetooth controller implementation uses magic numbers 625 and 1250 for the advertising interval and connection interval units.

**Describe the solution you'd like**
Use defines for the values 625 and 1250

**Describe alternatives you've considered**
None

**Additional context**
Refer to comments in https://github.com/zephyrpr

[2020-03-06 09:33] armandciejak commented on #23221
I tested it on the MIMXRT1060-EVK board and the problem is the same.

[2020-03-06 10:34] jukkar commented on #23302
I just compiled `samples/net/sockets/dumb_http_server_mt` for Atmel sam-e70 board and got following numbers:

[code]

So definitely more than 10kb/sec. Then using wrk

[code]
Now the transfer speed is very poor.

[2020-03-06 10:39] jukkar commented on #23246
I am suspecting that when the amount of incoming connections increases, we eventually run out of network buffers in some part of the code. When that happens, the code notices that but does not release some allocated buffers which will lead to buffer leak. I will be investigating this.

[2020-03-06 10:49] mayankpatel17 opened #23319 "hci interface stopped working after few hours/days"
Hi All,

I'm facing issues regarding ble's hci interface.
I'm having nrf52840 module on which i run zephyr's hci_uart app for beacon scanning.
I have Bluez 5.50 installed on my custom board (imx6ull).
i.MX6ULL is connected with nrf52840 chip over UART.
I'm using full UART (Tx, Rx, RTS, CTS). These 4 pins are connected & configured from both (i.MX6UL & nrf52840_pca10056) side.

Note : nrf52840 chip

[2020-03-06 10:59] carlescufi commented on #23319
* is there a way you can connect a logic analyzer to the pins to get the UART lines going in and out logged?
* is there a way you can connect a debugger to the nRF52840 once it has stopped working to get a backtrace or some logging? A Segger debugger would be ideal, then we could use RTT

[2020-03-06 10:59] cvinayak commented on #23319
Could you please provide details about how you build, and reproduction steps (command line or simple application that you can share), particularly if you have any changes to samples or its configuration. Also, any logs (console logs, sniffer traces, btmon logs etc... just before the issue). Environment details, commit hash, toolchain used.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdi

[2020-03-06 11:47] joerchan commented on #23319
This affects the UART lines I think. Might give it a try. But could end up it not being able to reproduce it if it is something in the flow-control I think.

[2020-03-06 12:10] carlescufi commented on #23319
Relabeling as question because it's unclear whether this is a Zephyr bug or a board/tty issue.

[2020-03-06 12:21] carlescufi commented on #23319
@mayankpatel17 please provide all the information required by @cvinayak in [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/23319#issuecomment-595716997) and reply to the questions in [this other comment](https://github.com/zephyrproject-rtos/zephyr/issues/23319#issuecomment-595716943).

[2020-03-06 12:26] ChristianHirsch commented on #23280
@cvinayak, there are some things that bother me:

1. You are right. the CCCD handle is `0x0013`. But I am only executing the commands above to read the characteristic `0x0012`. I am not setting/writing to the CCCD handle and do not activate the notifications. I just tried the following to stay connected to the device with the internal adapter: `gatttool -t random -b AA:BB:CC:DD:EE:FF --char-read -

[2020-03-06 12:32] joerchan opened #23321 "Bluetooth: LE SC OOB authentication in central connects using different RPA"
**Describe the bug**
The Bluetooth central (initiator) role when using the direct connect method (`bt_conn_create_le`) will not use the RPA address that was retrieved using `bt_le_oob_get_local`.
This means that the remote will not be able to match the connected peer to the OOB information received, or whitelist the RPA address.
As a consequence OOB authentication using LE Secure Connections might

[2020-03-06 12:40] rckTom opened #23322 "flash, spi-nor: Configuration of jedec spi nor flash device driver"
**Is your enhancement proposal related to a problem? Please describe.**
With the current implementation of the jedec spi nor driver only devices are supported that have the ability to perform 4KB, 32KB, 64KB and chip level erase. But there are jedec compatible chips that do not support all of the mentioned erase types or at different granularity (e.g. Cypress s25fl512s just supports erase with a f

[2020-03-06 12:46] nashif commented on #23299
@tluio  care to share some more information about the tool?

[2020-03-06 12:48] nashif commented on #23310
you should report those against lvgl, where those should be fixed

[2020-03-06 13:04] carlescufi commented on #23322
@rckTom would you consider sending a Pull Request with an initial implementation?

[2020-03-06 13:05] rckTom commented on #23322
I'm working on it.

[2020-03-06 13:09] xhpohanka commented on #23302
I have this behavior for STM32F429ZI

`CONFIG_NET_TCP_BACKLOG_SIZE=1`

[code]
`CONFIG_NET_TCP_BACKLOG_SIZE=2`

[code]
I do not understand why latency is so slow.

The previous result was for v2.2.0-rc3, for 2.1.0-rc3 it is even worse...
`CONFIG_NET_TCP_BACKLOG_SIZE=2`
[code]

[2020-03-06 13:22] xhpohanka commented on #23302
It also seems to me that issue with `big_http_download` sample is a bit different. The download is very slow for me with no respect to `CONFIG_NET_TCP_BACKLOG_SIZE` or reverting d88f25bd763e2dfa70873b3c2321f2f8677d643d commit. Downloading of 52kB sized file lasts 8.5 seconds. You can check my wireshark log https://drive.google.com/open?id=163-v3MlK3Hgc4F47X05GSSJRo3EFpX-s, it is full of [TCP Windo

[2020-03-06 13:38] mayankpatel17 commented on #23319
I'm using zephyr's version 2.1.0. Compiling sample app using command "cmake -B build -DBOARD=nrf52840_pca10056 samples/bluetooth/hci_uart"

To reproduce this just need to keep the scanning on for a long time. There is not any compilation issue i have faced.

Attaching file here which shows console logs before and after the issue.
[hci_stoppped_working_logs.docx](https://github.com/zephyrproject-rt

[2020-03-06 13:43] mayankpatel17 commented on #23319
The whole connection between i.MX6ULL and nrf52840 is embedded together on board, i don't have any direct access to the pins. So I have no idea how i would be able to connect analyzer to read the UART lines !

I have nrf52840 embedded on my custom board. Still, i have connection for Jlink on board to the nrf chip whcih i'm using to flash nrf chip.

[2020-03-06 13:59] tluio commented on #23310
Sorry. Thank you for your advice and now I think I should close this issue.

[2020-03-06 13:59] #23310 closed

[2020-03-06 14:18] carlescufi commented on #23319
Would you mind trying with the current master branch and reporting whether you see the same symptoms please? There are some fixes since 2.1.0 that could apply to the issue you see.

[2020-03-06 14:43] MaureenHelm commented on #22745
@dleach02 will you please have a look?

[2020-03-06 14:49] tluio commented on #23299
I am so sorry, but I cannot share too much information since it's part of an unpublished work.

[2020-03-06 14:55] joerchan commented on #23177
@tluio Not sure why you closed it. We should eliminate the dead code.

[2020-03-06 15:02] nashif commented on #23311
sanitycheck just uses west flash to flash a device, the fact that flashing fails is not related to sanitycheck. The flash failures is something that is common with the frdm_k64f for whatever reason, does not happen with other boards. In those cases sanitycheck can retry those failed tests multiple times until all flashing issues are corrected through retries leaving you with only the actual failur

[2020-03-06 15:34] nashif commented on #23026
@jenmwms  can you please take this one, you have been dealing with this driver and the missing locking most likely was one of the main issues you have faced while working on the configure API patch

[2020-03-06 16:00] sslupsky commented on #23111
Thanks for the feedback.  Regarding the sam0 driver, the descriptor buffer is filled with zeros:
https://github.com/zephyrproject-rtos/zephyr/blob/6f3f3c230cf4384e3f5f35ebfdf6b5e84db38997/drivers/usb/device/usb_dc_sam0.c#L232
and I was wondering if might cause some kind of problem because set_config() is called during the device_init() before the dc_attach().  If set_config() updates the descripto

[2020-03-06 16:03] jenmwms commented on #23026
@nashif Thanks! I'll take a look and update here.

[2020-03-06 16:25] #23321 closed

[2020-03-06 16:34] #23281 closed

[2020-03-06 17:29] #23202 closed

[2020-03-06 17:37] lindemer opened #23324 "TinyCBOR is not linked to application files unless CONFIG_MCUMGR is selected"
**To Reproduce**
This result can be reproduced by building the tests in the [COSE library](https://github.com/motet/cozy) I'm working on, and then subsequently removing the `select MCUMGR` line in the Kconfig file. This bug was pointed out on [Stack Overflow](https://stackoverflow.com/questions/59888006/building-tinycbor-module-with-zephyr) a month ago.

**Environment (please complete the followin

[2020-03-06 17:59] nandojve commented on #23107
@jhedberg

[2020-03-06 18:47] carlescufi commented on #23324
Yep, will fix. But remember that this is quite a heavily modified fork of tinycbor and we plan to update it soon to align it with the upstream mcumgr one.

[2020-03-06 19:04] motet commented on #23324
Excellent, thanks for the quick response.

[2020-03-06 21:37] ceolin commented on #22656
@alexanderwachter @jukkar coverity is still reporting this issue, AFAIU it is a false positive, coverity seems to get confuse with zassert. Can you just confirm that  and mark as false positive there ? If you don't have permission, just let me know that I do it.

[2020-03-06 22:43] jenmwms commented on #23026
I can replicate the issue described - still investigating root cause.

**Actual behavior (for qemu_x86_64 as reported):**
-- west build: build configuration:
       source directory: /home/jennife2/zephyrproject/zephyr/samples/subsys/console/echo
       build directory: /home/jennife2/zephyrproject/zephyr/build
       BOARD: qemu_x86_64 (origin: CMakeCache.txt)
-- west build: running target run
[3

[2020-03-07 07:23] #23221 closed

[2020-03-07 09:22] alexanderwachter commented on #22656
Marked as a false positive.

[2020-03-08 07:55] tluio commented on #23177
Sorry, I am not familiar with github, so I am not sure when issues should be closed. Thank you for reopening it. I will be more careful next time.

[2020-03-08 16:36] jukkar commented on #23302
Some fixes for the memory leaks in #23334
The #23246 is related to this issue. The low performance numbers are probably culprit of lot of packets being dropped. Anyway, the memory leaks needs to be fixes first, and then we can see how the performance number behave.

[2020-03-08 18:19] sslupsky commented on #21114
@bendiscz @andyross
Here is some additional information regarding this problem.  I have looped Martin into this as it appears he had some involvement with the sam0 rtc driver.

I have improved my understanding of what the underlying issues that cause this behaviour.

Here is a screen shot of four oscilloscope traces.

![rtc tick register latency](https://user-images.githubusercontent.com/16888734/

[2020-03-08 22:45] optdcw opened #23337 "USB DFU device + Composite Device with ACM Serial - Windows Fails"
I'm experiencing similar issue as this closed on [#15497] and [#14882]

I'm using USB DFU device with composite device ACM for serial port.
On linux everything runs ok, however on windows i keep getting the Lost device after RESET:
[code]
The windows also expiriences issue with listing mentioned in: [#15497]
It is listing single partition.

The main clue is propably that windows DFU-util works whe

[2020-03-09 02:30] chen-png commented on #23207
this will influence the QA test framework, we can't  use the xml to generate html, so we can't see the detail test result in daily test result and testrail.
 it's critical for QA, so change it's priority to high.

[2020-03-09 03:16] chen-png opened #23339 "tests/kernel/sched/schedule_api failed on mps2_an385 with v1.14 branch."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mps2_an385 -p auto tests/kernel/sched/schedule_api -t run

**Screenshots or console output**
****Booting Zephyr OS zephyr-v1.14.1-49-gff6829261918 *****
Running test suite threads_scheduling

starting test - test_bad_priorities
PASS - test_bad_priorities

starting test - test_priority_cooperative
PASS - test_priority_cooperative

s

[2020-03-09 05:52] cvinayak commented on #23280
@ChristianHirsch any reason why you are using a 5 seconds sleep with your internal controller when connecting to devices?

I am not able to reproduce the issue reported with vanilla peripheral sample or slow advertising peripheral sample. My commandline and btmon logs atttached.

[code]
[hci_usb.log](https://github.com/zephyrproject-rtos/zephyr/files/4304822/hci_usb.log)
[hci_usb_slow_adv.log](htt

[2020-03-09 08:28] ChristianHirsch commented on #23280
@cvinayak thanks for trying.

This is just to guarantee, that gatttool connects to device 1 first and keep the connection alive, before connecting to device 2. If I don't use the sleep, it might happen, that device 2 is connected first. This was to show that the internal adapter can handle two connections simultaneously.

Did you execute the commands on the `hci_usb` sample more often? If I boot m

[2020-03-09 08:45] armandciejak commented on #23284
@jukkar I'm cleaning up my proof of concept so that it can be merged. It is not finished yet but you can already have a look here: [eth_mcux_enet2](https://github.com/riedonetworks/zephyr/tree/eth_mcux_enet2)

[2020-03-09 08:53] agansari commented on #23284
@armandciejak good to see you are making this driver multi-instance!

[2020-03-09 09:00] armandciejak commented on #23284
@agansari I'm changing quite a few things, shall I already open a pull request even if I'm not finished with the changes? I would like to get comments ASAP.

[2020-03-09 09:02] agansari commented on #23284
@armandciejak sure, think you can tag it as WIP or DNM until it's close to a merge state

[2020-03-09 09:52] cvinayak commented on #23280
@ChristianHirsch Yes, I have tried connections many times (and with upto 3 peripherals).

What I find different from your logs is, your host is doing more than just reading the characteristics (like ATT MTU request, which does not get num complete and no more ATT transaction there after). That is not what is done when using internal controller. If this happens it looks like gatttool is out-of-sync

[2020-03-09 10:03] de-nordic commented on #23324
@motet can you please verify https://github.com/zephyrproject-rtos/zephyr/pull/23342 as the fix?

[2020-03-09 10:16] markus-becker-tridonic-com commented on #23193
The problem with setting the MAC via `net_mgmt(NET_REQUEST_IEEE802154_SET_EXT_ADDR, iface, addr, IEEE802154_EXT_ADDR_LENGTH))` or `net_if_set_link_addr(iface, mac, 8, NET_LINK_IEEE802154);` is that this is not possible before `ieee802154_radio_api.iface_api.init()` which internally calls `ieee802154_init()` and thus also `openthread_init()`, but needs to be done before. Currently, thus you can onl

[2020-03-09 10:18] carlescufi commented on #23337
@optdcw please provide more information, as requested in the GitHub issue template. At the very minimum wich board and Zephyr revision are you using.

[2020-03-09 10:21] motet commented on #23324
@de-nordic Done, everything works on my end. `tinycbor/cbor.h` gets linked with no errors now. Thanks!

[2020-03-09 10:36] optdcw commented on #23337
Board: nrf52840 DK
Zephyr: 2.10

[2020-03-09 10:40] de-nordic commented on #23324
Thanks for checking that for me.

[2020-03-09 10:43] lairdjm opened #23346 "bl65x_dvk boards do not reset after flashing"
**Describe the bug**
After flashing bl65x_dvk boards, they do not automatically reset

**To Reproduce**
Steps to reproduce the behavior:
ninja flash

**Expected behavior**
The module to reset

**Impact**
Slight annoyance

[2020-03-09 10:44] lairdjm commented on #23346
Fix for 1.14: https://github.com/zephyrproject-rtos/zephyr/pull/23344
Fix for master: https://github.com/zephyrproject-rtos/zephyr/pull/23345

[2020-03-09 10:48] jukkar commented on #23284
One option is also to create the PR as a draft.

[2020-03-09 11:04] jhedberg commented on #21107
@LeBlue any update on this?

[2020-03-09 11:11] jhedberg commented on #23292
@joerchan at least I haven't come across any device where you'd want both enabled, however I'm not opposed to making improvements to simultaneous access to ECC.

[2020-03-09 11:13] jhedberg commented on #23292
Actually, I'll recategorise this as a feature request, since the current limitations are known

[2020-03-09 11:17] mayankpatel17 commented on #23319
Trying to reproduce, will update here once anything is found.

[2020-03-09 11:31] rlubos opened #23347 "net: ieee802154_radio: API improvements"
Hi,

As we're now putting more effort into 802.15.4 based protocols (extending OpenThread support, trying to run Zigbee over 802.15.4 radio driver in Zephyr), we've identified a need for several API improvements. Before pushing PRs with actual changes, I wanted to create this umbrella issue, summarizing the changes needed with some explanation. Hopefully, we can get some early feedback here.

###

[2020-03-09 11:32] rlubos commented on #23347
CC @tbursztyka @jukkar @MarekPorwisz @mariuszpos

[2020-03-09 11:59] trond-snekvik commented on #23292
We haven't had any feature request for this before in Nordic, but it's not an unthinkable scenario. Perhaps the kconfig entry for SMP should have a `depends on !BT_MESH` to clearly communicate that this isn't supported for now?

[2020-03-09 12:17] #23198 closed

[2020-03-09 12:36] Aukstkalnis opened #23349 "Question: How to add external soc, board, DTS, drivers and libs?"
Hi.

I am trying to add ST's BlueNRG-2 soc to my project. Since zephyr does not have it, i want to add it to separate directory. I know there is such things as BOARD_ROOT, SOC_ROOT and DTS_ROOT. As I understand, you can set separated repositories for Board, soc and DTS. And what to do about other repositories, like Include, drivers, etc. There is no environment variable like SOC_ROOT. Where to add

[2020-03-09 13:01] carlescufi commented on #23207
@wentongwu do you think you will have a patch for this soon? This is currently blocking the 2.2 release.

[2020-03-09 13:04] carlescufi commented on #23349
Hi @Aukstkalnis you can add out-of-tree drivers just as easily, here's a starting point:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/application_development/out_of_tree_driver

Your out-of-tree driver doesn't need a `DRIVER_ROOT` because it will be part of the build as soon as you add a Kconfig entry for it, even if that is outside the main zephyr tree, it's all part of `ZEPH

[2020-03-09 14:22] alexanderwachter opened #23351 "boards: nucle_g474re: west flash doesn't work"
**Describe the bug**
Flashing of the board doesn't work.
It shows successful, but the board does not blink.
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nucleo_g474re zephyr/samples/basic/blinky
2. west flash

**Expected behavior**
LED should blink.

**Impact**
Can't flash the board

**Environment (please complete the following information):**
 - OS: Linux
 - pyocd

[2020-03-09 14:55] BOZHENG001 commented on #23225
I am not sure if devices from Nordic support environment sensing. I have this feature request, because I suppose that nRF52840 DK has ability to sense environment. If this feature request is impossible on Nordic devices, then please tell me and I will close it.

[2020-03-09 15:05] sslupsky commented on #7331
Could this topic be expanded to encompass time synchronization using methods other than BLE?  For instance, NTP, GPS, LoRa, 802.15.4e, RTC, etc?

Also, I just determined that there is no zephyr api to set the system clock.  So, for the use case where you boot your device and want to manually set the clock to the local time (or some other arbitrary time), there doesn't appear to be an API for this?

[2020-03-09 15:22] joerchan commented on #23225
@BOZHENG001 Detecting the channel performance is possible. But there is no standard way over HCI to communicate this information from the controller to the host. So first thing to do would be to come up with a proposal on how to address this issue.

It's the central (or master) role that sets the channel map of the connection. Are you making a central role application?

[2020-03-09 15:26] #23351 closed

[2020-03-09 16:04] nashif commented on #23207
This is not a high priority bug. I suggest to either exclude the test or manually edit the xml file and remove the garbage.

[2020-03-09 16:06] nashif commented on #23207
my guess is that the issue is related to PM being enabled by default for this board:
CONFIG_SOC_POWER_MANAGEMENT=y

This should never be enabled by default and should be use-case/application specific.

[2020-03-09 16:07] aleksmarcelo opened #23353 "nrf51_ble400.dts i2c pins inverted"
**Describe the bug**
On nrf51_ble400.dts the i2c pins are inverted.
on boards/arm/nrf51_ble400/nrf51_ble400.dts, it is:
[code]
Must be: (**Works only with this configuration**):
[code]
**To Reproduce**
[code]
**Expected behavior**
Expect to work with the default dts file (nrf51_ble400.dts)

**Impact**
Must define an overlay correcting the wrong pin definition.

**Screenshots or console output**
No

[2020-03-09 16:27] carlescufi commented on #23353
@aleksmarcelo would you mind sending a Pull Request to fix this?

[2020-03-09 16:44] aleksmarcelo commented on #23353
No, will be a pleasure!  But, anyone is facing the problem you need to reset the MCU  to start the communication in the I2C bus ?

[2020-03-09 17:49] carlescufi commented on #23353
That I don't know but perhaps @anangl does.

[2020-03-09 17:56] carlescufi commented on #23337
Thanks. For good measure, since several fixes have landed since 2.1.0 related to both CDC ACM and USB DFU, could you please try the current master and see if the problem is present there too?

[2020-03-09 18:23] nashif commented on #23309
@chen-png this issue is very difficult to reproduce, I do not have the same setup with acrn in place, Do you get this issue with boards other than acrn?

[2020-03-09 20:59] jukkar commented on #23347
LGTM. I didn't spot any big issues with these API changes. Most of the changes seem to be around get/set config, are you planning to send PR that implements these in some driver?

[2020-03-10 02:19] wentongwu commented on #23207
[code]

@chen-png would you like to try this patch, I test it locally it seems working well?

[2020-03-10 02:31] wentongwu commented on #23207
@dcpleung @nashif without this commit, deep sleep state can't be entered. The bsp code about mec power management is merged on Dec 10, 2019 (see https://github.com/zephyrproject-rtos/zephyr/pull/19423), but removing deep sleep states from residency policy happened on Dec 4, 2019 (see https://github.com/zephyrproject-rtos/zephyr/pull/20950), that means we never test the deep sleep state until commi

[2020-03-10 03:21] wentongwu commented on #23207
@scottwcpg @dcpleung I don't have the spec about this SOC, but I see some comments in the code like below, and I assume the 48Mhz PLL is related to peripherals, so I add some delay(3ms) after resume to get this PLL locked before uart start to work.
[code]

[2020-03-10 03:31] tluio opened #23360 "Possible NULL dereference in zephyr/arch/arm/include/aarch32/cortex_m/exc.h"
I think there may be a null-pointer-dereference bug. I am not sure if it has something to do with [#17656](https://github.com/zephyrproject-rtos/zephyr/issues/17656)

File:
       zephyr/arch/arm/core/aarch32/fatal.c
       zephyr/kernel/fatal.c
       zephyr/arch/arm/include/aarch32/cortex_m/exc.h
Function:
       z_arm_fatal_error
       z_fatal_error
       arch_is_in_nested_exception

Code:
ze

[2020-03-10 05:10] kkiyota commented on #17991
I have the same problem with qemu_cortex_m3.  Looks like "-DCONFIG_COVERAGE=y" is missing with cmake.

[2020-03-10 06:19] chen-png commented on #23207
tested, it worked well for mec board now.

[2020-03-10 06:20] anangl commented on #23353
No, I haven't heard of such issue. You need to reset it (with the RESET button, I assume) after flashing?

[2020-03-10 06:36] Aukstkalnis commented on #23349
Ok, I will try this. But there is one thing that is not clear to me. Its about where should the all things related soc be placed. In this example, it is placed directly in zephyr source tree. What if I want to hold soc related stuff (including drivers, libs, etc.) in one directory, board in another, app in another directory and zephyr also in another? If I use west, then it download everything to

[2020-03-10 07:39] ioannisg commented on #23360
There is a bug-fix PR for this, see #23356

[2020-03-10 07:50] tluio commented on #23360
Ok, thank you.

[2020-03-10 07:58] ioannisg commented on #23360
@tluio , I re-opened this; it will be closed when the bug-fix PR is merged.
Thanks for reporting it, by the way.
Would you mind taking a look at #23356 and see if this addresses your issue?

[2020-03-10 08:03] rlubos commented on #23347
@jukkar Yes, the plan is to implement these changes step by step in nRF5 radio driver (and of course rework other radio drivers as needed).

[2020-03-10 08:13] tluio commented on #23360
Yes, this PR addresses my issue. Thank you!

[2020-03-10 08:22] cvinayak opened #23364 "Bluetooth: bt_recv deadlock on supervision timeout with pending GATT Write Commands"
**Describe the bug**
Performing GATT write commands from a peripheral as fast as possible from the main loop while the peer central is performing GATT service discovery and a supervision timeout puts the system in a deadlock.

Preliminary analysis shows the below callpath leading to the deadlock:
[code]

The deadlock is caused by use of all `free_tx` by the below callpath:
[code]

**To Reproduce**

[2020-03-10 08:59] SebastianBoe commented on #23349
It is up to you if you want west to manage your app directory or not. I can't tell you what you should do, because this depends on many things.

But I can explain what is supported to do.

https://docs.zephyrproject.org/latest/application/index.html#creating-an-application
https://docs.zephyrproject.org/latest/guides/west/index.html

[2020-03-10 09:06] BOZHENG001 commented on #23225
@joerchan Yes, I am making a master application. In BLE stack, only master devices are allowed to update channel map, so I am doing all the procedures in master devices.

[2020-03-10 09:14] jhedberg commented on #21253
Next release's checklist is here: https://github.com/zephyrproject-rtos/zephyr/issues/22637

[2020-03-10 09:30] tbursztyka commented on #23347
@rlubos I am also fine with these changes (see below for details). However, do each and every changes iteratively (don't mix promiscuous and pan coordinator for instance, have one patch for each), also for each and every feature added: upgrade the drivers and the L2(s) as well.

- For the config stuff, I am not entirely sold on the get_config part. To me, the driver should respond to the L2 part w

[2020-03-10 09:36] ioannisg opened #23366 "ARM: Core Stack Improvements/Bug fixes for 2.3 release"
### ARM Architecture related issues tentatively scheduled for v2.3 release

**New features**
- [x] [ARM] Support CMSIS-DSP integration (#24307)
- [x] [ARM] Add semihosting console (#21073)

**Feature Enhancements**

- [x] [Enh. ARM Cortex-M] Move Core (Cortex-M) CMSIS in own repository
- [x] [Enh. Cortex-R] Refactor ARM interrupt system (Cortex-A & Cortex-R) (#22718)
- [x] [Enh. Cortex-R] CMSIS su

[2020-03-10 09:36] ioannisg commented on #21201
Closing this meta-issue; unfinished tasks moved to #23366

[2020-03-10 09:37] #21201 closed

[2020-03-10 09:43] jukkar commented on #23246
@xhpohanka I hopefully managed to fix the memory leak, can you try #23334 and report does it work for you.

[2020-03-10 10:06] sparkhead95 opened #23367 "GPIO - Add different callbacks per trigger type"
**Is your feature request related to a problem? Please describe.**
Taking buttons as an example - currently the user configures the GPIO port device with what triggers interrupts for the given GPIO pin, then adds a callback method for that pin using the callback structure.
If I want to detect button down and button up, I have to read the GPIO pin inside the callback to figure out what state the bu

[2020-03-10 10:18] #23226 closed

[2020-03-10 10:54] carlescufi commented on #23319
@mayankpatel17 were you able to reproduce with master?

[2020-03-10 11:13] cvinayak commented on #23364
Console log with reproduced with no callback assigned:
[code]

And the btmon log:
[btmon_20200310_nocb.log](https://github.com/zephyrproject-rtos/zephyr/files/4312029/btmon_20200310_nocb.log)

[2020-03-10 11:29] aleksmarcelo commented on #23353
I't seems the ssd1306 isn't right initialized in the ssd1306 / display driver. And the hardware (nrf51822) need some time to "wake up".
I am studying some zephyr driver implementation concepts to make a PR.

[2020-03-10 11:38] emob-nordic commented on #23337
@Which mcuboot verson have You used?

[2020-03-10 11:40] xhpohanka commented on #23246
Hello @jukkar. Thank you for the support. With your patches and `dumb_http_server_mt`  on `nucleo-f429zi`and default settings everything seems to run correctly. I'm not able to break it with `wrk`.
I also tried to increase the value of `NET_TCP_BACKLOG_SIZE` and it also works.
However next test with `NET_TCP_BACKLOG_SIZE=10` and `NET_SAMPLE_NUM_HANDLERS=8` (number of threads serving client request

[2020-03-10 12:07] optdcw commented on #23337
I will test it with the master branch until the end of the week.

I'm looking for using the dfu both inside mcu boot and in the user application to enable boatload during normal operations.
This issue was mainly in the user application.

[2020-03-10 12:10] #22679 closed

[2020-03-10 12:25] emob-nordic commented on #23337
What version of bootloader are You using?

[2020-03-10 12:49] #23346 closed

[2020-03-10 12:50] #23278 closed

[2020-03-10 12:53] #22348 closed

[2020-03-10 12:57] #20137 closed

[2020-03-10 12:58] #23153 closed

[2020-03-10 13:00] #21372 closed

[2020-03-10 13:03] lairdjm commented on #23346
There is still https://github.com/zephyrproject-rtos/zephyr/pull/23344 which needs to be merged (on the 1.14 branch)

[2020-03-10 13:07] #22158 closed

[2020-03-10 13:09] #23222 closed

[2020-03-10 13:12] jukkar commented on #23246
Tried the PR with this config with Atmel SAM-E70 (300 MHz, 2 MB flash, 384 KB SRAM):
[code]

[code]
Tried this with multiple times and results were consistent, did not see any memory leaks.

[2020-03-10 13:12] #21200 closed

[2020-03-10 13:26] jhedberg commented on #23346
I've added it to the "To-do" column of https://github.com/zephyrproject-rtos/zephyr/projects/19 so that it gets processed appropriately.

[2020-03-10 13:37] xhpohanka commented on #23246
Please try to increase `DCONFIG_NET_SAMPLE_NUM_HANDLERS`

For example my config (I had to decrease buffers count due to sram limitation)
[code]
results in
[code]
[code]

Or is increasing `DCONFIG_NET_SAMPLE_NUM_HANDLERS` wrong configuration?

[2020-03-10 13:52] optdcw commented on #23337
I'm using fw-nrfconnect-mcu boot, I think version 1.4.0

[2020-03-10 14:04] jukkar commented on #23246
Increasing num handlers to 8 got slightly better results, but not much. Best result out of 5 was this one
[code]
No leaks were seen. I will try with Nucleo F767zi next.

[2020-03-10 14:18] #22887 closed

[2020-03-10 14:20] pabigot commented on #23367
IMO the biggest problem with "trigger on both edges, sample in handler" is not the inconvenience but the inaccuracy: you don't know how the value read within the handler corresponds to the value that triggered the interrupt.  Consequently you can mis-identify the current state of the system.  My preferred solution is to trigger on a single edge, and within the handler reconfigure for the other edg

[2020-03-10 14:31] jukkar commented on #23246
There is something fishy with my nucleo board, the transfer rates are not that great.
[code]
Slightly better when having smaller number of connections
[code]
I did not see any memory leaks. I wonder why the numbers are so much smaller with this stm board.

[2020-03-10 14:40] ioannisg opened #23372 "arm: aarch32: spurious IRQ handler calling z_arm_reserved with wrong arguments' list"
**Describe the bug**
In (ARM) aarch32 architecture `z_irq_spurious()` is calling `z_arm_reserved()`; this is a problem for Cortex-M at least, due to the following reason:
- `z_arm_reserved()` is the fault exception handler and for Cortex-M it is supposed to get and deliver the LR (EXC_RETURN) to the `z_arm_fault()` function
- however, when z_irq_spurious() calls z_arm_fault(), it can not supply th

[2020-03-10 14:47] nandojve commented on #23347
I found by coincidence this topic and I would like comment two things:.

**Assyncronous TX**
When I implemented RF2XX driver I'm missed asynchronous TX behavior. Something like the upper layer start TX, driver program TX and immediate return. Then when radio finish TX a callback is executed passing only TX status, something like:
[code]
I believe L2 can benefit with that behavior and than any logi

[2020-03-10 14:51] tbursztyka commented on #23347
@nandojve isn't the proposed '**4. Event notification**' solving your asynchronous TX request?

[2020-03-10 14:54] sparkhead95 commented on #23367
Ah I didn't realise you could reconfigure the interrupt inside the interrupt handler! I suppose I can do that for now - I did notice that while testing it the current way, some results were inconsistent.

I know it's probably not my place to say but if we're both using workarounds for this, surely that deems it necessary?

[2020-03-10 14:55] ioannisg opened #23373 "ARM: Move CMSIS out of main tree"
## Introduction

This is a proposal to move the CMSIS out of the main Zephyr repository.

### Problem description

CMSIS is one of the two "hal" layers that are still part of the main Zephyr tree, residing inside the /ext folder.

### Proposed change

We would like to remove the ARM CMSIS "hal" layer from the /ext directory of the Zephyr main tree and instead, place it in a "hal" repository in the

[2020-03-10 14:56] ioannisg commented on #23373
FYI @galak @stephanosio @MaureenHelm @carlescufi @erwango

Is this something we should try to agree upon and do for v2.3 release?

[2020-03-10 15:04] #19763 closed

[2020-03-10 15:06] carlescufi commented on #23373
There was a "requirement" a while back that one should be able to build for qemu without any additional modules/repos. This is the reason we keep CMSIS in the tree. Perhaps @nashif can comment since I recall him being the one that first introduced this concept (which kind of makes sense to me as well).

[2020-03-10 15:06] xhpohanka commented on #23246
It looks that there is maybe some additional issue on stm32 platform. Unfortunately I do not have any other board to test now.
I checked stm32 Ethernet driver (or glue layer between HAL and zephyr) but I do not see any suspicious thing there. Also as far as I know stm32 works well with lwIP so I do not think that there is a bug inside HAL driver...

[2020-03-10 15:13] ioannisg commented on #23373
It is not documented, anywhere that we need to build QEMU without additional repositories (to the best of my knowledge, of course)

Anyway, this does not even hold, today, at least for qemu_cortex_m0 (Nordic) and qemu_cortex_m3 (TI) that, I believe, require vendor HALs.

[2020-03-10 15:16] carlescufi commented on #23373
Not for qemu_cortex_m3. The UART driver is in-tree.

[2020-03-10 15:22] ioannisg commented on #23373
Ah, OK. Are you sure this Soc/Board does not need TI HALs at all?

In any case the argument holds for the M0 Qemu

[2020-03-10 15:26] stephanosio commented on #23373
Unless there is something wrong with my current understanding of how things work, HALs (including CMSIS) need not reside in the main repository.

The first thing that CI does is to `west update` and this means that everything (including the to-be-modular-ised CMSIS) will get pulled before the CI builds tests and samples.

[2020-03-10 15:29] carlescufi commented on #23373
Yes, but the idea here was that downstream distros of zephyr that do not necessarily include those HALs can still run the qemu basic kernel tests.

[2020-03-10 15:29] carlescufi commented on #23373
Almost sure.

Right, but this is new.

[2020-03-10 15:30] nandojve commented on #23347
@tbursztyka, yes sure, I only reinforced what I saw and what can have like enhanced Tx mode and LPM. I'm perfectly fine with Event notification.

[2020-03-10 15:35] pabigot commented on #23367
It's extremely important to be able to reconfigure the interrupt within the handler.

Depends on how much you expect the OS to do for you.  One perspective is Zephyr should provide all the functionality necessary so applications can be written that will work on all platforms without modification. In that view a generic solution is useful.

Another is "I want the OS to provide me basic services and

[2020-03-10 15:46] jukkar commented on #23246
I did some testing and stm numbers are not good. I used identical configuration options with all the boards.

Board | Details | kb/sec
-- | -- | --
NXP FRDM-K64F | 120 MHz, 1 MB flash, 256 KB RAM | 262.52KB
Atmel SAM-E70 | 300 MHz, 2 MB flash, 384 KB RAM | 751.66KB
STM Nucleo F767zi | 216 MHz, 2 MB flash, 384 KB RAM | 95.70KB

Config in `samples/net/sockets/dump_http_server_mt`:
[code]
Host side:

[2020-03-10 16:06] #9994 closed

[2020-03-10 16:16] carlescufi commented on #23282
API meeting 10th March 2020

@mnkp:
- The watchdog as a peripheral is different from other regular ones
- Not possible to actually disable the watchdog with a Kconfig variable because of hw differences
- Today: unless you enable the `CONFIG_WATCHDOG`, the Zephyr watchdog subsystem leaves the watchdog untouched but some SoCs may disable it right after boot
- Types of hardware
  - Type 1: Watchdog i

[2020-03-10 16:21] #22541 closed

[2020-03-10 16:32] pfalcon commented on #23302
I personally never saw other TCP speed figures from Zephyr with frdm_k64f/any of qemu networking drivers. (Well, perhaps I saw 15KBytes/s, but you get the point.) I actually wanted to add dumping of download speed to `big_http_download`, but decided against that ;-).

[2020-03-10 16:42] Vudentz commented on #23364
It is probably due to this line:

`	return k_fifo_get(&free_tx, K_FOREVER);`

But I see it has been modified to follow the supervision timeout so it timeout problem, does that solves the problem or it still deadlocks after that?

[2020-03-10 16:48] stephanosio commented on #23373
Re: CMSIS

* CMSIS consists of many different components (e.g. Core, DSP, NN), and the current Zephyr EXT CMSIS only includes the CMSIS-Core component.
* CMSIS codebase, including all the applicable components, is quite large and converting it into a module is a reasonable approach to take.
* There is already a pending PR to add the CMSIS-DSP component (https://github.com/zephyrproject-rtos/zephyr

[2020-03-10 17:00] jfischer-phytec-iot commented on #23111
You still mix it up. The Endpoint Buffer Descriptor from usb_dc_sam0.c has nothing to do with the  USB Endpoint Descriptor, which is a part of USB Interface Descriptor and so on.

Correct is: the **SAM0 specific** **_Endpoint Buffer Descriptor_** is filled with zeros in dc_attach()

[2020-03-10 17:09] cvinayak commented on #23364
@Vudentz yes, its the K_FOREVER. My modifications where to identify where the deadlock was. Using a timeout releases the deadlock, but not sure if thats a solution or workaround. Using a timeout means the disconnect complete is delayed by that timeout, hence use of timeout is only a workaround.

[2020-03-10 17:27] Vudentz commented on #23364
We may actually have to introduce a timeout bt_conn_send_cb or somehow detect what is the supervision timeout, @jhedberg thoughts? But I wonder if during that we receive a disconnect from the remote side does the RX thread is unblocked? We may have to treat disconnect differently in order to handle this properly.

[2020-03-10 17:29] jhedberg commented on #23364
One proposal from @joerchan was to use `bt_recv_prio()` for the disconnect event, however that comes with its own issues related to ordering (you could receive packets for a connection after processing its disconnect).

[2020-03-10 17:30] pabigot commented on #20348
@carlescufi Why did you change the name of this?  I thought the original name was right (and this *is* the issue I considered the roll-up list).

[2020-03-10 17:41] galak commented on #4326
Basic support for PSOC6 is in zephyr.  Additional driver support would need to be provided by community members that have an interest.

[2020-03-10 17:41] #4326 closed

[2020-03-10 17:44] carlescufi commented on #6648
No longer relevant

[2020-03-10 17:44] #6648 closed

[2020-03-10 17:45] tannewt commented on #11918
I don't think a shell module is what we're looking for. @dhalbert and I work on [CircuitPython](https://github.com/adafruit/circuitpython) which already provides a user facing API for requesting that a set of pins perform a particular function. For example, our Python-level [I2C class](https://circuitpython.readthedocs.io/en/latest/shared-bindings/busio/I2C.html) simply takes in two pin arguments.

[2020-03-10 17:47] carlescufi commented on #4985
This is done

[2020-03-10 17:47] #4985 closed

[2020-03-10 17:49] Vudentz commented on #23364
Right and it might be importat data so we can't just discard, are there any other solutions on the table currently? Btw, we want to default BT_CONN_TX_MAX to BT_L2CAP_TX_BUF_COUNT + 1 to try to avoid blocking at bt_conn_send_cb.

[2020-03-10 18:00] #22910 closed

[2020-03-10 18:00] #22908 closed

[2020-03-10 18:03] #22911 closed

[2020-03-10 18:05] carlescufi commented on #18047
Covered by #18050

[2020-03-10 18:05] #18047 closed

[2020-03-10 18:05] carlescufi commented on #18046
Covered by #18050

[2020-03-10 18:05] #18046 closed

[2020-03-10 18:06] carlescufi commented on #18044
Covered by #18045

[2020-03-10 18:06] #18044 closed

[2020-03-10 18:38] nashif commented on #21093
covered with option to exclude ISRs for now.

[2020-03-10 18:38] #21093 closed

[2020-03-10 18:45] jhedberg commented on #23364
One idea that comes to mind is to split the disconnect processing into two parts: one that's safe to do in `bt_recv_prio()` (e.g. marking the TX path defunct, so that you can't send anymore but the connection can still receive packets), and another that's done in the normal RX thread (until which point you can process RX packets but not send anything, and here we finally set the disconnected state

[2020-03-10 18:49] jhedberg commented on #23364
Btw, my suggestion above is not so different from how other `bt_recv_prio()` handling is done: the all the existing handlers do is to release some resource (e.g. give a semaphore) which releases some other thread that does the "finalisation" or second stage of the event handling.

[2020-03-10 18:50] Oanerer commented on #23282
An additional platform specific feature I would like to point out: https://github.com/zephyrproject-rtos/zephyr/issues/20693.

For now the issue was 'fixed' for the SiLabs Gecko series by returning `-ENOTSUP` when both a reset and a callback function were requested. However, if the watchdog handling is overhauled, we might want to take a closer look at this as well?

[2020-03-10 18:51] nashif commented on #22441
@pabigot looks like this is caused by code you add in bc2ecad3639

[2020-03-10 19:17] MaureenHelm commented on #9962
Merged

[2020-03-10 19:17] #9962 closed

[2020-03-10 21:01] pabigot commented on #23353
I can't speak to why the display driver doesn't work, but:
* The BLE400 schematics clearly show SDA is P0.0 and SCL is P0.1;
* Continuity tests on the board confirm the P0.0 is connected to the pin labeled SDA on the I2C header;
* Plugging a Waveshare LSM303DLHC board into the BLE400 I2C header shows it works as intended.

So whatever the problem with SSD1306FB might be, the I2C pins are assigned

[2020-03-10 22:55] nashif commented on #23311
works fine for me:

[code]

I had a  3rd board that was misbehaving and failing to flash, once I removed it, things pass with no flashing issues. Can you check your board please?

[2020-03-10 22:55] #23311 closed

[2020-03-10 23:05] #22429 closed

[2020-03-10 23:06] #22441 closed

[2020-03-11 01:33] nandojve commented on #23347
I'm review pending issues and this #23193 reminds me that we need improve a way to provide MAC address.

[2020-03-11 03:55] chen-png commented on #23309
no, other boards are good.

[2020-03-11 06:10] chen-png commented on #23309
for acrn, I found that in monitor_serial function, when invoking ser.readline() to get the serial output, the returned line value couldn't be correctly matched in test harness handle function, so sanitycheck couldn't get the pass/fail result foo each test unit, causing the generated acrn.xml error.

[2020-03-11 06:11] chen-png commented on #23311
yes, i will have a try.

[2020-03-11 06:21] mayankpatel17 commented on #23319
Hi @carlescufi ,
Not tested with the master, but currently trying to reproduce with the 2.1.0 zephyr version which i had used earlier for the build. Tried 2 times with overnight testing but not able to reproduce the issue.
When i reported this issue, I had observed some UART console related errors in my board, then afterwards this Bluetooth related error started to came. So seems like issue was re

[2020-03-11 06:39] chen-png commented on #23309
the normal output should like this, **the serial should read line by line**.(i add a print to serial)

DEBUG   - DEVICE: ===========================================
line: ================================================
DEBUG   - DEVICE: starting test - test_fifo_cancel_wait
line: starting test - test_fifo_cancel_wait
DEBUG   - DEVICE: PASS - test_fifo_cancel_wait
line: PASS - test_fifo_cancel_wai

[2020-03-11 07:42] jukkar commented on #23246
Just fyi, I could replicate the memory leak in stm32f767zi by setting the net buf/pkt count low.

[2020-03-11 08:23] ioannisg commented on #23373
@carlescufi FYI there will be one more QEMU platform that will probably require external HAL (STM32) support; the Cortex-M4F: #23185.

[2020-03-11 08:26] #23360 closed

[2020-03-11 08:26] #23372 closed

[2020-03-11 08:30] stephanosio opened #23386 "SAM GMAC should support PHY link status detection"
**Is your enhancement proposal related to a problem? Please describe.**
The SAM GMAC driver does not currently support detecting and reporting changes in the Ethernet link status (carrier detection).

**Describe the solution you'd like**
Poll link status from the PHY and report changes through `net_eth_carrier_on` and `net_eth_carrier_off`.

NOTE: We are not using interrupts for link status change

[2020-03-11 08:39] jfischer-phytec-iot commented on #23337
Please provide information about host OS version. Does the sample samples/subsys/usb/dfu work for you?

[2020-03-11 08:40] trondhe opened #23387 "[Question] Why does not zephyr use a toolchain file with cmake as -DCMAKE_TOOLCHAIN_FILE=.. ?"
I just wondered why Zephyr does not use CMake's recommended way of cross-compiling by calling it with a toolchain file on the command line as

    cmake  -B buildfolder -S sourceFolder -GNinja -DBOARD=nrf52840_mdk -DCMAKE_TOOLCHAIN_FILE=somePath

but instead just use an include statement at the top of the project?
What is the motivation and arguments for/against doing it this way?

[2020-03-11 09:23] tbursztyka commented on #22545
@mbolivar Let's do it iteratively. First let's move level/prio setting to DTS, and only then we will be able to rework the level names etc... Much easier that way.

[2020-03-11 09:33] rlubos commented on #23347
Thank you all for the feedback,

@tbursztyka
I see your point on `get_config`. For us it was more of a nice-to-have feature for now as, just as you say, L2 can take responsibility of storing the configuration. Let's leave it as it is for now.

@nandojve
Async API feels more natural for us as well. Both nRF5 radio driver and OpenThread radio APIs are asynchronous, so right now we need a separate th

[2020-03-11 09:34] rlubos commented on #23347
@nandojve
As for the low power mode, isn't the existing `start`/`stop` enough?

[2020-03-11 09:49] tbursztyka commented on #23347
I guess it's ok to push changes without deprecating current API, or then it will quite painful.

Some devices does not support such async tx stuff. So depending on IEEE802154_HW_ASYNC_TX, l2 will have to know what to do (sync or async). You need to support both. Also, if a device supports async tx, it's because it can run the radio strategy by itself as well (aloha, csma-ca, etc...), such capabili

[2020-03-11 10:07] carlescufi commented on #23337
@optdcw if possible, could you verify that the issue is also present in Zephyr 2.2 (released yesterday)?

[2020-03-11 10:32] rlubos commented on #23193
I'm a bit confused, do we talk about setting the 802.15.4 Extended Address or the factory assigned EUI-64? Yes, in core 802.15.4 they're the same, but OpenThread, for instance, differentiates them. Given the last comment from @markus-becker-tridonic-com I get an impression we talk about EUI-64, but just wanted to clarify.

In the case of the former, most (if not all) of the drivers use `filter` AP

[2020-03-11 11:06] pabigot commented on #21677
Marked ignored in Coverity with this comment:

The required argument type is std::size_t rather than ::size_t, which may be what Coverity is diagnosing.  This particular module is built only when we don't have libcxx, so can't switch to <cstdlib> or <cstddef> which would provide the proper name.

Assume that no toolchain will use a different type for C's size_t than it does for std::size_t and ign

[2020-03-11 11:06] #21677 closed

[2020-03-11 11:06] pabigot commented on #21675
Marked ignored in Coverity with this comment:

The required argument type is std::size_t rather than ::size_t, which may be what Coverity is diagnosing.  This particular module is built only when we don't have libcxx, so can't switch to <cstdlib> or <cstddef> which would provide the proper name.

Assume that no toolchain will use a different type for C's size_t than it does for std::size_t and ign

[2020-03-11 11:06] #21675 closed

[2020-03-11 11:26] carlescufi commented on #23387
One of the requirements when we transitioned from make/Kbuild to CMake was to be able to do something like:

`cmake -GNinja -DBOARD=<board> ..`

and everything should magically work. Now that west is so pervasive we could reconsider this.

[2020-03-11 11:29] trondhe commented on #23387
In my experience it couples the sdk harder into the project using it more than necessary. A bit of the same error Nordic made with their mesh sdk, though zephyr has implemented it in a much nicer way.

Zephyr seems to be nicely laid out to be able make this change as everything is built as libs and linked in to a final product.

[2020-03-11 11:50] SebastianBoe commented on #23387
When migrating to CMake, we were competing against a CLI that looked like:

make

To be competitive, we could not require users to specify the toolchain file on every CMake invocation. Note that west did not exist at the time.

[2020-03-11 12:08] kkiyota opened #23393 "ELF file size with code coverage functions is more than FLASH space"
**Is your enhancement proposal related to a problem? Please describe.**

In case that I enabled CONFIG_COVERAGE=y as shown below, error occurred because ELF size was increased a lot compared to disabling CONFIG_COVERAGE which is 26208 B.

           FLASH:      217176 B       128 KB    165.69%
            SRAM:      113068 B       832 KB     13.27%
        IDT_LIST:         216 B         2 KB

[2020-03-11 12:17] carlosedp opened #23395 "UART Console input does not work on SiFive HiFive1 on echo sample app"
**Describe the bug**

The UART (serial) console does not work on the SiFive HiFive1 board (tested on the physical board and [Renode Simulation Framework](https://renode.io)).

I've built the `echo` [sample](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/subsys/console/echo) application, loaded to the board and simulator and it does not print to the console by using the `console_w

[2020-03-11 12:18] tejlmand commented on #23387
I don't see @trondhe requesting us to remove this feature.
He is just asking that it is also possible to simple use a CMake Toolchain file, for users prefering this.
And to experienced CMake users, I think it is valuable if we consider how both principles can be supported, with Zephyr recommending the current solution.

[2020-03-11 13:01] jukkar commented on #23246
Hopefully I managed to nail the nasty net buf leak, basically if the device is flooded with incoming packets, then the tx timer in tcp could trigger and we then tried to send the packet second time even if the previous msg was still pending in TX queue. This caused a memory leak which was only seen if the device is very busy. @xhpohanka can you try the latest version of the PR and report status.

[2020-03-11 13:21] pabigot commented on #18422
Closed as false positive with this comment:

All invocations of `telnet_send()` that succeed clear the buffer `len` field to zero.  In the problematic code `lb->len` aliases to this field.

Step 18 is reached by a path where `lb->len == 80` but the success of telnet_send() checked at step 19 ensures that `lb->len` was zeroed, so the detection at step 22 of an access via `lb->len` at offset 80 appe

[2020-03-11 13:21] #18422 closed

[2020-03-11 13:21] trondhe commented on #23387
Yes and no I guess.
If the final implementation that supports both including it with `include($ENV{ZEPHYR_BASE}/cmake/app/boilerplate.cmake NO_POLICY_SCOPE)` and as a direct toolchain file on the CLI is inferior to a solution that is exclusive or, then a decision should be made.

If however supporting both ways plays out well both in as interface for users and maintainability, then that is of cour

[2020-03-11 13:36] nashif commented on #23387
IMO we should reconsider this and add support for toolchain files, IMO this is orthogonal to west and should be kept orthogonal to west. Integration with toolchains that already support CMAKE and integration with IDEs that expect a toolchain file makes this necessary. Ease of use with support toolchains and zephyr SDK is a nice thing, but we cant expect every toolchain to be added the same into Ze

[2020-03-11 13:39] nashif commented on #22622
@chen-png  please follow up

[2020-03-11 14:07] nashif commented on #23393
which board is that?

[2020-03-11 14:11] kkiyota commented on #23393
@nashif It's my custom board.

[2020-03-11 14:12] nashif commented on #17775
@albertofloyd @dcpleung @franciscomunoz  can you please look it that? it seems part of it was already addressed?

[2020-03-11 14:13] #23207 closed

[2020-03-11 14:17] nashif commented on #23117
based on comment from @vanti, not a bug.

[2020-03-11 14:17] #23117 closed

[2020-03-11 14:31] nashif commented on #22996
this script predates all the pyelftool magic we added, agree it should use the same infrastructure we have already...

[2020-03-11 14:33] SebastianBoe commented on #23387
A prototype that proves that supporting toolchain files will make integration easier is welcome.

But until proven otherwise I am sceptical and would not recommend investing time into this.

[2020-03-11 14:36] nashif commented on #21701
Fixed by #23326

[2020-03-11 14:36] #21701 closed

[2020-03-11 14:37] xhpohanka commented on #23246
I have tried all previous test and they are working correctly with latest PR. I was able to stress my targets so that there were no free buffers
[code]
and it is recovering from such state without no problem.

[code]

Let's hope that leaks are gone :)

[2020-03-11 14:59] mrfuchs commented on #23386
Is this a duplicate of #16096?

[2020-03-11 15:18] nashif commented on #14122
no response.

[2020-03-11 15:18] #14122 closed

[2020-03-11 15:20] carlescufi commented on #20348
Because I wanted something descriptive for the Release Plan project. Hence also why I asked @galak to move your comment to wherever it is appropriate.

[2020-03-11 15:27] carlescufi commented on #23282
Thanks for bringing this up. I will add it to the requirements.

[2020-03-11 15:31] nashif commented on #21848
latest list:
[code]

[2020-03-11 15:36] nashif commented on #18386
this is marked fixed in coverity with comment

"Source code is not available because it has been purged."

[2020-03-11 15:39] carlescufi commented on #16809
@jukkar could you update the description with any progress made in the last couple of months?

[2020-03-11 16:14] stephanosio commented on #23386
It is indeed a duplicate of #16096 🤦‍♂

[2020-03-11 16:25] jukkar commented on #23246
The very bad performance could be explained (at least partially) by the small amount of network buffers available. If the device just cannot handle the req, the data is dropped. The wrk tool is really stress testing the device as it floods the system with constant stream of http requests. I got a bit better performance values with apache bench tool, not sure which tool is right and how the values

[2020-03-11 16:49] erwango commented on #22078
@ioannisg any opinion on this ?

[2020-03-11 16:50] erwango commented on #21899
@yasokada Did changing SPI_SCK pin speed changed anything to your issue ?

[2020-03-11 17:12] nashif commented on #13651
@vonhust  can you please take a look at this?

[2020-03-11 17:14] nashif commented on #14520
@pdunaj  Is this still an issue? Can you reply to comments above?

[2020-03-11 17:15] nashif commented on #14520
@carlescufi  fyi

[2020-03-11 17:16] nashif commented on #11745
@nordic-krch  ping

[2020-03-11 17:22] nashif commented on #15202
no update for a while, not sure this is a bug, numbers change all the time.

[2020-03-11 17:22] #15202 closed

[2020-03-11 17:23] nashif commented on #15449
board not part of zephyr anymore

[2020-03-11 17:23] #15449 closed

[2020-03-11 17:28] nashif commented on #15680
Backport label still exists and is correctly documented. The 'backport v1.14 branch' is currently not working, so it would be documented once it is fixed. We might use a different approach, so closing this as it is not relevant anymore.

[2020-03-11 17:28] #15680 closed

[2020-03-11 17:31] nashif commented on #16237
@jhedberg , @erwango  is this still relevant?

[2020-03-11 17:32] pfalcon commented on #23246
I wouldn't agree that the amount of network buffers we have by default (now) is small. To remind, I advocated for another approach: to test (and get working) stuff with as little as possible number of buffers. That would expose many deadlocks/softlocks we have. Then we indeed can throw in more buffers, and everything would "just work" (more perfomantly, apparently).

I proposed to standardize on A

[2020-03-11 17:34] nashif commented on #5857
No updates for almost 2 years, does not seem important for anyone? @jukkar

[2020-03-11 17:36] nashif commented on #11149
@jhedberg  ping.

[2020-03-11 17:38] nashif commented on #15343
cant reproduce.

[2020-03-11 17:38] #15343 closed

[2020-03-11 17:38] pfalcon commented on #5857
The issues described here are (IMHO) the root cause of things like https://github.com/zephyrproject-rtos/zephyr/issues/23302. It seems like more people only now start to play with Zephyr networking and raise concerns.

[2020-03-11 17:39] nashif commented on #16649
code now has:
[code]

[2020-03-11 17:39] #16649 closed

[2020-03-11 17:42] nashif commented on #18425
marked as fixed in coverity with comment: "Source code is not available because it has been purged."

[2020-03-11 17:42] #18425 closed

[2020-03-11 17:55] nashif commented on #12264
1c4177d10f7 changed signal_poll_event and removed _is_thread_timeout_expired, so this issue is not valid anymore.

[2020-03-11 17:55] #12264 closed

[2020-03-11 18:05] aleksmarcelo commented on #23353
That's weird ! Mine works only if you invert the pins.

The display works, but it seems the nrf51822 need some extra time to start the i2c bus, so you need to put a delay at the beginning and and send send by some  i2c commands to activate the oled display.

[2020-03-11 18:11] pdunaj commented on #14520
Hi @nashif , to be honest I am not sure if it is still replicating. I am not sure what happened in the bug - I suspected that maybe  this was caused by the "simulated system off in debug mode".
I may try to check but this was a very low priority issue for us as we have no actively used configuration with shell enabled. I will try to add a comment within a week or two.

[2020-03-11 18:11] pdunaj commented on #14520
Hi @nordic-krch , do you know if shell handles switch to deep sleep well?

[2020-03-11 18:12] jhedberg commented on #11149
@nashif I don't have any update on this one. I wonder if we could assign I to those who insisted on keeping BR/EDR support in the tree when we proposed to remove it.

[2020-03-11 18:13] jhedberg commented on #11149
..or then just close it since it hasn't been definitely proven that it's a bug

[2020-03-11 18:21] tbursztyka commented on #22545
Too complicated. It would be just easier to always let DTS generate the right label/prio for each and every device. And up to maintainers to switch to these DT generated macros instead of hardcoded/Kconfig values.

OR even better: do nothing until we get DTS based device instantiation (via code generation etc...). That will be way much easier at it will require only to mess a bit with DTS and that

[2020-03-11 19:18] #13468 closed

[2020-03-11 19:19] #14749 closed

[2020-03-11 19:32] nashif commented on #17324
Closing, can't reproduce.

[2020-03-11 19:32] #17324 closed

[2020-03-11 19:34] nashif commented on #18435
marked as fixed in coverity.

[2020-03-11 19:34] #18435 closed

[2020-03-11 19:38] nashif commented on #19487
can reproduce on qemu_x86_64, also, qemu_x86_long is gone.

[2020-03-11 19:38] #19487 closed

[2020-03-11 19:40] mbolivar commented on #22545
I'm happy to get rid of levels and just let hardware dependencies get managed by DT.

I think software dependencies could be managed entirely in software, though, e.g. by letting system initialization functions declare the devices they need set up before they run, rather than mixing software into DT.

[2020-03-11 19:46] tbursztyka commented on #22545
No, you cannot do that: the array of device should be fully in rom and not reshuffled at run-time. That would be a regression in term of memory usage. Current situation is already not the best, that would just get things worse.

[2020-03-11 19:58] nashif commented on #20491
marked in coverity as fp, closing.

[2020-03-11 19:58] #20491 closed

[2020-03-11 19:59] nashif commented on #20492
marked as fp, clsoing

[2020-03-11 19:59] #20492 closed

[2020-03-11 20:01] nashif commented on #20873
marked as fixed in coverity

[2020-03-11 20:01] #20873 closed

[2020-03-11 20:01] nashif commented on #20874
marked as fixed in coverity

[2020-03-11 20:01] #20874 closed

[2020-03-11 20:02] nashif commented on #20875
marked as fixed in coverity

[2020-03-11 20:02] #20875 closed

[2020-03-11 20:02] mbolivar commented on #22545
I never said anything about RAM or ROM. You are making assumptions.

[2020-03-11 20:11] nashif commented on #20876
dismmised in coverity

[2020-03-11 20:11] #20876 closed

[2020-03-11 20:12] nashif commented on #17135
duplicate of #20980

[2020-03-11 20:12] #17135 closed

[2020-03-11 20:22] nashif commented on #22777
looks like a duplicate of #22780

[2020-03-11 20:22] #22777 closed

[2020-03-11 20:22] #22909 closed

[2020-03-11 20:26] andrewboie commented on #21068
the comment is correct. devices specified in this way will not be assigned to a subsystem API and will not be registered as kernel objects.

[2020-03-11 20:26] #21068 closed

[2020-03-11 21:56] jukkar commented on #23184
Thanks for the example! Would you be able to submit a sample app to `samples/net/clould/` for this so that it would be available also as a part of zephyr?

[2020-03-11 21:59] jukkar commented on #16809
I need to pass this req to the source, @ozhuraki could you update the description about what has been done and what is still missing.

[2020-03-11 22:10] jukkar commented on #14571
This is an old issue and it talks about problems when sending data so just fyi atm. I fixed several issues when receiving lot of incoming data in #23334 and it might show improvements in the sending side too.

[2020-03-11 22:13] jukkar commented on #5857
I fixed several issues for TCP in #23334 that might actually help with this issue.

[2020-03-11 22:14] aleksmarcelo commented on #23353
Hi @pabigot,
have you tried any I2C code using the ble400?

[2020-03-11 23:35] yasokada commented on #21899
@erwango

I don't think so, but this weekend, I will check this.

[2020-03-11 23:42] pabigot commented on #23353
Yes, I've done a lot with it.  Multiple sensors and the LSM303DLHC I used to verify the pin assignment is correct.  I do have some Waveshare OLED displays that worked fine in my own framework, don't remember whether I ever tried Zephyr with them.

[2020-03-12 01:04] cvinayak commented on #23280
@ChristianHirsch Any updates? Please use latest BlueZ and compatible tools, also latest Zephyr upstream master and revert back (I have been using hci_usb on my virtual machine for the last one week, scanning and making simultaneous connections using bluetoothctl, and not encountered any issues)

Alternatively, you could build hci_usb with CONFIG_BT_LL_SW_LEGACY=y in the latest upstream master bran

[2020-03-12 01:09] aleksmarcelo commented on #23353
So, the problem seems to be deeper.
Couldnt  it be a problem in the I2C  pin assignment in the I2C initializer  ?

[2020-03-12 01:16] #17775 closed

[2020-03-12 01:42] nashif commented on #15181
stale issue

[2020-03-12 01:42] #15181 closed

[2020-03-12 06:00] nordic-krch commented on #11745
error handling has been reworked by @andrewboie and `LOG_PANIC` is now called in `k_sys_fatal_error_handler`. It seems to me that this function is called only on unrecoverable error?@andrewboie can you confirm? If yes then issue can be closed.

[2020-03-12 07:24] pfl commented on #21068
If the comment is correct then the text looks wrong and needs an update - or did I miss something, like an update to the documentation...?

[2020-03-12 07:47] Aukstkalnis commented on #23349
Ok. Thanks.

Now I am trying to attach drivers. But I down understand how to do it. I aplication developement example "out_of_ tree_driver" shows how to define driver that is not related to soc. But I need to define GPIO, Clock, Pinmux, etc. that are soc's setup. Do I need to use some principal as external module? Maby it will be more clear if i just show you what I am trying to do :) https://gith

[2020-03-12 08:14] ChristianHirsch commented on #23280
@cvinayak Unfortunately not. I'm already running the `hci_usb` sample of Zephyr 2.2.0, but with no result. I'll try the sample with the config you mentioned though.

Do you have a script for bluetoothctl that you use for connecting and reading characteristics? Unfortunately, I'm a little bit lost with bluetoothctl.. It does not show me all the available services and characteristics of the `periphe

[2020-03-12 08:22] erwango commented on #16237
@nashif I was planning to test this in coming weeks.
So if no urgency, let's keep it open few weeks more.

[2020-03-12 08:40] markus-becker-tridonic-com commented on #23193
Sorry for the confusion. It was about the factory assigned EUI-64. Not all radio devices have this in silicon, e.g. RF233 requires another chip connected via I2C to provide the EUI-64 (AT24MAC402) or a custom method to provide your own EUI-64 from your own OUI range.

This would be a first step, but even in the case of hardware specific there might be a need to be able to override the mechanism. A

[2020-03-12 09:21] chen-png opened #23414 "tests/benchmarks/timing_info failed on mec15xxevb_assy6853 board."
**Describe the bug**
Running tests/benchmarks/timing_info on mec15xxevb_assy6853 board,  the test result is incorrect, for example, the "Clock Frequency is 0 MHz".

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck --hardware-map ~/mec1.yml --device-testing -T  tests/benchmarks/timing_info
2. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-219-

[2020-03-12 09:37] stephanosio opened #23415 "gen_defines does not resolve symbol values for devicetree.conf"
**Describe the bug**
`scripts/dts/gen_defines.py` does not resolve symbol values for `devicetree.conf`.

For instance, we have:
[code]
when it should be:
[code]

**To Reproduce**
Build any project and take a look at `zephyr/include/generated/devicetree.conf`.

**Impact**
Kconfig functions such as `dt_int_val` and `dt_hex_val` fail.

**Additional context**
https://github.com/zephyrproject-rtos/zeph

[2020-03-12 09:37] stephanosio commented on #23415
cc @mbolivar @galak

[2020-03-12 10:24] #16330 closed

[2020-03-12 10:30] #2585 closed

[2020-03-12 10:34] #23353 closed

[2020-03-12 11:19] swapnabulbule opened #23418 "Building hello_world failed"
I have followed steps as per guid https://docs.zephyrproject.org/latest/getting_started/index.html#
Until step 6, building the application,receiving error.
OS: Ubuntu 18.04

1) export ZEPHYR_TOOLCHAIN_VARIANT=zephyr
export ZEPHYR_SDK_INSTALL_DIR=/home/swapna/Documents/Workspace/Zephyr_ESP

west build -p auto -b esp32 samples/hello_world
-- west build: build configuration:
       source directory:

[2020-03-12 11:34] jdascenzio opened #23419 "posix: clock: No thread safety clock_[get/set]time"
Hi,
Posix specify that clock_settime and clock_gettime are Multithread safe. However, the global variable rt_clock_base could be get/and set at the same time without protection... Is that normal?

[2020-03-12 12:02] nandojve opened #23420 "PPP management don't build"
**Describe the bug**
samples/net/gsm_modem with CONFIG_NET_L2_PPP_MGMT=y don't build.

**To Reproduce**

1- With configuration and overlay from ee5bf09c2106065623d46069c4804f0ae7e73c0a
2- Add `CONFIG_NET_L2_PPP_MGMT=y` on configuration
3- `west build -b sam4e_xpro samples/net/gsm_modem`

**Screenshots or console output**
[code]

**Environment:**
 - Debian 10
 - Zephyr SDK 0.11.2
 - mainline versio

[2020-03-12 12:03] nandojve commented on #23420
@jukkar

[2020-03-12 13:39] rajputh54 commented on #22860
Thanks for the detailed clarification.

Yes we are looking for this as well.
So will refer to #7331

[2020-03-12 13:39] #22860 closed

[2020-03-12 13:55] yasokada commented on #21899
@erwango

I set up the environment as of Jan 14, 2020.

I can check the behavior changing SPI_SCK.
How can I change SPI_SCK?
at <board>.overlay file (spi-max-frequency = <24000000>) ?
or in other way?

`&spi2 {
        status = "okay";
        cs-gpios = <&gpioh 6 0>;

        sdhc0: sdhc@0 {
                compatible = "zephyr,mmc-spi-slot";
                reg = <0>;
                status = "o

[2020-03-12 14:09] md-jamal commented on #23184
Do we have any documentation on how to submit?

[2020-03-12 14:33] FRASTM commented on #21899
for testing in the `boards/arm/stm32f769i_disco/pinmux.c` could have
{STM32_PIN_PA12, STM32F7_PINMUX_FUNC_PA12_SPI2_SCK |
 STM32_OSPEEDR_VERY_HIGH_SPEED},

[2020-03-12 14:49] n3rd4i opened #23423 "Mitigation in case system [created] threads hang/non-responsive"
**Describe the bug**
System [subsystem] created threads like: "BT RX pri" or "BT TX", etc, don't have a mitigation in place for checking "health" so that system could recover from that.

**To Reproduce**
see [23364](https://github.com/zephyrproject-rtos/zephyr/issues/23364)

**Expected behavior**
Ideally, a way to ~~"recover"~~ trigger user-defined handler after detecting ~~"future" situations~~ n

[2020-03-12 14:57] endian-benjamin opened #23424 "DTLS connection ID"
See the RFC at https://datatracker.ietf.org/doc/draft-ietf-tls-dtls-connection-id/

This seems like it would be really simple to implement in the TLS socket layer in Zephyr, basically just requires extending the `setsockopt` options. mbedTLS already supports it. Californium supports it on the server side.

Is this on the roadmap? Would be good to know before I start hacking on it myself.

[2020-03-12 15:11] carlescufi commented on #23423
The general solution here would be to "kill" unresponsive threads, but honestly I am not sure how that would improve the actual situation. Perhaps we could just reset the system in that case instead.

[2020-03-12 15:29] steros76 opened #23425 "Remote opencd"
I use Raspberry PI as programmer for NRF 52832 chips.
Now I installed Zephyr on my PC and switched my project to this platform.
I see openocd is supported by Zephyr but it seems to me only for local use.
Is there a way to automate deployment with west tool using opencd listening on remote 4444 port of my Raspberry?
Thanks.

[2020-03-12 15:36] rlubos commented on #23424
Not on the roadmap and contributions are welcome :) It sounds reasonable to allow Connection ID to be configurable as a secure socket option.

One note though, it seems to be supported since mbedTLS 2.18.0, in Zephyr we currently have mbedTLS 2.16.4. So mbedTLS version bump would be needed first.

[2020-03-12 15:54] nashif commented on #22780
I am having hard time reproducing or understanding the issue above, if I run sanitycheck on the same set of boards all work as expected:

[code]

[2020-03-12 16:05] Aukstkalnis commented on #23349
I managed to fix problems with DTS, at least for now. Now I am stuck with SOC drivers... I am not sure where they should be placed and how to address them as if they where in $ENV{ZEPHYR_BASE}/drivers directory.

[2020-03-12 16:05] nashif commented on #23418
[code]

You are not using the right toolchain, please follow the documentation.

[2020-03-12 16:05] #23418 closed

[2020-03-12 16:50] andrewboie commented on #23423
You need to be a lot more specific about what you want. As it stands this ticket is too vague.

[2020-03-12 16:53] andrewboie commented on #11745
With the invocation of LOG_PANIC() moved to k_sys_fatal_error_handler(), I agree.

[2020-03-12 16:53] #11745 closed

[2020-03-12 16:56] sslupsky commented on #21114
@andyross Regarding the kernel function sys_power_save_idle(), I have a question regarding the need to call set_timeout().  The next timeout is set when z_clock_announce() is called when the rtc causes the idle exit.  If another interrupt causes idle exit then I do not think that will cause a problem.  So, it seems redundant to call it again here?

Is the only reason to call set_timeout() here is

[2020-03-12 17:01] swapnabulbule commented on #23418
Can I know which toolchain are using?

[2020-03-12 17:02] #21469 closed

[2020-03-12 17:42] kkiyota commented on #23393
Any idea how I can minimize ELF file size?  Or move it to specific area?

[2020-03-12 18:22] n3rd4i commented on #23423
I've updated the ticket.

Also `K_ESSENTIAL` cannot be set for these threads since they are defined by the OS.

Could future releases include API to say: `k_thread_options_set` like `K_ESSENTIAL` on runtime?

[2020-03-12 19:18] andrewboie commented on #23423
And how exactly does one detect this non-responsive / deadlocked situation? To me it seems there would need to be custom logic for every thread covered in this way.

[2020-03-12 19:34] joerchan commented on #23423
I have never tried them, but there are watchdog drivers for many SoCs. Could they be used?

[2020-03-12 19:37] nashif commented on #21820
taking a stab on this now

[2020-03-12 21:18] #21706 closed

[2020-03-12 21:32] nashif commented on #22545
those are used for a few other things, not only device drivers. We have kernel init functions that use those init levels as well, so removing this is not an option.

Also note that there are 2 different priority levels, there is the main section or stage which then has multiple priorities. I think we need to figure out the order in the second level based on DTS and keep the  PRE_KERNEL_1, PRE_KERN

[2020-03-13 01:49] albertofloyd opened #23432 "Add PECI subsystem user space handlers"
PECI subsystem requires to implement PECI handlers when CONFIG_USER_SPACE is used.

[2020-03-13 03:42] songmaotian commented on #22452
I have same problem，I open the can Log，and it's seems because it's doesn't get 11 recessive bits on the bus to leave sleep mode

[2020-03-13 05:40] chen-png commented on #22780
thanks.  i will check my test environment.

[2020-03-13 07:38] jukkar commented on #23184
See zephyr documentation for info https://docs.zephyrproject.org/latest/contribute/index.html?highlight=submit

[2020-03-13 07:59] erwango commented on #21899
@FRASTM

{STM32_PIN_PA12, STM32F7_PINMUX_FUNC_PA12_SPI2_SCK |
STM32_OSPEEDR_VERY_HIGH_SPEED},

Since this seem to be a magic, solution for a number of cases,
can you push this change upstream (extended to whole series )?

[2020-03-13 08:04] erwango commented on #22452
@songmaotian

Can you open a new issue? Please provide as much as possible information on your environment and application.

[2020-03-13 08:25] mfiumara commented on #23423
It's not easy to detect non-responsiveness / deadlocks, however, we could deduct from some thread information in the application and act on it. Some thread info that is currently not available (as far as I know) that could be used for this is the amount of time a thread has been in it's current (blocking) state.
Another solution would be being able to providing a thread some kind of "hook" wheneve

[2020-03-13 08:47] xhpohanka commented on #23246
Just another note to speed. Even if `big_http_download` sample is still slow for me, last patches fixed very slow upload in my application. It was a case when a binary file is sent into zephyr board through http POST request (firmware update).

[2020-03-13 09:52] ioannisg commented on #22078
@tagunil (FYI @erwango)
The interrupt masking you proposed above has the following effect: the system wakes up _before_ the ISR is executed. This is needed, in general, if we wish to execute code _after_ the system is woken up by the interrupt, but _before_ the ISR interrupt is executed. In the case of Zephyr ARM's arch_cpu_idle() there is nothing executed after wfi (the function simply returns) s

[2020-03-13 10:02] ioannisg commented on #11261
@mnkp could you please clarify:

Does this concern arch_cpu_idle() for ARM, as well, and if so, why?

[2020-03-13 10:04] nordic-krch opened #23435 "Missing documentation for macros in util.h"
Some macros in util.h are missing proper doxygen documentation. It should be improved there.

[2020-03-13 10:10] ioannisg commented on #11261
BTW, the posted comment from the user-guide does not mean that this is the only way for the WFI to work. That is, setting PRIMASK to 1 before WFI is not mandatory. This is only to be able to execude code _after_ WFI but _before_ the ISR.

[2020-03-13 10:13] #22264 closed

[2020-03-13 11:39] yasokada commented on #21899
@FRASTM @erwango

I tried the magic solution.
Partly success, but failed in others.
The following is the serial output.

*** Booting Zephyr OS build zephyr-v2.1.0-868-gf014eeeb89fc  ***
	[00:00:00.005,000] <inf> spi_ll_stm32: CS control inhibited (no GPIO device)
	Sector size 512
	Memory Size(MB) 1876
	Disk mounted.

	Listing dir /SD: ...
	[DIR ] SYSTEM~1
	[DIR ] SOMEDIR
	[FILE] HOGEHOGE.TXT (size

[2020-03-13 12:06] johnsmithecon opened #23438 "Cannot reset Bluetooth mesh device"
**Describe the bug**
I am only able to reset the bluetooth mesh device by calling bt_mesh_reset(); in the main() function right after calling bt_ready();
This means that when I try to reset the device by calling bt_mesh_reset(); from a callback function for example that is not in main.c, the node does not reset. I can verify this by provisioning a node using a bluetooth mesh app then scanning for

[2020-03-13 12:21] carlescufi commented on #23423
A watchdog is global and will reset the whole system. I assume @n3rd4i wants a single thread or subsystem to be restarted, microkernel-style.

[2020-03-13 12:25] joerchan commented on #23292
@trond-snekvik @jhedberg
I rewrote the issue to be an enhancement instead of a bug report as well. And created #23440
I have heard about one use-case for this, but haven't had a request for zephyr yet.

[2020-03-13 13:28] henrikbrixandersen opened #23441 "RFC: API change: Add I2C bus recovery API"
## Introduction

Add API for recovering an I2C bus. This API can be used to recover from situations where the I2C master and one or more I2C slaves are out of synchronisation.

### Problem description

Synchronisation loss can occur e.g. if the I2C master was reset in the middle of an I2C transaction (watchdog timeout, for instance) or if a noise pulse was induced on the SCL line.

### Proposed ch

[2020-03-13 13:32] henrikbrixandersen commented on #23441
There are many sources for more background information on the I2C synchronisation issue. See e.g. https://community.nxp.com/thread/316813#comment-882281 which explains it very well.

[2020-03-13 13:33] LeiW000 commented on #23414
The reason why some benchmark results in thetest cases is "0" is that "RTOS" Timer is used to calucate elapsed time. But "RTOS" timer is operated on 32kHz oscillator(Please refer to section 22 in the data sheet). It is impossible to reach "ns" precision with it. However, CPU core on the board runs on 48MHz.

We can enble the high percision timer (16/32 BIT BASIC TIMER--refer to section 19 in the d

[2020-03-13 13:55] erwango commented on #21899
@yasokada

To me this seems different from the error you faced previously. Can you check if you're receiving 0x01 on CMD0 ?

[2020-03-13 14:08] aleksmarcelo opened #23443 "esp32 needs i2c_transfer call to turn on the display"
**Describe the bug**
Hello folks,
i am learning how Zephyr works making a lot of tests in different boards and i think i got some sort of bug or incomplete code. The esp32 MCU is needing a call to the i2c_transfer function to turn on the OLED display. The samecode without the i2c_transfer works in a nrf51822.

**To Reproduce**
wiring an oled display to the i2c pins and using the code below:
[code]

[2020-03-13 14:25] jhedberg commented on #23438
From the Slack discussion it sounded like you're using timer callbacks (i.e. k_timer). Those callbacks are in interrupt context, which I'm not surprised doesn't work well together with bt_mesh_reset(). I'd suggest you instead use the k_delayed_work API so that your callback is scheduled in thread context rather than interrupt.

[2020-03-13 14:36] sslupsky opened #23444 "drivers: hwinfo: shell command "hwinfo devid" output ignores endianness"
**Describe the bug**
When using the "hwinfo devid" shell command to display the device id, the command outputs the device id but the bytes of each word comprising the ID appear to print in the wrong order.  I believe this is because the print statements do not appear to consider endianness.

**To Reproduce**
Steps to reproduce the behavior:
Compile app with CONFIG_HWINFO and CONFIG_HWINFO_SHELL

S

[2020-03-13 14:45] sslupsky commented on #21233
@jhedberg I have a PR pending to address this and several other issues with the sam0 i2c driver.  The reason this has taken quite some time to resolve is the inter relationship with the low power modes of the sam0 and the rtc_timer driver.  I've addressed both and will submit PR's soon.

BTW, this is a pretty serious issue.  I2C is pretty much unusable on sam0.

[2020-03-13 15:21] carlescufi commented on #23443
@aleksmarcelo would you mind sending a Pull Request to fix this?

[2020-03-13 15:55] jhedberg commented on #21253
Closing since all items have been completed (blog post text was just sent to the marketing team)

[2020-03-13 15:55] #21253 closed

[2020-03-13 16:21] aleksmarcelo commented on #23443
Hello @carlescufi, i am involved in a huge system and  all the staff is analyzing to make the MCU development using Zephyr as framework, but  we are at the beginning, so i will need some time to have all the knowledge involved .

We have read all the documentation on site, but it is not sufficient to understand all Zephyr internals.

Would you recommend any other good document ?

[2020-03-13 16:50] andrewboie opened #23448 "better Kconfig ontology for thread stack debugging"
In order to get the best output from the "kernel stacks" shell command, you need to have several Kconfigs turned on:

CONFIG_INIT_STACKS - to set up the stack buffers so measurements can be taken
CONFIG_THREAD_MONITOR - to be able to iterate over all threads
CONFIG_THREAD_STACK_INFO - to be able to get a reference to the stack object and its metadata from a thread object
CONFIG_THREAD_NAME - to be

[2020-03-13 17:22] andrewboie commented on #13637
Working on this now. It's a heavy lift for a few reasons but this is my primary focus for the next few weeks.

There's a related PR up already, see #23431

[2020-03-13 18:00] andrewboie opened #23449 ""make clean" doesn't clean a lot of generated files"
Steps to reproduce:

[code]

I would not expect to see generated files still remaining, for example:

[code]

Found when debugging #23429 which makes the problem worse for reasons not yet clear to me.

[2020-03-13 18:04] johnsmithecon commented on #23438
But I tried to call bt_mesh_reset() from button handler and it didn't do anything. I'm trying to create a reset scenario where user presses and holds button and after 3 seconds of holding, the device resets. I am doing this by adding 3 second timer on button press and the timer callback reads the gpio pin of the button and determines if it is high. If it is high then I call bt_mesh_reset(). If I c

[2020-03-13 18:30] johnsmithecon commented on #23438
Update: Your solution works. Thanks so much for the help and the quickness of the responses.

[2020-03-13 19:09] #23438 closed

[2020-03-13 20:13] endian-benjamin commented on #23424
@rlubos And the fact that 2.18 is not LTS would be okay? (not even sure they plan on releasing any more 2.x LTS:es)

[2020-03-13 20:22] endian-benjamin commented on #23424
Oops

[2020-03-13 20:36] mbolivar commented on #23425
I don't know what this would take, sorry. I personally do not use openocd very much. Can you explain what you would do with openocd to get this done without using west?

[2020-03-13 21:00] mbolivar opened #23452 "Allow applications to define their own ZephyrBinaryRunners"
It would be nice for applications to be able to define their own runners. This would make it possible for west flash and friends to work with an application without board-specific hacks to pull the runners in.

Currently, only boards can configure runners. This is a bit silly for cases like network protocols that can run a Zephyr binary somewhere else.

Originally requested at https://github.com/z

[2020-03-13 21:14] tagunil commented on #22078
@ioannisg
I've just tried to apply and test your barriers-related commit from #23436. Unfortunately, that didn't fix the problem.

[2020-03-13 21:18] k0d commented on #15591
@matthew-koch I'm working on this issue, are you still interested in having this working? I've got the memory side of things working, and have some code working for the LTDC which I'll commit in a day or 2 after cleaning it up.

[2020-03-13 22:28] mbolivar commented on #23452
I never meant to assign you. Sorry. Not sure how that happened.

[2020-03-13 23:51] jenmwms opened #23459 "tests: drivers: uart: config api has extra dependency in test 2"
**Is your enhancement proposal related to a problem? Please describe.**
Tests were added for the UART configure API in - tests: drivers: uart: config api #22849. The existing test implementation works, but the 2nd case: ”test_config_get()” will fail if we don’t run the 1st case :” test_uart_configure()” because the 2nd case have not set the value for the variable :”uart_cfg_check”.

**Describe the

[2020-03-13 23:53] jenmwms commented on #23459
@xuhao8210  We can continue the discussion from #22849 here and resolve it with a PR. Thanks!

[2020-03-14 00:59] yasokada commented on #21899
@erwango
@FRASTM

I'm receiving 0x01 on CMD0 (see the attached image), five times in a row.

So, with the modification on pinmux.c as proposed by FRASTM, the SPI works fine.
But there is another problem with SDHC driver. That may be another topic from this one.
(we can close this topic ?)

![Screenshot from 2020-03-14 09-55-11](https://user-images.githubusercontent.com/2020561/76671552-4c8ff480-65

[2020-03-14 11:47] jukkar commented on #23424
I think we can update the mbedTLS as needed.

[2020-03-14 11:55] jukkar commented on #23246
One config option that might help (not tested), is to make the `CONFIG_NET_TCP_INIT_RETRANSMISSION_TIMEOUT` lower. The default value for that is 200ms. In wireshark I noticed when running some tests against Linux host, that it re-sends a packet just before our 200ms timer expires. This leads unnecessary network traffic in this case. So setting `CONFIG_NET_TCP_INIT_RETRANSMISSION_TIMEOUT=150` might

[2020-03-14 12:08] pfalcon commented on #23246
In my investigations (dated by now), I came to conclusion that any retransmissions are controlled by Linux side, and we indeed badly interact with Linux TCP stack, causing these retransmissions to start, and then increase in positive feedback. I believe where I stopped is trying to change some rexmit timeout params on Linux side, to test this hypothesis, and IIRC, found out these params are effect

[2020-03-14 12:46] alexanderwachter commented on #23444
IMO it is not an issue. The Zephyr device-id is a sequence of bytes. We make a 1:1 copy from the registers in the flash module. You should interpret the device ID as a byte sequence because other devices don't interpret them as u32_t.

[2020-03-14 16:25] didi110296 commented on #22466
Hello, is it possible to use the hx711 library for linux on zephyr?
[https://github.com/torvalds/linux/blob/master/drivers/iio/adc/hx711.c](https://github.com/torvalds/linux/blob/master/drivers/iio/adc/hx711.c)

[2020-03-14 16:26] deangereaux opened #23465 "Zephyr Authentication - ZAUTH"
# ZAUTH - Zephyr Authentication

November 2020

More and more devices can now connect to each other, remote servers, and mobile devices.  This added functionality provides end-users with better, more fully featured products, but at the very real risk of malicious attacks.  The ability to authenticate peer communications, along with secure messaging, is how devices can protect themselves.   Unfortu

[2020-03-14 16:33] xuhao8210 commented on #23459
@jenmwms  OK. got it .Thanks Jen. if any comments for my suggestion, please let me know. Thanks again.

[2020-03-14 16:38] #23415 closed

[2020-03-14 17:01] #21820 closed

[2020-03-14 18:32] sslupsky commented on #21119
Here is a helpful setting in my workspace c_cpp_properties.json:
[code]

I also found some helpful information here:
https://gitlab.endian.se/simon/vscode-zephyr-intro

In particular, the forced includes and defines to get IntelliSense to work properly:
[code]

[2020-03-14 18:42] sslupsky commented on #23444
I agree with your assertion that the device ID should be interpreted as a byte sequence.  However, that is not how the data is being read from the hardware.  Rather, the bytes are read from the registers as integer values (u32_t) which inherently have endianness and then cast as a sequence of byte which potentially breaks the endianness of the integers.

Here are a couple examples of this taken fr

[2020-03-14 19:07] sslupsky commented on #21119
Also add this to your CMakeLists.txt for your project:
[code]

[2020-03-14 19:45] sslupsky commented on #23111
Not sure if I am following you here.  It appears you agree with my report that the **sam0** endpoint buffer descriptor is being filled with zeros?

So, is this something that should be fixed?

[2020-03-14 20:11] sslupsky commented on #21119
CMake can be configured to generate a compile_commands.json.  However, the file is for the application which leads to problems when you open a component of the Zephyr RTOS into vscode.  For instance, if I open drivers/i2c/i2c_sam0.c I will see an error that there is no target for that file.  This is true since the compilation of the OS is controlled by other CMake processes.  Vscode opens the file

[2020-03-14 20:24] GeorgeGkinis opened #23539 "west flash --runner jlink returns KeyError: 'jlink'"
I try to flash my program to a **bare-bones** **nrf52832** module using an original **jlink edu** mini from segger.

Build succeeds :

**PS C:\FUN\NRF5\zephyrproject\zephyr>west build ..\..\ble_beacon_zephyr**
-- west build: generating a build system
-- Application: C:/FUN/NRF5/ble_beacon_zephyr
-- Zephyr version: 2.2.99
-- Found PythonInterp: C:/Python38/python.exe (found suitable version "3.8.2"

[2020-03-14 22:42] sslupsky commented on #21119
Here is an example of a task I use to invoke west to do a build:

[code]

[2020-03-15 09:17] didi110296 opened #23467 "Import from linux to zephyr?"
Hello, I would like to import the library of a linux sensor on zephyr, is it possible? knowing that this library is under GPL license, can we use two licenses because zephyr is Apache license?
Thank you, cordially.

[2020-03-15 11:02] JordanYates opened #23468 "bluetooth: host: Runtime HCI_LE_Create_Connection timeout"
**Is your enhancement proposal related to a problem? Please describe.**
I have a common GATT central application that is expected to connect to many different peripheral applications. Consider 2 applications, one which advertises at 10Hz, another at 1Hz.

A timeout of 500ms is likely sufficient for connecting to application A, while 5s may be desired for application B.
Waiting for 5 seconds for ap

[2020-03-15 11:03] JordanYates commented on #23468
I will have a go at implementing this

[2020-03-15 13:46] md-jamal commented on #23184
I have created a pull request : https://github.com/zephyrproject-rtos/zephyr/pull/23469
I am doing this first time, please provide feedback and i will correct them

[2020-03-16 01:27] chen-png opened #23473 "tests/posix/common failed on multiple ARM platforms."
**Describe the bug**
This test tests/posix/common failed on reel_board, frdm_k64f, mimxrt1050_evk and sam_e70_xplained boards.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p auto tests/posix/common/ -DCONFIG_NEWLIB_LIBC=n
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-347-gcd90d49a8627  ***
Running test sui

[2020-03-16 01:40] chen-png opened #23474 "tests/subsys/usb/device failed on reel_board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p auto tests/subsys/usb/device/
2. west flash
3. See error

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora 28
 - Toolchain: zephyr-sdk-0.11.1
 - Commit ID: 22b9167acb

[2020-03-16 02:17] chen-png opened #23475 "tests/kernel/gen_isr_table failed on iotdk board."
**To Reproduce**
Steps to reproduce the behavior:
1.  sanitycheck -p iotdk --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/gen_isr_table/
2. See error in handler.log file

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora 28
 - Toolchain: zephyr-sdk-0.11.1
 - Commit ID: 22b9167acb

[2020-03-16 02:25] chen-png opened #23476 "tests/kernel/interrupt failed on ARC"
**Describe the bug**
Running tests/kernel/interrupt on iotdk board, it will **stop at "test_prevent_interruption" and fail due to timeout.**

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p iotdk --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/interrupt/
2. See error in hander.log file.

**Screenshots or console output**
[code]

**Environment (please complete the

[2020-03-16 06:43] matthew-koch commented on #15591
By all means! I ran into a big project at work and haven't had a lot of
time for this. I kept chasing things that weren't implemented in Zephyr
(clocks, SDRAM, etc.) and this ballooned beyond what time I had. I won't be
able to pick this up again until late spring or early summer, so I'd
appreciate having this working.

- MK

On Fri, Mar 13, 2020 at 2:19 PM Mark Olsson <notifications@github.com>
w

[2020-03-16 08:02] aescolar commented on #23465
CC: @jhedberg @carlescufi @Vudentz

[2020-03-16 08:14] thoh-ot opened #23482 "2M PHY + DLE and timing calculations on an encrypted link are wrong"
**Describe the bug**
We are seeing some issue regarding 2M PHY + DLE and timing calculations on an encrypted link.

We use DLE with 251 as maximum and have some internal test that tries to send 244 bytes via GATT with 7 bytes protocol overhead, so that becomes 251 bytes LL PDU Payload. When adding the 4 byte MIC, the LL PDU length becomes 255.

On the AIR this should become one LL packet, instead

[2020-03-16 08:20] aescolar commented on #23482
CC @cvinayak @kruithofa

[2020-03-16 09:08] joerchan commented on #23468
@JordanYates Have you considered to use a whitelist and `bt_conn_create_aute_le` for this?

[2020-03-16 10:20] daee-demant opened #23485 "BT: host: Service Change indication sent regardless of whether it is needed or not."
**Describe the bug**
A service change indication is sent to bonded clients upon a reboot even if there is no change to the GATT table on the server.

**To Reproduce**
Bond with a client. Reboot the server. A service change indication is transmitted

**Expected behavior**
Upon a reboot when there is no change, no indication should be sent.

**Impact**
A redundant message is transmitted and acknowle

[2020-03-16 11:20] erwango commented on #21899
But there is another problem with SDHC driver. That may be another topic from this one.
(we can close this topic ?)

@yasokada, yes please let's open a new issue for this specific problem.
We'll kep this one open and close it with the fix. @FRASTM, can you take care of pushing the fix ?

[2020-03-16 11:20] JordanYates commented on #23468
@joerchan I hadn't previously, but it does not really fit the model of what we are trying to achieve.
We aren't interested in connecting to ANY device running application A or B. There can easily be over 50 devices  within bluetooth range, none of which I want to connect to. At some point in time, in response to an external command or as a result of the data that one particular device has sent, I

[2020-03-16 12:44] jfischer-phytec-iot commented on #23111
I am not sure even. Do you agree that **SAM0 specific Endpoint Buffer Descriptor** has noting to do with **USB descriptors**?

I cannot not agree as it is the fact.

I think not, or fixed by what?
Do you have attach/detach issues with usb_dc_sam0? For example, `brk` property from `struct_sam0_data` increments in `usb_dc_ep_configure()` but never decrements even not in `usb_dc_detach()` or `usb_dc_

[2020-03-16 12:45] ioannisg commented on #23473
I bisected, tried the test on nrf52840_pca10056, and the offending commit seems to be the following:
https://github.com/zephyrproject-rtos/zephyr/commit/17b19eb810e2429bf91fb231bbeae4a3c82bf0dc

merged in PR #22845 .

The error I see is:

[code]

@chen-png can you confirm my finding?

Copying @nslowell (author of #22845) and reviewers/maintainers/release-team-members: @pfalcon @andrewboie @jhedber

[2020-03-16 15:10] carlescufi commented on #15372
@andrewboie and @nordic-krch  is this still relevant or can we close it?

[2020-03-16 15:11] carlescufi commented on #14790
@jukkar @rlubos does this still apply?

[2020-03-16 15:11] carlescufi commented on #15903
This is fixed now, since the funcitons appear in the generated doc

[2020-03-16 15:11] #15903 closed

[2020-03-16 15:12] carlescufi commented on #8008
@rlubos @jukkar is this still an issue?

[2020-03-16 15:12] carlescufi commented on #12987
@galak is this still an issue?

[2020-03-16 15:12] carlescufi commented on #12353
@nashif is this still  relevant?

[2020-03-16 15:13] carlescufi commented on #3441
@jukkar @rlubos @pfalcon is this still relevant?

[2020-03-16 15:14] carlescufi commented on #7385
@nashif is this still an issue?

[2020-03-16 15:14] FRASTM commented on #21899
i have put the PR https://github.com/zephyrproject-rtos/zephyr/pull/23493

[2020-03-16 15:14] carlescufi commented on #5934
@nashif is this still an issue?

[2020-03-16 15:14] carlescufi commented on #16766
@jukkar @tbursztyka is this still an issue?

[2020-03-16 15:14] carlescufi commented on #10628
@nashif is this still an issue?

[2020-03-16 15:15] carlescufi commented on #13819
@MaureenHelm is this still an issue?

[2020-03-16 15:15] carlescufi commented on #18207
@joerchan can you please take a look?

[2020-03-16 15:16] carlescufi commented on #17755
@vonhust moved from bug to enhancement. I assume this is still an issue.

[2020-03-16 15:17] SebastianBoe commented on #23349
You can put the SOC drivers in a "Zephyr module".

Here is one way of adding a zephyr module: https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/application_development/out_of_tree_driver/CMakeLists.txt#L5

For other mechanisms, see https://docs.zephyrproject.org/latest/guides/modules.html

[2020-03-16 15:21] rlubos commented on #14790
AFAIK there were no fixes/changes in this area.

[2020-03-16 15:22] SebastianBoe commented on #23449
This is probably due to us not using BYPRODUCTS when we should.

If a script generates a file, and we don't tell CMake about it, then CMake won't know that it should delete it.

Until all cases are fixed, users can consider using "make pristine", but note that this deletes the Makefile as well, which is not always desired.

[2020-03-16 15:22] nslowell commented on #23473
Would you mind assisting with some debugging?  QEMU didn't show any issues.  Is the memory space of newthread[0] somehow non-zero at the point of failure?

[2020-03-16 15:26] jukkar commented on #3441
Yes, there has not been progress with this one. We are hoping to address this issue in TCP2 in the future.

[2020-03-16 15:57] sslupsky commented on #21119
I found another way to integrate Zephyr with vscode using the CMake-tools extension.  I had been playing around with this extension a while back but really did not understand how to use it.  The key to use it for Zephyr is the "configurationProvider" property in c_cpp_properties.json.

Install the vector-of-bool (now microsoft) Cmake-tools extension.  Then, edit your c_cpp_properties.json in your

[2020-03-16 16:10] sslupsky commented on #21119
Some other useful extensions:

ARM, Dan Underwood
CMake Tools, Microsoft
Cortex-Debug, marus25
DeviceTree, Pietro Lorefice
Doxygen Documentation Generator, Christoph Schlosser
Git Graph, mhutchie
Intel HEX format, keroc
kconfig, luveti

[2020-03-16 16:37] wopu-ot opened #23494 "Bluetooth: LL/PAC/SLA/BV-01-C fails if Slave-initiated Feature Exchange is disabled"
**Describe the bug**
Bluetooth qualification test LL/PAC/SLA/BV-01-C fails if Slave-initiated Features Exchange is disabled (`CONFIG_BT_CTLR_SLAVE_FEAT_REQ=n`). This happens because the slave device with that configuration does not respond correctly to an unexpected LL_FEATURE_RSP.

**To Reproduce**
Run BLE qualification test LL/PAC/SLA/BV-01-C on a device configure with `CONFIG_BT_CTLR_SLAVE_FEAT

[2020-03-16 16:40] Abz23 opened #23496 "Issue building & flashing a hello world project on nRF52840"
Hi,

I am currently using a 64 bit windows 10 laptop and I am trying to build and flash a simple hello world sample code in the zephyr OS into my NRF52840 DK. I have followed all the steps in the get started user guide and I have made sure to install all the dependencies that are required.

My problem is that I am unable to build as I am always presented with the error below.

I am currently on wi

[2020-03-16 17:02] carlescufi commented on #23467
The Apache 2.0 license is not compatible with the GPLv2, but is compatible with the GPLv3:

https://www.gnu.org/licenses/license-list.html#GPLCompatibleLicenses

[2020-03-16 17:02] #23467 closed

[2020-03-16 17:18] carlescufi commented on #23496
@Abz23 you seem to be running west outside of a git repository.
Please follow the exact steps in https://docs.zephyrproject.org/latest/getting_started/index.html.

[2020-03-16 17:20] carlescufi commented on #23465
@deangereaux thanks for the submission!

Could you please include a small paragraph about why the existing [fast-pair spec](https://developers.google.com/nearby/fast-pair/spec) is not a viable alternative?

[2020-03-16 18:29] deangereaux commented on #23465
@carlescufi   Added paragraph.  I view GFPS as another possible authentication method provided by ZEBRA.   Let me know if I missed any key points about GFPS.  Thanks!!

[2020-03-16 19:09] #23485 closed

[2020-03-16 19:24] andrewboie opened #23504 "Build system dependency issue with syscalls"
**Describe the bug**
I'm seeing a problem where `make clean; make -j20` is run and the dependencies look messed up. This was found in code review for #23429 but is reproducible without that PR:

[code]

In addition, occasionally when doing this the build fails:

[code]

This seems a race condition which only reproduces sometimes and depends on the host workstation characteristics and the -j parame