[2018-12-09 17:43] pabigot commented on #11976
@nordic-krch @carlescufi @MaureenHelm @mnkp @anangl This issue is intended as the basis for a more visible discussion following up on [this comment](https://github.com/zephyrproject-rtos/zephyr/pull/8340#discussion_r236914015) discussed in the API call last week.

[2018-12-09 21:46] carlescufi commented on #6770
@pabigot thanks for your input

This is perfectly doable when you use submodules the way they are intended to be used: by having a main (i.e. zephyr) repository that links to other ancillary ones  that are maintained  externally (eg. mbedtls). But, as I've now written in the main description of this issue, this wouldn't work with the model we are looking to implement. We are looking to make certai

[2018-12-09 22:07] pabigot commented on #6770
The specific technical solution isn't the primary concern; it's whether the requirements and use cases driving the design are satisfied.  If the solution in west doesn't easily support the capability I described I would probably bypass it and use something else to manage my workspaces, unless west provided some other reward that balanced the pain.

It sounds like to meet some vendor expectations y

[2018-12-10 01:00] fghjhuang opened #11979 "help to use zephyr-ninja flash"
board: nucleo f401re
i can cmake the project basic/blinkly,then when i flash to the board the error open:
`david@ubuntu:~/Desktop/zephyr-master/samples/basic/blinky/build$ ninja flash`
`[1/1] Flashing nucleo_f401re`
`Using runner: openocd`
`Open On-Chip Debugger 0.10.0+dev-gea2753a7-dirty (2018-11-02-23:37)`
`Licensed under GNU GPL v2`
`For bug reports, read`
`http://openocd.org/doc/doxygen/bugs.h

[2018-12-10 05:37] yashi opened #11980 "cmake: Build fails in an environment without `python` binary"
**Describe the bug**
The commit 9de5bc91093184bb1a57d031e76c089c29806d23 kills our build with `FATAL_ERROR` because the function `determine_python_version` can't find a binary called `python`.  Python 3 in some distro is named `python3`.  With some configuration, there is no alias to `python` or no Python 2 as `python`.  Thus it `FATAL_ERROR`.

**To Reproduce**
1. remove `python` binary.
2. build.

[2018-12-10 07:59] mped-oticon commented on #9552
btw, we use gcc `-fno-strict-overflow` in cmake. That flag defines overflow behaviour to that of normal hardware two's complement. I haven't dared to turn it off...

[2018-12-10 08:02] Qbicz commented on #11922
Thumbs up, I would be happy to see SAADC calibration feature added.

[2018-12-10 08:15] rlubos commented on #8277
Right, we can close this.

[2018-12-10 08:15] #8277 closed

[2018-12-10 08:40] agansari commented on #11586
@jeremy-e-mills I know about gPTP on this board, but forgot to create an issue, so please create an issue, dts_fixup needs a different macro, I need to look a bit into what changes need to be made. Had a similar issue o K64F.

@pfalcon haven't tested link-up/down on this board, let me see what the issue is.

[2018-12-10 09:02] jukkar commented on #11827
I am currently investigating why this error started to happen, I do not yet have a solution for this issue.

[2018-12-10 09:47] PhilippFinke commented on #11740
I'm using TIMER2 interrupt with priority level 7. I'm not using irq_lock in my application.

[2018-12-10 10:11] pizi-nordic commented on #11722
@andyross: Do you have an idea how to solve this?

[2018-12-10 10:12] anangl commented on #11967
It is intentional. `transfer_next_chunk` is expected to return immediately when `nrfx_spi_xfer` signals success because this success means only that the transfer of a chunk has been started. After the transfer is completed, `event_handler` will be called, and it will in turn call `transfer_next_chunk` again. Then if there is nothing more to transfer (`chunk_len` is `0`), `nrfx_spi_xfer` will not b

[2018-12-10 10:22] mnkp commented on #11261
Just to clarify possible misunderstanding. The behavior described in this issue is not vendor specific but rather common to all Cortex-M3 and higher (ARMv7-M) devices.

[2018-12-10 10:23] ulfalizer commented on #11980
As a side note, CMake still chooses Python 3.4 for me, even though I have 3.6 and 3.7 installed as well.

[2018-12-10 11:16] mnkp commented on #11976
The GPIO callback is defined as
[code]
and the limitations of this design were described in the the [answer](https://github.com/zephyrproject-rtos/zephyr/pull/8340#discussion_r237095779) to the above comment.

Had GPIO callback passed a generic user_data pointer as a parameter it would be sufficient to get access to all the required data. Solving the problem described in this issue doesn't require

[2018-12-10 11:19] agansari commented on #11586
@pfalcon i've tested 3 samples: dumb_http_server, echo_client and echo_server

I've rebased on the latest commits and code size is smaller, so i can run echo_ samples off iTCM.
dumb/echo_client work fine, i could pull cable in/out, link works okay, ping also works, power cycled to board serveral times, works okay.

echo_Server does not initialize okay, link leds remain light up, didn't get to link

[2018-12-10 11:31] ulfalizer commented on #11980
Think I know what's going on:

The `python` executable is almost always Python 2 (but is Python 3 on Arch Linux I think).

Should probably test `python3` instead. Maybe that'll work on Arch as well. Otherwise, both might need to be tested.

[2018-12-10 11:32] SebastianBoe commented on #11980
I have a fix, will push it soon.

[2018-12-10 11:36] pfalcon commented on #11586
@agansari: These latest tests, against which code they were done.

As for me, let me just summarize the situation:

* With Zephyr master, RX doesn't work.
* With https://github.com/zephyrproject-rtos/zephyr/pull/11882, I never get a link of the physical level.

So, it doesn't make sense to test sample like echo_client - physical level of Ethernet connection doesn't work for me.

I'm not sure how t

[2018-12-10 12:11] nvlsianpu commented on #11095
because of #9521 this issue will be not valid anymore.

[2018-12-10 12:18] tbursztyka commented on #11976
That's a false assumption. At the time it was designed it was fitting just fine with the known use-cases/requirements. If that does not fit anymore today, we will be all free to change this.

As described above, having to store a dev pointer in struct sht3xd_data is not going to bloat a struct for all gpio callbacks. I don't exactly see a problem with this, it seems to be a corner case.

If it was

[2018-12-10 12:54] agansari commented on #11586
@pfalcon Well, it's something other than PHY initialization after the patch. PHY works on my side after patch in dumb_http_server sample, but looks like you have trouble with echo_server only, is this the case?

Going further with with what i observed, looking at diffs between echo_server and client i've narrowed it down to CONFIG_NET_CONTEXT_NET_PKT_POOL, something breaks the driver/stack when th

[2018-12-10 13:58] pizi-nordic commented on #11723
I was not able to reproduce this problem.
However I tried to play with the code a bit and I found a strange thing:
[code]

Should we really consider this tests successful when we observe not expected faults?

[2018-12-10 14:30] mrobotby opened #11989 "Reel Board mesh_badge sample | Light sensor bug"
**Describe the bug**
When the reel board is under the bright light, program stops working.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload mesh_badge sample
2. Choose screen with telemetry of the sensors
3. Put reel board under very bright light. Data reading will stop.
4. Remove under the bright light, program continue running.

**Screenshots or console output**
Video of the bug: htt

[2018-12-10 14:50] pizi-nordic commented on #11723
@carlescufi: Fault was triggered by my changes in the code. What surprised me is that test with faults completed successfully.

@nashif: Is detection of fault is done in the external scripts (monitoring sanity check execution) or in C code running on device under test?

[2018-12-10 15:04] mnkp commented on #11976
Yes, that's true. I don't think there is a way around it. Current design of GPIO callback API which relies on CONTAINER_OF macro does save 4 bytes of RAM per callback if user does not need to access `dev->config->config_info` or similar data. That's unquestionably a very good argument to use it. However, in case of other APIs where we pass user_data to the callback we also need to grow the data st

[2018-12-10 15:53] pkral78 commented on #11393
@pdunaj Sorry for late reply. Yes please create new issue and link this to stay aligned with latest discussion.
I'm not against better locking approach, but keep in mind that:
a) current Zephyr RTT consumers (subsystems) do not need to disable interrupts due fact they do not access RTT from interrupt context
b) any better locking will result making RTT library obsolete - see my comment https://git

[2018-12-10 16:16] jukkar commented on #11827
#11991 fixes the negative link delay issue in frdm_k64f

[2018-12-10 16:56] avisconti commented on #9962
@MaureenHelm
lis2mdl is ready but requires your review. (PR #11832)

[2018-12-10 17:32] pabigot opened #11993 "drivers: Supporting driver-specific extensions to existing generic APIs"
I frequently run into cases where I want a specific driver to support capabilities not accessible through the standard driver API. Some of these might be added to the generic API, but some are too specific. Examples include:
* adc support calibration on Nordic SAADC peripheral
* gpio configure multiple pins simultaneously, as with Semtech SX150x
* ccs811 sensor manage calibration constants and upd

[2018-12-10 17:33] pabigot commented on #11993
See some discussion in [slack](https://zephyrproject.slack.com/archives/C18PLHN8H/p1544458827591900).

[2018-12-10 17:55] himanshujha199640 commented on #11095
OK. Then we would close this issue once the PR gets merged.
But best to mark it as `False positive`.

[2018-12-10 17:55] pabigot commented on #11993
Here's an example of the approach I've taken for a complete rework of CCS811:

A new header `ccs811.h` is added to `include/drivers/sensor`.  It includes documented data types for things like firmware version description, baseline calibration values, current environmental state. It also prototypes functions to manipulate those, e.g.:
[code]
User code would look like:
[code]

Because these function

[2018-12-10 18:00] pabigot commented on #11993
And here's a rough outline of what it might take to use an IOCTL approach:

We'd need changes like this in `include/device.h`:

* `struct device_config` would have a new member, something like:
[code]
   along with a generic wrapper:
[code]
* We'd need equivalents to at least the `_IO`, `_IOR`, `_IOW`, and `_IORW` macros in Linux
* We'd need a managed registry of IOCTL types (e.g. `'T'` for termin

[2018-12-10 18:11] andyross commented on #11993
This seems like significantly wasted work to me.  The Linux model is "syscalls are are and carefully curated and drivers need to follow these rules to poke holes in the abstraction for their own APIs".

The Zephyr model, so far, has been "drivers are responsible for exposing their own APIs via simple function calls, and for the special case of userspace we work to make it easy to expose those call

[2018-12-10 18:17] pfalcon commented on #11993
@pabigot: Thanks for submitting this as a ticket. Let me admit then when I saw a post on Slack, I mostly saw keywords like "ioctl" vs "multiple functions". My immediate comment was that choosing to add multiple "virtual methods" to drivers vs single "ioctl-like vmethod", I'd recommend the latter.

If the feature you care about is clearly specific to a particular hardware device, and this its drive

[2018-12-10 18:40] pabigot commented on #11993
@pfalcon yes, that's exactly it.  While I appreciate in principle the goal of Zephyr to make applications as generic as possible by providing a common API, in the domain I'm working I know *exactly* what hardware and sensors I'm going to be using.  It's...sub-optimal...for me to be dealing with temperatures and humidities expressed as 64-bit fixed-point values when the driver collects them togethe

[2018-12-10 18:42] andyross commented on #11993
I think my position summarizes as "I'd like to see some attention paid to firming up exactly how drivers expose APIs , but I don't think it should look like ioctl"

[2018-12-10 20:40] andrewboie opened #11998 "intermittent failures in tests/kernel/common: test_timeout_order: (poll_events[ii].state not equal to K_POLL_STATE_SEM_AVAILABLE)"
**Describe the bug**
[code]

**To Reproduce**
Seen only intermittently. Keeps happening in CI runs. Not sure how this can be induced repeatedly.

**Expected behavior**
Test case passes without incident.

**Impact**
Unclear. Might be a test case implementation issue. Might be a QEMU problem. Might be a subtle bug in the kernel that needs fixing.

[2018-12-10 21:16] andrewboie commented on #11993
One thing about system calls. Right now all the driver system calls take a generic `struct device` pointer. The syscall code is able to distinguish what *subsystem* any given `struct device` belongs to; we have some build system logic which notes what API struct was assigned to the device at build time (`i2c_driver_api`, `uart_driver_api`, etc) and sets this in the kernel object metadata (K_OBJ_DR

[2018-12-10 21:47] pabigot commented on #11993
@andrewboie Thanks, this exposes more detail I was missing related to verification and userspace, the design criteria that led to the current architecture, and the breadth of Zephyr's "here, let me do that for you" code generation framework.  I think the user-level API I've suggested is still a good solution, but underneath it might have to be accomplished using a generic `extension` function that

[2018-12-10 22:06] andrewboie opened #11999 "CONFIG_TEXT_SECTION_OFFSET doesn't seem to work on x86"
**Describe the bug**
Trying to support a bootloader which requires that the zephyr blob be loaded at a particular physical address. However, despite setting CONFIG_TEXT_SECTION_OFFSET, the text section seems to be somehow hard-coded to start at 0x1000 address.

**To Reproduce**
Set CONFIG_TEXT_SECTION_OFFSET, look at the linker map of the built binary on x86.

**Expected behavior**
Expected that t

[2018-12-11 00:14] #11999 closed

[2018-12-11 00:31] andrewboie commented on #11993
Thinking about this some more, it might not be terrible to also uniquely identify drivers. It may not be much hassle to determine that given a generic device pointer, to associate with a specific driver. Right now the build system logic stores the type of the `device->driver_api` object in the kernel object metadata, but we could additionally register the `device->driver_data` which is specific to

[2018-12-11 00:59] andrewboie commented on #11993
This commit here is a quick-and-dirty proof-of-concept on doing a syscall specific to a driver:

https://github.com/andrewboie/zephyr/commit/3a6fbf9a545704c9caeea06bdd9d26f6a6fe576a

[2018-12-11 03:05] #11268 closed

[2018-12-11 04:10] #10757 closed

[2018-12-11 04:10] #10752 closed

[2018-12-11 04:38] ceolin commented on #11094
fixed in c554ab71005a10110eb959cb32c53133b18b5ac3

[2018-12-11 04:38] #11094 closed

[2018-12-11 04:40] ceolin commented on #10756
this was classified as false positive on Coverity. Closing it.

[2018-12-11 04:40] #10756 closed

[2018-12-11 06:35] vanwinkeljan opened #12001 "Dummy Display driver for native_posix"
**Is your feature request related to a problem? Please describe.**
The current native_posix SDL based display driver is not cleaning up its used memory, this is caused mainly by the SDL and OpenGL libraries and as such can not be corrected. The net results is that it is very hard to use valgrind once the SDL based display is enabled due to the large amount, ~3MB, of memory that is not cleaned up.

[2018-12-11 06:35] pizi-nordic commented on #11998
Looks like another issue in timer. Let me check...

[2018-12-11 06:35] vanwinkeljan commented on #12001
@aescolar fyi

[2018-12-11 06:41] spoorthik commented on #11752
The issue #11077 complains the same.

[2018-12-11 07:22] vanwinkeljan commented on #11092
fixed by #11351

[2018-12-11 07:22] #11092 closed

[2018-12-11 07:33] wanhao2015 commented on #11827
Thank you for help! I updated the code,and ran gptp again, it succeed!
`
STATUS   : GPTP [11:29:28:768] AsCapable: Enabled
`
Thanks a lot!!!

[2018-12-11 07:58] pizi-nordic commented on #11998
Unfortunately I cannot reproduce this...

[2018-12-11 09:07] i8080 commented on #3132
I can reproduce this issue with frdm_k64f board by sending UDP packets to the echo_server example. It takes at least a few minutes to get high latency (up to a second) responses for all network requests.

It makes no difference if all logging features are disabled or enabled.

But when limiting CONFIG_ETH_MCUX_RX_BUFFERS to 1 (default value is 2) it seems to work.

(Typical latency was < 1ms withi

[2018-12-11 09:34] ramakrishnapallala opened #12003 "Device Idle Power Management"
In Zephyr, we support system power management and as part of the system-wide PM or CPU idle PM we
have mechanisms to suspend devices while entering deep sleep states. But to save power at the more granular level we can turn off or suspend the devices which are not active irrespective of the CPU state and bring them back when the need comes. The concept is similar to the runtime PM implementation o

[2018-12-11 09:35] pfalcon commented on #3132
@i8080: Thanks for providing useful information, my testcases usually involved TCP, where with multiple HTTP requests, the issue manifests itself in seconds or dozens of seconds.

@jukkar: Let me kindly remind what I said at the last week's meeting: that this waits for your response on reproducing this issue (again, the very detailed info on reproduction is available in https://github.com/zephyrpr

[2018-12-11 09:35] ramakrishnapallala commented on #12003
FYI @nashif @carlescufi

[2018-12-11 09:43] carlescufi commented on #12003
@ramakrishnapallala thanks for creating the issue. Copying @pizi-nordic since he's the power management expert on our side.

[2018-12-11 09:44] jukkar commented on #3132
@pfalcon This is certainly in my backlog

[2018-12-11 10:48] pizi-nordic commented on #12003
I fully support this idea, however I have few concerns how to handle peripheral power state.

Some peripherals could be easily managed: For example SPI master, I2C master and so on. When peripheral is not used we  can simply turn it off (the latency of turning on might be the only concern here). For most of the drivers this is already implemented at driver level.

However peripherals like UART or

[2018-12-11 11:30] Mierunski commented on #11737
I've ran into problems of accessing information from dts few months ago, at first I wanted to automatically add new generation option for defines, as current names are unusable in any way, so #9157 was created where defines in form of 'compatible-name_number_property' were generated depending on peripheral status, i.e. if only I2C_1 was enabled we got something like this:
[code]
Which allowed to u

[2018-12-11 11:44] aescolar opened #12006 "valgrind detected issue in tests/net/ipv6/"
Valgrind detects a bogus pointer access while running `tests/net/ipv6/`

**To Reproduce**
1. mkdir build; cd build
2. cmake ../tests/net/ipv6/  -DBOARD=native_posix -GNinja
3. ninja
4. valgrind zephyr/zephyr.exe

**Console output**
[code]

**Environment:**
 - Linux, Ubuntu 18.04
 - gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
 - Today's master: c012a288c371c69420ea25c3bb7bb9af5a743f07

[2018-12-11 12:07] ruuddw commented on #3198
Yes, this is still an issue. Though slightly different than the initial issue. k_cycle_get_32() is used for reading timestamps, and on ARC (also ARM, maybe other arches as well) this counter is (re)set to 0 when the sys clock driver is initialized -> boot time numbers reported are slightly optimistic.

[2018-12-11 12:09] mnkp commented on #11737
I second that opinion and agree very much with the rest of the post. One solution which would cover all these requirements is to use node labels (but not label property) to generate aliases. Node labels provide logical names that correspond to data sheet / schematic naming convention, they are guaranteed to be unique and therefore perfectly suited to flatten the DTS hierarchy when extracting prope

[2018-12-11 12:14] b0661 commented on #11737
Codegen is not such old !-)
A year ago I proposed a solution with C macros and defines. Only later switched to code generation by Python (the macros were not acceptable).

Within the original proposal I had something similar to the following. It only uses aliases to define the prefix of the device tree property defines. The rest can be easily done by the C preprocessor.

[code]

[2018-12-11 12:47] pabigot commented on #11993
I've italicized the phrase that I think is key.  The functions I'm interested in exposing are absolutely driver-specific.  They do not belong at the subsystem, and having to manage their individual identifiers globally rather than within the driver is not ideal.  My original thought was that they could be handled with an ioctl-like function, exposed through the subsystem but multiplexing the vario

[2018-12-11 13:10] pabigot commented on #11902
Since it appears the referenced comment may no longer be accessible, the workaround is to add these to the `prj.conf`:
[code]

[2018-12-11 13:38] pdunaj opened #12016 "Crash while disconnecting device from USB"
**Describe the bug**
Device starts as connected, disconnect it promptly.
[code]

**To Reproduce**
This is a race. Will add more info in the comment.
Start with the device connected. Just after booting up disconnect the device.

**Expected behavior**
Device must not crash.

**Impact**
Probably showstopper although it is not easy to replicate (so far happened once).

**Screenshots or console output*

[2018-12-11 13:39] pdunaj commented on #12016
I was unable to replicate it while testing today but I see how this can be triggered.
`usb_dc_nrfx_power_event_callback` is being called with event from hw, set the state and then submits the work.

`usb_dc_nrfx_power_event_callback` is called from an interrupt context while work is executed from a workqueue thread.

There are two cases that can lead to the assert (situation where we detached whil

[2018-12-11 14:18] #10035 closed

[2018-12-11 14:20] carlescufi commented on #11368
@gamnes since you've done `pwm_nrfx`, could you complete the transition by also moving `pwm_nrf5_sw` to DT?

[2018-12-11 14:31] jukkar commented on #11889
The option 2. is probably the best one to implement. Our network config library is quite simple still and needs some TLC indeed.

If the user does not set hard coded IP addresses in prj.conf file, then the net config library cannot add any addresses itself. So there should be no issue with this in real life, except that by default all the samples set some IP address to the application. But I would

[2018-12-11 15:18] #12006 closed

[2018-12-11 15:42] bearsh commented on #2920
@derchrismakaio when I run the power_mgr sample, it seldom enters LPS_1 and even then, the current is about 600-700uA...

[2018-12-11 15:44] pabigot commented on #10339
@psidhu sorry I missed you on the original reviewer list; please review #11880 with respect to satisfying the needs of your #9834.

[2018-12-11 16:16] bearsh opened #12025 "OS Pwr Manager doesn't put nrf52 into LPS_1"
**Describe the bug**
Using a very simple app (`while (1) {k_sleep(MSEC_PER_SEC);}` in main thread only) with os pwr manager enabled, the lowest current consumption I get is around 700uA, which looks more like LPS_0 than LPS_1

**Expected behavior**
A sleeping SoC for almost 1s with an expected current consumption of around ~5uA rather than 700uA

**Additional context**
Running the pwr manager demo

[2018-12-11 16:16] galak commented on #11859
ping

[2018-12-11 16:33] derchrismakaio commented on #2920
@bearsh make sure logger and shell are disabled and that you selected power management by OS
Also, if flashing via SWD, make sure to disconnect the debugger and restart your device before taking measurements.

[2018-12-11 17:01] jfischer-phytec-iot commented on #11989
I can reproduce it, below a workaround for non trigger mode, a fix is in progress but it will take more time for testing

[code]

[2018-12-11 17:05] pabigot commented on #11976
As a minor addition if we're going for consistency the order of parameters should be considered as well.

systemd uses the following standard for callbacks ([example](https://www.freedesktop.org/software/systemd/man/sd_event_add_time.html)):

* first parameter is a pointer to the object associated with the
  callback (here, the device pointer)
* next are any callback-specific parameters (times, ch

[2018-12-11 17:18] pabigot commented on #9043
see also #6498

[2018-12-11 17:31] carlescufi commented on #6498
Copying @pizi-nordic since this was raised in the API meeting today by him.

[2018-12-11 17:41] kl-cruz commented on #11779
Okay, it should be only code alignment

[2018-12-11 18:36] #10509 closed

[2018-12-11 18:55] andyross opened #12027 "Make icount work for real on x86_64"
The x86_64 port still doesn't quite work with qemu's -icount feature.  But it's very close.  Everything but the timer interrupt seems solid: there is a case where long-running tests will eventually get into a state where interrupts are being dropped.  The issues are probably similar on other platforms.

I dug very briefly into the qemu code, at least far enough to find the spot in the interpreter

[2018-12-11 18:58] mbolivar commented on #11916
@andrewboie:

I saw this and appreciate the fix for the issue with my (ancient) toolchain.

More generally, would it be worth it to do a post-processing step on the final zephyr binary to make sure that ISR addresses didn't change, and at least fail fast if they did?

[2018-12-11 18:58] andyross opened #12028 "Enable 16550 UART driver on x86_64"
This platform has basic console output wired in via printk, but the existing UART driver didn't work out of the box when I tried it.

There's no reason the existing driver shouldn't work.  Make it work.

Note that there are tests that have to be whitelisted because CONFIG_LOG requires a UART and won't work with printk's stream (a different issue, see #11975)

[2018-12-11 19:01] andyross opened #12029 "CONFIG_STACK_CANARIES doesn't work on x86_64"
This feature isn't working right now on x86_64, and the problem seems deep.  Generated code via -fstack-protect arguments panics very soon after boot.  I worry this may be an ABI issue with support for x32, but it needs investigation.  The tests are whitelisted for now.

[2018-12-11 19:32] andyross commented on #11993
(Typed a long reply into the wrong spot.  Here it is again)
I just don't see the value in all the ioctl "rigor".   All  ioctl does is give you a way to pass a number and a (user) pointer  into a driver-supplied callback in the kernel.  The numbers (in theory,  but NOT PRACTICE) all go into a registry somewhere so they're known to  be unique and validatable by the kernel in an automated way.  And t

[2018-12-11 20:24] bearsh commented on #2920
do you also get something near of 35uA, while ble advertising is on?

[2018-12-11 22:57] andyross commented on #11998
Oooh, good timing (because I'd already almost forgotten).  I stumbled on this one too in x86_64, then it went away when I fixed other bugs.  But this one I believe to be a bug in poll.

The relevant state being checked is that the poll event (the struct owned by the caller of k_poll() that returns information about what has happend) is only set in is_condition_met() in poll.c.  This gets called ou

[2018-12-12 00:18] andrewboie commented on #11998
@andyross I have some time today, I'll take a look

[2018-12-12 01:11] andyross commented on #11993
Right, but that's for well-defined APIs with tight sets of entry points.   I think we do that just fine already (architecturally, obviously we lack actual drivers and frameworks for lots of things).   But ioctl has historically been used as a way for the driver, absent any kernel or framework blessing, to implement a way for userspace to talk directly to it.

And the way it works in a linux driver

[2018-12-12 02:18] nashif commented on #12029
you are not hitting this 95936e2b1433b8aaac798861050a0353149fc0a4, are you?

[2018-12-12 02:43] andyross commented on #12029
Ooh, maybe.  That could totally produce the symptom's I saw, though I'm pretty sure it persisted as I rebased.  Honestly I don't know anything about this gcc feature and just punted once I realized the failure was just that canaries don't work even on hello_world.  Will check.

[2018-12-12 03:39] andrewboie commented on #12029
if you hit that problem you'll see references to memory in %fs or %gs segment in the beginning of functions.

[2018-12-12 03:42] ramakrishnapallala commented on #12003
Thank you @pizi-nordic for your inputs. I will keep these things in mind while defining the API's.

[2018-12-12 05:19] ceolin commented on #11097
@vanwinkeljan done, thanks !

[2018-12-12 05:19] #11097 closed

[2018-12-12 07:00] jarz-nordic commented on #11932
@oxymoron87 : Please let me know if this is still an issue for you or it can be closed?

[2018-12-12 08:43] spoorthik opened #12033 "samples/application_development/code_relocation fails on mps2_an385"
**Describe the bug**
Intermittent failure seen on mps2_an385 board with samples/application_development/code_relocation

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD= mps2_an385 ..
3. make run
4. See error
Run for 2 to 3 times. And the execution crashes in between.

**Screenshots or console output**
[code]

**Environment (please complete the following

[2018-12-12 09:48] Jiurifei opened #12037 "nrf52840 ram retention example failed"
Greetings,

I want to  use a global variable to store a status value .  It can be reserved even if I execute reset operation. I referred to  nRF52840 documentary, and I got following information:

### The RAM power control registers are used for configuring the following:
What RAM sections to be retained during System OFF
What RAM sections to be retained and accessible during System ON
In System O

[2018-12-12 09:56] mnkp commented on #11109
Just a quick comment: #7213 was largely addressed by #11180. Almost all of the DeviceTree symbols have now DT_ prefix. As such, this issue is no longer blocked.

[2018-12-12 10:36] pfalcon commented on #3132
@jukkar: Thanks for quick testing!

So, I assume this is "err" logging, i.e. enabled by default. In my usual testing (which involves TCP/HTTP/1000 requests of that, non-flooding), I sometimes see errors like that, but rarely, and they don't cause any visible effect.

Again, in my testing, the connectivity persists, but as described here and in #7831, I get 1000ms round trip for packets (then 2000m

[2018-12-12 10:46] gamnes commented on #8758
sensor/QDEC has already been migrated.

[2018-12-12 11:41] pabigot commented on #11993
@andrewboie @andyross I'm not yet up to speed to entirely follow what you're discussing, so to step back:

To use the CCS811 Indoor Air Quality sensor correctly the application must be able to perform these functions:
[code]
Baseline calibration is collected at various points in the sensor lifecycle and retained to be restored on reset so it doesn't take up to 24 hours to start getting accurate re

[2018-12-12 11:51] #11095 closed

[2018-12-12 12:12] masz-nordic opened #12039 "clock_control: API should allow callback to be specified"
When starting the clock asynchronously, there is no way to specify an additional callback function to propagate clock events to application.

API should include an optional registration of a handler that would be called when clock event (for example `HF_CLOCK_STARTED`) is triggered.

[2018-12-12 12:35] SebastianBoe commented on #12037
You might want to use a NRF_POWER-GPREGRET[] variable or a flash location instead.

Anyway, probably, something is clearing the variable during the boot procedure. You need to make sure it is not placed in a section that is modified during the boot procedure, e.g. it should not be in the bss or data section.

[2018-12-12 12:41] jfischer-phytec-iot commented on #11803
Tested `usb_dc_kinetis.c` with testusb tool, zephyr master eb9f13e3e2f8a97bbfaa0ae83705d610457b9251, host 4.18.0-2-amd64

[2018-12-12 12:48] jhedberg opened #12040 "Log messages are dropped even with huge log buffer"
**Describe the bug**

There's something seriously wrong with dropped log messages, at least when using the shell. I've configured my app (tests/bluetooth/mesh_shell) to have a 32kB LOG_BUFFER_SIZE, 64 log_strdup buffers, and increased the FIFO size in subsys/shell/shell_uart.c from 10 to 100, yet I get the following:
[code]

So 8 messages make it through to the console, while 39 were dropeed. How

[2018-12-12 12:53] jhedberg commented on #12040
@jukkar @tbursztyka FYI - I heard you had also had some issues with logging reliability

[2018-12-12 12:54] jhedberg commented on #11763
Also see #12040 which I just opened about dropped messages even though there should be more than enough buffers available.

[2018-12-12 13:36] aescolar opened #12043 "logger: Invalid pointer deference in samples/subsys/logging/logger/"
There is an invalid pointer de-reference in `cont_free (log_msg.c:34)` when running `samples/subsys/logging/logger/` which results in a segfault when running in the POSIX arch.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake ../samples/subsys/logging/logger/  -DBOARD=native_posix -GNinja
3. ninja
4. valgrind zephyr/zephyr.exe

**Screenshots or console output**

[2018-12-12 13:47] SebastianBoe commented on #4951
That is interesting. But we can't use fixdep.c because users are not required to have a host C compiler and we don't want to distribute it ourselves.

[2018-12-12 13:59] gofortime opened #12044 "[Question] [Blutooth Mesh] How proxy client create the proxy PDU"
Hi Johan,

Here is a question about the Bluetooth Mesh proxy function. I am trying to do some test on the proxy function of the Mesh stack. First, I have a device setup as proxy server (acts as provisionee, and has been provisioned in a mesh network). Then I tried to setup a proxy client, which could connect to proxy server device by discovering proxy GATT services/characteristics. And then I trie

[2018-12-12 14:04] tbursztyka opened #12045 "frdm_k64f + shell breaks Ethernet driver"
**Describe the bug**
As soon as the shell is being used, for some reason it does break the ethernet driver on frdm_k64f.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/dhcp4_client
2. add CONFIG_NET_SHELL=y in prj.conf
3. mkdir build; cd build
4. cmake -DBOARD=frdm_k64f
5. make
6. Put the result zephyr/zephyr.bin into the board (MBED drive)
7. via the console, once dhcpv4 has

[2018-12-12 14:51] oxymoron87 commented on #11932
I just thought that UI (menuconfig) should not let me to do so, but that's my opinion.  Not an issue anymore.

[2018-12-12 14:52] jhedberg commented on #12044
1. The proxy client is just another Mesh network node, and knows these values the same way as any other node knows them. I.e. it gets the initial values from a provisioner and then updates the IV Index whenever the proxy server indicates that there's been an update to it.

2. I wonder if Nordic's nRF Mesh app is Open Source since it's a proxy client. @carlescufi do you know? Another possibility is

[2018-12-12 14:59] qianfan-Zhao commented on #12045
A same question:  #11281

[2018-12-12 15:02] tbursztyka commented on #12045
Indeed, I remember now that issue. It's not solved yet? :/

Anyway, closing that one as duplicate.

[2018-12-12 15:03] #12045 closed

[2018-12-12 15:12] carlescufi commented on #12044
Regarding nRF Mesh and open source, I think @philips77 and @trond-snekvik should be able to answer that.

[2018-12-12 15:18] pfalcon commented on #11891
@GAnthony, https://github.com/zephyrproject-rtos/zephyr/pull/11438 introduced `struct socket_op_vtable`, https://github.com/zephyrproject-rtos/zephyr/pull/11438/files#diff-ade678982c222392003232afd1e25cd8R33 , it's supposed to supersede `struct socket_offload`.

Do you transfer socket offload maintainership to Vincent? Can you introduce him to these matters and invite to the discussions in these t

[2018-12-12 15:21] carlescufi commented on #11932
@oxymoron87 unfortunately there's a bit more coupling between Device Tree and Kconfig than it might be apparent. We are working towards improving the user experience, and we are aware of this issue, thanks for letting us know!

[2018-12-12 15:21] #11932 closed

[2018-12-12 15:52] aurel32 commented on #11255
I have just tried and simulated an issue by ignoring one Ethernet TX interrupt over 100. It doesn't work as it leads to a net buffer exhaustion before the semaphore exhaustion.

I think we should keep firing a delayed work after the timeout (defaulting to 5s) and just check all descriptors. If one is not empty, there has been a problem and we should just call tx_error_handler. As long as there is

[2018-12-12 15:55] pdunaj opened #12051 "LOG_PANIC never returns if RTT is disconnected"
**Describe the bug**
When RTT is connected LOG_PANIC ends at some point. When RTT is disconnected it does not.

**To Reproduce**
Steps to reproduce the behavior:
Use LOG_PANIC with JLink disconnected.

**Expected behavior**
LOG_PANIC should never lock.

**Impact**
LOG_PANIC deadlocks so application cannot finish its activities.

**Environment (please complete the following information):**
- rev `5

[2018-12-12 15:56] pdunaj commented on #12051
Hi @nordic-krch , do you know this issue?

[2018-12-12 15:58] laperie opened #12052 "Cannot build CAN driver sample for anything except nucleo_l432kc and stm32f072b_disco"
**Describe the bug**
samples/drivers/CAN cannot be built for any other boards except for nucleo_l432kc and stm32f072b_disco
If that is intended, then this probably needs to be mentioned in readme
I verified the build fails for the following boards (supporting CAN bus):
- colibri_imx7d_m4
- disco_l475_iot1
- mimxrt1050_evk
- mimxrt1060_evk
- nucleo_f302r8
- nucleo_f446re
- nucleo_f746zg
- nucleo_l4

[2018-12-12 16:05] pfalcon commented on #11586
@agansari

Gotcha, you want me to see if something else may be involved. Started this week with digging my development backlog, before holidays suddenly strike, but testing the above in my queue for this week. Thanks.

[2018-12-12 17:12] agross-linaro commented on #6389
We are going to shelve this for now.  Setting the priority approriately.

[2018-12-12 17:22] andrewboie commented on #11993
If we agree that these are truly APIs specific to the CCS811, I think you should define an include/drivers/sensor/ccs811.h (if it doesn't already exist) and define these APIs there. And put the function implementations in the ccs811 driver itself.

You can just define them as regular C functions. For the system calls, file an enhancement ticket on github and I can when I have some time re-work the

[2018-12-12 17:23] andyross commented on #12029
Hah, yeah, that was it.  I thought I'd added that whitelist patch after my final rebase, but I guess not.  It works on top of current HEAD.  Just pushed a rebased PR.  That was easy, thanks.

[2018-12-12 17:23] #12029 closed

[2018-12-12 17:51] GAnthony commented on #11889
Yes, option 2 would be a more generic approach.

Perhaps the first step would be to get net/lib/config/init.c to build if `CONFIG_NET_CONFIG_AUTO_INIT=y` even when `CONFIG_NET_CONFIG_SETTINGS=n`.

Regarding adding a new wifi_settings.c, it may not be necessary if the race in awaiting an `NET_EVENT_IPV4_ADDR_ADD `event were somehow fixed.
For example, `if !defined(CONFIG_NET_CONFIG_MY_IPV4_ADDR),`

[2018-12-12 19:10] GAnthony commented on #11891
@pfalcon, thanks for your comment.

Yes to both.
Note: Vincent is currently in "ramp-up" mode on Zephyr.    Going through getting started docs, etc.

I recommended updating the socket_offload struct with fcntl() as a solution for a few reasons:

1. There will be some ramp-up curve on Zephyr, and taking the approach in #11438 would be a bit more advanced, and in my view, unnecessary as a first step

[2018-12-12 19:19] GAnthony commented on #11891
To clarify a bit more, we are in the process of such 'transfer of ownership', but I would say this month is mainly taken up by "ramp-up" activities (oh, and I guess a bit of holiday time).    For this month, I should probably still be considered as "owner".

[2018-12-13 03:27] andyross opened #12058 "Lots of tests don't honor CONFIG_TEST_EXTRA_STACK_SIZE"
During the x86_64 work (which unsurprisingly is stack hungry) I was persistently running into trouble with tests creating stacks that were too small, and not honoring the kconfig variable that is supposed to allow the platform to request an extra chunk.

I got all the failures addressed, but at one point I stuffed an assert into the thread creation path that would error out if the thread stack siz

[2018-12-13 04:05] Jiurifei commented on #12044
I think you may hard code the input data if necessary. Anyaway, mesh proxy function is just like a pipe. So, only thing you need to do  is to get network encryption data produced by bt_mesh_send_net and use write without response function to send it. Also, you may have to change some judging conditions in proxy server project. That's just my sudden idea, it may not work.

[2018-12-13 05:50] Jiurifei commented on #12037
@SebastianBoe Thank you for your suggestion. In fact we don't gvie top priority to flash storage. From your advice, I have thought that ram control strategy is divided into two aspects: hardware and software. operating register is the operation at hardware layer. And if  I do nothing at software layer, the ram can also change, e.g, reset. Am  I right？ please let me know.

[2018-12-13 05:55] spoorthik opened #12059 "kernel.memory_protection.stack_random fails on quark_d2000_crb board"
**Describe the bug**
Assertion failure in the test kernel.memory_protection.stack_random

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=quark_d2000_crb ..
3. make flash
4. See error

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Zephyr SDK 0.9.5
 - Commit SHA: c012a288c

[2018-12-13 07:01] nordic-krch commented on #9043
i'm not sure about using `k_cycle_get_64()`. Takes more precious cycles and more memory in log message (current log message is pretty with 32 bytes). What about applying compile time known, power-of-2 divisor (shift) to `k_cycle_get_32()`.

Based on `SYS_CLOCK_HW_CYCLES_PER_SEC` logger kconfig can derive hidden config like:
[code]

then timestamp function would be:
`return k_cycle_get_32() / CONFI

[2018-12-13 07:25] chopin1998 opened #12060 "is there some code snap show how to enum multi usb hid interface in one device?"
i wanna use my cortex m4 as a usb device, i hope it has several(3-4) USB hid interface i can send sensor data to computer?

Is ther some example to show that?

[2018-12-13 07:50] agansari commented on #11586
@pfalcon well, I've managed to somehow fix the issue by letting PHY stabilize for 1ms; but i have no explanation what tcp/udp buffer initialization caused by CONFIG_NET_CONTEXT_NET_PKT_POOL will lock the driver. On the other hand SDK demos also have a busy wait for PHY stabilization after auto-negotiation.
I didn't push the change, I'm still looking for an explanation and I'm also debugging at #31

[2018-12-13 07:54] pfalcon commented on #11586
Well, please share it somehow, I'm ready to start testing this stuff.

[2018-12-13 07:57] agansari commented on #11586
Okay, I'll do another commit on the pull request.

[2018-12-13 08:09] roshanrajaratnam commented on #12044
@gofortime
1. IV Index is a property of the network. So the proxy client that does the provisioning needs to know and store the properties of the network. Nonce is something that is generated on the fly depending on the sequence number of a particular pdu, iv index  and other parameters.

2. Below is the links to the libraries on both Android and iOS

nRF Mesh for Android and iOS are on GitHub:
ht

[2018-12-13 08:10] alexanderwachter commented on #12052
This is because I have added the CAN device to the device tree only for those two boards.
I didn't wanted to add support to other boards than I've tested.
If someone owns one of this board, pleas test them and add the can device to the device tree.

[2018-12-13 08:19] SebastianBoe commented on #12037
It's difficult to understand what you are saying, but it sounds about right.

[2018-12-13 08:30] gamnes commented on #11368
Just some notes;
The include we get from board.h in sound/src/main.c, is the EXT_P0_GPIO_PIN - which is then used to define BUZZER_PIN, which is passed into the PWM driver.

If we are going to define the PWM SW outputs in DT; like we now do for the HW PWM in a SAMPLE_DT.overlay; then we should be able to get rid of the <board.h> include.

There isn't anything stopping us from changing SW PWM GPIOs

[2018-12-13 08:34] pdunaj commented on #12051
@carlescufi I am not sure this is priority low. If panic does not work we will not be able to print messages before immediate reset and this is the place where log messages are, if not most, then very useful (e.g. to indicate reason of failure).

[2018-12-13 08:42] nordic-krch commented on #12051
@pdunaj it's related to the fact that rtt log backend is missing detection for rtt host presence (like rtt console has). I has to be added there. I will try to attack this but probably not today.

[2018-12-13 08:43] agansari commented on #11586
@pfalcon Second commit for eth_mcux is in pull request #11882

[2018-12-13 09:09] aurel32 commented on #9043
That won't help, given `k_cycle_get_32()` is actually the one wrapping very quickly in less than a minute on board with a fast CPU clock. If we want to keep e 32-bit value for the logs, what about using `k_uptime_get_32()` instead? It only has a millisecond granularity, but wraps only in 49 days, which is probably acceptable for the logs.

[2018-12-13 09:23] nordic-krch commented on #9043
@aurel32 it's clear now that i've probably returned from sick leave too early :)

[2018-12-13 09:23] jhedberg commented on #9043
Wouldn't it be possible to use a combination of those two, i.e. k_uptime_get_32() to get the milliseconds and k_cyckle_get_32() to get the microseconds?

[2018-12-13 09:30] aurel32 commented on #9043
@jhedberg, I am not sure there is an easy relation between `k_uptime_get_32()` and `k_cycle_get_32()`. In addition to that, if the logger is limited to a 32-bit timestamp value, there is a trade-off to do between maximum time before wrapping and accuracy. A 32-bit value with microsecond resolution wraps in a bit more than 1 hour.

[2018-12-13 09:36] alexanderwachter commented on #12052
You also need to add the pin multiplexing for each board. This is done in pinmux.c
#ifdef CONFIG_CAN_1
	{STM32_PIN_PB8, STM32F0_PINMUX_FUNC_PB8_CAN_RX},
	{STM32_PIN_PB9, STM32F0_PINMUX_FUNC_PB9_CAN_TX},
#endif /* CONFIG_CAN_1 */

Use pins that are easy to connect from outside because you need some additional hardware, the so called CAN transceiver.
![can_transr](https://user-images.githubuserconte

[2018-12-13 09:43] jhedberg commented on #9043
@aurel32 right, that's indeed an issue. I was thinking microseconds would always be wanted since the logger renders them in the output by default. Probably this all needs to be configurable, i.e. does the user want microsecond accuracy but is willing to accept a wrap-around in a bit more than an hour, or is millisecond accuracy sufficient.

[2018-12-13 10:02] pfalcon commented on #11586
To cc: from https://github.com/zephyrproject-rtos/zephyr/pull/11882#issuecomment-446903746 , for me, it narrows down to CONFIG_SHELL_BACKEND_SERIAL_INTERRUPT_DRIVEN, which is on by default. Disabling that, I get reliable link-up detection. That includes samples/net/echo_server, the previous culprit.

But RX of packets still don't work for me.

The suspicion thus lies on some conflict between UART

[2018-12-13 10:14] agansari commented on #11586
@pfalcon thank you for testing and pin pointing a bug reproduction scenario. Will continue debugging.

[2018-12-13 10:54] pabigot commented on #11976
For watchdog I would want the user data to be a pointer to a noinit RAM object where I'd record information such as a stack trace showing what was executing when the watchdog occurred (I actually do this in my C++ Nordic framework).  Then that handler can be put in an application-independent library.

For GPIO, as I noted originally I can't get the information I need using `CONTAINER_OF` the GPIO

[2018-12-13 11:02] nvlsianpu opened #12065 "enormous .BSS size while building tests/subsys/fs/nffs_fs_api"
**Describe the bug**
While building the test suite for nrf52840_pca10056 encountered oversize of SRAM. last logg I've got is
[code]

Generally this test used to consume lot of RAM - but oversize by 60 KB is very unlikely for something which previously fit into memory.

**To Reproduce**
build the test against nrf52840_pca10056 using current master
(I have used 5ea8454e46208ab3fd7006e98b47ca15d5c7a4

[2018-12-13 11:42] alexanderwachter commented on #12052
If you don't want to connect two boards, you can also use loopback mode. But you have to connect the CAN transceiver because the CAN Tx pin is high in idle mode. If this pin is low for a certain time while initializing the device, it will fail.

[2018-12-13 11:46] #12043 closed

[2018-12-13 12:07] vikramuk opened #12066 "Observing a Python path Issue with Git based Compile"
**Describe the bug**
environment variables are sourced but Python version is different when/with cmake runs

**To Reproduce**
Steps to reproduce the behavior:
using Gitbash to set environment and start build.

**$ cmake -GNinja -DBOARD=stm32_min_dev**
_CMake Error at C:/ProgApps/cmake-3.13.1-win64-x64/share/cmake-3.13/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find Pyth

[2018-12-13 12:16] carlescufi commented on #12066
@vikramuk can you please describe what the issue is?

[2018-12-13 12:19] vikramuk commented on #12066
I know it might be a configuration issue.. but just want someone to update if there have been similar issues during start-up.

[2018-12-13 12:51] pizi-nordic opened #12068 "Use counter drivers as a system clock source"
At the moment the system clock source needs dedicated driver, which exports both tick interface (`z_clock_*()`) as well as cycle interface (`_timer_cycle_get_32()`). Any change in the area needs rework of several drivers (see the https://github.com/zephyrproject-rtos/zephyr/pull/10556 as the example).

Moreover, adding a new platform or extending current ones is also tricky. For example, the nRF5x

[2018-12-13 12:52] pizi-nordic commented on #12068
FYI: @carlescufi, @ioannisg, @nordic-krch, @nashif, @andyross, @andrewboie

[2018-12-13 13:10] derchrismakaio commented on #11928
@jarz-nordic could #11932, #11792 or this one please stay open? I think this is a real problem, especially keeping newbies in mind. I always wonder why there aren't more hints in code. In this case, for example, it could be something like

[code]
in uart_nrfx_uarte.c

Again, this is just an example and I think that it's not good to place it there because it statically checks for UARTE0 (instead of

[2018-12-13 13:11] pdunaj commented on #12068
The generic solution may however add additional sources of increased latency.
Still I guess the logic required for abstraction is already present here and there. Additional overhead will be probably smaller then could be anticipated from the first look here. And if properly implemented it will help with keeping the bugs away.

[2018-12-13 13:19] vaussard opened #12069 "iwdg_stm32.c: potential failure in wdt_set_config()"
I noticed one potential issue in iwdg_stm32_set_config() while reading the code.

**Describe the bug**

The function iwdg_stm32_set_config() is busy waiting while the IWDG is not ready (https://elixir.bootlin.com/zephyr/latest/source/drivers/watchdog/iwdg_stm32.c#L108).

There is a safety net, as it will return -ENODEV after IWDG_DEFAULT_TIMEOUT. But the comment of IWDG_DEFAULT_TIMEOUT is wrong, s

[2018-12-13 13:20] SebastianBoe commented on #12066
I don't think using 'bash' (MSYS) on Windows is supported. Can you reproduce the issue with cmd.exe?

[2018-12-13 13:22] carlescufi commented on #12066
@SebastianBoe `bash` is indeed not supported, only `cmd.exe`.

@vikramuk if you want to discuss the relevant forums are the mailing lists and Slack channels. Unless you have a clear description please close this issue and ask for help in the places mentioned.

[2018-12-13 13:31] pfalcon commented on #11891
As long as we accept that it's going to be "wasted work" in the end, yes ;-).

Well, it was merged in 2018-10, it exists as an implementation for much longer than that, and from day 1, a concern was raised that a proper offloading implementation should not hog the entire socket subsys for itself, there should be a way for different socket impls to co-exists, and https://github.com/zephyrproject-rt

[2018-12-13 13:33] #11109 closed

[2018-12-13 13:34] pfalcon commented on #11586
@agansari: It's rev A1, specifically the label says "SCH-30168 REV A1". Well, there's another, smaller label which says "700-30168 REV A".

The DIP switch is at 0101 as I mentioned. The only other jumper I touched is which selects external power supply via microUSB J9.

[2018-12-13 13:37] agansari commented on #11586
@pfalcon I have the same HW, but dip switch set to 0110 as i'm running from iTCM. Everthing is default as out of the box. Thanks!

[2018-12-13 13:46] galak commented on #11368
These would just go in the bbc microbit dts file.

[2018-12-13 13:52] jarz-nordic commented on #11928
@derchrismakaio : I am not an expert to say if this is good idea or not.
I would ask: @anangl , @galak  or @Mierunski , they were working a lot on Device Tree.

[2018-12-13 13:54] pdunaj commented on #12051
Hi @nordic-krch , I have pushed change with a fix if you can have a look.

[2018-12-13 13:56] pizi-nordic commented on #11976
In my opinion we should follow the simple rules:
- Every time we registering callback, we should be able to attach a pointer to user data.
- If callback comes from an subsystem, we should pass a pointer to given instance of the subsystem (driver, BT connection and so on).

I think this matches with the @pabigot proposal.

[2018-12-13 14:17] gamnes commented on #11368
But the BUZZER is an external component to the bbc microbit board; So if this is defined within the microbit DTS, then we are basically stating that every microbit board application (/sample) will use the SW PWM driver with an output on P0 for a BUZZER. Or have I misunderstood something there?

I guess it would make sense that every configuration of the BBC_MICROBIT board defines their own board D

[2018-12-13 14:20] rlubos commented on #11698
@jukkar Looks like this one was fixed in #11839, specifically with https://github.com/zephyrproject-rtos/zephyr/commit/6c291524bc38e038f62355b9cb87a7140beda5a0. I am no longer able to reproduce this (which makes sense because the fix seems very reasonable). I think we could close this one.

[2018-12-13 14:36] #11187 closed

[2018-12-13 14:44] rmstoi commented on #11698
@rlubos You are right, that PR fixed this issue. Thanks!

[2018-12-13 14:44] #11698 closed

[2018-12-13 14:45] pfalcon commented on #11586
Ok, set my DIPs (back) to this setting too and retested with dumb_http_server - no changes in behavior, link up works, RX doesn't.

[2018-12-13 14:58] tbursztyka commented on #11976
So the idea here is to fix something which is not broken, not to say that it is less memory efficient.

I am not against changes: the proposal would not raise the memory usage and would be performing better, it would be fine by me.

There is no reason to push for any convention on how callback in every API should be like.
We should stick to the case by case.

[2018-12-13 16:18] erwango commented on #8810
Could be solved using `board_runner_args` (eg: board_runner_args(nrfjprog "--nrf-family=NRF51") in board.cmake

[2018-12-13 16:21] galak commented on #8374
@aurel32 any updates on this?

[2018-12-13 16:23] carlescufi commented on #8979
Closing this since it's a result of flash wear

[2018-12-13 16:23] #8979 closed

[2018-12-13 16:25] carlescufi commented on #10672
@jarz-nordic could you please take a look at this issue?

[2018-12-13 16:30] #11967 closed

[2018-12-13 16:31] galak commented on #11967
Re-open if you feel this isn't related to HW.

[2018-12-13 16:31] jarz-nordic commented on #10672
@tautologyclub do you use the newest master? Do you disable interrupts before tx ready is indicated?

[2018-12-13 16:32] derchrismakaio commented on #10668
yes, sure

[2018-12-13 16:32] galak commented on #11723
@pizi-nordic can you open a new issue for the aspect of FAULTs not being treated as testcase fails.

Seems like we should close this issue as not-reproducible.

[2018-12-13 16:34] carlescufi commented on #9743
@nvlsianpu Andrzej could you please take a look at this failure?

[2018-12-13 16:38] galak commented on #4836
Due to lack of response going to close, feel free to re-open if needed

[2018-12-13 16:38] #4836 closed

[2018-12-13 16:40] galak commented on #8419
@MariuszSkamra is this still showing up with recent runs of PTS.

@jhedberg should be addressed with Vendor Extension Support.

[2018-12-13 16:41] galak commented on #10146
@MariuszSkamra Are you still seeing this with recent runs of PTS?

[2018-12-13 16:44] aurel32 commented on #8374
I am not very sure about what to do on the Kconfig side. I'll give it another try, and see what people think about it.

[2018-12-13 16:48] galak commented on #10760
Going to close this, please re-open if you can provide a reproducible test case showing the issue.

[2018-12-13 16:50] galak commented on #2627
From @jhedberg: This code has changed significantly since this bug was opened and this has probably be fixed.  Please re-open if you can reproduce with current code.

[2018-12-13 16:50] #2627 closed

[2018-12-13 16:59] jhedberg commented on #9720
Are you still having this issue or were you able to solve it? Here are some config options you could play with - I recommend also looking up their documentation to understand what exactly they do.
[code]

[2018-12-13 17:02] jhedberg commented on #11149
I took a look at the rfcomm.c code, and I'm not completely certain if the proposed fix is the correct one. We'd really need a comment from the code author for this. @jkanakkx would you have a chance to look at this?

[2018-12-13 17:16] galak commented on #8374
@ioannisg do you mind work with @aurel32 on this.

[2018-12-13 17:17] galak commented on #11149
Seems like a simple fix would be:

[code]

[2018-12-13 17:37] jhedberg commented on #11149
@galak it might seem so, but I'm not convinced after looking at the code that leaving the semaphore taken in this branch wasn't intentional. There are other places in rfcomm.c which will give it back as well.

[2018-12-13 18:01] laperie commented on #12052
@alexanderwachter, thanks!  Where do I get the board-specific information on registers and clocks?  For example, for said nucleo_l476rg.

[2018-12-13 19:13] SergeSmirnov commented on #9720
The issue has not been solved yet.
Unfortunately, in the latest releases of the master branch, the original example does not work at all, even without my changes.
Only lines added:
[code]

Logs
[code]

[code]

I checked it on the boards nrf52840_pca10056, nrf52810_pca10040 and nrf51_pca10028.

[2018-12-13 19:17] himanshujha199640 commented on #11149
Agreed!
And I added a similar comment in the script about the false positives:
https://github.com/zephyrproject-rtos/zephyr/blob/master/scripts/coccinelle/mini_lock.cocci#L3

Such cases are hard to script/automate in coccinelle with all nested functions
wounded up.

[2018-12-13 20:09] jarz-nordic commented on #10672
@carlescufi @tautologyclub : It was reported 17th of October, I think we already fixed it recently.
Please let me know if you still observe this issue.

[2018-12-13 21:36] hasslerb commented on #11016
I experienced the same issue with hciconfig. Instead I needed to bring up the controller with btmgmt per  [Nordic's documentation](https://devzone.nordicsemi.com/b/blog/posts/nrf5x-support-within-the-zephyr-project-rtos).

[code]
After this, hciconfig correctly showed the device as up.

I haven't looked into btmgmt's implementation. What is it doing that hciconfig is not?

[2018-12-14 01:49] cvinayak commented on #12039
@carlescufi @pizi-nordic I agree on the requirement, but this needs API discussion and porting across various architectures and SoC from multiple vendors.

[2018-12-14 02:20] gofortime commented on #12044
@jhedberg @carlescufi @Jiurifei @roshanrajaratnam

Hi guys, thanks for your kindly replies. Let me examine some details first according to your suggestions. Thank you again.

Thanks,
Vincent

[2018-12-14 07:31] tbursztyka commented on #11281
@pfalcon reassign it, it's definitely shell/ring buffer which is the issue here.

[2018-12-14 07:43] pfalcon commented on #11281
Indeed, goes to @nordic-krch .

[2018-12-14 08:05] pizi-nordic commented on #12039
@cvinayak: That is true. The implementation must be generic. I will try to raise this topic on API meeting.

[2018-12-14 08:39] chris-makaio opened #12088 "RFC: Device definitions / assignments in DTS"
### TL;DR
**Please show me a way to simplify device assignments in DTS**

### Details
Dear All,

sorry for raising an issue here, especially because I've already sent this to the mailing list, but I think it is more structured here (formatting, etc.).

I'm currently creating a driver for the max170xx fuel gauge family and I like to create a nice OOBE.

Here's what I did so far (concerning DTS).

C

[2018-12-14 08:46] alexanderwachter commented on #12052
@laperie since the nucleo_l476rg is based on a stm32L4* the can1: can@40006400 {...} is already defined in the stm32l4.dtsi . As far as I know, all stm32L4 cpu's have a can interface so I added it to the top layer dts include file. Registers an clocks are not a property of the board but the CPU so you will find that information in the CPU's data-sheets.

[2018-12-14 08:47] pizi-nordic opened #12089 "Unexpected fault during test does not cause test failure"
**Describe the bug**
Faults during tests are not treated as test failure:
[code]

**To Reproduce**
Trigger unexpected fault during test.

**Expected behavior**
Any unexpected fault should result in test failure.

[2018-12-14 08:48] pizi-nordic commented on #11723
@galak: https://github.com/zephyrproject-rtos/zephyr/issues/12089

[2018-12-14 08:53] spoorthik opened #12091 "tests/subsys/settings/fcb/base64 fails on NRF5 boards"
**Describe the bug**
Multiple sub tests fails on NRF5 boards:
test_config_save_3_fcb
test_config_compress_reset
test_config_save_one_fcb

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52_pca10040
3. make
4. See error

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Zep

[2018-12-14 08:57] erwango opened #12092 "Default Virtual COM port on nucleo_l4r5zi is lpuart1"
**Describe the bug**
According to board user manual, VPC for nucleo_l4r5zi is  lpuart1.
Cf http://www.st.com/resource/en/user_manual/dm00368330.pdf

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
Change zephyr,console and zephyr,shell-uart to lpuart1

**Impact**
No console output

**Screenshots or c

[2018-12-14 09:17] jhedberg commented on #9720
@SergeSmirnov what do you mean "doesn't work at all"? Your logs look normal to me.

Btw, I noticed a bug in your original code sample:
[code]
That should be:
[code]

I think the first form will make a single-char array out of the pointer to the string literal (taking the lower 8 bits of the 4 byte pointer). Also, note that using sizeof() on the string will also take the terminating null character

[2018-12-14 09:43] vikramuk commented on #12066
Hi,
  I still see the Error after running Zephyr-env.cmd

C:\ProgApps\Zephyr\samples\hello_world>cmake -GNinja -DBOARD=stm32_min_dev
CMake Error at C:/ProgApps/cmake-3.13.1-win64-x64/share/cmake-3.13/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find PythonInterp: Found unsuitable version "1.4", but required
  is at least "3.4" (found C:/ProgApps/Anaconda/python.exe)
Call

[2018-12-14 09:57] erwango commented on #12088
Hi @derchrismakaio ,

This is a valid question, and I think there is no perfect solution available right now, but some people are currently looking into it.
Maybe you can look at https://github.com/zephyrproject-rtos/zephyr/pull/11977 which might be a solution to your problem.

[2018-12-14 10:06] erwango commented on #12069
This driver will be deprecated when moving to new counter API.
Let's check this issue is taken into account when implementing the new driver (https://github.com/zephyrproject-rtos/zephyr/pull/11401).

[2018-12-14 10:47] erwango opened #12094 "Provide a way to flash and debug for nucleo_l4r5zi"
**Is your enhancement proposal related to a problem? Please describe.**
No flashing tool is available today for board.
It appears it has no mainline openocd support (even in upstream openocd).

**Describe the solution you'd like**
We should be able to enjoy usual flash and debug commands with this board.
Two possibilities use pyocd and/or segger.
If working, I prefer to have pyocd since it should

[2018-12-14 10:50] alexanderwachter commented on #12052
For the  NUCLEO-L476RG board you can use PA11 as CAN1_RX and PA12 as CAN1_TX.
Add following lines to the pinmux.c of your board:
#ifdef CONFIG_CAN_1
	{STM32_PIN_PA11, STM32L4X_PINMUX_FUNC_PA11_CAN_RX},
	{STM32_PIN_PA12, STM32L4X_PINMUX_FUNC_PA12_CAN_TX},
#endif /* CONFIG_CAN_1 */

[2018-12-14 10:54] SebastianBoe commented on #12066
could you run "C:> where python" ? And "--version" on each of the programs found.

And do the same for 'python3'.

We need to prove that it should be possible for FindPythonInterp.cmake to find an appropriate version.

[2018-12-14 11:00] vikramuk commented on #12066
I ran the same with Qemu [..](https://docs.zephyrproject.org/1.13.0/boards/x86/qemu_x86/doc/board.html)
 Directory of C:\ProgApps\Zephyr\samples\synchronization

12/06/2018  04:47 PM    <DIR>          .
12/06/2018  04:47 PM    <DIR>          ..
12/06/2018  04:47 PM               175 CMakeLists.txt
12/06/2018  04:47 PM                75 prj.conf
12/06/2018  04:47 PM             1,015 README.rst
12/

[2018-12-14 11:35] nordic-krch commented on #12040
The reason for logs being dropped is that logger thread gets burst of messages (>300 in that case). Sends them to all active backends (shell). Shell thread is waken up but since it's on the same priority it pends. As shell queue gets full, it starts dropping messages.

There is also a bug in shell that size of the fifo does not come from the macro parameter but from global config ( `SHELL_MAX_LOG_

[2018-12-14 12:11] erwango commented on #12052
@laperie

Can I ask how did you compute this list? I had a quick check on few of those and I couldn't find code enabling CAN for these boards.

[2018-12-14 12:14] #11356 closed

[2018-12-14 12:21] nordic-krch commented on #12040
My idea is to add option to shell if we want to have reliable logs or not in that shell. In future, we might have shell over other transports (bluetooth, thread, network, etc.) and in that case we might want to drop logs if transport is too slow for given amount. On the other hand fast, debugging transports (uart, rtt) are good candidates where we might want to force reliable logging. 'Reliable sh

[2018-12-14 12:30] jukkar commented on #12058
Thanks for analysis, I did not even know that we had TEST_EXTRA_STACK_SIZE option.

[2018-12-14 12:42] jukkar commented on #11531
The gptp sample issue is fixed already by commit eb9f13e3e2f8a97bbfaa0ae83705d610457b9251

[2018-12-14 12:44] jhedberg commented on #12040
@nordic-krch that sounds like a good option. Let me know when you have something testable for it.

[2018-12-14 12:56] jukkar commented on #8882
The samples/net have been converted so closing this.

[2018-12-14 12:56] #8882 closed

[2018-12-14 12:59] jukkar commented on #8187
Qemu has now native ethernet support so we could start to migrate away from SLIP. Closing this one.

[2018-12-14 12:59] #8187 closed

[2018-12-14 13:01] jukkar commented on #8017
Fixed by commit 68127a3100ab32f8d0060745b00e08a4b19c9698

[2018-12-14 13:01] #8017 closed

[2018-12-14 13:02] agansari commented on #11531
Thanks @jukkar so only the following issues remain:

Sample DHCPv4 client application
 * typo: ‘/etc/dhcpd/dhcp.conf’ -> '/etc/dhcp/dhcpd.conf'
gPTP Sample Application
 * -DCONF_FILE=prj.conf -> -DCONF_FILE=prj_base.conf (filename changed)

[2018-12-14 13:11] pfalcon commented on #8187
Well, closing is s bit of haste, given the "we can start". And this ticket is about serial output non-reliability, not just networking as affected by it. So, I'll likely reopen it when hitting issue again.

[2018-12-14 13:23] jukkar opened #12098 "Not possible to print 64 bit decimal values with minimal libc"
It is not possible to print 64-bit integer value using various print routines using either %llu or %lld in minimal libc.
The code in lib/libc/minimal/source/stdout/prf.c says that it only supports small subset of modifiers and "long long int" is not one of them.

I am asking this as in gPTP networking code there are lot of 64-bit values, and currently it is not possible to get those printed either

[2018-12-14 13:54] pabigot commented on #11737
Responding to [this comment](https://github.com/zephyrproject-rtos/zephyr/pull/11977#issuecomment-447284975) from @chris-makaio in this issue since the other is a PR with focused technical changes and the question added opens some wider issues better addressed here:
* impact of multiple `compatible` values on generated symbols
* selecting `periph` or `periph-0` as the alias name

I'm also away fro

[2018-12-14 14:05] chris-makaio commented on #11737
you mean using
`#ifdef DT_MAX170XX_MAX170XX_BUS_NAME`

instead of
`#ifdef MAX170XX_BUS_NAME`

?

I thought that the selection of the specific chip would still be done in Kconfig, which would generate for example
`#define CONFIG_MAX170XX_MAX17043`

I would absolutely do that if I had the chance to macro-cycle through all possible instances. Otherwise we'd had to ifdef sooooo many combinations - num

[2018-12-14 14:08] erwango opened #12102 "Use -DSHIELD= to enable building of a shield"
**Is your enhancement proposal related to a problem? Please describe.**
Current way of selecting a shield is to enable matching Kconfig symbol, cf https://github.com/zephyrproject-rtos/zephyr/blob/bd34448a7576c57d6212981c0f187c50a69f7c0c/samples/shields/x_nucleo_iks01a1/prj.conf#L2
This is no more possible if were going to run DT before Kconfig .

**Describe the solution you'd like**
We need an al

[2018-12-14 14:09] erwango commented on #12102
@SebastianBoe, would you have time to check this ?

[2018-12-14 14:59] SebastianBoe commented on #12102
I agree with this approach.

[2018-12-14 15:00] SebastianBoe commented on #12102
When the set of CMake variables and their inter-related dependencies grows in size we might want to consider creating a Kconfig tree specifically for DT configuration.

But for now CMake variables will have to do.

[2018-12-14 15:13] agansari commented on #11586
@pfalcon Hello, I've found the issue, pin initialization (PRE_KERNEL_2) on UART is done after driver (and interrupt initialization) is done (PRE_KERNEL_1).
I had to drop all busy waits in order to move to PRE_KERNEL_1. I had previously used busy waits to respect phy reset timing found in manual (10ms), but it looks like phy works with shorter resets.
I've tested with both dumb_http_test and echo_s

[2018-12-14 15:18] chris-makaio commented on #11737
doing some preprocessor magic, something crazy like this could be used for multi-instance driver initialization:

[code]

And for init:

[code]

uh this is so crazy...

Any way to avoid ifdef'ing all possible instances? I tried creating a "triple_concat" macro but it didn't work

[2018-12-14 15:40] pabigot commented on #11737
Regarding selection of specific chip in Kconfig: why? The board knows what chip's there; allowing the application configuration to specify/override it would only open the possibility of getting it wrong.  Plus the driver can/should probably figure out what chip's attached when it's initialized.

Regarding instance generation: that's the responsibility of the future tooling.  For now, `#ifdef` as [

[2018-12-14 15:50] chris-makaio commented on #11737
@pabigot your assumption that the board knows what chip is there might be true for the standard boards used around here. But I really would decouple "peripheral settings" from the board.
Just imagine someone taking an Arduino (okay, pretty uncommon, but take the Adafruit Feather M0 instead) as a base. They'll start with the plain board (which except some buttons and leds has no peripherals) and ad

[2018-12-14 15:58] chris-makaio commented on #11737
pinging @galak because he just replied to my mail related to this topic, #12088 and #11977

[2018-12-14 17:04] chris-makaio commented on #11737
Here's my proposal for a new DEVICE macro:

[code]

usage for drivers supporting multiple instances:

[code]

What I currently don't like with this is the requirement of passing the substring "DT_MAXIM_MAX170XX_MAX170XX" - how would a developer know what he/she should change it to for their own drivers?
This needs some explanation:

_How do I know which drv_name DEFINE to use?_
Look at your refere

[2018-12-14 17:44] andrewboie commented on #9882
[code]

What's the semantics of the _sys_ in the middle?
Can we just do:

[code]

[2018-12-14 17:47] andrewboie commented on #12098
Can you enable newlib as a workaround while you debug?

[2018-12-14 17:55] MaureenHelm opened #12109 "Combine duplicate kinetis watchdog early boot init code"
**Is your enhancement proposal related to a problem? Please describe.**
Kinetis K64 and KW2xD SoCs have duplicate watchdog init code

**Describe the solution you'd like**
Combine the duplicate code so it only exists in one place. Consider moving it from assembly into C.

**Describe alternatives you've considered**
The watchdog must be initialized or disabled within the first 256 bus clock cycles a

[2018-12-14 20:37] ioannisg commented on #11276
@carlescufi Will do

[2018-12-14 21:59] dhananjaygj opened #12114 "assertion using nRF5 power clock with BLE and nRF5 temp sensor"
**Describe the bug**
When nRF5 temperature sensor is used during BLE communication, assertion is hit in `temp_nrf5_sample_fetch()` with `-EBUSY` error (_temp_nrf5.c_ line 54). Assertion is hit during `clock_control_off()` since both BLE controller and nRF Temperature uses the same nRF power clock.

**To Reproduce**
Steps to reproduce the behavior:
1. Create sample BLE peripheral application with n

[2018-12-14 22:04] dhananjaygj commented on #12114
Below is part of the discussion with @anangl regarding this observation

then I think the assertion in line 54 is incorrect
I am not sure, because the clock_control API does not precise what error codes should `clock_control_off()` return
and from what I see in the code, the nrf5 clock_control returns `-EBUSY` when there is another module that requested the clock and still needs it, so the clock c

[2018-12-14 22:14] pabigot commented on #11737
I do, but the normal way of dealing with differences like you describe would be to create a project/application-specific overlay that extends the base system device tree with whatever hardware is added to support the application.  There are several examples of this in the `samples` directory.  You may, of course, do what you want with your own applications, but getting Kconfig involved seems unnec

[2018-12-14 22:43] andyross commented on #12058
Heh, neither did I until @andrewboie pointed me to it while I was whining about stack size tuning.

[2018-12-15 09:47] madandylau opened #12118 "printf doesn't work on qemu_cortex_m3 with newlib and arm gcc 2018q2 toolchain"
**Describe the bug**
Take the sample "external_lib" for example. It crashes with newlib and arm gcc toolchain. But it works well with the zephyr-sdk 0.9.5.

**To Reproduce**
1. source zephyr-env.sh, export ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb and export GNUARMEMB_TOOLCHAIN_PATH to my arm gcc toolchain path
2. cd samples/application_development/external_lib && mkdir build
3. cmake -GNinja -DBOARD=qem

[2018-12-15 10:42] chris-makaio commented on #11737
How would a driver be included then? By checking for DT_ in CMake?

[2018-12-15 10:51] SergeSmirnov commented on #9720
For more information I added a debug print to the file board.h.
[code]
This function is called in the main loop after receiving each message.

In older versions of Zephyr, a message from the publisher comes every 15 seconds. For example 23327.
[code]

[code]
Now this is not happening.
[code]

[code]

[code]

[code]
I compiled both options and compared the binaries. They match bit by bit.

In my fi

[2018-12-15 12:17] jukkar commented on #12098
Sure, I have been doing just that. But it is not just debug prints that are affected but also net-shell prints status etc information using %llu and %lld. It would be nice to get this working also with minimal libc so that we do not add this kind of artifical dependency to newlib. Anyway, if we are deprecating minimal libc in the future, I think this can be considered low priority.

[2018-12-15 13:32] Mani-Sadhasivam opened #12119 "64bit architecture support"
Hello,

Just wanted to know if there is any plan ongoing for adding 64bit architecture support for Zephyr? This question is not related to any SoC architecture but rather than specific to Zephyr core.

[2018-12-15 19:38] aurel32 commented on #12118
@madandylau If it works with the zephyr sdk but not with another toolchain, it's likely that's the wrong version of newlib is linked, probably the non-thumb version. If I am correct, using either the current git version of Zephyr or the patches from PR #11641 should fix the issue.

[2018-12-15 21:53] M1cha opened #12120 "Can't pair with nrf52832 running zephyr"
**Describe the bug**
I bought an nrf52832 on aliexpress and am trying to run zephyr on it using the "nrf52_pca10040" config.
schematics: https://ae01.alicdn.com/kf/HTB1kysEdhrI8KJjy0Fpq6z5hVXav.jpg?size=85239&height=783&width=1000&hash=374338387ec77f380a36ef738c15d7d8

A key difference is that the clock is connected to XC1/XC2 which is called `Synth` in the nrf52 sdk.
That's why I have to change `

[2018-12-16 00:52] mnkp commented on #11255
Even if an occasional interrupt was lost the semaphore count should be kept in sync with net buffer count. If it's not that's a driver bug. But maybe you meant net pkt count, i.e. the difference between data structures defined by NET_BUF_TX_COUNT and NET_PKT_TX_COUNT?

Sorry for a late reply. I'm no longer working with Atmel chips. That become a hobby project.

[2018-12-16 03:43] madandylau commented on #12118
It's exactly the problem. Solved with the current git version. Thanks @aurel32

[2018-12-16 03:43] #12118 closed

[2018-12-16 11:47] aurel32 commented on #11255
I wonder if we should, at least at a first step, remove this timeout error handling. It is there to prevent a lock-up if there is a bug in the driver or in case of hardware malfunction. Right now we know that the timeout bug happens with high traffic and actually causes the lock-up it is supposed to prevent. Also note that in case of hardware malfunction detected by the hardware (i.e. through a TX

[2018-12-16 12:11] mnkp commented on #11255
Thanks for pointing it out. That adds one more dimension to take into account. I'll have to think a bit more about the issue. Also, in case of sending small frames we could likely have net packet exhaustion before we run out of net buffers.

Yes, that's a good idea. We need more time to properly implement timeout, no need to keep the driver broken.

[2018-12-17 04:52] spoorthik opened #12122 "system.settings.nffs fails on NRF5 boards"
**Describe the bug**
system.settings.nffs at tests/subsys/settings/nffs fails on NRF5 boards.

Boards which I tested are: nrf52840_pca10056 and nrf52_pca10040. The tests fails on both the boards.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52_pca10040
3. make
4. See error

**Screenshots or console output**
[code]

**Environment (please complete t

[2018-12-17 05:42] nniranjhana opened #12123 "samples: cmsis_rtos_v1/philosophers faults with a FATAL EXCEPTION on esp32"
**Describe the bug**
The test in samples/portability/cmsis_rtos_v1/philosophers runs into a FATAL EXCEPTION on esp32 platforms.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=esp32
3. make
4. See error

**Screenshots or console output**

[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Zephyr SDK 0.9.5

[2018-12-17 10:42] yashi opened #12129 "Include: Clean up header file namespace"
**Is your feature request related to a problem? Please describe.**
Because Zephyr places a few header files under `include/`,  they could conflict application authors header files.

**Describe the solution you'd like**
Move all Zephyr header files under `include/zephyr/` and make other directories specified by `zephyr_include_directories()` not to interfere with application headers.  (I haven't ch

[2018-12-17 12:15] laperie commented on #12052
@erwango  I tried to build CAN sample for all boards supporting CAN hardware-wise. I couldn't find any specific document limiting an applicability of stm32 CAN driver  to stm32f072b_disco,. @alexanderwachter , is it described anywhere?

[2018-12-17 12:43] alexanderwachter commented on #12052
In principle it is not limited to any board but you need additional hardware (transceiver) . As far as I know there is no board that has this kind of hardware by default. If the MPU has a CAN module ob board you can use it but you need the transceiver.

[2018-12-17 12:43] lktc420 opened #12130 "Is zephyr targeting high-end phone or pc doing open ended computation on the roadmap?"
Is zephyr targeting high-end phone or pc with fast processor, large ram and do open ended computation on the roadmap? like support 64bit system.

I'm evaluating a user case like self-driving car central process system, it will have very powerful
hardware but still require hard real time support. Now most solution would be patch the linux with
some soft real time patch, but if there is a native rto

[2018-12-17 12:44] erwango commented on #12052
@laperie, ok. So indeed HW supported does not mean feature support enabled. If you look in details, you'll see that boards in general support wide variety of HW, enabling all of this is a significant amount of work. It's actually done step by step.

Usually, in board docs, you'll find "Supported Features" section which should document features enabled and validated for a board. Besides, it should

[2018-12-17 12:49] alexanderwachter commented on #12052
@erwango the problem is that none of this boards support CAN by default. Without the additional CAN transceiver the device can't be initialized. Maybe that fact should be stated somehow.

[2018-12-17 13:04] pfalcon commented on #12129
I can only +1 this, as I raised this issue almost 2 years ago in the thread linked in the description.

cc: @nashif, @galak, @carlescufi, @MaureenHelm and other TSC members.

[2018-12-17 13:22] carlescufi commented on #12130
@lktc420 well, it depends on what you mean by "high-end phone or pc". Zephyr already supports x86 and will soon support x86-64. When it comes to Arm, Cortex-A is not supported an will probably not be for a while.

[2018-12-17 13:45] erwango commented on #8684
@MaureenHelm , to answer your question, stm32 i2c driver supports i2c_burst_write. It first checks content and flags of 2 msg[] then build one single data message and set flags accordingly. This was not an obvious thing to do since indeed the API is not quite clear indeed (discussed here: https://lists.zephyrproject.org/g/devel/message/310).

[2018-12-17 13:50] gon1332 opened #12134 "I cannot see a Zephyr way to change the clock frequency at runtime"
**Is your enhancement proposal related to a problem? Please describe.**
I would like to have an abstract way to change the clock settings at runtime. E.g. the frequency, the clock source.

**Describe the solution you'd like**
An API, maybe an enhancement of `clock_control`? Or a proposal, reference if something like this is already supported.

**Describe alternatives you've considered**
Maybe the

[2018-12-17 14:03] dhananjaygj commented on #12114
I submitted a patch based on suggestions from @anangl here https://github.com/zephyrproject-rtos/zephyr/pull/12133

[2018-12-17 14:20] #2984 closed

[2018-12-17 16:47] M1cha commented on #12120
@cvinayak thanks for the tip, that seems to work.
What's the proper way to do this though? enabling the HF clock from my main function and never disabling it doesn't sound very power-efficient.

[2018-12-17 17:02] xnlcasad opened #12138 "Bluetooth API, improve documentation."
When using api's like bt_gatt_read_service(), bt_gatt_read() bt_gatt_attr_read(), etc, it is sometimes not obvious in which case they should be used. At least not without looking at their implementation.

I think the documentation can be more explicit in specifiying if a function is intended to be used on a server/client/both, and possibly specifying which att transactions are triggered when the a

[2018-12-17 17:04] ydamigos commented on #9174
PR #12117 was merged.

[2018-12-17 17:04] #9174 closed

[2018-12-17 18:03] laperie commented on #12052
Okay, I guess that at this stage the best thing would be to just update the documentation. Shall we add CAN as supported feature to nucleo_l432kc and stm32f072b_disco ?

[2018-12-17 18:58] pfalcon commented on #11586
@agansari:

Great work!

Confirming that echo_server now work the same way for me as dumb_http_test does, i.e. there's definitely an improvement with the latest version of https://github.com/zephyrproject-rtos/zephyr/pull/11882 .

But: I still don't have RX packets working ;-)). I don't know what to think. Maybe I have a defective board after all?

I just noticed that on iMX RT side, the orange LE

[2018-12-17 21:48] mnkp commented on #11976
That's a good argument in favor of having a callback provide both the device pointer and a generic pointer. However, in a real life cases I've seen where this situation had to be dealt with having a generic pointer only was never an issue. Here we have a situation where a single driver instance is using services of several instances of another driver (this could also be extrapolated on the applica

[2018-12-17 22:46] andyross commented on #11261
To clarify, the requirement here is one of API conformance.  So ignore everything about BASEPRI and PRIMASK for a second. Here are the rules:

1. The Zephyr idle loop disables interrupts using irq_lock().
2. It then calls either k_cpu_idle() (a function provided by the architecture) or _sys_soc_suspend() (which comes from the SoC layer) to effect the actual idle.
3. On return from either function,

[2018-12-17 23:22] mnkp commented on #11261
I was wondering if this may be the case but then there was the obvious hindrance

Doesn't it imply that the current API design is broken?

We are forcing user to deal with low level, critical, implementation specific parts of the kernel code. This is really non obvious and not easy to infer.

This code is common to all implementations of `_sys_soc_suspend()` function for Cortex-M3 and higher devic

[2018-12-17 23:32] mnkp commented on #11261
One way to fix the issue would be to have Zephyr idle loop disable interrupts using `irq_lock_before_sleep()` function (to be implemented). On architectures other than ARM it would map to `irq_lock()`.

The issue on how to call `irq_unlock()` without having a key argument remains.

[2018-12-17 23:34] andyross commented on #11261
Aesthetically, yes.  But in practice the lock is taken only in the one spot in the idle loop where we know the state.  Yes, it should be fixed.  It doesn't break anything in the meantime.

No... we're forcing the implementor of the SoC-specific suspend implementation to understand the details of the kernel implementation.  I don't see that this is so weird.  This isn't app code here :)

Sounds lik

[2018-12-17 23:39] mnkp commented on #11261
The problem with the BASEPRI is that if we use it before calling WFI instruction the device will never wake up. We essentially mask out all the interrupt sources that we could use to wake the device up. The only way to go to idle state with interrupts disabled (and have a chance to wake up) is to use PRIMASK.

[2018-12-17 23:47] mnkp commented on #11261
I understand that we should use BASEPRI in all other cases, no doubts there. It's just not appropriate when we want to put the device to sleep.

[2018-12-18 01:05] ulfalizer opened #12144 "There's lots of references to undefined Kconfig symbols"
Here's a list of Kconfig symbols that are referenced somewhere but not defined in the (main) Kconfig tree, sorted by name and with the locations where they're referenced. If you see something you recognize, then please submit a PR to remove it.

`git grep` is nice for finding references. If you want to see when something was removed, `git log -p -S'config FOO'` often works (search history for comm

[2018-12-18 02:19] lktc420 commented on #12130
Thanks for the reply!
I mean generally is the goal and roadmap of zephyr would concern much on high-end computation.
For example, like the google zircon rtos kernl claim it self:
https://fuchsia.googlesource.com/zircon/+/master/docs/zx_and_lk.md
"On the other hand, Zircon targets modern phones and modern personal computers with fast processors, non-trivial amounts of ram with arbitrary peripherals

[2018-12-18 02:47] pabigot commented on #11976
This is a "real-life case" that applies to two different LiPo charger ICs used on Nordic-based boards (Thingy52 and Particle).  The signals are coupled: you can't correctly interpret the charging status unless you know the external voltage status.  The application should not be responsible for knowing that and implementing the necessary logic (I've done that; it's ugly).  We'll undoubtedly argue t

[2018-12-18 04:58] spoorthik opened #12146 "tests/kernel/arm_irq_vector_table fails on NRF5 boards"
**Describe the bug**
ISR0 is getting called infinitely.

The tests fails on  nrf52840_pca10056 and nrf52_pca10040.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52840_pca10056 ..
3. make flash
4. See error

**Expected behavior**
[code]

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Lin

[2018-12-18 07:07] spoorthik opened #12147 "tests/kernel/interrupt fails on quark_se_c1000_ss_devboard"
**Describe the bug**
Assertion failure on quark_se_c1000_ss_devboard as the test assigns IRQ priority greater than max limit.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=quark_se_c1000_ss_devboard
3. make
4. See error

**Screenshots or console output**

[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Z

[2018-12-18 08:06] erwango commented on #12052
@laperie: sure, I'll do it by today

[2018-12-18 08:47] Jiurifei opened #12150 "Power management on nRF52 boards"
I want to make my nRF52840 board work into low power mode.
So, in order to test the power consumption faster. I imitated the example: boards/nrf52/power_mgr, and used `nrf_power_task_trigger(NRF_POWER_TASK_LOWPWR);` to make device enter low power mode. But it didn't seem to work, the power dissipation was always the same. Then I took the  method of nordic SDK  into consideration, using `__WFE(); _

[2018-12-18 08:48] agansari commented on #11586
@pfalcon yes that isn't the behavior i'm observing, unless there's an actual Rx packet i don't see any led activity, also it's in sync with the networking adapter's leds.

[2018-12-18 09:19] spoorthik commented on #9960
Same test also fails on nrf52840_pca10056, nrf52_pca10040, nrf51_pca10028 and  quark_se_c1000_devboard.

[2018-12-18 09:37] dhananjaygj commented on #3192
There is also a scenario where this might be useful. I am currently facing a scenario where connected peer continuously NACKs at some point due to compatibility problems. If we send too many packets within a connection interval this can occur on some chipsets. If we again access the gatt_notify then it blocks forever since the last PDU is still being retried. So for error scenarios like this BLE s

[2018-12-18 09:53] nordic-krch commented on #11976
@mnkp i got convinced to have device and user data. There is rather no additional cost of having both. It's only added cost of user data and we know that we want to have that. Interrupt handler will anyway need to have access to device struct so it can pass it to the handler without a cost.

[2018-12-18 09:55] cvinayak commented on #12120
@M1cha i just looked at schematic, you "shall" use LF RC, not synth. Its not very useful to use synth unless there are other requirements to keep HF clock always on.

[2018-12-18 10:00] cvinayak commented on #11841
@alexanderwachter @carlescufi this is a bug and needs fix (redesign, as I dont like the current implementation anyway) which I will work alongwith the design to be put in place for the split architecture work.

[2018-12-18 10:01] carlescufi commented on #11841
@cvinayak so this will be fixed in the new split controller only?

[2018-12-18 10:06] cvinayak commented on #11740
@PhilippFinke if I understand right, priority level 7 rolls over to being level 0, as in nRF52840 the levels are offset by 1, refer to https://github.com/zephyrproject-rtos/zephyr/blob/master/include/arch/arm/cortex_m/exc.h#L37

@carlescufi correct me please.

[2018-12-18 10:10] PhilippFinke commented on #11740
CONFIG_ZERO_LATENCY_IRQS is not set in my case.

[2018-12-18 10:18] m-nilsson commented on #11296
@cvinayak Thanks a lot!

[2018-12-18 10:31] erwango commented on #12102
@galak , I'm working on #12092 which is more tricky than expected.
Will probably not be able to address this point before next year

[2018-12-18 10:33] erwango commented on #10904
@pabigot , IIUC your recent comments, you changed your mind about use of binding-name.
Can you update your though in this PR, so we don't carry ideas that are not up to date anymore?

[2018-12-18 11:02] rlubos opened #12154 "802.15.4 6LowPAN stopped working with multiple samples"
**Describe the bug**
6LowPAN over 802.15.4 stopped working recently in multiple samples. A quick bisect showed up that the regression was introduced with #11374. Bisecting stopped specifically at commit https://github.com/zephyrproject-rtos/zephyr/commit/66cc034a34432fd3df462fa1fe23627b10948891.

For instance in echo_server, during initialization sample throws a bunch of errors:
[code]

I've obser

[2018-12-18 11:03] rlubos commented on #12154
@tbursztyka FYI

[2018-12-18 11:39] carlescufi commented on #11740
Can you share a code snippet on how you are using it?

Also please give us more information about the assert itself. File and line number if possible.

[2018-12-18 11:41] carlescufi commented on #11296
Solved

[2018-12-18 11:41] #11296 closed

[2018-12-18 11:45] mnkp commented on #11976
That's one more voice in support of the proposal described in this issue. Surely, we will stick to the majority decision or what maintainers deem a better approach.

I'll copy the reply I gave elsewhere

Having long parameter list makes code slower, always, for all users. If there is a corner case the API doesn't support well there is some overhead for this specific case. In my opinion making a pe

[2018-12-18 11:55] mnkp commented on #11976
@pabigot I don't find this answer relevant to my previous argument of using two different callbacks. Maybe I misunderstood your problem or you my argument. Do you maybe have some code laying around you could point me to so I could analyze and understand your situation better?

[2018-12-18 11:56] pfalcon commented on #11586
Not fully fixed by #11882, reopening.

@agansari: Thanks for describing the LED pattern you see, definitely something strange happens on my side. I also tried to plug iMX RT into my home router instead of my laptop, and the blinking pattern is the same.

[2018-12-18 11:59] PhilippFinke commented on #11740
I get the LL_ASSERT in file ctrl.c line 5649. Here's my code that initializes and handles the timer interrupts.
[drvLedMatrix_timer.txt](https://github.com/zephyrproject-rtos/zephyr/files/2690367/drvLedMatrix_timer.txt)

[2018-12-18 12:12] pabigot commented on #10904
@erwango No, I didn't change my mind about `binding-name`; I still think it's a misuse of an existing name, inconsistent with other uses already present in Zephyr.  But @galak told me `label` was too entrenched to replace, and that its mis-use would go away when the tooling is complete.  Not sure what that implies in the context of this issue and how the requirements and their elicitation are bein

[2018-12-18 12:14] JuricaResetar commented on #12150
Hi.

I'm working on nrf52832 board and had no problem with sleep modes. I used the samples/subsys/power/power_mgr example and it works great!

The problem I have is understanding the code in details. For example, where in the documentation I can find details about sys_pm_notify_lps_entry function...?

Thank you.

[2018-12-18 12:34] Jiurifei commented on #12150
@JuricaResetar Thank you for your tip.  As far as I know, the location of `sys_pm_notify_lps_entry` is zephyr/subsys/power. And the whole function is  shown below:
`void sys_pm_notify_lps_entry(enum power_states state)
{
	printk("Entering Low Power state (%d)\n", state);
}
`
I don't understand what you want to know about this function, hope it can help.
What's more, have you tested the electricity

[2018-12-18 12:40] pabigot commented on #11976
No code that's self-contained enough to post here.  Torex XC680x chargers have an active-low Nch open drain charging state output.  The system is charging only if CSOn reads low and EXT_POWER reads active. If EXT_POWER is inactive CSOn will always be low but in that case it's not charging.  So to assess a state of "charging" you need both signals.  The natural place to do that is a single callback

[2018-12-18 12:44] JuricaResetar commented on #12150
@Jiurifei I know what function does and when it's called. It obvious :D But my problems is, the function is not listed in the official documentation (I tried search also hehe). I worry how many functions are there which are not listed in the documentation... should I read all examples first...? Just rhetorical question :D
I've tested the power example on small custom made BLE modules, without any

[2018-12-18 12:45] HesselM opened #12159 "bt_gatt_attr_read_chrc: no characteristic for value"
When performing a bt_gatt_discover with BT_GATT_DISCOVER_CHARACTERISTIC, the read-callback in the user_data, sometimes shows the message:
`bt_gatt.bt_gatt_attr_read_chrc: No value for characteristic at 0x<XXXX>`

In `bt_gatt_attr_read_chrc`, the following tries to read the value-handle:

[code]

`bt_gatt_attr_next(..)` does some swapping(?) of the user_data and the attribute-parameters, which are

[2018-12-18 13:10] nvlsianpu opened #12160 "settings: NVS back-end"
NVS was designed as ultra simple FS which is supposed to store configuration values very effectively.
It will be nice to have back-end for it - it can be used instead of fcb back-end. I expect similar complexity, but much  better performance as NVS is traversable in both direction and It is able to take care about entry overriding by the implementation.

[2018-12-18 13:16] carlescufi commented on #12150
@JuricaResetar thanks for helping out.
@Jiurifei are you satisfied with the response?

[2018-12-18 13:20] carlescufi commented on #11740
So you are using this code:

[code]
This is a priority of 7 as you mentioned, so it seems unlikely that this would be the issue.

@cvinayak is there another cause for hitting this assert: https://github.com/zephyrproject-rtos/zephyr/blob/d62e861a01a2f4455ae89d105aa9dbc4bef501c5/subsys/bluetooth/controller/ll_sw/ctrl.c#L5649 other than added latency?

[2018-12-18 13:21] carlescufi commented on #11740
@PhilippFinke could you please try out this PR which contains a long list of fixes for 1.13?

https://github.com/zephyrproject-rtos/zephyr/pull/12135

[2018-12-18 13:37] rmstoi opened #12162 "net: icmpv4: Zephyr replies to ICMPv4 echo request with broadcast destination IPv4 address"
Zephyr replies to ICMPv4 echo request with destination IP address set to 255.255.255.255 broadcast address.

These packets should be dropped instead.

[icmpv4-bcast-dest.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2690655/icmpv4-bcast-dest.pcap.gz)

[2018-12-18 13:40] SebastianBoe commented on #12144
PR submitted for CONFIG_LTO: https://github.com/zephyrproject-rtos/zephyr/pull/12163

[2018-12-18 13:47] tbursztyka commented on #12154
Will take a look

[2018-12-18 14:05] rmstoi opened #12164 "net: icmpv4: Zephyr drops ICMPv4 packet with correct checksum 0"
Zephyr drops ICMPv4 packet with correct checksum 0. Message with correct checksum must be accepted and replied to.
[icmp4-chksum0.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2690777/icmp4-chksum0.pcap.gz)

[2018-12-18 14:13] nvlsianpu opened #12166 "settings: documenting of behaviour when settings_load is called"
For users it is not clear how this works. Especialy that certain key might been loaded multiple times.
Add documentation for that.

Additionally try to fulfill not-fixed@rakons comments to the settings form #9521

[2018-12-18 14:18] Jiurifei commented on #12150
@JuricaResetar  Well, you know, open source project is usually like this :D. And as I said before, I have made my device get into deep sleep mode successfully. The power consumption was same as yours. But  what I care about is the electricity in other situation, like `SYS_PM_LOW_POWER_STATE`. Because, I want to let my board work in system on mode. I need to keep RTC running.So, I would appreciate

[2018-12-18 14:37] pabigot commented on #12129
Any chance this could get done before 1.14?

[2018-12-18 16:31] carlescufi commented on #12129
@pabigot I have now marked it TSC, so it will be reviewed during the next call

[2018-12-18 18:06] psidhu commented on #12094
Just leaving this here for anyone working on this: http://openocd.zylin.com/#/c/4777/

Changes are merged into openocd. Updating the SDK is required.

[2018-12-19 00:46] vanti opened #12170 "logging: previous changes to dropped message notification break wifi sample debug"
**Describe the bug**
The wifi sample can no longer be debugged in gdb with CONFIG_XIP=n on CC3220 after the changes in commit id a211c42a2976592aa57e8076997cc5e81963f3c6, according to 'git bisect'. The example prints out the uart prompt, then hits a fault (__usage_fault is executed).

Specifically, adding the else clause in msg_process() from subsys/logging/log_core.c strangely introduces the fail

[2018-12-19 01:05] turon opened #12171 "ot: ping ten times will crash"
**Description**
 I observed that an openthread device initiating a ping of 10x 100 bytes will crash:

```ot cmd ping ff02::1 100 10```

**Build**
Steps to reproduce the behavior:
1. cd samples/net/echo_client
2. mkdir -p build/nrf52
3. cd build/nrf52
4. cmake -GNinja -DCONF_FILE="prj.conf overlay-ot.conf" -DBOARD=nrf52840_pca10056 ../..
5. ninja
6. ninja flash
7. sudo minicom -D /dev/ttyACM0 -b 11

[2018-12-19 06:47] andyross commented on #11722
Anything involving k_uptime_get().   Ticks are assumed to be regular, otherwise the wall clock time you retrieve for computing delays and human-space timeouts are going to be wrong.

I guess I'm not seeing the problem here.  We only show a difference between the two schemes in our code when an interrupt has been delayed for a significant fraction of a tick.  That's thousands and thousands of cycle

[2018-12-19 10:34] tautologyclub commented on #10672
I disabled tx interrupt:

[code]

I'll try to rebase and check when I have time. You don't happen to have a commit reference on hand, right?

[2018-12-19 10:49] jarz-nordic commented on #10672
I see two problems here. First of all you shall not call `uart_fifo_fill` once interrupts are disabled - uart_irq_tx_ready funciton returns false. It is against UART API.

You need to change order to:
[code]
Next we have had a problem in our driver that calling `uart_irq_tx_disable(dev);` immediately disables UARTE transmitter. As a result you will observe that not all bytes have been shifted out.

[2018-12-19 10:52] pizi-nordic commented on #11722
I think that there **is** significant problem in `z_clock_announce()`, as current implementation adjust the the time reference of `_add_timeout()` . Here is the scenario:

1. The `z_clock_announce()` is called with argument ticks > 1.
2. The `z_clock_announce()` performs first iteration of the while loop. It finds expired timeout and calls the handler.
3. The timeout handler is adding new timeout

[2018-12-19 12:20] tautologyclub commented on #10672
I'll try to pull the changes.

Btw, here is a more complete snippet:

[code]

But you're saying that this is incorrect, but why? Is it because Nordics implementation of `uart_fifo_fill` uses `uart_irq_tx_ready()` internally and depends upon it returning true, or is it "always" wrong?
I tried to follow the docs in `include/uart.h` for `uart_fifo_fill`, but they aren't very clear here. It only state

[2018-12-19 12:20] baw-serafin commented on #3192
As far as I understood @jhedberg this should be handled by zephyr itself at least for nordic chips. If there is no scan job or connection the subsystem should be deactivated. (That's what I understood at least)

[2018-12-19 12:34] jarz-nordic commented on #10672
I bet that our UART and UARTE driver can behave in different way in your scenario. It is very likely that UART will work because transmitter is not switched off on `uart_irq_tx_disable`. This feature has been implemented only for UARTE to increase power efficiency according to chip specification.

[2018-12-19 12:38] jhedberg commented on #3192
@baw-serafin yes, that's what I've understood as well. A `bt_disable()` API would be mostly beneficial for platforms where the HCI transport itself consumes power even when the controller and host are otherwise completely idle.

[2018-12-19 12:57] rmstoi opened #12179 "net: arp: Zephyr does not use MAC address from unicast ARP reply"
If Zephyr receives unrequested unicast ARP reply it does not update translation table. So, instead of using MAC address from request packet (ICMP, TCP, UDP) in response, it should use MAC from unrequested ARP reply.

[unreq-arp-reply-unicast.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2694903/unreq-arp-reply-unicast.pcap.gz)

[2018-12-19 13:37] #12040 closed

[2018-12-19 14:25] pfalcon commented on #8204
This appears to be duplicated of https://github.com/zephyrproject-rtos/zephyr/issues/10972, closing this as that one is closed.

[2018-12-19 14:25] #8204 closed

[2018-12-19 15:06] tautologyclub commented on #10672
I see your point re: `uart_irq_tx_ready`.

Btw, I'm actually using UARTE (UART_1, interrupt-driven). Interesting to note is that the upstreamed `wncm14a2a.c` driver calls `uart_fifo_fill` with seemingly reckless abandon, and that modem is included in the nrf52840_pca10056 dts. Weird.

[2018-12-19 15:51] rmstoi opened #12186 "net: arp: Zephyr does not use MAC address from unicast ARP reply with wrong target MAC"
If Zephyr receives unrequested unicast ARP reply with wrong target MAC it does not update translation table. So, instead of using destination MAC address from request packet (ICMP, TCP, UDP) in response, it should use MAC from unrequested ARP reply.

According to RFC 5227:

[unreq-arp-reply-wrong-tgt-mac.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2695533/unreq-arp-reply-wrong-tgt-

[2018-12-19 15:53] erwango commented on #4315
Done here:
https://github.com/zephyrproject-rtos/zephyr/blame/master/boards/arc/em_starterkit/Kconfig#L24

Closing

[2018-12-19 15:53] #4315 closed

[2018-12-19 16:13] erwango commented on #8810
@finikorg , can you have a try with upstream openocd?
Seems that they(ve done some changes on interface/stlink-v2.cfg/ interface/stlink-v2-1.cfg which are both redirecting to interface/stlink.cfg.
I hope this should solve our issue

[2018-12-19 16:57] andyross commented on #11722
Oh oh, I see it now.  Actually this has nothing to do with adding timeout entries inside a handler (which really is as intended, I swear[1]).  This affects the loop any time there are two or more timeouts scheduled to happen in the same tick.

The loop will adjust the notion of "current time" at the end of the loop iteration, meaning the next timeout which "should" have happened at the same time a

[2018-12-19 17:20] karthikprabhu17 opened #12190 "Mbedtls MBEDTLS_PLATFORM_STD_SNPRINTF issue"
**Describe the bug**
I just pull latest from master and this happened:
Trying to build MQTT app which uses mbedtls  and I keep getting missing Mbedtls functions

**/Users/kprabhuv/new_zephyr/ext/lib/crypto/mbedtls/library/platform.c:123:64: error: expected expression before ';' token
                           ... ) = MBEDTLS_PLATFORM_STD_SNPRINTF;

[2018-12-19 17:24] andyross opened #12191 "Nested interrupt test has very poor coverage"
Discussion in #12148 showed that the nested_irq test item in tests/kernel/interrupt needs some work.

Right now we're running it only on ARM and ARC, despite the fact that nested interrupts are supported on all of our architectures and we **REALLY** want to be testing this pervasively.  (It's hard!  I've done two implementations of nested interrupt entry, and messed it up both times in ways that l

[2018-12-19 17:51] karthikprabhu17 commented on #12190
Just verified this happens only on the MAC and not on an Ubuntu machine!

[2018-12-19 19:32] vanti opened #12192 "include: __assert: enabling assert causes build errors"
**Describe the bug**
When building the http_get sample for cc3220sf_launchxl, errors were observed:
    In file included from /home/vwan/zephyr/include/kernel_includes.h:22:0,
                     from /home/vwan/zephyr/include/kernel.h:17,
                     from /home/vwan/zephyr/include/logging/log_msg.h:9,
                     from /home/vwan/zephyr/include/logging/log_core.h:9,

[2018-12-19 23:02] GAnthony commented on #12192
FYI: @kumar, there is a sample.yaml in this http_get sample directory, which I would have expected to catch this build error.   Is it not correct?
Are the Zephyr build tests building *anything* for cc3220sf_launchxl?

[2018-12-20 07:21] mike-scott commented on #10672
@tautologyclub Ugh, you are correct that 'uart_fifo_fill' was sloppily used in the modem driver.

It was changed from 'poll_out' implementation at the last minute and it looks like it's broken on nRF52840.  Oddly, it works on NXP and STM boards. :/.

[2018-12-20 08:11] pdunaj commented on #11722
I thought about it for a minute and found two examples with slightly different needs.

1. square wave generator
If implemented by simple swap, missing a callback will switch phase and affect the correctness of the signal.
E.g.
[code]
If we skip missed callbacks but keep correct information about time, the phase change problem could be corrected as state can be derived from system time (i.e. ticks)

[2018-12-20 11:04] Jiurifei commented on #12150
If anybody has tested the power consumption in the state of  `SYS_POWER_STATE_CPU_LPS` or `SYS_POWER_STATE_CPU_LPS_1` ? Please let me know, thank you very much!

[2018-12-20 12:39] laperie commented on #12052
I can confirm that event without CAN transceiver (which I am hoping to get right after NY) CAN sample works on STM32F072B_disco

[2018-12-20 13:40] andyross commented on #11722
We may just need to table this discussion for now.  The cases you mention are clearly realtime applications.  This behavior happens only when you miss **more than a whole tick** due to interrupt delay, which is going to wreck any waveform generator or ADC sampler right out of the gate.

The case I'm looking at is someone implementing a "clock" (or clock-like thingy) with k_timer, which is (1) not

[2018-12-20 14:04] pizi-nordic commented on #11722
I see a bit different problem: Due to the "corrections" timers scheduled in some specific time are fired prematurely. As result, the time flow in application is not "steady".

I think that we will have to move handling periodic timers down to `_add_timeout()` to satisfy both @pdunaj and @andyross. If the timeout is periodic, reschedule with correction, if not, do not apply correction.

[2018-12-20 14:30] ioannisg opened #12199 "Add support for Nordic Semiconductor nRF9160 SoC and its DK"
This is an umbrella issue for adding support for Nordic Semiconductor nRF9160 in Zephyr tree. nRF9160 is the newest SoC from Nordic Semiconductor, featuring and ARMv8-M (Cortex M33) core, with support for ARMv8-M Security Extension.

Tasks

- [x] Update Nordic nRFx to version 1.5 which includes support for nRF9160 (@anangl)
- [x] DTS header files for HW representation (and structure for including

[2018-12-20 14:35] carlescufi commented on #11120
Closing since this is expected

[2018-12-20 14:35] #11120 closed

[2018-12-20 14:37] cvinayak commented on #11841
@alexanderwachter commenting the assert has unblocked your usecase right? I think subsequent code must be handling/deferring the data resize gracefully, right?

[2018-12-20 14:40] carlescufi commented on #11740
@PhilippFinke the priority needs to be 0-6 and not 7, because Zephyr reserves a priority for itself. Can you try with 6?

[2018-12-20 14:49] ioannisg commented on #12199
CC @galak @agross-linaro

[2018-12-20 15:14] pabigot commented on #10904
It's very hard to see what the requirements are in this issue, but I think this one is missing:

There are chips that provide features that are covered by multiple subsystem driver APIs.  An example is the SX1509B IO extender, which is currently in Zephyr as a GPIO device, but also has an LED controller capability that appears to be compatible with PWM devices.  The nrf52_pca20020 has LEDs that ar

[2018-12-20 15:25] rgundi opened #12201 "Enabling CONFIG_LOG is throwing exceptions on intel_s1000"
When CONFIG_LOG is enabled for intel_s1000, the program crashes with a ton of exceptions. This failure can be seen from tests/boards/intel_s1000_crb as well as from samples/subsys/usb/dfu. This failure has become more pronounced since the addition of the Flash driver (spi_nor) which sits on the SPI bus.

[2018-12-20 15:40] b0661 commented on #10904
I think this is not about "multiple distinct device instances associated with a single node" but about a device that combines different "sub-devices" of different type. This can  already be described by creating a sub-node for each sub-device. A combi-driver still can handle all the sub-devices.

[2018-12-20 15:44] pabigot commented on #10904
@b0661 example?  In zephyr or in linux?  Note that this might not naturally be thought of as multiple devices bundled into one IC.  The PWM operations use the same IO signals as the GPIO, so using them in one blocks them from use in the other.

[2018-12-20 16:07] b0661 commented on #10904
Yes. If you blindly activate both you might have a clash. But there is the pinctrl-[x] directive to do fine grained control on the usage of pins. pinctrl-[x] should be used for the pin allocation in such situations.

Linux does have the pin control subsystem where you can manage pin allocation and can detect such clashes at initialisation time or run time. Zephyr is currently missing it.

My concl

[2018-12-20 16:21] ioannisg commented on #12199
Pull request for the DTS headers: #12202

[2018-12-20 16:43] b0661 commented on #10904
The initial reason why I suggested code genereration was to enable pin control using DTS (for pin initialisation and during runtime). The  "plan beyond "we should"" is already implemented and working but needs code generation to be upstream.

[2018-12-20 16:54] andyross commented on #11722
Right, the premature timeouts are a bug.  Fixing that right now.

[2018-12-20 17:04] mike-scott opened #12203 "openthread: bind IP is randomly selected causing off-mesh communication problems"
**Describe the bug**
OpenThread generates quite a lot of unicast and multicast IP addresses for MeshLocal, default route, and other routable prefixes.  When it comes time for Zephyr to bind to a local IP for creating a connection to an external service, there just isn't enough logic to select the correct IP.
This results in communication problems when dealing with off-mesh services.

I can place a

[2018-12-20 17:08] mike-scott commented on #12203
@rlubos @tbursztyka @jukkar In my head, I could see solving this by allowing L2 layers to override the method that is used by the interface to determine the binding IP.  That way the OpenThread L2 layer can do the necessary work to look at routing prefixes which match the local IPs, etc.

[2018-12-20 17:09] mike-scott commented on #12203
This is kind of a train wreck:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/net_if.c#L1994

[2018-12-20 17:10] mike-scott commented on #12203
Adding @turon who was also working with OpenThread.

[2018-12-20 18:23] turon commented on #12203
@mike-scott do you have more details or a hard example of a set of IP addresses assigned and which source IP addresses are causing issues when selected for a given destination?

As a basic sanity check is Zephyr at least choosing a GUA (Global Unicast Address) for external routes?

[2018-12-20 18:24] andyross commented on #11722
Please try the attached patch, which should fix the bug reported.  We'll have to continue arguing about the proper behavior in the face of very late interrupt delivery -- I'm hopeful this can be addressed with clearer documentation and maybe a simple API option somewhere.

[2018-12-20 18:24] mike-scott commented on #12203
@turon Zephyr currently does a "diff" against the non-local link IP addresses (which all return 0 in most cases) and randomly ends up with one.

Have you tried testing the OpenThread BorderRouter setup yet?  It runs into issues immediately.

[2018-12-20 18:30] turon commented on #12203
@mike-scott, yes I see now what you describe, if source isn't LL it just picks the first well-formed address:

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/net_if.c#L1978

It needs to be extended to try and match ULA prefixes and at least choose a GUA if the destination is a global prefix such as 2xxx:: or 3xxx.

[2018-12-20 18:32] mike-scott commented on #12203
@turon yes, and to do that I think we need to add a way for each interface's L2 layer to define it's  own way of selecting a bind IP.

I'm looking at OpenThread's source now and I think we can call into the existing OpenThread logic for selecting the correct IP address without having to write our own.   The CoAP sample does a bind, etc.

[2018-12-20 18:37] mike-scott commented on #12203
@turon if you decide to try and setup the OpenThread BorderRouter (https://openthread.io/guides/border-router) and need a Zephyr sample to use with it, I can setup PR's to add a conf file for the LwM2M client as well as the hack patch to make the interface select the right IP.

It's a much better "real world' sample than echo-client / echo-server.

[2018-12-20 18:38] turon commented on #12203
@mike-scott sounds good! Though zephyr may benefit from improved logic for other L2 interfaces.

[2018-12-20 18:39] mike-scott commented on #12203
agreed!

[2018-12-20 22:52] aurel32 commented on #12203
I am using CoAP over OT, and I indeed noticed some issue with the source addresses. I don't think that's really a problem for TCP, but for UDP and especially for CoAP, the source address in the reply must match the destination address of the request. For now I am using a small hack getting the ML-EID address and binding only to this one.

I think that in general we really want the `bind()` to be d

[2018-12-20 23:13] mplebanski commented on #6866
For those using `virtualenv` and still having this, make sure that you have sourced your virtual environemtn when running `cmake -GNninja -DBOARD=your_board ..`, otherwise ninja will generate build scripts for your default system interpreter. If that already happened just remove the `build` directory and run cmake again with environment sourced. I consider is useful also for people hitting #1392.

[2018-12-21 01:22] andyross opened #12206 "OpenThread apps want to download and build OpenThread every time!"
A default build of apps that use openthread tries to clone and build the openthread project from github as part of the app directory!   This gets sucked in by sanitycheck in a few places, for example samples/net/echo_server has two cases that overlay an openthread configuration into kconfig.

The immediate problem with this is that openthread dependencies like autotools have automatically become Z

[2018-12-21 04:36] zzzh opened #12207 "Repeated code?"
In [https://github.com/zephyrproject-rtos/zephyr/blob/master/kernel/device.c](url)
Line 84 to 92 seems to be a repeat of line 77 to 82?

`struct device *_impl_device_get_binding(const char *name)
{
	struct device *info;

	/* Split the search into two loops: in the common scenario, where
	 * device names are stored in ROM (and are referenced by the user
	 * with CONFIG_* macros), only cheap pointer

[2018-12-21 10:13] #12066 closed

[2018-12-21 10:52] alexanderwachter commented on #11841
I think you guys have a little typo with the names. @alexanderwachter should be @alexsven ;-)

[2018-12-21 13:00] nvlsianpu commented on #12122
I reproduced. Should be easy to fix.

[2018-12-21 17:38] pabigot opened #12215 "Nordic: remove default-enable of bluetooth capability"
As discussed in #12209 it's been discovered that (almost?) all Nordic-based boards have the following in their board defconfig:

[code]

This causes any application built for the boards to get roughly 30 KB of possibly unnecessary driver infrastructure.  It's particularly an issue when another transport mechanism (802.15.4 or OpenThreads) is desired instead.

Task is to review why this was done an

[2018-12-21 19:37] vanti commented on #12192
The PR would not prevent others from running into the same issue, but it would allow http_get and other samples using the simplelink driver to build with assertions enabled.

[2018-12-21 19:59] carlescufi commented on #12215
I agree with getting this done, I will send a PR. Changed from bug to enhancement.

[2018-12-21 20:01] #11902 closed

[2018-12-21 20:03] carlescufi commented on #9242
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/12209

[2018-12-21 20:03] #9242 closed

[2018-12-21 20:04] #12147 closed

[2018-12-21 20:46] aurel32 commented on #12206
Instead of doing a git clone for each build, should we add a copy in `ext/`? Do we know if there is a reason for that not be done already? The original commit gives some explanations, but doesn't really cover that point:

[code]

One possibility is that one has to run `./bootstrap` before running configure to generate the automake/autoconf related files. Can we actually ship those in the `ext/` di

[2018-12-21 21:43] ioannisg commented on #12199
Pull request for SOC definition: #12218

[2018-12-21 21:51] andyross commented on #12206
That seems reasonable.  Or we could add it to the SDK.  Or maybe come up with a framework for "pull and build these external source trees of this particular version" which could allow us to continue to reference the specific external stuff without deploying it ourselves, but in a way that could still be set up just once in CI.

[2018-12-21 22:09] andrewboie commented on #12207
It's not, the first pass does a direct pointer comparison and the second pass uses strcmp.
The comment (which you quoted) explains this..

[2018-12-21 22:11] andrewboie commented on #12191
We sorta do, with irq_offload().
Can we implement a nested IRQ test in terms of irq_offoad()?

[2018-12-21 23:15] andyross commented on #12191
Would sort of have to work the other way around: irq_offload() could be implemented in terms of firing a specific interrupt (pretty much how everything does it right now), but the API here is the ability to trigger a specific ISR that was already registered to an arbitrary driver via IRQ_CONNECT.

[2018-12-22 08:16] M1cha commented on #12120
you're totally right, using RC works just fine.

[2018-12-22 08:16] #12120 closed

[2018-12-23 15:49] andyross commented on #12206
Would it be worth disabling the two OpenThread tests until that's ready?    On a highly parallel build host those four download+configure cycles are adding like 30% to my build times.  (I'm in a "sanitycheck is too slow" cycle at the moment)

[2018-12-24 05:40] zzzh commented on #12207
The 2 ways looks same to me.

[2018-12-24 05:43] zzzh commented on #12207
I think they looks same to most people.

[2018-12-24 10:47] pabigot commented on #9552
I'm entirely in support of conforming to standards where doing so improves code quality and maintainability.

It appears MISRA-C:2012 compliance requires [limiting code to features available in a 20-year-old version of the C language](https://github.com/zephyrproject-rtos/zephyr/pull/12220#issuecomment-449684673), excluding the option of clean and efficient solutions that require only a 7-year-old

[2018-12-24 10:47] varun-sha commented on #7638
@stuartly  Hi, i have gone through your sample fuzzy app, during fuzzing its fine to pass random values, but you are initializing smaller buffer(u32_t getdata[6] in your sample) and passing random getsize value, getsize should be limited to max buffer in which you want to copy data from ring_buf_item_get

sometimes when you do ring_buf_item_get you are overwriting memory, which is wrong and causin

[2018-12-24 10:57] madandylau opened #12224 "POSIX api are incompatible with arm gcc 2018q2 toolchain"
**Describe the bug**
I made a simple pthread demo based on the hello_world sample.(The current git version of Zephyr is used) Below is the main.c source code:

[code]
**Compiling with zephyr sdk 0.9.5**
The code works very well when compiling with zephyr sdk 0.9.5. Here is the detailed step:
1. source zephyr-env.sh
export ZEPHYR_TOOLCHAIN_VARIANT=zephyr
export ZEPHYR_SDK_INSTALL_DIR="my_sdk_path"

[2018-12-24 13:41] pabigot opened #12225 "extractdts should not rename foo-gpios to FOO_GPIO"
`extract_dts_includes` has:
[code]

There are 54 DTS yaml entries of the form `foo-gpios`.  All but two (`gpio-keys` and `gpio-leds`) specify:
[code]
`use-prop-name` is required to keep the generation removing the trailing `s` in the property name when synthesizing the `generic` string used for the `#define`.

`use-prop-name` is used 52 times in DTS yaml specifications.  Every single instance is p

[2018-12-24 16:55] pabigot opened #12226 "device tree support gap for SPI chip select"
It appears Zephyr has incomplete support for SPI devices under device tree: specifically identification of the corresponding chip-select.

AFAICT the sensor drivers that have been converted to device tree for both spi and i2c instances (adxl362, lis2dh) do not support a chip-select GPIO.  lsm6dsl stubs one, but relies on `CONFIG_LSM6DSL_SPI_GPIO_CS` to define it and will never populate it.

In Lin

[2018-12-24 20:41] gon1332 commented on #12134
Well, I'm searching on how I can implement some of the Low Power Modes that STM32L4s support on Zephyr RTOS. Some of them, like Low Power Run, mode requires that the system frequency decreases in order to enter to it. Off course a senario like this cannot be implemented as a Zephyr Power Management Policy, because the process doesn't sleep.

I'm just exploring here, and see what fits according to

[2018-12-25 09:38] vanwinkeljan commented on #12226
Duplicate of #7463, which is assigned to @erwango

[2018-12-25 13:04] pabigot commented on #12226
Thanks for linking, #7463 is definitely relevant.  I don't think this is explicitly duplicative, though, and have revised the description here to more clearly identify the gap and suggest a solution.

[2018-12-25 20:09] andyross commented on #12134
The clock_control API is a driver-level API for controlling clocks, as might be used for peripheral devices (a UART or SPI clock, stuff like that).  It doesn't seem to me to have been designed with CPU frequency scaling in mind, but I don't see why it couldn't be extended to do that.

Honestly I'm not sure the API is very interesting.   Merely setting a clock isn't very hard or complicated, the pr

[2018-12-26 09:50] gon1332 commented on #12134
So, for now, I'm working like you suggested. I will continue like this but on a PR in order to get feedback as I progress.

[2018-12-26 14:31] pabigot commented on #8360
This has certainly not been fixed; in current master it produces the following when building `hello_word` for `frdm_k64f`:
[code]
By adding more information to the diagnostic I've determined these come from `nxp,kinetis-uart.yaml` and `nxp,kinetis-dspi.yaml` since both override the generic node to make the `clock` property required.  The originally reported diagnostic for `nrf52840_pca10056` has b

[2018-12-26 14:42] #12192 closed

[2018-12-26 15:01] pabigot commented on #11922
When somebody comes to support retrieving the internal reference voltage here's what I've found:

* For `CONFIG_ADC_NRFX_ADC` it's 1200 mV
* For `CONFIG_ADC_NRFX_SAADC` it's 600 mV
* For ARC Designware ADC the information is not publicly available
* For Intel Quark D2000 it's either 3.3V or the battery voltage
* For Kinetis (MCUX_ADC16) there is no internal reference voltage, although ADC_REF_INTE

[2018-12-26 15:40] zzzh opened #12228 "How to build images for client or server in bluetooth mesh examples?"
I noticed that in these examples, there's only one main.c file, and only one image file would be built, it can support different hardware, but seems not different roles?
Bluetooth Mesh is supposed to be run in different roles, right?
If one image is enough, how to set it for different roles?

[2018-12-27 05:05] stuartly commented on #7638
@varun-sha Thanks, it is fine.

[2018-12-27 08:03] varun-sha commented on #7638
@stuartly : can you close this issue then , thanks

[2018-12-27 09:53] pfalcon commented on #12170
cc @nordic-krch

[2018-12-27 10:15] pfalcon commented on #11655
The history unfolds:

2018-12-12 https://github.com/zephyrproject-rtos/zephyr/issues/12040 "Log messages are dropped even with huge log buffer" occurred. Was fixed, but:
2012-12-19 "logging: previous changes to dropped message notification break wifi sample debug" occurred

Now I'm back to hacking on my https://github.com/zephyrproject-rtos/zephyr/pull/11680, and here's what I'm greeted with:

[co

[2018-12-27 11:18] Jiurifei commented on #12150
@JuricaResetar  Have you tested the power consumption in the state of `SYS_POWER_STATE_CPU_LPS `or `SYS_POWER_STATE_CPU_LPS_1` of you nrf52832 board? I have tried my best to make my board work at lower current, and I failed. The current now is about 300uA. I would appreciate it if you give me some advice.

[2018-12-27 12:54] SebastianBoe commented on #12224
@aescolar : FYI

[2018-12-27 13:37] pizi-nordic commented on #11722
Unfortunately the problem still exists on top of the #12204.
The test failed 2 times during during my test run (160 iterations).

[code]

[2018-12-27 13:45] SebastianBoe commented on #12215
This is a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/5454

I agree that boards should not be enabling large software stacks, like BT.

[2018-12-27 14:49] pabigot opened #12232 "deprecating/removing k_alert API"
tl;dr: `k_alert` is a fairly large API that has extremely limited use and is easily replaced.  Can we eliminate it?

While looking for a communication mechanism for processing notifications I discovered the [alert API](https://docs.zephyrproject.org/latest/kernel/synchronization/alerts.html).  I then looked for places where it's used. Ignoring its own test suite it's used only for the Intel GNA dr

[2018-12-27 16:52] pfalcon commented on #12224
@madandylau: Thanks for the detailed bug report! But you seem to missed the most important part.

Which conflicting type problems exactly? Please quote the error messages.

[2018-12-27 16:53] pfalcon commented on #12224
And you report issues with arm gcc. Any reason you don't use Zephyr SDK's toolchain?

[2018-12-28 00:37] pabigot opened #12235 "sys_log deprecation not visible in latest documentation"
In 513aa64873b85c626b2791659af60e9ce38e7042 the `SYS_LOG_*` interface was marked `@deprecated`.  This does not appear to be evident in the [latest documentation](https://docs.zephyrproject.org/latest/subsystems/logging/system_log.html?highlight=sys_log_err#c.SYS_LOG_ERR).

Also `doc/subsystems/logging/system_log.rst` would benefit from a large display near the top saying that the entire API is dep

[2018-12-28 00:41] #12052 closed

[2018-12-28 01:45] madandylau commented on #12224
@pfalcon Yes, the toolchain I used is from [here](https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads).

First, I need to compile the Swift runtime(which is written in C++) with Clang, and link them with libstdc++ which provided by the arm gcc toolchain. This is the main reason.

Secondly, I want to create an Arduino like IDE but for Swift language later. Seems the arm gcc toolcha

[2018-12-28 10:35] SebastianBoe commented on #12190
Hi,

what does this mean?

"Unable to reproduce this using sample apps i know."

Please try to reproduce the issue using a minimal patch to an existing zephyr sample or test.

You could also try to find out what MBEDTLS_PLATFORM_STD_SNPRINTF is being defined to be, that might give a clue to what is going wrong. This could be done by building verbosely and then copy-editting the command that files

[2018-12-28 12:36] SebastianBoe commented on #12037
Closing as resolved.

[2018-12-28 12:36] #12037 closed

[2018-12-28 12:38] SebastianBoe commented on #11714
Closing as resolved.

[2018-12-28 12:38] #11714 closed

[2018-12-28 17:05] pabigot commented on #12068
Back [here](https://github.com/zephyrproject-rtos/zephyr/issues/9904#issuecomment-423921419) the motivation for preserving tick as a distinct kernel time unit was that some architectures tick so fast that a `u32_t` is insufficient to support reasonable timeouts.

If we base system time on a 64-bit--capable counter, is this distinction still necessary?  I.e., do we need a tick interface that's diff

[2018-12-28 21:16] #11047 closed

[2018-12-28 21:51] tautologyclub commented on #10672
But I can't believe the Zephyr tree contains no working samples of interrupt-driven UART handlers that doesn't break the `uart_fifo_fill` API right...? What's an example?

[2018-12-28 21:54] aurel32 commented on #9767
Following the recent NVS changes, this issue also appear as a warning with GCC 7.3 when building with `-O2`:

[code]

At least with GCC it's easier to play with the code than with Coverity. I first thought that moving the checks on `fs->write_block_size` and `fs->sector_count` from `nvs_init()` to the beginning of `nvs_reinit()` would work, as `nvs_reinit()` is part of the API and can be called di

[2018-12-29 00:27] tg-- opened #12239 "BLE400 / nRF51822 (nRF51) PWM clock too low (servo-motor example)"
I'm trying to use the "servo-motor" example to control a servo with my BLE400 using a Core51822 module and the nRF5 software PWM implementation.

Unfortunately it does not work.
I measured with a signal analyzer on the GPIO/PWM pin and I'm seeing pulsewidths of only 8.1 ms maximum, despite the code being set to about 20 ms (and I tried higher values as well).

It seems a 125 kHz clock is used (the

[2018-12-29 16:59] pabigot commented on #11612
I've checked `i2c_burst_write` on various platforms:

* Nordic TWI (`nrf51_ble400`) and TWIM (`particle_xenon`) both fail (this issue).   For both drivers two separate bus transactions are generated, which is incorrect.

* MCUX (`frdm_k64f`) fails (#8684).  The attempt to initiate the second transfer   is rejected because the device is busy.  If `I2C_MSG_RESTART` is added   to the flags of the sec

[2018-12-29 19:06] b0661 opened #12241 "logging: log output busy loops if log output function can not process buffer"
**Describe the bug**
According to the documentation the  log_output_func shall return the number of bytes processed.

[code]

If the function returns 0 the log buffer_write function busy loops forever.

[code]

**To Reproduce**
Steps to reproduce the behavior:
Change the log_output_func to return 0.

**Expected behavior**
Ether - The logger shall stop the output to the backend and come back later.

[2018-12-29 20:40] chris-makaio opened #12242 "Help with linker sections"
Hi, and apologies in advance if this is posted in the wrong place, but I wonder if and how it might be possible to add custom linker sections, eg for custom object arrays

[2018-12-29 20:45] chris-makaio commented on #12242
see #10943

[2018-12-29 20:45] #12242 closed

[2018-12-30 08:40] mattzzw opened #12243 "Build error with I2C driver for nucleo_f103rb: DT_ST_STM32_I2C_V1_40005400_BASE_ADDRESS' undeclared here"
**Describe the bug**
Trying to compile master (65f79cdc2) with nucleo_f103rb and I2C_1

Results in

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nucleo_f103rb ..
3. ninja menuconfig (see below)
4. ninja

[code]

My understanding is that I have to use I2C_1 according to `stm32f1.dtsi`

[code]

**Expected behavior**
Compile w/o error

**Environm

[2018-12-30 09:10] ydamigos commented on #12243
I2C_1  isn't enabled in nucleo_f103rb dts file. Try to add the following in nucleo_f103rb dts file.

[code]
Please consider creating a PR if it works.

[2018-12-30 12:22] aescolar opened #12244 "Cannot disable Kconfig options from cmake command line"
**Describe the bug**
When setting a boolean option to "n" as an argument when invoking cmake the option is lost, but setting them to "y" works as expected.
So for ex. :
`cmake ../samples/hello_world/ -DBOARD=native_posix -GNinja -DCONFIG_NATIVE_POSIX_SLOWDOWN_TO_REAL_TIME=y`
works as expected, while
`cmake ../samples/hello_world/ -DBOARD=native_posix -GNinja -DCONFIG_NATIVE_POSIX_SLOWDOWN_TO_REAL_

[2018-12-30 12:32] arn-soft opened #12245 "LWM2M registration timeout"
**Describe the bug**
The lwm2m example throws **LWM2M registration timeout** . The device seems to connect to the leshan server as i can see that on web interface of leshan-demo-server (which is running on [http://localhost:8080](http://localhost:8080) ). the client last update changes in every 30-45 second with new registration id.
**uart log:**
[00:04:52.172,454] <inf> net_lwm2m_rd_client: RD Cl

[2018-12-30 16:08] andyross opened #12247 "What is the proper timer "now" convention for late interrupts?"
Opening this new issue to get the giant (and IMHO mostly irrelevant) bike shed out of #11722 and #12204.

With the advent of pervasive tickless, we have a new API convention to argue about:  What happens when a multi-tick timer interrupt is delayed?

Inside delayed timer callbacks, code may (and usually does) set more
callbacks for future events.  Should the "current" time used as the reference fo

[2018-12-30 16:19] andyross commented on #11722
Do you have a rig or something that you use to get those measurements?  Does it work to hack the test to execute the particular case in a loop?  All I'm know to do right now on a nrf52840_pca10056 is to hit the reset button hundreds of times....

[2018-12-30 20:53] #12001 closed

[2018-12-31 00:18] Andreasdahlberg opened #12249 "Can't flash CC3220 with OpenOCD"
**Describe the bug**
I tried flashing the hello world sample application but the flash command returns an error(see console output) and the application is not loaded onto the board.

I have also tried loading the bin-file using UniFlash with no success. UniFlash does not report any errors but the application does not appear to be running(not console output at all).

**To Reproduce**
Steps to repro

[2018-12-31 10:20] pabigot commented on #12247
In the context of the current clock architecture where timeouts are tightly coupled to clock management, I think the current implementation is the best alternative.  However, I do **not** like that the timeout is invoked without information about the true passage of time.

If Zephyr were to transition to a tickless system clock driven by a free-running monotonic fixed-rate counter that will not ov

[2018-12-31 16:32] andyross commented on #12247
So would we all, and that's what the API exposes.  The problem is that we can't have that here because an interrupt was delayed.  The question is how to recover from the failure.

[2018-12-31 19:32] pabigot commented on #12247
I don't see that.  I see both k_timer and _timeout using deadlines as a relative offset from "now", where "now" means "whatever value the kernel last managed to write into the `curr_tick` variable".  If deadlines were given as absolute system times, there would be no reason for `k_timer_start` and `_add_timeout` to take a signed `duration` (`ticks`) parameter to define the deadline.

Yes, because

[2018-12-31 22:48] andyross commented on #12247
You kind of lost me here.  You have a mechanism in mind on how to invoke a timeout callback in a context other than a timer interrupt handler?

I mean, I get your API criticism, and it's valid (I don't see any reason not to have a global monotonic time_t kind of thing at the timeout API level).  I just don't see how it amounts to anything but shuffling of proverbial deck chairs.   The problem stil

[2018-12-31 22:58] andyross commented on #12247
(Actually no, k_sleep() won't have that behavior because obviously the calling thread won't be awake after a late interrupt until after all ticks have been announced and current time updated.  I was too cute with the example.  But in fact k_timer does work exactly like this, naively scheduling another iteration in N ticks every time the callback fires.  It's the natural way to implement a clock, a

[2019-01-01 01:43] pabigot commented on #12247
I don't seem to be getting my thoughts across clearly.

No, this is exactly what I'm saying should not be decided.  I envision a system where I can do:
[code]
where that code waves its hands wildly in hopes it conveys the idea.

From what I see it's the coupling of clock increment with alarm processing in `z_announce_clock()` called from the system clock ISR that appears to make it difficult to pr

[2019-01-01 07:48] rgundi opened #12250 "DTS: Inconsistencies seen for SPI node with size-cells"
This is observed on intel_s1000 and with PR #11850 .

If the size-cells are kept as 1, I get the below warning when I do CMake
intel_s1000_crb.dts_compiled: Warning (spi_bus_bridge): /soc/spi@e000: incorrect #size-cells for SPI bus
intel_s1000_crb.dts_compiled: Warning (spi_bus_reg): Failed prerequisite 'spi_bus_bridge'

If i make the size-cells as 0, this warning during CMake goes away but the su

[2019-01-02 07:43] alexsven commented on #11841
@cvinayak Yes, it unblocked our usecase.

[2019-01-02 08:02] pizi-nordic commented on #11722
I am using simple shell one liner (` for i in $(seq 1 100); do echo $i; nrfjprog -f NRF52 -r; sleep 3; done`) capturing console output to a file. The I just grep the file looking for "Assert".

[2019-01-02 09:40] LVPGroup opened #12252 "potential non-termination of k_mem_pool_alloc"
When I call k_mem_pool_alloc by passing the "size_t size" larger than "max_sz" and "s32_t timeout" is K_FOREVER, _sys_mem_pool_block_alloc always returns "-ENOMEM" and the while(1) loop in k_mem_pool_alloc does not terminate.

[2019-01-02 12:03] #9767 closed

[2019-01-02 12:38] pabigot commented on #11722
Running it in a loop works.

As another clue: when the test fails, it fails on the first iteration.

[2019-01-02 12:42] pizi-nordic commented on #11722
Yes. Feel free to https://github.com/zephyrproject-rtos/zephyr/issues/11722#issuecomment-444908174 where I traced this.

[2019-01-02 12:48] SebastianBoe opened #12257 "The latest GNU ARM Embedded Toolchain can't produce hex files on Windows"
**Describe the bug**
The latest release of "GNU ARM Embedded Toolchain" fails when trying to create a hex file on the Windows platform.

**To Reproduce**
1. Build a sample that creates a hex file (for instance the hello world sample with nrf52_pca10040) with the environment described below.
2. See error

**Expected behavior**
No build failure.

**Actual behavior**
Error:

arm-none-eabi-objcopy.exe

[2019-01-02 13:38] erwango commented on #12225
@pabigot , this has been introduced in https://github.com/zephyrproject-rtos/zephyr/pull/7197 and #7350.
When `use-prop-name` was initially introduced, it was not clear this would be the main (and unique) case. The correlation with 's' removal (for which I can't explain the root cause) was a pure code artifact at that time. Code has largely drifted since then, the original option `use-prop-name` i

[2019-01-02 13:53] pabigot commented on #12225
I've tentatively assigned myself.  It's open for anybody else to take; if that hasn't happened in a couple days I'll work on removal and post a PR if it looks good.

[2019-01-02 15:35] vslapik opened #12261 "i2c_ll_stm32_v1 driver gets stuck"
**Describe the bug**
i2c_ll_stm32_v1 driver gets stuck in busy wait during i2c transfer

**To Reproduce**
I use stm32_min_dev board with MPU6050 attached to I2C_1. There are other issues which prevent me from using existing MPU6050 driver so I'm working directly with this sensor via i2c functions. I managed to get implement workarounds regarding MPU6050 but seems there are still issues in core i2c

[2019-01-02 17:17] andyross commented on #12252
That's easy enough to handle but requires an extra test in every allocation.  I mean, our blocking allocator API is sort of unique, other mallocs would just return failure synchronously, so it's not like there's a surprising-behavior argument here.  Are we sure we don't want this (allocating a block that can never fit) to be a "user error" kind of thing?

Alternatively: there are lots of situation

[2019-01-02 21:04] pabigot commented on #11722
I think we still haven't fully prised apart all the pieces of this issue and how they relate to the semantics of interval timers.  With the reproducing modification described [here](https://github.com/zephyrproject-rtos/zephyr/pull/12204#issuecomment-450969307) I only ever see the failure on the first iteration of the loop in `test_timer_periodicity`, when it's the first expiration after `k_timer_

[2019-01-02 21:14] pabigot opened #12264 "kernel: poll: outdated check for expired timeout"
`signal_poll_event` in kernel/poll.c invokes `_is_thread_timeout_expired`, which checks whether a timeout `dticks` field has the flag value `_EXPIRED`.   After the timer updates in 987c0e5fc1fa665ce629796c97529f219380e0a7 the only reference to that value is in `benchmarks/timing_info/src/msg_passing_bench.c`.

Since there's no way the test could succeed in any other condition some cleanup needs to

[2019-01-02 22:25] dbkinder opened #12265 "doc: Some API documentation is not being generated"
There are API comments in some ``include/`` folder header files that are missing in the [generated API documentation](https://docs.zephyrproject.org/latest/api/api.html).  While there are ``@defgroup`` comments defining an API collection, the Sphinx/Breathe directive to display that API material wasn't added for these defgroups:
[code]

There should be a corresponding Sphinx/Breathe ``.. doxygengr

[2019-01-02 23:32] dbkinder commented on #10271
Ah, so this is another "conditional documentation" problem. Sigh. We have API documentation completeness issues too because of #ifdefs.  Our tools don't comprehend documenting an API or struct (for example) that changes based on a compile time #ifdef.

[2019-01-02 23:58] andyross commented on #11722
I'm telling you guys again: the issue here is going to turn out to be a delayed interrupt or callback.  It's not an API bug.  There's a valid argument to be had about the API, but you can't fix it that way (c.f. the tests you discovered that assume the current behavior -- I bumped into those too during the rewrite, which is why this feature exists at all).

The root cause is unexpected timing of t

[2019-01-03 00:41] dbkinder opened #12268 "doc: nightly published AWS docs are not as generated"
It appears the nightly process to build the ``/latest`` documentation is not properly syncing the target AWS folder with the web content being generated (e.g., there is litter from a previous publish remaining, or this might be a problem with copying a zero-length file on top of a file that previously was not zero length).

The current symptom is the board documentation for https://docs.zephyrproj

[2019-01-03 01:18] andyross commented on #11722
Got it.  See comment in #12204

[2019-01-03 02:55] pabigot commented on #11722
Excellent.

I'm leaving my reproducer on top of your PR running overnight, and will take a look tomorrow when I'm fresh.  Assuming there isn't anything obvious, I'll sign off on the PR.  These points are outside the scope of this issue but remain to be addressed:
* I will continue to push for #12248 to replace the local workaround in #12204.  There are also patches in my [wip/20190101a](https://gi

[2019-01-03 09:22] PhilippFinke commented on #11740
Happy new year everybody!

@carlescufi I'll give it a try.

[2019-01-03 09:31] SebastianBoe commented on #12244
Hi, the root cause is a bug in extensions.cmake:import_kconfig.

import_kconfig assumes that "#" denotes a comment. But in actuality it can denote a value assignment.

To avoid increasing the complexity of import_kconfig I believe it would be best to resolve this by resolving https://github.com/zephyrproject-rtos/zephyr/issues/5443. Then it is not longer an incorrect assumption that "#" denotes a

[2019-01-03 10:14] rlubos commented on #12206
I agree that the way how OpenThread is downloaded for each sample/build separately is not the most fortunate way to do this, waiting for `west` as suggested by @carlescufi sounds reasonable for now.

As for providing the pre-built OpenThread copies, note that the OpenThread library is configurable, and in Zephyr it's configuration can be altered by Kconfig. Hence I don't see how this could be done

[2019-01-03 10:22] PhilippFinke commented on #11740
The issue persists even if I deactivate the timer interrupt.

[2019-01-03 10:36] erwango commented on #12261
I see 2 ways to handle this:
- set timeout
- check errors
Error checking would be more valuable as would provide additional debug info, but depends if errors are actually raised at this step.
Can you try and check if any error is raised? (looking into SR1)

[2019-01-03 10:38] erwango commented on #12261
Setting bug prio to low since this is error case handling issue.

[2019-01-03 10:45] erwango commented on #12243
Changing this from Bug to Enhancement as this is a matter of correct board configuration.

[2019-01-03 10:54] vslapik commented on #12261
Unfortunately, SR1 is empty:
[code]

[2019-01-03 11:10] erwango commented on #12261
Good news is SR2 is not and reports that bus is busy.
We should not end up here. One thing could be to check busy flag with LL_I2C_IsActiveFlag_BUSY and report error in case Y

[2019-01-03 11:12] tbursztyka commented on #12162
Can you detail a bit which icmpv4 packet type? (echo req?)

Note there is an option: CONFIG_NET_ICMPV4_ACCEPT_BROADCAST which is set by default (I think it should not actually). Unset it and re-run the test.

[2019-01-03 11:13] #12138 closed

[2019-01-03 11:13] #12159 closed

[2019-01-03 11:19] tbursztyka commented on #12186
So Zephyr drops unrequested unicast ARP reply and that's a bad thing? Ok, sounds weird.

Could you explain "So, instead of using destination MAC address from request packet (ICMP, TCP, UDP) in response, it should use MAC from unrequested ARP reply."
On arp request we don't know the MAC address, so there is none to use at this point (thus the ARP request). Do you mean we should blindly update the t

[2019-01-03 11:36] pic16f887 opened #12272 "SD/MMC interface support"
I have started with generic SD/MMC interface + STM32F7 series platform specific driver for Zephyr RTOS.
Could you assign this issue to me?

[2019-01-03 11:38] carlescufi commented on #11740
@PhilippFinke so this might be unrelated to the timer you are using then. Could you try using this PR: https://github.com/zephyrproject-rtos/zephyr/pull/12135 ?

[2019-01-03 11:39] carlescufi commented on #12239
@cvinayak could you please take a look?

[2019-01-03 11:40] PhilippFinke commented on #11740
@carlescufi how do I apply this patch?

[2019-01-03 11:55] carlescufi commented on #11740
@PhilippFinke easiest way is probably to merge the branch into your own. Just add a remote with the correct URL (https://github.com/sjanc/zephyr) and then merge sjanc/1131 into your own branch. There are other options, like using `git pr` from the `git-extras` package.

[2019-01-03 12:01] vslapik commented on #12261
It seems the case described in 2.13.7 from the errata link below is our guy ...
https://www.st.com/content/ccc/resource/technical/document/errata_sheet/7d/02/75/64/17/fc/4d/fd/CD00190234.pdf/files/CD00190234.pdf/jcr:content/translations/en.CD00190234.pdf

[2019-01-03 12:01] JuricaResetar commented on #12150
@Jiurifei A few days later and I'm facing the same error... My power consumption is around 270uA and does not go lower... :| It seems like the first few measurements were wrong... :( Did you make any progress?

[2019-01-03 12:43] ulfalizer commented on #5443
@SebastianBoe
How hard would it be to implement this on the CMake side? I'm kinda reluctant to complicate Kconfiglib for a one-off like this, because in reality it often means you have to support stuff forever. It's nice to not have any custom patches floating around either.

The reason `n` gets written out as `# X is not set` is that `.config` files are valid Makefiles. It makes it so that `n`-va

[2019-01-03 12:46] vslapik commented on #12261
I didn't try the workaround from the errata, it is helluva complicated. I managed to make my mpu6050 work with other kludges but I'll try to go deeper with this issue. Ideally the driver should be able to silently recover from it (probably with some debug log output if this lockup happens).

[2019-01-03 12:47] ulfalizer commented on #5443
If there's some way to get the values into `scripts/kconfig/kconfig.py`, you could do `kconf.syms[sym_name].set_value(sym_value)` from there as well.

[2019-01-03 12:49] pdunaj opened #12274 "Assert crash in logger's out_func"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Emit a lot of messages and wait for crash. In my case it happens quickly.

**Expected behavior**
Logger should not crash.

**Impact**
Debugging is impossible.

**Screenshots or console output**
Put above.

**Environment (please complete the following information):**
rev 9fe81e916567

**Additional context**

[2019-01-03 12:50] SebastianBoe commented on #5443
The aforementioned bug can be fixed in a straightforward way.

This is more about preventing similar issues popping up in the future.

I agree about not maintaining a custom patch, which is why I would recommend maintaining a feature-flag / dialect argument kind-of-mechanism.

[2019-01-03 12:52] PhilippFinke commented on #11740
@carlescufi I tried the patch, but the issue still persists. It seems that the issue only occurs when I run into a breakpoint or stop while debugging, but I'm pretty sure that wasn't always the case.

[2019-01-03 12:55] SebastianBoe commented on #5443
I'm hoping the complexity will not be significant, e.g. something like:

[code]

[2019-01-03 13:01] nordic-krch commented on #12274
@pdunaj do you have option `LOG_INPLACE_PROCESS` enabled?

[2019-01-03 13:03] pdunaj commented on #12274
part of backtrace
[code]

Logger does not handle panic mode correctly?

[2019-01-03 13:04] carlescufi commented on #11740
If you run into a breakpoint or you debug then it is a non-issue: the timers will keep running and the code does not execute, which means that the LL will soon  detect it has run out of time to execute in hard real-time and will assert.

[2019-01-03 13:05] pdunaj commented on #12274
Hi @nordic-krch , no. We disable this.

[2019-01-03 13:06] ulfalizer commented on #5443
If it comes up many times in the future, I might be more willing to add it. The reason Kconfiglib has stayed relatively readable (to me anyway, dunno how it reads to others) is that I've tried hard to avoid stuff like dialect flags and one-off features. It tends to add up and come back and bite you, from experience with Kconfiglib 1.

[2019-01-03 13:07] PhilippFinke commented on #11740
This is an explanation. Could we keep this issue still open? I'm remembering facing this problem in other situations, too. I want to check this first.

[2019-01-03 13:11] SebastianBoe commented on #5443
I have had to explain to many users that

`# CONFIG_FOO is not set
`
is not a comment, but a valid way to set CONFIG_FOO=n.

I don't see any reason to believe that this will not continue to pop up and confuse users.

[2019-01-03 13:27] JuricaResetar opened #12276 "I can't override CONFIG_PRINTK"
**Describe the bug**
Hei hi.
For some reason, I can not override the CONFIG_PRINTK define in zephyr/.config file. I've created prj.conf file and add redefinition but after the build, I can see that .config file is not changed. That method works for others defines but not for this one... :|
I'm working on sample/boards/nrf52/power_mgr example and I'm trying to reduce power consumption bellow 300uA

[2019-01-03 13:33] ulfalizer commented on #5443
Can't get rid of the standard behavior, and don't like the tradeoff in this case.

[2019-01-03 13:34] pdunaj commented on #12274
@nordic-krch ,  the problem happened after we migrated to logger in our event manager. It composes quite log strings. It seems that it is enough to do following multiple times to get logger go to fault that leads to above bt.
[code]

[2019-01-03 13:36] carlescufi commented on #11740
Sure, no worries. It's marked as a question so I will leave it open for you to confirm if that is indeed the issue.

[2019-01-03 13:37] b0661 commented on #12274
Did you check the the stack size of the logger thread? I had similar scenarios with too low stack size.

[2019-01-03 13:38] carlescufi commented on #12276
It is probably getting selected by another option

[2019-01-03 13:39] carlescufi commented on #12276
https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_PRINTK.html#cmdoption-arg-config-printk

Try disabling `CONFIG_BOOT_BANNER` which seems to select this one

[2019-01-03 13:42] pdunaj commented on #12274
Hi @b0661 , thanks for the suggestion. Indeed it helped :)

[2019-01-03 13:43] pdunaj commented on #12274
I am closing the issue as increasing the thread stack resolved the problem.

[2019-01-03 13:43] #12274 closed

[2019-01-03 13:44] nordic-krch commented on #12274
good to know but i suspect that there is still an issue in handling panic mode if panic triggers another panic. Since ideally you should get MPU fault message (if stack protection is enabled) and not that assert. And you haven't seen that, right?

[2019-01-03 13:45] pdunaj commented on #12274
@nordic-krch no.

[2019-01-03 13:45] JuricaResetar commented on #12276
@carlescufi Thank you! That was the problem =) (but power consumption problem is still not solved... :( )

[2019-01-03 13:45] #12276 closed

[2019-01-03 13:45] carlescufi commented on #5443
@ulfalizer given that we already maintain our own copy of Kconfiglib in Zephyr, what is the downside of having this change in our `scripts/kconfig/` copy? That way we don't have to hack CMake, the users get a consistent view, and Kconfig upstream is not polluted

[2019-01-03 13:45] ulfalizer commented on #12276
Might be `BOOT_BANNER` selecting it (forcing it to `y`). See https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_PRINTK.html.

Check if `zephyr/.config` has `CONFIG_BOOT_BANNER=y`, and change it to `CONFIG_BOOT_BANNER=n` in that case (or `# CONFIG_BOOT_BANNER is not set`, which works the same, see https://docs.zephyrproject.org/latest/application/application.html#setting-application-con

[2019-01-03 13:58] Laczen commented on #12160
@nvlsianpu, implementing a nvs backend for the settings module is not straight forward. It is mainly limited by the fact that settings supposes that data is stored in the backend as a line consisting of "name"=value. This is of course not good for flash usage as each name is stored in flash again when only the value is changing.
Removing this supposition requires quite some work. To allow for easy

[2019-01-03 14:11] ulfalizer commented on #5443
It's another custom patch to maintain.

To be fair, it could be implemented in `kconfig.py` as well, because things are flexible enough that custom output formats can be implemented outside kconfiglib instead. That'd instead make `kconfig.py` harder to read though, and it's nice to have it as understandable as possible, because it's the entry point into the whole Kconfig side of things.

Changing

[2019-01-03 14:52] pizi-nordic commented on #12247
I fully support that 👍

[2019-01-03 15:11] pizi-nordic commented on #12247
I am still not fully satisfied with current implementation. What afraids me is this `dticks` correction:
[code]
Here is why:
1. If the adjusted timeout *was on the list* before call to `z_clock_announce()`, we **have to** do such correction (it is obvious).
2. If the adjusted timeout belongs to **periodic k_timer** which was handled during current `z_clock_announce()` execution, we **should** do s

[2019-01-03 15:22] pabigot opened #12277 "i2c should define fine-grained error responses"
The I2C API defines only `-EIO` as a diagnostic response to a failure in transfers.  This is too coarse.  At a minimum failure to receive an acknowledgment should be distinguished from all other failures, as some devices use that to indicate that a triggered measurement is not yet complete (e.g. SHT21/Si7021 in no-hold mode).  This error can be recovered by trying again later; other errors may be

[2019-01-03 16:05] carlescufi commented on #5443
@ulfalizer as @SebastianBoe mentions the issue is also one of support and simplicity. Could you come up with a quick patch for `kconfig.py` (even better, no need to keep a patch in Kconfiglib!) and then we can take a look with the code in front of us? Thanks!

[2019-01-03 16:46] ulfalizer commented on #5443
This seems to work. It's copy-pasting `Kconfig.write_config()`, trimming some stuff `kconfig.py` doesn't need, and changing how `n`-valued `bool` symbols get written.

Get a call to the internal `_save_old()` function there now, which is icky. It implements the `.config.old` stuff. Could expose it, but feels risky (often gotta keep stuff you expose around forever, with the same interface).

[code]

[2019-01-03 16:57] SebastianBoe commented on #5443
LGTM

[2019-01-03 17:09] andyross commented on #11722
No, this is sort of a generic thing with time APIs.  "Time" is a real function of the universe and can't be made atomic.  Here's POSIX code that exhibits exactly the same bug:

    time_t t0 = time(NULL);
    sleep(4);
    time_t t1 = time(NULL);
    assert(t1 - t0 == 4);

If you play with that enough, you'll eventually hit a situation where the current time in seconds changes between the first ca

[2019-01-03 18:01] andyross commented on #12247
I'm not really sure I buy that logic.  I mean, we know that k_timer relies on the behavior specified.  Yet you're asserting that all other users... don't?

Remember again that there are no "normal" circumstances where this even matters.  You only hit it if there is a delayed interrupt (or software bug) that causes the tick announcement to fall more than a tick behind where it should have been.  So

[2019-01-03 18:19] andyross commented on #12206
Workaround submitted in #12280 as @rlubos suggested, which builds OpenThread just once for the nRF echo_client test.    We can leave this open and re-enable the frdm and echo_server cases when west support lands.

[2019-01-03 18:50] dbkinder opened #12282 ""make htmldocs" reports a cmake warning"
**Describe the bug**
Documentation build (e.g. "make htmldocs") reports a cmake warning:
[code]
Doc build does complete successfully, so this is just an unexpected warning.  Does something depend on the VERSION environment variable being set?

**To Reproduce**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04.1 LTS

[2019-01-03 20:20] vanti commented on #12249
Which version of openocd are you using?

I am working on Ubuntu 18.04 and am on the last commit of the 'develop' branch, and can confirm that 'ninja flash' works for me:

[code]

If you had tried to use Uniflash to flash the .bin file, please first revert by removing the MCU
Image (.bin) file from Uniflash and reflashing the device with just the other files, as per step 3 in the Prerequisites sect

[2019-01-03 22:10] Andreasdahlberg commented on #12249
It's working now, i tried your suggestion about reflashing the device without the MCU Image and it solved the issue.

Thank you for the help!

Best regards,
Andreas

[2019-01-03 22:10] #12249 closed

[2019-01-03 22:59] andrewboie commented on #11859
Nothing special on my end that I'm aware of.
I can trivially reproduce this with "sanitycheck -i"

[2019-01-03 23:03] andrewboie commented on #11859
Actually, I have BOARD=qemu_x86 in my environment.
I notice:

[code]

That doesn't look right.
Having BOARD set in environment has never interfered with sanitycheck before, any idea why it is breaking these two tests?

[2019-01-04 07:59] SebastianBoe commented on #5443
There is no "CMake version for comparison" because this is not about fixing a particular instance of the bug but about fixing the whole class of bugs that arises from users assuming that "# CONFIG_FOO is not set" is a comment.

[2019-01-04 08:01] SebastianBoe commented on #5443
Menuconfig, and any future tools, will have to also be updated.

[2019-01-04 09:53] avisconti commented on #9962
@MaureenHelm
For completeness I added in the list above also lsm303dlhc accel/magn driver because they wer missing.
The good news is that they already use info from DT!

[2019-01-04 11:44] rmstoi commented on #12162
The packet is an echo request. If config CONFIG_NET_ICMPV4_ACCEPT_BROADCAST is unset the test case passes. RFC 1122 in 3.2.2.6 says "ICMP Echo Request destined to an IP broadcast or IP multicast address MAY be silently discarded." Config should probably be disabled by default.

[2019-01-04 12:02] mandarcthorat1 opened #12290 "[Coverity CID :190644]Memory - illegal accesses in /drivers/modem/wncm14a2a.c"
Static code scan issues seen in File: /drivers/modem/wncm14a2a.c
 Category: Memory - illegal accesses
 Function: on_cmd_sockread
 Component: Drivers
 CID: 190644
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12291 "[Coverity CID :190642]Error handling issues in /drivers/console/telnet_console.c"
Static code scan issues seen in File: /drivers/console/telnet_console.c
 Category: Error handling issues
 Function: telnet_send
 Component: Drivers
 CID: 190642
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12292 "[Coverity CID :190641]Null pointer dereferences in /lib/cmsis_rtos_v2/kernel.c"
Static code scan issues seen in File: /lib/cmsis_rtos_v2/kernel.c
 Category: Null pointer dereferences
 Function: osKernelGetInfo
 Component: Other
 CID: 190641
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12293 "[Coverity CID :190640]Null pointer dereferences in /drivers/wifi/eswifi/eswifi_core.c"
Static code scan issues seen in File: /drivers/wifi/eswifi/eswifi_core.c
 Category: Null pointer dereferences
 Function: eswifi_init
 Component: Drivers
 CID: 190640
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12294 "[Coverity CID :190639]Null pointer dereferences in /subsys/net/ip/route.c"
Static code scan issues seen in File: /subsys/net/ip/route.c
 Category: Null pointer dereferences
 Function: nbr_nexthop_get
 Component: Networking
 CID: 190639
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12295 "[Coverity CID :190638]Control flow issues in /samples/portability/cmsis_rtos_v2/timer_synchronization/src/main.c"
Static code scan issues seen in File: /samples/portability/cmsis_rtos_v2/timer_synchronization/src/main.c
 Category: Control flow issues
 Function: main
 Component: Samples
 CID: 190638
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12296 "[Coverity CID :190637]Null pointer dereferences in /subsys/net/lib/lwm2m/lwm2m_rw_plain_text.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_rw_plain_text.c
 Category: Null pointer dereferences
 Function: plain_text_read_number
 Component: Networking
 CID: 190637
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12297 "[Coverity CID :190636]Incorrect expression in /samples/subsys/usb/console/src/main.c"
Static code scan issues seen in File: /samples/subsys/usb/console/src/main.c
 Category: Incorrect expression
 Function: main
 Component: Samples
 CID: 190636
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12298 "[Coverity CID :190635]Integer handling issues in /subsys/net/lib/coap/coap_link_format_sock.c"
Static code scan issues seen in File: /subsys/net/lib/coap/coap_link_format_sock.c
 Category: Integer handling issues
 Function: append_be16
 Component: Networking
 CID: 190635
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12299 "[Coverity CID :190634]Control flow issues in /subsys/net/lib/lwm2m/lwm2m_obj_device.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_obj_device.c
 Category: Control flow issues
 Function: lwm2m_device_add_pwrsrc
 Component: Networking
 CID: 190634
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12300 "[Coverity CID :190633]Control flow issues in /subsys/net/lib/lwm2m/lwm2m_rw_plain_text.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_rw_plain_text.c
 Category: Control flow issues
 Function: plain_text_read_number
 Component: Networking
 CID: 190633
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12301 "[Coverity CID :190632]Memory - corruptions in /drivers/wifi/eswifi/eswifi_offload.c"
Static code scan issues seen in File: /drivers/wifi/eswifi/eswifi_offload.c
 Category: Memory - corruptions
 Function: __read_data
 Component: Drivers
 CID: 190632
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12302 "[Coverity CID :190631]Control flow issues in /subsys/net/lib/lwm2m/lwm2m_rw_json.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_rw_json.c
 Category: Control flow issues
 Function: do_write_op_json
 Component: Networking
 CID: 190631
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12303 "[Coverity CID :190630]Null pointer dereferences in /drivers/modem/wncm14a2a.c"
Static code scan issues seen in File: /drivers/modem/wncm14a2a.c
 Category: Null pointer dereferences
 Function: net_pkt_setup_ip_data
 Component: Drivers
 CID: 190630
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12304 "[Coverity CID :190629]Incorrect expression in /samples/net/zperf/src/zperf_udp_receiver.c"
Static code scan issues seen in File: /samples/net/zperf/src/zperf_udp_receiver.c
 Category: Incorrect expression
 Function: zperf_udp_receiver_init
 Component: Samples
 CID: 190629
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12305 "[Coverity CID :190628]Memory - corruptions in /drivers/wifi/eswifi/eswifi_core.c"
Static code scan issues seen in File: /drivers/wifi/eswifi/eswifi_core.c
 Category: Memory - corruptions
 Function: eswifi_get_mac_addr
 Component: Drivers
 CID: 190628
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12306 "[Coverity CID :190627]Incorrect expression in /samples/net/zperf/src/zperf_tcp_receiver.c"
Static code scan issues seen in File: /samples/net/zperf/src/zperf_tcp_receiver.c
 Category: Incorrect expression
 Function: zperf_tcp_receiver_init
 Component: Samples
 CID: 190627
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12307 "[Coverity CID :190626]Null pointer dereferences in /subsys/net/lib/coap/coap_sock.c"
Static code scan issues seen in File: /subsys/net/lib/coap/coap_sock.c
 Category: Null pointer dereferences
 Function: coap_packet_parse
 Component: Networking
 CID: 190626
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12308 "[Coverity CID :190625]Integer handling issues in /samples/bluetooth/peripheral/src/main.c"
Static code scan issues seen in File: /samples/bluetooth/peripheral/src/main.c
 Category: Integer handling issues
 Function: write_without_rsp_vnd
 Component: Samples
 CID: 190625
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12309 "[Coverity CID :190624]Memory - corruptions in /tests/posix/fs/src/test_fs_file.c"
Static code scan issues seen in File: /tests/posix/fs/src/test_fs_file.c
 Category: Memory - corruptions
 Function: test_file_read
 Component: Tests
 CID: 190624
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12310 "[Coverity CID :190623]Error handling issues in /drivers/wifi/eswifi/eswifi_core.c"
Static code scan issues seen in File: /drivers/wifi/eswifi/eswifi_core.c
 Category: Error handling issues
 Function: eswifi_reset
 Component: Drivers
 CID: 190623
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12311 "[Coverity CID :190622]Memory - corruptions in /drivers/wifi/eswifi/eswifi_offload.c"
Static code scan issues seen in File: /drivers/wifi/eswifi/eswifi_offload.c
 Category: Memory - corruptions
 Function: __read_data
 Component: Drivers
 CID: 190622
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12312 "[Coverity CID :190621]Memory - corruptions in /subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c
 Category: Memory - corruptions
 Function: put_s8
 Component: Networking
 CID: 190621
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12313 "[Coverity CID :190620]Null pointer dereferences in /drivers/wifi/eswifi/eswifi_core.c"
Static code scan issues seen in File: /drivers/wifi/eswifi/eswifi_core.c
 Category: Null pointer dereferences
 Function: eswifi_init
 Component: Drivers
 CID: 190620
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12314 "[Coverity CID :190619]Memory - illegal accesses in /subsys/bluetooth/host/mesh/settings.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/settings.c
 Category: Memory - illegal accesses
 Function: store_pending_hb_pub
 Component: Bluetooth
 CID: 190619
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12315 "[Coverity CID :190618]Code maintainability issues in /drivers/modem/wncm14a2a.c"
Static code scan issues seen in File: /drivers/modem/wncm14a2a.c
 Category: Code maintainability issues
 Function: wncm14a2a_rx
 Component: Drivers
 CID: 190618
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12316 "[Coverity CID :190617]Control flow issues in /subsys/net/lib/lwm2m/lwm2m_rw_json.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_rw_json.c
 Category: Control flow issues
 Function: do_write_op_json
 Component: Networking
 CID: 190617
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12317 "[Coverity CID :190616]Integer handling issues in /subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_engine.c
 Category: Integer handling issues
 Function: atof32
 Component: Networking
 CID: 190616
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12318 "[Coverity CID :190615]Null pointer dereferences in /subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_engine.c
 Category: Null pointer dereferences
 Function: lwm2m_udp_receive
 Component: Networking
 CID: 190615
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12319 "[Coverity CID :190614]Control flow issues in /subsys/shell/shell_utils.c"
Static code scan issues seen in file /subsys/shell/shell_utils.c

**File:** /subsys/shell/shell_utils.c
**Category:** Control flow issues
**Function:** buffer_trim
**Component:** Other
**CID:** 190614

Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:02] mandarcthorat1 opened #12320 "[Coverity CID :190613]Integer handling issues in /subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_engine.c
 Category: Integer handling issues
 Function: lwm2m_write_attr_handler
 Component: Networking
 CID: 190613
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:03] mandarcthorat1 opened #12321 "[Coverity CID :190612]Control flow issues in /subsys/net/lib/lwm2m/lwm2m_rw_json.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_rw_json.c
 Category: Control flow issues
 Function: json_add_char
 Component: Networking
 CID: 190612
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:03] mandarcthorat1 opened #12322 "[Coverity CID :190611]Control flow issues in /drivers/usb/device/usb_dc_nrfx.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_nrfx.c
 Category: Control flow issues
 Function: usb_dc_detach
 Component: Drivers
 CID: 190611
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:03] mandarcthorat1 opened #12323 "[Coverity CID :190383]Null pointer dereferences in /sanitylog/nrf52840_pca10056/samples/net/echo_server/test_nrf_openthread/zephyr/ext_proj/Source/ot/third_party/mbedtls/repo/library/ssl_tls.c"
Static code scan issues seen in File: /sanitylog/nrf52840_pca10056/samples/net/echo_server/test_nrf_openthread/zephyr/ext_proj/Source/ot/third_party/mbedtls/repo/library/ssl_tls.c
 Category: Null pointer dereferences
 Function: mbedtls_ssl_write_handshake_msg
 Component: Networking
 CID: 190383
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/rep

[2019-01-04 12:03] mandarcthorat1 opened #12324 "[Coverity CID :190380]Insecure data handling in /sanitylog/nrf52840_pca10056/samples/net/echo_server/test_nrf_openthread/zephyr/ext_proj/Source/ot/third_party/mbedtls/repo/library/ssl_tls.c"
Static code scan issues seen in File: /sanitylog/nrf52840_pca10056/samples/net/echo_server/test_nrf_openthread/zephyr/ext_proj/Source/ot/third_party/mbedtls/repo/library/ssl_tls.c
 Category: Insecure data handling
 Function: ssl_buffer_message
 Component: Networking
 CID: 190380
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/

[2019-01-04 12:03] mandarcthorat1 opened #12325 "[Coverity CID :190377]Control flow issues in /sanitylog/nrf52840_pca10056/samples/net/echo_server/test_nrf_openthread/zephyr/ext_proj/Source/ot/examples/platforms/utils/settings_flash.c"
Static code scan issues seen in File: /sanitylog/nrf52840_pca10056/samples/net/echo_server/test_nrf_openthread/zephyr/ext_proj/Source/ot/examples/platforms/utils/settings_flash.c
 Category: Control flow issues
 Function: swapSettingsBlock
 Component: Networking
 CID: 190377
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p1299

[2019-01-04 12:03] mandarcthorat1 opened #12326 "[Coverity CID :158187]Control flow issues in /sanitylog/nrf52840_pca10056/samples/net/echo_server/test_nrf_openthread/zephyr/ext_proj/Source/ot/third_party/mbedtls/repo/library/ecp.c"
Static code scan issues seen in File: /sanitylog/nrf52840_pca10056/samples/net/echo_server/test_nrf_openthread/zephyr/ext_proj/Source/ot/third_party/mbedtls/repo/library/ecp.c
 Category: Control flow issues
 Function: ecp_mul_comb
 Component: Networking
 CID: 158187
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-04 12:58] pabigot commented on #12247
We've been touching at least three distinct questions here.

### 1: Behavior when z_clock_announce is passed ticks > 1

Most recently summarized [above](https://github.com/zephyrproject-rtos/zephyr/issues/12247#issuecomment-451171520) as a potential reduction in the requested delay for a timer when something delays tick processing for more than one tick duration.  I think you (@andyross) are ackno

[2019-01-04 13:30] tbursztyka commented on #12162
Thanks for testing this, let's disable it by default

[2019-01-04 14:14] avisconti commented on #7001
I would like to restart this discussion as I feel it is time to make some progress on the ST sensor support in zephyr. The aim is to reorganise the drivers in order to reuse as match as possible the s/w: this will help in both maintainance as well as support of new sensors (infact, some new sensors are just combos of already existing ones or with same interface).

Let's say that a given device usu

[2019-01-04 14:22] pizi-nordic commented on #12247
@pabigot: Nice summary 👍
@andyross: I will try to support my point of view using the following use-case:

Let assume that we have an external temperature sensor and we would like to measure the ambient temperature. The measurement will be taken every minute and slight delay is not a big problem for us, as we just want to display current temperature. The sensor needs 40ms to perform conversion. Tem

[2019-01-04 14:33] lgl88911 opened #12329 "enable CONFIG_NET_DEBUG_HTTP_CONN cause build error"
**Describe the bug**
As there is no declar 'http_monitor_count',Enable CONFIG_NET_DEBUG_HTTP_CONN will build error.

**To Reproduce**
Steps to reproduce the behavior:
1. config CONFIG_NET_DEBUG_HTTP_CONN=y
2. build
3. See error

**Expected behavior**
build pass

[2019-01-04 14:38] pabigot commented on #12247
Thanks.

I don't see an issue specifically for this, though it was also noted in #11722.  Could you open one?

I agree it's important[*], but I think that discussion should be separate from this one.

[*]: I'm working with SHT21/HTU21D/Si7021 which has exactly the behavior you describe and drives several of my alarm-related expectations that Zephyr can't currently support.

[2019-01-04 14:47] fnde-ot opened #12331 "Proposal to improve the settings subsystem"
Here is a proposal to improve the settings subsystem, I would like to make a PR but I'd prefer to know beforehand if it is something that looks acceptable. It is inspired by the proposal mentioned in issue #8854.

## Introduction

### Problem description

The current settings subsystem uses key-value settings where a key is a “path”-like string (fx. “bt/keys/aabbccddee0/1”) and binary values are s

[2019-01-04 14:50] avisconti commented on #7001
STEP1: Use same driver for all devices using 0x33 wai reg_if.

For common driver name we have at least two possibilities:
1. using name of the most used device (i.e. lis3dh)
2. use a name that makes clear that 0x33 is the reg_if.

The latter not always work and sometimes is not liked by marketing, but for the 0x33 case this is what we have in linux and I would suggest to use it. (linux: st_acc33_x

[2019-01-04 15:01] pizi-nordic opened #12332 "Undesirable behaviour of z_clock_announce() when ticks argument is greater by 1"
The `z_clock_announce()` unconditionally adjust `dticks` of first timeout in the list:
[code]

However this adjustment is not always valid:
1. If the adjusted timeout was on the list before call to `z_clock_announce()`, we have to do such correction in order to not delay next timeout.

2. If the adjusted timeout belongs to periodic k_timer which was handled during current `z_clock_announce()` exec

[2019-01-04 15:03] pizi-nordic commented on #12247
Here it is: https://github.com/zephyrproject-rtos/zephyr/issues/12332

[2019-01-04 15:04] pizi-nordic commented on #12332
@andyross, @pabigot, @carlescufi: FYI

[2019-01-04 15:09] aescolar commented on #12331
CC @jhedberg @carlescufi

[2019-01-04 15:17] jhedberg commented on #12331
@nvlsianpu FYI

[2019-01-04 15:46] rmstoi commented on #12186
Yes, that is what I mean.

[2019-01-04 15:46] #12164 closed

[2019-01-04 16:01] jhedberg commented on #12308
Looks like the | should be a &

[2019-01-04 16:06] jhedberg commented on #12314
Looks like this was introduced by commit bfad2a0cbfe from @nvlsianpu

[2019-01-04 16:34] andyross commented on #12332
@pizi-nordic, this is getting out of hand.  Not.  A.  Bug.  I don't know how else to explain it.  Existing tests require the behavior as implemented.  What you are worrying about is an untested edge case that results from an an API convention issue and happens only in latency crisis situations where interrupts have been delayed more than a tick.

It can be fixed via API (and worked around right no

[2019-01-04 16:37] pabigot commented on #12332
We need consensus on whether this is a bug, since @pizi-nordic and I disagree with your assessment.  If it is a bug, it may very well require API and other changes to resolve.  That's fine, and not a motivation for closing it until we have consensus.

[2019-01-04 16:37] andyross commented on #12332
(And yes, I know you think you understand this better and that I'm missing something important.  But without a failing test case it's not a bug, and I'm tired of typing about it)

[2019-01-04 16:37] andyross commented on #12332
Without a failing test case, it's not a bug.  *Please* stop this senseless fight.  There's a perfectly good discussion elsewhere.

[2019-01-04 16:58] andyross commented on #12247
Please stop submitting bugs guys.  Submitting a bug is aggressive.  It's an attempt to get my management to force me to do what you want (yes, we track bug counts and the people who pay me care whether or not I'm fixing ones I'm assigned), when we have genuine design disagreement here.  Discuss, don't escalate.

It sounds like @pizi-nordic's complaint is addressable in the immediate term with an A

[2019-01-04 18:15] aurel32 opened #12339 "drivers: nordic: usb: missing fragmentation handling for IN transfers, causing buffer overflow"
Commit a6134a374e moved the fragmentation handling for IN transfers from the device stack to the device driver. However the nRF driver is not fully ready to handle that change despite the comment:

[code]

The memcpy is done without checking the `data_len` length. By default only 64 bytes is allocated for each endpoint, therefore overflowing to the buffer of the next endpoint. This can be reproduc

[2019-01-04 18:39] dcpleung commented on #11565
Sorry for the late reply. I was on vacation. :)

I have given some thoughts about this. I think expanding the APIs to support both pin bitmasks and ordinal pin numbers would lessen the confusion. The GPIO drivers can decide which one to support/implement (or both). As for callback, it is always possible to tag each callback to specify whether the value is a pin mask or ordinal number. However, it

[2019-01-04 19:11] pabigot commented on #11565
Subordinate devices (I2C, SPI) that have auxiliary GPIOs like reset signals must be able to manipulate those GPIOs in driver code without knowing whether a particular SoC GPIO driver uses mask or ordinal pin specifiers.  How would you support that?

Supporting two incompatible GPIO APIs seems like a far more complex and impactful approach than simply having up-squared split the 40 GPIO pins across

[2019-01-04 19:54] pabigot commented on #11722
@carlescufi @pizi-nordic I propose that the specific problem covered by this issue has been resolved in #12204 by adding the required synchronization code to make the test pass reliably, so this should be closed.  I don't think keeping it open is going to contribute to addressing the other anomalous behavior and functional gaps identified in the discussion here.  But it's assigned to you two so I

[2019-01-04 20:13] #12308 closed

[2019-01-04 21:31] andyross opened #12342 "_Swap on ARM is nonatomic by design, can we fix that?"
The way _Swap() is implemented on ARM is nonatomic, which while not incorrect has turned out to be very surprising.  It's done with a PendSV exception whose priority sits below that of hardware interrupts, so it's possible for a process to decide to context switch based on atomic state that then gets changed under the interrupt handler before the context switch actually happens.

This trick has re

[2019-01-04 21:52] andyross commented on #12342
@agross-linaro @andrewboie and anyone you want to add who might be interested.  Mostly I'm interested in whoever jumps in with "No!  you can't do that because..."

[2019-01-04 22:30] andyross commented on #11751
Here's another requirement:

* It should be possible via the API in a standard way to get a register dump and (ideally) stack walk of any thread via only its struct k_thread pointer, including pended ones and the one that has been interrupted by an executing interrupt or exception handler.

I spent a few hours last night chasing a bug where I knew a state was wrong at the top of an ISR yet really

[2019-01-04 22:47] mike-scott commented on #12245
Oddly, I don't see overlay-ot.conf here: https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/lwm2m_client

I was going to add one, once https://github.com/zephyrproject-rtos/zephyr/pull/12343 is merged and communication via OT border router confirmed.

But right now, I don't think this is an issue?

[2019-01-05 01:39] andrewboie commented on #11751
stack unwinding on ARM will require some effort, it's not simple at all.
https://wiki.linaro.org/KenWerner/Sandbox/libunwind?action=AttachFile&do=get&target=libunwind-LDS.pdf

[2019-01-05 02:03] andyross commented on #11751
Yeah, it's a nice-to-have.  At least there should be a spot for it so more conventional architectures can provide it.

[2019-01-05 09:42] arn-soft commented on #12245
I am using overlay-ot.conf defined in echo_client example. I think it is serving it's purpose. please take a look at look if i am missing something in that file. and of course i will check that PR #12343

[2019-01-05 13:03] pabigot commented on #12342
More background from material I prepared before I saw this had been opened:

PR #12248 enhances the `sys_dlist_h` data structure to support detecting and diagnosing API mis-use, in particular removing a node from the same list twice.  With this change the gap in interrupt blocking present in the ARM context switch produces in a failure in the case where (a) the current thread is being swapped beca

[2019-01-06 05:55] lgl88911 opened #12347 "net ping shell can't show reply"
**Describe the bug**
net ping shell can't show reply in the console of shell

**To Reproduce**
Steps to reproduce the behavior:
1. type "net ping 192.168.2.8"(host PC Ip)
2. if have reply, you can't find message in the shell out put

**Expected behavior**
the shell show "Received echo reply from 192.168.2.8 to 192.168.2.10"

**Impact**
I‘m fix the issue，But I don't know if it's appropriate.

**Add

[2019-01-06 16:42] pabigot commented on #12332
I'm reopening this after changing it to an enhancement and changing the description slightly.

I asked @pizi-nordic to open this as an issue because it had previously been discussed in comments to #11722, #12204, and #12247.  At least two collaborators involved in those discussions believe the behavior of the current system does not meet our needs in cases of the sort described here, and that if w

[2019-01-06 18:16] pabigot opened #12352 "intermittent kernel.mutex sanitycheck with mps2_an385"
I'm finding that `tests/kernel/mutex/mutex/kernel.mutex` on `mps2_an385` fails intermittently on current master at 330cbfa0747281f70e8941bb2d2af60937aff3a2 using SDK 0.9.5.

Instrumenting the test shows that although the `test_mutex` routine normally reaches the point of taking the mutex within the first 10 ms of runtime, in some situations `thread_09` will complete its 500 ms delay first and take

[2019-01-06 21:12] pabigot commented on #12332
I've been doing some work on a path toward alarms that use the system clock rather than the tick clock.  In this context it is almost certain that the corresponding clock increment will be greater than one when carving off ready-to-run timeouts.

We don't have a test case that demonstrates the expected behavior described in this issue, but the adjustment to a newly added alarm can be eliminated wi

[2019-01-07 05:51] rgundi opened #12353 "intel_s1000: SPI Flash Erase command doesn't work when booting from flash"
In a setup where the code is in flash and the board boots from flash (via BootROM), a "Flash Erase" command is silently failing. Since the Erase fails, the subsequent Write command also silently fails (as it requires the corresponding addresses to be empty before writing).
Such an issue is NOT observed when the code (ELF) is loaded to SRAM via the debugger where the BootROM is not in picture.

[2019-01-07 06:05] mandarcthorat1 commented on #12325
Fixed. We should not encounter these issues from next scan.

[2019-01-07 06:16] easonxiang commented on #12272
@pic16f887 We are planing to support MMC with Zephyr system,  I was wondering when the generic SD/MMC interface will be ready, do you have a schedule for this feature?

Thanks.

[2019-01-07 07:12] agross-linaro commented on #12342
The pendsv has historically always been the lowest priority so that it ends up tail chaining on to any irqs that occur.  This means that multiple swap() requests could occur before the swap actually occurs due to multiple irqs calling the swap() mechanism.  The actual swap won't occur until all of the irqs are handled and the pendsv is then called last due to it being the lowest prio.

If you look

[2019-01-07 07:30] agross-linaro commented on #12342
The pendsv is configurable.  But if we are going to go this route, why even use pendsv for context switch?

[2019-01-07 08:42] nordic-krch commented on #12241
@b0661 processed means dropped as well. It is backend responsibility to drop data. I would prefer to keep log_output module simple. It's just a helper module for backends to avoid code repetition. I will add a note to api documentation, ok?

[2019-01-07 08:55] nordic-krch commented on #11745
@andrewboie can you help me with that? Is there a place in code code where we can be sure that system will not recover?

[2019-01-07 09:11] b0661 commented on #12241
@nordic-krch

Can you just make it **typedef void (*log_output_func_t)(u8_t *buf, size_t size, void *ctx)**?

By this it wouid be clear by interface that the whole buffer has to be handled by the backend. You may get an extra loop in the backend but could get rid of e.g. the buffer_write helper.

Otherwise a note in the api documentation is also fine for me.

[2019-01-07 10:15] fnde-ot commented on #12331
Hi @jhedberg,

I agree that the key change is debatable, but I think moving the extended information should be moved from key to value could help simplify the process quite a bit and save a lot of cycles.

For example when loading 'bt/mesh/AppKey/1' we go through many hoops:

1. [settings] load from backend
2. [settings] parse first part of key to look for handler
3. [bluetooth host set()] parse s