[2020-04-06 12:53] ball-hayden opened #24122 "[nrf_qspi_nor] LittleFS file system fails to mount if LFS rcache buffer is not word aligned"
**Describe the bug**

When using LittleFS on an nRF52840 PCA10056, I find that `fs_mount` hangs when using the following config:

[code]

On investigation, `nrfx_qspi_read` requires that the destination buffer supplied is 32-bit word-aligned. As it stands, there is no guarantee that this is the case when using the flash API (as far as I can tell).

**To Reproduce**

I've attempted to reproduce thi

[2020-04-06 13:24] pfalcon commented on #23917
For reference, PR affected by this issue: https://github.com/zephyrproject-rtos/zephyr/pull/24124#issuecomment-609791549 , where I had to scale down originally configurability effort, and keep some hardcoded things as such.

[2020-04-06 13:34] rlubos commented on #24089
Hi @marketideas,

From your description it seems you're facing a bug that was introduced during recent OpenThread update. It is fixed already though: https://github.com/zephyrproject-rtos/zephyr/pull/23688, https://github.com/zephyrproject-rtos/openthread/pull/8. Perhaps you forgot to sync repos with `west update`?

Just as a clarification - OpenThread running with Zephyr is supposed to use heap p

[2020-04-06 14:10] #24016 closed

[2020-04-06 14:22] pabigot commented on #20330
This now works:
[code]

[2020-04-06 14:22] #20330 closed

[2020-04-06 14:50] galak commented on #20348
NRF and STM32 entropy drivers now using DTS.

[2020-04-06 14:50] #20348 closed

[2020-04-06 16:17] pabigot commented on #24122
I've opened #24128 to add the alignment check that was missing, but that doesn't really solve the problem.  The [flash_read API](https://docs.zephyrproject.org/latest/reference/peripherals/flash.html?highlight=flash_read#_CPPv410flash_readP6device5off_tPv6size_t) allows for alignment requirements on offset and size, but fails to specify whether the destination buffer must be aligned.  For this dri

[2020-04-06 18:10] richey-v commented on #23520
@pkral78 - could you provide a link to that gdb python information?

[2020-04-06 18:11] jukkar commented on #24092
Default MSS (Maximum Segment Size) for IPv4 is 536 bytes. Default Ethernet + IPv4 + TCP headers are 14 + 20 + 20 = 54 bytes. So by default the packet length is 590 bytes if nothing else is negotiated. This is what I saw in my tests with qemu_x86 and e1000 with echo-server/client sample apps.
For you, the MSS seems to be a big larger as the packet length is 694 (so 54 header and 640 data).

[2020-04-06 18:28] tektronix-94 opened #24133 "Question: Context save/restore after deep sleep using device driver"
Hello,

I'm having some issues related to power management and context restore after sleep using BlueNRG SOC with Cortex M0.

According to documentation context should be restored in `_sys_resume_from_deep_sleep()` function but this function is not supported on Cortex M0.
So, I tried to add device driver context restore in the Reset Vector handler. Unfortunately it does not work properly.

After w

[2020-04-06 18:57] tektronix-94 commented on #24133
area: Power Management

[2020-04-06 19:22] markushx commented on #17005
With the license change, would it be possible to include RAIL into https://github.com/zephyrproject-rtos/hal_silabs and re-open/update https://github.com/zephyrproject-rtos/zephyr/pull/11192?

[2020-04-06 19:22] pkral78 commented on #23520
@richey-v You have to define new gdb command that examine kernel structures. There are many references on internet, search for _python gdb scripting_. Also setting `CONFIG_OPENOCD_SUPPORT` would be helpfull. Look at `openocd.c` in Zephyr tree.

[2020-04-06 19:50] MaureenHelm commented on #23520
You can also have a look at zephyr thread-awareness implementations in [pyocd](https://github.com/mbedmicro/pyOCD/blob/master/pyocd/rtos/zephyr.py) and [openocd](https://github.com/zephyrproject-rtos/openocd/blob/zephyr-20200116/src/rtos/Zephyr.c). Both require setting `CONFIG_OPENOCD_SUPPORT=y`

[2020-04-06 21:54] marketideas commented on #24089
Thanks for the response.  I just did a double check, and these are what I am working with:
=== updating mbedtls (modules/crypto/mbedtls):
HEAD is now at cf7020e mbedtls: Update mbedTLS 2.16.4
=== updating openthread (modules/lib/openthread):
M	CMakeLists.txt
HEAD is now at 46194ba9 openthread: Merge up to commit ab9c0a4

The change to CMakeLists.txt is due to changes for -pedantic-errors which is

[2020-04-06 21:54] #24089 closed

[2020-04-06 22:07] arvid-r opened #24134 "[NXP i.MX RT Flash]: evkmimxrt1020 does not boot with a new flash chip"
**Describe the bug**
The board support code for the i.MX RT 1020 EVK board can not be boot if flashed to a brand new QSPI flash chip of the same type (IS25LP064A) as the one used on the actual EVK. This applies to both the EVK itself (if you replace the chip, or reset it completely), or if you build a custom board using the same chip.

**To Reproduce**
1. Replace the QSPI flash chip on the 1020 EV

[2020-04-07 01:21] cvinayak commented on #23280
@ChristianHirsch Sorry for the late reply. No, its weird that something in the host automatically performs service discovery and notification enable, and the request to read may have been missed or delayed.

[2020-04-07 01:22] cvinayak commented on #23319
@mayankpatel17 any updates?

[2020-04-07 01:24] cvinayak commented on #23070
Fixed by #23815

[2020-04-07 01:24] #23070 closed

[2020-04-07 02:11] #23762 closed

[2020-04-07 02:23] chen-png commented on #24008
it still reported the error, is there any config i missed?
**../include/toolchain/common.h:144:9: note: macro 'BUILD_ASSERT' defined here
#define BUILD_ASSERT(EXPR, MSG)**

i reverted my repo to commit 2b0e9a3d, it was ok to build tests cases.

[2020-04-07 02:31] chen-png commented on #21755
how to fix this? otherwise, it will always be judged as failed test cases by sanity check script.

[2020-04-07 02:39] chen-png opened #24136 "tests/benchmarks/latency_measure failed on mec15xxevb_assy6853 board."
**Describe the bug**
Running tests/benchmarks/latency_measure on mec15xxevb_assy6853 board, the test will stop at "1 - Measure time to switch from ISR back to interrupted thread ", and fail due to timeout.

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck --hardware-map ~/mec1.yml --device-testing -T  tests/benchmarks/latency_measure
2. See error in handler.log file

**Screenshots

[2020-04-07 05:20] dcpleung commented on #21755
In current power management scheme, it is possible to turn on DEVICE_POWER_MANAGEMENT and modify the device driver to take advantage of this. It is also possible to modify the residency so the test would not fail.

[2020-04-07 05:23] dcpleung commented on #24008
I can build with latest master (commit 093fec62e7bddb6c1f6ad8a204d992759ef8d7ac) without any issues. This is on that commit *without* any modifications to the tree. I can't debug this until I can reproduce this issue locally.

[2020-04-07 07:45] ball-hayden commented on #24122
I'm initialising the buffers as per the [sample](https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/subsys/fs/littlefs/src/main.c):

[code]

Looking at the macro definition, I don't think there's any requirement for the buffers to be word-aligned?

https://github.com/zephyrproject-rtos/zephyr/blob/093fec62e7bddb6c1f6ad8a204d992759ef8d7ac/include/fs/littlefs.h#L71-L72

(`cache_sz` her

[2020-04-07 07:59] vaussard commented on #23520
I have a couple of commands in my .gdbinit to help when debugging with JLink. They are not polished (i.e. PC/LR/PSP is wrong for the currently running thread), but maybe this can be useful to others. I posted them here:

https://gist.github.com/vaussard/581d62032670f118947edb2b503a18c4

Compile with `CONFIG_THREAD_MONITOR` and `CONFIG_THREAD_STACK_INFO`. Then run `zephyr_list_threads` from gdb to

[2020-04-07 09:21] binkboyd opened #24142 "NRF5340 PA/LNA support"
**Describe the bug**
When enabling PA/LNA pin control the build fails with what appears to be both GPIO and PPID related errors. It doesn't look like the NRF53 PA/LNA code is implemented yet.

**To Reproduce**
Steps to reproduce the behavior:
1)
add following to hci_rpmsg sample prj.conf, using the
CONFIG_BT_CTLR=y
CONFIG_BT_CTLR_GPIO_PA=y
CONFIG_BT_CTLR_GPIO_PA_PIN=29
CONFIG_BT_CTLR_GPIO_LNA=y
CO

[2020-04-07 10:22] FRASTM commented on #24055
### To install and use your local openocd:

1. install tools needed to compile OpenOCD
`sudo apt-get install git autoconf libtool make pkg-config libusb-1.0-0 libusb-1.0-0-dev`

2. Download the latest source code for OpenOCD with
`git clone http://openocd.zylin.com/openocd`

3. Change into the code directory and run the bootstrapper with:
`cd openocd-code`
`./bootstrap`

4. Run `make` and `sudo ma

[2020-04-07 11:02] pabigot opened #24144 "deadlock potential in nrf_qspi_nor"
As pointed out [here](https://github.com/zephyrproject-rtos/zephyr/pull/24128#issuecomment-610235114) by @ball-hayden the QSPI driver for Nordic persistently invokes an operation but blocks for release of a semaphore whether or not the operation failed.  At least some error codes may indicate that the operation was never initiated, which would produce a deadlock in that case, as demonstrated in #2

[2020-04-07 11:10] overheat opened #24145 "File system shell example mount littleFS issue on nrf52840_pca10056"
**Describe the bug**
I follow the instruction of this link to try it on nrf52840_pca10056 board:
`zephyr/doc/_build/html/samples/subsys/shell/fs/README.html`
But, failed.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nrf52840_pca10056 samples/subsys/shell/fs
2. west flash
Then, on the device:
[code]

**Screenshots or console output**
[code]

**Environment (please complete the

[2020-04-07 11:16] pabigot commented on #24122
You'd have to initialize the structure yourself.  (I misread the source and thought the default left them null.)

There's no obligation on allocating a `u8_t` array with any alignment, so what you see makes sense.  Please try the patch in #24146.

[2020-04-07 11:19] ioannisg opened #24147 "nrf5340 pdk: BOARDS_ENABLE_CPUNET does not allow proper NET MCU configuration"
**Describe the bug**
A recently introduced Kconfig option, BOARDS_ENABLE_CPUNET controls whether remoteproc_mgr_boot() is called from nrf5340 Application MCU booting process.

remoteproc_mgr_boot() should be ideally called only once, and by the image that resets the nrf5340 NETWORK MCU. So BOARDS_ENABLE_CPUNET should be set by the  image that cooperates with the NETWORK MCU. If this is a Non-Secur

[2020-04-07 12:05] ball-hayden commented on #24122
Ah - that makes sense.

I've applied the patch in #24146 and that works nicely - thank you.

[2020-04-07 12:50] nashif commented on #24008
@chen-png  what is the ZEPHYR_TOOLCHAIN_VARIANT you are using? zephyr or xcc?

[2020-04-07 13:15] abrodkin commented on #23475
I may confirm we do see the same in our internal nightly verification.

[2020-04-07 13:20] pabigot commented on #24133
I wouldn't expect the application to restart from deep sleep at the point where it called it.  It's generally expected to be equivalent to a system reset, potentially with some flags set somewhere system-/application-specific to indicate that a wake has occurred.

AFAIK there is no in-tree support for recovering state from deep sleep on any platform, though there's a non-functional stub that allow

[2020-04-07 14:32] carlescufi commented on #23280
@ChristianHirsch can you check with the BlueZ folks to see if they have an idea of what the issue might be?

[2020-04-07 14:36] carlescufi commented on #23444
@alexanderwachter I think @sslupsky is right, the fields should be in the CPU endianness, will you send a patch? or @sslupsky would you consider sending one?

[2020-04-07 14:39] carlescufi commented on #23528
@drandreas please send a Pull Request changing the default .dts value and we can discuss it there please.

[2020-04-07 14:39] #23528 closed

[2020-04-07 14:41] carlescufi commented on #23622
@mateusz-holenko do you have plans to address this?

[2020-04-07 14:44] carlescufi commented on #23712
Closing since it has been solved.

[2020-04-07 14:44] #23712 closed

[2020-04-07 14:48] carlescufi commented on #23850
@anangl can you please send a PR?

[2020-04-07 14:50] erwango commented on #23677
^^@ABOSTM, can you check ?

[2020-04-07 14:50] carlescufi commented on #23917
In the meantime @pfalcon, does `0x<long number>` work?

[2020-04-07 14:51] mateusz-holenko commented on #23622
@carlescufi  - yes, we are planning to look at this soon.

[2020-04-07 14:51] carlescufi commented on #23980
@emob-nordic have you had a chance to take a look?

[2020-04-07 14:52] #23997 closed

[2020-04-07 14:53] carlescufi commented on #23998
@hakkimakki could you enable `CONFIG_ASSERT=y` and run the test again?

[2020-04-07 14:55] carlescufi commented on #23998
@vanwinkeljan do you have any suggestions here?

[2020-04-07 14:57] carlescufi commented on #24067
@mnkp and @MaureenHelm could you send a patch to correct Fast so it becomes Fast+?

[2020-04-07 15:00] carlescufi commented on #24068
The UART1 is not initialized, use this to fix it:

[code]

[2020-04-07 15:00] #24068 closed

[2020-04-07 15:01] carlescufi commented on #24076
@pabigot @Mierunski and @anangl  this is in 1.14.1, is there something we can backport to improve this?

[2020-04-07 15:03] jhedberg commented on #23893
The `BT_GATT_CHARACTERISTIC()` macro expands into two attributes, so my first guess is that your indices are wrong.

[2020-04-07 15:03] sslupsky commented on #11594
How about bringing things up to date so we can use c18?

c99 seems way outdated for an RTOS in 2020?

[2020-04-07 15:04] carlescufi commented on #24081
@lagosantol the Zephyr LL doesn't support Advertising Extensions yet, we are in the process of adding that. I assume this is the issue.
@joerchan please double-check and close the issue if this is the case

[2020-04-07 15:04] #24098 closed

[2020-04-07 15:06] carlescufi commented on #24103
@pabigot The problem might be in `hwinfo_get_device_id()`, which seems to not reverse bytes. See  https://github.com/zephyrproject-rtos/zephyr/issues/23444

[2020-04-07 15:10] carlescufi commented on #24144
@kamlaz could you provide a fix?

[2020-04-07 15:12] carlescufi commented on #24147
@ioannisg is this really a bug? what priority should it have?

[2020-04-07 15:17] sslupsky commented on #9552
I think we should be concentrating on ensuring zephyr can be used with the most recent versions of the c language standards that enables us to take advantage of the huge improvements in the compilers.  Namely, c18+.  MISRA compliance is an important niche but likely not in the interests of the majority of zephyr users if it slows down adoption of better c standards.

[2020-04-07 15:18] mrfuchs opened #24156 "MQTT Websocket transport interprets all received data as MQTT messages"
`mqtt_client_websocket_read()` does not filter the received websocket messages on their `message_type`. However, apart from text and binary frames, `websocket_recv_msg()` may also return control frames (Websocket messages with close and ping opcodes), which should not be passed to the MQTT client.

https://github.com/zephyrproject-rtos/zephyr/blob/7ede50b8e531dc79a353f48fd2c6240150f4a810/subsys/ne

[2020-04-07 15:18] carlescufi commented on #23777
I just tested this and it worked fine:

[code]

[2020-04-07 15:22] carlescufi commented on #23777
@anangl or @mbolivar any ideas about what could be wrong here?

[2020-04-07 16:09] pabigot commented on #23444
@carlescufi I think that if the vendor has a preferred expression of the hardware identifier as formed from the raw data that should be followed.  IOW if the hardware identifier for Nordic is low-word then high-word little-endian, maybe there's some swapping to be done to get an octet sequence that matches the intended one, e.g. for Bluetooth addresses.

I agree with @alexanderwachter that a memcp

[2020-04-07 16:10] pabigot commented on #24103
There may or may not be a problem with hwinfo, but IMO it's wrong to reverse things here.  The hwinfo should be interpreted as a sequence of octets, just like a MAC address.

[2020-04-07 16:12] endian-benjamin commented on #24076
For the record, we have a big project running 1.14.1 in which we use UARTE on UART_1 with nrf52840 and with strict consumption requirements. Did you try disabling uart irq:s before `device_set_power_state()`? That seemed necessary for us.

[2020-04-07 16:13] MaureenHelm commented on #24067
yes

[2020-04-07 16:16] rerickson1 commented on #24076
In my example interrupt support for the UART is disabled, so that shouldn't be needed.  Could you provide a code snip-it of what you did?

[2020-04-07 16:25] pfalcon commented on #23917
@carlescufi

No, the talk here is about being able to specify arbitrary-length binary string, not limited-length binary number. (If you hint at being able to break down a long binary string into a number of integer-values options, like SAMPLE_BIG_HTTP_DL_HASH_INT_0, SAMPLE_BIG_HTTP_DL_HASH_INT_1, ... SAMPLE_BIG_HTTP_DL_HASH_INT_100, then apparently it's a pretty unbeautiful and not scalable workar

[2020-04-07 16:28] endian-benjamin commented on #24076
Calling `uart_irq_rx_disable()` on the device before setting power state was basically it (TX is done synchronously so we know those are not enabled). We use UARTE on both UARTs and we've done pretty extensive measurements. CPU definitely enters low power.

Perhaps interrupt driven UART is required for this to work with UARTE.

[2020-04-07 16:30] joerchan commented on #23893
Count 2 per characteristic.
So that would explain why start notify, turns into event notify.
[code]

[2020-04-07 16:32] endian-benjamin commented on #24076
(by "this" I mean power management ofc)

[2020-04-07 16:52] rerickson1 commented on #24076
@endian-benjamin  I enabled `CONFIG_UART_INTERRUPT_DRIVEN=y` and tried to disable the RX IRQ and the result is the same.  I am only getting to ~700uA.  Here's how I did it:
[code]

[2020-04-07 17:04] rerickson1 commented on #24076
I pushed updates to my example for testing.

[2020-04-07 17:12] joerchan commented on #24081
It's work in progress. I'll close this.

[2020-04-07 17:12] #24081 closed

[2020-04-07 17:25] carlescufi commented on #22161
@nvlsianpu can we decouple the addition of commands to add/edit/remove key-value pairs as shell commands with the creation of pre-baked images? We could start by adding the shell commands and see about the images later.

[2020-04-07 17:29] carlescufi commented on #22415
@jukkar would you mind linking to the way the networking stack does this already?

[2020-04-07 17:43] carlescufi commented on #23021
This should probably be generalized to synchronization between cores of several data items, including timestamps.

[2020-04-07 17:44] carlescufi commented on #23076
@andyross any comments on this?

[2020-04-07 17:44] StefJar commented on #23893
thx to @jhedberg and @joerchan the enum values were wrong
Maybe put some note on the gatt database generation into [GATT API](https://docs.zephyrproject.org/latest/reference/bluetooth/gatt.html) to avoid others tapping into that trap

As well all samples(so far) only having one characteristic per service that offers notifications/indications. p.e [cts service](https://github.com/zephyrproject-rtos

[2020-04-07 17:44] #23893 closed

[2020-04-07 17:46] carlescufi commented on #23156
@LuoZhongYao we don't currently plan to address this. If you'd like to see this in the tree, please send a Pull Request.

[2020-04-07 17:46] #23156 closed

[2020-04-07 17:47] carlescufi commented on #23225
Clarification: This enhancement only covers setting the channel map from the Host, not detecting the noise levels in the channels.

[2020-04-07 17:48] pabigot commented on #24145
On that platform the storage partition is in on-SOC flash.  Writes to that are disallowed unless `CONFIG_MPU_ALLOW_FLASH_WRITE=y`.  If you don't already have an LFS file system on the partition, the mount will attempt to create one, which causes an access error.

There's an `mpu.conf` overlay in that directory, but nothing says the conditions under which it has to be used.  The CMakeFiles.txt will

[2020-04-07 17:54] pabigot opened #24158 "gap in support for deprecated Nordic board names"
Something seems to be failing with the deprecated Nordic board names.

`samples/subsys/shell/fs/CMakeLists.txt` looks at the board name to determine whether the `mpu.conf` overlay is required.  The file was updated to use the new board names, and the addition is not performed for the deprecated name.

[code]

[2020-04-07 17:55] pabigot commented on #24158
@carlescufi This is the underlying cause of #24145.

[2020-04-07 17:55] carlescufi commented on #23425
We have no plans to implement this functionality. Please send a Pull Request if you have interest in this becoming part of the tree.

[2020-04-07 17:55] #23425 closed

[2020-04-07 18:00] pabigot commented on #24145
Closing as this is due to #24158; it's not a fault in shell or littlefs.

I don't believe there's much other than the sample documentation, and the help infrastructure within the shell itself.

[2020-04-07 18:00] #24145 closed

[2020-04-07 18:11] jukkar commented on #22415
After reading the description more carefully, I think my initial idea is not applicable here. We have some APIs in networking side, like network interface (include/net/net_if.h) and we extend that for Ethernet network interfaces (include/net/ethernet.h) that provides more functionality for the interface. But if that kind of extending is not wanted, then that idea cannot be used here.

[2020-04-07 18:53] #24003 closed

[2020-04-07 19:15] vanwinkeljan commented on #23998
@carlescufi Not really except to step through the code with gdb

Actually a complete prj.conf would be welcome, is the bug seen with newlibc or minallibc, ...

[2020-04-07 19:27] mbolivar-nordic commented on #24104
https://docs.zephyrproject.org/latest/guides/west/sign.html

[2020-04-07 19:27] #24104 closed

[2020-04-07 19:43] mbolivar-nordic commented on #23777
The board names in steps 1 and 2 do not match. Does the problem persist even when the overlay is for the right board?

[2020-04-07 19:48] albertofloyd opened #24162 "eSPI KConfig overrides espi_config API channel selection in eSPI driver"
**Describe the bug**
eSPI KConfig channel enables overrides anything client driver is requesting.
i.e KConfig indicates following channels are supported
VW_CHANNEL
OOB_CHANNEL
FLASH_CHANNEL

If user decides only to enable only VW channel and Peripheral channel, eSPI driver still sends the wrong channel capabilities to eSPI partner. (VW/PC/OOB).

**To Reproduce**
1) Change initialization in samples

[2020-04-07 19:56] mbolivar-nordic commented on #23825
CONF_FILE treats relative paths as relative to the application source directory:

[code]

(from kconfig.cmake)

Perhaps DTS_ROOT should do the same?

Whatever we do, we should ensure consistent behavior with all the CMake _ROOT variables:

- BOARD_ROOT
- DTS_ROOT
- KCONFIG_ROOT (?)
- SOC_ROOT
- TOOLCHAIN_ROOT

[2020-04-07 20:10] MaureenHelm commented on #22466
A PR would be welcome and benefit other developers.

No, Kconfig is not being deprecated. Please see [Devicetree versus Kconfig](https://docs.zephyrproject.org/latest/guides/dts/dt-vs-kconfig.html#devicetree-versus-kconfig) for a discussion of what belongs where.

I think you probably only need to add `SENSOR_CHAN_WEIGHT` and keep the offset/slope parameters internal to the driver.

@carlescufi th

[2020-04-07 20:41] arvid-r commented on #23825
Exactly. I at least expected it to be relative to the application directory, which is true for BOARD_ROOT.

[2020-04-07 20:41] pabigot commented on #24104
@mbolivar So the fact that the tool itself gives wrong instructions is not worth fixing?  Or is it not possible to fix?

[2020-04-07 20:44] pabigot commented on #24104
Also my point about the documentation was that the imgtool link there is to the PyPI page which tells you nothing useful.  That does, granted, provide a multi-step path that will get you to the real imgtool documentation, but it would still be nice if Zephyr's instructions were more directly helpful.

[2020-04-07 21:09] mbolivar-nordic commented on #24104
I don't see where the tool is giving wrong instructions in this report. POSIX says that -- is used to unambiguously separate option arguments from non-option arguments. That is why it must be used for option arguments to imgtool that the parent script might interpret as option arguments also.

This is the same reason why you have to run `grep -r -- -pin dts` if you want to recursively search for "

[2020-04-07 21:40] pabigot commented on #24104
OK, I understand your position on `--`'.

For the "directly helpful": yes, `--key` is shown.  I needed to figure out how to encode a version number that showed up in the dfu-util image list, and it wasn't clear to me whether that was something Zephyr put into the image somehow or that was added by imgtool, and there were no clues.  Hopefully next time I try to get somewhere on dfu I'll remember al

[2020-04-08 02:49] overheat commented on #24145
@pabigot
Yes, it works. Thanks!

[2020-04-08 02:52] chen-png commented on #24008
i used the xcc and validated a test before, it was ok to run tests on intel_s1000 board using my environment.

export XTENSA_TOOLCHAIN_PATH=/home/chenpeng/xtensa
export ZEPHYR_TOOLCHAIN_VARIANT=xcc
export TOOLCHAIN_VER=RI-2018.0-linux
export XTENSA_CORE=X6H3SUE_RI_2018_0
export XTENSA_SYSTEM=${XTENSA_TOOLCHAIN_PATH}/XtDevTools/install/tools/RI-2018.0-linux/XtensaTools/config/
export XTENSA_BUILD_P

[2020-04-08 04:37] anangl commented on #23777
@kubazdz The flag `GPIO_ACTIVE_LOW` is not available in Zephyr 2.1.0. Either use `GPIO_INT_ACTIVE_LOW` instead or upgrade to Zephyr 2.2.0.

[2020-04-08 06:20] lagosantol commented on #24081
Can you please point me to the issue tracking the completion process for advertising extensions support ? So I can track progress, and evaluate if we should help here ?
Is it correct to say that with this support, you can't have a device that does CODED_PHY only ?
(for adverstising first, and then connected mode)

[2020-04-08 06:42] kamlaz commented on #24144
Yes, I will handle this.

[2020-04-08 06:52] endian-benjamin commented on #24076
We actually have a currently unresolved bug where our device doesn't enter low power mode after a hard reset, for some reason... but it starts working after a soft reset (watchdog trigger or calling reset() for instance).

I'd also try checking if separating the printk calls from the suspend calls to see if that helps, i.e. make sure the bytes have actualy left the uart hw buffer BEFORE you suspen

[2020-04-08 07:13] emob-nordic commented on #23980
@carlescufi Not yet. I will try to have a look today/tomorrow.

[2020-04-08 07:27] BOZHENG001 opened #24176 "Where can I read PDR (packet delivery ratio)? Or number of TX/ACK packets?"
Dear All

I am right now developing BLE application based on `central_hr` and `peripheral_hr` on nRF52840 DK with zephyr 2.0.

Basically, I am looking for an API in zephyr to read PDR (packet delivery ratio) from no matter master or slave devices, but obviously there is no API for this totally unimportant function based on BLE stack.

Then I started to look into number of TX/ACK packets. Because w

[2020-04-08 07:53] finikorg opened #24178 "CI: extra_args from sanitycheck *.yaml do not propogate to cmake"
extra_args from *.yaml do not go to the build system.

**Reproduce**
extra_args: "-DDEBUG_PRINTF=1" from samples/philosophers/sample.yaml is lost.
[code]

Output:
[code]

and

[code]

[2020-04-08 08:09] joerchan commented on #24081
@lagosantol This work is tracked here: https://github.com/zephyrproject-rtos/zephyr/projects/21
There might not even be an issue for extended advertising support in the scanner yet.

It is correct that advertising extension is needed to only be on CODED Phy.

[2020-04-08 08:25] mtpr-ot opened #24180 "Parameter deprecation causes scanner malfunction on big-endian systems"
**Problem**
Creating unions with mixed size integral types is not portable, and causes malfunction on big-endian:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. With no changes to app code, `filter_dup` is assigned a value (deprecation warning seen)
2. Run app
3. Starting scanning fails because of invalid `options`

**Expected behavior**
Even though deprecated, scanning should not fa

[2020-04-08 08:36] #24101 closed

[2020-04-08 08:47] XavierChapron opened #24181 "Snprintk used at many place while dummy build if CONFIG_PRINTK is undef"
**Describe the bug**
`snprintk()` defined in `include/sys/printk.h` has a dummy version in case `CONFIG_PRINTK` is not defined:
[code]

However, it is used in many places (`git grep snprintk | wc` gives 213 matchs), including some that must not be "optimized" when logs are removed:
- it is used to create AT commands in ublox-sara-r4, wncm14a2a, esp drivers
- it is used to create JSON payload in li

[2020-04-08 08:52] XavierChapron commented on #24181
Currently both `snprintf()` and `snprintk()` are used.
This leads to having both function in generated binary which is an unnecessary duplicate increasing flash footprint.

Should this be in this issue or in another one?

[2020-04-08 09:13] cvinayak opened #24183 "[v2.2] Bluetooth: controller: split: Regression slave latency during connection update"
**Describe the bug**
Slave latency should not be applied between the ack of a
Connection Update Indication PDU and until the instant.
When caching was introduced in split controller, implementation missed this
consideration which caused connection events to be skipped, being in slave latency.

**To Reproduce**
You will need logic analyser to observe the GPIO toggles of BLE controller radio events.

[2020-04-08 09:33] kubazdz commented on #23777
Right, thanks all, I managed to apply all your comments and to build  exapmle. It was all matter of a wrong version

[2020-04-08 09:34] emob-nordic commented on #24103
@pabigot What did You use to read serial number from the device and what device did you use? I am using Windows USB device viewer and for me its okay. I've checked with nrf52840_pca10056 to check serial number. The result is as expected. In my case:
[code]

Serial number:
[code]

[2020-04-08 09:47] jukkar commented on #24156
@mrfuchs can you try the fix proposal and report if it works for you.

[2020-04-08 09:54] jukkar commented on #24181
Sounds like a separate issue to me.

IMHO best option would be to always have a full implementation of snprintk().

[2020-04-08 09:55] hakkimakki commented on #23998
Thanks for your responses my proj.conf is:

CONFIG_SERIAL=y
CONFIG_NRFX_TIMER0=y
CONFIG_UART_0_NRF_UARTE=y
CONFIG_CONSOLE_HANDLER=y
CONFIG_SHELL=y
CONFIG_FLASH_SHELL=y
CONFIG_DYNAMIC_INTERRUPTS=y
CONFIG_ASSERT=y

CONFIG_NEWLIB_LIBC=y
CONFIG_CPLUSPLUS=y
CONFIG_LIB_CPLUSPLUS=y

[2020-04-08 09:59] hakkimakki commented on #23998
However I just found the problem. The reboot loop is caused by the two variable declarations before the declaration of the array of objects (see code below). If the two other variables are commentet out the ctor works fine. This is my main.cpp file:

#include <string.h>
#include <zephyr.h>
#include <sys/printk.h>

class Channel
{
public:
	int freq = 2400;   // Frequency [Mhz]
	int Pnoise = 174;  /

[2020-04-08 10:00] jukkar commented on #24108
Could you try to increase the value of `CONFIG_MBEDTLS_SSL_MAX_CONTENT_LEN` and retry. That option determines what is the maximum size of the encrypted packet, default value is 1500 bytes.

[2020-04-08 10:02] carlescufi commented on #24081
@lagosantol it is @cvinayak who is working on the controller support for Extended Advertising. He can give you some more information on the status, but the focus right now is non-connectable, non-scannable extended advertising first, then the rest.

PR #22237 is the first step towards Extended Adv in the controller

Also feel free to join the #bluetooth channel in [slack](https://tinyurl.com/y5glw

[2020-04-08 10:14] carlescufi commented on #24158
@tejlmand can you take a look please?
@pabigot thanks for the analysis

[2020-04-08 10:15] carlescufi opened #24187 "Remove the BLE Legacy Controller from the tree"
The BLE split controller has been the default since Zephyr 2.0.
The legacy controller should now be removed for 2.3.

Remove the following option as well as all associated ones:
`CONFIG_BT_LL_SW_LEGACY`

[2020-04-08 10:18] carlescufi commented on #24142
@anangl would you please take a look at this? It's a matter of porting the PPI to DPPI

[2020-04-08 10:18] nvlsianpu commented on #22161
@carlescufi Yes we can decouple these ideas. Moreover I remember @Laczen example native_posix application which is designed for creation of pre-backed image. https://github.com/Laczen/zephyrmodules/tree/master/utils/native_posix/settings_preload

[2020-04-08 10:29] vanwinkeljan commented on #23998
Look like a potential stack issue, could you create the object on the heap?

[2020-04-08 10:47] pabigot commented on #24103
I expect the serial number to match the hwinfo byte sequence.  If you look at the hwinfo byte sequence for your device I expect you'll find it to be `B6452891CAE112DB`.  So hwinfo should be fixed, and the byte reversal in USB should be removed.

[2020-04-08 10:55] Teng-Shih-Wei opened #24191 "obj_tracing: Local IPC variables are not removed from obj tracing list after function return"
**Describe the bug**
If we declare a local IPC variables in a function and initialize it, it will be linked to the obj tracing list. After function return and have other function call, it will pollute the memory, which is used for local IPC variables in previous function. The original next obj pointer, "__next",  is probably changed, and lost the tail list.

![image](https://user-images.githubuser

[2020-04-08 11:38] joerchan commented on #23134
Given the bt_gatt_notify_multiple PR by @Vudentz I don't think that having it as a return value is a solution.

Maybe we should just have a kconfig option to enable the behavior?

[2020-04-08 11:58] kubazdz opened #24193 "Issue with launching examples on custom board (after succesfull build)"
**Describe the bug**
I have a custom board with nrf52832. I made whole board files set and try to launch blinky example on it with additional uart printk (board has uart). Example builds successfully (with custom board specified) but after flashing there is no uart output (even "booting Zephyr OS...") and the led doesn't blink. When i flash the same example (without rebuilding) to nrf52_pca10040 i

[2020-04-08 12:04] kubazdz commented on #23777
actually this issue can be closed, but I have another similar to this but with few changes. I made a new issue

#24193

[2020-04-08 12:52] hakkimakki commented on #23998
It looks like the object is allocated on the heap because i can step through the whole ctor just fine. However while leaving the main thread there is an assert failure.

I just figured out by enabling CONFIG_DEBUG=y resolves the issue aswell. So maybee its related to optimaziations (see: https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_DEBUG.html?highlight=config_debug#cmdoption-arg-

[2020-04-08 13:45] rajputh54 opened #24194 "Bluetooth: Mesh: Unknown message received by the node"
**Describe the bug**
I have setup for two devices Node-A (nRF52840 pca10056) and Node-B (nRF52 pca10040).
Node-B sends report continuously at  interval of 2550 msec interval to Node-A.
Node-A receives a message with expected value but at the same time it gets one more message with garbage values.
Message length is 5 bytes so it's unsegmented message.

**To Reproduce**
Steps to reproduce the behavi

[2020-04-08 13:46] carlescufi commented on #23225
@joerchan reminds me that we have `bt_le_set_chan_map()` in the tree today. The ability to update the channel map from noise in the environment is currently not in scope. @BOZHENG001 if you are interested in moving this forward please send a proposal, thanks!

[2020-04-08 13:46] #23225 closed

[2020-04-08 14:17] CodingGhost opened #24195 "question regarding c++"
I hope its ok to ask here, but I have not found any other forum where I could ask, neither did I find enough information about my  issue.

does Zephyr fully support c++?
I started developing, but I cannot include vectors or strings..etc

I have added
CONFIG_CPLUSPLUS=y
CONFIG_LIB_CPLUSPLUS=y

to my prj.conf, but it does not work.
how can I get this to work, and where should I be posting questions?

[2020-04-08 14:37] XavierChapron opened #24197 "Reduce snprintf and snprintk footprint"
**Is your enhancement proposal related to a problem? Please describe.**
Both `snprintk()` and `snprintf()` are used and therefore linked in the app binary.
This is waste of flash to have both when they basically have mostly the same behavior.

**Describe the solution you'd like**
To me, the best solution would be:
- Add a `Kconfig` variable to either use `snprintf()` or `snprintk()` based on the u

[2020-04-08 14:38] XavierChapron commented on #24197
This issue is linked to https://github.com/zephyrproject-rtos/zephyr/issues/24181.

[2020-04-08 14:41] XavierChapron commented on #24181
Thank for your reply.
I have created a separated issue.

[2020-04-08 14:58] #24180 closed

[2020-04-08 15:07] AndersAtEndian opened #24200 "USB GET_INTERFACE response always 0, even when an alternate setting is used"
**Describe the bug**

The response to a USB GET_INTERFACE is always 0, see the following excerpt from subsys/usb/usb_device.c.

[code]
But according to USB Specification Revision 2.0 (usb_20.pdf from usb.org) section 9.4.4 GET_INTERFACE should return "selected alternate setting for the specified interface."

**To Reproduce**

There is no (or at least I can't find one that builds for my board) samp

[2020-04-08 15:41] sslupsky commented on #23444
@pabigot My point is what you described is not what is happening here.  The driver does not use memcpy to read the raw bytes from the starting address.  It first reads the data as u32_t and then uses memcpy to copy the data.  This approach ensures there is endianness in the data.

[2020-04-08 15:45] sslupsky commented on #24103
I looked at the nordic driver when I looked into the hwinfo issue #23444 I posted.  This is an endianness problem with hwinfo.

[2020-04-08 15:58] sslupsky commented on #24103
@emob-nordic Your observation is correct.  DEVICEID[0] and DEVICEID[1] are u32_t data types so when you print them as u32_t data types, the output is printed big-endian.  However, if you copy the data using memcpy and then print a sequence of bytes as HWINFO does, the byte sequence is printed little-endian because that is the underlying endianness of the ARM Cortex M0.

[2020-04-08 16:08] pabigot commented on #23444
If it reads and writes `u32_t` in CPU endianness and then copies the bytes, it's equivalent to copying the bytes without involving `u32_t`.  It may be the read is 32-bit only because the registers don't support byte access.

Nonetheless, I think we agree that if Nordic wants `hwinfo` to correctly represent the fact that the hardware identifier in this is a 64-bit value that is stored in a little-e

[2020-04-08 16:19] sslupsky commented on #23444
Agreed, consumers of the hwinfo data should not be expected to do transformations on the bytes.  That is at the core of what I am trying to get to consensus with on this issue.  The consensus on this  determines if the root cause of the problem is:
1. the underlying driver(s), or
2. how the information is output with hwinfo_shell.c.

Your suggestion, and I believe @alexanderwachter said this too,

[2020-04-08 16:57] mbolivar-nordic commented on #23777
Thanks! We'll continue discussion in the new issue then.

[2020-04-08 16:57] #23777 closed

[2020-04-08 16:59] mbolivar-nordic commented on #24193
Can you attach a debugger and see if control flow reaches main()?

[2020-04-08 17:04] mbolivar-nordic commented on #24178
I don't think I'm the right assignee.

[2020-04-08 17:08] sslupsky commented on #23444
I think the change can be done efficiently using sys/byteorder.h as follows:
sam0:
[code]

nordic:
[code]

I have tested the sam0 driver and it works fine.  Can you please test the nordic patch and let me know if it provides what you want?  Do the words need to be swapped as well in the nordic driver?

[2020-04-08 17:16] pabigot commented on #23444
I believe (without testing) that Nordic must be:
[code]
as the stored value is a little-endian 64-bit integer.  That's why reversing the entire 8-byte sequence is being done for USB.

[2020-04-08 17:27] mbolivar-nordic commented on #24104
That is also in the `west help sign` output:

[code]

[2020-04-08 18:05] pabigot commented on #24195
No, Zephyr does not fully support C++.   #18554 has some status; though it refers to 2.1 I don't believe anything's changed.

Look to `tests/application_development/libcxx/` for the most advanced sample; in particular you need to use newlib in order to access standard library capabilities.

You can ask questions in the [slack general channel](https://docs.zephyrproject.org/latest/guides/getting-he

[2020-04-08 18:05] #24195 closed

[2020-04-08 18:10] tautologyclub commented on #23798
Well let the app developer do as she wishes, but zephyr components using poll_in should definitely 100% be discouraged imo.

[2020-04-08 18:13] rerickson1 commented on #24076
nice thought.  I removed the `printk` calls from `sys_pm_notify_power_state_entry`.  No luck... Still leaving the HFCLK active (~500 uA).

[2020-04-08 18:40] tautologyclub commented on #22941
So I get how iteratively enabling parents would be nice but iteratively disabling children seems sort of overkill. Wouldn't listing parents but only ref counting children be enough for pm?

[2020-04-08 19:03] tejlmand commented on #24158
This happens because the sample CMakeLists.txt itself tests the board name BEFORE renaming is done.

Hence, it doesn't know anything about deprecated boards.
Secondly, it also happens before boilerplate is sourced, making things trickier.

Of course the easy fix is to just update to test both new and deprecated boards, but as this also affect aliases, it should be considered if we can do something

[2020-04-08 19:05] sslupsky commented on #23444
@carlescufi submitted a PR for this:
https://github.com/zephyrproject-rtos/zephyr/pull/24203

[2020-04-08 19:06] endian-benjamin commented on #22941
Another point regarding deferred init etc:

Perhaps these shortcomings are not strictly a matter of the API lacking features. It could be argued that it's more a matter of what's considered idiomatic. If drivers were in general structured like this:

[code]

then all "real" inits would be deferred until the user actually requested the device to be powered on. But NO (upstream) drivers are written

[2020-04-08 19:07] sslupsky commented on #23444
I tested the sam0 but cannot test the nordic change.  I conferred with @pabigot about the change to the nordic driver and it looks ok.  It was a slightly different change than the sam0 driver because of the word size.

[2020-04-08 19:14] tejlmand commented on #24158
actually, the CMake code in the linked file will never work as intended, cause `APPLICATION_SOURCE_DIR` is a variable being defined in boilerplate, and hence not available in code at that time it is used.

[2020-04-08 19:44] tejlmand commented on #24145
@overheat the underlying issue is fixed here: https://github.com/zephyrproject-rtos/zephyr/pull/24205
It should of course be possible to still use deprecated names, although we of course advice people to use the new names.

[2020-04-08 20:19] rerickson1 commented on #24076
Kept my example exactly the same and switched to Zephyr 2.2.0 and everything works fine there.  So something changed with the UARTE behavior between 1.14.1 and 2.2.0.

[2020-04-08 20:57] rerickson1 commented on #24076
Looks like this commit is what could fix the issue: 55e2014d995a4a6b73cc1d967bdd4fd452ceb03e. This commit is not included in 1.14.1
@endian-benjamin looks like you were the author!

[2020-04-08 21:50] mbolivar-nordic opened #24207 "tests/subsys/fs/fcb fails on nRF52840-DK"
**Describe the bug**

I'm getting a test failure on tests/subsys/fs/fcb for nrf52840dk_nrf52840.

**To Reproduce**
Steps to reproduce the behavior:
1. cd zephyrproject/zephyr
2. west build -b nrf52840dk_nrf52840 -p -t flash -s tests/subsys/fs/fcb
3. test fails on device serial console

**Expected behavior**

The board is listed in platform_whitelist inside tests/subsys/fs/fcb/testcase.yaml, so I e

[2020-04-08 21:51] mbolivar-nordic commented on #24207
@nvlsianpu not sure if you are the right assignee. Please feel free to change.

[2020-04-08 23:59] nandojve opened #24211 "[v2.2.x] lib: updatehub: Not working on Zephyr 2.x"
**Describe the bug**
The FOTA UpdateHub stop to working on Zephyr 2.x

**To Reproduce**
Follow UpdateHub sample steps

**Expected behavior**
Be possible work with UpdateHub CE

**Impact**
Feature not work

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.11.2
 - v2.2.0

[2020-04-09 00:11] nandojve opened #24212 "lib: updatehub: Improve memory footprint"
**Is your enhancement proposal related to a problem? Please describe.**
The current version of UpdateHub uses heap memory on same method. There are methods that implement bin stream to hex and Zephyr have their own version internally.

**Describe the solution you'd like**
Remove use of heap memory and try to use zephyr internals as much as possible.

[2020-04-09 01:23] cvinayak commented on #24176
Transmit is prepared here:
https://github.com/zephyrproject-rtos/zephyr/blob/4547bfb452b5d33b9ba052890ec64afa38c51d53/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_master.c#L137
, and here:
https://github.com/zephyrproject-rtos/zephyr/blob/4547bfb452b5d33b9ba052890ec64afa38c51d53/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c#L214

Do not count your transmit when in this control path,

[2020-04-09 02:12] chen-png opened #24215 "Couldn't flash image into up_squared using misc.py script."
**Describe the bug**
for up_squared and acrn, we used the scripts/west_commands/runners/misc.py to flash a image, but now it met an flash error.
the related commit is 3b49d0159, i reverted my repo before this commit, it was ok.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto samples/hello_world
2. west flash up_squared.sh
3. See error

**Screenshots or consol

[2020-04-09 02:15] chen-png commented on #24215
@hakonfam  Could you take a look of this? it's related to commit 3b49d015

[2020-04-09 02:16] chen-png commented on #24215
this blocked QA test, so changed it's priority to medium.

[2020-04-09 03:35] rerickson1 commented on #24076
I can confirm that commit fixes shutting down the UART properly.  There is now an issue when we come back out of sleep:
[code]

I'm not sure what would cause this...

[2020-04-09 04:44] nordic-krch opened #24216 "Shell: Allow selecting command without subcommands"
**Is your enhancement proposal related to a problem? Please describe.**
Currently it is not possible to select command which does not have any subcommands defined and there is no reason it should not be supported

**Describe the solution you'd like**
Allow selecting commands without subcommands

[2020-04-09 04:58] nordic-krch opened #24217 "Shell: provide mechanism to call any command while in select command"
**Is your enhancement proposal related to a problem? Please describe.**
Issue raised by  @stig-bjorlykke: https://github.com/zephyrproject-rtos/zephyr/pull/24138#issuecomment-610903941
A user would like to select a command (in that particular example it is AT modem commands) but still use all shell commands available in the system.

**Describe potential solutions**
@stig-bjorlykke proposed a defau

[2020-04-09 06:32] hakonfam commented on #24215
Please check https://github.com/zephyrproject-rtos/zephyr/pull/24218, it fixed the issue on my side.

[2020-04-09 06:55] emob-nordic commented on #24200
First of all, whats the use case to add alternate setting for such device?
In order to make it work i suppose that [custom_handler](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/class/loopback.c#L169) must be implemented but I might be wrong as I took only i brief look into this. I cannot say when I will have time to do it as I am a bit busy right now and I do not see clear u

[2020-04-09 07:12] fnde-ot commented on #23134
I would agree with a Kconfig to enable truncation. Should we also make an API change so that the number of bytes sent is sent to the cfg_match callback?

[2020-04-09 07:28] jakub-uC commented on #24217
Maybe if command starts with a special character, not allowed in the command syntax, it would indicate that we want to access the root commands tree? This should be feasible for implementation.

For example:
`selected_cmd_tree_cmd argument1 argument2`
Calling root command despite other command is selected:
`! shell colors off` or `~ shell colors off` or something similar.

[2020-04-09 07:30] AndersAtEndian commented on #24200
Sorry for being a bit unclear - the example was just the quickest way I could find to create a patch that would fail in the USB compliance test. I'm tinkering with audio stuff and it was in that context that the issue was found.

I can create a PR for a more generic solution; store the alternate setting after a successful USB SET_INTERFACE and returning that in the GET_INTERFACE request.

[2020-04-09 07:47] emob-nordic commented on #24200
Ah, okay now I get this. If You want to post a PR it would be great. One question as You said 'generic solution'. Where do You gonna store the info about alternate setting?

[2020-04-09 07:49] ABOSTM opened #24221 "Do not run cron workflow on forks"
**Describe the bug**
Since introduction of github Action:

I receive daily email about this action which runs on my fork.

And I can imagine it will be the same for all zephyr forks that will be aligned on master branch.

**Expected behavior**
Do not run github action on all forks

There is an open thread to discuss this problem
https://github.community/t5/GitHub-Actions/Do-not-run-cron-workflows-

[2020-04-09 07:50] ABOSTM commented on #24221
^^@galak

[2020-04-09 07:51] AndersAtEndian commented on #24200
Good question. If zephyr only supports one interface would it be out of place to store it in struct usb_dev_priv?

[2020-04-09 07:51] BOZHENG001 commented on #24176
@cvinayak Thanks for your answer! Totally solved my question.

[2020-04-09 07:51] #24176 closed

[2020-04-09 08:13] galak commented on #24221
@ABOSTM a PR with a change to the workflow files is welcome.

[2020-04-09 08:25] emob-nordic commented on #24200
Until now it supported no alternate settings but many interfaces. For example if You configure 2x cdc there will be 4 interfaces in total.

It cant be in usb_dev_priv as on this level You are not possible to guess the total number of interfaces so there is no possibility to create a table or whatsoever to store this information.
I think the only way now is to implement [custom_handler](https://git

[2020-04-09 08:26] kubazdz commented on #24193
@mbolivar-nordic actually I did upgrade to latest (2.2.99) version and it works now

[2020-04-09 08:27] AndersAtEndian commented on #24200
Thanks! I'll look into that.

[2020-04-09 08:40] emob-nordic commented on #24200
We can follow up on Slack, feel free to ping me there.

[2020-04-09 09:15] tluio opened #24224 "Possible uninitialized variable in zephyr\subsys\logging\log_msg.c"
In function msg_alloc, z_log_msg_std_alloc is called to allocates a block for msg.
On line 266, if log_msg_chunk_alloc return NULL, msg_free will be called on line 269.
On line 142 in function msg_free, log_msg_level_get is called to get msg->hdr.ids.level but msg->hdr.idx.level may be uninitialzed here.

[2020-04-09 09:19] finikorg commented on #24215
I have the same issue with up_square_adsp board, PR #22724 is failing.

[2020-04-09 09:20] Jeepgoing opened #24226 "[master]Bluetooth: samples/bluetooth/central_hr can't connect with samples/bluetooth/peripheral_hr"
Platform:
- Central: nrf52dk_nrf52832
- Peripheral: thingy52_nrf52832

Environment:
- OS: (Ubuntu 18.04)
- Toolchain (Zephyr SDK)

Issue:
I am testing BLE, thingy52_nrf52832 as peripheral and nrf52dk_nrf52832 as central, it's sames good about peripheral, when i download `samples/bluetooth/peripheral_hr` to thingy52_nrf52832, i can connect it with my Android App[nRF Connect], but when i use thingy5

[2020-04-09 10:24] awsa2ron opened #24227 "build hello_world sample failed for ESP32 board."
**Describe the bug**
I can build successfully with this [ESP32 official instruction](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/get-started/index.html#get-started-setup-toochain)
But failed with zephyr.

**To Reproduce**
`west build -b esp32 samples/hello_world`

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)

[2020-04-09 11:01] LingaoMeng commented on #24194
@rajpadm  Can you send different data for every publish message ?
I'm notice that number `18` eq `0b0001 0010` and number `3602` eq `0b1110 0001 0010`

[2020-04-09 11:11] wentongwu opened #24228 "system power states"
Currently Zephyr classifies power states into two categories, sleep state and deep sleep state, based on whether the CPU loses execution context during the power state transition, and every state has more sophisticated sub-states(SLEEP_1, SLEEP_2, SLEEP_3, DEEP_SLEEP_1, DEEP_SLEEP_2, DEEP_SLEEP_3) which are classified only by the residency duration. But it's not enough to define power states based

[2020-04-09 11:24] LingaoMeng commented on #24194
While I'm found some buffer issure https://github.com/rajputh54/reproduce-zephyr-issues/blob/eb2f049467e778d20885b20561a9d6b48753b163/node-b/src/main.c#L118-L125

As you say above, every publish will occupy `five` octers (exclude opcode), but you allocated only `four` octes.

[2020-04-09 11:50] tejlmand commented on #24227
@awsa2ron it appears to my that you are not using Zephyr SDK, but a 3rd party toolchain from Espressif for compilation, is that correct ?
If so, please update the text, describing the toolchain you are using.

In above log, it shows:

[2020-04-09 12:04] #24215 closed

[2020-04-09 12:10] carlescufi commented on #24226
This works fine here for me, I am not sure what the issue is

[2020-04-09 12:11] carlescufi commented on #24226
Here is my log from the central side:

[code]
Maybe your central is connecting to another device that also shows the HR service in its advertising data, and that device is not handling the ATT requests correctly?

[2020-04-09 12:18] wentongwu opened #24230 "device power management irq lock"
When system going to suspend, devices are also required to be put in low power state. But currently it runs with irq locked, that's not correct for some uses, consider that device driver need some software sync with device firmware, which should be done with device interrupt involved. To overcome this, sys_suspend will be ran with scheduler locked(k_sched_lock) and before the actual power state se

[2020-04-09 12:24] ABOSTM commented on #24221
No, I am not able to do so: I never worked with github action.
But it looks like you created the cron schedule, so please solve it (or remove it) before everybody gets annoyed.

[2020-04-09 12:25] awsa2ron commented on #24227
@tejlmand
Thanks for your reply!
I just follow the [zephyr official docs](https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html#set-up-build-environment)

I think zephyr need using 3rd party toolchain in this case.

[2020-04-09 12:36] stig-bjorlykke commented on #24217
From the implementation it looks like `select` is solving a different use case than originally requested. The use case for `AT` commands is to register a shell command handler which will be called instead of printing the text "command not found". This will not conflict with any other registered commands, and will allow the given command handler to determine if it can make use of the command or not

[2020-04-09 12:54] carlescufi commented on #24193
Closing since this is fixed now.

[2020-04-09 12:54] #24193 closed

[2020-04-09 13:00] rajputh54 commented on #24194
Thanks a lot for your help !!!
As you suggested, It's working fine after adding enough pub buffer,

[2020-04-09 13:00] #24194 closed

[2020-04-09 13:11] endian-benjamin commented on #24076
@rerickson1 Yeah I sorta assumed that commit was backported to v1.14 - we obviously have it in our downstream.

[2020-04-09 13:16] endian-benjamin commented on #24076
GDB is your best bet, step around a bit and also try `disassemble` on/around the culprit address

[2020-04-09 13:16] #24156 closed

[2020-04-09 13:17] rerickson1 commented on #24076
Thanks, I'll poke around.  Im am guessing there may be some other fixes I need along with that commit.
 Unfortunately it looks like there are a lot of NRF UART fixes that didn't make it into 1.14.1 even though they were committed months before the release.

[2020-04-09 13:18] pabigot commented on #22941
Providing device dependencies is not difficult: we already have them, we just haven't emitted them yet, perhaps because we haven't identified the canonical representation of a device handle.  (The address of the `struct device` would work, but that's a lot of space when we could use a `u8_t` or `u16_t` handle value to identify dependent and depending nodes in any reasonable Zephyr application.)

W

[2020-04-09 13:33] ytchen1435 opened #24233 "adxl362_trigger.c adxl362_init_interrupt function :const struct adxl362_config *cfg not found gpio_cs_port"
because adxl362_trigger.c not define DT_DRV_COMPAT

[2020-04-09 13:42] #23677 closed

[2020-04-09 13:52] #22701 closed

[2020-04-09 13:58] CodingGhost commented on #11928
I am a newbie here and have to agree @chris-makaio.
I had no Idea what to do.

[2020-04-09 14:12] carlescufi commented on #23611
Sorry for the delay.

Created the repo and added @PiotrZierhoffer to it:
https://github.com/zephyrproject-rtos/hal_quicklogic

[2020-04-09 14:12] #23611 closed

[2020-04-09 14:22] tejlmand commented on #24227
@carlescufi as the official Zephyr docs that @awsa2ron is pointing to, tells users to try hello world with the Espressif toolchain, then I think this is indeed a bug. Re-adding the label 'bug'.

[2020-04-09 14:23] tejlmand commented on #24227
Please note, this is not Zephyr SDK, but 3rd party toolchain as described in the Zephyr doc link.

[2020-04-09 14:30] ABOSTM opened #24237 "Fail to pass samples/subsys/nvs"
**Describe the bug**
I tried to run samples/subsys/nvs on disco_l475_iot,
but after some reboots (expected  in this test),
it fails to read :

**To Reproduce**
Steps to reproduce the behavior:
1. west -v build -p auto -b disco_l475_iot1 samples/subsys/nvs/
   west flash
2. Open console
3. after 10 cycles, ID 4 is missing in the log

**console:**

**Preanalysis:**
Analysing this issue, I found that

[2020-04-09 14:30] carlescufi commented on #23850
This is done now, once https://github.com/zephyrproject-rtos/zephyr/pull/24062 is merged.

[2020-04-09 14:30] #23850 closed

[2020-04-09 14:36] carlescufi commented on #23799
@nordic-krch and @Mierunski can you take a look and submit a PR? If you are unable to at this time please let me know.

[2020-04-09 14:43] carlescufi commented on #24076
@rerickson1 the issue is that we only backport critical security fixes or whatever the community explictly asks to be backported. If you want something backported, the safest way is to send a PR against the v1.14-branch and add it to the Backports GitHub project.

[2020-04-09 14:45] rerickson1 commented on #24076
Thanks @carlescufi.  I am testing out backporting the fixes now.

[2020-04-09 14:57] #24158 closed

[2020-04-09 14:58] carlescufi commented on #23998
@hakkimakki if you think this is solved, please close the issue. If you need more information let us know.

[2020-04-09 15:01] carlescufi commented on #22466
I tried searching in our downstream but could not find any hits. @pdunaj could you comment?

[2020-04-09 15:16] pdunaj commented on #22466
Hi @carlescufi , @GeorgeGkinis,

I have added this two values to open a posibility for additional attributes and channels without having to update sensor header each time. This was after I waited for channel specific to motion sensor to be added upstream. Since our channel was added we don't use private anymore but
https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/include/sensor/pm

[2020-04-09 15:55] carlescufi commented on #24237
@Laczen any hints on this one?

[2020-04-09 16:42] albertofloyd opened #24241 "Build error when using MCHP ACPI HAL macros"
**Describe the bug**
Compilation error when using MCHP ACPI HAL macros i.e.
MCHP_ACPI_EC_STS_OBF

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\mec15xx
3. make
4. See error

**Expected behavior**
Need update HAL header with correct definitions

[2020-04-09 16:57] nandojve opened #24243 "MCUBoot not working on disco_l475_iot1"
**Describe the bug**
[code]

**To Reproduce**
Build current mainline MCUBoot/Zephyr for **disco_l475_iot1** board

**Expected behavior**
After apply this patch it worked fine.
[code]
Shell:
[code]
**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.11.2
 - mainline

**Additional context**
I not sure if the fix should be sent to MCUBoot module or it c

[2020-04-09 16:59] Laczen commented on #24237
@ABOSTM, the bug is not a bug, it is supposed to do this. After 10 cycles the item with ID=4 is deleted, so it should show anymore.

Regarding the error on the frdm_k64f, I think this device has a pagesize of 0x1000, so only two pages will fit in the storage area. The test requires 3 pages so the initialisation will fail.

[2020-04-09 17:30] #23444 closed

[2020-04-09 17:35] jfischer-phytec-iot commented on #24200
CDC ECM has alternate settings for the second interface:
[CDC ECM Interface 1 | bAlternateSetting = 0](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/class/netusb/function_ecm.c#L122) and [CDC ECM Interface 1 | bAlternateSetting = 1](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/class/netusb/function_ecm.c#L136)

[2020-04-09 17:39] pabigot commented on #24103
@carlescufi This is not closed.  The USB infrastructure must be updated to not reverse the bytes in `hwinfo`, now that they are stored in the expected order.

[2020-04-09 17:45] scottwcpg commented on #24241
Please see PR #9 https://github.com/zephyrproject-rtos/hal_microchip.
I keep forgetting how to add reviewers because the reviewers section is grey'd out.

[2020-04-09 17:51] erwango commented on #24243
^^@ABOSTM

[2020-04-09 18:43] rerickson1 commented on #24076
For clarity, branch v1.14-branch already contains a fix that resolves the high current consumption of UARTE when powering it off.  The commit that fixes in on that branch is a2e7b0ddf4b76875f503b7e29c02f56ba8248885.  the 1.14 branch is still missing several critical fixes and the 1.14.1 release tag is missing several fixes along with the one to fix high current consumption.  PR #24245 aims to brin

[2020-04-09 20:01] szundi commented on #21321
Updated to newer git, deleted the folder that holds civetweb with all the others and this fixed it, after this the update worked. Before the delete it did not.

[2020-04-09 22:13] nashif opened #24252 "Python detection macro in cmake fails to detect highest installed version"
**Describe the bug**

Python detection fails to detect highest installed version, instead it find a compatibility and older version installed.

**To Reproduce**

[code]

However, I have 3.7.x

[code]

**Expected behavior**

cmake should find the highest version installed.

**Impact**

Failure to build

**Additional context**

Looking at cmake/python.cmake

[code]
That text seems to be outdated and

[2020-04-10 00:49] wentongwu commented on #24230
@pabigot

[2020-04-10 00:50] wentongwu commented on #24228
@pabigot

[2020-04-10 01:22] dcpleung opened #24255 "k_cpu_idle() is called with interrupts locked inside idle()"
Inside `kernel/idle.c`, function `sys_power_save_idle()`, `k_cpu_idle()` is called when `_sys_suspend()` determines that it is not desirable to suspend. And `sys_power_save_idle()` is called within `idle()` in the same file when `arch_irq_lock()` is called just before. This causes issues, for example on ARM, where `k_cpu_idle()`->`arch_cpu_idle()` would manipulate `BASEPRI` where `arch_irq_lock()`

[2020-04-10 03:21] Jeepgoing commented on #24226
I have updated master branch and tried again, it's the same result：

central log：

peripheral log:

I have tested peripheral with my phone use nRF Toolbox APP, i have't found another HRM device, only my device was found, so i don't know why your result is good. @carlescufi

[2020-04-10 03:45] Jeepgoing commented on #19038
fixed

[2020-04-10 03:45] #19038 closed

[2020-04-10 05:24] mayankpatel17 commented on #23319
Hi Vinayak,

I have planned the retry with latest master branch but because of ongoing
nationwide lockdown I'm  not able to test it.
As soon as i will start or find anything on that part i will surely let you
know in this thread.

Regards,
Mayank Patel

On Tue, Apr 7, 2020 at 6:52 AM Vinayak Kariappa Chettimada <
notifications@github.com> wrote:

[2020-04-10 06:08] hakonfam commented on #24215
Did #24218 fix the issue for you?

[2020-04-10 08:56] ABOSTM commented on #24243
Hi @nandojve ,
I could not find the file your are talking about

https://github.com/zephyrproject-rtos/mcuboot/tree/master/boot/zephyr/boards
not even in MCU ooficial github
https://github.com/JuulLabs-OSS/mcuboot/tree/master/boot/zephyr/boards
So where does it come from ?

[2020-04-10 08:59] #24103 closed

[2020-04-10 09:16] ABOSTM commented on #24243
Hi @nandojve ,
Ok I get it. you propose a new file.
So can you create a PullRequest in zephyr, but in https://github.com/zephyrproject-rtos/mcuboot/

So this issue should be moved to https://github.com/zephyrproject-rtos/mcuboot/ (instead of https://github.com/zephyrproject-rtos/zephyr)

[2020-04-10 11:48] #23274 closed

[2020-04-10 11:58] pabigot commented on #24228
Where are these ACPI states documented?

Looking at the [6.3eB specification](https://uefi.org/specifications) section 2.2 I see G0 is Working, G1 is Sleeping.  Figure 16-74 in section 16.1 shows four (S1-S4) substates within G1, though S5 is also mentioned. It seems to break down to:

* G0 Working
* G1/S1 low wake-latency sleeping...
* G1/S2 S1+system memory can be lost
* G1/S3 S2+more power doma

[2020-04-10 12:05] erwango commented on #24237
@Laczen if not failing, is there any way to get a "passed" verdict when running the sample with sanitycheck?

[2020-04-10 12:15] pabigot commented on #24230
I'm skeptical of a model that requires everything be done at the point the system is trying to suspend.  Some device PM operations require a thread to be involved: that's why there's an onoff service (updated in #23898), and that won't work from `_sys_suspend()` where transitions must be synchronous.  The whole prepare/notify coordination solution seems fragile, and may well work only because it r

[2020-04-10 12:42] Laczen commented on #24237
@erwango, this is a sample to help people gettings started with nvs.  This sample is no test whatsoever so there should never be any conclusion about a run with sanitycheck.

[2020-04-10 12:46] Laczen commented on #24237
@erwango, if there is a need to get this "passed" verdict, please feel free to remove the sample.

[2020-04-10 12:59] emob-nordic commented on #23980
I've reproduced it easily. It doesn't happen sometimes, it happens always after same amount of hci commands send from host. For me it's always 1725. Digging deeper...

[2020-04-10 14:01] erwango commented on #24237
@Laczen this is not helping

[2020-04-10 16:02] d3zd3z commented on #11594
People still complain from time to time when C99 features are used. Just try declaring a variable inside a block of code.

[2020-04-10 17:27] sslupsky commented on #21305
@andyross The new API looks nice.

I ran into a minor issue today with sys pm policy:
[code]
 Should the type of the argument for this function now be k_ticks_t instead of s32_t?

[2020-04-10 17:54] andyross commented on #21305
@sslupsky (you might want to ask this in a separate issue instead of here in a closed PR): what is the code in question?  The API for manipulating timeouts has changed a little, but if I'm reading correctly that code was never correct to begin with -- timeouts were always milliseconds, so comparing it to K_FOREVER implies that you're doing something other than a kernel timeout.  K_FOREVER is now a

[2020-04-10 18:00] andyross commented on #21305
Editting: OK, I see now you're in a suspend handler.  The integer token for "forever" passed to timer drivers and system suspend handlers is now K_TICKS_FOREVER.  This was actually an API abuse internal to the kernel (as mentioned, K_FOREVER is supposed to be milliseconds, not ticks) that got corrected as part of this PR.  Drivers have their own constant.

I'm a little worried this didn't get caug

[2020-04-10 18:03] nashif commented on #24008
@chen-png  then please say it is xcc, your bug report says:
[code]

this is misleading

[2020-04-10 19:02] andrewboie commented on #23476
This also fails on nsim_sem, nsim_em, nsim_sem_mpu_stack_guard, nsim_em_mpu_stack_guard

[2020-04-10 19:03] #22561 closed

[2020-04-10 19:06] andrewboie opened #24275 "tests/kernel/mem_protect/syscalls fails on ARC in test_syscall_torture"
Observed on nsim_sem, nsim_em, nsim_sem_mpu_stack_guard, nsim_em_mpu_stack_guard.

This is a concurrency test which produces variable failure output, here is a sampling:

[code]

[code]

[code]

[2020-04-10 19:10] andrewboie opened #24276 "tests/kernel/context hangs on ARC in test_kernel_cpu_idle"
In all cases the test times out with no output.
Observed on nsim_sem, nsim_em, nsim_sem_mpu_stack_guard, nsim_em_mpu_stack_guard

[code]

[2020-04-10 19:24] andrewboie opened #24277 "tests/kernel/workq/critical times out on ARC"
I have observed this on nsim_sem and nsim_em_mpu_stack_guard.
I don't know why this passes on nsim_em and nsim_sem_mpu_stack_guard.
Failures seem consistent after a few runs.

[code]

[2020-04-10 19:34] aurel32 commented on #24230
In addition to that, it would be a nice improvement if active devices could impact the choice of the next power saving level. For example on STM32, it is possible to do I2C transfers in STOP1, but not in STOP2. With the current framework the only option for a device is to simply reject going into power saving mode.

:+1: :+1: :+1:

It would also mean some power saving even when the CPU is running,

[2020-04-10 19:42] BOZHENG001 opened #24278 "Function of "ull_conn_done" in "ull_conn.c""
Hi All

I am right now developing BLE application based on `central_hr`and `peripheral_hr`on nRF52840 DK with zephyr 2.0.

I am now looking through the link-layer code from zephyr. A function called `ull_conn_done` in file `ull_conn.c` is a little confusing for me. I can see some basic comments in it. I suppose it should be about building connection for each connection event/interval. Also, there

[2020-04-11 00:46] wentongwu commented on #24230
Haven't got chance to look at onoff service, but will do, maybe it's the same idea with current device runtime PM where individual device will be off if no one owns it. BTW, current device runtime PM also need the device dependencies to decide on/off which hasn't been considered so far.
And the synchronous state transitions is trying to follow the definition in #24228, where system makes the state

[2020-04-11 00:59] wentongwu commented on #24230
we have that API(sys_pm_ctrl_disable_state/sys_pm_ctrl_enable_state) to impact the state decision in current code, but it should belong to power policy layer's API.

[2020-04-11 02:07] overheat opened #24282 "echo_client sample return: Cannot connect to TCP remote (IPv6): 110"
**Describe the bug**
I have tried echo_server sample, it works. And I leave it as the "server“，but got error after I start echo_client sample.

**To Reproduce**
Steps to reproduce the behavior:
Terminal 0
./net-setup.sh

Terminal 1
1. west build -b native_posix samples/net/sockets/echo_server
2. mv build build_server
3. ./build_server/zephyr/zephyr.exe

Terminal 2
1. west build -b native_posix sam

[2020-04-11 02:44] Jeepgoing commented on #24226
I take the board to my home and change the central side from nrf52dk_nrf52832 to thingy52_nrf52832,
means i test with two thingy52_nrf52832 borad, it's sames ok.

logs:
[code]

[2020-04-11 04:21] chen-png commented on #24008
updated it.

[2020-04-11 06:25] mtahirbutt opened #24283 "os: Illegal use of the EPSR-disco_l475_iot1"
**Describe the bug**
When I run samples/net/updatehub app without internet connection, I see the error message on the console after some time (3, 5, 10 minutes etc.) and the program stops. The program stops usually even after probing the internet.

[1B][8D[1B][J[00:09:51.018,000] [1B][1;31m<err> os: ***** USAGE FAULT *****[1B][0m
[1B][8D[1B][J[00:09:51.018,000] [1B][1;31m<err> os:   Illegal use of

[2020-04-11 06:44] Jeepgoing commented on #24226
@carlescufi Hi Can you show how to send message from central to peripheral? i can't find samples on master branch, thanks.

[2020-04-11 10:45] utzig commented on #24243
The fix is correct but you have to submit the PR here: https://github.com/JuulLabs-OSS/mcuboot

[2020-04-11 12:37] mnkp commented on #17005
@markushx That's going to be a bit complicated. The RAIL library includes a binary blob and so far we don't have any in the main Zephyr tree or any of the modules. The Governing Board / TSC needs to approve it. I do hope this is going to happen. While no one likes it even Linux ships with 3rd party, closed source binary blobs.

I'm working on adding support for RAIL in Zephyr. I should send a PR i

[2020-04-11 13:08] medabme commented on #17543
@mas-co
Hi, I've got the same problem. What is exactly the "build folder" and where could I fond it?

[2020-04-11 14:02] Laczen commented on #24237
@erwango, OK, let us restart. The nvs sample is a sample, as many samples it is not really usefull to run it by sanitycheck. But suppose it is run by sanitycheck, what would you like to conclude from this? I hope you would not conclude that everything is OK if you are getting the same result as a preprogrammed result. The output of the sample is dependent on the configuration of the storage area (

[2020-04-11 14:57] nashif commented on #24178
so, this is not an issue in sanitycheck or west.. The fact that cmake reports about the variable means it was passed correctly to the sample.
Looks like cmake has no idea what to with this and some additional handling is needed in the cmake file, fixed for this sample. If we do not want this to go through cmake then i think we should add

[code]
instead, not sure yet.

[2020-04-11 15:09] #24008 closed

[2020-04-11 15:12] nandojve commented on #23193
@markus-becker-tridonic-com I was thinking about keep this more simple now. I took you suggestion to implement method as weak. I only changed the method signature to avoid internal problems and refactored the internals. At this moment there are many things happen with DT and is better have everything stable. This way, you can have everything you want at Zephyr 2.3 release.

[2020-04-11 16:41] mbolivar-nordic commented on #24252
I think no. This backport is not necessary. And in fact FindPythonInterp is deprecated since CMake 3.12:

https://cmake.org/cmake/help/v3.12/module/FindPythonInterp.html

We should be using this instead:

https://cmake.org/cmake/help/v3.13/module/FindPython3.html#module:FindPython3

[2020-04-11 16:42] tejlmand commented on #24252
@nashif allready looking at this for another reason, see this: https://github.com/zephyrproject-rtos/zephyr/pull/23981#issuecomment-611499714

wi might be able to completely remove Zephyr local copy if finding `ZephyrInterp`

[2020-04-11 17:08] jasonedn opened #24291 "The button interrupt enters the spurious handler"
**Describe the bug**
The button sample ran on the board nucleo_l476rg, When the button was pressed, it entered the spurious handler instead of the button handler.

**To Reproduce**
Build the button sample on the board nucleo_l476rg with the command:
west build -p auto -b nucleo_l476rg samples/basic/button

**Expected behavior**
When the blue button is pressed, it entered the spurious handler and s

[2020-04-11 17:56] jasonedn commented on #11916
I have similar issue (#24291) on cortex. The generated source code isr_tables.c is correct, but _sw_isr_tables in the final linked image is not correct. When button gpio interrupt occurred, it entered the default spurious handler instead of the button handler.

[2020-04-11 19:30] #24162 closed

[2020-04-11 19:32] #24136 closed

[2020-04-11 19:33] #24122 closed

[2020-04-11 21:14] jasonedn commented on #24291
This issue occurred in Windows but it worked in Linux platform.

[2020-04-11 22:10] sslupsky opened #24293 "subsys: shell: bug: shell_fprintf() before shell_enable() causes shell deadlock"
I have run into an issue I think might be a bug but I am not sure at the moment.

The problem can be produced by writing a string using shell_fprintf().  This occurs when the shell is registered as a backend for the logging system.  Here is an excerpt from main.c:
[code]
The strings are Figlet art strings with about 443 characters and 207 characters respectively.  I replaced the strings with a sin

[2020-04-11 22:18] sslupsky commented on #24228
I've interpreted the sleep states for sam0 as "idle" versus "standby" modes documented in the samd21 datasheet.  "Idle" might translate to "Runtime idle" and "standby" might translate to "Suspend to idle"

[2020-04-11 22:38] swapnabulbule commented on #24227
@awsa2ron I was getting same error.  So, I checked any issue is open on I2C for esp32. [issue #24266](https://github.com/zephyrproject-rtos/zephyr/pull/24266)
As per [this](https://github.com/zephyrproject-rtos/zephyr/commit/e9c5e4824c8c600a4b7f7d2c7643a4b241761405) commit . I modified the code. And it worked.

[2020-04-12 02:10] cvinayak commented on #24278
Purpose of `ull_conn_done`
- Check for MIC failures in connection event
- Handle connection termination procedure
- Manage anchor point drift in slave connection
- Handle connection failed to be established using `connect_expire` count down
- Handle supervision timeout using `supervision_expire` count down
- Handle control procedure timeout using `procedure_expire` count down
- Handle authenticate

[2020-04-12 05:54] mron opened #24294 "Problem using TMP116 sensor with platformio"
When CONFIG_TMP116 is added to prj.conf and the project is built in platformio I get this:

.platformio/packages/framework-zephyr/drivers/sensor/tmp116/tmp116.c:140:14: error: 'DT_INST_0_TI_TMP116_BASE_ADDRESS' undeclared here (not in a function); did you mean 'DT_INST_0_TI_TMP116_BASE_ADDRESS_1'?
  .i2c_addr = DT_INST_0_TI_TMP116_BASE_ADDRESS,
              ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-04-12 08:46] BOZHENG001 commented on #24278
Thanks for your answer and suggestion!

One more question is about `supervision_expire`. As you mentioned, `supervision_expire` is used to count the consecutive intervals not receiving a packet or has CRC errors. If we only consider consecutive intervals not receiving a packet, can I also understand it like master and slave fail to synchronize the anchor point?

Because if they fail to synchronize

[2020-04-12 10:54] overheat commented on #24282
I tried net-tools echo-server instead of  echo_server sample, but it is the same issue.
FYI.

[2020-04-12 12:01] GeorgeGkinis commented on #22466
Thanks for answering.

Unfortunately I just made a pull request and then read the above answers.

PR : [#24295](https://github.com/zephyrproject-rtos/zephyr/pull/24295)

Of course I am willing to make any changes needed.
Please review and comment.

[2020-04-12 13:53] #24178 closed

[2020-04-12 14:12] jukkar commented on #24282
In your setup zephyr will get following IPv4 addresses 192.0.2.1 (server), 192.0.2.2 (client) and your Linux host will get 192.0.2.2. So there is IPv4 address conflict. Simplest solution is to set zeth in your Linux host to have some other address like 192.0.2.3. Just go to net-tools directory, copy zeth.conf to zeth3.conf, and then edit zeth3.conf and set the addresses correctly. Then do `./net-s

[2020-04-12 17:21] GeorgeGkinis commented on #22466
@MaureenHelm Indeed I found my answer in the Zephyr docs.
Devicetree for HW and Kconfig for SW setup.

@MaureenHelm too late :/ My PR is already on it's way.
offset/slope parameters have become SENSOR_ATTRIBUTES configured in **Kconfig** or using **sensor_set_attribute**

@MaureenHelm If the whole hardware assembly has been tested at manufacturing then **OFFSET** and **SLOPE** can be defined in **

[2020-04-12 17:30] GeorgeGkinis commented on #22466
https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/include/sensor/pmw3360.h is the example of using attributes.

@pdunaj I see that the extra attributes are defined in an **enum pmw3360_attribute** .
I already tried that way but **sensor_attr_set** requires an **enum sensor_attribute**.

I do not understand how someone could pass it as an **enum pmw3360_attribute**  to **sensor_attr

[2020-04-12 17:51] sslupsky commented on #24293
I have determined that the underlying reason that the shell is unresponsive is because the shell thread does not appear to be running properly.  The thread never reaches the while loop shown below when the problem occurs.

shell.c:
[code]
The deadlock appears to occur at the k_poll() in shell_pend_on_txdone() shown below.  The thread never reaches the k_poll_signal_reset().
[code]
I have confirmed

[2020-04-12 20:35] sslupsky commented on #24293
The problem is that shell_start() prints some data to the output.  I fixed the problem by using the wr_mtx mutex around the output in shell_start().
[code]
This creates another problem though.  The shell now blocks while waiting for a keypress, the watchdog will timeout if the keypress does not occur before the wdt timeout.

Does anyone have a suggestion about how to disable the shell waiting for

[2020-04-13 00:03] overheat commented on #24282
@jukkar Thanks. It make sense.
But I have tried posix<->posix configuration, which is server IP 192.0.2.1 and client IP 192.0.2.2, it return the same error number.
BTW, in linux<->posix case, [zephyr docs](https://docs.zephyrproject.org/latest/samples/net/sockets/echo_client/README.html#running-echo-server-in-linux-host) told us
[code]
after that, we can see the echo-server is binded to linux IP,

[2020-04-13 01:17] chen-png opened #24299 "tests/subsys/storage/flash_map failed on frdm_k64f board."
**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b frdm_k64f -p auto tests/subsys/storage/flash_map/
      -DOVERLAY_CONFIG=overlay-mpu.conf
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-1416-g47f1665e7837  ***
Running test suite test_flash_map

starting test - test_flash_area_get_sectors
E: ***** MPU FAULT *****
E:   Instr

[2020-04-13 01:26] wentongwu commented on #24228
reference ACPI spec you mentioned and also [linux doc](https://www.kernel.org/doc/html/latest/admin-guide/pm/index.html)

[2020-04-13 01:42] chen-png opened #24300 "tests/net/trickle failed on frdm_k64f and sam_e70_xplained with v1.14 branch."
**Describe the bug**
Running tests/net/trickle on frdm_k64f and sam_e70_xplained with v1.14-branch, it will **failed occasionally**

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b frdm_k64f -p auto  tests/net/trickle
2. west flash
3. See error

**Screenshots or console output**
***** Booting Zephyr OS zephyr-v1.14.1-49-gff6829261918 *****
Running test suite test_tickle

startin

[2020-04-13 02:18] Jeepgoing commented on #24226
@carlescufi which board are you using? I have tested nrf52dk_nrf52832 and thingy52_nrf52832 with the same sample `samples/bluetooth/peripheral_hr` but the result is not same, i can connect with thingy52_nrf52832 very smoothly, but can't connect nrf52dk_nrf52832.

nrf52dk_nrf52832 log:
[code]

thingy52_nrf52832 log:
[code]

[2020-04-13 05:18] stevewells20 opened #24301 "Support for multi core STM32 H75/H77 boards"
Problem:
There is no support for multi core STM32 boards in the Nucleo in the H7*7 and H7*5 families; these are quite powerful and offer interesting new possibilities.

I would like to know if it would be a quick operation to implement support for these board families, as there is already support for both Cortex M7 and M4 STM32 boards. Is there a guide for doing this type of implementation?

[2020-04-13 05:35] mron commented on #24294
in the overlay if I use:
reg = <0x40003000>;
instead of:
reg = <0x40003000 0x1000>;

the program compiles. there is a warning:

In file included from .platformio/packages/framework-zephyr/include/devicetree.h:11,
                 from .platformio/packages/framework-zephyr/include/arch/arm/aarch32/arch.h:20,
                 from .platformio/packages/framework-zephyr/include/arch/cpu.h:19,

[2020-04-13 06:44] Narendhar95559 commented on #23803
Can some one help me with above problem.

[2020-04-13 08:55] wentongwu commented on #24230
thanks for sharing this doc, and besides dependencies to work well, we also need dependencies to off, I agree with the overall architecture proposal, will review the existing onoff service code first.

[2020-04-13 09:54] vonhust commented on #23476
@andrewboie @ruuddw @abrodkin , here is my investigation
In the following codes of prevent_irq.c
[code]
systick timer irq cannot be handled as irq is locked.  So it means the sys tick may be lost.

Meanwhile, k_busy_wait(MS_TO_US(1000)) relies on k_cycle_get_32, then to arch_k_cycle_get_32()->z_timer_cycle_get_32

However, as the sys tick is not updated because of irq lock , the value return by z_

[2020-04-13 10:28] Narendhar95559 opened #24304 "Application crash #nrf52840 #ble"
[00:00:00.003,967] <err> littlefs: Corrupted dir pair at 0 1
--- 4 messages dropped ---
[00:00:00.003,967] <wrn> littlefs: can't mount (LFS -84); formatting
[00:00:00.176,147] <inf> littlefs: /lfs mounted
[00:00:00.177,917] <inf> bt_hci_core: HW Platform: Nordic Semiconductor (0x0002)
[00:00:00.177,917] <inf> bt_hci_core: HW Variant: nRF52x (0x0002)
[00:00:00.177,917] <inf> bt_hci_core: Firmware:

[2020-04-13 10:50] tejlmand commented on #24252
Seems this bug has been re-introduced https://github.com/zephyrproject-rtos/zephyr/issues/11103 by this commit a5eb70fc7025f7de711a117718fcec44d28320d7  😞

[code]

going to ensure https://github.com/zephyrproject-rtos/zephyr/issues/11103 is fixed again, and check the following issues are still fixed when switching to CMake built-in Python search.
https://github.com/zephyrproject-rtos/zephyr/issues

[2020-04-13 11:00] pabigot commented on #24228
OK, I see some of it in the Linux documentation.  Specifically I see that on ACPI systems these Linux system-wide states might map to ACPI states:

* Standby => G1/S1
* Suspend-to-RAM => G1/S3
* Hibernation (aka Suspend-to-Disk) => G1/S4 or G2/S5

But you're mixing terms from two domains.  In Linux [Working state](https://www.kernel.org/doc/html/latest/admin-guide/pm/working-state.html) is a power

[2020-04-13 11:02] tejlmand commented on #24252
@nashif  actually, the current design is made so it should choose the version first in path, which was even an issue raised by you, #11857
PR: https://github.com/zephyrproject-rtos/zephyr/pull/11907.

In my opinion, CMake should choose:
1) The python 3.x in path that meets the minimum required Python3 version
2) In no Python 3.x in path, then select highest installed version that is detected

[2020-04-13 11:26] overheat opened #24306 "How to set up native posix board to allow connections to the Internet?"
Hi,

[Socket HTTP GET Example](https://docs.zephyrproject.org/latest/samples/net/sockets/http_get/README.html#requirements) require connections to the Internet. But how to do for native posix board? :)

Thanks!

[2020-04-13 11:54] Narendhar95559 commented on #24304
Above problem is due to stack size issue it working now

[2020-04-13 11:54] #24304 closed

[2020-04-13 12:46] jukkar commented on #24306
See https://docs.zephyrproject.org/latest/guides/networking/qemu_setup.html#setting-up-zephyr-and-nat-masquerading-on-host-to-access-internet for details. That guide talks about QEMU but the same things apply to native-posix.

[2020-04-13 12:49] mron commented on #24294
I don't understand device trees. My mistake.

[2020-04-13 12:49] #24294 closed

[2020-04-13 13:29] rhardik opened #24311 "LPN not receiving any message from Friend node after LPN device reset"
**Describe the bug**

I've added a Generic On-Off model in mesh_shell code to publish a message from Friend node to LPN node. it's working fine after provision and configuration

Now if I reset the LPN node then  friendship get's established again but it doesn't receive any message from friend.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/rhardik/reproduce-zep

[2020-04-13 14:49] LingaoMeng commented on #24311
well, it’s not bug, if you read log from friend node side `[00:38:11.604,278] bt_mesh_friend.bt_mesh_friend_match: No matching LPN for address 0xc000 `, mean that lpn node not subscribe 0xc000 address. So lpn node not receive such message after reset.

Next: you should add cmd to subscribe 0xc000 when established friendships.

[2020-04-13 15:18] LingaoMeng commented on #24311
well, we should change currently implementation;

Firstly: call lpn group add (mod subscribe address )when recovered from flash.

Secondly: call lpn group add 0xffff, when provisioned completely.

Lastly: call lpn group del, when local node reset or unsubscribe.

Can you submit pr to fix this issuer.

[2020-04-13 15:19] pabigot opened #24313 "issues with nrfx uarte hw async validation and behavior"
When using `nordic,nrf-uarte` the following configuration:
[code]
ends up referencing `CONFIG_UART_0_NRF_HW_ASYNC_TIMER` which by default is empty, so https://github.com/zephyrproject-rtos/zephyr/blob/8b6930ebef7d5945432bd2b3caf452b7f7587a9e/drivers/serial/uart_nrfx_uarte.c#L1394 produces a cascading build error starting with:
[code]

It would also be nice if the documentation made it more clear t

[2020-04-13 17:12] jenmwms commented on #23507
@andrewboie  Thanks for this! Can you please help me reproduce this? I added `CONFIG_MP_NUM_CPUS=1` to the `prj.conf` file in `samples/subsys/shell/shell_module` but it still hangs for me.

[2020-04-13 17:49] chris-makaio opened #24318 "Postpone driver initialization"
## Introduction

Currently drivers are always started during the kernel boot process. I suggest to add a mechanism to disable autostart of specific drivers.

### Problem description

In our use case some drivers are only optional. Think of a fully packed board with tons of sensors and you want a single firmware. In worst case a lot of drivers are started although the specific device might dynamica

[2020-04-13 18:14] MaureenHelm commented on #13819
yes

[2020-04-13 19:10] pabigot commented on #24313
This behavior occurs only when there is no hardware flow control.

[2020-04-13 19:34] #23922 closed

[2020-04-13 19:48] #24241 closed

[2020-04-13 22:16] MarcianoPreciado opened #24322 "IRQ_CONNECT and IRQ_DIRECT_CONNECT throw compile error with CONFIG_CPLUSPLUS"
**Describe the bug**
When compiling using C++ support, the Z_ISR_DELCARE macro does not compile.
[code]
[code]
After converting my project back to C and recompiling, the errors go away and it compiles and runs perfectly.

**To Reproduce**
Use either of the main files at the bottom of the document as the sole source file.
CONFIG_CPLUSPLUS=y
BOARD nrf52840_pca10056

**Impact**
This is a pretty hefty

[2020-04-13 22:41] bwasim opened #24324 "ST Nucleo F767ZI Ethernet Auto Negotiation problem"
**Describe the bug**
I have been testing out the Zephyr support for STM32F767 Nucleo board and see a problem that originates from the STM32 Cube library implementation of the Ethernet Auto-Negotiation routine. From the users perspective, the board fails to correctly negotiate parameters with the network. In my specific example, I connected the STM32 board directly to my machine's Rj45 jack which s

[2020-04-13 22:51] jenmwms opened #24325 "broken link in MinnowBoard documentation"
**Describe the bug**
The link is broken for the website to update the MinnowBoard firmware.

**To Reproduce**
Click the link referenced in Zephyr Docs (<https://docs.zephyrproject.org/latest/boards/x86/minnowboard/doc/index.html#booting-zephyr-on-the-minnowboard>):
MinnowBoard firmware website - <https://minnowboard.org/tutorials/updating-the-firmware>

**Expected behavior**
Active resource, such

[2020-04-13 22:55] jenmwms commented on #24325
Looking at the suggested link in Expected Behavior above, perhaps more appropriate would be:
https://github.com/tianocore/edk2-platforms/blob/master/Platform/Intel/Vlv2TbltDevicePkg/Readme.md

[2020-04-14 01:02] cvinayak commented on #24278
`supervision_expire` is implemented as a count down.

No. Packets with CRC errors are valid synchronization of anchor point. The controller will continue with the connection event unless two consecutive CRC errors.

Please refer to Bluetooth Specification for details.

[2020-04-14 05:22] mtahirbutt commented on #24283
Hi the issues is resolved with removing DNS servers options in the config file.

[2020-04-14 05:22] #24283 closed

[2020-04-14 05:26] Jeepgoing commented on #24226
I know how to send message from central to peripheral

[2020-04-14 05:37] Navin-Sankar commented on #24108
Increased the size of **CONFIG_MBEDTLS_SSL_MAX_CONTENT_LEN** to **4096**. But still getting the same response. Attached tls-config file
![frdm_https](https://user-images.githubusercontent.com/28673597/79189617-d8967580-7e3f-11ea-8466-e4e752a9d470.png)
**overlay-tls.conf**
[code]

[2020-04-14 06:15] mkarhumaa commented on #23980
@emob-nordic Yes, I noticed the same that it happens quite consistently. I haven't been able to fully track down the correlation between the length of HCI command and amount of commands needed to get stuck. For example if using HCI command of length 255 bytes (including opcode and length fields), I need to send the command only 128 times. Then with HCI command of length 254, I need 8256 HCI comman

[2020-04-14 06:21] BOZHENG001 commented on #24278
Thanks for your answer!

[2020-04-14 06:21] #24278 closed

[2020-04-14 07:14] tejlmand opened #24328 "module development when using west"
**Is your enhancement proposal related to a problem? Please describe.**
`West` today is very useful for working with Zephyr and multiple repositories.
`west` is very well documented on how it works and its design.

However, from slack, it has become apparent that it is not visible to users what a good workflow is when doing development in a module and still want to do `west update`,

Form slack:

[2020-04-14 07:28] akofoed commented on #24237
Hi, @Laczen and @erwango
I have tried the NVS sample on a nucleo-F411RE and nucleo-429zi and I get the same as @ABOSTM gets; "No xxx found... Adding..." Rebooting...

I have tried to do as @erwango in #19895 setting flash region to 0x100000 (1M) and size to 0x8000 but no matter what I try it either gives me an invalid flash configuration (which I then disabled in nvs.c to see if it would help, but

[2020-04-14 08:22] Laczen commented on #24237
Hi @akofoed, on the nucleo-F411RE and nucleo-429zi is the first line "Flash Init failed" ?

For the nvs sample to work the following conditions must be OK:
a. The storage area should be defined correctly on page boundaries,
b. The nvs sector size should be a multiple of the page size (can be 1),
c. The nvs sector size (and thus also the page size) should be smaller than 32kB,
d. There should at le

[2020-04-14 08:59] akofoed commented on #24237
for the nucleo_429zi, I get the following output (zephyr master updated a few days ago):
Using the 64KB sector @10000 (as in the current nucleo_f429zi.dts) understandingly does not work as NVS requires at least two sectors to work. But using 2 (or 3 or 4) 16KB sectors at 0x100000 should work but it does not:
[code]
The following DTS storage_partition is used:
`
		storage_partition: partition@10000

[2020-04-14 09:32] Laczen commented on #24237
Hi @akofoed, this is strange, it was reported to work correctly in #19895.

Your setup is strange, it is reporting that there are 3 sectors while your dts definition only has 2. Could you please undo any changes that are ignoring errors and try again.

[2020-04-14 09:38] akofoed commented on #24237
The DTS only says where and how much, not sector count.
I am running the stock sample that has hard-coded 3 sectors into it:
https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/subsys/nvs/src/main.c#L83
However, the STM32F429ZI does have 4 sectors with 16KB starting at 0x100000 (1M) so all should be fine.

[2020-04-14 09:43] Laczen commented on #24237
This is not exactly true, the dts says size is 32kB, the page info says that these are 16kB sectors, this means that you can only have two sectors in there.
If you would say that the size is C000 you would have sufficient size for 3 sectors.

[2020-04-14 10:03] akofoed commented on #24237
Ups, you are correct. I have now changed the DTS size to 64KB (all 4 sectors):
[code]

Output is still the same:
[code]

[2020-04-14 10:08] Laczen commented on #24237
Please undo changes that are hiding init errors. I can only guess that there is something wrong because it is hidden. Probably (but this is a guess) there was already some data in the flash region and it needs to be cleared before first use, but then again this is only a guess.

[2020-04-14 10:26] finikorg commented on #24178
We can keep this bug to handle also other parameters in extra_args.

[2020-04-14 10:54] akofoed commented on #24237
Sure. I have now done a full-chip-erase (STM32CubeProgrammer) and this is the output below just after doing a "west flash" using minicom as term.
It seems that the LOG_INF from nvs_init() is printed after the printfk() statements.
If there is something you want me to try, just let me know. I have some other STM32 boards like STM32L476 and STM32L401/411 lying around. Thanks

[code]

[2020-04-14 12:05] Laczen commented on #24237
It seems nothing is written at all (alloc wra does not change). I think the board definition for the STM32F429ZI is missing some vital information. As I do not have the these boards it is impossible for me to find out exactly what is wrong. I think it is related to #23997.

[2020-04-14 12:14] JordanYates opened #24338 "UICR & FICR missing from nRF52* devicetree files"
**Describe the bug**
Locations of the FICR and UICR hardware peripherals are missing from many devicetree files.

SOC's without:
- nRF52840
- nRF52833
- nRF52832
- nRF52811
- nRF52810

SOC's with:
- nRF9160
- nrf5340_cpuapp
- nrf5340_cpunet

**Expected behavior**
FICR and UICR should be present in devicetree for any SOC that has them.

**Impact**
FICR and UICR have to be manually added to board .d

[2020-04-14 12:32] stradebianche opened #24339 "arm_gic_irq_set_priority - temporary variable overflow"
**Bug description**

[Bug location file, starts at line 55](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/interrupt_controller/intc_gic.c)

Issue:
- In function **arm_gic_irq_set_priority** there is a temporary unsigned 8-bit variable _val_.
- On the later stage _int_off_ variable is calculated for a particular interrupt we want to setup, i.e. for interrupt number 77 (which is T

[2020-04-14 12:35] pfalcon opened #24340 "#24308 Broke python3 interpreter selection"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/pull/24308 broke selection of the Python3 interpreter. Instead of using system (and user's) default "python3" interpreter, it picks up random binaries in uncalled-for manner.

**To Reproduce**
Since #24308 was merged, any attempt to build any Zephyr application leads to error below.
Specific steps to reproduce the behavior:
1. cd sa

[2020-04-14 12:59] Laczen commented on #24237
@akofoed, I think it is because the stm32f429zi is missing a `compatible = "st,stm32l4-flash-controller"` line in the dtsi definition.

[2020-04-14 13:31] GeorgeGkinis commented on #24340
I am also confronted with this issue.
Any workarounds?

Can I specify the python version to be used within my CMakeLists.txt?

[2020-04-14 13:32] pfalcon commented on #24340
I currently have:

[code]

[2020-04-14 13:45] GeorgeGkinis commented on #24340
Thx,

In my case :
found python version used by west :
[code]
then as you suggested :
[code]
I can go to work now :)

[2020-04-14 13:53] tejlmand commented on #24340
This is not Zephyr trying to oversmart users, but rather CMake itself.

But users has different preferences, some prefers that CMake tries to always locate latest.
Some might want CMake FindPython3 to prefer `/usr/bin/python3` over any `/usr/bin/python3.x` as long as the former is satisfying the stated requirement, other prefer that CMake always selects the latest version (which is the current CMa

[2020-04-14 14:00] erwango commented on #24324
@bwasim This looks interesting, though it looks like this issue is rather HAL related and would be better to integrate this directly in HAL. Can you try to discuss this directly in the following repo:
https://github.com/STMicroelectronics/STM32CubeF7
(You can even now push directly PRs in these repo)

[2020-04-14 14:13] #23673 closed

[2020-04-14 14:27] tejlmand commented on #24340
@GeorgeGkinis according to CMake FindPython3, then on windows, it should use the registry setting.
as per: https://cmake.org/cmake/help/latest/module/FindPython3.html#hints

So you could try to check if the Python 3.8 is correctly registered in the registration database in Windows., should be under:
`[HKEY_CURRENT_USER\SOFTWARE\Python\PythonCore\` or
`[HKEY_LOCAL_MACHINE\SOFTWARE\Python\PythonCore

[2020-04-14 14:51] pfalcon commented on #24340
That's absolutely true, and I don't even want to start on how some people were unhappy with appearance of CMake in Zephyr, and are unhappy with any issue it brings ;-). Let me stay on the positive side and thank CMake maintainers in Zephyr for shielding users from CMake and ask for keeping up this great work. In this case, CMake bled thru...

For example, using the Python3_ROOT_DIR flag ?

I did a

[2020-04-14 15:07] tejlmand commented on #24340
yeah, unfortunately nothing is perfect, but I'm doing my best to handle things that bothers people.

yeah, unfortunately, this solution is not bulletproof either.
Tried to mimic your setup locally, by having `/usr/bin/python3 --> /usr/bin/python3.6` and then also having `/usr/bin/python3.7` and with CMake 3.14, I get Python 3.6 selected, but CMake 3.16 and 3.17, I constantly get Python 3.7 selecte

[2020-04-14 15:19] b0661 opened #24347 "Application Cortex M Systick driver broken by merge of #24012"
**Describe the bug**

To get the z_clock_isr() into the vector table now requires to define CONFIG_CORTEX_M_SYSTICK, If CONFIG_CORTEX_M_SYSTICK is defined the standard Zephyr driver is added to the zephyr lib. The application driver and the Zephyr driver now are both providing the same symbols (that were defined weak just for the purpose to allow for application drivers - see history of the vector

[2020-04-14 15:20] pabigot commented on #21392
My results are in #23823, which it'd be nice to have reviewed and merged.  clang-format has potential, but we'd have to develop a style file for it, and possibly change some of Zephyr's rules to accommodate what it can verify.

[2020-04-14 15:27] carlescufi commented on #24226
Closing since this seems solved

[2020-04-14 15:27] #24226 closed

[2020-04-14 15:35] akofoed commented on #24237
The DTS for the 429zi do inherit the compatible="st,stm32f4-flash-controller" from the top SOC DTS file (stm32f4.dtsi).

In the mean time I found out that for the STM32F4, the write-block-size= < 1 > and erase-block-size is missing. This is not the case for the STM32L476 (which correctly inherits  write-block-size = < 8 > and erase-block-size = < 2048 >), but running it on the nucleo_l476rg board

[2020-04-14 15:36] stephanosio commented on #24347
Initial discussion at https://github.com/zephyrproject-rtos/zephyr/commit/4364f2d455c56d02e3d7284ea489f094c8835eb9

[2020-04-14 16:06] Laczen commented on #24237
@akofoed, for the 429zi there is no fixed erase block size, that is why you can't find it.

Could you check that the error (of each write) is still -5 (I was only guessing).
Could you also check if this error was also present in zephyr 2.2.

[2020-04-14 16:20] akofoed commented on #24237
The nucleo_l476 says -5 modifying main.c line 102 to:
[code]

Gives -5 adding 192.168.1.1:

[code]

[2020-04-14 16:21] Laczen commented on #24237
@akofoed, could be that there is something wrong with the pagesizes that are returned from the flash driver. In the sample the sectorsize is retrieved from the pagesize (line 82) could you print the sectorsize ?

[2020-04-14 16:29] Laczen commented on #24237
@akofoed, the error -5 (-EIO) is coming directly from the flash driver.

[2020-04-14 16:36] akofoed commented on #24237
Interesting... I checked out zephyr-v2.2.0 as you suggested and it works on the nucleo_l476:

[code]

[2020-04-14 16:41] Laczen commented on #24237
OK, you could try the same with the stm32f429zi (with the correct dts or overlay file).

[2020-04-14 16:51] nashif commented on #24300
@jukkar  can you take a look at that one?

[2020-04-14 16:52] akofoed commented on #24237
zephyr-v2.2.0 works on the F429 (nucleo_f429zi):
[code]
However, I have modified the flash area:
[code]
Else with default DTS I get:
[code]

[2020-04-14 17:01] carlescufi commented on #23465
API meeting:

Dean proposes: `subsys/auth/zebra` and `include/auth/zebra.h`

[2020-04-14 17:16] jenmwms opened #24353 "minnowboard hangs during boot of samples/hello_world"
**Describe the bug**
The minnowboard hangs when booting the samples/hello_world.

**To Reproduce**
Steps to reproduce the behavior:
1. west -b minnowboard samples/hello_world
2. prepare bootable USB drive according to Zephyr Docs for Minnowboard (kernel/zephyr.strip)
3. insert the USB drive to the minnowboard and power it up, open serial connection to PC
4. In EFI internal shell, type exit
5. Boot

[2020-04-14 17:34] pabigot commented on #24233
What platform are you building this on?  I can't see any dependency between the trigger module and the chip-select GPIOS, and I can't duplicate a build failure.

[2020-04-14 17:34] carlescufi commented on #23520
@JordanYates and @pkral78 if you were willing to write an implementation and test it with Zephyr, then I could send a request to Segger to include this in the J-Link Software and Documentation Pack download.

[2020-04-14 17:42] carlescufi commented on #24181
@nashif found this commit which should've decoupled CONFIG_PRINTK and snprintk. https://github.com/zephyrproject-rtos/zephyr/commit/d76ae46c0c578b2cddbd2d9cf9b9d910af8e2c40

[2020-04-14 17:44] pabigot commented on #23998
I can't reproduce this with either the referenced ARM-Embedded toolchain or the Zephyr 0.11.1.  It may be specific to the NCS fork.

[2020-04-14 17:46] carlescufi commented on #24207
@nvlsianpu should we deprecate FCB at this point?

[2020-04-14 17:49] carlescufi commented on #24243
@nandojve will you send a PR to zephyr's MCUboot to update our fork?

[2020-04-14 17:56] carlescufi commented on #24243
Not considered a Zephyr bug since this is board support in mcuboot and has been done upstream.

[2020-04-14 17:56] #24243 closed

[2020-04-14 17:58] Laczen commented on #24237
@akofoed, thanks for the tests. The default dts is to be expected, the sectorsize is too large and will not fit 3 sectors.

So to summarize:
a. The dts definition for the stm32f429zi is not suited for nvs.
b. The current master fails the nvs test even if the dts definition is correct.

Could you file a bug report for item b?

For item a. could you create a PR ?

Thanks

[2020-04-14 18:11] mbolivar-nordic commented on #24207
Ah, so this is the one which might get deprecated. I couldn't remember the status of all these storage backends.

[2020-04-14 18:13] jenmwms opened #24355 "tests/drivers/uart/uart_basic_api configure and config_get fail because not implemented"
**Description**
Multiple platforms fail uart_basic_api the .configure and .config_get tests (in the uart_basic_api test suite), because these functions are just not implemented at all.
To be fixed in the test, handling the case where the functions are not implemented and not failing the test if so.

_Originally posted by @jenmwms @pfalcon in https://github.com/zephyrproject-rtos/zephyr/pull/23693#

[2020-04-14 18:24] henrikbrixandersen opened #24356 "MCUboot (and other users of DT_FLASH_DEV_NAME) broken with current zephyr master"
**Describe the bug**
Compiling and running the standard MCUboot sample (`bootloader/mcuboot/samples/zephyr`) on e.g. `frdm_k64f` is broken with current Zephyr master. It works out-of-the-box with tag `v2.2.0`. The error is not restricted to the `frdm_k64f`.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd bootloader/mcuboot/samples/zephyr
2. make BOARD=frdm_k64f all
3. make flash_f

[2020-04-14 18:37] henrikbrixandersen commented on #24356
Commit 608dba486eebef39317b4e680be36abef297a0cd seems to be the culprit. It changes the label used for the flash controllers, thus applications using `device_get_binding(DT_FLASH_DEV_NAME)` now get a `NULL` return value.

[2020-04-14 18:49] henrikbrixandersen commented on #24356
The `tests/subsys/storage/flash_map` test also fails on `frdm_k64f` due to this. If `608dba486eebef39317b4e680be36abef297a0cd` is reverted, the test succeeds. Note that the `frdm_k64f` needs `CONFIG_MPU_ALLOW_FLASH_WRITE=y` for this test to pass regardless of the above mentioned commit.

[2020-04-14 19:07] akofoed opened #24357 "NVS sample on STM32F4 fails even if the dts definition is correct"
**Describe the bug**
Following @Laczen 's request and our investigation in #24237, tests on the STM32 show that the NVS driver in the current master fails even if the DTS is correct. The NVS driver works on zephyr-v2.2.0. I have no idea as to why.

**To Reproduce**
1) Correct the DTS storage_partition with this (taking the area to start at 1M):
[code]
2) Run the NVS sample on the nucleo_f429zi
3)

[2020-04-14 19:23] andrewboie opened #24358 "deprecate and remove old k_mem_pool / sys_mem_pool APIs"
We have replaced the mem pool APIs with the new k_heap/sys_heap APIs. We don't need to keep maintaining two APIs for doing the same thing, and should aim to remove the k_mem_pool and sys_mem_pool APIs from the kernel.

The first step is to `__deprecate` them all, and change any use within Zephyr to use k_heap/sys_heap instead.

The `k_pipe_block_put()` API will need to be adjusted as it takes a `k

[2020-04-14 19:26] mbolivar-nordic commented on #24356
@brix thank you for the detailed report.

The following workflow still works for me on master (as of 1f3c014a1ad302076223e5c1ec3a4892db378af9):

[code]

So I guess MCUboot isn't what's broken, but its sample application. Looking at that now.

[2020-04-14 19:27] andrewboie opened #24359 "k_heap / sys_heap needs overview documentation"
We've introduced new heap APIs to supersede k_mem_pool / sys_mem_pool, but have no overview documentation for it, just API doxygen.

I expect this file will need to be rewritten to reflect the new API set:

`doc/reference/kernel/memory/pools.rst`

[2020-04-14 19:30] mbolivar-nordic commented on #24356
From ~/zephyrproject/bootloader/mcuboot/samples/zephyr/hello-world, this works for me also:

[code]

So perhaps the Makefile provided in ~/zephyrproject/bootloader/mcuboot/samples/zephyr has some issue. Let's see.

[2020-04-14 19:52] #24275 closed

[2020-04-14 20:40] andrewboie opened #24363 "nsim_hs_smp target doesn't work at all"
We have logic in `cmake/emu/nsim.cmake` to find the `nsimdrv` binary, but the build system currently can't distinguish between the free and commercial versions.

When doing sanitycheck runs with nSIM 2019.09 013_FREE, the build system should be aware that we are using the free version and not try to emulate targets that require paid NSIM. This is at least nsim_hs_smp, and I suspect nsim_sem_normal

[2020-04-14 20:43] andrewboie commented on #24363
@vonhust @ruuddw @abrodkin FYI

[2020-04-14 22:50] vanti commented on #24230
Good discussion. Adding a few observations:

I concur with this skepticism. It is better to turn off peripheral devices as soon as they are not needed for better power savings.

Such a use-case arises when a device is configured and ready to go, but is not yet actively performing a transfer when the system is suspended. It is good to have the flexibility to still suspend the device along with the

[2020-04-14 22:51] #24322 closed

[2020-04-14 23:07] andrewboie commented on #24181
wait a second...snprintk does not depend on CONFIG_PRINTK

what's the actual problem here?

[code]

I just checked and this code doesn't exist.

Are you on some old version of Zephyr?

[2020-04-14 23:08] #24181 closed

[2020-04-15 01:57] cfriedt opened #24366 "syscall for socketpair(2)"
**Is your enhancement proposal related to a problem? Please describe.**

A typical means of inter-thread communication is to use a [socket pair](https://pubs.opengroup.org/onlinepubs/9699919799/functions/socketpair.html).

Although it may be a slightly heavyweight method of inter-thread communication for Zephyr, it would facilitate porting applications.

**Describe the solution you'd like**
I woul

[2020-04-15 05:52] erwango commented on #24291
^^@ABOSTM, can you have a check on your side ?

[2020-04-15 06:07] mbolivar-nordic opened #24369 "tests/drivers/counter/counter_basic_api failure on nRF51-DK"
**Describe the bug**

While getting baseline test results for nRF counter APIs in order to test changes related to the new devicetree.h, I noticed counter_basic_api is failing for nRF51-DK.

**To Reproduce**

I'm using sanitycheck's [device testing](https://docs.zephyrproject.org/latest/guides/test/sanitycheck.html#running-tests-on-hardware) feature to test nRF51-DK, nRF52840-DK, nRF52-DK like so:

[2020-04-15 06:07] mbolivar-nordic commented on #24369
cc @carlescufi @anangl @ioannisg

[2020-04-15 06:32] nvlsianpu commented on #24207
Not today - we can deprecate fcb at some point, but it was not problematic for user and initially it was the default setting back-end, so better to make a query before.

[2020-04-15 06:43] XavierChapron commented on #24181
@andrewboie You are correct, I've not correctly checked zephyr last version and therefore I've not see your commit that is fixing this issue. I'm sorry for the annoyance.

[2020-04-15 06:43] jukkar commented on #24300
Already fixed in 2.0 by #18625
I will backport the fix to 1.14

[2020-04-15 07:26] ivangarrera opened #24372 "Json: array of objects is not properly handled"
**Describe the bug**
An array of objects like this:
`{"t_0": [{"id": "t01","d": 20,"t": 1},{"id": "t02","d":10,"t": 1},{"id": "t03","d": 15,"t": 0},{"id": "t04","d": 50,"t": 1}], "t_1": [{"id": "t11","d":10},{"id":"t12","d":20}]}`
is not properly encoded/decoded

**To Reproduce**
The structs are:

    typedef struct {
        char *id;
        uint32_t d;
        uint8_t t;
    } data_first;

[2020-04-15 08:13] mtpr-ot opened #24373 "NULL-pointer dereferencing in GATT when master connection fails"
In master role, when a connection fails with _failure to establish connection_ (62), and executing GATT commands in _connected_ callback, the system fails with NULL-pointer dereferencing.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to advertiser in master role
2. In _connected_ callback, call `bt_gatt_discover` and `bt_gatt_exchange_mtu`
3. As part of the disconnection flow, _gat

[2020-04-15 08:29] ABOSTM commented on #24291
Hi @jasonedn,
I tested on my side, and I face no issue:
Host: Windows
Zephir SHA1: ab15602b796455ca284abf7234280e6b0ee5e032
Board: nucleo_l476rg
Log console:

Can you tell us more about your environment: host ? toolchain? ...
Can you also try on the same SHA1 than mine ?

[2020-04-15 08:31] pfalcon commented on #24366
I wouldn't call it a "typical" way.

Sounds good. Would give even more weight to the proposal if you gave example of application(s) which could be ported using it.

[2020-04-15 08:58] wentongwu commented on #24228
1. For the device dependency, per #22941, @tbursztyka has already started to work on that, but no clear APIs exposed to other sub-systems so far, assume the dependency info will also be used to device initialization process, during which device_pm_add API of pm side will be called to construct the device list used by PM sub-system, the sequence of device suspend and resume will be based on that li

[2020-04-15 10:03] ruuddw commented on #23476
It could be argued that busy waiting for longer than 2 (dynamic) system ticks is a-typical use ("A busy wait is typically used instead of thread sleeping when the required delay is too short to warrant having the scheduler context switch from the current thread to another thread and then back again.").
However, I think this is more than just a test issue, unless k_busy_wait() gets a pre-condition

[2020-04-15 10:15] erwango commented on #24301
Hi @stevewells20,

Adding Dual core support for these soc/boards should not be a complex task.
You first need to add device tree for the targeted SoCs.
Then provide board support based on what was done on stm32h747i_disco.

[2020-04-15 10:16] #24347 closed

[2020-04-15 10:40] cfriedt commented on #24366
@pfalcon - I often use it as a means of cancelling a worker thread where sockets are used with select(2) or poll(2).  If you add one end of the socketpair to readfds or pollfds, then it will unblock a blocking select or poll.

[2020-04-15 10:44] jukkar commented on #24282
I managed to get echo-server<->echo_client working using two native_posix processes. The procedure is a bit complicated but basic steps were already described in
`samples/net/eth_native_posix/README.rst` file.

Create `net-tools/zeth-issue-24282-zeth1.conf` file
[code]

Create `net-tools/zeth-issue-24282-zeth2.conf` file
[code]

Terminal 1:
-----------

`./net-setup.sh -c zeth-issue-24282-zeth1.co

[2020-04-15 10:46] pfalcon commented on #24366
Then I'd suggest to look into https://github.com/zephyrproject-rtos/zephyr/pull/22863 , and help to review/test it. eventfd() would be much efficient way to signal events (vs passing data) between threads.

[2020-04-15 10:50] jukkar commented on #24282
This is a bug, it is just a matter of configuring the system to setup interfaces and route traffic between them.

[2020-04-15 11:00] #24055 closed

[2020-04-15 11:09] pabigot commented on #24228
Please change "Working state" in the list of states to "Runtime active state" to be consistent with "Runtime idle state" and the way the terms are used in Linux.

This also helps makes clear that there are two general states: runtime, and sleep.  The remaining five states are sleep states.

It would be nice if all the power-related state names matched their Linux inspiration.

[2020-04-15 11:21] Tobi0610 opened #24376 "SPI (test) is not working for LPCXpresso54114"
**Describe the bug**
SPI (test) is not working for LPCXpresso54114.
I created my own SPI-Master sample project and tried also the spi-test in zephyrproject/zephyr/tests/drivers/spi/spi_loopback/. Both are not working for LPCXpresso54114.
The spi-loopback-test (for LPCXpresso54114) was broken by https://github.com/zephyrproject-rtos/zephyr/commit/22326f6d99e8e710bbf7e6f9057bb96741e970f6

**To Repro

[2020-04-15 11:24] galak commented on #24356
Fixed by #24247

[2020-04-15 11:24] #24356 closed

[2020-04-15 11:35] pfalcon commented on #12478
Hello again. We have tests/drivers/ipm/ failing reproducibly as part of https://github.com/zephyrproject-rtos/zephyr/pull/23693 , with a stack overflow. I proceeded to check if bumping stack would resolve it. Of course, I started with trying that with master (7ca6a05159e9dfdce3e257ec4fc4d5b5b7ad3127) first (Zephyr SDK 0.11.2).

I found that 3 out of 3 initial run hanged with:
[code]

Then, in next

[2020-04-15 11:35] #12478 closed

[2020-04-15 11:38] stephanosio commented on #24339
Thanks for reporting this.

This is indeed a bug; as you suggest the `val` should be `u32_t` and we should `sys_{read,write}32` to `GICD_ICFGRn` since these registers are not byte-accessible (cc @bbolen @wjliang).

As for `GICD_IPRIORITYRn`, the documentation specifically states that "these registers are byte-accessible" (see 4.3.11), so we need not worry about unaligned accesses.

@stradebianche

[2020-04-15 11:39] stephanosio commented on #24339
cc @carlocaione This might be of interest to you as well, since `qemu_cortex_a53` uses GIC.

[2020-04-15 12:45] stradebianche commented on #24339
@stephanosio you are correct regarding `GICD_ICFGRn`, I must have missed that.
I would like to create a pull request to fix this, so I will proceed with that.

[2020-04-15 13:50] cfriedt commented on #24366
Interesting. Yeah, I guess eventfd() would satisfy my criteria, although it is 100% Linux specific / not portable to other OS's (AFAIK). The nice thing about socketpair() is that it is POSIX and pulled in with `<sys/socket.h>`, so it Just Works (TM) everywhere.

It seems eventfd also only supports writing `uint64_t` instead of arbitrary data, which is somewhat inflexible.

I do think that a pipe(2

[2020-04-15 13:59] nandojve opened #24382 "disco_l475_iot1 not working with samples/net/wifi"
**Describe the bug**
The ST disco_l475_iot1 is not working with samples/net/wifi when enable DHCPv4

**To Reproduce**
Add below config at prj.conf
_CONFIG_NET_CONFIG_SETTINGS=y
CONFIG_NET_DHCPV4=y_

_west build -b disco_l475_iot1 samples/net/wifi
west flash_

**Expected behavior**
board be capable to have console, connect to wifi network and send a ping.

**Screenshots or console output**
[code]

[2020-04-15 14:08] Mani-Sadhasivam commented on #22083
Fixed by #24121

[2020-04-15 14:08] #22083 closed

[2020-04-15 14:09] erwango commented on #24382
^^@ABOSTM

[2020-04-15 14:12] mtahirbutt commented on #24382
@nandojve is your IP not managed by WiFi? I suppose CONFIG_NET_DHCPV4=n should be instead of y. For me it works with CONFIG_NET_DHCPV4=n

[2020-04-15 14:13] pfalcon commented on #24366
To the best of my knowledge, yes.

I'd say the basic function of eventfd is to just get out of poll() call. In such usage, you could (almost) always just fallback to (simple) pipe() call. Passing any data is an extra, advanced feature (well, still achievable with pipe() of course).

+1

I think so too, but:

1. More work for you ;-)
2. If we do it, let's do it: a) without obvious security issues;

[2020-04-15 15:11] jasonedn commented on #24291
Hi Alexandre,

Thanks for your reply.

I tried the same SHA1 as you but it didn't work either. My environments are
as below.
  OS: Windows 10
  Toolchains: /GNU Tools Arm Embedded/9 2019-q4-major

The project was built successfully with west tool, as seen in the
attachment build.log. The generated isr_tables.c is correct but it was not
built into the image.  the _sw_isr_tables still used the defau

[2020-04-15 15:50] pabigot commented on #21392
As a follow-up: I've confirmed to my satisfaction that clang-format will *always* insert a space between a ForEach macro used as a loop construct and the opening parenthesis of its argument:
[code]

This will generate a diagnostic from checkpatch:
[code]

Options:
* Modify clang-format to make the space insertion optional;
* Accept the change tree-wide and update checkpatch to not emit a diagnosti

[2020-04-15 17:40] andrewboie commented on #24363
Per Synopsys the root cause of this is nsim_hs_smp can't work under ANY version of nsim.

The problem with nsim_sem_normal is unrelated, the code is simply broken. Filing a separate bug.

[2020-04-15 17:47] andrewboie opened #24390 "nsim_sem_normal target is broken"
**Describe the bug**
When testing nsim_sem_normal under sanitycheck, the following result is observed:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure nSIM 2019.09 `nsimdrv` executable is in $PATH
2. `sanitycheck -p nsim_sem_normal`

**Expected behavior**
All tests passing.

**Impact**
We have a build target in tree which is nominally supposed to be working and supported, but

[2020-04-15 19:13] abrodkin commented on #24363
Indeed so-called "stand-alone nSIM" (i.e. `nsimdrv` alone w/o MetaWare Debugger or SystemC wrapper) currently doesn't support multi-processor or multi-core configurations (AMP, SMP etc). So until this gets fixed we might want to not use `nsim_hs_smp` for CI.

I'm not sure though if there's a way to just exclude one particular platform/board from any CIs so that it sits in the source tree as a "sta

[2020-04-15 19:37] carlescufi commented on #24373
Closing since #24354 is merged

[2020-04-15 19:37] #24373 closed

[2020-04-15 20:02] andrewboie commented on #24363
This is not just a CI issue. An end user will see this target in the tree and expect it to work, when it doesn't.

Why is there such resistance to removing this non-functional stuff? It's in the git history, you can put it back if and when it is ever fixed.

[2020-04-15 20:53] abrodkin commented on #24363
It's not a resistance. But being a long-time contributor & user of open source projects I know what is a pain of maintaining off-the-tree stuff. Even now working on QEMU platform for ARC I'm seeing problems rebasing my platform from time to time because some things change across the tree but not for my off-the-tree code. And here're some examples: https://github.com/zephyrproject-rtos/zephyr/commi

[2020-04-15 21:16] nashif commented on #24363
We just need to fix this target not to use standalone nsim for simulation, so something like that should do:

[code]

assuming we will start seeing results of this being run in the appropriate environment on testrail soon.

[2020-04-15 21:53] sslupsky opened #24399 "drivers: sam0_rtc_timer: DT_INST changes have broken this driver"
**Describe the bug**
Commit 28870e7a32dba06203c9457dfcd03e0aa04fb130 appears to have broken the sam0_rtc_timer driver.  The new macro appears to be generating a name that doesn't exist in the devicetree generated file.  I think this problem is related to #23107 and #22806

Here is the error message:
[code]
From the generated file:
[code]
It appears as if the wrong macro is being used here but I co

[2020-04-15 22:01] bwasim commented on #24324
Correct - This issue has more to do with the HAL library instead of the Zephyr OS, but I opened it here since it impacted my Zephyr development.

Regarding pushing a fix, the changes I made weren't scalable enough because they were specific to the LAN PHY. If someone comes with the a Custom board with the STM32F767 SoC but a different PHY, my solution will fail. Hence, I decided to leave it up-to

[2020-04-15 22:03] galak commented on #24399
Yeah, looks like:

[code]

should probably be:

`GCLK_GEN(DT_INST_PROP(0, clock_generator)`

[2020-04-15 23:03] sslupsky commented on #14520
Yes, I think this is still an issue.  I was having a similar problem disabling the shell when I go to sleep.  I submitted a PR #24404 that may address this issue.  This likely needs a bit of discussion.

[2020-04-16 01:55] awsa2ron commented on #24306
Hi,
As the "set the CONFIG_NET_CONFIG_MY_IPV4_GW option to the IP address of the gateway."
`the IP address of the gateway` is my physical router IP address, which is 192.168.0.1? or my zeth interface IP address, which is 192.0.2.2

Thanks.

[2020-04-16 02:28] overheat commented on #24306
Hi @jukkar,
As the "set the CONFIG_NET_CONFIG_MY_IPV4_GW option to the IP address of the gateway."
`the IP address of the gateway` is my physical router IP address, which is 192.168.0.1? or my zeth interface IP address, which is 192.0.2.2

After setting `CONFIG_NET_CONFIG_MY_IPV4_GW` to my zeth interface IP address(192.0.2.2). I can ping 192.168.5.141(host IP, my PC) successfully, but ping 192.168

[2020-04-16 03:23] jenmwms commented on #23507
nvm - this works to reproduce the passing case. Not sure what happened earlier. Anyway, this issue is still on my radar.

[2020-04-16 03:33] jenmwms commented on #23507
btw - I see this same behavior for `qemu_x86_64` `tests/drivers/uart/uart_basic_api/`. The `test_uart_fifo_fill` fails, but works fine if I set `CONFIG_MP_NUM_CPUS=1`

[2020-04-16 07:10] FRASTM commented on #24324
@bwasim  Do you think that `HAL_ETH_ReadPHYRegister` function could help in this ETH_Init

[2020-04-16 07:59] jukkar commented on #24306
The GW address is suppose to be your network gateway address, so 192.168.0.1 in this case.

[2020-04-16 08:02] ABOSTM commented on #24382
Hi @nandojve ,
samples/net/wifi is well working (and specially on disco_l475_iot1, that I tested) for what it is intend to do, as said in the README:
'enabling the Wi-Fi shell module'
You cannot just active few switches to have DHCP up and running. Have a look at "\samples\net\dhcpv4_client", you will see that much more switches need to be activated, and that you need to call more code in your app

[2020-04-16 09:27] LuoZhongYao opened #24409 "When the delay parameter of k_delayed_work_submit is K_FOREVER, the system will crash"
**Describe the bug**
If the k_delayed_work_submit function is called with the K_FOREVER parameter, the system will error

**To Reproduce**
1. Use any board
2. Call the k_delayed_work_submit function and set the parameter to K_FOREVER, then call k_delayed_work_submit through another k_delayed_work

**Expected behavior**
Calling k_delayed_work_submit with K_FOREVER can directly return an error, or d

[2020-04-16 11:01] #24376 closed

[2020-04-16 11:43] #24340 closed

[2020-04-16 12:09] #24399 closed

[2020-04-16 12:15] lmajewski commented on #22061
I've prepared the RFC PR which is a preparatory work for adding KSZ8794 DSA switch.
Please refer to https://github.com/zephyrproject-rtos/zephyr/pull/24323 . Despite, I'm going to divide this PR to smaller pieces, comments are always more than welcome.

[2020-04-16 12:38] nandojve commented on #24382
I'm start to think that board that I received have some defect. On the regular path following all steps on the wifi demo I can connect to network but I can't see any ping return even from my local network. I don't have a default gateway and netmask. When I enabled below flags wrong characters show on the console and I lose control.

`uart:~$ \���񆿆�ο��YjلO}R��B���᭟�o�1߻��ﻏ_y������׾����ϝo��q]��5�N�O

[2020-04-16 12:57] zzzh opened #24414 "Why there's no api for changing sensor's work mode?"
**Is your enhancement proposal related to a problem? Please describe.**
yeah, I want to change adxl362's work mode, but found no api to do that.

**Describe the solution you'd like**
Add an api in sensor_driver_api struct for changing sensor's work mode.

**Describe alternatives you've considered**
Not think of

**Additional context**
Many sensors have different work modes, so it's a common need t

[2020-04-16 12:59] mtahirbutt commented on #24382
can you ping your board from another station? I tried that although did not tried ping from the board.

[2020-04-16 13:06] jfischer-phytec-iot commented on #22502
Just a wrong log level, probably accidentally changed for debugging.

[2020-04-16 13:26] pabigot opened #24416 "How to manage device and non-device initialization order"
I like the general path of #23407 which decouples non-device initialization from the device structure, but a major follow-on task is coordinating the different types of initializations.

Currently Zephyr uses five init levels: two pre-kernel, one post-kernel, one application, one SMP.  These levels identify the state of the kernel and application.  Within each level there are 100 priorities to enf

[2020-04-16 13:27] pabigot commented on #24416
@mbolivar-nordic @tbursztyka could you take a look at this and provide your perspectives?

[2020-04-16 13:41] JordanYates opened #24417 "Disk Access: Query erase value"
**Is your enhancement proposal related to a problem? Please describe.**
In order to properly interpret the values read using disk_access_read, the value of a byte when erased must be known.
A simple use-case is for when flash is used as persistent storage for sensor readings.
Upon reboot, the amount of sectors already written to must be determined.
This is easiest to achieve when the value of an e

[2020-04-16 13:47] emob-nordic commented on #23980
I've turned on logs in nrfx driver and at some point the driver does not create an event for reading the last 12Byte packet. I have not yet figured out why it happens. I will try to narrow the searches..

[2020-04-16 14:13] mtahirbutt commented on #24382
you can also try echo_client from zephyr there is already available Digi Servers available for both UDP and TCP.

[2020-04-16 14:31] pabigot commented on #24416
Marked dev-review to increase exposure.

[2020-04-16 14:44] ChristianHirsch commented on #23280
Yes, I will check with them @carlescufi.

[2020-04-16 15:59] galak commented on #23465
dev-review: (Apr 16) - suggestion is put it under lib.

Some comment about having this as a module:
* discussion is this really a feature we expect/want in the main repo (vs a module)
* some issues currently ci for modules today (vs main repo)
* where do we draw the line about would would be a module v main repo for zephyr project code.

[2020-04-16 16:09] FRASTM commented on #24357
I also see the error with nucleo_g431 but nucleo_l4r5zi is OK

[2020-04-16 19:36] deangereaux commented on #23465
@pabigot   Regarding the current state of: https://github.com/GoldenBitsSoftware/zephyr.  Yes I need to update, rebase, etc.

[2020-04-16 20:20] cfriedt opened #24426 "syscall for pipe(2)"
**Is your enhancement proposal related to a problem? Please describe.**
While Zephyr has its own native `pipe()` call for IPC, the POSIX API could benefit by the addition of a `pipe(2)` system call to allow for better portability of userspace applications. In particular, in #24366, @pfalcon suggested (and I fully agree) that the `socketpair(2)` system call could be quite easily implemented with `p

[2020-04-16 20:55] ceolin commented on #23294
@avisconti  It seems that is irrelevant the return of `i2c_burst_read`, so it should be fine just cast it void to explicitly ignore. What is looking wrong to me is the following part:
[code]
Is that valid ? Shouldn't we return `-EINVAL` here ?

[2020-04-16 22:32] mbolivar-nordic commented on #24416
I think that's basically the systemd approach instead of the runlevel approach. And I think it's probably the right way to go if it can be done without breaking the bank in terms of resources.

[2020-04-16 22:43] d3zd3z opened #24429 "LPC55S69 flash faults when reading unwritten areas"
Unlike nearly all Zephyr-supported devices, the internal flash memory on the LPC55S69 faults instead of returning a pattern (usually 0xFF or 0x00) on unwritten flash.

The drive implements read using `memcpy`, which on this device receives a fault instead of copying the data.

The flash controller is able to perform a read without faulting. It is undetermined whether the flash_read operation shoul

[2020-04-17 01:36] arvinf opened #24431 "http_client assumes request payload is non-binary"
`http_client.c` uses `strlen` (in `http_send_data`) to calculate request `payload` size, instead of using `payload_len` that is provided by the user. This is incorrect and results in writing fewer bytes than is expected by the server when `payload` is binary.

An additional issue is that when `payload_cb` is used by the user to provide data via callback, no `Content-Length` is sent by `http_client

[2020-04-17 01:43] cvinayak commented on #23803
The issue is suspected to be insufficient thread stack allocation.

Depending on what you have configured your application to use UART, UART could be used for console apart from your indented use. Also, any code you write (auto variable declarations, for example) in a thread needs appropriate thread stack allocations.

@Narendhar95559 Please provide details of reproducing your issue, like, the sam

[2020-04-17 03:26] overheat commented on #24306
@jukkar
I have setup zephyr as you suggested, GW=192.168.0.1, iptables and so on.
Ping my gateway and grab zeth interface traffic on Linux host using wireshark, like this:
![Screenshot_2020-04-16_23-13-32](https://user-images.githubusercontent.com/4322417/79528964-69847100-8039-11ea-82c0-d31d8656fa2f.png)

Still not work. Any suggestion?
BTW, iptables like this:
[code]
Thanks.

[2020-04-17 05:29] Narendhar95559 commented on #23803
Thanks for reply, at present issue is solved

As you mentioned the issue is insufficient stack allocation, but in zephyr(v2.1.0) main stack sizes available are 512,2048 and 8192 but for my application 4096 required.

I tried with latest zephyr(2.2.29) which had support for 4096 stack size.

[2020-04-17 06:49] stevewells20 commented on #24301
Thank you for the response! I'll look into it. Are there any resources available for best practices or examples for adding new boards? I'm new to Zephyr, and would like to get my feet wet by diving in.

[2020-04-17 06:55] ABOSTM commented on #24382
My 1st guess would be that DHCP starts but the board is not connected to a wifi Access Point.

[2020-04-17 07:06] jukkar commented on #24306
That does not look right. You have something wrong in your host setup but it is very difficult to debug this remotely via github issue.

[2020-04-17 07:09] #24212 closed

[2020-04-17 07:41] avisconti commented on #23294
@ceolin
To be honest I think the caller is allowed to set an interrupt w/o the need for a handler to be called. Maybe the issue here is that we should proceed in setting the interrupt, but when an irq goes off we need to test if handler != NULL in the isr (which is actually tested in lis3mdl_thread_cb).

The bmi160 works in this way. What do you think?

[2020-04-17 07:58] nvlsianpu opened #24437 "smp_svr samle dosen't build for any target"
**Describe the bug**
Can't build smp_svr sample on nrf52 device

**To Reproduce**
Steps to reproduce the behavior:
1. ```west build -d build/smp_svr -b nrf52840dk_nrf52840 ./zephyr/samples/subsys/mgmt/mcumgr/smp_svr/```
2. build land in the error:
[code]

**Expected behavior**
sample builds and works

**Environment (please complete the following information):**
~~zephyr after https://github.com/ze

[2020-04-17 07:59] nvlsianpu commented on #24437
FYI @aunsbjerg @jukkar

[2020-04-17 08:00] nvlsianpu commented on #24437
cc @de-nordic

[2020-04-17 08:23] #24207 closed

[2020-04-17 08:28] nvlsianpu commented on #24437
`CONFIG_LEGACY_TIMEOUT_API=y` fixes the issue.
It should be selected unless https://github.com/zephyrproject-rtos/zephyr/pull/24341 not merged.

[2020-04-17 08:43] CindyChmt opened #24439 "LPCXpresso55S69_ns target : build failed"
There are some compilation problems when trying to compile Zephyr samples with the target "lpcxpresso55s69_ns".

**To Reproduce**
`west build -p auto -b lpcxpresso55s69_ns samples/hello_world`

**Issues**
It seems that there are 3 problems :
One in `lpcxpresso55s69_ns_defconfig` file : CONFIG_ARM is not user configurable
and two in `nxp_lpc55s6x_ns.dtsi` file : It's missing i2c.h as included file

[2020-04-17 09:20] nvlsianpu opened #24442 "samples/subsys/mgmt/mcumgr/smp_svr: should enable BT and FS for nrf52 boards"
**Describe the bug**
The sample used to build with BT transport and FS command set enabled for out-of the box build. After merge https://github.com/zephyrproject-rtos/zephyr/pull/20983 its stops.

**To Reproduce**
Steps to reproduce the behavior:
1.` west build -d build/smp_svr -b nrf52840dk_nrf52840 ./zephyr/samples/subsys/mgmt/mcumgr/smp_svr/`

**Expected behavior**
These feature should be enabl

[2020-04-17 09:34] aunsbjerg commented on #24437
@nvlsianpu Is there a case for building the SMP sample without any of the overlay configs? The base config does not enable any of the SMP transports, which renders the sample pretty useless as far as I can tell.

This works:
`west build -d build/smp_svr -b nrf52840dk_nrf52840 ./zephyr/samples/subsys/mgmt/mcumgr/smp_svr/ -- -DOVERLAY_CONFIG=overlay-bt.conf`

Running sanitycheck on the samples also

[2020-04-17 09:47] aunsbjerg commented on #24442
The sample was intentionally split up so that prj.conf contained only the common configuration set and transport specific configuration is contained in overlay configurations. To enable bluetooth transport, you'll need to add one of the bt overlay configs in the build command, like so:
`west build -d build/smp_svr -b nrf52840dk_nrf52840 ./zephyr/samples/subsys/mgmt/mcumgr/smp_svr/ -- -DOVERLAY_CON

[2020-04-17 09:52] #23133 closed

[2020-04-17 09:56] #23001 closed

[2020-04-17 09:58] galak commented on #24439
Fixed by #24368

[2020-04-17 10:16] FRASTM commented on #24357
actually for g431rb, error is :+1:
`[00:00:00.005,000] <err> flash_stm32: Read range invalid. Offset: 133112, len: 8`
Reading the nvs_ate fails after the first `nvs_flash_ate_rd(fs, *addr, ate); `
where  offset = 0x1f000  (which corresponds to the storage partition)
where *addr = 0x7f0
 because the  /* last ate in sector", do jump to previous sector */
gives an un-mapped memory address 133112 (0x2

[2020-04-17 10:34] Laczen commented on #24357
The definition for the g431rb does not allow 3 sectors to be used (only 2 sectors are defined as storage). Either increase the definition to 3 sectors or modify the nvs sample to use only 2 sectors.

[2020-04-17 10:35] akofoed commented on #24357
I have been looking at the changelog to find out what has changed between v2.2.0 and current-master but I can't find anything that explains why the flash-driver gives this -5 error.
I have done a test using flash_area_write() and that too gives a -5 (STM32F429ZI) using the 0x100000 128KB area (current-master).

[2020-04-17 11:45] nvlsianpu commented on #24442
I supposed that this sample is building with required features enables out of the box for these boards.
From my experience can avoid most of "help-desk" question thanks to that.

[2020-04-17 11:51] tbursztyka commented on #24416
You will definitely need to keep some of the existing markers. First because it is "readable" and second because obviously the kernel needs to know when to initialize stuff device/services before doing things on its own and initialize another batch of devices/services. (We could of course declare these "in between" duties as services but it would render kernel/init.c cryptic)

Merging both pre_ker

[2020-04-17 12:10] #24325 closed

[2020-04-17 12:12] pabigot commented on #24416
@andrewboie @galak please provide your perspective, and invite others who have a stake in this.  Until we know how device and non-device initialization will be integrated given new information about device dependencies we can't move forward on some devicetree and device rework.

[2020-04-17 12:15] KubaFYI opened #24453 "docs: Allow to use the exact current zephyr version number in place of /latest/ in documentation URLs"
**Is your enhancement proposal related to a problem? Please describe.**

Currently when `/latest/` in Zephyr docs URL (`https://docs.zephyrproject.org/latest/*`) is substituted with `<MAJOR>.<MINOR>.<PATCH>` of the most recent release (like one would reach docs for older releases) a `Page Not Found` page is being shown. This creates a problem in a situation when the most recent release changes, an

[2020-04-17 12:35] erwango commented on #24301
@stevewells20, you can look at https://github.com/zephyrproject-rtos/zephyr/pull/23160 for reference.
You don't need to provide full support for the board, but a minimum needs to be added like done in this example.
From what I understand, you want to introduce new SoC, so we'll wait 2 commits:
- new SoC introduction
- board introduction

For the board configuration, dual core support is a bit spec

[2020-04-17 13:06] erwango commented on #24324
@bwasim ok, I get your point. Can you share you test configuration as well as your proposed fix. It will be a good start for the seek of a better solution

[2020-04-17 13:29] FRASTM commented on #24357
@Laczen Thanks for your comment, which makes this sample test OK on G431, if I set the  fs.sector_count = 2U;  in the sample main.
BTW, even if it's a sample, this could be linked to a config or a macro.
Regarding the definition to 3 sectors of the G431, does it refer to the page size ?
```		storage_partition: partition@1f000 {```
Because if I try to change the dts to (3 x 1024)
[code]
I can also

[2020-04-17 13:34] erwango commented on #24357
@akofoed, can you rebase on top of latest master. There had been a few hickups on stm32 flash drivers few weeks ago. You might face an issue already solved. You can check `samples/drivers/flash_shell`: If not working you need to rebase.

[2020-04-17 14:07] Laczen commented on #24357
The sector size should always be a multiple of the pagesize.

[2020-04-17 14:14] erwango commented on #24382
@loicpoulain any idea?

[2020-04-17 14:21] erwango commented on #24291
@andrewboie, we're not able to reproduce the issue, maybe your knowledge of this part will be more efficient to solve this point?

[2020-04-17 14:28] nandojve commented on #24382
Hi folks, yesterday I got communication working using APIs and get a transfer from a  COAP server using my local network without using DNS. I still not getting PING and DNS working with net shell.
It seems that when I simple enable DHCPv4 option shell start to send spurious on console and I lose shell control.

@jukkar , any idea about wrong characters on shell when enable DHCPv4 option.

[2020-04-17 14:54] starmachine24 opened #24457 "Common Trace Format - Failed to produce correct trace output"
**Describe the bug**
We wanted to produce a CTF trace via UART, so we enabled it in Kconfig and used minicom to capture the output. When trying to open the file in Trace compass it fails to import the file when the metadata file is used, otherwise it can import the file but can't understand it. It fails to be correctly parsed when run through babeltrace.

The output is from running the test progra

[2020-04-17 15:16] #24439 closed

[2020-04-17 15:19] #24437 closed

[2020-04-17 15:44] akofoed commented on #24357
@Laczen  After updating master just now it works. This is NVS on current master running on nucleo_f429zi and working:

[code]

Can we close this or do you need me to do more testing?

[2020-04-17 17:14] andrewboie commented on #24416
You need to talk to @tbursztyka

[2020-04-17 17:33] #23750 closed

[2020-04-17 18:21] arvinf opened #24462 "File not truncated to actual size after calling fs_close"
**Describe the bug**
When a file is rewritten with less data and then closed the file is not truncated to the most recent data. The old data is still in the file.

**To Reproduce**
1. Create a file and write 100 bytes of arbitrary data.
[code]
2. Re-open the file and write 50 bytes of different data.
[code]
3. Re-open the file, check file size and read contents.
[code]

**Expected behavior**
When

[2020-04-17 18:34] #22502 closed

[2020-04-17 19:05] albertofloyd opened #24464 "drivers: espi: XEC: Incorrect eSPI channel status handling leading to missed interrupts and callbacks"
In MCHP Soc operation on the different eSPI channel is reported via different registers.

These register implement read-only or read-write-1-clear bits, so these bits should never be clear using sintaxis such as
ESPI_REG_XXX | BIT(y)

This will potentially cause other status bits to be cleared.
Need to simply perform following operation
REG = BIT(y)

**To Reproduce**
Steps to reproduce the behavio

[2020-04-17 19:45] mjago commented on #21107
Possibly related: recent install on Linux (v2.2.99, SDK v0.11.2) running `hci_pwr_ctrl` sample on `nrf52dk_nrf52832`. Reproducible occurring every build. Client Android `nRF Connect`. Other tried samples are working fine.
[code]

[2020-04-18 01:41] #23803 closed

[2020-04-18 14:56] pabigot opened #24479 "nrf-uarte problems with uart_irq_tx_disable() in handler"
The CDC_ACM sample uses an [idiom for interrupt-driven UART](https://github.com/zephyrproject-rtos/zephyr/blob/addaa802c1da06f31146be8357a6ab5d15f8927d/samples/subsys/usb/cdc_acm/src/main.c#L31) that involves a loop that is repeated as long as an interrupt is pending.

This idiom does not work for `nordic,nrf-uarte`. (It works for `nordic,nrf-uart`; I have not tested other platforms.)  The failure

[2020-04-18 15:01] jasonedn commented on #24291
After I uninstalled Visual Studio Community IDE and  zephyr software from my computer, and then I re-installed zephyr software, it worked properly. It seems that it was caused by some improper settings of the VS software.

[2020-04-18 15:01] #24291 closed

[2020-04-18 16:52] pabigot commented on #24462
The file system is behaving as it should.  Zephyr's file system (and particularly littlefs) follows POSIX file system standards: if you open an existing file, you are positioned at the start, but the existing file content is not removed.  So what your example does is:

* Create a file with  100 x 0xAA and close it;
* Reopen it and overwrite the first 50 octets with 0x55, then close it;
* Seek conf

[2020-04-18 16:52] #24462 closed

[2020-04-18 17:03] pabigot commented on #24462
Reading your original comment more completely: Yes, this is compatible with POSIX, given that Zephyr doesn't allow you to provide flags.  The open it's simulating acts as though it was given `O_CREATE | O_RDRW` but not `O_TRUNC`.  So if you want to truncate you have to do it after you open.

[2020-04-18 19:24] bwasim commented on #24324
@erwango , please find [zephyr.txt](https://github.com/zephyrproject-rtos/zephyr/files/4497474/zephyr.txt) which is my kernel configuration. Note that this configuration disables optimizations and therefore has to increase stack sizes of various threads because I get a stack overflow otherwise. I can confirm that the problem is reproducible even if the compiler optimizations are enabled.

Also fin

[2020-04-18 20:43] jasonedn opened #24484 "The file system shell example failed to build"
**Describe the bug**
Failed to build the file system shell example on native_posix,

**To Reproduce**
Steps to reproduce the behavior:
1. export PKG_CONFIG_PATH=/usr/lib/i386-linux-gnu/pkgconfig
2. west build -b native_posix samples/subsys/shell/fs

**Expected behavior**
Pass the building

**Impact**

**Screenshots or console output**
...
ephyr && cmake -E rename zephyr_prebuilt.map zephyr.map &&

[2020-04-18 22:12] pabigot commented on #24484
Seems likely the README is out of date.

If you do:

    west build -b native_posix_64 samples/subsys/shell/fs/

does it work?

[2020-04-18 22:24] akofoed commented on #24357
I was testing the jedec,spi-nor version and my code says it cannot find the driver. So I tried the sample in samples/drivers/spi_flash/ and it too cannot find the driver. I have tested this on both current master and v2.2.0.

To see the error you don't need the spi-nor flash attached to your board. It is the spi-nor driver that it cannot find.
This is my addition to the DTS:
[code]
Yes, I am using

[2020-04-19 00:11] cfriedt opened #24485 "kernel: pipe: should return if >= min_xfer bytes transferred and timeout is K_FOREVER"
**Describe the bug**
The following code hangs indefinitely at `k_pipe_get()`, but it should not, according to [the documentation](https://docs.zephyrproject.org/latest/reference/kernel/data_passing/pipes.html):
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=qemu_cortex_m3
3. make
4. See error

**Expected behavior**

As per [the documentation](htt

[2020-04-19 00:13] cfriedt commented on #24485
Yep. `k_pipe_write()` has the same problem. Will include a fix for that as well.

[2020-04-19 02:55] jasonedn commented on #24484
No, it doesn't work. According to the online document, it seems that native-posix supports 32-bit only:
"Before starting a build, make sure that the i386 pkgconfig directory is in your search path and that a 32-bit version of libfuse is installed. For more background information on this requirement see Native POSIX execution (native_posix)."

I spent hours to try to install 32-bit libfuse library,

[2020-04-19 02:55] #24484 closed

[2020-04-19 02:56] pabigot commented on #24484
Yes, `native_posix` is 32-bit, but `native_posix_64` is 64-bit.  Which should have worked immediately.

[2020-04-19 04:06] pabigot commented on #24144
I lost a couple hours due to running into this when updating the USB mass storage to support mounting a littlefs file system, so there's now a fix.  Many things that use wrappers to the SPI flash API are likely to fail to supply an aligned memory buffer and will produce a deadlock that is very hard to diagnose, so I've increased this to medium priority.

[2020-04-19 06:50] Laczen commented on #24357
@akofoed, make this a separate question and/or bug report. People will not find this problem in the current issue. As the present issue seems to be solved you can close it.

[2020-04-19 08:21] akofoed opened #24490 "SPI-NOR driver not found in spi_flash sample"
**Describe the bug**
Testing the SPI-NOR driver (jedec,spi-nor), my code says it cannot find the driver. So I tried the sample in samples/drivers/spi_flash/ and it too cannot find the driver. I have tested this on both current master and v2.2.0.

**To Reproduce**
To see the error you don't need the spi-nor flash attached to your board. It is the spi-nor driver that it cannot find.
I am using the n

[2020-04-19 08:22] akofoed commented on #24357
I can confirm that this is working now. Closing issue.

[2020-04-19 08:22] #24357 closed

[2020-04-19 12:42] pabigot commented on #24485
While I agree the documentation could be interpreted the way you do, and that it might be useful if it worked that way, it seems the implementation respects "immediately satisfied" and "fail immediately" only in the case of `K_NO_WAIT`.

If your interpretation is to be supported I don't think your proposed solution in #24486 will work because at the point you discover that the minimum transfer has

[2020-04-19 15:36] #24009 closed

[2020-04-19 15:36] #24311 closed

[2020-04-19 17:08] sslupsky opened #24495 "devicetree: add DT_HAS_ALIAS()"
It would be useful to have a DT_HAS_ALIAS() macro in devicetree.h similar to DT_HAS_NODE() for the situation where you use an alias to select the item from the device tree.

My example use case is debug pins where the pins are not dedicated for debug but are transient.  So, the debug pins overlap existing GPIOs in the devicetree.  I would like to use an alias for the debug pins and alias them to t

[2020-04-19 17:19] sslupsky commented on #24495
I think this will work
[code]

[2020-04-19 17:57] cfriedt commented on #24485
I guess technically, if K_NO_WAIT is specified, then the documentation is consistent.

However, I see no way to perform blocking I/O without entirely pre-determined data lengths. To be completely transparent, it is #24426 that is blocked.

[2020-04-19 19:14] cujomalainey opened #24496 "[UART] Add buffer level check for synchronous API"
**Is your feature request related to a problem? Please describe.**
Most common uart APIs have the ability to either peek or check the buffer level without actually reading the first element.
* Arduino's [available()](https://www.arduino.cc/reference/en/language/functions/communication/serial/available)
* Mbed's [readable()](https://os.mbed.com/docs/mbed-os/v5.15/mbed-os-api-doxy/classmbed_1_1_seri

[2020-04-19 20:02] timdesi opened #24497 "frdm_k64f fatal error while using flash and TLS features together"
**Describe the bug**
I am developing full-stack application that connects to cloud with MQTT TLS. Need to store same basic variables like username, password to flash/nvs directly or with settings.

Problem is that using flash/nvs with TLS enabled configuration breaks flash memory and causes fatal os error.

What have you tried to diagnose or workaround this issue?

All tested samples like subsys/s

[2020-04-19 21:35] sslupsky opened #24499 "devicetree: node name for SPI buses should be 'spi' warning"
I have noticed a warning when I build my project:
[code]
Here are the lines 110 - 121 from the pre.tmp file:
[code]
I am not sure if this can be ignored or if there is something that needs to be fixed here?  It appears to complain about the "sercomx" node id.  The sam0 sercom modules can be configured as a UART, SPI or I2C.

Does anyone have a suggestion about how to fix the warning?

[2020-04-19 21:50] jasonedn opened #24500 "Failed to run the sample "Native Posix Ethernet""
**Describe the bug**
The sample "Native Posix Ethernet" failed to run after build

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b native_posix samples/net/eth_native_posix
2. sudo --preserve-env=ZEPHYR_BASE make -Cbuild run
  or
  sudo --preserve-env make -Cbuild run

**Expected behavior**
It runs successfully

**Impact**

**Screenshots or console output**
...
make: Entering di

[2020-04-19 22:07] henrikbrixandersen commented on #24495
Why not simply use `DT_HAS_NODE(DT_ALIAS(alias_name))`?

[2020-04-19 22:28] overheat commented on #24306
@jukkar
It works after I disable the firewall on my Kali Linux by `ufw disable`, looks the ufw disabled the ip forwording default. alternately, change the config of ufw to allow ip forwarding should works.
BTW, the gate way is "192.0.2.2"

[2020-04-19 22:28] #24306 closed

[2020-04-19 22:30] overheat commented on #24500
[code]

what is the issue?

[2020-04-19 22:33] overheat commented on #24500
1.west build -b native_posix samples/net/eth_native_posix
2.west build -t run/ ./build/zephyr/zephyr.exe
works for me.

Maybe this is an issue for the second step?

[2020-04-19 22:40] andrewboie commented on #13651
I'm doing some work in this area and will take this one.

[2020-04-19 23:22] #24282 closed

[2020-04-20 01:16] arvinf commented on #24462
Thank you for your answer. I was expecting the behaviour to be more inline with POSIX `fopen`, which always truncates on write.

Just a suggestion, that maybe this should be made explicit in the documentation. Most programmers typically deal with `fopen`, rather than `open` when manipulating the file system and would naturally expect `fs_open` to behave like `fopen`.

Also, the code that I provide

[2020-04-20 04:23] marketideas commented on #24497
Hi, I have found the .dts for the FRDM-K64F creates a storage partition somewhere in the middle of the flash, and not at the end as expected.  Once your code grows and wraps into that partition, the NV_SETTINGS stuff will erase code, and this is a bad thing. TLS is quite large. I can't guarantee this is your issue, but it certainly could be and get you moving forward again.  Are you bringing in MB

[2020-04-20 06:29] ytchen1435 commented on #24233
#24421 pull request fix

[2020-04-20 09:24] robinh17 opened #24505 "Bluetooth: Mesh: Configuration Client: Add support for Model Subscription Get"
**Problem**
Nodes implemented with the Configuration Client model needs to be able to send a "Config SIG Model Subscription Get" message or "Config Vendor Model Subscription Get". On the target node, the configuration server model shall reply with a "Config SIG Model Subscription List" or "Config Vendor Model Subscription List" containing all addresses from the Subscription List of the model. The

[2020-04-20 11:04] giellamoswhard opened #24509 "Ethernet Sample Echo Failed in Nucleo_f429zi - bisected"
**Describe the bug**
I've tried with commit 65eacef644 to use the IP connection on a nucleo_f429zi but it doesn't work.
I bisected it and it seems the problem slipped in with commit
`commit bfaa1091fd6bc1877992bd40973adfea1412603b
Author: Erwan Gouriou <erwan.gouriou@linaro.org>
Date:   Thu Apr 16 20:52:22 2020 +0200

    boards: stm32: Use dt API for peripheral configuration

    Replace use of K

[2020-04-20 11:14] carlescufi commented on #24500
@jasonedn as @overheat said, you are not running the right commands. Please try those and let us know.

[2020-04-20 11:14] #24500 closed

[2020-04-20 11:23] pabigot commented on #24233
That added the define in the main routine, where it's needed.  I need you to tell me what target platform you're building for that does not build if it isn't also added in the trigger source, which AFAICT does not need it.

`samples/sensor/adxl362` which enables triggers builds correctly for me for both nrf52dk_nrf52832 and frdm_k64f.

[2020-04-20 11:32] pabigot commented on #24462
I see that with POSIX `fopen(path, "w")` (or `"w+"`) it would truncate the existing file.  But Zephyr's `fs_open` isn't given any mode flags and it allows both read and write, so the POSIX equivalent mode is `"r+"`. I don't think generally people will expect opening an existing file to cause its contents to be wiped out.

I don't think there's anything to be done here.  But thank you for providing

[2020-04-20 11:42] nvlsianpu opened #24512 "set OVERLAY_CONFIG as cmake variable"
**Is your enhancement proposal related to a problem? Please describe.**
 OVERLAY_CONFIG file is something used currently for creating children configuration basing on general parent configuration.
currently OVERLAY_CONFIG is possible to be used from command-line and from tests/sampes *.yaml description.

I.m asking for extend this to be used by CMakeLists explicitly as well.
This helps to reduce a

[2020-04-20 13:16] pabigot commented on #24416
@galak Leaving in dev review for 2020-04-23.

Unless there is significant interest in and a plan for changing things I expect Zephyr will continue to use level and priority to determine initialization order.  I don't see a path to taking devicetree order constraints into consideration for initialization with this model since `level` cannot be inferred.

[2020-04-20 13:41] #24144 closed

[2020-04-20 13:42] #20945 closed

[2020-04-20 13:43] #23294 closed

[2020-04-20 13:48] #24339 closed

[2020-04-20 13:54] #24067 closed

[2020-04-20 13:57] #24442 closed

[2020-04-20 15:07] arvinf commented on #24462
That is true but without flags it is effectively `"rw"` since you can read and write.

Thank you for answering my question and resolving the issue.

[2020-04-20 15:33] nashif commented on #24390
fixed

[2020-04-20 15:33] #24390 closed

[2020-04-20 15:34] pabigot commented on #24462
But `"rw"` is not a defined configuration for the `mode` parameter to POSIX or ISO-C `fopen`.  Which honestly surprised me, since I remember using that back in the day.  Learning every day....

And you're welcome.

[2020-04-20 15:41] #3076 closed

[2020-04-20 15:55] jasonedn commented on #24500
@Aaron and@Carles . It still failed at the second step as below:

 $ west build -p auto -b native_posix samples/net/eth_native_posix
-- west build: generating a build system
...
-- Configuring done
-- Generating done
-- Build files have been written to: /home/jason/zephyrproject/zephyr/build
-- west build: building application
[1/138] Preparing syscall dependency handling

[138/138] Linking C exec

[2020-04-20 15:57] ceolin commented on #23294
@avisconti thanks for your help !

[2020-04-20 16:00] avisconti commented on #23294
You are welcome! Thanks to you!

[2020-04-20 16:04] mbolivar-nordic commented on #24495
DT_HAS_NODE(DT_ALIAS(foo)) is a valid implementation, yes. DT_ALIAS(foo) is a node identifier like any other, and DT_HAS_NODE() works with any node identifier.

@sslupsky would you be willing to send a patch? You could add this under DT_HAS_CHOSEN() in devicetree.h. Just make sure to add test cases in tests/lib/devicetree/src/main.c.

[2020-04-20 16:09] jhedberg commented on #24505
The server side of this is already implemented, as far as I can see

[2020-04-20 16:49] arvinf commented on #24462
TIL!

[2020-04-20 17:00] carlescufi commented on #23280
Thank you. I will close this in the meantime, feel free to reopen if you find out that this is indeed a Zephyr issue.

[2020-04-20 17:00] #23280 closed

[2020-04-20 17:58] mtahirbutt commented on #17902
Hi, I am trying to make work quadflash with disco_l475_iot1, I am investigating quadspi in this regard. I just found update on spi.h file for incorporating SPI_LINES_QUAD, but do not know how to configure pins for CS as stm32l475 MCU has multiple pins supporting CS for QUADSPI and additionally how can I configure that with DTS file etc.  please comment, thanks

[2020-04-20 19:20] sslupsky commented on #24495
Sure, I can do that.

[2020-04-20 19:28] sslupsky opened #24533 "devicetree: are some defines missing from the bindings?"
There are some gpio configuration defines in the file located at includes/drivers/gpio.h such as GPIO_OUTPUT

There are a few gpio configuration defines in the file located at includes/dt-bindings/gpio/gpio.h such as GPIO_ACTIVE_HIGH

When I define a gpio phandle in my devicetree file, I would like to include the GPIO input/output configuration flags such as GPIO_OUTPUT, GPIO_INPUT, GPIO_OUTPUT_IN

[2020-04-20 20:12] maksimmasalski opened #24534 "arch_mem_domain_max_partitions_get() returns equal number for all architectures"
Kernel function arch_mem_domain_max_partitions_get() returns equal number of maximum available memory partitions for all architectures. Now it returns 16. That is a software limit made by CONFIG_MAX_DOMAIN_PARTITIONS.

Different architectures have different maximum possible hardware number of partitions. Necessary to change the maximum number of domain partitions according to the architecture.
For

[2020-04-20 20:18] andrewboie commented on #24534
I am unable to reproduce this.

What platforms have you tested this on?

[2020-04-20 20:31] #24534 closed

[2020-04-20 20:34] sslupsky opened #24536 "devicetree: add DT_GPIO_FOREACH()"
I was experimenting with automating initialization of gpio and wondered if there could be a devicetree macro defined for this purpose similar to the DT_INST_FOREACH() macro?

Here is an example of what I was thinking (this example assumes the compatible is "gpio"):
[code]

and then using the following to instantiate the code:
[code]
I still need to figure out the correct syntax for the gpio_pin_co

[2020-04-20 20:34] mbolivar-nordic commented on #24495
Thank you!

[2020-04-20 20:51] galak commented on #24536
I'd like to get @pabigot and @mnkp comments first as the GPIO subsystem maintainers.

[2020-04-20 21:05] #24431 closed

[2020-04-20 21:19] pabigot commented on #24536
My initial response is I don't think that'd be useful.  `MY_GPIO_INIT` in your example doesn't do any error checking; I would want to have that in my code, and to have it diagnose which initialization failed.  It's also not particularly common to have a single phandle-array property with multiple GPIOs, either.

I have tried for a long time to get some sort of common aggregate representation of de

[2020-04-20 21:25] tautologyclub commented on #24416
This may be a naive idea but would it be horrible if each init held responsibility of calling the inits of its dependencies? It would be a major change I reckon but it would feel pretty natural imo - expose the init function as a public runtime api and let init calls propagate upwards in JIT fashion, until an already_inited checks reports true

[2020-04-20 21:32] tautologyclub commented on #24338
Would be nice with a driver for reserving the slots too, I'm still not sure which ones are hijacked by the radio tbh

[2020-04-20 21:32] pabigot opened #24539 "How to complete userspace support for driver-specific API"
tl;dr: we have not fully solved #11993.

PR #18186 documents an approach to driver-specific APIs based on extended a standard driver API with additional methods only supported by a specific driver API.  The requirements derive from #11993.

#12056 provided a macro to be used in system call verification to confirm that a driver-specific API call could be correctly called for a given device instance

[2020-04-20 21:34] pabigot commented on #24539
@andrewboie please provide guidance.

[2020-04-20 21:34] tautologyclub commented on #24416
This would ofc solve the problem of a delayed init api as well, which is sought after by power management and other random use cases, see https://github.com/zephyrproject-rtos/zephyr/issues/24318 for instance

[2020-04-20 21:55] #18085 closed

[2020-04-20 21:59] #24363 closed

[2020-04-20 23:46] cfriedt commented on #24485
I interpreted the API documentation to mean that if I called `k_pipe_get()` with `min_xfer = 1` and `timeout = K_FOREVER`, then I would be able to mimic the same behaviour as read(2), and perform an actual blocking call that would return as soon as min_xfer was received or an error occurred.

Technically speaking, if an error occurs and some bytes have been read, the the number of bytes read is st

[2020-04-21 01:01] jenmwms commented on #24227
Perhaps it would help to state in the Zephyr doc to follow the section on "Setting up Development Environment", then return to the Zephyr doc? https://docs.espressif.com/projects/esp-idf/en/latest/esp32/get-started/index.html#setting-up-development-environment

[2020-04-21 06:06] mkarhumaa commented on #23980
@emob-nordic Is there any other configuration options than `CONFIG_USB_DEVICE_LOG_LEVEL_DBG` and  `CONFIG_USB_DRIVER_LOG_LEVEL_DBG` that I could try to further debug this problem?

[2020-04-21 06:48] aunsbjerg commented on #24512
This is already supported, but apparently it requires the OVERLAY_CONFIG variable to be set before the zephyr boilerplate is included, like so:

[code]

[2020-04-21 07:00] emob-nordic commented on #23980
@mkarhumaa You can enable logs in nrfx driver, this is what I did for now.
You can do this by adding
[code]
Which will extend debug logs to ll driver.

[2020-04-21 08:22] LingaoMeng commented on #24505
it's true, the cfg_srv side already implemented. see https://github.com/zephyrproject-rtos/zephyr/blob/c97f6f8eeb06c20c75b2c9a7690d9c58f3ea07af/subsys/bluetooth/mesh/cfg_srv.c#L3175-L3181

[2020-04-21 08:24] timdesi commented on #24497
Moving storage partition at the end of flash solves this problem.

[2020-04-21 08:24] #24497 closed

[2020-04-21 08:32] abrodkin opened #24546 "Implement MDB runner for ARC"
We used to use so-called standalone nSIM for ARC core simulation in Zephyr via `nsim` "runner" (https://github.com/zephyrproject-rtos/zephyr/blob/master/scripts/west_commands/runners/nsim.py) and while it allows to simulate single-core setups as of today multicore (both AMP & SMP) systems are not simulated by nSIM. For that we have to use MetaWare debugger (AKA `mdb`, see https://www.synopsys.com/

[2020-04-21 09:57] ioannisg commented on #23930
Might just be done for extra protection. Hard to assess with un-commented code.

[2020-04-21 09:58] ioannisg commented on #23930
@pftbest I guess you can close this question if you feel the response was adequate

[2020-04-21 10:10] joerchan commented on #23134
I don't think we should do that. The number of bytes sent could be inferred by using `bt_gatt_get_mtu` in the cfg_match callback.

[2020-04-21 10:32] ABOSTM commented on #24509
Hi @giellamoswhard,
With the commit you highlight, there is a conflict for STM32F429 nucleo board:
Both SPI1 and Ethernet use pin PA7.
As a workaround, you can disable SPI1: edit file ...\boards\arm\nucleo_f429zi\nucleo_f429zi.dts
[code]
I need to wait @erwango , to define the best solution to solve this conflict.

[2020-04-21 10:34] pftbest commented on #23930
Ok, thank you.

[2020-04-21 10:34] #23930 closed

[2020-04-21 10:51] overheat commented on #24500
@jasonedn `west build -t run` and `./build/zephyr/zephyr.exe` both  works.
After that you need to _UART_0 connected to pseudotty: /dev/pts/1_, like `screen /dev/pts/1`

[2020-04-21 11:00] overheat commented on #24484
@pabigot  I have tried this:
[code]
I can see this,
[code]
but after `screen /dev/pts/2`, no shell, nothing display on the screen.

[2020-04-21 11:19] optdcw commented on #23337
Any progress regarding this issue ?

[2020-04-21 11:19] giellamoswhard commented on #24509
@ABOSTM Thank you very much the workaround is confirmed to work.

[2020-04-21 11:34] pabigot commented on #24484
@overheat I can confirm that behavior, but have no idea what the problem is.  Please open a question issue.

[2020-04-21 11:51] emob-nordic commented on #23337
Together with @carlescufi and @jfischer-phytec-iot  we came up with conclusion:
Windows can handle dfu devices **only** when they are standalone (nothing more except dfu. No more functions like cdc/hid/whatever). It's not possible for windows (its not stable) to 'talk' to both cdc+dfu at the same time. Its the host flaw. We do not know how to come around this at the device level.

For me it happen

[2020-04-21 11:55] overheat commented on #24484
Sure.
Thanks!

Best regards,
Aaron

在 2020年4月21日，下午7:34，Peter A. Bigot <notifications@github.com> 写道：

﻿

@overheat<https://github.com/overheat> I can confirm that behavior, but have no idea what the problem is. Please open a question issue.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/zephyrproject-rtos/zephyr/issues/2448

[2020-04-21 12:03] mkarhumaa commented on #23980
Thank you @emob-nordic ! With these debug options I got little bit further.

On the left is snippet from log of successful transfer. On the right side is the case that gets stuck.
![Screenshot 2020-04-21 at 11 10 54](https://user-images.githubusercontent.com/1359919/79862275-8a084e80-83de-11ea-8e4a-5b0f89e15f4d.png)

From logs we can clearly see that three lines are missing in "bad" case. For some

[2020-04-21 12:15] optdcw commented on #23337
I tried using the cdc-serial bootloader and got it to work however the dfu worked faster and seemed much more robust.

If you don't recommend using this kind of configuration i will revert to using the cdc-serial bootloader. Which is a little bit unconvinient.

[2020-04-21 12:28] emob-nordic commented on #23980
That was what I came up with as well but maybe described it a bit too laconic. Tbh I do not know. It may be that HW stucks somehow. I've checked if maybe EP0 are  STALLED somehow on the way but this not happen.
I wanted to test it with Nordic SDK as USB is working there for a long time. My plan was to rework nordic sdk stack to accept custom commands via EP0 and test it there. If same happen with

[2020-04-21 12:36] overheat opened #24553 "samples/subsys/shell/fs/ fail on native posix board"
I have tried this:

[code]
I did't export `PKG_CONFIG_PATH` in this case.
I can see this,

[code]
but after screen /dev/pts/2, no shell, nothing display on the screen, just stuck there.
I also tried `native_posix` without `_64` and the result is same.

BTW, in #24484 @pabigot  comfirmed the same issue.

[2020-04-21 12:55] parthitce opened #24554 "hal_infineon: Add new module for Infineon XMC HAL layer"
## Introduction

Support for infineon XMC series ARM cortex M controllers needs/depends on XMCLib. New HAL module needs to be created to address the dependency.

### Problem description

I am submitting the patch to add support for infineon xmc4500 SoC in PR. This PR needs HAL layer for Infineon XMCLib.

### Proposed change

hal_infineon is currently pushed with needed adaptation for Zephyr here:

[2020-04-21 13:17] parthitce commented on #24554
@carlescufi @nashif

[2020-04-21 14:02] #23692 closed

[2020-04-21 14:26] chris-makaio commented on #18117
okay, I'm back on this. Any progress so far?
I'm currently implementing some generic Quectel drivers based on @mike-scott 's U-Blox implementation. But I found that there is a huge power leakage due to the uart_irq_rx_enable in modem_iface_uart.c which kept the UART from sleeping (average current during "sleep" about 1mA).
ATM I disable the RX IRQ on sleep, replacing it by a raw gpio_callback and

[2020-04-21 14:47] akofoed commented on #24509
You can use MOSI on pin PB5 instead:
pinmux:
[code]

[2020-04-21 15:03] akofoed commented on #24509
I see that the last part of the .../nucleo_f429zi/pinmux.c that someone has updated all the ifdefs to DT_HAS_NODE but they are missing the last USB_otg_fs one. This compiles on my machine:

[code]

[2020-04-21 16:34] scttnlsn opened #24564 "NRF51822 BLE ~400uA idle current consumption"
I'm trying to create a BLE peripheral that periodically notifies the central of a sensor value and then goes to sleep.  I'm noticing that even during the `k_sleep`, there's a significant current draw of ~400uA at 3.3V.  Here's the full code of a minimal example that reproduces the issue:

[code]

Do I need to explicitly force a certain sleep mode?  Do I need to explicitly disable certain periphera

[2020-04-21 17:08] carlescufi commented on #24539
@andrewboie we have kept this as an enhancement for now, but according to @pabigot it is currently not possible to give userspace support for driver-specific functions at all. If you could confirm that is the case, then we should change this into a bug.

[2020-04-21 17:12] carlescufi commented on #21305
The kernel side of things is done. There's still a discussion ongoing about how best to convert the subsystems, but this issue doesn't cover that.

[2020-04-21 17:12] #21305 closed

[2020-04-21 17:13] carlescufi commented on #16809
@jukkar is this on track for 2.3?

[2020-04-21 17:36] carlescufi commented on #24359
@andrewboie don't forget to update docs/releases/, section about API deprecation

[2020-04-21 17:41] carlescufi commented on #24409
@andyross we are likely missing a test for this particular usage of delayed work?

[2020-04-21 17:49] carlescufi commented on #24485
@andyross could you take a look?

[2020-04-21 17:52] carlescufi commented on #24553
I had the exact same thing happen in `tests/bluetooth/shell` on native_posix (cc @joerchan).
I think this might not be related to this particular sample but to the mapping between `/dev/pts/` and the console code in `native_posix`.

[2020-04-21 17:55] carlescufi commented on #24564
@scttnlsn can you please provide your configuration (`build/zephyr/.config`) as well?

[2020-04-21 17:59] scttnlsn commented on #24564
@carlescufi Here's the full contents of `build/zephyr/.config`:

[code]

[2020-04-21 18:05] andyross commented on #24409
This actually never worked correctly (well, "correctly" -- it's a pathological case after all), and AFAICT the behavior didn't change with the timeout patch.  What actually happens in practice is that the delayed work timeout gets set for -1 (== K_FOREVER) ticks into the future, which means it fires immediately at the next timer interrupt.

I can't reproduce a crash, btw; it just fires normally bu

[2020-04-21 18:06] pabigot commented on #24490
I don't have NXP hardware with a similar flash to test, but the "not found" will be received if driver initialization failed.  This can be because:
* the associated SPI bus was not found (your overlay shows it's enabled in devicetree, so this should be ok);
* The chip-select is on a GPIO (rather than pinmux) and its device is not correct;
* An attempt to read the JEDEC ID failed;
* You've enabled

[2020-04-21 18:13] pabigot commented on #24564
The normal go-to explanation for idle power draw of this level is a UART left active, but it seems you don't have UART enabled so that wouldn't be the case here.  I do wonder about the impact of `SEGGER_RTT`, might try turning that off.

How are you measuring the power?  FWIW my testing long ago showed the base BLE400 current usage was 120 uA, even if the jumpers to connect UART, LED, and buttons

[2020-04-21 18:28] andrewboie commented on #24539
@pabigot I'm really having trouble understanding why you need API struct abstractions for driver-specific APIs. I understand you invented this and am now having trouble with system calls.

The whole point of the API struct abstraction in our device model is so that many different drivers can all be programmed to the same subsystem interface.

What is the point of this API struct indirection when t

[2020-04-21 18:30] andyross commented on #24485
Yeah, that "min_xfer" is an ugly wart.  But I think I agree with @cfriedt that it can only reasonably be interpreted as having higher precedence than the timeout.  That is, what we **want** is:

"Here is some data (or a buffer to receive data), please transfer at least this many bytes of it, if necessary waiting this long to do it before returning"

But what we've implemented is:

"Here is some da

[2020-04-21 18:39] pabigot commented on #24564
I like the EEVBlog uCurrent for DMM-based measurement, but I don't see where you can buy them anymore.

[2020-04-21 18:45] cfriedt commented on #24485
Thanks for having a look @andyross @carlescufi

[2020-04-21 18:47] pabigot commented on #24539
I don't know that you're missing anything.  What I was missing was this level of assistance back when I asked several times how to use the macro you provided, or when we discussed and got approved the solution documented in #18186.  It's quite likely I was distracted by the solution that seemed natural to me (i.e., nested vtables).

I'll see if I can make this work.  I do suspect the macro impleme

[2020-04-21 18:53] carlescufi commented on #24564
@scttnlsn Nordic does offer a Power Profiler Kit in case that is of interest:
https://www.nordicsemi.com/Software-and-tools/Development-Kits/Power-Profiler-Kit
Do you think we should close the issue now?

[2020-04-21 18:54] scttnlsn commented on #24564
OK, thanks for the suggestions.  Yeah, let's close this for now.  I'll put together a better current measuring setup and reopen this if I'm still having issues going forward.  Thanks!

[2020-04-21 18:54] #24564 closed

[2020-04-21 18:58] andrewboie commented on #24539
Peter I get literally hundreds of emails from GitHub a DAY. I do not read them all. If you can't figure out something you should try hitting me up on slack, or directly e-mailing me instead of whining like this.

I don't care who approved 18186. To be blunt: it belies a profound lack of understanding of why we have these vtables in the first place. To use them for singleton APIs is unnecessary boi

[2020-04-21 19:00] pabigot commented on #24539
[code]

Does that not check the driver is the right type **OR** that the init function matches?

[2020-04-21 19:00] andrewboie commented on #24539
They return 0 on success

[2020-04-21 19:01] pabigot commented on #24539
OK then. Thanks.

[2020-04-21 19:01] #24539 closed

[2020-04-21 19:02] carlescufi commented on #24554
The license looks good to me, what is the source of the library @parthitce? Did you download it from an SDK?
@nashif @MaureenHelm @galak any objections? License looks like standard 4-clause BSD to me:
https://github.com/linumiz/hal_infineon/blob/master/XMCLib/drivers/src/xmc4_rtc.c#L12

[2020-04-21 19:05] carlescufi commented on #24453
@KubaFYI the problem is that if we do that you'd get the false impression that the doc corresponds to the release, and it really doesn't: it instead just mirrors the current state of master at the time the docs were published (docs are built and published once a day).
One thing we could do is to use the .99 notation and have `2.3.99` redirect to `latest`.

CC @nashif

[2020-04-21 19:06] pabigot commented on #24533
No, they shouldn't.  For compatibility across systems the flags available for use in devicetree descriptions are those used by Linux devicetree sources, which are only the ones devinced in the `dt-bindings` version of the header.  The other flags must be provided by the application in source code.

[2020-04-21 19:06] #24533 closed

[2020-04-21 19:08] carlescufi commented on #24318
CC @tbursztyka @mbolivar-nordic @pabigot

[2020-04-21 19:09] pabigot commented on #24318
Relates to #19448

[2020-04-21 19:10] carlescufi commented on #24237
Closing since this has been covered by #24357 and the DTS for stm32f429zi will be a PR

[2020-04-21 19:10] #24237 closed

[2020-04-21 19:12] carlescufi commented on #24414
@zzzh for the time being you can also use driver-specific APIs. However, those will not currently work with userspace enabled. See https://github.com/zephyrproject-rtos/zephyr/issues/24539 for more info (cc @pabigot)

[2020-04-21 19:12] parthitce commented on #24554
@carlescufi Yes, it's downloaded from infineon Dave SDK.

Downloaded from: http://dave.infineon.com/Libraries/XMCLib/XMC_Peripheral_Library_v2.1.24.zip

#copied the below statement from [here](https://www.infineon.com/cms/en/product/microcontroller/32-bit-industrial-microcontroller-based-on-arm-cortex-m/32-bit-xmc4000-industrial-microcontroller-arm-cortex-m4/#!tools)
DAVE™ (Version 4) – profession

[2020-04-21 19:15] carlescufi commented on #24197
@XavierChapron I assume that this is still an issue even though we closed #24181?

[2020-04-21 19:17] carlescufi commented on #24133
@tektronix-94 I think the question is answered, though the functionality you want is not implemented yet. Could you close this if you agree?

[2020-04-21 19:19] carlescufi commented on #23989
@BOZHENG001 I think it makes sense to be able to configure this from the application's perspective. Let us hear from others to see how we can add this functionality.

[2020-04-21 19:20] carlescufi commented on #23798
@pabigot FYI, since you've been working on this.

[2020-04-21 19:20] #24252 closed

[2020-04-21 19:23] carlescufi commented on #23718
@adriantoro26 this is an nRF Connect SDK question, and this is not the right forum for it. Please ask the question in the [Nordic devzone](https://devzone.nordicsemi.com/) instead.

[2020-04-21 19:23] #23718 closed

[2020-04-21 19:23] andrewboie commented on #24197
snprintk() is part of the Zephyr kernel. It is small, does not implement the entire specification, does not use much stack space.

snprintf() is part of the C library. It is variously implemented in newlib, minimal libc, etc. It is standards compliant but much larger than snprintk() and uses a lot more stack space.

This doesn't quite make sense to me can you rephrase?

I don't think this will wor

[2020-04-21 19:25] carlescufi commented on #24554
Thanks, could you add any `LICENSE` files the .zip file comes with to your module repo?

[2020-04-21 19:28] parthitce commented on #24554
@carlescufi The Lincense file is included here: https://github.com/linumiz/hal_infineon/blob/master/XMCLib/drivers/License.txt

Should I move to the parent directory of hal_infineon instead?

[2020-04-21 19:29] carlescufi commented on #24554
If it applies to the whole of the contents, including the `devices/` folder, then yes please.

[2020-04-21 19:30] parthitce commented on #24554
Yes, device specific implementation also belongs to the same SDK. I will move the License to parent directory. Thanks.

[2020-04-21 19:56] cfriedt commented on #24426
Incidentally, I opted out of using pipe(2) to implement socketpair(2) because it would duplicate the number of file descriptors used (UNIX pipes are only unidirectional, so you would need 2 pipes for 1 socketpair).

[2020-04-21 20:07] jukkar commented on #24382
If one enables the `CONFIG_NET_CONFIG_SETTINGS=y`, then the operations done in `samples/net/dhcpv4_client` are done automatically meaning `net_dhcpv4_start()` is called by the config lib in that case. The DHCPv4 sample is there just to show how one can enable DHCPv4 if the config settings library is not enabled. So for the other network samples, it should be enough to just enable `CONFIG_NET_DHCPV

[2020-04-21 20:10] jukkar commented on #16809
Yes, we are doing our best to improve the functionality and test coverage more.

[2020-04-21 20:19] pabigot commented on #24372
I'm unable to reproduce this with https://gist.github.com/pabigot/f33f471cc9498f6e98c157deb5d227b2 on nrf52840dk_nrf52840 or native_posix.  The only thing in `prj.conf` is `CONFIG_JSON_LIBRARY=y`.

It does segfault if built on native_posix_64, suggesting the json library is not safe for non-32-bit platforms.

What target platform are you using, and which version of Zephyr?

[2020-04-21 20:45] nandra opened #24571 "#include <new> is not available"
**Describe the bug**
I'm trying to add blinky example using ETL library [link](https://github.com/ETLCPP/etl/blob/master/examples/BlinkList/BlinkList.ino) and facing issue that ETL list.h include ```#include <new>``` and when building using official docker get this:
[code]
Tried to change to gcc toolchain by exporting variables but issue is the same. Tried also add path directly to include:
-I /op

[2020-04-21 22:03] Abhishek-brcm opened #24576 "scripts/subfolder_list.py: Support long paths"
I am facing an issue where os.symlink call in subfolder_list.py(zephyr v2.2) results in below error:
"scripts/subfolder_list.py", line 56, in main
os.symlink(directory, symlink)
OSError: [Errno 36] File name too long

Here is the example of one of the symlink getting created on one of the systems:
directory path:
[code]
It's symlink created by subfolder_list.py:
[code]
Above symlink is evidently t

[2020-04-21 22:34] nashif commented on #24453
I do not follow what the issue is...

[2020-04-21 22:37] nashif commented on #24227
fixed by commit e9c5e4824c8c600a4b7f7d2c7643a4b241761405

[2020-04-21 22:37] #24227 closed

[2020-04-21 22:44] marc-cpdesign commented on #24479
I ran into this a short while back too, but had forgotten about it after moving to uarte ... I agree about the UART API being a bit unclear, but it seemed that doing
` while (uart_irq_update() && uart_irq_is_pending()) {  ...handle loop.. }` is done in other tests and examples... (This seems sensible to me also otherwise the int handler would just be called immediately after again if there is an i

[2020-04-22 00:35] overheat commented on #24553
I found samples/subsys/shell/shell_module/ had the same issue, but samples/net/eth_native_posix/ works fine.

[2020-04-22 01:00] wentongwu commented on #24457
@starmachine24 please make sure the uart used to trace ctf has no other output, if anything wrong the tool(Trace compass or babeltrace) will stop the parse. BTW, can you please try the script in https://github.com/zephyrproject-rtos/zephyr/blob/master/scripts/tracing/trace_capture_uart.py

[2020-04-22 01:18] stephanosio commented on #24453
The latest Zephyr release, at the time of writing, is 2.2.0 and https://docs.zephyrproject.org/2.2.0/ is working just fine.

[2020-04-22 02:02] chen-png opened #24579 "Couldn't get test results from device serial on mimxrt1050_evk board."
**Describe the bug**
running tests on mimxrt1050_evk board, it was good to flash test images, but **couldn't get the tests output from /device/serial.**

**used git bisect and found the first bad commit is 50129f8d**

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mimxrt1050_evk -p auto samples/hello_world
2. west flash

**Screenshots or console output**

nothing

**Environment

[2020-04-22 02:06] stephanosio commented on #21877
This is where #21073 could potentially come in handy, given that we only have one UART on nRF51822; we could redirect console to semihosting and UART chardev to loopback.

[2020-04-22 05:18] tektronix-94 commented on #24133
Sure.

[2020-04-22 06:22] tejlmand commented on #24576
This would actually not help, as the symlink name itself is what causes a too long filename, not whether that link is full path or relative path.

Well, in you case this will make the symlink name itself much shorter than half.
But if you count the fullpath to the symlink itself, that your right, it will be half, but we cannot move the location of the build folder, only the user can decide where t

[2020-04-22 06:37] overheat opened #24585 "How to read/write an big(>16K) file in littlefs shell sample on native posix board?"
Hi,
I have tried shell access to a LittleFS file system partition in flash on native posix board.
https://docs.zephyrproject.org/latest/samples/subsys/shell/fs/README.html

It works, but how to mount a existing folder on the linux host to zephyr native posix board?
The `lfs` folder under `build/flash` only show up after I mount it in zephyr shell. Then, I try to copy a file to `build/flash/lfs` bu

[2020-04-22 06:40] tejlmand commented on #24512
Problem with this approach is that it will not work for deprecated board names where Zephyr will automatically rename the board for the user.
Also it will not work for users who are using aliased board names.

So this is a valid enhancment, all though we have a chicken and hen situation when it comes to coding, cause the boiler plate, and hence overlay config files are parsed as part of `find_pack

[2020-04-22 06:49] ABOSTM commented on #24382
Ok, so dhcp starts whereas there is not connection to wifi AccessPoint. I suspect garbage comes from there. So maybe it is not good to enable  CONFIG_NET_CONFIG_SETTINGS in this case, but rather in the application, establish first the wifi connection to the Access Point and then only start DHCP.

[2020-04-22 07:13] nvlsianpu commented on #24512
@tejlmand ^^ I was aware for that this will be like that (by experience). Thanks for clarification.

[2020-04-22 07:14] trond-snekvik commented on #24505
All the "get list" type config client messages are missing.

I can take a look at this.

[2020-04-22 07:40] jukkar commented on #24382
That sounds like a good plan. The net config settings lib tries to wait until there is a connection available, but if it takes long time, then it might timeout etc.

[2020-04-22 07:58] loicpoulain commented on #24382
@erwango, @nandojve,  The WiFi controller is quite autonomous and provides a **TCP/UDP offloading** interface and not a raw 802.11 or ethernet interface. That means you will be only able to create TCP/UDP socket in order to act as client or server. Protocol like ICMP (for ping) can not go through the chip. The chip, however, integrates a DHCP client/server that is started via an AT command (This i

[2020-04-22 08:26] XavierChapron commented on #24197
I agree with that, it is clearly small, and that is great. If we add everything it is weighing around 1kB in my binary, so definitively a small implementation.

[code]

I have not looked at the newlib or minimal lib implementation, but they are indeed heavier. For newlib, using `CONFIG_NEWLIB_LIBC_FLOAT_PRINTF=n` when not necessary is already saving lot and lot of flash.

My point is that they are

[2020-04-22 08:32] r2r0 commented on #24571
I use extensively ETL in my project and no problems so far.
I use Zephyr SDK 0.11.2 on Linux distro (no docker) and more or less present version of Zephyr and STM32WB55 target.
To be able to use ETL I added custom etl_profile.h file and entry in CMakeLists.txt in target_include_directories (path to ETL include directory).

The difference I see in gcc options is in "-I/workdir/samples/etl/src/etl/i

[2020-04-22 08:36] nandra commented on #24571
@r2r0 I have basically same
CMakeLists.txt:
[code]

and main.cpp:
[code]
and getting this issue.

[2020-04-22 08:47] stephanosio commented on #24197
If you really would like to achieve what you suggest, I think it would make more sense to add an option that globally does:
[code]

**Implementations for reference**
https://github.com/zephyrproject-rtos/zephyr/blob/1d9b08aef5cd814406ae068f602cab54fdf2805f/lib/os/printk.c#L534

https://github.com/zephyrproject-rtos/zephyr/blob/ed139948a54bdb13bdafed57b1f00b68f0610890/lib/libc/minimal/source/stdout

[2020-04-22 09:33] joerchan commented on #23989
Makes sense. I have had similar requests already and have a branch ready. I can submit a PR soon.

[2020-04-22 09:38] jfischer-phytec-iot commented on #23980
Is it reproducible with hcitool when all the logging are disabled?

[2020-04-22 09:49] henrikbrixandersen commented on #24414
Perhaps a solution could be to use `sensor_attr_set()` for setting the mode?

[2020-04-22 09:56] mkarhumaa commented on #23980
@jfischer-phytec-iot Yes. It is reproducible with default configuration of hci_usb sample.

[2020-04-22 10:14] r2r0 commented on #24571
There are a few (syntax and logical) errors in your code but they do not have nothing in common with ETL nor with Zephyr.
After small changes this code compiles without problems.

BTW> I strongly suggest to not use full path for ETL headers and use <etl/something.h> in your code.
Otherwise you wil get (sooner or later) header names conflicts.

[2020-04-22 10:28] nandra commented on #24571
Yes there could be error as I didn't compile it yet. Basically it's copy'n'paste of this: https://github.com/ETLCPP/etl/blob/master/examples/BlinkList/BlinkList.ino

I'll use etl prefix for etl headers, thanks for suggestions.

[2020-04-22 10:47] KubaFYI commented on #24453
@carlescufi Thanks for explaining this, it seems I misunderstood what the website claimed - I assumed that the 'latest' which right now corresponds to 2.2.99 was an actual release (I should have checked that). To be fair in the docs menu 'latest' figures under a "Document Release Versions" header, so this might give people the wrong idea that the current state is a release and not unset and changi

[2020-04-22 10:51] vanwinkeljan commented on #24585
You can not mount existing folders to  the native posix board only files can be transferred.

This is expected behaviour

Any error message from zephyr shell?
Note that any LFS restrictions applies.

[2020-04-22 11:04] overheat commented on #24585
@vanwinkeljan
error message on linux host:
[code]
error message on native posix board:
[code]

[2020-04-22 11:56] pfalcon commented on #24426
Yeah, a "small omission" in the grand plan I proposed, sorry about that ;-). On the other hand having 2 pairs of file descriptors isn't end of the world, at most it would cause issue with "edge cases" (in quotes, cab be "another small omission") of poll() implementation. Specifically, you have no problems when you poll for just read/write (can select a specific fd), and only issue comes when polli

[2020-04-22 11:59] pfalcon commented on #24426
Well, you original comment as arrived by email notification didn't have phrase, and that's actually what I wanted to ask: With the prelude above, is it still in your interests to follow with any pipe()-related work? If not, let's "fix the losses", and close this issue (letting folks who need exactly pipe() to re-raise it later). And sorry again for "leading you astray".

[2020-04-22 12:07] pfalcon commented on #23419
Sorry for lack of any response here. That's definitely not normal, if POSIX stipulates that those functions should be MT-safe. It thus becomes a "known issue". I however agree with priority of "low" for this issue, as clock_settime() isn't expected to be called frequently, and most likely, would be called at application initialization, before application threads are created.

That said, patch is d

[2020-04-22 12:07] trond-snekvik opened #24601 "Bluetooth: Mesh: Config Client's net_key_status pulls two key indexes, should pull one."
Config client's `net_key_status` handler uses `key_index_unpack` to unpack two key indexes from net_key_status, while the message only has one. This triggers access to unused memory, and asserts net buf.

[2020-04-22 12:15] cfriedt commented on #24426
Socketpair fd's cannot be bound, and set errno to EISCONN.

Doesn't seem to be the case in terms of patching as I've implemented it in now a separate file altogether. The only resources that it may be stealing are the file descriptor pairs.

Not at all, at no time did I say it was a "stupid idea", I completely agreed with the suggestion ;-) It may be the direction to go in at a later time.