[2020-05-23 18:26] carlescufi commented on #25471
@nvlsianpu and @de-nordic this looks like a regression.

[2020-05-23 19:22] nvlsianpu commented on #25471
Will investigate on Monday.

[2020-05-23 19:58] retfie commented on #25555
@lindemer try this changes into your overlay-ot.conf:

CONFIG_MBEDTLS_SSL_MAX_CONTENT_LEN=768
CONFIG_MBEDTLS_HEAP_SIZE=16384

This help me when I activate joiner support. It was related to OT_ERROR_NO_BUFS raised  by OpenThread stack during joining.

[2020-05-23 20:24] carlescufi commented on #25561
@JordanYates can you update the description with the exact sample you are using as a central?

[2020-05-23 20:42] #25447 closed

[2020-05-23 20:42] #25478 closed

[2020-05-23 23:20] lgl88911 opened #25566 "LSPI of NXP i.MX RT Other interrupts treated as transfer completion"
**Describe the bug**
After the master transfer is completed,if the sr flag is not clear, the callback of the transfer
completion will be called again in other interrupts.

**To Reproduce**
Steps to reproduce the behavior:
Call spi_wirte to send 150K Byte data , Measure the time used by spi_write, under normal circumstances it will take some time about  tens of milliseconds, this time will become 0

[2020-05-23 23:21] lgl88911 commented on #24939
@MaureenHelm
I raise https://github.com/zephyrproject-rtos/zephyr/issues/25566 to tracking interrupt issue. This issue to keep tracking time delay issue

[2020-05-24 01:46] JordanYates commented on #25561
Was only added so that I could increase the data length to avoid the discovery problem.
Isolating the problem further, it appears to be caused by

More specifically, the largest L2CAP packet sent by the slave during discovery is 44 bytes.
Discovery completes with no errors when EITHER of these configs are set to 43 or less, fails when BOTH are 44 or higher.

I have pushed a sample application that

[2020-05-24 07:56] tsvehagen opened #25568 "nrf: clock_control: Fatal error during initialization"
**Describe the bug**
Having a combination of `CONFIG_POLL=y`, a large mbedtls heap and using the RC oscillator as K32SRC causes a fatal error during initialization.

Changing anyone of these and the problem seem to go away. Another way to make the problem go away is to change the init prio of mbedtls where the heap initialization happens. (`modules/crypto/mbedtls/zephyr_init.c`)

**To Reproduce**

[2020-05-24 08:28] JordanYates commented on #25561
I have reproduced this issue between two Zephyr devices.
Slave application has an RX and TX MTU of 240 and calls `bt_gatt_exchange_mtu()`.
Master application has an RX and TX MTU of 45 in the failure case.
Largest L2CAP packet is again 44 bytes.
Discovery completes when the master MTU's are set to 44.

https://github.com/JordanYates/zephyr/tree/gatt_blocking/samples/bluetooth/blocking_discovery
ht

[2020-05-24 10:27] lindemer commented on #25555
@retfie Thanks for the tip. I revisited the problem again today and the Zephyr board now seems to connect automatically with the unmodified `overlay-ot.conf`. I don't know what what caused the problem before, but I'll close this issue.

[2020-05-24 10:27] #25555 closed

[2020-05-24 12:36] cfriedt opened #25569 "Support for std::thread and std::this_thread"
**Is your enhancement proposal related to a problem? Please describe.**
It would be nice for C++ applications to be able to use [std::thread](https://en.cppreference.com/w/cpp/thread/thread) and [std::this_thread](http://www.cplusplus.com/reference/thread/this_thread/).

**Describe the solution you'd like**
To be able to use std::thread and this_thread. I can make a PR.

**Describe alternatives yo

[2020-05-24 14:54] ChristianHirsch commented on #11016
I recently had the same problem on a Raspberry Pi 3, BlueZ 5.50 and a nRF52840 dongle running the HSI_USB sample. When I started the Bluetooth deamon, I saw that it complained about missing crypto implementations. Then, I came across this [article](https://www.bluetooth.com/blog/how-to-setup-bluez-on-raspberry-pi-and-support-pb-adv/), recompiled the Kernel with the specified crypto modules and now

[2020-05-24 18:25] #24943 closed

[2020-05-24 18:25] #25177 closed

[2020-05-24 18:29] #24001 closed

[2020-05-24 18:29] #24784 closed

[2020-05-24 19:41] andrewboie commented on #23702
@stephanosio yes correct, I incorporated @ceolin's idea into my series.

My large stack overhaul PR is not landing until 2.4, so if we strongly desire a fix for 2.3 just use @ceolin's PR that he closed and I'll rebase on it later

[2020-05-24 23:07] pabigot commented on #25496
As I noted in slack:

Is this being discussed somewhere in devicetree-land?

[2020-05-25 02:46] #22745 closed

[2020-05-25 02:46] hakehuang commented on #22745
fixed. @carlescufi

[2020-05-25 06:36] alexsven commented on #25346
Moved from version 2.2.0

[2020-05-25 06:38] mschwan-phytec commented on #25139
Thanks for the explanation and thorough testing. I guess then my testing method really seems to be flawed.

[2020-05-25 06:38] vonhust commented on #24747
According to above discussion, I label it as a low prio bug

[2020-05-25 07:12] rlubos commented on #25509
Let's close this issue then, IMO it's not really a bug.

[2020-05-25 07:12] #25509 closed

[2020-05-25 07:15] vonhust commented on #24277
Fixed by #25403

[2020-05-25 07:15] #24277 closed

[2020-05-25 07:38] ioannisg commented on #25568
will investigate

[2020-05-25 07:59] ioannisg opened #25578 "nrf: clock control: nrf5340: using CLOCK_CONTROL_NRF_K32SRC_RC results in build failure"
**Describe the bug**
It appears to me that setting `CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y` in nRF5340 builds for Application MCU results in build failure.

**To Reproduce**
Steps to reproduce the behavior:

Try hello_world sample with CLOCK_CONTROL_NRF_K32SRC_RC=y

Build for nRF5340 CPUAPP
1. mkdir build; cd build
2. cmake -DBOARD=board\nrf5340pdk_nrf5340_cpuapp
3. make
4. See error

**Expected beh

[2020-05-25 09:43] #20068 closed

[2020-05-25 10:51] nordic-auko commented on #23139
Seems to work here. Successfully copied a 400 KiB file to the nRF52840 FAT flash disk.

[2020-05-25 11:39] jfischer-phytec-iot commented on #24001
Try to find out what is wrong. It should not be far from 20ppm. I can confirm that the test is failing on the reel board, even on the first version, where the layout is similar to nRF52804 DK.

[2020-05-25 11:55] erwango commented on #23629
@javier-moreno-tridonic-com I'm closing the point. Please reopen if need be

[2020-05-25 11:56] #3564 closed

[2020-05-25 11:57] erwango commented on #4412
I'm closing that point as there was no further request nor interest on that point.
Please reopen if need be

[2020-05-25 11:57] #4412 closed

[2020-05-25 11:58] erwango commented on #9566
@JoeHut Is this issue still valid ?

[2020-05-25 12:01] JoeHut commented on #9566
We worked around it and I am currently not up to date with the 2.x branches since we stayed with the LTS. If noone else complains I guess you can close it.

[2020-05-25 12:05] erwango commented on #21984
@denvE, there is no plan to push this change on or side, but we'll be pleased to assist you in merging this change if you want to push it. Hence, I'm closing current issue.

[2020-05-25 12:05] #21984 closed

[2020-05-25 12:07] erwango commented on #22034
@takumiando I'm closing this point. Please reopen if need be

[2020-05-25 12:07] #22034 closed

[2020-05-25 12:08] stephanosio opened #25585 "QEMU special key handling is broken on qemu_cortex_a53"
**Describe the bug**
QEMU special key handling (`CTRL+A, ...`) is broken on `qemu_cortex_a53`.

For example, when you press the `CTRL+a, a` key sequence, QEMU should exit, but that doesn't work; same goes for `CTRL+a, c` that is supposed to bring up console.

It is necessary to `kill -9` the QEMU pid in order to exit QEMU.

**To Reproduce**
Run any test/sample on `qemu_cortex_a53`.

**Expected beh

[2020-05-25 12:24] erwango commented on #9566
Txs @JoeHut , I'm closing

[2020-05-25 12:24] #9566 closed

[2020-05-25 12:24] gmarull commented on #23629
@erwango are there any plans for merging #24569 after 2.3.0 release? If so, I'd leave this open until the functionality gets merged.

[2020-05-25 12:48] LeBlue commented on #21107
@cvinayak

Done, test is running.

I have also setup one system with the hci_uart sample, just to compare.

Strange. I will have a look till tomorow.

I will contact you tomorow, tuesday, on slack as soon as I am in the office (around 0800 CET).

[2020-05-25 13:03] erwango commented on #23629
@gmarull Sure!

[2020-05-25 13:36] cvinayak commented on #21107
@LeBlue Thanks for the quick response.

Could you also, increase thread stack sizes (say 4096 bytes) of USB stack thread, logging thread and Bluetooth Tx Stack Size (you will need to enable it first, see my attached .config file in txt extension). I got my nRF52833DK (I dont have a spare nRF52840DK) crashing on power up when I enabled debug logging in Bluetooth and USB subsystems, hence the increa

[2020-05-25 13:53] paulgavrikov opened #25597 "west sign fails to find header size or padding"
I am using west 0.7.1, Zephyr 2.2.0 and SDK 0.11.2 and would like to sign an image for mcuboot.
The following command works on my desktop, but fails on our jenkins CI: `west sign -t imgtool -- --key <key>.pem`

Error:
[code]

What could this be related to?

[2020-05-25 13:58] carlescufi commented on #25444
@Vudentz according to the analysis by @rlubos this seems like an issue in IPSP and not the IP stack.

[2020-05-25 14:03] #25578 closed

[2020-05-25 14:17] carlescufi commented on #25526
OK, closing this for now then

[2020-05-25 14:17] #25526 closed

[2020-05-25 14:21] jukkar commented on #23302
I tested this with nucleo_f767zi and see wildly different numbers which depend on the tool used. ApacheBench gave around 470kb/sec results which is quite reasonable. The wrk tool on the other hand pushes so much stuff to zephyr that it easily runs out of memory, and starts to drop packets. This then affects the performance number a lot. I am lowering the priority of this one until we figure out wh

[2020-05-25 14:25] #21932 closed

[2020-05-25 14:27] erwango opened #25592 "Remove checks on board undocumented DT strings"
**Describe the bug**
Each time a new board is introduced, zephyrbot reports undocumented warnings for board's compatible:
[code]

Since we're not requesting users to document these type of compatible, it would be nice not confusing contributors (that usually happen to be first time contributors) with these useless warnings.

**To Reproduce**
Steps to reproduce the behavior:
1. Push a new board por

[2020-05-25 14:27] jukkar commented on #22732
Issue has disappeared -> closing.

[2020-05-25 14:27] #22732 closed

[2020-05-25 14:54] cvinayak commented on #21107
@LeBlue with all the thread stack increase, I hit a MPU fault. Analysing the instruction address being in RAM inside the USB Bluetooth thread stack region and LR being in log_core.c, I infer that the hardcoded bluetooth rx thread stack size (calling bt_send) of 512 bytes could be insufficient. For debugging purpose, I have increased it to 2048.

https://github.com/zephyrproject-rtos/zephyr/blob/ma

[2020-05-25 14:55] ioannisg commented on #25348
This is due to a stack overflow in the main thread, for IMX platforms, @andrewboie, I am not sure if this is strictly related to the STACK_CANARIES feature which is enabled in this test. If I set MAIN_STACK_SIZE to 1024, this will pass.

But I only see this problem with the iMX platforms, so I am not sure what the best way is to increase main stack size here: do it for iMX platforms, in general, o

[2020-05-25 15:08] cvinayak commented on #21107
The hci_uart uses thread stack size of >640 to 1024 bytes, the thread that calls bt_send.

[2020-05-25 16:06] #23432 closed

[2020-05-25 16:07] #25519 closed

[2020-05-25 16:46] mbolivar-nordic commented on #25597
The imgtool header size is the "text section offset", which is determined from the Kconfig symbol CONFIG_TEXT_SECTION_OFFSET. Indeed, 0 is less than 32.

I would check the CI build directory's zephyr/.config file and make sure the Kconfig symbol is defined correctly. If not, then there is a problem with the way the application is being built in CI.

[2020-05-25 17:15] paulgavrikov commented on #25597
So, indeed the CI .config says CONFIG_TEXT_SECTION_OFFSET=0 whereas it's CONFIG_TEXT_SECTION_OFFSET=0x200 on my desktop. And I have found the issue. I forgot to commit the change that added the CONFIG_BOOTLOADER_MCUBOOT=y option ;)

[2020-05-25 17:15] #25597 closed

[2020-05-25 19:14] pabigot commented on #23106
This is mostly fixed by #24080.  There's one additional test case where relaxation is required using `INEXACT_MS_CONVERT`.  I'm also checking the clock error on the board I can reproduce this with.

[2020-05-25 19:33] tejlmand commented on #25215
@drandreas Great you found a solution that works in your case, however, as a generic / upstream Zephyr approach, then this would be a to much wildcard.

Using same Zephyr workspace for both up/downstream and just switching manifest repo, and run `west update` could end up including modules not supposed to be included.

But thanks for sharing your solution, as others might find it useful.

[2020-05-25 19:41] #23799 closed

[2020-05-25 19:47] jaslob opened #25599 "scanf() not functional with newlib out of the box"
**Describe the bug**
I'm new to Zephyr and did a small test application.
I'm able to build the application but when I try to run the application I'm not able to enter an integer and I receive an error.
I receive the same error when I just add two floats without using scanf.

main.c
[code]
prj.conf looks like:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b qemu_x8

[2020-05-25 20:05] pabigot commented on #23106
The board I can reproduce this on has a 16000 ppm error in the 16M RCOSC, which is 1.5% and within the +/-5% allowed error, but is too large for the currently coded configurations.  It doesn't seem worth relaxing the test tolerance again for this.

[2020-05-25 20:05] #23106 closed

[2020-05-25 21:31] carlescufi commented on #25599
I suspect this is an issue with `scanf` not being connected properly to the console, since `samples/subsys/console/getline/` works fine. @stephanosio any ideas?

[2020-05-26 00:05] stephanosio commented on #25599
NOTE: This problem is not specific to `qemu_x86`, I am also seeing this on `qemu_cortex_m0` and `qemu_cortex_m3`. Looks like some kind of stack/buffer overflow.

[2020-05-26 00:31] nandojve opened #25600 "wifi_eswifi: Unable to start TCP/UDP client"
**Describe the bug**
After receive an **wifi_eswifi: Unable to start TCP/UDP client** the tcp/ip only works after restart the board.

**To Reproduce**
1. clone https://github.com/UpdateHub/zephyr/commits/topic/uhu_wifi
2. set variables at samples/net/updatehub/prj.conf
CONFIG_UPDATEHUB_WIFI_SSID="wifi network"
CONFIG_UPDATEHUB_WIFI_PSK="password"
3. west build -b disco_l475_iot1 samples/net/update

[2020-05-26 00:32] nandojve commented on #25600
CC @otavio @carlescufi @erwango @jukkar

[2020-05-26 00:37] stephanosio commented on #25599
So what is happening is that the newlib `_read` hook function (called by `scanf`) calls `_stdin_hook` function pointer, and this is set to no-op (`return 0`) unless you call `__stdin_hook_install` to install one.

[2020-05-26 00:57] stephanosio commented on #25599
@pfalcon (and other console subsystem authors if any) I see that `__stdin_hook_install` is not called alongside `__stdout_hook_install` in the console backend drivers.

Was that a deliberate decision or an oversight by the backend driver authors?

[2020-05-26 01:03] stephanosio commented on #25599
As for the `qemu_x86` failure exit on `run`, we DO have stack problem. Setting `CONFIG_MAIN_STACK_SIZE=2048` (default is `1024`) will resolve the problem.

[2020-05-26 01:04] stephanosio commented on #25599
Removing `bug` label, since this is technically not a bug, but rather a misconfiguration or lack thereof.

This could potentially lead to an enhancement in which the `stdin` hook is installed by default by the console backend drivers.

[2020-05-26 02:03] stephanosio opened #25601 "UART input does not work on mps2_an{385,521}"
**Describe the bug**
UART input does not work on `mps2_an385` and `mps2_an521` boards (in QEMU).

For example, the tests and samples that rely on the UART input functionality such as `drivers/uart/uart_basic_api` and shell are unable to accept any user input.

**To Reproduce**
In QEMU, run any tests and samples that require user input through the UART interface such as:

* drivers/uart/uart_basic_

[2020-05-26 02:32] nashif commented on #14972
most of this already addressed.

[2020-05-26 02:32] #14972 closed

[2020-05-26 04:14] jli157 opened #25604 "USB: enable/disable a class driver at runtime"
**Is your feature request related to a problem? Please describe.**
In the current USB device stack, class drivers are statically selected during project configuration and can’t be changed at runtime. However, sometimes some class drivers could be required to be enabled or disabled at runtime. For example, the DFU driver could be disabled by default. And it will be helpful if it can be enabled by t

[2020-05-26 04:33] Vudentz commented on #25444
The packet would be queued if there is no credits to transmit, or perhaps it is waiting the a TX context, perhaps you should enable debugging so we can check why it is not being transmitted immediately.

[2020-05-26 05:03] stephanosio commented on #25585
From "AArch64 Programmer's Guides - Generic Timer", 3.4 Interrupts:

[2020-05-26 05:32] nordic-krch commented on #25346
any chance that you try with https://github.com/zephyrproject-rtos/zephyr/pull/25517/commits/b6deff76b5ea876c88ef00ca98a7839c14879587 commit. It may have fixed it.

[2020-05-26 06:02] erwango commented on #25600
@nandojve if I'm correct, you have an esp shield, do you confirm this is working on the same board with esp shield (and eswifi deactivated ) ?
If yes, can you enable and provide WIFI logs ?

[2020-05-26 06:48] cvinayak commented on #25561
Please set CONFIG_BT_ACL_RX_COUNT=10 if you set CONFIG_BT_HCI_ACL_FLOW_CONTROL=y (and thinking aloud, hope that peer does not fragment 255 bytes in 1 byte PDUs, then we will need 255 buffers). This should allow for recombination.

But, why do you need CONFIG_BT_HCI_ACL_FLOW_CONTROL=y in a host+controller combined builds?

[2020-05-26 06:53] pfalcon commented on #25599
See also https://github.com/zephyrproject-rtos/zephyr/pull/25479 for more fun.

[2020-05-26 07:01] jfischer-phytec-iot commented on #25604
@jli157 In fact, we have been discussing it for some time. Only more extensive than you described.

[2020-05-26 07:03] jli157 commented on #25604
Is there an existing issue covering the request? And what conclusions have you made?

[2020-05-26 07:10] jfischer-phytec-iot commented on #25604
No, still discussing. This is a major change, it affects class descriptor initialization and has to be implemented for all classes and applications in the tree. So that will take time.

[2020-05-26 07:11] pfalcon commented on #25599
To answer this question, we would first need to answer following question: "Is it reasonable to expect scanf() to work out of the box in the default Zephyr configuration?" Whoever thinks yes, please raise your hands. I for example think "no", because in the default Zephyr configuration, it should produce "hello world" app in 512 code bytes max (already violated) and be able to run full BLE stack o

[2020-05-26 07:20] emob-nordic commented on #25604
There is no particular issue for that however there are few we would like to address during the rework
#20236 #19713 #24200

[2020-05-26 07:34] JordanYates commented on #25561
CONFIG_BT_L2CAP_RX_MTU and CONFIG_BT_L2CAP_TX_MTU both depend on CONFIG_BT_HCI_ACL_FLOW_CONTROL.
CONFIG_BT_CTLR_RX_BUFFERS looks like what I need, I will give it a shot.
As an aside, CONFIG_BT_CTLR_RX_BUFFERS is not mentioned anywhere in the documentation, or used in any of the sample applications.
Maybe I've been barking up the wrong tree this whole time, but all I want to do is setup a GATT conn

[2020-05-26 07:40] markus-becker-tridonic-com commented on #23193
The solution from https://github.com/zephyrproject-rtos/zephyr/issues/23193#issuecomment-593445299 does not work with OpenThread because that is the 802.15.4 management interface.

This seems to work:
`
    uint8_t *pMac;

   // pMAC[0] = ...;
   // ...

#if defined(CONFIG_IEEE802154_RF2XX_NET_IF_NO_AUTO_START)
    /* setting MAC address ... */
    struct net_if *iface = net_if_get_first_by_type(&

[2020-05-26 07:41] JordanYates commented on #25561
Presumably at some point the Bluetooth controller is trying to get a buffer and failing.
Is it feasible to add some form of error output when it fails?

[2020-05-26 07:53] markus-becker-tridonic-com commented on #23193
Would it be possible to make the option CONFIG_IEEE802154_RF2XX_NET_IF_NO_AUTO_START not RF2XX only, but CONFIG_IEEE802154_NET_IF_NO_AUTO_START?

[2020-05-26 08:00] JordanYates commented on #25561
Beautiful, problem is resolved by increasing CONFIG_BT_CTLR_RX_BUFFERS.

[2020-05-26 09:12] jukkar commented on #23193
@markus-becker-tridonic-com That is a good idea. Can you send a PR for that?

[2020-05-26 09:25] tejlmand commented on #25215
Re-opnened as not fixed.

[2020-05-26 09:43] ioannisg opened #25612 "ARM: Cortex-M: CPU is not reporting Explicit MemManage Stacking Errors correctly"
**Describe the bug**
Currently, Cortex-M has a bug in error reporting of Stacking Errors that are not, additionally, Data Access Violation Errors. The utility macro, `IS_MPU_GUARD_VIOLATION()`, implements the wrong logic wrt the input `fault_addr `(faulting address).

**To Reproduce**
To reproduce this, we need to trigger a Stacking error that is not, additionally, a MemManage Data Access Violatio

[2020-05-26 09:53] xiongyihui opened #25613 "USB: CDC adds set line coding callback"
**Is your feature request related to a problem? Please describe.**

Want to create a USB to UART application, but no API to find out when the baud rate is changed

**Describe the solution you'd like**
May provide an API to register callbacks similar to USB HID callbacks

**Describe alternatives you've considered**
Or add a weak function to [`cdc_acm_class_handle_req`](https://github.com/zephyrproj

[2020-05-26 09:54] cfriedt opened #25614 "fix longstanding error in pthread_attr_t definition"
**Describe the bug**
It looks like there was a copy-paste error made several years ago when defining `pthread_attr_t`.

https://github.com/zephyrproject-rtos/zephyr/commit/c8aa6570c14dfc64ccfafd2c73a924bebc227a56

[code]

**To Reproduce**
Discovered during CI build of #25527

**Expected behavior**
Expected build to succeed

**Impact**
Blocks #25527

**Screenshots or console output**
https://app.sh

[2020-05-26 09:59] drandreas commented on #25215
I might not see the full picture but my assumption is that `DTS_ROOT` is only responsible for providing .dtsi and dts-bindings having to many of those in the environment should not have any effect until they are "enabled" by including them in DTS oder DTS-Overlay

[2020-05-26 10:06] cfriedt commented on #25614
Ah... looks like it might be specific to the nrf52_bsim.
This kind of gives it away:
[code]
I should adjust my `#ifdef`s accordingly.

[2020-05-26 10:06] #25614 closed

[2020-05-26 10:19] markus-becker-tridonic-com commented on #23193
@jukkar should that then be in ieee802154_init() in subsys/net/l2/openthread/openthread.c and subsys/net/l2/ieee802154/ieee802154.c?

[2020-05-26 10:26] ioannisg commented on #25348
BTW, the failed assertion you see in the log (which should never happen, despite any stacking errors in the test) is covered in  #25612

[2020-05-26 10:27] jfischer-phytec-iot commented on #25613
This approach is not acceptable and not necessary.
Please use uart_line_ctrl_get from UART API, see [samples/subsys/usb/cdc_acm](https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/subsys/usb/cdc_acm/src/main.c#L121)

[2020-05-26 10:32] ioannisg commented on #23702
That's fine with me.

[2020-05-26 10:51] cvinayak commented on #25561
You should not use `CONFIG_BT_HCI_ACL_FLOW_CONTROL` to enable setting `CONFIG_BT_L2CAP_RX_MTU` and `CONFIG_BT_L2CAP_RX_MTU`

`CONFIG_BT_HCI_ACL_FLOW_CONTROL` is intended for HCI controller or Host only builds.

Increasing `CONFIG_BT_CTLR_RX_BUFFERS` would unnecessarily double PDU RAM usage, 1 buffer in controller is sufficient to be recombined by use of `CONFIG_BT_ACL_RX_COUNT` buffers in host.

[2020-05-26 10:52] ioannisg commented on #25299
@mbolivar CONFIG_CORTEX_M_SYSTICK indicates that the system timer is based on the SysTick.

What does it "mean" the SysTick having status "okay"? Does this mean the timer driver is actually used? If so, setting it as "okay" gives the wrong signal.

[2020-05-26 10:58] xiongyihui commented on #25613
`uart_line_ctrl_get()` is OK if the USB CDC is opened once. But if the USB CDC is opened with a different baud rate at the second time, we don't know it.

[2020-05-26 11:09] jfischer-phytec-iot commented on #25613
yes you have to poll it periodically.

[2020-05-26 11:29] xiongyihui commented on #25613
Polling it periodically is not a good way. Maybe poll it when having new data to receive or to send.
But I still prefer an event-driven way to do that.

[2020-05-26 11:34] JordanYates commented on #25561
Alright, that makes sense. I based the original configuration on the NCS GATT throughput example, which uses Nordics proprietary controller.
I am a bit lost in determining exactly which CONFIG's need to be enabled to increase the MTU and get the larger packets.
As far as I can tell there are no Zephyr samples which do this, or at least none that call `bt_gatt_exchange_mtu`, which I believe is a re

[2020-05-26 11:44] bwasim opened #25621 "ESWiFi does not populate info about remote when invoking callback"
**Describe the bug**
It was observed that telnet does not work with on the STM32 disco IOT board which has support for "esWiFi" driver. Upon further inspection, it was found that the driver does not populate information about the remote, including port and ip which causes the NET stack to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b disco_l475_iot1 samples\net\

[2020-05-26 12:19] LeBlue commented on #21107
@cvinayak I have modified the test setup and moved the peripherals on the edge of the radio reception range. Now the issue is observable (without the fix) after 10-20 mins (instead of several hours). This at least already shows that the memory corruption gets triggered by transmission errors.

[2020-05-26 12:34] #25483 closed

[2020-05-26 12:37] #24853 closed

[2020-05-26 12:46] carlescufi commented on #25444
@rlubos could you enable `CONFIG_BT_DEBUG_L2CAP` and `CONFIG_BT_DEBUG_CONN` and post the log please?

[2020-05-26 13:08] jfischer-phytec-iot commented on #25613
Well the UART API does not provide that and usually baudrate does not change in the middle of a communication. To place an app hook in the processing of the control or class request or make it weak for a specific and not generic reason it not acceptable. Actually it is a bad API extension and will always make a problem during internal stack rework or redesign. It would also cause unnecessary laten

[2020-05-26 13:28] xiongyihui commented on #25613
OK. I'd try it  in my branch anyway.

[2020-05-26 13:28] #25613 closed

[2020-05-26 13:32] stephanosio commented on #25599
I can't really think of any sane usage of `scanf` in Zephyr, but either way `__stdin_hook_install` is not necessarily limited to `scanf` and should probably be installed alongside `__stdout_hook_install` -- that is, if we are installing `__stdout_hook_install` to begin with; or at least, there should be a configuration option to enable doing so in the console subsystem to keep things more sane.

A

[2020-05-26 13:32] cfriedt commented on #25599
From my perspective, the CONFIG_CONSOLE should be independent of CONFIG_NEWLIB_LIBC, but if someone wants stdio from newlib, then CONFIG_CONSOLE should be a default.

Maybe there should be a `config NEWLIB_STDIO` option that has a `select CONSOLE`.

There may be a very niche use case where someone does not want to use "standard" io in the console sense. In that case, I would say that `CONFIG_NEWLI

[2020-05-26 13:41] pabigot commented on #22941
It was meant to be constant, but due to a hack on device's API setting (in case of init failure it is set to NULL at runtime) it is never constant, thus ends into RAM instead of staying into the ROM. See #24873

Based on experience from #25208 I don't believe it will be possible to switch to using `const struct device *` everywhere: too many APIs pass or store device pointers in `void *`, which re

[2020-05-26 13:50] cvinayak commented on #25561
As this is no more a bug, I request you to close this issue and open a new enhancement request to have sample/documentation around use of larger packets.

[2020-05-26 13:52] #25561 closed

[2020-05-26 14:21] carlescufi commented on #21107
@leblue could you please test #25619 with your new test setup?

[2020-05-26 14:23] carlescufi commented on #25601
Removing the priority, we will go through it later today.

[2020-05-26 14:30] carlescufi commented on #25599
That's exactly what crossed my mind yesterday when looking through those Kconfig options.

[2020-05-26 14:31] carlescufi commented on #25600
See also https://github.com/zephyrproject-rtos/zephyr/issues/25621. CC @bwasim

[2020-05-26 14:34] #25585 closed

[2020-05-26 14:35] #25471 closed

[2020-05-26 14:43] stephanosio commented on #25599
Note that the initiator of `stdout` (and potentially `stdin`) hook installation is currently not newlib, but the console backend drivers, e.g:
https://github.com/zephyrproject-rtos/zephyr/blob/2716cbcaa6599374d0e80c473207e43271ad6968/drivers/console/uart_console.c#L583-L587

This is not specific to newlib or any libc for that matter. I believe the original intention was to make this a libc type-in

[2020-05-26 14:57] pabigot commented on #11908
While the current implementation does have this problem, it can be avoid by adding code like this to the application:
[code]

Based on the presence of a simple workaround does this still qualify as a medium bug?  @carlescufi

[2020-05-26 15:02] baw-serafin commented on #11908
Is it possible to make this default on nrf hardware? A new user will never figure this out

[2020-05-26 15:14] nashif commented on #25295
Reason is that we have two tests running at the same time trying to access the same resource:

[code]

[2020-05-26 15:24] galak commented on #25601
@microbuilder can you try one of these tests/samples on a real MPS2 to see if this shows up on real HW as well.

[2020-05-26 15:24] LeBlue commented on #21107
@carlescufi Yes, test (hci_uart and hci_usb) for #25619  already running for ~3h. Seems to be working so far.

[2020-05-26 15:29] rlubos commented on #25444
Ok adding log file with `CONFIG_BT_DEBUG_L2CAP` and `CONFIG_BT_DEBUG_CONN` enabled. Additionally, a wireshark log from the same run (zipped, apparently GH does not allow pcap).

There is a **tremendous** amount of logs after I've established connection with my host, then after a short pause, I've tried to ping the host (with no reply). After a few seconds, a Router Solicitation message was sent fr

[2020-05-26 15:29] markus-becker-tridonic-com commented on #23193
@jukkar PR: https://github.com/zephyrproject-rtos/zephyr/pull/25629

[2020-05-26 15:47] #24276 closed

[2020-05-26 15:57] bwasim commented on #25600
In my case, Zephyr was acting as a TCP server and a client was able to successfully connect to it. However, the WiFi driver did not pass the client information to the application layer which caused NET stack to fail (whenever the application layer tried to send data to the client, was testing telnet with ES-WIFI)..

In this case, an AT command to the WiFi chip is failing. So this is different..

[2020-05-26 16:03] carlescufi commented on #24730
Will do from now on, sorry.

[2020-05-26 16:07] pfalcon commented on #24730
Some update here: I didn't have a chance to further look into this, given that this is a "new" issue, and POSIX subsystem has a baggage of known issues and technical debt, and their priority-adjusted-for-wait-time is higher than this.

Given that the POSIX subsys is itself experimental and doesn't offer complete coverage of POSIX APIs/headers anyway, I'd be ok to lower priority for this ticket for

[2020-05-26 16:21] carlescufi commented on #24869
Well, no, as per the agreement and email I sent, "Tests" means "a test fails". We can of course change that, see my email to the mailing list to continue the thread there.

[2020-05-26 16:34] andrewboie commented on #25599
I agree with @stephanosio that the way we handle console hooks needs to be rewritten, it's some very very old stuff from the Wind River days that pre-dates anyone's involvement who's currently on the project. Some attention here would be gratefully received for anyone who has time/inclination.

I haven't looked at what it would take to fix this particular issue, but @pfalcon's question "How much (

[2020-05-26 16:36] carlescufi commented on #24197
Closing this since #25069 took care of it

[2020-05-26 16:36] #24197 closed

[2020-05-26 16:42] erwango commented on #25600
@loicpoulain can  you have a check ?

[2020-05-26 16:48] carlescufi commented on #24142
Yep, agreed @ioannisg. Let's relabel this as hardware support

[2020-05-26 16:55] stephanosio commented on #25599
@andrewboie I haven't done a comprehensive testing, but I didn't see any such failures on the ARM platforms while testing this. I do recall seeing the x86 QEMU seldom crashing due to similar stack size related issues, so I thought it would be nice to address this at some point. But given where this discussion is going, I think it is better to wait for now.

[2020-05-26 17:03] pfalcon commented on #25599
I see regular regressions in stack usages, i.e. it constantly growing, and various sample around crash. I regularly submit patches to bump stack sizes, but follow a policy of doing minimal bumps (say, by 64 bytes), so we continue to catch regressions. On first few occasions I cc: @nashif and @andrewboie on these cases, but never get a response, so I assume nobody cares about stack growth (and thus

[2020-05-26 17:21] andrewboie commented on #25599
It's possible to conduct this discussion without using unnecessary hyperbole like this.

Consider for a moment that both me and @nashif get hundreds, if not over a thousand github emails every day.

If something you see is broken, file a bug on it. That includes minimum stack sizes. Be data-driven and constructive.

[2020-05-26 17:26] andrewboie commented on #25599
@stephanosio Is this a deterministic failure or something that fails intermittently.
I would expect stack overflows to be deterministic and hence caught by CI 100% of the time. If it only overflows sporadically that would be very weird.

[2020-05-26 17:26] galak commented on #25480
@pdunaj is there a simple build of hello world that can show the issue?  Would help with trying to debug or look at possible solutions.

[2020-05-26 17:37] stephanosio commented on #25599
@andrewboie The failures are deterministic; they occur mostly when I am adding random code for testing and/or playing with the configurations, which is to be expected (it seems x86 is either on the verge of stack overflow with the default, or just particularly stack hungry; though I haven't done an in depth analysis on this).

If I keep seeing related failures in the future, I will file an issue/P

[2020-05-26 18:31] andrewboie opened #25635 "ARM: TLS pointer may not be set correctly"
**Describe the bug**

It's expected that given the following code:

[code]

That it is valid to pass either `SIZE` or `K_THREAD_STACK_SIZEOF(stack)` to a `k_thread_create()` call's stack size argument.

This is not the case for ARM Cortex-M. If `SIZE` is passed in, the math is performed improperly and the TLS pointer gets set to memory *after* the end of the stack object. This will result in eithe

[2020-05-26 19:31] Vudentz commented on #25474
@jukkar I guess it failling in here:

[code]

Ive checked IPSP and it is doing calls to net_addr_pton and net_if_ipv6_addr_add, perhaps that is why bind works there and not in the given code or that is no longer required when setting CONFIG_NET_CONFIG_MY_IPV6_ADDR?

[2020-05-26 19:40] #25621 closed

[2020-05-26 19:43] #23622 closed

[2020-05-26 19:48] andrewboie commented on #25348
@ioannisg Stack canaries increase stack usage, due to the need to push the sentinel values on every stack frame. So if the test was near the limit, enabling canaries would push it over the limit.

Do we understand yet why this is just failing on mimxrt1060_evk and not any of our emulated targets?

[2020-05-26 19:52] carlescufi commented on #25348
This seems to run fine on all QEMU-based Arm targets.

[2020-05-26 20:24] mnkp commented on #16385
Initially #21142 and later #22859 enabled `WDT_DISABLE_AT_BOOT` option by default on all Atmel SAM boards. As a result the watchdog is disabled. The few sample applications that require watchdog to function explicitly set `WDT_DISABLE_AT_BOOT` to `n`. I'm closing this issue.

[2020-05-26 20:24] #16385 closed

[2020-05-26 20:33] MaureenHelm commented on #25348
It also runs fine on `frdm_k64f` and `lpcxpresso55s69_cpu0`.

@erwango, can you run this test on one of your M7 boards?

[2020-05-26 20:41] microbuilder commented on #25601
Repeatable on actual HW as well (UART input also doesn't work, output from AN521 -> USB Serial does work fine, as is the case with QEMU).

[2020-05-26 21:09] Vudentz commented on #25444
With ipsp sample and NET_SHELL enabled (BOARD=qemu_x86) it doesn't seem to have this problem:

[code]

Also it doesn't like there is any calls to L2CAP layer on this attempt:

[code]

When I try with echo-client I got the same but with echo-server it does works:

[code]

Perhaps is something related to this:

[code]

@rlubos is there any reason you were using echo_client instead of echo_server? It

[2020-05-26 21:15] jfischer-phytec-iot commented on #25348
passes on sam_e70_xplained (Cortex-M7 Processor)

[code]

[2020-05-26 21:25] Vudentz commented on #25444
Something odd, after turning wireshark echo-client just works as well:

[echo-client.txt](https://github.com/zephyrproject-rtos/zephyr/files/4685099/echo-client.txt)

[2020-05-26 21:29] andysan opened #25643 "Replace or extend the existing crypto API to support secure elements and more algorithms"
**Is your enhancement proposal related to a problem? Please describe.**

Best-practice when deploying secure IoT devices is to use some sort of secure element to store cryptographic keys and other sensitive material. Such an element could be virtual using TF-M and PSA or using a hardware device such as the ATECC608 chip from Microchip.

When prototyping support for secure elements in Zephyr's LoRa

[2020-05-26 23:37] alister-f commented on #24767
The RBU and other problems with ST's STM32H7 HAL ethernet driver are discussed and fixed at [https://community.st.com/s/question/0D50X0000C6eNNSSQ2/bug-fixes-stm32h7-ethernet](https://community.st.com/s/question/0D50X0000C6eNNSSQ2/bug-fixes-stm32h7-ethernet).

[2020-05-27 02:31] nandojve commented on #25600
Hi @erwango

I noted that when use more buffers UpdateHub client works.
CONFIG_NET_PKT_RX_COUNT=8
CONFIG_NET_PKT_TX_COUNT=8
CONFIG_NET_BUF_RX_COUNT=20
CONFIG_NET_BUF_TX_COUNT=20

I think es-WIFI need more intensive tests because more buffers can delay the problem. ESP offload driver and frdm-k64 with ethernet are working fine using default buffer config.

As requested, below logs from ESP offload

[2020-05-27 03:32] jli157 opened #25645 "USB RNDIS driver can't work with Windows 10 (10.0.18363)"
**Describe the problem**
I tried to setup  the USB network between my NRF52840DK board and my windows 10 computer, by enabling `USB_DEVICE_NETWORK_RNDIS`. However, Windows 10 has problem to talk with my device blocked by the following two issues:
* Windows 10 can't install a proper RNDIS network driver for my device automatically. I have to manually choose "Microsoft Remote NDIS Compatible Device"

[2020-05-27 03:49] Abhishek-brcm commented on #25382
@galak @stephanosio  I have updated PCIe EP PR  https://github.com/zephyrproject-rtos/zephyr/pull/25166 to use `reg` property to specify the available outbound memory ranges. Please review the same.

As for ranges support, I am okay to defer this issue until/if more mature PCIe RC support is required in zephyr.

[2020-05-27 04:10] jli157 commented on #25645
Verified the device works well with Windows 10.0.14393 Build 14393

[2020-05-27 04:22] jli157 commented on #25645
Actually, the IP address can  be set via the network adapter setting instead of "Ethernet" settings on the version 10.0.18363.

However, the windows driver is still not able to be installed automatically.

[2020-05-27 06:13] JordanYates opened #25648 "samples: bluetooth: GATT large MTU/throughput example"
**Is your enhancement proposal related to a problem? Please describe.**
There are currently no in-tree examples of the Kconfig options and code flow required to setup a GATT connection to use a larger MTU than the default.

Given the multiple Kconfig namespaces that these options cross, a single reference example would be appreciated.

An example of the confusions and open questions from #25561.
`

[2020-05-27 07:00] ioannisg commented on #25348
Right @jfischer-phytec-iot , I tested it, as well, on SAM E70.
Test also passes on SAM3X, LPCXPRESSO_54114, and all nRF platforms.

@andrewboie just a note; in this test, main thread stack overflows on several imx SoCs, not only mimxrt1060.

Also, we do increase MAIN_STACK_SIZE configuration when we do COVERAGE_GCOV, or even directly in BOARDS' defconfigs (e.g. for several vendor boards, and inclu

[2020-05-27 07:07] jfischer-phytec-iot commented on #25645
That is no reason to labels it as a bug here. Let's label it as question until one can describe/show why it is a bug in Zephyr's implementation.

[2020-05-27 07:25] rlubos commented on #25444
The only reason is that `echo_client` was used in the original report

The only consequence of the TCP connection failure is that application sockets are closed, and main thread is blocked on a semaphore. It should not affect the network stack in any way.

[2020-05-27 07:33] tbursztyka commented on #23800
@carlescufi  I think you can close. it's not a bug in zephyr, just an option that needs to be used in acrn-dm side.

[2020-05-27 08:10] #25612 closed

[2020-05-27 08:21] hakonfam opened #25652 "smp_svr fails for nrf5340"
[placeholder for proper bug report when I have time]

Message is incorrectly split when transferring image in `smp_svr` for nRF5340

Perform FOTA for smp_svr using nRF Connect on iOS

The mcumgr response should be sent as a fragmented L2CAP-messag, instead it is split up.

See filenames in wireshark trace for relevant packets.

[trace.zip](https://github.com/zephyrproject-rtos/zephyr/files/4687442

[2020-05-27 08:53] tejlmand commented on #25215
Note: https://github.com/zephyrproject-rtos/zephyr/pull/25575 does not cover this issue completely.

#25575 is a general hook, allowing users downstream to do any kind of build configuration they like, using CMake. (which is also why that PR is not marked as fixing this enhancement suggestion)

The DTS_ROOT and BOARD_ROOT for modules is a specific use-case that is also a valueable enhancement for

[2020-05-27 08:53] ioannisg commented on #25635
@andrewboie thanks for reporting this. A few notes:

If this is the case (I believe we really need to make this clear in the Macro documentation), then the error is in the kernel implementation of k_thread_create:
k_thread_create() passes the stack_size "as-is" to z_setup_new_thread, but z_setup_new_thread expects the available size, not the desired size:

[code]

So this needs to be fixed, but sh

[2020-05-27 09:20] erwango opened #25656 "shields: Can't use multiple shields anymore"
**Describe the bug**
As described in https://docs.zephyrproject.org/latest/guides/porting/shields.html?highlight=shields#shield-activation, it used to be possible to use more than one shield in build command:
`west build -b None your_app -- -DSHIELD="x_nucleo_idb05a1 x_nucleo_iks01a1"`

This doesn't work anymore:
[code]

**Expected behavior**
Use of multiple shields should be possible

**Impact**

[2020-05-27 09:22] ioannisg commented on #25635
@andrewboie, #25654, contains a fix proposal, and your TLS test for mem_protect/userspace, taken from #25636 (had to resolve conflicts while cherry-picking)

[2020-05-27 09:22] tejlmand commented on #25215
I see this enhancement as valid in itself, and should be done together with `BOARD_ROOT` support.
But let my try to give a practical example why this could have side effects, if including your proposal directly in to Zephyr.

Today, it is possible to use a single workspace for multiple projects, and because the `west list` is used for module detection, only modules in that list will be included.

[2020-05-27 09:26] erwango commented on #25656
@tejlmand, can you have a look ?

[2020-05-27 09:31] henrikbrixandersen commented on #22625
The ISO-TP sample also fails on the TWR-KE18F board.

[2020-05-27 09:51] mnkp commented on #11908
System power manager can schedule entry into one of the sleep states even before we reach main() and user has a chance to call `sys_pm_ctrl_disable_state()` function. While calling the function helps it is not really a foolproof workaround.

[2020-05-27 09:59] baw-serafin opened #25658 "Issue to run sample on nucleo_g474re"
**Describe the bug**
Hello   World and blinky do compile and flash but the board never starts. No output / blinking LEDs

**To Reproduce**
Steps to reproduce the behaviour:
* go current master (I tested 6b54958a0e78e1de5d43910ebdc1ed281350586c)
* build for nucleo_g474re (only board I have here to test)
* run the samples

**Expected behavior**
Seeing something on console / Blinking LED

**Impact**

[2020-05-27 10:00] baw-serafin commented on #25658
@erwango @FRASTM

[2020-05-27 10:25] pdunaj commented on #25480
I am closing this issue. For some reason I assumed shield config is redefining the option but it is simply y selecting it, which is perfectly fine.

[2020-05-27 10:25] #25480 closed

[2020-05-27 10:36] pabigot commented on #11908
A pre-kernel SYS_INIT function could safely disable the feature per-application.

I wouldn't support having the default behavior of a system API like this differ between platforms.

Hopefully we can get the folks who depend on this behavior to review #21118 and get the defaults changed.

[2020-05-27 10:40] erwango commented on #25658
Provided a real board name. Given the tests we are running, I think this should not be extended to the whole STM32 board. I don't have this specific board but nucleo_g431 is running fine.

[2020-05-27 11:16] eyuval opened #25659 "ipv6 local link address support for applications"
I am running zephyr on a system with multiple ethernet interfaces. I would like to be able to specify ipv6 link local addresses in applications, e.g. in the shell command 'net ping', but also in our tftp client application. Currently this doesn't seem to work. For this purpose it would be nice to be able to specify the network interface (e.g. in the same way as in linux) in the address itself and

[2020-05-27 11:38] FRASTM commented on #25658
Did you flash with openocd ?
west flash --openocd /usr/local/bin/openocd
However flashing with pyocd makes the sample starts :
[code]

[2020-05-27 11:42] rlubos commented on #25444
@Vudentz Unfortunately I cannot confirm that the issue does not show up in other samples. Reproduced on `nrf52840dk_nrf52840` in both, `bluetooth/ipsp` and `sockets/echo_server`.
Note, that this behavior is not 100% reproducible, the ping stalls only after a few seconds of inactivity from the host side.

[2020-05-27 11:44] baw-serafin commented on #25658
@FRASTM nope using the default west flash which is pyocd

[2020-05-27 11:48] #23337 closed

[2020-05-27 11:54] markus-becker-tridonic-com opened #25663 "Documentation and features of IEEE802.15.4 drivers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

The documentation at https://docs.zephyrproject.org/latest is missing information about the available IEEE802.15.4 drivers, which features they support, and which platforms/boards they are supported on.

**Describe the solution you'd like**
A clear and concise description of

[2020-05-27 12:00] ioannisg opened #25664 "nRF Boards: unify static partition size for Bootloader"
We would like to unify the size of the statically-configured flash partition for Bootloader across nRF52, nrf53, and nRF91-based platforms.

Currently, nrf52-based platforms allocate 48kB for Bootloader, while nRF53 and nRF91 allocate 64kB.
We should stick to configuring 48kB for all platforms. This will bring uniformity across all nRF board definitions that use bootloader solutions.

Note: nRF51

[2020-05-27 12:01] ioannisg commented on #25664
CC @nvlsianpu @oyvindronningstad @carlescufi @mbolivar-nordic

[2020-05-27 12:14] #25527 closed

[2020-05-27 12:42] carlescufi commented on #22906
I have converted this to an Enhancement, let us know if you plan to work on this @FRASTM

[2020-05-27 12:46] de-nordic commented on #25664
Where should the free 16k go?

[2020-05-27 12:49] #25568 closed

[2020-05-27 13:11] ABOSTM opened #25666 "tests: kernel: mem_protect: syscalls: test_string_nlen fails"
**Describe the bug**
tests/kernel/mem_protect/syscalls fails on nucleo_f429zi

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p -b nucleo_f429zi   tests/kernel/mem_protect/syscalls
2. west flash
3. See error

**Expected behavior**
Tests Passed

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Screenshots or console output**

**Analysi

[2020-05-27 13:12] pabigot commented on #24230
This is the sort of thing the [on-off manager](https://docs.zephyrproject.org/latest/reference/resource_management/index.html#on-off-manager) was intended to handle.  With the current `sys_pm_ctrl` API states are enabled and disabled without any regard for whether somebody else agrees, which leads to questions about [how to use it](https://github.com/zephyrproject-rtos/zephyr/pull/21118#pullreques

[2020-05-27 13:39] erwango commented on #25658
@FRASTM, can you confirm this is working on your side ?

[2020-05-27 13:40] pabigot commented on #24653
Device Idle Power Management was added in #13382.  There are no in-tree users, but I understand this is being used by proprietary applications supported by Intel.  The API is underdefined and probably not compatible with current visions for device power management, which involve general mechanisms for recording dependencies with the expectation that services with no dependencies automatically tran

[2020-05-27 14:00] MaureenHelm commented on #25348
yes

thanks @jfischer-phytec-iot

[2020-05-27 14:00] gmarull commented on #25658
Unfortunately I don't have this board to test.

[2020-05-27 14:21] FRASTM commented on #25658
I can flash and run without pb, the samples/hello_world as well as samples/basic/blinky on my nucleo_g474re
(also  on nucleo_g431rb)

[2020-05-27 14:35] jukkar commented on #25659
I discussed about this just recently in slack. We are just missing support for `-I <interface>` option in ping command. It should be quite easy to implement, patches are welcome if you want to implement one.

For the tftp one and other usecases, we could have the interface specified in scope_id. We are just starting to see devices with multiple network interfaces so support for this (using local a

[2020-05-27 14:57] mbolivar-nordic commented on #25664
Seems reasonable; I assume @hakonfam is aware also

[2020-05-27 14:59] eyuval commented on #25659
Thanks for your reply. Wouldn't it be better to encode the interface somehow in the address, e.g. as in linux with xxxxx%<interface identifier> notation, instead of adding an option in the ping command. In this way all applications would automatically benefit, when using sockaddr_in6 structures.

[2020-05-27 15:16] jukkar commented on #25474
@Navin-Sankar could you add `CONFIG_NET_SHELL=y` and verify that your client BT network interface has `2001:db8::2` IP address (use `net iface` shell command for that).

[2020-05-27 15:21] jukkar commented on #25659
Well, ping in Linux has the `-I` option too.
About having generic parsing of xxxx% style IP strings, why not.

[2020-05-27 15:21] Vudentz commented on #25444
Ok, that would explain why it suddenly started working, but it appears the data never reaches the stack when the ping timeouts as we didn't get any logs from L2CAP layer when that happens.

[2020-05-27 15:22] tluio opened #25670 "Possible Null pointer dereferences in /subsys/logging/log_msg.c"
I am not sure if (offset < available_len  && available_len <= LOG_MSG_HEXDUMP_BYTES_SINGLE_CHUNK && req_len > 0) can be true in log_msg_hexdump_data_op. If so, **cont** is NULL on line 452, 455 and 460.

[2020-05-27 15:47] jli157 commented on #25645
@jfischer-phytec-iot sorry for that! you are right. It is a question. Also, the new windows 10 could be more suspicious to make the driver not work.

[2020-05-27 15:49] pabigot commented on #25327
Should be trivial to do with Coccinelle.

[2020-05-27 15:51] jfischer-phytec-iot commented on #25327
I like Zephyr's short types I do not want to miss it. This will also break coding style in many files, **again**.

[2020-05-27 16:06] #21107 closed

[2020-05-27 16:21] andrewboie commented on #25348
This is known -- stack canaries work by pushing the extra sentinel value onto every stack frame.

[2020-05-27 16:25] andrewboie commented on #25635
@ioannisg none of this stuff is particularly consistent across architectures.
This is why I rewrote all of it in #24714. I would really appreciate if you would review that if you have time.

[2020-05-27 16:29] carlescufi commented on #25182
Thanks @Abhishek-brcm.

[2020-05-27 16:34] carlescufi commented on #24703
@ssekar15 the only thing blocking it is a wider check among different maintainers: @galak @nashif @MaureenHelm @ioannisg please comment. Unless any objections are raised I will create the repository. We are currently working towards a better process for creating and maintaining Zephyr modules but since this was opened long before that discussion started it is my opinion that we should create this

[2020-05-27 16:43] carlescufi commented on #25369
Invited you now to become a collaborator

[2020-05-27 16:47] carlescufi commented on #25409
@pfalcon would you mind sending a patch?

[2020-05-27 16:52] carlescufi commented on #25379
Glad to hear that, thank you for letting us know.

[2020-05-27 16:52] pfalcon commented on #25409
Yep, I plan to work on that when 2.4 window opens.

[2020-05-27 16:56] carlescufi commented on #23949
No, there isn't one right now. We are working on LE Audio and that is our main focus, so not much effort has been put into BR/EDR at all.

[2020-05-27 16:56] carlescufi commented on #25139
Of course. Thank you very much for all your input @pdunaj

[2020-05-27 17:20] trond-snekvik opened #25672 "Bluetooth: Mesh: scan_start fails with synchronous bt_enable"
The Bluetooth Mesh fails in the `bt_le_scan_start` call in adv.c because of NRPA, but only if the Bluetooth subsystem is initialized without a `ready` callback.

This happens because the scan_start call uses the hci_core `BT_ADV_ENABLED` flag to check whether the advertiser is in progress, while the controller uses the ull_adv state:
When initializing the mesh subsystem, the adv thread is started.

[2020-05-27 17:21] trond-snekvik commented on #25672
cc @jhedberg @carlescufi

[2020-05-27 17:29] #25666 closed

[2020-05-27 17:38] carlescufi commented on #23800
Closing as per @tbursztyka's comments

[2020-05-27 17:38] #23800 closed

[2020-05-27 17:40] carlescufi commented on #24730
Thank you @pfalcon. I did that and this helps the release indeed.

[2020-05-27 17:45] vanti opened #25673 "Unable to use SPI1 when enabled without SPI0 on cc13xx/cc26xx"
**Describe the bug**
Similar to the issue for UARTs fixed in #25647, one is unable to use SPI1 unless SPI0 is enable in DTS.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify boards/arm/cc1352r1_launchxl/cc1352r1_launchxl.dts to enable spi1
[code]
2. Modify tests/drivers/spi/spi_loopback/boards/cc1352r1_launchxl.conf to use SPI_1:
`CONFIG_SPI_LOOPBACK_DRV_NAME="SPI_1"`

3. cd tests/driv

[2020-05-27 17:48] #25635 closed

[2020-05-27 17:49] carlescufi commented on #24745
@galak and @pabigot with the release delayed, is there a chance we can do a first pass at this before 2.3.0 is cut?

[2020-05-27 19:10] jaslob commented on #25599
Thank you for your help.

[2020-05-27 19:16] dleach02 commented on #25348
I suggest we accept #25617 as the fix for this bug report and allow it to close.

[2020-05-27 19:32] andrewboie opened #25678 "enhance k_mutex to be ISR safe"
**Is your enhancement proposal related to a problem? Please describe.**
We currently forbid k_mutex APIs in ISRs, due to the way the code assumes that the operation is on the behalf of `_current`. In an ISR, _current is just the thread that was running when the ISR fired, it should have no basis in the logic of the lock/unlock operations.

**Describe the solution you'd like**
Per @andyross we may

[2020-05-27 22:47] vanti commented on #24230
The on-off manager certainly looks like an interesting approach to manage on-off states of resources/services. For managing system power states, I haven't personally found the sys_pm_ctrl API to be too restrictive (assuming the states are left as enabled by default, enabling a state only after disabling it first in a given context, and using it to protect code that cannot accommodate for sleep int

[2020-05-28 00:39] SocIt2Em opened #25682 "[v2.2] Shell freezes with cout printf, prink on float"
**Describe the bug**
with shell enable. console appears frozen and shell prompt does not reappear

**To Reproduce**
double a = 2.333;
// any of the following will cause the shell prompt to not appear
std::cout << "cout float a is " << a << "\n";
printf("printf float a is %f \n", a);
printk("printk f float a is %f \n", a); // as expected. float not printed.

OUTPUT on uart
cout float a is 2.333
pri

[2020-05-28 00:50] stephanosio commented on #25327
As long as there is no technical reason to have these Zephyr-specific types anymore, IMHO, it would be preferable to convert back to/use the C99 standard types (hopefully this will be the last), as doing so will result in overall:

- less ambiguity
- less confusion
- less inconsistencies (e.g. unintentional mixing of `uint32_t` and `u32_t`)
- improved code portability
- improved standard complianc

[2020-05-28 01:16] galak commented on #25327
One question as I worked up PR is how to handle {u}int64_t.  I added a commit in the PR to make {u}int64_t the same across 32 or 64-bit arch's.  This at least matches how zephyr/types.h was defining things.

The one gotcha we run into is native_posix_64.  Since its getting the typedef from system headers.  So not 100% sure what we want to do for that issue yet.

[2020-05-28 01:44] stephanosio commented on #25327
cc @aescolar

[2020-05-28 01:48] andrewboie commented on #25327
Full support for this change.

What issue are you running into? I would expect {u}int64_t to be an {un}signed long long long everywhere? Or is that not workable?

[2020-05-28 02:50] andrewboie commented on #22521
Still cannot reproduce. Closing for now.

[2020-05-28 02:50] #22521 closed

[2020-05-28 05:33] nordic-krch commented on #25670
This case will never happen. If `available_len <= LOG_MSG_HEXDUMP_BYTES_SINGLE_CHUNK` it means that message consist of single chunk and requested length + offset is trimmed to that. Then in `if (offset < chunk_len)` case is handling the case when data is read or write from first chunk. Since message is single chunk then `cpy_len` equals `req_len` and `req_len` will be zeroed in line 432 and while

[2020-05-28 06:59] aescolar commented on #25327
@galak I pressume the problem you refer to is due to the printf format specifiers?
But, as far as I recall, that was not a native_posix_64 issue as such. Wasn't this an issue around the whole  Zephyr, due to zephyr having defined its own types, but not having print specifier macros, so everywhere we have now %llu %lu %whathaveyous (instead of PRIu64, PRIiPTR, etc), which then caused compiler forma

[2020-05-28 07:29] jhedberg commented on #25672
Didn't @joerchan add the `cmd_state_set` stuff to `hci_core.c` precisely because of this kind of stuff, i.e. so that we can set various flags through the RX priority thread?

[2020-05-28 08:16] hakonfam commented on #25664
Note that this will break backwards compatibility if the previous version of the app was built with the old partition size. Maybe it would be an idea to provide overlay files with the old values to simplify the process of creating update candidates.

IMO it is better to keep it as is, as I don't see any clear motivation (other than cosmetics) for this change. The time could rather be spent on educ

[2020-05-28 08:28] carlescufi commented on #25682
@pabigot and @andrewboie any opinions on this one?

[2020-05-28 08:28] carlescufi commented on #25682
@SocIt2Em would you mind trying with the latest master as well?

[2020-05-28 08:30] #25673 closed

[2020-05-28 08:31] #25348 closed

[2020-05-28 09:36] jhedberg commented on #25327
I'd be surprised to see issues when building native_posix and native_posix_64 on normal Linux distributions (or even some more unusual ones). At least I've never come across the need for the PRI macros during my 20+ years Linux user space development experience. The only exception is 64-bit types, for which I think we can't avoid PRI (and that's an acceptable compromise IMO). For anything else, I

[2020-05-28 09:44] ABOSTM commented on #25453
@pfalcon , Sorry for the late answer.
Issue is reproducable on
sha1:3a2f8349fd75d3dcd4551e551848458ed5129737

Which means it includes fixes for #25017

[2020-05-28 09:45] ABOSTM commented on #25453
Despite issue has been reproduced on STM32 boards, analysis show it is a generic issue (remove STM32 label )

[2020-05-28 09:54] akofoed opened #25693 "ESP WiFi MPU Fault causes zephyr fatal error"
**Describe the bug**
Using Zephyr master branch (updated 27/5-2020)
I am using the ESP32 as WiFi modem which is working quite well most of the time. However, occasionally I get this error and then Zephyr gives up on life:

[code]
I have seen it work for up to 8 hours but mostly it will throw the registers after anywhere between 30 minutes and some hours.

My hope is that @tsvehagen would be so kin

[2020-05-28 10:00] tsvehagen commented on #25693
Could you please enable the following. It would help a bit in understanding what happens.
[code]

[2020-05-28 10:02] anthonybrandon commented on #23555
@erwango Since my PR is merged I am interested in adding support for interrupts to the driver. Is it okay to discuss here? Or on a slack channel? My main question is if I should just replace the current polling implementation with an interrupt based one, or if it should be some Kconfig option. I'm not sure there is any reason to ever not use the interrupt based implementation if it was available.

[2020-05-28 10:08] ioannisg commented on #25693
Looks like CPU tries to execute from RAM, maybe due to stack corruption.
Enable CONFIG_HW_STACK_PROTECTION, to see whether there's a stack overflow. (I assume you're building with CONFIG_ARM_MPU=y)

[2020-05-28 10:19] akofoed commented on #25693
Thanks @tsvehagen for your reply. I have now enabled the 3 debug options as you requested and it is now running (producing a lot of output). I will update here in some hours when the issue returns.

@ioannisg Yes, it is a the STM32F429 nucleo board using the ESP32 as WiFi. CONFIG_ARM_MPU=y is set in the .config so I presume yes to your question. I will just let it run using @tsvehagen debug lines

[2020-05-28 10:21] ioannisg commented on #25693
Just enable altogether HW STACK Protection, and the suggestions wrt LOG levels :)

[2020-05-28 10:22] jukkar opened #25694 "IPv6 RA prefix option invalid length"
**Describe the bug**
The IPv6 Router Advertisement can have Prefix Information option in https://tools.ietf.org/html/rfc4861#section-4.6.2 and the value of the length field should be 4. The current IPv6 does not check this. There is no ill effects because of this but we should drop the packet if the length is not valid.

[2020-05-28 10:27] ioannisg commented on #25664
It can be given to the next image in chain. For TrustZone-enabled Boards, this would most likely be the Secure Firmware image.

[2020-05-28 10:36] cvinayak commented on #25672
le_set_random_address failed, is the host trying to set the random address while having started the advertisement?

I will try to reproduce with hci core debug and check.

[2020-05-28 10:46] akofoed commented on #25693
@tsvehagen Got this now:
[code]

@ioannisg I will enable the stack protection and give it another go

[2020-05-28 11:12] QSQCaito opened #25697 "Example of Thread creation in documentation does not compile"
**Describe the bug**
Creating a statically defined thread as mentioned in the [Thread ](https://docs.zephyrproject.org/latest/reference/kernel/threads/index.html#spawning-a-thread)documentation fails to compile.

Changing `K_NO_WAIT` to `0` fixes the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Create thread using `K_THREAD_DEFINE(my_tid, MY_STACK_SIZE,my_entry_point, NULL, NULL,

[2020-05-28 11:14] galak commented on #25327
from:
`/usr/include/bits/types.h`:

[code]
(eventually {u}int64_t will get typedef based on __{u}int64_t)

So on x86_64/native_posix_64 we get int64_t as `long int` instead of `long long int`

[2020-05-28 11:23] Navin-Sankar commented on #25474
@jukkar Interface is down.

[2020-05-28 11:32] jukkar opened #25698 "IPv6 prefix could be added multiple times to prefix timer list"
**Describe the bug**
We could add same IPv6 prefix multiple times to prefix timer list. This can lead to denial-of-service issue if we receive suitable crafted IPv6 RA packets.

[2020-05-28 12:02] markus-becker-tridonic-com opened #25701 "MPU FAULT in nvs test on nrf52840dk_nrf52840"
**Describe the bug**

We are having issues with NVS on nrf52840dk_nrf52840.

The test tests/subsys/settings/functional/nvs fails with an MPU fault.

**To Reproduce**
Steps to reproduce the behavior:
`./scripts/sanitycheck --device-testing --device-serial /dev/ttyACM0 -p nrf52840dk_nrf52840 -T tests/subsys/settings/functional/nvs`

Output on UART:
[code]

**Expected behavior**
No MPU fault.

**Impa

[2020-05-28 12:02] akofoed commented on #25693
@ioannisg It has been running for one hour and 15 minutes now without issues. I have been through the log and I cannot see any errors. But I do get dropped messages like this:
[code]
I have these settings in the prj.conf:

    CONFIG_WIFI_ESP_RX_STACK_SIZE=2048
    CONFIG_WIFI_ESP_WORKQ_STACK_SIZE=4096

Are you saying that I could be one of these stack-size settings that is too small?

I will let

[2020-05-28 12:07] ioannisg commented on #25693
It can be any thread of the kernel overflowing their stack.

 (MPU faults can be related to anything, though. But since one of the most common reasons for faults of this kind is stack corruption, the first thing to do is to enable HW support to detect and report stack overflows)

[2020-05-28 12:10] tluio commented on #25670
Ok. Thank you very much!

[2020-05-28 12:10] #25670 closed

[2020-05-28 12:11] erwango commented on #23555
@anthonybrandon Let's discuss on Slack or you can also open a new ticket.
At first, I won't see any reason to keep the polling if interrupt is supported, but you can open a RFC and see if there are people concerned by this option.
This being said, this is a new driver so I don't think there will be much more users to complain.

I'm closing this issue as the work is now done.

[2020-05-28 12:11] #23555 closed

[2020-05-28 12:18] ioannisg commented on #25701
@markus-becker-tridonic-com @nvlsianpu  maybe this is because you need MPU to ALLOW FLASH WRITE, please check

[2020-05-28 12:20] jukkar opened #25702 "BSD socket sendmsg() did not verify params in usermode"
**Describe the bug**
The BSD socket `sendmsg()` call did not check parameters when running in user mode.

[2020-05-28 12:21] tsvehagen commented on #25693
During send, if timeout is non-zero (as in this case), the calling thread is actually used so it could be the calling threads stack that is too small.

[2020-05-28 12:22] nvlsianpu commented on #25701
@markus-becker-tridonic-com As @ioannisg points need to use proper configuration for run it on HW boards. Will try to ad a such here.

[2020-05-28 12:24] cfriedt commented on #5517
Just a note about the IAR compiler (in particular, because I caught that we're considering linking with gcc).
The IAR compiler can be set to include a number of options to reduce binary size in the final link. This produces a number of custom ELF sections in object files. GCC does something similar with `-fdata-sections` and `-ffunction-sections`, but the IAR implementation is incompatible. So lin

[2020-05-28 12:51] tejlmand commented on #25656
Looking into this.
@erwango until the reason for this to not work when using space separated lists, you can use a proper CMake ;-separated list:
[code]
which will work.

[2020-05-28 13:05] otavio opened #25704 "lib: updatehub: Corrupted updated when receiving CoAP duplicate packages"
The updatehub library is not properly handling the case where the CoAP packages are duplicated and we end flashing a broken firmware on the device's storage.

The short term solution is to have an engine that handles these packages reception and ensures we handle the proper sequence of blocks.

[2020-05-28 13:21] hwilmers commented on #25704
There is a mechanism to avoid duplicate packages proposed in PR #25558

[2020-05-28 13:21] lgl88911 commented on #25566
@MaureenHelm Please review https://github.com/zephyrproject-rtos/hal_nxp/pull/44 Thanks!

[2020-05-28 13:25] markus-becker-tridonic-com commented on #25701
yes, the prj.conf in fcb and file are setting it.

[2020-05-28 13:33] pabigot commented on #25682
I can't verify this on current master using https://github.com/pabigot/zephyr/commits/reproduce/25682 which adds a shell to a C++ version of hello world with a command that emits floating point values.

If whatever is producing the output in your application is in a non-shell thread maybe that's the problem: I would not be surprised if having mutliple things try to control a single uart would caus

[2020-05-28 13:36] akofoed commented on #25693
Just got this:
[code]
@tsvehagen which is the calling thread stack? RX or WORKQ? And do you have a recommended value?

[2020-05-28 13:37] nvlsianpu commented on #25701
@markus-becker-tridonic-com  here patch with proper configuration #25708

[2020-05-28 13:52] markus-becker-tridonic-com commented on #25701
https://github.com/zephyrproject-rtos/zephyr/pull/25708 fixes this.

[2020-05-28 13:53] markus-becker-tridonic-com commented on #25701
thanks.

[2020-05-28 14:08] tsvehagen commented on #25693
The thread that calls send/sendto. Probably the one that does mqtt publish. Try increasing the size to something big like 4k and see what happens. It feels like it could be some bad error handling in the driver as well though. I will need to check that more closely.

[2020-05-28 14:33] NZSmartie opened #25710 "FS: Buffer Overflow when enabling Long File Names in FAT_FS and calling fs_stat"
I found a bug with enabling Long File Name (LFN) and using FATFS.

Performing `fs_stat` on a file with a filename larger than 12 characters long will cause a buffer overflow.

Where the overflow occurs:
https://github.com/zephyrproject-rtos/zephyr/blob/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/fs/fat_fs.c#L306

The struct defined with MAX_FILE_NAME
https://github.com/zephyrproject-rtos/zephy

[2020-05-28 14:41] de-nordic commented on #25664
If there will be two non-secure images I will split it between them, as it would look strange to have asymmetric area for each image (you can correct me in review).
In secure firmware I will do as you have written.

[2020-05-28 15:11] #25701 closed

[2020-05-28 15:49] #25698 closed

[2020-05-28 16:00] erwango commented on #25656
@tejlmand as this command is working, I'm totally fine to update the doc and get away with this.
I'm not particularly attached to the space separated list ....

[2020-05-28 16:10] tamnguyenchi93 opened #25713 "Miss shift i2c slave address in i2c_sifive"
**Describe the bug**
I try to run an example that connect hifive_revb with adxl345 sensor with renode simulate platform. I create overlay file for `hifive_revb` board

**hifive1_revb.overlay**:
[code]
Here is my renode platform description:

[code]
When start renode simulation, zephyr console show these error:
[code]
And here is the log from renode console:
[code]
As my understand that zephyr try

[2020-05-28 16:39] galak commented on #25327
I'm in agreement here, the intent is to keep the changes to developers as small as possible here, otherwise we'll just end up leaving things as they are.  So I think having a few PRI.64 users for cases that native_posix_64 builds tests/samples is the easiest solution going forward.  I'll push an update to the PR which such changes.

[2020-05-28 17:00] ABOSTM opened #25719 "sanitycheck log mixing between tests"
**Describe the bug**
When running sanitycheck on all tests of directory tests\arch\arm, there is some mixing in logs.
This mixing causes, from time to time, in test PASSED, but reported Failed.
All run doesn't give always the same result (not always test failed , not always the same mixing)
But the failed test is always tests/arch/arm/arm_irq_vector_table (even if I think it is just a combination

[2020-05-28 17:01] ABOSTM commented on #25719
[log_job_master_d8560f698b_1503.zip](https://github.com/zephyrproject-rtos/zephyr/files/4697168/log_job_master_d8560f698b_1503.zip)

[2020-05-28 18:16] zephyrbot opened #25720 "[Coverity CID :210073] Arguments in wrong order in drivers/modem/wncm14a2a.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/drivers/modem/wncm14a2a.c

Category: API usage errors
Function: `pkt_setup_ip_data`
Component: Drivers
CID: [210073](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210073)

Please fix or provide comments in coverity using the link:

https://scan9.c

[2020-05-28 18:16] zephyrbot opened #25721 "[Coverity CID :209945] Logically dead code in tests/net/tcp2/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/net/tcp2/src/main.c

Category: Control flow issues
Function: `tester_prepare_tcp_pkt`
Component: Tests
CID: [209945](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209945)

Please fix or provide comments in coverity using the link:

https://s

[2020-05-28 18:16] zephyrbot opened #25722 "[Coverity CID :210058] Logically dead code in samples/net/sockets/big_http_download/src/big_http_download.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/samples/net/sockets/big_http_download/src/big_http_download.c

Category: Control flow issues
Function: `main`
Component: Samples
CID: [210058](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210058)

Please fix or provide comments in coverity using

[2020-05-28 18:16] zephyrbot opened #25723 "[Coverity CID :210559] Unsigned compared against 0 in subsys/net/ip/tcp2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/net/ip/tcp2.c

Category: Control flow issues
Function: `tcp_in`
Component: Networking
CID: [210559](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210559)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.co

[2020-05-28 18:16] zephyrbot opened #25724 "[Coverity CID :210566] Missing break in switch in subsys/net/l2/ieee802154/ieee802154_frame.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/net/l2/ieee802154/ieee802154_frame.c

Category: Control flow issues
Function: `validate_mac_command`
Component: Networking
CID: [210566](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210566)

Please fix or provide comments in coverity using

[2020-05-28 18:16] zephyrbot opened #25725 "[Coverity CID :210578] Structurally dead code in kernel/mem_domain.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/kernel/mem_domain.c

Category: Control flow issues
Function: `sane_partition`
Component: Kernel
CID: [210578](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210578)

Please fix or provide comments in coverity using the link:

https://scan9.coverity

[2020-05-28 18:16] zephyrbot opened #25726 "[Coverity CID :210598] Missing break in switch in subsys/net/l2/ieee802154/ieee802154_frame.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/net/l2/ieee802154/ieee802154_frame.c

Category: Control flow issues
Function: `validate_mac_command`
Component: Networking
CID: [210598](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210598)

Please fix or provide comments in coverity using

[2020-05-28 18:16] zephyrbot opened #25727 "[Coverity CID :210611] Logically dead code in subsys/net/lib/sockets/socketpair.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/net/lib/sockets/socketpair.c#L482

Category: Control flow issues
Function: `spair_write`
Component: Networking
CID: [210611](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210611)

Details:

[code]

Please fix or provide comments in coverity

[2020-05-28 18:16] zephyrbot opened #25728 "[Coverity CID :210050] Unchecked return value in tests/subsys/settings/littlefs/src/settings_setup_littlefs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/subsys/settings/littlefs/src/settings_setup_littlefs.c

Category: Error handling issues
Function: `config_setup_littlefs`
Component: Tests
CID: [210050](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210050)

Please fix or provide comments in

[2020-05-28 18:16] zephyrbot opened #25729 "[Coverity CID :210056] Unchecked return value in subsys/net/ip/tcp2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/net/ip/tcp2.c

Category: Error handling issues
Function: `tcp_options_get`
Component: Networking
CID: [210056](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210056)

Please fix or provide comments in coverity using the link:

https://scan9.

[2020-05-28 18:18] zephyrbot opened #25730 "[Coverity CID :210553] Unchecked return value in tests/drivers/gpio/gpio_basic_api/src/test_deprecated.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/drivers/gpio/gpio_basic_api/src/test_deprecated.c

Category: Error handling issues
Function: `test_callback`
Component: Tests
CID: [210553](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210553)

Please fix or provide comments in coverity usi

[2020-05-28 18:18] zephyrbot opened #25731 "[Coverity CID :210568] Argument cannot be negative in tests/net/socket/socketpair/src/test_socketpair_happy_path.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/net/socket/socketpair/src/test_socketpair_happy_path.c

Category: Error handling issues
Function: `happy_path`
Component: Tests
CID: [210568](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210568)

Please fix or provide comments in coverity u

[2020-05-28 18:18] zephyrbot opened #25732 "[Coverity CID :210570] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/posix/eventfd/src/main.c

Category: Error handling issues
Function: `test_eventfd_write_then_read`
Component: Tests
CID: [210570](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210570)

Please fix or provide comments in coverity using the lin

[2020-05-28 18:18] zephyrbot opened #25733 "[Coverity CID :210575] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/posix/eventfd/src/main.c

Category: Error handling issues
Function: `test_eventfd_read_nonblock`
Component: Tests
CID: [210575](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210575)

Please fix or provide comments in coverity using the link:

[2020-05-28 18:18] zephyrbot opened #25734 "[Coverity CID :210580] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/posix/eventfd/src/main.c

Category: Error handling issues
Function: `test_eventfd_poll_timeout`
Component: Tests
CID: [210580](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210580)

Please fix or provide comments in coverity using the link:

[2020-05-28 18:18] zephyrbot opened #25735 "[Coverity CID :210582] Unchecked return value in tests/net/socket/getaddrinfo/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/net/socket/getaddrinfo/src/main.c

Category: Error handling issues
Function: `process_dns`
Component: Tests
CID: [210582](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210582)

Please fix or provide comments in coverity using the link:

http

[2020-05-28 18:18] zephyrbot opened #25736 "[Coverity CID :210583] Unchecked return value from library in samples/net/sockets/socketpair/src/socketpair_example.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/samples/net/sockets/socketpair/src/socketpair_example.c

Category: Error handling issues
Function: `hello`
Component: Samples
CID: [210583](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210583)

Please fix or provide comments in coverity using the

[2020-05-28 18:18] zephyrbot opened #25737 "[Coverity CID :210585] Unchecked return value in samples/net/sockets/socketpair/src/socketpair_example.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/samples/net/sockets/socketpair/src/socketpair_example.c

Category: Error handling issues
Function: `zephyr_app_main`
Component: Samples
CID: [210585](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210585)

Please fix or provide comments in coverity

[2020-05-28 18:18] zephyrbot opened #25738 "[Coverity CID :210602] Unchecked return value in tests/drivers/uart/uart_basic_api/src/test_uart_fifo.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/drivers/uart/uart_basic_api/src/test_uart_fifo.c#L82

Category: Error handling issues
Function: `uart_fifo_callback`
Component: Tests
CID: [210602](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210602)

Details:

[code]

Please fix or provid

[2020-05-28 18:18] zephyrbot opened #25739 "[Coverity CID :210610] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/posix/eventfd/src/main.c#L39

Category: Error handling issues
Function: `test_eventfd`
Component: Tests
CID: [210610](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210610)

Details:

[code]

Please fix or provide comments in coverity using t

[2020-05-28 18:18] zephyrbot opened #25740 "[Coverity CID :210617] Argument cannot be negative in tests/net/pm/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/net/pm/src/main.c#L139

Category: Error handling issues
Function: `test_pm`
Component: Tests
CID: [210617](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210617)

Details:

[code]

Please fix or provide comments in coverity using the link:

h

[2020-05-28 18:18] zephyrbot opened #25741 "[Coverity CID :210618] Unchecked return value in drivers/wifi/esp/esp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/drivers/wifi/esp/esp.c#L237

Category: Error handling issues
Function: `esp_ip_addr_work`
Component: Drivers
CID: [210618](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210618)

Details:

[code]

Please fix or provide comments in coverity using th

[2020-05-28 18:18] zephyrbot opened #25742 "[Coverity CID :209943] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/devicetree/src/main.c

Category: Incorrect expression
Function: `test_parent`
Component: Tests
CID: [209943](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209943)

Please fix or provide comments in coverity using the link:

https://scan9

[2020-05-28 18:18] zephyrbot opened #25743 "[Coverity CID :209944] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/devicetree/src/main.c

Category: Incorrect expression
Function: `test_dma`
Component: Tests
CID: [209944](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209944)

Please fix or provide comments in coverity using the link:

https://scan9.co

[2020-05-28 18:18] zephyrbot opened #25744 "[Coverity CID :210045] Side effect in assertion in tests/kernel/fpu_sharing/generic/src/pi.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/kernel/fpu_sharing/generic/src/pi.c

Category: Incorrect expression
Function: `calculate_pi_high`
Component: Tests
CID: [210045](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210045)

Please fix or provide comments in coverity using the link

[2020-05-28 18:19] zephyrbot opened #25745 "[Coverity CID :210052] Side effect in assertion in tests/kernel/fpu_sharing/generic/src/pi.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/kernel/fpu_sharing/generic/src/pi.c

Category: Incorrect expression
Function: `calculate_pi_low`
Component: Tests
CID: [210052](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210052)

Please fix or provide comments in coverity using the link:

[2020-05-28 18:19] zephyrbot opened #25746 "[Coverity CID :210584] Assign instead of compare in subsys/logging/log_output_syst.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/logging/log_output_syst.c

Category: Incorrect expression
Function: ``
Component: Other
CID: [210584](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210584)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.

[2020-05-28 18:19] zephyrbot opened #25747 "[Coverity CID :210596] Assign instead of compare in subsys/logging/log_output_syst.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/logging/log_output_syst.c

Category: Incorrect expression
Function: ``
Component: Other
CID: [210596](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210596)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.

[2020-05-28 18:19] zephyrbot opened #25748 "[Coverity CID :210606] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/devicetree/src/main.c#L995

Category: Incorrect expression
Function: `test_pwms`
Component: Tests
CID: [210606](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210606)

Details:

[code]

Please fix or provide comments in coverity using the

[2020-05-28 18:19] zephyrbot opened #25749 "[Coverity CID :210033] Unintentional integer overflow in drivers/sensor/mpr/mpr.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/drivers/sensor/mpr/mpr.c

Category: Integer handling issues
Function: `mpr_convert_reg`
Component: Drivers
CID: [210033](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210033)

Please fix or provide comments in coverity using the link:

https://sca

[2020-05-28 18:19] zephyrbot opened #25750 "[Coverity CID :210066] Unintentional integer overflow in include/sys/time_units.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/include/sys/time_units.h

Category: Integer handling issues
Function: `z_tmcvt`
Component: Other
CID: [210066](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210066)

Please fix or provide comments in coverity using the link:

https://scan9.coverit

[2020-05-28 18:19] zephyrbot opened #25751 "[Coverity CID :210545] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c

Category: Integer handling issues
Function: `test_benchmark_vec_abs_f32`
Component: Tests
CID: [210545](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210545)

Please fix or provide comments in coveri

[2020-05-28 18:19] zephyrbot opened #25752 "[Coverity CID :210551] Incompatible cast in tests/lib/cmsis_dsp/matrix/src/unary_f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/matrix/src/unary_f32.c

Category: Integer handling issues
Function: `test_arm_mat_inverse_f32`
Component: Tests
CID: [210551](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210551)

Please fix or provide comments in coverity usi

[2020-05-28 18:19] zephyrbot opened #25753 "[Coverity CID :210555] Incompatible cast in tests/lib/cmsis_dsp/support/src/barycenter_f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/support/src/barycenter_f32.c

Category: Integer handling issues
Function: `test_arm_barycenter_f32`
Component: Tests
CID: [210555](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210555)

Please fix or provide comments in coverit

[2020-05-28 18:19] zephyrbot opened #25754 "[Coverity CID :210556] Incompatible cast in tests/lib/cmsis_dsp/matrix/src/unary_f64.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/matrix/src/unary_f64.c

Category: Integer handling issues
Function: `test_arm_mat_inverse_f64`
Component: Tests
CID: [210556](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210556)

Please fix or provide comments in coverity usi

[2020-05-28 18:19] zephyrbot opened #25755 "[Coverity CID :210560] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c

Category: Integer handling issues
Function: `test_benchmark_vec_offset_f32`
Component: Tests
CID: [210560](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210560)

Please fix or provide comments in cov

[2020-05-28 18:19] zephyrbot opened #25756 "[Coverity CID :210563] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c

Category: Integer handling issues
Function: `test_benchmark_vec_dot_prod_f32`
Component: Tests
CID: [210563](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210563)

Please fix or provide comments in c

[2020-05-28 18:19] zephyrbot opened #25757 "[Coverity CID :210565] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c

Category: Integer handling issues
Function: `test_benchmark_vec_sub_f32`
Component: Tests
CID: [210565](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210565)

Please fix or provide comments in coveri

[2020-05-28 18:19] zephyrbot opened #25758 "[Coverity CID :210567] Incompatible cast in tests/lib/cmsis_dsp/fastmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/fastmath/src/f32.c

Category: Integer handling issues
Function: `test_arm_cos_f32`
Component: Tests
CID: [210567](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210567)

Please fix or provide comments in coverity using the link:

[2020-05-28 18:19] zephyrbot opened #25759 "[Coverity CID :210569] Incompatible cast in tests/lib/cmsis_dsp/bayes/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/bayes/src/f32.c

Category: Integer handling issues
Function: `test_gaussian_naive_bayes_predict_f32`
Component: Tests
CID: [210569](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210569)

Please fix or provide comments in coveri

[2020-05-28 18:19] zephyrbot opened #25760 "[Coverity CID :210572] Incompatible cast in tests/lib/cmsis_dsp/distance/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/distance/src/f32.c

Category: Integer handling issues
Function: `test_arm_distance_minkowski`
Component: Tests
CID: [210572](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210572)

Please fix or provide comments in coverity usin

[2020-05-28 18:19] zephyrbot opened #25761 "[Coverity CID :210574] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c

Category: Integer handling issues
Function: `test_benchmark_vec_negate_f32`
Component: Tests
CID: [210574](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210574)

Please fix or provide comments in cov

[2020-05-28 18:19] zephyrbot opened #25762 "[Coverity CID :210576] Incompatible cast in tests/lib/cmsis_dsp/filtering/src/misc_f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/filtering/src/misc_f32.c

Category: Integer handling issues
Function: `test_arm_correlate_f32`
Component: Tests
CID: [210576](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210576)

Please fix or provide comments in coverity usi

[2020-05-28 18:19] zephyrbot opened #25763 "[Coverity CID :210577] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c

Category: Integer handling issues
Function: `test_benchmark_vec_mult_f32`
Component: Tests
CID: [210577](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210577)

Please fix or provide comments in cover

[2020-05-28 18:19] zephyrbot opened #25764 "[Coverity CID :210590] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c

Category: Integer handling issues
Function: `test_benchmark_vec_sub_f32`
Component: Tests
CID: [210590](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210590)

Please fix or provide comments in coveri

[2020-05-28 18:19] zephyrbot opened #25765 "[Coverity CID :210591] Incompatible cast in tests/lib/cmsis_dsp/filtering/src/misc_f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/filtering/src/misc_f32.c

Category: Integer handling issues
Function: `test_arm_conv_f32`
Component: Tests
CID: [210591](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210591)

Please fix or provide comments in coverity using th

[2020-05-28 18:19] zephyrbot opened #25766 "[Coverity CID :210592] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c

Category: Integer handling issues
Function: `test_benchmark_vec_mult_f32`
Component: Tests
CID: [210592](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210592)

Please fix or provide comments in cover

[2020-05-28 18:19] zephyrbot opened #25767 "[Coverity CID :210600] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c#L319

Category: Integer handling issues
Function: `test_benchmark_vec_scale_f32`
Component: Tests
CID: [210600](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210600)

Details:

[code]

Please fix or p

[2020-05-28 18:19] zephyrbot opened #25768 "[Coverity CID :210601] Incompatible cast in tests/lib/cmsis_dsp/fastmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/fastmath/src/f32.c#L71

Category: Integer handling issues
Function: `test_arm_sin_f32`
Component: Tests
CID: [210601](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210601)

Details:

[code]

Please fix or provide comments in co

[2020-05-28 18:19] zephyrbot opened #25769 "[Coverity CID :210603] Incompatible cast in tests/lib/cmsis_dsp/filtering/src/misc_f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/filtering/src/misc_f32.c#L30

Category: Integer handling issues
Function: `test_arm_correlate_f32`
Component: Tests
CID: [210603](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210603)

Details:

[code]

Please fix or provide co

[2020-05-28 18:19] zephyrbot opened #25770 "[Coverity CID :210605] Incompatible cast in tests/lib/cmsis_dsp/filtering/src/misc_f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/filtering/src/misc_f32.c#L105

Category: Integer handling issues
Function: `test_arm_conv_f32`
Component: Tests
CID: [210605](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210605)

Details:

[code]

Please fix or provide commen

[2020-05-28 18:19] zephyrbot opened #25771 "[Coverity CID :210608] Incompatible cast in tests/lib/cmsis_dsp/fastmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/fastmath/src/f32.c#L108

Category: Integer handling issues
Function: `test_arm_sqrt_f32`
Component: Tests
CID: [210608](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210608)

Details:

[code]

Please fix or provide comments in

[2020-05-28 18:19] zephyrbot opened #25772 "[Coverity CID :210609] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c#L163

Category: Integer handling issues
Function: `test_benchmark_vec_add_f32`
Component: Tests
CID: [210609](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210609)

Details:

[code]

Please fix or pro

[2020-05-28 18:19] zephyrbot opened #25773 "[Coverity CID :210613] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c#L340

Category: Integer handling issues
Function: `test_benchmark_vec_dot_prod_f32`
Component: Tests
CID: [210613](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210613)

Details:

[code]

Please fix o

[2020-05-28 18:19] zephyrbot opened #25774 "[Coverity CID :210615] Incompatible cast in tests/benchmarks/cmsis_dsp/basicmath/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/benchmarks/cmsis_dsp/basicmath/src/f32.c#L163

Category: Integer handling issues
Function: `test_benchmark_vec_add_f32`
Component: Tests
CID: [210615](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210615)

Details:

[code]

Please fix or pro

[2020-05-28 18:19] zephyrbot opened #25775 "[Coverity CID :210075] Negative array index write in samples/net/cloud/mqtt_azure/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/samples/net/cloud/mqtt_azure/src/main.c

Category: Memory - corruptions
Function: `mqtt_event_handler`
Component: Samples
CID: [210075](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210075)

Please fix or provide comments in coverity using the lin

[2020-05-28 18:19] zephyrbot opened #25776 "[Coverity CID :210573] Out-of-bounds access in tests/kernel/mem_protect/userspace/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/kernel/mem_protect/userspace/src/main.c

Category: Memory - corruptions
Function: `test_write_kerntext`
Component: Tests
CID: [210573](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210573)

Please fix or provide comments in coverity using th

[2020-05-28 18:19] zephyrbot opened #25777 "[Coverity CID :210589] Out-of-bounds access in tests/kernel/mem_protect/protection/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/kernel/mem_protect/protection/src/main.c

Category: Memory - corruptions
Function: `test_write_text`
Component: Tests
CID: [210589](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210589)

Please fix or provide comments in coverity using the l

[2020-05-28 18:20] zephyrbot opened #25778 "[Coverity CID :210604] Out-of-bounds access in tests/kernel/mem_protect/protection/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/kernel/mem_protect/protection/src/main.c#L120

Category: Memory - corruptions
Function: `test_write_text`
Component: Tests
CID: [210604](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210604)

Details:

[code]

Please fix or provide comments

[2020-05-28 18:20] zephyrbot opened #25779 "[Coverity CID :209942] Pointer to local outside scope in subsys/net/ip/tcp2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/net/ip/tcp2.c

Category: Memory - illegal accesses
Function: `th_get`
Component: Networking
CID: [209942](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209942)

Please fix or provide comments in coverity using the link:

https://scan9.cover

[2020-05-28 18:20] zephyrbot opened #25780 "[Coverity CID :210612] Negative array index read in samples/net/sockets/socketpair/src/socketpair_example.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/samples/net/sockets/socketpair/src/socketpair_example.c#L155

Category: Memory - illegal accesses
Function: `zephyr_app_main`
Component: Samples
CID: [210612](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210612)

Details:

[code]

Please fix or p

[2020-05-28 18:20] zephyrbot opened #25781 "[Coverity CID :210031] Dereference before null check in drivers/modem/gsm_ppp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/drivers/modem/gsm_ppp.c

Category: Null pointer dereferences
Function: `set_ppp_carrier_on`
Component: Drivers
CID: [210031](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210031)

Please fix or provide comments in coverity using the link:

https:/

[2020-05-28 18:20] zephyrbot opened #25782 "[Coverity CID :210035] Dereference before null check in drivers/sensor/bq274xx/bq274xx.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/drivers/sensor/bq274xx/bq274xx.c

Category: Null pointer dereferences
Function: `bq274xx_gauge_init`
Component: Drivers
CID: [210035](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210035)

Please fix or provide comments in coverity using the link:

[2020-05-28 18:20] zephyrbot opened #25783 "[Coverity CID :210051] Dereference after null check in subsys/net/ip/tcp2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/net/ip/tcp2.c

Category: Null pointer dereferences
Function: `tcp_in`
Component: Networking
CID: [210051](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210051)

Please fix or provide comments in coverity using the link:

https://scan9.cover

[2020-05-28 18:20] zephyrbot opened #25784 "[Coverity CID :210546] Dereference after null check in tests/net/promiscuous/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/net/promiscuous/src/main.c

Category: Null pointer dereferences
Function: `test_iface_setup`
Component: Tests
CID: [210546](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210546)

Please fix or provide comments in coverity using the link:

ht

[2020-05-28 18:20] zephyrbot opened #25785 "[Coverity CID :210549] Explicit null dereferenced in tests/subsys/openthread/radio_test.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/subsys/openthread/radio_test.c

Category: Null pointer dereferences
Function: `test_energy_scan_delayed_test`
Component: Tests
CID: [210549](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210549)

Please fix or provide comments in coverity us

[2020-05-28 18:20] zephyrbot opened #25786 "[Coverity CID :210558] Dereference before null check in drivers/sensor/sensor_shell.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/drivers/sensor/sensor_shell.c

Category: Null pointer dereferences
Function: `device_name_get`
Component: Drivers
CID: [210558](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210558)

Please fix or provide comments in coverity using the link:

http

[2020-05-28 18:20] zephyrbot opened #25787 "[Coverity CID :210571] Explicit null dereferenced in tests/subsys/openthread/radio_test.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/subsys/openthread/radio_test.c

Category: Null pointer dereferences
Function: `test_energy_scan_immediate_test`
Component: Tests
CID: [210571](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210571)

Please fix or provide comments in coverity

[2020-05-28 18:21] zephyrbot opened #25788 "[Coverity CID :210581] Dereference before null check in subsys/net/lib/sockets/socketpair.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/net/lib/sockets/socketpair.c

Category: Null pointer dereferences
Function: `spair_sendmsg`
Component: Networking
CID: [210581](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210581)

Please fix or provide comments in coverity using the link

[2020-05-28 18:21] zephyrbot opened #25789 "[Coverity CID :210586] Explicit null dereferenced in tests/lib/cmsis_dsp/distance/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/distance/src/f32.c

Category: Null pointer dereferences
Function: `test_arm_distance`
Component: Tests
CID: [210586](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210586)

Please fix or provide comments in coverity using the li

[2020-05-28 18:21] zephyrbot opened #25790 "[Coverity CID :210594] Dereference after null check in subsys/testsuite/ztest/src/ztest_mock.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/subsys/testsuite/ztest/src/ztest_mock.c

Category: Null pointer dereferences
Function: `z_ztest_check_expected_data`
Component: Other
CID: [210594](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210594)

Please fix or provide comments in coverity u

[2020-05-28 18:21] zephyrbot opened #25791 "[Coverity CID :210614] Explicit null dereferenced in tests/lib/cmsis_dsp/distance/src/f32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/distance/src/f32.c#L82

Category: Null pointer dereferences
Function: `test_arm_distance`
Component: Tests
CID: [210614](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210614)

Details:

[code]

Please fix or provide comments in

[2020-05-28 18:32] zephyrbot opened #25792 "[Coverity CID :210552] Resource leak in tests/net/pm/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/net/pm/src/main.c

Category: Resource leaks
Function: `test_pm`
Component: Tests
CID: [210552](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210552)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/repo

[2020-05-28 18:32] zephyrbot opened #25793 "[Coverity CID :210561] Resource leak in tests/net/socket/socketpair/src/test_socketpair_unsupported_calls.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/net/socket/socketpair/src/test_socketpair_unsupported_calls.c

Category: Resource leaks
Function: `test_socketpair_unsupported_calls`
Component: Tests
CID: [210561](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210561)

Please fix or provide

[2020-05-28 18:32] zephyrbot opened #25794 "[Coverity CID :210554] Uninitialized scalar variable in tests/net/iface/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/net/iface/src/main.c

Category: Uninitialized variables
Function: `test_select_src_iface`
Component: Tests
CID: [210554](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210554)

Please fix or provide comments in coverity using the link:

https

[2020-05-28 18:32] zephyrbot opened #25795 "[Coverity CID :210564] Uninitialized scalar variable in tests/lib/cmsis_dsp/distance/src/u32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/lib/cmsis_dsp/distance/src/u32.c

Category: Uninitialized variables
Function: `test_arm_distance`
Component: Tests
CID: [210564](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210564)

Please fix or provide comments in coverity using the link

[2020-05-28 18:32] zephyrbot opened #25796 "[Coverity CID :210579] Uninitialized scalar variable in tests/net/socket/socketpair/src/test_socketpair_happy_path.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/net/socket/socketpair/src/test_socketpair_happy_path.c

Category: Uninitialized variables
Function: `happy_path`
Component: Tests
CID: [210579](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210579)

Please fix or provide comments in coverity

[2020-05-28 18:32] zephyrbot opened #25797 "[Coverity CID :210607] Uninitialized scalar variable in tests/net/socket/socketpair/src/test_socketpair_happy_path.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/4653b4e63f886a50ac7b72f8d47ba2950ab2dd0d/tests/net/socket/socketpair/src/test_socketpair_happy_path.c#L139

Category: Uninitialized variables
Function: `happy_path`
Component: Tests
CID: [210607](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210607)

Details:

[code]

Please fix or provi

[2020-05-28 18:59] tejlmand commented on #25656
As a long time CMake user, i'm familiar with ;-separated lists, but in Zephyr, there seem to be a tradition to also allow space-separated lists as arguments.

And because of that, and to stay consistent with `BOARD_ROOT`, `DTS_ROOT`, etc, I think we should still support space-separated lists.

I only made the comment as a work around (or the CMake way :wink: ), as I wasn't aware how easy it would

[2020-05-28 20:12] #25469 closed

[2020-05-28 20:40] jukkar commented on #25797
@cfriedt can you take a look at this one?

[2020-05-28 20:41] jukkar commented on #25796
@cfriedt can you check this one?

[2020-05-28 20:42] jukkar commented on #25793
@cfriedt can you check this one?

[2020-05-28 20:46] jukkar commented on #25788
@cfriedt can you check this one?

[2020-05-28 20:48] jukkar commented on #25780
@cfriedt can you check this one?

[2020-05-28 20:51] jukkar commented on #25737
@cfriedt can you check this one?

[2020-05-28 20:52] jukkar commented on #25736
@cfriedt and this one

[2020-05-28 20:53] jukkar commented on #25731
@cfriedt

[2020-05-28 20:54] jukkar commented on #25727
@cfriedt

[2020-05-28 20:55] akofoed commented on #25693
I have been trying different things:
1) Creating a mutex that ensures MQTT only transmits or receives
2) Playing with different stack-size settings
Both of above does not seem to have any different effect.
But I can provoke the problem if I send data too fast to Zephyr/ESP32.

This is my prj.conf for the ESP WiFi:
[code]
If I enable the passive_tcp option it does not work.
I suspect that the ESP32

[2020-05-28 21:05] cfriedt commented on #25797
Yeah, can it wait a couple of hours?

[2020-05-28 21:27] mbolivar-nordic commented on #25299
Yep, for sure.

It just means the hardware is available for use. In general we're moving towards drivers being automatically enabled if the subsystem is turned on and the right devicetree nodes have status "okay".

[2020-05-28 21:42] cfriedt commented on #25731
I don't have permission to view this error on coverity.com

[2020-05-28 21:57] cfriedt commented on #25737
I can try. Unfortunately, I cannot see the actual error messages from coverity because I lack permissions on the site.

[2020-05-28 22:21] cfriedt commented on #25796
I get 401 unauthorized on the synopsis website.

[2020-05-29 00:38] stephanosio commented on #25751
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:38] #25751 closed

[2020-05-29 00:38] stephanosio commented on #25752
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:38] #25752 closed

[2020-05-29 00:39] stephanosio commented on #25753
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:39] #25753 closed

[2020-05-29 00:39] stephanosio commented on #25754
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:39] #25754 closed

[2020-05-29 00:39] stephanosio commented on #25755
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:39] #25755 closed

[2020-05-29 00:39] stephanosio commented on #25756
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:39] #25756 closed

[2020-05-29 00:39] stephanosio commented on #25757
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:39] #25757 closed

[2020-05-29 00:39] stephanosio commented on #25758
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:39] #25758 closed

[2020-05-29 00:39] stephanosio commented on #25759
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:39] #25759 closed

[2020-05-29 00:39] stephanosio commented on #25760
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:39] #25760 closed

[2020-05-29 00:39] stephanosio commented on #25761
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:39] #25761 closed

[2020-05-29 00:40] stephanosio commented on #25762
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25762 closed

[2020-05-29 00:40] stephanosio commented on #25763
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25763 closed

[2020-05-29 00:40] stephanosio commented on #25764
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25764 closed

[2020-05-29 00:40] stephanosio commented on #25765
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25765 closed

[2020-05-29 00:40] stephanosio commented on #25766
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25766 closed

[2020-05-29 00:40] stephanosio commented on #25767
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25767 closed

[2020-05-29 00:40] stephanosio commented on #25768
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25768 closed

[2020-05-29 00:40] stephanosio commented on #25769
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25769 closed

[2020-05-29 00:40] stephanosio commented on #25770
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25770 closed

[2020-05-29 00:40] stephanosio commented on #25771
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25771 closed

[2020-05-29 00:40] stephanosio commented on #25772
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:40] #25772 closed

[2020-05-29 00:41] stephanosio commented on #25789
False Positive-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:41] #25789 closed

[2020-05-29 00:41] stephanosio commented on #25791
False Positive-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:41] #25791 closed

[2020-05-29 00:42] stephanosio commented on #25795
False Positive-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:42] #25795 closed

[2020-05-29 00:43] stephanosio commented on #25773
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:43] #25773 closed

[2020-05-29 00:43] stephanosio commented on #25774
Intentional-Ignore

For more details, refer to the Coverity history.

[2020-05-29 00:43] #25774 closed

[2020-05-29 05:30] lylezhu2014 commented on #23949
Thanks.

[2020-05-29 06:44] asob opened #25811 "K22F USB Console/Shell"
I've been testing out Zephyr's USB connectivity options on FRDM-K22F and got some questions:

1.  `samples/subsys/usb/console/` compiles and runs okay as long as the USB is connected. If usb is not connected the application will not run, this happens, as I can see it because of flag `CONFIG_USB_UART_DTR_WAIT=y`. My understanding was that if i compile the app with `CONFIG_USB_UART_DTR_WAIT=n` the a

[2020-05-29 06:50] nordic-krch commented on #25682
shell uart backend may use interrupt API and there was #22355 merged after 2.2 which should fix concurrent use of polling and interrupt.

[2020-05-29 07:02] lylezhu2014 opened #25812 "Question about the Peer_Address_Type of HCI_LE_Create _Connection command of Bluetooth Host"
I encountered an issue that Zephyr V2.2.0 BLE host (named A device) cannot connect to a peer (named B device) with an RPA address.

The background is,
a.	Both of peers have performed the bonding procedures and distributed their respective IRKs.
b.	The peer device has been added into resolving list. And resolution of Resolvable Private Addresses has be enabled.
c.	B device is advertising with RPA.

[2020-05-29 07:24] endian-benjamin commented on #23424
How do I talk to regarding updating mbedTLS? `CODEOWNERS` isn't clear. @nashif ? @ceolin ?

[2020-05-29 07:32] tsvehagen commented on #25693
@akofoed What is your sending threads priority?

FYI: Passive mode for ESP32 does work but you will need https://github.com/zephyrproject-rtos/zephyr/pull/25404 and a pretty new firmware on the ESP32. Espressif have made some fixes for passive mode which has not been in any release yet so you will have to build the firmware yourself.

[2020-05-29 07:38] akofoed commented on #25693
I have two threads sending stuff, one on prio 6 and one that runs prio 4. So I thought that setting the ESP to 3 would be a good idea

[2020-05-29 08:33] jfischer-phytec-iot commented on #25811
There is a bug that prevent initialization of the usb if DTR_WAIT is not enabled, I already mentioned it on the slack but forgot to fix. @asob Please try the patch below, I will open a PR later.

[code]

[2020-05-29 08:45] aescolar commented on #25327
@galak : If the idea is to continue redefining the types in `include/toolchain/zephyr_stdint.h` then please also redefine their PRI macros so users can use them for printing.
Though I really do not understand why you keep singling out native_posix_64 given that that header redefinition are today needed for many platforms (just comment out its content and try to run some test)

[2020-05-29 08:48] carlescufi commented on #25779
@ozhuraki will you be able to provide a fix for this in time for 2.3.0?

[2020-05-29 09:17] IRISZZW commented on #25750
this issue will cause tests/kernel/timer/timer_api failure in emsdp_em7d_esp board.
https://github.com/zephyrproject-rtos/zephyr/blob/3a04536487797825d28160479a30ad0b72dca7cf/tests/kernel/timer/timer_api/src/timer_convert.c#L163-L179

When `sys_rand32_get()` return a very big value, it will cause test failure.
And this will happen every time you run in emsdp_em7d_esp board.

root cause:

https://g

[2020-05-29 10:59] carlescufi commented on #21877
Closing this since it needs a second UART

[2020-05-29 10:59] #21877 closed

[2020-05-29 11:11] #25656 closed

[2020-05-29 11:11] #25694 closed

[2020-05-29 11:14] nordic-krch opened #25820 "kernel: k_timer_start(timer, K_FOREVER, K_NO_WAIT) expires immediately"
**Describe the bug**
When timer is started with `K_FORVER` it shall never expire but it expires immediately.

**To Reproduce**
Use `hello_world` sample and modify `main.c`:
[code]
Observe something like:
[code]

**Expected behavior**
`timeout 120104` shall never appear on the console.

**Impact**
Expected timer misbehaves and might have critical impact.

**Environment (please complete the followin

[2020-05-29 11:17] nordic-krch commented on #25820
@andyross the problem is caused by https://github.com/zephyrproject-rtos/zephyr/blob/ba487feb0f2c6c1edeb4ddb52db3405f94c7414e/kernel/timer.c#L132

if ticks is `K_FORVER_TICKS` then `Z_TICKS_ABS` returns `-1` and `duration.ticks` is set to 0.
[code]

I would change it to:
[code]
but leaving it to you as there might be better/cleaner solution.

[2020-05-29 11:23] pabigot commented on #25750
The Coverity issue is not with line 111, but with:

https://github.com/zephyrproject-rtos/zephyr/blob/3a04536487797825d28160479a30ad0b72dca7cf/include/sys/time_units.h#L118

and the complaint is that the multiplu is done with 32-bit unsigned values which produces a truncated 32-bit unsigned value, but the return value from the function is 64-bit unsigned which Coverity takes as evidence that the f

[2020-05-29 11:29] jukkar commented on #25659
Just fyi, a PR for the -I option in ping was just submitted #25816

[2020-05-29 11:42] eyuval commented on #25659
Great. Thanks for the information

[2020-05-29 12:13] #20991 closed

[2020-05-29 12:49] jilu-ot opened #25824 "Unpacked bt_l2cap_le_conn_rsp struct is causing corrupt L2CAP connection request responses on some platforms"
**Describe the bug**
The bt_l2cap_le_conn_rsp struct in zephyr/subsys/bluetooth/host/l2cap_internal.h has not been declared __packed. This can cause alignment problems on some platforms if the struct is placed on an unaligned address.

A __packed declaration would solve this issue by forcing the compiler to use store instructions that do not required alignment.

**To Reproduce**
This can be seen b

[2020-05-29 13:50] mbolivar-nordic opened #25827 "Devicetree: add accessors with defaults"
**Is your enhancement proposal related to a problem? Please describe.**

It's inconvenient to get a devicetree property if it exists and substitute a default if it isn't. This should be fixed, and also fixed for cells, in particular 'flags' cells.

**Describe the solution you'd like**

Add macros for "get me this property value if it exists, or this default value otherwise".

We should do the same

[2020-05-29 14:45] andyross commented on #25820
Good point.  FWIW: your fix would have saved a comparison, but didn't address the same bug in LEGACY mode.  In this situation it was easier to just add the single test/branch to the top of the function.

[2020-05-29 15:43] #25824 closed

[2020-05-29 16:30] hakehuang opened #25832 "[test][kernel][lpcxpresso55s69_ns] kernel cases meet ESF could not be retrieved successfully"
**Describe the bug**
kernel test case: kernel.memory_protection.gap_filling reports
ESF could not be retrieved successfully

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=lpxxpresso55s69_ns -D
3. make flash

**Expected behavior**
ALL test pass

**Impact**
non-security core may have problem

**Screenshots or console output**
[code]

**Environment (pleas

[2020-05-29 16:31] hakehuang commented on #25832
@MaureenHelm

[2020-05-29 16:38] hakehuang opened #25833 "[lpcxpresso55s69_cpu1] no applications and build guide, hello world can not build"
**Describe the bug**
lack supporting information for lpcxpresso55s69_cpu1

**To Reproduce**
Steps to reproduce the behavior:
if using hello world
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso55s69_cpu1 ..
3. make
4. see error

**Expected behavior**
expect to have cpu1 core application guide

**Impact**
lpcxpresso55s69_cpu1 core can not demo

**Screenshots or console output**
[code]

**Envir

[2020-05-29 17:59] #25820 closed

[2020-05-29 18:07] agansari commented on #25833
https://docs.zephyrproject.org/latest/boards/arm/lpcxpresso55s69/doc/index.html#supported-features

[2020-05-29 18:09] agansari commented on #25833
It can work similar to how LPC54114's dual core works

[2020-05-29 20:49] tejlmand commented on #5517
@cfriedt Thanks for the hints. And happy to see you following this work.
And feel free to give input to upcoming toolchain related PR's, i'm sure you have high experience and can provide valuable feedback.

It is correct that first step is to get everything compiling, but i'm sure @TTornblom want Zephyr to be able to link using the IAR linker also.

[2020-05-29 21:01] asob commented on #25811
@jfischer-phytec-iot

Thanks for the patch, for some reason `git apply <patch>` didn't work fork me, kept throwing the same errors:
[code]

But I went ahead and just modified the `uart_console.c` manually, the results are as follows:

1. Board is powered on, code starts executing
2. Connect USB, CDC Serial is detected in Device Manager
3. Open up terminal (PuTTY) -> Console output is visible
4. Di

[2020-05-29 21:16] ceolin commented on #23424
It is not clear for me if we will have another 2.x LTS release and from 3.0 release mbedTLS will be splitted into two, crypto and TLS. We will need to come up with a plan to support this.
Until there I think it is problematic  uses a version that will no be supported and not receive the proper fixes.

[2020-05-29 21:54] tgraydon commented on #19739
I am seeing this with Jenkins as well. I am using Jenkins to fire off a script that in turn runs sanitycheck. The scripts run fine at the command line, but this "Inappropriate ioctl for device" error spews when I run these scripts from Jenkins.

Preliminary investigation leads me to believe that this is because Jenkins is not really using a terminal for running scripts, and stty functions, like tu

[2020-05-30 12:39] jaslob opened #25847 "Problems using math functions and double."
I'm new to Zephyr and did another small test application.
I'm able to build the application but when I try to run the application I receive an error.
I can't use the math functions and have also trouble just adding two doubles. Why is that? I guess I have problems with the configuration. Thanks for your help.

main.cpp
[code]

prj.conf
[code]

Error:
[code]

[2020-05-30 13:06] stephanosio commented on #25847
Try setting `CONFIG_MAIN_STACK_SIZE=2048`

[2020-05-30 13:12] jaslob commented on #25847
Thanks but that didn't help.

[2020-05-30 13:41] sslupsky commented on #24910
@carlescufi The problem continues to be an issue.  I have not had the time yet to get back to this and investigate further why this is happening.  My current understanding is that when the stack sentinel fires, it puts the log system into panic mode.  When that happens, the stack depth appears to go crazy which leads to another fault. I am not sure there is some recursion going on or if this is an

[2020-05-30 13:42] stephanosio commented on #25847
Try setting:
[code]

[2020-05-30 14:04] jaslob commented on #25847
Thank you so much. That helped.

[2020-05-30 18:04] Nukersson commented on #24767
Would you like to implement the STM32H7's ETH driver for Zephyr?

[2020-05-31 14:55] mtahirbutt opened #25853 "modem_ublox_sara_r4: Cannot connect to UDP remote"
**Describe the bug**
A clear and concise description of what the bug is.

I am using modem with updatehub, #25558. But I see the similar error pattern as that with #25600.
Once I switch off (remove) antenna. The signal levels go down and socket connection gets lost but cannot connect again unless I reset the board.

What have you tried to diagnose or workaround this issue?

I also tried to reconne

[2020-05-31 16:04] vla3913 commented on #25021
I have difficulties to have the Mbedtls hardware entropy poll working on qemu x86. Do you know who I can contact on the subject ?

[2020-05-31 16:06] vla3913 commented on #25046
I have difficulties with qemu x86 entropy pool for mbedtls. Do you know who I can contact on the subject ?

[2020-05-31 16:07] vla3913 commented on #25046
We started working on the subject too and would be happy to help.

[2020-05-31 18:09] andrewboie commented on #24910
As far as I know the MPU on Cortex-M0 is enabled.

Have you checked if CONFIG_MPU_STACK_GUARD is enabled in your project?
Look at `zephyr/.config` in your build directory.

[2020-05-31 18:50] carlescufi commented on #25847
Closing this as it seems solved. Thanks @stephanosio

[2020-05-31 18:50] #25847 closed

[2020-05-31 20:18] aport opened #25858 "Net shell utilities do not work with NET_OFFLOAD or NET_OFFLOAD_SOCKET"
**Describe the bug**
When using a SARA-R4 modem with the NET_OFFLOAD driver, I would expect the net shell utilities to work. Unfortunately they depend on NET_NATIVE to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Build Zephyr with a NET_OFFLOAD=y, NET_NATIVE=n, NET_SHELL=y
2. Attempt to use any of the net shell utilities
3. Observe that utilities have no effect and are non functiona

[2020-05-31 20:24] NilsMinor opened #25859 "mesh example not working with switched off dcdc?"
**Describe the bug**

I am building the **onoff_level_lighting_vnd_app** example the the **nrf52dk_nrf52832** board setup. As I am using a custom board that does not implement the nrf52 dcdc I changed the Kconfig file and switched off the DCDC.

[code]

Building and flashing works fine. I am using the nrf mesh app for provisioning. I select the zephyr board, connecting, initialize and provisioning

[2020-05-31 23:43] alister-f commented on #24767
Can’t get involved at this time.

From: Alexander Kozhinov <notifications@github.com>
Sent: Sunday, 31 May 2020 4:04 AM
To: zephyrproject-rtos/zephyr <zephyr@noreply.github.com>
Cc: Alister Fisher <alister@advateklights.com>; Comment <comment@noreply.github.com>
Subject: Re: [zephyrproject-rtos/zephyr] Ethernet support for STM32H747 (#24767)

The RBU and other problems with ST's STM32H7 HAL ethern

[2020-06-01 01:32] IRISZZW commented on #25750
@pabigot In my case, the test failure is caused by line 112.
https://github.com/zephyrproject-rtos/zephyr/blob/3a04536487797825d28160479a30ad0b72dca7cf/include/sys/time_units.h#L112
When` sys_rand32_get() `return a very big value, such as 0xFFFFFF00(it is possible).
https://github.com/zephyrproject-rtos/zephyr/blob/3a04536487797825d28160479a30ad0b72dca7cf/tests/kernel/timer/timer_api/src/timer_con

[2020-06-01 01:50] zzzh opened #25863 "Where is the definition of SystemInit()?"
In soc/arm/nordic_nrf/nrf52/soc.c, there's a SystemInit(), which I can't find any definition in files under zephyr folder.
So, where's the definition of it?

[2020-06-01 01:54] stephanosio commented on #25863
Try https://github.com/zephyrproject-rtos/hal_nordic

[2020-06-01 02:35] zzzh commented on #25863
Found it in hal_nordic, cool.
Thank you, stephanosio.

[2020-06-01 02:35] #25863 closed

[2020-06-01 02:59] wentongwu commented on #22941
@pabigot if the dependencies are only about:  1. get the last level's parent(s) of given `struct device` which will be used in device runtime pm where the number of reference children will be counted at runtime; 2. construct ordered list where parent will be at the front of children(devices will be suspended following this list and resumed in the converse order for the case of devices following sy

[2020-06-01 04:59] hakehuang commented on #25833
I can not find any more details steps on how to use cpu1 core.

[2020-06-01 05:58] Nukersson opened #25865 "Device Tree Memory Layout"
Currently there is only one SRAM of type "mimo-sram" defined in each *.dts file of each board.
Is it possible to create multiple SRAM segments in SoC and then choose one of them or multiple at same time from *.dts file accordingly?
One of the application fields would be SRAM implementation in STM3H7 series with it's axi-sram, sram0, sram1, sram2... - each of them placed at own (not necessarily com

[2020-06-01 07:05] erwango commented on #25865
@galak what is your point view? How should we start adding new sram areas ?

[2020-06-01 07:06] erwango commented on #25658
@baw-serafin can you update SDK an have a new try?

[2020-06-01 07:16] SocIt2Em commented on #25682
@carlescufi currently I am using platformio which uses Zephyr version 2.202. Did an update command, but said 2.2 is uptodate.
I suspect you are right @pabigot as I commented out all offending lines and compiled  and ran ok. however when I added another class instance, got the shell frozen problem again.
Also I did not check LOG_X as for some reason I could not get it Logging working again.
The onl

[2020-06-01 08:59] Nukersson commented on #25865
There are my ideas listed below:

- Each SoC must define at least one SRAM region (e.g. sram0)
- Each SoC can define more than one SRAM region additional to sram0 (e.g. sram1, sram2, sram3,...)
- Each board ( BSP ) have to choose at least one SRAM region (e.g. sram0 or sram1 or else). This region must be defined as `zephyr,sram` in corresponding BSP *.dts file. This SRAM region is obligatory, sinc

[2020-06-01 10:04] jukkar commented on #25858
Atm net-shell tcp command still uses net_context API instead of BSD socket API. So currently tcp command will not work with `CONFIG_NET_OFFLOAD_SOCKET` but should work with  `CONFIG_NET_OFFLOAD` so we could allow that. The best option would be to convert the tcp command to use normal BSD socket APIs so that it could work with all options.

[2020-06-01 10:19] carlescufi opened #25869 "2.3: Missing release notes"
- [x] Overview: @carlescufi
- [x] Kernel: @andrewboie @andyross @nashif
- Architectures
  - [x] ARC: @ruuddw , @vonhust
  - [x] POSIX: @aescolar
  - [x] x86: @andrewboie @andyross @nashif
- Drivers and sensors @MaureenHelm #25949
  - [x] CAN
  - [x] Console
  - [x] Display
  - [x] Entropy
  - [x] Hardware Info
  - [x] I2S
  - [x] Interrupt Controller
  - [x] IPM
  - [x] Keyboard Scan
  - [x] LED:

[2020-06-01 10:21] pabigot opened #25870 "tests/kernel/timer/timer_api fails conversion tests with large offset"
When `sys_rand32_get()` return a very big value, it will cause test failure.
And this will happen every time you run in emsdp_em7d_esp board.

root cause:

https://github.com/zephyrproject-rtos/zephyr/blob/3a04536487797825d28160479a30ad0b72dca7cf/include/sys/time_units.h#L109-L112

serial output:

[code]

@vonhust @ruuddw

@pabigot In my case, the test failure is caused by line 112.
https://github

[2020-06-01 10:22] pabigot commented on #25750
OK, I see what might be happening here.  Nonetheless, that isn't what this issue is about.  I've opened
#25870 to track what you see.

[2020-06-01 10:34] pabigot commented on #25870
@IRISZZW I can see this happening in theory, but can't immediately reproduce it.

[code]
Per https://github.com/zephyrproject-rtos/zephyr/issues/25750#issuecomment-635920400 this is clearly wrong.  Please apply the fix in #25821 to the test and report back with the corrected output including the to and from frequencies (because 0 is clearly not valid) so we can see what frequencies are being used

[2020-06-01 10:42] pabigot commented on #25870
OK, I reproduced it on a board with a fast clock.  Here's the failure:
[code]

[2020-06-01 10:43] pabigot commented on #25870
FWIW: This is a bug in the test, not in the conversion.  This check:
[code]
appears to be insufficient.

[2020-06-01 11:24] pabigot commented on #25870
This is a bug in the conversion.  The failing case above is:

	 TESTREC(cyc, ms, near, 32),

The failure is in the near conversion because the overflow of 32-bits occurs when the input is converted, as @IRISZZW noted:

[2020-06-01 12:59] #25779 closed

[2020-06-01 13:02] pabigot commented on #22941
@wentongwu That's about what I'd assumed we'd do, though dependencies are static (I don't see why they would be dependent on power state).  The blockers are representation of device handles, and how to manage dependencies between devices and non-device functions.  The latter may need to be done manually in the driver source.

[2020-06-01 13:40] galak commented on #25865
There are examples already like the nxp_lpc55S6x_common.dtsi in which we have multiple SRAM regions defined in the DTS.  That is pretty straight forward to support.  We can select which memory region to use via zephyr,sram & optionally (zephyr,code-partition).

the more complicated scenarios come into play if we want to utilize multiple regions and how that would work.  Less from a DTS point of vi

[2020-06-01 13:50] Nukersson commented on #25865
Does Zephyr already has documentation for `zephyr,code-partition` usage?

[2020-06-01 14:07] mbolivar-nordic commented on #25869
There are just API conversions for DT and timeouts in these since 2.2. Is it worth writing into the release notes?

[2020-06-01 14:19] galak commented on #25865
there's a little bit of docs at https://docs.zephyrproject.org/latest/reference/devicetree/index.html

[2020-06-01 14:42] cvinayak commented on #25859
@NilsMinor Please test the samples/bluetooth/peripheral sample on your custom board and check for its interoperability with a samples/bluetooth/central_hr on a nRF52DK board (and may be test with a phone with nRF Connect app). This is to rule out any clock and/or antenna matching issues in your custom boards.

[2020-06-01 15:09] galak commented on #25327
What do you mean redefine them?  What is wrong with how they are defined?

I single out native_posix_64 as its the only platform that the way sized types differs and we don't have control in Zephyr of how they are defined.

For all non-native posix platforms Zephyr is controlling how {u}int{8,16,32,64}_t are defined.  We are setting them exactly the some across all architectures we support.

So fo

[2020-06-01 15:39] erwango commented on #25865
@galak txs for feedback, I though this was blocked for some reason.

[2020-06-01 16:33] petejohanson opened #25880 "stm32wb: Unable to use BLE and USB host simultaneously."
**Describe the bug**

I'm developing an application that is exposing HID devices over USB and BLE (HID over GATT), using an stm32wb55rg dev kit as my current target board.

Currently, I can use one or the other (USB or BLE) successfully w/ Zephyr  `master`, but trying to enable *both* results in the USB stack failing to work... `dmesg` on my laptop shows errors pertaining to failure to enumerate t

[2020-06-01 16:51] andrewboie commented on #8559
So at this point we only enable user mode for tests that use it, and not too long ago I merged the privilege stack and kernel object gperf tables, improving build times for ARM.

I think at this point the only further optimization is a faster DWARF scanner. I'm going to lower the priority of this ticket back to 'low'.

[2020-06-01 16:53] andrewboie commented on #23877
The docs are up-to-date with the best practice. I think we can close this ticket.

[2020-06-01 16:53] #23877 closed

[2020-06-01 18:26] aescolar commented on #25327
For those who use the libC provided by Zephyr nothing as you are matching them.
But I guess users who chose to use another libC can just redefine those on their own if they need (which they may not need anyhow, if their libC is not using those __*INT*_TYPE__ macros)

I had assumed you were intending to not do that anymore, as from your comment above ("_One question as I worked up PR is how to hand

[2020-06-01 18:29] Nukersson commented on #25865
@galak What do you mean under data interpretation?
As a first step I would suggest just named sections in splitted SRAM regions for use as a named section in code.
Then they can be used as `__attribute(section("sectionName"))` in code.

[2020-06-01 18:51] galak commented on #25327
Ah, sorry for the confusion there.  I do think we should keep that commit as the whole reason Nicolas had to introduce `include/toolchain/zephyr_stdint.h` was to get 32-bit integer the same on all platforms.  We should have been doing the 64-bit case as well, but guess the number of 64-bit arch's has been low til recently :)

[2020-06-01 19:01] galak commented on #25865
I just mean we already produce defines for the various memory regions.

If there are more than one SRAM region, how would you like to utilize them?

[2020-06-01 19:21] andrewboie commented on #25327
Is this a situation where we could solve this for most people by defining `__UINT64_TYPE__`  to be `unsigned long` and not `unsigned long long` on 64-bit LLP64 systems in our headers?

[2020-06-01 19:29] galak commented on #25327
Unfortunately for all the 32-bit platforms 'unsigned long' isn't going to work ;)

[2020-06-01 19:59] #25730 closed

[2020-06-01 19:59] NilsMinor commented on #25859
HI @cvinayak I tested the _samples/bluetooth/peripheral_ example and connected my board to nrf Toolbox which worked fine :) I flashed the _onoff_level_lighting_vnd_app_ example again, on the same board but the behavior is the same. Requesting composition data takes very long and it is not possible to bind an application key.

[2020-06-01 20:25] carlescufi commented on #25859
@trond-snekvik do you have experience with mesh and DC/DC disabled?
@cvinayak do you think advertising and scanning could somehow be affected by this?

[2020-06-01 21:19] andrewboie commented on #25327
Yes, my suggestion was to conditionally compile it.
There's even a compiler predefined macro `__LP64__` you can use

[2020-06-01 21:40] pabigot opened #25887 "legacy timeout API does not work as expected"
With `CONFIG_LEGACY_TIMEOUT_API=y` this:
[code]
prints
[code]
and presumably would print
[code]
if I waited long enough.

[2020-06-01 21:42] Vudentz commented on #25474
@jukkar Does the interface being down makes bind fails?

[2020-06-01 22:26] sslupsky commented on #24910
I believe that is what I checked and it was not enabled.  I will have another look but I do not think M0 has MPU.

I encountered this problem again over the weekend.  I think the underlying issue is that the shell loops endlessly when there is a log panic.  Seems related to the USB CDC and polling mode.  I also run the Segger backend for my logging so have two backends running if I fire up the deb

[2020-06-01 22:31] andyross commented on #25887
K_USEC and K_NSEC are new macros, they didn't exist for legacy code so I don't undertand filing a bug report against them.  Is there old code that's going to break because the new macros don't honor old units correctly?

[2020-06-01 22:33] andyross commented on #25887
For clarity: I mean, if you want you can stick those macros inside an "#ifndef CONFIG_LEGACY_TIMEOUT_API".  I just don't see the point.

[2020-06-01 22:46] pabigot commented on #25887
Sure, but it's obviously confusing or we wouldn't have gotten that question on slack.  Making it work as expected seems trivial.

[2020-06-01 22:46] galak commented on #25327
Doing that gets us back into the headache of having to use PRI macros all over the place since the fundamental type would be changing between arch builds.  I thinking its better to keep everything consistent (which was why we introduced the u32_t/u64_t type to start with) is what we should be aiming for.

[2020-06-01 22:57] andyross commented on #25887
I'd definitely prefer to wall off the new APIs from legacy usage vs. trying to add code to a legacy mode.  Making it work "right" only perpetuates a mode we're trying to deprecate.  The simple answer for anyone trying to do this (i.e. mix legacy mode with the new units) is "don't".

[2020-06-02 00:05] andrewboie commented on #24910
Oh that's right, you did check earlier. Mea culpa.

Lots of people use stack sentinel without issues (even though at heart it's a dirty hack) I wonder if the trouble you are having is due to something with the specifics of how log backends or other debug stuff is set up in your configuration.

One thing to try on your board is to run the test `tests/kernel/fatal` on your board using `sentinel.conf

[2020-06-02 00:36] nandojve commented on #25853
CC: @otavio

[2020-06-02 01:05] SocIt2Em commented on #25682
in prj.conf I added
CONFIG_LOG_BACKEND_UART=y
Still can get shell to freeze for some unknown reason or for float, however I get this error back on uart:-

[00:00:00.052,886] <err> os.usage_fault: ***** USAGE FAULT *****
[00:00:00.059,906] <err> os.usage_fault:   Illegal load of EXC_RETURN into PC
[00:00:00.068,084] <err> os.esf_dump: r0/a1:  0x00000001  r1/a2:  0x000172f3  r2/a3:  0x80000000
[00:0

[2020-06-02 01:39] wentongwu commented on #22941
@pabigot Thanks, but what's the meaning of the `representation of device handles`? And I see your comments https://github.com/zephyrproject-rtos/zephyr/pull/24514#issuecomment-637208934, also new version pm subsystem is expected in 2.4 cycle, but the first we should give a solution for the device dependency. And above I just give the two possible use cases about the device dependencies from pm per

[2020-06-02 01:46] andrewboie opened #25891 "per-memory domain copies of libc globals"
**Is your enhancement proposal related to a problem? Please describe.**
tl;dr: Library globals only have one instance even if the project has multiple logical applications sharing the same micro-controller. In addition we currently require 1 memory partition per library which scales horribly.

With `CONFIG_USERSPACE`, memory domains control user thread access to memory that isn't the thread's stac

[2020-06-02 02:54] IRISZZW opened #25892 "arc emsdp board work wrong with emsdp_em7d_esp config"
**Describe the bug**
it seems the program is stuck.

**To Reproduce**
Test example: samples/philosophers
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=emsdp_em7d_esp ..
3. ninja
4. ninja flash

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (Windows)
 - Toolchain (cross-compile)
 - newest master bra

[2020-06-02 03:00] IRISZZW commented on #25892
emsdp_em7d_esp is a board with secure just like em_starterkit_em7d, but the secure feature not configed in defconfig file. we need to add below configs in emsdp_em7d_esp_defconfig files.
https://github.com/zephyrproject-rtos/zephyr/blob/394ff7a28b6baf2d41e1d84baae479ef55458f75/boards/arc/em_starterkit/em_starterkit_em7d_defconfig#L21-L22

[2020-06-02 05:42] Navin-Sankar commented on #25474
@jukkar enabled CONFIG_NET_SHELL=y ip address is only assigned when it connects to linux host.When I try to connect to zephyr ipsp server, ````net iface```` command shows interface is down and ip address is not assigned

Is there is any configuration to enable in server side?

[2020-06-02 06:07] rgujju opened #25893 "Application syscalls in usermode gives bus fault with stacking error"
**Describe the bug**
I am trying to follow the instructions about using application syscalls in usermode from [here](https://docs.zephyrproject.org/latest/reference/usermode/syscalls.html) and i am getting a bus fault with stacking error. I have tried increasing stack size to 4096 but still seeing the same issue.
It works perfectly if i create the thread without the `K_USER` option.

Also there is

[2020-06-02 07:57] jukkar commented on #25474
That could be it.

Especially if the network interface does not have yet IP address, then binding could fail.

[2020-06-02 08:46] jdascenzio opened #25895 "driver: timer: stm32_lptim: backup domain is reset"
**Describe the bug**
When the stm32 lptimer is used, the backup domain is reset.

**To Reproduce**
Enable the stm32 lptimer with: `CONFIG_STM32_LPTIM_TIMER=y`

**Impact**
The backup domain reset removes:
- RTC configuration
- backup registers
- RCC Backup domain control register

[2020-06-02 09:20] Nukersson commented on #25865
1. Giving a name to each SRAM region (e.g. "my_sram_region_name_1" )
2. Using it within `__attribute(section("my_sram_region_name_1"))` for static variables.
3. Placing complete *.o files there should stay optional.

[2020-06-02 10:51] rlubos commented on #25787
False positive, `scan_done_cb` pointer is explicitly verified with `zassert_not_null` just before it's called.

[2020-06-02 10:51] #25787 closed

[2020-06-02 10:51] rlubos commented on #25785
False positive, `scan_done_cb` pointer is explicitly verified with `zassert_not_null` just before it's called.

[2020-06-02 10:51] #25785 closed

[2020-06-02 11:26] endian-benjamin commented on #23424
@jukkar seems to think LTS is not 100% mandatory.

Note though that IMO connection ID is a pretty killer feature for IoT, based on discussions with various industry players. It's not some fringe nice-to-have.

[2020-06-02 11:53] jukkar commented on #23424
What do you mean by this, I am not  following you?

[2020-06-02 12:20] JordanYates opened #25901 "timer: nrf_rtc_timer: Subtraction underflow causing 8 minute time skips"
**Describe the bug**
Due to a logic/synchronisation error in `nrf_rtc_timer.c`, it is possible for the tick subtraction in `z_clock_set_timeout` to underflow.

The observed situation is that the value of `last_count` is GREATER than the current counter value.
This occurs several seconds after startup, when neither value is close to their 2^24 limits.
https://github.com/zephyrproject-rtos/zephyr/bl

[2020-06-02 13:20] endian-benjamin commented on #23424
@jukkar https://github.com/zephyrproject-rtos/zephyr/issues/23424#issuecomment-599046472

[2020-06-02 13:21] #25887 closed

[2020-06-02 13:22] #25702 closed

[2020-06-02 13:53] jukkar commented on #25853
There was some discussion in slack about modems and PPP.
https://zephyrproject.slack.com/archives/CK4LW9NBB/p1590335212147600
So basically if PPP connection goes to PPP_DEAD state, it cannot recover itself but would require some entity to restart it. Are you using PPP with the modem or offloading driver with AT commands?

[2020-06-02 14:05] joerchan opened #25904 "kernel: k_queue_get return NULL before timeout"
**Describe the bug**
The API call `k_queue_get` return no data element before timeout has expired.
Calling either `k_queue_get(queue, K_FOREVER);` or `k_queue_get(queue, K_SECONDS(20))` return `NULL` within one second.

This appears to occur because two threads are both waiting for an element in the queue.
Once an element is posted to the queue, both threads are woken, one will retrieve the new el

[2020-06-02 14:21] jukkar commented on #25046
@ceolin is probably the best contact here

[2020-06-02 14:22] carlescufi commented on #25904
As a reminder, the loop was introduced by @andyross to fix the exact same symptom we are seeing now:
https://github.com/zephyrproject-rtos/zephyr/commit/b173e4353fe55c42ee7f77277e13106021ba5678#diff-ec46254d7d7d1ff37f681251c352e3f8

[2020-06-02 14:29] jukkar commented on #23424
Yes, I got that reference, I just do not understand you comment. How my comment "I think we can update the mbedTLS as needed." is related to to your comment. All I am saying that if there are bugs in zephyr used mbedtls, we can always upgrade to newer version, it was just a generic comment. How mbedtls LTS release is relevant here?

[2020-06-02 14:32] nashif commented on #25904
we need some test coverage for this... "fool me once, ..."

[2020-06-02 14:49] andyross commented on #25904
Heh, oops.  FWIW: the right fix, if I have time, is to remove that usage of poll within queue.  There's no reason to sleeping using poll (as discovered it's racy and subtle) per se, you do it when you need to sleep on more than one thing.  And this code doesn't.

[2020-06-02 14:51] nashif commented on #25904
@andyross  apparently this blocks another High bug in the Bluetooth, so we need this fixed for 2.3, so we have time :)

[2020-06-02 14:55] carlescufi commented on #25904
@andyross would it be possible to fix this first by re-adding the loop so we can continue the investigation of the other high-prio bug, and then defer the clean fix for 2.4?

[2020-06-02 15:03] joerchan commented on #25904
Is this behaviour documented for users of k_poll API?
Having event.state == K_POLL_STATE_FIFO_DATA_AVAILABLE and still having an empty queue, or should this be handled by k_poll?
I'm thinking about the other high-prio bug for blueooth where k_poll could be used as a fix.

[2020-06-02 15:13] #25895 closed

[2020-06-02 15:17] ABOSTM commented on #25719
I found similar mixing when running:
* sanitycheck -N --device-testing --hardware-map ../map.yaml -c -p nucleo_f746zg   -T samples/drivers/watchdog/ -T samples/drivers/can/
* sanitycheck -N --device-testing --hardware-map ../map.yaml -c-p nucleo_f303re -T tests/kernel/mem_slab

[2020-06-02 15:27] andyross commented on #25904
It's an internal thing, so it's not documented.  Basically CONFIG_POLL means two things inside of k_queue: first it enables the use of the "DATA_AVAILAILABLE" poll event so users can block using k_poll() on a mix of queues/fifos/lifos and other objects like semaphores.  That's good.

The other thing it does is that it uses k_poll() as the blocking mechanism inside of k_queue_get().  That is, it wi

[2020-06-02 15:53] joerchan commented on #25904
@andyross Ok, I  think it would be better to document it 2.3 release and postpone the fix for 2.4 though. And then put the loop back for the 2.3 release.

[2020-06-02 16:02] #25811 closed

[2020-06-02 16:03] #25697 closed

[2020-06-02 16:26] andyross commented on #25904
I suspect the code removal is going to be easier to review than the timeout loop, honestly.  But I can do both and folks can pick.

[2020-06-02 17:09] rhardik opened #25907 "Request for Flash Logging feature"
**Problem**
It's very difficult to connect UART/Jlink to get logs in-field devices.
and some of my devices getting crash after 3 to 4 days but I get no log to debug the issue.

**Solution**
I am looking for a feature where I can store the normal/crash logs in flash.
Similar to  [Nordic_SDK_Flash_Logging_feature]( https://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.sdk5.v15.0

[2020-06-02 17:10] galak commented on #25327
@sjg20 was curious how the u-boot sandbox deals with mixing use of libc or library from host system while defining its own types.

[2020-06-02 17:25] joerchan commented on #25904
Ok, looking at the PR that is up you might be right. I don't understand all parts of it though, So I'll leave it to the other reviewers.

[2020-06-02 17:34] nvlsianpu commented on #25664
I check that the on of the biggest mcuboot configuration (USB CDC-ACM recovery + logging via serial) consumes 62936 B.
This is expected that on more constrained SoC we reserve less memory, but on the bigger one - why not have boot partition at 64 KB szie?
Especially we can resign form scratch partition at all and use this lived memory (at lease 10 pages per 4K) somewhere else.
(slot has to be equa

[2020-06-02 17:49] carlescufi commented on #25719
@nashif could you take a look?
CC @PerMac

[2020-06-02 18:11] #25880 closed

[2020-06-02 18:57] rgujju commented on #25893
This may be related to stack alignment. If i change the way i create a stack from `k_thread_stack_t blinky_stack[4096];` to `K_THREAD_STACK_DEFINE(blinky_stack, 4096);` it works.

[2020-06-02 19:49] #22625 closed

[2020-06-02 20:03] carlescufi opened #25910 "Cross-arch IRQ priority get/set"
I'd like Zephyr to have, in `include/irq.h`:

[code]
So one can get and set the priority of an interrupt without having to resort to arch-specific code (eg. `NVIC_SetPriority()` which to make matter worse doesn't take into account the offset introduced by the kernel).

[2020-06-02 21:04] bwasim commented on #25910
In addition of this, it would also be very valuable if there's a generic API for affining interrupts to particular CPUs. Unlike the priority API, the `get_irq_affinity` / `set_irq_affinity` will only be applicable for SMP / AMP scenarios..

[2020-06-02 21:54] andrewboie commented on #25893
Hi,

Use of K_THREAD_STACK_DEFINE() is not optional. You *must* use it to declare stacks. You won't get the alignment required by the MPU right otherwise.

[2020-06-02 21:54] #25893 closed

[2020-06-02 23:47] #25904 closed

[2020-06-02 23:49] #25870 closed

[2020-06-03 01:24] cvinayak commented on #25859
No, there is no dependency of DC-DC on advertising, scanning or connections.

@NilsMinor Is this reproducible on a nRF52DK with DC-DC turned off?

[2020-06-03 01:32] stephanosio commented on #25910
@carlescufi While this may not be exactly what you describe, dynamic IRQ priority configuration (i.e. `irq_set_priority` equivalent) can be done in an arch/intc-agnostic manner through `irq_connect_dynamic`.

[2020-06-03 05:38] nordic-krch commented on #25901
rc1 did not contain #25517 which was fixing something that looks similar. Can you try? You can just apply this single-liner https://github.com/zephyrproject-rtos/zephyr/pull/25517/commits/b6deff76b5ea876c88ef00ca98a7839c14879587

[2020-06-03 05:41] cvinayak opened #25917 "Bluetooth: Deadlock with TX of ACL data and HCI commands (command blocked by data)"
**Describe the bug**
Performing GATT write commands from a peripheral and a central as fast as possible from the main loop while the peer central is performing security procedure to bond, causes the following assertion fail on both the peripheral and central device

In peripheral:
[code]
In central_hr:
[code]

**To Reproduce**
Use the branch: https://github.com/cvinayak/zephyr/commit/a2289565363a2

[2020-06-03 05:59] wentongwu opened #25918 "qemu_nios2 crash when enabled icount"
seems when qemu runes instruction WRCTL of nios2 arch with icount enabled, there will be crash.
![Screenshot from 2020-06-03 13-47-27](https://user-images.githubusercontent.com/48015629/83601081-830a5980-a5a2-11ea-9852-10f13d46904f.png)

[2020-06-03 06:29] JordanYates commented on #25901
Solves the issue, guess I should have looked forward in time as well as back :)
Thanks.

[2020-06-03 06:29] #25901 closed

[2020-06-03 06:34] wentongwu commented on #25918
[code]

experimental patch deferring interrupt handle to cpu_exec seems work, need more debug.

[code]

[2020-06-03 06:35] Blobby19 opened #25919 "dhcpv4 or rx ethernet packets not working on nucleo_f429zi"
Hi,
I flashed dhcpv4_client sample application on my nucleo_f429zi board and unfortunately the board is not able to get any address from my DHCP server.

**Describe the bug**
I made wireshark analysis, and see that the board is able to send dhcp_discover packets, and get a response from DHCP Server with a dhcp_offer packet, but the board seems to ignore them.

**To Reproduce**
Steps to reproduce t

[2020-06-03 06:35] wentongwu commented on #25918
@andrewboie

[2020-06-03 06:48] amarkevich opened #25920 "Compilation error when CONFIG_BOOTLOADER_MCUBOOT=y specified"
**Describe the bug**
Compilation error when CONFIG_BOOTLOADER_MCUBOOT=y or CONFIG_SECURE_BOOT=y specified

**To Reproduce**
Steps to reproduce the behavior:
1. go to zephyr\samples\subsys\nvs
2. add to prj.conf
CONFIG_BOOTLOADER_MCUBOOT=y
or
CONFIG_SECURE_BOOT=y
3. build the project

**Expected behavior**
build finished without errors

**Impact**
unable to compile the project

**Console output**
[

[2020-06-03 07:10] ioannisg commented on #25910
@stephanosio yeap, we've discussed that, too. I suppose @carlescufi would like to have this option for statically-configured IRQ lines (i.e. not dynamic), as well. This is, currently supported for Cortex-M via a kernel-private API, so I guess, the point is whether to expose this as a public API, and how exactly we can do it. (Might be desired, as well, for direct IRQs, @carlescufi , is this correc

[2020-06-03 07:17] ioannisg commented on #25664
I see, thanks for the input. I suppose there is no ideal static flash partitioning that fits all use-cases, @nvlsianpu, there will always be configurations that demand more space. The question, here, is whether we want to have a uniform vanilla-Zephyr size for boot-loader partition, or not.

It's not so much, IMO, about constrained devices; for example nrf5340 and nrf52840 have the same flash size

[2020-06-03 07:18] ioannisg commented on #25664
If we want to do this, can we do this for all nRF SoCs, @nvlsianpu ?

[2020-06-03 07:19] stephanosio commented on #25910
`IRQ_CONNECT` accepts the `priority` parameter, so one can statically configure IRQ priority in arch/intc-agnostic manner too.

If the goal is to dynamically re-assign the IRQ priority of an interrupt (both static and dynamic) that is already configured (can't really think of any sane usage cases for this though), one could do that using `irq_connect_dynamic`.

[2020-06-03 07:27] ioannisg commented on #25910
OK, so let me re-phrase this: this API should give the option to a user to dynamically change the IRQ priority of a non-dynamic IRQ.

This is doable but you need to have `CONFIG_DYNAMIC_INTERRUPTS` enabled (correct?) - I suppose the point here is to be able to change IRQ priorities, without enabling this Kconfig, which affects memory footprint and run-time performance.

[2020-06-03 07:34] stephanosio commented on #25910
That is indeed correct.

Ok, that makes more sense. The rationale given above was "So one can get and set the priority of an interrupt without having to resort to arch-specific code," so I assumed the primary goal was to provide an arch-agnostic way of configuring IRQ priority, which is already supported.

I am still not sure how practical and/or useful this API would be; also whether this would b

[2020-06-03 07:41] ioannisg commented on #25910
i agree, @carlescufi needs to answer this question, since he has requested this enhancement :)

(My assumption is that you want to have as minimal overhead as possible (i.e. CONFIG_DYNAMIC_INTERRUPTS=n), use the standard ISR wrapper, and have the option to just change the IRQ priority on the fly)

IMO, adding an additional API, suitable only for rare use-cases, is not a big deal: as I said above,

[2020-06-03 08:32] nordic-krch commented on #25346
@alexsven have you tried that maybe?

[2020-06-03 08:47] ABOSTM opened #25925 "tests: net: socket: socketpair: fails due to empty message header name"
**Describe the bug**
Running test tests/net/socket/socketpair/ fails.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p -b nucleo_f429zi tests/net/socket/socketpair/
2. west flash
3. See error

**Expected behavior**
test passed

**Screenshots or console output**
[code]

**Analysis**
This is a regression introduced with PR #25706
Due to new check on messages parameters, test fails

[2020-06-03 08:49] ABOSTM commented on #25925
^^ @jukkar

[2020-06-03 08:49] Zhaoningx opened #25926 "k_cycle_get_32() returns 0 in native_posix"
Describe the question
seems when API:k_cycle_get_32() runes platforms of native_posix, there will just get return value 0.
and it's OK to run at others platforms.

Running at qemu_x86 platform result as follow:
![Screenshot from 2020-06-03 16-30-23](https://user-images.githubusercontent.com/62736294/83614652-139f6480-a5b8-11ea-954c-ab3bb3d6e99e.png)

Running at native_posix platform result as foll

[2020-06-03 09:05] ioannisg opened #25927 "ARM: Core Stack Improvements/Bug fixes for 2.4 release"
### ARM Architecture related issues tentatively scheduled for v2.4 release

**New features**
- [X] [Cortex-M] Support for Cortex-M1
- [X] [Cortex-M] timing functionality based on DWT

**Feature Enhancements**

- [x] [Enh. ARM Cortex-M] Add ARM Cortex-M test for IRQ target state management (#22133)
- [x] [Enh. ARMv8-m] Make built-in stack overflow a default feature (=y)
- [x] [Enh. ARCHitectures, K

[2020-06-03 09:09] nvlsianpu commented on #25664
@ioannisg #22228

[2020-06-03 09:30] jukkar commented on #25925
As those couple of fields are optional for connected socket, the checks introduced in #25706 need to be fixed. Will send a fix asap.

[2020-06-03 09:44] jukkar commented on #25925
I just wonder why this issue was not caught by sanitychecker.

[2020-06-03 09:47] carlescufi commented on #25920
@amarkevich from what I can see you are using NCS, so the proper forum for questions about it is the Nordic [devzone](https://devzone.nordicsemi.com/)

[2020-06-03 09:47] #25920 closed

[2020-06-03 09:48] carlescufi commented on #25920
That said, if @nvlsianpu wants to comment on this issue, he can still do it while it is still closed.

[2020-06-03 09:54] carlescufi commented on #15286
@cvinayak @pdunaj @nordic-krch is this still applicable?

[2020-06-03 10:01] alexsven commented on #25346
Sorry, no I haven't tested it out. Will try it out and report back

[2020-06-03 10:23] aescolar commented on #25926
@Zhaoningx Most likely what you are seeing is that while the CPU does not go to sleep, time does not pass in native_posix:
https://docs.zephyrproject.org/latest/boards/posix/native_posix/doc/index.html#important-limitations

I'm guessing the reason why you are getting 0 out of `k_cycle_get_32()` is because you are running that code right after boot and before having ever set the CPU to sleep.

If

[2020-06-03 10:23] wopu-ot commented on #24183
Fix has been merged, no reason to keep the issue open.

[2020-06-03 10:23] #24183 closed

[2020-06-03 10:44] jukkar commented on #25919
I do not have exactly that hw, but tried this in nucleo_f767zi. The dhcpv4_sample client worked for me in Zephyr OS build v2.3.0-rc1-422-g76d8f8f1e268 just fine.

[2020-06-03 10:52] alexsven commented on #25346
@nordic-krch It seems to be working with b6deff7

[2020-06-03 10:52] #25346 closed

[2020-06-03 11:43] cvinayak commented on #23364
https://github.com/cvinayak/zephyr/commit/0b01ebdd559c009416458c583f122647d98d2bd1`

Above branch will make it easy to reproduce (its a branch with the patch in the issue description applied).

Steps to reproduce (timing related):
1. build and flash the peripheral sample from the branch.
2. build and flash a vanilla central_hr sample in another board.
3. When central_hr connects and peripheral sam

[2020-06-03 12:29] JusbeR opened #25935 "LWM2M: DTLS session resumption in practice"
**Is your enhancement proposal related to a problem? Please describe.**

It is impossible to do low power app with NB-IoT radio and zephyr LWM2M protocol stack

OMA spec says that
[code]
In practice, using NB-IoT radio technology it looks like this NAT bindings are released in 60s(Tested with 2 Finnish operators)

Now, I could be wrong, but here is what I think that happens when using Nordic NRF91

[2020-06-03 14:05] trond-snekvik commented on #25672
Yes, Mesh sends advertiser HCI commands from a separate thread, that's initialized like this: https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/mesh/adv.c#L298-L301

Yes, as a consequence of the separate thread.

Sounds like this is an issue hci_core should resolve then, for instance by mutexing the hci command/response handling when sent as a synchronous command. @joerchan

[2020-06-03 14:50] cfriedt commented on #25793
@pabigot said this can be ignored.

My comments from coverity:

[2020-06-03 14:50] #25793 closed

[2020-06-03 14:50] nvlsianpu commented on #25920
@amarkevich This will be fixed in coming NCS 1.3.0 relese

[2020-06-03 15:22] trond-snekvik opened #25942 "Bluetooth: Scanning + Non-connectable advertising broken on nRF5340"
Non-connectable advertising fails if scanning is already enabled on the nRF5340. It does not provide any error messages, but advertising never starts. Removing the call to `bt_le_scan_start` fixes the issue. Changing to connectable advertising also fixes the issue. The problem is the same regardless of whether advertising or scanning is started first.

The behavior is only observable on the open s

[2020-06-03 15:23] trond-snekvik commented on #25942
cc @carlescufi @joerchan

[2020-06-03 15:29] pabigot commented on #25793
The "False Positive" assessment I would propose is:

The code confirms that accept() returned an error and did not produce a handle, so losing it is not a concern.  See issue #25793 for history.

[Actively managed](https://github.com/zephyrproject-rtos/zephyr/pull/25805#issuecomment-636013212) so leaving this to @jukkar to update Coverity.

[2020-06-03 15:52] jdascenzio opened #25944 "driver: timer: stm32_lptim: Extra ticks count"
**Describe the bug**
Some ticks are counted additionally when a program sleeps for a short time.

**To Reproduce**
I have a test program which compare rtc and lptimer counter. Both work with LSE clock so I can monitor that the two counters are equal. It looks like this:
[code]

[2020-06-03 16:33] #25727 closed

[2020-06-03 16:33] #25737 closed

[2020-06-03 16:33] #25780 closed

[2020-06-03 16:33] #25788 closed

[2020-06-03 16:33] #25797 closed

[2020-06-03 16:34] #25925 closed

[2020-06-03 17:28] pabigot commented on #25682
@SocIt2Em To follow up: as far as I can tell this works in master.  We aren't going to be able to fix something if it's only present on previous releases.

We can't do much about platformio, but perhaps they'll update when 2.3.0 comes (should be no later than next week).  Please update this when you've tested it on a more recent Zephyr version.

[2020-06-03 17:43] pabigot opened #25945 "devicetree: support generating symbols for -gpios properties w/o compatible"
A recent change to devicetree tooling allowed generation of nodes for which there was no `compatible`, but that generation did not include any properties on such nodes (which I still think is weird).

Do we have enough special-casing in the tooling to support something like:
[code]
then look it up by `DT_PATH(app, power_gpios)`?  At least for GPIO we can reasonably say that if the property ends in

[2020-06-03 17:50] pabigot commented on #25945
From https://github.com/zephyrproject-rtos/zephyr/pull/24769#pullrequestreview-402765100 re converting other properties where the corresponding representation can be inferred w/o recourse to a binding would be useful:
I added these to `/`:

[code]

The subordinate node was generated, but neither `/special` nor `/subspecial/bar` were generated

Is that what was intended?  Generating the node withou

[2020-06-03 19:08] alfonsotames opened #25948 "Function i2c_transfer stops execution for I2C_SAM0"
**Describe the bug**

Function i2c_transfer hangs for I2C_SAM0

**To Reproduce**

Invoking the i2c_transfer stops execution:

[code]

**Expected behavior**

Continue the program execution after invoking the transfer function.

**Impact**
i2C is not working for SAM0

**Screenshots or console output**

I am attaching the program, dts, defconfig, and gdb output.

This is the program:

[code]

This is

[2020-06-03 19:15] andrewboie commented on #25910
I think it should be possible to reconfigure priority even for static build-time interrupts.

I'd need to look at the code further, but on x86 IIRC the priority is used to determine the position in the IDT for the installed interrupt, it's not handled by the APIC. It's been a long time since I looked at this in detail though (and I was never fully clear how it worked). But it should be possible to

[2020-06-03 19:43] Blobby19 commented on #25919
Hi Jukkar,
Thanks a lot for your help, it's working using the version `v2.3.0-rc1-422-g76d8f8f1e268`.
[code]

[2020-06-03 20:03] andrewboie opened #25950 "driver callbacks and user mode"
**Is your enhancement proposal related to a problem? Please describe.**
It's common to want to run some application code in response to driver events. Many of our driver subsystems (and our `k_timer()` API, which is essentially a timer driver callback) allow the user to install a callback handler (and in many cases a context pointer) to run when the event happens. The event is typically in the con

[2020-06-03 20:26] jukkar commented on #25853
I am assuming here, because of the PR description, that the offloading driver is being used. In that case my PPP comment is not valid.

[2020-06-03 20:42] jukkar commented on #25950
Just brainstorming here, this might be totally stupid idea. Instead of function callback that is called from ISR, could we pass data from ISR to user mode application via IPC like k_msgq, fifo, queue etc. That would be very inefficient of course but would avoid direct function call.

[2020-06-03 20:45] mtahirbutt commented on #25853
thanks for your remarks. I just tried to play with NETWOKR_TIMEOUT and recv(ctx.sock, data, MAX_DOWNLOAD_DATA, MSG_DONTWAIT) from socket function and I reduced the frequency of usage of recv() function, and the situation improved and do not see the problem. As for now important is the fact which aspects I need to handle with system reset and which I can handle without system reset. I will update #

[2020-06-03 20:45] aurel32 opened #25952 "STM32 LPTIM driver doesn't restart counter after sleeping K_TICKS_FOREVER"
**Describe the bug**
The `z_clock_set_timeout()` function of the STM32 LPTIM driver checks if it is being passed `K_TICKS_FOREVER` and in that case just resets and stops the LPTIM. However passing such a value doesn't mean the system has to halt forever. The system might just wait for an interrupt for an undetermined amount of time, for example the end of a I2C or SPI transfer. It means that the n

[2020-06-03 20:56] SocIt2Em commented on #25682
@pabigot understood and will do. A lot of problems have occurred. I managed to fix most of them by making class members static. I have asked platform IO to update. started regretting going down the c++ route, however will trod along.

[2020-06-03 21:44] rerickson1 commented on #25294
I tried this and it's not quite working.  I am able to upload the image and see it in slot1 with the hash.  When I test the image, it looks like it never sets the flags to pending.  Upon reset it just doesn't try switching the image, just runs slot0 image again.  Any thoughts?

[2020-06-03 21:55] pabigot commented on #25294
I believe you have to use `mcumgr image confirm`

[2020-06-03 23:28] ngoma94 opened #25956 "Including header files from modules into app"
Hi all,

I'm trying to use some functions for the LoRa sx1276 driver that are not available from the lora driver api. These functions are defined in the loramac-node project module: `[zephryproject dir]/modules/lib/loramac-node/src/radio/sx1276/sx1276.c` . The header file `sx1276.h` contains the function prototypes, and includes other dependencies. I would like to include `sx1276.h` in my app beca

[2020-06-04 00:57] rerickson1 commented on #25294
@pabigot I tested with internal flash first and everything works fine.
I made the changes above and flashed the new mcuboot and app.  Then I made a small change to smp_svr and compiled/signed the new binary.
I followed these steps:
1. Upload image
2. List images
3. Test image
4. reset
5. confirm

with external flash, the test image step looks different the flags of the slot1 are still blank and no

[2020-06-04 01:38] rettichschnidi commented on #17005
I realized that the master software License Agreement has been updated from 20190304 to 20200316. However, I could not spot any changes to the problematic sections identified earlier on in this issue. :(

[2020-06-04 02:14] #25948 closed

[2020-06-04 02:14] alfonsotames commented on #25948
Ha! Forgot to put the pull up resistors! Two 10K pulling up the SDA and SCL lines where wnough.

[2020-06-04 02:37] pabigot opened #25958 "Concept Overview for improving support for serial flash devices via SPI and QSPI"
It's becoming increasingly clear that the old theory that we should provide SPI NOR flash parameters via devicetree is becoming unsustainable; cf  #23322, #22965, and some slack conversations about newer chips with much larger sizes.  That original policy was based on a perception that runtime extraction of device parameters was too costly in flash and RAM.

While one approach is prototyped in #25

[2020-06-04 02:42] pabigot commented on #25958
@mnkp @arvid-r @galak @rckTom

[2020-06-04 03:44] wentongwu commented on #25918
[code]
@andrewboie @andyross @nashif after wrctl instruction qemu(icount enabled) will abort itself, but first I wonder if there is other way to lock irq on nios2 arch? Thanks

[code]

[code]

[2020-06-04 05:29] chen-png opened #25960 "tests/net/socket/socketpair failed on mimxrt1050_evk and sam_e70_xplained."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b sam_e70_xplained -p auto tests/net/socket/socketpair
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build v2.3.0-rc1-422-g76d8f8f1e268  ***
Running test suite socketpair

**starting test - test_socketpair_AF_LOCAL__SOCK_STREAM__0
E: syscall z_user_alloc_from_copy failed check: Memory region 0x00

[2020-06-04 06:12] wentongwu commented on #25918
checked nios2 arch doc, the behavior locking irq is correct in zephyr code.

[2020-06-04 08:28] jhedberg commented on #25672
@trond-snekvik that's not completely accurate. The `bt_hci_cmd_send()` API doesn't send anything but only queues the command to `bt_dev.cmd_tx_queue`. That queue is in turn processed by a single thread, `hci_tx_thread()`. Furthermore, this sending uses the `bt_dev.ncmd_sem` to control the sending, which in turn is a binary semaphore mapped to the `ncmd` parameter of Command Complete & Command Stat

[2020-06-04 08:54] cvinayak opened #25964 "Bluetooth: <err> bt_att: ATT Timeout"
**Describe the bug**
Local device performing ATT write cmds, generates `<wrn> bt_att: Ignoring unexpected request` when peer device send an ATT request. The peer then gets `<err> bt_att: ATT timeout`

**To Reproduce**
Use the branch: https://github.com/cvinayak/zephyr/commit/b4939f526a9c1c86a88fd55810ed85e1ecaaf46d

Steps to reproduce the behavior:
Build and flash peripheral:
  1. mkdir -p build/p

[2020-06-04 08:59] jukkar commented on #25960
Duplicate of #25925

[2020-06-04 08:59] #25960 closed

[2020-06-04 09:00] alexsven commented on #25964
I'm seeing the same thing for our application. When using bt_gatt_unsubscribe() we get "bt_att: ATT timeout" on one side and "bt_att: Ignoring unexpected request" on the other. That also means we can not subscribe again, so we need to reset the kits before subscribing. This happened after updating to v2.3.0-rc1 from v2.2.0

[2020-06-04 09:01] jukkar commented on #25960
Please use 2.3.0-rc2 for testing, this issue is fixed there.

[2020-06-04 09:41] trond-snekvik commented on #25672
@jhedberg I see. The issue is still there though, since we're doing checks in the caller thread, which isn't subject to this semaphore. A bit odd that this started happening in a commit that only changed the controller, but I guess that just uncovered the already existing race condition.

[2020-06-04 10:02] jjamesson opened #25965 "hci_uart not responding at higher baudrates on NRF52810"
Hi , Zephyr community,

I am having an issue with the hci_uart sample, where I am not getting a response from the controller for the HCI RESET command on higher UART bandwidth, namely with the "sudo btattach -B /dev/ttyACM1 -S 1000000 -P h4" command. However, I do get the response when using 115200 as the baudrate. I am using an oscilloscope to see if the signal gets a response or not.

The proble

[2020-06-04 10:20] JusbeR commented on #25935
To try out my theory, I made a hack to close and reopen sockets like this: https://github.com/loopshore/sdk-zephyr/commit/a35f03cdad2bf34fd33504dc1f45b7dafebd1ab5
At least now I can do registration update e.g. in every 10 minutes and it still works.

In server side pcaps I can see ALERT from device and then client hello + resumption + payload. I guess that is as lean as it can get with these proto

[2020-06-04 10:36] carlescufi commented on #25965
@jjamesson I assume you are using an nRF52 DK (PCA10040)?

[2020-06-04 10:52] Zhaoningx commented on #25926
Hi @aescolar, thanks for your review, I have read zephyr doc about native_posix carefully, and I test the condition you mentioned, and I used k_msleep() before invoking the API k_cycle_get_32, as you say, it can returns a later time instead. But, there are something confused me, can I get the time of running several lines code in native_posix without CPU sleeping?
And I'll close this issue later.

[2020-06-04 11:03] rlubos commented on #25935
Hi @JusbeR,
I've followed the discussion on devzone and analyzed the pcap you provided. What surprises me though is that the underlying socket port in the client is changed silently (between packet 36 and 37). This cause the server to ignore any further communication from the client side. This should not happen silently, not only because it disturbs the DTLS session, but it also renders any pendin

[2020-06-04 11:10] aescolar commented on #25926
Hi @Zhaoningx . No unfortunately that is not possible in native_posix due to fundamental reasons: Code itself takes "0" time to execute.

[2020-06-04 11:26] abrodkin commented on #19739
@tgraydon that's interesting as we also seeing this only when running in Jenkins, so indeed it might be more of a Jenkins problem.

@oleg-nenashev is that a know issue? Is there a chance to get some feedback from Jenkins people?

[2020-06-04 11:27] jjamesson commented on #25965
Yes, I am. Sorry for not mentioning.

[2020-06-04 11:27] pabigot commented on #25294
OK, I can confirm that.  The problem is probably lack of sub-word write support (the other side of #25292).  A solution is in nrfconnect/sdk-zephy#305 but has not been upstreamed.

[2020-06-04 11:58] JusbeR commented on #25935
I remember reading from somewhere(maybe califonium repo) that COAP observation/notifications/whaever-they-are-called are specified to be only valid inside "epoch" and "epoch" is started from scratch always when DTLS connection is resumed. This will effectively make observations not working in real life just as you said. I believe this is fundamental specification bug and I have no idea how to fix

[2020-06-04 12:39] rlubos commented on #25935
Thanks for the link. While they seem to relax this for DTLS in Leshan, the default for UDP is still "strict" matching (so change in a port number invalidates the observation). Good to know you can relax this requirement if you put your own server instance up.

Indeed, after educating myself a bit more about the NAT rules in cellular networks, they don't seem to be very user-friendly. To be honest,

[2020-06-04 12:40] JPSELC commented on #25935
Yes, this is the issue. The modem has no indication that the IP address and port have changed.
A new session is created by the Network operator when the old session has timed out, (typically after somewhere between 20 seconds and 120 seconds depending on network), with a new IP address and Port. You need to be able to set a timeout parameter in Zephyr to suit your network, to optimize the use of t

[2020-06-04 12:49] JPSELC commented on #25935
@JusbeR This looks good, and is similar to a hack I used for a demo a few months ago, before any session resumption was available. I need to try this.
Obviously, the 55 seconds value needs to be a parameter, maybe disabling when 0 or -1 or something.

[2020-06-04 13:17] mnkp commented on #25958
The device tree specification states:
_The compatible property value consists of one or more strings that define the specific programming model for the device. This list of strings should be used by a client program for device driver selection. The property value consists of a concatenated list of null terminated strings, from most specific to most general. They allow a device to express its compa

[2020-06-04 13:47] cfriedt opened #25973 "lib: posix: dynamic stack support for pthread_create()"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, Zephyr's [pthread_create()](https://pubs.opengroup.org/onlinepubs/009695399/functions/pthread_create.html) implementation requires that a `pthread_attr_t` be passed in whereas the POSIX specification explicitly allows `NULL`, in which case a suitably-sized stack is automatically allocated.

For the majority of use c

[2020-06-04 13:56] pabigot commented on #25958
That isn't how I understand what Linux does.  In the [stm32](https://github.com/torvalds/linux/blob/master/Documentation/devicetree/bindings/spi/st%2Cstm32-qspi.yaml) and [freescale](https://github.com/torvalds/linux/blob/master/Documentation/devicetree/bindings/spi/spi-fsl-qspi.txt) it isn't the generic spi-nor driver that is used for those controllers.  That's exactly the situation we have in Ze

[2020-06-04 14:06] pfalcon commented on #25973
@cfriedt: Are you aware of https://github.com/zephyrproject-rtos/zephyr/pull/16435 ?

[2020-06-04 14:58] cfriedt commented on #25973
Aha! I was not aware of it. Seems to be nearly complete. Looks like purely a heap implementation.

[2020-06-04 15:13] carlescufi commented on #25965
Alternatively, just change the baud rate directly to `1000000` here:
https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/nrf52dk_nrf52810/nrf52dk_nrf52810.dts#L95

[2020-06-04 15:25] galak commented on #25958
Dev-review (Jun 4, 2020): Discussed how we should represent this in DTS, and semantic differences about programming model vs driver.  For now we should have at least `jedec,spi-nor` on any flash device node that conforms to that programming model.  In practice the combination of the `jedec,spi-nor` node and its parent are what really tell us how or which driver should come into play.

[2020-06-04 15:25] galak commented on #25958
We need to look at implementing improvements on DT_CHILD_* related to this functionality.

[2020-06-04 16:01] chrta commented on #21392
@pabigot

This seems to be done now (for foreach macros), see https://reviews.llvm.org/D78869 and in https://clang.llvm.org/docs/ClangFormatStyleOptions.html search for "ControlStatementsExceptForEachMacros" This seems to be included starting with clang-format-11.

[2020-06-04 16:50] aurel32 commented on #25952
No there is no need for another wake-up source in the blinky case. The timeout being set to 'FOREVER' doesn't mean the CPU can sleep. It just mean that for now the timer is not needed anymore.

In the blinky case, it happens that after the first executed `k_sleep` the scheduler calls `z_clock_set_timeout` with `K_TICKS_FOREVER` as there is no scheduled event anymore. Then the GPIO is toggled, and

[2020-06-04 17:15] jettr opened #25979 "Need root LICENSE files in hal_stm32 module"
**Describe the bug**
The https://github.com/zephyrproject-rtos/hal_stm32 repository does not have a root LICENSE file. Most, but not all of the source files within the repository have license information.

**Impact**
 This is blocker to locally replicating this repository for builds.

[2020-06-04 17:55] andrewboie commented on #25973
Not sure I understand the downsides of using a heap? You won't need to know how many stacks to reserve in the array in advance, nor would you have to come up with a CONFIG_PTHREAD_DYNAMIC_STACK_SIZE that works for all dynamic threads. It all depends on the app but threads tend to vary greatly in how much stack space they need.

This is almost possible, but not quite. If you wanted to go the heap r

[2020-06-04 18:12] pabigot opened #25981 "Support storing mcuboot images on serial flash accessed through Nordic QSPI"
The Nordic QSPI driver requires that all transfers be 32-bit aligned to/from SRAM, and that the transfer size be a multiple of 4 bytes.  This requirement is not satisfied by mcuboot/mcumgr which:
* need to be able to read and write sub-word lengths
* need to be able to write records that are stored in flash

This is a specific case of violations of #16439.

[2020-06-04 18:14] pabigot commented on #25294
@rerickson1 OK I think this works.  You'll need #25971.  See https://github.com/zephyrproject-rtos/zephyr/pull/25971#issuecomment-639017038 for pointers to mcuboot and zephyr branches that I've confirmed work.

I've opened  #25981 for the issues we've been discussing; please continue any feedback there so this issue remains specific to the apparent inability to use `smp_shell` in this environment

[2020-06-04 18:29] pabigot commented on #21392
Great, thanks for the pointer.  The feature was merged 2020-04-26 to the clang-11 development branch.  Based on previous LLVM releases clang-11 should be available in the second half of 2020-09.  Once it's out we can make further progress.

[2020-06-04 18:59] cfriedt commented on #25973
I would prefer to use the heap as well, the only downside is that if you *do* know the (maximum)
 number of "dynamic" threads in advance, then you would still be subject to memory availability on the heap.

If we want to go the heap route, that's fine with me though.

[2020-06-04 19:00] zephyrbot opened #25982 "[Coverity CID :210020] Explicit null dereferenced in drivers/usb/device/usb_dc_mcux_ehci.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c61dfdc680615a1d636d1a676897815860ca4da5/drivers/usb/device/usb_dc_mcux_ehci.c#L210

Category: Null pointer dereferences
Function: `usb_dc_ep_configure`
Component: Drivers
CID: [210020](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210020)

Details:

[code]

Please fix or provide comment

[2020-06-04 19:07] zephyrbot opened #25983 "[Coverity CID :210682] Unchecked return value in lib/os/mempool.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c61dfdc680615a1d636d1a676897815860ca4da5/lib/os/mempool.c#L329

Category: Error handling issues
Function: `sys_mem_pool_alloc`
Component: Other
CID: [210682](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210682)

Details:

[code]

Please fix or provide comments in coverity using the link

[2020-06-04 19:07] zephyrbot opened #25984 "[Coverity CID :210686] Unchecked return value in lib/os/mempool.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c61dfdc680615a1d636d1a676897815860ca4da5/lib/os/mempool.c#L361

Category: Error handling issues
Function: `sys_mem_pool_free`
Component: Other
CID: [210686](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210686)

Details:

[code]

Please fix or provide comments in coverity using the link:

[2020-06-04 19:07] zephyrbot opened #25985 "[Coverity CID :210683] Pointless string comparison in tests/lib/devicetree/legacy_api/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c61dfdc680615a1d636d1a676897815860ca4da5/tests/lib/devicetree/legacy_api/src/main.c#L134

Category: Incorrect expression
Function: `test_i2c_device`
Component: Tests
CID: [210683](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210683)

Details:

[code]

Please fix or provide comments in c

[2020-06-04 19:07] zephyrbot opened #25986 "[Coverity CID :210684] Explicit null dereferenced in tests/kernel/mbox/mbox_api/src/test_mbox_api.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c61dfdc680615a1d636d1a676897815860ca4da5/tests/kernel/mbox/mbox_api/src/test_mbox_api.c#L227

Category: Null pointer dereferences
Function: `tmbox_put`
Component: Tests
CID: [210684](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210684)

Details:

[code]

Please fix or provide comments i

[2020-06-04 19:07] zephyrbot opened #25987 "[Coverity CID :210685] Pointless string comparison in tests/lib/devicetree/legacy_api/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c61dfdc680615a1d636d1a676897815860ca4da5/tests/lib/devicetree/legacy_api/src/main.c#L162

Category: Incorrect expression
Function: `test_spi_device`
Component: Tests
CID: [210685](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210685)

Details:

[code]

Please fix or provide comments in c

[2020-06-04 19:07] zephyrbot opened #25988 "[Coverity CID :210687] Argument cannot be negative in tests/net/socket/socketpair/src/test_socketpair_happy_path.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/c61dfdc680615a1d636d1a676897815860ca4da5/tests/net/socket/socketpair/src/test_socketpair_happy_path.c#L126

Category: Error handling issues
Function: `happy_path`
Component: Tests
CID: [210687](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210687)

Details:

[code]

Please fix or provide

[2020-06-04 19:09] erwango commented on #25658
@baw-serafin any news on your issue?

[2020-06-04 19:26] erwango commented on #25979
@jettr, Txs for reporting this issue.
I'm not sure how we can fix this, more explicitly I'm not sure what should a root LICENSE file contain in case of a module like hal_stm32.

Here is the status of the package:
Most of the files (the ones coming from cube packages) are BSD-3 Licensed in this module, when this is not the case, they are:
-CMake related files (some of them being Apache 2.0, few not

[2020-06-04 19:43] NilsMinor commented on #25859
@cvinayak thanks for your response. I do not have an NRF52DK right know but will test it in the future.

[2020-06-04 19:43] #25859 closed

[2020-06-04 20:05] aurel32 opened #25989 "STM32_LPTIM_TIMER wrongly depends on DEVICE_POWER_MANAGEMENT"
**Describe the bug**

The `STM32_LPTIM_TIMER` option is supposed to be only enabled when the SoC is allowed to enter power sleep mode. For that it wrongly depends on DEVICE_POWER_MANAGEMENT, which provides an interface to suspend and resume individual devices.

It should depends instead on `SYS_POWER_MANAGEMENT`.

[2020-06-04 20:10] #25944 closed

[2020-06-04 21:07] arvid-r commented on #25958
How does this relate to the chosen nodes in Zephyr?
Do we need both `zephyr, flash` and `zephyr, flash-controller`?

[2020-06-04 21:09] stef commented on #21917
i'm running in the same issue although on an nrf51, but here CONFIG_COUNTER_RTC2=y
it seems brings up other problems, i assume the nrf51 does not have an RTC2, can this be somehow solved though?