[2019-02-22 12:00] jfischer-phytec-iot commented on #13664
what is the difference to #13662?

[2019-02-22 12:06] cinlyooi-intel commented on #13664
Different test case. This one has two devices to connect to. I was not 100% sure it is the same as #13662 so filed it separately

[2019-02-22 12:55] nikooiko commented on #13633
Thanks for the feedback.
I'll look into it and I will return with the results (and possibly with a pull request).

[2019-02-22 12:57] aescolar commented on #13633
@nikooiko : Question: I guess your radio is a BLE radio, and plan to expose it thru the Linux kernel to native_posix ? (not connecting directly via native_posix's UART)

[2019-02-22 13:02] nikooiko commented on #13633
@aescolar : It's a proprietary 802.15.4 UART radio connected with an FTDI to the Linux SBC USB port and the Linux FS API is used to communicate with the radio.

[2019-02-22 13:10] nashif commented on #13665
duplicate

[2019-02-22 13:10] #13665 closed

[2019-02-22 13:14] MaureenHelm commented on #13272
@galak which issues are still outstanding? the nxp issues are resolved, so can we reassign this bug to the appropriate person?

[2019-02-22 13:23] MaureenHelm commented on #13655
@agansari can you rerun the test on RC1 to make sure you could reproduce the failure?

[2019-02-22 13:27] MaureenHelm commented on #11586
@pfalcon are you still seeing this issue?

[2019-02-22 13:32] nvlsianpu commented on #9308
satisfied by #8837 #13081

[2019-02-22 13:32] #9308 closed

[2019-02-22 13:46] pfalcon commented on #11586
@MaureenHelm, well, yeah, nothing changes on my side. I actually didn't look into it lately, was preempted with "make sockets work on a real-world 3rd-party app" work.

[2019-02-22 13:49] nvlsianpu commented on #9748
Jullabs declare to work on fixing this in near future (in a month probably) - This bug is very tough one, so even if they start today it need few week to be to fixed.

[2019-02-22 13:56] nashif commented on #13547
this test should not be built on this platform.

[2019-02-22 13:56] #13547 closed

[2019-02-22 14:07] jfischer-phytec-iot commented on #13664
Does this architecture have usb? :angry:

[2019-02-22 14:33] jukkar commented on #13602
If you are directly working with net_context, then it has `struct sockaddr_ptr local;` which contains the local port.

[2019-02-22 14:33] agansari commented on #13655
@MaureenHelm I've tested this and #13654 on rc1, but I couldn't reproduce these issues.
@hakehuang can you show me a way to reproduce this issue? Maybe run multiple tests at once?

[2019-02-22 14:35] cinlyooi-intel commented on #13664
@jfischer-phytec-iot  OOOUCH! According to quark_se_c1000_ss_devboard.yaml, "no usb_device" ;-(

Very very sorry. Please pardon this new boy who still have to learn his rope.

[2019-02-22 14:51] nashif commented on #13272
closing this now in favor of dedicated issue for the nios2 issue, I think I have a fix

[2019-02-22 14:51] #13272 closed

[2019-02-22 14:57] MaureenHelm commented on #13433
CONFIG_MULTITHREADING=n
[code]

CONFIG_MULTITHREADING=y
[code]

[2019-02-22 15:22] galak opened #13680 "XCC install directions need updating in boards/xtensa/intel_s1000_crb/doc/index.rst"
The instructions for install XCC need some minor updates to be complete:

1. Missing how to setup/install the license file.

2. File name referenced is not correct:
`X6H3SUE_2016_4_linux_redist.tgz` should be: `2018-05-15_5afafc055d3f4_X6H3SUE_2016_4_linux_redist.tgz`

3. The tar command possible needs to be run with 'sudo'

[2019-02-22 15:29] galak commented on #13680
Possible comment about needing `libnsl.i686` on fedora (was missing and causing some issues).

[2019-02-22 15:29] #13664 closed

[2019-02-22 16:23] GregBurns commented on #13602
Yes, that is my current workaround.

From: Jukka Rissanen [mailto:notifications@github.com]
Sent: Friday, February 22, 2019 6:33 AM
To: zephyrproject-rtos/zephyr <zephyr@noreply.github.com>
Cc: Burns, Gregory <gregory.burns@intel.com>; Author <author@noreply.github.com>
Subject: Re: [zephyrproject-rtos/zephyr] How to get the port number for an ephemeral (randomly assigned) port (#13602)

If you ar

[2019-02-22 17:50] jarz-nordic commented on #12319
@maxxlife : but what is the issue?

[2019-02-22 17:55] #12224 closed

[2019-02-22 17:56] maxxlife commented on #12319
According to the coverity report and my tests it is a dead code part in
function buff_trim.

On Fri, 22 Feb 2019, 8:50 pm Jakub Rzeszutko, <notifications@github.com>
wrote:

[2019-02-22 18:00] galak commented on #12190
Sorry for taking a while to respond, can you let me know how to reproduce?

[2019-02-22 18:04] andyross commented on #13610
Timeslicing has always been "default y" in kconfig.  But it only affects threads that are at preemptible priorities, which aren't the default.  It did indeed get reworked along with the rest of the timing system during the churn last fall, but it's almost entirely orthogonal to tickless.

I'll admit I remain confused, though.  There really doesn't seem to be anything in that patch series that shou

[2019-02-22 18:52] andrewboie commented on #13610
If a driver isn't reentrant or thread-safe, that is a serious bug in the driver and not a problem in the kernel...what I2C drivers are like this?

[2019-02-22 19:15] galak opened #13686 "newlib, posix-lib and xtensa/riscv (with sdk-0.9.5) don't build cleanly"
If you try and enable newlib, posix and xtensa we get build errors.  PR #13685 explicit excludes building the posix tests with newlib on xtensa.  This needs to be fixed, the issues seem related to definitions in include/posix/time.h.

[2019-02-22 19:21] andrewboie commented on #13610
I'm confused here.
Tickless, and timeslicing really don't have much to do with each other, except of course if you enable timeslicing you're going to get more timer IRQs than if you didn't.

[2019-02-22 19:36] #10253 closed

[2019-02-22 20:57] dleach02 commented on #13655
I'm not able to reproduce either

[2019-02-22 21:16] dleach02 commented on #13654
not able to reproduce this either...

[2019-02-22 22:31] MaureenHelm commented on #13463
Thanks @overheat for jumping in on this! Turns out it was a slightly different issue on the frdm_kl25z board, so your patch doesn't quite fix it.

[2019-02-22 22:49] overheat commented on #13463
Thank you for your explanation.  Since I don't have frdm_kl25z board, I double checked it with "ninja menuconfig" under frdm_kl25z environmental.
Yes, you are right. It a different issue even the console output is almost the same, cause the gpio driver already enabled for frdm_kl25z . So it looks like another issue for my Nordic's boards. I will re-submit it with a more proper description.

[2019-02-22 23:18] andrewboie commented on #10012
we could fix this for 1.14
hold my beer

[2019-02-22 23:31] andrewboie commented on #10012
k_thread_access_grant already fixed by Adithya, #13692 addresses the other issue

[2019-02-22 23:50] #13642 closed

[2019-02-23 00:51] andyross commented on #13433
Wow, that's... big.  What's in that 40k?  For reference, when CONFIG_MULTITHREADING was implemented the first time it took a minimal Zephyr build of around 8k down to 4k or so (very vague memory, but it was roughly in that range).  And it seems like we've eroded away about half the savings, so only get about 2k these days.

The bottom line is I wouldn't be shocked if, with a little work, we could

[2019-02-23 01:05] andyross commented on #13433
Yeah.  Just tried a hello_world build on qemu_cortex_m3 (i.e. the closest build we have to "just the ARM kernel, please").  It's 8944 bytes of flash by default, shrinking to 6688 with MULTITHREADING=n.  That's pretty much the kind of delta we're looking at.

Is it really such a hardship to force your 40k bootloader to waste an extra 2256 bytes?

[2019-02-23 04:10] #13595 closed

[2019-02-23 04:13] nashif commented on #11717
not a zephyr bug, did not find any way to change this behavior in qemu.

[2019-02-23 04:14] nashif commented on #7441
we have various dealing with newlib integration, this seems to be a catch-all. Lets deal with those issues individually.

[2019-02-23 04:14] #7441 closed

[2019-02-23 09:37] kelvincheung commented on #12224
@galak
Did you forget this 'mode_t' define include/posix/mqueue.h?
`typedef unsigned int mode_t;`

When I include both <stdio.h> and <posix/mqueue.h>, the similar error comes out.
Scanning dependencies of target zephyr
[ 15%] Building C object zephyr/CMakeFiles/zephyr.dir/subsys/wifi/api.c.obj
In file included from /home/kelvin/work/zephyr_community/subsys/wifi/os_adapter.h:23,
                 fr

[2019-02-23 11:09] zl3one6 opened #13700 "how to use math.h functions like ceil or floor?"
I notice that the zephyr project uses minimal c library? So I don't understand how to let zephyr support math.h which is from standard c library. I tried to enable the new libc in menuconfig, but when build the project, it shows an error about -ENOTSUP in kernel.h. The sample I used is the hello world sample.

Thanks

[2019-02-23 12:31] #13192 closed

[2019-02-23 12:41] #13464 closed

[2019-02-23 12:42] #13380 closed

[2019-02-23 13:43] nashif commented on #13433
Not that CONFIG_DEBUG is enabled by default in mcuboot, so just disabling that will give you

[code]

with multithreading on.

Then you have logging enabled, keeping this and applying

CONFIG_LOG_DISABLE_FANCY_OUTPUT_FORMATTING=y gives:

[code]

you can go and disable printk and logging, which are enabled by default and seem to be more important than multithreading and get:

[code]

and there is l

[2019-02-23 14:30] #13462 closed

[2019-02-23 14:30] #13463 closed

[2019-02-23 14:31] galak commented on #13686
Looks like since the 0.9.5 sdk has a different version of newlib for risc-v it also has issues with time.h

[2019-02-23 14:51] galak opened #13701 "x86 stack check fail w/posix-lib & newlib"
When trying to run the posix tests w/newlib as enabled by PR #13685

`./scripts/sanitycheck -T tests/posix/ -p qemu_x86`

`qemu_x86                  tests/posix/common/portability.posix.newlib        FAILED: handler_crash
`

We get:

SDK 0.9.5:
[code]

SDK 0.10.0:
[code]

[2019-02-23 15:52] galak commented on #12224
@kelvincheung that should be fixed in #13685

[2019-02-23 15:52] galak commented on #12224
Was seeing that and thus removed / renamed posix/sys/types.h to posix/posix_types.h

[2019-02-23 16:18] galak opened #13703 "Build error w/Flash driver enabled on hexiwear kw40"
[code]

We get:

[code]

[2019-02-23 16:20] galak commented on #13703
Will possible block merging #13702

[2019-02-23 21:25] nashif commented on #13701
@galak why was this merged although it is known to be failing? Now all CI jobs are failing because of this.

[2019-02-23 22:41] galak commented on #13701
My bad, wasn't thinking about the CI impact to everything else.

Is there someone who can look at the x86 issue.

[2019-02-24 00:01] qianfan-Zhao commented on #13662
'DTR set' are printed after usb plugin, did you forget this?

[2019-02-24 00:12] qianfan-Zhao commented on #13560
an advice not related this issue:

your serial port software doesn't support color so there has something such as [1;

you can try putty

[2019-02-24 00:53] Jeepgoing commented on #13560
@qianfan-Zhao  thanks

[2019-02-24 02:26] overheat opened #13708 "No Arduino interface definition for Nordic dev. kits"
**Describe the bug**
When I try to compile "samples\shields\x_nucleo_iks01a1\" for my Nordic dev. kits(pca10040 and pca10056), occurred this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52840_pca10056
3. make
4. See error

**Screenshots or console output**
<img width="952" alt="error" src="https://user-images.githubusercontent.com/4

[2019-02-24 02:29] overheat commented on #13708
I noticed that the Arduino interface, like default i2c and so on, not been included in the Nordic dev. kits, either pca10040 or pca10056. So I add this patch to nrf52_pca10040.dts and nrf52840_pca10056.dts:

[code]
And it works.

Should every Nordic development board add the Arduino interface definition?

[2019-02-24 04:34] sathishkuttan opened #13710 "Build failure when using XCC toolchain"
**Describe the bug**
With commit 9c2ac778612da408900ff73feb7310a01634dd46, XCC is invoked with `-nostdinc` flag and this causes compilation errors. The `-nostdinc` flag seems to make XCC not look for header files in `XtensaTools/xtensa-elf/include`

**To Reproduce**
Steps to reproduce the behavior:
1. `cd $ZEPHYR_BASE/tests/boards/intel_s1000_crb`
1. `mkdir build; cd build`
1. `cmake -DBOARD=intel

[2019-02-24 04:58] sathishkuttan commented on #13223
I can reproduce the exception with
* commit 69b6cc8956fb6898ba6a2876a331330f8dc37b37
* `CONFIG_LOG=y`
* the changes mentioned in issue description for `src/i2s_test.c`.
* workaround for #13710

[2019-02-24 14:33] galak opened #13716 "CAN tests don't build"
Trying to run the can tests:

`./scripts/sanitycheck -T tests/drivers/can/ -l`

We get:

[code]

There are 2 different issues here, one is the tests didn't get updated with change in PR #13374.  Second is enabling of the STM32 CAN driver.

The second issue is addressed by PR #13715

[2019-02-24 14:46] fghjhuang commented on #13657
i had add this config, what i mean is that how to init receiver from uart3 & how to send data by uart3? can you help me?

[2019-02-24 15:06] maxxlife commented on #12319
@jarz-nordic Hi. I checked it more carefully and it seems that code without dead code part. It works well. No need to fix it. We should just provide comments to square it off.

[2019-02-24 15:34] explora26 commented on #13657
Try this, it's sould be work.
[code]

[2019-02-24 16:26] microbuilder opened #13718 "Updated Sensor API"
API meeting (@carlescufi):
  - Currently (for the next month, until 8th March) under discussion in this Google doc: https://docs.google.com/document/d/1UsElJJHRudeWXb-tYwXA6qt9gF6PH8wwS7PjhqO1MLI/edit#bookmark=id.jkiwnksvdslt

# Updated Sensor API

This issue is an attempt to start identifying improvements that can be made to the current sensor API in Zephyr, with the goal of defining a new API th

[2019-02-24 17:10] jukkar commented on #13716
I do not understand how the #13374 managed to pass the sanity tests. Any idea what went wront there?

[2019-02-24 17:27] nashif commented on #13710
this should fix it: #13675

[2019-02-24 17:39] jukkar commented on #5378
This issue is quite old and mostly bitrotted. We have the code mostly changed/converted anyway, there are couple of PRs still pending. I suggest that this is closed.

[2019-02-24 18:25] nashif commented on #13433
closing given the original reporter got things to work and multi-threading is not the culprit here. there are many places where space can be saved and if there is a need to make drivers single-thread aware, then this is another issue.

[2019-02-24 18:25] #13433 closed

[2019-02-24 20:41] andrewboie commented on #13701
The error message is correct; this is a stack overflow in _main_thread.
It appears if CONFIG_ZTEST is enabled, CONFIG_MAIN_STACK_SIZE defaults to 512, which is not enough.

[2019-02-24 20:52] andrewboie commented on #13701
@galak I've unpeeled this enough to see what is going on.

For this test, CONFIG_STDOUT_CONSOLE=y, which causes TC_PRINT() and related macros to map to libc printf() instead of the kernel's printk(). Newlib's printf() uses tons of stack space, even more than minimal libc, and LOTS more than printk(), and we are blowing stack in _ztest_run_test_suite() before the test can even run.

For some reason

[2019-02-24 22:48] #13710 closed

[2019-02-25 01:00] #13716 closed

[2019-02-25 01:12] fghjhuang commented on #13657
### great! it does work,ths!

[2019-02-25 01:45] ceolin commented on #10013
There is no fault remaining in Zephyr's kernel.

[2019-02-25 01:45] #10013 closed

[2019-02-25 04:02] hakehuang commented on #13489
@ioannisg  add comment on #13545.

[2019-02-25 04:23] ManojSubbarao commented on #13502
@cinlyooi-intel  please re-check

[2019-02-25 04:32] hakehuang commented on #13654
I test RC1 based on https://github.com/zephyrproject-rtos/zephyr/commit/588d7b068c9166f043ccb0f9bf50bf39d0173cee, not c2d5e7b

[2019-02-25 04:33] hakehuang commented on #13655
I test RC1 based on [588d7b0](https://github.com/zephyrproject-rtos/zephyr/commit/588d7b068c9166f043ccb0f9bf50bf39d0173cee), not [c2d5e7b](https://github.com/zephyrproject-rtos/zephyr/commit/c2d5e7b01ccff8be61ca139f578fdbce84b08713)

[2019-02-25 04:51] KwonTae-young opened #13725 "drivers: ssd1306: When 128x32 is used, only half of the screen is output."
I have a `128x32` SSD1306 module.
SSD1306 Module(128x32): [Adafruit PiOLED - 128x32 Monochrome OLED Add-on for Raspberry Pi](https://www.adafruit.com/product/3527)

There is height in dts of SSD1306.
[code]

So I put `32` in the height as shown below.
However, only half of the screen is printed.
[code]

Below is the output of the screen according to the `height` value.
I tested it with `cfb_shell`

[2019-02-25 05:19] AdithyaBaglody commented on #13502
Checked this on c1000. and I am able to get the correct output.
Unable to reproduce this issue.

[2019-02-25 05:38] hakehuang commented on #13655
@agansari , yes I run it for multiply time then it will be reproduces

[code]

[2019-02-25 05:46] hakehuang commented on #13654
and if I run this case for 2 times, then Ican reproduce this issue, but I think this is not the only reproduce way.

[2019-02-25 07:15] hakehuang opened #13727 "MIMXRT1020_EVK sample/subsys/logging/logger report unaligned memory access"
**Describe the bug**
logger report unaligned memory access

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1020_evk ..
3. make
4. make flash

**Expected behavior**
case can run well

**Impact**
logger subsystem can not work well

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS:  Linux
 -

[2019-02-25 07:15] hakehuang commented on #13727
@MaureenHelm

[2019-02-25 07:22] hakehuang opened #13728 "mimxrt1020_evk tests/subsys/logging/log_core test_log_strdup_gc meets Unaligned memory access"
**Describe the bug**
Unaligned memory access in  test_log_strdup_gc

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1020_evk ..
3. make
4. make flash

**Expected behavior**
test cases pass

**Impact**
logging system has potential issues

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: L

[2019-02-25 07:22] hakehuang commented on #13728
maybe similar with #13727 @MaureenHelm

[2019-02-25 07:50] cinlyooi-intel opened #13729 "sanitycheck --coverage failed"
**Describe the bug**
sanitycheck cannot generate coverage report.

**To Reproduce**
Steps to reproduce the behavior:
`scripts/sanitycheck --coverage --coverage-platform mps2_an385 -p mps2_an385  --coverage-platform qemu_x86 -p qemu_x86 --gcov-tool /opt/zephyr-sdk-0.9.5/sysroots/x86_64-pokysdk-linux/usr/bin/i586-zephyr-elf/i586-zephyr-elf-gcov -T tests/kernel/ -T tests/subsys/logging/
`

**Expected

[2019-02-25 08:36] nikooiko commented on #13633
I've tracked the changes that must be done in order to be able to compile for raspberry pi 32bit linux (64bit need more work because pointer size assertions cause errors).

### Lack of multilib support (e.g. raspi)
#### Problem
The first problem is the `-m32` flag for the gcc, because the raspi images lack **GCC_MULTILIB** support:
https://github.com/zephyrproject-rtos/zephyr/blob/23ba884b2bb5af88

[2019-02-25 09:08] ramakrishnapallala commented on #11908
@pizi-nordic since you are reworking the sample and PM api's i am adding you the bug.

[2019-02-25 09:08] ramakrishnapallala commented on #7909
@inakypg is this TCF issue or does it happen normally?

[2019-02-25 09:08] ramakrishnapallala commented on #7908
@inakypg is this TCF issue or does it happen normally?

[2019-02-25 09:22] tanreb1 commented on #13708
That' s look good, but I think we should add all arduino interfaces. Not only i2c, but spi and uart too.

+++ ../boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts
@@ -74,6 +74,10 @@
+arduino_i2c: &i2c0 {
    status = "ok";
};
+arduino_spi: &spi1 {
    status = "ok";
};
+arduino_serial: &uart0 {
    status = "ok";
};

[2019-02-25 09:22] hakehuang opened #13733 "mimxrt1020_evk samples/net/zperf meets Unaligned memory access"
**Describe the bug**
Unaligned memory access

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1020_evk ..
3. make
4. make flash

**Expected behavior**
sample can run with perf data

**Impact**
net performance result

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS:  Linux,
 - Toolchain (Z

[2019-02-25 09:22] hakehuang commented on #13733
@MaureenHelm

[2019-02-25 09:25] ioannisg commented on #13654
Unfortunately, I do not have hardware to test this on target.

[2019-02-25 09:40] arun1joshi opened #13734 "tests/subsys/settings/fcb/src/settings_test_save_unaligned.c fail with assertion failure on nrf52_pca10040"
The tests in tests/subsys/settings/fcb/src/settings_test_save_unaligned.c fail with assertion failure on nrf52_pca10040

The test started failing from this commit: [b1a7e71]

**Arch**: arm
**Platforms**: nrf52_pca10040

**Error on console log**:
_nrf52_pca10040:arm_
[code]

[2019-02-25 09:45] SebastianBoe commented on #13700
Can you post steps to reproduce and the error produced?

Note that you need to enable CONFIG_FLOAT when using the 'double' functions in math.h.

I got this error when I forgot to enable FLOAT, and a succesful run when it was enabled:

[code]

[2019-02-25 10:11] rlubos commented on #3877
I'm working on this, will propose a PR after the 1.14 release.

[2019-02-25 10:15] rlubos commented on #5943
I'll look into this issue. We need a better way to store OpenThread settings - it became an recurring problem recently (#12944, #13687).

[2019-02-25 10:18] hakehuang opened #13735 "mimxrt1020_evk tests/benchmarks/app_kernel meets Illegal use of the EPSR"
**Describe the bug**
Illegal use of the EPSR

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1020_evk ..
3. make
4. make flash

**Expected behavior**
test pass

**Impact**
kernel not stable

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain ( Zephyr SDK)
 - Commit SHA

[2019-02-25 10:19] hakehuang commented on #13735
@MaureenHelm

[2019-02-25 10:25] AdithyaBaglody commented on #13729
Issue is because of ccad9d0d099f38db97db95abd65e03a43a7f8ee6
incorrect movement of the files into a new place.
@nashif advice on the solution.

[2019-02-25 10:49] mchodzikiewicz commented on #3723
Hi, it's been a while... are there any updates on this?

[2019-02-25 10:52] hgijeon opened #13737 "Where can I find tutorial to make my own device driver for a device under I2C bus?"
I'm trying to make my own device driver. the board has ADC chip connected to I2C pins.
Is there any tutorial to make device driver from scratch in zephyr?
I'm trying to find code example from devicetree through Kconfig and application usage, but I couldn't find yet.

[2019-02-25 11:06] cvinayak commented on #13610
@pabigot attached is the patch I used to profile the irq_locking in nrf_rtc_timer.c
[code]

Also attached are the logic16 data files with the measurements.
[nrf_rtc_timer_profile.zip](https://github.com/zephyrproject-rtos/zephyr/files/2900239/nrf_rtc_timer_profile.zip)

[2019-02-25 12:07] rveerama1 commented on #12307
False positive.

[2019-02-25 12:07] #12307 closed

[2019-02-25 12:18] agansari commented on #13703
@galak this errors come from different mcux sdk versions.
@MaureenHelm this should happen to kw30/20 as well, we could add a legacy_support.h file in ext/hal/nxp/mcux/devices/MKW40Z4 folder where we can undefine and define newer sdk changes or just keep multiple skds.

[2019-02-25 13:16] erwango commented on #13567
@nvlsianpu, txs. I'll test it as soon as I have some time (this week for sure).

[2019-02-25 14:15] jukkar commented on #8631
net-app is gone, so closing this issue

[2019-02-25 14:15] #8631 closed

[2019-02-25 14:37] rmstoi commented on #10188
@jukkar This is still an issue. I compared this case to Linux and Linux sends echo response with correct (updated) MAC.

[2019-02-25 14:44] pabigot commented on #13610
I'm not sure who's working this (it isn't me; I'm not working Zephyr at this time), but I haven't seen progress and was curious so I spent a few hours looking at it.  Note that I can't replicate the environment: I don't have an iPhone, and I'm not seeing the `[bt][INF]` output.  So this is based on instrumentation alone.

IMO this instability is due to the requirement to align timeout deadlines to

[2019-02-25 16:19] erwango commented on #13657
@fghjhuang , great you managed to work it out. Please tell us when we can close this point.

[2019-02-25 16:35] ulfalizer opened #13746 "CONFIG_GPIO_DW_{0-3}_IRQ_SHARED_NAME are not from Kconfig and often undefined"
I wonder if this could be cleaned up, e.g. by giving them a `DT_` prefix instead (though they seem to get defined in `dts_fixup.h` files). `CONFIG_GPIO_DW_{1-3}_IRQ_SHARED_NAME` are currently always undefined.

It adds entries to the whitelist in https://github.com/zephyrproject-rtos/ci-tools/pull/21, plus it looks confusing in the code.

[2019-02-25 16:36] erwango commented on #13567
I had a test and it seems I have a configuration issue:
FAIL - test_config_save_fcb_unaligned
Issue happens here:
[code]

I have CONFIG_SETTINGS_FCB_FLASH_AREA=4
while reel_board defines CONFIG_SETTINGS_FCB_FLASH_AREA=3

Not sure it could be the issue. i'll try to spend more time on it tomorrow.

[2019-02-25 16:40] ulfalizer opened #13747 "CONFIG_NRFX_UARTE{2-3} are undefined but referenced"
Referenced in `ext/hal/nordic/nrfx_config_nrf9160.h`. Only `CONFIG_NRFX_UARTE{0-1}` are defined.

[2019-02-25 16:44] ulfalizer opened #13748 "CONFIG_SOC_MCIMX7D_M4 is undefined but referenced"
Referenced in `ext/hal/nxp/imx/devices/MCIMX6X/device_imx.h`.

[2019-02-25 16:50] ulfalizer opened #13749 "Can CONFIG_SOC_WATCH-related code be removed?"
Commit ac47070d10 ("tests: qmsi: remove soc watch sample") removed the `CONFIG_SOC_WATCH` symbol, but there's still a bunch of related code left (see `git grep SOC_WATCH`).

Can it be removed?

[2019-02-25 16:53] bfrog commented on #13718
I think looking at the linux IIO subsystem and how it works would be very useful in designing a performant at usable API for both drivers and applications.

Some nice things IIO does from my day exploration into it

* Static list of channel per device driver to describe said channels
* Channels may be read or write
* Attach buffers to channels with a pollable buffer, may be circular or not.
* Time

[2019-02-25 16:57] ulfalizer opened #13750 "CONFIG_SPI_3_NRF_SPIS is undefined but referenced"
Only `CONFIG_SPI_{0-2}_NRF_SPIS` are defined (in `drivers/spi/Kconfig.nrfx`), but `CONFIG_SPI_3_NRF_SPIS` is referenced in `ext/hal/nordic/nrfx_config_nrf9160.h`.

[2019-02-25 17:02] ulfalizer opened #13752 "The Arduino 101 docs tell people to set CONFIG_UART_QMSI_1_BAUDRATE, which was removed"
Removed in commit 17c6456678 ("drivers/uart: Use dts to set uart priorities for QMSI driver"), but `boards/x86/arduino_101/doc/index.rst` tells people to set it.

[2019-02-25 17:11] andyross commented on #13610
Is that consistent with this being a regression, though?  That division was in the old code too, and the clock settings were the same.

But the advice sounds sane to me: choosing the tick rate (which in tickless mode is an entirely arbitrary thing that just defines the units of timekeeping) to match the underlying clock for performance reasons seems like a good idea.

[2019-02-25 17:25] stanislav-poboril commented on #13748
@ulfalizer ,

How does the bug manifest itself? It asks if the symbol is defined, which isn't, therefore it just skips some code.

The file is in `ext` folder, coming from FreeRTOS BSP for i.MX processors.
The files in `ext` folder are usually not modified, but in this case `CPU_MCIMX6X_M4` has been changed to `CONFIG_SOC_MCIMX6X_M4` and similarly for CPU_MCIMX7D_M4.

The original file:

    /*

[2019-02-25 17:27] ulfalizer opened #13753 "*_UART_NS16550_PORT_{2,3}_* seems to be a (possibly broken) Kconfig/DTS mishmash"
These symbols are referenced but never defined:

[code]

Some of the `CONFIG_*` macros seem to get defined with a `DT_*` prefix instead:

[code]

[2019-02-25 17:34] ulfalizer commented on #13748
@stanislav-poboril
IMO, dead code is a bug in itself, because people normally assume that all code is used (and might need to be updated).

Could leave it in if you think it'd be more work than it's worth to maintain a "fork" though.

[2019-02-25 17:36] microbuilder commented on #13718
Thanks for the feedback. I agree with most of the comments above personally, and I'll dig into IIO a bit on my end having never worked with it. This doesn't address the **Features API** idea, which I think needs to be addressed, but it definitely seems like a good starting point architecturally.

[2019-02-25 17:38] dcpleung commented on #13753
@vonhust Could you take a look at soc/arc/snps_arc_iot/dts_fixup.h to see if those are defined correctly?

[2019-02-25 17:48] ulfalizer commented on #13753
Would be nice to get rid of those `CONFIG_*` prefixes on stuff that isn't from Kconfig in any case.

[2019-02-25 17:57] Olivier-ProGlove opened #13754 "Error: "West version found in path does not support '/usr/bin/make flash', ensure west is installed and not only the bootstrapper""
I cannot flash the simple hello world on nRF52840 using the latest Zephyr (tested commit `d30c9aeafd`, Fri Feb 22).

To duplicate the issue:

1. Open a new terminal:

        $ cd /tmp
        $ env | grep ZEPHYR
        ZEPHYR_SDK_INSTALL_DIR=/home/olivier/zephyr-sdk
        ZEPHYR_TOOLCHAIN_VARIANT=zephyr
        $ pip3 install --upgrade --user west
        $ pip list | grep west
        west (0

[2019-02-25 17:59] inakypg commented on #7908
There is a loud and clear assertion failure in there; this has been failing solidly; the database says this has been failing solid for over a year.
Barring that the four max10's we have running this are broken hardware, there is a problem you need to sort out.

[2019-02-25 18:17] pabigot commented on #13718
I'm generally in favor of re-using existing architectural solutions like IIO, but I'm more in favor of starting with a clear understanding of stakeholder needs.  It may be that IIO is based on assumptions that don't apply to the application domains that Zephyr's intended to support.

My primary application is low-power sensors.  I always know what sensor (HTU21D, BME280, SDP810, ...) is providing

[2019-02-25 18:37] bfrog commented on #13718
I actually disagree somewhat on the Feature API, Features per device could be done via named attributes. It would require some devices providing their named attributes in a public header. In some scenarios there might be additional channels of information that can be subscribed to as well, which themselves allow the device user to take advantage of those features.

Sensor Fusion example might be A

[2019-02-25 18:40] MaureenHelm commented on #13703
You can use `depends_on` instead of a Kconfig filter, and then the PR won't be blocked.

I'm considering removing the KW{40,30,20} altogether.

[2019-02-25 18:46] bfrog commented on #13718
@pabigot I think using name, typified attributes solves most of those problems. I agree, notification of events in a convienent and compact manner is important. Doing things in a callback is ok, but in Zephyr the context of the callback matters and that's partially why there's the trigger options now at compile time for k_work or k_thread callback contexts. Providing a callback in the IRQ context

[2019-02-25 19:10] microbuilder commented on #13718
@pabigot I think this highlights why we need a two-tier approach to sensor data. There are certainly many occasions where you have full knowledge and control over the hardware you are using -- gain, integration time, etc., are known -- and memory efficiency is primary, in which case you should opt for a *RAW* channel and interface. I would propose that all sensor drivers, for example, should have

[2019-02-25 19:21] bfrog commented on #13718
cross compatibility and high performance are also important to me, as is the ability to reconfigure the device at run time into various modes of operation for power savings and different triggers

[2019-02-25 21:42] #10012 closed

[2019-02-25 22:59] dcpleung commented on #13753
Previous renames from `CONFIG_*` to `DT_*` missed a few. Looking into the remaining ones now...

[2019-02-25 23:16] andrewboie opened #13759 "Implement system call fuzz testing"
We'd like to have fuzz testing implemented for system calls to give us more confidence in the correctness of our system call handler checks.

We could develop our own framework, or use something which exists and adapt it to Zephyr.

Reading material:
https://github.com/google/syzkaller
https://lwn.net/Articles/677764/
https://en.wikipedia.org/wiki/Fuzzing
https://codemonkey.org.uk/projects/trinity

[2019-02-25 23:43] ceolin commented on #13759
I've taken a look on this, it's worth to add afl-unicorn https://hackernoon.com/afl-unicorn-fuzzing-arbitrary-binary-code-563ca28936bf

afl-unicorn can be used to fuzz virtually everything, not only syscalls and it seems the easiest one to use on Zephyr.

[2019-02-26 00:00] ceolin commented on #9892
@andyross will this be done for 1.14 or should I change the milestone to future ?

[2019-02-26 00:19] andyross commented on #9892
In some form, sure.  Worst case we can add maximally-sized iteration arrays somewhere (on the stack, or globally with appropriate locking, etc...).

[2019-02-26 01:26] #12319 closed

[2019-02-26 01:58] #13680 closed

[2019-02-26 03:31] hakehuang opened #13762 "mimxrt1060_evk test/lib/c_lib and test/lib/json test/lib/ringbuffer meet Unaligned memory access"
**Describe the bug**
Unaligned memory access

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=minxrt1060_evk ..
3. make
4. make flash

**Expected behavior**
test pass

**Impact**
the cortex-m7 memory config need aligned?

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: ( Linux)
 - Toolchain (Z

[2019-02-26 03:33] hakehuang commented on #13762
@MaureenHelm same with #13733

[2019-02-26 03:50] #13502 closed

[2019-02-26 03:50] ManojSubbarao commented on #13502
cannot reproduce, closing the issue

[2019-02-26 04:12] hakehuang opened #13764 "mimxrt1060_evk test/kernel/mem_slab/mslab_threadsafe meets Imprecise data bus error"
**Describe the bug**
Imprecise data bus error

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. See error

**Expected behavior**
Test PASS

**Impact**
slab memory usage

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux)
 - Toolchain ( Zephyr SDK)
 - Commi

[2019-02-26 04:12] hakehuang commented on #13764
@MaureenHelm

[2019-02-26 04:18] hakehuang opened #13765 "mimxrt1060_evk tests/kernel/workq/work_queue meets Illegal use of the EPSR"
**Describe the bug**
Illegal use of the EPSR

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. See error

**Expected behavior**
test pass

**Impact**
work queue usage

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (Zephyr SDK)
 - Commit

[2019-02-26 04:22] hakehuang commented on #13765
@MaureenHelm same with #13735

[2019-02-26 04:26] hakehuang opened #13766 "mimxrt1060_evk tests/kernel/fatal meet many unwanted exceptions"
**Describe the bug**
the exceptions are not expected

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. See error

**Expected behavior**
all exception is correctly catched

**Impact**
exception handling

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )

[2019-02-26 04:28] hakehuang commented on #13766
[serial_2019-02-26-12-18-22 (1).txt](https://github.com/zephyrproject-rtos/zephyr/files/2903782/serial_2019-02-26-12-18-22.1.txt)

[2019-02-26 04:28] hakehuang commented on #13766
@MaureenHelm

[2019-02-26 04:40] hakehuang opened #13767 "mimxrt1060_evk tests/kernel/context and tests/kernel/critical caught system err"
**Describe the bug**
Caught system err

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. make flash

**Expected behavior**
test pass

**Impact**
context switching

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - Commit SHA or Ver

[2019-02-26 04:40] hakehuang commented on #13767
@MaureenHelm

[2019-02-26 04:49] hakehuang opened #13768 "mimxrt1060_evk tests/kernel/device illegal use of the EPSR"
**Describe the bug**
 illegal use of the EPSR

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. See error

**Expected behavior**
test pass

**Impact**
kernel devices

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: ( Linux)
 - Toolchain (Zephyr SDK)
 - Commit SHA or

[2019-02-26 04:50] hakehuang commented on #13768
@MaureenHelm same output as #13765

[2019-02-26 04:54] hakehuang opened #13769 "mimxrt1060_evk tests/kernel/fifo/fifo_timeout and kernel/fifo/fifo_usage meet system error"
**Describe the bug**
system error

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. See error

**Expected behavior**
test PASS

**Impact**
kernel fifo

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - Commit SHA or Version used: v

[2019-02-26 04:56] hakehuang commented on #13769
@MaureenHelm same error as #13767

[2019-02-26 05:07] #13769 closed

[2019-02-26 05:07] hakehuang commented on #13769
mix with other fails

[2019-02-26 05:09] hakehuang commented on #13768
mix with other failures

[2019-02-26 05:09] #13768 closed

[2019-02-26 05:11] hakehuang commented on #13767
mixed with other error

[2019-02-26 05:11] #13767 closed

[2019-02-26 06:07] AdithyaBaglody commented on #12900
@andrewboie I filter all values which are too big to be true.
If you have a emulator which is cycle accurate you can run this. But this cant be run on qemu_x86 or mps2_an385. The main purpose of this was to get info from the hardware platforms and not emulators. Therefore i believe we can close this.

[2019-02-26 06:39] andyross commented on #12559
Partially addressed by #13770.  Seems like all emulation platforms but ARM are fine now.  There, though, the test shows a hilarious inversion of our normal pattern: it works well enough in a big sanitycheck, but if I run it in isolation I get pretty reproducible deadlocks.  Still looking.

[2019-02-26 07:15] cvinayak commented on #13396
@pdunaj Last I knew that S8 does not correctly handle slave initiated procedure collisions correctly, it accepts a PHY update request from peripheral and performs PHY update procedure while S8 itself is initiating a connection update procedure, Zephyr will detect such violations and as per spec disconnect. The work around is to disable auto PHY update initiation in Zephyr (Kconfig option, present

[2019-02-26 07:17] galak commented on #13703
`depends_on` what?

Even then we'd still have a build issue if flash is enabled on KW40.

[2019-02-26 07:48] #12123 closed

[2019-02-26 07:48] ManojSubbarao commented on #12123
Issue cannot be reproduced as per @rgundi. Closing the issue.

[2019-02-26 08:28] SebastianBoe commented on #9947
Hi, very sorry for the late reply.

A dedicated PR with an RFC or DNM tag seems to me to be the best place to discuss the prototype.

[2019-02-26 09:07] rmstoi commented on #10188
pcap from running this test with Linux DUT

[linux-echo-reply-correct-mac.pcapng.gz](https://github.com/zephyrproject-rtos/zephyr/files/2904598/linux-echo-reply-correct-mac.pcapng.gz)

[2019-02-26 10:05] hakehuang commented on #13765
mix with kernel/fatal failure.

[2019-02-26 10:09] agansari commented on #13655
@hakehuang can't reproduce with 588d7b068c9166f043ccb0f9bf50bf39d0173cee
After compiling and using make flash board behaves okay, I've restarted (via button SW4) it at least 10 times for each test, but  test passes every time.

[2019-02-26 10:42] nvlsianpu commented on #13567
I this case exact value you have shouldn't make any difference. However CONFIG_SETTINGS_FCB_FLASH_AREA became a orphan (need to use only its default value `$(dt_int_val,DT_FLASH_AREA_STORAGE_ID)`) - so just keep untouched.

[2019-02-26 10:58] nvlsianpu commented on #13567
I just realized that you have been taring to run test with target modification:

I this case unaligned test shouldn't pass as it test 4 B alignment. This test suite was adapted to run on nrf52 targets with 1 B alignment requirement.

In this circumstance, if all other tests pass - this mean that you already used unaligned access with many successes.

[2019-02-26 10:59] nvlsianpu commented on #13567
Target for test is pointed always in testcase.yaml file

[2019-02-26 11:21] finikorg commented on #13560
I have `reel_board` and `frdm_k64f, the sample works fine with them. Do you have other USB samples working on that board?

[2019-02-26 11:33] hakehuang opened #13777 "mimxrt1060_evk tests/kernel/profiling/profiling_api meets Illegal use of the EPSR"
**Describe the bug**
Illegal use of the EPSR

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. See error

**Expected behavior**
test pass

**Impact**
profiling

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - Commit SHA or Versio

[2019-02-26 11:34] hakehuang commented on #13777
@MaureenHelm same error with #13765

[2019-02-26 11:39] hakehuang opened #13778 "mimxrt1060_evk tests/kernel/pending meets assert"
**Describe the bug**
 Assertion failed at /build/src/workspace/rt1060_master-M47H37VYJLYH6RPUQ3ZIDFUP2YVNEZ4DCSCRKPANJY7327MRFXVA/tests/kernel/pending/src/main.c:313: test_pending: (coop_high_state != FIFO_TEST_START) || (coop_low_state != FIFO_TEST_START) || (task_high_state != FIFO_TEST_START) || (task_low_state != FIFO_TEST_START) is true

**To Reproduce**
Steps to reproduce the behavior:
1. mk

[2019-02-26 11:40] hakehuang commented on #13778
@MaureenHelm

[2019-02-26 11:46] hakehuang opened #13779 "mimxrt1060_evk tests/kernel/mem_pool/mem_pool_threadsafe meets Imprecise data bus error"
**Describe the bug**
Imprecise data bus error

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. See error

**Expected behavior**
Test pass

**Impact**
memory pool

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - Commit SHA or Ver

[2019-02-26 11:46] hakehuang commented on #13779
@MaureenHelm

[2019-02-26 12:00] wentongwu commented on #11721
It seems this issue caused by nrf5* timer delay which will trigger same priority thread time slice schedule. And can we check timer delay issue from platform respective? Actually I do see the difference of system tick between nrf5* board and other Arm boards. Normal Arm boards use Systick interrupt to calculate system tick. And nrf5* board use RTC to do it with IRQ num NRF5_IRQ_RTC1_IRQn = 17, may

[2019-02-26 12:00] hakehuang opened #13780 "mimxrt1060_evk tests/crypto/tinycrypt_hmac_prng and test_mbedtls meet Unaligned memory access"
**Describe the bug**
Unaligned memory access

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. See error

**Expected behavior**
test PASS

**Impact**
tinycrypt

**Screenshots or console output**
[code]

test_mbedtls
[code]

**Environment (please complete the following information):**
 - OS: ( Linux)
 - Toolchain (Zephyr SDK)

[2019-02-26 12:00] hakehuang commented on #13780
@MaureenHelm

[2019-02-26 12:06] Jeepgoing commented on #13560
@finikorg  I have tested `hid` sample,it't works good
`https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/subsys/usb/hid`

[2019-02-26 12:18] SavinayDharmappa commented on #13247
https://github.com/zephyrproject-rtos/zephyr/pull/13781

[2019-02-26 12:49] ioannisg opened #13783 "tests/kernel/mem_protect/stackprot failure in frdm_k64f due to limited privilege stack size"
**Describe the bug**
stackprot test does not run properly on frdm_k64f, triggering a BusFault

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\frdm_k64f ..
3. make
4. See error

**Expected behavior**
Test should pass.

**Logs**

[code]
**Additional context**
The test started failing after (45631c30caa7eb9146a469eb477c094fb8300dbf). This commit forc

[2019-02-26 13:59] pdunaj commented on #13585
I think I am done with the investigation.  Stack is bumped up by around nearly 400B when pairing is complete. This happens as `smp_check_complete` is called from `bt_conn_notify_tx` (as a callback). When this is done keys are stored and this process not only goes deep but also declares some arrays on a stack. All in all stack usage goes up.

Hi @nashif , this is not low as it causes stack overflow

[2019-02-26 14:00] #13701 closed

[2019-02-26 14:03] pdunaj commented on #13585
At the moment the only solution for that is to increase the stack for tx thread. This is however problematic as some SoCs will not have memory for that.

@sjanc , @jhedberg , maybe it would be possible to defer key store to worqueue thread?

[2019-02-26 14:07] galak commented on #13686
Fixed with commit 29dac2233e1da32c2ee0b662835edf4424fd5b21

[2019-02-26 14:07] #13686 closed

[2019-02-26 14:07] pfalcon opened #13787 "[RFC] POSIX subsys vs libc: playing along or against each other"
This is related to https://github.com/zephyrproject-rtos/zephyr/issues/13054 and https://github.com/zephyrproject-rtos/zephyr/issues/12965, and made a separate ticket to capture the essence of the problem and have a focused discussion.

The basic fact:

**C library specification is a part of POSIX.** See e.g. http://pubs.opengroup.org/onlinepubs/9699919799/functions/memset.html for POSIX specifica

[2019-02-26 14:08] pfalcon commented on #13787
@galak, @nashif: FYI

[2019-02-26 14:13] pfalcon commented on #13787
Regarding alternatives 1 and 2: there should be clear usecases, and clear stakeholders who will pursue that work.

The usecase of the main proposed solution should be clear: to make POSIX subsys to actually deliver (i.e. be able to build existing POSIX apps against Zephyr), with realistic effort.

And note that selecting the main solution doesn't precluding working on Alternatives 1/2 at later tim

[2019-02-26 14:14] pdunaj commented on #13585
https://github.com/zephyrproject-rtos/zephyr/pull/13789 created for stack expansion

[2019-02-26 14:20] galak commented on #8838
This looks to be fixed.  I think commit aa049e5d8f7ce08ff9e7de1675edddda14faedb6 fixes this issue.

[2019-02-26 14:20] #8838 closed

[2019-02-26 15:24] jukkar commented on #13602
For BSD sockets, there is the `getsockname()` function that will return the local socket information. Unfortunately we do not support that function yet.

[2019-02-26 15:27] stanislav-poboril commented on #13748
I understand. The legacy FreeRTOS BSP and this file is probably not going to be updated, or updated frequently.

Bigger issue I think is that this file (and possibly others) is duplicated in `ext` for i.MX6 and i.MX7. If it would not duplicated but shared, there would not be a dead code.  I will have a look if some of those files in `ext` could be shared between i.MX6/7 instead of removing the dea

[2019-02-26 15:51] pabigot opened #13796 "nordic: extend content of rtc and timer device tree bindings"
Deferred from #13792:

I think two things need to be added to the device bindings:
* Both RTC and TIMER require a property that specifies the number of capture/compare registers available on the specific peripheral instance.
* TIMER also requires a property indicating supported bit widths.  Not sure how that would best be expressed e.g. as a bit mask, an array of allowed widths, or individual bool

[2019-02-26 16:35] andrewboie commented on #13783
This default is getting too complicated.
How was the original value of 256 arrived at?

[2019-02-26 16:51] andrewboie commented on #13783
Based on discussion this morning we could perhaps just do:

[code]

[2019-02-26 16:56] StefJar opened #13799 "usb cdc acm fails when writing big chunks of data on stm32"
I have problems when sending bigger amounts of data via
`uart_poll_out`
it fails after a short time with:
`usb_dc_stm32: Unable to write ep 0x82 (-16)`

I am using a hybrid io approach:
The rx on the CDC-ACM works on interrupt base. The tx is done via polling.
The CDC-ACM is setup without any flow control only the baudrate is set.

For testing I changed to a fully interrupt driven approach. Means

[2019-02-26 17:11] andyross commented on #13536
Yeah, this was definitely due to the issue in #13770.   Just ran through 80 iterations of this test on my nrf52840_pca10056 and my finger is sore from the surprisingly sharp reset button.

[2019-02-26 17:32] andyross commented on #11721
@wentongwu: Actually it's simpler than that.  The patch @spoorthik and @nashif bisected to was just an emulator workaround.   The original code would spin waiting on a specified number of ticks to pass, which was tickling bugs on x86_64 so I replaced it with a simpler busy wait, which worked everywhere except on nRF.

The difference in behavior is tick alignment: the old code was always exiting th

[2019-02-26 18:14] MaureenHelm commented on #13765
I'm not able to reproduce this. @dleach02, @agansari can you please give it a try?

[2019-02-26 18:19] MaureenHelm commented on #13766
I think this is expected behavior. @andrewboie is that correct?

[2019-02-26 18:22] andyross commented on #13289
This reproduces for me on hardware (but not qemu).  And indeed it's in the spinlockification series.  It bisects down to commit 8a3d57b6cc60 (the userspace.c spinlockification).  Reverting just that one patch, or of course disabling userspace, suppresses the issue.

That's probably the most complicated of the spinlock changes, so this may take a bit of thinking.  But at least there's a path to rel

[2019-02-26 18:26] MaureenHelm commented on #13780
I'm not able to reproduce either of these failures.

[2019-02-26 18:29] andyross commented on #13051
Taking a look.  I'm not able to reproduce this on my current tree which has a few unmerged fixes, so I suspect this is addressed.  Will check against master.

[2019-02-26 18:31] kiranpachava commented on #13051
Please do check it on master branch code (v1.13.0 release tag).

[2019-02-26 18:34] andyross commented on #13051
Oh, was this against the 1.13 release code?  Can you please check against master?   If it's fixed it's fixed, and we can close this.

[2019-02-26 18:34] MaureenHelm commented on #13727
I'm not able to reproduce this

[2019-02-26 18:36] MaureenHelm commented on #13703
flash? soc_flash?

Not if we don't list flash in the supported list for kw40.

[2019-02-26 18:37] kiranpachava commented on #13051
yep, reported on v1.13 release code. Sure we will check this after merging v1.14.0-rc1 to our code base.
Thanks Andy, I will get back to you on this if we find any issue on latest code base.

[2019-02-26 18:40] andyross commented on #13051
To be clearer: basically the entire timer subsystem was rewritten for 1.14.  And nRF in particular was subject to a bunch of timer bugs with the old code.  The new code has 100% new and improved bugs.

[2019-02-26 18:40] andrewboie commented on #12900
Please get rid of this filter and have it print unconditionally.

[2019-02-26 18:44] galak commented on #13727
Wondering if there are toolchain version differences?

[2019-02-26 18:46] galak commented on #13703
If the driver isn't valid or supported on KW40, than I'd rather we fix Kconfig to say as much.  We don't have 'flash' or 'soc_flash' in the board yaml and I'd rather not add it.

[2019-02-26 19:08] andyross commented on #8454
Nitpicky process point, as we scrub issues for 1.14:  this is really a feature request, not a bug.  It reflects a desire that we use a particular Xtensa HAL layer to save and restore user registers.  The older xtensa code used the HAL, but not this framework (or maybe used it incorrectly).  The newer asm2 layer would need a different framework (e.g. precompile the platform headers to extract the l

[2019-02-26 19:18] andyross commented on #6585
Just got to this for like the third time, and... I'm sorry, I still don't see it.  In the example code, you have two threads operating on two separate events, how is it even possible for them to be confused?

@Likailiu - I genuinely believe you've found a bug, but without a reproducer (i.e. **actual code we can download and run**) I just don't see what can be done here.  Just describing the design

[2019-02-26 19:21] andyross commented on #8190
And... we're back here again looking at this bug as we scrub for a release and no one knows what to do with it.

I mean, I still agree in principle: cooperative threads make for deadlock machines if they aren't used carefully, and we haven't been as careful as we need to.  But at this point things seem pretty stable in scheduler-land, and this isn't really a kernel bug per se.  Maybe we should red

[2019-02-26 19:34] andyross commented on #12352
I can't make this happen on master as of commit cd65ed857cb20bad0941502ec79066124dc18b67.  tests/kernel/mutex on mps2_an385 got through 106 sanitycheck iterations on my build machine with no failures.  Can you retest?  What kind of frequency were you seeing?

[2019-02-26 19:41] mike-scott commented on #8190
Can close, and I'll re-open if needed.

[2019-02-26 19:50] tautologyclub commented on #12501
Any news?

[2019-02-26 20:12] pabigot commented on #12352
Failed on the sixth run in the above loop, with SDK 0.9.5.  I don't remember exactly what failed before, but the assertion below is consistent with `thread_09` already holding the mutex.
[code]

[2019-02-26 20:15] andyross commented on #12352
Odd.  What's your host OS?  Is the system otherwise unloaded?  I was using 0.9.5 for that test but it seems similarly fine for me with 0.10.0-rc3

[2019-02-26 20:25] pabigot commented on #12352
Ubuntu 18.04.2, 64 GB with 12 cores of  i7-6800K.  There's one 2-core VM running on it plus my development environment: top shows it about 98% idle.  I think that's pretty lightly loaded, but it certainly isn't absolutely idle, so that's probably a contributing factor.

[2019-02-26 20:34] andrewboie commented on #12352
Wondering if this is a real kernel bug, or another instance of us not having working icount in QEMU.

[2019-02-26 20:46] andyross commented on #12352
If @pabigot is getting failures on an unloaded system after 6 iterations, that's for sure not a nondeterminism issue.   Qemu really is pretty solid as long as it's allowed to receive its timing signals by the host OS promptly; the tests that give us trouble in CI will (literally!) run for thousands of cycles for me if I just run sanitycheck on a single test in a loop like this.

I'll dig around.

[2019-02-26 23:24] andyross commented on #12553
Some notes here regarding mps2_an385: this platform does sorta feel less stable than the others, and it seems to be down to the MPU code, or interactions thereof.

When I run sanitycheck on that platform (in this case, with the fix in PR #13770), I routinely get 3-5 failures out of 155 tests.  If I apply the following, the failure rate drops to just **one failure in 20 iterations**, or about two o

[2019-02-27 01:28] andyross commented on #13779
This sounds a lot like a duplicate of #12559, which has a fix up in #13770.  Could you try with that applied and verify it works for you?

[2019-02-27 01:34] GAnthony commented on #12745
@galak, could you please assign this and any new issues to @vanti?
(I don't think I'll have the bandwidth to work on it in my new role).
@vanti will be updating CODEOWNERS to reflect the new ownership.

[2019-02-27 01:59] dcpleung commented on #12955
@nashif Since we have individual bugs opened already, should we close this one?

[2019-02-27 02:02] andrewboie commented on #12144
Do we have PRs addressing all of these? High-priority bug, gating release.

[2019-02-27 02:06] #13753 closed

[2019-02-27 02:50] hakehuang commented on #13654
after download the application reboot the board can not reproduce this issue, looks like it is related my program method, as I am using the on board cmsis-dap to program a bootloader first. I will check my bootloader fisrt. Thanks. @dleach02 @galak @ioannisg  thanks for your checking

[2019-02-27 02:50] #13654 closed

[2019-02-27 03:10] hakehuang commented on #13727
I find this issue may be related that the stack point is not set by zephyr application which depends on the board ROM to set,  @MaureenHelm , @galak does zephyr set the stack point, defined in the first 4 bytes of the address

[2019-02-27 03:11] hakehuang commented on #13728
same with #13727, so close it

[2019-02-27 03:11] #13728 closed

[2019-02-27 03:18] ulfalizer opened #13813 "Test suite mslab_threadsafe fails randomly"
Been seeing this in a few different unrelated PRs now:

[code]

[2019-02-27 03:21] hakehuang commented on #13733
same root cause as #13727

[2019-02-27 03:21] #13733 closed

[2019-02-27 03:29] hakehuang commented on #13735
same root cause as #13727

[2019-02-27 03:29] #13735 closed

[2019-02-27 03:36] hakehuang commented on #13762
same root cause as #13727

[2019-02-27 03:36] #13762 closed

[2019-02-27 03:44] hakehuang commented on #13764
close same root cause as #13727

[2019-02-27 03:44] #13764 closed

[2019-02-27 03:48] hakehuang commented on #13765
@MaureenHelm , @dleach02 , @agansari sorry this is the same root cause as #13727, zephyr does not reinitialize the sp. please ignore this

[2019-02-27 03:48] #13765 closed

[2019-02-27 03:56] hakehuang commented on #13766
according to the log, the board is keeping rebooting. @MaureenHelm

[2019-02-27 04:01] hakehuang commented on #13777
same with #13727

[2019-02-27 04:01] #13777 closed

[2019-02-27 04:05] hakehuang commented on #13778
same root cause as #13727

[2019-02-27 04:05] #13778 closed

[2019-02-27 04:06] hakehuang commented on #13779
@andyross thanks it fixed

[2019-02-27 04:06] #13779 closed

[2019-02-27 04:11] hakehuang commented on #13780
@MaureenHelm , this is the same root cause as #13727, SP is not set by zephyr itself.

[2019-02-27 04:11] #13780 closed

[2019-02-27 05:02] AdithyaBaglody commented on #12900
No, this was asked hence I had to placed it. If you still need it, enable the macro PRINT_ALL_MEASUREMENTS and run.

[2019-02-27 05:14] andrewboie commented on #12900
By who?

[2019-02-27 05:23] AdithyaBaglody commented on #12900
I am not able to recollect. This was a long time ago.

[2019-02-27 05:56] andyross commented on #12553
Yikes.  That is **EXACTLY** what is happening.  Check out arch/arm/include/cortrex_m/exc.h.  The diff below shows the relevant code.  Unless I'm completely misreading this, the PendSV exception is always set to a priority of 0xff (the lowest possible priority), where SVCall gets _EXC_SVC_PRIO instead, a **higher** priority.

So when code running in a syscall handler tries to context switch by call

[2019-02-27 06:13] andyross commented on #12553
Zero spurious failures (again, not including the reliably broken one due to fault priority) in 17 runs now.  I'm going to leave this running overnight for kicks.

[2019-02-27 06:34] vonhust commented on #9560
This issue can be closed as:
1. APP_APPLICATION_MEM is removed in latest code
2. the handling of app_shared_mem is implemented in latest code

[2019-02-27 06:52] #9560 closed

[2019-02-27 07:10] cinlyooi-intel commented on #13468
On adruino duo : Commit ID 9072d34f30

[2019-02-27 07:36] kubiaj commented on #13624
PR: 13636

[2019-02-27 07:59] hakehuang commented on #13727
MPU region config issue before the application runs. not the application issue

[2019-02-27 07:59] #13727 closed

[2019-02-27 08:09] #13657 closed

[2019-02-27 08:15] cinlyooi-intel opened #13817 "tests/ztest/test/mock fails to complete on nios2"
**Describe the bug**
Reopen $8789 as there is a new instance of the said bug on nios2

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2.cmake -DBOARD=altera_max10 -DARCH=nios2
3. make
4. make run

**Screenshots or console output**
[code]

after 30s the test was canceled

**Environment (please complete the following information):**
 - OS: Fedora29
 - Toolchain  zephyr
 -

[2019-02-27 08:18] nvlsianpu commented on #13734
@arun1joshi At sha b1a7e71 this test as not implemented yet.

[2019-02-27 08:23] #12292 closed

[2019-02-27 08:37] nvlsianpu commented on #13734
Pleas check your repository tree status - it must have been not well (clean) checkout-ed.
I closed this as this bug can not appear for SHA you pointed, and it is not present for master HEAD as well.

[2019-02-27 08:37] #13734 closed

[2019-02-27 08:46] agansari commented on #13655
Is this the same issue as https://github.com/zephyrproject-rtos/zephyr/issues/13654#issuecomment-467702805 ?

[2019-02-27 08:50] kiranpachava commented on #13051
Thanks Andy, I checked it and the issue is not reproduced in v1.14.0-rc1 code base

[2019-02-27 09:04] loicpoulain opened #13819 "mimxrt10xx: Wrong I2C transfer status"
**Describe the bug**
When running samples/drivers/i2c_scanner, application wrongly reports slaves found on multiple addresses. It is actually due to transfer success instead of failure. Interesting to note that only odd addresses are reported. Logic analyzer screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/drivers/i2c_scanner
2. west build -b mimxrt1064_evk

**Exp

[2019-02-27 09:05] overheat commented on #13468
Hi Cinlyooi,

I checked this on my Nordic boards. It works fine with the latest version of Zephyr.
Could you update your zephyr project and test it again?

The attachments are my screenshot.

![1](https://user-images.githubusercontent.com/4322417/53478256-5cad6280-3ab1-11e9-85d1-186efb34effa.png)

[2019-02-27 09:28] stanislav-poboril commented on #13748
Fixed in pr #13818

[2019-02-27 09:36] #12298 closed

[2019-02-27 09:41] cinlyooi-intel opened #13821 "tests/kernel/sched/schedule_api: Assertion failed for test_slice_scheduling"
**Describe the bug**
'''
 Assertion failed at src/test_slice_scheduling.c:51: thread_tslice: ((tdelta >= expected_slice_min) && (tdelta <= expected_slice_max) && ((int)p1 == thread_idx)) is false
'''

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf51_pca10028 -DARCH=arm
cmake -DBOARD=nrf52_pca10040 -DARCH=arm
3. make
4. make run

**Screenshots or con

[2019-02-27 10:02] pdunaj opened #13822 "Invalid USB state: powered after cable is disconnected"
**Describe the bug**
Replicated with nrf_desktop on both PCA20041 and PCA10056 (here you have to enable USB support as it is not there in default configuration).
Connect to USB - observe `powered` event. HID reports are transmitted and everything seems fine.
Disconnect USB now - observe `disconnected` event (so far so good) and then `powered` event which clearly is wrong as USB cable is not connec

[2019-02-27 10:05] cinlyooi-intel opened #13823 "tests/kernel/arm_irq_vector_table: test case cannot quit displaying "isr 0 ran!""
**Describe the bug**
Test case did not quit. It kept displaying "isr 0 ran!" until it times out

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52_pca10040 -DARCH=arm
3. make
4. make run

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora29
 - Toolchain : zephyr
 - Commit SHA or Versio

[2019-02-27 10:15] overheat commented on #13468
I also add 1000ms boot delay, and it works fine right.
![delay_1000ms](https://user-images.githubusercontent.com/4322417/53483075-a13dfb80-3abb-11e9-8cf9-ca732053e482.png)

[2019-02-27 10:47] cinlyooi-intel commented on #12635
Please note that there are a lot of `<err> fs: failed to unlink path (-2)&#1b;[0m` messages after `PROJECT EXECUTION FAILED`

[2019-02-27 10:54] mandarcthorat1 opened #13824 "[Coverity CID :191003]Resource leaks in /samples/net/sockets/can/src/main.c"
Static code scan issues seen in File: /samples/net/sockets/can/src/main.c
 Category: Resource leaks
 Function: setup_socket
 Component: Samples
 CID: 191003
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13825 "[Coverity CID :191002]Error handling issues in /tests/net/lib/mqtt_pubsub/src/test_mqtt_pubsub.c"
Static code scan issues seen in File: /tests/net/lib/mqtt_pubsub/src/test_mqtt_pubsub.c
 Category: Error handling issues
 Function: publish_handler
 Component: Tests
 CID: 191002
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13826 "[Coverity CID :191001]Control flow issues in /subsys/net/lib/lwm2m/lwm2m_rw_json.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_rw_json.c
 Category: Control flow issues
 Function: put_json_postfix
 Component: Networking
 CID: 191001
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13827 "[Coverity CID :190998]Incorrect expression in /tests/drivers/uart/uart_async_api/src/test_uart_async.c"
Static code scan issues seen in File: /tests/drivers/uart/uart_async_api/src/test_uart_async.c
 Category: Incorrect expression
 Function: test_write_abort
 Component: Tests
 CID: 190998
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13828 "[Coverity CID :190997]Integer handling issues in /lib/os/printk.c"
Static code scan issues seen in File: /lib/os/printk.c
 Category: Integer handling issues
 Function: _vprintk
 Component: Other
 CID: 190997
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13829 "[Coverity CID :190996]Integer handling issues in /drivers/can/stm32_can.c"
Static code scan issues seen in File: /drivers/can/stm32_can.c
 Category: Integer handling issues
 Function: can_stm32_set_filter
 Component: Drivers
 CID: 190996
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13830 "[Coverity CID :190995]Control flow issues in /subsys/net/ip/ipv6.c"
Static code scan issues seen in File: /subsys/net/ip/ipv6.c
 Category: Control flow issues
 Function: net_ipv6_input
 Component: Networking
 CID: 190995
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13831 "[Coverity CID :190993]Various in /subsys/shell/shell.c"
Static code scan issues seen in File: /subsys/shell/shell.c
 Category: Various
 Function: execute
 Component: Other
 CID: 190993
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13832 "[Coverity CID :190992]Null pointer dereferences in /subsys/net/ip/dhcpv4.c"
Static code scan issues seen in File: /subsys/net/ip/dhcpv4.c
 Category: Null pointer dereferences
 Function: dhcpv4_create_message
 Component: Networking
 CID: 190992
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13833 "[Coverity CID :190991]Error handling issues in /subsys/bluetooth/controller/ll_sw/ull_conn.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ll_sw/ull_conn.c
 Category: Error handling issues
 Function: ticker_op_stop_cb
 Component: Bluetooth
 CID: 190991
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13834 "[Coverity CID :190990]Null pointer dereferences in /subsys/net/ip/net_pkt.c"
Static code scan issues seen in File: /subsys/net/ip/net_pkt.c
 Category: Null pointer dereferences
 Function: net_pkt_append
 Component: Networking
 CID: 190990
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13835 "[Coverity CID :190989]Parse warnings in /tests/drivers/can/api/src/main.c"
Static code scan issues seen in File: /tests/drivers/can/api/src/main.c
 Category: Parse warnings
 Function:
 Component: Tests
 CID: 190989
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13836 "[Coverity CID :190987]Integer handling issues in /arch/arm/core/cortex_m/mpu/nxp_mpu.c"
Static code scan issues seen in File: /arch/arm/core/cortex_m/mpu/nxp_mpu.c
 Category: Integer handling issues
 Function: _mpu_sram_partitioning
 Component: Architectures
 CID: 190987
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13837 "[Coverity CID :190986]Control flow issues in /subsys/net/lib/sockets/sockets_tls.c"
Static code scan issues seen in File: /subsys/net/lib/sockets/sockets_tls.c
 Category: Control flow issues
 Function: tls_opt_hostname_set
 Component: Networking
 CID: 190986
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13838 "[Coverity CID :190985]Memory - illegal accesses in /arch/x86/core/x86_mmu.c"
Static code scan issues seen in File: /arch/x86/core/x86_mmu.c
 Category: Memory - illegal accesses
 Function: _arch_buffer_validate
 Component: Architectures
 CID: 190985
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13839 "[Coverity CID :190983]Incorrect expression in /tests/drivers/counter/counter_basic_api/src/test_counter.c"
Static code scan issues seen in File: /tests/drivers/counter/counter_basic_api/src/test_counter.c
 Category: Incorrect expression
 Function: test_multiple_alarms_instance
 Component: Tests
 CID: 190983
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13840 "[Coverity CID :190981]Error handling issues in /subsys/fs/nffs_fs.c"
Static code scan issues seen in File: /subsys/fs/nffs_fs.c
 Category: Error handling issues
 Function: inode_to_dirent
 Component: Other
 CID: 190981
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13841 "[Coverity CID :190980]Parse warnings in /tests/drivers/can/api/src/main.c"
Static code scan issues seen in File: /tests/drivers/can/api/src/main.c
 Category: Parse warnings
 Function:
 Component: Tests
 CID: 190980
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13842 "[Coverity CID :190978]Control flow issues in /drivers/spi/spi_intel.c"
Static code scan issues seen in File: /drivers/spi/spi_intel.c
 Category: Control flow issues
 Function: push_data
 Component: Drivers
 CID: 190978
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13843 "[Coverity CID :190977]Integer handling issues in /lib/os/printk.c"
Static code scan issues seen in File: /lib/os/printk.c
 Category: Integer handling issues
 Function: _vprintk
 Component: Other
 CID: 190977
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13844 "[Coverity CID :190976]Integer handling issues in /arch/arm/core/cortex_m/mpu/nxp_mpu.c"
Static code scan issues seen in File: /arch/arm/core/cortex_m/mpu/nxp_mpu.c
 Category: Integer handling issues
 Function: _mpu_configure_regions
 Component: Architectures
 CID: 190976
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13845 "[Coverity CID :190974]Integer handling issues in /subsys/net/ip/trickle.c"
Static code scan issues seen in File: /subsys/net/ip/trickle.c
 Category: Integer handling issues
 Function: net_trickle_create
 Component: Networking
 CID: 190974
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13846 "[Coverity CID :190973]Control flow issues in /subsys/net/ip/net_context.c"
Static code scan issues seen in File: /subsys/net/ip/net_context.c
 Category: Control flow issues
 Function: net_context_connect
 Component: Networking
 CID: 190973
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13847 "[Coverity CID :190972]Control flow issues in /subsys/power/power.c"
Static code scan issues seen in File: /subsys/power/power.c
 Category: Control flow issues
 Function: sys_suspend
 Component: Other
 CID: 190972
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13848 "[Coverity CID :190971]Null pointer dereferences in /subsys/net/ip/net_pkt.c"
Static code scan issues seen in File: /subsys/net/ip/net_pkt.c
 Category: Null pointer dereferences
 Function: net_pkt_cursor_operate
 Component: Networking
 CID: 190971
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13849 "[Coverity CID :190970]Uninitialized variables in /subsys/bluetooth/shell/ll.c"
Static code scan issues seen in File: /subsys/bluetooth/shell/ll.c
 Category: Uninitialized variables
 Function: cmd_advx
 Component: Bluetooth
 CID: 190970
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13850 "[Coverity CID :190969]Uninitialized variables in /samples/net/sockets/coap_client/src/coap-client.c"
Static code scan issues seen in File: /samples/net/sockets/coap_client/src/coap-client.c
 Category: Uninitialized variables
 Function: start_coap_client
 Component: Samples
 CID: 190969
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13851 "[Coverity CID :190967]Incorrect expression in /tests/drivers/counter/counter_basic_api/src/test_counter.c"
Static code scan issues seen in File: /tests/drivers/counter/counter_basic_api/src/test_counter.c
 Category: Incorrect expression
 Function: test_single_shot_alarm_instance
 Component: Tests
 CID: 190967
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13852 "[Coverity CID :190966]Error handling issues in /samples/net/sockets/echo_async_select/src/socket_echo_select.c"
Static code scan issues seen in File: /samples/net/sockets/echo_async_select/src/socket_echo_select.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 190966
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13853 "[Coverity CID :190965]Error handling issues in /subsys/net/ip/ipv4_autoconf.c"
Static code scan issues seen in File: /subsys/net/ip/ipv4_autoconf.c
 Category: Error handling issues
 Function: net_ipv4_autoconf_reset
 Component: Networking
 CID: 190965
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13854 "[Coverity CID :190964]Integer handling issues in /arch/arm/core/cortex_m/mpu/nxp_mpu.c"
Static code scan issues seen in File: /arch/arm/core/cortex_m/mpu/nxp_mpu.c
 Category: Integer handling issues
 Function: _mpu_configure_regions
 Component: Architectures
 CID: 190964
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13855 "[Coverity CID :190961]Error handling issues in /subsys/bluetooth/host/mesh/prov.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/prov.c
 Category: Error handling issues
 Function: prov_data
 Component: Bluetooth
 CID: 190961
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13856 "[Coverity CID :190960]Various in /tests/subsys/fs/fcb/src/fcb_test_last_of_n.c"
Static code scan issues seen in File: /tests/subsys/fs/fcb/src/fcb_test_last_of_n.c
 Category: Various
 Function: fcb_test_last_of_n
 Component: Tests
 CID: 190960
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13857 "[Coverity CID :190958]Control flow issues in /samples/boards/96b_argonkey/microphone/src/main.c"
Static code scan issues seen in File: /samples/boards/96b_argonkey/microphone/src/main.c
 Category: Control flow issues
 Function: main
 Component: Samples
 CID: 190958
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13858 "[Coverity CID :190957]Incorrect expression in /tests/kernel/fatal/src/main.c"
Static code scan issues seen in File: /tests/kernel/fatal/src/main.c
 Category: Incorrect expression
 Function: check_stack_overflow
 Component: Tests
 CID: 190957
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 10:54] mandarcthorat1 opened #13859 "[Coverity CID :190956]Error handling issues in /samples/net/sockets/can/src/main.c"
Static code scan issues seen in File: /samples/net/sockets/can/src/main.c
 Category: Error handling issues
 Function: setup_socket
 Component: Samples
 CID: 190956
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13860 "[Coverity CID :190955]Error handling issues in /tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c"
Static code scan issues seen in File: /tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c
 Category: Error handling issues
 Function: nffs_test_util_create_file_blocks
 Component: Tests
 CID: 190955
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13861 "[Coverity CID :190954]Error handling issues in /subsys/bluetooth/controller/ll_sw/nordic/lll/lll_test.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ll_sw/nordic/lll/lll_test.c
 Category: Error handling issues
 Function: ll_test_end
 Component: Bluetooth
 CID: 190954
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13862 "[Coverity CID :190953]Error handling issues in /subsys/fs/shell.c"
Static code scan issues seen in File: /subsys/fs/shell.c
 Category: Error handling issues
 Function: cmd_read
 Component: Other
 CID: 190953
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13863 "[Coverity CID :190952]Incorrect expression in /tests/drivers/counter/counter_basic_api/src/test_counter.c"
Static code scan issues seen in File: /tests/drivers/counter/counter_basic_api/src/test_counter.c
 Category: Incorrect expression
 Function: test_set_top_value_with_alarm_instance
 Component: Tests
 CID: 190952
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13864 "[Coverity CID :190951]Control flow issues in /subsys/net/ip/net_context.c"
Static code scan issues seen in File: /subsys/net/ip/net_context.c
 Category: Control flow issues
 Function: bind_default
 Component: Networking
 CID: 190951
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13865 "[Coverity CID :190950]Integer handling issues in /arch/arm/core/cortex_m/mpu/nxp_mpu.c"
Static code scan issues seen in File: /arch/arm/core/cortex_m/mpu/nxp_mpu.c
 Category: Integer handling issues
 Function: _mpu_sram_partitioning
 Component: Architectures
 CID: 190950
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13866 "[Coverity CID :190949]Error handling issues in /tests/subsys/fs/nffs_fs_api/common/test_append.c"
Static code scan issues seen in File: /tests/subsys/fs/nffs_fs_api/common/test_append.c
 Category: Error handling issues
 Function: test_append
 Component: Tests
 CID: 190949
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13867 "[Coverity CID :190948]Null pointer dereferences in /subsys/net/lib/lwm2m/lwm2m_rw_json.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_rw_json.c
 Category: Null pointer dereferences
 Function: read_number
 Component: Networking
 CID: 190948
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13868 "[Coverity CID :190946]Null pointer dereferences in /tests/net/utils/src/main.c"
Static code scan issues seen in File: /tests/net/utils/src/main.c
 Category: Null pointer dereferences
 Function: test_utils
 Component: Tests
 CID: 190946
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13869 "[Coverity CID :190945]Parse warnings in /tests/drivers/can/api/src/main.c"
Static code scan issues seen in File: /tests/drivers/can/api/src/main.c
 Category: Parse warnings
 Function:
 Component: Tests
 CID: 190945
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13870 "[Coverity CID :190944]Control flow issues in /subsys/usb/class/usb_dfu.c"
Static code scan issues seen in File: /subsys/usb/class/usb_dfu.c
 Category: Control flow issues
 Function: dfu_custom_handle_req
 Component: Other
 CID: 190944
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13871 "[Coverity CID :190943]Incorrect expression in /tests/kernel/fatal/src/main.c"
Static code scan issues seen in File: /tests/kernel/fatal/src/main.c
 Category: Incorrect expression
 Function: check_stack_overflow
 Component: Tests
 CID: 190943
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13872 "[Coverity CID :190942]Memory - corruptions in /subsys/mgmt/smp_shell.c"
Static code scan issues seen in File: /subsys/mgmt/smp_shell.c
 Category: Memory - corruptions
 Function: read_mcumgr_byte
 Component: Other
 CID: 190942
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13873 "[Coverity CID :190940]Memory - corruptions in /soc/arm/microchip_mec/mec1701/soc.c"
Static code scan issues seen in File: /soc/arm/microchip_mec/mec1701/soc.c
 Category: Memory - corruptions
 Function: soc_init
 Component: Other
 CID: 190940
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13874 "[Coverity CID :190939]Error handling issues in /tests/subsys/fs/fat_fs_dual_drive/src/test_fat_file.c"
Static code scan issues seen in File: /tests/subsys/fs/fat_fs_dual_drive/src/test_fat_file.c
 Category: Error handling issues
 Function: test_file_truncate
 Component: Tests
 CID: 190939
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13875 "[Coverity CID :190938]Parse warnings in /tests/drivers/can/stm32/src/main.c"
Static code scan issues seen in File: /tests/drivers/can/stm32/src/main.c
 Category: Parse warnings
 Function:
 Component: Tests
 CID: 190938
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13876 "[Coverity CID :190937]Incorrect expression in /tests/drivers/counter/counter_basic_api/src/test_counter.c"
Static code scan issues seen in File: /tests/drivers/counter/counter_basic_api/src/test_counter.c
 Category: Incorrect expression
 Function: test_all_channels_instance
 Component: Tests
 CID: 190937
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13877 "[Coverity CID :190936]Uninitialized variables in /tests/subsys/fs/nffs_fs_api/common/test_performance.c"
Static code scan issues seen in File: /tests/subsys/fs/nffs_fs_api/common/test_performance.c
 Category: Uninitialized variables
 Function: test_performance
 Component: Tests
 CID: 190936
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13878 "[Coverity CID :190935]Parse warnings in /tests/drivers/can/stm32/src/main.c"
Static code scan issues seen in File: /tests/drivers/can/stm32/src/main.c
 Category: Parse warnings
 Function:
 Component: Tests
 CID: 190935
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13879 "[Coverity CID :190934]Parse warnings in /tests/drivers/can/stm32/src/main.c"
Static code scan issues seen in File: /tests/drivers/can/stm32/src/main.c
 Category: Parse warnings
 Function:
 Component: Tests
 CID: 190934
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13880 "[Coverity CID :190933]Control flow issues in /drivers/gpio/gpio_intel_apl.c"
Static code scan issues seen in File: /drivers/gpio/gpio_intel_apl.c
 Category: Control flow issues
 Function: gpio_intel_apl_config
 Component: Drivers
 CID: 190933
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13881 "[Coverity CID :190932]Control flow issues in /samples/subsys/ipc/openamp/src/main.c"
Static code scan issues seen in File: /samples/subsys/ipc/openamp/src/main.c
 Category: Control flow issues
 Function: app_task
 Component: Samples
 CID: 190932
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13882 "[Coverity CID :190931]Control flow issues in /subsys/net/lib/lwm2m/lwm2m_rw_json.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_rw_json.c
 Category: Control flow issues
 Function: read_number
 Component: Networking
 CID: 190931
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13883 "[Coverity CID :190930]Integer handling issues in /samples/subsys/fs/src/main.c"
Static code scan issues seen in File: /samples/subsys/fs/src/main.c
 Category: Integer handling issues
 Function: main
 Component: Samples
 CID: 190930
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13884 "[Coverity CID :190929]Integer handling issues in /tests/drivers/hwinfo/api/src/main.c"
Static code scan issues seen in File: /tests/drivers/hwinfo/api/src/main.c
 Category: Integer handling issues
 Function: test_device_id_get
 Component: Tests
 CID: 190929
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13885 "[Coverity CID :190928]Error handling issues in /samples/net/sockets/echo_async/src/socket_echo.c"
Static code scan issues seen in File: /samples/net/sockets/echo_async/src/socket_echo.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 190928
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13886 "[Coverity CID :190926]Error handling issues in /drivers/can/stm32_can.c"
Static code scan issues seen in File: /drivers/can/stm32_can.c
 Category: Error handling issues
 Function: can_stm32_runtime_configure
 Component: Drivers
 CID: 190926
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13887 "[Coverity CID :190925]Memory - corruptions in /subsys/bluetooth/controller/hci/hci_driver.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/hci/hci_driver.c
 Category: Memory - corruptions
 Function: process_hbuf
 Component: Bluetooth
 CID: 190925
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:06] mandarcthorat1 opened #13888 "[Coverity CID :190924]Integer handling issues in /subsys/net/lib/sntp/sntp.c"
Static code scan issues seen in File: /subsys/net/lib/sntp/sntp.c
 Category: Integer handling issues
 Function: parse_response
 Component: Networking
 CID: 190924
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-02-27 11:09] ioannisg opened #13889 "ARM: Userspace: should we have default system app partitions?"
**Is your enhancement proposal related to a problem? Please describe.**
Since we have depreciated APP_SHARED_MEM, when we build with CONFIG_USERSPACE, it seems to me that there are, by default, two partitions generated:
- z_libc_partition
- z-malloc_partition

In addition to that, when we run a test in user mode, there is also
- ztest_mem_partition
generated by the program.

As a result, in the ke

[2019-02-27 11:11] ioannisg commented on #13889
FYI @agross-linaro.

@carlescufi I add this as a bug for nRF52810 - because it looks to me we cannot make a nRF52810 build with USERSPACE and HW_STACK_PROTECTION enabled. And I would assume a user would like to have that option in this platform, too.

[2019-02-27 11:58] ulfalizer commented on #12144
PR that adds a CI check: https://github.com/zephyrproject-rtos/ci-tools/pull/21

[2019-02-27 12:01] ulfalizer commented on #12144
@andrewboie
IMO, not all of them need to be fixed before release (someone else set it to high priority).

Once the CI check is there, it's easy to kill off the stragglers, without new stuff getting introduced.

[2019-02-27 12:38] KwonTae-young opened #13890 "stm32: serial: Data is not read properly at a certain baud rate"
**Describe the bug**
UART data is not read properly at a certain `baud rate`.

**To Reproduce**
Board: [stm32f4_disco](https://docs.zephyrproject.org/latest/boards/arm/stm32f4_disco/doc/index.html)
Barcode module: [EM1399](http://www.newlandaidc.com/h-pd-84.html#keyword=EM1399&pfc=%7B%22lid%22%3A1%2C%22prgmid%22%3A399%2C%22kw%22%3A%22EM1399%22%2C%22sc%22%3A%7B%22key%22%3A%22name%22%2C%22desc%22%3A

[2019-02-27 12:41] pfalcon commented on #13050
What's the status of this?

[2019-02-27 13:00] pfalcon commented on #13301
Sorry for the delay with getting back to test this, but various fixes applied in the meantime indeed appear to have positive effect, and I confirm that as of master ddf744deee397fcc8b4dfacd87ab746987faa38c, samples/net/sockets/echo_server works out of the box. I test all for combinations of (IPv4, IPv6) x (TCP, UDP).

@i8080, I'm closing this issue, as we need to maintain actual picture of the bug

[2019-02-27 13:00] #13301 closed

[2019-02-27 13:23] ioannisg commented on #13823
Thanks for reporting this, @cinlyooi-intel
The problem is that the IRQ line-0 is wired to the CLOCK_CONTROL IRQ in nRF52x series of SOCs, and that peripheral is generating interrupts.

[2019-02-27 13:30] finikorg opened #13894 "stm32f429i_disc1: Add DTS for USB controller"
Add DTS for USB Controller for ST STM32F429I-DISC1 Discovery board

[2019-02-27 13:32] finikorg commented on #13894
@mbolivar Could you check this?

[2019-02-27 13:52] galak commented on #13828
Closing duplicate of #13843

[2019-02-27 13:52] #13828 closed

[2019-02-27 13:54] pfalcon opened #13897 "CONFIG_LOG_IMMEDIATE leads to unobvious faults in unrelated rotines due to stack overflow"
**Describe the bug**
Running samples/net/sockets/echo_server with CONFIG_LOG_IMMEDIATE=y leads to fault on startup and/or on first connect. E.g. for qemu_x86 it leads to fault soon (~0.3s) after startup:

[code]

**To Reproduce**
Steps to reproduce the behavior:
0. master ddf744deee397fcc8b4dfacd87ab746987faa38c
1. mkdir build; cd build
2. cmake -DBOARD=qemu_x86
3. make run
4. See error above

On

[2019-02-27 13:56] pfalcon commented on #13897
[code]

[2019-02-27 14:01] pfalcon commented on #13301
For logging issues (which are no longer visible by default, but pop up with CONFIG_LOG_IMMEDIATE), I opened https://github.com/zephyrproject-rtos/zephyr/issues/13897

[2019-02-27 14:10] galak commented on #13873
Issue related to treating a pointer as an array:

[code]

If we want we could just remove the loop and do:
[code]

But marking this as something we aren't going to change and isn't an issue.

[2019-02-27 14:14] rlubos commented on #13897
Isn't this a duplicate of #13423? Enabling stack sentinel gives more specific output:
[code]

[2019-02-27 14:21] rlubos commented on #13897
Or not, `0x004013a0` is actually `net_mgmt` thread.

[2019-02-27 14:22] pdunaj opened #13901 "no control over pull up for nrfx spi"
**Describe the bug**
We have a leak on SPI pin pull down. We don't need pull down and would like to disable it. There is no way to do it however.

**To Reproduce**
Steps to reproduce the behavior:
Try to disable pull down and witness the impossibility of this yourself.

**Expected behavior**
PIN options should be controlled.

**Impact**
Excessive current used by low-power device. Showstopper for s

[2019-02-27 14:25] pdunaj commented on #13901
Hi @anangl , I think the good way to fix it would be to convert type used by pin in SPI dts binding from `int` to compound. It seems that some other platforms use similar method to pass GPIO port and configuration.
Then we could convert this option to inform NRFX that it should disable pull when configuring the pin.
What do you think?

[2019-02-27 14:32] #13748 closed

[2019-02-27 14:37] galak commented on #13826
Marked this resolved in coverity and merged #13755

[2019-02-27 14:37] #13826 closed

[2019-02-27 14:49] #13870 closed

[2019-02-27 14:50] pfalcon commented on #13897
@rlubos, any hint how to figure out what thread is it by its id "statically", e.g. by looking at zephyr.lst? I can't see a consistent way to do that, but by a chance I see that 0x004020d8 in my stacktrace is sysworkq, will try to increase its size.

[2019-02-27 14:54] pfalcon commented on #13897
No, even using CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=4096 (from default 1K) doesn't help. And well, it's pretty clear by quoted disassembly that something (logging? ;-) ) calls k_poll with some NULL param.

[2019-02-27 14:55] rlubos commented on #13897
Statically, I look into `zephyr.map`, and search for the address, here for example I got:
[code]

But typically, when running on hardware, I prefer `info symbol `0x004013a0` from gdb.

[2019-02-27 15:19] pfalcon commented on #13897
I see, so this boils down to the same infamous gnu ld misfeature, ignored for years: https://sourceware.org/bugzilla/show_bug.cgi?id=16566

[2019-02-27 15:28] pdunaj commented on #13396
Hi @cvinayak , you are right and disabling `BT_AUTO_PHY_UPDATE` made S8 connectable. What are the disadvantages of having `BT_AUTO_PHY_UPDATE` disabled?

[2019-02-27 15:29] ioannisg commented on #13823
Provided a fix in #13903, @cinlyooi-intel pls, test if you have time.

[2019-02-27 15:32] pdunaj commented on #13396
@cvinayak , is this needed to trigger switch to 2Mb PHY?

[2019-02-27 15:45] andyross commented on #12553
FWIW: overnight it saw 35 total failures in 115 runs of 167 tests each (99.82% success rate), which is if anything rather better than we see on other qemu platforms due to the known time-warp-due-to-host-scheduling issue.

Some of that may be due to the relative priorities.  To bump pendsv above svc, I moved it all the way up to priority zero, and realized last night that this was effectively "fix

[2019-02-27 15:48] erwango commented on #13890
Can you try the following, in `boards/arm/stm32f4_disco/pinmux.c`:
[code]

[2019-02-27 15:56] erwango commented on #13567
@nvlsianpu

Indeed, 8B might not even be supposed to work. No problem.

In that case, how can I check that FCB is actually working with other zephyr flash drivers?
And if there are any contraint put by FCB on the driver (or expectations), are they documented so I can update my flash driver accordingly (if doable)?

[2019-02-27 15:58] andyross commented on #12559
Seems to be down to the swap-is-async priority bug detailed in #12553.  Goes away with the trial patch in that bug.

[2019-02-27 16:08] andyross commented on #11425
Actually looking at this more carefully, this should be doable for 1.14.  The two spots I know of are rb_walk above, and a tail recursion case in mempool.  The latter can be turned into iteration with 2-3 lines of code and an extra level of indentation, and it turns out the former is in fact no longer used in the tree beyond the test case (I needed it in the scheduler at one point, but I don't thi

[2019-02-27 16:11] nvlsianpu commented on #13567
settings fcb-backend module is supposed to work with 8 B write-block-size.
Change line https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/subsys/settings/fcb/src/settings_test_save_unaligned.c#L25 to `cf.cf_fcb.f_align = 8;` locally and test should pass on your machine.

I relay want to switch testing this to qemu target:
I'm awaiting for flash simulatot PR to be merged, wihich would h

[2019-02-27 16:11] carlescufi commented on #12362
@cvinayak

Command disallowed to an LTK Request Response. Any clues?

[code]

[2019-02-27 16:14] erwango commented on #13567
ok, txs, will have a test right now.

[2019-02-27 16:16] erwango commented on #13567
And is there any link between supported write block size and raw vs base64 setting tests?

[2019-02-27 16:19] carlescufi commented on #12362
@cvinayak @joerchan could you take a look at the Wireshark traces?
https://github.com/zephyrproject-rtos/zephyr/files/2733871/Windows10TabletIssue-Wireshark.zip

[2019-02-27 16:27] #13873 closed

[2019-02-27 16:34] pfalcon opened #13906 "posix: Recently enabled POSIX+newlib tests fail to build with gnuarmemb"
With c894aa31a6d61d2f51f6a534558d1aa5e45362f4 landing, we see failures in these POSIX+newlib tests built using ARM GCC embedded toolchain (gnuarmemb) in our (Linaro's) CI: https://ci.linaro.org/job/zephyr-upstream/PLATFORM=frdm_k64f,ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb,label=docker-xenial-amd64-13/3584/console

Specific failure is:
[code]

As Linaro is committed to support Zephyr buildability with g

[2019-02-27 16:34] pfalcon commented on #13906
@galak: FYI

[2019-02-27 16:37] pfalcon commented on #13906
First thing to see if it's a recent regression, or it was like that always, we just exposed that with recent enabling of POSIX+newlib builds. So, I did `git co @{"1 month ago"}` (which landed at 5c23843e65c294a9274da8631dc6050642704003), and after patching a number of header conflicts (so, we actually improved since then), I get the same failure:

[code]

So, it's not new, and I'll be investigatin

[2019-02-27 16:41] carlescufi commented on #12362
@joerchan suggests the issue might be that:

1. Slave send `LL_SLAVE_FEATURE_REQ` on packet 24
2. Master sends `LL_ENC_REQ` on packet 29
3. Master replies to the `LL_SLAVE_FEATURE_REQ` with `LL_UNKNOWN_RSP` on packet 31
4. Slave disconnects (i.e. stops listening to master packets)
5. Master keeps re-sending the `LL_UNKNOWN_RSP`

The issue seems to be that the master should respond to the feature r

[2019-02-27 16:46] galak commented on #13906
So I think we might need to expose FUNC_ALIAS(_lseek, lseek, int) more broadly in lib/libc/newlib/libc-hooks.c.

[2019-02-27 17:10] nvlsianpu commented on #13567
No, both works well. Currently I see no gain in using base64 - I would deprecated it.

[2019-02-27 17:15] erwango commented on #13567
Ok, txs.

Btw, I managed to make it pass with the suggested patch and applying overlay, txs!

[2019-02-27 17:38] andyross commented on #13051
Fantastic, thanks.

[2019-02-27 17:38] #13051 closed

[2019-02-27 18:43] mike-scott commented on #9783
@therealprof I'm assuming this is still an issue... But I want to confirm:
When I look at:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c#L885

I see the "escape" clause where if there aren't any TLV items, we basically abort but return 0.  Is that what you're hitting?

[2019-02-27 19:00] andrewboie commented on #13889
I'm wondering if we can reduce the number of partitions being used on these devices with only 8 partitions, by removing those partitions which are not strictly required to implement userspace, we have some which are intended to catch supervisor mode bugs.

- We could disable the MPU stack guards and free a region. They are not required for userspace as they only guard against supervisor mode stack

[2019-02-27 19:05] andrewboie commented on #13889
The partition definitions by themselves don't hurt anything. It's more a question of, what partitions do we add by default to ztest's memory domain?
We could conditionally add the malloc arena since lots of embedded apps never use malloc.
Disabling the libc domain will probably cause lots of newlib APIs to blow up.

[2019-02-27 19:25] #13448 closed

[2019-02-27 19:31] dgloeck commented on #2933
@lpereira, your Signed-off-by is still needed to be able to upstream this.

[2019-02-27 19:33] galak commented on #2933
I talked to @lpereira and he's given me the ok for adding that.  I'll add it update things.

[2019-02-27 19:59] andrewboie commented on #13858
I set this in Coverity as a false positive, it thought there might be side effects of reading a volatile variable (in case it was some MMIO thing) but that wasn't the case here.

[2019-02-27 19:59] #13858 closed

[2019-02-27 20:01] andrewboie commented on #13871
Closed as false positive (and updated in Coverity), reading crash_reason has no implicit side effects.

[2019-02-27 20:01] #13871 closed

[2019-02-27 20:27] lpereira commented on #2933
Yes, it's fine to add the Signed-off-by line in the OpenOCD patch.  (I'm not paying a lot of attention to the Zephyr repository any longer as I'm not working on it anymore.)

[2019-02-27 20:34] #13247 closed

[2019-02-27 20:36] andrewboie opened #13913 "MPU policy interactions with SAM E70 flash driver"
Logging from a message from JK on slack:

 Hi, Im using SAME70 (Cortex-M7) platform and I have a problem with the FLASH driver when MPU is enabled.  The basic problem is that MPU is protecting FLASH before writing - this is what we actually want. How ever the FLASH controller does not count with this behavior and need to perform the write operation into the FLASH address area, which cause write in

[2019-02-27 23:02] aurel32 commented on #13913
When the MPU is enabled, if you want to be able to write to flash, you need to enabled the `MPU_ALLOW_FLASH_WRITE` option. Is it enabled in your case?

[2019-02-27 23:03] andrewboie opened #13918 "x86 memory domain configuration not always applied correctly on context switch when partitions are added"
Scenario:

1. Supervisor thread X modifies the memory domain that it belongs to with k_mem_domain_add_partition(), to add access to region A
2. Context switches to User thread Y which belongs to the same domain as thread X
3. Thread Y attempts to access region A and faults

Unlike k_mem_domain_remove_partition(), which invokes _arch_mem_domain_partition_remove() if the caller is in the same domain

[2019-02-27 23:17] ceolin commented on #13847
false positive caused by `IS_ENABLED` macro. The condition is defined in build time.

[2019-02-27 23:17] #13847 closed

[2019-02-27 23:18] andrewboie opened #13919 "tests/crypto/mbedtls reports some errors without failing"
Observe output of tests/crypto/mbedls:

[code]

Need to understand these two error messages and why they are printed. I am very unsure on priority.

[2019-02-27 23:25] ceolin commented on #13843
false positive, the problem is spotted because in the architecture tested, long and int has the same size.

[2019-02-27 23:25] #13843 closed

[2019-02-27 23:36] dbkinder commented on #6776
addressed by #12991

[2019-02-27 23:36] #6776 closed

[2019-02-27 23:42] dbkinder commented on #6773
Doxygen-generated API docs are published at https://docs.zephyrproject.org/apidoc/latest/modules.html but could use some improvements on the mainpage...

[2019-02-27 23:43] andrewboie commented on #13918
trivial fix is to unconditionally execute the teardown/setup logic for mem domains on context switch.

but I'd like to see if I can do something better.

[2019-02-27 23:46] dbkinder commented on #10942
Does https://docs.zephyrproject.org/latest/development_process/api_lifecycle.html address this issue?

[2019-02-28 01:10] KwonTae-young commented on #13890
Hi. @erwango
I applied and tested it.
But the result was the same.
[code]

[2019-02-28 02:17] andrewboie opened #13923 "app shared memory placeholders waste memory"
For application shared memory partitions declared with K_APPMEM_PARTITION_DEFINE(), we insert a placeholder char symbol in each partition.

If a partition is declared with K_APPMEM_PARTITION, but never has any
data assigned to its contents, then no symbols with its prefix will end
up in the symbol table. This prevents gen_app_partitions.py from detecting
that the partition exists, and the linker s

[2019-02-28 04:26] andrewboie commented on #13889
PR #13924 should help with this some.
We will not be programming the libc and malloc partitions if there is nothing in them, which happens if minimal libc is in use, stack canaries are not enabled, and there is no malloc heap. Before, due to the placeholders, they were taking up MPU slots.

[2019-02-28 05:04] andrewboie commented on #13919
As far as I can tell, almost this entire test case is a no-op since
MBEDTLS_SELF_TEST is not defined

[2019-02-28 05:29] hakehuang commented on #13655
@agansari  yes, close it

[2019-02-28 05:29] #13655 closed

[2019-02-28 05:30] hakehuang commented on #13654
this is the same root cause as #13727

[2019-02-28 07:21] KwonTae-young commented on #13890
## Additional testing
I have tested some more about [stm32f4_disco](https://docs.zephyrproject.org/latest/boards/arm/stm32f4_disco/doc/index.html) and [nrf52840_pca10056](https://docs.zephyrproject.org/latest/boards/arm/nrf52840_pca10056/doc/index.html).
This test was done using [samples/nfc/nfc-hello](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/nfc/nfc_hello).
The baudrate wa

[2019-02-28 07:37] overheat commented on #13708
Hi,

This PR fix the issue and works fine right for my X-NUCLEO-IKS01A1 and
nrf52840_pca10056!
![nrf52840](https://user-images.githubusercontent.com/4322417/53549237-aa3bd500-3b6e-11e9-95e2-1308191f5e8e.png)

As I also have pca10040 and pca10028 on my hand, I think I can help to fix the same issue on those boards.

[2019-02-28 07:51] jukkar commented on #13868
False positive.

[2019-02-28 07:51] #13868 closed

[2019-02-28 08:03] rlubos commented on #13837
It's a false-positive, closing.

[2019-02-28 08:03] #13837 closed

[2019-02-28 08:04] jukkar commented on #13864
False positive.

[2019-02-28 08:04] #13864 closed

[2019-02-28 08:06] jukkar commented on #13832
False positive.

[2019-02-28 08:06] #13832 closed

[2019-02-28 08:10] jukkar commented on #13834
False positive.

[2019-02-28 08:10] #13834 closed

[2019-02-28 08:24] erwango commented on #13890
@KwonTae-young , can you provide test sample you're using for loopback test so I can test on my side?

[2019-02-28 08:28] ManojSubbarao commented on #8097
Closed via #13659

[2019-02-28 08:28] #8097 closed

[2019-02-28 08:34] jhedberg commented on #13855
This is marked as fixed by #12338 in Coverity. Why was this issue opened?

[2019-02-28 09:02] AdithyaBaglody commented on #12900
@andrewboie I believe we can close this.

[2019-02-28 09:20] cinlyooi-intel opened #13934 "tests/kernel/fatal: test_fatal rv equal to TC_FAIL"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=quark_se_c1000_ss_devboard -DARCH=arc
3. make
4. See run

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora29

[2019-02-28 09:23] joerchan commented on #12362
"If at any time during the encryption start procedure, the Link Layer of the
master or the slave receives an unexpected Data Channel PDU from the peer
Link Layer, it shall immediately exit the Connection State, and shall transition to
the Standby State. The Host shall be notified that the link has been
disconnected with the error code Connection Terminated Due to MIC Failure
(0x3D)"

You can see i

[2019-02-28 09:29] cinlyooi-intel opened #13935 "tests/crypto/rand32/crypto.rand32.random_hw_xoroshiro: Usage fault "Fatal fault in ISR! Spinning...""
**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=sam_e70_xplained -DARCH=arm
3. make
4. make run

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora29
 - Toolchain: zephyr
 - Commit SHA or Version used: 9c2c115716700da3279fd4ab541f0f598d0c4d6d

[2019-02-28 09:37] ioannisg commented on #12553
@andyross, just to answer your question, (FYI @agross-linaro) the PendSV exception has the lowest priority level in ARM systems, while the SVC (Supervisor Calls) has the highest.

[2019-02-28 09:44] KwonTae-young commented on #13890
@erwango, I used [samples/nfc/nfc-hello](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/nfc/nfc_hello).
Pressing the reset button will output the defined reset command.
https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/nfc/nfc_hello/src/main.c#L65-L69
[code]

I created a [loopback](https://github.com/KwonTae-young/zephyr/tree/loopback) branch that I tested.
loopbac

[2019-02-28 10:06] cinlyooi-intel opened #13937 "tests/net/tcp: Page fault"
**Describe the bug**
Although the test case ran to completion and report that it is successful. There is a "Page Fault" error

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2.cmake -DBOARD=qemu_x86 -DARCH=x86
3. make
4. make run

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora29
 - Toolchain: zephyr

[2019-02-28 10:31] avisconti commented on #13718
This thread is really interesting to me. I am currently exploring the possibility to add FIFO capability to one of ST sensor (LSM6DSO), but there is a significant lack in the sensor APIs. I agree with all the requests listed in the @microbuilder description.

I am particularly interested into following stuff:

- timestamp management.
 Currently there is no way to pass timestamp to application, but

[2019-02-28 10:41] pfalcon commented on #13842
Also handled by @maxxlife in https://github.com/zephyrproject-rtos/zephyr/pull/13806, which was earlier. (@maxxlife, that shows that if you start working on a ticket, it makes sense to add a comment to it about that).

[2019-02-28 10:49] maxxlife commented on #13842
Ok. I just didn't see that thread, maybe it appeared later.

[2019-02-28 10:50] avisconti commented on #13718
Concerning already existing code I think that linux IIO framework is good, but I also suggest taking
a look to Google contexthub, which is an Apache 2.0 licensed work:

https://android.googlesource.com/device/google/contexthub/

[2019-02-28 11:04] pfalcon commented on #13906
Yes, except stuff there are stubs to be used as a fallback when no real POSIX funcs are there. We perhaps can factor out FUNC_ALIAS'es to a common place, but the the question which is the primary - read() or _read().  IIRC, from viewpoint of newlib, _read is a syscall, whereas read() is libc function. Which is subtle distinction we already discussed with @andrewboie on planning to add syscall for

[2019-02-28 11:04] cinlyooi-intel commented on #13468
@overheat:

I am still working on understanding the test case execution.

This is not a straight forward test cases like other unit test because we are expecting test_wdt() to be called repeatedly. My questions are:

(0) I am expecting the at most 8 instances of "starting test - test_wdt", i.e. a pair for each for
- zassert_true(test_wdt_no_callback() == TC_PASS, NULL);
- zassert_true(test_wdt_cal

[2019-02-28 11:16] rlubos opened #13941 "Alternatives for OpenThread settings"
As we can see that current OpenThread settings storage mechanism, which writes directly to flash memory, is too simple and not felixble enough for certain use-cases (#5943, #12944), we need a more robust replacement. I've spent some time to analyze what options we have and wanted to share my thoughs and hear from others.

**OpenThread settings API**

Just before describing the actual possibilities

[2019-02-28 11:18] rlubos commented on #13941
FYI @jfischer-phytec-iot @mike-scott @aurel32 @dleach02

[2019-02-28 11:54] ioannisg commented on #12553
@andyross I am not sure I follow 100%:
the code in the __SVC_Handler() - called when user invokes a system call - does not call any swap. It does the following:...

[2019-02-28 11:59] ioannisg commented on #12553
So, it is not that the whole system call cannot be preempted. it is only the system-call-prepare code that cannot be preempted, which is really minimal.

BTW, it can be preempted by zero-latency interrupts, which are the most critical ones.

[2019-02-28 12:08] nvlsianpu commented on #12635
Test is designed in such a manner that some of this unlink warning are expected. See https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c#L238

This allso have to be fixed, as it misleading bug invastigation.

[2019-02-28 12:32] pfalcon opened #13943 "net: QEMU Ethernet drivers are flaky (seemingly after "net_buf" refactor)"
Testing 3 qemu ethernet drivers we added in 1.14 timeframe with the idea to use them to test the IP stack better.

master: e731bdc81a3b2e2fdf498bccab9627b18fa38de6
sample: samples/net/sockets/dumb_http_server
test command on host: ab -n1000 http://192.0.2.1:8080/

1. BOARD=qemu_x86 OVERLAY=overlay-e1000.conf
Not a single request succeeds:
[code]

On Zephyr console (after ~5 `ab` attempts):

[code]

[2019-02-28 12:34] pfalcon commented on #13943
@rlubos, @rveerama1, @aurel32 FYI

[2019-02-28 13:12] pfalcon commented on #13943
Build error:

Patch submitted: https://github.com/zephyrproject-rtos/zephyr/pull/13945

With it:
[code]

[2019-02-28 13:30] microbuilder commented on #13718
@avisconti Thanks for the heads up on contexthub. It's also worth listing `libhardware` which contexthub relies on, and is a fairly mature API at this point considering the number of sensors it has had thrown at at:

- https://android.googlesource.com/platform/hardware/libhardware/+/master/modules/sensors/
- Channels, event, etc.: [sensors-base.h](https://android.googlesource.com/platform/hardware

[2019-02-28 13:53] avisconti commented on #13718
@microbuilder
Yes, I think that libhardware is the contexthub counterpart in Android which run on the AP, while contexthub itself is a firmware that runs on a companion micro.

But, yes, all that work is pretty standard now and runs on many Android based mobile phones.

[2019-02-28 13:59] avisconti commented on #13718
Anyway, I personally think that this new sensor API should be scheduled with high priority for v1.15.

[2019-02-28 14:03] MarekPieta opened #13949 "tests: Ztest problem - not booting properly"
**Describe the bug**
Problem with ztest - not booting properly.

**To Reproduce**
Steps to reproduce the behavior (using samples/testing/integration):
1. mkdir build; cd build
2. cmake -DBOARD=nrf52810_pca10040
3. make flash
4. See error

During test I was using RTT_console.

**Expected behavior**
Messages about successfully finished tests should be displayed.

**Screenshots or console output**
[c

[2019-02-28 14:10] pdunaj commented on #13901
https://github.com/zephyrproject-rtos/zephyr/pull/13950

[2019-02-28 14:10] pdunaj commented on #13901
As discussed with @anangl I added a simple kconfig option.

[2019-02-28 14:31] ioannisg commented on #12553
That said, @andyross , I am not sure about this patch:
[code]
PendSV won't work during the SVC, which only does the preparation for the sys-call. Is this a problem @andrewboie ?

[2019-02-28 14:33] ioannisg commented on #13949
The reason is described here, @MarekPieta : #13889

[2019-02-28 14:37] ioannisg commented on #13913
I think this is only enabled, by default in Bluetooth -supported builds. So I doubt that it is.

[2019-02-28 14:45] #13906 closed

[2019-02-28 14:46] #13846 closed

[2019-02-28 14:46] #13824 closed

[2019-02-28 14:47] #13888 closed

[2019-02-28 14:47] #13830 closed

[2019-02-28 14:47] #13844 closed

[2019-02-28 14:47] #13854 closed

[2019-02-28 15:01] ioannisg commented on #13889
This is good enough. It will leave out 0 app mem partitions for the user, in nRF52810 builds, but at least the tests that enable USERSPACE but do not actively use partitions, will be able to execute.

[2019-02-28 15:38] erwango commented on #13890
There is at least an issue in fifo_fill.
I've proposed a fix: https://github.com/zephyrproject-rtos/zephyr/pull/13952, so the loopback mode is now working.

Then, about your use case, can you have a try to disable printf in uart1_isr and see what happens?

[2019-02-28 15:40] jukkar commented on #13853
Not an issue

[2019-02-28 15:40] #13853 closed

[2019-02-28 15:50] erwango commented on #13890
@KwonTae-young , actually, it appears that uart_fifo_fill call in nfc_hello does not respect the API and behavior is undefined, cf:
https://github.com/zephyrproject-rtos/zephyr/blob/687e02de8451856ceb8bfb3c7737b12db0a63407/include/uart.h#L697-L698

[2019-02-28 15:51] pfalcon commented on #13890
uart_fifo_read, uart_fifo_fill, etc. are internal APIs, deprecated for use by application. That's because it's very hard to use them correctly by an application.

Please use higher-level API, I suggest https://github.com/zephyrproject-rtos/zephyr/blob/master/include/tty.h

[2019-02-28 16:02] jukkar commented on #13943
Tried with echo-server, UDP works just fine but TCP refuses to connect.

[2019-02-28 16:22] erwango opened #13955 "stm32: Implement async uart api"
**Is your feature request related to a problem? Please describe.**
UART_ASYNC_API is not available yet on stm32  target.
Implement it

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any

[2019-02-28 16:57] #13865 closed

[2019-02-28 16:57] pfalcon commented on #13943
@jukkar

Thanks for testing, what BOARD it was?

[2019-02-28 17:02] andrewboie commented on #12900
Please get rid of this filter and have it print unconditionally.

[2019-02-28 17:03] andrewboie commented on #12900
If you want to leave a warning that some values are suspicious that is fine but just dropping the data with no explanation to the end user is unacceptable

[2019-02-28 17:04] MaureenHelm commented on #13754
Did you run `west init`?

[2019-02-28 17:06] andyross commented on #12553
Yeah, that's the magic I was missing.  Indeed the SVC has higher priority than PendSV, but the magic I was missing was that the syscall does not actually happen in the context of an SVC exception, then handler plays with the stack frame such that it can "return from exception" into the kernel running in thread mode.

What actually "fixed" things in the patch turns out not to be the relative pendsv

[2019-02-28 17:13] nvlsianpu commented on #12635
fix in progress fork branch: https://github.com/nvlsianpu/zephyr/tree/bugfix/nffs_large_tests

[2019-02-28 17:17] #13823 closed

[2019-02-28 17:24] andyross opened #13956 "CI scripting doesn't retry modifications to tests on non-default platforms"
It seems like CI gets it's multipass/retry behavior confused in the presence of changes to test code.  When a test is modified, the "--save-tests" pre-pass uses --all to enable all platforms to make sure the test at least builds everywhere.  But the final "--only-failed" pass seems not to use that list and instead just retries the default list, so any tests that fail the first time never actually

[2019-02-28 17:33] #13842 closed

[2019-02-28 17:33] jukkar commented on #13943
Just qemu_x86

[2019-02-28 17:48] andyross opened #13960 "tests/kernel/lifo/lifo_usage fails on m2gl025_miv"
tests/kernel/lifo/lifo_usage fails on m2gl025_miv

This seems to be a reproducible failure in CI right now.  This board uses the renode simulator, not qemu, and it is not a default platform for sanitycheck.  That simulator isn't part of the SDK (and frankly I don't know anything about it), but it's installed in CI so our integration tests try to run it.

Basically, changes to test code cause all t

[2019-02-28 18:41] andyross commented on #12409
Cleaning up low hanging bugs in prep for release, finally got to this one

[2019-02-28 19:02] gnuless opened #13963 "up_squared: evaluate removal of SBL-related special configurations"
PCI enumeration seems to be a requirement for determining MMIO addresses on this platform; see #13928.
As such the special configuration files for SBL-boot (vs standard BIOS/UEFI) are probably unnecessary and can be eliminated to prevent bitrot.

[2019-02-28 19:06] #11721 closed

[2019-02-28 19:18] galak opened #13964 "rv32m1_vega_ri5cy doesn't build w/o warnings"
Due to recent DTS changes, the rv32m1_vega_ri5cy doesn't build w/o warnings and would fail in sanitycheck:

Here are warnings associated with building hello world for it:

``

/home/galak/git/zephyr/drivers/gpio/gpio_rv32m1.c:245:13: warning: Macro is deprecated
  .gpio_base = (GPIO_Type *) GPIO_A_BASE_ADDRESS,
             ^~~~~~~~~~~~~~~~~~~~~
/home/galak/git/zephyr/drivers/gpio/gpio_rv32m1.c:26

[2019-02-28 19:32] ceolin commented on #13883
please remember close coverity issue :)

[2019-02-28 19:57] #7706 closed

[2019-02-28 19:57] #13342 closed

[2019-02-28 19:57] #13432 closed

[2019-02-28 20:35] ceolin commented on #13884
#13968

[2019-02-28 20:44] #13880 closed

[2019-02-28 21:31] ioannisg commented on #12553
Then, perhaps we should just disable interrupts temporarily inside the SVC Call, @agross-linaro ? I am going to think about it

[2019-02-28 21:37] agross-linaro commented on #12553
I don't think it's the SVC linkage to the return from EXC_RET.  I think it's the timer hitting at the right point on the pendsv (right before the MSR BASEPRI gets set).  That said, the SVC cannot be nested.  But I can't see that being the problem either.  We need to narrow this down some.

[2019-02-28 22:28] andyross commented on #13289
So... funny story.

I reverted the userspace spinlockification patch that git bisect pointed me to, and slowly added it back until I found two spots that if changed from irq_lock to spinlock would trigger this bug.  But they didn't look so weird.  I then discovered that purely adding a local spin lock/unlock pair, with nothing inside it, would also trigger the bug, so I started worrying that the b

[2019-02-28 23:03] #13838 closed

[2019-02-28 23:20] KwonTae-young commented on #13890
@erwango, @pfalcon
I am on vacation until March 3rd.
I will test the following on Monday next week.
1. Apply #13952 to read looback and barcode data.
2. Use 'https://github.com/zephyrproject-rtos/zephyr/blob/master/include/tty.h' to read the barcode data.

I thought [samples/nfc/nfc_hello](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/nfc/nfc_hello) was a simple example using ua

[2019-02-28 23:39] lanvis opened #13972 "bt_le_scan_stop() before finding device results in Data Access Violation"
**Describe the bug**
Stopping scan via bt_le_scan_stop() called from a timer callback expiration without finding the target device results in Data Access Violation.

Violation occurs here:
Bluetooth initialized
Scanning successfully started
:bleSM: running
...BLE_GAP_EVT_TIMEOUT = 0x0019
Scan stopped
***** MPU FAULT *****
  Data Access Violation
  MMFAR Address: 0x0
***** Hardware exception *****

[2019-03-01 00:11] #12409 closed

[2019-03-01 00:38] ceolin commented on #13849
#13975

[2019-03-01 00:41] cinlyooi-intel commented on #13729
@nashif Any advice please? Many thanks

[2019-03-01 00:57] #13829 closed

[2019-03-01 00:57] ceolin commented on #13866
#13976

[2019-03-01 01:42] ceolin commented on #13873
there are other places that coverity is complaining the same thing. I vote classify it as intentional and close the issue.

[2019-03-01 02:26] karthikprabhu17 commented on #12190
I just tried it...the master dos not have this problem . Closing this.

[2019-03-01 02:26] #12190 closed

[2019-03-01 02:29] arun1joshi commented on #13734
@nvlsianpu, can you please double check and re-open the issue?
still failing for the latest commit [9ec9c430b3].

[2019-03-01 05:57] cvinayak commented on #13629
@jhe the relaxation in Zephyr was introduced in #5918. If I remember correct, this was Zephyr mesh stack requirement to be able to set random address to be able to start advertising while continuing to passive scan.

[2019-03-01 07:07] pdunaj commented on #13396
workaround works so I am closing this issue

[2019-03-01 07:07] #13396 closed

[2019-03-01 07:27] agansari commented on #13845
Not an issue

[2019-03-01 07:27] #13845 closed

[2019-03-01 07:28] agansari commented on #13848
Not an issue

[2019-03-01 07:28] #13848 closed

[2019-03-01 07:46] nvlsianpu commented on #13734
Running test suite test_config_fcb
===================================================================
starting test - config_empty_lookups
PASS - config_empty_lookups
===================================================================
starting test - test_config_insert
PASS - test_config_insert
===================================================================
starting test - test_config_getset_

[2019-03-01 08:19] #13849 closed

[2019-03-01 08:37] ioannisg commented on #13432
We have now understood what happens here.

This has been closed automatically. I am just adding here the resolution regarding tail-chaining.
Interrupt tail chaining is an optimization and, in general, software design shall not be based on the assumption that it definitely occurs, even if the conditions, according to the specification, are met.

Therefore, the software is responsible to always ensu

[2019-03-01 08:38] ioannisg commented on #13972
Looks like a null-pointer exception - MMFAR Address is 0x0.

[2019-03-01 08:41] #13884 closed

[2019-03-01 08:44] #13867 closed

[2019-03-01 08:44] #13882 closed

[2019-03-01 08:50] #13866 closed

[2019-03-01 08:52] SebastianBoe commented on #10990
This warning breaks CI due to -Werror, looking at a fix ...

[2019-03-01 09:13] jukkar commented on #13885
This is not about CAN but to generic socket, setting label and assigning to @pfalcon

[2019-03-01 11:31] carlescufi commented on #13629
Downgrading from bug to question because this is an intentional feature that was introduced willingly.

[2019-03-01 11:59] jhedberg commented on #13972
Which board is this on? Could you show us your application code? (or is this some existing sample in the tree?)

[2019-03-01 12:04] jhedberg commented on #13629
@cvinayak yes, that was the reasoning I remember as well. If there is no clear reason why the core spec should be requiring this, I think it'd be good to raise an erratum for it.

[2019-03-01 12:41] carlescufi commented on #13388
Like @lemrey, I also Agree with the proposed solution as a first step. @nvlsianpu could you propose a PR?

[2019-03-01 13:02] nvlsianpu commented on #12635
After investigation `test_large_system` -  fails after GC and FS flash re-parsing . It is caused by ["NFFS can store a valid file-system instance which is unrecoverable after reset." bug](https://github.com/apache/mynewt-nffs/issues/10), so it is also manifestation of https://github.com/zephyrproject-rtos/zephyr/issues/9748 error source.

[2019-03-01 13:21] gon1332 opened #13984 "nucleo_l496zg: samples: console/echo: It doesn't echo"
**Describe the bug**
The echo sample doesn't seem to work as expected.
The motivation to try this sample, was after I wrote a sample using tty.h and it could not receive data through `tty_read()`. My sample is a driver for a camera module. I've also mocked the camera behaviour via FTDI but nothing this function doesn't seem to response. I've also tried different UART ports.

**To Reproduce**
Steps

[2019-03-01 13:22] lanvis commented on #13972
Board = nrf52840_pca10056  (sorry about that .. should have been in there).
Code is custom but just looks for a device with specific advertising data.
If found and stop scan, no problem.  If not found and stop scan, crash.

[2019-03-01 13:23] #12362 closed

[2019-03-01 13:31] Laczen commented on #13388
@nvlsianpu, @carlescufi, yesterday I created a PR #13954 that generates the DEV name for each of the parts in the dts definition. This would allow you to create a default_flash_map easily without using the area_id. The definitions that are generated are:
`DT_FLASH_AREA_IMAGE_0_DEV="NRF_FLASH_DRV_NAME"`
Using these definitions you can generate a default flash_map that has known definitions (linking

[2019-03-01 14:14] jhedberg commented on #13972
@lanvis that sounds very strange. Number of advertising reports (even if zero) should not influence the scan state in any way (e.g. the scan result callback). Are you able to reproduce this with some app from the tree (if you can't show us your code)? Perhaps with `tests/bluetooth/shell`?

[2019-03-01 14:18] jukkar commented on #13937
I could not reproduce this. There was no crash at the end of the test run, there is error print that says
`[00:00:10.215,052] <err> net_conn: Address families different` but no crashes.
The head of my git tree was b17d9eefc5897c5bca71b50241c7cdcb272f7c10
I am using SDK 0.9.5 so the qemu version is most probably different which could explain the different result.

[2019-03-01 14:29] jukkar commented on #13897
It seems that net_mgmt event thread stack is too small. With this setting `CONFIG_NET_MGMT_EVENT_STACK_SIZE=1024` I did not see the crash any more.

[2019-03-01 15:32] Olivier-ProGlove commented on #12362
I took me a while to get the right trace. To be short, while it seems to work much better there might still be an issue.

Environment of test:
- Latest Zephyr: https://github.com/zephyrproject-rtos/zephyr/commit/b17d9eefc5897c5bca71b50241c7cdcb272f7c10
- @cvinayak 's fix: https://github.com/zephyrproject-rtos/zephyr/pull/13983
- Test: `zephyr/samples/bluetooth/peripheral_hids/` on `nrf52840_pca100

[2019-03-01 15:43] PiotrZierhoffer commented on #13960
The main problem is that this test also fails on real hardware, it is not Renode-specific.

As discussed with @nashif , we are about to create some docs describing Renode and how to use it, but due to Embedded World this had to be postponed.

[2019-03-01 15:50] Olivier-ProGlove commented on #12362
Here are the traces (logs+btmon+sniffer) of the same settings + `CONFIG_BT_CTLR_SLAVE_FEAT_REQ=n`:  [WithoutFeatReq.zip](https://github.com/zephyrproject-rtos/zephyr/files/2920088/WithoutFeatReq.zip)

[code]

![trace](https://user-images.githubusercontent.com/36843284/53649161-e2601800-3c41-11e9-991d-e5f31da6b376.png)

[2019-03-01 16:29] pfalcon commented on #13943
https://github.com/zephyrproject-rtos/zephyr/pull/13957 improved, but not fixed the situation. Reopening to track the situation over time.

[2019-03-01 17:00] pfalcon commented on #13943
Master  5f2099fb63ba73ab94ee1a636b91cc77890f052a

1. BOARD=qemu_x86 OVERLAY=overlay-e1000.conf

[code]

I.e. of 2 tests, they abort due to ECONNRESET, which is worse then my yesterday test for https://github.com/zephyrproject-rtos/zephyr/pull/13957 (no implications, it's just visibly flaky and non-deterministic). But at least Zephyr didn't lock up.

2. BOARD=mps2_an385 OVERLAY=overlay-smsc911x.con

[2019-03-01 17:03] pfalcon opened #13991 "net: Spurious driver errors due to feeding packets into IP stack when it's not fully initialized (assumed reason)"
A typical situation:
[code]

It's pretty clear (though not confirmed) that driver (on a typical busy network) receives and feeds a packet into stack when it's not yet fully initialized.

It's pretty easy to reproduce that with the default qemu_x86/SLIP setup, where I regularly get 2 screenfuls of errors like that.

We should do something about that. And the most obvious solution is to have proper

[2019-03-01 17:11] wjliang commented on #8104
Please see libmetal patches: https://github.com/OpenAMP/libmetal/pull/85

[2019-03-01 17:12] andyross commented on #13960
OK, but it's failing right now reliably in the tree, which means that CI runs that try to build it (in this case, anything that modifies the tests/kernel/lifo/lifo_usage directory) can't pass.

Please file a bug for the hardware failure for sure, it's worth tracking.  But we need to correct the booby trap in the source tree.  Would you be OK blacklisting this test on that platform for now?

[2019-03-01 17:23] #13536 closed

[2019-03-01 17:23] andyross commented on #13536
Fixed in the tree for me.  Please reopen if needed.

[2019-03-01 17:25] andyross commented on #12352
Confirmed on the 18.04 box.  No idea why it's sensitive to host system like this (the toolchain and qemu versions are identical and provided in the SDK).  Could be the kernel scheduler on the host being different, maybe.

[2019-03-01 17:26] andyross commented on #11425
Merged the recursion patch.  Closing.

[2019-03-01 17:26] #11425 closed

[2019-03-01 17:27] pfalcon commented on #13984
If that's actual console-shot, then it actually shows characters echoed back ;-).

Otherwise, as the sample suggest, there's an issue with interrupt-driven UART functions implementation.

Can you try other BOARD's, starting with qemu_x86 ?

[2019-03-01 17:28] andyross commented on #9892
Merged the VLA patch for the kernel, which I think is the scope here.  There are a few spots in the I2C and SPI drivers that can be hit (as failures -- we error on VLA usage now) by trying to build the full test suite with CONFIG_MISRA_SANE.  We can address those in specific bugs as needed.

[2019-03-01 17:28] #9892 closed

[2019-03-01 17:29] andyross commented on #9843
Hasn't reappeared.  Must be fixed.  Closing.

[2019-03-01 17:29] #9843 closed

[2019-03-01 17:29] andyross commented on #8190
Great, thanks.

[2019-03-01 17:29] #8190 closed

[2019-03-01 17:44] #13746 closed

[2019-03-01 18:03] lanvis commented on #13972
Calling bt_le_scan_stop() from a timer timeout callback.  Is that illegal?

[2019-03-01 18:14] agross-linaro commented on #13825
looks like we aren't handing the case where rc == EGAIN.  We need to do a 'continue' in that case.

[2019-03-01 18:32] agross-linaro commented on #13852
Looks like it needs to be 1ULL instead of 1U

[2019-03-01 18:37] agross-linaro commented on #13852
https://github.com/zephyrproject-rtos/zephyr/pull/13967

[2019-03-01 18:43] #13949 closed

[2019-03-01 18:44] #13850 closed

[2019-03-01 18:45] #13289 closed

[2019-03-01 18:56] jhedberg commented on #13972
@lanvis yes, most Bluetooth APIs are not safe to be called from interrupt context (which k_timer callbacks are). We should probably document this better. I'd suggest using k_delayed_work instead, if that suits your needs, or then use k_work to defer execution from your timer callback (OTOH that's essentially what k_delayed_work does).

[2019-03-01 21:01] rerickson1 opened #14001 "drivers: modem: modem receiver is sending extra bytes around \r\n"
**Describe the bug**
Extra 0's are being added before and after the '\r\n' terminator of every at command sent.
I am using an NRF52840 host processor to communicate with an HL7800 modem.

**To Reproduce**
Steps to reproduce the behavior:
This should be easily reproducible using the WNC modem driver with the NRF52840.

**Expected behavior**
Extra bytes should not be inserted into the messages being

[2019-03-01 22:28] mbolivar commented on #13894
@finikorg did you mean to @-mention someone else? I don't have this board and don't work with USB on Zephyr.

[2019-03-01 22:33] mbolivar commented on #13754
Closing as a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/12812

Hi @Olivier-ProGlove, flashing has been implemented using west for many months. The copy of west that was inside the zephyr repository was deleted when standalone west was included in the main workflow. You need a west installation to use `ninja flash` or `make flash`.

[2019-03-01 22:33] #13754 closed

[2019-03-01 22:53] #13353 closed

[2019-03-02 02:20] andrewboie commented on #13889
#13924 now only adds the malloc and libc partitions if they exist based on kernel configuration.

[2019-03-02 02:40] #9953 closed

[2019-03-02 02:49] microbuilder commented on #13718
An initial proof of concept repo has been created here -- along with some useful labels and issues -- to enable collaborative development until this is ready to advance to a proper PR and RFC in the `zephyr` repo: https://github.com/microbuilder/zsensor

I'm, of course, happy to add anyone as a collaborator, just dropping me here or in the zsensor repo so I know the right github username to add.

[2019-03-02 02:56] #10188 closed

[2019-03-02 11:26] #13874 closed

[2019-03-02 11:27] #13877 closed

[2019-03-02 11:28] #13862 closed

[2019-03-02 12:10] Laczen commented on #13941
Hi @rlubos, you could use the nvs module and write a little wrapper around it to store string-value pairs:
a. Reserve nvs id's for the strings e.g. everything below 0x8000.
b. Reserve nvs id's for the value's e.g. everything above 0x8000.

The value that belongs to the string at id=0x0001 can be found at id=0x8001. The strings represent the key-index combination.

With some string processing the s

[2019-03-02 14:25] therealprof commented on #9711
CC #12372

[2019-03-02 16:25] andyross commented on #12352
Just to update while it occurred to me: it's not the OS, it's the clock rate.  The failing box is a server with cores that sustain 2.6GHz under load.  The machine I couldn't reproduce on is an overclocked 5GHz desktop.  I should clock it down to confirm.

So this is almost certainly timing related, where on one system qemu can race ahead of the timer ISRs and on the other it gets caught before it'

[2019-03-02 16:39] #13881 closed

[2019-03-02 16:39] #13883 closed

[2019-03-02 17:47] mike-scott commented on #14001
@rerickson1 Confirming, that with my analyzer, I'm also seeing NULL characters sent to the wire.  Oddly, this doesn't break communications on the WNC-M14A2A modem.  So, I didn't notice it during my testing.

I'll submit a fix shortly.

NOTE: Love that Saleae UI.

[2019-03-02 18:17] mike-scott opened #14010 "logger: timestamp resets after 35.7 seconds on K64F"
**Describe the bug**
Timestamps will wrap from 35.7 seconds to 0 on the FRDM K64F board.

I haven't bisected the issue yet, but it seems to have been around for more than a week.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/subsys/shell/shell_module/
2. mkdir build && cd build
3. cmake -DBOARD=frdm_k64f ..
4. make
5. make flash
6. [connect to the console on K64F and enter] log_

[2019-03-02 18:18] mike-scott commented on #14010
Assigned @andyross due to his familiarity with the latest timer changes in Zephyr.  Please assign to someone else if appropriate.

[2019-03-02 18:18] mike-scott commented on #14010
If I get time, I'll try and bisect a bit later.

[2019-03-03 12:26] nashif commented on #12089
this type of failures is caught when run in sanitycheck, when we run those tests on the command line there is no way to capture those exceptions, unless the test actually fails because of them.
Sanitycheck on the other hand looks for those exceptions and fails the test even if it reports success.

[2019-03-03 12:26] #12089 closed

[2019-03-03 12:42] nashif commented on #13935
@cinlyooi-intel Please always specify what tests failed exactly, this project has multiple tests, the reproduction steps are not correct.

Also, `-DARCH=arm` are not needed.

[2019-03-03 12:51] nashif commented on #13935
more debug info:
[code]

[2019-03-03 12:53] nashif commented on #13935
@ioannisg @andrewboie any hints?

[2019-03-03 12:58] nashif commented on #13567
@erwango can we close this? @nvlsianpu maybe we should make this test only run on platforms where it is supposed to run.

[2019-03-03 13:11] nashif commented on #9432
not able to reproduce

[2019-03-03 13:11] #9432 closed

[2019-03-03 13:18] nashif commented on #13257
Fixed by #13319

[2019-03-03 13:18] #13257 closed

[2019-03-03 13:19] nashif commented on #14010
duplicate of #9043

[2019-03-03 13:19] #14010 closed

[2019-03-03 15:44] #10750 closed

[2019-03-03 16:36] nashif commented on #10143
PRINTK does not depend on console anymore, so this issue is considered "fixed"

[2019-03-03 16:36] #10143 closed

[2019-03-03 20:14] andrewboie commented on #13919
I saw the patch #14016
Does this also fix the `the snprintf implementation is broken` message?

[2019-03-03 21:09] #13752 closed

[2019-03-03 22:43] #13245 closed

[2019-03-03 22:48] nashif commented on #8869
not able to reproduce.

[2019-03-03 22:48] #8869 closed

[2019-03-04 00:21] nashif commented on #13919
ah, I missed this one.

[2019-03-04 00:31] cinlyooi-intel commented on #13255
Observed for nrf52840_pca10056 with Commit ID fd7c4430e1398374f2f5b49bcd6ec95166e52e9a with slightly different messages:

1. Assertion failure at test_single_shot_alarm_top() is displaying a different message
2. Kernel panic's thread ID and instruction address are different

[code]

[2019-03-04 00:33] #10668 closed

[2019-03-04 00:58] cinlyooi-intel commented on #13468
Observed in commit  fd7c4430e1398374f2f5b49bcd6ec95166e52e9a for nrf51_pca10028

For nrf51_pca10028:
[code]

[2019-03-04 01:04] cinlyooi-intel commented on #13417
Repeated  in Commit ID fd7c4430e1398374f2f5b49bcd6ec95166e52e9a for sam_e70_xplained

[code]

[2019-03-04 02:12] KwonTae-young commented on #13890
@erwango
I applied #13952.
And I modified [samples/nfc/nfc-hello](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/nfc/nfc_hello) as follows.
[code]

Then the loopback test was good.
Works well on all baudrates.
[code]

I tried to run a bardcode scanner in a similar way.
![image](https://user-images.githubusercontent.com/10510127/53490139-482f9100-3ad6-11e9-9b1b-9264fe473bbe.png)
B

[2019-03-04 02:47] summer20100514 opened #14028 "[flash] question about the flash partition"
Hello, I am just curious about how can I add one custom flash partition into the dts? I used one overlay file to achieve that but fails with the recent branch.

[2019-03-04 02:59] cinlyooi-intel commented on #13468
@overheat
As part of our  routine we revisited the test cases and we are still seeing the same problem

I am still a novice at zephyr. I think the problem is in `test_wdt_callback_2()`. Main symptom is we never run next test, i.e.,  `test_wdt_bad_window_max()`.

I added a few TC_PRINT() statements to track the progress of the program and I believe the problem is in `test_wdt_callback_2()`. Placing

[2019-03-04 03:34] cinlyooi-intel commented on #13421
More work done and it is not an automation failure

Very occasionally, this test has been known to pass.

[2019-03-04 03:58] nashif commented on #12291
fixed

[2019-03-04 03:58] #12291 closed

[2019-03-04 04:00] nashif commented on #12315
[code]

[2019-03-04 04:01] nashif commented on #11484
fixed, CONFIG_USB_DEVICE_NETWORK_DEBUG_LEVEL was undefined, now it is removed.

[2019-03-04 04:01] #11484 closed

[2019-03-04 04:11] #13835 closed

[2019-03-04 04:11] #13841 closed

[2019-03-04 04:11] #13869 closed

[2019-03-04 04:11] #13875 closed

[2019-03-04 04:11] #13878 closed

[2019-03-04 04:11] #13879 closed

[2019-03-04 04:13] #13827 closed

[2019-03-04 04:15] nashif commented on #10579
ignored als false positive in coverity

[2019-03-04 04:15] #10579 closed

[2019-03-04 04:17] nashif commented on #10575
file refactored, does not apply anymore.

[2019-03-04 04:17] #10575 closed

[2019-03-04 04:18] nashif commented on #10572
file reworked, does not apply anymore.

[2019-03-04 04:18] #10572 closed

[2019-03-04 04:19] nashif commented on #10584
obsolete, file refactored, marked as fixed in coverity

[2019-03-04 04:19] #10584 closed

[2019-03-04 04:22] nashif commented on #12322
fixed.

[2019-03-04 04:22] #12322 closed

[2019-03-04 04:23] nashif commented on #13831
![image](https://user-images.githubusercontent.com/180017/53710458-500b7000-3e0b-11e9-8fb8-9789bf9679db.png)

[2019-03-04 04:26] nashif commented on #12303
file reworked, not valid anymore and marked fixed.

[2019-03-04 04:26] #12303 closed

[2019-03-04 04:44] #13918 closed

[2019-03-04 04:47] mike-scott commented on #12315
Hmm, I should probably ignore the return value entirely there, and remove the check for !frag.  Either way we need to break the loop because a handler was found.

[2019-03-04 04:55] #7298 closed

[2019-03-04 05:05] nashif commented on #12144
reduced priority as most of the issue were fixed.

[2019-03-04 07:53] erwango commented on #13567
@nashif, I'm closing it, thanks @nvlsianpu for the support.

Regarding:

This is a subsystem test, so ideally I don't think it should be restricted to few platforms. Though, since it is not generic enough yet, ok to limit but at least it should be stated somewhere what are the expectations/limitations vs flash driver. Or better, filter based on flash driver/ip properties.

[2019-03-04 08:06] gon1332 commented on #13984
Damn, you're right. Sorry for that one.

[2019-03-04 08:06] #13984 closed

[2019-03-04 08:10] gon1332 commented on #13890
@KwonTae-young  You should add these in your proj.conf:
[code]

[2019-03-04 08:17] KwonTae-young commented on #13890
@gon1332
Thank you. After adding the setting, the error disappears.  :smile:

[2019-03-04 09:04] summer20100514 commented on #14028
@galak I am eager to hear from you, thank you for your patience.

[2019-03-04 09:57] erwango commented on #14028
@summer20100514 , please provide more information on your issue (base SHA1, SHA1 in use when it was working, overlay in use...). I suggest to use issue template (which you erased when entering your issue).
It is quite hard to help when we don't have inforamtion

[2019-03-04 10:12] summer20100514 commented on #14028
OK, I solved my problem just now.
`#if defined(CONFIG_FS_FLASH_STORAGE_PARTITION)
		storage_partition: partition@fc000 {
			label = "storage";
			reg = <0x000fc000 0x00002000>;
		};
		storage_partition_2: partition@fe000 {
			label = "storage2";
			reg = <0x000fe000 0x00002000>;
		};
#endif`
it seemed like that when parsed the overlay file, the macro CONFIG_FS_FLASH_STORAGE_PARTITION is not define

[2019-03-04 10:34] shlomow opened #14034 "Support for PPP protocol"
Hi! I saw that there is a porting for a cellular device. I wonder if there is any idea for implementing the ppp layer 2 stack, since it is very convenient to handle sockets riding on ppp.

Thanks!
Shlomi

[2019-03-04 10:34] pawelzadrozniak commented on #12775
Hi.
I am currently working on audio class. I was able to modify testusb class by adding iso endpoints and pass the basic linux test on nrf52840.

[2019-03-04 10:34] #14028 closed

[2019-03-04 10:41] m-nilsson commented on #12775
@pawelzadrozniak
Ok, that's great news!

[2019-03-04 10:46] avisconti commented on #13718
@microbuilder
I think that, as a first step, we would need to reconsider the data structures associated to sensor.
Currenty everything is just a senor_value with val1 as integer part and val2 as fractional part.

Looking at google sensorhub I see that there are more complex data structures.
Take a look to https://android.googlesource.com/device/google/contexthub/+/refs/heads/master/firmware/os/inc

[2019-03-04 10:52] nordic-krch commented on #13897
When `LOG_IMMEDIATE` is enabled then log processing happens in the user context, that includes string formatting. Stack usage will rise then by couple of hundreds bytes. Using _prf for string formatting plays the major part as when switched to _vprintk stack usage is decreased by 260 bytes. In #14036 I switched to use _vprintk by default.

[2019-03-04 10:59] pizi-nordic opened #14037 "Generic device driver object type"
Introduction of generic device driver API is hard due to lack of generic K_OBJ_DRIVER type common for all device drivers. The syscall wrappers must check type of the objects passed to kernel space which is tricky without such definition.

@andrewboie suggested, that instead of defining separate type, a flag could be used to indicate if the object is a driver. The flag would be set for all K_OBJ_DR

[2019-03-04 11:01] PiotrZierhoffer commented on #13960
(got offline for the weekend, sorry for the delay).

Sure, that makes sense. I'll file a bug, but I am not sure how to blacklist the test in the 'Zephyr' way. Only one test case fails from the whole suite, but I think the only "correct" way to handle it is via "platform_exclude". Am I right?

[2019-03-04 11:34] nvlsianpu commented on #13567
Tests success depends on what flash driver support in run-time  I can add initial test for assert that - so any user will see the real the reason of failure (and only this - so no misleading messages).

Some of test are checking flash footprint pattern - how them looks like depends on write-block-size, that why test targets are limited for now.

What I really want to do is to test this with qemu a

[2019-03-04 11:34] #13567 closed

[2019-03-04 11:43] WilliamGFish commented on #13553
This on the surface looks like a buffers configuration issues. With the nods being relays they will be processing multiple messages that have been repeated and will consume precious resources.
Start by removing the Relay option and see what effect that has on reliability? I would then suggest looking at the mesh buffers.

Billy..

[2019-03-04 12:16] SavinayDharmappa commented on #13347
sensor subsystem is not getting reset , because of which interrupts are not cleared hence we are observing assertion for test_wdt_callback_1.

[2019-03-04 13:14] #13541 closed

[2019-03-04 13:25] nashif commented on #13729
this is still broken even after #13982

[2019-03-04 13:25] #13729 closed

[2019-03-04 13:25] nashif commented on #13729
at least on ARM

[2019-03-04 13:35] rlubos commented on #13941
Hi @Laczen, thank you for your input. I've looked through your PR to see how the NVS settings backend is implemented and it seems that the algorithm you propose in there could find use in OpenThread settings as well. I think that we could even simplify this proposal a little bit for OpenThread and store only the numeric setting key in the bottom part of the NVS id's. As we'd need to crawl through

[2019-03-04 13:41] microbuilder commented on #13718
@avisconti Sorry that this kind of spans a couple PRs and issues at this point, but you can see some initial thoughts in code here, along with some other ideas by @bfrog earlier: https://github.com/zephyrproject-rtos/zephyr/pull/14008#issuecomment-469055223

I agree the current system is extremely limiting, though!

[2019-03-04 14:16] aescolar commented on #13633
@nikooiko : In my mind, both issues would seem to require a similar solution:
Differentiate on the POSIX ARCH underlying architecture (m32 being just a "please even that we are in x86-64, compile for x86 instead of the default" compiler switch which does not make sense on other than x86-64 environments).

[2019-03-04 14:23] mped-oticon commented on #13633
@nikooiko It seems you are on the right track. I'll just add a few notes.

Docker image of Debians of many different architectures:
https://github.com/mped-oticon/debian_foreign
You can simulate most/all effects of compling for raspberry pi, by adding arm as a target to debian_foreign.

Zephyr hack for MIPS:
https://github.com/mped-oticon/zephyr/commit/f11b3e1021958ef7e8c579fc2c5f669093a3985f

To

[2019-03-04 14:33] aescolar commented on #13633
I guess you could add an kconfig choice as part of POSIX_ARCH menu, something like `POSIX_ARCH_TARGET_{X86|ARM|MIPS}` which defaults to X86

[2019-03-04 14:40] #14001 closed

[2019-03-04 14:41] #13831 closed

[2019-03-04 14:44] Jocelyn-Li commented on #13729
@wentongwu please continue checking about this.

[2019-03-04 15:25] lanvis commented on #13972
Bingo ... used k_work to schedule the stop_scan and all is good again.  Thanks.
Question: Are Indicate and Notify callbacks running at interrupt context?  We can close this one I think.

[2019-03-04 15:35] #10164 closed

[2019-03-04 15:37] WilliamGFish commented on #13065
@nashif
Interesting article was published on how the Expressif team have released their version of BLE Mesh which has been built on top of Zephyr (as below).

It might be worth a conversation to see if they are willing to contribute to the overall Zephyr code base.

https://www.espressif.com/en/news/Espressifs_BLE_Mesh_SDK_Is_Now_Bluetooth_SIG_certified

[2019-03-04 15:51] #13388 closed

[2019-03-04 15:56] kzyapkov opened #14042 "MCUboot fails to boot STM32L4 device"
**Describe the bug**
We've been unable to adapt our code to the latest master branches of MCUboot and zephyr, which worked fine around 1.13 and a few weeks after that. After some digging through #13249, #13408, #13433 I enabled MULTITHREADING and expected everything to just work, but, alas, when jumping to the reset vector of the app we get a crash.

**To Reproduce**
I've prepared a small git repo

[2019-03-04 16:05] #13923 closed

[2019-03-04 16:47] #10054 closed

[2019-03-04 17:12] nashif commented on #12059
can't reproduce.

[2019-03-04 17:12] #12059 closed

[2019-03-04 17:18] Olivier-ProGlove opened #14044 "BLE HID sample fails to reconnect on Windows 10 tablets (follow-up)"
Same issue as https://github.com/zephyrproject-rtos/zephyr/issues/12362 but as the other one has been closed and is quite long and I have also managed to narrow down the issue. I am re-opening this new one.

Even with @cvinayak 's fix #13983 the issue still exists.

**To Reproduce**
1. Build and flash peripheral_hids on Nordic nRF52840 dev kit (PCA10056).
2. Pair the Windows 10 tablet to the devic

[2019-03-04 17:18] Olivier-ProGlove commented on #12362
Follow up on this still existing issue in this new ticket with more information: https://github.com/zephyrproject-rtos/zephyr/issues/14044

[2019-03-04 17:20] Olivier-ProGlove commented on #14044
It could be noticed in the failing case a retransmission request from Windows 10 BLE controller:

[code]

[2019-03-04 17:39] #13960 closed

[2019-03-04 19:08] #13956 closed

[2019-03-04 19:16] #12900 closed

[2019-03-04 20:02] andyross commented on #13318
Yeah, taking a lock around an iteration is bad practice for sure.

The only thing that lock is protecting is the threads list itself, there's absolutely no reason for it to be held while the callback is invoked.  Except that the list iteration is hand-coded and probably isn't safe vs. removal during iteration.

Fixing this correctly should:

1. Use an slist and not a hand-coded list for ?@#!! sake

[2019-03-04 21:47] dcpleung commented on #13223
I looked into it a bit more. The exception seems to be caused by any DMA transfers. When I commented out the `K_THREAD_DEFINE()` in `dma_test.c`, there were no longer exception. When I re-enabled the DMA thread, exceptions came back.

Also, when I disabled ASM2, turned on CONFIG_DEBUG and CONFIG_NO_OPTIMIZATIONS, `__device_i2s3_cavs->config` was constantly corrupted after `dw_dma_transfer_start()`

[2019-03-04 21:57] jhedberg commented on #13972
@lanvis no, they're in thread context. The Bluetooth RX thread to be precise (there's a Kconfig option if you need to change its stack size).

Will do, thanks.

[2019-03-04 21:57] #13972 closed

[2019-03-04 22:06] jhedberg commented on #13065
@WilliamGFish thanks for pointing out the Espressif Mesh SDK. I'm happy proper credit is given to the Zephyr stack, since it's something that doesn't always happen in situations like this. From a quick look the main thing that might be worth looking at for Zephyr is the provisioner support since it's something we don't have. It looks like there might be some standard models code we could benefit f

[2019-03-04 22:27] andyross commented on #7048
Merged long ago.  Hasn't reappeared.  Can't reproduce.  Please reopen if needed.

[2019-03-04 22:27] #7048 closed

[2019-03-04 22:29] andyross commented on #6585
Yeah, I'm going to close this.  The poll code is indeed subtle, so I don't deny the possibility of a bug.  But I can't see it.  Note also that recent changes have made a double-remove from a dlist into a reliable runtime error, so if this were happening in practice it would be visible.  Please reopen with example code to reproduce if needed.

[2019-03-04 22:29] #6585 closed

[2019-03-04 22:50] andrewboie commented on #13889
This is now done.
I think we can close this?

[2019-03-05 00:04] #7817 closed

[2019-03-05 00:44] cinlyooi-intel commented on #13729
Hi @nashif : Does mps2_an385 counts as ARM? I do realize at present it is a QEMU emulation but I managed to get a html report using mps2_an385.

[code]

It also works for me if I substitutes `mps2_an385` with `qemu_x86`.

[2019-03-05 01:33] #13919 closed

[2019-03-05 01:40] mike-scott commented on #10965
RFC to discuss supporting GPIOs in a sane way for shields: https://github.com/zephyrproject-rtos/zephyr/pull/14057

[2019-03-05 01:41] #9590 closed

[2019-03-05 01:42] nashif commented on #9590
closing due to missing details.

[2019-03-05 01:49] andyross commented on #8160
Closing this one.  We have toolchain support for this already in non-gcc toolchains, and no gcc ones known are going to hit the "no _Static_assert() available" case anyway.

[2019-03-05 01:49] #8160 closed

[2019-03-05 02:01] ulfalizer opened #14059 "CONFIG_XUK_64_BIT_ABI is referenced but undefined (outside of tests)"
No `XUK_64_BIT_ABI` Kconfig symbol ever existed. `CONFIG_XUK_64_BIT_ABI` is only set in `arch/x86_64/core/xuk-config.h`, which seems to be used for testing, so the `#ifdef CONFIG_XUK_64_BIT_ABI` in `arch/x86_64/core/xuk.c` is dead code outside of testing.

Trying to remove `CONFIG_FOO` references where `FOO` is not a Kconfig symbol, for a CI check.

[2019-03-05 02:14] nashif commented on #10569
@tbursztyka can you please take a look at this?

[2019-03-05 02:16] nashif commented on #9289
not current in coverity anymore and marked fixed.

[2019-03-05 02:16] #9289 closed

[2019-03-05 02:18] nashif commented on #9290
not current in coverity anymore and marked fixed.

[2019-03-05 02:18] #9290 closed

[2019-03-05 02:20] nashif commented on #11087
@pfalcon please take a look at this issue and close ASAP

[2019-03-05 02:21] nashif commented on #11086
@pfalcon Please take a look at this issue and close ASAP

[2019-03-05 02:22] nashif commented on #12297
marked as fixed in coverity

[2019-03-05 02:22] #12297 closed

[2019-03-05 02:39] nashif commented on #12632
@dcpleung you had dealt with the ADC for quark recently, can you please take a look?

[2019-03-05 02:54] andyross commented on #14059
Yeah, this was an evolution of the internal configuration values to kconfigs, except that Zephyr itself has never built in anything but x32, so it never got referenced.  Will make it internal again pending a work to make zephyr work with 64 bit pointer sizes.

[2019-03-05 04:52] KwonTae-young commented on #13890
I created a program that reads the barcode using the [tty API](https://github.com/zephyrproject-rtos/zephyr/blob/master/include/tty.h).
The source has been uploaded to the [tty_api_test](https://github.com/KwonTae-young/zephyr/tree/tty_api_test) branch.
[code]

I created two barcodes for testing.
It is read well using the [tty API](https://github.com/zephyrproject-rtos/zephyr/blob/master/include/t

[2019-03-05 05:01] zl3one6 commented on #13700
Thanks, I tried to compile it on Ubuntu environment and enable new lib, it passed.

[2019-03-05 05:01] #13700 closed

[2019-03-05 05:19] dgloeck commented on #2933
http://openocd.zylin.com/#/c/4988
Someone else needs to review this. Otherwise OpenOCD maintainers will never look at it.

[2019-03-05 06:36] rgundi commented on #8160
@andyross XCC currently doesn't have _Static_assert() defined, but the generic BUILD_ASSERT defined in include/toolchain/common.h works just fine. I see that the error like below is generated only when the assertion case is failing.
warning: division by zero
error: enumerator value for ‘__build_assert15’ is not an integer constant

[2019-03-05 07:14] ioannisg commented on #13889
@andrewboie, yes, we can close this, thanks for your help on this!
@carlescufi, this was not anymore an issue for nRF52810, anyway, since we fixed earlier the MPU boot-up configuration.

Closing this.

[2019-03-05 07:14] #13889 closed

[2019-03-05 07:33] SavinayDharmappa commented on #13468
@cinlyooi-intel  on which board it looping ?  x86 quark_se_c1000 ?

[2019-03-05 07:36] pfalcon commented on #13890
@KwonTae-young:

Glad to hear!

[2019-03-05 07:51] SavinayDharmappa commented on #13468
@cinlyooi-intel  test_wdt_callback_2 . is specific all back is specific to nrf boards.

[2019-03-05 08:10] erwango commented on #13890
Txs @pfalcon for help on this. @KwonTae-young, please close the issue when you think it is ok.

[2019-03-05 08:12] #13890 closed

[2019-03-05 08:26] SavinayDharmappa commented on #13421
https://github.com/zephyrproject-rtos/zephyr/pull/13659

[2019-03-05 08:27] SavinayDharmappa commented on #13421
@cinlyooi-intel  as stated in #13659 patch exclude the watchdog test case for quark_d2000_crb
,as it seen that upon watchdog reset the conents of ram are lost.
Hence the existing testcase fails.

[2019-03-05 08:27] #13421 closed

[2019-03-05 08:35] #12432 closed

[2019-03-05 09:27] ramakrishnapallala commented on #13574
@nvlsianpu  can you look into this issue as fcb and nffs are owned by you.

[2019-03-05 10:06] cinlyooi-intel commented on #13468
@SavinayDharmappa  NRF boards that  I have at Intel, i.e. pca10028, pca10040,  and pca10056

[2019-03-05 10:16] lbise opened #14063 "net: ipv6: Neighbor table management improvements"
I've been using a setup where potentially a large number of neighbor can be added to the nbr table. With this I noticed that the neighbor management generally speaking could use some improvements and fixes.

Some issues I found:

Currently when a neighbor is added to the table, it is never ever removed. I think the intent was to remove neighbors from the table on 3 conditions, if it reaches the st

[2019-03-05 10:21] #13861 closed

[2019-03-05 10:22] #13585 closed

[2019-03-05 10:25] carlescufi commented on #13629
Closing this since it's been explained why the current controller acts like it does.

[2019-03-05 10:25] #13629 closed

[2019-03-05 10:26] carlescufi commented on #12589
@anangl could you please check this one?

[2019-03-05 10:27] carlescufi commented on #9043
@nordic-krch and @pizi-nordic. Is there a possible workaround for this issue as it stands, or do we need additional functionality in the logging subsystem?

[2019-03-05 10:32] SavinayDharmappa commented on #13347
after further analysis it is clear that the wdt_qmsi driver present currently in zephyr only for x86 part of quark_se_c1000. In case of  ARC part of quark_se_c1000 time 0 / 1 is used for  watchdog reset generation. Based on this analysis i would be bypassing the test case for arc part of quark_se_c1000 @nashif  @ManojSubbarao

[2019-03-05 10:40] pdunaj opened #14065 "Save bonds in workqueue thread instead on tx thread"
**Is your enhancement proposal related to a problem? Please describe.**
When central connects to peripheral it needs to store bonding information. This happens in tx thread context and as settings subsystem uses a lot of RAM it significantly increases stack size required by tx thread.

**Describe the solution you'd like**
Bond store could be moved to workqueue thread. This would allow reducing sta

[2019-03-05 10:44] carlescufi commented on #13887
Dismissed in coverity

[2019-03-05 10:44] #13887 closed

[2019-03-05 10:44] KwonTae-young opened #14066 "stm32: power: system power management support"
**Is your feature request related to a problem? Please describe.**
`STM32` soc must be able to use the `system power management` function.

**Describe the solution you'd like**
I would like to switch between `sleep mode`,` stop mode`, and `standby mode` in the application.

**Describe alternatives you've considered**
I want to use the `system power management` function in `STM32` in the form [samp

[2019-03-05 10:45] SavinayDharmappa commented on #13468
I am not aware of nrf architecture ..some who has knowledge on NRF platform should look into it.

[2019-03-05 10:46] nordic-krch commented on #9043
@carlescufi `k_uptime_get_32` could be used instead. It's in milliseconds so resolution would be smaller. I would prefer to keep `k_cycle_get_32` as long as `CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC` gives accepted resolution (like 32k in nrf) as this will be faster.

[2019-03-05 10:47] carlescufi commented on #9364
Already complete

[2019-03-05 10:47] #9364 closed

[2019-03-05 10:49] carlescufi commented on #14044
I believe we might need the same fix we did for slave feature request but also for the rest of control procedures that are not known to those old controllers.
Agree @cvinayak?

[2019-03-05 10:50] carlescufi commented on #12933
@chris-makaio since this is probably MCUboot or Laird-related, can you please close this?

[2019-03-05 10:51] #12933 closed

[2019-03-05 10:52] carlescufi commented on #14044
@Olivier-ProGlove

It should no longer be required to have to disable that one. Can you confirm that you only need to disable `CONFIG_BT_PHY_UPDATE` and `CONFIG_BT_DATA_LEN_UPDATE`?

[2019-03-05 11:17] carlescufi commented on #13127
Fixed in https://github.com/zephyrproject-rtos/zephyr/pull/13132

[2019-03-05 11:17] #13127 closed

[2019-03-05 11:21] anangl commented on #12589
OK, I will take a (closer) look.

[2019-03-05 11:29] pdunaj opened #14068 "Allow better control on SPI pin settings"
**Is your enhancement proposal related to a problem? Please describe.**
This issue concerns Nordic SoCs SPI. At the moment there is no possibility to control MISO pull per SPI instance.

**Describe the solution you'd like**
It would be great to be able to control pull for each bus pin separately. This will requite a companion change in nrfx.

**Describe alternatives you've considered**
At the mome

[2019-03-05 11:30] pdunaj commented on #13901
issue created to improve control over MISO when change in nrfx will allow it https://github.com/zephyrproject-rtos/zephyr/issues/14068

[2019-03-05 11:42] carlescufi commented on #9043
@nordic-krch Thanks for the reply. What you propose is reasonable. Since we are trying to close the open bugs that are important to users for 1.14, would you mind sending a PR that does what you describe?

[2019-03-05 11:45] carlescufi commented on #4150
Closing this one since there is already an issue for WebUSB and USB is already up and running and fully functional.

[2019-03-05 11:45] #4150 closed

[2019-03-05 11:49] carlescufi commented on #11841
@cvinayak can you update on this one please?

[2019-03-05 11:51] nordic-krch commented on #9043
@carlescufi sure, we'll do that.

[2019-03-05 12:04] kzyapkov commented on #14066
This is a much-needed feature by many, us included. Proper power management support would also require device power management and is not a trivial effort. However, maybe it would be possible to at least add an example implementing the needed functions out-of-tree, with a plain sample application.

[2019-03-05 12:08] #13833 closed

[2019-03-05 12:45] wentongwu commented on #8339
from the code (./ext/lib/crypto/tinycrypt),  it seems TinyCrypt appends encrypted authentication data to the end of out_buf. User needs to be aware of this and provide sufficient buffer space in output buffer to hold both encrypted output and the tag(encrypted authentication data).

and from mbed code(./ext/lib/crypto/mbedtls), it just copy the encrypted authentication data to tag buffer, and ther

[2019-03-05 13:00] wentongwu commented on #13729
the problem is that sanitycheck cannot generate coverage report. From Cinly's console output, all test cases failed because of cmake not finding coverage folder to generate build files. So after the #13982,  sanitycheck can work like before.  Also before the pull request, I do the test locally and it can fix Cinly's problem.

[2019-03-05 13:04] gon1332 commented on #14066
The Zephyr Power Management support seems to be under changes for this period. Locally, I have some samples consindering entering/exiting to/from LPMs on STM32L4, but they use the STM32 LL drivers. If you want me to upload anything in my local Zephyr fork, let me know.

Otherwise, I'm planning to create a PR on this, utilizing Zephyr Power Management.

[2019-03-05 13:07] kzyapkov commented on #14066
@gon1332 I also have a somewhat-working sample for STOP1/STOP2 -- let's compare notes and maybe collaborate on a PR which shows how to do the basic power management integration. The issues I'm facing are around systick management and device power states.

[2019-03-05 13:10] #12958 closed

[2019-03-05 13:18] #13964 closed

[2019-03-05 13:20] gon1332 commented on #14066
@kzyapkov I agree the STOP modes, due to the fact that the system doesn't reset (as in Standby or Shutdown) are a bit tricky. That's because, one should set the clock frequency and the systick appropriately after exiting from them. As for the device power management, I haven't gone deeper.

So yes, we can share some knowledge. Maybe a PR would be perfect.

[2019-03-05 13:34] nashif commented on #13574
@ramakrishnapallala this is less about the specific filesystems and more about the virtual file system interface and fs support in general.

[2019-03-05 14:34] SebastianBoe commented on #9573
I want to turn this into a feature request.

The reporter wants this issue to be about the fact that if you have a corrupted .config, for whatever reason, then it is not possible to do "ninja menuconfig". This is not possible because CMake uses the corrupted config and behaves in a corrupted/undefined way which could include doing anything, including crashing before Generation time, and thereby no

[2019-03-05 14:41] nvlsianpu commented on #13574
- fcb doc is missing - can be take form mynewt.
- NFFS is external project as well - currently not well documented, can consider documentation making but, for sure no now.

@nashif  Can we consider this as lack of documentation, not a bug. I would create separate issue for both subjects.

[2019-03-05 15:06] nashif commented on #13574
lack of documentation is a BUG :)

I would start here: https://docs.zephyrproject.org/latest/reference/file_system/index.html
This is currently the API only need more content to the file system feature in general. Probably a quick into about the supported filesystems with details to be added later.

[2019-03-05 15:09] #13901 closed

[2019-03-05 16:00] jhedberg commented on #13629
I was asked to provide some explanation why we want/need to do this for Bluetooth Mesh. Basically, the specification has gone through a lot of effort to ensure privacy of the traffic, i.e. who is sending, to whom, how many nodes in the network etc. Since mesh messaging is done using normal advertising special HW is not required for monitoring the traffic. However, if the bdaddr of the advertising

[2019-03-05 16:38] #11126 closed

[2019-03-05 16:39] nashif commented on #3244
2 year old bug, closing.

[2019-03-05 16:39] #3244 closed

[2019-03-05 17:15] ulfalizer commented on #13813
Haven't seen it in a while now. Not sure what changed.

[2019-03-05 17:21] laperie commented on #14063
This looks more like a bug; hence changing labels and assigning to @jukkar.
Thanks @lbise  for reporting!

[2019-03-05 18:02] mike-scott commented on #9783
@nashif Let's set the priority of this to low.  Most servers won't actually let you submit this kind of request to the client.

We will fix it, but I need to come up with a decent way of testing the fix once I do (I don't have access to any servers which allow me to do this).

[2019-03-05 18:08] mike-scott commented on #12955
@galak I'm working on the "overview" portion of LwM2M documentation and expect it to be ready in 1-2 days.

NOTE: High-level API documentation was merged here: https://github.com/zephyrproject-rtos/zephyr/commit/b56035c940f23e26e0e23e1765fbc0106a905931

[2019-03-05 18:38] #13747 closed

[2019-03-05 18:38] #13750 closed

[2019-03-05 22:10] gnuless commented on #13318
Unfortunately replacing the _kernel.threads list with an slist will break OpenOCD compatibility.  Both _kernel.threads and the next_thread member used to link them are exported.

[2019-03-05 22:19] andyross commented on #13318
Ew.  Though you could still use an slist and just play offset games with the pointer fields, I guess.  And thinking about it, the whole design is poorly constrained.  It's obviously entirely possible for an interrupt or other context to preempt the iterator here, and clearly that context is allowed to create or abort threads too.

We might just need to wont-fix this one, honestly.  @mubes, what's

[2019-03-05 22:21] nashif opened #14082 "Update Segger host library to V2.52f"
**Is your enhancement proposal related to a problem? Please describe.**
We have an outdated of the SEGGER host library supporting systemview and RTT.

**Describe the solution you'd like**

update to latest version available on https://www.segger.com/downloads/free-utilities/#SystemView

[2019-03-05 22:23] ulfalizer commented on #12244
There's a new [`setconfig`](https://github.com/ulfalizer/Kconfiglib/blob/master/setconfig.py) utility in upstream Kconfiglib now by the way. Maybe it could be useful here.

Used like this:

[code]

It will print a warning/error if the value can't be set, e.g. due to missing symbols or unsatisfied dependencies.

[2019-03-05 22:53] andrewboie commented on #13318
+1

[2019-03-05 23:02] andrewboie opened #14084 "ADC driver subsystem has no system calls"
**Describe the bug**
There are no system calls for any of the ADC driver subsystem APIs.

**Expected behavior**
Implement system calls for adc_channel_setup(), adc_read(), adc_read_async().

**Impact**
User mode threads will have no ADC driver access.

[2019-03-05 23:02] mubes commented on #13318
Hi Andy,

I don't have a use case for the iteration (indeed, its only lightly used
elsewhere) but I do need realtime response and this behavior breaks it
completely :-( I only found the problem because it totally breaks my
system which needs 100uS deterministic cyclic response. We can't go
locking out interrupts for extended periods of time while something
arbitrary happens! As far as I can unders

[2019-03-06 06:44] bzd2132 opened #14087 "serial/stm32: uart_stm32_fifo_fill can't transmit data complete"
**Describe the bug**
 Enable UART interrupt support, and STM32 uart can't transmit data complete with function uart_fifo_fill.

**To Reproduce**
1. Select "Enable UART Interrupt support" int menuconfig "Device Drivers -> Serial Drivers"
2. Build application and download to target board  NUCLEO_STM32L452RE.
3. In the application it transmit 8 bytes on time, but only 2 bytes can be received from UAR

[2019-03-06 06:52] SavinayDharmappa commented on #13347
#14067

[2019-03-06 07:21] erwango commented on #14042
@kzyapkov, as a start, have you been able to verify this is working on another platform/board?

[2019-03-06 07:32] cinlyooi-intel opened #14088 "sanitycheck --coverage: Running with different -T options results in different line coverage"
Not sure whether it is a bug.

If I run sanitycheck --coverage with different -T options, the total lines reported by the coverage report differs, should it be the same?

To reproduce, check out 259c2409c093e7c9b2f3cb5bbb7524ce772ce8b3, run the two commands below and  compare the coverage report for `kernel/sched.c`
[code]
and
[code]
I got 334 and 329 respectively

[2019-03-06 08:02] kzyapkov commented on #14042
Nope, but reports in the bugtracker indicate that it does. I don't have dev boards of other platforms handy right now.

[2019-03-06 08:46] kzyapkov commented on #14042
Okay, so the change from #14086 also fixes this issue. The DTS file (or overlay) needs

[code]

[2019-03-06 08:49] Tsai1005 opened #14091 "[bluetooth controller]"
**Is your feature request related to a problem? Please describe.**
As a bluetooth controller manufacture, I found the code in subsys/bluetooth/controller is only for nordic implementation and not port friendly to other vendors.

**Describe the solution you'd like**
The files in subsys/bluetooth/controller need to be separate by vendor-specific and keep the common logic (which refer to the Bluetoot

[2019-03-06 08:54] KwonTae-young commented on #14066
Hi. @kzyapkov, @gon1332
I saw examples of using STM32's LL driver in @gon1332's [lpm_stm32](https://github.com/gon1332/zephyr/tree/lpm_stm32) branch.
I have a [stm32f4_disco](https://docs.zephyrproject.org/latest/boards/arm/stm32f4_disco/doc/index.html) board.
I will test the power management by referring to [lpm_stm32](https://github.com/gon1332/zephyr/tree/lpm_stm32) on my board and share it her

[2019-03-06 08:55] SavinayDharmappa commented on #13291
The commit 4844afa  enable CONFIG_LOG=y  for sample/drivers/watchdog which is causing the execption.If CONFIG_LOG is disabled the exception is not observed

[2019-03-06 09:06] pfalcon opened #14093 "net: Description of net_pkt_skip() is not clear"
Current docstring of net_pkt_skip() (as introduced in b0396257457) reads:

[code]

Specifically, the behavior re: pkt->overwrite isn't very clear. Neither "if it's 0" part is clear. For me it reads as: "If overwrite set to false, actually overwrite something in the packet". Can it be reworded to avoid such interpretations? Or perhaps, we really have an API clarity issue here? Maybe the function sh

[2019-03-06 09:14] carlescufi commented on #13610
@andyross @nashif as requested @cvinayak has added a "To Reproduce" section in the main description

[2019-03-06 09:16] joerchan commented on #13629
The only question that we need to agree on is how the passive scanner reports directed advertisement.
To make it work it seems to me that the random address that was set when the advertiser was started, is the one the scanner should try to match. And not the latest random address set.
Can we agree that that is the behaviour we want, and that that is the current implementation of the controller?

[2019-03-06 09:26] gon1332 commented on #14066
@KwonTae-young
I believe that the https://github.com/gon1332/zephyr/tree/lpm_stm32 is rather unstable and there's high possibility that isn't working. If you don't mind, I'll upload other simpler examples of how to enter an LPM using STM32's LL API.

[2019-03-06 09:28] jhedberg commented on #13629
I'll leave it up to the controller devs to answer the question from @joerchan (I don't really have any opinion about it), however I just wanted to point out one thing that came to mind: the apparent conflict with the HCI spec should go away once we move to vendor HCI commands, since with them the random address is explicitly bound to each advertising packet, since it's either given in the Mesh_Adv

[2019-03-06 09:28] pfalcon commented on #14087
uart_stm32_fifo_fill() isn't supposed to "transmit data complete". It's supposed to fill FIFO, and in the case of STM32, the FIFO depth is 1. Please read the documentation: https://docs.zephyrproject.org/latest/reference/peripherals/uart.html?highlight=uart_fifo_fill#_CPPv314uart_fifo_fillP6devicePK4u8_ti .

And it's internal API function, I'd recommend against using it.

[2019-03-06 09:43] KwonTae-young commented on #14066
@gon1332
Thank you.
[lpm_stm32](https://github.com/gon1332/zephyr/tree/lpm_stm32) is a good example for me.
First of all, I'm going to test it in its current state.
If you upload a simple example, it will help me a lot.

[2019-03-06 10:28] cvinayak commented on #13629
@joerchan in the current controller, the scanner caches the init_addr at the time of the scanner being enabled and does not use latest random address being set by advertiser while the scanner is already running.

[2019-03-06 10:35] pdunaj opened #14096 "Timeslicing is broken"
**Describe the bug**
I created a simple debug app to test timeslicing. Two threads are created both preemptible with priority of 0. Both in the loop are printing a log and execute `k_busy_loop(100000)` (full code below). I expect that these two threads will be executed in round-robin fashion and I will see logs from both threads.

Now what I see is that at the beginning everything is fine for rand

[2019-03-06 10:55] aescolar commented on #14088
If you are compiling different images with different options, different parts of the code will be compiled in. So your total amount of code which could possibly be covered does actually change.

[2019-03-06 10:57] aescolar commented on #14091
This is being worked on. Is what is called the split link layer. See
https://github.com/zephyrproject-rtos/zephyr/issues/12681

[2019-03-06 10:58] #14091 closed

[2019-03-06 11:00] Olivier-ProGlove commented on #14044
@carlescufi As I mentioned later in @cvinayak's pull-request https://github.com/zephyrproject-rtos/zephyr/pull/13983#issuecomment-469174447 and https://github.com/zephyrproject-rtos/zephyr/issues/12362#issuecomment-468704354, the PR does not actually fix this issue. The issue looks to be timing dependent, and I might have been "lucky" when I tested the potential fix.

In the archive attached to th

[2019-03-06 11:15] bzd2132 commented on #14087
@pfalcon Thank you for your clarify.  I reference to some sample application in zephyr, and make misunderstanding of this API.

[2019-03-06 11:15] #14087 closed

[2019-03-06 11:27] MarekPieta opened #14098 "Test Framework documentation issue"
ZTest documentation in my opinion contains errors in code examples, which may be misleading readers:

[code]
The last comma in z_test_test_suite call shuld be removed.

[code]
For calling ztest_test_suite the brackets are not closed and there is comma at the end.

[2019-03-06 11:28] cinlyooi-intel commented on #14088
@aescolar Thank you very much. It matches my expectation.

I noticed another thing that you might be able to help to explain. I was about to raise another ticket just in case it has something to do with the way zephyr reads on the gcda data. I noted that _sometimes_ the report skips reporting a line while it could not possibly do, e.g.

[code]
total line covered = 3 because lcov/gcov did not count

[2019-03-06 11:52] galak opened #14099 "Minnowboard doesn't build tests/kernel/xip/"
`./scripts/sanitycheck -p minnowboard -T tests/kernel/xip/` fails to build

We get the following error:

[code]

[2019-03-06 12:07] aescolar commented on #14088
@cinlyooi-intel : Are you compiling without optimizations?

[2019-03-06 12:19] anangl commented on #12589
In #14097 I altered the dts files for the boards mentioned above. This should prevent the warnings. But this is more a workaround then a proper solution for this problem. As @pabigot already mentioned, it may be desirable to enable both peripherals occupying the same block, let's say I2C_0 and SPI_0, and use them both, but of course not at the same time. We should provide such possibility.
A simil

[2019-03-06 12:47] pdunaj commented on #14096
I tried to look what may cause it and added some debug traces in timeout. I do not see however crash coming from there. I thought that the problem can be caused by logger and so I removed it. Without logger I have not seen the issues. Then I tried following and issue hit again:
[code]
Logger is using locks that in some cases may not be available. It seems the problem is with how timeslicing and lo

[2019-03-06 12:48] nashif commented on #14042
@kzyapkov which documentation were you following?

[2019-03-06 13:00] pdunaj commented on #14096
Btw - issue does not seem to replicate itself if I disable timeslice and yield instead.

[2019-03-06 13:04] pdunaj commented on #14096
Hi @andyross , is this anything you know of?

[2019-03-06 13:10] nashif commented on #14098
can you submit a PR fixing those?

[2019-03-06 13:11] nashif commented on #14063
@laperie set priority please

[2019-03-06 13:17] #12589 closed

[2019-03-06 13:18] pdunaj commented on #14096
@pizi-nordic , @cvinayak fyi

[2019-03-06 13:19] pabigot commented on #12589
I see existing practice in Linux, e.g. [for nand devices with partitions](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/arch/arm/boot/dts/am335x-evm.dts#n534), so this approach makes sense, disregarding the complexity of passing the information from the tree through the tooling to the kernel.

The parent name should be something like `clock_power@5000` (matching nrfx/mdk's

[2019-03-06 13:29] pizi-nordic opened #14104 "Invalid locking in k_delayed_work_submit_to_queue()"
From k_delayed_work_submit_to_queue():
[code]

The spinlock taken on first line of the code above is located in the work queue, so on SMP machines it does not protect from sending the same work to multiple work queues.

Moreover, the lock in work queue is only used by k_delayed_work_*() API occupying space even if the mentioned API is not used.

[2019-03-06 13:32] pizi-nordic opened #14105 "Race condition in k_delayed_work_submit_to_queue()"
From k_delayed_work_submit_to_queue():
[code]

The lock is released before submitting work to the queue. As result the k_delayed_work_cancel() called in the very moment between  k_spin_unlock() and k_work_submit_to_queue() will return 0 signalling that the work was cancelled, but the work will be eventually submitted to the queue and executed.

[2019-03-06 13:33] pizi-nordic commented on #14104
FYI: @nashif, @carlescufi, @pdunaj

[2019-03-06 13:33] pizi-nordic commented on #14105
FYI: @nashif, @carlescufi, @pdunaj

[2019-03-06 14:00] Olivier-ProGlove commented on #14044
Tested latest upstream (https://github.com/zephyrproject-rtos/zephyr/commit/cb874235fd741a0d9431cc79c301bf749224cd99) without any configuration change with Chuwi tablet (Realtek Semiconductor Driver).

- Sniffer Trace: [chuwi-test1-reconnection-fail.pcapng.zip](https://github.com/zephyrproject-rtos/zephyr/files/2936541/chuwi-test1-reconnection-fail.pcapng.zip)
- Same issue "Wrong Sequence Number":

[2019-03-06 14:52] Olivier-ProGlove commented on #14044
When using ASUS-BT400 Bluetooth dongle, the reconnection always works and trace are quite different:

![screenshot from 2019-03-06 15-44-58](https://user-images.githubusercontent.com/36843284/53889936-90dfd080-4027-11e9-9701-4f0d20337d39.png)

![screenshot from 2019-03-06 15-45-18](https://user-images.githubusercontent.com/36843284/53889943-93dac100-4027-11e9-9c10-8463bc360939.png)

Sniffer Trace

[2019-03-06 15:04] pizi-nordic opened #14109 "Incorrect documentation for k_work_*() API"
The documentation of k_work_*() API mentions that the error code `-EINPROGRESS` is returned when given operation is performed on the work which is pending. Unfortunately such code is never returned.
Either documentation or implementation should be corrected.

[2019-03-06 15:05] pizi-nordic commented on #14109
FYI: @nashif, @carlescufi, @pdunaj

[2019-03-06 15:11] #9043 closed

[2019-03-06 15:25] carlescufi commented on #12501
@jarz-nordic any update on this?

[2019-03-06 16:17] andyross commented on #14105
How is that a bug?  Calling cancel() before submit() has returned is a clear error, no?

[2019-03-06 16:22] andyross commented on #14096
There are known stability issues on ARM with userspace enabled, does your app have it enabled?  There is some discussion in #12553.  #12559 is one that we can reproduce in simulation using mps2_an385 which sounds similar -- 1ms tick rate + tickless + userspace.

[2019-03-06 16:27] andyross commented on #13813
There was a "nonatomic swap" fix that went in about a week ago that IIRC mslab would have tickled.  This is one of the tests that **does** fail sporadically in CI, but it's definitely not failing reliably for me right now on unloaded systems, and I'm regularly running such tests to check now as part of #12553.  Will close, please reopen if you see it.

[2019-03-06 16:29] andyross commented on #13044
Going to close this one as IMHO the issue is well captured by #12553, it's nothing specific to this bug, and this bug works very reliably on unloaded systems (it **is**, however, the single most seen failing case on loaded runs, but I think that's down to the fact that it does more loops with sleeping and scheduling interactions than other tests, which usually test one thing and move on).

[2019-03-06 16:29] #13044 closed

[2019-03-06 16:31] andyross commented on #13073
Yeah, as with others, this is a test that I can't make fail on unloaded systems across hundreds of runs.  It's part of the broader symptoms well captured by #12553, and not really an issue with the test per se.   Closing the test-specific bug.

[2019-03-06 16:31] #13073 closed

[2019-03-06 17:09] carlescufi commented on #14044
@Olivier-ProGlove OK so what I think is happening is that the original fix that @cvinayak posted is not covering all possible sequences, so we need to take another look at it. The other issues when you see it failing because of `PHY` or `LEN` requests I think it must be that we are not allowing that right now. So this need a bit more assessment from @cvinayak.

[2019-03-06 17:16] carlescufi commented on #12206
Marking as enhancement since this is actually an "optimization".

[2019-03-06 17:18] carlescufi commented on #13468
@kl-cruz could you please take a look at this failing test?

[2019-03-06 17:28] gnuless commented on #13318
Except that I think any reasonable client of k_thread_foreach() is going to inspect the tasks in that list, and to do so without racing would require locking the scheduler, no?  So I believe the code is correct, as it is, at least for its intended purpose (debugging).

It's true that there are ways to make this facility more generally applicable, but I believe that's more a feature request rather

[2019-03-06 17:42] mubes commented on #13318
On 06/03/2019 17:28, Charles E. Youse wrote:

Hi Folks,

Using this totally breaks the real time semantics of the OS any time
someone uses k_thread_foreach. Using it for debug purposes (i.e. when
the debugger is active) is fine because you've already broken the
realtime behavior at the point you wake up the debugger. It is _not_
fine to bork the RT behavior during normal operation. At the very lea

[2019-03-06 17:57] gnuless commented on #13821
@cinlyooi-intel Are you running this test on real hardware?

[2019-03-06 18:34] andyross commented on #13821
And is this reliable?  I was looking at exactly this test on a nrf52840_pca10056 ~2-3 weeks ago and it was running great for me.  If it's failing, even spuriously, it's likely to be a recent regression.

[2019-03-06 18:40] andyross commented on #13821
Read more carefully, this is a duplicate of #11721, which got fixed by #13916 last week but is not included in the SHA referenced in the report above.

[2019-03-06 18:40] #13821 closed

[2019-03-06 19:26] dcpleung commented on #13223
I disabled the DMA test and found out that, even without the `K_MEM_SLAB_DEFINE()` modifying, it was still causing exception. It was traced to the I2S transfers, and I have the I2C and DMA thread disabled. The I2S transfer was corrupting data (after a few iterations) in the UART device struct. This causes the `_impl_uart_poll_out()` to raise double fault exception when it was trying to do `dev->dr

[2019-03-06 19:27] dcpleung commented on #13223
Assigning this back to driver and test owners.

[2019-03-06 20:06] andrewboie opened #14121 "gaps between app shared memory partitions can waste a lot of space"
**Describe the bug**

On systems which require power-of-two size/alignment, we are not ordering the app shared memory partitions in an optimal way, which results in a lot of memory being wasted.

A good example is running the app memory size script from #14120 on the kernel produced by tests/subsys/jwt on mps2_an385 after applying #14115. Each partition is either very small or has good efficiency,

[2019-03-06 20:07] pfalcon opened #14122 "CONFIG_FLOAT/CONFIG_FP_SHARING descriptions are confusing and contradictory"
https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_FLOAT.html
https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_FP_SHARING.html

The first says:

Isn't these 2 sentences contradict each other?

Now comparing 1st and 2nd doc:

So, one option allows *threads* to use FP registers, and another allows *multiple threads* to use FP registers. But "threads" are already "multiple t

[2019-03-06 20:09] andrewboie commented on #14121
If we try to solve this in gen_app_partitions.py, any solution for this will need to consider the memory used not only in .o files scanned, but libraries added via the --library option to gen_app_partitions.py

[2019-03-06 20:11] andrewboie commented on #14122
CONFIG_FLOAT enables the FPU, but only one thread max is allowed to use it as the floating point registers are ignored by the context switching code.

CONFIG_FP_SHARING implements logic in the context switching code to save/restore fpu registers when threads are swapped in and out.

[2019-03-06 20:32] pfalcon commented on #14122
@andrewboie: Thanks for clarification, I guess I can prepare Kconfig help update out that then.

Well, perhaps you could clarify: is it the **main** thread is allowed to use FP, or any thread at all on the "first grab, now mine" basis?

[2019-03-06 20:38] andrewboie commented on #14122
It doesn't matter which thread. Only that just a single one can use it.

[2019-03-06 20:42] andrewboie commented on #14122
Also, and I think this may be architecture-dependent, but if the calling convention treats all floating point registers as volatile, then multiple threads can use the FPU with CONFIG_FP_SHARING disabled if and only if they are all of cooperative priority.

[2019-03-06 20:50] pfalcon commented on #14122
Thanks, that's surely not for docs, but nice to know that there people who know/remember/can share such details.

Related, what me got to this ticket is looking for a good test for float functionality. And find it "interesting" the fact that none of samples/* has CONFIG_FLOAT enabled (while a number has `float` in the C code).

OMG, and now I finally got it, CONFIG_FLOAT enables *hardware* FP. Not

[2019-03-06 20:53] pfalcon commented on #14122
And yet, for qemu_x86 CONFIG_FLOAT=n and yet using `float` is fatal, no "soft float" is magically kicking in (that's what I thought would happen):

[code]

[2019-03-06 20:54] pfalcon commented on #14122
While for qemu_cortex_m3 it's ok.

[2019-03-06 20:55] pabigot opened #14123 "Particle boards need a board initialization module for antenna configuration"
The Particle boards have a SKY13351 SPDT switch that selects between a PCB antenna and an external uFL antenna.  On the Xenon the Zephyr board initialization probably leaves this in an unconfigured mode, resulting in neither antenna being connected and so very poor RF performance.  Driving P0.24 high enables the PCB antenna, which adds more than 10 dB.  Driving P0.25 high enables the uFL antenna.

[2019-03-06 20:56] pabigot commented on #14123
@mike-scott Assigning to you because you seem to be actively using Xenon for real stuff, probably would care about poor RF performance, and may be able to address this before I get back to Zephyr whenever that is.  If it's still unresolved when I do come back I'll deal with it then.