[2021-08-30 17:57] mmahadevan108 commented on #38078
@dcpleung any suggestions for this issue we are seeing the I2S tests

[2021-08-30 17:59] dcpleung commented on #38108
Could you try this PR https://github.com/zephyrproject-rtos/zephyr/pull/38147? It builds on my machine, but I don't have the board so I can't test whether that works correctly.

[2021-08-30 18:15] dcpleung commented on #38078
That's weird... as far as I can tell, the test does not use k_heap.

As for the assert, did it return `-EIO` or `-EAGAIN`? Given the debug message above saying `need retry`, I am assuming `-EAGAIN`. If this is the case, maybe the timeout in the driver is not long enough? Could you try to loop the call to `i2s_mcux_read()` just above the assertion a few times to see if it goes through? I don't have

[2021-08-30 18:22] gregshue commented on #37850
We already _need_ this in Zephyr. I am facing a similar type of problem, but it is due to building against different Zephyr forks (upstream vs NCS) and it impacts source, Kconfig, CMakeLists.txt, tests, documentation, and even manifests.

It is essential for any project with a support lifetime that spans LTS releases.  It is also quite feasible with a bit of engineering.  Consider:

- "projects" a

[2021-08-30 18:32] mmahadevan108 commented on #38078
The test uses `k_mem_slab`. Would this change have an impact?

[2021-08-30 18:41] dcpleung commented on #38078
`K_MEM_SLAB_DEFINE()` is not backed by k_heap. There doesn't seem to be any connection to the failure.

My guess is that this may be due to memory alignment. The k_heap change moves other symbols around in memory. That commit might cause issue if the hardware requires certain memory alignment of the buffers. If this is indeed the case, we have been lucky so far on the test, as adding one `uint32_t

[2021-08-30 18:53] dleach02 commented on #35703
I reproduced this on the rt1024_evk I have.

[2021-08-30 19:00] gmarull commented on #38127
This is a false positive, since `ANOMALY_122_INIT` is an actual function call if `NRF52_ERRATA_122_PRESENT` is defined. Such a function call can return a non-zero error code.

[2021-08-30 19:00] #38127 closed

[2021-08-30 19:05] gmarull commented on #38119
This issue was fixed by 4b5bab2bc1d2fee21a96c5f79c7aef3cc90058fb. Code reported by the analysis tool is not on `main` anymore.

[2021-08-30 19:05] #38119 closed

[2021-08-30 20:42] dleach02 commented on #35703
@cfriedt is correct in his assessment. You can minimize the problem by putting the two clock_gettime() calls back to back without the zassert_equal() check. But I think this test case should account for edge conditions. I converted the tv_nsec to TICKS and did some test runs and when it fails it is typically off by 1. The "Nanoseconds not equal" should probably be ((rts-mts) <= 1) type of test or

[2021-08-30 20:42] bob2oneil opened #38153 "Zephyr Native POSIX select() implementation too frequent wakeup on pure timeout based use"
**Describe the bug**
The implementation of the POSIX select() statement operates a bit inefficiently, by waking up prematurely at intervals much more frequently than the timeout specified to the statement.  This results in some thread inefficiencies.

What have you tried to diagnose or workaround this issue?

To ensure that select() was not being tripped up with any of the selectors, to isolate th

[2021-08-30 20:56] cfriedt commented on #35703
@dleach02 - Thanks for tagging me - this has been on my to-do list for a very long time. Probably not going to make it for LTS but it would be great to being it up in dev-review at some point

[2021-08-30 21:06] dleach02 commented on #35703
I looked at this because it initially was flagged against an NXP board. I just received the board and tried it out. The "fix" I was suggesting would be the following:

`	k_usleep(1);

	ret = clock_gettime(CLOCK_MONOTONIC, &mts);
	ret2 = clock_gettime(CLOCK_REALTIME, &rts);

	zassert_equal(ret, 0, "Fail to get monotonic clock");
	zassert_equal(ret2, 0, "Fail to get realtime clock");

	zassert_equal

[2021-08-30 21:26] joshfischer1108 opened #38154 "Error building example i2c_fujitsu_fram"
**Describe the bug**
I'm trying to build one of the examples provided along with the Zephyr code base.  I haven't been able to find the reason for the resulting error.

**To Reproduce**
Steps to reproduce the behavior:
1. with the expectation that zephyr was setup as `west init ~/zephyrproject && cd ~/zephyrproject && west update`
2. `west build -b  nrf52840dk_nrf52840 -p auto  zephyr/samples/driv

[2021-08-30 21:33] nashif commented on #10324
done already

[2021-08-30 21:33] #10324 closed

[2021-08-30 21:33] nashif commented on #37254
done

[2021-08-30 21:33] #37254 closed

[2021-08-30 21:33] yperess commented on #37850
I need to think about that last one a bit more. My gut reaction is to say that if you're building against a fork then it's on the application/library developer to manage that. Seems to me that you should add a `KERNEL_FLAVOR` or something like that into your build system.

The concern regarding Kconfig/CMake is a very sound one and I'm actively thinking about it. CMake should be easy, these values

[2021-08-30 21:53] #38117 closed

[2021-08-30 21:53] #38132 closed

[2021-08-30 22:04] dleach02 commented on #38113
This has to be a false positive or some side affect in how this coverity run was done. The parameter ctr_ctx is of type mbedtls_ctr_drbg_context and there is a conditional part of the structure based on MBEDTLS_THREADING_C being defined. The only initialization that is being done is a memset of this structure using the sizeof(mbedtls_ctr_drbg_context) in mbedtls_ctr_drbg_init(). I've also seen thi

[2021-08-30 22:51] cfriedt commented on #35703
I would be open to removing the test

[2021-08-31 00:29] #35964 closed

[2021-08-31 00:29] #35908 closed

[2021-08-31 00:29] #32984 closed

[2021-08-31 02:13] yperess commented on #37850
So I just came across https://cmake.org/cmake/help/latest/command/if.html#version-comparisons when looking for a CMake solution. This exists in `KERNEL_VERSION_STRING` so you could do something like:

[code]

I believe that this solves the CMake issue.

[2021-08-31 02:35] yperess commented on #37850
(@gregshue, @stoberblog) For Kconfig, I have an idea...

The issue is that we run `find_package(Zephyr ...` to load the Zephyr CMake package and at that point all the Kconfigs need to be set so it's too late to switch off of the Zephyr kernel version. So two options exist AFAICT:

1. We would want to split the `Zephyr` package into 2: `Zephyr` and `ZephyrVersion`. We can then `find_package(ZephyrV

[2021-08-31 02:56] hakehuang commented on #38108
@dcpleung it does not works on NXP paltform, you do not need a board to test your fix, you just need build with below command
[code]
below is my failure log
[code]

[2021-08-31 03:20] gregshue commented on #37850
Since I'm REUSING zephyrproject-rtos/zephyr and Nordic's zephyr fork, the goal is to not add anything to the build system(s) that are provided.  Living under a reuse paradigm is very different than a leverage one!

IIRC, the next thing to be aware of with the Nordic fork is Zephyr release tags and associated SHAs are not always in the downstream fork.  I _think_ there was also something unexpected

[2021-08-31 05:06] cvinayak commented on #38101
I am able to reproduce the observed `ASSERTION FAIL [err == 0] @ WEST_TOPDIR/zephyr/subsys/bluetooth/host/hci_core.c:305` issue.

A. Erase flash using `nrfjprog -e` to ensure reset of setting storage, this will solve `settings subsys initialization: fail (err -45)`

B. Call `settings_load()` after `bt_enable()` is success, not before it. Refer to other Bluetooth Samples on how it is used.

C. Obse

[2021-08-31 05:27] cvinayak commented on #38121
Intentional, ignore.

Case `preempt_ack` == `preempt_req`, then `preempt_ack` will not change, there is an assert check in line 867 of `preempt_ticker_cb`

[2021-08-31 05:27] #38121 closed

[2021-08-31 05:29] yperess commented on #37223
Ping, is there anything else that should be discussed? It seems like there are no objections to this work.

[2021-08-31 05:31] cvinayak commented on #38122
Intentional, ignore.

Case `preempt_stop_req != preempt_stop_ack`, `preempt_stop_req` will not change due to the check at line 843 of `preempt_ticker_stop()`

[2021-08-31 05:31] #38122 closed

[2021-08-31 05:35] cvinayak commented on #38124
Intentional, ignore.

`prempt_ack` will not change as it is only changed in the current function.

[2021-08-31 05:35] #38124 closed

[2021-08-31 06:02] cvinayak commented on #38133
Intentional, ignore.

Case `preempt_start_req != preempt_start_ack`, `preempt_start_req` can change in `preempt_ticker_start()` call, but it will remain `preempt_start_req != preempt_start_ack` as in one case `preempt_start_req` is not changed and in the other case `preempt_start_req++`.

[2021-08-31 06:02] #38133 closed

[2021-08-31 06:44] #38145 closed

[2021-08-31 06:50] erwango commented on #37883
@sundayglee I've open an internal issue with the trace you provided.
It may take few time before we get an answer, I'll keep you posted in this thread.

[2021-08-31 07:04] dlktdr opened #38162 "Upgrade to 2.6 GPIO device_get_binding("GPIO_0") now returns null"
**Describe the bug**
I have a project that's been working great on 2.5. I went and upgraded to version 2.6 to try it out. There were a few Bluetooth kconfig options that were depreciated I removed and it compiles okay. The issue I'm now seeing is that when
`device_get_binding("GPIO_0");` is called on initialization it always return NULL. On the old version I get an address of `0x20000aa8 <__device

[2021-08-31 07:22] IRISZZW commented on #37704
@wentongwu  Could you please provide more details?

[2021-08-31 08:00] rugeGerritsen commented on #38054
I agree with @joerchan that the host should be able to receive a command complete for the _Host Number Of Completed Packets command_

Packets command has completed. However, if the HCI_Host_Number_Of_-
Completed_Packets command contains one or more invalid parameters, the
Controller shall return an HCI_Command_Complete event containing the error
code Invalid HCI Command Parameters (0x12). The norm

[2021-08-31 08:06] nunof commented on #38101
Thank you for very useful comments.

A. Ops, I as using platformio and switched to pure Zephyr to reproduce the issue. I think this is some issue with west flash overwriting storage partition because usually I would want that to persist and not to have to be resetted. It's my bad, I'm sure. I'll look into that.

B. Indeed the app code I sent was crafted to reproduce the behavior I was seeing but i

[2021-08-31 08:14] rugeGerritsen commented on #38054
@LingaoM , from the shown trace, the host is doing the correct thing. It is sending _HCI_Host_Number_Of_Completed_Packets_ until it receives the _HCI_Disconnection_Complete event_.  @cvinayak , therefore this looks like a controller bug.

See Core 5.3, Vol 4, Part E, Section 4.3 Disconnection behavior:

the Controller may, after it has sent an HCI_Disconnection_Complete event,
assume that the Host

[2021-08-31 08:19] wentongwu commented on #37704
someone told me it's just by accidental.

BTW I think this is a high priority bug because it impacts the basic function of Zephyr OS.

[2021-08-31 08:37] tejlmand opened #38166 "ARM Compiler 6"
ARM Compiler 6 support has been introduced with https://github.com/zephyrproject-rtos/zephyr/pull/36140.

This means that basic support has now been introduced, however there are still enhancements to be made wrt. the ARM Compiler 6.

This issue is an umbrella issue covering additional ARM Compiler 6 enhancements.

- [ ] Documentation landing page for ARM Compiler 6
- [ ] Userspace support (Linker

[2021-08-31 08:59] wbober commented on #21119
Just to let you know that Nordic has released a preview of an extension bundle for vscode. It covers a number of features discussed in this thread.

More details in the blog post:
https://devzone.nordicsemi.com/nordic/nordic-blog/b/blog/posts/nrf-connect-for-visual-studio-code-preview

There is also a few videos that demonstrate the usage:
https://www.youtube.com/playlist?list=PLx_tBuQ_KSqEt7NK-H7

[2021-08-31 09:01] tejlmand commented on #30493
Not sure we can do it as argument to menuconfig itself, but we could maybe make an extra configuration option that would allow to specify a default `_minconf_filename`, and still keep the default conf file to `.config`.

[2021-08-31 09:34] ibirnbaum opened #38168 "aarch32: flags value collision between base IRQ layer and GIC interrupt controller driver"
The aarch32 GIC interrupt controller specifies four interrupt cells in its device tree binding:
- type
- irq
- flags
- priority

The flags word is used to declare the sensitivity of an interrupt, where:
- IRQ_TYPE_LEVEL equals 0x0 and
- IRQ_TYPE_EDGE equals 0x1.
This is defined in include/dt-bindings/interrupt-controller/arm-gic.h.

The flags word is evaluated in the ARCH_IRQ_(DIRECT_)CONNECT macr

[2021-08-31 10:06] MarekPikula opened #38170 "Shell argument in second position containing a question mark is ignored"
**Describe the bug**
I have a shell command declared like this:
[code]

It is supposed to serve as a UART passthrough for another device from Zephyr shell. I was testing it with LTE module, which accepts AT commands on UART and wanted to execute `c at+cfun?`, but it seems that if there is a question mark in the first argument of shell command (in any position, so doesn't matter if it's in the begi

[2021-08-31 11:29] ssharks opened #38172 "modem_context_sprint_ip_addr returns pointer to stack array"
In the function modem_context_sprint_ip_addr a local array is constructed. The pointer to that structure is returned. Since this array is constructed on the stack, outside this function, this array does not exist, resulting in unexpected behavior.

File location:
drivers/modem/modem_context.c
Lines 23 - 40.

I see two options to solve this problem:
1. Either pass the array as an argument to the fu

[2021-08-31 11:36] #37734 closed

[2021-08-31 12:03] cvinayak commented on #38101
settings_load() has to be executed **after** bt_enable(). In your sample it is called before bt_enable.

Closing this issue, please open new issue if you face anything else.

[2021-08-31 12:03] #38101 closed

[2021-08-31 12:04] #38015 closed

[2021-08-31 13:10] gmarull commented on #38162
You should probably consider using `DEVICE_DT_GET(DT_NODELABEL(gpio0))` (combined with `device_is_ready`). I'd also suggest watching this great presentation from @mbolivar-nordic https://www.youtube.com/watch?v=sWaxQyIgEBY

[2021-08-31 13:47] erwango opened #38173 "STM32WB: Low power modes entry blocked by C2 when CONFIG_BLE=n"
**Describe the bug**
As discussed in #37895, when C2 is not started (CONFIG_BLE=n), low power mode entry for C1 are blocked.

**To Reproduce**
Test and make measurement on samples/boards/stm23/power_mgmt/blinky

Gain expected ~ 100uA in STOP2

[2021-08-31 13:52] erwango commented on #37895
@r2r0, Please have a check to https://github.com/zephyrproject-rtos/zephyr/pull/38174.
It does not intent to close current issue, but at least, I hope it fixes the point you reported.

[2021-08-31 14:00] dlktdr commented on #38162
Thank you that works! Also thank you for the video that was helpful.

[2021-08-31 14:00] #38162 closed

[2021-08-31 14:27] r2r0 commented on #37895
Thanks @erwango
Yes, indeed adding this line in soc.c allows to enter SHUTDOWN mode when BLE is disabled.

[2021-08-31 14:52] Aeted-RC commented on #21633
Looking forward to implementing this plan, it is very meaningful

[2021-08-31 15:03] #37948 closed

[2021-08-31 15:03] #37949 closed

[2021-08-31 15:03] #38016 closed

[2021-08-31 16:06] stephanosio commented on #38168
cc @bbolen @carlocaione

[2021-08-31 16:11] carlescufi commented on #37101
API meeting:

- @henrikbrixandersen raises the question of the 35ms timeout: our current I2C APIs do not support timeouts nor a cancel API, so this might require changing the I2C API itself
- @nashif points out that Embedded Controllers will probably benefit from SMBus support (@sjg20)
- Should SMBus be part of the I2C API or should it be a separate subsystem that uses the I2C API internally? @hen

[2021-08-31 17:26] alfonsotames opened #38177 "LORA Module crashes SHT3XD sensor."
**Describe the bug**
Adding the LORA module (CONFIG_LORA=y) in prj.conf crashes I2C.

**To Reproduce**
Add the Lora module to any project that uses I2C (tested on a nucleo_wl55jc) using sensor sht3xd:

Add CONFIG_LORA=y to file  zephyr/samples/sensor/sht3xd/prj.conf

I2C will not read from the sensor anymore.

**Expected behavior**
LORA should work alongside any module, including I2C.

**Impact**

[2021-08-31 17:37] cfriedt commented on #38177
@erwango - may be fairly specific to stm

[2021-08-31 17:40] cfriedt commented on #38172
@ssharks - are you able to submit a PR for either of your proposed fixes?

[2021-08-31 17:42] stephanosio commented on #37779
cc @nandojve @mnkp @benpicco

[2021-08-31 17:42] cfriedt commented on #37779
@photonthunder - could you possibly submit a PR with your proposed fix?

[2021-08-31 17:48] #38113 closed

[2021-08-31 17:58] cfriedt opened #38179 "twister: only report failures in merged junit output"
**Is your enhancement proposal related to a problem? Please describe.**
Currently the merged junit report is 215 MB

**Describe the solution you'd like**
we should only report failures

**Describe alternatives you've considered**

**Additional context**
release meeting

[2021-08-31 18:16] Alex-EEE commented on #24733
HI I have the same issue.

[2021-08-31 18:17] Alex-EEE commented on #24733
CROSS_COMPILE: /Users/alex/toolchains/arm/bin/bin/arm-none-eabi-

Why is it bin/bin?

[2021-08-31 19:00] galak opened #38181 "tests/drivers/uart/uart_basic_api/drivers.uart.cdc_acm fails to build"
The following fails:

`./scripts/twister -p waveshare_open103z -s tests/drivers/uart/uart_basic_api/drivers.uart.cdc_acm`

[code]

Git bisect shows the issue is related to:

ec331c6fe21f2bbbf4b0d1c3667c294320b1c924

[2021-08-31 19:35] #38168 closed

[2021-08-31 19:35] #37467 closed

[2021-08-31 20:02] Nukersson commented on #24733
Oh no, just copy and paste mistake. 😄 I have edited it.

[2021-08-31 20:29] #38108 closed

[2021-08-31 21:01] ppryga commented on #38065
@saleh-unikie Did you include `bluetooth/bluetooth.h` in your source files before include `bluetooth/direction.h`?

[2021-08-31 21:34] mmahadevan108 commented on #38078
Thank you, I was able to find a fix.

[2021-08-31 21:38] alfonsotames commented on #38177
I tried the same with the BME280 sensor and it doesn't crash. Seems to work fine. Something is going on with the SHT3DX sensor.

[2021-08-31 21:40] yperess commented on #37850
@nashif pointed out that this is already possible via:

[code]

I would say that the only thing left to do is to add these 3 approaches to the documentation?
1. In code `#if...`
2. In CMakeLists.txt via trying to load specific versions of the Zephyr package or checking using `"${KERNEL_VERSION_STRING}" VERSION_GREATER_EQUAL "2.6.0"`
3. In Kconfig by using #2 above and trying to load specific versi

[2021-08-31 22:57] JordanYates commented on #38181
Looks like the original handle generation had some issues that was hidden by the extra `DEVICE_HANDLE_ENDS` that my commit removed.
[code]
The final dependencies can apparently be larger than the initial dependencies, which is why the assert triggers.
I will see what can be done to fix this tonight.

[2021-09-01 00:24] MaureenHelm opened #38186 "i.MX RT10xx boards fail to initialize when Ethernet is enabled"
**Describe the bug**
The kernel fails to initialize on i.MX RT10xx boards when Ethernet is enabled because the board-level PHY reset routine `mimxrt1064_evk_phy_reset()` never completes.

The PHY reset occurs in `PRE_KERNEL_2` and invokes `k_busy_wait()`.

The system clock driver is initialized in `PRE_KERNEL_2`.

Commit f0b3146ff5538e5381318a309fec292d3fbb1f3f affected the relative order of these

[2021-09-01 00:28] #36382 closed

[2021-09-01 00:28] #36380 closed

[2021-09-01 01:57] hongshui3000 commented on #21119
@wbober This plug-in seems to be limited to nrf, not a general plug-in for zephyr? Is the plug-in implementation open source?

[2021-09-01 02:41] hakehuang commented on #38186
in this weekly testing all RT serieses board fails. and this fix work for mimxrt1060_evk.

[2021-09-01 05:49] cafe88 commented on #30493
I think that should do it for us, thanks for your fast reply!

[2021-09-01 06:01] saleh-unikie commented on #38065
No! because only it was needed to access one of the enums (bt_df_antenna_switching_slot), so I didn't include any other header file.

Now I have included the header file you've mentioned and now it doesn't generate warning messages anymore. Thanks!

From software design point of view, is it ok that a header file is dependent to including another header file? For example isn't it better to include

[2021-09-01 06:32] ppryga commented on #38065
This is kind of a policy in Zephyr. Please take a look into other header files. But in many other places you will find usage on #includes as you described.

[2021-09-01 06:37] saleh-unikie commented on #38065
Thanks a lot for the description. Now it is clear, and I will close the issue.

[2021-09-01 06:37] #38065 closed

[2021-09-01 06:50] wbober commented on #21119
@hongshui3000 The plugin is not limited to nrf. Our SDK is based on Zephyr and you can work with any upstream sample or hardware platform without limitations. We have not made a decision to open-source it yet. Is there any particular functionality that you would like to change or expand?

[2021-09-01 07:17] manoj153 commented on #34413
Hey guys, just want to know this attr `__used` usage is portable across all SoC?

[2021-09-01 07:19] ainguraXmarquiegui commented on #33747
@hakehuang , I have been analyzing your proposal, and I think the general idea is really good, but there are a couple of specific things I think should be changed.

First, when you call the `ENET_ClearInterruptStatus` function, I don't understand why you apply the bitwise complement, other places where the function is called use the regular interrupt masks.

Also, I was curious about what this cal

[2021-09-01 07:21] caco3 commented on #34659
I do not have an USB-Analyzer at hand, but we ordered one. How ever it will take some weeks until I will have it in my hands.

I run bluetoothd in foreground, debug mode. I can see messages while the device gets connected, but during the streaming and around the stalling not a single message is shown!

<details>
<summary>bluetoothd -n -d | tee bluetooth.log</summary>
[code]
</details>

[2021-09-01 07:38] IRISZZW commented on #37704
@wentongwu usually stack address and stack size need stack alignment, 1048510 is not aligned to 4. so it may cause `Misaligned data access` exception.

[2021-09-01 07:40] aescolar commented on #38153
Hi @bob2oneil . I'm not completely sure I understand what you describe. But it would seem the issue is about mixing simulated time and real time.
I'm assuming the following from your description:
* When you say `select` you always refer to `zsock_select()` (Zephyr's API, and never to the host kernel/Linux);
* You have a small loop, calling  `clock_gettime()` (a call to the Linux kernel), using the

[2021-09-01 07:53] ycsin opened #38191 "Unable to connect multiple MQTT clients"
**Describe the bug**
While I'm testing #38107 with my own application that uses MQTT in one of the thread, I found that only one of the MQTT client is able to connect to my broker. The [mqtt_transport_write](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/lib/mqtt/mqtt.c#L92) throws -12 (ENOMEM) or -116 (ETIMEDOUT) error, which I believe originates from [zsock_send](https://githu

[2021-09-01 07:55] ycsin commented on #38191
@rlubos @mniestroj @jukkar Any idea?

[2021-09-01 08:17] eyuval opened #38196 "net nbr command might crash"
I managed to crash the net nbr command by doing the following:
1. create a vlan interface, configure an ip and bring it up
2. run ping from the host to the interface
3. issue the net nbr command

The problem in my case was the following code in the nbr_cb function (file: subsys/net/ip/net_shell.c):

	   nbr->idx == NET_NBR_LLADDR_UNKNOWN ? "?" :
	   net_sprint_ll_addr(
		   net_nbr_get_lladdr(nbr-

[2021-09-01 08:39] Thalley opened #38197 "Invalid NULL check for `iso` in bt_iso_connected"
**Describe the bug**
There's a NULL check in `bt_iso_connected` that is incorrect, as it fails if the pointer is non-NULL, instead of NULL.

**To Reproduce**
N/A

**Expected behavior**
The check should stop processing if `iso == NULL`.

**Impact**
Showstopper for ISO as it is impossible to connect any ISO connections.

**Logs and console output**
N/A

**Environment (please complete the following i

[2021-09-01 09:10] aunsbjerg commented on #38186
Do we want to wait for a robust fix or go with the quick fix for now? I can update #37863 with the quick fix if we want to get that merged sooner rather than later.

[2021-09-01 09:41] #38026 closed

[2021-09-01 09:52] carlescufi commented on #36948
@jakub-uC ping

[2021-09-01 09:58] ainguraXmarquiegui commented on #33747
@hakehuang , I posted something, but I just deleted my last post because I realized that I had made a couple of fundamental mistakes in my observations.

I am still doing some tests. Good news is with your latest suggestions interrupts seem to work again and we can use Output Compare and Input Capture features of the imxrt. Bad news is I have not seen improvements in jitter so far.

These are stil

[2021-09-01 10:09] JordanYates commented on #38181
So there is a fundamental conflict between how devicetree is outputting device dependencies and what `gen_handles.py` is generating. This is a problem because they both need to output the same thing for the `.handles` array to stay the same size across linker stages.

`devicetree_unfixed.h` contains the `_REQUIRES_ORDS` property for nodes, which contains direct dependencies only. This list is used

[2021-09-01 10:42] jakub-uC commented on #36948
@carlescufi We have tested the solution today and it is working. PR shall be today or tomorrow.

[2021-09-01 10:54] jhfigueiredo opened #38202 "mbedtls and littlefs on a STM32L4"
### Discussed in https://github.com/zephyrproject-rtos/zephyr/discussions/37329

<div type='discussions-op-text'>

<sup>Originally posted by **jhfigueiredo** July 30, 2021</sup>
I'm quite new to Zephyr so this might just be some missing configuration or lack of knowledge.
The objective is to load a x509 certificate from the filesystem (littlefs) using the mbedtls mbedtls_x509_crt_parse_file functi

[2021-09-01 11:02] ycsin commented on #38191
After getting tips from @mniestroj in Slack, configuring these Kconfigs solve these issues:

[code]

However I only blindly increased these values, so there might be room for optimization.
Using these values also solved #38082

[2021-09-01 11:02] #38191 closed

[2021-09-01 11:03] ycsin commented on #38082
Closed, see #38191 's [comment](https://github.com/zephyrproject-rtos/zephyr/issues/38191#issuecomment-910173135)

[2021-09-01 11:03] #38082 closed

[2021-09-01 11:14] stephanosio commented on #13787
NOTE: Since we are starting to add the support for more toolchains (e.g. Arm Compiler aka. armclang, ARC MWDT) with their own C standard libraries, we will need consider this not just in the context of newlib but for all supported third-party C standard libraries.

[2021-09-01 11:55] jakub-uC commented on #38170
@MarekPikula
In my opinion, it is not a bug, it is a feature ;-)
Try to compile your project with the following configuration option:
`CONFIG_SHELL_WILDCARD=n`

[2021-09-01 12:38] #38197 closed

[2021-09-01 12:39] #36851 closed

[2021-09-01 12:44] nordic-krch opened #38207 "Use of unaligned noinit data hangs qemu_arc_hs"
**Describe the bug**
Placing not aligned variable in noinit section hangs execution on `qemu_arc_hs`.

**To Reproduce**
Modify hello_world by adding following to `main()`
[code]

Build and run `samples/hello_world` for `qemu_arc_hs`. Observe that nothing is printed (even boot banner).
Add `__aligned(sizeof(int))` to `foo` variable or remove `__noinit` and check that data is printed.

**Expected be

[2021-09-01 12:53] carlescufi commented on #38196
@eyuval would you mind sending a Pull Request with the fix?

[2021-09-01 13:02] sundayglee commented on #37883
@erwango thank you much.

[2021-09-01 13:17] bob2oneil commented on #38153
Thanks for the quick response.  You have characterized this issue correctly in terms of the implementation.  Note that I am running this application with **CONFIG_NATIVE_POSIX_SLOWDOWN_TO_REAL_TIME=n**, so presumably Native-POSIX is running as quickly as possible.  The is broadly is that entry into **zsock_select** specifies a timeout value of close to 10 ms (my epoch interval), but zsock_select()

[2021-09-01 13:21] aescolar commented on #38153
They are not correlated :). The logging timestamp is in simulated time. The call to the **host** `clock_gettime()` is real/host/wall time. It takes very little real time to advance those 10ms of simulated time.

[2021-09-01 13:25] bob2oneil commented on #38153
OK, note that the elapsed time measured is the wall clock time at entry and exit to **zsock_select().**

[2021-09-01 13:26] bob2oneil commented on #38153
Aside for the timestamp correlation (or lack thereof), the primary point was that zsock_select() does not pend for the duration specified (as a timeval) as measured using wall clock time.  Maybe there is an explanation for that behavior?

[2021-09-01 13:56] cfriedt opened #38212 "pcie: emulated endpoint device"
**Is your enhancement proposal related to a problem? Please describe.**
Similarly to how Zephyr supports emulated i2c, spi, gpio, and other peripheral devices, it would be advantageous to support an emulated pcie endpoint.

This would provide a basis for API-level automated testing for application code or middleware that interfaces with the PCIe endpoint, but also facilitate other types of end-to-

[2021-09-01 13:59] cfriedt commented on #38212
Tagging @tbursztyka and @superna9999 for possible interest / pointers.

[2021-09-01 14:01] lgl88911 commented on #32289
@nxf58843 Whether `no-1-8-v` has been added to the devicetree of usdhc, like this:
[code]

[2021-09-01 14:18] galak opened #38214 "xtensa builds fail in CI due to running out of ram to link"
The following commit causes the amount of memory the linker needs to grow drastically such that linking on xtensa builds fails:

9505ee89a3401af93ffddc68e7b04fc948e2f89a

See logs here:

https://buildkite.com/zephyr/zephyr-daily/builds/443#73c88eb1-df25-4260-b43a-c3e84d94f87a

[2021-09-01 14:20] aescolar commented on #38153
That ` zsock_select()` will wait for the timeval duration in **simulated** time. Nothing in Zephyr cares about wall/host/real time when `CONFIG_NATIVE_POSIX_SLOWDOWN_TO_REAL_TIME=n`

[2021-09-01 14:23] galak commented on #38214
@dcpleung don't know if you have any ideas on how we might adjust IDT_BASE

[2021-09-01 14:28] galak opened #38216 "nxp_adsp_imx8 fails to build a number of tests"
`./scripts/twister -p nxp_adsp_imx8`

Gets:

[code]

[2021-09-01 14:29] galak commented on #38216
@MaureenHelm FYI.

[2021-09-01 14:30] galak commented on #38216
Most of the failures look of the form:

[code]

[2021-09-01 14:57] dcpleung commented on #38186
The posted fix is probably the best we can do right now. The ordering of two `SYS_INIT()` and device init having the same init level and priority depends on the how files are linked. So a strict ordering needs to be done manually, until we have device dependency baked in the init code.

[2021-09-01 15:09] dcpleung commented on #38214
IIRC, on all the modified SoCs, there is nothing after the end of RAM. Maybe we can simply revert that commit?

[2021-09-01 15:24] Adecy opened #38219 "kernel: Z_MEM_SLAB_INITIALIZER MACRO not compatible with C++"
**Describe the bug**
It is not possible to define memory slabs using the MACRO `K_MEM_SLAB_DEFINE` in C++

**To Reproduce**
Just define a memory slab using the macro :
[code]

**Expected behavior**
The compilation should succeed as for other kernel MACROs like `K_THREAD_DEFINE` or `K_MUTEX_DEFINE`.

**Impact**
The developper needs to define the structures by hand and initialize them at runtime (as

[2021-09-01 15:38] Alex-EEE commented on #24733
Hi,

 Here are my env vars:
 (dsp-quantized-too-big-fix) benchmark-fw $ echo $GNUARMEMB_TOOLCHAIN_PATH
/Users/alex/toolchains/arm

Is there some way to reset any cached things in the build system?  I did have a different env var at the start.  Here is the full output, showing the vesrion of Zephry

 (dsp-quantized-too-big-fix) benchmark-fw $ ZEPHYR_BASE=~/work/tool-repos/zephyr/zephyr/ west build

[2021-09-01 15:58] Alex-EEE commented on #24733
Ok, I figured it out.  If you need to change your toolchain path (GNUARMEMB_TOOLCHAIN_PATH) you need to delete your build folder first.  Otherwise, west uses some cached copy of that path

[2021-09-01 16:42] #38078 closed

[2021-09-01 16:42] mmahadevan108 commented on #38078
Issue has been fixed

[2021-09-01 17:03] mbolivar-nordic commented on #37637
[code]

@thedjnK This is not an upstream Zephyr version. Please retest on upstream Zephyr and reopen if it reproduces.

[2021-09-01 17:04] mbolivar-nordic commented on #37637
@thedjnK if it only reproduces downstream, please use DevZone to let us know.

[2021-09-01 17:36] npitre commented on #38141
Please see #38188 for the fix.

[2021-09-01 17:58] bob2oneil commented on #38153
Would it be at all easy to modify the Zephyr source code so that the logging uses wall clock time when CONFIG_NATIVE_POSIX_SLOWDOWN_TO_REAL_TIME is set to 'n'?

[2021-09-01 18:17] mmahadevan108 commented on #36766
It should be as this is the default setting in Zephyr

[2021-09-01 20:51] Nukersson commented on #24733
It is always a very good idea to remove your build folder after each toolchain / west update and / or git pull.

[2021-09-01 22:47] #35354 closed

[2021-09-02 01:55] yingmingx opened #38233 "Build newlib function read() and write() failed when enable userspace"
**Describe the bug**
1. I'm try to test the stub in libc-hooks.c and test read() and write() in userspace. When read() is called,  the verification function z_vrfy_z_zephyr_read_stdin() won't be called, it directly called  the implementation function z_impl_zephyr_read_stdin(). and then page fault is caught. It is also the case when the write function is called.
2. When I directly call system call

[2021-09-02 02:06] hongshui3000 commented on #21119
I hope there are some interfaces that can connect (call) commercial debuggers (keil mdk or DS5)

[2021-09-02 02:11] chen-png commented on #37746
hi @galak  where could I check the CI results? I am curious why this issue is still existed, but it worked well on my local.

[2021-09-02 02:15] beriberikix commented on #21119
Reading the post it sounds like this extension is leveraging [Cortex-Debug](https://github.com/Marus/cortex-debug) for the debugging support (which many of us use!) It currently doesn't support commercial debuggers but since it is open source anyone could contribute to it. Perhaps that Nordic team might even do so ;)

[2021-09-02 02:31] hongshui3000 commented on #21119
The serial terminal seems to have no input function, I cannot send data to MCU.
It would be better if people can customize some trace functions by themselves. I hope to parse some log trace information according to my own rules.

[2021-09-02 02:33] hongshui3000 commented on #21119
I also look forward to open source implementation, @3Nigma

[2021-09-02 03:50] stephanosio opened #38234 "Newlib retargetable lock init fails on qemu_xtensa"
**Describe the bug**
`__retarget_lock_init` fails on the `qemu_xtensa` board.

**To Reproduce**
Build `tests/lib/newlib/thread_safety` and run it on `qemu_xtensa`.

**Expected behavior**
The `malloc` call in `__retarget_lock_init` succeeds.

**Impact**
Any components using the newlib are unusable on Xtensa.

**Logs and console output**
[code]

**Environment (please complete the following informati

[2021-09-02 06:08] aescolar commented on #38153
That would not be a good idea. The basic principle is that when you run decoupled from the host time, nothing in Zephyr or your app is aware of the host time.
The only reason why you are aware in your test of the host time is because you are calling out into the underlaying Linux kernel.

[2021-09-02 06:22] 761669642 commented on #36462
Thank you all so much for your efforts!

[2021-09-02 06:23] Cherish-Gww opened #38235 "Please add stm32h723Xe.dtsi to dts/arm/st/h7/"
Please add stm32h723Xe.dtsi  to dts/arm/st/h7

[code]

in DS13313 [https://www.st.com/resource/en/datasheet/stm32h723ve.pdf](url)

[code]

[2021-09-02 06:59] joerchan commented on #36462
No problem. Closing this as the question has been answered.

[2021-09-02 06:59] #36462 closed

[2021-09-02 07:04] superna9999 commented on #38212
Do you mean a virtual pcie endpoint with a virtual pcie bus containing this endpoint ?

[2021-09-02 07:34] koffes opened #38236 "SDK installer, include version number"
When installing the SDK on Linux, the default install folder is `sdk-zephyr/`.
In the doc, it is recommended to use e.g. `zephyr-sdk-0.13.0/`
https://docs.zephyrproject.org/latest/getting_started/index.html

It would be preferable if the installer set the version of the SDK as the default install path.

To get around this, I have renamed the folder after install. This seems to work on first glance

[2021-09-02 07:42] maksimmasalski commented on #34879
@nashif seems like it was not backported to the 2.6. @scottwcpg could you backport it to 2.6? If not, I will backport.

[2021-09-02 07:53] zephyrbot opened #38237 "[backport v2.6-branch] backport of #37479 failed"
This issue was created automatically because the backport of #37479 to `v2.6-branch` failed.

The backport to `v2.6-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.6-branch` and the `compare`/`head` branch is `backport-37479-to-v2.6-branch`.

[2021-09-02 08:08] Thalley opened #38240 "Connected ISO does not disconnect gracefully"
**Describe the bug**
When a connected ISO (CIS) disconnects, it doesn't set the right state, as it depends on the ref to be 1 when unref'fed, which will only happen once the CIG is removed. When a CIS disconnects it then ends up in a state where the controller think it is disconnected, but the host does not, which causes it to be locked in this state, and not even the CIG can be removed.

**To Rep

[2021-09-02 08:14] ainguraXmarquiegui commented on #33747
Bad news @hakehuang . It is now the second consecutive time that the system loses syncronization around the 4 hour mark in my stability tests.

The code running in the board is your exact code, with only PPS code added in order to be able to measure precission. You can see the code that I have been running for the test here: [Zephyr](https://github.com/ainguraXmarquiegui/zephyr/tree/feature/xmarqu

[2021-09-02 08:36] r2r0 commented on #37882
Unfortunately I cannot find a proper way to implement entering SHUTDOWN mode when BLE is enabled in Zephyr.
I tried LL_C2_PWR_SetPowerMode then LL_PWR_DisableBootC2 and then trying to use shci_send to send reset command to CPU2 but without luck.

[2021-09-02 08:42] r2r0 commented on #36962
@de-nordic Any chance to look at this issue?
I will be happy to provide PR but just need some hints.

[2021-09-02 09:01] r2r0 commented on #37882
Regarding wake up - we use WKUP pin event functionality and it works very well for us.

Sure no problem, see below - goto_shutdown is called from pm_power_state_set when PM_STATE_SOFT_OFF is requested.

[code]

[2021-09-02 09:04] mniestroj opened #38242 "drivers: wifi: esp_at: support offloaded WiFi networking using ESP-AT over SPI"
**Is your enhancement proposal related to a problem? Please describe.**
So far there is only UART interface supported by [esp_at](https://github.com/zephyrproject-rtos/zephyr/tree/main/drivers/wifi/esp_at) WiFi drivers. Firmware that is used on ESP (e.g. ESP32 or ESP8266) supports SPI (among others listed in [esp-at firmware repo](https://github.com/espressif/esp-at/tree/master/main/interface)) in

[2021-09-02 09:05] erwango commented on #37882
Thanks for sharing, I'll have a try on my side.
May I know this is not working as expected (behavior vs expected behavior) ?

[2021-09-02 09:31] r2r0 commented on #37882
Present code sample does not switch CPU to SHUTDOWN and CPU continues execution after goto_shutdown.
Expected behavior is to enter SHUTDOWN mode (power consumption at level below 10 uamps) and be able to to wake up (with reset) using WKUP pin event.
Below code we use to arm WKUP pin.
[code]

[2021-09-02 09:48] carlberg74 opened #38245 "board: bl654_usb project: samples/basic/blinky does not blink LED"
Built and flashed the blinky sample project for the bl654_usb board.
following this guide: https://docs.zephyrproject.org/latest/boards/arm/bl654_usb/doc/bl654_usb.html

But the LED does not flash.

Tested also samples/bluetooth/hci_usb, but dongle is not detected as ble device after flashing.
About to test some serial console to see if I get any output from the dongle after flashing.

Environment

[2021-09-02 09:50] JordanYates commented on #38214
That's not a robust solution. The previous behavior is equivalent to placing `IDT_LIST` after the `sram` node.
You then can't do this for example:
[code]
That said, I'm not sure how else to work around this compiler bug.

[2021-09-02 10:01] stephanosio commented on #38236
This should not be a problem if you have actually followed the procedure described in the Getting Started Guide.

./zephyr-sdk-0.13.0-linux-x86_64-setup.run -- -d ~/zephyr-sdk-0.13.0

As per the guide, `-d ~/zephyr-sdk-0.13.0` already ensures that the Zephyr SDK is installed in the `zephyr-sdk-0.13.0` directory under the user home directory, so this is really a non-problem.

As for when you do not

[2021-09-02 10:02] wbober commented on #21119
Correct, the extension is using cortex-debug. Our extension simply provides a context-aware configuration to cortex-debug, so you don't have to configure it manually.

Which terminal you refer to? The nRF Terminal extension that is bundled does support input for both serial and RTT. I've seen requests to add customization to log parsing before. What do you think about a list of regex rules that wo

[2021-09-02 10:07] carlescufi commented on #34659
To add information to this issue for future reference:
- The embedded side (peripheral) sends data at high throughput and the central fails to receive it due to the USB issue currently being described
- This turns into a stall in the BLE connection, with both sides NACKing continuously
- That causes no HCI Number of Completed Packets to be sent, blocking the TX thread on waiting for those num comp

[2021-09-02 10:15] hongshui3000 commented on #21119
Serial terminal

Serial terminal。It is best to customize the parsing script outside the plug-in, so that I can save the log file in the way I want. For example, I can use log to generate a test report, etc.

In addition, it is best to support serial shell terminal, interactive debugging is also very useful

[2021-09-02 10:15] carlescufi commented on #36679
@nwsetec do you have any additional information that we can use to try go figure out what the root cause is?

[2021-09-02 10:19] cfriedt opened #38246 "samples: drivers: flash_shell: fails on arduino_due due to compilation issue"
**Describe the bug**
`samples/drivers/flash_shell/sample.drivers.flash.shell`  fails to build for `arduino_due` with a compilation error.

`IFLASH_PAGE_SIZE`, `EEFC_FSR_FLERR`, `EEFC_FCR_FCMD_EPA` undeclared.

Possibly some additional DT issues.

**To Reproduce**
Steps to reproduce the behavior:
1.`west build -b arduino_due samples/drivers/flash_shell`
2. See error

**Expected behavior**
A clear a

[2021-09-02 10:23] hongshui3000 commented on #21119
Another issue seems to be that after installing the plug-in under Windows, running west under the command line under vscode does not work.I still suggest that there is a place to raise an issue, even if the project is not open source . :)

[2021-09-02 10:31] Mani-Sadhasivam commented on #38177
@alfonsotames I think this issue is specific to STM32WL platform or the sensor as lora driver should not interfere with other peripherals. @erwango @fabiobaltieri any ideas?

[2021-09-02 10:34] Mani-Sadhasivam commented on #38177
@alfonsotames To help debugging, can you please share the SHT3DX overlay?

[2021-09-02 10:37] carlescufi commented on #38054
@rugeGerritsen

notify the Controller about this in an HCI_Host_Number_Of_Completed_-
Packets command.

I think the spec is unclear here about what to do with a Host num complete that contains a disconnected connection handle. It could remember that this is a recently disconnected connection and not reply at all, or as is the case right now, it can reply with a command complete with invalid handle

[2021-09-02 10:42] #38125 closed

[2021-09-02 10:45] #37779 closed

[2021-09-02 11:14] stephanosio commented on #38234
This is very bizarre. The failure is observed only when the size of `sram0_seg` is 36816 bytes.
[code]

This goes away when the size of `sram0_seg` is below or above 36816 bytes ...

@dcpleung any ideas?

[2021-09-02 11:54] marinjurjevic opened #38251 "cmake: DTC_OVERLAY_FILE flags cancel board <board>.overlay files"
**Is your enhancement proposal related to a problem? Please describe.**
The problem is that when DTC_OVERLAY_FILE flag is passed to cmake, it will **silently** drop `boards/<BOARD>.overlay` and `<BOARD>.overlay`.  This is due to following lines in `boilerplate.cmake`:

https://github.com/zephyrproject-rtos/zephyr/blob/bdc80ebe16c82fa589ce9c750e66d2f319123b8f/cmake/app/boilerplate.cmake#L499-L512

[2021-09-02 12:06] galak commented on #38246
This is related to commit 626b1b79df62bcdc4142cb671693ea9f31f10909

[2021-09-02 12:13] tejlmand commented on #34413
The __used is setting an attribute, so it's dependent on the toolchain, not the SoC.

[2021-09-02 12:14] #37746 closed

[2021-09-02 12:31] marinjurjevic commented on #38251
I'm currently using following hotfix for `boards/<BOARD>.overlay` specifically. Basically just appending the overlay with other optional DTS files and it ends up as part of DTC_OVERLAY_FILE.

[code]

results in

[code]

[2021-09-02 12:53] galak commented on #38234
wonder if this has something to do with bss size change?

[2021-09-02 13:01] stephanosio commented on #38234
So I did some investigation and it happens only for the **first malloc call** whose first `sbrk` call returns a pointer that falls on a 0x1000 page boundary (at least, what newlib's malloc thinks is page boundary -- yes, we should fix these).

[code]

This only happens on Xtensa -- I have reproduced a similar case on other archs, but they all work as expected:

**ARM (qemu_cortex_m3)**
[code]

**S

[2021-09-02 13:34] manoj153 commented on #34413
understand, therefore diffrent SoC might use different toolchain, thus this is the best / portable way to do it at the moment?

[2021-09-02 13:39] stephanosio opened #38258 "newlib: first malloc call may fail on Xtensa depending on image size"
**Describe the bug**
The first `malloc` call may fail on the Xtensa platforms (e.g. `qemu_xtensa`) if the requested block size is such that the `malloc` function invokes the `sbrk` function with the heap expansion size that causes the resulting heap address to fall on the 0x1000 boundary (what newlib thinks is "page boundary").

For example, if the initial heap address is `0x60009fd0` and `malloc`

[2021-09-02 13:42] stephanosio commented on #38258
NOTE: This issue exists to keep track of this rather serious bug with the newlib on Xtensa. It needs to be fixed in the Zephyr SDK, and also in the upstream newlib if it has not already been patched in the latest releases.

[2021-09-02 13:50] ycsin opened #38259 "subsys/shell: `[JJ` escape codes in logs after disabling colors"
This serves as a continuation of discussion in #38094, for some reason there are still `[JJ` escape codes in logs after disabling color. What do they come from? Is there a way to disable them?

**Impact**
Annoyance, and difficulty to parse log output using a software.

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - v2.6.0-1638-g0296d12675fd

[2021-09-02 13:51] ycsin commented on #38259
@jakub-uC @jfischer-no @nordic-krch

[2021-09-02 14:10] dleach02 commented on #38186
@MaureenHelm, since there is a dependency, maybe we can be a bit more explicit by doing something like the following:

[code]

[2021-09-02 14:57] beriberikix commented on #38242
Here's some additional boards/modules that I found that either only support SPI or default to SPI:
* [SiFive HiFive1](https://docs.zephyrproject.org/latest/boards/riscv/hifive1/doc/index.html)/[RevB](https://docs.zephyrproject.org/latest/boards/riscv/hifive1_revb/doc/index.html)
* All adafruit boards that use the ESP32 a modem default to ESP32 (though UART can be used):
  * [Metro M4 Express AirLi

[2021-09-02 15:09] galak commented on #35703
dev-review: (sept 2, 2021): suggestion to @cfriedt to open an issue to track rfc/enhancement around this area.

[2021-09-02 15:24] photonthunder commented on #37779
@cfriedt, this is one time were being slow to implement a fix is a good thing because I really like the fix by @nandojve...

[2021-09-02 15:58] #38234 closed

[2021-09-02 16:00] galak commented on #38258
@sylvioalves do you know if you guys newlib version has this issue or a fix for it?

[2021-09-02 16:02] nordic-krch commented on #38259
@jakub-uC isn't it line erasing done before each log message printing?
https://github.com/zephyrproject-rtos/zephyr/blob/2208844f17010c4237c21d7b84f0f5e2f634d24d/subsys/shell/shell.c#L1156

[2021-09-02 16:16] stephanosio commented on #38258
cc @dcpleung @andyross

[2021-09-02 16:20] fabiobaltieri commented on #38177
Weird, I have a board with an STM32WLE5 (the Seeed Lora-E5 modules), couple SPI devices and an I2C EEPROM... I2C is working fine. Maybe a pinmux misconfiguration that breaks the i2c when LoRa is enabled?

[2021-09-02 16:22] cfriedt commented on #38212
Yes

[2021-09-02 16:24] stephanosio commented on #38258
https://github.com/zephyrproject-rtos/newlib-cygwin/commit/b67ccc265089ded89e9170fcc5a8e2e43d020393#diff-f056d0212a247fc9bf5137a683fa14d9f1f80f23f76eedb68cf81710207fdb27R198

To all Xtensa maintainers: how important is it that we enforce `MALLOC_ALIGNMENT = 16`? Can't we live with `MALLOC_ALIGNMENT = 8` as do the rest of the archs we have?

My hunch is that this issue will go away if we just remov

[2021-09-02 16:59] superna9999 commented on #38212
It must be doable with the generic pcie infrastructure I'm pushing at https://github.com/zephyrproject-rtos/zephyr/pull/37668

For MSI/MSI-X virtual interrupts handling, I'll also push some very generic changes that could also match this usecase.

[2021-09-02 17:26] stephanosio commented on #38258
Also cc @jcmvbkbc, if you are around.

[2021-09-02 18:01] krobotics opened #38264 "Modbus over RS485 on samd21g18a re-gpios turning on 1 byte too early"
**Describe the bug**
When using Modbus over RS485 the driver enable/receive enable pins(s) are being triggers before the transmission has completed. This is causing the last byte to not be transmitted by the rs485 transceiver.

What have you tried to diagnose or workaround this issue?
Yes the current code is using the DRE interrupt to determine if the transmission has completed, however it should

[2021-09-02 18:20] Thalley commented on #38054
Your suggestions are sound. The spec is indeed unclear (possibly erratum-unclear?) about what the controller should do. If we intend on having a controller that's usable by other than the Zephyr host (i.e. one that is truly HCI compliant), we may still need to implement the solution for the controller (if that is indeed what the HCI spec states).

[2021-09-02 18:27] jcmvbkbc commented on #38258
I believe that 16 is not required for the base xtensa architecture with or without standard FP coprocessors. But 16 or even higher alignment may be required in the presence of TIE extensions, so it should really not be hardcoded but taken from the xtensa core configuration.

[2021-09-02 18:51] stephanosio commented on #38233
I thought calling these from userspace worked (at least on ARM). Maybe this failure is x86-specific.

Needs more investigation.

[2021-09-02 19:35] nandojve commented on #38246
Hi @cfriedt ,

Is this still valid after #38263?

[2021-09-02 19:45] cfriedt commented on #38246
I think it might be fixed already. Thanks for pointing it out

[2021-09-02 19:45] cfriedt commented on #38246
Can you do a quick check to confirm?

[2021-09-02 20:23] firscity commented on #37239
Dear @carlescufi, as I can find in contributing guideline, governing board has two weeks to review matter. Can you please tell the current status or the way how I can check it by myself?

[2021-09-02 21:22] gmarull commented on #19882
Closing, there's a newer issue describing the same request. #32288

[2021-09-02 21:22] #19882 closed

[2021-09-02 23:29] palchak-google opened #38268 "Multiple defects in "Multi Producer Single Consumer Packet Buffer" library"
**Describe the bug**
The following defects exist in the mpsc_pbuf library:
1) Buffer drops packets before reaching maximum capacity
2) Buffer drops extra packets upon insertion when full
3) Buffer API is not const correct

**To Reproduce**
Here is the a short test procedure that exposes these defects:

[code]
**Logs and console output**
Here is the output from running this test code on a `native_p

[2021-09-02 23:37] #38141 closed

[2021-09-02 23:37] #38240 closed

[2021-09-02 23:38] #37768 closed

[2021-09-02 23:38] #38093 closed

[2021-09-02 23:39] #36948 closed

[2021-09-03 01:47] yingmingx commented on #38233
When directly call read() in userspace on platform mps2_an385.

START - test_newlib_stub_read
E: ***** MPU FAULT *****
E:   Data Access Violation
E:   MMFAR Address: 0x20003c48
E: r0/a1:  0x200006b8  r1/a2:  0x00000001  r2/a3:  0x00000001
E: r3/a4:  0x000009e1 r12/ip:  0x0000aa9f r14/lr:  0x000009ef
E:  xpsr:  0x81000000
E: Faulting instruction address (r15/pc): 0x00002c42
E: >>> ZEPHYR FATAL ERRO

[2021-09-03 01:49] nandojve commented on #38246
I could reproduce problem after #38263

[2021-09-03 01:49] #38246 closed

[2021-09-03 02:43] maksimmasalski commented on #38237
@scottwcpg Scott, could you help to backport it to the 2.6 branch?

[2021-09-03 03:17] #35703 closed

[2021-09-03 03:21] hakehuang commented on #33747
let me do a stress test on my side as well. Thanks @ainguraXmarquiegui

[2021-09-03 03:39] ycsin commented on #38259
@nordic-auko I think you are right, I had something simple to test it:
[code]
and now those `[JJ`s are gone.

Do you have any suggestion on how to disable these features that are designed for a terminal?

[2021-09-03 04:07] stephanosio commented on #16587
This is not resolved, is it?
https://github.com/zephyrproject-rtos/zephyr/blob/e12e126f3262ffcac90572a6be4dffe12f17a30f/cmake/compiler/gcc/compiler_flags.cmake#L45-L50

[2021-09-03 04:54] yperess opened #38271 "Expose emulator_get_binding function"
**Is your enhancement proposal related to a problem? Please describe.**
It is currently difficult to get a pointer to an emulator in a similar manner to getting a device pointer. This can be useful if the emulator wants to expose run-time configuration functions. For example the BMI160 emulator might want to allow tests to explicitly set the data that will be returned.

**Describe the solution you

[2021-09-03 06:34] ainguraXmarquiegui commented on #33747
Thank you for keep helping @hakehuang

The test I have done with the external power supply also shows periods of synchronization errors. I am using a 5V - 2A power supply.

![2021-09-03-082910_1676x1011_scrot](https://user-images.githubusercontent.com/72266939/131960950-741ecc30-7fa0-45e2-a6e9-4bb2c9069988.png)

![2021-09-03-082916_1676x1011_scrot](https://user-images.githubusercontent.com/7226693

[2021-09-03 06:53] holgerschurig opened #38272 ""west flash" stopped working"
**Describe the bug**
When I run "west flash", I get a long backtrace:

[code]
The issue is that build/zephy/runners.yaml now contains an empty openocd_search: entry:

[code]

Deleteing this superfluous `openocd_search:` entry fixes my issue. So my guess is that c3db83ba58465cacc8fcea6b7f6dfdd8757a33bd has the bug.

**To Reproduce**
Steps to reproduce the behavior:
1. cd zephyr/samples/basic/blinky

[2021-09-03 06:58] holgerschurig opened #38273 "Support UART4 on STM32F303Xe"
**Is your enhancement proposal related to a problem? Please describe.**
The STM32F303Xe soc has a fourth UART, but the provided device tree doesn't support it.

**Describe the solution you'd like**
Currently, I put the following into my device overlay. This makes this UART work for me (tested it with 115200 baud and an external FTDI 3V3-serial-to-USB dongle):

[code]

**Additional context**
It wou

[2021-09-03 07:52] ssharks commented on #38172
Somewhere next week I'll give it a try.

[2021-09-03 07:56] ozhuraki commented on #16587
@stephanosio

I would say, "_packed" needs to be dropped from the network packet structures (they are already designed so), which would avoid all these (here the compiler is hinting to do so).

[2021-09-03 08:08] FRASTM commented on #38273
Note that the DTS for the stm32f303 should not be mixed with the pin assignment.

- `pinctrl-0 = <&uart4_tx_pc10 &uart4_rx_pc11>;`     is valid for the smt32f3_disco board

[2021-09-03 08:17] mrks115 opened #38276 "LwM2M: RD Client: Wrong state if registration fails"
**Describe the bug**
There is no possibility for an application to check whether the lwm2m registration was successful or not. Even [if the registrations fails with the errors](https://github.com/zephyrproject-rtos/zephyr/blob/e12e126f3262ffcac90572a6be4dffe12f17a30f/subsys/net/lib/lwm2m/lwm2m_rd_client.c#L336) `not found` or `forbidden` the client emits the event `ENGINE_REGISTRATION_DONE` - whic

[2021-09-03 08:20] alexanderendian opened #38277 "soc: stm32h7: Fails to boot with LDO power supply, if soc has SMPS support."
**Describe the bug**
In `soc_m7.c`, SMPS is enabled if the soc has SMPS-support, without regard for the actual board design. For boards designed to use LDO, enabling SMPS causes the microcontroller to reset, presumably due to losing power.

**To Reproduce**
Run Zephyr on a STM32H7 design with LDO supply using a part which supports SMPS.

**Expected behavior**
The choice between SMPS and LDO should

[2021-09-03 08:32] jfischer-no commented on #38264
@rocky134 FYI

[2021-09-03 08:47] caco3 commented on #34659
👍

Just for clarification:

The stalling issue only occures, once I start to do excessive GATT reads from the central to the peripheral while the peripheral still transmitts data at the high throughput

[2021-09-03 09:16] jsiverskog opened #38279 "Bluetooth: Controller: assert LL_ASSERT(!radio_is_ready()) in lll_conn.c"
**Describe the bug**
when i send large amounts of ble data from a central to a peripheral an assert hits (`LL_ASSERT(lll->handle != 0xFFFF);` from subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c). both sides are running zephyr's 2.6-branch.

there is a lot of sensitive code involved, so the triggering project will be sent in private message.

**To Reproduce**
Steps to reproduce the behavio

[2021-09-03 09:30] de-nordic commented on #38059
Can you please provide your command line?

I have tried building the sample, at Zephyr:e12e126f3262ffcac90572a6be4dffe12f17a30f, with command:
[code]
And got:
[code]

[2021-09-03 09:48] kdhaka opened #38284 "DHCP Server"
**Is your feature request related to a problem? Please describe.**
When computer connect to my Wifi hotspot, it should assign IP address to the computer.
<https://en.wikipedia.org/wiki/Dynamic_Host_Configuration_Protocol>

**Describe the solution you'd like**
A DHCP server that reply to DHCP client.

**Describe alternatives you've considered**
- BOOTP <https://en.wikipedia.org/wiki/Bootstrap_Proto

[2021-09-03 09:54] hakehuang commented on #33747
@ainguraXmarquiegui , I test my code with my boards, which seems ok. so it only happens when the enable pps code added right?
let me debuggin gyou code further.

[2021-09-03 09:58] ainguraXmarquiegui commented on #33747
@hakehuang , I have done all my tests with pps code on because I was trying to verify long term accuracy of the syncronization. Seeing that every time it fails I can see effects of the failure both on the oscilloscope, and on the system console, I can repeat the test without the PPS code.

I will try to leave the system running all weekend with your code as is, without the PPS added modifications.

[2021-09-03 10:08] hakehuang commented on #33747
@ainguraXmarquiegui , besides the long term issue, how is the accuracy? does it improve?

[2021-09-03 10:09] manoj153 commented on #38273
Need help to create the PR?

[2021-09-03 10:15] ainguraXmarquiegui commented on #33747
Jitter is still in the range of 20+uS to 70uS on short test runs. No noticeable difference is visible for jitter when running off USB power or stand alone PSU.

Small correction on my previous post. The system will be running all weekend on your code, plus this small modification. I hope it's ok:

[code]

[2021-09-03 11:19] hjuul opened #38290 "net_buf_add_mem() hard-faults when adding buffer from external SDRAM"
**Describe the bug**
I'm using `net_buf_add_mem()` and the buffer to be added is stored in external SDRAM.
If the buffer length is one less than the maximum data size for the net_buf I get a hard-fault.
Any other buffer lengths appear to work.

**To Reproduce**
I've boiled it down to the following minimal example:

[code]
Note:
* If I change the size of `buf` to 538, 540 or any other value the beh

[2021-09-03 11:38] cfoucher-laas opened #38291 "Make Zephyr modules compatible with PlatformIO libdeps"
**Is your enhancement proposal related to a problem? Please describe.**
Currently,  it is not possible to include a Zephyr module as a PlatformIO libdeps, as there are multiple issues emerging from the compilation flow. As PlatformIO is a very widely used tool which provides a user-friendly entry point to Zephyr development, it could be useful to combine the modularity power of these two tools.

C

[2021-09-03 12:04] hjuul commented on #38290
Hm, I was able to reproduce it with just a `memcpy()`, so this isn't related to net_buf.
I'll close this issue and create a new one that's more accurate.

[2021-09-03 12:04] #38290 closed

[2021-09-03 12:54] nandojve commented on #38272
Hi @holgerschurig ,

Thank you for bring this to us. I just update my env and try reproduce issue listed.

This is the resulting:

[code]

My steps were:

 - cd \<your zephyr home\>
 - git fetch upstream
 - git checkout main
 - git rebase upstream/main
 - west update
 - pip3 install --user -r scripts/requirements.txt

Can you check again and report? It will be nice if you can perform a check using

[2021-09-03 13:36] #38219 closed

[2021-09-03 13:50] tejlmand commented on #35671
@XiaZhouZero Could you open a dedicated question on this topic, as it is unrelated to this issue.
Issue if there is something you think should be improved.
Question if you just need to know more.

That being said, are you talking about the final image or each individual object file ?
As compile option you may use the `COMPILER_OPT` in Kconfig to add additional compiler options, like `-emit-llvm`.

[2021-09-03 13:57] #38235 closed

[2021-09-03 14:00] #38022 closed

[2021-09-03 14:01] #38173 closed

[2021-09-03 14:11] #37057 closed

[2021-09-03 14:30] erwango commented on #37882
@r2r0 Please have a look to https://github.com/erwango/zephyr/tree/dev_wb_ble_shutdown.
I think I'm able to properly shutdown BLE stack and both cores with the modification done in power.c file.
I've added a quick sample as demo.

I'm getting following consumption (4 sec advetising + shutdown)
![advertizing_shutdown_no_debug](https://user-images.githubusercontent.com/18574308/132021975-ce7a1158-73

[2021-09-03 14:36] holgerschurig commented on #38272
Huh? "git fetch upstream" yields "fatal: 'upstream' does not appear to be a git repository". It might be that you have an "upstream" in your .git/config because of read/write access? I did the anonymous clone via "git clone https://github.com/zephyrproject-rtos/zephyr.git" originally.

So instead I did the common thing that is quite normal with git: "git pull". I am now at:

´``
git rev-parse HEAD

[2021-09-03 14:38] erwango commented on #38277
@ABOSTM Feel free to close if duplicate of #34732

[2021-09-03 14:39] holgerschurig commented on #38272
BTW; i went to some more hoops :-)

I used

[code]

to check for this superfluous `openocd_search:` line. It didn't appear before. This is the git bisect log:

[code]

After this commit, the empty openocd_search entry started to appear.

[2021-09-03 14:51] de-nordic commented on #36962
@r2r0 Sorry for the delay, I am little busy right now. Give me a few days to look at this and get back to you.

[2021-09-03 14:55] nandojve commented on #38272
Hi @holgerschurig ,

Could you try this patch:

[code]

[2021-09-03 15:40] rocky134 commented on #38264
Yes good catch, that looks to be the case that DRE is generated when the DATA register is empty (and data can be then written to it) whereas TXC is generated when the data has actually been shifted out.

However it's not a simple replace DRE to TXC that fixes the problem, from the quick testing I did, TXC is only generated *after* a byte has been written to DATA and shifted out but the byte cannot

[2021-09-03 16:01] alxelax opened #38303 "The current BabbleSim tests build system based on bash scripts hides warnings"
**Describe the bug**
The current BabbleSim tests build system hides compile warnings and ignores them. The PR checks miss them (test step is green even warnings present) and allow to merge PRs with warnings(potential bugs).

It is possible to observe already committed in main warnings just adding syntax errors in some of the tests. Then build system will show all existing warnings together with th

[2021-09-03 16:20] #36736 closed

[2021-09-03 16:20] #37109 closed

[2021-09-03 16:25] avisconti commented on #38090
@sanchox can you possibly take a look to this fix? Thanks!

[2021-09-03 16:41] kisvegabor opened #38305 "Update to LVGL v8"
**Is your enhancement proposal related to a problem? Please describe.**
Zephyr still uses LVGL v7 but v8 is alreardy out with many new features.
See the change log: https://docs.lvgl.io/master/CHANGELOG.html
See the examples: https://docs.lvgl.io/master/examples.html

**Describe the solution you'd like**
The Zephyr specific parts of LVGL hasn't changed much so I hope it would be straightforward  t

[2021-09-03 16:55] krobotics commented on #38264
Well, you were correct about a simple fix - it definitely was not.

I did a port Arduino Serial Library to RS485 my FreeRTOS port for SAMD21/51. When I started using Zephyr I immediately saw what the issue was. I have also had the same issue on the PSoC 5, kfm64 and other Cortex based procs (yes I do a lot of RS485) in the past using stock serial libraries, especially if they have FIFO's.

I fixed

[2021-09-03 17:00] stephanosio commented on #38258
@jcmvbkbc Thanks for clarifying.

[2021-09-03 17:03] stephanosio commented on #38258
https://github.com/zephyrproject-rtos/newlib-cygwin/commit/b67ccc265089ded89e9170fcc5a8e2e43d020393#diff-f056d0212a247fc9bf5137a683fa14d9f1f80f23f76eedb68cf81710207fdb27R198
I locally built and tested newlib with the above line removed so that `MALLOC_ALIGNMENT` defaults to 8 instead of 16. As I thought, this issue is no longer present and malloc works.

On `qemu_xtensa` with patched newlib:
[code

[2021-09-03 17:21] rocky134 commented on #38264
glad you were able to fix the issue but I don't think the modbus driver should be the thing to change.
The issue is with the sam0 uart driver improper irq handling so any fixes should be contained to that file only.
Since if you weren't using a sam0 platform modbus would work as intended.

[2021-09-03 17:32] sanchox commented on #38090
Looks OK for me =)

[2021-09-03 17:49] epietrowicz commented on #37637
I was able to reproduce using upstream (see attached for build logs). What can I do to work around this error?
`Zephyr version: 2.6.99 (C:/Users/Jatin/zephyrproject/zephyr), build: zephyr-v2.6.0-2940-g529d9149d395`

[console_output_looping_bug.txt](https://github.com/zephyrproject-rtos/zephyr/files/7107688/console_output_looping_bug.txt)

[2021-09-03 18:20] krobotics commented on #38264
Yes and no, the de/re pin is set on the DRE interrupt so in order to prevent the pin from toggling at the wrong time so the modbus code has to change. If you are using another processor with a fifo on its uart, DRE will empty way before the pin should be toggled. The only proper way to fix this would be to change the modbus subsystem to monitor the correct completion interrupt. However as this sub

[2021-09-03 18:42] nbowlersnps opened #38309 "ARC context switch to interrupted thread busted with CONFIG_ARC_FIRQ=y and CONFIG_NUM_IRQ_PRIO_LEVELS=1"
**Describe the bug**
The ARC can be configured with support for fast IRQs and only a single priority level.  In this configuration, fast IRQs is the only interrupt type supported by the hardware.

However, the `_switch_return_from_firq` implementation is expecting the lowest priority interrupt to perform a "regular" interrupt return and thus restore context from the stack.  This does not happen an

[2021-09-03 18:47] nbowlersnps commented on #38309
The attached patch corrects the issue for me.

[fix-arc-context-switch.patch.txt](https://github.com/zephyrproject-rtos/zephyr/files/7107962/fix-arc-context-switch.patch.txt)

[2021-09-03 19:44] rocky134 commented on #38264
yes, after looking into this issue a bit more over the past hour it seems like just patching uart_sam0 is not enough.
Like you said, modbus needs to wait until TX is completed.

That's a good method to use actually, rather than adding a new method `uart_irq_txc_ready` to the uart api it would be better to just implement uart_irq_tx_complete for the sam0 and handle it inside of modbus' cb_handler_t

[2021-09-03 20:28] krobotics commented on #38264
Fair comment - I checked in a change to my fork using the CONFIG option and TXC.
I think I know why uart_irq_tx_complete was not implemented for sam0. There is no status bit that can be queried to determine if the transmission is complete.

[code]

Due to the face that there is no enable/disable for this parameter/function one cannot just add TXC and hope for the best. One solution would then requ

[2021-09-03 22:05] rocky134 commented on #38264
The status bit is TXC itself, from the datasheet:
![image](https://user-images.githubusercontent.com/34631288/132066183-2ae0e9dd-4b19-487f-bec9-a1145cd9dcc1.png)

It wasn't just added. it is added transparently in a minimal way that does not affect existing higher level drivers utilization of the serial driver.
Interrupt driven uart requires a call to `uart_irq_is_pending` and `uart_irq_update` be

[2021-09-04 00:29] #34391 closed

[2021-09-04 06:19] ainguraXmarquiegui commented on #33747
Sadly, the clean code test has produced the same result as the pps modified code:

![2021-09-04-081508_1676x1011_scrot](https://user-images.githubusercontent.com/72266939/132084961-5c9b1d14-7f39-46ff-8036-860df0df5f7c.png)

Since I don't have physical access to the system, it will keep running for two more days. I'll report back on Monday.

[2021-09-04 11:20] cfriedt opened #38314 "ci: create release: message body is too long"
**Describe the bug**
The CI process "Create Release" has worked well until now. However, with v2.7.0-rc1 we encountered a situation where the release notes were far too large to include in the message.

**To Reproduce**
Tag a release (or rc) with a long list of changes (e.g. `git shortlog -n v2.6.0..v2.7.0-rc1`)

**Expected behavior**
Probably best to direct the shortlog to ChangeLog.txt and to up

[2021-09-04 14:43] vanwinkeljan commented on #38305
Currently I have very little time to look into this but first thing that needs to be done, in my opinion, is to use the upstream LVGL Kconfig instead of Zephyr version of the LVGL Kconfigs.

There was a RFC PR https://github.com/zephyrproject-rtos/zephyr/pull/30461 that toke in the new, at that time, LVGL config. Not sure if PR can still serve as a base to implement a new PR?

[2021-09-04 14:58] nashif commented on #38314
need to figure out a better changelog format I guess.

[2021-09-04 16:55] rustypig91 commented on #36857
Stumbled across the same issue with ssd1306 and seeeduino xiao
This is my fix https://github.com/rustypig91/zephyr/commit/2b98cfb2bcb98662736e4ed35bdf75314e763bc1

[2021-09-04 19:36] joshfischer1108 commented on #38154
Hi,

Did anyone have a chance to look at this yet?

[2021-09-05 00:29] #36398 closed

[2021-09-05 00:29] #24854 closed

[2021-09-05 02:06] lgl88911 commented on #37202
@sylvioalves Thanks, Verify pass at v2.6.0-rc1-301-gd9c666a5abf8

[2021-09-05 10:17] Faizan-Ellahi-DE opened #38316 "Synchronize multiple DF TX devices in the DF Connectionless RX Example "Periodic Advertising list""
I got an Unknown Command error while working with the periodic advertising list feature #29127

When I tried to add the device to the Periodic Advertising list or clear the Periodic Advertising list, **error -5** shows over the terminal after deep looking at the source code found the reason for such error is that commands (BT_HCI_OP_LE_ADD_DEV_TO_PER_ADV_LIST, BT_HCI_OP_LE_REM_DEV_FROM_PER_ADV_LIS

[2021-09-05 13:07] jaybuckeye06 commented on #34324
Thank @ABOSTM for the extensive experiments. wfi -> nop leads me to think about the sleep / standby mode.

STM32 has a debug register DBGMCU. It contains bits controlling low power behavior, c.f. [RM0008](https://www.st.com/resource/en/reference_manual/cd00171190-stm32f101xx-stm32f102xx-stm32f103xx-stm32f105xx-and-stm32f107xx-advanced-arm-based-32-bit-mcus-stmicroelectronics.pdf) and [AN4989](http

[2021-09-05 19:00] kisvegabor commented on #38305
@vanwinkeljan  Thank you for the link to the PR. Using the upstream Kconfig seems reasonable on the long term.

I assume changing `CONFIG_LVGL` to `CONFIG_LV` would break the UI part of the existing projects but updating to lvgl v8 would break the lvgl v7 projects anyway. So it'd be great to do the 2 updates in one step to break only once.

[2021-09-06 03:35] hakehuang commented on #33747
@ainguraXmarquiegui according to my testing, there is such issue without pps code,  do you remove all the pps code? including disable the interrupt?

[2021-09-06 04:50] cameled commented on #37827
After erase by STM32Programer, this issue disappeared.

[2021-09-06 05:30] Zhaoningx opened #38323 "Can not generate code coverage report by running samples/subsys/tracing"
I have a try to run test cases of samples/ directories, and I find that it works to run all test cases by the tool twister. But if I add the '-C' option, such as `twister -p qemu_x86 -T samples/subsys/tracing/  -C`, it will fail to run. And the error log is as below:

====================================================================

[ 90%] Built target drivers__timer
[ 91%] Building C object z

[2021-09-06 06:38] ainguraXmarquiegui commented on #33747
@hakehuang yes, I'm sure I removed all of the pps code. What I did was a checkout of [this](https://github.com/hakehuang/zephyr/tree/rt_gpt_clock_fixing_dev) branch (commit id: `9c70a5693f2e78569510d662e7de58cbc357085d`), and run a west update, which did a checkout of hal/nxp on [this](https://github.com/hakehuang/hal_nxp/tree/test_ptp) branch (commit id: `e561180ea2671a6b17e9c115a5b3a472f97f13c2`

[2021-09-06 06:46] erwango commented on #37827
@cameled Strange. Anyway, thanks for feedback.

[2021-09-06 06:52] chen-png commented on #36263
tested on qemu_x86 with same memory size configuration on up_squared, but it was passed, it could support map more pages.
SRAM_SIZE: 2G    KERNEL_VM_SIZE: 1G

Free memory: 2141577216
E: insufficient virtual address space (requested 12288)
Mapped 86895 pages
Free memory now: 1785655296
Unmapped 86895 pages
Free memory now: 2141577216
 PASS - test_k_mem_map_exhaustion in 4.462 seconds
==============

[2021-09-06 07:31] FRASTM commented on #35816
_"counter is using the RTC tick_"  Yes, that's what I realized too when trying to implement the set/get _top value ( counter: stm32: Missing implementation of set_top_value #37206). The RTC is not really convenient; beacuse it is  not well designed (in the stm32 but probably also other platforms) for counting other than hours and date. Even the WakeUp timer function is not enough, because dependin

[2021-09-06 07:31] #38090 closed

[2021-09-06 08:22] jaybuckeye06 commented on #34324
Further found out that DMA1 EN bit should be set in RCC_AHBENR register (@ 0x4002 1014). The description is in RM0008 rev. 21 p.g. 111.

![image](https://user-images.githubusercontent.com/90120048/132182970-0863c294-f03f-4b77-ba35-3e2a7b365e71.png)

I am only having a nucleo_f103rb in my hands at this moment. Could someone confirm this on other boards?

---

JLinkEXE
[code]

Output:
[code]

[2021-09-06 09:11] erwango opened #38332 "stm32g0: power hooks should be define as weak"
**Describe the bug**
In commit "pm: Fix weak linkage symbols" (PR #35274),
PM SoC hooks were converted to __weak to avoid clash with
new definition of these symbols in subsys/pm/power.c.

G0 power implementation was implemented in parallel
with this change and missed the update.

As a consequence, builds fail when CONFIG_PM=y

[2021-09-06 09:14] erwango commented on #34324
@jaybuckeye06 Woul you min opening a dedicated issue for this specific point ?

[2021-09-06 09:33] r2r0 commented on #37882
@erwango I confirm that sample in branch you mentioned works well  - after few seconds MCU switches to SHUTDOWN mode.

[2021-09-06 09:44] tejlmand commented on #37637
Fixed here: https://github.com/zephyrproject-rtos/zephyr/pull/38333

[2021-09-06 09:44] erwango commented on #37882
Thanks for confirming. I'll push a PR soon. Though, it won't be merge before few weeks now that merge window is closed.

[2021-09-06 10:14] kapi-no opened #38336 "Bluetooth: Host: separate authentication callbacks for each identity"
Currently, the user can register only one instance of authentication callbacks using the ```bt_conn_auth_cb_register``` API. These callbacks determine globally the pairing flow and the chosen pairing method (Just Works, Numeric Comparison, etc.). As a result, each Bluetooth identity can pair according to the global configuration of authentication callbacks.

It should be possible to configure auth

[2021-09-06 10:15] rlubos commented on #31475
Yes, the other one seems like a duplicate. I propose to close this however since #34044 already has a linked PR.

[2021-09-06 10:15] #31475 closed

[2021-09-06 10:23] NemesisXB commented on #11918
Almost 3 years later. Any progress or ETA on this?

[2021-09-06 12:09] yonsch opened #38339 "Add additional options for reusing the main stack"
**Is your enhancement proposal related to a problem? Please describe.**
As noted in the `help` section of `CONFIG_MAIN_STACK_SIZE`:

  executes the main() routine, so as to reuse the stack used by the
  initialization, which would be wasted RAM otherwise.

So currently, the only way to reuse the main stack's memory is to implement some of my application inside the main function, instead of creatin

[2021-09-06 12:27] saleh-unikie opened #38340 "Bluetooth:DirectionFinding: Disabling the MPU causes some compilation errors"
**Describe the bug**
In order to use "Settings" based on NVS file storage, it is needed to disable MPU by adding this config:
`CONFIG_ARM_MPU=n`

When this config is added, some compiler errors and warnings pop up, when trying to build the "direction_finding_connectless_rx" example:
https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/bluetooth/direction_finding_connectionless_rx

**To R

[2021-09-06 13:53] hakehuang opened #38346 "twister command line parameter clean up and optimizate twister documents"
in discussion #38140, we'd like to improve the twister commands, and its documentation.

**Describe the solution you'd like**
we need:

- all the supported features shall be listed in help
- all paramenter shall have an example
- all parameter combination and dependency shall be well documented
- for given command lint all parameters shall be print out and easy to be searched(grep)
- need find a w

[2021-09-06 13:53] avisconti commented on #37777
@ric96

I don't think it is a sensor_value_to_double() issue, because I'm using it extensively for x_nucleo_iks01a3 (and other shields).  It might be an issue related to the mpu6050 sensor, but I do not have it, so I cannot try it out.

[2021-09-06 13:55] hakehuang commented on #38346
@PerMac @abrodkin

[2021-09-06 14:02] avisconti commented on #37777
@ric96
Can you investigate more about it? I just saw the driver code and it seems fine to me.

[2021-09-06 14:59] stephanosio commented on #38258
https://github.com/zephyrproject-rtos/sdk-ng/pull/394 will fix this issue.

[2021-09-06 15:36] carlescufi opened #38348 "Bluetooth: Switch to inclusive terminology from the 5.3 specification"
The inclusive naming mappings can be found here:
https://btprodspecificationrefs.blob.core.windows.net/language-mapping/Appropriate_Language_Mapping_Table.pdf

The item will be discussed in the API meeting so seek acceptance for inclusion in 2.7.0.

Areas to be covered:

- [x] include/bluetooth (excluding hci.h): #38522
- [x] include/bluetooth/hci.h #38605
- [x] subsys/bluetooth/host: #38640
- [x]

[2021-09-06 15:41] carlescufi commented on #38348
CC @jhedberg @joerchan @alwa-nordic @asmk-ot @wopu-ot @kruithofa @Thalley @Vudentz @asbjornsabo @sjanc @andrzej-kaczmarek @KKopyscinski @trond-snekvik @LingaoM @michal-narajowski @ppryga

[2021-09-06 15:42] kv2019i opened #38349 "XCC compilation fails on Intel cAVS platforms"
**Describe the bug**
Recently merged https://github.com/zephyrproject-rtos/zephyr/pull/37647 broke SOF builds with Xtensa XCC compiler. Gcc builds still work on (with Zephyr SDK version).

**To Reproduce**
Build SOF with Zephyr as RTOS.

**Expected behavior**
SOF build works.

**Impact**
Severe performance impact as GCC doesn't support xtensa intrinsics.

**Logs and console output**
If applicable,

[2021-09-06 16:11] mrninhvn opened #38351 "Custom radio protocol"
**Describe the solution you'd like**
Some custom protocol like logitech unifying are very interesting, are there any instructions to add to my radio protocol?

[2021-09-06 16:22] kv2019i commented on #38349
We are temporarily disabling XCC builds in SOF CI: https://github.com/thesofproject/sof/pull/4719
This does mean we have no CI testing XCC builds, so risk of further regressions in Zephyr main is now a real risk. Thus this bug should have priority (not just the performance impact, but to ensure we can reenable XCC compilation testing).

[2021-09-06 19:06] alsrgv opened #38352 "IEEE 1588-2008 support"
**Is your enhancement proposal related to a problem? Please describe.**
We would like to implement support of IEEE 1588-2008 time synchronization mechanism using Zephyr.

Our immediate need is to implement masterOnly and slaveOnly clocks for STM32H7 that would synchronize to other IEEE 1588-2008 clocks using traditional off-the-shelf unmanaged switches via delay request/response mechanism. We coul

[2021-09-06 19:27] Thalley commented on #38348
@carlescufi Is there anything in `subsys/bluetooth/audio` that would require a change?

[2021-09-07 02:20] #38019 closed

[2021-09-07 02:41] nashif commented on #3130
@hongshui3000  maybe you should submit your implementation.

[2021-09-07 02:42] ck-telecom opened #38354 "stm32: stm32f10x JTAG realated gpio repmap didn't works"
For stm32f103 series when remap JTAG related GPIO for SPI1 function, it seems didn't works

The pinmux driver seems to need disable JTAG enable SWD and enable RCC->APB2ENR clocks which related gpio port

[2021-09-07 03:24] alsrgv commented on #38352
*Update:*

It looks like if we use L2 transport for PTP and relax timestamping & multicast filtering to not require gPTP (e.g. with change like this: https://github.com/maka-autonomous-robotic-systems/zephyr/commit/5d9ca7b95befd2060477b011ee9dcff134b2887b), we can accomplish the rest of logic in the library/application code:

1. Receive L2 PTP packets using `net_context_get(AF_PACKET, SOCK_RAW, ET

[2021-09-07 03:59] marc-hb commented on #38349
Note Zephyr PR #37647 (or any other Zephyr PR) could have been tested in SOF CI before merge like this:
[code]
https://github.com/thesofproject/sof/blob/e963aa0/scripts/xtensa-build-zephyr.sh

[2021-09-07 06:42] hakehuang commented on #33747
@ainguraXmarquiegui

my gptp_cfg.ini file

[code]

[2021-09-07 06:50] tejlmand commented on #36558
The reason for this behavior is because Zephyr build infrastructure performs it's own toolchain testing regarding valid compiler flags.
On top of this, the testing result is cached. This significantly reduces CMake configure time, as the testing only needs to be carried out one time per each toolchain, and later CMake invocation in any project doesn't need to test the same toolchain again.

This i

[2021-09-07 07:21] jukkar commented on #38352
The changes in that commit look a bit suspicious. IMHO the `CONFIG_NET_PKT_TIMESTAMP` is not proper check here, as that config only tells that the timestamp to be stored in net_pkt struct and that the net_if supports timestamping in the first place. Better would be to create a new config option that sets or depends on the `CONFIG_NET_PKT_TIMESTAMP` option so that it is easier to manage the depende

[2021-09-07 07:33] tejlmand commented on #37660
Been investigating a bit more:
Doing the following works:
[code]

But if I instead do:
[code]
because the `samples/hello_world/nrf52840dk_nrf52840.overlay` is a new file unknown to the build system.
This is identical to adding a new source file where user must update a CMakeLists.txt file to include it.

If adding a new file like: `nrf52840dk_nrf52840.overlay` then it must be ensured that CMake is

[2021-09-07 07:54] alsrgv commented on #38352
Yes, the plan is to handle the time sync logic in the application.

We would love to extend gPTP stack to handle IEEE 1588. What's the best approach for that? gPTP (IEEE 802.1AS) is a restricted subset (profile) of PTP (IEEE 1588), so it seems a bit odd to start extending it to cover PTP use cases.

Perhaps good first step would be to introduce `CONFIG_NET_PTP` option which would be set by `CONFIG

[2021-09-07 07:59] jukkar commented on #38351
For example IEEE 802.15.4 has a radio API described in `include/net/ieee802154_radio.h`, search `ieee802154_radio_api` struct for details. That API separates the L2 protocol layer from the device drivers. You can do things in similar ways in your radio protocol.

[2021-09-07 08:11] jukkar commented on #38352
I am just wondering why introduce duplication as zephyr has already lot of generic PTP code that can be used in IEEE 1588. So personally I feel that it would be better to extend the current gPTP code for IEEE 1588 so that we would get better support for time sync in the upstream code base.

That sounds like a good plan :+1:

[2021-09-07 08:25] gmarull commented on #37660
@tejlmand It looks like I can reproduce the issue on https://github.com/zephyrproject-rtos/zephyr/commit/a56c42574e3e3bb8b1a35913cc38b21479a858d9 but not on `main`, something has happened in between :-)

[2021-09-07 08:26] nwsetec commented on #38272
@nandojve I hit this issue as well and tried your patch above: https://github.com/zephyrproject-rtos/zephyr/issues/38272#issuecomment-912600134
and it works for me, thanks!

[2021-09-07 08:27] maksimmasalski commented on #38237
Created a backport to the 2.6 branch #38358

[2021-09-07 08:28] ibirnbaum commented on #37927
I'm getting the drivers__net related warning with a QEMU target I'm currently working on.

It seems like this is caused by the fact that CONFIG_NETWORKING as the top-level switch for all networking features leads to the inclusion of drivers/net/CMakeLists.txt via drivers/CMakeLists.txt.

The CMakeLists.txt in drivers/net contains three conditional source file inclusions: loopback.c for CONFIG_NET_

[2021-09-07 08:32] PerMac commented on #37475
@nashif What is the status of this issue? I remember that you've mentioned you have some solution for that. Can you post a PR with it?

[2021-09-07 08:51] cvinayak commented on #38316
Periodic Advertising List is work in progress, please try this PR: https://github.com/zephyrproject-rtos/zephyr/pull/38338

[2021-09-07 08:58] rlubos commented on #37735
@icblnk Sorry for the late reply, I was on vacation. Yes, I think it makes sense to return an error in this case, I'll update the PR.

[2021-09-07 09:09] cvinayak commented on #38279
Reproducing the issue and analysis lead to LL_ASSERT(!radio_is_ready()) in lll_conn.c line 324 in the v2.6-branch.

The causes for these can be higher ISR Latencies, which can be due to use of `irq_lock` outside the Bluetooth Controller Subsystem.

Selected (removed some lines) chat communications:

vich yes, addr2line  mentions discriminator 1,  which would means the address can be reached from o

[2021-09-07 09:17] FRASTM commented on #38354
@ck-telecom  Could you please detail the error you are  seeing and the sequence you are applying
Based on the stm32f103 datasheet pins, for the SPI1 are mapped on the PA4, PA5, PA6, PA7

[2021-09-07 09:18] rlubos commented on #37735
Actually, after closer look into the spec and code, I'm leaning towards removing `LWM2M_RES_TYPE_U64` entirely. I don't see an error code in the spec that could be returned to the server in case the value could not be encoded properly which could lead to ambiguity.
Since the LwM2M spec limits the TLV to 8 bytes, making it impossible to encode the full range of `uint64_t` I'm assuming it's not expe

[2021-09-07 09:21] erwango commented on #37895
@r2r0 Now that we've closed the no BLE issue, I'd like to come back on the initial  request:

Do you mean that you'd like CPU2 power states to be selected from CPU1 during BLE operations ?

[2021-09-07 09:39] abrodkin commented on #37862
AFAIK an issue in question was only seen on ARC HSDK (v1 or original) board when Zephyr application that uses UART IRQs was started after auto-started (by boot-ROM) U-Boot. In other words if U-Boot auto-start is disabled by a DIP-switch (or equally U-Boot image was never programmed in the on-board SPI flash) this problem won't be reproduced.

[2021-09-07 09:58] ck-telecom commented on #38354
&spi1 {
	pinctrl-0 = <&spi1_nss_master_pa15 &spi1_sck_master_pb3
			&spi1_miso_master_pb4 &spi1_mosi_master_pb5>;
	status = "okay";
	cs-gpios = <&gpioa 15 GPIO_ACTIVE_LOW>;

	l3g4200d: l3g4200d@0 {
		compatible = "st,l3g4200d";
		label = "GYROSCOPE";
		spi-max-frequency = <8000000>;
		reg = <0>;

		irq-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
	};
};

my board dts show above and when reading chip ID, t

[2021-09-07 10:07] ainguraXmarquiegui commented on #33747
Thanks @hakehuang . That is an AVNU GPTP config file, right?

Let me share my latest test. This is going to be a rather long post. Tonight I have been running three simultaneous tests in order to draw as many conclusions as I can.

The problems I have reported these last few days happened when connecting the mimxrt1050evk to a desktop PC as a ptp master with an intel I210 network card with hardwar

[2021-09-07 11:21] nordic-auko commented on #38259
@nordic-krch ? :)

[2021-09-07 11:42] lyakh commented on #35873
The bug is still there, as also confirmed by @kv2019i Let's keep this issue open until either adsplog.py is fixed or we switch over to sof-logger

[2021-09-07 12:01] niflostancu opened #38362 "soc: ti cc13x2-cc26x2: PM standby + radio interaction regression"
**Description**
Hello, my project uses the TI CC13x2/CC26x2 platform and I have discovered a critical regression regarding power management after upgrading my Zephyr stack: the radio module won't work anymore after a PM Standby state wakeup  (actually, the entire program enters an infinite busy wait inside RFCDoorbellSendTo).

I have identified the root cause to be 65e4add74ecae7281299ffb0a90292e6

[2021-09-07 12:02] kurddt commented on #36017
Is there any chances the changes you want to make (remove some hard-coded logic from common code, change to CDDL-gen, etc ) would be accepted upstream ?

I do see the advantage to move mcumgr to an internal Zephyr service but that also means than any features added to upstream mcumgr would be quite hard to merge back.

I'm also wondering about the compatibility with mcumgr-cli do you plan to have

[2021-09-07 12:11] abrodkin commented on #36254
It turned-out to be not a generic ARC issue, but rather 2 separate problem with 2 boards:
1. HSDK, see https://github.com/zephyrproject-rtos/zephyr/issues/37862
2. IoTDK, see https://github.com/zephyrproject-rtos/zephyr/pull/37707

[2021-09-07 12:11] #36254 closed

[2021-09-07 12:13] tejlmand commented on #37660
This commit fixed the issue:
https://github.com/zephyrproject-rtos/zephyr/commit/e78b0785b3bd20889823bb7edee40d109b28c871

which makes sense because a default value in Kconfig is not updated if the setting is having a prompt.

[2021-09-07 12:14] #37660 closed

[2021-09-07 12:33] ruuddw opened #38363 "Add power management support to applicable SoCs"
ARC SoCs currently do not implement the system power management framework, only (always) use the _sleep instruction in idle.
For certain applications/SoCs that's not enough, see e.g. #36254 and #37707.

The Zephyr power management framework could be used to support different ARC/SoC sleep states, and prevent going to a sleep mode when the e.g. UART is active and waiting for an interrupt, instead o

[2021-09-07 12:42] stephanosio commented on #37608
@nordic-krch Have you had a chance to look into this?

[2021-09-07 12:51] nordic-krch commented on #37608
No, didn't yet look into it. Will take a look in upcoming days.

[2021-09-07 12:52] jsiverskog commented on #38279
thanks for looking into this.

reducing/removing `irq_lock` seems to solve the issue.

[2021-09-07 12:52] #38279 closed

[2021-09-07 12:53] #35429 closed

[2021-09-07 12:54] niflostancu commented on #38362
Actually, I see that the hal_ti's `Power_setConstraint` / `Power_releaseConstraint` is used through its driver lib and should be properly respected... I don't know which would be the best way to integrate it with Zephyr's PM constraint API in order to avoid all possible race conditions... maybe add a platform-specific constraints hook?

[2021-09-07 12:59] erwango commented on #37206
Closing for now as too complex vs gain.

[2021-09-07 12:59] #37206 closed

[2021-09-07 13:41] de-nordic commented on #36017
I don't know. We may try to push them there, but lack of acceptance upstream will not block us here.

Yes, they will have to be ported. Note that it may be easier for us to bring things here or reimplement as we will have full control.

No, rather not. The current feature set of mcumgr-cli will keep working; bringing new features, added to Zephyr, to the mcumgr-cli will depend on the person that i

[2021-09-07 13:55] jakub-uC commented on #38259
If you wish to disable VT100 characters you can try to use `Kconfig` option:
`CONFIG_SHELL_VT100_COMMANDS=n`

[2021-09-07 14:00] ycsin opened #38365 "drivers: gsm_ppp: gsm_ppp_stop fails to lock tx_sem after some time"
**Describe the bug**
I'm working on my [branch ](https://github.com/ycsin/zephyr/blob/develop/drivers/modem/gsm_ppp.c)which has my DTS conversion, on/off modem plus modifications for Quectel to work so it is not exactly upstream, but it's close. My application turn the modem on and off frequently, and usually at third attempt, the `gsm_ppp_stop` would [fail to perform TX lock](https://github.com/y

[2021-09-07 14:03] ycsin commented on #38365
@mniestroj @jukkar @rlubos Any idea?

[2021-09-07 14:10] ycsin commented on #38259
@jakub-uC I guess the way to do it per instance is to make it a flag?

[2021-09-07 14:46] carlescufi commented on #38351
@mrninhvn if what you are looking for is raw 2.4GHz access to the radio to implement a radio protocol, then I recommend looking at Nordic's implementation of ESB here: https://github.com/nrfconnect/sdk-nrf/tree/master/subsys/esb
There's also a PR to add Gazell support: https://github.com/nrfconnect/sdk-nrf/pull/5281

[2021-09-07 14:47] nashif commented on #37946
closing as intentional, test code.

[2021-09-07 14:47] #37946 closed

[2021-09-07 14:47] nashif commented on #37945
closing as intentional, test code.

[2021-09-07 14:47] #37945 closed

[2021-09-07 14:50] nashif commented on #37944
closing as intentional, test code.

[2021-09-07 14:50] #37944 closed

[2021-09-07 15:09] rlubos commented on #38017
False-positive, the initial offset value is initialized with a header len (which is sanitized), and then on each iteration, it is verified whether the decoded option length does not exceed the received datagram length within the `read()` function.

[2021-09-07 15:09] #38017 closed

[2021-09-07 16:13] carlescufi commented on #38348
API meeting:

- The version of the specification that replaces the terms with inclusive ones is 5.3
- All Bluetooth subsystems will claim compliance with the 5.3 version of the spec in Zephyr 2.7.0
- General consensus is to allow for the change, as long as it only involves replacing the terms and is well documented in the release notes for 2.7.0
- Requires TSC approval

[2021-09-07 16:20] krobotics commented on #38264
I was thinking along these lines but overlooked the simplicity. I even pointed out enabling TXC with DRE. I tested your changes and they worked for me I am going to close out my issue as you have a better solution.

[2021-09-07 16:20] #38264 closed

[2021-09-07 16:48] ABOSTM commented on #38277
Duplicate of #34732

[2021-09-07 16:48] #38277 closed

[2021-09-07 16:51] stephanosio commented on #38044
In case of Cortex-M33 (ARMv8-M), `CONFIG_MPU_REQUIRES_POWER_OF_TWO_ALIGNMENT` is `n` and static allocation of the newlib heap area using `CONFIG_NEWLIB_LIBC_ALIGNED_HEAP_SIZE` is not done; instead, we use the leftover SRAM area for the newlib heap.

For `nrf9160dk_nrf9160_ns`, the leftover SRAM area is less than the minimum required size specified by `CONFIG_NEWLIB_LIBC_MIN_REQUIRED_HEAP_SIZE` hen

[2021-09-07 17:11] cfriedt commented on #38259
@ycsin - it sounds as though you have found a workaround, so I'm going to close this. If you would like to continue discussion here, that's fine.

[2021-09-07 17:11] #38259 closed

[2021-09-07 17:24] #38351 closed

[2021-09-07 17:30] cfriedt commented on #38202
@jhfigueiredo - please continue in the original discussion.

[2021-09-07 17:30] #38202 closed

[2021-09-07 17:31] rerickson1 commented on #38245
@lairdjm can you help with this?

[2021-09-07 17:31] cfriedt commented on #33882
@cvinayak - will this be backported?

[2021-09-07 17:32] cfriedt commented on #38144
@ABOSTM - are you able to look into this?

[2021-09-07 17:34] dcpleung commented on #36263
I can't see anything wrong by skimming through the code. Will need to debug to see what is going on.

[2021-09-07 17:44] cfriedt commented on #38196
@rlubos - would you mind crafting a PR out of the proposed fix?

[2021-09-07 17:51] cfriedt commented on #38214
@JordanYates, @galak - if there is no clear solution right now, we will have to revert the commit.

[2021-09-07 17:54] cfriedt commented on #38216
@iuliana-prodan, @dbaluta - are you able to look into this?

[2021-09-07 17:56] cfriedt commented on #38181
@mbolivar-nordic - are you able to have a look at this?

[2021-09-07 17:57] #36552 closed

[2021-09-07 17:58] cfriedt commented on #36552
@nwsetec - please reopen if the issue persists.

[2021-09-07 18:05] jakub-uC commented on #38259
It is not a workaround because it applies to all backends at the same time. I am working on a fix that will solve this issue.

[2021-09-07 18:07] jakub-uC commented on #38170
@MarekPikula Please let me know if we can close this?

[2021-09-07 19:07] sambhurst opened #38371 "Port the Google ChromeOS USB-C Stack to Zephyr"
## Introduction

Add a USB-C subsystem to Zephyr that provides a mechanism for developers to create Type-C and Power Delivery applications.

**Requirements:**
- The USB-C subsystem is designed against the following specifications:
  - USB Type-C Port Controller Interface Specification, Revision 2.0, Version 1.2
  - USB Type-C Specification, Release 2
  - USB Power Delivery Specification, Revision

[2021-09-07 19:32] keith-zephyr commented on #18579
This [github issue](https://github.com/zephyrproject-rtos/zephyr/issues/38371) has been created that will cover the work of moving Google's USB-C stack to Zephyr.   We welcome comments and suggestions.

[2021-09-07 19:41] dcpleung commented on #37456
Do you have a particular sample that I can use to figure out what is going on? The root node is actually using the ELF file's sections to calculate its size instead of the sum of its children. In your case, it is possible that the script is double counting some sections.

[2021-09-07 22:41] bob2oneil opened #38376 "Raw Socket Failure when using 2 Raw Sockets and zsock_select() statement - improper mapping from sock to handlers"
**Describe the bug**
I have a raw socket implementation on 2 virtual Ethernet interfaces using the Native-POSIX board target.  The raw socket associated with the standard Ethernet interface, which also includes standard UDP and TCP listen sockets,  no longer works properly with the latest Zephyr build as of Sept 7th, but I have observed this issue in previous versions.

What appears to happen is a

[2021-09-08 00:05] andyross commented on #37830
This works for me in current main.  Might potentially have been fixed by the multiprocessing PR that just went in?  Can you retest?

[2021-09-08 00:06] nashif commented on #36734
@jcpince can you submit this as a PR please?

[2021-09-08 00:18] andyross commented on #36089
Closing this.  Support for all four cores is present and works on TGL through all the core tests.  The default CONFIG_MP_NUM_CPUS setting is still 2 though, out of conservatism (not wanting to expose bugs in the test suite late in a release cycle), and the fact that existing SOF topologies only want to exercise two cores anyway.

[2021-09-08 00:19] #36089 closed

[2021-09-08 00:19] andyross commented on #36088
Fixed and merged.  Closing this.  Seems like in those 19 patches or whatever that I might have remembered to include a "Fixed:" header, but apparently I didn't.

[2021-09-08 00:19] #36088 closed

[2021-09-08 00:27] andyross commented on #35873
Is this really still happening?  As I read it, current SOF builds with USE_PRINTK, so it's just forwarding to printk(), which has its own synchronization as long as CONFIG_PRINTK_SYNC is defined (which it is).  So it's logging the same way the upstream test suite is, and that's just not showing anything like this.  I'm wondering if maybe you have a stale adsplog.py or something?

[2021-09-08 00:28] #36256 closed

[2021-09-08 00:29] andyross commented on #35857
Works for me on both cavs15 and cavs25 as of current main.  Retest?

[2021-09-08 03:22] hakehuang opened #38378 "drivers.uart.cdc_acm: need define scripts to check the result to make it work in CI"
**Is your enhancement proposal related to a problem? Please describe.**
drivers.uart.cdc_acm is a usb driver cdc class testing, we need setup another usb console to communicate with

**Describe the solution you'd like**
current test framework does not have such interfaces

**Describe alternatives you've considered**
No.

**Additional context**
We need create a script to open addition console and c

[2021-09-08 03:26] hakehuang commented on #38186
this issue is still in 2.7.0-RC1

[2021-09-08 04:32] alsrgv commented on #38352
Raised a PR: #38379. Would appreciate guidance to make it better!

[2021-09-08 04:39] hakehuang commented on #33747
Yes, I never use linuxptp to do the test, I guess this would not that compatible. can you try the AVNU GPTP?

[2021-09-08 05:13] nordic-krch commented on #38268
@palchak-google the case you described is not a bug. packet buffer has `buf_size - 1` words capacity. This 1 word gap is used to distinguish between buffer empty and full state. Because of that buffer has 3 packets initially when 4th packet is being put then oldest one is dropped to maintain this one word gap between tail and head. Now, when oldest packet is claimed and new one is pushed then when

[2021-09-08 05:17] nordic-krch commented on #38268
See the description for allocation when packet is claimed: https://docs.zephyrproject.org/latest/reference/data_structures/mpsc_pbuf.html#allocation-with-overwrite

[2021-09-08 05:32] nordic-krch commented on #38268
See #38380

[2021-09-08 06:06] kevin137 commented on #33747
Hi @hakehuang

We started with Avnu and continue to experiment with it, but have found that linuxptp works better on the various platforms we are using as masters and grandmasters. I assure you that we are using hardware timestamping--if you look inside the various config files that @ainguraXmarquiegui has uploaded, all have `network_transport	L2`

[2021-09-08 06:45] nordic-krch commented on #37608
Looking at it a bit, as mentioned above, it does not look like a logging issue. Issue occurs after enabling stack sentinel.

@ioannisg any ideas?

[2021-09-08 07:02] erwango commented on #38144
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/38163

[2021-09-08 07:02] #38144 closed

[2021-09-08 07:22] ainguraXmarquiegui commented on #33747
@hakehuang see my quote from my previous post:

All the masters I am using support hardware timestamping. This is the full list:

Laptop with Intel I219-LM:

[code]

Desktop with Intel I210:

[code]

Espressobin:

[code]

I will now write a new post reporting the tests that have been running tonight.

[2021-09-08 07:55] ainguraXmarquiegui commented on #33747
After running the tests tonight with the very latest linuxptp codebase on both the Laptop master aswell as the espressobin master, results have been similar to what we saw on my previous test. mimxrt1050_evk behaves noticeable worse than the frdm_k64f system.

* laptop master logs:
  * [04-mimxrt1050evk-slave.log](https://github.com/zephyrproject-rtos/zephyr/files/7126838/04-mimxrt1050evk-slave.lo

[2021-09-08 08:41] rlubos commented on #38109
The init function is a simple memset, and the structure provided to the function is of correct type - false-positive, likely some configuration mismatch.

[2021-09-08 08:41] #38109 closed

[2021-09-08 08:41] rlubos commented on #38111
The init function is a simple memset, and the structure provided to the function is of correct type - false-positive, likely some configuration mismatch.

[2021-09-08 08:41] #38111 closed

[2021-09-08 08:41] rlubos commented on #38110
The init function is a simple memset, and the structure provided to the function is of correct type - false-positive, likely some configuration mismatch.

[2021-09-08 08:41] #38110 closed

[2021-09-08 08:47] rlubos commented on #38118
It is verified at [line 117](https://github.com/zephyrproject-rtos/zephyr/blob/fe2014ae1f4a7861771f86d500ac516fb5f59776/tests/net/context/src/main.c#L117) that the net_context was correctly obtained and the pointer is not null. If it's null, the test is aborted.

[2021-09-08 08:47] #38118 closed

[2021-09-08 08:48] FRASTM opened #38382 "stm32 uart finishes Tx before going to PM"
**Describe the bug**
On the stm32, when the PM is enabled, the testsuite **tests/kernel/tickless/tickless_concept** cannot ends properly when running with the twister script
Even if the test is running successfully,  the twister is not really ended, the  `PROJECT EXECUTION SUCCESSFUL` is missing.
The `end_report()` function of the subsys/testsuite/ztest/src/ztest.c cannot display the _result_ line

[2021-09-08 08:48] rlubos commented on #38196
@cfriedt Yes, I have the issue on my list to look into.

[2021-09-08 09:00] FRASTM commented on #38382
First fix was found on the tessuite with  the https://github.com/zephyrproject-rtos/zephyr/pull/38299.
But it is not valid

[2021-09-08 09:14] FRASTM commented on #38382
When analysing the log, it appears that the other PM_DEVICE_ACTION than PM_DEVICE_ACTION_SUSPEND was not handled correctly.
Especially, the PM_DEVICE_ACTION_LOW_POWER should be handled like the PM_DEVICE_ACTION_SUSPEND.waiting for the Tx completion. Then the uart device is left unchanged, like for other PM_DEVICE_ACTION_   states.

Thats 's the reason why the twister  testsuite execution cannot en

[2021-09-08 09:39] jcpince commented on #36734
Not sure this is a good idea, I wrote a patch to fix the issue that was occurring to me but I'd like to know if sending signals between the main thread and a cmsis thread is expected...
If it is expected to be ok, my patch my serve as a basis; if not, you should probably symply fail on the CMSIS APIs when not dealing with a cmsis thread.

[2021-09-08 09:44] carlescufi commented on #35945
This is valid, running this internally first.

[2021-09-08 09:49] carlescufi commented on #34659
Can you please attach the trace once you have it?
Also, could you please add more information about the SBC/Linux board that shows the symptoms? SoC, kernel version, bluez version USB controller, etc. @jfischer-no suspects the Host USB controller to be at fault, so it'd be good to rule that out if it's not the case.

[2021-09-08 09:50] carlescufi commented on #37436
@emob-nordic can we close this now?

[2021-09-08 10:58] emob-nordic commented on #37436
Resolved by: #37503

[2021-09-08 10:58] #37436 closed

[2021-09-08 11:19] r2r0 commented on #37895
IMHO implementation should allow to obtain lowest possible power consumption.
When there are requested Zephyr PM states which cause lost of context i.e. PM_STATE_SOFT_OFF (mapped to MCU SHUTDOWN mode) then it can be assumed that user consciously wants to stop any application activity and then mode requested from CPU1 should force requested system state (and mode on CPU2).
For other low-power modes

[2021-09-08 11:53] ainguraXmarquiegui commented on #33747
@hakehuang , are you sure you shared the correct avnu gptp config file on [this post](https://github.com/zephyrproject-rtos/zephyr/issues/33747#issuecomment-914035073)?

There's no way I can get the 1050 to work with `neighborPropDelayThresh = 800`

If I increase it to `neighborPropDelayThresh = 50000` I can get the imxrt1050_evk to sync.

I will run the test with the same value we are using for l

[2021-09-08 12:46] rlubos commented on #37730
Yes, closing a socket caused the blocked threads to unblock immediately, it was specifically implemented that way: https://github.com/zephyrproject-rtos/zephyr/commit/9975f7b85451d62b06a6636eba8830af607fc853#
However, you are right this could cause race conditions if the underlying `net_contex` or sockfd was reused before the blocked thread could run.

This sounds like a reasonable way to handle t

[2021-09-08 13:10] tbursztyka commented on #17902
Guys, a heads up on this one: there seems to be a few (very few) use cases where using a generic SPI controller to access a qspi flash might be necessary. (unlike existing qspi flash driver that are targeting a dedicated qspi flash controller)

So I'll probably revive #20564, once #38386 is good to be merged, and rework it relevantly.

[2021-09-08 13:14] manoj153 commented on #22748
do we have any plan to support  boot-time gpio direction setting capability?

Possible benefits :
- the user does not have to invoke alike API `gpio_pin_configure_dt()` on each pin in the source code.
- if a wrong operation is carried out,  returns an error, eg: invoking `gpio_pin_set()` on an `input` pin and vice-versa

while doing some google-ing found that linux might have such a feature covere

[2021-09-08 13:28] #38349 closed

[2021-09-08 13:29] #38332 closed

[2021-09-08 13:41] galak commented on #38214
I think we should revert it for now.

[2021-09-08 13:52] erwango commented on #38382
Here is the back trace:
[code]
What is not clear to me is why we're receiving PM_DEVICE_ACTION_LOW_POWER as suspend request.
This case is not handled in none of the drivers today, so we're returning -ENOTSUP.
(And for some unclear reason, as a consequence, test case is failed when run through twister.)

@ceolin can you have a check?
Seems there is a disconnection between System PM device and devic

[2021-09-08 13:55] ruuddw commented on #38309
Thanks Nick, for not only reporting the issue but also debugging and suggesting a fix.
Indeed the implicit assumption in the switch code is that a fake interrupt return can be done using the RIRQ. But, if the hardware is configured with only 1 priority (which is not very common, usually there are at least 2 levels), the rtie will follow the FIRQ sequence. We'll need to check if there are other cor

[2021-09-08 14:08] gmarull commented on #38382
One problem I see here is that the device driver is not using the PM callback to implement actual power management, but rather busy waiting until transmission has finished. There should be a way to tell the system PM to not run in such cases.

[2021-09-08 14:17] gmarull commented on #22748
I guess it would be a matter of adding `pinctrl` entries to the GPIO node itself, e.g.

[code]

[2021-09-08 14:28] #38323 closed

[2021-09-08 14:28] #37950 closed

[2021-09-08 14:32] #38044 closed

[2021-09-08 14:35] dbaluta commented on #38216
@cfriedt will have a week in the following days! Thanks for  your patience.

[2021-09-08 14:36] carlescufi commented on #30694
@gmarull please follow-up with a list of Kconfig options that we think should be disabled by default on all boards, so that @mbolivar-nordic can work on the script.

[2021-09-08 15:00] ceolin commented on #38382
@erwango sure thing. Checking it now.

[2021-09-08 15:02] iuliana-prodan commented on #38216
Hi @galak,

Can you, please, let me know, how did you get these errors?

I've just built Zephyr for SOF and is successful:

[code]
When running the ./scripts/twister I get the:
[code]

But how can I reproduce the errors I see above, the ones from here:
[code]

[2021-09-08 15:07] nashif commented on #37239
@firscity  This will have to wait for main branch to reopen in 2 weeks, it will not be part of 2.7.

[2021-09-08 15:13] firscity commented on #37239
Dear @nashif, okay, thank you for updates. Please tag me here or in PR when time will come - I will rebase my changes.

[2021-09-08 15:17] ceolin commented on #38382
The driver was handling `PM_DEVICE_STATE_LOW_POWER` until 495672ab623f7a4301a6bb7b5765ee48a7a13884

[2021-09-08 15:19] ceolin commented on #38382
I will restore it, while the discussion around having a low power state or not continue.

[2021-09-08 15:39] dbaluta commented on #38216
@iuliana-prodan have you tried `./scripts/twister -p nxp_adsp_imx8`. I think it is trying to build nxp target with different config option. A thing that definitely SOF hasn't been tested enough.

[2021-09-08 15:40] gmarull commented on #38382
The proper way to fix this problem, I think, is to use the `pm_constraint_set` API. The UART driver is using the PM callback to block until it finishes TX, meaning that in such device state, the system should never have triggered the transition to a low power state. The PM callback doesn't really do any power management (device is left ON and consuming the same power), so it's an API misuse. Addin

[2021-09-08 15:48] iuliana-prodan commented on #38216
@dbaluta Yes, I've tried and I mentioned that above.

@galak I can see those errors now, I just need to look in each` build.log` from `twister.out` folder.

[2021-09-08 16:01] erwango commented on #38382
There are more drivers doing so. For instance:
https://github.com/zephyrproject-rtos/zephyr/blob/293af9e8237b28d9ae21037c3ccf48e77861b463/drivers/serial/uart_npcx.c#L446-L453

So I think problem is not in one driver only, we need to review all drivers that were impacted by 495672a , and that potentially introduced a desync between existing drivers implementation and new system PM expectations.

[2021-09-08 16:09] ceolin commented on #38382
Agree, we can go a revisit all drivers implementation and fix them one by one. But that pr deliberately removed the capability for handle low power from drivers. Breaking them. @gmarull  agree with you that this driver is probably not doing pm properly. But we need to be careful with the constraint since it will affect the whole system, and it may be a valid case when the system goes to stand by a

[2021-09-08 16:13] gmarull commented on #38382
That statement is not correct. https://github.com/zephyrproject-rtos/zephyr/commit/495672ab623f7a4301a6bb7b5765ee48a7a13884 just fixes PM callback usage. The fact that  https://github.com/zephyrproject-rtos/zephyr/commit/495672ab623f7a4301a6bb7b5765ee48a7a13884 uncovered some API misuses/bugs it's a different story.

@gmarull agree with you that this driver is probably not doing pm properly. But w

[2021-09-08 16:28] erwango commented on #38382
I wonder if this really has to be done inside driver.
So there's only need to do that on TX (as we can't control RX anyway).
For IRQ transitions case , we can control IRQ flags, as done in TI driver.
But for TX not interrupt driven, how can driver properly release the constraint ?

[2021-09-08 16:49] ceolin commented on #38382
[code]
That pr clearly changed the states that this driver was handling. Not that this particular way to handle state is not particular wrong, the driver specific implementation can be, but the way it is was handling states not. So, from my perspective the pr broke it.

[2021-09-08 20:31] gmarull commented on #38382
@erwango @FRASTM I've setup a nucleo-wb55rg board to reproduce the problem in the same exact conditions.

I see that the problem doesn't happen in I do this:

[code]

So it looks like the `uart_stm32_poll_out` is not fully synchronous, it can return without the transfer being complete. I guess that under some conditions, this function gets called, transmission is not yet finished, but the idle thr

[2021-09-08 20:43] henrikbrixandersen opened #38396 "RISC-V privilege SoC initialisation code skips the __reset vector"
**Describe the bug**
The current `__start` vector in `soc/riscv/riscv-privilege/common/vector.S` directly calls `__initialize` after setting up the machine trap vector and thus skips any `__reset` vector for custom reset handling code.

The RISC-V linker script (`include/arch/riscv/common/linker.ld`) includes a `reset` section for that purpose, and a RISC-V `__reset` stub (enabled by setting `CONF

[2021-09-08 21:06] gmarull commented on #30694
It's hard to tell the minimum defaults, since it may be platform-specific. As I mentioned, I think the bare minimum would be gpio, pinmux and uart (as noted, uart because it's usually how all samples/tests are _observed_).

Some options that are not minimal:

[code]

[code]

[code]

[code]

I think it will be hard to come up with a script that solves all cases...

[2021-09-08 22:25] ceolin commented on #38362
Urghh, you are right about respect the platform constraint. Restore the policy would work and is the simplest thing to do, but works only in one direction - Constraints set in the driver.  Constraints set using Zephyr API are meaningless to the driver.
The hooks seem to much but may be the most flexible solution to interchangeable constraints

[2021-09-09 00:06] ceolin commented on #38362
@niflostancu Unfortunately I don't have two compatible boards to reproduce exactly this test. Can you check if this branch  https://github.com/ceolin/zephyr/tree/issue/38362 works ?

[2021-09-09 00:15] 1hannah11 opened #38398 "DT_N_INST error for TMP116 sample"
TMP116 sensor sample is unable to compile due to what seems to be an issue finding the tmp116 device driver. I am currently trying to compile for the BBC microbit_V2. However I additionally have tried to compile for the Nucleo STM32F401RE board which is the tested board for the sample. Both fail with the the same error.
Running on Ubuntu VB from Windows, compiling using west.

The error message re

[2021-09-09 00:25] yerabolu opened #38400 "mec15xxevb_assy6853: arm_ramfunc and arm_sw_vector_relay tests timeout after the build"
**Describe the bug**
arch.arm.ramfunc.arm_ramfunc and arch.arm.sw_vector_relay.arm_sw_vector_relay tests are failing due to timeout
[build.log](https://github.com/zephyrproject-rtos/zephyr/files/7132442/build.log)

What have you tried to diagnose or workaround this issue?
Increased the timeout to 100 n 1000 to see if it's a timing issue. But still, the tests timeout after the build.

**To Reproduc

[2021-09-09 00:39] andyross commented on #38214
I'm just noticing this now.  FWIW: the correct solution here (to having a section that links far from another) is to emit it to a separate ELF phdr, which avoids the need to pad.  But that requires changing a bunch of linker scripts.

[2021-09-09 01:29] #38214 closed

[2021-09-09 03:57] cameled commented on #37827
Looks that's a random success, STM32Programer is not the key.

[2021-09-09 05:39] cvinayak commented on #38316
@Thalley Does the host support synchronization from periodic advertising lists?

Shouldn't this check addresses in the list? https://github.com/zephyrproject-rtos/zephyr/blob/f50574a6a0773e74efb468265ac94cdbabeb97c1/subsys/bluetooth/host/scan.c#L696-L702

[2021-09-09 05:56] hakehuang commented on #33747
I am using to to against my rt1060_evk.

[2021-09-09 06:14] ainguraXmarquiegui commented on #33747
Can you share more details about the system you are running it on, how both systems are connected and some logs? I find it impossible to make that configuration work on my setup.

Are there any significant differences between the rt1060_evk and the rt1050_evk that could explain that difference?

[2021-09-09 06:40] hakehuang commented on #33747
no, big differences. let me share my screen shot

[2021-09-09 06:58] aescolar commented on #38153
Closing as this question would seem to be answered now. If that is not the case, please reopen the issue.

[2021-09-09 06:58] #38153 closed

[2021-09-09 07:14] benediktibk opened #38401 "Builds fail due to a proxy error by launchpadlibrarian"
Builds fail reproducible during the step "Run coding guidelines checks on patch series (PR)" -> "Install Packages":
https://github.com/zephyrproject-rtos/zephyr/pull/38029/checks?check_run_id=3553183772

The URI https://launchpadlibrarian.net/484859880/coccinelle_1.0.8~20.04npalix1_amd64.deb seems to be down for me as well, so not really a zephyr issue. But as it blocks the CI I thought it might b

[2021-09-09 07:19] ainguraXmarquiegui commented on #33747
Time to report the last debug session. I have interesting findings this time.

Tonight I have run two parallel tests:

* Desktop PC with Intel I210 as a master running linuxptp with `tx_timestamp_timeout    40` and mimxrt1050_evk slave
* Desktop PC with Intel I210 as master running AvnuGPTP and mimxrt1050_evk slave

### linuxptp

* linuxptp version: 3.1-00108-g27bc9d5
* [ptp4l configuration](https

[2021-09-09 07:21] erwango commented on #38382
That was indeed my point.
For sure, the change you propose will solve the issue in non IRQ driven case. Though, I wonder about the conrtact with API and impact on users.
[code]
To me, API description seems clear that this function is not meant to be synchronous.
If it was implicit that we should only exit once transmission is complete, then why bothering checking if the transmitter is empty ? Look

[2021-09-09 07:32] nvlsianpu opened #38402 "module: MCUboot module missing fixes available upstream"
**Describe the bug**
Due the fact that we were unable to do synchronization (by regular upmerge) with the upstream MCUboot the zephyr-fork didn't received many fixes which are relevant to current version.
Regular upmerge was impossible as relevant upstream mcuboot SHA requires at last newer version of TFM module than we have.

issues which have fixes available upstream:
- increased single thread p

[2021-09-09 07:33] gmarull commented on #38382
It would also introduce too much overhead if `LL_USART_IsActiveFlag_TC` is used for every byte, so it's definitely not an option. It is sufficient to way for TXE. In such case, for the polling path, there's probably no other way than blocking before entering LP mode. Still, the IRQ/DMA path should make use of constraints to avoid starting unnecessary system PM transitions.

[2021-09-09 07:49] kurddt commented on #38401
Same here: https://github.com/zephyrproject-rtos/zephyr/pull/37539/checks?check_run_id=3553068436

[2021-09-09 07:58] Thalley commented on #38316
Yes, that is actually still missing. Basically we need to implement this paragraph:

So if the option to use the list is set, then we shall ignore the address parameters and instead either just accept it, or store the list in the host and validate whether the address of the event is in the list. The former is the simpler solution, and I am not sure if we need to validate the address in the host.

[2021-09-09 08:31] gmarull commented on #38382
I've just checked and `npcx` driver was explicitly checking for the suspended state, so behavior is not changed in that case. I wonder how it ever worked, though, since they seem to use a `PM_STATE_SUSPEND_TO_IDLE` which triggers the "low power" state. After checking `npcx` driver, I see that they can solve the case by using constraints for all cases, since polling doesn't uses FIFO buffer. The ST

[2021-09-09 09:14] tejlmand opened #38403 "Cleanup `No SOURCES given to Zephyr library` warnings"
The https://github.com/zephyrproject-rtos/zephyr/pull/37512 cleanup PR created several new Zephyr libraries instead of adding sources to libzephyr.a.

Unfortunately, this also results in some libraries not having sources added to them in certain Kconfig combinations, resulting in the following warning being printed:
[code]

**Expected behavior**
No warning being printed

**Impact**
Annoyance, and

[2021-09-09 09:17] Thalley commented on #38403
Related to https://github.com/zephyrproject-rtos/zephyr/issues/37770

[2021-09-09 10:19] JordanYates commented on #38181
This was slightly inaccurate. `gen_handles.py` is not getting ALL dependencies, but it does iterate upwards through dependents until it finds a device that actually exists in the final binary. For the following tree:

[code]
If both `d1_0` and `d1_1` resolve to devices, only `d1_0` and `d1_1` will be in the output array. But if `d1_0` is not present, the output array will be `d2_0`, `d2_1`, `d1_1`

[2021-09-09 10:42] benediktibk commented on #38401
Uri seems to be working for me again, gave it another try with the CI.

[2021-09-09 10:44] benediktibk commented on #38401
Looking good again:
https://github.com/zephyrproject-rtos/zephyr/pull/38029/checks?check_run_id=3555136964

[2021-09-09 10:44] #38401 closed

[2021-09-09 10:45] benediktibk commented on #37876
Pull request has been merged: https://github.com/zephyrproject-rtos/zephyr/pull/37875

[2021-09-09 10:45] #37876 closed

[2021-09-09 10:52] galak opened #38405 "samples/philosophers/sample.kernel.philosopher.stacks fails on xtensa"
`./scripts/twister -s samples/philosophers/sample.kernel.philosopher.stacks -a xtensa -l`

Gets:

[code]

Log has:
[code]

[2021-09-09 11:01] galak commented on #38398
Have you added the ti,tm116 to the devicetree for those boards?

[2021-09-09 11:05] wbober commented on #21119
@hongshui3000 Yes, that was supposed to be a feature but turned out to be an issue that has hit users hard. We already have a workaround: if you use a manual toolchain installation we won't override the terminal environment. For a more complete solution we would like to introduce a separate terminal profile for NCS and leave the default one unmodified.

Feel free to open issues on https://devzone.

[2021-09-09 11:25] carlescufi commented on #37731
Potential solution:
- New cmd buffer pool dedicated to the Host Number of Completed Packets, with a count equal to the `CONFIG_BT_CTLR_RX_BUFFERS`
- Set the new cmd buffer pool item size to the size of this particular command, which is quite small

Alternative:
- Keep a counter in the hci sample that tracks the Host Num Complete count, and not allocate a cmd buffer at all. This could be processed

[2021-09-09 12:04] sylvioalves commented on #38258
I'll check and get back soon.

[2021-09-09 13:43] carlescufi commented on #21119
https://www.rajeevpiyare.com/posts/nrfconnect-vs-code/

[2021-09-09 13:48] mniestroj commented on #37730
There are plenty of offloaded drivers in the Zephyr tree already and none of them support shutdown() currently. For now, for HTTP we can print an error log in timeout handler (https://github.com/zephyrproject-rtos/zephyr/pull/38034/commits/5c4b6093b969afc3ae6d6e61ec6e9ccb1a60144d) when shutdown() fails because it is not supported. This will at least notify HTTP library users why haven't the timeou

[2021-09-09 13:49] galak commented on #38403
It seems like there are two possible approaches from a Kconfig point of view.

1. introduce some form of `<FOO>_HAS_DRIVER` that gets selected by all the driver Kconfig symbols and is used to build the dir/lib.  (See `SERIAL_HAS_DRIVER` for example)
2. rework Kconfig's so things are menuconfig for each driver class, etc).  Has ripple in how various boards/soc's have been selecting drivers

[2021-09-09 13:50] benediktibk opened #38414 "Build of http client fails if CONFIG_POSIX_API=y"
**Describe the bug**
It is not possible to use CONFIG_POSIX_API together with the http client library.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate for instance for samples/net/sockets/http_client CONFIG_POSIX_API
2. Build the example for a non-posix board, e.g.: west build -p auto -d build samples/net/sockets/http_client/ --board=stm32h735g_disco
3. zephyr/samples/net/sockets/ht

[2021-09-09 13:52] manoj153 commented on #30921
change the binary?

[2021-09-09 14:03] benediktibk commented on #38414
PR: #38415

[2021-09-09 14:20] pathnirvana opened #38417 "Add support for WeAct-F401CC board"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
Weact f401cc board is the most common, most available, lowest cost and and hence most easily accessible stmf4 board. Yet zephyr does not support this board. I tried compiling and running zephyr samples on this board by modifying the f401ce (not available anywhere to purchase)

[2021-09-09 14:25] PerMac opened #38418 "twister: Remove toolchain-depandat filter for native_posix"
**Is your enhancement proposal related to a problem? Please describe.**
Native_posix uses "host" toolchain when building, i.e. it doesn't depend on toolchains like "zephyr" nor "gnuarmemb"  https://github.com/zephyrproject-rtos/zephyr/blob/main/cmake/verify-toolchain.cmake#L31. However, twisterlib.py contains filter checking if env var ZEPHYR_TOOLCHAIN_VARIANT matches any of the toolchains listed

[2021-09-09 14:25] PerMac commented on #38418
cc @carlescufi @tejlmand

[2021-09-09 14:30] ABOSTM opened #38421 "HardFault regression detected on Cortex-M0+ following Cortex-R introduction"
**Describe the bug**
A bunch of tests are now reported failed on Cortex-M0+ based board (nucleo_g071rb, nucleo_l073rz).
Regression occurs since merge of Cortex-R PR: https://github.com/zephyrproject-rtos/zephyr/pull/28231/

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_g071rb tests/kernel/mutex/mutex_api/
2. west flash
3. See error

**Logs and console output**
[

[2021-09-09 14:31] ABOSTM commented on #38421
**Analysis**
Regression has been introduced in arch\arm\core\aarch32\userspace.S
by e0bed3b989ef95952c8474fabb551c01e8d7ae16 "arch: arm: cortex_r: Add MPU and USERSPACE support"
(PR #28231)

It introuced unintended ASM instruction "    msr PSP, ip" for CONFIG_ARMV6_M_ARMV8_M_BASELINE:
code :
[code]

as been replaced by

[code]

Thus "msr PSP, ip" is present to all arch expect cortex-R whereas it w

[2021-09-09 15:17] ABOSTM commented on #37119
@FRASTM, Hardfault on  stm32g071rb nucleo board is not link to the current issue (see issue 38421)

[2021-09-09 15:30] niflostancu commented on #38362
Hi, I tested your solution.

You reversed the logic of `pm_constraint_get`:
[code]
It needs to return true if the state is allowed, so DISALLOW needs to be UNSET.
If I make these changes, it works as desired:
[code]

[2021-09-09 15:58] ceolin commented on #38362
last time changes : / Cool. Let me fix it and move forward.

[2021-09-09 16:01] #37159 closed

[2021-09-09 16:01] mountaindrew1959 commented on #26051
I just updated my Zephyr libraries and SDK to 0.13.0.  I know the CDC ACM configuration method using CONFIG_UART_SHELL_ON_DEV_NAME="CDC_ACM_0" in the prj.conf and defconfig files has been deprecated to the device tree.

I've added this code to my board .dts file:

zephyr_udc0: &usbotg_fs {
    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
    status = "okay";
};

&zephyr_udc0 {
    cdc_ac

[2021-09-09 16:40] ainguraXmarquiegui opened #38427 "mimxrt1050_evk and mimxrt1020_evk boards fail to boot some sample applications"
**Describe the bug**
The last codebase when I checkout the *main* branch from zephyr no longer boots some sample applications like  subsys/mgmt/mcumgr/smp_svr or net/gptp. If I compile the hello_world sample application it works on both platforms.

All three sample applications boot if I compile the same code corresponding to the latest commit of the *master* branch.

**To Reproduce**
Steps to rep

[2021-09-09 16:42] benediktibk opened #38428 "http_client response callback always reports final_data == HTTP_DATA_FINAL"
**Describe the bug**
The response callback triggered by http_client_req reported always HTTP_DATA_FINAL, although more data was left and also more calls to the callback function occurred.

**To Reproduce**
Steps to reproduce the behavior:
1. setup an instance of struct http_request with a buffer size of 256 bytees
2. execute http_client_req which will result in a response of 784 bytes
3. -> multip

[2021-09-09 18:22] #37367 closed

[2021-09-09 20:04] iuliana-prodan commented on #38216
@galak @cfriedt @dbaluta I've fixed the issue with PR https://github.com/zephyrproject-rtos/zephyr/pull/38431
Here's the log:
[code]
cc: @dleach02 @MaureenHelm

[2021-09-09 21:25] aurel32 opened #38433 "gpio_pin_set not working on STM32 with CONFIG_PM_DEVICE_RUNTIME"
**Describe the bug**
When `CONFIG_PM_DEVICE_RUNTIME` is enabled on STM32, `gpio_pin_set()` doesn't work if a pin is configured as input after configuring the output pin.

The problem comes from the optimization done to avoid calling `pm_device_get` at the beginning of `gpio_stm32_config`:
https://github.com/zephyrproject-rtos/zephyr/blob/f79fbeabd58b713c70af0a657c7a7b1456915cd8/drivers/gpio/gpio_s

[2021-09-09 22:55] mbolivar-nordic commented on #37915
@riggs sorry for the delay and thanks for taking the time to file an issue.

**TL;DR it looks like you are using an old NCS version which can't combine DEVICE_DT_GET with this driver's devices.**

Your options are:

- cherry-pick df01148aebb43da1d5d005150c980a08157e1757 onto your zephyr tree, or
- use mainline zephyr, or
- wait for NCS v1.7.0

Details in a Dickensian "Tale of Too Many Zephyrs":

T

[2021-09-09 22:55] #37915 closed

[2021-09-09 23:02] riggs commented on #37915
Thanks for the thorough reply! I'm planning to settle on the LTS release, when it's available, so I'm happy to be able to migrate to the updated NCS.

[2021-09-09 23:06] #38405 closed

[2021-09-09 23:44] #38272 closed

[2021-09-09 23:49] #38421 closed

[2021-09-10 00:07] mbolivar-nordic commented on #38181
I don't have a good short term solution. Computing the worst case fanout and padding all the devices like that just doesn't feel like a good idea for an LTS release.

I hate to say it, but I think our best bet might be to revert for 2.7 until we have a chance to look at https://github.com/zephyrproject-rtos/zephyr/issues/32129. @tejlmand, any thoughts on that?

[2021-09-10 01:07] JordanYates commented on #38181
Reverting doesn't solve the problem, the problem existed before the commit.
Unless you're talking about reverting the entire feature, which would be a worse solution than the fudge factor from my point of view.

[2021-09-10 01:13] cfriedt commented on #38414
@rlubos - could you please assign a priority to this?

[2021-09-10 01:16] #38414 closed

[2021-09-10 01:18] #37842 closed

[2021-09-10 01:28] KangJianX commented on #37526
IBECC should be enabled in BIOS. This is usually enabled in the default
BIOS configuration. Verify following:
Intel Advanced Menu -> Memory Configuration -> In-Band ECC ->  <Enabled>.
Verify also operational mode with:
Intel Advanced Menu -> Memory Configuration -> In-Band ECC Operation Mode -> 2
For injection tests Error Injection should be enabled.

[2021-09-10 01:28] #37526 closed

[2021-09-10 01:35] 1hannah11 commented on #38398
I had not, compiling correctly now. Thank you

[2021-09-10 01:35] #38398 closed

[2021-09-10 01:44] #38196 closed

[2021-09-10 02:45] ycsin opened #38437 "stm32: g0b1re: Serial UART timing issue after MCU entered deep sleep"
**Describe the bug**
The log starts to print very slowly and wrong string after the MCU entered deep sleep, Im guessing that it is related to some uart timing issue.

**To Reproduce**
1. Build anything that logs something through serial UART, then enter LPM on Nucleo G0B1
4. See error

**Expected behavior**
The serial print shouldn't be affected by LPM.

**Impact**
LOG isn't working correctly afte

[2021-09-10 02:48] ycsin commented on #38437
I don't know how the PM works and what `pm_device_action` exactly represents, what I know from my observation is:

This is required
[code]

Some or both of these are required
[code]

[2021-09-10 02:48] ycsin commented on #38437
@erwango @gmarull

[2021-09-10 02:53] hakehuang commented on #33747
this means there is a frame drop due to lack of menory.

[2021-09-10 04:02] hakehuang opened #38438 "test-ci: test_flash_map:twr_ke18f: test failure"
**Describe the bug**

 Assertion failed at WEST_TOPDIR/zephyr/tests/subsys/storage/flash_map/src/main.c:90: test_flash_area_get_sectors: (rc == 0 is false)

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f
3. make
4. See error

**Expected behavior**
test assert

**Impact**
test failure

**Logs and console output**

[code]

**Environment (please

[2021-09-10 04:04] hakehuang commented on #38438
@MaureenHelm  @dleach02 @henrikbrixandersen

looks like the flash setting for twr_ke18f need update for testing.

[2021-09-10 04:55] ceolin commented on #38437
This pr https://github.com/zephyrproject-rtos/zephyr/pull/38432 much likely fix this problem.

[2021-09-10 05:07] chen-png commented on #36263
@dcpleung I used code below to print each mapped page info: virtual address --> mapped physical address and stored value in this address

        pentry_t val = 0;
for (addr = last_mapped; addr <= start_addr; addr += 0x3000) {
 z_x86_pentry_get(&level, &val, z_x86_kernel_ptables, (void *)addr);
printk(" virtual addr: %p --> physical addr: %llx, value: %p\n", addr, val & 0x000FFFFFFFFFF000, *((uint

[2021-09-10 05:25] hakehuang opened #38442 "test-ci: can: twr_ke18f: all can driver test fails with BUS Fault"
**Describe the bug**
init can meet clock error, and can test application have bus falut, impacted applications are

drivers.can and drivers.can.timing

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f
3. make
4. See error

**Expected behavior**
Test PASS

**Impact**
CAN features

**Logs and console output**

[code]

**Environment (please complet

[2021-09-10 05:26] hakehuang commented on #38442
@MaureenHelm , @dleach02 , @henrikbrixandersen

[2021-09-10 06:54] stephanosio commented on #38233
Yup, this is a bug -- the newlib `_write` and `_read` hooks should indeed be calling the syscall functions and not the impls themselves.

They used to do that, but that got changed (by mistake) during the process of renaming functions around.

In https://github.com/zephyrproject-rtos/zephyr/commit/4344e27c267e1139c26dbd9cafcca4b3069ea821:

[code]

The importance of having the tests for all these c

[2021-09-10 08:03] LixinGuoX opened #38446 "intel_adsp_cavs15: fail to run mutex testcases on ADSP"
**Describe the bug**
run tests/kernel/mutex/mutex_api failed on ADSP, can not generate a log correctly.

**To Reproduce**
Steps to reproduce the behavior:

1. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/mutex/mutex_api/ --west-
flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_priv

[2021-09-10 08:14] naiyuantian opened #38450 "Python script for checking PR errors"
## Introduction
When reading the code, I found that some of our PRs have many language errors. So I think a python script for checking the errors is needed to help make the project more clear and easy to read.

### Problem description

In our PRs, there are many grammar mistakes or typos, which will make it hard to understand for users.

### Proposed change

Create a python script -- which can aut

[2021-09-10 08:45] gmarull opened #38452 "Some STM32 series require CONFIG_PM_DEVICE if CONFIG_PM=y"
**Describe the bug**

Some STM32 series (g0, l0, l4, l5, wb, wl) require `CONFIG_PM_DEVICE` if `CONFIG_PM=y`. However, one should be able to have system PM enabled (`CONFIG_PM=y`) without the need of `CONFIG_PM_DEVICE`. It turns out that the device PM hooks are used in some cases, e.g. UART, to block system suspension until the peripheral is done. For more context, see https://github.com/zephyrpro

[2021-09-10 08:51] tejlmand commented on #38403
I have been considering such approach, but I feel it's like asking Kconfig to know about Zephyr CMake internals, as it starts top have symbols intended to help CMake.
Why should kconfig select a promptless symbol just to make things cleaner in CMake.

Of course, if such symbol is available for internal Kconfig purposes, like the `SERIAL_HAS_DRIVER`, then CMake can of course use such knowledge.

Th

[2021-09-10 09:02] erwango commented on #38452
Well, gpio driver does...

[2021-09-10 09:04] #37735 closed

[2021-09-10 09:12] gmarull commented on #38452
You're right, I missed that one.

[2021-09-10 09:30] gmarull commented on #38452
Actually, the code will not do PM when doing system PM (because low power is used for the PM state STM32 handles) but will do PM when using the runtime API. I think this illustrates quite well the problem of having LOW_POWER and SUSPEND. @ceolin

[2021-09-10 09:52] ABOSTM opened #38453 "modules: hal: stm32: cube update scripts"
**Describe the bug**
Following https://github.com/zephyrproject-rtos/hal_stm32/pull/115
STM32 cube update python scripts should be updated to automate this specific U5 license:
* copy automatically LICENSE file

It is necessary to check why, in  https://github.com/zephyrproject-rtos/hal_stm32/pull/115 there is a specific case for
* drivers/include/stm32u5xx_ll_rcc.h
* drivers/include/stm32u5xx_hal

[2021-09-10 10:02] tejlmand commented on #38403
Actually, majority of drivers are already using a `menuconfig`, only a fex exceptions like Bluetooth, interrupt, and Timer drivers.
![image](https://user-images.githubusercontent.com/9802583/132837051-7b6ef9e1-1f18-40c6-91cd-61ac8101e041.png)

So maybe we should use this opportunity to align those few to the rest.

[2021-09-10 10:13] gmarull commented on #37056
Some random thoughts, just to keep track of them:

- Rename `LOW_POWER` to `IDLE` (name makes things a bit more clear IMO, since `SUSPEND` also means low-power)
- Clarify how that links with runtime PM, where only `SUSPEND` is considered now.
- Drivers can implement `IDLE`, `SUSPEND` or both. Rules: `power_consumption(IDLE) > power_consumption(SUSPEND)`, `overhead(IDLE) < overhead(SUSPEND)`.
- Sys

[2021-09-10 10:49] tejlmand commented on #37770
Is this really related to #38403 ?

#38403 is because the cleanup in #37512 results in warning in several samples when building those in their default setup.

It's not an error, it's a warning.

And in this case it sounds to me like the has only partially configured a feature.
User has enabled `CONFIG_BT_AUDIO=y` but not actually configured `BT_AUDIO`.

To me that sounds like `No SOURCES given to

[2021-09-10 11:00] Thalley commented on #37770
They are related in my opinion, even if they need different solutions.

That may be the case later, or perhaps BT_AUDIO will be a "hidden" config that is enabled if any of the subconfigs are enabled.

[2021-09-10 12:00] erwango commented on #38417
@pathnirvana Zephyr project is open to contributions and current board support reflects zephyr contributors (users, developpers) work. Probability that this request gets implemented in short/medium term delay is quite small.
From what I can see stm32f401cc soc is already ported. So remaining work is to port the board description.
Maybe the best idea is to ask support in discord, reporting the issu

[2021-09-10 12:34] ssharks commented on #38172
Currently I'm trying to create a pull request, the code looks to be ready, but I have no simple way to compile the modified drivers to test if the fix doesn't break compilation. Any suggestions how to tackle this?

[2021-09-10 12:34] tejlmand commented on #37770
yes, I took a deeper look into this, and it is introduced with this commit: https://github.com/zephyrproject-rtos/zephyr/commit/23712842d1acb32d76a01e6f1f70f7d430b9f805 from same PR, #37512.

So I agree they are then related.

Seems @dcpleung just went ahead and added `zephyr_library()` everywhere.
That is not good, as it makes this problem even worse:
https://github.com/zephyrproject-rtos/zephyr/

[2021-09-10 12:44] tejlmand commented on #37770
seems https://github.com/zephyrproject-rtos/zephyr/commit/23712842d1acb32d76a01e6f1f70f7d430b9f805 was the only glitch in this regard.

[2021-09-10 13:22] rerickson1 commented on #38172
You can run the `drivers/build_all` test on Linux or MacOS using the following command:
`./scripts/twister -v  -T tests/drivers/build_all`

[2021-09-10 14:01] pathnirvana commented on #38417
Many thanks @erwango for the response and many thanks to the contributors who have done so much for the community.
For now I have got it working by making a copy of the f401ce board definition and making few modifications.

[2021-09-10 14:01] #38417 closed

[2021-09-10 14:15] asbjornsabo opened #38463 "check_compliance gives very many Kconfig warnings"
**Describe the bug**
When running check_compliance locally, it produces around 1650 warnings.  Most of these warnings are Kconfig related warnings, of the form
"warning: the choice symbol <SYMBOL> [...] is defined with a prompt outside the choice"

**To Reproduce**
Steps to reproduce the behavior:
1) In a shell, from the root of a zephyr checkout, run check_compliance:
<user>@<computer>:~/repoutsj

[2021-09-10 14:59] #38216 closed

[2021-09-10 15:12] ainguraXmarquiegui commented on #38427
@MaureenHelm , reverting commit f0b3146ff5538e5381318a309fec292d3fbb1f3f makes code point 40f4091d44cf7b435d4bcbf0eac70d1035df0d08 bootable again on the mimxrt1020_evk

Someone should review this.

[2021-09-10 15:24] #38418 closed

[2021-09-10 15:36] de-nordic commented on #36962
@r2r0 Apologies that it took me so long to look at your proposal.
I think the problem requires a little more sophisticated approach.
At first I have though that we should find a way to export the information of heap overhead or provide some macros that would allocate RAM for specified number of allocations of chunks of maximal size, for example 4 chunks of at mast 1024K; then I have noticed that t

[2021-09-10 16:30] MaureenHelm commented on #38427
Thanks for the report. This is a duplicate of #38186

[2021-09-10 16:30] #38427 closed

[2021-09-10 18:24] dcpleung commented on #36263
Trying booting Linux and look at dmesg. There should be a e820 map which tells you which regions are usable.

[2021-09-10 18:46] palchak-google commented on #38268
Let's address each of the three issues:

Issue #1: Packets are dropped prior to reaching maximum capacity:

Your claim is that a minimum of one word of data storage will always consumed by the packet buffer for internal bookkeeping, and the documentation will be changed to reflect this. If the implementation is always going to require at least one extra word be available to differentiate full from

[2021-09-10 18:47] dcpleung commented on #37770
Since all the indicated source files are compiled only if certain kconfigs are enabled, we can use the ALLOW_EMPTY property to suppress the warning.

As for subsys/bluetooth, I thought about having one big bluetooth subsys library. But since every subdirectories define their own library, I was simply following the convention there. Maybe it's time to group all subsys/bluetooth into one big library

[2021-09-10 18:49] gerekon commented on #38258
@sylvioalves @galak
We have the same problem in our [newlib](https://github.com/espressif/newlib-esp32/blob/esp_based_on_3_0_0/newlib/libc/include/sys/config.h#L194). It seems to come with [one](https://github.com/jcmvbkbc/newlib-xtensa/blob/xtensa/newlib/libc/include/sys/config.h#L171) of @jcmvbkbc patches with Xtensa support.
As far as I know alignment for 16 bytes can be required by TIE for our

[2021-09-10 18:52] mmahadevan108 commented on #22702
This support is now available in the main branch of Zephyr after this PR has been merged: https://github.com/zephyrproject-rtos/zephyr/pull/38072

[2021-09-10 18:52] palchak-google commented on #38268
Looking over the previous comment, I realized that the sequence of operations is not exactly the same as was posted in the first comment. In the most recent sequence, two packets (`f` and `g`) are pushed between the claiming and releasing of packet `c`. In the original sequence only one packet is pushed between claiming and releasing.

This additional push operation exposed a fourth defect in the

[2021-09-10 18:53] mmahadevan108 commented on #22702
Can this issue be resolved

[2021-09-10 19:06] stephanosio commented on #38258
I suppose the only downside of having `MALLOC_ALIGNMENT=8` in this case is some performance impact? or does ESP32-S3's "TIE" not support unaligned accesses at all?

[2021-09-10 19:51] tejlmand commented on #37770
This was exactly my concern raised here, if introducing such property:
https://github.com/zephyrproject-rtos/zephyr/pull/37910#issuecomment-905294255

zephyr_library_property(ALLOW_EMPTY) instead of fixing things in correct manner in Kconfig or CMake.

That property is intended for special cases, in general we should avoid such situations.
The warning of empty libraries are good and should in gene

[2021-09-10 19:52] ceolin commented on #38452
It is clear a problem these drivers need to enable `CONFIG_DEVICE_PM` to workaround the system PM. These options can be selected independently if needed.

Regarding the low power, I don't see a problem it as a major problem, from the subsystem perspective it is a hint to the device to save energy. It is up to the device decide what to do with it. That is something that will always be device specif

[2021-09-10 20:20] #35720 closed

[2021-09-10 20:21] gmarull commented on #38452
The problem of having both `LOW_POWER` and `SUSPEND` and treating them independently can cause problems. For example, a device can decide to just implement `LOW_POWER`, `SUSPEND` or both. Let's take a system with N devices, each implementing a random combination of the previous list. Now the system goes to a low power state where `SUSPEND` is used to put devices into a low power state. There will

[2021-09-10 21:08] tejlmand commented on #37770
That was actually part of a big cleanup I tried to long time ago: https://github.com/zephyrproject-rtos/zephyr/pull/8451/commits/8a23d85c835b12958b5120067877da76ff0bdb0f (from #8451)
but the elephant was a little big.

So i'm all in favor of continuing that process, but in smaller steps this time.
Fewer and logical libraries, so that it is easier to predict where source files end up.

and not:
htt

[2021-09-10 23:31] ceolin commented on #38452
Note that the system power states documentation says what is more or less expected from a device when the system goes to state.
[code]

It does not solve the problem as I stated there, but it is one step further, if the the information about which states a device implements were available the policy could be smarter.

How exactly the subsystem must be smart ? Removing `LOW_POWER` the only thing th

[2021-09-11 08:09] cfriedt commented on #38181
If I'm understanding this correctly, the problem is that we need additional entries between `__device_handles_start` and `__device_handles_end`, but currently we want to keep it the same size after the first pass compile. Is that right?

I can't see generating `dev_handles.c` as being the problem, because clearly python can parse whatever data it needs to at build time.

Does the `device_handles`

[2021-09-11 08:47] #38233 closed

[2021-09-11 08:49] #37637 closed

[2021-09-11 10:27] Masterpc96 opened #38474 "command exited with status 63: nrfjprog --ids"
I have installed west and I have build an example project everything went ok but when I want to flash connected nrf52840 dk board I got this error
` west flash
-- west flash: rebuilding
[0/5] Performing build step for 'mcuboot_subimage'
ninja: no work to do.
[2/2] cd /Users/michaelurban/smarthome/ncs/v1.7.0-rc1/homekit/ownProjects/led...elurban/smarthome/ncs/v1.7.0-rc1/modules/lib/openthread/etc/c

[2021-09-11 11:38] nwsetec commented on #36679
@carlescufi I've tested the same application code with Zephyr SHA 30db452aec00b5e7f6f1933ef99a9a3387730ee2 and the issue is no longer present, so closing.

[2021-09-11 11:38] #36679 closed

[2021-09-11 11:39] nwsetec commented on #36552
@cvinayak @cfriedt @carlescufi I've tested the same application code with Zephyr SHA 30db452 and the issue is no longer present, so this can stay closed.

[2021-09-11 11:51] nwsetec commented on #36381
@cvinayak while I was testing https://github.com/zephyrproject-rtos/zephyr/issues/36679 and discovering it was fixed I noticed this assert occurring.  I'm currently checked out at main SHA 30db452aec00b5e7f6f1933ef99a9a3387730ee2.

[2021-09-11 11:56] #38474 closed

[2021-09-11 12:16] stephanosio commented on #36644
NOTE: For 2.7, we will keep the existing structure and only provide a fix with the minimum amount of changes.

In the future, the C++ support will be completely re-architected to support multiple toolchains (further details to be discussed and finalised in the Toolchain WG meetings, alongside the C library integration refactoring).

[2021-09-11 12:39] stephanosio commented on #36823
Closing this issue since the access to the C++ headers requires `CONFIG_LIB_CPLUSPLUS=y`, and the header availability issues described here are already described in #36644 and will be fixed there.

[2021-09-11 12:39] #36823 closed

[2021-09-11 13:00] cameled commented on #37827
As said in  #38322, disable BCM4 config can fix this issue.

[2021-09-11 13:00] #37827 closed

[2021-09-11 14:21] Sir-Branch opened #38477 "json: JSON Library Orphaned, Request to Become a Maintainer"
Apologies in advance if the format is incorrect, didn't find a template or previous issue for Orphaned code.

The JSON library appears to be orphaned (technically JSON Web Token, because the JSON library is a subsystem of the OS) according to [MAINTAINERS.YML](https://github.com/zephyrproject-rtos/zephyr/blob/main/MAINTAINERS.yml), @mrfuchs appears a collaborator (@M1cha has also recently submitte

[2021-09-11 16:00] stephanosio commented on #38258
https://github.com/zephyrproject-rtos/sdk-ng/pull/394 has been merged.

Waiting for the Zephyr SDK 0.13.1 to be released and mainlined in the CI.

[2021-09-11 16:38] stephanosio commented on #37718
For 2.7, we will leave the Arm Compiler and ARC MWDT out of question since they are very much experimental right now.

**The scope of fix for 2.7 will be limited to the `native_posix` with Clang as identified in this issue.**

In the future, we could look into reverting #16645:

1. #16645 should not have been necessary if we actually made use of the `PRIx` and `SCNx` definitions from `inttypes.h`

[2021-09-11 17:11] cfriedt commented on #38477
Please submit a PR to add yourself as maintainer

[2021-09-11 20:48] waqarhumayun opened #38479 ""west flash" command exiting with error"
**Describe the bug**
west flash command fails with error

TypeError: expected str, bytes or os.PathLike object, not NoneType

**To Reproduce**
Steps to reproduce the behavior:
Follow getting started guide and then section for flashing the built image on the board.

**Logs and console output**

I am facing following error while running west flash command.

Traceback (most recent call last):
  File

[2021-09-12 00:28] #36575 closed

[2021-09-12 00:38] JordanYates commented on #38181
Yes, as this feature was initially reverted in the v2.5 stabilization period because they weren't constant (See #31548). Hashing of kernel objects is used with `CONFIG_USERSPACE`, and if these arrays change size/location then that breaks. There is some talk around arbitrary linker stages that would resolve this limitation in #32129 (driven by exactly this feature), but it doesn't exist yet, so can

[2021-09-12 00:38] #38031 closed

[2021-09-12 02:51] dstahlke commented on #36857
@rustypig91 This fix works for me, for both the Adafruit OLED FeatherWing (SH1107) and the common 0.96" OLED breakout board (SSD1306?).  Very nice work - it took way too much time to debug this to the point where I found this ticket.  Could you submit a pull request for this?

[2021-09-12 02:58] dstahlke commented on #36857
i2c_burst_write does have a warning saying it's not portable and doesn't work correctly on some devices.  It'd be nice if ssd1306.c could use i2c_transfer instead.

Looking through the code, it appears this would be easy to do for all the command buffers (just prepend the command byte), but for ssd1306_write would not be so easy because the data comes from a user-supplied buffer.

[2021-09-12 03:14] dstahlke commented on #36857
Relevant issues: #20154 #33606

[2021-09-12 04:08] richbai90 opened #38480 "Improve samples documentation"
**Is your feature request related to a problem? Please describe.**
The samples don't include many comments explaining what each line is doing. As someone coming from a hobbyist arduino background, trying to learn the ins and outs of true embedded development, it would be extremely useful to have comments explaining what is going on.

**Describe the solution you'd like**
The samples make ample use

[2021-09-12 06:40] stephanosio commented on #38480
Comments are not there to explain the obvious.

The documentation for `device_get_binding`, `DT_LABEL` and `DT_INST` all exist to explain what you describe here.

Of course, we could have a tutorial/special sample that has very detailed comments for the beginners, but that is a whole another issue.

[2021-09-12 06:42] #38480 closed

[2021-09-12 07:03] Tubbles commented on #36857
What processor are you using?

[2021-09-12 07:49] dstahlke commented on #36857
@Tubbles ATSAMD21G18, on the Adafruit Feather M0 Basic board.

[2021-09-12 09:30] rustypig91 commented on #36857
#38482 created

[2021-09-12 12:25] bob2oneil commented on #38376
Thanks for the response Chris, a test case does not yet exist, but I can create a minimal one to explore this raw socket to implementation mapping issue.  Would it be sufficient to attach say a ZIP compressed file to this issue for tracking, or is a Pull Request required?  As I understand GIT PR, it is typically submitted with proposed code to incorporate into the repo, for which I do not presentl

[2021-09-12 12:54] cfriedt commented on #38376
@bob2oneil - a PR would be ideal

[2021-09-12 19:22] cfriedt opened #38484 "boards: beaglev_starlight_jh7100: integrate manual flashing steps using python so that west flash works"
**Is your enhancement proposal related to a problem? Please describe.**
In [the docs](https://docs.zephyrproject.org/latest/boards/riscv/beaglev_starlight_jh7100/doc/index.html), it mentions

with a link pointing to

https://github.com/starfive-tech/freelight-u-sdk/blob/starfive/fsz.sh

Additionally, there are some manual steps required (open `minicom`, use xmodem protocol, etc).

**Describe the s

[2021-09-12 19:46] henrikbrixandersen commented on #38484
You may be able to find some inspiration in how post processing is done in https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/arty/CMakeLists.txt

[2021-09-13 00:55] ycsin commented on #38365
Doesn't seem to occur after I rebased to 2.7-rc1, closed for now.

[2021-09-13 00:55] #38365 closed

[2021-09-13 06:22] richbai90 opened #38485 "x_nucleo_iks02a1 sample won't compile error 'DT_N_INST_0_st_mpxxdtyy_FULL_NAME' undeclared"
**Describe the bug**
I don't know if this is a bug with zephyr, with platformio, or just something I'm missing but I don't know where else to ask for help. When I try to compile the x_nucleo_iks02a1 microphone sample, it fails with this error

[code]

It seems that it's not finding the mpxxdtyy device in any of the included headers. The full backtrace begins at line 52 of the sample

[code]

I'm j

[2021-09-13 07:26] erwango commented on #35760
@alexanderwachter gentle ping.

[2021-09-13 07:52] erwango commented on #38354
@ck-telecom thanks for the details. Let me see if I understood correctly.
The pin configuration used in your SW is in conflict with SWJ default config (mapped on PA13/PA14/PB3/PB4).
So you need a way to remap these pins using AFIO_MAPR(SWJ_CFG[2:0]). Is that correct ?

If yes, then this could be implemented as a specific additional static configuration.
I don't see any easy way to implement this u

[2021-09-13 08:06] erwango commented on #38485
@richbai90 Please provide details on the builds commands you used as well as modifications that you might have made on target files.

[2021-09-13 09:16] gmarull commented on #38452
The system PM code doesn't seem to follow these specs:
- `PM_STATE_RUNTIME_IDLE`:  "no requirements for the devices, leaving them at the states where they are.". Now: they are all called to set `LOW_POWER` state.

There is also some lack of clarity:
- `PM_STATE_SUSPEND_TO_IDLE` : "...into low-power states". Which state**s**?. Now: `LOW_POWER`.

System can decide to fall back to, e.g. `SUSPEND` if

[2021-09-13 09:38] avisconti commented on #38485
@richbai90  Can you try if this command work also n your case? west build -b nucleo_f411re -s samples/shields/x_nucleo_iks02a1/microphone
Thanks!

[2021-09-13 09:50] #38362 closed

[2021-09-13 10:05] rlubos commented on #37324
@ycsin From the networking point of view, it could be the case, that due to increased CPU consumption the application thread is not able to consume the data fast enough, so we fill up all of the RX buffers. If the low-level network driver does not specify a timeout for the allocation, or the timeout is too small, it'd drop the packet, which would result in retransmission at TCP level and decreased

[2021-09-13 10:05] cfriedt commented on #31824
After reading #38293 this sounds like less of an enhancement and more of a bug (albeit one that presents itself at config time). What is the overhead of just adding names for all choices now?
cc @emillindq

[2021-09-13 10:09] gerekon commented on #38258
@stephanosio

Not sure about this. Need to check.

[2021-09-13 10:43] mniestroj opened #38493 "Apply configuration and DT overlays of deprecated board names"
**Is your enhancement proposal related to a problem? Please describe.**
Currently there is a feature that allows to maintain support for deprecated board names, so that out-of-tree users can still use old board names for while and just be notified about the required change in the future. However if out-of-tree user has a project that adds application specific configuration and/or device-tree overl

[2021-09-13 11:32] emob-nordic opened #38494 "Flooded logs when using CDC_ACM as back-end"
**Is your enhancement proposal related to a problem? Please describe.**
If USB CDC_ACM is selected as logging back-end and the USB cable is not connected to the board at the start up, logs could be flooded with `LOG_WRN("Device not configured or suspended, drop %d bytes", len);`.

**Describe the solution you'd like**
The best option would be for logger back-end not to try to send anything on CDC_A

[2021-09-13 12:34] bob2oneil commented on #38376
Doesn't a PR require change code that solves the problem?  Currently, I have no idea as to why the 2 raw sockets, both associated with virtual Ethernet interfaces running on Native-POSIX, using the same create socket function, deviate when it comes to the mapping of the socket handle using POSIX networking APIs to the underlying implementation.  That is, I do not fully understand the Zephyr networ

[2021-09-13 12:36] ycsin commented on #37324
Thanks heaps for the pointer. I'm not familiar with PPP nor networking, but this does sound like something I'm facing, I will try to test that in the ppp driver.

[2021-09-13 12:45] rlubos commented on #38376
It's not expected from you to provide a solution. A simple test case however (likely an extension of existing `tests/net/socket/af_packet` test suite) which allows to easily reproduce the issue would be a great starting point for us to find one. Ideally we could incorporate the test into the tree to avoid regressions in the future.

[2021-09-13 13:01] nordic-krch commented on #23021
@koffes I've prepared PR which adds mechanism for synchronization. It's nrf53 specific. See #38495

[2021-09-13 13:43] emillindq commented on #31824
In what was is this a bug? Naming Kconfig choices allows "overlaying" and making a default choice according to other Kconfig symbols, which in my experience (so far) works well. Should it be implemented in some other way?

[2021-09-13 14:31] #38186 closed

[2021-09-13 14:36] niflostancu opened #38498 "net: ipv6: nbr_lock not initialized with CONFIG_NET_IPV6_ND=n"
**Describe the bug**
I want to disable IPv6 neighbor discovery and manually manage my NBR cache for lighter radio traffic.

But, if I try to do that, my application crashes when trying to use `net_ipv6_nbr_add`.
This is due to a mistake in [`ipv6_nbr.c`](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/ip/ipv6_nbr.c#L2497), the `nbr_lock` variable is initialized only when `CONFIG_

[2021-09-13 14:44] galak opened #38500 "tests/kernel/device/kernel.device.pm fails to build on TI platforms"
`./scripts/twister -s tests/kernel/device/kernel.device.pm  -p cc26x2r1_launchxl`

Gets:

[code]

[2021-09-13 14:52] lairdjm opened #38502 "Update mcumgr library to fix wrong callback state"
**Describe the bug**
mcumgr's library has callbacks which report the status of a firmware update with 3 states - start, ongoing and complete. However, complete is not used.

This is fixed in this PR to the upstream mynewt-mcumgr project code: https://github.com/apache/mynewt-mcumgr/pull/137

Therefore this is a request to pull the change into zephyr's version of mcumgr so that it will be included

[2021-09-13 14:58] richbai90 commented on #38485
That worked without an issue. I noticed that that board has the following in the built zephyr.dts file where the board I am using does not.

[code]

If I'm not mistaken, this is defining the arduino compatible headers on the nucleo board, is that accurate? I tried adding it to the zephyr.dts file for my board in the build directory, but I am not sure that's the right place to add it.

[2021-09-13 15:01] rlubos commented on #38428
@jukkar Do you recall what data does the `http_response_cb_t` is expected to receive? On one hand, it's called only within `on_body`/`on_message_complete` callbacks, but it appears to provide headers as well on the first call (which IMO makes sense to provide the full message, for particular fields application can register specific callbacks in `http_parser_settings` ). So it's not clear to me, wh

[2021-09-13 16:17] avisconti commented on #38485
No, no, it is not the right place. The build directory contains things that are built.
You should modify the dts file in the board directory to enable arduino_i2s:
e.g. boards/arm/nucleo_f411re/nucleo_f411re.dts

Then here define the PLL for I2S of your soc
boards/shields/x_nucleo_iks02a1/boards/

And then most of the things are under dts/ already done for your soc. For example for F411RE board:
d

[2021-09-13 16:35] shrhrw commented on #19979
Hi @bbolen , I am working on supporting a cortex-r5f chip in zephyr, and I've spliced in your code from this post: https://github.com/zephyrproject-rtos/zephyr/issues/19979#issuecomment-758091058

I have it building, however when trying to flash it onto the board I am encountering the following error:
Debug: 387 144 cortex_a.c:301 cortex_a_exec_opcode(): exec opcode 0xee000e15
Debug: 388 145 armv4

[2021-09-13 18:35] richbai90 commented on #38485
Yeah that's what I figured, but I had to try.

Is there a guide for this?

Is there anything I will need to add to my soc dtsi file?

It is the B-L072Z-LRWAN1 by ST. In zephyr you label it b_l072z_lrwan1

[2021-09-13 19:48] dleach02 commented on #37927
@hakehuang can you retest after #38473 was merged?

[2021-09-13 20:27] bscarlet opened #38506 "Refine I2C error outcomes - e.g. expose NACK separately somehow."
Some I2C devices communicate important state with I2C NACK - e.g. an EEPROM (such as the [Microchip 24AA02E48](https://www.microchip.com/en-us/product/24AA02E48)) might report NACK while it's busy completing a write operation. The current Zephyr I2C API does not distinguish NACK from other non-success conditions, such as loss of arbitration - the different cases are all reported with a return code

[2021-09-13 20:53] henrikbrixandersen commented on #38506
I believe Linux uses -ENXIO for I2C NACK. I think -EAGAIN should be reserved for situations that are universally retryable.

[2021-09-13 21:53] #38382 closed

[2021-09-13 21:54] #38500 closed

[2021-09-14 01:54] cfriedt commented on #38484
Damn... the other 2 links to Seeed Studio's site for that board return 404. I heard production was delayed until next year. Odd that they would take down the BeagleV Getting Started guide and the bootloader docs.

[2021-09-14 02:53] ck-telecom commented on #38354
@erwango Yes I think it should be work, and just NOTE the stm32f10x errata http://www.st.com/content/ccc/resource/technical/document/errata_sheet/7d/02/75/64/17/fc/4d/fd/CD00190234.pdf/files/CD00190234.pdf/jcr:content/translations/en.CD00190234.pdf SPI1 remap with I2C1 conflict each other

[2021-09-14 03:23] easternblack opened #38512 "stm32f7: CAN: STM32F645VE CAN signal seems upside down."
**Describe the bug**
I have some custom PCB with STM32L433, and each board communicate by CAN iso-tp. and it pretty work well.
after that, I need to add ethernet functions to my board, so I changed MCU to STM32F745VE.
and then, CAN iso-tp does not work, so I checked there signal via measuring machines, and it's signal seems upside down compared with STM32L433. Here is a picture of CAN TX/RX measur

[2021-09-14 03:28] #37927 closed

[2021-09-14 03:29] hakehuang commented on #37927
@dleach02  issue fixed in v2.7.0-rc1-95-gdefda27969

[2021-09-14 03:40] swethad11782809 opened #38514 "mqtt azure sample failing with net_tcp "is waiting on connect semaphore""
Issue observed with MQTT on the TCP2 stack. Specifically,  TCP connects fail while waiting on semaphore.
Tried with increasing the TCP_ACK and SOCKET_CONNECT timeouts to more than 10 seconds, still not able to connect.

<inf> net_config: Running dhcpv4 client...
<dbg> mqtt_azure.main: Waiting for network to setup...
<wrn> net_gptp: Reset Pdelay requests
<wrn> net_gptp: Reset Pdelay requests
<wrn>

[2021-09-14 03:59] ycsin commented on #37324
I think there are a few ways that can solve this issue, from the networking perspective:

1. As mentioned by @rlubos, increase the delay in ppp driver so that it waits longer for allocation.

and from the application perspective, in this case the hawkbit/stream_flash:

1. Format the slot-1 before starting to download so that the application will only have to write and do not have to erase, which r

[2021-09-14 04:20] cvinayak commented on #36381
Reopen this issue to investigate the issue.

[2021-09-14 06:01] manoj153 commented on #38485
a quick check by me and noticed none of the `l0` series has i2s defined.

[2021-09-14 06:03] jhirsi opened #38516 "subsys: net: ip: packet_socket: always returning of NET_CONTINUE caused access to unreferred pkt and causing a crash/segmentation fault"
**Describe the bug**
net_packet_socket_input() was changed to hardcode the return of NET_CONTINUE and that caused a segmentation fault/crash in net_core/process_data(), in cases when pkt was unreferred and NET_OK was returned from net_conn_input().
This happens with socket combo of: AF_PACKET+SOCK_RAW+IPPROTO_RAW.

**To Reproduce**
Send and receive data with socket of combo: AF_PACKET+SOCK_RAW+IPP

[2021-09-14 06:41] tbursztyka commented on #38514
On which platform?
On which zephyr commit id?

[2021-09-14 06:43] ycsin opened #38519 "stm32: g0b1re: Log/Shell subsys with serial uart buggy after #38432"
**Describe the bug**
The log and shell subsys is acting strangely (sluggish and buggy) after the merge of #38432. Most notably, the shell responds only after second keystrokes. For example if `a` is pressed, nothing appears on the screen. Pressing `a` again will have two `a`s on the shell.

I'm seeing this on my G0B1RE custom board, reverting #38432 solves the issue.

**To Reproduce**
I've tried t

[2021-09-14 06:45] ycsin commented on #38519
@erwango @FRASTM @gmarull

[2021-09-14 06:51] erwango commented on #38354
Ok, thanks for the heads up but there is nothing we can do for that.
This should be taken care by users when configuring/designing their device.

[2021-09-14 07:16] ainguraXmarquiegui commented on #33747
@hakehuang, here are my results after an almost 15 hour test run:

[test_run.log](https://github.com/zephyrproject-rtos/zephyr/files/7159430/test_run.log)

I will keep it running for a few more hours just in case since the sendframe error has proven to take arbitrary amounts of time in the scale of tens of hours, but it does seem to be an improvement for the time being.

Sadly, I think we are stil

[2021-09-14 07:33] erwango commented on #38519
Working on it

[2021-09-14 07:56] #38498 closed

[2021-09-14 08:06] jukkar commented on #38428
I do not remember that but after looking the code, the `on_body()` calls `http_should_keep_alive()` from the http_parser library which does some checks and returns true in http response when http status is either 100, 204, 304 or if chuncked. See `http_should_keep_alive()` and `http_message_needs_eof()` functions in http_parser.c https://github.com/zephyrproject-rtos/zephyr/blob/50ff77fa910dcad291

[2021-09-14 08:32] chen-png commented on #36263
@dcpleung I boot ubuntu on up_squared and got the e820 map info in log as below, I found that the ram address from **0x10000000-0x12150fff is reserved**, it should means that this address range couldn't be used, but in the **apollo_lake.dtsi, the ram is a continuous range from 0x0 to DT_DRAM_SIZE(0x80000000).**

installer/syslog:Apr  8 15:47:48 ubuntu kernel: [    0.000000] BIOS-e820: [mem 0x00000

[2021-09-14 08:41] KangJianX commented on #37830
Blocked by #38446 . I will retest this one when #38446 is fixed.

[2021-09-14 08:42] KangJianX commented on #35857
Blocked by #38446 . I will retest this one when #38446 is fixed.

[2021-09-14 08:43] avisconti commented on #38485
The soc reference manual has a I2S section that describes the PLL_I2S. And then also the chapter describing the clocktree and how to feed I2S is important.

Mmmmh, maybe not. It is something that has to be checked.

Do you have the reference manual of this soc? I saw @manoj153  is saying that i2s is not supported.

[2021-09-14 09:09] manoj153 commented on #38485
https://www.st.com/resource/en/data_brief/b-l072z-lrwan1.pdf
According to the doc: SoC : `STM32L072CZ M`

[2021-09-14 09:12] saleh-unikie opened #38520 "Bluetooth:Host:Scan: "bt_le_per_adv_list_add" function doesn't work"
**Describe the bug**
I am trying to develop an application that supports multiple "periodic extended advertisement" based on this sample:
https://docs.zephyrproject.org/latest/samples/bluetooth/direction_finding_connectionless_rx/README.html

By default it only supports one synchronized device at a time, to support multiple device, I tried to use "bt_le_per_adv_list_add" function to add peer devic

[2021-09-14 09:24] tbursztyka commented on #38514
dst 0.0.0.0 ... does not sound like a proper destination

[2021-09-14 09:29] tbursztyka commented on #38514
Have you properly configured the sample?

CONFIG_DNS_RESOLVER is set there. Maybe your network does not allow you to do DNS stuff, or go to 8.8.8.8 at least.

Try enabling DNS debug log

[2021-09-14 09:59] avisconti commented on #38485
@richbai90 @manoj153

The soc in the B-L072Z-LRWAN1 kit is the STM32L0, and the reference manual is here:
https://www.st.com/resource/en/reference_manual/rm0377-ultralowpower-stm32l0x1-advanced-armbased-32bit-mcus-stmicroelectronics.pdf

I saw that i2s is supported. All the info (PLL I2S, clocktree, ...) can be found here. I don't know if @erwango would like to add anything to this.

[2021-09-14 10:04] swethad11782809 commented on #38514
Platform is "Elkhart lake board"
Commit ID for our base line is "72bd8da095f857600536ffad9deb461a2cdb1d0a"
========================================
commit 72bd8da095f857600536ffad9deb461a2cdb1d0a
Author: Joakim Andersson <joakim.andersson@nordicsemi.no>
Date:   Mon Aug 2 14:32:12 2021 +0200

    Bluetooth: host: Fix key distribution not calling pairing complete

    Fix key distribution not callin

[2021-09-14 11:26] nvlsianpu commented on #37324
Maybe worth to consider moving calls to `flash_img_buffer_write` to other thread with lower priority than image collection thread, or to the worqueue. (this maight be done in the flash steram module as well).As image you are collecting is in external flash this should does the job.

[2021-09-14 11:26] swethad11782809 commented on #38514
Please find the logs with DNS enabled, still can see the same failure on tcp connect

![image](https://user-images.githubusercontent.com/86215438/133249273-30b05850-71fc-4068-80c4-899a459fb18a.png)

[2021-09-14 11:29] Thalley commented on #38520
Hi @saleh-unikie the feature is missing from the controller, but is implemented by: https://github.com/zephyrproject-rtos/zephyr/pull/38338

[2021-09-14 11:58] saleh-unikie commented on #38520
Hi
Thanks for the reply! @Thalley

In connection with this problem, I think it is needed to define the maximum number of supported simultaneous synchs by modifying this [config](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_BT_PER_ADV_SYNC_MAX.html#std-kconfig-CONFIG_BT_PER_ADV_SYNC_MAX): CONFIG_BT_PER_ADV_SYNC_MAX

But the above config, causes to use a lot of memory space and in

[2021-09-14 12:23] huelsenfruchtzwerg opened #38527 "lwm2m: re-register instead of removing observer on COAP reset answer to notification"
Right now, when the lwm2m_engine gets a Coap reset message in response to a notification, it removes the observer but continues normally otherwise.

This usually happens (afaict) when the LWM2M server the client was communicating with has been restarted and lost the state of registrations/observations. (Coap has the [following to say to Coap Reset](https://tools.ietf.org/id/draft-ietf-core-coap-09

[2021-09-14 12:28] Thalley commented on #38520
I think @ppryga Might be best at answering that

[2021-09-14 12:28] caco3 commented on #34659
Sorry for the late response.

Below some information about the system:

[code]
Our system is based on a [AM335x](https://www.ti.com/lit/gpn/AM3359). The USB-Controller is built in.
Also there is no other USB device connected to the system:
[code]

I went through the AM335x [Errata](https://www.ti.com/lit/pdf/sprz360) and found one issue on page 18 that might be related:
 * Advisory 1.0.11 USB: Att

[2021-09-14 12:36] #38452 closed

[2021-09-14 12:37] #38516 closed

[2021-09-14 12:38] erwango commented on #38485
If there's no I2S node defined in L0 dtsi, it also means that I2S driver is not validated on this series.
So it's possible it requires some care.

[2021-09-14 13:18] saleh-unikie commented on #38520
I am not sure, but it seems "[CONFIG_BT_PER_ADV_SYNC_MAX](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_BT_PER_ADV_SYNC_MAX.html)" is similar to this new defined config "[BT_CTLR_SYNC_PERIODIC_ADV_LIST](https://github.com/zephyrproject-rtos/zephyr/pull/38338/files#diff-6d265bcf30897590772a25880fff70e895eee1836f95315d06146e08e90cb6ba)", or at least it is possible to define the seco

[2021-09-14 13:26] avisconti commented on #38485
It seems that under dts/arm/st/l0/ i2s is not defined...

[2021-09-14 13:37] erwango commented on #38512
@alexanderwachter Would you have time to check this ?

[2021-09-14 13:45] hakehuang commented on #33747
in my testing this happens 6 time in 48 hours testing. still in check the root cause, any hints?

[2021-09-14 13:48] #38396 closed

[2021-09-14 13:48] ainguraXmarquiegui commented on #33747
I'm trying to find the cause too, but I don't have any conclusive thoughts yet. If I find anything I'll share it as soon as I have something. Thank you very much for the effort @hakehuang . Do you think someone else could help us?

[2021-09-14 13:49] charlieshao5189 commented on #38059
Sorry, I tested with a fomer version, it has been fixed by [samples: littlefs: Fix sample attempting double mount](https://github.com/zephyrproject-rtos/zephyr/commit/2864ead3ec9f8717aaaa59886e2538c4fe8af03c#diff-622a807767531a935ea47485d6a79a99d15801ae7479a5cb8a8bf4be33c70665).

[2021-09-14 13:49] #38059 closed

[2021-09-14 13:54] erwango commented on #38485
I think that's what @manoj153 reported [earlier](https://github.com/zephyrproject-rtos/zephyr/issues/38485#issuecomment-918832081)

[2021-09-14 14:09] bob2oneil commented on #38376
Thanks Robert, I will create a test case and attempt to use the PR mechanism to submit it.  Presumably I would submit an entire Zephyr snapshot where the additions made by myself would just be this test case?

[2021-09-14 14:14] huelsenfruchtzwerg opened #38531 "lwm2m: report acknowledgement of notifications to app"
Right now the application has no way of knowing whether the server has received data. PR #36453 added a callback to inform the application of timeouts, but it doesn't trigger on successfull delivery/acknowledgement.

I believe there are (at least) two valid use cases for this:

1. The app wants to "go sleeping" (i.e. turn of the modem) when all data has been delivered successfully.
2. The app want

[2021-09-14 14:18] PerMac opened #38532 "samples: audio: tests: Twister fails on samples/drivers/audio/dmic"
**Describe the bug**
Twister fails on samples/drivers/audio/dmic with a timeout because no pass conditions are defined in sample.yaml

**To Reproduce**
Steps to reproduce the behavior:
Call `scripts/twister -T samples/drivers/audio/dmic/ -p nrf5340dk_nrf5340_cpuapp --device-testing --device-serial /dev/ttyACM2 -v -v` with nrf53 device connected.

[2021-09-14 14:22] henrikbrixandersen commented on #38438
I am unable to reproduce this issue here:

[code]

[2021-09-14 14:22] huelsenfruchtzwerg opened #38534 "lwm2m: add api to inspect observation state of resource/object"
RIght know there's no (*) way for the application to know whether a resource/object is observed from the lwm2m server. From an high/abstract level this is not an issue, the app should not need to care about what the server is or is not interested in. However there are a number of use cases where this knowledge would be very useful:

1. some indicator on the device to signal "readiness" when expect

[2021-09-14 14:22] alexanderwachter commented on #38512
@erwango never saw this behavior before. Is there a invert flag for the pinmux? CAN is defined to be a high signal in idle (recessive bit = 0).

[2021-09-14 14:31] ycsin opened #38535 "drivers: modem: bg9x: Kconfig values compiled into `autoconf.h` even if it isn't being used"
**Describe the bug**
The bg9x modem's [Kconfig](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/modem/Kconfig.quectel-bg9x) is lacking the `if MODEM_QUECTEL_BG9X` `endif` guard to prevent its default values from being compiled into the `autoconf.h`

**To Reproduce**
1. Build anything
2. Check the `autoconf.h` for bg9x related configs

**Expected behavior**
Kconfig default values sho

[2021-09-14 14:33] manoj153 commented on #38485
yes, that's what I meant and during the quick glance, I noticed the `i2s` on this SoC is piggybacking SPI2, so some register config has to be done on SPI2 peripheral before using it as i2s. and I wonder how the dt definition will be like SPI2 or I2S?

[2021-09-14 14:52] PerMac opened #38536 "samples: tests: display: Sample for display.ft800 causes end in timeout"
**Describe the bug**
The sample from samples/drivers/misc/ft800/ causes twister to
timeout as it has no pass conditions defiend nor producess any
output that can be verified. What is more, it requires a shield
which is not reflected in the sample.yaml. Therfore, the sample
execution is not testable in CI (twister) and the sample should
have "build only: true" in its sample.yaml.

**To Reproduce**

[2021-09-14 14:55] richbai90 commented on #38485
I’m working in writing the definitions now. This is my first time doing anything like this so I may have a few questions as I go along

[2021-09-14 14:55] erwango commented on #38485
That's actually the same on F4, on which i2s is functional.
So you can check on F4 state of affairs.

[2021-09-14 15:43] #38532 closed

[2021-09-14 15:48] saleh-unikie commented on #38520
It is discussed in the pull request, and they are different. "list size" is the total number of **candidates** who can make a synch object, while "sync max" number is the total number of **resources** reserved for synch objects.

[2021-09-14 15:50] cvinayak commented on #38520
`CONFIG_BT_PER_ADV_SYNC_MAX` is the compile time maximum supported simultaneous Periodic Synchronizations, and _Memory Capacity Exceeded_ error is used to convey insufficient resources to handle any more periodic advertising trains.

`CONFIG_BT_CTLR_SYNC_PERIODIC_ADV_LIST_SIZE` is the value returned by _HCI_LE_Read_Periodic_Advertiser_List_Size_ command, and is the total number of Periodic Adverti

[2021-09-14 16:15] dleach02 commented on #38438
@hakehuang can you retest? I'm also unable to reproduce this.

[2021-09-14 16:28] #37225 closed

[2021-09-14 16:28] #37610 closed

[2021-09-14 16:28] #38137 closed

[2021-09-14 17:05] dcpleung commented on #36263
We don't have the mechanism to deal with memory holes at this point. Limiting memory to below 0x100000000 is the only way for now to pass the test.

[2021-09-14 17:06] richbai90 commented on #38485
Here is what I have so far, I've modified the `stm32l072.dts` file adding the following mostly copied from f4. I changed the address, clock, and interrupts to be those from the SPI1 definition in the `stm32l0.dtsi` per the data sheet this should actually be SPI2, but there exists no definition for SPI2 in the `stm32l072.dts` file. Maybe we need to add that first? I am not sure where to find the ad

[2021-09-14 17:09] tbursztyka commented on #38514
Ok, and can you access this destination out of zephyr? (40.83.177.42 on port 8883).
Because I cannot myself. nslookup does the same result as the dns resolver in zephyr, but tcp connection cannot be done.

[2021-09-14 17:12] cfriedt commented on #38535
Thanks!!

[2021-09-14 17:15] richbai90 commented on #38485
I'm also unsure if anything needs to be changed to handle the multiplexing, or if that is done in hardware.

[2021-09-14 17:18] jfischer-no commented on #38135
similar as https://github.com/zephyrproject-rtos/zephyr/issues/33819 (and most of https://github.com/zephyrproject-rtos/zephyr/issues?q=is%3Aissue+is%3Aclosed+ARRAY_VS_SINGLETON), marking false positive.

[2021-09-14 17:18] #38135 closed

[2021-09-14 17:18] jfischer-no commented on #38131
similar as https://github.com/zephyrproject-rtos/zephyr/issues/33819 (and most of https://github.com/zephyrproject-rtos/zephyr/issues?q=is%3Aissue+is%3Aclosed+ARRAY_VS_SINGLETON), marking false positive.

[2021-09-14 17:18] #38131 closed

[2021-09-14 17:20] jfischer-no commented on #38126
similar as https://github.com/zephyrproject-rtos/zephyr/issues/33819 (and most of https://github.com/zephyrproject-rtos/zephyr/issues?q=is%3Aissue+is%3Aclosed+ARRAY_VS_SINGLETON), marking false positive.

[2021-09-14 17:20] #38126 closed

[2021-09-14 17:23] cfriedt commented on #38479
@waqarhumayun - can you please provide additional reproducibility information? E.g. the specific west command you used?

[2021-09-14 17:33] jfischer-no commented on #34659
I have an AM335x SBC somewhere. Can you please tell who is the manufacturer of your SoM/SBC,  gladly privately if it is confidential.

[2021-09-14 17:40] cfriedt commented on #35930
Closing due to inactivity / unable to reproduce.

[2021-09-14 17:40] #35930 closed

[2021-09-14 17:41] cfriedt commented on #36764
Closed due to inactivity

[2021-09-14 17:41] #36764 closed

[2021-09-14 17:45] cfriedt commented on #38258
#38261 is a workaround

[2021-09-14 17:46] cfriedt commented on #38258
@iuliana-prodan @dbaluta

[2021-09-14 17:51] cfriedt commented on #38268
@palchak-google - are you able to submit a PR for this?

[2021-09-14 18:10] stephanosio commented on #38258
_As per the discussion in the bug triage meeting today:_

We will be keeping this issue open until the new SDK is released so that we can keep track of this problem, and also that we do not forget the remove the workaround added in #38261.

SDK 0.13.1 will not be released for and used by the Zephyr 2.7.0 release because it contains other unrelated fixes that can potentially break other things and

[2021-09-14 18:23] cfriedt commented on #38376
Also, @bob2oneil - if you use `#` followed by any PR or Issue number, you create an automatic github reference, which is handy, so in your PR, remember to do that (in the commit message or in the web interface) to create a reference back here.

[2021-09-14 20:47] #38442 closed

[2021-09-14 20:57] #22702 closed

[2021-09-14 21:40] nandojve opened #38544 "drivers: wifi: esWIFI: Regression due to 35815"
**Describe the bug**
The #35815 introduced a regression that create a BUS FAULT, probably because `socket->context` is invalid. Rollback patch problem disappeared.

**To Reproduce**
Just build [TagoIO IoT Cloud HTTP Sample](https://docs.zephyrproject.org/latest/samples/net/cloud/tagoio_http_post/README.html) using esWIFI with UART transport and flash board. You need follow sample instructions to a

[2021-09-14 21:59] MaureenHelm commented on #36766
I attempted to bisect but found that the test fails at the commit when the board was first introduced.

I suspect there is overflow problem due to the fast system clock (996 MHz). The test passes if I set `CONFIG_SYS_CLOCK_TICKS_PER_SEC=200`

[code]

[2021-09-14 22:23] dleach02 commented on #31748
@elcritch, would your changes work if applied to boards/shields/mikroe_eth_click/boards/lpcxpresso55s69_cpu0.overlay?

Also, I note that you have a different value for spi-max-frequency then what is found in the current overlay file. Is there a problem with the existing value in the overlay?

[2021-09-14 22:24] dleach02 commented on #36986
@marcsekz have you had an opportunity to try the suggestion?

[2021-09-14 22:36] elcritch commented on #31748
My changes should work with `boards/shields/mikroe_eth_click/boards/lpcxpresso55s69_cpu0.overlay`. It also works with Adafruit nRF boards as well so probably nice to add them. The SPI change was just a tweak to make it a little more robust on the different Mikroe Click expansion boards (I'm using a Mikroe shield for the Arduino-Uno header to provide 2-MikroeClick boards).

I'll be looking into cre

[2021-09-14 23:11] dcpleung commented on #35707
@saininav Could you confirm that the backport works for you in v2.6?

[2021-09-14 23:14] dcpleung commented on #37456
We talked offline and found out that the issue has been fixed in main branch.

[2021-09-15 00:46] bbolen commented on #19979
It could be related.  The FPU is usually disabled.  When the code gets to a floating point instruction, an undefined instruction happens, the FPU gets enabled, and execution starts again on the floating point instruction that caused the fault.  So one undefined instruction exception would be expected when using floating point, but it wouldn't crash anything.

I'm unavailable for the rest of the we

[2021-09-15 02:10] easternblack commented on #38512
I'm using default pinmux of zephyr origin.
here's details for using CAN.
**zephyr/drivers/pinmux/stm32/pinmux_stm32f7.h**
[code]
and here is CAN1 and CAN2 dts node.
[code]
of course status is set to okay in the overlay file.

[2021-09-15 03:16] swethad11782809 commented on #38514
This was our working Azure Server, I collected the below logs with Zephyr 1.14 ( TCP1 Stack ).   While migrating to Zephyr 2.X onwards I am facing this connectivity issue.

![image](https://user-images.githubusercontent.com/86215438/133364830-9b830376-5bee-4545-9117-265516fbc319.png)

[2021-09-15 03:38] hakehuang commented on #38438
it now passes on v2.7.0-rc1-94-gf83dc928f6&

[2021-09-15 03:38] #38438 closed

[2021-09-15 04:30] mass-anis commented on #34324
@jaybuckeye06 tested it on a nucleol433 and it works.
setting **DBG_SLEEP**, **DBG_STOP**, and **DBG_STANDBY** to 1 in the **DBGMCU_CR** and enabling one of the DMA channels in **RCC_AHB1ENR**  seems to do the trick

[2021-09-15 04:44] swethad11782809 commented on #38514
Also when I enable CONFIG_SOCKS, I see the build failure.
Below is the diff of the prj.conf

![image](https://user-images.githubusercontent.com/86215438/133371943-175c8baa-d818-4f65-a9ab-5974247271a1.png)

![image](https://user-images.githubusercontent.com/86215438/133371710-34521231-2c77-4b2f-b0ac-c04122ecb86e.png)

[2021-09-15 05:55] caco3 commented on #34659
The module is designed by us, thus very specific and proprietary.

[2021-09-15 06:38] tbursztyka commented on #38514
this WAS or this IS? ;) (I guess you tested it on 1.14 just now so it probably is).

You need to provide CONFIG_SAMPLE_SOCKS_ADDR and CONFIG_SAMPLE_SOCKS_PORT

[2021-09-15 06:41] tbursztyka commented on #38514
Now what will be necessary is logs from wireshark.
Log everything that comes from your EHL board running Zephyr.
- get the logs for 1.14 (working path)
- get the logs for current version (broken path).

And hopefully we'll see what is going on with the new TCP stack.

[2021-09-15 06:43] jfischer-no commented on #38494
There will not be this kind of callback. UART driver API is sufficient to solve it, see https://github.com/zephyrproject-rtos/zephyr/pull/38203

This is not a workaround it is mandatory configuration, CDC ACM logging should be off or at least configured to ERR, regardless whether backend is capable to wait for readiness of CDC ACM UART or not.

And, since it keeps being described incorrectly, even

[2021-09-15 07:12] emob-nordic commented on #38494
@nordic-krch Could we have something similar to #38203 for uart back-end in logger?

[2021-09-15 07:14] alexanderwachter commented on #38512
I had a look at the pictures again. It seems that you are measuring in CAN_H and CAN_L. In the second picture, it looks like most of the data, if not all, is zero. The dominant spices you see in the picture are probably stuffing bits.

[2021-09-15 07:33] easternblack commented on #38512
Okay, I'll check with more simple and clear CAN sample apps.
But next week is week-long national holiday in our country, so the result probably be late.

I'll re-open this issue if there are something to notice.

[2021-09-15 07:33] #38512 closed

[2021-09-15 07:39] erwango commented on #38437
@ycsin Would you mind providing here all the info you shared in #38521 ?
Also provide details on your specific implementation.

[2021-09-15 07:53] hjuul opened #38548 "stm32: QSPI flash driver concurrent access issue"
**Describe the bug**
Reading or writing from/to QSPI flash from different contexts doesn't work.
`flash_stm32_qspi.c` seems to not be thread safe by design.

**Impact**
File system API doesn't handle concurrency either, so it is left to the application.
But in my application there are several subsystems that also access the QSPI driver (logging with fs backend, settings API, fcb) so handling concu

[2021-09-15 07:56] nordic-krch commented on #38494
The difference between logging and shell is that shell has dedicated thread for each instance and here there is one logging thread for all backends so approach must be non-blocking.

I'm currently working on multidomain logger and there an entity type called `link` is introduced. it is a pipe from other domain through which remote messages are added. Links are similar to backends in a way that it

[2021-09-15 08:00] ycsin commented on #38437
My board is a G0B1RE + Quectel EC21 modem combo.

I have this in my main to test the stability of `gsm_ppp` modem

[code]

`hw_man` is the hardware manager I mentioned, basically a wrapper for Zephyr's `onoff_manager`. As I've said this mainly solves the hardware dependency problem where the modem sends unsolicited data to the MCU through uart and current stm32's uart driver lacks the ability to w

[2021-09-15 08:22] avisconti commented on #38485
I'm getting this now. Sorry.

[2021-09-15 09:16] ycsin opened #38552 "stm32: g0b1: garbage output in log and suspected hard fault when configuring modem"
**Describe the bug**
This issue documents what happens after applying #38521, and make it easier to differentiate from #38519.

I'm observing a system hang (~~which is usually a hard fault but Zephyr didn't manage to print the message to the log~~ read the end) when the MCU attempts to configure the modem.

My setup is a STM32G0B1RET custom board with Quectel EC21 modem using the `gsm_ppp` modem d

[2021-09-15 09:17] ycsin commented on #38552
@erwango I've simplified my setup quite a bit so my hardware manager implementation isn't related anymore.

[2021-09-15 09:44] ycsin commented on #38437
#38552

[2021-09-15 09:49] carlescufi commented on #34659
Downgrading this from Medium to Low since it now looks it could be a USB Host issue on the Linux SBC side. The actual Bluetooth bug that started this issue is already covered by #25917 already, and is listed as a known issue for now, with a workaround in #26057. Discussion can continue here to try and narrow down whether the USB issue can be attributed exclusively to the Linux side or whether ther

[2021-09-15 09:53] carlescufi commented on #37865
@jfischer-no to investigate in the 2.7.0 timeframe.