[2019-08-18 09:25] aescolar commented on #18365
@bbolen this code came from your PR #9316 from this commit 4ef9d4b , could you take a look at it?

![image](https://user-images.githubusercontent.com/32480799/63222629-d560c200-c1aa-11e9-97e1-4bf42bfb2309.png)

[2019-08-18 09:25] aescolar commented on #18366
Related to #18365

[2019-08-18 09:28] aescolar commented on #18425
@marc-hb from 3061c92aafc

[2019-08-18 09:29] aescolar commented on #18424
@marc-hb from 3061c92

[2019-08-18 09:29] aescolar commented on #18424
Related to #18425

[2019-08-18 09:33] aescolar commented on #18364
@rlendenmann this comes from 0bc4a88bc76 #85 , could you please take a look at it?

[2019-08-18 09:34] aescolar commented on #18379
from 141b6500c9c  #17100

[2019-08-18 09:38] aescolar commented on #18378
from b1e45b413ef #6391

[2019-08-18 09:40] aescolar commented on #18374
from da744314ca4 #12668

[2019-08-18 09:44] aescolar commented on #18361
@gon1332  this comes from 4fffe790be2 #17098 , could you please take a look at it?

![image](https://user-images.githubusercontent.com/32480799/63222878-7a7c9a00-c1ad-11e9-9564-c56a5b4b76c1.png)

[2019-08-18 09:53] aescolar commented on #18435
from e2ad85b696e #784
@pfl you changed this statement in 21358baa72c, would be so kind as to correct it?

[code]

[2019-08-18 10:02] aescolar commented on #18354
False positive, due to static analysis tool not knowing `posix_print_error_and_exit` never returns => lowering priority
Will fix nontheless

[2019-08-18 11:17] ioannisg commented on #18281
@hakehuang this test has the following filter:
`filter: CONFIG_MEMORY_PROTECTION
`
Now, MEMORY_PROTECTION requires ARM_MPU, which is not defined for this platform. So the test should not run for this board at all.

@MaureenHelm I am closing this one.

[2019-08-18 11:17] #18281 closed

[2019-08-18 11:33] aescolar commented on #18382
@mtpr-ot introduced in 3a9173afe15

[2019-08-18 14:02] jhedberg commented on #18432
Marked as false-positive in Coverity

[2019-08-18 14:02] #18432 closed

[2019-08-18 14:03] jhedberg commented on #18434
Marked as false positive in Coverity

[2019-08-18 14:03] #18434 closed

[2019-08-18 14:04] jhedberg commented on #18433
Marked as false positive in Coverity

[2019-08-18 14:04] #18433 closed

[2019-08-18 14:06] jhedberg commented on #18387
Marked as false positive in Coverity

[2019-08-18 14:06] #18387 closed

[2019-08-18 14:16] jhedberg commented on #18386
There are several things that look messed up with this code. I don't have time to go digging through the RFCOMM spec to figure out what exactly is the right thing. Maybe this is the final straw and we should just remove BR/EDR support from the tree. Downgrading to low priority however since this is considered experimental code.

[2019-08-18 14:18] alexanderwachter commented on #18458
CID 203422 (#1 of 1): Buffer not null terminated (BUFFER_SIZE_WARNING)4. buffer_size_warning: Calling strncpy with a maximum size argument of 128 bytes on destination array pp->path of size 128 bytes might leave the destination string unterminated.

Line 64

[2019-08-18 14:19] jhedberg commented on #18385
Marked as false positive in Coverity

[2019-08-18 14:19] #18385 closed

[2019-08-18 14:20] alexanderwachter commented on #18392
CID 203494 (#1 of 1): Division or modulo by zero (DIVIDE_BY_ZERO)22. divide_by_zero: In expression fs->area->fa_size / block_size, division by expression block_size which may be zero has undefined behavior.

Line 623

[2019-08-18 14:20] jhedberg commented on #18383
Marked as false positive in Coverity

[2019-08-18 14:20] #18383 closed

[2019-08-18 14:23] jhedberg commented on #18390
Marked as false positive in Coverity

[2019-08-18 14:23] #18390 closed

[2019-08-18 14:26] jhedberg commented on #18389
Marked as false positive in Coverity

[2019-08-18 14:27] jhedberg commented on #18388
Marked as false positive in Coverity

[2019-08-18 14:27] #18388 closed

[2019-08-18 14:33] jhedberg commented on #18372
Marked as false positive in Coverity

[2019-08-18 14:40] alexanderwachter commented on #18393
Coverty:
[code]

This issue occurs because of the htons in case of a byte swap. IMO this code is correct.

[2019-08-18 16:02] nmeum commented on #18118
I didn't use the zephyr SDK, I used vanilla qemu 4.0.0, which version is shipped by the SDK? I managed to get hold of a hifive 1 board though, will test this application on it soonish.

[2019-08-18 16:05] #18354 closed

[2019-08-18 17:44] aescolar commented on #18372
@jhedberg forgot to close?

[2019-08-18 18:11] jhedberg commented on #18372
@aescolar yep, thanks for pointing out

[2019-08-18 18:11] #18372 closed

[2019-08-18 18:52] rettichschnidi commented on #17005
(Sorry for the late and small update)

End of July I had a call with our FAE. I got the same information as @kestewart: SiLabs seems motivated and moving forward, but they needs some more time. We will have another call latest by end of August.

[2019-08-18 19:41] rettichschnidi opened #18473 "RFC: List of Zephyr Consultancy companies"
## Introduction

The projects website should have a compilation of companies offering Zephyr-related services.

### Problem description

Companies typically have money, product ideas and developers. But given the relatively young age of the Zephyr project, they typically lack experience with Zephyr.
Getting started with Zephyr while avoiding the pitfalls of creating a (mass) product is hard, but c

[2019-08-18 19:52] rettichschnidi commented on #18473
Potential candidates I could find so far:
* [Prowess Consulting](https://www.prowesscorp.com/)
  * Source: [Developing a Neonatal Baby Monitor](https://www.prowesscorp.com/developing-a-neonatal-baby-monitor/)

[2019-08-18 21:27] mbolivar commented on #17554
I think the --west-flash option to sanitycheck already handles this explicitly:

[code]

[2019-08-18 21:28] mbolivar commented on #17554
@xuhao8210 @ioannisg if you agree with my above comment, consider closing this as it is not a bug.

[2019-08-18 22:19] StefJar commented on #18157
@galak putting it into the original dts works. no problem
Now try to create an overlay and put your patch into it. Remove the flash0 entry from the dts file. Add the overlay via "shield" to your project and build. Think you will see a linker fail.
Now add to your project file `FLASH_LOAD_OFFSET=0x20000` and build again. This time the linking should work.

[2019-08-18 23:16] mike-scott commented on #18417
Lines of code in question:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/lwm2m/ipso_timer.c#L334
[code]
Description of issue is:
[code]

Maybe, I'm misunderstanding the description of the issue, but for any actual value of avail (the object instance index), we **should** be able to safely clear out the sub array of 11 resource records (each 24 bytes in size for a total of

[2019-08-18 23:20] olsky commented on #17688
just a short update: after 8hours and 3 boards running, still the same 400/0 values... running on nRF9160

[2019-08-18 23:43] pabigot commented on #17688
The Zephyr driver for CCS811 is very simplistic, but it does read the error and baseline (resistance) registers.  Looking again at the output your status register value is 0x99 and the `ERROR_ID` is perhaps 0x18, which decodes to a heater fault and the sensor being at the maximum resistance.  Also it appears that it's measuring the minimum representable current, and maximum representable voltage.

[2019-08-19 00:33] wentongwu commented on #18029
Thanks

[2019-08-19 00:47] bbolen commented on #18365
Yes, I'll take a look.

[2019-08-19 00:56] marc-hb commented on #18424
After a few seconds https://scan9.coverity.com/reports.htm#v32951/p12996 redirects to https://scan9.coverity.com/reports.htm#v38298 which shows a spinning wheel for a few more seconds and then leaves a blank page. The top right corner shows my email address even though I didn't explicitly logged in, at least not in the last few months. The bottom left corner shows "0 projects match". This could be

[2019-08-19 01:19] kqian0327 commented on #18029
mute the thread

发自我的 iPhone

[2019-08-19 02:40] xuhao8210 commented on #17554
@mbolivar  I have used the --west-flash option for sanitycheck script to specified board ID, but it is still display that let me to choose which board to be flashed when one server connected to 2 boards.   So I think that the option does not work，and please refer the log in Screenshots section.  Thanks for you checking this problem.

[2019-08-19 02:44] likeaferrari commented on #18143
@erwango
Here's the info what you requested.
SHA: bd001081fce1e2b2123f8248be9c3c938d1f470c

I made test environment as like below picture.
![nucleos](https://user-images.githubusercontent.com/18590873/63234476-53d36780-c270-11e9-8f0b-411a5af22615.jpg)

and here is my part of pinmux.c indicate SPI1 configs.
![pinmux](https://user-images.githubusercontent.com/18590873/63234726-7dd95980-c271-11e9-8a9

[2019-08-19 03:09] mbolivar commented on #17554
@xuhao8210 I'm so sorry for missing that in your original report.

The error turns out to be due to using an old -b option in our pyocd script, when we should be using -u for the newest pyocd.

I have tested the following PR and it fixes the issue for me:
https://github.com/zephyrproject-rtos/zephyr/pull/18474

Could you please test and +1 the pull request if it works for yoU?

[2019-08-19 05:43] mike-scott commented on #18473
Could also include the company's primary expertise.  For instance, Foundries.io focuses on secure device management such as LwM2M to enable OTA via 802.15.4/OpenThread, BLE 6LoWPAN and LTE-M/NB-IoT.

[2019-08-19 05:45] xuhao8210 commented on #17554
@mbolivar  After I tried your solution to update the option from ‘-b’ to ‘-u’ for the row :” board_args = ['-b', board_id]” in the file:” scripts/west_commands/runners/pyocd.py”, it worked well. Thanks for your support.  But I checked that Shippable check was failure a few hours ago, have you fix it ? because I checked that the Pull request have been run the check again.

[2019-08-19 05:58] mtpr-ot commented on #18382
This is a copy-paste mistake when doing the CONFIG_BT_TICKER_COMPATIBILITY_MODE conditions. It has no impact as the desired initialization is in line 380. Will make a PR with an update.

[2019-08-19 06:23] mbolivar commented on #17554
Thanks for the report and sorry for misunderstanding out at first.

I did fix it. Shippable is passing now.

[2019-08-19 06:23] Laczen opened #18476 "Custom module with west"
Hi,

I am trying to create a custom module (e.g. mymodule). I have created a folder mymodule that contains mymodule.c, mymodule.h, CMakeLists.txt and a zephyr subfolder containing module.yml.

CMakeLists.txt:
[code]

module.yml:
[code]

To use the module my app CMakeLists.txt is:
[code]

When I try to build using west I can see that the module is included, but the include file mymodule.h is not ad

[2019-08-19 06:26] xuhao8210 commented on #17554
@mbolivar  Got it, Thanks again.

[2019-08-19 06:34] #18392 closed

[2019-08-19 06:34] #18458 closed

[2019-08-19 06:39] gon1332 commented on #18361
@aescolar Yes I'll look into it.

[2019-08-19 06:43] mbolivar commented on #18476
Not sure if related to this issue, but there is support for a ZEPHYR_EXTRA_MODULES variable which can be used to add a fixed set custom modules to the ones which are found via west and which will populate ZEPHYR_MODULES if it is not already set.

If your ZEPHYR_MODULES list in the `[...]` isn't complete, you might run into other issues, and you also risk version skew as zephyr changes. I'd recomme

[2019-08-19 07:19] pizi-nordic commented on #12509
IMHO it should be fixed. I can prepare PR after I finish userspace logging.

[2019-08-19 07:24] Laczen commented on #18476
@mbolivar, thanks for your reply, I have changed ZEPHYR_MODULES into ZEPHYR_EXTRA_MODULES, but the result remains the same. It does seem better for the existing modules as they are all added now.

[2019-08-19 07:24] pizi-nordic commented on #17965
Thank you @pabigot!

[2019-08-19 07:46] #18426 closed

[2019-08-19 07:46] #18353 closed

[2019-08-19 07:46] #18427 closed

[2019-08-19 07:46] #18428 closed

[2019-08-19 07:46] #18429 closed

[2019-08-19 07:46] #18430 closed

[2019-08-19 07:50] carlescufi commented on #18476
Two things to take into account:

1.  If you are using west then there's no need for the `set(ZEPHYR_MODULES ...` in your app's CMakeListst.txt, west will populate that automatically
2. Try using `zephyr_include_directories()` in your module's CMakeLists.txt

[2019-08-19 08:17] alexanderwachter commented on #17926
@aep Are your problems solved now? Can we close this issue?

[2019-08-19 08:25] Laczen commented on #18476
@carlescufi, thanks for the reply. The `zephyr_include_directories()` solves my problem.

I was trying to find a general approach for a custom local module, and keeping the include file in the module instead of in the zephyr tree. Maybe there is a better way to add this custom local module to west and use the standard `target_include_directories()`.
What is the way to add a custom module to west i

[2019-08-19 08:26] tbursztyka opened #18480 "Microchip's MEC1501 HAL is broken (watchdog part)"
Obvious bug:

ext/hal/microchip/mec/mec1501/component/wdt.h:50:28: error: invalid suffix "u1" on integer constant
 #define MCHP_WDT_CTRL_EN  (1u1 << (MCHP_WDT_CTRL_EN_POS))

And:
- It lacks of some registers field pos/mask/en macros.
- Naming convention is not consistent either.

[2019-08-19 08:27] tbursztyka commented on #18480
@scottwcpg please fix.

[2019-08-19 08:30] ioannisg commented on #18282
I think this should be a random (sporadic) fail of the notorious time-slicing test, and nothing to do with this board. It passes for me, locally, on the same board.

Can we have @andyross look at the scheduling test?

[2019-08-19 08:40] carlescufi commented on #18476
I am really not sure. All the main CMakeLists.txt does is `add_subdirectory()` to each module folder, so anything you use outside of a module should work here too. Maybe @SebastianBoe can add some more info.

[2019-08-19 09:03] #17554 closed

[2019-08-19 09:11] carlescufi commented on #13574
FCB is now documented and NFFS is on the path to deprecation, so closing this.

[2019-08-19 09:11] #13574 closed

[2019-08-19 09:12] carlescufi commented on #18473
I wonder if this should be on the website or directly in our documentation. Maybe this is something worth discussing at the next TSC?
@MaureenHelm @rettichschnidi @nashif

[2019-08-19 09:14] carlescufi commented on #18473
I would probably add there:

- [CodeCoup](https://www.codecoup.pl/)
- [Bay Libre](https://baylibre.com/)
- @pabigot (not sure he has a website)

[2019-08-19 09:34] mtpr-ot commented on #18382
Solution merged

[2019-08-19 09:34] #18382 closed

[2019-08-19 09:41] SebastianBoe commented on #18476
@Laczen : Perhaps instead of

`target_include_directories(mymodule INTERFACE ${CMAKE_CURRENT_SOURCE_DIR})`

do

`zephyr_include_directories(.)`

[2019-08-19 09:44] pfl commented on #18435
I changed the next line to add an 'U' to the unsigned constant multiplying the other argument, the size_t strlen() was never touched. The only header file I can find is:
`libc/minimal/include/string.h:extern size_t strlen(const char *s);`
which according to my understanding is most certainly printed with modifier '%zu'. Where is this unsigned long coming from, do you use another compiler as gcc, o

[2019-08-19 09:46] jfischer-phytec-iot commented on #18473
Well then I would add [PHYTEC Messtechnik GmbH](https://www.phytec.de).

[2019-08-19 09:54] pfalcon commented on #18473
Guys, you can get a bit of advertising by posting articles to Zephyr blog: https://www.zephyrproject.org/news/blog/ ;-).

[2019-08-19 09:55] jhedberg opened #18483 "Bluetooth: length variable inconsistency in keys.c"
After commit 94451b22fcc there's an inconsistency with length variable usage:
https://github.com/zephyrproject-rtos/zephyr/blob/c635f4cb6d56492620114ade116c9b85b20bb9e6/subsys/bluetooth/host/keys.c#L339-L341

Is the if-statement wrong in using `len_rd` or is the log message wrong in using `len`?

[2019-08-19 09:59] pfalcon commented on #18473
We can also publish a stats report which companies contributed which % of commits to Zephyr release X.Y, as popular for Linux, e.g. https://lwn.net/Articles/726950/

[2019-08-19 10:23] #18462 closed

[2019-08-19 10:34] ioannisg commented on #18283
@dleach02 will you have time to address this one?

[2019-08-19 10:52] Laczen commented on #18476
@SebastianBoe, it works with `zephyr_include_directories()`, thanks.

[2019-08-19 10:58] aescolar commented on #18435
@pfl

To the best of my understanding, none, as this is a Coverity static analysis. This has nothing to do with native_posix.

From the error it is also not clear to me what the problem is.

[2019-08-19 11:09] #18384 closed

[2019-08-19 11:09] #18431 closed

[2019-08-19 11:17] ioannisg commented on #16861
@endian-benjamin can you elaborate a bit more here?

[2019-08-19 11:21] gon1332 commented on #16797
@nvlsianpu You are correct. The actual problem is the multithreading support. It's not a problem for me since the time I opened the issue. But it is still a bad first impression if a newcomer tries to use them and observe this issue.

Is there a backport fixing this driver? Could you please point me to it?

@carlescufi Also adding MCUboot as a west project is a good idea.

[2019-08-19 11:24] ioannisg commented on #18422
@pizi-nordic or @pabigot could you fix this one, since @nordic-krch is off-work?

[2019-08-19 11:27] tbursztyka commented on #18453
false positive. (will wait to get the right to set the cid on ignore to close this issue).

[2019-08-19 11:27] tbursztyka commented on #18454
false positive. (will wait to get the right to set the cid on ignore to close this issue).

[2019-08-19 11:30] carlescufi commented on #16797
@gon1332 thank you, this is being tracked elsewhere already so I will close this issue.

[2019-08-19 11:30] #16797 closed

[2019-08-19 11:31] pabigot commented on #18422
I don't have access to Coverity (yet?  did request it) so can do nothing without details of what the problem is.

[2019-08-19 11:34] ioannisg commented on #18422
I thought you already managed to get it, to solve the coverity fixes you pushed yesterday, sorry.

[2019-08-19 11:45] aescolar commented on #18422
[code]

[2019-08-19 11:52] trond-snekvik opened #18488 "Bluetooth: Mesh: Friend queue message seqnum order"
**Describe the bug**
The friend queue messages are encrypted when they're put into the queue.  This causes replay protection issues on the LPN if we get a friend control message we have to respond to:

Friend subscription list add/remove messages should be responded to with a subscription list confirm message immediately, essentially skipping the queue. This functionality is correctly implemented

[2019-08-19 11:55] ioannisg commented on #18422
@pabigot ^^

[2019-08-19 11:57] ioannisg commented on #18380
[code]

[2019-08-19 11:57] ioannisg commented on #18380
@cvinayak ^^

[2019-08-19 12:02] nashif commented on #17487
this was already merged.

[2019-08-19 12:02] #17487 closed

[2019-08-19 12:03] #13347 closed

[2019-08-19 12:03] jhedberg commented on #18488
We might need to store some more meta-data if we store unencrypted, e.g. which IV Index to use (must be the same as when the Friend received the PDU). Or you think the IVI bit in the header is enough for this?

[2019-08-19 12:03] #14283 closed

[2019-08-19 12:05] jhedberg commented on #18488
Just to be clear: I'm all for storing unencrypted, in fact this is hinted as the "right thing" by looking at section "3.11 Message processing flow" in the mesh spec.

[2019-08-19 12:06] trond-snekvik commented on #18488
That's true, but we essentially do this already, just encrypted and obfuscated. I think IVI is enough, the message can't stay in the queue for more than 96H, according to the note in 3.6.6.3.2.

[2019-08-19 12:15] #18453 closed

[2019-08-19 12:27] tbursztyka commented on #18418
intentional.

[2019-08-19 12:27] #18418 closed

[2019-08-19 12:38] tbursztyka commented on #18399
false positive

[2019-08-19 12:38] #18399 closed

[2019-08-19 12:39] agansari commented on #18282
Can't reproduce this as well, it maybe spuroius as @ioannisg mentions.
@hakehuang is there any other detail in reproducing this issue?

[2019-08-19 12:47] WilliamGFish commented on #18298
Ok, Attempted to trace (using windows so harder) used OZone to do reverse lookup on following error:
[code]

[code]

If i look at the zephyr.lst file i can see this:

Hopefully this is of some use.

[2019-08-19 12:49] tbursztyka commented on #18396
intentional. closing

[2019-08-19 12:49] #18396 closed

[2019-08-19 13:12] #18379 closed

[2019-08-19 13:30] #18090 closed

[2019-08-19 13:36] galak commented on #18359
Not a bug, this is due to how register access/pointer math is working.

[2019-08-19 13:36] #18359 closed

[2019-08-19 13:36] galak commented on #18360
Not a bug, this is due to how register access/pointer math is working.

[2019-08-19 13:36] #18360 closed

[2019-08-19 13:37] galak commented on #18357
Not a bug, this is due to how register access/pointer math is working.

[2019-08-19 13:37] #18357 closed

[2019-08-19 13:37] galak commented on #18358
Not a bug, this is due to how register access/pointer math is working.

[2019-08-19 13:37] #18358 closed

[2019-08-19 13:38] endian-benjamin commented on #16861
@ioannisg @Mierunski Using the interrupt driven approach (with a wrapper handler).

So

- pm hooks calls `device_set_power_state` to wake up UART
- work item sets tx irq handler and calls `uart_irq_tx_enable`
- work item enables rx interrupts and waits for response
- response on the line is, say, `AA BB CC DD EE`, verified by oscilloscope
- work item receives NOT five bytes, but SIX, and they are

[2019-08-19 13:43] galak commented on #18365
@bbolen looks like not a bug, but will let you look in more detail.

[2019-08-19 13:45] galak commented on #18364
Not a bug, normal use of atomic.

[2019-08-19 13:45] #18364 closed

[2019-08-19 13:47] ioannisg commented on #16707
@pmishr16 could you respond here, please?

[2019-08-19 13:48] mbolivar commented on #18476
@carlescufi I think "using west" is ambiguous here btw and I want to
clear that up in case others are reading this issue.

"Using west build" != "put the custom module in west.yml"

IMO:

- If the custom module is not in west.yml, ZEPHYR_EXTRA_MODULES should be used.
- If it is in west.yml, no need to touch ZEPHYR_EXTRA_MODULES.

[2019-08-19 13:57] pfalcon commented on #18334
Ok, confirmed that `git revert ef1093755328e7ecab2965b273110d57b4d76931` succeeds and fixes this issue.

[2019-08-19 14:27] #18419 closed

[2019-08-19 14:27] #18420 closed

[2019-08-19 14:27] #18454 closed

[2019-08-19 14:37] pfalcon commented on #18334
Analysis of ef1093755328e7ecab2965b273110d57b4d76931, which introduced regression: https://github.com/zephyrproject-rtos/zephyr/commit/ef1093755328e7ecab2965b273110d57b4d76931#r34743268

Summary: this processing needs to be rewritten from scratch.

[2019-08-19 14:37] ulfalizer commented on #18352
@pabigot
Could check what `write_iochannels()` does in `gen_defines.py`, and compare it against `write_gpios()`. Honestly, I don't know what output the code expects for all of these, so I might not be the best person to change it. :P

It's made to be easy to tweak at least. `gen_defines.py` decides what the output is, while edtlib is general.

[2019-08-19 14:39] scottwcpg commented on #18480
Hi, updated HAL WDT header file in PR 18497.

[2019-08-19 14:40] ulfalizer commented on #18352
Maybe @jimparis has opinions.

[2019-08-19 14:45] ulfalizer commented on #18352
Re. `io-channels = <&adc 1>, <&adc 2>, <&adc 4>;` vs. `io-channels = <&adc 1 &adc 2 &adc 4>;`, they're treated exactly the same, and generate the same output with the devicetree compiler as well.

I added support for the first form in the type checker even though it's redundant, because it felt a bit mean to disallow something people probably do because they care about trying to make things readab

[2019-08-19 14:58] dleach02 commented on #18283
I will look at this today

[2019-08-19 15:18] rettichschnidi commented on #18473
I'd be willing to join and (if helpful) maintain such a compilation.

[2019-08-19 15:38] joerchan commented on #17920
@carlescufi Can you give your opinions on this one?

[2019-08-19 15:47] #18178 closed

[2019-08-19 16:15] pabigot commented on #17965
In the successful case where the iteration body takes 3 ticks, generated by `west flash`:

* The timeout is set for 2 cycles successfully.
* z_set_timeout_expiry() on entry to idle sees the next timeout due in 1 tick, which is imminent, so the compare is not reprogrammed.
* At the end of the announce releasing the sleep the clock is set for more than 2 cycles.

In the failure case where the iterat

[2019-08-19 16:16] carlescufi commented on #17920
There are 2 cases here:

1. Security was successfully set to the requested level, but key distribution/bonding failed after (your case) and in that case it makes all the sense that the app gets a `security_changed()` with the new security level, since the connection security did indeed change
2. For whatever reason, the security could not be updated, and in that case I suggest issuing `security_ch

[2019-08-19 17:01] cvinayak commented on #18380
rx is in-out parameter in line 1523. Here it can return NULL for rx. But at 1459, it will not be NULL, as the caller will pass non-NULL rx pointer.

This check at line 1530 is intentional.

[2019-08-19 17:04] carlescufi commented on #18381
[code]

[2019-08-19 17:16] pabigot commented on #18422
Ugh.

I think Coverity is wrong here, and that it's not detecting that a successful call to `telnet_send()` will have reset `lb->len` to zero, so it's no longer true that `lb->len = 80`.

On the other hand, the loop is grossly overcomplicated.  There's a trivial and obviously correct transformation that makes it a bit more clear to a human.  Under other circumstances I'd want to replace it with so

[2019-08-19 17:19] carlescufi commented on #18380
Intentional, dismissed in Coverity

[2019-08-19 17:19] #18380 closed

[2019-08-19 18:03] WilliamGFish commented on #18298
@carlescufi
Update:

[code]
Other intermittent errors

[code]

[2019-08-19 18:35] dleach02 commented on #18283
These test cases are not valid for the current rt1015 platform as their min_ram requirements exceed the current RAM sizing of the rt1015. I suspect the test cases were not filtered correctly by @hakehuang.

[2019-08-19 18:39] dleach02 commented on #18283
I'm closing this bug report as it appears our internal testing is not properly filtering test cases were our target board does not meet minimum RAM requirements.

[2019-08-19 18:39] #18283 closed

[2019-08-19 19:07] pabigot commented on #18473
I do, though it's rarely updated and I'm not actively seeking new clients at this time.  I'd like to be on the list nonetheless.

* [Peter Bigot Consulting, LLC](https://www.pabigot.com/)

[2019-08-19 19:33] pabigot commented on #17738
This is a duplicate of #11754.  See also [this recent fw-nrfconnect-nrf commit](https://github.com/NordicPlayground/fw-nrfconnect-nrf/pull/1003/commits/a8bbb58640ff9a4351c896c1657decb5f47e8731).

That `static_assert` should never have been added to `<assert.h>` is a different issue which I'll follow up on.

[2019-08-19 19:33] #17738 closed

[2019-08-19 19:40] MaureenHelm commented on #17897
Invite sent to @scottwcpg

[2019-08-19 19:48] #18352 closed

[2019-08-19 20:01] pabigot commented on #5695
Much of this has been addressed in the past 18 months.  As soon as #18243, #18245, and #18242 are merged Zephyr should be pretty compatible with C++.

[2019-08-19 20:12] pabigot commented on #17897
See #15707 for how this was handled in Nordic.

[2019-08-19 20:40] Laczen commented on #18476
@SebastianBoe, It seems I was to quick with stating that it works. In my case my header file sources some zephyr headers and this seems to fail. Is it possible to create a ZEPHYR_EXTRA_MODULES that uses zephyr headers ?
@mbolivar, the term "using west" is indeed ambiguous, I was referring to the command used for building.

[2019-08-19 21:51] marc-hb commented on #8851
Care to provide direct link(s) to the corresponding PR(s)?

[2019-08-19 22:02] ioannisg commented on #18282
@hakehuang could youhelp us a bit more in this issue?

[2019-08-19 22:26] pabigot commented on #17965
Per @jfischer-phytec-iot this fixes it for the new reel board, but the old one is failing to satisfy the maximum 2500 ms upper bound, getting values like 2625 that suggest about 25% of the iterations are taking the path that requires 6 ticks.  I'm still inclined to think this is associated with crystal stability.  If that seems plausible, I'll update the `MINIMUM_CYCLE_TICKS` value in #18343 to 3,

[2019-08-19 22:49] #17997 closed

[2019-08-20 00:57] chen-png opened #18508 "tests/net/trickle failed on frdm_k64f board"
**Describe the bug**
Running test suite test_trickle on frdm_k64f board, it failed with error message "test_trickle_2_wait: (cb_2_called is false)".

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=frdm_k64f  tests/net/trickle
2. west flash

**Screenshots or console output**
![image](https://user-images.githubusercontent.com/52983984/63309059-edaa1b80-c327-11e9-9bcf-22b55d462f36

[2019-08-20 01:30] jenmwms commented on #17415
Hi @nwsetec @ioannisg @nvlsianpu
Can you please provide an update on this?
Thanks

[2019-08-20 02:08] LingaoM opened #18509 "Bluetooth:Mesh:Memory allocation is too large"
https://github.com/zephyrproject-rtos/zephyr/blob/4a470114faf72333a8188086f32ceb3fd5a335c1/subsys/bluetooth/mesh/proxy.c#L52
We know that the specification requires that the ATT MTU should be 69 octets when using the provisioning server to accomodate the longest known provisioning message(**_ATT opcode(1 octets)_, _ATT Handle(2 octets)_, _PROXY header(1 octets)_ and Provision PDU(_Header(1 octets)

[2019-08-20 02:22] nwsetec commented on #17415
Hi @jenmwms the #17446 PR fixes the issue, I've checked the master branch and the issue still exists, so PR needs to be reviewed and if all good merged.

[2019-08-20 02:23] dleach02 commented on #18280
@MaureenHelm, @hakehuang, I've run this test 20+ times and I've only received the error once. Looking closer at the code it looks like the busy error will occur if the hardware hasn't finished the previous request. Not sure what to do about this but I suggest lowering the priority of this to low unless Hake has some way to get this to reproduce reliably.

[2019-08-20 02:39] hakehuang commented on #18282
@ioannisg , I just download it to board and run it.  let me try to find a easy way to reproduce it.

[2019-08-20 02:53] hakehuang commented on #18280
@dleach02 , I do not have any good way to reproduce it. and looks like I run multiply cases in batch, then this will happen. maybe we need consider to add a sync read lock in driver

[2019-08-20 06:51] pizi-nordic commented on #17965
Thank you @pabigot for looking into the problem in detail.

[2019-08-20 06:52] aescolar commented on #18422
If the understanding is that this is a false positive, then I'd either lower the priority and/or move the milestone to "future" and wait for @nordic-krch to be back to discuss with him. No need for doing things in a hurry.

I'll do so now, if you disagree please undo.

[2019-08-20 07:01] LeiW000 commented on #18366
Does anyone know where DT_INST_0_CDNS_TTC_CLOCK_FREQUENCY is defined? Without it, I can't figure out how to fix the issue.

[2019-08-20 09:13] binkboyd commented on #11702
@jakub-uC , @barsok - I am also looking at using the nrfx I2S driver in zephyr; would it be possible to get access to the in-progress branch ? I would much prefer to get started with something that has been tested some rather than start from scratch myself .)

[2019-08-20 09:22] carlescufi commented on #18488
@jhedberg @trond-snekvik plans to submit a PR for this in time for 2.0?

[2019-08-20 09:26] jhedberg commented on #18488
@carlescufi I can't commit to it right now at least. I would also combine this change with a more light-weight TID-based tracking of messages in the queue, rather than using the SeqAuth + address combination.

[2019-08-20 09:26] aescolar commented on #18483
Unfortunately @fnde-ot is out for the next 2 weeks. But he had left this comment about this: https://github.com/zephyrproject-rtos/zephyr/commit/94451b22fcc6a068de2a2982b202772c6bbefae8#r34438851

[2019-08-20 09:27] aescolar commented on #18483
@jhedberg ^^

[2019-08-20 09:29] aescolar commented on #18483
@jhedberg I bounce this issue back at you as we cannot expect @fnde-ot to react any time soon.

[2019-08-20 09:48] SebastianBoe commented on #18476
Yes. AFAICT the code in the description should work, could you publish the code in some branch so I can reproduce?

[2019-08-20 10:00] trond-snekvik commented on #18488
I agree, this is too big of a change to do in just a few days.

[2019-08-20 10:33] thomasthep-depone commented on #5703
Any updates regarding the status of NFC?

There's a pull-request https://github.com/zephyrproject-rtos/zephyr/pull/10117 which has since last been touched on April the 30th. It's been marked stale since.

[2019-08-20 10:45] jakub-uC commented on #11702
@binkboyd : I am affraid that temporary branch has not been updated for a long time. As a result it might be hard to sync with current zephyr master.
Personally I recommend to use directly nrfx driver without I2S shim.

@barsok : Please correct me if I am wrong.

[2019-08-20 10:54] barsok commented on #11702
@jakub-uC @binkboyd  hi!  We have a working SHIM and is now being prepared for review. @adamkondraciuk would you please comment?

[2019-08-20 11:11] Laczen commented on #18476
@SebastianBoe, you are correct, something else was wrong with my code that made me believe the include files were missing. I am closing the issue, thanks for the help.

[2019-08-20 11:11] #18476 closed

[2019-08-20 11:18] #17415 closed

[2019-08-20 11:20] adamkondraciuk commented on #11702
Hi. The code needs to be cleaned and refactored. There are many comments, useless logs and awkward test solutions.

[2019-08-20 11:39] #18334 closed

[2019-08-20 12:00] menglingao1997 opened #18521 "BLE: Mesh: when friend send msg to LPN"
https://github.com/zephyrproject-rtos/zephyr/blob/951b47fab95db493c9469e53a77275312ac6637e/subsys/bluetooth/mesh/friend.c#L1351-L1359

How could a friend node have multiple identical LPNs.
if no space to this msg, should use `break`,such as:
[code]

[2019-08-20 12:17] #18381 closed

[2019-08-20 12:21] barsok commented on #11702
@jakub-uC @binkboyd  please let us know if you would like to work with dirty but working code or if you prefer to wait until we put a PR to github (soon)?

[2019-08-20 12:28] jakub-uC commented on #11702
@barsok : My impression was that @binkboyd can leave with dirty code.

[2019-08-20 12:30] menglingao1997 opened #18522 "BLE: Mesh: When transport send seg_msg to LPN"
https://github.com/zephyrproject-rtos/zephyr/blob/07460176ed9edb731e5ffee775c7c09259ee33d8/subsys/bluetooth/mesh/transport.c#L314-L465
[code]

According to the code above, if I send a **SEG** message (greater than `CONFIG_BT_MESH_FRIEND_QUEUE_SIZE`) to a **UNICAST** Address (not an LPN address),will be cause an abnormality.

I think should add some functions to determine if it is sent to LPN, such

[2019-08-20 12:43] YuraCobain opened #18524 "No disconnection event during "heavy" indication stream"
After connection is dropped by master in inappropriate manner(for example master is power off) and slave is streaming heavily using indication mechanism no disconnection event is generated and slave become unreachable.

**To Reproduce**
Steps to reproduce the behavior:
1. Slave is Xenon Particle, master Android with nrfConnect app.
2. Setup nonsecure connection.
3. Enable indication on custom char

[2019-08-20 12:45] aescolar commented on #18524
@carlescufi could you triage?

[2019-08-20 12:46] binkboyd commented on #11702
hi, I found https://github.com/barsok/zephyr/tree/bsokol-i2c which I've merged into zephyr master manually. Is this the current "dirty" code ? I'm still working on some other hardware, so I am yet to test other than that it compiles. @barsok - what is the timeline on the PR ?

[2019-08-20 13:02] jhedberg commented on #18522
@menglingao1997 I don't see a bug here. Could be because of bad naming of the APIs, but if you look at the implementation of `bt_mesh_friend_queue_has_space()` you'll see that it'll return `true` if no LPN matches the given address, i.e. this branch will not be taken in that case.

[2019-08-20 13:04] jhedberg commented on #18522
@menglingao1997 here's the code I'm referring to:
https://github.com/zephyrproject-rtos/zephyr/blob/07460176ed9edb731e5ffee775c7c09259ee33d8/subsys/bluetooth/mesh/friend.c#L1280-L1285

I'll close this, but please reopen if you think something is still buggy or unclear.

[2019-08-20 13:18] jhedberg commented on #18521
@menglingao1997 we use a single buffer pool for all LPNs, but the friend queue size is enforced per-LPN. Some LPN might have multiple SAR sessions causing there not to be enough buffers for it, however another LPN might have enough free buffers (those not allocated to SAR sessions). I'm not sure why you think this is a case about "identical LPNs". If the destination is a group address we need to m

[2019-08-20 13:22] jhedberg commented on #18522
Just wanted to add that one of the reasons I didn't go for a separate "match" call is that I'm trying to avoid iterating the LPN list too many times. We're already doing it twice for TX and three times for RX, which I'm not very happy about.

[2019-08-20 13:32] #18521 closed

[2019-08-20 13:47] bbolen commented on #18366
It's generated by qemu_cortex_r5.dts.

This is really a consequence of using compile time definition of TIMER_INPUT_CLKHZ and TIMER_FREQ.  coverity just sees one set of values and can deduce a certain set of code paths can't be hit, but a different set of values for those defines may take a different path.  So you really don't want to remove the paths marked as DEADCODE in this case.  I was trying

[2019-08-20 13:57] YuraCobain commented on #18524
The same behavior even when use proper disconnect request from nrfConnect
Indication is on and packet with any user data is sent every connection interval.

[2019-08-20 13:58] menglingao1997 commented on #18522
https://github.com/zephyrproject-rtos/zephyr/blob/07460176ed9edb731e5ffee775c7c09259ee33d8/subsys/bluetooth/mesh/friend.c#L1256-L1264
if seg num bigger than CONFIG_BT_MESH_FRIEND_QUEUE_SIZE, above function return false, this is my concerned.

[2019-08-20 13:59] adamkondraciuk commented on #11702
Hi @binkboyd . This code is not up to date. Tomorrow I will share in my fork current I2S driver code.

[2019-08-20 14:10] galak commented on #18157
Can you post something to github on a branch or something that would make it easier for me to reproduce what you are seeing.

[2019-08-20 14:11] galak commented on #17787
Any update?

[2019-08-20 14:12] galak commented on #17376
@pabigot is this still an issue with the new scripts?

[2019-08-20 14:16] dleach02 commented on #18280
@hakehuang, I haven't looked deeply at the API and underlying code but I think there is already a lock in the API level. I'm thinking there is some other transient problem but given how infrequently it occurs it may be difficult to instrument to debug. This is why I'm suggesting we move this to low priority to not block the release.

[2019-08-20 14:17] jhedberg commented on #18522
@menglingao1997 that's a real issue, thanks for clarifying. I'm thinking we might be able solve this through Kconfig so that the Friend Queue size must be at least as big as the maximum number of segments we can receive.

[2019-08-20 14:18] galak commented on #18366
I think we mark the coverity issue a 'false positive' (in coverity).

[2019-08-20 14:20] jhedberg commented on #18522
FWIW, e.g. with the default settings this is a non-issue, since that's 3 RX segments max and 16 for the friend queue size.

I also realised it's not so trivial with Kconfig since the RX segment count is derived indirectly from BT_MESH_RX_SDU_MAX

[2019-08-20 14:22] jhedberg commented on #18522
@menglingao1997 I think I'll just fix it like this:
[code]

Can I get a quick ack to proceed?

[2019-08-20 14:23] menglingao1997 commented on #18522
I think ok.

[2019-08-20 14:40] nvlsianpu opened #18529 "fs/fcb: consider backport of mynewt fixes"
Mynewt had a few fcb bugfix since fcb was ported to zephyr. So fare none of target bug were encountered.

https://github.com/apache/mynewt-core/pull/1196
https://github.com/apache/mynewt-core/pull/1702
https://github.com/apache/mynewt-core/pull/933
https://github.com/apache/mynewt-core/pull/1083
https://github.com/apache/mynewt-core/pull/1387

[2019-08-20 15:21] carlescufi commented on #18524
@YuraCobain could you please check the following:

Are you using the latest split controller? Search your `build/zephyr/.config` for `CONFIG_BT_LL_SW_SPLIT`.

 Is this code path being executed:

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/hci/hci.c#L3036

maybe add an `LL_ASSERT(0)` and check if it's triggered?

If it's not, then please check if those are b

[2019-08-20 16:54] galak opened #18530 "Convert GPIO drivers to new GPIO API"
This is a tracking issue on process and status for converting GPIO drivers to support new GPIO API.

### Driver Status

|PR Ready | On Topic  | On Master | Driver | Point of Contact | Details
|----- | ------ | ------ | ------ | -------- | -------
|✓|✓|✓| altera_nios2 | @jenmwms  | Remove #20214
|✓|✓| | cc13xx_cc26xx | @vanti | #19626
|✓|✓|✓| cc2650 | @galak @vanti  | Deprecated platform, remove, #

[2019-08-20 16:57] galak commented on #18530
@nategraff-sifive I assume you are good with looking to convert the sifive gpio driver to the new GPIO api.

[2019-08-20 16:59] galak commented on #18530
@henrikbrixandersen I assume you are good with looking to convert the ht16k33 to the new GPIO api.

[2019-08-20 17:13] ioannisg commented on #18124
@abrodkin is this issue been taken care off?

[2019-08-20 17:19] abrodkin commented on #18124
@ioannisg sorry I was on ETO last 2 weeks with limited access to Internet, now I'm going to re-spin https://github.com/zephyrproject-rtos/zephyr/pull/18125 with fix in for of `!SMP` dependency of `OPENOCD_SUPPORT` in subsys/debug/Kconfig. Is that OK?

[2019-08-20 17:24] galak commented on #18124
there are 2 issues here, one is the SMP support, the other is building on X86_64.

So I think #18125 deals with the SMP issue.

@andrewboie does non-SMP on x86_64 make sense?

[2019-08-20 17:27] abrodkin commented on #18124
@galak what's the problem with building on X86_64? Maybe I missed some discussion last weeks so pls kindly point me to any relevant information and I'll take a look.

[2019-08-20 17:29] ioannisg commented on #9904
Needs to be pushed to 2.1 release - there is no point to keep it as a bug at this stage of the release cycle.

[2019-08-20 17:39] galak commented on #18367
False positive, not an issue.

[2019-08-20 17:39] #18367 closed

[2019-08-20 17:39] galak commented on #18368
False positive, not an issue.

[2019-08-20 17:39] #18368 closed

[2019-08-20 17:39] galak commented on #18369
False positive, not an issue.

[2019-08-20 17:39] #18369 closed

[2019-08-20 17:40] galak commented on #18370
False positive, not an issue.

[2019-08-20 17:40] #18370 closed

[2019-08-20 17:51] #17564 closed

[2019-08-20 18:24] #18522 closed

[2019-08-20 20:06] galak commented on #18124
The warning `#warning Please define OPENOCD_OFFSET_T_STACK_PTR for this architecture` is related to x86_64

[2019-08-20 20:19] andyross commented on #15881
Swung back by to check this: this passes fine with the fixes in #18531, though it requires that we remove the whitelist so it actuallys runs.

[2019-08-20 21:05] andyross commented on #8393
Coming by cleaning up my bug list: what's the desired fix here?  I forget the details of @nashif's reversion.  The interrupt fix alone seemed relatively benign, though I know there's an argument about whether or not to support MULTITHREADING=n as an official target.

[2019-08-20 21:14] marc-hb commented on #17105
Message catalogs is a common alternative that saves memory while preserving human-readable information, example:

https://en.wikipedia.org/wiki/MIPI_Debug_Architecture#Visibility_of_SoC-internal_operations
http://debugger.iul.intel.com/documentation/npk-sdk/doc/sventx/html/a00034.html

[2019-08-20 21:18] abrodkin commented on #18124
Hm... but how can I reproduce it?
I don't see it with:
[code]

[2019-08-20 21:39] abrodkin commented on #18124
Ooops, forgot to enable `CONFIG_OPENOCD` via menuconfig :(
Now I see it but again this has nothing to do with anything except `x86_64` and `CONFIG_OPENOCD`.

So it looks like we'd need this then (since `X86_64` seems to be quite incomplete, judging by contents of https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/x86_64/include/kernel_arch_thread.h):
[code]

Does that look OK?

[2019-08-20 22:38] dbkinder commented on #18473
I'm notifying the Zephyr marketing committee chair about this so they can incorporate this into a Zephyr website update in the works.

[2019-08-20 23:12] nashif commented on #17239
lowering priority as we have a workaround in place and a long term solution in the works.

[2019-08-20 23:14] nashif commented on #13276
This is not a bug.

[2019-08-21 00:22] marc-hb commented on #16968
I just tested it and I confirm the following change fixes the compilation issue reported (and the mismatch between the macro name and its previous code)
[code]
Disclaimer: compilation is all I tested. I don't see how this could affect anything else though.

The reproduction script I put in the description works on any Linux distribution. What operating system do you use? On pretty much any Linux d

[2019-08-21 00:36] JunYangNXP commented on #18391
Hi, how can I see the issue description? @MaureenHelm  @aescolar

[2019-08-21 01:01] LeiW000 commented on #18366
@galak , do you know who is able to do it?

[2019-08-21 01:12] galak commented on #18366
If you are a contributor/member I think you can update the state in https://scan.coverity.com

[2019-08-21 01:21] pabigot commented on #17376
No, there's a diagnostic now.

[2019-08-21 01:21] #17376 closed

[2019-08-21 03:04] dleach02 commented on #18280
Tried the same test on the frdmk64f and could not get it to fail. Same IP apparently.

[2019-08-21 04:10] dleach02 commented on #18423
Coverity is flagging that cfg_data is initialized to NULL and is passed to usb_validate_ep_cfg_data() in the USB_ENDPOINT_DESC case statement where a dereference occurs. Not knowing this code, I suspect that the while loop is processing the descriptor and as such it may assume that the bDescriptorType of USB_INTERFACE_DESC is invoked AND the code path routes through the code that initializes cfg_d

[2019-08-21 04:17] dleach02 commented on #18421
This looks like a false hit. The scan is complaining because the nm_msg field of the header was never explicitly initialized. But the 'if (info)' block above this does initialize it in the case that there is 'info' and if there isn't then the length will be set to 0.

[2019-08-21 05:27] LeiW000 commented on #18365
We should ignore it in coverity. It is possible that "TIMER_INPUT_CLKHZ" is defined with a very large number by user in qemu_cortex_r5.dts.

I have updated "CID 203434" in coverity to ignore it. So, I think we can close the issue now.

[2019-08-21 05:27] LeiW000 commented on #18366
We should ignore it in coverity. It is possible that "TIMER_INPUT_CLKHZ" is defined with a very large number by user in qemu_cortex_r5.dts.

I have updated "CID 203452" in coverity to ignore it. So, I think we can close the issue now.

[2019-08-21 05:30] #18365 closed

[2019-08-21 05:30] #18366 closed

[2019-08-21 06:15] tbursztyka opened #18539 "MEC1501 PWM is missing in HAL"
Looks like there is no definitions for the PWM IP block.

@scottwcpg please fix.

[2019-08-21 06:17] tbursztyka opened #18540 "MEC1501 ADC is missing in HAL"
Looks like there is no definitions for the ADC IP block.

@scottwcpg please fix.

[2019-08-21 06:28] aescolar commented on #18391
@JunYangNXP  Here you have:
[code]

[2019-08-21 06:42] henrikbrixandersen commented on #18530
@galak Sure.

[2019-08-21 08:06] binkboyd commented on #11702
excellent; thanks!

[2019-08-21 08:17] YuraCobain commented on #18524
@ioannisg regarding your questions:

1. By default those configs are on in .config
BLE Controller support

CONFIG_BT_LL_SW_SPLIT=y
CONFIG_BT_LL_SW_LEGACY is not set
CONFIG_BT_LLL_VENDOR_NORDIC=y

2. In case of active indication stream any of mentioned code paths are executed.
    Stream using notification works properly.

[2019-08-21 08:19] pfalcon commented on #17231
There's a single close() method implementation in the API, living in fdtable.c itself. In OO terms, it's a virtual destructor (unlike concrete constructors like open(), socket(), etc.). Base class implementation of the virtual destructor handles fdtable entry freeing, and subclasses can add additional behavior. The specific implementation of this additional behavior is via ioctl()/ZFD_IOCTL_CLOSE.

[2019-08-21 08:21] thst-nordic commented on #17239
I have a [PR](https://github.com/zephyrproject-rtos/zephyr/pull/16619) to run `sanitycheck` on windows, but the resource package only supports posix systems.

I'll wrap this temporary change with `if os.name == 'posix'`

However, I am curious what the long term solution is.

[2019-08-21 08:23] aescolar commented on #18524
@carlescufi ^^

[2019-08-21 08:39] LeiW000 commented on #18361
I reviewed detail of the issue in https://scan9.coverity.com/reports.htm#v32951/p12996. In the latest code, commit 0381e8c can fix this issue. So close this bug.

@aasthagr, thanks for heads-up.

[2019-08-21 08:39] #18361 closed

[2019-08-21 09:47] carlescufi commented on #18524
@YuraCobain I see. And can you verify that when disconnection works properly the code paths I mentioned are executed? Just to make sure that you are adding the right ASSERT statements in the right places.

[2019-08-21 09:58] YuraCobain commented on #18524
Sure, when I drop connection during notification stream ASSERTS are triggered in hci.c and ll_conn.c.

[2019-08-21 10:04] carlescufi commented on #18524
Thanks. Could you please switch to the legacy controller and see if the symptoms are the same?
[code]

[2019-08-21 10:41] nashif commented on #16587
partially fix with workaround, lowering priority

[2019-08-21 10:43] nashif commented on #17004
low impact, lowering priority.

[2019-08-21 11:26] ChristianHirsch opened #18546 "Hard Fault when connecting to BLE device"
**Describe the bug**
nRF51822 (CFAC) crashes when connecting to it several times. Android (7.1.1) app connects to device to write (initialize timer) and read data (measurements). After a couple of iterations (connecting, reading the data, disconnecting) Zephyr crashes. It is not always the same number of iterations.

**To Reproduce**
TBA

**Impact**
It is needed to reinitialize the hardware, measu

[2019-08-21 11:51] Vudentz opened #18547 "Bluetooth: GATT: Fix using variable size storage for CCC"
The BT_GATT_CCC API was introduced before settings existed so at point that was no other option then to leave up to the application to define a variable to store it, fast forward 2.0 and we now have the stack handling the storage on settings but still leaving the services to define it which may lead to problems since it must be defined with at least BT_GATT_CCC_MAX elements in order to properly ad

[2019-08-21 12:18] carlescufi commented on #18546
@ChristianHirsch thanks for reporting this. We are currently investigating this crash

[2019-08-21 12:27] #18371 closed

[2019-08-21 12:27] #18424 closed

[2019-08-21 12:57] YuraCobain commented on #18524
With legacy controller the symptoms are the same.

[2019-08-21 13:53] #18446 closed

[2019-08-21 15:06] carlescufi commented on #18298
@WilliamGFish thank you very much for the report. We are still debugging issues with the new Link Layer, and so I will ask you for some patience until we have fixed those and can then start analyzing further issues that might not be related to the current issue set.
@cvinayak is in charge of this process and we will update as appropriate. Our target is to have all those bug fixed by the release of

[2019-08-21 15:51] pabigot opened #18551 "address-of-temporary idiom not allowed in C++"
Several places in Zephyr, particularly but not exclusively the Bluetooth stack, use an idiom of taking the address of a structure literal to pass complex configuration information into a function.  Below is what is used to produce the `BT_LE_ADV_CONN` parameter passed to `bt_le_adv_start()` to identify the type of advertisement:

[code]

Taking the address of a temporary is an error when using C++

[2019-08-21 15:53] pabigot commented on #18551
This is a serious bug to the degree C++ is supposed to be usable for Zephyr applications.  A fix may require a different API for C++.  The priority should be based on the desire for supporting C++ use.

[2019-08-21 16:39] marc-hb commented on #17239
\o/

The longer term solution is an extensive rewrite of the job management part of the code. @nashif has a prototype somewhere, check his github you may find it there.

[2019-08-21 17:03] ChristianHirsch commented on #18546
@carlescufi thanks for investigating! If you need more information, please tell me, I'll try to help.

Unfortunately, I don't see a pattern when this happens. Sometimes it succeeds with 9+ iterations (connecting, discovering services, receiving data, disconnecting), but sometimes it manages just 3 iterations. It seems to be random..

What I can tell: it happens right after creating a connection. T

[2019-08-21 17:03] pabigot opened #18554 "Tracking Issue for C++ Support as of release 2.1"
Issues that impact C++ support as of Zephyr release 2.1

## Not yet worked or need review:

## PR pending
- [ ] #21519 providing thread safety for newlib ; pr #21518

## Resolved
- [x] #1205 involves need for explicit cast from `void *` to `type *` in C++ builds
- [x] #4028 requests new/delete, vectors, RTTI, exceptions, static global dtor.
- [x] #5695 mostly done, but blocked by #18551 ; pr #2139

[2019-08-21 17:06] pabigot commented on #18554
@galak @vanwinkeljan FYI.

[2019-08-21 17:06] mimeriza commented on #18473
Thanks for this excellent suggestion and for dbkinder's heads up. The Zephyr marketing committee will definitely take a look at adding something like this to the Zephyr website (which is being redesigned even as we speak.)

[2019-08-21 18:09] binkboyd commented on #11702
@adamkondraciuk ; do you have an ETA? I was testing with the older code from @barsok  today and was not able to get it to work. Dirty code is no problem as long as it works :)

[2019-08-21 20:36] spieth commented on #16886
@carlescufi This issue can still be reproduced on the latest master. I'll hope to find some time next week to investigate further as it looks like a bug to me.

[2019-08-21 21:14] vanti opened #18563 "log_strdup missing error messages seen when running wifi sample"
**Describe the bug**
The wifi sample shows the following error message:

`[00:00:03.303,000] <err> log: argument 0 in log message "[WLAN EVENT] STA Connected to the AP: %s, BSSID: %x:%x:%x:%x:%x:%x" missing log_strdup().`

Due to commit a211afb, the message is seen. We need to add log_strdup() calls to fix
this.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -

[2019-08-21 21:22] jfischer-phytec-iot commented on #18459
Seems to be false positive, there is `zassert_not_null(cfg_data, "Check available cfg data");` to check cfg_data pointer.

[2019-08-21 22:08] jfischer-phytec-iot commented on #14906
Currently no one platform passes the test, I will keep it open bur remove NXP label.

[2019-08-21 23:20] andyross commented on #18444
This is a false positive.  The code in question is **deliberately trying** to do an invalid write (i.e. by writing four bytes to the beginning of the call address of the z_is_thread_essential() function).  The tool is right to complain, but the behavior is exactly as intended.

It might be possible to change the expression here in a way that the tool wouldn't detect, but I don't think that's worth

[2019-08-21 23:22] andyross commented on #18442
Just like #18444, this is a false positive.  The test is deliberately attempting to write to the .text section and verify that the failure gets detected by the memory protection implementation.  Static analysis is correct that this is invalid, but that's the point.

[2019-08-21 23:26] andyross commented on #18441
False positive.   Similar to the other two I've seen where the tool is faced with pointer to code: it assumes the symbol size is zero.  This is undefined behavior per C, but it's required by the test so that we can exercise memory reads from .text and validate memory protection.

[2019-08-21 23:28] andyross commented on #18440
Same as the other three I just looked at.  False positive.  Coverity doesn't like memory reads or writes to symbols in the .text section (it thinks their sizes are zero), but that is exactly the behavior we are testing.

[2019-08-21 23:45] andyross commented on #18436
Duplicate of #18566

[2019-08-22 01:51] scott-eddy opened #18568 "Support for Particle Photon"
Is there any planned support for the [particle photon](https://store.particle.io/collections/wifi/products/photon)?  I know that #11176 and subsequent #12195 added support for the xenon, argon, and boron but I am unable to see anything about the photon.  I know that the board is fundamentally different as it is based around a STM32F205 instead of a nRF52840, but support for it would be nice.

I al

[2019-08-22 06:32] aescolar commented on #18554
@pabigot Thanks for collecting this list. If you will be working on this towards 2.1 it would be nice if you could comment it in one of the coming TSC meetings so others are made aware of it.

[2019-08-22 06:37] aescolar commented on #18459
@jfischer-phytec-iot are you able to mark it as a false positive in Coverity?

[2019-08-22 06:39] cvinayak commented on #18380
rx is in-out parameter in line 1523. Here it can return NULL for rx. But at 1459, it will not be NULL, as the caller will pass non-NULL rx pointer.

This check at line 1530 is intentional.

[2019-08-22 06:43] galak commented on #18568
Adding @pabigot as he added the other particle boards so worth checking with him on the photon.

I'm guessing the base photon support wouldn't be too difficult as we already have support for an STM32F207 SoC & board, so figuring the STM32F205 isn't going to be too different.

[2019-08-22 06:44] #18563 closed

[2019-08-22 06:52] aescolar commented on #18551
CC @jhedberg

[2019-08-22 07:06] jhedberg commented on #18551
I understand the problem, but I don't see how this is preventing C++ usage. C++ code could just declare a `struct bt_le_adv_param` stack variable and pass a reference to it to `bt_le_adv_start()` instead of using the BT_LE_ADV_PARAM() macro. I'm not aware of any place (at least in the Bluetooth code) that *requires* using these helpers.

[2019-08-22 07:14] joerchan commented on #18297
@cedricbois We believe we have found the problem. Can you confirm that https://github.com/zephyrproject-rtos/zephyr/pull/18569 fixes your stability issue?

[2019-08-22 07:24] dcpleung opened #18570 "Dynamic interrupt does not work with multi-level interrupts"
There is a potential for writing into memory past `_sw_isr_table[]` due to the interrupt encoding with multi-level interrupts and dynamic interrupts. This is because `z_isr_install()` in `arch/common/sw_isr_common.c` simply takes the input `irq` to calculate a linear index to `_sw_isr_table[]`. However, in reality, the elements after 1st level interrupts are sparsely populated and no longer linear

[2019-08-22 07:48] aescolar commented on #18570
CC @andyross @andrewboie

[2019-08-22 07:57] Vudentz opened #18572 "Bluetooth: GATT: Unable to indicate by UUID"
With https://github.com/zephyrproject-rtos/zephyr/commit/648a53d50ffa01583a52cfdbfdc06d4d175ba534 bt_gatt_notify_cb added support for notifying by UUID but the same has not been done to bt_gatt_indicate.

[2019-08-22 07:59] adamkondraciuk commented on #11702
Hi. Sorry for lag - I had some technical problems. Here is the driver: https://github.com/adamkondraciuk/zephyr/tree/i2s_test

[2019-08-22 08:28] aescolar commented on #18572
Is this really a bug or an enhancement you want to add?

[2019-08-22 08:28] aescolar commented on #18572
@Vudentz ^^

[2019-08-22 08:30] binkboyd commented on #11702
hm; couldn't find anything there - are you sure you pushed the code to github ?

[2019-08-22 08:41] adamkondraciuk commented on #11702
sorry - now it should be OK

[2019-08-22 08:43] binkboyd commented on #11702
excellent; thanks! :+1:

[2019-08-22 09:59] xuhao8210 opened #18574 "Some platforms: “reel_board”, “frdm_k64f” and “sam_e70_xplained” are be built failure"
**Describe the bug**
Some platforms: “reel_board”, “frdm_k64f” and “sam_e70_xplained”  are be built failure, but I can build successfully on commit ID:” 2d9d898cc6a309d87e831aa913da3de43e026c75”. It seems that the failure may be caused by commit ID: cf3af6af5fa3e656d6caf0b3429fde52e895fa79

**To Reproduce**
Steps to reproduce the behavior:
1.	Change folder to zephyr
2.	Source zephyr-env.sh.
3.	Run

[2019-08-22 10:01] jfischer-phytec-iot commented on #18574
`west update` ?

[2019-08-22 10:27] agansari commented on #18282
I've reproduced this issue by doing `git checkout v2.0.0-rc1`
It does pass on the latest codebase.

[2019-08-22 11:07] xuhao8210 commented on #18574
@jfischer-phytec-iot  Thanks for your reminding, after I input command:"west update", it can be built successfully. few files were been moved to module folder. (e.g. modules/hal/nordic/nrfx/mdk/nrf.h). So close it.

[2019-08-22 11:07] #18574 closed

[2019-08-22 11:10] #18437 closed

[2019-08-22 11:10] #18438 closed

[2019-08-22 11:10] #18439 closed

[2019-08-22 11:10] carlescufi commented on #16886
@spieth please let us know once you've had a chance to investigate more since we are currently not actively investigating this until we get a little bit more information.

[2019-08-22 11:14] tbursztyka commented on #18455
false positive.

[2019-08-22 11:14] #18455 closed

[2019-08-22 11:15] tbursztyka commented on #18421
yep, false positive.

[2019-08-22 11:15] #18421 closed

[2019-08-22 11:19] carlescufi commented on #17820
@jhedberg @trond-snekvik can you comment on this one?

[2019-08-22 11:21] carlescufi commented on #9762
@bluetooth-mdw ok thanks. Please close this if you find performance to be adequate now.

[2019-08-22 11:22] carlescufi commented on #11681
@trond-snekvik @thomasstenersen can you please retest this with the split controller?

[2019-08-22 11:23] pabigot commented on #18568
I did the original mesh feathers because I had them from work on a Nordic-based C++ sensor platform.  I have no plans to add photon, so it's all yours.

[2019-08-22 11:34] pabigot commented on #18551
It doesn't prevent C++ usage, even with the same apparent application-level API that's used for C code, as in all the examples.

It does mean that the definition of those macros, and the signature of `bt_le_adv_start()`, would be different in C++.  Which could be confusing.

The macros would have to expand to a temporary object, rather than the address of a temporary, and the globally visible `bt_

[2019-08-22 11:37] jhedberg commented on #17820
This does look like a potential bug to me. Still looking at the code to confirm it and figure out whether your proposal is the right fix or not.

[2019-08-22 12:03] bluetooth-mdw commented on #9762
Roger that.

[2019-08-22 12:03] #9762 closed

[2019-08-22 12:14] #18547 closed

[2019-08-22 12:14] #18572 closed

[2019-08-22 12:26] #18423 closed

[2019-08-22 12:30] galak commented on #17787
Closing this as its works for myself and @vanti with the newer SDK.  If this is still an issue please reopen.

[2019-08-22 12:30] #17787 closed

[2019-08-22 12:32] galak commented on #18480
Setting the milestone to v2.1.0 as we don't have a watchdog driver in the tree so, this doesn't impact v2.0.0.

[2019-08-22 12:34] #18546 closed

[2019-08-22 12:35] raveslave opened #18579 "Add generic Type-C "port manager" support"
**Add support for USB Type-C controllers with PD**

This is useful when designing products using USB-C connectors needing additional support like higher current, role-switching "host/device", power source/sink or simply supporting vendor packages over PD (using the CC pins).

The driver should implement support for
- DRP (DFP/UFP), i.e. the type-c terms for "OTG", with low amount of programmabilit

[2019-08-22 12:37] galak commented on #17764
@dbkinder any update on this?

[2019-08-22 12:39] galak commented on #17550
Merged #17552, so I think we can close this.  @vanti, can you verify.

[2019-08-22 13:09] carlescufi commented on #18298
@WilliamGFish

We have fixed a couple of critical bugs:

https://github.com/zephyrproject-rtos/zephyr/pull/18569
https://github.com/zephyrproject-rtos/zephyr/pull/18578

Could  you test again once both are merged?

This sounds like it's unrelated to Bluetooth. Maybe @jhedberg can take a quick look since it's the mesh demo on micro:bit.

[2019-08-22 13:11] carlescufi commented on #18297
@cedricbois can you please test again once we have merged:

https://github.com/zephyrproject-rtos/zephyr/pull/18569
and
https://github.com/zephyrproject-rtos/zephyr/pull/18578

[2019-08-22 13:17] ioannisg commented on #18282
Same results for me. I am closing this, then. Please, re-open if needed, @hakehuang .

[2019-08-22 13:29] MarekPieta opened #18580 "Bluetooth: Security fail on initial pairing"
**Describe the bug**
Problem occurrs when connecting 2 Zephyr devices (central and peripheral). Devices are erased, then flashed. On first connection try, there are following errors in logs:

[code]
[code]
On next reconnection try, devices are able to pair properly and security level is set to 2 (everything works as expected).

**Expected behavior**
Initial pairing used to work wihout problems.

*

[2019-08-22 13:29] MarekPieta commented on #18580
@joerchan, could you take a look at it, please ?

[2019-08-22 13:52] andynnd commented on #12245
Hi @arn-soft, Can you help to share your overlay-ot.conf file for lwm2m. I test with the overlay-ot.conf.txt you shared in the first post but it can not run. Thanks.

[2019-08-22 13:54] LeBlue opened #18583 "hci_usb: NRF52840 connecting addtional peripheral fails"
**Describe the bug**
When trying to connect an addtional peripheral, while another is already connected and exchanging data, one the following may happen (for me roughtly 75%).
1. Most of the time the new connection fails to be established in addition to failing to read on the first connected peripheral.
2. The first connected peripheral fails to read characteristic values. The second connection a

[2019-08-22 13:54] aescolar opened #18584 "BT LL assert on LL/CON/ADV/BV-04-C"
**Describe the bug**
The BLE LL crashes during conformance testing, in LL/CON/ADV/BV-04-C
With a controller only build, split LL.

**Expected behavior**
No crash

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Commit SHA: aed767a98c00bc11b5455fb60c3a3d8f0bda37c0 (but has been happening for at least 2 weeks)
 - nrf52_bsim with

[2019-08-22 13:55] aescolar commented on #18584
@cvinayak Does it ring any bell when looking at where it crashes?

[2019-08-22 14:09] carlescufi commented on #18583
Thanks for the report, we'd need a couple more details to understand:

1. You are always using the `hci_usb` sample and using BlueZ right?
2. Have you tried the current master instead of the 1.14 release?
3. I can't see a connection failing to be established in your logs, which one contains it?
4. I am not sure where to find the "failure to read" either, can you point us to it?

[2019-08-22 14:12] rosterloh opened #18585 "STM32G4 support"
There is currently no zephyr support for the STM32G4 family

It would be great if there was support for these. Any sort of timeline for support would be greatly appreciated

[2019-08-22 14:26] #17294 closed

[2019-08-22 14:28] #17820 closed

[2019-08-22 14:33] galak opened #18587 "tests/kernel/fifo/fifo_timeout/kernel.fifo.timeout fails to run on lpcxpresso54114_m4"
When running the test via:

`scripts/sanitycheck -p lpcxpresso54114_m4 --device-testing --device-serial  /dev/serial/by-id/usb-SEGGER_J-Link_000723233078-if00 -s tests/kernel/fifo/fifo_timeout/kernel.fifo.timeout`

get the following output:

[code]

[2019-08-22 14:34] galak commented on #18587
Tried on FRDM-K64F and it passes there.

[2019-08-22 14:34] galak commented on #18587
Tested at commit aed767a98c00bc11b5455fb60c3a3d8f0bda37c0

[2019-08-22 14:37] agansari commented on #18587
It's something related to systick, at first suspected that the default CONFIG_SYS_CLOCK_TICKS_PER_SEC=10000 was too fast for this device, but I tested this patch #15487 and there are no more issues.

[2019-08-22 14:59] StefJar commented on #14066
@KwonTae-young thx for open this topic. Since the last post has some time passed.
@erwango what is the current state of the stm32 low power/sleep implementation?
I am currently looking to implement deep sleep and wakeup via button on a stm32f412 MCU.

[2019-08-22 15:11] LeBlue commented on #18583
1. Yes, always hci_usb sample and bluez
2. Just working on trying master@aed767a98
3. + 4. I am actually not quite sure, as this might be a bluez issue. Hoped you could provide some intel. I am sure of not issuing the disconnect commands via the dbus API (command #178 in the perhipheral_fails_to_read log). The connection failure notice is issued from bluez dbus API.

I will have to do some more te

[2019-08-22 16:34] galak opened #18590 "tests/kernel/fatal/kernel.common.stack_sentinel fails on FRDM-KW41Z"
With commit: aed767a98c00bc11b5455fb60c3a3d8f0bda37c0

Running via:

`./scripts/sanitycheck -p frdm_kw41z --device-testing  --device-serial /dev/serial/by-id/usb-ARM_DAPLink_CMSIS-DAP_0201000028634e45000b5002673a0032a101000097969900-if01 -s tests/kernel/fatal/kernel.common.stack_sentinel`

Get the following output:

[code]

[2019-08-22 16:36] galak opened #18591 "tests/kernel/fifo/fifo_timeout/kernel.fifo.timeout.poll fails to run on multiple ARM platforms"
With commit: aed767a98c00bc11b5455fb60c3a3d8f0bda37c0

Running via:

`./scripts/sanitycheck -p frdm_kw41z --device-testing  --device-serial /dev/serial/by-id/usb-ARM_DAPLink_CMSIS-DAP_0201000028634e45000b5002673a0032a101000097969900-if01 -s tests/kernel/fifo/fifo_timeout/kernel.fifo.timeout.poll`

Get the following output:

[code]

[2019-08-22 17:04] Trubochkin opened #18592 "(nRF51) The RSSI signal does not rise above -44 dBm"
**Describe the bug**
The RSSI signal from the bluetooth beacon does not rise above -44 dBm even when the beacon is at a distance of 1 cm. But at the same time, the value decreases only at a distance of 25 cm or more. I use the NRF51_BLE400 debugging board as the receiver, and the factory beacon on the NRF51822 as the transmitter.
Here my code: https://github.com/Trubochkin/ble-gsm-gateway.zephyrpr

[2019-08-22 17:31] vanti commented on #17550
Thanks @andrewboie @galak. Now that malloc() is thread-safe, we can keep using the dynamic memory model.

[2019-08-22 17:31] #17550 closed

[2019-08-22 17:41] carlescufi commented on #18592
The RSSI is calculated by the phone’s radio and stack, not by Zephyr. I will change this to a question and copy additional people.

[2019-08-22 18:02] vanti opened #18593 "tests/arch/arm/arm_zero_latency_irqs fails on cc3220sf_launchxl"
**Describe the bug**
Running the test leads to failure to set the test flag.

[code]

**To Reproduce**
Steps to reproduce the behavior:
0. cd tests/arch/arm/arm_zero_latency_irqs
1. mkdir build; cd build
2. cmake .. -DBOARD=cc3220sf_launchxl
3. make flash
4. See error

**Expected behavior**
I would expect the test to pass.

**Environment (please complete the following information):**
 - OS: Ubuntu

[2019-08-22 18:28] albertofloyd commented on #17897
This has been fixed as part of https://github.com/zephyrproject-rtos/zephyr/pull/18318
Will close when that's merged

[2019-08-22 18:28] franciscomunoz commented on #17790
Closing this issue as it was fixed

[2019-08-22 18:28] #17790 closed

[2019-08-22 20:36] mike-scott commented on #12245
@andynnd Can you open a new issue asking for an overlay-ot.conf to be added to the LwM2M sample?  I have one and will get to it when I'm back from ELC.

[2019-08-22 21:03] bfrog opened #18595 "USB Console and Bluetooth Samples"
**Describe the bug**
I'm looking to try the peripheral_hr sample using usb console. So I added the prj.conf settings from the subsys/usb/console/prj.conf to the peripheral_hr/prj.conf and attempted to run it.

This results in the following message from linux
[code]
When I go to debug I see this loop never exits

[code]

**To Reproduce**
Add prj.conf settings from the usb console sample to the peri

[2019-08-22 21:22] dbkinder commented on #17764
Sorry, I missed this being assigned to me. The header on documents generated for a tagged release (not from the master branch) have this "The latest document version of this page ..." notice with a link to the same page generated from the master branch.  When this header was put in, the master branch documents were in the root folder and all the tagged release versions were in corresponding versio

[2019-08-22 21:53] #18272 closed

[2019-08-22 21:57] #18140 closed

[2019-08-22 21:58] #17584 closed

[2019-08-22 22:28] vanti opened #18598 "tests/net/trickle failed on multiple plartforms"
**Describe the bug**
Running the test leads to a failure:

[code]

**To Reproduce**
Steps to reproduce the behavior:
0. cd tests/net/trickle
1. mkdir build; cd build
2. cmake .. -DBOARD=cc3220sf_launchxl
3. make flash
4. See error

**Expected behavior**
I expect the test to pass.

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain: Zephyr SDK 0.10.3
 - Co

[2019-08-23 01:14] vanti opened #18599 "tests/kernel/fifo/fifo_timeout fails on cc3220sf_launchxl"
**Describe the bug**
The test fails with the following output:

[code]

**To Reproduce**
Steps to reproduce the behavior:
0. cd tests/kernel/fifo/fifo_timeout
1. mkdir build; cd build
2. cmake .. -DBOARD=cc3220sf_launchxl
3. make flash
4. See error

**Expected behavior**
The test should pass.

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain: Zephyr SDK

[2019-08-23 01:18] andyross commented on #18444
Assign to @aasthagr as I don't know how to manage recording this as a false positive in the tool

[2019-08-23 01:18] andyross commented on #18442
Assign to @aasthagr as I don't know how to manage recording this as a false positive in the tool

[2019-08-23 01:19] jenmwms commented on #12478
Please note that if we close this, we need to revisit the commit 0dd0f9f52a10f1bee71e21ccc7daba7c59b89dbf to enable (it was disabled in the commit to allow testing).

[2019-08-23 01:19] andyross commented on #18441
Assign to @aasthagr as I don't know how to manage recording this as a false positive in the tool

[2019-08-23 01:20] andyross commented on #18440
Assign to @aasthagr as I don't know how to manage recording this as a false positive in the tool

[2019-08-23 01:21] andyross commented on #18436
Oops, that was the PR, not the bug.  This is a dup of #18437, which is fixed via #18566.  Closing.

[2019-08-23 01:21] #18436 closed

[2019-08-23 02:30] andynnd opened #18601 "LwM2M client sample: an overlay for OpenThread support"
LWM2M client has a Bluetooth networking sample. We need an overlay configuration sample for Thread networking. The node can connect to a [border router](https://openthread.io/guides/border-router).

There is an overlay-ot.conf sample in this [issue](https://github.com/zephyrproject-rtos/zephyr/issues/12245#issue-394868628). But it can not work as I test.

Thanks.

[2019-08-23 02:45] #17764 closed

[2019-08-23 04:55] andynnd commented on #12245
@mike-scott I just open a new issue at https://github.com/zephyrproject-rtos/zephyr/issues/18601. Thanks.

[2019-08-23 07:30] aescolar commented on #18584
@carlescufi : Without the asserts it would just dereference a NULL pointer a little bit later (and crash :) )

[2019-08-23 08:03] tbursztyka opened #18607 "DesignWare PWM driver is broken"
It misses the API function get_cycles_per_sec() which is mandatory to get pwm.h public function to work.

So currently this driver just does not work at all due to that.

[2019-08-23 08:03] YuraCobain commented on #18524
@carlescufi  and @ioannisg  here is the simple scenario to reproduce the bug.
For "samples/bluetooth/peripheral_ht/src/main.c" replace main function by
`
void main(void)
{
	int err;

	err = bt_enable(bt_ready);
	if (err) {
		printk("Bluetooth init failed (err %d)\n", err);
		return;
	}

	bt_conn_cb_register(&conn_callbacks);
	bt_conn_auth_cb_register(&auth_cb_display);

	/* Implement indicate. At

[2019-08-23 08:04] tbursztyka opened #18608 "PCA9685 PWM driver is broken"
It misses the API function get_cycles_per_sec() which is mandatory to get pwm.h public function to work.

So currently this driver just does not work at all due to that.

[2019-08-23 08:07] joerchan commented on #18524
@YuraCobain Thanks, Will try this out.

[2019-08-23 08:30] carlescufi commented on #18524
@YuraCobain I have a feeling this might be an issue on the phone side. Maybe when there's indications pending the phone doesn't disconnect the link. Do you have another, non-Zephyr peripheral that you can use to test so that we verify if this is the case?

[2019-08-23 08:35] carlescufi commented on #18583
@LeBlue thanks for the information.
@jhedberg and @Vudentz would you mind checking the attached logs to see if you find anything suspicious on the controller side? I didn't see anything on first inspection

[2019-08-23 08:38] carlescufi commented on #17546
@lanvis we have made quite a few changes to the controller, could you try with the latest master?

[2019-08-23 08:38] carlescufi commented on #17983
@pdunaj can you please add more information here?

[2019-08-23 08:42] carlescufi commented on #16735
@lawrencek52 your timer bug might be fixed now, there was a comparator register fix posted: https://github.com/zephyrproject-rtos/zephyr/commit/9f34d17cc1547c18494802e112b1f9146a18ca14#diff-57dfbf11ae1437d7b0a30d68d709d8d6

[2019-08-23 08:43] joerchan commented on #18524
Maybe it is something wrong with my phone, but from what I'm seeing I cannot disconnect when indication is on-going (interestingly everytime I press the disconnect button it does a conn param update).

Killing the nRF connect app also does not result in link disconnecting.

@YuraCobain What phone do you use?
Do you have the chance to confirm with a bluetooth sniffer that link is in fact disconnect

[2019-08-23 08:46] carlescufi commented on #16735
@YuraCobain @lawrencek52 can you please retest on the latest master, since there have been multiple fixes to GATT?

[2019-08-23 08:52] YuraCobain commented on #18524
@carlescufi are right it's Android issue.
On Huawei p20 smart the connection is keep active when indication is on-going.
Even disable Bluetooth does not work and only reboot of phone actually close the connection.
On Samsung Galaxy S8 connection is closed after Bluetooth is disabled.
On IPhone the issue is not reproducible.

[2019-08-23 09:01] joerchan commented on #18524
Ok. then we have the same phone, and are seeing the same thing.

Closing as this is an Android issue.

[2019-08-23 09:01] #18524 closed

[2019-08-23 09:54] YuraCobain commented on #16735
@carlescufi the issue still exists on Intel controller.

[2019-08-23 10:02] carlescufi commented on #16735
@Vudentz or @jhedberg any chance you could try to reproduce this using an Intel controller and see if this is indeed a Zephyr issue or else a BlueZ/Intel issue?

[2019-08-23 10:03] carlescufi commented on #18595
@bfrog can you try https://github.com/zephyrproject-rtos/zephyr/pull/18573 ?

[2019-08-23 10:12] cedricbois commented on #18297
Yes I will do the tests, but I will only be able to test the fixes on monday 26/08. Sorry for the delay.

[2019-08-23 11:12] agansari commented on #18591
@galak it's similar to what happens on the LPC54xx M0

[2019-08-23 11:17] JonathanWoodward opened #18614 "same70 hsmci interface"
**Is your feature request related to a problem? Please describe.**
I can find no support in the device tree or drivers for same70 hsmci

**Describe the solution you'd like**
The driver and device tree bindings adding

**Describe alternatives you've considered**
Nothing found

**Additional context**
The SD card connector is mentioned but not supported?

![image](https://user-images.githubuserconten

[2019-08-23 12:09] erbr-ot commented on #18584
I have had a look into this and believe I have identified an issue. There seems to be a race on disable in case of HDC - the ADV_STOP ticker is not stopped in disable() and consequently a start_ticker(....ADV_STOP...) in adv_enable fails, leading to a clean-up of lll->conn data, which in turn leads to the assert when the ADV_STOP ticker expires.

I have been able to fix this by adding this code to

[2019-08-23 12:20] JonathanWoodward opened #18615 "sam e70 xplained failed to build hello world"
**Describe the bug**
When building same70q21.h is not found

**To Reproduce**
Steps to reproduce the behavior:
1. cd $ZEPHYR_BASE/samples/hello_world
2. mkdir build && cd build
3. cmake -GNinja -DBOARD=sam_e70_xplained ..
4. nijna

**Impact**
showstopper

**Screenshots or console output**
[6/110] Building C object zephyr/CMakeFiles/offsets.dir/arch/arm/core/offsets/offsets.c.obj
FAILED: zephyr/CMa

[2019-08-23 12:36] galak commented on #18615
Did you do a `west update` ?  I'm guessing you don't have the HAL module now that we split things out.

I'm able to build this w/o any issue.

[2019-08-23 12:39] galak commented on #18608
@tbursztyka I think this driver was added for an x86 platform that we have since removed.  Are you wanting to use this on some other board?  Curious how you are hitting this.

[2019-08-23 12:39] carlescufi commented on #17546
@jhedberg @joerchan any chance this could be an issue in the Host?

[2019-08-23 12:41] cvinayak commented on #18592
Yes, the value comes from the Radio hardware. Did you try your Zephyr scanner on a nRF51/nRF52  Development Kit?

[2019-08-23 12:41] carlescufi commented on #18584
@erbr-ot great! can you send a PR?

[2019-08-23 12:43] #17965 closed

[2019-08-23 12:44] cvinayak commented on #18584
Yes, if this is true, ADV_STOP ticker will fire and cause the assert. Please send a PR.

[2019-08-23 12:54] #18395 closed

[2019-08-23 12:54] #18398 closed

[2019-08-23 13:12] carlescufi commented on #14604
@jeff-setec could you please let us know if this is still an issue on the current master?

[2019-08-23 13:18] JonathanWoodward commented on #18615
Hi @galak

I followed these instructions:
https://docs.zephyrproject.org/1.11.0/getting_started/getting_started.html
and
https://docs.zephyrproject.org/1.11.0/boards/arm/sam_e70_xplained/doc/sam_e70_xplained.html

There is nothing on here for west??

[2019-08-23 13:22] galak commented on #18615
Looks like you are looking at a pretty old version of the docs (For release 1.11.0)

Try:
https://docs.zephyrproject.org/latest/getting_started/index.html

[2019-08-23 13:28] JonathanWoodward commented on #18615
@galak I tried installing west as shown

$ pip3 show -f west
Name: west
Version: 0.6.0
Summary: Zephyr RTOS Project meta-tool
Home-page: https://github.com/zephyrproject-rtos/west
Author: Zephyr Project
Author-email: devel@lists.zephyrproject.org
License: UNKNOWN
Location: /home/user/.local/lib/python3.7/site-packages
Requires: setuptools, PyYAML, configobj, colorama, pykwalify
Required-by:
Files:

[2019-08-23 13:33] galak commented on #18615
Can you try the following:

[code]

Wondering if `west` isn't in your path.

[2019-08-23 13:35] JonathanWoodward commented on #18615
user@ubuntu:~$ which west
user@ubuntu:~$ echo $PATH
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
user@ubuntu:~$

[2019-08-23 13:36] galak commented on #18615
Yep, you need `~/.local/bin` in your PATH.

[2019-08-23 13:38] ioannisg commented on #17853
We see this sporadically on ARM boards as well, not only qemu

[2019-08-23 13:41] JonathanWoodward commented on #18615
That fixed it. It sets the PATH on mac but not on Linux.

[2019-08-23 13:42] ioannisg commented on #18508
@chen-png are you looking into this issue?

[2019-08-23 13:47] #17488 closed

[2019-08-23 13:48] carlescufi commented on #18615
@JonathanWoodward note that this is described in the very beginning of the Getting Started Guide:
https://docs.zephyrproject.org/latest/getting_started/index.html#python-and-pip

[2019-08-23 13:49] JonathanWoodward commented on #18615
zephyrproject/zephyr$ west build -b sam_e70_xplained samples/hello_world
-- west build: build configuration:
       source directory: /home/user/LinuxDevelopment/zephyrproject/zephyr/samples/hello_world
       build directory: /home/user/LinuxDevelopment/zephyrproject/zephyr/build
       BOARD: sam_e70_xplained (origin: CMakeCache.txt)
-- west build: building application
Error: could not find CMAK

[2019-08-23 13:53] galak commented on #18615
Try removing the build dir and than trying it.

`rm -fr /home/user/LinuxDevelopment/zephyrproject/zephyr/build`

Also if you're able to join slack chat, might be easier to get interactive help (see Chat) here:

https://docs.zephyrproject.org/latest/introduction/index.html#resources

[2019-08-23 13:58] JonathanWoodward commented on #18615
I would but I do not have @intel.com, @linaro.com, @linux.intel.com, @nordicsemi.no, @nxp.com, @oticon.com, @foundries.io, @ti.com, @synopsys.com, @antmicor.com, or @sifive.com email address

[2019-08-23 14:04] joerchan commented on #17546
@lanvis I cannot reproduce your issue.

If I start a connect command that does not find the device i can cancel it with bt_conn_disconnect without issue and start the scanner again. If the le_create_conn command was issued it will be stopped by a timeout in the host.

Can you specify which commit you get this on?
You say v1.13.99, which is not an actual version, and also very old. Do you have a ch

[2019-08-23 14:14] carlescufi commented on #18615
@JonathanWoodward use this link: https://tinyurl.com/y5glwylp

[2019-08-23 14:22] carlescufi commented on #18615
Delete the build folder and try again

[2019-08-23 14:22] carlescufi commented on #18615
You are using an old Slack link, use the one I posted above

[2019-08-23 14:35] ioannisg commented on #18508
Test fails also on sam_e70_xplained, so this is not platform-specific.

[2019-08-23 14:52] ioannisg commented on #18593
I don't have this board to check, but the test does not fail for any other board I have tested it on.

[2019-08-23 14:55] Trubochkin commented on #18592
I tried, but the result is the same.

[2019-08-23 15:03] #13935 closed

[2019-08-23 15:18] carlescufi commented on #18615
Closing this issue, please contact us on Slack or open a new one if you continue to have bulid issues

[2019-08-23 15:18] #18615 closed

[2019-08-23 16:26] #18584 closed

[2019-08-23 16:44] galak commented on #18593
The test fails because it's making an assumption that all IRQs are valid up to CONFIG_NUM_IRQS, which on the CC3220 isn't valid from what I can tell.

[2019-08-23 16:54] ioannisg commented on #18593
@galak Yes, I 've just realized that, and will fix this, so I have moved the milestone back to 2.0 :)

[2019-08-23 17:25] vanti commented on #18593
@galak @ioannisg I think the number of irqs on the cc3220sf is wrong based on the behavior seen when I try to set the Interrupt Set Enable registers. I am submitting #18623 to fix this.

[2019-08-23 18:06] nashif commented on #18508
duplicate of #18598

[2019-08-23 18:06] #18508 closed

[2019-08-23 20:37] carlescufi commented on #18592
And was it better than the BLE400?

[2019-08-23 20:39] #18593 closed

[2019-08-23 21:29] vanti opened #18629 "Some tests fail to reach test_main() on cc1352r1_launchxl"
**Describe the bug**
The following tests crash prior to reaching test_main():

1. tests/crypto/rand32 (using prj_hw_random_xoroshiro.conf)
[code]

2. tests/kernel/mem_protect/stackprot
[code]

3. tests/kernel/mem_protect/stack_random
[code]

They all seem to crash while a call to entropy_cc13xx_cc26xx_get_entropy() is waiting on a semaphore:

`k_sem_take(&data->sync, K_FOREVER);`

**To Reproduce**

[2019-08-23 22:58] #16463 closed

[2019-08-23 23:05] vanti opened #18635 "isr4 repeatedly gets triggered after test passes in tests/kernel/gen_isr_table"
**Describe the bug**
When run as part of the sanitycheck script, tests/kernel/gen_isr_table fails with a timeout on cc1352r1_launchxl:

[code]

In the log file 'sanity-out/cc1352r1_launchxl/tests/kernel/gen_isr_table/arch.interrupt/handler.log', isr4 is seen to continue to run after the test passes:

[code]

**To Reproduce**
Steps to reproduce the behavior:
To reproduce the timeout, run `./scripts

[2019-08-23 23:58] ceolin commented on #18457
this is a false positive, `test_data`  is `static const char *test_data = "Test data to be sent"` and `data` is `u8_t data[128];` so, no overrun will happen.

[2019-08-23 23:58] #18457 closed

[2019-08-24 04:34] #13197 closed

[2019-08-24 08:29] Mani-Sadhasivam commented on #17814
@MaureenHelm ping

[2019-08-24 09:04] #18080 closed

[2019-08-24 09:06] ioannisg commented on #12961
Reducing impact to Low, since no issues were reported by the community, and we still do not have Baseline Cortex-M SOCs with MPU in the tree.

[2019-08-24 10:38] Trubochkin commented on #18592
No, all the same

[2019-08-24 11:53] ExtremeGTX commented on #3727
anyone made some progress here ? or shall i continue what @lpereira started ?

[2019-08-24 16:04] andrewboie commented on #12961
We have tests which are supposed to verify access to memory ... are the tests inadequate to catch this, or were they never run on these platforms?

[2019-08-24 19:15] alexanderwachter commented on #18355
CID 203466 (#4 of 4): Out-of-bounds read (OVERRUN)10. overrun-local: Overrunning array data->tx_cbs of 11 52-byte elements at element index 11 (byte offset 623) using index alloc (which evaluates to 11).

Line 218

[2019-08-24 19:28] henrikbrixandersen commented on #18355
That should be safe to ignore. The counting semaphore will ensure that this can never happen.

[2019-08-24 19:34] alexanderwachter commented on #18355
Set coverty state to „ignore“

[2019-08-24 19:34] #18355 closed

[2019-08-24 21:46] ioannisg commented on #12961
@andrewboie there are no Cortex-M Baseline boards/SOCs in the tree with MPU support.

[2019-08-25 12:16] maz3max commented on #15256
@joerchan After the merge of #17836, the peripheral still cannot set the security level right after connecting. I suspect the problem to be on the central side this time.
Logs are here: https://pastebin.com/55kritYE
Sniffer Capture is here (it loops a few times):
[only-periph-req-sec.zip](https://github.com/zephyrproject-rtos/zephyr/files/3538111/only-periph-req-sec.zip)

[2019-08-25 13:21] carlescufi commented on #15256
Thanks for the report @maz3max. @joerchan can you decide whether this requires a new GH issue to be open, or will it be fixed by an existing PR?

[2019-08-25 17:26] vslapik commented on #3500
Espressif promise to support ESP8266EX at list till 2026: https://www.espressif.com/en/products/longevity-commitment
Also ESP32 seems much more greedy in regard of power consumption.

[2019-08-25 18:21] gnuless commented on #16721
Changed to medium-priority bug to be sure this stays on our radar for 2.0 release.

[2019-08-25 18:47] carlescufi commented on #15520
@cinlyooi-intel @nashif
I assume this is an old issue since emulation/simulation is not supported on this board, closing.

[2019-08-25 18:47] #15520 closed

[2019-08-25 18:47] carlescufi commented on #15719
@cinlyooi-intel @nashif
I assume this is an old issue since emulation/simulation is not supported on this board, closing.

[2019-08-25 18:47] #15719 closed

[2019-08-25 18:48] carlescufi commented on #17372
@marc-hb @nashif any news on this one?

[2019-08-25 18:49] carlescufi commented on #17439
@nashif can you comment on this one please?

[2019-08-26 05:48] jukkar commented on #18418
In order to avoid this same warning in the future, we might want to change the code to `(void)snprintf(serv, servlen, "%hu", ntohs(a->sin_port));` in this case. TBDL.

[2019-08-26 06:10] locomuco commented on #3727
@ExtremeGTX the base, to get esp32 running, is to get flash cache up and running, see https://github.com/locomuco/zephyr-esp32 as a reference, otherwise I did not follow up on SPI

[2019-08-26 10:03] joerchan opened #18645 "Disconnect because of data packets during encryption procedure"
Bluetooth controller does not pause data stream during encryption procedure.
Happens in both master and slave role.
This results in the connection being terminated with 0x3d (mic failure) on one side, and 0x08 (timeout) on the side that sent the data packet.

**To Reproduce**
Steps to reproduce the behavior:
Precondition:
1. Use the shell (tests/bluetooth/shell) to connect and establish a bond. Th

[2019-08-26 10:04] joerchan commented on #15256
@carlescufi @maz3max :
Reproduced the issue and reported here: https://github.com/zephyrproject-rtos/zephyr/issues/18645

[2019-08-26 10:57] #18598 closed

[2019-08-26 11:12] #17013 closed

[2019-08-26 11:12] #17920 closed

[2019-08-26 12:45] trond-snekvik commented on #18488
I'll take a stab at this :)

[2019-08-26 13:37] chris-makaio commented on #18117
@INemesisI and @mike-scott,
how do you like to handle the different sleep types?
Especially - in our case - AT+CFUN=0, AT+PWRDN (Modem device completely off) vs. "NETWORK_SLEEP" (or so), eg AT+CSCLK / AT+QSCLK / AT+UPSV for sending the device to lowest power mode while staying connected to the network

[2019-08-26 13:48] trond-snekvik commented on #11681
Retested this with the new link layer, and it's no longer reproducible.

I think the performance still has some room for improvement, but the friend responds to every poll it gets (within the assigned window). I think this can be closed as fixed.

[2019-08-26 13:48] jukkar commented on #16323
We can have this for 2.0 so adjusting target.

[2019-08-26 14:21] jhedberg commented on #11681
@trond-snekvik ok, thanks. I'll close it then. @thomasstenersen please reopen if you disagree.

[2019-08-26 14:21] #11681 closed

[2019-08-26 14:23] carlescufi commented on #15323
@pabigot could you please check if this is still an issue?

[2019-08-26 14:23] carlescufi commented on #12025
@pizi-nordic @pabigot is this still a valid issue?

[2019-08-26 14:23] ioannisg commented on #16861
@Mierunski could you follow up with this one?

[2019-08-26 14:25] carlescufi commented on #15286
@pdunaj @anangl @cvinayak is this still an issue?

[2019-08-26 14:25] carlescufi commented on #18595
@bfrog it's merged now, so you can test the latest master

[2019-08-26 14:26] ioannisg commented on #18591
@agansari will you be able to address this for 2.0?
@galak if this is indeed a SysTick driver issue, we need to address this, imho.

[2019-08-26 14:28] ioannisg commented on #16544
@MaureenHelm is this issue being looked at?

[2019-08-26 15:02] ioannisg commented on #16721
@gnuless pls, give it a try if you have time :p

[2019-08-26 15:13] erwango commented on #18585
@rosterloh, there is currently no plan to add this series in Zephyr, but for sure it would be welcome!
Help can be provided to any effort to do this porting work.

[2019-08-26 15:17] meuter opened #18652 "Optimization flags from CMAKE_BUILD_TYPE are not taken into account"
**Describe the bug**
When compiling using cmake you can usually provide `-DCMAKE_BUILD_TYPE=Release` (or `Debug`, or `MinRelSize`) and depending on the build type, the optimization level will be adapted (`-O3` for Release, `-O0` for `Debug` and `-Os` for `MinRelSize`), among other things. But when building a zephyr app, these flags are not taken into account. Apparently, an extra optimization flag

[2019-08-26 15:27] galak opened #18654 "cc3220sf_launchxl fails tests/kernel/interrupt/arch.interrupt"
When run via:

`./scripts/sanitycheck -p cc3220sf_launchxl --device-testing  --device-serial /dev/serial/by-id/usb-Texas_Instruments_XDS110__03.00.00.02__Embed_with_CMSIS-DAP_CC322001-if00 -s tests/kernel/interrupt/arch.interrupt`

[code]

[2019-08-26 15:30] ioannisg commented on #18590
I don't have the board to test this. Does not seem to fail on frdm_k64f, @galak

[2019-08-26 15:31] SebastianBoe commented on #18652
Zephyr used Kconfig before CMake and therefore uses Kconfig to set optimization flags.

AFAICT using Kconfig to set these flags works just fine so this is not going to change.

I'm not sure how to communicate that CMAKE_BUILD_TYPE will not change optimization flags. I'd prefer not to error out when CMAKE_BUILD_TYPE is set, because app-developers may want to use it to change how the app is built.

[2019-08-26 15:33] ioannisg commented on #18297
@cedricbois the above PRs are not merged, so you can test latest master.

[2019-08-26 15:37] carlescufi commented on #18652
Reclassified from bug to question since this is really not a bug, it's intentional and configurable via Kconfig instead of CMake.

[2019-08-26 15:54] meuter commented on #18652
@carlescufi fair enough ^_^

@SebastianBoe I understand that KConfig is the preferred way, but as it stands, it's a footgun IMHO.  The use of CMAKE_BUILD_TYPE is very idiomatic in the cmake community and a lot of people coming from this community will expect this. Erroring out may indeed be a little abrupt, a warning may be more appropriate in this case, and it could point to the KConfig option?

[2019-08-26 16:47] chris-makaio commented on #18117
I think eDRX is too specific and should go to the same config struct as the APN.
And as you said, time is the factor, so there might be an advantage for something similar to k_sleep logic, BUT there are too many possible use cases so frankly speaking, I would just go with the Kernel‘s PM states suspend and let the user decide according to the use case.
BUT, making proper use of is_busy could check

[2019-08-26 16:54] chris-makaio commented on #18117
Please also keep in mind that the modem (as it seems we‘re planning it atm) is not all about sockets.
For example, one might use the SMS feature only as a trigger and no net
Another example (might be too specific) is that I want to add a driver for RN2483 AT-based LoRa-modem. It could use some sort of sockets (say, faked UDP) but basically just uses the AT-command part and the shared modem driver

[2019-08-26 17:22] gnuless opened #18657 "drivers/timer/hpet.c should use devicetree, not CONFIG_* for MMIO/IRQ data"
The HPET timer driver currently uses `CONFIG_HPET_TIMER_BASE_ADDRESS` and the like for device configuration information, and the Zephyr standard mechanism for these is DeviceTree.  We need to add to devicetree and modify the driver accordingly.

[2019-08-26 17:23] dleach02 opened #18658 "Bluetooth BR/EDR encryption key negotiation vulnerability"
**Describe the bug**

A security vulnerability in the Bluetooth BR/EDR Bluetooth Core specification versions 1.0 through 5.1 has been identified as CVE-2019-9506. The Bluetooth BR/EDR encryption key negotiation protocol is vulnerable to packet injection that could allow an unauthenticated user to decrease the size of the entropy of the encryption key, potentially causing information disclosure and

[2019-08-26 17:29] chris-makaio commented on #18117
@mike-scott I never worked with "the other way" (not the device PM way) so I'm not sure if it leaves control over the power state transitions. I mean... well... basically AT+xSCLK=1 can be applied all of the time, maybe except times where there is a lot of UART activity. So this would logically be the low_power mode. I guess.
I as a user writing my program would do:
- wake modem
- send UDP packet

[2019-08-26 17:34] chris-makaio commented on #18117
the more I think about the more I understand what you mean.
If you're planning to have a least two power control modes (like the OS), one being "application" (mine), the other being "os" (yours), I absolutely +1

[2019-08-26 17:51] ioannisg commented on #18590
I'll try with another Cortex M0+ I have available, and report back

[2019-08-26 20:58] aasthagr opened #18687 "[Coverity CID :203623]Memory - illegal accesses in /tests/subsys/settings/fcb_init/src/settings_test_fcb_init.c"
Static code scan issues seen in File: /tests/subsys/settings/fcb_init/src/settings_test_fcb_init.c
 Category: Memory - illegal accesses
 Function: test_prepare_storage
 Component: Tests
 CID: 203623
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-08-27 03:12] cvinayak commented on #17843
This is for v1.14.1 and the fix in #17720

[2019-08-27 06:05] pfalcon opened #18693 "POSIX: Some headers were missing from PR #16621"
#16621 was missing a `include/posix/poll.h` header - I had it my local tree all this time, but forgot to git add it, and the sidetracked discussion there precluded detection of the problem earlier. Of related issue, `include/posix/sys/socket.h` didn't export `MSG_*` constants, which is also a bug.

These issues preclude the indented usage of #16621 - to allow to port a good selection of 3rd-party

[2019-08-27 06:44] meuter commented on #18652
Just to see what this would look like, I drafted a patch for the extra choice that seems to be working:

[code]

[2019-08-27 08:00] SebastianBoe commented on #18652
Unfortunately, Kconfig needs to know the optimization level to e.g. set buffer sizes appropriately, so a CMAKE_OPTIMIZATIONS option won't work as intended.

[2019-08-27 08:27] pdunaj commented on #15286
@carlescufi possibly yes. I had a brief look in controller files. Code touching the clock in `subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c`  is checking the error code now. I have not checked if this is properly handled in upper layers.

[2019-08-27 09:04] erwango opened #18695 "Watchdog: stm32: Wrong timeout value when wtachdog started at boot"
**Describe the bug**
iwdg_stm32_install_timeout expects a timeout passed in
milli seconds. As the timeout is defined in micro
seconds in Kconfig.stm32, we need to divide by
USEC_PER_MSEC when CONFIG_IWDG_START_AT_BOOT is
activated because iwdg_stm32_install_timeout makes
the multiplication by USEC_PER_MSEC.

[2019-08-27 09:10] ioannisg commented on #18590
Test passes on nrf51_pca10028 (Cortex-M0) but fails, similarly, on atsamr21_xpro (Cortex-M0+)

[2019-08-27 10:05] #18580 closed

[2019-08-27 10:21] jukkar commented on #18456
False positive.

[2019-08-27 10:21] #18456 closed

[2019-08-27 10:51] jukkar commented on #18417
I did a small test and printed the actual values:
[code]

So you could just say `(void)memset(res[avail], 0, sizeof(res[avail])` here as that is a bit more readable.

Anyway, the issue looks like false positive to me.

[2019-08-27 10:54] #18417 closed

[2019-08-27 10:56] jukkar commented on #18416
False positive.

[2019-08-27 10:56] #18416 closed

[2019-08-27 10:57] jukkar commented on #18415
False positive.

[2019-08-27 10:57] #18415 closed

[2019-08-27 10:59] jukkar commented on #18414
False positive.

[2019-08-27 10:59] #18414 closed

[2019-08-27 11:00] jukkar commented on #18413
False positive.

[2019-08-27 11:00] #18413 closed

[2019-08-27 11:04] jukkar commented on #18412
false positive

[2019-08-27 11:04] #18412 closed

[2019-08-27 11:05] jukkar commented on #18411
False positive.

[2019-08-27 11:05] #18411 closed

[2019-08-27 11:08] jukkar commented on #18410
False positive

[2019-08-27 11:08] #18410 closed

[2019-08-27 11:12] jukkar commented on #18409
False positive

[2019-08-27 11:12] #18409 closed

[2019-08-27 11:12] jukkar commented on #18408
False positive

[2019-08-27 11:12] #18408 closed

[2019-08-27 11:14] jukkar commented on #18407
False positive

[2019-08-27 11:14] #18407 closed

[2019-08-27 11:15] jukkar commented on #18406
False positive

[2019-08-27 11:15] #18406 closed

[2019-08-27 11:16] jukkar commented on #18405
False positive

[2019-08-27 11:16] #18405 closed

[2019-08-27 11:17] jukkar commented on #18404
False positive

[2019-08-27 11:17] #18404 closed

[2019-08-27 11:17] jukkar commented on #18403
False positive

[2019-08-27 11:17] #18403 closed

[2019-08-27 11:18] jukkar commented on #18402
False positive

[2019-08-27 11:18] #18402 closed

[2019-08-27 11:19] jukkar commented on #18401
False positive

[2019-08-27 11:19] #18401 closed

[2019-08-27 11:21] jukkar commented on #18400
@tbursztyka can you check this one, looks like the bits are wrongly checked in the code.

[2019-08-27 11:51] ioannisg commented on #18590
Looks like the root cause of this is that an SVC is triggered inside an interrupt, and the interrupt has equal priority. @andrewboie @galak why do we not reserve an IRQ level for SVC in Cortex-m0?

[2019-08-27 11:53] #18658 closed

[2019-08-27 11:53] tautologyclub commented on #18473
The company I work for, [Endian Technologies](https://endian.se), are quite excited about Zephyr and we will probably do a fair bit of upstreaming in the future. We've hosted a Zephyr hackathon and we're currently using Zephyr in multiple projects.

[2019-08-27 11:53] ioannisg commented on #18590
I know that without the BASEPRI, there's irq_lock() will disable SVC interrupts, as well; that might be the reason for not reserving the highest priority for SVC. But then, @andrewboie there is a bug in Z_ARCH_EXCEPT For ARM Cortex-M Baseline, cause svc's may not be blocked due to insufficient priority.

[2019-08-27 11:56] jukkar commented on #18397
The Coverity comment "Indexing array of size 6 with lladdr->len minus an offset in call to memcmp. [Note: The source code implementation of the function has been overridden by a builtin model.]" is wrong. The code allocates 8 bytes for the link address. Verified this by compiling and printing the values.

[2019-08-27 11:56] #18397 closed

[2019-08-27 12:00] jukkar commented on #18393
False positive.

[2019-08-27 12:00] #18393 closed

[2019-08-27 12:02] #16323 closed

[2019-08-27 12:13] jukkar commented on #18363
False positive.

[2019-08-27 12:13] #18363 closed

[2019-08-27 12:15] jukkar commented on #18362
False positive.

[2019-08-27 12:15] #18362 closed

[2019-08-27 12:23] ioannisg commented on #16861
@endian-benjamin could you please, check the patch proovided by @Mierunski ?

[2019-08-27 12:36] carlescufi opened #18705 "SMP fails to allocate buffer and pairing times out"
If you replace the `k_sleep(MSEC_PER_SEC);` with `k_sleep(10)` in `samples/bluetooth/peripheral` and then do the following:

1. Connect from a mobile app
2. Enable Battery Level notifications
3. Initiate pairing by trying to read any of the 128-bit UUID characteristics in the custom service

Then the pairing will not complete because SMP is unable to allocate a packet.
The error message printed wi

[2019-08-27 12:48] erwango commented on #18373
@aescolar looking at it. One question though: how come this has not been seen earlier?

[2019-08-27 12:52] erwango commented on #18373
@galak , since 2017 ?

[2019-08-27 12:58] pfalcon commented on #17812
pthread_mutex_timedlock() exhibited the same issue.

[2019-08-27 13:02] #18693 closed

[2019-08-27 13:13] #18645 closed

[2019-08-27 13:42] jfischer-phytec-iot commented on #18595
quickly tested on reel board with configuration below, seems to work, IMHO configuration problem

[code]

[code]

[2019-08-27 13:44] r2r0 commented on #14066
@erwango
It would be great to support following three sleep use cases:
1. All peripherals down but (LP) timer; sleep for 1-10s; wake up from: LP timer or  I/O pin; wake up time up to ~10ms; mode STOP2.
1. All peripherals down but: (LP) timer, BLE (periodic advertisement), LPUART; sleep for 100-1000ms; wake up from: timer,  BLE (advertising), I/O pin, LPUART RX, USB resume ; wake up time to satisfy

[2019-08-27 14:01] #18445 closed

[2019-08-27 14:09] ioannisg commented on #18654
I could take a quick look

[2019-08-27 14:11] jfischer-phytec-iot commented on #18595
@bfrog

Please use CONFIG_USB_UART_DTR_WAIT=n or press a key in your terminal client.

[2019-08-27 14:24] carlescufi commented on #18297
@cedricbois can you please retest and confirm that the issue is fixed?

[2019-08-27 14:26] carlescufi commented on #14604
Closing due to inactivity from reporter

[2019-08-27 14:26] #14604 closed

[2019-08-27 14:29] #17439 closed

[2019-08-27 14:31] joerchan commented on #12535
@MarekPieta @Qbicz As far as I know the privacy issues have been fixed. Can you please check if the suggestion solves the problem?

[2019-08-27 14:37] carlescufi commented on #16735
@YuraCobain I just tested this with an Intel controller:

[code]

This is my device:
[code]

[2019-08-27 14:39] carlescufi commented on #16735
@YuraCobain can you please use `bluetoothctl` and not `mcumgr` to test this? Because this might be a bug in `mcumgr` instead.

[2019-08-27 14:53] jukkar commented on #18394
Manual backport to 1.14 at #18711

[2019-08-27 14:57] erwango commented on #14066
Thanks all for the inputs.
We've started to look at PM support for STM32. As shown by discussions in current issue this is not an easy topic and people might have different expectations, depending on application needs and targets. Besides, STM32 devices offer a wide range of possible use cases.
Since we had to start from somewhere, we decided to:
- target low power devices as a start (L4 for the v

[2019-08-27 15:18] ioannisg opened #18712 "ARM Cortex-M: Z_ARCH_EXCEPT not working for Baseline SOCs"
**Describe the bug**
Z_ARCH_EXCEPT() is called, to signal errors directly from Software. In ARM Cortex-M, this is implemented with a synchronous SVC instruction, with code 2.

In Mainline SOCs this works well, because the kernel reserves the highest interrupt priority for the SVC Handler.

In Baseline cores, however, we do not reserve an interrupt priority for the SVC. So if Z_ARCH_EXCEPT() is inv

[2019-08-27 15:47] #18376 closed

[2019-08-27 15:47] #18377 closed

[2019-08-27 15:56] ioannisg commented on #16154
Just asking if this has this already been addressed, @mike-scott - few LWM2M Pr were merged lately..

[2019-08-27 16:22] ioannisg commented on #16158
@mike-scott ping :)

[2019-08-27 16:40] INemesisI commented on #18117
@chris-makaio thanks for pointing that out!
@mike-scott your implementation idea sounds great! Much more sophisticated than the interface up/down implementation.

IMO there still needs to be a way for the application to tell the driver to connect/disconnect.

In our use case we only want to communicate a couple of times per day, but we are doing data processing every other minute.
If the power mod

[2019-08-27 16:46] INemesisI commented on #18117
BTW, I addressed the comments from @jukkar, If anybody is interested in the ifup/ifdown implementation until we figured out a proper power saving implementation:
https://github.com/INemesisI/zephyr/commit/e5a508de291c2c21f2e49b1e94049fccbf9e1f67

[2019-08-27 16:56] ioannisg commented on #16452
@pfalcon is this issue being looked at?
I am checking if this could be done for 2.0.

[2019-08-27 16:57] ioannisg commented on #16673
@loicpoulain is this issue being looked at for v2.0.0 release?

[2019-08-27 16:58] ioannisg commented on #14571
@tbursztyka is this issue still present?

[2019-08-27 17:07] carlescufi commented on #16735
Lowering priority to low since this is not a blocker nor it is easily reproducible.

[2019-08-27 17:10] pfalcon commented on #16452
I don't look into this so far. Is this issue breaking something? I didn't notice Ethernet not working due to addresses being assigned. If so, I'd suggest to set priority as low.

[2019-08-27 17:13] alexanderwachter commented on #16452
@pfalcon No, it does not break anything. It just violates the IANA specifications.
Assumed I'm not wrong here and the actual implementation is correct.

[2019-08-27 17:17] alexanderwachter commented on #16452
@pfalcon If you can confirm that the actual implementation is wrong, I can fix the drivers. But IMO the priority is low.

[2019-08-27 17:37] carlescufi commented on #18583
@LeBlue could you please try the master branch and see if this is still an issue? there are quite a few fixes there and a new controller, so it would be really good to know if this fails with master too.

[2019-08-27 17:41] ioannisg commented on #12509
Could you please address this for 2.0 @pizi-nordic ?

[2019-08-27 17:45] carlescufi commented on #12509
Or actually, will this be fixed by https://github.com/zephyrproject-rtos/zephyr/pull/17155?
And if so, can we just close this and track the issue directly in https://github.com/zephyrproject-rtos/zephyr/issues/9904 ?

[2019-08-27 17:50] loicpoulain opened #18717 "USB broken on disco l475 iot board"
**Describe the bug**
Unable to init USB core

**To Reproduce**
Try any USB sample

**Expected behavior**
USB working

**Additional context**
Issue  is caused by commit 737d8051927d3354fbf398babfe1d156f4420442

[2019-08-27 17:53] loicpoulain commented on #16673
@ioannisg, I'll look at it tomorrow, it's something which should be easily fixable. I need to fix #18717 before.

[2019-08-27 17:55] ioannisg commented on #17852
@vonhust will you be able to take a look?

[2019-08-27 17:57] ioannisg commented on #18705
Is there a pull-request for this issue @Vudentz ?

[2019-08-27 17:57] jhedberg commented on #18551
@pabigot let me clarify: the `BT_LE_ADV_PARAM()` macro is an optional helper that was added after the fact to save some lines of code. It's perfectly fine for an application to do something like this:

[code]

[2019-08-27 17:58] pfalcon commented on #16452
Thanks for confirming. 3 days before release, there're bigger priorities to look into, and I have backlog of tasks otherwise, but we'll get to this issue too of course.

[2019-08-27 18:02] carlescufi commented on #17843
@rljordan only 1.14.1. The fixes are already in master for 2.0.

[2019-08-27 19:55] jfischer-phytec-iot commented on #18717
This is certainly not high priority.

[2019-08-27 19:57] loicpoulain commented on #18717
Correct, only in my todo list.

[2019-08-27 20:04] ioannisg commented on #18654
The test runs properly on several platforms - I think the observed failure is specific to the platform - maybe one of the IRQ lines used in the test is not wired to the NVIC.

[2019-08-28 03:43] vonhust commented on #2780
Now ,  for ARC,  _Swap is replaced with switch. So this issue can be closed

[2019-08-28 03:43] #2780 closed

[2019-08-28 04:56] vonhust opened #18724 "arc: interrupt stack is not switched correctly"
After replace exc_nest_count with operations on IRQ_ACT,  there is a case where the interrupt stack is not switched correctly. Here is the case:

After a thread is interrupted by an interrupt, a higher prioirty nest interrupt comes out between `_isr_wrapper` and `_rirq enter`. The context will be saved into interrupted thread's kernel stack. At this point,  multiple bits will be set in irq_act,  t

[2019-08-28 05:05] vonhust opened #18725 "arc: the IRM bit of SEC_STAT is not handled corrected"
The IRM bit of SEC_STAT is used to record which mode interrupt should return. So for the case thread switch in interrupt,  this bit should be recored as a part of thread context.

in current code,  there is a conflict between handling of IRM bit and stack checking, which will cause stack checking exception in restoring the thread context.

The issue comes out in sanitycheck tests of arc sem target

[2019-08-28 05:11] vonhust opened #18726 "arc: should not rely on that ERET has a copy of ilink"
In EM's ISA, ERET has a copy of ilink, but in HS's ISA, ERET does not have
In fast_irq.s, there are codes that rely on ERET has a copy of ilink. This will cause crash for hs cores in sanitycheck tests

[2019-08-28 06:22] #18724 closed

[2019-08-28 06:22] #18725 closed

[2019-08-28 06:22] #18726 closed

[2019-08-28 07:10] chen-png opened #18728 "sam_e70_xplained:tests/subsys/logging/log_core failed."
**Describe the bug**
Running test suite test_log_list on sam_e70 board, it failed with error message "Unexpected message index".

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=sam_e70_xplained tests/subsys/logging/log_core
2. west flash

**Screenshots or console output**

[code]

**Environment (please complete the following information):**
 - OS: Fedora28
 - Toolchain: Zephyr-

[2019-08-28 07:27] ioannisg commented on #18635
This test, simply, does not work for platforms that do not have all IRQ lines implemented and available (from 0 to CONFIG_NUM_IRQS). E.g. fails in nrf9160_pca10090, too. Needs some rework.

[2019-08-28 07:37] jukkar commented on #18375
False positive.

[2019-08-28 07:37] #18375 closed

[2019-08-28 07:39] #18258 closed

[2019-08-28 07:43] pizi-nordic commented on #12509
@carlescufi: Yes, it will be fixed in #17155. However I will prepare a PR with this because #17155 will not go into 2.0 and now the change is safe as #16782 is merged.

[2019-08-28 08:38] LeBlue commented on #18583
@carlescufi I will test master, but i probably will not have time to do it in the next few days.

[2019-08-28 08:58] #16154 closed

[2019-08-28 08:59] erwango commented on #18143
@likeaferrari, thanks for these inputs.
Can you also share you dts configuration? I'll try to reproduce but, some details might differ and details are where devil hides. Maybe sharing a branch would be the fastest.
Anyway, I'll have some tries with information provided and will keep you posted.

[2019-08-28 09:14] carlescufi commented on #18459
Marked as false positive in Coverity

[2019-08-28 09:14] #18459 closed

[2019-08-28 09:22] loicpoulain commented on #16673
@KwonTae-young what is the issue exactly? I'm able to reproduce your behavior, the program is pending in usb_write while USB is disconnected, but once reconnected, it continues...

[2019-08-28 09:33] lbise opened #18732 "net: mDNS name resolving issue between 2 Zephyr nodes"
I'm trying to use mDNS between two Zephyr nodes. I only want to resolve IPv6 addresses and I want to use the default server [ff02::fb]:5353.
I call dns_resolve_init with the address to setup the resolving and then send queries using the same code than samples/net/dns_resolve.
The query is properly formatted and sent.

    Frame 1955: 78 bytes on wire (624 bits), 78 bytes captured (624 bits) on int

[2019-08-28 09:35] carlescufi commented on #16567
Marked as intentional in Coverity

[2019-08-28 09:35] #16567 closed

[2019-08-28 10:21] nmeum commented on #18118
Just installed `zephyr-sdk-0.10.3` and tried `samples/subsys/console/echo`, same issue:

[code]

Also keep in mind what the specification says about `txcnt == 0`, the behaviour qemu is showing is what I would expect.

I tried doing that but flashing doesn't seem to work:

[code]

Is that a known issue?

I did flash the application using the OpenOCD configuration from [RIOT](https://github.com/RIOT

[2019-08-28 11:02] jukkar commented on #18732
@lbise Thanks for good analysis, saved me lot of time :+1:

[2019-08-28 11:04] jukkar commented on #18732
@lbise If you have time, please test the fix proposal.

[2019-08-28 11:10] carlescufi commented on #18705
Yep, linked it now @ioannisg. Almost ready to be merged.

[2019-08-28 12:04] #16861 closed

[2019-08-28 12:06] pabigot opened #18739 "k_uptime_get_32() does not behave as documented"
It was recently pointed out on slack that `k_uptime_get_32()` does not return `The lower 32-bits of the elapsed time since the system booted, in milliseconds.`

It returns instead the number of milliseconds corresponding to the low 32 bits of the tick counter.

[code]

The values are significantly different when you look at a 32-bit rollover of the tick clock:
[code]

This explains https://github.

[2019-08-28 12:42] pizi-nordic commented on #18728
It looks that this test assumes that it is the sole log messages source, which might be not true in your case. Please disable all other log sources and run the test.

You can check what is enabled using the following command in the build directory:
[code]

[2019-08-28 12:58] #18400 closed

[2019-08-28 13:19] meuter commented on #18652
That's indeed a bummer. Well it was worth a try. Then removing the optimization flags from CMAKE_C_FLAGS_<xxx> as you suggested and maybe adding a warning/info message at configure time seems like the best option.

[2019-08-28 13:31] lbise commented on #18732
Hello @jukkar, thank you for the speedy patch.
Now the ports are correct, however I found 2 issues.

The response is received now, however the resolver cannot find the query ID in its list of queries because when answering the mDNS responder forces the query ID to 0
ID set to 0 in response here : https://github.com/zephyrproject-rtos/zephyr/blob/ae5db66b8cc4f39aa6e0c0748d339612414420c4/subsys/net/

[2019-08-28 13:55] lbise opened #18748 "net: mdns: Send queries to all interfaces"
I'm using Zephyr on a node that has 2 different interfaces configured. On this node I'm using mDNS to resolve names of devices.
The issue is that currently when using dns_get_addr_info to resolve a name I have no control on which interface it will be sent to and to me it seems that in all cases it will take the default interfaces when binding because it's just binding against a port and not again

[2019-08-28 13:56] Mani-Sadhasivam opened #18749 "Avenger96 regressed in mainline for U-Boot M4 boot"
**Describe the bug**
I can't get the Avenger96 binary to work on the board anymore. The basic hello_world example itself is not working.

**To Reproduce**
Build and flash the binary to the board

**Additional context**
There were some ST specific clock changes done which affected STM32MP1, could that be a reason?

[2019-08-28 16:00] carlescufi commented on #18739
@pabigot might want to weigh in, but I think the reason for this is the fact that we can get a fix in time for 2.0, whereas #17155 will only be merged in time for 2.1.

[2019-08-28 16:07] pdunaj commented on #17983
Hi @Vudentz , when the bug was discovered our app was starting to send HID data when callback informing about notifications being enabled was delivered. This callback can be delivered however before security is established. We added a check for security and now data is sent only when both notification and security are enabled.
Since notification enabled callback is delivered before security is est

[2019-08-28 17:28] carlescufi commented on #18739
@pabigot we've had this issue for a few releases now, so that might be why there was no vote. Just not deemed urgent enough given the amount of time this has been in the tree.

[2019-08-28 20:02] dbkinder opened #18760 "hello_world sample instructions don't work"
**Describe the bug**
Following the instructions in https://docs.zephyrproject.org/latest/samples/hello_world/README.html will result in a build error.

**To Reproduce**
Steps to reproduce the behavior:
1. ``cd samples/hello_world``
2. ``west build -t run``

[code]

**Expected behavior**
Instructions should work as written.

I think what's happened here is that sometime in the past, the default boa

[2019-08-28 21:16] dbkinder commented on #18760
If you add ``:tool: all`` to the directive you get this output (the CMake and ninja instructions look OK, but the west instructions aren't):

Using west:
[code]

Using CMake and ninja:
[code]

[2019-08-28 21:34] mbolivar commented on #18760
This script has too many options :(. I can no longer say with confidence that they all play together nicely. I'm going to clean it up after 2.0 but am trying to come up with the smallest hot fix I can for just this issue.

[2019-08-29 00:43] mike-scott opened #18765 "LwM2M: DNS handling via offload socket API is broken"
**Describe the bug**
When enabling DNS_RESOLVER using offload socket API for LwM2M subsystem, an -9 error is returned.  DNS resolution works normally under non-offloaded scenarios.

What have you tried to diagnose or workaround this issue?
Proposing a bugfix to support offload socket API.

**Expected behavior**
LwM2M DNS functionality should work regardless of whether offload socket API is used or

[2019-08-29 04:15] KwonTae-young commented on #16673
@loicpoulain, I think `usb_write()` should return an error, not a hold.
The USB cable may not be reconnected in some cases.

[2019-08-29 04:55] hakehuang commented on #18280
@dleach02 do you try to use the on board debuger to download image?

[2019-08-29 06:18] #18760 closed

[2019-08-29 06:42] wentongwu commented on #12478
The case is really not designed for SMP as PR #14619 found, and I will disable SMP for this case, but I will do the change as commit https://github.com/zephyrproject-rtos/zephyr/pull/18531/commits/ab3a20921d11392be911861d448126cae72da614 do.

[2019-08-29 06:44] loicpoulain commented on #16673
@KwonTae-young, agree, the driver usb_ep_write() returns -EAGAIN, but usb_write() loop in that case, it to workaround wrong usage of usb_write which should be only called if the previous one finished (and announced via the usb ep callback), so calling usb_write in an unconditional loop is probably not a good idea. However, it also highlights an issue with usb_dc_stm32 controller driver, since we s

[2019-08-29 07:08] erwango commented on #18749
@arnop2 , @yboutreux

[2019-08-29 07:28] yboutreux commented on #18749
Hi @Mani-Sadhasivam,
hello_world is still working on stm32mp157c_dk2 with Zephyr latest commits.
MP1's clock_control driver itself doesn't seem to had a modification that could break it https://github.com/zephyrproject-rtos/zephyr/commits/master/drivers/clock_control/clock_stm32_ll_mp1.c
Do you have more informations about the specific clock changes ?

[2019-08-29 07:57] proverifTmp commented on #8275
Hey, the link is broken. Can you update it or point me to some other document about setting debugging environment.

[2019-08-29 08:46] arnop2 commented on #18749
Hi Mani,
i tested the hello world sample on the avenger96 board: no issue on my side:

[code]
My settings:
Cortex-A: Linux 5.3 + enable of the rproc in kconfig and dts
Cortex-M: Zephyr 2.0 rc1

Be carfull, if you use the kernel 5.3, you will now use the rproc driver that has been upstreamed. dts declaration must be adapted accordingly.

[2019-08-29 08:50] rosterloh commented on #18585
Ok, I've started work on it. Submitted a PR for the hal and working on the dts

[2019-08-29 09:13] Mani-Sadhasivam commented on #18749
@arnop2 @yboutreux

Hmm. So it works with remoteproc driver in linux kernel but it is not working with u-boot as mentioned here: https://wiki.st.com/stm32mpu/wiki/How_to_start_the_coprocessor_from_the_bootloader

Earlier, I used to start the firmware using u-boot and it worked well. But with new binary it is not.

[2019-08-29 09:16] carlescufi commented on #18739
@pabigot that's a very good point.
That said, I am afraid it's just too late now for code changes for 2.0. Is there a chance you can instead send a PR that updates the documentation of `k_uptime_get_32()`?

[2019-08-29 09:29] #18590 closed

[2019-08-29 09:57] arnop2 commented on #18749
@Mani-Sadhasivam

**when you say "new binary" is it the Uboot or the Zephyr binary?**

If it works fine when you load zephyr elf file from Linux but ko from Uboot,  the zephyr binary is problably not the root cause.
**Could you confirm that your Linux version is 5.3 ?**
In this case your issue is probably a misalignment betwen the DTS and yourUboot version.

you probably need to update the Uboot..

[2019-08-29 10:00] nashif commented on #11717
???

[2019-08-29 10:14] Mani-Sadhasivam commented on #18749
@arnop2

Zephyr binary.

I just tested the `v1.14.0` branch of Zephyr and it is working fine. So definitely something should've changed in Zephyr in between for STM32MP1.

No, I'm using the vendor kernel (4.19.9)

[2019-08-29 10:24] WilliamGFish commented on #18298
I've fetched the changes and now consistently fails at ull.c:111

This can be generated by using button B repeatedly post boot without being the Heartbeat server. Often only takes 5-6 presses.

I have tried all sorts of different memory configurations but little effect. Even Logging a DBG level yielded little useful info.

I then used other BLE Mesh programs and they too fail at ull.c:111

[2019-08-29 10:39] nashif commented on #15881
this platform is not whitelisted for this list and per @andyross the test passes with #18531 if platform is enabled, so lowering priority as there is no impact to the 2.0 release.

[2019-08-29 11:00] pabigot commented on #18739
@carlescufi @ioannisg OK, there's now  #18771 for this, intended for 2.0 merge as a "documentation fix".

It's a fine line between documenting the serious problems with this API to suggest people not to use it, while it's still used for many timeout operations within the kernel.

BTW: Accepting this for 2.0 probably implies deprecating the function in 2.1, since we don't want the behavior of an AP

[2019-08-29 11:05] #18654 closed

[2019-08-29 11:11] Trubochkin opened #18774 "(nRF51) NVS example doesn't work"
**Describe the bug**

I say right away, I'm new to Zephyr.
I am trying to run an [NVS example](https://github.com/zephyrproject-rtos/zephyr/tree/v2.0.0-rc1/samples/subsys/nvs) on nRF51_BLE400 board, but at compile time I get an error (`error: 'DT_FLASH_AREA_STORAGE_OFFSET' undeclared`). I can’t find this definition anywhere
I don't understand what the[ `.offset`](https://github.com/zephyrproject-r

[2019-08-29 11:27] carlescufi commented on #3286
@laperie @jukkar is this now obsolete?

[2019-08-29 11:29] #18774 closed

[2019-08-29 11:58] nashif commented on #12478
test not supporting SMP is not a medium bug, lowering priority

[2019-08-29 12:00] nashif commented on #18728
@chen-png please confirm that you can reproduce this.

[2019-08-29 12:12] nashif commented on #12825
can't reproduce, works for me with `samples/synchronization/` and the following changes:

[code]

[2019-08-29 12:12] #12825 closed

[2019-08-29 12:18] #16760 closed

[2019-08-29 12:20] nashif commented on #10436
stale and no updates for almost a year, lowering priority.

[2019-08-29 12:21] jukkar commented on #3286
I was actually looking this PR yesterday and was thinking the same. Perhaps some of the missing features could be placed in "parking lot" in the release plan at https://github.com/zephyrproject-rtos/zephyr/projects/9

[2019-08-29 12:33] nashif commented on #18587
duplicate of #18591

[2019-08-29 12:33] #18587 closed

[2019-08-29 12:33] nashif commented on #18599
duplicate of #18591

[2019-08-29 12:33] #18599 closed

[2019-08-29 12:56] jukkar commented on #18732
@lbise Fixed the "DNS id 0" issue, also the mDNS response parsing did not work properly. Please test if it works for you now. The issue with having both mDNS resolver and responder enabled at the same time, needs to be handled separately.

[2019-08-29 13:17] #18717 closed

[2019-08-29 13:17] arnop2 commented on #18749
@Mani-Sadhasivam
Thanks for the clarification!
 I think i'm reproducing the issue on dk2 board. the firmware is runnuing without issue if it isloaded by the Linux, but trace is corrupted if it is loaded by the uboot loader.
Main difference between both is the elf parser that is different between the Linux and the Uboot. Perhaps the delta between v1.14 and v2.0 could be explained by a linker update

[2019-08-29 13:21] SebastianBoe commented on #18652
I made an attempt at unsetting CMAKE_C_FLAGS_xx. But unfortunately it is set by 'project' invocation's in app build scripts, e.g.

https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/hello_world/CMakeLists.txt#L6

and we don't have any code running after this. So we can't enforce it to be unset.

[2019-08-29 14:24] MarekPieta opened #18778 "soc: arm: nordic_nrf: Defining DT_..._DEV_NAME"
**Is your enhancement proposal related to a problem? Please describe.**
Currently labels like e.g. `DT_GPIO0_DEV_NAME` for nordic_nrf are defined in `dts_fixup.h` even if the device is unavailable (defined as other label - `DT_NORDIC_NRF_GPIO_GPIO_0_LABEL`, which remains undefined). It makes us unable to use #ifdefs based on `DT_..._DEV_NAME`.

**Describe the solution you'd like**
Maybe mentioned

[2019-08-29 15:00] ioannisg commented on #18728
Let me try, as well on my sam_e70

[2019-08-29 15:01] galak commented on #18778
Can you provide a more detailed example of what you are wanting to accomplish.

[2019-08-29 15:14] #17266 closed

[2019-08-29 15:34] jukkar commented on #14571
There has been fixes in TCP side so it is difficult to know if this is really fixed or not. There has not been reports about issues like this lately.

[2019-08-29 15:43] ioannisg commented on #18728
The test fails for me on sam_e70_xplained

[2019-08-29 16:20] MarekPieta commented on #18778
For example, I want to define array containing names of available gpio devices. If there is no gpio device with given index, I simply want to place NULL in the array (I wanted to achieve this using ifdefs based on e.g. `DT_GPIO0_DEV_NAME`). Currently I have to use Kconfig options for ifdefs - e.g. `CONFIG_GPIO_NRF_P0`.

I think, that leaving `DT_GPIO0_DEV_NAME` undefined when device is unavailable

[2019-08-29 16:44] mike-scott commented on #18105
**NOTE TO BE INCLUDED IN THIS FIX**
The LwM2M subsys makes use of several CONFIG_NET_IPv* checks which include 1 for DNS.   When using offloaded APIs there is no requirement for IPv4/IPv6 to be enabled and this is currently being worked around by defaulting offload APIs to hint at using IPv4 DNS lookups.

A proper solution needs to be implemented: as in we might force offloaded drivers to define w

[2019-08-29 16:45] rljordan commented on #14571
This was not seen in any of our tests.  Can this be closed?

[2019-08-29 16:46] rljordan commented on #14571
Lowering the priority as it has not been seen in some time.

[2019-08-29 17:47] #18732 closed

[2019-08-29 17:49] #16158 closed

[2019-08-29 18:04] pfalcon commented on #14571
There was no reports, because everything stays as it was, the TCP implementation is broken.

[2019-08-29 19:22] ulfalizer commented on #18778
@MarekPieta
Would it be possible to get rid of the `dts_fixup.h` entry and use the generated devicetree macros directly, or does it get awkward for some reason?

[2019-08-29 20:12] karstenkoenig opened #18784 "Can not build link_board_can shield"
**Describe the bug**
Using the link_board_can shield fails building due to an invalid field in the overlay, 'status'. It states "ok" but should be "okay"

**To Reproduce**
cmake -GNinja -DBOARD=reel_board -DSHIELD=link_board_can /home//karsten/zephyrproject/zephyr/samples/drivers/CAN/

**Expected behavior**
CAN sample would be built for the link_board_can shield

**Impact**
Can not use the shield

[2019-08-29 20:12] karstenkoenig commented on #18784
This issue is fixed by the following PR
https://github.com/zephyrproject-rtos/zephyr/pull/18781

[2019-08-29 21:27] abrodkin commented on #3180
Just as a starting point
 * Implementation for ARM: https://github.com/zephyrproject-rtos/zephyr/commit/27523579226b7dbff68d12ca28abce63d52e77d2
 * Implementation for x86: https://github.com/zephyrproject-rtos/zephyr/commit/e01dd8737718e017656a05a3428e4e27193afe58

[2019-08-29 22:42] gnuless opened #18787 "arch/x86: retire loapic_timer.c driver in favor of new apic_timer.c"
The old local APIC timer driver is suffering from bitrot and should be replaced with the new APIC timer driver.

[2019-08-30 00:05] ceolin commented on #18442
I've done it. Just closing it.

[2019-08-30 00:05] #18442 closed

[2019-08-30 00:09] ceolin commented on #18444
done

[2019-08-30 00:09] #18444 closed

[2019-08-30 00:56] chen-png commented on #18728
This issue is repeatable in the zephyr test report recently. And I have run the "grep LOG_LEVEL= zephyr/.config  | grep -v =0" command in the build directory, it's the same as follows:
CONFIG_MPU_LOG_LEVEL=3
CONFIG_UART_CONSOLE_LOG_LEVEL=3
CONFIG_WDT_LOG_LEVEL=3
CONFIG_IPM_LOG_LEVEL=3
CONFIG_UPDATEHUB_LOG_LEVEL=3
The test report is running on the server, we don't change any files in the zephyr sou

[2019-08-30 01:10] rljordan commented on #16902
This is just code cleanup.  Priority will be reduced to Low.

[2019-08-30 05:37] #17353 closed

[2019-08-30 07:09] #18784 closed

[2019-08-30 07:52] #18705 closed

[2019-08-30 08:27] aescolar commented on #18373
@erwango I do not now (I just helped triage these issues. I have a very limited insight into how we use Coverity). But maybe more files are now included in the analysis, or maybe Coverity detects now more issues than before.
@aasthagr may know why this (and many other old issues) suddenly appeared?

[2019-08-30 08:46] menglingao1997 opened #18795 "FS:NVS: garbage collection when restart"
https://github.com/zephyrproject-rtos/zephyr/blob/5ac014aac68a25bc42dbeffaac7e88315d42e27b/subsys/fs/nvs/nvs.c#L641-L664
[code]
above code may be overflow, t think should use below way:
[code]

[2019-08-30 08:58] pdunaj commented on #17983
Hi, it seems that the problem is inside service that we use as it sets BT_GATT_PERM_READ (instead of BT_GATT_PERM_READ_ENCRYPT) for this notification. This is not configurable. HID service is in NCS and problem was already mentioned to @kapi-no .

The same thing is present in DIS and BAS in Zephyr. They define characteristics with PERM_READ with no option to configure it.

[2019-08-30 08:59] pdunaj commented on #17983
BTW - thanks @joerchan for pointing the problem.

[2019-08-30 09:20] #18795 closed

[2019-08-30 09:23] jukkar commented on #18732
@lbise See #18797 for support to have both mDNS responser and resolver enabled at the same time.

[2019-08-30 09:58] #18765 closed

[2019-08-30 10:12] erwango commented on #18143
@likeaferrari, when using koo_spi_write_then_read instead of koo_spi_write/ koo_spi_read (functions extracted from your code in gist, I get no overrun errors, and Tx/Rx happens with no byte loss.
Not looked deeply into it, but I guess this is normal given the samples code proposed.
Btw, tx issue is not directly linked to OVR, since OVR is a data read issue. Though I think that both symptoms come f

[2019-08-30 10:12] jhedberg opened #18799 "bt_uuid_create_le() and bt_uuid_create() have endianness issues, and only one of them is needed"
The `bt_uuid_create()` API is missing byte order conversions required for big-endian architectures.  Fixing it will make `bt_uuid_create_le()` unnecessary, so that can be removed.

[2019-08-30 10:31] #18687 closed

[2019-08-30 10:40] pfalcon commented on #17353
Ok, this got closed automatically as a result of merging #18736. I wanted to post comments here before that, but got lost in errands with that PR.

So, since the earlier comments on this PR, there were a lot of discussion where POSIX subsystem goes, and how. To clarify it, https://github.com/zephyrproject-rtos/zephyr/issues/17706 was posted. And fortunately, we went forward with the rest of pendin

[2019-08-30 10:42] #18799 closed

[2019-08-30 11:17] jukkar commented on #2307
Adding this to parking lot as this would be good to have.

[2019-08-30 11:24] jukkar commented on #3286
Suggested DHCPv6 and IPv4 - Multicast Join/Leave Support to the release plan. Closing this umbrella issue as this is not that useful.

[2019-08-30 11:24] #3286 closed

[2019-08-30 11:29] jhedberg opened #18802 "Bluetooth: UUID: Missing tests and confusing documentation"
The `bt_uuid_create()` API is missing tests, and its doxygen documentation is confusing.

[2019-08-30 11:52] carlescufi commented on #17983
@Vudentz @joerchan

We now discussed this with Joakim and went back to the discussions we had when we implemented this in the SoftDevice.

The GAP spec says:

[code]

Note in particular the sentence `security requirements must be checked against the configuration
upon a reconnection before sending indications or notifications`.
Back when we implemented this internally we decided that trying to not

[2019-08-30 12:01] markusr opened #18803 "LTS - support time"
I [read](https://docs.zephyrproject.org/latest/development_process/release_process.html#long-term-support-lts) that a LTS release is made every 2 year. It is however not mentioned how long a LTS release will be supported.

It would be good to add a table with EOL-dates like [Ubuntu](https://wiki.ubuntu.com/Releases) or [linux kernel](https://www.kernel.org/category/releases.html) to the documentat

[2019-08-30 13:26] carlescufi commented on #15256
@pskhansen @cvinayak please discuss the resolution of this issue, there are two options:

- Merge #15320, port it to the split link layer
- Come up with a new approach for control procedures for the split LL, merge #15320 for the legacy link layer

[2019-08-30 13:30] BOZHENG001 opened #18804 "Channel Selection Algorithm Modification In Zephyr"
Hi All

I am now working in Channel Selection Algorithm (CSA), Bluetooth Low Energy on nRF52840DK. Basically, I would like to test both CSA 1 & 2, and also I would like to modify the CSA inside BLE, or even write my own CSA into BLE stack to test its performance.

I would like to do 3 things on nRF52840DK:

1. To switch between CSA 1 & 2
2. To control the channel map by software
3. To use modified

[2019-08-30 13:42] carlescufi commented on #18804
@BOZHENG001

There are two Link Layers in Zephyr, the old, legacy one and the new split link layer. If you change code in `lll_*` files, you are modifying the split link layer. Make sure that when you build zephyr you enable it in Kconfig with `CONFIG_BT_LL_SW_SPLIT=y`

[2019-08-30 14:08] pabigot commented on #15611
**tl;dr**: The facts have been collected; I've changed my mind; and I now propose revising the specification so `set_clr` does not support toggle and instead clears pins that are present in both sets.

So I've been spending some time with #16648 and based on experience would like to propose a change.

I originally promoted the `set_clr` interface because it's a basis operation: `set`, `clear`, and

[2019-08-30 14:48] erwango commented on #17998
@mrusme, did you manage to solve your issue?

I had a look to general NSS pin set up and indeed, there might be an issue with _NSS pins definitions. Changing definition will make it alternate.
[code]
I'll check the reason why it was initially set to `STM32_PUSHPULL_NOPULL` before raising an issue. I suspect NSS pins (output enable) are not often used, explaining why this was not seen earlier (eith

[2019-08-30 14:57] #18391 closed

[2019-08-30 15:15] joerchan commented on #18297
Tested and reproduced this issue on v1.14-branch.
Connected using zephyr on both side, with modified central and peripheral sample.

Both:
 - Disabled privacy
 - Enabled Legacy LL
 - Enabled Debug SMP keys.
 - Set CONN_UPDATE timeout to 450 ms. (this makes it timeout during the encryption procedure).

Central:
 - Connect to peripheral in scan report using direct address.
 - In connected callback i

[2019-08-30 16:40] mrusme commented on #17998
@erwango thanks for getting back. To be honest, I gave up on Zephyr after encountering more issues down the road which I couldn't figure out myself within a reasonable amount of time. Tried getting help on the IRC channel, which also didn't lead to much success back then.

Since I diverted to another stack this has become irrelevant to me, hence I can close this issue.

[2019-08-30 18:04] cfriedt opened #18807 "Support the Ubuntu Cross Toolchain"
**Is your feature request related to a problem? Please describe.**
It would be helpful for many Ubuntu users, and also for continuous integration (CI), to be able to use Ubuntu's `gcc-arm-none-eabi` cross-compiler for building zephyr for arm microcontrollers.

In particular, many CI loops use Ubuntu's cross-compiler because it is so easy to install from Ubuntu's default package repository in many

[2019-08-30 20:35] aep commented on #17926
@alexanderwachter yes, i tested the original PR and it worked. If it's merged, this can be closed. thanks!

[2019-08-30 20:35] #17926 closed

[2019-08-30 20:37] gnuless opened #18808 "Docs for gpmrb board incorrectly refer to up_squared board"
The section describing configuration for the HSUART on gpmrb incorrectly refers to the up_squared board when discussing devicetree overlays.

[2019-08-31 02:04] menglingao1997 opened #18813 "fs: nvs: Cannot delete entries"
when I first call `nvs_init()` function, _this time FLASH space ALL is 0xFF_.
then I write entry just like this:` nvs_write(&fs, 1, buf, 1);`
then I delete this entry: `nvs_delete(&fs, 1);`
then, I read:` nvs_read(&fs, 1, buf1, 1);` **Successful return**

[code]

just like above code show, when i call `nvs_delete`, the loop find prev entry,and finally find it, then break the loop, but `if (wlk_add

[2019-08-31 06:55] Mani-Sadhasivam opened #18814 "Module Request: LoRaMac-Node"
This RFC issue is targeted towards adding Semtech's LoRaMac repo as a module to zephyr. The repository is available here: https://github.com/Lora-net/LoRaMac-node

As per Wikipedia,
"LoRa (Long Range) is a spread spectrum modulation technique derived from chirp spread spectrum (CSS) technology and is the first low-cost implementation of chirp spread spectrum for commercial usage. It was developed

[2019-08-31 07:48] Mani-Sadhasivam commented on #18814
@carlescufi @alexanderwachter @tbursztyka @jukkar

[2019-08-31 09:47] jcyrax opened #18815 "UART API documentation"
I'm looking at website API documentation for UART and it looks like some parts of functionality documentation aren't generated. It is for  https://docs.zephyrproject.org/latest/reference/peripherals/uart.html 2.0.0-rc2.

1. Some functions aren't documented, but only mentioned: uart_callback_set, uart_tx, uart_tx_abort, uart_rx_enable, uart_rx_buf_rsp to mention first I checked.

1. I think there i

[2019-08-31 09:59] Laczen commented on #18813
@menglingao1997, thank you for reporting this bug. I think it is indeed a bug. It only appears when you are trying to delete the just added entry (then wlk_addr == fs->ate_wra and wlk_ate.id == id).
A possible fix is to add a bool "prev_found" and set it to true when a valid id match is found:
line 785: `break;` replace by `prev_found = true; break;`
line 792: replaced by: `if (prev_found) {`

[2019-08-31 12:39] aescolar commented on #18807
CC: @galak

[2019-08-31 13:06] lgl88911 opened #18816 "ssd1306 driver can't work with lvgl"
**Is your enhancement proposal related to a problem? Please describe.**
ssd1306 driver no suport lvgl

**Describe the solution you'd like**
ssd1306 driver can work with lvgl

**Describe alternatives you've considered**
I will pull request modify ssd1306 driver, it can work with lvgl

**Additional context**
ssd1306_write limits the starting coordinates to (0,0), which is incomplete for the API defi

[2019-08-31 13:09] aescolar commented on #8275
@proverifTmp https://docs.zephyrproject.org/latest/application/index.html#eclipse-debugging

[2019-08-31 14:09] carlescufi opened #18819 "Bluetooth: LL split assert upon disconnection"
LL asserts after 3 to 10 connection and disconnection cycles.

[2019-08-31 15:04] #18819 closed

[2019-08-31 15:28] carlescufi commented on #18813
Thank you @Laczen for the suggested fix. I have posted a [PR](#18820) with your suggestion.

[2019-08-31 15:48] carlescufi commented on #18814
Repo is created:

https://github.com/zephyrproject-rtos/loramac-node

I think we can close this issue, all we need now is for @Mani-Sadhasivam to send a PR adding the  `west.yml` entry.

[2019-08-31 15:48] #18814 closed

[2019-09-01 09:15] karstenkoenig opened #18821 "Documentation: parent vs child in DeviceTree nodes"
In my understanding parent is used in node descriptions for bus devices.
[spi-device.yaml](https://github.com/zephyrproject-rtos/zephyr/blob/master/dts/bindings/spi/spi-device.yaml) sets `parent: bus: spi` and is included by all sort of spi devices, such as sensors.

Where as [spi.yaml](https://github.com/zephyrproject-rtos/zephyr/blob/master/dts/bindings/spi/spi.yaml) sets `child: bus: spi`and is

[2019-09-01 09:17] karstenkoenig commented on #18821
Ping @ulfalizer
You did lots of DTS cleanup, maybe you can shed some light here :-)

[2019-09-01 09:30] ulfalizer commented on #18821
Oops... I accidentally swapped them when adding the documentation.

Fix here: https://github.com/zephyrproject-rtos/zephyr/pull/18822

[2019-09-01 11:29] lgl88911 commented on #18816
PR https://github.com/zephyrproject-rtos/zephyr/pull/18817 to enhancement

[2019-09-01 13:58] #18821 closed

[2019-09-02 04:03] chen-png opened #18824 "tests/subsys/usb/device/ failed on sam_e70 board."
**Describe the bug**
tests/subsys/usb/device/ failed on sam_e70 board, the reference bug is #17182.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=sam_e70_xplained tests/subsys/usb/device/
2. west flash

**Screenshots or console output**
![image](https://user-images.githubusercontent.com/52983984/64089532-07f8e600-cd79-11e9-83b8-6e6d6c7479e0.png)

**Environment (please complet

[2019-09-02 07:01] MarekPieta commented on #18778
@ulfalizer, to be honest I am not sure, why it was made this way (I assumed that there is a reason).
Other simple solution for this could be adding `ifdefs` to `dts_fixup` headers (but its not elegant one).

[2019-09-02 07:43] joerchan commented on #18297
[smp_pairing_issues.zip](https://github.com/zephyrproject-rtos/zephyr/files/3564961/smp_pairing_issues.zip)
Added sniffer logs and console output.
Sniffer log (mic failure): Issue happens at 24678
Sniffer log (smp timeout): Issue happens at 43179

[2019-09-02 07:45] erwango commented on #17998
@mrusme, sorry to hear that. Btw, IRC is not much in use these days since we switched to slack some months ago(https://zephyrproject.slack.com/).

[2019-09-02 07:54] #18804 closed

[2019-09-02 08:00] BOZHENG001 commented on #18804
@carlescufi
Hi Carlescufi
Thanks for your information. Actually, I also tried that, enabling split link layer in Kconfig `(CONFIG_BT_LL_SW_SPLIT=y)`. Then I tried to modify "lll_chan.c" for both central and peripheral devices, but it did not work as i wished.
So i am confused if i need to configure more in Kconfig, or maybe i will have to rebuild the project with lll_* files myself?

[2019-09-02 08:15] joerchan commented on #18297
Reproduced SMP timeout / LL control procedure timeout issue on Legacy controller in master branch (47f36afdb9).

[2019-09-02 08:37] carlescufi commented on #18804
Well the Link Layer and BLE doesn't support what you want to do natively. First I would suggest that you read the part of the spec that deals with CSA to understand how the current code is implemented. Once that is done you can start modifying it and we can probably help out a bit.

[2019-09-02 09:14] mrusme commented on #17998
@erwango unfortunately that's of not much use for anyone else but you guys:

<img width="1066" alt="Screenshot 2019-09-02 at 11 11 09 AM" src="https://user-images.githubusercontent.com/151967/64103380-666e9600-cd72-11e9-89d6-9d4d4c14f8cc.png">

[Pointed this out over a month ago](https://twitter.com/mrusme/status/1155866788736983040) to your somewhat active Twitter account, haven't heard back abou

[2019-09-02 09:38] erwango commented on #17998
@mrusme, well that's strange, for sure there are people from the open community in there. So not only people from companies. Wonder why access is/looks blocked.

[2019-09-02 09:43] erwango commented on #17998
@mrusme :
Actually you need to access via the Slack invite link first : https://tinyurl.com/y5glwylp.
Maybe this need to be documented better indeed.

[2019-09-02 09:50] joerchan commented on #18297
Sniffer trace from reporter shows that the CONN UPDATE is not colliding with the Encryption procedure, so the point "Set CONN_UPDATE timeout to 450 ms. (this makes it timeout during the encryption procedure)." appears to not be a trigger for the bug.
In this case packets with MIC errors was sent by the master link with no apparent LL control procedure collision, and no other data other than the SM

[2019-09-02 10:02] joerchan commented on #18297
So far unable to reproduce this with the Split controller.

[2019-09-02 10:16] mrusme commented on #17998
@erwango maybe change the link on [the Zephyr contact page](https://www.zephyrproject.org/about/#contact-us) as it still is invalid? The one you just wrote seems to be valid, without actually going through the whole steps of registration.

[2019-09-02 10:31] #18813 closed

[2019-09-02 11:07] joerchan opened #18828 "Bluetooth: controller: crash terminating link during encryption procedure"
**Describe the bug**
The bluetooth controller (split) will crash during the encryption procedure if the termination procedure was initiated.

**To Reproduce**
Steps to reproduce the behavior:
Use the central and peripheral bluetooth samples.
 - Change the host conn param update timeout  `#define CONN_UPDATE_TIMEOUT  K_MSEC(450)`
 - Master initiates security in connected callback
 - Master initiate

[2019-09-02 11:14] erwango commented on #17998
@mrusme, this would make sense. Will submit a change.

[2019-09-02 11:28] erwango opened #18832 "Doc: contact-us page should use slack invite (not zephyrproject.slack.com)"
**Describe the bug**
Contact Us page on the website (https://www.zephyrproject.org/about/#contact-us) provides slack information using the https://zephyrproject.slack.com address which can only be used by already registered users.

Instead the slack invite link should be used:
https://tinyurl.com/y5glwylp

**To Reproduce**
Visit: https://www.zephyrproject.org/about/#contact-us

**Expected behavior

[2019-09-02 12:38] arnop2 commented on #18749
@Mani-Sadhasivam

We found an issue in Uboot. It is a side effect of adding the EXIDX program Header in the Zephyr elf file.
The Uboot has a bug in the elf program header parser. In some cases the pointer to the headers is not incremented.
To fix this you need to recompile the Uboot after applying following patch:

@@ -430,11 +430,11 @@ static int rproc_load_elf_image(struct udevice *dev, unsigned

[2019-09-02 12:42] arnop2 commented on #18749
Sorry bad syntax for the patch...
[code]

[2019-09-02 12:45] Mani-Sadhasivam commented on #18749
@arnop2 Thanks for the patch! I will be on vacation for this week. Will test this patch asap.

[2019-09-02 12:57] cfriedt opened #18843 "Usage Fault with CONFIG_NO_OPTIMIZATIONS even on samples/hello_world"
**Describe the bug**
Zephyr crashes with a usage fault before getting to `main()` if `CONFIG_NO_OPTIMIZATIONS` is passed in.
`BOARD=cc1352r1_launchxl`
using `samples/hello_world` (custom application exhibits the same behaviour)

`CONFIG_NO_OPTIMIZATIONS` is required in order to see values other than `optimized out` through JTAG / gdb (see screenshot).

[More info on CONFIG_NO_OPTIMIZTIONS](https:/

[2019-09-02 13:14] nvlsianpu commented on #16035
@ntavish Any progress on that?

[2019-09-02 13:41] carlescufi commented on #18843
I have tested the `hello_world` sample on the `nrf52840_pca10056` with `CONFIG_NO_OPTIMIZATIONS` enabled and it seems to work fine here. Do you have another board to test @cfriedt?

[2019-09-02 13:42] carlescufi commented on #18843
@cfriedt also, please note that the right name of this Kconfig option is `CONFIG_NO_OPTIMIZATIONS` (note the `S` at the end). In your description you seem to have misspelled it.

[2019-09-02 15:02] cfriedt commented on #18843
Fixed! Sorry about the typo(s).

[2019-09-02 15:03] joerchan opened #18850 "Bluetooth: controller: Advertiser following directed advertiser will have corrupt data"
**Describe the bug**
Directed advertiser makes advertising data corrupt and the data cannot be reset.
1. Starting a directed advertiser will overwrite the advertising data with directed advertise PDU
 The following commands should advertise with the correct advertising data.
[code]

2. The set advertising data command does not update the advertising data if the current advertising PDU is a directe

[2019-09-02 15:19] carlescufi commented on #18843
Setting priority to low since this doesn't seem to be a general issue, but one with this particular board.

[2019-09-02 15:24] cfriedt commented on #18843
Hmm... considering that plumbers is in a matter of days, I don't consider it low priority, but sure..

[2019-09-02 15:29] carlescufi commented on #18843
Well typically we consider it low-priority if it only affects a single board. That said with this issue the problem is that I am not sure if the board support is broken or if it is a symptom of a deeper problem we need to understand.
I wonder if @bwitherspoon could help out here, since he's listed as the official maintainer of this board.

[2019-09-02 15:50] cfriedt commented on #18843
Hopefully. It happens quite systematically and definitely appears to be stack corruption.

E.g. it's always after the 5th char printed out using uart_cc13xx_cc26xx_poll_out(). In this case, it's the boot banner( "***** ", of "***** Booting Zephyr OS build v2.0.0-rc1-265-gc4d2e173a42c *****").

One of the tricky things about this board, is that there are some "magic" reserved sections in memory due

[2019-09-02 15:53] cfriedt commented on #18843
Stack trace is here:
[code]

[2019-09-02 16:13] cfriedt commented on #18843
Since it's always so precise too, I'm sort of thinking it could be a watchdog...

[2019-09-02 16:31] cfriedt opened #18852 "west flash fails for cc1352r_launchxl"
**Describe the bug**

`west flash` fails in openocd for board `cc1352r1_launchxl`.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build --pristine -b cc1352r1_launchxl samples/hello_world`
2. `west flash`
4. See error

**Expected behavior**
flashing should work

**Impact**
annoyance

**Screenshots or console output**

[code]
**Environment (please complete the following information):**

[2019-09-02 16:33] cfriedt commented on #18852
Yep. It's a one-liner. I'll create a PR.

[2019-09-02 17:00] cfriedt commented on #18843
Hmm... I just cat'ed all of the generated .ld files in the build directory, along with soc/arm/ti_simplelink/cc13x2_cc26x2/linker.ld, and they definitely do not take reserved memory regions into account.

[2019-09-02 17:40] cfriedt commented on #18843
Uploaded linker scripts from TI's 3.10 SDK

[CC1352R1_LAUNCHXL_NoRTOS.lds.txt](https://github.com/zephyrproject-rtos/zephyr/files/3566801/CC1352R1_LAUNCHXL_NoRTOS.lds.txt)
[CC1352R1_LAUNCHXL_TIRTOS.lds.txt](https://github.com/zephyrproject-rtos/zephyr/files/3566802/CC1352R1_LAUNCHXL_TIRTOS.lds.txt)

[2019-09-02 18:38] cfriedt commented on #18843
The Cortex-M linker script shows how to declare an entire vendor specific section.

It isn't immediately clear to my how to inject a section at a specific memory address as part of e.g. .data, or .today's, or .text .

Does Zephyr's linker script have a convenient way to do that?

[2019-09-02 19:32] carlescufi commented on #18843
At the SoC level you can do it like [this](https://github.com/zephyrproject-rtos/zephyr/blob/master/soc/arm/st_stm32/stm32mp1/linker.ld).

Directly in the main linker script you can do it like [this](https://github.com/zephyrproject-rtos/zephyr/blob/master/include/arch/arm/cortex_m/scripts/linker.ld#L286).

Also take a look at [this commit](https://github.com/zephyrproject-rtos/zephyr/commit/1d3b6

[2019-09-02 20:16] cfriedt commented on #18843
@carlescufi - I just threw up a "hack" PR. Don't expect it to be approved, but will work on it a bit more after LPC.

[2019-09-02 20:28] carlescufi commented on #18843
Thanks @cfriedt for the PRs.

[2019-09-03 08:04] erwango commented on #17998
Reopenning the issue, as it reveals a real issue that should be fixed.

[2019-09-03 08:53] boretom opened #18858 "Runner support for stm32flash utility"
Hi,

I got a 96b_wistrio board and it uses a STM32L1 MCU. Flashing the resulting firmware is done using the stm32flash open source utility.
To my surprise there is no runner for what I thought is a popular flashing tool. Searching the issues I didn't find any request for it.

**Current situation**
one has to manually use the stm32flash utility

**What I'd like**
Be able to use `west flash` to flas

[2019-09-03 09:10] carlescufi commented on #18858
With nRF chips we support both raw J-Link and also `nrfjprog`, the Nordic flashing tool. I don't see why we wouldn't add support for `stm32flash`. A Pull Request is most welcome @boretom.

[2019-09-03 10:15] joerchan commented on #18828
[terminate-enc-crash.zip](https://github.com/zephyrproject-rtos/zephyr/files/3568998/terminate-enc-crash.zip)
Attached diff file to used to reproduce. Need to changed slave address in central/main.c to connect.

[2019-09-03 11:05] thomasthep opened #18865 "Fatal Usage Fault When Bluetooth And OpenThread Are Enabled On NRF52840 Multiprotocol Support"
**Description**
Compile application with Bluetooth and OpenThread enabled causes a fatal error to occur.
This can be reproduced by using the example in samples/net/sockets/echo_server provided within Zephyr's repository. Use the overlay overlay_ot.conf and set CONFIG_BT=y.

Nordic NRF5 SDK supports multi-protocol and the open sourced code also does.
https://devzone.nordicsemi.com/nordic/nordic-blo

[2019-09-03 11:11] carlescufi commented on #18865
@thomasthep We do **not** support multiprotocol in Zephyr. @rlubos can you please confirm?

[2019-09-03 11:11] kFYatek opened #18867 "zsock_poll() unnecessarily wait when querying for ZSOCK_POLLOUT"
**Describe the bug**
When `zsock_poll()` is called to wait for the `ZSOCK_POLLOUT` event, and the socket is already ready for sending, it does not return immediately, but waits for the entirety of the `timeout` passed to it.

An analogous bug also affects `zsock_select()`.

This has been tested on the QEMU emulated target, and on an ST Nucleo-F429ZI board that is equipped with an Ethernet port. I

[2019-09-03 11:23] rlubos commented on #18865
@carlescufi @thomasthep Correct, multiprotocol solution available in NRF5 SDK is not supported in Zephyr.

[2019-09-03 11:56] #18828 closed

[2019-09-03 12:03] kFYatek opened #18870 "zsock_getaddrinfo() returns garbage values if IPv4 address is passed and hints->ai_family == AF_INET6"
**Describe the bug**
When `zsock_getaddrinfo()` is passed a `node` value that is already a valid stringified IPv4 address, but `hints->ai_family` is configured to `AF_INET6`, the returned address is unusable.

**To Reproduce**
1. Build and run the following application:

**CMakeLists.txt**:
[code]

**prj.conf**:
[code]

**main.c**:
[code]
2. Observe a garbage address being printed out, for example

[2019-09-03 12:20] kFYatek opened #18873 "zsock_socket() should support proto==0"
**Is your enhancement proposal related to a problem? Please describe.**
Most implementations of BSD-style sockets, both those aiming at comprehensive POSIX compliance (e.g. Linux, macOS, *BSD) and those intentionally deviating from it (e.g. WinSock, lwIP), allow calling `socket()` with the `proto` argument set to 0, which causes the protocol to be defaulted to a typical choice.

E.g. `socket(AF_IN

[2019-09-03 13:39] thomasthep commented on #18865
@carlescufi If this is so, I believe it should be mentioned within the documentation. I checked multiple times but did not find any such mentions.

@rlubos I just noticed this is rather specific to Nordic's SoftDevice. However, there is documentation on how the scheduling works and there is a Simulator Arbiter (https://github.com/NordicSemiconductor/nRF-IEEE-802.15.4-radio-driver/tree/master/src/r

[2019-09-03 14:21] dleach02 commented on #18280
@hakehuang, yes, that is how I programmed the board.

[2019-09-03 14:41] #18802 closed

[2019-09-03 14:44] #16225 closed

[2019-09-03 14:44] #16229 closed

[2019-09-03 14:44] #18284 closed

[2019-09-03 14:53] jukkar commented on #18873
Sure, this makes sense. I will prepare a PR for this.

[2019-09-03 15:07] andyross commented on #16902
FWIW: this isn't cleanup.  Code using CMSISv2 timing APIs only works correctly if CONFIG_SYS_CLOCK_TICKS_PER_SEC is equal to 1000.  That's not high priority, and in fact this constraint is enforced by code, but it's a real bug.

[2019-09-03 15:56] ioannisg opened #18880 "boards: mec15xxevb_assy6853: consider moving ARCH_HAS_CUSTOM_BUSY_WAIT to SoC definition"
**Describe the bug**
There has been a suggestion in #18318 to consider moving ARCH_HAS_CUSTOM_BUSY_WAIT definition/selection in the SoC definition instead of board definition.

This makes sense since this requirement appears to be SoC specific.

[2019-09-03 15:58] ioannisg commented on #16327
Are you going to address this for 2.0 @mike-scott ?

[2019-09-03 15:59] ioannisg commented on #18154
@microbuilder would you be able to address this for v2.0.0?

[2019-09-03 16:17] boretom commented on #18858
Hey @carlescufi ,

Ok, I'll extend the runner and create a pull request when I'm ready.
Shall this ticket be closed?

[2019-09-03 16:37] mike-scott commented on #16327
Wow.. this totally feel off my plate.  Let me look.

[2019-09-03 16:37] #17897 closed

[2019-09-03 16:57] mbolivar commented on #18858
Thanks for the feature request! Adding @erwango since it affects STM32.

Please keep it open and make sure your pull request includes a Fixes line for it:

https://github.blog/2013-05-14-closing-issues-via-pull-requests/

[2019-09-03 17:17] carlescufi commented on #18865
@thomasthep I will close this since this is not currently supported. Feel free to open a feature request GitHub issue. Thanks!

[2019-09-03 17:17] #18865 closed

[2019-09-03 17:45] jukkar commented on #18308
The root cause is like this:
* TCP server is listening connections but will handle only one connection at a time (echo-server sample in this case)
* A client A connects, and the connection is accepted
* A client B connects, instead of denying a connection, it is "auto" accepted (this is the actual bug) even if the application has not called `accept()`
* After the A connection is closed, the connec

[2019-09-03 18:50] MaureenHelm opened #18885 "Reduce number of boot MPU regions for NXP MPU"
**Is your enhancement proposal related to a problem? Please describe.**
SoCs with the NXP MPU, such as k64f and ke18f, use 5 boot MPU regions, which is significantly more than the 2 regions used by most SoCs with the Arm MPU. In the case of ke18f, which has a total of 8 regions in hardware, there are not enough regions left after boot to support both hardware stack protection and user space.

**De

[2019-09-03 20:50] #18739 closed

[2019-09-04 00:08] dcpleung commented on #18843
Have you tried increasing the size of various stacks? The ones being used can be found in your `zephyr/.config` file. Maybe try doubling them?

[2019-09-04 00:38] bwitherspoon commented on #18843
I have the same issue on both the CC1352 and CC2652 launchpads. I will have closer look at it this week.

[2019-09-04 05:17] LeiW000 commented on #16902
@andyross , sorry, I misunderstood it. Anyway, Peng and I will try to fix it.

[2019-09-04 08:02] #18808 closed

[2019-09-04 10:14] pabigot opened #18892 "POSIX subsys: transition to #include_next for header consistency"
The POSIX subsystem injects a large number of standard headers into the include path to provide declarations required for POSIX when they may be missing in minimal libc.  It currently uses detailed knowledge of underlying newlib and minimal libc private headers to re-use as much as possible.

A similar problem has been solved for C++ by having Zephyr's minimal libc `stdint.h` use `#include_next <s

[2019-09-04 10:19] aescolar commented on #18892
CC @pfalcon

[2019-09-04 10:33] E3V3A commented on #12257
This issue and the PR's related to this, are very confusing, to say the least.

* Has this actually been fixed?
* Can we still use GNU ARM Embedded to compile or do we need to change?

[2019-09-04 10:36] SebastianBoe commented on #12257
This was fixed with the release of

GNU Arm Embedded Toolchain Version 8-2019-q3-update Released: July 10, 2019

[2019-09-04 11:21] pfalcon commented on #18892
@pabigot, I'm not sure what problem is reported here. Did you try to port some existing POSIX software and faced issues with that? If so, please report in it in much more detail in a separate ticket.

Otherwise, that's the criteria for whether POSIX subsys goes in the right direction or not. And it's not currently in the state where we can discuss whether it's better with adornments of `include_ne

[2019-09-04 11:23] thomasthep commented on #18865
@carlescufi Sure thing. Thanks.

[2019-09-04 11:52] thomasthep opened #18896 "Concurrent Multi-Protocol Support NRF52840"
Zephyr should support multi-protocol handling on NRF52840 chipsets. This would allow the use of Bluetooth LE/5 and IEEE802.15.4 PHY radios simultaneously, possibly also others such as 2.4GHz proprietary and ANT.

This would allow communication with multiple devices enabling easier configuration and possibly also provide a backup network.

Scenarios include but are not limited to:
* Provisioning Op

[2019-09-04 12:07] aescolar commented on #18896
CC @carlescufi

[2019-09-04 12:13] E3V3A commented on #12257
@SebastianBoe
Since you seem to be from Trondheim, you may be working with Nordic Semi. If that is so, I would like you to tell them to update all their *`getting started`* and *`setup`* pages, which still refer users to use the older tool-chain before this bug...

[2019-09-04 12:33] SebastianBoe commented on #12257
Thank you for the heads up, will pass it along.

[2019-09-04 12:40] BOZHENG001 commented on #18804
@carlescufi
Hi Carlescufi
Thanks for your suggestion! I am able to use split link layer now, but meeting with some new problems.
Basically, i enable the split link layer on both peripheral and central device, by setting:

`CONFIG_BT_RECV_IS_RX_THREAD=y,
CONFIG_ENTROPY_GENERATOR=y,
CONFIG_BT_LL_SW_SPLIT=y`

But then, after CONNECT_REQ, my sniffer cannot update any more information between them. Als

[2019-09-04 13:06] pabigot commented on #18892
The primary problem is that the POSIX subsystem is forcing changes on minimal libc that are inappropriate because the POSIX subsystem approach is to replace the toolchain headers, rather than augment them.  See https://github.com/zephyrproject-rtos/zephyr/pull/18780#issuecomment-527868318.

If `#include_next <time.h>` was used in the POSIX subsystem `<time.h>` then (a) minimal libc would not need

[2019-09-04 13:07] cfriedt commented on #18843
I may have conflated an issue with OpenOCD and this issue. I was using upstream OpenOCD (which TI has committed to supporting). My other PR suggested to use `reset_confog trst_only` in OpenOCD because that allowed me to flash with upstream. However, it also does not properly reset the cpu or put the cpu into debug mode. So it's possible that (although flashing works) the usage fault I received was

[2019-09-04 14:33] hakehuang commented on #18280
@dleach02 may Ihave you board revision? mine is rev D

[2019-09-04 15:44] galak commented on #11712
I think we support this now.

[2019-09-04 15:44] #11712 closed

[2019-09-04 15:47] #2682 closed

[2019-09-04 16:27] #16327 closed

[2019-09-04 16:37] kaiofking opened #18906 "Problem on build when calling objcopy to generate isrList.bin"
Bug description:
On build, the generation of isrList.bin return an error.
It uses system objcopy (/usr/bin/objcopy).
After try with arm-none-eabi-objcopy, it works in this case. I think script uses the wrong objcopy.

To Reproduce:
ninja or make on a generated build folder.

Expected behavior:
isrList.bin is generated.

Impact:
Build is broken.

Console output:
[code]

Environment:
 - OS: Ubuntu 1

[2019-09-04 17:13] pabigot commented on #18530
### Proposed Roadmap to GPIO Integration for #15611

This is a slightly edited description of stages originally proposed on slack.  The goal is to do development and review work on a topic branch, but to merge pieces to master as soon as they are sufficiently ready that their presence will not break any tests or applications.  There are seven stages:

* **(1)** Add the new API and test code as in

[2019-09-04 17:56] galak commented on #18530
Would be good to get a summary of changes that need to be made to the driver and dts files.

[2019-09-04 18:41] pabigot commented on #18530
IMO the best approach is to use the five existing conversions as examples, but:

Essentially for the driver it's "implement the new functions in the API table, and make the tests pass".

For the devicetree files it's minimally replace the deprecated macros and update the flags to be correct for the corresponding device (generally leave at 0 for active high, or change to `GPIO_ACTIVE_LOW` if approp

[2019-09-04 19:05] #2046 closed

[2019-09-04 19:23] MaureenHelm commented on #5457
SDHC support added in #5528 and #16468

[2019-09-04 19:23] #5457 closed

[2019-09-04 19:44] MaureenHelm commented on #4277
Is it possible to rework `tests/drivers/flash_simulator`

[2019-09-04 20:17] MaureenHelm commented on #6183
There is an asynchronous alternative via the sensor trigger `SENSOR_TRIG_DATA_READY`, but the CCS811 driver needs to implement it. cc: @Mani-Sadhasivam

`SENSOR_ATTR_SAMPLING_FREQUENCY` allows values less than 1 Hz so I don't see a need for a new interval attribute.

[2019-09-04 20:17] #6183 closed

[2019-09-04 21:41] dleach02 commented on #18280
The tag on the back has:

700-27556 REV C
SCH-27556 REV F

I don't see any other labels.

[2019-09-04 21:55] andrewboie commented on #2807
Where do these requirements come from?

[2019-09-04 23:23] cfriedt-friedtco commented on #17787
I'm receiving the same issue. Built with zephyrproject-rtos/openocd branch `zephyr-20190226`. Also tried branch `zephyr-20190130`. Same problems.

[2019-09-04 23:28] d3zd3z commented on #2807
My experience with lists of "banned" functions is that they tend to get replaced with other things, often hastily, and in a way that introduces more and different bugs.

MISRA-C handles this pretty well, basically having a list of functions that are commonly misused, and need extra scrutiny.

For example, from this list, strcpy, and strcmp, can easily be used safely, if one of the arguments is a c

[2019-09-04 23:56] andrewboie commented on #2807
Completely agree.
I think we should close this, and instead defer to static analysis results.

[2019-09-05 00:08] galak commented on #2686
Cortex-M0/0+ support is now in qemu and we can enable this on bbc_microbit if we desire.

@ioannisg & @carlescufi thoughts on enabling qemu on bbc_microbit?

[2019-09-05 00:09] galak commented on #2490
Is this still relevant?

[2019-09-05 00:13] #4506 closed

[2019-09-05 06:41] nvlsianpu commented on #4277
Flash simulator tests are testing some functionalities which are expected from flash_sim and not from regular flash driver. Although some code form it might be useful. @kapi-no What is your opinion?

`samples/drivers/soc_flash_nrf5` might be a good base for flash driver test suite.

[2019-09-05 06:46] ioannisg commented on #2686
@galak it would be great, actually.

[2019-09-05 07:06] kapi-no commented on #4277
@nvlsianpu, I agree with you. ```tests/drivers/flash_simulator``` are intended to test flash_sim implementation to check if it's a good enough approximation of the real flash behaviour.

The driver is mainly used to test libraries that depend on the flash driver (e.g. NVS file system, Settings), but I don't mind if it is used for other purposes.

[2019-09-05 07:51] aescolar commented on #18906
CC @SebastianBoe

[2019-09-05 08:18] SebastianBoe commented on #18906
Hi, please post the:

Board,
Sample,
git revision,
ZEPHYR_TOOLCHAIN_VARIANT

[2019-09-05 08:22] SebastianBoe commented on #18906
Could not reproduce.

On my machine "arm-none-eabi-objcopy" is used.

[2019-09-05 08:42] tsvehagen commented on #17731
@mfiumara Do you have any suggestion on an API?

[2019-09-05 08:44] Trubochkin opened #18923 "(BLE) Dynamic TX Power Control"
**Is your feature request related to a problem? Please describe.**
I could not find anywhere how to dynamically change the TX power of the bluetooth transmitter. I found only static definitions that are set in the configuration file:
`CONFIG_BT_CTLR_TX_PWR_PLUS_8`
`CONFIG_BT_CTLR_TX_PWR_PLUS_7`
`CONFIG_BT_CTLR_TX_PWR_PLUS_6`
`CONFIG_BT_CTLR_TX_PWR_PLUS_5`
`CONFIG_BT_CTLR_TX_PWR_PLUS_4`
`CONFIG_BT_

[2019-09-05 09:06] traavnik commented on #17266
I have experienced the same problem using v1.14 (LTS) of Zephy. Sadly "CONFIG_CDC_ACM_IAD" doesn't seem to be supported in that version.
Are there any plans to backport relevant fixes?

[2019-09-05 09:16] nvlsianpu opened #18927 "settings: deprecate base64 encoding"
Base64 encoding is something we inherited from Mynewt `config` subsystem. It was here for
allowing to keep many key-value pairs in one file.
As key-value pairs encoding was changes during many reworks we had, base64 encoding
is not required anymore for any backend we have (FS, FCB, NVS).

Deprecation of base64 encoding will simplify the code, and remove the need for maintaining something on which

[2019-09-05 09:19] nvlsianpu commented on #18927
Need your voice @Laczen @carlescufi @jhedberg @rakons @kapi-no

[2019-09-05 09:19] aescolar commented on #18923
Closing as duplicate of #17731

[2019-09-05 09:19] #18923 closed

[2019-09-05 09:21] aescolar commented on #18927
CC @fnde-ot

[2019-09-05 09:22] carlescufi commented on #16599
For tracking, a wider description can be found [here](https://github.com/zephyrproject-rtos/zephyr/issues/17488#issuecomment-516800469)

[2019-09-05 09:23] carlescufi commented on #16599
@anangl @emob-nordic Please re-run the testbench and close this issue if appropriate.

[2019-09-05 09:51] carlescufi commented on #18927
I agree with the deprecation proposal

[2019-09-05 09:53] jhedberg commented on #18927
Sounds good to me

[2019-09-05 09:58] rakons commented on #18927
Base64 encoding is something that should be handled in a backend if it requires it. Moreover - if the backend uses base64 or stores data in binnary form should be transparent from the settings module perspective. I agree we should simplify the settings module code.

We do not need to extract base64 encoding as we have base64 library in the lib/os directory.

[2019-09-05 10:45] kapi-no commented on #18927
I`m also in favour of it.

Any simplification of the settings module is welcome :)

[2019-09-05 11:53] pfalcon commented on #18873
This is actually a bug, marking as such.

[2019-09-05 12:27] scottwcpg commented on #18880
I agree. Does everyone agree on moving the logic that enables ARM SYSTICK if MEC RTOS timer is not enabled into SoC?

[2019-09-05 12:42] cvinayak commented on #18297
At 24668. LL_ENC_REQ is sent with SN: 0. NESN: 0.
At 24670. Empty PDU is sent with SN:0. NESN: 0.

Which implies the LL_ENC_REQ was not really transmitted/acknowledge when it comes central.
The consequence being that controller is not aware of LL_ENC_REQ ever being acknowledged by the peripheral, hence central thinks to be not in encryption setup. A LL_CONNECTION_PARAM_REQ is (probably) responded

[2019-09-05 12:43] boretom commented on #18858
Hi @carlescufi,

Would be able to tell me or provide a link to how to run runner test? I can't seem to figure out how to invoke them.

/Thomas

[2019-09-05 12:48] cvinayak commented on #18297
The fact that PDUs are not retransmitted between ULL and LLL does not exposed the bug in `is_enc_req_pause_tx` . It is the retransmission that leads to calling `is_enc_req_pause_tx` mutate the states in the v1.14 controller.

[2019-09-05 12:55] thomasthep opened #18934 "Update Documentation To Reflect No Concurrent Multi-Protocol"
As a user, I would like to know that the project as of currently does not support concurrent multiprotocol as stated in https://github.com/zephyrproject-rtos/zephyr/issues/18865.

Update the documentation to state the status of this.

[2019-09-05 13:01] carlescufi commented on #18858
@boretom
https://github.com/zephyrproject-rtos/zephyr/blob/master/scripts/west_commands/README.txt

[2019-09-05 13:03] kaiofking commented on #18906
Board is nucleo_f413zh
ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb
No explicit ZEPHYR_SDK_INSTALL_DIR definition.
GNUARMEMB_TOOLCHAIN_PATH="$ENV{ZEPHYR_BASE}/../toolchain/gcc-arm-none-eabi-8-2019-q3-update"

After some tries, it seems CMAKE_OBJCOPY is already set before find_program(CMAKE_OBJCOPY ...) is invoked.
I don't know where it could be set before.

I remove all build cache files at all build folder

[2019-09-05 13:07] joerchan commented on #18297
@cvinayak That looks like the correct analysis.

[2019-09-05 13:08] boretom commented on #18858
Thanks @carlescufi, not sure how I overooked it.

[2019-09-05 13:12] SebastianBoe commented on #18906
I believe that the wrong CMAKE_OBJCOPY version is coming from the previous CMakeCache.txt version.

Can it be reproduced with these commands for instance?

[code]

[2019-09-05 13:20] Trubochkin commented on #17731
I tried to use [`radio_tx_power_set(u32_t  power)`](https://github.com/zephyrproject-rtos/zephyr/blob/8401fda961dca2103988421b64ac94356c476512/subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c#L138) (with different `power` argument) before and after `bt_enable()`, but it's not work :(

As I understand it, the power should be initialized before starting bluetooth. But inside the bluet

[2019-09-05 13:27] kaiofking commented on #18906
Ok it helps a bit. In dump.txt find_program(CMAKE_OBJCOPY ...) is called many times before "the good call" (aka zephyr/cmake/bintools/gnu/target.cmake one).

Before this call, it is called twice by (..)/cmake-3.14/Modules/CMakeFindBinUtils.cmake.

So it is due to my installation, but do you know why this cmake module is called before ?

[2019-09-05 13:31] SebastianBoe commented on #18906
On my machine zephyr/cmake/bintools/gnu/target.cmake is the first call.

Please post the full output of

grep CMAKE_OBJCOPY dump.txt

or, if possible, upload dump.txt somewhere.

[2019-09-05 13:31] carlescufi commented on #18934
@thomasthep would you mind sending a Pull Request?

[2019-09-05 13:33] SebastianBoe commented on #18906
I think CMakeFindBinUtils is indirectly invoked by 'project'.

Could you share the app CMakeLists.txt.

If project is invoked before boilerplate.cmake there is a problem.

[2019-09-05 13:43] kaiofking commented on #18906
CMakeLists.txt:
`cmake_minimum_required(VERSION 3.8.2)

# Define project
project(screen)

# Set board settings
set(ENV{BOARD} "nucleo_f413zh")

# Modules inclusions
set(USE_MODULE_LOG ON)
set(USE_MODULE_HAL_STM32 ON)
set(USE_MODULE_COMMAND_ENGINE ON)
set(USE_MODULE_I2C_LAYER ON)

# Include common sources
include(../applications.cmake)

# Add includes
target_include_directories(app PRIVATE include/

[2019-09-05 13:44] gon1332 opened #18935 "[Zephyr 1.14] drivers: flash: spi_nor: Problematic write with page boundaries"
**Describe the bug**
The driver is known to have an issue when the size of the chunk to be written is bigger than the page boundaries. It is fixed for the later versions of Zephyr through https://github.com/zephyrproject-rtos/zephyr/pull/17691 and https://github.com/zephyrproject-rtos/zephyr/pull/17994, but not for Zephyr v1.14.

In my opinion https://github.com/zephyrproject-rtos/zephyr/pull/1799

[2019-09-05 13:45] gon1332 commented on #18935
@pabigot Here you are.

[2019-09-05 13:51] SebastianBoe commented on #18906
Great.

[2019-09-05 13:51] #18906 closed

[2019-09-05 13:53] #18154 closed

[2019-09-05 14:40] tsvehagen commented on #17731
Maybe @cvinayak can shine some light on this issue. How could this be implemented? Is it even possible to change dynamically?

[2019-09-05 14:53] bfrog opened #18940 "Counter External Trigger"
**Is your feature request related to a problem? Please describe.**
I'd like to use the externally driven trigger/clock source for counters (edge causes counter to
increment) for frequency counting in a hardware agnostic way.

**Describe the solution you'd like**
A way to tell the counter it should be driven by an external pin. It would make sense I think to use DTS to describe the pin/clock source

[2019-09-05 15:49] #3295 closed

[2019-09-05 16:03] deadpoolcode1 commented on #6370
is there a future plan of adding ADC support? without that it's hard to use the STM32 boards for most use cases.

[2019-09-05 16:05] thomasthep commented on #18934
@carlescufi Will do.
Are there any other SoCs which support 802.15.4 that are currently supported by Zephyr?
If yes, I assume they would also use the same on-chip radio which would cause this same issue.

[2019-09-05 16:16] nashif commented on #18807
This is already supported in generic way using CROSS_COMPILE

https://docs.zephyrproject.org/latest/getting_started/toolchain_other_x_compilers.html?highlight=cross_compile

[2019-09-05 17:23] Laczen commented on #18927
If I remember correctly there are some users that have units in the field that depend on base64 encoding (with fcb). Although I am also in favour of the simplification  support for these users is needed.Making a special fcb backend with support for base64 encoding might be a solution. When simplifying please remove the shared code between nffs and fcb, this is what really complicates the module.

[2019-09-05 19:30] carlescufi commented on #18940
@nordic-krch could you please comment on this feature request and see how it aligns with the current counter API design?

[2019-09-05 19:34] carlescufi commented on #18934
There is one from Nordic with the same radio (nRF52811) and then there's a bunch of SoCs with 15.4 support, but not all of them support other protocols. A quick list can be found here:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/ieee802154

As I mentioned, only the 52811.

[2019-09-05 19:51] nashif commented on #18892
while include_next was used for posix subsys already, I think we should avoid it. It is a gcc-specific language extension that has its share of issues.

random reference: https://rules.sonarsource.com/c/tag/lock-in/RSPEC-3730

[2019-09-05 22:37] gnuless opened #18956 "memory protection for x86 dependent on XIP"
If you disable CONFIG_XIP for x86, userspace/memory protection tests begin to fail.

Out of the box:
charles@cyouse-desk1:~/zephyr/zephyr$ sanitycheck -p qemu_x86 -T samples/userspace/shared_mem
JOBS: 6
Cleaning output directory /home/charles/zephyr/zephyr/sanity-out
Building testcase defconfigs...
Filtering test cases...
1 tests selected, 196 tests discarded due to filters
total complete:    1/

[2019-09-05 22:43] gnuless commented on #18956
@andrewboie There are 50-odd tests in sanitycheck that fail when XIP is deselected.  I assume they're all related, and will share one (trivial) solution.  As far as I can tell this problem existed before the recent implementation of per-thread page tables.  I'll be looking into this - it's valuable to me as an exercise in getting to know the gritty details of the x86 userspace implementation - but

[2019-09-05 22:50] andrewboie commented on #18956
I agree this probably has a single, fairly trivial fix. QEMU had XIP turned on by default for a long time (years) so it seems a matter of the non-XIP scenario never having been tested.

Can you post the error log with the console output?

[2019-09-05 22:53] gnuless commented on #18956
[code]

[2019-09-05 23:10] mike-scott opened #18957 "NET_L2: modem drivers (offloaded) aren't assigned a net_l2 which causes a crash in net_if_up()/net_if_down()"
**Describe the bug**
When using a network offloaded driver (CONFIG_NET_OFFLOAD / CONFIG_NET_SOCKETS_OFFLOAD) a net_l2 is never assigned to the net_if.
Several places reference the iface's net_l2 in the net_if code:
    l2_flags_get()
    net_if_up()
    net_if_down()

There are no checks here to make sure net_l2 isn't NULL and this results in an exception:
[code]

**To Reproduce**
Steps to reprodu

[2019-09-06 01:58] aasthagr opened #18959 "[Coverity CID :203907]Parse warnings in /include/bluetooth/conn.h"
Static code scan issues seen in File: /include/bluetooth/conn.h
 Category: Parse warnings
 Function:
 Component: Bluetooth
 CID: 203907
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-09-06 01:58] aasthagr opened #18960 "[Coverity CID :203908]Error handling issues in /lib/libc/newlib/libc-hooks.c"
Static code scan issues seen in File: /lib/libc/newlib/libc-hooks.c
 Category: Error handling issues
 Function: _sbrk
 Component: libc
 CID: 203908
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-09-06 01:58] aasthagr opened #18961 "[Coverity CID :203912]Error handling issues in /samples/net/sockets/coap_client/src/coap-client.c"
Static code scan issues seen in File: /samples/net/sockets/coap_client/src/coap-client.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 203912
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-09-06 01:58] aasthagr opened #18962 "[Coverity CID :203909]Memory - corruptions in /subsys/mgmt/smp_shell.c"
Static code scan issues seen in File: /subsys/mgmt/smp_shell.c
 Category: Memory - corruptions
 Function: smp_shell_rx_byte
 Component: Other
 CID: 203909
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-09-06 01:58] aasthagr opened #18963 "[Coverity CID :203910]Memory - corruptions in /tests/bluetooth/uuid/src/main.c"
Static code scan issues seen in File: /tests/bluetooth/uuid/src/main.c
 Category: Memory - corruptions
 Function: test_uuid_create
 Component: Tests
 CID: 203910
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-09-06 01:58] aasthagr opened #18964 "[Coverity CID :203911]Memory - corruptions in /tests/bluetooth/uuid/src/main.c"
Static code scan issues seen in File: /tests/bluetooth/uuid/src/main.c
 Category: Memory - corruptions
 Function: test_uuid_create
 Component: Tests
 CID: 203911
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-09-06 02:00] aasthagr commented on #18961
[code]

[2019-09-06 02:01] aasthagr commented on #18964
[code]

[2019-09-06 02:02] aasthagr commented on #18963
[code]

[2019-09-06 02:03] aasthagr commented on #18962
[code]

[2019-09-06 02:03] aasthagr commented on #18960
[code]

[2019-09-06 02:04] aasthagr commented on #18959
[code]

[2019-09-06 05:37] jhedberg commented on #18963
Marked as false positive in Coverity

[2019-09-06 05:37] #18963 closed

[2019-09-06 05:38] jhedberg commented on #18964
Marked as false positive in Coverity

[2019-09-06 05:38] #18964 closed

[2019-09-06 05:39] jhedberg commented on #18959
Marked as false positive in Coverity - it seems to get confused by the `__deprecated` annotation

[2019-09-06 05:39] #18959 closed

[2019-09-06 06:49] nvlsianpu commented on #18927
@fnde-ot What is your opinion on the deprecation.

[2019-09-06 06:51] aescolar commented on #18960
Seems introduced in aed767a98c0

[2019-09-06 07:01] aescolar commented on #18962
Seems to originate in 8587bb19a7ce2b7e3efd62b63936b0f8cf0f5b78

[2019-09-06 07:02] aescolar commented on #18962
CC @jakub-uC  @nordic-krch

[2019-09-06 07:03] erwango commented on #6370
@deadpoolcode1, ADC is now support on most STM32 devices

[2019-09-06 07:15] aescolar commented on #18927
@fnde-ot has some temporary issues accessing his GitHub account.

But this is his answer (with which I concur):
"I of course agree with the proposed changes to deprecate base64 encoding from settings subsystem. This should be a backend thing."

[2019-09-06 07:45] pfalcon commented on #18867
Mind that in https://github.com/zephyrproject-rtos/zephyr/pull/18879, I argue against workarounds for this issue, and instead call for proper fix of the underlying issue, which is https://github.com/zephyrproject-rtos/zephyr/issues/5842 .

[2019-09-06 07:55] deadpoolcode1 commented on #6370
So zephyr documentation is not updated? ADC is supported for the STM32L?

On Fri, Sep 6, 2019, 10:03 AM Erwan Gouriou <notifications@github.com>
wrote:

[2019-09-06 08:03] Laczen commented on #18927
Maybe some clarification is needed: the base64 encoding is used by the settings module to define how the variable-data pair is stored in the backend. It is only used to define how the data is stored, not how the pair is stored. It is not possible to move it to the "backend" (make it part of fcb, nffs, ...) while still keeping compatibility with existing users.
It is possible to move it from the sh

[2019-09-06 08:11] nvlsianpu commented on #18927
@DeclanTraill any thoughts?

[2019-09-06 08:16] erwango commented on #6370
@deadpoolcode1,

It should be, where are you looking at ?

Supported on L0/L4. Effort for L1 should not be high

[2019-09-06 10:15] pabigot commented on #18892
@nashif It's true that `#include_next` is a GNU extension.  It's also true it was designed specifically to satisfy this problem: augmenting the content of a standard-defined header without impacting user or framework code, nor application control of include-path priority. It's supported by clang, and in theory could be supported by any other toolchain.  In fact, google provides evidence it's suppo

[2019-09-06 10:18] ioannisg commented on #18960
Adding low here, since this is (just) the fact that we don't check the return value

[2019-09-06 11:35] jukkar commented on #18957
I think we can postpone this to 2.1

[2019-09-06 12:05] pabigot opened #18970 "Define and document expected behavior of API calls in various contexts"
This issue is intended to cover the concerns raised in #1960, #3694, #6184, #17014, and related lack of clarity and consistency.

Proposal: We should have:
* Definitions of:
  * thread-safe: (TBD) the function can be invoked from multiple threads at the same time
  * reentrant: (TBD) thread safe, plus the function can be called with (indirect) recursion from the same thread
  * block: (TBD) a call

[2019-09-06 12:06] pabigot commented on #6184
I'm concerned that creating new API with `_isr` suffixes is going to make things more confusing, and won't help when the ISR indirectly invokes code that calls a non-ISR-safe function.  Also this is only part of answering a user's "what will this function do?" question.

Further comments are in #18970.

[2019-09-06 12:44] ulfalizer commented on #18778
@MarekPieta
Don't know either. Maybe the thinking was that it'd standardize how the fixing up of names is done.

I like the fix-it-yourself approach at least, but I'm pretty stone age and minimal-fanciness in how I do stuff. I was thinking of trying to get rid of `dts_fixup.h` files later.

[2019-09-06 13:09] gnuless commented on #16721
@galak can you revisit this now that the devicetree stuff has been rewritten? the new Python scripts double the number of warnings spewed during the configuration process. I'm really not sure I want to start tinkering with work-in-progress devicetree code, but I imagine restructuring the .dts files and emitting b/d/f for PCI devices can be all that hard.

[2019-09-06 13:23] galak commented on #15598
@Mani-Sadhasivam any update on this?

[2019-09-06 13:34] rakons commented on #18927
Backend gets struct  settings_store,  name, value and val size. Backend uses settings_line_write where the base64 conversion happens.  I do  not  see any reason why  cannot move it directly into fcb backend to keep the support for the users.

[2019-09-06 13:45] pizi-nordic opened #18973 "z_arch_system_halt() does not block interrupts"
**Describe the bug**
The `z_arch_system_halt()` is implemented in the following way:
[code]

This function seems to block all interrupts and halt the CPU, which is intention here.
However the `k_cpu_idle()` unconditionally enable interrupts. As result, the interrupts
can be executed.

**Expected behavior**
The ` z_arch_system_halt()` should completely halt the system.

[2019-09-06 13:45] pizi-nordic commented on #18973
FYI: @andyross, @ioannisg

[2019-09-06 13:58] carlescufi commented on #18973
I think I've seen this during my debugging sessions actually! This matches my observations.

[2019-09-06 14:10] ioannisg commented on #18973
is this a bug? Do we document that z_arch_system_halt needs to halt execution completely, or just the "kernel"?

[2019-09-06 14:27] Trubochkin commented on #18592
Updated to [v2.0.0rc3](https://github.com/zephyrproject-rtos/zephyr/releases/tag/v2.0.0-rc3) and this solved the problem. Now the value of RSSI rises above -44 dBm 👍

[2019-09-06 14:28] #18592 closed

[2019-09-06 14:28] pizi-nordic commented on #18973
The interrupts are part of the "kernel", so not even kernel is halted...

[2019-09-06 14:32] mike-scott commented on #18957
@ioannisg @jukkar I'm ok with postpone.  It's fixing a crash but I had an odd time seeing it all the time.

[2019-09-06 14:33] ioannisg commented on #18957
@mike-scott there will be a 2.0.1 milestone for fixes.

[2019-09-06 14:51] ioannisg commented on #18973
@pizi-nordic can a timer interrupt trigger a context-switch if we are already in z_arch_system_halt()?

[2019-09-06 15:00] andrewboie commented on #18973
I sent a PR to fix this

[2019-09-06 15:00] andrewboie commented on #18973
Yes

[2019-09-06 15:01] ioannisg commented on #18973
Then this is a bug

[2019-09-06 15:35] Laczen commented on #18927
@rakons, I agree with your proposal. Moving the settings_line_write into the settings fcb backend and removing the shared code between fcb and nffs (this is mainly settings_line_write) would certainly simplify things a lot.

Depreciating base64 encoding is IMO something else, this is keeping the shared code between fcb and nffs and removing base64 encoding from both. This would have a minor effect

[2019-09-06 16:19] andyross commented on #18973
FWIW: the misfeature where `k_cpu_idle()` is expected to be called with an interrupt lock and to release it before returning is an API bug.  Obviously it needs to enable interrupts internally (so that something can wake it up), but the interrupt state really ought to be consistent on return.  Obviously fixing that involves an incompatible change to our architecture API.  But we really should do it

[2019-09-06 18:05] dcpleung commented on #18539
PR for HAL is at https://github.com/zephyrproject-rtos/hal_microchip/pull/2.

[2019-09-06 18:06] dcpleung commented on #18540
PR for HAL is at https://github.com/zephyrproject-rtos/hal_microchip/pull/2.

[2019-09-06 18:13] pabigot commented on #4028
@mrusme The application in `tests/application_development/libcxx` is the most complete; right now there's no link in the documentation but I'll fix that.  That example targets C++17.  03 is missing for unknown reasons, but 98, 11, 14, 17, and 2A can all be specified with (e.g.) `CONFIG_STD_CPP17`.

There are still significant limitations including use of dynamic object creation, virtual functions,

[2019-09-06 18:26] pabigot opened #18986 "DTS: transition from alias to node label as the standard prefix"
From https://github.com/zephyrproject-rtos/zephyr/pull/18937#issuecomment-528849556:

Currently the only instance-agnostic reference to a specific devicetree node is one generated from an alias to the node's label. Take this example:

[code]
is produced from:

                adc: saadc@40007000 {
                        compatible = "nordic,nrf-saadc";
                        reg = <0x40007000 0x