[2022-05-31 14:21] smrtos commented on #45675
Should be fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/46052, https://github.com/zephyrproject-rtos/zephyr/pull/46132

[2022-05-31 14:35] LixinGuoX commented on #45675
With those patches, twister still can not parse that output, we don't have to change twister to fit this case, just customize the output a little bit more since it has been customized.

[2022-05-31 14:49] cfriedt commented on #43369
Looks like this issue should have been closed with #41729

@SdtElectronics - feel free to open a new issue with your concerns.

[2022-05-31 14:58] rodrigopex commented on #45910
Done! Zbus as a Zephyr module is ok. Check the [Zbus as a module](https://github.com/zephyr-bus/zbus/tree/main/samples/zbus_as_a_module) sample. @hongshui3000

[2022-05-31 15:03] carlocaione commented on #46127
One possible solution here is to have the kernel threads also using `SP_EL0` instead of `SP_ELx`. On Exception / SError you would switch to `SP_ELx` that would always be pointing to some valid location into the stack.

[2022-05-31 15:22] ssharks commented on #23302
Very interesting results. This clearly shows that in a happy flow situation the performance can be pretty decent. You are using a point to point wired link I assume.
The polling implementation has definitely helps to improve throughput quite a bit.

You increased the window by increasing the CONFIG_NET_BUF_DATA_SIZE to 1500 bytes over the default 128, do you know if this has the same affect as inc

[2022-05-31 15:41] fkokosinski commented on #45807
This issue seems to be caused by `CONFIG_SIMPLELINK_HOST_DRIVER` y-selecting `CONFIG_REQUIRES_FULL_LIBC`. By removing this dependency and applying some changes to include paths (see attached diff), I was able to build `samples/net/civetweb/http_server` for `cc3235sf_launchxl`.

Diff: [cc3235sf_launchxl-civet.diff.txt](https://github.com/zephyrproject-rtos/zephyr/files/8806683/cc3235sf_launchxl-civ

[2022-05-31 15:46] carlescufi commented on #39740
After a discussion with Brett, he cannot help here with the CC32xx, so we still need someone to help out.

[2022-05-31 16:03] peter-mitsis commented on #45914
I do not have a board with which to test the following idea. If it is indeed timing related, being off by a single tick with the numbers above has the potential to give the reported failure. To ensure that there is adequate buffering, the failing test could be modified such that the first three execution windows are of 5 ticks instead 10, and the fourth execution window could be set to 40 ticks in

[2022-05-31 16:12] mbolivar-nordic commented on #46138
@CEmir10 you seem to be using a custom board, and based on the error output, it looks like the board's devicetree is missing the appropriate nodes to configure flash partitions. I'm converting this to a discussion since it does not look like a bug in upstream zephyr itself.

[2022-05-31 16:13] mbolivar-nordic commented on #46126
pinging @avisconti as well

[2022-05-31 16:17] mbolivar-nordic commented on #46066
pinging @joerchan @microbuilder

[2022-05-31 18:12] emillindq commented on #45955
I have done this and it works great, however very sadly I'm not able to contribute to Zephyr about this or share any code because employment policy states all code I produce on the clock belongs to the company. But I can share a few insights I made. Please note my diff I'm looking at is quite outdated so maybe the current state of the existing driver is slightly different
* You have to use DCACHE,

[2022-05-31 23:06] gnfranco commented on #45807
You are right... It's build properly from the root of Zephyr installation directory.
It is an good point.. I'm reading and whating people on YouTube that brave as good practices to you build projects "out of tree". I'm just source zephyr-env.sh and all seens to be right when I try to build most projects samples since now. But I achieve my first success build just after following your tip here.

Wh

[2022-06-01 00:29] steveatinfincia commented on #45008
Hello :)

I'm working on a couple new I2C drivers for Zephyr (Sensirion SCD4X/SEN5X, X-Powers AXP192 PMIC, and a few others found on M5Stack ESP32 boards), and by chance I ended up rebasing my local tree right after the above commit (092406b08d41a4596925fc2a2eeaf09c5d12b769) was merged.

I'm seeing some odd behavior now with ESP32 i2c peripheral, specifically rx buffers that contain invalid respon

[2022-06-01 00:44] cfriedt commented on #39740
Paging Dr. @vaishnavachath

[2022-06-01 01:11] edersondisouza commented on #44925
Err... that wasn't the kind of stability I was expecting =D

Nevertheless, I spotted some mistakes with my previous patch, can you check again with my updated PR, please? From 100 runs, I've seen it hang only twice, and none of them propagated to the next test. Let's hope things get better on your side too... =D

[2022-06-01 01:52] hongshui3000 commented on #45910
@rodrigopex  good job . Thanks

[2022-06-01 03:01] povergoing commented on #46127
Good idea, but the issue also exists? IIUC, when the user thread blows up its kernel stack, such as https://github.com/zephyrproject-rtos/zephyr/blob/5a7b0fb616dc73d85aa09c94c94491b32072030d/tests/kernel/fatal/exception/src/main.c#L408-L409, the issue happens.

Or I misunderstand what you mean? Do you mean that we still use SP_EL0 when a user thread does a syscall ( EL0 to EL1), which means we use

[2022-06-01 05:12] kruithofa commented on #43435
Table is updated, but still need a complete run to verify that there are no regression failures

[2022-06-01 06:38] romkell commented on #38755
An alternative for Zephyr OS I see going into the direction of "develop own graphic subsystem" which would be the nice and beautiful way:
- take u8g2's drivers and refactor them underneath Zephyrs display interface
- take the glyph and drawing part, refactor them and add them to the CFB (extend CFB, or replace it)
- find sponsor for the relatively large effort
- find a maintainer to it (to all the

[2022-06-01 07:07] LixinGuoX commented on #44925
Yes, it works on my side, the hang state will not affect other tests anymore.

[2022-06-01 07:14] jori-nordic commented on #3192
Seems to be addressed by #42409 . Should we close this @carlescufi ?

[2022-06-01 07:18] Zhaoningx opened #46157 "ACRN: some cases still failed because of the log missing"
**Background**
I have reported a bug https://github.com/zephyrproject-rtos/zephyr/issues/44347 for the ACRN log missing, and it is suggested to use the option `--disable-suite-name-check`.  After the twister reporting overhaul, the problem has been exposed again.

**Describe the bug**
After the twister reporting overhaul, some cases still failed on ACRN because of the log missing.
the details:
run

[2022-06-01 07:28] gmarull commented on #38755
I think that nothing prevents to create a new module that integrates Zephyr with u8g2, one can just create it and use it on their apps. Whether it needs to be maintained by upstream Zephyr or not is a separate question. I've voiced my opinion many times on this aspect: the community should be able to create and distribute Zephyr modules on their own, there's no need to go upstream to make a module

[2022-06-01 07:41] JulienR59 commented on #15021
How do you set the time of the RTC without entering init mode first?

[2022-06-01 07:44] DhruvaG2000 commented on #38755
Perhaps something like [an awesome list](https://github.com/golioth/awesome-zephyr-rtos) can be maintained upstream which lists all modules approved and tested by zephyr.

Well this might very well be a good idea for next year's Google Summer of Code.

Also, if there is good progress on an Arduino-Core module for Zephyr then perhaps we could directly use U8G2 lib without having to refactor it's dr

[2022-06-01 08:01] ck-telecom commented on #45993
@LuDuda Thanks for your reply!

I do think that your effort on the separate Zephyr platform coz I can not configure my <chip_root>/zephyr/module.yml file as the following, that only depends on zephyr platform:
[code]
after separate from zephyr, nrf connect and telink could *import* the basic zephyr configuration for their addtion and overrides

[2022-06-01 08:04] shaoanxli opened #46158 "frdm_k64f：failed to run test case tests/subsys/modbus/modbus.rtu/server_setup_low_none"
**Describe the bug**
The test appears to be failing , and an interruption occurs  and log "W: Frame length error" while the test is judged to pass. When the length is greater than 256 and less than 4, such a log will output: "W: Frame length error ", and the length is 1 at this time. Could you please help to check if this is a issue or not?

The log prints here zephyr/subsys/modbus/modbus_serial.c

[2022-06-01 08:28] tgorochowik commented on #45807
In general, samples are in tree because they are just that - samples - if you are starting your own project based on Zephyr it is indeed better to build out of tree - if you are struggling with that, please create a new issue and include any relevant details. Please refer to https://github.com/zephyrproject-rtos/example-application for out of tree examples for apps/drivers/boards etc.

[2022-06-01 08:33] rlubos commented on #23302
Yes, the whole point of this experiment was to compare how the actual throughput compares to the theoretical maximum throughput over 100 Mbit Ethernet, and it seems we're pretty close to the limit.

Yes, the default window size is calculated based on the buffer size and buffer count, i.e. the overall size of all of the buffers, so you could reach the same effect by increasing the buffer count. The

[2022-06-01 08:40] rlubos commented on #46140
I'm afraid I can't help if you don't share any details on how is your offloaded socket implementation written (specifically how it's registered in the system). From the gdb output it's clear tha the native socket implementation is called.

[2022-06-01 08:53] doki-nordic opened #46160 "ipc: Document capabilities and limitations of ipc_service backends."
**Is your enhancement proposal related to a problem? Please describe.**

The `ipc_service` has multiple backends. Right now there are `RPMsg` and `icmsg`. `ipc_service` has a unified API, but the behavior is significantly different for each backed. The user has no clear information about those differences. This kind of information is needed to choose the correct backend.

**Describe the solution y

[2022-06-01 08:56] carlocaione commented on #46127
Uhm, indeed that would be an issue. At this point having a separate stack for `SError / vSError` could make sense, not sure how difficult is to implement that TBH.

[2022-06-01 09:02] carlocaione commented on #46160
This will change with #45978.

In general I'm ok with this.

[2022-06-01 09:13] carlescufi commented on #45844
@AndreyDodonov-EH could you please reply to the comment above?

[2022-06-01 09:17] #45946 closed

[2022-06-01 09:17] AndreyDodonov-EH commented on #45844
@carlescufi  I'll provide the Wireshark traces and some additional info in 2-3 days, currently busy on another project.
@rlubos  I  really appreciate you looking into this even without me providing sufficient information.

[2022-06-01 09:18] emob-nordic commented on #46160
I'm okay with providing high level documentation for ipc-service and looking forward to some draft PR with it. I wouldn't put much limitations on backends (yet). Some of limitations you've mentioned are intentionally made.

[2022-06-01 09:18] joerchan commented on #46066
I can reproduce with nRF9160 as well. I think this might be a general TF-M problem.

[2022-06-01 09:20] carlocaione commented on #46160
no, limitations is for host and remote.

[2022-06-01 09:21] povergoing commented on #46127
Let me have a try. Hope it won't create the domino effect

[2022-06-01 09:24] doki-nordic commented on #46160
Yes, I am aware of it. They are created by design, and they are not some kind of bug or feature left to be done later.

But, they exists and user should be aware of it. Maybe we should avoid using the `limitation` word to avoid suggesting that something is wrong with specific backend.

[2022-06-01 09:33] emob-nordic commented on #46160
I see we are on the same page. Not 100% sure but maybe its worthwhile to include @hubertmis as i was recently asked if we are planning to add some kind of documentation for icmsg itself. Maybe we could align any requests towards that in this thread.

[2022-06-01 10:05] joerchan commented on #46066
The issue is that `SCB.AIRCR.BFHFNMINS` bit is not set, so the non-secure write to `SCB.ICSR.NMIPENDSET` is ignored.

I can't see any handling in TF-M for NMI interrupt so maybe this is overlooked. However I'd like to double-check that with the TF-M project.

[2022-06-01 11:18] mickeyl commented on #29394
Awesome, is there any progress yet?

[2022-06-01 11:22] carlescufi commented on #45314
Closing this for inactivity, please reopen if it's still an issue

[2022-06-01 11:29] cfriedt opened #46164 "scripts: release: ci checks for issues associated with backport prs"
**Is your enhancement proposal related to a problem? Please describe.**
Backports to stable branches require an accompanying issue (typically a bug report). The problem is that people rarely ever creates bug reports and the backlog of backports requiring a bug report is growing.

**Describe the solution you'd like**
* CI actions specifically for release branches that check for an issue associated

[2022-06-01 11:38] carlescufi commented on #44544
This is no longer failing on `main`:

[code]

[2022-06-01 11:38] #44544 closed

[2022-06-01 11:47] rftafas commented on #29394
FWIW: https://www.espressif.com/en/news/Zephyr_updates

[2022-06-01 13:01] LucasTambor opened #46167 "esp32: Unable to select GPIO for PWM LED driver channel"
**Describe the bug**
The PWM channel is defined in the device tree overlay file, but the GPIO that is mapped to this channel is defined in Kconfig.
The current implementation is swapping the configured  PWM channel with the associated GPIO, using the channel given in DTS as both PWM channel and GPIO. By doing this it makes the driver unable to configure another GPIO for a given channel.

I tested

[2022-06-01 13:26] #32885 closed

[2022-06-01 13:26] #36905 closed

[2022-06-01 13:26] #43636 closed

[2022-06-01 13:28] rakons opened #46170 "ipc_service: open-amp backend may never leave"
**Describe the bug**
In this commit: https://github.com/zephyrproject-rtos/zephyr/commit/7f51907fda2dd30f18d01262f06c175714a9be3f the default priority level of the was set to K_PRIO_COOP(0) instead of K_PRIO_PREEMPT(0).

There are 2 issues with this:
1. K_PRIO_COOP(0) is the highest available priority in the system. It should rather be K_PRIO_COOP(CONFIG_NUM_COOP_PRIORITIES - 1) by default.
2. The

[2022-06-01 13:54] carlocaione commented on #46170
tagging a few people here @arnopo @hubertmis @ahasztag

I think the real problem here is that using the highest cooperative priority here is a mistake. That was introduced back in the days by https://github.com/zephyrproject-rtos/zephyr/commit/001894a1c0f1c0a8d90857134a7627644bdc670c to solve some internal performance issues.

I would really much prefer to have something like `K_PRIO_PREEMPT(0)` a

[2022-06-01 13:56] rakons commented on #46170
As long as it is preemptive priority it is ok. As long as it is cooperative priority level it starts to be an issue.

[2022-06-01 16:01] stephanosio commented on #46105
cc @microbuilder

[2022-06-01 16:02] stephanosio commented on #46105
**TSC meeting 2022-06-01**

@povergoing @SgrrZhf could you create a proof-of-concept pull request first so we can see what the TF-A integration would look like?

[2022-06-01 16:40] cbc02009 opened #46173 "nRF UART callback is not passed correct index via evt->data.rx.offset sometimes"
**Describe the bug**
Sometimes the nRF uart drivers are not writing the first byte passed to them to the buffer passed to uart_rx_enable(), which throws off the index `evt->data.rx.offset` until the device is physically disconnected.

Please also mention any information which could help others to understand
the problem you're facing:
I am writing firmware for a Bluetooth adapter that connects our

[2022-06-01 20:17] nandojve commented on #39740
Infineon have joined to Zephyr Project as a Silver Member and they have plans to improve PSoC-6 support.
Maybe @npal-cy can give a more accurate info about current pinctrl API migration plans.

[2022-06-02 00:11] pdietl commented on #39640
Hi all. I have an implementation almost ready to go, but I have some questions.

1. Should the DMA version of the ADC driver be separate from the interrupt based (current) driver (i.e., an alternative), or should is replace the current driver?
2. In principle some of the DMA information contained in the DMA device tree is already known. For instance here: https://github.com/zephyrproject-rtos/zeph

[2022-06-02 03:37] enjiamai commented on #46158
This is a known twister issue, has nothing to do with this test case. So close it.

[2022-06-02 04:06] enjiamai commented on #46158
Except twister issue, one thing we want to ensure is:   is the "W: Frame length error"  happens in the report of the test_server_setup_low_none a normal behavior.

Could you please help to check if this is a issue or not? Thanks!

[2022-06-02 05:14] nordic-krch commented on #46173
Are you using option for HW byte counting (`UART_n_NRF_HW_ASYNC`)? https://github.com/zephyrproject-rtos/zephyr/blob/801fe1fa06bd6f8cc2a55079411fd4feac55eff6/drivers/serial/Kconfig.nrfx#L82

[2022-06-02 05:48] yperess opened #46180 "Add GitHub app for Googler notifications"
Several folk here at Google find it difficult to keep up with our code reviews on GitHub as it doesn't play nicely with our "normal" workflow. There's a GitHub app that integrates with our notification system which should allow us to be more responsive. Would it be possible to install it for this repo?

App: https://github.com/apps/g3n-github

[2022-06-02 07:18] rakons commented on #46170
Right. Then it just cannot be cooperative by default. I think that default should be the safe option and then the user may tune it for his application.

[2022-06-02 07:21] stephanosio commented on #46180
There are two problems:

1. We have no way of verifying that the author of the app is trustworthy (e.g. the author should be affiliated with Google or other verifiable third-party sources).
2. The app source code does not seem to be public and we have no way of verifying that the app does not contain any malicious code.

[2022-06-02 07:46] erwango commented on #39640
Great ! Thanks for working on this

It should be an alternative. Ideally both versions should coexist with the minimum overlap.
Later on, if we found that DMA version maturity is equivalent to the IRQ based one and there is no value in keeping the IRQ based, we can revisit this statement.

Let's keep it simple: Go ahead and overwrite the device tree values

[2022-06-02 07:54] Red-M commented on #29394
I am interested to see the S3 supported for some various reasons of my own. Mainly looking for a dual core MCU with 34+ GPIO pins and USB device support.

[2022-06-02 07:54] pdunaj commented on #46170
Great that the priority was reconsidered. I still recommend to add explicit yield if we expect code might enter a processing loop (which I believe is the case here).

[2022-06-02 08:01] hubertmis commented on #46170
I agree with @carlocaione . I think it's user of this API who should decide if callback should yield or not. Someone could have high priority IPC which should not yield to other tasks.

[2022-06-02 08:30] rakons commented on #46170
@pdunaj

Open-AMP uses modules/lib/open-amp/lib/rpmsg/rpmsg_virtio.c. There is processing function that handles the data in rpmsg_virtio_rx_callback. It is called via the workqueue in our backend. But this function would not leave as long as there is any data to process:

[code]
So as long as it is cooperative thread it can starve the system if overloaded with transfer.

Just for testing purposes

[2022-06-02 09:23] Thalley opened #46183 "LE Audio: Broadcast sink stop sending syncable once synced"
**Is your enhancement proposal related to a problem? Please describe.**
Once the BIG has been synced, we do not need to call this anymore.

**Describe the solution you'd like**
Use the `bt_audio_broadcast_sink->big` to determine whether we are synced or not; and if synced do not call `syncable`.

**Describe alternatives you've considered**
N/A

**Additional context**
The `syncable` callback is cal

[2022-06-02 09:28] hunterhu3000 commented on #45914
@peter-mitsis
I have add some log before the assert(line 529)
[code]

Theologically, it is true that "stats5.average_cycles > stats3.average_cycles". But actually the two values are very close. In the code, average_cycles is a integer value, so they can be the same value. So it seems we should change the assert to "stats5.average_cycles >= stats3.average_cycles". Or we can use a float value to rec

[2022-06-02 10:00] jhedberg commented on #3192
Closing since #42409 took care of this.

[2022-06-02 10:00] #3192 closed

[2022-06-02 10:21] GatCode opened #46186 "ISO Broadcaster fails silently on unsupported RTN/SDU_Interval combination"
When a user selects a specific RTN/SDU_Interval combination in the ISO_BROADCAST sample, broacaster fails without an error message. The user doesn't know what has happened.

As @Thalley suggested, a short error message would be nice to have.

Note: tested on two nRF52840DK boards with the code of the following draft PR: https://github.com/zephyrproject-rtos/zephyr/pull/46187

![Screenshot 2022-06-

[2022-06-02 10:25] jori-nordic commented on #43811
@closatt could you try reproducing the bug with #46131 checked out ?
You can just do `git fetch origin pull/46131/head:pr-46131 && git checkout pr-46131` to get the latest version.

[2022-06-02 10:32] Thalley commented on #46186
The error seen is that no ISO data is seemingly received on the sync receiver, right @GatCode ?

[2022-06-02 10:41] GatCode commented on #46186
Exactly, only the BigInfo is printed on the receiver side.
Additionally the output on the sender side is exactly the screenshot above but it should print `Sending value ...` every second.

[2022-06-02 10:59] Thalley commented on #46186
So at least the periodic advertisement seems to be fine. From your log, it seems that just the BIG sync never completes.

[2022-06-02 11:09] carlescufi commented on #23302
@rlubos and @ssharks can we create an enhancement issue for this?

[2022-06-02 12:27] de-nordic opened #46194 "mgmt/mcumgr/lib: Image upload should reject image that is too big to mcuboot to swap"
**Is your enhancement proposal related to a problem? Please describe.**
Mcuboot may not be able to swap some of images, depending on compiled in upgrade mode, when image size does not leave some additional pages in primary image slot.
Mcumgr is not aware of mcuboot mode so it will just upload any image, to secondary slot, that will fit into primary slot, event if taking all free pages of that slot

[2022-06-02 14:04] hubertmis commented on #46160
I was asking about specification of icmsg protocol. If we start porting icmsg to other OSes we need a source of truth how the protocol should behave. It might be a documented specification.

But backends limitations list sounds to me like a separated documentation with a other goal: to help system designer select proper ipc_service backend.

[2022-06-02 14:13] jacobw56 opened #46199 "LIS2DW12 I2C driver uses invalid write command"
**Describe the bug**
LIS2DW12 I2C driver uses invalid write command

**To Reproduce**
Steps to reproduce the behavior:
1. Create LIS2DW12 I2C device and attempt to write to a register.
2. Observe the following invalid I2C write sequence and note that data has not been written:
![i2c_write_seq](https://user-images.githubusercontent.com/8697597/171646847-10e97343-f4ab-458c-8a46-5b48e97815fa.jpg)

**

[2022-06-02 14:31] pdietl commented on #39640
Thanks for the feedback @erwango. What is your recommendation for organizing this? A separate file, conditional compilation of the current file, a combination of both? Sometime else?

[2022-06-02 15:07] erwango commented on #39640
My preference goes to the easier to maintain, ie:
- most readable
- less code duplication

These are generally going in opposite direction, so there's a trade off to be found, or use of implementation tricks to get best of both.
Issue with ADC driver is that it is already quite poor in term of readability and would deserve an initial clean up before adding any other feature.
In the end it's hard t

[2022-06-02 16:04] cbc02009 commented on #46173
@nordic-krch I am not currently using that kconfig option. Is there any documentation on using it? Adding
[code]
to my config options seems to break all communication. Do I need to do additional configuration or initialization in the code for the timer or PPI?

[2022-06-02 16:14] cfriedt commented on #45910
@rodrigopex - I'm just looking over the RFC now, and I wish I would have attended the API meeting.

Just at a glance, it looks like messages are maybe fixed-size based on a C struct and use native byte ordering.

Would be relatively easy to support other, possibly self-describing, serialization formats in Zbus? I would imagine that users might prefer to have some flexibility there.

https://en.wik

[2022-06-02 16:41] hunterhu3000 opened #46206 "it8xxx2_evb: tests/kernel/fatal/exception/ assertion failed -- "thread was not aborted""
**Describe the bug**
Test case "tests/kernel/fatal/exception/" failed on it8xxx2_evb

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p always -b it8xxx2_evb tests/kernel/fatal/exception/
2. sudo -S ~/itetool/ite -f build/zephyr/zephyr.bin -s check

**Expected behavior**
The test can pass

**Impact**
daily test fail

**Logs and console output**
[code]

**Environment (please comple

[2022-06-02 16:59] hunterhu3000 opened #46208 "it8xxx2_evb: tests/kernel/sleep failed, elapsed_ms = 2125"
**Describe the bug**
Test case "tests/kernel/sleep" got assertion fail. The timer is not accurate. This problem is solved before, see https://github.com/zephyrproject-rtos/zephyr/issues/43513. It happens again maybe because of the SDK upgrade (to 0.14.1)

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p always -b it8xxx2_evb tests/kernel/sleep
 2. sudo -S ~/itetool/ite -f build/z

[2022-06-02 17:02] mbolivar-nordic opened #46209 "Release notes for v3.1.0: counter"
As maintainer, please send a pull request filling in the counter section in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:03] pdietl commented on #39640
@erwango is there a list of currently supported STM32s?

[2022-06-02 17:05] Laczen commented on #46194
@de-nordic, isn't the dts already showing this information? Existence of a scratch sector, existence of only one image... Adding yet another method do define the same thing seems error prone and probably will not remove the requirement to changes in the dts.

[2022-06-02 17:07] mbolivar-nordic opened #46210 "Release notes for v3.1.0: arm64"
As maintainer, please send a pull request filling in the "arm64" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:07] stephanosio commented on #46210
new ARM64 boards in 3.1:

* https://github.com/zephyrproject-rtos/zephyr/pull/43420
* https://github.com/zephyrproject-rtos/zephyr/pull/43684

[2022-06-02 17:07] mbolivar-nordic opened #46211 "Release notes for v3.1.0: disk"
As maintainer, please send a pull request filling in the "disk" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:08] mbolivar-nordic opened #46212 "Release notes for v3.1.0: dma"
As maintainer, please send a pull request filling in the "dma" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:09] mbolivar-nordic opened #46213 "Release notes for v3.1.0: eeprom"
As maintainer, please send a pull request filling in the "eeprom" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:10] mbolivar-nordic opened #46214 "Release notes for v3.1.0: ethernet"
As maintainer, please send a pull request filling in the "ethernet" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:10] mbolivar-nordic opened #46215 "Release notes for v3.1.0: GPIO"
As maintainer, please send a pull request filling in the "GPIO" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:11] mbolivar-nordic opened #46216 "Release notes for v3.1.0: I2C"
As maintainer, please send a pull request filling in the "I2C" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:12] mbolivar-nordic opened #46217 "Release notes for v3.1.0: I2S"
As maintainer, please send a pull request filling in the "I2S" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:13] mbolivar-nordic opened #46218 "Release notes for v3.1.0: SPI"
As maintainer, please send a pull request filling in the "SPI" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:14] mbolivar-nordic opened #46219 "Release notes for v3.1.0: DT"
As maintainer, please send a pull request filling in the "DT" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:15] mbolivar-nordic opened #46220 "Release notes for v3.1.0: documentation"
As maintainer, please send a pull request filling in the "documentation" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:15] mbolivar-nordic opened #46221 "Release notes for v3.1.0: build/infrastructure"
As a stand-in for the regular maintainer, @tejlmand, please send a pull request filling in the "build/infrastructure" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:15] stephanosio commented on #46220
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/46207

[2022-06-02 17:16] mbolivar-nordic opened #46222 "Release notes for v3.1.0: timer"
As maintainer, please send a pull request filling in the "timer" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:17] mbolivar-nordic opened #46223 "Release notes for v3.1.0: USB"
As maintainer, please send a pull request filling in the "USB" section(s) in doc/releases/release-notes-3.1.rst as soon as possible.

[2022-06-02 17:32] rodrigopex commented on #45910
@cfriedt thanks for your comments. I attended the meeting, we discussed a lot about zbus.

Yes, the message is a fixed-size struct or union to force the publishers and subscribers to use a channel properly. It will work as an API.

Sure, for free (but not perfect), you can use a struct with an array of bytes field, where you can store your data in any format.

During the Zbus design, I have consid

[2022-06-02 19:41] henrikbrixandersen commented on #46213
@mbolivar-nordic There were no relevant changes to the EEPROM drivers/API for v3.1.0. Previous release notes have just kept empty sections - would you like me to remove the EEPROM sections instead?

[2022-06-02 19:49] henrikbrixandersen commented on #39640
I think the closest is the list of DTSI files under https://github.com/zephyrproject-rtos/zephyr/tree/main/dts/arm/st

[2022-06-02 19:53] #46211 closed

[2022-06-02 19:53] #46212 closed

[2022-06-02 22:13] theol0403 opened #46234 "samples: lsm6dso: prints incorrect anglular velocity units"
**Describe the bug**

In the lsm6dso sample, the gyro values are printed as `dps`:
 https://github.com/zephyrproject-rtos/zephyr/blob/11b9da4396ae0df8407c1d313b2a4c164ecd18e0/samples/sensor/lsm6dso/src/main.c#L48

However, according to sensor.h, the values are returned as `rad/s`. This is also what I experimentally found out:
https://github.com/zephyrproject-rtos/zephyr/blob/11b9da4396ae0df8407c1d

[2022-06-03 01:24] kuikka opened #46235 "subsystem: Bluetooth LLL: ASSERTION FAIL [!link->next]"
BLE link layer asserts and causes a kernel Oops. (see console log below)

HW: nRF52840-DK
SW: Zephyr v3.0.0
This unit is a BLE Central, connecting to a peripheral.

See previous case (https://github.com/zephyrproject-rtos/zephyr/issues/45314) for context.

**To Reproduce**
A previous connection is disconnected, new connection is started and the assert happens very quickly after.

**Logs and consol

[2022-06-03 04:46] #46216 closed

[2022-06-03 05:29] cvinayak commented on #46235
I do not see the main thread nor the ISR thread being listed, what is the stack sizes you are using for them.

Please provide details on the sample used, build procedure followed and test steps. Ideally, please share your application in a branch/pull request that can be used to reproduce the assertion.

[2022-06-03 05:55] yperess commented on #46180
I'll reach out to the G3N team at Google and see if they can provide a means for authenticating the app.

[2022-06-03 07:13] erwango commented on #39640
Device tree is indeed the reference, but my question was specifically around ADC, so look for adc nodes in this location.

[2022-06-03 07:24] joerchan commented on #46066
Feel free to send a PR for documentation :)

We may want to add additional documentation for other fault handlers though. The ones that are in use by TF-M and that may halt the system in TF-M on failure. There are platform specific handlers in addition though, and the setup of the fault handlers are done in the HAL part for the platforms, so maybe there are differences.
We may of course handle thi

[2022-06-03 07:32] #46213 closed

[2022-06-03 07:47] de-nordic commented on #46194
Yes it is, but the problem is that you do not have to use the scratch sector even if it exists, so it is not easy to tell, by the existence, what mode of operation does the mcuboot use.
It is also true that when there is only single image visible in DTS that should be only one available option for update.

Perfect situation would be if mcuboot would expose API to ask it for configuration.

[2022-06-03 08:18] Laczen commented on #46194
Even this perfect situation would not be perfect, it would still require the dts to reflect the correct mcuboot configuration. Otherwise the API returns config 1 (unknown at compile time), while the dts supports config 2.

The perfect situation would be that it doesn't matter what mode mcuboot is using, the dts is useable for all of them.

The origin of this problem is the not ideal method used to

[2022-06-03 08:23] Thalley opened #46238 "LE Audio: Expose endpoint state to the application"
**Is your enhancement proposal related to a problem? Please describe.**
It may be useful for the application to know the state of the endpoint associated with a `bt_audio_stream`, instead of the application managing its own state machine based on the stream callbacks.

**Describe the solution you'd like**
One solution to this is to move/copy/reference the endpoint state in the `struct bt_audio_str

[2022-06-03 08:26] Thalley commented on #46238
@jhedberg @alwa-nordic @asbjornsabo @MariuszSkamra

I would like to get some input from you on which approach to take here, since we do not have a general way of exposing internally-changed-only state to the application.

Should we go the ISO/L2CAP direction, or the ACL direction?
Should we work on making this more consistent at some point (i.e. either allocate `bt_conn` in the application, or hav

[2022-06-03 08:31] #46219 closed

[2022-06-03 08:48] hongshui3000 commented on #45910
https://github.com/zephyrproject-rtos/zephyr/pull/38611 PR TO EX MODULE https://github.com/hongshui3000/event_manager

[2022-06-03 09:30] #46214 closed

[2022-06-03 09:34] Thalley opened #46241 "Bluetooth: Controller: ISO: Setting CONFIG_BT_CTLR_ISO_TX_BUFFERS=4 breaks non-ISO data"
**Describe the bug**
If `CONFIG_BT_CTLR_ISO_TX_BUFFERS=4` and CONFIG_BT_CTLR_ADV_ISO=y then non-ISO TX buffer overflow occurs (e.g. when doing GATT operations). It also fails for larger values than 4.

**To Reproduce**
Run e.g. `tests/bluetooth/bsim_bt/bsim_test_audio/test_scripts/vcs.sh` with `CONFIG_BT_CTLR_ISO_TX_BUFFERS=4` (instead of the CONFIG_BT_CTLR_ISO_TX_BUFFERS=3 which is the default/cu

[2022-06-03 10:17] #46220 closed

[2022-06-03 10:24] carlescufi commented on #46199
@jacobw56 could you send a Pull Request with that code please?

[2022-06-03 10:26] nordic-krch commented on #46173
@cbc02009 probably you are using TIMER1 somewhere else. Can you try different value than 1. In general, not using this is not recommended if RX path is used. That is because without this option RX bytes are counted by software interrupt which can be easily disrupted if there are more interrupts in the system.

Btw, what baudrate are you using?

[2022-06-03 10:52] #43718 closed

[2022-06-03 11:05] cvinayak commented on #46241
![image](https://user-images.githubusercontent.com/6350656/171842174-4f14da4d-1ff5-4554-8d0e-b97fc3f77423.png)

if CONFIG_BT_ISO=y  then the wrong bt_dev.le.iso_pkts  will be returned for ACL packet transmission, right?

[2022-06-03 11:30] de-nordic commented on #39587
The release is done. Shouldn't this be closed?

[2022-06-03 12:18] Thalley commented on #46241
It would appear so due to the `||` instead of a `&&`

[2022-06-03 12:25] cbc02009 commented on #46173
@nordic-krch the baudrate is 19200. I'm surprised there isn't a warning that says something like "timer already in use". 5 minutes of testing seems to show timer 2 as working, but I'll have to verify further. Appreciate the help.

[2022-06-03 12:45] torres98 opened #46251 "memset broken behaviour"
After the release candidate updates i've been experiencing some completely broken behaviour regarding some C and C++ functionalities of the standard library. Most notably, memset seems to be stuck in a loop whenever it gets called (both from a C and a C++ application); i've tried investigating further but i'm not that skilled with gdb or debugging in general. Anyway here is the most simple snippet

[2022-06-03 12:46] carlescufi commented on #46251
@torres98 are you building with NEWLIB or minimal libc? can you please tell us the exact steps to reproduce?

[2022-06-03 12:47] carlescufi commented on #46251
Also, you are allocating 1000 bytes in the stack, are you sure your `main` stack is big enough for that? Can you try with a smaller number of moving the `message` declaration outside of `main` so it's a global?

[2022-06-03 12:57] #46218 closed

[2022-06-03 12:57] #46222 closed

[2022-06-03 12:58] #46217 closed

[2022-06-03 13:11] #46241 closed

[2022-06-03 13:11] #46209 closed

[2022-06-03 13:20] torres98 commented on #46251
That seemed to be the case, even though on previous releases it wasn't an issue. I'm still bugged by a similar behaviour but related to c++ exceptions and `std::ostringstream`. Do i close this issue and open a new one or simply edit this one?

[2022-06-03 13:23] teburd opened #46255 "imxrt1010 wrong device tree addresses"
**Describe the bug**
nxp_rt1010 includes nxp_rt, which has incorrect IP address locations for at least lpi2c1 and sai1. It's missing sai1 as enabled despite having an audio codec (wm8960) on the board. There also seem to be some power/clock gating issues.

**To Reproduce**
Steps to reproduce the behavior:
1. build real world samples using IPs with mimxrt1010_evk. I tried to configure the wm8960 da

[2022-06-03 14:02] carlescufi commented on #46251
Please close this one and open a new one.

[2022-06-03 14:23] #46223 closed

[2022-06-03 14:31] erwango commented on #46097
If I'm correct this information could be found in ref man (RM076.pdf), Table 51. Summary of the DMA requests for each channel

[2022-06-03 14:40] hunterhu3000 commented on #46206
@GTLin08 @RuibinChang it8xxxb_evb does not support this test right? I saw this in the code
[code]

[2022-06-03 15:38] klewisBE opened #46263 "Regulator Control"
I am having issues controlling regulators. I am on version 3.0 of zephyr. We have three regulators defined in the dts file and they all turn on properly during startup. I am trying to add power management where the regulators will need to be disabled and enabled by software. When I try to disable and enable them I end up with an error. I have it set up as compatible with regulator-fixed-sync and r

[2022-06-03 15:42] carlescufi commented on #46263
@nordic-krch since this seems to be an issue at the `onoff` handling level, would you mind taking a look?

[2022-06-03 16:24] #46221 closed

[2022-06-03 16:40] stephanosio commented on #46251
Closing this issue since it is due to a stack overflow.

[2022-06-03 16:47] hunterhu3000 commented on #46206
Sorry, I misunderstand the comments. The test case is expected to work on riscv.
Before commit 4c31f24de721102642f1c5bccc88f5dbe9d724bf, it works well.
after efaeed6cb29079820a11043d0473a2562a2d4b16	it got a compile problem
after 46160562831b2591431bc587809c748971b772e9	the compile problem is fixed, but the test case run fail

[2022-06-03 17:06] rodrigopex commented on #45910
I have implemented the 256000 benchmarks for Event Manager. https://github.com/rodrigopex/event_manager/blob/main/samples/

[2022-06-03 17:43] kuikka commented on #46235
Main thread exists after initialization in my case. I added a while(1) k_msleep() to it to keep it around but it does not overflow and makes no difference to this issue.

I don't see a thread for ISRs but I did increase the ISR stack as well to 4096 and it made no difference.

[code]

Unfortunately I am unable to share the application. I tried to reproduce the issue with the sample app but was una

[2022-06-03 18:17] dkalowsk commented on #39587
@de-nordic yep.  Thought I did close it, thanks for calling it out.

[2022-06-03 19:29] kuikka commented on #46235
I was able to reduce the application to minimum and still get a repro. Attached here.
[repro.zip](https://github.com/zephyrproject-rtos/zephyr/files/8835180/repro.zip)
.

Log:
[code]

[2022-06-03 19:51] mbolivar-nordic opened #46266 "zephyr,sdmmc-disk compatible lacks a binding"
**Describe the bug**

https://github.com/zephyrproject-rtos/zephyr/pull/43173 introduced a new zephyr-specific compatible string, `zephyr,sdmmc-disk`. This compatible has no corresponding devicetree binding; I think it should.

[2022-06-03 19:59] mbolivar-nordic opened #46267 "docs: include/zephyr/net/http_client.h is not documented anywhere"
**Describe the bug**

This file contains the following doxygen information as of 5c6aaf709c:

[code]

However, this doxygen group is not mentioned anywhere in the doc/ tree, making references to APIs in side of it, such as the following .rst snippet, fail to work properly:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd doc
2. make html
3. notice doc/releases/release-notes-3.1.rst

[2022-06-03 20:01] msasdk opened #46268 "Update RNDIS USB class codes for automatic driver loading by Windows"
**Is your enhancement proposal related to a problem? Please describe.**
The current implementation of RNDIS is identified by windows as a serial device (matches usbser.inf) and windows fails to load the RNDIS driver automatically. User has to manually find a working driver. (Network adapters > Microsoft > Remote NDIS Compatible Device, on Windows 10).

**Describe the solution you'd like**
Use the

[2022-06-03 20:03] mbolivar-nordic opened #46269 "docs: include/zephyr/net/socket.h is not documented anywhere"
**Describe the bug**

This file contains the following doxygen information as of https://github.com/zephyrproject-rtos/zephyr/commit/5c6aaf709c984cde322f03439f2fdc24b0a9f642:

[code]

However, this group doesn't seem to be brought in anywhere in doc/, because references like the following fail:

[code]

**To Reproduce**

1. cd doc
2. make html
3. notice doc/releases/release-notes-3.1.rst builds ma

[2022-06-03 20:49] cfriedt commented on #45910
I agree that for most use cases relatively small, statically allocated, fixed-size buffers are perfectly fine, but it would be nice if the API had the ability to use larger, variable-sized buffers, possibly dynamically allocated. Technically, a pointer to an arbitrary memory location could be stored inside the fixed-size buffer - I wonder if there is some kind of flag or enumeration that could be

[2022-06-04 05:09] cvinayak commented on #46235
Please try with `CONFIG_LOG=n` and use `printk` in your application. I tried your application under babblesim simulation and I do not observe any crashes.
[log.txt](https://github.com/zephyrproject-rtos/zephyr/files/8837058/log.txt)

[2022-06-04 08:20] hongshui3000 commented on #45910
I modified the event manager so that it can support single-threaded development https://github.com/hongshui3000/event_manager/tree/main/samples/sensor_measurement_single_thread

[2022-06-04 10:15] wolterhv commented on #44908
@sylvioalves No progress yet, actually just getting to it now. Let me see if I understand the suggested approach correctly: the idea is to implement a HAL-based ADC driver so that it works for all versions of ESP32, and implement the chip-specific code in the HAL?

[2022-06-04 17:49] rodrigopex commented on #45910
@cfriedt thank you for your comments and suggestions. That is possible for sure, and not hard do add. I guess it would be beneficial to the solution at all.

What do you think about the following possible API?

The Dynamic Channel definition would be like that:
[code]
Allocating and freeing can be done internally by the zbus:
[code]
Allocating and freeing can be done externally by the user:
[code]

[2022-06-04 19:29] MinSteve opened #46277 "IMX8MM: Running fail a zephyr sample in the imx8mm"
**Describe the bug**
Running fail a zephyr hello_world sample in the imx8mm

- Target platform: MYS-8MMX using IMX8M Mini SoC
- I check in u-boot DTS and kernel dts. They have initialized uart4 and a zephyr still initializes uart4 with a different clock.
  I tried to rebuild u-boot without declaring the uart4 node in the DTS file but it still not working.

**To Reproduce**
Steps to reproduce the b

[2022-06-05 00:31] #44081 closed

[2022-06-05 00:31] #44000 closed

[2022-06-05 00:31] #42207 closed

[2022-06-05 11:20] CodingGhost opened #46284 "ring buffer in item mode crashes"
I have written a small demo to showcase the problem:

[code]

[code]

when I run this program, I first get about 30 seconds of "test" and then I get a precise data bus error.
the behaviour changes when disabling c++, it then no longer takes about 30 seconds but a mere 10 seconds.
I originally stumbled across this issue whem my program crashed on allocating new heap for a stl container while uart w

[2022-06-05 12:03] jeremyherbert opened #46285 "nrf_qspi_nor: Inconsistent state of HOLD and WP for QSPI command execution causes hang on startup for some flash chips"
**Describe the bug**

In `drivers/flash/nrf_qspi_nor.c`, the function `qspi_send_cmd` by default sets the IO2 and IO3 pins on the QSPI bus to high:

[code]

ref: https://github.com/zephyrproject-rtos/zephyr/blob/da6549c452bf0fdc98c16474b097ece87b14e000/drivers/flash/nrf_qspi_nor.c#L470

Later in this file, the function `qspi_device_uninit` calls the function `nrfx_qspi_mem_busy_check` to execute a

[2022-06-05 12:10] #41776 closed

[2022-06-05 12:12] stephanosio opened #46286 "python-devicetree tox run fails"
**Describe the bug**

tox test for `python-devicetree` fails with the following message:

[code]

This is broken since the `types-PyYAML` version 6.0.8 (latest as of now); it succeeds with 6.0.7.

https://github.com/zephyrproject-rtos/zephyr/runs/6744542428?check_suite_focus=true#step:8:25

**To Reproduce**

Run `tox` inside `scripts/dts/python-devicetree`.

**Expected behavior**

tox test succeed

[2022-06-05 12:12] stephanosio commented on #46286
cc @mbolivar-nordic

[2022-06-05 12:12] #33865 closed

[2022-06-05 12:13] #41193 closed

[2022-06-05 12:42] #44228 closed

[2022-06-05 12:44] #45848 closed

[2022-06-05 12:44] #45114 closed

[2022-06-05 12:47] #45774 closed

[2022-06-05 12:48] #45349 closed

[2022-06-05 12:48] #45675 closed

[2022-06-05 12:49] #46167 closed

[2022-06-05 12:49] #45934 closed

[2022-06-05 12:57] carlescufi opened #46287 "Zephyr 3.2 release checklist"
Looking for a sign off on the v3.2.0 release notes
- [ ] Major enhancements:
   - See https://github.com/zephyrproject-rtos/zephyr/projects/9

- [ ] Pre RC1 Steps
   - [ ] Create v3.2.1 milestone so that features that don't make it to the release can be assigned a milestone
   - [ ] Verify that all external components and external dependencies are up to date, for example
      - mbedTLS
      - ti

[2022-06-05 12:58] carlescufi commented on #46287
Link back to previous checklist: #43286

[2022-06-05 14:42] andyross commented on #46284
@npitre was in the ring buffer code recently and might have input.   Which platform are you seeing this on?

[2022-06-05 14:54] CodingGhost commented on #46284
nRF52840

[2022-06-05 16:27] hunterhu3000 commented on #46206
Fix the compile problem by changing
[code]
to
[code]
4cf45f4770e963562524dafebda62db60e43f82b is the first bad commit

[2022-06-05 16:35] gojimmypi commented on #36026
I'm a little late to the party here, but just a heads-up that Zephyr is fully supported in [wolfSSL](https://www.wolfssl.com/). The codebase is highly configurable and can have a considerably smaller footprint.

See [wolfSSL Zephyr  issues](https://github.com/wolfSSL/wolfssl/issues?q=is%3Aissue+zephyr) and [PRs](https://github.com/wolfSSL/wolfssl/issues?q=is%3APR+zephyr+). The most recent PR was m

[2022-06-05 16:41] CodingGhost commented on #46284
I solved it and it was mostly my fault.
ring_buf_init(&rx_ringbufdata.rb, sizeof(rx_ringbufdata.buffer), rx_ringbufdata.buffer);
should really be
ring_buf_init(&rx_ringbufdata.rb, ARRAY_SIZE(rx_ringbufdata.buffer), rx_ringbufdata.buffer);

the thing is, I only did this because its described that way in the docs:
https://docs.zephyrproject.org/3.0.0/reference/data_structures/ring_buffers.html
look

[2022-06-06 00:30] #43933 closed

[2022-06-06 01:08] ycsin commented on #42629
Hi, sorry for the delay in response. We had decided stay on the 2.7LTS version instead on the latest main branch for the sake of stability, I can't really test this anymore.

[2022-06-06 01:08] #42629 closed

[2022-06-06 01:58] ck-telecom commented on #45993
[code]
I think if we integrate Matter(CHIP) to Zephyr as a module to upstream, and add ${ZEPHY_BASE}/modules/matter/CMakeLists.txt that like openthread

[2022-06-06 05:10] enthunilu commented on #44573
Hello @carlescufi thanks for your support.
If possible can you please share example code or documentation for USB RNDIS?
I am new to this, so wanted to understand how I can use it.

Thanks!!

[2022-06-06 05:11] enthunilu commented on #45933
Hello @sylvioalves and @mbolivar-nordic,

Can anyone please help me with any example code or documentation on USB RNDIS support in zephyr ?

Thanks!!

[2022-06-06 08:26] paveldedourek-eaton opened #46297 "SPI STM32 - DMA optimalization"
**Is your enhancement proposal related to a problem? Please describe.**
I found timing problem with **spi_ll_stm32** driver was used and DMA was enabled. The problem is, when the same amount of data needs to be transferred periodically with short period (transfer few bytes every new transfer in few tens of us). I mean, that issue is there, when the time for initialization takes longer that DMA tra

[2022-06-06 09:28] Damian-Nordic commented on #45993
@ck-telecom I think the best way to add support for standalone Zephyr platform in Matter is:
1. Create a similar directory structure in `MATTER-REPO/config/Zephyr` as we have in `MATTER-REPO/config/nrfconnect` and `MATTER-REPO/config/telink`. `Kconfig` file for Zephyr already exists, but `CMakeLists.txt` is missing. Also, since Matter uses GN build system, a GN project definition for Zephyr is nee

[2022-06-06 10:05] #44214 closed

[2022-06-06 10:06] #43103 closed

[2022-06-06 11:56] willChuai opened #46301 "HAL Module Request: hal_hpmicro"
## Origin

Zephyr HAL HPMicro project.
Sources to be added:
https://github.com/hpmicro/zephyr_hal_hpmicro.git

## Purpose

This software provides Hardware Abstraction Layer drivers support for HPMicro HPM6400_6700 family SoCs.

## Mode of integration

Please integrate this project as a module according to the generic Zephyr HAL modules structure.

## Pull Request

#46329

## Description

This proj

[2022-06-06 12:42] stephanosio commented on #46301
https://github.com/hpmicro/zephyr_hal_hpmicro.git does not seem to be accessible. If it is a private repository, please make it public since we have no way of viewing it.

Also there needs to be a Zephyr pull request using this module before this module repository can be created (the `west.yml` in the pull request can point to the provided URL until the upstream repository is created).

[2022-06-06 12:58] zephyrbot opened #46304 "[backport v3.1-branch] backport of #45941 failed"
This issue was created automatically because the backport of #45941 to `v3.1-branch` failed.

The backport to `v3.1-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.1-branch` and the `compare`/`head` branch is `backport-45941-to-v3.1-branch`.

[2022-06-06 15:13] sjanc commented on #43435
Harmony failing tests (DF excluded):

LL/CON/CEN/BI-11-C  - regression 25e6279493d673e (Bluetooth: controller: llcp: fix for failing LL qualification tests)
LL/CON/CEN/BI-12-C  - regression 25e6279493d673e (Bluetooth: controller: llcp: fix for failing LL qualification tests)
LL/CON/CEN/BV-146-C  - regression 25e6279493d673e (Bluetooth: controller: llcp: fix for failing LL qualification tests)
LL/C

[2022-06-06 15:36] icatorze commented on #33185
This issue was closed without a fix?

[2022-06-06 16:09] #46286 closed

[2022-06-06 16:21] erwango commented on #46297
@paveldedourek-eaton Thanks for reporting this. If you have a solution, would you be able to push a PR directly?

[2022-06-06 16:22] icatorze opened #46312 "sample: bluetooth: ipsp - TCP not running over IPSP"
I am running IPSP sample on a nucleo_f207zg board and a nRF52833-dk as BLE hci_uart.

I made every configuration discussed at [IPSP Sample README](https://docs.zephyrproject.org/latest/samples/bluetooth/ipsp/README.html) and everything works as expected but TCP connection NOT.

There are some old issues about tcp connection problems but no one has a clear aswser.

I reproduce the problem with othe

[2022-06-06 17:22] carlescufi commented on #43286
There were ~560 Pull Requests open when the release was cut. After merging all the ones that were ready after release, we got down to ~490.

[2022-06-06 17:26] #45953 closed

[2022-06-06 20:50] gmarull commented on #39740
@jvasanth1 MEC1501 boards seem to depend on pinmux API, are they going to be ported?

[2022-06-06 21:19] ssharks commented on #30365
On top of the fixes of PR https://github.com/zephyrproject-rtos/zephyr/pull/45890, I build an implementation of Nagle's algorithm.

It includes the TCP_NODELAY option to switch Nagle's algorithm off.
The full branch:
https://github.com/ssharks/zephyr/pull/new/net/tcp_nagle

The specific commit:
https://github.com/ssharks/zephyr/commit/a6863fd1f761d752b80d43a0869664a26bfc9866

Please have a good lo

[2022-06-06 21:28] chases2 commented on #46180
Hi! I'm new to this community, but I helped to write the app in question.

What would be an acceptable way of demonstrating number 1? An email address with a google.com domain? Membership in a particular org?

As for number 2, the application only requests read permissions, so I'm not sure what malicious action it could take that would disrupt a user of the application (ie. the Zephyr team). If yo

[2022-06-06 22:01] stephanosio commented on #46180
Having a "marketplace badge" added to the app would help:
https://docs.github.com/en/developers/github-marketplace/github-marketplace-overview/about-marketplace-badges#for-github-apps

See https://docs.github.com/en/developers/github-marketplace/github-marketplace-overview/applying-for-publisher-verification-for-your-organization

[2022-06-06 22:55] androbi-com opened #46322 "Time units in shtcx sensor"
I have been having problems reading the shtc3 sensor. It would work from the debugger but not when running without debugger. I suspected some timing issue and noted in file https://github.com/zephyrproject-rtos/zephyr/blob/f875d027a04374fcf07661809f81a42c2c646629/drivers/sensor/shtcx/shtcx.c#L33 that time units don't seem to be consistent. If 14400 is 14.4ms, 1210 is _not_ 12.1 ms as indicated in

[2022-06-06 23:14] ycsin commented on #46072
that's because the function is ran only when the level is set to debug

Let say the level is not debug, would the hawkbit be able to proceed and do the upgrade?

[2022-06-07 02:08] hunterhu3000 opened #46324 "it8xxx2_evb: tests/kernel/sched/schedule_api fail due to k_sleep(K_MSEC(100)) not correct"
**Describe the bug**
The daily test case tests/kernel/sched/schedule_api failed due to k_sleep(K_MSEC(100)) not correct, k_sleep is expected to wait 100ms, but actually it never ends.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?: it8xxx2_evb
 - What have you tried to diagnose or workaround this issue? A

[2022-06-07 02:36] sam131208 opened #46325 "ESP32 strcmp error while enable MCUBOOT and NEWLIB_LIBC"
**Describe the bug**
Get the strcmp error while enable MCUBOOT and NEWLIB_LIBC.
It seems that there are still some issues with libc that have not been resolved。

**Logs and console output**
=~=~=~=~=~=~=~=~=~=~=~= PuTTY log 2022.06.07 10:28:39 =~=~=~=~=~=~=~=~=~=~=~=
ets Jun  8 2016 00:22:57

rst:0x1 (POWERON_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d

[2022-06-07 05:26] JiiZR opened #46326 "Async UART for STM32 U5 suppport"
**Is your enhancement proposal related to a problem? Please describe.**
Is is possible to add STM32 U575/U585 support for tests/drivers/uart/uart_async_api. I'am aware that U5 DMA support is not yet merged, https://github.com/zephyrproject-rtos/zephyr/pull/45350  but after that would be nice time.

**Describe the solution you'd like**
To be able to build and run test: west build -p auto -b b_u585i

[2022-06-07 05:38] RuibinChang commented on #46208
@hunterhu3000 I test with https://github.com/zephyrproject-rtos/zephyr/commit/a78e7c5c90d8cb31ec550ce289503bd698675585 and SDK 0.13.2, the result is pass.

[2022-06-07 05:54] hunterhu3000 commented on #46208
@RuibinChang Could you please try 0.14.1
It may also related to the board. I found it works with 0.13.2 and does not work wiht 0.14.1 on the previous board. As the previous board is broken(no serial output), we tried it on the new board. For the new board, it does not work on either 0.13.2 or 0.14.1. The logs are the same.

[2022-06-07 05:59] FRASTM commented on #46326
Thanks for raising this PR.
The async UART for stm32u5 requires DMA : purpose of the #45350
Then I have a branch here https://github.com/FRASTM/zephyr/tree/uart_dma_u5 for running the uart_async_api. not yet finalized because of a interrupt raising unexpectedly.

[2022-06-07 06:03] FRASTM commented on #44725
Should this issue be closed by the https://github.com/zephyrproject-rtos/zephyr/pull/44688 ?

[2022-06-07 06:06] #44623 closed

[2022-06-07 06:56] RuibinChang commented on #46324
Why do you enable CONFIG_TIMESLICE_PER_THREAD?
it8xxx2_evb default isn't set this config.

[2022-06-07 07:09] henrikbrixandersen commented on #44725
No. It was found during implementation of #44688. It is not fixed yet.

[2022-06-07 07:13] jmrua commented on #46073
After performing some tests, it seems that the problem may be due to the saturation of the L2CAP transmission buffer, modifying `CONFIG_BT_L2CAP_TX_BUF_COUNT` it seems that, although it still does not work correctly, it can receive and send more packets before blocking.

With `CONFIG_BT_L2CAP_TX_BUF_COUNT=128` blocks after over 200 packets.

[2022-06-07 07:28] ck-telecom opened #46328 "doc: build: add cmake integration instructions"
**Is your enhancement proposal related to a problem? Please describe.**
Zephyr wrap some cmake macros and functions for specific, it is good to add clearly cmake integration instructions such as zephyr_interface_library_named() with CONFIG_APP_WITH_*, and how it works and when to need this?

some generic usage in zephyr
zehpyr_library()
zephyr_library_sources()
zephyr_library_include_directories()

[2022-06-07 07:41] hunterhu3000 commented on #46324
One of the test case defined in the testcase.yaml contains this parameter
[code]
If you use west build without -DCONFIG_TIMESLICE_PER_THREAD=y, the case also fails.

[2022-06-07 07:42] lairdjm commented on #38947
@nordic-krch Unfortunately it does not seem to resolve the issue

[2022-06-07 07:49] lairdjm commented on #38947
Actually it might work but be one of 2 issues, I've added test code that disables logging when an SMP command is received and that works much more reliably but it does still fail and require me to stop the test and manually send a newline to get the response, so there is a UART input error which is part of this issue also.

[2022-06-07 07:50] FRASTM commented on #44725
OK.
Then does this issue has a link with the error we get when running the testcase : tests/subsys/canbus/isotp/implementation/ on the nucleo_g474re board :

[code]

[2022-06-07 08:15] willChuai commented on #46301
Done, please review.

[2022-06-07 09:21] ck-telecom commented on #45993
@Damian-Nordic Thanks for your tips!

I have started in my repo: https://github.com/ck-telecom/connectedhomeip/tree/zephyr_standalone

[2022-06-07 09:41] sappigeninja commented on #46049
We doubled the stack sizes in the `prj.conf` and accepting this as our solution as it overflows if we do not double the `CONFIG_LOG_PROCESS_THREAD` then we get a stack overflow.
So its reasonable to double the stack sizes.

[2022-06-07 09:41] #46049 closed

[2022-06-07 09:49] carlescufi commented on #31959
Since clock selection is now available, closing this issue. Please reopen if you think it's not fixed.

[2022-06-07 09:53] #46170 closed

[2022-06-07 09:56] Thalley opened #46332 "Bluetooth: Host: bt_le_per_adv_sync_create for coded PHY"
**Is your enhancement proposal related to a problem? Please describe.**
`bt_le_per_adv_sync_create` is designed to enable scanning if it isn't already explicitly started by calling `bt_le_scan_update`, however `start_passive_scan` never set the extended PHY parameters when calling `start_le_scan_ext`, and thus `bt_le_per_adv_sync_create` never starts scanning for coded PHY.

**Describe the solutio

[2022-06-07 10:02] #45845 closed

[2022-06-07 10:15] stephanosio commented on #26978
Apparently `__unused` is a thing:
https://github.com/zephyrproject-rtos/zephyr/blame/fb9b3bcd9326923f8c08fd6754485c28d8f6e915/include/zephyr/toolchain/gcc.h#L239

We could extend this as `__maybe_unused` and `__always_unused` as in the Linux kernel.

[2022-06-07 10:22] stephanosio commented on #26978
Related to https://github.com/zephyrproject-rtos/zephyr/issues/34413

[2022-06-07 11:11] vermaabhishek-eaton opened #46335 "For ESP32, initialization of static object during declaration with derived class type doesn't work."
- For esp32 board, if we are initializing static object with derived class type during declaration, it doesn't work.
- Same code is working with nucleo_f429zi board.
- Refer below example code to reproduce the issue.

**1) Header file content Test_Code.h**
[code]

**2) Source file content Test_Code.cpp**
[code]

- Use following config option in prj.conf
    CONFIG_CPLUSPLUS=y
    CONFIG_MINIMAL_LI

[2022-06-07 11:57] paveldedourek-eaton commented on #46297
@erwango My code is not tested and even this, is not correctly implemented from the entire system point of view. There is missing function/parameter which tell to the DMA, that next time, initialization can be skipped. Function spi_transceive() does not have such parameter. I guess, the driver needs other function which can configure it. We cannot use init/config function, because you can decide i

[2022-06-07 12:10] stephanosio commented on #46335
@vermaabhishek-eaton which toolchain and version are you using?

@sylvioalves does this ring a bell?

[2022-06-07 12:24] sylvioalves commented on #46335
@vermaabhishek-eaton Would you retry using v3.1.0? Please, note that ESP32 toolchain now uses Zephyr-SDK. Check [this](https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html) again and make sure `export ZEPHYR_TOOLCHAIN_VARIANT="zephyr"` is properly set.

[2022-06-07 13:47] peter-mitsis commented on #45914
@hunterhu3000 : Apologies for the late reply ... I was out of town for 5 days.

Thanks for gathering the numbers/data. As I look at the data you provided, it looks to me that rate at which the cycle count is increasing matches the system clock tick rate.  Assuming that interpretation is correct, then it looks like the base of the problem is a timer resolution issue.

I can think of two ways to res

[2022-06-07 14:08] vermaabhishek-eaton commented on #46335
espressif toolchain I have installed through "west espressif install" command. Its version is **esp-2020r3-8.4.0**

[2022-06-07 14:10] vermaabhishek-eaton commented on #46335
Yes I can try on it.

[2022-06-07 14:11] stephanosio commented on #46335
Assigning this issue to @sylvioalves since this is an Espressif toolchain issue.

Please try with Zephyr 3.1.0 using the Zephyr SDK. If this is still an issue with the Zephyr SDK, you can assign it back to me.

[2022-06-07 14:58] quantum-leaps opened #46339 "Zephyr message queue: add LIFO operation"
Most RTOSes support both FIFO and LIFO operations for the message queues. For example, ThreadX has: `tx_queue_send()` and `tx_queue_front_send()`. EmbOS has: `OS_PutMailCond()` and `OS_PutMailFrontCond()`. Currently, Zephyr has only `k_msgq_put()`.

This feature request is for adding `k_msgq_put_front()`, for LIFO operation.

[2022-06-07 15:07] quantum-leaps opened #46341 "Zephyr scheduler lock: add selective locking up to a given priority ceiling"
Currently, Zephyr only supports unconditional scheduler locking `k_sched_lock()`. This is often too crude. It would be much better to lock the scheduler only up to a given priority ceiling.

For example, when implementing publish/subscribe it is necessary to lock the scheduler up to the highest-priority subscriber (otherwise the ordering of posted messages might be weird since the threads might pr

[2022-06-07 15:18] erwango commented on #31959
Reopenning as it remains to be implemented specifically for this use case.

[2022-06-07 15:23] ssharks commented on #30365
After review comment from @rlubos, a new commit at https://github.com/ssharks/zephyr/commit/8ab3c5a8fefb5580af1f505cd390528cedb40ef7

[2022-06-07 16:23] sylvioalves commented on #46325
@sam131208 Can you share the sample code or prj.conf?

[2022-06-07 16:53] #43859 closed

[2022-06-07 16:58] #43828 closed

[2022-06-07 17:16] marc-hb opened #46345 "get_maintainer.py incorrectly invoked by Github?"
In PR #44188, the `MAINTAINERS.yml` file should have added some SOF people, see lyakh, lgirdwood, marc-hb and kv2019i below. It did not. No one from the SOF team was aware of the very useful but backward-incompatible 44188 and it caused a (fortunately short-lived) Zephyr build failure in SOF CI.

@nashif, @cfriedt  there seems to some `get_maintainer.py`-related glitch somewhere. Where is the `get

[2022-06-07 17:29] cbc02009 commented on #46173
@nordic-krch with the hardware byte counter I'm running into a strange issue where the device will release buffers before eveen using them:
[code]
DISABLE REASON is supposed to be `evt->data.rx_stop.reason` but it always returns 0 instead of one of the values listed in `enum uart_rx_stop_reason`

[2022-06-07 18:06] Thalley opened #46346 "LE Audio: Fatal crash when sending Audio data"
**Describe the bug**
The broadcast source and unicast client both fail fatally when attempting to send data on a audio stream.

**To Reproduce**
Flash and run the broadcast source (as that fails standalone) sample.

**Expected behavior**
The broadcast source to start sending audio data

**Impact**
Showstopper for LE Audio. The issue seems to persist in both samples (although not failing babblesim)

[2022-06-07 18:11] mjm987 opened #46347 "MCUMGR_SMP_BT: system workqueue blocked during executing shell commands"
**Describe the bug**
Executing shell commands which directly or indirectly submits system workqueue handlers works fine for the serial shell console (SHELL_BACKEND_SERIAL).
But not so when the shell command is executed via the MCUMGR_SMP_BT console: in this case, the submitted workqueue handler is delayed until the shell command has finished.
Because of this the result(s) and logs of the executed

[2022-06-07 18:25] rljordan commented on #45802
@evgeniy-paltsev Has this been confirmed as fixed?

[2022-06-07 18:30] rljordan commented on #45914
@peter-mitsis  who should be owning this bug, @hunterhu3000 ?

[2022-06-07 19:04] evgeniy-paltsev commented on #45802
Yep, it's fixed.

I've just forgotten to close the issue, sorry for that :)

[2022-06-07 19:04] #45802 closed

[2022-06-07 19:07] carlescufi commented on #43245
Done, I updated the topics with a few select ones. Should do for now.

[2022-06-07 19:07] #43245 closed

[2022-06-07 19:38] ssharks commented on #30365
Now an official PR at https://github.com/zephyrproject-rtos/zephyr/pull/46348

[2022-06-07 19:56] ssharks opened #46350 "net: tcp: When the first FIN message is lost, the connection does not properly close"
**Describe the bug**
When the a Zephyr TCP implementation closes a TCP connection and either the FIN or the replied ack is lost, the connection does never properly close.
The Zephyr TCP stack keeps trying, but never accepts the incoming FIN/ACk messsages any more

The problems was discovered on an embedded platform communicating to a PC server. A testcase has been created and submitted as PR to re

[2022-06-07 20:02] ssharks opened #46351 "net: tcp: Implement fast-retransmit"
**Is your enhancement proposal related to a problem? Please describe.**
As indicated in https://github.com/zephyrproject-rtos/zephyr/issues/23302, without a fast-retransmit algorithm the recovery of a lost packet can be significat.
The impact grows the bigger the latency and the higher the throughput

**Describe the solution you'd like**
Implement a fast-retransmit algorithm for example on the tri

[2022-06-07 20:03] carlescufi commented on #46351
@rlubos @jukkar FYI

[2022-06-07 20:12] ssharks opened #46352 "net: tcp: Implement a congestion avoidance algorithm"
**Is your enhancement proposal related to a problem?**
As indicated in issue https://github.com/zephyrproject-rtos/zephyr/issues/23302. The current TCP stack does not implement a congestion avoidance. First of all it is not fair to other traffic using the same network.

Secondly lack of a congestion avoidance can cause a catastrophic link collapse: As soon as the first packet is lost, the stack tr

[2022-06-07 20:24] kuikka commented on #46235
I will try that but it seems to me this may be related to timing on the physical layer. I will see if I can similarly reduce the peripheral code and share that as well. It is on nRF52840 but with S140 soft device.

[2022-06-07 21:21] d21d3q opened #46355 "Sample wifi_station not building for esp32: No SOURCES given to Zephyr library: drivers__ethernet"
**Describe the bug**
`samples/boards/esp32/wifi_station` fails to build for `esp32`.

During builds this warning occurs:
[code]
and later on build fails during linking:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run -ti docker.io/zephyrprojectrtos/zephyr-build:latest`
2. `west init .`
3. `west update`
4. `west build -b esp32 zephyr/samples/boards/esp32/wifi_station`
5. Se

[2022-06-07 23:50] hunterhu3000 commented on #45914
@rljordan I'll push a PR today

[2022-06-08 00:01] cvinayak commented on #46235
You are not using the S140 SoftDevice as the assertion reported is from a source file in the Open Source Bluetooth Low Energy Controller implementation in Zephyr Project. If you intend to use S140 softdevice, and face the assertion, you have to get assistance at https://devzone.nordicsemi.com/

[2022-06-08 03:30] sam131208 commented on #46325
@sylvioalves Under file is the test project.

[DemoBoard_ESP32.zip](https://github.com/zephyrproject-rtos/zephyr/files/8858093/DemoBoard_ESP32.zip)

[2022-06-08 06:26] xobs opened #46363 "Initial Setup: Ubuntu 20.04: ensurepip is not available"
**Describe the bug**
I'm following the instructions at https://docs.zephyrproject.org/latest/develop/getting_started/index.html to get started. I have completed the "Install dependencies" steps, and it is failing on the "Get Zephyr and install Python dependencies" step.

This is Ubuntu 20.04 running on WSL2.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps at https://docs.zep

[2022-06-08 06:28] xobs commented on #46363
I was able to continue by running `sudo apt install python3.8-venv` as was recommended by python. Should `python3.8-venv` be added as a requirement in Step 2 of "Install dependencies"?

[2022-06-08 08:28] povergoing opened #46366 "test_thread_stats_usage fail on arm64 fvp"
[code]

https://github.com/zephyrproject-rtos/zephyr-testing/runs/6745649272?check_suite_focus=true#step:11:1593

Note that this is a newly added test; see https://github.com/zephyrproject-rtos/zephyr/pull/45489

p.s. This also fails on `fvp_baser_aemv8r`; interestingly, it does not fail on `fvp_baser_aemv8r_aarch32`.

_Originally posted by @stephanosio in https://github.com/zephyrproject-rtos/zep

[2022-06-08 08:29] povergoing commented on #46366
@SgrrZhf would you like to post some details here when you have some progress

[2022-06-08 08:38] shaoanxli opened #46368 "twister : frdm_k64f ：the test case tests/subsys/logging/log_switch_format/logger.syst.v2.immediate/ blocks"
**Describe the bug**
When running the twister command , the test case blocks at "SYST Sample Execution Completed". And the test case add in this commit: 1c1748d5795ced54cbf2b8242b0d4010cbf1781e. Before the DEVICE log, there is a DEBUG log "DEBUG   - Could not find a matching testcase for logger.syst.v2.immediate" ,this may provide a clue.

**To Reproduce**
Steps to reproduce the behavior:
1. sourc

[2022-06-08 09:31] lairdjm commented on #46126
Hitting this issue also, would be good to have a fix for it. Use case: sensors with irrecoverable errors or devices that need to maintain a very low sleep current/long read period

[2022-06-08 09:47] MariuszSkamra opened #46369 "LE Audio: Bidirectional stream is not created"
**Describe the bug**
Recent PR merged https://github.com/zephyrproject-rtos/zephyr/pull/42964 supposed to provide support for CIS bidirectional stream.
While testing unicast_audio_client with unicast_audio_server the stream created is not bidirectional, but unidirectional.
Moreover, unicast_audio_client crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. build the samples and flash on t

[2022-06-08 10:31] tejlmand commented on #45270
Thanks for raising this.

There are a couple of reasons why this doesn't work out of the box with Zephyr.
First part is that Zephyr doesn't rely on CMakes infrastructure for testing the compiler due to a couple of different reasons.

Secondly, even if trying to use the new endianess detecting for CMake >=3.20, then the next issue that arises is that CMake default in Zephyr context tries to compile

[2022-06-08 10:51] rlubos commented on #46350
Hmm, I've reproduced the "failure" with your test, although I don't observe the problem you describe. The connection is properly closed both sides, however the test fails due to incorrect timings.

Once you reopen the communication channel over loopback, you verify that the client net context is closed before `2 * RTO`. I don't think this is correct. The state machine for the client is as follows:

[2022-06-08 10:54] rlubos commented on #46350
Although, the above doesn't prove that everything is fine with the Zephyr TCP stack, since we're testing Zephyr vs Zephyr here. If there are indeed some connection teardown problems vs some other stack, we might need some other way to reproduce it.

[2022-06-08 11:16] carlescufi commented on #46235
@kuikka can you please try to reproduce the issue with the latest `main` (or 3.1.0, which was just released). Thanks!

[2022-06-08 12:15] nashif commented on #46345
we do not use `./scripts/get_maintainer.py ` to assign reviewers, this is done manually at the moment and probably this PR was missed for some other reason, so this is an invalid bug.
The step is planned to be automated, but we are not there yet.

[2022-06-08 12:15] #46345 closed

[2022-06-08 12:22] lyakh opened #46372 "Intel-ADSP: sporadic core boot"
**Describe the bug**
This started off as https://github.com/thesofproject/sof/issues/5733 but after weeks of debugging I now managed to reproduce the problem without SOF with just a slightly modified version of the https://github.com/zephyrproject-rtos/zephyr/tree/main/tests/boards/intel_adsp/smoke test. In short, with the attached patch I'm getting an assertion failure
[code]
which with some deep

[2022-06-08 12:29] lyakh commented on #46372
@nashif @andyross @dcpleung @ceolin please have a look and prioritise accordingly. This issue doesn't occur with XTOS, so it seems like Zephyr is missing some crucial part of cAVS 2.5 multicore support. I can help with my debug setup if desired.

[2022-06-08 13:57] marc-hb commented on #46345
Interestingly, some "zephyrbot" just performed a large update to the list of reviewers of #44188. This update seems to match MAINTAINERS.yml but... days after 44188 was merged.
![Screenshot 2022-06-08 at 06 57 31](https://user-images.githubusercontent.com/46978960/172635161-7f015301-8fa8-4c04-b0d1-cbeb79582cc7.png)

[2022-06-08 14:14] FRASTM commented on #46326
There is a device errata for the in the stm32U575/585
[ES0499](https://www.st.com/resource/en/errata_sheet/es0499-stm32u575xx-and-stm32u585xx-device-errata-stmicroelectronics.pdf)
that prevent the use of the DMA for USART transfer :  "USART does not generate DMA requests after setting/clearing DMAT bit
_Description
If the DMA is used for data transmission (DMAT = 1 in USART_CR3 register), and the

[2022-06-08 14:18] kv2019i opened #46378 "CONFIG_SYS_CLOCK_TICKS_PER_SEC affects app code speed with tickless kernel"
**Describe the bug**
With CONFIG_TICKLESS_KERNEL=y build of Zephyr, we observe the SOF application code is running slower with a higher CONFIG_SYS_CLOCK_TICKS_PER_SEC setting. This is not the expected behavior for a tickless kernel.

**case A) CONFIG_SYS_CLOCK_TICKS_PER_SEC=15000**

[00007179] <inf> ll_schedule: ll timer avg 2022, max 2552, overruns 0

DSP load 5.27% (2022/38400*100%)

**case B) C

[2022-06-08 14:19] kv2019i commented on #46378
FYI @ceolin @nashif

[2022-06-08 14:28] d21d3q commented on #46355
Right, I missed. Now it builds and works fine (however warning persists).  Thanks!

[2022-06-08 14:28] #46355 closed

[2022-06-08 14:28] kv2019i commented on #46372
I can reproduce this error with @lyakh your test steps and get the same result (not UP i11, but another cAVS2.5 system).

[2022-06-08 16:03] stephanosio commented on #46345
https://github.com/zephyrproject-rtos/zephyr/pull/46380

[2022-06-08 16:05] cmorganBE opened #46382 "twister -x / --extra-args escaping quotes issue with CONFIG_COMPILER_OPTIONS"
**Describe the bug**

I'd like to pass -fanalyzer (or any compiler options in fact) down the chain to the zephyr/cmake build from twister like:

`
./zephyr/scripts/twister --build-only -p nucleo_h743zi -x "CONFIG_COMPILER_OPT=\"-fanalyzer\"" -W -T unitTests
`

Tried various quoting approaches but the quotes always get removed prior to the generation of the kconfig file:

`
   cat /home/cmorgan/pro

[2022-06-08 16:16] asemjonovs opened #46383 "fatal error: sys/cbprintf_enums.h: No such file or directory"
**Describe the bug**
The following commit is causing a compiler error when downstreaming
https://github.com/zephyrproject-rtos/zephyr/commit/aff6e8b2f773cfb848b4ca1394fadd7a1280e4c2

Please also mention any information which could help others to understand
the problem you're facing:
 - include looks to be missing `zephyr` prefix.
 - I think it should look like `#include <zephyr/sys/cbprintf_enums.

[2022-06-08 16:22] stephanosio commented on #38725
https://github.com/zephyrproject-rtos/zephyr/pull/46373 and https://github.com/zephyrproject-rtos/zephyr/pull/46380 implemented a script and workflow to automatically assign the reviewers, assignee and labels based on the content of the MAINTAINERS.yml.

With that, we are now a step closer to replacing CODEOWNERS with MAINTAINERS.yml; we just need to make sure that the MAINTAINERS.yml is not missi

[2022-06-08 17:52] stephanosio commented on #46301
We will review this at the next TSC meeting (next Wednesday).

[2022-06-08 18:02] ssharks commented on #46350
I can share you this section off a Wireshark trace publically. 18.196.213.123 is the Zephyr device.
![image](https://user-images.githubusercontent.com/8824520/172685099-8e549ebc-260c-4d68-b6a4-e9d51bdf3b46.png)

The second thing I see is: When this occurs, the net context stays open until the fin timeout hits on the Zephyr side.

[2022-06-08 18:05] ssharks commented on #46350
Looking at the trace it looks like the time way has elapsed when the retry of the server comes. So this section of the trace looks to be more caused by a mismatch between the server RTO and zephyr CONFIG_NET_TCP_TIME_WAIT_DELAY.

[2022-06-08 18:12] ssharks commented on #46350
Another section of the trace:

[2022-06-08 18:24] rlubos commented on #46350
Thank you for the details. Actually, that RST case should be pretty easy to identify, there aren't many places where Zephyr decides to send RST message. I think I'll try to reproduce this by adding some artificial packet drop to SLIP driver, hopefully I could see the same results.

[2022-06-08 21:11] palchak-google commented on #39347
@aleksei-timofeyev
@wojciechslenska

I have submitted a fix for this issue. It works as best as I have been able to test. Will you please confirm the fix works properly on your system(s)?
https://github.com/zephyrproject-rtos/zephyr/pull/46357

[2022-06-08 22:10] erwango commented on #12272
supported

[2022-06-08 22:10] #12272 closed

[2022-06-09 04:01] SgrrZhf commented on #46366
When I select CONFIG_NO_OPTIMIZATIONS, this assertion will fail.
https://github.com/zephyrproject-rtos/zephyr/blob/d84989a718272f29f3a19d4ea99afc7a6aa73211/tests/kernel/usage/thread_runtime_stats/src/test_thread_runtime_stats.c#L516
Adding print will change the results of this case.

I'm going to do other jobs and I will take look at this again some days later.

[2022-06-09 06:16] gleichdick commented on #46008
@alsrgv That'd be nice if you could point me into the right direction regarding ptp4l.

[2022-06-09 06:16] #46008 closed

[2022-06-09 06:55] MariuszSkamra opened #46395 "CSIS: RSI: General problem with RSI in privacy 1.2"
**Statement**
Once the RPA changes, the new RSI (Resolvable Set Identifier) shall be generated and AD/SD data shall be updated as well with the new RSI value. This shall be done to avoid the tracking device. There shall not be condition that result in advertising old RSI using new RPA.

**Background**
If controller-based privacy is used, the HCI_LE_Set_Resolvable_Private_Address_Timeout is used to

[2022-06-09 06:59] MariuszSkamra commented on #46395
ping @cvinayak @jhedberg @Emil-Gydesen-Bose @sjanc @rymanluk

[2022-06-09 07:02] rogeryou opened #46396 "11111"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
file:///home/a/Desktop/Screenshot_202

[2022-06-09 07:03] #46396 closed

[2022-06-09 07:40] #38494 closed

[2022-06-09 08:20] carlocaione opened #46398 "`mem_protect/mem_map` is failing on`qemu_x86_tiny` when userspace is enabled"
This came out while working on #46343

If userspace is enabled, the `mem_protect/mem_map` is failing on `qemu_x86_tiny` with:
[code]

[2022-06-09 08:34] #40146 closed

[2022-06-09 08:34] rogeryou opened #46399 "Suggestion on the framework of Flash driver"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2022-06-09 08:43] rokobertcm opened #46400 "STM32WB BLE HCI interface problem."
I'm try to use BLE controller stack in STM32WB55 to comunicate with Zephyr BLE host stack with no success.
In network procesor M0+ run ST propriatery controller stack "stm32wb5x_BLE_Stack_full_fw.bin" V1.13.3.
In application processor M4 I use sample application "boards-stm32-power_mgmt-stm32wb_ble-sample".

Compiling and flashing goes well. But when I start program, it stops after 10 second with

[2022-06-09 08:49] carlocaione opened #46401 "ARM64: Relax 4K MMU mapping alignment"
The problem came up in #45737

In same (rare) cases you want to map a MMIO region that is either smaller or not aligned to 4K. This is currently not supported by the MMU driver.

We have two solutions here:

1. We map the physical 4k-aligned address to different virtual addresses.
2. We check whether the mapping overlaps with an existing mapping and fix / extend the mapping when required.

[2022-06-09 09:05] Thalley commented on #46395
Hi @MariuszSkamra

I remember this being discussed at the GAWG (ping @asbjornsabo @Rasmus-Abildgren-Bose) multiple times, and IIRC it would considered to be an implementation specific challenge.

IMO Coordinated Sets should never have been a GATT profile, as there so many challenges with the data that CSIS requires (LTK, RPA update, etc.).

I had not previously considered the approach of using a V

[2022-06-09 09:32] #30365 closed

[2022-06-09 09:33] #39347 closed

[2022-06-09 10:33] piotrParf commented on #46400
Check if you have turned on the proprietary BLE stack(do not check the version or FUS after flashing the ble stack). Also, check with only the HCI stack version. I had similar issues and I addressed them in this comment. It stops because of lack of executing the HCI commands.

[2022-06-09 11:53] rlubos commented on #46350
@ssharks I was able to reproduce the scenario from https://github.com/zephyrproject-rtos/zephyr/issues/46350#issuecomment-1150228237 and I think I've identified the root cause - once Zephyr enters TIMED_WAIT state, it ignores any incoming packets. This can be a problem however if the final ACK from the Zephyr side is lost, as the peer in such case keeps retransmitting the final FIN packet. Therefo

[2022-06-09 11:55] rlubos commented on #46350
As for https://github.com/zephyrproject-rtos/zephyr/issues/46350#issuecomment-1150236818, I was trying to trigger such behaviour with simulated packet drop, but failed. Specifically, this duplicated ACK from the Zephyr side (frame 365) is a mystery to me. Do you have any tips on how to trigger this scenario? Or maybe you could share a larger part of that pcap, to see the full packet flow since the

[2022-06-09 12:09] ssharks commented on #46350
The recording was taken doing an HTTP/GET on, while introducing severe random packet loss in both RX as well as the TX path of the Zephyr device. At the same time the retry time out was the default 200 ms, but the link rather slow. So it could have been that it actually a stale re-transmit of the ACK after SYN-SYN-ACK.

As this post failed, the host decided to close the connection, instead of the

[2022-06-09 12:35] #46363 closed

[2022-06-09 12:45] galak opened #46410 "Add devicetree binding for `zephyr,sdmmc-disk`"
There is no binding for `zephyr,sdmmc-disk`.

[2022-06-09 12:55] plbossart commented on #46372
Thanks @lyakh, impressive detective work indeed.

@nashif this is not a 'medium' priority, this problem was identified on March 9 and blocks SOF CI. This is not a drill, failure is not an option, etc.

[2022-06-09 12:59] rlubos commented on #46350
Yes, I noticed that in this case the connection teardown is initiated by the server. However, I have no success yet reporducing the issue by simply dropping packets on RX/TX side.

[2022-06-09 13:02] AndreyDodonov-EH commented on #45844
@carlescufi @rlubos
Here are the logs in happy case (2.7, "No_MissingBytes.pcapng") and unhappy case (main, "MissingBytes.pcapng")

I could see that Herou sets RST flag, but for some reason it's doing that only with newer version of Zephyr (didn't dig deeeper).

[Traces.zip](https://github.com/zephyrproject-rtos/zephyr/files/8870535/Traces.zip)

Also some basic logs in unhappy case:

[code]

[2022-06-09 13:15] rlubos commented on #45844
The only difference I see is the window size, after we implemented a proper RX window handling, we report smaller window in the ACK. But this doesn't explain why does the server decide to abort the connection out of blue, I see nothing suspicious about hte ACK whcih seemingly has triggered the RST message...

Anyway, did you have commits https://github.com/zephyrproject-rtos/zephyr/pull/45070 incl

[2022-06-09 13:18] AndreyDodonov-EH commented on #45844
Yes, Those commits are included.

Still, I can try to update networking to newest state (e.g. NRF SDK 2.0) and check the behavior.

[2022-06-09 13:50] rlubos commented on #46350
@ssharks I've increased the `NET_TCP_TIME_WAIT_DELAY` default to 1500ms  in https://github.com/zephyrproject-rtos/zephyr/pull/46407, I agree this should be a more suitable default for this parameter.

[2022-06-09 13:52] npal-cy commented on #39740
Current PSoC 6 implementation is not using pinmux, so it is not block this migration. We will remove current PSoC 6 integration, once new one add (so we do not want add any updates here, if it is not real critical).

In new PSoC 6 we implemented pinctrl driver. Can be review in scope of https://github.com/zephyrproject-rtos/zephyr/pull/44211.

Regards,
Nazar

[2022-06-09 13:54] ssharks commented on #46350
I do suspect it hits this section:
[code]

Due to the FIN flag the len_acked can be larger then send_data_total. (PSH | FIN). In that case do_close is not set and the connection is not properly dereferenced.
No idea how to reproduce this in the field honoustly.

[2022-06-09 14:20] bbilas opened #46414 "mcuboot: rt1060: confirmed image causes usage fault"
**Describe the bug**
The bootloader encounters a usage fault when a signed confirmed image is flashed. A signed unconfirmed image seems to work well:

**To Reproduce**
Steps to reproduce the behavior:
1.` west build -p -b mimxrt1060_evk -d build-mcuboot bootloader/mcuboot/boot/zephyr`
2. `west flash -d build-mcuboot`
3.` west build -p -b mimxrt1060_evk -d build-hello-world zephyr/samples/hello_wor

[2022-06-09 15:10] AndreyDodonov-EH commented on #45844
Tried networking from NRF SDK 2.0, same issue.

However, when I explicitly made RCV window bigger, download works:
`CONFIG_NET_TCP_MAX_RECV_WINDOW_SIZE=2560`

[No_MissingBytes_Because_bigger_window.zip](https://github.com/zephyrproject-rtos/zephyr/files/8871614/No_MissingBytes_Because_bigger_window.zip)

[2022-06-09 16:12] ssharks commented on #46350
I don't think setting the `next` will work, as the processing is already in the state machine processing next.

[2022-06-09 16:19] rlubos commented on #46350
Not sure I follow this comment, setting `next` simply tells the state machine to process the next state in the same `tcp_in()` call (https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/ip/tcp.c#L2207), if we use `conn_state()` directly, the TCP_CLOSED state, which sets the `do_close` flag will not get processed.

[2022-06-09 17:38] rlubos commented on #45844
Would be really great to understand what is so exceptional about the larger window size that makes the server to retain the TCP connection...

[2022-06-09 17:59] dcpleung commented on #46372
Looks like it's failing validation for `sched_spinlock`. After disabling timer interrupts at CPU power down, the spinlock assertion is no more.

[code]

With the above changes, sometimes it would assert on the second start/halt of core 2. However, `test_cpu_behavior()` hangs at core 1. Maybe timer is not fired on core 1 so scheduler never gets out of idle loop?

[2022-06-09 18:50] wcappelle opened #46422 "SDK version 14.2 increases image size significantly"
**Describe the bug**
When building my application with the 14.2 zephyr SDK, the image size of my binary (same code) increases with about 18kB in comparison with the 13.2 zephyr SDK.
I've made 2 rom reports from both sdk's and can see most of the extra size is from following symbols which are added:

[code]
most added symbols are listed, but not all.

I'm building for an ARM target (STM32L010RB)  w

[2022-06-09 19:02] marc-hb commented on #46372
Impressive effort.

Could this be submitted and added as a new test? Just curious.

[2022-06-09 19:13] bbilas opened #46424 "Triage role for bbilas"
# Nomination

## GitHub User

1. Full Name: Bartosz Biłas
2. GitHub username: [bbilas](https://github.com/bbilas)
3. Organization: [Grinn](https://github.com/grinn-pub)

## Supporting Documents

https://github.com/zephyrproject-rtos/zephyr/pulls?q=is%3Apr+author%3Abbilas+

[2022-06-09 22:39] dcpleung commented on #46372
Actually, `test_cpu_behavior()` is supposed to hang at CPU 1 due to calling `start_and_halt()` at the end of `test_cpu_halt()` so CPU 1 and up are not running.

[2022-06-09 23:08] stephanosio commented on #46422
Please see https://github.com/zephyrproject-rtos/sdk-ng/pull/469#issuecomment-1122563395

[2022-06-09 23:08] #46422 closed

[2022-06-10 00:38] yerabolu opened #46426 "Intel CAVS: Assertion failures on tests/boards/intel_adsp/smoke"
**Describe the bug**
 Assertion failures in test_host_ipc & test_clock_calibrate under tests/boards/intel_adsp/smoke on all CAVS platforms.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W --hardware-map /home/ztest/cavs/cavs.map --device-testing -x=CONFIG_BOOT_DELAY=500 -T tests/boards/intel_adsp/smoke/ --no-skipped-report -vvvv
2. See error

**Logs and console output**
[code]
[co

[2022-06-10 03:18] sam131208 commented on #46325
@sylvioalves Do you have updates?

[2022-06-10 03:48] Laczen commented on #46414
@bbilas, shoildn't this be reported in as an mcuboot issue? Or is it a zephyr issue?

[2022-06-10 06:59] ssharks commented on #46350
Another observation is that we see the device trying to transmit something.

Thanks for your explanation, I missed this kind of 'do' - 'while' construction. You are right going to the closed state makes sense from this reset condition. It avoids duplicating code with the risk of forgetting something.

[2022-06-10 07:48] #44219 closed

[2022-06-10 08:19] ssharks commented on #46350
This is likely a spurious crawler instead of a Zephyr device. It it outside the region where our devices should be communicating as well as using timestamps, which are not supported in the Zephyr stack.

[2022-06-10 08:19] AndreyDodonov-EH commented on #45844
I will try to test the same scenario with other servers than Heroku.

[2022-06-10 11:37] rokobertcm commented on #46400
I'm got an answer from ST support. They said, that they use "stm32wb5x_BLE_HCILayer_extended_fw.bin" firmware V1.13.3. I can confirm that this firmware works with Zephyr 3.1 HCI interface. Other firmawares does not work.
I will be in touch with ST support to clarify how to use other firmwares. I'm also interested to use BLE and Thread together.

This is list of all firmwares:

stm32wb5x_BLE_HCILay

[2022-06-10 11:49] AndreyDodonov-EH commented on #45844
I now tested with a different environment:

1. Local Wi-Fi network
2. Simple Node JS express server
3. HTTP (not HTTPS as before)

Results are... strange.
Both versions 2.7.99 and 3.0 could download the file completely, but in case of 2.7.99 it took 15 seconds, while in case of 3.0 it took almost one hour.

Wireshark logs attached.
[LocalHTTP.zip](https://github.com/zephyrproject-rtos/zephyr/files

[2022-06-10 12:05] martinjaeger opened #46434 "ESP32-C3 UART1 broken since introduction of pinctrl"
**Describe the bug**

I updated my application to Zephyr v3.1 and realized that PR #43589 broke support for using UART1 with ESP32-C3.

The peripheral is existing in [esp32c3.dtsi](https://github.com/zephyrproject-rtos/zephyr/blob/0ace177a32faaf9b113a87febcfbd8ae3e53c5b3/dts/riscv/espressif/esp32c3.dtsi#L126-L135) file (and worked before), but it is not covered in the [esp32c3_devkitm-pinctrl.dtsi

[2022-06-10 12:37] rlubos commented on #45844
Wow, that's indeed strange. If you look closely into the wireshark, you could see a repetitive pattern:
1. The initial RX window size (Zephyr) is 1536
2. Server sends a data packet, full MTU size (1460 app data bytes)
3. Zephyr sends ACK with window size reduced by the received amount of data (window size 76)
4. Now, for whatever reason server takes 5 second break (which is the root cause of the s

[2022-06-10 13:49] nvlsianpu commented on #46399
I'm looking forward for this rework. Probably the key factor for success will be proper API interface between vendors low layer driver part and higher generic flash driver part.

[2022-06-10 13:51] ssharks commented on #45844
Hmmm... somewhat unexpected indeed. I'm rolling in after a long discussion. Just blondly looking at your application I see no obvious reasons for the server to abort the download. I'm using the TCP stack in a similar way without issues. Most issues I had where in the uploading direction, not in download.
A thing I have bumped into quite often is that some service providers have minimum throughput

[2022-06-10 14:05] AndreyDodonov-EH commented on #45844
@ssharks As for the time required, in the first case I download from remote HTTPS server (heroku) without any configs. In this case timing was close, yes, for both failing and succeeding cases (2.7.99 and 3.0)

Then increased RCV window size and everything worked.

In the second case, I tried HTTP and local server without setting any sizes via configs. It worked, but took 15 seconds and almost 50

[2022-06-10 14:06] AndreyDodonov-EH commented on #45844
@ssharks I think default for buffers is already 36, no?
https://docs.zephyrproject.org/3.0.0/reference/kconfig/CONFIG_NET_BUF_RX_COUNT.html

Also, how do you low MTU? I didn't see the config flag for that

[2022-06-10 14:10] ssharks commented on #45844
The MTU is gathered from the interface, in my case I use CONFIG_NET_PPP_MTU_MRU=600.

[2022-06-10 14:17] ssharks commented on #45844
So as I read you correctly. The stack is not functionally broken, but the default settings need to be improved to make sure you get at least a reasonably functional system out of the box. Only if you have NET_L2_ETHERNET enabled you have 36, otherwise 16, which barely fits a single 1460 byte MSS.

In my case to be functional (using PPP), I need the CONFIG_NET_TCP_MAX_SEND_WINDOW_SIZE + 2 x MTU to

[2022-06-10 14:23] AndreyDodonov-EH commented on #45844
In case of 2.7.99 I had CONFIG_NET_TCP_MAX_SEND_WINDOW_SIZE set to 1152 even, which is lower than Ethernet MTU (1500). And it was working reasonably well

[2022-06-10 14:49] lyakh commented on #46372
I have a fix. It's very dirty. It's too dirty to be shown to anyone sane. The way it works is by accepting the bitter truth of being unable to prevent secondary cores from booting sporadically, so instead it just sends them back to sleep every time that happens. It passed both Zephyr native "smoke" test and SOF booting and streaming in the configuration that previously was failing every single boo

[2022-06-10 16:55] ngboonkhai opened #46444 "Proposal to integrate Cadence QSPI driver from Trusted Firmware-A"
Origin
Name of Project : Trusted Firmware-A

Project Link: https://github.com/ARM-software/arm-trusted-firmware

Source Code:
https://github.com/ARM-software/arm-trusted-firmware/tree/master/plat/intel/soc/common/drivers/qspi/cadence_qspi.c
https://github.com/ARM-software/arm-trusted-firmware/tree/master/plat/intel/soc/common/drivers/qspi/cadence_qspi.h

Purpose
The cadence_qspi.c driver provide t

[2022-06-10 17:19] richesonk opened #46446 "lvgl: Using sw_rotate with SSD1306 shield causes memory fault"
**Describe the bug**
Using the new `sw_rotate` feature from LVGL with the `ssd1306_128x64` shield causes a memory fault.

The issue seems to be related to the `draw_buf_rotate...()` functions not accounting for the possibility that a custom `set_px_cb` (such as `lvgl_set_px_cb_mono()` function maybe packing the data as bits instead of full bytes. This results in out of bounds array accesses in the

[2022-06-10 22:47] dcpleung commented on #46372
@lyakh do you have another way of reproducing the issue? After disabling timer interrupt at cpu power down, I no longer see the issue on my board.

[2022-06-10 22:51] kuikka commented on #46235
@cvinayak I think there was a misunderstanding here. The central device that shows the assert runs on Zephyr, the peripheral it connects to during this assert runs S140 soft device.

@carlescufi Certainly.

[2022-06-10 22:52] andyross commented on #46341
The sched_lock primitive is for synchronization, not priority control.  The idea is to prevent you from being interrupted while doing something that needs to be threadsafe vs. other threads (but not interrupts!).

I guess my intuition is that this sort of makes a hash of the two metaphors: using "priority" as a cue to the kernel to "allow this thread to break locks" seems borderline dangerous to m

[2022-06-10 22:54] andyross commented on #45929
I'm going to remove myself as an assignee here, since I just turned in the hardware I'd need to reproduce this.  Please continue to ping me with questions, though!

[2022-06-11 00:29] #43928 closed

[2022-06-11 04:49] cvinayak commented on #46400
Closing

[2022-06-11 04:49] #46400 closed

[2022-06-11 16:52] zpm1066 opened #46453 "nRF52840 PWM with pinctrl - Unable to build samples/basic/blinky_pwm"
**Describe the bug**
Unable to build `samples/basic/blinky_pwm` for nRF52840 (particle_xenon) successfully.

Used the following `particle_xenon.overlay` with pinctrl:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Build  `samples/basic/blinky_pwm` for nRF52840 (particle_xenon) using the above overlay.

**Expected behavior**
Successful build of the `blinky_pwm` sample using the new

[2022-06-11 17:15] andyross commented on #30505
*(Doing a grooming pass on bugs/issues that are sitting around with my name on or near them.  No one pays me right now so I get to be an unaccountable whirlwind of chaos!)*

Closing this one.  In fact while I can't point to a specific PR I know a ton of code coverage work has been done over several passes in the years since this was submitted, and everything in the kernel directory is showing gree

[2022-06-11 17:15] #30505 closed

[2022-06-11 17:35] andyross commented on #12191
*(Doing a grooming pass on bugs/issues that are sitting around with my name on or near them.  No one pays me right now so I get to be an unaccountable whirlwind of chaos!)*

Going to close this.  This very test just got a revisit recently that added a CONFIG_IRQ_OFFLOAD_NESTED that allows any architecture to declare support, so every such architecture now gets automatic coverage for nested interru

[2022-06-11 17:35] #12191 closed

[2022-06-11 17:36] andyross commented on #11975
*(Doing a grooming pass on bugs/issues that are sitting around with my name on or near them.  No one pays me right now so I get to be an unaccountable whirlwind of chaos!)*

Closing.  In fact LOG_MINIMAL now more or less fills this need.  The twisty knot of output backends is still there, but the hole I was originally whining about is plugged.

[2022-06-11 17:36] #11975 closed

[2022-06-11 17:38] andyross commented on #8497
*(Doing a grooming pass on bugs/issues that are sitting around with my name on or near them.  No one pays me right now so I get to be an unaccountable whirlwind of chaos!)*

Closing.  MULTITHREADING=n keeps going around and around as to what kind of support it wants.  But IMHO it's clear we won't be adding any new synchronization primitives[1]

[1] At least, not until someone wants to rework the b

[2022-06-11 17:38] #8497 closed

[2022-06-11 17:41] andyross commented on #8496
Closing, because for small (and in-kernel) critical sections spinlocks have largely become the standard solution, and also for the same reason as #8497.  It's true that we could do with a rework of the core kernel synchronization primitives, but what we absolutely don't want is yet another API.  Instead we probably want a simple core with a handful of semantic wrappers that map to the existing API

[2022-06-11 17:41] #8496 closed

[2022-06-11 17:43] andyross commented on #46341
Think I'm going to close this while I'm grooming all my other issues.  Please reopen if you want to debate the need for a feature like this or have details about the use case.  But IMHO I think the existing API covers what you'd want to try in this area well already.

[2022-06-11 17:43] #46341 closed

[2022-06-11 17:46] andyross commented on #37212
*(Doing a grooming pass on bugs/issues that are sitting around with my name on or near them.  No one pays me right now so I get to be an unaccountable whirlwind of chaos!)*

Closing.  More docs are always good, but the ACRN support has been stable(-ish) for a while now and to the extent it's being exercised no one seems to be confused.  Also note that the ACRN project themselves have excellent doc

[2022-06-11 17:46] #37212 closed

[2022-06-11 17:51] andyross commented on #6498
*(Doing a grooming pass on bugs/issues that are sitting around with my name on or near them.  No one pays me right now so I get to be an unaccountable whirlwind of chaos!)*

Think this one can be closed, as there's nothing in the discussion here that isn't well captured by @cfriedt in #40099.  Broadly the big missing piece is just a sub-microsecond busy wait.  Timer (i.e. interrupt-driven) subsyst

[2022-06-11 17:51] #6498 closed

[2022-06-11 17:56] andyross commented on #36228
It might be a good idea to fold this in with a lot of other requirements/issues around the synchronization primitives.  It's been mentioned in a few places but really what I think we need to do is condense all the gadgets to a shared backend.  Locks within the  same memory domain should always become atomic_cas operations.  The kernel should take a syscall/API entry only on contention.  Priority i

[2022-06-11 17:58] andyross commented on #46372
The interrupt controller has per-CPU masking available, though right now it's exercised only in the cavs_timer driver.  We could add hooks such that cores that are "off" get their interrupts (all of them) masked until something external tries to boot them.

But note that if the core is bouncing because it received an interrupt, that implies strongly that the power and clock gating, which is suppos

[2022-06-11 18:48] edersondisouza commented on #44925
@LixinGuoX as the #45777 was merged, can you check if this bug is still happening, and if not, close this issue? If it still happening, please, provide more information.

[2022-06-11 19:18] Dinduks commented on #23165
If you have this issue, make sure your local python version is the same as the one west uses, then reinstall the requirements. In my case, my shell was using Python 3.9 (which means all dependencies were installed for 3.9) but west 3.10.

[2022-06-12 05:39] ssharks commented on #45844
After thinking a bit more. You see a similar in the results of @rlubos: https://github.com/zephyrproject-rtos/zephyr/issues/23302#issuecomment-1142138602.

What I think is happening: When the window full is returned by Zephyr, the host stops sending, waits for a time before probing again. This causes a significant slowdown. The Zephyr stack does never send a TCP window update message. If it would

[2022-06-12 14:19] zpm1066 commented on #46453
Please cancel the reported issue.

PWM on the Particle Xenon nRF52840 with pinctrl using the following particle_xenon.overlay.

[code]

[2022-06-12 14:21] #46453 closed

[2022-06-13 01:29] grantramsay opened #46459 "Test framework incorrectly uses c++ keyword `this`"
Test framework incorrectly uses c++ keyword `this`, which prevents writing tests in c++.

Suggest renaming `this` (e.g. `suite`/`self`)

**To Reproduce**
Create a new test:
prof.conf
[code]
test.cpp
[code]
Build error:
[code]

[2022-06-13 03:44] RuibinChang commented on #46208
@hunterhu3000
I update the SDK to latest version v0.14.2 on PR b9e833366f1360ecbad8776d6e8587e180688e1b, the 10 times result of test_usleep are pass.

[2022-06-13 03:46] RuibinChang commented on #46324
@hunterhu3000
I update the SDK to latest version v0.14.2 on commit https://github.com/zephyrproject-rtos/zephyr/commit/b9e833366f1360ecbad8776d6e8587e180688e1b, the 10 times result of kernel k_sleep() are pass.

[2022-06-13 05:05] stephanosio commented on #46424
Added as a contributor with triage permission.

[2022-06-13 05:05] #46424 closed

[2022-06-13 05:10] XenuIsWatching commented on #29986
_wow... it's been a long time since I first wrote about this issue I found, but now as with interest coming upon other companies with i3c, I think it's time I revisit this issue_

# Reason for a Solution

I3C is a rather unique bus compared to other buses that zephyr supports. It supports I2C _(to an extent)_ which zephyr has had support for a rather long time along with many existing device drive

[2022-06-13 05:14] LixinGuoX commented on #44925
Yes, we are not able to find this issue in our daily testing since the PR merged, I think it's time to close this issue.
Thank you @edersondisouza !

[2022-06-13 05:14] #44925 closed

[2022-06-13 06:00] enjiamai commented on #45929
Thanks @andyross , So far, there are 2 kinds of errors I can see:
(1) Like @andyross mentioned, the EFl simple text output call return with interrupt enable. we can workaround it by avoiding invoking printk() in the interrupt context.
(2) In some scenario, the k_sem_take() will be hang up. Not sure are these having the same root cause with the previous one.

[2022-06-13 07:14] ssharks commented on #45844
To validate this hypothesis I made a basic implementation of the TCP window update.

See:
https://github.com/ssharks/zephyr/tree/net/tcp_window_update

Using the tests in tests/net/socket/tcp I do see a considerable reduction in test time. Previously there used to be a considerable difference between the cooperative and preemptive scheduling. With this fix, this difference is gone.

@AndreyDodonov

[2022-06-13 07:15] AndreyDodonov-EH commented on #45844
@ssharks Thanks a lot, I'll give it a try on a real hardware, both local http and remote https cases.

[2022-06-13 08:19] bbilas commented on #46414
mcuboot seems to work well itself, IMO. there is an issue with a confirmed image generated by Zephyr.

[2022-06-13 08:47] Laczen commented on #46414
@bbilas, as the generation of the confirmed image is calling imgtool (part of mcuboot) the problem would either be in the options passed to imgtool or the device just isn't supported (e.g. to large alignment requirement) by mcuboot.

[2022-06-13 09:21] wojciechslenska commented on #39347
@palchak-google
Hello,
I can confirm that now constructors are working properly on Ubuntu 22.04 on GCC 10.3.0

[code]
and GCC 12.0.1
[code]

I see the same behavior on `native_posix` and `native_posix_64`
Many thanks for your contribution

[2022-06-13 09:24] shaoanxli opened #46470 "twister : retry failed parameter is not valid"
**Describe the bug**
The parameter "--retry-failed" in twister is not valid.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p frdm_k64f --device-testing  --hardware-map map.yml -T tests/kernel/mbox/mbox_api/ --retry-failed 2 -vv
3. See error

**Expected behavior**
Have made a bug in this case , then the "--retry-failed" parameter should have taken effect , b

[2022-06-13 09:24] wojciechslenska commented on #40444
This merge request https://github.com/zephyrproject-rtos/zephyr/pull/46357 fixes this behavior, and now it is working the same as on hardware. More information here https://github.com/zephyrproject-rtos/zephyr/issues/39347

[2022-06-13 09:37] ck-telecom commented on #45993
PR for Matter: https://github.com/project-chip/connectedhomeip/pull/19504

[2022-06-13 09:53] wcappelle commented on #40444
@wojciechslenska , thanks for the effort! I was indeed following both conversations.

[2022-06-13 09:53] AndreyDodonov-EH commented on #45844
@ssharks Unfortunately I don't see any speed improvement, server still sleeps 5 seconds for whatever reason.
Also I am quite confused with my traces, see https://github.com/zephyrproject-rtos/zephyr/issues/45844#issuecomment-1152276707

Here it looks as if server sets TCP window full, which I find hard to believe.
I guess I'm misreading the traces...

[2022-06-13 10:12] #46398 closed

[2022-06-13 10:25] rlubos commented on #45844
The thing with those traces here is that Zephyr does not report a Zero Window - it reports a RX window of size 76 bytes, so the server doesn't really send a Zero Window Probe, just a regular data packet, but delayed by 5 seconds. With Zero Window scenario I've observed that servers typically send a probe after ~200ms.

Thanks, that's more or less what I was thinking we should implement. The algori

[2022-06-13 10:29] rlubos commented on #45844
@AndreyDodonov-EH Would you be able to share a pcap with @ssharks window update implementation applied? I'm curious what's happening in there. Maybe the threshold is set too low?

Are you referring to `[TCP Window Full]` tag next to the data packet sent by the server? If so, it's not the server setting any Window Full flag, it's just wireshark tagging the packet, that it filled out the current RX

[2022-06-13 10:41] ssharks commented on #45844
The thing I found:
https://en.wikipedia.org/wiki/Silly_window_syndrome

I took the following side for inspiration:
https://www.geeksforgeeks.org/silly-window-syndrome/#:~:text=Silly%20Window%20Syndrome%20is%20a,shrink%20to%20a%20silly%20value.

Maybe it is good to have a good read of:
https://datatracker.ietf.org/doc/html/rfc813
At the moment, I do not have time to dive deep at this issue.

[2022-06-13 10:51] bbilas commented on #46414
Let's wait a while to see what others think about that. Personally I have no objections to moving that to the MCUBoot repository.

[2022-06-13 11:09] henrikbrixandersen commented on #42574
@EmbedWise Please see https://github.com/zephyrproject-rtos/zephyr/pull/46472 - also worth noting is the `bus-idle-timeout` devicetree property. It can help if the controller sees a spike on the I2C bus and regards that as another I2C "master" using the bus.

[2022-06-13 11:48] Thalley opened #46474 "LE Audio: Add seq_num and TS to bt_audio_send"
**Is your enhancement proposal related to a problem? Please describe.**
To ensure that an audio packet is sent in the same SDU interval we need to set the correct seq_num.

**Describe the solution you'd like**
Basically implement the change done to bt_iso_chan_send in https://github.com/zephyrproject-rtos/zephyr/pull/44117 to the bt_audio_send function.

**Describe alternatives you've considered**

[2022-06-13 12:30] carlocaione opened #46477 "About MMU mapping on ARM64"
### Facts
On ARM64 we can MMU-map a memory region in two different ways:
- Directly interfacing with the MMU code
- Going through the Zephyr MMU / device MMIO APIs.

### Direct interface with MMU code for direct mapping
This is done by the ARM64 MMU code to setup the basic Zephyr regions (text, data, etc..) in: https://github.com/zephyrproject-rtos/zephyr/blob/bfec3b2ab4cc19a204a6f390c2c3b176cb32a

[2022-06-13 12:50] jeppenodgaard opened #46478 "mimxrt1050_evk_qspi freeze when erasing flash"
**Describe the bug**
mimxrt1050_evk_qspi freeze when erasing flash

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b mimxrt1050_evk_qspi zephyr/samples/drivers/flash_shell/
1. west flash
1. See logs

**Expected behavior**
`flash page_erase` should not freeze when erasing pages in parition "image-1".

**Impact**
Application freeze. Seems to occasionally work.
`flash page_e

[2022-06-13 12:58] jeppenodgaard commented on #46478
`LOG_MODE_IMMEDIATE=y` and `LOG_MODE_IMMEDIATE=y` seems to be a work around.
`flash page_erase 784 100` runs successfully with those enabled.

[2022-06-13 13:41] rlubos commented on #45844
@ssharks Thank you for the links. It's clear now that our implementation suffers from this "Silly Window Syndrome".

If I understood the document correctly, we could mitigate the problem by adding ACK timer (delayed work) to our TCP implementation.
1. In case the reported RX window would be small, postpone the ACK by some small delay (RFC suggests 200 ms),
2. Otherwise send ACK right away. Optiona

[2022-06-13 13:45] povergoing commented on #46477
My concern would be, that the MPU should support the MMIO region too, but these MMIO APIs cannot be reused by MPU if it is not a 1:1 mapping design? You can simply consider the MPU as an MMU that only supports 1:1 mapping.

Does the 1:1 mapping or direct mapping mean `virt_addr ` = `phy_addr`, IIUC? I didn't learn why the APIs in `device_mmio.h` needs non-direct mapping since the Zephyr is designe

[2022-06-13 13:57] carlocaione commented on #46477
Well, I was not aware of that and this is definitely concerning (:hankey:)

Yes.

I think @dcpleung could shed some light on this.

But the point is that when a physical address needs to be mapped using `z_phys_map()` the destination virtual address is obtained by a pool of virtual address and then mapped using `arch_mem_map()`. See: https://github.com/zephyrproject-rtos/zephyr/blob/d130160813fb52

[2022-06-13 13:58] ssharks commented on #45844
You are totally right. Delayed ACK is I think a very good and efficient way to solve the problem. The only thing is that the timeout should at least be less than the re-transmission timeout, which is default at 200 ms in Zephyr. So 100 ms would be better suited.
Under normal circumstances the receive window will be cleared much sooner.
A point of attention: I would suggest to only apply delayed AC

[2022-06-13 14:12] carlocaione commented on #46477
Oh well, maybe not. I just checked and when MMU is not present (i.e. you have MPU), the device MMIO APIs are not mapping anything and you are basically back to accessing straight the phys.

[2022-06-13 14:40] stephanosio opened #46483 "Update RISC-V ISA configs"
**Is your enhancement proposal related to a problem? Please describe.**

From https://www.mail-archive.com/u-boot@lists.denx.de/msg430287.html:

The `csr*` instructions are no longer part of the "I" extension and require a separate extension called "Zicsr" to be specified to the `-march` flag.

Without this, build will fail with the following error message:
[code]

For more details, refer to the f

[2022-06-13 14:43] stephanosio commented on #46483
Test Zephyr SDK RISC-V toolchain build based on Binutils 2.38 can be downloaded here:
https://github.com/zephyrproject-rtos/sdk-ng/suites/6907912608/artifacts/268357069

[2022-06-13 16:10] stephanosio commented on #46483
See also https://groups.google.com/a/groups.riscv.org/g/sw-dev/c/aE1ZeHHCYf4

[2022-06-13 16:33] stephanosio opened #46491 "Zephyr SDK 0.15.0 Checklist"
### Milestone completion
https://github.com/zephyrproject-rtos/sdk-ng/milestone/12

### After RC1 (two weeks before release)

- [x] Release CI Docker image containing RC1
- [x] Announce RC1 open beta
- [x] Announce pending minimum required Zephyr SDK version change to 0.15.0
- [x] https://github.com/zephyrproject-rtos/sdk-ng/issues/527
- [x] https://github.com/zephyrproject-rtos/sdk-ng/issues/528

[2022-06-13 16:45] lucasgcbkhomp opened #46493 "Ethernet W5500 driver fails initialization with latest change - revert needed"
**Describe the bug**
W5500 driver is now unusable due to RTR Read Error from swapped GPIO initialization introduced in https://github.com/zephyrproject-rtos/zephyr/pull/46139

**To Reproduce**
Steps to reproduce the behavior:
1. Have a board with W5500 with reset pin defined as `GPIO_ACTIVE_LOW` as per documentation
2. Flash it with a sample such as DHCP sample while using W5500 driver
3. Observe

[2022-06-13 16:50] #45157 closed

[2022-06-13 16:52] dcpleung commented on #46477
The device MMIO was introduced before I took over userspace, so the design decision is a bit fuzzy. But IIRC, it is working similar to the Linux Kernel where the MMIO range is not 1:1 mapping in general (at least on x86).

Just wondering what would be the use case for having 1:1 mapping? I can see that it would make debugging easier, but in production, does it matter where the hardware registers a

[2022-06-13 19:46] danielskatt opened #46497 "Modbus: Add support for FC03 without floating-point extension as client"
**Is your enhancement proposal related to a problem? Please describe.**
When running Modbus as a client on a motor drive, for example Altivar Machine ATV320, there is a mismatch in the number of registers since Zephyr uses a function with floating-point extension which the Altavar does not so the Altar expects for example 2 bytes and Zephyr expects 4 bytes.

**Describe the solution you'd like**
Ad

[2022-06-13 20:49] dcpleung commented on #46477
Driver not using MMIO API is indeed a huge issue when dealing with MMU as those addresses by default are not accessible. Though I was asking what were the use cases when using the MMIO API. I would assume a proper MMU implementation allows I/O addresses to be mapped into virtual space.

[2022-06-13 20:55] carlocaione commented on #46477
Oh right, I probably explained myself badly.

So, If you are using the MMIO API and the driver supports it there is indeed no problem, we are fine in that case even without a 1:1 mapping.

We still have to deal with the case where the driver is not using the MMIO API. In this case for ARM64 we are bypassing this problem by directly creating the 1:1 mapping using the MMU driver but entirely bypassi

[2022-06-13 21:26] dcpleung commented on #46477
Maybe we can convert those drivers to use the device MMIO API when they are being included? TBH, anything we do now to make those non-"device MMIO API" enabled devices work would be a stop-gap effort. So I think the proper way going forward is to convert them to use device MMIO API. Though... I don't know how many you will need to do at the moment. Could you hazard a guess?

[2022-06-14 03:02] povergoing commented on #46477
Cool, that means, if we want MPU to support MMIO API instead of a big device region, we can extend the non-MMU case?

[2022-06-14 04:33] nordic-krch opened #46500 "Removal of logging v1"
Logging v1 has been deprecated in v3.0 with notification that it will removed after v3.1.
The plan is to do it partially. This issue will track the progress.

- [x] Removal of support for v1 from in tree logging backends #46499
- [x] Removing v1 from tests #46503
- [x] Removing v1 references from samples #46509
- [x] Removing v1 references from the documentation #46520
- [x] Removing v1 support fr

[2022-06-14 07:03] carlocaione commented on #46477
Yes, this is indeed what I'm trying to do while reviewing new drivers submission: convince people to use MMIO API.

I don't need any for my development but: (1) this must be considered for new drivers submission and (2) this is part of a cleanup work to remove the `mmu_regions` for good.

About the point (2) in general having the two methods (the MMIO API and the direct mapping using `mmu_regions`

[2022-06-14 07:19] carlocaione commented on #46477
Possibly? But the MPU case is definitely easier (and more limited since you have a limited number of slots) and I'm not sure if going through the MMIO API is worth it

[2022-06-14 08:15] #46470 closed

[2022-06-14 08:57] kruithofa opened #46510 "bluetooth: controller: llcp: set refactored LLCP as default"
**Is your enhancement proposal related to a problem? Please describe.**
Now is the time to make the refactored LLCP the default in Zephyr

**Additional context**
See issue #43435 for failing EBQ tests

[2022-06-14 11:41] henrikbrixandersen commented on #46180
Having to notify individual organizations through their respective, internal communication channels doesn't scale well.

[2022-06-14 11:54] cbc02009 commented on #46173
@nordic-krch should I make a separate issue for the new problems I'm facing?

[2022-06-14 11:58] martinjaeger opened #46519 "STM32F4 CAN2 peripheral not working"
**Describe the bug**

Devices like the STM32F466 have two CAN peripherals, which are closely coupled (they share memory and filters).

If CAN2 is enabled, it acts as a slave and requires CAN1 to be clocked as well. This is not done in current Zephyr driver.

Without CAN1 clock enabled, CAN2 only receives and sends garbage. This issue is also described [here](https://community.st.com/s/question/0D5

[2022-06-14 11:58] henrikbrixandersen commented on #46277
Zephyr doesn't use the `zephyr.dts` (nor the device tree blob) at runtime, so no need to load that (see https://docs.zephyrproject.org/latest/build/dts/api-usage.html#a-note-for-linux-developers). Have you tried just loading and running the `zephyr.elf` file from U-Boot?

[2022-06-14 11:59] henrikbrixandersen commented on #46410
Duplicate of  #46266.

[2022-06-14 13:52] ibirnbaum commented on #46477
As far as I can tell from this discussion, the MMIO interface is intended for mapping devices' register spaces, but what about DMA areas?

Take the Xilinx Ethernet driver, for example: the DT of the two SoC families that support it define an OCM memory area to be used for the DMA. I can obtain that physical address via a 'chosen' entry which is configurable at the board level. At the SoC level, an

[2022-06-14 14:00] ibirnbaum commented on #46477
Also, if getting rid of the mmu_regions table entirely is the eventual goal, how will we handle required mappings that are not associated with any driver, but are required for the SoC code and maybe also some driver code to work properly? For example, the Zynq maps:
- the 4k page @ 0x00000000 for the exception vectors,
- System Level Control Registers (SLCR, required by all drivers which generate

[2022-06-14 15:40] lyakh commented on #46372
@dcpleung how and where do you disable the timer interrupt? I was busy with another PR today, I'll clean up a bit and send you (or post here) my current diff, fixing this.

[2022-06-14 15:42] lyakh commented on #46372
@andyross as far as I understood an explanation somewhere, setting a bit in `PWRCTL` doesn't really do anything with the core, it only *allows* it to enter a power-save mode when idle. Logically, since it's just an automatic power-save mode, the core should be able to also leave it automatically. Which is exactly what seems to be happening.

[2022-06-14 16:36] dcpleung commented on #46477
I am all for nudging everyone to use the device MMIO API. :)

[2022-06-14 16:45] dcpleung commented on #46372
I posted a snippet a few comments above (https://github.com/zephyrproject-rtos/zephyr/issues/46372#issuecomment-1151432969). You probably won't need the re-enabling part since `smp_timer_init()` takes care of that.

[2022-06-14 17:31] palchak-google opened #46541 "Duplicate IDs used for different Systemview trace events"
**Describe the bug**
Commit 7c582f4b7c86867576a9b9a6e501404f3e18cc98 introduce a defect wherein the `k_sem_reset` event and the `k_timer_user_data_set` event are assigned the same event ID.

https://github.com/zephyrproject-rtos/zephyr/blob/7c582f4b7c86867576a9b9a6e501404f3e18cc98/subsys/tracing/sysview/tracing_sysview.h#L35

https://github.com/zephyrproject-rtos/zephyr/blob/7c582f4b7c86867576a9b9

[2022-06-14 20:26] laurenmurphyx64 commented on #46426
We also see `boards.intel_adsp.boards.intel_adsp.ipm_cavs_host` failing for CAVS15 (was already failing for 18 / 25) recently (Zephyr SHA 956d61af7b7e971d00fb30efa291d05803f586cf forward)

[2022-06-14 22:04] danieldegrasse commented on #46277
After I set the u-boot environment, I run the command
`go 0x7e0000`

To be clear, are you running `go 0x7e0000` here to boot the secondary M4 core? I'm not very familiar with this platform, but generally `bootaux` should start the auxiliary core, and `go` should be used for the application core, correct?

[2022-06-15 01:44] ck-telecom commented on #45993
@Damian-Nordic how about this?

[2022-06-15 01:58] kuikka commented on #46235
I am still seeing an issue with v3.1.0 but it looks different:

[code]

I need to dig more into this.

[2022-06-15 03:37] fabiobaltieri commented on #46541
@nashif can you look into this? Looks like we have two events with the same ID in the tracing subsys.

[2022-06-15 03:39] fabiobaltieri commented on #46519
(assigning back since there's a linked PR)

[2022-06-15 03:55] fabiobaltieri commented on #46478
@dleach02 could you look into this?

[2022-06-15 03:59] fabiobaltieri commented on #46446
Can you clarify if this is a Zephyr specific issue? From how you describe it it seems to be all contained in the LVGL module.

[2022-06-15 04:04] fabiobaltieri commented on #46434
@martinjaeger is there a PR for closing this one? (#46441 is now a draft)

[2022-06-15 04:18] fabiobaltieri commented on #46368
@aasthagr could you look into this?

[2022-06-15 04:30] fabiobaltieri commented on #46322
@str4t0m I think you wrote this one, can you look into this?

[2022-06-15 04:30] fabiobaltieri commented on #46284
Closing down since it seems solved.

[2022-06-15 04:30] #46284 closed

[2022-06-15 04:46] fabiobaltieri commented on #46199
@jacobw56 can you send [3aa006c](https://github.com/jacobw56/zephyr/commit/3aa006c51e706052a13e1db548a69347bde40b57) in the form of a Pull Request?

[2022-06-15 04:51] fabiobaltieri commented on #46312
@jhedberg any chance you could take a look or reassign this one?

[2022-06-15 05:16] aasthagr commented on #46368
Sure, I will take a look.

[2022-06-15 05:42] aasthagr commented on #46368
The testcase tests/subsys/logging/log_switch_format/logger.syst.v2.immediate does pass. It doesn't fail or is not blocked as it executes till the "PROJECT EXECUTION SUCCESSFUL" and twister does indicate it as a passing testcase. See below:

<img width="896" alt="image" src="https://user-images.githubusercontent.com/48465656/173749069-95eedaed-f384-467d-9927-5ebba1f5cd17.png">

I do see the line be

[2022-06-15 05:48] martinjaeger commented on #46434
@fabiobaltieri no, there is no PR yet, as it is not clear to me which approach will finally be taken for the Espressif pinctrl and I don't want to do the work twice.

[2022-06-15 06:00] hunterhu3000 opened #46555 "test: samples/drivers/adc twister result wrong"
**Describe the bug**
While running daily test, the test case of samples/drivers/adc is failed due to the mec172xevb_assy6906.overlay does not contain the info of adc0. This can be fixed by https://github.com/zephyrproject-rtos/zephyr/pull/46854.

But there is another issue. The logs in email "Jenkins auto test result: Github main" -> HTML-> sample.drivers.sample.drivers.adc  displays the log which

[2022-06-15 06:15] androbi-com commented on #46322
In the meantime I checked with the datasheet, the delay should indeed be 12100 (12.1ms)

[2022-06-15 06:23] caco3 opened #46556 "Bluetooth: Controller: Doc inconsistency"
There seem to be some documentation inconsistency:

1. `CONFIG_BT_CTLR_ULL_HIGH_PRIO` can be found in the docs for Zephyr `3.0.0`: https://docs.zephyrproject.org/3.0.0/search.html?q=BT_CTLR_ULL_HIGH_PRIO but can not be found in 3.1.0: https://docs.zephyrproject.org/3.1.0/search.html?q=BT_CTLR_ULL_HIGH_PRIO, see also https://github.com/zephyrproject-rtos/zephyr/discussions/46529
2. In `3.1.0` it on

[2022-06-15 06:40] caco3 opened #46558 "Bluetooth: Controller: Crash on bt_le_adv_start() when using CONFIG_BT_CTLR_ADVANCED_FEATURES"
We need to enable `CONFIG_BT_CTLR_ADVANCED_FEATURES` because we need to adjust `CONFIG_BT_CTLR_ULL_HIGH_PRIO`, see https://github.com/zephyrproject-rtos/zephyr/discussions/41401#discussioncomment-1858153

In Zephyr `3.1.0` this causes a crash in `bt_le_adv_start()`:

[code]

Note: In Zephyr `2.7.2` same code/config worked fine. I think also on Zephyr `3.0.0` it was still ok (tbc.).

@cvinayak FYI

[2022-06-15 07:03] Damian-Nordic commented on #45993
I guess we need someone with higher privileges. @carlescufi are you in charge of creating repos in zephyrproject-rtos?

[2022-06-15 07:05] #46048 closed

[2022-06-15 07:05] cvinayak commented on #46558
Use `arm-none-eabi-addr2line -e <build folder>/zephyr/zephyr.elf 0x0003eae2` to get the Faulting filename and line number.

I still suspect that some threads in your application or subsys need their stack sizes increased.

[2022-06-15 07:06] fkokosinski commented on #46301
Hi @willChuai!

To be honest, `arch/`, `soc/`, `boards/` and `'driver/` directories content look as if it should be merged into the main Zephyr tree and not kept separate in a HAL module. There is also a FreeRTOS (?) directory in `middleware/` - why is that the case?

[2022-06-15 07:13] #46519 closed

[2022-06-15 07:17] cvinayak commented on #46558
@caco3 please try with the `LL_ASSERT(!retval);` commented out in the lll_adv.c at line 802.

[2022-06-15 07:28] caco3 commented on #46558
That returns `/opt/zephyrproject-v3.1.0/zephyr/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c:490`!

[2022-06-15 07:29] brgl commented on #46446
@kisvegabor could you take a look? You helped me with `set_px_cb` before so maybe it rings a bell for you.

[2022-06-15 07:33] willChuai commented on #46301
- hpm_sdk is a development environment provided by hpmicro to complete development work on the hpmicro family of chips, so FreeRTOS and other middleware will be available in hpm_sdk.
- By introducing it as a whole into zephyr, we are mainly concerned with maintainability, so that when hpmicro releases a version, all new changes can be easily synchronised and updated into zephyr.
- The structure of

[2022-06-15 07:34] willChuai commented on #46301
- hpm_sdk is a development environment provided by hpmicro to complete development work on the hpmicro family of chips, so FreeRTOS and other middleware will be available in hpm_sdk.
- By introducing it as a whole into zephyr, we are mainly concerned with maintainability, so that when hpmicro releases a version, all new changes can be easily synchronised and updated into zephyr.
- The structure of

[2022-06-15 08:05] jhedberg commented on #46312
This sounds like a likely network stack issue, since Bluetooth shouldn’t even be aware of what’s going on in these higher protocol layers.

[2022-06-15 08:32] rlubos commented on #46312
There was a conclusion in a similar report some time ago, that the problem with TCP connection over IPSP lies on the linux side (https://github.com/zephyrproject-rtos/zephyr/issues/33185#issuecomment-799002558).

[2022-06-15 08:57] kisvegabor commented on #46446
This issue is really related to LVGL. @richesonk please open the same issue in [LVGL's repo](https://github.com/lvgl/lvgl/issues) to track it in the right place. (Feel free to just copy paste your post)

Probably you are right, and this is the root of the problem.

[2022-06-15 09:19] cvinayak commented on #46558
Did you try with the assertion commented out?

[2022-06-15 09:24] caco3 commented on #46558
yes, just tried it now.

With the line 802 disabled, I can successfully start the advertisement.
Also I then can connect to the device and disconnect again.
How ever, after the disconnect it is supposed to start the advertisement again, which then again leads to a segfault:
[code]
[code]

[2022-06-15 09:35] caco3 commented on #46558
Stack usage in first advertisement:
[code]

Stack usage while connected:
[code]

[2022-06-15 09:53] caco3 commented on #46558
Note that I stop advertisement after the connection got established: `bt_le_adv_stop();`.

If I do **not** stop it, and after the disconnect also do **not** start it again, it does not crash!

[2022-06-15 09:55] cvinayak commented on #46558
If you use the below you will get the analysis every 5 seconds and with the thread names:

[code]

Could you re-run with these and review if all the threads are listed. If any thread is not listed, I have seen those threads to have overflowed and cause troubles.

[2022-06-15 10:07] caco3 commented on #46558
ah, nice!

Stack usage in first advertisement (all my own threads are disabled):
[code]

[2022-06-15 10:13] caco3 commented on #46558
Log just before starting the advertisement the 2nd time:
[code]

[2022-06-15 10:57] glaubermaroto commented on #46434
@martinjaeger #46568 must fix this issue, could you confirm?

[2022-06-15 11:13] cvinayak commented on #46558
ok. This is a bug related to fdda91d4. I need to think on how to handle synchronizing the k_sem_give with k_sem_take when mayfly is used to deferred the k_sem_give to ULL_HIGH execution context.

I will follow up, and ping back here when I have something.

Thank you again on reporting the issue.

[2022-06-15 11:18] caco3 commented on #46558
Thank you for looking into it!

[2022-06-15 11:40] hjuul opened #46570 "Compiler warning when enabling userspace, sockets and speed optimization"
**Describe the bug**
When migrating my application from Zephyr v3.0.0 to v3.1.0 I got a compile warning.
I was able to reproduce it on a Zephyr sample application, see below.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following lines to `zephyr/samples/userspace/prod_consumer/prj.conf`:
[code]
2. `west build -d build zephyr/samples/userspace/prod_consumer -b stm32f769i_disco`
3.

[2022-06-15 11:41] carlescufi commented on #33185
@icatorze
The issue is on the Linux side, so no point in keeping track of it here in the Zephyr bug tracker system.

[2022-06-15 11:43] carlescufi commented on #46312
@icatorze closing as duplicate of #33185, the issue seems to be on the Linux side so please report it there.

[2022-06-15 11:43] #46312 closed

[2022-06-15 11:46] richesonk commented on #46446
Done. I have opened https://github.com/lvgl/lvgl/issues/3414 in the LVGL repo. Shall we close this issue, or leave it open to track picking up any changes/fixes from LVGL?

[2022-06-15 12:02] brgl commented on #46446
@richesonk the fix will have to make its way into the zephyr fork too so let's keep it open until that happens.

[2022-06-15 12:20] jeronimoagullo commented on #46072
hi @ycsin

yes, if the level is not debug (for example information), everything runs smothly. Thus, I think that it is just a matter of the debug messages.

Thank you very much

[2022-06-15 12:34] jeronimoagullo opened #46573 "raspberry pi pico always in mass storage mode"
**Describe the bug**
I am trying to use the raspberry pi pico (rpi_pico board) with Zephyr. I managed to build the blink and hello_world projects. However, when it is flash using the UF2 file (`build/zephyr/zephyr.uf2`), the raspberry pi pico resets and appears again as a mass storage device (**wihtout pressing the BOOTSEL botton**). It seems that the app or the boot2 were not flashed properly.

*

[2022-06-15 12:46] str4t0m commented on #46322
Thanks, this should be indeed `12100`. I have opened a PR that fixes it (#46574).

[2022-06-15 13:42] lyakh commented on #46372
@dcpleung but there you wrote that it wasn't a complete stable fix?

[2022-06-15 13:58] jpwright opened #46580 "Suggestion for additional configuration of `twister --coverage` gcovr formats"
**Is your enhancement proposal related to a problem? Please describe.**
I want to use twister to generate coverage reports for unit tests using gcovr in xml (cobertura) formatted output. cobertura format is required for proper integration with GitLab CI. This is supported by gcovr using the `--xml` flag, but not accessible when using `twister --coverage` which is hard-coded to call gcovr with `--j

[2022-06-15 14:00] carlescufi commented on #46580
@nashif @PerMac @gopiotr feedback?

[2022-06-15 14:11] Thalley opened #46582 "LE Audio: PACS notify warns about failure when not connected"
**Describe the bug**
When setting PACS values the stack will attempt to notify connected clients. If no clients are connected, the notification attemtps fails with an error (ENOTCONN) which we log as a BT_WARN.

**To Reproduce**
Run the unicast_server sample.

**Expected behavior**
If notifications "fail" due to not being connected to anyone, we should not log it as an error. The `if (err)` check

[2022-06-15 14:17] dcpleung commented on #46372
I made another comment about that... the test hangs simply because your diff never re-enables those CPUs. Therefore any following tests requiring other CPUs to work would simply hang.

[2022-06-15 14:28] rlubos commented on #45844
@AndreyDodonov-EH Would be good if you could give it one more try with this PR: https://github.com/zephyrproject-rtos/zephyr/pull/46584

I've tested the throughput with small window and I must say the performance is much better. Would like to see how does that server of yours resond to that :)

[2022-06-15 16:05] lyakh commented on #46372
@dcpleung You mean after the `test_cpu_halt` test? Yes, that isn't important. As long as the first two tests pass - that would be enough for me. Do they always pass for you with just that diff? If so, I'll check and comment back next week, thanks!

[2022-06-15 16:39] dcpleung commented on #46372
`test_cpu_halt` always passes on my UP X11 Extreme after disabling timer interrupt.

[2022-06-15 16:49] dcpleung commented on #46372
I believe the issue is that due the stale `cpu` number set in `arch_start_cpu()` to `start_rec`. If a CPU wakes up not due to `arch_start_cpu()` but random interrupts, the `cpu` number in `start_rec` would have the previous value. For example, `.cpu == 3` after boot. Now you power down CPU #1, and it wakes back up due to interrupts. Since `start_rec` still contains `.cpu == 3`, this means that `z_

[2022-06-15 16:50] DerekSnell commented on #46414
Hi @bbilas ,

We will test this further, but I wanted to share I followed your steps, and I did not see this issue.  The confirmed image booted just fine for me, same as the unconfirmed image.  I used Zephyr v3.1.0 with your steps.  I did build it and flash from Windows, not Linux, so we can also try that.  I also used the JLink runner to program the flash.

I did want to ask, because I have seen

[2022-06-15 18:31] DerekSnell commented on #46414
Hi @bbilas ,

A quick update, we found the newer version of imgtool is causing this issue.  I was originally using v1.7.2 which worked fine, both on Windows and Ubuntu.  But upgrading to the latest v1.9.0 causes the issue you see.

The issue looks to be in the padding and trailer that imgtool adds to the end of the image slot.  Now that we can replicate this, I'm going to try manipulating the hex

[2022-06-15 19:36] danieldegrasse commented on #46478
@jeppenodgaard What version of zephyr did you reproduce this issue on? I have tried the flash shell on both Zephyr 3.1.0 (2ddd73feafd3316af2c547c34d6969bea637d5c6) and a recent copy of the main branch (85f202744dd30baa1d42de4baca03a75e5afaa6c), and have been able to erase pages 784-793 on both revisions.

[2022-06-15 19:42] jeppenodgaard commented on #46478
I used also used https://github.com/zephyrproject-rtos/zephyr/commit/2ddd73feafd3316af2c547c34d6969bea637d5c6 and I cannot reproduce it today either. Looking at the code, would it make sense to add k_shed_lock before calling the flash api?

[2022-06-15 19:58] bbilas commented on #46414
Hi @DerekSnell,
I see the issue on my custom board and EVK board too. I've been using imgtool v1.8.0 then I tried to downgrade to the v1.7.2 but the following error occurs:

`FATAL ERROR: DT zephyr,flash node has no write-block-size; can't determine imgtool write alignment
`
when I build the `hello-world` sample with MCUBoot enabled.

OS: Arch Linux

EVK details:
`700-47858 REV X1` `SCH-47858 REV

[2022-06-15 20:01] danieldegrasse commented on #46478
The flash driver already does something similar under the hood- see [line 419 of NXP's flash driver](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/flash/flash_mcux_flexspi_nor.c#L419). The `irq_lock()` call here will block preemption by anything besides zero-latency interrupts while the flash is being erased.

[2022-06-15 20:19] kuikka commented on #46235
This turned out to be a memory issue as you suspected.

I was bitten by the 2nd argument to `k_mem_slab_free()` needing to be a `void**`. In this case a bogus "buffer" got put into the free list of the slab and then returned for the next allocation.

Thank you for your help!

[2022-06-15 20:19] #46235 closed

[2022-06-15 20:44] bbilas commented on #46414
I've applied that workaround to our build machines to use imgtool v1.7.2 and at the first look our custom board works well using a confirmed image as well as unconfirmed.

@d3zd3z @nvlsianpu Would you mind looking at it?

[2022-06-15 21:12] sylvioalves commented on #46335
@vermaabhishek-eaton, were you able to check this?

[2022-06-15 22:02] #46322 closed

[2022-06-15 22:04] kuikka commented on #46235
Just to clarify, I still see the original issue in v3.0.0 but no longer in v3.1.0 so it has been fixed on the way.

[2022-06-15 23:11] yperess commented on #46180
Sure, manually, but in this case Google already took care of the mechanism to if every org wants to provide the tools I don't see why not. It leads to much higher productivity since there's less overhead for checking and following up on two different systems.

[2022-06-15 23:12] yperess commented on #46180
@chases2 any update on this?

[2022-06-15 23:45] cvinayak commented on #46235
Thank you for following up. If the issue recurs, feel free to open a new github issue.

[2022-06-15 23:50] shaoanxli commented on #46368
Sorry maybe the description is not very accurate, this should really be the problem of twister. This problem is only seen when using the twister command.

[2022-06-16 01:50] KenMacD opened #46594 "openthread net_mgmt_event_callback expects event info."
**Describe the bug**

When a feature enables `CONFIG_NET_MGMT` (for example `CONFIG_NET_DHCPV4`) openthread will fail to compile with the error:

[code]

This is happening with version 3.0.99, but appears to be unchanged.

The [code in openthread.c](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/l2/openthread/openthread.c#L113=) is wrapped with a check for `CONFIG_NET_MGMT_EVENT

[2022-06-16 02:37] bhuvanchandra commented on #46167
Hello,
I see " https://github.com/zephyrproject-rtos/zephyr/issues/46167 - esp32: Unable to select GPIO for PWM LED driver channel " mentioned in the release notes of v3.1.0 but the commit didn't really make it into release.

[2022-06-16 04:22] ThomasFike commented on #46573
I also have this issue but on popos 22.04 LTS. The blinky example just never actually runs.

[2022-06-16 05:11] ThomasFike commented on #46573
I tried to run the elf through picotool to see if there was any info and it returned none for all fields
`thomasfike@pop-os:~/pico/picotool/build$ ./picotool info -a ~/zephyrproject/zephyr/build/zephyr/zephyr.uf2
File /home/thomasfike/zephyrproject/zephyr/build/zephyr/zephyr.uf2:

Program Information
 none

Fixed Pin Information
 none

Build Information
 none
`

[2022-06-16 05:21] easternblack opened #46596 "STM32F74X RMII interface does not work"
**Describe the bug**
Hello.

I'm testing MII & RMII controllers with stm32f745.
I have a custom board that has stm32f745 + lan9303 mii controller. lan9303 is run in un-managed state, and I tested ping to my desktop PC via NETWORK_SHELL. in this case, ping works very well.
And then, I make a test in same condition with stm32f745 + rtl8304 which is rmii controller, but it does not work.

I thought t

[2022-06-16 05:38] ThomasFike commented on #46573
In looking at the discord I found that this issue was introducted in PR #46062. This change will likely need to be reverted and solved correctly to fix this  issue for all users. I reverted the commit locally and the UF2 now works for blinky.

[2022-06-16 05:39] ThomasFike commented on #46573
In looking at the discord I found that this issue was introducted in PR #46062. This change will likely need to be reverted and solved correctly to fix this  issue for all users. I reverted the commit locally and the UF2 now works for blinky.

[2022-06-16 05:41] ThomasFike commented on #46573
In looking at the discord I found that this issue was introduced in #46062. This change will likely need to be reverted and solved correctly to fix this issue for all users. I reverted the commit locally and the UF2 now works for blinky.

[2022-06-16 05:41] ThomasFike commented on #46573
In looking at the discord I found that this issue was introduced in #46062. This change will likely need to be reverted and solved correctly to fix this issue for all users. I reverted the commit locally and the UF2 now works for blinky.

[2022-06-16 07:10] gmarull commented on #41281
We have updated clang-format and removed uncrustify in https://github.com/zephyrproject-rtos/zephyr/pull/41307

[2022-06-16 07:10] #41281 closed

[2022-06-16 07:30] jeppenodgaard commented on #46478
I see. Wasn't aware it also prevented thread switching.

To sum up where I experienced the issue:

1. With my own application using flash_img_buffered_write() in Zephyr 3.0.0.
2. zephyr/samples/drivers/flash_shell/ in Zephyr 3.0.0
3. zephyr/samples/drivers/flash_shell/ in Zephyr 3.1.0
4. On another evaluation kit.

I wonder if the `west flash -r pyocd` did something.
Still not able to reproduce to

[2022-06-16 08:01] rokobertcm opened #46598 "Logging with RTT backend on STM32WB strange behavier"
RTT backend of Loging have strange behavier. It prints out strange characters not in period 2s.
If then clear DBG_STOP flag in DBGMCU register it works better. It prints strange chars only when BLE stack start. After that it looks that it works.

To clear or not set DBG_STOP bit I was commented line 65 "LL_DBGMCU_EnableDBGStopMode();" in "zephyr/soc/arm/st_stm32/common/soc_config.c"

I'm using Mac

[2022-06-16 08:12] kruithofa commented on #42197
Issue is fixed with PR #44275 in the 3.1 release

[2022-06-16 08:12] #42197 closed

[2022-06-16 08:14] kruithofa commented on #44340
Is fixed by PR #45163 and in 3.1 release

[2022-06-16 08:14] #44340 closed

[2022-06-16 08:28] #45021 closed

[2022-06-16 08:39] ruuddw commented on #45771
See also #39740 for Zephyr roadmap for pinctrl.
To be investigated if this also applies to ARC development boards "pmodmux" feature (not pin-level, but connector level pin muxing).

[2022-06-16 08:43] ruuddw commented on #39740
For ARC emsk, with a different custom API: I'm not sure yet, need to investigate (see #45771) is pinctl would be the right solution for our connector-level pmod muxing.

[2022-06-16 09:58] tgagneret-embedded opened #46602 "BLE paring/connection issue on Windows (Zephyr 3.1.0)"
**Describe the bug**
On Windows, it is impossible to reconnect to a BLE device previously paired on Zephyr 3.1.0. It was working with Zephyr 3.0.

I'm compiling the **samples/bluetooth/peripheral_hids** project on NRF5340DK.

**To Reproduce**
Steps to reproduce the behavior:
1.west build -b nrf5340_nrf5340dk_cpuapp -d build_app samples/bluetooth/peripheral_hids
2. west flash -d build_app
3. west b

[2022-06-16 10:31] carlescufi commented on #46602
@tgagneret-embedded could you please try with the latest main? I think this was fixed between 3.1.0 and the current main.

[2022-06-16 11:07] carlescufi commented on #46602
@sjanc any idea?

[2022-06-16 11:07] carlescufi commented on #46602
@tgagneret-embedded if this is still broken in `main`, could you try and bisect to find the commit that introduced the issue please?

[2022-06-16 11:25] tgagneret-embedded commented on #46602
The issue is still there on main (416dd6cd369786dad096522715d16eb8712b2f68).

I didn't bissect, but debugging I saw that the code in smp_ident_addr_info could cause the issue.

For Windows, zephyr find a key when calling bt_keys_find_addr. So it calls bt_keys_clear. Thus when calling bt_keys_store, key is wrong. Using "git blame", reverting e11ff7df48bce7c98b05ff1626448cd8ab3d82c0 makes it work.

[2022-06-16 12:22] andyross commented on #46372
That makes a ton of sense to me.  Nice.

FWIW: I still think that this means the root cause is that the core is failing to enter a power gated state.  Is there a hardware mechanism to verify that?

[2022-06-16 16:34] karold2412 opened #46615 "drivers: lps25hb driver returning wrong fractional part of a pressure"
During my work with lps25hb pressure sensor I have faced problem that fractional part of the measurement is completely wrong. During debug I figured out that we are probably overflowing `int32_t` range during computations in this function:
![lps25hb_problem](https://user-images.githubusercontent.com/84409421/174118806-95ddf518-1736-4d2d-946f-45f3a504f689.png)
Since this sensor is returning 24 bit

[2022-06-16 16:37] carlescufi commented on #46556
I am not sure if this is a Kconfig doc issue or an actual Bluetooth controller problem.

[2022-06-16 16:48] yonsch commented on #46573
Hi @jeronimoagullo and @ThomasFike , this bug was introduced very recently, as you said. #46616 should fix it.

[2022-06-16 16:54] stephanosio commented on #46180
Installed in the `zephyrproject-rtos` organisation with read-only access to the `zephyr` repository.

Security risks are minimal since it only has read access to a public repository.

[2022-06-16 16:54] #46180 closed

[2022-06-16 17:25] stephanosio opened #46621 "drivers: i2c: Infinite recursion in driver unregister function"
**Describe the bug**

The `z_vrfy_i2c_slave_driver_unregister` function calls itself when it is supposed to call `z_impl_i2c_slave_driver_unregister`.

https://github.com/zephyrproject-rtos/zephyr/blob/fb60aab2458684f347533cba3658c89757580932/drivers/i2c/i2c_handlers.c#L81-L86

[2022-06-16 17:25] #46621 closed

[2022-06-16 18:15] keith-zephyr opened #46623 "Promote user "tari" to traige permission level"
# Background

The [TSC Project Roles] defines the main roles for the Zephyr Project, including
Maintainer, Collaborator, and Contributor.

By default anyone that contributes code or documentation is a Contributor, but
with the lowest [GitHub Permission Level] of Read. For example, Contributors
with Read permission do not have the permission to add reviewers to a pull
request.

Use this template to

[2022-06-16 18:15] keith-zephyr commented on #46623
@tari for visibility.

[2022-06-16 18:19] stephanosio commented on #46623
Added as a contributor with triage permission.

[2022-06-16 18:19] #46623 closed

[2022-06-16 19:04] ordonezt opened #46626 "USB CDC ACM Sample Application build fail with stm32_mini_dev_blue board"
**Describe the bug**
USB CDC ACM sample fails to build for the stm32_mini_dev_blue board

To fix it just set "zephyr_udc0" as node label for the usb node like this:
(zephyr\boards\arm\stm32_min_dev\stm32_min_dev.dtsi)
[code]

**To Reproduce**
1. west build -b stm32_min_dev_blue zephyr\samples\subsys\usb\cdc_acm
2. See error

**Expected behavior**
Successfully build.

**Logs and console output**
[c

[2022-06-16 20:13] #46459 closed

[2022-06-16 21:22] blainerothrock commented on #18551
Same here.

[2022-06-16 22:03] #45039 closed

[2022-06-16 22:49] yerabolu opened #46632 "Intel CAVS: Assertion failures in tests/boards/intel_adsp/hda"
**Describe the bug**
Assertion failures on boards.intel_adsp.hda_host_out_smoke and boards.intel_adsp.1cpu.hda_host_out_smoke tests.

Please also mention any information which could help others to understand
the problem you're facing:
 - intel_adsp_cavs15, intel_adsp_cavs18 and intel_adsp_cavs25

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W --hardware-map /home/ztest/cavs/cavs.m

[2022-06-17 01:25] hunterhu3000 commented on #46208
@RuibinChang It is strange that on my side https://github.com/zephyrproject-rtos/zephyr/commit/b9e833366f1360ecbad8776d6e8587e180688e1b cannot fix the problem.

But 985bdcd0766748409d09a0d72d260d869e534506 fixes the problem. I wonder if it is related to the compiler.

[2022-06-17 01:41] hunterhu3000 commented on #46066
We use the " not CONFIG_BUILD_WITH_TFM" to by pass the mps2_an521_ns board.

[2022-06-17 01:41] #46066 closed

[2022-06-17 01:42] hunterhu3000 commented on #45914
Close fixed

[2022-06-17 02:25] hunterhu3000 commented on #46206
The problem can be fixed by 86c45b7e12b38fbb1201fe65bc2f8f90c9bf7b95

But the test of
[code]
still fail. Could you please check if CONFIG_STACK_SENTINEL=y on ITE board? Thanks

[2022-06-17 02:41] RuibinChang commented on #46206
After running the cmd `west build -p always -b it8xxx2_evb tests/kernel/fatal/exception/`, all configurations of it8xxx2_evb board are list in `build/zephyr/.config`, and I see CONFIG_STACK_SENTINEL is not set.

[2022-06-17 03:27] RuibinChang commented on #46324
Running `west build -p always -b it8xxx2_evb tests/kernel/sched/schedule_api` on SDK v0.14.2 and commit f232db463078ff3e8a85ceeb9e9fcc0c14e141e3, the 10 times result of schedule_api are pass.

[2022-06-17 04:36] cvinayak commented on #46556
This is not Bluetooth Controller problem, the Kconfigs are common to both v3.0.0 and v3.1.0 releases.

1. The documentation search no longer finds Kconfigs in the v3.1.0 documentation.
2. The Kconfig options section in documentation only find the non-hidden Kconfigs in v3.1.0 documentation.

In comparison, v3.0.0 can find all Kconfigs (non-hidden and hidden) in the documentation search available i

[2022-06-17 05:33] enjiamai commented on #45929
Summary the current issues when CONFIG_UART_CONSOLE is unset:

1. **use printk in ISR context**
tests/kernel/interrupt/     => print in kernel_isr

2. **stuck at k_sleep or k_sem_take ( actually in z_pend_curr())**
tests/posix/common/	     => u_sleep hang up
tests/kernel/semaphore/sys_sem/		=> k_msleep hang up after ztest error hook.
samples/subsys/portability/cmsis_rtos_v1/philosophers/ =>  stuck

[2022-06-17 06:04] cvinayak commented on #46558
@caco3 Please the fix in this PR https://github.com/zephyrproject-rtos/zephyr/pull/46633 and reverrt back if there are further issues

[2022-06-17 07:06] shaoanxli opened #46635 "tests: subsys: modbus: testcase hang up when running by twister"
**Describe the bug**
When running tests/subsys/modbus with twister command , the twister process blocks and shows "Waiting for device frdm_k64f to become available".

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p frdm_k64f --device-testing --hardware-map map.yml -T tests/subsys/modbus/   -vv
3. See the blocked process.

**Expected behavior**
The test shoul

[2022-06-17 08:04] carlescufi commented on #46556
Closing with explanation from @cvinayak and @gmarull, thanks both!

[2022-06-17 08:04] #46556 closed

[2022-06-17 08:16] caco3 commented on #46556
Thanks for the explanations!

Personally I think it is rater odd that a parameter shows references to other parameters with a link but then the new page does not provide new information. It would be more consistent if those hidden parameters would have no link.
But I understand that this might not be trivial to improve.

[2022-06-17 09:54] FRASTM opened #46641 "tests : kernel: context test_kernel_cpu_idle fails on nucleo_f091 board"
**Describe the bug**
When executing the tests/kernel/context on the nucleo_f091rc board, the test_kernel_cpu_idle fails because the interrupt comes sooner than 1 millsecond which is the timer delay to wakeUp.

Please also mention any information which could help others to understand
the problem you're facing:
 - nucleo_f091rc hardware

Similar to https://github.com/zephyrproject-rtos/zephyr/issues

[2022-06-17 10:06] FRASTM commented on #46641
--> In this config, the test always pass when CONFIG_SYS_CLOCK_TICKS_PER_SEC<10000 (default value)  (for example the test is successful with  9999 !)
The idle_timer correctly expires. (5 times calling idle_timer_expiry_function).
Else the idle_timer_expiry_function is called 2 times and test reports a failure

[2022-06-17 11:18] #46602 closed

[2022-06-17 11:49] caco3 opened #46645 "NRFX samples use deprecated API"
Zephyr `3.0.0` uses the NRFX module in version `2.7.0`. In that version `nrfx_gpiote_in_init()` got marked as deprecated, see https://github.com/NordicSemiconductor/nrfx/blob/v2.7.0/drivers/include/nrfx_gpiote.h#L634.
How ever the samples still use the deprectaed API instead of showing how to use the new API, see https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/boards/nrf/nrfx/src/ma

[2022-06-17 12:12] rodrigopex commented on #45910
Now it is possible to make a channel dynamic. There is a sample showing how to do that: dyn_channel. I have added the possibility of claiming the channel’s message and performing some actions while it is claimed. After using that, the developer must call the finish function. The idea is similar to ring buffers.

[2022-06-17 12:15] martinjaeger commented on #44725
@FRASTM I think the issue you stated and the original issue described by @henrikbrixandersen cannot be related as the STM32G474 has the M_CAN IP, whereas this error is in the bxCAN driver for "older" STM32 MCUs.

I've just been working on the bxCAN driver for #46646, so I can have a closer look at this issue after that PR was merged.

[2022-06-17 12:50] enjiamai commented on #45105
Got the root cause. This happens only when CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC > the actually HW clock. That's why it only happens on one board which has lower clock frequency. It is not a zephyr bug. So close it.

[2022-06-17 12:50] #45105 closed

[2022-06-17 12:51] mniestroj opened #46650 "qemu_x86: shell does not work with tip of main"
**Describe the bug**
Shell sample no longer works with `qemu_x86`.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -b qemu_x86 samples/subsys/shell/shell_module -t run`
2. Booting hangs somewhere in ns16550 driver and all is seen is this:
[code]

**Expected behavior**
Shell with `qemu_x86` should work.

**Impact**
Showstopper for using qemu_x86 with shell.

**Environment (please

[2022-06-17 12:52] mniestroj commented on #46650
git bisect shows 4c8a8149de0705c9aaa498ae3c228349c9fe9a3e (part of #46571). cc @gmarull

[2022-06-17 13:43] andyross commented on #45929
Do you have specifics on which tests fail?  It's likely to be specific tests that (1) do something while in a masked context that latches an interrupt and (2) do a printk(), which releases the interrupt lock and allows the interrupt to happen early.  Then later on something else happens that gets confused by the resulting corrupt state.  In those situations, I think the only reasonable workaround

[2022-06-17 14:51] FRASTM commented on #46641
Instead of synchronizing on each loop, the tick sync comes ones after the timer init.

[code]

[2022-06-17 15:29] aralex1 opened #46656 "Scheduling timing issue"
Hi everyone, my teammates and I are having a scheduling issue with our implementation. We have 3 K_ESSENTIAL threads with different priorities.
The highest priority thread (Thigh) has the numerical priority 2.
The middle priority thread (Tmid) has the numerical priority 7.
The lowest priority thread (Tlow) has the numerical priority 12.

The only thread that is allowed to do blocking calls is Tlow

[2022-06-17 15:34] teburd opened #46658 "RTIO Improvements"
- [ ] rtio_sqe_suspend when the needed iodev is busy to inform the executor to suspend the chain
- [ ] add test for rtio_submit with active queue already in progress (should mark the queue correctly but not start the callback chain)
- [ ] RTIO_OP_PIPE_FLUSH io_uring equivalent to wait on all prior submissions
- [ ] Tests and code simplification for suspending of threads on submit or cq consume.
-

[2022-06-17 15:45] #46650 closed

[2022-06-17 16:06] keith-zephyr commented on #46623
Thanks for the quick response.  However, I am still unable to add @tari as a reviewer on an existing PR.  Are there other permissions that must be granted?

[2022-06-17 16:38] stephanosio commented on #46623
It seems @tari has not accepted the invitation yet.

[2022-06-17 16:40] keith-zephyr commented on #46623
Ok, thank you for the clarification.

[2022-06-18 04:52] ceolin commented on #27585
I am closing this because it is evaluation is completely outdated. The PM subsystem now does more things that used to do, some of these things can be overwritten by the application which makes this re-use of the IRQ stack even more complex. Some items to mentions:
 - Send notifications about states transitions (done through provided callbacks)
 - Calls the policy asking which power state should be

[2022-06-18 04:52] #27585 closed

[2022-06-18 16:04] AndreyDodonov-EH commented on #45844
@rlubos

I tried your PR https://github.com/zephyrproject-rtos/zephyr/pull/46584, and with both local HTTP and remote HTTPS everything works nicely!
Downloading 1MB from local host HTTP in chunks of 1KB takes ca. 9 seconds now!
Also no missing bytes in download from remote HTTPS server. I also observed ca. 20% speed-up compared to 2.7.99.

[2022-06-18 20:59] Mani-Sadhasivam commented on #45678
Closing this issue since we already have a solution in mainline. Please reopen if you face any further issue, thanks!

[2022-06-18 20:59] #45678 closed

[2022-06-19 07:52] DariusBabrauskas commented on #46656
Hi.
What you mean "spins waiting for the flag from Tmed"?
Is this flag is kernel object or global variable?
What is QP?  It's kernel object?
Better part of code.

[2022-06-19 12:38] andyross commented on #46656
Sorry, just now noticing this had been submitted here.  What you describe should definitely work, can you trim it down and submit code that exercises it?  If I had to guess, what's happening is that there is confusion about what the thread priorities are (e.g. the low priority thread might be cooperative, or as @peter-mitsis suggested in discord might have had its priority boosted by the use of k_

[2022-06-20 02:11] ck-telecom opened #46678 "modules: mbedtls: add X509 configuration support"
**Is your enhancement proposal related to a problem? Please describe.**
add more X509 configuration like:
MBEDTLS_X509_CREATE_C
MBEDTLS_X509_CSR_WRITE_C
...

**Describe the solution you'd like**
add more configuration in file modules/mbedtls/Kconfig.tls-generic

**Describe alternatives you've considered**

**Additional context**

[2022-06-20 06:56] danielskatt commented on #46497
There is an exciting pull request regarding this issue waiting for review here
https://github.com/zephyrproject-rtos/zephyr/pull/46498

[2022-06-20 07:57] honestech74 opened #46684 "ethernet: w5500: driver will be stack overflowed when reading the invalid(corrupt) packet length"
**Describe the bug**
The current w5500 driver will halt(BUS FAULT or MPU FAULT) when reading the bad frame length. I am not sure if it's when there is some noise on SPI lines or when reading the invalid frame length somehow.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
    `nrf52840-dk` and `w5500` modu

[2022-06-20 08:11] PerMac commented on #46580
I am not experienced with gcovr. If you consider there are other useful option which a user might want to use then 2.) seems the way to go. If not really, 1.) might be enough.

[2022-06-20 08:27] #46558 closed

[2022-06-20 09:21] FRASTM commented on #46641
@danieldegrasse could please have a look

[2022-06-20 10:00] jori-nordic commented on #43811
@closatt good to hear. Something else needed attention the past week, but I'll try to merge that patch this week.

[2022-06-20 10:10] lyakh commented on #46372
@dcpleung exactly, that's why my "fixes" are full of `s/_current_cpu->id/prid()/g` to catch those cases and send the offending core back to sleep. I tested your diff and indeed it also fixes the problem with the (modified) Zephyr "smoke" test as well as the SOF problem on TGL (UP-Xtreme i11). Then I went back to the original Gimble problem and there your fix appears to be insufficient, whereas my

[2022-06-20 11:20] asarbs opened #46689 "Missing handling of DISK_IOCTL_CTRL_SYNC in sdmmc_ioctl"
**Describe the bug**

When I'm using fs_sync i receive  "fs: file sync error (-5)" on mimxrt1020_evk with SD Card. After investigation is teams that

[code]
do not handle DISK_IOCTL_CTRL_SYNC from
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. unsigned int rec = fs_open(&file, _fname, flags);
2. int r = fs_write(&file, buffer, len);
3. r = fs_sync(&file);
4. See error

**Expected beha

[2022-06-20 12:29] erbr-ot opened #46694 "Bluetooth: controller: LLCP: missing release of tx nodes on disconnect when tx data paused"
If a disconnect happens while tx of data is paused in LLCP, and there is data waiting to be tx'ed, these tx nodes will not be release during flush

Was provoked by executing the Sweyntooth::zephyr_invalid_sequence.py script towards a Zephyr bt-shell app peripheral

[2022-06-20 12:58] hermabe opened #46695 "Bluetooth: Host: Automatically subscribe to Service Changed Indications"
**Is your enhancement proposal related to a problem? Please describe.**
Core Spec Version 5.3 | Vol 3, Part G, Section 7.1 SERVICE CHANGED states:

Characteristic Configuration descriptor by a client. Indications caused by
changes to the Service Changed Characteristic Value shall be considered lost
if the client has erroneously not enabled indications in the Client Characteristic
Configuration des

[2022-06-20 13:58] luchnikov opened #46697 "Missed interrupts in NXP RT685 GPIO driver"
**Describe the bug**
A problem exists in drivers/gpio/gpio_mcux_lpc.c; it is apparent by code inspection

If 2 or more pins in the same GPIO bank are configured as interrupts (e.g. pins X and Y) and if ISR gets called for an event on pin X but another event occurs on pin Y in between the call to GetStatus() and ClrStatus(), pin Y event gets cleared without being processed

**To Reproduce**
Run a s

[2022-06-20 14:15] lairdjm opened #46698 "sm351 driver faults when using global thread"
**Describe the bug**
The sm351 sensor faults with an MPU access fault when using triggering on the global thread

**To Reproduce**
Build with global thread triggering support and enable MPU

**Expected behavior**
The driver to work

**Environment (please complete the following information):**
 - Commit SHA or Version used: d5e37638b2b7439bbf0352cb72eb0422a3f1f6c9

[2022-06-20 15:24] cfriedt opened #46705 "Check buffer size in rx"
**Describe the bug**
There is a missing check for buffer length

**To Reproduce**
Just examined code briefly.

**Expected behavior**
Works as usual

**Impact**
Annoyance

**Logs and console output**

**Environment (please complete the following information):**
 - OS: macOS
 - Toolchain Zephyr SDK
 - Commit SHA: a78e7c5c90d8cb31ec550ce289503bd698675585

**Additional context**

[2022-06-20 15:30] cfriedt opened #46706 "add missing checks for segment number"
**Describe the bug**
When receiving Transaction Start PDU, assure that number of segments
needed to send a Provisioning PDU with TotalLength size is equal to SegN
value provided in the Transaction Start PDU.

Please also mention any information which could help others to understand
**To Reproduce**

**Expected behavior**
Works as usual

**Impact**
Annoyance

**Logs and console output**

**Environm

[2022-06-21 03:56] yajunzhi opened #46717 "L2CAP ECRED feature should support response with result code 0x000D defined in core stack 5.3 spec"
About
For test case L2CAP/ECFC/BV-43-C and L2CAP/ECFC/BV-44-C,  it need to response with result 0x000F or 0x000D, and then perform user authorization after sending connection response.
After authorization, also need send response packet. And the request sending device should  waiting for connection response.
The procedure is like BR/EDR connection.

If zephyr protocol stack can consider adding thi

[2022-06-21 07:28] hermabe commented on #46717
Do note that there is an open TSE for these to tests: https://www.bluetooth.org/tse/errata_view.cfm?errata_id=18351.

[2022-06-21 08:37] andrzej-kaczmarek opened #46721 "HAL module request: hal_renesas"
## Origin

New repository that will contain required parts of Renesas SDKs (currently
available for registered user only) for supported MCUs.

## Purpose

Provides HAL and/or supporting code for Renesas MCUs.

## Mode of integration

Integrate as a HAL module, i.e. hal_renesas.

## Pull Request

https://github.com/zephyrproject-rtos/zephyr/pull/46720

## Description

This provides relevant SDK fil

[2022-06-21 08:38] andrzej-kaczmarek commented on #46721
PR to add support for Renesas DA1469x: https://github.com/zephyrproject-rtos/zephyr/pull/46720

[2022-06-21 08:40] andrzej-kaczmarek commented on #46721
@blauret @NiekIlmer FYI

[2022-06-21 09:06] Thalley commented on #46395
Removed the bug label: It's not really a bug, but a missing feature.

[2022-06-21 09:40] johnkjellberg opened #46725 "stm32: QSPI flash driver have a broken priority configuration"
I was looking through the source code of `flash_stm32_qspi.c` and I noticed that `Priority` is set wrong. In line
1106 `hdma.Init.Priority = dma_cfg.channel_priority;`

the value is set base on the `STM32_DMA_CONFIG_PRIORITY` macro. This however creates a value with bits 0 and 1. But the HAL API expects bit matching the MCU registers, i.e shifted up to match the values in `DMA_PRIORITY_LOW` `DMA_P

[2022-06-21 11:34] bbilas opened #46728 "mcumgr: rt1060: upload an image over the shell does not work"
**Describe the bug**
MCUMGR doesn't upload an image over the shell.

**To Reproduce**
Steps to reproduce the behavior:
1.` west build -p -b mimxrt1060_evk -d build-mcuboot bootloader/mcuboot/boot/zephyr`
2. `west flash -d build-mcuboot`
3.` est build -p -b mimxrt1060_evk -d build-hello-world samples/hello_world/ -- -DCONFIG_BOOTLOADER_MCUBOOT=y -DCONFIG_MCUBOOT_GENERATE_CONFIRMED_IMAGE=y -DCONFIG_

[2022-06-21 11:50] #46728 closed

[2022-06-21 12:22] carlescufi commented on #46721
Thanks, can you confirm that you will maintain this HAL for the foreseeable future?

[2022-06-21 12:27] aralex1 commented on #46656
Hi,
@DariusBabrauskas, It is a global flag that is only controlled/modified by Tmed. Tlow only reads it spinning on a while loop.
QP is Quantum Leaps. I should have been more specific with this. The only reason why I mentioned this is because the system uses QP for its Active Objects and peripheral HSMs and the ideology of using messages to communicate between them.

@andyross, I am sorry if I sho

[2022-06-21 12:49] radovano-xlnx opened #46733 "ipc_rpmsg_static_vrings creates unaligned TX virtqueues"
The following code in ipc_rpmsg_static_vrings.c:

[code]

https://github.com/zephyrproject-rtos/zephyr/blob/f9d69c34c9d003e99a026ee2a0da9c634e9598c7/subsys/ipc/ipc_service/backends/ipc_rpmsg_static_vrings.c#L242

sets up SHM locations for RX and TX virtqueues used for IPC.

However, since a virtqueue ends with a 16 bit field (`avail_event`), i.e. `vring_size()` is `foo + sizeof(uint16_t)`, `tx_add

[2022-06-21 13:09] vermaabhishek-eaton commented on #46335
yes, it is working with zephyr v_3.1.0 using zephyr sdk.

[2022-06-21 13:09] #46335 closed

[2022-06-21 13:12] johnkjellberg opened #46734 "drivers/disk: sdmmc: Doesn't compile for STM32F4"
**Describe the bug**

Commit #45023 broke SDMMC driver for STM32F4.

`SDMMC_BUS_WIDE_1B`, `SDMMC_BUS_WIDE_4B`and `SDMMC_BUS_WIDE_8B` on for example STM32F4 is using `SDIO_` prefix instead of `SDMMC_`, and thus the compilation breaks after this change.

[2022-06-21 13:53] superna9999 commented on #25382
This has been implemented and merged in #38106

[2022-06-21 13:53] #25382 closed

[2022-06-21 13:54] lyakh commented on #46372
@dcpleung I've updated #46587 - it's a 2-liner now essentially. That fixes this bug for me.

[2022-06-21 13:54] FRASTM opened #46740 "stm32 flash ospi fails on stm32l5 and stm32u5 disco"
**Describe the bug**
When testing the samples/drivers/spi_flash on b_u585i_iot02a or stm32l562e_dk
the error occurs : "SPI flash driver MX25LM51245 was not found!"

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b stm32l562e_dk samples/drivers/spi_flash
2. west flash
3. See error

**Expected behavior**
[code]

**Impact**
regression after the merge of the https://github.co

[2022-06-21 14:03] FRASTM commented on #46740
In the stm32_ospi_write_enable() function, two commands are issued to the octoflash
1.  with SPI_NOR_(O)CMD_WREN instruction
2.  with SPI_NOR_(O)CMD_RDSR instruction
In between some s_command parameters should be updated : .AddressMode, .DataMode

Also, I suspect a pb with the command.AddressSize and the stm32_ospi_hal_address_size and an erronous init ( 24 bit where 32 bits should be detected)

[2022-06-21 14:13] FRASTM commented on #46740
see branch https://github.com/FRASTM/zephyr/tree/fix_ospi

[2022-06-21 15:18] kv2019i commented on #46378
@nashif  @fabiobaltieri  @ceolin I propose to bump the priority of this bug. With bug, https://github.com/thesofproject/sof/issues/5921 , the sys-tick setting also impacts the k_timer behaviour and this led to subtle but severe audio quality issues.

[2022-06-21 15:36] andyross commented on #46656
Creating bugs is fine!  But if you do that, you're sort of honor-bound to help us out with exerciser code, etc...  No reason not to leave this open for a bit, just keep us updated.

[2022-06-21 16:15] #46706 closed

[2022-06-21 16:16] #46705 closed

[2022-06-21 16:23] mmahadevan108 commented on #46656
cc @peter-mitsis

[2022-06-21 16:34] fabiobaltieri commented on #46573
Maybe related to https://github.com/zephyrproject-rtos/zephyr/pull/46616?

[2022-06-21 16:37] dcpleung commented on #46372
Hm... there is another issue since the cores are waking up "randomly". Since we are using the same stack for all cores, if multiple cores are waking up at the same time, they are going to overwrite the stack and possibly crashing the other core.

[2022-06-21 20:14] carlocaione opened #46749 "mbox: wrong syscall check"
The syscall check is done using a wrong function name.

[2022-06-21 20:14] #46749 closed

[2022-06-21 20:17] nashif commented on #46555
what is that? Please provide all information in the bug report. It is not clear what the results you are getting and what you are expecting and why this is an issue with twister and not with the test/platform itself.

[2022-06-21 21:37] DariusBabrauskas commented on #46656
Maybe need try to replace flag global variable with binary semaphore.

[2022-06-21 23:44] cvinayak opened #46757 "Bluetooth: Controller: Missing validation of unsupported PHY when performing PHY update"
**Describe the bug**
PHY update procedure is missing implementation to handle unsupported PHY requested by peer central device.
PHY update complete should not be generated to Host, connection is maintained on the old PHY and the Controller should not respond to PDUs received on the unsupported PHY.

This bug lead to failure of latest conformance tests (new testcases added in test suite).

**To Rep

[2022-06-22 01:29] yajunzhi commented on #46717
Got it.
That is to say, the code could be modified when the TSE is closed.

[2022-06-22 01:48] shaoanxli commented on #46635
https://github.com/zephyrproject-rtos/zephyr/pull/46599

This is not the root cause of this twister bug , so I close it. I think if we do not add fixture to hardware-map , the twister may log warning "should add fixture to hardware-map file", and skip this test.

[2022-06-22 01:56] cfriedt opened #46758 "Replacement for Civetweb"
## Introduction

This (previously an RFC) is intended to be discussed by network subsystem maintainers, the TSC, and existing users of the [Civetweb module](https://github.com/zephyrproject-rtos/civetweb).

The replacement for Civetweb **must** be ready for LTSv3 (Civetweb was available in LTSv2, and we should have a suitable replacement for LTSv3). However, ideally, this would be completed as soo

[2022-06-22 02:04] cfriedt commented on #46758
Just putting this out there for some early feedback, since we have a PR to remove civetweb already.

@mbolivar, @beriberikix, @rlubos

I'm not really sure which option is better, TBH. An HTTP server as a module has been problematic in the past, but a custom one could be a fair amount of work with all of the "nice to have" features. OTOH, an HTTP server that has been around for a long time has been

[2022-06-22 02:09] cfriedt commented on #46758
Approximate state machine for single-threaded "select" model (really uses poll)
![phd](https://user-images.githubusercontent.com/983494/174928129-ba71a4c3-01be-4981-b576-b2119887d48b.png)

[2022-06-22 03:08] hakehuang commented on #46635
@shaoanxli  shall we close this issue? it is the test setting issue. or will you create a poll request to add the harness?

[2022-06-22 04:07] mbolivar-nordic opened #46759 "Process: release criteria for v3.3 and later"
This issue covers new processes for releases v3.3 and later.

The main slide deck with the final proposal for the TSC, along with justifications, is here:

https://docs.google.com/presentation/d/10Q-B0Upv1bBaoQRNM5n9yUEMeXO6NINnFNDkA86RCsM/

Please especially review slide 9, which contains the following new release criteria. (For more information on support tiers, see https://github.com/zephyrproj

[2022-06-22 04:13] shaoanxli commented on #46635
I think it is fine to close this issue. This pr may fix this #45263 .

[2022-06-22 04:36] beriberikix commented on #46758
Here's a use case that might help in scoping - browser-based device setup. Common for Wi-Fi consumer IoT product, the typical flow is the product tells the consumer to look for the device's local network, connect to an IP or DNS-SD address and enter their network credentials (loosely described [here](https://github.com/golioth/golioth-zephyr-sdk/issues/70).)

The requirements are fairly modest as

[2022-06-22 04:43] beriberikix commented on #46758
Additional ideas:

Would it make sense to support an optional FS or other way to serve binary assets? For developer convenience I can imagine someone wanting a way to upload assets like HTML, CSS, JS & images into a "directory" and simply point the server to it ala `/www`.

Adding a shell would be a nice-to-have, like the ability to start/stop/clear cache, etc.

CBOR for the RESTful aspects would

[2022-06-22 04:57] nordic-krch opened #46761 "logging: tagged arguments feature does not work with char arrays in C++"
**Describe the bug**
When tagged argument feature is enabled and `log_strdup` functionality was removed in #46680, `log_api` test started to fail in C++ configuration in the case where `char []` is passed as an argument. Test starts to pass when variable is casted to `char *`. In the #46680 I've added this cast to make the CI green but it just hides this issue.

https://github.com/zephyrproject-rt

[2022-06-22 05:29] ceolin commented on #46378
The priority makes sense to me.

[2022-06-22 05:31] #46635 closed

[2022-06-22 07:40] Thalley opened #46763 "LE Audio: Unicast Audio read PAC location"
**Is your enhancement proposal related to a problem? Please describe.**
The BAP unicast client should read the PAC location, if available, on the unicast server.

**Describe the solution you'd like**
We are already reading context as part of the discovery procedure; consider doing the same for location.

**Describe alternatives you've considered**
It can also be read explicitly using a new functio

[2022-06-22 07:48] hakehuang opened #46765 "test-ci: kernel.timer: test_timer_remaining asserts"
**Describe the bug**
test_timer_remaining test fails on mimxrt595_evk_cm33

    ===================================================================
    START - test_timer_remaining

        Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/timer/timer_api/src/main.c:718: test_timer_remaining: (abs(delta_ticks) <= MAX(slew_ticks, 1U) is false)
    tick/busy slew -2 larger than test threshold 0

[2022-06-22 09:47] joerchan commented on #43249
@nandojve As far as I can see the problem is still there. Your reproduce point is a bit vague, would you be able to clarify, perhaps by providing a change to a zephyr sample that would lead to the error?

[2022-06-22 09:54] FRASTM commented on #46725
@johnkjellberg  could you please review the PR

[2022-06-22 10:02] jeronimoagullo commented on #46573
Hi @ThomasFike, @yonsch and @fabiobaltieri

I have just tested the #46616 locally (copying the changes to the repective CMakeLists.txt files) and it works smoothly. I will wait to the approval of this commit. Once, it occurs, I will close this issue.

Thank you very much for the support.

[2022-06-22 10:16] povergoing commented on #2746
Hi all,
Out of curiosity, is there any timeline or plan, or deadline for this feature?
But are there any conflicts between this `dynamic modules `feature and the descriptions [here ](https://docs.zephyrproject.org/latest/security/security-overview.html#current-security-definition)

[2022-06-22 10:19] rlubos commented on #46594
@KenMacD I've submitted a PR that fixes the build error in case `CONFIG_NET_MGMT_EVENT_INFO` is disabled. I've originally wanted to enforce `NET_MGMT`/`NET_MGMT_EVENT`/`NET_MGMT_EVENT_INFO` with select when OpenThread is enabled, but it's not really viable since not all applications would need this (for instance RCP). Therefore it should be application responsibility to enable them if needed.

[2022-06-22 10:24] #42574 closed

[2022-06-22 11:37] sylvioalves commented on #46325
@sam131208 Can you retry using latest main?

[2022-06-22 13:09] #46157 closed

[2022-06-22 13:29] aralex1 commented on #46656
@DariusBabrauskas thank you for the suggestion. We did try that approach and it worked by providing the expected timing result. However, this solution will be a bandage and it doesn't tell us if we are having a scheduling issue with our implementation and that's why we are still digging into it.

[2022-06-22 13:55] peter-mitsis commented on #46656
@aralex1 - Would you happen to have a version that replicates the problem that you can share? Even a stripped down version would be welcome. It would greatly help to narrow down the set of possible errors.

[2022-06-22 15:26] #45807 closed

[2022-06-22 15:26] #43910 closed

[2022-06-22 15:27] mbolivar-nordic commented on #34226
"Fixed" by the removal of civetweb. See  #46746 for more details. Thanks for taking the time to file an issue and sorry for the inconvenience.

[2022-06-22 15:28] mbolivar-nordic commented on #45807
"Fixed" by the removal of civetweb. See  #46746 for more details. Thanks for taking the time to file an issue and sorry for the inconvenience.

[2022-06-22 15:49] cfriedt opened #46793 "tests: posix: use new ztest api"
**Is your enhancement proposal related to a problem? Please describe.**
Convert posix tests to new Ztest API

**Describe the solution you'd like**
New Ztest API

**Describe alternatives you've considered**

**Additional context**
Call-out from TSC meeting on 2022-06-22 for maintainers to update test suites.

[2022-06-22 16:18] carlocaione opened #46796 "IRQ vector table"
**Describe the bug**
A clear and concise description of what the bug is.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 - What have you tried to diagnose or workaround this issue?
 - ...

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See

[2022-06-22 16:28] pcmont opened #46797 "UART Asynchronous API continuous data receiving weird behaviour"
Hi all,

I'm having problems receiving data from UART using Zephyr Asynchronous API. I've read documentation from [UART — Zephyr Project Documentation](https://docs.zephyrproject.org/latest/hardware/peripherals/uart.html#uart-async-api) and I think I understand how UART API new buffer requests work, to have always a seamless data receiving.

I'm providing 40 bytes length buffers. When sending from

[2022-06-22 16:33] jilu-ot opened #46798 "Zephyr does not store a new IRK when another device re-bonds with a Zephyr device"
**Describe the bug**

This issue has been observed when pairing an Android 13 device with a Zephyr 2.2.1 device using privacy and secure connections. The problem is probably also present in Android 12 devices with a security patch from June 2022.

The Zephyr function ull_filter_rl_find in ull_filter.c searches the controller's resolve list for an identity address and returns the resolve list index

[2022-06-22 16:38] mbolivar-nordic commented on #46759
Process WG:

- @mbolivar-nordic : review of issue and request for additional items
- @nashif: this relates to a more general discussion of issue management in general, and release criteria in particular. Not sure if having numbers in place for release criteria gives value. E.g. if you have 51 lows and you need 50, how do you decide what to fix? This is not how quality should be managed. We introdu

[2022-06-22 16:47] mbolivar-nordic opened #46800 "TSC Structure and composition"
This issue covers an open discussion around the structure of the TSC.

The purpose of the discussion is to align on goals within the WG and determine if we want to make recommendations for changes at the next TSC F2F.

[2022-06-22 21:16] richesonk commented on #46446
@brgl I posted a patch in the linked LVGL issue that implements rotation support as recommended by @kisvegabor this patch to Zephyr enables the SW rotation support by default for the SSD1306 and adds an overlay file for building the LVGL sample on the nRF5340 dev kit.
[code]
This along with the LVGL patch should enable the LVGL sample to be built for rotation using
`west build zephyr/samples/subsy

[2022-06-23 01:22] yajunzhi opened #46822 "L2CAP disconnected packet timing in ecred reconf function"
**Describe the bug**
When test with PTS, the case is L2CAP/ECFC/BI-03-C.
PTS needs response reconfig first, then send disconnect. But zephyr stack first send disconnect, the timing is incorrect.

`        if (BT_L2CAP_LE_CHAN(chan)->tx.mtu > mtu) {
            BT_ERR("chan %p decreased MTU %u -> %u", chan,
                   BT_L2CAP_LE_CHAN(chan)->tx.mtu, mtu);
            result = BT_L2CAP_RECON

[2022-06-23 02:05] XenuIsWatching commented on #45785
any reason why `std::condition_variable`, `std::counting_semaphore`, and `std::binary_semaphore` isn't included?

[2022-06-23 02:13] yajunzhi opened #46823 "L2CAP the param of function bt_l2cap_ecred_chan_reconfigure()"
**Current define:**
int bt_l2cap_ecred_chan_reconfigure(struct bt_l2cap_chan **chans, uint16_t mtu);
Expect:
int bt_l2cap_ecred_chan_reconfigure(struct bt_l2cap_chan **chans, uint16_t mtu, uint16_t mps)

**considered**
If the reconfigure interface could support mps param, some verification from PTS could be passed. Because some test cases need IUT send different MTU/MPS value parameter. There is n

[2022-06-23 04:15] yperess opened #46824 "Prevent new uses of old ztest API"
Discussed in the TSC meeting, we need a way to prevent new uses of the ztest API.

I believe that the best way to do this will be to add a new check for PRs similar to a language filter that checks for inappropriate language. To do this we'd need:

1. Create a new repo something like `zephyrproject-rtos/word-blocklist`
2. Provide an implementation of the GitHub check that scans for new test suites

[2022-06-23 04:16] yperess commented on #46824
@nashif

[2022-06-23 05:58] lyakh commented on #46372
@dcpleung right, adding to my comment in https://github.com/zephyrproject-rtos/zephyr/pull/46587#issuecomment-1163323259 I can see several possible solutions to this now, based on our current understanding and available instruments (variants of the below can be proposed too of course):
1. add a Linux kernel quirk for affected platforms to only use cores 0 and 3. We might need a special topology fo

[2022-06-23 06:31] henrikbrixandersen commented on #46301
On the other hand, having Zephyr-specific code in an imported HAL module introduces the burden of maintaining this on anybody doing changes in the main Zephyr tree (e.g. if changing a Zephyr API, which is being used in your HAL, the author now needs to perform changes in two places, within Zephyr and within your HAL).

Note that the approach taken here is different to all the other vendor HALs inc

[2022-06-23 06:47] FRASTM commented on #39888
This was tested on a nucleo_l452re board where USB is connected on pin PA11 & PA12 (usb_dm_pa11 & usb_dp_pa12)
with latest ../modules/hal/stm32/stm32cube/stm32l4xx = v1.17.1

[2022-06-23 07:08] #42341 closed

[2022-06-23 07:09] #46369 closed

[2022-06-23 07:09] #46346 closed

[2022-06-23 07:10] #46573 closed

[2022-06-23 07:10] #46626 closed

[2022-06-23 07:10] #46734 closed

[2022-06-23 07:11] #46725 closed

[2022-06-23 07:11] #46570 closed

[2022-06-23 07:15] #46368 closed

[2022-06-23 07:43] willChuai commented on #46301
Note that the approach taken here is different to all the other vendor HALs included in Zephyr.

My previous description was unclear, hal_hpmicro does not contain the zephyr code and API. So zephyr related changes will only be done in zephyr. Although the entire hpm_sdk is added to zephyr, the only files that are compiled into zephyr are the chip-related content.  To remove the extra content from

[2022-06-23 08:18] sam131208 commented on #46325
@sylvioalves  I build the project DemoBoard_ESP32 with latest main，get a build error。

     mcuboot_hdr:          32 B         32 B    100.00%
        metadata:          32 B         32 B    100.00%
             ROM:      390512 B    4194240 B      9.31%
     iram0_0_seg:      100456 B       128 KB     76.64%
     irom0_0_seg:      193968 B      3264 KB      5.80%
     dram0_0_seg:       83348 B

[2022-06-23 08:35] hermabe commented on #46823
L2CAP/ECFC/BV-24-C passed in latest weekly PTS run. From the TS:

This is done [here](https://github.com/intel/auto-pts/blob/683b4272ddcbfa011a5e1087070ec31db10077be/autopts/ptsprojects/zephyr/l2cap.py#L140), allowing the test to pass.

Adding the mps parameter would be a stable API change and would need to follow the process described [here](https://docs.zephyrproject.org/latest/develop/api/api_l

[2022-06-23 08:54] hermabe commented on #46822
L2CAP/ECFC/BI-03-C passed in latest weekly PTS run. Looking at the logs, the order of the response and disconnection is as described in the TS.

Which version of zephyr are you on? I cannot see the call to `bt_l2cap_chan_disconnect()` in [the current implementation](https://github.com/zephyrproject-rtos/zephyr/blob/f79eaba7e6d2c698fbaba3f7bc7348f9a78a611d/subsys/bluetooth/host/l2cap.c#L1305).

[2022-06-23 09:07] #46594 closed

[2022-06-23 09:08] #45844 closed

[2022-06-23 09:08] #46350 closed

[2022-06-23 09:11] Thalley opened #46829 "LE Audio: Avoid multiple calls to `bt_iso_chan_connect` in parallel"
**Is your enhancement proposal related to a problem? Please describe.**
The HCI spec mandates that only 1 `BT_HCI_OP_LE_CREATE_CIS` command (triggered by `bt_iso_chan_connect`) can be outstanding at any time.

**Describe the solution you'd like**
We should verify that no outstanding connection requests are pending before we call `bt_iso_chan_connect` in BAP (and possibly also a check in iso.c).

*

[2022-06-23 09:25] hermabe commented on #46822
This was changed in https://github.com/zephyrproject-rtos/zephyr/pull/44742. There was a TSE raised to remove the requirement to disconnect from the test as this was not mandated by spec.

[2022-06-23 09:37] LixinGuoX commented on #44338
After change on this line(from 0.1s to 1s):
https://github.com/zephyrproject-rtos/zephyr/blob/d130160813fb52ee87a2d0c4a4fb8e57d466f181/soc/xtensa/intel_adsp/tools/cavstool.py#L472
We have this issue again, I have a PR: #46471, this is a workaround in testcase.
We can also apply config boot_delay in twister cmd, but this will extend the total execution time.

[2022-06-23 09:49] #46285 closed

[2022-06-23 09:50] nordic-krch commented on #46173
The stop reason field is not valid when `UART_RX_DISABLED` is called. It's only valid for `UART_RX_STOPPED` which would indicate HW error. Receiving `BUF_RELEASED` followed by `RX_DISABLED` suggests that somewhere `uart_rx_disable` is explicitly called.

[2022-06-23 10:35] rlubos commented on #46758
Note that Zephyr already has a simple HTTP client library: https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/lib/http/http_client.c

Do you plan to use TLS sockets? Any concerns at this point?

[2022-06-23 10:53] alwa-nordic commented on #46798
The controller is behaving correctly according to Core 5.3 Vol 4 Part E 7.8.38. Quote follows.

Peer_Identity_Address and Peer_Identity_Address_Type, or with the same
Peer_IRK, the Controller should return the error code Invalid HCI Command
Parameters (0x12).

The fix should be done on the host side.

[2022-06-23 10:58] alwa-nordic commented on #46798
I suggest the fix to be performing an `HCI_LE_Remove_Device_From_Resolving_List` as part of `bt_id_add` before adding the device again.

[2022-06-23 11:02] yajunzhi commented on #46822
Got it.
My zephyr version is not the latest. I will sync and verify the case.
I agree with your comments. The disconnect is not mandatory step for the case verification.
Thanks a lot.

[2022-06-23 11:02] #46822 closed

[2022-06-23 11:10] Thalley commented on #46798
If I understand this correctly, we have
Device 1: Which bonds with Device 2 (Zephyr), and then disconnects. After the disconnect, Device 1 then removes its local bonding information, and attempts to pair (and bond) with Device 2 again, but with same identity address and a new IRK. Is that correct?

[2022-06-23 11:10] jilu-ot commented on #46798
Yes, that is correct.

[2022-06-23 11:11] jilu-ot commented on #46798
It is a new behavior in Android 12 and 13 phones, which is implemented to prevent tracking. A security issue.

[2022-06-23 11:14] kruithofa commented on #46073
@alwa-nordic please see if you can reproduce this behaviour

[2022-06-23 11:15] sylvioalves commented on #46325
@sam131208, please, can you update your imgtool: `pip3 install imgtool`. The version you are using does not support signing images aligned with 32 bytes.

[2022-06-23 12:07] jilu-ot commented on #46798
I tried a quick fix by deleting the old key and adding the new if hci_id_add returns an error. This seemed to work. Needs to be investigated further though. Something like this.

[code]

[2022-06-23 12:11] yajunzhi commented on #46823
I modified the SPX_l2ca_cbmps_min and TSPX_l2ca_cbmps_max as the same,  and tested. PTS ends with PASS as you mentioned.
About the API, who submit the RFC better? Current, the passed verification is our requirement.
Thank you.

[2022-06-23 12:45] jilu-ot commented on #46798
I heard that @ibaz-nordic has already worked on a an issue (issue 45827) that sounds like this one. Is this right?

[2022-06-23 12:55] jilu-ot commented on #46798
Yes, it looks that way, since nothing seems to be done in bt_id_add if hci_id_add returns an error.

[code]