[2021-09-15 10:01] rlubos commented on #38428
I have submitted the fix proposal in https://github.com/zephyrproject-rtos/zephyr/pull/38553.

After investigatin the HTTP parser code a bit, I've came to conclusion that it's better to rely on the `on_message_complete()` callback do determine whether to report `HTTP_DATA_FINAL` or not. I've tested the solution with a local HTTP server and a regular repsonse (including Content Length) and some oth

[2021-09-15 10:02] erwango commented on #38437
Closed in favor of #38552

[2021-09-15 10:02] #38437 closed

[2021-09-15 10:11] erwango commented on #38552
@ycsin can you provide status with https://github.com/zephyrproject-rtos/zephyr/pull/38432 ?

[2021-09-15 10:14] rlubos commented on #38527
I don't think that LwM2M engine should make any assumption based on some common behavior. Yes, the Reset might be sent if the server has lost all its observations due to a reboot, but on the other hand it's also a perfectly vialbe mechanism to Cancel observation according to spec (the observer can send a Reset message if it's no longer interested in particular resource):
https://datatracker.ietf.o

[2021-09-15 10:23] rlubos commented on #38531
I think that a reasonable approach would be to replace `lwm2m_notify_timeout_cb_t` with a generic `lwm2m_observe_cb_t`, that would allow the application track all of the observe-related events such as:
* New observation
* Cancelled observation
* Successful notification delivery (as requested in this PR),
* Timeout
* Other errors (?)

The question rises whether this should be handled by a separate

[2021-09-15 10:28] jfischer-no commented on #37696
resolved by 19c519eb05d6d24a23fd084a3ab6c1a78edf5536

[2021-09-15 10:28] #37696 closed

[2021-09-15 10:29] rlubos commented on #38534
Would a generic observe callback proposed in #38531 do the job? Perhaps we could cover the enhancements under a single umbrella issue, instead of 3 separate ones, since they're all related?

[2021-09-15 10:32] ycsin commented on #38552
Status with #38432 is in my previous issue #38519

[2021-09-15 10:36] hakehuang opened #38554 "tests-ci : kernel: scheduler: test failed"
**Describe the bug**
 test is failed on v2.7.0-rc1-94-gf83dc928f613 on lpcxpresso54114_m4

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: v2.7.0-rc1-94-gf83dc92

[2021-09-15 10:55] #38477 closed

[2021-09-15 11:32] sjanc commented on #37611
Since this seems to be mostly for qualification purposes (at least until now no user reported need for being able to reconfigure channel) we can try make is simple and hide it under CONFIG_BT_TESTING.

So my proposal would be to add CONFIG_BT_L2CAP_ECRED_LAZY_RECONF (or whatever name fits) that would cause channels to be created with default MPS/MTU and have new test api int bt_l2cap_chan_reconfig

[2021-09-15 11:32] FRASTM commented on #38548
@hjuul could you please detail if there is specific target board, shield and appli that your are using to show this error ?

[2021-09-15 11:53] hjuul commented on #38548
@FRASTM I'm using a custom board based on stm32f777 with QSPI flash MT25QL256ABA.
I'm also using a custom application.

Some more details on Discord: https://discord.com/channels/720317445772017664/887588796839903242/887588800635748352

[2021-09-15 12:02] yashi opened #38558 "CMake warning: CMP0079"
**Describe the bug**
We get the following warning while CMake run

[code]

If this must stay with v2.7.0, we should at least document about it?

**To Reproduce**
1. west build --cmake-only -b native_posix zephyr/samples/hello_world/

**Expected behavior**
No warnings for releases.

**Impact**
Users might be confused.

**Logs and console output**
[code]

**Environment (please complete the following

[2021-09-15 12:07] #37672 closed

[2021-09-15 12:16] tbursztyka opened #38559 "Shell log backend may hang on qemu_x86_64"
**Describe the bug**
Enabling some network stack logs on qemu_x86_64 leads to zephyr hanging forever.
This seems to be due to SHELL log backend.
Using UART log backend fixes the problem, but that means the SHELL backend has an issue

**To Reproduce**
Steps to reproduce the behavior:
1. edit samples/net/sockets/echo_server/prj.conf and add:
[code]

2. west build -b qemu_x86_64 samples/net/sockets/e

[2021-09-15 12:27] lairdjm opened #38560 "log v2 with 64-bit integers and threads causes invalid 64-bit value output"
**Describe the bug**
We are designing a product based around an nRF52840 module using NCS 1.6.1 which uses Zephyr 2.6, for this we are using the log output function and spawn a few threads for the application to run. To get 64-bit value outputting, we are using the v2 logging system in deferred mode but it seems that in this application, when we print a variable containing the timestamp, we get a

[2021-09-15 12:29] carlescufi commented on #38560
Could this be related to https://github.com/zephyrproject-rtos/zephyr/issues/38268?

[2021-09-15 12:37] lairdjm commented on #38560
@carlescufi It could be, we have an issue with packets just randomly dropping also but thought it was unrelated, even though the buffer and stack sizes are set to be pretty large, outputting 4 messages at roughly the same time generally results in seeing 1-3 messages although most times 2 are shown and 2 are what appears to be silently dropped.

[2021-09-15 12:46] ABOSTM commented on #34324
@jaybuckeye06 , @mass-anis ,
Thanks for your help, that is a good catch, enabling clock of DMA (either DMA1 or DMA2) works !!!
As far as DBGMCU bits, it is not mandatory for STM32L476, but it is mandatory for STM32F103.

So I made a PR #38561 to activate DMA clock and setting one of DBGMCU bit.
I hope it will be sufficient for all STM32 boards.

[2021-09-15 13:06] nordic-krch commented on #38560
That is interesting as timestamp, source id, level seems correct so it is not that the message is corrupted but only the parameter. Can you try to add some 32 bit value to that log msg? Something like:
[code]

[2021-09-15 13:09] erwango commented on #34324
@ghlualven, @mHendelja, @wthidden, @manoj153 would you mind testing #38561 ?

[2021-09-15 13:10] nordic-krch commented on #38560
Please also make sure that stack guard is enabled.

[2021-09-15 13:27] FRASTM commented on #38354
However, the pins which are possibly conflicting are:
PA15 : SPI_NSS or JTDI
PB3 : SPI1_SCK   or JTDO
PB4 :  SPI1_MISO or JNTRST

PB5  :      SPI1 MISO or I2C1_SMBAI

Could we introduce a single flag to select the JTag or SPI1 for PA15, PB3, PB4  globally   (something like _CONFIG_SWJ_NOT_SPI_) or should have each pin selectionnable (one flag per PIN).

I think the question of PB15 should be handl

[2021-09-15 13:33] lairdjm commented on #38560
I think the issue was resolved in 2.7 with this commit: https://github.com/zephyrproject-rtos/zephyr/commit/d2f48ac35dada251b88a103960b49350e9a69209

I've manually pulled in that and 3 other changes and the 64-bit values now seem to be coming out fine. Stack guard is enabled as is canaries and null referencing checks

[2021-09-15 13:52] schneider42 commented on #18042
The link posted above is also on the website: https://www.zephyrproject.org/contact-us/

It does lead to slack, but the invitation is not working:

![Screenshot from 2021-09-15 15-52-09](https://user-images.githubusercontent.com/452051/133446200-e3d62799-fa4f-4814-9187-8c7d7ab3f26a.png)

[2021-09-15 14:00] schneider42 commented on #18042
Never mind: Discord is the new Slack: https://lists.zephyrproject.org/g/users/message/2702

[2021-09-15 14:08] erwango commented on #38548
@hjuul Having a new look to this.

So maybe I was missing coffee when I initially answered to you but
`flash_stm32_qspi.c` is actually thread safe (cf `qspi_lock_thread/qspi_unlock_thread`).

The reason why you're seeing issue is hence not as obvious as initially thought.
We'd need more info on the context of the first error reported.

Would you mind enabling DBG logs and see what shows up ?

[2021-09-15 14:12] Thalley opened #38563 "ISO broadcast cannot send with callback if CONFIG_BT_CONN=n"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/pull/38194 introduced a bug for ISO broadcast if CONFIG_BT_CONN=n.
If CONFIG_BT_CONN=n then the `free_tx` FIFO is never intiialized, causes the FIFO to be empty and thus no able to use the `bt_conn_send_cb` function that `bt_iso_chan_send` now relies on.

Update: It seems that TX still works, but the callback is missing.

**To Repro

[2021-09-15 14:20] FRASTM commented on #38354
It appears that for the STM32F1x soc series, it already exists in the _./drivers/gpio/gpio_stm32.c_

Could you try to set **CONFIG_GPIO_STM32_SWJ_NOJTAG=y** in your  DTS
This will _released PB4 PB3 PA15_

[2021-09-15 14:21] mbolivar-nordic commented on #38479
Hi, this looks like a misconfiguration.

Please provide the following information and reopen.

- zephyr version used
- board used
- west build command

[2021-09-15 14:52] mbolivar-nordic commented on #32531
I'm using this ticket to track the process WG item for deprecating CODEOWNERS in favor of MAINTAINERS.yml. Maybe that's a mistake but it will do for now.

[2021-09-15 14:54] mbolivar-nordic opened #38565 "Process: backlog handling"
Items under this issue:

- review backlog handling
- additional processes for unreviewed PRs, enhancements, RFCs, feature requests

Previous discussion:

https://docs.google.com/document/d/1LOhgronKx3TxUypYLy9nex0_3UC58FMMjbXV4wbiuiE/edit#

[2021-09-15 14:55] mbolivar-nordic opened #38566 "Process: support tiers for hardware for Zephyr v3.3 and later"
This issue covers a process discussion for introducing support tiers for boards with upstream Zephyr project support.

The goal of this issue is to define a high level process for defining the support level for different Zephyr boards. This will aid users in knowing which platforms are well tested and debugged. For a related release criteria issue, see https://github.com/zephyrproject-rtos/zephyr/

[2021-09-15 14:56] mbolivar-nordic opened #38567 "Process: legitimate signed-off-by lines"
This tracks any process changes necessary for ensuring Signed-off-by: lines are legitimate full names, not aliases.

Previous discussion:

https://docs.google.com/document/d/1LOhgronKx3TxUypYLy9nex0_3UC58FMMjbXV4wbiuiE/edit#

[2021-09-15 14:57] mbolivar-nordic opened #38568 "Process: development during stabilization"
This tracks discussion around creating alternative development processes during stabilization phases.

Previous discussion:

https://docs.google.com/document/d/1VPDfXGEK_sOOIQYHK-95ROZUt0_BHgb7U-YiGz1YUqk/edit#heading=h.z0jfzofogctf

[2021-09-15 14:58] mbolivar-nordic opened #38569 "Process: TSC voting"
This tracks discussions related to allowing proxies for voting and improving the voting experience "generally."

Previous discussion:

https://docs.google.com/document/d/1VPDfXGEK_sOOIQYHK-95ROZUt0_BHgb7U-YiGz1YUqk/edit#heading=h.a07znhjkkpf3

https://docs.google.com/document/d/1VPDfXGEK_sOOIQYHK-95ROZUt0_BHgb7U-YiGz1YUqk/edit#heading=h.h28j0cgt1nhm

[2021-09-15 14:59] carlescufi commented on #38560
OK, thanks for the info. Closing this then.

[2021-09-15 14:59] #38560 closed

[2021-09-15 15:00] mbolivar-nordic opened #38570 "Process: binary blobs in Zephyr"
This tracks ongoing discussions around the distribution or inclusion of binary blobs related to Zephyr development.

Current status (9 December 2021):

- The process WG has debated this at length and written a proposal describing the problem and a proposal for how blobs could be included more formally by the project: https://docs.google.com/document/d/1heqcv7dzGvM5rA9xpTMW3kyKJLpZsl2Gjsmr5eqBje8/e

[2021-09-15 15:04] ainguraXmarquiegui opened #38571 "bug: drivers: ethernet: build as static library breaks frdm_k64f gptp sample application"
**Describe the bug**
Commit e912a0533ac56560499781ed21074b4ac6c251cf breaks frdm_k64f gptp sample application. Any build from this version or newer results in the demo not working. GPTP no longer completes initialization.
Bulding code on revision b6855b23b9659a2fd911d06308927da8210b0d41 or older results in a working demo.

Latest main code also works if I revert that commit, as can be seen [here](

[2021-09-15 15:07] ainguraXmarquiegui commented on #38571
@hakehuang
@MaureenHelm
@dleach02
@dcpleung
@cfriedt

[2021-09-15 15:10] Sn0wfreezeDev opened #38572 "Builds with macOS SDK are failing"
**Describe the bug**

When building anything on macOS I receive an error.

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:

I downloaded the SDK and installed the toolchain for macOS.
I strictly followed the tutorial on the [Zephyr Website](https://docs.zephyrproject.org/latest/getting_started/index.html), which seems outdated for macOS, as it says it's not supported.

So I follo

[2021-09-15 15:12] carlescufi commented on #38572
I am not quite sure this is right. @tejlmand ?

[2021-09-15 15:19] #38572 closed

[2021-09-15 15:30] #38535 closed

[2021-09-15 15:43] dleach02 commented on #31748
A PR would fall under "bug fix" so it would be good if you could get one in soon for the 2.7 release being worked now.

[2021-09-15 15:52] dcpleung commented on #38571
This is probably due to initialization priority of the drivers and subsys. Could you check to make sure everything required for GPTP to work are initialized in order? For example, make sure that init priorities are not the same for two drivers where one needs the other to work correctly.

[2021-09-15 16:00] ainguraXmarquiegui commented on #38571
I will try to look into it anyway, but to be honest, I don't know where I can look for that. Any hint on what file/function I should check, or documentation that could help me understand your observation better would be helpful.

I'll report back when I have time to look into it.

[2021-09-15 16:23] dcpleung commented on #38571
Drivers use `DEVICE_DEFINE()` to specify when they need to be initialized, and subsys uses `SYS_INIT()`. So these should be good starting point.

[2021-09-15 16:44] danieldegrasse opened #38575 "Reenable 1.8V SD card signalling on RT600 Platform"
**Is your enhancement proposal related to a problem? Please describe.**
The current USDHC driver for the RT600 evalution kit does not properly support operating SD cards at 1.8V signalling, and will fail to mount an SD card that attempts to utilize 1.8V signalling instead of the standard 3.3V.

**Describe the solution you'd like**
PR #38507 fixes this issue temporarily by disabling 1.8V signalling

[2021-09-15 17:04] mbolivar-nordic commented on #38570
Process WG:

- distributing binary blobs in the default distribution (YY path through the problem statement's decision diagram) is explicitly rejected due to lack of backers and doubtful acceptance by the board
- @mbolivar-nordic to provide a detailed proposal for what it would look like for blobs to be totally out of scope (N path)
- remaining WG time on this issue will be devoted to rejecting/ac

[2021-09-15 18:30] tbursztyka opened #38576 "net shell: self-connecting to TCP might lead to a crash"
**Describe the bug**
If a TCP socket is listening up, using net-shell's tcp connect command to it may lead to a crash

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b qemu_x86_64 samples/net/sockets/echo_server
2. west build -t run
3. run this command: net tcp connect 192.0.2.1 4242
4. See error (sometime, it takes a few seconds before happening)

**Expected behavior**
Crash sho

[2021-09-15 18:42] shrhrw commented on #19979
Thanks, I'll try forcing the FPU to be enabled initially, and see how that affects things.

-- Application: /home/smith/zephyrproject/zephyr/samples/hello_world
-- Zephyr version: 2.7.0-rc1 (/home/smith/zephyrproject/zephyr), build: v1.12.0-34809-g29387287d9f7
-- Found Python3: /usr/bin/python3.8 (found suitable exact version "3.8.10") found components: Interpreter
-- Found west (found suitable ve

[2021-09-15 20:33] rlezuo1 opened #38578 "STM32L0X ADC hangs"
**Describe the bug**
ADC conversions on STM32L0x (i.e. L051) hang forever

**To Reproduce**
Steps to reproduce the behavior:
1. adc_channel_setup(...)
2. adc_read(...)
3. will hang forever in:LL_ADC_IsCalibrationOnGoing or adc_context_wait_for_completion depending on struct adc_sequence calibrate setting

**Expected behavior**
Will not hang the ADC unit

**Impact**
ADC unit is trashed, system beco

[2021-09-15 21:40] danieldegrasse commented on #38575
PR #38580 should fix this issue correctly, by enabling the RT685 PMIC and interfacing with it to reduce the voltage

[2021-09-16 03:12] hakehuang opened #38582 "tests-ci : kernel: scheduler: test failed"
**Describe the bug**
 test is failed on v2.7.0-rc1-94-gf83dc928f613 on lpcxpresso55s28

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: v2.7.0-rc1-94-gf83dc928f6

[2021-09-16 03:12] hakehuang opened #38581 "tests-ci : kernel: scheduler: multiq test failed"
**Describe the bug**
multiq test is failed on v2.7.0-rc1-94-gf83dc928f613 on lpcxpresso55s28

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: v2.7.0-rc1-94-gf83d

[2021-09-16 03:14] hakehuang commented on #38581
@dleach02

[2021-09-16 03:18] hakehuang commented on #38582
@dleach02

[2021-09-16 03:34] nashif commented on #32531
that is a bad idea, this is not related to CODEOWNERS at all, please create a new issue for tracking :)

[2021-09-16 07:19] mglettig commented on #35939
Hi @lairdjm
I think the problem is the SPI configuration: Rather than
pinctrl-0 = <&spi1_nss_pa4 &spi1_sck_pa5
		     &spi1_miso_pa6 &spi1_mosi_pa7>;

It should be something like
pinctrl-0 = <&spi1_sck_pa5
		     &spi1_miso_pa6 &spi1_mosi_pa7 &spi1_nss_pa4 >;
So nss should be at the end.

In addition you may need to set CONFIG_SPI_STM32_USE_HW_SS=y.

Regards,
Michael

[2021-09-16 07:30] erwango opened #38586 "olimexino_stm32: "no DEVICE_HANDLE_ENDS inserted" builld issue (samples/subsys/usb/audio/headphones_microphone)"
**Describe the bug**
Following build issue reported when compiling `samples/subsys/usb/audio/headphones_microphone` on olimexino_stm32

[code]

**To Reproduce**
twister -b -p olimexino_stm32 -s samples/subsys/usb/audio/headphones_microphone/sample.usb.audio.headphones_microphone

[2021-09-16 07:31] erwango commented on #38586
Similar to https://github.com/zephyrproject-rtos/zephyr/issues/38181

[2021-09-16 07:43] FRASTM commented on #38578
@rlezuo1 , I take the _samples/drivers/adc_ application as an example, because we see the sequence  adc_channel_setup() then adc_read() that you are describing as faulty.
For 1st issue, do you mean that **sequence.calibrate = false**, is required in the adc_sequence declaration ?
[code]

[2021-09-16 08:08] carlescufi commented on #38348
I am not sure about that @Thalley. Can you check?

[2021-09-16 08:18] rlezuo1 commented on #38578
@FRASTM , exactly

[2021-09-16 08:35] FRASTM commented on #38578
For #2, I see that all STM32 series that have an ADC oversampling (OVSE bit) and an oversampling ratio (OVS bits), the setting  in the ADC CFGR2 "is allowed to write this bit only when ADSTART = 0 (which ensures that no conversion is ongoing). That's why I propose to have
[code]
**before**  `switch (sequence->oversampling)`.
Then set the LL_ADC_SetOverSamplingScope  and LL_ADC_ConfigOverSamplingRa

[2021-09-16 09:00] Thalley commented on #38348
A quick course search reveals nothing. Do we have a list of words that has/should be changed? Should be able to write a fairly quick script to validate.

[2021-09-16 09:28] FRASTM commented on #38578
@rlezuo1, I put 2 different PRs, if you could take both together and check on your own target board.

[2021-09-16 09:31] erwango opened #38591 "nucleo_f091rc: Linking issue since "align __data_ram/rom_start/end linker" (65a2de84a9d5c535167951bf1cf610c4f7967ea5)"
**Describe the bug**
Since merge of https://github.com/zephyrproject-rtos/zephyr/commit/65a2de84a9d5c535167951bf1cf610c4f7967ea5,
Some tests are not booting on nucleo_f091rc platform.

Reverting this commit gets the board booting again

Similar issue seen on : nucleo_l073rz

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b  nucleo_f091rc tests/kernel/lifo/lifo_usage
2. west flash

[2021-09-16 09:32] erwango commented on #38591
@tejlmand Would you mind having a look?
(I can help in testing if needed)

[2021-09-16 09:39] carlescufi commented on #38563
@Thalley will you send a fix in time for 2.7.0?

[2021-09-16 10:41] JordanYates opened #38592 "flash runners: JLink provides no notifications of failures"
**Describe the bug**
When flashing a board that uses the `JLink` runner, no notification is provided to the user if the flash command fails.

**To Reproduce**
1. Build any application for a board using the `JLink` runner
2. Run `west flash` with the board connected
3. Run `west flash` with the programmer disconnected

**Expected behavior**
Some error should be printed to the user

**Impact**
Annoy

[2021-09-16 10:42] Thalley commented on #38563
That's the plan :)

[2021-09-16 10:44] AfAbdel opened #38593 "using RTT console to print along with newlib C library in Zephyr"
Hello everyone,
I am using NrfConnect with Zephyr on Segger embedded studio .
I want tu use the math logarithm function in my code and print the result on the debug terminal. At first when enabling the "Use RTT for console" configuration, printf works, then I wanted to add the math.h log function which gave me  "Undefined reference to log" error.
To resolve the error I checked the "Newlib C librar

[2021-09-16 10:47] carlescufi commented on #38592
@JordanYates isn't this an issue with `JLink.exe` itself? I have noticed it tends to silently fail.
Could you provide the same log output but with `west -v flash ...` ?

[2021-09-16 10:48] carlescufi commented on #38593
This is an nRF Connect SDK issue, not an upstream Zephyr one. Segger Embedded Studio and nRF Connect SDK are supported by Nordic, please open an issue in the Nordic DevZone instead.

[2021-09-16 10:48] #38593 closed

[2021-09-16 10:56] JordanYates commented on #38592
`JLink.exe` is definitely detecting the failure, it just doesn't appear to be returning an error code that `check_call` can pick up:
[code]

[2021-09-16 10:59] #38536 closed

[2021-09-16 11:02] JordanYates commented on #38592
Just validated that it is still an issue on the latest Jlink (7.54b) as well.

[2021-09-16 11:17] aunsbjerg commented on #38592
In https://wiki.segger.com/J-Link_Commander under the "JLink.exe return value" section, it's noted that JLinkExe will set the ERRORLEVEL environment variable depending on the outcome of the jlink operations. Maybe that could be used instead of checking the return value?

[2021-09-16 11:23] hakehuang commented on #38571
@ainguraXmarquiegui Thanks a lot for finding this issue.

@dcpleung  I find change the init level does not help I move the ETH_INIT_PRIORITY to 95 and CONFIG_NET_INIT_PRIO is 90, but it still fails.

[2021-09-16 11:24] JordanYates commented on #38592
I wasn't aware of this, but it doesn't appear to work.
Possibly because the command is running as a subprocess, and hence the environment is destroyed when the command finishes?

Not sure why SEGGER would think that was a better solution than just returning a value...

[2021-09-16 11:40] tbursztyka commented on #38576
Found the root cause. Have a fix in preparation

[2021-09-16 11:43] tbursztyka opened #38598 "net_context_put will not properly close TCP connection (might lead to tcp connection leak)"
**Describe the bug**
When connected to a distant target, closing the connection is not going to do it in a clean way: it will just free the tcp connection.
(try net tcp connect/net tcp close and net conn to verify that).
But on when doing the same locally: then the server tcp connection is going to hang forever, as it never received any FIN state and all...  This will lead to TCP connection leak
(

[2021-09-16 11:45] tbursztyka commented on #38598
net_context_put calls net_context_unref which calls net_tcp_unref which leads to unref tcp connection and thus sets ctx->tcp to NULL. Back to net_context_put, that one finally calls net_tcp_put: but that bails out dircetly since ctx->tcp is NULL.

Looks like reverting the net_tcp_unref/net_tcp_put calls fix the issue. Will come with a patch

[2021-09-16 11:52] aunsbjerg commented on #38592
You're probably right in that it's because JLinkExe is run in a subprocess.

I tried running `subprocess.check_output("jlink -invalid", shell=True)`, and it actually returns an error code. So it's possible that Jlink simply doesn't return an error if a valid script is executed but with no connected device? I can probably take a look tomorrow when I'm back at the office.

[2021-09-16 12:19] carlescufi commented on #38592
Funny because `shell` defaults to `False` in `check_call()`.

[2021-09-16 12:36] erwango opened #38601 "nucleo_f103rb: samples/posix/eventfd/ failed since "retargetable locking" addition"
**Describe the bug**
Sample `samples/posix/eventfd` is failed since https://github.com/zephyrproject-rtos/zephyr/commit/43b8002b14a7c1a38c19df19955911144c625b5e

**To Reproduce**
`twister --ninja --runtime-artifact-cleanup  -s samples/posix/eventfd/sample.posix.eventfd -p nucleo_f103rb --device-testing --device-serial /dev/ttyACM0`

**Expected behavior**
Test should pass

**Additional input**
EDIT

[2021-09-16 12:37] erwango commented on #38601
@stephanosio Would you mind having a look?
I'm available to do some tests if needed.

[2021-09-16 12:47] tcpipchip opened #38602 "modem gsm"
Hi

I am compiling the GSM code to NRF52840, but i have a question

My UART0 is working (console), but where do i define the GPIO used to UART_1 (GSM) ? (TX and RXD)

i am getting on console

[00:00:00.827,758] <inf> sample_gsm_ppp: Board 'nrf52840_mdk' APN 'java.claro.com.br' UART 'UART_1' device (nil) (modem_gsm)

it can´t open UART_1

I want a UART (not USB or RTT) to  console and one UART to m

[2021-09-16 12:49] martinjaeger commented on #33573
Looks like this bug has been fixed in https://github.com/zephyrproject-rtos/zephyr/pull/36340

@M1cha please link PRs to issues next time, e.g. by adding `Fixes #issue-id` to the commit message. Or close the issue manually after the PR was merged.
I went through the list of issues to support with bug-fixing for next release and it took me a while to realize that this one was already fixed.

[2021-09-16 12:49] #33573 closed

[2021-09-16 12:57] nashif commented on #38314
we should not have this issue anymore, as diffs between release candidates are going to be smaller

[2021-09-16 12:57] gkujawsk commented on #26981
Hi,
@dueringa Did you make any new developments on mux support for SIM7600?
On zephyr-v2.6.0 I'm not even able to setup the ppp for some reason if mux is enabled,
while without mux enabled the ppp setups correctly. The inline AT channel is important
to query GNSS data.

[2021-09-16 13:13] #32531 closed

[2021-09-16 13:25] rlezuo1 commented on #38578
there is an issue with the PRs (they do not compile), I'll wait for you to update and then try again?

[2021-09-16 13:32] #36263 closed

[2021-09-16 13:32] heinwessels opened #38606 "drivers: adc: stm32h7: Oversampling only supported for ADC3"
**Describe the bug**
This [PR](https://github.com/zephyrproject-rtos/zephyr/pull/36714/) provided the ability to do ADC oversampling, which then also added support for the H7 in this [PR](https://github.com/zephyrproject-rtos/zephyr/pull/37392). This will however not set the ratio correctly.

According to the [Zephyr ADC docs](https://docs.zephyrproject.org/latest/reference/peripherals/adc.html#c.

[2021-09-16 13:57] carlocaione opened #38609 "RFC: API Change: IPM"
### Problem Description:
The IPM subsystem is used to send signals (or small messages) to other processors / CPU clusters. The current API has one big limitation: it assumes that the platform has only two CPUs (or one single channel). Looking at the current API the `ipm_send()` function doesn't take any parameter in input related to the destination CPU and the `ipm_register_callback()` function is

[2021-09-16 14:24] rlezuo1 commented on #38578
with the fixed PR's I can confirm ADC is working as expected

54c35b61da (HEAD -> adc_prs) Merge remote-tracking branch 'github_FRASTM/adc_sequence_init' into adc_prs
df5e0edbbb (github_FRASTM/stm32adc_hangs) drivers: adc: stm32 disable the ADC before setting the Oversampling
114c7963f7 (github_FRASTM/adc_sequence_init) samples: drivers: adc initialize the adc_sequence calibration
c2ef1b3fe2 drive

[2021-09-16 14:35] #38520 closed

[2021-09-16 14:57] tejlmand commented on #37770
@Thalley not convinced this is actually an issue.

Printing a warning is not an error if it informs the user of a potential misconfiguration.

Because i'm not familiar with bluetooth audio I have some questions.

- If a user does `CONFIG_BT_AUDIO=y` and nothing else, will he be able to use bluetooth audio, or will there be missing pieces ?
- I notice a user might do:
  `CONFIG_BT_AUDIO=y`
  `CONFI

[2021-09-16 15:07] lairdjm opened #38612 "Fault with assertions enabled prevents detailed output because of ISR() assertion check in shell function"
**Describe the bug**
If we have a firmware configured with a shell, a log and assertions enabled, when a fault happens the details should get printed to the screen, but this does not happen due to https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/shell/shell_ops.c#L481 in which cause we see the following output:
[code]

Because the fault prompted an ISR to handle the fault, this means

[2021-09-16 15:12] erwango commented on #38601
@stephanosio There is no console output. We're getting a hard fault at the first printf occurence:
Here is an abstract
[code]

[2021-09-16 15:15] heinwessels commented on #38606
There is also a small bug in the HAL drivers which affects the H7 ADC Oversampling in some cases.
https://github.com/STMicroelectronics/STM32CubeH7/issues/177

[2021-09-16 15:28] Thalley commented on #38563
Updated the priority to low as the callback is just missing, but it is still sending data.

[2021-09-16 15:36] ejohnso49 opened #38613 "BLE connection parameters updated with inconsistent values"
**Describe the bug**
I'm running into some unexpected behavior regarding connection parameters. I have a Zephyr peripheral (v2.6.0) which is connecting to my laptop (central device). I have `BT_GAP_AUTO_UPDATE_CONN_PARAMS` set and I see the peripheral attempt to update the parameters with `LL_CONNECTION_PARAM_REQ` in a Wireshark trace. It sends a request with the values I've specified with `CONFIG

[2021-09-16 15:50] Thalley commented on #37770
@tejlmand Your observation is correct.

`BT_AUDIO` is very loosely defined, and refers not only to the new LE audio GATT services such as VCS and MICS (which are upstream), but also to the new audio stream control (which is not yet upstream). Possibly we want to remove the `BT_AUDIO` Kconfig all together, but we probably need to clean up some additional Kconfigs in the `topic-le-audio` branch firs

[2021-09-16 16:26] stephanosio commented on #38601
@erwango Could you set `CONFIG_ASSERT=y` and check if you see any failures?

Looking at the debug log, it looks like the `malloc` in `__retarget_lock_init_recursive` failed due to insufficient SRAM.

If you enable `ASSERT`, you will likely see the following messages:
* "memory space available for newlib heap is less than the minimum required size specified by
 CONFIG_NEWLIB_LIBC_MIN_REQUIRED_HEAP_

[2021-09-16 16:39] stephanosio commented on #38601
From https://github.com/zephyrproject-rtos/zephyr/issues/38044#issuecomment-914466354:

Due to how Zephyr-to-newlib integration is implemented, there is no easy way for the twister to filter out/skip these boards/tests -- this will be fixed eventually in the next release as noted in the comment referenced above.

For now, we should identify all the failing sample-board combos (mostly the boards wi

[2021-09-16 16:40] jakub-uC commented on #38612
@lairdjm Are you using function `z_shell_fprintf`? I am just wondering how you are getting it?
This function is internal to the shell module and shall not be used by the user application or any other module.

[2021-09-16 16:42] lairdjm commented on #38612
We are not calling it from our code full stop, FAULT_DUMP is 2 which means when a fault occurs, the data gets dumped to the screen, and it seems to be when that happens it's hitting this assert.

[2021-09-16 16:42] jakub-uC commented on #38170
I am closing because @MarekPikula is not giving any feedback. If this is still an issue we can reopen it in the future.

[2021-09-16 16:42] #38170 closed

[2021-09-16 17:09] nashif commented on #38047
you need to specify the "boards" directory, so for example:

cd ../
git clone git@github.com:zephyrproject-rtos/example-application.git
cd zephyr
twister -T samples/hello_world/ -p custom_plank --board-root ../example-application/boards

This works as expected.

[2021-09-16 17:13] nashif commented on #36655
fixed in #38325

[2021-09-16 17:13] #36655 closed

[2021-09-16 17:18] filipeaguiar22 commented on #29394
Hi,
   I have an ESP32 board with a 26 MHz clock, so in need to configure the IDF  ESP32_XTAL_FREQ
   I have been trying to figure out how to configure the clock, but the configurations are not in west build -t guiconfig -b esp32
   Thanks

[2021-09-16 17:20] dcpleung commented on #38571
I don't have the board so I cannot debug it on hardware. But from what I can see in the built binary using main, the `net_if_area` and `net_if_dev_area` sections are populated. I can't see why `net gptp` in shell showed no interfaces at all. Is there a command to show all network interfaces? Could you try that?

[2021-09-16 17:30] glaubermaroto commented on #29394
@filipeaguiar22 It may be helpful to you knowing that the following PR was submitted: #38543

[2021-09-16 17:39] dleach02 commented on #38571
I have the board and I can see what the problem is... give me a moment

[2021-09-16 17:56] boaks commented on #38527
Do you use [eclipse/leshan](https://github.com/eclipse/leshan)?

If so, at least two-three years ago, leshan used the californium function, to persist the coap-observe-client (that's the lwm2m-server). AFAIK, redis was used, though the use case was more a "leshan-cluster" then a graceful-restart. Maybe, you ask there in the eclipse/leshan, if this coap-observe-client with redis still works and cou

[2021-09-16 18:29] #38054 closed

[2021-09-16 19:15] rerickson1 opened #38617 "HL7800 PSM not working as intended"
**Describe the bug**
When using PSM (power save mode), and app should be able to send socket data at any time.
Currently if the app try to send data when the HL7800 is asleep, the HL7800 does not wake up properly and restore the IP connection and sockets.

**To Reproduce**
Build this sample app with PSM turned on: https://github.com/LairdCP/Pinnacle_100_Sample_Applications/tree/master/apps/low_pow

[2021-09-16 20:30] dleach02 commented on #38571
@ainguraXmarquiegui I posted a PR. Can you verify in your environment?

[2021-09-16 21:30] ainguraXmarquiegui commented on #38571
I will have access to the board on Monday. I will test your PR that same day, if that's OK.

[2021-09-16 21:39] #38402 closed

[2021-09-16 22:14] #37720 closed

[2021-09-16 23:24] ceolin opened #38619 "PM: Simplify device power states"
## Introduction

Currenty Zephyr defines distint power states for SoC and devices. How they are related is not
clear and a source of problems. This RFC aims to provide some clarity to this area and provide
more flexibility for applications.

### Problem description

There are four power states for devices and they are used by the
power subsystem according the power state that the system is
transit

[2021-09-16 23:26] ceolin commented on #38619
@nashif @erwango @gmarull @JordanYates @aurel32  ^^^^

[2021-09-17 05:45] hakehuang commented on #38571
the fix works on my frdm_k64f boards, but there are two questions:

1. usually linker place the init fucntion in alpha-beta order, so enet is always in ahead of net, however, when ethnet driver build as library this rules does not apply.

2. Now the init order is ptp timer first -> net core -> eth driver.  which means the eth driver eth_iface_init is called before eth_init. it looks ok for now, bu

[2021-09-17 06:50] vgeneves opened #38620 "STM32 uart driver prevent system to go to deep sleep"
**Describe the bug**
When using uart driver on STM32 (tested on `nucleo_wb55rg`) system can't go to sleep.

When printing logs (or printk) in the console using `uart_poll`, transfer complete isr is only called for the last byte of the string and not the previous ones.
In consequence `pm_constraint_release(PM_STATE_SUSPEND_TO_IDLE);` is not called and prevent system going to sleep.

**To Reproduce*

[2021-09-17 07:13] jdascenzio opened #38621 "Drivers: spi: stm32: Transceive lock forever"
**Describe the bug**
Transceive function lock forever when the SPI configuration failed

**To Reproduce**
A SPI device with a wrong baudrate must be set. For example
[code]
The first transceive failed with: `Unsupported frequency 10Hz, max 8000000Hz, min 62500Hz`
The next transceive lock forever

[2021-09-17 07:21] ycsin commented on #38620
@erwango ^^^

Hey @vgeneves , there's an inflight PR about a patch for the uart driver #38521, maybe you can try that first?

[2021-09-17 07:28] joerchan commented on #38613
Looks like a mix of not saving the needed state for the fallback, or an incomplete saving of the needed state.
Not storing new conn params before calling send_conn_le_param_update:
[code]
Not storing interval here:
[code]

[2021-09-17 07:33] ycsin opened #38622 "subsys/usb: CONFIG_USB_DEVICE_STACK resulted in 10kb increase in firmware size"
**Describe the bug**
I was getting this in my compilation logs when I'm building the mcuboot for a G0B1 custom board with `CONFIG_USB_DEVICE_STACK` enabled:

[code]

The firmware increased 10kb in size with `CONFIG_USB_DEVICE_STACK`, I certainly expect the size to increase as this option will compile the entire USB subsys and driver, but the warning makes me suspicious if some unrelated things wer

[2021-09-17 07:33] ycsin commented on #38622
@jfischer-no

[2021-09-17 07:36] vgeneves commented on #38620
Hi,

I just tried the patch but it does not solve the problem.

[2021-09-17 07:44] #31473 closed

[2021-09-17 07:46] #18316 closed

[2021-09-17 07:50] FRASTM commented on #38606
Moreover, it depends on the soc device in the stm32H7 family:
stm32h723x has ADC1/ADC2  with Oversampling ratio 0-1023  and ADC3 with Oversampling ratio  [2:0]
stm32h743x has ADC1/ADC2  with Oversampling ratio 0-1023

Additionnaly when the Oversampling ratio is  10bit-wide  the PCSEL register exists

[2021-09-17 08:01] FRASTM commented on #38606
Additionnaly when the Oversampling ratio is  10bit-wide  the PCSEL register exists  (consequently, on stm32h723x, ADC3 has no PCSEL register), **./drivers/adc/adc_stm32.c** :
[code]

[2021-09-17 08:09] tejlmand commented on #37770
@Thalley thanks for pointing my attention to the `topic-le-audio` branch.

And I do see the issue arising there, as `BT_AUDIO` is also used for adding files `bluetooth_host_audio` library, without necessarily having anything in the `bluetooth_audio` lib.
https://github.com/zephyrproject-rtos/zephyr/blob/e40e2df4a0a4a17c0745338c493bfef9933e14fb/subsys/bluetooth/host/CMakeLists.txt#L125
https://gith

[2021-09-17 08:11] tejlmand commented on #37770
It's still just a warning:
[code]

and it is ignored by CI.
But generally speaking, warnings are bad and should be addressed, which we are doing right now.

[2021-09-17 08:18] Thalley commented on #37770
@tejlmand

Correct. I am fine by closing this issue if it causes conflicts with bug cleanup for the LTS release. It does, however, still serve as a reminder that something needs to be done w.r.t. the Kconfig an LE Audio, which we hope to get upstreamed to the `main` branch as soon as the merge window opens again.

[2021-09-17 08:41] cvetaevvitaliy opened #38623 "add support ZigBee stack for EFR32 MCU"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

Please add support ZigBee for EFR32 chips

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Zephyr is a great OS, I would like to have ZigBee support for EFR32 chips

**Describe alternatives you've considered**
A clear and

[2021-09-17 08:53] hjuul commented on #38548
I spent some time debugging this, but haven't found the root cause yet.

Enabling DBG logs wasn't feasible because it increases the number of qspi writes, which in turn increases the number of logs, and so on.

A few observations:
* I've narrowed it down to the `QSPI_WaitFlagStateUntilTimeout()` call in `HAL_QSPI_Command_IT`. When the failure happens the system freezes for 5s (which is the value o

[2021-09-17 08:56] #38571 closed

[2021-09-17 09:06] maweicoltsmart opened #38624 "mcuboot gets the wrong value of DT_FIXED_PARTITION_ID"
project：zephyrproject/bootloader/mcuboot/samples/zephyr
branch：main
mcuboot commit：70bfbd21cdf5f6d1402bc8d0031e197222ed2ec0
zephyr commit：81595ed4db2081e227d6425acb25b6eec8191787
board & cpu：A microcontroller based on ARM Cortex-m0 designed in China
The dts file is modified as follows：
[code]
The kconfig file is modified as follows：
[code]
Compile and burn and run
`zephyrproject/bootloader/mcuboot

[2021-09-17 09:13] heinwessels commented on #38606
IMO it would be simpler to define the oversampling once, and not bother with the big `switch`. All H7 devices will need the `1<<sequence->oversampling`, but only if it's not ADC3.
[code]

---

If I understand your question correctly, then I believe the driver should do as the docs say and do `oversampling_ratio = 1<<sequence->oversampling;`. This means you won't be able to have custom ratio's of 1

[2021-09-17 09:30] erwango commented on #38601
Thanks for the help @stephanosio

Unfortunately, we don't get messages even with asserts enabled and even in debugger we don't reach `__assert_func`.

To save some time for others, I'll use `min_ram: 32`.

[2021-09-17 09:36] chrta commented on #38623
This is related to  https://github.com/zephyrproject-rtos/zephyr/issues/17005

[2021-09-17 09:55] DhruvaG2000 commented on #28959
If I understand correctly, I need to move function definitions like ``void ull_drift_ticks_get()`` ([for eg](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/bluetooth/controller/ll_sw/ull.c#L1892-L1936) )
and other places wherever there is ``#if defined(CONFIG_BT_PERIPHERAL)`` like these:
1. https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/bluetooth/controller/ll_sw/ull.

[2021-09-17 10:16] carlocaione commented on #38609
With this change we can now fully support the new mailbox bindings as proposed in #38616

[2021-09-17 11:12] martinjaeger opened #38629 "Power Electronics Roadmap"
This issue is used to track the status of features related to power electronics in Zephyr.

See also related [Mini-Conference recording](https://www.youtube.com/watch?v=9XKQqPuZh9w&ab_channel=ZephyrProject) from Zephyr Developer Summit 2021.

## Advanced PWM / timers

### Typical features

- Complementary PWM channels
- Automatic dead-time insertion
- Synchronization between multiple channels (typ

[2021-09-17 11:21] henrikbrixandersen commented on #38629
I have implemented support for the NXP Kinetis Analog Comparator (ACMP) using the Zephyr sensors API: https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/sensor/mcux_acmp/mcux_acmp.c

Perhaps we can generalize the sensor API extensions used for the ACMP and avoid a comparator specific API?

[2021-09-17 11:32] torge2 opened #38631 "printk to console fails for freescale kinetis 8.2.0 (Zephyr 2.6.0) on FRDM-K64F"
**Problem Description**
Printk outputs are not sent to the console using Freescale Kinetis 8.2.0, Zephyr 2.6.0, PlatformIO Core 5.20 (Home 3.3.4). Platform is FRDM-K64F.

**To Reproduce**
1. Install most recent PlatformIO v.2.3.3 in VS Studio Code (Core 5.2.0, Home 3.3.4).
2. Install Platfrom "Freescale Kinetis", ver. 8.2.0
3. Try a blinky App and additionally add one line of code at the beginning

[2021-09-17 12:09] FRASTM commented on #38606
changing from `2 << (sequence->oversampling - 1) `to `1<<sequence->oversampling`

[2021-09-17 12:11] #37475 closed

[2021-09-17 12:12] #38428 closed

[2021-09-17 12:20] ssharks opened #38632 "Multiple potential dead-locks modem_socket_wait_data"
This function implements to block to receive incoming modem data. There are at least 2 ways this could lead to a deadlock situation:

1. On receiving
The function works in tandem with modem_socket_data_ready. This function read the sock->is_waiting flag, and and gives a semaphore if the socket was waiting. If the function is executed between the function modem_socket_data_ready reads sock->is_wait

[2021-09-17 13:35] dleach02 commented on #38571
@hakehuang, The order is by section name where the individual device inits are assigned a section based on run-level and priority. If multiple devices have the same run-level and priority it is explicitly undefined which order those will occur. We have seen multiple instances where some change with the build system causes the linker to change the order of these.

[2021-09-17 15:12] FRASTM commented on #38548
In HAL_QSPI_Command_IT, the BUSY flag is checked until sw timeout, but do you see the (HW) Timeout flag (TOF) set in the status register QUADSPI_SR

[2021-09-17 15:24] erwango commented on #38620
Looking to following figure, it's clear that current implementation (`pm_constraint_set` on `poll_out`, `pm_constraint_release` on TC ISR) can't work for a stream of bytes:
![uart_frame](https://user-images.githubusercontent.com/18574308/133806793-357e264a-96de-4423-baaa-540d1cf3d667.png)
For a stream of bytes, we should not call `pm_constraint_set` for every `poll_out` calls, but rather we should

[2021-09-17 16:53] erwango commented on #38620
@vgeneves Would you mind checking https://github.com/zephyrproject-rtos/zephyr/pull/38521 ?

[2021-09-17 18:45] sjanc commented on #37611
L2CAP/ECFC/BV-22-C is fixed by https://github.com/zephyrproject-rtos/zephyr/pull/38639

L2CAP/ECFC/BV-24-C can be waived as IUT doesn't support on-demand MPS decreasing

[2021-09-17 20:46] mbolivar-nordic opened #38641 "Arm v8-M '_ns' renaming was applied inconsistently"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/pull/36780 aimed to rename all non-secure variants of Arm v8-M boards so they ended in '_ns'. The following boards still do not follow the pattern:

- circuitdojo_feather_nrf9160ns
- nrf9160_innblue21ns
- nrf9160_innblue22ns
- sparkfun_thing_plus_nrf9160ns
- thingy53_nrf5340_cpuappns

**Impact**

The extra churn did not achieve its

[2021-09-17 22:21] yperess opened #38643 "Add a mocking framework to go along ztest"
## Origin

https://github.com/meekrosoft/fff

## Purpose

Allows mocking C functions.

## Mode of integration

Module: from my experience it would be easier to update the fork. The module name should simply be `fff`

## Description

Zephyr is light on tests and while zmake provides a test framework it's difficult to do anything less than an integration test right now. FFF is a simple function mock

[2021-09-17 22:57] mmahadevan108 commented on #38622
PR https://github.com/zephyrproject-rtos/zephyr/pull/38471 should fix the warning.
commit:
https://github.com/zephyrproject-rtos/zephyr/pull/38471/commits/c5190f26e4ee1ced6b6b92bc03d714d2cbf82104

[2021-09-18 00:18] #38154 closed

[2021-09-18 00:24] Pillar1989 opened #38645 "cc13xx and cc26xx serial boards `i2c scan` not work"
**Describe the bug**
I believe that's a common issue. because `i2c scan` function is merged recently.
https://github.com/zephyrproject-rtos/zephyr/pull/21797

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=cc1352r1_launchxl
3. make
4. See error

**Expected behavior**
`i2c can ` work like this.
[code]
**Impact**
The impact is minor, it's just not functio

[2021-09-18 00:28] #33873 closed

[2021-09-18 00:36] cfriedt commented on #16587
@rlubos - can you please chat with @stephanosio about this?

[2021-09-18 02:30] #37916 closed

[2021-09-18 02:41] yperess commented on #37223
Can we create the fork?

[2021-09-18 03:56] maksimmasalski opened #38646 "SIMD Rounding bug while running Assembly addps instruction on Zephyr"
**Describe the bug**
I have been performing SIMD assembly calculations using XMM registers on x86 ElkhartLake board. I can see difference when running Assembly program integrated into Zephyr RTOS program on ElkhartLake. The identical Assembly code I integrated into Console application on Linux Fedora, and it gives different results in registers after performing "addps" instruction.
I understand th

[2021-09-18 06:19] yashi commented on #37223
Hi @yperess, I'm interested in CHRE on Zephyr.   How did the presentation go?  I read the [TSC minutes](https://docs.google.com/document/d/1qOSz9EdSLMuCR8wNdlvq4kCjqoxWyiKktAtLrsV5mUg/edit#heading=h.bgujgrc0i2z5) and see TSC label removed but not sure about the current situation.

I don't see Zephyr in the [CHRE repo](https://android.googlesource.com/platform/system/chre/+/HEAD/platform) yet.  Are

[2021-09-18 07:23] maksimmasalski commented on #38646
Root cause is:
Zephyr somehow changes `mxcsr` register value.
When EHL starts value of the `mxscr` register is `0x1f80`
After Zephyr launches value changes to `0x1dc0`
That setup enables `Denormals are zeros` daz flag 1
And disables `Divide by zero mask` zm flag 0

MXCSR causes calculation difference. @dcpleung @andyross Any ideas about that?

[2021-09-18 08:04] mmurty commented on #29414
Hi @mbolivar ,
I am trying to do the same thing in WSL.
Any update on this issue?

[2021-09-18 10:30] #38563 closed

[2021-09-18 11:27] DhruvaG2000 commented on #28959
Kindly assign this issue to me if my PR seems okay...
I will continue once I get assigned to make sure that I understand this issue and solution correctly

[2021-09-18 12:55] cfriedt commented on #37241
tested again on main after tagging v2.7.0-rc2

[2021-09-18 13:02] #38578 closed

[2021-09-18 13:43] cfriedt commented on #38314
What about for the final v2.7.0 release? Will that have a very large changelog as well?

[2021-09-18 14:02] yperess commented on #37223
@yashi I believe that the next step is that an admin from Zephyr needs to fork https://android.googlesource.com/platform/system/chre/+/refs/heads/master into https://github.com/zephyrproject-rtos/chre.

We then create a `zephyr` branch and add the `zephyr/module.yml` file and merge the appropriate changes into Zephyr to build it.

So really we're just waiting on the fork to be able to do any actua

[2021-09-18 15:17] yperess commented on #37850
I believe since this is all possible now, we can close this issue.

[2021-09-18 15:17] #37850 closed

[2021-09-18 15:19] JPSELC commented on #38531
I think a key thing here is to allow the application to track notifications from creation to acknowledge or timeout via this generic  lwm2m_observe_cb_t
When a notification is sent, the lwm2m obj path, token and msg pointer are available.
However when acknowledged, only the token is available, and when timeout, only the msg pointer is available

[2021-09-18 17:19] yashi commented on #37223
@yperess, Sorry for my ignorant but does the upstream already have working Zephyr port?  I checked the [repo](https://android.googlesource.com/platform/system/chre/+/refs/heads/master ) but did't see it.  I mean, if the upstream already have working Zephyr port, we don't need to fork it under Zephyr project (I know we have many cloned repos under).  We can create a PR with glue code (if needed) an

[2021-09-18 19:23] nandojve commented on #35721
@galak , see #38085 which may fix DMA/ASYNC issues with SAM0.

[2021-09-18 19:58] zisisadamos opened #38649 "Support for KS0108 compatible displays."
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
Support for monochrome GLCDs utilizing KS0108 controller.

**Describe why you are asking for this support?**
Im just creating that issue to match my PR.

If this is a new board or SoC, please state whether you are willing to maintain the Zephyr support for it if it is included

[2021-09-19 00:41] cfriedt commented on #35721
@rocky134 - I think the `get_maintainers` should go away if you rebase. vaguely recall that from a separate pr.

[2021-09-19 00:53] rocky134 commented on #35721
@cfriedt rebase what? PR #38085 up to the current main head?

[2021-09-19 01:44] yperess commented on #37223
Yes, I suppose we could simply add it directly as a new remote.

I'll try to put something together over the next 2 days.

[2021-09-19 10:14] ycsin opened #38653 "drivers: modem: gsm_ppp: Add support for Quectel modems"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
Multiple Quetel modems supports the PPP and maybe GSM MUX, the current `gsm_ppp` driver should be able to support these modems with minimal changes.

**Describe why you are asking for this support?**
I'm currently using Quectel modems in my custom board.

**Additional context*

[2021-09-19 11:08] ycsin opened #38654 "drivers: modem: bg9x: Has no means to update size of received packet."
**Describe the bug**
This issue is to document an unresolved bug that I encountered when I first tried the ZephyrRTOS with the `bg9x` modem driver on my EC21 modm.

The current `quectel-bg9x` driver's recv isn't working as expected, as the [recv's unsolicited cmd handler](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/modem/quectel-bg9x.c#L378) doesn't update the packet size for th

[2021-09-19 11:51] leonardp opened #38655 "Failing Tests for Regulator API"
**Describe the bug**
The following testcases are failing:
drivers.regulator.fixed.onoff.on_delay
drivers.regulator.fixed.onoff.off_delay

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/drivers/regulator/fixed
2. add `boards/<board>.overlay` if needed
3. `west build -b <board> . -p -- -DDTS_EXTRA_CPPFLAGS=-DAPP_DTS_REGULATOR_ON_DELAYED`
4. west flash
5. inspect output

**Expected beh

[2021-09-19 15:27] nandojve opened #38657 "[RFC] GigaDevice Vendor Support"
## Introduction

There is community interest to add support to GigaDevice SoC Vendor in Zephyr. Community members have intentions to support both ARM and RISC-V SoC's. This RFC was opened to serve as an umbrella to help community and Zephyr members know the initiatives.

### Problem description

Currently there are some attempts to introduce support in Zephyr:
#36832
#36833
#34970
#34971

The main

[2021-09-19 18:03] tcpipchip commented on #38653
Hi,
I am using that driver, GSM_PPP (Generic), but i never getting the GATEWAY and  MASK, they always are returning 0.0.0.0 and 0.0.0.0
I only got the IP
I am testing in three u-blox models, LISA U200, G350 and G450.
Looks that the problem is that we dont have the USER and PASSWORD option on GENERIC_MODEM

[2021-09-19 19:44] elliot-wdtl commented on #38654
This is interesting info. I'm working with bg95 and I have made quite a few changes which I haven't got to trying to upstream yet. I take advantage of configuring the modem to indicate the length so maybe this will be a problem if it's not available on lots of modems. I have also found that even if I configure it to indicate the length, it will not indicate the length on SSL sockets which is a sti

[2021-09-19 20:24] ainguraXmarquiegui opened #38665 "Add real support for MIMXRT1050_EVK_QSPI"
**Is your enhancement proposal related to a problem? Please describe.**
Zephyr currently has a compile target named `mimxrt1050_evk_qspi` that any newcomer to the platform would expect to work as straightforward as any other target. Unfortunately, images compiled for this target cannot be flashed with `west flash`, and if flashed with some other methods, they will not boot.

**Describe the solutio

[2021-09-19 20:24] ainguraXmarquiegui commented on #38665
@MaureenHelm
@dleach02

[2021-09-19 23:15] huelsenfruchtzwerg commented on #38531
I like the idea.

I don't quite understand this. E.g. the path is available at the time the acknowledgement is received. Or are you saying this information should be withheld intentionally, to "force" the app to keep track of the precise notification/ack pair if it want's to know what was acknowledged?

[2021-09-19 23:15] huelsenfruchtzwerg commented on #38534
Yes, I agree, a generic solution seems like the most desireable outcome.

[2021-09-19 23:23] huelsenfruchtzwerg commented on #38527
@boaks That's a very acute observation. :)
We had some more discussions internally and arrived at the conclusion that this is better solved in the backend by introducing a registration/observation store, as you suggest.
I still believe better visibility of the application into what observations do/don't exist/are canceled would be a very desirable feature, but as @rlubos this would probably fit we

[2021-09-19 23:23] #38527 closed

[2021-09-19 23:31] #35721 closed

[2021-09-20 00:29] #36755 closed

[2021-09-20 00:29] #36747 closed

[2021-09-20 00:29] #32803 closed

[2021-09-20 01:34] ycsin commented on #38602
Not sure if I understood you, you will need something like [this](https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/net/gsm_modem/boards/frdm_uart2_dts.overlay) in an `.overlay` in your application directory or inside your `someboard.dts` file.

TX/RX gpios are usually already in the `*.dtsi` file which the `someboard.dts` includes, if you are using an in-tree board.

[2021-09-20 01:37] ycsin commented on #38653
@tcpipchip

Maybe create another issue(s) for these?
This issue is for the support of Quectel modems, and will be closed automatically when PR #38652 get merged

[2021-09-20 02:29] tcpipchip commented on #38602
I am sorry sorry! Tx and rx are working! I can get IP using generic modem on Lisa u200 and Sara g350. I have to know why I can’t get the gateway and mask. Boths return 0.0.0.0

[2021-09-20 02:30] tcpipchip commented on #38653
Ok!

[2021-09-20 02:38] kclauah opened #38667 "ST LSM6DSO polling mode does not work on nRF52dk_nrf52832"
**Describe the bug**
[code]
Running on nRF52dk_nrf52832. Also tried with sparkfun thing plus nrf9160.

**To Reproduce**

1. add nrf52dk_nrf52832.overlay in the project
[code]
2. add overlay in the CMakeLists.txt file
[code]
3. west build -b nrf52dk_nrf52832 zephyr\samples\sensor\lsm6dso
4. west flash
5. See 0

[2021-09-20 06:47] sam131208 opened #38668 "ESP32‘s I2S"
Zephyr shall support I2S devices. ESP32 has been in zephyr for a long time, it is time to improve their driver support.

   ESP32's I2S integrates many other functions and is highly technical. It is more appropriate to be completed by zephyr.

[2021-09-20 07:31] boaks commented on #38527
Just for curiosity: which implementation do you use for the lwm2m-server/coap-client? (If allowed to publish that.)

[2021-09-20 07:33] ainguraXmarquiegui commented on #33747
Status report:

mimxrt1050_evk has now been running for more than 6 days. No `eth_mcux: ENET_SendFrame error`errors, so that appears to have been permanently fixed.

[Here](https://github.com/zephyrproject-rtos/zephyr/files/7194119/mimxrt1050_long_test_run.txt) you can see the logs of that test run.

Running gptp demo on the latest code base for the frmd_k64 board and doing long test runs I'm real

[2021-09-20 07:56] ainguraXmarquiegui commented on #38571
You've already had confirmation from others, but just to keep my promise I have verified it on my own hardware. It seems to work. Thank you for the fix!

[code]

[2021-09-20 08:20] JPSELC commented on #38531
When an acknowledge is received it refers to the token. You can perhaps look up the token to see what path it corresponds to, but if you want to go to sleep you will have to ensure that the latest notification is acknowledged, that is, track each notification to acknowledge or timeout. It's not enough to know the path if you have the potential for multiple notifications from that path.

[2021-09-20 08:23] hjuul commented on #38548
@FRASTM , When the failure has occurred, `SR->BUSY` is stuck at one but `SR->TOF` is not set. (FTF and TCF bits are set and FLEVEL=28)

[2021-09-20 09:57] #38641 closed

[2021-09-20 10:11] AllemanMa opened #38673 "DNS-SD library does not support `_services._dns-sd._udp.local` meta-query for service enumeration"
**Is your enhancement proposal related to a problem? Please describe.**
When building and running the mdns_responder sample, the device won't show up in avahi-browse or zeroconfServiceBrowser automatically. The device will only reply when you specifically query the following: `avahi-browse -t -r _zephyr._tcp`.

It seems like `_services._dns-sd._udp.<domain>` meta-query handling is not implemented.

[2021-09-20 10:17] #38245 closed

[2021-09-20 10:39] FRASTM commented on #38548
For the moment I do not see this error on my sample application. I am Sharing few ideas based on the [AN4760](https://www.st.com/content/ccc/resource/technical/document/application_note/group0/b0/7e/46/a8/5e/c1/48/01/DM00227538/files/DM00227538.pdf/jcr:content/translations/en.DM00227538.pdf)
Looking into the code I find that the default timeout value is 5000U (from HAL_QSPI_TIMEOUT_DEFAULT_VALUE)

[2021-09-20 11:13] lgl88911 opened #38675 "DTS binding create devicetree_unfixed.h build error at v2.7.0"
**Describe the bug**
I added the dts binding file and devicetree node, it compiles normally under v2.6.0, but fails to compile under 2.7.0-rc2.

**To Reproduce**
Steps to reproduce the behavior:
1. Add file dts/bindings/sensor/rotary-encoder.yaml
[code]
2. add node to board devicetree
[code]
3. Add driver file drivers/sensor/rotary_encoder/rotary_encoder.c
[code]
4. When I use west to build,See er

[2021-09-20 12:45] hakehuang commented on #33747
@ainguraXmarquiegui thanks a lot, I get some review from internal exptert on the driver implement to improve precision, I will create a PR from their advices soon.

[2021-09-20 13:10] jfischer-no commented on #22455
Please fix it there in Linux Kernel.

[2021-09-20 13:10] #22455 closed

[2021-09-20 13:17] FRASTM commented on #38548
with log the failure could appear more clearly in `LOG_ERR("%d: Failed to send QSPI instruction", hal_ret);  `if you suspect an error during the qspi_read_access()

[2021-09-20 13:39] hjuul commented on #38548
@FRASTM , from the log output of my original post you can see that `hal_ret` is 1 on first failure, then 2 on all subsequent accesses.

I will try with the additional abort tomorrow. But even if that fixes the symptom, isn't it a problem that I get an error in the first place?

[2021-09-20 13:45] dleach02 commented on #38631
@torge2, you need file this bug with the PlatformIO project.

[2021-09-20 14:01] torge2 commented on #38631
So is this working with Zephyr 2.6.0 without PlatformIO? For me this is not clear.

[2021-09-20 14:17] #38621 closed

[2021-09-20 15:26] AfAbdel commented on #38593
I posted in the Nordic DevZone and they said it was an upstream Zephyr issue
https://devzone.nordicsemi.com/f/nordic-q-a/79727/using-rtt-console-to-print-along-with-newlib-c-library-in-zephyr

[2021-09-20 15:41] simonguinot opened #38683 "stm32g0b1: spi: MOSI signal goes high before and after transmitting data"
I noticed this issue while using the ws2812_spi LED strip driver on a nucleo_g0b1re board.

The led_ws2812 sample can be used to reproduce the issue. This [patch](https://github.com/simonguinot/zephyr/commit/3a9b09aced5643bd30f7ea2404401f2928c773ac) is needed to add support for the nucleo_g0b1re board to the led_ws2812 sample.

When running this sample, then the MOSI signal goes high for 80 micros

[2021-09-20 15:45] stephanosio commented on #38258
_As per the Toolchain WG meeting today:_

SDK 0.13.1 will be released for and used by the Zephyr 2.7.0 release since it contains a critical ARM-related security fix.

[2021-09-20 15:45] simonguinot commented on #38683
Hi @erwango. Maybe do you have some ideas about how to fix this behaviour ?

[2021-09-20 16:04] #34913 closed

[2021-09-20 16:24] #38617 closed

[2021-09-20 17:08] dcpleung commented on #38136
Ignored as Coverity doesn't understand Zephyr's syscall mechanism.

[2021-09-20 17:08] #38136 closed

[2021-09-20 17:08] dcpleung commented on #38129
Ignored as Coverity doesn't understand Zephyr's syscall mechanism.

[2021-09-20 17:08] #38129 closed

[2021-09-20 19:41] legoabram commented on #35760
At the very least, I can confirm that this is the case. There are also some issues related to corrupting the work queue stack by reinitializing the work item before it's completely done. I haven't had to time to work on a fix, but I think the cleanest fix is to modify the library so that anything in the context is fully deallocated or uninitialized before notifying the user that the operation is c

[2021-09-20 23:34] #37718 closed

[2021-09-20 23:48] #38601 closed

[2021-09-20 23:50] #37852 closed

[2021-09-20 23:56] #37456 closed

[2021-09-21 00:55] elliot-wdtl commented on #37456
I wouldn't say it's fixed in main branch. It is different but the sizes of things still don't make sense to me. Here is an example of the output:
[code]
Now we get different first level children in root "(no paths)", "ZEPHYR_BASE", "(hidden)" and "/" (which seems to mostly be all sources other than zephyr.
Now if we add the sizes of the first 3 we get the size of the parent node ("Root").
This mea

[2021-09-21 01:14] ycsin commented on #38654
I guess for older firmware's users they will have to implement the AT+QIRD way, at least your current implementation will cover lots of newer firmware and modems

[2021-09-21 03:48] pigeonhands opened #38688 "bt_gatt_unsubscribe does not remove subscription from internal list/returning BT_GATT_ITER_STOP causes bt_gatt_subscribe to return -ENOMEM / -12"
**Describe the bug**
If BT_GATT_ITER_STOP is returned from the [`bt_gatt_subscribe_params::notify` callback](https://github.com/zephyrproject-rtos/zephyr/blob/357ec64b36cd84ca87660407e67eb0cb1cfe932b/subsys/bluetooth/host/gatt.c#L2802), [`bt_gatt_unsubscribe` is called](https://github.com/zephyrproject-rtos/zephyr/blob/357ec64b36cd84ca87660407e67eb0cb1cfe932b/subsys/bluetooth/host/gatt.c#L4554) wh

[2021-09-21 07:03] ssharks opened #38689 "gsm_ppp: double semaphore give in response to AT+CGATT?"
To detect if the modem is connected, the AT+CGATT?, this will reply with +CGATT: 0 or +CGATT: 1 and OK. In both the handler on_cmd_atcmdinfo_attached as well as the gsm_cmd_ok handler the gsm.sem_response semaphore is given.
This means every AT+CGATT? gives 2 times the gsm.sem_response while only 1 is taken.

Secondly the handler on_cmd_atcmdinfo_attached uses the return code -EAGAIN to feedback i

[2021-09-21 07:32] tfir1981 opened #38690 "Wrong initialisation priority on different display drivers (eg. ST7735r) cause exception when using lvgl."
**Describe the bug**
I am using the sample located to `sample/subsys/display/lvgl/` as reference for my code.
I want to try out the lvgl framework on my hardware which consists of a display with the ST7735r-Controller.
The following lines are my Kconfig:

[code]

I compiled the sample code and load it into my MCU. While booting i got a Bus error exception. See logs below.

**Expected behavior**
I

[2021-09-21 07:32] hjuul commented on #38548
@FRASTM I tried your patch, and also applied it in `qspi_write_access()` . `HAL_QSPI_Abort_IT()` always returns `HAL_OK` and it prevents my system from freezing for 5s. But it doesn't really solve my problem because I still can't access the QSPI flash, and the failure still persists after the first failure.

In the meantime I've updated to Zephyr v2.7.0-rc2, and there I haven't been able to reprod

[2021-09-21 08:34] lairdjm opened #38691 "MPU fault with mcumgr bluetooth FOTA started whilst existing FOTA is in progress"
**Describe the bug**
We have a ncs 1.6.1 (zephyr 2.6) application and part of that is being able to upgrade the firmware via bluetooth. The mobile app being used to test isn't great and allows for starting a FOTA upgrade whilst an existing FOTA is in progress, however this seems to cause a hard fault and crash the zephyr application (running on an nRF52840 with mcuboot, it crashes because it seems

[2021-09-21 08:38] jakub-uC commented on #38612
@lairdjm
I shall have a fix shortly.

[2021-09-21 08:47] lairdjm commented on #38691
Breakpoint placed where it happens:
[code]

[2021-09-21 08:48] erwango opened #38692 "samples/tfm_integration: Compilation fails ("unexpected keyword argument 'rom_fixed'")"
**Describe the bug**
Compilation fails for all TFM samples on various targets:
Samples:
- samples/tfm_integration/psa_crypto
- samples/tfm_integration/tfm_ipc
- samples/tfm_integration/psa_protected_storage
- samples/tfm_integration/tfm_regression_test
- samples/tfm_integration/tfm_psa_test

Targets:
- mps2_an521_ns
- lpcxpresso55s69_ns
- stm32l562e_dk_ns
- nucleo_l552ze_q_ns

**To Reproduce**
Ste

[2021-09-21 09:02] lairdjm commented on #38691
So from having a look at the code it seems that the mcumgr library will grant resources whenever they are asked for, this means you can initiate many firmware updates at once. For this, it uses the mcumgr memory pool, and doesn't check if it was allocated successfully or not, then proceeds to use it as a buffer and put the data there. So in theory I guess it would be possible to fault any MPU-prot

[2021-09-21 09:06] FRASTM commented on #38548
In the flash_stm32_qspi.c, two callback functions are not defined
HAL_QSPI_AbortCpltCallback
HAL_QSPI_FifoThresholdCallback
So in case one of those irq is raising, the dev_data->sync should also be released :
[code]

[2021-09-21 09:23] vntsn opened #38694 "Disabling NET_CONFIG_AUTO_INIT does not require calling net_config_init() manually in application as mentioned in Zephyr Network Configuration Library documentation"
**1.** I have disabled NET_CONFIG_AUTO_INIT in prj.conf file as I want to do network configuration and initialization in application. As per documentation "If you want to use the network configuration library but without automatic initialization, you can call net_config_init() manually". Reference: https://docs.zephyrproject.org/2.6.0/reference/networking/net_config.html
**But networking is workin

[2021-09-21 09:36] lairdjm commented on #38691
Seems the NULL check was fixed by https://github.com/zephyrproject-rtos/zephyr/commit/36cf48464060bfcbf66cf325732c655584fe4b9d#diff-3a9db6d030e61f42affda8473c246646c3267765ebc87858631d2dc08c6517d6 but that leaves the other issue of SMP seemingly allowing a firmware update whilst a firmware update is already in progress

[2021-09-21 09:41] lairdjm commented on #38691
Thinking that issue might just be the 'quality' mobile app, closing.

[2021-09-21 09:41] #38691 closed

[2021-09-21 09:59] microbuilder commented on #38692
I've just tested this with 0.13.0 (though the OS X builds as a quick test since I have that setup), and with `west` it seems ro work fine:

[code]

Switching to manually calling cmake with `ninja` I get:

[code]

With `make` I get:

[code]

So this seems to be specific to `make` ... `ninja still works`.

Thanks for the heads up, though. I've only been testing with ninja and west.

[2021-09-21 10:05] microbuilder commented on #38692
@erwango I'm not getting the same error with `make`, though. Your error seems to be related to the signing script, which may need to be updated to take into account recent changes to TF-M? Can you try running the `west` command and see if that works for you, and also making sure you're using the latest signing script?

It's the `imgtool` here: https://docs.zephyrproject.org/latest/guides/tfm/requi

[2021-09-21 10:13] cfriedt commented on #38673
The specific feature is called "service type enumeration" and is mentioned in the RFC on section 9.

https://datatracker.ietf.org/doc/html/rfc6763#section-9

[2021-09-21 10:14] AllemanMa opened #38697 "The coap_server sample is missing the actual send in the retransmit routine"
**Describe the bug**
If a device can't reach it's destination, it will get into `retransmit_request` for several times to decrement its retries, however no actual send is performed which makes the retransmit request useless.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the coap_server sample
2. Observe the resource i.e. `coap get -o coap://xx.xx.xx.xx/obs`
3. Stop the coap client
4.

[2021-09-21 10:21] #37119 closed

[2021-09-21 10:23] #38069 closed

[2021-09-21 10:24] #34324 closed

[2021-09-21 10:52] MateuszKarlic opened #38698 "stm32f4_disco: Socket CAN sample not working"
**Describe the bug**
When trying to run Socket CAN sample in Renode from: https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/net/sockets/can with Zephyr version above 2.5, the sample hangs on `rx` instead of executing infinite `rx/tx` loop, without sending even one frame.
It looks like the issue is caused by changes introduced around: https://github.com/zephyrproject-rtos/zephyr/pull/2

[2021-09-21 11:01] carlescufi commented on #38348
All done!

[2021-09-21 11:01] #38348 closed

[2021-09-21 11:43] AllemanMa opened #38700 "Observable resource of coap server seems to not support 2 observers simultaneously"
**Describe the bug**
If I try to observe the `/obs` resource from my pc, I do get the desired behaviour of the counter being incremented and transmitted every 5 seconds. If I however open a second terminal and observe the `/obs` resource for a second time as well, the first observer keeps receiving counter updates however my second observer doesn't. It received the counter value only a single time

[2021-09-21 11:53] AllemanMa opened #38701 "Observable resource of coap server seems to not support a restart of an observer"
**Describe the bug**
If I start an observer for the `/obs` resource, and stop it after some time and then restart an observer, the counter will be received only a single time and will be never received again in the future.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the coap_server sample
2. Observe the resource i.e. coap get -o coap://xx.xx.xx.xx/obs
3. Abruptly stop the observer

[2021-09-21 12:15] AllemanMa opened #38702 "Coap server not properly removing observers"
**Describe the bug**
If a host is observing a resource and then abruptly stops observing it, I would expect the coap server to do multiple retransmits (up till now the actual send is missing), and then remove the observer. Now only a coap message with type `COAP_TYPE_RESET` will remove an observer. Besides that, the free spaces in the buffer of observers runs empty after 3 times of starting up an

[2021-09-21 12:24] carlescufi commented on #34971
@soburi

No, I don't see why that is a problem at all. I think a `hal_gigadevice` would probably make sense, we already have HALs that cover more than one arch. I have mentioned that [here](https://github.com/zephyrproject-rtos/zephyr/pull/36833#issuecomment-923930673) as well.

[2021-09-21 12:37] erwango commented on #38692
@microbuilder Thanks for the quick feedback.

I didn't mention, but I was using `west build` actually.
On your advice, I've updated my pip3 packages (but I forgot to check what was the previous status).
And ... I'm getting the same error.

[code]

Note that I'm getting a strange warning when calling pip3 directly. Not sure if this can have an impact.
[code]

[2021-09-21 12:52] erwango commented on #38692
The TFM doc you pointed actually specifies "imgtool>=1.6.0"; so it might require an update indeed.
Anyway, updated to v1.7.0 now, and the error persists.

[2021-09-21 13:00] SebastianBoe commented on #38692
Strange that in the issue description "make" is invoked, but this shows up the log output:

[2021-09-21 13:04] SebastianBoe commented on #38692
Could not reproduce ninja vs Make problem.

r```
m -rf build/ && cmake -H. -Bbuild -DBOARD=mps2_an521_ns -G"Unix Makefiles"
Including boilerplate (Zephyr base): /home/sebo/ncs/zephyr/cmake/app/boilerplate.cmake
CMake Deprecation Warning at /home/sebo/ncs/zephyr/cmake/app/boilerplate.cmake:37 (cmake_policy):
  The OLD behavior for policy CMP0079 will be removed from a future version
  of CMake.

[2021-09-21 13:13] microbuilder commented on #38692
@erwango Just to be sure, have you tried a `west update` to make sure you're using the right version of the TF-M module, and that `bl2/ext/mcuboot/scripts/wrapper/wrapper.py` is in sync with the rest of Zephyr?

[2021-09-21 13:25] ck-telecom commented on #38354
but when SPI1 remaped in LL_GPIO_AF_EnableRemap_SPI1(), the LL library LL_GPIO_AF_EnableRemap_SPI1() API set CONFIG_SWJ_NO_REMAP status

[2021-09-21 13:26] erwango commented on #38692
I think it's ok from this point of view:
[code]

[2021-09-21 13:41] de-nordic commented on #38502
Included here: https://github.com/zephyrproject-rtos/mcumgr/pull/43

[2021-09-21 13:41] vgeneves commented on #38620
I replied in the PR thread https://github.com/zephyrproject-rtos/zephyr/pull/38521. This fixes the issue on my side.

[2021-09-21 13:58] simonguinot commented on #38683
Hi @FRASTM,

Thanks for testing.

OK. And do you have a high "preamble" or not on the MOSI signal ?

With this sample, you won't see many visual artifacts due to the extra bit.  So it may seem OK visually while it is not.

Please have a look at the signal.

If you need, I can provide a sample with a visual feedback when the bug is here.

The ws2812_spi driver supports two different devices: WS2812

[2021-09-21 14:00] rlubos commented on #38698
It seems that socket CAN has to implement a similar mechanism as the native socket implementation does, for instance to release the mutex with a conditional variable in order to allow for parallel RX/TX.

[2021-09-21 14:12] simonguinot commented on #38683
Hi @erwango.

Thanks for looking into this. Unfortunately I don't have much more information.

I can tell I never experimented this issue with F0 MCUs.

I don't have built a firmware using STM32Cube (because I don't have the setup), so I don't know if the issue is rather in Zephyr, or in the HAL/SDK, or in the SPI controller itself.

Also I tried to play with the pinmux configuration or the SPI mo

[2021-09-21 14:15] FRASTM commented on #38683
If I keep the definition for the ws2812, the MOSI high level is seen during ~60µs  when CONFIG_SPI_STM32_DMA=y

[2021-09-21 14:32] #38276 closed

[2021-09-21 14:53] erwango commented on #38692
Compilation succeeds after imgtool uninstall/reinstall.
Closing the issue. Thanks @microbuilder for the support.

[2021-09-21 14:53] #38692 closed

[2021-09-21 15:12] erwango commented on #38519
Fixed by #38686

[2021-09-21 15:12] #38519 closed

[2021-09-21 15:38] #38433 closed

[2021-09-21 15:40] aaronemassey opened #38715 "DT Macro for counting nodes"
**Is your feature request related to a problem? Please describe.**

I have a use-case where I need to know the length of children nodes or nodes with a compatible string.

**Describe the solution you'd like**

Two DT macros like:

* `DT_COUNT_STATUS_OKAY(compat)`
* `DT_COUNT_CHILDREN(NODE_ID)`

**Describe alternatives you've considered**
Currently my solution is to write macro functions like:

[co

[2021-09-21 15:48] rerickson1 opened #38716 "modem: HL7800: does not work with IPv6"
**Describe the bug**
If `CONFIG_NET_IPV6=y` and `CONFIG_NET_IPV4=n` the HL7800 driver will not work with IPv6 addresses.

**To Reproduce**
Modify `proj.conf` in this sample to test:
https://github.com/LairdCP/Pinnacle_100_Sample_Applications/tree/master/apps/low_power

**Expected behavior**
HL7800 driver should work with IPv4 only, IPv6 only, or both enabled.

**Impact**
Showstopper for those want

[2021-09-21 16:14] carlescufi commented on #38609
API meeting:

- Change looks fundamentally fine
- Switch from typedef to struct for channels
- Switch from int to k_timeout_t for timeouts

[2021-09-21 16:48] joerchan commented on #38613
@ejohnso49 The first code-block shows that all 4 values are saved when the timer is not expired. But when the timer is expired it goes to `send_conn_le_param_update` which only saves 2 of the values.

[2021-09-21 16:55] yperess commented on #37223
Seems I can't just pull it in, I've tried adding it as a module directly to `west.yaml` and while the sync happens correctly it seems that without a zephyr branch and a `zephyr/module.yaml` file I'm not able to enable the config. See https://github.com/zephyrproject-rtos/nanopb/blob/zephyr/zephyr/module.yml as an example for another module.

So I think we really need an admin to create https://git

[2021-09-21 16:58] dcpleung commented on #37456
Hm... possibly due to how paths are handled under Python in Windows. Is it possible to build your code under Linux as comparison?

[2021-09-21 16:59] lairdjm opened #38719 "mcuboot configured to use scratch partition (with QSPI nRF52840) does not work"
**Describe the bug**
Some devices such as the nRF52840 require buffers to be 4-byte aligned and also lengths to be 4-byte aligned, mcuboot when built to use the scratch partition on an nRF52840 whereby one slot resides in QSPI does not work. This seems to be because mcuboot will, in that configuration, make multiple 1-byte reads which are not supported, the data it gets back is either empty or gar

[2021-09-21 17:07] microbuilder commented on #37223
@galak What's the process to formally create a module repo under `zephyrproject-rtos`?

[2021-09-21 17:28] cfriedt commented on #38719
Is this an MCU Boot bug or Zephyr bug?

[2021-09-21 17:33] cfriedt commented on #38700
@rlubos - are you able to triage this further? Is this expected behaviour as per Zephyr's docs?

[2021-09-21 17:34] cfriedt commented on #38697
@AllemanMa - are you able to submit any PRs for this or other coap issues? tests welcome as well.

[2021-09-21 17:39] lairdjm commented on #38719
@cfriedt the flash map files are in zephyr itself, used by both zephyr and mcuboot, so based on that would say a zephyr issue. Although maybe zephyr has code that deals with the alignment which isn't built into the mcuboot code

[2021-09-21 17:45] yperess commented on #38643
I should also add that the current mocking framework for Zephyr has 2 downsides:
1. Anyone moving into Zephyr has yet another learning curve. FFF is the framework used on Android and is very common.
2. Zephyr's mocking is "incomplete" still and under featured.
    - `CONFIG_ZTEST_PARAMETER_COUNT` is needed and limits arguments
    - It isn't possible to use the framework to check the history of ar

[2021-09-21 17:53] cfriedt commented on #38544
@chrisc11 - can you please take a look at this?

[2021-09-21 19:02] jfischer-no commented on #38655
I confirm the error on nrf52840dk.

[2021-09-21 20:17] elliot-wdtl commented on #37456
Looks like you are right. When I run it under linux the top level "/" node actually gets a size and the "(hidden)" one is around 20k smaller. The 4 top level nodes actually add up to the total too.

[2021-09-21 20:50] dcpleung commented on #37456
"(hidden)" are symbols taking up memory but there no associated debug information and/or symbols. Most of the time these are strings used directly in function calls. For example, `printk("Hello World!");` where `"Hello World"` has no symbol associated but still taking up space.

[2021-09-21 21:06] aurel32 commented on #38619
Would that be possible to also add the `soc_substate` in addition to the `soc_state`? For example on STM32, `PM_STATE_SUSPEND_TO_IDLE` is mapped to STOP0, STOP1 and STOP2 modes using substates. Depending on the substate, the various peripheral might need specific actions or not.

[2021-09-21 21:13] ceolin commented on #38619
Yes, it should probably be the `pm_state_info` struct instead of only the enum.

[2021-09-21 21:25] dleach02 commented on #38690
@tfir1981, please submit a PR to move this to POST_KERNEL per you suggestion. It isn't clear to me why this particular driver is being initialized in APPLICATION.

Only the display_st7735r.c and display_st7789v.c use APPLICATION level so I recommend having your PR change both of these to POST_KERNEL.

[2021-09-21 21:41] elliot-wdtl commented on #37456
Thanks @dcpleung. Your example would account for some hidden things in a rom report right? Do you have an example of what would end up in "(hidden)" in the ram report?

[2021-09-21 22:00] dcpleung commented on #37456
Hm... can't think of one at the moment. Eventually it depends on the toolchain whether it wants to emit certain symbols. Since those symbols are not emitted, there is no direct way of figuring out where they reside in memory either. So if you really want to get to the bottom of it, you will need to figure out the memory regions not covered by all other symbols, and wait for those to get accessed i

[2021-09-21 22:42] attzonko commented on #2746
Technically speaking there isn't much preventing you from doing this already, and we did a quick proof of concept to verify.

One small obstacle we encountered was that currently, the kernel prevents dynamic allocation of K_OBJ_THREAD_STACK_ELEMENT which we felt was needed in order to allow dynamically loaded modules to have their stack run-time allocated by the kernel from the heap. What we notic

[2021-09-21 23:00] dcpleung commented on #2746
Adding the ability to dynamically allocate stack should be relatively easy at this point.

As for memory space, with MMU, each module can be assigned a virtual memory region. At runtime, the MMU takes care of the mapping. Without MMU, it is going to be tricky.

[2021-09-21 23:11] mbolivar-nordic opened #38725 "Process: replacing CODEOWNERS with MAINTAINERS"
This issue tracks replacing the [CODEOWNERS](https://github.com/zephyrproject-rtos/zephyr/blob/67151b930a42f791f40363427463f8364b7d05d0/CODEOWNERS#L1) file with the [MAINTAINERS](https://github.com/zephyrproject-rtos/zephyr/blob/main/MAINTAINERS.yml) file.

The CODEOWNERS file and MAINTAINERS files contain duplicate information. The [labeler.yml](https://github.com/zephyrproject-rtos/zephyr/blob/m

[2021-09-21 23:22] de-nordic commented on #38624
The `fa_id` is taken from generated file devicetree_unfixed.h and depends on number of defined partitions and which partitions area enabled.
Do you happen to have DTS with lots of "fixed-partitions' compatible nodes, with many of them disabled?
The "issue" has been described here: https://github.com/zephyrproject-rtos/zephyr/issues/36517

[2021-09-21 23:42] #38690 closed

[2021-09-21 23:43] fdamato commented on #2746
I agree upon the fact that to support dynamically allocation of the user stack shouldn`t be too complicated.
However I have few comments about your second statement:
  1. The current [Memory Protection Design in Zephyr](https://docs.zephyrproject.org/latest/reference/usermode/memory_domain.html) only supports flat memory scheme.
  2. Relying exclusively on the MMU would prevent dynamic loading to

[2021-09-22 00:13] maksimmasalski commented on #38646
Root cause found, will submit fix soon.

[2021-09-22 00:43] nandojve opened #38727 "[RFC] Add hal_gigadevice to support GigaDevice SoC Vendor"
## Origin

All source can be directly download from GigaDevice [GD32 MCU](http://www.gd32mcu.com/en/download) support web site at download section.
[gd32f403 firmware library](http://www.gd32mcu.com/download/down/document_id/132/path_type/1)
[gd32e10x firmware library](http://www.gd32mcu.com/download/down/document_id/230/path_type/1)
[gd32vf103 firmware library](http://www.gd32mcu.com/download/dow

[2021-09-22 00:48] yashi commented on #37223
@yperess, what's your plan? Do you plan to merge everything Zephyr needs, including `zephyr/module.yaml`, to the CHRE upstream, or you are planning to merge glue code to Zephyr?  Either way, we can create a CHRE repo under your github account and work on it.
- If former, when it's ready, we can ask the CHRE upstream to merge.  For Zephyr, we just need a PR with a `west.yaml` change.
- If latter, c

[2021-09-22 01:02] fanghuaqi commented on #38657
Hi @nandojve , your RFC is very clear about this GD devices support, since this GD32VF103 device and its peripheral drivers are released before NMSIS born, and the source code about Nuclei RISC-V core drivers are using very old Nuclei RISC-V support code, @GigaDevice-Semiconductor released their source code of gd32vf103 in github https://github.com/GigaDevice-Semiconductor/GD32VF103_Firmware_Libra

[2021-09-22 01:39] yperess commented on #37223
Yes, this one 😁
I just had a chat with someone on the CHRE team and they're happy to include the module file. I'll be sending a change tonight to AOSP. I'll be sending a corresponding PR to zephyr tomorrow.

[2021-09-22 04:36] hakehuang opened #38731 "test-ci: ptp_clock_test : test failure on frdm_k64f platform"
**Describe the bug**
ptp clock test failure
syscall z_vrfy_ptp_clock_get failed check: access denied

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/net/ptp/clock; mkdir build; cd build
2. cmake -DBOARD=frdm_k64f
3. make
4. See error

**Expected behavior**
Test pass

**Impact**
ptp usage

**Logs and console output**
If applicable, add console logs or other types of debug information

[2021-09-22 04:37] hakehuang commented on #38731
@dleach02

[2021-09-22 05:11] stephanosio commented on #23723
Closing this since the relatively slow performance of the trigonometric functions provided by the newlib (libm) on ARM is really an upstream newlib issue and not a Zephyr issue.

A workaround has been provided through the CMSIS-DSP library, which provides the optimised high performance trigonometric function implementations for the ARM targets.

[2021-09-22 05:11] #23723 closed

[2021-09-22 05:42] tfir1981 commented on #38690
Good morning,
thank you all for taking care. I tested it with POST_KERNEL and it worked for me.

Kind regards
Thomas Fischer

[2021-09-22 05:57] erwango commented on #38655
@cfriedt Assigning you back on this as I haven't found any codeowner or maintainer aside from @pabigot whom I think is not active nowadays on the project.

[2021-09-22 05:58] erwango commented on #38552
@ycsin, I'm closing this point in light of the change merged yesterday. Don't hesitate to raise a new point with the latest status.

[2021-09-22 05:58] #38552 closed

[2021-09-22 07:15] hongshui3000 commented on #2746
Contiki-ng os used to include an elf loader. The version after contiki-ng 4.0 does not seem to be supported anymore.
https://github.com/contiki-ng/contiki-ng/releases/tag/3.x

[2021-09-22 07:20] jukkar commented on #38694
Originally the idea was that if one wants to enable the settings library (`CONFIG_NET_CONFIG_SETTINGS=y`), then the auto init can be disabled, but in which case the `net_config_init()` **can** be called. Note that calling that function is optional here.
If the settings library is not enabled, then of course the function should not be called in the first place.

[2021-09-22 07:21] erwango opened #38735 "nucleo_wb55rg: Flash space left to M0 binary is not sufficient anymore"
**Describe the bug**
Since V1.11.0 version of Cube package, Full stack M0 BLE f/w (stm32wb5x_BLE_Stack_full_fw.bin) should be installed at location 0x080CA000 (vs 0x080CB000 previously).
As a consequence, board flash partition should  be updated to take this into account.

If not done, a bus fault happens when running BLE sample that involves flash access (where the conflict happens).

**To Reprod

[2021-09-22 07:31] henrikbrixandersen opened #38737 "drivers: syscon: missing implementation"
**Describe the bug**
The syscon API (`include/drivers/syscon.h`) added in commit bc305984565a8f30e8afd02026dc99c16853a362 lacks an implementation. The generic syscon driver (`drivers/syscon/syscon.c`) implements the API functions, but uses different naming, so linking will fail.

This was never caught by CI since there are no in-tree users/testcases/samples using the syscon driver API.

The low-im

[2021-09-22 07:41] erwango commented on #38177
@alfonsotames Did you make any progress in identifying the root cause of the issue you're seeing ?

[2021-09-22 07:51] carlocaione commented on #38737
Weird, I wonder if something went wrong on my side when pushing. Anyway, merging #37424 sounds good to me.

[2021-09-22 09:07] carlocaione commented on #38609
@carlescufi I'm not sure anymore about this change. Looking at the actual use of the `wait` parameter it is used mostly as a `boolean` value (wait or not) than an actual timeout value. So my suggestion is to leave it as is or change it to `boolean` instead.

[2021-09-22 09:08] lairdjm commented on #38719
Seems like my mini fix didn't fix it. I've got a known app_update.bin file which I'm transferring via an app and letting it upgrade in swap with scratch mode, after this I get the "no image in primary slot" error, I've taken an image of the flash after this and compared it with the app_update.bin file, mcuboot is built for 0x0 - 0x10000 and the app from 0x10000 - 0xE8000, the scratch area is in in

[2021-09-22 09:25] rlubos commented on #38694
I think you're confusing the purpose of the `NET_CONFIG` library. It does not affect the network initialization per se - even if the library is disabled, the networking subsystem should be initialized and ready to go. The only difference is, that it might not be configured to operate in the network out-of-the-box.

The `NET_CONFIG` library purpose, in simplification, is to configure IP addresses o

[2021-09-22 09:35] hjuul commented on #38548
@FRASTM, I applied your latest patch but I'm still able to reproduce my issue.

From my trace it seems `HAL_QSPI_FifoThresholdCallback()` is called lots of times though. (I have `QUADSPI_CR.FTHRES=7`)

Btw your patch has a side effect. At boot I now get the following error:
```[00:00:00.000,439] <err> flash_stm32_qspi: Unexpected flash size: 16845047```
(my qspi flash is 32M)

[2021-09-22 10:31] ck-telecom commented on #37865
Is it reasonable to rewrite a sensor driver implemented SENSOR_CHAN_VOLTAGE?

[2021-09-22 10:37] carlescufi commented on #35945
A workaround PR will be posted soon by @anangl.

[2021-09-22 10:44] carlescufi commented on #38622
I think 10KB when enabling USB is not unreasonable. Let us close this issue with #36471 and then you can open a new enhancement if you would like to track the size of the USB stack.

[2021-09-22 11:27] FRASTM commented on #38354
yes,
So you need LL_GPIO_AF_EnableRemap_SPI1  to ('SPI1_REMAP = 1) remap SPI1 on
SPI1_NSS  PA15,  SPI1_SCK  PB3, SPI1_MISO  PB4, SPI1_MOSI  PB5
and also LL_GPIO_AF_Remap_SWJ_NOJTAG() to set the SWJ_CFG[2:0] = 010: JTAG-DP Disabled and SW-DP Enabled which  frees pin PA15, PB3, PB4

[2021-09-22 12:32] FRASTM commented on #38354
with this patch, trying to change only the SPI1_REMAP bit (not SWJ _CFG)  when remapping the SPI1
Changing the SWJ _CFG is done by the `gpio_stm32_afio_init()` function

[2021-09-22 12:34] #38646 closed

[2021-09-22 12:39] carlescufi commented on #37294
@trueb2 thanks for the extensive report, but I cannot reproduce this locally on an nRF2840 DK and J-Link 7.543:

[code]

And then:

[code]

[2021-09-22 12:42] carlescufi commented on #37294
@trueb2 your example hints a the boot banner always being displayed (the line starting with `*** Booting Zephyr OS`) but `LOG()` statements sometimes not showing. This might be then due to some configuration of the logging subsystem, and not a problem with the RTT transport, but I cannot reproduce this based on the info you have posted either.

[2021-09-22 12:46] rlubos commented on #38700
This one actually I cannot reproduce, I can observe a resource with 2 observers w/o any issue. This might be related however to broken retransmission mechanism reported in other issue. The sample may easily run out of resources, preventing further observations (but it's only observable to me if I start/stop other observations. I'll try to propose a combo PR to address all those issues in the sampl

[2021-09-22 13:05] erwango commented on #38591
@tejlmand I've made some investigation on this point.

In 65a2de8, you mention:

aligned with other sections:

       value identical to __data_region_start but describes start of
       the section.

I can see this is the case on a target not impacted by the change (nucleo_f103rb).
However, on nucleo_f091rc, this is not true:
[code]
If I'm reading thing correctly:
[code]
So the base assumption do

[2021-09-22 13:10] galak commented on #2746
I think it would be good to explain the use cases a bit more.  For example do you need to unload the module and load other modules?  Do you need to load more than one module?

There could be some simplifying assumptions that we could make vs having a general module loader.

[2021-09-22 13:20] lairdjm opened #38745 "Bluetooth when configured for extended advertising does not limit advertisement packet size if a non-extended avertisement is used"
**Describe the bug**
Using nRF connect SDK 1.6.1 based on zephyr 2.6 with an nRF52840, in subsys/bluetooth/host/adv.c it seems that when advertisements and scan reports are generated when the code has been build with extended advertising support but starting using NON-extended advertising, the maximum packet sizes are incorrectly set to the extended advertising lengths, so if you have a device nam

[2021-09-22 13:22] galak commented on #38258
Bumping to high as we released SDK 0.13.1 with fix, and we should make sure the PR to revert workaround gets merged.

[2021-09-22 13:37] lairdjm commented on #38745
Fixed locally for me in subsys/bluetooth/host/adv.c by changing (in hci_set_ad_ext):
[code]
to
[code]

If no one has an issues with the fix, I'll get a PR up in a few hours

[2021-09-22 13:40] #38558 closed

[2021-09-22 13:41] soburi commented on #34971
@carlescufi

Thanks for your opinion and advice.
I understand.
I thinks the proposal #38657 to make single hal_gigadevice from @nandojve  is looks good.

[2021-09-22 13:45] uschlaepfer opened #38747 "data/json: encoding issues with array in object_array"
**Describe the bug**
if you try to encode a obj_array which contains an array only the first element is encoded in the string.

**To Reproduce**
I have created an example for this issue (files attached [json_issue.zip](https://github.com/zephyrproject-rtos/zephyr/files/7211008/json_issue.zip))

The printed result is:
`{"data":{"namePkg":[{"name":["John0","Adam0","Julia0","Laura0"]},{"name":[]}],"n

[2021-09-22 13:46] #38735 closed

[2021-09-22 13:48] 0Grit commented on #2746
I have always wanted to use PIE/PIC (Position Independent Executable / Position independent code) with microcontrollers.
Nobody ever seems excited by the opportunity. They either worry about performance or that fact that it is not often used.

Regardless for an MCU some form of dynamic linking will be needed if this use case expects to do it purely within a C/C++ runtime? We are working with a non

[2021-09-22 14:06] rlubos commented on #38697
I've submitted a fix in https://github.com/zephyrproject-rtos/zephyr/pull/38748, indeed the retransmission mechanism was broken.

[2021-09-22 14:08] rlubos commented on #38701
This is likely caused by a little number of "pending" messages supported by the sample. Since the observer was closed, no response  was received by the sample, effectively blocking the "pending" slots until the message expired.

I've finetuned the sample parameters in https://github.com/zephyrproject-rtos/zephyr/pull/38748, so that the issue is not hit so easily.

[2021-09-22 14:10] rlubos commented on #38702
This should be fixed in https://github.com/zephyrproject-rtos/zephyr/pull/38748. Please note, however, that the sample only supports up to 3 active observers, and once you kill one, it'll be listed in the sample until one of the notifications expires due to lack of response.

[2021-09-22 14:27] erwango commented on #38591
@JordanYates It seems you introduced `sram_vector_table.ld` in https://github.com/zephyrproject-rtos/zephyr/pull/34362.
It seems that disabling `CONFIG_SRAM_VECTOR_TABLE` on nucleo_f091rc solves current point.

First question, since you disabled `CONFIG_SRAM_VECTOR_TABLE` on a number of F0 boards, was there any reason to keep it on `nucleo_f091rc` ?
Then, if disabling `CONFIG_SRAM_VECTOR_TABLE` ge

[2021-09-22 14:32] #38737 closed

[2021-09-22 14:47] nashif commented on #38446
Are you able to build and run the tests manually and without twister?

[2021-09-22 15:03] attzonko commented on #2746
@galak  The use cases we are considering do indeed require us to be able to load and unload multiple modules.  Are there any other considerations if that is the case?

[2021-09-22 15:09] carlescufi commented on #38747
@mrfuchs can you please take a look?

[2021-09-22 15:11] lairdjm commented on #38745
Seems that in 2.7 there is the idea of fragmented packets now which isn't in 2.6 so not sure how this would apply to the fragmented part, if at all.

[2021-09-22 15:56] attzonko commented on #2746
@galak Another example use case would be to use Zephyr as the Trusted OS in a [TEE](https://en.wikipedia.org/wiki/Trusted_execution_environment) and implement the [GP TEE Internal Core API](https://globalplatform.org/specs-library/?filter-committee=tee) and being able to load/unload Trusted Applications at runtime.

[2021-09-22 16:06] galak commented on #2746
@attzonko how much portability of "modules" is needed? would there need to be ability to build a module that could run against any zephyr build?

[2021-09-22 16:30] nashif commented on #38725
new syntax proposal for the MAINTAINER file
[code]

[2021-09-22 16:34] mbolivar-nordic commented on #38725
Process WG minutes:

- @carlescufi : audit CODEOWNERS and make sure everyone there is at least a collaborator in MAINTAINERS
- @nashif : won't work since CODEOWNERS covers every file and not everyone in it should be a collaborator. Let's start with finding the diff
- @galak : are we OK with MAINTAINERS growing very large? E.g. drivers/sensor can get huge and contain many one-off contributions; do

[2021-09-22 17:03] DhruvaG2000 opened #38755 "Integrate U8G2 into zephyr"
## Origin

Name of project hosting the original open source code:
[U8g2: Library for monochrome displays, version 2](https://github.com/olikraus/u8g2)

## Purpose

U8g2 is a monochrome graphics library for embedded devices. U8g2 supports monochrome OLEDs and LCDs

## Mode of integration

I'd like to integrate this external component as a module, as it will make using OLED and other display modules

[2021-09-22 17:07] yperess commented on #38643
As per the TSC discussion I've also removed the `testcase.yaml` filter and FFF does appear to be working on the ARM qemus

[2021-09-22 17:09] mbolivar-nordic commented on #38570
Process WG:

- additional decisions were taken in the live document linked to in the issue description

[2021-09-22 22:03] gopiotr opened #38756 "Twister: missing testcases with error in report"
**Describe the bug**
After run testcase which rise timeout error on QEMU or other simulator (e.g. Renode) information about testcases which were not be performed are missing in final report. This can cause misleading situation, when tester who observes this report can mistakenly assume, that everything works properly and all tests pass correctly.

**To Reproduce**
Steps to reproduce the behavior:

[2021-09-22 22:16] ceolin commented on #14308
This was implemented in 8eceeee798743d25ac882cf0374cb062a435cefe

[2021-09-22 22:16] #14308 closed

[2021-09-22 22:18] prathje commented on #25917
I could reduce the number of assertion failures with increased buffer sizes and counts:
[code]

[2021-09-22 22:57] JordanYates commented on #38591
The PR was cleaning up usage of `CONFIG_IS_BOOTLOADER` in order to get secondary effects (no SRAM vector table).
`nucleo_f091rc` was not modified because it was not using `CONFIG_IS_BOOTLOADER` to modify the vector table in the first place.

As I don't use STM, I wasn't willing to introduce any behavior changes, so section names and symbols were not changed in my PR. Perhaps the act of moving the

[2021-09-23 01:27] KangJianX commented on #38446
@nashif We could build successfully, but can not get output after flashing. It should rely on a script to get output, and the root cause is loop time too short to get output.

[2021-09-23 01:32] soburi commented on #38657
Hi, @nandojve,
Good summary about gd32, great!

Putting All SoC drivers into a single hal_gigadevice is a good suggestion.

There is various way to How to introduce NMSIS to zephyr.
I think that it is good to separate it into "hal_nuclei" as an external module.

Only GD32VF103 use NMSIS at this time, so containing NMSIS into the GD32VF103 directory in hal_gigadevice is also one possible way, I thi

[2021-09-23 02:25] ck-telecom commented on #38354
sure, that's the point!

[2021-09-23 02:25] soburi opened #38761 "Does zephyr_library_property defines -DTRUE in command-line?"
I found 'zephyr_library_property(ALLOW_EMPTY TRUE)'  in zephyr/drivers/interrupt_controller/CMakeLists.txt makes defines "-DTRUE" in command-line.
Is it expected works?

I found it on trying to add new interrupt_controller driver.
It can reproduce with this command-line.
(I tried with 00f5f3fa.)

`west --verbose build -d build_hello_world_hifive -b hifive1 zephyr/samples/hello_world/ 2>&1 | tee hi

[2021-09-23 03:18] kclauah opened #38764 "CBPRINTF_FP_SUPPORT does not work after NEWLIB_LIBC enabled"
**Describe the bug**
Terminal unable to print float value if these two config enabled.
[code]
If CBPRINTF_FP_SUPPORT is set only, it can correctly print float to terminal.
I found out this issue when I testing samples/sensor/lsm6dso on nrf52dk_nrf528322.
I think this issue is related to https://github.com/zephyrproject-rtos/zephyr/issues/37777

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-09-23 06:22] DhruvaG2000 opened #38765 "samples: create an OLED example"
**Is your enhancement proposal related to a problem? Please describe.**
There is no existing example to help get started with OLED modules like SSD1306. An example that demonstrates the use of ``lvgl`` would also be really useful.

**Describe the solution you'd like**
Write an example that will display "Hello World" on any display module connected via IIC to any board, since ```LVGL`` is a generic

[2021-09-23 06:31] stephanosio commented on #38764
When newlib is enabled, `printf` is implemented by the newlib (and not by the cbprintf).

Please make sure that `CONFIG_NEWLIB_LIBC_FLOAT_PRINTF=y`.

[2021-09-23 06:32] stephanosio commented on #37777
It looks like you are using the newlib (`CONFIG_NEWLIB_LIBC=y`).

Please make sure that `CONFIG_NEWLIB_LIBC_FLOAT_PRINTF` is set to `y`.

[2021-09-23 07:02] FRASTM commented on #38354
@ck-telecom could you please test with drivers: pinmux stm32F1 remap spi1 without changing the SWJ_CFG #38741
including a change in the hal_stm32 https://github.com/zephyrproject-rtos/hal_stm32/pull/118

[2021-09-23 07:07] erwango commented on #38591
ok

Sure, your PR was change was introduced earlier than 65a2de8.
I was hoping maybe you could have some clue on the way to make both work together.

[2021-09-23 07:36] kclauah commented on #38764
Thank you, your solution works.
I just found out that newlib has its own implementation of printf and enabling newlib override cbprintf.
Sorry for the dumb question.

[2021-09-23 08:04] #38613 closed

[2021-09-23 08:15] #38716 closed

[2021-09-23 08:17] #38731 closed

[2021-09-23 08:52] cfriedt commented on #37608
I had to increase shell stack depth beyond the default recently for a simple `LOG_INF()` in a loop from samples/hello_world. Was 2048, I increased to 4096. It was a 64-bit target. originally, I thought it was a logging issue but it was shell.

Just thought it might be related

[2021-09-23 09:14] mcaireyr opened #38769 "mqtt: the size of a mqtt payload is limited"
**Describe the bug**
If you try to send a mqtt payload larger than 1486 bytes, it returns an error : -55 which is ENOBUFS (No buffer space available).
So it seems like the size of a mqtt payload is limited.

**To Reproduce**
To reproduce the bug, you can use the zephyr sample : `zephyr/samples/net/mqtt_publisher`.
You may need to set the IP addresses in the `prj.conf` file : `CONFIG_NET_CONFIG_MY_

[2021-09-23 09:20] jfischer-no commented on #38765
We do not need samples for this specific display technology.
We have generic samples for cfb, lvgl: _samples/subsys/display_ and display controller driver API: _samples/drivers/display_.

https://docs.zephyrproject.org/latest/samples/subsys/display/lvgl/README.html

[2021-09-23 09:32] stephanosio commented on #38764
No problem. This can be quite confusing to the people who are new to Zephyr.

Closing since the question has been answered.

[2021-09-23 09:32] #38764 closed

[2021-09-23 09:33] jfischer-no commented on #38755
Compared to what exactly?

Anyway, NACK, we have display controller driver API and controller driver in Zephyr. We do not need more dependencies. It is about time that the development of own graphic subsystem is encouraged.

[2021-09-23 09:34] gmarull commented on #37865
After some initial investigation, I can certify that the sample works fine as it is when using a `thingy52_nrf52832` board. Steps I've followed:

1. Connect the board (battery, serial adapter to P0.02/0.03, programmer)
2. Build the sample and flash it: `west build -b thingy52_nrf52832 samples/boards/nrf/battery`, `west flash`
3. Observe serial output, e.g. `[0:09:51.117]: 4190 mV; 10000 pptt`
4. M

[2021-09-23 09:35] DhruvaG2000 commented on #38755
Understood, and looking forward to seeing a new _zephyr_ graphic subsystem

[2021-09-23 09:39] cfriedt commented on #37188
@ThisSummerRace - please reopen the issue if you can provide something reproducible with minimal changes to an upstream sample or test case. We currently do not have enough information to verify that this is a bug let alone triage it.

E.g. if you were to provide a `.patch` file for some upstream test or sample application and provide something like.
[code]

Also, please fill in fields such as the

[2021-09-23 09:39] #37188 closed

[2021-09-23 09:49] cfriedt commented on #38139
@nordic-krch - can you please have a look at this?

[2021-09-23 09:49] cfriedt commented on #38138
@nordic-krch - can you please have a look at this?

[2021-09-23 09:50] cfriedt commented on #38134
@joerchan , @jhedberg , @Vudentz  - can you please have a look at this?

[2021-09-23 09:50] cfriedt commented on #38130
@joerchan , @jhedberg , @Vudentz - can you please have a look at this?

[2021-09-23 09:50] cfriedt commented on #38128
@nvlsianpu  - can you please have a look at this?

[2021-09-23 09:51] cfriedt commented on #38123
@nordic-krch  - can you please have a look at this?

[2021-09-23 09:51] cfriedt commented on #38116
@joerchan , @jhedberg , @Vudentz - can you please have a look at this?

[2021-09-23 09:51] cfriedt commented on #38115
@nvlsianpu  - can you please have a look at this?

[2021-09-23 09:53] cfriedt commented on #38112
@nashif - is this a false positive?

[2021-09-23 09:54] cfriedt commented on #38014
@joerchan , @jhedberg , @Vudentz - can you please have a look at this?

[2021-09-23 09:54] cfriedt commented on #38013
@joerchan , @jhedberg , @Vudentz - can you please have a look at this?

[2021-09-23 09:55] cfriedt commented on #38012
@joerchan , @jhedberg , @Vudentz - can you please have a look at this?

[2021-09-23 09:55] cfriedt commented on #38002
@joerchan , @jhedberg , @Vudentz - can you please have a look at this?

[2021-09-23 09:55] cfriedt commented on #38000
@nordic-krch  - can you please have a look at this?

[2021-09-23 09:56] cfriedt commented on #33052
@dleach02 - can you please have a look at this?

[2021-09-23 09:57] cfriedt commented on #33041
@dleach02  - can you please have a look at this?

[2021-09-23 10:16] carlescufi commented on #38745
@lairdjm please send a PR and we'll review it there.

[2021-09-23 10:19] Thalley commented on #37770
@tejlmand I was just pinged by @carlescufi for this issue.

What do you suggest we do about it? We can close it as you suggested, or we can fix it.

The easiest fix I can think of, is to make `BT_AUDIO` a hidden Kconfig that is set (`select`) whenever we enable any of the LE Audio (e.g. VCS or MICS) features. It deals with the issue at hand, but it doesn't scale very well though.

What are your th

[2021-09-23 10:24] joerchan commented on #38745
@lairdjm `atomic_test_bit(adv->flags, BT_ADV_EXT_ADV)` is the correct way to test if it is legacy or extended advertising set.

You shouldn't need to handle anything differently with fragmented supported, since the legacy advertising data will always fit inside one fragment.

[2021-09-23 10:26] vntsn commented on #38694
Thanks @rlubos and @jukkar! Based on your comment I believe that the way I have configured/initialized DHCP is correct and no need to call net_config_init().

Yes, data send/receive take place when the interface is up again. These errors are observed every time on application startup and when ethernet cable is unplugged/plugged. These errors are observed even when auto config is used (instead of m

[2021-09-23 10:35] cfriedt commented on #37704
Is a 1M stack common for ARC? Typically, we see stack sizes of 1kB, 2kB... even Linux has just started using a stack size of 8kB now for x86_64.

@wentongwu - have you tried a more conventional stack size such as `CONFIG_ISR_STACK_SIZE=4096`?

[2021-09-23 10:36] tejlmand commented on #38761
@soburi thanks for reporting this.

Fixed here:
https://github.com/zephyrproject-rtos/zephyr/pull/38770

[2021-09-23 11:04] tejlmand commented on #37770
@Thalley I think we should change this from a bug to something else, so that we can consider the appropriate way to handle this before `topic-le-audio` gets merged.

Not sure exactly what it should be turned into, as it's not a bug, neither an enhancement.
Mayde `feature-request` to be addressed as part of `topic-le-audio` ?

[2021-09-23 11:14] joerchan commented on #38688
Hey @pigeonhands , I noticed an issue in the way you are calling the subscribe function. You are providing the same subscription parameter for all connections. This has a problem because the bt_gatt_subscribe_params has the internal state variable `sys_snode_t node` which is used to put this in a linked list.
You are likely corrupting this list by providing the same `sub_params` for all connection

[2021-09-23 11:17] carlescufi commented on #37294
@trueb2 can you confirm if this is an issue only with `LOG()` statements but `printk()` works fine?

[2021-09-23 11:30] jukkar commented on #38694
I am not sure what you are trying to accomplish but after you mentioned plugging/unplugging cable etc. and some problems, there is an network management API that can be used to monitor network interface up/down, IP connectivity and other relevant events in the system. So if you for example want to do something when network interface comes up, there is an easy way to act on these events and do some

[2021-09-23 12:11] maweicoltsmart commented on #38624
The zephyr.dts partition definition in the build directory is like this：
[code]

[2021-09-23 12:13] tejlmand commented on #38463
@asbjornsabo Thanks for reporting this.
Fixed here: https://github.com/zephyrproject-rtos/zephyr/pull/38774

[2021-09-23 12:16] rlubos commented on #38769
Thank you for the report. There seems to be a problem with the underlying networking stack, specifically `sendmsg()` implementation. It seems to ignore the interface MTU and trying to write over the net_pkt capacity in case of larger payloads (https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/ip/net_context.c#L1260).

@jukkar It seems that it's ok for the `sendmsg()` to actually se

[2021-09-23 12:29] nvlsianpu commented on #38115
this is false postive

[2021-09-23 12:32] kurddt commented on #37608
The issue is when using both stack sentinel + MPU stack protectio. I will change the title of the issue

[2021-09-23 12:38] #37865 closed

[2021-09-23 12:39] #37221 closed

[2021-09-23 12:40] #38653 closed

[2021-09-23 12:55] nordic-krch commented on #38268
@palchak-google see #38777

[2021-09-23 13:37] ycsin commented on #38602
I have no idea what are these, @rerickson1 @jukkar any idea?

[2021-09-23 13:42] rerickson1 commented on #38602
I would check the AT command documentation for the two modems you are using to see if they support the command to retrieve the gateway and mask.
Also, make sure your modem's firmware is up to date.

[2021-09-23 14:06] tcpipchip commented on #38602
Good morning team!

I am back!
Let me explain about my tests, more details

I am using the zephyr GENERIC MODEM driver...i am testing on LISA U200, SARA G350 and SARA G450,.
There modem  works with ppp , because i tested on Windows Dialup, Raspberry ppp, OpenWrt ppp and finally on Nuttx Rtos.

In the Nuttx Rtos, i see that really not  back the  gateway and dns, then really looks normal, because i

[2021-09-23 14:10] gmarull commented on #38765
I agree that display samples don't need to be dependent on a particular technology, but rather on API/libraries. One could use the same to display content on devices made using LCD or OLED technologies.

Closing this issue, as there are existing samples that can be used (`samples/subsys/display/*`).

[2021-09-23 14:10] #38765 closed

[2021-09-23 14:10] #38602 closed

[2021-09-23 14:12] nashif commented on #38115
@nvlsianpu  mark it as such in coverity and close here please.

[2021-09-23 14:18] gmarull commented on #38755
@DhruvaG2000 feel free to open a proposal with a port of the library to Zephyr. At a quick glance, it doesn't look to be as portable/well-designed as others like LVGL, so I'm not sure if a _library_ like this has a chance to suceed outside the Arduino ecosystem.

[2021-09-23 14:22] mshaw11 opened #38782 "CONFIG_BT_CTLR_DATA_LENGTH_MAX=250 causes pairing compatibility issues with many devices"
Having had many issues getting bluetooth pairing to work on a range of devices I have identified that setting `CONFIG_BT_CTLR_DATA_LENGTH_MAX=250` (the max value) was the root cause.

I had failed to pair to any device except for snapdragon based smartphones.

**To Reproduce**
Extend bluetooth buffers to maximum:
[code]

**Expected behavior**
One of three solutions:
1. Pairing should succeed.
2. M

[2021-09-23 14:32] #38761 closed

[2021-09-23 14:50] rerickson1 commented on #36783
The proposed fixed above is not entirely correct. Need to fix this.

[2021-09-23 14:55] nordic-krch commented on #38139
Something is wrong with coverity as syscall file has comment generated /* coverity[OVERRUN]*/ which was probably added to suppress those types of errors but it does not seem to work. Marked errors as false positive. @nashif any idea how it can be permanently solved?

[2021-09-23 14:56] nordic-krch commented on #38112
Same as #38139. False positive. Will close this one and keep second open as there is an open question why suppressing comment is not working.

[2021-09-23 14:56] #38112 closed

[2021-09-23 15:03] nordic-krch commented on #38138
Same as #38139. Closing this one.

[2021-09-23 15:03] #38138 closed

[2021-09-23 15:06] erwango opened #38784 "stm32: pm: Debug mode not functional on G0"
Enabling CONFIG_DEBUG=y has no effect on stm32g0 target.
After analysis, clock enable is required when to enable debug in stop mode, but missing.

[2021-09-23 15:10] nashif commented on #38559
This is probably already fixed, please try again, I get:

[code]

The issue was icount being enabled for qemu I think which was fixed.

[2021-09-23 15:10] #38559 closed

[2021-09-23 15:27] #38463 closed

[2021-09-23 15:58] carlescufi commented on #38782
@mshaw11 can you please use the [Nordic Sniffer](https://www.nordicsemi.com/Products/Development-tools/nrf-sniffer-for-bluetooth-le) to capture some traces of the failing pairing procedures and upload them here? Additionally, please give us a way to reproduce the problem locally (eg. a list of phones that fail?)

[2021-09-23 16:04] rerickson1 commented on #36783
Bumped this to medium to make sure to get this regression fixed and into the 2.7.0 release.

[2021-09-23 16:06] joerchan commented on #38134
Closing as false positive: Code is not dead if CONFIG_BT_ID_MAX > 1.

[2021-09-23 16:16] mshaw11 commented on #38782
Hi Carles

The devices it fails in pairing to were almost all devices I tried except snapdragon based phones, so I had success with:
Google Pixel 4 - Android 11.
Xiaomi Mi - Android 11.
Samsung tablets x 2 - 1 Android 10, 1 Android 9

I failed to pair to:
Lenovo M8 tablet.
Multiple ubuntu based laptops including an Asus Zenbook 14, Dell Insprion 15 7510.
Multiple windows based laptops from an Alie

[2021-09-23 16:23] carlescufi commented on #38782
Yep, I can reproduce the issue with your config and an iPhone 11.

[2021-09-23 16:42] danieldegrasse opened #38790 "SD FatFS Sample Build Failure"
**Describe the bug**
SD FatFS sample fails to build.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ../samples/subsys/fs/fatfs
3. make
4. Build fails

**Expected behavior**
Build should succeed. Build is failing on multiple platforms, not just NXP parts

**Logs and console output**
[code]

**Environment (please complete the following inf

[2021-09-23 16:54] #38784 closed

[2021-09-23 16:57] danieldegrasse commented on #38790
west update hadn't been run after checkout, that fixed the issue

[2021-09-23 16:57] #38790 closed

[2021-09-23 16:57] yonsch commented on #2746
I tried doing something similar a few weeks ago. In my case, I wanted a way to run "scripts" on a running MCU - that is, to reserve a buffer in RAM for the code and data, write some code, compile it, send it to the MCU in some way (e.g. UDP) and receive the result of running that code. I did it mostly for ease of development - If I want to experiment with something (e.g. I'm writing a driver for a

[2021-09-23 16:59] evgeniy-paltsev commented on #38725
@abrodkin @evgeniy-paltsev @ruuddw - we need to copy ARC-related entries from CODEOWNERS to MAINTAINERS - as I remember we didn't maintain MAINTAINERS file for us and didn't add proper info to it.

[2021-09-23 17:00] cfriedt commented on #38258
This will be merged on Friday AM EST, just so that the message on the devel mailing list has time to be circulated, and so that there are enough cycles for CI prior to cutting rc3.

[2021-09-23 17:21] #36593 closed

[2021-09-23 17:26] #36692 closed

[2021-09-23 17:34] DRuffer commented on #38047
I still have not been able to make it work for me, so I will be looking into this shortly.

I'm not sure how to reopen this though

[2021-09-23 17:36] DRuffer commented on #38046
I have a fix for this that I will be posting a pull request for shortly

[2021-09-23 17:39] alfonsotames commented on #38177
For my project, I had to  stop using CONFIG_NEWLIB_LIBC=y

That did the trick but I don't know how it is related and why it conflicts
with the LoRa module.

On Wed, 22 Sept 2021 at 02:41, Erwan Gouriou ***@***.***>
wrote:

[2021-09-23 18:14] AshwinKrishn opened #38791 "Example code_relocation not compiling."
**Describe the bug**
I am facing the same issue while building code_relocation example.

Log :
/home/ashwin/zephyrproject/zephyr/samples/application_development/code_relocation/prj.conf:1: warning: attempt to assign the value 'y' to the undefined symbol CODE_DATA_RELOCATION
Parsing /home/ashwin/zephyrproject/zephyr/Kconfig
Loaded configuration '/home/ashwin/zephyrproject/zephyr/boards/arm64/qemu_c

[2021-09-23 20:20] nvlsianpu commented on #38115
@nashif I can't log in - I used to log in using Github help. Doesn't it works anymore

[2021-09-23 20:57] mmahadevan108 commented on #38619
Can `Device_State_Off` be removed as well so there are only 2 states for the device i.e `suspend `& `active`. Drivers can use the `soc_state` argument to decide the low power operation to perform

[2021-09-23 21:52] pigeonhands commented on #38688
@joerchan I only ever have one connection active at a time. The issue is that the [subscription variable](https://github.com/zephyrproject-rtos/zephyr/blob/357ec64b36cd84ca87660407e67eb0cb1cfe932b/subsys/bluetooth/host/gatt.c#L73) in gatt.c is not being cleared properly.

You can see in `gatt_sub_remove`, wich is called when the client disconnects, it removes the subscription from the  `sub_params

[2021-09-23 22:33] awe-devasc opened #38796 "Failure building the zephyr\tests\subsys\cpp\libcxx project"
Not finding the STL include files ... this is the build error message:
/zephyr/tests/subsys/cpp/libcxx/src/main.cpp:7:10: fatal error: array: No such file or directory
    7 | #include <array>
      |          ^~~~~~~
compilation terminated.

ARM gnu eabi installed and the STL files are there ...
in the directory ... C:\gnu_arm_embedded\arm-none-eabi\include\c++\10.3.1
Any advice as to how to get

[2021-09-23 23:13] #38796 closed

[2021-09-23 23:19] stephanosio commented on #38791
https://github.com/zephyrproject-rtos/zephyr/blob/21d1ad3762302b3e461953df59430c77e0709274/arch/arm/Kconfig#L37-L39

`CODE_DATA_RELOCATION` is not supported on the `qemu_cortex_a53`.

[2021-09-23 23:19] #38791 closed

[2021-09-23 23:45] 1hannah11 opened #38799 "BLE central_ht only receives 7 notifications"
### Discussed in https://github.com/zephyrproject-rtos/zephyr/discussions/38760

Originally posted by **1hannah11** September 23, 2021
Hi, I've been using the Bluetooth Central_ht sample with a few changes (displaying data differently and changed uuids for my peripheral) and I only receive 7 "notifications" from the notify_func, although I am constantly sending data from the peripheral which is co

[2021-09-24 01:04] wentongwu commented on #37704
@cfriedt AFAIK nobody uses so large stack size in real product. But I don't want to talk about why we use so large stack in QEMU. And also Linux...

But the problem here is that the none-4byte-align stack size will cause qemu arc run incorrectly. Not sure if you have tried other size like `cmake -DBOARD=qemu_arc_em -DCONFIG_ISR_STACK_SIZE=4094 ..` or other platform like `mps2_an385`, `qemu_x86`, o

[2021-09-24 01:15] cvinayak commented on #38782
@mshaw11 and @carlescufi

`CONFIG_BT_CTLR_DATA_LENGTH_MAX` is used in the Controller to configure, limit PDU reception size and to reduce RAM usage for the PDU receive buffers.

With 250 as the configured value, if the peer is sending a PDU with size greater than 250 because of ATT MTU Exchange with server receive MTU of 247 bytes (`CONFIG_BT_BUF_ACL_RX_SIZE=251` - 4), then the controller will dro

[2021-09-24 01:50] hongshui3000 commented on #2746
Let me add one point: Some applications can reduce the amount of RAM usage, such as an audio player application, which may need to encode and decode multiple audio formats. We can load a certain audio codec when needed, instead of loading all the codecs to the instruction ram at once, if the system supports dynamic loading of modules

[2021-09-24 03:10] KangJianX commented on #38446
This issue is caused after changed the loop time in this commit ID 1dc8e8c

[2021-09-24 04:03] YuguoWH opened #38804 "tests\kernel\threads\thread_stack test fail with ARC"
**Describe the bug**
ARC boards are failing on tests\kernel\threads\thread_stack test, due to recent changes #38096 to the test.

https://github.com/zephyrproject-rtos/zephyr/blob/611284021cef3bb014437d5f2bf966d85320cc8e/tests/kernel/threads/thread_stack/src/main.c#L155-L170
the comments suggest this test should does direct read & write starting at **the estimated stack pointer** up to the highest

[2021-09-24 05:57] saininav commented on #35707
It works. Thanks for backporting fixes.

[2021-09-24 07:01] erwango opened #38807 "stm32: Missing header in power.c files"
**Describe the bug**
Header file `stm32_clock_control.h` is missing in some power.c files.
As a consequence, following piece of code always default to HSI selected as wakeup clock
[code]

[2021-09-24 08:25] joerchan commented on #38134
Re-opening to submit fix, easy to add the ifdef here, and it would both prevent future coverity reports, as well as establishing a pattern to compile out code only needed when multiple identities is supported.

[2021-09-24 08:32] joerchan commented on #38002
Closing as false positive.

Coverity struggles with the bt_uuid_cmp function as it is not able to understand that the branch will never be taken, even though it knows the type.
I'm open and hoping for suggestions to prevent coverity from generating more of these reports.

[2021-09-24 08:32] #38002 closed

[2021-09-24 09:06] LixinGuoX opened #38815 "kernel/mem_domain: Remove dead case in check_add_partition()"
**Describe the bug**
I find some code that would never be reached here in mem_domain.c(lines 57-61), the code shows as below:
[code]
With situation where `part->size == 0U` excluded above, I think add `part->size`(long unsigned int) to `pend` will make
`pend `larger than `pstart` and this `if (pend <= pstart)` will never be satisfied.
Or, is it possible for partition address to be wraparound?
So,

[2021-09-24 09:58] ana-rajput commented on #38514
we are facing difficulty in getting wireshark logs, can you help in any alternative way to get logs from debug configuration.

[2021-09-24 10:02] ck-telecom opened #38818 "driver display display_st7789v.c build error"
**Describe the bug**
display_st7789v.c misc build error

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2021-09-24 10:16] mshaw11 commented on #38782
Can confirm setting all the buffers listed above to 251 also fixes the issue.

[2021-09-24 10:17] ppryga commented on #38340
@saleh-unikie I couldn't add you to reviewers list in the PR: https://github.com/zephyrproject-rtos/zephyr/pull/38819. The github is not showing you when I search in add reviewer box. Could you take a look on the PR and confirm whether the issue is fixed in your application?

[2021-09-24 10:31] rlubos commented on #38514
One possible option would be to use `net_capture` library to monitor the traffic on an interface (https://docs.zephyrproject.org/latest/reference/networking/capture.html), note however this is quite recent addition and is not available for 1.14.

[2021-09-24 10:36] #38655 closed

[2021-09-24 10:40] saleh-unikie commented on #38340
Yes, It has fixed the warning problem. Thanks!

[2021-09-24 11:04] FRASTM commented on #38683
MOSI signal on nxp FRDM_k64f board when testing led samples/drivers/led_ws2812/
![NXP_FRDM k64f](https://user-images.githubusercontent.com/51417392/134664406-e026b789-a206-4268-bf1b-ca8f68b9a8fd.png)

[2021-09-24 11:18] carlescufi commented on #38782
Thanks @cvinayak. Let’s close the issue then.

[2021-09-24 11:18] #38782 closed

[2021-09-24 11:22] ppryga commented on #38340
Great!
The issue may be closed when the PR is merged.

[2021-09-24 11:35] #38258 closed

[2021-09-24 11:42] joerchan commented on #33052
Since we didn't get a response from @MarkWangChinese I went and checked myself. To my understanding the fix already merged handles the issue (if that is what coverity is complaining about). I did however find another untrusted source, submitted another fix for that.

There are 3 coverity reports originating from the same code, which could probably benefit from a change to using the net_buf module

[2021-09-24 12:23] FRASTM commented on #38683
@simonguinot, could try changing the SPI protocol for your environment **./drivers/spi/spi_ll_stm32.c**
[code]

[2021-09-24 13:03] anangl commented on #35945
After #37632 has been merged, I can no longer reproduce this issue using main. Specifically, commit 2a199afac3c825d00d142d49a1c011eb6a8f0d52 seems to be preventing it. When I revert this commit, the issue appears again.
@alexsven or @koffes could you confirm this?

[2021-09-24 13:31] erwango opened #38826 "tests/lib/cmsis_dsp: malloc failed on 128K SRAM targets"
**Describe the bug**
I'm seeing the following tests failed on targets with 128K RAM:
[code]
Error message:
`    Assertion failed at WEST_TOPDIR/zephyr/tests/lib/cmsis_dsp/matrix/src/binary_f16.c:145: test_op2)
buffer allocation failed   `

These tests are run on these targets as `min_ram` is set to 128, which seems insufficient.
I've been able to reproduce the issue by reducing the available RAM w

[2021-09-24 13:43] ppryga commented on #38340
PR is merged. I'm closing the issue.

[2021-09-24 13:43] #38340 closed

[2021-09-24 13:46] nashif commented on #38115
someone already did that.

[2021-09-24 13:46] #38115 closed

[2021-09-24 15:02] joerchan commented on #38688
@pigeonhands Thanks for the update. Yes I can see that the issue happens now with a single connection connected at a time:

Reproduced this with 2 instances of tests/bluetooth/shell:
[code]

Then loop this:
[code]
Fails on the third loop iteration.

[2021-09-24 15:14] #35707 closed

[2021-09-24 15:14] XavierChapron opened #38829 "net_buf issue leads to unwanted elem free"
**Describe the bug**
Current `net_buf` structure shared the first word in a union between `sys_snode_t node;`  and `struct net_buf *frags;`.
This has been introduced a very long time ago : https://github.com/zephyrproject-rtos/zephyr/commit/553af7cd52f5726d1318338c545fcafdff2e44b5
However, `net_buf` allocation are handled by a LIFO, and the current documentation of `k_lifo_put()`, clearly states t

[2021-09-24 15:30] dcpleung commented on #38815
This is error checking to prevent integer overflow which would make `pend` less than `pstart`. So this is not an issue.

[2021-09-24 15:30] #38815 closed

[2021-09-24 15:30] #36783 closed

[2021-09-24 16:48] 0Grit commented on #29650
I'm a fan of the PSA Crypto API.
The Mbed OS project should provide a decent reference implementation.

[2021-09-24 17:00] d-soliveira commented on #38747
Hi there,
Similar problem here.
**Problem**:
`{"Objects":[{"Obis":"FF","Attributes":[]},{"Obis":"�␇","Attributes":[]}]}`
**Expected**:
`{"Objects":[{"Obis":"FF","Attributes":[{"Number":99,"Data":"ff"}]},{"Obis":"FF","Attributes":[{"Number":99,"Data":"ff"}]}]}`

It seams, for some reason, on the second array element the variable `n_elm` overflows.

[2021-09-24 18:09] #38807 closed

[2021-09-24 19:05] mmahadevan108 commented on #38665
Thank you for the changes, kindly submit your PR's and we will be happy to review and merge.

[2021-09-24 19:13] #38591 closed

[2021-09-24 19:57] hakkimakki opened #38831 "CPP stack overflow in build v2.6.99-ncs1"
**Describe the bug**
When I compile my project [link](https://github.com/hakkimakki/NRD/tree/main/test), i get no errors when compiling it either with the v2.6.99-ncs1 (nrf-connect-sdk v1.7.0) or v2.6.0-rc1-ncs1 (nrf-connect-sdk v1.6.1). However when i execute it, on the nrf52840dk_nrf52840 board, compiled with v2.6.0-rc1-ncs1 (nrf-connect-sdk v1.6.1) it works fine. When compiled with v2.6.99-ncs1

[2021-09-24 23:13] nandojve commented on #38657
Hi @fanghuaqi , @soburi ,

Thank you for your comments.

I'm favor to use nmsis and I have some doubts about create a `hal_nuclei`.

I'm not so sure about split peripheral drivers between two distinct projects. My concern is that any peripheral driver API changes will require modifications at both places:`hal_gigadevice` and `hal_nuclei`. The sync process can be long because can delay Zephyr code

[2021-09-24 23:51] mbolivar-nordic opened #38836 "Build system should allow some resizing between linker passes 1 and 2"
**Is your enhancement proposal related to a problem? Please describe.**

This is meant to track the 'real fix' to follow along the band-aid in #38834.

The userspace implementation builds a hash table using kernel object addresses as keys. These addresses must therefore remain valid between linker passes. Up until now, the solution to meeting this requirement has been that we cannot resize any val

[2021-09-24 23:52] mbolivar-nordic commented on #38181
Trying to work out a 'real fix' for after 2.7 here: https://github.com/zephyrproject-rtos/zephyr/issues/38836

[2021-09-25 00:28] #36716 closed

[2021-09-25 07:33] evgeniy-paltsev commented on #37861
Fixed by #38817

[2021-09-25 07:33] #37861 closed

[2021-09-25 07:33] evgeniy-paltsev commented on #38207
Fixed by #38817

[2021-09-25 07:33] #38207 closed

[2021-09-25 08:11] stephanosio commented on #38831
It does not look like the repository you linked above is publicly available, so we have no way of reproducing this.

It is very likely that you are actually running out of stack (hence stack overflow), so try increasing stack size.

[2021-09-25 08:53] hakkimakki commented on #38831
Sorry the repo is now public.

I have already increased the stack from 8192 to 16000 but still the same.

[2021-09-25 09:59] #2619 closed

[2021-09-25 10:01] nashif commented on #3199
outdated

[2021-09-25 10:01] #3199 closed

[2021-09-25 10:04] nashif commented on #6117
already implemented with dts filters.

[2021-09-25 10:04] #6117 closed

[2021-09-25 10:29] mmurty opened #38840 "Blinky example on MIMXRT1050EVKB hangs up in rom code when compiled for QSPI flash."
### Discussed in https://github.com/zephyrproject-rtos/zephyr/discussions/38839

<div type='discussions-op-text'>

<sup>Originally posted by **mmurty** September 25, 2021</sup>
Hi Everyone,
I am trying to get started with zephyr + NXP's MIMXRT1050EVKB board.
I tested the blinky example with MIMXRT1020EVK board and it worked fine.
Now I am trying to build the same blinky example for MIMXRT1050EVKB

[2021-09-25 10:41] #11028 closed

[2021-09-25 10:46] nashif commented on #15676
this should be possible now with tracing.

[2021-09-25 10:46] #15676 closed

[2021-09-25 10:47] #15793 closed

[2021-09-25 10:48] #16671 closed

[2021-09-25 14:06] AshwinKrishn opened #38843 "Relocatable arm A-53 binary."
**Is your feature request related to a problem? Please describe.**
My project requires a relocatable binary for ARM A53. Currently if I try to change the kernel offset, Address map, nothing seem to work.

**Describe the solution you'd like**
Ability to relocate the arm a53 elf file.

**Describe alternatives you've considered**
Relinking all the object files and libraries with a custom linker. But

[2021-09-25 19:08] yashi commented on #32577
If the whole point is to workaround the error caused by `target_compile_features()`,  how about setting `CMAKE_C_COMPILE_FEATURES` based on `CSTD`?  Or, for c++ variant.

@Thurnheer, if it's just for you, you might want to `set(CMAKE_CXX_COMPILE_FEATURES cxx_std_17)` before going down to your framework.

[2021-09-25 22:07] cfriedt opened #38846 "net: dns-sd: additional rfc6733 features"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, dns-sd does not support
1. domain enumeration (chapter 11)
2. sub-types (chapter 7.2)
3. service domains (chapter 7.2)

Items 2 and 3 deal with fully-qualified names (FQN's). Examples of FQN's that are unsupported are of the form:

[code]
or anything other than "local" for a `<domain>`, where
[code]

The `struct dns

[2021-09-26 05:39] chen-png commented on #37304
this is related to smp, there is a potential timer timeout race condition between multiple cpus.

i.e, on qemu_x86_64, the smp is enabled with two cpus in default.
in the code of sample test, when invoking k_timer_status_sync function, if the timer hasn't been expired, it will invoke z_pend_curr function to make the current thread wait for the timer expired, it will set the current thread state as

[2021-09-26 06:09] ck-telecom commented on #5703
any update for generic NFC library? could we steal from MBed?

[2021-09-26 07:43] martinjaeger commented on #38747
Ping also @Sir-Branch.

@nashif can you add @Sir-Branch to the collaborators in GitHub (see #38478) so that he can be assigned to JSON-related issues and do valid PR reviews?

[2021-09-26 09:25] hongshui3000 commented on #38843
https://github.com/zephyrproject-rtos/zephyr/issues/2746

[2021-09-26 09:56] cvinayak commented on #36381
@nwsetec Hi, I have been analyzing the issue under simulation with clock drifts, 4 central connection to a 1 peripheral which also is scanning, performing pairing procedures. The assert does not occur under simulation.

Attached is the simulated packet trace:
[multiple.zip](https://github.com/zephyrproject-rtos/zephyr/files/7231153/multiple.zip)

I will spend sometime next week to flash the applic

[2021-09-26 13:21] ck-telecom opened #38849 "drivers: i2c: nrf: i2c error with burst write"
**Describe the bug**
sending to bma421 config file buffer(a very huge size buffer), using i2c_burst_write with error the following error

00> [00:00:00.891,998] <err> i2c_nrfx_twim: Error on I2C line occurred for message 0
00> [00:00:00.892,089] <err> BMA421: i2c_burst_read error -5
00> [00:00:00.892,120] <err> BMA421: BMA4 init error:-2

[2021-09-27 05:51] vntsn commented on #38694
Yes, I am using the network management API for below events,
NET_EVENT_IF_UP
NET_EVENT_IF_DOWN
NET_EVENT_IPV4_ADDR_ADD
Though I was curious to know specifically about these unexpected RX queue errors.

Thanks @jukkar @rlubos

[2021-09-27 05:51] #38694 closed

[2021-09-27 05:55] briliant-ben opened #38853 "Bluetooth: host: bt_unpair failed because function [bt_conn_set_state] wont work as expected"
**Describe the bug**
When a central wants to disconnect from a peripheral with unpair(), it wont work as expected **because the bt_conn_set_state() is not a thread-safe function**, I think.

First, the function conn_disconnect(), it has two steps, the former will send a disconenct HCI cmd, th later will set connection state, while between them, if the HCI diconnect EVT comes and rx_thread has high

[2021-09-27 06:35] ck-telecom commented on #38755
There seems a similar zephyr/subsys/fb with fonts(mono similar with dot matrix display), I think it is a good idea to port to this directory with more fonts and more draw APIs.

[2021-09-27 07:37] tejlmand commented on #32577
The fix to this seems to be the same as I proposed here:
https://github.com/zephyrproject-rtos/zephyr/issues/36558#issuecomment-914038682

but never got a reply on that message.
I would like to be sure it fixes the use-cases described and that they won't hit another obstacle afterwards.
(I prefer complete fixes, not partial fixes before sending a PR :wink: )

[2021-09-27 08:07] joerchan commented on #38853
We have this:
[code]

Are you even able to build it like this?

[2021-09-27 08:22] Thalley opened #38857 "Bluetooth: Host: Clear up confusing `bt_conn` pointer namings"
**Is your enhancement proposal related to a problem? Please describe.**
The `struct bt_conn` struct is used for ACL, SCO, BR and ISO connections, but is still most often just used as
`(struct bt_conn *conn)` in functions, where it isn't clear what type of connection it really is.

**Describe the solution you'd like**
It has been done for `sco` mostly where the functions have `struct bt_conn *sco_c

[2021-09-27 08:31] yashi commented on #32577
Ah, I wasn't aware of the issue.  Thanks!
(I think we can close this as a duplicate.  The other has medium priority :grin:).

FWIW, I'm using the same workaround when I integrate a CMake based project as a Zephyr module.  So +1 for this.

[2021-09-27 08:39] erwango commented on #38826
According to some tests I just did, it seems the min RAM limit for these tests is 141K.
I will update tests requirement to 144.

[2021-09-27 08:59] briliant-ben commented on #38853
OH, I made a mistake.

Thanks for your help!

I haven't studied the zephyr kernel scheduling mechanism yet, if there wont be a thread switching in bt_conn_set_state() (in conn_disconnect), then it wont fail.

[2021-09-27 09:00] ycsin opened #38861 "stm32g0b1re: Garbage uart data when running `spi_flash_at45` sample with DMA enabled"
**Describe the bug**
I'm trying the `spi_flash_at45` on `nucleo_g0b1re`, and found that there are some garbage data in the debug log when SPI DMA is enabled.

**To Reproduce**

[code]

nucleo_g0b1re.dts:
[code]

prj.conf:
[code]

**Expected behavior**
UART with/without SPI_DMA should behaves the same

**Impact**
Nothing major for a test application, can cause error if the garbage appears in uart c

[2021-09-27 09:02] ycsin commented on #38861
@erwango I have tried the old `uart_stm32.c` code and the latest one, both results are identical.

[2021-09-27 09:05] carlescufi commented on #38853
Thanks for replying back. I will close this, but feel free to comment further if you need help.

[2021-09-27 09:05] #38853 closed

[2021-09-27 09:08] erwango commented on #38861
@ycsin Have you tried to set dma prio to the same level as spi one ?

[2021-09-27 09:30] ycsin commented on #38861
@erwango Sorry, I don't really understand. I only enabled DMA for SPI in the devicetree and left UARTs untouched, is there any dma prio that I should configure?

[2021-09-27 09:36] erwango commented on #38861
Try to set interrupts prio to 5 (same as SPI), here:
[code]

[2021-09-27 09:43] ycsin commented on #38861
It is overwritten in g0b1.dtsi and has different length:

[code]

[2021-09-27 09:49] erwango commented on #38861
These go by pairs. In first pair '9 0', '9' is the IRQ line, '0' is the prio.
Replace all '0' by '5'.

[2021-09-27 09:57] ycsin commented on #38861
I overwrite it in the `nucleo_g0b1re.dts` now

[code]

But unable to compile:
[code]

[2021-09-27 10:05] erwango commented on #38861
Ok, my bad, it seems that 5 is not a valid value on GO and besides SPI prio is 0 on G0.
So I guess my suggestion won't work.
Anyway, you can try to set prio to '4' and see if things get better, but I''m not so sure now.

[2021-09-27 10:05] ycsin commented on #38861
Is this written anywhere?
[code]

[2021-09-27 10:11] ycsin commented on #38861
I've tried 4 but it also fails to compile, 1,2,3 compiles, but same result

[code]

[2021-09-27 10:12] erwango commented on #38861
Ok, Thanks for having had a try. We'll need to investigate a bit more then.

[2021-09-27 10:52] MaikVermeulen commented on #32610
Good news, from this week onward, I'll get time to work on this.

I think the easiest way would be to resolve #38531.
Then the application can register that callback, and on each ACK just update the resource values to trigger a new notification. The user can choose whether to include the timestamp resource etc.
Actual storage method of data is completely left to the user application.

Furthermore,

[2021-09-27 12:23] #38012 closed

[2021-09-27 12:24] #38818 closed

[2021-09-27 13:53] erwango opened #38870 "stm32f1: Button callback not fired"
**Describe the bug**
Since 590162a5cc06c72b70dee93f410b878bc0935f1f, soc init sequence ends up with AFIO clock disabled.
Hence, some functions like exti lines configuration where not functioning properly.

For some reason, this was not detected by gpio test cases.

**To Reproduce**
Check `samples/basic/button` on nucleo_f103rb.

**Expected behavior**
A clear and concise description of what you exp

[2021-09-27 14:08] #37940 closed

[2021-09-27 14:10] #38745 closed

[2021-09-27 14:13] #36857 closed

[2021-09-27 14:15] #38123 closed

[2021-09-27 14:15] #38000 closed

[2021-09-27 14:15] #38001 closed

[2021-09-27 14:20] de-nordic commented on #38624
@maweicoltsmart Can you share list of PARTITION_ID from your devicetree header file?
[code]

[2021-09-27 14:29] carlescufi commented on #35945
Closing this as per @anangl's last comment. Please reopen if this reappears.

[2021-09-27 14:29] #35945 closed

[2021-09-27 14:34] #33041 closed

[2021-09-27 14:34] #33052 closed

[2021-09-27 14:34] #38116 closed

[2021-09-27 14:35] #38014 closed

[2021-09-27 14:46] mbolivar-nordic commented on #38675
Hi, I can't reproduce this issue.

I tried to follow your steps to reproduce exactly using this branch:

https://github.com/mbolivar-nordic/zephyr/tree/bug-38675

And I tested this with:

[code]

The file drivers/sensor/rotary_encoder/rotary_encoder.c builds without error.

Can you please confirm this branch is what you are trying to do? If not, can you please push a commit based on that branch wh

[2021-09-27 15:14] #38120 closed

[2021-09-27 15:35] #38826 closed

[2021-09-27 15:36] FRASTM commented on #38683
I do not know about different protocol "in Motorola mode it goes high and then low between bytes"
The [AN5543](https://www.st.com/content/ccc/resource/technical/document/application_note/group1/ad/cc/bd/4c/4a/74/4a/67/DM00725181/files/DM00725181.pdf/jcr:content/translations/en.DM00725181.pdf) explains :
_"standard SPI Motorola mode is not ideal on old SPI versions. The signal logic copies the SPE

[2021-09-27 15:36] #38697 closed

[2021-09-27 15:36] #38700 closed

[2021-09-27 15:36] #38701 closed

[2021-09-27 15:36] #38702 closed

[2021-09-27 15:48] carlescufi commented on #38799
@1hannah11

Can you enable `CONFIG_BT_DEBUG_GATT` and then post the output you get in the central please?

[2021-09-27 16:23] avisconti commented on #38683
I found this link here explaining the difference between the two protocols:
https://itectec.com/electrical/electronic-spi-ti-or-motorola-mode/

It is related to CPOL and CPHA configuration. But I'm not sure to understand how this is related to this issue.

[code]
My suggestion is to make this configuration available as DT option, because I guess that it might be different for SPI_1 or SPI_2 and so

[2021-09-27 16:25] #38804 closed

[2021-09-27 16:31] carlescufi commented on #38799
I just tested the vanilla sample and works fine. This must be on your code. I suggest you ask in Discord or go back to the original GitHub discussion because this doesn't look like a bug in Zephyr.

[2021-09-27 16:31] #38799 closed

[2021-09-27 16:34] AshwinKrishn opened #38877 "Running the zephyr elf natively on an arm a53 machine (ThunderX2) with KVM emulation"
**Is your feature request related to a problem? Please describe.**
I am trying to boot the elf generated on a aarch64 machine. It seems to boot without emulation using zephyr SDK's qemu-system-aarch64. But it does not boot with system's qemu-aarch64. The KVM emulation is not seeming to work. IS there a reason why emulation booting is not enabled ?

**Describe the solution you'd like**
I would like

[2021-09-27 16:49] gmarull commented on #38619
I'd not extend callback, but provide some APIs to obtain contextual information if the driver requires it. For example, `pm_state_get_next()` instead of passing `enum pm_state soc_state`. Many devices will never care about soc_state, so better make their life easier.

https://github.com/zephyrproject-rtos/zephyr/issues/37056 also describes some problems outlined here, together with information tha

[2021-09-27 16:50] gmarull commented on #38619
That's indeed a good point.

[2021-09-27 16:55] bryan-hunt opened #38878 "drivers: i2c: sam0: multiple edge case failures"
**Describe the bug**
* Per device datasheets the bus state will be unknown until a transition on SDA is detected or the bus state is set to idle by software
* Smart mode causes a bus read every time the data register is read - this causes an additional read to be issued after the NACK is set by the host and the stop is never properly issued because the NACK flag is reset by the time the driver att

[2021-09-27 16:58] ceolin commented on #38619
I was thinking about it as well. Unless someone else come up with a case where it makes sense, I agree that ACTIVE and SUSPENDED are enough.

[2021-09-27 17:00] ceolin commented on #38619
That is a good point, just wondering if making it a different function, instead of a parameter, will not make it harder for drivers developers that need it.

[2021-09-27 17:36] evgeniy-paltsev opened #38880 "ARC: ARCv2: qemu_arc_em / qemu_arc_hs don't work with XIP disabled"
**Describe the bug**
qemu_arc_em / qemu_arc_hs don't work with XIP disabled

**To Reproduce**
Steps to reproduce the behavior:

Disable XIP for ARC QEMU boards:

[code]

Build and run hello_world sample:
[code]

**Expected behavior**
`samples/hello_world` should print `hello world`, however with XIP disabled it doesn't print anything.

**Environment (please complete the following information):**

[2021-09-27 17:47] #38013 closed

[2021-09-27 18:15] rustypig91 commented on #38878
Could you check if #38881 fixes this issue?

[2021-09-27 20:17] yashi commented on #35244
https://github.com/zephyrproject-rtos/zephyr/pull/38730#issuecomment-928049682

[2021-09-27 20:51] MarcianoPreciado commented on #32516
Having implemented a 1-wire slave in Zephyr on an nRF52840, I think that a universal bit-banged driver will be incredibly difficult. There are, however, [application notes](https://www.maximintegrated.com/en/design/technical-documents/tutorials/2/214.html) on how to implement 1-wire masters using a UART. Further, I think it would be good for the community to have a single 1-wire master driver that

[2021-09-27 21:10] Sir-Branch commented on #38747
I know this might be a active blocker for some users. I was able to reproduce, and agree that this is an issue.

In my opinion this is a symptom of an underlying shortcoming in the architecture, it wasn't really thought for use of nested objects/array from the get go (see the [original authors blog post](https://tia.mat.br/posts/2017/03/01/parsing_json.html)).

Support for nested objects seems mor

[2021-09-27 21:31] mbolivar-nordic opened #38886 "devicetree/memory.h probably should not exist as-is"
**Describe the bug**

Originally introduced in #35460. I have no idea how I missed all of this in review, but it showed up while I was working on release notes.

Marking high because it affects a stable API (devicetree.h) and these concerns ought to be fixed before we include the new API in the v2.7 LTS release with known mistakes from an API perspective.

1. we should not be adding any include/de

[2021-09-27 22:18] kowalewskijan commented on #38747
@Sir-Branch I pushed a proposal for this issue: https://github.com/zephyrproject-rtos/zephyr/pull/38888 please take a look.

[2021-09-28 00:28] #36924 closed

[2021-09-28 02:06] ycsin opened #38893 "g0b1re + spi_flash_at45 + flash_shell: First write always fails with `CONFIG_PM_DEVICE`"
**Describe the bug**
I'm using nucleo g0b1re, testing `spi_flash_at45` sample with default `prj.conf` + an additional `CONFIG_SHELL=y`. I tried to write to some random offset of the AT45DB321E flash using `flash_shell`, the first write always fails, but the subsequent write to the same or other offset is successful. If I issue a read first before a write, then the read & write will both be success

[2021-09-28 02:15] maweicoltsmart commented on #38624
@
[code]
But the function in the file flash_map.c:
[code]

The obtained flash_map_entries value is 5, and the flash_map[i].fa_id values are 32, 43, 66, 43, 104 respectively

[2021-09-28 02:18] bryan-hunt commented on #38878
Not really - repeated starts for reads are also not being issued due to the fact that the logic for that is in the transfer function (rewrite the address register) and not the ISR. The solution is to a) revert most of the changes made or b) move most all logic to the ISR. The later is generally considered undesirable in favor of smaller/tighter ISRs. The question is which ends up being more perfor

[2021-09-28 02:27] #38134 closed

[2021-09-28 02:52] 1hannah11 commented on #38799
Sorry, yes you are right it was my peripheral code. Used the peripheral_ht sample and all was normal. Sorry for any inconveniences

[2021-09-28 03:28] ycsin opened #38898 "hawkbit: Roadmap"
This issue serve as a tracker for anyone interested in improving the Hawkbit subsys.
Information about Hawkbit server can be found at the Eclipse's Hawkbit [website](https://www.eclipse.org/hawkbit/).

- [ ] Weak-linked device attribute function(s), so that user can override it in application without patching the source - #37640
- [ ] Offload `flash_omg_buffer_write` to a work ([comment](https://g

[2021-09-28 03:35] DylanSang opened #38899 "There is no valid date setting function in the RTC driver of the LL Library of STM32"
There is no valid date setting function in the RTC driver of the LL Library of STM32

I want to use the RTC universal interface function for setting time and date based on STM32 ll library

I see that the current counter function implemented in the rtc driver of stm32 based on the ll library only obtains the value, and the set value function does not implement the corresponding function.

[2021-09-28 03:38] ck-telecom opened #38900 "support a generic gpio-key driver"
## Introduction
Introducing a generic gpio-key driver

### Problem description

Every project I need rewrite a button driver to support button keys, so is there a gpio-key driver similar to Linux gpio-key.c?(sorry I used to work for Linux Driver and Kernel)

### Proposed change

Not sure the kscan is suitable for this generic gpio-key driver, so maybe introduce another type driver?

## Detailed RF

[2021-09-28 05:00] kclauah opened #38902 "i2c_nrfx_twim: Error 0x0BAE0002 if sensor is set in trigger mode and reset with nrf device"
**Describe the bug**
This issue happens if the program reset while the sensor is in trigger mode.
Tested on nf52dk_nrf52832 and sparkfun thing plus nrf9160

**To Reproduce**
Steps to reproduce the behavior:
1. Add nrf52dk_nrf52832.overlay in project
[code]
2. Run the example on nrf52dk_nrf52832 with trigger mode.
3. Data successfully received from fetch_and_display function
4. Reset the device

**

[2021-09-28 05:01] yperess commented on #35244
The issue is 2 lines in the root CMakeLists.txt on Debian systems:

[code]

I just found a fix for it. Pushing a PR...

[2021-09-28 05:02] rustypig91 commented on #38878
When testing repeated restarts are you using the I2C_MSG_RESTART flag? Although I don't have the same setup of testing tools this works for me.

[2021-09-28 06:22] MaikVermeulen commented on #38531
If everyone is okay with it, I would like to pick this up in light of #32610 .

[2021-09-28 06:24] r2r0 commented on #36962
@de-nordic Thanks a lot for your analysis.
If extraction of heap overhead information will take long time then maybe it is worth to temporarily increase FC_HEAP_PER_ALLOC_OVERHEAD and create separate issue for heap overhead info activity.

[2021-09-28 06:54] zephyrbot opened #38904 "[backport v2.7-branch] backport of #38860 failed"
This issue was created automatically because the backport of #38860 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-38860-to-v2.7-branch`.

[2021-09-28 06:55] erwango commented on #38904
Change was already ported to v2.7.0 branch

[2021-09-28 06:55] #38904 closed

[2021-09-28 07:18] FRASTM commented on #38683
@avisconti, thank you

[2021-09-28 07:23] carlocaione commented on #38886
I pushed #38905 to fix the layering violation and to unblock the release (I hope). We can talk what is the proper way to address all the rest in another PR.

[2021-09-28 07:25] ck-telecom commented on #38900
/*
 * SPDX-License-Identifier: Apache-2.0
 */
#define DT_DRV_COMPAT gpio_keys

#include <zephyr.h>
#include <device.h>
#include <drivers/gpio.h>

    DT_GPIO_BY_IDX();
    DT_INST_GPIO_FLAGS(DT_NODE)

struct gpio_keys_data {
//TBD
};

struct gpio_keys_config {
    struct gpio_dt_spec *spec;
    char *key_val;
    int num;
};

static struct gpio_callback gpio_keys_cb;

static void gpio_keys_isr(con

[2021-09-28 07:31] avisconti commented on #38683
Yes, it seems good!

[2021-09-28 09:09] avisconti commented on #38683
@frastm Maybe you need to specify also a 'default' case and put in the description the reaso for that choice?

[2021-09-28 09:13] erwango commented on #38683
Updating the issue and removing the bug as it's not a bug, but how it's supposed to work.

[2021-09-28 09:19] carlescufi commented on #38900
@superna9999 @gmarull @mbolivar-nordic @galak FYI

[2021-09-28 09:24] erwango commented on #38683
@tbursztyka do you think this should go in spi.yaml ?
Also, any suggestion on the name ?

[2021-09-28 09:45] #36282 closed

[2021-09-28 09:49] erwango commented on #38899
Same as https://github.com/zephyrproject-rtos/zephyr/issues/35333.

[2021-09-28 09:49] #38899 closed

[2021-09-28 09:55] erwango commented on #38893
From the description, the effect of `CONFIG_PM_DEVICE=y` is not clear. Are you able to see the issue when `CONFIG_PM_DEVICE=n` ?
I think isolating the issue in only one subsystem would make things easier to analyse.

[2021-09-28 10:13] #38622 closed

[2021-09-28 10:18] tejlmand commented on #38403
still a pending PR to be fully fixed: #38908

[2021-09-28 10:19] #38870 closed

[2021-09-28 10:45] PerMac opened #38924 "twister: cmake: Misleading error in Twister when sdk-zephyr 0.13.1 not used"
**Describe the bug**
Without zephyr-sdk 0.13.1 Twister fails with a misleading error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `scripts/twister -T samples/hello_world/`
2. See error

**Expected behavior**
A proper error is given (using west build give the correct one)

**Impact**
confusion and wasted time on debugging

[2021-09-28 11:23] henrikbrixandersen commented on #38900
I am not sure I understand the benefit of adding yet another driver layer on top of the already existing GPIO interrupt/callback mechanism? What is the problem with the existing GPIO API based solution?

[2021-09-28 11:28] de-nordic commented on #36962
@r2r0 Would you consider adding Kconfig option exposing that overhead? This will not fix the issue at all but will provide, for users, workaround for "tuning" it to more suitable value.

[2021-09-28 11:40] rakons opened #38929 "The trigger parameter in sensor_trigger_handler_t should be pointer to constant"
**Is your enhancement proposal related to a problem? Please describe.**
In the sensor_trigger_handler_t function second parameter is pointer to sensor_trigger structure.
I do not see any good reason for it not to be const.
Giving it const qualifier would allow us to store trigger description in FLASH.

**Describe the solution you'd like**
Just add const qualifier. The only problem I see is that al

[2021-09-28 11:48] erwango opened #38930 "Low Power mode not functional on nucleo_l073rz"
**Describe the bug**
Test `   tests/kernel/tickless/tickless_concept/kernel.tickless.concept` is failing on nucleo_l073rz.

**To Reproduce**
`twister --ninja -p nucleo_l073rz --device-serial /dev/ttyACM0 --device-testing -s   tests/kernel/tickless/tickless_concept/kernel.tickless.concept`

**Expected behavior**
Test should be passed

**Impact**
Low power modes not possible on this platform

**Firs

[2021-09-28 11:50] tejlmand commented on #35244
it's most likely related to this binutils commit:
https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=fa6ecf940581b4be26165351bb0473427d31c7d8

but note, this is only a linker `warning`, but because all warnings are treated as errors per default when using twister the end result is an error.

[2021-09-28 12:02] XavierChapron commented on #38829
This is a eventually a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/32579.
See https://github.com/zephyrproject-rtos/zephyr/pull/38830#issuecomment-929118977 for more details.

[2021-09-28 12:09] FRASTM commented on #38548
@hjuul would it be possible to have the part of your application or a simple change to apply on the existing _samples/drivers/spi_flash_ that could reproduce the pb you see.

[2021-09-28 12:33] #38403 closed

[2021-09-28 12:41] flo-carrere opened #38933 "Implement a workaround for STM32H743VI (Rev. Y) - preventing unexpected memory corruption when reading from AXI SRAM"
**Is your enhancement proposal related to a problem? Please describe.**
I run into unexpected crashes (arm fault diagnosed as bus fault) when running a simple program on my out-of-Zephyr-tree board (OpenMV Cam H7 - STM32H743VI - Rev Y).
No problem with the same code but running on a Nucleo-H743ZI (a supported board in Zephyr tree, using STMH743ZI - Rev V).

I created a bug report to investigate th

[2021-09-28 12:53] superna9999 commented on #38900
it could be useful if you had a proper key event mapping & handling library alongside, as-is it's nothing more than a gpio interrupt sample code

[2021-09-28 13:30] lgl88911 commented on #38675
@mbolivar-nordic Thanks for checking, Sorry,I didn’t write all the code, it wasted your extra checking time. I have found the cause of the problem, this is my mistake. In drivers/sensor/rotary_encoder/rotary_encoder.c, the code is as follows:
[code]
DEVICE_AND_API_INIT is supported in 2.6.0 but has been marked as obsolete. 2.7.0 removed it, which cause build error at 2.7.0.

Now I replaced DEVICE_

[2021-09-28 13:30] #38675 closed

[2021-09-28 13:34] gmarull commented on #38900
Regarding the question `/* how to get all sw0 - swn ??? or in gpio_keys_data */`, you can obtain all keys like this:

[code]

I haven't tested, but I think it should work. Note that `gpio-keys` compatible doesn't support `key-code` property, so you'll need to create your compatible.

[2021-09-28 14:34] sjanc opened #38938 "Bluetooth tester application should be able return L2CAP ECFC credits on demand"
**Describe the bug**
Some qualification tests require that IUT is capable on returning credits only on on-demand from upper tester.

**Impact**
Qualification tests are not passing consistently which is affecting BLE qualification.

[2021-09-28 15:01] yingmingx commented on #36770
@andyross This problem affects Fusa's traceability work. Because we need to map to documents according to requirements. Could you help spend some time solving this problem?

[2021-09-28 15:35] WilliamGFish opened #38943 "west: update hal_espressif failure"
**Describe the bug**
Error with west update function, fails to update hal_espressif

**To Reproduce**
Steps to reproduce the behavior:
1. west update, produces fatal: remote error: upload-pack: not our ref 09549c03111a2b330371d361d56227a457af66c5

**Expected behavior**
Update hal from git repository

**Impact**
Unknown...

[2021-09-28 15:40] #38829 closed

[2021-09-28 15:45] anangl commented on #38849
Could you point me to where `i2c_burst_write()` is called to send this huge buffer? I didn't manage to find this myself.

From what I can see in [`bma421_init_driver()`](https://gitee.com/fwatch/pinetime/blob/develop/app/drivers/bma421/zephyr/bma421.c#L175-186):
[code]
`i2c_burst_write()` is called underneath `bma4_soft_reset()`, but the buffer there is just one byte (`BMA4_SOFT_RESET` to be writt

[2021-09-28 17:03] carlescufi commented on #38943
I´ve seen this multiple times already too. I think it's something to do with the submodules. Can you try running it again?

[2021-09-28 17:06] cfriedt commented on #38943
@WilliamGFish - have you rebased /zephyr latetly? What commit sha are you on?

[2021-09-28 17:11] cfriedt commented on #38902
@kclauah - do you have a fix for this?
@avisconti - do you have some suggestions for this sensor?

[2021-09-28 17:15] nordicjm opened #38947 "Issue with SMP commands sent over the UART"
**Describe the bug**
We are using an nRF52840-based module in our design and a firmware based on the nRF connect SDK versions 1.5 to 1.7, in this we are seeing what appears to be an issue in zephyr 2.6 and 2.7 which was not present in 2.5. We have a shell configured, with logging also, on the UART (UARTE peripheral operating at 115200 baud) which is connected to a PC, we have the mcumgr shell tran

[2021-09-28 17:22] lairdjm commented on #38947
Note that this is SMP but is not DFU, we are using SMP for a custom system which sets variables

[2021-09-28 17:50] lairdjm commented on #38947
Further debugging has shown that `smp_shell_process` usually gets called 2 or 3 times per received message, normally it hits the `if (!buf) {` on the first loop (second loop also if it's a 3 loop one) and then hits `if (nb != NULL) {` on the final loop however on times where it gets stuck with this bug, all 3 times it hits the `if (!buf) {` part. Managed to get one with 11 loops on that just now a

[2021-09-28 18:01] #38886 closed

[2021-09-28 18:10] #38924 closed

[2021-09-28 18:49] sylvioalves commented on #38943
You have seen this issue happening during `hal_espressif` update? I haven't yet. Perhaps we need to work this out to avoid it.

[2021-09-28 19:07] emillindq commented on #31824
Ah yes I understand what you mean!
The way I understand choices is that it's a way to easily tell Kconfig that "one and only one of these symbols shall be defined". I'm just thinking, would it be possible to "select" a choice? I imagine it would require a change in Kconfig script/compiler but I just imagine that's the way a user would like it to be. My entry point to this discussion is that a *.pr

[2021-09-28 20:20] thedjnK commented on #32516
There's an open PR for 1-wire here https://github.com/zephyrproject-rtos/zephyr/pull/37663
I created a basic bit-bang 1-wire PoC driver on top of zephyr 2.5 some time ago, talking to an DS18B20 and it worked but as you say how universal it would have been between other micros I do not know

[2021-09-29 00:04] #26585 closed

[2021-09-29 00:31] ric96 opened #38954 "Can't get FlexPWM working for imxrt1060"
I'm trying the blinky_pwm sample for the teensy4 using the onboard LED. I've added an dt overlay to add the pwm bits which look like:
[code]

But i'm getting the following error on the console:

[code]

[2021-09-29 01:25] cfriedt commented on #28896
Also covered in #31107

[2021-09-29 01:26] cfriedt commented on #31107
duplicates #28896

[2021-09-29 01:26] #31107 closed

[2021-09-29 01:27] cfriedt commented on #28896
**Copied from #29804**

I have some reservations about just copying from another project, although I haven't looked at the implementation.

qsort does not actually specify which sorting algorithm should be used under the hood, which leaves a lot of possibilities open for the implementation. I've read that musl has implemented Smoothsort
if we add a sorting algorithm to the minimal libc, let's add

[2021-09-29 01:34] #38756 closed

[2021-09-29 02:17] kclauah commented on #38902
My approach is to stop sensor interrupt before system reboot by disabling sensor interrupt bit or setting sample frequency to zero.
However, this method cannot handle unexpected system reboot.
[code]
[code]

[2021-09-29 03:27] ck-telecom commented on #38900
hum...maybe this is useful when someone want beautiful code for numbers of keys

but why we use
.compatible = "gpio_keys"

with nothing to help and confusion.

[2021-09-29 05:53] Asthachavda opened #38959 "ITE RISCV I2C driver returning positive values for error instead of negative values"
**Describe the bug**
While tried to bind the i2c driver, wrote the 1-byte data in particular address (using i2c_write API), received positive number as an error instead of negative error code.

**To Reproduce**
Steps to reproduce the behavior:
1. Wrote a simple code to test the I2C interface for ITE board.
2. Try to write & read the data using aardvark
3. Used aardvark as a slave

**Expected behav

[2021-09-29 06:11] LingaoM commented on #36343
@trond-snekvik

Before starting PB-GATT Client development, there are some questions to be communicated:

1. At present, our provisioner function depends on local node provisioned, but the specification does not impose constraints. Ideally, provisioner can be enabled as long as CDB has been configured.

2. And our current `unprovisioned_beacon`,  The beacon callback cannot distinguish between PB-A

[2021-09-29 06:31] DominikWindhab commented on #32610
You mean basically, instead of storing the messages temporarily within the LWM2M engine, the user should store them and just set the LWM2M resources not before an ACK of a previous notification arrived.

I'm not sure if this is something that is easy to implement. First thing is that the user can set different resources but the engine will collect all changes, put them in one ore more notification

[2021-09-29 06:32] r2r0 commented on #36962
No problem, I will add PR with proposed option .

[2021-09-29 06:36] ainguraXmarquiegui commented on #33747
I'm sorry @hakehuang . I just saw your latest post edit. When you edit a post I don't get notifications.

I'd like to request that next time that you add relevant information, please post it as a new entry, and do not edit posts. This will improve my response time.

I will have a look at your newest modifications now.

[2021-09-29 06:45] ainguraXmarquiegui commented on #33747
Depending on the efficacy of your latest contributions this might or might not be relevant, but I want to share the results of my last semi-long duration test.

Code base tested:

https://github.com/ainguraXmarquiegui/zephyr/tree/feature/xmarquiegui/rt_gptp_fixes_hakehuang_with_pps
https://github.com/ainguraXmarquiegui/hal_nxp/tree/feature/xmarquiegui%2Frt_gptp_fixes_fsl_enet_2_5_0_with_pps

Test

[2021-09-29 06:59] WilliamGFish commented on #38943
When run west again the error doesn't appear but I'm not sure if there is an underlying issue.

I am always running the latest version by merging changes and run a west update at least once a day to assess updates.

Billy..

[2021-09-29 07:10] anangl commented on #38667
What compatible is used for `i2c0`, is it "nordic,nrf-twi" or "nordic,nrf-twim", can you check in `zephyr.dts`?
Could you try to test the sample with the latest main, at least with this commit: 99ce264df772e9fdfd053896c5b7834547e169c2? It looks like the problem could be the same as the one reported in #33440 that should be already fixed by #38678.

[2021-09-29 07:22] ainguraXmarquiegui commented on #33747
@hakehuang [this commit](https://github.com/hakehuang/zephyr/commit/7e5032fdfeec5104758971877230bb68a0c5e3d0) says that `hal_nxp` should be in revision `1ddfcab97badc442ad9c3d270e2774134e3a9513`, but I can't find that revision anywhere.

Can you confirm if I should run my tests using [this](https://github.com/hakehuang/hal_nxp/commit/8211256c10b7b7138df52c68f55c0a5c9c482926) `hal_nxp` revision?

[2021-09-29 07:31] AllemanMa commented on #17692
@rlubos, has there been any progress or updates on this? I would like to use multicast groups with Zephyr and Openthread. Adding an ipmaddr seems to work fine however removing one is still a problem. It seems indeed that `ipv6_addr_event_handler` does still not handle `NET_EVENT_IPV6_CMD_MADDR_DEL`. Thanks

[2021-09-29 07:50] avisconti commented on #38902
@cfriedt @kclauah
I guess this issue might be same as this one #20913. If so, it's a known issue.

Can you try to generate interrupt on INT2 instead of INT1?

[2021-09-29 07:56] caco3 commented on #34659
@jfischer-no Sorry for the late response 😒 . I finally got the logic analyzer. How ever I had to realize it only supports USB 1.1 but the BLE dongle runs with USB 2.0. So at the moment, I am not able to provide a logic analyzer trace.

Where you able to investigate something with your board?

[2021-09-29 08:18] ABOSTM opened #38961 "tests: kernel: sched: schedule_api: instable on disco_l475_iot1"
**Describe the bug**
tests: kernel: sched: schedule_api: instable on disco_l475_iot1

From time to time, test schedule_api is failed on disco_l475_iot1.
on both configurations
* kernel.scheduler
*  kernel.scheduler.multiq

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b disco_l475_iot1 tests/kernel/sched/schedule_api/
2. west flash
3. See error

**Expected behavior**
Tes

[2021-09-29 09:08] #38769 closed

[2021-09-29 09:14] carlescufi commented on #38698
@alexanderwachter could you please take this one?

[2021-09-29 09:16] carlescufi commented on #38376
@bob2oneil please provide the information required.

[2021-09-29 09:17] carlescufi commented on #38514
@swethad11782809 @ana-rajput could you please try to provide additional information and traces in order to try and reproduce this?

[2021-09-29 09:17] trond-snekvik commented on #36343
@LingaoM

1. I think this limitation might simplify future provisioning bearer implementations, and should be kept around, but if someone has a usage scenario where this needs to be possible, we could support it. I would imagine that it's a rare usage scenario, since you'll normally need to configure the models after provisioning anyway
2. Good point. If we can add a second callback that has a rea

[2021-09-29 09:37] emillindq commented on #31824
Forgot to tag @cfriedt

[2021-09-29 09:44] ABOSTM commented on #38961
Duplicate of #35793

[2021-09-29 09:44] #38961 closed

[2021-09-29 09:47] LingaoM commented on #36343
@jhedberg @joerchan  @Thalley @carlescufi

I wonder if we can change the connection logic of the host first?

According to the third description, if we do not require Host to make changes, the implementation of Bluetooth mesh is a bit complicated.

[2021-09-29 09:52] kclauah commented on #38667
it is "nordic,nrf-twim";

It works for me with nrf52dk_nrf52832 and lsm6dso in polling mode.

It happens when I test it on nRF Connect SDK v1.6.1 which does not include this commit: 99ce264

[2021-09-29 10:10] anangl commented on #38667
In this case, adding `zephyr,concat-buf-size` in your overlay should help.

[2021-09-29 10:23] tfir1981 opened #38966 "Please add STM32F412VX"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
There are many kinds of STM32F4 microcontrollers. I am using the stm32f412ve in my project but this type is not maintained yet. In my opinion it is only the Kconfig, which is not maintained.

**Describe why you are asking for this support?**
I think this type is also widesprea

[2021-09-29 10:29] ABOSTM commented on #35793
**Analysis:**
Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/sched/schedule_api/src/test_slice_scheduling.c:61: thread_tslice: ((tdelta >= expected_slice_min) && (tdelta <= expected_slice_max) && (idx == thread_idx)) is false

Time slice is programmed at 200ms
`#define SLICE_SIZE 200`
Expected time slice is computed
[code]
expected_slice_min = 200
expected_slice_max = 200
(CONFIG_SYS_CLOCK_TI

[2021-09-29 10:36] #38930 closed

[2021-09-29 10:42] alexanderwachter commented on #38698
@carlescufi I don't feel I'm the right person for that. I have no insight on the socket implementation.

[2021-09-29 10:43] sylvioalves commented on #38943
@WilliamGFish What OS?

[2021-09-29 11:51] MaikVermeulen commented on #38534
For everyone interested:
[code]

[2021-09-29 11:51] MaikVermeulen commented on #38531
For everyone interested:
[code]

[2021-09-29 11:51] MaikVermeulen commented on #32610
For everyone interested:
[code]

[2021-09-29 12:10] carlescufi commented on #16587
I've investigated this a bit.

It only triggers with `struct in6_addr` and `struct in_addr` because those happen to have alignment requirements (i.e. they are no just structs that hide a simple byte array, but have 16-bit and 32-bit words in them). The possible solutions:

1. Declare `struct in6_addr` and `struct in_addr` as `__packed`. This iis going to bloat the code if those structs are used wi

[2021-09-29 12:23] huelsenfruchtzwerg commented on #38534
closing in favor of the more generic #38531

[2021-09-29 12:25] #38534 closed

[2021-09-29 12:41] ck-telecom commented on #38849
I connect 5V to VCC, maybe the hardware is broken, this issue closed

[2021-09-29 12:41] #38849 closed

[2021-09-29 12:43] icatorze opened #38970 "LWM2M Client Sample with DTLS enabled fail to connect"
**Describe the bug**
I'm trying to run LwM2M client sample with DTLS enabled on a Nucleo_F207ZG board, but this error is reported on uart console:
 **`<err> net_lwm2m_engine: Failed to send packet, err 12`**

When debugging I get a -1 output over this fuction in 1048 line of lwm2m_engine.c file
[code]
Previously I could successful run this sample without DTLS.
I take a Linux PC to run Leshan Serve

[2021-09-29 12:45] bob2oneil commented on #38376
I intend to submit a test case for this, have not had time to do that at the moment.  It is still an important issue for me to resolve.

[2021-09-29 12:51] FRASTM commented on #38966
Maybe defining a Kconfig.defconfig.stm32f412**xe** is more pertinent to distinguish STM32F412xE or STM32F412xG  devices
(x is about pin count)

[2021-09-29 13:00] zephyrbot opened #38972 "[backport v2.7-branch] backport of #38965 failed"
This issue was created automatically because the backport of #38965 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-38965-to-v2.7-branch`.

[2021-09-29 13:01] carlescufi commented on #38698
@MateuszKarlic would you be willing to send a fix as per what @rlubos described above?

[2021-09-29 13:08] cfriedt commented on #16587
In Linux, it appears that `struct in6_addr` is not aligned. Alignment would follow the required alignment of the first element in the struct, which is a `u8[]`. The other fields are union with that and do not require additional padding.

https://github.com/torvalds/linux/blob/master/include/uapi/linux/in6.h#L33

The `UNALIGNED_GET()` may not be necessary, I think.

[2021-09-29 13:18] #37304 closed

[2021-09-29 13:19] carlescufi commented on #16587
You probably mean "not packed", because that struct is certainly aligned by the compiler when `__UAPI_DEF_IN6_ADDR_ALT` is enabled.

Not if it's a union that has a member in it with higher alignment requirements, which is the case here.

[2021-09-29 13:35] ABOSTM commented on #38554
@hakehuang This looks very similar to #35793, for which I propose a correction with #38967
Can you tell me whether #38967 is working for your board too ?

[2021-09-29 13:44] tfir1981 commented on #38966
I chose vx because of the implementations in hal_stm32 similar.

[2021-09-29 13:50] cfriedt commented on #16587
Ack - i meant alignment actually, but was confused about alignment requirements. You're right, it's not the alignment of the first member that matters.

Note, the Linux definition is *not* packed, but I believe it would require `UNALIGNED_GET()` if it could be in any buffer. Reversing my previous statement.

[2021-09-29 14:27] lgl88911 opened #38978 "Esp32 compilation error after enabling CONFIG_NEWLIB_LIBC"
**Describe the bug**
Esp32 compilation error after enabling CONFIG_NEWLIB_LIBC

**To Reproduce**
Steps to reproduce the behavior:
1. Add `CONFIG_NEWLIB_LIBC=y` to samples\hello_world\prj.conf
2. west build -p auto -b esp32 samples/hello_world/
3. See build error

**Expected behavior**
Build pass

**Impact**
I want to use Zephyr's posix on esp32

**Logs and console output**
The error message shows

[2021-09-29 14:31] stephanosio commented on #38978
@sylvioalves It looks like there are some compatibility issues with the newlib provided by the Espressif toolchain.

[2021-09-29 14:36] carlescufi commented on #16587
I noticed that as well, but I think it's because in Linux they consciously allocate the buffer where the packet will be in an aligned manner:
https://github.com/torvalds/linux/blob/9e9fb7655ed585da8f468e29221f0ba194a5f613/include/linux/skbuff.h#L2894

And then they don't access the header memory directly like we do, but rather take a pointer into the buffer and cast it to a non-packed struct:
http

[2021-09-29 14:44] #38130 closed

[2021-09-29 14:47] nashif commented on #38586
IMO this is a duplicate of #38181, lets close and track this in one place.

[2021-09-29 14:47] #38586 closed

[2021-09-29 14:59] ycsin opened #38982 "subsys: storage: flash_map: Add mbedtls option for `flash_area_check_int_sha256`"
**Is your enhancement proposal related to a problem? Please describe.**
Provide an option for `flash_area_check_int_sha256` to use mbedtls for the SHA256 hash, so that an application doesn't have to compile tinycrypt if it already compiles the mbedtls, which should save some ROM space.

**Describe the solution you'd like**
Kconfig options to switch between tinycrypt and mbedtls.

[2021-09-29 15:01] erwango commented on #37895
@r2r0, back on this topic. So IIUC, there are cases were you see CPU2 is not allowing to enter deepest low power mode, while there is no BLE activity on going. Is that correct ?

[2021-09-29 15:05] ABOSTM commented on #38933
@flo-carrere ,
Thanks for your deep and detailed analysis.
I push a Pull Request #38981 accordingly
Unfortunately I don't have RevY for testing,
So would you be so kind as to test my patch on your board ?

[2021-09-29 15:45] flo-carrere commented on #38933
@ABOSTM,

I have tested on my board through PlatformIO 5.2.0 (as I don't use Zephyr natively).
I confirm the patch is correct and solve the problem as expected.

FYI here is a brief description of my test setup:
PLATFORM: ST STM32 (14.2.0) > OpenMV H7
HARDWARE: STM32H743VIH 400MHz, 512KB RAM, 2MB Flash
PACKAGES:
 - framework-zephyr 2.20600.210721 (2.6.0)
 - tool-cmake 3.16.4
 - tool-dtc 1.4.7
 - t

[2021-09-29 16:10] mbolivar-nordic commented on #38725
Process WG minutes:

- @mbolivar-nordic: no objections to new format proposed last week
- @carlescufi: no objections
- @mbolivar-nordic: another follow-up was providing the validation as a library
- @nashif: this doesn't seem to be what @galak is asking for
- @mbolivar-nordic: we'll have to wait for @galak; my reading is the opposite; something like https://github.com/zephyrproject-rtos/west/blob/

[2021-09-29 16:13] yashi commented on #31193
(partially related to #8827 #36558)

`check_include_file()` doesn't work in module's CMakeLists.txt either. because module it doesn't know where to look for, and it wrongly find build machine's header file. it can be prevented by doing
[code]
But still we need to set `CMAKE_REQUIRED_INCLUDES` and others to make `check_include_file()` work properly.

openthread module does something like this
[code

[2021-09-29 16:19] FRASTM commented on #38966
Right, ../modules/hal/stm32/stm32cube/stm32f4xx/soc/stm32f412vx.h  exists
Please have a look at th PR https://github.com/zephyrproject-rtos/zephyr/pull/38986

Need a board to finalize (even if a dummy _nucleo_f412ve_ can build the samples/hello_world successfully)

[2021-09-29 16:50] AshwinKrishn commented on #38877
This was an issue with QEMU. Build QEMU yourself which is a 3 hours of work. But it works.

[2021-09-29 16:50] #38877 closed

[2021-09-29 17:20] nashif commented on #38943
based on previous experience, this is most likely a network issue or a local issue, either way, reopen if you see this problem again.

[2021-09-29 17:20] #38943 closed

[2021-09-29 17:33] nashif commented on #38836
@dcpleung FYI

[2021-09-29 17:41] nashif commented on #21155
to test this, you will need a platform that uses the above drivers..

[2021-09-29 17:45] nashif commented on #37602
I think this is a bug, the driver should not be using CONFIG_KERNEL_INIT_PRIORITY_DEVICE

[2021-09-29 18:02] ashigupta opened #38987 "Unable to build ESP32 example code using west tool - zephyr"
Zephyr installation steps followed from : https://docs.zephyrproject.org/latest/getting_started/index.html
ESP32 setup guide followed: https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html
OS: Windows

I am using python virtual environment for this setup.

I am able to install Python 3.9.0, Cmake and west tool. I have followed ESP32 setup guide (above link) to setup esp32 enviro

[2021-09-29 18:12] zoedemertzis opened #38988 "MCP2515 driver CS gpio active high support issue"
**Describe the bug**
`SPI_CS_ACTIVE_HIGH` not supported when setting `spi_cfg.operation` in mcp2515 driver when `cs-gpio` is `GPIO_ACTIVE_HIGH` in devicetree.

What have you tried to diagnose or workaround this issue?
Manually set `dev_data->spi_cfg.operation = SPI_WORD_SET(8) | SPI_CS_ACTIVE_HIGH;` in `mcp2515_init`

**To Reproduce**
Steps to reproduce the behavior:
[code]
results in `"Devicetree

[2021-09-29 18:44] #35668 closed

[2021-09-29 19:04] sylvioalves commented on #38978
@stephanosio @tejlmand, There is no support yet for newlib on esp32. I have started working on it a few weeks ago and will eventually update the toolchain to allow this. This https://github.com/zephyrproject-rtos/zephyr/pull/38540 was part of it. This PR improves Espressif's toolchain handling, allowing new version to be seamless updated using proper command.
However, I would like to ask you both:

[2021-09-29 23:31] yerabolu commented on #38400
Tests are passing in the recent builds. So closing this issue.

[2021-09-29 23:31] #38400 closed

[2021-09-29 23:34] rmelch opened #38994 "ARP: Replies are sent to multicast MAC address rather than senders MAC address."
ARP replies are being sent to IPv4mcast MAC addresses rather than the expected source MAC address. I have attached 2 pcap files:
  1. arp-reply-mcast.pcapng
  2. arp-reply-mcast-fixed.pcapng

The first shows the issue:

*Ping 172.16.225.92 from 172.16.225.94*

`1	2021-09-30 11:04:31.281	TexasIns_1a:9b:18	ARP	Broadcast			Who has 172.16.225.92? Tell 172.16.225.94`
`2	2021-09-30 11:04:31.281	STMicroe

[2021-09-29 23:35] rmelch commented on #38994
Add pcap files.
[pcap-files.tar.gz](https://github.com/zephyrproject-rtos/zephyr/files/7255584/pcap-files.tar.gz)

[2021-09-30 02:33] kclauah commented on #38902
Can you try to generate interrupt on INT2 instead of INT1?

Generate DRDY interrupt on INT2 solves the problem.

always remain to logical '0' level.

Is this a hardware issue or register issue?

[2021-09-30 03:44] yingmingx commented on #38959
Hi, in reproduce step 3, you haven't connect any slave device. I'm confused on it.
Because when we use i2c, we should physically connect the device with the host controller. Then the host will send device address bitor R/W bit and hoping to get the ACK.
If we haven't connect the slave device physically, we cannot get the right response.
Could you please check you hardware connection？

[2021-09-30 03:50] Asthachavda commented on #38959
Hi, We used aardvark I2C host adapter as a master.

[2021-09-30 04:41] kclauah commented on #38667
Thank you for your kind assistance.

[2021-09-30 04:41] #38667 closed

[2021-09-30 05:04] NagarajuGundimi commented on #38959
Issue is NOT about whether I2C driver is working or not, Its about why ITE I2C driver returning +ve values for error instead of -ve values. This should have been caught in code reviews itself. No need to have any test setup and test case to reproduce it.

[2021-09-30 06:54] AllemanMa opened #38996 "There is no way to leave a ipv6 multicast group"
**Describe the bug**
It is possible for the coap_server to join a multicast group, however it is not possible to leave a multicast group. There is no implementation of `NET_EVENT_IPV6_CMD_MADDR_DEL` in `ipv6_addr_event_handler` in `openthread.c`.

Building the coap_server with Openthread support fails because of `net_ipv6_mld_join`. Replacing this method with `net_if_ipv6_maddr_add` and  `net_if_i

[2021-09-30 06:59] de-nordic commented on #38624
@maweicoltsmart Do you use `FLASH_AREA_ID` to obtain area ID, for example `FLASH_AREA_ID(storage)` ?

[2021-09-30 07:02] MateuszKarlic commented on #38698
@carlescufi if @rlubos meant a mechanism similar to the one implemented in **subsys/net/lib/sockets/sockets.c** with the condvar signaling on receive callback and wait_data function I think I could try preparing something in the next week, if that would be alright. I never contributed to this project though, so I don't know how successful this will be.

[2021-09-30 09:15] erwango commented on #37346
@aurel32, @fabiobaltieri I know you had a look at low power on WL recently.
Is that part of the issues you've seen ?

[2021-09-30 09:24] aurel32 commented on #37346
Yes, it seems to be similar to the issue I encountered, which is fixed with PR #38758.

[2021-09-30 09:43] carlescufi commented on #36381
@nwsetec any help appreciated here because at this time we are completely unable to reproduce this with the v2.7-branch. Since this is a high priority bug for an LTS release, we would very grateful if you could help us move forward with it.

[2021-09-30 09:48] zephyrbot opened #38999 "[backport v2.7-branch] backport of #38407 failed"
This issue was created automatically because the backport of #38407 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-38407-to-v2.7-branch`.

[2021-09-30 10:14] cfriedt commented on #16587
True - I would be happy to close the PR I have open. It was really just to investigate the suggestion by @ozhuraki because that was low hanging fruit.

I found it interesting that no tests actually failed but I wonder if there are additional tests that need to be added.

In any case, what is the resolution here?

[2021-09-30 10:16] carlescufi commented on #16587
This is likely because packed or no packed all struct members are in fact aligned and the size of the struct matches the on-wire one.

Let's discuss this a bit more with @rlubos and @jukkar

[2021-09-30 10:19] rlubos commented on #16587
I'd personally lean towards using RAW buffers within IP/ARP header structs instead of `struct in6_addr/in_addr` and align the usage where needed, but I'm still not sure how much work would this require, I plan to investigate this.

[2021-09-30 11:31] jukkar commented on #38994
Please send a PR with your proposal, it is difficult to review code from issue.

[2021-09-30 11:47] rlubos commented on #38970
`err 12` indicates `ENOMEM` error, likely forwarded from mbed TLS. I'd try to increase `CONFIG_MBEDTLS_HEAP_SIZE` first (can be found in `overlay-dtls.conf`), perhaps this platform needs more. If this doesn't help, we'd need to get some mbedTLS logs to see where the problem is.

[2021-09-30 11:57] tejlmand commented on #38978
just on the `esp32` target or in general the espressif toolchain ?
If the latter, then this line should have been:
https://github.com/zephyrproject-rtos/zephyr/blob/6020afe46a779783aa23b467ee43b9e13626f5da/cmake/toolchain/espressif/target.cmake#L27
this:
[code]

[2021-09-30 12:03] erwango commented on #37346
Thanks @aurel32.
@honestech74, would you mind checking a recent main branch which includes #38758

[2021-09-30 12:28] #38938 closed

[2021-09-30 12:53] erwango opened #39008 "tests: logging.add.user: build failure on STM32H7 targets"
**Describe the bug**
`tests/subsys/logging/log_core_additional/logging.add.user` fails to build on stm32h7 based targets due to the re-definition of `CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC`

Brought by https://github.com/zephyrproject-rtos/zephyr/pull/38239

**To Reproduce**
Steps to reproduce the behavior:
`twister -b -p nucleo_h743zi -s tests/subsys/logging/log_core_additional/logging.add.user`

**E

[2021-09-30 12:59] lairdjm opened #39009 "Nordic PWM causing lock up due to infinte loop"
**Describe the bug**
We are using a Nordic PWM for control of 2 LEDs, in very random cases we get a module lock up which is caused by https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/pwm/pwm_nrfx.c#L239 in which case it keeps running the loop. It seems we can get the issue to occur within a minute by flicking the LED states to be PWM to off and back again.

**To Reproduce**
PWM led w

[2021-09-30 14:21] lairdjm commented on #39009
Just to add: Using an nRF5240 revision C silicon, two PWM instances (one per LED), for debugging I've added code to exit from the loop when it's sat there for a while and sometimes it hits LED0, sometimes LED1 and something both LEDs, seems random. When this has happened, I've checked the PWM registers and when this happens EVENTS_STOPPED is 1, EVENTS_SEQSTARTED1 is 1, EVENTS_SEQEND0 is 1, EVENTS_

[2021-09-30 14:31] alwa-nordic commented on #34600
@KatrineNordic, it sounds like you've already done some digging here to find the cause. Do you have any suspicions on where in the code the bug is? Where does this queuing happen?

[2021-09-30 14:37] trond-snekvik opened #39011 "Bluetooth: Mesh: Model extensions walk stops before last model"
When reaching the last model in the circular extension linked list, the
walker would abandon the walk before checking the last model. This makes
us skip models when checking the subscription list, potentially causing
incoming messages to be wrongfully ignored.

Fixed by #39010

[2021-09-30 15:08] cfriedt commented on #38996
@AllemanMa - are you able to reproduce this upstream against, e.g. v2.7.0-rc3?

[2021-09-30 15:28] honestech74 commented on #37346
@erwango I've double checked it, but unfortunately, it has not been reduced. I am seeing the same situation before update zephyr to latest.
@aurel32 @fabiobaltieri If you are getting another current when following the reproduce, let me show your result.

[2021-09-30 15:43] aurel32 commented on #37346
I am getting an average current of about 3µA, but this is not on this board, but instead on a Seeed Lora E5 module, so there might be some differences. Just looking quickly at the config difference between this board and what I have, have you tried modifying the configuration to include:
[code]

[2021-09-30 16:16] aurel32 commented on #37346
After removed `CONFIG_SPI=y`, I am getting 11uA. I am not sure now if LoRa would work without it or not, but will check later. @aurel32 @fabiobaltieri Thank you for the work.

Unfortunately CONFIG_SPI=y is needed to communicate with the LORA module.

[2021-09-30 16:28] fabiobaltieri commented on #37346
Hey I did some measurement on my setup but unfortunately I have some other stuff on my board (also Seeed based) that are making a bit of noise and can't quite isolate the WL. That said I wasn't able to reproduce the problem and get a spike at that frequency. A quick thought, could it be that something is running and restarting on the second core?

About CONFIG_SPI raising the sleep current: not su

[2021-09-30 16:52] honestech74 commented on #37346
Oh, `CONFIG_SPI=y`, I am still getting about 77uA and peaks. I think it's related to this config.
@aurel32 Are you sure if you're getting low current(3uA) with LoRa working?

[2021-09-30 16:57] fabiobaltieri commented on #37346
Sorry just to clarify, you are getting those spikes just with the plain `samples/boards/stm32/power_mgmt/blinky` + `CONFIG_SPI=y` and no LORA options?

[2021-09-30 17:04] honestech74 commented on #37346
|Sorry just to clarify, you are getting those spikes just with the plain samples/boards/stm32/power_mgmt/blinky + CONFIG_SPI=y and no LORA options?

Here are my prj.conf for `samples/boards/stm32/power_mgmt/blinky` without any changes.
[code]

[2021-09-30 17:07] honestech74 commented on #37346
@aurel32 @fabiobaltieri For sure, can you get low power with the `samples/drivers/lora/send` with `CONFIG_PM=y`? If yes, let me show the scope like PPK.

[2021-09-30 17:54] icatorze commented on #38970
I increase `CONFIG_MBEDTLS_HEAP_SIZE` to 12000 and LWM2M sample over DTLS works now. @rlubos Thank you for your help.

[2021-09-30 17:54] #38970 closed

[2021-09-30 19:39] tejlmand commented on #36558
I would say it depends on the direction from where you see this.
The fact that we have out own toolchain testing and thus breaks the way standard CMake works could be argued as a bug.
We shouldn't break built-in features of CMake (even though Zephyr itself doesn't use this feature).

But better support for downstream users can be argued as an enhancement.

But not a medium bug, so I changed to low