[2018-08-31 20:38] nashif commented on #8699
lets close.. mark it as invalid in coverity please.

[2018-08-31 20:38] #8699 closed

[2018-08-31 20:40] nashif commented on #9676
something wrong with the timer and how we capture time in the benchmark, I am going to lower priority, because this is just a test issue, not in userspace and not in the timer itself.

[2018-08-31 20:49] #9614 closed

[2018-08-31 20:49] #9618 closed

[2018-08-31 20:49] #9621 closed

[2018-08-31 20:49] #9622 closed

[2018-08-31 20:53] ceolin commented on #9642
fixed in 9624593a0ca128faa4465796c4e456a5674a964f
Forgot to check/close it.

[2018-08-31 20:56] nashif commented on #9486
@hakehuang just because it is in the makefile, does not mean it is going to run. This is done to verify Kconfig filters and compare with what the test is expecting, it will not run the test on those platforms though.

./scripts/sanitycheck -p frdm_kw41z --save-tests frdm_kw41z.tests gives you the final list after filtering.

[2018-08-31 20:58] nashif commented on #3668
@kumarvikash1 ping

[2018-08-31 20:59] nashif commented on #8789
@kumarvikash1 assign to some please..

[2018-08-31 20:59] nashif commented on #3666
@kumarvikash1 assign to some please..

[2018-08-31 20:59] ceolin commented on #9642
actually realize that I referenced the wrong coverity ID in that commit. My bad.

[2018-08-31 21:41] nashif commented on #9642
fixed already in the above commit.

[2018-08-31 21:41] #9642 closed

[2018-09-01 12:02] pille5 commented on #1495
I've just ran into the same issue. `Zephyr.js` does not build for ESP32. Is there any workaround?

[2018-09-01 16:41] inakimalerba opened #9753 "ESP32: Failing to build project"
Hi!

I'm trying to build and flash the hello world on a ESP32, following the docs[0], and it fails because it cannot find the `xtensa/tie/xt_core.h` file. Digging a bit, theres no `arch/xtensa/tie` dir at all.

It looks like that dependency was added here  https://github.com/zephyrproject-rtos/zephyr/commit/a2248782a25e205be9b37a03fc47131856ba406d to `arch/xtensa/core/cpu_idle.c`

I created a Dock

[2018-09-01 16:42] inakimalerba commented on #9753
Build output:
[code]

[2018-09-01 17:00] inakimalerba commented on #9753
CC @nashif

[2018-09-01 17:58] #9753 closed

[2018-09-01 21:13] carlescufi commented on #8199
CC @pizi-nordic @ioannisg

I believe the issue is the following:

The function that initializes the xoroshiro rng is called here:
https://github.com/zephyrproject-rtos/zephyr/blob/master/kernel/init.c#L495
This is before the scheduler has been initialized through a call to `_sched_init()`.

The xoroshiro init function (`xoroshiro128_initialize`) then calls `entropy_get_entropy`:
https://github.com

[2018-09-02 06:00] jhedberg commented on #9670
I'm unable to reproduce the App Key issue. I added some printk calls, without any other modifications, to the upstream mesh_demo, and it shows that AppKey Index 0 is correctly restored to the internal App Key list as well as the vendor model binding.

[2018-09-02 06:02] jhedberg commented on #9670
And for the record, the printk calls I added look like this: http://ix.io/1lNX

[2018-09-02 06:16] MrPointer commented on #9670
@jhedberg We've got some updates which might give more insight into the issue.

We've noticed an internal call to `bt_mesh_app_key_find` always returns **NULL** after a power-cycle, i.e On the 2nd run/boot.
When sending a message through a publication context, the error -**EADDRNOTAVAIL** is returned as a result of an internal call to `bt_mesh_app_key_find`.
When sending a manual access-layer mess

[2018-09-02 15:13] RonAmihai commented on #9670
[Log1 (First Boot).txt](https://github.com/zephyrproject-rtos/zephyr/files/2343472/Log1.First.Boot.txt)
[Log2 (After Power Cycle).txt](https://github.com/zephyrproject-rtos/zephyr/files/2343475/Log2.After.Power.Cycle.txt)
[prj.conf.txt](https://github.com/zephyrproject-rtos/zephyr/files/2343476/prj.conf.txt)

@jhedberg I've attached few logs, alongside our proj conf file.

The first log represents

[2018-09-02 16:38] jhedberg commented on #9670
Actually, I'm not sure it's valid to rely on the ordering of settings keys, so I've created a pull request to remove this check: #9760

If it fixes the issue for you please comment in the PR so that we can get it merged.

[2018-09-03 01:44] #9670 closed

[2018-09-03 01:46] nashif commented on #8419
@MariuszSkamra will this be fixed for 1.13? @jhedberg fyi

[2018-09-03 01:48] nashif commented on #8283
can't reproduce on esp32

[2018-09-03 01:48] #8283 closed

[2018-09-03 01:53] nashif commented on #9744
duplicate of #8283

[2018-09-03 01:53] #9744 closed

[2018-09-03 05:30] AdithyaBaglody commented on #8199
@carlescufi is there a specific reason why we should continue to keep xoroshiro in pre_kernel_2?
I see that this particular bug can be resolved just by moving it to post_kernel where the scheduler is up and the interrupts are enabled.
The approach you said makes total sense if we have a specific need for the subsystem xoroshiro to be up and running before the kernel itself.  AFAIK we don't usually

[2018-09-03 05:53] kumarvikash1 commented on #8789
@ajaykish , Can you please look into this test failure.

[2018-09-03 05:58] kumarvikash1 commented on #8789
@nashif , somehow i am not able to assign to @ajaykish . Can you please assign to him.

[2018-09-03 06:12] AdithyaBaglody commented on #8694
False positive, Hence closing it here and making it false positive in coverty.

[2018-09-03 06:12] #8694 closed

[2018-09-03 06:14] AdithyaBaglody commented on #8693
False positive, Hence closing it here and making it false positive in coverty.

[2018-09-03 06:14] #8693 closed

[2018-09-03 06:14] AdithyaBaglody commented on #8692
False positive, Hence closing it here and making it false positive in coverty.

[2018-09-03 06:14] #8692 closed

[2018-09-03 06:15] AdithyaBaglody commented on #8691
False positive, Hence closing it here and making it false positive in coverty.

[2018-09-03 06:15] #8691 closed

[2018-09-03 06:16] AdithyaBaglody commented on #8689
False positive, Hence closing it here and making it false positive in coverty.

[2018-09-03 06:16] #8689 closed

[2018-09-03 06:17] AdithyaBaglody commented on #8698
False positive, Hence closing it here and making it false positive in coverty.

[2018-09-03 06:17] #8698 closed

[2018-09-03 06:36] AdithyaBaglody commented on #9666
@inakypg how are you running this?
Because i flashed the code benchmarking on ARC and a hello world on x86. It works.

[2018-09-03 07:47] nordic-krch opened #9761 "Add kconfig templates to avoid code repetition"
Many modules (ideally all) has own, unique logging level configuration in kconfig. From user perspective this configuration should look the same for each module (choice vs raw int, configuration message, help, etc.). Ideally there should be some way of defining template or macro. It could be generic or log specific if we don't see other use case.

It could be something like:

[code]
Usage:

[code]

[2018-09-03 07:48] nordic-krch commented on #9761
@nashif @carlescufi @ulfalizer what do you think about this? Maybe similar feature already exists in KConfig?

[2018-09-03 08:27] bluetooth-mdw opened #9762 "Bluetooth mesh reliability issue?"
I have a test system with 66 nodes. 64 are standard nodes running the generic level server and generic onoff server models. They do not have any of the special features enabled like Relay, LPN, Friend or Proxy.

The 65th is a proxy node.

Node 66 is a proxy client which writes proxy PDUs containing generic onoff client and generic level client messages to the proxy node over a LE connection.

All

[2018-09-03 08:34] SebastianBoe commented on #9761
It does not exist. The closest thing I am aware of is Microchip's 'source' Kconfig extension:

http://ww1.microchip.com/downloads/en/DeviceDoc/MPLAB%20Harmony%20Configurator%20Developers%20Guide.pdf#page=13

But it does not allow arbitrary macro definitions.

It is a shame that Kconfig uses '#' as a comment, it would have been convenient to use CPP for preprocessing ...

[2018-09-03 08:38] SebastianBoe commented on #9761
Perhaps when codegen is merged it could be used.

It would be beneficial to keep the number of preprocessing languages in the project to a minimum at least ...

[2018-09-03 08:46] tarunkum opened #9763 "samples/net/http_client: Failed to send Head requrest"
I have used the FRDM board to validate http_client sample module from Zephyr stack.

**Location of Application :-** zephyr/samples/net/http_client. I have flashed the app to FRDM board & running the Apache server on local machine. FRDM is connected to local machine USB to Ethernet converter.
[code]
**Apache server is running.**

● httpd.service - The Apache HTTP Server
[code]

**I am getting the b

[2018-09-03 08:51] carlescufi commented on #8199
@AdithyaBaglody no, no specific reason at all. I have no issues with moving xoroshiro to post kernel. In fact, can you please send a PR for that?

[2018-09-03 09:28] AdithyaBaglody commented on #8199
@carlescufi Please have a look at #8207

[2018-09-03 09:56] mandarcthorat1 opened #9765 "[Coverity CID :187905] Incorrect expression in /arch/arc/core/thread.c"
Static code scan issues seen in File: /arch/arc/core/thread.c
 Category: Incorrect expression
 Function: _new_thread
 Component: Architectures
 CID: 187905
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-03 09:56] mandarcthorat1 opened #9766 "[Coverity CID :187904] Integer handling issues in /tests/benchmarks/timing_info/src/semaphore_bench.c"
Static code scan issues seen in File: /tests/benchmarks/timing_info/src/semaphore_bench.c
 Category: Integer handling issues
 Function: mutex_bench
 Component: Tests
 CID: 187904
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-03 09:56] mandarcthorat1 opened #9767 "[Coverity CID :187903] Uninitialized variables in /subsys/fs/nvs/nvs.c"
Static code scan issues seen in File: /subsys/fs/nvs/nvs.c
 Category: Uninitialized variables
 Function: nvs_reinit
 Component: Other
 CID: 187903
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-03 09:56] mandarcthorat1 opened #9768 "[Coverity CID :187902] Memory - illegal accesses in /subsys/net/ip/ipv6_fragment.c"
Static code scan issues seen in File: /subsys/net/ip/ipv6_fragment.c
 Category: Memory - illegal accesses
 Function: net_ipv6_send_fragmented_pkt
 Component: Networking
 CID: 187902
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-03 10:01] carlescufi commented on #8199
@AdithyaBaglody I approved it, but I think you might break something when moving the init from PRE_KERNEL to POST_KERNEL, see Anas' comment in your PR.
Instead I suggest we go with option 2)

[2018-09-03 10:09] carlescufi commented on #9523
@nashif since the PR from @pizi-nordic is a bit complex, @cvinayak will now send a simpler fix for the upcoming release. We can the revisit Piotr's PR later.

[2018-09-03 10:33] AdithyaBaglody commented on #8199
@carlescufi oh I didn't see that.
But now I am looking into that PR #7767. If I am not mistaken, it was created as a precursor to stack randomization. And then we ended up using the early_boot_rand32 API which only used the entropy drivers.
@nashif @lpereira Can you please help me out here as to what exactly the PR fixed

[2018-09-03 10:41] anangl commented on #9718
For this test a loopback must be provided, i.e. a connection between the MOSI pin and the MISO one (in the current configuration for this board these will be p0.31 and p0.30, respectively) so that the sent data can be received.

[2018-09-03 10:55] ulfalizer commented on #9761
I'm always a bit wary of generated code, because it can make things harder to understand.

Another option would be to generate the checked-in files themselves, with a comment at the top like

    # Note: Do not hand-edit. Generated by foo.py.

If something like this was added to Kconfig itself, I'd want to base it on the existing Kconfig preprocessor (which is a recent addition, and is supported b

[2018-09-03 10:58] #9523 closed

[2018-09-03 11:02] ulfalizer commented on #9761
@nordic-krch
The other contexts where you're using `<MODULE>` are already supported by the preprocessor by the way (just with the `$()` syntax instead). It's not supported when giving a symbol a name though (though it wouldn't be hard to add).

[2018-09-03 11:28] ulfalizer commented on #9761
Hmm... just realized that `$(module)_LOG_LEVEL_OFF` isn't supported within an expression though (just `$(module)`), so would take some more changes.

The preprocessor was mostly added to be able to run shell commands to add `depends on` and `default`s. You can do stuff like `depends on $(success,some-test-script.sh)` (where `success` is defined as a macro that uses the `$(shell,...)` function).

[2018-09-03 11:28] carlescufi commented on #8199
@nashif btw I think we could downgrade this from Medium to Low, since it's unlikely that the xoroshiro RNG will be used with our hardware

[2018-09-03 11:43] nordic-krch commented on #9761
Looking at https://github.com/torvalds/linux/blob/master/Documentation/kbuild/kconfig-macro-language.txt

It seems that variables could be used for that:

Though, i cannot find how this 'user-defined functions' are defined. I guess that this is not yet supported by kconfiglib?

[2018-09-03 11:45] pswarnak opened #9772 "Test application hangs without any console output on x86/ARC based boards @arduino_101:arc"
All application hang on ARC core without any console log or error message.

**Arch:** arc
**Board:** arduino_101_sss, quark_se_c1000_ss_devboard
**Zephyr commit:** c8402bc3cee3d53493876fd19166bda273280b86
**Toolchain:**  ZEPHYR_TOOLCHAIN_VARIANT=zephyr
**Additional Info:** Same test works fine by just adding CONFIG_ARC_INIT=y in tests/booting/stub/prj.conf.
This was removed by @inakypg in commit b

[2018-09-03 12:17] cvinayak commented on #9762
@bluetooth-mdw could you give details of the commit hash and where I can get your application from, if it is public, else a sample that is close to reproducing your observation.

[2018-09-03 12:28] ulfalizer commented on #9761
Ah, and now I get what you mean by using functions instead. Yeah, that might work as a workaround for the can't-have-`$()`-within-a-token problem.

[2018-09-03 12:47] carlescufi commented on #9762
Copying @jhedberg

[2018-09-03 13:06] SavinayDharmappa commented on #8097
@nashif @ManojSubbarao  Modified wdt driver to new interfaces defined in watchdog.h. As of now only no callback test case is passing other two test cases are failing. I am still debugging the issue.

[2018-09-03 13:55] nashif commented on #9772
this is an issue in TCF.

[2018-09-03 14:15] nashif commented on #8199
@carlescufi you probably want to disable this test on nrf then

[2018-09-03 14:56] lpereira commented on #8199
@AdithyaBaglody #7767 fixed the initialization order for entropy drivers and randomization libraries. Some randomization libraries require entropy at initialization (such as xoroshiro128+), and entropy drivers were not being initialized before the libraries. That's what that old PR is doing.

However, as @carlescufi mentions, some entropy drivers will use semaphores, and the system initialization

[2018-09-03 15:26] rgundi commented on #8159
Working on this. Looks like this is happening because the nrf boards are pretty slow which means even few instructions will end up adding ms. Will explore more and update shortly.

[2018-09-03 16:43] #9676 closed

[2018-09-03 17:05] nashif commented on #9761
the question is, do we need this for every module? What does qualify as a module? My concern is that we are defining too many modules and while this seem very flexible, it just introduces too many Kconfigs and then makes using the logger difficult. In many of the PRs converting to the new logger I see new modules being added based on the file name and sometimes the function being logged, this is a

[2018-09-03 19:36] Laczen commented on #9767
@nashif, how can I access the provided link ? I have never used coverity before.

I think the problem is that in theory addr could be unitialized, but this is not true when there is sector count is not zero.

[2018-09-04 05:02] spoorthik opened #9777 "tests/kernel/mem_pool/mem_pool_api:mpool_alloc_timeout crashes on qemu_riscv32 with boot delay"
This test case fails only when boot delay is introduced.

Execution log:
[code]

Latest commit on which failure is seen:  b68cf999d663a8ddd75432f0293ac4c1d341af4f

Steps to reproduce:
[code]

[2018-09-04 05:45] nordic-krch commented on #9761
@nashif quantification is another story but even if we specify entity/module to something bigger, multi-file there will be easily more than 50 of those, i guess. It's vital to have them presented in the uniform way in Kconfig. Let say that we want to add another log level, with template it will be a change in one kconfig instead of 50.

@ulfalizer I played a bit with those variables. As you wrote,

[2018-09-04 06:11] nordic-krch opened #9778 "Implement zephyr specific SEGGER_RTT_LOCK and SEGGER_RTT_UNLOCK macros"
In Segger_RTT_Conf.h there are macros for locking access to RTT:
https://github.com/zephyrproject-rtos/zephyr/blob/b68cf999d663a8ddd75432f0293ac4c1d341af4f/ext/debug/segger/rtt/SEGGER_RTT_Conf.h#L142

They are used for example in SEGGER_RTT_Write() but are omitted when SEGGER_RTT_WriteNoLock() is used. Currently console is using SEGGER_RTT_WriteNoLock() and provides own lock (irq_lock). #9365 adds

[2018-09-04 07:28] nordic-krch commented on #9761
fyi @Olivier-ProGlove

[2018-09-04 09:44] AdithyaBaglody commented on #8199
@lpereira I was looking at the code and I didn't find any references to the xoroshiro related code.
 Inside the init.c we have
https://github.com/zephyrproject-rtos/zephyr/blob/master/kernel/init.c#L395
which is called from
https://github.com/zephyrproject-rtos/zephyr/blob/master/kernel/init.c#L498

which will be used for stack pointer randomization.
This function (z_early_boot_rand32_get) for a N

[2018-09-04 10:40] nvlsianpu commented on #9749
Thank for report. I'm off work till 10.IX. In the meantime time can you compare your configuration with configuration of tests/subsys/fs/nffs_fs_api/performance - looks like this especially this test performs many writes too.

[code]
As I understand your test must fail at some point as it append data to file in each iteration.

[2018-09-04 10:44] nvlsianpu commented on #9748
Thank for report. I'm off work till 10.IX. This might be manifestation of bug either in NFFS (not confirmed #9749) or during the settings destination file compression.

[2018-09-04 12:11] #9638 closed

[2018-09-04 12:11] #9768 closed

[2018-09-04 12:15] ulfalizer commented on #9761
@nordic-krch
Are you sure all those subsystems need a separate log level btw? I wonder if it's too fine-grained.

Don't think there's a ton of different log level settings in the Linux kernel, for example.

[2018-09-04 12:17] ulfalizer commented on #9761
@nordic-krch
No way to instantiate whole symbols at the moment. The scope was deliberately limited.

What could be done would be to allow expansion in symbol names though (`config $(name)`). You could then include the same file multiple times to define different symbols.

[2018-09-04 12:31] ulfalizer commented on #9761
@nordic-krch
If the log levels are dynamic, then what do the Kconfig settings represent? Just the default log levels?

Was thinking they might be there to save space by compiling out certain log levels, but if it's dynamic, then I guess that can't be it.

[2018-09-04 12:44] nordic-krch commented on #9761
@ulfalizer There are 2 levels of logs filtering: static/compile time and dynamic. Kconfig configuration decides which are compiled in. When runtime filtering is enabled then additionally those which are compiled in can be disabled/enabled on runtime. Static configuration is to reduce space and slightly improve performance (if log is compiled in but disabled logger still need to evaluate a flag on

[2018-09-04 13:54] therealprof opened #9783 "LwM2M: Cannot create object instance without specifying instance number"
The LwM2M TS says:

However the Zephyr implementation does not have logic to pick a suitable object instance in `do_write_op_tlv()` and thus simply does nothing. And to add insult to the injury it'll happily lie to the server by sending back a "2.01 Created" response.

[2018-09-04 14:17] lpereira commented on #8199
Thanks for making the patch and confirming my theory works, @AdithyaBaglody!

Random number generator libraries, such as xoroshiro128+, will implement sys_rand32_get(). Their initialization are marked with a call to the SYS_INIT() macro. You don't call it directly.

[2018-09-04 14:38] AdithyaBaglody commented on #8199
I understand this is done during pre_kernel_2. But what I am trying to say here is that, the code that is needed by the kernel will never use the APIs from the subsystem xoroshiro directly.

So my point is, there is no need to change the code when we can just move the initialization to post_kernel.

[2018-09-04 14:46] lemrey opened #9785 "Bluetooth: bt_gatt_service_register() assumes sc delayed work handler is initialized"
My understanding is that it should be possible, or at least desirable, to register a GATT service prior to `bt_enable()`. This would it make it possible, for example, to register services automatically with `SYS_INIT`.
When I try to do that, I am hitting a bus fault but symptoms may vary I gues (I am running a peripheral example on a Nordic DK). I believe the issue is in `sc_indicate()` in `bt_gat

[2018-09-04 14:48] lemrey commented on #9785
FYI: @jhedberg @Vudentz

[2018-09-04 15:42] inakypg commented on #9666
default config + CONFIG_BOOT_DELAY=1000

[2018-09-04 15:51] Laczen commented on #9767
Hi @aurel, thanks for the feedback.

Doing the check in reinit() would give protection against someone changing fs->sector_count during program execution. However this would then need to be done in all routines. I have not studied what would happen if fs->sector_count (or any other fs->variable) is changed during execution.
All fs->variables have been declared as variables to allow easy support of

[2018-09-04 15:59] inakypg commented on #9772
@pswarnak  which test applciation?

[2018-09-04 16:08] ulfalizer commented on #9761
@nordic-krch
Alright, makes more sense then.

I'll see if I can change things to allow $() anywhere within an unquoted (symbol) token while I'm at it. That should make things general enough for a long time.

[2018-09-04 16:26] carlescufi commented on #5980
Not a bug.

[2018-09-04 16:26] #5980 closed

[2018-09-04 16:27] carlescufi commented on #5939
This is done.

[2018-09-04 16:27] #5939 closed

[2018-09-04 16:35] pswarnak commented on #9772
@inakypg:
I tried multiple applications, none worked.
You can try hello_world sample test as mentioned in "Steps to reproduce".
This fails only on local setup and flash, not on TCF.

[2018-09-04 17:05] nashif commented on #9783
@mike-scott can you please take a look?

[2018-09-04 17:09] mike-scott commented on #9783
@nashif Yep, I'll check it out

[2018-09-04 17:11] sathishkuttan opened #9786 "arch: xtensa: build failure due to extra #endif"
Commit a2248782a25e205be9b37a03fc47131856ba406d removed `#ifdef CONFIG_KERNEL_EVENT_LOGGER_SLEEP` in `arch/xtensa/core/xtensa_vectors.S`. However, the corresponding `#endif` was not removed and results in a build failure.

[2018-09-04 17:18] nashif commented on #8159
@rgundi any progress?

[2018-09-04 17:20] inakypg commented on #9772
blink blink
so then, you are missing the *board* specific step of adding whichever configuration the stub needs for it to work? I think this is a case of PEBKAC.

The stub's CONFIG_ARC_INIT was removed because it was Quark specific -- the entity that's building the stub needs to decide what config options it has to set for its intended deployment.

In this case, *you*, as you are running it manual

[2018-09-04 17:20] #9772 closed

[2018-09-04 17:28] nashif commented on #8999
@nordic-krch are you able to see the coverity report now? can you please take a look?

[2018-09-04 17:29] nashif commented on #8364
external project issue, lowering priority.

[2018-09-04 17:36] nashif opened #9788 "update to mbedTLS 2.12.0"
https://tls.mbed.org/download/start/mbedtls-2.12.0-apache.tgz now available

[2018-09-04 18:01] lpereira commented on #8199
It will, yes, please read the code carefully: sys_rand32_get() -- which might be the xoroshiro implementation -- might be called by the early boot RNG function depending on the configuration.  And, in some cases, if these things fail to obtain a semaphore, a very predictable value (the cycle counter, which is often a small number during early boot), will be used instead.

So, no, *please* don't ch

[2018-09-04 18:27] #9786 closed

[2018-09-04 19:51] ulfalizer commented on #9761
Got it implemented now. Could make a PR tomorrow.

Still can't put macros in help string, but pretty sure that'd be overkilling it. Can customize the prompt text at least.

The template would look like this:

[code]

(Think it's better to go for a less cramped style.)

You'd use it like this:

[code]

[2018-09-04 20:28] aurel32 commented on #9767
@Laczen, indeed you are correct. Setting the address to 0 would just mean the program will crash a few lines later if `fs->sector_count` equals to 0, so I am not sure it's a good fix either, though it's probably a bit better.

I wonder if the solution there is to use an `assert(fs->sector_count != 0)`. Asserts are not enabled by default, but I don't know if they are active for the Coverity runs.

[2018-09-04 20:31] dleach02 commented on #8199
Just note that moving initialization to POST_KERNEL is an architectural statement on when sys_rand32_get() can be used (probably still should have some documentation on this).

Option 2 would address this problem since the root problem is that the NRF entropy function has semaphores and the path through z_early_boot_rand32_get() would instead use the NRF ISR entropy routine.

[2018-09-05 01:58] Jeepgoing commented on #9482
hello @MaureenHelm, i am know using lpc54114, when i write something to flash(on chip), error code as below:
`***** MPU FAULT *****
  Instruction Access Violation
***** Hardware exception *****
Current thread ID = 0x02010320
Faulting instruction address = 0xfffffffe
Fatal fault in ISR! Spinning...`

so, could you give me some advises about this, thanks.

[2018-09-05 04:46] nashif commented on #9486
we do not compile, we just create the kconfig for the board and check if some kconfig options are available from the board, if no, we exclude it, if yes and if the test has a filter on kconfig, it is added.

[2018-09-05 05:05] SavinayDharmappa commented on #8097
After wdt qmsi driver changes , test cases for watchdog are passing. I have tested it on quark_se_c1000 board. I will work on esp32 driver changes as this driver also needs to be migrated for new wdt API interfaces.

[2018-09-05 08:18] rveerama1 commented on #8990
false-positive

[2018-09-05 08:18] #8990 closed

[2018-09-05 10:43] lemrey commented on #9509
Hi @bfrog which board are you running this on? Could you try increasing the timeout using the `-t` switch?

[2018-09-05 13:26] rgundi commented on #8159
This seems to be a weird issue. Verified everything that was said by @punitvara and @pizi-nordic to be true. Did some more experiments and saw that the issue goes away even on minor modifications.
@pizi-nordic : Regarding your question about the zephyr scheduler, please refer _add_timeout function in timeout_q.h. If there's a new timeout expiring on the same system clock tick as other timeouts alr

[2018-09-05 13:31] lpasteau commented on #9749
Thanks for your answer. We'll discuss after the 10 of september then.

For the future discussion :
I tried your configuration (nrf5x.conf) with my test and I still have the issue :
[code]
The only difference is in nrf52_pca10040.dts :
[code]

When I set the official config (0x6000 instead of 0x2000) the test fails : the file is removed in the loop of writing 12 bytes :  The list of files displayed

[2018-09-05 15:09] carlescufi commented on #2954
This is done now

[2018-09-05 15:09] #2954 closed

[2018-09-05 15:10] carlescufi commented on #8371
Completed

[2018-09-05 15:10] #8371 closed

[2018-09-05 15:11] carlescufi commented on #7092
@cvinayak @anangl can you please comment on this? Is this relevant?

[2018-09-05 15:13] carlescufi commented on #2920
@cvinayak is this still relevant?

[2018-09-05 15:14] carlescufi commented on #9718
Not relevant, requires additional hardware.

[2018-09-05 15:14] #9718 closed

[2018-09-05 15:14] carlescufi commented on #4475
@bencorrado are you planning to add support for these boards?

[2018-09-05 15:19] carlescufi commented on #2623
No longer applicable with nrfx and the new UART driver

[2018-09-05 15:19] #2623 closed

[2018-09-05 15:20] carlescufi commented on #8683
@GerlichM is this still an issue?

[2018-09-05 15:22] carlescufi commented on #3256
This will be solved by #8331

[2018-09-05 15:57] erwango commented on #9406
@carlescufi, if you have some cycles, your feedback would be welcome.

[2018-09-05 16:21] nashif opened #9808 "remove single thread support"
Single thread support was added to reduce the footprint for use in mcuboot which did not require any multithreading or synchronisation.
Meanwhile we are adding subsystems and drivers into mcuboot that depend on multithreading features that makes single-thread support redundant.

Reduce complexity and provide just multi-threading support and focus on reducing footprint for all users.

[2018-09-05 17:04] #8199 closed

[2018-09-05 17:53] ceolin commented on #9788
Just for coincidence I was looking it yesterday. I was struggling with a bug in crypto and updated zephyr's mbedtls to this version. It worked with few changed. Need to check whether something break or not. Also they have now some platform specific functions that we probably should point to ours but as I was just testing I've used their reference functions.

[2018-09-05 22:45] MaureenHelm commented on #9482
Hi @Jeepgoing. I'm surprised to see this fault since I haven't enabled the MPU on this platform yet. Did you enable it in some out-of-tree code?

[2018-09-05 22:56] mnkp opened #9812 "drivers: eth: gmac: Fix incorrect cache coherency handling code"
#8282 added cache support for Atmel SAM GMAC Ethernet driver. Unfortunately the implemented cache coherency management method ensuring coherency of descriptor lists is incorrect.

Atmel SAM Ethernet module is using a scatter-gather technique to exchange data with the Ethernet driver. To communicate the location of the data buffers the driver sets-up a so called descriptor list. This is effectively

[2018-09-06 02:53] hakehuang commented on #9486
I see. Thanks

[2018-09-06 05:39] Jeepgoing commented on #9482
Hi @MaureenHelm. I'm using lpc54102 Soc, both M4 and M0 cores are running on flash ,and I have add all things by myself, including flash driver
`soc_flash_lpc54xxx.c`,  I havn't add anything about MPU, I don't know why occur this fault, I operating flash on M0 core, is this fault caused by this operation?

[2018-09-06 06:26] lgl88911 opened #9816 "DHT driver fetch fail"
I test DHT11 on nrf52832 , dht_sample_fetch will return -EIO.  I think the issue will apper at CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC <=32768. Anybady have same issue , I have a patch about the issue, may be help the issue。

**Reproduce：**
Conf is:
https://gitee.com/lgl88911/nrf52_moderate/blob/master/boards/arm/nrf52_moderate/nrf52_moderate_defconfig
https://gitee.com/lgl88911/nrf52_moderate/blob/mas

[2018-09-06 08:00] SebastianBoe commented on #1464
This issue was provoked by alldefconfig and alldefconfig has been dropped. The underlying issue still exists, but this issue does not demonstrate (or reproduce) it well, so it is cleanest to close this.

[2018-09-06 08:00] #1464 closed

[2018-09-06 08:11] SebastianBoe commented on #8851
This is blocked by https://github.com/zephyrproject-rtos/zephyr/pull/9562

[2018-09-06 09:16] Olivier-ProGlove commented on #9761
Thanks @nordic-krch I will refresh all my pull-requests with this macro once we the v1.13 release is done.
My understanding is the new logging subsystem has moved to v1.14, correct?

[2018-09-06 10:05] carlescufi commented on #9406
I think the proposal here, essentially going back to using DT to decide which driver is built, which was, as @erwango mentions, one of the points I made in [here](https://github.com/zephyrproject-rtos/zephyr/issues/7302#issuecomment-399039060). The reason I think this proposal and @erwango's currently suggested solution makes sense is that it is very unlikely that users will want to select a parti

[2018-09-06 10:07] carlescufi commented on #7302
@galak @erwango

Right. So if this is the case, how do we allow users to enable/disable hardware and set boot-time configuration in a friendly manner? Do we then need to create a `menudts` similar to `menuconfig` that allows users to set all of this?

[2018-09-06 11:02] SavinayDharmappa commented on #8097
Implemented new wdt api interface for esp32. After that test case are failing, because global data are re-initialized upon system reset due watchdog time expiry. I am still debugging. This not the case for quark_se_c100.

[2018-09-06 11:02] pfalcon commented on #4902
There were no comments to this over this time.

IMHO, Firmata support can come by means of some external 3rd-party library and doesn't have to be a part of Zephyr - after all, wide Firmata usage outside the Arduino community is questionable/limited.

@nashif : Suggested to close this, reopening later when usecases/stakeholders appear.

[2018-09-06 11:56] ManojSubbarao commented on #3666
@spoorthik Please verify if this is  still an issue and a valid scenario.

[2018-09-06 14:32] pfalcon commented on #9767
Well, there's no need to "protect" against that, it's not possible in the general case using means like checks, there're other means to that end, like memory protection.

Please keep in mind that Coverity is dumb tool, whose purpose is to make sure that *programmer* handled all the cases, not to protect against unauthorized runtime modification.

So, you always have a choice of silence Coverity wa

[2018-09-06 14:39] kumarvikash1 opened #9830 "ASSERTION FAILURE : /tests/drivers/adc/adc_api fails on arduino_101 and quark_se_c1000 platforms"
Tests : zephyr/tests/drivers/adc/adc_api

Configuration
==========
<Arch> arc
<Board> quark_se_c1000_devboard_ss, arduino_101_sss

Component : Driver/ADC

Description : Looks like something to do with changing the CONFIG_BOOT_DELAY options when test is run via TCF framework.

Log :
***** delaying boot 1000ms (per build configuration) *****
***** Booting Zephyr OS v1.13.0-rc2-24-g13a210355 (delayed

[2018-09-06 14:46] #9558 closed

[2018-09-06 15:37] galak opened #9831 "1.14 Merge Order"
This Issue is to track which changes should try and get merged in which order early on so we can reduce churn & conflicts:

Topic | Merge Status | impact to code base | PR | Owner (s) |
----- | -------------| ------------------- | ---|-----------|
Move SoC code to top-level | **Merged**| impacts new SoC supports in arch/*/soc | #9776 | @nashif |
DTS code generation | not ready (#8499) | | #8561| @

[2018-09-06 15:40] mike-scott commented on #9831
Where does the move to socket API support in the networking subsystems land in this list?

[2018-09-06 15:43] nashif commented on #9831
nice table :)

[2018-09-06 15:46] nashif commented on #9831
which PR is that?

[2018-09-06 15:56] mike-scott commented on #9831
@nashif this is the primary tracking issue for socket API support: https://github.com/zephyrproject-rtos/zephyr/issues/7591  Hopefully, before the weekend, I plan to submit an RFC/Proof-of-concept PR changing CoAP and LwM2M so that they support *both* sockets and net-app (based on Kconfig).

[2018-09-06 15:56] nashif commented on #8159
I am tempted to declare this as a test related issue, do you agree?

[2018-09-06 16:03] carlescufi commented on #7591
@laperie can we tick the first item now? `setsockopt` with TLS is merged, isn't it?

[2018-09-06 16:04] carlescufi commented on #9831
@galak added some additional info, thanks for creating this.

[2018-09-06 16:46] nashif commented on #9831
@mike-scott

This is more or less for everything that is either complete or semi-complete and  intrusive in nature, i.e. touches multiple components.
We are trying to avoid lots of churn by prioritising review/merge and focusing on the high priority PRs we want to get in for 1.14.

Everything else continues as usual.

[2018-09-06 16:50] dleach02 opened #9833 "Bluetooth Mesh incorrect reference to CONFIG_BT_SETTINGS"
In /subsys/Bluetooth/host/mesh/cfg_srv.c there is a test for IS_ENABLED(BT_SETTINGS) in mod_reset() which needs to be IS_ENABLED(CONFIG_BT_SETTINGS).

[2018-09-06 16:56] rgundi commented on #8159
No. Not yet. I'll probably need one more day's time to come to some kind of a decision. I see that all the threads are properly populated in the timeout queue just before the issue is seen (last pass case). However, somehow it appears one of the threads is strangely getting bumped off the timeout queue without getting serviced. I'll know more tomorrow.

[2018-09-06 17:53] pfalcon commented on #7587
As I wrote in https://github.com/zephyrproject-rtos/zephyr/issues/7591#issuecomment-394791879 , we should be fine with DNS being implemented using native API - for quite some time at least. So, this should be the least priority of all "port to sockets" items in https://github.com/zephyrproject-rtos/zephyr/issues/7591 (well, unless someone has a usecase to re-prioritize it).

[2018-09-06 17:54] pfalcon commented on #7591
Yep, so let's tick it, I'm sure @laperie will ack that.

[2018-09-06 18:05] pfalcon commented on #9831
That's how I understand this list too. For sockets, stuff-before-sockets remains there for the foreseeable future, so socket tasks aren't for this list. (Unlike e.g. logging, which, if we decided to switch too, needs to be done, or it's really a pain to deal with 2 systems).

@mike-scott ^^

[2018-09-06 18:10] mike-scott commented on #9831
ok

[2018-09-06 18:26] #9723 closed

[2018-09-06 18:44] psidhu commented on #8915
I'm running into the same or similar issue, however my issue takes quite a bit of time to reproduce (~2316500ms) blinking at a rate of 500ms (after ~4633*2 transfers). I've also seen it trigger as low as after ~2000 transfers.

To blink an led off of a port expander, I have to do both a `i2c_reg_write_byte` and `i2c_reg_update_byte`. One of these causes the following call stack:
`i2c_stm32_transfe

[2018-09-06 18:49] ceolin commented on #9788
https://github.com/zephyrproject-rtos/zephyr/pull/9836

[2018-09-06 19:11] MaureenHelm commented on #9482
I don't know why this would occur with the MPU disabled. Can you share your code?

@stanislav-poboril Any ideas?

[2018-09-06 20:20] mbolivar commented on #9831
I'm confused about the relationship between the various pull requests regarding code generation:

- #8561 (named in the above table): Generated driver instantiation prototype
- #9406: Generate DTS 'compatible' based compilation flags
- #6762: scripts: add Zephyr inline code generation with Python
- #9163: drivers: use codegen for device instantiation
- #5799: drivers: pinctrl device interface (Lin

[2018-09-07 01:07] dbkinder opened #9840 "doc: potential broken link when referencing latest doc version"
We have a notice header on released version docs saying the latest doc version may be more up to date than the document you're currently reading, with a link to the latest version.  This assumes the document wasn't renamed or moved between releases (which might not be the case).

For example, in the 1.8 release, there was a document at http://docs.zephyrproject.org/1.8.0/dts/device_tree.html that

[2018-09-07 01:11] #9788 closed

[2018-09-07 03:20] nashif commented on #8320
please add a line about this in the release notes draft.

[2018-09-07 03:50] spoorthik opened #9843 "tests/kernel/sched/deadline fails on NRF5x boards"
Commit: 02aa9800424453f4442e279048c84b9e4266063e

Execution log:

[code]

Platforms tested: nrf52840_pca10056:arm, nrf52_pca10040:arm, nrf51_pca10028:arm

[2018-09-07 05:07] nashif commented on #9840
should be fixed now

[2018-09-07 05:47] Jeepgoing commented on #9482
@MaureenHelm, I have not commit any code before, but i think i will try to do this. i will arrange my code  and commit as soon as possible

[2018-09-07 05:52] spoorthik commented on #3666
@ManojSubbarao : Sure Manoj, I will have a look at it post 1.13 release and get back.

[2018-09-07 07:01] spoorthik commented on #7909
The test case fails on RC3:

[code]

[2018-09-07 07:28] spoorthik commented on #9703
The test still crashes on 1.13 RC3 (8250b3e544131392bff2c794b85b7b93d9388587) with delayed boot of 1000ms:

Tested on: qemu_xtensa, Altera Max10, qemu_nios2, minnowboard, quark_se_c1000_devboard and quark_d2000_crb.

Execution log:

[code]

[2018-09-07 07:47] erwango commented on #9831
@mbolivar , agreed this global pictures miss clarity. Though, a umbrella issue has been created: #8499,
and this should be the reference.
Let's discuss in this one in order not to pollute current issue.

[2018-09-07 07:50] erwango commented on #8499
Added #9406 as bullet of  'Run Device Tree before Kconfig '

[2018-09-07 07:57] erwango commented on #8499
Comment about: " Code generation for instancing of devices ":

Current PR for this point is #8561.
#8561 is based on #6762 that introduces Codegen support. It adds a friendly device declaration module on top of Codegen. It aims at hiding python code from the user in the driver code by providing a nearly python agnostic API.

[2018-09-07 08:48] Jeepgoing commented on #9482
`/*
 * Copyright (c) 2018 Noitom
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <kernel.h>
#include <device.h>
#include <string.h>
#include <flash.h>
#include <errno.h>
#include <init.h>
#include <soc.h>

#include "fsl_common.h"
#include "fsl_flashiap.h"

#define LPC_PAGE_SIZE FSL_FEATURE_SYSCON_FLASH_PAGE_SIZE_BYTES
#define LPC_SECTOR_SIZE FSL_FEATURE_SYSCON_FLASH_SECTOR_SIZE_BYTES

#defi

[2018-09-07 08:51] finikorg opened #9846 "Add USB virtual driver to native_posix"
Adding virtual USB driver to native_posix would enable using USB in unit tests for native_posix and easy development on a Host.

[2018-09-07 09:27] nniranjhana commented on #6514
This test is failing on arduino_101, x86 core of quark_se_c1000 with the following log:

[code]

[2018-09-07 10:02] anangl commented on #7092
@carlescufi It seems to me that it is. The pre-programmed PPI channels for RADIO can be used instead of the ones mentioned by @sam131208 as long as the TIMER0 is used as the event timer. And [currently it is](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/hal/nrf5/radio/radio_nrf5.h#L13). If the flexibility of choosing the timer should be kept, I can imagine c

[2018-09-07 10:25] nniranjhana opened #9849 "samples/drivers/i2c fails with error writing to FRAM sensor"
This test is failing on arduino_101's arc core and also x86 core of quark_d2000 with the following log:

[code]

[2018-09-07 10:27] nniranjhana commented on #6514
Letting this issue remain closed, as this seems to a different issue tracked in #9849

[2018-09-07 10:27] #6514 closed

[2018-09-07 13:13] JoeHut opened #9851 "Allow setting of the Bluetooth channel map at runtime"
Black- and whitelisting certain channels in Bluetooth can be used in an environment where the 2.4GHz band is manged in order to prevent interferences between Bluetooth and WiFi devices.

To enable this feature to the application, a public API for the underlying HCI call (https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/hci/hci.c#L1039) has to be introduced.

[2018-09-07 13:41] stanislav-poboril commented on #9482
The "Instruction Access Violation" exception (IACCVIOL bit set in SCB's MMFSR register) can happen even with MPU not present or disabled. Looks like an attempt to fetch/execute instruction from an invalid address or a non-executable memory region (0xfffffffe).

http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0552a/Cihcfefj.html
http://infocenter.arm.com/help/index.jsp?topic=/com.arm

[2018-09-07 14:09] anangl commented on #8409
@nashif I took a look. I even spent quite a lot of time on this issue trying to replicate the bug but I didn't succeed. I tried with a similar setup as @alexsven, in a loop with increasing interval from ~0.64 µs to ~20.42 µs with the step of one cycle of the 64 MHz clock, i.e. 15.625 ns. And both callbacks were always called. In certain circumstances the order in which they were called was  differ

[2018-09-07 14:37] pdunaj commented on #7659
Hi all,
I would like to get back to this issue. I have run tests today and the code blocks. I must have done some mistake when I tried it earlier.

[2018-09-07 14:46] carlescufi commented on #7659
@pdunaj does that mean we can close it?

[2018-09-07 14:50] pdunaj commented on #7659
Now about the use case. To create a responsive HID device:
- we need to be able to create a round robin of notifications,
- we also cannot allow more then one notification to be in the transmission buffer.

With current infrastructure we could create a thread that sends the notifications and pass data to it to be sent. This way we would be able to perform round robin as we would control the flow.

[2018-09-07 14:55] carlescufi commented on #7659
@pdunaj thanks for the explanation, this is clear enough. Adding @joerchan.

[2018-09-07 14:55] pdunaj commented on #7659
@carlescufi I would prefer to have something like HVN_TX_COMPLETE from SDK. This was used in SR3 to trigger data processing. Having this callback would give us just that. If there is any cheaper way of telling that we are CTS maybe we can use it but blocking on notify seems not good option.

[2018-09-07 14:56] pdunaj commented on #7659
@carlescufi Thank you. Sorry it took so long - I lost focus on BLE part for some time but we need to catch up with it reasonably fast.

[2018-09-07 15:01] carlescufi commented on #7659
@pdunaj yep, makes sense to me to have the (optional) callback. Don't you think we could merge #9056 into this issue? That loos like a particular case of the present one.

[2018-09-07 15:29] andyross commented on #9703
As mentioned, BOOT_DELAY requires a working k_busy_wait(), which in the general case requires a working timer driver (though AFAIK x86 shouldn't be one of those -- it can do it with the TSC alone), which won't work without interrupts.  We should probably add an appropriate depends-on to kconfig to enforce this.

Are there circumstances other than CONFIG_BOOT_DELAY where this is failing?

[2018-09-07 15:30] andyross commented on #9843
Always NRFx...  It's true that I underconstrained the scheduler setup -- maybe the main thread is already at the lowest priority on those boards?

[2018-09-07 15:56] nashif commented on #9843
CONFIG_BT=n and it works...
Something in the BT stack interferes with the test, suggest to add CONFIG_BT=n to the prj.conf

[2018-09-07 16:05] andyross commented on #9843
That's a good catch.  Yeah, there are threads and priority selection done in the context of the BT and network layers, if it pushes the main thread to the bottom that could do it.  If it doesn't, though, nothing should really "interfere" with the scheduling here.  Agree with that for an immediate fix, but I should dig a little before closing this.

[2018-09-07 16:16] andyross commented on #9843
Suggested fix submitted, but please don't close until I can figure out why this is happening (strictly: it's not a problem with the EDF feature, the detected case is that the threads are running before the test's main entry point has blocked, which shouldn't happen).   A quick look at the generated .config doesn't show anything obviously wrong.

[2018-09-07 16:19] psidhu commented on #8915
I solved my issue by locking around each transfer with `irq_lock()`. I should point out that there are no i2c transfers going on in any irq/thread I have so I'm not sure why locking would help (unless each 8bit load into the buffer isn't atomic).

[2018-09-07 17:38] nashif commented on #9703
Do not think this should be tracked under the same bug, this issue always existed it seems, i can reproduce this on qemu_xtensa on the same commit the test was introduced.

CONFIG_BOOT_DELAY is test related, so I am lowering the priority of this.

[2018-09-07 19:04] mike-scott commented on #7578
What's the current status on this?

As the subsystems try and move forward with some of the other churn, there seems to be some confusion as to whether we should be using ``net_buf`` more or .. less?

[2018-09-07 19:14] pswarnak opened #9857 "tests/cmsis_rtos_v1 - test_signal_events_signalled results in Assertion failure on all targets with PR#9856"
The test **tests/cmsis_rtos_v1** results in Assertion failure in test_signal_events_signalled sub-test case.

The changes are mainly related to permissible flag limit, and invalid parameters passed to osSignalSet and osSignalWait APIs.

**Arch:** any or qemu_x86
**Board:** any or qemu_x86
**Zephyr PR with code changes:** https://github.com/zephyrproject-rtos/zephyr/pull/9856
**Toolchain:**  ZEPHYR

[2018-09-07 19:27] avisconti commented on #8915
@psidhu
If it happens at Fast mode (400KHz) it is a totally different issue. Glad you solved it anyway.

[2018-09-07 22:45] mbolivar commented on #9831
Thank you @erwango for the clarification! I will study the issue in #8499.

@galak could you please add the issues related to each PR to your table if it's not too much trouble? I imagine this table will be read by many people since it's the comprehensive list of highly intrusive changes for v1.14, so it should be worth the effort.

[2018-09-09 07:17] ajaykish opened #9861 "samples/subsys/usb/hid/ test hangs on quark_se_c1000_devboard"
samples/subsys/usb/hid/  test hangs on quark_se_c1000_devboard

Arch: x86
Board: quark_se_c1000_devboard

Error Console log:
***** Booting Zephyr OS v1.13.0-rc3 *****
[main] [DBG] main: Starting application
[main] [DBG] set_idle_cb: Set Idle callback
[main] [DBG] main: Wrote 2 bytes with ret 0

Steps to reproduce:
cd samples/subsys/usb/hid
rm -rf build && mkdir build && cd build
cmake -D BOARD=qua

[2018-09-09 08:15] pswarnak opened #9862 "tests/drivers/build_all#test_build_sensors_a_m @ quark_se_c1000_devboard:x86 BUILD failed"
The test **tests/drivers/build_all** results into build failure on quark_se_c1000_devboard for test_build_sensors_a_m and test_build_sensor_triggers, yaml configs.

**Board:** quark_se_c1000_devboard, em_starterkit_em7d_v22:arc and arduino_101
**Arch:** x86
**Zephyr version:**  commit 8250b3e544131392bff2c794b85b7b93d9388587.
**Toolchain:**  ZEPHYR_TOOLCHAIN_VARIANT=zephyr

**Build Log:**
[code]

[2018-09-09 14:06] nashif commented on #9862
you are skipping the filter here, this should not build on platforms without adc. the test with this config depends on the board having ADC support.

[2018-09-09 14:06] #9862 closed

[2018-09-09 15:05] #9574 closed

[2018-09-09 15:49] #9857 closed

[2018-09-09 15:54] pswarnak commented on #9862
Sorry missed it, thanks for info.

[2018-09-09 15:55] rgundi commented on #8159
Looks like there's some issue when "delta_ticks_from_prev" is 0 (i.e. when at least 2 timeouts are expiring on the same system clock tick). Further debug in progress.

[2018-09-10 01:05] Jeepgoing commented on #9482
thanks, @MaureenHelm @stanislav-poboril , i will check my code.

[2018-09-10 03:32] nashif commented on #5524
should be implemented now. Please take a look....

[2018-09-10 03:32] #5524 closed

[2018-09-10 05:31] AdithyaBaglody commented on #9666
inaky, try running this with a simple hello world project on x86 (with config_arc_init)
and run the timing_info on the arc. It works fine.
This is happening because some random application is running on x86. Which might interfere with the code execution on the ARC.

[2018-09-10 05:36] AdithyaBaglody commented on #9766
False positive. Divide by zero for the faulting expression is never possible. Updated the same in coverity.

[2018-09-10 05:36] #9766 closed

[2018-09-10 07:48] ManojSubbarao commented on #3947
closing this issue since it's not relevant at this point of time. will revisit when needed.

[2018-09-10 07:48] #3947 closed

[2018-09-10 08:45] aescolar opened #9867 "Bluetooth LESC debug keys support (BT_USE_DEBUG_KEYS) is broken"
Configuring CONFIG_BT_USE_DEBUG_KEYS=y will lead to failure during pairing.

-----------------

d_00: @00:00:00.000000  ***** Booting Zephyr OS v1.9.0-7108-g19845a7 *****
d_01: @00:00:00.000000  ***** Booting Zephyr OS v1.9.0-7108-g19845a7 *****
d_01: @00:00:00.000000  [bt] [INF] hci_vs_init: HW Platform: Nordic Semiconductor (0x0002)
d_01: @00:00:00.000000  [bt] [INF] hci_vs_init: HW Variant: nRF

[2018-09-10 09:19] spoorthik commented on #3666
As per the details provided in https://github.com/zephyrproject-rtos/zephyr/issues/3657, when there is any zassert failure, the threads are not terminated or clean up of threads (teardown_threads()) are not called, causing next set of tests to crash. (as the thread to be instantiated is already existing).

https://github.com/zephyrproject-rtos/zephyr/issues/3657#issuecomment-331657734

This issue

[2018-09-10 09:20] spoorthik commented on #3666
@nashif @kumarvikash1 @ManojSubbarao : Closing the issue as it is no more seen on the latest master.

[2018-09-10 09:20] #3666 closed

[2018-09-10 09:47] jhedberg commented on #9867
From a quick look it seems likely that the hci_ecc.c values are in the correct byte order (little endian instead of big endian). E.g. smp.c has the same public key value, but that's compared against little endian data, whereas the hci_ecc.c values are passed to the crypto API which expects big endian.

[2018-09-10 10:30] jhedberg opened #9870 "Bluetooth: Convert to new logging APIs"
Convert to using the new LOG_* APIs

[2018-09-10 10:31] jhedberg opened #9871 "Bluetooth: Convert to new shell subsystem"
Convert Bluetooth shell code to the new shell subsystem

[2018-09-10 11:44] SavinayDharmappa commented on #8097
https://github.com/zephyrproject-rtos/zephyr/pull/9872

[2018-09-10 12:05] GiulianoFranchetto opened #9873 "External flash driver for the MX25Rxx"
Hi,

The Nordic nRF52840 PDK has an external flash built-in, connected to the nRF52840 by QSPI.

The driver is available using the nordic SDK, but it's not in Zephyr yet.

Has anybody already ported this driver on Zephyr, or @carlescufi does the Nordic team plan to do so?

We do not need a XIP-enabled driver, we just want to read-write on the flash.

Regards

[2018-09-10 12:25] Vudentz opened #9875 "Bluetooth: Host LE Extended Advertising"
Add support for Extended Advertising features on the Host:

- [x] Add support for using Extended Scan command and Extended Advertising Report Event

- [x] Add support for using Extended Advertising commands

- [x] Enable advertising with different sets/instances

- [x] Add support for using Periodic Advertising commands

- [x] Enable periodic advertising with different sets/instances

[2018-09-10 12:27] carlescufi commented on #9875
Counterpart issue for the controller is here: https://github.com/zephyrproject-rtos/zephyr/issues/3514

[2018-09-10 13:32] nashif commented on #7314
@kestewart please confirm if the generated files are what we need:

http://docs.zephyrproject.org/spdx/zephyr-1.13.0-spdx.tv
http://docs.zephyrproject.org/spdx/zephyr-1.13.0-spdx.rdf

[2018-09-10 13:35] nashif commented on #7317
This is a CI task that is not related to a specific release.

[2018-09-10 13:40] #7314 closed

[2018-09-10 14:31] mped-oticon opened #9879 "Portability: Arithmetic on void pointers"
Hi,

One use of GCC extensions we are patching-away is the use of arithmetic on void pointers [1].
PR will follow soon, but this issue is raised to also discourage future use of this extension.

Arithmetics on void pointers are used in bluetooth/gatt.h and mempool.

We patch this as our clang-based compiler only supports standard C99, C11.
Note that our compiler is provided by one of the major EDA

[2018-09-10 14:46] #9833 closed

[2018-09-10 15:19] nvlsianpu commented on #8979
@jfischer-phytec-iot This issue is something completely different than #8734 (a timing issue) you mentioned.

[2018-09-10 15:19] nashif commented on #8320
@ruuddw, @vonhust  can you check the release notes please and see if ARC/synopsys changes are covered?

@galak, @MaureenHelm ditto

[2018-09-10 15:33] jfischer-phytec-iot commented on #8979
@nvlsianpu Looks like the title is wrong "Failed test: usb.device.dfu.bank_erase on nrf52840_pca10056"

[2018-09-10 16:07] #9785 closed

[2018-09-10 16:28] MaureenHelm commented on #8320
@nashif Arm is done.

[2018-09-10 20:18] ceolin commented on #9552
@pfalcon Sorry for delaying this answer, I'm now jumping on it.
You're right, MISRA C has the "essential type" concept. Signed int (s32_t, s16_t ...) and unsigned int (u32_t, ...) have different "essential type" so it is not ok mix them (without explicit cast - case of signed to unsigned)

So, the `u64_t += s32_t` example, is *NOT* valid.

[2018-09-10 20:56] ruuddw commented on #8320
@nashif Synopsys/ARC changes are covered, just few suggestions to improve:
Designware -> Synopsys DesignWare
arch: Support Synopsys nSIM device simulator -> please move (or repear) to Boards/SoC section, and rephrase to "arc: Support Synopsys ARC nSIM instruction set simulator"

[2018-09-10 20:59] ceolin opened #9882 "MISRA-C - Do not use reserved names"
The C standard reserves all identifiers that begin with an underscore for implementation details. Zephyr is using underscore for identifiers and macros all over the project resulting in many violations. Bellow a suggestion to handle this:
   - If a function is static, it is renamed so that the leading underscore is removed
   - If a function isn't static, a rule based on its name is used to rename

[2018-09-10 21:06] dleach02 opened #9883 "DTS processing generates unit_address_vs_reg warning on entries with 'reg'"
Current DTS processing generates a warning on nodes that specify an unit-address via the '@<n>' but don't have a 'reg' property.

According to the dts specification (section 2.2.1):

One way to get rid of the warning is to suppress the warnings on the command line. The other way is to follow the specification and get rid of the @<n> and use something else that ensures node uniqueness. The problem

[2018-09-10 21:12] ceolin opened #9884 "MISRA-C Check return value of a non-void function"
* The majority of hits inside the kernel are related to the printk() function call. It returns the number of characters printed. There are no places in Zephyr where its return value is actually used for anything, so it's safe to just change the prototype so it's a void function instead.
* Other cases include calls to functions such as memcpy().  This function merely returns the destination pointer

[2018-09-10 21:33] metapsychologe commented on #9884
According to the return values of memcpy I really doubt that it's a good idea to disagree with the C standard.
I agree that they are not really useful though.

[2018-09-10 21:37] ceolin opened #9885 "MISRA C Do not have dead code"
According with Wikipedia, "In computer programming, dead code is a section in the source code of a program which is executed but whose result is never used in any other computation.". The presence of dead code is specially bad in embedded systems - like Zephyr - because it wasting resources and, possibly, affecting timing constraints.

Dead code is also doomed by several "process" standards like I

[2018-09-10 21:43] ceolin opened #9886 "MISRA C Do not mix signed and unsigned types"
* In the kernel, all of the violations are mixing signed and unsigned integers in binary expressions.
* Using stronger typing (e.g. "s32_t" instead of "int") will make the code cleaner with respect to casts and constant type specifications (e.g. writing "some_var + 10u" if "some_var" is an "unsigned int", instead of "some_var + 10").

part of #9552

[2018-09-10 22:04] MaureenHelm commented on #9742
Many MCUs in Zephyr do not have a hardware floating point unit, so we tend to avoid floating point operations in general. But you're right, in this case a lot of precision is lost by returning an int. I don't think this was considered when the function was implemented.

Marking this as an API enhancement in the event we rework the sensor API.

[2018-09-10 22:35] ceolin opened #9889 "MISRA C Avoid implicit conversion between integers and boolean expressions"
In order to clarify the real intent of an if/while statement, the evaluated expression must be a boolean. e.g:
[code]
* Some cases are hidden under macros.  For instance, the system call validation macros might call a function named _obj_validation_check(), which returns an int. A value of 0 signals that an object is valid, and a negative value signals the specific error. The macros test if this f

[2018-09-10 23:01] kestewart commented on #7314
Hi Anas,
    Those files don't have effective conclusions to make them useful.

PackageName: zephyr
PackageDownloadLocation: NOASSERTION
PackageVerificationCode: 34e5aefef7e94ef0de4a8fd8643dac7170355029
PackageLicenseDeclared: NOASSERTION
PackageLicenseConcluded: NOASSERTION

We do have a declared license for the package.   The license should be concluded.

[2018-09-10 23:33] ceolin opened #9892 "MISRA C Avoid dynamic memory allocation"
Zephyr's kernel is using rb tree defined in rb.[ch]. This algorithm is using alloca() function to allocate memory using stack. If the allocation fails the behaviour is undefined.

part of: #9552

[2018-09-10 23:34] ceolin commented on #9892
@andyross This is not a trivial piece of code, can we check how much work is required to fix it ?

[2018-09-10 23:53] ceolin opened #9893 "MISRA C Review switch statement usage"
To avoid bugs caused by wrong usage of `switch` statement, a serie of good practices must be taken.

* Every single switch clause must have an unconditional break, empty fall is allowed though. e.g:
[code]
* Every switch must have a default label and it must appear either as first or last label.
* A switch must have at least two clauses

part of #9552

[2018-09-11 00:14] ceolin opened #9894 "MISRA C Make external identifiers distinct according with C99"
Even gcc allowing much bigger identifiers, Zephyr is supposed to be built using other compilers, so it is extremely important following what is defined in C standard. Any identifier must be at most 31 characters long. According C99 standard `5.2.4.1 - Translation limits`. Example of invalid identifier is the generated code:

```_handler_flash_get_page_info_by_offs```

part of: #9552

[2018-09-11 00:26] ceolin opened #9895 "MISRA C Add 'u' or 'U' suffix for all unsigned integer constants"
All unsigned constants must have either a "u" or "U" suffix. Generated code (e.g generated_dts_board.h) is not adding it.

part of:  #9552

[2018-09-11 02:13] nashif opened #9898 "1.14 Release Checklist"
Add items as required
--------
- [x] Major enhancements:

- [x] Pre RC1 Steps
   - [x] Verify that all external components and external dependencies are up to date, for example
      - mbedTLS
      - tinycrypt
      - FatFS
   - [x] Check known vulnerabilities, and fix exploitable vulnerabilities or verify them as unexploitable.

See https://github.com/zephyrproject-rtos/zephyr/wiki/Release-proce

[2018-09-11 02:16] nashif commented on #8320
Check list for 1.14 created: #9898

[2018-09-11 03:39] nashif commented on #7314
not sure how to tell scancode the declared license for the package.

[2018-09-11 06:10] sjanc opened #9901 "Default nrfx PWM interrupt prio results in assert"
NRFX_PWM_DEFAULT_CONFIG_IRQ_PRIORITY defaults to 7 on all nRF52 SOCs

enabling CONFIG_ASSERT=y results in following assert on boot:

ASSERTION FAIL [prio <= ((1 << 3) - 1)] @ /home/janc/devel/external/zephyr/arch/arm/core/irq_manage.c:114:
invalid priority 7! values must be less than 7

[2018-09-11 06:59] anangl commented on #9901
The IRQ priority values from "nrfx_config_*.h" files are not used in Zephyr.
And they are not supposed to be used by any application built on Zephyr.
We'll be refactoring these files soon and such non-relevant entries will be removed from them to avoid confusion like this.

[2018-09-11 07:55] #9407 closed

[2018-09-11 08:13] mped-oticon commented on #9283
Related to #9879.

[2018-09-11 08:38] carlescufi opened #9904 "System timer handling with low-frequency timers"
Nordic ICs use a low-power, 32KHz timer to driver the Zephyr kernel.
This results in several precision errors that have an effect on real-life application timer handling.

Sub-issues:
#12332 Undesirable behaviour of z_clock_announce() when ticks argument is greater by 1
#16195 k_uptime_delta(): Defective by design

Closed issues related:
#16238 k_cycle_get_32() API is useless in some Zephyr config

[2018-09-11 09:14] lpasteau commented on #9749
Maybe the issue comes partially from the number of available "write" bewteen two block "erase" on NRF52 :
https://devzone.nordicsemi.com/f/nordic-q-a/15798/flash-endurance-on-nrf52
- Flash write/erase cycles: 10 000.
- Amount of writes allowed in a block between erase: 181

However I tried without success a test that writes 24 bytes in a loop (instead of 12bytes in the first test). With 24 bytes e

[2018-09-11 10:03] jhedberg commented on #9879
Could you clarify where in gatt.h you see this happening?

[2018-09-11 10:09] vikrant8051 opened #9907 "Guideline on using the BT settings feature"
I need help or sample app which show how to save & retrieve App data on SoC flash,
without disturbing Bluetooth Mesh stack's content using Setting Layer.

As per mailing list communication, I knew that under "bt/" we could save App specific
data. But this is not enough to go ahead.

Thank You !!

[2018-09-11 10:10] anangl commented on #8409
Closing this as currently no one can replicate such behavior with some sample code.
It can be re-opened once such code snippet appears.

[2018-09-11 10:10] #8409 closed

[2018-09-11 11:39] erwango commented on #8499
Implementation of the current feature could use the edts database proposed in https://github.com/zephyrproject-rtos/zephyr/pull/9876

[2018-09-11 11:42] erwango commented on #9406
Implementation of the current feature could use the edts database proposed in #9876

Generated edts.json file contains, among others, following structures:

   'compatibles':  dict(compatible : sorted list(device-id)),
   'device-types': dict(device-types : sorted list(compatible)),

This should be sufficient to generate the list of DTS_<COMPATIBLES> flags and their dependencies
on Zephyr generic

[2018-09-11 11:43] mped-oticon commented on #9879
@jhedberg Sorry, I meant gatt.c:
[code]
I will soon submit a PR.

[2018-09-11 11:45] erwango commented on #8499
Added #9876 as a cut out of #6762 (Codegen introduction)
#9876 focuses on edts database generation that should be used as input for codegen script.
It could also be used as input for "DTS compatibles flags generation" (#9604)

[2018-09-11 11:56] #9283 closed

[2018-09-11 12:36] #9650 closed

[2018-09-11 12:36] #9651 closed

[2018-09-11 12:41] nashif opened #9912 "Group posix tests"
Right now we have lots of duplication in the posix tests and we only test minimal functionality in each test, like we did with CMSIS RTOS v1, lets group the tests as much as possible into 1 or 2 test projects and reduce duplication and speed up test execution.

[2018-09-11 12:55] pizi-nordic commented on #9904
First, I would like to present some background information about this complex problem:

**Issue 1: Tick time calculation.**
The `sys_clock_hw_cycles_per_tick`, which is used as a reference for RTC programming, is calculated as (CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC / sys_clock_ticks_per_sec), where _sys_clock_ticks_per_sec_ equals to CONFIG_SYS_CLOCK_TICKS_PER_SEC.

In nRF5x series such approach lead

[2018-09-11 13:03] Olivier-ProGlove commented on #9831
Being the author of numerous logging pull-requests, I am also waiting for @nordic-krch's pull-request: https://github.com/zephyrproject-rtos/zephyr/issues/9761 to be reviewed to rebase and refactor my pull-requests on `master`.

[2018-09-11 14:00] pizi-nordic commented on #9904
@ioannisg: Could you please look at this?

[2018-09-11 14:05] carlescufi commented on #9761
@Olivier-ProGlove the logging subsystem itself has been merged and was part of 1.13. Using the subsystem from other subsystems is part of 1.14

[2018-09-11 14:08] #9761 closed

[2018-09-11 14:09] carlescufi commented on #9749
@lpasteau could you please let us know which Zephyr version you are using?

[2018-09-11 14:10] carlescufi commented on #9748
@bixivs is this with current Zephyr master?

[2018-09-11 14:10] carlescufi commented on #9761
@Olivier-ProGlove @nordic-krch #9797 is now merged

[2018-09-11 14:27] lpasteau commented on #9749
I use Zephyr OS version 1.12.0

[2018-09-11 14:35] carlescufi commented on #9749
@lpasteau thanks, this is a relatively recent version, but it would still be great if you could try with 1.13 (released yesterday) or master to make sure this issue is still reproduceable. If you could do that then this would be helpful so that @nvlsianpu can continue investigating.

[2018-09-11 14:38] ioannisg commented on #9904
This is a bit confusing to me. The system clock is the tick-based "soft" clock (as opposed to the 32-bit HW clock). "System clock cycles as timing unit": you mean 32-bit HW clock cycles as timing unit?

[2018-09-11 14:43] pizi-nordic commented on #9904
Even in tickless mode, the system still is using "ticks" to manage time slices
[code]
Without eliminating whole idea of ticks, we will always end fighting with ms<-> tick conversion issues.

[2018-09-11 14:49] lpasteau commented on #9749
ok I try again as soon as I upgrade zephyr version !

[2018-09-11 15:17] andyross commented on #9892
So... alloca() is allocating memory "dynamically", but on the stack.  It won't fail in the sense of malloc() where someone else is using the memory.  The only failure case is a stack overflow, which is something that is always possible.   What exactly does MISRA say?  Note that there are a few other spots in our codebase where we're doing equivalent allocations via variable-sized arrays (e.g. int

[2018-09-11 15:32] andyross commented on #9904
I agree with @carlescufi for the most part.  There's an idea floating around locally here to try to make TICKLESS_KERNEL the default on all platforms that support it, which will go most of the way to what you want.

Note that there's still a need for something like a "tick".  There are two time units internal to the Zephyr kernel: the high speed one returned by k_cycle_get_32(), and a lower speed

[2018-09-11 15:33] jhedberg commented on #9907
Actually it's the opposite: bt/ is reserved for the Bluetooth stack, so to avoid conflicts that prefix should not be used on the app side. Besides this, your question boils down to: "how do you use the settings API?", i.e. it's not really a Bluetooth-specific question.

[2018-09-11 15:39] carlescufi commented on #9904
@andyross I assume you meant that you agree with @pizi-nordic :)

[2018-09-11 15:42] andyross commented on #9904
Heh, indeed.  Misread the attribution in your quote :)

[2018-09-11 15:43] #3706 closed

[2018-09-11 16:09] carlescufi opened #9920 "I2C slave DTS support"

[2018-09-11 16:15] carlescufi commented on #8684
@MaureenHelm any update on this?

[2018-09-11 16:16] galak commented on #9920
See details for I2C SLAVE dts support here:

https://git.kernel.org/pub/scm/linux/kernel/git/devicetree/devicetree-rebasing.git/tree/Bindings/i2c/i2c.txt

[2018-09-11 16:34] pfalcon commented on #9552
@ceolin :

Cool, thanks, so hope we'll get to resolving https://github.com/zephyrproject-rtos/zephyr/issues/9663 then.

[2018-09-11 16:47] galak opened #9921 "Update to latest OpenAMP code base"
Pull in the latest updates to OpenAMP and update Zephyr examples to match.  This gets us code size improvements.

[2018-09-11 16:55] #5702 closed

[2018-09-11 18:00] nashif commented on #9831
meeting minutes:

- soc tree move to top level: missing docs, ready to go as first PR, no major PRs in progress that would block it
- Logging: setup a meeting with developers and users and come up with a plan
- DTS:
  - review EDTS and merge (this is important and perquisite for many changes, so it needs to be dealt with highest priority.

[2018-09-11 18:02] carlescufi commented on #7302
@galak @erwango @nashif @b0661 @SebastianBoe

So after a quick chat with @galak on IRC and based on all the info and PRs I've looked at, for me the only solution that maintains DT as the only absolute truth for hardware description and boot-time configuration is to go DT all the way for hardware and peripherals, and not rely on Kconfig at all for those.

So summarizing this new idea:

a) DT runs f

[2018-09-11 19:17] rgundi commented on #8159
Finally I am able to understand the behaviour. @pizi-nordic: This is about the zephyr scheduler as you rightly speculated. There are 2 functions at play here.
1) _add_timeout function in timeout_q.h - If there's a new timeout expiring on the same system clock tick as other timeouts already present in the _timeout_q, it is "prepended" to these timeouts. So, if thread A and thread B are timing out o

[2018-09-11 19:33] KillerLink opened #9922 "Networking: Neighbour Discovery may be breaking an ongoing UDP Transmission"
Hello,
im currently in the proccess of writing a platform port to the Texas Instruments CC2538. I have working UART, GPIO and IEEE802.15.4 RF (as far as i can tell currently). I'd like to point out that by no means my code is perfect and the error offcourse could reside within my code. I am on current code base i got by "git pull" at the time of writting this issue.

To the problem:
I am using IPV

[2018-09-11 19:59] andyross commented on #8159
That sounds right to me.  No: in general there is no guarantee of wakeup order when multiple threads are woken up on the same tick.  While I **think** timeout handling is uniformly done with a simple dlist that never reorders, things like wait_q's can be more complicated when iterated over.

So if you have a situation like this where "ordered" timeouts are aliasing into a single tick, you can get

[2018-09-11 20:00] andyross commented on #8159
And for reference: NRF5x timer handling does seem to produce surprises.  There's a similar thread ordering bug (that I haven't tried to dig into yet) reported against the EDF test on NRF5 when combined with CONFIG_BT: #9843

[2018-09-11 20:04] KillerLink commented on #9922
Here is my .conf file i use for my echo_client, plus some debug options i turned on by hand.
echo_server is almost identical to that.

[code]

[2018-09-11 20:08] vanwinkeljan opened #9924 "Segger Systemview + newlib does not compile"
In case both Segger Systemview (CONFIG_SEGER_SYSTEMVIEW) and newlib (CONFIG_NEWLIB_LIBC) are selected in a project, the project does not compile as _thread_entry is undeclared.

[2018-09-11 20:15] pfalcon opened #9926 "samples/net/sockets/echo_client/server: No docs for testing TLS mode"
Subj. Nothing in the docs. I tried:

[code]

Got:

[code]

Not good.

[2018-09-11 20:18] pfalcon commented on #9926
P.S. Actually, there's even no docs how to build TLS mode...

[2018-09-11 20:28] vanwinkeljan commented on #9924
In case it is of any help:
[code]

[2018-09-11 20:28] pfalcon commented on #9926
Ah, not even that - it happened during *that run*. Rebuild/restart - openssl s_client works.

[2018-09-11 20:29] pfalcon commented on #9926
So, I'll include switching these to minlibc to https://github.com/zephyrproject-rtos/zephyr/pull/9923

[2018-09-11 20:33] ceolin commented on #9893
#9927

[2018-09-11 20:55] nashif commented on #9926
who are you talking to?

[2018-09-11 21:15] pfalcon commented on #9926
To the assignee of the ticket, the author of this sample.

[2018-09-11 22:12] ceolin commented on #9892
yep, it's allocating on stack but still dynamic. MISRA dooms dynamic allocation and everything should be pre-allocated. Btw, variable length arrays and alloca are different, they have different scope, memory allocated by alloca is release only when the function exits while the former is when the block exits.
VLAs are also part of C99 standard while alloca is not part of the standard. As fair as I

[2018-09-11 22:32] ceolin commented on #9892
sorry, VLAs are also not allowed. Dammit, we may have to define one pattern for these cases and maybe create a deviation. Anyway, between alloca() and VLAs I stand to VLAs, at least is covered by standard and we have less chance to find problems with different compilers.

[2018-09-11 23:42] #9816 closed

[2018-09-12 00:38] MaureenHelm commented on #8684
No, not yet.

[2018-09-12 02:45] galak commented on #8559
The build times have vastly increased how long it takes to do full CI.  We really need to address this for 1.14.

[2018-09-12 02:50] iotsys commented on #9922
Hello, when I test LTE-Modem, when 2 UDPs are enabled at the same time, the length of the transmitted data may be 0. I have not found the reason for this problem, but it may be caused by the same reason as you.

[2018-09-12 05:13] kestewart opened #9932 "Invalid documentation link in README.rst"
https://github.com/zephyrproject-rtos/zephyr/blob/master/README.rst has invalid link to new boards

The Zephyr kernel supports multiple architectures, including ARM Cortex-M, Intel x86, ARC, Nios II, Tensilica Xtensa, and RISC-V, and a large number of supported boards.

Supported boards link redirects to https://docs.zephyrproject.org/latest/404.html

[2018-09-12 05:36] galak commented on #5707
@erwango can you review this.

[2018-09-12 07:28] pdunaj commented on #9904
@pizi-nordic maybe correction applied once per second (or per n ticks), that would make one of the ticks shorter (or longer)? Should be relatively cheap.

[2018-09-12 07:28] pizi-nordic commented on #9904
In my opinion the sole place where we need "low speed" timer is scheduler slices (as we cannot swap threads every hw clock cycle). All other things (sleep times, timeouts etc) could be directly specified using full hardware timer resolution.

Now we are converting everything into ticks, which gives us only coarse timing.

[2018-09-12 07:29] pizi-nordic commented on #9904
@pdunaj: I thought about that, but this solution introduces jitter.

[2018-09-12 07:32] pdunaj commented on #9904
@pizi-nordic , sure but why not accept the jitter? I don't think ticks should be used for precise time accounting (as you mentioned above sleep may take more then requested) and the biggest problem I see here is the time shift introduced in the long period.

[2018-09-12 07:42] pizi-nordic commented on #9904
@pdunaj: Let's assume the following situation:
- We are using rounded up 'sys_clock_hw_cycles_per_tick' (tick time > 10ms).
- To correct timing we from time to time introduce shorter tick (< 10ms) from time to time (in this example every 3rd tick is shortened).
[code]
- Thread sleeping for ticks 1-3: Perfect timing
- Thread sleeping for ticks 1-2: Too long - acceptable.
- Thread sleeping for ticks

[2018-09-12 08:15] lemrey commented on #9242
Are there any outstanding tasks related to this after #9551 has been merged? What about other third-party boards with Nordic SOCs that are yet to be aligned?

[2018-09-12 08:26] rlubos commented on #9926
Sorry for missing docs, I have in in my schedule, just didn't come to it yet. It will happen though.

So where would you see this config then? This is approach suggested in review of #8342 and followed by #9033 as a way to solve the problem of multiple, almost identical config files. If you have other/better propsal to make this simple, please share with us instead of writing daunting comments.

I

[2018-09-12 08:30] leodido99 opened #9935 "sockets: Connect always binds the context to the default interface"
I'm working with sockets on v1.13 and I have a case where I have two interfaces and I'm trying to open a socket on the index 1 interface (i.e. not the default one). When doing connect and providing the remote address and port to a TCP server connected on my interface Zephyr sends the SYN on the wrong interface.

The call path goes like this:
connect
_impl_zsock_connect
net_context_connect
bind_def

[2018-09-12 08:47] carlescufi commented on #9242
@lemrey I don't know. Someone needs to go over the boards with the guidelines in hand to check. @anangl, @ioannisg, do you have time to look at this? This should apply to all boards that have Nordic chips in them.

[2018-09-12 09:42] nordic-krch commented on #8881
this is fixed by #9362

[2018-09-12 09:42] #8881 closed

[2018-09-12 09:43] tejlmand commented on #8379
Isn't this related to #8851  ?

[2018-09-12 09:43] nordic-krch commented on #9871
It's a duplicate of #8873

[2018-09-12 09:44] leodido99 commented on #9935
After investigating more I modified _impl_zsock_connect to bind the context in case it is not already done since I think this is the correct way to do it.

Let me know what you think.

[code]

[2018-09-12 09:57] pfalcon commented on #9935
@leodido99 : A natural question then - why don't you bind to the right interface (address) then? Can you provide POSIX references that it should work like you describe?

@jukkar: Otherwise, that's finally (like, I waited for it) provides an answer why you bothered with those address selection routines in net_app, while I didn't. But then net_app was a wrong place for them, they should be done on n

[2018-09-12 10:14] leodido99 commented on #9935
As I commented, I understood after a while the purpose of net_context_bind calling bind_default that's why I moved my modification I did to socket.c which is I believe the correct place.
I'm trying to understand how you are supposed to use sockets in Zephyr because the behaviour is not the same than on Linux where you don't need to bind a client socket.

[2018-09-12 10:36] pfalcon opened #9936 "docs: Ring Buffers docs are hidden away under unexpected title"
We have the whole "Data Passing" chapter in docs: https://docs.zephyrproject.org/latest/kernel/data_passing/data_passing.html which includes: FIFO, LIFO, Stack, Message Queue, Mailbox, Pipe.

And suddenly, Ring Buffers are away from it, under "Other Services" https://docs.zephyrproject.org/latest/kernel/other/ring_buffers.html .

Ring Buffer is just another data data communication primitive in Zep

[2018-09-12 10:37] pfalcon commented on #9936
@nashif : Following suggestion to not do multiple assignments, but IMHO you would be ack'ing this.

[2018-09-12 10:37] b0661 commented on #8499
Sequence of merges for " Code generation for instancing of devices ":

- [ ] Code generation for instancing of devices
1. PR #9876 - creation of extended DTS database using extract_dts_includes.py
2. PR #6762  - inline code generation - codegen
3. PRs for device driver instantiation by code generation
    - e.g. PR #8561, #9163

[2018-09-12 10:38] pfalcon commented on #9936
Not being able to see entire data passing hierarchy at once leads to d'oh moments like this: https://github.com/zephyrproject-rtos/zephyr/pull/9853#issuecomment-420585228

[2018-09-12 10:47] nvlsianpu commented on #9749
@lpasteau  I reproduced the issue along with zephyr master HEAD - so we are on the same line now - I continuing investigation now.

[2018-09-12 10:50] grochu opened #9937 "BLE Host: enable per-connection storage of selected ATT attributes"
**Introduction**: currently the only attribute which is tied with each BLE connection is CCC - due to its special function. However some GATT Services may require such per-connection storage for other attributes as well.
**Use case example**: e.g. in HID over GATTS, the Protocol Mode attribute may be set differently by different connected peers (BLE HID Clients). They may use different Protocol Mo

[2018-09-12 10:52] leodido99 commented on #9935
Understood, no basically I was very naive and just tried to use sockets as I would on Linux and found out that it wasn't working as I expected :) I have no POSIX references that suggest this should be the way.

[2018-09-12 11:17] carlescufi commented on #9937
cc @joerchan @jhedberg to avoid multiple assignment.

[2018-09-12 12:08] jfischer-phytec-iot commented on #8684
I had to test the SSD1306 driver and solved it that way:

[code]

[2018-09-12 12:49] pizi-nordic commented on #9904
In my opinion making TICKLESS_KERNEL the default is only half-way solution. If we keep tick abstraction we will not gain precision, which is easy achievable in tickles kernel. Moreover, the significant part of our problem is in fact lack of the mentioned precision: The hardware timer could schedule event using its full resolution but tick abstraction enforces bigger time unit. If we add to that er

[2018-09-12 12:52] mrfuchs opened #9940 "Cannot build C++ sample projects on Windows"
Samples having set `CONFIG_CPLUSPLUS=y` in their prj.conf (e.g. zephyr\samples\cpp_synchronization) fail to build on Windows - at least when using the GNU Arm Embedded Toolchain.

Command Line:
`D:\test\zephyr\samples\cpp_synchronization>cmake -GNinja -Bbuild -H. -DBOARD=stm32f4_disco`

Output:
[code]

It seems like the CMAKE_CXX_COMPILER variable is not allowed to end on "++" (...gcc works, but .

[2018-09-12 13:28] nashif commented on #9932
removed the redirects after founding issues, fixed links now and will revisit the redirects later.

[2018-09-12 13:31] nashif commented on #9936
ring buffers are not native kernel objects, we had a lengthy discussion about this in the past and there are very strong opinions about call them native kernel objects. That also the reason the are prefixed with sys_ instead of k_.

[2018-09-12 13:31] SebastianBoe commented on #9940
Closing as duplicate of #9582

[2018-09-12 13:31] #9940 closed

[2018-09-12 13:32] pizi-nordic commented on #9843
@carlescufi, @cvinayak: The https://github.com/zephyrproject-rtos/zephyr/pull/9745 might be source of this problem.

[2018-09-12 13:35] pizi-nordic commented on #8159
This wasn't speculation :).
Thank you for digging into this problem. Great job!

[2018-09-12 13:36] #9582 closed

[2018-09-12 13:43] leodido99 opened #9944 "sockets: Connect doesn't send new SYN in case the first connection attempt fails"
In the current implementation of the sockets, when doing a connect call, if the remote doesn't reply with SYN, ACK then the call will never return and no SYN will ever be re-sent.

This is because _impl_zsock_connect calls net_context_connect with a timeout value of K_FOREVER that means that after sending the SYN the function will wait forever for an answer, if none comes then we are stuck.
I thin

[2018-09-12 13:57] dbkinder commented on #9932
To clarify, the "problem" is that we [moved the latest documentation down into a /latest folder](https://github.com/zephyrproject-rtos/zephyr/issues/5524) (a sibling folder to the tagged release documentation such as /1.13.0 and 1.12.0).  Now, any deep link such as  https://docs.zephyrproject.org/boards/boards.html that does not include the doc version folder name (or /latest) will return a 404 er

[2018-09-12 14:03] dbkinder commented on #9936
so what's the recommendation to close this issue?  We could add a link to the ring buffers documentation in the kernel objects data passing documentation with your explanation that while they're data passing structures, they're not kernel objects.

[2018-09-12 14:15] nashif commented on #9936
recommendation is to leave this as is.

[2018-09-12 14:18] nashif commented on #9932
not really concerned about google, it will update its database soon enough.

btw, clicking links from google that lead to 404 have this message:

`"Sorry, the page you requested: https://www.google.com/ was not found on this site."`

:)

Need to fix this.

[2018-09-12 14:33] nashif commented on #8559
@AdithyaBaglody can you please take a look?

[2018-09-12 14:33] nashif commented on #8559
@dcpleung if you can help with this, that would be great.

[2018-09-12 14:34] carlescufi commented on #9843
@nashif @andyross as per @pizi-nordic suggestion, this might be caused by the fix we posted for the 1.13 release which fixes some tests, but makes others fail. The only clean solution is to follow-up on #9904.

[2018-09-12 15:19] nashif commented on #9831
one other big and intrusive change:
- libc and type changes.

[2018-09-12 15:20] andyross commented on #9904
The "tick" doesn't have to be a ~100 Hz number.  It's reasonable to increase precision on a tickless system to whatever the underlying timer can support.    So if you want a 1MHz tick rate, you're limited to a longest timeout of about an hour, etc...  You don't have to go all the way to 64 bit to get a reasonable tradeoff, though specific numbers are likely going to have to be chosen per-app and n

[2018-09-12 15:28] jhedberg commented on #9870
Duplicate of #9069

[2018-09-12 15:28] #9870 closed

[2018-09-12 15:30] jhedberg commented on #9069
We also need a couple of logging backends done before we can proceed with porting the Bluetooth subsystem: native_posix and the monitor protocol (see `subsys/bluetooth/host/monitor.c`)

[2018-09-12 15:43] tejlmand opened #9947 "CMake build architecture documentation"
Currently the CMake documentation
https://docs.zephyrproject.org/latest/application/application.html#cmake-details
targets users starting out with the creation of the own applications.

The CMake architecture, especially on how source is organized into libraries should be documented so it is clear and structured to zephyr contributors.

Areas of importance:
- Kernel
- arch
- drivers
- subsystems

[2018-09-12 15:47] mbolivar opened #9949 "Make West launcher scripts in mainline zephyr compatible with multi- and mono-repo"
The west launcher scripts need to replicate the logic to find the top-level west if it exists and preferentially use that, and fall back on existing behavior to run the copy of west in zephyr/scripts/meta/west if zephyr is being checked out standalone.

This will allow a smoother interoperation of multi- and mono-repo installations of Zephyr during the transition period to multirepo.

[2018-09-12 15:54] pizi-nordic commented on #9904
Basically we would like to have SYS_CLOCK_TICKS_PER_SEC = SYS_CLOCK_HW_CYCLES_PER_SEC.
As RTC clock in nRF5x is slow, 32-bits are enough to hold more than 36 hours.

I just thought about a more generic solution which enable all platforms to use full hw clock precision.
I am also not sure if about scheduler behaviour in such case. How scheduler manages time slicing in tickless mode?

[2018-09-12 16:00] andyross commented on #9904
That doesn't work in all systems, though.  On a PC, the TSC runs in GHz and will overflow the 32 bit counter in seconds, requiring either a fully 64 bit system or some other kind of "intermediate representation" (i.e. represent timeouts in "TSC >> 10" units or something) for timeout scheduling, at which point we've simply reinvented the tick.

[2018-09-12 16:03] #9932 closed

[2018-09-12 16:10] pizi-nordic commented on #9904
I agree, that we have to represent timeouts longer than hw counter overflow time (this is why I proposed 64-bit). I also agree, that direct usage of TSC value for event scheduling is pointless (we cannot efficiently handle time-outs separated by few TSC cycles).

In such case intermediate representation is unavoidable. However we can hide this representation in the timer driver, virtually reducing

[2018-09-12 16:12] dcpleung commented on #8559
The bottleneck in gen_kobject_list.py seems to be the inside ElfHelper.find_kobject() (step 1).

[2018-09-12 17:48] MaureenHelm opened #9950 "Add flash storage partition and enable nvs sample on kinetis boards"
- [x] frdm_k64f
- [ ] frdm_kl25z
- [x] frdm_kw41z
- [ ] hexiwear_k64
- [x] usb_kw24d512

cc: @hakehuang . This will address the error you reported:
[code]

[2018-09-12 23:17] dcpleung commented on #9498
The problem is how the linker places the orphan section in the ELF file.

With the prebuilt ELF, the ".i_make_error" is placed after ".intList" and not after data or bss.
[code]

And with the finally ELF, it is placed before bss:
[code]

Since the isr_tables.c is created using zephyr_prebuilt.elf, and the device pointers as ISR arguments are using the addresses in the prebuilt. However, when the f

[2018-09-13 00:32] ceolin opened #9953 "wrong behavior in pthread_barrier_wait()"
This function does not have the behaviour defined in IEEE Std 1003.1.
It should return PTHREAD_BARRIER_SERIAL_THREAD constant for an arbitrary thread and 0 for the others synchronized threads.

[2018-09-13 04:40] charithawee opened #9954 "samples/hello_world build failed on Windows/MSYS"
I'm having a problem with building a sample hello_world code. The error message is given below. please advice.

at the every first time, It builds with out any issues, but currently it does not work.

MSYS ~/zephyr/samples/hello_world/build
$ cmake -GNinja -DBOARD=arduino_101 ..
-- Found PythonInterp: /usr/bin/python3.exe (found suitable version "3.6.6", minimum required is "3.4")
-- Selected BOAR

[2018-09-13 06:38] Vudentz commented on #9937
Im not sure it is worth it since bt_conn is reused so it only works for attributes that don't have to be persisted across connections. In any case the storage must come from the application/service anyway so I wonder if wouldn't be better to do something like CCC and define a special struct to store the user_data per peer, the stack would then check if that is in use and perform a lookup for the p

[2018-09-13 07:11] erwango opened #9956 "Build failed when CONFIG_STM32_ARM_MPU_ENABLE=y"
Following merge of #9776, building STM32 platform is failed when STM32_ARM_MPU_ENABLE is enabled.

Build error reported:
[code]

`mpu_config` is defined in `soc/arm/st_stm32/common/arm_mpu_regions.c` which is not compiled since soc/arm/st_stm32/common/CMakeLists.txt is not parsed anymore

[2018-09-13 07:48] erwango commented on #9956
Seems CMakeLists behavior has changed:

I can build sucessfully frdm_k64f after deleting soc/arm/CMakeLists.txt

[2018-09-13 08:00] koffes commented on #8872
Looking forward to these new features. Will multiple transports be supported so that SYS_LOG may be routed to RTT ch. 0 and the shell be accessible over UART or RTT ch. 1 at the same time?

[2018-09-13 08:09] jarz-nordic commented on #8872
@koffes yes it will be possible. But why would you like to have separate channel for SYS_LOG and shell? New shell will allow you to have SYS_LOG and shell on one RTT channel.

[2018-09-13 08:20] koffes commented on #8872
@jarz-nordic During debugging, we often have significant SYS_LOG output, whilst we want to be able to use the shell. Reading from shell/writing to shell in the middle of all this log "noise" is difficult.

[2018-09-13 08:31] pfalcon commented on #9926
So, the idea which I hoped the mainline by now and in everyone's loop, is that generic networking functionality should not require board-specific configuration. I.e. if a board has some IP-compatible networking builtin, the the board config should enable/configure it by default. Yes, if people need to use non-default choice, or use external hardware, they'd need to have board-specific (re)configur

[2018-09-13 08:48] erwango commented on #9956
Seems following line at (https://github.com/zephyrproject-rtos/zephyr/blob/7fe3a481d015880e1213e79c95e522b9b97f0278/CMakeLists.txt#L339
is always false even if `soc/${ARCH}/CMakeLists.txt` actually exists.

[2018-09-13 08:51] carlescufi commented on #9956
@SebastianBoe any advice on this one?

[2018-09-13 08:57] erwango commented on #9956
Got it:
[code]

[2018-09-13 09:07] b0661 opened #9960 "Stack check test fails - qemu_x86:tests/kernel/fatal/kernel.common.stack_protection"
[code]

[2018-09-13 09:13] rlubos commented on #9926
When I was suggested to introduce this `boards/${BOARD}.conf` pattern, I've took a look what differentiated boards in the original echo samples. What was different beside hardware specific stuff was that some boards did not enable IPv4, others didn't run TCP etc. (Perhaps memory constraints? Techonology limitations?). That's why I put those configs into separate file.

Of course, we could enable e

[2018-09-13 09:28] pfalcon commented on #9926
Let me start reading here, write the response to this, then continue reading ;-).

The "original echo samples" are messy config with too much magic which everybody is afraid to touch to not break some magic somebody else may be using (for testing, and testing is important). Rewrite, especially with sockets, gives an opportunity to leave that baggage behind. (And I overlooked that during the origin

[2018-09-13 09:43] pfalcon commented on #9926
Would be handled on board level. Like, if it really can't use TCP or IPv6, should be force-disable on board level. But I doubt we have choices like that, and if some board is really on an edge - yes, that can be handled by board-specific config.

Should be handled automagically too. E.g. 6lowpan devices can't work with IPv4. So, it can be either: 1) IPv4 enabled, so what; or 2) just be force-disab

[2018-09-13 09:57] rlubos commented on #9926
Well, I don't want to argue here, as in general I agree with your point of view, it's just that this vision is idealistic and would invovle changes not only in project files but in module configurations as well (which sounds like lot of work), but yes, we should strive for that.

Not many actually, at the moment the echo socket samples were submitted there was one or two samples that supported thi

[2018-09-13 10:00] rlubos commented on #9926
So to summarize:

- [ ] Add TLS sockets subsystem documentation
- [ ] Update socket echo_client/echo_server samples with information on how to run TLS
- [ ] Unify socket echo_client/echo_server sample project configuration into a single file (with TLS as overlay config)

I hope that concludes updates requested in this topic?

[2018-09-13 10:53] pfalcon commented on #9936
Thanks for comments.

Yes.

Yeah, I don't mean sudden in a sense of time. I thought that maybe they're not documented, or there's a glitch which caused that section to be excluded (IIRC we had such case lately). And then I suddenly found it under "Other Services". And I knew what I was looking for, maybe wouldn't find otherwise.

[2018-09-13 11:02] carlescufi commented on #9954
You are trying to build for an intel board (Arduino 101) with GNU Arm Embedded, an Arm compiler.

[2018-09-13 11:03] pfalcon commented on #9936
I guess we're going into word-play here. If you look at the left of https://docs.zephyrproject.org/latest/kernel/data_passing/data_passing.html , you'll see:

Level 1 heading: Zephyr Kernel Primer
Level 2 heading: Data Passing
Level 3 headings: FIFOs, LIFOs, etc.
Level 2 heading: Other Services
Level 3 heading: Ring Buffers

So, word "native" is not involved in any way. Even word "object" isn't. E

[2018-09-13 11:08] pfalcon commented on #9936
Any references to that btw?

[2018-09-13 11:13] pfalcon commented on #9936
And it goes beyond that. "Polling" is again under "Other Services", while we have the "Synchronization" section. In which way polling is not synchronization but rather something "other" in the back where nobody sees it?

[2018-09-13 11:54] MaureenHelm opened #9962 "Migrate sensor drivers to device tree"
- [x] ak8975 [@galak] #22962
- [x] bma280 [@pabigot] #22103
- [x] dht (gpio) [@pabigot] #21424
- [x] grove-light [@pabigot] #21602
- [x] grove-temp [@pabigot] #21602
- [x] mpu6050 [@pabigot] #21565
- [x] pms7003 (uart device) [@galak] #22963

[2018-09-13 12:14] slavaza opened #9964 "The SDK is are install not fully, only the compiler libraries are installed"
The SDK is are install not  fully, only the compiler libraries are installed. But compilers do not installed. Is this how it should be? The installer says success. (Linux Debian 9.0 Netrunner 17)

[2018-09-13 12:15] jukkar commented on #9935
Proposal that fixes this can be found at #9963, @leodido99 please test this if possible.

[2018-09-13 12:18] SebastianBoe commented on #9964
Compilers are included in the SDK.

If you haven't seen an error message yet I would recommend continuing until you see one.

[2018-09-13 12:33] slavaza commented on #9964
This is a second attempt.
master@home-pc:~/Downloads$ bash zephyr-sdk-0.9.3-setup.run
Verifying archive integrity... All good.
Uncompressing SDK for Zephyr  100%
Enter target directory for SDK (default: /opt/zephyr-sdk/): /home/master/Programs/zephyr-sdk-0.9.3/
Installing SDK to /home/master/Programs/zephyr-sdk-0.9.3
The directory /home/master/Programs/zephyr-sdk-0.9.3/sysroots will be removed!
Do

[2018-09-13 12:35] SebastianBoe commented on #9964
Right, and now run

find /home/master/Programs/zephyr-sdk-0.9.3/

[2018-09-13 12:46] slavaza commented on #9964
I found by printing the tree. This is unusual place. Excuse me. Thank you. Excuse me again.

[2018-09-13 12:46] #9964 closed

[2018-09-13 12:47] SebastianBoe commented on #9964
No worries.

[2018-09-13 12:49] slavaza commented on #9964
Ok. I would put two stars.

[2018-09-13 13:27] #7348 closed

[2018-09-13 14:40] pfl opened #9970 "Native posix port drivers need to be documented"
The native posix port needs to document the drivers implemented and their usage. Currently the port page on the web doesn't mention anything about the fact that the native posix port has support for ethernet, timer, entropy and console drivers. The only documentation right now seem to be Kconfig files.

[2018-09-13 15:01] SebastianBoe opened #9971 "doc: DT: use-prop-name is not documented"
The file device_node.yaml.template is a big help in understanding how to read and write the "YAML definitions for device nodes". But it does not cover the keyword 'use-prop-name'.

Currently, a user would have to read the python code to understand it's semantics.

Documentation:

[code]

Actual language:

[code]

[2018-09-13 15:07] pfl opened #9972 "Porting to a new architecture needs to be documented"
Comprehensive information about which functions and symbols are expected by the Zephyr kernel when porting to a new architecture is missing. This not only applies to a new port, but also to enhancing an existing port, such as the native posix one.

Porting is split over /arch and /board, with the documentation indicating too vaguely what functionality is expected where, and also which features/fun

[2018-09-13 15:11] #9956 closed

[2018-09-13 15:14] nashif commented on #9953
@nniranjhana fyi

[2018-09-13 15:15] SebastianBoe commented on #9971
The same applies to

`#     type: <string | int | array>`

There is also an undocumented type called compound.

[2018-09-13 15:32] hulkco commented on #8470
hi, i have the same isue, and fix by using: dfu-util -a ble_core -D zephyr/zephyr.bin
i using Zephyr SDK 0.9.3 with git checkout tags/v1.12.0

[2018-09-13 15:32] pfl commented on #9970
Let's close this, documentation is there but not in a very user friendly layout, section on peripherals should come first, but YMMV.

[2018-09-13 15:32] #9970 closed

[2018-09-13 15:36] aescolar commented on #9970
There is a TOC at the beginning of the page..

[2018-09-13 15:41] pfl commented on #9970
Yes...

[2018-09-13 16:22] inakypg opened #9975 "tests/lib/mem_alloc fails to build on Arduino Due after SoC move"
Bunch of build errors like:

[code]

this happens in many other test cases too.

[2018-09-13 16:37] nvlsianpu commented on #9749
:D today I was able to track the bug mechanism (happens when GC is performed during inode update, GC overrides file name...because uses the same buffer) tomorrow will propose a patch for that.

[2018-09-13 16:49] lpasteau commented on #9749
Ok thanks a lot ! That explains why there is another file of the same size that appears but without the name...

[2018-09-13 16:58] nashif commented on #9975
fixed by #9959

[2018-09-13 16:58] #9975 closed

[2018-09-13 17:11] andyross commented on #9953
Pushed a quick fix for the bug (which was mine).  Probably wants a test to check this added somewhere too.

[2018-09-13 17:39] pfl commented on #9972
Not having a board to port but instead zooming in on the pseudo posix port from a Zephyr application starting point makes me want to have a bit more details on the symbols/functions that are needed by a Zephyr port. I can detail the documentation needed, but only after I have ported/improved something, after which I would not need isuch documentaton either...

[2018-09-13 22:46] carlescufi commented on #9498
@MarekPieta have you hit this in a real example?
CC @pizi-nordic @ioannisg @SebastianBoe

[2018-09-14 04:01] nashif commented on #6365
@galak ?

[2018-09-14 07:17] nvlsianpu commented on #9808
@nashif Which one? Recently with @carlescufi we eliminated all multithreading dependencies in mcuboot@zephyr - maybe I don't know about something.

cc @utzig @d3zd3z

[2018-09-14 07:54] SebastianBoe commented on #9498
This is arguably user-error. It is a bit weird to have a character array that is not placed in the text section.

In this particular case the user should have done

__attribute__((__section__(".text.i_make_error")))

and everything would have been fine.

If, for whatever reason, the user wants to place his custom section outside of the text area he had better tell the linker where to put it, as @d

[2018-09-14 08:29] ibisz opened #9978 "soc: stm32: Extra tree soc configuration is blocked by /dts/arm/st/mem.h"
After configuring an extra tree SOC based on documentation from #9776 "Move soc code under ZEPHYR_PROJECT/soc" , the build stopps with:
[code]

[2018-09-14 08:49] erwango commented on #9978
To better understand your issue, are you using a STM32 out of tree?
Or is that a STM32 point blocking other SoCs as well?

[2018-09-14 08:54] pizi-nordic commented on #9498
No, it is not. For example the new logger subsystem uses dedicated sections in RAM and Flash to maintain global list of modules (in flash) and its settings (in ram, as this part might be modified in runtime).

[2018-09-14 08:58] erwango commented on #9978
@ibisz , would the following work?

[code]

[2018-09-14 09:08] nvlsianpu commented on #9749
@lpasteau Here the fix https://github.com/apache/mynewt-nffs/pull/9 - we need to wait for merging this before fix the zephyr source, but you can use it right now.

Thanks a lot for spot the bug!

[2018-09-14 09:27] erwango commented on #9978
@ibisz : Ok, thanks, will push it.
Btw, I'm interested by your feedback of using STM32 SoC out of tree.
Don't hesitate to raise other issues, even for enhancements!

[2018-09-14 09:56] SebastianBoe commented on #9498
That is no problem, just place this information at

.text.logger.xyz
.text.logger.abc

.data.logger.xyz
.data.logger.abc

[2018-09-14 10:06] pizi-nordic commented on #9498
OK. I understood that putting section is ram is problematic and we could use it only for constant sections.

[2018-09-14 10:09] SebastianBoe commented on #9498
Not sure what you mean, but anyway, the logging system is not affected by this issue, because it has ld-scripts that catch the .log_dynamic* sections so no orphan sections are created.

[2018-09-14 10:27] carlescufi commented on #7120
@ulfalizer can you take another look at this one when you have a chance?

[2018-09-14 11:14] #9749 closed

[2018-09-14 11:39] nniranjhana commented on #9953
@andyross I will add this check to the test and push as part of my PR for #9912

[2018-09-14 12:12] nvlsianpu commented on #9748
@bixivs Can you verify this along with newest master as we just fixed #9749, which mighty caused this issue.

[2018-09-14 12:34] lpasteau commented on #9749
@nvlsianpu Thanks a lot the correction solves my issue :)

[2018-09-14 13:28] galak commented on #9406
Is this resolved with merging of #9974

[2018-09-14 15:12] bixivs commented on #9748
Sorry for the late reply!
Just tested with the current master. I get the same error.
I'm able to reproduce the issue in this way:
This is a modified mesh sample in order to use the NFFS: https://github.com/bixivs/zephyr_mesh_sample_nffs_bug.git
I use an aconno acn52832 http://aconno.de/acn52832/ as a test device, the board files are on the cbl_branch of my zephyr fork https://github.com/bixivs/zep

[2018-09-14 18:58] nashif opened #9992 "cmake compiler cache failures in CI"
see https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/22294/4/console

[code]

[2018-09-15 01:52] #9978 closed

[2018-09-15 02:38] spoorthik opened #9993 "Few error codes in POSIX API implementation is not supported"
I referred [IEEE Std 1003.1-2017](http://pubs.opengroup.org/onlinepubs/9699919799/) documentation and figured out that some of the POSIX API implementation doesn't support all the return values and error codes. Are these listed error codes are optional to support? If so have we documented it somewhere?

POSIX API | Inconsistency observed in Zephyr implementation
-- | --
**pthread_create | Return v

[2018-09-15 02:43] nashif opened #9994 "irq_is_enabled not available on nios2"
when building, we get this:
[code]

[2018-09-15 02:43] nashif commented on #9994
@ramakrishnapallala can you please take a look?

[2018-09-15 08:38] j-shirazi commented on #7999
Thanks to you. My problem solved due to your notice.
In "sdk_config.h" I changed "BLE_6LOWPAN_LEGACY_MODE 1" to "BLE_6LOWPAN_LEGACY_MODE 0" and problem solved.

[2018-09-15 18:07] jhedberg opened #10003 "Bluetooth: Identity creation is incomplete through vendor HCI"
The hci_core.c code is failing to generate an IRK when reading static addresses from the controller, resulting in an inability to pair or reconnect with many devices.

[2018-09-16 13:36] #9520 closed

[2018-09-16 21:39] ceolin opened #10012 "MISRA-C Do not use feature from stdarg.h"
There a many undefined behaviours associated with features of stdarg.h, e.g:

- va_end not being used prior to end of a function in which va_start was used;
- The type of an argument is not compatible with the type specified to va_arg.

In Zephyr's kernel with have just few problems regarding it. In `k_thread_access_grant()` and `z_syscall_verify_msg()`.

part of #9552

[2018-09-16 21:53] ceolin opened #10013 "MISRA C - Review the use of memcpy, memcmp and memmove"
The usage of these functions should be reviewed to ensure that they are being called with parameters of compatible type. The following snippet is an example of a violation:

[code]

part of #9552

[2018-09-17 04:47] spoorthik commented on #9993
FYI: @ramakrishnapallala @nashif

[2018-09-17 08:17] nvlsianpu commented on #9308
related PR: https://github.com/zephyrproject-rtos/zephyr/pull/8837

[2018-09-17 08:49] GiulianoFranchetto commented on #9873
Hi,

any update on this issue?

[2018-09-17 08:57] SebastianBoe commented on #9992
Will get this fixed. Any information / half-baked-theories would be useful ...

[2018-09-17 09:07] carlescufi commented on #9873
Copying @kl-cruz who has more details on this flash.

[2018-09-17 09:30] Olivier-ProGlove commented on #9808
Zephyr MCUBoot variant relies on Zephyr drivers. There is no guarantee Zephyr drivers do not use Zephyr kernel API that relies on multithreading support. see my pull-request for the discussion: https://github.com/zephyrproject-rtos/zephyr/pull/8368

We have three solutions:
* Use `MULTITHREADING=y` for MCUBoot Zephyr's backend - current direction followed by @nashif
* Disable Zephyr kernel API tha

[2018-09-17 09:54] Olivier-ProGlove commented on #9761
Thanks @carlescufi I noticed it, I will start to rebase my logging subsystem pull-requests.

[2018-09-17 11:20] nvlsianpu commented on #5691
This request was already resolved/satisfied by NVS introduction which.

[2018-09-17 11:20] #5691 closed

[2018-09-17 11:30] SebastianBoe commented on #9992
Possible causes:

- [ ] The process that writes to the cache is killed mid-line
- [ ] Some cache entries are not parsable as a set(a b) code.
- [ ] The process that reads the cache does so while another process is mid-line in a write

[2018-09-17 12:54] Josh0027 opened #10022 "Porting Modbus Library: Need some guidance"
Good day! I am just starting to be active on this project and after my last botched PR, I need some advice and direction.
I am attempting to port this ModBus Library to Zephyr and although I am still learning on the steps, I can't seem to successfully compile it or link it. This is the link to the original library:

https://github.com/Jacajack/liblightmodbus

I first built the library by itself an

[2018-09-17 13:27] Josh0027 commented on #10022
Here is the updated log after I ported the library into Zephyr. Please advise me where I have made the mistake.

[stdout.log](https://github.com/zephyrproject-rtos/zephyr/files/2388720/stdout.log)

[CMakeLists.txt](https://github.com/zephyrproject-rtos/zephyr/files/2388723/CMakeLists.txt)

[2018-09-17 14:21] nashif opened #10026 "undefined reference to `__log_current_const_data_get' when using LOG_MODULE_DECLARE"
With this change: https://github.com/nashif/zephyr/commit/e94e0c987be5032bb6b76e32e6b45a4bcc43b702

I get
[code]

[2018-09-17 14:36] KillerLink commented on #9922
@iotsys I did not yet see that the length of data to be sent would be 0, where/how did you observe this? Anyways, it sounds like a different issue to me, i am not sure though.

[2018-09-17 15:24] Olivier-ProGlove opened #10028 "MCUBoot using W25Q SPI Flash not working (use of Zephyr semaphore)"
`spi_flash_w25qxxdv` still uses Zephyr semaphore kernel while MCUBoot uses `CONFIG_MULTITHREADING=n`. As discussed in various Github issues https://github.com/zephyrproject-rtos/zephyr/pull/8368, https://github.com/zephyrproject-rtos/zephyr/issues/9808 problems might exist when using Zephyr kernel API with `CONFIG_MULTITHREADING=n`.

When W25Q SPI Flash initializes itself, it checks if the Flash I

[2018-09-17 16:23] ceolin opened #10030 "MISRA C - Document Zephyr's code guideline based on MISRA C 2012"
We have to document our code guideline based on MISRA-C 2012 to help newcomer developers to contribute on Zephyr. Also this is important not only because of MISRA-C rules but because of patterns that we want to be followed across the project.

This document must be clear enough to make people no introduce MISRA-C violations.

part of #9552

[2018-09-17 16:35] ceolin opened #10031 "MISRA C - Enforce MISRA -C in Zephyr's CI"
In order to avoid further regressions we have to enforce MISRA-C guidelines in our CI infra.

Some static analysis tools can do this, e.g coverity and cppcheck[1].

Several rules can be checked without the need of a static analysis tool just using compiler options and coccinelle scripts, these options should be enabled as much as possible.

[1] - http://cppcheck.sourceforge.net/misra.php

[2018-09-17 16:50] #10003 closed

[2018-09-17 17:28] Josh0027 commented on #10022
Second scenario is I force the cmake to generate Unix Makefiles but it gives ma an error.  It looks like mixing -GNInja and -GUnix Makefiles is not good. Maybe this is also the reason I am seeing my first issue above?

Any ideas are welcome.

[stdout2.log](https://github.com/zephyrproject-rtos/zephyr/files/2389600/stdout2.log)

[CMakeLists2.txt](https://github.com/zephyrproject-rtos/zephyr/files/2

[2018-09-17 17:44] jhedberg commented on #9720
Could you verify that your thread stacks are large enough, before we investigate this any further? Too small thread stacks is a common cause for such issues. The most likely threads that can be at fault are the Bluetooth RX thread and the system workqueue thread.

[2018-09-17 17:48] JoeHut opened #10034 "Possible regression of #8815 ("Nordic: Directly accessing GPIOTE might create unstable firmware"...)"
With Zephyr 1.13 I ran into a similar issue as described in #8252, which was actually fixed in #8815. After a certain point I was unable to receive interrupts on a pin but could confirm with an logic analyzer that the state had changed. Similar to last time the issue was only seen when PWM was used as well. As a workaround, I switched to the hardware based nrfx pwm driver which solved the problem

[2018-09-17 17:58] erwango commented on #9883
This point has been discussed in #7013 and current proposed solution for this issue is: https://github.com/zephyrproject-rtos/zephyr/issues/7564.

[2018-09-17 18:04] erwango commented on #9883
If we agree on proposed solution, I propose to raise #7564 priority from low to medium, so it is implemented for 1.14 release.

[2018-09-17 18:15] JoeHut opened #10035 "nrfx PWM driver breaking API contract"
The nrfx shim introduced for PWM seems to break the API. While the older pwm_nrf5_sw driver and afaics all other pwm drivers comply to the API documentation of the second parameter in ``pwm_pin_set_cycles`` and ``pwm_pin_set_usec`` to pass the pin where pwm should be applied, pwm_nrfx actually passes the number of the channel. The actual pin that is mapped to this channel is configured via Kconfig

[2018-09-17 18:40] JoeHut opened #10037 "fade_led sample doesn't work with pwm_nrfx driver"
I tried to change the fade_led sample to support the pwm_nrfx driver introduced in v1.13. This results in a fail to set the pwm period.
Reason: The default in the pwm_nrfx driver for prescalers is 0, which means that a 16MHz clock is applied. The sample therefore sets a period of 320,000 cycles but the driver only supports max 32,768 cycles, so the clock has to be reduced to a frequency of 1MHz to

[2018-09-17 18:50] JoeHut opened #10038 "Inversed logic in fade_led sample for nRF boards"
According to the Readme the LED will start from dark and increase its brightness gradually before fading to darkness again. On the nrf52840_pca10056 this logic is inversed. The LED starts bright and becomes darker. There is currently no functionality in the pwm_nrf5_sw driver to inverse the polarity so either this functionality has to be added to the driver or a switch to the pwm_nrfx driver has t

[2018-09-17 19:34] ceolin opened #10041 "MISRA C - types that indicate size and signedness should be used instead of basic numerical types"
The basic numerical types of char, short, int, long, long long (C99), float, double and long double should not be used, but specific-length typedefs should be used.

In Zephyr we have, `zephyr/include/types.h` defining some specific-length types and we also have `stdint.h` definitions. On top of that several APIs are using neither of them. We must define one of them to use.

*note* this is not req

[2018-09-17 19:51] ceolin opened #10042 "MISRA C - Do not cast an arithimetic type to void pointer"
Conversion of an integer into a pointer to void may result in a pointer that
is not correctly aligned, resulting in undefined behaviour.

The only exception for this rule is `(void *)0`

part of #9552

[2018-09-17 21:02] dleach02 commented on #9883
I agree.

Although I do think we should fix the python script file for situations where the dts may have the led0 type of approach.

David

[2018-09-17 21:15] erwango commented on #9883
Sure

[2018-09-17 21:26] erwango commented on #9406
Once edts database generation is available, I propose to implement the following approach:

In edts, we'll get the following struct:
[code]
We should then be able to generate the following:
[code]
Then, we'll also need to provide default settings to Kconfig for UART and SPI:
[code]
This should be provided in a `zephyr/generated/config/board.defconfig` that should be parsed by Kconfig system so we

[2018-09-17 23:20] pfalcon commented on #9926
Yeah, sorry for brining different things under the same ticket ;-). I guess it could work as "beginning of new devel cycle brainstorming", but feel free to request moving different topics to different tickets.

Looks good. I just took freedom to reorder bullet points from easier/sooner to do down to requiring more time to do.

[2018-09-18 03:54] nashif opened #10043 "RISCv32 qemu configuration does not work with upstream qemu"
Tried latest qemu and no luck running Zephyr applications with the latest version from master.

@nategraff-sifive any hints?

[2018-09-18 09:17] aescolar opened #10054 "Logger thread spins forever if there is no backend"
A configuration with no backend registered will have the logger thread spin forever.

Instead having an assert at the start of the thread would be sensible, something like this: https://github.com/zephyrproject-rtos/zephyr/commit/fb0e038c75565b40550bcdf495cd53570a581b0f

As of now there is 2 Xtensa tests in CI with this issue.

[2018-09-18 10:54] vikrant8051 opened #10055 "nRF52: MPU Fault issue"
Hi,
This **zephyr/samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app** App in latest master branch
 works perfectly normal with Zephyr v1.12.99 (with last commit ba6763a187a347cfc825a2bece78e7d1ef28772d).

But with latest master branch or after v1.13 onward, I am facing issue of MPU FAULT intermittently.
If we set "LIGHT_CTL_TT" in publisher.c & configure buttons to publish Light CTL set (ackn

[2018-09-18 11:53] jhedberg commented on #10055
Have you verified that this is not because of some too small thread stack? You should check all threads, but the two most likely culprits are the Bluetooth RX thread and the system workqueue thread. It's not really worth investigating this further until stack overflow has been excluded as a potential cause.

[2018-09-18 12:14] vikrant8051 commented on #10055
1)
CONFIG_MAIN_STACK_SIZE=512 ......set to 1024
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048 ....set to 4096

even after that getting MPU_FAULT.

2)
If stack size is issue then it should also get replicate in case of 1.12.99 ...but it is not like that.

3)
There are some commit which are related to MPU after ba6763a187a347cfc825a2bece78e7d1ef28772d which may be cause of it.

4)
May be there is bug in A

[2018-09-18 12:26] jhedberg commented on #10055
There are many aspects of the system that can cause an increase stack consumption. You didn't mention the Bluetooth RX stack size. Why not? I'd recommend setting both it and the system workque to 4k. The Kconfig option for the RX stack is `CONFIG_BT_RX_STACK_SIZE`. It'd also be good to get the exact consumption numbers for all threads, for which you'll need to enable CONFIG_INIT_STACKS and CONFIG_

[2018-09-18 12:42] vikrant8051 commented on #10055
Now I've set

CONFIG_MAIN_STACK_SIZE=2048
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=4096
CONFIG_BT_RX_STACK_SIZE=4096

For other configuration, please refer
https://github.com/vikrant8051/zephyr/blob/fix_bugs10/samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/prj.conf

After that I got following log ....

prio recv thread stack (real size 448): unused 336      usage 112 / 448 (25 %)
recv thread sta

[2018-09-18 12:44] vikrant8051 commented on #10055
Is it because of adv_stack ?
How to increase its size ?

[2018-09-18 12:54] carlescufi commented on #10055
@vikrant8051 this does looks suspicious.
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/mesh/adv.c#L53

Can you try increasing that one?

[2018-09-18 13:03] vikrant8051 commented on #10055
I simply copy & paste this app from 1.13 to v1.12.99
here too I got

But that does't cause any MPU_FAULT.

@carlescufi I will increase it & re-check.

[2018-09-18 13:11] vikrant8051 commented on #10055
@carlescufi I set it to 1024 but no effect.

[2018-09-18 13:17] galak opened #10057 "stm32f2 flash controller device tree is missing reg"
The flash-controller@40023c00 in dts/arm/st/stm32f2.dtsi is missing a reg property.  Also, no compat or interrupts or label.

[2018-09-18 13:34] SebastianBoe opened #10058 "The test mem_pool_threadsafe sporadically hangs forever"
The test "mem_pool_threadsafe" sporadically hangs forever when run with qemu_cortex_m3.

This causes sporadic CI failures.

It does so about 30% of the time.

Steps to reproduce:

git checkout 8fc5fd55dec1f0808badc5508ca8cca497940f3e
$ZEPHYR_BASE/scripts/sanitycheck -T$ZEPHYR_BASE/tests/kernel/mem_pool/mem_pool_threadsafe -p qemu_cortex_m3

Repeat up to 5 times or so if it does not trigger immedia

[2018-09-18 13:57] rakons opened #10060 "Create a function in BT stack to check if given device is already bonded"
We are missing an API function that would allow us to check if selected device is already bonded.
Usage:
When searching for a device as a HOST I may wish to connect only with the devices that are already bonded. Then I may use passive scanning only and if a device is detected I could have a possibility to check if it was bonded already. Something like:

[code]

[2018-09-18 13:59] aescolar opened #10061 "native logger backend: control verbosity from command line"
For the native boards allow controlling the logger backend verbosity from the executable command line.
~& increase logger buffer use from 1 to full buffer size~
& merge the char out function with pre_print

[2018-09-18 14:01] galak commented on #10057
I noticed this by the dtc warning:

[code]

[2018-09-18 14:02] aescolar commented on #10061
Related to #6044

[2018-09-18 15:10] SebastianBoe commented on #10058
AFAICT this is not a recent regression, but something that has been able to happen for a long time, at least before 1.11.0.

So perhaps it has always been sporadically failing.

[2018-09-18 16:06] #3806 closed

[2018-09-18 16:08] nategraff-sifive commented on #10043
Latest QEMU has different machines than the QEMU in Zephyr SDK. You'll want to build with "-DBOARD=hifive1" and then run QEMU with the argument "-machine sifive_e".

We should point the qemu_riscv32 board at the riscv32_fe310.dtsi since the "sifive_e" target is equivalent to an SiFive FE310, the same as on the HiFive1.

[2018-09-18 16:28] jhedberg commented on #10060
Removed the maintainers (@sjanc @Vudentz) from Assignees - I just wanted them to be involved in the discussion

[2018-09-18 18:17] pfalcon commented on #7405
Ok, so one of the reason this was backlogged is because I wanted to check in detail how fd table is implemented in Newlib, to avoid going for yet another NIH solution.

However, by now we seem to good stakeholding to implement this on Zephyr level:

1. In https://github.com/zephyrproject-rtos/zephyr/pull/7326#issuecomment-387751442 , @nashif : said that fd table support should be independent of a

[2018-09-18 21:00] galak commented on #7760
@tejlmand Can you take a look at this and see how we should fix it.

[2018-09-18 23:13] #10057 closed

[2018-09-19 03:15] #7760 closed

[2018-09-19 06:18] ioannisg commented on #10055
@vikrant8051 @carlescufi

It looks like we try to execute from SRAM.

[2018-09-19 06:32] vikrant8051 commented on #10055
Hello @ioannisg,
Is it due to any bug in App itself ?

[2018-09-19 06:59] mandarcthorat1 opened #10089 "[Coverity CID :188174] Control flow issues in /tests/crypto/mbedtls/src/mbedtls.c"
Static code scan issues seen in File: /tests/crypto/mbedtls/src/mbedtls.c
 Category: Control flow issues
 Function: test_mbedtls
 Component: Tests
 CID: 188174
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-19 06:59] mandarcthorat1 opened #10090 "[Coverity CID :188173] Null pointer dereferences in /subsys/net/ip/route.c"
Static code scan issues seen in File: /subsys/net/ip/route.c
 Category: Null pointer dereferences
 Function: net_route_del_by_nexthop_data
 Component: Networking
 CID: 188173
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-19 06:59] mandarcthorat1 opened #10091 "[Coverity CID :188172] Null pointer dereferences in /subsys/net/ip/route.c"
Static code scan issues seen in File: /subsys/net/ip/route.c
 Category: Null pointer dereferences
 Function: net_route_add
 Component: Networking
 CID: 188172
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-19 06:59] mandarcthorat1 opened #10092 "[Coverity CID :188171] Null pointer dereferences in /lib/cmsis_rtos_v1/cmsis_thread.c"
Static code scan issues seen in File: /lib/cmsis_rtos_v1/cmsis_thread.c
 Category: Null pointer dereferences
 Function: osThreadCreate
 Component: Other
 CID: 188171
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-19 06:59] mandarcthorat1 opened #10093 "[Coverity CID :188170] Concurrent data access violations in /lib/posix/pthread.c"
Static code scan issues seen in File: /lib/posix/pthread.c
 Category: Concurrent data access violations
 Function: pthread_create
 Component: Other
 CID: 188170
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-19 06:59] mandarcthorat1 opened #10094 "[Coverity CID :188169] Null pointer dereferences in /subsys/net/ip/rpl.c"
Static code scan issues seen in File: /subsys/net/ip/rpl.c
 Category: Null pointer dereferences
 Function: dio_timer
 Component: Networking
 CID: 188169
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-19 06:59] mandarcthorat1 opened #10095 "[Coverity CID :188168] Concurrent data access violations in /lib/posix/pthread.c"
Static code scan issues seen in File: /lib/posix/pthread.c
 Category: Concurrent data access violations
 Function: pthread_create
 Component: Other
 CID: 188168
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-19 06:59] mandarcthorat1 opened #10096 "[Coverity CID :188167] Concurrent data access violations in /lib/posix/pthread.c"
Static code scan issues seen in File: /lib/posix/pthread.c
 Category: Concurrent data access violations
 Function: pthread_create
 Component: Other
 CID: 188167
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-09-19 07:00] tejlmand commented on #7760
@galak Will do

[2018-09-19 07:04] ioannisg commented on #10055
I have no idea.

All I see by inspecting the fault dump is that:
- the MPU fault is due to program trying to execute from SRAM, which is not allowed for nRF52 builds that are supposed to be XIP
- the fault is actually occurring in ISR. This could be some hardware ISR or, perhaps, even pendSV or SVC.

@jhedberg @carlescufi  some debugging, here, might be needed, IMHO.

@vikrant8051 (could you enabl

[2018-09-19 09:56] MarekPieta opened #10099 "Conflicting types of smp_init in zephyr/subsys/bluetooth/host/smp.c"
Activating SystemView causes following compilation error for subsys/bluetooth/host/smp.c :

[code]

It looks like internal smp_init function conflicts with function with the same name included in header.

[2018-09-19 12:03] carlescufi commented on #10055
@vikrant8051 could you please try this for us:

`git revert d8d5ec3f913e69b8b2d3bf46692da818567402d9`

And run the test again.

[2018-09-19 12:15] carlescufi commented on #10055
@vikrant8051

Could you try to bisect?

[code]

Then test each revision presented to you by `git` and type:

`git bisect good` if it works
`git bisect bad` if it doesn't work

[2018-09-19 12:20] nordic-krch opened #10102 "/tests/subsys/logging/log_core compilation fails on nios2 platform"
Compilation fails with error:

It is not a memory size issue but rather looks like invalid instruction used.

Alter_max10 and qemu_nios2 platforms has been  disabled in that test in #10045.

[2018-09-19 12:38] #10026 closed

[2018-09-19 12:51] #9851 closed

[2018-09-19 13:16] #9971 closed

[2018-09-19 13:16] vikrant8051 commented on #10055
@carlescufi
After executing following command to remove d8d5ec3f913e69b8b2d3bf46692da818567402d9 I'm not facing MPU_FAULT issue.

[2018-09-19 13:27] carlescufi commented on #10055
@vikrant8051 thank you for testing this.
@andyross seems like #9620 introduces MPU faults for some users

CC @nashif

[2018-09-19 13:31] nvlsianpu commented on #9748
@bixivs Is it possible that you will provide content of nffs partition (flash adresses <0x0007a000 0x00006000) )which cause the failure (as a RAW binary file or InteHex)?

[2018-09-19 13:41] kapi-no opened #10105 "Bluetooth: GATT find info response"
There is probably a bug in ```gatt_find_info_rsp``` function located in the ```subsys/bluetooth/host/gatt.c``` file. Similar GATT response functions may also be affected.

It is assumed in this function that the group of discovered descriptors uses the same type of UUID: either 16-bit or 128-bit one. Now, imagine following scenario:

There is 128-bit charactersteristic with 2 descriptors within it

[2018-09-19 14:09] jarz-nordic commented on #8872
@koffes : New shell is in upstream master.

[2018-09-19 14:37] bixivs commented on #9748
@nvlsianpu Sure, on the attached zip you can find two files. The "stillworking" is the content of the storage partition before the fault and the "failing" after the fault

[nffs_issue.zip](https://github.com/zephyrproject-rtos/zephyr/files/2397478/nffs_issue.zip)

[2018-09-19 16:34] andyross commented on #10055
Will investigate.  Pretty sure the handling is correct now, but the problem was subtle and I might have messed something up...

[2018-09-19 17:31] dcpleung commented on #8559
I played with it a bit more. However, it was not possible to parallelize pyelftools via concurrent.futures. The pyelftools uses one file stream object so using threads does not work. This is because of all the file seeking/reading and it cannot be done with one file stream object. Using processes does not work either, as Python cannot pickle pyelftools data fields correctly.

[2018-09-19 19:20] nashif opened #10112 "Add shell support to ztest"
Main benefits:

- To control execution of tests and interactively run specific tests.
- To interactively start tests and capture output and and to stop depending on BOOT_DELAY which depending on the platform can be too late.

What should be done:
- run a complete testsuite
- list tests
- run individual tests
- ..

[2018-09-20 07:56] hakonfam commented on #10105
_Per response_ it is only valid to have either 16 bit or 128 bit. As specified in the Core spec 5.0.

![firp](https://user-images.githubusercontent.com/1547348/45803971-2de9bf80-bcbb-11e8-90fd-c05404ea06b0.PNG)

[2018-09-20 07:56] SebastianBoe commented on #7744
@ulfalizer : Would you mind splitting up this issue, perhaps with checkmarks for each warning, so that it is possible to follow the progress?

[2018-09-20 08:05] Vudentz commented on #10105
Nope, it actually checks if attribute is of the same type an otherwise it stops:

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/att.c#L437

I know it works since BlueZ does use it and I got correct responses.

[2018-09-20 08:17] kapi-no commented on #10105
Yes, you are both right. I noticed a problem with GATT discovery in the aforementioned scenario, but I incorrectly identified the cause of it.

Actually, it seems that ```gatt_discover_next``` function (called after splitting the discovery in 2 steps: one for 16-bit descriptor and one for 128-bit descriptor) incorrectly adjusts handle range and doesn't permit to start the discovery procedure with

[2018-09-20 08:18] avisconti commented on #8915
I'm going to close this issue as it is open since long time. I'm summarizing all the findings hereafter:

- Issue cause: suspected h/w bug in STM32F4xx SoC family, even if not clearly identified.
- It happens only in Standard mode (100KHz). This issue DOES NOT happen in fast mode (400KHz).
- Suggested workaround:
      Relax the I2C clock to something like 88KHz using LL_I2C_SetClockPeriod() routi

[2018-09-20 08:18] #8915 closed

[2018-09-20 08:58] rakons opened #10122 "Bluetooth API to access bond data"
There currently is no API nor any pre-defined polices what to do with multiple bonds - if new bond is created witch should be removed?

There should be an API to access and identify bonds and delete selected ones. Then some kind of automatic policy configuration may be implemented - but this is nice to have feature. Having an option to access and manually delete bond data is a must.

[2018-09-20 09:17] jhedberg commented on #10122
@Vudentz @sjanc @carlescufi FYI

[2018-09-20 09:28] carlescufi commented on #10122
@rakons what's the rationale behind using an index?

[2018-09-20 09:28] rakons commented on #10122
For your second question, sometimes it would be great to have some user data that may be added to a bond. For example - Central is pairing with keyboard and mouse. When new device is bonding and it is a mouse, I wish to remove old mouse bond. I think that the easiest way to detect that this bond references to a mouse would be if we would have some possible to set and get user data together with a

[2018-09-20 09:29] carlescufi commented on #10122
+1 to that, we have had multiple requests in the past in this direction. That said, this can of course be achieved at the application level, but I think it makes sense to incorporate it in the Bluetooth subsystem.

[2018-09-20 09:30] rakons commented on #10122
@carlescufi RAM usage - you do not have to copy all the data into the memory, you may iterate through them, but just simpler than using foreach construction that uses callback, just:

[code]

[2018-09-20 09:32] carlescufi commented on #10122
@rakons right. Not sure if I like the concept of an index, but then maybe have an iterator instead (`start()`, `next()`). Thoughts?

[2018-09-20 09:33] rakons commented on #10122
@carlescufi Only if it would work safely if multiple threads would like to iterate the bonds - maybe it makes not a big sense to iterate bonds from multiple threads, but is should be safe at least.

[2018-09-20 09:41] carlescufi commented on #10122
@rakons good point. Let's hear from @jhedberg and the others as well.

[2018-09-20 09:41] jhedberg commented on #10122
A "foreach" helper would at least be consistent with existing practice, e.g.:

[code]

[2018-09-20 09:43] jhedberg commented on #10122
Also, it feels a bit weird to expose an internal index to the app since it leaks something about the internal implementation (e.g. makes sense if there's an array internally, but would be inefficient if it's a linked list)

[2018-09-20 09:47] jhedberg commented on #10122
Regarding attaching user data to a bond - not opposed to it. The internal representation of a bond is the bt_keys struct, so it'd need to get `void *data'; size_t data_len;` members, and the stack would then take care of writing/reading to/from flash. And then there'd be associated `bt_bond_get_data()` and `bt_bond_set_data()` helpers.

[2018-09-20 09:47] carlescufi commented on #10122
@jhedberg +1 to the `foreach` proposal. I dislike exposing the index as well.

[2018-09-20 10:04] rakons commented on #10122
@jhedberg Be carreful with saving pointers as it might invalidate. I think it is not the best idea to just serialize whole data, it may be just a pointer to a flash sometimes. It may also be pointer to some structure where some fields have to be saved and the rest may be recreated, or the saved values would not be valid after restart. I rather think about moving the duty of saving and restoring us

[2018-09-20 11:29] jhedberg commented on #10122
@rakons understood - I still think we might be able to do better than leave the storing up to the application. Instead of adding any pointers to bt_keys the get/set APIs could also just map straight to the settings API, i.e. `settings_set_value()` and `settings_get_value()`, i.e. the RAM storage would be provided by the app.

[2018-09-20 11:51] carlescufi commented on #10122
@rakons have you looked at the settings subsystem and how BLE uses it? unfortunately those choices have already been made in order to preserve filesystem independence and for other reasons.

[2018-09-20 11:54] rakons commented on #10122
I am looking into it right now.

[2018-09-20 12:09] jukkar opened #10127 "Cannot use new shell with native_posix"
I am seeing this when compiling new net-shell for native_posix and uart.

[code]

This prevents merging of #9825 because sanitychecker fails.

[2018-09-20 12:16] #8730 closed

[2018-09-20 12:26] rakons commented on #10122
Well... the key-value strings is not the best option in embedded world. As far as string as a key seems reasonable, string as a value is an overkill (still in embedded world).

But, without touching the API itself, we may add just simple base64 coder/decoder to process binary data blobs effectively.

[2018-09-20 13:09] aescolar commented on #10127
there is no UART in native_posix..

[2018-09-20 13:15] nashif opened #10130 "sanitycheck errors with "not well-formed text" warning"
[code]

[2018-09-20 13:27] jhedberg commented on #10122
There is work ongoing to do stream-based reading/writing of settings data, that wouldn't require intermediate buffers in PR #9521.

Regarding the settings APIs I mentioned, it's actually not the get/set that this would map to. We may need the app to provide callbacks for data read from flash since it's only read from there upon settings_load().

[2018-09-20 13:32] nvlsianpu commented on #9748
@bixivs I'm able to reproduce failure you encountered. So far it fails for your peculiar NFFS configuration (with the default one it's not failing) - I will experiment with configuration a little and give you know.

[2018-09-20 16:13] nashif commented on #9992
https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/22778/5/console

[2018-09-20 18:18] pfalcon commented on #10127
It's the same issue as in https://github.com/zephyrproject-rtos/zephyr/pull/5947 (which was skipped, unresolved).

And of course, the baseline problem is that **shell** should not deal with *uart*, **shell** should deal with **console**, and **console** should deal with **uart**. As in many places in Zephyr, we lack proper layering.

[2018-09-20 22:40] erwango opened #10134 "sensor: vl53l0x: Warning message when building in ext/hal/st/lib/sensor/vl53l0x"
When building samples using vl53l0x sensors,
following warning message pops up:
[code]

[2018-09-21 00:45] galak commented on #3689
how far did you get with llvm, any instructions on how to replicate what you have so far?

[2018-09-21 01:55] galak opened #10137 "sample/basic/button should configure expected pin configuration"
In sample app samples/basic/button/src/main.c

we have:

[code]

Before we used DTS for buttons, the board.h wasn't setting SW0_GPIO_FLAGS so we'd get the default behavior.  Now that DTS is generating SW0_GPIO_FLAGS, we aren't getting the same flags set.  As most (if not all) have the flag portion set to GPIO_INT_ACTIVE_LOW only.

[2018-09-21 04:54] vikrant8051 commented on #10055
@nashif @carlescufi @andyross
After merging https://github.com/zephyrproject-rtos/zephyr/pull/9724 in latest local master branch, I am not facing issue of MPU_FAULT while testing.

[2018-09-21 05:56] aescolar commented on #10127
I will try to add today or so a UART for native_posix.

[2018-09-21 06:31] DWagenk commented on #10137
Just ran into the same problem with stm32 boards (using them for the first time since gpio configuration was moved over to device-tree). Setting the appropiate flags in Boards .dts file solved it.
[code]
But I guess `GPIO_INT_EDGE` should go to the application, so to button sample in this case, since the decision, if `GPIO_INT_EDGE`, `GPIO_INT_DOUBLE_EDGE` or `GPIO_INT_LEVEL` is used is applicatio

[2018-09-21 07:34] grochu commented on #9937
Maybe CCC was not the best example, as it is stored persistently for bonded peers. The use case we were thinking of, requires context registration just for the lifetime of a connection, not persistently for the lifetime of a bond - but this can be considered too. Any ideas what it could be used for?
The persistent implementation would be slightly heavier - would require accesses to non-volatile st

[2018-09-21 08:33] SebastianBoe commented on #9992
I see from those logs that there is a new symptom (or a new root cause). CMake runs the command

[code]
and fails with the error:

[code]

I cannot yet explain how this can happen. But I can say that it is not a permission issue, as I have tested what happens when you have insufficient permissions, and the error message is different (Permission denied). Note that file(APPEND should create the file

[2018-09-21 11:05] hersp opened #10143 "Why does BT_SETTINGS require PRINTK?"
Hi

How come BT_SETTINGS  requires PRINTK to be enabled ?
(https://docs.zephyrproject.org/1.13.0/reference/kconfig/CONFIG_BT_SETTINGS.html)

I would like to enable BT_SETTINGS without having a console, and I cannot see a reason for having this dependency,.

Peter

[2018-09-21 11:16] RonAmihai commented on #9628
Any news?

[2018-09-21 11:20] carlescufi commented on #9628
@RonAmihai yes, we are about to release a version of nrfx with USB support on it. After that, we will push a PR that makes use of it. Should all happen in the next few days.

[2018-09-21 12:26] MariuszSkamra opened #10146 "[bluetooth][PTS] Getting Connection failed to be established ocasionally"
Trying to connect to PTS, Im getting connection failed to be established occasionally.

Reproducible 2/10
TestCase: GATT/CL/GAD/BV-03-C
IUT: Zephyr, nRF52840PDK

Reproduce with bt shell:

Procedure repeats few times

[2018-09-21 12:28] MariuszSkamra commented on #10146
[conn_failed_to_be_estab_filtered.zip](https://github.com/zephyrproject-rtos/zephyr/files/2405298/conn_failed_to_be_estab_filtered.zip)

[2018-09-21 12:32] nashif commented on #10043
@nategraff-sifive thanks, that works, I am getting a few issues on riscv32 now though, not sure what is going on, can you reproduce those on the actual hifive1 board?

See https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/22802/3/tests

[2018-09-21 12:34] nashif commented on #10043
@nategraff-sifive note that the above is using a pre-release of the SDK, so you might want to download that version of the SDK to reproduce or using a recent qemu.

https://github.com/zephyrproject-rtos/meta-zephyr-sdk/releases/tag/0.9.4-rc3

[2018-09-21 12:43] nashif commented on #10143
I think vprintk is used here, it is not for printing to console.

[2018-09-21 12:49] #10092 closed

[2018-09-21 13:05] jhedberg commented on #10143
Yep, if you check `subsys/bluetooth/host/settings.c` you'll see that there are a few `snprintk()` calls there which require PRINTK to be enabled in Kconfig.

[2018-09-21 13:06] jhedberg commented on #10143
That said, do we have a console dependency for CONFIG_PRINTK? If so, that probably needs to fix so that snprintk, etc are still available even though there's no console.

[2018-09-21 13:21] hersp commented on #10143
CONFIG_PRINTK is dependent of CONSOLE so using snprintf instead would probably be better.

[2018-09-21 13:28] jhedberg commented on #10143
I think it'd be more appropriate to fix the printk-family of functions Kconfig, so that you can select the non-console related ones independent from the console. We use printk since it's more light-weight than printf (e.g. less stack consumption)

[2018-09-21 13:29] jhedberg commented on #10143
Another reason to not use snprintf: it would increase the image size for any build that does have a console, since then you'd have both printk and printf in the image.

[2018-09-21 13:35] hersp commented on #10143
That sounds right, then the current usage of snprintf other places should probably also eventually  be cleaned(e.g. subsys/settings/src/settings.c)

[2018-09-21 14:09] #10096 closed

[2018-09-21 14:10] nniranjhana commented on #10095
Fixed by #10106

[2018-09-21 14:10] #10095 closed

[2018-09-21 14:19] nashif opened #10149 "Make tickless kernel the default mode"
Move to tickless kernel by default.

Should address the issues below as well as set the default to tickless kernel

- [ ] #3651: add tickless idle and kernel support to RISCV32 pulpino
- [ ] #7048: Tickless Kernel Timekeeping Problem
- [ ] #7193: tickless and timeslicing don't play well together
- [ ] #8257: Unify KERNEL_TICKLESS and KERNEL_IDLE
- [ ] #9627: Clean up timeout handling
- [ ] #9904:

[2018-09-21 14:30] carlescufi commented on #10149
CC @pizi-nordic @cvinayak

[2018-09-21 14:33] #10090 closed

[2018-09-21 14:33] #10091 closed

[2018-09-21 14:43] galak opened #10150 "Getting LLVM work on ARM"
This issue is to track activity related to building Zephyr with LLVM for ARM architectures.

[2018-09-21 14:55] galak opened #10152 "gitlint complains of apostrophe in user name"
In:

https://github.com/zephyrproject-rtos/zephyr/pull/10145

The user's name was:

Signed-off-by: Bryan O'Donoghue <pure.logic@nexus-software.ie>

And gitlint complained:

1: UC2 Signed-off-by: must have a full name

[2018-09-21 15:03] galak commented on #8900
Will add @agansari as the owner of this

[2018-09-21 15:27] pfalcon commented on #7405
@GAnthony, @rlubos : If you'd have any comments.

@mike-scott : Would be nice to get comments from you re: whether we should switch to fdtable for sockets or have it configurable vs the current scheme. That's critical choice re: deciding if we can treat fdtable as another "offloading point" (may help with network offloaing (or not)) or shouldn't do that.

[2018-09-21 15:50] galak opened #10155 "Add device tree support to eth_mcux.c"
Look at adding device tree support for eth_mcux driver/device.  The #10097 has a reasonable example of how to do this.

[2018-09-21 15:51] galak commented on #10155
@MaureenHelm and @pfalcon fyi!

[2018-09-21 15:59] nategraff-sifive commented on #10043
@nashif I'll take a look 👍

[2018-09-21 16:05] erwango commented on #10137
Does it happened with  https://github.com/zephyrproject-rtos/zephyr/pull/9551?

[2018-09-21 16:07] nashif opened #10157 "Use DTS to generate table of supported HW in board documentation"
Right now we generate the table of supported hardware manually and it is difficult to keep it in sync with the actual hardware support in the tree, for example:

https://docs.zephyrproject.org/latest/boards/arm/frdm_k64f/doc/frdm_k64f.html#supported-features

This table could be generated from DTS information using a sphinx plugin that takes the EDTS data as input.

[2018-09-21 16:08] galak opened #10158 "Have support for probot with Zephyr"
Probot (https://probot.github.io/apps/) has a number of interesting abilities and it would be nice if we supported it as part of our infrastructure.  Here are some use for:

1. Auto labeling of PR based on files that are modified in the PR (https://github.com/probot/autolabeler)
2. Mark a PR as from a first time contributor
3. Add the ability to rebase from a comment in a PR

We can look into thin

[2018-09-21 16:09] galak commented on #10157
@erwango fyi, another usage for edts

[2018-09-21 16:49] #10152 closed

[2018-09-21 17:29] #10055 closed

[2018-09-21 18:19] pfalcon commented on #6782
@dbkinder: Are we ready to enable PDF generation/download for http://docs.zephyrproject.org/ yet? I could use some re-reading of the docs with a PDF on a plane, but ... bummer.

[2018-09-21 19:38] nashif commented on #6782
@pfalcon you can already create PDFs. You can also generate html and read it on the plane, unless you want to read things on some special device.

[2018-09-21 19:39] nashif commented on #6782
@dcpleung isnt this resolved already?

[2018-09-21 20:58] andyross commented on #10149
Refactoring in preparation up at #10160 -- that shrinks the driver interface (a lot) and cleans up the intent of the behavior.  It doesn't actually change the way the kernel or drivers work, but it enables a simpler rewrite of both.

[2018-09-21 23:27] pfalcon commented on #4902
To clarify, this was opened from Linaro side. But I see that internal ticket tracking this feature was closed. So, let me close this too to avoid ticket pile-up. This can be reopened if there's interest and good usecase to have this in tree (vs out of tree).

[2018-09-21 23:27] #4902 closed

[2018-09-22 02:07] nashif commented on #6782
some... to get text up I had to install thousands :)

[2018-09-22 19:15] nashif opened #10164 "logger sample fails on qemu_xtensa due to lack of backend"
Getting no output on both, see PR #10163 and the CI results.

[2018-09-22 21:18] pfalcon opened #10165 "threads: Need to store thread name for debugging purposes"
I don't know how this was overlooked for so long, but if corresponding debugging options are enabled, we should store a thread name, just the same as with a corresponding option enabled (CONFIG_THREAD_STACK_INFO), we store stack size info.

This can be see as a follow up to https://github.com/zephyrproject-rtos/zephyr/pull/10044 - with k_call_stacks_analyze() gone, which itself worked around lack

[2018-09-23 01:49] nashif commented on #10165
there is a wip PR https://github.com/zephyrproject-rtos/zephyr/pull/9394

[2018-09-23 14:03] lgl88911 opened #10166 "config shell & bt shell same time cause fail"
Hi,pals:
I find eable the config same time, will fail:
[code]
the log:
[code]
if disable CONFIG_SHELL or other config will pass.
The means bt shell cmd and shell history function can't co-exist. This is a issue or sepc？Can support bt shell cmd using history function? Thanks !

[2018-09-23 14:07] pfalcon commented on #10165
Ah, cool, thanks for working on this. My motion was to close this ticket then, but maybe you'd want to use it as "Fixed: " reference there, so leaving as is, but feel free to close otherwise.

[2018-09-23 15:43] #8880 closed

[2018-09-24 05:12] punitvara commented on #9993
@spoorthik @ManojSubbarao This is not bug. To support each error code, unsupported or todo may need to added or rearrange some of the code.

[2018-09-24 07:53] #10099 closed

[2018-09-24 08:17] aescolar commented on #10164
Regarding the native_posix case:
it was working on: 86442038e94815752ecedf0983cf0a8a64eca04e
it was broken on: 68249ce96622979d000c10c89e5e5192802b931b
(after merging #9362)

[2018-09-24 09:37] pizi-nordic commented on #9904
Conclusions from off-line meeting between @nashif, @andyross, @cvinayak, @carlescufi and @pizi-nordic:
- Tickless mode should be default operating mode of Zephyr.
- After transition to tickless, we should consider removing other operating modes.
- The "tick" should remain as a time unit inside kernel (all kernel timers will have tick-limited granularity).
  This is needed as some architectures hav

[2018-09-24 10:00] aescolar commented on #10127
@nordic-krch , @jarz-nordic : Why is the new shell depending on a CONSOLE config option if it is not using it?

[2018-09-24 10:27] #10122 closed

[2018-09-24 10:34] carlescufi commented on #10060
@rakons is this fixed by #10128 ?

[2018-09-24 10:52] rakons commented on #10060
Taking bt_le_set_auto_conn into account, I think we can get rid of this function.

[2018-09-24 10:55] carlescufi commented on #10060
Closing as per [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/10060#issuecomment-423937197)

[2018-09-24 10:55] #10060 closed

[2018-09-24 11:08] pfalcon commented on #10127
@nordic-krch :

You probably should say which console you mean, as we have many "consoles" in Zephyr. If you mean subsys/console/ , yep, it needs further improvements based on the different usecases. RFCs and patches are welcome. Note that I foresee it going into the POSIX direction re: API.

[2018-09-24 11:22] jukkar opened #10178 "Depend on issue in Kconfig template file"
I have a networking specific Kconfig template file used in #8816
My Kconfig template file has this thing setup there
[code]

I am trying to use the template like this:
[code]
When using `make menuconfig` and when both NET_TCP and NET_LOG are enabled, the logging option is not shown and when searching NET_TCP_LOG_LEVEL in menuconfig, I see this:
[code]

If I have only one setting in module-dep, the

[2018-09-24 11:31] aescolar commented on #10127
I think we need 2 new issues linked to this one:
* The new shell (`CONSOLE_SHELL`) can only be compiled on boards with `SERIAL` but it does not set the dependency in its Kconfig options
* The new shell uses `CONSOLE` kconfig options, even though it does not use `CONSOLE`.

@jarz-nordic : Do you agree? will you create the issues or prefer me to do it for you?

[2018-09-24 11:50] jarz-nordic commented on #10127
Hi,
In my opinion current UART backend implementation for shell must be changed to get rid off CONSOLE dependencies. It should be looking for SERIAL instead.
CONSOLE could be simply one more shell backend.

[2018-09-24 12:32] SebastianBoe commented on #9992
Have added more debug information in PR #11027 . Will investigate when it triggers with the same symptoms again (AFAICT it has not triggered for a week now).

[2018-09-24 12:50] yashi opened #10182 "Zephyr doesn't support TI Code Generation Tools"
Currently Zephyr doesn't support TI's CGT (Code Generation Tools).  TI's CCS (Code Composer Studio) uses CGT as the compiler.

I'd like to support it.  To do that, I've discussed with @SebastianBoe (sebo) on IRC channel how we should support non-GCC compilers.  sebo suggested to create a compiler wrapper or a compiler driver as he called.

Hi @SebastianBoe ,

As we talked on the irc channel, I've

[2018-09-24 13:04] SebastianBoe commented on #10182
Hi, I was not able to follow all of the code, but this looks like an approach we can work with.

[2018-09-24 13:07] pdunaj commented on #9364
Moved from my fork to here before any more diversions happen.

[2018-09-24 13:18] pdunaj opened #10186 "GPIO callback disable has no effect due to _gpio_fire_callbacks"
Function `_gpio_fire_callbacks` triggers callbacks for pins present in mask passed as an argument.

This infrastructure will not work correctly when application disables callbacks for multiple pins from a currently handled callback.

E.g.
4 pin callbacks are registered (A...D). Let's assume 2 are fired (A and B) at the same time.
Interrupt handler is triggered in driver code. It sets bits correspo

[2018-09-24 13:52] dleach02 commented on #10137
@DWagenk, to me this seems like a board level configuration since the board has been put together a certain way (unless it is some port/gpio that is more flexible).

[2018-09-24 15:07] rmstoi opened #10188 "net: wrong dst mac address in echo reply"
If echo request is sent twice to Zephyr with same IP address but with different MAC address, the second echo reply sent by Zephyr has wrong (previous) destination MAC address.

[echo-reply-wrong-mac.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2411350/echo-reply-wrong-mac.pcap.gz)

[2018-09-24 15:42] nvlsianpu commented on #9748
https://github.com/apache/mynewt-nffs/issues/10

[2018-09-24 15:50] ulfalizer commented on #10178
@jukkar
This is by design, though designs can be argued. See the 'caveats' section in https://github.com/torvalds/linux/blob/master/Documentation/kbuild/kconfig-macro-language.txt.

`$()` is currently limited to producing (part of) a single token, and can only produce symbol names/strings. This makes sense inside quotes, as you don't want `"foo $(bar) baz"` to break if `$(bar)` expands to somethin

[2018-09-24 16:05] ulfalizer commented on #10178
Looks like Make also refuses to create a variable with an empty name:

[code]

gives

[code]

[2018-09-24 16:28] aescolar opened #10190 "The new shell can only be compiled on boards with SERIAL but it does not set the dependency in its Kconfig"
The new shell (CONSOLE_SHELL) can only be compiled on boards with SERIAL but it does not set the dependency in its Kconfig options

Related to #10127

[2018-09-24 16:29] aescolar opened #10191 "The new shell uses CONSOLE kconfig options, even though it does not use CONSOLE."
The new shell uses CONSOLE kconfig options, even though it does not use CONSOLE.

Related to #10190 & #10127

[2018-09-24 16:33] aescolar opened #10192 "SHELL asserts when pressing tab"
Pressing the tab key on an empty line causes the shell to assert on:
https://github.com/zephyrproject-rtos/zephyr/blob/e59b8cb/subsys/shell/shell.c#L151

[2018-09-24 16:40] aescolar opened #10193 "Shell should not use `assert()`"
The shell subsystem includes "assert.h" and uses `assert()` but should not.
It should use Zephyr's macros instead.

[2018-09-24 17:02] ulfalizer commented on #10178
Hmm... looks like that doesn't flag an error currently though. The only check is that you don't generate an empty symbol name when expanding a macro.

Expansion probably ought to check that valid symbol names are generated, along with an added check for trying to create a preprocessor variable with an empty name. It's a bit mixed up now. Might be more harmful than useful to allow creating Kconfig

[2018-09-24 17:09] nashif commented on #10164
I am not sure I am following this, why does it need a special logger backend? it was logging just fine with old logger to the console. How is this different from qemu_x86 or qemu_nios2? What logger backends do those have?

[2018-09-24 17:42] aescolar opened #10195 "Shell dereferences invalid pointer when printing demo command help"
On a shell over uart, typing "demo\r" without any option causes a bad pointer de-refence:

==30417==    at 0x804AD0C: _vprintk (printk.c:196)
==30417==    by 0x804FFA3: shell_fprintf_fmt (shell_fprintf.c:38)
==30417==    by 0x804F7BD: shell_fprintf (shell.c:1409)
==30417==    by 0x804FADC: help_item_print (shell.c:1537)
==30417==    by 0x804FB62: help_options_print (shell.c:1561)
==30417==    by 0

[2018-09-24 17:42] aescolar commented on #10195
This is what it prints before the issue:
[code]

[2018-09-24 18:09] DWagenk commented on #10137
@erwango I'm using 1.13.0 with nucleo_f103rb board as my devolpment base right now. Reverting 53cd7c249627c4bc76c15b7d05e330e880a4a977 (from #9551) doesn't have any effect. Reverting 9255bf5f7fc21eb5e6e1ebf4572064a96e5ce9c7 (from #7493) leads to the button sample working out of the box again. 1.12.0 also works out of the box.
9255bf5f7fc21eb5e6e1ebf4572064a96e5ce9c7 now uses `SW0_GPIO_FLAGS` for t

[2018-09-24 18:17] carlescufi commented on #10195
@aescolar thanks for reporting. I have assigned it to the authors.

[2018-09-24 18:18] carlescufi commented on #10193
@aescolar I noticed the same and @jarz-nordic is already working on a patch

[2018-09-24 18:36] jarz-nordic commented on #10195
Hi,
It seems it is related to #10192, I have compiled my application with no debug options and it work correctly.
I will fix it.

![screenshot from 2018-09-24 20-35-34](https://user-images.githubusercontent.com/34125330/45971524-86adb500-c039-11e8-99c0-841bca9ad559.png)

[2018-09-24 18:45] ioannisg commented on #7196
I still cannot build hello-world with CONFIG_INIT_STACKS and CONFIG_MULTITHREADING

[2018-09-24 18:52] jarz-nordic commented on #10192
PR fixing this: #10196

[2018-09-24 19:25] MaureenHelm opened #10198 "Add support for FRDM-STBC-AGM01 sensor shield"
Now that #6837 has been merged, add support for the NXP FRDM-STBC-AGM01 sensor shield.
https://www.nxp.com/support/developer-resources/evaluation-and-development-boards/freedom-development-boards/sensors/sensor-toolbox-development-boards-for-a-9-axis-solution-using-fxas21002c-and-fxos8700cq:FRDM-STBC-AGM01

[2018-09-25 04:29] yashi commented on #10182
Thanks @SebastianBoe .  I take it as a go for the current direction.  I'll re-submit when I completed the work.

[2018-09-25 06:32] leodido99 opened #10200 "net: sockets: listen() ignores backlog parameter"
When calling listen on a socket you are supposed to provide the length of the pending connections backlog. In Zephyr this parameter is ignored when reaching net_context_listen.

Listen man entry specifies the behaviour as such:
The  backlog  argument defines the maximum length to which the queue of pending connections for sockfd may grow.  If a connection request arrives when  the  queue  is  full

[2018-09-25 07:16] jukkar commented on #10178
This is unfortunate, it looked like a clean solution.

Sure, that would work of course. It is just that I tried to avoid that in this case :)

Lets close this then as this is not going to work.

[2018-09-25 07:16] #10178 closed

[2018-09-25 08:00] #10192 closed

[2018-09-25 08:04] jfischer-phytec-iot opened #10204 "net: ipv6: corrupted UDP header after forwarding over 6lo iface"
If packet routing is turned on and the packet is
forwarded to an interface, the pkt properties like
ipv6_ext_len or ip_hdr_len will not be initialized.
If a UDP packet is forwarded to an 6lo interface,
it leads to incorrect calculation of UDP header
during UDP header compression (6lo.c: L761: net_udp_get_hdr(...)).

There are probably several ways to fix it, I do not know if this is correct:
[code

[2018-09-25 08:31] #10193 closed

[2018-09-25 09:15] aescolar opened #10207 "Shell should accept either CR or LF as line delimiter"
Currently the shell only accepts CR (\r) as the marker for end of line.
But different terminals/terminal configurations will insert a LF (canonical end of line), and some terminal driver configurations (the canonical one with ICRNL (default)) will replace CR with LF.
Moreover Unix terminals can also be configured with IGNCR (ignore CR), which means the character is dropped from the stream (so ther

[2018-09-25 09:18] jarz-nordic commented on #10207
Hi,
Currently shell accepts EOL marker defined by macro:
`SHELL_DEFINE(uart_shell, "uart:~$ ", &shell_transport_uart, '\r', 10);` In this case `'\r'`

Is it requested that shell shall react on both at the same time?

[2018-09-25 09:19] aescolar commented on #10207
**Either** of them would seem logical to me.

[2018-09-25 09:21] jarz-nordic commented on #10207
Ok, I will rework that.
Please let me know if it is possible that some terminal will send both at the same time?
For example: `\r\n` or `\n\r` ?

[2018-09-25 09:26] aescolar commented on #10207
Does it? I mean, wouldn't the only result of not detecting it be an extra prompt displayed?

[2018-09-25 09:28] jarz-nordic commented on #10207
Yes.
I would like to avoid extra empty prompt display.

[2018-09-25 09:32] sjanc commented on #9901
All clear now. Thanks!

[2018-09-25 09:32] #9901 closed

[2018-09-25 09:38] kapi-no opened #10208 "bluetooth: host: address is not set for passive scanning"
With privacy feature turned off, device address is not set via HCI command for passive scanning. As a result, LL filters out directed advertising packets that are targeted at the scanning device

[2018-09-25 12:37] jukkar commented on #10204
Your proposal looks quite sane thing to do. Could you prepare a PR for it and send it for review?

[2018-09-25 14:20] jukkar commented on #10188
The ARP cache is used when sending the reply packet, if the cache contains the old address, then that is used.  Usually the host sends gratuitous ARP if its MAC address changes. Currently we do not handle these gratuitous ARP messages, or expire the addresses in ARP cache. So there is definitely some improvements needed here.

[2018-09-25 16:14] dleach02 commented on #10137
@DWagenk, if we leave this up to the application software will there be any conflicts on these sample applications where it is configuring the button for multiple boards? It seems like it needs to draw this from the board level DTS so that the application can run across multiple boards without any special conditional code in case one board is active high while another is active low. Unless there i

[2018-09-25 17:59] mbolivar commented on #9949
Fixed in 55b462cdfa.

[2018-09-25 17:59] #9949 closed

[2018-09-25 20:40] DWagenk commented on #10137
short summary of what exists in boards .dts files so far, found by searching for gpio-keys inside boards dir (in zephyr v1.13):
most boards, including stm32 and frdm boards, set the interrupt polarity to `GPIO_INT_ACTIVE_LOW` explicitly, but don't set any other GPIO flags. Some other boards, including nrf52 boards, set the pull-up configuration to `GPIO_PUD_PULL_UP` and no other flags.

Not settin

[2018-09-25 21:31] dleach02 commented on #10137
Okay. So does that imply that the basic application sample needs to set the INT_EDGE for all usages? I guess that is my general question because this was initially characterized as a bug in the dts but your position is that it is a bug in the application. If we change it in the application, will this cause any problems with other boards (that I don't have)?

The basic button app has conditional co

[2018-09-26 07:09] #10204 closed

[2018-09-26 07:27] finikorg commented on #10164
qemu uses own UART so it uses usual UART logging backend, @nordic-krch native_posix backend in only for native_posix board configuration.

[2018-09-26 08:50] spoorthik commented on #9993
@punitvara @ramakrishnapallala: Shouldn't we document the error codes which are unsupported somewhere?

[2018-09-26 09:55] pswarnak opened #10231 "zephyr supported targets fail to flash with "ImportError: No module named 'colorama'""
Tried flashing on multiple physical(non qemu) boards, all the boards fail to flash with the following message:
[code]

**Zephyr commit:** 55b462cdfa8dcda620dc1cc984137ee1887e92a7.
**Toolchain:**  ZEPHYR_TOOLCHAIN_VARIANT=zephyr

**Steps to reproduce:**
cd zephyr/samples/hello_world
rm -rf build && mkdir build && cd build
cmake -D BOARD=nrf52_pca10040 -GNinja ../
ninja flash

[2018-09-26 09:58] pswarnak commented on #10231
@mbolivar
I see the following code lines added in scripts/meta/west/log.py
[code]

This seems to be causing build failure. Can you update the zephyr documentation - Development Environment Setup with the new dependency, if colorama package needs to be installed.
FYI: I am using Fedora Linux machine. Thank you.

[2018-09-26 10:28] #9666 closed

[2018-09-26 10:35] spoorthik opened #10233 "Few POSIX API implementations checks for negative error codes"
cond_wait() and sem_trywait() implementation checks for error codes with negative sign. This is not expected as per [documentation](http://pubs.opengroup.org/onlinepubs/9699919799/).

[code]

[code]

[2018-09-26 10:48] SebastianBoe opened #10234 "There is one too many "Shields" entry in the root Kconfig menu"
There is one too many "Shields" entry in the root Kconfig menu. There should only be one entry.

[2018-09-26 10:49] spoorthik commented on #10233
Figured out that this isn't a bug. The implementation both checks for error codes updated from zephyr APIs and not POSIX implementation.

-EAGAIN in cond_wait() is updated by _pend_current_thread() function.
-EBUSY in sem_trywait() is updated by k_sem_take() implementation.
Hence both POSIX API implementations are checking for negative error codes.

[2018-09-26 10:49] #10233 closed

[2018-09-26 12:07] cvinayak commented on #7092
Only 5 of the pre-programmed PPI can be reused in Zephyr's BLE implementation. But the task to refactor the controller is not simple (i.e. not doable in a day or two).
Refer to: https://github.com/zephyrproject-rtos/zephyr/blob/877c4d0ca70796681557fffd1a20a2f62f782a64/subsys/bluetooth/controller/hal/nrf5/radio/radio_nrf5_ppi.h

In upstream Zephyr, PPI's 16,17, 18 and 19 are free for nRF52832. And

[2018-09-26 12:08] rokobert commented on #7092
Maybe could be good to include this setting in Kconfig:
When we use TIMER0 then PPI channels is used from 20:31. If not then stays like it is in "radio_nrf5_ppi.h" now.

[2018-09-26 13:35] jarz-nordic commented on #10195
@aescolar : Do you still observe this problem?

[2018-09-26 13:42] aescolar commented on #10195
@jarz-nordic : Yes, you can just fetch and checkout https://github.com/aescolar/zephyr/tree/native_uart , and see it happen there. (That branch is on top of your last shell fix 73c21780272d1f7f4382c9213c463f3ddbca5716)

just do:
[code]

[2018-09-26 13:47] aescolar commented on #10195
This being the output:
[code]

[2018-09-26 15:35] vsaw opened #10240 "sys_reboot for native posix missing"
`sys_reboot` is currently not implemented for native posix.

See also https://github.com/zephyrproject-rtos/zephyr/issues/6044

[2018-09-26 15:47] galak opened #10241 "scripts/requirements.txt needs updating for west"
Tried using west that was in Zephyr, and ran into:

[code]

[2018-09-26 15:51] rlubos opened #10242 "in_addr/in6_addr covers s_addr/s6_addr with #defines which causes conflicts"
I have question about Zephyr's `in_addr`/`in6_addr` implementation inside `net/net_ip.h`. It uses `#defines` to access it's fields, like this:

https://github.com/zephyrproject-rtos/zephyr/blob/a6de97b3a42389f7c052870b0730bb196cd72b58/include/net/net_ip.h#L86

The problem is that it covers fields like `s_addr`/`s6_addr` with it's own `#define`. In result, when I try to combine Zephyr headers with

[2018-09-26 15:57] rlubos commented on #9926
I'll reopen this, there's still one point to cover.

[2018-09-26 16:48] pfalcon opened #10243 "native_posix linking issues under Ubuntu 18.04 after upgrade"
Here're 2 facts:

1. I didn't build for BOARD=native_posix for a while.
2. Yesterday I upgraded from Ubuntu 16.04 to Ubuntu 18.04, which uses gcc 7.3.0 and other fancies of a modern linux distro, like PIE executables and what not.

Trying to build for BOARD=native_posix now I get:

[code]

With VERBOSE=1 it's:

[code]

It clearly looks like -m32 is missing from the link command line, and indeed, r

[2018-09-26 16:58] pfalcon commented on #10242
From Linux' /usr/include/netinet/in.h :

[code]

So, we know where it comes from, and boils down to being shy to rely on anonymous union support (btw, there're no such tricks for ipv4 address in this current linux).

Whether we can/should change that is another question, but I don't see any problems with that.

[2018-09-26 17:17] rokobert commented on #7092
Meanwhile I adopt radio_nrf5_ppi.h that I could work.
It is not final solution but I think is good for starting point.

File si
[radio_nrf5_ppi.h.zip](https://github.com/zephyrproject-rtos/zephyr/files/2420827/radio_nrf5_ppi.h.zip)
attached.

In begginig of file is  #define CONFIG_BT_NRF52X_RADIO_EVENT_TIMER which enable to use predefine PPI's.

[2018-09-26 18:30] pfalcon commented on #10243
Maybe for you, but not for me, see above.

Sure, I did all that.

[2018-09-26 18:45] aescolar commented on #10243
This is clean virtual machine with the packages needed to compile zephyr + cmake + the zephyr sdk
[code]

[2018-09-26 18:54] aescolar commented on #10243
If you have updated your installation, maybe the gcc you are running is not the default one from the ubuntu  distro? In that case you need to install the gcc-mulitlib for that gcc package. (say gcc-7-multilib)

[2018-09-26 19:10] pfalcon commented on #10243
I indeed upgraded from Ubuntu 16.04. The gcc is:

[code]

multilib packages:

[code]

So, everything looks ok. Thanks for confirming that it works for you in a clean VM and for other hints. As you can see, I unassigned this from you, will try to dig further myself (though I'd appreciate hints if I get stuck). My plan is to check how cmake passes -m32 to link stage and why it might be dropped. (Wil

[2018-09-26 19:10] aescolar commented on #10243
And this is how the link line looks like in the example above:
[code]
Are you sure you have deleted the build directory and rebuilt?

[2018-09-26 19:20] aescolar commented on #10243
Maybe check with `alternatives` which gcc you are actually running.

[2018-09-26 20:26] mbolivar commented on #10231
Thanks for reporting! Fixed in https://github.com/zephyrproject-rtos/zephyr/pull/10248. Sorry about that.

[2018-09-26 20:27] ceolin commented on #9885
rules 2.1 and 2.2

[2018-09-26 20:31] ceolin commented on #10041
dir 4.6

[2018-09-26 20:40] ceolin commented on #10013
rules 8.14, 19.1 and 17.7

[2018-09-26 20:41] ceolin commented on #10012
rule 17.1

[2018-09-26 20:42] ceolin commented on #9894
rules 5.1, 5.2, 5.3, 5.4, 5.5, 5.6 and 5.7

[2018-09-26 20:43] ceolin commented on #9895
rule 7.2

[2018-09-26 20:44] ceolin commented on #9892
Dir 4.12 and rule 21.3

[2018-09-26 20:47] ceolin commented on #9886
rules 16.1, 16.2, 16.3, 16.4, 16.5, 16.6 and 16.7

[2018-09-26 20:48] ceolin commented on #9893
rules 16.1, 16.2, 16.3, 16.4, 16.5, 16.6 and 16.7

[2018-09-26 20:51] ceolin commented on #9886
rules 10.1, 10.2, 10.3, 10.4, 10.6, 10.7 and 10.8

[2018-09-26 20:54] ceolin commented on #9889
rules 16.7, 14.4, 10.1 ... 10.8

[2018-09-26 21:02] andyross commented on #9892
FWIW: everywhere I'm aware of this is being done, the memory usage isn't unbounded (in fact it's generally log-sized in whatever the relevant data structure is).  It's possible to decide on a tractable maximum size upfront and simply use that, obviously at the cost of significantly larger stacks for the common case.

[2018-09-27 01:20] qianfan-Zhao opened #10253 "qustion: Can link a function into SRAM, not FLASH?"
I am using a custom Atmel SAM E70 board and want read this chip's unique id from flash.

Here is a example from atmel's asf:
[code]

And I want portting this function to Zephyr, but the problem is this function MUST link into SRAM region, can't link to FLASH, otherwise the system will be hang at 'p_efc->EEFC_FMR &= ~(0x1u << 16);'

So I want a way to link a function into SRAM and don't know if cur

[2018-09-27 03:28] #10165 closed

[2018-09-27 06:37] qianfan-Zhao commented on #10253
I try add this feature, but failed now. And create a PR in:
WIP: DNM: arm: Add ramfunc section to link scripts #10255

[2018-09-27 06:39] jukkar commented on #10242
@rlubos please send a PR that removes the defines, they are not very useful in first place.

[2018-09-27 06:40] erwango commented on #10234
Fixed: #10217

[2018-09-27 06:40] #10234 closed

[2018-09-27 07:00] erwango opened #10256 "Add support for shield x-nucleo-idb05a1"
Following recent shield support, it would be good to introduce BLE shield x-nucleo-idb05a1 (https://www.st.com/en/ecosystems/x-nucleo-idb05a1.html).
It is a BLE shield embedding the bluenrg component already supported within zephyr

[2018-09-27 08:52] rlubos commented on #10242
@pfalcon Thanks for explaination, I wasn't even aware that's Linux who does it this way. Extra knowledge always appreciated!
@jukkar Just submited PR that removes the defines.

[2018-09-27 09:33] nniranjhana commented on #9993
@spoorthik is right. Do we have documentation for this anywhere? If not, we need to have it, and also explanation for why they are unsupported. What do you think @nashif @andyross

I have a patch fixing few error codes at #10173

Here's my two cents on the _pthread.c_ functions (from the table above):

- `pthread_create`
    I've separated the EINVAL check and added EAGAIN for limit on number of t

[2018-09-27 10:36] hongshui3000 commented on #10253
my  LD fix：

 SECTION_DATA_PROLOGUE(_DATA_SECTION_NAME,,)
	{
	__data_ram_start = .;
	KERNEL_INPUT_SECTION(.data)
	KERNEL_INPUT_SECTION(".data.*")
	*(".kernel.*")

#ifdef CONFIG_CUSTOM_RWDATA_LD
/* Located in project source directory */
#include <custom-rwdata.ld>
#endif
 	KEEP(*(MY_RAM_CODE))/* my code */
	} GROUP_DATA_LINK_IN(RAMABLE_REGION, ROMABLE_REGION)

[2018-09-27 10:48] qianfan-Zhao commented on #10253
@hongshui3000
You menas push a function into data section?
And I had write another section named **ramfun** in pr #10255, could you please also check it ?

[2018-09-27 10:57] hongshui3000 commented on #10253
是 放到数据段

我利用下面的代码帮我拷贝
[code]

[2018-09-27 11:14] qianfan-Zhao commented on #10253
@hongshui3000
根据PR #10255 的代码，改为添加ramfunc到datas中：
[code]

利用data段的数据拷贝将ramfunc中的函数拷贝一下。在hello world中添加测试代码：

[code]

在没有MPU的平台上能运行，但是有MPU的情况下会MPU FAULT（不管是直接插入data段中，还是新建另一个段，都会出现MPU FAULT）

[code]

[2018-09-27 12:01] mped-oticon commented on #9892
MISRA-C prohibits recursion, but you could probably have guessed this already.

Personal opinion: It seems silly to rely on dynamic memory to implement dynamic memory.
That makes me in favor of avoiding VLA+alloca, placing that need exclusively on malloc instead.

[2018-09-27 12:39] aescolar commented on #10243
@pfalcon : Given that this issue seems to be related to your particular compilers setup, would you consider it reasonable to close it? (You can still re-open it later if you want to add something)

[2018-09-27 12:47] pfalcon commented on #10243
That's not my evaluation of this issue, mine would be "CMake build system doesn't have reliable enough ways to detect i386 vs x86_64 systems, leading to build errors". It's true that I'm the first to report it, but that doesn't mean nobody else is affected - it's just nobody else reported it yet (you can just wait for an echo thru the years).

As I mentioned, I unassigned you from this ticket, tha

[2018-09-27 12:56] aescolar commented on #10195
@jarz-nordic : Have you been able to reproduce it in native_posix?

[2018-09-27 12:57] jarz-nordic commented on #10195
@aescolar : Not yet, today I was polishing my PR with shell documentation. I will take care tomorrow.

[2018-09-27 13:29] mped-oticon commented on #9892
FWIW, these are the places VLAs are currently used:

[code]

[2018-09-27 14:07] vsaw commented on #10240
Hi @aescolar, my application has [`CONFIG_REBOOT`](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_REBOOT.html?highlight=reboot#cmdoption-arg-config-reboot) enabled and uses it on the NRF board. For the Posix Native target, the compilation fails because the Posix Arch does not implement the following function

[code]

As a quick work-around I implemented mocks to make the code build

[2018-09-27 15:42] andyross commented on #9892
An alloca()/VLA is hundreds of cycles faster than malloc() on most architectures (often more on some workloads if you factor in long term costs from fragmentation).  In general it's implementable via a single subtraction from the stack pointer.  It's absolutely the right way to solve problems like this where you have a need for small-ish amounts of non-constant-size memory that will affirmatively

[2018-09-27 16:02] GiulianoFranchetto commented on #9873
Hi,

The QSPI part is not really what we want for now, as we don't have code in the external flash.

Did Nordic developped a driver for the  MX25Rxx when creating the nrf52 PDK?

Could it be easily ported using the Zephyr API?

Regards

[2018-09-27 16:15] aescolar commented on #10240
You are welcome to.

[2018-09-27 16:26] MaureenHelm opened #10268 "Clean up remaining SPI_DW_ defines in soc.h"
Some of the SPI_DW defines were removed in #10249 when the designware spi driver was converted to get base addresses and irq numbers from device tree. There are a few defines remaining for int masks and flags that also need to be removed, but they probably require modifications to the spi and/or interrupt controller bindings for x86 and arc.

[2018-09-27 18:34] ceolin opened #10270 "MISRA C - Avoid nested // and /* in comments"
C99 does not allow nested comment using `/* */` and use nested  `//` can be trick and lead to errors. In Zephyr we have few occurrences of this, mostly in the following pattern:

`/* blah blah blah https://www.zephyrproject.org/ */`

change it seems wrong, so we have to create a deviation for these cases and fix the others.

part of: #9552

MISRA C rule 3.1

[2018-09-27 18:46] #10242 closed

[2018-09-27 20:35] dbkinder opened #10271 "Unexpected Kconfig warnings during documentation build"
Building the documentation (``make htmldocs``)  is showing some new and unexpected warning messages:

[code]

[2018-09-27 20:52] dbkinder opened #10272 "doc build failing - no module named 'colorama'"
Documentation build (``make htmldocs``) is failing with the unexpected warning:
[code]

Looks to be while processing the ``west`` APIs via Sphinx's autodoc extension.  @mbolivar Is ``colorama`` now required for doc generation?

[2018-09-27 21:04] dbkinder commented on #10271
@carlescufi any thoughts on what's causing this?

[2018-09-27 22:35] dbkinder commented on #10272
... and the answer is yes.  We need to have ``colorama`` package installed to build documentation now.  Installing it with ``pip3 install --user colorama`` and doc build succeeds.

[2018-09-27 22:35] #10272 closed

[2018-09-27 23:08] mbolivar commented on #10272
Yup, as you already saw, the new dependency was added to scripts/requirements.txt today.

[2018-09-28 02:11] walter-xie commented on #10253
I don't think it is good idea to run function in sram.  Usually, the boot ROM would provide API to program the flash. Did you check that?

[2018-09-28 02:27] hongshui3000 commented on #10253
在sram 中运行程序可能是要解决现实工程中的问题：
1.boot rom 中的code 有bug 不得不在sram中patch
2.在boot 中根本没有你要的功能，而这种功能又不能在flash中做
3.sram 执行比flash 拥有更高的效率

[2018-09-28 02:30] qianfan-Zhao commented on #10253
@walter-xie 像Ateml SAME70芯片，随机数存在FLASH中，按照提供的ASF实例代码，读随机数的程序有操作FLASH，这部分代码只能 放到 SRAM中运行。

[2018-09-28 02:40] ulfalizer commented on #10271
*Dropping in from vacation*

The problem seems to be overlap between `boards/arm/mimxrt1050_evk/Kconfig` and `boards/arm/mimxrt1060_evk/Kconfig`.

When building applications, only the Kconfig files for the board selected with `cmake -D<BOARD>` are parsed. The Kconfig files have `osource "$(BOARD_DIR)/Kconfig"`, where the environment variable `BOARD_DIR` is set to the board name before Kconfig runs

[2018-09-28 06:52] kl-cruz commented on #9873
Hi,
I think QSPI could fit to your requirements. You do not have to use XiP. Just initialize QSPI and read/write/erase data from external memory. There is example application in Nordic's SDK (for example 15.2.0) based on QSPI. I think it is good starting point  to write shim layer.
In my opinion using QSPI to drive MX25xxx memories is easier than preparing SPI driver

[2018-09-28 08:08] nvlsianpu commented on #9873
@kl-cruz is this somehow related? https://github.com/zephyrproject-rtos/zephyr/pull/7561

[2018-09-28 08:34] jarz-nordic commented on #10195
@aescolar : I cannot find this branch: native_uart on your fork.
The website you are linkig is not available.

[2018-09-28 08:35] aescolar commented on #10195
@jarz-nordic That branch is already merged merged in master. So no need to fetch my branch anymore.

[2018-09-28 08:59] mped-oticon commented on #9879
Fixed as of PR #9917. Also added warning flag to prevent this from occurring in future.

[2018-09-28 08:59] #9879 closed

[2018-09-28 10:30] jukkar commented on #10127
After updating my branch and trying with the fixes in #10212, I still get the same error so some fixes in shell side are still needed. Only if I set `CONFIG_SERIAL=y`, there is no compile error but shell does not work in that case. I have been using `samples/net/echo_server` to test this. This issue is a blocker for net-shell rework at #9825

[2018-09-28 11:03] aescolar commented on #10127
@jukkar can you push that merged branch to your GH repo so I can take a look?

The shell does depend on serial, put as of now it only warns you to compile with it (#10190 3e41ac5f04c88e5ca2443232502368c861609231) . It will not force that dependency. So you do need to set CONFIG_SERIAL.

[2018-09-28 11:10] jarz-nordic commented on #10195
@aescolar : I found a bug.
Function `_vprintk` cannot parse `*`

[2018-09-28 11:12] aescolar commented on #10127
I just merged your branch as you had it in the PR with master, and it seems to compile (after setting CONFIG_SERIAL=y in the project) and run:
![image](https://user-images.githubusercontent.com/32480799/46205155-f2d13700-c31f-11e8-8eee-6a894b92f29c.png)

[2018-09-28 11:28] aescolar commented on #10195
There is no need to prove it :)
We just need either the shell to not use vprintk in a way it cannot handle, or fix vprintk to be able to handle the way it is being used.

[2018-09-28 11:48] jukkar commented on #10127
Indeed I got it working. I missed the output from native_posix about the pseudo tty as was expecting this to work the same way as when connecting to normal device. Also as networking with native_posix requires root permission, the created pts is also owned by root which means that the screen command must be started with sudo.

Anyway, the console works now but this configuration needs to be seamle

[2018-09-28 11:56] aescolar commented on #10127
You may want to reopen #10190 then. An ugly solution is for SHELL to ``select SERIAL``, another ugly solution is to have a ``default y if SHELL``  in the ``SERIAL`` definition.

[2018-09-28 11:57] jukkar commented on #10127
Ok, lets do that then, closing this one.

[2018-09-28 11:57] #10127 closed

[2018-09-28 11:59] jukkar commented on #10190
As discussed this in #10127, the shell should select CONFIG_SERIAL automatically so that it is not needed to be placed in application configuration file.

[2018-09-28 12:00] aescolar commented on #10190
CC @ulfalizer

[2018-09-28 12:28] jarz-nordic opened #10287 "Extend _vprintk functionality to parse *"
Current `_vprintk` implementation does not support `*`. It is not possible to parse following data:
`"%s%-*s%s:"`.

Fix can be based on `_prf` function localized in /lib/libc/minimal/source/stdout/prf.c

[2018-09-28 12:29] jarz-nordic commented on #10287
Missing this feature causes shell to crash when compiled for POSIX #10195

[2018-09-28 12:56] pfalcon commented on #10200
@leodido99, ignoring backlog param, or handling it with "extended semantics" is a known pattern across TCP/IP stack implementations. Do you have a specific usecase behind this feature? Otherwise, this would be one of the lowest priorities feature request in the area of networking.

[2018-09-28 13:43] erwango commented on #10137
So I think this code is wrong, `SW0_GPIO_FLAGS` being defined does not carry any information, except it is ... defined.  Same with `SW0_GPIO_PIN`, which by the way triggers and error if not defined.
Only useful pice of code is to check if `SW0_GPIO_NAME` or `SW0_GPIO_CONTROLLER` should be used for `PORT` definition.

Agree with @DWagenk  that this is purely application dependent. Application has t

[2018-09-28 15:40] dleach02 commented on #10137
Discussing this internally, we feel that the dts doe need to reflect the state of the board. I think the primary "bug" here is the conditional and what is needed is to just OR in the GPIO_INT_EDGE as an application level setting.

[2018-09-29 00:36] tadmorgan commented on #8810
I'm trying to evaluate several different RTOS's on the stm32f407g-disc1 and am running into this issue when trying out Zephyr on v1.12.0. Has there been in resolution? Is there a recommended work around that provides full support? Not supporting the currently available boards seems to be a poor choice from POV of someone considering the OS...

[2018-09-29 05:04] qianfan-Zhao opened #10305 "RFC: Add pin mask for gpio_port_xxx"
gpio_port_{configure, disable_callback, enable_callback, read, write} always set the whole pins in the group to a same mode. But sometimes not all the pins in a group has the same function.

Example: If we want set PA1, PA3, PA5, PA7, PA8, PA9 as output mode, the others in PORTA as input mode, output HIGH to those output pin when initilizer, there doesn't has a easier way, **must** set them one by

[2018-10-01 06:48] aescolar commented on #10243
@nashif : This really seems to be an issue with Paul's multiple compilers installation/packaging issues after a distro upgrade, and not related to Zephyr per se.

[2018-10-01 07:14] erwango commented on #10137
Agreed

[2018-10-01 07:16] pdunaj opened #10310 "Allow disabling legacy BLE connections"
`BT_SMP_SC_ONLY` (Secure Connections Only Mode) option forces Security Mode 1 Level 4 for all secured connections. The problem is that this mode requires authentication which some projects that require enforced LESC may not be capable of (no screen & no keyboard).

Zephyr should give the option to disable legacy BLE connection (i.e. force LESC authenticated or not).

[2018-10-01 07:27] leodido99 commented on #10200
I don't really have any use case right now, was merely reporting this because it took me some time to find that I should use CONFIG_NET_MAX_CONN. I was more thinking of just having this written somewhere in the documentation maybe?

[2018-10-01 08:02] Qbicz opened #10312 "Bluetooth: settings: CCC not stored on device reset"
The only situation where CCC is stored is on Bluetooth disconnection - `bt_gatt_store_ccc()` is only called in `bt_gatt_disconnected()`.

However, if the device resets, there is no Bluetooth disconnection event and the CCC is not stored. Because of this fact, on reconnection with bonded peer the CCC is incorrect: e.g. HID device cannot send HID input.

I think the CCC should be stored to persisten

[2018-10-01 08:55] leodido99 opened #10313 "net: sockets: Packets are leaked on TCP abort connection"
On certain conditions, when using sockets some packets are leaked.

I experienced this problem on a Zephyr TCP echo server. What happens is that client is sending packets and server is echoing, now the connection is physically interrupted. The client notice this and close the connection on its side, the server however since it is not sending any data leaves it open. When the physical connection is

[2018-10-01 09:03] Qbicz commented on #10312
This can be reproduced on HIDS peripheral sample for latest Zephyr master.

When the bonded peer disconnects:
[code]

When the device is reset, the CCC is not stored, and after connect re-establishment the `bt_gatt_attr_write_ccc()` is not called for CCC.

[2018-10-01 09:04] Qbicz commented on #10312
cc @carlescufi

[2018-10-01 09:11] #8873 closed

[2018-10-01 12:50] leodido99 opened #10316 "net: sockets: Close doesn't unblock recv"
If you are waiting for new data with recv and another thread closes the socket, the thread waiting on recv is not unblocked.

Might be a bad use of sockets on my part but basically I have a sender and receiver thread. Receiver thread waits forever for new data, so if my sender thread detects that the remote is dead and closes the socket, the recv thread stays stuck.

[2018-10-01 13:33] SebastianBoe opened #10318 "It is not documented what YAML bindings do"
In the device tree documentation it is only documented what yaml bindings could in theory do, it is not documented what they actually are doing today.

For a user it is much more interesting to know what they are used for than what we might use them for in the future. For instance it should be possible to read the device tree documentation and then be able to answer the question:

Extract of DT do

[2018-10-01 18:44] #10287 closed

[2018-10-01 18:44] jarz-nordic commented on #10287
Won't be fixed in printk.c

[2018-10-01 18:49] ioannisg opened #10320 "arm: mpu: mpu_config and and mpu_regions to be declared/defined as const"
mpu_config and mpu_regions are holding the fixed boot-time MPU configuration for ARM SOCs/Boards.
As this is not changing in run-time, the structs could be defined as const.

[2018-10-02 00:34] dbkinder opened #10324 "Publish PDF with the release doc build"
Currently, we do a daily doc build to publish documentation for the project's master branch to the https://docs.zephyrproject.org site.  PR #9557 enabled PDF generation of the Zephyr documentation, but generating and publishing a PDF has not been integrated with our daily doc build (or release doc build) processes.

We should not add PDF doc generation to the CI doc build testing done for every PR

[2018-10-02 07:57] carlescufi commented on #6782
I will be pushing a PR soon with the ability to generate PDF on Windows.

[2018-10-02 09:00] Vudentz commented on #10312
@Qbicz What is the device reset procedure? Don't you have to disconnect, or have some event before shutting down? That could then be used to cleanup the connection and then save the states otherwise even if we do save on every write there is a risk that the device is reset while storing so you will need a cleanup procedure anyway.

[2018-10-02 09:15] Qbicz commented on #10312
@Vudentz if we can gracefully shutdown that's great. I'm concerned about scenarios where the battery life ends or user just removes the batteries. In such case, we should provide a correct behaviour after restart of system and reconnection to peer. That's why I think the CCC should be stored earlier, maybe just after it is changed.

[2018-10-02 09:16] Qbicz commented on #10312
@Vudentz I decided to fix this behaviour, but wanted to ask if you think it's a good idea to store CCC in persistent memory on the peripheral side after CCC change, instead of on disconnection only.

[2018-10-02 10:28] nordic-krch commented on #10164
@nashif

It's because new logger does not have (yet?) console backend. It has uart backend. So if target has no uart (or native_posix, or rtt when pr comes) it cannot do logging. We should add console backend but we need to be aware that it is byte API so it will slower than optimized uart backend (current uart backend is polling based, it's poor and needs to be improved as well but at least there

[2018-10-02 10:44] MarekPieta opened #10329 "SystemView overflow event"
When we enable SystemView, it always records events data to buffer since system starts. It may often cause overflow event (especially for bigger systems).

I think we could add additional option in KConfig to let users decide if they want to record events since system start or since host application connects. Thanks to this we wouldn't have to allocate big buffer to store all the data collected by

[2018-10-02 10:48] nvlsianpu opened #10330 "drivers: flash: API for check whether flash is empty "in place""
For now it is required to read flash, an then to check whether whole bytes read were equal to the erased-value. This implies many calls to the flash API, more call is required if temporary read buffer is smaller. Checking whether flash range is empty seams to be a very common feature.
Introduction of a such will decrease execution and might reduce ROM footprint as well.

API above should have imme

[2018-10-02 10:56] nvlsianpu commented on #10330
cc @lemrey @pizi-nordic @carlescufi

[2018-10-02 11:13] finikorg commented on #10164
native_posix should be working fine, I tested several samples, all OK.

[2018-10-02 12:48] yashi opened #10336 "Misra C doesn't require checking boolean return value against an integer in if statement"
The commit 92ea2f91892e83d401598985d2b5ba60a659fdfa adds "== 0" to check against functions returning an integer as well as a boolean.

`Z_SYSCALL_MEMORY_ARRAY` uses `__builtin_umul_overflow()` and [this function returns a boolean](https://gcc.gnu.org/onlinedocs/gcc/Integer-Overflow-Builtins.html).

Misra 2012 Rule 14.4 says if statement shall have boolean type thus comparing return value against i

[2018-10-02 13:20] ioannisg commented on #10320
FYI, @MaureenHelm

[2018-10-02 14:51] dleach02 opened #10338 "Add PyLint checking of all python scripts in CI"
PyLint is an effective tool for static analysis of python code. Currently, some usage paths of the python scripts are not covered by CI and thus will miss errors.  Adding PyLint analysis of the python code will help ensure errors are caught at CI instead of after merge.

[2018-10-02 17:05] galak opened #10339 "gpio: Cleanup flags"
This issue is to discuss reworking the current GPIO flags, today we have:

[code]

[2018-10-02 17:07] galak commented on #10339
Removing GPIO_INT_CLOCK_SYNC with PR #10340

[2018-10-02 17:29] Mani-Sadhasivam commented on #10339
GPIO_INT_EDGE_FALLING
GPIO_INT_EDGE_BOTH
GPIO_INT_LEVEL_HIGH
GPIO_INT_LEVEL_LOW

+1