[2021-02-05 11:56] tbursztyka commented on #31924
missed that issue. But #32020 is fixing it.

[2021-02-05 12:32] #31749 closed

[2021-02-05 12:38] micnet49 opened #32037 "Implement an I2S / SAI (shim) driver for NXP IMX-RT1060 (mcux)."
**Is your feature request related to a problem? Please describe.**
I would like to develop an application which can play / receive audio via the SAI1 peripheral (by means of eDMA) of the NXP IMX-RT1060 MCU using the board IMXRT1060-EVK (and its I2C controlled codec WM8960).

**Describe the solution you'd like**
I simply like to use the Zephyr I2S API for getting audio sending and audio receiving t

[2021-02-05 12:51] nashif commented on #31924
fixed by  #32020

[2021-02-05 12:51] #31924 closed

[2021-02-05 12:59] pabigot opened #32040 "BT_AUDIO_UNICAST selection rejected in nightly tests"
I don't know if this is going to cause a nightly failure, but I suspect it will/should:

These tests:

* tests/bluetooth/init/bluetooth.init.test_ctlr_peripheral_iso
* tests/bluetooth/init/bluetooth.init.test_ctlr_central_iso

on these platforms:

* nrf51dk_nrf51422
* nrf52840dk_nrf52840

all appear to produce this diagnostic:

[code]

The [latest nightly](https://buildkite.com/zephyr/zephyr-daily

[2021-02-05 12:59] pabigot commented on #32040
@nashif @galak @carlescufi fyi for triage purposes.

[2021-02-05 13:01] galak commented on #31980
You need to add support in the driver to do the init for CS via GPIO.

[2021-02-05 13:13] #31847 closed

[2021-02-05 13:19] Oxymoron79 commented on #31742
@carlescufi I tested it with the commit [b6a4db3](https://github.com/zephyrproject-rtos/zephyr/commit/b6a4db3766936d738ed84f9f6a4ee19f586ce062) on the master branch.

Unfortunately I could reproduce the same issues.

**BUT**: I started to measure the time delta between the notifications received and noticed that it sometimes easily exceeds 100 milliseconds. I wondered whether submitting the `bt_ga

[2021-02-05 13:25] #32007 closed

[2021-02-05 14:08] joerchan commented on #31742
@Oxymoron79 Thank you for the update.

I'm gonna re-open this issue just so that we can agree on the facts and close it once we all agree that there is nothing that should be fixed here.

The reason for the `Unable to allocate TX context` is because bt_gatt_notify is called from the system work queue. We cannot block from this thread, since this is the thread that would release them, and blocking

[2021-02-05 14:14] PerMac opened #32045 "boards: Inaccurate values for ram/flash in nrf5340dk_nrf5340_cpuapp.yaml"
**Describe the bug**
The values define in `/zephyr/boards/arm/nrf5340dk_nrf5340/nrf5340dk_nrf5340_cpuapp.yaml` are:
ram: 64
flash: 256
These values are too small. I noticed it by seeing multiple tests being skipped by twister due to insufficient ram/flash.
I discussed the topic with @ioannisg and if I understood correctly, the idea behind them, was to reflect the fact that part of the memory can b

[2021-02-05 14:22] jfischer-no commented on #31742
@Oxymoron79 Can you retest with the changes in https://github.com/zephyrproject-rtos/zephyr/pull/32009, see also bug report https://github.com/zephyrproject-rtos/zephyr/issues/31922, please?

[2021-02-05 14:38] henrikbrixandersen opened #32046 "LMP90xxx ADC driver fails to initialise more than one instance"
**Describe the bug**
The LMP90xxx ADC driver supports multiple instances, but only for devices with _different_ compat strings. If given a DTS with multiple devices with the same compat, only the first one is initialised in the driver.

**Expected behavior**
The LMP90xxx ADC driver should initialise all instances regardless of the compat string.

**Impact**
This is a showstopper for using the LMP9

[2021-02-05 14:49] joerchan commented on #28809
That is a possibility, but note that this is still work in progress.

Alternatives could include using the SoftDevice controller (in nRF Connect SDK), using radio notifications or low-latency packet mode (or both).

I will close this issue as there is consensus that we shouldn't add this feature since it would be against the bluetooth behavior in the protocol layers and wouldn't be possible withou

[2021-02-05 14:49] #28809 closed

[2021-02-05 14:49] erwango opened #32048 "doc: power management: Remove references to previous PM states terminology"
**Describe the bug**

Following merge of https://github.com/zephyrproject-rtos/zephyr/pull/31273
https://docs.zephyrproject.org/latest/reference/power_management/index.html was not updated.
Particularly the following terminology is not up to date anymore:
[code]

**To Reproduce**
See doc.

**Impact**
Confusion

[2021-02-05 15:40] eanderlind commented on #31761
Yes, I am not sure, but it looks like RTT logger (#3-#4) in the  RTT data_out_block() is still holding its mutex lock and the kernel is doing a priority inversion which causes an ISR to run and (#0-#2) the zephyr k_mutex_unlock() implementation to
assert because it is an ISR. My interpretation is this is caused by the RTT logger already holding a lock and requested (by an ISR) to
log some more dat

[2021-02-05 15:55] andyross commented on #11975
We'll just have the same problem on the next new platform.  The point is that there's an existing "lowest level" output primitive already that we can't really deprecate, and the logging subsystem doesn't support it.

[2021-02-05 16:41] erwango commented on #31959
@rickconrey Thaks for the inputs. We're investigating possible scenarii that can explain current status.

[2021-02-05 16:48] dcpleung commented on #16231
Maybe something more like `CONFIG_UART_SUPPORT_RUNTIME_CONFIGURE`? I just looked at a couple drivers and they call configure() during init(), and `uart_apbuart` doesn't configure the port during init (... possibly relying on runtime config). So I think in general this doesn't save us much in code size on other platforms.

Is it something you can do in the STM32 driver? If you set `.configure` and

[2021-02-05 17:00] ajelinski commented on #31726
That's curious, all tests passed with 66 MHz in MI-V's `Kconfig.defconfig.series` without any more changes: https://github.com/zephyrproject-rtos/zephyr/pull/32036

Are all tests for `m2gl025_miv` run by buildkite in CI?

[2021-02-05 17:24] #32030 closed

[2021-02-05 17:31] nashif commented on #31726
based on your change, no. Add this change to force testing on the platform:

[code]

[2021-02-05 17:48] ajelinski commented on #31726
Thanks @nashif, I'll try that.

[2021-02-05 17:53] ABOSTM commented on #31959
Hi @rickconrey,
Thanks for your feedback.
Our BLE expert said there is a case where CPU2 PES may remain stuck to 1, but it is during erase, whereas line 93 where your are stuck correspond to write operation.
Knowing that erase and write have very similar implementation, it is possible that due to code optimization, with debugger you think you are on line 93 but you are in fact at line 222.
So coul

[2021-02-05 17:55] andyross opened #32052 "p4wq has a race with work item re-use"
The p4wq code, to handle the case where a work item was re-submitted, needs to inspect the thread field of the work item after the user callback has returned.  But this will race with the case where the user code needs to (in some other context, on some other CPU) re-use that work item (for example by freeing it into the heap, or filling it out again for resubmission).

In the case where the item

[2021-02-05 17:56] andyross commented on #32052
Race found by @lyakh while investigating #29623

[2021-02-05 18:46] rickconrey commented on #31959
You are correct, it is actually line 222. It happens during the erase, not the write. When I wrote up the description, I looked at the wrong spot in the code since they are almost identical.

Is the connection interval configurable? Is there somewhere I can change it?
Hmm, I'm not seeing anything over btmon after changing those setting as described in the document. I can see that something is bein

[2021-02-05 19:42] rickconrey commented on #31959
Ok, I'm getting data over btmon now. I had to remove all the printk calls in my code.

Am I looking for the lines that say "connection interval"?

I see some that say 7.5 msec and some that say 45msec

[2021-02-05 20:46] mbolivar-nordic commented on #31993
I will take that as a "yes", I guess.

[2021-02-05 21:23] mbolivar-nordic commented on #29295
I ran across this interesting message on the DT spec mailing list:

https://www.spinics.net/lists/devicetree-spec/msg00950.html

It seems to be exactly what this issue anticipates and something to investigate further. cc @trond-snekvik

[2021-02-06 01:06] #30178 closed

[2021-02-06 07:43] carlocaione commented on #31993
That is a yes.

[2021-02-06 12:34] pabigot commented on #32040
FWIW: https://buildkite.com/zephyr/zephyr-daily/builds/232 shows nightly passes now, however, the warning above is still observed when building the sample manually with the corresponding `prj_ctlr_peripheral_iso.conf`.  This seems like a flaw in CI, especially in cases like this where it seems the test passes because it quietly excludes the feature it's supposed to test.  @nashif

[2021-02-06 13:05] #32002 closed

[2021-02-06 13:35] pabigot commented on #27033
The requested decision has been made and the I2C terminology will change when the [conditions specified in the coding guidelines](https://docs.zephyrproject.org/latest/guides/coding_guidelines/index.html?highlight=inclusive#rule-a-2-inclusive-language) have been met.

Until that point this can make no progress.

[2021-02-06 20:34] sidprice opened #32059 "Getting Started - Windows - Toolchain not found"
Just trying to get Zephyr installed and tested using the Getting Started Guide for Windows. When I try

`F:\DataRoot\Projects\Zephyr\zephyrproject\zephyr>echo %ZEPHYR_TOOLCHAIN_VARIANT%
gnuarmemb

F:\DataRoot\Projects\Zephyr\zephyrproject\zephyr>echo %GNUARMEMB_TOOLCHAIN_PATH%
C:\GNU_ARM_9

F:\DataRoot\Projects\Zephyr\zephyrproject\zephyr>west build -p auto -b nucleo_f401re samples\basic\blinky
--

[2021-02-06 21:20] #32040 closed

[2021-02-06 21:21] #31642 closed

[2021-02-06 21:58] GunZi200 commented on #32059
Could it be that your  `GNUARMEMB_TOOLCHAIN_PATH` is set as  `GNUARMEMB_TOOLCHAIN_PATH=C:/GNU_ARM_9/bin/` when it should be `C:/GNU_ARM_9/`? I had this problem earlier today also.

[2021-02-06 22:15] sidprice commented on #32059
No, my environment variables are shown at the top of the above post:

`F:\DataRoot\Projects\Zephyr\zephyrproject\zephyr>echo %ZEPHYR_TOOLCHAIN_VARIANT%
gnuarmemb

F:\DataRoot\Projects\Zephyr\zephyrproject\zephyr>echo %GNUARMEMB_TOOLCHAIN_PATH%
C:\GNU_ARM_9`

[2021-02-07 01:09] #26656 closed

[2021-02-07 13:54] Oxymoron79 commented on #31742
@carlescufi With "stuck" I meant that the receiver of the notifications (the application accessing the BlueZ API) no longer receives notifications.

Here's how I will refer to the involved components:

[code]

The Peripheral App sets up a [timer](https://docs.zephyrproject.org/latest/reference/kernel/timing/timers.html) whose expiry function adds a work item to the [system workqueue](https://docs.

[2021-02-07 14:20] Oxymoron79 commented on #31742
@jfischer-no I built the Peripheral and the Dongle using your [pr-fix-hci_usb](https://github.com/jfischer-no/zephyr/tree/pr-fix-hci_usb) branch.

Unfortunately this issue still occurs. Here are the logs:

Peripheral:

[code]

Receiver application:

[code]

`btmon` capture:

[code]

[2021-02-07 14:48] #32046 closed

[2021-02-07 15:25] nashif commented on #30028
not a bug, when you change default options, you have to adjust stack sizes.

[2021-02-07 15:25] #30028 closed

[2021-02-07 17:30] carlescufi commented on #32059
Can you makes sure you try in a clean repo, with no `build/` folder at all in it?

[2021-02-07 20:27] jfischer-no commented on #31158
I can not reproduce it in latest master. Tested with nrf52840dk_nrf52840 and nrf5340dk_nrf5340_cpuapp.

[2021-02-07 20:27] #31158 closed

[2021-02-07 20:32] sidprice commented on #32059
@carlescufi Thank you, deleting the "build" folder fixed the issue.

Seems the tools should be able to take care of this, a "clean" option perhaps?

[2021-02-07 20:39] npitre opened #32064 "Minimal libc malloc() is unprotected"
This is a reminder that PR #31898 must be merged before the 2.5 release.

[2021-02-08 01:13] microbuilder commented on #31748
@MaureenHelm As I understand it, the CS line always had to be manually selected as a GPIO pin, but @agansari is the person to ping.

[2021-02-08 04:28] #32015 closed

[2021-02-08 06:44] GunZi200 commented on #32059
My issue went away when I deleted the `<CMake Project DIR>/build/CMakeCache.txt` manually.

[2021-02-08 07:26] ioannisg commented on #28729
Moving all these to 2.6 release

[2021-02-08 08:23] trond-snekvik opened #32067 "Bluetooth: Mesh: Devkey and addr not stored correctly"
Regression in #31176.

The address and device key is set after the network is created in bt_mesh_provision. As the network is stored immediately, the schedule_store call in bt_mesh_net_create will fire before the comp_provision call, causing the address and devkey to go into persistent storage as 0.

**Impact:**

Bluetooth Mesh devices cannot recover their provisioning data after a power cycle.

[2021-02-08 08:40] tejlmand commented on #32059
`pristine` ?
https://docs.zephyrproject.org/latest/guides/west/build-flash-debug.html#pristine-builds

Correct, and the reason for this is that people can work with multiple toolchains / boards / samples simultaneously, like:
[code]

The build folder has been configured for a given toolchain, which allows having multiple build folders and not having to worry for the current setting in environment,

[2021-02-08 08:43] tejlmand commented on #32059
Note. A `cmake -D<var>=<val>` will update the CMake cache to the new value, and this has precedence over the environment setting.

[2021-02-08 08:58] selman-nus opened #32070 "How to manage power consumption when working with peripheral_hr sample on NRF52832"
Hi,
I am using a modified version of the peripheral_hr example to sample ADC values and send it to a mobile phone using BLE (100Hz).
NRF52832 is using 3mA on average and I couldn't figure out how to reduce this. I checked several issue posts here and I guess current consumption should be less than 1 mA?

Is there a power management function that I can use to reduce power consumption?
(Maybe to red

[2021-02-08 08:59] kurddt opened #32071 "devicetree: `bus:` does not work in `child-binding`"
**Describe the bug**
I'm trying to have a child binding declare a new bus controller. That does not seems to work as expected, the childs of this new controller does not refers to it in the generated defines.

It also seems that even when using a separate binding file for the controller, it must be on a bus (binding must contains `on-bus`) otherwise the childs also don't use it as the controller

[2021-02-08 09:01] kurddt commented on #32071
@mbolivar-nordic

[2021-02-08 09:06] erwango commented on #31711
@edesta-be any news ? We're in the late stage of V2.5.0, and as a consequence we are tracking bug count.
So some feedback would be welcome

[2021-02-08 09:14] mejtejt commented on #31980
Question solved:

[2021-02-08 09:53] ioannisg opened #32072 "tests/kernel/common seems to fail on nrf52833dk_nrf52833"
**Describe the bug**
tests/kernel/common tests variants all fail on nrf52833dk_nrf52833

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52833dk_nrf52833
3. make
4. See error

**Expected behavior**
The test should not assert.

**Impact**
Should fix this before release.

**Logs and console output**

[code]

**Environment (please complete the following

[2021-02-08 09:54] ioannisg commented on #32072
@carlescufi @anangl @pabigot I would appreciate if anyone else could test on this board and provide feedback.

[2021-02-08 10:01] PerMac commented on #32072
I don't have nrf52833 in my setups. I've run this test on nrf52dk_nrf52832, nrf9160dk_nrf9160 and nrf52840dk_nrf52840 and all tests passed from this suite

[2021-02-08 10:16] jfischer-no commented on #32072
@ioannisg Tested it on nrf52833dk_nrf52833 version 0.9.0 and 1.0.0, all test pass.

[2021-02-08 10:25] ioannisg commented on #32072
Thanks @jfischer-no I think I've got board revision 0.7.1 - that might be explaining why this fails. Going to remove the blocking priority.

[2021-02-08 10:43] anangl commented on #32072
@ioannisg FWIW I've just run the test on my board which is revision 0.7.0, and all test cases passed.

[2021-02-08 11:19] Navin-Sankar commented on #28535
@carlescufi @ioannisg @nashif @MaureenHelm @galak requesting for review!

[2021-02-08 11:52] pabigot commented on #32072
@ioannisg I also don't have this board.

You might try running `samples/boards/nrf/clock_skew` on your board, and compare the error to those of another Nordic board that passes.  This tests uses HFCLK to time LFCLK, and a high skew between those clocks is often the source of similar errors.  (May sure the clock config is the same as the application uses.)

[2021-02-08 11:56] edesta-be commented on #31711
Not yet I apologise, my team is backlogged on getting the parts back to me after having to do some retesting. So I have been unable to test.

[2021-02-08 12:37] carlescufi commented on #32064
Setting this as high priority since it's a regression on a system-wide allocator.

[2021-02-08 12:38] carlescufi commented on #32059
Closing since this is resolved now.

[2021-02-08 12:38] #32059 closed

[2021-02-08 12:51] broglep-work opened #32075 "net: lwm2m: Testing Strategy for LWM2M Engine"
Currently only coap lib is covered with some unit tests, apart from that it appears that there is no other testing coverage of the LWM2M engine or the client.

Are there any ideas what the best approach would be to increase the test coverage of the LWM2M engine?
Would it make sense to add unit tests for big parts of the LWM2M engine or would it be better to take an more end to end approach and tes

[2021-02-08 13:10] cvinayak commented on #32070
Why do you use `NRFX_DELAY_US`  ? This will not put the CPU to sleep.

[2021-02-08 13:14] #31778 closed

[2021-02-08 13:17] selman-nus commented on #32070
Sampling rate is 100Hz, so delays between cycles are only 10ms. Do you think it would make a difference? I will definitely test!

What else can I try?

[2021-02-08 13:22] nashif opened #32078 "build error with llvm: samples/subsys/fs/littlefs"
**Describe the bug**
When building with llvm:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. export ZEPHYR_TOOLCHAIN_VARIANT=llvm
2. twister -T samples/subsys/fs/littlefs -p native_posix

**Expected behavior**
build is successful

*
**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain  LLVM 11
 - Commit SHA or Version used

[2021-02-08 13:24] nashif commented on #31964
unable to reproduce, lowering priority

[2021-02-08 13:59] pabigot commented on #32070
`k_sleep(K_MSEC(10));`

[2021-02-08 14:08] trond-snekvik commented on #32033
Hi, thanks for reporting, this uncovered a couple of regressions.

The main issue here comes from the re-encryption mechanism in the friend module, that decrypts and re-encrypts unsegmented messages from the friend node to the LPN. This mechanism has seen two regressions:
1. The app_idx and net_idx in the message context structure passed to the app_key module is not initialized before being used,

[2021-02-08 14:51] ioannisg commented on #32072
Will try that, thanks @pabigot

[2021-02-08 15:31] Ripitchip commented on #32033
Hi,

thanks very much for the PR. At first glance, it seems to solve the issue ! :)

Have a nice day.

[2021-02-08 15:37] #32067 closed

[2021-02-08 15:41] caco3 opened #32084 "Custom Log Backend breaks performance"
I try to implement my own log backend.
It is used additionally to the standard UART LOG Backend as enabled through
[code]

I did not find much documentation about custon backend implementation except https://lgl88911.gitee.io/2019/04/03/Zephyr-log%E7%B3%BB%E7%BB%9F%E5%8E%9F%E7%90%86%E4%B9%8Bbackend/ which itself refers to `zephyr/blob/master/subsys/logging/log_backend_bt.c`.

So I took the code fr

[2021-02-08 15:49] trond-snekvik commented on #32033
Reopening until PR goes in

[2021-02-08 15:49] ioannisg commented on #32072
@pabigot this is what I getting when i run the sample on my nrf52833 board:
[code]

And this is what i get on my nrf52832 board
[code]

Could that difference explain the error I see?
@anangl @jfischer-no could you compare this with your findings by running the sample on your boards?

[2021-02-08 15:55] caco3 commented on #32084
For performance testing I now added a `printk("%c", data[i]);` directly into the system file `zephyr/subsys/logging/log_backend_uart.c` after https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/logging/log_backend_uart.c#L23

The performance is still ok, so the issue must somewhere with the instantiation of the custom log backend.

[2021-02-08 15:59] pabigot commented on #32072
@ioannisg You should let that run for a while; the first reading doesn't have enough duration to estimate accurately.  See the output in the sample README.  I'd give it at least five minutes.

But yes, that's unusual from my perspective, first in that the skews are negative (LFCLK runs slower than HFCLK) and in magnitude (your skews are at least twice what I see).  The sign is most likely to be a

[2021-02-08 16:03] ioannisg commented on #32072
I'll get back to this with new data @pabigot thanks.

[2021-02-08 16:04] pabigot commented on #31822
With my nrf52dk and nrf52840dk I can't reproduce the failures: three runs on each board all passed.  Is this *very* intermittent?

Also look at https://github.com/zephyrproject-rtos/zephyr/issues/32072#issuecomment-775091078 and try running the clock skew program it references.  If LFCLK is slower than HFCLK on the test boards (negative skew) the test may be failing because of that.

[2021-02-08 16:19] pabigot commented on #32072
By which I mean that the test is more likely to be robust if LFCLK is *faster* than HFCLK, because the timer will fire and increase the count early.  If LFCLK is slower the spinning wait will complete before the timer fires.  Especially as your board is showing an error of 1.3% so the 1 ms slop as an upper bound is insufficient: you would have to wait for 1.12 additional ms to pass.

You could tes

[2021-02-08 16:36] #32078 closed

[2021-02-08 16:36] #31938 closed

[2021-02-08 16:42] pabigot commented on #31822
I have now reproduced it at the reported commit 3f1d1f5773, but have not on current mainline a281d10cff8d after 10 runs on the same board that failed at the reported commit.

Interestingly it's the non-ZLI test variant that failed for me:
[code]

[2021-02-08 17:04] dleach02 commented on #31969
I'm curious about what it is with the board that would keep the test from working? Also, do we know if there is a platform the tests work on for comparison?

[2021-02-08 17:40] #32064 closed

[2021-02-08 17:41] ABOSTM commented on #31959
I @rickconrey ,
Thanks for the btmon.log.
Yes connection interval may change over time.
For sure 7,5ms or 15ms are not good if it set when starting flash erase.
This parameter is given by BLE master (your smartphone), but it is possible for the slave to request a change
 (but master is free to accept reject or propose/force alternative).

It seem the Zephyr API to do so is: bt_conn_le_param_update

[2021-02-08 18:47] #32045 closed

[2021-02-08 18:56] rickconrey commented on #31959
@ABOSTM
Using menuconfig, I have the minimum (BT_PERIPHERAL_PREF_MIN_INT) and maximum (BT_PERIPHERAL_PREF_MAX_INT) connection interval already set to 24 * 1.25 and 40 * 1.25, so 30ms and 50ms. I also tried to manually update them using bt_conn_le_param_update() as you suggested. I do this after the device has established a connection in the "connected" callback.

There is no change, it is still be

[2021-02-08 19:07] mbolivar-nordic opened #32095 "guiconfig search fails"
**Describe the bug**

The guiconfig module has an unused import.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -t guiconfig
2. control-f
3. type some search term and hit enter

Get this:

[code]

**Expected behavior**

Search results

**Impact**

High impact to guiconfig

[2021-02-08 19:22] MaureenHelm commented on #31969
The test passes on `frdm_k64f`, which uses the same ethernet driver, but different PHY and lower core clock frequency.

[2021-02-08 19:33] rickconrey commented on #31959
I figured out how to update the connection interval on the smartphone app. Before the update it was set to the fastest setting (11.25 to 15ms) now it matches the device at 30ms to 50ms. This definitely seems to improve the success of the upload. I still have some failures, but it seems to have a lot more successes than before.  I can also see that the device requests that the connection interval b

[2021-02-08 19:44] nashif commented on #32048
@ceolin  is working on that already, lets have just 1 assignee and avoid 2 people working on the same thing.

[2021-02-08 20:55] jimakos96 opened #32098 "Implement a driver for the Microphone / audio sensor (MP23ABS1) in Sensotile.Box"
**Is your feature request related to a problem? Please describe.**
I would like to develop an application which can  do audio sampling from the audio sensor in the Sensotile Box

**Describe the solution you'd like**
I simply like to use the Zephyr ADC API for audio receiving .

**Describe alternatives you've considered**
 I tried to use the STM32HAL drivers functions for the ADC but i  wasn't succ

[2021-02-08 21:24] #32095 closed

[2021-02-08 21:43] DarrylGamroth opened #32100 "spi_nor flash multi-instance support"
**Is your enhancement proposal related to a problem? Please describe.**
I would like to use multiple SPI connected serial NOR flash ICs but the existing spi_nor driver only supports a single device.

**Describe the solution you'd like**
Multi-instance support similar to spi_flash_at45.

**Describe alternatives you've considered**
Using AT45 DataFlash except its capacity is too small.

[2021-02-08 22:00] MaureenHelm commented on #30178
Not at the moment, but patches are always welcome

[2021-02-08 22:22] mbolivar-nordic commented on #32071
@kurddt Thank you for the detailed report. This is an interesting case; I've never run into the TCA9546A.

Let me confirm the problem.

In debug_sep.h, I see the following bus macros generated for `/soc/i2c@40004000/tca9546a@3B/mux_i2c@0/tmp116@49`:

[code]

This is what you want. The `tmp1` device is an I2C device on the `mux1` bus.

In debug_child.h, I see these instead:

[code]

This is not wha

[2021-02-08 23:01] Vudentz commented on #21000
This is still open, we might want to take coc specifics out though while refactoring it.

[2021-02-08 23:01] #32048 closed

[2021-02-08 23:26] nashif commented on #30582
fixed by #30799

[2021-02-08 23:26] #30582 closed

[2021-02-09 00:51] mbolivar-nordic commented on #32071
@kurddt I believe https://github.com/zephyrproject-rtos/zephyr/pull/32105 is a fix. Please retest and confirm on your end if you can. Thanks.

[2021-02-09 03:33] easternblack commented on #31799
I think configuring PARITY bits in UART has similar issue.
UART only work with NONE parity, but not with ODD or EVEN.
I tested on stm32l433cb, and /include/stm32l4xx_ll_usart.h include EVEN and ODD defines.
I also experienced data bit issue explained above, and now have doubt with PARITY bit configure has same problem.

[2021-02-09 03:35] Zhaoningx commented on #31386
Hi, correct it: my board is SAM_E70B, this testcase was tested on sam_e70b_xplained platform with parameter sam_e70_xplained by mistake, and the 1.14 branch don't support the sam_e70b_xplained board.

[2021-02-09 05:07] chen-png commented on #31964
this test is passed on up_squared with the latest commit "v2.5.0-rc3", i will track it again tomorrow whether it has been fixed.

[2021-02-09 07:48] caco3 commented on #32084
I seem to have found the culprit:
If I do **not** call `log_msg_put();` , it works as expected.

I have that line from the mentioned blog. And looking on the [functions description](https://docs.zephyrproject.org/latest/reference/logging/index.html?highlight=log_msg_put#c.log_msg_put), I would expect that such message actually is needed.

How ever the blog is from 2019, maybe that got now internal

[2021-02-09 07:49] ioannisg commented on #31982
@ABOSTM  could you update the log of the error you get when running arm_interrupt.arm,
 now that #32034 was merged?

[2021-02-09 07:49] erwango commented on #31799
@easternblack Don't hesitate to raise a dedicated issue so we don't lose the point.

[2021-02-09 07:57] erwango commented on #32098
@jimakos96 I think this is already available. @avisconti do you confirm ?

[2021-02-09 08:05] YanzhouYu opened #32111 "Zephyr build fail with LLVM on Windows"
**Describe the bug**
I am trying to build zephyr project in Windows with llvm compiler, but it failed.

**To Reproduce**
Steps to reproduce the behavior:
I installed llvm version 11.0.0 for windows and set the patch to the location.
In zephyr/samples/hello_world directory, delete all the /build content,
1. set ZEPHYR_TOOLCHAIN_VARIANT=llvm
2. set LLVM_TOOLCHAIN_PATH=C:\tools\windows\toolchains\llv

[2021-02-09 08:23] kurddt commented on #32071
@mbolivar-nordic I looked and tested your fix. Would it be possible to have the same behavior when the child node does not have any compatible?

In my use case this binding will not be used anywhere in the driver code, the parent device will create the child devices.

[2021-02-09 08:31] KangJianX opened #32112 "intel_adsp_cavs15: a part of testcases run failed with same error"
**Describe the bug**
running kernel testcases failed of a part of testing

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T **tests/kernel/** --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/zephyrproject/m

[2021-02-09 08:43] KangJianX commented on #32112
**A important things**, this bug reproduce base on my pull request [#31902](https://github.com/zephyrproject-rtos/zephyr/pull/31902)

[2021-02-09 09:37] ABOSTM commented on #31982
@ioannisg ,
With merge of  #32034 I have 2 slightly different logs depending on test configuration vriant:

1) arch.interrupt.no_optimizations

*** Booting Zephyr OS build v2.5.0-rc3-25-g467f9168606c  ***
Running test suite arm_interrupt
===================================================================
START - test_arm_interrupt
Available IRQ line: 81
E: >>> ZEPHYR FATAL ERROR 1: Unhandled inter

[2021-02-09 09:38] ABOSTM commented on #31982
2) arch.interrupt.extra_exception_info  and  arch.interrupt.arm
logs are very similar:

*** Booting Zephyr OS build v2.5.0-rc3-25-g467f9168606c  ***
Running test suite arm_interrupt
===================================================================
START - test_arm_interrupt
Available IRQ line: 81
E: >>> ZEPHYR FATAL ERROR 1: Unhandled interrupt on CPU 0
E: Current thread: 0x20000188 (unknown)
Ca

[2021-02-09 09:59] ioannisg commented on #31982
Thanks @ABOSTM , let's ignore the no_optimizations for now (there's an open ticket for this), and focus on the other test-variants.
Could you post the log you get if you increase both ZTEST and ISR stack sizes?

[2021-02-09 10:28] #31386 closed

[2021-02-09 10:48] mgiaco commented on #14591
@parthitce  Do you share the ported parts?

[2021-02-09 10:52] ABOSTM commented on #31959
@rickconrey,
Great. As you noticed, those parameter can be set by application (depending on application),
but I have been told that Operating System can also override this. For example on Apple device it is needed to request minimum interval higher or equal to 30ms (25ms will not work properly as apple valid range is [30ms ..])

With btmon, you could check and compare connection interval in case o

[2021-02-09 10:54] PerMac commented on #31822
It seems the issue was fixed in the meantime. I saw no fails in recent versions in any of my setups. Closing the issue.

[2021-02-09 10:54] #31822 closed

[2021-02-09 10:55] ABOSTM commented on #31982
With ZTEST and ISZ stack double size,
I have the same logs.

[2021-02-09 11:55] #30100 closed

[2021-02-09 12:03] nashif commented on #32112
this is related to cache coherence asserts.

[2021-02-09 12:07] nashif commented on #32111
Windows support is planned and is not done yet.

[2021-02-09 12:16] carlescufi commented on #32084
@nordic-krch can you confirm whether a call to `log_msg_put()` is required?

[2021-02-09 12:30] carlescufi commented on #31900
Not really, those are quite different issues. Zephyr doesn't really integrated standalone west doc, but rather contains the whole of the west documentation in its main tree (`doc/guides/west`).

[2021-02-09 12:43] nvlsianpu opened #32118 "drivers/flash/soc_flash_nrf: nRF anomaly 242 workaround is not implemented"
**Describe the bug**
Some of nRF devices are affected by the 242 anomaly:

NVMC operations during POFWARN cause the CPU to hang
###### *For full description pleas referee relevant errata document

**Expected behavior**
workaround implemented

**Impact**
embedded flash operation might  hang the SoC if POFWARN is in use.

[2021-02-09 12:45] nvlsianpu commented on #32118
cc @anangl @carlescufi

[2021-02-09 12:52] jfischer-no commented on #32072
nrf52833 0.9.0
[code]

nrf52833 1.0.0
[code]

[2021-02-09 13:28] ioannisg commented on #28664
I think this has already been an adopted policy, at least for Cortex-M platforms in the tree, including, among others, Atmel, Nordic, NXP and STm32. It has been documented as well in the board porting guidelines:

https://docs.zephyrproject.org/latest/guides/porting/board_porting.html?highlight=board%20porting

so, I am going to close this ticket.

[2021-02-09 13:28] #28664 closed

[2021-02-09 14:05] avisconti commented on #32098
Unfortnately not. Th Sensortile.box board has a MP23ABS1 microphone with an analog output. All the work I have done was on STM digital microphone with pdm output (like MP34DT05). In the latter case the pdm output can be interfaced to I2S and there is a sample here: zephyr/samples/shields/x_nucleo_iks02a1/microphone

In case of analog microphone I think that the only way is infact to use the ADC to

[2021-02-09 15:17] joerchan commented on #31607
Same issue exists also when required BT_SECURITY_L3 and peer does not have MITM flag set.
Can be reproduced with twe shell instances when peer side has not set any authentication callbacks that makes it MITM capabable

Remote:
[code]

Local:
[code]

Original issue can be reproduced with two shell instances, remote with BT_TINYCRYPT_ECC=n

Remote:
[code]

Local:
[code]

[2021-02-09 15:45] erwango commented on #32098
@jimakos96 instead of the HAL driver, I'd suggest using the ADC zephyr driver

[2021-02-09 15:48] f-egg opened #32124 "Zero-latency interrupt extension for ARMv6-M"
## Introduction
It seems that no one is working on this topic and I would like to push this forward. I would be glad to get some inputs, ideas, and concerns.

### Problem description
For ARM processors based on the ARMv6-M architecture such as ARM Cortex M0, M0+ and M1 there is no possibility to use zero-latency interrupts (ZLI). The ZLI have a higher priority than the Kernel and are executed even

[2021-02-09 15:50] rlubos commented on #32075
Yeah, that's a weak point of our LwM2M implementation, there's a very old issue regarding this which hasn't gotten much attention yet (https://github.com/zephyrproject-rtos/zephyr/issues/4634).

I think that any contribution in the test area would be valuable, it's a pity there's no test coverage for the LwM2M implementation and I didn't get to adding tests yet.

Personally, I was thinking of exte

[2021-02-09 16:33] selman-nus commented on #32070
It turns out I had board related issues too. (EBSHSNZWZ - taiyo yuden)

1. I separated the power line of NRF52 from the FTDI chip already but I didn't know I also had to cut rx/tx etc. It reduced most of the consumption by itself already.

2. Then I changed `NRFX_DELAY_US` to `k_sleep`. It also helped a lot. I didn't expect NRF could transmit the packet that fast and go to sleep.

Below is the fin

[2021-02-09 16:34] andyross commented on #31964
For clarity: there's nothing wrong with reporting a spurious failure.  We've had them before and they're real.  It's just that part of the reporting process for spurious bugs is coming up with a good estimate for the frequency, because otherwise the poor developer has no guidance for how to reproduce.

[2021-02-09 16:51] pabigot opened #32129 "RFC: Extend Zephyr CMake infrastructure to support multiple application link phases"
## Introduction

The Zephyr build infrastructure currently has support for a two-stage build, but the data that's calculated from the first stage to inform the second stage may result in changes that invalidate other analyses.

Adding general support for multiple stages reduces the risk of subtle bugs resulting from rewriting/adding objects, and opens the possibility of better space optimization b

[2021-02-09 16:53] pabigot commented on #32129
@tejlmand @galak @dcpleung @carlescufi and others: FYI.  I do not propose to do this (I don't have the CMake skills), but it would enable some significant improvements in use of devicetree data by allowing post-processing that doesn't have to respect the "do not move **anything**" requirements of kernel object and page table analysis.

[2021-02-09 17:07] carlescufi commented on #13436
@tejlmand do you have plans to address this?

[2021-02-09 17:10] carlescufi commented on #17656
@ioannisg, I assigned this to @dcpleung as one of the common arch collaborators.

[2021-02-09 17:12] jukkar commented on #30153
There has been lot of changes to TCP2 which is the default TCP implementation. I have been running `samples/net/sockets/dumb_http_server_mt/` which can serve large file (100kb) to HTTP client. Currently this combo works ok so I will close this issue.
As the TCP1 implementation is deprecated, we do not expected any fixes to it any more and the plan is to remove it in 2.6 release.

[2021-02-09 17:12] #30153 closed

[2021-02-09 17:12] carlescufi commented on #19340
API meeting 9th Feb.

@ioannisg this seems more effort than it's worth, because it is expected that code that is less optimized will consume more stack. Unless you have a good reason to keep this open, the consensus today seems to be to close it.

[2021-02-09 17:14] carlescufi commented on #22956
@nashif do we want to keep this open? Is the nios2 arch maintained?

[2021-02-09 17:14] carlescufi commented on #23449
@tejlmand do you think this is worth pursuing? Maybe documenting the limitations might be another option.

[2021-02-09 17:17] carlescufi commented on #25313
@jfischer-no there seems to be an agreement on how to fix this, could you send a PR?

[2021-02-09 17:19] pabigot commented on #31969
The tests pass for me on mimxrt1060_evk at v2.5.0-rc3-29-g1b5f134477

[2021-02-09 17:22] carlescufi commented on #27992
@erwango it doesn't look like Yannis or Loic are going to be able to look at it. Is this something you could try to reproduce?

[2021-02-09 17:24] MaureenHelm commented on #27203
@dleach02 can you take another look at this?

[2021-02-09 17:24] carlescufi commented on #28333
@erwango there seems to be some consensus that the STM32 USB driver needs some serious rework. Is this something that could be done by you or other ST engineers?

[2021-02-09 17:27] carlescufi commented on #28587
Closing since, according to @jukkar, this is potentially fixed in master now. @armandciejak please reopen if you reproduce this with Zephyr 2.5.x or later.

[2021-02-09 17:27] #28587 closed

[2021-02-09 17:28] carlescufi commented on #29013
@parthitce do you have plans to address this?

[2021-02-09 17:31] carlescufi commented on #29162
@sdalu closing this for now, since this has seen no feedback from you for a while. If this is still an issue on the latest Zephyr master, please reopen it.

[2021-02-09 17:31] #29162 closed

[2021-02-09 17:32] carlescufi commented on #29349
@katsuster thanks, I will assign this issue to you.

[2021-02-09 17:34] carlescufi commented on #29545
@ioannisg or @oyvindronningstad any thoughts on this one?

[2021-02-09 17:35] carlescufi commented on #29581
PR updating loramac-node to v4.4.5: https://github.com/zephyrproject-rtos/loramac-node/pull/7

[2021-02-09 17:37] pabigot commented on #29349
We happened to see this line while reviewing issues; if this is a feature we need, it could be supported by #29618 where there's new support for configuring the attributes of a work queue via a `struct k_work_queue_config` option.  Currently the only configuration items are the thread name, and whether the thread yields between work items, but additional thread flags are possible.

[2021-02-09 17:43] jukkar commented on #30129
There has been important fixes in TCP2 recently and I have not seen this issue. Closing this atm, please reopen if needed.

[2021-02-09 17:43] #30129 closed

[2021-02-09 17:44] carlescufi commented on #29946
@trembel thanks for the analysis. Have you tested your proposed solution? If so, and if it works, could you propose a PR, even if it's a Draft or RFC?

[2021-02-09 17:46] carlescufi commented on #30026
Could you provide full `btmon` logs for the complete connection cycle? We can take a look at those and decide if this is indeed a Zephyr issue.

[2021-02-09 17:48] carlescufi commented on #30162
Does this mean that the last item missing is:

[2021-02-09 17:48] erwango commented on #28333
@carlescufi This is in my radar and action has been taken. This is taking more time than expected, but this should eventually be solved.

[2021-02-09 17:48] carlescufi commented on #30192
@maksimmasalski could you re-run the test with that option to see if you get rid of the fault?

[2021-02-09 17:56] carlescufi commented on #30416
This assertion will happen if you have not correctly configured your Bluetooth/BLE controller so that qemu (or native_posix) finds it.
Please follow the documentation [on this page](https://docs.zephyrproject.org/latest/guides/bluetooth/bluetooth-tools.html#running-on-qemu-and-native-posix) and see if you can get it working.

[2021-02-09 17:56] carlescufi commented on #30441
@jostn and @joerchan could you please follow-up on this one?

[2021-02-09 17:57] carlescufi commented on #30465
@carlocaione did you manage to resurrect the PR you mentioned?

[2021-02-09 18:05] carlocaione commented on #30465
Yes, that was fixed with the merge in #29058 but only for AArch64

[2021-02-09 18:06] carlescufi commented on #31031
@trond-snekvik any updates on this one?

[2021-02-09 18:07] abrodkin commented on #30162
Indeed, atomics are not yet fixed in MetaWare toolchain.
That doesn't interfere with building, but does affect execution on SMP system.
Still it's only one particular atomic operation which is implemented incorrectly (`__atomic_fetch_nand()`), so if you're lucky enough it might not affect your particular application... yet it doesn't mean we don't need to fix it, which we'll obviously do soonish (

[2021-02-09 18:11] nashif commented on #31299
@evgeniy-paltsev  @abrodkin  can you please confirm if this still fails?

[2021-02-09 18:14] nashif commented on #31323
Can you provide some more context and what test/sample on which platform you are getting this?

[2021-02-09 18:14] jharris-intel opened #32133 "Current atomics are subtly broken on AArch64 due to memory ordering"
**Describe the bug**

On AArch64 atomic_inc gets turned into a LDAXR and a STLXR. This results in a subtly broken spinlock, as a load half-barrier followed by a store half-barrier is not equivalent to a full barrier.

**To Reproduce**

Look at compiler output for atomic_inc on AArch64.

**Expected behavior**

Spinlocks have the documented semantics on AArch64.

**Impact**

Long-tail corruption and

[2021-02-09 18:15] nashif commented on #31416
@evgeniy-paltsev  can you please take a look at this one?

[2021-02-09 18:16] nashif commented on #31447
@arapostol  did you do any additional tests?

[2021-02-09 18:19] nashif commented on #31675
@alexanderwachter  can you please take a look?

[2021-02-09 18:20] nashif commented on #31748
@agansari ping

[2021-02-09 18:20] nashif commented on #31757
@abrodkin  @evgeniy-paltsev  ping

[2021-02-09 18:23] carlescufi commented on #32133
@jharris-intel
FYI: https://github.com/zephyrproject-rtos/zephyr/pull/30676

[2021-02-09 18:25] nashif commented on #31952
this should have been fixed already, please confirm.

[2021-02-09 18:25] carlescufi commented on #32133
CC @carlocaione @MrVan

[2021-02-09 18:28] jharris-intel commented on #32133
@carlescufi

:-)

I'm about to make a few comments about other issues I found in that PR, actually. I think that's the best way to approach PR-specific issues. (Although I don't know that much about processes here. So if there's a better method I'm all ears.)

As for this issue: it's more general than just AArch64 SMP - it's just that AArch64 is the first architecture in practice where it matters.

[2021-02-09 18:43] #29991 closed

[2021-02-09 18:50] tejlmand commented on #23449
Yes. It is always worth to ensure that byproducts (and dependencies) are set up correctly everywhere in the build syste.

I have briefly looked into this, and the most tricky part is the autogenerated files where we don't know which files are being generated by the scripts, and hence hard to cleanup using byproducts, but from CMake 3.15 there is a new flag that can be used for directories that hol

[2021-02-09 18:53] tejlmand commented on #13436
No concrete plans at the moment, as solving this is not an easy thing to do.
The approach examined in #22800 turned out to have other unintended effects.

[2021-02-09 18:59] #27879 closed

[2021-02-09 18:59] Laczen commented on #30416
@carlescufi, IIRC the question was to have persistent storage support for qemu, so that on a restart the previous stored settings could be used. I think a flash driver is missing for the case a file is passed to qemu as a flash representation.

[2021-02-09 19:02] igallib86 commented on #31952
Hi @nashif , it works, thanks.

[2021-02-09 19:15] nashif commented on #32133
reassigning, after reading the bug more carefully.

[2021-02-09 19:20] carlocaione commented on #32133
Uhm I'll take a look but to me it looks like a general problem, not really specific to AArch64.

[2021-02-09 19:42] mrrosen opened #32135 "Expand USB DFU to include more partitions"
**Is your feature request related to a problem? Please describe.**
Currently, the implementation of USB DFU is tied to the two partitions used by mcuboot for updating application images. However, some projects might need access to more partitions over USB DFU.

**Describe the solution you'd like**
Discussion of possible solutions/hangups can be found in this PR: #30562

To summarize, user/app deve

[2021-02-09 19:46] parthitce commented on #29013
@carlescufi Yes I will be addressing this along with a functional bug in w5500 driver before end of this month. Was busy with usual business.

[2021-02-09 20:03] arapostol commented on #31447
My custom board with Wi-Fi hasn't arrived yet, but I think I'll will be able to test it by next week

[2021-02-09 20:25] jharris-intel opened #32136 "z_unpend1_no_timeout non-atomic"
**Describe the bug**

The implementation of `z_unpend1_no_timeout` is non-atomic, and can result in threads in an inconsistent state.

**To Reproduce**

Inspect

**Expected behavior**

`z_unpend1_no_timeout` should leave threads in a consistent state.

**Impact**

Usages of `z_unpend1_no_timeout` in preemptive threads, threads and interrupts, or in SMP mode can result in catastrophic system-level

[2021-02-09 20:27] jimakos96 commented on #32098
ok I will try to implement it using the adc driver for getting audio out of the internal microphone .

[2021-02-09 20:35] mbolivar-nordic commented on #32071
Thanks for testing!

Not easily with the current tooling, I'm afraid.

[2021-02-09 20:43] carlocaione commented on #32136
following

[2021-02-09 20:50] nashif opened #32137 "Provide test execution times per ztest testcase"
**Is your enhancement proposal related to a problem? Please describe.**
We do not have any information about how long each test runs when running tests using ztest.

**Describe the solution you'd like**
For each test, print our the execution time as part of the results

**Describe alternatives you've considered**
Provide test execution time per testcase.

For example:

now:
[code]
with per test ex

[2021-02-09 20:51] nashif commented on #32137
@jocelyn-li FYI

[2021-02-09 21:02] abrodkin commented on #31757
We do plan to address that, but the idea was to do it for the v2.6 to not add more troubles in yet stabilized v2.5.
Or @nashif you prefer us to do that last second fix?
@jacoba-at how critical is this one for you? Please note that in case of MW tools we use right set of options (https://github.com/zephyrproject-rtos/zephyr/blob/master/soc/arc/snps_arc_hsdk/CMakeLists.txt#L14) which matches HSDK's

[2021-02-09 21:05] mbolivar-nordic opened #32139 "Remove usage of DT_INST in samples"
**Is your enhancement proposal related to a problem? Please describe.**

Various samples use DT_INST(0, compat) to get the node identifier for a particular compatible. Using instance numbers in samples does more harm than good: explaining the semantics is quite complicated.

(Don't believe me? Have a look at the awful amount of text describing them in the [DT_INST documentation](https://docs.zephy

[2021-02-09 21:06] mbolivar-nordic commented on #32139
#30536 adds `DEVICE_DT_GET_ANY`. I will postpone switching other samples over to using it until after we get a chance to discuss the idea in dev-review.

[2021-02-09 21:43] tejlmand commented on #23449
@carlescufi made a first round here: #32140

[2021-02-09 21:50] skullbox305 opened #32142 "dtc: Unrecognized check name "unique_unit_address_if_enabled""
**Describe the bug**
After commit 17f1e4b14f28f7276d0f2c12a1ed719df5a1e25b I am unable to build anything for the `nrf9160dk_nrf9160` board under Windows 10. Building in Linux works just fine. Every dependency is up to date.

**To Reproduce**
Steps to reproduce the behavior:
1. cd ~/zephyr/samples/hello_world
2. west build -p auto -b nrf9160dk_nrf9160
3. See error

**Impact**
I get the error:

**Lo

[2021-02-09 22:02] jharris-intel opened #32143 "AArch64 idle loop corrupts IRQ state with CONFIG_TRACING"
**Describe the bug**
[arch_cpu_atomic_idle](https://github.com/zephyrproject-rtos/zephyr/blob/b3ff89bd511afef484c193a428633f6a1c866944/arch/arm/core/aarch64/cpu_idle.S#L31) on AArch64 with CONFIG_TRACING clobbers X0, resulting in potentially corrupted IRQ state.

**To Reproduce**

Examine [arch_cpu_atomic_idle](https://github.com/zephyrproject-rtos/zephyr/blob/b3ff89bd511afef484c193a428633f6a1c866

[2021-02-09 22:28] andyross commented on #32136
That's all pretty much exactly right.  The unsynchronized waitq unpending calls are clearly a mistake that should be fixed before the release.  But really the API here is sort of a tangled mess, owing to too many older calls that don't really have value anymore.  All the "no_timeout" variants, for example, are for the most part just performance worry about not wanting to double-remove a timeout ob

[2021-02-09 22:47] skullbox305 commented on #32142
Solved. Turns out I had [dtc ](https://chocolatey.org/packages/dtc-msys2/1.4.4.20180829) installed via chocolatey which caused the error. I can't remember when and why I installed it, but after removing the compilation succeeds.

[2021-02-09 22:47] #32142 closed

[2021-02-09 22:49] jharris-intel opened #32145 "`kernel threads` and `kernel stacks` deadlock in many scenarios"
**Describe the bug**

`kernel threads` and `kernel stacks` call `shell_print` in the callback of `k_thread_foreach`. `shell_print` attempts to take a mutex with a non-zero timeout. This can result in context switching while holding `z_thread_monitor_lock`, which results in incorrect behavior.

**To Reproduce**

n/a

**Expected behavior**

...I'm not actually sure what the desired behavior is, to b

[2021-02-09 23:03] andyross commented on #32133
I see the references, and buy the theoretical problem.  I guess I'm failing to see how this actually impacts the use of the GCC atomics layer to implement a spinlock in Zephyr.   As long as

1. The instructions between the LDAXR/STLXR pair don't touch memory (and they don't, AFAICS)
2. Nothing but LDAXR/STLXR touches the value at the relevant address

Then no race exists and all other accesses in

[2021-02-09 23:08] jharris-intel commented on #32136
Sounds good, thank you for the response!

Yep, that was mainly intended to be just an example showcasing that you could hit this issue using externally-visible APIs.

That being said, I do have a lingering concern there about something else in the system seeing the thread in a state where the thread has been removed from wait_q but hadn't yet been readied or scheduled:

[code]
Most of the other ca

[2021-02-09 23:28] jharris-intel commented on #32133
Nope :-)

That's precisely why this bug is so subtle by the way - acquire/release semantics are close to, but subtly different from, the intuitive semantics.

In particular on ARM the previous store can be ordered past the LDAXR, and the next store can be ordered before the STLXR, and indeed before the previous store.

I suggest you look at the herd7 ordering I posted. It provides specific example

[2021-02-10 00:39] andyross opened #32148 "Rework scheduler/IPC layer API to not be a horrifying mess"
The scheduler internals were rewritten a while back and they're tight and featureful and I love them.  The scheduler public API has been stable and clean for a while, with only a handful of new features over the years which are straightforward and orthogonal.

But the scheduler internal API used by the IPC layer remains a ridiculous tangled archaeology of successive design changes.

We can pend an

[2021-02-10 00:41] #31726 closed

[2021-02-10 00:41] andyross commented on #32136
Enhancement added at #32148 to track the rework needed.  Feel free to elevate that to to a "Bug" post-release, I just don't want to mess up the bug counts at the last minute with work I'd never be able to finish.

Will have a targetted fix for this submitted as soon as my local twister run completes.

[2021-02-10 02:42] MrVan commented on #32133
@jharris-intel Do you have any plan to fix the issues that you mentioned, or any TODO list?

[2021-02-10 03:01] galak opened #32151 "Use of deprecated macro's in icm42605"
The icm42605 driver use DEVICE_AND_API_INIT which is deprecated.

[2021-02-10 03:02] galak opened #32152 "DEVICE_AND_API_INIT and DEVICE_INIT deprecation marking is not working"
The way DEVICE_AND_API_INIT and DEVICE_INIT are marked with __DEPRECATED_MACRO is not catching uses and reporting the warning message.

[2021-02-10 03:05] MrVan commented on #32143
Indeed. arch/arm/core/aarch32/cpu_idle.S store/restore r0. I think it should be ok to just store/restore x0 here and add a comment that x0-x3 maybe clobbered?

[2021-02-10 03:15] #32152 closed

[2021-02-10 03:16] galak commented on #32152
The issue wasn't with the macro, but the fact that the code for icm42605 is never built.

[2021-02-10 03:20] galak commented on #32151
icm42605 - is an odd case as the code can't ever be built currently.  We're missing the following:

[code]

[2021-02-10 03:33] galak opened #32153 "Use of deprecated macro's in dma_iproc_pax_v1, and dma_iproc_pax_v2"
The dma_iproc_pax_v1, and dma_iproc_pax_v2 drivers use DEVICE_AND_API_INIT which is deprecated.

[2021-02-10 04:52] stoberblog opened #32157 "Counter (HW timer) - Resetting counter to zero"
**Is your enhancement proposal related to a problem? Please describe.**
I would like a function that allows reset/clearing of a counter (HW timer) to 0.

**Describe the solution you'd like**
A function such as
    int counter_clear(const struct device *dev);

for the nordic nrf hal, I believe this would link to
    nrf_timer_task_trigger(get_nrfx_config(dev)->timer, NRF_TIMER_TASK_CLEAR);

**Descr

[2021-02-10 05:30] chen-png opened #32158 "twister: inconsistent total testcases number with same configuration"
**Describe the bug**
Even with the same board, same commit, same configuration, the total testcases number in twister_report.xml generated by twister command is different with running many times.

**To Reproduce**
Steps to reproduce the behavior:
1. use twister to run all testcases under tests/ directory on ehl_crb board multiple times
2. open twister_report.xml and compare the tests number

**Exa

[2021-02-10 05:39] chen-png commented on #32158
I found that sometimes if a test instance due to some hardware or flash issues, it's results will be an empty dictionary, and according to the code in xunitl_report function, it won't be counted into total tests.
`

        if full_report and instance.run:
                    for k in instance.results.keys():
                        if instance.results[k] == 'PASS':
                            pas

[2021-02-10 06:58] ioannisg commented on #19340
@carlescufi honestly, one of the (main) reasons to keep this open would be to close any duplicate tickets community members might want to open when they observe relevant issues; better to have one ticket that would cover all such failure reports.

I don't have strong arguments for keeping the ticket open, though. One option would be to close it, if we are already documenting (properly) that buildi

[2021-02-10 07:52] #31952 closed

[2021-02-10 07:52] #29776 closed

[2021-02-10 08:30] erwango commented on #32139
Fully supporting the approach.

[2021-02-10 08:40] gmarull commented on #32139
+1

[2021-02-10 08:44] hakehuang commented on #31969
@pabigot do you know which change related this I can still see failure on v2.5.0-rc3-21-g0b8fd867844c

[code]

[2021-02-10 08:49] jukkar commented on #30355
Hi @rtzu6 sorry for very late reply. This issue was just lost to a sea of other issues. I tried this again, and noticed one issue in the echo-server sample application for IPv4 connections. The sample app did not set the netmask of the VLAN network interfaces, which then meant that the network packet could be sent to wrong virtual interface. For example, I was pinging 203.0.113.2 from zephyr, the

[2021-02-10 08:53] jacoba-at commented on #31757
I do have a WA for this by patching the GCC cmake file, so no critical. As for the support of HSDK with MW toolchain (#30162) that you mentioned, would this be available for 2.5., or only in 2.6?

[2021-02-10 09:01] ioannisg commented on #1324
@bryan-hunt this has been fixed for quite some time now 👍

[2021-02-10 09:12] loicpoulain commented on #27992
Is it reproducible with an existing (master) sample?

[2021-02-10 09:12] cvinayak commented on #32070
I see you idle current is higher, ~300 uA, ADC when in use should use 700uA, but otherwise when no other peripheral is in use your idle current should drop down < 10uA. Check for your idle current with your application running but with BLE and ADC code disabled.

[2021-02-10 09:54] ioannisg commented on #29545
Can't reproduce this , maybe @oyvindronningstad or @microbuilder  have encountered this one.

[2021-02-10 09:55] ioannisg commented on #30465
@stephanosio  could you take a quick look?

[2021-02-10 09:58] stephanosio commented on #30465
@ioannisg will do.

[2021-02-10 10:07] oyvindronningstad commented on #29545
Looks like Ed25519 was added in 2.6 - in February 2019 (https://cryptography.io/en/latest/changelog.html#v2-6). Is it possible that you just need to update your `cryptography` pip module, @ABOSTM?

[2021-02-10 10:13] cvinayak opened #32167 "Bluetooth: controller: conformance testcase failures"
**Describe the bug**
All the conformance testcases related to advertising enable (except directed advertising) fail, due to missing advertising PDU transmission on-air.

**To Reproduce**
Steps to reproduce the behavior:
1. Update samples/bluetooth/hci_uart/prj.conf accordingly to match Bluetooth ICS requirements
2. mkdir build; cd build
3. cmake -GNinja -DBOARD=nrf52dk_nrf52832 ../samples/bluetoot

[2021-02-10 11:50] ioannisg commented on #29545
That's what I also think, but shouldn't this be an added "requirement" for TF-M @oyvindronningstad ?

[2021-02-10 11:53] oyvindronningstad commented on #29545
The failure above happens in mcuboot (imgtool), which does specify >=2.6 in its requirements.txt. tfm does not, but I don't know what they use it for.

[2021-02-10 12:03] hguomin8 commented on #30026
Sure, but let me make it after this Chinese New Year holidays...

[2021-02-10 12:12] carlocaione commented on #32133
I'm still a bit lost on the details but for the sake of discussion I pushed #32170 where all the atomics are now implemented using the `__sync` builtins.

[2021-02-10 12:16] #32153 closed

[2021-02-10 12:17] #32167 closed

[2021-02-10 12:43] #32136 closed

[2021-02-10 12:43] FRASTM commented on #31284
add the CONFIG_PM_DEVICE definition from the CONFIG_PM  for the soc that supports the low power modes.

[2021-02-10 12:45] FRASTM commented on #31284
Note that the `tests/subsys/power/power_mgmt_soc`  might requires a stack size with  `CONFIG_IDLE_STACK_SIZE=640` in its prj.conf

[2021-02-10 12:47] pabigot commented on #32139
As suggested in the first discussion below, this could be an opportunity to provide a small library of routines that would help make samples more uniform.  Candidates for that library include:
* [A function to retrieve and validate a device pointer](https://github.com/zephyrproject-rtos/zephyr/pull/30536#discussion_r573296209).
* API to get the [current kernel time in millisecond resolution in a r

[2021-02-10 13:01] pabigot commented on #32070
Also confirm whether you're measuring just the MCU, or the power consumed by the entire board.  Unless the PCB is optimized for power consumption 300 uA as a minimum might be all you can expect.  See what you get on an application that does nothing but go to sleep.

[2021-02-10 13:06] furkanhtk commented on #31308
Hi,
As you suggested, I tried it on Raspberry with new kernel and Bluez versions and encountered the same error.
`Linux raspberrypi 5.4.83-v7+ #1379 SMP Mon Dec 14 13:08:57 GMT 2020 arm7l GsNU/Linux`
with bluez version : `5.50-1.2~deb10u1+rpt2`
Thanks for help.
@carlescufi

[2021-02-10 13:16] jakub-uC commented on #32145
You can always use `z_shell_print` which is not taking a mutex. This function is used internally by the shell. When text is printed by it the shell does not watch the order in which the characters are sent to the terminal: (by the shell and by users).
The only side effect is that in some narrow cases you will have incorrect text alignment.

I am not sure if the original problem should be fixed ins

[2021-02-10 13:29] jfischer-no commented on #32139
Would it be appropriate time to introduce aliases or zephyr_ node labels for the common sensors and replace all samples that do the same thing, like x temperature sensor samples, with generic one?

[2021-02-10 13:55] #31569 closed

[2021-02-10 13:55] #32033 closed

[2021-02-10 14:03] carlescufi commented on #28535
We will discuss this in the TSC meeting today at 17h CET.

[2021-02-10 14:41] PerMac opened #32179 "samples: tests: Tests from samples/subsys/usb/audio fail"
**Describe the bug**
Tests from samples/subsys/usb/audio fail twister tests with timeout. It happens because the tests were not designed properly: there are no actual tests defined (no pass/fail conditions).

**Impact**
Annoyance

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain Zephyr SDK
 - Commit SHA or Version used v2.5.0-rc3-39-gd0be253081f5

[2021-02-10 14:47] nandojve commented on #30486
Since there is no activity for almost 2 months, I'm closing this topic.
Feel free to reopen if necessary.

[2021-02-10 14:47] #30486 closed

[2021-02-10 15:02] carlescufi commented on #30416
Sure, but I was addressing the error log from the PR description.

[2021-02-10 15:16] #32143 closed

[2021-02-10 15:22] pabigot commented on #31969
OK, yes, I *can* confirm the failure when a live ethernet cable is connected, on imxrt1060.  The failure does not occur on k64f.

[2021-02-10 15:24] PerMac opened #32181 "samples: tests: Tests from samples/boards/nrf/nrfx fail"
**Describe the bug**
Tests from samples/boards/nrf/nrfx fail twister tests with timeout. It happens because the tests were not designed properly: there are no actual tests defined (no pass/fail conditions).

**Impact**
Annoyance

**Environment (please complete the following information):**

OS: Ubuntu 18.04
Toolchain Zephyr SDK
Commit SHA or Version used v2.5.0-rc3-39-gd0be253081f5

[2021-02-10 15:45] andyross commented on #32145
What's the code in question?  The shell is an upper level subsystem and the kernel code shouldn't be calling into it, ever.  I'm guessing you found a user of the thread enumeration API that is doing questionable things in the callback?

But yes: the thread and stack "foreach" enumerators are indeed problematic and encourage some really dangerous patterns.  I wouldn't cry if they just disappeared,

[2021-02-10 15:46] jharris-intel commented on #32145
Sorry, I am confused. Could you please point me at `z_shell_print`? I can't find it.

There's e.g. `z_shell_print_stream`, but its documentation states explicitly "This function shall not be used directly". (And e.g. `z_shell_fprintf` - but again "This function can be called only within shell thread but not from command handlers.")

[2021-02-10 15:48] jharris-intel commented on #32145
Sorry about that - I forgot to actually link the code in question. It's the `kernel_service.c` shell module, [kernel threads](https://github.com/zephyrproject-rtos/zephyr/blob/c7a0cdd1a53fc9d98f733778a5dc96b1bd541e37/subsys/shell/modules/kernel_service.c#L143) and [kernel stacks](https://github.com/zephyrproject-rtos/zephyr/blob/c7a0cdd1a53fc9d98f733778a5dc96b1bd541e37/subsys/shell/modules/kernel_

[2021-02-10 16:03] jakub-uC commented on #32145
@jharris-intel : Sorry for the spelling mistake. The function I am thinking about is `z_shell_fprintf`. Indeed it is marked as internal because if you will call it outside of the shell thread you can have problems with the correct text display. It is a hack but I do not see any other way to help you.
It is still the caller's task to ensure there will be no lock conflicts so in my opinion these kin

[2021-02-10 16:27] carlescufi commented on #28535
The TSC has agreed to create the repository and add lz4 as a module.

[2021-02-10 16:33] abrodkin commented on #31757
@jacoba-at since we're talking about an issue in libs bundled with MW toolchain it doesn't have any direct connection with a Zephyr release, instead it has to do with MW toolchain release.

That said if this atomics problem gets fixed in the next release 2021.03 of MW tools, then you'll be able to use that newer MW version with Zephyr 2.5 as well as with 2.6 etc.

In the meantime I'd strongly sugg

[2021-02-10 17:02] pabigot commented on #32148
How does this relate to #29668, which is something I'd like to see completed.

[2021-02-10 17:05] jharris-intel commented on #32145
Sorry, to be clear, this is a builtin Zephyr module.

Are you comfortable with a builtin Zephyr module using an API in a fashion that's explicitly against its specification?

I am concerned that an API is brittle enough that even the builtins that are using it are using it incorrectly. That's generally a bad sign.

Yep, it's an interesting issue.

The following may help, although mainly by making

[2021-02-10 17:15] jharris-intel commented on #32133
I'm working through the issues I found and making bug reports here or comments directly on your PR, as appropriate. For the most part your PR is solid however - I had to make surprisingly few changes to get it to work on our system. (You fixed one of the issues before I had a chance to report it, even!)

In general I'm impressed with the Zephyr project's responsiveness here. Kudos!

[2021-02-10 17:32] andyross commented on #32148
It's the same problem.  I wasn't completely on board with @andrewboie 's desire for a firmly documented API here (the IPC layer is inherently quite closely coupled to the kernel, after all) but certainly wasn't opposed.  This is capturing the underlying problem, not that specific solution I guess.  My personal preference would be to start with a cleanup of the layer architecture we have and then s

[2021-02-10 17:44] mbolivar-nordic commented on #32139
My general experience with previous attempts to do things like this has been uniformly negative, so I have reservations.

The problem is that such things have generally worked for their developers, but it's easy for hardcoded assumptions that the library code lives in zephyr/samples to slip in.

When that happens, as a user trying to recursively copy a sample directory somewhere else in order to s

[2021-02-10 17:48] mbolivar-nordic commented on #32139
We've debated this, but I think this issue stands anyway. I agree that having a general purpose "temperature sensor sample" would be a good idea, but in practice people are going to want samples for specific drivers no matter what.

[2021-02-10 18:07] pabigot commented on #32139
Fair enough, though I think that could be averted by some reasonable review and API design.  E.g. my "timestamp" format is good for arbitrary durations extending to years; the only clear flaw is it uses a static buffer and that could be easily worked around with a `now_str_r()` variant like `asctime_r()`.  (The name, of course, is completely inadequate.)

(I'm really more interested in getting tha

[2021-02-10 18:10] pabigot commented on #32148
OK.  I do think it's worth having a clearly documented API; questions about what atomic, spin_lock, pend, etc. really promise to do in various configurations (and why we think the implementation is correct) will come up repeatedly even if the primary audience is kernel maintainers (and those that aspire or are forced to become such because they need special IPC capabilities, as in #29618).

I'm fi

[2021-02-10 18:31] mbolivar-nordic commented on #32139
I haven't looked at this case, but yeah, my general feeling is that these things should be encoded as helper functions that live in the files which provide the subsystem functionality, rather than a "libsample" directory. Sounds like this one could be solved that way.

[2021-02-10 19:28] jharris-intel opened #32187 "Non-contiguous MPIDR support for AArch64"
**Is your enhancement proposal related to a problem? Please describe.**

Zephyr assumes that core IDs are within a restricted range, 0..`CONFIG_MP_NUM_CPUS`-1. A number of data structures in Zephyr scale linearly in size w.r.t. `CONFIG_MP_NUM_CPUS`.

ARM's core ID is in the form of 4 affinity values, each a byte, with a given core identified by the unique tuple (`aff3`, `aff2`, `aff1`, `aff0`). Us

[2021-02-10 20:54] andyross commented on #32145
Just to be clear: obviously we need to fix in-tree bugs.  My reference to "the kernel" was parochial and about which promise by which API was being violated and by whom.  (And, of course, whether or not this is on my plate to fix, heh).  We're a big project with a lot of subsystems working at different levels of abstraction, so this kind of collision isn't uncommon.

[2021-02-10 22:21] nashif commented on #32187
@andyross  FYI

[2021-02-10 23:10] jharris-intel opened #32192 "Zephyr support for ABIs without a defined floating-point calling convention"
## Introduction

Even with all FPU configuration options disabled, Zephyr currently requires a defined floating-point calling convention, due to several functions in `timeutil_skew_*` taking and using floating-point values.

Note that this is distinct from having soft-float enabled. (There's really three alternatives here: an ABI that uses hardware floating-point operations and that passes floatin

[2021-02-10 23:13] jharris-intel commented on #32192
BTW I'll be making another ticket soon(TM) for the specific weird platform in question, if you're wondering.

[2021-02-10 23:19] nashif commented on #32192
@pabigot  FYI

[2021-02-10 23:21] #32151 closed

[2021-02-10 23:21] jharris-intel commented on #32192
As an aside, I am somewhat confused about what should be a question versus bug versus enhancement versus feature request. Everything I'm doing seems to fall into two (or more) of those categories at once.

Any input as to my (mis)use of these labels would be appreciated.

[2021-02-10 23:26] awsa2ron opened #32193 "Plan to support raspberry pi Pico?"
Hi,

Could zephyr support support raspberry pi Pico?
Looks rtt and freeRTOS already support it.
FYI.
https://www.seeedstudio.com/blog/2021/02/05/rust-rt-thread-os-freertos-come-to-the-raspberry-pi-pico/

[2021-02-10 23:28] kestewart opened #32194 "Source files missing specification of SPDX-License-Identifier in comments"
**Describe the bug**
Missing detectable SPDX licensing information in Zephyr Source files.

**To Reproduce**
See the files:
./arch/x86/zefi/efi.ld
./arch/xtensa/core/xtensa_intgen.py
./arch/arm/core/aarch32/cortex_m/vt_pointer_section.ld
./include/dt-bindings/interrupt-controller/intel-mvic.h
./include/generated_dts_board.h

Note:  these files have licenses, but not an SPDX-License-Identifier, so

[2021-02-10 23:40] jharris-intel opened #32195 "ARMv8-nofp support"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**

ARMv8 has the following to say about FPU/SIMD support:

markets.

("specialized markets" here meaning "embedded systems" and suchlike... which as you can no doubt tell from this ticket includes the market I am in :-) )

I would like support for ARMv8 with no floating-point or

[2021-02-10 23:45] jharris-intel commented on #32192
See #32195.

Long story short, GCC does not have a defined softfloat ABI for AArch64, as AArch64 does not have an official softfloat ABI.

(Interestingly, recent versions of Clang _do_ have a defined softfloat ABI for AArch64. See e.g. https://godbolt.org/z/TGe38f )

[2021-02-11 00:33] andyross opened #32197 "arch_switch() on SPARC isn't quite right"
The SPARC architecture implementation of `arch_switch()` does the common trick of using a pointer into the thread struct as the "switch handle" for the purpose of the API.

But it interprets the arguments incorrectly.  The second argument is not a pointer to a switch handle but a pointer to the **address of** a switch handle.  The intent is that `arch_switch()` will write through this pointer to s

[2021-02-11 01:05] andyross commented on #32187
For clarity: the Zephyr core ID is really nothing but an index within the `_kernel.cpus[]` array.  There is no expectation that it correspond to any particular hardware feature.  Things like x86 APIC IDs have an even more complicated architecture, and IIRC the CPU hardware ID values for the two CPUs on esp32 are essentially random-looking 32 bit numbers (though the intel_adsp parts, based on large

[2021-02-11 01:33] andyross commented on #32187
Oh, and upleveling a bit I see where some of the disconnect is here.  The low level code in the PR is using the (oddly sparse) MPIDR_EL register as an index within a CPU array, which is the bug you're looking at.  But the Zephyr API it's implementing, `arch_curr_cpu()` doesn't care about any of that.  All it's supposed to do is return a per-CPU **pointer** to the CPU record in question, set up in

[2021-02-11 04:50] andyross opened #32201 "arch_switch() on ARM64 isn't quite right"
Along the lines of #32197, the ARM64 implementation of arch_switch() has a bug which was just unmasked by a race treatment submitted in #32089.

The code gets the basic scheme correct, and understands that the second argument is the address of the switch_handle field of the struct thread_base record of the output thread.  And it doesn't load that pointer and merely uses it via an offset to get a p

[2021-02-11 08:03] furkanhtk opened #32203 "Cannot set static address when using hci_usb or hci_uart on nRF5340 attached to Linux Host"
Hi,
As you suggested in #31308, I tried it on Raspberry with new kernel and Bluez versions and encountered the same error.
`Linux raspberrypi 5.4.83-v7+ #1379 SMP Mon Dec 14 13:08:57 GMT 2020 arm7l GsNU/Linux`
with bluez version : `5.50-1.2~deb10u1+rpt2`
Thanks for help.

#3230
#11016

@carlescufi
@jfischer-no
@dcpleung
Label:

[2021-02-11 08:20] kurddt commented on #32071
Ok, I think we can close this ticket when your fix is merged then. I will create a new enhancement request for the child compatible unless @mbolivar-nordic you prefer to do so yourself ?

[2021-02-11 08:23] carlocaione opened #32205 "[misc] AArch64 improvements and fixes"
Moving here several points raised by @jharris-intel in #30676 and not really related to that PR.

https://github.com/zephyrproject-rtos/zephyr/pull/30676#discussion_r573933433
https://github.com/zephyrproject-rtos/zephyr/pull/30676#discussion_r573942667
https://github.com/zephyrproject-rtos/zephyr/pull/30676#discussion_r573946927
https://github.com/zephyrproject-rtos/zephyr/pull/30676#discussion_r

[2021-02-11 08:25] carlocaione commented on #32205
https://github.com/zephyrproject-rtos/zephyr/pull/30676#discussion_r573933433

[2021-02-11 08:26] carlocaione commented on #32205
https://github.com/zephyrproject-rtos/zephyr/pull/30676#discussion_r573942855

[2021-02-11 08:27] carlocaione commented on #32205
https://github.com/zephyrproject-rtos/zephyr/pull/30676#discussion_r573946927

[2021-02-11 08:28] carlocaione commented on #32205
https://github.com/zephyrproject-rtos/zephyr/pull/30676#discussion_r573942855

[2021-02-11 08:33] carlocaione commented on #32205
tagging the relevant people @MrVan @jharris-intel @npitre

[2021-02-11 09:01] carlocaione commented on #32201
This is in the SMP PR currently open https://github.com/zephyrproject-rtos/zephyr/pull/30676/commits/02b267b69095662b79f03dde9068d18a3f0ae97d is that enough to address this problem?

[2021-02-11 09:14] jfischer-no commented on #32139
Where was it discussed? What would be the desired approach aliases or zephyr prefixed node labels?

[2021-02-11 09:26] selman-nus commented on #32070
Thank you for your suggestions. I did the following:

1- Change the board to nRF52 dev kit since it seems more reliable for power measurements.
2- Test the same code (ADC and BLE). Exact same current consumption.
3- Open hello_world example and measure the consumption. Result was 300uA. Still not below 10uA.
4- Delete printk functions and add k_sleep to enable low power state. Still same, 300uA.
5

[2021-02-11 09:45] carlocaione commented on #32205
@jharris-intel about your comment:
[code]
After you setup for EL2 do you drop into EL2 or directly into EL1?

[2021-02-11 10:23] mkvenkit opened #32206 "CMSIS-DSP support seems broken on link"
**Describe the bug**

I am trying to use CMSIS-DSP in a simple project. I added the following to prj.conf:

[code]
In my code I am using:

[code]
This results in a linker error:

[code]
As a workaround, I downloaded CMSIS_5 repo and modified CMakeLists.txt to include the necessary files.

**Environment (please complete the following information):**
- Linux
- Zephyr 2.5.0-rc3
- nRF52840-DK

[2021-02-11 10:38] rtzu6 commented on #30355
Thanks for looking into this and for the fix. Does this also affect IPv6? I am testing with IPv6 and it had the same issues, but as far as I can tell this is not affected by your modification.

[2021-02-11 11:06] pabigot commented on #32070
Set `CONFIG_SERIAL=n`.  The 300uA is probably the UART peripheral being enabled.

[2021-02-11 11:42] pabigot commented on #32192
Interesting.

We have historically variant terminology around floating point. `CONFIG_FLOAT` vs `CONFIG_FP_SHARING` were renamed to `CONFIG_FPU{,_SHARING}` back in [2.3.0](https://docs.zephyrproject.org/latest/releases/release-notes-2.3.html#stable-api-changes-in-this-release), but in this case I don't think "FPU" is relevant.  In that refactoring we lost the ability to indicate generically a desi

[2021-02-11 11:45] selman-nus commented on #32070
FInally! Haha thank you. This solves the problem.
The average is less than 3uA now.

Here is the final measurement on nRF52 dk

![image](https://user-images.githubusercontent.com/47420740/107632536-93caad80-6ca1-11eb-9890-2c279abc4624.png)

[2021-02-11 11:48] pabigot commented on #32070
Great! I'm intending to provide more information on power measurement and management in the `samples/boards/nrf/system_off` example.  That already notes the need to disable UART, but it could probably be made more clear.

[2021-02-11 11:48] #32070 closed

[2021-02-11 12:04] mejtejt commented on #31980
@galak , I have another problem for which I hope you can point me into the right direction. I want to configure trigger mode for BMI160. For that, my prj.conf file is set as:
![image](https://user-images.githubusercontent.com/33463717/107633080-be981000-6c67-11eb-99b9-e34225db3fa6.png)

Dts from before did not change, except I commented in `int-gpios` pin (it is connected to GPIOA, pin 2, as seen

[2021-02-11 12:14] carlescufi commented on #31742
@Oxymoron79 could you please move the call to `bt_gatt_notify()` out of the system workqueue and then see if this still reproduces the issue?

[2021-02-11 12:20] selman-nus opened #32212 "Tx power levels are not similar on ADV and CONN modes when set manually (nRF52)"
Hi,

I have been trying to reduce the Tx power level to reduce the total power consumption of the device. I have successfully modified the hci_pwr_ctrl example and tested with  4,  0, -4, -8,  16, -20, -40 dBm levels while on both advertisement and connected.

[code]

Power consumption is heavily influenced by the Tx level on advertisement mode. However, the more important mode, connection mode di

[2021-02-11 12:24] galak commented on #32206
Did you also enable `CONFIG_CMSIS_DSP_TRANSFORM=y` ?

[2021-02-11 12:24] andyross commented on #32201
Ah, excellent.  Indeed that looks correct to me.

[2021-02-11 12:31] mkvenkit commented on #32206
That fixes the issue, thanks. But is this documented anywhere?

[2021-02-11 12:31] #32206 closed

[2021-02-11 12:35] galak commented on #31980
@mejtejt can you remind me what SoC you are using?

[2021-02-11 12:45] carlescufi opened #32213 "Universal error code type"
The goal here would be to be able to pass around instances of an error type that is able to describe errors beyond the error number itself. In particular, describe which specification/domain the error code maps to.

In order to encode different error codes defined in multiple, scattered specifications in a single class of data, we could provide a new type that encapsulates both the domain and the

[2021-02-11 12:49] galak commented on #31980
@mejtejt I'd suggest the following:

* add `-DCMAKE_EXPORT_COMPILE_COMMANDS=1` to cmake line.  So you'll get something like `cmake -DBOARD=frdm_k64f -DCMAKE_EXPORT_COMPILE_COMMANDS=1 ..`
* look in generated `compile_commands.json` for bmi160.c
* than I suggest executing by hand the compile line for bmi160.c to get the preprocessor output:
   replace the ` -o CMakeFiles/drivers__sensor__bmi160.dir/

[2021-02-11 12:51] galak commented on #32206
Kinda in the Kconfig help for CMSIS_DSP.

[2021-02-11 12:52] mejtejt commented on #31980
It is STM32L462VEI6. As for the other part, I will get back to you shortly.

[2021-02-11 13:05] #32194 closed

[2021-02-11 13:27] mejtejt commented on #31980
Here is the output of zephyr/zephyr.dts
![image](https://user-images.githubusercontent.com/33463717/107642461-3882c600-6c75-11eb-8b93-bff5352e4ccb.png)

[2021-02-11 13:52] mejtejt commented on #31980
@galak , as for compiling, how do I tell it which compiler to use?

Looking at the `compile_commands.json` file, I get:
`-o zephyr/drivers/sensor/bmi160/CMakeFiles/drivers__sensor__bmi160.dir/bmi160.c.obj   -c /home/filip/GitRepositories/zephyrproject/zephyr/drivers/sensor/bmi160/bmi160.c"`

So, I waas trying to do: `/usr/bin/gcc -E /home/filip/GitRepositories/zephyrproject/zephyr/drivers/sensor/b

[2021-02-11 13:54] #31675 closed

[2021-02-11 14:04] carlescufi commented on #32205
@carlocaione could you please move all links/references to the body/description of the issue instead of adding comments?

[2021-02-11 14:07] carlocaione commented on #32205
done

[2021-02-11 14:09] carlescufi commented on #32205
Thank you! Feel free to delete the comments to clean up.

[2021-02-11 14:20] galak commented on #31980
What did the full line in `compile_commands.json` looks like?

[2021-02-11 14:40] mejtejt commented on #31980
[code]

[2021-02-11 14:51] cvinayak commented on #32212
Depending on advertising and connection interval; Radio, CPU and other peripheral current consumption can overlap increasing the total current consumption.

[2021-02-11 14:59] jfischer-no commented on #32203
I have tried it on RPi3 with _2021-01-11-raspios-buster-armhf-lite_ and Kernel version `Linux raspberrypi 5.10.11-v7+ #1399 SMP Thu Jan 28 12:06:05 GMT 2021 armv7l GNU/Linux` (after apt upgrade). I successfully tested nRF5340 on nRF5340DK (0.11.0).
Unfortunately, only now I realized that nRF5340 can not work OOTB with hci_usb. The **cpunet** must also be flashed with appropriate application, hci_r

[2021-02-11 15:02] carlescufi commented on #32203
Define "OOTB". For me, having to flash 2 binaries, one per core, is a reasonable requirement for a dual-core device that gets its images from building Zephyr twice.

[2021-02-11 15:04] galak commented on #31980
So try:

[code]

[2021-02-11 15:05] erwango opened #32220 "gpio: api should provide a way to release resources"
**Is your enhancement proposal related to a problem? Please describe.**
In power management context, we need a way to disable GPIO port clock when needed.
Currently, GPIO API prevents this from happening because there is no way to know when a pin is in use or not.

**Describe the solution you'd like**
Provide a way , using the GPIO API to notify driver that pin is not in use anymore and the matchi

[2021-02-11 15:13] alexanderwachter opened #32221 "Sporadic kernel panics on stm32g4 flash erase/writes"
**Describe the bug**
When writing big data chunks to the flash of an STM32G4 SoC, sporadic kernel panics occur.
It seems that a cache flush is needed after each erase.

**To Reproduce**
Build mcuboot for the nucleo_g474re and update several times.
Sometimes you will see a panic.

**Expected behavior**
Flash write and erase should work without panic

**Impact**
Firmware updates on stm32g4 series do

[2021-02-11 15:13] alexanderwachter commented on #32221
Fix: #32218

[2021-02-11 15:26] mejtejt commented on #31980
Step forward, but it can't find `syscall_list.h`.

[code]

[2021-02-11 15:36] alexanderwachter commented on #32221
why low @erwango? this affects all stm32g4 users that use the flash driver.

[2021-02-11 15:43] Oxymoron79 commented on #31742
@carlescufi You mean to use a separate workqueue to call `bt_gatt_notify()` in, right? I did that and it indeed solves the issue.

I put that version in the [notification_workqueue](https://github.com/Oxymoron79/zephyr-ble-peripheral/tree/notification_workqueue) branch of my repository.

[2021-02-11 15:45] erwango commented on #32221
@alexanderwachter This is from zephyr point of view: one series, one driver, not a regression (from what I saw) and not systematic. But doesn't prevent to review quickly and push so that it's getting merged.

[2021-02-11 15:45] mbolivar-nordic commented on #32139
All the usual places -- meetings, Slack, miscellaneous GitHub issues.

It's never really been settled, but the general consensus seemed to be that applications can use aliases instead of node labels for pointing at particular nodes.

[2021-02-11 15:47] joerchan commented on #32023
The CCC is not stored in flash when the board is reset. CCCs are by default stored in flash when the connection is disconnected.
If the use-case is to support this reset in the middle of the connection then CONFIG_BT_SETTINGS_CCC_STORE_ON_WRITE should be enabled.

[2021-02-11 15:56] galak commented on #31980
Do a full build first, than re-run the command.

[2021-02-11 16:12] mejtejt commented on #31980
Unfortunately, it did not help. I ran `west build -v --board=cyklaer_prototype applications/cyklaer/impl --pristine` and then the command above, still the same.

Do you have a possibility to try it out on STM32L462 (or similar board) by yourself?

[2021-02-11 16:19] jharris-intel commented on #32187
Unfortunately, not really. It's a combination of two things:

1. The more complicated HW ID (MPIDR) here is all that the hardware provides. So yes, a linear ID is what Zephyr expects, but this question is essentially "how do I get here from there?"
2. The GIC (ARM's interrupt controller) uses MPIDR values for differentiating cores, as again, that's what the hardware provides. This shows up in e.g.

[2021-02-11 16:26] jharris-intel commented on #32205
The current hacked-together local changes skip the existing EL2 setup entirely, and as such drop directly into EL1's setup code in __start from EL3's setup code.

This was only because I was trying to avoid changing __start itself if at all possible, which meant I was unable to avoid this. As a result I had to replicate portions of the EL2 setup code in `z_arch_el3_plat_init`.

Ideally, EL3 setup

[2021-02-11 16:37] galak commented on #32192
@tejlmand might be good to discuss part of this in the toolchain working group and how to convey the toolchain features (runtime checks, Cmake, Kconfig, etc..)

[2021-02-11 16:43] galak commented on #31106
Namespacing around a few areas:
* subsystem  - CONFIG_SENSOR_LM73C
* vendor
* devicetree compat

[2021-02-11 16:54] galak commented on #30105
@nashif can you add details on intel compiler here.

[2021-02-11 17:04] jharris-intel commented on #32192
I knew I shouldn't have left that out :-)

Yes, this mode exists, although I haven't really run across any architectures which have compiler flags to differentiate this mode. There are ABIs with hardware floating-point that occasionally pass arguments outside dedicated floating-point registers, but they tend to be happenstance as opposed to an explicit selectable variant ABI, if that makes sense.

[2021-02-11 17:04] galak opened #32224 "Treat devicetree binding deprecation usage as build error when running w/twister"
When running twister if we get a deprecation message from edtlib we should treat that as an error.

[2021-02-11 17:14] galak commented on #31980
Are you able to push your code to your github account?

I tried the following on disco_l475_iot1:

[code]

and see:

[code]

where `.int_pin` and `.int_flags` look good.

[2021-02-11 17:15] galak opened #32225 "Document deprecation policy for devicetree bindings"
Add details w/regards to devicetree bindings to https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/development_process/api_lifecycle.rst

[2021-02-11 17:33] andyross commented on #32187
I still think you're overthinking this.  On x86, for example, there's a compiled-in table (probably should be in DT, but it's just a C array) of APIC IDs that gets searched linearly in arch_mp_start_cpu() (or maybe on the CPU that just got launched, I forget) to identify the CPU being started.  Then it just stuffs the pointer to that CPU record into %GS on the initialization path and never touches

[2021-02-11 17:36] carlocaione commented on #32205
What about simply having a weak `z_arch_plat_init(current_el, is_highest)` to be called by the reset code at each descending Elx. The platform can then use that as it please.

[2021-02-11 17:38] pabigot commented on #32192
The latter.

Yes, if you want to give it a try I'll certainly take a look.  The solutions I came up with mostly worked, but in addition to overflow causing divergence, the reduced accuracy led to significantly longer periods to converge to the right answer (hours, instead of minutes).

The API is also used to measure the skew between independent clocks, such as a 32 KiHz crystal oscillator and the

[2021-02-11 17:59] #28685 closed

[2021-02-11 18:29] jfischer-no commented on #32203
Well I think this requirement is not immediately clear to everyone, how is an inexperienced user supposed to know which application is required for network-cpu? I think it makes sense to update README.rst in hci_usb sample.

[2021-02-11 18:52] #31819 closed

[2021-02-11 18:55] #32221 closed

[2021-02-11 18:57] #32179 closed

[2021-02-11 18:58] #32181 closed

[2021-02-11 19:03] mbolivar-nordic commented on #32225
I'm curious if we want to mark some bindings as stable, and others unstable, just like APIs, or if all bindings are stable by default. It seems like Linux contemplates unstable bindings that get more stable over time. cc @pabigot

[2021-02-11 19:19] agherzan opened #32233 "Often disconnect timeouts when running the BLE peripheral HR sample on Nitrogen96"
**Describe the bug**

Connection often fails when running [samples/bluetooth/peripheral_hr](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/peripheral_hr) on Nitrogen96 (nRF52) and trying to connect to it from another device.

**To Reproduce**

Steps to reproduce the behaviour:
1. build the `peripheral_hr`for Nitrogen96 (I used the Yocto build system for this but it was

[2021-02-11 19:44] dueringa opened #32234 "Documentation: How to update Zephyr itself (with west)"
**Current state**
Currently, the "Getting started Guide" only mentions the initial fetch of Zephyr with west init / west update. The "Beyond the Getting Started Guide" briefly mentions that

**Suggestion**
I'd actually like the documentation making it more explicit "How to update Zephyr". Something along the lines of

[2021-02-11 19:47] #32112 closed

[2021-02-11 19:58] #31607 closed

[2021-02-11 20:02] jharris-intel opened #32237 "twister failing locally - fails to link native_posix w/lld"
**Describe the bug**

While following the [contribution guide](https://docs.zephyrproject.org/latest/contribute/index.html#twister) to create a PR for [this](https://github.com/zephyrproject-rtos/zephyr/pull/30676#discussion_r574319395) comment, I realized that `twister` is failing on my local dev setup.

**To Reproduce**

Steps to reproduce the behavior:

***These steps are subtly incorrect, see

[2021-02-11 20:17] galak commented on #32237
Can you see which version of `ld` you are running `ld --version`.

The docker image we use in CI is based on ubuntu 18.04.5:

[code]

[2021-02-11 20:17] galak commented on #32225
How does linux denote stable v unstable binding?

[2021-02-11 20:22] cvinayak commented on #32233
Please use an nRF sniffer to capture the air traffic, and attach the logs for analysis.

https://infocenter.nordicsemi.com/index.jsp?topic=%2Fug_sniffer_ble%2FUG%2Fsniffer_ble%2Fintro.html&cp=9_4

[2021-02-11 20:42] jharris-intel commented on #32192
Hmm. The current timeutil sync API has both `local` and `remote` nominal frequencies as `uint32_t hertz`. So can't be _too_ much higher than 4GHz as an upper limit with the current API.

What's the desired overall accuracy?

Yep. Just a (somewhat trivial/obvious) example of an optional feature that requires floating-point. Though I'll have a patch incoming for that - there's one spot in the curren

[2021-02-11 20:46] jharris-intel commented on #32237
[code]
(which is apparently a lie :-) )

If Zephyr requires GNU ld in particular, perhaps it could explicitly use or specify `ld.bfd`? I have that version of GNU ld installed also:

[code]

[2021-02-11 20:54] pabigot commented on #32192
True.

I want to be able to correct local clocks to about 2 ppm, like I'd get from a quality external RTC, assuming the skew is not affected by environmental concerns (e.g. temperature).  This helps with correlating events recorded on distinct deployed data loggers, limiting the timestamp error to about +/- 1 minute per year.  So the estimated skew has to be about that accurate.

Please add me as

[2021-02-11 21:39] jharris-intel commented on #32192
Sure, shall do.

Ditto.

(On both of these I'm largely blocked on #32237, but that "should" be resolved shortly I think. At the very least workaround-able.)

Great, thank you for the clear requirements here.

A question (pedantic I am aware... "being pedantic" sometimes seems like my job description):

1. 2ppm meaning what precisely? Instantaneous ppm isn't really attainable (consider a (terrible/

[2021-02-11 22:00] zpm1066 opened #32238 "Request to upgrade BBC Microbit display driver to support Microbit v2 model"
**Is your enhancement proposal related to a problem? Please describe.**
The current version of the BBC Microbit display driver doesn't work with Microbit v2.

**Describe the solution you'd like**
In Microbit v2, the LED matrix display has changed internally from a logical 3x9 mapping to a 5x5. An upgrade would be required to support Microbit v2 with backward compatibility to the original Microbit

[2021-02-11 22:02] galak commented on #32237
@nashif has been working on LLVM support and @tejlmand can say how we specify LD and such.  The native posix target probably makes assumptions that the majority of host linux systems are setup with GNU tools at this point.

[2021-02-11 22:17] jharris-intel commented on #32237
Yep, turns out that I have a short-term workaround of "setting ld to bfd before running Zephyr tests".

Longer-term, can those tests please explicitly use ld.bfd if that's what they require?

*****

There are a few other seemingly-unrelated failures still. In particular:

2 flaky tests (reran and they passed):

1. qemu_x86_64_nokpti samples/kernel/condition_variables/condvar/sample.kernel.cond_var

[2021-02-11 22:39] galak commented on #32237
We'd need a survey of common linux distro and if the majority support ld.bfd.  Or possible try ld.bfd and fall back on ld.

[2021-02-11 22:39] galak commented on #32237
QEMU is know to have issues when run under load w/twister.

[2021-02-11 22:40] galak commented on #32237
Did you do a `west update` to get all the modules pulled down and sync'd?

[2021-02-11 22:46] galak commented on #32237
Hmm, it feels like there is something else with your setup.  We do nightly builds of Zephyr and aren't seeing any similar issues.

How many tests are failing?  can you report the specific summary here.

For example for the `root-RSA-3072.pem` do you have that file?  If not something else is wrong w/your setup.

[2021-02-11 22:50] jharris-intel commented on #32237
Hm. I, for one, would prefer to know I was running in an unsupported configuration up front, rather than failures later.

Hm. I can reproduce this from "scratch" with the steps at the start. That is, start with a shell in an empty folder, then do:

1. `git clone https://github.com/zephyrproject-rtos/zephyr.git`
2. `cd zephyr`
3. `west init`
4. `west update`
5. `./scripts/twister`

...which likely

[2021-02-11 23:01] galak commented on #32237
You're the first person I'm aware of to run into this issue.  As I mentioned, I'm guessing the majority of distro installs probably still default to GNU tools.  We check version of other tools, so a version check could be added to catch such an issue.

So I think the about is subtly incorrect.  As you did a `git clone`, I think step 3, should be something like `west init -l .`.  Based on what you'

[2021-02-11 23:05] jharris-intel commented on #32237
Yep, that's exactly the case. I'll retry with `west init -l .` and let you know how it goes.

[2021-02-11 23:09] jharris-intel commented on #32237
It's a little unfortunate, indeed. Linux has all of the infrastructure to have system default tools with people changing around for different implementations, but there's now too much software that assumes that e.g. `cc` is always `gcc` , which results in people not actually changing the configuration because it breaks too many things, which in turn means that more software makes those assumptions

[2021-02-11 23:15] agherzan commented on #32233
I've ordered one now but I think @idlethread might be able to provide some logs in the meanwhile. Thanks, @cvinayak.

[2021-02-11 23:18] jharris-intel commented on #32237
Hm. With `west init -l .`, `west update` seems to be dumping a lot of stuff into the _parent_ directory, (`modules` folder, etc, etc) in this case my main toplevel repository folder.

I usually have a folder structure that's essentially:

[code]
etc. This makes it (relatively) straightforward to do e.g. mass fetches of repositories and avoids repos in deeply nested folders (which can be a problem

[2021-02-11 23:19] galak commented on #32237
@mbolivar-nordic is probably the best person to answer this.

[2021-02-11 23:21] galak commented on #32237
Take a look at https://github.com/zephyrproject-rtos/zephyr/issues/14173

[2021-02-11 23:50] pabigot commented on #32192
I meant that to be addressed by:

because I know temperature is likely to be an issue. In my applications the skew does converge (the local clock for me is the Zephyr tick counter from a 25 ppm 32 KiHz crystal oscillator; the reference clock is TAI from a Linux host using NTP, transferred over Bluetooth).

So yes, I'm assuming that the local clock local runs at a constant unknown rate close to but

[2021-02-12 00:15] jharris-intel commented on #32237
@galak  - yep, rerunning with the workarounds from this thread and I only get a couple of QEMU timeouts/unexpected EOF. Good catch.

[code]

And then rerunning with --only-failed

[code]

Unfortunately, this one failed the same way 3/4 runs on my box. Not the end of the world, but unfortunate.

[2021-02-12 02:09] cvinayak commented on #32233
@agherzan if you have a spare nRF51DK, nRF51 Dongle, nRF52DK, nRF52840DK, or nRF52840 Dongle, you can use them as nRF sniffer.

[2021-02-12 02:28] nashif opened #32252 "Building anything for nrf5340pdk_nrf5340_cpuappns pulls external git trees"
**Describe the bug**
Whenever you build for this platform, you end up with git trees that were pulled from outside the project. This should use modules and should not depend on external trees.

[code]

[2021-02-12 08:32] de-nordic commented on #32213
I think that the domains may be also useful in logging, where it could allow efficient  real-time log filtering when logs are passed to another device via uart/ethernet; I have been working in such project some time ago.

You may also add `K_ERR_DEFAULT_DOMAIN` or  something like that that would set the domain for entire file so that `K_ERR_SET_CODE` could be variable parameter macro that would pi

[2021-02-12 08:36] Ripitchip00 opened #32256 "Bluetooth mesh : Long friendship establishment after reset"
**Describe the bug**
If the low power node is reseted and added again to the network, depending of the scenario, the establishment of friendship is kinda long or not possible.

**To Reproduce**
The scenario are based on the [on-off ](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/boards/nrf/mesh/onoff-app) sample applied to some nRF52840.

The **LPN** configuration :
[code]

The

[2021-02-12 08:54] de-nordic opened #32257 "Common DFU partition enumeration API"
### Problem description

Zephyr supports several DFU methods (mcumgr, USB) and the support will increase probably.
The problem is that all of these methods use direct access to flash_map.h macros to decide what should be target partition/flash area for DFU and for that purpose define own macros or functions and naming conventions, for example:
mcumgr uses `img_mgmt_find_best_area_id`  to select be

[2021-02-12 09:21] cvinayak commented on #3675
Experimental feature available in v2.5.0-RC3. Closing

[2021-02-12 09:21] #3675 closed

[2021-02-12 09:22] cvinayak commented on #3674
Experimental feature is available in v2.5.0-RC3. Closing.

[2021-02-12 09:22] #3674 closed

[2021-02-12 09:42] erwango opened #32258 "power mgmt: pm_devices: Get rid of z_pm_core_devices array"
**Is your enhancement proposal related to a problem? Please describe.**
When using PM_DEVICE, a `z_pm_core_devices` table is defined and has to be populated per platform but undocumented and its use is unclear.

[code]
I think we should get rid of it in scope of PM_DEVICE rework

[2021-02-12 09:42] erwango commented on #32258
^^ @ceolin

[2021-02-12 09:55] agherzan commented on #32233
Sadly I don't at this point but I'll get one shipped soon. I've ordered it yesterday. That being said, I think we have one in the team so we might be able to provide logs soon. We will update as soon as we have something.

[2021-02-12 10:13] Antonis510 opened #32260 "STM32 counter driver error in estimating alarm time"
**Describe the bug**

The RTC alarm of the counter driver for STM32 devices fails if the RTC time and date have been initialized with the current date. The initialization process is done using the low-level stm32 libraries. Then, if the alarm is set for a few seconds, it will not be triggered. Here you can find a [sample.](https://github.com/Antonis510/Zephyr-RTOS/tree/stm32_counter_issue)

After

[2021-02-12 10:34] mejtejt commented on #31980
@galak, I have to ask for permission firts, to see if I can pust the code to github.
In the meantime, I have another question for the error above.

![image](https://user-images.githubusercontent.com/33463717/107757598-0f6e3e00-6d26-11eb-935b-d47b814a0034.png)

As you can see, the "missing" include is in the `/home/filip/GitRepositories/zephyrproject/zephyr/build/zephyr/include/generated` folder. S

[2021-02-12 10:35] StefJar opened #32261 "problem with CONFIG_STACK_SENTINEL"
After pulling the latest zephyr commit my firmware breaks when a task switch/isr is done - somehow reliably

[code]
checking the map file:
[code]
reveals that the z_check_stack_sentinel function fails.

Inside the battery thread an ADC(DMA driven) conversion is triggered.
[code]
A semaphore is set at the isr. The battery thread is waiting for that semaphore. Guess that mechanism breaks the sentine

[2021-02-12 11:50] furkanhtk commented on #32203
Thanks for help. Now I am able to scan through btmgmt.

[2021-02-12 11:50] #32203 closed

[2021-02-12 12:33] JonasNorling opened #32265 "STM32F4 stuck handling I2C interrupt"
Our STM32F4 based system locks up and gets reset by the watchdog once in a while. It gets stuck handling I2C interrupts continuously, starving the rest of the system of CPU cycles.

I have narrowed it down to that stm32_i2c_msg_write() in i2c_ll_stm32_v1.c enables the BUF interrupt twice, first in stm32_i2c_enable_transfer_interrupts() and then by a call to LL_I2C_EnableIT_TX(). On some parts BUF

[2021-02-12 13:23] erwango commented on #32260
@Antonis510 Many thanks for reporting the bug, solution and way to reproduce, this really helps!

[2021-02-12 13:54] mejtejt commented on #31980
@galak , let me reduce the code to the minimum needed to reproduce the error, and then I will push the code to my github account. I will let you know when I do so. Thanks.

[2021-02-12 14:05] carlescufi commented on #18896
Nordic has [multiprotocol](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/ug_multiprotocol_support.html) and [FEM](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/ug_radio_fem.html) support in [nRF Connect SDK](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/index.html), which is based on Zephyr. Take a look at that.

[2021-02-12 14:05] erwango commented on #32265
Thanks for reporting and investigating the issue. I've been able to test this on F4 device.
It appears that the same applies to F1, F2 and L1, while other series use _v2.c so this could be fixed unconditionally in this file.
I've also validated on F1 board.

[2021-02-12 14:20] Zzzwierzak opened #32269 "shield: cmake: Shield conf is not loaded during build"
**Describe the bug**
Shield conf is not loaded during build

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz -DSHIELD=abc
3. make
4. See error - abc.proj is not taken to build.

**Expected behavior**
abc.conf is used during cmake

**Impact**
Missing configuration(in autoconf.h) for shield.

**Workaround/Fix**
zephyr/cmake/app/boilerplate.cmake

[2021-02-12 14:25] lund-prevas opened #32270 "TCP connection stalls"
My app is publishing MQTT messages on a TLS sockets using ethernet.
If I remove the ethernet cable a reinserts it the TCP connection stalls.

The log implies the TX buffer are all allocated and they are not sent or freed when ETH connection is reestablished
I have tried to increase the TX buffers, but it is not fixing the problem.
I can see this with CONFIG_NET_TCP1 & CONFIG_NET_TCP2 on both Zephy

[2021-02-12 14:35] pabigot commented on #32225
IMO any binding that's present in a release should be considered stable, as that's the point people might start using it out-of tree.  I think we could have an exception where deprecation isn't necessary if the binding was introduced in the same development cycle as the breaking change.  I don't know whether we need to record that anywhere; if we do perhaps a `stable` key in the yaml would work.

[2021-02-12 15:14] katsuster commented on #31854
@nashif @MaureenHelm
I think it's better also merging #31901 to avoid build error around CONFIG_REBOOT features for RISC-V in other and future added boards.

[2021-02-12 15:27] erwango commented on #32269
@tejlmand

[2021-02-12 15:29] galak commented on #31980
@mejtejt are you on the zephyr slack?  Might be easier to chat there.

I normally use cmake directly and not west for my builds.  What I'd suggest is this:

[code]

you should than be able to do the preprocessor command.

[2021-02-12 15:34] erwango commented on #32261
@StefJar I'd rather move this to question since this rather looks like a question on STACK_SENTINEL behavior for now.

@nashif I let you check how can have a check on this as it rather looks like a kernel question (STM32 code extract is not upstream code)

[2021-02-12 15:35] pabigot commented on #32220
I think we can just use `gpio_config(port, pin, GPIO_DISCONNECTED)` for this purpose rather than introduce a new `GPIO_DISABLED` flag.  @mnkp your thoughts?

Something needs to track whether the device is actively used, i.e. whether a pin is configured for something other than `GPIO_DISCONNECTED` or a pin interrupt configuration is something other than `GPIO_INT_DISABLED`.  I'd normally push that

[2021-02-12 15:37] jharris-intel commented on #32192
Over a single update's time period I assume?

That makes sense.

[2021-02-12 15:43] erwango commented on #32220
Fine for me, each driver may have different concept of what a resource is (pin, port, ..)

[2021-02-12 16:24] katsuster commented on #29349
@carlescufi
Thanks to manage. I think this issue will be solved by @pabigot solution or my #31816 new API to enable FPU in the thread.
I think both are OK, users can choose a favorite way.

[2021-02-12 17:06] carlescufi commented on #32234
@dueringa perhaps you would consider sending a Pull Request against the corresponding `.rst` files in `doc/`?

[2021-02-12 17:09] carlescufi commented on #32238
I have some patches for this, but the agreement was to introduce a proper generic led-matrix display drivers with correct Devicetree bindings instead of just updating the old driver. I don't currently have time to do that, maybe @LingaoM does.

[2021-02-12 17:47] farhangj commented on #18896
@carlescufi which version? 1.4.2 or 1.5.0? I don't see it in the release notes or any commits specifying FEM with Multiprotocol support. I'd be interested to see the actual commit for this feature. Thanks!

[2021-02-12 20:37] andyross commented on #31964
The same test was failing reliable on ehl_crb, which is otherwise a very similar configuration.  I strongly suspect that was the same issue (basically the test worked poorly on systems with 10 kHz ticks), even though I still haven't reproduced this on up2.

[2021-02-12 20:43] jimakos96 opened #32279 "Question about flasing Adafruit Feather Sense with Zephyr"
Hello,i am looking at the supported boards and i see  **adafruit_feather_nrf52840** and i was wandering if i can use this to flash my board the Adafruit Feather Sense.Both devices have the nrf52840 processor and i checked that the device tree has the same IO mapping .

[2021-02-12 21:09] carlescufi commented on #32269
@jfischer-no and @erwango can you confirm?

[2021-02-12 21:11] carlescufi commented on #32261
@StefJar isn’t this just a stack overflow? Have you tried increasing stack sizes?

[2021-02-12 21:23] andyross commented on #26495
Close this, poll coherence work got merged a while ago.

[2021-02-12 21:23] #26495 closed

[2021-02-12 21:24] jfischer-no commented on #32269
No. Just tried it out, the shields we have in the tree work fine.
This issue description is weird. It is been a long time since we switched from *.conf to similar Kconfig structure as in boards.

[2021-02-12 21:58] StefJar commented on #32261
That is what the error is saying. So I increased the stack for the thread from 1024B to 2048B.
Is this might related to logging (I have synchronous logging enabled)?

[2021-02-12 22:11] key1066 commented on #32238
Thanks Carles.
Agreed, a new version of the display driver with devicetree bindings would be preferable.

[2021-02-13 00:16] dastarling commented on #32279
I have this board too and was thinking the same thing.  However the Feather Sense only seems to have the programming signals SWCLK and SWDIO as test points on the back of the board.  So likely to use it, you would need to solder wires to the appropriate signals for an external programmer such as Segger, etc.  So even though I like this board, it is not really that good for general firmware develop

[2021-02-13 00:31] andyross opened #32282 "x86 ACPI images are much too large"
Since commit df2fe7c1f7c8 we've been using a python script by generate page tables for x86 builds.  This replaced some early assembly stubs that emitted a temporary stub table to be used in early boot that was then replaced later by one tailored to the Zephyr image.

The idea was efficient: we don't want two page tables floating around in the build.  But the problem is the earlier stub was done us

[2021-02-13 01:10] andyross commented on #12028
ancient, long since addressed

[2021-02-13 01:10] #12028 closed

[2021-02-13 01:17] andyross commented on #19655
cleaning out old cruft, the relevant treaty was signed long ago and peace has reigned since

[2021-02-13 01:17] #19655 closed

[2021-02-13 01:18] andyross commented on #21033
Duplicate of #23076

[2021-02-13 01:18] #21033 closed

[2021-02-13 01:53] mbolivar-nordic commented on #32237
You need to create a west workspace. `west init -l .` means `.` is your manifest repository directory, so `..` is the workspace topdir, and `../modules` is where the modules will go, etc.

Details in https://docs.zephyrproject.org/latest/guides/west/basics.html and related pages.

[2021-02-13 08:56] jimakos96 commented on #32279
I do know that i need  an external programmer to flash the binary file to the board .Maybe my question wasn't so clear , for example if i build the blinky example by executing  **west build -b adafruit_feather_nrf52840**  and flash the hex or binary via the external programmer to the adafruit feather sense will it work ?Or it only works for  the adafruit feather ?

[2021-02-13 10:06] dastarling commented on #32279
Ok, I think I understand the question better.  It looks like Adafruit has 2 boards the feather nrf52840 **express** and the **sense**.  From what I see the board that is supported is the nrf52840 express.  The sense likely has sensors that may not be supported yet.  I have had to write sensor drivers for all of the sensors that I am using on a custom board.
I have not yet tested it, but it appears

[2021-02-13 10:20] jimakos96 commented on #32279
Thanks for your answer , apart from the different mapping of the pins which is not difficult to configure .
Does the final hex (which is going to be flashed)  file do you think it will be compatible for the sense board ?

[2021-02-13 11:06] mejtejt commented on #31980
@galak, I am not yet on zephyr slack, but I will create an account on Monday and will contact you then on slack.

In a meanwhile, your last instructions helped me a lot and I was able to manually compile bmi160 driver and got the preprocessor output. The line of interest to use looks like this:
`static struct bmi160_data bmi160_data_0; static const struct bmi160_cfg bmi160_cfg_0 = { .gpio_port = "

[2021-02-13 13:15] panchalnikunj commented on #32193
https://www.youtube.com/channel/UCA4j-J-TFW_9Dt4iTwIjtYQ

Once visit this channel for raspberry pi pico projects.

[2021-02-13 13:21] panchalnikunj commented on #32193
https://www.youtube.com/channel/UCA4j-J-TFW_9Dt4iTwIjtYQ

Once visit this channel for Raspberry Pi Pico Projects

[2021-02-13 14:36] carlescufi commented on #32237
I was looking at your logs and though that your `r/` stood for "repos" so I immediately thought of that before seeing your comment. The Getting Started Guide does [ask you](https://docs.zephyrproject.org/latest/getting_started/index.html#get-zephyr-and-install-python-dependencies) to create an enclosing folder (using `west`, but you can do that manually too since `west init` defaults to `pwd`:

[c

[2021-02-13 14:38] carlescufi commented on #32237
FYI @jharris-intel, GitHub/CI will run `twister` for you when you post the PR, so running it locally is technically optional. That said, having a working `twister` setup on your local machine definitely helps enormously.

[2021-02-13 15:23] galak commented on #31980
west manages more things for you so its better for most people.  I've been working on zephyr before west was around so I haven't really fully switched over my personal workflow to be fully west based.  I don't believe there is any real difference between `make flash` and `west flash` at the point your at.  `make flash` will eventually call `west flash` for you.  I think `make flash` will also ensu

[2021-02-13 16:02] dueringa commented on #32234
@carlescufi I can do that. Just wanted to check if my understanding was correct, first

[2021-02-13 21:28] dastarling commented on #32279
I believe the binary would be compatible, but if I were to change the FW on it, I would save a copy of original image so that you can restore it later if desired. Or at least make sure it is easily available somewhere.

[2021-02-13 23:36] key1066 opened #32286 "ST7789 driver enhancement to support display orientation"
**Is your enhancement proposal related to a problem? Please describe.**
Unable to change the ST7789 display orientation.

**Describe the solution you'd like**
The ability to set the ST7789 display orientation through st7789v_set_orientation(). The function exists
for driver but it is not implemented currently.

In reviewing the drivers for the other popular displays, like the ILI9340, it appears t

[2021-02-14 00:10] zpm1066 opened #32288 "Enhance the ADC functionality on the STM32 devices to all available ADC channels"
**Is your enhancement proposal related to a problem? Please describe.**
Recently I’ve been testing out ADC & PWM functionality on the nRF52840 & STM32 (blackpill_f411ce) boards under Zephyr, as part of an effort to move projects over from Arduino framework to Zephyr.

I’m finding that the current ADC support in Zephyr for the STM32 boards is quite limited. From my debug sessions, it appears that o

[2021-02-14 02:20] rtalbott opened #32289 "USDHC: Fails after reset"
**Describe the bug**
The sd card sample fails after resetting board.

**To Reproduce**
Steps to reproduce the behavior:
1. build samples/subsys/fs/fat_fs  for imxrt1060_evk
2. west flash
3. *works ok*
4. press reset
5. fails with <err> usdhc: CMD17 Polling ERROR

**Expected behavior**
work the same after flash pressing reset

**Impact**
showstopper for use of the usdhc

**Environment (please compl

[2021-02-14 05:42] VinodSHegde commented on #31036
1. After writing suspension for magnetometer :
do {
			if (bmi160_byte_read(dev, BMI160_REG_PMU_STATUS,
					     &sts.raw) < 0) {
				return -EIO;
			}

			if (i == 0) {
				pmu_set = (pmu_sts->mag == sts.mag);
			} else if (i == 1) {
				pmu_set = (pmu_sts->acc == sts.acc);
			} else {
				pmu_set = (pmu_sts->gyr == sts.gyr);
			}

		} while (!pmu_set);
pmu_set is always zero.
If I comment out d

[2021-02-14 12:47] jukkar commented on #32270
@lund-prevas could you try #32290 if it works for you. One problem is that you have too few network buffers so it might be difficult so recover from this situation.

[2021-02-14 12:52] DuMaM opened #32291 "Zephyr don't build sample hello world for Particle Xenon"
**Describe the bug**
I'm unable to compile sample/hello_world for particle_xenon

**To Reproduce**
git checkout 769d91b92
west build -b particle_xenon samples/hello_world

**Expected behavior**
I expect to have output file with sample code.

**Impact**
I'm unable to build any app. This fails build also for mcuBoot.

**Logs and console output**
[code]

**Environment (please complete the following i

[2021-02-14 14:35] jukkar commented on #30355
No, my fix was only for IPv4.

I tried again with `nucleo_f767zi` with echo-server sample (without any modifications) and with this config
[code]
In Linux side, I had 6 terminals running with these commands
[code]
and
[code]
Zephyr net-shell becomes unresponsive with this load but I did not see excessive dropped packets. This load is too much for this board.

Also it helps if one disables the outp

[2021-02-14 15:48] nashif opened #32293 "Zephyr 2.6 Release Checklist"
- [x] Major enhancements:
   - See https://github.com/zephyrproject-rtos/zephyr/projects/9

- [x] Pre RC1 Steps
   - [x] Create v2.7.0 milestone so that features that don't make it to the release can be assigned a milestone
   - [x] Verify that all external components and external dependencies are up to date, for example
      - mbedTLS
      - tinycrypt
      - FatFS
   - [x] Check known vulnerab

[2021-02-14 17:35] selman-nus commented on #32212
I understand but it is actually a very simple code, it doesn't do any calculation just sending dummy HR data and no other peripheral is in use. Is there a way to reduce the CPU frequency, so it won't contribute much to the total current consumption?

[2021-02-14 21:22] #28105 closed

[2021-02-14 21:37] #31982 closed

[2021-02-14 21:38] #31799 closed

[2021-02-14 21:38] #31922 closed

[2021-02-14 23:05] nashif commented on #28716
new checklist #32293

[2021-02-14 23:09] #23449 closed

[2021-02-14 23:13] carlescufi commented on #32291
Have you run `west update`?

[2021-02-14 23:17] #24731 closed

[2021-02-14 23:17] #32052 closed

[2021-02-14 23:20] #32260 closed

[2021-02-14 23:22] #28249 closed

[2021-02-14 23:23] #32118 closed

[2021-02-14 23:29] #32265 closed

[2021-02-15 01:09] #30195 closed

[2021-02-15 02:32] mengxianglinx opened #32314 "2021 GSoC Project Idea: Enable Interactive Zephyr Test Suite"
Description:
Zephyr project has a well-built test framework Ztest and a full-fledged test runner Twister for module testing and integration testing. There are thousands of test cases in zephyr project, contributed by community developers. Here is a typical way of executing test case: test case is detected by YAML configuration files and then Twister builds test for the platforms defined in the har

[2021-02-15 05:26] key1066 commented on #32238
I've reached out to Lingao Meng for his comments and potential plans. Thanks.

[2021-02-15 08:43] tejlmand commented on #32269
@Zzzwierzak thanks for reporting, fixed here: #32318

[2021-02-15 08:46] tejlmand commented on #32237
well, expecting `ld` to be `ld` doesn't seem wrong to me.
The fact that `lld` can work as a drop-in replacement of `ld` in most cases doesn't make it 100% compatible with `ld`.

We still have some work to do before linker scripts are updated to support lld, but it is part of our plans.
Even when compiling using `clang` we still have to link with `ld`.
https://github.com/zephyrproject-rtos/zephyr/b

[2021-02-15 09:01] Zzzwierzak commented on #32269
@tejlmand Thank you.

[2021-02-15 09:22] carlescufi commented on #18896
Sorry, I should've been more specific. It's in 1.5.0, which will be released in the next few days.

[2021-02-15 09:38] wngur300 commented on #32023
As you said, we tested it by setting it to CONFIG_BT_SETTINGS_CCC_STORE_ON_WRITE=y.
Once the board has been reset, the connection with the paired device is successful.
However, the problem is not solved.
There is still no change in the value of the battery.
We tested it on the nrf52840dk_nrf52840 board and the nucleo_wb55rg board.

[2021-02-15 09:43] mejtejt commented on #31980
@galak , first of all, how do I find you on zephyr slack? I created an account, but cannot find you to DM you.

In a meanwhile, let me share what I have found. I added more logs into the `bmi160.c` and `bmi160_trigger.c` files. They are as seen below.

At the beginning of the bmi160_init function:
![image](https://user-images.githubusercontent.com/33463717/107927319-222b8180-6f77-11eb-860e-6620c51

[2021-02-15 10:16] saad-abdullah62 commented on #9954
@carlescufi Hi, I am trying to use GNU ARM Embedded to build application for qemu_cortex_a53 board and getting the same error. I tried to build application for bcm958402m2_a72 also which is using cortex-a72. But getting same results. I can build application for both of them using aarch64 toolchain in zephyr-sdk but i am trying to add zedboard and zynq7000 that uses cortex A9 so i can't use aarch64

[2021-02-15 10:46] mejtejt commented on #31980
I have reduced the code to a minimum needed for BMI initialization.

[code]

But still, this did not make any difference:
![image](https://user-images.githubusercontent.com/33463717/107936746-48efb500-6f83-11eb-902c-f53670ab36dd.png)

I am slowly running out of ideas what do/change/modify...

[2021-02-15 10:54] ABOSTM opened #32320 "drivers: flash: stm32: Flush ART Flash cache after erase operation"
**Describe the bug**
Implement the same than
* #32218 drivers: flash: stm32g4: Flush caches after erase and write #32218

but for other STM32 series.
STM32G0 and SGTM32WB are concerned.
Other series, either do not support ART or have cache disabled by default.

[2021-02-15 11:04] saad-abdullah62 opened #32321 "/tmp/ccTlcyeD.s:242: Error: Unrecognized Symbol type " ""
Hi, I am trying to add support for zedboard and zynq7000 SOC. While compiling sample/hello_world for Cortex A processors using ARM Embedded GNU i get **assembler message Error:Unrecognized Symbol type " "** . I tried to used aarch64 toolchain in zephyr sdk and it works for cortex-a53 and cortex-a72. But since i need to use cortex-a9 which is not included for -mtune option in aarch64 so i am using

[2021-02-15 11:30] caco3 commented on #30074
@carlescufi No, I have never used spinlocks.

I haven't seen such crashes since a while. We improved our code and upraged to the latest Zephyr releases. Testing will show further.

For me we can close the issue and I would reopen it in case I see new spinlock crashes.

[2021-02-15 12:11] pabigot commented on #32291
Yes, it must be west update; the reproducer works fine for me.  Reopen if that doesn't solve this.

[2021-02-15 12:11] #32291 closed

[2021-02-15 12:17] pabigot commented on #32279
#31066 coming in soon should make it easier to support more Adafruit boards without modifying hardware to support direct flashing.

[2021-02-15 14:21] carlescufi commented on #32321
This might be a crlf issue. What is your `core.autocrlf ` in `.gitconfig`?

[2021-02-15 14:30] talih0 opened #32331 "Use of unitialized variables in can_set_bitrate()"
**Describe the bug**
The function can_set_bitrate() doesn't set timing.sjw and timing_data.sjw.
The variables are uninitialized and parsed to can_set_timing(), which uses the uninitialized values to set sjw parameters.
Functions that calls can_set_bitrate() will also have this bug. (i.e. can_configure()).

The function was added in pull request #28345.

**To Reproduce**
west build -p auto -b ... s

[2021-02-15 14:41] rlubos commented on #16150
Closing due to lack of activity in the issue/PR for almost 2 years.

[2021-02-15 14:41] #16150 closed

[2021-02-15 15:38] DuMaM commented on #32291
Thanks for help. `west update` solved the issue :)

[2021-02-15 15:54] saad-abdullah62 commented on #32321
@carlescufi I can't find any .gitconfig in zephyr directory. Can you mention its location? I tried using "grep -r" linux command also but no results.

[2021-02-15 15:59] saad-abdullah62 commented on #32321
@carlescufi  I can't find any .gitconfig. Can you mention its location? Google told me it should be in /etc. But there is no such file residing there.

[2021-02-15 16:04] pabigot opened #32339 "reimplement tests/kernel/timer/timer_api"
As described in https://github.com/zephyrproject-rtos/zephyr/pull/32277#issuecomment-779283999 and related discussion, the timer_api test was designed for a world that exists only when tickless timer is disabled; that world was made opt-in via c0a184c067e50bb1ba753d9a9d30ad0275a66a52 back in 2018.

This repeatedly causes problems where the conditions for passing are tweaked as new platforms are di

[2021-02-15 16:26] StefJar commented on #32261
hey ho
looks like threads have different functions
I am a bit confused
there are thread samples with no parameters (https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/basic/threads)
and
there is the API telling about 3 parameters (https://docs.zephyrproject.org/latest/reference/kernel/threads/index.html#c.k_thread_create)

my code works like this

[code]

Guess something gets messed

[2021-02-15 16:32] saad-abdullah62 commented on #32321
I used git config --global core.autocrlf to set core.autrocrlf to input. But still getting same error

[2021-02-15 16:35] pabigot opened #32342 "review use of cpsid in aarch32 / CONFIG_PM"
My attention has been drawn to https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/arm/core/aarch32/isr_wrapper.S#L111 where enabling power management on Cortex M devices causes interrupts to be disabled for a sequence of operations in the ISR wrapper including the invocation of `z_pm_save_idle_exit()`.  There is concern that this impacts use of ZLI by Bluetooth.

Need to determine wheth

[2021-02-15 16:37] krbvroc1 opened #32343 "openthread manual joiner hangs"
```CONFIG_OPENTHREAD_MANUAL_START=y```

I am programmatically trying to call otJoinerStart(). The otJoinerStart() callback is never executed and looking at wireshark the expected 'discover' beacons are never sent.

Here is code that reproduces the issue:

[code]
Enabling debug in openthread only shows the following...

NOTE: The 'Failed to send IPv6' might be a clue? Not sure.

[code]
In the repro

[2021-02-15 17:20] nashif opened #32344 "sporadic failure in tests/kernel/mem_protect/userspace/kernel.memory_protection.userspace"
**Describe the bug**

sporadic failure in tests/kernel/mem_protect/userspace/kernel.memory_protection.userspace

[code]

**To Reproduce**
Look at CI results here for example:

https://buildkite.com/zephyr/zephyr/builds/20929#f7baab01-0129-467d-b945-1031f6dfe629

**Expected behavior**
test should pass

**Impact**
Block CI

**Logs and console output**
see above

**Environment (please complete the fo

[2021-02-15 18:24] #30770 closed

[2021-02-15 18:24] #25601 closed

[2021-02-15 19:15] StefJar commented on #32261
Looks like this is related to ISRs and thread switching.

in this case
the main thread runs while "BC127" thread starts. The battery voltage is measured so the ADC1 streams the data via DMA2 to the memory.
After the 2nd ISR call the kernel breaks via stack overflow.
[code]
I altered the adc isr functions and the thread functions. The thread function now takes 3 arguments and the adc isr is coded l

[2021-02-15 23:34] mnkp commented on #32220
I agree with the proposal. Which means we already provide a way to release resources.

I believe the power management code needs to be implemented by the driver. There are SoCs where the module clock is only required to detect edge interrupts and the basic functionality, reading/writing to a pin, level interrupts work without the clock.

[2021-02-16 09:57] LuxLuthor commented on #31103
Any chance that something will be changed in this area soon :) ?

[2021-02-16 11:18] joerchan commented on #32023
@wngur300 Did you remove the existing bond before trying? `west flash --erase` would make sure that existing bonds from previous testing is removed, since that one is stored without the CCC previously.

From the commit that you have put in the issue description you have Zephyr v2.4.0 release, can you try to switch to v2.4-branch?
There is a fix to Lazy loading of CCCs after 2.4.0 release, and Lazy

[2021-02-16 11:59] rlubos commented on #32343
Hi @krbvroc1,

OpenThread API is not thread safe, therefore when calling OT functions from other thread (like main) you need to protect the calls with a mutex, there's a dedicated function for that. Just add:
[code]
before you call the OT functions, and then
[code]
after.

In your case, `otJoinerStart()` likely cause the scheduler to run and since OT thread has higher priority than main, it could'

[2021-02-16 12:09] AyturkDuzen opened #32365 "samples: hci_rpmsg build fail for nrf5340"
**Describe the bug**
Compile failure during zephyr/samples/hci_rpmsg building for nrf5340, related to Kconfig warning NRFX_CLOCK_LFXO_TWO_STAGE_ENABLED.

**To Reproduce**
Steps to reproduce the behavior:
1. clone zephyr and point to master
2. cd zephyr/samples/bluetooth/hci_rpmsg
3. west build -b nrf5340dk_nrf5340_cpunet
4. See error

**Expected behavior**
successful build.  ~2weeks ago, there was

[2021-02-16 13:01] jfischer-no commented on #32365
I can not confirm it. Please perform `west update` and recheck.

[2021-02-16 13:25] mengxianglinx commented on #32314
fix #32000

[2021-02-16 15:24] pabigot commented on #32133
If the original example in the problem description is changed to:

[code]

does the particular reordering problem described there disappear?

[2021-02-16 16:56] carlescufi commented on #32365
Agreed, this is wrong, the sample builds fine. Probably `west update` required.

[2021-02-16 16:56] #32365 closed

[2021-02-16 17:08] #31964 closed

[2021-02-16 17:19] carlescufi commented on #2542
API meeting 2021.02.16:

The current consensus is that the sensor API is sufficient to handle this functionality.

[2021-02-16 17:19] #2542 closed

[2021-02-16 17:34] pabigot commented on #32344
This is causing failures in #32127 and can be reproduced with:

    twister -p qemu_x86_64_nokpti -s tests/kernel/mem_protect/userspace/kernel.memory_protection.userspace

git bisect shows this introduced at 4ff457113e90a3e51de5b9f792f4ae3608e92382  @andyross

[2021-02-16 17:44] carlescufi commented on #9507
Given the above I will close this now.

[2021-02-16 17:44] #9507 closed

[2021-02-16 18:38] galak commented on #31980
what's your slack username?

[2021-02-16 19:02] jharris-intel commented on #32133
@pabigot - that particular example no longer has the reordering problem, because `atomic_set` ends up as another LDAXR / STLXR loop. (I'm more familiar with that particular primitive being called `atomic_exchange`.)

[code]

which results in

[code]

The reordering I mentioned earlier only happens with "plain" loads/stores. Unfortunately, the current usage model for spinlocks is typically:

[code]

[2021-02-16 19:23] jharris-intel commented on #32237
FYI in terms of helping with documentation (and hopefully making so that the next person is less confused than I was): I had seen that but had assumed that that was just for the purposes of setting up the mentioned cmake and pip stuff, not something that had to be done for every local repo copy.

Good to know...

Sure. It's more `expecting ld to be specifically ld.bfd` that's the issue here. (Akin

[2021-02-16 20:24] mnkp opened #32375 "Networking stack crashes when run in cooperative scheduling mode only"
**Describe the bug**

When networking stack is run in the cooperative scheduling mode only, enabled by setting `CONFIG_NUM_PREEMPT_PRIORITIES=0`, it crashes during the initialization.

In cooperative scheduling mode only any threads have to use priorities <= -2. Networking stack erroneously sets `CONFIG_NET_MGMT_EVENT_THREAD_PRIO` to `-1`. The change was introduced in f02fd197066f084c5b73e8cee5edd

[2021-02-16 20:42] mbolivar-nordic commented on #32225
I'm not so sure about this one. We have a process for making APIs increasingly stable, and it doesn't start with "as soon as an API is part of a release, it's stable" -- it starts with "experimental", then it goes to "unstable", before becoming "stable".

I see no reason why bindings should be held to a higher standard.

[2021-02-16 21:04] legoabram commented on #31254
I have a similar problem which I believe is related. An advertising set will also fail to restart if a connection was made through that set. In that instance, BT_HCI_ERR_MEM_CAPACITY_EXCEEDED is returned instead. The error starts in `ull_adv.c` at line 978 when calling `ll_rx_alloc`. It looks like extended advertising sets don't always cleanup after themselves.
[prj.zip](https://github.com/zephyrp

[2021-02-16 21:42] pabigot commented on #32225
I'm fine with that.  A `stability` key in the YAML that defaults to "unstable" could handle this.

[2021-02-16 21:49] tejlmand commented on #32237
I see your point.

[2021-02-16 21:56] krbvroc1 commented on #32343
@rlubos Thank you very much... I missed that detail!

Is this for the entire API (every single call)? For example,  otCoapNewMessage() and all the individual functions such as appending URI, etc? Or if you retrieve a request from otCoapNewMessage() is it safe to build the message without locking?

[2021-02-16 22:18] hwilmers opened #32376 "samples: driver: watchdog: Sample fails on disco_l475_iot1"
**Describe the bug**
The sample app samples/driver/watchdog fails at runtime, sending an error message.
Tested using Zephyr 2.5.0 on disco_l475_iot1.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/driver/watchdog
2. west build -b disco_l475_iot1
3. west flash
4. See error

**Expected behavior**
The expected behaviour of the app is to repeat following sequence:
- initialise watchd

[2021-02-16 22:28] hwilmers commented on #32376
Apparently, wdt_install_timeout() returns negative channel id here:
https://github.com/zephyrproject-rtos/zephyr/blob/b9fdab44747f732ffa6cb605f8d9595583430c3f/samples/drivers/watchdog/src/main.c#L112-L120

[2021-02-16 23:10] trembel commented on #29946
I've for now switched to the nRF5 SDK, since I had not enough time to fix this. One possibility would be to use an "invalid" pin as CS for the first toggles, however I could not find out if something like this exists in Zephyr.

[2021-02-16 23:16] andyross commented on #32344
OK, the root cause seems to be a set of races in the abort implementation.  The simplest case to explain (though I'm not clear if this is exactly the failure we're seeing) is:

1. Thread A tries to abort a different thread B
2. Thread A enters `z_thread_single_abort()` and flags the thread ABORTING and continues, but...
3. Thread B (or anyone else) then aborts Thread A before it is complete (and b

[2021-02-16 23:16] hwilmers commented on #32376
At the attempt of setting timeout to 100ms, here the calculated timeout is set to 26214us:
https://github.com/zephyrproject-rtos/zephyr/blob/b275fec8c4b5a9ff4a3595a5659ad88625326150/drivers/watchdog/wdt_wwdg_stm32.c#L192
Is this the max timeout achievable with this MCU? Or is there a calculation error somewhere?

[2021-02-16 23:19] andyross commented on #32344
And FWIW: I don't see what this has to do with the SMP patch either.  But one effect of that fix was to make a bunch of operations in SMP much more synchronous with context switching on the other CPU, so I guess I'd believe we just stumbled on more reliably timed thread aborts.

[2021-02-16 23:32] hwilmers commented on #32376
When using the IWDG, it works with the timeout values used in the sample.
Enabling the WWDG is done in the overlay file boards/disco_l475_iot1.overlay, and a simple solution is to remove this file.
Alternatively, if WWDG shall be used, the value of WDT_MAX_WINDOW must be set to <= 26.

[2021-02-17 05:44] ycsin opened #32382 "Clock issues for STM32F103RE custom board"
`CONFIG_CLOCK_STM32_PLL_PREDIV1` in `CUSTOM_BOARD_defconfig` for my custom board based on STM32F103RET6 doesn't seem to be working.

My board is using a 16 MHz HSE. To support my custom board, I copied the `nucleo_f103rb` board and made necessary changes to the board files. However, the `nucleo_f103rb` does not use HSE but the 8MHz clock from the STLINK, therefore for my case I will have to divide

[2021-02-17 07:15] ycsin commented on #32382
I think the timer is still off, I tried counting using the Mbed OS blinky example:

[code]

And the timing matches stopwatch perfectly, so there must be something wrong with my setup.

[2021-02-17 07:35] alexanderwachter opened #32385 "clock_control: int is returned on enum return value"
**Describe the bug**
When using clock_control.h in an app, it does not compile due to warnings.
The return value of the function in an enum, but in case the device is not ready, a posix error code is returned.

[code]
**To Reproduce**
Compile a C++ app that includes clock_control.h

**Expected behavior**
Only return values from the enum

**Impact**
APP does not compile

**Logs and console output**

[2021-02-17 07:56] alexanderwachter commented on #32385
PR: #32386

[2021-02-17 08:01] erwango commented on #32382
Thanks for reporting.
This might be due to this modification that removed PLLXTPRE support : https://github.com/zephyrproject-rtos/zephyr/commit/6b72fbae7c4f6bf21de0c6f109070bb76969e1d0

[2021-02-17 08:02] asbjornsabo commented on #26246
I am still interested in a solution to this.

[2021-02-17 08:13] mejtejt commented on #31980
@galak what's your slack username?: greyp

[2021-02-17 08:18] erwango commented on #32376
@hwilmers Thanks for reporting. Actually the wwdg test should run with APB bu clock tunning: `CONFIG_CLOCK_STM32_APB1_PRESCALER=16`
Problem is that tunning is provided in sample.yaml file and then only applied when running twister.

I'll modify so this is available even when run with west.

[2021-02-17 08:21] nordic-krch commented on #26246
It's fixed in logging overhaul.

[2021-02-17 08:23] rlubos commented on #32343
There likely are APIs that are safe to call w/o mutex protection, but each case would need to be considered individually, I think it's safer to assume that you need to lock the OT thread in general.

[2021-02-17 09:46] nashif commented on #32237
this is already moving forward, see https://github.com/zephyrproject-rtos/zephyr/pull/31706/commits/265532b26030e3cd6cf942babf8bd4525eedbd7d

[code]

[2021-02-17 11:35] #32197 closed

[2021-02-17 13:28] #32385 closed

[2021-02-17 13:29] lund-prevas commented on #32270
I think I can explain what is going on.
I have an app publishing MQTT messages. This continues while the ethernet is disabled and slowly drains the tcp layer for net_buf buffers.
When ethernet is again enable, the tcp layer needs to allocate a net_pkt, which it can, but not the net_buf's needed for the data.
This is unrecoverable in the tcp layer and connection is stalled.
I will handle my isssue

[2021-02-17 13:29] #32270 closed

[2021-02-17 14:03] erwango commented on #32382
@ycsin When you have sometime, #32393 and let me know if this is fixing the issue you're seeing

[2021-02-17 14:12] galak commented on #31980
Are you sure you joined the correct slack?  Not seeing you on the Zephyr slack, the invite is here:

https://tinyurl.com/y5glwylp

[2021-02-17 14:27] mejtejt commented on #31980
I followed the instructions again from your link.

![image](https://user-images.githubusercontent.com/33463717/108217997-834c8400-7134-11eb-84c1-117a3e71e46b.png)

Did I to everything correctly?

[2021-02-17 14:32] zephyrbot opened #32397 "[Coverity CID :218726] Out-of-bounds access in subsys/bluetooth/host/att.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/att.c#L943

Category: Memory - corruptions
Function: `att_find_type_req`
Component: Bluetooth
CID: [218726](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218726)

Details:

[code]

Please fix or provide comments in coverity u

[2021-02-17 14:32] zephyrbot opened #32398 "[Coverity CID :218727] Out-of-bounds access in subsys/bluetooth/host/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/gatt.c#L3460

Category: Memory - corruptions
Function: `gatt_find_info_rsp`
Component: Bluetooth
CID: [218727](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218727)

Details:

[code]

Please fix or provide comments in coverit

[2021-02-17 14:32] zephyrbot opened #32399 "[Coverity CID :218728] Out-of-bounds access in subsys/bluetooth/host/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/gatt.c#L1303

Category: Memory - corruptions
Function: `get_service_handles`
Component: Bluetooth
CID: [218728](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218728)

Details:

[code]

Please fix or provide comments in coveri

[2021-02-17 14:32] zephyrbot opened #32400 "[Coverity CID :218729] Out-of-bounds access in subsys/bluetooth/host/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/gatt.c#L2177

Category: Memory - corruptions
Function: `bt_gatt_notify_cb`
Component: Bluetooth
CID: [218729](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218729)

Details:

[code]

Please fix or provide comments in coverity

[2021-02-17 14:32] zephyrbot opened #32401 "[Coverity CID :218730] Operands don't affect result in subsys/bluetooth/host/conn.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/conn.c#L2200

Category: Integer handling issues
Function: `create_param_validate`
Component: Bluetooth
CID: [218730](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218730)

Details:

[code]

Please fix or provide comments in c

[2021-02-17 14:32] zephyrbot opened #32402 "[Coverity CID :218731] Out-of-bounds access in subsys/bluetooth/shell/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/shell/gatt.c#L664

Category: Memory - corruptions
Function: `print_attr`
Component: Bluetooth
CID: [218731](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218731)

Details:

[code]

Please fix or provide comments in coverity using

[2021-02-17 14:32] zephyrbot opened #32403 "[Coverity CID :218732] Out-of-bounds access in subsys/bluetooth/host/att.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/att.c#L800

Category: Memory - corruptions
Function: `find_type_cb`
Component: Bluetooth
CID: [218732](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218732)

Details:

[code]

Please fix or provide comments in coverity using

[2021-02-17 14:32] zephyrbot opened #32404 "[Coverity CID :218734] Out-of-bounds access in subsys/bluetooth/host/smp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/smp.c#L3257

Category: Memory - corruptions
Function: `smp_pairing_rsp`
Component: Bluetooth
CID: [218734](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218734)

Details:

[code]

Please fix or provide comments in coverity us

[2021-02-17 14:32] zephyrbot opened #32405 "[Coverity CID :218735] Out-of-bounds access in subsys/bluetooth/host/att.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/att.c#L1465

Category: Memory - corruptions
Function: `read_group_cb`
Component: Bluetooth
CID: [218735](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218735)

Details:

[code]

Please fix or provide comments in coverity usin

[2021-02-17 14:32] zephyrbot opened #32406 "[Coverity CID :218737] Out-of-bounds write in subsys/bluetooth/host/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/gatt.c#L504

Category: Memory - corruptions
Function: `cf_set_value`
Component: Bluetooth
CID: [218737](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218737)

Details:

[code]

Please fix or provide comments in coverity using

[2021-02-17 14:32] zephyrbot opened #32407 "[Coverity CID :218740] Out-of-bounds access in subsys/bluetooth/host/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/gatt.c#L3542

Category: Memory - corruptions
Function: `bt_gatt_discover`
Component: Bluetooth
CID: [218740](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218740)

Details:

[code]

Please fix or provide comments in coverity

[2021-02-17 14:32] zephyrbot opened #32408 "[Coverity CID :218741] Out-of-bounds access in subsys/bluetooth/host/att.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/att.c#L1587

Category: Memory - corruptions
Function: `att_read_group_req`
Component: Bluetooth
CID: [218741](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218741)

Details:

[code]

Please fix or provide comments in coverity

[2021-02-17 14:32] zephyrbot opened #32409 "[Coverity CID :218742] Out-of-bounds access in subsys/bluetooth/host/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/gatt.c#L2253

Category: Memory - corruptions
Function: `bt_gatt_indicate`
Component: Bluetooth
CID: [218742](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218742)

Details:

[code]

Please fix or provide comments in coverity

[2021-02-17 14:32] zephyrbot opened #32410 "[Coverity CID :218743] Out-of-bounds access in subsys/bluetooth/host/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/gatt.c#L2535

Category: Memory - corruptions
Function: `bt_gatt_is_subscribed`
Component: Bluetooth
CID: [218743](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218743)

Details:

[code]

Please fix or provide comments in cove

[2021-02-17 14:32] zephyrbot opened #32411 "[Coverity CID :218744] Out-of-bounds access in subsys/bluetooth/host/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/subsys/bluetooth/host/gatt.c#L1386

Category: Memory - corruptions
Function: `bt_gatt_attr_value_handle`
Component: Bluetooth
CID: [218744](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218744)

Details:

[code]

Please fix or provide comments in

[2021-02-17 14:32] zephyrbot opened #32412 "[Coverity CID :216797] Dereference null return value in tests/net/6lo/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/tests/net/6lo/src/main.c

Category: Null pointer dereferences
Function: `create_pkt`
Component: Tests
CID: [216797](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216797)

Please fix or provide comments in coverity using the link:

https://scan9.co

[2021-02-17 14:32] zephyrbot opened #32413 "[Coverity CID :216799] Out-of-bounds access in tests/net/lib/dns_addremove/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/tests/net/lib/dns_addremove/src/main.c

Category: Memory - corruptions
Function: `test_dns_add_remove_two_callback6`
Component: Tests
CID: [216799](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216799)

Please fix or provide comments in coverity u

[2021-02-17 14:32] zephyrbot opened #32414 "[Coverity CID :218733] Explicit null dereferenced in tests/ztest/error_hook/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/fe7c2efca800a0cf1bccf23aefe08b3c4beb88bf/tests/ztest/error_hook/src/main.c#L68

Category: Null pointer dereferences
Function: `trigger_fault_access`
Component: Tests
CID: [218733](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=218733)

Details:

[code]

Please fix or provide comments in c

[2021-02-17 14:34] nashif commented on #32414
intentional, closed in coverity

[2021-02-17 14:34] #32414 closed

[2021-02-17 14:42] #32375 closed

[2021-02-17 15:10] andyross commented on #32344
Woke up realizing that step 3/4 actually doesn't require a weird cross-abort, you can exercise it with a priority inversion too: all that's required is that thread A be preempted by any means (or on SMP, just get unlucky and hit the window from the other CPU) at the moment where it has flagged B "ABORTING" and then have B reach a self-abort on its own.

[2021-02-17 15:15] jukkar commented on #32270
Yes, I think we could do something for this. I try to cook a patch for this. Thanks for the analysis!

[2021-02-17 15:41] Liviu112 opened #32420 "bbc_microbit_v2 build error for lis2dh"
[lis2dh_output.txt](https://github.com/zephyrproject-rtos/zephyr/files/5996823/lis2dh_output.txt)

**Describe the bug**
Error while building the example lis2dh, it works for bbc_microbit but not for bbc_microbit_v2.
I have tried to find the issue, but I have no luck, one thing which might cause some problems is that the `sm303agr-magn@1e` and `lsm303agr-accel@19` from the `bbc_microbit_v2.dts` fil

[2021-02-17 15:45] #32343 closed

[2021-02-17 16:14] rtzu6 commented on #30355
Interesting. I modified the config to your recommendations
[code]
but I still have the same problem. Also, the shell it not unresponsive for me and I still have the high number of dropped packets.
[code]

Would you mind sharing you autoconf.h just to confirm that we have the same config?

[2021-02-17 16:50] jukkar commented on #32270
@lund-prevas I just sent PR that can prevent the memory exhaustion you saw #32423

[2021-02-17 17:28] carlescufi commented on #32420
Assigning to @mbolivar-nordic since this seems to be a Devicetree issue.

[2021-02-17 17:30] carlescufi commented on #32420
Do you mean 2.5? Zephyr 2.4 did not have support for the bbc_microbit_v2 board

[2021-02-17 17:33] jukkar commented on #30355
Sure, although if using same Kconfig options, board and same revision, we should end up with identical compilation.
I am at commit 8f8cdc18c4a7af5b833bc3e5b630bbe527a942b7 in master

[autoconf.h.gz](https://github.com/zephyrproject-rtos/zephyr/files/5997480/autoconf.h.gz)

[2021-02-17 17:53] Liviu112 commented on #32420
I have brought the bbc_microbit_v2 Zephyr 2.4, I think it still should work, the Bluetooth works with bbc_microbit_v2 in the 2.4. I basically added the board from 2.5 to 2.4.
The reason is what I thought 2.4 is more stable because 2.5 is a draft yet.
I am sorry I should have specified that.

[2021-02-17 18:26] carlescufi commented on #32420
No, 2.5 was released a few days ago, please do test 2.5.0.

[2021-02-17 19:58] Liviu112 commented on #32420
I have tried Zephyr 2.5 now, the exact same error appeared. I have attached the new file which contains the output.
[lis2dh_output_ZephyrV2.5.txt](https://github.com/zephyrproject-rtos/zephyr/files/5998264/lis2dh_output_ZephyrV2.5.txt)

[2021-02-17 20:16] #18509 closed

[2021-02-17 23:37] alfonsotames commented on #32288
I was just going to report a bug and stumble with this post. I have been testing with an STM32L432KC board different PWM output pins and found that only those that use Channel 1 are working. Is this the available implementation or is it a bug?

The L4 dts declares these pins but only the ones in Channel 1 seem to be working:

`			/* TIM_CH / TIM_CHN */

			tim1_ch1n_pa7: tim1_ch1n_pa7 {
				pinmux

[2021-02-18 00:19] alfonsotames opened #32429 "Only one PWM Channel supported in STM32L4 ?"
**Describe the bug**

I don't know if this is a bug or an incomplete implementation. The stm32l432k\(b-c\)ux-pinctrl.dtsi file located in the stm32 HAL module lists these pin configurations for the timers:

[code]
But trying to use anything outside Channel 1 for PWM output doesn't work. No errors reported.

**To Reproduce**

1. Configure a devicetree file for an STM32L432KC board (like a Nucleo) w

[2021-02-18 00:26] key1066 commented on #32288
From my debugging on the blackpill_f411ce (stm32f411ce), the STM32 code states that PWM works only for 1 or 2 channels.
Sounds like a work in progress. It's surprising since PWM would be used often by most folks and the STM32 is a very popular MCU.

Under the Arduino Framework, all ADC channels are accessible on the blackpill_f411ce, and also there is no channel usage limitation on nRF52840 under

[2021-02-18 02:14] jenmwms commented on #28551
Indeed this looks to be an address issue. I narrowed it down to this change from https://github.com/zephyrproject-rtos/zephyr/commit/9f84637499a451eb94c53ecf527afaf5bfc9cada#
![image](https://user-images.githubusercontent.com/50063647/108292508-07106b80-7149-11eb-877e-4891e387d69f.png)

`pad_base` is not correct after this change. Investigating root cause, may be due to `DEVICE_MMIO_NAMED_MAP( )`

[2021-02-18 02:46] ycsin commented on #32382
@erwango Hi, I've added the commit manually in PlatformIO's Zephyr package and it seems to be working? With the same ~2s slower than Windows 10 stopwatch after 10mins.

I'm not sure if this is normal?

[2021-02-18 05:24] #32429 closed

[2021-02-18 05:29] alfonsotames commented on #32429
Oh! My error.

I had an error in my DTS:

This line:

`pwms = <&pwm0 1 4 PWM_POLARITY_NORMAL>;`

Should be:

`pwms = <&pwm0 2 4 PWM_POLARITY_NORMAL>;`

Second argument is the channel!

[2021-02-18 05:47] rolandz-setec opened #32430 "[v1.14] Bluetooth: thread crashes when configuring a non 0 Slave Latency"
**Describe the bug**
Our nRF52 peripheral device running Zephyr v1.14 accepts up to 4 connections from central devices (CONFIG_BT_MAX_CONN = 4), all go well with the default BT_PERIPHERAL_PREF_SLAVE_LATENCY = 0 config.
If we change BT_PERIPHERAL_PREF_SLAVE_LATENCY to non 0, and make 3 or above connections, the bluetooth thread crashes within minutes.

**To Reproduce**
1. build and run the peripher

[2021-02-18 06:20] ycsin opened #32431 "RTC driver support on STM32F1 series"
I was trying to get the 32.768 kHz LSE work for my STM32F103RE custom board to achieve higher timing accuracy for `k_msleep()` (not sure if this is the correct direction), but then I found out that the STM32F1 series doesn't support the `CONFIG_COUNTER_RTC_STM32` flag.

I've added:

[code]

to `soc.h` and relevant flags:

[code]

to `*_defconfig`. But the compilation failed due to `stm32f1xx_ll_rt

[2021-02-18 06:57] punitvara commented on #32314
I can help to co-mentor this project.

[2021-02-18 08:21] erwango commented on #32382
Can you clarify the question ? What are you measuring ? What is the clock source ?

[2021-02-18 08:51] erwango opened #32433 "pwm_stm32: warning: non-portable use of "defined""
**Describe the bug**
When compiling pwm_stm32.c, the following warning is reported:
[code]
which is breaking CI.

**Expected behavior**
Don't break CI

**Impact**
CI broken

[2021-02-18 08:52] erwango commented on #32433
@gmarull can you have a look ?

[2021-02-18 08:52] erwango commented on #32433
Likely due to recent activation of 'Wexpansion-to-defined' (TBC)

[2021-02-18 09:59] narodo commented on #32382
Hi @ycsin, I was also working on this bug and I think I have pretty much the same HW setup as you. 16MHz external clock and running the sytem at 72MHz on an STM32F103C8T6. The pull-request fixed it for me and the clock configuration looks correct now.

I tried to reproduce the clock drift issue with your code snipped (I picked SLEEP_TIME_MS = 1000) but for me it tracks the system time of my PC wel

[2021-02-18 10:01] ycsin commented on #32382
Hey @erwango, I was counting up a  variable every second like so in the `main.c` with nothing else running:

[code]

and compared the value with a stopwatch to determine the timer precision. But the value was 1 second slower than a stopwatch after every 5 minutes. (slower clock)

I've tried to compile a similar program using Mbed OS that I mentioned earlier, but the Mbed OS example doesn't have th

[2021-02-18 10:04] ycsin commented on #32382
Hey @narodo, I'll check it asap, do you mind sharing me your `BOARD_defconfig` file please? Mine currently is set as such:

I've added LSE and COUNTER/RTC related flags but they are disabled as they are not working.

[code]

[2021-02-18 10:12] ycsin commented on #32382
@narodo This is my RCC register's content:
It matches yours.

![image](https://user-images.githubusercontent.com/1563974/108341508-ababaf80-7214-11eb-9f34-26c9de42b097.png)

And just in case, this is my RTC register's content:

![image](https://user-images.githubusercontent.com/1563974/108341572-bfefac80-7214-11eb-9b16-56d5991e841d.png)

[2021-02-18 10:17] erwango commented on #32431
@ycsin Just as a clarification, adding counter driver for F1 won't have any impact on `k_sleep`.
`k_sleep` (and ms derivatives) are clocked by ARM Cortex Systick (cf `drivers/timer/cortex_m_systick.c`).

This doesn't mean it has no interest, but won't it provide the expected improvement.

I think what you rather look for is an implementation of timer api (to clock kernel ticks) using RTC.
A L1 imp

[2021-02-18 10:35] ycsin commented on #32431
I see, thanks for the clarification!

[2021-02-18 11:20] hongshui3000 opened #32444 "z_cstart bug"
**Describe the bug**
file:init.c
[code]
If the interrupt is enabled when the driver is initialized, and the interrupt is entered before the interrupt stack is initialized, the software will generate a bug.

If I understand it correctly, the initialization of the interrupt stack will always occur after the interrupt is enabled .

When the interrupt is enabled, an interrupt is generated immediately,

[2021-02-18 11:28] IRISZZW opened #32445 "2021 GSoC Project Idea: Transplantation for embarc_mli"
Indroduction:

The [embARC Machine Learning Inference Library](https://github.com/foss-for-synopsys-dwc-arc-processors/embarc_mli) (MLI Library) is the basis for machine learning inference for lower power families of ARCv2 DSP cores (ARC EMxD and ARC HS4xD). Its purpose is to enable porting of machine learning models mostly based on NN to ARC processors.

The library is a collection of ML algorith

[2021-02-18 11:57] carlescufi commented on #28535
https://github.com/zephyrproject-rtos/lz4

[2021-02-18 11:57] #28535 closed

[2021-02-18 12:01] lund-prevas commented on #32270
Is it possible to limit the window size in Kconfig ?
Then it could be done with some explanation in Kconfig/zephyr documentation that the window size / amount of network buffer should leave atleast this amount of free buffers.

What if I have 32 KB of buffers and sends 32 KB data in one chunk, then all buffers will also be used.

[2021-02-18 12:10] narodo commented on #32382
Hi @ycsin, I let my board run for a lot longer  and I can also see some drift now. But it took me about ~5000 seconds to get to the 2s(ish). So a factor of 10 slower than your test.

In my opinion the clock tree is configured correctly now. I don't think this patch is related to this behaviour. I don't see how it could introduce this drifting behaviour if the clocks are setup correctly (which they

[2021-02-18 12:15] carlescufi commented on #31742
Right, so this probably requires a fix in the documentation. @joerchan will send a PR.

Can we close this GitHub issue now?

[2021-02-18 12:19] #32433 closed

[2021-02-18 13:12] erwango commented on #32382
@ycsin If at least the configuration issue is solved, then you can approve https://github.com/zephyrproject-rtos/zephyr/pull/32393. It will help getting it merged.

[2021-02-18 13:20] ycsin commented on #32382
Thanks for the help!

[2021-02-18 13:20] #32382 closed

[2021-02-18 13:30] r2r0 opened #32448 "C++ exceptions do not work on multiple platforms"
## EDITED

**Architectures on which C++ exceptions work**
* ARC
* ARM-32
* ARM-64
* RISCV-32
* RISCV-64
* SPARC
* x86-32
* x86-64
* Xtensa

**Architectures on which C++ exceptions do not work**
* NIOS2? (unsure, `qemu-nios2` cannot run this; if anyone has a HW to test this, any help would be greatly appreciated).

## ORIGINAL POST
**Describe the bug**
C++ exception (with matching catch statement)

[2021-02-18 13:33] erwango commented on #32431
@ycsin, I'll close the current point as it doesn't answer your need.

[2021-02-18 13:33] #32431 closed

[2021-02-18 13:33] erwango commented on #32382
@ycsin Can you approve #32393 in github UI ?
"Add your review" > "Review changes" > "Approve"

[2021-02-18 14:00] idlethread commented on #32233
Setup is as follows:

[code]

Nitrogen zephyr log shows:

[code]

nRF sniffer logs are here (just remove .zip extension):

[v1.1-board-zephyr-2.5-rc4-samsung-laptop.pcapng.zip](https://github.com/zephyrproject-rtos/zephyr/files/6003281/v1.1-board-zephyr-2.5-rc4-samsung-laptop.pcapng.zip)

[2021-02-18 14:11] expploitt commented on #22464
Hello, this fix is where is available? It isn't still in  master

[2021-02-18 14:22] SteveOss commented on #22464
@expploitt I never got sign off on the PR as the guys I was interacting with stopped interacting :( You can still find the PR by 22464, was closed as stale.

[2021-02-18 14:56] expploitt commented on #22464
Well, It is interesting to have the different functions to change from string to x in zephyr. I'm trying to integrate zenoh over zephyr and there are functions like strtof or strod that are not available. :(

[2021-02-18 15:39] SteveOss commented on #22464
@expploitt I was essentially doing the same sort of porting stuff. You can work round this sort of thing but you end with horrible #ifdef everywhere.

[2021-02-18 16:12] expploitt commented on #22464
@SteveOss yeah, I know that when you want to integrate something in software like that is very stressful, but I think that zenoh protocol is very interesting for IoT.

[2021-02-18 16:30] SteveOss commented on #22464
@expploitt Guess you know some of my ex colleagues - Angelo, Olivier and Julien :)

[2021-02-18 17:07] s-kelvin commented on #30192
[code]

[2021-02-18 18:04] albertofloyd opened #32457 "samples: drivers: espi: Need to handle failures in temperature retrieval"
**Is your enhancement proposal related to a problem? Please describe.**
The current sample code assumes there are no failures while retrieving temperature over eSPI OOB channel

**Describe the solution you'd like**
If N consecutive attempts fail then it exist the thread and indicate the failure

**Impact**
If sample code ever gets into CI it would hang if any failing conditions

[2021-02-18 18:29] jharris-intel commented on #32344
Conceptual question here.

You're in thread A. Thread A tries to abort thread B. While in the middle of the abort we context-switch to thread B. An interrupt happens while we're in thread B. The ISR tries to abort thread A.

What is allowed to happen?

In particular:

Are we allowed to defer the deletion from the ISR? What if the ISR was doing e.g. `delete_thread_a(); cleanup_thread_a_resources();

[2021-02-18 18:30] jharris-intel commented on #32344
One potential (rather heavy-handed) approach to this is roughly as follows:

1. Split out THREAD_ABORTING into multiple stages, one for each potential yield point.
2. Change thread abort to check the target thread's stage every yield point (so essentially state-machine driven.)
3. Have e.g. a pointer in the standard TCB indicating "I'm aborting thread X".
4. Any time you go to delete a thread (inc

[2021-02-18 19:13] npitre opened #32459 "the cbprintf unit tests don't actually test all variations"
**Describe the bug**

The cbprintf unit tests are configured using DVIA_TWISTER in testcase.yaml.
This preprocessor define never makes it to the compiler.

**To Reproduce**

1. Apply this change:

[code]

2. Run `./scripts/twister  -T tests/unit/cbprintf/`

3. Watch all tests fail.

**Environment (please complete the following information):**

 - OS: Linux
 - Toolchain: Zephyr SDK
 - Version used:

[2021-02-18 19:51] pabigot commented on #32459
That does seem to be true; it used to work, though.  I'll have to see when it broke.

[2021-02-18 20:26] andyross commented on #32344
See workaround in #32461 -- I needed to do that as part of the abort rework (it's a simple change to the lock ordering, really).  And when trying to isolate whether it had caused some new weirdness I was seeing, I tried it alone on top of upstream head and realized that it actually works to address the race in practice.  So we might want to merge that alone just to clean up the spurious failures t

[2021-02-18 21:00] andyross commented on #32344
For those curious: the reason for extending the lock is to get the assignment to the CPU-specific current thread pointer, which was outside the lock and late, into the same lock as the selection of the new thread so they could be seen atomically from other CPUs and used for decisions (for example "Is this thread currently running on another CPU?")

[2021-02-18 21:12] andyross commented on #32344
And @jharris-intel I think that's the natural way to fix it given our architecture, but I'm pretty sure we can do this without the extra non-atomic stages entirely, nor even the idle thread trick.  Still working out kinks (including ARM32's non-atomic PendSV z_swap() implementation coming back to bite me again...) but hope to have something up today.

[2021-02-18 21:18] andyross commented on #32344
Oh, and a final note: I understand now the reason why the SMP deadlock fix made this so visible.  The action of that was to move the addition of the outgoing/interrupted _current thread to the run queue much later (to after the spin step that needs to wait for the inbound thread's context switch on its own CPU).   But that takes the original small hole (which again was pre-existing and not strictl

[2021-02-18 23:12] ycsin commented on #32382
Done!

[2021-02-19 01:08] pabigot commented on #12098
This was resolved for minimal libc when cbprintf became the standard formatter in Zephyr.

[2021-02-19 01:08] #12098 closed

[2021-02-19 03:48] chen-png opened #32467 "x86_64: page fault with access violation error complaining supervisor thread not allowed to rwx"
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/device
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
 Booting Zephyr OS build zephyr-v2.5.0-239-ge287fd7ab2fb
Running test suite device

START - test_dummy_device_pm
SKIP - test_dummy_device_pm

START - test_build_suspend_device_list
SKIP - test_build_suspend_device_list

ST

[2021-02-19 03:52] chen-png opened #32468 "up_squared: tests/kernel/smp failed."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/smp
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
Booting Zephyr OS build zephyr-v2.5.0-239-ge287fd7ab2fb
Running test suite smp

START - test_smp_coop_threads
PASS - test_smp_coop_threads

START - test_cpu_id_threads
PASS - test_cpu_id_threads

START - test_coop_resched_thr

[2021-02-19 04:01] LeiW000 opened #32469 "Twister: potential race conditions."
Flashing errors show up when twister runs with multi-threads feature enabled. Please see following. If multi-threads feature is disabled with option "-j 1", the issue is gone.
[code]

The scripte below is wha I used to reproduce the issue.
[code]

[2021-02-19 05:58] wngur300 commented on #32023
When c2a0b0f50bdb3c928e9d329cea93157e7cf0a469 commitment is applied and CONFIG_BT_SETTINGS_CCC_STORE_ON_WRITE=y is set,
it works well even after the board is reset.
The problem has been solved. Thank you!

[2021-02-19 06:21] wngur300 commented on #32023
I'd like to ask you a question that has nothing to do with the issue.
Is there a function that can confirm that the board is paired with another device after it is powered on?

[2021-02-19 07:09] expploitt commented on #22464
Yeah!! I spoke with them sometimes by chat for Zenoh Gitter

[2021-02-19 08:50] jukkar commented on #32270
There is a config option for this `CONFIG_NET_TCP_MAX_SEND_WINDOW_SIZE`, it might be possible to use it for this. Would you be able to experiment if it works as expected?

[2021-02-19 10:02] erwango opened #32474 "pm: review post sleep wake up application notification scheduling"
In sleep states exit treatment functions (`pm_system_resume`, `pm_policy_mgr`), we can see that application notification (`pm_state_notify`) is called before SoC level post wake up operations (`pm_power_state_exit_post_ops`).

This could lead to several issues as we don't know what treatment applications may do on such notification, but this should be noted that SoC is potentially not fully waken

[2021-02-19 10:10] erwango commented on #32474
@ceolin, @pabigot, @nashif as discussed yesterday.

Regarding the `pm_power_state_exit_post_ops` vs devices resumption:
This is to be confirmed but it is likely that the first function called at wake up from sleep is `pm_system_resume`, which is calling `pm_power_state_exit_post_ops` (again after having notified the application first). Operation on devices will only occur after in resumption of `p

[2021-02-19 10:29] SteveOss commented on #22464
Small world

[2021-02-19 11:16] galak opened #32475 "twister error building mcux acmp driver"
`./scripts/twister -p twr_ke18f -s samples/sensor/mcux_acmp/sample.sensor.mcux_acmp.no_trigger`

Now fails and generates:

[code]

[2021-02-19 11:16] galak commented on #32475
Guess this is related to:

[code]

[2021-02-19 11:25] #32376 closed

[2021-02-19 11:32] PerMac opened #32478 "twister: Twister cannot properly handle runners errors (flashing)"
**Describe the bug**
Errors occurring during flashing devices are not handled properly. There are several scenarios related to this issue.
I am able to reliably reproduce it on nrf5340 board, which raises errors during programming when app protected is not disabled, however, I see the same issues occasionally on other boards when an error occurs during programming.
Scenarios:
1.) configuration: wh

[2021-02-19 12:23] joerchan commented on #32023
@wngur300 There is `bt_foreach_bond` function, that can be used to iterate over all the bonds, you can see how many there are, and the address of the peer that is paired. You can also remove a bond with `bt_unpair`.

Closing as problem has been solved.

[2021-02-19 12:24] #32023 closed

[2021-02-19 12:28] alexsven opened #32485 "CONFIG_NFCT_PINS_AS_GPIOS not in Kconfig.soc for nRF53"
**Describe the bug**
CONFIG_NFCT_PINS_AS_GPIOS is not present in the Kconfig.soc for the nrf53 platform. Even though the config is available when building for a nrf53 board, due to:
[code]
in soc/arm/nordic_nrf/Kconfig, the help section of CONFIG_NFCT_PINS_AS_GPIOS  is only valid for nrf52

[2021-02-19 14:08] carlocaione opened #32492 "AArch64: Rework secure states (NS vs S) discussion"
The current situation for the NS vs S story in Zephyr for AArch64 is very confusing (at lest to me) and I feel the urgency to fix it ASAP because the port is quickly growing in size and complexity.

This is the current status:
1. When Zephyr is started from `EL3` the `SCR_EL3.NS` is always set to `0`.
This is currently done on master:
https://github.com/zephyrproject-rtos/zephyr/blob/decf521660a68

[2021-02-19 14:09] carlocaione commented on #32492
Tagging the relevant people: @npitre @jharris-intel @MrVan @ioannisg @stephanosio @Abhishek-brcm @sandeepbrcm

[2021-02-19 15:11] #28873 closed

[2021-02-19 15:26] nashif commented on #32478
Those are multiple issues, it would be nicer to open 1 issue for each problem with more details.

[2021-02-19 16:13] jharris-intel commented on #32492
For reference, with QEMU, there's actually more than two different possibilities there.

`virtualization` and `secure` in QEMU translate directly to the corresponding ARMv8 features.

*****

EL3 is always secure, EL2 is always non-secure, so the real direct changes in the above are roughly:

1. "Does EL3 exist"
2. "Does EL2 exist"
2. "Are we running EL1 in secure or nonsecure state"
3. "Are we run

[2021-02-19 16:48] jharris-intel commented on #32492
As for the impact of this and your questions...

1. GIC configuration, as you mention. Especially if you want FIQ support later. (Also, some things like timers have different interrupt ids for secure versus nonsecure, often.)
2. MMU configuration, as you mention.
3. Some processors support exporting secure/nonsecure state on the memory bus (e.g. for a defense-in-depth hardware measure to prevent s

[2021-02-19 16:55] jharris-intel commented on #32492
As an aside, regardless of whichever PSCI decision is made, can we comply with the Linux kernel's devicetree spec for PSCI? https://www.kernel.org/doc/Documentation/devicetree/bindings/arm/psci.txt

[2021-02-19 16:55] dueringa commented on #31503
@YoYo0304 A quick info from me, who has been developing on the nrf52832 - there's an errata 89 (https://infocenter.nordicsemi.com/index.jsp?topic=%2Ferrata_nRF52832_EngB%2FERR%2FnRF52832%2FEngineeringB%2Flatest%2Fanomaly_832_89.html) - power cycling the TWIM/SPIM register *should* help.

However, in doing so, the peripheral loses its configuration, and currently, there seems to be no way to re-ini

[2021-02-19 17:12] mniestroj commented on #31503
There are at least two ways to workaround increased power consumption:
1) follow nrf52832 errata, as @dueringa mentioned; this means that i2c peripheral needs to be reinitialized before each i2c transfer, but such behavior needs changes in nrf i2c driver,
2) stop using GPIOTE; there is an open PR (#31823) to "emulate" edge interrupts using other GPIO capabilities in nRF.

[2021-02-19 17:30] villytiger opened #32497 "No checks of buffer size in l2cap_chan_le_recv"
**Describe the bug**

https://github.com/zephyrproject-rtos/zephyr/blob/80ec93860ba5aee4e730dc46569060a8eb7bd16e/subsys/bluetooth/host/l2cap.c#L2192

[code]

May be I'm missing something. But it looks like net_buf_pull_le16 can read outside of the buffer if a frame has the length fewer than 2. I couldn't find any checks in the callers as well.

[2021-02-19 17:51] carlocaione commented on #32492
At least until you want to support `ARMv8.4-SecEL2`.

Core does not support the security extensions? Enforce CONFIG_ARMV8_A_NS.

Ok, something like `CONFIG_HAS_SEC_EXT` or similar should do the job.

Agree. It is really weird to me that currently we force QEMU to start from `EL1` when in `NS` mode.

Yes, this is one of the reason why I decided to rewrite the boot code in C in #32394, so that we ca

[2021-02-19 17:55] dueringa commented on #21252
The documentation change seems relatively trivial to me (correct me if I'm wrong please), I'd be willing to do a PR. As @dbkinder mentioned - should the instruction just mention the latest release (currently zephyr-v2.5.0), bearing in mind the tag in the doc should be updated on each release?

[2021-02-19 17:56] micwurm opened #32499 "k_sleep duration is off by 1 tick"
I did some tests for a project that required precise timing and I noticed that k_sleep sleeps one tick too long when using a relative timeout, and one tick too short when using an absolute timeout.
Test code:
[code]
Observed behavior:
[code]
Looking at the debug pin with a scope confirms this and I see a 520us pulse in case 1, and a 320us pulse in case 2.

The problem seems to come from the follow

[2021-02-19 18:12] jharris-intel commented on #32499
[code]
This may be because of the following:

If you have, say, a 1kHz clock.

And you issue a `k_sleep(K_TICKS(1));` call _immediately before_ a tick. This will wait ~0ms, plus RTOS overhead.
And you issue a `k_sleep(K_TICKS(1));` call _immediately after_ a tick. This will wait ~1ms, plus RTOS overhead.

Or rather:

Without `+1`:
Actual wait time is between `ticks-1` and `ticks`, plus RTOS overhe

[2021-02-19 18:15] #32475 closed

[2021-02-19 18:22] andyross commented on #32499
This looks correct.  The documented behavior of a relative timeout is that it sleeps for at least that long.  So in your relative example you wait for tick alignment, sleep for four ticks, and then receive your interrupt at the next tick that arrives **after** that, which is five ticks after the tick that arrived immediately before the sleep call.  We can't wake you up in exactly four ticks withou

[2021-02-19 18:28] jharris-intel commented on #32492
Oh interesting. I must admit I'm unfamiliar with the ARMv8.x extensions for the most part.

I mean, not quite? The interface is obviously designed as a wrapper around PSCI, and the current sole in-tree implementation does so, but it's mostly generic enough that you can write a backend driver implementation that doesn't actually use PSCI (and indeed I did so locally.)

(Or to put it another way, I'

[2021-02-19 18:38] micwurm commented on #32499
I understand the relative timeout case.

But in my test with the absolute timeout the system wakes up 1 tick BEFORE the specified time (`endTicks == targetTicks - 1`).

I think the problem is that at the point where the +1 happens the absolute timeout is still in its negative representation, thus shortening the timeout.

I think what you want is actually this:
[code]
With this the absolute case wa

[2021-02-19 19:06] andyross commented on #32499
Ah, OK.  Indeed, I buy that, the early addition is clearly wrong.  Do you want to submit or should I?  Ideally we want to add a test case that exhibits the early wakeup too.

[2021-02-19 19:47] micwurm commented on #32499
Feel free to submit this.

There is actually a second related issue: The computation of the expected timeout in `z_tick_sleep()` doesn't handle the case where the timeout is absolute. As a result the return value of `k_sleep()` is garbage (`retVal == -1717986927` in the original post).

[2021-02-19 21:12] andyross commented on #32499
Fix up at https://github.com/zephyrproject-rtos/zephyr/pull/32505

Please open a second bug against sleep, this one is going to get closed automatically when that merges.

[2021-02-19 21:34] micwurm opened #32506 "k_sleep: Invalid return value when using absolute timeout."
When invoking `k_sleep()` with an absolute timeout, the return value is garbage.
[code]
In the end, `targetTicks == endTicks` (as expected), but `retVal != 0` (should be 0).
See also: #32499
The problem is that `z_tick_sleep()` doesn't handle the case of absolute timeouts when computing `expected_wakeup_ticks`.
(Maybe `z_add_timeout()` should return `ticks` to avoid duplication?)

[2021-02-19 21:34] micwurm commented on #32499
See #32506.

[2021-02-20 03:06] taotaodong527 opened #32509 "west build -p auto -b nrf52840dk_nrf52840 samples/bluetooth/hci_uart FAILED with zephyr-v2.5.0"
**Describe the bug**
west build -p auto -b nrf52840dk_nrf52840 samples/bluetooth/hci_uart FAILED with  zephyr-v2.5.0
**14: Could not open '/home/dongtaotao/zephyrproject/zephyr/' (in 'osource "$(ZEPHYR_TRUSTED_FIRMWARE_M_KCONFIG)"') (EISDIR: Is a directory)**

**To Reproduce**
dongtaotao@dongtaotao-OptiPlex-5070:~/zephyrproject/zephyr$ git checkout zephyr-v2.5.0

dongtaotao@dongtaotao-OptiPlex-507

[2021-02-20 03:38] #31284 closed

[2021-02-20 06:26] YanzhouYu opened #32511 "Zephyr build fail with LLVM on Ubuntu for target ARC"
**Is your enhancement proposal related to a problem? Please describe.**
I am trying to build zephyr sample project 'hello_world' with ZEPHYR_TOOLCHAIN_VARIANT=llvm for board qemu_arc_em, qemu_arc_hs. But build failed with log <clang: error: unknown argument: '-mno-sdata'>.

**Describe the solution you'd like**
Suppose zephyr can support build with llvm toolchain for target ARC related board.

**Ad

[2021-02-20 07:18] KangJianX opened #32512 "intel_adsp_cavs15: run testcases of queue failed"
**Describe the bug**
run testcases of **queue** failed

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/queue/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/zephyrproject/modules/audio/sof/

[2021-02-20 07:31] KangJianX opened #32513 "intel_adsp_cavs15: run testcases of fifo failed"
**Describe the bug**
run testcases of fifo failed

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/fifo/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/zephyrproject/modules/audio/sof/zephyr

[2021-02-20 08:45] LingaoM commented on #32256
@Ripitchip Bluetooth Mesh has replay protection. The friend node will record the sequence number of the LPN. The sequence number of each message must be greater than the previous one, otherwise it will be considered a replay attack. If you reprovisioning the LPN, then the sequence number of the LPN will be cleared at this time. If the configuration node address is the same as the last time, the me

[2021-02-20 09:02] Zhaoningx opened #32514 "frdm_k64f:running testcase tests/subsys/debug/coredump/ and tests/subsys/debug/coredump_backends/ failed"
To Reproduce
When running coredumptestcases, it showed me 'successful', but it is always showed some error log in handler.log.

Steps to reproduce the behavior:
twister -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -T tests/subsys/debug/coredump/ -j 1
twister -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -T tests/subsys/debug/coredump_backends/ -j 1
see error
handler.log

[2021-02-20 10:19] Dream-math opened #32515 "zephyr/kernel/thread.c:382 failed"
Hi, my python code communicates with zephyr program based on qemu-riscv32 board, after several rounds, the zephyr will crash, and the python code will receive `zephyr/kernel/thread.c:382`( I guess this is the problem), their communication is based on FIFO file.

Here is the zephyr program writing message
[code]
and `zephyr/kernel/thread.c:382` code is
[code]
when I debug with single step, I found

[2021-02-20 11:01] thedjnK opened #32516 "RFC: 1-Wire driver"
## Introduction

1-Wire is a common communication bus used by maxim/dallas parts for things like ID tokens, temperature sensors and other misc. devices which are common on many devices/sensor platforms. 1-wire client devices can be powered with a dedicated power line or can be parasitically powered from the 1-wire communication line itself, the protocol supports having multiple sensors on a single

[2021-02-20 19:46] picsil commented on #32516
I would love to see this implemented as my application relies extensively on having multiple masters on the board (each using its own GPIO pin).

[2021-02-20 19:58] alexanderwachter commented on #32331
@henrikbrixandersen @karstenkoenig @martinjaeger
Any ideas how ti set a proper sjw. We could pass 0 and define in the API that zero does not change the value.

[2021-02-20 21:22] micwurm commented on #32499
I had the pleasure of writing my own timer driver and in the process I got another look at this issue. If I am not wrong, there is still a window of opportunity where absolute timeouts can be off by one tick even after this fix. It is pretty unlikely and it would be hard to actually observe this.

1. For absolute timeouts there are two calls to `elapsed()` in `z_add_timeout()` that should ideally

[2021-02-20 21:27] nashif commented on #32511
this is not supported yet, you can build using gcc or metaware.

[2021-02-21 12:28] saad-abdullah62 commented on #32321
Another thing it builds application for Cortex M processors correctly.

[2021-02-21 13:36] sandeepbrcm commented on #32492
Supporting *All* permutation to enter Zephyr is going to increase complexity. I would suggest to defer such support without practical motivation unless you have time to support them all :)
The following two are currently valid choices AFAIK
1-Zephyr starts @ EL3 and drops to secure El1 and runs secure state.  TZ neutral system
2-Zephyr starts @ NS EL1 (or NS EL2) and continues in NS state obviousl

[2021-02-21 13:53] nashif commented on #32478
We do not retry cmake/build failures and this is by design. Can you give more details about the failure? Why exactly does it fail?

[2021-02-22 00:51] Dream-math commented on #32515
If I replace the qemu-riscv32 with qemu-x86, there is nothing wrong, it works well, so is this related to riscv ?

[2021-02-22 01:10] #30544 closed

[2021-02-22 02:09] chen-png commented on #32467
for testcases "kernel.common.tls", "kernel.message_queue", failed with the same error "E: Access violation: supervisor thread not allowed to read".

[2021-02-22 07:18] s-kelvin commented on #32509
Running `west update` should fix this.
If not, run `git clean -fd` after you've backed up all your local changes. Then run `west update`.

[2021-02-22 08:32] aescolar opened #32531 "get_maintainer.py cannot parse MAINTAINERS.yml"
**Describe the bug**
The script get_maintainer.py cannot parse MAINTAINERS.yml
It seems the syntax of MAINTAINERS.yml has diverged quite a bit from what get_maintainers can process.

**To Reproduce**
Steps to reproduce the behavior:
1. Try running get_maintainers against any file:
[code]

**Expected behavior**
get_maintainer not erroring out

**Impact**
Users cannot use script to find maintainers

[2021-02-22 09:29] ioannisg commented on #32509
Thanks @s-kelvin , agreed, this needs west update and local cleaning.
Closing this, as I cannot reproduce on 2.5.0, neither on current master.
@taotaodong527 please, re-open, if needed.

[2021-02-22 09:29] #32509 closed

[2021-02-22 10:00] LingaoM commented on #32238
@key1066  CC https://github.com/zephyrproject-rtos/zephyr/pull/32532

[2021-02-22 10:37] ruuddw commented on #32511
Hi @Yanzhou, as Anas mentioned, we do not support native ARC LLVM for Zephyr. Though there is initial, experimental ARC support for LLVM, the recommended and supported toolchains are GCC and MetaWare (which internally uses LLVM).
If this changes in the future, we can re-open this enhancement request - for now I close it.

[2021-02-22 10:37] #32511 closed

[2021-02-22 10:57] a1ien opened #32536 "Codec phy connection ASSERTION FAIL [event.curr.abort_cb]"
I try test coded phy connection with bt_shell.

**To Reproduce**
Steps to reproduce the behavior:
1. cmake -B ble_shell -GNinja -DBOARD=nrf52840dongle_nrf52840 -DCONF_FILE=bt_shell_defconfig zephyr/samples/subsys/shell/shell_module
2. cmake --build ble_shell
3. now flash to two device
4. First device command
[code]
5. Second device command
[code]

[bt_shell_defconfig.zip](https://github.com/zephyr

[2021-02-22 11:06] carlescufi commented on #32536
@a1ien could you please run `addr2line` on `0x0003301c` and give us the source file and line number?

[2021-02-22 11:11] a1ien commented on #32536
@carlescufi it's assertion line zephyr/subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c:321

[2021-02-22 11:25] carlocaione commented on #32492
But this is what we already have in place. Case (1) is the case `!ARMV8_A_NS`, case (2) is `ARMV8_A_NS`. What's missing is an agnostic cpu ops interface.

Ok, let's take this step-by-step then. I'll try to prepare a patch to migrate the CPU ops interface / subsystem from PSCI to a more generic interface and then we can proceed from there.

[2021-02-22 11:51] cvinayak commented on #32536
@a1ien could you try with CONFIG_BT_CTLR_PRIVACY=n ?

[2021-02-22 12:01] expploitt opened #32537 "Fatal error syscall_list.h"
Hello, I'm trying to compile zenoh-pico as a external lib (such as the sample project) but when I compile I get the error:

[code]

I don't know how to solutions this, I'm reviewing my code but It seems that is some configuration that.

Thanks!

[2021-02-22 12:23] de-nordic commented on #32537
The file that is missing here is generated at compile time to $BUILD_DIR/zephyr/include/generated/syscall_list.h.
I am not sure what you are trying to do with the "external lib": do you want to link this library in a similar way to for example tinycbor or mcumgr, which are built as Zephyr modules (modules/lib/) or fatfs library (modules/fs/fatfs)?

[2021-02-22 13:14] expploitt commented on #32537
I'm trying to do something like the sample named external_lib in the **zephyrproject/zephyr/samples/application_development/external_lib** example.

There is a folder with the lib code, and it's linked after compilation.

[2021-02-22 13:19] de-nordic commented on #32537
Have you looked at the CMakeLists.txt within that sample?
I have just built that sample for nrf52840dk_nrf52840 and it has generated the missing header and compiled ok.

[2021-02-22 13:24] PerMac commented on #32478
@nashif I don't think splitting this issue would help, as all of the issues (most likely) have the same root cause, i.e. flashing a board being a part of the building stage.
There can be various reasons for failures during flashing, e.g some connection issues or, like in the case where I can have the error all the time, when the board is "protected" and needs "recovery" before being flashable (I g

[2021-02-22 13:24] expploitt commented on #32537
yeah, the example works fine. But I open the issue if someone knows why could be  the reason of the error. I have to review then the code.. I don't have others errors, only this.

[2021-02-22 13:35] de-nordic commented on #32537
Look at the CMakeLists.txt this is basically the recipe that makes the sample build, it should contain all operations that are needed for includes to work properly.

[2021-02-22 13:39] de-nordic commented on #32516
Figure 16 of the [DS18S20](https://datasheets.maximintegrated.com/en/ds/DS18B20.pdf) best describes timing requirements.
I do not think that there would be problems with implementing the "master" side as there quite long, although there may be need to lock interrupts for "master" 1 bit as it consists of falling edge followed by rising edge that should occur in 1us and be at Vcc level at most in 15

[2021-02-22 13:45] #32499 closed

[2021-02-22 13:58] expploitt commented on #32537
My Makefile inside the zenoh-lib folder:

[code]

And this is my CMakeLists.txt:

[code]

Also I'm using this prj configuration:

[code]

[2021-02-22 14:11] de-nordic commented on #32537
Can you dump here build invocation with console dump?

[2021-02-22 14:24] pabigot commented on #32220
Based on above the way to indicate that a GPIO is no longer used is to configure it as `GPIO_DISCONNECTED`.

[2021-02-22 14:31] cvinayak commented on #32536
Hey, there is no implementation as central to connect to extended advertising.

@andrzej-kaczmarek could you please confirm?

[2021-02-22 14:34] expploitt commented on #32537
[code]

[2021-02-22 14:48] expploitt commented on #32537
I don't know why, but if I execute the command two times, I get the error above. However, if I execute one more time then the software compiles. I'm going to test if runs well in the board.

[2021-02-22 15:03] de-nordic commented on #32537
Can you check each time you run whether the zephyr/include/generated/syscall_list.h has been created after each build attempt?

[2021-02-22 15:07] nashif commented on #24228
this is now done.

[2021-02-22 15:07] #24228 closed

[2021-02-22 15:07] a1ien commented on #32536
But What then does this PR https://github.com/zephyrproject-rtos/zephyr/pull/28754?

[2021-02-22 15:09] nashif commented on #14309
should we close this?

[2021-02-22 15:13] andrzej-kaczmarek commented on #32536
@cvinayak correct, it's in progress
@a1ien it only adds support for connectable extended advertising in peripheral role

[2021-02-22 15:14] de-nordic opened #32545 "It seems that CONFIG_IMG_MGMT_VERBOSE_ERR does not work"
Setting the Kconfig options should enable text string error descriptions, apart from error code, being returned to via mcumgr library to mcumgr-cli which does not happen

**To Reproduce**
Steps to reproduce the behavior:
1. build smp_svr sample with the options set and flash it to device and reset it to make the sample run;
2. use mcumgr command line to upload image;
3. without reseting the slot,

[2021-02-22 15:14] a1ien commented on #32536
ohh... it is sad

[2021-02-22 15:19] ioannisg commented on #32252
There's a possibility we can fix this just with the following upmerge. I'll get back to it soon.

[2021-02-22 15:21] beriberikix commented on #32000
Ah, are submissions for the GSoC CFP closed? I was planning on formally submit #22247.

[2021-02-22 15:49] micnet49 commented on #32037
Is there a chance that there will be a contribution to this issue within the next three month?

[2021-02-22 15:51] mbolivar-nordic commented on #31993
@PerMac what do you think about this one?

[2021-02-22 15:53] mbolivar-nordic commented on #31993
@nashif I was told by @PerMac that you were doing a twister overhaul that was touching the YAML files. Curious what you think about this issue. My first question would by "why is twister so slow" and "why can't twister do this".

I'm not sure sharing the code for parsing this YAML format between west build and twister makes the most sense, but would like your perspective.

[2021-02-22 16:33] ceolin commented on #30192
that is a different problem, let me look it. This one seems to be a real issue and not only a stack overflow

[2021-02-22 17:39] laodzu commented on #32514
This is not a bug, but expected bahaviour.  The test case just tests that Zephyr catches an illegal Null pointer assignment and prints a core dump.  So although the core dump looks like an error, this test checks that it is indeed generated.

[Testcase is here](https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/subsys/debug/coredump/src/main.c)
[Testcase YAML](https://github.com/zephyr

[2021-02-22 17:53] de-nordic commented on #32537
I have modified sample to include sys_call.h and indeed compilation fails. It seems that the sys_call.h is generated later than the library is build, so if library depends on syscall_list.h it will not build. Bringing back Bug label.
@tejlmand any thoughts?

[2021-02-22 18:45] pabigot commented on #14309
Seems like this is done, yes.