[2021-02-22 18:45] #14309 closed

[2021-02-22 18:51] dcpleung commented on #32514
As @laodzu said, this is expected behavior as the test is to make sure a coredump can be generated. So closing...

[2021-02-22 19:39] cwshu commented on #32515
Hi @Dream-math,
Exception at line 382 occurs because the checking of `CONFIG_STACK_SENTINEL` is failed. `CONFIG_STACK_SENTINEL` is a SW-based method to check the stack overflow by checking the pollution of magic bytes at lowest address of stack.
It means this thread has stack overflow and you may need to enlarge the thread stack size. (or other stack overflow reason)

[2021-02-22 23:11] laurenmurphyx64 commented on #32469
If it helps while investigating, I just tried Steven's script and had the same issue on my FRDM-K64F with a different error:

[code]

The flash failure caused the FRDM board to switch to the bootloader for some reason:

![Screenshot from 2021-02-22 16-44-12](https://user-images.githubusercontent.com/14157493/108781063-f1c38480-752e-11eb-8b53-d8f5f7bd0796.png)

My attempts to disconnect, reconnect

[2021-02-23 00:22] LeiW000 commented on #32514
@Zhaoningx , my understanding is that twister takes this as a failure of the test case? If that is the case, maybe there is something wrong with the test case.

[2021-02-23 00:39] dcpleung commented on #32467
Tried with #32557 and seems to fix the issue. So wait for that to be merged...

[2021-02-23 01:08] Zhaoningx commented on #32514
Hi @LeiW000 , yes, so we need to spend some time to debug this I think, by the way, this issue has also met on reel board platform, so I'll talk with Kelvin later, maybe he has good idea for this.

[2021-02-23 01:10] #30429 closed

[2021-02-23 01:25] andyross commented on #32467
Indeed, this is likely a dupe of the abort menagerie of troubles.  I'm doing a ton of iterated qemu_x86_64 runs right now and not seeing this.

[2021-02-23 02:25] Dream-math commented on #32515
@cwshu Thanks for your reply,  there are one place in my main.c related to memory size explicitly:
[code]
and the next place is running the program:
[code]
so I just need to increase these two size? I search on the internet, but didn't find too much, can you give me some advice about enlarging the thread stack size, how to find and set the stack size? Thanks!

[2021-02-23 02:32] hongshui3000 opened #32563 "Add Xtensa xt-ld linker support to CONFIG_XIP"
**Describe the bug**
file : linker-tool-gcc.h
[code]

If CONFIG_XTENSA & CONFIG_XIP is configured, ALIGN_WITH_INPUT is not supported in XTENSA's xt-ld

Please check again

[2021-02-23 04:55] chyu313 opened #32564 "net_buf reference count not protected"
**Describe the bug**
I tested heavy TCP traffic load by 32 connections sending data to 32 tcp echo server threads on MIMXRT1060_EVK board, and at the same time using 'ping -f' to make zephyr busy handling ICMP packet.  After one day, system crashed as following:
![image](https://user-images.githubusercontent.com/56861030/108799430-44eb1500-75cb-11eb-9236-9dcca695fac4.png)

I tested many times, and

[2021-02-23 05:17] cwshu commented on #32515
@Dream-math You should find which thread has stack overflow at first (e.g. check `_current`). Then enlarging stack size in the `k_thread_create()` or `K_THREAD_DEFINE()` of this thread.
If it's stack overflow in main thread, you can set `CONFIG_MAIN_STACK_SIZE` to change stack size. (other system threads also have their own kconfig option)

[2021-02-23 05:29] LeiW000 commented on #32514
I don't think we should close the issue now. The dump info is expected behavior. But twister takes it as a failure. It is still a bug.

[2021-02-23 05:36] LeiW000 commented on #32469
Because of this issue, I'm wondering if we should disable multi-threads by default in Twister.

[2021-02-23 06:31] Dream-math commented on #32515
Thanks, it works!

[2021-02-23 07:17] mlasch opened #32566 "lwm2m: Long endpoint names are truncated due to short buffer"
**Describe the bug**
When using long endpoint names for the lwm2m client, the `ep=` query in the bootstrap/register URL is truncated. Increasing  `CONFIG_LWM2M_RD_CLIENT_ENDPOINT_NAME_MAX_LENGTH` doesn't help.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `CONFIG_LWM2M_RD_CLIENT_ENDPOINT_NAME_MAX_LENGTH` to a big number e.g. 100
2. Run the lwm2m_client sample with a long endpoint name

[2021-02-23 08:03] jukkar commented on #32564
This change would be welcomed and it most probably fixes your issue. Could you create a PR for this change?

[2021-02-23 09:19] laodzu commented on #32514
I think there is now some confusion in this ticket.  Twister does _not_ take this is a failure.  Here is the log from my system running the test:

So again, the test passes - as expected.  This is all expected behaviour so the bug can indeed be closed.

[2021-02-23 09:37] chyu313 commented on #32564
#

OK, but as a newbie, I am reading Contribution Guidelines and then will create a PR.

[2021-02-23 09:46] tejlmand commented on #32537
Well, if you rely on `syscalls` then you must tell the build system that you rely on it, for example by depending on Zephyr interface.

By the looks of the error message, it seems it's the external project having this dependency, so you probably want to add:
[code]

[2021-02-23 09:47] FRASTM opened #32572 "tests/kernel/timer/timer_api/test_timeout_abs fails on stm32 boards"
**Describe the bug**
after The  PR :  kernel/timeout: Fix off-by-one in absolute timeouts #32505
the test fails on many stm32 boards
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_l152re tests/kernel/timer/timer_api
2. west flash
4. See error

**Expected behavior**
test passed

**Environment (please complete the following information):**
 - d8283b63ec6fe9

[2021-02-23 09:54] de-nordic commented on #32537
Thanks @tejlmand , that works. @expploitt can you check whether the solution solves the problem on your side and close the issue?

[2021-02-23 10:25] carlescufi commented on #32563
@hongshui3000 could you perhaps send a Pull Request for this?

[2021-02-23 10:26] carlescufi commented on #32515
Closing since this seems solved now. Please reopen if that is not the case.

[2021-02-23 10:26] #32515 closed

[2021-02-23 10:27] carlescufi commented on #32536
Closing this since it is not implemented yet. @a1ien please check back in time for the 2.6 release to see if it's implemented.

[2021-02-23 10:27] #32536 closed

[2021-02-23 10:30] #32234 closed

[2021-02-23 10:46] expploitt commented on #32537
Thanks @tejlmand !! It solves the problem. I close the issue.

[2021-02-23 10:46] #32537 closed

[2021-02-23 11:11] rlubos commented on #32566
Hi, thanks for reporting. I think your proposal is legit - endpoint query string will be the longest one in most cases so it'll make sense to correlate the `query_buffer` size with this config value. I'll send a PR.

[2021-02-23 12:08] Thurnheer opened #32577 "target_compile_features in CMakeLists.txt triggers an error"
I am developing a framework. In the framework's CMakeLists.txt I've the following statement:
target_compile_features(myFramework PRIVATE cxx_std_17)

The application and the framework are developed using C++.

When I now run west build, I got the following error during cmake configuration:
target_compile_features no known features for CXX compiler "GNU" version 9.2.0

Using the toolchains from the

[2021-02-23 12:44] pabigot commented on #31453
I was asked in Nordic Teams to provide feedback on this.

As I understand the issue Nordic chips have a base radio, call it `nordic,nrf-radio`.  All of those support Bluetooth LE; call that `nordic,nrf-radio-ble`.  Some SoCs (e.g. nRF52833) support direction finding; call that `nordic,nrf-radio-ble-df`.  Some support 802.15.4; call that `nordic,nrf-radio-802154`.

Applications may want to support

[2021-02-23 13:43] joerchan commented on #32411
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 13:43] #32411 closed

[2021-02-23 13:43] joerchan commented on #32410
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 13:43] #32410 closed

[2021-02-23 13:43] joerchan commented on #32409
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 13:43] #32409 closed

[2021-02-23 13:43] joerchan commented on #32408
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 13:43] #32408 closed

[2021-02-23 13:44] joerchan commented on #32407
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 13:44] #32407 closed

[2021-02-23 13:56] rtzu6 commented on #30355
Strange.
I also tried a complete rebuild, zephyr is at commit 1ff7a843.

Scenario 1:
I built the echo_server example via west without touching anything code-wise. Autoconf: [autoconf_west.h.gz](https://github.com/zephyrproject-rtos/zephyr/files/6029135/autoconf_west.h.gz)
A bit different. This results in the same error as always: pinging two different vlan interfaces in parallel as described above

[2021-02-23 14:01] expploitt commented on #17353
Hello, I have some questions about zephyr's configuration flags. I'm trying to use the socket BSD, so I used this config

CONFIG_NETWORKING=y
CONFIG_NET_SOCKETS=y
CONFIG_PTHREAD_IPC=y
CONFIG_NET_SOCKETS_POSIX_NAMES=y

But in my compilation's output, i see implicit reference to usleep() and sleep().

I see that I have to use CONFIG_POSIX_API to implement that methods. But them the socket code don't

[2021-02-23 14:01] joerchan commented on #32404
This one is a false positive, all SMP allowed commands are within index 0, (Keypress being the highest at 0x0e).

@jhedberg Do you think we should convert the definition of allowed commands from `atomic_t allowed_cmds` to `ATOMIC_DEFINE(allowed_commands, SMP_LAST_VALID_OPCODE)`?

[2021-02-23 14:07] joerchan commented on #32405
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 14:07] joerchan commented on #32403
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 14:07] #32403 closed

[2021-02-23 14:07] #32405 closed

[2021-02-23 14:10] joerchan commented on #32402
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 14:10] #32402 closed

[2021-02-23 14:15] joerchan commented on #32397
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 14:15] #32397 closed

[2021-02-23 14:16] joerchan commented on #32398
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 14:16] #32398 closed

[2021-02-23 14:16] joerchan commented on #32399
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 14:16] #32399 closed

[2021-02-23 14:16] joerchan commented on #32400
Passing bt_uuid_16 with type BT_UUID_TYPE_16 will not take case branch BT_UUID_TYPE_128 in uuid_to_uuid128

[2021-02-23 14:16] #32400 closed

[2021-02-23 14:40] hubertmis commented on #31453
I like this proposal. Seems the cleanest possible way.

I'm only thinking if we should connect DF with BLE, because potentially DF could be used in the future with other protocols like 802.15.4. But we can handle such mix when (if ever) it happens.

[2021-02-23 14:49] andyross commented on #32563
What are you trying to do, exactly?  We don't support XIP on any existing xtensa platforms, and XIP as implemented definitely requires binutils-style alignment control.  If you need it for your app maybe there's a hybrid solution where you could build with the Xtensa toolchain and link with binutils?

[2021-02-23 14:55] sjg20 commented on #31036
Hi,

Is there a test for what you are writing?

If you look at the emulator you can see the features it supported. II don't think it supports setting values. You could perhaps add that feature?

Regards,
Simon

[2021-02-23 15:05] jhedberg commented on #32564
I think the main reason it's a uint8_t is that it creates a smaller struct size. We should consider solving the same by adding irq_lock/unlock or similar to the appropriate places in the implementation.

[2021-02-23 15:11] jrhees-cae opened #32579 "Corrupt CBOR payloads in MCUMGR when sending multiple commands together"
When using MCUMGR SMP commands in quick succession, corrupt CBOR payloads are seen by the parser.

[2021-02-23 15:14] jrhees-cae commented on #32579
Suspect that the issue is related to incorrect fifo use for incoming netbuf's:

In `mcumgr/smp.c`, I replaced `k_fifo_put` and `k_fifo_get` with `net_buf_put` and `net_buf_get` and can no longer reproduce the issue.

Suggest correcting these calls and auditing other modules within Zephyr to ensure there are no other instances of `k_fifo_put/get` with net buf's.

For context, see: https://docs.zeph

[2021-02-23 15:37] pabigot commented on #31453
I'm fine with that if it's possible.  The reference manual identifies it specifically as `DFE` meaning (AFAICT) the Bluetooth LE Direction Finding Extension,  but if it's relevant to 802.15.4, certainly that can be supported.

[2021-02-23 15:41] hubertmis commented on #31453
It's not relevant now. I expect it may be in the future. I'm just guessing. I think it would be better to stick to current reference manual while we are deciding. I hope extending to other direction finding protocols, if we ever create one, will be possible with current proposal.

[2021-02-23 15:48] alexanderwachter opened #32581 "shell/usb cdc_acm: shell does not work on CDC_ACM"
The shell is not responding on USB CDC_ACM after #31880 got merged.
However, the USB serial device is still working.

I'm on a custom board with an stm32g4.
Reverting the commit from 31880 brings the shell back.

[2021-02-23 16:26] jfischer-no commented on #32581
`CONFIG_SHELL_BACKEND_SERIAL_INIT_PRIORITY=51` is a possible workaround.

[2021-02-23 16:28] pabigot commented on #32581
Yes, this is at least partly due to `device_get_binding()` now returning null on devices that have not been initialized.  We're going to need runtime equivalent to `DEVICE_DT_GET()` that looks up things by name regardless of whether they're ready to be used.

@galak again we should perhaps slow down on removing label properties.

[2021-02-23 16:29] mniestroj commented on #32579
@jrhees-cae Could you provide more context related to this issue? How to reproduce it? Which Zephyr version did you use, what type of transport protocol was used (BT, UART, SHELL, UDP), etc.? On which side do corrupted CBOR payloads appear (Zephyr or host)?

Looking quickly at `net_buf_{get,put}` vs `k_fifo_{get,put}`, I think that using k_fifo API is correct in current context - at least I don't

[2021-02-23 16:36] jrhees-cae commented on #32579
According to the docs (and my reading of the buf source code), netbuf references should always use net_buf_put/get in case the netbuf has fragments.
I am using NCS 1.4 (not sure which Zephyr version it includes).
Transport protocol is BT. The corrupted CBOR payloads were on Zephyr side (e.g., parsing CBOR coming from the host).
When I added debug code to look at the netbuf payload contents before

[2021-02-23 16:41] nashif commented on #32572
The failure in details:

[code]

[2021-02-23 16:45] pabigot commented on #32581
FWIW, I can't manage to get `samples/subsys/shell/shell_module` to run on a CDC ACM before *or* after #31880 was merged, even with updating the init priority.  If anybody can provide clear instructions I'd appreciate it.

[2021-02-23 16:49] nashif commented on #32572
This is failing on other boards:

[code]

[2021-02-23 16:55] jfischer-no commented on #32581
I found an old patch that adds shell support to console sample, #32586

[2021-02-23 18:10] carlescufi commented on #9954
MSYS is not a supported platform for Zephyr. If you are trying to build on Windows then please use standard `cmd.exe` or WSL (or WSL2) and then report back.

[2021-02-23 18:18] pabigot commented on #32581
I'm going to call this a configuration error, and so the issue is a question, not a bug or a regression.

The shell UART back end initializes in `POST_KERNEL` at `CONFIG_SHELL_BACKEND_SERIAL_INIT_PRIORITY` which defaults to 0.

Most UART devices initialize in `PRE_KERNEL_1` at `CONFIG_SHELL_BACKEND_SERIAL_INIT_PRIORITY` which defaults to 50.

So everything just works as long as serial devices are

[2021-02-23 18:18] carlescufi commented on #32321
Try setting it to auto:

[code]

and then run `west init` and west update` from scratch.

[2021-02-23 18:42] mniestroj commented on #32579
My understanding of the code is that no net_buf fragments are used. Instead, just single net_buf is allocated and enqueued to FIFO at a time. Then each received net_buf is processes separately. So that is why I think `net_buf_{put,get}` API is not needed. In fact, using `net_buf_{put,get}`, as you suggested, could result in dropping some net_bufs (when multiple net_bufs would be enqueued, then jus

[2021-02-23 18:52] jhedberg commented on #32497
@villytiger seems like a valid issue. I created #32588 to try to fix it.

[2021-02-23 18:57] jrhees-cae commented on #32579
Hmm, interesting. Is there any sort of debugging info I could provide to help understand this issue better? Changing those function calls definitely cleared up the problem (on my setup anyway), but I completely understand that it might be a red herring.

[2021-02-23 19:08] #32459 closed

[2021-02-23 19:08] #27692 closed

[2021-02-23 19:09] npitre commented on #32459
Fixed with commit 99425de38774

[2021-02-23 19:12] mniestroj commented on #32579
As a start, you could provide data based on which you have filed this bug. So dump of bytes before putting net_buf on FIFO and after getting from FIFO. I would like to see those "corrupted" packets and their data when they were "okay" before putting them into FIFO. Still, I would like to see what Zephyr version you are using. `git describe` in Zephyr repo should tell us enough.

[2021-02-23 19:30] jrhees-cae commented on #32579
per `git describe` I see: `v2.4.0-ncs1`
I will work on getting a debug dump within the next day. Thanks.

[2021-02-23 19:43] jenmwms opened #32589 "ehl_crb: tests/kernel/context fails sporadically"
**Describe the bug**
This issue is observed on ehl_crb, but does not appear on other boards/HW. In `tests/kernel/context` the test case `test_kernel_cpu_idle_atomic` fails ~20% of the time (@chen-png can also help describe) .

The assert fails due to an "off-by-one" scenario. This happens sometimes on these very sensitive timing tests and different HW, in this case EHL CRB.

**To Reproduce**
Steps

[2021-02-23 19:53] mniestroj commented on #32564
@jhedberg we would need spinlock in order to support SMP. Either global for all net_bufs or one per net_buf, which would consume more space than atomic.

Just to confirm, was using net_buf supposed to be thread-safe? There are not so many places where `net_buf_ref()` is actually used...

I am uncertain that using atomic reference counting is actually solving described bug. TCP application should o

[2021-02-23 20:05] yerabolu opened #32590 "RFC: namespace to address Rule 21.2 violations under coding guidelines."
## Introduction

**Coding guidelines Rule 21.2: A reserved identifier or macro name shall not be declared**.
Almost all the violations for this rule are because of **identifier or macro name beginning with an underscore**.

### Problem description
After triaging majority of the violations, most of them are related to macro name beginning with  underscore. Removing underscores will not work in all

[2021-02-23 21:48] ceolin commented on #32474
@erwango  I think you are correct and notification should only be sent after SoC post ops, have submitted a pr changing it. Another thing that I was wondering about is, currently we send notification about entering in a power state before device pm and if a device fails we send another notification about exiting a power state without never really have changed. Thinking that we should send notifica

[2021-02-23 22:04] mbolivar-nordic commented on #32071
Please go ahead, thanks.

[2021-02-23 22:31] #31585 closed

[2021-02-23 23:54] mbolivar-nordic commented on #32420
Hi, thanks for the detailed report. I've posted a fix in #32597. I can only build test this, since I don't have hardware. @Liviu112 can you please confirm this fixes your issue?

[2021-02-23 23:58] mbolivar-nordic commented on #30708
Happy to pick this up, but it looks like #31336 may already have an owner who will take this over. I'm going to leave this alone unless I hear otherwise and work on other DT related conversions in our IPs.

[2021-02-24 00:00] andyross commented on #32590
I say this every time the subject comes up, but it's not worth starting a fight over:

The **spirit** behind the rule in the C standard (and the variants elsewhere) that reserves identifiers beginning with an underscore is that the system has already used that namespace to define internal symbols it needs.  The rule allows the system to have a clean internal space that it knows legal application c

[2021-02-24 00:57] jocelyn-li commented on #32000
Official GSoC CFP was closed on Feb.20.As all the project ideas are put at wiki page https://github.com/zephyrproject-rtos/zephyr/wiki/2021-GSoC-Project-Ideas#project-ideas where GSoC committee will go and review. It still have chance. Please go ahead and submit your project idea. Thanks!

[2021-02-24 02:27] hongshui3000 commented on #32563
XIP mode is used in my application. I wrote the ld script myself and found this problem when I wanted to use the SECTION_DATA_PROLOGUE macro definition. So I gave up the SECTION_DATA_PROLOGUE macro when writing the ld script to avoid this problem. As you said, I did use the hybrid solution

[2021-02-24 02:30] hongshui3000 commented on #32563
My solution may not have much reference value for zephyr. I just rewrote my own ld script. So I am not going to submit these

[2021-02-24 02:34] hongshui3000 commented on #32563
By the way, there is no big problem with xip on Xtensa, except for linking scripts.

[2021-02-24 04:21] mbolivar-nordic commented on #32225
I've changed the issue title to match. @galak @nashif is the discussion above enough of a plan forward for DTS stability for LTS?

[2021-02-24 05:41] YanzhouYu commented on #32111
Hi Nashif, many thanks for your reply. When will zephyr could support llvm on windows platform? Do we have an ETA? Or maybe is there any workaround which I can do for using llvm compiler for zephyr on windows?

[2021-02-24 06:49] mbolivar-nordic opened #32599 "bbc_microbit build failure is blocking CI"
The `bluetooth.mesh.main.microbit` case in tests/bluetooth/mesh is failing and causing CI failures in other PRs.

I'm getting this error in CI in an unrelated PR (#31965):

[code]

Details in https://buildkite.com/zephyr/zephyr/builds/21988#868a8486-8a62-4f2a-9274-f55581716664.

This reproduces for me on master with:

[code]

I'm using Zephyr SDK 0.12.2.

[2021-02-24 06:52] hakehuang commented on #32572
also fails on nxp platforms RT1xxx and RT600

[2021-02-24 06:54] mbolivar-nordic commented on #32599
@cvinayak bisection from v2.5.0 shows bee6aa325b4e3e11616d98af463dc581136e20dd as the first commit with this error, but before that I get RAM overflows.

[2021-02-24 07:20] mbolivar-nordic commented on #32599
I got a hint from @cvinayak offline on how to fix and posted a PR. This restores the old RAM overflow behavior.

[2021-02-24 07:21] alexanderwachter commented on #32581
I can confirm that setting `CONFIG_SHELL_BACKEND_SERIAL_INIT_PRIORITY=51` solves the problem. Thanks @pabigot @jfischer-no

[2021-02-24 08:03] de-nordic commented on #32579
Do you use the mcumgr cli (https://github.com/apache/mynewt-mcumgr-cli) for the communication? I have not been able to find info on how you contact the mcumgr within Zephyr.
With mcumgr cli you may use `-l "debug"` to get comm dump

[2021-02-24 08:19] jhedberg commented on #32599
There’s a fix for the RAM overflow in #32562

[2021-02-24 08:35] chyu313 commented on #32564
Unfortunately my system crashed on the 4th day of test with messy text dumped on debug console:
![image](https://user-images.githubusercontent.com/56861030/108965595-0c753500-76b8-11eb-9676-62fcc65a605a.png)

I wrote a modified net_pkt_print() to monitor the usage of net_buf
[code]

In my test described above, net_pkt count was set to 1024 and net_buf count was set to 4096 which is a large value.

[2021-02-24 08:59] dhandzic commented on #19527
We are using LWM2M on a nRF9160 and experiencing much higher current consumption than expected. We think this is related to the application processor never entering any power saving mode.
What is the status for this issue?

[2021-02-24 09:15] rlubos commented on #19527
No progress yet.

[2021-02-24 09:25] enjiamai opened #32603 "acrn_ehl_crb: test case of arch.interrupt.prevent_interruption failed"
**Describe the bug**
Test case arch.interrupt.prevent_interruption failed due it hang up.
(It hangs up at calling k_busy_wait() while IRQ is locked.)

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure BIOS configuration is correct for ACRN, and include/arch/x86/memory.ld line 44, LOCORE_BASE modified from 0x1000 to 0x8000.
2. Run this command from the zephyrproject:
twister -p acrn_eh

[2021-02-24 10:12] jhedberg commented on #32404
Yes, that sounds like a good idea, though I'm not 100% sure if it'll suppress the Coverity warning

[2021-02-24 10:30] ppryga commented on #31453
I like the proposal also.

It seems to me that new Kconfig `CONFIG_NORDIC_BT_DFE` is not needed since there is already a number of Kconfigs defined that enable the DFE handling code if it is supported by particular SOC: [Kconfig.df](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/Kconfig.df)

[2021-02-24 10:49] joerchan commented on #32404
Closing as false positive: SMP allowed commands are within index 0, Keypress being the highest at 0x0e, i.e bit 14 out of 32.

[2021-02-24 10:49] #32404 closed

[2021-02-24 11:13] #32581 closed

[2021-02-24 11:20] joerchan commented on #32401
This is intentional.

The constant expression is determined by the configuration for RPA timeout: CONFIG_BT_RPA_TIMEOUT.
For the default value of 15 minutes the expression will always be false (timeout is 16-bit), and the compiler should be able to optimize this away.
For lower values the check might be needed.

[2021-02-24 11:20] #32401 closed

[2021-02-24 11:45] pabigot opened #32608 "Revert practice of removing devicetree labels"
In 2.5.0 we gained the ability to get device references at build time using `DEVICE_DT_GET()`, which eliminates the need to look up devices by labels, and so the `label` property in devicetree can be marked `required: false`.

In initial changes to this model such as #32172 these edits were accompanied by removal of the `label` attribute from existing devicetree files.

As pointed out in https://g

[2021-02-24 12:16] #11820 closed

[2021-02-24 12:21] #32599 closed

[2021-02-24 12:28] JPSELC opened #32610 "LwM2M : Implement Notification Storing When Disabled or Offline"
This is a key piece of functionality to ensure that payloads get sent if the device is offline temporarily.
This is enabled by Resource ID 6 of the LwM2M Server Object.

[2021-02-24 13:32] JPSELC commented on #32610
I think there are a few aspects.
1. Offline Status : If the device is disabled it is clear, but Offline is not so clear. The application may know it is Offline e.g. if the device is not registered on a network, but there could also be a situation where the device is registered but the server is down. This would be picked up by an LwM2M registration update failure or a notification acknowledge time

[2021-02-24 13:57] #31416 closed

[2021-02-24 14:30] #32420 closed

[2021-02-24 14:47] PerMac opened #32619 "samples: usb: audio: Samples for usb audio fail building"
**Describe the bug**
Samples from /zephyr/samples/subsys/usb/audio fail during building.

**To Reproduce**
Steps to reproduce the behavior:
1. go to your zephyr dir
2. run: `./scripts/twister -T samples/subsys/usb/audio/ -p nrf52840dk_nrf52840 -v -v --inline-logs`
3. See error

**Expected behavior**
The build works

**Impact**
showstopper

**Logs and console output**
Part of the logs
[code]

**Env

[2021-02-24 14:53] jfischer-no commented on #32619
introduced by de84575e2eace2179c8ecfb33ceb975e7581fcfc

[2021-02-24 14:55] carlescufi commented on #32610
@JPSELC is this something you plan to send a Pull Request for?

[2021-02-24 15:04] jrhees-cae commented on #32579
To exercise the MCUMGR, I have been using the "nRF Connect Device Manager" application for Android. This application works OK as-is, and is based on (a Nordic-themed modified fork of) the mcumgr-android library here: https://github.com/JuulLabs-OSS/mcumgr-android

However, the mcumgr-android library was updated with a new feature to speed up firmware uploads by sending multiple upload packets in a

[2021-02-24 15:09] Liviu112 commented on #32420
Hi, thank you, yes it works as expected on bbc_microbit_v2, thank you :)

[2021-02-24 15:09] rlubos commented on #12718
A Kconfig option to enable `MBEDTLS_ENTROPY_C` in config-tls-generic.h was added in https://github.com/zephyrproject-rtos/zephyr/pull/15648 and I think it was well justified that there's no need to use mbedTLS entropy module in the secure sockets layer, so I think we can close this issue. Please reopen if you disagree.

[2021-02-24 15:09] #12718 closed

[2021-02-24 15:17] JPSELC commented on #32610
@carlescufi I haven't looked at it in detail yet. It's something I need but I could also handle at application level. I think it will be quite a large PR involving a lot of changes to lwm2m_engine.c in particular

[2021-02-24 15:28] de-nordic commented on #31217
@nvlsianpu I think that stream_flash has similar problem on higher level.

[2021-02-24 15:37] #32406 closed

[2021-02-24 15:40] laodzu commented on #32514
@Zhaoningx Was your initial report not correct that twister shows "successful" running the test?  As explained, the test correctly test the ability of Zephyr to do a crash dump.  For this an illegal access is done on purpose and the crash is observed correctly by twister - just as you state right in your report.  This is also what I confirmed by running the test on my own frdm_k64f board.

So can

[2021-02-24 15:51] beriberikix opened #32621 "2021 GSoC Project Idea: Arduino module based on Zephyr"
Description:

Arduino's popularity is renowned as a popular framework for providing a simplified interface to program embedded devices. Recently, Arduino adopted mbed OS as the base RTOS for some of their newer devices. With that work, they separated out [Arduino Core](https://github.com/arduino/ArduinoCore-API) as an independent abstraction layer from [Arduino Core for mbed](https://github.com/ar

[2021-02-24 15:57] tejlmand commented on #32577
this happens because Zephyr has it own toolchain handling and compiler verification scheme, which means the normal CMake check is not performed and therefore the `target_compile_features` won't work.

If you want to build using a specific language standard, you can do so by specifying: `CONFIG_STD_CPP17=y` either in `prj.conf` or on command line `-DCONFIG_STD_CPP17=y`.

See more here for possible

[2021-02-24 16:01] galak commented on #32608
Its been a long term goal to remove the need for `label` in the devicetree.  I disagree with having this be a requirement.  For diagnostic, I've recommend using node name if there is no `label` property.

[2021-02-24 16:10] pabigot commented on #32608
That's not how I understand that goal.  For me it's been a long term goal to remove the use of `label` as the standard (sole) way of retrieving a device reference at runtime, but attempts to switch to another identifier like `zephyr,devid` never got support.

Use of a label for its documented purpose of "a human readable string describing a device" is still useful, in particular as an alternative

[2021-02-24 16:15] galak commented on #32608
From a devicetree point of view, I think utilizing node name and/or dt path should be the means we utilize for "name".

[2021-02-24 16:18] pabigot commented on #32608
node name is not globally unique, and dt path is both incomprehensible and often exceeds `Z_DEVICE_MAX_NAME_LEN`.

[2021-02-24 16:35] jharris-intel commented on #32590
It's kind of like the amusing weaseling of:

1. There's an implementation defined minimum number of prefix characters to uniquely identify an identifier in the C99 spec, with no explicit range given. ("The number of significant characters in an identifier is implementation-defined." (6.4.2.2.5)
2. The C99 spec states "Any identifiers that differ in a significant character are different identifiers

[2021-02-24 16:38] jhedberg commented on #32564
@mniestroj ok, in that case we're probably better off with moving to atomic_t. I think we should at the same time consider changing the behaviour of `net_buf_ref()` so that it returns NULL if you give it a 0 reference count, similar to what we did with bt_conn:
https://github.com/zephyrproject-rtos/zephyr/blob/b182ec78a16670f21c87ee7a33c2910f413f67db/subsys/bluetooth/host/conn.c#L1864-L1899

We co

[2021-02-24 17:53] saad-abdullah62 commented on #32321
I tried above solution but there is no effect. I am getting same results as before.

[2021-02-24 17:54] cwshu commented on #31811
**Update**: QEMU bugfix has been finished and sent to [mailing list](https://lists.nongnu.org/archive/html/qemu-riscv/2021-02/msg00142.html).
I will go back to work on Zephyr to support remaining 2 testcases.

[2021-02-24 17:58] mniestroj commented on #32564
`k_ref` abstraction seems a good idea. Recently I needed to add refcounting to `drivers/wifi/esp/` to manage sockets lifetime, which could benefit from `k_ref` as well.

I am not sure this brings much benefit to `net_buf_ref()`. If you had a `net_buf` and somebody already decreased refcount to 0, then this `net_buf` landed in `net_buf_pool`. Assuming that it is still in the pool, adding check on 0

[2021-02-24 18:56] mbolivar-nordic commented on #32608
There's a difference between removing the *need* for labels and removing the labels themselves. The labels are useful and I would oppose attempts to remove them from existing nodes that users interact with. I agree with @pabigot's analysis rejecting node names and paths as a suitable alternative.

[2021-02-24 18:59] mbolivar-nordic commented on #32420
Great :). Thanks for confirming.

[2021-02-24 19:03] jenmwms commented on #32589
@chen-png How many times did you need to run the test to expose the issue? Reportedly 20% occurrence, but I could not reproduce in at least 10 trials. Do I need a larger sample?

[2021-02-24 19:05] jenmwms commented on #32589
^^ tested with same configurations (OS, Toolchain, Commit SHA). Also tested at least 10 times on later in the tree for https://github.com/zephyrproject-rtos/zephyr/pull/32557 (unrelated?)

[2021-02-24 21:00] #32158 closed

[2021-02-24 21:39] #32467 closed

[2021-02-24 21:52] #32497 closed

[2021-02-24 22:51] galak commented on #32608
What is meant by `users interact` with?  The only bindings so far to remove the required `label` are pinmux bindings.  Is the feeling that those should be restored?  Why does `label` need to be required?  If for a given device the node name is descriptive enough?

[2021-02-24 23:12] valeros opened #32644 "Cannot build any project with system-wide DTC"
**Describe the bug**
It's not possible to compile even a simple project for several Atmel-based boards if there is a system-wide DTC.

Might be caused by https://github.com/zephyrproject-rtos/zephyr/commit/c109e7691d32c027f5a1dd8e257f0f34b0376523.

**Steps to reproduce the behavior:**
[code]

**Impact**
This blocks release of the latest Zephyr on several dev-platforms within the PlatformIO ecosyst

[2021-02-24 23:21] mbolivar-nordic commented on #32619
This is breaking CI for unrelated PRs; I'm sending a revert

[2021-02-24 23:26] mbolivar-nordic commented on #32608
I mean things like peripheral drivers, sensor drivers, etc. Basically the stuff we've got samples/ for and we print the names of.

No, I'm not saying that the ones that are removed should be restored. I did say (on Slack) that I'd be -1 to remove any labels from nRF DTSIs, though.

It is descriptive but not unique, which breaks device_get_binding() and device_from_name().

[2021-02-24 23:31] raveslave commented on #30042
just checking in, curious about timings for when this might be done

[2021-02-25 01:43] YanzhouYu commented on #32111
Hi Nashif, many thanks for your reply. When will zephyr could support llvm on windows platform? Do we have an ETA? Or maybe is there any workaround which I can do for using llvm compiler for zephyr on windows?

[2021-02-25 02:09] chen-png commented on #32589
@jenmwms I ran this test at the eighth times, it reproduced this issue, this is really a low probability issue.

DEBUG   - DEVICE: *** Booting Zephyr OS build v2.5.0-rc3-122-gfe7c2efca800  ***
DEBUG   - DEVICE: Running test suite context
DEBUG   - DEVICE: ===================================================================
DEBUG   - DEVICE: START - test_kernel_interrupts
DEBUG   - DEVICE: PASS - te

[2021-02-25 02:29] galak commented on #32644
The simplest solution to this is to use dtc version 1.5.0.

[2021-02-25 02:52] MrVan opened #32649 "Support parsing device tree runtime"
The current Zephyr driver use compiling time device tree info. To make it flexible, I am thinking the support for runtime parsing device tree for aarch64 which is more powerful. And this will make life easier when porting drivers to Zephyr.

@carlocaione @sandeepbrcm @jharris-intel

[2021-02-25 06:43] Thurnheer commented on #32577
The problem is that the framework is targeting windows, linux and zephyr, so at least for windows and linux we need the target_compile_features. It would be convenient to just set it in the CmakeLists file so every project using the framework has automatically the correct settings, or is it possible to somehow set it for zepyr in the cmake file?

[2021-02-25 07:28] Zhaoningx commented on #32514
Hi @laodzu , yep, I totally agree with your comment, but there are still some issues about this bug, so I re-open this, see log below:
![image](https://user-images.githubusercontent.com/62736294/109109508-69342680-7770-11eb-8108-b0263f35040b.png)

It shows that the testcase is successful to test, but marked as failure by twister.

[2021-02-25 07:52] tejlmand commented on #32577
I see, and thanks for this additional info.
Although Zephyr itself has it's own toolchain handling, for sure this should not prevent users from using common CMake features in shared projects.
I will look into how this may be handled.

Note: there is a wish in community to also be able to use the common CMake toolchain functionality, but that is a bigger task to introduce this, as several compile o

[2021-02-25 08:48] s-kelvin opened #32655 "reel_board: tests/kernel/timer/timer_api/ failure"
**Describe the bug**
Assertion failure at test_sleep_abs in tests/kernel/kernel/timer/timer_api/

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b reel_board tests/kernel/timer/timer_api/
2. west flash
3. See log

**Expected behavior**
Testsuite should pass

**Impact**
Testsuite failure

**Logs and console output**
[code]

**Environment (please complete the following info

[2021-02-25 08:50] jocelyn-li commented on #32621
@beriberikix thanks for updating wiki page!

[2021-02-25 08:54] s-kelvin opened #32656 "reel_board: tests/lib/devicetree/devices/ build failure"
**Describe the bug**
tests/lib/devicetree/devices/ can't be built on reel board.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b reel_board tests/lib/devicetree/devices/
2. See error

**Expected behavior**
Testsuite should build successfully and pass.

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux Ubuntu 18

[2021-02-25 08:55] laodzu commented on #32514
@Zhaoningx Ah, slowly I understand what you are talking about.  So there is a discrepancy between what twister reports in its console output and between what it writes into the XML report files.
To illustrate, I rerun both test cases and this is the console output:

And this is the XML report it produced:

    dzu@krikkit:/opt/src/git/zephyrproject/zephyr (master)$ xq . twister-out/twister_report.

[2021-02-25 08:56] s-kelvin commented on #32656
This can't be built on Microchip MEC 15xxEVB ASSY6853 either.

[2021-02-25 08:58] s-kelvin commented on #32655
This fails on Microchip MEC 15xxEVB ASSY6853 as well, with the same assertion failure.

[2021-02-25 09:00] laodzu commented on #32514
Running the two tests individually works as expected - both tests pass and the XML files are correct.  The bug only appears when running both tests in a single twister invocation.
Very strange.

[2021-02-25 10:15] LonesomeUnixCowboy opened #32657 "canopen sample wont respond on pdo mapping with CO_ODs from objdict.eds"
**Describe the bug**
I try to run the canopen sample with CO_OD.h and CO_OD.c that i have generated from objdict.eds. But when i run the pdo mapping python script i dont get any pdo from my devkit when i push its button.

In contrast when i run the sample with the provided CO_OD.h and CO_OD.c it works fine and the python script gets the pdo.

Im using Object Dictionary Editor v0.8-0-gb60f4eb to ge

[2021-02-25 10:59] carlocaione commented on #32649
having that it would be great and I'm totally for it. But being a huge change for Zephyr I think that needs to be discussed. So I'm tagging a few people that can have something to say about this. @pabigot @nashif @ioannisg @mbolivar-nordic @galak

[2021-02-25 11:22] galak commented on #32649
I don't think this makes sense in general as the reason we generate code/defines from devicetree is size / footprint for the majority of systems that utilize Zephyr.

So having a DTB and the associated code to parse it at runtime is overhead that isn't acceptable for those systems.

As we need to maintain support for a non-runtime devicetree usage, not sure what supporting runtime devicetree would

[2021-02-25 11:25] kurddt opened #32660 "devicetree: Allow child-binding bus controller without a need of compatible"
Currently it's not possible to have a child-bindings acting as a bus controller unless there is a compatible property associated to it

Currently to describe an i2c mux one would need to create a binding like the following:
[code]

The child binding is only used as a placeholder and will probably not be used by the device driver but without it the child-binding is not taken as a bus controller

Th

[2021-02-25 11:25] kurddt commented on #32660
See #32071

[2021-02-25 12:21] cvinayak opened #32665 "Bluetooth: controller: inclusion of vendor data type and function overrides provided by vendor LLL"
**Is your enhancement proposal related to a problem? Please describe.**
Relates to including vendor specific data structure and function implementation overrides in the controller code.
Refer to the discussion here: https://github.com/zephyrproject-rtos/zephyr/pull/32613#discussion_r582450306

**Describe the solution you'd like**
A discussion on alternative schemes to include type overrides, funct

[2021-02-25 13:10] thedjnK commented on #32608
I think removing labels is one very backwards step. Picking a board I have here up and looking at the DTS https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/bt510/bt510.dts gives me a very clear indication of the usefulness of labels, I can see led_1a is "Green LED" and led_1b is "Red LED" - how would I know which is which just looking at device IDs if there was no label and how w

[2021-02-25 13:17] pabigot commented on #32608
@thedjnK actually LEDs are about the only thing that were using labels as intended. Individual LEDs are not (usually) individual devices, so they aren't affected.

The question here is more about things like pinmux drivers: should they have labels so they can get names like `PINMUX1`?  If no pinmux drivers or users that need to identify the device by name, they probably don't, but that starts a sl

[2021-02-25 13:29] pabigot commented on #32649
This could be useful for more complex applications.  Once we start supporting devices that are left off on startup, and only turned on by the application, a natural extension is to support that with runtime configuration of available devices ("DT overlays" the way Linux supports them through an API).

Using DTB for describing those devices makes more sense than coming up with a home-grown solution

[2021-02-25 13:34] carlocaione commented on #32649
Agree, but nothing prevents us to have both the solutions in place right? For example having a small DT in-memory parsing library to link only when needed.

[2021-02-25 14:13] carlescufi commented on #10727
Make sure to document `addr2line` as part of this issue.

[2021-02-25 14:33] galak commented on #32649
Agreed, would like to see a proposal as to what that might look like.  What the benefits would be, etc.

[2021-02-25 14:56] kaiser-ren opened #32669 "[Bluetooth] sample code for Periodic Advertising Sync Transfer"
**Is your feature request related to a problem? Please describe.**
No, this is NOT related to a problem.

**Describe the solution you'd like**
Periodic Adv Sync Transfer(PAST) is an important feature especially LE Audio, current Zephyr Bluetooth stack supports PAST(it may need the support from Bluetooth controller), there could be a sample code to illustrate this feature.
There are several modes o

[2021-02-25 15:01] #32619 closed

[2021-02-25 15:31] carlescufi commented on #32649
define "small" :) But yes, I do agree with the ability to do that as long as it's always opt-in. It's a bit like userspace support, which is a feature that makes little sense in the smallest devices but can be very useful on the more powerful ones.

[2021-02-25 15:47] Thalley commented on #32669
@kaiser-ren Thanks for raising this. The immediate challenge is that the Zephyr Controller does not support PAST, so I'm unsure how feasible it is to create such a sample at this point, as it will not run with a pure Zephyr build. We can add a HCI host only sample, but I'm not sure that's very typical in Zyphyr. @carlescufi Any comment to that?

@cvinayak Do we have any timeline for the PAST featu

[2021-02-25 16:07] jharris-intel commented on #32649
There's a few components here:

1. Runtime devicetree parsing would add code size. (...and size to store the device tree.)
2. Runtime devicetree parsing would add runtime complexity (read: more things to go wrong during boot / when debugging...)
3. Runtime devicetree parsing would increase time-to-boot (due to the time to parse the device tree, among other things.)
3. Runtime devicetree parsing wo

[2021-02-25 17:32] dcpleung commented on #32514
@nashif Have you seen the same issue with twister?

[2021-02-25 17:51] puranjaymohan commented on #32445
Hi! This looks very interesting to me. I would like to submit a proposal for this idea, if it gets selected.

[2021-02-25 17:53] carlescufi commented on #32669
I see no reason not to work on the sample before the controller has support for it. This was already the case for Extended Advertising for example. Additionally, during the development of the controller support for it the sample will be useful.

[2021-02-25 18:31] ioannisg opened #32677 "z_user_string_nlen() might lead to non-recoverable errors, despite suggesting the opposite"
**Describe the bug**

Kernel recoverable errors are not always recoverable

**Context**

The Zephyr Kernel has support for recovering from otherwise fatal errors. One example is z_user_string_nlen()

[code]

The current implementation for Cortex-M allows the kernel to de-reference whatever pointer is passed by user code in *src.
The function "promises" that any exception will be safely handled by

[2021-02-25 18:32] ioannisg commented on #32677
FYI @pabigot @andyross @ceolin

[2021-02-25 18:42] mbolivar-nordic commented on #32649
I think we all agree this could never be made mandatory even if it gets implemented.

I don't have any uses for runtime DT parsing personally and I would be quite concerned about potential extra complexity if we introduce it as an option. However, I'd be open to seeing how it works if someone has an RFC.

If they are Linux drivers, you can't copy the code anyway for license reasons. I know some BS

[2021-02-25 19:00] andyross opened #32679 "twister with --device-testing sometimes overlaps tests"
While working on https://github.com/zephyrproject-rtos/zephyr/pull/32678 I discovered that twister isn't perfectly serialized when doing device testing.   Sometimes I'll see a second test fire up unbidden, which then clobbers the running one and (for the specific case of that script) causes a hang where the scripts (which need to wait for each other) never complete.  Twister then times out the nex

[2021-02-25 19:03] Thalley commented on #32669
Alright, I'll see if I can add a sample soon then :)

[2021-02-25 20:52] #32656 closed

[2021-02-25 20:53] andyross commented on #32572
Potential fix up at #32683 .  There was indeed a bug in the test exposed by the recent absolute timeout fix on high tick rate systems (i.e. hardware, not CI).  I caught it happening on the adsp I was working on, so I'm fairly confident this is the issue.  If those with affected systems could test and report results, I'd be appreciative.

Though I will note that the fact that all those systems are

[2021-02-25 21:49] jharris-intel commented on #32133
By the way, I have been unable to actually hit this issue in practice on a Cortex-A53. Which means one of a couple of things:

1. The memory model allows this behavior, but the Cortex-A53 is stronger than the ARMv8 memory model. Entirely plausible - the A53 is a fairly little core all things considered (in-order dispatch, for one).
2. The memory model allows this behavior, as does the Cortex-A53,

[2021-02-25 22:00] #3723 closed

[2021-02-26 00:05] jharris-intel opened #32686 "AArch64 SMP spinlock enhancements"
**Is your enhancement proposal related to a problem? Please describe.**
The current spinlock implementation on AArch64 SMP leaves a lot of performance on the floor.

**Describe the solution you'd like**
As spinlock performance can quickly become a bottleneck in SMP, I would like to open the discussion to how to improve spinlock performance on AArch64 SMP.

I have collected a fair bit of data on th

[2021-02-26 00:08] jharris-intel commented on #32686
Also see https://github.com/zephyrproject-rtos/zephyr/pull/32557#discussion_r583292495 for some context.

[2021-02-26 02:01] chen-png commented on #32468
tested with the latest code "4aac9089735b", this test was passed, so closed this.

*** Booting Zephyr OS build zephyr-v2.5.0-522-g4aac9089735b  ***
DEBUG   - DEVICE: Running test suite smp
DEBUG   - DEVICE: ===================================================================
DEBUG   - DEVICE: START - test_smp_coop_threads
DEBUG   - DEVICE: PASS - test_smp_coop_threads
DEBUG   - DEVICE: ============

[2021-02-26 02:01] #32468 closed

[2021-02-26 02:10] chen-png opened #32688 "up_squared: tests/kernel/timer/timer_api failed."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/timer/timer_api
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
Booting Zephyr OS build zephyr-v2.5.0-487-g0ba94379381f
Running test suite timer_api

START - test_time_conversions
PASS - test_time_conversions

START - test_timer_duration_period
PASS - test_timer_duration_perio

[2021-02-26 03:16] #32572 closed

[2021-02-26 04:57] katsuster commented on #31985
This is quick report.

- I can reproduce on QEMU on my environment.
- But on my board (SiFive HiFive1 rev.B), I cannot reproduce.
(Both configs take about 30s "test_aes_key_chain"..."test_ccm_vector_8")

So, I guess it's QEMU depended problem... Anyway I'll check more details.

[2021-02-26 05:48] yingmingx opened #32691 "Function z_find_first_thread_to_unpend() missing coverage in sched.c"
**Describe the bug**
Function z_find_first_thread_to_unpend() missing coverage in sched.c.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p qemu_x86 --coverage -T tests/kernel

**Expected behavior**
It's probably dead code that should be removed.

Environment (please complete the following information):

OS: ubuntu1~18.04
Toolchain zephyr-sdk-0.12.1
Commit id 5de3f850a752ec638b695c

[2021-02-26 06:54] yashi commented on #3634
A wild idea is to use non-zero null pointers. http://c-faq.com/null/machexamp.html
GCC doesn't seem to support it. LLVM, OTOH, seems to be moving to the direction, https://reviews.llvm.org/D26196

[2021-02-26 07:49] katsuster commented on #31985
I remember that I faced similar problem when I created initial SMP support for RISC-V arch.
So I try to apply this commit and it seems works fine for this issue. Please check it.

Tickless kernel sometimes tries to set MAX timeout into machine timer. Many interrupts from machine timer occurred and Zephyr was going to freeze (or slow down) because current code sometimes calculate wrong next timeout

[2021-02-26 07:56] katsuster commented on #31985
FYI: this is a log after applying my patch.

[code]

[2021-02-26 09:14] KangJianX opened #32695 "intel_adsp_cavs15: cannot get output of some testcases"
**Describe the bug**
When run testcases of kernel on intel_adsp_cavs15, tests/kernel/fifo/, tests/kernel/lifo, tests/kernel/mem_heap/, tests/kernel/mbox/, tests/kernel/msgq/, tests/kernel/mem_protect/ has **no output**

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/ --west-flash="/home/ztest/work/zephyrpro

[2021-02-26 09:15] KangJianX commented on #32695
This issue caused by commit ID: 6b84ab38.

[2021-02-26 09:47] KangJianX opened #32696 "intel_adsp_cavs15: run testcases failed of tests/kernel/common"
**Describe the bug**
run tests/kernel/common failed

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/common/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/zephyrproj

[2021-02-26 09:47] KangJianX commented on #32696
This issue caused by commit ID: 6b84ab3.

[2021-02-26 13:33] Zhaoningx opened #32697 "sam_e70b_xplained: running tests/kernel/timer/timer_api failed"
Describe the bug
Assertion failure at test_timeout_abs in tests/kernel/kernel/timer/timer_api/

To Reproduce
Steps to reproduce the behavior:

twister -p sam_e70b_xplained --device-testing --device-serial /dev/ttyACM1 -T tests/kernel/timer/timer_api/  -j 1 -vv

See log
Expected behavior
Testsuite should pass

Impact
Testsuite failure

Logs and console output

[code]
Environment (please complete th

[2021-02-26 13:38] Zhaoningx commented on #32697
Additional: this bug is also happened at **iotdk** and **frdm_k64f** platform, the error log is same as the description above.

[2021-02-26 13:45] 5frank opened #32699 "Setting custom BOARD_ROOT raises FileNotFoundError"
https://github.com/zephyrproject-rtos/zephyr/blob/63972d6df7121f5133ded61d3cde56d30e2b708b/scripts/list_boards.py#L78

above fails with error `FileNotFoundError: [Errno 2] No such file or directory:` when trying to set custom `BOARD_ROOT` to a directory that do not have all arches.
This would fix it, but not sure if setting `BOARD_ROOT` is deprecated or bad practice?
[code]

I am also curious why

[2021-02-26 14:13] nashif commented on #32697
duplicate of #32572

[2021-02-26 14:13] #32697 closed

[2021-02-26 14:14] nashif commented on #32688
duplicate of #32697

[2021-02-26 14:14] #32688 closed

[2021-02-26 14:14] nashif commented on #32655
duplicate of #32697

[2021-02-26 14:14] #32655 closed

[2021-02-26 14:23] kaiser-ren commented on #32669
@Thalley, I'm curious whether nRF52840 support PAST or not.

[2021-02-26 14:42] MaureenHelm commented on #32572
@hakehuang can you verify the fix on RT1xxx and RT600?

[2021-02-26 15:11] Thalley commented on #32669
@kaiser-ren Once implemented in the controller, I don't think there's any reason why it shouldn't :)

[2021-02-26 15:22] Liviu112 opened #32702 "RAM overflow with bbc:microbit for samples/bluetooth/peripheral..."
**Describe the bug**
Trying to build the peripheral samples the following errors occur:
1. west build -p auto -b bbc_microbit samples/bluetooth/peripheral_hids
``` `SRAM' overflowed by 5627 bytes ```
2. west build -p auto -b bbc_microbit samples/bluetooth/peripheral_hr
``` `SRAM' overflowed by 2971 bytes ```
3. west build -p auto -b bbc_microbit samples/bluetooth/peripheral_ht
``` `SRAM' overflowe

[2021-02-26 15:43] 5frank commented on #32699
This was caused by a incorrectly configured build environment.

[2021-02-26 15:43] #32699 closed

[2021-02-26 16:16] henrikbrixandersen commented on #32657
@LonesomeUnixCowboy I have take the liberty to change this from bug to question since, as you also noted, the sample works with the code shipped in Zephyr.

Normall you would not use the EDS file for generating the OD as the EDS doesn't contain the full meta data for the OD. Try using the `objdict.xml` file instead. Beware that you will need a revision of https://github.com/robincornelius/libedssh

[2021-02-26 16:19] jhedberg commented on #32702
This was already fixed by #32562

[2021-02-26 16:21] jhedberg commented on #32702
Oh, sorry, you're referring to the peripheral samples whereas #32562 is just for mesh. This isn't strictly a bug per-se, in my opinion. It's unavoidable that many things will not fit into 16k of RAM. That said, we should probably make sure that at least one of the peripheral samples fits. @joerchan any opinion on this?

[2021-02-26 16:35] andyross opened #32705 "KERNEL_COHERENCE on xtensa doesn't quite work yet"
The KERNEL_COHERENCE framework in use on the intel_adsp_cavs15 device is designed to allow the thread and interrupt stack to be placed in (much faster) cached/incoherent memory.  And the context switch code is then responsible for synchronizing the stacks properly when needed.

This... doesn't quite work yet.  Right now, at the tip of my branch in the not-yet-merged #32356 a full twister run works

[2021-02-26 16:37] andyross commented on #32513
This particular test is actually working for me, though queue tests seem to show the coherence issue in #32705 more commonly for some reason (queue and lifo_usage are broken for me in my tree right now).  I'm going to close this as a duplicate and track the work there.

[2021-02-26 16:37] #32513 closed

[2021-02-26 16:37] andyross commented on #32512
Duplicate of #32705

[2021-02-26 16:37] #32512 closed

[2021-02-26 16:39] andyross commented on #32344
Heh, I realize I never put a Fixed # tag in any of the commits in the abort rewrite.  Close.

[2021-02-26 16:39] #32344 closed

[2021-02-26 16:42] andyross commented on #32563
So... this isn't really a bug.  I'm going to change it to an enhancement: "Add Xtensa xt-ld linker support to CONFIG_XIP" and assign it to @hongshui3000 in the hope that something gets contributed back. :)

But broadly, I agree.  Our whole linkage framework is sort of a mess and could stand with rework.  This is one glitch of many.

[2021-02-26 16:45] andyross commented on #32705
Call out @lyakh @lgirdwood @nashif who will all want to follow this and probably have input.

[2021-02-26 17:24] andyross commented on #31985
Sorry, I didn't notice this in time.  But it sounds like you have a handle on the root cause (indeed, this test does no timer work whatsoever, and the resulting INT_MAX timeout exposed bugs in the driver).  Please submit as a proper pull request and add me as a reviewer?

We should be able to find the broken math without cutting the tick clamp in half -- my guess is it's something simpler.

[2021-02-26 19:10] jharris-intel opened #32708 "AARch64 SMP k_current_get performance improvements"
**Is your enhancement proposal related to a problem? Please describe.**
Even after changes described in #32686, a best-case uncontended `k_yield` still takes ~826 cpu cycles. 49.8% of this time (!) is spent inside `k_current_get` or child calls thereof.

`k_current_get` is conceptually just a pointer lookup (return the address of the current thread). The current implementation is essentially:

1.

[2021-02-26 19:20] jharris-intel commented on #32708
As an aside, take the cycle counts with a bit of a grain of salt. The total cycle count is accurate, but stalls can be delayed sometimes.

So e.g. function foo calls bar, function bar triggers a division and returns, foo tries to use the result of said division, the cycle count will sometimes show foo taking most of the cycles.

[2021-02-26 19:44] jharris-intel commented on #32708
As an aside, as per usual I found an issue immediately after creating this... `-fno-inline` snuck into my local branch, which explains some of the inlining failures (although note that `ALWAYS_INLINE` overrides this).

[2021-02-26 19:47] andyross commented on #32708
That sounds perfect to me, though again I try to keep my nose out of ARM work.

It's worth noting that _current is just a field on struct _cpu, so as long as you have the first it's only an extra load from L1 away to get _current (that field is hit from everywhere, so you can assume it's cached if anything is).  Dedicating the extra register might actually hurt instead of help, depending on how th

[2021-02-26 20:09] jharris-intel commented on #32708
@andyross -

Good point, but somewhat misleading.

The issue is, `_current` is a field in `_current_cpu` (logically speaking). The expensive part isn't reading `_current`. It's making sure that there isn't a race condition where you (as in thread `T`) read the current cpu, then you (as in thread `T`) get swapped to a different cpu, then you (as in thread `T`) read the old cpu's `_current`.

Right

[2021-02-26 20:13] jharris-intel commented on #32686
@carlocaione - you may be interested in this (you seem to be interested in AArch64 improvements)

[2021-02-26 20:13] jharris-intel commented on #32708
@carlocaione - you may be interested in this (you seem to be interested in AArch64 improvements)

[2021-02-26 20:23] jharris-intel commented on #32708
@andyross -

Fair enough. I had tagged you as "anything to do with context switching", and was mainly tagging you on these as you likely have a much better intuition for that side of things than I do. (E.g. if I'm spending a bunch of time trying to optimize something that isn't necessary in the first place.) On that note, a few questions:

1. Would it be possible/practical to avoid the multiple sp

[2021-02-26 20:48] andyross commented on #32708
So, for 1: yes, in many/most cases that are a performance path (so... probably not k_yield() specifically, but in lots of places) we can do some work to roll locks together where it makes sense.  There is likely some code size and maintainability cost, but sure.  Remember though that spinlocks are intended to be super-fast in the uncontended case.  There should be 1-3 or so instructions issued in

[2021-02-26 20:52] andyross commented on #32708
Hm... actually looking at it it doesn't work like I thought it did, in kernel_struct.h we have this when CONFIG_SMP:

    #define _current k_current_get()

when what I assumed we had was something more like:

    #define _current (arch_curr_cpu()->current)

Honestly that's just a bug.  It's going to force a function call, which is going to have to do the special register load every single time.  A

[2021-02-26 21:04] andyross commented on #32708
And thinking more carefully, it's actually wrong to make the evaluation of _current_cpu pure, I think.  Obviously threads can migrate!  We actually enforce right now that the macro is only ever expanded when interrupts are masked (for obvious correctness reasons).  But consider code like:

[code]

A compiler that tried to optimize the pure result of _current_cpu would print the same CPU ID twice,

[2021-02-26 21:04] andyross commented on #32708
So I think what we really want is a definition for current more like:

[code]

But then we need to worry about toolchain portability and spend time staring at the generated assembly to be sure this is doing the right thing.

[2021-02-26 21:06] jharris-intel commented on #32708
With inlining, after optimizations, it's 211 cycles / `k_yield`:

[code]

Or, expanding that out a little, for `z_impl_k_yield`

[code]
That's `mean_cycle_count offset instruction` (note that the trace sometimes spreads out cycle counts somewhat, so e.g. don't treat this as "the entire final set of stack operations and returns took exactly the same number of instructions")

[2021-02-26 21:15] jharris-intel commented on #32708
Uh, this isn't actually the case.

We check that `_current_cpu` is expanded only when non-preemptive, but not `_current`.

See, it _is_ fine, conceptually speaking, to read `_current` even in a racy manner across context switches - because pretty much by definition `_current` will remain pointing to the current thread after we come back from the context switch.

But right now the way we do that is

[2021-02-26 21:16] andyross commented on #32708
Right.  By definition _current will never change from the perspective of generated code.  That's what it means, really :)

[2021-02-26 21:23] jharris-intel commented on #32708
It's more about the expected time taken than strict # of instructions. A CISC will (almost) always take less instructions...

What about interrupt lock / unlock?

Sure; what's your definition of super-fast here? Do the times I measured in #32686 for the uncontended case match your expectations? (For conversion from cycles<-> time, assume ~1GHz)

And also: this is `sched_lock`, which has more than

[2021-02-26 21:29] andyross commented on #32708
I went and looked it up, by the way.  In fact gcc has us covered.  "const" means a function with a return value that depends on nothing but its arguments, "pure" means a function with a return value that depends on nothing but the arguments and global program state.  So in fact we want "const" for _current, meaning it's OK to optimize that under all circumstances, and "pure" for _current_cpu, whic

[2021-02-26 21:33] andyross commented on #32708
And regarding the preemption-safety of _current.  You're absolutely right that in principle _current should be usable in a preemptible context.  We just don't have any such code right now[1]: everywhere that touches it is in an ISR or under a lock.  And even if you could... there's not much in the thread struct to be inspected that doesn't require synchronization.

[1] Well, the assert only exists

[2021-02-26 21:55] jharris-intel commented on #32708
I think I'm missing something. You've asserted this a few times, but I do not think this is the case:

See e.g. `eswifi_lock`:

[code]
Or `k_mbox_put`:

[code]

Neither of these are required to be in locked/ISR context I believe.

*****

Sure, shall do.

I am mildly concerned here about the scope of const/pure. I could see a compiler writer (note: I don't think either gcc or clang do this currentl

[2021-02-26 23:42] jharris-intel commented on #32677
This function inherently has a TOCTTOU vulnerability... so let's assume for a moment that the resulting memory isn't updated while we're accessing it.

Assuming that's the case, one approach is to use `AT S1E0R` before each read to check if the address is accessible (if it's not, `PAR_EL1` bit 0 will be set).

[2021-02-27 00:19] andyross commented on #32677
To clarify: the bug here is that the user can pass an address to a syscall that causes the kernel to blow up with a SecureFault in a way that the userspace app wouldn't have been able to do itself?   That sounds like the whole mechanism has to be reworked on TrustZone platforms.   Or do you mean this is something the app could do itself, and the only problem is the docs?

As far as being a vulnera

[2021-02-27 01:11] #25775 closed

[2021-02-27 01:18] sappyh commented on #27971
Hi, I want to give it a try, can you assign this to me?

[2021-02-27 04:28] katsuster commented on #31985
@andyross
Sure. I created PR #32711.

[2021-02-27 07:53] carlocaione commented on #32708
Just an heads up that `tpidrro_el0` soon will be not available anymore because we are going to use that to implement `arch_is_user_context()` as part of the userspace implementation that we are going to push next week.

[2021-02-27 15:54] cfriedt commented on #26999
`z_dynamic_object_aligned_create()` aligns the dynamic object, not the data section of the dynamic object, so it does not, by itself, appear to be able to be able to allocate a suitably aligned stack area. It would be ideal to be able to re-use `k_aligned_alloc()` to allocate the stack area, then to allocate a dynamic object, and then to embed a pointer to the stack area inside of it, but I'm not

[2021-02-27 16:37] shlomow opened #32715 "async uart api not working on stm32 with dmamux"
**Describe the bug**
When running the tests of the async api of uart on nucleo-l4r5zi we get MPU fault.
The reason is ordering initialization. The uart and dma drivers are initialized `PRE_KERNEL_1` while
dmamux is initialized `POST_KERNEL`. Thus, the function `device_get_binding` fails since the
dmamux device is not ready to be used. I am not sure since when it is broken.

**possible solutions**

[2021-02-27 18:33] dcpleung commented on #32677
I think the originally assumption is that any illegal memory access would be handled by the Zephyr kernel.

Since this behavior depends on `memory_fault_recoverable()` to execute `z_arm_user_string_nlen_fixup` so `z_user_string_nlen()` can return with error, maybe this can be simulated within `arch_user_string_nlen` as @jharris-intel said? Then update the doc saying that any illegal memory access

[2021-02-27 19:23] Nukersson opened #32718 "NUCLEO-F446RE: Enable CAN Module"
NUCLEO-F446RE: Enable CAN Module for SoC and the board

[2021-02-27 19:24] Nukersson commented on #32718
@nashif @MaureenHelm @erwango Please confirm and merge. This one is very simple.

[2021-02-27 21:49] shlomow opened #32719 "Support continuous reception of adc samples"
Currently, the adc api supports only receiving samples into a buffer and calling a callback after each sample.
This is not suitable for application that needs to:
1. Take care on buffer of samples instead of individual sample.
2. Never stop the adc sampling.

In addition, the current api offers only to trigger the samples using an interval in microseconds. This is not suitable
for applications tha

[2021-02-28 01:14] #30520 closed

[2021-02-28 01:51] cvinayak commented on #27971
Hi, please go ahead and send a pull request.

[2021-02-28 02:54] kaiser-ren opened #32720 "./samples/microbit/central_eatt builds failed at v2.5.0 release"
**Describe the bug**
I'm trying to use ./samples/microbit/central_eatt sample code for eatt, but when I tried to build this project, there is a fatal error.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b bbc_microbit ./

**Expected behavior**
Build successfully.

**Impact**
I can't use this sample.

**Logs and console output**
-- west build: making build dir /Users/ren

[2021-02-28 02:57] kaiser-ren commented on #32720
Sorry, reported by mistake, closed.

[2021-02-28 02:57] #32720 closed

[2021-02-28 08:36] kaiser-ren opened #32721 "samples/bluetooth/periodic_adv/, print random address after every reset"
**Is your enhancement proposal related to a problem? Please describe.**
periodic_adv is very useful sample to illustrate how periodic advertising works, there is a problem that if you have a packet sniffer and there are a lot of Bluetooth LE devices nearby, it's hard to track this periodic_adv device by eye balls because you don't know the random address of this periodic_adv device.

**Describe th

[2021-02-28 10:27] luisgerhorst opened #32723 "kernel/sched: Only send IPI to abort a thread if the hardware supports it"
https://github.com/zephyrproject-rtos/zephyr/blob/ea9866dc8692dbdd26c22a190c30ec6ec15ab73f/kernel/sched.c#L1502

If I don't misunderstand this and the IPI is acutally required, I believe this call should be wrapped in an `#ifdef CONFIG_SCHED_IPI_SUPPORTED`.

[2021-02-28 13:24] pabigot opened #32724 "qemu timer change introducing new CI failures"
It appears #32557 introduced some timing problems in qemu x86: various tests are failing when run under heavy load.

NB: I've seen comments in other PRs saying that failures in CI that are related to deadline checks aren't due to the PR changes, but this one's mine so these are the details I can provide:

The work2 branch in #29618 is now failing check on current master, with errors like
[code]
in

[2021-02-28 16:46] Totalus opened #32726 "Split UART_RX_RDY into distinct callback events"
In the current UART library implementation, the callback function is called with the `UART_RX_RDY` event type in 4 different scenarios:

- When RX timeout occured
- When provided buffer is full
- After stopping due to external event
- After uart_rx_disable()

**What is the issue with that ?**

The action to be taken on those events is not necessarely the same and being combined into one single eve

[2021-02-28 18:51] alexanderwachter commented on #32718
PR: #32717

[2021-02-28 22:23] StefJar commented on #32261
I removed all own driver related ISRs and replaced them with the current Zephyr APIs.

I am getting now a "HARD FAULT". This happens when the main thread switches to an other thread. Altering the stack size is not solving that problem.

[code]

[2021-02-28 22:32] StefJar commented on #32444
any progress on that so far? Maybe my problem is related to that (https://github.com/zephyrproject-rtos/zephyr/issues/32261)

[2021-03-01 03:18] manoj153 opened #32733 "RS-485 support"
is there a special binding exclusive for RS-485?

I see Linux has support for it.
https://www.kernel.org/doc/html/latest/driver-api/serial/serial-rs485.html

How is this interface being or suppose to handle in zephyr from device tree, read-write API and binding perspective?

[2021-03-01 03:34] hakehuang commented on #32572
this fix works. @MaureenHelm
`
*** Booting Zephyr OS build zephyr-v2.5.0-579-g3b8ea186fd1a  ***
Running test suite timer_api
===================================================================
START - test_time_conversions
 PASS - test_time_conversions
===================================================================
START - test_timer_duration_period
 PASS - test_timer_duration_period
=========

[2021-03-01 06:01] s-kelvin commented on #30192
This is no longer a failure since 0ba94379381f.

[2021-03-01 06:01] #30192 closed

[2021-03-01 07:26] mengxianglinx opened #32735 "Subsys: Logging: Functions purely to avoid compiling error affects test coverage"
**Describe the bug**
For function "void z_impl_z_log_string_from_user(uint32_t src_level_val, const char *str)", it be called neither in user space nor  non-user space.
And for  z_vrfy_z_log_hexdump_from_user,  log_from_user, log_generic_from_user, log_hexdump_from_user defined for non-user space (line 1124-1170 in log_cor.c) are never called.
They must be there for reasons, but these functions af

[2021-03-01 10:58] joerchan commented on #31742
Assuming that the "stuck" was because the error code returned (`data_work_handler: bt_gatt_notify returned: -57`) wasn't handled then I think this can be closed with the documentation update.

[2021-03-01 11:07] carlocaione commented on #32205
Closing this because this are being taken care of in #32394

[2021-03-01 11:07] #32205 closed

[2021-03-01 11:16] carlocaione opened #32741 "ARM32 / ARM64 separation"
ARM32 and ARM64 (AArch64) currently share the same code space: `arch/arm`,`include/arch/arm`, ` soc/arm` and `boards/arm`.

This was done at the beginning of the time because the hope was that the two architectures would have shared more code. Reality is that ARM32 and AArch64 are two different architectures which shares almost nothing. The only thing they share is the GIC driver that is hosted ou

[2021-03-01 11:17] carlocaione commented on #32741
tagging the arm / arm64 boys @ioannisg @npitre @stephanosio @galak @nashif @jharris-intel @sandeepbrcm @Abhishek-brcm

[2021-03-01 11:22] carlocaione commented on #32492
here #32673

[2021-03-01 11:59] ioannisg commented on #32741
I am in favor of this separation. True that AARCH64 has little in common with other ARM 32-bit variants.

@carlocaione do the ARCHes share common build configuration code (e.g. cmake files, compiler options, etc)?

[2021-03-01 12:01] carlocaione commented on #32741
Nope, there is almost no overlap at all.

[2021-03-01 12:11] lgirdwood commented on #32705
@andyross Fwiw, SOF does not use the default Cadence HAL & xtos, but modified versions with numerous enhancements to work better on Intel hardware. It may be worth checking the git history for any changes. Fwiw, the history may be missing full details in commit messages (since it was squashed and came directly from internal codebase) but the changes (to default Cadence code) may be helpful.

[2021-03-01 12:14] haoyanbiao opened #32742 "Bluetooth: GAP: LE connection complete event handling priority"
**Describe the bug**
Controller send CONNECT_IND PDU, notify host by connection complete event (**evt code:0x3e, subcode:0x0a**), the timeout or error happen and notify the host by disconnection event(**evt code:0x05**). Rx thread put connection complete event in **rx.queue**, not process directly. At this time, Rx thread received the disconnection event, and process directly.

So the Rx thread pr

[2021-03-01 13:00] Thalley opened #32745 "Bluetooth PAST shell command"
**Is your enhancement proposal related to a problem? Please describe.**
Add PAST to the BT shell as the sender.

**Describe the solution you'd like**
Add a `per_adv_transfer` command that will transfer a periodic advertising sync to a (PAST) receiver.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-03-01 14:17] andyross commented on #32691
Agreed.  This looks to have been orphaned fairly recently; there was a scheduler race fix a while back (that exposed another issue, and begat the big abort rewrite and bug hunt of the past two weeks) that addressed synchronization issues by combining operations in a few spots.  This looks like a "half" of the operation that got combined.

[2021-03-01 14:51] ioannisg commented on #32677
@andyross, @dcpleung  thanks for looking at it.

Well, yes.

I am not sure I agree. A user thread can, anyways, trigger a SecureFault by simply accessing memory that it is not supposed to (memory that is part of the secure execution environment). The kernel could do nothing about it. Note that other CPU fatal errors could lead to an oops() and cause user thread abort.

Yes, the app can do it itsel

[2021-03-01 14:56] andyross commented on #32705
Well, a little progress to report.  Here's the temporary rig I'm working on in a branch on top of the in-progress Xtensa pull request:

https://github.com/andyross/zephyr/tree/adsp-spill-rig

It's just a modified hello_world:

https://github.com/andyross/zephyr/blob/adsp-spill-rig/samples/hello_world/src/main.c

What this does (very carefully!) is:

1. Use some custom assembly to fill up the regis

[2021-03-01 15:04] pabigot commented on #32677
The documentation certainly has problems, but I don't believe the above is *necessarily* the underlying problem.

[code]

The return type could be `ssize_t` so errors can be identified rather than ignored.

But If it's the exception from this that is supposed to be recoverable and so is why we aren't explicitly checking for null pointers before deferencing them in `z_vrfy_` wrappers (see history i

[2021-03-01 15:13] andyross commented on #32677
This is starting to sound bikesheddy. :)  If a userspace app is capable of generating the same TrustZone fault on some region of memory, and the only problem is that the kernel is generating a TrustZone fault **at the direction of the userspace app** by referencing the same bad address... do we really care?  I mean, was it the "kernel" that faulted just because it's validating a system call, or wa

[2021-03-01 15:19] dhandzic commented on #19527
Could you direct me to where this problematic code is located? Maybe I can have look at it and contribute some improvement.

[2021-03-01 15:30] rlubos commented on #19527
The issue refers to the main loop of the lwm2m_engine:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/lwm2m/lwm2m_engine.c#L4614

I think we should try to aim to have an API similar to the MQTT library in Zephyr, where we have the `mqtt_input()` function to process any incoming data, `mqtt_live()` to send keep-alive messages when needed and `mqtt_keepalive_time_left()` to

[2021-03-01 15:37] FRASTM commented on #29798
The same test also fails on nucleo stm32f767zi.
The irq of the Transfer complete for the Rx channel never comes.

[2021-03-01 15:41] npitre commented on #32741
+1

[2021-03-01 15:42] jharris-intel commented on #32677
BTW, I've tried this before; parsing the translation tables yourself ends up being much slower than just asking the CPU to do it for you. The core has a fair bit of hardware acceleration of translation table walking, and likely already has the relevant entries in the TLB.

It also prevents parsing vulnerabilities. Exploiting differences in two different parses of the same data is a classic attack.

[2021-03-01 15:46] jharris-intel commented on #32741
There are a few system registers that are (almost) shared between AArch32 and AArch64 (E.g. the ARMv8 generic timer), and they happen to share a memory model (...mostly), but yes, they have very little in common.

My one concern here is shared board/soc setup code - but I presume that there is somewhere I could put board setup code for board X that _is_ shared between AArch32 and AArch64?

[2021-03-01 15:55] jharris-intel commented on #32708
Wait, how are you using it for `arch_is_user_context`? Is there a PR for this?

[2021-03-01 15:58] carlocaione commented on #32708
There will be soon, hopefully today or tomorrow, for sure by the end of this week.

[2021-03-01 16:00] npitre commented on #32741
On Mon, 1 Mar 2021, jharris-intel wrote:

Do you have an actual example in mind?

Beyond the basic CPU architecture that is not shared between Aarch32 and
Aarch64, extra SOC setup is typically done as part of the driver that
handles part of that SOC, and that code lives in a common location
already.

[2021-03-01 16:09] de-nordic opened #32755 "mcumgr: shell output gets truncated"
**Describe the bug**
The mcumgr output from shell command gets truncated at predefined length, determined by buffer length.
Providing `shell help` as an example but the issue impacts all shell commands that return some output.

**To Reproduce**
Steps to reproduce the behavior:
1. Build
`west build -b nrf52840dk_nrf52840    zephyr/samples/subsys/mgmt/mcumgr/smp_svr    -t menuconfig --    -DOVERLAY_

[2021-03-01 16:25] de-nordic opened #32756 "Enable mcumgr shell management to send responses to UART other than assigned to shell"
Currently it is possible to assign different UART devices to mcumgr and shell/console, for example via chosen `zephyr,uart-mcumgr ` and `zephyr,shell-uart` respectively.
This allows in most cases to operate mcumgr, for example for uploads/downloads,  and have shell/console available on other uart without interruptions from mcumgr.
This does not work when mcumgr is used with shell management: all s

[2021-03-01 16:32] jharris-intel commented on #32741
Yes, but proprietary unfortunately. However, it fits into this:

already.

so no worries.

[2021-03-01 16:34] krbvroc1 opened #32757 "Need openthread merge"
https://github.com/openthread/openthread/pull/6173

Fixes compile error on arm compilers.

[2021-03-01 16:34] jharris-intel commented on #32708
Great. I'm hoping that the use for `arch_is_user_context` can be coordinated with this. It's a major performance win.

[2021-03-01 16:37] jharris-intel commented on #32708
Unfortunately, due to #32710 the above measurements are incorrect. Or rather, they were measuring something different than I had expected.

I was trying to measure `k_yield` as a quick (as in low-overhead) way to measure context switch time.

Unfortunately, due to #32710 `k_yield` wasn't actually yielding, and it took me an embarrassingly long time to realize that that was the case.

So this was m

[2021-03-01 16:51] carlocaione commented on #32708
@jharris-intel well, no reason to wait. So the commit is a variation of this commit https://github.com/carlocaione/zephyr/commit/49727c58edb4e96ab5f67f2445e1429a8724e281 that will be part of a big PR that will be pushed soon.

Anyway the gist is that we use `tpidrro_el0` as a register to hold a value to indicate whether we are in user or kernel context. Given that we do not have access to `current

[2021-03-01 17:09] jharris-intel commented on #32708
Hmm. So you're setting it / clearing it on every kernel-mode entry/exit then?

What's the advantage over putting this as a member of the `cpus` struct?

One possibility...

[code]

(As you can't access `_current` in usermode anyway I believe, and on a context switch you know what you're switching to to restore `_current`...)

Then your "is in kernel context" check becomes `tpidrro_el0 != NULL`.

[2021-03-01 17:18] jharris-intel commented on #32708
(You could also do something fancy like take advantage of the alignment of cpu and set/clear the low bit; I don't know if it's worth it.)

[2021-03-01 18:34] MaureenHelm commented on #32572
thanks @hakehuang !

[2021-03-01 18:53] yerabolu commented on #32444
@hongshui3000 : Interrupt is disabled when it enters z_cstart and gets enabled only when it enters main thread through bg_thread_main.

Also, could you give some more information on how this is encountered and which platform its encountered on?

[2021-03-01 18:55] yerabolu commented on #32444
Looking at the bug it doesn't look to be related. But will look into it further and get back in here.

[2021-03-01 20:41] mbolivar-nordic commented on #32733
Hi there. Zephyr doesn't have an equivalent devicetree binding or support as far as I can tell.

[2021-03-01 20:46] andyross commented on #32724
Is this happening in master or CI, or just your own branch?  For reference, I got through ~250  runs of "twister -p qemu_x86_64" (I left it running in a loop overnight) of the PR just before merge on my own build box with no failures at all.  Well, until it ran out of disk space, anyway.  What's the exerciser exactly?

[2021-03-01 21:30] nashif commented on #32724
use -M

[2021-03-01 21:37] andyross commented on #32724
An option I totally remembered once I noticed the machine was out of disk space.

[2021-03-01 21:41] #32715 closed

[2021-03-01 21:50] #32269 closed

[2021-03-01 22:53] StefJar commented on #32444
@yerabolu my issue is happens at the start up of zephyr when the main function is executed and a task switch happens. Its highly probable that it is triggered through an ISR.
Since a (custom) bootloader runs, before zephyr starts, it might happen that an interrupt etc. is activated there(maybe bug).

[2021-03-01 23:02] pabigot commented on #32724
Yes, it seems to be dependent on high load, and possibly fast disk or other host variations.

The only reproducer I have is that set of commits---primarily because the new work tests have a lot of deadline checks (though note tests that don't involve work did fail in https://buildkite.com/zephyr/zephyr/builds/22361#d5471ff6-b845-4b53-b16e-5e0090836730).  Others have commented about the failure els

[2021-03-01 23:28] nashif commented on #32514
works for me on frdm_k64f.

[2021-03-01 23:57] jharris-intel commented on #32724
FYI, I'm hitting this too locally under high concurrency.

Also, see #14173.

Does `-icount` and/or `-rtc clock=vm` help?

...though `-icount` has other issues. (`-icount` essentially tells QEMU to target a specific # of processor clock cycles / second instead of an unlimited amount, but also restricts QEMU to one host thread... which in some high-cross-cpu-traffic scenarios can seriously reduce e

[2021-03-02 01:53] andyross commented on #32705
OK, that rig turned out to be mostly wasted effort.  The core (final?) bug was much simpler:

I'd forgotten when I added the code to invalidate the unused bottom area of the stack that the Xtensa ABI reserves 16 bytes of space underneath the stack pointer as a spill area for caller functions.  Almost always, the caller has not been spilled (you'd have had to have taken an interrupt or just returne

[2021-03-02 02:00] jenmwms commented on #32603
Hi @enjiamai can you please post the log for the failed case? The log in the description shows success. I am working to reproduce this now that it is assigned to me. Previous assignee cannot work on it at this time so assigned to me.

[2021-03-02 02:09] andyross commented on #32695
This isn't happening in my tree.  Should be fixed once #32356 merges.

[2021-03-02 02:09] andyross commented on #32696
This isn't happening in my tree.  Should be fixed once #32356 merges.

[2021-03-02 02:15] KangJianX commented on #32695
#32356 can fix this problem.

[2021-03-02 02:31] katsuster commented on #31854
@nashif @MaureenHelm
Ping... How about this?

[2021-03-02 02:40] hongshui3000 commented on #32444
file : cavs_timer.c
[code]
and file: uart_mcux.c
[code]
If you use them, then the interrupt may be enabled before the interrupt stack is initialized. At least in the xtensa architecture I don’t see interrupts being turned off.If log is turned on, I feel that the interrupt will also be enabled in advance.

I feel that this should involve all the drivers started by _SYS_INIT_LEVEL_PRE_KERNEL_2 and _

[2021-03-02 02:45] galak commented on #32741
I have no issue with making this split/change.

[2021-03-02 03:34] enjiamai commented on #32603
Hi @jenmwms , I am so sorry, I paste the wrong log that is correct one, now I update the error log for you reference, thank you!

[2021-03-02 06:27] jonasn-ge opened #32771 "STM32 with Ethernet crashes when receiving packets early"
The STM32 Ethernet driver can receive data before the interface is ready to handle it, leading to a crash.

The problem can typically be reproduced within a couple of tries if the network is filled with traffic, I do that by pinging the IPv4 broadcast address with a 0.001 s interval, when starting the STM32 board.

Different versions have crashed in different ways, but in stock 2.5.0 this is what

[2021-03-02 07:24] nordic-krch commented on #32726
Can you guarantee that there will be no gaps in the transfer that will trigger timeout not on packet boundary? In many cases probably yes but not always.

`UART_RX_RDY` can provide only one buffer and 2 buffers are involved if there was a switch in between. There is a corner case scenario when buffer ended on packet boundary. `UART_RX_BUFFER_FULL` would be generated but no timeout since there is n

[2021-03-02 07:29] vinceWii4 opened #32774 "Sensor BMI160: set of undersampling mode is not working"
**Problem description**
In low power mode, the accelerometer current consumption is to high. After investigation I discovered that the undersampling mode wasn't corretly set in BMI160_REG_ACC_CONF.

**To Reproduce**
Steps to reproduce the behavior:
1. Add in prj.conf:
 * CONFIG_BMI160=y
 * CONFIG_BMI160_ACCEL_PMU_LOW_POWER=y
 * CONFIG_BMI160_GYRO_PMU_SUSPEND=y
2. Modify drivers/sensor/bmi160/bmi16

[2021-03-02 07:46] LonesomeUnixCowboy commented on #32657
@henrikbrixandersen Your are absolutly right, this is a question and not a bug. I choosed the wrong category and I apologize for this.

Ok, I generated the CO_ODs from the ```objdict.xml``` and now the sample works (it responds to the pdo mapping python script).

I did no change to the ```objdict.eds``` before I generated the CO_ODs. Initially my plan was to copy the TPDO mapping  from the script

[2021-03-02 07:46] #32657 closed

[2021-03-02 08:21] erwango commented on #32771
@jonasn-ge Thanks for reporting this issue and the details provided so far.
To fasten analysis and eventually bug fixing, could you share a sample to reproduce the issue easily (or modification of an in tree sample)?

[2021-03-02 08:22] rlubos commented on #32757
The fixes you mention are already integrated into Zephyr OT fork, it was updated in https://github.com/zephyrproject-rtos/openthread/pull/37.

[2021-03-02 08:22] #32757 closed

[2021-03-02 08:41] henrikbrixandersen commented on #32657
@LonesomeUnixCowboy Glad you got it working!

[2021-03-02 08:54] jonasn-ge commented on #32771
@erwango I will work on a sample.

[2021-03-02 08:57] laodzu commented on #32514
@nashif Thanks for also testing.  Can you clarify if running both tests at once yield correct XML output even though the console output signaled success?

[2021-03-02 10:14] Thalley commented on #32721
I'm not entirely sure that's possible to do from the application, but I'll try to see what I can do.

[2021-03-02 10:18] Thalley commented on #32721
One solution would be to change the advertiser to use the identity, rather than a random generated address.

@kaiser-ren Would it be a better solution if the device kept the same address, rather than printing the newly generated one? I guess that would make sniffing easier.

[2021-03-02 11:33] MarekPieta opened #32778 "Cannot support both HID boot report keyboard and mouse on a USB HID device"
**Describe the bug**
With current Zephyr implementation, the USB HID instances share a single HID boot report type (set as a Kconfig option). If we add support for defining the HID boot report type separately for every USB HID instance, we could send boot reports as both mouse and keyboard to the host computer in boot report mode.

**Expected behavior**
USB HID device with multiple HID instances s

[2021-03-02 11:45] ioannisg commented on #32741
Then I guess we could proceed with the idea,

Adding @carlescufi @MaureenHelm @erwango, to raise awareness across cortex-m vendors.

[2021-03-02 11:46] carlescufi commented on #17005
Not yet, but I am in conversations to try and revive this in the near future.

[2021-03-02 12:32] KangJianX commented on #32696
#32356 the patch can fix this issue

[2021-03-02 12:45] r2r0 commented on #32448
It looks that it is a little wider problem - C++ exceptions do not work for Zephyr on QEMU x86(_64).
I modified sample cpp_synchronization by adding simple try/catch in main (I also changed kconfig: CONFIG_NEWLIB_LIBC=y CONFIG_LIB_CPLUSPLUS=y CONFIG_EXCEPTIONS=y).
The effect is the same as reported for ZTEST - throw statement causes "exit" printed on console (but application stays in QEMU).
And as

[2021-03-02 14:16] #32566 closed

[2021-03-02 14:21] nashif commented on #32514
confirm there is an issue with xml output, looking.

[2021-03-02 14:30] ycsin opened #32789 "USB DFU support w/o MPU support"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
Currently the `samples/subsys/usb/dfu` samples can't be compile for STM32F1 series SoC. Trying to compile will result in an error due to Kconfig warnings, as the F1 series is missing the MPU Kconfigs required by `USB_DFU_CLASS`.

[code]

**To reproduce**
Compile the sample for

[2021-03-02 14:34] Totalus commented on #32726
The only case I can see where there would be a timeout not on a packet boundary is if the remote host does not send a full packet in one chunk, which could happen for two reasons:

- The remote host UART driver is not implemented properly, you can't do anything about (not in the local host implementation).
- The flow control is active and the communication is stopped because the UART fifo is full.

[2021-03-02 14:38] galak commented on #24986
Handled by #32765

[2021-03-02 14:38] #24986 closed

[2021-03-02 15:18] jonasn-ge commented on #32771
It turns out that another ingredient is needed to get the crash: we need to disable auto-negotiation. That probably has the effect of making the timing just right (or wrong).

Attached is a minimal reproducer, including a "hack" to disable auto-negotiation. I have tried it on our custom board, unfortunately I don't have a Nucleo board on hand to test with. When all is well the program does nothing

[2021-03-02 15:55] kaiser-ren commented on #32721
I'm not sure what identity means, it looks like a Bluetooth device address, if can leverage it, I believe this is a solution to go.

"kept the same address" means to use public address instead of random, correct? If this sample is experimental, that's fine.

[2021-03-02 16:33] key1066 commented on #32238
What’s the current plan for microbit v2 display support?
Is the plan to develop a display driver with devicetree bindings or go ahead with @LingaoM update? Thanks.

[2021-03-02 16:39] #31985 closed

[2021-03-02 16:43] MaureenHelm commented on #32741
I wonder about this too, which gets into a more general question about how we support multicore SoCs with different architectures. Examples are i.MX RT600 (CM33+Xtensa), i.MX8MM (CA53+CM4), and Vegaboard (2xRISC-V + 2xCortexM). I've wondered if we should organize boards and SoCs by vendor instead of architecture.

cc: @MrVan

[2021-03-02 16:48] carlocaione commented on #32741
Why is this a problem? In this case you end up having the AArch64 core under `{soc,boards}/arm64` and the other core under `{soc,boards}/arm`. After all Zephyr is usually running only on one of the two cores.

The only real problem I see is for the DTS files that sometimes share a common DTSI. In that case I think we can allow a bit of duplication between `dts/arm64` and `dts/arm`.

[2021-03-02 16:54] krbvroc1 commented on #32757
@rlubos My apologies.

[2021-03-02 18:48] kydos opened #32798 "west flash fails for reel board"
I have a brand new reel-board from Phytec, but apparently I can't manage to flash it. The problem is simple to reproduce on a clean installation of zephyr on Ubuntu 20.10 (groovy). I can flash no issue an STM32 Discovery and an Olimex Board. But no chance with the reel-board, which is the board displayed on your documentation.
Below I describe what I did using as target reel_board, the same error

[2021-03-02 19:44] jenmwms commented on #32603
Is the issue that it appears to hang after locking interrupts? I get this output which looks like the test is getting stuck:
[code]

Do we have a bisect yet? I will start working on that next, shouldn't be too far back tho.

[2021-03-02 19:51] #32724 closed

[2021-03-02 19:59] jharris-intel opened #32800 "Race conditions with setting thread attributes after `z_ready_thread`?"
While trying to optimize `k_sem`, I realized that different portions of the codebase are inconsistent in how they handle `z_ready_thread` and `z_reschedule`.

In particular, with the following pattern:

[code]

Can a thread be run after the `z_ready_thread` call but before the `z_reschedule` call? (I'm thinking particularly of SMP here.)

If it cannot, there are a couple of optimizations that can

[2021-03-02 20:07] jharris-intel commented on #32800
@andyross - I'd be interested in your thoughts on this, as this is "gnarly scheduler stuff" :-)

[2021-03-02 20:07] enjiamai commented on #32603
Hi, yes, this is hang up after locking interrupts. Actually, it is hang up in k_busy_wait() when interrupt locked.
And I did not have a bisect yet, I can do that~

[2021-03-02 21:08] andyross commented on #32800
Yes, once read_thread() returns the thread is in the queue and available to run at any time by this CPU or another.  The reschedule() call is just a cooperative point at which you can release a lock and allow a context switch.  And indeed, those spots in the IPC layer look wrong to me too.

(The posix layer using legacy irqlocks is something that should be fixed too, I think I might have mentioned

[2021-03-02 21:16] jharris-intel commented on #32800
Alright, that's what I thought; thanks for the doublecheck. I'll do up a PR to fix those cases then...

[2021-03-02 22:40] MaureenHelm opened #32803 "Extend mcux uart drivers to support async API"
Extend the mcux uart drivers to support async API extensions (`CONFIG_UART_ASYNC_API`). Applies to NXP Kinetis, LPC, and i.MX SoC families.

- [ ] uart_mcux.c
- [ ] uart_mcux_flexcomm.c
- [ ] uart_mcux_iuart.c
- [ ] uart_mcux_lpsci.c
- [ ] uart_mcux_lpuart.c

[2021-03-02 23:02] mbolivar-nordic commented on #31280
Now done. I posted as a real PR rather than an RFC. https://github.com/zephyrproject-rtos/zephyr/pull/32805

[2021-03-02 23:32] farhangj commented on #23076
Any movement on this? It's fairly basic and necessary to know how much heap is available. Needs to be bumped up in priority IMO.

[2021-03-03 00:03] laurenmurphyx64 commented on #32448
I had a coworker confirm that adding a try/catch for throwing an exception in the cpp_synchronization example also doesn't work for the `up_squared`.

Result:
[code]

prj.conf:
[code]

main.cpp:
[code]

The above example worked fine for `qemu_cortex_m3`.

[2021-03-03 01:31] MrVan commented on #32741
Could we directly import device tree from Linux Kernel for arm64?

[2021-03-03 01:32] MrVan commented on #32741
For i.MX8MM, I think it is ok to split A53 and M4. For CPU core, there is almost nothing shared, they only share some drivers.

[2021-03-03 01:40] qipengzha opened #32809 "Fail to build ARC zephyr with MetaWare toolchain"
**Describe the bug**
I got build failure when try to build arc nsim_em board with MetaWare toolchain which installed by mw_devkit_arc_Q_2020_06_linux_x64_install.bin
Could you help check where is wrong ?  below is the detail log.
Thanks.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What

[2021-03-03 02:20] chen-png opened #32816 "ehl_crb: tests/kernel/timer/timer_api/timer_api/test_sleep_abs (kernel.timer.tickless) failed."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b ehl_crb -p auto tests/kernel/timer/timer_api -DCONF_FILE="prj_tickless.conf"
2. copy binary to USB/PXE boot media
3. boot
4. See error

**Logs and console output**

[code]
**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: zephyr-sdk-0.12.2
 - Commit ID: 767ba47423fd

[2021-03-03 03:01] HannanSolo opened #32817 "Supporting fedora in the getting started docs"
It seems when I went through the getting started docs for 2.5.99 the only OS support for linux is ubuntu. Yet the 1.1.0 documentation did support fedora.

Just wanted to ask if its possible to use fedora for my Zephyr and if so add it to documentation.

[2021-03-03 03:11] galak commented on #32817
Its completely possible to use Zephyr on fedora, I do it daily.

If you look at the docs:

https://docs.zephyrproject.org/latest/getting_started/installation_linux.html#install-linux-host-dependencies

There should be a tab for fedora.

[2021-03-03 03:45] yingmingx opened #32818 "Function z_swap_next_thread() missing coverage in sched.c"
Describe the bug
Function z_swap_next_thread() missing coverage in sched.c.

struct k_thread *z_swap_next_thread(void)
{
#ifdef CONFIG_SMP
	return next_up();
#else
	return _kernel.ready_q.cache;
#endif
}

When using qemu_x86, this line "return _kernel.ready_q.cache;" cannot be coveraged.  Function z_swap_next_thread only used in do_swap() which is called when enable CONFIG_USE_SWITCH.

To Reproduc

[2021-03-03 04:30] jenmwms commented on #28551
I'm looking into why the `data->pad_base` is getting set as 0xffffffff, when its expected to be 0x500. It has something to do with the result of the `static inline regs(dev)`, perhaps it is undefined behavior with using different types.

[2021-03-03 07:50] erwango commented on #32741
Having both targets under a same directory is useful to share Kconfig and dts settings and hence avoid specific configuration issues, specifically about shared resources.
This being said, unless I missed something, I don't see the real need of modifying boards/ organisation due to a modification under arch/.

[2021-03-03 08:06] carlocaione commented on #32741
I can see the problem with DTS, with Kconfig definitely less assuming that we are talking about cores with different architectures. But also in that case I think we can survive with a bit of duplication.

Because I'm planning to also split `boards/arm` in `boards/{arm,arm64}`, same for `soc`, otherwise it gets confusing. Also given that `arm64` will be a new architecture I think having `arm` and `

[2021-03-03 08:15] rlubos commented on #32757
No need to, really :)

[2021-03-03 08:25] erwango commented on #32741
I don't think having different architecture totally exclude the possibility of having Kconfig options that could impact both cores (specifically in resource sharing domain). Anyway, this is only a configuration coherency problematic and not a blocker at all.

Makes sense, txs.

[2021-03-03 08:45] r2r0 commented on #32448
Maybe title of this issue should be changed.

[2021-03-03 09:03] selman-nus opened #32822 "Code doesn't compile after changing the PWM pin on example "blinky_pwm" on NRF52"
**Describe the bug**
I have successfully compiled and run the example (on nrf52DK) without modification and LED 1 is blinking as expected.
However, when I try to use other LEDs instead of LED 1, it doesn't compile because `#if DT_NODE_HAS_STATUS(PWM_LED0_NODE, okay)` doesn't return true. Is this means I can only use one predefined LED for PWM?
It just doesn't make sense. Any help much appreciated.

[2021-03-03 09:35] erwango commented on #31711
@edesta-be can you have a try with https://github.com/zephyrproject-rtos/zephyr/pull/32607 ?

[2021-03-03 09:38] FRASTM commented on #31711
It seems that a similar approach based on the #27911  could help to clean and invalidate the data Cache when using the DMA for the UART async.
This test fails on Both NUCLEO_F746ZG  and NUCLEO_F767ZI   in the same manner.

[2021-03-03 09:38] #3634 closed

[2021-03-03 10:32] nashif commented on #32809
@abrodkin  @ruuddw FYI

[2021-03-03 10:34] nashif commented on #32809
@qipengzha  can you please provide the contents of `/build/CMakeFiles/CMakeOutput.log` and `build/CMakeFiles/CMakeError.log`.

[2021-03-03 10:39] nashif commented on #32818
You should try qemu_x86_64

[2021-03-03 10:47] FRASTM commented on #29798
More than  #27911  the test config requires the CONFIG_SPI_STM32_UNALIGNED_DMA=y
for example in a `tests/drivers/spi/spi_loopback/boards/nucleo_f746zg.conf`

[2021-03-03 10:55] #31742 closed

[2021-03-03 11:18] maxbachmann opened #32827 "question: Specify size of malloc arena"
I am using the Up Squared board with the following settings:
[code]
For k_malloc I can specify the memory size using:
[code]
However, I did not find a way to do the same for malloc.
[code]
works only when `MINIMAL_LIBC` is used. With no settings, I can only allocate 1mb of memory using malloc.
Is there a different config setting I have to use in my case?

[2021-03-03 11:19] nashif commented on #32469
please try https://github.com/zephyrproject-rtos/zephyr/pull/32784 and see if it fixes the issue for you.

[2021-03-03 11:25] PerMac commented on #32816
@pabigot Does this relate to #32339 ?

[2021-03-03 11:38] PerMac opened #32828 "tests: posix: Test case portability.posix.common.tls.newlib.posix_realtime fails on nrf9160dk_nrf9160"
**Describe the bug**
The test case: portability.posix.common.tls.newlib.posix_realtime fails on nrf9160dk_nrf9160

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf9160dk_nrf9160 connected to /dev/ttyACM0
2. Go to your zephyr dir
3. run `./scripts/twister -T /home/maciej/zephyrproject2/zephyr/tests/posix/common/ -p nrf9160dk_nrf9160 --device-testing --device-serial /dev/ttyACM0 --jobs

[2021-03-03 11:42] PerMac commented on #32828
I closed this issue and reopen https://github.com/zephyrproject-rtos/zephyr/issues/31721 as it is the same problem

[2021-03-03 11:42] #32828 closed

[2021-03-03 11:47] PerMac commented on #31721
@pabigot I reopened the issue as this test start failing again recently. It works with v2.5.0. The last time I was able to bisect with reverted logic to find that https://github.com/zephyrproject-rtos/zephyr/commit/544475d8a709f42926bd4059c3a1a4f78d023676 was the commit which (unnoticeably) fixed the issue previously

[2021-03-03 11:51] edesta-be commented on #31711
Hi @erwango!
Should I configure the dma as previously suggested or try again with my original setup of only enabling the a sync api via the configs?

[2021-03-03 12:10] yingmingx commented on #32818
I've tried qemu_x86_64. The branch "return next_up();" was covered.
My concern is branch "return _kernel.ready_q.cache;" is not covered.

[2021-03-03 12:35] nashif commented on #32818
also when you disable SMP?

[2021-03-03 13:02] pabigot commented on #32816
I created that as a bug in hopes that we could avoid wasting so much time on this test.  But if the preferred path is to play whack-a-mole, there needs to be separate bugs as they come up.

[2021-03-03 13:05] jfischer-no commented on #32733
AFAIK we do not have explicit support for this, even though some controllers have RS-485 mode. For MODBUS RTU support I have added [optional GPIOs](https://github.com/zephyrproject-rtos/zephyr/pull/26516/commits/877366301920bedbe2d65a916a03587d12acfc63) to control RS-485 transceiver.

[2021-03-03 13:08] ioannisg commented on #31721
so is this a regression then?

[2021-03-03 13:11] pabigot commented on #31721
Possibly, or it was just chance that it passed in https://github.com/zephyrproject-rtos/zephyr/issues/31721#issuecomment-772591585.  It does fail for me today; I'll see if I can bisect.

[2021-03-03 13:13] PerMac commented on #31721
Yes, I believe it is regression.
I tried to bisect where the issue is introduced but had no success. The test already was unstable which makes bisecting by hand a nightmare. However, I think we can narrow down the scope to verify:
The test passed in our internal CI for  zephyr-v2.5.0-268-g3fe33 (how after a 1 retry)
Then for zephyr-v2.5.0-441-g5de3f and later on it continues to fail, retries did n

[2021-03-03 13:16] PerMac commented on #31721
I don't think so @pabigot Please check my above comments. I was able to find that the last time the test was actually fixed by https://github.com/zephyrproject-rtos/zephyr/commit/544475d8a709f42926bd4059c3a1a4f78d023676
It worked (with retires) up to (including) zephyr-v2.5.0-268-g3fe33
It cannot pass with retries since zephyr-v2.5.0-441-g5de3f

[2021-03-03 13:23] erwango commented on #31711
@edesta-be First, please follow indications provided here: https://github.com/zephyrproject-rtos/zephyr/issues/31711#issuecomment-768549727
Then also, you can add #32607 on top.

[2021-03-03 13:28] pabigot commented on #31721
I hit a failure at zephyr-v2.5.0-108-g84e4e62c2db5 so I think the problem have have been reintroduced earlier.  I'll report back when I know more.

[2021-03-03 13:32] FRASTM commented on #31711
I confirm that using a flush command on Tx and invalidate one on Rx, improves the  test a lot
[code]

[2021-03-03 13:58] jukkar commented on #30355
Perhaps this is not related to anything you are seeing, but I noticed that if we have multiple network interfaces, then the network packet might be sent to wrong network interface (always to first interface even if it was meant to be sent to second or third one) in some rare cases.
This issue should be fixed in #32783

[2021-03-03 14:02] PerMac commented on #32816
I never liked that game... :frowning:

[2021-03-03 14:35] pabigot commented on #31721
My bisect between v2.5.0-rc2-8-gcf946d3365 and zephyr-v2.5.0-693-gd19741f1ec located the failure at zephyr-v2.5.0-7-g91946ef21c.

zephyr-v2.5.0-6-gdd4322154067 passed ten (10) reps.
zephyr-v2.5.0-6-gdd4322154067 also passed thirty (30) reps (total 40)

zephyr-v2.5.0-7-g91946ef21c fails quickly.

zephyr-v2.5.0-268-g3fe33 failed at rep 8 so the problem was visible there, even if it wasn't revealed i

[2021-03-03 14:55] nashif commented on #32816
what is blocking you now from re-implementing the test? The fact that it was changed from 'bug' to 'enhancement'? What difference does this make? if you filed a specific bug against the existing test that could be addressed in the current test, it is a bug. Re-implementation of something in my dictionary counts as enhancement because you are not addressing a single issue, you are enhancing the tes

[2021-03-03 15:03] carlescufi commented on #32817
Closing since this is already covered in the Getting Started Guide.

[2021-03-03 15:03] #32817 closed

[2021-03-03 15:11] andyross commented on #32816
@pabigot The test case in question here is actually brand new, it contains no tick/ms math at all.  I don't argue that this test deserves rework, I just don't see how that's going to help the issue in question.

At the end of the day timing tests require tuning because (1) real time cannot be "locked", requiring careful initialization timing and slop and forgiveness in results (2) real systems hav

[2021-03-03 15:36] HannanSolo commented on #32817
Wow! This is great , thank you so much. I was following these docs https://docs.zephyrproject.org/latest/getting_started/index.html
wonder why its not listed there.

[2021-03-03 15:52] PerMac opened #32835 "twister: integration_platforms stopped working as it should"
**Describe the bug**
The PR https://github.com/zephyrproject-rtos/zephyr/pull/30009 allowed to adding platforms not from the default list to be tested in the CI. However, in the current master, this feature does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. modify the hello_word sample by adding: `- nrf52840dk_nrf52840` into the `integration_platforms`
1. checkout zephyr-v2.4.0-1

[2021-03-03 16:05] galak commented on #32817
There is a reference about other distros and a link in the docs.

`(instructions for other Linux distributions are discussed in Install Linux Host Dependencies)`

[2021-03-03 16:26] andyross opened #32836 "Remaining integration failures on intel_adsp_cavs15"
As of the (still unmerged) code in https://github.com/andyross/zephyr/tree/xtensa-wip the intel_adsp_cavs15 device now passes a full test run with twister.  But it contains this patch, which excludes the handful of known tests that are known problems, as a hung twister run often spoils the remaining tests (and occasionally requires a reboot of the CAVS device's host x86 system to recover!).

This

[2021-03-03 16:27] andyross commented on #32836
@KangJianX note the test list here: when this code all gets merged, these tests are going to need to be manually verified.  Everything else should be covered (and **should** be passing!) via a default twister run.

[2021-03-03 16:29] #32644 closed

[2021-03-03 16:33] erwango commented on #32220
@nmkp, @pabigot, I'm reopening this point for a specific question on GPIO interrupt configuration.

It was mentioned above that GPIO resource should be considered as busy for other state as `GPIO_INT_DISABLED`.
Though, in case we want to configure a wakeup button (as done [here](https://github.com/zephyrproject-rtos/zephyr/pull/26002/files#diff-db26abd64c8d675d7b8e66ba7103e5803e43755e2d44ec87db549

[2021-03-03 16:37] andyross commented on #32836
A few notes so I don't forget:

* The three samples/ produce an immediate device reset (and, occasionally, completely latched DSP!) when they are loaded.  We don't seem to get even as far as z_cstart().  And needless to say, none of these are doing anything weird at all.  This may be some kind of glitch in the build system (vs. some kconfig I'm unaware of) producing a corrupt image, I'm guessing?

[2021-03-03 17:04] FRASTM opened #32839 "tests/kernel/timer/timer_api/test_timeout_abs still fails on multiple platforms"
After the merge of  #32683, some stm32 boards still fail in the tests/kernel/timer/timer_api
especially the nucleo_g071rb board  (nucleo_f091rc, l073rz also fail)
--> sysclock of 64MHz from HSI
(test PASSED on nucleo_l152re)

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_g071rb tests/kernel/timer/timer_api/
2. west flash
4. See error

**Logs and console output**

[2021-03-03 17:18] FRASTM commented on #32839
on nucleo_f091rc:
===================================================================
START - test_timeout_abs

    Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/timer/timer_api/src/main.c:723: test_timeout_abs: (t0 + rem_ticks == exp_ticks)
Wrong remaining: now 34097 rem 99965904 expires 100000000 (1)
 FAIL - test_timeout_abs
=================================================================

[2021-03-03 17:21] FRASTM commented on #32839
on nucleo_l073rz :
[code]

[2021-03-03 18:40] yerabolu commented on #32691
Working on the changes and will submit a PR soon.

[2021-03-03 18:54] #32800 closed

[2021-03-03 18:56] yerabolu commented on #32444
Thank You for the info. Investigating further to see which drivers are started by _SYS_INIT_LEVEL_PRE_KERNEL_2 and _SYS_INIT_LEVEL_PRE_KERNEL_1. Will update on it by EOD.

[2021-03-03 19:40] pabigot commented on #22965
@sltemc if this is still of interest to you please see #32844

[2021-03-03 19:42] dcpleung commented on #32827
That should be `CONFIG_NEWLIB_LIBC_MAX_MAPPED_REGION_SIZE`.

[2021-03-03 20:45] MaureenHelm commented on #31854
@katsuster I don't understand your question?

[2021-03-03 21:01] jenmwms commented on #28551
1. Today OOC I tried the sample on `up_squared_32` and it too fails after `9f84637` (MMIO-related changes). Before that bisect, it works. This appears to be another symptom.

I started looking at it because that patch modified how we get the `reg_base`. The value in `gpio_intel_apl_config` was a `uint32_t reg_base`, but updated to use `DEVICE_MMIO_NAMED_ROM(reg_base)` instead

In API docs, we see

[2021-03-03 23:21] nashif commented on #32818
you should not edit comments, add your comment below.

[2021-03-03 23:22] mnkp commented on #31280
That's a nice proposal, very useful as is. I'd like just briefly look into the future. The `gpios` property is of type `phandle-array` and as such can store several entries. It's possible that we will get another request to support this more complex case.

If that happens we could either introduce `GPIO_DT_SPEC_GET_BY_IDX` macro or maybe make `GPIO_DT_SPEC_GET` return an array of `struct gpio_dt_s

[2021-03-03 23:26] nashif commented on #32818
you need to disable SMP to get to this, qemu_x86 and qemu_x86_64 use swap vs switch, so you have to test without SMP to get to this.

[2021-03-04 00:50] mnkp commented on #32220
Sorry, I didn't look into the STM32 datasheet, however in the sample application you use `GPIO_INT_EDGE_TO_ACTIVE` interrupt. As far as I know edge interrupts always require GPIO module clock to be on. Otherwise the hardware module would not be able to detect state change. It needs to sample the pin. And that means the device is busy. But maybe STM32 is different?

Typically to configure a wake up

[2021-03-04 01:06] #27356 closed

[2021-03-04 02:06] sinkyl opened #32853 "lwm2m: uninitialized variable in this function"
**Describe the bug**
With Network, LwM2M and by default CONFIG_LWM2M_RW_JSON_SUPPORT=y in Zephyr 2.5 this warning show up:

` /zephyrproject/zephyr/subsys/net/lib/lwm2m/lwm2m_rw_json.c:147:16: warning: 'c' may be used uninitialized in this function [-Wmaybe-uninitialized]
  147 |  uint8_t cont, c;`

**Environment (please complete the following information):**
 - OS: Linux,
 - Toolchain: Zephyr SDK

[2021-03-04 02:10] manoj153 commented on #32733
Guys what is the thought if I contribute a generic-rs_485 binding for zephyr.
A lot of industrial devices uses rs_485 and they might not necessarily leverage Modbus. FME, tons of vendor releases custom stream byte protocol. This planned binding should help out?

[2021-03-04 02:10] qipengzha commented on #32809
mike@mikezha2$ ccac test.c
[ccac] (Warning)
****************************************************************
* Warning: building for the ARC EM processor with no extension *
* options may result in inferior code size and performance.    *
*                                                              *
* You may wish to try the -emsize or -emspeed options, or see  *
* the MetaWare Development Tool

[2021-03-04 02:19] qipengzha commented on #32809
[CMakeOutput.log](https://github.com/zephyrproject-rtos/zephyr/files/6080431/CMakeOutput.log)
[CMakeError.log](https://github.com/zephyrproject-rtos/zephyr/files/6080432/CMakeError.log)

[2021-03-04 02:25] enjiamai commented on #32816
This issue also found in EHL ACRN platform and show the same log as ehl_crb bare metal, so I comment here instead of filing a new issue for it.

And the issue happened starting from this version:
zephyr: gitlab mainline commit: 23f699bd90 (*** Booting Zephyr OS build zephyr-v2.5.0-484-g23f699bd907f  ***)
zephyr-intel: gitlab mainline commit: 22c6331

[2021-03-04 02:25] yingmingx commented on #32818
Thank you very much for telling me the reason of this problem！
I run “twister -p qemu_x86_64 --coverage -T tests/kernel/sched/ -x=CONFIG_SMP=n ”, then the else branch "return _kernel.ready_q.cache;" is covered."
I'm sure this issue can be closed now.

[2021-03-04 02:25] #32818 closed

[2021-03-04 02:50] hongshui3000 commented on #32563
file：zephyr\soc\xtensa\intel_adsp\cavs_v15\linker.ld
[code]
I feel bad about this way of changing the name to specify the characteristics
This is the beginning of code confusion

[2021-03-04 03:27] jenmwms commented on #32603
@enjiamai np, was asking jic. Thanks for your reply! I can work on bisecting this.

[2021-03-04 03:43] hakehuang commented on #29599
I find this is not dirver issue, as from wireshark, I can see the ptpv2 package, the problem now is that:
1. connect board to PC
PC is running the gptp application, and its in master mode keep sending sync package, but no pdelay followup send. the board is running in DISABLED, with no pdelay follow up resp send, then it keeps resend pdelay package.
2. connect two frdmk64 board, the two board both

[2021-03-04 08:18] ABOSTM commented on #29545
Hi @oyvindronningstad @ioannisg,
I am sorry, I totally missed that point.
I just retested with master branch and west update,
and I could not reproduce the issue.
Note: my current cryptography version: 3.3.1

[2021-03-04 08:18] #29545 closed

[2021-03-04 08:19] LeiW000 commented on #32469
Yes, Give me some time. I will test it.

[2021-03-04 08:59] kaansenparlak opened #32860 "Periodic advertising/synchronization on nRF52810"
I have been trying to implement periodic communication between nRF52840 (advertiser) and nRF52810 (synchroniser) but the synchronization is very fragile. Depending on the advertising period and PHY (1M/2M) sometimes the synchronization is never achieved in the first place. For example:

Period: 3s    PHY:   2M -> Rarely establishes a sync.
Period: 1s    PHY:   2M -> Works fine most of the time.
Pe

[2021-03-04 09:27] mejtejt opened #32862 "MCUboot, use default UART_0 value for RECOVERY_UART_DEV_NAME"
### Problem description
I have two seperate applications. One is MCUboot and the other is the actual application. There is a single DTS, configured in application part as follows:
[code]
MCU boot conf file for my board has the following inside:
[code]

When I build MCU with this configuration, for CONFIG_RECOVERY_UART_DEV_NAME I get in boot/zephyr/build-mcuboot/zephyr:
CONFIG_RECOVERY_UART_DEV_NAM

[2021-03-04 10:03] ppluta opened #32866 "bt_le_ext_adv_create returns -5 with 0x2036 opcode status 1"
**Describe the bug**
bt_le_ext_adv_create() returns -5 with "opcode 0x2036 status 0x1" log message. No parameter combination could be find for it to work.

**To Reproduce**
Just try own Zephyr sample "periodic_adv".

**Expected behavior**
It should work.

**Impact**
Renders the program useless.

**Logs and console output**
[00:00:44.983,123] <wrn> bt_hci_core: opcode 0x2036 status 0x01

**Environm

[2021-03-04 10:05] FRASTM opened #32867 "tests/kernel/sched/schedule_api does not start with stm32wb55 on nucleo"
**Describe the bug**
when testing the tests/kernel/sched/schedule_api on the nucleo_wb55rg board form STMicroelectronics, the test does not start.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_wb55rg tests/kernel/sched/schedule_api/
2. west flash

**Expected behavior**
test PASSED

**Logs and console output**
none

**Environment (please complete the following i

[2021-03-04 10:19] katsuster commented on #31854
@MaureenHelm
Sorry for cofusing.
In this issue, only #31918 is merged. But I think it's better also merge #31901.

[2021-03-04 10:48] evgeniy-paltsev commented on #32809
Hi @qipengzha, could you please specify the Zephyr version you are using (commit SHA or Version used)?

[2021-03-04 10:59] nashif commented on #32809
in the log above it says
[code]

[2021-03-04 11:26] carlescufi commented on #32860
@kaansenparlak if you are using nRF Connect SDK, then this is not the right place to post an issue. Instead, please open a Nordic Devzone ticket.

[2021-03-04 11:27] carlescufi commented on #32860
Since you are using periodic advertisement, you are surely selecting the Zephyr open source controller. I will let @cvinayak and @Thalley comment.

[2021-03-04 12:04] rlubos commented on #32853
How to reproduce this warning? I've tried to build with `zephyr-sdk-0.12.3` for x86 and arm platforms and I didn't get it.

Besides, it doesn't look like a valid warning to me. Looking at the code in https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/lwm2m/lwm2m_rw_json.c#L144, the `c` variable can only be used after being set by the `buf_read_u8()` call. If the function call

[2021-03-04 12:04] luizvilla opened #32875 "Benchmarking Zephyr vs. RIOT-OS"
Hello everyone,

I'm Luiz Villa, a researcher at the University of Toulouse. I'm working with software defined power converters and my team is looking into using an RTOS to manage real-time micro-controllers.
We ran a benchmark between Zephyr and RIOT OS that we would like to share with you.
**Spoiler: Zephyr performed poorly.**
Here's the summary:

![image](https://user-images.githubusercontent.c

[2021-03-04 12:15] maxbachmann commented on #32827
Thanks, that's the setting I was searching.

[2021-03-04 12:15] #32827 closed

[2021-03-04 12:19] jfischer-no commented on #32798
@jremmert-phytec-iot :arrow_up:

[2021-03-04 12:24] joerchan commented on #32866
Status 0x01 is unknown command. Which board did you try to build the sample for?
Anything special in the configuration used?

[2021-03-04 12:30] jfischer-no commented on #32798
It is not Zephyr issue. Either you did not turn on your board or you use the wrong USB connector or the board is broken.

[2021-03-04 13:00] gmarull commented on #32875
Interesting results, thanks for sharing @luizvilla!

Note that In the adc example, I'd use a hardware timer to trigger the ADC in a real application (it is possible on STM32). Regarding footprint sizes, it would be nice to compare rom reports in both cases to see the big difference, in particular for ADC and shell. Have you published any paper with some more insights?

[2021-03-04 13:03] galak commented on #32862
Can you not set `CONFIG_RECOVERY_UART_DEV_NAME="UART_0"` in your prj.conf?

[2021-03-04 13:22] gmarull commented on #32875
@luizvilla I've cloned your project, and I've seen a few things that can be disabled or improved. A few things: use minimal lib C (if possible by the application), disable some shell features, reduce some stack sizes, etc. Without testing on a real board I quickly got ~37K ROM and ~9K RAM by doing a few tweaks, so I'm sure there is room for improving the footprint at least.

[2021-03-04 13:35] enjiamai opened #32877 "acrn: test case of kernel.timer and kernel.timer.tickless failed"
**Describe the bug**
Test case kernel.timer.kernel.timer.timeout_abs and
Test case kernel.timer.kernel.timer.tickless.timeout_abs falied in ACRN EHL CRB

**To Reproduce**
Steps to reproduce the behavior:

1. Make sure BIOS configuration is correct for ACRN, and include/arch/x86/memory.ld line 44, LOCORE_BASE modified from 0x1000 to 0x8000.
2. Run this command from the zephyrproject:
3. twister -p

[2021-03-04 13:38] enjiamai commented on #32816
Excuse me, their failure test case was different, so I file another issue for this:
https://github.com/zephyrproject-rtos/zephyr/issues/32877

[2021-03-04 13:46] nashif commented on #32816
How is this different? This is failing in the same testcase.

[2021-03-04 13:58] erwango commented on #32875
@luizvilla As mentionned by @gmarull, the first thing to do would be to understand the configuration used for the zephyr target. I guess this can be minimized in various ways, but point is to stay on par with RIOT configuration.

For instance, on test_adc_g4, we can disable LOG, I2C, tweak stacks sizes, use minimal libc, and quickly divide footprint by 2.
Though, doing this maybe we remove feature

[2021-03-04 14:00] enjiamai commented on #32816
They failed in different case, ehl crb bare metal is falied on test_sleep_abs(),  arcn ehl is failed test_timeout_abs(). But they are indeed belong to the same testsuite. Should I close the another one for better tracking it?

[2021-03-04 14:04] carlescufi commented on #32875
You can see them here. As @gmarull pointed out, the set selected here is certainly not optimized in any way.
https://gitlab.laas.fr/owntech/zephyr/-/blob/test_adc_g4/zephyr/prj.conf

[2021-03-04 14:06] erwango commented on #32875
I've seen that. I just want to know if this configuration was made on purpose, to be on par with RIOT configuration.

[2021-03-04 14:15] erwango commented on #32875
@luizvilla Also, the project documentation to get the things build is great. Though, I haven't found info on how the latency measurements were made. Can you elaborate on this part ?

[2021-03-04 14:16] kydos commented on #32798
Thanks for your swift reply @jfischer-no, we've just solved the problem and as you point out it was  not depending on zephyr. We are porting https://github.com/eclipse-zenoh/zenoh-pico on zephyr, will inform the community once available. Thanks again for your help and kudos for the great work on Zephyr.

[2021-03-04 14:16] #32798 closed

[2021-03-04 14:57] jfischer-no commented on #32733
I do not see how that could help currently. What do you want to describe with a generic-rx_485 binding, non-existing RS-485 support for optional feature of an UART controller?

[2021-03-04 15:02] carlescufi commented on #32875
I noticed that you are defining the trigger thread's [priority to 6](https://gitlab.laas.fr/owntech/zephyr/-/blob/test_adc_g4/src/adc_g4/adc.c#L197). Have you tried making this a high-prio cooperative thread instead?

[2021-03-04 15:29] FRASTM commented on #32867
It seems that with the nucleo_wb55rg, the CoreDebug  is at address 0xe000edf0:
[code]

[2021-03-04 16:05] sinkyl commented on #32853
Try with:
`CONFIG_NEWLIB_LIBC=y` and
`CONFIG_DEBUG=y` -> just in case you don't have it...

[2021-03-04 16:23] rlubos commented on #32853
Thanks, now I got it. I wonder how would these options affect the build to trigger the warning to show up...
Anyway, I still don't see anything wrong in the logic, so I'll just add some initial value to the variable to silence the warning.

[2021-03-04 16:24] luizvilla commented on #32875
Thank you for your quick return!
So far we have not published this. We came to you to be sure we are not forgetting something.

The idea was to create a benchmark between both systems. So we did not try to optimize the code, but rather test equivalent functionality and performance for these functitonalities.

We toggle a pin and measure the time between toggles.

Not really. We wanted to test if t

[2021-03-04 16:26] carlescufi commented on #32875
Sure, it's not about optimizing the code, but rather about defaults. If you want an apples to apples comparison you should enable the same features on both RTOS in my opinion. If it turns out that one of the two enables more functionality by default than the other one, then you should probably disable it in order to come to a meaningful comparison, unless you want to compare "default configuration

[2021-03-04 16:27] rlubos commented on #32853
I've submited a fix: https://github.com/zephyrproject-rtos/zephyr/pull/32882

[2021-03-04 16:28] sinkyl commented on #32853
I don't know either...
We set the default value to `0U`, what you think ??? It should be fine no ?

[2021-03-04 16:29] mejtejt commented on #32862
I can, but for some reason, the update then does not work. I managed to circumvent this by defining separate overlay file for MCUboot, and set the wanted uart there. And then I can use different `zepyhr,console` in application and bootloader.

[2021-03-04 16:30] gmarull commented on #32875
Agree with @carlescufi, a meaningful comparison should enable a comparable feature set on both sides.

[2021-03-04 16:30] rlubos commented on #32853
Yes, that's what I did as well

[2021-03-04 16:31] sinkyl commented on #32853
Thanks!

[2021-03-04 16:48] evgeniy-paltsev opened #32885 "Zephyr C++ support documentation conflicts to the code"
Latest Zephyr documentation related to C++ support ([doc/reference/kernel/other/cxx_support.rst](https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/reference/kernel/other/cxx_support.rst)) explicitly mentions that following features are *not* supported:

* Dynamic object management with the **new** and **delete** operators
* RTTI (runtime type information)
* Exceptions

However the commi

[2021-03-04 16:50] evgeniy-paltsev commented on #32885
@nashif, @Benichou34 could you please take a look at this?
Thanks!

[2021-03-04 17:10] MaureenHelm commented on #31854
No problem, thanks for clarifying!

[2021-03-04 17:13] ruuddw commented on #32809
Thanks for the ccac test.c test. That rules out license issues.

[2021-03-04 17:39] #32679 closed

[2021-03-04 19:38] evgeniy-paltsev commented on #32809
As I understand that number cover almost all 2.5 development process - from the `2.4.0` release to the `2.5.0-rc1`.
Given that it would be more useful to know exact commit which was used for building.

[2021-03-04 19:39] evgeniy-paltsev commented on #32809
PS:
I can't reproduce it when building Zephyr from 1463596205 (one commit before `2.5.0-rc1` - so we get `zephyr version: 2.4.99`) with 2020.06 MWDT.

[code]

[2021-03-04 19:43] nashif commented on #32809
yes, you are correct. @qipengzha  maybe you should provide the commit you are using.

[2021-03-04 19:45] nashif commented on #32885
@evgeniy-paltsev  yes, docs might be outdated, here is a list of what works and what does not: https://github.com/zephyrproject-rtos/zephyr/issues/31281

[2021-03-04 19:53] #32853 closed

[2021-03-04 20:58] luizvilla commented on #32875
Thanks, everyone, for your valuable input.
Just to clarify, there are two main issues at hand:

1. The footprint - Being sure that the same amount of features are active on both RTOS as to have a clear comparison metric of their footprint. I'll get back to you on this as soon as I talk to our software engineer.
2. The performance - The systems had only their adc acquisitions active within a single

[2021-03-04 22:09] jrhees-cae opened #32897 "Flash: qspi_nor driver does not appear to support DPM"
The qspi_nor driver does not appear to pull dpm settings from the Device Tree. Instead, it appears to always set dpmen := false.

Is my understanding correct? Is there a particular reason this is not supported even if the underlying drivers support DPM?

[2021-03-04 22:29] jharris-intel commented on #32875
Also, note [the documentation](https://github.com/zephyrproject-rtos/zephyr/blob/7aefa3d33456311cc48554264c11f050c27ff083/include/kernel.h#L470) for `k_usleep`:

[code]

Zephyr's `k_usleep` ~always does a "true" sleep, whereas it appears from the documentation (I'm not familiar with RIOT-OS) that
`xtimer_usleep` will busy-wait for small periods.

For small periods `xtimer_usleep` would then be mor

[2021-03-04 23:28] LeBlue opened #32898 "Bluetooth: controller: Control PDU buffer leak into Data PDU buffer pool"
**Describe the bug**
hci_usb FW crashes with imprecise bus error after a repeated pairing attempt with secure only connections.

**To Reproduce**
Steps to reproduce the behavior:
On the central side I use the hci_usb FW with a linux/bluez 5.55 host. The peripheral is a custom FW with secure only connections that uses `bt_conn_set_security(conn, BT_SECURITY_L4)` in the connect cb.

1. Connect and p

[2021-03-05 00:29] nashif commented on #5116
@jhedberg  looking at the code, this one seems to be still there in coverity and is not fixed, can you take a look at this?

[2021-03-05 00:41] nashif commented on #18386
the issue is still there in coverity

[2021-03-05 01:18] qipengzha commented on #32809
The HEAD commit is 19c2f784959447b3e68a318cfcfdaba29c83abf0, zephyr version is 2.4.99
thanks.

[2021-03-05 01:23] andyross commented on #32875
Yeah, looking at the code here, it seems like indeed the main loop is just asking for too much: https://gitlab.laas.fr/owntech/zephyr/-/blob/test_adc_g4/src/adc_g4/adc.c#L180

Zephyr's sleep calls are blocking primitives, they will register a timer interrupt for that duration in the future, pend the current thread, and then context switch to another thread (likely the idle thread in this app) to d

[2021-03-05 01:28] zephyrbot opened #32902 "[Coverity CID :219547] Improper use of negative value in tests/drivers/timer/nrf_rtc_timer/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c#L102

Category: Integer handling issues
Function: `test_basic`
Component: Tests
CID: [219547](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219547)

Details:

https://github.com/zephyrproject-rtos/zephy

[2021-03-05 01:28] zephyrbot opened #32903 "[Coverity CID :219546] Unchecked return value in tests/kernel/workq/work/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/kernel/workq/work/src/main.c#L394

Category: Error handling issues
Function: `test_1cpu_reentrant_queue`
Component: Tests
CID: [219546](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219546)

Details:

https://github.com/zephyrproject-rtos/ze

[2021-03-05 01:28] zephyrbot opened #32904 "[Coverity CID :219545] Side effect in assertion in subsys/bluetooth/controller/ll_sw/ull_adv_aux.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/ull_adv_aux.c#L1079

Category: Incorrect expression
Function: `mfy_aux_offset_get`
Component: Bluetooth
CID: [219545](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219545)

Details:

https://github.com/zephyrproje

[2021-03-05 01:28] zephyrbot opened #32905 "[Coverity CID :219544] Logically dead code in drivers/wifi/esp/esp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/wifi/esp/esp.c#L336

Category: Control flow issues
Function: `on_cmd_cipdns`
Component: Drivers
CID: [219544](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219544)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b2

[2021-03-05 01:28] zephyrbot opened #32906 "[Coverity CID :219543] Out-of-bounds access in samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/src/smp_svr.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/src/smp_svr.c#L46

Category: Memory - corruptions
Function: `smp_svr_init`
Component: Samples
CID: [219543](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219543)

Details:

https://github.com/ze

[2021-03-05 01:28] zephyrbot opened #32907 "[Coverity CID :219542] Dereference null return value in subsys/bluetooth/mesh/heartbeat.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/mesh/heartbeat.c#L130

Category: Null pointer dereferences
Function: `heartbeat_send`
Component: Bluetooth
CID: [219542](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219542)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-03-05 01:28] zephyrbot opened #32908 "[Coverity CID :219541] Unused value in subsys/bluetooth/controller/ticker/ticker.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ticker/ticker.c#L1817

Category: Code maintainability issues
Function: `ticker_job_reschedule_in_window`
Component: Bluetooth
CID: [219541](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219541)

Details:

https://github

[2021-03-05 01:28] zephyrbot opened #32909 "[Coverity CID :219540] Side effect in assertion in subsys/bluetooth/controller/ll_sw/ull_sched.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/ull_sched.c#L366

Category: Incorrect expression
Function: `win_offset_calc`
Component: Bluetooth
CID: [219540](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219540)

Details:

https://github.com/zephyrproject-rto

[2021-03-05 01:28] zephyrbot opened #32910 "[Coverity CID :219538] Illegal address computation in subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c#L92

Category: Memory - corruptions
Function: `init_connect_rsp_pdu`
Component: Bluetooth
CID: [219538](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219538)

Details:

https://github.com/

[2021-03-05 01:28] zephyrbot opened #32911 "[Coverity CID :219537] Out-of-bounds access in samples/boards/nrf/system_off/src/retained.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/boards/nrf/system_off/src/retained.c#L117

Category: Memory - corruptions
Function: `ram_range_retain`
Component: Samples
CID: [219537](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219537)

Details:

https://github.com/zephyrproject-rtos/

[2021-03-05 01:28] zephyrbot opened #32912 "[Coverity CID :219536] Dereference before null check in drivers/ieee802154/ieee802154_nrf5.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/ieee802154/ieee802154_nrf5.c#L202

Category: Null pointer dereferences
Function: `nrf5_rx_thread`
Component: Drivers
CID: [219536](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219536)

Details:

https://github.com/zephyrproject-rtos/zephy

[2021-03-05 01:28] zephyrbot opened #32913 "[Coverity CID :219535] Dereference after null check in drivers/sensor/icm42605/icm42605.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/sensor/icm42605/icm42605.c#L139

Category: Null pointer dereferences
Function: `icm42605_tap_fetch`
Component: Drivers
CID: [219535](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219535)

Details:

https://github.com/zephyrproject-rtos/zep

[2021-03-05 01:28] zephyrbot opened #32914 "[Coverity CID :219532] Out-of-bounds access in tests/drivers/timer/nrf_rtc_timer/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c#L314

Category: Memory - corruptions
Function: `test_reseting_cc`
Component: Tests
CID: [219532](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219532)

Details:

https://github.com/zephyrproject-rtos/ze

[2021-03-05 01:28] zephyrbot opened #32915 "[Coverity CID :219531] Improper use of negative value in tests/drivers/timer/nrf_rtc_timer/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c#L147

Category: Integer handling issues
Function: `test_int_disable_enabled`
Component: Tests
CID: [219531](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219531)

Details:

https://github.com/zephyrproj

[2021-03-05 01:28] zephyrbot opened #32916 "[Coverity CID :219530] Dereference before null check in drivers/modem/ublox-sara-r4.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/modem/ublox-sara-r4.c#L334

Category: Null pointer dereferences
Function: `send_socket_data`
Component: Drivers
CID: [219530](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219530)

Details:

https://github.com/zephyrproject-rtos/zephyr/blo

[2021-03-05 01:28] zephyrbot opened #32917 "[Coverity CID :219529] Unchecked return value in subsys/bluetooth/controller/ll_sw/ull_filter.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/ull_filter.c#L1121

Category: Error handling issues
Function: `target_resolve`
Component: Bluetooth
CID: [219529](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219529)

Details:

https://github.com/zephyrproject-r

[2021-03-05 01:28] zephyrbot opened #32918 "[Coverity CID :219528] Arguments in wrong order in tests/drivers/pwm/pwm_loopback/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/pwm/pwm_loopback/src/main.c#L17

Category: API usage errors
Function: `test_main`
Component: Tests
CID: [219528](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219528)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd973

[2021-03-05 01:28] zephyrbot opened #32919 "[Coverity CID :219527] Resource leak in tests/net/socket/getaddrinfo/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/socket/getaddrinfo/src/main.c

Category: Resource leaks
Function: `test_getaddrinfo_port_invalid`
Component: Tests
CID: [219527](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219527)

Details:

https://github.com/zephyrproject-rtos/zephy

[2021-03-05 01:28] zephyrbot opened #32920 "[Coverity CID :219526] Operands don't affect result in tests/boards/mec15xxevb_assy6853/qspi/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/boards/mec15xxevb_assy6853/qspi/src/main.c

Category: Integer handling issues
Function: `test_spi_quad_write`
Component: Tests
CID: [219526](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219526)

Details:

https://github.com/zephyrproject-rt

[2021-03-05 01:28] zephyrbot opened #32921 "[Coverity CID :219525] Unchecked return value in tests/subsys/settings/functional/src/settings_basic_test.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/subsys/settings/functional/src/settings_basic_test.c

Category: Error handling issues
Function: `test_direct_loading_filter`
Component: Tests
CID: [219525](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219525)

Details:

https://github.com/z

[2021-03-05 01:32] zephyrbot opened #32922 "[Coverity CID :219524] Logically dead code in drivers/wifi/esp/esp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/wifi/esp/esp.c

Category: Control flow issues
Function: `esp_dns_work`
Component: Drivers
CID: [219524](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219524)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b2542d19

[2021-03-05 01:32] zephyrbot opened #32923 "[Coverity CID :219523] Side effect in assertion in subsys/bluetooth/controller/ll_sw/ull_adv_sync.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/ull_adv_sync.c

Category: Incorrect expression
Function: `mfy_sync_offset_get`
Component: Bluetooth
CID: [219523](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219523)

Details:

https://github.com/zephyrproject-r

[2021-03-05 01:32] zephyrbot opened #32924 "[Coverity CID :219522] Unchecked return value in tests/subsys/dfu/mcuboot/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/subsys/dfu/mcuboot/src/main.c

Category: Error handling issues
Function: `test_request_upgrade`
Component: Tests
CID: [219522](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219522)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob

[2021-03-05 01:32] zephyrbot opened #32925 "[Coverity CID :219521] Unchecked return value in tests/kernel/workq/work/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/kernel/workq/work/src/main.c

Category: Error handling issues
Function: `test_1cpu_sync_queue`
Component: Tests
CID: [219521](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219521)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/

[2021-03-05 01:32] zephyrbot opened #32926 "[Coverity CID :219520] Unsigned compared against 0 in drivers/wifi/esp/esp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/wifi/esp/esp.c

Category: Control flow issues
Function: `on_cmd_cipdns`
Component: Drivers
CID: [219520](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219520)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b2542d1

[2021-03-05 01:32] zephyrbot opened #32927 "[Coverity CID :219519] Unchecked return value in drivers/ethernet/eth_sam_gmac.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/ethernet/eth_sam_gmac.c

Category: Error handling issues
Function: `get_mac_addr_from_i2c_eeprom`
Component: Drivers
CID: [219519](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219519)

Details:

https://github.com/zephyrproject-rtos/zephy

[2021-03-05 01:32] zephyrbot opened #32928 "[Coverity CID :219518] Macro compares unsigned to 0 in subsys/bluetooth/mesh/transport.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/mesh/transport.c

Category: Integer handling issues
Function: `bt_mesh_va_get`
Component: Bluetooth
CID: [219518](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219518)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/b

[2021-03-05 01:32] zephyrbot opened #32929 "[Coverity CID :219516] Improper use of negative value in tests/drivers/timer/nrf_rtc_timer/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c

Category: Integer handling issues
Function: `test_stress`
Component: Tests
CID: [219516](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219516)

Details:

https://github.com/zephyrproject-rtos/zephyr/bl

[2021-03-05 01:32] zephyrbot opened #32930 "[Coverity CID :219515] Side effect in assertion in subsys/bluetooth/controller/ll_sw/ull_sched.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/ull_sched.c

Category: Incorrect expression
Function: `ull_sched_after_mstr_slot_get`
Component: Bluetooth
CID: [219515](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219515)

Details:

https://github.com/zephyrpr

[2021-03-05 01:32] zephyrbot opened #32931 "[Coverity CID :219514] Out-of-bounds access in tests/drivers/timer/nrf_rtc_timer/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c

Category: Memory - corruptions
Function: `test_stress`
Component: Tests
CID: [219514](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219514)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/

[2021-03-05 01:32] zephyrbot opened #32932 "[Coverity CID :219513] Logically dead code in drivers/wifi/esp/esp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/wifi/esp/esp.c

Category: Control flow issues
Function: `on_cmd_cipdns`
Component: Drivers
CID: [219513](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219513)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b2542d1

[2021-03-05 01:32] zephyrbot opened #32933 "[Coverity CID :219512] Unrecoverable parse warning in tests/kernel/mem_protect/mem_protect/src/mem_domain.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/kernel/mem_protect/mem_protect/src/mem_domain.c

Category: Parse warnings
Function: ``
Component: Tests
CID: [219512](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219512)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a

[2021-03-05 01:32] zephyrbot opened #32934 "[Coverity CID :219511] Uninitialized scalar variable in tests/kernel/mbox/mbox_api/src/test_mbox_api.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/kernel/mbox/mbox_api/src/test_mbox_api.c

Category: Uninitialized variables
Function: `thread_mbox_put_block_data`
Component: Tests
CID: [219511](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219511)

Details:

https://github.com/zephyrproje

[2021-03-05 01:32] zephyrbot opened #32935 "[Coverity CID :219510] Improper use of negative value in tests/drivers/timer/nrf_rtc_timer/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c

Category: Integer handling issues
Function: `test_absolute_scheduling`
Component: Tests
CID: [219510](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219510)

Details:

https://github.com/zephyrproject-r

[2021-03-05 01:32] zephyrbot opened #32936 "[Coverity CID :219509] Side effect in assertion in tests/net/socket/tcp/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/socket/tcp/src/main.c

Category: Incorrect expression
Function: `test_socket_permission`
Component: Tests
CID: [219509](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219509)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd

[2021-03-05 01:32] zephyrbot opened #32937 "[Coverity CID :219508] Unchecked return value in lib/libc/minimal/source/stdlib/malloc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/lib/libc/minimal/source/stdlib/malloc.c

Category: Error handling issues
Function: `free`
Component: libc
CID: [219508](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219508)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338

[2021-03-05 01:32] zephyrbot opened #32938 "[Coverity CID :219508] Unchecked return value in lib/libc/minimal/source/stdlib/malloc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/lib/libc/minimal/source/stdlib/malloc.c

Category: Error handling issues
Function: `free`
Component: libc
CID: [219508](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219508)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338

[2021-03-05 01:32] zephyrbot opened #32939 "[Coverity CID :219504] Logically dead code in subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/lib/lwm2m/lwm2m_engine.c

Category: Control flow issues
Function: `do_discover_op`
Component: Networking
CID: [219504](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219504)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd

[2021-03-05 01:32] zephyrbot opened #32940 "[Coverity CID :219502] Improper use of negative value in tests/net/socket/af_packet/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/socket/af_packet/src/main.c

Category: Integer handling issues
Function: `__test_packet_sockets`
Component: Tests
CID: [219502](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219502)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-03-05 01:32] zephyrbot opened #32941 "[Coverity CID :219501] Unchecked return value in subsys/net/l2/bluetooth/bluetooth.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/l2/bluetooth/bluetooth.c

Category: Error handling issues
Function: `net_bt_init`
Component: Bluetooth
CID: [219501](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219501)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97

[2021-03-05 01:39] zephyrbot opened #32942 "[Coverity CID :219499] Argument cannot be negative in tests/net/socket/af_packet/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/socket/af_packet/src/main.c

Category: Error handling issues
Function: `prepare_udp_socket`
Component: Tests
CID: [219499](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219499)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob

[2021-03-05 01:39] zephyrbot opened #32943 "[Coverity CID :219498] Out-of-bounds access in tests/drivers/timer/nrf_rtc_timer/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c

Category: Memory - corruptions
Function: `test_basic`
Component: Tests
CID: [219498](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219498)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/b

[2021-03-05 01:39] zephyrbot opened #32944 "[Coverity CID :219497] Logically dead code in subsys/bluetooth/host/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/host/gatt.c

Category: Control flow issues
Function: `cf_set_value`
Component: Bluetooth
CID: [219497](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219497)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338

[2021-03-05 01:39] zephyrbot opened #32945 "[Coverity CID :219495] Pointless string comparison in tests/lib/devicetree/api/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/lib/devicetree/api/src/main.c

Category: Incorrect expression
Function: `test_node_name`
Component: Tests
CID: [219495](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219495)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd9735

[2021-03-05 01:39] zephyrbot opened #32946 "[Coverity CID :219494] Logically dead code in boards/xtensa/intel_s1000_crb/pinmux.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/boards/xtensa/intel_s1000_crb/pinmux.c

Category: Control flow issues
Function: `intel_s1000_pinmux_init`
Component: Other
CID: [219494](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219494)

Details:

https://github.com/zephyrproject-rtos/zephyr/

[2021-03-05 01:39] zephyrbot opened #32947 "[Coverity CID :219493] Unchecked return value in tests/kernel/workq/work/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/kernel/workq/work/src/main.c

Category: Error handling issues
Function: `rel_handler`
Component: Tests
CID: [219493](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219493)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5

[2021-03-05 01:39] zephyrbot opened #32948 "[Coverity CID :219492] Out-of-bounds access in tests/drivers/timer/nrf_rtc_timer/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c

Category: Memory - corruptions
Function: `test_absolute_scheduling`
Component: Tests
CID: [219492](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219492)

Details:

https://github.com/zephyrproject-rtos

[2021-03-05 01:39] zephyrbot opened #32949 "[Coverity CID :219491] Resource leak in tests/net/socket/af_packet/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/socket/af_packet/src/main.c

Category: Resource leaks
Function: `test_raw_packet_sockets`
Component: Tests
CID: [219491](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219491)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/b

[2021-03-05 01:39] zephyrbot opened #32950 "[Coverity CID :219490] Unsigned compared against 0 in drivers/wifi/esp/esp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/wifi/esp/esp.c

Category: Control flow issues
Function: `esp_dns_work`
Component: Drivers
CID: [219490](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219490)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b2542d19

[2021-03-05 01:39] zephyrbot opened #32951 "[Coverity CID :219489] Structurally dead code in tests/drivers/dma/loop_transfer/src/test_dma_loop.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/dma/loop_transfer/src/test_dma_loop.c

Category: Control flow issues
Function: `test_loop`
Component: Tests
CID: [219489](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219489)

Details:

https://github.com/zephyrproject-rtos/zephyr/b

[2021-03-05 01:39] zephyrbot opened #32952 "[Coverity CID :219488] Unrecoverable parse warning in tests/kernel/mem_protect/mem_protect/src/mem_domain.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/kernel/mem_protect/mem_protect/src/mem_domain.c

Category: Parse warnings
Function: ``
Component: Tests
CID: [219488](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219488)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a

[2021-03-05 01:39] zephyrbot opened #32953 "[Coverity CID :219487] Resource leak in tests/net/socket/getaddrinfo/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/socket/getaddrinfo/src/main.c

Category: Resource leaks
Function: `test_getaddrinfo_ipv4_hints_ipv6`
Component: Tests
CID: [219487](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219487)

Details:

https://github.com/zephyrproject-rtos/ze

[2021-03-05 01:39] zephyrbot opened #32954 "[Coverity CID :219486] Unrecoverable parse warning in tests/kernel/mem_protect/mem_protect/src/mem_domain.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/kernel/mem_protect/mem_protect/src/mem_domain.c

Category: Parse warnings
Function: ``
Component: Tests
CID: [219486](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219486)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a

[2021-03-05 01:39] zephyrbot opened #32955 "[Coverity CID :219485] Logically dead code in subsys/bluetooth/controller/ll_sw/ull.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/ull.c

Category: Control flow issues
Function: `ull_disable`
Component: Bluetooth
CID: [219485](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219485)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd

[2021-03-05 01:39] zephyrbot opened #32956 "[Coverity CID :219484] Out-of-bounds access in tests/drivers/timer/nrf_rtc_timer/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c

Category: Memory - corruptions
Function: `test_int_disable_enabled`
Component: Tests
CID: [219484](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219484)

Details:

https://github.com/zephyrproject-rtos

[2021-03-05 01:40] zephyrbot opened #32957 "[Coverity CID :219483] Improper use of negative value in tests/drivers/timer/nrf_rtc_timer/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c

Category: Integer handling issues
Function: `test_reseting_cc`
Component: Tests
CID: [219483](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219483)

Details:

https://github.com/zephyrproject-rtos/zeph

[2021-03-05 01:40] zephyrbot opened #32958 "[Coverity CID :219481] Out-of-bounds access in subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c

Category: Memory - corruptions
Function: `init_connect_rsp_pdu`
Component: Bluetooth
CID: [219481](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219481)

Details:

https://github.com/zeph

[2021-03-05 01:40] zephyrbot opened #32959 "[Coverity CID :219480] Out-of-bounds read in lib/os/cbprintf_nano.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/lib/os/cbprintf_nano.c

Category: Memory - illegal accesses
Function: `cbvprintf`
Component: Other
CID: [219480](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219480)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b2542d1

[2021-03-05 01:40] zephyrbot opened #32960 "[Coverity CID :219479] Out-of-bounds access in subsys/net/l2/bluetooth/bluetooth.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/l2/bluetooth/bluetooth.c

Category: Memory - corruptions
Function: `eir_found`
Component: Bluetooth
CID: [219479](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219479)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359

[2021-03-05 01:40] zephyrbot opened #32961 "[Coverity CID :219478] Unchecked return value in subsys/bluetooth/controller/ll_sw/ull_filter.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/ull_filter.c

Category: Error handling issues
Function: `prpa_cache_resolve`
Component: Bluetooth
CID: [219478](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219478)

Details:

https://github.com/zephyrproject-rto

[2021-03-05 02:00] LeiW000 commented on #32469
Need more time. It seems that there is something wrong with my development environment.

[2021-03-05 02:41] andyross commented on #32875
OK, having studied the source to the test (and a tiny bit of digging in RIOT-OS), some more notes:

0. As mentioned, the resulting .config file from your build would be helpful.

1. Are you sure your performance deltas aren't just measurement error? At least according to the source at the HEAD commit, you're waking the RIOT-OS up every 30us, but the Zephyr thread every 13us.  So Zephyr is being as

[2021-03-05 02:51] andyross commented on #32875
I will say though, that in RIOT-OS's defense their ARMv7 context switch code is a masterpiece of simplicity when compared with ours.  It saves to the stack!  It's local, no PendSV!  No CONFIG_SWAP_NONATOMIC!  It would make an excellent starting point for an arch_switch() if anyone wanted to try.  I don't know that it's necessarily faster than our context switch code, but it's definitely cleaner.

[2021-03-05 03:03] nashif commented on #25719
fixed by  #32784

[2021-03-05 03:03] #25719 closed

[2021-03-05 03:27] selman-nus commented on #32822
Is there any other file than the board.dts file that I should be configuring?

[2021-03-05 04:01] nashif commented on #32111
@tejlmand  any idea what is going on here and why we go into a loop?

[2021-03-05 07:03] katsuster commented on #31854
Thanks for merging. Yes we can close.

[2021-03-05 07:11] anangl commented on #32822
I'm not sure which file you were actually modifying, but try just creating a file named `nrf52dk_nrf52832.overlay` with the following content:
[code]
and place it in the main directory of the sample or in its subdirectory named `boards/`. Rebuild the sample from scratch. After flashing the board with it, you should see LED2 blinking instead of LED1.

[2021-03-05 07:42] erwango commented on #32220
@mnkp thanks for the feedback. I'm trying to investigate more in the direction of what/when resources are needed to sustain various GPIO operations, but given some tries I was doing yesterday, in STOP2 core is in WFI and can be waken up by an interrupt configured on a pin using `GPIO_INT_EDGE_TO_ACTIVE` while GPIO port clock is off.

[2021-03-05 07:54] Zhaoningx opened #32963 "USB device is not supported by qemu_x86 platform"
Describe the bug
There is a question or bug about qemu_x86 platform. I need to use qemu_x86 to verify tracing's usb backends. But I find it doesn't work, and it showed me 'usb' not supported in zephyr doc. See link: https://docs.zephyrproject.org/latest/boards/x86/qemu_x86/doc/index.html
And qemu_x86 board configure as below:
[code]

So who knows how to configure USB device on qemu_x86 platform, o

[2021-03-05 07:56] MrVan opened #32964 "Better AARCH64 SMP support"
1. Support booting zephyr from non-primary core
2. Support multiple clusters
3. Get cpu id from device tree when using psci to enable secondary cores.
4. #30676 (comment)?

[2021-03-05 08:05] #32691 closed

[2021-03-05 08:32] Zhaoningx opened #32966 "frdm_k64f: Run some testcases timeout failed by using twister"
Describe the bug:
I find some testcases timeout failed after twister changed. More detail as below:

**frdm_k64f platform:**
Just select a testcase to demo this failure.
command: twister -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -T tests/kernel/stack/ -j 1 -vv
and it showed me timeout failed, and device.log shows:
[code]
**And I reset to commit c5caa9b916d1 ,  It is good to work.*

[2021-03-05 08:41] #32862 closed

[2021-03-05 09:32] wldevries opened #32969 "Wrong board target in microbit v2 documentation"
**Describe the bug**
The flashing example in the documentation for the BBC MicroBit V2 targets the wrong board. It targets `bbc_microbit` instead of `bbc_microbit_v2`

**To Reproduce**
Steps to reproduce the behavior:
1. look at documentation https://docs.zephyrproject.org/latest/boards/arm/bbc_microbit_v2/doc/index.html

**Expected behavior**
Should read `west build -b bbc_microbit_v2 samples/hel

[2021-03-05 09:33] selman-nus commented on #32822
I created the file `nrf52dk_nrf52832.overlay` with the suggested content and copied it to many locations in the project folder.
But I still encounter the same problem.

Maybe I am not able to rebuild the sample from scratch?
Here is what I do to rebuild:

1. - Clean zephyr/zephyr.elf
2. - Clean Solution
3. - Build and Run

![image](https://user-images.githubusercontent.com/47420740/110095795-3e814

[2021-03-05 09:41] GunZi200 commented on #32957
I just took a look at this ... (just looking at the code)

I am going to guess the issue is with the `chan` variable. Though I'm not certain how this report was generated.

`chan` is defined locally here: https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/drivers/timer/nrf_rtc_timer/src/main.c#L296

` z_nrf_rtc_timer_chan_alloc()` is defined here  http

[2021-03-05 09:42] joerchan commented on #32944
This is logically dead because there is not enough bits yet defined to take this branch. Once more bits are added this code-path will be needed.

@jhedberg You agree that we should close this as intentional?

[2021-03-05 09:59] GunZi200 commented on #32957
Another thought... is `test_reseting_cc` perhaps missing a `zassert_true(chan >= 0, "Failed to allocate RTC channel.");` statement? And thus if a negative value gets passed unchecked the zephyr bot complains?🤔

[2021-03-05 10:30] rlubos commented on #32939
It's a valid report, but this code is going to be removed with the Link-Format content writer rework (https://github.com/zephyrproject-rtos/zephyr/pull/31783), I'll mention in the PR description that it fixes this issue.

[2021-03-05 10:57] ppluta commented on #32866
The board was Particle Xenon. However there is already a solution: CONFIG_BT_CTLR_ADV_EXT was missing in cfg.prj.
On the other hand replacing bt_le_adv_start() with bt_le_ext_adv_start() appeared unstable and throws this:

00> ASSERTION FAIL [id != ((uint8_t)((uint8_t)0 - 1))] @ WEST_TOPDIR/zephyr/subsys/bluetooth/controller/ll_sw/ull_adv_aux.c:1082
00>
00> [00:19:45.391,143] <err> os: r0/a1:  0x0

[2021-03-05 11:00] erwango commented on #32867
We actually have a whole bunch of tests failing with this commit on various platforms (tests/drivers/gpio , ...).
Setting prio to high

[2021-03-05 11:15] joerchan commented on #32866
@ppluta The extended advertising support in the zephyr controller is still a work in progress.
If you wish to use a stable one you can switch to the SoftDevice controller using NCS.

@cvinayak Do you know what could be the cause of the crash?

[2021-03-05 11:39] galak opened #32975 "Where should a few include/ headers live"
There are a few headers in include/ that seem like they shouldn't be at the top level:

`include/ec_host_cmd.h`
`include/emul.h`
`include/ptp_clock.h`

Should these files still live here are be moved under some sub-dir.

[2021-03-05 11:41] galak commented on #32975
@jukkar should `ptp_clock.h` be `include/net/ptp_clock.h`?

[2021-03-05 11:42] galak commented on #32975
@sjg20 should `emul.h` be `include/drivers/emul.h`?

[2021-03-05 11:42] galak commented on #32975
@sjg20 should `ec_host_cmd.h` be `include/mgmt/ec_host_cmd.h`?

[2021-03-05 11:53] GunZi200 commented on #32935
Could the issue here be that we're missing asserts for `rtc_ticks` to check if its not negative? `z_nrf_rtc_timer_compare_set` expects `uint32_t` but `rtc_ticks` is `int`.

Another issue is `uint64_t evt_uptime_us;` is not initalised.

[2021-03-05 11:54] pabigot commented on #32220
Nordic has a similar capability but in that case the wakeup configuration cannot be expressed with the GPIO API; see https://github.com/zephyrproject-rtos/zephyr/blob/19e5a9c0616df6e89280e42b20a0ebf03dec9200/samples/boards/nrf/system_off/src/main.c#L59

[2021-03-05 11:59] GunZi200 commented on #32931
I'm wondering if inside `test_timeout()`

[code]

could be the issue for this Github issue, and https://github.com/zephyrproject-rtos/zephyr/issues/32943

There is no check to confirm the value is not negative. `z_nrf_rtc_timer_compare_set` expects `uint32_t` not `int32_t`. I can't see any details of what caused this report but maybe something's happening inside `set_absolute_alarm()`?

[2021-03-05 12:05] pabigot commented on #32959
This is an out-of-bounds read at line 208 where `convert_value` accesses `buf[21]` in a 21-byte buffer introduced in fb73ac392c27328cddae5622a3482d35d09d99ad.

On short inspection it seems to be a false positive, but it's not the sort of mistake Coverity should make.

[2021-03-05 12:06] joerchan commented on #18386
This is intentional, rfcomm has a variable length length field, which is confusing when we cast the uint8_t field to an uint16_t field instead, but the extra byte has been pushed to the net_buf.

[2021-03-05 12:33] arapostol commented on #31447
Sorry for the delay, but only today I've managed to steal some time off of the development. I configured the same example to run on Wi-Fi with Zephyr 2.5 & TCP2. I will let you now of the results ASAP.

[2021-03-05 12:36] ioannisg commented on #32867
Will take a look asap, thanks.

[2021-03-05 12:38] GunZi200 commented on #32902
Would a cast be an OK solution?
[code]

It would need to be repeated a few times... Or perhaps define

[code]

after the assert to not repeatedly use a cast.

I would think the `zassert_true` make this a false alarm.

[2021-03-05 12:57] ioannisg commented on #32867
@erwango I guess the problem is that you are trying to execute tests on the board with the Debug mode on. But this should not be the case, right? I believe that west flash should never leave the Debug mode on.

[2021-03-05 13:45] jukkar commented on #32975
I would put that to `include/drivers/` directory

[2021-03-05 13:56] cvinayak commented on #32866
Not sure, is the below valid use?
[code]

Could you try using this: https://github.com/zephyrproject-rtos/zephyr/pull/32754

[2021-03-05 14:03] carlocaione commented on #32964
Which comment?

[2021-03-05 14:05] erwango commented on #32867
@ioannisg, confirmed this is due to debug mode being enabled by runner. As discussed, waiting for this to be fixed in various runners (openocd at least), let's remove the assert temporarily.

[2021-03-05 14:17] ioannisg commented on #32867
@erwango removing the assert will still make several tests failing due to a raised DebugMonitor exception, it is not a complete workaround. Better to disable null pointer exception detection feature in these stm32 platforms where west flash leaves the debug mode on.

[2021-03-05 14:19] erwango commented on #32867
@ioannisg That's the whole family then (which is easier). Ok, let me do that.

[2021-03-05 14:22] MaureenHelm commented on #32913
@JHKim8212 will you please take a look at this?

[2021-03-05 14:22] #31854 closed

[2021-03-05 14:30] #32718 closed

[2021-03-05 14:33] ioannisg commented on #32867
That' fine with me. As discussed offline, we need to track the openOCD issue (ideally in a different ticket).

[2021-03-05 14:53] erwango opened #32984 "West: openocd runner: Don't let debug mode on by default"
**Describe the bug**
When flashing using openocd runner, the cortex-m processor is left in debug mode. It can, then, only be released after a power-on reset (cold reset).

This conflicts with the use of https://github.com/zephyrproject-rtos/zephyr/pull/31481 (Null pointer exception detection via DWT), and prevent its use by default in tests.

~~For this reason, Null pointer exception detection was

[2021-03-05 15:02] ppluta commented on #32866
bt_le_ext_adv_start() returned 0 for this. Besides, other values than either 0 allowed for at most one successful execution of bt_le_ext_adv_start() and subsequent ones failed with opcode 0x2039 returning 0xc and 0x7, but I did not investigate it more precisely.

[2021-03-05 15:11] luizvilla commented on #32875
Thank you everyone for your returns! This has been super useful!
We'll rework our application, simplify our Zephyr and re-think our scheduling.
We'll get back to you if we have some more interesting stuff.
Thanks again!

[2021-03-05 15:11] #32875 closed

[2021-03-05 15:21] npitre commented on #32959
This is clearly a false positive. Coverity probably isn't smart enough
to go within the called function and see that the buffer is used
downwards with a pre-decremented index.

[2021-03-05 15:22] ioannisg commented on #32984
Thanks for the ticket @erwango
To the best of my knowledge, pyocd, jlink, or nrfjprog are not affected. I've tried with several boards/runners and this seems to be the case.

[2021-03-05 15:34] ioannisg commented on #32984
Guess the main issue here is that we do not have a consistent west flash, with respect to the state the core is left at, after west flash is done.

[2021-03-05 15:34] ioannisg commented on #32984
@mbolivar-nordic can you take a look here (or suggest alternative maintainer)?

[2021-03-05 15:43] #32903 closed

[2021-03-05 15:43] #32925 closed

[2021-03-05 15:43] #32947 closed

[2021-03-05 15:55] nvlsianpu opened #32990 "FS/littlefs: it is possible to write to already deleted file"
**Describe the bug**
It is possible to write to file which was removed if it had been opened before removal.

**To Reproduce**
fs_open(&f, "lfs1/fname", FS_O_CREATE | FS_O_WRITE);
fs_write(&f, data, length);
fs_unlink("lfs1/fname");
fs_write(&f, data, length); /* will succedd */

**Expected behavior**
shouldn't be possible to write to a unlinked file

**Alternative Expected behavior**
the file whi

[2021-03-05 15:57] nvlsianpu commented on #32990
@pabigot I encountered this issue while testing FS log backend.

[2021-03-05 16:25] pabigot commented on #32990
I think that behavior is correct: unliking simply removes the directory entry, it won't invalidate the file.

That idiom has long been used on Unix systems to create a temporary file to hold data so the space is reclaimed when the last open descriptor closes.

[2021-03-05 16:38] pabigot commented on #32990
IOW, I don't think this is a bug, unless the FS API explicitly requires a failure when writing to an open file where the underlying storage has been deleted.  And if that's so, it may not be something that can be fixed.

[2021-03-05 17:02] galak commented on #32867
What is the Debug mode referenced here.  Are we talking about building Zephyr with DEBUG enabled or some hardware mode?

[2021-03-05 17:38] GunZi200 opened #32994 "Question: Possible simplification in mutex.h?"
Hello, I have a question regarding the code at `include/sys/mutex.h`: https://github.com/zephyrproject-rtos/zephyr/blob/1337f7fe245b8dbdf0d70699f74d35589ed1ec61/include/sys/mutex.h#L157

Can we simplify this.... (see below)
[code]

....To this?

[code]

According to the documentation `k_mutex_unlock()` already returns `EINVAL` and `EPERM` so these additional `if()` statements look redundant to me.

[2021-03-05 18:00] GunZi200 commented on #32994
I am now also thinking that in `lib/os/mutex.c`: https://github.com/zephyrproject-rtos/zephyr/blob/074dbb9982ad2e4158b92c9aff174969b72402c3/lib/os/mutex.c#L55

Can be simplified from:

[code]

To this:

[code]
Here I am assuming the file at `kernel/mutex.c` defines the `k_mutex_unlock()` call https://github.com/zephyrproject-rtos/zephyr/blob/074dbb9982ad2e4158b92c9aff174969b72402c3/kernel/mutex.c#

[2021-03-05 18:09] DrEdHepler opened #32996 "SPI speed when using SDHC via SPI in Zephyr"
I'm using the Nordic nRF52840-DK board to breadboard an SDHC card interface in Zephyr using SPI.    I have it doing "basic" operations, but am trying to reconcile what I'm physically seeing versus what is documented and what I see in the code.   I was hoping to run the SPI at 8 MHz, so I included a statement in the .overlay file:   clock-frequency = <8000000>;  in the SPI specification.   I also p

[2021-03-05 18:18] gmarull opened #32997 "Improve documentation search experience"
## Introduction

The aim of this RFC is to improve the search capabilities found in the Zephyr official documentation.

### Problem description

The search capabilities offered by Sphinx are quite basic and offer a poor search experience compared to modern search engines.

### Proposed change

Use an external search plugin to improve the user experience and search capabilities.

## Detailed RFC

O

[2021-03-05 18:32] ioannisg commented on #32867
Hardware mode. It's about the debugger leaving the DHCSR bit0 to 1 after flashing.

[2021-03-05 19:41] nashif commented on #32994
yes, this can be simplified. The error checking in kernel/mutex.c came after, so now we have it duplicated. Please submit a PR :-)

[2021-03-05 19:45] sjg20 commented on #32975
Yes that seems fine

[2021-03-05 19:45] sjg20 commented on #32975
Yes OK

[2021-03-05 19:46] nvlsianpu commented on #32990
cc @de-nordic

[2021-03-05 20:05] str4t0m opened #33000 "stm32: window watchdog (wwdg): invalid interrupts priority for CM0 Series Socs"
**Describe the bug**
All stm32 series define default wwdg interrupt priority of 7, but Cortex-M0 only have 2 bits for interrupt priority.

**To Reproduce**
Steps to reproduce the behavior:
1. enable wwdg.
2. execute watchdog sample or wdt_basic_api test.
3. Assertion fails when the priority is set during driver initialization(z_arm_irq_priority_set()).

**Impact**
Interrupt priority must be overri

[2021-03-05 20:06] str4t0m commented on #33000
I will post a corresponding pr later.

[2021-03-05 20:39] str4t0m opened #33001 "stm32: window watchdog (wwdg): setup of prescaler not valid for newer series"
**Describe the bug**
New Series (STM32G0, STM32G4, STM32H7, STM32L5, STM32WB, STM32WL) use a different window watchdog ip.
The programmable clock prescaler can be chosen in the range of 1 to 128(instead of 1 to 8).
Additionally, the used bit mask is not valid for these series.
This parameters are hardcoded, therefore the wwdg driver works only when the timeout is set to a value resulting in a pres

[2021-03-06 00:16] jenmwms commented on #32931
Thanks @GunZi200! I'm not sure yet, good question. I also saw in Coverity that this was marked Fix Submitted last month (updated by me but I don't recall if it was merged). I'll see if I can find the PR that tried to address this.

[2021-03-06 00:19] GunZi200 commented on #32774
@vinceWii4 I created a pull request with the changes you suggested. The fix makes sense to me. 😃

[2021-03-06 10:11] ycsin commented on #32789
The sample can be conpiled if `MPU_ALLOW_FLASH_WRITE ` is removed from USB DFU class's Kconfig. But dfu-util is not able to open the device after pluggin it into a Windows 10 machine.

[2021-03-06 11:00] JordanYates opened #33009 "kernel: k_heap failures on small heaps"
**Describe the bug**

`k_heap_alloc` fails when attempting to allocate memory from small heaps.
The following code will fail:
[code]
On a Cortex M4F board, this will just return NULL, but on `native_posix_64` a `K_ERR_KERNEL_PANIC` is triggered.
Based on the documentation (https://docs.zephyrproject.org/latest/reference/kernel/memory/heap.html), it seems clear that there is simply not enough space

[2021-03-06 12:22] pabigot commented on #29610
This is the last time I'm removing stale from this; #29800 needs to get some attention.

[2021-03-06 12:36] #26952 closed

[2021-03-06 12:41] #32934 closed

[2021-03-06 12:56] enjiamai commented on #32137
Ok, got it, will add this.

[2021-03-06 14:12] LeBlue commented on #32898
**Further analysis**

https://github.com/zephyrproject-rtos/zephyr/blob/6cf2fdc5d1ebb9534aa980c754b1e13f5daca2fb/subsys/bluetooth/controller/ll_sw/ull_conn.c#L150-L153
[code]

-> crashes

with:
[code]
-> OK

**Increased CONN_TX_CTRL_BUF_SIZE**

did a mem dump with the increased size of `CONN_TX_CTRL_BUF_SIZE`

mem layout `mem_conn_tx_ctrl`
1. word: free pointer
each 9 words:
	1 word node_tx (link/

[2021-03-06 14:58] burumaj opened #33012 "Support for the Raspberry Pi RP2040 soc"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
This request is for the support of RP2040 SoC by the Raspberry Pi foundation. This is a dual core
Cortex-M0+ device. The reason I think this would be a great addition to Zephyr is that it is a well documented SoC
with a well documented SDK too.

**Describe why you are asking f

[2021-03-06 15:09] #32918 closed

[2021-03-06 17:36] jrhees-cae opened #33015 "spi_nor driver: SPI_NOR_IDLE_IN_DPD breaks SPI_NOR_SFDP_RUNTIME"
Using the following configuration with the spi_nor flash driver:
CONFIG_SPI_NOR_SFDP_RUNTIME=y
CONFIG_SPI_NOR_IDLE_IN_DPD=y

This results in the flash initialization failing. This is due to the following sequence of events within the `spi_nor_configure()` function:

a) call to `spi_nor_read_jedec_id()`, which within calls `acquire_device` and `release_device`, thus leaving the flash in DPD mode
b)

[2021-03-06 20:13] arapostol commented on #31447
I was able to reproduce the disconnections when I was idling using GSM PPP, but not with Wi-Fi.

[2021-03-06 20:15] ioannisg commented on #33012
CC @carlescufi

[2021-03-06 20:50] jukkar commented on #25497
I do not have time to work on this, so unassigning.

[2021-03-06 21:00] jukkar commented on #25187
The DSA support is already merged so it looks like we can close this.

[2021-03-06 21:00] #25187 closed

[2021-03-06 21:12] jukkar commented on #22061
DSA support is already merged, so closing this one.

[2021-03-06 21:12] #22061 closed

[2021-03-06 23:06] jrhees-cae opened #33016 "spi_nor: CONFIG_SPI_NOR_SFDP_RUNTIME leaves flash in Standby after spi_nor_configure()"
Using the following configuration with the spi_nor flash driver:
CONFIG_SPI_NOR_IDLE_IN_DPD=y

and
   CONFIG_SPI_NOR_SFDP_DEVICETREE=y  OR  CONFIG_SPI_NOR_SFDP_MINIMAL=y

This results in the the flash chip being left in STANDBY (not DPD) upon exit of `spi_nor_configure()`. In other words, the flash, after initialization of the spi_nor driver, is not in DPD. Subsequent flash accesses will correct t

[2021-03-07 00:39] zephyrbot opened #33018 "[Coverity CID :219677] Logically dead code in drivers/timer/npcx_itim_timer.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/timer/npcx_itim_timer.c

Category: Control flow issues
Function: `npcx_itim_start_evt_tmr_by_tick`
Component: Drivers
CID: [219677](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219677)

Details:

https://github.com/zephyrproject-rtos/zeph

[2021-03-07 00:39] zephyrbot opened #33019 "[Coverity CID :219676] Unchecked return value in drivers/modem/wncm14a2a.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/modem/wncm14a2a.c

Category: Error handling issues
Function: `wncm14a2a_rx`
Component: Drivers
CID: [219676](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219676)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b25

[2021-03-07 00:39] zephyrbot opened #33020 "[Coverity CID :219675] Macro compares unsigned to 0 in kernel/include/mmu.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/kernel/include/mmu.h

Category: Integer handling issues
Function: `z_is_page_frame`
Component: Kernel
CID: [219675](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219675)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b254

[2021-03-07 00:39] zephyrbot opened #33021 "[Coverity CID :219673] Untrusted value as argument in samples/net/sockets/coap_client/src/coap-client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_client/src/coap-client.c

Category: Insecure data handling
Function: `process_obs_coap_reply`
Component: Samples
CID: [219673](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219673)

Details:

https://github.com/zephyrproje

[2021-03-07 00:39] zephyrbot opened #33022 "[Coverity CID :219672] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `test_post`
Component: Samples
CID: [219672](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219672)

Details:

https://github.com/zephyrproject-rtos/zephy

[2021-03-07 00:52] zephyrbot opened #33023 "[Coverity CID :219669] Untrusted value as argument in subsys/mgmt/updatehub/updatehub.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/mgmt/updatehub/updatehub.c

Category: Insecure data handling
Function: `install_update_cb`
Component: Other
CID: [219669](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219669)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd9

[2021-03-07 00:53] zephyrbot opened #33024 "[Coverity CID :219668] Dereference after null check in drivers/espi/host_subs_npcx.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/espi/host_subs_npcx.c#L801

Category: Null pointer dereferences
Function: `npcx_host_periph_write_request`
Component: Drivers
CID: [219668](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219668)

Details:

https://github.com/zephyrproject-r

[2021-03-07 00:53] zephyrbot opened #33025 "[Coverity CID :219667] Untrusted value as argument in tests/net/lib/coap/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/lib/coap/src/main.c#L1376

Category: Insecure data handling
Function: `server_resource_1_get`
Component: Tests
CID: [219667](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219667)

Details:

https://github.com/zephyrproject-rtos/zephyr/bl

[2021-03-07 00:53] zephyrbot opened #33026 "[Coverity CID :219666] Out-of-bounds access in tests/bluetooth/tester/src/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/bluetooth/tester/src/gatt.c#L838

Category: Memory - corruptions
Function: `set_attr_enc_key_size`
Component: Tests
CID: [219666](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219666)

Details:

https://github.com/zephyrproject-rtos/zephyr/b

[2021-03-07 00:53] zephyrbot opened #33027 "[Coverity CID :219662] Inequality comparison against NULL in lib/os/cbprintf_packaged.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/lib/os/cbprintf_packaged.c#L54

Category: Incorrect expression
Function: `ptr_in_rodata`
Component: Other
CID: [219662](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219662)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338

[2021-03-07 00:53] zephyrbot opened #33028 "[Coverity CID :219661] Unchecked return value in subsys/bluetooth/host/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/host/gatt.c#L4628

Category: Error handling issues
Function: `bt_gatt_connected`
Component: Bluetooth
CID: [219661](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219661)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob

[2021-03-07 00:53] zephyrbot opened #33029 "[Coverity CID :219660] Untrusted divisor in drivers/sensor/bme680/bme680.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/sensor/bme680/bme680.c#L382

Category: Insecure data handling
Function: `bme680_chip_init`
Component: Drivers
CID: [219660](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219660)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/

[2021-03-07 00:53] zephyrbot opened #33030 "[Coverity CID :219659] Side effect in assertion in tests/subsys/edac/ibecc/src/ibecc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/subsys/edac/ibecc/src/ibecc.c#L199

Category: Incorrect expression
Function: `check_values`
Component: Tests
CID: [219659](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219659)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd9

[2021-03-07 00:53] zephyrbot opened #33031 "[Coverity CID :219658] Untrusted value as argument in samples/net/sockets/coap_client/src/coap-client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_client/src/coap-client.c#L298

Category: Insecure data handling
Function: `process_large_coap_reply`
Component: Samples
CID: [219658](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219658)

Details:

https://github.com/zeph

[2021-03-07 00:53] zephyrbot opened #33032 "[Coverity CID :219656] Uninitialized scalar variable in tests/kernel/threads/thread_stack/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/kernel/threads/thread_stack/src/main.c#L167

Category: Uninitialized variables
Function: `stack_buffer_scenarios`
Component: Tests
CID: [219656](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219656)

Details:

https://github.com/zephyrprojec