[2019-10-28 11:59] #20042 closed

[2019-10-28 12:15] pabigot commented on #17902
@fabled @psidhu thanks.

I looked at a few datasheets for the ADCs referenced and couldn't find any that used anything but the standard 4-wire SPI serial interface.  So there I think the "QSPI" search term was finding "SPI-/QSPI-/MICROWIRE-/TMS320-Compatible 4-Wire Serial Interface".  There may be quad-SPI DACs and ADCs, but I haven't been able to find one: "quad" in all matches refers to somethin

[2019-10-28 13:36] galak commented on #17309
@pabigot just doing a quick scan of this, but have we dealt with the issues described here?

[2019-10-28 13:46] StefJar commented on #14066
For all who needs to deal with the stm32F4xx series. I figured out a work around. It's a bit dirty but it works well for me.

I put the blueprint of the solution to my answer on StackOverflow:

https://stackoverflow.com/questions/58222886/how-to-setup-the-standby-mode-on-a-stm32f4-mcu-running-an-rtos-and-waking-it-up

@erwango I am excited to see the official solution.

[2019-10-28 14:10] pabigot commented on #17309
* GPIOS -- yes (#18588)
* Tokenizable values, Generated Enums -- No.
* Array initializers -- yes (#17395), and in-progress (#20174)

If I create a new issue for the token/enum capability and #20174 gets merged (I will update per your comment), I can close this.  Is that plan OK?

[2019-10-28 14:23] kristiankajak commented on #20153
Hi @carlescufi and @joerchan,
Thank you for the reply. I figured that indeed the UART speed will definitely become a limiting resource when using BT5 for max throughput, but I didn't expect the bottleneck to appear as early as it seems right now.

Some debug info:
1) My controller configuration follows a similar setup to what @carlescufi posted, whereas `BT_CTLR_RX_BUFFERS = 10, BT_CTLR_TX_BUFFERS

[2019-10-28 15:12] pabigot commented on #20167
This appears to be fixed by e5b462b0103e741683b5cdc89a6f87e70840c430 which was hidden inside #19114 and was merged earlier today.  Please re-open if it still doesn't work.

[2019-10-28 15:12] #20167 closed

[2019-10-28 15:16] jukkar commented on #20100
ping @wvk86 can you do some testing with your setup and verify that this now works as expected?

[2019-10-28 15:33] joerchan commented on #20153
@kristiankajak You are only sending L2CAP 23 bytes, and Link Layer 27 bytes. Even though the Link Layer connection is able to transmit 251 bytes. You need to enqueue larger packets to get your throughput up. (Bluetooth does not support more than one l2cap packets inside a single LL packet).

The sniffer will not be able to handle the full throughput. Because of the 1M/s baudrate of the UART. When

[2019-10-28 15:42] kristiankajak commented on #20153
Hi @joerchan ,

As I explained, I wasn't able to use the DLE in the sniffer logs due to using a slightly different setup (I had to implement the sniffer on the one NRF52 dev kit I had) than I did when measuring the throughput.

The throughput of 550 Kbit/s was reached with LL payload size of 251, so this is not the problem.

[2019-10-28 16:06] joerchan commented on #20153
@kristiankajak I don't understand the setup.
From your description:
In the first one you had one nrf52 dev-kit and one nrf52840 USB dongle.
In the second one you had two nrf52840 USB dongle.

So if you don't get DLE to work on the USB dongle, then how can you get DLE with 251 bytes in your first setup, wont' you be limited by the USB dongle?

[2019-10-28 16:32] kristiankajak commented on #20153
@joerchan , you are correct about the setup.

In terms on the DLE enabling, sorry for being shy on the details, but I did this intentionally to keep the focus of this topic. But to explain, I have been experiencing difficulties sending 251B payload with 2x Dongle setup. DLE is enabled, but the LL payload size cannot be increased further than 68B, otherwise the data does not reach the remote end. I

[2019-10-28 17:51] ulfalizer commented on #20172
Maybe a `length:` field could be added to bindings for checking the length too, if needed.

Something like

[code]

[2019-10-28 18:01] pabigot commented on #20172
Yeah, that could be useful, as long as its absence means any number of entries is allowed.

To be clear: `array` is intended to replace all uses of `compound`, including heterogenous structures?  Or does `compound` still get used for that.  You can answer by making it clear in the PR that improves the documentation.

[2019-10-28 18:32] pfalcon commented on #20167
More specifically, I ack and confirm this issue. It's one of many conflicts related to Zephyr's POSIX subsystem, which get tracked and persistently fixed since the beginning of this year following the approach "POSIX subsys and libc should cooperate, not compete, and newlib should be used as a pattern/convention for libc interfacing (i.e. e.g. minlibc should behave/be structured as newlibc)".

I'v

[2019-10-28 21:37] sdalu commented on #20167
It's working for me, thanks

[2019-10-29 03:14] chen-png opened #20202 "tests/arch/arm/arm_interrupt failed on sam_e70_xplained board."
**Describe**
Test case arch.interrupt.no.optimizations in tests/arch/arm/arm_interrupt failed on sam_e70_xplained.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=sam_e70_xplained tests/arch/arm/arm_interrupt
    -DCONFIG_NO_OPTIMIZATIONS=y  -DCONFIG_IDLE_STACK_SIZE=512
2. west flash
3. See error

**Screenshots or console output**
***** Booting Zephyr OS build zephyr-v2.0.0-156

[2019-10-29 05:11] #16900 closed

[2019-10-29 05:23] cvinayak commented on #20135
@mtpr-ot This test is passing on the EBQ Qualifier, sent logs by email.

[2019-10-29 05:34] galak commented on #18530
@jenmwms any update on the intel-apl or pcal9535a drivers?

[2019-10-29 06:23] galak commented on #8481
@carlescufi ?

[2019-10-29 06:56] hakehuang opened #20205 "ztest testing.ztest does not have a prj.conf with CONFIG_ZTEST=y"
**Describe the bug**
if we directy build the tests/ztest/base it will report
zephyr/tests/ztest/base/src/main.c:7:10: fatal error: ztest.h: No such file or directory

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
build clean

**Impact**
unknown

**Screenshots or console output**

[code]

**Environm

[2019-10-29 06:57] hakehuang commented on #20205
@MaureenHelm can I assign it to me and fix it?

[2019-10-29 08:58] vikrant8051 commented on #19459
Hi @menglingao1997,
https://github.com/vikrant8051/zephyr/tree/fix_bugs32/samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app

Please go through with above project which is improved version of onoff_level_lighting_vnd_app.

(https://github.com/zephyrproject-rtos/zephyr/pull/20170 this is PR which will merged soon to reflect the changes.)

Hope you will like it. Any feedback or suggestions are h

[2019-10-29 09:18] #19841 closed

[2019-10-29 09:56] SebastianBoe commented on #20140
Will get this supported then.

[2019-10-29 10:11] mtpr-ot commented on #20135
Logs recevied and look fine, thanks. However, the problem is that if you run it twice without reset, it fails at my desk.
Looking int the implementation in ull_conn.c, it looks like "lll.master.terminate_ack" is never set to zero, so after first terminate ack, it cleans up before sending the ack.
@cvinayak, can you confirm?

[2019-10-29 10:32] pabigot commented on #19438
In #20174 there's a patch that detects a misconfiguration that might have produced this behavior: unless `CONFIG_SPI_NOR_FLASH_LAYOUT_PAGE_SIZE` is a multiple of 4096 (the underlying serial flash sector size) flash pages can't be erased.  A smaller size should have caused an error to be returned, which should have caused an `assert` to fail, unless the build disabled asserts, or the superseded cod

[2019-10-29 10:45] pabigot commented on #20109
A note for any TSC discussion: the same issue applies to the `cc2650` platform (for which recent interest has been expressed).  Can it stay (without GPIO support), or should it go?

Unlike (apparently) nios2 this is real hardware, and I'd be pretty annoyed if I saw it was listed as a supported platform but then later found out I couldn't use the buttons or LEDs.

(And the `pcal9535a` external GPIO

[2019-10-29 11:22] andrewboie commented on #20109
The Nios II port runs on the Altera Max10 board, which unless I'm hallucinating is real hardware

I really can't understand where you're coming from. Removing the platform completely is somehow better than supporting the platform with the caveat that they might have to write a GPIO driver??

[2019-10-29 11:34] nashif commented on #20109
fixed in #20214

[2019-10-29 11:35] pabigot commented on #20202
Also on nrf52840_pca10056.

[2019-10-29 11:42] stephanosio commented on #20109
Please don't remove NIOS II support. Removing a platform support just because GPIO driver is not available makes no sense, especially for NIOS II.

If you are using NIOS II (i.e. a soft-processor for ~Altera~Intel FPGAs), it is very likely that you don't even have a PIO core instantiated to begin with, as that is just extra LEs wasted and you really don't need it most of the times.

[2019-10-29 11:43] pabigot commented on #20109
For the maker community and others who are just interested in using Zephyr without having to take on fixing its functional gaps, I think a case can be made that the answer is yes: it's better to not have it than mislead people about its usability.

Is there no minimal bar for what it means to support a platform?  blinky working would seem to be a reasonable minimal-support feature.

[2019-10-29 12:29] stephanosio opened #20217 "Extend qemu_cortex_r5 test coverage"
At the time of writing, the `qemu_cortex_r5` board based on `xilinx_zynqmp` SoC is only able to run very basic non-multitasking samples and tests (e.g. `hello_world` sample).

In order to improve test coverage on the `qemu_cortex_r5` platform and facilitate CI testing of the ARM Cortex-R port, QEMU needs to be patched to provide a better emulation of the RPU of the Xilinx ZynqMP SoC; at the same t

[2019-10-29 12:35] stephanosio commented on #20217
cc @bbolen @wjliang @carlocaione @ioannisg

[2019-10-29 13:40] jukkar commented on #16809
TCP2 was merged to upstream last Friday so we will concentrate next to test it.

[2019-10-29 13:43] nvlsianpu commented on #20163
@fnde-ot As you implemented custom back-ends support, can you put some light on this questions?

[2019-10-29 13:51] nvlsianpu commented on #20163
As I can tell `settings_src_register()` role is to register handler required to serve the back-end. As multiple backnd might be used as setting origin therefore structure with handlers is provided in container for source list node.
itf - probably stand for `interface`
csi - probably stand for `custom interface`
Anyway. I wouldn't take care about what exactly above acronyms stand for.

[2019-10-29 14:02] dleach02 commented on #20109
I believe the discussion we had re: GPIO was to remove GPIO support from boards that did not have a maintainer that could do the work on the new GPIO API. If someone comes along and needs GPIO support for these platforms then they can do the work to enable the new driver support.

I get that a platform may be extremely less useful without GPIO and completely removing the platform may be the next s

[2019-10-29 14:57] stephanosio commented on #20217
Sample qemu RPU boot command line using the latest dts:
`qemu-system-aarch64 -machine arm-generic-fdt -nographic -dtb ~/Dev/xilinx-qemu-devicetrees/build/zcu102-arm.dtb -serial mon:stdio -device loader,file=/home/stephanos/Dev/zephyr-public/zephyr/tests/kernel/timer/timer_monotonic/build_cr5/zephyr/zephyr.elf,cpu-num=4 -device loader,addr=0xff5e023c,data=0x80008fde,data-len=4 -device loader,addr=0

[2019-10-29 15:17] jenmwms commented on #18530
@Kumar Gala<mailto:kumar.gala@linaro.org> I am working on the intel-apl. It could help to have a pair programming sync with someone familiar with apl. I’ll reach out to those around today.  I’m making progress though!
@Leung, Daniel<mailto:daniel.leung@intel.com> is looking at the pcal9535a drivers.

From: Kumar Gala <notifications@github.com>
Sent: Monday, October 28, 2019 10:35 PM
To: zephyrproj

[2019-10-29 16:58] cvinayak commented on #20135
@mtpr-ot confirmed. I will try sending a PR tomorrow.

[2019-10-29 17:29] cvinayak commented on #20153
@kristiankajak This could appear to be a limitation of the USB driver implementation? @anangl, I remember Segger host dropped UART bytes beyond 64 bytes unless MSD was disabled on MacOS, could it be similar on Nordic's CDC implementation?

[2019-10-29 18:27] pabigot opened #20223 "[TOPIC-GPIO] efr32mg_sltb004a fails 2-pin double-edge detection test"
On the current topic-gpio branch the efr32mg_sltb004a fails to pass the double-edge detection test in `gpio_basic_api`.

[2019-10-29 18:29] pabigot opened #20224 "[TOPIC-GPIO] rv32m1_vega_ri5cy fails 2-pin double-edge detection test"
On the current topic-gpio branch the `rv32m1_vega_ri5cy` target fails to pass the double-edge detection test in gpio_basic_api.

[2019-10-29 18:31] pabigot opened #20225 "[TOPIC-GPIO] sam_e70_xplained fails 2-pin active-low pull test"
The failure occurs when the output is disconnected and the input is configured as an active-low pull-up: the pin reads low/false when it should read high/true.  Interestingly the corresponding test for active-high pull-up passes.

[2019-10-30 07:00] fnde-ot commented on #20163
The documentation is actually wrong, as we need to pass a **settings_store** node to settings_src_register and settings_dst_register APIs, and not a **settings_store_itf**. Good catch!

**settings_store** is a linked list node containing a **settings_store_itf** element (see include/settings/settings.h).

I will update the doc. Meanwhile you can checkout examples of registering a backend in settin

[2019-10-30 07:31] #15598 closed

[2019-10-30 09:56] cvinayak opened #20232 "Bluetooth: Kernel panic on gatt discover in shell app"
**Describe the bug**
Performing the cmd ```gatt discover``` in the tests/bluetooth/shell application before discover completes causes kernel panic.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=nrf52840_pca10056 ../tests/bluetooth/shell/
3. ninja
4. ninja flash

Flash onto two DKs. And open two serial port terminals (ex: minicom -D /dev/ttyACM

[2019-10-30 10:42] chrta commented on #20223
I will have a look at it, since i am currently working with this board.

[2019-10-30 10:53] pabigot commented on #20223
@chrta sorry, didn't see your comment but was already working on it before you posted.

[2019-10-30 10:59] chrta commented on #20223
No problem, another race condition...

[2019-10-30 11:01] emob-nordic opened #20236 "usb: api: Cleanup of current inclusion path for USB"
## Introduction
USB public API should be reworked so user can see only what is necessary.
### Problem description
User app shouldn't be aware of what is happening in the stack and in device controller.
Currently in the public API [usb_device.h](https://github.com/zephyrproject-rtos/zephyr/blob/master/include/usb/usb_device.h) some additional structures, enums and callbacks are defined which should

[2019-10-30 11:01] joerchan commented on #20232
This is documented for `bt_gatt_discover`.
[code]

So this is only a problem that the shell allows the second call to discover.

[2019-10-30 11:04] Vudentz commented on #20232
Yeah, we might be able to prevent that to happen by checking if the parameters are already in use.

[2019-10-30 11:05] joerchan commented on #20232
@Vudentz I'll just submit a PR with some mutexes.

[2019-10-30 11:59] ulfalizer commented on #20104
@SebastianBoe
Could you re-run your profiling thing again? With https://github.com/zephyrproject-rtos/zephyr/pull/20206 merged, things should be faster.

My comp is an old Core i7 2600k from 2012, so might not be a great comparison.~

[2019-10-30 13:22] vikrant8051 commented on #19685
Is that means, no one else facing this issue ?

[2019-10-30 14:25] WilliamGFish opened #20244 "mesh: demo: BT fails it init"
**Describe the bug**
BT radion fails to initialise after fetching he latest changes, the BT Mesh provisioning additions  **(PR: 17729)**
- Bluetooth: Mesh: Add support for provisioner over PB-ADV to shell
- Bluetooth: Mesh: Add bt_mesh_provision_adv API
- Bluetooth: Mesh: Add support for provisioner role over PB-ADV
- Bluetooth: Mesh: Add callback for unprovisioned device beacon

**To Reproduce**

[2019-10-30 14:32] ssharks opened #20245 "HTTP parser error with chunked transfer encoding"
With the fixes from #6410, the HTTP parser now breaks when there is a chunked transfer encoding. The issue reproduces with release 1.11.

I added a test to the http_header_field test and fixed the prj.cfg, so the test runs
[http_header_fields.zip](https://github.com/zephyrproject-rtos/zephyr/files/3789427/http_header_fields.zip)
I tried to involve the http_client.c to get it to reproduce, but did

[2019-10-30 14:43] Mani-Sadhasivam opened #20246 "Module Request: hal_unisoc"
This RFC issue is targeted towards adding Unisoc HAL libraries as a module to zephyr. Currently, there is only UWP5 HAL is available here: https://github.com/unisoc/hal_uwp5.git

This HAL library will be used by SoCs such as UWP5661 SoC in 96Boards IVY5661 board. The rest of the HALs for different family SoCs from Unisoc can also be hosted in this module in future!

Preferred repository/module nam

[2019-10-30 16:01] WilliamGFish commented on #20244
After flashing latest firmware and using the instructions in on the website (link above) all is well again.

I always get the Micro:bits out every time there are BT changes.

Thanks...

[2019-10-30 16:01] #20244 closed

[2019-10-30 18:14] LeBlue opened #20250 "hci_usb: scanning crashes controller if a lot of devices are nearby"
**Describe the bug**
When enableing scanning in an environment where a lot of advertising devices are present, the controller may crashs after sending a lot of garbage hci events via USB.

This issue will happen sometimes with around 50 devices and regularly with more then 80 devices nearby and almost instantly with ~100.

What have you tried to diagnose or workaround this issue?
Different values

[2019-10-30 18:39] albertofloyd commented on #20033
@andyross @nashif could you comment on this ?
Is there a recommended why to use k_sleep() inside a thread that is intended to be suspended?

[2019-10-30 18:48] ntavish commented on #15246
Issue is closed but just as an update, I think whoever is seeing this issue must have moved the SDK location after installation.

For example on my system, the `dtc` path right now is `/opt/zephyr-sdk-0.10/sysroots/x86_64-pokysdk-linux/usr/bin/dtc`. On trying to execute the file I just see:
[code]

The dynamic linker/loader path is different than it should be because I must have moved it after ins

[2019-10-30 19:14] andyross commented on #20033
A suspended thread should never be scheduled, no.  In the first example, you're trying to suspend the **current** thread, though?  That's not really the intent of the API, it's an asynchronous thing intended to suspend other threads.  So what happens is that it returns synchronously, as the API itself is not a schedule point.  It could be made to be so without difficulty, though.

As to the k_slee

[2019-10-30 21:29] cito-lito commented on #15906
im facing the same issue, how did you fixed it?

[2019-10-30 22:34] lanvis commented on #19560
I pulled the master but the overlay-composite-cdc-console.conf is not in the samples/subsys/usb/cdc_acm directory so I made it from the contents you show above.  I changed no source so the example only opens the first port.  I would expect the console to open the 2nd port but I see no 2nd port being opened.

prj.conf
CONFIG_STDOUT_CONSOLE=y
CONFIG_GPIO=y
CONFIG_USB=y
CONFIG_USB_DEVICE_STACK=y
CONF

[2019-10-31 06:47] galak commented on #19552
@pabigot can we close this with the merge of #19553?

[2019-10-31 07:16] #20163 closed

[2019-10-31 07:30] Mani-Sadhasivam commented on #20246
tagging @galak @MaureenHelm @carlescufi

[2019-10-31 08:02] andrewboie commented on #19783
arch/x86_64 has been removed
However its replacement, arch/x86/intel64, doesn't have working floating point.

[2019-10-31 08:05] lowlander commented on #19783
@andrewboie no float at all?

[2019-10-31 08:24] wopu-ot opened #20255 "Meta-IRQs making cooperative threads preemptive"
**Describe the bug**
Meta-IRQs can make cooperative threads preempt each other. The documentation on meta-IRQs mentions that "this breaks the promise made to cooperative threads" but it is unexpected that this implies not only that meta-IRQs can preempt cooperative threads, but also that cooperative threads can preempt each other.

**To Reproduce**
Consider 3 threads with decreasing priorities { M

[2019-10-31 08:32] andrewboie commented on #19783
@lowlander disregard, it's there, just not lazy fp save/restore (which has security issues on current CPUs anyway).

I think we can close this now.

[2019-10-31 08:33] andrewboie commented on #19783
mis-click, see if you have the same problem with the new x86 64-bit port

[2019-10-31 08:42] nvlsianpu opened #20256 "settings subsystem sample"
Add a sample which shows how to use settings subsystem.

[2019-10-31 09:23] lowlander commented on #19783
Is the new x86-64 all just in master ?

[2019-10-31 09:36] jukkar commented on #20245
You are using very old release 1.11, is it possible that you could use some later release? Currently we support 1.14 LTS and latest upstream.

[2019-10-31 10:03] tsvehagen opened #20259 "Bluetooth: Mesh: Network management"
## Introduction

The following is taken from the Bluetooth Mesh Profile specification, 3.10.1 Mesh Network Creation procedure

_To create a mesh network, a Provisioner is required. A Provisioner shall generate a network key, provide an IV Index, and allocate a unicast address._
...
_The Provisioner can then find unprovisioned devices by scanning for Unprovisioned Device beacons using active or pas

[2019-10-31 10:25] #19552 closed

[2019-10-31 10:37] andrewboie commented on #20255
Is the expected behavior here that if B is running, IRQ M fires and releases a resource that A was sleeping on, that context returns back to B instead of A?

[2019-10-31 10:54] kristiankajak commented on #20153
@cvinayak This seems to be the case yes. As for the HCI UART implementation with 251B payload, I'm going to, at some point, test this setup with an android device on the remote end. This maybe will give some insight into where the bottleneck is. I will keep you guys updated.

[2019-10-31 11:09] SebastianBoe commented on #20104
I'm measuring #20206 and #20206~1 to be at 1.67s and 1.72s, so it definitely helped.

[2019-10-31 11:22] wopu-ot commented on #20255
Yes, returning to B (as a regular IRQ would do as described [here](https://docs.zephyrproject.org/latest/reference/kernel/scheduling/index.html#cooperative-time-slicing)) would be the expected behavior.

[2019-10-31 13:23] wentongwu opened #20260 "logging system call"
@nordic-krch for log_printk function, as below code show, can we just give fmt and va_list ap to system call z_log_string_from_user instead of get another buffer(str) in stack and do some copy(vsnprintk), and finally give str to z_log_string_from_user?

                if (_is_user_context()) {
                        u8_t str[CONFIG_LOG_PRINTK_MAX_STRING_LENGTH + 1];

                        vsnp

[2019-10-31 13:46] #14683 closed

[2019-10-31 14:27] andrewboie commented on #20260
no.
You cannot pass a va_list through a system call, that's a huge security hole.

[2019-10-31 14:28] andrewboie commented on #14173
What is the current status of this?

[2019-10-31 14:39] andrewboie commented on #20033
I think k_thread_suspend(k_current_get()) is pathological but we could easily make this a schedule point as Andy says.

however, if thread A calls k_sleep(), and while sleeping, another thread suspends it, the expiration of the timeout should not wake up the thread. @andyross do we have any tests that exercise this?

@albertofloyd which of these cases is the one concerning you, such that you marke

[2019-10-31 14:43] andrewboie commented on #20255
So for arches that use z_arch_swap(), the scheduling decisions are made in arch code coming out of interrupt. This might be an ARM-specific issue, I think x86 does the right thing already.

We *really* need a test case for this.

[2019-10-31 15:00] maxvankessel opened #20262 "dt-binding for timers"
I can' t wrap my head around the timer binding.

Currently I'm developing on a STM32F4 soc. And using the timer for multiple things.
So I've created an out-of-tree timer driver to support reading HALL sensors (which is a feature of the timer)
I've also supported the advanced timer functionality of the timer to drive a motor.

But every time I copy code from driver to driver to do the same thing, l

[2019-10-31 15:11] LingoMeng commented on #20259
The specification does not mandate that this configuration client model must be supported.  While I think should add `CONFIG_BT_MESH_CONFIGURATOR` in `kconfig`
[code]

[2019-10-31 16:35] wdhpawa opened #20264 "Bluetooth: Delay advertising events instead of dropping them on collision"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, an advertising event is dropped when it collides in time with a higher priority event, unless a sufficient number of consecutive advertising events have already been dropped, in which case the advertising event wins, and the higher priority event is dropped. Such collisions can be quite frequent when advertising is

[2019-10-31 17:19] lanvis commented on #19560
OK .. found that it waits for DTR so need to comment out  the DTR_WAIT config and all is good.
If you don't do this, you need to have the serial port connection (e.g. term emulator) on the assigned port before execution continues.  All is good.
Thanks ... am closing.

[2019-10-31 17:19] #19560 closed

[2019-10-31 23:52] NidhCypress opened #20269 "Add support for opamps in MCUs"
Many MCUs have integrated opamps. Please add peripheral API support for opamps.

[2019-11-01 08:57] maxvankessel commented on #20262
This is what I've come up with so far:
[code]

It has a `timer-controller.yaml` and a `timer-device.yaml` But it still is a timer inside a timer which uses `dts-fixups`

[2019-11-01 11:21] erwango commented on #19414
@ErekoseTCE, is the issue still active?

[2019-11-01 11:22] erwango commented on #18749
@Mani-Sadhasivam, did you had time to test?

[2019-11-01 11:25] erwango commented on #18143
@likeaferrari, is the issue still active?

[2019-11-01 11:26] erwango commented on #18585
Closing as G4 is supported now. Thanks!

[2019-11-01 11:26] #18585 closed

[2019-11-01 11:30] erwango commented on #17949
@StefJar , is this issue still valid?

[2019-11-01 11:35] erwango commented on #16673
@ydamigos, @loicpoulain any update on this?

[2019-11-01 11:35] erwango commented on #16041
@maweicoltsmart, is this issue still valid?

[2019-11-01 11:38] erwango commented on #16023
@jli157, is the issue still active?

[2019-11-01 11:53] Mani-Sadhasivam commented on #18749
@erwango Sorry for not updating this issue. The problem got solved using @arnop2's patch.

closing...

[2019-11-01 11:53] #18749 closed

[2019-11-01 13:18] #18305 closed

[2019-11-01 14:19] wentongwu commented on #14173
all my changes are here https://github.com/wentongwu/zephyr/commits/icount
after you visit Shanghai, I have no time to handle this issue. If this issue is urgent, I will try to find the root cause for the only failed case next week.

[2019-11-01 14:21] rmstoi opened #20274 "Kconfig new libc changes cause echo server cmake error"
After libc config changes

9555f82d28
0e59f6846f
c1f865b412

echo server cmake fails:

[code]

Results in cmake error:
[code]

[2019-11-01 14:47] jfischer-phytec-iot commented on #20250
What that means "conroller may crashs", bt controller? usb device controller? any logs from the Zephyr side?

[2019-11-01 14:53] SebastianBoe commented on #20274
I believe master is broken because dd9480913e9 is incompatible with the libc changes, but these two commits were not integration tested in CI.

[2019-11-01 14:59] zzzh opened #20278 "Something is wrong when trying ST7789V sample"
**Describe the bug**
Hello,
I have a ST7789V based LCD module ( a 1.54" one, not TL019FQV01), and nrf52_pca10040 board,  so I did a try on ST7789V sample.
Unfortunately,  I got "display_st7789v: Could not get SPI device for LCD", I checked the code and realize that it can't find it from the inited driver.
I don't understand why, any ideas?

**To Reproduce**
Steps to reproduce the behavior:
Just fo

[2019-11-01 15:00] rmstoi commented on #20274
Reverting:

9555f82
0e59f68
c1f865b

Fixes cmake issues in my environment

[2019-11-01 15:40] #20274 closed

[2019-11-01 16:27] pabigot commented on #18551
The worst "offender" of this is the `struct bt_uuid` infrastructure, where constants like `BT_UUID_GATT_CHRC` expand to the address of a temporary, which in turn gets used in expressions that take the address of a temporary `struct bt_gatt_attr` value when using `BT_GATT_CHARACTERISTIC` when defining  services with `BT_GATT_SERVICE_DEFINE`.

If Bluetooth services are to be defined in C++ code I su

[2019-11-01 18:39] LeBlue commented on #20250
I was referring to the to the firmware built from the usb_hci sample running on the nrf52840.

With crash i meant the firmware does not respond to HCI commands anymore, Linux kernel logs show hci command timeouts and the USB device disconnecting. Initially the behaviour was observed on a modified version with mcumgr capability via a dedicated UART port. The mcumgr reset command via this interface

[2019-11-01 20:32] bandheight opened #20284 "zephyr-env.sh Is this supposed to be unsetopt posixargzero ?"
[code]

**If we don't change this option back, it may affect other scripts in the current context.**

[2019-11-01 22:14] olsky opened #20285 "ST lis2dh sample with motion callback"
Trying to set TH and DUR for the TRIGGER mode, it seems any value passed is triggering motion callback.

The functions are there but no sample -- could this be covered?

[2019-11-01 22:29] albertofloyd commented on #20033
There are 2 problems we are facing when suspending a thread from another thread.
The first one is minor regarding blocking the thread that performs the suspension of child thread to be suspended as in the test case.
Second is the one mentioned by @andyross where k_sleep before suspend results in wake from the thread.  This is the reason why I marked this as high.

I'm suspending the child threads

[2019-11-02 07:16] satyanraj opened #20286 "Problem building for ESP32"
West build fails for ESP32 while cmake build works fine !!
Please find the log below:

Any clues?
Thanks in advance!

satyan@Satyan-HP-ProBook-440-G2:~/zephyrproject/zephyr$ west build -b esp32 samples/hello_world
-- west build: build configuration:
       source directory: /home/satyan/zephyrproject/zephyr/samples/hello_world
       build directory: /home/satyan/zephyrproject/zephyr/build

[2019-11-02 07:45] aescolar commented on #19012
I must apologize for not having realized how much controversy and work there was going to be from this and having encouraged you to go this path.

[2019-11-02 10:31] vanwinkeljan commented on #19012
No problem, looks like I opened pandora's box :)

[2019-11-02 11:35] pabigot opened #20287 "devicetree generation for multiple devices of different variants"
While investigating potential approaches to #19904 I found an issue with the way the current binding generation works with multiple compatibles.

Standard practice in a node is to specify device compatibles in decreasing order of specificity, for example:

[code]

This gives the exact flash memory chip, but acknowledges it can be handled with a generic SPI NOR driver.  The exact compatible is valu

[2019-11-03 07:42] vikrant8051 commented on #19685
@jhedberg @trond-snekvik @cvinayak

CONFIG_BT_DEBUG_MONITOR=y
CONFIG_BT_DEBUG_LOG=y
CONFIG_BT_MESH_DEBUG=y
CONFIG_BT_MESH_DEBUG_PROV=y
#CONFIG_BT_MESH_DEBUG_PROXY=y
CONFIG_BT_MESH_DEBUG_BEACON=y

I've enable these config parameters & get this log in case of onoff_level_lighting_vnd_app....

[2019-11-03 11:51] vikrant8051 commented on #19685
***** Booting Zephyr OS build zephyr-v2.0.0-1633-gdbb561fd2fe2 *****
Initializing...
Bluetooth initialized
[00:00:00.00Mesh initialized
power-> 100, color-> 100
Reset Counter -> 0
9,429] <inf> fs_nvs: 8 Sectors of 4096 bytes
[00:00:00.009,429] <inf> fs_nvs: alloc wra: 1, 918
[00:00:00.009,460] <inf> fs_nvs: data wra: 1, 801
[00:00:00.012,268] <inf> bt_hci_core: HW Platform: Nordic Semiconductor (0

[2019-11-03 19:30] al3x-huang commented on #19063
How does one do this

[2019-11-04 04:34] #18143 closed

[2019-11-04 04:48] codingspirit opened #20297 "Bluetooth: can't close bt_driver log output"
**Describe the bug**
When set **BT_DEBUG_NONE** and **BT_LOG_LEVEL_OFF**, Log module **bt_driver** still print out "bt_driver: TX interrupt but no pending buffer!".
PS: **LOG_OVERRIDE_LEVEL** was set as 0.

**To Reproduce**
Steps to reproduce the behavior:
1. set **BT_DEBUG_NONE** and **BT_LOG_LEVEL_OFF** in menuconfig
2. build and flash
3. See **bt_driver** output error logs

**Expected behavior*

[2019-11-04 05:09] codingspirit commented on #20297
I'd like to add additional question here that why bt still functional although those "TX interrupt but no pending buffer" keeping jumping out, it will be great if someone can answer me, thanks

[2019-11-04 07:09] fnde-ot opened #20299 "bluetooth: host: Connection not being unreferenced when using CCC match callback"
**Describe the bug**
When returning false from the CCC match callback the connection is not unreferenced, which leads to it not being cleaned up when disconnecting. It is due to missing bt_conn_unref.

**To Reproduce**
Register a CCC attribute with a match callback, and return false from it. When trying to send a notification and disconnecting, we can see the connection not being cleaned up.

**Ex

[2019-11-04 08:01] chen-png opened #20301 "tests/drivers/watchdog/wdt_basic_api failed on mec15xxevb_assy6853 board."
**Describe the bug**
Running tests/drivers/watchdog/wdt_basic_api test case on mec15xxevb_assy6853 board, it will loop to report the message below.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mec15xxevb_assy6853  tests/drivers/watchdog/wdt_basic_api
2. west flash
3. See error

**Screenshots or console output**
Running test suite wdt_basic_test
starting test - test_wdt
Testc

[2019-11-04 08:43] #20299 closed

[2019-11-04 09:01] SebastianBoe commented on #20284
Probably, but I'm not familiar with posixargzero, so I'm not sure.

A PR that addresses this would be welcome.

[2019-11-04 09:21] ioannisg commented on #7404
Coming back to this, after quite a while.
I think we need to decide whether to make Zephyr boot process a standalone procedure. Currently, the following assumptions are made
- image starts executing from `z_arm_reset()` with MSP being the value in the reset_vector[0]
- image boots with mode: **thread** / **PRIV**
- MPU is disabled, and MPU region configuration is clean

In most use cases, the abov

[2019-11-04 09:28] SebastianBoe commented on #7404
Assuming you are asking whether Image 1 should turn off the MPU protection that Image 0 enabled then I think it should not. If Image 0 wants it's MPU protection to leak to Image 1 then it should allow it to do so, if it does not, then it should either not have enabled it in the first pace or it should clean the state before booting image 1.

[2019-11-04 09:45] #20135 closed

[2019-11-04 10:23] jhedberg commented on #20297
I'd be more concerned about this error than the logging behaviour. It looks like the UART driver on your platform (which is it btw?) is misbehaving, i.e. it's generating interrupts even though `uart_irq_tx_disable()` was called. Btw, you can turn off all logging with `CONFIG_BT_DEBUG_LOG=n` however that will turn it off for all Bluetooth modules, i.e. not just the driver.

[2019-11-04 11:14] aurel32 commented on #20301
The problem is likely that the RAM is reset when the watchdog is triggered on the SAM70 MCU. IIRC there is/was a bug opened about that, but I can't find it anymore.

[2019-11-04 11:33] pabigot commented on #20017
Some notes on converting GPIO users.  If this is useful it may be edited for clarifications/extensions.

* If you capture devicetree `GPIOS_PIN` information in a configuration structure, you should now also capture devicetree `GPIOS_FLAGS` information so it can be passed to `gpio_pin_configure` along with any direction/pull/other flags.  Both devicetree values should fit in a `u8_t`.

* Don't make

[2019-11-04 12:08] StefJar commented on #17949
thx for asking. I don't see this issue any longer. So I am closing it

[2019-11-04 12:08] #17949 closed

[2019-11-04 12:10] StefJar commented on #19545
@galak any news regarding that feature?

[2019-11-04 13:29] Almog2610 opened #20310 "SDHC : Could not enable SPI clock on nucleo_f091rc"
I'm trying to write logs to an SD card that's on my nucleo_f091rc board using the SDHC driver, however when I run my program it crashes.
I switched to **subsys/fs/fat_fs sample** to see if I can run it with my current setup, when I try to run it I get the following error :
[code]

My nucleo_f091rc.overlay file :
[code]

My prj.conf file :
[code]

**To Reproduce**
Steps to reproduce the behavior:
1

[2019-11-04 13:41] #20232 closed

[2019-11-04 14:17] lowlander commented on #19783
The SSE problem is not reproducible anymore, closing this bug report.

[2019-11-04 14:17] #19783 closed

[2019-11-04 14:39] avisconti commented on #20285
@olsky
What do you mean any value?
Can you be more specific with some example values?

Concerning the sample we can add it.

[2019-11-04 14:44] jukkar opened #20313 "Zperf documentation points to wrong iPerf varsion"
**Describe the bug**
zperf documentation in `samples/net/zperf/README.rst` talks about iPerf 2.0.9 but that version will not work properly with zperf. Only good known version atm is iPerf 2.0.5

[2019-11-04 14:53] jukkar opened #20315 "zperf TCP uploader fails"
**Describe the bug**
When running TCP uploader test, something like this is printed:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/zperf
2. cmake -B build -DBOARD=qemu_x86 .
3. make -C build run
4. setup iPerf 2.0.5 on host like this: `iperf -s -l 1K -V -B 192.0.2.2`
5. run zperf in Qemu like this: `zperf tcp upload 192.0.2.2 5001 10 1K 100`

**Expected behavior**
No

[2019-11-04 15:05] aescolar commented on #20205
@hakehuang (Risking stepping in somebody's toes) Everybody is welcome to submit a bugfix PR

[2019-11-04 15:39] olsky commented on #20285
Thanks, sample would be great!
I’m trying to set wake/sleep functionality, apparently choosing wrong values.

I should post some logging — let me collect and share...

Btw: what is the right way to set a trigger say when having 4g / 8g acceleration?

[2019-11-04 16:27] galak commented on #19226
PR #20319 is the last in tree user of generated_dts_board.conf

[2019-11-04 16:59] ulfalizer commented on #20104
@SebastianBoe
Would've expected a larger difference than that.

Could you check if this works in the interactive Python prompt? If not, LibYAML (the C parser) isn't available.

[code]

[2019-11-04 17:51] nategraff-sifive commented on #19063
It just needs a patch in the [Zephyr SDK sources](https://github.com/zephyrproject-rtos/sdk-ng/tree/master/patches) which alters the size of the DTIM in [hw/riscv/sifive_e.c in the QEMU source tree.](https://git.qemu.org/?p=qemu.git;a=blob_plain;f=hw/riscv/sifive_e.c;hb=HEAD)

You'd want to edit this struct:
[code]

Just increase the second number to something like 0x400000

[2019-11-04 17:58] d3zd3z commented on #6389
I'm ok closing this, then.

[2019-11-04 17:58] vanwinkeljan commented on #20278
@zzzh did you have any chance in testing my responce on your question in the orignal PR https://github.com/zephyrproject-rtos/zephyr/pull/17358#issuecomment-548952628 ?

[2019-11-04 18:38] olsky commented on #20285
here is a log from my test app, I also uploaded a tiny sample app.

---

SPM: NS image at 0xc000
SPM: NS MSP at 0x20020a90
SPM: NS reset vector at 0xdc8d
SPM: prepare to jump to Non-Secure image.

[00:00:00.016,571] [1B][0m<inf> lis2dh: int1 on pin=0 cfg=0x26[1B][0m
[00:00:00.024,139] [1B][0m<inf> lis2dh: int2 on pin=1 cfg=0x26[1B][0m
[00:00:00.032,470] [1B][0m<inf> lis2dh: bus=I2C_2 fs=2, odr=0x1

[2019-11-04 20:22] carlescufi commented on #20286
@satyanraj with CMake you are only generating the build system but not actually building from your log. You are mising:

`ninja -C build`

in your cmake log

[2019-11-04 21:22] mbolivar commented on #20286
[code]

My guess is this error will appear in the `ninja` output as well. It looks like you've got the wrong toolchain configured for your board.

[2019-11-04 22:30] frantony opened #20325 "samples/drivers/i2c_scanner does not work on STM32 NUCLEO and DISCOVERY boards"
**Describe the bug**

The commit 442df97366416a2779882d185c94e36619a1223a (scripts/dts: Remove alias defines for labels) makes the commit 173d07c6e5e7d98318cdbfc87ab1009a0d389a33 (samples: driver: i2c_scanner: use arduino-defined device if available) unusable.

As a result ``samples/drivers/i2c_scanner`` does not work on STM32 NUCLEO and DISCOVERY boards.

**To Reproduce**
Steps to reproduce the b

[2019-11-04 22:33] frantony commented on #20325
@galak @pabigot

Please help!

[2019-11-04 23:08] dleach02 commented on #20223
@pabigot can you confirm if the merged PR fixes this problem? And then close this if it does?

[2019-11-04 23:09] dleach02 commented on #20224
@pabigot can you confirm if the referenced PRs fix this and if so close this issue?

[2019-11-04 23:10] pabigot commented on #20325
There are two things that need to be done.

First, unless there's another solution pending (which @galak might be able to say) all Arduino bus values must switch from using a label to using an alias, as with below.

Second, once that's done the test doesn't work because the ST I2C driver doesn't handle the SMBUS command that's used to detect a NAK on the address for an absent subordinate device.

[2019-11-04 23:10] dleach02 commented on #20225
@pabigot can you confirm that the referenced PRs fixe this issue and close if addressed?

[2019-11-04 23:10] #20224 closed

[2019-11-04 23:10] #20225 closed

[2019-11-04 23:10] #20223 closed

[2019-11-05 01:07] chen-png commented on #20301
do you mean the #13468 and #14968, it seems the same issue.

[2019-11-05 01:35] codingspirit commented on #20297
@jhedberg Thanks for your quick answer, but I already set `CONFIG_BT_DEBUG_LOG` to `n`, this message still pump out.
[code]

If you are interesting in the UART misbehaving, here are some details:
Issue was happened on STM32L451, it's quite confusing me since BT HCI is still functional. Blow parts is our related dts:

[code]

As I said it confused me a lot since BT functions works normal, I can suc

[2019-11-05 02:26] andrewboie commented on #19238
Is this still a problem?

[2019-11-05 02:30] andrewboie commented on #20033
@albertofloyd thanks for the additional detail, we'll take a look.

[2019-11-05 02:39] andrewboie commented on #19922
taking a look at this, this week

[2019-11-05 02:41] andyross commented on #20033
Heh, crossed with @andrewboie (this came up in a meeting as a P1 bug status).  Just took another more careful look.  In lieu of a test case I can run directly, can you try the diff below with your rig?

The first bit is for sure a bugfix for k_thread_suspend().  It shouldn't be leaving live timeouts if one happens to be active (thread timeouts are used for all of pending/sleeping/init-startup, so

[2019-11-05 02:55] chen-png commented on #19238
It didn't report this issue any more. but in the #19339 it said that it related to this issue but didn't fix this issue, so I didn't close this.

[2019-11-05 04:19] frantony commented on #20325
@pabigot

Thanks for your explanation!

[2019-11-05 06:44] vikrant8051 commented on #19244
Hi @nwsetec,

Could you please guide me what exact configuration Parameters we have to set in context of samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app to achieve 6KB+ throughput ?
(This app supports out of the box DFU if build with prj_smp_svr.conf)

[2019-11-05 08:29] erwango commented on #20325
@ydamigos, I let you check but according to @pabigot analysis, I don't think this is a bug, but rather a improvement.

[2019-11-05 08:57] SebastianBoe commented on #20104
It works.

[2019-11-05 09:15] pabigot opened #20330 "devicetree Arduino bindings do not support identification of bus controllers"
(split off from #20325)

The commit 442df97366416a2779882d185c94e36619a1223a (scripts/dts: Remove alias defines for labels) breaks the existing use of a node label to identify Arduino bus resources.  The commit was incorrect in stating that the generated label was never used.  There is one in-tree use, in `samples/drivers/i2c_scanner`.

If it is desirable to identify Arduino bus resources, then ei

[2019-11-05 09:18] pabigot commented on #20325
If "this" is the sample not selecting the right I2C bus: I think that is a bug because it broke the sample, but it's in the infrastructure related to identifying Arduino resources in devicetree.  Nothing specific to ST, and I've pulled that out as #20330.

If "this" is the sample not working on ST when the bus is correctly identified: I can see an argument it's not a bug because the sample uses an

[2019-11-05 09:26] erwango commented on #20325
@pabigot, thanks for confirming.

[2019-11-05 10:00] pabigot opened #20332 "Nordic: DocLib links are obsolete"
Several board documentation files reference https://www.nordicsemi.com/DocLib which redirects to Infocenter.  From a UX perspective it would be nice to avoid the "go here instead" page, and ideally to link directly to the part of the infocenter that's relevant to the specific board.

[2019-11-05 11:05] #19226 closed

[2019-11-05 11:26] LeBlue commented on #20250
Attached is a zephyr log off the crash.

The usb_hci sample was built with the additional options.
[code]

[minicom_zephyr_16_11_34.log](https://github.com/zephyrproject-rtos/zephyr/files/3808710/minicom_zephyr_16_11_34.log)

Last entries from the logs are
[code]

The zephyr revision was: master@911180368

[2019-11-05 11:59] carlescufi commented on #20332
Thanks, will take care of this

[2019-11-05 12:02] galak opened #20337 "sifive_gpio: gpio_basic_api test fails"
gpio_basic_api fails on this platform.  When two level tests occur consecutively the second will fail.  Instrumentation confirms that the registers are being configured correctly, and ip indicates that the condition was detected, but the interrupt does not occur.  Tests pass as long as no level test precedes the failing test.

gpio_api_1pin also fails.

It's not clear whether this is an issue with

[2019-11-05 12:31] galak opened #20338 "IRQ: define some help functions/macro for multi-level IRQ functionality"
The following comment exists in the sifive gpio driver:

[code]

We should provide these helpers in a common place.

[2019-11-05 12:33] galak opened #20340 "Define a consistent naming convention for DTS aliases to be used by Zephyr tests/samples"
Currently we have a random mix of device tree aliases we utilize in sample & test code.
[ See #20334 for list of aliases used].

I think we've reasonable come to the point that utilizing aliases for samples/test is a good practice.  However, we haven't utilized a standard convention for these aliases like we have for chosen properties.

This issue is being opened to start the discussion on what na

[2019-11-05 12:37] erwango commented on #20340
Also, in #20334, aliases are defined in .dtsi. I'm wondering if this is the good thing to do.

[2019-11-05 12:39] galak commented on #20340
Initial proposal would be:

`zephyr,test-<DEV>-<INSTANCE>` or `zephyr,test-<DEV>-<NAME>`

So we'd have:
[code]

This would get us defines of the form:

[code]

[2019-11-05 12:40] galak commented on #20340
Agreed, for aliases utilized for samples/test I think they should be in the board dir only.  Maybe some rare case exists, but in general the board should set the alias if it can use/support the sample/test.

[2019-11-05 13:04] galak commented on #9962
@Mani-Sadhasivam can you look at converting the ccs811 to DTS?

[2019-11-05 13:15] Mani-Sadhasivam commented on #9962
@galak Okay. Will do it this weekend.

[2019-11-05 14:10] galak opened #20348 "Convert remaining entropy to Devicetree"
Catch all issue to track what DT related enhancements / changes / fixes we are aiming for in the Zephyr 2.3 Release.

- [x] Convert Sensor drivers to DT - #9962
- [x] Remove old generation script (its been deprecated for at least 2 releases now)
- [x] Convert entropy drivers to DT

[2019-11-05 14:15] galak commented on #9962
thanks

[2019-11-05 14:29] #20313 closed

[2019-11-05 14:37] pabigot commented on #20340
I'm not entirely convinced that there's a need for generic aliases like this at the board level, certainly all of the ones listed.  For example, we've already got a standard for `led-0` identifying an LED; why would we need to also have `zephyr,test-led-0`?

And we need to be careful about things like `zephyr,test-gpio-0`.  #20334 would have that be a controller, but that's not useful in a test: w

[2019-11-05 14:44] pabigot commented on #9962
A more complete list of sensors that need to be converted is in #20017; could we close this and use that one?  @galak

[2019-11-05 14:52] pabigot commented on #9962
I've transferred the entries added here to #20017 so we don't have to look in two places to see what's being worked on.  The original list there only focused on uses that included interrupts, so I'll be adding a few more to that issue.

[2019-11-05 14:54] galak commented on #9962
My changes are purely DT changes, I didn't make any conversions to new GPIO API.  So not sure about moving this list into #20017, unless we want that PR to handle both changes (DT & updated GPIO API support).

[2019-11-05 15:23] andrewboie commented on #19063
There's no other way to do this other than patching the QEMU source code?

[2019-11-05 15:33] microbuilder commented on #9962
@MaureenHelm I'm digging around to see what sensors I have from this list, but found a `hmc5883l` so I can take that one, and I'll see if I can find any other parts that don't have owners yet.

[2019-11-05 15:43] erwango opened #20351 "sample vl53l0x fails on disco_l475_iot1"
**Describe the bug**
Sensor init fails.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/sensor/vl53l0x
2. west build -b disco_l475_iot1
3. west flash
4. See error

**Expected behavior**
Sensor init succeeds  and report value

**Impact**
Cant' test sensor

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: : Linux
 - Toolch

[2019-11-05 15:44] dleach02 commented on #19540
@jukkar, I note that all the subtasks are checked off but it is unclear to me if there are actual PRs or items merged into main?

[2019-11-05 15:51] dleach02 commented on #16809
There are a number of issues on this ticket that look like they will be v2.2 (and potentially beyond) items. It would make sense to mapout the "todo" items over the various release milestones.

[2019-11-05 15:52] erwango commented on #20310
@Almog2610 the SPI clock init issue is really strange.
Do you have a way to test more basic SPI use case?

[2019-11-05 16:20] pfl commented on #19540
We have https://github.com/zephyrproject-rtos/zephyr/pull/19677 in the pipeline implementing the ticked off items. The support in net-tools was handled by https://github.com/zephyrproject-rtos/net-tools/pull/37 which was already merged.

[2019-11-05 16:25] erwango commented on #20310
@Almog2610, thanks for reporting the issue.

Good news is that https://github.com/zephyrproject-rtos/zephyr/pull/20354 should fix the reported "Could not enable SPI clock" error.
Bad news is that clock init issue was happening on SPI_1 and this is likely not linked with your hard fault.
EDIT: If HARD FAULT is still present, please raise a dedicated issue so we don't mix up.

[2019-11-05 17:19] vanwinkeljan commented on #20122
Possibly related GCC bug https://gcc.gnu.org/bugzilla/show_bug.cgi?id=88791

[2019-11-05 17:23] antfobe opened #20355 "west build for zephyr/samples/net/sockets/echo_server/ on qemu_xtensa target outputs elf with panic"
**Describe the bug**
I am trying to get zephyr network examples to run under qemu_xtensa target - west outputs the elfs, however when trying to run them on qemu with `west build -t run` they generate the following panic:
`-- west build: running target run
[0/1] To exit from QEMU enter: 'CTRL+a, x'[QEMU] CPU: sample_controller

[00:00:00.010,000] <err> os:  ** FATAL EXCEPTION

[00:00:00.010,000] <e

[2019-11-05 17:46] #20122 closed

[2019-11-05 18:22] ioannisg commented on #20301
Looks like duplicate; might want to close it. It's anyways, a LOW priority bug.

[2019-11-05 18:32] galak opened #20358 "Set Kconfig BOARD via env / cmake BOARD variable"
Right now we have the possibility of being slightly out of sync between the 'BOARD' Kconfig option and what we specify on the command line to cmake via -DBOARD.  We should have the Kconfig BOARD variable set via being passed in via cmake.

See discussion on PR #20084

[2019-11-05 19:00] jhedberg commented on #20250
Which line in the code does address `0x00020e2a` map to? You should be able to figure that out using e.g. addr2line: `addr2line -e <path to zephyr.elf> 0x00020e2a`

[2019-11-05 19:25] ulfalizer commented on #20330
How do I reproduce this failure? The sample builds when I do

[code]

[2019-11-05 19:27] ulfalizer commented on #20330
Ah... never mind. Didn't notice the last part of the diff.

[2019-11-05 19:27] pabigot commented on #20137
There are a couple failures with these options on this sample.

For timespec I think the cause is that lib/posix is being built and linked in, and though most of the source files there are conditional on some posix-related Kconfig symbol `pthread_common.c` is not, and it wants to access the clock.

Potential solutions are:
* in `lib/posix/CMakeLists.txt' make `pthread_common.c` conditional on `CON

[2019-11-05 20:02] #18858 closed

[2019-11-05 20:24] nashif commented on #20026
issue confirmed.

[2019-11-05 20:25] nashif commented on #15604
we did enable tests on all plaforms in some other tests (kernel/), so this should be covered.

[2019-11-05 20:25] #15604 closed

[2019-11-05 20:55] #20310 closed

[2019-11-05 21:45] #20202 closed

[2019-11-05 22:37] #20016 closed

[2019-11-05 23:07] andrewboie commented on #20137
I'd like to understand what your use-cases are for disabling gc-sections before we put work into addressing this configuration.

[2019-11-05 23:45] nashif opened #20366 "Make babbelsim testing more easily available outside of CI"
Right now we do some special testing using babbelsim that is not available to users running sanitycheck locally. This can be disruptive when something fails in CI but can't be reproduced locally on the developer system. Add to that the fact that the setup of nrf52_bsim is not straightforward.

We should make this available through to anyone running sanitycheck and we should be able to whatever hap

[2019-11-06 00:11] andrewboie commented on #20366
we should not be having special build configurations in CI like this.
I put a stop to doing this with ASAN, @nashif is there anything else lurking?

[2019-11-06 07:19] masz-nordic commented on #20137
@pabigot

I have created a separate issue for kernel here: #20136

[2019-11-06 08:42] aescolar commented on #20366
The way you present this is hardly fair, and certainly misleading. This was discussed very long ago, when this tests where added.

As discussed at that point:

* The extra tests that are run outside of sanitycheck cannot be run by sanitycheck because they are multi-device tests. This part has nothing to do with BabbleSim, west or the nrf52_bsim. I can certainly elaborate more on this. But in short

[2019-11-06 09:02] LeBlue commented on #20250
[code]
https://github.com/zephyrproject-rtos/zephyr/blob/911180368c0f1556dad8101473576567609b207b/kernel/sched.c#L389

[2019-11-06 09:28] LeBlue commented on #20250
There is also this error in the zephyr log:

[code]
This is roughly where the btmon shows invalid data (btsnoop format):
[btmon_16_11_38.log](https://github.com/zephyrproject-rtos/zephyr/files/3813566/btmon_16_11_38.log)

[2019-11-06 10:15] galak commented on #9962
Looks like it was pretty easy so I did it #20347

[2019-11-06 10:25] aescolar opened #20371 "Sanitycheck filtering broken"
As of now, in the master branch, the sanitycheck filtering is broken for boards without DTS, as some tests will be unfiltered if the board does not have DTS info (the default behavior should probably have been the opposite, but never mind that now)

This was introduced in #20204, and partially fixed in #20365

For more info see https://github.com/zephyrproject-rtos/zephyr/pull/20119#issuecomment-5

[2019-11-06 11:09] ExtremeGTX commented on #20286
I think for esp32 you must use espressif toolchain `ZEPHYR_TOOLCHAIN_VARIANT=espressif`
I got similar errors using zephyr toolchain

[code]

[2019-11-06 11:19] aescolar commented on #20371
By the way @stephanosio , thanks for bisecting and narrowing the issue down.

[2019-11-06 12:13] aescolar commented on #20026
Note for whoever faces it, you can always write
``stty sane``
and press enter (even if you dont get the echo)
or in the worst case
Ctrl+J `stty sane`Ctrl+J

[2019-11-06 12:48] #20371 closed

[2019-11-06 12:53] nashif commented on #20366
what exactly is not fair?

I know this was discussed long ago, but we should reevaluate and reassess and make things simpler. I had to deal with all of this yesterday and it is certainly not easy to reproduce something that fails with sanitycheck/babblesim and in my case, I know the background and I know where to look.

Sure, we can make this an enhancement, I was not asking for this to be fixed i

[2019-11-06 12:56] stephanosio commented on #20366
@aescolar @galak Is there any specific reason why BabbleSim is not part of the Zephyr SDK?

If there isn't, I suppose we could add it to https://github.com/zephyrproject-rtos/sdk-ng so that it just works out of the box as long as you use the Zephyr SDK.

[2019-11-06 13:01] aescolar commented on #20366
@stephanosio  We could, there is 2 parts to this. One is the simulator basic components and 2.4GHz Phy which are very stable. So they can easily be part of the SDK (if people does not mind getting some more stuff).
Another is the nrf52 hw models, which are more unstable as they implement an nrfx hal replacement. (that's why the nrf52_bsim build has a check of the version of the HW models. And agai

[2019-11-06 13:08] aescolar commented on #20366
This:

It is available locally if you just install it. BabbleSim is open source (Apache2) and free. It is maintained and working. Last time I tried it, it could be fetched, compiled, and run just fine in RedHat 5 (meaning in an "ancient" distro)

Ok, let's then try to understand why it is not straight forward. Both you and @stephanosio have just installed. What hurdles did you find? Was the [fetch

[2019-11-06 13:14] #9193 closed

[2019-11-06 13:25] nashif commented on #20366
Come on, this same statement can be said about anything that we have in the SDK for example, why do we bother putting things in the SDK? We could tell people to go build compilers and other tools following this model.

This might be easy to install for an experienced user 1 time, but how do you keep this part of local development without having to deal with various environment options and manual v

[2019-11-06 15:14] mbolivar commented on #20286
Reassigning to @andrewboie since this is a build system issue for esp32, not a west issue

[2019-11-06 15:54] #20177 closed

[2019-11-06 16:05] raveslave opened #20388 "Allow for runtime reconfiguration of SPI master / slave"
It would be great if there was a way to do run-time changes between SPI master to slave and back while the system is running.

This can be useful when bootstrapping an FPGA during boot. Once booted yo might want to re-use the same pins for something else, i.e. SPI slave, UART, etc.

[2019-11-06 16:20] satyanraj commented on #20286
Have exported the ESP TOOLCHAIN and IDF path correctly!!

[2019-11-06 16:28] mbolivar commented on #20286
You still didn't paste this

[2019-11-06 17:10] andrewboie commented on #20286
I'm not the appropriate assignee for this

[2019-11-06 17:23] wopu-ot opened #20392 "Bluetooth stack degrading timing of cooperative threads"
**Describe the bug**

The Bluetooth stack uses the system workqueue to execute "heavy" encryption functions. At the same time the Bluetooth subsystem insists on running the system workqueue as cooperative thread. This degrades the timing of all cooperative threads in the system.

**To Reproduce**

Run Bluetooth stack and trigger encryption. The function `bt_smp_aes_cmac` will be called from the sy

[2019-11-06 17:23] mbolivar commented on #20286
CODEOWNERS says you maintain esp32.

[2019-11-06 17:24] mbolivar commented on #20286
Changed the title of this issue to reflect that it's not a west issue

[2019-11-06 17:30] jhedberg commented on #20392
I wonder if we could somehow repurpose ecc_thread in hci_ecc.c for this. It has a pre-emptible priority. So far it's been used to emulate the standard ECC HCI commands.

[2019-11-06 17:40] andrewboie commented on #20286
So it does! I've never seen one of these boards :P We'll get an assignee sorted.

[2019-11-06 18:10] antfobe commented on #20355
Tried adding the QEMU settings at https://github.com/zephyrproject-rtos/net-tools to my prj.conf:
[prj.conf.txt](https://github.com/zephyrproject-rtos/zephyr/files/3816052/prj.conf.txt)

Still getting the panics. Can't really dig into these sdk problems hinted at the CMake error log:
[CMakeError.log](https://github.com/zephyrproject-rtos/zephyr/files/3816068/CMakeError.log)

[2019-11-06 18:52] marc-hb commented on #15604
Yes, build_all was added to tests/kernel/common/testcase.yaml by commit fc4cb492b51

I purposely broke drivers/pcie/pcie.c and ran sanitycheck on HEAD = 9ff64bb49717, ignoring unrelated (C++?) failures these 6 tests failed:

[code]

[2019-11-06 20:18] #18652 closed

[2019-11-06 22:58] #20105 closed

[2019-11-06 23:46] antfobe commented on #20355
Welp got an error related to the settings `CONFIG_NET_LOG=y` and `CONFIGT_LOG=y`

`/opt/zephyr-os/zproj/zephyr/subsys/logging/log_backend_xtensa_sim.c:31:2: error: invalid hard register usage between output operands
   31 |  __asm__ __volatile__ (
      |  ^~~~~~~`

which probably is responsible for display qemu output to stdout - so still same panic.
- I used `./go.sh xtensa_sample_controller` fo

[2019-11-07 00:06] firmwareguru commented on #10022
@Josh0027 Did you get anywhere with this, and where is the repository you've been working in?

[2019-11-07 00:07] #3056 closed

[2019-11-07 03:31] stephanosio opened #20406 "misc.app_dev.libcxx test fails to build for qemu_x86_64"
**Describe the bug**
`misc.app_dev.libcxx` test fails to build for `qemu_x86_64` due to `-lstdc++` not being specified while linking.

**Since `misc.app_dev.libcxx` is run as part of `sanitycheck` for x86 arch, `sanitycheck` also fails. This seems to have gone unnoticed because CI does not currently build and run this test on `qemu_x86_64`.**

_Unrelated note: x86_64 is classified as x86 for some

[2019-11-07 03:34] stephanosio commented on #20406
cc @andrewboie @SebastianBoe

[2019-11-07 09:23] SebastianBoe commented on #20406
I see -lstdc++ has been added through "zephyr_ld_options" and not "zephyr_link_libraries". ld_options will test whether the flag is compatible with the toolchain and silently omit it if not, whereas link_libraries just applies it.

If the flag was not optional then it should have been using the zephyr_link_libraries API.

This still begs the question of why the flag failed the compatiblity check.

[2019-11-07 09:23] finikorg opened #20409 "USB: Create webusb shell"
Create webusb shell which can be enabled with Kconfig option.

[2019-11-07 09:35] carlescufi commented on #20153
@kristiankajak make sure you have disabled the MSD as per the instructions here:
https://docs.zephyrproject.org/latest/guides/tools/nordic_segger.html#disabling-the-mass-storage-device-functionality

[2019-11-07 09:50] carlescufi commented on #8481
@galak this is not resolved, the Kconfig options are still [there](https://github.com/zephyrproject-rtos/zephyr/blob/master/soc/arm/nordic_nrf/Kconfig.peripherals).
@anangl will follow-up after 2.1 code freeze.

[2019-11-07 09:55] erwango opened #20411 "samples: lis3mdl trigger not working with x_nucleo_iks01a1"
**Describe the bug**
Following, https://github.com/zephyrproject-rtos/zephyr/pull/20343 enables defining irq pin with dts for lis3mdl sensor.
samples/shields/x_nucleo_iks01a1 was updated to exercise lis3mdl trigger but it is not working.
Since there was no samples to use it before, it might not be a regression.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -D

[2019-11-07 10:17] ioannisg opened #20412 "nRF: improve description in flash controller bindings"
From #20157

Suggestion by @ulfalizer  to improve the description field in the flash controller bindings.
[code]

`The description text for most bindings is pointless now due to that string just getting copied around, so the consistency needs to be broken.`

[2019-11-07 10:18] ioannisg commented on #20412
Needs to be done for all 4 nrf flash controller bindings

[2019-11-07 10:53] emob-nordic commented on #20250
Hi. Could You please add some debug logs to hci_driver_send function form hci_driver.c ? For eg.
[code]

I would like to see what causes BUS FAULT more or less. I cannot reproduce it by myself.

[2019-11-07 10:57] avisconti commented on #20285
So, you are interested into setting the lis2dh12 (driver is lis2dh anyway) in order to trigger the interrupt only above a certain threshold, correct?

In your code I see:

		val_threshold.val1 = 0;
		val_threshold.val2 = 64;
		err = sensor_attr_set(dev_lis2dh, SENSOR_CHAN_ACCEL_XYZ, SENSOR_ATTR_SLOPE_TH, &val_threshold);

I think this is wrong. I'm not sure this part of the driver has been really

[2019-11-07 11:03] erwango commented on #20358
Looking at discussion in PR #20084, wonder how things will end up for stuff like dual core SoCs where we define 2 targets for a same board:

For boards who have 2 different cores:
`boards/arm/stm32h747i_disco/Kconfig.defconfig`:
[code]

For boards who have different revision:
`boards/arm/stm32_min_dev`
[code]

[2019-11-07 11:03] olsky commented on #20285
Thank you for the update! Let me try for the 4G interrupt...
The sensor is lis2dh12 -- yes, and I would need to update the driver...

Question on wake/sleep: as the code is there, what are the values to try it?
Could you please share some values?

[2019-11-07 11:10] avisconti commented on #20285
You can test any motion on INT2 first

[2019-11-07 11:13] avisconti commented on #20285
I'm not a big expert.
You can take a look to wakeup feature in the application note. There are already register settings as an example.
https://www.st.com/resource/en/application_note/cd00290365.pdf

[2019-11-07 11:52] WilliamGFish opened #20414 "nRF51 issues with the split link layer"
**Executive summary**

The micro:bit and other nRF51-based targets have issues with the split link layer. Reverting to the legacy link layer works fine.
This is however a bug. The micro:bit and any other nRF51-based board should work with the split link layer, that is with:
[code]

**Describe the bug**
After compiling the Mesh_Demo sample for the BBC Micro:bit it works  but has issues:
- Intermitt

[2019-11-07 12:08] stephanosio commented on #20406
I created a PR addressing this: #20415.

I have seen `linker_ld_options` incorrectly filter out a valid linker option on multiple occasions. I think this deserves to be further investigated.

[2019-11-07 12:15] WilliamGFish opened #20416 "sample: sensor: fxos8700 issues"
**Describe the bug**
After compiling the fxos8700 sample for the BBC Micro:bit  fails to boot with a fatal error.

The issue appears to be connected to an update to the nRF series die temperature sensing. (drivers: sensor: temp_nrf5: Code cleanup #17249). The 'blocking' aspects seem to create a interrupt deadlock.

I have not reaised a PR with changes as this has links to the nRF Clock Control Cal

[2019-11-07 12:41] zzzh commented on #20278
@vanwinkeljan Thanks for replying.
I did not try that, and don't think that's the way to solve it.
Actualy, I'd fixed it by adding a line in proj.conf : CONFIG_SPI_x=y, x is the number of SPI channel you chose in the overlay file.
@carlescufi I think this is a bug.

[2019-11-07 12:53] vanwinkeljan commented on #20278
@zzzh

Note that `CONFIG_SPI_1` is set by default to `y`, so that is the reason why asked if you could use SPI 1 instead.

[2019-11-07 12:55] aqua-developer opened #20417 "BME280 wrong pressure unit?"
**Describe the bug**
When I read the pressure value I get something which seems to be off witha factor 10. The manipulation of the value in the driver code also seems to be mistaken by a factor 10. [Here](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/sensor/bme280/bme280.c#L215).

What have you tried to diagnose or workaround this issue?

**To Reproduce**
The zephyr project [rea

[2019-11-07 12:55] zzzh opened #20418 "CONFIG_HEAP_MEM_POOL_SIZE should not be limited"
**Is your feature request related to a problem? Please describe.**
I need to allocate bigger RAM size than the limit ( Supported values are: 256, 1024, 4096, and 16384 )

**Describe the solution you'd like**
The size limit should come from hardware, not a config

**Describe alternatives you've considered**
Don't limit the CONFIG_HEAP_MEM_POOL_SIZE anymore

**Additional context**

[2019-11-07 12:57] jhedberg commented on #20414
The sample itself has not been touched for a long time, so these issues must be coming from changes elsewhere in the system. It might be related to the controller, or perhaps to other parts of the system consuming more memory (the micro:bit's thread stacks are very optimized, i.e. they can easily overflow if something starts consuming more memory).

[2019-11-07 13:22] nordic-krch opened #20419 "OpenAMP as service for multiple users"
**Is your feature request related to a problem? Please describe.**
Currently, open_amp is available only as a simple demo (`samples/subsys/ipc/openamp`) where initialization is performed inside main.c of the example. It's not generic enough to add it to any application and it does not show how multiple, independent users shall use open_amp. There is a need to support registration of multiple users

[2019-11-07 13:23] nordic-krch commented on #20419
@galak @arnopo  do you know if this is planned in near future?

[2019-11-07 13:25] jhedberg commented on #19685
That's proxy.c that's failing to stop advertising, and the return value is EIO. The only place in hci_core.c that can return EIO is the bt_hci_cmd_send_sync() call. This will happen when the HCI_LE_Set_Adv_Enable(disable) command returns a non-zero command complete status. You'd need to add some more debug logs to the controller side to figure out why this HCI command is failing.

That's EALREADY

[2019-11-07 13:56] olsky commented on #20285
yes! let me test and I will post results...

[2019-11-07 14:20] pdunaj opened #20422 "Device with bonds should not accept new keys without user awareness"
**Is your enhancement proposal related to a problem? Please describe.**
We have a device A that is bonded with dongle B. Now device C comes into play. C has no bonds and it is replicating the address of B.
A looks for B - it will advertise. Since C is using B's address whitelist will allow the connection as address matches. At the moment Zephyr will succeed the security even though there are no bo

[2019-11-07 14:21] pdunaj commented on #20422
@joerchan

[2019-11-07 14:31] trond-snekvik commented on #20259
Overall, I think this is the right approach.

The way I imagine it, this management module would essentially be a database that you store addresses, keys and nodes in. Then, when you call the config client and provisioner APIs, you use the entries in this database as parameters, but you'd still be calling the config client and provisioner APIs directly. Is this what you want this module to cover,

[2019-11-07 14:32] r2r0 commented on #19483
I also will follow this closely and I hope will be able to add some support in a few months.

[2019-11-07 14:37] carlescufi commented on #20236
@emob-nordic this seems like a change worth pursuing. Are you going to send a PR that addresses this particular issue? I think we should indeed do that.

[2019-11-07 14:40] carlescufi commented on #20246
@Mani-Sadhasivam are you still waiting for this module? I can create the repo

[2019-11-07 14:48] Mani-Sadhasivam commented on #20246
@carlescufi Yes, please. I'm blocked.

[2019-11-07 14:50] carlescufi commented on #20246
https://github.com/zephyrproject-rtos/hal_unisoc

[2019-11-07 14:50] #20246 closed

[2019-11-07 14:50] nvlsianpu opened #20423 "drivers/flash: flash_get_page_info_by_off uses relative addresses"
**Describe the bug**
In general embedded flash driver uses addresses according to SoC memory map, so absolute address.
This is true for read, write and erase calls but not for `flash_get_page_info_by_offs` call which uses offset in relation to the flash begin address.

Origin of the bug:
The flash shim API `struct flash_driver_api' allows to get flash layout in shape of run-length encoded descript

[2019-11-07 14:52] emob-nordic commented on #20236
@carlescufi Yes, I am. I already have something prepared but its not clean enough to be candidate for PR.

[2019-11-07 14:53] jfischer-phytec-iot commented on #20278
The sample self is a bug, I suggest to remove this sample from the tree and add a generic shield for arduino spi.

[2019-11-07 15:14] nvlsianpu opened #20425 "storage/flash_map: flash_area_get_sectors can't fetch sectors on devices with non-zero flash base address"
**Describe the bug**
The function is implemented with silent assumption that addresses begins from zero.
Flash_map description structures provides partitioning info in absolute notation.

**Origin of the bug:**
The flash API  doesn't allow to fetch information about the flash begin offset.

**solution**
Intorduce API for fetch flash base address and use it for fixing flash_map module.

**related i

[2019-11-07 15:14] #15323 closed

[2019-11-07 15:14] arnopo commented on #20419
@nordic-krch :
Today it is already possible to have several users registering endpoints/ services, but it is not possible to deal with priorities of the RPMsgs or limit end point bandwidth( flow control).
I don't see a restriction in having several threads that send RPMsgs. This should help you to manage priorities in transmission.
In reception it is different, no assumption on the message destina

[2019-11-07 15:17] nvlsianpu commented on #20423
cc @ioannisg @carlescufi

[2019-11-07 15:17] nvlsianpu commented on #20425
cc @ioannisg @carlescufi

[2019-11-07 15:20] pabigot opened #20426 "sensors: grove temperature and light drivers out of date"
The grove temperature and light sensors pre-date the rework of the ADC API.  While they build they do not work, for reasons that include:
* On Nordic it's necessary to set the `input_positive` field, which requires a Nordic-specific constant from the HAL header:
[code]
* The ADC is configured to use the internal reference and gain 1, but it appears that driver does not account for the reference vo

[2019-11-07 15:39] joerchan commented on #20422
@pdunaj Unauthenticated pairing really shouldn't be allowed in this case. This wouldn't be a problem if the first pairing procedure had been authenticated. Since we wouldn't allow an unauthenticated pairing to replace an authenticated bond.

I have added the option you describe. @jhedberg Should we maybe enable this option by default, or my always do it?

[2019-11-07 15:40] carlescufi commented on #20236
Great, thanks Emil. I really think this is worthwhile pursuing.

[2019-11-07 15:41] #20406 closed

[2019-11-07 15:47] koffes opened #20430 "User definable logger tag"
Sometimes, one desires to investigate real-time logs from multiple devices simultaneously.
One can of course print the name, ID or state of a device, but if you have lots of log output, this involves scrolling back in the log to see.

Another scenario is that there is some basic "state" in your device which would like to know at all times.

A great feature would be to be able to prepend all log me

[2019-11-07 15:49] mrfuchs opened #20431 "sockets_tls: missing sendmsg"
The current MQTT and WebSocket implementations allow setting up secure websocket connections. However, as [sockets_tls.c](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/sockets/sockets_tls.c) does not provide a sendmsg implementation, the communication will fail once websocket_prepare_and_send() is being called.

https://github.com/zephyrproject-rtos/zephyr/blob/d927018282

[2019-11-07 16:03] pabigot commented on #20417
For reasons unknown to me `SENSOR_CHAN_PRESS` is documented to return a value in kPa.  That appears to be what the code is doing regardless of what the comment says.

"If the code and the comments disagree, both are probably wrong."

[2019-11-07 16:36] aurel32 commented on #20417
The sensor subsystem returns the pressure in kPA, so the returned value is actually correct. See:
https://docs.zephyrproject.org/latest/reference/peripherals/sensor.html#_CPPv3N16sensor_interface17SENSOR_CHAN_PRESSE

[2019-11-07 16:47] carlescufi commented on #20417
Closing this as per @aurel32 clarification. Please reopen if still in doubt @aqua-developer.

[2019-11-07 16:47] #20417 closed

[2019-11-07 16:48] carlescufi commented on #20388
@tbursztyka is currently working on enhancing the SPI API, so copying him here in case this can be taken into account.

[2019-11-07 17:22] ExtremeGTX commented on #20286
@satyanraj i use espressif toolchain for esp32 and zephyr toolchain for qemu_xtensa

[2019-11-07 17:30] LeBlue commented on #20250
I pushed the current state i used to https://github.com/LeBlue/zephyr/tree/hci_usb-scanning-crash , enableing the error prints.

I do not think the bus fault is the problem, but only the result of something going wrong earlier. The garbage hci events start coming some time before the crash ist happening. The following logs show, how linux resets the controller after to many events are received, th

[2019-11-07 17:32] olsky commented on #20285
It is clear! Thank you for the hint: it works! :)
I set 2G and 4G and it works... I have to understand more the relation between SENSOR_ATTR_SLOPE_DUR and ODR... but will read the application note.

So first: acceleration as you suggested is ok.

Now, I suppose the code for this driver is very basic and not all the features are implemented. like: wake/sleep --> right?

[2019-11-07 17:54] jfischer-phytec-iot commented on #20250
I have the same situation here. I think if the bug is somewhere in the USB part then it should also be discoverable with a sample like IPSP.

[2019-11-07 18:19] vikrant8051 commented on #19685
@jhedberg
Which debug config I should enable to get detail log?

[2019-11-07 18:41] nordic-krch opened #20438 "Kernel timeout API does not document well accepted values"
**Describe the bug**
Timeout (and sleep) API has `s32_t` type but it expects that timeout will be non-negative (or K_FOREVER defined as -1). Argument documentation does not specify that which may lead to confusion as user may expect that negative values will be treated as the past and timeout will expire immediately.

Example of that false assumption here: https://github.com/zephyrproject-rtos/zep

[2019-11-07 18:51] vikrant8051 commented on #19685
CONFIG_BT_DEBUG_MONITOR=y
CONFIG_BT_DEBUG_LOG=y

CONFIG_BT_MESH_DEBUG=y
CONFIG_BT_MESH_DEBUG_PROV=y
CONFIG_BT_MESH_DEBUG_PROXY=y
CONFIG_BT_MESH_DEBUG_BEACON=y
#CONFIG_BT_MESH_DEBUG_NET=y
#CONFIG_BT_MESH_DEBUG_TRANS=y
#CONFIG_BT_MESH_DEBUG_SETTINGS=y
#CONFIG_BT_MESH_DEBUG_LOW_POWER=y
#CONFIG_BT_MESH_DEBUG_FRIEND=y
#CONFIG_BT_MESH_DEBUG_MODEL=y
#CONFIG_BT_MESH_DEBUG_ACCESS=y
#CONFIG_BT_MESH_DEBUG_CR

[2019-11-07 19:21] jhedberg commented on #19685
@vikrant8051 the useful debugs to enable in this case are `CONFIG_BT_DEBUG_HCI_CORE` and `CONFIG_BT_DEBUG_HCI_DRIVER`. Disable any higher level stuff like the mesh debug logs - those are only causing unnecessary noise.

[2019-11-07 20:10] andrewboie commented on #20418
I think this is a documentation issue, k_mem_pool works with larger heaps than this.

[2019-11-07 21:05] nashif commented on #19492
so we are concerned about tests timing out instead of just dying?
if something asserts outside of the test, it will die and just timeout, not sure how it would be missed.

[2019-11-07 21:37] marc-hb commented on #19492
I don't see how every missed assert gracefully downgrades to a timeout, how do you know that? It's been a long time with a different codebase but I'm pretty sure I remember asserts being printed yet totally missed and the test misreported as a PASS. It depends on the how the test is implemented.

[2019-11-07 21:54] marc-hb commented on #19492
Link to the example was in the description: #17593

[2019-11-07 21:54] #20045 closed

[2019-11-07 21:55] jfischer-phytec-iot commented on #20250
@LeBlue Could you try the patch below, please? I do not think it will fix the bug, but  `<err> usb_device: Transfer error -11`

[code]

[2019-11-08 00:09] andrewboie commented on #19067
This is now done on ARM, still needs a PR for ARC.

[2019-11-08 01:13] chen-png opened #20444 "sanitycheck error with tests/arch/x86/info."
**Describe the bug**
when running tests/arch/x86/info on up squared board using sanitycheck, this test case is actually successful, but the sanitycheck will judge it as a failed test case.

This test case is treated as a harness test, but the output information didn't match any passed case of sanitycheck, so it's judged failed by sanitycheck.

**Screenshots or console output**
**** Booting Zephyr

[2019-11-08 01:18] chen-png opened #20445 "tests/kernel/critical failed on mimxrt1050_evk board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=mimxrt1050_evk  tests/kernel/critical
2. west flash
3. See error

**Screenshots or console output**
***** Booting Zephyr OS build zephyr-v2.0.0-1818-g0b27cacabdab *****

Running test suite kernel_critical
starting test - test_critical

**Environment (please complete the following information):**
 - OS: Fedora28
 - Toolchain: Zephyr

[2019-11-08 01:33] jonpry commented on #20250
I have this same issue. I found a hci_usb build on devzone that is 9 months old and could not repro with it.

[2019-11-08 02:18] zzzh commented on #20418
@andrewboie
Thanks, do you know how big it can be?

[2019-11-08 06:25] nordic-krch commented on #19748
Note that there are few places in the tree where `k_sleep(FOREVER)` is used even though it expires immediately (probably against user's intention).

[2019-11-08 06:56] aqua-developer commented on #20417
Fair enough, the code seems to do what it was intended to do then. Thank you. I would however still argue that the intention is confusing since all specifications in the datasheet etc are given in hPa, which is the common unit of measurement for barometric pressure. But maybe that's a different topic.

[2019-11-08 07:16] chen-png opened #20449 "'west flash' command failed on sam_e70_xplained board."
**Describe the bug**
we can't use west flash command to download test image to sam_e70.
the related PR is #20279 , and i use the 'west flash -r openocd', it's the same error.

**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b sam_e70_xplained  samples/hello_world/
2.  west flash
3. See error

**Screenshots or console output**
 west flash
-- west flash: rebuilding
ninja: no work t

[2019-11-08 08:04] Laczen commented on #20425
@nvlsianpu, would it not be better to hide the flash base address inside the flash api? So for all flash_read, writes, erase offset 0 refers to the flash base address.

[2019-11-08 08:11] AdrianEggenberger opened #20450 "Bluetooth: hci_uart: conn param update request from peripheral ignored"
**Describe the bug**
I'm working with the hci_uart sample with an nRF52 PCA10040 board. I've written a small application that controls the board by exchanging HCI commands over UART.
By sennding the corresponding commands I'm connecting to BLE peripehral device. I'm able to connect and get the expected "LE Enhanced Connection Complete Event" event back.
Also there is a "LE Channel Selection Algori

[2019-11-08 09:16] jhedberg commented on #20450
Since this is a custom host app, have you made sure that you enable the connection parameter request event using the HCI_LE_Set_Event_Mask command?

[2019-11-08 09:17] jhedberg commented on #20450
Nevermind - I see "The general and LE event masks are configured to receive all LE events" in your logs.

[2019-11-08 09:23] jhedberg commented on #20450
I'm not sure if that's being decoded correctly or not, but normally what immediately follows 0x.. is the most significant byte, meaning the entire least significant half of the mask is zeroes, which would indicate that you're note enabling the right events. However, considering that you are getting the LE Enhanced Conn Complete I'd conclude that the decoding in your logs is just very confusing.

[2019-11-08 09:42] AdrianEggenberger commented on #20450
At the beginning the invalid event masks caused some issues and I got no event s back at all. I did some try and error tests to find out about the correct bit/byte order, but I think they are correct by now.

[2019-11-08 09:45] LeBlue commented on #20250
Attached to sets of logs, with the `k_sleep` enabled:  https://github.com/LeBlue/zephyr/tree/hci_usb-scanning-crash

Before the test i collected addresses of advertising devices: [device_list.log](https://github.com/zephyrproject-rtos/zephyr/files/3823922/device_list.log)
First try:
[minicom_zephyr_debug_usb_wait_16_13_32.log](https://github.com/zephyrproject-rtos/zephyr/files/3823924/minicom_zeph

[2019-11-08 09:45] AdrianEggenberger commented on #20450
I also did some attempts to debug the issue, but I wasn't sure where the event should come in the system. If I would know where the event should get received I can try to debug it on my side.

[2019-11-08 10:08] #12509 closed

[2019-11-08 10:23] aurel32 commented on #20417
The idea of the sensor interface is that it returns a value with the same unit independently of what sensor uses. That way it is possible to replace a sensor by another model with minimal changes to the code. That said I agree that the choice of kPa is indeed a bit weird.

[2019-11-08 11:42] #20422 closed

[2019-11-08 12:08] nvlsianpu commented on #20425
After revving STM drivers I see that the uses relative addressing in flash API implementation.
The same for DT partitions description.

If flash driver and flash_map should use relative addressing then this is not a bug.

[2019-11-08 12:09] nvlsianpu commented on #20425
@galak Have you opinion on that?

[2019-11-08 13:27] nashif commented on #19492
an assert just put the system in panic, so test output and success is never reported, it times out.

you need to show me how to re-produce this reliably.

[2019-11-08 13:29] #19917 closed

[2019-11-08 13:29] nashif commented on #20109
the driver was removed.

[2019-11-08 13:29] #20109 closed

[2019-11-08 13:31] nashif commented on #19064
this was fixed long time ago.

[2019-11-08 13:31] #19064 closed

[2019-11-08 13:32] nashif commented on #18803
LTS support will be 2 years, LTS (1.14) support will end in April 2021.

[2019-11-08 13:32] #18803 closed

[2019-11-08 14:26] jfischer-phytec-iot commented on #20250
It should not happen anymore, sure the patch was applied? I I tested hci_usb with ipsp overnight with lots of traffic and variable payload length without any problems.

[2019-11-08 14:34] LeBlue commented on #20250
I am sure, i built the usb_hci from this commit:
https://github.com/LeBlue/zephyr/commit/12244c1a1fbcf1ecf8805483b2e837d2701544b1

see also zephyr bootlog, shows the same commit hash

[2019-11-08 14:52] WilliamGFish commented on #20414
I've had a good look at all the new options and still haven't found a set that provides stability.

I think its time to buy some Thingys (52s and 91s)

It would be nice if someone found the settings necessary to get the M:Bits working again.

[2019-11-08 15:03] nvlsianpu opened #20472 "drivers/flash: nRF flash driver uses absolute addressing instead of relative"
nRF driver uses absolute addressing instead of relative by other (SoC embedded) driver

so fare all nRF flash memories had flash base address at 0.
nRF flash driver was implemented in such way that it really used absolute addresses, while convention are relative addresses (for flash_map as well), which was not visible as start
address offset was 0).

It became visible on nRF53 which has networking

[2019-11-08 15:15] carlescufi commented on #20450
Since you are expecting this on the Central side, can you make sure you have `CONFIG_BT_CTLR_CONN_PARAM_REQ=y` in your `.config`?

[2019-11-08 16:01] marc-hb commented on #19492
Again this was a long time ago, but more precisely in https://github.com/zephyrproject-rtos/zephyr/pull/14777#issuecomment-506598640 almost EVERY qemu_x86_64 test was "reliably"/systematically ASSERTing and PASSING! What proves this not possible any more? Not a sanitycheck question. Was ASSERT not already putting the system in panic at the time?

Granted: fixing sanitycheck to stop missing ASSERTs

[2019-11-08 16:40] galak commented on #20426
We should also convert them to devicetree.

[2019-11-08 17:38] carlescufi commented on #19685
@vikrant8051 I just ran the following test:

1. Fetch upstream master, as of today
2. Built `samples/bluetooth/mesh` and flashed on nrf52840_pca10056
3. Opened up the nRF Mesh iOS application
4. Pressed the top-right "+" button
5. "Zephyr" appears
6. Select it, click on "Provision"
7. Select "No OOB"
8. "Success. Provisioning Complete" appears on the screen

This seems to work fine. Can you try an

[2019-11-08 17:48] cvinayak commented on #19685
I have tested the samples/bluetooth/mesh sample with nRF mesh app version 2.1.0. And I can provision successfully.

[2019-11-08 17:55] vikrant8051 commented on #19685
Hi @carlescufi @cvinayak
Could you please test one of the App from samples/boards/nrf52/mesh/ directory on that boards?

Yesterday, i also tried samples/bluetooth/mesh this app. Initially it works but after reprogramming it stops working.

I have already tested things with thingy52. Getting same issue

[2019-11-08 17:59] carlescufi commented on #19685
@vikrant8051

I just tried `samples/boards/nrf52/mesh/onoff-app` using the exact same procedure and worked fine as well.

**NOTE**: I am flashing with `west flash --erase` every time to make sure there are no stale bonds or data in my flash.

[2019-11-08 18:02] cvinayak commented on #19685
I tested the samples/boards/nrf52/mesh/onoff-app with nRF mesh app now, and successfully provisioned it, too.

[2019-11-08 18:13] vikrant8051 commented on #19685
@cvinayak @carlescufi
That means your local repo is not synced with latest master branch !!
Because I've just sync mine & due to some stack level issue not able to build any previously mentioned App.

[2019-11-08 18:16] carlescufi commented on #19685
@vikrant8051 I literally just did:

[code]

And all works fine

[2019-11-08 18:18] carlescufi commented on #19685
The last commit I tested is 740f6868a58d40d5963d592a9d19dce6cee8ea00

[2019-11-08 18:23] vikrant8051 commented on #19685
@carlescufi after west update  able to build the code.

[2019-11-08 18:31] vanti opened #20480 "i2c driver for cc13xx/cc26xx is configured with incorrect frequency"
**Describe the bug**
The I2C peripheral should be configured using the CPU clock frequency and
not the system clock frequency. This used to be fine because they were the
same before #19232, but now that the system clock is RTC-based (which
has a different frequency), we can no longer make that assumption.

**To Reproduce**
Steps to reproduce the behavior:
Create the file boards/shields/boostxl_sen

[2019-11-08 18:48] vikrant8051 commented on #19685
But provisioning issue has not solved

[2019-11-08 18:52] carlescufi commented on #19685
I really don't know how to proceed from here @vikrant8051 . Do you have another board you can test with? or another phone? 3 or 4 different people have now tried to reproduce this and we can't.

[2019-11-08 19:30] vikrant8051 commented on #19685
Now I used another phone with latest Android 9 & now able to provision
samples/boards/nrf52/mesh/onoff-app &
samples/bluetooth/mesh app.

But not same is happening in case of samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app.

[2019-11-08 20:13] vikrant8051 commented on #19685
<err> os: ***** BUS FAULT *****
[00:00:00.109,771] <err> os:   Precise data bus error
[00:00:00.109,771] <err> os:   BFAR Address: 0x61000008
[00:00:00.109,802] <err> os: r0/a1:  0x2000427c  r1/a2:  0x00000004  r2/a3:  0x00000000
[00:00:00.109,802] <err> os: r3/a4:  0x2000427c r12/ip:  0x00000000 r14/lr:  0x0002818f
[00:00:00.109,832] <err> os:  xpsr:  0x61000000
[00:00:00.109,832] <err> os: Fault

[2019-11-08 21:02] albertofloyd opened #20484 "Tests/kernel/gen_isr_table failing when enabling WDT driver"
**Describe the bug**
Unable to build MEC15 boards when enabling CONFIG_WATCHDOG=y
There is no other driver that uses same interrupt so suspecting something in the test case.

**To Reproduce**
Steps to reproduce the behavior:
1. Add CONFIG_WATCHDOG=y to  zephyr\boards\arm\mec15xxevb_assy6853\mec15xxevb_assy6853_defconfig
2. cd zephyr/tests/kernel/gen_isr_table/
3. mkdir build; cd build
4. See error

[2019-11-08 22:05] aasthagr opened #20487 "[Coverity CID :205648]Memory - corruptions in /arch/arc/core/mpu/arc_mpu_v3_internal.h"
Static code scan issues seen in File: /arch/arc/core/mpu/arc_mpu_v3_internal.h
 Category: Memory - corruptions
 Function: arc_mpu_init
 Component: Architectures
 CID: 205648
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20488 "[Coverity CID :205614]Integer handling issues in /drivers/clock_control/nrf_clock_calibration.c"
Static code scan issues seen in File: /drivers/clock_control/nrf_clock_calibration.c
 Category: Integer handling issues
 Function: z_nrf_clock_calibration_isr
 Component: Drivers
 CID: 205614
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20489 "[Coverity CID :205645]Integer handling issues in /drivers/counter/counter_mchp_xec.c"
Static code scan issues seen in File: /drivers/counter/counter_mchp_xec.c
 Category: Integer handling issues
 Function: counter_xec_set_top_value
 Component: Drivers
 CID: 205645
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20490 "[Coverity CID :205651]Uninitialized variables in /drivers/dma/dma_stm32.c"
Static code scan issues seen in File: /drivers/dma/dma_stm32.c
 Category: Uninitialized variables
 Function: dma_stm32_configure
 Component: Drivers
 CID: 205651
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20491 "[Coverity CID :205644]Control flow issues in /drivers/dma/dma_stm32_v1.c"
Static code scan issues seen in File: /drivers/dma/dma_stm32_v1.c
 Category: Control flow issues
 Function: stm32_dma_check_fifo_mburst
 Component: Drivers
 CID: 205644
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20492 "[Coverity CID :205653]Control flow issues in /drivers/dma/dma_stm32_v1.c"
Static code scan issues seen in File: /drivers/dma/dma_stm32_v1.c
 Category: Control flow issues
 Function: stm32_dma_check_fifo_mburst
 Component: Drivers
 CID: 205653
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20493 "[Coverity CID :205668]Insecure data handling in /drivers/ethernet/eth_enc424j600.c"
Static code scan issues seen in File: /drivers/ethernet/eth_enc424j600.c
 Category: Insecure data handling
 Function: enc424j600_rx
 Component: Drivers
 CID: 205668
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20494 "[Coverity CID :205617]Memory - corruptions in /drivers/kscan/kscan_mchp_xec.c"
Static code scan issues seen in File: /drivers/kscan/kscan_mchp_xec.c
 Category: Memory - corruptions
 Function: check_key_events
 Component: Drivers
 CID: 205617
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20495 "[Coverity CID :205622]Memory - illegal accesses in /drivers/pwm/pwm_mchp_xec.c"
Static code scan issues seen in File: /drivers/pwm/pwm_mchp_xec.c
 Category: Memory - illegal accesses
 Function: xec_compare_params
 Component: Drivers
 CID: 205622
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20496 "[Coverity CID :205630]Memory - illegal accesses in /drivers/pwm/pwm_mchp_xec.c"
Static code scan issues seen in File: /drivers/pwm/pwm_mchp_xec.c
 Category: Memory - illegal accesses
 Function: xec_compare_params
 Component: Drivers
 CID: 205630
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20497 "[Coverity CID :205638]Integer handling issues in /drivers/pwm/pwm_mchp_xec.c"
Static code scan issues seen in File: /drivers/pwm/pwm_mchp_xec.c
 Category: Integer handling issues
 Function: xec_compare_params
 Component: Drivers
 CID: 205638
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20498 "[Coverity CID :205628]Error handling issues in /drivers/sensor/amg88xx/amg88xx_trigger.c"
Static code scan issues seen in File: /drivers/sensor/amg88xx/amg88xx_trigger.c
 Category: Error handling issues
 Function: amg88xx_trigger_set
 Component: Drivers
 CID: 205628
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20499 "[Coverity CID :205625]Error handling issues in /drivers/sensor/lsm6dso/lsm6dso_shub.c"
Static code scan issues seen in File: /drivers/sensor/lsm6dso/lsm6dso_shub.c
 Category: Error handling issues
 Function: lsm6dso_shub_embedded_en
 Component: Drivers
 CID: 205625
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20500 "[Coverity CID :205629]Control flow issues in /drivers/timer/cc13x2_cc26x2_rtc_timer.c"
Static code scan issues seen in File: https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/timer/cc13x2_cc26x2_rtc_timer.c
 Category: Control flow issues
 Function: startDevice
 Component: Drivers
 CID: 205629
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20501 "[Coverity CID :205643]Integer handling issues in /drivers/video/mt9m114.c"
Static code scan issues seen in File: /drivers/video/mt9m114.c
 Category: Integer handling issues
 Function: mt9m114_read_reg
 Component: Drivers
 CID: 205643
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20502 "[Coverity CID :205665]Integer handling issues in /drivers/video/mt9m114.c"
Static code scan issues seen in File: /drivers/video/mt9m114.c
 Category: Integer handling issues
 Function: mt9m114_write_reg
 Component: Drivers
 CID: 205665
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20503 "[Coverity CID :205655]Error handling issues in /drivers/watchdog/wdt_wwdg_stm32.c"
Static code scan issues seen in File: /drivers/watchdog/wdt_wwdg_stm32.c
 Category: Error handling issues
 Function: wwdg_stm32_get_pclk
 Component: Drivers
 CID: 205655
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20504 "[Coverity CID :205661]Incorrect expression in /drivers/watchdog/wdt_wwdg_stm32.c"
Static code scan issues seen in File: /drivers/watchdog/wdt_wwdg_stm32.c
 Category: Incorrect expression
 Function: wwdg_stm32_get_timeout
 Component: Drivers
 CID: 205661
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20505 "[Coverity CID :205613]Null pointer dereferences in /samples/drivers/espi/src/main.c"
Static code scan issues seen in File: /samples/drivers/espi/src/main.c
 Category: Null pointer dereferences
 Function: main
 Component: Samples
 CID: 205613
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20506 "[Coverity CID :205672]Null pointer dereferences in /samples/drivers/espi/src/main.c"
Static code scan issues seen in File: /samples/drivers/espi/src/main.c
 Category: Null pointer dereferences
 Function: main
 Component: Samples
 CID: 205672
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20507 "[Coverity CID :205662]Memory - illegal accesses in /samples/net/sockets/dumb_http_server_mt/src/main.c"
Static code scan issues seen in File: /samples/net/sockets/dumb_http_server_mt/src/main.c
 Category: Memory - illegal accesses
 Function: client_conn_handler
 Component: Samples
 CID: 205662
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20508 "[Coverity CID :205634]Code maintainability issues in /samples/net/sockets/websocket_client/src/main.c"
Static code scan issues seen in File: /samples/net/sockets/websocket_client/src/main.c
 Category: Code maintainability issues
 Function: setup_socket
 Component: Samples
 CID: 205634
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20509 "[Coverity CID :205632]Incorrect expression in /subsys/debug/tracing/ctf/ctf_top.c"
Static code scan issues seen in File: /subsys/debug/tracing/ctf/ctf_top.c
 Category: Incorrect expression
 Function: sys_trace_thread_create
 Component: Other
 CID: 205632
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20510 "[Coverity CID :205660]Incorrect expression in /subsys/debug/tracing/ctf/ctf_top.c"
Static code scan issues seen in File: /subsys/debug/tracing/ctf/ctf_top.c
 Category: Incorrect expression
 Function: sys_trace_thread_name_set
 Component: Other
 CID: 205660
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20511 "[Coverity CID :205612]Control flow issues in /subsys/disk/disk_access_spi_sdhc.c"
Static code scan issues seen in File: /subsys/disk/disk_access_spi_sdhc.c
 Category: Control flow issues
 Function: sdhc_spi_detect
 Component: Other
 CID: 205612
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20512 "[Coverity CID :143683]Error handling issues in /subsys/fs/fcb/fcb.c"
Static code scan issues seen in File: /subsys/fs/fcb/fcb.c
 Category: Error handling issues
 Function: fcb_offset_last_n
 Component: Other
 CID: 143683
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20513 "[Coverity CID :205621]Memory - illegal accesses in /subsys/net/lib/websocket/websocket.c"
Static code scan issues seen in File: /subsys/net/lib/websocket/websocket.c
 Category: Memory - illegal accesses
 Function: websocket_connect
 Component: Networking
 CID: 205621
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20514 "[Coverity CID :205633]Memory - illegal accesses in /subsys/settings/src/settings.c"
Static code scan issues seen in File: /subsys/settings/src/settings.c
 Category: Memory - illegal accesses
 Function: settings_call_set_handler
 Component: Other
 CID: 205633
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20515 "[Coverity CID :205670]Code maintainability issues in /subsys/settings/src/settings_nvs.c"
Static code scan issues seen in File: /subsys/settings/src/settings_nvs.c
 Category: Code maintainability issues
 Function: settings_nvs_save
 Component: Other
 CID: 205670
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20516 "[Coverity CID :205609]Control flow issues in /subsys/testsuite/ztest/src/ztest.c"
Static code scan issues seen in File: /subsys/testsuite/ztest/src/ztest.c
 Category: Control flow issues
 Function: z_test_1cpu_start
 Component: Other
 CID: 205609
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20517 "[Coverity CID :205640]Control flow issues in /subsys/testsuite/ztest/src/ztest.c"
Static code scan issues seen in File: /subsys/testsuite/ztest/src/ztest.c
 Category: Control flow issues
 Function: z_test_1cpu_stop
 Component: Other
 CID: 205640
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20518 "[Coverity CID :205647]Memory - illegal accesses in /tests/arch/x86/info/src/memmap.c"
Static code scan issues seen in File: /tests/arch/x86/info/src/memmap.c
 Category: Memory - illegal accesses
 Function: memmap
 Component: Tests
 CID: 205647
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20519 "[Coverity CID :205616]Memory - corruptions in /tests/crypto/tinycrypt/src/ecc_dsa.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/ecc_dsa.c
 Category: Memory - corruptions
 Function: cavp_verify
 Component: Tests
 CID: 205616
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20520 "[Coverity CID :205652]Memory - corruptions in /tests/crypto/tinycrypt/src/ecc_dsa.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/ecc_dsa.c
 Category: Memory - corruptions
 Function: cavp_sign
 Component: Tests
 CID: 205652
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20521 "[Coverity CID :205608]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_12
 Component: Tests
 CID: 205608
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20522 "[Coverity CID :205620]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_11
 Component: Tests
 CID: 205620
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20523 "[Coverity CID :205624]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_9
 Component: Tests
 CID: 205624
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20524 "[Coverity CID :205626]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_7
 Component: Tests
 CID: 205626
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20525 "[Coverity CID :205631]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_10
 Component: Tests
 CID: 205631
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20526 "[Coverity CID :205635]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_8
 Component: Tests
 CID: 205635
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20527 "[Coverity CID :205641]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_5
 Component: Tests
 CID: 205641
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20528 "[Coverity CID :205646]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_2
 Component: Tests
 CID: 205646
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20529 "[Coverity CID :205658]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_1
 Component: Tests
 CID: 205658
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20530 "[Coverity CID :205663]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_6
 Component: Tests
 CID: 205663
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20531 "[Coverity CID :205666]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_4
 Component: Tests
 CID: 205666
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20532 "[Coverity CID :205674]Memory - corruptions in /tests/crypto/tinycrypt/src/sha256.c"
Static code scan issues seen in File: /tests/crypto/tinycrypt/src/sha256.c
 Category: Memory - corruptions
 Function: test_sha256_3
 Component: Tests
 CID: 205674
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20533 "[Coverity CID :205667]Error handling issues in /tests/drivers/counter/counter_basic_api/src/test_counter.c"
Static code scan issues seen in File: /tests/drivers/counter/counter_basic_api/src/test_counter.c
 Category: Error handling issues
 Function: set_top_value_capable
 Component: Tests
 CID: 205667
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20534 "[Coverity CID :205669]Incorrect expression in /tests/kernel/mem_protect/stack_random/src/main.c"
Static code scan issues seen in File: /tests/kernel/mem_protect/stack_random/src/main.c
 Category: Incorrect expression
 Function: test_stack_pt_randomization
 Component: Tests
 CID: 205669
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20535 "[Coverity CID :205619]Null pointer dereferences in /tests/net/ieee802154/fragment/src/main.c"
Static code scan issues seen in File: /tests/net/ieee802154/fragment/src/main.c
 Category: Null pointer dereferences
 Function: test_fragment
 Component: Tests
 CID: 205619
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20536 "[Coverity CID :205607]Memory - corruptions in /tests/net/ppp/driver/src/main.c"
Static code scan issues seen in File: /tests/net/ppp/driver/src/main.c
 Category: Memory - corruptions
 Function: ppp_verify_fcs_3
 Component: Tests
 CID: 205607
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20537 "[Coverity CID :205650]Memory - corruptions in /tests/net/ppp/driver/src/main.c"
Static code scan issues seen in File: /tests/net/ppp/driver/src/main.c
 Category: Memory - corruptions
 Function: ppp_calc_fcs_1
 Component: Tests
 CID: 205650
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20538 "[Coverity CID :205673]Memory - corruptions in /tests/net/ppp/driver/src/main.c"
Static code scan issues seen in File: /tests/net/ppp/driver/src/main.c
 Category: Memory - corruptions
 Function: ppp_verify_fcs_1
 Component: Tests
 CID: 205673
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20539 "[Coverity CID :205637]Resource leaks in /tests/net/socket/tcp/src/main.c"
Static code scan issues seen in File: /tests/net/socket/tcp/src/main.c
 Category: Resource leaks
 Function: test_v4_accept_timeout
 Component: Tests
 CID: 205637
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:05] aasthagr opened #20540 "[Coverity CID :205656]Error handling issues in /tests/net/tcp/src/main.c"
Static code scan issues seen in File: /tests/net/tcp/src/main.c
 Category: Error handling issues
 Function: setup_ipv4_tcp
 Component: Tests
 CID: 205656
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:06] aasthagr opened #20541 "[Coverity CID :205639]Security best practices violations in /tests/subsys/settings/functional/src/settings_basic_test.c"
Static code scan issues seen in File: /tests/subsys/settings/functional/src/settings_basic_test.c
 Category: Security best practices violations
 Function: test_direct_loading_filter
 Component: Tests
 CID: 205639
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-11-08 22:10] aasthagr commented on #20532
[code]

[2019-11-08 22:10] aasthagr commented on #20538
[code]

[2019-11-08 22:11] aasthagr commented on #20506
[code]

[2019-11-08 22:12] aasthagr commented on #20515
[code]

[2019-11-08 22:12] aasthagr commented on #20534
[code]

[2019-11-08 22:13] aasthagr commented on #20493
[code]

[2019-11-08 22:14] aasthagr commented on #20533
[code]

[2019-11-08 22:15] aasthagr commented on #20531
[code]

[2019-11-08 22:15] aasthagr commented on #20502
[code]

[2019-11-08 22:16] aasthagr commented on #20530
[code]

[2019-11-08 22:17] aasthagr commented on #20507
[code]

[2019-11-08 22:17] aasthagr commented on #20504
[code]

[2019-11-08 22:18] aasthagr commented on #20510
[code]

[2019-11-08 22:19] aasthagr commented on #20529
[code]

[2019-11-08 22:20] aasthagr commented on #20540
[code]

[2019-11-08 22:21] aasthagr commented on #20503
[code]

[2019-11-08 22:33] andrewboie commented on #20484
Those hex values for parameter look familiar....the test case is trying to install some dummy IRQs, which are colliding with the real IRQ like for the WDT:

[code]

Look here:

[code]

[2019-11-08 22:39] albertofloyd commented on #20033
Thanks @andyross  with suggested change, suspending threads works.

[2019-11-08 23:36] #19748 closed

[2019-11-09 00:03] #20438 closed

[2019-11-09 08:13] aescolar commented on #20535
@jukkar please triage further as needed

[2019-11-09 11:05] vikrant8051 commented on #19685
Hi @jhedberg,
Now I am able to provision
1. samples/boards/nrf52/mesh/onoff-app &
2. samples/bluetooth/mesh app.

Could you help me to solve the provisioning issue with onoff_level_lighting_vnd_app?

@carlescufi @cvinayak what is your experience in case of this particular App?

What is reason behind this BUS FAULT?

[2019-11-09 12:37] AdrianEggenberger commented on #20450
To be sure it is enabled I've added "CONFIG_BT_CTLR_CONN_PARAM_REQ=y" to the nrf5.conf file. The behavior is the same after a rebuild. I assume that this feature is enabled by default?

[2019-11-09 14:20] LeBlue opened #20545 "imgtool: signing image fails: missing DT_FLASH_WRITE_BLOCK_SIZE"
**Describe the bug**
The image signing with imgtool (1.4.0) fails through west

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nrf52840_pca10056 -d build/sign_example zephyr/samples/subsys/mgmt/mcumgr/smp_svr
2. west sign -t imgtool -d build/sign_example -- --key SIGNING_KEY.pem
produces:
[code]

**Environment:**
 - zephyr https://github.com/zephyrproject-rtos/zephyr/commit/80f

[2019-11-10 12:52] wentongwu opened #20558 "Build failure for samples/bluetooth/peripheral_hr/sample.bluetooth.peripheral_hr_rv32m1_vega_ri5cy on rv32m1_vega_ri5cy"
**Describe the bug**
Build failure for samples/bluetooth/peripheral_hr/sample.bluetooth.peripheral_hr_rv32m1_vega_ri5cy on rv32m1_vega_ri5cy

**Impact**
broken shippable

**Screenshots or console output**
[code]

[2019-11-10 13:14] ydamigos commented on #20325
@erwango, @pabigot I believe it is a bug because I2C driver didn't even try to send the zero length message.

[2019-11-10 14:42] cbsiddharth opened #20561 "Crypto API: Separate IV from ciphertext based on struct cipher_ctx::flags"
**Problem:**
The crypto API now prefixes the IV to to the ciphertext. This is because Tinycrypt expects the IV and ciphertext to be in the contiguous memory for better performance. This is a problem if applications what to do inplace encrypt/decrypt (`in_buf == out_buf`) as now, the `in_buf` has to be larger by 2x block length and the IV has to be removed manually. Besides, not all use-cases expec

[2019-11-10 14:44] cbsiddharth commented on #20561
Related to: #20434

@tbursztyka @chrta @galak @nashif

[2019-11-10 16:17] #20558 closed

[2019-11-11 00:50] maksimmasalski commented on #20445
@chen-png Do you think that it is again wrong setup of the watchdog like it was with sam_e70_xplained?

[2019-11-11 00:52] chen-png commented on #20445
you can disable the watchdog config and have a try.

[2019-11-11 07:26] mayankpatel17 commented on #9509
@parinpatel I'm using mcuboot bootloader in serial recovery mode and smp_svr application for DFU over UART. I can't see 'mcumgr' command respond for even single time. Every time i'm getting NMP timeout error. It seems like i am missing something important while building the 'mcuboot' & 'smp_svr'.

Could you share the README for the correct/valid config for smp_svr (prj.conf).

[2019-11-11 09:31] #20284 closed

[2019-11-11 09:43] avisconti commented on #20285
Correct.
It seems this driver is very simple. It was written by someone else. Concerning the triggers seems that they have decided to use INT2 for implementing ANY MOTION (in x, y, z). This I think primarily because there is no way to pass the  XH/XL, YH/YH, ZH/ZL information.

[2019-11-11 09:43] avisconti commented on #20285
May I close this bug?

[2019-11-11 10:24] hakehuang commented on #20205
Thanks @maureen, pull request create #20568

[2019-11-11 11:07] aescolar commented on #20502
92ee992e7cc

[2019-11-11 11:09] aescolar commented on #20506
953952adbd9

[2019-11-11 11:18] aescolar commented on #20520
e2ad85b696e As Leandro is not around anymore, and @andrewboie , you got a few around here, maybe you don't mind taking one more?

[2019-11-11 11:18] ioannisg commented on #19700
@jimparis ping :)

[2019-11-11 11:55] vanwinkeljan commented on #20278
@jfischer-phytec-iot I created a PR #20570 to introduce a ST7789V shield and updated the existing sample. I will create a seperate PR to introduce a common sample for display shields.

@zzzh could you verify if the sample is working with PR #20570, I do not have a ST7789V based display?

Example build command:
`west build -b nrf52_pca10040 samples/display/st7789v -- -DSHIELD=st7789v_generic`

[2019-11-11 12:22] pabigot opened #20571 "devicetree: fix non-deterministic multi-level interrupt encodings"
The scripting that generates multi-level IRQ information does not guarantee determininstic instance order.  While it can be patched by hard-coding specific instances as with #20550 and #20562 the problem needs to be solved more generally.

Example output from #20558.

**Screenshots or console output**
[code]

[2019-11-11 12:30] aescolar commented on #20518
2cf52476ea6

[2019-11-11 12:30] aescolar commented on #20490
749d2d21bf8

[2019-11-11 12:31] aescolar commented on #20517
efc1ec037be

[2019-11-11 12:32] aescolar commented on #20516
efc1ec037be

[2019-11-11 12:33] aescolar commented on #20511
[code]

[2019-11-11 12:34] aescolar commented on #20511
c7e625f2b39

[2019-11-11 12:34] aescolar commented on #20511
@JunYangNXP

[2019-11-11 12:35] aescolar commented on #20511
@MaureenHelm note that @JunYangNXP is not a GH collaborator so I could not assign him

[2019-11-11 12:36] aescolar commented on #20509
[code]
4fac8418696

[2019-11-11 12:37] aescolar commented on #20508
b031a5a163f

[2019-11-11 12:39] aescolar commented on #20505
[code]
953952adbd9

[2019-11-11 12:40] aescolar commented on #20501
[code]
92ee992e7cc

[2019-11-11 12:42] aescolar commented on #20499
72ae24d8d59
[code]

[2019-11-11 12:42] aescolar commented on #20500
[code]
aeb8d017b5c

[2019-11-11 12:45] aescolar commented on #20498
[code]
476f05d2f87  & feef83d8641

[2019-11-11 12:46] aescolar commented on #20497
1ee9e1046a6
[code]

[2019-11-11 12:48] aescolar commented on #20496
1ee9e1046a6
[code]

[2019-11-11 12:48] aescolar commented on #20495
1ee9e1046a6
[code]

[2019-11-11 12:50] aescolar commented on #20494
0d85074d9a9
[code]

[2019-11-11 12:51] aescolar commented on #20492
749d2d21bf8
[code]

[2019-11-11 12:52] aescolar commented on #20491
749d2d21bf8
[code]

[2019-11-11 12:52] aescolar commented on #20489
41c93a589c1
[code]

[2019-11-11 12:54] aescolar commented on #20510
5b322d93317

[2019-11-11 12:55] aescolar commented on #20510
@nslowell (You don't seem to be a "GH collaborator" in the project so I cannot assign this to you, but it does seem to originate from your commit
CC: @fnde-ot
CC: @MaureenHelm

[2019-11-11 12:56] aescolar commented on #20519
e2ad85b696e & 062489f8732
[code]

[2019-11-11 12:58] aescolar commented on #18451
f1afb4c24d0
[code]

[2019-11-11 12:58] aescolar commented on #18451
@nashif Who in Intel takes this one?

[2019-11-11 12:59] aescolar commented on #18449
f1afb4c24d0
[code]

[2019-11-11 13:00] aescolar commented on #18450
f1afb4c24d0

[2019-11-11 13:03] aescolar commented on #18448
f1afb4c24d0
[code]

[2019-11-11 13:03] aescolar commented on #18447
f1afb4c24d0
[code]

[2019-11-11 13:11] joerchan commented on #19737
@BOZHENG001

As an alternative solution you can now do this in the application instead.

[code]

[2019-11-11 13:30] aescolar commented on #20535
[code]

[2019-11-11 13:33] aescolar commented on #20540
CC @tbursztyka

[2019-11-11 13:34] aescolar commented on #20539
8e6aaaf919d
[code]

[2019-11-11 13:41] pabigot commented on #20484
Looks like an instance of #20571.

[2019-11-11 13:42] avisconti commented on #20499
Is it really necessary to check return value of lsm6dso_mem_bank_set() when lsm6dso_shub_embedded_en() is not returning any value?

[2019-11-11 13:52] pfl opened #20576 "DTS overlay files must include full path name"
CMake handles overlay files inconsistently. My sample directory contains an overlay file:
-rw-rw-r-- 1 pflykt pflykt 204 Nov  8 15:11 frdm_uart2_dts.overlay

But when I run cmake, cc1 does not find the DTS overlay file:
[code]
Adding the full path to the command succeeds:
[code]
The same thing happens when `DTC_OVERLAY_FILE` is defined in `CMakeLists.txt`.

Documentation in https://docs.zephyrproj

[2019-11-11 13:55] pabigot commented on #20445
FWIW I can reproduce this on mimxrt1060 and it looks like a stack issue.  I'll keep going and transfer to @agansari if I can't make progress.

[2019-11-11 14:19] #20480 closed

[2019-11-11 14:48] stephanosio commented on #20205
@hakehuang This is not a bug. It is quite hard to follow without a sufficient amount of background knowledge on this, but see below:

https://github.com/zephyrproject-rtos/zephyr/blob/d1d603afc3558f31a4728d70179d1cb5d74890c5/tests/ztest/base/testcase.yaml#L2-L4

https://github.com/zephyrproject-rtos/zephyr/blob/0297756342fb60e6a64813aac046f4d241cbd369/scripts/sanity_chk/boards/unit/unit_testing/un

[2019-11-11 14:52] SebastianBoe commented on #20576
CONF_FILE supports project-relative file paths so DTC_OVERLAY_FILE should to.

I see that Kconfig supports this by running kconfig with an appropriate working directory:

[code]

whereas DT uses the binary directory as the working directory.

`    WORKING_DIRECTORY ${PROJECT_BINARY_DIR}
`

if we could change the working directory for DT without breaking backwards compatiblity or increasing the com

[2019-11-11 15:06] tsvehagen commented on #20259
@trond-snekvik Thanks for the feedback!

The way I see it we are discussing two things here:
1. A database for storing the keys and nodes to support the more "process"-centric approach
2. A higher level API to easier to support the data-centric approach

I think these should be implemented as two separate things and since 2 has a dependency on 1, my first goal would be to have this sort of databas

[2019-11-11 15:49] satyanraj commented on #20286
Hi @ExtremeGTX, I am trying to use ESP IDF and toolchain provided by Espressif.

I have also download the Zephyr SDK (latest) where I can find toolchain for ESP32.

I was looking at the bold log and I just noticed that build is using toolchain provided with Zephyr SDK. Is that something causing the build error?

[2019-11-11 16:35] vanwinkeljan commented on #20278
@jfischer-phytec-iot pushed a PR (#20580) for a generic display shield sample

[2019-11-11 16:49] nslowell commented on #20510
Fix looks good.  Sorry and thanks.

[2019-11-11 16:50] LeBlue commented on #20250
I think the problem arrises in the passing of advertising data to the usb subsystem and/or a dropped usb_write buffer not cleaned up properly.

In the https://github.com/zephyrproject-rtos/zephyr/issues/20250#issue-514880885 one can see that the transmitting of advertisment data fails, but the value indications from connected devices still get transferred correctly.

Frame # 7674 and # 7675 advert

[2019-11-11 17:02] carlescufi commented on #20571
Setting priority to high because this completely defeats the deterministic nature of DT.

[2019-11-11 17:34] avisconti commented on #20499
OK, I will cast it with (void) as it seems a suggested solution.

[2019-11-11 18:53] andyross commented on #20517
FWIW: the complaint is that there's a loop of the form:

[code]

And the test is flagging the loop interior as dead because MACRO_VALUE evaluates to "1" in the configuration being tested.  We have coverage for that case (SMP targets with more than one CPU) for that elsewhere, but coverity doesn't know about it.

What's policy here?  We can put an #if around it, but that's just replacing one kind o

[2019-11-11 18:55] andyross commented on #20516
Same issue as #20517 - a loop evaluates to having zero iterations because of kconfig configuration.  Needs a policy decision as to how to deal with coverity errors like this.

[2019-11-11 19:26] pfalcon opened #20582 "samples/subsys/logging/syst is broken when building with gcc-arm-none-eabi-7-2018-q2-update"
At Linaro, we perform CI builds with GNU Arm Embedded toolchain (`ZEPHYR_TOOLCHAIN_VARIANT=gccarmemb`, https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads) in addition to Zephyr SDK. Since https://github.com/zephyrproject-rtos/zephyr/pull/19637 landed, the sample samples/subsys/logging/syst fails when built with gccarmemb version we use,

[2019-11-11 19:32] pfalcon commented on #20582
So, what happens there is that `include/logging/log_msg.h` includes `<string.h>`. But internal header machinery of gcc-arm-none-eabi-7-2018-q2-update additionally includes SSP (stack smashing protection) enabled headers. These headers appear to be somewhat convoluted, and one of them references stdio's `FILE*`, without making sure that `<stdio.h>` is included first. All that definitely looks like

[2019-11-11 19:41] pfalcon commented on #20582
There're 3 ways we could address this issue:

1. Blacklist gccarmemb from that sample. This is of course a blunt workaround of the issue.
2. Following patch would work around the issue on Zephyr side:
[code]
Of course, it's still a workaround (although a "positive", instead of "negative"), and not exactly pretty.
3. Finally, I tried a newer gccarmemb, and found that gcc-arm-none-eabi-8-2019-q3-upd

[2019-11-11 20:25] ceolin commented on #20541
this seems to be a false positive. Coverity is complaining about not checking a string length in a function but this is a hardcoded variable.

[2019-11-11 20:31] pabigot opened #20585 "z_clock_announce starvation with timeslicing active"
**tl;dr**: the problem below has fixes but it seems likely that the same problem occurs with other timer systems if timeslicing can starve announcements on them.  The timeslicing infrastructure should be assessed to determine whether only the systick clock is at risk, or whether a general solution is required.

Issue #20445 has been isolated to code where `z_clock_set_timeout()` is always invoked

[2019-11-11 20:35] ceolin commented on #20514
false positive, variable `name_key` is initialized in `settings_name_steq`.

[2019-11-11 20:36] pabigot commented on #20445
Confirmed, diagnosed, potential solutions discussed in #20585.  An extension to #15487 described in that issue would solve the problem for this platform, but the failure may apply to multiple targets.

[2019-11-11 21:02] pabigot opened #20587 "undefined reference when enabling CONFIG_STACK_CANARIES"
Add:
[code]

to your choice of application (e.g. `hello_world`) and platform (e.g. `nrf52840_pca10056`, `mimxrt1060_evk`, `hifive1_revb`) and builds will fail:
[code]

[2019-11-11 21:26] ceolin commented on #20487
https://github.com/zephyrproject-rtos/zephyr/pull/20588

[2019-11-11 21:46] dbkinder commented on #15027
PDF build failure resolved with #19255

[2019-11-11 21:46] #15027 closed

[2019-11-11 21:49] karstenkoenig opened #20589 "RV32M1 SPI loopback needs DEBUG_OPTIMIZATIONS"
Not enabling DEBUG_OPTIMIZATIONS in the spi_loopback test leads to reset loops in the code execution on RV32M1 / the vega board.
This was discovered while actually enabling the vegaboard for the spi loopback
https://github.com/zephyrproject-rtos/zephyr/pull/20428

**To Reproduce**
Take https://github.com/zephyrproject-rtos/zephyr/pull/20428 and remove  ```CONFIG_DEBUG_OPTIMIZATIONS=y``` from the b

[2019-11-11 21:52] karstenkoenig commented on #20589
Not so sure what my actual chances at finding the root cause of this are, I usually find issues around optimization flags to be awfully hard to isolate. But alas it sounds like a good opportunity to figure out how hardfault like handling on risc-v works :-)

[2019-11-11 23:24] jfischer-phytec-iot commented on #20250
@LeBlue If you see log message `Transfer error -11` the transfer is corrupted. Please try to set BLUETOOTH_INT_EP_MPS to 64, see patch below. Unfortunately the prompt is missing for this option, I will provide a patch.
The suggested MPS for HCI Event endpoint is 16, but the date to transmit is usually greater. Also using usb_transfer_sync() for HCI Events do not make it better.

[code]

[2019-11-12 00:47] stephanosio opened #20594 "Cortex-R Improvement"
_This is an epic for ARM Cortex-R port improvement, in preparation for the TI Hercules SoC support in #19644._

- [x] #20217 Extend `qemu_cortex_r5` test coverage (make CI test Cortex-R port)
  - [x] #20267 Refactor and fix `xilinx_zynqmp` SoC definition (RPU and APU should be separate)
  - [x] #20298 Use `arm-generic-fdt` machine type (support RPU PL390 GIC emulation)
  - [x] #19860 Support PPI f

[2019-11-12 00:49] stephanosio commented on #20594
cc @bbolen @ioannisg @carlocaione

@bbolen If, by any chance, you are working on any of the above already, please let me know.

[2019-11-12 01:24] chen-png opened #20595 "tests/arch/arm/arm_thread_swap failed on frdm_k64f board."
**Describe the bug**
arch.arm.swap.common.no_optimizations and arch.arm.swap.common.fp_sharing.no_optimizations test cases failed on frdm_k64f board, there is nothing output int the handler.log.

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p frdm_k64f --device-testing  --device-serial /dev/ttyACM0
     -T tests/arch/arm/arm_thread_swap
2. See error and the handler.log

**Scre

[2019-11-12 02:26] hakehuang commented on #20205
@stephanosio , in this setting users can only build with sanitycheck, and can not work with directly steps like:
cmake ..
make
or
west build

[2019-11-12 02:32] stephanosio commented on #20205
@hakehuang This is not meant to be built manually. If you want to build it manually without sanitycheck, you must do `cmake -DBOARD=unit_testing ..` as sanitycheck automatically does.

[2019-11-12 02:37] stephanosio commented on #20205
[code]

[2019-11-12 02:39] hakehuang opened #20598 "tests/lib/mem_alloc newlibnano target run time error"
**Describe the bug**
ASSERTION FAIL [(options & ((1UL << (2)))) == 0] @ ZEPHYR_BASE/kernel/thread.c:581
       Platform is capable of user mode, and test thread created with K_USER option, but neither CONFIG_TEST_USERSPACE nor CONFIG_USERSPACE is set

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f ..
3. make
4. make flash
5. see log

**Expecte

[2019-11-12 02:40] hakehuang commented on #20598
@dlech

[2019-11-12 03:02] hakehuang commented on #20205
in this case, how can we port to other platform, without add a prj.conf? @stephanosio

[2019-11-12 03:06] stephanosio commented on #20205
@hakehuang This is a special test that tests the test framework itself on the host machine. It is not meant to run on any other platform.

[2019-11-12 03:50] zzzh commented on #20278
Where's the default CONFIG_SPI_1=y ? I can't find it

[2019-11-12 03:50] stephanosio commented on #20598
It looks like https://github.com/zephyrproject-rtos/zephyr/commit/7b1ee5cf13dc4f130b556534bd4c8dd78ceec6c6#diff-0eaa2ac33b59993522901d3fc26892b9 missed `prj_newlibnano.conf` (probably because it is not run when using Zephyr SDK due to `toolchain_whitelist: gnuarmemb`).

Adding `CONFIG_TEST_USERSPACE=y` to `prj_newlibnano.conf` should resolved this issue.

[2019-11-12 04:41] hakehuang commented on #20205
@stephanosio thanks for the detailed explaination, can we add platform_whitelsit instead of tag: unit, so that it is more generanal unstanding why?

[2019-11-12 04:47] stephanosio commented on #20205
If you are referring to `type: unit`, no. There are many special treatments for this, so unless you are planning to do an overhaul (in which case, you should talk to @nashif, by the way), it would be better left as is.

For instance:
https://github.com/zephyrproject-rtos/zephyr/blob/0297756342fb60e6a64813aac046f4d241cbd369/scripts/sanitycheck#L1941-L1943

[2019-11-12 04:48] parinpatel commented on #9509
@mayankpatel17
Hi Mayank,
In my case, It happened because It does not go to the serial recovery mode after resolved it, I successfully upload the firmware through UART

**Can you validate that your device enters into the serial recovery mode**?

[2019-11-12 05:04] hakehuang commented on #20205
ok, thanks

[2019-11-12 05:04] #20205 closed

[2019-11-12 05:04] hakehuang commented on #20205
not an issue

[2019-11-12 05:31] zzzh commented on #20278
@vanwinkeljan

Sure, should I pull a new branch first?

[2019-11-12 06:34] maksimmasalski opened #20603 "tests/kernel/critical failed on sam_e70_xplained board in v.1.14-branch"
Bug causing infinite loop and test can not be successfully finished.

**Steps to reproduce the behavior:**
1. Switch to the v.1.14-branch
2. $west build -p -b=sam_e70_xplained tests/kernel/critical
3. $west flash
4. See the error in minicom: $sudo minicom -D /dev/ttyACM0 -b 115200

**Error output:**
*Booting Zephyr OS zephyr-v1.14.1-24-gfbc0a44987a9
Running test suite kernel_critical

starting tes

[2019-11-12 06:36] maksimmasalski commented on #20603
Related issues #20445
Some solutions discussed #20585

[2019-11-12 06:48] aasthagr commented on #18441
Marked as false positive in Coverity

[2019-11-12 06:48] #18441 closed

[2019-11-12 06:57] ulfalizer commented on #20571
Didn't notice this one until now, but I wonder if https://github.com/zephyrproject-rtos/zephyr/pull/20597 solves it. In that case it was only an issue on Python 3.5 and earlier. CI runs 3.5.

[2019-11-12 07:20] pabigot commented on #20449
Confirmed on Pop!_0S 19.04, and very odd since this worked on the same machine a couple weeks ago.

Reverting the following commit makes it work:

* 0df4a53107 [Fri Nov 1 15:43:35 2019 +0100] scripts: runners: new openocd fixes and features

[2019-11-12 07:23] morganzha opened #20604 "log will be discarded before logging_thread scheduled once"
**Is your enhancement proposal related to a problem? Please describe.**

if enable LOG subsystem with  CONFIG_LOG_PROCESS_THREAD=y,
based on current design, log will be discard before logging_thread scheduled once,
since logging thread is assigned lowest priority, there need to explicit sleep in main thread before using log APIs.

**Describe the solution you'd like**

please check if this can be i

[2019-11-12 07:29] pabigot commented on #20603
I can confirm this test passes with the solutions described in #20585 as long as

    -- -DCONFIG_WDT_DISABLE_AT_BOOT=y

is added to the west build command (and #20449 is fixed).  This option is applied to this target conditionally in `testcase.yaml`.

[2019-11-12 07:35] pabigot commented on #20603
Actually, I also confirm this test passes on `v1.14-branch` at fbc0a44987a94becf1dcaa6dc9b53a19857d0010 without patches as long as the watchdog is disabled at build time.  So I don't believe there is a bug here.

@maksimmasalski  please re-check with the watchdog disabled.

[2019-11-12 07:38] maksimmasalski commented on #20603
@pabigot
Yes, I also did watchdog disable when tried to find out the problem, and it works well. Why master branch works without that configuration?

[2019-11-12 07:51] maksimmasalski commented on #20603
@pabigot with disabled watchdog it works well.

[2019-11-12 07:52] maksimmasalski commented on #20603
I can submit a PR to add watchdog disable into the configuration file for that board.

[2019-11-12 07:56] pabigot commented on #20603
The test does not pass for me on master at 0297756342fb60e6a64813aac046f4d241cbd369 without  the patches described in #20585 *and* disabling the watchdog.  What master commit are you at?

I don't know whether it's appropriate to globally disable watchdog on that test given that it's in the testcase.yaml, though it makes sense to me so I'd approve it.  I've also pushed #20606 to provide meaningful

[2019-11-12 08:08] maksimmasalski commented on #20603
I'm on the latest v.1.14-branch. You know, I have interesting behavior, if to change time in defines #define NUM_MILLISECONDS 3000 test passes successfully.

[2019-11-12 09:01] FRASTM commented on #20503
wwdg_stm32_get_pclk changed to test the return value of clock_control_get_rate

[2019-11-12 09:19] mtpr-ot opened #20613 "HCI reset command complete before LL reset done"
Reset of lower link layer (LLL) is performed via mayfly. In most cases, the higher priority mayfly will execute `perform_lll_reset` before returning from `ll_reset`, however there are cases where the mayfly will not run immediately, and `ll_reset` returns before completing reset in LLL.
This may cause unpredictable behavior, as data structures etc. used in LLL are reset - and return command comple

[2019-11-12 09:38] BOZHENG001 commented on #19737
@joerchan
Thanks for your help, I will have a try!

[2019-11-12 09:53] david-foo opened #20618 "Can unicast address be relayed when send message over gatt proxy?"
I use bluez meshctl tool to connect the mesh network which has 2 nodes(nodeA and nodeB). All provision and configuration process has been done well.
It seem meshctl sellect a node to connect to randomly when use "connect 0"(0 means the first net). When it connect to nodeA it can send message with unitcast destination address to nodeA but can not send message with unicast destination address to nod

[2019-11-12 10:15] erbr-ot opened #20620 "Advertiser seen alternating between RPA an ID address with privacy enabled"
**Description**
During advertising with privacy enabled, it was observed that the address used was alternating between RPA and public id address with 'RPA timeout' rate.

**Steps to reproduce**
Performing a modified (see below) of LL/SEC/ADV/BV-03 test case, using EDTTool/ll_verification.py is is observable in the output generated by the simulation that the advertiser will switch between RPA and I

[2019-11-12 10:30] #20620 closed

[2019-11-12 10:34] #20613 closed

[2019-11-12 10:38] aescolar commented on #20618
CC @trond-snekvik @jhedberg

[2019-11-12 10:44] jhedberg commented on #20618
@david-foo it sounds like the GATT Proxy feature is not enabled for these nodes. You need to enable it not just in Kconfig but also in the configuration server. You can either enable it by default in your bt_mesh_cfg_srv struct definition with `.gatt_proxy = BT_MESH_GATT_PROXY_ENABLED` or enable it after provisioning using a configuration client.

As long as the GATT Proxy is enabled in the build

[2019-11-12 10:49] jmbrederveld commented on #20068
I came here to report the exact same issue, but (un)fortunately found yours instead.

The board I am testing is STM32F091CC, with Shell and Console on USART3, which I manually added to dts_fixup.h and included in my board .dts and Kconfig respectively.
Using GDB I find the board enters arch_system_halt(), reason 0.

Looking at the backtrace, I find that the function *sys_dlist_get(sys_dlist_t *lis

[2019-11-12 11:09] maxvankessel opened #20621 "Invalid baudrate on stm32 usart"
**Problem**
Receiving invalid characters on host from STM32 USART transmitter

**Cause**
Invalid baudrate value is written in BRR register.

**Config**
I've programmed a F4 to use USART1 & 6 (on APB2).
APB2 runs on core clock, which is 180MHz.
PLL runs on HSE 20MHz

 **Steps to reproduce**
Set core clock to 180MHz
Set APB2 to div 1
Enable USART1 (115200,8n1)
Boot (sample hello world for example)

[2019-11-12 11:27] mayankpatel17 commented on #9509
@parinpatel
Now after upgrading my zephyr version to 2.1.0 (Using west update), I'm able to use mcumgr command. I have also uploaded sample hci_uart image using (mcumgr image upload) command.

I have one more question, when i flash mcuboot + zephyr application on Nordic Nrf52840_pca10056 at the same time (Both have different address space). Application is not working in that case.

Thanks,
Mayank

[2019-11-12 11:39] satyanraj commented on #20286
I am able to build the example and run the application. The issue was because of the installed Zeyphr SDK.
I don't understand why Zeyphr SDK was used for west build even though I have unset ZEPHYR_SDK_INSTALL_DIR ?

[2019-11-12 11:49] ExtremeGTX commented on #20286
Which toolchain will be used is based on the value of env var `ZEPHYR_TOOLCHAIN_VARIANT`if it is `espressif` or `zephyr`

[2019-11-12 11:58] nwsetec commented on #19244
Hi @vikrant8051,

Apologies for the late reply.

I basically checked my project configuration against this Nordic project sample:
https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/samples/bluetooth/throughput/prj.conf#L28

In addition this is with BLE scanning turned off.  If your mesh device is configured as a repeater I'm not sure how you will turn off the listening/scanning for

[2019-11-12 12:03] vikrant8051 commented on #19685
waiting for response.

[2019-11-12 12:11] LeBlue commented on #20250
@jfischer-phytec-iot OK, will try ``BLUETOOTH_INT_EP_MPS=64`` on Thursday. I will be in the office with "crowded" BLE.

[2019-11-12 12:17] parinpatel commented on #9509
Hi Mayank,
Yes, bootloader and application have a different address.
In this case, on a startup, a program first jumps to the bootloader address and then finally jump to the application address.
Please use the sample application which has combine include bootloader+application.
NOTE: Please start with sample hello word or led blinking application (combine bootloader + application) which is already

[2019-11-12 12:33] aescolar commented on #20255
Raising to high following @Vudentz advice

[2019-11-12 12:34] pabigot commented on #20603
Weird, I'd have sworn I saw comments on here saying you could reproduce it on *master*.  I don't see those now.  It was 1am, but I thought I was awake.....

The SAM E70 default watchdog duration is 16 s, and with a 3 s loop the test completes before the watchdog fires.  Apparently the watchdog is stopped when the application completes, so the test doesn't loop restarting itself..
[code]

With the

[2019-11-12 12:34] #20603 closed

[2019-11-12 12:39] erwango commented on #20068
@victorrsoliveira, @jmbrederveld , I've been able to run the proposed piece of code, with provided `prj.conf` on a `nucleo_f091rc`. I am still not getting the reported issue.

Is there any piece of information I am missing to reproduce this issue?

[2019-11-12 12:52] jmbrederveld commented on #20068
Thank you for investigating.
Can you please try the shell on an external UART that is not connected ? Any UART other than USART2 (which by default is connected to the ST-Link MCU).
Please disregard this if that is already what you tested.

[2019-11-12 13:07] #20534 closed

[2019-11-12 13:27] #20509 closed

[2019-11-12 13:27] #20510 closed

[2019-11-12 13:31] olsky commented on #20285
Thank you, all clear.

One more question: Could you suggest the right way to implement these features in zephyr? The "classic way" of setting i2c register is feasible... but the interface of zephyr is totally new and need some guidance to make it....

[2019-11-12 13:31] olsky commented on #20285
yes! thank you for your support!

Btw: any chance ST are making some contribution to zephyr sensors ? :)

[2019-11-12 13:42] wopu-ot commented on #20255
I believe that the issue could be solved in a rather simple way for the single-processor case. Upon switching from a cooperative thread to a meta-IRQ, a variable could remember which thread was preempted. That thread would then be the one to switch to once a non-meta-IRQ is to be scheduled.

For the SMP case, it is not clear to me what the extected behavior for the preempted cooperative thread is.

[2019-11-12 14:10] #20504 closed

[2019-11-12 14:34] ioannisg commented on #20595
Need to investigate why the no-optimizations' test is failing, but I assume the regular test is still passing, @chen-png right?

[2019-11-12 14:51] erwango commented on #15429
@avisconti, should we keep this open?

[2019-11-12 14:58] ppryga opened #20629 "when CONFIG_BT_SETTINGS is enabled, stack stores id in flash memory each power up of device (call to bt_enable)"
**Describe the bug**
BT settings commit procedure calls bt_settings_save_id each bt_enable at power up:
[code]
As far as I found the commit proceudre is registered as static handler for settings and is triggered by settings driver after load finishes.
BT_DEV_PRESET_ID bit is set by bt_init() if CONFIG_BT_SETTINGS is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a sample that u

[2019-11-12 15:04] avisconti commented on #20285
You are welcome!

Well, At the momenti I'm the only one that is supporting it.
Other people, like @erwango, are supporting the STM32 mcu side.

[2019-11-12 15:04] #20285 closed

[2019-11-12 15:08] avisconti commented on #20285
Mmmh. Don't know.
Maybe you can introduce a specific sensor attribute (SENSOR_ATTR_...) to pass the XH/YH/ZH stuff.

[2019-11-12 15:14] ppryga opened #20632 "call to bt_gatt_hids_init influences execution time of work queue"
**Describe the bug**
If an application registers gatt services for a first time the bt_gatt_init is called that at the end of the day leads to call to db_hash_store if CONFIG_BT_SETTINGS is enabled.
That also leads to block of system work queue for a long time if settings are stored in flash.

**Expected behavior**
Is that correct to store the  hash every power up/reset of the application if the s

[2019-11-12 15:20] aescolar commented on #20629
CC @nvlsianpu @jhedberg @Vudentz

[2019-11-12 15:25] jhedberg commented on #20629
If you look at the `bt_settings_save_id()` function in  `subsys/bluetooth/host/settings.c` you'll see that the storing to flash is done through the system workqueue, meaning the ID creation functions *should* return immediately. This is intentionally designed this way so that you can call bt_id_create() multiple times in a loop, and only when a context switch occurs will the identities be stored i

[2019-11-12 15:58] #20325 closed

[2019-11-12 16:10] ioannisg commented on #20595
Adding low as this is seems to be specific to FRDM-board. Test passes on nRF platforms, and QEMU

[2019-11-12 16:33] vanwinkeljan commented on #20278
@zzzh yes, you can pull this pr directly, see https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/checking-out-pull-requests-locally#modifying-an-inactive-pull-request-locally on how to do this.

Btw keep in mind that the pin-out changed

[2019-11-12 17:06] ioannisg commented on #20598
there

There is some inconsistency here: the test-case for newlibnano is tagged with -userspace, but the prj_newlibnano.conf does not enable it.

Agree that CI does not catch this because it runs with zephyr toolchain...

What the commit does is to require TEST_USERSPACE be enabled, if the test code defines User threads, right? So yeah, either we stop using ztest_user_unit_test if !USERSPACE in ma

[2019-11-12 17:36] avisconti opened #20639 "x_nucleo_iks01a3 sample is not working anymore after #20560 has been merged"
x_nucleo_iks01a3 sample does not print any message out on the console. Seems stuck somewhere. This happened after #20560. It seems to me the #20560 is not the source of the problem, but simply highlighted an issue.

**To Reproduce**
I used a nucleo F401re board with a x_nucleo_iks01a3 shield.
Then:

cd samples/shields/x_nucleo_iks01a3/standard/
mkdir build && cd build
cmake -DBOARD=nucleo_f401re .

[2019-11-12 17:54] mbolivar commented on #20545
@galak .... I guess we found an issue where a script needs DT information :)

@ulfalize @galak what's the right thing to do here? Can I import dtlib or edtlib and get the value of DT_FLASH_WRITE_BLOCK_SIZE from there somehow? If not, I may need to parse the .conf again.

[2019-11-12 18:05] Deliver88 commented on #6291
Is there any activity to support container for Zephyr, e.g. approaches like BalenaEngine?

[2019-11-12 18:10] andrewboie commented on #20598
If the test does stuff in user mode, CONFIG_TEST_USERSPACE needs to be enabled.

[2019-11-12 18:11] andrewboie commented on #6291
No this is not currently planned.

[2019-11-12 18:12] andrewboie commented on #20587
stack canaries require an entropy source, is none available on these boards?

[2019-11-12 18:19] galak commented on #20545
Yeah, we should import edtlib and pull the info out from there.

[2019-11-12 18:22] #19238 closed

[2019-11-12 18:23] andrewboie commented on #20484
@pabigot it isn't -- in this case, the test case is using an IRQ line that it believes is unused to install a test ISR, but that IRQ line is actually in use.

[2019-11-12 18:29] galak commented on #20582
We should update the toolchain we build with to the latest release (9-2019q4-major).

I'm also ok if you want to submit a PR with a fix to `include <stdio.h>`.

[2019-11-12 18:30] mbolivar commented on #20545
ACK. For those watching, the regression was introduced in 9da1d41a12c114a596a9413b84638b08013f6317. Working on a fix that doesn't require reverting that, but if you want to get unblocked you can just revert that for now.

[2019-11-12 18:42] pfalcon commented on #20582
Ughh, I wanted to avoid that, as then we're getting ahead of Zephyr SDK in GCC version (SDK 0.10.3 uses GCC 8.3.0). We could expect some issues when jumping to GCC 9, I guess. Anyway, downloading it to try locally a bit, then will prepare updates for our CI.

[2019-11-12 18:50] ioannisg commented on #20598
Well, the tests is testing dynamic memory allocation, and that's coupled with user space. We should therefore run the test in user mode, imho.

[2019-11-12 19:04] galak commented on #20582
I know, I've already been looking at gcc9 w/ SDK 0.11.x so we hopefully shouldn't see any new issues.

[2019-11-12 19:07] carlescufi commented on #20450
@AdrianEggenberger can you try with the latest master upstream? It looks like you are using Nordic's fork, but this is Zephyr's GitHub bug tracker.

[2019-11-12 19:23] jfischer-phytec-iot opened #20640 "Bluetooth: l2cap do not recover when faced with long packets and run out of buffers"
**Describe the bug**
l2cap do not recover when faced with long packets and runs out of buffers. Discovered while testing hci_usb with IPSP sample. After ping with long payload or short intervals the IPSP device remains unresponsive (does not recover / not respond anymore).

If the [l2cap_chan_le_send_sdu](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/l2cap.c#L1891)

[2019-11-12 19:37] #20449 closed

[2019-11-12 19:48] andrewboie commented on #20444
I think we need this test to report success/failure.
If that's not possible, perhaps move it to samples/ and greatly relax the regexes used to determine whether it ran or not.

[2019-11-12 19:53] nashif commented on #20444
the test does not have any regex, so this is the bug. Need to add console harness and capture results. @chen-png can you do this please?

[2019-11-12 19:54] andrewboie commented on #20598
We already do.
All this is, is an omission in a testcase.yaml
I don't know why it's being proposed to not run this test in user mode

[2019-11-12 19:56] nashif commented on #19492
I do need something I can work with and something that is reproducible. Right now this looks like waving hands.

[2019-11-12 20:02] nashif commented on #19231
cant reproduce:

[code]

[2019-11-12 20:02] #19231 closed

[2019-11-12 20:04] nashif commented on #16529
no response after 2 months

[2019-11-12 20:04] #16529 closed

[2019-11-12 20:06] nashif commented on #19034
can't reproduce, please retry with latest sanitycheck.

[2019-11-12 20:06] #19034 closed

[2019-11-12 20:24] pabigot commented on #20416
The problem is with initialization order.  Both the FXOX8700 and the nrf5/temp_nrf5 driver are initialized at `CONFIG_SENSOR_INIT_PRIORITY` in that order.  The FXOS8700 driver initialization suspends while waiting on a semaphore for an I2C operation to complete, allowing the `measure_temperature()` function in `nrf_clock_calibration.c` to be invoked through the work queue before `temp_nrf5_init` f

[2019-11-12 20:26] Deliver88 commented on #6291
Hi, thank you for the answer. Is there references how to setup/run a container on Zephyr? Thanks a lot

[2019-11-12 20:32] frantony commented on #20325
@ioannisg

#20560 does not fix the ```I2C: Device driver not found.``` problem.

Please reopen the issue.

[2019-11-12 20:36] pabigot commented on #20325
The "does not work" part has been fixed, which was specific to this issue.  The general issue of #20330 remains open to address the device-not-found error; please follow that to check for solutions.

[2019-11-12 20:53] AdrianEggenberger commented on #20450
Yes you are right. My tests were based on the Nordic nRFConnectSDK.

I repeated the tests with the current commit in the official zephyr repository from the 12.11. on 20:37 (c724033accdd6df6579652891bb83ea6a9160a19).

The results are the same.

[2019-11-12 20:57] andrewboie commented on #6291
There's no container support on Zephyr and nobody has indicated plans to investigate doing so.

[2019-11-12 20:59] andrewboie commented on #20444
Should we move this to samples?

[2019-11-12 21:00] nashif commented on #20444
it would be a very useless sample...

[2019-11-12 21:00] jfischer-no opened #20642 "Zephyr CI Test Shield"
For some time we have been discussing the idea about **Zephyr CI test shield**. An example is the [mbed CI Test Shield](https://github.com/ARMmbed/mbed-HDK-Eagle-Projects/tree/master/Shields/CITestShield).

The shield may be used to test drivers(API) like I²C, SPI, GPIO, UART, ADC, DAC. The shield should be stackable, so that ~~a logic analyzer~~ or a sensor shield could be connected easily. Howev

[2019-11-12 21:03] nashif commented on #20484
does not qualify as medium, enabling hw on a test.

[2019-11-12 21:04] pabigot commented on #20416
Well, no, that was **a** problem.  [This site](https://tech.microbit.org/hardware/i2c/) shows three variants of the microbit; the FXOS8700 is on variant 2, while mine is a variant 1 with an LSM303AGR.  So I can't confirm that the accelerometer works as the Zephyr board description is for an entirely different device.

Nonetheless, #20641 should fix it for people with variant 2 boards.

[2019-11-12 21:18] andrewboie commented on #20444
It's not very useful as a test either if it is unable to report its own success or failure.

[2019-11-12 21:53] marc-hb commented on #19492
What reproduction step is missing from the description?

[2019-11-12 22:18] #20487 closed

[2019-11-12 22:50] dleach02 commented on #20515
The last instances of assignment to rc likely need to be replaced with:

(void) nvs_write(...)

[2019-11-12 22:58] ppryga commented on #20632
I've added additional information about the issue in update section of description.

[2019-11-12 23:05] dleach02 commented on #20512
[code]

The while loop uses the return value of fcb_getnext() to continue looping but we also have a call to fcb_getnext() without a check of the return value? This seems potentially suspect but if okay than you will need to prepend the call with (void) to get around the coverity issue.

[2019-11-12 23:57] #20571 closed

[2019-11-13 02:18] stephanosio commented on #20642
For basic I/O testing (i.e. I2C, SPI, GPIO, UART, ADC, DAC), instead of relying on an external logic analyser, it would be more advantageous to put a small FPGA (e.g. Intel MAX10 with embedded flash and ADC) onto the shield to emulate various common interfaces on demand.

The FPGA can be hooked up to the CI host system via either USB-UART (for maximum compatibility with the existing infrastructure

[2019-11-13 02:46] chen-png commented on #20444
ok, i will.

[2019-11-13 04:35] frantony commented on #20325
The "does not work" part has not been fixed because the erroneous behavior (see in the issue header) is still reproducible.

[2019-11-13 05:31] cvinayak commented on #20450
08:29:10,583 DEBUG Executing command line: disconnect
08:29:10,590 INFO TX ([Command | OGF:0x01/OCF:0x006 | Data:0x000016])
08:29:10,602 INFO RX ([Event | CommandStatus | Data:0x00010604])
08:29:10,612 INFO RX ([Event | DisconnectionComplete | Data:0x00000016])

Is the BLE peripheral too a Zephyr sample? Which one?
from your explanation above, the peripheral does not timeout but is been gracefully

[2019-11-13 05:45] wentongwu commented on #20604
@morganzha can you please try this PR on your platform? Thanks

[2019-11-13 06:11] zzzh commented on #20278
@vanwinkeljan
I did the pull and took a look, realize that this test would need an Arduino LCD shield which I don't have..

[2019-11-13 07:05] satyanraj commented on #20286
@ExtremeGTX : I am not sure about it!!  As far as I understand, for ESP32 the toolchain remains env. var. should always be ZEPHYR_TOOLCHAIN_VARIANT="espressif"
 but based on the env. var. ESPRESSIF_TOOLCHAIN_PATH="/path/to/xtensa-esp32-elf/" and
ZEPHYR_SDK_INSTALL_DIR the toolchain gets selected.
https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html#set-up-build-environment

Ple

[2019-11-13 07:18] codingspirit opened #20651 "Bluetooth: disable and restart BT functionality"
[This is a question]
Hi Zephyr community,

I'm trying to find a way to turn off/disable bt functionality(i.e. like `bt_disbale`) and restart it later on, but it looks like no such of API has been provided. Any hints will be appreciated.

**To Reproduce**
Steps to reproduce the behavior:
1. Call `bt_enable`
2. Turn off hci controller
3. Power on hci controller
3. Trying to enable and use bt again
4

[2019-11-13 07:58] ioannisg commented on #20598
I 've tried to run the test with user mode on, and it fails; I think libc globals are not put into z_libc_partition, but I might be wrong. I wonder @andrewboie if you could help a bit on this.

[2019-11-13 08:08] vikrant8051 commented on #19685
@jhedberg @carlescufi @cvinayak Kindly note that I am still not able to provision samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app. This is regression.

I've already shared debug log. Please guide me what to do next from my end to solve this issue.

[2019-11-13 08:19] jhedberg commented on #20651
@carlescufi FYI

[2019-11-13 08:20] stephanosio commented on #20598
Also it looks like we need to fix some code introduced by 472ea92e79e346ad390ebbfc1ff27a5776f4fa25.

This commit contains `toolchain_whitelist: gnuarmemb` as well as `NEWLIB_LIBC_NANO` declaration specific to `gnuarmemb` only.

Since the `arm-none-eabi` toolchain included in the Zephyr SDK also supports newlib nano, it should be whitelisted for both `gnuarmemb` and `zephyr`.

[2019-11-13 08:21] jhedberg commented on #20651
@codingspirit how exactly do you do steps 2 and 3? I suppose that's something hardware specific?

We do have plans to introduce a close() callback for HCI drivers, which would map to a new bt_disable() call, however so far it's just a plan, i.e. no code has been implemented yet. Would you be interested in trying to implement this?

[2019-11-13 08:22] jhedberg commented on #20651
Btw, it looks like this is a duplicate of #3192 so we may want to close this one and keep the discussion in the original issue.

[2019-11-13 08:54] ppryga commented on #20629
I apologize for wrong description. It've updated the comment - update section of Description

[2019-11-13 08:57] ppryga commented on #20629
The question here is: if store of that id - by bt_settings_save_id is required each time I call bt_enable on power up? Even the device has already stored some ids in settings?

[2019-11-13 08:57] david-foo commented on #20618
@jhedberg  I can make sure bt_mesh_cfg_srv.gatt_proxy has been enabled because bluz meshctl tool use gatt to do provision and proxy data transfer. If gatt_proxy is not enabled in build, bluez meshctl can not see the device at all.
Let me list the process and commands I used in meshctl:

**nodeA**

discover_unprovisioned on
provision ddd30000000000000000000000000000

menu config
target 0100
appkey-

[2019-11-13 09:00] jfischer-phytec-iot commented on #20278
How did you connected the display to nrf52_pca10040 board then?

[2019-11-13 09:08] pdunaj commented on #20629
Hi @dleach02 it does not look low as it will cause FLASH memory degradation. This will especially impact devices that reboot frequently (e.g. use off mode for power saving) and have small settings partition.

Hi @aescolar , even if the write operation occurs in workqueue it will cause system block for 10s of milliseconds during each reboot. Not at the ble initialization but at the first thing that

[2019-11-13 09:30] jfischer-phytec-iot commented on #20642
oh okay, that with the logic analyzer was not meant for CI. But yes that with FPGA and LA is great, then it should also have a warp drive and replicator, a CI shield that makes tea :tea:...

[2019-11-13 09:31] FRASTM commented on #20621
Hello, can you please detail what you add to enable and configure UARTs on this board

[2019-11-13 09:42] ruuddw commented on #19885
Added the v2.1 milestone to put the PR (ready for merging) on the radar...

[2019-11-13 09:44] stephanosio commented on #20642
well, using FPGA itself as a logic analyser is not really that far-fetched, especially when there are things like openVeriFLA around:
https://opencores.org/projects/openverifla

And yes, you can emulate all sorts of peripherals with FPGA as necessary too:
https://opencores.org/projects?expanded=Communication%20controller

[2019-11-13 10:11] nvlsianpu commented on #20629
@ppryga - Are you sure that write to the flash really occurring? Normal settings check storage content and avoid write of duplicates (although it reads storage while searching for similar key-value).

@pdunaj - first we have to make settings multi-threading safe, other problem is that at the lowest level the flash driver is just blocking API now.

[2019-11-13 10:39] jhedberg commented on #20629
@ppryga thanks for clarifying - it is indeed a bug if data that was just read from flash upon Bluetooth init gets written back to flash. That's something we actively detect and prevent for all other types of data we store in flash.

[2019-11-13 10:52] carlescufi commented on #20651
Yes, this is a duplicate of #3192. @joerchan is currently working on this feature, so we can close this issue and track it in the original one. @codingspirit if you have additional input please add it there.

[2019-11-13 10:52] #20651 closed

[2019-11-13 10:53] Vudentz commented on #20640
It looks like we are not generating a -EAGAIN in case we run out of memory, that would indeed stop us from resuming so the following patch should fix it:

[code]

[2019-11-13 10:54] #19918 closed

[2019-11-13 11:01] jfischer-phytec-iot commented on #20640
@Vudentz I thought so too, but was not successful. I will test it again, maybe I missed something

[2019-11-13 11:12] rakons opened #20652 "The z_arch_system_halt function should not dead loop by default"
**Is your enhancement proposal related to a problem? Please describe.**
When system halts without logger enabled it just silently dead loops, User do not have any feedback.

**Describe the solution you'd like**
System should restart by default when no logger is enabled.

**Describe alternatives you've considered**
The z_arch_system_halt inside fatal.c file is weakly linked function, and the user m

[2019-11-13 11:19] anangl commented on #19031
Resolved by #18895.

[2019-11-13 11:19] #19031 closed

[2019-11-13 11:56] jfischer-phytec-iot commented on #20250
I had more timer to debug it. There is ZLP handling in usb_transfer* which may be useful for the EEM classes, but probably not here :-) I have to collect all the documentation about the ZLP again to prove why it is not correct, in the meantime an other patch to test (should also work with the default 16 byte MPS):

[code]

[2019-11-13 12:10] vanwinkeljan opened #20654 "Add documentation for the flash simulator"
**Is your enhancement proposal related to a problem? Please describe.**

Currently there is no documentation about how to use the flash simulator

**Describe the solution you'd like**

Add documentation about how to use the flash simulator, eg. how to specify the flash size, sector size, features supported via KConfig, ...

**Describe alternatives you've considered**

Browse the code base

[2019-11-13 12:17] jhedberg commented on #19685
@vikrant8051 I was able to reproduce this with onoff_level_lighting_vnd_app. Enabling some stack/thread debug Kconfig options immediately showed a stack overflow in the main thread. Increasing the main thread stack size from 512 to 1024 made the issue go away and I was able to provision successfully.

[2019-11-13 13:18] pabigot commented on #20171
Potential solution in #15364

[2019-11-13 13:44] nordic-krch commented on #20419
@arnopo thanks for the answer. Still today there are couple of things missing in the openamp framework:

- there is no system initialization. It must be initialized by the sample (like in your example). It means that standard, single core sample cannot run on 2 core SoC without modifications. For example standard bluetooth sample cannot run on nrf5340 which has 2 cores (application+network) becaus

[2019-11-13 14:12] zzzh commented on #20278
Using dupond wires

[2019-11-13 14:20] nashif commented on #20652
@andrewboie fyi

[2019-11-13 14:23] nashif commented on #20582
@wentongwu fyi

[2019-11-13 14:30] jfischer-phytec-iot commented on #20278
Then, you could use the same wires to connect the display to the arduino connector as described in the [pull request](https://github.com/zephyrproject-rtos/zephyr/pull/20570/commits/b72ae8e82c3812f20154166508994ee2866fb258#diff-98ab6aff6c3d6a1c4d5b4efe2033af9dR17).

[2019-11-13 14:31] maxvankessel commented on #20621
At home I have a F407, at which it's not reproducible without overclocking it to 180MHz.
Never the less, it did try it.

[code]
If `-DCONFIG_CLOCK_STM32_APB2_PRESCALER=2` the sample works fine

And the zephyr console need to be set to `UART_1` not sure if this can be done by cmdline

Changing `CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=168000000` to 180MHz didn't made a difference

At work I use F446 whic

[2019-11-13 14:39] carlescufi commented on #13708
This should be fixed now.

[2019-11-13 14:39] #13708 closed

[2019-11-13 14:42] AdrianEggenberger commented on #20450
The BLE peripheral is not one of the Zephyr samples. I tried it with one of our own Nordic SDK based peripherals. There I know that they send a connection parameter request ~5s after a connect. If the Zephyr examples have this mechanism as well they could be used too.

The disconnect part on my example can be ignored (in fact I should have removed them from the log) because the disconnect is initi

[2019-11-13 14:49] jfischer-phytec-iot commented on #20640
@Vudentz As I mentioned above it is not enough. l2cap debug logging level is to noisy, I switch to info and changed few lines:

[code]

console:
[code]
`l2cap_chan_le_send_resume()` is called only once.

[2019-11-13 15:09] FRASTM commented on #20351
I cannot see this error.
Included  i2c_ll_stm32: Allow to send zero length message [#20560]
In the VL53L0X_get_info_from_device, writing  0x00, 0x00 to the i2c, always gives a length of 2 when writing to the sensor.

[2019-11-13 15:21] maxvankessel commented on #20621
I found the line where it fails:
```#define __LL_USART_DIV_SAMPLING16_100(__PERIPHCLK__, __BAUDRATE__)     (((__PERIPHCLK__)*25)/(4*(__BAUDRATE__)))```

This is in `stm32f4xx_ll_usart.h` line 376
Calculation overflows `(__PERIPHCLK__)*25)`

[2019-11-13 15:23] mbolivar opened #20658 "The misc-flasher runner is not usable"
**Describe the bug**
During the 2.1 development cycle, a misc-flasher runner was added as a catch-all for special purposes.

However, as discussed in #20273, it is not usable.

**To Reproduce**
Try to write a script that uses this runner to flash a board.

Note that it has no access to the build directory where binary artifacts are stored.

**Expected behavior**
Script called by misc-flasher shoul

[2019-11-13 15:45] AdrianEggenberger commented on #20450
I was able to get a bit deeper in the issue by a new debugging session.

I found out, that there a an indication on the UART interface when the requests is received, but its not the expected type.

I expected an LE Meta Event "LE Remote Connection Parameter Request"
(Core Spec 5, Vol 2, Part E, 7.7.65.6
,but what is received is a
"Low Energy L2CAP Signaling" "CONNECTION PARAMETER UPDATE REQUEST"
(

[2019-11-13 16:19] pabigot commented on #20595
FYI: `hello_world` fails on frdm_k64f when `CONFIG_NO_OPTIMIZATIONS` is enabled.  There's a segfault in `nxp_mpu.c` at line 103 within `region_init`.  AFAICT this also failed at v2.0.

[2019-11-13 16:20] ppryga commented on #20629
@nvlsianpu Yes I'm sure.

This part of code from bt_init sets the flag  BT_DEV_PRESET_ID
[code]
This part of commit (settings.c) triggers save settings:
[code]
And be_settings_save_id triggers work responsible for settings store:
[code]
And save_id does store operation unconditioanlly:
[code]

[2019-11-13 16:31] pabigot commented on #18990
@vanwinkeljan Can this be closed now that #18464 has been merged?  Or do you feel there's more work to be done (and if so, is it still medium priority)?

[2019-11-13 16:33] arnopo commented on #20419
Your point is not crystal clear for me....so please tell me if i misunderstood
Yes you have to manage the master/slave notion in system initialization (e.g. application core is master, network core slave). But in sample involving OpenAMP you have (generally) a RPMsg service provider and a RPMsg service client, with one implemented on a core and the other one implemented on the the other core.  So

[2019-11-13 16:41] wdhpawa opened #20660 "Bluetooth: host: bt_conn_create_le sometimes fails to stop pre-scan before connecting"
**Describe the bug**
The host API function bt_conn_create_le uses the HCI_LE_Create_Connection command to make the controller scan for and connect to an advertiser. However, before doing that, it appears that bt_conn_create_le is doing a pre-scan to find the advertiser, and this pre-scan sometimes appears to be terminated too late, i.e. the host sends the HCI_LE_Create_Connection command _before_

[2019-11-13 16:47] jhedberg commented on #20660
That sounds very strange. If you look at the implementation of the `check_pending_conn()` function in `subsys/bluetooth/host/hci_core.c` you'll see that it calls `set_le_scan_enable(BT_HCI_LE_SCAN_DISABLE)` before calling `hci_le_create_conn(conn)`. These functions will queue up HCI commands in the order that they are called, so it should be impossible for the order to be the wrong way around. Do

[2019-11-13 16:50] andyross commented on #20255
Indeed, a code fix isn't particularly hard.  We'd need a per-CPU tracking of the "last preempted cooperative thread", and on exit from a metairq stack just make that current (if it's still runnable, of course).

The SMP case of migration is an interesting edge case: I'd say no, we don't want to make it schedulable, because the reason it was cooperative in the first place was probably for locking a

[2019-11-13 16:59] microbuilder commented on #20642
In terms of features, I think it would be useful to include the following part in the design in addition to the I2C EEPROM.

- 2.048V (or some similarly convenient) precision voltage reference. I've used this one, but it's just a suggestion: https://www.digikey.com/product-detail/en/texas-instruments/LM4040AIM3-2.0-NOPB/LM4040AIM3-2.0-NOPBCT-ND/2350610

Also, it would be good to include a chip tha

[2019-11-13 17:07] FRASTM commented on #20621
for F407, with HSE @ 8MHz as a source for the PLL, the VCO (= HSE / M * N = 2 * N) cannot exceed 432. With N multiplier set to 336, VCO = 672  (With N multiplier set to 360, VCO = 720)
On the other hand,  APB2 peripheral clock is limited to 84MHz :
- if CLOCK_STM32_APB2_PRESCALER is 1 the APB2 peripheral clock becomes 168MHz
- if CLOCK_STM32_APB2_PRESCALER is 2 the APB2 peripheral clock becomes 84

[2019-11-13 17:10] nashif opened #20663 "kernel objects are being included always, regardless of usage"
Noticing that this file is building unconditionally, whether used or not. This takes 20 byes of RAM

![image](https://user-images.githubusercontent.com/180017/68786942-9bb72000-060e-11ea-9e2e-145ee29e630f.png)

[2019-11-13 17:11] nashif commented on #20663
@pfalcon I remember you mentioning moving this somewhere else and making it conditional.

[2019-11-13 17:15] carlescufi commented on #20660
Can you also specify what your setup looks like? Is this a 2-chip solution or are you running both Host and Controller in the same nRF52840?

[2019-11-13 17:16] jfischer-phytec-iot commented on #20642
@microbuilder I had two (1.024V and 2.048V) voltage references in the schematic, but then removed it because I had in mind that the shield is more about functionality testing, the precision of the voltage is not very important and could also be done with the resistors connected to the A0..A5 pins.
About I2C, anything that just needs SDA and SCL can be topped up as the CI shield should be stackable

[2019-11-13 17:21] maxvankessel commented on #20621
@FRASTM , I see, this has totally slipped my mind

The same goes for the F446, max APB2 for 90MHz.
It's physically impossible, so I understand my failure.

I'm a bit ashamed that I didn't noticed this. I'm very sorry to have wasted your time.

[2019-11-13 17:21] #20621 closed

[2019-11-13 18:01] andrewboie commented on #20598
CONFIG_NEWLIB_LIBC is enabled in prj_newlibnano.conf, so the globals should be properly copied, from CMakeLists.txt:

[code]

Unless the library is not named libc.a?

[2019-11-13 18:04] andrewboie commented on #20652
We'll need to provide a arch_system_halt() implementation for all platforms, then we can simply delete the __weak version in kernel/fatal.c

[2019-11-13 18:04] vikrant8051 commented on #19685
Hi @jhedberg, after setting CONFIG_MAIN_STACK_SIZE=1024, now I
can provision the board (in case of onoff_level_lighting_vnd_app). Thank you for suggestion.

I will send PR shortly for this.

[2019-11-13 18:13] Deliver88 commented on #6291
thank you very much for answering!

Is there an alternative / possibility in Zephyr to separate / hide applications from each other? container-like

[2019-11-13 18:25] andyross commented on #20255
My attempt at a fix is posted above, sorry for crossing with the other work.  It passes the test in @wopu-ot 's PR, but it does not include it (can you resubmit that as a separate patch please?).  Pushing for early review, it hasn't passed a full sanitycheck for me yet.

[2019-11-13 18:26] andrewboie commented on #6291
@Deliver88 what we have right now is documented here:

https://docs.zephyrproject.org/latest/reference/usermode/index.html

Provided virtual memory spaces for devices with an MMU and introducing the concept of Zephyr processes, is the next step and is being looked at this winter.

[2019-11-13 18:32] andrewboie commented on #18990
Hi,

I think all this stuff should simply be malloc/free based. I don't think there's any strong need to preserve the status quo.

If we have everything derived by malloc(), then we have freedom to implement the malloc heap in a way that makes sense for that C library. minimal libc currently does it with a sys_mem_pool(), newlib has its own logic which derives from a memory region implemented in l

[2019-11-13 18:33] Deliver88 commented on #6291
@andrewboie thanks a lot, it sounds good :)

[2019-11-13 19:06] dbkinder opened #20666 "Unexpected UART Kconfig warnings during build"
**Describe the bug**
Did a clean build of samples/basic/blinky for the reel_board, and got a couple of unexpected warnings about UART configuration.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A build of this simple sample with no warnings.

**Impact**
Annoyance and confusion

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04.3
 -

[2019-11-13 19:17] mbolivar opened #20669 "Devicetree: allow one binding to match multiple compatibles"
**Is your enhancement proposal related to a problem? Please describe.**

I would like to be able to write a single devicetree bindings file that allows multiple compatibles to match it.

This will allow me to write a single binding for a single compatible family of devices made by multiple vendors. My particular use case is WS2812 and SK6812 LED controllers, so I want to be able to write:

[code]

[2019-11-13 19:17] mbolivar commented on #20669
from @galak on slack, for the record:

[2019-11-13 19:38] vikrant8051 commented on #19685
@jhedberg https://github.com/zephyrproject-rtos/zephyr/pull/20668 PR submitted to solve this issue.

[2019-11-13 19:51] andyross opened #20671 "ARC: remove scheduler code from arch layer"
The ARC implementation of SMP includes significant logic (see discussions in #20082) that on other architectures is part of the scheduler.  In principle the architecture code shouldn't be inspecting thread state like priorities, or making decisions about threads to switch to beyond those provided by the scheduler.

We should identify the requirements that are driving this and unify the implementat

[2019-11-13 19:58] ulfalizer commented on #20669
I had a PR that added this earlier, but it was rejected then. Can't remember which PR it was part of ATM though.

[2019-11-13 19:59] andyross commented on #20671
Most of the complaints are around the logic in z_arc_smp_switch_in_isr(), which seems to be duplicating what the scheduler has already done by checking a swap_ok flag, updating _current, and adjusting timeslicing.

That is all done by the scheduler for you.  What is supposed to happen is that you call z_arch_get_next_switch_handle() and just switch to the handle it presents.  If, like x86_64 does

[2019-11-13 19:59] ulfalizer commented on #20669
Should be an OR thing I think. If you want to put other restrictions on `compatible`, `properties:` might be a better place to do it, since that's where restrictions on properties are normally added.

[2019-11-13 20:04] #19599 closed

[2019-11-13 20:04] #19885 closed

[2019-11-13 20:11] #20515 closed

[2019-11-13 20:37] vanwinkeljan commented on #18990
@pabigot question is if we want to keep this one open to update zephyrs new implementation to use malloc instead o k_malloc.

[2019-11-13 20:44] MaureenHelm commented on #19872
Fixed by #20004

[2019-11-13 20:44] #19872 closed

[2019-11-13 20:47] andrewboie commented on #18990
It should not be using k_malloc(), such memory is never accessible to user mode

[2019-11-13 20:52] vanwinkeljan commented on #18990
@andrewboie problem is that minimum libc can be build without heap support (and as such without malloc/free) and I have the feeling this is the reason why k_malloc is used. Of Course it is an option to put a restriction in place that a libc with heap is required for c++.

[2019-11-13 20:54] andrewboie commented on #18990
No, that's not why this is the case.
Please, derive all this C++ memory allocation stuff from malloc()/free()

[2019-11-13 21:09] #20000 closed

[2019-11-13 21:26] carlescufi commented on #20450
Both Central and Peripheral must support the Connection Parameters Request Link Layer Control Procedure for the Peripheral to request a conn param update at the Link Layer level. If either of them don't support it the Peripheral will send the L2CAP packet you see.
Most likely your peripheral device does not support the Connection Parameters Request Link Layer Control Procedure and that's why you g

[2019-11-13 21:27] novalisek opened #20673 "guiconfig not working properly?"
**Describe the bug**
Hello,
I am trying to run` west build -t guiconfig`, make some changes, they are writen to zephyr/.config, but still not used by west build.

**To Reproduce**
[code]
then
west build -b nrf52810_pca10040 samples\bluetooth\peripheral  starts to build with new flash partition schema  (and doesn't finish linking, because for nrf52810 FW partition size if 54kB, but compiled binary

[2019-11-13 21:48] pabigot commented on #18990
The k_malloc stuff came in through #10792; I can't tell why that was used except perhaps that (a) looked like `CONFIG_HEAP_MEM_POOL_SIZE` would be the appropriate place to get memory from the heap, and (b) at the time the PR was started the C++ allocation functions were inline function defined in `kernel.h`.

I have no problem with this being converted to malloc/free.

@vanwinkeljan This was assig

[2019-11-13 22:03] vanwinkeljan commented on #18990
@pabigot I will have a look at it

[2019-11-13 22:23] antfobe commented on #20355
@jukkar can I get any update on this?

[2019-11-13 23:18] ulfalizer commented on #20673
If `zephyr\.config` looks correct, then the problem is in CMake or west. `guiconfig` only deals with writing the configuration file.

I'm not sure what west expects re. manually modifying `zephyr\.config` (changing the configuration in the configuration interfaces works like manually modifying the file, except it's safer).

[2019-11-13 23:22] ulfalizer commented on #20673
Could try leaving of the `-b <board>` in the second command maybe. Maybe it re-initializes things. I'm not a west expert though.

[2019-11-14 00:03] mbolivar commented on #20673
That's fine and won't recreate .config. No changes are needed in the west command line.

What do you mean by this? How can you tell there's no mcuboot support and the partition scheme is not changed?

I can't reproduce this at least on Linux. When I look at build/zephyr/nrf52810_pca10040.dts.pre.tmp after running the above steps, I see this:

[code]

Both of these indicate that the code was relink

[2019-11-14 00:09] mbolivar commented on #20669
I think I agree about this. The variant-compatible scheme seems to be along those lines also.

[2019-11-14 00:45] ulfalizer opened #20681 "samples: sensor: lps22hb: Reference to undefined CONFIG_LPS22HB_TRIGGER symbol"
`CONFIG_LPS22HB_TRIGGER` is not defined (though `CONFIG_LPS22HH_TRIGGER` is).

Adding detection of undefined Kconfig symbols in samples and tests.

[2019-11-14 00:45] ulfalizer commented on #20681
In `samples/sensor/lps22hb/src/main.c`.

[2019-11-14 02:00] zzzh commented on #20278
Sounds good, I'll try it, thank you.

[2019-11-14 03:15] zzzh commented on #20278
When I run "west build -b nrf52_pca10040 samples/display/st7789v -- -DSHIELD=st7789v_generic"
It says: No shield named 'st7789v_generic' found

Seems some files not ready yet

[2019-11-14 03:30] #19685 closed

[2019-11-14 03:30] vikrant8051 commented on #19685
Solved !!

[2019-11-14 04:49] #20658 closed

[2019-11-14 07:03] vanwinkeljan commented on #20278
@zzzh are your sure you did checkout the PR branch and have no leftover build directory?

You could try:
[code]

[2019-11-14 07:14] chen-png opened #20686 "tests/kernel/fp_sharing/float_disable failed when code coverage is enabled on qemu_x86."
**Describe the bug**
the common tests/kernel/fp_sharing/float_disable can pass on qemu_x86, bu if with the CONFIG_COVERAGE, it failed.

**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b qemu_x86 tests/kernel/fp_sharing/float_disable/ -DCONF_FILE=prj_x86.conf
     -DCONFIG_COVERAGE=y
     or using sanitycheck -p qemu_x86 --coverage -T tests/kernel/fp_sharing/float_disable
2. west

[2019-11-14 07:44] chrta opened #20687 "Clarification: How to enable on-board nor-flash following the board porting guide?"
This came up in #20194 and was raised by @mnkp in comment https://github.com/zephyrproject-rtos/zephyr/pull/20194#issuecomment-552673262 :

See https://docs.zephyrproject.org/latest/guides/porting/board_porting.html#default-board-configuration

On-board spi-nor-flash is present in some board's device tree, e.g. nrf52840_pca10056, see https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/

[2019-11-14 08:00] codingspirit commented on #3192
I'm coming from #20651

@jhedberg One of possible scenario to use `bt_disable` is HCI controller was powered off by hardware for better power saving. I believe this kind of scenario is quite common in power sensitive IoT devices since it only need BT connection in a short window, but most of time BT can be switched off.

Please let me know if I can help on this.

[2019-11-14 08:16] zzzh commented on #20278
@vanwinkeljan  Maybe I pulled another PR #20580, let me try 20570

[2019-11-14 08:17] rakons commented on #20652
Can we at least force it to print anything if logging is disabled?

[2019-11-14 08:21] nordic-krch commented on #20419
@arnopo i was not clear then. I meant that i want to run bluetooth sample on application core. Application core has no radio but has OpenAMP hci driver. So i enable it in kconfig and that should run. OpenAMP instance should be initialized under the hood by the system and hci driver should only create/attach its endpoint. Currently, to do that we had to add OpenAMP instance initialization in hci dr

[2019-11-14 08:25] novalisek commented on #20673
@ulfalizer - changes are not reset, because if you run guiconfig again, they are still there and yes, may be I should have chosen another subject than  "guiconfig not working", it seems that it is working, but it's changes aren't used by west build

@mbolivar
When you don't yous MCUBOOT, build ends like this:

[code]
but when you use it, it ends like this:
[code]
it is trying to fit into 52KB, tha

[2019-11-14 08:39] LeBlue commented on #20250
@jfischer-phytec-iot I added ALL the changes as well as update zephyr itself, see https://github.com/LeBlue/zephyr/commit/bde5438083b70f6010affb415e51966ca1ec8dd6 , and it seems fixed (runs several minutes, before the fix it crashed after a few seconds).

I will now try out single changes and remove all debug options to see, which change did fix the crash.

[2019-11-14 08:52] zzzh commented on #20278
@vanwinkeljan
Pulled right PR number this time, but got a lot of errors:
`/home/zhu/workspace/zephyrproject/zephyr/drivers/clock_control/nrf_power_clock.c: In function 'clock_event_check_and_clean':
/home/zhu/workspace/zephyrproject/zephyr/drivers/clock_control/nrf_power_clock.c:53:34: error: incompatible type for argument 1 of 'nrf_clock_event_check'
  bool ret = nrf_clock_event_check(NRF_CLOCK,

[2019-11-14 08:59] vanwinkeljan commented on #20278
@zzzh you forgot to run `west update`, the NRF SDK was recently updated to a new version

[2019-11-14 09:03] AdrianEggenberger commented on #20450
I was able to record the procedure with the Nordic Sniffer two times (attached)

[ConnParamUpdateReq.zip](https://github.com/zephyrproject-rtos/zephyr/files/3845535/ConnParamUpdateReq.zip)

1) Using Zephyr firmware on the central side and my application controlling it.
2) Using a Silicon Labs BLED Dongle as central controlled by a foreign software.

In both cases the connection parameter request t

[2019-11-14 09:13] zzzh commented on #20278
@vanwinkeljan
Gotcha, will do that

[2019-11-14 09:17] joerchan commented on #3192
@codingspirit That is a good point. In your setup which HCI driver do you use?
Do you have multi-chip solution where host is on one chip and the controller on the other?
In which case which HCI driver do you use?
Or do you have a combined build with host and controller. Using the zephyr software controller?

[2019-11-14 09:25] zzzh commented on #20278
@vanwinkeljan
It passed compile, but not working, don't understand why

[2019-11-14 09:27] zzzh commented on #20278
@vanwinkeljan
Got it, some pins have to be changed.

[2019-11-14 09:28] jfischer-phytec-iot commented on #20278
@zzzh _ST7789V based LCD module ( a 1.54"_ which one is it? also take a look at my [comment](https://github.com/zephyrproject-rtos/zephyr/pull/20570#issuecomment-553656955).

[2019-11-14 09:29] alexanderwachter opened #20692 "samples: CAN: kconfig: CONFIG_CAN_AUTO_BOFF_RECOVERY does not exist"
The sample code uses the wrong config symbol.
`CONFIG_CAN_AUTO_BOFF_RECOVERY` should be `CONFIG_CAN_AUTO_BUS_OFF_RECOVERY`

#20679 is a fix for this bug.

[2019-11-14 09:35] aescolar commented on #20663
Almost duplicate of #12368

[2019-11-14 09:42] ioannisg commented on #20598
Right, it is called libc_nano.a.
:)

[2019-11-14 09:44] ioannisg commented on #20598
Considering that we have a misconception of how the libc library is called, I'd raise this to Medium priority issue.

[2019-11-14 09:50] zzzh commented on #20278
@vanwinkeljan
It's working now, but looks a little weird

![IMAG0017](https://user-images.githubusercontent.com/5176002/68845932-2da25400-0707-11ea-8b24-5f367dada9d8.jpg)

[2019-11-14 09:51] LeBlue commented on #20250
Adding the `USB_TRANS_NO_ZLP` flag alone fixes the issue.
Increasing the  `CONFIG_BLUETOOTH_INT_EP_MPS` to 64 alone also fixes the issue.

Tested on master@ https://github.com/zephyrproject-rtos/zephyr/commit/235f5654d14b772bc39e0ad28c7dad5c12a47e24

The issue is also present in the zephyr v1.14.1 version and with the same outcome: both changes alone fix the issue.

[2019-11-14 09:51] nordic-krch commented on #19320
@andrewboie now sample builds because `LOG_MINIMAL` is enabled which is not using module registration. If `LOG_MINIMAL` is not set then sample in fact does not build because `LOG_MODULE_DECLARE(fatal)` expects that somewhere in the build there is `LOG_MODULE_REGISTER(fatal)` call and there is no such logging module registered. `kernel/fatal.c` is using `os` module.

[2019-11-14 09:51] #19320 closed

[2019-11-14 09:55] zzzh commented on #20278
@jfischer-phytec-iot
It's called ZJY-1.54, look the picture.
You made a 1.3" branch? cool.

[2019-11-14 10:02] Oanerer opened #20693 "tests: watchdog: test_wdt_callback_1() implementation vs API specification"
**Describe the bug**
While trying to test my watchdog implementation for the Silicon Labs Gecko series [PR #20316 ](https://github.com/zephyrproject-rtos/zephyr/pull/20316) I noticed that the test implementation of ``test_wdt_callback_1()`` relies on a callback function being called by the watchdog hardware before the actual reset is performed when a watchdog timeout is reached. This implementatio

[2019-11-14 10:06] jfischer-phytec-iot commented on #20250
@LeBlue Thanks for feedback. Increasing the CONFIG_BLUETOOTH_INT_EP_MPS to 64 reduces the number of segments in the transfer and is rather a workaround as fix. That with USB_TRANS_NO_ZLP is not really clear for me where the bug is, from "5.7.3 Interrupt Transfer Packet Size Constraints":
[code]

[2019-11-14 10:07] avisconti commented on #20351
When testing with d6d7993 I do not see any message on console. I'nm not sure is the same error, but seems so.

Starting from f2b75fd on, everything works.

@erwango, can you cross verify this?

[2019-11-14 10:17] jfischer-phytec-iot commented on #20278
Yes. Yours looks like 1.54 one from [Adafruit](https://www.adafruit.com/product/3787)

[2019-11-14 10:23] microbuilder commented on #20642
@jfischer-phytec-iot Fair enough, and being stackable we can design a sensor shield, etc. Also ... I apparently clicked the wrong button commenting since I see I close the issue 🤦‍♂️😂 Thanks for reopening.

I have some footprints for the Adafruit Feather connector in Eagle, though it looks like you're using another CAD tool. It's a good footprint choice to include, though, since it isn't massive b

[2019-11-14 10:40] arnopo commented on #20419
@nordic-krch
Thanks for the clarification!
Yes there is a point to improve here. if you have a look to my example (https://github.com/arnopo/zephyr_stm32mp1/blob/I2C_demo/drivers/i2c/i2c_rpmsg.c) i need to use  the exported "rpdev" variable that is the phandle to the OpenAMP instance.

And you are right need a generic way to declare/initiate RPMsg based on DT with rpmsg client declared as childs.

[2019-11-14 10:48] joerchan commented on #20660
Not completely unecessary. In cases with host-based privacy this stage is needed.
So making this stage optional in some cases would be an improvement. But it is wrong to call it a bug.

[2019-11-14 10:55] joerchan commented on #20660
@jhedberg "Zephyr release 2.0 (host running on Linux machine, controller running on nRF52840 dongle), or 2.1 release candidate."
Is this the USB issue where they are on different endpoints? Maybe we don't wait for the command complete for disabling the scanner?

[2019-11-14 10:56] nvlsianpu commented on #20425
Looks like i recognize this unproperly. Flash_map description uses relative offsets and flash driver API as well.

[2019-11-14 10:57] wdhpawa commented on #20660
@jhedberg, we'll try to get a log.
@carlescufi, I've added more details about the environment.
@joerchan, so if the extra scan is for host privacy, it should go away if controller privacy is enabled?

[2019-11-14 10:58] ChristofferSchroeder commented on #20660
Debugging this issue I found that the order of bt_hci_cmd_send_sync... and atomic_set_bit_to...in set_le_scan_enable seems to be relevant. If I switch order, the problem seems to go away (pending more testing).

[2019-11-14 11:00] nvlsianpu commented on #20425
This is NOT an issue then, so I'm closing it.