[2019-06-18 14:59] jli157 commented on #16797
MCUBoot is disabling the multithreading by default. However, I guess the flash driver on STM32 needs multi-threading support. This is why it crashes if you don't enable multithreading.

@erwango the issue is being kept for long time. I have read an issue conversation page in which some guys suggested to enable the multi-threading for MCUBoot by default while the code owner insisted that MCUBoot do

[2019-06-18 15:03] gon1332 commented on #16797
I see, but for master of Zephyr everything is or seem OK, even if the multithreading is off from the MCBoot side.

[2019-06-18 15:05] jli157 commented on #16797
I've not been following the master for a while. Maybe something has changed to address the issue?

[2019-06-18 15:17] pabigot opened #16898 "bluetooth stack change affects timer behavior"
Commit 8a92818c0a0ceea30a9540e3e1557dec2cdf6fbf broke my bluetooth mesh application, in that a work item submitted to the system work queue is never executed.

Prior to the commit the backtrace when idle was:
[code]

At the commit the idle backtrace is:

[code]
In short, it's waiting here:
[code]
but whatever's supposed to change the ticker state doesn't happen.

Commenting out the sleep has no ef

[2019-06-18 15:25] nvlsianpu opened #16899 "fs/nvs: might loop-up if storage was not erased before first run"
**bug**
If storage area content was not clear before NVS first run, that it is possible that in one of subsequent startup nvs will lock-up in infinite loop in GC procedure.

execution was looping infinitely here:
https://github.com/zephyrproject-rtos/zephyr/blob/54000fb886ea5ab21404f927666d60a9a0a238b4/subsys/fs/nvs/nvs.c#L476-L491

If storage was cleared before first run this issue will never occ

[2019-06-18 15:27] pabigot commented on #16898
The behavior is non-deterministic, i.e. the application may run for a few seconds before the conditions that introduce the failure occur.

Reverting 8a92818c0a0ceea30a9540e3e1557dec2cdf6fbf works.  The cause of the failure may be related to something like the diagnostic below (before reverting I'd just see nothing after the first or second `periodic`.
[code]

[2019-06-18 15:30] nvlsianpu commented on #16899
cc @kapi-no

[2019-06-18 15:42] smithp35 opened #16900 "Inline assembly in Arm z_arch_switch_to_main_thread missing clobber list"
**Describe the bug**
I have been experimenting with compiling Zephyr with clang on Arm, I couldn't run the resulting binary with ninja run due to the stack getting corrupted and traced the problem back to this bit of inline assembly in ARM z_arch_switch_to_main_thread
[code]
Is missing the clobber list, I think at least r0 is needed here. When compiling the HelloWorld program with clang I get from

[2019-06-18 15:43] aescolar commented on #16898
That commit has now been reverted from master.
Therefore I guess this issue can be closed?

[2019-06-18 15:46] #16898 closed

[2019-06-18 15:47] aescolar commented on #16872
Closing assuming that after the revert, this works, per [your comment](https://github.com/zephyrproject-rtos/zephyr/issues/16872#issuecomment-503038373)

[2019-06-18 15:47] #16872 closed

[2019-06-18 16:04] andyross opened #16901 "No test coverage for CONFIG_ZERO_LATENCY_IRQS"
This ARM feature exists and appears correct (and builds, at least), but is exercised anywhere in the existing test suite.  It needs validation if we're going to claim it as a feature.

[2019-06-18 16:04] andyross commented on #16901
Discovered when code review for #16782 asked for ZLI support.

[2019-06-18 16:08] andyross opened #16902 "CMSIS v2 emulation assumes ticks == milliseconds"
ARM docs say that the timeout values used in CMSIS v2 are milliseconds, but our implementation (c.f. `osDelay()` in lib/cmsis_rtos_v2/kernel.c and other places) wants to treat these numbers as Zephyr ticks instead.  Our test code seems to be using a mix of conventions.

I added a check to force the tick rate to 1000 when CMSIS is enabled as a workaround[1], but this needs to be cleaned up at some

[2019-06-18 16:11] andyross commented on #16902
Found while cleaning tests up for high tick rates in #16782

[2019-06-18 17:00] dbkinder commented on #10942
@nashif @carlescufi What needs to be done here to address this issue?

[2019-06-18 17:08] #16316 closed

[2019-06-18 17:17] ioannisg commented on #16901
FYI @pizi-nordic

[2019-06-18 17:36] aescolar commented on #16830
As this is not an issue in master, I will close it so it does not count for the release. Let's have the discussion in another place.

[2019-06-18 17:36] #16830 closed

[2019-06-18 17:41] ioannisg commented on #16851
@erwango could you also take a look here?

[2019-06-18 17:50] andrewboie commented on #16894
can we just align the _end symbol in the linker script? seems like a trivial fix

[2019-06-18 18:03] carlescufi commented on #10942
This is already done actually, because it was cleanly documented in the page that @dbkinder linked: https://docs.zephyrproject.org/latest/development_process/api_lifecycle.html

[2019-06-18 18:03] #10942 closed

[2019-06-18 18:03] ioannisg commented on #16894
I think I would promote a more clean solution @andrewboie. I mean, in the libc hooks, we are _still_ creating a mem partition with nPRIV rights outside the #ifdef NEWLIB_LIBC_ALIGNED_HEAP_SIZE, which obviously needs MPU. So IMHO it's the responsibility of the modulte to make sure it uses the right address for the heap. It's not the linker script that is responsible for that...

[2019-06-18 18:57] jhedberg opened #16907 "native_posix build fails with X86_64 on macOS"
I'm trying to make native posix build on macOS. It seems 32-bit support has been discontinued from the macOS toolchain, and indeed the build fails almost immediately with that. I get much further when enabling `CONFIG_X86_64=y` for `samples/hello_world`, but that fails eventually as well, due to what looks like some sort of dependency issue (possibly circular) with various headers:
[code]

I.e. th

[2019-06-18 18:59] jhedberg commented on #16907
Forgot to provide steps to reproduce:

1. apply following diff:
[code]

2. run `west build -b native_posix samples/hello_world`

[2019-06-18 19:09] jhedberg commented on #16907
Also, the obvious question: am I trying to do something that cannot be made to work? I just realised the the X86_64 Kconfig is an arch selection, just like ARCH_POSIX, so is it invalid to try to enable X86_64 when trying to build for the native_posix board? Should new 64-bit variants be created for the posix board and arch definitions?

[2019-06-18 19:12] jhedberg commented on #16907
@aescolar @andyross any comments on this?

[2019-06-18 19:36] andrewboie commented on #16907
I don't think this has ever worked, it requires a 32-bit host toolchain and libs. The kernel is not 64-bit clean yet, although there have been contributions recently to help fix this.

CONFIG_X86_64 isn't the way to go about it, that is an actual arch target and not a POSIX shim.

[2019-06-18 19:37] andrewboie commented on #16894
You can also round up `z_malloc_partition.start = USED_RAM_END_ADDR;` to whatever it needs to be.

[2019-06-18 20:12] mbolivar commented on #15611
@mnkp @pabigot to follow up on our brief discussion today, I thought I would look at all the existing GPIO drivers and see what types of registers they use. From there, I think we can see more clearly what this would look like in practice.

Here are my results (plain text formatted). Comments/corrections welcome; I did this by inspection:

[code]

From this, I think it's clear that if we provide "

[2019-06-18 20:36] ioannisg commented on #16894
Yes @andrewboie we could do that. We also need to round up the _end inside the libc cause it is used directly as is.

[2019-06-18 20:40] jukkar commented on #16778
@ioannisg have you managed to figure out the culprit of this one?

[2019-06-18 20:41] ioannisg commented on #4475
@bencorrado Do you have a plan to work on this board porting?

[2019-06-18 21:05] andrewboie opened #16911 "tests/kernel/sched/schedule_api crash on qemu_x86_64 with SCHED_MULTIQ enabled"
The test case simply hangs at:

[code]

To reproduce, build tests/kernel/sched/schedule_api with SCHED_MULTIQ enabled and timeslicing either on or off (crashes in both scenarios)

[2019-06-18 21:35] #16911 closed

[2019-06-18 21:48] marc-hb commented on #16907
Just mentioned on Slack: https://www.phoronix.com/scan.php?page=news_item&px=Ubuntu-Drops-32-bit-x86

[2019-06-18 23:23] dbkinder commented on #10942
@carlescufi thanks!

[2019-06-18 23:24] marc-hb commented on #11717
Here's my newest and... greatest workaround. Totally unrelated to OVMF.
[code]
Hope it helps

[2019-06-19 00:29] marc-hb opened #16915 "stack_sentinel: rare ASSERTION FAIL [!(z_arch_curr_cpu()->nested != 0U)] @ ZEPHYR_BASE/kernel/thread.c:429 Threads may not be created in ISRs"
**Describe the bug**
Intermittent failure of sanitycheck test:
[code]
Spotted only once. Generally doesn't fail. The previous run was in the exact same conditions and didn't fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Run this test in sanitycheck many times. On a loaded machine maybe?
2. Pray

**Expected behavior**
PASS

**Impact**
Low.

**Environment (please complete the following

[2019-06-19 01:30] xiaoliang314 commented on #16864
@jhedberg Hi, Your fix is working well. But I can't prove the validity of your latest patch. Because it's hard for me to create conditions that can verify this problem.

[2019-06-19 05:09] marc-hb commented on #16880
Considering this is now the only warning appearing in most tests run by default by sanitycheck and considering the current emphasis on certification/compliance/etc. I would recommend raising the priority one notch above the lowest. Now priorities are of course relative and I only have "tunnel vision" of all Zephyr priorities so please correct me with some priority guidelines/rules of thumb; thanks

[2019-06-19 05:30] marc-hb commented on #16907
Your error log has an -include reference to Xcode, can you confirm Xcode/clang is what you were trying to use?

https://docs.zephyrproject.org/latest/getting_started/ doesn't seem to mention any particular macOS toolchain.

Support for 32 bits applications has been removed in Xcode 10 (late 2018)
https://en.wikipedia.org/wiki/Xcode#9.x_series
https://developer.apple.com/documentation/xcode_release

[2019-06-19 05:57] #16779 closed

[2019-06-19 06:07] jhedberg commented on #16907
Yes, that's correct.

No. I tried it sometime last year without much luck. Having seen some clang and 64-bit patches going in lately I thought I'd try it again.

[2019-06-19 06:10] ioannisg commented on #16778
@jukkar on my task list for today :)

[2019-06-19 06:31] erwango commented on #16851
@xuefli , which version of openocd are you using?

[2019-06-19 06:39] jhedberg commented on #16864
@xiaoliang314 thanks! Could you also post a comment in the pull request saying that you've tested it and it works well? That way the reviewers can see it and we make it easier to get the PR eventually merged.

[2019-06-19 06:42] jhedberg commented on #16864
@xiaoliang314 regarding reproducing, the only trick I can think of is to try to reduce the number of available buffers.

[2019-06-19 06:59] Laczen commented on #16899
@nvlsianpu, can you somehow reproduce this ?

I have been going through the code how this could happen and might have spotted a reason for this:
a. nvs_prev_ate updates the address by going up in the ate range one ate at a time (until a sector end is reached when it jumps to the previous sector). When it jumps to the previous sector it will read the offset from the sector close ate or try to find

[2019-06-19 07:20] xiaoliang314 commented on #16864
@jhedberg I've reduced the number of buffers to a very small number. The reason why it is difficult to reproduce is LE Remote Connection Parameter Request Event and LE Data Length Change Event are difficult to occur between ACL sending and numCompleted reply.

[2019-06-19 07:59] pizi-nordic commented on #16901
FYI: @nordic-krch

[2019-06-19 07:59] anangl commented on #16599
@jfischer-phytec-iot Could you try if this patch: https://github.com/anangl/zephyr/commit/0e812743166f4b00977737e6e1388b271f51e41c would solve the problem? It's marked as DNM since such patch should enter through an nrfx update.

Regarding `USB_DEVICE_REMOTE_WAKEUP`, I think that disabling the option could only accidentally prevent the issue as this only makes the device not report to the host tha

[2019-06-19 08:07] #16893 closed

[2019-06-19 08:18] Vudentz commented on #16602
Seems that Android has a bug:

[code]

[2019-06-19 08:56] aescolar commented on #16907
As @andyross commented, the issue today is:
* The kernel (and in 1 place the posix arch), and apps, not being 64 bit clean
* There isn't yet, a POSIX_ARCH_x64 or similar option, which would then set the compiler options to target it (today it explicitly targets x86 with `-m32`)
Note that there is some ongoing work to have these.
(Disclaimer: You may face other issues when trying to compile it or r

[2019-06-19 09:08] #16573 closed

[2019-06-19 09:08] #16582 closed

[2019-06-19 09:50] jhedberg commented on #16907
@aescolar I was kind of expecting this to morph into a feature request (e.g. I already updated the labels) but if you think it's cleaner to start off with a new issue that's fine as well.

[2019-06-19 09:52] aescolar commented on #16907
@jhedberg I think it would be cleaner, yep.

[2019-06-19 09:54] lairdjm opened #16924 "Add DNS server added/removed events to net_mgmt"
At the moment, the net_mgmt callback system supports callbacks for when IP addresses are added or removed from interfaces but there is no way to get a notification when a DNS server (i.e. from DHCP) is added or removed which would be a useful feature so that applications know when they can safely query domain names.

This will be of most use on constrained protocols or those with high latency, suc

[2019-06-19 09:54] jhedberg commented on #16907
Closing as per discussion - will open new issues to track the specific feature requests

[2019-06-19 09:54] #16907 closed

[2019-06-19 10:00] Jeepgoing opened #16926 "NXP LPC54102（LPC54114）: question about dual core(M4 and M0) running on flash"
Hi, @MaureenHelm, I met a thorny problem, my board based on lpc54102 soc, applications distributed on M4 and M0, both M4 and M0 are running zephyr on flash, when i only enabled M0 timer0 with 600us,  the timer range is from 602us to 610, but when i enabled M4 application (used timer3 and spi0), ther range of M0 timer0 become large from 575us to 630us.

allocation of resources is as follows:

i hav

[2019-06-19 10:35] nashif commented on #1843
obsoleted.

[2019-06-19 10:35] #1843 closed

[2019-06-19 10:35] nashif commented on #1766
obsoleted.

[2019-06-19 10:35] #1766 closed

[2019-06-19 10:36] #1933 closed

[2019-06-19 10:42] nashif commented on #2766
outdated

[2019-06-19 10:42] #2766 closed

[2019-06-19 10:44] #2900 closed

[2019-06-19 10:47] nashif commented on #3499
we have renode now

[2019-06-19 10:47] #3499 closed

[2019-06-19 10:50] carlescufi commented on #3640
This is not something we intend to fix unless there are additional requests for it, because it requires proprietary extensions and is fairly involved to write.

[2019-06-19 10:50] #3640 closed

[2019-06-19 10:51] #3722 closed

[2019-06-19 10:51] #3749 closed

[2019-06-19 10:51] #10935 closed

[2019-06-19 10:52] nashif commented on #3846
k_thread_cancel was deprecated already

[2019-06-19 10:52] #3846 closed

[2019-06-19 10:54] agansari commented on #16926
@Jeepgoing current zephyr and mcuxpresso implementation on LPC54114 uses M4 with flash memory and M0 uses one of the SRAMs for program memory. M0's code is copied from flash to the SRAM. We assume M4 is master and M0 is slave.

See the following files:
zephyr/boards/arm/lpcxpresso54114/lpcxpresso54114_m4.dts
`	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &usart0;

[2019-06-19 11:35] #3930 closed

[2019-06-19 11:41] jfischer-phytec-iot commented on #16599
@anangl The patch does not fix the issue but (as expected) fixes the problem that the driver gets stuck in `usbd_dmareq_process`.

[2019-06-19 11:42] Jeepgoing commented on #16926
@agansari  thank you. i know lpc54114 m0 run on ram, my platform is lpc54102, it's ram not enough, so i run both m4 and m0 on flash.

[2019-06-19 12:09] Qbicz commented on #12535
Currently privacy does not work in our configuration because we use multiple identities. @MarekPieta will you be able to check it once problem with privacy/multiple identities is resolved?

[2019-06-19 12:31] MarekPieta opened #16931 "logging: Assertion when in panic mode"
**Describe the bug**
`ASSERTION FAIL [out_ctx->control_block->offset <= out_ctx->size] @ ./subsys/logging/log_output.c:102` occurrs after using `LOG_PANIC()` in multithreaded application.

**To Reproduce**
1. Use multiple threads (at least one should be **preemptive**). Threads should log something.
2. Put logger in panic mode.
3. Observe assert caused by thread switching in `out_func` (`log_outpu

[2019-06-19 12:31] MarekPieta commented on #16931
@nordic-krch, could you take a look at this one please ?

[2019-06-19 13:12] #3805 closed

[2019-06-19 13:20] jhedberg commented on #3936
I'll close this as "won't fix" for now since (besides this issue) no-one has been asking for it or providing clear use cases for it. If the fix was backwards compatible and didn't increase API complexity I could consider it, but I'll close it until someone comes with a stronger case for it.

[2019-06-19 13:20] #3936 closed

[2019-06-19 13:25] nashif commented on #4505
I do not think this will work, you might also have link errors due to some missing symbols and other reasons, trying to cover all cases is just going to complicate sanitycheck without any value. This issue is not that common and should be dealt with using filters instead.

[2019-06-19 13:25] #4505 closed

[2019-06-19 13:26] nashif commented on #4628
@erwango is this ever going to happen? Or has it happened already?

[2019-06-19 13:40] nashif commented on #5579
all listed items fixed

[2019-06-19 13:40] #5579 closed

[2019-06-19 13:45] nashif commented on #7316
Thought about it a bit more, I think those are 2 different things completely. We should support mocking in general, whether ztest is the right place for this or if we should support cmock for example is a different question. native_posix does not replace mocking.

[2019-06-19 13:45] #7316 closed

[2019-06-19 13:46] nashif commented on #7585
we have no HTTP api anymore, so this is obsolete.

[2019-06-19 13:46] #7585 closed

[2019-06-19 14:14] gon1332 opened #16934 "drivers: flash: stm32l4: Erase wait time is not enough"
**Describe the bug**
`flash_erase` cannot erase a page from the STM32L4 SOC flash. I've seen it, after investigating why MCUboot would never perform swapping and always resulted in *panic*.

I concluded that the erase time of a 2K page is not enough. STM32L496xx datasheet states in *6.3.10 Flash memory characteristics*, that the maximum erase time is 24.47ms. It is also noted that these characteri

[2019-06-19 14:14] nashif commented on #16902
@jocelyn-li  please assign

[2019-06-19 14:16] gon1332 commented on #16934
@erwango you seem the most ST person.
@galazari @nikooiko

[2019-06-19 14:17] nashif commented on #15968
@jocelyn-li  please assign

[2019-06-19 14:18] nashif commented on #15447
can't reproduce

[2019-06-19 14:18] #15447 closed

[2019-06-19 14:24] nashif commented on #16046
should be fix now

[2019-06-19 14:24] #16046 closed

[2019-06-19 14:32] erwango commented on #4628
Well, I don't think this is a priority now and I don't think anyone will miss it. There are samples for these sensors (or equivalent), so nothing critical here. Let me close it

[2019-06-19 14:32] #4628 closed

[2019-06-19 15:32] jhedberg commented on #1860
This issue seems to have been forgotten. Nordic already contributed OOB support for SC. I think we can open new issues later if anything more is needed, so I'll just close this one.

[2019-06-19 15:32] #1860 closed

[2019-06-19 15:39] erwango opened #16935 "Zephyr doc website: Delay search in /boards to the end of the search."
**Is your enhancement proposal related to a problem? Please describe.**
When using search functionality in Zephyr Project Documentation, board/ directory hits are reported first. Though in general, this is not in board files that we can get insightful information on Zephyr.
Besides, some generic terms (west, i2c, ...) hit in all boards so we need to go after >100 of hits before getting the result

[2019-06-19 16:08] #16778 closed

[2019-06-19 16:19] dbkinder commented on #16935
Thanks for point this out.

Alas, we don't have this level of control over the Sphinx-generated search results via any settings, but we might be able to introduce a tweak to accomplish pushing the boards later in the search results (the search results seem to be sorted by filename path where the hit is found).  I'll look into this.

We once looked at replacing the site search with a customized goo

[2019-06-19 17:13] marc-hb commented on #4505
The Makefile generated by sanitycheck could have three targets: build, link, run. Then sanitycheck could call each one in sequence. Of course this depends on CMake's ability to generate Makefiles or ninja files with such separate targets in the first place. It's probably the case already but with unpredictable target names.

[2019-06-19 17:33] andrewboie commented on #4505
I do not think this is worth the effort

[2019-06-19 17:41] marc-hb commented on #4505
I would not embark on such an adventure myself either; the value seems low to me too. However there may be a solution that doesn't increase complexity and if yes then I would be happy to review it if someone else cares deeply enough for some reason(s).

[2019-06-19 19:29] carlescufi commented on #16851
@erwango from the log: `Open On-Chip Debugger 0.10.0`

[2019-06-19 19:35] andrewboie opened #16942 "Missing test case coverage for include/misc/byteorder.h functions"
According to LCOV, for include/misc/byteorder.h we only have 58.1% line coverage for this header file.

Need to create a testcase for these functions that prove that each one of them works with all conditional branches taken.

[2019-06-19 19:42] andrewboie opened #16943 "Missing test coverage for lib/os/crc*.c"
We have a bunch of C files in lib/os for computing CRC values. These are not being tested. LCOV shows 42.9% line coverage for crc16_sw.c, and zero coverage for crc32_sw.c, crc7_sw.c, crc8_sw.c. Need to get these up to 100% coverage including branches.

[2019-06-19 19:45] andrewboie opened #16944 "Insufficient test coverage for lib/os/json.c"
This file is insufficiently tested by Zephyr test cases. According to LCOV, for this file we have 79.5% line coverage, 92.3% function coverage, and 48.0% branch coverage. Need to get these values up to 100%, with priority being line/function.

[2019-06-19 20:05] microbuilder commented on #7516
While I would personally argue that no binary objects should be included in the core repo, it's a lot more ambiguous how to handle additional repositories hosted under `zephyrproject-rtos`.

Ignoring the debate of open source or not, from a practical point of view it seems like this would place a significant legal burden on the Zephyr Project to validate that we **can** host and distribute said bi

[2019-06-19 23:29] marc-hb commented on #16915
Another strange and also rare "Fatal fault in ISR!", does it seem related?
[code]

[2019-06-19 23:33] andrewboie commented on #16915
please file a different GH issue for the other crash, the test cases and the errors produced are unrelated

[2019-06-20 00:05] pabigot opened #16946 "characteristic value handle vs characteristic handle"
This is deep in the weeds, but: Various examples and Zephyr code appear to assume that the handle of the Characteristic Value declaration is one more than the handle of the characteristic declaration.  See e.g. 80bc21e03c5e2397ae3f5a12d154c626aa53b45d from #12254.

`bt_gatt_attr_read_chrc` for example [sets it this way](https://github.com/zephyrproject-rtos/zephyr/blob/13b4c17bf76c1e221d2b64ddc7f5

[2019-06-20 02:01] nwsetec commented on #16529
I've encountered this issue now as well

[2019-06-20 05:59] Jeepgoing commented on #16926
Hi, @agansari @MaureenHelm i am trying run some codes on ram through section `.ramfunc`

[2019-06-20 06:55] erwango commented on #16935
@dbkinder,

Yeah that's what I was supposing. Thought, I think the problem is worth investigating, as it is a real drawback of the current doc system. You usually don't know where to find things, so an efficient search functionality is really a plus.

Would be great, thanks for checking this!

[2019-06-20 07:05] gon1332 commented on #16934
Moreover, I've tested on STM32L496ZG and STM32L496RE SOCs, and on frequencies of 2MHz (MSI) and 80MHz (PLL).

[2019-06-20 07:06] erwango commented on #16851
Thanks! the worst part is that I actually searched before asking.

[2019-06-20 07:21] erwango commented on #16851
@xuefli , OpenOCD version 0.10.0 is a bit old.
In Zephyr SDK, OpenOCD version is 0.10.0+dev-g1df07a9a4-dirty.

So in your version, the file to be used is : st_nucleo_l476rg.cfg.
But the best way would be to align your OpenOCD on Zephyr SDK version.

[2019-06-20 07:27] agansari commented on #16926
@Jeepgoing
1. You need to make sure your project has config ARCH_HAS_RAMFUNC_SUPPORT enabled. This is needed to link ramfunc specific linker configurations.
2. Put __ramfunc in front of the function, e.g. __ramfunc void func(void), it's a macro that will place the function in the ramfunc section.

[2019-06-20 07:50] erwango commented on #16934
@gon1332

I can observe the same issue. Strangely, this doesn't happen at a lower offset (tested at 0x1e000).
Also reproduced using `samples/drivers/flash_shell`.
Also reproduced using nucleo_l476rg.

I'll check internally to get more inputs on that and get back to you.

One question:

Out of curiosity, why not using west flash?

[2019-06-20 07:52] Jeepgoing commented on #16926
@agansari

there are too many functions should be moved to SRAM, so how can i move .c file to  .ramfunc？

any ideas?

[2019-06-20 07:56] gon1332 commented on #16934
I've been using st-flash quite some time, before west. Now with west, I make more use of west flash(openocd). I'm currently on the transition, but I like the fact that I can explicitly define the write addresses, eg. for cases like the above.

[2019-06-20 08:13] agansari commented on #16926
@Jeepgoing you still need to enable ARCH_HAS_RAMFUNC_SUPPORT.

You would need to change a linker script to add your file's text section to a certain partition. This can be done as either:
 - edit zephyr/soc/arm/nxp_lpc/lpc54xxx/linker.ld
 - or look at the following sample: zephyr\samples\application_development\code_relocation how it uses custom a linker file and how it's included in the project

[2019-06-20 09:09] Jeepgoing commented on #16926
@agansari  thank you, i will try.

[2019-06-20 09:14] aescolar commented on #16943
@andrewboie Did you account for its unit test? the codecov report seems to indicate they are quite well covered:
https://codecov.io/gh/zephyrproject-rtos/zephyr/tree/master/lib/os

[2019-06-20 09:46] carlescufi commented on #16946
This is a very interesting question, and I think it comes down to whether the spec sentence you quote:

is the first Attribute after the characteristic declaration. All characteristic
definitions shall have a Characteristic Value declaration.

can be interpreted as "sequential in number" or "next attribute with gaps". I think it's the latter, as reflected in the book you mention that I co-authored

[2019-06-20 10:23] #16676 closed

[2019-06-20 10:28] pabigot commented on #16946
Handle".

Thank you; I've corrected the description.  I'm still getting a handle [sic] on Bluetooth at this level.

A similar appears to be present for notify and indicate from #8253.

[2019-06-20 10:28] Vudentz commented on #16946
Yep, the spec actually have the following line to say there could be gaps even when in case of adjacents handles:

That obviusly only apply to GATT client code since for the server we guaranteed values are +1 of the declaration, to be honest I think the spec author lost a very good oportunity to optimize things like discovery by allowing gaps within service handles since an implementation cannot r

[2019-06-20 10:30] Vudentz commented on #16946
Those are server APIs where Zephyr garantees we can do such optimizations.

[2019-06-20 10:35] pabigot commented on #16946
@Vudentz I was sensitive to this possibility because I was intending to use the feature to encode information in the handle value in a GATT server I never got around to implementing.

Thanks for the feedback; based on this I'll complete my patch and send in a PR.

[2019-06-20 10:37] carlescufi commented on #16946
Yes, I concur. That said maybe they were thinking about implementations that would use a linked list from items in a memory pool and use the pool number in the pool as handle or something like that.

[2019-06-20 11:15] Vudentz commented on #16946
Well even then I don't thing one would skip entries on the pool since that cannot be reused without removing the chrc declaration, anyway it is too late to speculate so we can only optimize the server and for things like discovery, etc, we will need to locate the handle with either the characteristic declaration or by doing things like read by UUID to discovery things like a CCC descriptor.

[2019-06-20 11:45] #16453 closed

[2019-06-20 13:17] carlescufi commented on #16946
Read by Type with 0x2803? That's the usual approach

[2019-06-20 13:22] pabigot commented on #16946
FWIW I had first tried that with a BlueZ server and got "attribute not found".  Could well have been pilot error.

[2019-06-20 15:10] marc-hb commented on #16880
For completeness: a small number (30-) of platforms sharing an apparently smaller number of configurations also show a few Device Tree and Kconfig warnings in their cmake output. All other platforms have only this missing `_start` warning in their entire sanitycheck output.

Here's a good test to produce most warnings in `sanity-out/**/*.log`

`${ZEPHYR_BASE}/scripts/sanitycheck -T ${ZEPHYR_BASE}/

[2019-06-20 15:27] carlescufi commented on #16946
@pabigot "Attribute Not Found" doesn't necessarily mean error, it usually means there's nothing else to discover. If the handle was wrongly set and you'd try to read or write to it you would instead get "Invalid Handle".

[2019-06-20 15:52] erwango opened #16961 "Modules: add a SHA1 check to avoid updating module in the past"
**Is your feature request related to a problem? Please describe.**
In case of several PR on going having dependencies on the same module, it could be possible that the module PR are not merged in the same order as the zephyr main repo PRs.
In that case, when merging the last zephyr PR we should not update the module SHA1, otherwise we'll update SHA1 to a predecessor version of the module and lates

[2019-06-20 16:10] andrewboie commented on #16943
@aescolar we are not getting any of this stuff when we run coverage reports using gcovr/lcov.
Someone needs to fix that.

[2019-06-20 17:43] aescolar commented on #16943
Someone needs to fix that.

@andrewboie Do you mean we don't when run with the QEMU target? The unit tests are their own target: ```sanitycheck -p unit_testing -C```
The old codecov report was based on everything run in the 1st CI instance (which should include unit_testing, native_posix and nrf52_bsim).

[2019-06-20 17:46] andrewboie commented on #16943
Why are the CRC tests a special snowflake?
This is a total, inconsistent mess!!

[2019-06-20 18:12] aescolar commented on #16943
Don't ask me, it was there before I joined the project.
But you can see the positive side of it: the CRC test is a test of the unit tests and all related infrastructure ;-)

[2019-06-20 18:24] andyross commented on #15279
Sorry, I'd forgotten entirely about this until the same issue cropped up elsewhere.  Fix submitted.

[2019-06-20 18:26] marc-hb commented on #16915
Another nearly identical instance:
[code]

[2019-06-20 19:32] nashif commented on #16943
last time I tried I was not able to combine results generated by qemu targets with native_poisx and unit_test.

crc in any case is well covered with the unit_test, shows 100% here when I run locally.

[2019-06-20 22:30] ioannisg commented on #16901
I've got an idea of a simple test for this feature; if you have any proposals, @nordic-krch , you can write here.

[2019-06-21 00:07] marc-hb opened #16968 "silabs/gecko/emlib/src/em_gpio.c:111:35: warning: ?: using integer constants in boolean context [-Werror=int-in-bool-context]"
**Describe the bug**
[ccache used to cache pre-processor output as a speed optimization](https://github.com/ccache/ccache/issues/116). But contrary to a popular myth, C compilers don't handle already pre-processed code the same. Feeding the compiler with already pre-processed code surfaces one hidden warning in `silabs/gecko/emlib/src/em_gpio.c`. This used to be a sanitycheck showstopper because s

[2019-06-21 02:50] marc-hb commented on #16968
Following a suggestion from @joshtriplett I put ccache aside and separated the pre-processing and actual compilation steps:
[code]
This does produce the same warning on the second, actual compilation step. This confirms that the Zephyr SDK behaves somewhat differently when performing both passes at once and that the http://petereisentraut.blogspot.com/2011/09/ccache-and-clang-part-2.html article i

[2019-06-21 06:04] icephyr opened #16971 "DFU supported for hci_uart sample ?"
Hi guys,
 Now I am research on the DFU function by uart. I use nrf52832 running hci_uart sample as controller to connect with the Host. All I want to do is to upgrade the firmware of nrf52832 by the host via uart. I learned some articles on the website, but it seems not to work with the hci_uart sample. Here is the conf I added into the config file of hci_uart sample.
`CONFIG_MCUMGR_SMP_UART=y
CON

[2019-06-21 11:19] carlescufi commented on #16971
You want to update the hci_uart sample with mcumgr? That is not going to work because mcumgr requires the Bluetooth Host, and this sample only enables the Controller. Here are the options that you have:

1. Use mcumgr on the main CPU, the one that you use to connect to the CPU running hci_uart
2. Use MCUboot's serial recovery mode. Enable that in the chip running hci_uart and then the main CPU can

[2019-06-21 16:24] #6039 closed

[2019-06-21 17:47] marc-hb commented on #3689
Mentioning clang PR #14077 just for the record, I understand it's only for host toolchain and x86

[2019-06-21 19:00] gnuless commented on #16721
@galak and @ulfalizer are rewriting the devicetree scripts. Waiting on that before I fix this.

[2019-06-21 23:28] marc-hb commented on #16968
I found why I hit this issue only on Ubuntu 16.04 and why sanitycheck doesn't fail on Ubuntu 18.04 or Fedora: newer distributions changed the default ccache setting:
[code]
Description updated accordingly.

[2019-06-22 00:11] GeeseHoward opened #16988 "Packet isn't received by server during stepping"
**Summary:**
I have two applications (A and B) and I'm trying to communicate some data from application B to A over **UDP**/**OpenThread**.
The platform is NRF52840.

Following are excerpts from the two applications (BP indicates breakpoints):
Application A:
[code]
Application B:
[code]
I launch and resume application A which hits the blocking call recvfrom.
I then launch application B. My expecta

[2019-06-22 10:06] carlescufi commented on #16988
I will delegate the full response to @rlubos, but my guess is that when you stop the execution flow the relevant interrupts are not executed, causing the stack to go into undefined behavior. This is definitely the case for Bluetooth Low Energy, and I wouldn't be surprised if this was the case with Thread/15.4 as well.

[2019-06-22 10:15] chrta commented on #16968
Info: The current gecko sdk (emlib) 5.8.0 still contains this issue.

[2019-06-22 10:43] GeeseHoward commented on #16988
Thank you very much for the response, first of all.
I have one further observation to add.
I have now modified application B and added a sleep immediately after the send call:

Application B (with sleep):
[code]

When I step over the send call in B, the breakpoint in A doesn't hit like before. However, as soon as I step over k_sleep, the breakpoint in A consistently hits.

[2019-06-22 11:28] GeeseHoward opened #16989 "Errors when building application in Eclipse"
**Description**
I'm using Eclipse for application development. The application uses OpenThread.
When I clean and rebuild the application, the console log shows errors, but binary gets built nonetheless. However, the C/C++ Editor starts showing lots of 'Could not find symbol in index' errors.
If you make a minor modification in the application source and build the application again, the errors disa

[2019-06-22 19:48] carlescufi commented on #16989
@GeeseHoward thanks for the report. Would it be possible for you to bisect this to find out which commit introduced the error?

[2019-06-22 21:17] GeeseHoward commented on #16989
@carlescufi I quickly tried going back a few commits and the error is still reproducing. Going too far back starts giving me different errors entirely. I will keep trying.
One question: When you build an application with OpenThread the build system clones the OpenThread project as well. The files which are highlighted in red during the build are all located in the OpenThread project. Does this imp

[2019-06-22 22:33] ioannisg commented on #2049
Lazy stacking is now supported in ARM, @MaureenHelm, @carlescufi , so I close this issue.

[2019-06-22 22:33] #2049 closed

[2019-06-23 01:15] gnuless opened #17004 "arch/x86: build errors with newest build-grub.sh scripts"
**Describe the bug**

Attempts to build grub with the script fail under Ubuntu 18.04.2 LTS.  This is a regression introduced with changes starting with #14468.

**Screenshots or console output**

[code]
_system hangs here for quite some time, there's a host lookup issue with the specified gnulib repo in the script, it then continues.._

[code]

**Environment (please complete the following informat

[2019-06-23 01:35] rettichschnidi opened #17005 "Upstreamability of SiLabs RAIL support"
# Motivation
I am evaluating the SiLabs EFR32 Wireless Gecko SoCs for a new product. While the MCUs are already supported, I'd also need need Sub-GHz and/or Bluetooth support, which is not yet available in Zephyr. Having proper support in mainline Zephyr (willing to contribute it) is quite important because I do not want to maintain a private fork forever.

# Problem
Unfortunately, it seems that u

[2019-06-23 02:27] gokcedilek commented on #12257
Hello,
I am trying to compile and debug my code in VS Code for the STM32 F401RE MCU. When I attempt to build my project, I am getting the following error: "C:/Program Files (x86)/GNU Tools ARM Embedded/8 2018-q4-major/bin/arm-none-eabi-objcopy:build/vscode2.hex: bad value". What would you suggest doing in this case?
Thank you very much!

[2019-06-23 07:56] ioannisg commented on #2856
We have tests/kernel/fp_sharing for all architectures where FP services are supported. I think this should suffice, @nashif @MaureenHelm . I would close this old issue.

[2019-06-23 07:57] ioannisg commented on #2856
Feel free to re-open, if needed.

[2019-06-23 07:57] #2856 closed

[2019-06-23 08:56] ioannisg commented on #7598
At least for ARM, the interrupt stack is used until we initialize the kernel and jump to main. So it is not trivial to do this in init.

[2019-06-23 12:56] carlescufi commented on #17005
Thank you for opening this issue @rettichschnidi.

We have discussed this particular issue in the last 2 TSC meetings. The resolution was that we would provide a proposal that then the TSC could vote on. I have updated the original issue I opened concerning binary blobs and non-standard licenses here:

https://github.com/zephyrproject-rtos/zephyr/issues/7516

I would encourage you to join us on th

[2019-06-23 13:00] carlescufi commented on #17005
I believe the only way is to convince SiLabs to do so. I know that @kestewart wanted to talk to the company to see if they would be interested in relicensing them.

I don't think so, they included the license agreement in their tree, so they are just repackaging what SiLabs distributes.

That depends on the resolution of #7516.
Another possibility, as I describe there, would be to include all the

[2019-06-23 13:23] carlescufi commented on #16989
It is likely, yes. But without more feedback from the experts on OpenThread I cannot say for sure.

[2019-06-23 16:03] pabigot commented on #7516
Please retain the distinction between "Apache-2.0" and "OSS" in this discussion.  They are very much not the same.

I'm not clear on what "OSS" is intended to identify.  It would perhaps be better to use the term [OSI-approved license](https://opensource.org/licenses) where open source beyond Apache-2.0 is being addressed.  Note that GPL is OSI-approved.

[2019-06-23 16:08] pabigot commented on #7516
Repeating here the position I gave in TSC chat on 2019-06-12:

Zephyr bills itself as Apache-2.0, which I believe to be true of the main repository.  Through west it pulls in material from other repositories; at the moment these are hosted by zephyrproject-rtos, but in principle they could be external.  It's not clear to me whether all material in those repositories is also Apache-2.0.

As an open

[2019-06-24 01:49] icephyr commented on #16971
Thanks @carlescufi , I will have a try.

[2019-06-24 06:26] marc-hb commented on #7516
+1 and I believe you've been considering only the default `zephyr/west.yml`. West should have a `west list --format={license}` field that works for any manifest. From a developer (and lawyer) perspective it's much more important to know the licenses that are going into a product than which server or mirror it's hosted on.

Examples:
`pip3 install --user pip-licenses && pip-licenses`
https://www.yo

[2019-06-24 07:25] MarkWangChinese opened #17007 "USB mass demo format fails on frdm_k64f"
**Describe the bug**
with the native kinetis usb controller driver, the mass demo runs unstable.

**To Reproduce**
Steps to reproduce the behavior:
1. Increase the ram disk size by changing #define RAMDISK_VOLUME_SIZE (32 * 512) to #define RAMDISK_VOLUME_SIZE (300 * 512) in file fat12_ramdisk.h
2. Execute the command line: cmake -GNinja -DOVERLAY_CONFIG="overlay-ram-disk.conf" -DBOARD=frdm_k64f  .

[2019-06-24 07:27] MarkWangChinese commented on #17007
@jfischer-phytec-iot Do you have time to check it? or I will check it later. I tried the shim driver, and it is OK.

[2019-06-24 07:57] aescolar commented on #7516
(Being a bit pedantic here, but I'd think we need to be much more precise in this discussion)
@pabigot The main repo would be Apache-2.0 _compatible_. There is BSD & MIT code in `ext/` and in some other places in-tree.
I guess that is what you meant to say? and therefore a "compatible" should be added to your question 0?

@carlescufi It may be worth rephrasing the top comment, removing the "OSS" t

[2019-06-24 08:33] PiotrZierhoffer commented on #16683
@pfalcon , yeah, about multitasking - I missed your message, sorry for that. I will post to devel at once.

[2019-06-24 09:38] pabigot commented on #7516
No, I meant to say Apache-2.0.  The `LICENSE` file at the top says that's it's license.

The following command:

    git grep SPDX-License | grep -v Apache-2.0 | sed -e 's@^.*:@@' | acut 1| sort | uniq

shows Zephyr, as of a recent master, has these licenses in its `SPDX-License-Identifier` tags:
* BSD-3-Clause
* BSD-5-Clause-Nordic
* CC0-1.0
* GPL-2.0
* ISC

I am informed by this.

[2019-06-24 09:54] rlubos commented on #16988
Hi @GeeseHoward ,

What thread priority does your application run on?

The networking stack in Zephyr uses its own internal thread for transmitting packets. Any interaction with the underlying L2 takes place from within that thread.

When you call `send` function from your application, the function quits after it queues your packet for sending. The packet will only be sent to the network after the

[2019-06-24 09:56] aescolar commented on #7516
@pabigot ( sorry, I should have phrased my statement as "The main repo would contain Apache-2.0 compatible code" (irrespectively of the project overall being licensed as Apache2.0). It may have caused some confusion )

@pabigot Did you mean to say that you would like to restrict the main repo, and repos pulled by the default manifest, to contain _only_, Apache2.0 code?. And bar non-Apache2.0, but

[2019-06-24 10:13] pabigot commented on #7516
I presented as a naive new user who assumed the `LICENSE` file gave me a correct description of the licensing that applied to the content of the tree it's in.  I had only intended to make a clear statement that preserved the existing state.

Since Zephyr does not accurately describe the licensing of its contained material (at least in the place a naive user would expect to find it), perhaps that s

[2019-06-24 10:22] rlubos commented on #16989
So these two are indeed autotools reports, which OpenThread uses:
[code]
I don't see though why are they treated as errors. Possibly Eclipse simply misinterprets the results? All in all, there are two different build systems running for one project.

All other semantic errors refer to Zephyrs symbols - most likely an issue with Eclipse configuration. I haven't been using Eclipse with Zephyr for so

[2019-06-24 10:43] raveslave commented on #3689
Anyone running their projects as native_posix + LLVM in Xcode (macOS) ?

[2019-06-24 11:35] GeeseHoward commented on #16988
Thanks for the response, @rlubos

I just have a main function in my application and no other threads, and I don't know what the priority of the main is.
The problem I'm facing is that this makes debugging a bit inconvenient. Right now I'm working around this by introducing `k_sleep` after the function calls, but if there's a better way to debug then that'd be great.
Would using threads with a diff

[2019-06-24 12:25] rlubos commented on #16988
@GeeseHoward

Regarding sniffer, I use the one you've pointed to. Here're some extra docs on it: https://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.thread_zigbee.v3.0.0%2Fnrf802154_sniffer.html&cp=5_2_4_0
All you need is an extra DK/dongle to flash the sniffer firmware into and a Wireshark.

Regarding threads, I had an impression that if the application runs on a lower prio

[2019-06-24 13:19] paulgavrikov opened #17013 "Bluetooth: Add error reason to pairing failed callbacks"
**Is your enhancement proposal related to a problem? Please describe.**
Right now we cannot notify the user if the passkey entry was wrong or the pairing did not complete for other reasons.

**Describe the solution you'd like**
Simply adding an error reason would be sufficient. However, this may require a new enum.

[2019-06-24 13:30] lbise commented on #16594
Hello @jukkar. Do you have any input on this problem?

[2019-06-24 14:01] pabigot opened #17014 "reentrancy protection in counter drivers?"
While implementing a new counter driver for the Maxim DS3231, I noticed that support for safe use in a multithreaded environment is pretty much missing: except in qmsi where it's optional nothing prevents one thread from being swapped out in mid operation, or invocation from an interrupt.

Is this a problem?

[2019-06-24 14:32] alexanderwachter opened #17015 "#15910 Breaks Ethernet on STM32F7"
**Describe the bug**
After #15910 Ethernet seems to be broken.

**To Reproduce**
Steps to reproduce the behavior:
1. `git checkout a4f3e628e51a1d5cd6fe835aac4058dc3bd56a28`
2. `west build -b nucleo_f746zg zephyr/samples/net/zperf && west flash`
3. open terminal and type `net iface` to get the IPv6 address
4. Connect to host with Ethernet
5. Try to ping the board
6. Board answer correctly
7. `git c

[2019-06-24 14:43] jukkar commented on #16594
I have been busy with other tasks but can look to it next.

[2019-06-24 14:45] alexanderwachter opened #17017 "#16827 Breaks Ethernet on FRDM-K64F"
**Describe the bug**
After #16827 Ethernet doesn't work on FRDM board.
This seems weird because it has nothing to do with Ethernet.
After removing this commit from master Ethernet works again

**To Reproduce**
Steps to reproduce the behavior:
1. `git checkout 2b32059a618bf61e153a0fd29b21f0009dcd785d~1`
2. `west build -b frdm_k64f zephyr/samples/net/zperf && west flash`
3. open terminal and type `n

[2019-06-24 15:08] jhedberg commented on #16907
@aescolar curious how #17018 relates to this - is it really that simple to do a 64-bit posix build?

[2019-06-24 15:17] olofj commented on #16907
BOARD=native_posix_64  and #17018 produces a valid build for me on Linux:

[code]

[2019-06-24 15:33] jhedberg commented on #16907
@olofj where do you get that board definition from? It doesn't seem to exist upstream at least.

[2019-06-24 15:38] olofj commented on #16907
Oh, my bad -- I was working on top of some WIP patches from @npitre that haven't yet been upstreamed.

[2019-06-24 15:54] erwango commented on #17015
Likely a consequence of cache being enabled as a result of moving from DTCM to SRAM.
Can you test  to disable cache in case ethernet is used?
So in `soc/arm/st_stm32/stm32f7/soc.c`:
[code]
Txs

[2019-06-24 16:03] pabigot commented on #11993
@andrewboie Thanks for #12056 which I believe was intended to support this need.  I've finally gotten back to this, and I'm not clear how you intended the infrastructure to be used.

Here's concrete example: I'm doing a driver for the Maxim DS3231 RTC/TCXO, a real-time clock with battery backup that maintains civil time to 1 s precision.  Under Zephyr's architecture this is fundamentally a 1 Hz co

[2019-06-24 16:49] b0661 commented on #11993
The UART driver provides a driver specific system call since the very beginning of Zephyr.

It is simple. It is already available.  It is guarded by a config option to prevent waste of memory. It works (tested with a specific UART implementation where mostly configuration work but also functionality is routed through this interface).

Can this be the model for the other drivers (maybe by exchangin

[2019-06-24 16:54] aescolar commented on #16907
@jhedberg Yes. That `-m32` is to explicitly tell the compiler to build for x86, otherwise it targets the host platform.
But what you need is to have the different 64bit issues solved around in Zephyr. Once @npitre solves them, you should be able to compile safely for 64bits (if your application is also 64bit clean). I thought he was planning to add a config option to native_posix to select so. But

[2019-06-24 17:07] pabigot commented on #11993
@b0661 Thanks, I hadn't seen that solution mentioned before.  I suppose it could work with wrappers to make the api a lot more user friendly.  The signatures of the different extended functions will generally be very different.

There's nothing that prevents you from passing arguments designed for a different driver variant, resulting in unpredictable behavior.  I think that's why @andrewboie prov

[2019-06-24 17:16] #16887 closed

[2019-06-24 17:22] aescolar commented on #17017
CC @npitre  for your information

[2019-06-24 17:38] marc-hb commented on #16907
Sorry for being pedantic but as usual in this area there's a high potential for confusion, so better safe than sorry: even with -m32 the compiler still targets "the host platform". Both native_posix (-m32) and native_posix_64 run on the host. The exact same host does both 32 and 64 bits simultaneously.

BTW https://www.phoronix.com/scan.php?page=news_item&px=Ubuntu-Partial-32-Bit-19.10

You bet.

[2019-06-24 17:51] npitre commented on #17017
Is there a way to reproduce this in qemu or something without actual
hardware?

[2019-06-24 18:28] martinpalsson opened #17020 "Accurate error message when attempting to build using west with uncompatible cmake version"
**Is your enhancement proposal related to a problem? Please describe.**
When attempting to build with west on a pc where an old version of cmake is present, it is possible that west runs with the old version of cmake leading to a build error with inaccurate error message.

**Describe the solution you'd like**
Add an help string when cmake returns an error code,
`Please check your cmake version wit

[2019-06-24 20:37] jukkar commented on #17017
I tested this and Ethernet works properly with qemu_x86, native_posix and also with sam_e70_xplained boards. I used `samples/net/sockets/echo-server` app in my tests.
I also verified that Ethernet did not work with latest master in frdm-k64f, the board was not able to send or receive packets. I did not bother to bisect the offending commit as @alexanderwachter already had done that.

[2019-06-24 20:54] andrewboie opened #17021 "revise concurrency control in kernel/userspace.c"
The concurrency control in kernel/userspace.c used to be implemented completely in terms of irq_lock()/irq_unlock(), and ports poorly to SMP-safe spinlocks.

The current port to spinlocks will not really work well on a real SMP system, the locks are not used consistently and some are "protecting" code and not data. In addition, we would like in some cases to use k_mutex for protecting things like

[2019-06-24 21:05] npitre commented on #17017
Unless commit 2b32059a61 introduced a bug I can't spot, the only other
effect would be a possible code placement difference. I'm afraid this
will require some investigation using pyOCD on the affected hardware, or
the addition of various printk statements in key areas of the code to
find out what's going on.

[2019-06-24 21:20] andrewboie opened #17023 "userspace: thread indexes are not released when dynamic threads lose all references"
When a dynamic object has its permission count go to zero, the object is automatically freed. In the case of thread objects, the thread object will be freed, but the thread index is not released.

This *does* work correctly for explicit calls to k_object_free(). It's only when the object is freed in unref_check() that this doesn't happen.

This simple patch ought to fix it, but doesn't actually wo

[2019-06-24 21:24] andrewboie commented on #17023
Please be sure to amend the test cases in tests/kernel/threads/dynamic_thread once this is fixed.

[2019-06-24 22:38] #14493 closed

[2019-06-25 06:13] DeclanTraill opened #17031 "Compiler warnings in settings module in Zephyr 1.14"
@nvlsianpu

We are getting a number of Compiler Warnings when building Zephyr 1.14 (See below).
The variable rc is not initialized in these functions and could potentially get returned without being set to a value. In actual fact it may not be possible for this to happen due to the values passed into these functions being correct, but the Compiler cannot determine this, and it would be safer to ac

[2019-06-25 07:13] jukkar commented on #16594
@lbise Can you test my fix proposal? I only tested with with unit tests so it should work but it would be nice to get ack from you.

[2019-06-25 07:25] lbise commented on #9944
I kinda missed this question. The problem is located in subsys/net/lib/sockets/sockets.c in function zsock_connect_ctx. Specifically this call : https://github.com/zephyrproject-rtos/zephyr/blob/a30162be352646c4d9dc2cc9a0cf1dfd9911a476/subsys/net/lib/sockets/sockets.c#L328
Here K_FOREVER is passed to net_context_connect which eventually leads to a call to net_tcp_connect which takes a semaphore us

[2019-06-25 08:51] alexanderwachter commented on #17015
@erwango deactivating the caches doesn't help.

[2019-06-25 08:52] rveerama1 opened #17037 "MQTT with TLS support over SOCKS"
Current support for SOCKS is only available for MQTT. And MQTT with TLS over SOCKS is not supported.

[2019-06-25 08:59] wentongwu opened #17038 "code relocation generating different memory layout cause user mode not working"
**Describe the bug**
In the magic building process for user mode, there are different memory layout as below log show.
The map file of building zephyr_prebuilt.elf is:
[code]

And ztest_thread_stack located in 0x60030000 from below log and we can also find it from map file.
`gen_kobject_list.py: symbol 'ztest_thread_stack' at 0x60030000 contains 1 object(s)`

The map file of building priv_stacks_p

[2019-06-25 09:40] jhedberg opened #17041 "[1.14] Bluetooth: Mesh: RPL handling is not in line with the spec"
The handling of the Replay Protection List is not in line with how Figure 3.43 in the Mesh Profile Specification 1.0 specifies.

[2019-06-25 11:26] longcongduoi opened #17043 "compile "hello-world" sample for esp32 board error"
*[ 47%] Building C object zephyr/CMakeFiles/zephyr.dir/arch/xtensa/core/xtensa-asm2.c.obj
In file included from /home/longdh/embed/zephyr-dev/zephyr/arch/xtensa/core/xtensa-asm2.c:14:
/home/longdh/embed/zephyr-dev/zephyr/soc/xtensa/esp32/include/_soc_inthandlers.h:42:2: error: #error core-isa.h interrupt level does not match dispatcher!
 #error core-isa.h interrupt level does not match dispatcher!

[2019-06-25 14:29] #11107 closed

[2019-06-25 14:29] #12039 closed

[2019-06-25 15:02] EddLeon opened #17053 "Bluetooth Mesh: Periodic Publishing"
**Describe the bug**
I am working with bbc_microbit modules, using Bluetooth-Mesh examples from the Bluetooth official website as a base (self provisioning and configuring). I want to set a periodic publishing but the callback function is not being called.

**To Reproduce**
Steps to reproduce the behavior:
[code]

Inside the configuration function:
[code]

Relevant Kernel configs:
[code]

**Expect

[2019-06-25 15:54] ioannisg commented on #15769
Is this one still an issue @lemrey ??

[2019-06-25 16:08] tedd-an opened #17055 "net: Incorrect data length after the connection is established"
**Describe the bug**
After the connection is established, TCP miscalculates the length of the payload. It includes the TCP option as a part of the data payload.

It looks like the TCP is not using tcp_hdr.offset to calculate the size of the header.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja DBOARD=samples/net/socks/echo_server
3. ninja && ninja run

[2019-06-25 16:18] jhedberg commented on #17053
Could you enable `CONFIG_BT_DEBUG_LOG=y` and see if the stack is outputting any warnings or errors to the console? If I remember right the set vendor publication message is so large that it has to be segmented, so you need to be careful to make sure you have sufficient buffers and segmentation contexts to deal with it as well as the response, *especially* if you're sending the message to yourself

[2019-06-25 16:24] #16946 closed

[2019-06-25 16:31] ioannisg commented on #16971
@icephyr could this question be closed?

[2019-06-25 16:55] jhedberg opened #17057 "Bluetooth: Mesh: Implementation doesn't conform to latest errata and 1.0.1 version"
The Mesh Profile Specification 1.0.1 and various specification errata bring with them new requirements which the current implementation isn't fulfilling. These are mostly limited to the provisioning protocol and the following test cases:

MESH/NODE/PROV/BV-10-C
MESH/NODE/PROV/BI-03-C
MESH/NODE/PROV/BV-12-C
MESH/NODE/PROV/BI-13-C

[2019-06-25 17:17] ioannisg commented on #17031
@DeclanTraill do we get the same warnings in master?

[2019-06-25 19:45] carlescufi opened #17063 "tests/kernel/tickless/tickless_concept (qemu_x86) fails even outside of CI"
I am getting these failures on master on my machine:

[code]

[2019-06-25 19:54] gnuless opened #17064 "drivers/serial/uart_ns16550: CMD_SET_DLF should be removed"
This part of the uart `drv_cmd` API should be either public-facing or removed.

The value of the DLF is a function of the baud rate, and IMO shouldn't be manipulated independently. It should be accounted for in `set_baud_rate()` (if at all), so the API and orphaned header should be removed.

[2019-06-25 20:01] dleach02 opened #17065 "Misspelled CONFIG use in is_rodata() for CONFIG_RISCV32"
**Describe the bug**
The supporting function is_rodata() uses CONIFG_RISCV32 instead of CONFIG_RISCV32 conditional test which results in all string tests failing the test for is_rodata()

**To Reproduce**
Only impacts RISCV32 builds.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
Huge annoyance since every logging message with strings that are in

[2019-06-25 20:20] carlescufi commented on #17063
I can reproduce locally consistently on latest master

[2019-06-25 20:25] carlescufi commented on #16989
Those are really not errors @GeeseHoward. They are just autotools reporting installation of tools, this is probably Eclipse just being confused.

[2019-06-25 21:14] andrewboie commented on #17023
@wentongwu see #17027

[2019-06-25 21:15] andrewboie commented on #17023
Wondering if a k_mutex would be better? It supports nested locking, and as a bonus won't disable interrupts.

[2019-06-25 21:52] EddLeon commented on #17053
Thanks for the reply!

The objective is to periodically broadcast data to different group addresses. The problem, as mentioned before is that the callback function on the "broadcaster" is never called and thus, the publishing does not take place (in a periodic fashion), if I make a normal publish (bt_mesh_model_publish()) it works fine.

This is the output of my current test code:
[code]

I don't

[2019-06-25 23:03] andrewboie commented on #17063
Also seen on qemu_xtensa

[2019-06-25 23:05] andrewboie commented on #17063
Also this test failed 100% of the time if CONFIG_COVERAGE was enabled, I had to ifdef out the asserts in test_tickless_slice to work around it

[2019-06-26 00:48] DeclanTraill commented on #17031
Looking at master, some of the code has changed but some still have the compiler warning issue.
Also, we noticed that the warnings seem to only happen in a Debug optimized build (not a Release build).

[2019-06-26 01:00] marc-hb commented on #6773
Plus breathe is not actively developed right now, see for instance https://github.com/michaeljones/breathe/issues/420

[2019-06-26 01:49] andyross commented on #17063
A somewhat tedious[1] bisection pointed at commit 62c71dc4d82f351.  That patch changed the error threshold for measuring a timeslice length from half of CONFIG_TICKLESS_IDLE_THRESHOLD (which was, OK, really weird -- I don't know what the test was trying to do) to +/- 1ms.  Timeslicing is measured in ticks, so it won't work to try to set this value faster than the tick rate (which is 10ms in HEAD,

[2019-06-26 01:51] #15279 closed

[2019-06-26 05:39] jhedberg commented on #17053
@EddLeon the "11 messages dropped" means you have a too small log buffer size and some log messages have been dropped because of it. You could try increasing CONFIG_LOG_BUFFER_SIZE to the extent that available RAM allows.

[2019-06-26 05:54] jhedberg commented on #17053
@EddLeon for the record, I don't see anything obviously wrong with the code snippets you've shown so far. The fact that `bt_mesh_model_publish()` works indicates that the the configuration message should have been successfully processed. I've most recently been using `samples/boards/reel_board/mesh_badge` on reel boards, which also uses periodic publishing, and has worked fine. You may want to com

[2019-06-26 07:59] #17063 closed

[2019-06-26 08:37] nvlsianpu commented on #12160
This is the early bird of NVS backed By @kapi-no  : https://github.com/kapi-no/zephyr/commits/settings_nvs_backend

[2019-06-26 10:10] Vudentz opened #17092 "Bluetooth: GAP/IDLE/NAMP/BV-01-C requires Read by UUID"
GAP/IDLE/NAMP/BV-01-C:

Verify the IUT can perform the Name Discovery Procedure and retrieve the device name from a peer device.

In order to pass this test PTS expects Read by UUID to be used.

[2019-06-26 10:15] EddLeon commented on #17053
Thanks for the tip on the CONFIG_LOG_BUFFER_SIZE, it seems that the default size is 128 after some tweaking I pushed the ram to 99% usage with CONFIG_LOG_BUFFER_SIZE=496 and got the following output:

[code]

By the way, I was originally trying to setup a Sensor Server publisher and was already using the samples on the reel_board, nrf52 and the microbit's. Tried multiple tests, backtracked to a ba

[2019-06-26 10:48] jhedberg commented on #17053
That's quite odd, and serious since that means you wouldn't be able to receive anything over mesh (since we're not scanning for advertising packets). It's as if the controller is in some strange state. Haven't seen that before - would probably need to see the full application source code to understand better.

That one is easy, and matches what I originally suspected, i.e. the one or more of your

[2019-06-26 11:08] jhedberg opened #17095 "Building with Xtensa toolchain fails"
This worked until very recently, now I get:
[code]

If I rebase back to a few days old tree everything works. I suspect #16645 might be the culprit.

[2019-06-26 11:12] jhedberg commented on #17095
If I reset the tree to commit 549bd60624ed96dfe1583b9f21415ae2b035b0fd (i.e. before the recent patches from @npitre ) then I can build without issues.

[2019-06-26 11:25] ioannisg commented on #17031
Thanks! If you see warnings in master, pls, could you open a separate issue?

[2019-06-26 11:59] jfischer-phytec-iot commented on #16240
@AdamMooers There is a fix for this issue, but it is not possible (fortunately) to start a download or upload as long the device is claimed by Bluez and btusb module.

[2019-06-26 12:09] thomascp commented on #16814
Will anyone comment on this feature request? Or let me know if I made the wrong progress.

[2019-06-26 12:40] pabigot commented on #17014
Let me give a little more context for this:

I'm working on a driver for the [DS3231](https://www.maximintegrated.com/en/products/analog/real-time-clocks/DS3231.html).  This is an RTC, so to Zephyr it's a counter.

It's also an I2C device, so access to it will require blocking operations, and so at least some of its internal state must be protected in case a read-modify-write operation with I2C is

[2019-06-26 12:42] carlescufi commented on #16814
@thomascp why not send a Draft Pull Request with the contents of your branch?
@npitre are you by any chance looking at adding support for this as well?

[2019-06-26 12:42] alexanderwachter commented on #17015
Findings so far:
 - Deactivating DCache doesn't help
 - Adding `SCB_InvalidateDCache_by_Addr` before and after DMA operations doesn't help
 - Enabling and adding __nocache to the DMA buffers and structures doesn't help

[2019-06-26 12:54] thomascp commented on #16814
@carlescufi I don't really know the workflow here, should I  send the pull request first?
It is only tested on Renode simulate board, is that enough? Is there any document to guide this?
Thanks!

[2019-06-26 12:57] nordic-krch commented on #17014
i would say that for function like `counter_read` it should be on counter side to handle reading from multiple contexts. For other function i'm not sure. If counter has one 'owner' (the one that configures, starts and stops the counter) then he should be able to manage the access.

I think that `counter_set_channel_alarm` is missing `-EBUSY` when channel is occupied. Integrity within api calls and

[2019-06-26 12:58] PiotrZierhoffer commented on #16814
@thomascp steps you should take:

1. read https://github.com/zephyrproject-rtos/zephyr/blob/master/CONTRIBUTING.rst and https://docs.zephyrproject.org/latest/contribute/index.html
2. clean up you repo a little - remove Renode from the tree, prepare commits so that they have significant and well described changes, following the above guidelines
3. submit a PR, possibly marking it as work in progres

[2019-06-26 13:07] #17065 closed

[2019-06-26 13:10] #16862 closed

[2019-06-26 13:11] avisconti commented on #15429
Addressed by #14057

[2019-06-26 13:11] #16894 closed

[2019-06-26 13:36] npitre commented on #16814
Yes. But the core Zephyr code has to be 64-bit clean before that can
happen. As proposed, I don't see how the RV64 support could ever work.

[2019-06-26 13:45] npitre commented on #17095
Let me find a copy of xcc and I'll fix this.

[2019-06-26 13:47] EddLeon commented on #17053
@jhedberg

 Was caused for some reason by the `[*] Store Bluetooth state and configuration persitently` option,  which I think is `CONFIG_BT_SETTINGS`. Maybe the self-provisioning/configuration has something to do with that. If the option is removed, the error disappears and the node works again. I am still checking if the `bt_mesh_model_publish()` actually works since I may have introduced some e

[2019-06-26 13:55] #16901 closed

[2019-06-26 14:09] ioannisg commented on #15831
@nvlsianpu ping :)

[2019-06-26 14:32] thomascp commented on #16814
@npitre I had added RV64 and SMP support, please check https://github.com/thomascp/zephyr/commit/4ba217beabf552793619f935ce59be9484cc7276.

[2019-06-26 14:45] jfischer-phytec-iot commented on #7516
I am against it to host any binary objects or source code licensed under non-OSI approved (rather: _"popular and widely-used or with strong communities"_) licenses in the zephyrproject-rtos GitHub organization, which could be compiled and linked to an Zephyr RTOS based application (firmware). I think it is up to vendor to host it, specially from legal perspective, and the project should not be eas

[2019-06-26 16:15] aescolar commented on #16031
This is still work in progress

[2019-06-26 16:50] npitre commented on #16814
On Wed, 26 Jun 2019, thomascp wrote:

I did check it. This is far far from sufficient.

I can guarantee you that this won't pass the Zephyr test suite, and that
it would even regress existing platforms.

Furthermore your commit contains a large amount of unrelated changes.

You should split your changes into several smaller changes, each with
their own explanation. For example, renaming riscv32 to

[2019-06-26 18:20] rettichschnidi commented on #17005
I checked the [Master Software License Agreement](https://www.silabs.com/about-us/legal/master-software-license-agreement) and it seems to me that the following section rules out all kind of possibility for Zephyr to ever host any SDK/Library with this license:

The whole point of upstreaming RAIL support is that one does not just want to use it internally. Therefore, limiting the distribution of

[2019-06-26 18:51] GeeseHoward commented on #16989
I see.
Thank you for clarifying this!

[2019-06-26 18:55] pabigot opened #17102 "RFC: rework GPIO interrupt configuration"
The existing GPIO API has a somewhat baroque approach to configuring interrupts and callbacks, the motivation for which is unclear:

* The `gpio_callback` structure provides the handler to use in the callback, and specifies the pins for which the callback applies;
 * The `gpio_{add,remove}_callback()` API adds or removes `gpio_callback` objects from registry maintained in the driver but does not a

[2019-06-26 18:56] pabigot commented on #17102
@b0661 @anangl FYI.

If we can agree on value and details I'd be willing to help in the implementation, unless it falls naturally within other work in progress.

[2019-06-26 20:10] mbolivar commented on #16961
I think this is not a west feature as much as a zephyr policy. West is designed to allow projects to move back in time if that is what the user wants.

[2019-06-26 21:29] mnkp commented on #17005
The version of RAIL shipped with Mbed OS comes with much [less restrictive license](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Silicon_Labs/TARGET_SL_RAIL/efr32-rf-driver/Silabs_License_Agreement.txt). Though it also has a few points, e.g. export restrictions, that need to be verified from the legal standpoint.

[2019-06-26 22:52] gnuless opened #17104 "arch/x86: fix -march flag for Apollo Lake"
The SoC configuration for Apollo Lake sets `-march` to `silvermont` and then to `atom`.  The Intel compiler complains about the override.  To boot, I believe Apollo Lake is actually `goldmont`.  This needs to be sorted out.

[2019-06-26 23:57] andrewboie opened #17105 "Discussion: Assertions, error values, runtime checks"
## Introduction

Purpose of this ticket is to discuss changes to our policies for kernel APIs as they relate to returning error values.

### Problem description

Currently, we have the following:

1. Base kernel APIs assume well-formed parameters, with little to no error checking. At most, we are using __ASSERT() which will generate a fatal error with no opportunity for recovery. In production ass

[2019-06-27 00:12] andyross commented on #17105
One problem with making an assertion into an early return is cleanup.  Consider ("normal" C for clarity, not Zephyr code):

[code]

Now the code is going to leak the resource it acquired because it bailed too soon.

It's not insoluble, but it's messy.  We could require that code never assert in a context where a synchronous return would be illegal (too limiting and too difficult a rule to follow).

[2019-06-27 00:22] marc-hb commented on #14649
@cc @wentongwu

I've been excluding tests with clear qemu timing issues and running sanitycheck a lot. I'm still experiencing a few intermittent failures (#16915, others not filed yet) and surprising 30s timeouts for tests that almost always take less than 5s.

I also noticed very recently (in htop, not top) that there is no thread pool or anything to limit the number of python threads spawned by

[2019-06-27 00:44] nashif commented on #14649
@marc-hb this really does not belong here, different issue completely. Open a new a bug please.

[2019-06-27 01:24] #6773 closed

[2019-06-27 01:25] wentongwu commented on #17038
the map file of  building priv_stacks_prebuilt.elf is:
[code]

[code]

[2019-06-27 02:04] wentongwu commented on #17038
From above map file, we can find there is an additional " .text.sedi_pm_pmu2nvic_isr.__stub" in the process of building priv_stacks_prebuilt.elf, but there is no this __stub for building zephyr_prebuilt.elf. So the random __stub generated by compiler causes the different size of .text section in the two process, and then different start address of .rodata, .noinit, .data sections. So in priv_stack

[2019-06-27 02:12] wentongwu commented on #17038
@andrewboie  PR #17042 is a workaround for this issue found in an ongoing project, and so far I haven't found the reason why compiler generate this __stub. If found it, I will remove this workaround.

[2019-06-27 02:43] wvk86 opened #17108 "Enable OpenOCD auto unlock on flashing"
On a newly purchased Atmel SAM E70 xPlained board, when attempted to flash the board using the command `west -v flash`. OpenOCD failed and complain 'lock region 0 is locked.' After some reading on the OpenOCD User's Guide, I found that we can provide'**unlock**' arg to the command **flash** command. e.g. `flash write_image erase unlock`. User can manually enter this command, using OpenOCD from the

[2019-06-27 04:05] npitre commented on #17095
I got an SDK evaluation license but can't figure out how to install it
properly. Nothing I can download from cadence.com matches the Zephyr
documentation for the Intel S1000 CRB either. Fixing the actual problem
certainly would have taken less time than futzing around with this
toolchain to no avail.

Is there a way for me to just log into somewhere with all this stuff
already working?

In the mea

[2019-06-27 06:39] thomascp commented on #16814
@npitre Yes, I agree with you, this is just quick support for RV64 and SMP.
I am new in Zephyr, but add these just for fun. It is far away from a commercial and stable version, but it can run with multi-thread and multi-core which is I want. Actually, I don't like commit thing, this is not fun and may only cause trouble, should be done by some man who works in a company for this?
Thank you for adv

[2019-06-27 07:07] maweicoltsmart opened #17111 "nucleo_f030r8 build error"
in master branch with board nucleo_f030r8,build error .
the log below

/arch/arm/core/offsets/offsets.c
In file included from ../../../../include/arch/arm/cortex_m/cmsis.h:17,
                 from ../../../../arch/arm/include/cortex_m/stack.h:27,
                 from ../../../../arch/arm/include/kernel_arch_data.h:53,
                 from ../../../../kernel/include/kernel_structs.h:68,

[2019-06-27 09:06] erwango commented on #16961
Actually I didn't think about this proposal as a west feature but a rather github automatic check to help contributors and maintainers.
With multiple PR on going with dependencies on the same module, the exercise is close to a air traffic controller activity. I think we can benefit from an automatic check, and given the number of checks we're doing today, I don't think one more will make any diffe

[2019-06-27 09:31] StefJar opened #17114 "drivers: usb_dc_stm32 broken after west update"
after "west update" the stm32 usb driver is broken
[code]

[2019-06-27 09:50] EddLeon commented on #17053
@jhedberg

Did the trick! The callback is getting triggered and I am able to publish data from the Sensor Server; subscribers receive the Status properly.
Thank you so much.

[2019-06-27 09:51] jhedberg commented on #17053
@EddLeon good to hear! I'll close this issue then.

[2019-06-27 09:51] #17053 closed

[2019-06-27 09:55] erwango commented on #17111
You might need to run `west update`

[2019-06-27 10:00] mfiumara commented on #16971
I think this is a problem with the SMP Server example code. When I try to build on master I get the same error:
[code]

[2019-06-27 10:13] jhedberg commented on #17095
Resetting my tree to commit f57ba2d30c2d7aaea8298f4d931901f09f5c1fc0 still fails, however resetting to commit f57ba2d30c2d7aaea8298f4d931901f09f5c1fc0 (the one before it) works. So looks like commit f57ba2d30c2d7aaea8298f4d931901f09f5c1fc0 is at fault. I tried reverting it on top of my tree but that caused a different build failure (presumably because subsequent patches depend on it).

[2019-06-27 10:17] #16326 closed

[2019-06-27 10:18] #16240 closed

[2019-06-27 10:18] #17057 closed

[2019-06-27 10:46] mfiumara commented on #16971
It seems tinycbor was moved out of zephyr repo and into https://github.com/zephyrproject-rtos/tinycbor. How are you compiling exactly?

[2019-06-27 10:56] erwango commented on #17114
@StefJar, can you provide target on which this was spotted?

Txs

[2019-06-27 11:04] StefJar commented on #17114
I am using an board based on the STM32F412RG

Think you can use the _nucleo_f412zg_ for testing.

In case you want to rebuild my config:

the dts is based on _st/f4/stm32f412Xg.dtsi_
and I activate the usb via
[code]
the defconfig looks like
[code]
thx for checking

[2019-06-27 11:08] jfischer-phytec-iot commented on #17114
@erwango e.g. stm32f4_disco

This `low-speed` option is superfluous in my opinion. Workaround:

[code]

[2019-06-27 11:15] StefJar commented on #17114
this fixes the error

[2019-06-27 11:20] #16720 closed

[2019-06-27 11:49] erwango commented on #17114
@jfischer-phytec-iot, indeed, I'm checking internally this is the case for all STM32 references (and code could be removed) or if it's supported in some samples (then we need to protect these lines).

[2019-06-27 12:19] pabigot commented on #17014
My main point was that in the past Zephyr has followed a policy that drivers shall be re-entrant (#1960).  The counter API does not document that it's an exception, but no implementation is, in fact, re-entrant.

If a counter has multiple channels it may have a single owner, but the individual channels may be used by different subsystems that cannot easily coordinate their changes (some of which m

[2019-06-27 12:30] pabigot commented on #17102
Reworded description to remove my temporary confusion that a GPIO driver might control multiple ports.  It'd be nice if that was true, but it's not.

[2019-06-27 12:41] npitre commented on #17095
On Thu, 27 Jun 2019, Johan Hedberg wrote:

OK.  This is not nice.

Do you know where I could find documentation on xcc command line usage?

Rather than reverting it, could you try the following:

In cmake/compiler/gcc/target_imacros.cmake, replace

    zephyr_compile_options(--imacros=${header_file})

with this

    zephyr_compile_options(-imacros${header_file})

and let me know what error you the

[2019-06-27 12:52] tbursztyka commented on #17102
And with your proposal, if somebody takes advantage of enabling interrupt on all pins for itself, no other system could register a callback anymore. Same problem then. This issue of "taking advantage to <do something bad> is a non-issue as there is no way you can really fix it.

You are assuming wrong.

Let's say a soft reset for peripherals that would be triggered via gpio pin, meaning each perip

[2019-06-27 13:17] ioannisg commented on #16900
Any update on this @galak ?

[2019-06-27 13:21] pabigot commented on #17102
I'm not assuming anything: I'm raising a question to try to understand why things are the way they are.  You've presented a reasonable use case for multiple listeners.  That needs to be traded against the risks of having those listeners apply inconsistent configurations.

Enabling and disabling each have multiple steps, one of which is registration.  Whether and how to fragment the steps is a desi

[2019-06-27 14:36] Gagamama commented on #17111
Same thing for me with <stm32f4xx.h>. It was previously in ext\hal\st\stm32cube...
I don't use west

[2019-06-27 14:59] ioannisg commented on #12825
@nordic-krch could you give some update on this issue?

[2019-06-27 16:21] kubiaj commented on #10904
Hi I would like to jump into the discussion just to be sure that this issue is also solving my problem or not. As Zephyr is moving everything  to the DT then the kernel peripheral driver need to know if his peripheral is enabled or not. For example I have a 3x I2C peripherals so I write one driver which will initialize each peripheral  if is is enabled in DT. However in current DT generation schem

[2019-06-27 17:32] ceolin commented on #17105
We should not use "ASSERT", we should create a new macro, e.g `Z_CHECK_FAIL`, `Z_CHECK_FAIL_GOTO` ... assert is a well macro defined in POSIX and in C standard change its behaviour will make people confuse.

``cleanup`` extension is cool but we should avoid it IMHO, we have to be compiler agnostic. And even if we do some black magic to have it portable this will probably trigger a lot of violation

[2019-06-27 17:34] ceolin commented on #17105
That was my initial concern, where to do the checks, in syscalls or in the implementation itself

[2019-06-27 19:15] n3rd4i commented on #9954
is there any new/workaround/updates on this issue ?

[2019-06-27 19:43] andrewboie commented on #17105
I think they should be in the implementation where possible.

[2019-06-27 20:52] #16584 closed

[2019-06-27 21:25] dcpleung commented on #17064
IIRC, DLF is a Synopsys extension to 16550 on their DesignWare IP block. It is there to manipulate the clock divisor to get certain baud rate.

[2019-06-27 21:43] gnuless commented on #17064
Yeah. It's a trim value of sorts, which accounts for the fact that common baud rates can't be precisely derived from "nice" clocks (e.g., 25MHz).  Currently there's a method to set this at boot (via devicetree) just as there's a boot-time baud rate.  Arguably if the value is going to be dynamic (that is, the baud rate is going to change at run time), then `set_baud_rate()` should be modified to co

[2019-06-27 21:56] dcpleung commented on #17064
Maybe something like the quirks in Linux kernel would work here. But then the driver will need to identify the chips (via vendor/device IDs) to apply those quirks. It could get complicated as the ID table often needs to be expanded for new chips.

[2019-06-27 22:11] gnuless commented on #17064
Well, I think we can rely on the current scheme or some minor modification thereof: just use devicetree to say "yes, use DLF on this port".  We need not include any DLF-related code if the DT for the board/SoC doesn't mention it.

[2019-06-28 00:16] gnuless opened #17133 "arch/x86: x2APIC EOI should be inline"
The call to `z_x2apic_eoi()` in include/drivers/interrupt_controller/sysapic.h should be a direct WRMSR instruction.  The function call is a legacy of the previous Jailhouse x2APIC implementation.  This doesn't cause any problems but it's an unnecessary performance drag.

[2019-06-28 01:07] #16360 closed

[2019-06-28 01:07] #14828 closed

[2019-06-28 01:07] #15074 closed

[2019-06-28 03:39] #16695 closed

[2019-06-28 07:35] lemrey commented on #15769
This was fixed in https://github.com/zephyrproject-rtos/zephyr/pull/16635.
It was actually the in the `stats` subsystem :)

[2019-06-28 08:00] erwango commented on #17111
Well, all these have moved to `hal_smt32` zephyr repo (https://github.com/zephyrproject-rtos/hal_stm32.git).
So, in order to build, you'll need to get packages from there manually if not using `west`.

[2019-06-28 08:07] erwango commented on #10904
@kubiaj, the issue you mention is common across various archs and socs, it is indeed taken into account.

[2019-06-28 08:08] mutrack opened #17135 "Cannot flash LWM2M example for ESP32"
I am trying to run the LWM2M sample on an ESP32 board. It builds fine but fails to flash with an "Invalid segment count 17 (max 16)" error.
Other samples e.g. hello_world, mqtt build and flash without problem.

Build environment : Ubuntu 4.18.0
ESP-IDF Version : v4.0-dev-1018-gbbafd5066
Zephyr version: 1.14.99

Full output:

[code]

[2019-06-28 09:05] ioannisg commented on #15769
@lemrey if this is fixed, could you please, close the issue?

[2019-06-28 09:28] #15769 closed

[2019-06-28 10:12] b0661 commented on #17102
@tbursztyka there is a real life issue for me. Currently the combined interrupt/ pin configuration muxes the pin to the GPIO function. In my case the GPIO pin is used as a HW CS (muxed to the SPI) for my board acting as a SPI slave. I still need an interrupt when the SPI chip select is asserted but I can not do a software based chip select handling for the SPI function. With the current API I can

[2019-06-28 10:16] #17114 closed

[2019-06-28 11:16] tbursztyka commented on #17102
@b0661 I don't see you issue being fixed by what's being proposed here (thus why these changes are not needed: they don't fix anything). Aren't you working on a complete rehearsal of the gpio/pin sub-sybstem in zephyr (pinctrl etc...)?

[2019-06-28 11:32] pabigot commented on #17102
@tbursztyka

Any changes related to @b0661's need may or may not be part of that PR, which primarily deals with GPIO device tree bindings.  So I opened this to discuss what other interrupt configuration features might be worth considering.

I understand your perspective and will take it into consideration if I'm involved in any related concrete proposals.

[2019-06-28 11:56] b0661 commented on #17102
@tbursztyka

I´m working on a pinctrl subsystem that relates to pin configuration. Interrupt configuration is not part of it and the pinctrl subsystem is blocked anyway by the missing of appropriate code generation (or the decision on that).  So it is not in scope of this discussion.

[2019-06-28 12:17] anangl commented on #17102
I somehow didn't realize earlier that it was possible to bind more than one callback structure to a given GPIO pin. And I don't think it would be reasonable to change this - @tbursztyka already provided a use case for such possibility. I can also imagine a need of having a common callback for a group of pins and separate specialized callbacks for individual pins from this group, and these callback

[2019-06-28 12:21] wentongwu commented on #17038
Ok, let's move the discussion here. The extra stubs are comprised of veneer functions, because the distance between caller and callee is too far, linker will automatically generate and insert veneer functions. Look at the map file again,

The map file of building priv_stacks_prebuilt.elf is:
[code]

The map file of building zephyr_prebuilt.elf is:
[code]

The map file of building zephyr.elf is:
[c

[2019-06-28 12:29] pabigot commented on #17102
I'm still concerned about multiple devices changing the configuration of a pin without coordination and no way to detect or diagnose this situation.

What if we do put the interrupt configuration and some coordination flags in the structure that holds the callback, keep the distinct register and enable steps, and pass a reference to the (registered) callback structure in the enable operation?

The

[2019-06-28 12:46] carlescufi commented on #17005
@MaureenHelm @rettichschnidi @galak

I downloaded the SDK and browsed through it. The license for both the source code and object code can be found here:

https://www.silabs.com/about-us/legal/master-software-license-agreement

To me it's unclear whether this actually allows us to redistribute it. But one more thing to take into account is that when SiLabs themselves contributed RAIL to mbed, they

[2019-06-28 12:51] wentongwu commented on #17038
@andrewboie Another issue I want to talk with you is that when code relocation enabled, there will be many sections to hold kernel objects(like k_mutex, k_sem, etc), but in elf_helper.py, it will do the address check like below code, only in SRAM region, so kernel objects in other regions will be discarded. There is a method which is to add symbols in these regions to mark the start and end of the

[2019-06-28 13:44] cvinayak commented on #15171
@hwagner66 I have done some changes #17097 in controller implementation related to connection event length. Is it possible for you to share the test procedure/script so that I can try to reproduce your observations? You could also help me test your scenarios at your end.

[2019-06-28 13:49] b0661 commented on #17102
LGTM. On every enable and disable operation the total (all currently enabled callbacks) interrupt configuration can be evaluated. Any enable request that would require an interrupt configuration that would jeopardize the current interrupt configuration can be rejected.

[2019-06-28 14:21] b0661 commented on #17105
Invariant checks as currently be done by _ASSERT are an improvement for functional safety, they should not be removed. They may be triggered because of RAM/ROM bit flips or some unforeseen computation sequence. The problem is how to react on them.
From my experience in functional safety development - if an invariant check triggers there is a real problem in the system. Usually the only option is t

[2019-06-28 14:42] hwagner66 commented on #15171
I can help test here if that helps.

My test setup involves shell commands driven by a Python script.  The shell commands are handled and call methods to create connections and transfer data.  It is messy but it works for the testing I need to do.
The test itself transfers 1 or 2 packets nearly full length (244 byte payload) packets from central to peripheral every 100mS.  The average throughput p

[2019-06-28 15:33] pdunaj opened #17147 "UARTE device has no API when run on nrf52810"
**Describe the bug**
I tried to enable console via UARTE on nrf52810 but SOC crashes at early stage.
Quick investigation revealed two things.
* First is that `uart_console_init` does not check if get binding returned anything and so crash occurs much later when console is actually used.
* Second - get binding returns NULL even if device is present... I checked that it is NULL as API is NULL. This

[2019-06-28 15:34] pdunaj commented on #17147
btw - why device information is stored in RAM not in ROM?

[2019-06-28 15:48] ioannisg commented on #13276
@nashif @nvlsianpu @galak is anyone looking into this?

[2019-06-28 15:50] ioannisg commented on #14269
Downgrading this to LOW. Basically, because it results only in some ram waste for ARM, but no serious impact, otherwise. It leads to some inconsistencies, yes, but they are not critical.

[2019-06-28 15:53] ioannisg commented on #16011
Is this still a bug @nashif @andrewboie ? What is the definition-of-done, here?

[2019-06-28 16:08] ioannisg commented on #15334
@lemrey any updates?

[2019-06-28 16:37] ioannisg commented on #15411
I want to address this one @nashif . Could we just call wdt_feed() inside the while/for loop of this test?

[2019-06-28 16:38] ioannisg commented on #15411
Alternatively, disable the watchdog for this test...

[2019-06-28 16:41] ioannisg commented on #16385
@f7488405 I am reading the watch dog API

[code]

So it seems to me that it is the responsibility of the application developer to feed the watchdog periodically. Therefore, your eternal while look in the snipped you posted requires to have a watchdog feed function call. Do you agree?

[2019-06-28 16:58] ioannisg commented on #16216
[code]

It does not fail for me, on current master (e5e45af4b023eb326ba0cc85bdaf10bda64807c9) . I tested both prj .config files in the test folder.
At least, it does not fail systematically.
@yerabolu if you can elaborate more, please, re-open the issue

[2019-06-28 16:59] #16216 closed

[2019-06-28 17:35] f7488405 commented on #16385
Hi, @ioannisg ,

Thanks for the reply.
From the bug perspective, I didn't call wdt_setup() at all and the issue doesn't happen if I put a k_sleep(1000) in the while loop. If the issue is because user didn't feed the watchdog periodically, adding k_sleep(1000) should still cause WDT to reboot the board, right? The real root cause still needs to be found.

From user experience perspective, if the WD

[2019-06-28 17:42] andrewboie commented on #15138
@wentongwu this is similar to sys_mutex() if you want to take a look.

[2019-06-28 20:11] andrewboie commented on #16011
The initial milestone is to get 100% function, 90% line coverage for kernel/ lib/os/ and related headers. We are currently treating this as a bug.

[2019-06-28 21:58] andrewboie commented on #16943
@nashif what should we do about this with respect to our code coverage reports?
Should I convert this into a standard ztest? Leave it alone?

[2019-06-28 22:05] tedd-an opened #17158 "Bluetooth: Update PICS for latest PTS 7.4.1"
**Describe the bug**
PICS for BT qualification is out of date and needs to update to align with PTS 7.4.1.
Also, it needs to add MESH PICS.

**To Reproduce**
Website link: https://docs.zephyrproject.org/latest/guides/bluetooth/bluetooth-qual.html

Src path: doc/guides/bluetooth/*-pics.rst

**Expected behavior**
Update PICS data

**Impact**
Incorrect/out-of-date information

[2019-06-28 22:18] MaureenHelm commented on #16011
Low coverage is not a bug

[2019-06-29 07:17] ioannisg commented on #9885
We do have coverity, right? So i suppose we are able to catch dead code, no?

[2019-06-29 09:25] lemrey commented on #15334
This was done in: https://github.com/zephyrproject-rtos/zephyr/pull/15512

[2019-06-29 09:25] #15334 closed

[2019-06-29 11:06] pabigot opened #17162 "Improving resolution and usability of controlled delays in kernel APIs"
This issue outlines the current approach to *controlled delays* in Zephyr, identifies some weaknesses and functional gaps, and serves as a point of discussion of goals and requirements for changes to address those weaknesses.

## Existing Approach

Several kernel system APIs allow an application to specify a delay before some operation is initiated or terminated.  These APIs include (delay paramet

[2019-06-29 11:09] pabigot commented on #17162
cc @andyross @nashif @andrewboie @MaureenHelm @carlescufi @galak @pizi-nordic

[2019-06-29 14:12] pabigot commented on #17105
It does me no good if a device ends up in la-la-land because of an undetected/unhandled error, or in a halted state after printing an error message to a disconnected console, so I agree with this:

To some degree the determination of safe state is application-specific.  In [one framework I've built](https://pabigot.github.io/nrfcxx/classnrfcxx_1_1systemState.html#details) a detected failure enters

[2019-06-29 22:59] gnuless opened #17166 "arch/x86: eliminate support for CONFIG_REALMODE"
Jailhouse was the only "board" that started in real mode, so this option and its supporting logic in crt0.S and the linker script is orphaned and should be removed.

[2019-06-29 23:38] andrewboie opened #17167 "ARC crash with spinning user thread"
**Describe the bug**
I have found that the ARC nsim_em and nsim_sem targets crash out if a preemptible user thread hogs the CPU.

**To Reproduce**
Run samples/hello_world in this branch:
https://github.com/andrewboie/zephyr/commit/80d2a939feea719cb181b165ea810d8d9709c7e7

**Expected behavior**
The expected output is:

[code]

Instead I get:

[code]

Now if I add a k_yield() statement in the child

[2019-06-29 23:40] andrewboie commented on #17167
@vonhust this does not seem directly related to your recent switch changes, even if I revert that patch I still get a crash, with the console log:

[code]

[2019-06-29 23:50] andrewboie commented on #17167
This can also be reproduced with:

https://github.com/zephyrproject-rtos/zephyr/pull/17071

If you comment out the `k_yield()` call in thread_name_entry() and run tests/kernel/threads/thread_apis test case.

[2019-06-30 01:28] andrewboie opened #17170 "x86_64 crash with spinning child thread"
**Describe the bug**
This is possibly related to #17167 but in this case, we are not running anything in user mode (no support on that platform). Instead what we are doing is setting the main thread to a cooperative priority, launching a preemptive child thread that hogs the CPU, and the system hangs when the parent thread goes to sleep.

**To Reproduce**
Grab this patch:
https://github.com/andrew

[2019-06-30 01:40] andrewboie opened #17171 "Insufficient code coverage for lib/os/fdtable.c"
**Is your enhancement proposal related to a problem? Please describe.**
Code coverage reports indicate we have a lack of unit tests for the code in lib/os/fdtable.c

Lines: 37/96 38.5%
Functions: 9/18 50%
Branches: 11/54 20.4%

At bare minimum we need 100% function coverage and greater than 90% line coverage, ideally 100% across the board.

The command line I am using for gathering coverage data i

[2019-06-30 01:44] andrewboie opened #17172 "insufficient code coverage for lib/os/mempool.c"
**Is your enhancement proposal related to a problem? Please describe.**
Code coverage reports indicate we have a lack of unit tests for the code in lib/os/mempool.c

Lines: 149/154 96.8%
Functions: 18/19 94.7%
Branches: 48/54 88.9%

At bare minimum we need 100% function coverage and greater than 90% line coverage, ideally 100% across the board for lines/functions/branches.

The offending function

[2019-06-30 14:21] pabigot opened #17176 "deprecated counter_set_alarm is referenced in documentation"
`counter_set_alarm` has been deprecated since before the API was updated in master, but there are at least two functions where the documentation references it instead of its functional replacement, `counter_set_channel_alarm`, which is not referenced anywhere.

Personally I'd prefer if the documentation comment for the deprecated function included a pointer to the new way to do what it did (which

[2019-06-30 14:31] ioannisg commented on #16492
@Mierunski any update on this bug report?

[2019-06-30 14:33] ioannisg commented on #15985
@andrewboie have you looked at this one?

[2019-06-30 16:10] ioannisg opened #17177 "ARM: userspace/test_bad_syscall fails on ARMv8-M"
After increasing the test coverage in `tests/kernel/mem_protect/userspace` (FYI @andrewboie), the test is failing for ARMv8-M platforms.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `master `or pull-request branch #17079 (for the LTS)
2. Build and run `tests/kernel/mem_protect/userspace` for `nrf9160_pca10090`
3. `test_bad_syscall `fails.

The logs are provided below:

[code]

Th

[2019-06-30 16:22] ioannisg commented on #17111
@maweicoltsmart (or @Gagamama ) can you follow the procedure suggested by @erwango and report whether this is still an issue?

[2019-06-30 16:24] ioannisg commented on #17166
Will you submit a patch for this @gnuless ?

[2019-06-30 16:40] gnuless commented on #17166
@ioannisg I was planning to, eventually, unless someone else beats me to it.

[2019-06-30 17:21] ioannisg commented on #13075
For ARM we do not have memory domains if user mode support is not enabled. But we already use memory partitions (k_mem_partition) to enforce non-usermode-related properties, i.e. no-cache, ram-func, read-only, etc.

This has already been removed, right?

For ARM this is already the case; HW_STACK_PROTECTION and USERSPACE are non dependent on each other.

Perhaps. But for ARM we already re-worked t

[2019-06-30 17:23] ioannisg commented on #13075
IMHO, ARM architecture already addresses most of these points. Could we either close this @andrewboie @ruuddw or narrow it down to more fine-grained topics?

[2019-06-30 20:06] ioannisg commented on #14970
This is fixed now. as @overheat suggested. I tested on all nRF SoCs.

[2019-06-30 20:06] #14970 closed

[2019-06-30 20:55] ioannisg commented on #3636
Don't we have most of them now, @andrewboie ? Or not? Could we close this?

[2019-06-30 21:17] ioannisg commented on #15884
This one does not fail any more, @andrewboie. Could this have been fixed by all ARM- or socket-related bugfixes?

[2019-06-30 21:19] ioannisg commented on #15884
[code]

[2019-06-30 21:25] ioannisg commented on #14122
The text for floating point has been re-worked recently, in-line with what @andrewboie is suggesting here. IMHO it is clear that CONFIG_FLOAT allows for un-shared FP registers mode, while additional FP_SHARING allows for shared FP registers mode.

@pfalcon could you please, check if you could close this bug? (Or at least turn this into an enhancement) :)

[2019-06-30 21:50] lopsided98 commented on #13610
I am running into this issue on Zephyr master (d045bd7673348db395e53b3d14c61d6742a25a06) in my own application on the `nrf51_ble400` board. This application is set up as a BLE peripheral and has quite a few features enabled, including BLE security and and custom sensor driver than uses a GPIO interrupt. I have not yet gotten a chance to try to create a minimal example that reproduces the problem.

[2019-06-30 22:04] ioannisg commented on #13468
This does not appear to be a generic test failure. I tested that it passes on all Nordic SOCs, 51, 52, 52840 and 9160 and frdm_k64f.

It's a SAMe70 issue only. We still need to do something with the test, but since this is mostly related to the SAMe70 being peculiar, I 'm reducing the priority to low.

Feel free to comment.

[2019-06-30 22:55] andrewboie commented on #15884
I fixed this, we can close it.

[2019-06-30 22:55] #15884 closed

[2019-07-01 00:46] cvinayak commented on #13610
@lopsided98 do you have a master commit which was fine? could you check if v1.14-branch works fine for your application? I would try to bisect to find the commit beyond which the controller is seeing increased latencies. Is this reproducible in the vanilla samples/bluetooth/peripheral sample?

Thinking aloud, assuming the assert happened in an encrypted connection, the Radio ISR CPU time too seems

[2019-07-01 02:05] LeiW000 opened #17182 ""tests/subsys/usb/device/" fails on reel_board."
**Describe the bug**
"tests/subsys/usb/device/" fails on reel_board.

**To Reproduce**
1. mkdir build; cd build
2. cmake -DBOARD=reel_board
3. make
4. make flash

**Screenshots or console output**

Booting Zephyr OS build zephyr-v1.14.0-1797-gb53ce02afdb8
Running test suite test_device
===================================================================
starting test - test_usb_dc_api_invalid

[2019-07-01 02:09] mnkp commented on #15611
I would like to shortly revisit our decision on naming functions that read/write pin logical level. Currently we have `gpio_pin_get`, `gpio_pin_set` and I argued to keep it this way. However, to implement fast access GPIO functions as proposed by @mbolivar we will likely need to add a new function to the API, something like `gpio_pin_get_register` or `gpio_pin_get_descriptor`. And in this case may

[2019-07-01 02:54] pabigot commented on #15611
I would prefer to avoid using the term "level" in the API identifiers.  AFAICT the API in #16648 has the traditional `gpio_pin_read` which operates on the line (electrical/physical) level and new `gpio_pin_get` which operates on the logical level.  Both of them are levels, so adding `_level` does not help the user to understand what the function does.

If this is for the "fast" version of the API

[2019-07-01 06:29] lbise commented on #16594
@jukkar Thanks for the fix. I tested it and it works properly

[2019-07-01 06:31] nordic-krch commented on #12825
@ioannisg i haven't been looking at it. I've been assigned but frankly speaking i haven't been using systemview at all and there is planty on my plate now so i don't think that i will be looking at it in next few weeks.

[2019-07-01 06:44] #16594 closed

[2019-07-01 07:06] wentongwu commented on #15138
yes, I will do this task in the period of v2.1.0 release.

[2019-07-01 07:19] anangl commented on #17147
Could you provide some more details regarding the configuration needed to reproduce the issue? The only board in the Zephyr source tree that currently uses the nRF52810 SoC is `nrf52810_pca10040` and it has the console over UARTE enabled by default. For this board the console (in the hello_world sample, for instance) seems to be working fine.

[2019-07-01 07:54] vonhust commented on #17167
@andrewboie Thanks, it's a bug. I make a fix in #17184 and re-run you provided tests case. The result is ok

[2019-07-01 07:57] jfischer-phytec-iot commented on #17182
It does not depend on the reel board, similar behavior on nrf52840_pca10056. There are some incompatibilities between usb_dc_nrfx driver and device test. I will look at it.

[2019-07-01 08:21] ioannisg commented on #13935
@nashif @aurel32 @cinlyooi-intel @wentongwu could we just initialize the xoroshiro device in POST_KERNEL? AFAIK, we can't properly use kernel APIs before the kernel is initialized....

If I set this to POST_KERNEL, the tests executes successfully.

[2019-07-01 08:27] Jeepgoing commented on #12504
@ydamigos Hi, do you have plan to support `OTGHS`

[2019-07-01 08:55] ioannisg commented on #11751
@andyross @nashif are we doing this for 2.0.0?

[2019-07-01 10:57] StefJar opened #17188 "k_uptime_delta returns wrong times"
I like to detect button events. They are selected after different holding times for a button.

A gpio interrupt is generated at every change of the button pin state. At the interrupt handler the time difference is measured between the current and the previous interrupt.
For that `k_uptime_delta` is used. I recognized that my measured times are at least by the factor 2 to low.

My setup is a own st

[2019-07-01 12:05] jukkar opened #17190 "net-mgmt should pass info element size to callback"
**Describe the bug**
The information element size should be passed to the user defined callback. The system works atm if the info element can be determined from the network management event type. Sometimes this is not possible so the application needs to know the info element size.

**Impact**
The application might not be able to utilize the information element tied to the network management event

[2019-07-01 12:08] tbursztyka commented on #17190
"Sometimes this is not possible so the application" Currently it is always possible. Even for the socket layer.

[2019-07-01 12:15] aescolar commented on #17188
CC @andyross

[2019-07-01 12:53] kadamski commented on #17111
I'm trying to follow the getting-started tutorial and I did:
[code]

The stm32f0xx.h is there:
[code]
But as can be seen, it is not added as an include path.

The same happens for any other stm32 board (stm32f4_disco, stm32_min_dev_blue). Isn't this the same issue? Or maybe I'm doing something wrong, actually?

[2019-07-01 12:58] erwango commented on #17111
Can you run `west list`?

[2019-07-01 13:02] kadamski commented on #17111
@erwango:
[code]

[2019-07-01 13:36] #16864 closed

[2019-07-01 13:38] kadamski commented on #17111
Sorry, turned out to be a noob mistake. Seeing this issue I though there are others who have it as well but in practice I had environment problem.

After some tracing I found out that find_program() in the zephyr/cmake/host-tools.cmake failed to find "west" binary, even though I was actually running via west and apparently that caused zephyr_modules.txt not being created.

[2019-07-01 13:42] erwango commented on #17111
@kadamski , thanks for feedback. Can we close the issue then?

Also, if you think logging could be enhanced in west, do not hestistate to submit an issue in https://github.com/zephyrproject-rtos/west

[2019-07-01 13:51] ioannisg commented on #16492
@anangl pls look at this one too, if you have time

[2019-07-01 13:52] kadamski commented on #17111
@erwango I was not the author of the issue so I'm not sure, for me all seems to be working now.

[2019-07-01 13:55] maweicoltsmart commented on #17111
it's ok now, thanks all of you!

[2019-07-01 13:55] #17111 closed

[2019-07-01 16:14] ydamigos commented on #12504
@Jeepgoing As far as I know, OTG HS works on STM32 boards with internal HS PHY (I don't have the hardware to test it my self).
@finikorg If I remember correctly, you have tested STM32 OTG in high speed, haven't you?

[2019-07-01 16:59] aasthagr opened #17200 "[Coverity CID :199438]Memory - illegal accesses in /drivers/interrupt_controller/exti_stm32.c"
Static code scan issues seen in File: /drivers/interrupt_controller/exti_stm32.c
 Category: Memory - illegal accesses
 Function: stm32_exti_enable
 Component: Drivers
 CID: 199438
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17201 "[Coverity CID :199437]Null pointer dereferences in /tests/net/ip-addr/src/main.c"
Static code scan issues seen in File: /tests/net/ip-addr/src/main.c
 Category: Null pointer dereferences
 Function: test_ipv6_addresses
 Component: Tests
 CID: 199437
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17202 "[Coverity CID :199436]Uninitialized variables in /subsys/net/lib/sockets/sockets.c"
Static code scan issues seen in File: /subsys/net/lib/sockets/sockets.c
 Category: Uninitialized variables
 Function: zsock_getsockname_ctx
 Component: Networking
 CID: 199436
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17203 "[Coverity CID :198951]Code maintainability issues in /home/aasthagr/zephyrproject/modules/debug/segger/systemview/SEGGER_SYSVIEW.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/debug/segger/systemview/SEGGER_SYSVIEW.c
 Category: Code maintainability issues
 Function: _VPrintHost
 Component: Other
 CID: 198951
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17204 "[Coverity CID :191000]Memory - corruptions in /home/aasthagr/zephyrproject/modules/lib/open-amp/open-amp/lib/remoteproc/remoteproc.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/open-amp/open-amp/lib/remoteproc/remoteproc.c
 Category: Memory - corruptions
 Function: remoteproc_allocate_id
 Component: Other
 CID: 191000
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17205 "[Coverity CID :190999]Insecure data handling in /home/aasthagr/zephyrproject/modules/lib/open-amp/open-amp/lib/rpmsg/rpmsg_virtio.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/open-amp/open-amp/lib/rpmsg/rpmsg_virtio.c
 Category: Insecure data handling
 Function: _rpmsg_virtio_get_buffer_size
 Component: Other
 CID: 190999
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17206 "[Coverity CID :190975]Memory - illegal accesses in /home/aasthagr/zephyrproject/modules/lib/open-amp/open-amp/lib/include/openamp/rpmsg.h"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/open-amp/open-amp/lib/include/openamp/rpmsg.h
 Category: Memory - illegal accesses
 Function: rpmsg_init_ept
 Component: Other
 CID: 190975
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17207 "[Coverity CID :190963]Code maintainability issues in /home/aasthagr/zephyrproject/modules/fs/nffs/src/nffs_restore.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/fs/nffs/src/nffs_restore.c
 Category: Code maintainability issues
 Function: nffs_log_contents
 Component: Other
 CID: 190963
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17208 "[Coverity CID :190941]Insecure data handling in /home/aasthagr/zephyrproject/modules/crypto/mbedtls/library/ssl_tls.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/crypto/mbedtls/library/ssl_tls.c
 Category: Insecure data handling
 Function: ssl_get_next_record
 Component: Other
 CID: 190941
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17209 "[Coverity CID :190927]Uninitialized variables in /home/aasthagr/zephyrproject/modules/lib/open-amp/open-amp/lib/remoteproc/remoteproc.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/open-amp/open-amp/lib/remoteproc/remoteproc.c
 Category: Uninitialized variables
 Function: remoteproc_remove
 Component: Other
 CID: 190927
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17210 "[Coverity CID :190643]Error handling issues in /home/aasthagr/zephyrproject/modules/debug/segger/systemview/SEGGER_SYSVIEW.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/debug/segger/systemview/SEGGER_SYSVIEW.c
 Category: Error handling issues
 Function: SEGGER_SYSVIEW_Start
 Component: Other
 CID: 190643
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 16:59] aasthagr opened #17211 "[Coverity CID :188746]Memory - illegal accesses in /home/aasthagr/zephyrproject/modules/hal/cypress/PDL/3.1.0/drivers/source/cy_syslib.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/hal/cypress/PDL/3.1.0/drivers/source/cy_syslib.c
 Category: Memory - illegal accesses
 Function: Cy_SysLib_AssertFailed
 Component: Drivers
 CID: 188746
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17212 "[Coverity CID :187076]Control flow issues in /home/aasthagr/zephyrproject/modules/hal/silabs/gecko/emlib/src/em_cmu.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/hal/silabs/gecko/emlib/src/em_cmu.c
 Category: Control flow issues
 Function: CMU_ClockSelectSet
 Component: Other
 CID: 187076
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17213 "[Coverity CID :186188]Memory - illegal accesses in /home/aasthagr/zephyrproject/modules/lib/open-amp/open-amp/lib/rpmsg/rpmsg.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/open-amp/open-amp/lib/rpmsg/rpmsg.c
 Category: Memory - illegal accesses
 Function: rpmsg_send_ns_message
 Component: Other
 CID: 186188
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17214 "[Coverity CID :186060]Control flow issues in /home/aasthagr/zephyrproject/modules/lib/mcumgr/cmd/img_mgmt/src/img_mgmt_state.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/mcumgr/cmd/img_mgmt/src/img_mgmt_state.c
 Category: Control flow issues
 Function: img_mgmt_state_write
 Component: Other
 CID: 186060
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17215 "[Coverity CID :186054]Control flow issues in /home/aasthagr/zephyrproject/modules/lib/mcumgr/cmd/img_mgmt/src/img_mgmt_state.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/mcumgr/cmd/img_mgmt/src/img_mgmt_state.c
 Category: Control flow issues
 Function: img_mgmt_state_write
 Component: Other
 CID: 186054
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17216 "[Coverity CID :186052]Control flow issues in /home/aasthagr/zephyrproject/modules/lib/mcumgr/cmd/fs_mgmt/src/fs_mgmt.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/mcumgr/cmd/fs_mgmt/src/fs_mgmt.c
 Category: Control flow issues
 Function: fs_mgmt_file_upload
 Component: Other
 CID: 186052
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17217 "[Coverity CID :186038]Control flow issues in /home/aasthagr/zephyrproject/modules/lib/mcumgr/cmd/img_mgmt/src/img_mgmt.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/mcumgr/cmd/img_mgmt/src/img_mgmt.c
 Category: Control flow issues
 Function: img_mgmt_upload
 Component: Other
 CID: 186038
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17218 "[Coverity CID :186031]Control flow issues in /home/aasthagr/zephyrproject/modules/lib/mcumgr/cmd/fs_mgmt/src/fs_mgmt.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/mcumgr/cmd/fs_mgmt/src/fs_mgmt.c
 Category: Control flow issues
 Function: fs_mgmt_file_download
 Component: Other
 CID: 186031
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17219 "[Coverity CID :174014]Incorrect expression in /home/aasthagr/zephyrproject/modules/lib/tinycbor/src/cborparser.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/tinycbor/src/cborparser.c
 Category: Incorrect expression
 Function: preparse_value
 Component: Other
 CID: 174014
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17220 "[Coverity CID :173986]Control flow issues in /home/aasthagr/zephyrproject/modules/lib/mcumgr/cborattr/src/cborattr.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/mcumgr/cborattr/src/cborattr.c
 Category: Control flow issues
 Function: valid_attr_type
 Component: Other
 CID: 173986
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17221 "[Coverity CID :173979]Control flow issues in /home/aasthagr/zephyrproject/modules/lib/tinycbor/src/cborparser.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/tinycbor/src/cborparser.c
 Category: Control flow issues
 Function: preparse_value
 Component: Other
 CID: 173979
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17222 "[Coverity CID :173947]Uninitialized variables in /home/aasthagr/zephyrproject/modules/lib/mcumgr/cborattr/src/cborattr.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/lib/mcumgr/cborattr/src/cborattr.c
 Category: Uninitialized variables
 Function: cbor_internal_read_object
 Component: Other
 CID: 173947
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17223 "[Coverity CID :149311]Control flow issues in /home/aasthagr/zephyrproject/modules/crypto/mbedtls/library/cipher.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/crypto/mbedtls/library/cipher.c
 Category: Control flow issues
 Function: mbedtls_cipher_update
 Component: Other
 CID: 149311
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17224 "[Coverity CID :78542]Null pointer dereferences in /home/aasthagr/zephyrproject/modules/crypto/mbedtls/library/rsa.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/crypto/mbedtls/library/rsa.c
 Category: Null pointer dereferences
 Function: rsa_prepare_blinding
 Component: Other
 CID: 78542
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17225 "[Coverity CID :61905]Insecure data handling in /home/aasthagr/zephyrproject/modules/crypto/mbedtls/library/ssl_cli.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/crypto/mbedtls/library/ssl_cli.c
 Category: Insecure data handling
 Function: ssl_parse_certificate_request
 Component: Other
 CID: 61905
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:00] aasthagr opened #17226 "[Coverity CID :61894]Security best practices violations in /home/aasthagr/zephyrproject/modules/crypto/mbedtls/library/rsa.c"
Static code scan issues seen in File: /home/aasthagr/zephyrproject/modules/crypto/mbedtls/library/rsa.c
 Category: Security best practices violations
 Function: myrand
 Component: Other
 CID: 61894
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-07-01 17:09] #17203 closed

[2019-07-01 17:09] #17204 closed

[2019-07-01 17:09] #17205 closed

[2019-07-01 17:09] #17206 closed

[2019-07-01 17:09] #17207 closed

[2019-07-01 17:09] #17208 closed

[2019-07-01 17:09] #17209 closed

[2019-07-01 17:09] #17210 closed

[2019-07-01 17:09] #17211 closed

[2019-07-01 17:09] #17212 closed

[2019-07-01 17:09] #17213 closed

[2019-07-01 17:09] #17214 closed

[2019-07-01 17:09] #17215 closed

[2019-07-01 17:09] #17216 closed

[2019-07-01 17:09] #17217 closed

[2019-07-01 17:09] #17218 closed

[2019-07-01 17:09] #17219 closed

[2019-07-01 17:09] #17220 closed

[2019-07-01 17:09] #17221 closed

[2019-07-01 17:09] #17222 closed

[2019-07-01 17:09] #17223 closed

[2019-07-01 17:09] #17224 closed

[2019-07-01 17:09] #17225 closed

[2019-07-01 17:09] #17226 closed

[2019-07-01 17:29] ioannisg commented on #17188
cc @pizi-nordic

[2019-07-01 17:31] andyross commented on #17170
Bug was with k_thread_priority_set() on SMP assuming that it could unconditionally remove the thread from the run queue.  On SMP, the current threads aren't in the run queue.  Wasn't discovered because while we do have tests that call k_thread_priority_set(k_current_get(), ...), they're running with SMP disabled currently :(

[2019-07-01 19:35] jimparis opened #17231 "Posix filesystem wrapper is missing "close", leaks file descriptors"
The POSIX fs layer `lib/posix/fs.c:open()` calls `posix_fs_alloc_obj` and `z_reserve_fd`, but there are no corresponding calls to `posix_fs_free_obj` and `z_free_fd`.  Even light use of the posix filesystem layer will quickly run out of available fds.

[2019-07-01 20:33] ruuddw commented on #13075
I think these indeed have been addressed. Though still not sure what the STACK_ALIGN interpretation difference for ARC was. Can be closed imho.

[2019-07-01 20:46] gnuless opened #17234 "CONFIG_KERNEL_ENTRY appears to be superfluous"
All in-tree architectures set it to "__start".  If an architecture needs a different entry point for some reason, that can be set in its linker script.  Seems that an application shouldn't need to set this.  Should investigate and remove it if it's legacy bitrot.

[2019-07-01 21:44] #13075 closed

[2019-07-01 21:44] alexanderwachter commented on #10463
#17229 Removes the HAL.

[2019-07-01 23:03] jwknaup commented on #16761
Any thoughts on this? If it's too low of a priority for anyone to work on, then I might attempt to tackle it myself although I'm not sure where to start given the complexity of the openthread codebase. But not being able to get logging output with openthread apps is making development pretty challenging

[2019-07-02 00:55] andrewboie opened #17239 "Too many open files crash when running "sanitycheck" with no arguments"
[code]

Master branch, I'm running Ubuntu 19.04.
Reproduced on another machine running Fedora 30

[2019-07-02 01:06] andrewboie commented on #17239
@nashif are you seeing this

[2019-07-02 01:32] andrewboie commented on #15985
@franciscomunoz @albertofloyd can you take a look at this one?

[2019-07-02 02:17] nashif commented on #17239
yes, we are hitting the file limit, we launch too many thrreads in sanitycheck which open too many files, try to increase limit: ulimit -n 4096.

I am already looking into this.

[2019-07-02 02:39] marc-hb commented on #17239
I run multiple large sanitycheck runs daily and I never encountered this. I suspect it's because this local hack has been an _accidental workaround_ (**not** a fix cause JOBS != Python threads):
[code]

For anyone interested: "top" doesn't show threads which hides the issue. "htop" shows 2000+ Python threads with default sanitycheck parameters.

[2019-07-02 03:48] npitre commented on #17095
FYI: I managed to install xcc and I know what the problem is. Expect a fix shortly.

[2019-07-02 04:56] vonhust opened #17240 "add arc support in Zephyr's openthread"
* add arc support in Zephyr's openthread
   - [ ] enable openthread for arc boards
   - [ ] add Pmod-RF (MRF24j40) driver
   - [ ] run openthread applications on arc boards

[2019-07-02 06:21] jhedberg commented on #17095
@npitre thanks, and sorry for not being able to provide you with timely feedback - I've had to focus on other priorities.

[2019-07-02 08:37] #17201 closed

[2019-07-02 08:47] tbursztyka commented on #17102
There would be no need to separate the callback and the configuration in 2 structs. Actually it's weird to see the handler being in the config part and not the callback. Just just the new attributes in gpio_callback.

[2019-07-02 09:33] erwango commented on #6925
Seems that this ticket has been adressed since I've found this section in doc:
https://docs.zephyrproject.org/latest/development_process/dev_env_and_tools.html?highlight=checkpatch#reviewers-shall-not-request-changes-without-comments-or-justification

Though, I've question on the following:
[code]

I'm not sure to agree requesting splitting the PR or the commit is an unjustified request.
Also it i

[2019-07-02 09:34] nvlsianpu commented on #8464
Removing all variables and setting them again worked. Not sure what was the issue.

I would say that this is transient bug - It appeared for me. Building in new context (another terminal instance) solves the problem.

[2019-07-02 10:19] pabigot commented on #17102
I agree; I don't think the configuration will be big enough to justify splitting it to save RAM.  I'd also like to see a list of the configuration attributes that would move from GPIO configuration to interrupt configuration.  I suspect that using a single word (instead of two masks) to define the behavior is more flexible, and would allow sharing flags (like logic vs line level, debounce, pull, .

[2019-07-02 11:17] finikorg commented on #12504
Yes, IIRC on `stm32f723e-disco`

[2019-07-02 11:53] nashif opened #17250 "After first GC operation the 1st sector had become scratch and the 2nd sector had became write sector."
After first GC operation the 1st sector had become scratch
and the 2nd sector had became write sector. After that NVS
was initialize (via reboot) again - it recognized the 1st
sector as write sector and 2nd as undone GC destination sector,
therefore it cleared 2nd sector and  re-run GC, which implied data loss.

[2019-07-02 11:55] nashif opened #17251 "w25q: erase operations must be erase-size aligned"
Erase operations must be aligned to the erase-size.
Don't need to perform an alignment check on a full erase. The offset
is not used in this case.
Don't need to perform alignment check on a sector sized erase, as
this alignment is checked on entrance to the function.

[2019-07-02 12:19] mrfuchs commented on #16035
I experienced similar issues using my custom STM32F4 board. While `fs_mount()` will always work on its first call, it will almost always fail with `FR_DISK_ERR` (error -5, that is) on subsequent calls after `fs_unmount()` has been called in between.
It looks like a SDHC disk - once it was initialized - never gets re-initialized, no matter if a failure occured afterwards or it even was unmounted, e

[2019-07-02 12:40] #17250 closed

[2019-07-02 12:41] #17041 closed

[2019-07-02 12:43] #17251 closed

[2019-07-02 15:56] rlubos commented on #16761
Hi @jwknaup,

I've just tried to configure USB with OpenThread on current master. I've added the following configuration to  the `overlay-ot.conf` in the `echo_client` sample:
[code]
With this configuration shell and logger over USB CDC worked fine for me. Two caveats though:
1. I've used nrf52840_pca10056 v1.1.0, could not find the v1.0.0,
2. For whatever reason, I needed to send **any** input ov

[2019-07-02 17:00] b0661 commented on #17102
Actually the gpio_callback struct is pure management data that could go away if the driver allocates it by itself and not forces the user to provide it. Currently it is also constraint to not be stack allocated.

I don´t understand why interrupt configuration should be mixed with pin characteristic configuration. These are two distinct functions.

This would mix interrupt configuration with pin co

[2019-07-02 17:02] gvancuts commented on #17004
I cannot reproduce this on my side (using a container). I believe this error can be caused by a missing dependency, specifically: `pkg-config`. Can you confirm all these packages are installed on your host: `bison autoconf libopts25-dev flex automake pkg-config gettext autopoint`?

Regarding the lookup issue (for `gnulib`), you are not the first one to report it but I have never seen it myself...

[2019-07-02 17:06] ydamigos commented on #16223
The issue is caused because the code runs in interrupt context and the write_sem (STM32 driver) is taken when usb_device tries to send the zero length packet without waiting for write done event, so it keeps retrying because IN callback is never called to give the write_sem back.
PR #17259 solves the issue.

[2019-07-02 17:33] andrewboie opened #17262 "insufficient code coverage for lib/os/base64.c"
For the code in lib/os/base64.c, we have 100% function coverage (2/2) but only 72.7% line coverage (56/77)

Upon inspection it appears that the error paths are untested.

[2019-07-02 17:38] marcoantonioara commented on #8125
BMI160 has driver to SPI in Zephyr. I have this sensor connected in a board using the i2c.
Please share your code with us

[2019-07-02 18:02] andyross commented on #17188
Can you post the code and timings you're getting, and what exactly you expect?   The uptime delta gadget is very simple.  Do you see similar skew with things like k_sleep() (which would imply that the clock is wrong)?  Or maybe you're expecting more precision than the ~1ms tick rate you have configured can provide?

[2019-07-02 19:38] pfvogel opened #17266 "CDC_ACM USB not recognized by windows as serial port"
**Describe the bug**
The USB CDC-ACM port is usable under Linux but not usable under Windows 10 unless it is built as a composite device.

**To Reproduce**
Using the nrf52840 Development Kit board, with a USB cable plugged into the JLink USB connector for programming.

Steps to reproduce the behavior:
1. cd samples/subsys/usb/cdc_acm
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=nrf52840_pca10

[2019-07-02 20:57] npitre commented on #17095
Fixes are in PR #17267.

[2019-07-02 21:44] andrewboie commented on #17171
It doesn't look like we have any dedicated unit tests for this code at all, the number we have are only because the APIs are used by some fs tests.

Need to write some tests under tests/lib/fdtable to prove that these APIs work. There may be bugs lurking.

[2019-07-02 22:07] jcorde commented on #16761
Hi @jwknaup,

I was able to make Logging through USB work on a nrf52840_pca10059 (Dongle) but OpenThread's connection range was reduced from 20 meters to 1 meter.

I suppose it is somehow related to https://github.com/zephyrproject-rtos/zephyr/issues/11694, but I'm not sure how.

[2019-07-02 22:21] andrewboie commented on #17172
goes away if asserts are enabled

[2019-07-02 22:21] #17172 closed

[2019-07-02 22:54] nashif commented on #16942
this number is misleading, probably applies to usage coverage, not test coverage. I can only see two functions with tests.

[2019-07-02 23:18] #17177 closed

[2019-07-02 23:48] rettichschnidi commented on #17005
@carlescufi What mbed has seems to be outdated. Also, the current RAIL versions have many more binaries.

Also, a short update after a discussion with my FAE contact: SiLabs is still evaluating. If and how they will support Zephyr will be decided in the coming weeks. Latest by the end of the month we will talk again.

[2019-07-03 00:45] andrewboie commented on #16942
Yeah, we don't have any explicit tests to prove that these APIs work.

[2019-07-03 00:48] andrewboie opened #17277 "no code coverage for k_float_disable() in user mode"
k_float_disable() was added as a system call, but the fp_sharing test only runs in supervisor mode and the system call handler function is uncovered.

[2019-07-03 01:16] andrewboie commented on #17239
For me the --jobs option doesn't affect it, I was seeing this with -j12.
Think this is a function of how many tests are selected, in the brief look at the code I took, it appears that it tries to open a QEMU pipe for every single emulated test, all at once.

[2019-07-03 02:30] LengedZhao opened #17280 "How to use UART1 for nrf52_pca10040"
**Describe the bug**
I want to use uart1 for communiction while uart0 is using for debuger print. So after referencing "Documenting enablement of UART1 support for nrf52840_pca10056"(https://github.com/zephyrproject-rtos/zephyr/pull/13077/files) , I try to add some code to my nrf52_pca10040.overlay such as "&uart1 {
	compatible = "nordic,nrf-uarte";
	current-speed = <9600>;
	status = "ok";
	tx-pin

[2019-07-03 02:36] andrewboie opened #17281 "sanitycheck error on mimxrt1050_evk samples/gui/lvgl/sample.gui.lvgl with no network connection"
[code]

The test appears to be trying to clone a git repository. I was offline when the error occurred. This extra project should be added to the west manifest instead.

[2019-07-03 02:42] #17167 closed

[2019-07-03 02:56] #16944 closed

[2019-07-03 03:00] Jeepgoing commented on #16926
either LPC54114 or LPC54102 can't run m4 and m0 core both on flash.

[2019-07-03 03:00] #16926 closed

[2019-07-03 03:01] andrewboie opened #17284 "unrecognized binary sections: ['_settings_handlers_area']"
[code]

Seeing this in sanitycheck output on master branch.

[2019-07-03 03:07] Jeepgoing commented on #12504
@finikorg Hi, can you show me your test code? or give me some advise about how to change my code based on master code.

[2019-07-03 04:42] cvinayak opened #17288 "Bluetooth: controller: Fix handling of L2CAP start frame with zero PDU length"
**Describe the bug**
When a host sends HCI ACL packet with L2CAP start frame length of zero, the controller is sending incorrect LL_DATA START PDU with zero length.

**To Reproduce**
Run BT LL TS 5.1.0 conformance test cases

**Expected behavior**
The controller should not send LL_DATA START PDU with zero length.

**Impact**
Failing test case

**Screenshots or console output**
Not available

**Env

[2019-07-03 05:43] jhedberg commented on #17284
@Vudentz is this related to the “iterable” stuff?

[2019-07-03 05:50] jhedberg commented on #17284
It seems like this area was introduced by commit c20ff1150f717d79374997ed3b429b2449d2c3b8

[2019-07-03 05:53] jhedberg commented on #17284
If I understand this right, all that's needed is for the new section to be added to the right array in `scripts/sanitycheck`

[2019-07-03 06:20] ioannisg commented on #16670
@SebastianBoe can you take a look at this bug report from Pawel?

[2019-07-03 06:29] ioannisg commented on #17280
@anangl could you please answer this?

[2019-07-03 06:40] anangl commented on #17280
The board (nrf52_pca10040) is equipped with the nRF52832 SoC which has only one UART. Thus, what you are trying to achieve is simply not possible on this board, since there is no corresponding hardware there.

[2019-07-03 06:40] #17280 closed

[2019-07-03 06:52] ioannisg commented on #17277
Will work on that.

[2019-07-03 06:57] jukkar commented on #15844
Fixed by #16743 which is already merged -> closing

[2019-07-03 06:57] #15844 closed

[2019-07-03 07:10] jukkar commented on #17190
The PR was merged -> closing.

[2019-07-03 07:10] #17190 closed

[2019-07-03 07:28] Laczen commented on #17284
@jhedberg, do you mind if I would rename the `_bt_settings_area` in `scripts/sanitycheck` to `_settings_handlers_area` ?

[2019-07-03 07:56] finikorg commented on #12504
You can use any sample with overlay like:
[code]

[2019-07-03 08:09] vanwinkeljan commented on #17281
This is a known limitation and the intention is to move lvgl to a dedicated west repo after the migration of ext is done.

[2019-07-03 08:14] vanwinkeljan commented on #17281
@nashif, @carlescufi, @MaureenHelm  as already 2 people ran into issues with the lvgl download (this issue and https://github.com/zephyrproject-rtos/zephyr/pull/6826#issuecomment-494923867) would it be an option to create an empty repo `lvgl` in `zephyrproject-rtos`, then I could take care of migrating `lvgl` in to the west manifest?

[2019-07-03 08:14] #16687 closed

[2019-07-03 08:17] erwango commented on #16041
@maweicoltsmart do you still face this issue?
If yes, can you try to increase STM32_FLASH_TIMEOUT?

[2019-07-03 08:21] jhedberg commented on #17284
@Laczen yes that's fine with me - there are no more users of _bt_settings_area, right?

[2019-07-03 08:40] joerchan opened #17294 "DB corruption when adding/removing service"
When removing a service and adding it back again the gatt_register routine will cause the database to have a list of services where the handles are not in ascending order.
This will lead to and incomplete service discovery.

Example with the following GATT DB:

0x0001 Service 1
0x0002 Char 1.1
0x0003 Service 2
0x0004 Char 2.1

If we remove Service 1 and add it again and since we always append a
ne

[2019-07-03 09:00] Laczen commented on #17284
@jhedberg, the area is not even there anymore.

@andrewboie, I am not a user of sanitycheck, but there has been a change in the storage of settings_handlers. Could you try in line 911 of scripts/sanitycheck to replace `"_bt_settings_area"` to `"_settings_handlers_area"`. Thanks.

[2019-07-03 09:39] gon1332 opened #17300 "[Zephyr v1.14.0] mcumgr: stm32: Strange Build warnings when counter is enabled"
**Describe the bug**
When I enable the mcumgr module in our project along with the counter driver, the building process emits warnings about the `uint32_t` vs `u32_t` definitions on code that mcumgr uses.

My main target is the STM32 L4 series and, but it seems that also `nucleo_f401re` is affected.
OTOH, on `nrf51_pca10028` with counter and mcumgr enabled, no warning is emitted.

It seems that al

[2019-07-03 09:39] gon1332 commented on #17300
@galazari

[2019-07-03 09:54] Jeepgoing commented on #12504
is it any board support external PHY now? if i only modify

it's can't work.

[2019-07-03 10:08] StefJar commented on #17188
hopefully I got everything in that code snip:
[code]

use a stm32f412 dev board. The pins C0 and B12 are used as buttons.

[2019-07-03 10:09] #17095 closed

[2019-07-03 10:14] Jeepgoing commented on #13560
@ydamigos @finikorg  it works, thanks.

[2019-07-03 10:19] gon1332 commented on #17300
Furthermore, if I enable the `counter` and only this in `mcuboot/boot/zephyr/prj.conf` and build it, I can see similar warnings. The following is just a snippet:

[code]

[2019-07-03 10:30] gon1332 commented on #17300
OK, this https://github.com/zephyrproject-rtos/zephyr/commit/f32330b22c333012cf5f771b0eae9ef378e446d4#diff-af3b638bc2a3e6c650974192a53c7291 seems like a good candidate to solve the problem.  I'll test it.

[2019-07-03 12:00] pabigot opened #17307 "device tree bindings disallow strings that begin with integers"
I have a yaml file with this:

    epd-variant:
      type: string
      category: required
      generation: define
      enum:
        - "1.54b"

When processing this:

	epd@0 {
	      compatible = "waveshare,e-paper";
	      reg = <0>;
	      rst-gpios = <&gpio0 2 0>;
	      busy-gpios = <&gpio0 3 0>;
	      dc-gpios = <&gpio0 28 0>;
	      epd-variant = "1.54b";
	};

I get this:
[code]

AFAICT

[2019-07-03 12:12] galak commented on #17307
I think this might be fixed by:

https://github.com/zephyrproject-rtos/zephyr/pull/15599

[2019-07-03 12:27] #17202 closed

[2019-07-03 12:33] rlubos commented on #15975
@acsplayon I've reproduced the issue and submitted https://github.com/zephyrproject-rtos/zephyr/pull/17308 to fix it. Please review/verify.

[2019-07-03 12:43] pabigot opened #17309 "enhancements to device tree generation"
As far as I can tell the `generation` property is `define` in all cases except  a few where it's `structures`.

Also, as far as I can tell the `generation` property is read but has absolutely no effect on generation.  The yaml template even says it's ignored.

This is unfortunate, as I had hoped there was an option to produce the macro value for a string property without the quotes around the stri

[2019-07-03 12:46] finikorg commented on #12504
@Jeepgoing this works for the board `stm32f723e_disco` only, this board has 2 USB sockets, do not know about other boards, probably should work the same way.

[2019-07-03 12:49] nashif commented on #17281
@vanwinkeljan sure, can you prepare a repo in your fork that would act as a module, I will then create it in the zephyr project and push it and make it ready for PRs and integration.

[2019-07-03 12:52] galak commented on #17309
I'm trying to phase out `generation` in the YAML files.  If you've got an example of what you want generated we can look at doing it.

We're working on a new parser and generation script/tooling.  I'm not sure if it will get completed in time for merging in 2.0.  So we can see if what you need makes sense to add there or to add to the existing code.

[2019-07-03 13:04] nvlsianpu commented on #15831
To solve this issue need to solve https://github.com/zephyrproject-rtos/zephyr/issues/16773 before. I'm not able to do so.

[2019-07-03 13:10] yboutreux opened #17310 "boards: shields: use Kconfig.defconfig system for shields"
**Is your enhancement proposal related to a problem? Please describe.**
I am currently porting a BLE shield that use BlueNRG-MS chip (X-NUCLEO-IDB05A). The shield needs to set some specific _CONFIG_ to work, such as _CONFIG_SPI=y_, that should in theory be enabled only if _CONFIG_BT=y_ is set in a project.
The current way of doing this for shields is to add every config in configuration overlays,

[2019-07-03 13:14] galak commented on #16773
It sounds as if the flash simulator should have a different compatible then.

[2019-07-03 13:18] nvlsianpu commented on #16773
^^ Can you propose solution?

[2019-07-03 13:20] galak commented on #16773
I'm still not clear on what the issue is, or what defines you need.

[2019-07-03 13:23] erwango commented on #17310
@avisconti , would it also help you in your microphone shield?

[2019-07-03 13:28] avisconti commented on #17310
Yes, definetely.
I need to define 3 things in the shield for microphones:
1. I2S, timer and so on configuration. This seems to require a Kconfig.defconfig support in shields
2. Extend the pinmuxing. Ideally would be nice to have a pinmux.c file in shields as well.
3. extend the dts. It seems to me that maybe the overlay file is not enough. I would study more on this.

[2019-07-03 13:31] nvlsianpu commented on #16773
DT_FLASH_SIM_BASE_ADDRESS
DT_FLASH_SIM_ERASE_BLOCK_SIZE
DT_FLASH_SIM_WRITE_BLOCK_SIZE
DT_FLASH_SIM_SIZE
DT_FLASH_SIM_DEV_NAME

[2019-07-03 13:40] SebastianBoe commented on #16670
Reproduced, will investigate.

[2019-07-03 14:47] pabigot commented on #17309
Below are three enhancements to generation that I would like to see, with real-world examples

### GPIOS

In addition to
[code]
I would like to see
[code]
in conjunction with a standard `struct gpio_descriptor` in the `gpio.h` header, allowing:
[code]
This would reduce the amount of noisy boilerplate when instantiating GPIO uses.

### Tokenizable Values

[Waveshare's e-paper displays](https://www.

[2019-07-03 14:48] pdunaj commented on #17147
Nothing special was set. I enabled
`SERIAL`, `UART_NRFX`, `UART_0_NRF_UARTE` , `UART_0_NRF_FLOW_CONTROL`
and `CONSOLE`, `UART_CONSOLE`.

I tried again and it seems that the problem is caused by `UART_0_NRF_FLOW_CONTROL`. That is, if the option is not enabled I application works, if it is enabled UART api is not specified and I get crash as described.

[2019-07-03 14:56] galak commented on #16773
You have:

[code]

[2019-07-03 15:03] nvlsianpu commented on #16773
For modified qemu_x86.dts

[code]
I've got in DTS product:
[code]

@galak I have quite a wide range of areas on my head, so excuse basic question:
Should i just use `DT_SOC_NV_FLASH_0_xxx` macros. for obtain values i want? Is index `0` guaranted?
Looks like you points this before - but I didn't catch.

[2019-07-03 15:03] erwango commented on #17310
For reference, they were previously available but been removed in https://github.com/zephyrproject-rtos/zephyr/pull/12403 when we put dt parsing ahead of Kconfig

[2019-07-03 15:14] galak commented on #16773
The `DT_SOC_NV_FLASH_0_XXX` are not index based, but based on node name/address the flash is at.

[2019-07-03 15:39] pdunaj commented on #17147
Seems API is set to NULL as `uarte_0_init` fails and `kernel/device.c` has a code that will set API to NULL in such a case (great idea btw Zepyr to set API to NULL instead of doing anything else that would point to the actual error).

[2019-07-03 15:43] jfischer-phytec-iot commented on #17309
I join in here. But I prefer to use `a-byte-data-property` for that, like:

[code]

@pabigot OT: I wonder why you write driver for a display and not a display controller. btw, ssd1673 already supports HINK E0154A05.

[2019-07-03 15:49] pabigot commented on #17309
@jfischer-phytec-iot I'm intending to write a driver that conforms to Zephyr's display API so it can be used with lvgl.  I don't believe these displays use the ssd1673, but I'll check into that.

[2019-07-03 15:49] nvlsianpu commented on #16773
Understand: this mean that this might works - will experiment with this.

Strange thing- now even if i removed sim_flash node completly form dts, and remove flash simulator from the compilation, build failure in a strange way:

[code]

[2019-07-03 15:51] pdunaj commented on #17147
I found the problem is in the dts file as instead of cts I have rts defined twice...

[2019-07-03 15:51] #17147 closed

[2019-07-03 16:04] jfischer-phytec-iot opened #17313 "drivers: usb_dc_mcux_ehci does not compile"
**Describe the bug**
usb_dc_mcux_ehci.c does not compile

**To Reproduce**
Steps to reproduce the behavior:

0. cd tests/subsys/usb/device
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1050_evk ../
3. make
4. See error

**Impact**
CI fails on `tests/subsys/usb/device`, blocks #17236

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Lin

[2019-07-03 16:24] jfischer-phytec-iot commented on #17266
Windows 10?, weird. Could you please try `CONFIG_CDC_ACM_IAD=y`?

[2019-07-03 16:27] andrewboie commented on #16773
Adding bug tag as this is blocking https://github.com/zephyrproject-rtos/zephyr/issues/15831

[2019-07-03 16:46] dbkinder opened #17314 "doc: add tutorial for using mbed TLS"
As reported by a developer:

I have seen that other IoT OS use tinydtls for authentication over CoAP and IEEE 802.15.4. On the other hand,  the Zephyr RTOS I have seen (in documentation 1.9) that uses mbed TLS but I confused on how to set it in IoT end devices. **Specifically, I was wondering if there is any tutorial to start (e.g in reel boards). ** Also, I would like to know if the DTLS is based

[2019-07-03 16:48] pabigot commented on #17309
Agree, support for `bytestring` generating an initializer is desirable.

[2019-07-03 16:51] #15975 closed

[2019-07-03 16:54] jfischer-phytec-iot commented on #17309
@pabigot The driver should be for a display controller not a display and the parameters for a specific panel have to be passed from DT. For example, ssd1673 (will rename it to something generic) supports different controllers (SSD1673 (gde0213b1) and SSD1608 (GDE029A1) compatible),  see `reel_board.dts` and `ssd1673.c`. But because of the problem described above, the LUTs are still in the driver i

[2019-07-03 17:04] pfvogel commented on #17266
Just tried it with CONFIG_CDC_ACM_IAD=y instead of CONFIG_USB_COMPOSITE_DEVICE=y and it works under both Linux and Windows 10.
Thanks for the suggestion!

[2019-07-03 17:16] jfischer-phytec-iot commented on #17266
CONFIG_CDC_ACM_IAD was introduced as workaround for Windows 7, as I remember, there should be no issues on Windows10. @masz-nordic any thoughts?

[2019-07-03 17:16] jwknaup commented on #16761
Thanks @rlubos for the correct config. I guess I needed to use the usb uart shell instead of the console. I think we can close this

@jcorde I did not notice such a significant reduction in range, thank goodness!

[2019-07-03 17:23] andrewboie commented on #17239
I posted a workaround patch which has sanitycheck automatically increase the file limit.

If we agree to merge it, I think we can lower this to 'medium' and give us some breathing room to develop a proper fix.

[2019-07-03 17:24] #17200 closed

[2019-07-03 17:53] jfischer-phytec-iot commented on #17313
removing `__nocache` section macro fixes build. @andyross @andrewboie  any thoughts why it fails on `BUILD_ASSERT`?

[2019-07-03 18:23] ioannisg commented on #17313
This likely breaks CIs for usb -related PRs

[2019-07-03 18:24] ioannisg commented on #17313
I'll investigate tomorrow

[2019-07-03 18:43] psidhu commented on #16934
At least according to the STM32L4+ reference manual in 3.3.6:

[code]

The same is said about mass erase operations.

At least for the STM32L4+, it appears we should poll on the busy bit only and not introduce a timeout of our own?

[2019-07-03 22:53] vanwinkeljan commented on #17281
@nashif Create a branch (`west_module`) in my [lvgl fork](https://github.com/vanwinkeljan/lvgl/commits/west_module).

But would it not be better to directly fork the main lvgl repo to `zephyrproject-rtos` and that I send a PR to that repo?

(zephyr part can be found in draft pr #17320)

[2019-07-03 23:40] andrewboie opened #17323 "failing network tests with code coverage enabled in qemu_x86"
[code]

Enabling CONFIG_COVERAGE exposes a bunch of test failures with networking tests under tests/net/. We need these be able to build and run successfully to assess code coverage of the network stack.

At least one (tests/net/all/net.build) is related to #15831
Others may be stack size related, CONFIG_COVERAGE requires considerably more stack space to function correctly.
One is baffling, appear

[2019-07-03 23:44] andrewboie opened #17324 "failing bluetooth tests with code coverage enabled in qemu_x86"
[code]

3 of these appear to be due to  #15831

Reproduce with:

[code]

Or just build the individual tests with `CONFIG_COVERAGE=y`

[2019-07-04 02:46] andrewboie opened #17336 "insufficient code coverage for include/sys/math_extras_impl.h"
The inline functions declared here are not sufficiently tested by test cases in tests/kernel/ or tests/lib/.

I can find no test case at all which proves that these work. Need to add a test under tests/lib/ which exercises every function, with and without builtins, and prove that they work.

[2019-07-04 02:52] andrewboie commented on #16773
Grep for MMU_BOOT_REGION in the code, instances of these are used to construct the page table. Somewhere, these are overlapping. `make VERBOSE=1` may have more clues.

[2019-07-04 03:04] yashi commented on #17105
What we want is not ASSERT but as @ceolin described a variant of "[Design by Contract](https://www.eiffel.org/doc/solutions/Design_by_Contract_and_Assertions)" from Eiffel.

And "What to do when something goes wrong" is application specific, meaning that in some case we want to abort with backtrace so that it allows us to see what's wrong  In other case, we want the system to run as much as possib

[2019-07-04 04:37] wentongwu opened #17337 "ArmV7-M mpu sub region alignment"
for systems that have mpu sub region support, users want to use sub region size granularity to do alignment instead of power of two to avoid wasting much memory, for example code size is about 512K + 4Byte, if power of two alignment enabled, another almost 512K will be wasted. So for that case, we should disable CONFIG_MPU_REQUIRES_POWER_OF_TWO_ALIGNMENT, and if configure CONFIG_ARM_MPU_REGION_MIN

[2019-07-04 04:39] wentongwu commented on #17337
@ioannisg  could you please share some idea for this problem? thanks

[2019-07-04 06:02] wentongwu opened #17338 "kernel objects address check in elf_helper.py"
when code relocation enabled, there will be some other regions to hold kernel objects(like k_mutex, k_sem, etc), but in elf_helper.py, it will do the address check like below code, only in SRAM region, so kernel objects in other regions will be discarded. There is a method which is to add symbols in these regions to mark the start and end of the memory containing kernel objects, and then add more

[2019-07-04 06:46] xiaoliang314 opened #17340 "Bluetooth Mesh: Unable to receive messages when RPL is full."
In Mesh communication, the system reported an error:
[code]
My Mesh node can't receive this message, In the Mesh protocol stack, messages are blocked when the relay list is full.
https://github.com/zephyrproject-rtos/zephyr/blob/9e57338efdb63a068c904b57eb16fe33f6b59cd3/subsys/bluetooth/host/mesh/transport.c#L900-L904
I think that whether relaying is a node's choice is not an obligation. It should

[2019-07-04 06:48] aescolar commented on #17323
CC @jukkar

[2019-07-04 06:53] xiaoliang314 commented on #17340
Is my understanding error!

[2019-07-04 06:55] gon1332 commented on #16934
@psidhu That's true also for STM32L4x{5,6}. I thought that the wait time used in the driver in the first place is just a safeguard to avoid eternal (?) blocking.

[2019-07-04 06:58] ioannisg commented on #17337
I am trying to understand this, @wentongwu thanks for looking at options for improvement.

Which systems are those?
- ARMv7-M MPU supports the option for sub-region disabling, but requires power-of-two-sized (and aligned-with-size) MPU regions.
- ARMv8-M MPU does not require power-of-two alignment of MPU regions, but does not support sub-regions.

[2019-07-04 07:02] jhedberg commented on #17340
Yep, I guess you confused between "relay" and "replay" :) As per specification the implementation is obliged to discard any message destined for its elements if it cannot perform replay protection on it (e.g. if the RPL is full).

[2019-07-04 07:03] erwango commented on #17310
Thinking about it more, I think we should allow Kconfig.defconfig and replace existing shields.conf by these files.
Similarly to the guideline for boards, it is up to the application to enable subsytems and this should not be done in board directly.
We should do the same in shields, so instead of having:
[code]
We should have :
[code]

This way we can keep application compatible with either a boar

[2019-07-04 07:04] jhedberg commented on #17340
One more note: the correct action is for you to increase the value of `CONFIG_BT_MESH_CRPL` to match the maximum number of unique unicast addresses your node may be receiving messages from.

[2019-07-04 07:04] rlubos commented on #16761
@jwknaup You're correct, Zephyr's OpenThread port is integrated with shell/logger subsystem, not the console.

[2019-07-04 07:05] rlubos commented on #16761
Issue resolved.

[2019-07-04 07:05] #16761 closed

[2019-07-04 07:07] aescolar opened #17342 "CODEOWNERS is broken (III)"
A comma was added to a new path in
9dbdd81

But GitHub's CODEOWNERS parsing cannot handle commas in paths

Related to #16000

[2019-07-04 07:13] ioannisg commented on #17342
Can we just, go once through the CODEOWNERS file and remove all commas? So we avoid new breakings when doing legitimate changes to the file.

I this this should do it; we are , anyways, careful, when doing changes in that file (doesn't mean I don't agree with adding a CI check)

[2019-07-04 07:14] xiaoliang314 commented on #17340
@jhedberg Thank you for your answer, I did confuse them. What I don't understand is, under what circumstances will the replay protection list be full? I used the light control model, and after switching multiple switches, some elements could not be controlled. These seem to be normal behaviors. Is the replay protection list full and related to the number of nodes in the network?

[2019-07-04 07:27] erwango commented on #16934
@gon1332 , @psidhu

This is right. We're already polling the SR_BSY bit in `flash_stm32_wait_flash_idle`, so extending STM32_FLASH_TIMEOUT from the "maximum erase time" to a real time out value would be the only thing to do here (let's try to double it first).

[2019-07-04 07:34] gon1332 commented on #16934
@erwango So be it. Do you want me to do it?

[2019-07-04 07:47] #17342 closed

[2019-07-04 08:07] jhedberg commented on #17340
@xiaoliang314 as I mentioned in my previous comment there is a build-time configuration option Called `CONFIG_BT_MESH_CRPL` using which you set the size of the RPL. It's a configurable value since it depends on the type of network and the number of nodes. So you should set it to a value which makes sense for your node. The default value for it is 10 (IIRC), i.e. if you don't set it explicitly for

[2019-07-04 08:09] jhedberg commented on #17340
It becomes full when a node has received messages from as many unique unicast addresses (i.e. other nodes/elements) as the size of the RPL is. After that the node can continue receiving messages from these nodes, but it will not be able to receive messages from any new nodes.

[2019-07-04 08:16] erwango commented on #16934
@gon1332, if you don't mind, it would be welcomed

[2019-07-04 08:21] wentongwu commented on #17337
the system is ARMv7-M, and what I mean users want to use sub region size granularity(that's power of two alignment) to do alignment to avoid large memory hole(for above example)which can be seen in the map file, sorry I have wrong description, I mean we should disable CONFIG_MPU_REQUIRES_POWER_OF_TWO_ALIGNMENT in linker script, but when configure mpu, the size will be power of two alignment. For a

[2019-07-04 08:35] jukkar commented on #17323
The  #17344 fixes three tests from the above list. Increasing stack sizes helped for tests in tests/net/udp, tests/net/mgmt and tests/net/mld directories. Increasing stack size did not help for the other tests, or I might have increased wrong values. I attached gdb to the failing tests and they fail before ztest main() is called.

[2019-07-04 08:35] ioannisg commented on #17337
Alright, thanks for explaining. Now, I also confused; what do you mean by sub-region?
Are you referring to the ARMv7-M MPU sub-regions? If so, these ones are fixed to 1/8 of the MPU region - how the sub-region size could be used in a Kconfig?

[2019-07-04 09:16] xiaoliang314 commented on #17340
@jhedberg  thinks, This is a satisfactory answer.

[2019-07-04 09:16] #17340 closed

[2019-07-04 09:46] wentongwu commented on #17337
Ok, it is, but for example somehow we can now the size of .text section, 512k+4B, with current code and CONFIG_ARM_MPU_REGION_MIN_ALIGN_AND_SIZE enabled, the size of .text section in RAM (suppose only RAM) will be 1M.
[code]
But if with below code, the size of .text section will be 512k+64k(MPU_SUB_REGION_SIZE), that saved memory.

[code]

For MPU configuration, 512k will be in MPU region1 and 64k

[2019-07-04 09:49] ioannisg commented on #16670
Thanks @SebastianBoe

[2019-07-04 10:01] wentongwu commented on #17338
@andrewboie @ioannisg could you please take a look this question? Thanks

[2019-07-04 10:03] ioannisg commented on #17337
Alright, now I understand what you want to do. So, this means that for a data region (e.g. a user thread stack, app mem partition, etc) you might need to waste 2 MPU regions at run-time, to make this work. We cannot afford this, sorry. We need to use as few regions as possible.

[2019-07-04 10:08] ioannisg commented on #17337
But now I started thinking more of it: could we use sub-region feature to shrink the MPU regions?
Example:
Assume a desired thread stack size of 1200 bytes.
We still align this with 2048, but the user thread stack can be 2048 * (5 / 8) = 1280 bytes.

[2019-07-04 10:15] wentongwu commented on #17337
Yes, you are right. But we just use this in the linker script to avoid memory waste in linking time. For stack and memory partition, we still use CONFIG_ARM_MPU_REGION_MIN_ALIGN_AND_SIZE.

[2019-07-04 10:19] ioannisg commented on #17337
Alright. So we are saving space in code, not SRAM, right?

[2019-07-04 10:31] #17176 closed

[2019-07-04 10:47] nvlsianpu commented on #16773
^^ ROM (Flash) region overlaps RAM region.

[2019-07-04 11:23] #16785 closed

[2019-07-04 12:21] erwango commented on #14066
^^FRASTM

[2019-07-04 12:37] nvlsianpu commented on #16773
hopefully fix in a way by #17349

[2019-07-04 12:37] nvlsianpu commented on #15831
hopefully fix in a way by #17349

[2019-07-04 12:59] ioannisg commented on #17313
Git bisect gives me ace11bbefde384af7e0bf7c2f7b9fc6a1c9c88ca, and this makes sense: the PR added the build-time asserts in kernel.h which give, now errors. (FYI @npitre)

But perhaps that patch itself is not to blame, it might be the some sort of inclusion cycles

[2019-07-04 13:12] jfischer-phytec-iot commented on #17313
@ioannisg [__nocache section macro](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/usb/device/usb_dc_mcux_ehci.c#L42) triggers some issue in K_MEM_POOL_DEFINE

[2019-07-04 13:12] SebastianBoe commented on #16529
Hi, I believe sanitycheck is not translating it's received
--board-root argument to a CMake argument as it should have been
doing. This should be fixed, but first, as a workaround, could
you try instead of doing,

[code]

do

`"${ZEPHYR_BASE}"/scripts/sanitycheck --board-root "${BOARD_ROOT}" --testcase-root "${MY_PRJ_ROOT}" --tag build --build-only --platform my_oot_board --verbose --inline-logs -

[2019-07-04 13:17] ioannisg commented on #17313
@jfischer-phytec-iot the problem is the build-time assert in kernel.h. If you comment that out, the project builds.

[2019-07-04 13:23] jfischer-phytec-iot commented on #17313
@ioannisg I see, but It builds too if you comment __nocache in usb_dc_mcux_ehci.

[2019-07-04 13:24] ioannisg commented on #17313
Yes! But the problem is not the whole think of defining a mem-pool, it is just the build-time assert inside it, which was added in the commit that i mentioned

[2019-07-04 13:43] jfischer-phytec-iot commented on #17313
`BUILD_ASSERT(WB_UP(maxsz) >= _MPOOL_MINBLK);` conflicts with __section macro, how should it be processed?

I have not looked at everything exactly, e.g. patch below fixes the problem:

[code]

[2019-07-04 13:47] jfischer-phytec-iot commented on #17313
I suppose no one thought that an K_MEM_POOL_DEFINE user would combine it with an other macro.

[2019-07-04 13:51] ioannisg commented on #17313
I confirm, at least,  that this is a fix @jfischer-phytec-iot

Thanks, I think we can live with that. This is a hotfix - it will likely break lots of PR CIs if we don't address it, and, after all, it won't allow developers to work with USBD on that board....

[2019-07-04 14:22] SteveOss opened #17353 "Configuring with POSIX_API disables NET_SOCKETS_POSIX_NAMES"
**Describe the bug**

If POSIX support is enabled with CONFIG_POSIX_API=y then use of POSIX compliant
network interface names with CONFIG_NET_SOCKETS_POSIX_NAMES is disabled. This seems illogical to me.

**Expected behavior**
Should be able to set both CONFIG_POSIX_API and CONFIG_NET_SOCKETS_POSIX_NAMES for maximum POSIX compliance.

**Impact**
Breaks existing build

**Screenshots or console outpu

[2019-07-04 14:35] aescolar commented on #17353
CC: @pfalcon @jukkar

[2019-07-04 14:39] ioannisg commented on #15814
OK, but this is still open

[2019-07-04 14:52] ioannisg commented on #15814
Fixed

[2019-07-04 14:52] #15814 closed

[2019-07-04 15:05] ioannisg commented on #16567
Then this issue will always trigger the same coverity report, @mike-scott , is there anything we can do? Should we just close it then?

[2019-07-04 15:06] ioannisg commented on #16567
Otherwise, we can keep the issue, but tet's remove the bug, at least, since this is intentional.

[2019-07-04 15:07] npitre commented on #17313
On Thu, 4 Jul 2019, Johann Fischer wrote:

If that fixes the problem, then go for it.

[2019-07-04 15:18] jukkar commented on #17353
Yes, this is a known issue. Can you try #17346 if it helps?

[2019-07-04 15:18] ioannisg commented on #17313
@npitre can you comment on #17352 instead?

[2019-07-04 15:21] npitre commented on #17313
On Thu, 4 Jul 2019, Ioannis Glaropoulos wrote:

Yes. Please tag me there so I can reply by email. The web interface is a
pain to use for me.

[2019-07-04 15:36] SteveOss commented on #17353
Will give it a try, but to me looks like a core configuration dependency issue. For NET_SOCKETS_POSIX_NAMES the dependency is:

!POSIX_API && NET_SOCKETS && NETWORKING

This just looks broken to me, to enable socket POSIX names, selecting POSIX APIs must be false ???
IMHO should be:

POSIX_API && NET_SOCKETS && NETWORKING or potentially just:

NET_SOCKETS && NETWORKING

[2019-07-04 16:10] mike-scott commented on #17310
@erwango Yep, that makes sense.  Perfect example is Particle Boron board (w/ embedded SARA R4 modem) vs. K64F + SparkFun modem shield.

[2019-07-04 16:11] #17313 closed

[2019-07-04 16:40] andrewboie commented on #17338
this check is a legacy of CONFIG_APPLICATION_MEMORY.
You should be able to change this to check that the kernel object is outside the app_smem area.

[2019-07-04 19:06] pfalcon commented on #17353
No, you should just use POSIX APIs, period.

However, if you know what you're doing, and would like to munge with Zephyr's adhoc proprietary APIs, while making them to pretend to be POSIX-like, you may select a very special option NET_SOCKETS_POSIX_NAMES.

The current behavior works as intended. If it looks strange, then the strange thing is the use of NET_SOCKETS_POSIX_NAMES, not that it conflict

[2019-07-04 19:36] #17182 closed

[2019-07-05 02:44] gnuless opened #17361 "_THREAD_QUEUED overlaps with x86 _EXC_ACTIVE in k_thread.thread_state"
`kernel/include/kernel_structs.h` (line 53) says:

`#define _THREAD_QUEUED (BIT(6))`

and `arch/x86/include/ia32/kernel_arch_data.h`(line 60) says:

`#define _EXC_ACTIVE (1 << 6)`

These are both bit definitions for `k_thread.thread_state`.  I think this is ... bad.  Am I crazy?

[2019-07-05 02:55] gnuless commented on #17361
A brief once-over of the scheduling code leads me to believe that this isn't an immediate problem, as I think `_THREAD_QUEUED` is only used when SMP.  Should probably rectify this though, lest we be surprised in the future.

Note that fixing this probably will require widening `thread_state` because it's 8 bits, and at first glance it looks like we need 9.

[2019-07-05 07:29] mrfuchs opened #17363 "SPI driver does not reset master mode fault on STM32"
**Describe the bug**

The current implementation of the STM32 SPI driver does not reset MODF (master mode fault). This leads to the situation where, after starting a new transmission, the SPI chip select signal is active but the function never returns because the interrupts is never triggered.

https://github.com/zephyrproject-rtos/zephyr/blob/eb57607c7d761f076d9f4abd03b22e933a2898b2/drivers/spi/s

[2019-07-05 08:23] SteveOss commented on #17353
The intent is to be able to compile code using standard POSIX and standard BSD networks calls e.g.

pthread_mutex_t mutex;
int sock = socket (AF_INET, SOCK_STREAM, 0);
pthread_mutex_init (&mutex, NULL);

Currently the catch 22 is that I have to enable POSIX_API to use the pthread stuff and enable
NET_SOCKETS_POSIX_NAMES to use the standard BSD socket calls. However enabling POSIX_API
disables NET_

[2019-07-05 08:24] aescolar opened #17365 "Documentation: sanitycheck coverage generation instructions lead to errors and no coverage report for POSIX boards"
**Describe the bug**
After #17271, following the instructions in
https://docs.zephyrproject.org/latest/guides/coverage.html#coverage-reports-using-the-posix-architecture
will not work and result in errors

**To Reproduce**
* Follow the instruction in that section for native_posix

**Expected behavior**
No errors

**Impact**
Confused users due to incorrect documentation

**Environment:**
 - OS: Lin

[2019-07-05 08:25] aescolar commented on #17365
Related to #17359

[2019-07-05 08:29] #16934 closed

[2019-07-05 08:35] aescolar opened #17366 "Regression: sanitycheck coverage generation defaults will error out for POSIX arch targets"
**Describe the bug**
After #17271 (8047a6f), running sanitycheck with the `-C`/`--coverage` option for POSIX arch based boards (e.g. `native_posix`) will result in a lot of errors instead of a coverage report due to `gcov` version incompatibilities.

**To Reproduce**
For example:
sanitycheck -p native_posix -T tests/kernel -C

**Expected behavior**
Things working as before the offending commit for

[2019-07-05 08:41] aescolar commented on #17366
@andrewboie Will you take this?

[2019-07-05 08:52] masz-nordic commented on #17266
I was able to reproduce this on Windows 10 1809 with current master. I will try bisecting and testing on various OS versions when I have some time.

@pfvogel What Windows 10 version are you using?

[2019-07-05 08:58] KwonTae-young commented on #12261
I've had a similar problem.
My case occurred when I ran `samples/drivers/i2c_scanner`.

[2019-07-05 09:08] SteveOss commented on #17353
Oops have just read above log and see you guys already have the issue in hand.

[2019-07-05 09:10] erwango commented on #12261
@KwonTae-young , can you check the following and see if fixing your problem:

https://www.st.com/content/ccc/resource/technical/document/errata_sheet/7d/02/75/64/17/fc/4d/fd/CD00190234.pdf/files/CD00190234.pdf/jcr:content/translations/en.CD00190234.pdf

[2019-07-05 09:17] erwango commented on #17363
@mrfuchs, thanks for reporting, and since you propose the solution fixing the issue, feel free to push it as well.

[2019-07-05 09:24] aescolar commented on #17105
@andrewboie There are issues with this proposal. You mentioned yourself one quite critical: code size.
But the overall issue is trying to define a one-size-fits-all approach for this.
As Zephyr targets a wide range of applications and platforms constraints, just adding unconditionally compiled runtime checks would be a killer for some of them. Similarly not having asserts is also not an option for

[2019-07-05 09:25] wentongwu opened #17368 "Time Slicing cause system sleep short time"
**Describe the bug**
When enabled CONFIG_TIMESLICING and there is only idle thread running, cpu will enter low power state, but time slicing wake up cpu with CONFIG_TIMESLICE_SIZE frequency. and that causes some unnecessary power consuming because when idle thread running, there should be no other thread ready, time slicing should be disabled.

[2019-07-05 10:46] aescolar commented on #17368
CC @andyross

[2019-07-05 11:36] pfalcon commented on #17353
"Standard BSD networks" are part of "standard POSIX".

The catch 22 is that Zephyr has severely broken POSIX subsystem, though some people are fixing it (while others are opposing streamlined progress in that direction).

NET_SOCKETS_POSIX_NAMES to use the standard BSD socket calls.

No, POSIX_API enables all POSIX APIs. If you had to enable POSIX_API and NET_SOCKETS_POSIX_NAMES in some previous Z

[2019-07-05 12:12] SteveOss commented on #17353
Am totally in support of implementing the correct fixes so that Zephyr has a quality POSIX API. Can
always macro my way round my current issues. No offence intended.

[2019-07-05 13:28] pfvogel commented on #17266
@masz-nordic Windows 10 Home 1809

[2019-07-05 13:35] yboutreux commented on #17363
@mrfuchs feel free to tag me inside of a comment of your PR so I can follow the progress of the PR.
If you are not willing to push this fix please notice me and I'll do it, it will be useful to me for adding SPI to a STM32 board :)

[2019-07-05 14:26] gon1332 opened #17372 "sanitycheck does not parse extra_args with spaces correctly"
**Describe the bug**
I have a sample.yaml file that has a test case where more than one prj.conf are needed:
[code]

AFAIC, this fails because it parses the `extra_args` by delimiting on spaces, so it ends up with these args for the cmake:

* `-DCONF_FILE=prj_a.conf`
* `-Dboards/myboard.conf`

After fooling around, and knowing that cmake usually uses `;` as a delimiter I concluded in rewriting the

[2019-07-05 15:53] MaureenHelm commented on #16089
@agansari can you take a look at this?

[2019-07-05 15:54] MaureenHelm commented on #16639
@agansari can you take a look at this?

[2019-07-05 16:42] StefJar opened #17375 "Add VREF, TEMPSENSOR, VBAT internal channels to the stm32 adc driver"
The current stm32 adc driver is missing the internal channels. Would be great to have at least VREF avaible to improve the reference of the measurement.

[2019-07-05 17:06] mrfuchs commented on #17363
@yboutreux Yes, please do so. Thanks!

[2019-07-05 17:18] pabigot opened #17376 "device tree diagnostic failure in enum"
If a devicetree YAML specifies that valid content is constrained to be an enumerated value, and the devicetree property does not match one of the listed values, `extract/default.py` simply prints "ERROR" on the console and proceeds without providing a `PATH_ENUM` define.

It should instead emit a diagnostic and reject the property.

[2019-07-05 18:18] #16670 closed

[2019-07-05 21:49] jfischer-phytec-iot commented on #17007
Work fine for me, tested on Linux.

dd if=/dev/urandom of=test.img bs=512 count=300
dd if=test.img of=/dev/sdd bs=512 count=300
dd of=test1.img if=/dev/sdd bs=512 count=300
diff test1.img test.img

I had to disable MPU. I usually have problems on the frdm_k64f when MPU is enabled. Bisect identified aa826960d89e066bd2219b0576a0c4f3a475cb3f, but I did not have more time to investigate.

[2019-07-05 22:31] #16943 closed

[2019-07-05 22:32] tsaitsai commented on #15246
Hi,
I'm running into the same issue, also on a new Ubuntu 18 installation.

I tried adjusting the two enviornmental variables as @dbkinder mentioned, but still did not fix it.  In my case, my sdk directory is inside my home directory.

`export ZEPHYR_TOOLCHAIN_VARIANT=zephyr`
`export ZEPHYR_SDK_INSTALL_DIR=$HOME/zephyr-sdk-0.10.1`

[2019-07-06 00:31] tedd-an opened #17378 "samples: net: echo-server: no return packet"
**Describe the bug**
Echo server doesn't reply back the payload to the sender.
It looks like a side effect of this patch according to _git bisect_ - 2a63e34

**To Reproduce**
Followed steps in https://docs.zephyrproject.org/latest/guides/networking/qemu_setup.html#basic-setup

Send TCP from echo-client

**Expected behavior**
Echo-server should reply the packet with received payload

**Impact**
Bas

[2019-07-06 08:44] Laczen opened #17379 "Wrong hex file generated for MCUboot"
**Describe the bug**
When building with `CONFIG_BOOTLOADER_MCUBOOT=y` a empty header of image header size is generated in zephyr.hex. This empty header is not required and results in a failure of
imgtool.py to generate a correct hex file (another header will be prepended to the image).

**To Reproduce**
Steps to reproduce the behavior:
1. west build -s zephyr/samples/hello_world/ -b nrf52_pca10040

[2019-07-06 11:58] #17281 closed

[2019-07-06 13:01] pabigot opened #17381 "DTS compatible property processing assumes specific driver exists"
By experimentation I believe the semantics of the `compatible` property in Zephyr devicetree files is:

* The first entry must match a YAML binding
* Binding defines are generated for all entries

At least one driver (ssd16xx) is taking advantage of this to share a driver implementation among multiple displays, by providing a compatible like:

    compatible = "solomon,ssd16xxfb", "gd,gde0213b1";

[2019-07-06 13:06] pabigot commented on #17381
@jfischer-phytec-iot FYI.

It doesn't appear to be easy to fix this in the current DTS scripting, so a solution may not be available until the in-work rewrite is complete.

[2019-07-06 14:43] pabigot commented on #5460
@galak @ulfalizer Is this being actively worked in the scripting overhaul?  Is that overhaul being tracked somewhere?  The lack of robust device tree validation and presence of quirky behavior is very disheartening.

[2019-07-06 21:00] marc-hb commented on #15315
While looking at https://docs.zephyrproject.org/latest/application/index.html?highlight=cmake#build-an-application I noticed the first examples seen by the reader still don't use -B, I think it's because they explicitly request `:cd-into:`. @carlescufi can you explain why?

PS: found this interesting and relevant discussion https://www.mail-archive.com/cmake-developers@cmake.org/msg16705.html

[2019-07-06 22:00] marc-hb commented on #16000
@nashif just added this check in https://github.com/zephyrproject-rtos/ci-tools/commit/700265513296779884

[2019-07-07 08:20] #16000 closed

[2019-07-07 09:10] ioannisg commented on #17379
Can you bisect to determine the commit to blame, in case this was not always wrong?

[2019-07-07 09:30] Laczen commented on #17379
@ioannisg I can't because I don't understand what is causing the zeros to be prepended.

[2019-07-07 20:04] ioannisg commented on #17379
@nvlsianpu could you investigate this please?

[2019-07-08 01:51] LeiW000 commented on #17182
Thanks for fixing it.

[2019-07-08 02:08] KwonTae-young commented on #13819
I also have the same symptom on the `stm32f4_disco` board.
In my case, I changed the source as shown below and it is displayed properly.

[code]

**[before]**
[code]

**[after]**
[code]

[2019-07-08 03:31] wentongwu commented on #17337
Sorry for the late response.
Yes, we still need to respect alignment, but I didn't get the idea about shrink the MPU regions. AFAIK, we can just enable/disable sub-region and all the sub-regions have the same attributes as the whole MPU region.

[2019-07-08 05:00] wentongwu commented on #17337
@ioannisg I created a example for this alignment proposal, hope that can show my idea more. Thanks.

[2019-07-08 05:17] ulfalizer commented on #17381
The rewrite iterates through the compatibles and uses the first binding it finds. Hadn't noticed the old code didn't until now.

Would need to turn `get_binding()` in `extract/globals.py` into a loop in the old code to fix it there.

[2019-07-08 06:17] KwonTae-young commented on #12261
I have an SSD1306 module.(https://www.adafruit.com/product/938)
I used the SSD1306 module and `samples/drivers/i2c_scanner` to simulate similar symptoms.
I modified i2c_scanner slightly.(#15545, https://github.com/zephyrproject-rtos/zephyr/issues/13819#issuecomment-509054099)

Connect `stm32f4_disco` and` SSD1306 module` as shown below.

| SSD1306 module | stm32f4_disco |
| ------| ------------- |

[2019-07-08 06:57] nvlsianpu commented on #17379
Zeros at hex begin are fine - Build behaves like that since mcuboot was ported for zephyr.
0x200 bytes are reserved for image header which is added by the imgtool.py.

Be aware of this change: https://github.com/JuulLabs-OSS/mcuboot/commit/44588eff41a3f90145394cd739ffd3e993087396#diff-3b31e4a6417a485b1075e37618453979 was done in imgtool.py some time ago.

In the mean time will check whether this w

[2019-07-08 07:10] marc-hb commented on #17372
An error message wouldn't hurt.

You can see the complete cmake command in `sanity-out/Makefile`. How does it look?
Can you please look again at `sanity-out/Makefile` after doing this?
[code]
Finally, there is a (too large?) number of places/options for config files implemented by `cmake/kconfig.cmake`, search for `merge_config_files` there. Maybe there's some other way to implement what you want?

[2019-07-08 07:14] marc-hb commented on #17372
BTW I think I've been using this in the past and it worked:
[code]
This doesn't solve your problem, this is just some more background.

[2019-07-08 07:27] #17055 closed

[2019-07-08 07:35] ioannisg commented on #17379
Thanks @nvlsianpu

[2019-07-08 07:50] gon1332 commented on #17372
The first failing message:
[code]

The build.log file contents. Focus on `File not found`:
[code]

The `sanity-out` Makefile looks like this:
[code]

So you can see the inserted `-D` prefix in the wrong place.

Yes, this is working, but it isn't useful in automated tests.

[2019-07-08 08:01] nvlsianpu commented on #17379
[TEXT_SECTION_OFFSET](https://github.com/zephyrproject-rtos/zephyr/blob/master/Kconfig.zephyr#L123) sets the offset - it is not available via menuconfig (I was not aware that it was hidden) but can be modified via adding to `west build` a configuration file option `-- -DCONF_FILE=*.conf`

[2019-07-08 08:15] Laczen commented on #17379
Hi @nvlsianpu, I don't understand why the 0's are added, when a hex file is read by imgtool it will add an extra header (only for hex files). Would it not be simpler/easier for MCUboot config to set:
[code]
(Not exactly this code of course, using $(dt_hex_val, ...))

In that case it will not add anything to the generated hex file, and imgtool can do the required padding. And it is easy to extend t

[2019-07-08 08:33] nvlsianpu commented on #17379
Originally imgtool.py had been able to operate only on *.bin files., and then was extended to support *.hex file as well. TEXT_SECTION_OFFSET might be different than 0x200 for other SoC.
Probably unused part of this area need to be zeroed in order to meet image SHA.

CONFIG_FLASH_LOAD_SIZE=DT_FLASH_IMAGE0_SIZE - 0x200

That`s possible

I would not change this until it is required for feature you a

[2019-07-08 09:01] Laczen commented on #17379
@nvlsianpu, I know this offset might be different for other SOC, at the moment it is quite fixed in zephyr.

I will not use anything from MCUboot to support any feature I am developing. I will create a proper separate Kconfig. When I see things that are strange, or could be improved for mcuboot I am just reporting them. The way I look at mcuboot/zephyr the zephyr images generated should be as stan

[2019-07-08 09:07] nvlsianpu commented on #17379
yes it is ok.

[2019-07-08 09:47] gon1332 commented on #16529
@SebastianBoe Thanks for the input. Currently I don't have time to test it, but will do as soon as possible.

[2019-07-08 10:05] Laczen commented on #17379
If the generated hex file is OK, I will close the issue.

[2019-07-08 10:05] #17379 closed

[2019-07-08 12:02] nvlsianpu commented on #13574
I'm Preparing FCB doc right now.

[2019-07-08 13:02] #16142 closed

[2019-07-08 13:17] agansari commented on #16639
@MaureenHelm i've been debugging this issue, so far this pull #17396 improves the behavior of the driver, but does not completely fix the issue.
@aunsbjerg can you test this pull on your project?
As @pfalcon mentioned, this is a flood test, it will fail at some point, the problem I have is i can't actually catch the fail point (occurs after minutes/hours). Finding the actual fail point would help

[2019-07-08 13:36] agansari commented on #17017
@alexanderwachter i'm sorry but i can't reproduce this issue, i followed the steps you mentioned in the PR description and it responds on both with pings. I've also tested master and pinging works.
Can you please recheck with current master?

It maybe something in my setup that I'm missing. I keep my board pluged into the eth cable.
Do you mean "Connect to host with Ethernet" you plug the cable af

[2019-07-08 15:45] marc-hb commented on #17372
Thanks for the additional info. I took the Python debugger for a quick ride and I think the parsing issue happens here:
[code]

It seems sanitycheck doesn't trust YAML and re-implements its own parsing/"type system". So for instance it tells the YAML parser in `scripts/sanity_chk/sanitycheck-tc-schema.yaml` that `extra_args` has for YAML type `str` whereas the "real" type hidden from YAML is `list

[2019-07-08 16:41] tedd-an commented on #17378
Confirmed that #17393 fixes the issue.

[2019-07-08 17:09] mike-scott opened #17399 "LwM2M: Can't use an alternate mbedtls implementation"
**Describe the bug**
Currently, the LwM2M subsystem selects MBEDTLS automatically when     LWM2M_DTLS_SUPPORT is enabled.  This uses the Zephyr implementation of MBEDTLS and will cause compile errors if another mbedtls implementation is also included.

**To Reproduce**
Steps to reproduce the behavior:
1. Include an alternate version of mbedtls (perhaps needed to enable proprietary crypto), and ena

[2019-07-08 17:32] mike-scott opened #17401 "LwM2M: requires that CONFIG_NET_IPV* be enabled (can't use 100% offloaded IP stack)"
**Describe the bug**
There are several CONFIG checks for NET_IPV* in the LwM2M subsystem which frankly can be removed.  By requiring the use of these CONFIGs we don't allow a completely offloaded IP stack to be used.

**To Reproduce**
Steps to reproduce the behavior:
1. Set CONFIG_NET_IPV4=n and CONFIG_NET_IPV6=n for samples/net/lwm2m_client/prj.conf
2. Alter code in sample to use a static IP addr

[2019-07-08 18:18] andrewboie commented on #17366
Why are there two bugs filed on this?
If #17359 is not an acceptable solution to this, no I will not take this.

[2019-07-08 18:40] #16577 closed

[2019-07-08 19:02] aescolar commented on #17366
@andrewboie : Well, #17359 does not fix the regression in itself, though it reduces the effect for new users.
Would it be a reasonable solution, that would make both qemu_x86 and native_posix users happy, to have the default  gcov tool in sanitycheck be selected based on the selected platform? (if type native => gcov, else, the current default)

[2019-07-08 19:43] mike-scott opened #17408 "LwM2M: engine doesn't support offloaded TLS stack"
**Is your enhancement proposal related to a problem? Please describe.**
Right now, enabling LWM2M_DTLS_SUPPORT forces the use of TLS_CREDENTIALS lib which places credentials into RAM and is not really compatible with offloaded TLS stack where credentials will need to be sent to NCP.

**Describe the solution you'd like**
LwM2M subsys is a bit unique due to it's operation flow of "bootstrap" server

[2019-07-08 19:46] mike-scott commented on #17408
@rlubos @GAnthony @pfalcon There is some discussion to be had here for enhancing the TLS credential subsystem vs. putting in an LwM2M specific solution where the call to tls_credential_add() could be changed to something else.

[2019-07-08 19:46] mike-scott commented on #17408
add @jukkar for discussion

[2019-07-08 20:00] aunsbjerg commented on #16639
@agansari I'm currently on holiday but will be back in the middle of next week, then I'll test your fix

[2019-07-08 20:28] #17338 closed

[2019-07-08 21:56] GregBurns opened #17410 "k_work should have a user_data field"
Typically APIs that have callbacks allow for a user_data parameter (usually `void*`) to be passed to the callback function to provide contextual information.

Proposed solution is to append a _user_data_ field to `struct k_work`

I considered wrapping `struct k_work` inside my own struct appending a user_data field and casting to the wrapper struct type inside the callback but this will not work w

[2019-07-08 22:20] andyross commented on #17410
The intent of the API is indeed that the struct k_work gets embedded in whatever data structure you are managing, and you use CONTAINER_OF() on the argument to recover the pointer from the k_work* argument.

This is... admittedly kinda weird.  But it's robust (even with k_delayed_work structs) and provides all the context a called function is going to need.  The advantage to this scheme is that yo

[2019-07-08 22:32] GregBurns commented on #17410
Of course it works because _k_work_ is the first field in _k_delayed_work_. If this is expected common usage it would be good to show this in the example code.

[2019-07-08 22:32] #17410 closed

[2019-07-09 00:08] GregBurns commented on #17410
I didn’t notice this in the documentation earlier, but it now looks like my issue is a non-issue.

The single argument that is passed to a handler function can be ignored if it is not required. If the handler function requires additional information about the work it is to perform, the work item can be embedded in a larger data structure. The handler function can then use the argument value to com

[2019-07-09 00:21] DeclanTraill opened #17415 "Settings Module - settings_line_val_read() returning -EINVAL instead of 0 for deleted setting entries"
When using the Settings module we found that when we delete a settings entry, upon reset and settings load, it was being reloaded with the previous value prior to the deleted entry.

Upon investigation I found that the reason for this was that the settings_line_val_read() function was returning -EINVAL when it read the deleted (NULL) entry, rather than a settings size of 0, so our code was not loa

[2019-07-09 06:13] aescolar commented on #17415
CC @nvlsianpu

[2019-07-09 07:00] vonhust opened #17419 "arch:arc: remove the extra vairables used in irq and exception handling"
**Description**

In current ARC support code,  some extern vairables,  arc_exc_saved_sp, saved_ro/saved_sp and exc_nest_count, are used to help the handling of interrupts and exceptions, especially fast irq.

It's better to optimize or remove these variables which will make code simpler and more scalable.

Aslo, it will benefit the implementation of ARC SMP support.

[2019-07-09 07:36] nvlsianpu commented on #17415
@DeclanTraill Thanks for the bug registration!

[2019-07-09 08:13] joerchan commented on #15256
Attached sniffer log of type 3
[type3.zip](https://github.com/zephyrproject-rtos/zephyr/files/3371892/type3.zip)

[2019-07-09 08:20] #17365 closed

[2019-07-09 08:20] #17366 closed

[2019-07-09 09:59] #16931 closed

[2019-07-09 10:25] rlubos commented on #17408
I had it in the back of my head, that for offloaded solutions we might need to provide an alternative implementation of this API, which instead of keeping the credentials in RAM, would provision it into the offloaded engine.

But I think it's not only about offloaded solutions. Currently, we store the certificates/keys in RAM, which is not a safe approach. I've heard complaints about it, yet I hav

[2019-07-09 11:54] #8728 closed

[2019-07-09 12:00] tbursztyka commented on #8723
done

[2019-07-09 12:00] #8723 closed

[2019-07-09 12:24] pizi-nordic commented on #17162
One more thing to consider: We should specify clock domains for k_busy_wait() and k_cycle_get32(). and other k_* API. Currently we assume that all are clocked from the same source, but for at least Nordic, this is not true.

[2019-07-09 14:04] #16924 closed

[2019-07-09 14:05] rmstoi opened #17427 "net: IPv4/UDP datagram with zero src addr and TTL causes Zephyr to segfault"
If Zephyr echo server receives IPv4/UDP datagram with source IP address and TTL set to zero it seems to quit with log (89=EDESTADDRREQ?):

[code]
If after that IPv6/TCP packet is sent to Zephyr it causes segmentation fault with backtrace:

[code]

Three pcaps attached:
ipv4-udp-zero-src-ttl.pcap.gz - IPv4/UDP packet with zero source IP address and TTL
ipv6-tcp.pcap.gz - IPv6/TCP packet that causes

[2019-07-09 14:21] nvlsianpu commented on #13574
FCB documentation: https://github.com/zephyrproject-rtos/zephyr/pull/17425

[2019-07-09 15:21] rmstoi commented on #17427
with PR #17428 Zephyr does not crash and udp packet is correctly dropped

[code]

[2019-07-09 16:14] gnuless opened #17430 "arch/x86: drivers/interrupt_controller/system_apic.c improperly classifies IRQs"
This driver assumes that IRQs are either attached to the local APIC or the I/O APIC, but this isn't exactly true -- some IRQs are "virtual" in the sense that they're not attached to a physical wire or device (think: IRQ offloading, MSI) and thus the APICs should not be touched for those IRQs.

Right now, the driver asserts on debug builds, or attempts to manipulate the wrong or nonexistent IRQ RTE

[2019-07-09 18:02] #17427 closed

[2019-07-09 18:07] #17401 closed

[2019-07-09 18:08] #17399 closed

[2019-07-09 18:55] #17378 closed

[2019-07-09 20:12] mike-scott opened #17439 "sanitycheck: nrf52840-pca10056 (dev kit) picks up sample/drivers items which will fail due to missing HW"
**Describe the bug**
When running sanitycheck on nrf52840_pca10056, 2 items will fail unless you have a specific rig setup (these are both whitelisted for nrf52840_pca10056):
- samples/drivers/ht16k33
- samples/drivers/led_lp5562

These samples are checking for HW that isn't installed on a plain nrf52840_pca10056.

**To Reproduce**
Steps to reproduce the behavior:
1. `sanitycheck --platform nrf528

[2019-07-09 20:13] mike-scott commented on #17439
I could add @andyross here as he was looking into failures for real HW, but this is more of a configuration question: Why are we white-listing platforms for tests that require specific HW?

[2019-07-09 21:03] marc-hb commented on #17439
(Emphasis mine)

There are limits to how fine-grained test suite configuration can become, otherwise the combinatorial explosion becomes unmanageable. It's always a trade-off. Especially so in the upstream project used by all products across all companies. Downstream validation projects specific to some products can be more fine-grained and it should be possible and easy for companies to fine tune

[2019-07-09 22:48] gnuless opened #17443 "Kconfig: move arch-specific stack sizes to arch trees?"
There are a few items in the `kernel/Kconfig` like

I don't think we should be special-casing like this in the arch-independent parts of the kernel if we can avoid it.  These should be hidden, and the `arch/*/Kconfig` should set the defaults.

[2019-07-10 01:15] #7462 closed

[2019-07-10 02:14] GAnthony commented on #17408
@vanti, FYI

One way we worked around this, for TI SimpleLink socket offload driver, we added a config option
`CONFIG_TLS_CREDENTIAL_FILENAMES`
which told the offload API to access credentials stored on secure flash by filename: eg:
https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/net/sockets/http_get/src/ca_certificate.h
The credentials, in this case, are stored offline by a TI Un

[2019-07-10 07:25] summer20100514 commented on #15817
@tsvehagen hi, after the patch do you get good power consumption result?

[2019-07-10 08:40] ioannisg commented on #17443
@gnuless this is ok for me, in principle, but we need to think about the overhead of having the same Kconfigs defined in multiple times. A case-by-case approach looks more reasonable to me.

The particular case you posted here can go the the /arch/*/Kconfig, sure, and needs also cleanup (e..g why having FPU should increase the size of the idle stack??)

Finally, strictly speaking, this is an enhan

[2019-07-10 08:40] ioannisg commented on #17443
CC @andrewboie

[2019-07-10 08:46] rmstoi opened #17450 "net: IPv6/UDP datagram with unspecified addr and zero hop limit causes Zephyr to quit"
If Zephyr echo server receives IPv6/UDP datagram with unspecified source IP address (::)  and hop limit set to zero it quits with log (89=EDESTADDRREQ):

[code]

This seems to be similar to issue #17427 but for IPv6.

[ipv6-udp-unspec-srcaddr-hoplimit-zero.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3376565/ipv6-udp-unspec-srcaddr-hoplimit-zero.pcap.gz)

[2019-07-10 08:57] #12160 closed

[2019-07-10 09:05] cybertale commented on #17375
Valuable suggestion, I'm currently busy on the dma driver of stm32 in Zephyr. Feel free to try to add it yourself or wait for me or some others to add this support later.

[2019-07-10 09:21] Laczen commented on #17415
@DEClanTraill, I agree with the patch submitted in #17446, but it might be easier to detect a delete by using the len that is provided in the h_set routine. This len should already be zero, so you can detect it early instead of doing it using the read function. It is a bit strange to do a read of a deleted item. Not all backends will give you this information, nvs for example will not call any h_s

[2019-07-10 09:27] ioannisg commented on #16492
Had a look at this one: it's not really a Medium impact bug; it only affects test code, and in fact, it could be solved by finding a way to make the test work with `size_t received` not being declared as volatile.

Reducing to Low; but this needs a fix @Mierunski @anangl  (maybe reveals driver issues)

[2019-07-10 09:40] Mierunski commented on #16492
I will fix it in following days

[2019-07-10 10:11] nvlsianpu commented on #17415
@DeclanTraill What is the reason behind that you are using base64 encoding? I'm asking because was thinking about depreciate this as seams to be not needed and only over complicates the implementation.

[2019-07-10 11:22] kubiaj commented on #10904
Hi,
as this issue is opened from Oct 2018 is there any progress?

[2019-07-10 11:47] #17450 closed

[2019-07-10 12:06] tsvehagen opened #17454 "Bluetooth: Mesh: Add provisioner support"
## Introduction

Currently, Zephyr support being provisioned over both PB-GATT and PB-ADV but not being a provisioner. There's a lot of things in common for the provisioner and the device and most of the needed code is already implemented.

The protocol can be found in chapter 5 of the Mesh Profile Specification.

https://www.bluetooth.com/specifications/mesh-specifications/

### Problem descripti

[2019-07-10 12:34] aescolar commented on #17454
CC @jhedberg

[2019-07-10 13:16] chtavares592 opened #17460 "sample: gui/lvgl"
**Describe the bug**
Hello everyone, Someone could help me?
I was trying to run the sample/gui/lvgl on nRF52840 with adafruit Adafruit 2.2 inch TFT Display.
I built the image and flashed on the board, but the display just blinks and didn't show the message "hello world" and the count number. The screen stays white and that's it.
I already check if connections are right.

**To Reproduce**
Steps to