[2020-09-21 17:25] Thalley commented on #28461
@emob-nordic @joerchan Adding `CONFIG_BT_EXT_ADV` to `hci_usb` (don't have the cables at home to run over UART) gives the same result.

If there's any buffer size configurations I should try, please let me know which :)

[2020-09-21 19:17] andrewboie commented on #28105
Found another potential cause of these crashes, in how every IPC object wakes up threads.

Example from `k_sem`:
[code]

The wait queue is protected by `sched_spinlock`, and the individual calls to `z_unpend_first_thread()` and `z_ready_thread()` hold it. But if the thread state changes (like a `k_thread_abort()` on another CPU) we could be readying a dead thread.

All the IPC objects have this pr

[2020-09-21 19:40] jukkar commented on #28577
I am not sure I understood what is the actual problem. You have the graybus log but it is not obvious what is the actual issue here, I am not familiar what the graybus is doing. Could you elaborate the issue a bit more?

[2020-09-21 19:49] jfischer-phytec-iot commented on #28333
I can not confirm that. On the reel board all the tests pass (14, 21 needs additional parameter, e.g. -v 64).
I see regressions on frdm_k64f, investigating it.

[2020-09-21 21:17] dcpleung commented on #28549
Git bisect to last good commit e9d15451b19c2b791d72b6f9d450e4e33a70af6c `x86: add new page table generation script`

[2020-09-21 21:41] dcpleung commented on #28552
This does not seem to be the correct log. Could you update?

[2020-09-21 21:49] #27837 closed

[2020-09-21 22:05] #28571 closed

[2020-09-22 01:42] cvinayak commented on #28544
@jcyrax Could you please share a simple sample to reproduce this issue, so that I am able to provide a fix... since you fixed in your fork, you could send a PR too.

Thank you for reporting,

-Vinayak

[2020-09-22 04:36] bgiori commented on #19244
My initial implementation on android is getting ~24kB/s without any connection parameter tuning besides setting the att mtu to 515 :)

[2020-09-22 05:29] ceolin commented on #27490
You can achieve that with `CONFIG_GEN_IRQ_VECTOR_TABLE=n`. When this option is enabled (that is the common case) a lot of other places assume that CONFIG_NUM_IRQS is greater than 0. I may be no understanding the problem but I think that if you have NUM_IRQS = 0 you don't want to a vector table generated

[2020-09-22 07:35] armandciejak commented on #28131
@jukkar With #28568 I cannot reproduce the crash anymore :+1:

[2020-09-22 07:56] #28384 closed

[2020-09-22 07:58] #28385 closed

[2020-09-22 08:04] armandciejak opened #28587 "Data corruption while serving large files via HTTP with TCP2"
**Describe the bug**
While testing TCP2 with the dumb_http_server sample application on the MIMXRT1050_EVK board I regularly receive corrupted file.

**To Reproduce**
Steps to reproduce the behavior:
1. extract [http_download_test.zip](https://github.com/zephyrproject-rtos/zephyr/files/5259853/http_download_test.zip)
1. apply `test_http_download.patch`
1. `west build -b mimxrt1050_evk zephyr/sampl

[2020-09-22 08:08] armandciejak commented on #28216
@jukkar I opened #28587

[2020-09-22 08:29] joerchan commented on #27763
I suppose they would be useful. I usually refer to `subsys/bluetooth/shell/gatt.c` but that is not where users look, so making a dedicated GATT discovery sample makes sense to me.

[2020-09-22 08:34] pfalcon commented on #28587
I'd suggest to develop a separate sample for such test scenarios, with configurable download size, and context generated programmatically as a pseudo-random sequence (e.g. a hash of incrementing value).

Overall comments on this repro case: it mixes too much variables at once: a) it uses mimxrt1050_evk; b) but it even patches it; c) it patches network stack parameters.

And the issue can be a resu

[2020-09-22 08:39] tejlmand commented on #28438
Note, the main point of testing in this case is to ensure that Zephyr modules works.
West and west workspace topology should be tested by west, and not Zephyr.

This is done here:
https://github.com/zephyrproject-rtos/west/tree/master/tests

[2020-09-22 09:15] evgeniy-paltsev commented on #28083
Fixed by #28451

[2020-09-22 09:15] #28083 closed

[2020-09-22 09:22] #28131 closed

[2020-09-22 09:34] jukkar commented on #28587
I could replicate this, it took 500 HTTP requests in my test run to see the issue. The difference of the files seems to be quite small, in your examples from 4 to 24 bytes, in my test it was 24 bytes.

[2020-09-22 09:38] KangJianX opened #28589 "up_squared_adsp:running tests/kernel/workq/work_queue/ failed"
Describe the bug
running test/kernel/workq/work_queue/ error, it showed assertion failed.

To Reproduce
Steps to reproduce the behavior:

sanitycheck -W -p up_squared_adsp  --device-testing -T tests/kernel/workq/work_queue/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/up_squared_adsp/tools/up_squared_adsp_flash.sh, /home/ztest/work/sof/rimage/keys/otc_private_key.pem" --device

[2020-09-22 09:58] KangJianX opened #28590 "up_squared_adsp:running tests/kernel/smp/ failed"
Describe the bug
running tests/kernel/smp/ error, it showed assertion failed.

To Reproduce
Steps to reproduce the behavior:

sanitycheck -W -p up_squared_adsp --device-testing -T tests/kernel/smp/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/up_squared_adsp/tools/up_squared_adsp_flash.sh, /home/ztest/work/sof/rimage/keys/otc_private_key.pem" --device-serial-pty="/home/ztest/w

[2020-09-22 12:51] jukkar commented on #28587
@armandciejak Please try the PR #28595, it has a locking fix that might help here. At least my device is running fine and so far has served 2500 reqs without any issues.

[2020-09-22 13:11] cvinayak opened #28597 "Bluetooth: controller: Redesign the implementation/use of NODE_RX_TYPE_DC_PDU_RELEASE"
**Is your enhancement proposal related to a problem? Please describe.**
To release received on-air PDU that does not translate to a message to ULL, the type is changed and enqueued towards ULL. This implementation is spread across many places. Come up an optimized common code in control path to reduce this scattered handling.

**Describe the solution you'd like**
None considered yet.

**Describe a

[2020-09-22 13:11] cvinayak commented on #28597
@kruithofa @thoh-ot Do consider this during the LLCP work. I am assuming this issue could be not applicable too and be closed with the new LLCP.

[2020-09-22 14:34] hakehuang opened #28602 "TCP2:frdm_k64f/mimxrt1064_evk tests/net/tcp2 regression failure in RC2"
**Describe the bug**
bus fault after test_client_syn_resend

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f ..
3. make
4. See error

**Expected behavior**
test PASS

**Impact**
TCP2 stack issue

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux)
 - Toolchain (e.g Zephyr SDK, ..

[2020-09-22 14:35] hakehuang commented on #28602
@MaureenHelm , @dleach02

[2020-09-22 14:43] hakehuang commented on #28602
mimxrt1020_evk is Ok, but mimxrt1064 fails.

[2020-09-22 14:44] nashif commented on #28406
Draft API for condition variables...

[code]

[2020-09-22 14:50] nashif commented on #27868
Here is the initial draft of the API

[code]

[2020-09-22 15:18] pabigot commented on #27868
tl;dr: can we have a solution that can be waited for by `k_poll`?

While this does match the RTEMS and eCos capabilities it doesn't address a functionality gap in Zephyr that we really need to handle: the ability to wait for notifications from independent components.

For example the existing sensor API is difficult to use because it assumes each sensor has a dedicated thread to animate its functi

[2020-09-22 15:22] jukkar commented on #28587
I have been running the http curl script attached to this issue and seen following symptoms:

**mimxrt1050_evk**
* have seen one data mismatch (after 1200 reqs) even with the #28595 applied
* have seen one crash, fix in #28595

**nucleo_f767zi**
* did not see any data mismatch errors
* have seen one crash, fix in #28595

**sam-e70**
* have not seen any issues even after 6000 http reqs

The issue m

[2020-09-22 15:31] pabigot commented on #27868
Regarding the as-proposed API, the reference implementations seem to behave this way, based on the documentation:
* eCos: wait until (all | any) specified events.  Optionally clear the events before returning.
* RTEMs: wait until (all | any) specified events.  Returned events are cleared unconditionally.

I would like to see Zephyr adopt the eCos capability: allow a thread to wait until multiple e

[2020-09-22 15:35] ABOSTM opened #28603 "tests: kernel: timer: timer_api: Failed on nucleo_l073rz"
**Describe the bug**
tests/kernel/timer/timer_api/ failed for board nucleo_l073rz
2 steps are failed: test_timer_k_define and test_timer_remaining.
Both are linked to timing issue.
Please note that CPU run at 32MHz only.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_l073rz tests/kernel/timer/timer_api/
2. west flash
3.  See error

**Expected behavior**
test pas

[2020-09-22 15:45] bpbradley opened #28604 "mcumgr smp_svr sample not working over shell or serial transport"
**Describe the bug**
Building a simple example for mcumgr is resulting in an NMP timeout on mcumgr cli tool when using shell or serial transport. Bluetooth untested. The shell is not showing up on a terminal either.

**To Reproduce**
Build and flash mcuboot
1. west build -b nrf52840dk_nrf52840 -d build_mcuboot bootloader/mcuboot/boot/zephyr
2. west flash -d build_mcuboot

Build sign and flash smp_

[2020-09-22 15:59] #28548 closed

[2020-09-22 16:01] galak opened #28605 "Build failure - (64-bit platforms) acrn/bcm958402m2_a72/native_posix_64/... on a number of sanitycheck tests w/TCP2"
./scripts/sanitycheck -p acrn

Gets:

[code]

[code]

[2020-09-22 16:03] utzig commented on #28604
Have you tried using `-DOVERLAY_CONFIG='overlay-serial.conf'` instead?

[2020-09-22 16:09] bpbradley commented on #28604
Yes, same result both in the serial output from the terminal as well as the mcumgr cli timeout.

Here is the terminal output when it boots by the way

[code]

[2020-09-22 16:56] jukkar commented on #28602
Just tried this and there is no crash if I enable TCP debugging, seems to be some timing issue.

[2020-09-22 16:58] bpbradley commented on #28604
If it helps, I believe I narrowed down the breaking commit to `6e2ffd28d0fe998095014482cb7067f2c0e5c8ee` which appears to just be configuration changes. So this may be simple enough to fix hopefully.

[2020-09-22 17:03] nvlsianpu commented on #28604
@bpbradley
I can't confirm your results. Sample works on my desk without any problem.
I just noticed that usually first command sent to DUT is ignored, although it have been working like this since i can recall (looks like i have an issue with my development VM configuration.

[2020-09-22 17:03] bpbradley commented on #28604
Okay as just a quick test, I threw in the configurations which were removed from that commit

[code]

And now it works. A shell shows up in the terminal and mcumgr cli works as expected on latest master.

I am not sure exactly which configuration is causing the weird behavior, but this does work.

[2020-09-22 17:05] utzig commented on #28604
Could you paste your final configuration without the commit drop here?

[2020-09-22 17:06] bpbradley commented on #28604
Here is the complete configuration I am using which works.

[code]

I just pasted the old configuration from the last working commit that I found onto the end of the current prj.conf

[2020-09-22 17:08] #28605 closed

[2020-09-22 17:10] pfalcon commented on #28587
@jukkar:

But before that, you wrote:

So, do you mean that before testing frdm_k64f with #28595 applied, as described above, you also tested this board without patch, and didn't see any issues either?

[2020-09-22 17:11] bpbradley commented on #28604
Interesting. I certainly can't explain why you aren't able to reproduce. Currently I just setup a completely new install of zephyr and was able to immediately reproduce the results. Then I just started searching for the breaking commit and eventually found it to be config related.

[2020-09-22 17:17] jukkar commented on #28602
The issue happens in line 1685 in tcp2.c:`net_tcp_connect()`
[code]
Running the unit test with this gives a bit more information:
`cmake -B build -DBOARD=frdm_k64f  . -DCONFIG_LOG_MINIMAL=n`
[code]

[2020-09-22 17:18] d3zd3z commented on #28504
I consider that `flash_area_erased_val()` should be removed from MCUboot, as it was provided due to being missing in Zephyr. Now that it is available in Zephyr, the workaround in MCUboot can be removed.

[2020-09-22 17:21] #28538 closed

[2020-09-22 17:24] andrewboie opened #28609 "add list-based mechanism for pending/waking up threads"
**Is your enhancement proposal related to a problem? Please describe.**
Currently all our infrastructure for pending threads is against priority-ordered wait queues.

For the case where the highest priority thread must be woken up, this is entirely appropriate.

For the case where ALL the threads must be woken up, this is unnecessary, and a simple linked list will do. A specific use-case is the li

[2020-09-22 17:25] bpbradley commented on #28604
Hmm.. I think this may be my fault. Looking at the build log the overlay file isn't being merged when I build. It seems I just needed to manually add the configuration to get it to work, and it worked before that one commit because the overlays weren't needed for shell. During my tests I was building with a bad path for the overlay config and didn't notice.

I think this issue can be closed / dele

[2020-09-22 17:25] #28604 closed

[2020-09-22 17:28] utzig commented on #28604
Somehow I have the feeling that if someone passes an overlay file which cannot be properly used, it should not be a warning but a failure instead...

[2020-09-22 17:31] utzig commented on #28504
https://github.com/JuulLabs-OSS/mcuboot/pull/808

[2020-09-22 17:58] carlescufi commented on #25314
@cvinayak does #23091 fix this issue?

[2020-09-22 19:28] nvlsianpu commented on #28604
@utzig ^^ can yo open issue for discussion - looks like good idea.

[2020-09-22 19:34] nashif commented on #27868
not planned with this initial proposal, the API above is going to implement the "textbook" definition of event flags that is available almost with the same semantics and APIs in every RTOS out there, not only the two mentioned here for reference. Threadx, uC, Freertos all have this with similar and basic APIs as being proposed here with minor implementation changes.

Initial goal here is to introd

[2020-09-22 20:17] andrewboie commented on #27868
Follow-up question: can this supersede `k_poll`?

[2020-09-22 21:00] #27832 closed

[2020-09-22 21:00] #27833 closed

[2020-09-22 21:15] #28341 closed

[2020-09-22 21:22] jcyrax commented on #28544
I'll try to do that, but it will take at least couple of days.

[2020-09-22 21:45] #28151 closed

[2020-09-22 21:47] nandojve commented on #28442
To enable interrupts on both cores I solve this issue with https://github.com/zephyrproject-rtos/zephyr/pull/28527/commits/dee6a1d644756d4a2b73729dd6b853e53b6037e4#diff-4f272a958b6941b2c24bbd7d2923e162R82-R105. Then, to enable the interrupt I used https://github.com/zephyrproject-rtos/zephyr/pull/28527/commits/964b9b761eada65587f57316f97707b0b0948b18#diff-3fe1c69d373328a3166a81fa77bbb1afR277-R282.

[2020-09-22 21:57] nashif commented on #27868
I think it could, though we have a few heavy users of k_poll in the tree so we need to see how easily it would be to convert them to event groups

[2020-09-22 21:58] andrewboie opened #28613 "cannot set GDB watchpoints on QEMU x86 with icount enabled"
**Describe the bug**

If I try to watch a memory address:

[code]

The emulator explodes:

[code]

This only happens with icount enabled. I have seen this on x86 32-bit, and on x86_64 with CONFIG_MP_NUM_CPUS=1 (which enables icount since we only have one CPU)

**To Reproduce**
Steps to reproduce the behavior:
1. Build some test application and set a watch to some symbol or memory address in RAM in

[2020-09-22 22:37] andrewboie commented on #27868
Since this is a new design, I would suggest having this cover all `k_poll` uses as well. Then once we have it in place we can start the deprecation process for `k_poll`. We've been wanting a better way of waiting for multiple events on one thread for some time now and I think this is a good opportunity.

[2020-09-22 23:18] dcpleung commented on #28589
Could you re-test? I could not reproduce it on master and on the commit you provided.

[2020-09-23 00:32] andrewboie opened #28617 "enable CONFIG_TEST for all samples"
**Is your enhancement proposal related to a problem? Please describe.**
We use our samples in CI runs as part of validation. If a sample crashes, there's typically no useful output to tell what happened, and stack overflows are not caught they just corrupt memory.

`CONFIG_TEST` exists, and it does a bunch of useful things:
- Enables stack overflow detection
- Enables minimal logging (so that we g

[2020-09-23 01:25] KangJianX commented on #28589
Yes, I reproduce issue on this commit.

[2020-09-23 02:12] wentongwu commented on #23599
@kkiyota any comment? Thanks

[2020-09-23 05:44] chen-png commented on #28551
yes, I have configured BIOS accroding to README in main.c file.

[2020-09-23 06:14] chen-png commented on #28552
sorry, pasted error log. I have updated the log.

[2020-09-23 06:34] jukkar commented on #28587
No, I did not use frdm_k64f in my earlier tests.

[2020-09-23 07:00] pfalcon commented on #28587
@jukkar:

Thanks fro clarifying. Do you have all the code for the test somewhere in a branch, could you push to github? I'd like to run it on frdm_k64f (with and without #28595), but my concern is reproducibility starting from @armandciejak's instructions in the description of this ticket - my concern that doing things manually, each of us will make various deviations, and in the end we'll be test

[2020-09-23 07:18] jukkar commented on #28587
I used the `http_download_test.zip` file found in the beginning of this PR, and modified the IP addresses to suit my network setup.

[2020-09-23 07:29] thelittlebug opened #28620 "6LowPAN ipsp: ping host -> µc failes, ping µc -> host works. after that: ping host -> µc works"
**Describe the bug**
the µc is pingable only after the µc pinged the host in advance

**To Reproduce**
[code]

but now from the µc shell
[code]

after that the ping from the host to the µc works
[code]

**Expected behavior**
the µc should be pingable

**Impact**
showstopper

**Sidenote**
the other examples like connecting via tcp or udp to port 4242 on the µc also doesn't work

**Environment (plea

[2020-09-23 08:17] cvinayak commented on #25314
@carlescufi Yes.

[2020-09-23 08:41] ABOSTM opened #28621 "tests: kernel: mem_protect: syscalls: wrong FAULTY_ADDRESS for nucleo_l073rz"
**Describe the bug**
tests/kernel/mem_protect/syscalls fails on nucleo_l073rz

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p -b nucleo_l073rz tests/kernel/mem_protect/syscalls
2. west flash
3.  See error

**Expected behavior**
Test passed

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS:Linux, and Windows
 - Toolchain Zeph

[2020-09-23 09:04] ioannisg commented on #28603
the test is failing on multiple nRF52x platforms as well.

[2020-09-23 09:20] ABOSTM opened #28625 "tests: net: tcp2: llegal use of the EPSR"
**Describe the bug**
 tests/net/tcp2/ is failed on nucleo_f429zi, nucleo_f746zg (all boards running this test on STMicroelectronics test bench)

This is a regression introduced by #28302 Misc TCP2 fixes
and more specifically
 SHA1: 80d04616de61f6f2601d7a3ea7ff09bf7506af74 net: tcp2: Honor TCP retry count limit from Kconfig file  (git bisect)

**To Reproduce**
Steps to reproduce the behavior:
1. we

[2020-09-23 09:29] ioannisg opened #28627 "tests: kernel: fatal: exception: stack_sentinel test is failing for nRF platforms"
**Describe the bug**
The stack sentinel tests are failing for nRF platforms
The test is failing because, now, nRF platforms have HW_STACK_PROTECTION enabled by default.

**To Reproduce**
Run the tests/kernel/fatal "stack-sentinel" test suite and see the failure.
**Expected behavior**
The test shall pass.

**Impact**
Low. Kernel test failing for a known reason.

[2020-09-23 09:52] erwango opened #28628 "samples/tfm_integration/tfm_ipc: regression on nucleo_l552_ze"
**Describe the bug**
Following merge of #28573, `samples/tfm_integration/tfm_ipc` is now failing on on nucleo_l552_ze, due to ns image offset mismatch.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nucleo_l552ze_q_ns samples/tfm_integration/tfm_ipc/
2../build/nucleo_l552ze_q_ns/samples/tfm_integration/tfm_ipc/tfm/install/regression.sh
3. ./build/nucleo_l552ze_q_ns/samples/tfm

[2020-09-23 09:54] ABOSTM commented on #28603
Does the proposed fix #28606 solve also issue on nRF52x platforms ?

[2020-09-23 10:07] avigreen1978 commented on #27548
Can you please demonstrate how to do that in CMakeLists.txt `DTC_OVERLAY_FILE` variable?
I have tried those combinations:
`set(DTC_OVERLAY_FILE "file1.overlay;file2.overlay")`
`set(DTC_OVERLAY_FILE "file1.overlay" "file2.overlay")`
`set(DTC_OVERLAY_FILE file1.overlay;file2.overlay)`
`set(DTC_OVERLAY_FILE file1.overlay file2.overlay)`
And none of them work.
Thanks

[2020-09-23 10:14] ioannisg opened #28629 "tests: kernel: common: and common.misra are failing on nrf52840dk"
**Describe the bug**
kernel.common and kernel.common.misra

**To Reproduce**
Build and run the tests on nrf52840dk_nrf52840 and observe failure

**Expected behavior**
Test shall pass.

**Impact**
Kernel test failing.

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: both Linux and Windows
 - Toolchain: both Zephyr SDK, and Gnu ARM Embedded
 -

[2020-09-23 10:16] ioannisg commented on #28629
CC @pabigot

[2020-09-23 10:26] jukkar commented on #28625
Can you try #28624 if it helps for stm32? I just fixed similar issue for frdm_k64f.

[2020-09-23 10:27] nvlsianpu commented on #25010
@nandojve What you men by `new bootloader`, `old bootloader`, `new firmware` and `old firmware`?

[2020-09-23 10:31] jukkar commented on #28587
If it is useful, I modified the `test_http_download.sh` script so I can run multiple runs against different hosts at the same time.
[code]

[2020-09-23 10:39] ioannisg commented on #28629
Failures seem to be intermittent so for now I remove the blocking priority

[2020-09-23 10:39] ioannisg commented on #28603
I'll give it a try @ABOSTM

[2020-09-23 11:15] #27544 closed

[2020-09-23 11:33] emob-nordic commented on #28461
Please try to set `CONFIG_USB_REQUEST_BUFFER_SIZE` to 384 for instance. That fixed the issue for me.

[2020-09-23 11:38] ABOSTM commented on #28625
@jukkar , yes #28624 solves this this on both boards nucleo_f429zi, nucleo_f746zg

[2020-09-23 11:44] jfischer-no opened #28634 "usb: inconsistent behavior of usb_dc_ep_configure implementation in the drivers"
Inconsistent behavior of usb_dc_ep_configure (and usb_dc_ep_enable) implementation in the drivers.

The drivers behave differently when the API function usb_dc_ep_configure is called again for already configured endpoints. For example usb_dc_kinetis and usb_dc_mcux_ehci abort with the message -EALREADY, usb_dc_nrfx reconfigures endpoint.

Note: Behavior is not defined by the USB driver API and API

[2020-09-23 11:51] tejlmand commented on #27548
That is the correct way, and also the way used for `CONF_FILE` and `SHIELD`.
Not sure why that wasn't been used in this case.

So feel free to open a PR.

A couple of additional notes:

This should have worked:
[code]

when filing the PR, then I would suggest you  use:
[code]
in your own sample, to still allow users to also specify overlay files on command line.

[2020-09-23 11:57] kkiyota commented on #23599
@wentongwu Since time has passed, I don't have this setup anymore.  So I need to decline it.

Thank you for your follow up!

[2020-09-23 12:11] pabigot opened #28635 "nrf: qspi: devicetree opcode properties are ignored"
#24378 changed the way a property that was accessed via its enum value was referenced, so the `readoc` property was checked as if it were named `readoc-enum`. The effect is that the devicetree readoc and writeoc properties are being ignored.

[2020-09-23 12:12] Thalley commented on #28461
@emob-nordic That works for me too; wouldn't have guess that the USB buffer would be an issue on a native_posix build :D

[2020-09-23 12:12] jfischer-phytec-iot commented on #28333
The reason for the failures on frdm_k64f is described in #28634, I think it does not affect usb_dc_stm32 driver directly.

[2020-09-23 12:15] nandojve commented on #25010
@nvlsianpu it is about versions
old: v2.3.0-rc1-122
new: v2.4.0-rc1-264

[2020-09-23 12:25] pabigot commented on #28635
@ioannisg @nvlsianpu @MaureenHelm @nashif priority?  I'd like to see this fixed in 2.4.0.  (Though the referenced PR is intended to add support for a new platform it's actually fixing this bug.)

[2020-09-23 12:40] mejtejt opened #28638 "bq274xx sample unable to build"
**Describe the bug**
Unable to build sensor sample **bq274xx** within last origin/master checkout. Obviously it has something to do with CMake build:

`[62/143] Building C object zephyr/drivers/sensor/bq274xx/CMakeFiles/drivers__sensor__bq274xx.dir/bq274xx.c.obj
FAILED: zephyr/drivers/sensor/bq274xx/CMakeFiles/drivers__sensor__bq274xx.dir/bq274xx.c.obj`

DTS files for recommended nrf9160_innblue21

[2020-09-23 12:42] jukkar commented on #28625
Duplicate of #28602

[2020-09-23 12:42] #28625 closed

[2020-09-23 12:43] nashif commented on #27868
so on the surface and without going too much into details of k_poll and if we use event flags as is, the main change would be the fact that events are signaled from the application instead of in the object implementation (semaphore and fifo now) and this actually allow to have events almost on anything and not be limited to what k_poll supports (object events). K_POLL_TYPE_SIGNAL can be directly i

[2020-09-23 13:05] #28628 closed

[2020-09-23 13:13] MaureenHelm commented on #28638
@parthitce will you please have a look?

[2020-09-23 13:16] ioannisg opened #28639 "tests: kernel: sleep: is failing for nRF51"
**Describe the bug**
tests/kernel/sleep is failing for Nordic nRF51 platform.

**To Reproduce**
Build and run tests/kernel/sleep, and see failure.

**Expected behavior**
Test shall pass.

**Impact**
Sleep test failing for nRF51.

**Logs and console output**

**Environment (please complete the following information):**
 - OS: both Linux and Windows
 - Toolchain: both Zephyr SDK and GNU ARM embedded

[2020-09-23 13:16] ioannisg commented on #28639
CC @pabigot

[2020-09-23 13:23] parthitce commented on #28638
@mejtejt It builds fine with `west build -b nrf9160_innblue22 -s ./samples/sensor/bq274xx/`.

`bq27421` is present only on `nrf9160_innblue22`, but not on `nrf9160_innblue21` if I am not wrong. If you are connecting it externally to `nrf9160_innblue21`, include

[code]

in respective i2c node and also add `nrf9160_innblue21` to [platform_allow](https://github.com/zephyrproject-rtos/zephyr/blob/mas

[2020-09-23 13:42] mejtejt commented on #28638
That's right! Though, at README.rst says under **Requirements** : "- nrf9160_innblue21 board with BQ274XX sensor `BQ274XX Sensor`_"
Should be changed to nrf9160_innblue22 for clumsy reader, or explicitly stated externally connected.
Thak you both for your time

[2020-09-23 13:42] #28638 closed

[2020-09-23 13:45] MaureenHelm commented on #28638
Thanks for the quick response!

[2020-09-23 14:28] dleach02 commented on #28295
Do we want to keep this as a bug then?

[2020-09-23 14:37] nvlsianpu commented on #28504
I have been thinking about making a module in mcuboot (around bootutil_misc.c file) for rest of redefined functions, but this would be over-kill and would be non trivial to meet all of code dependency. Also will add zephyr from mcuboot dependency for application build (and dependency while building mcuboot would be circular).

[2020-09-23 15:37] jukkar commented on #28620
There was some changes related to multicast groups, perhaps this is related to that. Note that as the log says, the application needs to join the multicast group in order to receive the multicast packets. Is this a sample app found in zephyr?
Could you increase the CONFIG_LOG_STRDUP_BUF_COUNT so that we see what the IP address is in the log, now it just shows `<log_strdup>`

[2020-09-23 16:12] thelittlebug commented on #28620
yes, i use the official sample located `sample/bluetooth/ipsp`. so my idea was: it should work out of the box :)

i changed the config you mentioned. now there are no `log_strdup` errors anymore but for me it doesn't get more meaningful as before.

[code]

[2020-09-23 16:21] pabigot commented on #27868
Can you provide more detail on how this will work?  `k_poll_signal()` is a foundational capability for asynchronous operations, providing the operation's result via `sig.result`, and I don't see how you can get an integral operation result out of an event group.

[2020-09-23 16:26] andrewboie commented on #26500
This is a known issue with any QEMU where icount isn't enabled. This does not affect real hardware, and we have alternative emulators like nsim free which we can use for validation instead. this will sort itself out once the new SDK lands.

@MaureenHelm I recommend we downgrade this to low since it isn't a HW problem, just QEMU.

[2020-09-23 17:15] cfriedt commented on #28577
I narrowed it down to something completely unrelated to TCP.

Before I rebased, socket file descriptors began at 0, which was arguably quite bad, as 0 := stdin, 1 := stdout, and 2 := stderr are reserved.

I just noticed now that after rebasing, the sockets began at fd 3. Previously, my application would open up to socket fd 5. Now it attempts to open up to socket fd 8.

I was able to fix the issue

[2020-09-23 17:15] #28577 closed

[2020-09-23 17:19] galak opened #28650 "GCC-10.2 link issue w/g++ on aarch64"
When trying to build `tests/application_development/libcxx` on aarch64 w/gcc-10.2 we get:

[code]

This seems to be because of dependency between libgcc and libc.

[2020-09-23 17:22] galak commented on #28650
@tejlmand would appreciate your help on this one.

On the link we have:
` -lstdc++ -lm -lc -lgcc`

If I tweak it by hand to be either:

` -lstdc++ -lm -Wl,--start-group -lc -lgcc -Wl,--end-group `

or

` -lstdc++ -lm -Wl,--start-group -lc -lgcc -lc`

it will work correctly.

[2020-09-23 17:27] ceolin commented on #27490
@henrikbrixandersen

[2020-09-23 17:30] nashif commented on #27868
I am talking about this use case (from the docs), have not used k_poll APIs extensively, so I might be missing something.

[code]

which can be done with flags using:

[code]

[2020-09-23 17:58] pabigot commented on #27868
Yes, you can get a binary success/failure.  But you can't get the detailed "failed with -EIO" or "failed with -ENOTSUP"  or "succeeded with 3 frames transferred" that are available with the current API.

See [spi_context_complete](https://github.com/zephyrproject-rtos/zephyr/blob/8d7fee4e4a265adb9efa6ddf189314c5150df721/drivers/spi/spi_context.h#L121) or any of the components that use [asynchronou

[2020-09-23 18:02] #28602 closed

[2020-09-23 18:08] #28218 closed

[2020-09-23 18:11] #28621 closed

[2020-09-23 18:17] #28565 closed

[2020-09-23 18:21] #22301 closed

[2020-09-23 18:27] #28635 closed

[2020-09-23 19:31] keith-packard commented on #25891
The picolibc PR (#26545) provides support for TLS using the -ftls=local-exec model. That depends on static linking all objects defining TLS variables as the total size of the TLS space must be known at link time. Picolibc uses TLS for most global variables, including errno and signgam. It does not (currently) place variables controlling the heap in TLS as it is expected that the heap will be share

[2020-09-23 20:17] MarcianoPreciado opened #28653 "Bluetooth: Mesh: TX Power Dynamic Control"
**Describe the bug**
The dynamic TX power control API enabled by `CONFIG_BT_CTLR_TX_PWR_DYNAMIC_CONTROL` is currently incompatible with Mesh.

**To Reproduce**
1. Copy the sample project `samples/bluetooth/mesh`
2. Add to prj.conf:
[code]
3. Add these functions to main.c:
[code]
4. Add the functions into `main()`
[code]
**Expected behavior**
One would expect that these settings remain for the dura

[2020-09-23 20:26] MarcianoPreciado commented on #28653
**The Root Cause**
Because of the way mesh works, the function `ll_adv_enable` from `subsys/bluetooth/controller/ll_sw/ull_adv.c` gets called repeadedly and rapidly.
This function has the following lines (which appear twice! Ln 450, Ln 604) , which reset the TX gain back to the default.
[code]

[2020-09-23 20:29] MarcianoPreciado commented on #28653
`subsys/bluetooth/controller/ll_sw/ull_scan.c`, `subsys/bluetooth/controller/ll_sw/ull_master.c`, and `subsys/bluetooth/controller/ll_sw/ull_slave.c` all have the same snippets in their equivalent initializer functions. I'm guessing only `ull_adv.c` and `ull_scan.c` effect the mesh functionality however.

[2020-09-23 20:31] MarcianoPreciado commented on #28653
Looping in @rstoica and @carlescufi since they are the author and committer (respectively) of the dynamic tx power feature. Perhaps you guys could provide some insight?

[2020-09-23 20:49] tobbad opened #28654 "[lwm2m stm32F429] No registration with server possible"
**Description**
Compile the lwm2m_client example for the nucleo_f429zi board seem to work apart from some '<log_strdup alloc failed>' errors, which can be removed by a higher CONFIG_LOG_STRDUP_BUF_COUNT value. Later I get some entries as
`
[00:00:36.280,000] <err> eth_stm32_hal: Failed to obtain RX buffer
[00:00:44.276,000] <err> net_pkt: Data buffer (1487) allocation failed.
[00:00:44.276,000] <e

[2020-09-23 21:00] jukkar commented on #28620
@Vudentz, was there some issue with ipsp connectivity requiring some extra activity from the user?

[2020-09-23 21:04] andyross commented on #24358
Consensus in #28611 is that this should be pushed to 2.5

[2020-09-23 21:23] MarcianoPreciado commented on #28653
Perhaps there could be a static variable
[code]
Make it so that it can only be set if `CONFIG_BT_CTLR_TX_PWR_DYNAMIC_CONTROL` is defined.

Then
[code]
can become
[code]

[2020-09-23 21:30] MaureenHelm commented on #24358
Nevertheless, thank you @andyross for putting together this PR so quickly.

[2020-09-23 21:42] nashif commented on #8393
clearing assignee as this feature is being deprecated, we can talk about this next and discuss if someone will step up and own this and if those issues will be assigned to them. The bug is open, but the code is still in the tree, even with deprecation. Deprecated code does not mean we stop fixing bugs.

[2020-09-23 21:53] pabigot commented on #8393
@ioannisg re our discussion earlier today.

[2020-09-23 22:18] jenmwms commented on #20686
@andrewboie Did you prefer to keep this open for discussion?

I suggest to close this, `tests/kernel/fpu_sharing/float_disable` is successful for qemu_x86 with and without coverage option enabled. Note the directory name changed slightly /fp_sharing/ -> /fpu_sharing/.
[code]

[2020-09-23 22:22] mbolivar-nordic commented on #28566
I'm not the biggest fan of this code, to be honest. It doesn't work well with out of tree drivers. They will need to edit the zephyr source code to make the shell aware of their device, for example, which is not so nice.

I kind of wonder if solution number 1 is acceptable to @galak .

[2020-09-23 22:34] d3zd3z commented on #28504
@agansari Fixing this issue will allow us to have an implementation of this for lpc55s69 that uses the controller's query for erase. This should improve reliability of MCUboot on these devices.

[2020-09-23 23:05] andrewboie commented on #20686
@jenmwms I think this is still an issue, we are just getting lucky. It all depends on the alignment of the dummy thread object that gets instantiated on the thread stack.

We need to somehow guarantee that the dummy thread on the call stack is 16-byte aligned.

It's not clear to me whether https://github.com/zephyrproject-rtos/zephyr/pull/19968 made this worse. But I haven't studied if the compile

[2020-09-24 00:45] zephyrbot opened #28659 "[Coverity CID :214346] Out-of-bounds access in subsys/net/ip/tcp2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/07756e53324ddb06297358636b73988f073a4a38/subsys/net/ip/tcp2.c#L1524

Category: Memory - corruptions
Function: `net_tcp_queue_data`
Component: Networking
CID: [214346](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214346)

Details:

[code]

Please fix or provide comments in coverity using

[2020-09-24 00:45] zephyrbot opened #28660 "[Coverity CID :214345] Unsigned compared against 0 in tests/kernel/fpu_sharing/generic/src/load_store.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/07756e53324ddb06297358636b73988f073a4a38/tests/kernel/fpu_sharing/generic/src/load_store.c#L246

Category: Control flow issues
Function: `load_store_high`
Component: Tests
CID: [214345](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214345)

Details:

[code]

Please fix or provide comment

[2020-09-24 00:45] zephyrbot opened #28661 "[Coverity CID :214348] Memset buffer size of 0 in tests/kernel/fpu_sharing/generic/src/load_store.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/07756e53324ddb06297358636b73988f073a4a38/tests/kernel/fpu_sharing/generic/src/load_store.c#L113

Category: Memory - illegal accesses
Function: `load_store_low`
Component: Tests
CID: [214348](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214348)

Details:

[code]

Please fix or provide co

[2020-09-24 00:48] nashif commented on #28629
but this still needs a priority... :)

[2020-09-24 01:57] cvinayak commented on #28653
@MarcianoPreciado Do you have this: https://github.com/zephyrproject-rtos/zephyr/commit/1723e479ab6c1dfb6a18db0d908e31903fb34ba0

[2020-09-24 03:42] wentongwu commented on #23599
@kkiyota ok, I will close this issue, please reopen it if any new finding, Thanks.

[2020-09-24 03:42] #23599 closed

[2020-09-24 07:11] erwango commented on #28333
Still in the characterization process of this issue.

Test 24 is systematically failed and sometime get testusb crashing.

For the other reported faulty tests (1, 3, 4, 17, 21), I've run loop testing on nucleo_f476zg (closest I have from nucleo_f767zi: same USB hardware block, same clock config):
[code]
All tests passed (20 x 100000 iterations) except 2 issues on test 3: `test 3 --> 110 (Connectio

[2020-09-24 07:20] erwango commented on #28566
Would have to be something like "zephyr,adc-shell", then.
Even if working, this is yet another way to bind tests and board after "alias", "chosen" and "alternate label".
So we should be happy having lot of solutions ahead of us, but my concern is that this creates confusion in the end.
We absolutely need to give recommendations and clarify the uses.

[2020-09-24 07:49] chen-png commented on #27999
@ashaannajoy   could you take a look of this #17902, the QSPI enhancement discussion

[2020-09-24 07:51] jukkar commented on #28659
This is almost false positive but still worth fixing. Lowering the priority because currently this is a non-issue.

[2020-09-24 08:33] tobbad commented on #28654
Riddle solved: Used SPI (arduinon_spi) was mapped to spi1 where there is a collision in the pinux.c of the board:
`#if DT_NODE_HAS_STATUS(DT_NODELABEL(mac), okay) && CONFIG_NET_L2_ETHERNET
	{STM32_PIN_PC1, STM32F4_PINMUX_FUNC_PC1_ETH},
	{STM32_PIN_PC4, STM32F4_PINMUX_FUNC_PC4_ETH},
	{STM32_PIN_PC5, STM32F4_PINMUX_FUNC_PC5_ETH},

	{STM32_PIN_PA1, STM32F4_PINMUX_FUNC_PA1_ETH},
	{STM32_PIN_PA2, STM32

[2020-09-24 08:33] #28654 closed

[2020-09-24 08:52] ioannisg opened #28664 "Decide whether to enable HW_STACK_PROTECTION by default"
## Introduction

Decide whether to enable HW STACK PROTECTION by default in builds.

### Problem description

It has been identified that the root-cause in many of issues reported by users, while trying out Zephyr applications, is thread stack corruption. Therefore, turning HW_STACK_PROTECTION on by default in Board definition is a valuable feature during application development.

### Proposed cha

[2020-09-24 08:52] ioannisg commented on #28664
FYI @andrewboie @carlescufi @ruuddw

[2020-09-24 08:54] jfischer-phytec-iot commented on #28333
@erwango Please note that the test or the host may have its own issues. I have a setup that I regularly check with two boards, reel board and frdm_k64f (frdm_k64f with a modified driver that I do not want to upstream yet).

If a test fails one should check what happens, for example, nucleo_f413zh with latest master:

_Mostly I have Wireshark running, if the targen does not have an exclusive host c

[2020-09-24 08:59] ABOSTM opened #28665 "boards b_l4s5i_iot01a: invertion of user LEDS polarity"
**Describe the bug**
According to schematics of board b_l4s5i_iot01a: MB1297
both user leds LD1 and LD2 are active high.

But in device tree they are set as active LOW.
[code]
So when led is set to 1 (gpio_pin_set(dev, PIN, 1);)  led is OFF,
where as is should be ON.

[2020-09-24 09:15] Zzzwierzak opened #28670 "drivers: flash: bluetooth: stm32wb: attempt to erase internal flash before enabling Bluetooth cause fatal error"
**Describe the bug**
When CONFIG_BT option is set, attempt to erase internal flash before enabling Bluetooth will cause fatal error.
Shci send driver API is initialized in open Bluetooth step, if flash erase command is executed before this step API is not yet set which cause error.

**To Reproduce**
Steps to reproduce the behavior:
1. Open dir samples/drivers/flash_shell
2. Add CONFIG_BT=y, CONFIG

[2020-09-24 09:37] tobbad commented on #28654
Anyone later confronted with this issue: Remove solder bridge SB121 and add solder bridge SB122 will connect PB5 to Arduino connector D11. Further change in `pinmux.c` the SPI1 MOSI from
`{STM32_PIN_PA7, STM32F4_PINMUX_FUNC_PA7_SPI1_MOSI},`
to
`{STM32_PIN_PB5, STM32F4_PINMUX_FUNC_PB5_SPI1_MOSI},`
will do the job.

[2020-09-24 09:37] mahavirj commented on #3723
Update:

Feature branch that has functional networking (WiFi) on ESP32 can be found [here](https://github.com/mahavirj/zephyr/tree/feature/esp32_networking_support_on_zephyr_v2.4.0-rc1).

Technical details:

 - This is still based on 2nd stage bootloader from ESP-IDF which does required flash cache setup for XIP enabled application
 - This feature branch has appropriate `west` manifest file to pic

[2020-09-24 09:40] erwango commented on #28333
I don't claim the drive is bug free

ok

This is already the case

[2020-09-24 10:36] #28295 closed

[2020-09-24 10:39] mbolivar-nordic commented on #28566
We've discussed alias is currently just for samples, and . Chosen seems wrong; we're not choosing anything, we want a list of available choices. Node labels won't work for the reason @jakub-uC pointed out in the description: different SoC vendors pick different ones and there is no consistency.

I would have suggested simply "adc-controller" with no "zephyr," prefix. Is there some reason this woul

[2020-09-24 12:36] ruuddw commented on #28664
I'd be ok, stack overflows are indeed a major but simple to catch source of application problems. Or, make it default enabled when DEBUG is enabled?
Another thought: we already have the 'hardenconfig' option to suggest recommended features for security which includes stack protection. Make a 'debugconfig' that enables recommended settings for debugging?

[2020-09-24 13:57] tejlmand commented on #16031
New abstraction is in place.

[2020-09-24 13:57] #16031 closed

[2020-09-24 14:51] #28443 closed

[2020-09-24 14:52] #28639 closed

[2020-09-24 14:54] #28549 closed

[2020-09-24 15:05] #28471 closed

[2020-09-24 15:14] galak commented on #28613
Can you try w/qemu 5.1:

builds.zephyrproject.org/zephyrproject-rtos/sdk-ng/272/zephyr-sdk-0.11.4-pr-272-x86_64-linux-setup.run

If still an issue, this should be filed w/upstream qemu.

[2020-09-24 15:46] #27821 closed

[2020-09-24 15:50] KubaFYI commented on #21234
@sslupsky are you planning to make a PR with the patch in [this comment of yours](https://github.com/zephyrproject-rtos/zephyr/issues/21234#issuecomment-564040983)?

[2020-09-24 17:20] MarcianoPreciado commented on #28653
@cvinayak I have been running on v2.3.0 with the nRF Connect SDK which is slightly behind. The above mentioned commit solves my problem. Thank you very much!

[2020-09-24 17:20] #28653 closed

[2020-09-24 18:09] #27571 closed

[2020-09-24 18:13] #28665 closed

[2020-09-24 18:20] #28552 closed

[2020-09-24 18:26] #28603 closed

[2020-09-24 18:29] #28659 closed

[2020-09-24 20:02] #28465 closed

[2020-09-24 20:13] andrewboie commented on #23062
WIP branch still debugging stuff, https://github.com/andrewboie/zephyr/tree/cmsis-thread-slabs

[2020-09-24 20:42] #28627 closed

[2020-09-24 20:58] KevinThompson-SR commented on #26214
Curious if issues have been reported regarding the gen_relocate_app.py?
![Screenshot 2020-09-24 135643](https://user-images.githubusercontent.com/68883987/94199620-f3006080-fe6d-11ea-88b4-1980e280a45f.png)

[2020-09-24 21:27] sandeep-airatechnology commented on #27997
@jakub-uC I apologize for the delay.
PFA the hex and config file. I compiled the /zephyr/tests/bluetooth/shell/ example.
[config copy.txt](https://github.com/zephyrproject-rtos/zephyr/files/5279283/config.copy.txt)

[zephyr.hex.zip](https://github.com/zephyrproject-rtos/zephyr/files/5279286/zephyr.hex.zip)

[2020-09-24 23:37] andrewboie commented on #22185
Some reading material for x86 here https://wiki.osdev.org/Thread_Local_Storage

There's some slight differences between 32-bit and 64-bit.

32-bit we create all our GDT entries at build time with the gen_gdt.py script. We can make TLS depend on CONFIG_GDT_DYNAMIC. It ends up in the data section and we should be able to update it at runtime on context switch. There is no SMP support for 32-bit so n

[2020-09-24 23:59] lpereira commented on #3723
Great job, Mahavir!

On Thu, Sep 24, 2020, 02:38 Mahavir Jain <notifications@github.com> wrote:

[2020-09-25 02:16] JordanYates opened #28685 "Bluetooth: Characteristic unsubscribe under indication load results in ATT timeout"
**Describe the bug**

Conditions:
* Zephyr device acting as a GATT server
* Many indications are being generated in a loop in response to an event (accelerometer)
* GATT client attempts to unsubscribe from the indication characteristic while indications are queued

This sequence reliably results in an ATT timeout, normally due to a failure to allocate a buffer for the "write response" to the CCC w

[2020-09-25 03:05] #27201 closed

[2020-09-25 03:29] wentongwu commented on #25918
@galak ping.

[2020-09-25 04:37] keith-packard commented on #22185
We can just re-use the DS descriptor for the TLS segment register and then adjust the base address using the MSR (for 32-bit mode) or maybe the new wrfsbase instruction in 64-bit mode.  We could create a separate GDT entry in 32-bit mode to set the length field to match the TLS size if desired; that would catch stray references through gs. There's no need to mess with the GDT itself at runtime; th

[2020-09-25 04:59] JordanYates opened #28688 "Bluetooth: provide `struct bt_gatt_indicate_params` to `bt_gatt_indicate_func_t`"
**Is your enhancement proposal related to a problem? Please describe.**

As noted by the function documentation, `bt_gatt_indicate` is an asynchronous function, and therefore the `struct bt_gatt_indicate_params` provided to it must valid while it is active. The required lifetime of the `struct bt_gatt_indicate_params` is presumably until the member function `bt_gatt_indicate_func_t` is called (thi

[2020-09-25 07:15] Zhaoningx commented on #27574
Hi @carlescufi , I have a try to disable all device drivers that the board mec15xxevb_assy6853 supported, and configure as below:
CONFIG_GPIO=n
CONFIG_I2C=n
CONFIG_ADC=n
CONFIG_USB=n
CONFIG_COUNTER=n
CONFIG_ESPI=n
CONFIG_PWM=n
CONFIG_WATCHDOG=n
CONFIG_PS2=n
CONFIG_PECI=n
CONFIG_KSCAN=n

but the bug is still met, so I think we should re-open this bug to continue to work on it. :)

[2020-09-25 07:29] jakub-uC commented on #27997
@sandeep-airatechnology : I've tested your hex file with the combination: `bt test_tx 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20` and it is working fine on my machine. Everything was correctly pointed out. I was using the board in version 0.10.0 so quite an old one.

I will now try to arrange the same board version as you have and I will repeat the test.

@henrikbrixandersen  Plea

[2020-09-25 08:10] ABOSTM opened #28691 "tests: arch: arm: arm_thread_swap: fails with bus fault"
**Describe the bug**
tests/arch/arm/arm_thread_swap/ fails with bus fault on nucleo_l552ze_q

**To Reproduce**
Steps to reproduce the behavior:
1.  sanitycheck -N --device-testing --hardware-map ../map.yaml -c -p nucleo_l552ze_q -T tests/arch/arm/arm_thread_swap/
2. See error

**Expected behavior**
test passed

**Logs and console output**
*** Booting Zephyr OS build v2.4.0-rc2-80-g1c3659519f69  **

[2020-09-25 08:16] de-nordic opened #28693 "FCB support for non-0xFF flash erase values"
**Is your enhancement proposal related to a problem? Please describe.**
Currently FCB is able to work with flash devices that erase to 0xFF values.
Since it's implementation new devices have appeared that use non-0xFF erase values (0x00), which is not supported
by the FCB as it relies on 0xFF as an erased/empty value in some cases.

**Describe the solution you'd like**
Make FCB flash erase value i

[2020-09-25 08:20] rhardik opened #28694 "k_wakeup follwed by k_thread_resume call causes system freeze"
**Describe the bug**
I've added a while loop with 8 seconds sleep in a thread. Now by mistake I called both  k_wakeup and  k_thread_resume which is causing system to get freeze without any crash logs.

**To Reproduce**
Steps to reproduce the behaviour:
1. $ git clone -b thread-handling-issue https://github.com/rhardik/reproduce-zephyr-issues.git
2.$ cd _reproduce-zephyr-issues_
3. copy _issue-1_ f

[2020-09-25 08:25] hakonfam commented on #26214
Not sure I understand what you mean, but I have not reported any issues regarding that at least.

[2020-09-25 08:59] agansari commented on #28504
@d3zd3z this means refactoring `is_area_readable()` function, i.e. moving part of the code to `flash_area_read_is_empty()`.

[2020-09-25 10:20] de-nordic commented on #28661
This is false positive, in this case `SIZEOF_FP_REGISTER_SET` is 0 but the definition may take different positive values, indirectly depending on architecture definitions of `SIZEOF_FP_VOLATILE_REGISTER_SET` and `SIZEOF_FP_NON_VOLATILE_REGISTER_SET`.
Marking as 'False positive' to ignore.

[2020-09-25 10:20] #28661 closed

[2020-09-25 10:24] de-nordic commented on #28660
This is false positive, in this case `SIZEOF_FP_REGISTER_SET` is 0 but the definition may take different positive values, indirectly depending on architecture definitions of `SIZEOF_FP_VOLATILE_REGISTER_SET` and `SIZEOF_FP_NON_VOLATILE_REGISTER_SET`.
Marking as 'False positive' to ignore.

[2020-09-25 10:24] #28660 closed

[2020-09-25 10:39] nvlsianpu commented on #28693
Also newly proposed [flash_area_ersed_val()](//github.com/zephyrproject-rtos/mcuboot/pull/35) might be usefull.

[2020-09-25 10:51] utzig commented on #28693
Also we should consider importing `fcb2` from Mynewt, it was huge improvement over `fcb`.

[2020-09-25 10:53] de-nordic commented on #28693
Does the fcb2 support the original fcb or this is parallel?

[2020-09-25 11:13] utzig commented on #28693
`fcb2` originated from refactoring `fcb` but it ended up with a slightly different metadata formats AFAIR, so not compatible, you have to use one or the other from the beginning.

[2020-09-25 11:16] de-nordic commented on #28693
OK then, we will have to add it as an alternative. Do you want me to create enhancement request for importing `fcb2` or do you want to post the request  yourself?

[2020-09-25 11:19] utzig commented on #28693
Please go ahead and do it! :-)

[2020-09-25 11:26] nvlsianpu commented on #28693
^^ Please count benefits of having fcb2 in compassion to FCB and NVS.

[2020-09-25 11:36] de-nordic opened #28695 "storage: FCB2 support"
**Is your feature request related to a problem? Please describe.**
The Mynewt has added new generation of FCB in 1.6.0 (https://cwiki.apache.org/confluence/display/MYNEWT/RN-1.6.0#RN1.6.0-FCB2-secondgenerationFCB) that has several improvements over FCB, quoting from release notes:
_**"Redesigned FCB with smaller RAM footprint, more failure resistant and better abstraction.'**_

**Describe the solu

[2020-09-25 12:54] utzig commented on #21061
Similar ideas are used by ChibiOS/RT but with simpler (imo) Doxygen ALIASES:

https://github.com/ChibiOS/ChibiOS/blob/master/doc/rt/Doxyfile_chm#L241

Looking here you can see the different classes being used: https://github.com/ChibiOS/ChibiOS/blob/master/os/rt/src/chmtx.c

there's `@api`, `@init`, `@sclass`, etc. And it results in the following output:

http://chibiforge.org/doc/20.3/full_rm/gro

[2020-09-25 13:03] nashif commented on #21061
yes and I like those, however, how do you get those to show in sphinx?

[2020-09-25 13:13] utzig commented on #21061
ChibiOS/RT does not use Sphinx at all. I see your point and I will check out how to do it properly. The main reason for my suggestion was that I find it hard to enforce the correctness of the parameters passed to `allowed-from`, while with simple macros with no parameters we can check for typos and such things at build time.

[2020-09-25 14:01] Laczen commented on #28695
@de-nordic, nvs was created to avoid one major failure possibility in fcb: when writing the length of a new entry goes wrong it is difficult to recover from this. I don't know if this was fixed in fcb2: it would require at startup to go to the end of the fs, check if it is ok, if not copy what is good to the next sector, erase the old sector, copy back what is good to the old sector and erase the

[2020-09-25 14:14] chrta commented on #28556
The same test fails for me with the current master (6a15118937a817968701b386b3f3c4b47879bde3) on the efm32pg_stk3402a board (ubuntu 18.04, zephyr sdk 0.11.1):

[code]
The test `tests/kernel/sched/schedule_api/kernel.scheduler.multiq` fails in the same way.

[2020-09-25 14:14] sigurdnev opened #28699 "Bluetooth: controller: Speed up disconnect process when slave latency is used"
When a BLE peripheral device calls bt_conn_disconnect() the time it takes until the disconnect packet(LL_TERMINATE_IND) is sent depends on if slave latency is used or not. If slave latency is used, the time until the packet is sent can take [connection-interval(ms) x #slave latency] extra time. It can therefore take several seconds before the disconnect packet is sent.

For devices that are being

[2020-09-25 14:18] de-nordic commented on #28695
@Laczen thanks for info. This needs to be verified within FCB2 code.

[2020-09-25 14:42] KevinThompson-SR commented on #26214
zephyr\samples\application_development\code_relocation will not build in release 2.3, at least when targeting nrf5340.  See gen_relocate_app.py output above.  I think my build environment is, OK, any pointers to address this issue would be greatly appreciated.

[2020-09-25 14:53] cvinayak commented on #28699
This is a bug, as any non empty PDU enqueued shall break slave latency. Will analyse and provide a fix in the coming days.

[2020-09-25 14:58] Barmaley13 commented on #27841
I'm pretty new to Zephyr but I am seeing similar error.
[code]

I was trying to run `fat_fs` sample on `nucleo_f411re` board.
Added following files as board overlays.

nucleo_f411.conf
[code]
and nucleo_f411re.overlay
[code]
I just wired wrapped SD card breakout board to spi1 and using D10 as a chip select. It seems like SPI bus does not work properly. I was not able to trigger it at all on `v2.4.

[2020-09-25 15:37] caco3 opened #28701 "ASSERTION FAIL [!radio_is_ready()] on zephyr-2.4.0-rc3"
**Describe the bug**
I am building a high througput application where we send notifications every few milliseconds.
It is working as expected, how ever sporadically we get
[code]

I am aware of https://github.com/zephyrproject-rtos/zephyr/issues/21601 and added following lines to `proj.conf`:
[code]
but without any visible improvement.

We also see same behaviour with `zephyr-2.4.0-rc2` and also w

[2020-09-25 17:01] gregshue commented on #28438
@tejlmand The Zephyr build system also needs to be verified to work in different topologies, notably when zephyr is not the manifest repository. This is true whether the manifest repository has any prj.conf or is configured from an alternate manifest file. Since Zephyr explicitly supports the Forest topology separate from the Star topology (w/o Zephyr as manifest), an example of a manifest-only re

[2020-09-25 17:30] mbolivar-nordic commented on #27881
Ping

[2020-09-25 18:38] dcpleung commented on #28590
This will be fixed by #26483

[2020-09-25 19:37] carlescufi commented on #28701
Are you disabling interrupts for a long time? This would be you calling `irq_lock()` and then not unlocking them with an `irq_unlock()` for a long period of time.

[2020-09-25 19:38] carlescufi commented on #28701
Also can you please provide a little more information, such as the board you are building for and the full configuration you are using? (please attach your `build/zephyr/.config` file).

[2020-09-25 20:23] andyross commented on #28694
We don't generally do defensive state checking in kernel APIs.  Indeed, resuming an unsuspended thread or waking up a non-sleeping one is a fatal error, and exactly the behavior you get is essentially undefined.

It's no different than trying to do things like double-remove a list item, etc...

I suppose someone could add some assertions in there to check state.

[2020-09-25 20:26] pabigot commented on #28694
I confirm that `k_wakeup` and `k_thread_resume` do not play well together, and do not seem to be no-ops when the thing they're supposed to do is unnecessary.

https://github.com/pabigot/rhardik-reproduce-zephyr-issues/commits/issue/28694 has two commits, the first updating the example to current Zephyr APIs, and the second making the test a little nicer to work with.  Below is the summary of the f

[2020-09-25 21:43] caco3 commented on #28701
@carlescufi Thanks for your support!

* I am not using any irq-locking
* I use a [nrf52840dongle](https://docs.zephyrproject.org/latest/boards/arm/nrf52840dongle_nrf52840/doc/index.html)
* I use timer2 to release a semaphore every 2 .. 5 ms
* The semaphore is taken by a thread which then sends a notification.
* We use the 2MB phy, DLE to have large notifications and have set the MTU to 247 bytes.

[2020-09-26 00:20] cvinayak commented on #28701
[code]

You cannot use priority level 7, it translates to priority value of 0 in Zephyr. Do turn on `CONFIG_ASSERT=y` to catch this at runtime.

[2020-09-26 06:05] ceolin commented on #26889
I've mixed feelings about it. `sys_pm_force_power_state` don't have a kernel object associated so, there is not way to limit it to specific thread which mean that all user threads will be able to do it ....

[2020-09-26 08:54] pfalcon commented on #28587
Ok, so I tried to do testing from my side. I took http_download_test.zip attached to this ticket, removed unrelated changes, which literally makes it replacing `response_big.html.bin` to a symlink to `response_100k.html.bin`, and pushed as https://github.com/pfalcon/zephyr/tree/dumb_http_server-100k branch for reproducibility. I used `test_http_download.sh` from http_download_test.zip for testing

[2020-09-26 09:07] mfinmuch opened #28706 "west build -p auto -b nrf52840dk_nrf52840 error: HAS_SEGGER_RTT"
**I try to build the project under the zephyr/tests/bluetooth/ ,but it build failed
I tried to build helloword  ,it success
I use the command `west build -p auto -b nrf52840dk_nrf52840`**
[code]
**also I try to setting west build -t menuconfig,but it also failed**

[code]
Host and SDK deytails:
Ubuntu 18.04
Zephyr SDK sdk-0.11.3

[2020-09-26 14:45] nashif commented on #10158
with GH actions available, do we really need that?

[2020-09-26 23:08] ChaosinaCan opened #28709 "phandle-array doesn't allow array of just phandles"
**Describe the bug**

https://github.com/zephyrproject-rtos/zephyr/blob/0a0cb52fb2290b825f4e6b0d8d1f7bfad358cf01/dts/binding-template.yaml#L157-L160 indicates that in a value of type phandle-array, numbers are optional, so `<&foo &bar>` should be valid.

However, https://github.com/zephyrproject-rtos/zephyr/blob/0a0cb52fb2290b825f4e6b0d8d1f7bfad358cf01/scripts/dts/edtlib.py#L1225-L1230  appears to

[2020-09-27 10:57] kromancer opened #28714 "Bluetooth: PTS upper tester: GAP/CONN/NCON/BV-02-C Fails because of usage of NRPA"
**Describe the bug**
The implementation of GAP/CONN/NCON/BV-02-C in PTS v7.6.2
needs non-connectable undirected advertising,
with the IUT using its identity address.

Currently, our upper tester will use `bluetooth.h::BT_LE_ADV_NCONN`, which means NRPA, for all test cases that require non-connectable undirected advertising.

The test will fail as the lower tester will use a whitelist with the IUT'

[2020-09-27 20:13] henrikbrixandersen commented on #28709
How about `<&foo>, <&bar>`?

[2020-09-27 20:55] MaureenHelm opened #28716 "2.5 Release Checklist"
- [x] Major enhancements:
   - See https://github.com/zephyrproject-rtos/zephyr/projects/9

- [x] Pre RC1 Steps
   - [x] Create v2.6.0 milestone so that features that don't make it to the release can be assigned a milestone
   - [x] Verify that all external components and external dependencies are up to date, for example
      - mbedTLS
      - tinycrypt
      - FatFS
   - [x] Check known vulnerab

[2020-09-27 21:09] MaureenHelm commented on #26084
Next release checklist: #28716

[2020-09-27 22:35] ChaosinaCan commented on #28709
Same error (tested in a different keymap with a slightly different array):

[2020-09-28 04:19] akshay-dandekar commented on #15591
I am working on STM32F429I-DISC1. Above patches seems to be for STM32F7. Do they need to be modified for STM32F429?

Regards,
Akshay

[2020-09-28 04:55] wentongwu commented on #24255
per @jocelyn-li's request, update the status here: I haven’t got any time to review the comments, make the effort estimation and debug it so far because of other high priority issues assigned to me.
cc @nashif @andrewboie @rljordan

[2020-09-28 04:56] wentongwu commented on #25918
@galak @nashif @andrewboie ping

[2020-09-28 07:11] PerMac commented on #28113
Isn't the platform name already included in the testsuite attribute: "name="nsim_em"?

[2020-09-28 07:24] caco3 commented on #28701
Dear @cvinayak and @carlescufi

Thank you for your quick support! Indeed changing the priority of the `IRQ_CONNECT` to 5 solves this and all other instabilities I saw.

I will therefore close this issue.

Is there some further documentation about this? I had a look on [IRQ_CONNECT](https://docs.zephyrproject.org/apidoc/latest/group__isr__apis_ga131739d1faf501a15590053817aba984.html) as well as [Th

[2020-09-28 07:24] #28701 closed

[2020-09-28 08:37] b0661 commented on #28709
https://github.com/zephyrproject-rtos/zephyr/blob/0a0cb52fb2290b825f4e6b0d8d1f7bfad358cf01/dts/binding-template.yaml#L157-L160 the ´(possibly)´ relates to ´32-bit´ (and *not* to numbers). phandle-array is always a combination of phandle and associated number(s). The numbers may be up to 32-bit size. In case you only have phandles just use ´phandles´ in the binding.

´(possibly)´ should possibly re

[2020-09-28 08:49] JordanYates opened #28722 "Bluetooth: provide `struct bt_conn` to ccc_changed callback"
**Is your enhancement proposal related to a problem? Please describe.**

It is currently not possible from application code for a CCC write to trigger events on that same connection.
The current callback does not contain enough information for this to occur.
The current arguments are the attr that changed (the CCC descriptor itself) and its new value.

Each CCC descriptor is unique per connection,

[2020-09-28 08:52] benjizhai opened #28723 "Does not respect python virtualenv"
**Describe the bug**
When I run west build from virtualenv, it still detects system python instead of the virtualenv one.

**To Reproduce**
Steps to reproduce the behavior:
1. activate python venv
2. `west build -b auto -b nrf52840dongle_nrf52840 samples/basic/blinky`

**Logs and console output**
[1/125] Generating include/generated/kobj-types-enum.h, include/generated/otype-to-str.h FAILED: zephy

[2020-09-28 09:02] JordanYates commented on #28664
`HW_STACK_PROTECTION ` requires `ARCH_HAS_STACK_PROTECTION`, which for ARM CPU's at least requires `ARM_MPU`.
Are there any downsides to requiring the MPU to be enabled?

[2020-09-28 10:01] #28691 closed

[2020-09-28 10:06] JordanYates commented on #28722
Given that "just use `ccc_write`" is a valid answer to this request, I will await feedback before implementing anything.

[2020-09-28 10:17] cvinayak commented on #28699
@sigurdnev Please try this #28725 and leave your comments in the PR.

[2020-09-28 10:35] hakehuang commented on #28113
version is missing

[2020-09-28 11:28] PerMac commented on #28113
I quickly tried to get some more info about JUnit style XML reports and from what I found it seems that there is no "official" format. I think this page might be useful: https://llg.cubic.org/docs/junit/
I remember that we had a conclusion that JUnit doesn't support some of the attributes required by us (e.g. version).
It seems that we can "abuse" the <property> attribute, where any name (e.g envi

[2020-09-28 12:02] tejlmand commented on #28438
@gregshue  you seem to miss the point that `west` is an optional tool.
https://docs.zephyrproject.org/latest/guides/modules.html#without-west

What this issue should focus on is that the Zephyr module infrastructure works correctly.

That is, ensuring `ZEPHYR_MODULES` works.
One way to obtain a list of modules, is by using `west list`, and therefore it makes sense to combine this into a repo that

[2020-09-28 12:24] ioannisg opened #28729 "ARM: Core Stack Improvements/Bug fixes for 2.6 release"
### ARM Architecture related issues tentatively scheduled for v2.6 release

**New features**
- [x] [Cortex-M] QEMU support for ARM Cortex-M4F (#23185)
- [x] [Cortex-M] Null Pointer Exception detection in ARM Cortex-m (#3634 )

**Feature Enhancements**

- [x] [ARM Cortex-M, ARC, Kernel] Consider moving the arm_core_mpu API above the arch- level, so as not to duplicate for ARM, ARC

[2020-09-28 12:25] ioannisg commented on #25927
Open items moved to #28729

[2020-09-28 12:25] #25927 closed

[2020-09-28 12:43] maksimmasalski commented on #24358
@andyross Please update milestone, I see 2.4.0

[2020-09-28 12:44] tejlmand commented on #28438
Zephyr is already calling into the module's CMake build system.
That build system can decide how it wants to handle versioning.
It could decide to use a `VERSION`:
https://github.com/nrfconnect/sdk-nrf/blob/master/VERSION

or it could decide to fetch the version info using git (if available), e.g.:
`git describe --tags`

If we start imposing a version field in the `module.yml`, then we force users

[2020-09-28 13:23] #27981 closed

[2020-09-28 13:44] jocelyn-li commented on #23210
@Zhaoningx can this be closed?

[2020-09-28 14:04] abrodkin commented on #28113
Oh, so what stops us from adding another item called for example "version" for each test similarly to what we already have for the platform?

[2020-09-28 14:27] PerMac commented on #28113
I guess that nothing stops us. I assume we didn't know that this `property` attribute can be used? I think we will just have to add a way for the sanitycheck script to know internally which version (or SHA?) of zephyr it is using, as I don't see this info available anywhere during the execution.

[2020-09-28 15:44] gregshue commented on #28438
@tejlmand , Thank you for your feedback. I absolutely agree that ZephyrProject specifies that `west` is optional.

I think you have recognized a general need that is **tangential** to this ticket. This ticket is about creating an **Example** downstream module with simple business logic and covers the breadth of points of extensions **and** is a suitable pattern for extending existing 3rd-party ope

[2020-09-28 15:57] armandciejak opened #28735 "NULL pointer access in zsock_getsockname_ctx with TCP2"
**Describe the bug**
When testing civetweb sample application with TCP2 I noticed a NULL pointer access in `memcpy` when called in `zsock_getsockname_ctx`. I added asserts into memcpy because I already had similar problems and it helped catching the faulty code. Without the assert the error get unnoticed.

*Note: The problem is not present in TCP1.*

**To Reproduce**
Steps to reproduce the behavio

[2020-09-28 16:34] #23874 closed

[2020-09-28 18:17] pabigot commented on #26372
Reopening as there's a chance #28679 will enable this to be fixed.

[2020-09-28 18:40] Ripitchip opened #28739 "Bluetooth: Mesh: onoff_level_lighting_vnd sample fails provisioning"
**Describe the bug**
Trying to run the mesh sample described here : [sample Mesh Generic OnOff, Generic Level, Lighting & Vendor Models](https://docs.zephyrproject.org/latest/samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/README.html)

**To Reproduce**
Steps to reproduce the behavior:
1. cd zephyrproject/zephyr
2. west build -b nrf52840dk_nrf52840 samples/boards/nrf/mesh/onoff_level_lighting

[2020-09-28 18:41] Nukersson commented on #28735
@armandciejak Please provide your changes to `string.c` in terms of added asserts: you can put changed string.c here or better create new PR as a draft with your changes.
Are you facing same problem with other samples using same `memcpy` function from `string.c`?

[2020-09-28 18:58] ChaosinaCan commented on #28709
I'll admit I am still very unfamiliar with DT, but I'm confused as to why edtlib.py allows phandle-array to be either `TYPE_PHANDLE` or `TYPE_PHANDLES_AND_NUMS` then.

Having phandles with no associated numbers seems to work as long as there is at least one number somewhere in the array. If phandle-array allows any element to be a phandle with no associated number, why is it not valid for the enti

[2020-09-28 19:20] nvlsianpu commented on #28220
Due to memory technology limitation software which implements a data storage need to be aware of memory instance characteristic. Also technically not each memory instance allow multiple writes to write-block-size entity at all.

I would like a solution which will allow to support requested feature for each driver selectively.

Second solution i can imagine as a software-flash-driver implementation

[2020-09-28 21:30] plskeggs commented on #26722
I tried https://github.com/zephyrproject-rtos/zephyr/pull/27917 @nordic-krch and that did help my particular use case with hci.  Seems a more general solution is needed though.

[2020-09-28 22:28] picsil opened #28745 "Bug in drivers/modem/hl7800.c"
**Describe the bug**
Compilation fails if CONFIG_MODEM_HL7800_FW_UPDATE is defined. On line 4673 the call to fs_open is missing a parameter.

**To Reproduce**
Enable CONFIG_MODEM_HL7800_FW_UPDATE in prj.conf
Build any project using board pinnacle_100_dvk / HL7800 modem.

**Expected behavior**
Code compiles with this config option enabled

**Impact**
Workaround by modifying hl7800.c, but this shoul

[2020-09-29 00:57] LingaoM commented on #28739
Hi, i saw your log and found no problem, but I noticed that you are using the lowest security level(NO OOB) for provisioning. Do you set the security level of meshctl?

`security 0` should be set for this level security.

[2020-09-29 01:00] LingaoM commented on #28739
https://github.com/zephyrproject-rtos/zephyr/tree/master/include/bluetooth/mesh
All mesh related definitions are included here.

For example, if you want to know about `bt_mesh_model_op `, you can look at **access.h**.

[2020-09-29 01:43] Zhaoningx commented on #23210
Hi @jocelyn-li @chen-png , I saw that the issue has been fixed, so closed this now. :)

[2020-09-29 01:43] #23210 closed

[2020-09-29 03:12] jenmwms commented on #3893
The issue as reported was resolved by 1ed67d1 a while back. There may be an issue with the implementation of the spinlock with this check. I'll look into this separately and make a PR.

[2020-09-29 03:12] #3893 closed

[2020-09-29 06:34] armandciejak commented on #28735
Here is the  patch for `memcpy`:
[code]

I tested the `samples/net/sockets/dumb_http_server` application without problems.

[2020-09-29 07:39] b0661 commented on #28709
You are right, the error check seems too strict for the degenerated case that you describe.
https://github.com/zephyrproject-rtos/zephyr/blob/adb62ea290ee4d127c5134630489f64c43c252ef/scripts/dts/edtlib.py#L1229

I could not find `behaviors.dtsi` which defines the behavior nodes. The reset and none nodes should have properties like `xxx-cells = 0;` that define the count of values to be 0. With this

[2020-09-29 08:09] abrodkin commented on #28113
@PerMac probably not during execution, but at build time we already define `BUILD_VERSION`, see https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/git.cmake#L16. Another question now is how to pass it to the sanitycheck script :)

Or given `ZEPHYR_BASE` is known in the `sanitycheck` script we may just run `git describe` in `ZEPHYR_BASE` and record the output.

[2020-09-29 08:33] erwango commented on #27350
@avigreen1978 would you mind have a check on https://github.com/zephyrproject-rtos/zephyr/pull/28599 ?

[2020-09-29 08:47] #28629 closed

[2020-09-29 10:06] jukkar commented on #28735
Could you send a PR for the memcpy() asserts, they look useful to have.

[2020-09-29 10:07] Ripitchip commented on #28739
Hello,

Thanks for quick answer.

Yes you were right. Changing meshctl security level permitted me to do the provisioning so I could run the sample.

Several questions though :

- For my own understanding : why is the security level important with this sample opposed as the "onoff-app" sample which could run without me setting anything ?

- It's written that before provisioning "Each button contro

[2020-09-29 10:08] Nukersson commented on #28735
Does this asserts fire only in debug mode or always? I would prefer them only for debugging purposes.

[2020-09-29 10:11] jukkar commented on #28735
Asserts are off by default.

[2020-09-29 10:36] #27490 closed

[2020-09-29 10:45] jukkar commented on #28735
@armandciejak fix proposal at #28755. I tested it but would appreciate if you can verify it works ok for you too.

[2020-09-29 11:13] trond-snekvik commented on #28739
Your application does not enable any OOB authentication (as the OOB selection in src/mesh/ble_mesh.c is surrounded by `#ifdef OOB_AUTH` which is never defined). Without authentication, meshctl rejects your device if you don't lower the security level.

This happens if you don't configure the model publication for the model that sends on the button press. Note that none of the models in this sample

[2020-09-29 11:31] Nukersson commented on #28735
@jukkar Can you also provide PR with asserts in memcpy?

[2020-09-29 11:34] armandciejak commented on #28735
@jukkar Thanks for the fix. I tested it successfully (`zsock_getsockname` works now fine).

Unfortunately I get another assert after a few round of curl downloading the home page: `while true; do curl http://192.168.1.241:8080; done`.

[code]

[2020-09-29 11:52] jukkar commented on #28735
Ok, that assert seems to be unnecessary. I added a commit to the #28755 that does not assert in this case.

[2020-09-29 11:54] joerchan commented on #26732
Striking scan channel selection from this feature request, since that is not supported by HCI.

[2020-09-29 12:03] eugmes commented on #25055
It seems that something has changed since this issue was reported. Right now I see two entries for 'flash' when I run the `flash_shell` sample. `CONFIG_FLASH_SHELL` is enabled for that sample.

[2020-09-29 12:05] jukkar commented on #26584
The upstream code looks to work ok. It checks 224 value directly instead of using the function. I can refactor the code a bit to use the function. Lowering the priority.

[2020-09-29 12:07] armandciejak opened #28758 "ASSERTION FAIL [conn->in_retransmission == 1] with civetweb sample application"
**Describe the bug**
When testing civetweb sample application with TCP2 I get "Not in retransmission" assert after applying https://github.com/zephyrproject-rtos/zephyr/pull/28755 which fixes #28735.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable asserts: `CONFIG_ASSERT=y`
1. Increase `CONFIG_NET_MAX_CONN` to at least 5
1. `west build --board <YOUR BOARD> zephyr/samples/net/sockets/c

[2020-09-29 12:08] armandciejak commented on #28735
I created a new issue for the "Not in retransmission" assert: #28758.

[2020-09-29 12:19] #26829 closed

[2020-09-29 12:20] jukkar commented on #26330
@nzmichaelh there has been improvements with window handling, can you check if it helps your use cases?

[2020-09-29 12:37] jakub-uC commented on #27997
I've run the test on PCA10056 in version 2.0.1 2020.20. I cannot observe the issue, everything is working well. I have no idea when I will have an access to MAC to verify it.

[2020-09-29 12:37] jukkar commented on #28177
Already merged.

[2020-09-29 12:37] #28177 closed

[2020-09-29 12:51] #28461 closed

[2020-09-29 13:21] Ripitchip commented on #28739
I forgot to mention but I've already got the latest version since the beginning (v. 5.55). Maybe I'll have to ask bluez about this then.

I think I couldn't make myself clear : before provisioning, I can't turn off/on the LEDs like your [documentation](https://docs.zephyrproject.org/latest/samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/README.html) says.

I configure it though (well it seems

[2020-09-29 14:50] IvoBCD commented on #17787
@archseer I'm also seeing this, even using the OpenOCD included in Zephyr SDK 0.11.4.  The fix from  #21372 does not help.

I am able to flash the board using TI's Uniflash, so I'm confident the HW is OK.

[code]

[2020-09-29 15:17] mfinmuch opened #28773 "Lower Link Layer code use upper link layer function have " undefined reference to""
I tried to do Bluetooth test on nrf52840
Under zephyr/subsys/bluetooth/controller/ll_sw, I have modified some programs and added modules "neat.c" and "neat.h" by myself
 I use "lll_conn.c" in zephyr/subsys/bluetooth/controller/ll_sw/nordic/lll to reference the function(the function name is upd_conn_stat ) in "neat.c"
I have include "neat.h" in "lll_conn.c"
And after `west build -p auto -b nrf52840

[2020-09-29 15:26] galak opened #28774 "build failure: several bluetooth samples fail to build on nrf51dk_nrf51422"
If I do:

[code]

I get:
[code]

looking in logs:
[code]

[2020-09-29 15:28] galak opened #28775 "Update to TFM v1.2 release"
TFM v1.2 release is expected in Nov.  We should aim to update to it for the 2.5 release of Zephyr.

[2020-09-29 16:07] Nukersson commented on #28758
Are the occasionally 5 GET requests before fault , which is same as CONFIG_NET_MAX_CONN=5?

[2020-09-29 16:22] jasonedn opened #28777 "Memory pool issue"
**Describe the bug**
Four  (number of maximum-size blocks=4)  are defined, but only two available. Why?

What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact d

[2020-09-29 16:26] pabigot commented on #28220
2020-09-29 API: Limitations on flash devices make it difficult to promise anything about sub-block writes, e.g. whether they are even allowed, and their impact on write endurance calculations.  @d3zd3z was identified as somebody who should provide input.

Absent a clear need I expect to close this as not worth dealing with: any infrastructure that needs to use a flash driver for write operations w

[2020-09-29 17:06] galak commented on #28723
@tejlmand / @mbolivar-nordic thoughts?

[2020-09-29 17:24] andyross commented on #28777
Is this with CONFIG_HEAP_MEM_POOL_BACKEND=n?  Note that the mem_pool allocator is about to be deprecated, and the default backend is no longer a sys_mem_pool at all but a sys_heap, which is a general purpose allocator.

This new allocator works differently (it just manages a contiguous region of memory with no "blocks" abstraction), but there was supposed to be some logic in the K_MEM_POOL_DEFINE

[2020-09-29 17:33] joerchan commented on #28714
Need to use BT_LE_ADV_OPT_USE_IDENTITY for non-connectable advertiser to use the identity address.

@kromancer Are you reporting a bug on the tester now?

[2020-09-29 17:43] cvinayak commented on #28773
@mfinmuch Have you added your files to CMakeLists.txt file?

[2020-09-29 18:12] mfinmuch commented on #28773
Thanks!!!! I am a bit unfamiliar with cmakefile.txt
I add
`zephyr_library_sources(
        ll_sw/neat.c
      )
      zephyr_library_sources_ifdef(
        CONFIG_BT_LLL_VENDOR_NORDIC
        ll_sw/nordic/lll/lll_master.c
      )
`
in 'if(CONFIG_BT_CENTRAL)'
and it finally build completed!!!!!!
There are lots of CMakeLists.txt in every folder but I  added is under /zephyr/subsys/bluetooth/controll

[2020-09-29 18:46] mfinmuch commented on #28706
I remove HAS_SEGGER_RTT in prj.conf then it build success
but I don't know why

[2020-09-29 18:47] #25395 closed

[2020-09-29 18:47] #27417 closed

[2020-09-29 18:56] eugmes opened #28785 "shell: It should be possible to get list of commands without pressing tab"
**Is your enhancement proposal related to a problem? Please describe.**
Entering TAB or any special characters is very awkward on some terminal emulators, for example those running on Android devices. Pressing TAB looks like the only way to get list of commands supported by shell.

**Describe the solution you'd like**
It should be possible to get list of supported command some other way. For examp

[2020-09-29 19:25] retfie opened #28787 "lwm2m-client sample can't be build with openthread and DTLS"
Attempt to build lwm2m-client example for nrf52840dk_nrf52840 target with enabled OT and DTLS produce warning and abort build. I follow the steps described here: https://docs.zephyrproject.org/latest/samples/net/lwm2m_client/README.html#lwm2m-client-sample

**To Reproduce**
`west build -s samples/net/lwm2m_client -b nrf52840dk_nrf52840 -- -DCONF_FILE="prj.conf overlay-ot.conf overlay-dtls.conf"`

[2020-09-29 19:55] eugmes opened #28791 "STM32: Clock recovery system (CRS) support"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
It would be good to have better support for CRS peripheral present on some STM32 microcontrollers (STM32L432 is one example). It is useful for boards that have a USB device interface, but not quartz crystal or oscillator.

It is relatively easy to add the code for enabling CRS

[2020-09-29 20:28] mbolivar-nordic commented on #28706
Hi there! I see this in your build output:

Since this is not the name of any of the samples provided with zephyr, I'm guessing this is a custom app you wrote yourself.

but is not directly user-configurable (has no prompt). It gets its value indirectly from other
symbols. See http://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_HAS_SEGGER_RTT.html
and/or look up HAS_SEGGER_RTT in the men

[2020-09-29 20:28] #28706 closed

[2020-09-29 20:28] mbolivar-nordic commented on #28723
dupe of https://github.com/zephyrproject-rtos/west/issues/443

[2020-09-29 20:28] #28723 closed

[2020-09-29 21:07] pabigot opened #28794 "RFC: API Change: k_work"
# On Hold
Pending maintainer response to https://github.com/zephyrproject-rtos/zephyr/pull/28579#issuecomment-701366210

tl;dr This RFC addresses the [requirement](https://docs.zephyrproject.org/latest/development_process/api_lifecycle.html#introducing-incompatible-changes) to notify the community in the case of changes to stable API that might require changes to existing code.

## Problem Descrip

[2020-09-29 22:11] vanti commented on #17787
@IvoBCD I am also on Zephyr SDK 0.11.4 and have firmware 3.0.0.13, and 'west flash' seems to work fine for me on Rev B of the cc26x2r1_launchxl:

[code]

Given you have the ability to flash using Uniflash, could you use it (or TI Code Composer Studio) to flash the `zephyr.elf` binary from hello world, then retry with OpenOCD? I am wondering if what you had previously flashed on the board is someho

[2020-09-29 22:17] kromancer commented on #28714
@joerchan Yes, I am reporting a, low priority IMHO, bug on the tester.

The offending line, which makes the wrong assumption that all non connectable advertising should use an NRPA, is here:
https://github.com/zephyrproject-rtos/zephyr/blob/zephyr-v2.4.0/tests/bluetooth/tester/src/gap.c#L299

[2020-09-29 23:02] jenmwms commented on #3893
^ submitted a PR https://github.com/zephyrproject-rtos/zephyr/pull/28797

[2020-09-30 02:02] ChaosinaCan commented on #28709
Yep. See https://github.com/zmkfirmware/zmk/blob/main/app/dts/behaviors/none.dtsi for example.

Should `TYPE_PHANDLE` be kept and `TYPE_PHANDLES` added, or should that be replaced with `TYPE_PHANDLES`?

[2020-09-30 03:52] hakehuang commented on #28113
add more property is a general requirements for sanityscript output, I suppose we will require more and more properity over time.

[2020-09-30 05:05] martinjaeger commented on #28566
This would also be helpful for the ADC sample, not only the ADC shell. See PR #25590 where we also started discussing how to handle the different adc names in the devicetree.

So if we go for solution 1, the compatible name should be generic and not contain `shell`, I think.

[2020-09-30 06:07] abrodkin opened #28803 "Use generic config option for early platfrom init (AKA "warm boot")"
On some platforms missing simple true reset capability we may mimic real reset (see https://github.com/zephyrproject-rtos/zephyr/issues/28493) with software emulation of that (AKA "warm boot") when we return some internal platform's states into its defaults (see https://github.com/zephyrproject-rtos/zephyr/pull/28494). That among other things allows us to efficiently use the same always powered-on

[2020-09-30 07:10] IvoBCD commented on #17787
@vanti It turns out that I had to populate the TDO and TDI jumpers on the LaunchPad board, for OpenOCD to work.  TI's Uniflash doesn't need those.

[2020-09-30 07:32] pdunaj commented on #28794
This change will be extremally troublesome.
The fact that `k_delayed_work_cancel` was able to both cancel countdown and unsubmit the work from the queue was very useful. The race is not the problem if all activities are performed from a workqueue thread context. Our application use that in multiple places as being able to synchronously unsubmit greatly simplifies design.

I will not argue with the

[2020-09-30 08:00] Nukersson commented on #27805
I think `Good First Issue` would be good for the beginners.

[2020-09-30 08:18] jukkar commented on #28794
Not sure if it belong to this PR, but the `k_work_submit_to_queue()` API is currently not returning anything which is problematic as it might not actually submit anything to queue if there is already a work pending. So the caller needs to call `k_work_pending()` to check whether the work was submitted or not. It would be more practical if the `k_work_submit_to_queue()` function would return this s

[2020-09-30 08:28] jukkar commented on #28785
You can always give `-h` to the sub-command like this:
[code]

[2020-09-30 08:36] rlubos commented on #28787
OpenThread overrides the default mbedTLS configuration (i. e. disables TLS since it's not used by OpenThread in basic configuration). Try adding `CONFIG_MBEDTLS_TLS_VERSION_1_2=y` to your `overlay-ot.conf` or `overlay-dtls.conf`.

[2020-09-30 08:51] ioannisg commented on #28803
Thanks for opening the ticket @abrodkin.
A had a quick look in the Cortex-M architecture and it seems that the following HW need re-initialization, when Zephyr boots as a chain-loadable image (not via reset) and we need to guarantee true reset conditions:

- Main stack pointer (MSP) and CONTROL register
- MPU system
- FPU control/status registers
- Cache clean up and invalidate registers
- Interru

[2020-09-30 10:27] eugmes commented on #28785
@jukkar Yes, that is not a problem. Getting the list of all supported commands is. One cannot just run `-h`.

[2020-09-30 10:36] kpetrov-mms commented on #28787
@rlubos , that fixes the problem. Now I got it to compile successful, I can confirm that device now can connect to Leshan LWM2M server, with DTLS and bootstraping. We should update the docs about lwm2m_client sample in this section.
Thanks !

[2020-09-30 10:41] rlubos commented on #28787
Glad to hear it helped. We should add "official" OT support to the sample in the first place (a verified overlay config for OT). Feel free to contribute if you have time 😄

[2020-09-30 11:05] pabigot commented on #28794
This doesn't make sense to me, but I think the misunderstanding is one I originally had too:

`k_work_submit_to_queue()` can't fail.  If the work item is already submitted, it stays submitted.  If it isn't already submitted, it will be submitted.

The whole point of the discussion in https://github.com/zephyrproject-rtos/zephyr/pull/22826#pullrequestreview-455050386 is that `k_work_pending()`'s in

[2020-09-30 11:14] justinleavesley opened #28809 "Enable bt_gatt_notify() to overwrite notified value before sending rather than queue values"
**Is your enhancement proposal related to a problem? Please describe.**
It is difficult to use the current BLE notify mechanism in Zephyr to deliver to the client the most current possible data due to the queue behavior of the buffer for bt_gatt_notify() and the server not knowing exactly when a connection event is going to occur.

An example use case: The client subscribes to an attribute on the

[2020-09-30 11:26] jukkar commented on #28794
Whether the work submit can fail or not was not the point I tried to make, it just would be practical for the caller to know if the work was submitted or not. The code path in the caller might be different according to this info. See example in `subsys/net/ip/net_tc.c:net_tc_submit_to_tx_queue()`

[2020-09-30 11:31] #26584 closed

[2020-09-30 11:33] #21179 closed

[2020-09-30 11:38] #28774 closed

[2020-09-30 12:03] pabigot commented on #28794
Personally I like being able to use non-negative results to distinguish success states, so I'd be fine with having `k_work_submit_to_queue()` return 0 if the work item was newly submitted, and 1 if it had already been submitted and was still pending.  That would need to go through an enhancement issue; it's not related to this.

I don't think it'd help you though.  A return value from `k_work_subm

[2020-09-30 13:07] galak commented on #28566
Is there a reason adc_shell doesn't do what i2c_shell does and use `shell_device_lookup`?

[2020-09-30 13:16] nandojve commented on #25600
I'm wait an EVB board to isolate WiFi and create a Shield.
Removing Stale.

[2020-09-30 13:23] jakub-uC commented on #28566
@galak If I will use `shell_device_lookup` please let me know how can I identify which device is ADC in a source code common for all boards?

[2020-09-30 13:23] pabigot opened #28819 "memory order and consistency promises for Zephyr atomic API?"
The [Linux atomic operations](https://www.kernel.org/doc/html/latest/core-api/atomic_ops.html) document memory order behavior: in particular, while all are SMP safe, only the functions that return a value also have the necessary memory barriers to guarantee consistent ordering between threads (read-only and write-only operations do not have barriers).

The C11 `<stdatomic.h>` API also defines [mem

[2020-09-30 13:23] galak commented on #28566
So the idea of a generic compatible is not something I'm ok with.   I had the idea of a subsystem register (See PR #24885).  We should figure out what we actually need to support for the shell and samples.  Is it wanting a list of device "names" for a given driver subystem?

[2020-09-30 13:24] galak commented on #28566
Not sure I follow the question here -- can you clarify.

[2020-09-30 13:32] jakub-uC commented on #28566
In the example, I am trying to fix adc_shell, I need to list all ADCs available for the currently used board. Function `shell_device_lookup` lists all active devices. How I can determine which device is an ADC?
As I understand the problem for one board this function will give me the device name `ADC_0` for other `ADC_1`.

[2020-09-30 13:54] galak commented on #28566
Ah, I think right now the best we do is assume ADC prefix in the name.  (see `I2C_DEVICE_PREFIX` in `drivers/i2c/i2c_shell.c`).

[2020-09-30 14:54] #25592 closed

[2020-09-30 15:00] erwango commented on #28566
Is there any way to get that info on the dts binding side ?
Maybe we can infer information based on the fact that each adc vendor compat include "adc-controller" common binding?

[2020-09-30 15:18] ioannisg commented on #28664
Nope, other than the fact that it increases code and ram footprint. ARM_MPU is enabled by default in the majority of Cortex-M boards that support it.

[2020-09-30 15:27] pabigot commented on #25164
@galak please lets continue the discussion from  https://github.com/zephyrproject-rtos/zephyr/pull/28814#issuecomment-701443566 here.

I thought we'd agreed that there were cases where defaulting is reasonable, and that if a default is provided it should be exposed  in the binding where people can see what it is.  It does not make sense to put a documentation-only property in the binding, then ign

[2020-09-30 15:48] galak commented on #25164
We need to figure out some guidelines about `default` usage as document them.  It has been my concern from the start w/`default` as its very subjective right now.  Right now it feels like syntax short hand and based on personal preference on how a developer feels like they should write their driver.

[2020-09-30 16:02] pabigot commented on #25164
I don't see how it can ever be anything but subjective, but we could provide some general guidelines.  Maybe this?

[2020-09-30 16:03] galak commented on #28566
I'd rather not make such assumptions, plus we don't track the include info at that level.

Somewhere we have to encode a DTS compatible to Zephyr subsystem mapping.  I see we can do this in a few ways:
1. Add some property like 'zephyr,subsystem' to dts: `zephyr,subsystem = "adc";`
2. encode mapping in build system (CMakeLists.txt: `zephyr_library_sources_dt("adc", "st,stm32-adc", adc_stm32.c)`)
3

[2020-09-30 16:49] gmarull opened #28822 "Improve STM32 LL HAL usage"
## Introduction

This RFC aims to improve the usage of STM32 LL HAL in both Zephyr drivers and for out-of-tree users.

### Problem description

STM32 drivers using LL API need to include `stm32xxx_ll_yyy.h` headers in order to make use of the API. Nowadays this is done via the `soc.h` file, e.g. https://github.com/zephyrproject-rtos/zephyr/blob/master/soc/arm/st_stm32/stm32f4/soc.h. Inclusion of L

[2020-09-30 16:50] gmarull commented on #28822
cc: @erwango @ABOSTM, @FRASTM, @arnopo, @Mani-Sadhasivam, @ydamigos, @cybertale, @lowlander, @Nukersson, @lochej, @avisconti, @loicpoulain

[2020-09-30 17:21] mbolivar-nordic commented on #25164
That seems pretty reasonable IMO.

[2020-09-30 17:51] albertofloyd commented on #26889
@ceolin  In the scenario mentioned above not all users threads need to force system sleep state, probably just a designated thread.
If we can have that mechanism to force system sleep limited to a specific thread that would satisfy the scenario.

[2020-09-30 18:12] #26486 closed

[2020-09-30 18:34] nashif commented on #26889
@albertofloyd  you are referring to usermode and system calls here which is terminology used when memory protection and isolation are involved. Are you specifically asking for this to be a system call that can be called from a usermode thread in an environment where MPU/MMU is being used?

[2020-09-30 19:11] mbolivar-nordic commented on #28566
I might phrase this more generally as "device <--> API mapping" since not all devices come from DT, but I agree.

So something like a `CONFIG_ADC_DEVICE_TABLE` that's `default n`? And if it's set to `y`, `ADC_DEVICE_AND_API_INIT()` would stick the device into the table?

If so, that would let the `ADC_SHELL` option `imply ADC_DEVICE_TABLE` and things could just work, right?

[2020-09-30 19:18] galak commented on #28566
Yes, that's inline with my thinking.

[2020-09-30 19:35] mbolivar-nordic commented on #28566
:+1:

[2020-09-30 19:59] nashif commented on #10158
superseded by GH actions, closing

[2020-09-30 19:59] #10158 closed

[2020-09-30 20:20] pabigot commented on #28773
From what I can tell this has been resolved.  Please re-open if that's not true.

[2020-09-30 20:20] #28773 closed

[2020-09-30 20:22] jakub-uC commented on #28785
@eugmes  I could implement this within the `help` command. It could list all available root commands.
Will it be ok?

[2020-09-30 20:50] eugmes commented on #28785
@jakub-uC: yes, that would be great.

[2020-09-30 23:11] gmarull opened #28826 "nRF QSPI flash driver broken for GD25Q16"
**Describe the bug**

After pulling `master` I have found that the nRF QSPI flash driver is at least broken when using GD25Q16 flash found in the Adafruit feather board. I'm not sure if this affects other boards.

**To Reproduce**

Build the usb mass sample for `adafruit_feather_nrf52840` board:
[code]

Then flash using
[code]

Observe error on Zephyr console:
[code]

Reverting 381cac1 seems to fi

[2020-10-01 05:19] b0661 commented on #28709
Yes. Looking at https://github.com/zephyrproject-rtos/zephyr/blob/1342d12500867d3de09025037e65e756d5486eba/scripts/dts/dtlib.py#L1353-L1357 suggests that TYPE_PHANDLE and TYPE_PHANDLES are valid types.

[2020-10-01 05:20] Navin-Sankar commented on #28469
Here the timer always generate the interrupt in ms to sample the adc signal. https://github.com/zephyrproject-rtos/zephyr/blob/1342d12500867d3de09025037e65e756d5486eba/drivers/adc/adc_context.h#L98.

ceiling_factor also result the time in ms. That why it only captures only 1000 samples per second.

[2020-10-01 07:19] cvinayak commented on #28544
Updating legacy advertising data using extended advertising commands (experimental in controller) causes BUS fault. Hence, increasing the issue priority to medium. A PR has been submitted by the reporter.

![image](https://user-images.githubusercontent.com/6350656/94779427-38211700-03c7-11eb-8992-01bffeae99e5.png)

[2020-10-01 07:27] Zzzwierzak commented on #27369
@erwango  , @lowlander   I've tested it on behalf of @macsiahid, it works on latest.

[2020-10-01 07:50] LuxLuthor opened #28833 "STM32: SPI DMA Driver - HW CS handling not compatible with spi_nor (Winbond W25Q)"
**Describe the bug**
When spi_nor driver is sending command over SPI it uses two rx buffers and two tx buffers. In current implementation in function transceive_dma (spi_ll_stm32.c) SPI peripheral is turned off after each buffer finishes resulting in CS pin being pulled up between bytes send. Flash that I use (Winbond W25Q) after falling edge on CS expect command to be send therefore communication

[2020-10-01 08:02] erwango commented on #27369
@Zzzwierzak Thanks for this feedback! Can we close the point then ?

[2020-10-01 08:31] Zzzwierzak commented on #27369
@erwango Yes, you can close it.

[2020-10-01 08:33] #27369 closed

[2020-10-01 09:00] trond-snekvik commented on #28739
This looks like a discrepancy in the documentation, there's no code to support this in the sample, as far as I can see. @vikrant8051 do you know what happened here?

Error -49 is only returned from `bt_mesh_model_publish` here, so one of these checks are failing:
https://github.com/zephyrproject-rtos/zephyr/blob/1342d12500867d3de09025037e65e756d5486eba/subsys/bluetooth/mesh/access.c#L741-L748

If

[2020-10-01 09:05] Thalley commented on #28461
@emob-nordic @joerchan
Using the same setup (i.e. the `samples/bluetooth/hci_usb/` with `CONFIG_BT_CTLR_ADV_EXT=y`) I still experience the same issue.

The PR (https://github.com/zephyrproject-rtos/zephyr/pull/28637) sets the HCI buffer size if `BT_RX_BUF_LEN > 76` which it will only be by default if e.g. `BT_EXT_ADV` is enabled.

Setting `BT_EXT_ADV=y` in the prj.conf file would fix this, but I w

[2020-10-01 09:15] joerchan commented on #28461
@Thalley No, those are common configurations, not host specific. BT_RX_BUF_LEN is used by HCI_RAW as well, and BT_RX_BUF_LEN default is determined based on whether BT_EXT_ADV is enabled or not.

You could only set BT_RX_BUF_LEN, but then there are migt be other  buffers you would have to update, so best would be select the BT_EXT_ADV feature.

[2020-10-01 09:16] emob-nordic commented on #28461
@joerchan Shouldn't the `BT_EX_BUF_LEN` select `BT_EXT_ADV` then? Or extended buffer does not always mean extended advertising?

[2020-10-01 09:24] Thalley commented on #28461
@joerchan Should the `BT_RX_BUF_LEN` really be located in subsys/bluetooth/*host*/Kconfig then?

I see that `BT_CTLR_ADV_EXT` has `default y if BT_EXT_ADV && !BT_LL_SW_SPLIT` so I suppose setting `BT_EXT_ADV` would be sufficient?

[2020-10-01 09:34] joerchan commented on #28461
No, the length of the required buffers could be dependent on other features as well, like Data Length Update, maximum MTU, BR/EDR etc.

When you build HCI_USB you are including hci_raw, so I don't think moving this into the Host makes sense, as you should set this option for the controller-only samples.

Not if you have BT_LL_SW_SPLIT=y, then you need to set it explicitly, this is because the BT_C

[2020-10-01 10:07] Thalley commented on #28461
@joerchan The `BT_RX_BUF_LEN` is currently located in the host Kconfig, and my comment was regarding whether it would make more sense to put into the common on controller part.

Either way, I think it I understand the configs better now, and the PR does fix this issue :)

[2020-10-01 10:33] joerchan commented on #28461
@Thalley Sorry, I misread. Yes, perhaps it should be moved, but TBH I'm quite happy to leave it alone right now.

[2020-10-01 10:53] #28699 closed

[2020-10-01 11:10] carlescufi commented on #28685
@JordanYates

If the indications have been already sent to the controller from the host, then there is no way according to spec to flush them, and they *will* go out regardless. However, after the host sends the write response for the unsubscribe, the stack should not allow for any additional indications.

[2020-10-01 11:13] carlescufi commented on #28685
@Vudentz any input on this one?

[2020-10-01 11:17] carlescufi commented on #28714
@kromancer will you send a PR?

[2020-10-01 11:19] #28735 closed

[2020-10-01 11:19] #28758 closed

[2020-10-01 11:22] carlescufi commented on #28009
Let's document the fact that connection objects are usable before and after the connection is alive.

[2020-10-01 11:33] nashif commented on #27975
@tlr-id  can you submit a PR with this change please?

[2020-10-01 11:35] hanselfberg commented on #28009
I think it will be impossible/difficult for the users of the connection info to take on that responsibility due to the "asynchronous-ness", won't it? Because you can have got connected/disconnected without knowing it at the time when you get the info, i think.

[2020-10-01 11:47] armandciejak commented on #27662
We have the same issue and since in our case the networking tasks cannot have higher priority than really real-time tasks we worked around the problem by changing the number of cooperative priorities `CONFIG_NUM_COOP_PRIORITIES=5` this changes the priority of the rx and tx work queues to 2 (preemptive threads).

[2020-10-01 11:50] nashif commented on #26912
this is already covered here https://github.com/zephyrproject-rtos/zephyr/issues/20594, no need for this ticket IMO

[2020-10-01 11:50] #26912 closed

[2020-10-01 11:53] lowlander commented on #27662
But that also sounds like a hack, in most cases I think network is not realtime anyway, and the user should be able to select a non-cooperative prio for the network threads.  But that might need a very good look at if the tasks may be preempted or if that would cause problems.

[2020-10-01 11:56] nashif commented on #25173
based n the last comment from @andrewboie , I consider this a bug

[2020-10-01 12:02] armandciejak commented on #27662
@lowlander I agree that this is a workaround, I just mentioned it so that someone who is impacted by this problem knows that it is possible to work around the problem by changing the configuration. The down side is of course the fact that this reduces the number of cooperative priorities from 16 to 5.

[2020-10-01 12:18] jukkar commented on #27662
The TX / RX thread priorities can be tweaked in `subsys/net/ip/net_tc.c` (search `tx_tc2thread()` and `rx_tc2thread()` arrays). Currently these are not configurable but if anyone has a good idea how to allow easy configuration, just send a PR.

[2020-10-01 12:52] anangl commented on #28469
@Navin-Sankar I apologize it took me so long to get to this issue. As you already correctly figured out, the problem is in the routine that sets up the kernel timer. I created #28841 to solve it.

[2020-10-01 14:18] pabigot commented on #28566
Is that what we really need to do?  Don't we simply need to identify the available devices that implement a particular subsystem API?

If userspace is enabled the infrastructure to do this is already in place, because the kernel object associated with the device knows what type of device it is.  If userspace is not enabled I don't see an existing solution, but I don't think we need to get DTS comp

[2020-10-01 14:32] pabigot commented on #19448
In dev-review because this impacts power management solution design and `struct device` state; we need to make progress.

[2020-10-01 14:57] kurddt opened #28844 "Double quote prepended when exporting CMAKE compile option using zephyr_get_compile_options_for_lang()"
**Describe the bug**
A extra and unwanted '"' is prepended when using the output of zephyr_get_compile_options_for_lang() to set an other target compile option. This lead to a compilation failure (gcc does not really like this extra double quote)

example:
[code]
instead of
[code]

**To Reproduce**
* Have a zephyr-independant target (here lzg) and do:
[code]

Only `zephyr_get_compile_options_for_l

[2020-10-01 15:31] galak commented on #28566
Dev-Review (Oct 1 2020): Idea is to utilize the functionality that @pabigot describes that exists for userspace with K_OBJ_DRIVER_<foo> and see what the PR looks like.

[2020-10-01 15:44] KevinThompson-SR opened #28847 "code_relocation sample does not work on windows"
code_relocation sample doesn't work on windows (paths in Windows includes ":", which causes problems).

**To Reproduce**
Steps to reproduce the behavior:
1. /zephyr/samples/application_development/code_relocation example
2. nrf5340pdk_nrf5340
3. using .proj and CMakeList.txt
4. Build Error:  Occurs because the result of line.split(':') contains three elements (["'SRAM2", 'C', '/code_relocation/src

[2020-10-01 19:33] tejlmand commented on #28844
The `zephyr_get_compile_options_for_lang(C ext_options)` was originally intended to be used integration to external build system/libraries, such as here:
https://github.com/zephyrproject-rtos/zephyr/blob/49fdfd4f39d5dc575319cf52a054791b22aac7be/samples/application_development/external_lib/CMakeLists.txt#L55

but it does have a side-effect, and that is that it is process order dependent (you may no

[2020-10-01 19:57] tejlmand commented on #7216
Which has now been resolved and has been introduced with the new Toolchain abstration:
https://github.com/zephyrproject-rtos/zephyr/pull/24851#discussion_r452241829

[2020-10-01 20:09] mbolivar-nordic commented on #19448
Revisiting this again, I believe the basic functionality is there:

[code]

Please advise if any additional helpers would be useful. If what is available is enough, please close. Thanks!

[2020-10-01 20:13] pabigot commented on #19448
I think what we have is enough until I figure out how this can be used.  Thanks.

[2020-10-01 20:13] #19448 closed

[2020-10-01 20:24] nashif commented on #8496
how? the requirement says:

```A subset of driver classes, and within them only those that have been written with non-multithreaded mode in mind: ```

[2020-10-02 00:22] Vudentz commented on #28685
Indication do require a response so the are not queued in the controller, instead we queue them the host and wait the other requests to complete.

There might be some problem with BT_ATT_TX_MAX though. if we can queue all buffers then we are likely to create such problems since one can exaust the buffer pool on TX alone the response also fail waiting for a free buffer, we could attempt to dequeue

[2020-10-02 03:08] mbolivar-nordic commented on #28709
Agreed; I'll send a PR

[2020-10-02 03:55] nashif commented on #26272
The main issue here is that we use flash with nsim to run a simulator, this is not something we do for example with qemu. Try to "flash" qemu, it is not supported.
nsim uses a different handler in sanitycheck than the one used for real devices, it just call a binary and does not use west directly, instead it uses 'make run' which calls west based on what was configured for the board.

i have an id

[2020-10-02 07:11] jjmilburn opened #28854 "`CONFIG_STACK_POINTER_RANDOM` may be undefined"
**Describe the bug**

In some builds, it may be possible for `CONFIG_STACK_POINTER_RANDOM` to be undefined. This will trigger a warning (leading to an error if `Werror` is present) in GCC when `Wundef` is set.

**To Reproduce**

Seen using PlatformIO, have no reason to believe that this is related to the PIO code, however.

Steps to reproduce the behavior:
1. Prepare the the 'blinky' sample projec

[2020-10-02 07:11] lowlander commented on #27662
@jukkar AFAIK they are currently cooperative threads, the question is can they be changed to preemptable threads? With other words is the cooperative scheduling used as a mutal exclusion mechanism that will break when the TX thread for example preempts the RX thread?

[2020-10-02 07:32] kurddt commented on #28844
Ok, thanks for the tip. This is working perfectly

[2020-10-02 07:32] #28844 closed

[2020-10-02 09:28] #28826 closed

[2020-10-02 09:31] #28493 closed

[2020-10-02 09:31] #28483 closed

[2020-10-02 09:44] #28170 closed

[2020-10-02 10:16] jukkar commented on #27662
Atm we have only used co-operative threads so more testing would be needed to verify if they work with pre-emptive threads. We have locking in various parts of the network stack but more testing is needed to make sure they are in proper places.

[2020-10-02 11:34] PerMac opened #28864 "sanitycheck: Make sanitycheck test specifiacation compatible"
As a tester, I would like to be able to extract the complete and exact test specification (the list of all the test suites with all the test cases) that will be run by sanitycheck for a given setup. This is an important feature in testing standards, which allows verifying the test results against the specification prepared in advance. Currently, there exist some options that allow exporting tests

[2020-10-02 11:52] erwango opened #28865 "Doc: Generate documentation using dts bindings"
**Is your enhancement proposal related to a problem? Please describe.**
dts bindings provide useful details on:
- what is implemented
- how it is implemented
- how it could/should be configured

Similarly to Kconfig and API it would be quite interesting to generate documentation out of dts/bindings.

**Describe the solution you'd like**
A doc section (ending up being available on https://docs.zeph

[2020-10-02 11:53] erwango commented on #28865
@carlescufi, @MaureenHelm, @galak, @nashif

[2020-10-02 11:54] erwango commented on #28865
Logging the point as it has been discussed at several occurrences already.

[2020-10-02 12:16] eugmes opened #28867 "ARM Cortex-M4: Semaphores could not be used in ISRs with priority 0?"
**Describe the bug**
The documentations says that semaphores could be used from ISRs if they don't block. When I'm trying to use them from ISRs I'm sometimes getting assertion failures with message "recursive spinlock"  with address of `sem.c:lock` (https://github.com/nrfconnect/sdk-nrf/pull/3003#issuecomment-702234132).

From reading the documentation for `BASEPRI` register I understand that it c

[2020-10-02 12:50] eugmes commented on #28867
I guess these are zero latency IRQs so they should not be used with kernel APIs. Still, I wonder how many other people will overlook that...

[2020-10-02 12:50] #28867 closed

[2020-10-02 13:08] nvlsianpu commented on #27415
If Single Thread mode (CONFIG_MULTITHREADING=n) will be deprecated then:
Can be introduced a mode without synchronization mechanism like semaphores, mutexes etc?
Such mode will be useful for small footprint application (like mcuboot), where application will use only one thread anyway.

[2020-10-02 13:37] Cimex97 commented on #27055
@danergo you can build and flash a [sample](https://github.com/espressif/esp-idf/tree/8bc19ba893e5544d571a753d82b44a84799b94b1/examples/bluetooth/hci/controller_hci_uart), that comes out of the esp-idf. That is a controller with hci_uart. That works fine with linux.

[2020-10-02 14:01] thomasstenersen opened #28870 "Peripheral initiated connection parameter update is ignored"
**Describe the bug**
If a peripheral initiates a connection parameter update before the first conn param update timer has expired, its requested parameters are ignored (no error code return from `bt_conn_le_param_update()`). If `CONFIG_BT_GAP_AUTO_UPDATE_CONN_PARAMS=n` nothing will happen when the timer eventually does expire

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout https://g

[2020-10-02 14:03] avisconti commented on #28865
@erwango
Thx for the initiative. The lisdh12 device case happened recently. It seems to be not supported, but it is indeed (by lis2dh).
I was thinking more to a document listing all compatibles string, but I guess this bindings idea is not too different.
Indeed we need this information somewhere.

[2020-10-02 14:17] Cimex97 opened #28872 "Support ESP32 as Bluetooth controller"
**Describe the bug**
I want to build the samples/bluetooth/peripheral_hr as a host only with an extern esp32 as a controller.
For this I use the **nucleo_f411re** board.

[code]

**To Reproduce**
I add hw-flow-control to the dts, the PINMUX functions for RTS/CTS pins of the UART_1 and set the configuration BT_UART_ON_DEV_NAME="UART_1".
[code]
[code]

Steps to reproduce the behavior:
1. cd samples/

[2020-10-02 14:43] carlescufi commented on #28809
@pdunaj would you have any input for @justinleavesley, given the constraints of the software you've developed for Zephyr?

[2020-10-02 15:22] pdunaj commented on #28809
@carlescufi The problem is true but we did not care so much as HID is polled every 1ms by USB or LLPM.

@justinleavesley is right and there is no way of updating the data once sent. I don't think what is requested is doable as data is copied to the lower layers so controller can use it as soon as connection interval occurs. (at least this is what I recall is happening - @joerchan can tell more).
I

[2020-10-02 15:30] andrewboie commented on #20686
never mind! I fixed this and forgot all about it:

[code]

[2020-10-02 15:42] pabigot opened #28873 "z_device_ready() lies"
#28369 was merged in the late days of 2.4 development to fix a problem where device drivers with incorrect/conflicting dependencies used `device_get_binding()` to identify a driver they depend on before that driver was initialized.  Consequently `z_device_ready()` will succeed for devices that have not yet been initialized.

This really needs to get fixed as there are limited checks that a success

[2020-10-02 15:54] beriberikix commented on #22247
@jhedberg would it be possible to convert this issue to a Discussion topic? I recall seeing the feature in the launch but I don't know if it is available in the Beta. Otherwise I'd be happy to start a new discussion.

[2020-10-02 16:05] #28785 closed

[2020-10-02 16:08] vandita5 opened #28876 "-p doesn't run a pristine build"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
This has happened to me in different scenarios but I didn't document them before. In this case I checked out a new version of zephyr and ran west update. I then ran the build command with -p and it kept failing as it couldn't find ZEPHYR_BASE. I tried to follow instruc

[2020-10-02 16:09] vandita5 commented on #28876
@mbolivar-nordic Created an issue as per our conversation on slack.

[2020-10-02 16:23] jhedberg commented on #22247
Sure, no objections. FWIW, I don't have much personal stake or opinion here. IIRC I added then question label when I was release manager for 2.2 and we were triaging open issues.

[2020-10-02 18:14] beriberikix commented on #22247
Ah, sorry about that! I just saw you were the only maintainer on the thread :) I assume only members can migrate an issue into a discussion (if that's even possible!)

[2020-10-02 19:46] #28787 closed

[2020-10-02 22:01] pabigot opened #28881 "tests/kernel/mem_protect/sys_sem: qemu_x86_64 intermittent failure"
This sometimes shows up in buildkite, e.g. https://buildkite.com/zephyr/zephyr/builds/9752

It can be reproduced on master with:

    sanitycheck -p qemu_x86_64 -s tests/kernel/mem_protect/sys_sem/kernel.memory_protection.sys_sem

When the failure occurs the output is:
[code]

[2020-10-02 22:26] mbolivar-nordic commented on #28865
@erwango I can try to help with this. My current priorities are TBD right now but I'll self-assign so I don't lose track of this. I'd like to work on usability improvements along with new features.

[2020-10-03 00:23] mbolivar-nordic commented on #28876
Thanks! I will look into it.

[2020-10-03 01:06] #26637 closed

[2020-10-03 01:06] #23917 closed

[2020-10-03 01:06] #23729 closed

[2020-10-03 01:06] #20775 closed

[2020-10-03 07:59] justinleavesley commented on #28809
@carlescufi and @pdunaj thanks for looking into this.

I can understand that the notify data has been packaged up and even split across different packets at lower layers making this non-trivial.
Getting a callback when the connection event actually starts would be ideal if the timing could be made to work.

Is there currently a means to listen for the start of a connection event at the application

[2020-10-03 09:42] lowlander commented on #28822
@gmarull is the generation of those files in the `stm32_hal` repo something "a zephyr developer" does and than checks in the results, or is that something that has to happen every time a user builds something?

[2020-10-03 14:21] thoh-ot opened #28887 "Bluetooth encryption request overrides ongoing phy update"
**Describe the bug**
It has been seen that a phone can initiate an LLCP encryption request while a PHY update procedure is waiting for it's instant to pass, triggering a design bug in the LLCP implementation where the assumption is that the encryption procedure and procedures with instant are mutually exclusive, which is not the case when the instant-based procedure is complete and waiting for it'

[2020-10-03 15:08] nandojve opened #28890 "Atmel ethernet: Implement phy interrupt and use max-speed device tree field"
**Is your enhancement proposal related to a problem? Please describe.**
The Atmel GMAC currently only implements GMAC interrupt and phy INT is ignored and, as alternative, we have a pooling mode. The driver don't have a way to force speed to 10 and/or 100 Mbps. It may be useful have both options: auto negotiate and force max speed.

**Describe the solution you'd like**
Implement PHY int to handle

[2020-10-03 18:23] gmarull commented on #28822
@lowlander The idea is to have a script that generates these headers in the `stm32_hal` repository. When a new family is added, CubeMX updated... it should be run to make sure these headers are up-to-date.

[2020-10-03 21:03] AdrianEggenberger opened #28893 "Double-dot in path's may cause problems with gcc under Windows"
**Describe the bug**
In our project that is using Zephyr 2.4.0 in combination with GCC for ARM under Windows we struggled over an issue that was totally confusing. In our CMakeFiles.txt we set some additional paths for SO, BOARD and DTS. Based on our directory structure we had paths with double-dots in it (e.g. "c:/myroot/main/../device/board"). The project could be configured with cmake, but when

[2020-10-04 01:08] #26873 closed

[2020-10-04 01:09] #22198 closed

[2020-10-04 01:09] #20821 closed

[2020-10-04 01:09] #20118 closed

[2020-10-04 01:09] #19523 closed

[2020-10-04 01:09] #19511 closed

[2020-10-04 01:09] #19380 closed

[2020-10-04 01:09] #19138 closed

[2020-10-04 01:09] #17545 closed

[2020-10-04 01:09] #17300 closed

[2020-10-04 01:09] #17014 closed

[2020-10-04 01:09] #16766 closed

[2020-10-04 01:09] #16237 closed

[2020-10-04 01:09] #15372 closed

[2020-10-04 01:09] #14571 closed

[2020-10-04 01:09] #14300 closed

[2020-10-04 01:09] #13591 closed

[2020-10-04 01:09] #13244 closed

[2020-10-04 01:09] #12239 closed

[2020-10-04 01:09] #11912 closed

[2020-10-04 01:09] #12150 closed

[2020-10-04 01:45] nandojve commented on #27332
Waiting #27333 be merged. Removing Stale

[2020-10-04 07:27] zagor commented on #25907
I have submitted #28892 which implements one version of this. But due to the different nature of persistent flash logs versus normal ephemeral logs, I think we want to introduce some new APIs. Feel free to join the discussion in the PR.

[2020-10-04 11:47] pabigot commented on #28794
No longer relevant.  The existing API will be retained with documentation explaining its limitations, and new API added that doesn't have those limitations.

See https://github.com/zephyrproject-rtos/zephyr/pull/28579#issuecomment-702769208

[2020-10-04 11:47] #28794 closed

[2020-10-04 12:27] pabigot commented on #28819
A specific example of what needs to be clarified:

If in one thread I use `atomic_set(&pending, 1)` and then another thread possibly on another core uses `atomic_cas(&pending, 1, 0)` is it guaranteed the second thread will see the value as 1 (assuming no other access intervenes)?

If the answer is "no", which I think would be the case for Linux, would changing the first to `atomic_cas(&pending, 0,

[2020-10-04 15:54] JonBruchim opened #28896 "add qsort as libc extension"
qsort isn't implemented under stdlib

As we would like zephyr to have a small memory footprint,
adding this function to stdlib (as its in the standard c library) will increase the overhead
I would like to add this function under zephyr/lib/libc/minimal/

I would be glad to take this as my first issue in zephyr.

Thanks

[2020-10-04 16:20] JonBruchim commented on #24051
would like to get assigned to this issue

[2020-10-04 16:45] ppeetteerrs opened #28897 "SPI does not work for STM32 min dev board"
**Describe the bug**
Using Zephyr's SPI driver, I am unable to write / read bytes to the SPI slave. The default port mappings are used. With the same configuration, the Arduino framework works perfectly fine.

**To Reproduce**

This is my `main.cpp` and `prj.conf`
[code]

[code]

**Expected behavior**
The code is expected to run smoothly.

**Logs and console output**
The Serial print shows an erro

[2020-10-04 17:51] retfie opened #28898 "lwm2m_client can't start if mcuboot is enabled"
**Describe the bug**
lwm2m_client can't start if build with CONFIG_BOOTLOADER_MCUBOOT=y

**To Reproduce**
`cd zephyrproject`
`
west build -b nrf52840dk_nrf52840 -s bootloader/mcuboot/boot/zephyr -d build-mcuboot
`
`
west flash -d build-mcuboot
`
`west build -b nrf52840dk_nrf52840 -s zephyr/samples/net/lwm2m_client -- -DCONFIG_BOOTLOADER_MCUBOOT=y
-DCONFIG_MCUBOOT_SIGNATURE_KEY_FILE=\"bootloader/mc

[2020-10-04 17:53] vikrant8051 commented on #28739
Hi @trond-snekvik
Yes, as per implementation without proper provisioning & configuration of Clients (Buttons), they don't work like in case of onoff-app since buttons functionality is altogether different.

I intentionally did it, so that Clients (Buttons) get isolate from Servers (LEDs).

[2020-10-04 17:56] andrewboie opened #28899 "memory-mapped thread stacks to catch overflows"
**Is your enhancement proposal related to a problem? Please describe.**
On MMU devices, we do not memory map stacks, other than their permanent mapping in RAM, which requires a read-only *physical* page to catch overflows to be reserved. This wastes 4K of physical memory per thread stack (see the `guard_page` member of `struct z_x86_thread_stack_header`.

We don't clean these up at thread exit eit

[2020-10-04 18:52] andrewboie opened #28900 "add support for memory un-mapping"
**Is your enhancement proposal related to a problem? Please describe.**
We currently can only map memory, but not un-map it. We have a use-case for un-mapping memory to support memory-mapped stacks, as detailed in #28899.

Virtual address space management is a topic with a great deal of reading material in computer science literature and many approaches are possible. You can get really complex wit

[2020-10-04 20:39] andrewboie commented on #28819
Nearly all systems, including all of our SMP-enabled arches, use the GCC builtins with `__ATOMIC_SEQ_CST` which is documented as "Enforces total ordering with all other __ATOMIC_SEQ_CST operations".

https://gcc.gnu.org/onlinedocs/gcc/_005f_005fatomic-Builtins.html

I haven't looked at how Linux implements atomic ops, I try to avoid looking at Linux source as much as I can for obvious reasons.

Ce

[2020-10-04 22:18] andrewboie opened #28901 "implement searchable bitfields"
**Is your enhancement proposal related to a problem? Please describe.**
This is related to #28900 and will be used to improve management of pages in the virtual address space, which currently can be allocated but not freed. We want to manage the address space using a searchable bitfield instead.

**Describe the solution you'd like**
For a bitfield defined with something resembling:

[code]
which e

[2020-10-05 01:08] #20980 closed

[2020-10-05 01:08] #20337 closed

[2020-10-05 01:08] #19467 closed

[2020-10-05 01:08] #12368 closed

[2020-10-05 01:08] #12353 closed

[2020-10-05 07:25] #15713 closed

[2020-10-05 07:45] joerchan commented on #28809
There is no means to flush, so I think the best is to simply keep one notification queued, and not send a new one before you receive the sent callback. De-registering wouldn't flush anything.

[2020-10-05 08:13] armandciejak opened #28908 "The same buffers are shared by the 2 Ethernet controllers in the eth_mcux driver"
**Describe the bug**
Some i.MX RT have 2 independent Ethernet controller but the driver uses the same TX and RX data buffers for both controllers.

**To Reproduce**
The problem is in `eth_mcux_init` the `buffer_config` uses the same buffers for all controllers.

**Expected behavior**
Use different buffers for each Ethernet controller instances.

**Impact**
Prevent using the 2 Ethernet controllers.

[2020-10-05 08:14] armandciejak commented on #28908
I have a fix ready that I'm currently testing, I'll create a PR soon.

[2020-10-05 09:26] lowlander commented on #28897
@ppeetteerrs can you try `CONFIG_SPI_STM32_USE_HW_SS=n` ?

[2020-10-05 09:29] lowlander commented on #28897
@ppeetteerrs and what SOC are you using ?

[2020-10-05 09:31] lowlander commented on #28833
@LuxLuthor what SOC are you using ?

[2020-10-05 09:34] LuxLuthor commented on #28833
I use ST32WB55RG

[2020-10-05 09:46] lowlander commented on #28833
Hmm one of the only few STM SOC's I don't have :-/

But I assume the problem happens on all STM32 SOC's, I am not sure if it can be fixed, will have to dive deeper into the DMA/SPI documentation to see how it can be done.

You mean not being able to use DMA + HW CS, right ?

For your use case would using "software" CS be a workaround, or is there a special reason you want/need "hardware" CS suppor

[2020-10-05 09:47] #28544 closed

[2020-10-05 09:50] armandciejak commented on #28908
My changes are done on top of #28874, therefore I'll wait for it to be merged before creating a PR.

[2020-10-05 09:55] LuxLuthor commented on #28833
I would guess that this is visible on every STM32. Using software CS would be a workaround but I looked into driver code and moved turning SPI peripheral ON and OFF outside while loop that is handling iteration over buffers. It seems to work well now. I will make pull request later today.

[2020-10-05 10:02] lowlander commented on #28833
We will really have to double check if that doesn't have any side effects, the DMA timing is a bit tricky.  But we can discus that in your PR.

[2020-10-05 10:40] carlescufi commented on #28809
@justinleavesley the BLE spec doesn't allow packets that have been sent from the Host to the controller to be flushed. So the only opportunity here would be to flush while they are still queued in the Host, but that would probably not solve your problem given that the Host is likely to have sent them to the controller already.

[2020-10-05 11:34] cvinayak commented on #28887
BT Spec Version 5.2, Vol 6, Part B, Section 5.1.10 PHY Update Procedure

• an LL_REJECT_EXT_IND PDU has been sent or received;
• an LL_PHY_UPDATE_IND PDU indicating that neither PHY will change has
been sent or received; or
• the master sends an LL_PHY_UPDATE_IND PDU indicating that at least
one PHY will change and the instant has been reached. In this case, the
procedure response timeout shall be

[2020-10-05 12:25] tobyfirth opened #28912 "Incorrect macro being used to init a sflist"
**Describe the bug**
I noticed that the init macro used for the list in the Z_QUEUE_INITIALIZER macro is the slist macro not the sflist macro as the list type was changed to be a sflist.

**To Reproduce**
Line 2150 in [kernel.h](https://github.com/zephyrproject-rtos/zephyr/blob/master/include/kernel.h#L2150) reads

**Expected behavior**
Line 2150 in [kernel.h](https://github.com/zephyrproject-rtos

[2020-10-05 12:41] tejlmand commented on #28893
@AdrianEggenberger This is related to this:
https://github.com/zephyrproject-rtos/zephyr/issues/26112

Please ensure your paths are CMake style by using:
[code]
see more here:
https://github.com/zephyrproject-rtos/zephyr/pull/27839

[2020-10-05 12:57] endian-benjamin opened #28916 "net_if_down doesn't clear address"
**Describe the bug**
When trying to implement PPP stop/start with GSM, I noticed that that on the second time we bring up the network interface, the IPCP negotiations go through fine, but the iface address wasn't updated - there is a stale ipv4 unicast address associated with the iface.

After much GDB fussing, I found that `net_if_ipv4_addr_add` is called, but it can't add the new IP because the

[2020-10-05 12:59] endian-benjamin commented on #28916
See #28917

[2020-10-05 13:12] erwango commented on #28872
@Cimex97 Hard to reproduce w/o the matching HW. Can you enable CONFIG_BT_DEBUG_HCI_DRIVER ?

[2020-10-05 13:34] pabigot commented on #8496
@nashif Yes, I was confused; it's not mutex but synchronization between ISR and non-ISR that needs a solution for no-multithreading.

Back to the original question: If we're going to use a lock wrapper around semaphore to control mutex for drivers, does that lock require support for a timeout?  @tbursztyka relates to your #24511.

In #25678 I'd thought that priority inheritance might be a useful f

[2020-10-05 13:36] koffes commented on #26142
The discussed PRs have been merged, and the manifest for libmetal has been updated. Now, just missing an update for open-amp.

[2020-10-05 13:36] ppeetteerrs commented on #28897
Hi, I tried with `CONFIG_SPI_STM32_USE_HW_SS=n` and it still shows error code -22. I have attached my `platformio.ini` below:
[code]

[2020-10-05 13:38] ppeetteerrs commented on #28897
Adding `spi_cfg.slave = 1` also doesn't help.

[2020-10-05 14:00] erwango commented on #28670
@Zzzwierzak This behavior is the direct consequence of STM32WB Flash memory management as described in AN5289.
According to this, flash write/erase operations from CPU1 (where Zephyr is running) should be done after sending SHCI_C2_FLASH_EraseActivity(ERASE_ACTIVITY_ON) to CPU2. This cannot be done before SHCI init.

One way to workaround this issue (to be tested) would be to move CPU2 init out of

[2020-10-05 14:30] Cimex97 commented on #28872
Here is the output with `CONFIG_BT_DEBUG_HCI_DRIVER=y`
[code]

[2020-10-05 14:41] LuxLuthor commented on #28833
I removed only disabling SPI peripheral. TXDMAEN RXDMAEN stayed in place. Tested on WB55RG with Winbond W25Q and works fine. Enabling/disabling TXDMAEN RXDMAEN while SPI enabled does not seem to be against manual.

[2020-10-05 14:45] carlescufi commented on #18473
@rettichschnidi How about we move the information you have in [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/18473#issuecomment-522350121) over to the body of this issue? You could even turn it into a table, feel free to use [this tool](https://www.tablesgenerator.com/markdown_tables) if it makes it easier for you. Then we can add more info to the table, such as the one you pro

[2020-10-05 14:46] CodingGhost opened #28921 "MCUboot / smp_svr sample broken in 2.4.0"
**Describe the bug**
since 2.4.0 the smp_svr sample is broken.
I have exactly followed the instructions, but it does not work, its also confirmed by sombody else.
Mcuboot runs fine, but as soon as it jumps to the smp_svr sample its just dead and nothing happens anymore. its also not advertising. This only happens when using the overlay-bt, overlay-bt-tiny works fine. It seems like it has something

[2020-10-05 14:46] carlescufi commented on #18473
@rettichschnidi also please add @gmarull to the future table: https://teslabs.com/

[2020-10-05 14:58] vandita5 commented on #28876
while trying to run build for a new app in the same folder, got this error. the -p auto should have cleaned up the previous build by itself, right?
![image](https://user-images.githubusercontent.com/6642393/95096013-c237eb00-06f9-11eb-9f91-767d95d9b988.png)

[2020-10-05 15:21] mbolivar-nordic commented on #12985
@henrikbrixandersen I'm going to drop the milestone as I don't have any plans for working on this at the moment.

[2020-10-05 15:23] sdalu opened #28925 "west failed due to empty value in self.path"
Tested with west 0.8.0 on FreeBSD system

If self.path is changed to use manifest-repo, everything is working fine

Error message
[code]

Manifest used in T3 configuration. manifest is put in it's own `manifest-repo` directory
[code]

`.west/config` file
[code]

[2020-10-05 15:36] Ripitchip commented on #28739
I tried to activate the log through the prj.conf file where I uncommented the following lines :
CONFIG_BT_MESH_DEBUG=y
CONFIG_BT_MESH_DEBUG_PROV=y
CONFIG_BT_MESH_DEBUG_MODEL=y
CONFIG_BT_MESH_DEBUG_ACCESS=y
(let me know if others should be uncommented).

In the attached log file you can see the log output for every action I've done to set up the vendor model.
[Logs.txt](https://github.com/zephyrpro

[2020-10-05 15:47] mbolivar-nordic commented on #28925
[code]

Can you explain why this is here? The semantics of `self: path: foo` are to place the manifest repository at path `foo` during `west init`, so leaving this as an empty string is not going to lead to good results.

Do you still see this if you delete this entire `self:` map?

[2020-10-05 15:48] mbolivar-nordic commented on #28925
@tejlmand either way I think we need to avoid a stack trace here. Need to see if it's a zephyr_module.py issue or if west.manifest should reject this manifest completely

[2020-10-05 16:12] sdalu commented on #28925
Building fine without the `self:` section.

For the:
[code]
I don't remember exactly where I got it but I think it was the recommended way in previous (2.0 ?) documentation for T3 forest topology

[2020-10-05 16:27] trond-snekvik commented on #21119
I have published the [Devicetree extension](https://marketplace.visualstudio.com/items?itemName=trond-snekvik.devicetree) now as well.

Before publishing, I rewrote most of it to provide full language support for all Devicetree files, and process the C preprocessor symbols, allowing overlays, board files and shields to be included in the processing. It has quite a bit more features than the kconfi

[2020-10-05 16:34] beriberikix commented on #21119
Someone should create a Zephyr [extension pack](https://code.visualstudio.com/api/references/extension-manifest#extension-packs)! Perhaps it can be officially managed by a maintainer :)

[2020-10-05 16:55] mbolivar-nordic commented on #28876
Hi @vandita5, and thanks again for the detailed report. I tried to reproduce this on Windows 10 but I can't. I get no error in your step 5. When doing a verbose build, I get:

[code]

Can you please help me understand what's going on on your computer by running this exact command in step 5:

[code]

**Notice how there are three v's**: `-vvv`, NOT `-v`, in the command I'd like you to run.

If you c

[2020-10-05 17:17] ppeetteerrs commented on #28897
Okay, apparently defining the arrays using `static uint8_t* tx_buf;` solved the issue. Managed to solve this thanks to one line of comment saying we should pass arrays as pointers inside the documentation for syscalls.

[2020-10-05 17:18] vandita5 commented on #28876
@mbolivar-nordic I tried doing this now but sadly couldn't reproduce it either. It is a bit finicky for me. I have to delete the build folder quite a few times when trying something new. like today I was trying to build for a custom board and saw this issue. I don't have a reproducer sadly but I will try running with -vvv when I encounter this problem next.

[2020-10-05 17:26] mbolivar-nordic commented on #28925
This manifest is not well-formed; if you can point to some documentation that recommends doing it that way, I will fix it. I don't see any in master.

I think this is therefore not a bug, but a malformed manifest. I've sent a PR to west which rejects this kind of manifest so it doesn't cause confusion in the future: https://github.com/zephyrproject-rtos/west/pull/446

[2020-10-05 17:29] vandita5 commented on #28876
I had a similar issue though it might not be the same. Today when I was trying to add a custom board, one error that I am able to reproduce was that when I gave the wrong BOARD_ROOT, changing it to the correct one and then running west build again always resulted in a permissions error. but running the build command one more time resolves or also resolved by deleting build folder.
steps:
1. west b

[2020-10-05 17:29] mbolivar-nordic commented on #26219
@pabigot @nordic-krch I suggest that bd860783761b2a6a2d4ae6d0f4276035f1de6317 resolves this issue -- @pabigot please close if you agree.

[2020-10-05 17:29] vandita5 commented on #28876
I'm not able to reproduce any of the other times that I had to delete build folder.

[2020-10-05 17:35] mniestroj commented on #28921
Bisect shows:
[code]

It turns out that stack protection is enabled by default in mcuboot after this commit. Then, after we jump from bootloader to application code, we end up being "catched" by hw stack protection mechanism.

The solution for now seems to be setting `CONFIG_HW_STACK_PROTECTION=n` in mcuboot. Here is PR to mainline mcuboot: https://github.com/JuulLabs-OSS/mcuboot/pull/828.

[2020-10-05 17:48] ppeetteerrs commented on #28897
Sorry, this is not fixed actually.

[2020-10-05 17:49] MaureenHelm commented on #18473
We now have a services page: https://zephyrproject.org/member-offerings/

Please contact @kestewart about getting listed.

[2020-10-05 18:30] mbolivar-nordic commented on #9406
@erwango do you still think this is needed?

Thinking about this a bit more, Kconfig options whose values can be determined from the devicetree can do this with the features in kconfigfunctions.py.

You can do this with:

[code]

Any other features we need can similarly be implemented with kconfigfunctions. Do you have any features covered in this issue that are not already supported in this way?

[2020-10-05 18:41] mniestroj opened #28933 "mcuboot: Brick when using BOOT_SWAP_USING_MOVE and reset happens during images swap"
**Describe the bug**
Interrupted swap of images when **swap_move** (`CONFIG_BOOT_SWAP_USING_MOVE=y`) strategy (default for nRF chips) is selected, can end up in "bricked" state. Possible workaround is to use **swap_scratch** (`CONFIG_BOOT_SWAP_USING_SCRATCH=y`) strategy, which doesn't seem to have this specific issue.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -d build_boot

[2020-10-05 18:49] erwango commented on #9406
@mbolivar

This is exactly what we're doing right now :-)
While this is not as nice as I had though it could have been, this is working indeed.

I think this point can be closed and new requests should be made on the new base we have today.

[2020-10-05 18:49] #9406 closed

[2020-10-05 18:54] lochej opened #28934 "pinmux: stm32: port remaining pinctrl DT serial definitions for STM32 based boards"
**Is your enhancement proposal related to a problem? Please describe.**
The new pinmux configuration method introduced in #25996 means all of the STM32 based boards need to be updated to the new method.

For this we need to remove the USART/LPUART/UART definitions from **pinmux.c** file and add the corresponding pinctrl nodes to the boards' device tree.

**Describe the solution you'd like**
An ide

[2020-10-05 18:55] lochej commented on #28934
@erwango @gmarull Looks like we have some job to do to port all of these boards. I can help you of course for review and porting.

[2020-10-05 18:57] pabigot opened #28935 "support code coverage in unit tests"
Coverage of standard tests can be done with a command like:

    sanitycheck --platform native_posix_64 -C -T tests/lib/onoff/

This doesn't seem to work for unit tests:

[code]

It'd be nice to have coverage for these tests.

[2020-10-05 18:57] pabigot commented on #28935
Not sure who should take this.

[2020-10-05 19:06] erwango commented on #28934
@lochej Thanks for you help and interest. And besides serial and PWM, I'd like all the existing peripheral drivers (not only serial) to be converted so pinmux.c files could be removed before V2.5.0 code freeze (next January).
Before starting this task myself, I was letting some time to see if there was some activity on on community to help. But for now, aside from you 2, this is calm....

[2020-10-05 19:20] lochej commented on #28934
Agreed, that would be great ! USART and PWM are almost done.
That leaves, I2C, SPI, ADC, DAC, CAN, USB, SDIO and ETH to be done.

True, seeing the amount of work remaining, some help would help a lot.

[2020-10-05 19:21] mbolivar-nordic commented on #28925
Since https://github.com/zephyrproject-rtos/west/pull/446 is merged, I'm going to close this. I think I've answered the questions about best practices around `self: path:` in the PR comments there as well -- there's no "one size fits all" answer; it's really up to the user. Please LMK if you think any docs are still missing and I will send an update.

[2020-10-05 19:21] #28925 closed

[2020-10-05 19:27] ravnicas opened #28938 "EFR32BGx Bluetooth Support"
Hello folks,

im using an EFR32BG1P part which is at least at the moment not in zephyrs device tree, but the EFR32BG13P is, which is almost the same part.
I've added the missing definitions for my part and board efr32_radio_brd4100a which would be similar to the existing efr32_radio_brd4104a board. I can compile and run simple samples, but none of the bluetooth samples do start or to some extent e

[2020-10-05 19:36] #28589 closed

[2020-10-05 19:58] pabigot commented on #26219
This went back and forth on so many levels I have no idea what the status is, but since I will have what I need once #26062 and #27761 get in I'm pretty sure this isn't relevant any more.

[2020-10-05 19:58] #26219 closed

[2020-10-05 20:53] Nukersson opened #28941 "Civetweb: create separate directory"
**Is your feature request related to a problem? Please describe.**
CivetWeb using samples have potential to spread over multiple directories (especially after merging of #28323).

**Describe the solution you'd like**
Put all CivetWeb using samples into one `civetweb` root directory. Thus allowing http/websocket and many more CivetWeb based samples existing in one root directory (e.g. `samples/net/

[2020-10-05 20:54] Nukersson commented on #28941
@jukkar It was mostly your idea, to put CivetWeb samples into same root directory. Please provide short look at this issue.

[2020-10-05 21:05] gmarull commented on #28934
I think #28858 will help on introducing a substantial amount of pinctrl includes, a work that only needs to be done once per board. It is the most tedious part IMO. We can probably can come up with a script to semi-automate the rest, even though I have found some small problems when porting PWM (missing or wrong entries), so manual inspection will be required.

[2020-10-05 22:48] rettichschnidi commented on #18473
@carlescufi I like the idea of having a proper table. However, what about creating a page in the Wiki instead of this issue (where only me and some maintainers?) can edit it?

@MaureenHelm Will it be possible for non-members (e.g. independent contractors, small companies, etc.) to be listed on this page? If so, I'm in favor of closing this issue.

[2020-10-05 23:29] evgeniy-paltsev opened #28942 "ARC: nsim_hs_smp: huge zephyr.hex file generated on build"
**Describe the bug**
Build for ARC nsim_hs_smp board generates huge zephyr.hex file (5.7G for sample.basic.helloworld)
Most likely it is caused by big empty hole in memory layout.

We should to check if we can disable zephyr.hex generation in case of nsim_hs_smp or adjust memory layout.

The file is generated even if it is disabled in .config:
[code]

**To Reproduce**
Steps to reproduce the behavi

[2020-10-06 01:07] #27031 closed

[2020-10-06 01:07] #19435 closed

[2020-10-06 01:07] #9944 closed

[2020-10-06 01:07] #9783 closed

[2020-10-06 01:07] #9403 closed

[2020-10-06 01:08] #8008 closed

[2020-10-06 01:08] #7939 closed

[2020-10-06 01:08] #6818 closed

[2020-10-06 01:08] #7331 closed

[2020-10-06 01:08] #3441 closed

[2020-10-06 01:30] #28912 closed

[2020-10-06 02:03] mbolivar-nordic commented on #28876
I see what's going on. I'll send a patch tomorrow after I've done some more testing. Thanks again.

[2020-10-06 02:33] JordanYates commented on #28921
The actual error condition (for my applications at least).

`CONFIG_HW_STACK_PROTECTION`  changes the default on `ARM_STACK_PROTECTION`, which selects `MPU_STACK_GUARD`.
`MPU_STACK_GUARD` sets a region towards the start of RAM to be Read-Only in the bootloader when the thread is loaded.
This region is still configured when the application is jumped into.

`z_bss_zero` in `z_cstart` attempts to zer

[2020-10-06 05:51] ppeetteerrs commented on #28897
Okay, I figured out its the frequency issue. Not sure why too low of a frequency causes the error.

[2020-10-06 05:51] #28897 closed

[2020-10-06 05:52] martinjaeger commented on #23282
@nslowell Just finished to propose a draft implementation of a software watchdog. Please have a look at PR https://github.com/zephyrproject-rtos/zephyr/pull/28947. Happy to receive some feedback about the approach.

[2020-10-06 06:10] mkarhumaa opened #28948 "hci_usb: ACL transfer not restarted after USB Suspend - Resume"
**Describe the bug**
hci_usb sample does not tolerate USB Suspend - Resume cycle. USB transfer for ACL data is not restarted after host has done Suspend - Resume to the device.

From USB debug logs we see that when host does Suspend, Zephyr cancels the pending transfer:
[code]

Then on Resume, transfer is not started for ep 0x01:
[code]

Then when connecting to another device through bluetoothctl,

[2020-10-06 06:27] vikrant8051 commented on #28739
@carlescufi @trond-snekvik
Issue has resolved & could close now.

[2020-10-06 06:51] Ripitchip commented on #28739
It's not resolved...

I'm simply showing up that :
1) If I do the generic on/off app it works as expected.
2) If I do the vendor model it doesn't publish (displaying of error -49, when clicking on a button), even though it seems to me I have the same logs as with on/off app (for adding the app key and publish/subscribe group address). BUT I'm able to send vendors model to one particular device.

[2020-10-06 07:14] jukkar commented on #28941
Agreed with separate directory. The `samples/net/civetweb/` is good place to put the sample apps.

[2020-10-06 07:17] jukkar commented on #28916
If user/app sets an IP address manually, we should not clear it automatically by `net_if_down()`. The one who set the address is responsible clearing it.

[2020-10-06 07:26] trond-snekvik commented on #28739
I made a PR removing the pre-provisioning button text from the readme of this sample: https://github.com/zephyrproject-rtos/zephyr/pull/28949

Just to confirm, in publisher.c, you're removing the defines for `ONOFF` and `GENERIC_LEVEL`, and defining `VND_MODEL_TEST`? By default, this module publishes on the onoff model, and the model selection has to be made at compile time.

I'm not able to repro

[2020-10-06 07:50] Navin-Sankar commented on #28469
@anangl By default nrf52840dk board uses LFCLK(rtc) as a system clock. How to switch the clock to HFCLK(systick timer)?

[2020-10-06 08:10] retfie commented on #28898
One working solution for now is #28931 by setting CONFIG_HW_STACK_PROTECTION=n in mcuboot according to this PR into mainline mcuboot: JuulLabs-OSS/mcuboot#828.
With this change I was able to get pretty big example running after control was passed from mcuboot.

[2020-10-06 08:52] Kludentwo opened #28953 "winc1500 driver blocks on listen"
**Describe the bug**
Using the winc1500 wireless device, listen calls from application block.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p -b frdm_k64f zephyr/samples/net/sockets/dumb_http_server -DSHIELD=adafruit_winc1500
2. west debug
3. (gdb) b socket_dumb_http.c:60
4. (gdb) c

**Expected behavior**
sample runs to breakpoint.

**Actual behaviour**
sample is stuck in winc1

[2020-10-06 09:14] kurddt opened #28955 "undesired kernel debug log"
**Describe the bug**
If the default log level is set to debug, there is no way to remove some of the kernel debug log. regardless of the value of `CONFIG_KERNEL_LOG_LEVEL` some kernel debug log are present

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Hello word sample application folder
2. Edit `prj.conf` and add:
[code]
3. Build & run the sample
4. Some kernel debug log are pre

[2020-10-06 09:19] endian-benjamin opened #28956 "API-less devices aren't findable"
`device_get_binding(NAME)` can't find devices without API structs defined because of

[code]

This seems like a pretty cheap hack, since all devices do not have a driver API but should still be findable (for instance because they have a power management API). Successfully initialized is NOT equivalent to `driver_api != NULL`.

I currently have no alternative solution to checking if the device was

[2020-10-06 09:21] Ripitchip commented on #28739
Ah ! It's what I was missing ! I though it was enough to set up the model correctly through meshctl or nRF Mesh and didn't see there is a filter in the code.

My bad.

Thanks very much for your help !

[2020-10-06 09:21] #28739 closed

[2020-10-06 09:23] endian-benjamin commented on #28956
Ah, I see this has been modified in latest upstream...

[2020-10-06 10:00] anangl commented on #28469
@Navin-Sankar Try to use this in your configuration:
[code]

[2020-10-06 11:39] cvinayak opened #28959 "Bluetooth: controller: Use inline wrapper function where applicable"
**Is your enhancement proposal related to a problem? Please describe.**
Refer to: https://github.com/zephyrproject-rtos/zephyr/pull/28932

**Describe the solution you'd like**
Refer to: https://github.com/zephyrproject-rtos/zephyr/pull/28932#issuecomment-704074630

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2020-10-06 11:46] emob-nordic commented on #28948
@mkarhumaa Please see the linked PR and test if it works for You, please.

[2020-10-06 12:12] mkarhumaa commented on #28948
@emob-nordic Thank you for quick fix. Your fix seems to be working fine. :+1:

[2020-10-06 13:05] nashif commented on #28935
```sanitycheck -p unit_testing -T tests/unit/crc --coverage```

[2020-10-06 13:07] nashif commented on #28935
unit tests are not run with native_posix, they are built as host binaries, you need to use special board 'unit_testing' for this.

[2020-10-06 13:13] hendriklehmkuhl opened #28962 "Support SPI frame sizes larger than 64 bit"
**Is your enhancement proposal related to a problem? Please describe.**
We would like to transmit SPI frames with a frame size of 480 byte to control an LED strip but the Zephyr SPI configuration struct (see spi.h) only supports a maximum frame size of 64 bit since the field word_size can only hold 6 bit. We are currently working with the NXP RT1064 evaluation board which SPI driver supports frame

[2020-10-06 13:19] Zzzwierzak commented on #28670
@erwango Can you provide example (or diff) what should be moved from open function to driver init?

How big will be impact of this change on power consumption in low power states comparing to application that is not performing bt open(without proposed change)?

[2020-10-06 13:35] pabigot commented on #28935
OK, confirmed that this works.  Seems like this should be documented somewhere, probably in `coverage.rst`.  Do you want to do that @nashif or should I do it?

[2020-10-06 13:54] nashif commented on #28935
be my guest.

[2020-10-06 13:55] carlescufi commented on #28938
Is this a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/11773?

This is blocked by https://github.com/zephyrproject-rtos/zephyr/issues/17005

[2020-10-06 14:03] utzig commented on #28933
I was able to reproduce what I suppose is a similar issue (also bricking) on the `frdm_k64f` but only seems to happen when using `--pad --confirm` in step 4; padding+confirming the image in the primary slot is completely unnecessary, would you mind giving a try without passing those flags? In the interim I'll check if I can reproduce the issue in the simulator, so hopefully it will be easy to fix.

[2020-10-06 14:34] endian-benjamin commented on #28916
Merged

[2020-10-06 14:34] #28916 closed

[2020-10-06 14:49] JonBruchim commented on #28896
@nashif

[2020-10-06 15:10] gregshue commented on #28438
I have created a proposed implementation for this example at https://github.com/gregshue/oot_module_example. It does not have a board, driver, or dts implementation, but provides the structure and documentation to hold them.  I would submit this as a PR but the Zephyr Project repository has not yet been created.

I will post an RFC for this proposal below.

@carlescufi @tejlmand Is there anything

[2020-10-06 15:10] gregshue commented on #28438
## Introduction

Establish an out-of-tree module example (boilerplate) repository
demonstrating how to extend open-source repositories to also be
Zephyr out-of-tree modules.

### Problem description

Users will be creating and integrating open source and private out-of-tree
extensions to the Zephyr ecosystem. To be successful the Zephyr support for
out-of-tree integration needs to be more formally

[2020-10-06 15:39] nashif commented on #28854
We probably should not be using `#if` here and instead use #if defined()

[2020-10-06 16:08] govindadas commented on #25015
Any news on Isochronous Channels support in the Controller? There is (LE Audio) Host code in the Zephyr 2.4 release but it is not supported by the controller.

Is it possible to decuple the controller from the profiles? Isochronous Channels in the controller are important to me but I'm not a Bluetooth member.

[2020-10-06 17:02] carlescufi commented on #22748
API meeting 6th October 2020:

@erwango describes the current state of the pinctrl API and bindings today.

Usecases:

- Runtime PIN control: to what extent?
- I2C and GPIO on the same set of pins to reset the bus

What do we want to achieve?

- A generic pinctrl API for drivers to map pins to functions. The mapping could come from Devicetree or be populated at runtime by the caller
[code]

- An A

[2020-10-06 17:05] #28709 closed

[2020-10-06 17:07] pabigot commented on #28956
Also #28873 is relevant, but I believe this specific concern isn't an issue now.  Re-open if necessary.

[2020-10-06 17:34] andrewboie opened #28970 "clarify thread life-cycle documentation"
**Describe the bug**
Noted in code review for https://github.com/zephyrproject-rtos/zephyr/pull/28926. The documentation states:

This is apparently very old. Re-visit this to make clear what limitations the kernel has with respect to thread lifecycle and thread object re-use.

[2020-10-06 17:49] #28956 closed

[2020-10-06 18:49] Nukersson commented on #28934
@erwango @lochej From my side until the end of the week I will bring my board `nucleo_h745zi_q` to pinctrl approach and remove `pinmux.c`. I will also intensively test each my PR on this way. Currently only `u(s)art` part is moved to pinctrl. In the next PR the whole board will be moved to it.

P.S. ST just provides too much dev boards 🥇 ;)

[2020-10-06 18:58] lochej commented on #28934
Great to hear ! I've ported the rest of the ST based boards to the pinctrl DT definitions. For now, only PWM and SERIAL are ready for pinctrl DT.
But once I2C/SPI and stuff get ported (the driver code is the base so that dt-binding are found) then we'll be able to port all other boards to it.

Though I don't know if we should wait until all drivers have been ported to DT and then do a full upgrade

[2020-10-06 19:14] galak commented on #28934
I was wondering if we can convert the dts's over and use the defines in pinmux.c until the drivers are changed to support DTS.

[2020-10-06 20:15] lochej commented on #28934
That might actually be possible, but we need to provide the dts-bindings for each peripheral right ?

[2020-10-06 20:22] galak commented on #28934
The binding on the peripheral side is just:

[code]

[2020-10-06 20:28] galak commented on #28934
Looks like the rough list of devices is:
- UART/LPUART/USART
- PWM
- I2C
- ETH
- SPI
- CAN
- ADC
- USB/OTG
- DAC
- I2S
- SDMMC

[2020-10-06 20:33] andrewboie opened #28976 "sanitycheck failing all tests for nsim_em7d_v22"
**Describe the bug**
Running sanitycheck with `nSIM, Version: 2019.09 (Build: 013_FREE)` in my PATH. All tests appear to be timing out with no output.

[code]

Please either address the problems with this build target or remove it from sanitycheck's set of board targets.

[2020-10-06 21:47] eugmes opened #28979 "Automatic reviewer assignment for PR does not seem to work anymore"
**Describe the bug**
Newly created PRs don't get reviewers assigned automatically anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a PR changing some files.
2. See that there are no reviewers assigned.

**Expected behavior**
Required reviewers are assigned automatically.

**Impact**
PRs have no reviewers and no way to add reviewers manually.

**Additional context**
Here are tw

[2020-10-06 22:14] dleach02 commented on #26488
Release of KW41Z SDK 2.2.3 fixes this. Will update documentation to ensure folks grab this release if trying to use the frdm_kw41z shield for BLE

[2020-10-06 23:08] #28935 closed

[2020-10-06 23:13] albertofloyd commented on #26889
@nashif  yes.
Need a way to bypass power subsystem policy and force sleep state from usermode side.
If only possible from supervisor thread when MMU is being used that still enables the scenario we want to cover

[2020-10-06 23:18] MaureenHelm commented on #18473
@kestewart could you please comment?

[2020-10-06 23:46] mbolivar-nordic commented on #28876
@vandita5 PR posted: https://github.com/zephyrproject-rtos/zephyr/pull/28981

[2020-10-07 01:48] MaureenHelm commented on #28979
Fixed by #28983

[2020-10-07 01:48] #28979 closed

[2020-10-07 03:15] jjmilburn commented on #28854
I'm happy to push a trivial PR with something like:

[code]

or

[code]

if preferred.

[2020-10-07 05:47] Navin-Sankar commented on #28469
@anangl working perfectly.

[2020-10-07 05:47] #28469 closed

[2020-10-07 07:17] martinjaeger opened #28990 "Docs: Dead links to sample source directories"
Links to sample source files point to `docs.zephyrproject.org` instead of `github.com`.

Example: https://docs.zephyrproject.org/latest/samples/net/gsm_modem/README.html

Link behind `samples/net/gsm_modem` points to:

```https://docs.zephyrproject.org/blob/master/samples/net/gsm_modem```

instead of:

```https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/net/gsm_modem```

[2020-10-07 07:33] PerMac commented on #25719
This looks like a higher priority than low (probably medium). Currently, this is the issue that prevents us from having green builds. During most of the runs, it happens that there is one false negative due to this error. It also seems that a test which failed due to this is not repeated with --retry-failed. @nashif I can try making a patch that will fix retrying of such cases for now, but it won'

[2020-10-07 08:20] BOZHENG001 opened #28992 "Need for samples for Isochronous Channels feature"
**Is your feature request related to a problem? Please describe.**
I can see Zephyr 2.4.99 supporting the BLE new feature Isochronous Channels, and I also found the files and codes relating to it, but I cannot find any samples telling me how we can use it.

**Describe the solution you'd like**
It would be better if we can have some samples similar to "central_hr" and "peripheral_hr" telling us how

[2020-10-07 09:21] erwango commented on #28670
@Zzzwierzak You can check https://github.com/erwango/zephyr/tree/fix_wb_early_c2_init for the code impact and have a test.
One consequence on power side is the activation of ABH3 bus clock. Though, I need to check more for the impacts on consumption in low power states.

[2020-10-07 10:09] erwango commented on #28670
One thing to consider on the LPM impact is the typical lifecycle of your product:
What we're doing with this change is to move C2 init from `bt_enable` to boot time. So power consumption will be the similar to what you get after `ble_enable`. Since, after bt_enable, there is no way to disable BLE stack (AFAIK), C2 will be enabled for the rest of the time the product is switched on.
Does it make a

[2020-10-07 10:24] mniestroj opened #28998 "net: if: extend list of admin/operational states of network interface"
**Is your enhancement proposal related to a problem? Please describe.**
Currently there is a single flag (`NET_IF_UP`) that controls and notifies whether interface is ready (up) or not (down) for data transmission. It is set or cleared using `net_if_up()` and `net_if_down()` APIs. With current documentation it is not clear whether those functions are intended to be used by network drivers (e.g. to

[2020-10-07 10:27] erwango opened #28999 "STM32: Transition to device tree based pinctrl configuration"
Following merge of https://github.com/zephyrproject-rtos/zephyr/pull/25996, STM32 boards should now be converted to the use of device tree pinctrl definitions.

This ticket aims at tracking the task completion:
| Drivers (PR) | Status | Boards | Status | Macros deprecation | Status |
| --- | --- | --- | --- | --- | --- |
| Serial (#25996)  | Merged  | #28954, #28940 | Merged | #29723 | Review |
|

[2020-10-07 10:27] nvlsianpu commented on #28803
https://github.com/JuulLabs-OSS/mcuboot/issues/833 is related to this ticket.

[2020-10-07 11:41] endian-benjamin commented on #28998
Very good initiative.

[2020-10-07 12:25] erwango commented on #28934
I'm not quite in favor of this approach. Converting is one thing, but testing and reviewing is also required.
Having small PRs is indeed more tracking effort but easier to review.

[2020-10-07 12:38] nashif commented on #28990
@utzig you recently made a change here (#28245), can you please take a look?

[2020-10-07 12:54] eyuval opened #29003 "memory corruption in pkt_alloc"
When pkt_alloc is called with a timeout (CLONE_TIMEOUT=100ms)  and there is no free buffer, k_mem_slab_alloc returns a 0 value (OK) but the returned pkt is NULL. Since afterwards the pkt pointer is not checked it results in memory corruption.

I encountered this problem in the following scenario: I have a multicast listener (mdns ipv4) and bombard the device with multicast traffic for this listene

[2020-10-07 13:11] utzig commented on #28990
This seems to happen after the update to `west==0.8.0`; previously `WestManifest.from_file().get_projects(['zephyr'])[0].url` was `None`, now with `0.8.0` it is not anymore, so I'll check what changed there. Any tips @mbolivar-nordic?

[2020-10-07 13:20] mniestroj commented on #28933
I confirm that everythink is fine without using `--confirmed --pad` flags, when flashing to fully erased slot.

The reason why I am using padded images is that I don't know whether there was some data on the (primary) slot to be flashed. Padded image makes sure it will replace all contents of image slot, because flash operation is prededed by erase of region where image lies.

[2020-10-07 13:50] bbolen commented on #28729
I'm not sure if you saw #28231 , but it may be worth considering for 2.5

[2020-10-07 14:08] ioannisg commented on #28729
Sure, pls, just add this to the above list. (This ticket is only a meta issue for our convenience, to have the overview of what's done in each release)

[2020-10-07 14:23] mbolivar-nordic commented on #28990
Looks like you figured it out from the API changes documentation?

[2020-10-07 14:28] gregshue commented on #28438
I noticed two edits are needed in the RFC:

placed at the location of the module.yml file.

For backwards compatibility module.yml defaults need to map to the directory **above** the one containing the module.yml file.

Add the following concern:

* Especially for the guard #ifdef in include files, how should the naming pattern be extended to include the module abbreviation?

[2020-10-07 14:37] jukkar commented on #29003
Thanks for the analysis. I checked the `net_pkt_clone()` call in connection.c and at least it is checking the return value. Can you point me to the line where you found the issue?

[2020-10-07 14:47] rlubos commented on #18601
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/28836.

[2020-10-07 14:47] #18601 closed

[2020-10-07 15:36] gregshue opened #29007 "OOT manifest+module discovery/builds fail"
**Describe the bug**
Building a project from a manifest+module topology (T2) now fails within zephyr/scripts/zephyr_module.py with `TypeError: expected str, bytes or os.PathLike object, not NoneType`

**To Reproduce**
Steps to reproduce the behavior:
1. `pip3 install west==0.8.0a1`
2. ` west init -m https://github.com/gregshue/oot_module_example --mr main --mf zephyr/manifests/zp/zephyr-v2.4.0/wes

[2020-10-07 15:46] RoyAnupam opened #29008 "BLE Connection fails to establish between two nRF52840-USB Dongles with Zephyr controller"
**Describe the bug**
Observation: LE Connection fails to establish between two nRF52840-USB Dongles
Device Roles:
 - Device a: GATT Server
 - Device b: GATT Client
Reason: Host receives Disconnect Complete with Reason: Connection Timeout

**To Reproduce**
Steps to reproduce the behavior:
Device A: Create GATT server using bluetoothctl tool (add a GATT server 0x1834, characteristic: 0x2834, Descrip

[2020-10-07 15:51] nashif commented on #29007
@tejlmand  @mbolivar-nordic FYI

[2020-10-07 16:16] mbolivar-nordic commented on #29007
https://github.com/gregshue/oot_module_example/blob/main/zephyr/manifests/zp/zephyr-v2.4.0/west.yml#L41

This is invalid manifest syntax. See https://github.com/zephyrproject-rtos/zephyr/issues/28925 for details.

[2020-10-07 16:16] #29007 closed

[2020-10-07 16:59] eyuval commented on #29003
The problem happens in function pkt_alloc in subsys/net/ip/net_pkt.c, called with CLONE_TIME. The function calls k_mem_slab_alloc, which in my case returns 0, indicating success but the pkt pointer is NULL. Because pkt_alloc relies on the return code it does not check the pkt pointer and uses the returned NULL in the subsequent call to  memset(pkt, 0, sizeof(struct net_pkt));. I reconstruct the pr

[2020-10-07 17:31] galak commented on #28999
I'm also doing a test to see if we maybe split board changes into 3 groups (nucleo, stm32, other) w/regards to PRs.

[2020-10-07 17:48] zephyrbot opened #29013 "[Coverity CID :214870] Untrusted loop bound in drivers/ethernet/eth_w5500.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/ethernet/eth_w5500.c

Category: Insecure data handling
Function: `w5500_rx`
Component: Drivers
CID: [214870](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214870)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12

[2020-10-07 17:48] zephyrbot opened #29014 "[Coverity CID :214872] Bad bit shift operation in drivers/ethernet/eth_w5500.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/ethernet/eth_w5500.c

Category: Integer handling issues
Function: `w5500_set_config`
Component: Drivers
CID: [214872](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214872)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v

[2020-10-07 17:48] zephyrbot opened #29015 "[Coverity CID :214880] Out-of-bounds access in subsys/net/ip/tcp2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/net/ip/tcp2.c

Category: Memory - corruptions
Function: `net_tcp_queue_data`
Component: Networking
CID: [214880](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214880)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/

[2020-10-07 17:48] zephyrbot opened #29016 "[Coverity CID :214875] Dereference after null check in subsys/emul/spi/emul_bmi160.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/emul/spi/emul_bmi160.c

Category: Null pointer dereferences
Function: `bmi160_emul_io`
Component: Other
CID: [214875](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214875)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v3

[2020-10-07 17:48] zephyrbot opened #29017 "[Coverity CID :214879] Explicit null dereferenced in subsys/emul/spi/emul_bmi160.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/emul/spi/emul_bmi160.c

Category: Null pointer dereferences
Function: `bmi160_emul_io`
Component: Other
CID: [214879](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214879)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v3

[2020-10-07 17:48] zephyrbot opened #29018 "[Coverity CID :214881] Unchecked return value in subsys/mgmt/ec_host_cmd/ec_host_cmd_handler.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/subsys/mgmt/ec_host_cmd/ec_host_cmd_handler.c

Category: Error handling issues
Function: `handle_host_cmds_entry`
Component: Other
CID: [214881](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214881)

Please fix or provide comments in coverity using the link:

https://scan9.coverit

[2020-10-07 17:48] zephyrbot opened #29019 "[Coverity CID :214871] Side effect in assertion in tests/kernel/sched/preempt/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/kernel/sched/preempt/src/main.c

Category: Incorrect expression
Function: `validate_wakeup`
Component: Tests
CID: [214871](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214871)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.ht

[2020-10-07 17:48] zephyrbot opened #29020 "[Coverity CID :214873] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/posix/eventfd/src/main.c

Category: Error handling issues
Function: `test_eventfd_unset_poll_event_nonblock`
Component: Tests
CID: [214873](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214873)

Please fix or provide comments in coverity using the link:

https://scan9.coveri

[2020-10-07 17:48] zephyrbot opened #29021 "[Coverity CID :214874] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/posix/eventfd/src/main.c

Category: Error handling issues
Function: `test_eventfd_zero_shall_not_unblock`
Component: Tests
CID: [214874](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214874)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.

[2020-10-07 17:48] zephyrbot opened #29022 "[Coverity CID :214876] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/posix/eventfd/src/main.c

Category: Error handling issues
Function: `test_eventfd_set_poll_event_nonblock`
Component: Tests
CID: [214876](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214876)

Please fix or provide comments in coverity using the link:

https://scan9.coverity

[2020-10-07 17:48] zephyrbot opened #29023 "[Coverity CID :214877] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/posix/eventfd/src/main.c

Category: Error handling issues
Function: `test_eventfd_overflow`
Component: Tests
CID: [214877](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214877)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.ht

[2020-10-07 17:48] zephyrbot opened #29024 "[Coverity CID :214878] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/posix/eventfd/src/main.c

Category: Error handling issues
Function: `test_eventfd_set_poll_event_block`
Component: Tests
CID: [214878](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214878)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.co

[2020-10-07 17:48] zephyrbot opened #29025 "[Coverity CID :214882] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/posix/eventfd/src/main.c

Category: Error handling issues
Function: `test_eventfd_unset_poll_event_block`
Component: Tests
CID: [214882](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=214882)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.

[2020-10-07 19:41] nashif commented on #29019
false positive

[2020-10-07 19:41] #29019 closed

[2020-10-07 19:43] #28990 closed

[2020-10-07 19:43] nashif commented on #29014
@parthitce FYI

[2020-10-07 19:44] nashif commented on #29014
[code]

[2020-10-07 19:51] #26488 closed

[2020-10-07 20:56] d3zd3z commented on #28220
I believe this should be closed, and should not be implemented. As @nvlsianpu mentions, in order to be able to use a flash device in a way that can survive untimely powerdowns, the code needs to understand the write and erase restrictions of the underlying hardware. Faking that in a driver, by, for example, reading, erasing and writing will result in code that causes corruption or loss when power

[2020-10-07 21:05] andrewboie commented on #19340
you could set a large-ish CONFIG_TEST_EXTRA_STACKSIZE for the ARM qemu targets which would probably allow this to work for tests in the emulator.

I don't have bandwidth to work on this one at the moment.

[2020-10-07 21:22] galak commented on #28999
@erwango / @lochej / @gmarull  I've worked up a python script to convert pinmux.c into .dts.  Seems to work for a good number of cases (I2C, SPI, ADC, DAC, I2S).  There are some corner cases that need some discussion / understanding.

[2020-10-07 21:31] #28220 closed

[2020-10-07 22:33] gmarull commented on #28999
It would be great if you can share the script @galak . Once all boards get the right pinctrl included (I guess it will be the case after uart PR) it will help a lot. I can take a couple more drivers, it’s rather quick to add support for pinctrl, so together with the script we can finally get rid of pinmux in a few days :-)

[2020-10-08 02:40] galak commented on #28999
Happy to share, just need to figure out best way to do that:

Here are some areas that we need to look into:

I2C: [I2C2 missing]
nucleo_f030r8
stm32vl_disco
olimexino_stm32
stm32_min_dev_black
stm32_min_dev_blue
olimex_stm32_h103
waveshare_open103z

CAN:
waveshare_open103z [can missing]
olimexino_stm32 [can missing]
stm32f3_disco [can missing]
stm32f072b_disco [can missing]
nucleo_l452re [can/can

[2020-10-08 02:46] galak commented on #28999
Here the current script:

https://github.com/galak/zephyr/tree/st-pin-convert
https://raw.githubusercontent.com/galak/zephyr/695016205558bd3b1c2711b46bf5af842ccb5a2b/boards/arm/st-pin-convert.py

Its kinda in a hackish state and currently line 29 can be hacked to enable different driver classes (mac/sdmmc1 don't have any pins define in the dtsi files right now so they don't do anything).

[2020-10-08 06:58] tejlmand commented on #29007
@mbolivar-nordic please paste a permalink next time.
Looks like code has been forced pushed (at least I see no errors).

Should we make a better error handling here ?
Seems wrong to me that users can successfully do `west init` and `west update` when using a `west.yml` with invalid syntax.
Makes it very hard to understand that it's a manifest error when they see a stacktrace when running CMake.

[2020-10-08 06:58] cvinayak commented on #29008
@RoyAnupam please provide the Zephyr commit hash you are building the hci_usb sample.

[2020-10-08 07:16] jukkar commented on #29015
False positive

[2020-10-08 07:16] #29015 closed

[2020-10-08 07:36] jukkar commented on #29003
Ok, this seems to indicate issue in `k_mem_slab_alloc()` if 0 is returned but the returned memory pointer is NULL.
Assigning to @andyross for analysis.

[2020-10-08 07:49] holgerschurig opened #29034 "error in samples/subsys/usb/cdc_acm"
**Describe the bug**
The CDC ACM sample isn't usable on native_posix. It pulls needlessly GPIO drivers in, without using them.

**To Reproduce**
1. cd samples/subsys/usb/cdc_acm
2. west build --pristine -b native_posix
3. Error at compilation time:

[code]

**Expected behavior**
I expected that the compilation actually worked, as USB seems to be emulated when compiled for native_posix and can be u

[2020-10-08 08:02] jukkar commented on #28998
Originally the `net_if_up()` and `net_if_down()` were used for administrative up/down from application code. Currently they are used in similar way from the driver which is probably not exactly we want here.
Using something like what is described in https://tools.ietf.org/html/rfc2863 sounds like a good plan.
[code]

[2020-10-08 08:04] xhpohanka commented on #27020
@Nukersson Thanks for suggestion of `mg_send_chunk()` I will try it. If I understand correctly it could also simplify serving of dynamic pages as you do not need to know Content-Length before the whole page.

Currently I have quite stable implementation of web server on my platform. Only time-to-time one of the pages is not transfered and need to be refreshed. I have merged mbedtls support for civ

[2020-10-08 08:05] martinjaeger commented on #28999
Just implemented the DAC part and updated the table. I think we can summarize all board updates into a single commit, as it's only a few lines of code changed in most cases.

I can look into the CAN driver later (or tomorrow) as I'm working on that anyway at the moment.

[2020-10-08 08:05] holgerschurig opened #29038 "drivers/usb/device/usb_dc_native_posix_adapt.c sees weird commands and aborts"
**Describe the bug**
After applying a local modifcation to fix #29034, I tried CDC ACM and had partial success:

* I saw the device appear in the Linux dmesg
* I could "usbip attach"
* a /dev/ttyACM0 appeard and
* I could open it

But sending "a" followed by enter using a simple terminal program ("picocom") showed an error in the dmesg log.

**To Reproduce**
1. cd samples/subsys/usb/cdc_acm
2. sed

[2020-10-08 08:16] AntoineZen commented on #28998
Shouldn't the drivers use `net_eth_carrier_on()` and `net_eth_carrier_off()`?

[2020-10-08 08:52] RoyAnupam commented on #29008
Hello @cvinayak
 Following is tip of my Zephyr git:-
**commit** adb62ea290ee4d127c5134630489f64c43c252ef

==============================================
commit adb62ea290ee4d127c5134630489f64c43c252ef
Author: Paul Fagerburg <pfagerburg@google.com>
Date:   Fri Sep 11 21:12:16 2020 -0600
==============================================

BR,

[2020-10-08 09:00] holgerschurig opened #29042 "CONFIG_SHELL_HELP=n fails to compile"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
1. cat prj.conf

[code]

2. create an "empty" main.c (just with a main() definition)
3. west build --pristine -b native_posix
4. See error:

[code]

Changing CONFIG_SHELL_HELP=n "fixes" the issue.

**Logs and console output**
If applicable, add consol

[2020-10-08 09:02] wngur300 opened #29043 "dirvers: eth_stm32_hal: No interrupt is generated on the MII interface."
**Describe the bug**
After completing the stm32f745vet mcu board setup, we are testing Ethernet operation using mii interface and spi communication with ksz8863 phychip of microchip.
Through spi communication, we confirmed that the register settings of ksz8863 phychip, such as checking the connection status of the LAN line, are well established.
In addition, the parts related to pinmux were additi

[2020-10-08 10:03] alexanderwachter opened #29047 "Boards: nucleo_stm32g474re does not build"
**Describe the bug**
The devicetree was switched to use use pinctrl, but the pinctrl dtsi file is not in the tree

Please add the stm32g474r(b-c-e)tx-pinxtrl.dtsi file to rhe tree

[2020-10-08 10:05] #28934 closed

[2020-10-08 10:07] gmarull commented on #29047
The file exists: https://github.com/zephyrproject-rtos/hal_stm32/blob/master/dts/st/g4/stm32g474r(b-c-e)tx-pinctrl.dtsi. Can you check if modules are updated?

[2020-10-08 10:36] jukkar commented on #28998
These are specific only to Ethernet.

[2020-10-08 10:42] lgl88911 opened #29048 "Removing pwr-gpio of rt1052 from devicetree will cause build error"
**Describe the bug**
pwr-gpio is optional for usdhc, it can be removed from devicetree. Pwr control is not used in mm_swiftio hardware, but Removing pwr-gpio of rt1052 from devicetree will cause build error

**To Reproduce**
Steps to reproduce the behavior:
1. confirm devicetree boards/arm/mm_swiftio/mm_swiftio.dts
[code]
2. Add below configures to app:
[code]
3. build
west build -p auto -b mm_swi

[2020-10-08 10:59] Zzzwierzak commented on #28670
@erwango, OK, I'm fine with this LPM behavior, I've tested proposed change and it works for me.
One more question, when BT RF field is enabled?  Is this change cause activation of rf field during init stage?

[2020-10-08 11:03] alexanderwachter commented on #29047
Oh. That is in the HAL. Is there a reason for that?

[2020-10-08 11:03] #29047 closed

[2020-10-08 11:16] sdalu opened #29050 "Ugrade lvgl library"
Bundled version in zephyr 2.4 of LGVL is 7.0.2, but last version is 7.6.1 which include numerous bug fixes.
(I"m currently being hit by memory bugs in the chart widget, bugs that don't occur in last version)

[2020-10-08 11:29] nvlsianpu commented on #28898
will be fixed by #28967

[2020-10-08 11:59] erwango commented on #29043
@lochej @Nukersson would you have time to look at this ?

[2020-10-08 13:07] galak commented on #28999
@martinjaeger for CAN be aware of https://github.com/zephyrproject-rtos/hal_stm32/pull/70

[2020-10-08 13:23] pfalcon commented on #28587
For reference, I retested everything with tag `v2.4.0` (rev 7a3b253ced7). The picture is the same as was reported above: (dumb_http_server, big_http_download) x (qemu_x86, frdm_k64f) work as expected, with 100K requests tested for dumb_http_server and ~100MB downloaded for big_http_download.

As then retested https://github.com/pfalcon/zephyr/tree/dumb_http_server-100k branch rebased to `v2.4.0`,

[2020-10-08 13:26] lochej commented on #29043
I'd be glad to help but not sure I'll be able to, I don't own any F7 board to troubleshoot the ethernet 😫

[2020-10-08 14:18] pabigot commented on #28566
@jakub-uC I'm willing to submit an implementation along the lines we discussed, but don't want to jump in if you've got it handled.

[2020-10-08 14:22] galak opened #29056 "tests/bluetooth/init/bluetooth.init.test_ctlr_dbg fails to build on nrf51dk_nrf51422"
When running:

`./scripts/sanitycheck -p nrf51dk_nrf51422 -s tests/bluetooth/init/bluetooth.init.test_ctlr_dbg`

Fails:
[code]

[2020-10-08 14:44] erwango commented on #28999
@galak, @gmarull, @lochej, @martinjaeger
Please note important change done in API in #29057

[2020-10-08 14:47] rugr-demant commented on #26172
I am requesting to re-open this issue.
It was closed by mistake/inactivity and has still not been addressed yet.

The Zephyr stack is still vulnerable/does not comply with the Core Bluetooth Spec. 5.2.

[2020-10-08 17:26] lowlander commented on #29043
@wngur300 Can you try with master ?

[2020-10-08 18:16] albertofloyd opened #29059 "HAL: mchp: Missing PCR ids to control PM for certain HW blocks"
**Describe the bug**

While there is control power management for different each HW instance  of certain technology inside HAL (pcr.h)
i.e.
        PCR_PS2_0 = (384u + 5u),
	PCR_PS2_1 = (384u + 6u),

	PCR_PWM1 = (128u + 20u),
	PCR_PWM2 = (128u + 21u),
	PCR_PWM3 = (128u + 22u),
	PCR_PWM4 = (128u + 23u),
	PCR_PWM5 = (128u + 24u),
	PCR_PWM6 = (128u + 25u),
	PCR_PWM7 = (128u + 26u),
	PCR_PWM8 = (128u

[2020-10-08 19:49] galak opened #29062 "samples/bluetooth/peripheral_hr/sample.bluetooth.peripheral_hr_rv32m1_vega_ri5cy fails to build on rv32m1_vega_ri5cy"
`./scripts/sanitycheck -p rv32m1_vega_ri5cy -s samples/bluetooth/peripheral_hr/sample.bluetooth.peripheral_hr_rv32m1_vega_ri5cy`

Gets

[code]

[2020-10-08 20:07] dcpleung commented on #28176
This is intentional, and marked as such in Coverity. So closing this...

[2020-10-08 20:07] #28176 closed

[2020-10-08 20:09] aasthagr commented on #28176
Thanku so much @dcpleung

[2020-10-08 20:33] Nukersson commented on #27020
@xhpohanka Thank you for sharing of your experience here.

Believe me, I've seen same production code with well tested network staks and web/http servers. They do same files dropping and whole page reloading from time to time. I think, we need dig deeper her 😄

Take a look at #28323 PR and search for `gzip` in main `CMakeLists.txt`. You will se, how typical `*.js` files may be gzipped.
You can als

[2020-10-08 20:35] Nukersson commented on #27020
@xhpohanka By the way: does my answers solves your civetweb problems? Can we then close this issue? Otherways, if you have more questions I can answer - you're welcome!

[2020-10-08 21:16] Nukersson commented on #29043
Hello @wngur300 and thank you for your question.

I'll try to answer/understand better your questions/suggestions step by step:

Have you looked at `eth_isr()` in `eth_stm32_hal.c`? Is something happened here after LAN cable connection?

See previous answer. Try with latest master of Zehyr or at least replace `eth_stm32_hal.c` by one from master.

interrupts occur when the LAN line is connected wh

[2020-10-08 21:35] Nukersson commented on #28822
Good idea. For me it looks like you're building some kind of `additional layer` between `Zephyr RTOS` and `stm32` (see [MCAL](https://www.embitel.com/blog/embedded-blog/what-is-autosar-mcal-software-architecture) for example).

**My suggestion:** Maybe we should define the needed functionality/architecture of `this abstraction layer` and give it a name (e.g.: 'stm32_ZAL' meaning stm32 Zephyr Abstr

[2020-10-08 21:37] Nukersson commented on #28822
@gmarull Sorry, I have previously occasionally edited your answer below (don't know, how it happened). Your comment is still in it's original form 😃

[2020-10-09 01:02] JordanYates opened #29066 "kernel: k_sleep doesn't handle relative or absolute timeouts >INT_MAX"
**Describe the bug**

The primary sleep function `z_tick_sleep` in `kernel/sched.c` does not respect the type of `k_ticks_t`, instead using `int32_t`.
There are two main consequences of this:

1. Sleeps of tick duration greater than `INT_MAX` will not behave properly.
2. Absolute timeouts fail after `INT_MAX` ticks (18 hours on nRF).

In the second case, timout.ticks will have some value less than

[2020-10-09 01:42] saltyJeff opened #29068 "chosen zephyr,code-partition has no effect on ELF linking start address"
I'm currently trying to port Zephyr to the Arduino Nano 33 BLE. It is important to the bootloader that the code resides at address 0x10000, so I added the following to my device tree:

[code]

This however, has no effect:

**Reproduction steps**
1. Install the arm-none-eabi-* tools
1. Run west build -b "pick a board"
1. use `objdump` to dump the resulting ELF from `build/zephyr/zephyr.elf`

**Expe

[2020-10-09 02:20] phonkane opened #29070 "NXP LPC GPIO driver masked set does not use the mask"
**Describe the bug**

The NXP LPC GPIO driver (drivers/gpio/gpio_mcux_lpc.c) seems to have a problem in function gpio_mcux_lpc_port_set_masked_raw(). The `mask` parameter has no effect, because writes to `PIN` register ignore the `MASK` register value. I think the `PIN` register should replaced with `MPIN` register which does respect the `MASK` register:

[code]

This is also indicated by LPC55S69

[2020-10-09 03:14] saltyJeff commented on #29068
I added an override `linker.ld` script to the board, and everything works! I'm still confused with the purpose of the "zephyr,code-partition" part.

Quoting from the [documentation](https://docs.zephyrproject.org/1.12.0/devices/dts/flash_partitions.html#linking-zephyr-within-a-partition)

it says:

I assumed it meant that the linker would be told to throw everything into the specified partition, b

[2020-10-09 03:14] #29068 closed

[2020-10-09 06:57] agansari opened #29074 "#27901 breaks mikroe_* shields overlay"
The change in order #27901 will put the cart before the horse when building with overlays.

**To Reproduce**

**Expected behavior**
Should build.

**Impact**
Does not build.

Excerpt from temporary dts file (lpcxpresso55s69_cpu0.dts.pre.tmp):
[code]

**Possible resolution**
Change the overlay include order or change the board overlay

[2020-10-09 07:38] gmarull commented on #28822
@Nukersson The proposal is not an abstraction layer in itself, it's just an additional header that includes the right LL header based on the active SOC_FAMILY in Zephyr.

[2020-10-09 07:46] #28299 closed

[2020-10-09 09:09] erwango commented on #28670
It depends of what you understand by "rf field":
Yes, radio is now enabled at boot time with this change.
Though, RF activity will start only once `bt_enable` is called.

[2020-10-09 09:41] #29056 closed

[2020-10-09 09:48] #29042 closed

[2020-10-09 09:50] #28898 closed

[2020-10-09 09:50] #28921 closed

[2020-10-09 09:50] #28933 closed

[2020-10-09 09:54] jakub-uC commented on #28566
@pabigot : Please go ahead, I am currently working on something else.

[2020-10-09 10:14] Lukas1811 opened #29078 "nRF52840 doesn't start legacy advertisment after extended advertisment"
**Describe the bug**
Im currently developing an application on a nRF52840-DK, which should switch from normal advertisment to extended advertisment if a specific opcode is written to an characteristic. All of this works but if I want to switch back to normal advertisment, the controller won't advertise and return error -12 (ENOMEM) when calling _bt_le_adv_start()_

**To Reproduce**
Steps to reprod

[2020-10-09 11:46] #29062 closed

[2020-10-09 12:21] Lukas1811 commented on #29078
I found a solution for my problem, this problem only occurs if you don't delete the advertisment set before starting the legacy advertisment. I'm not sure if this should work like this or if this is a bug

[2020-10-09 12:43] cfriedt commented on #26999
Looking at this again, and we were just chatting about this on Slack. Some additional notes:

#29064 - @andrewboie provides the `struct k_thread *` as an argument to `fn_abort()`
^^ this will also be necessary for #24714 as we need to free the stack from a safe context (either another thread or the idle thread). I would for sure use this function pointer in pthread.c .

I thought about adding anot

[2020-10-09 13:44] cfriedt commented on #25973
Really rough draft atm @andrewboie, using the kernel thread macros mentioned [in your comment here](https://github.com/zephyrproject-rtos/zephyr/issues/26999#issuecomment-673605373).

The PR that's linked to this has my changes.

[code]

[2020-10-09 13:46] Zzzwierzak commented on #28670
OK, will you merge proposed change to zephyr master branch?

[2020-10-09 14:10] boachair opened #29083 "Bluetooth: Host: Inconsistent permission value during discovery procedure"
**Describe the bug**
After calling Zephyr Bluetooth API, bt_gatt_discover(), GATT client expects a response structured as Attribute, which contains one permission field (see below). However, it is always 0 now. It might be caused because the GATT server response does not update this attribute permission.

--
struct bt_gatt_attr {
/** Attribute UUID */
const struct bt_uuid *uuid;
...
/** Attribute

[2020-10-09 14:19] erwango commented on #28670
This is the plan, but I need to do some testing first.

[2020-10-09 15:15] scottwcpg commented on #29059
MEC15xx has two groups of I2C controllers:
5 controllers named SMB0, SMB1, ..., SMB4 that include the network layer hardware on top of the base I2C.
3 controllers named I2C0, I2C1, ..., I2C2 that do not include the network layer hardware.  These controller have most of the same register set except for registers related to the network layer hardware.
This is the reason for the different naming conv

[2020-10-09 15:23] mbolivar-nordic commented on #29007
It was an empty `self: path:`.

We already did as a follow up to https://github.com/zephyrproject-rtos/zephyr/issues/28925.

The west commit is https://github.com/zephyrproject-rtos/west/commit/da7668699aaf9b3a6ed416f092a0d02c0958f2ce.

[2020-10-09 15:57] lowlander opened #29087 "Moving (some) boards to their own repo/module"
The Zephyr `boards/*/` dirs are growing and growing (I have two bsp's in the pipeline myself). Would it be an idea to make a `zephyr_boards` repo/module where we collect all boards, and only have a very limited number of boards in the zephyr main repo ?

@martinjaeger mentioned that most board doku have an image, that kind of bloats the main zephyr repo. But he also pointed out, quote; _But the di

[2020-10-09 16:16] lowlander commented on #28962
The `word_size`  refers to the "word" that is send, most of the time 8 bit, but could in some special cases also be 16bit or 9 bit (but I am not even sure if all hardware supports "strange" (non 8bit)  word-sizes).

But aren't you just wanting to send/recv 480 8bit "words" ? Like in the `samples/drivers/spi_fujitsu_fram/` where a 1024 byte buffer is written to the fram.

[2020-10-09 17:20] cfriedt opened #29089 "doc: boards: cc1352r_sensortag: fix minor rst issue"
**Is your enhancement proposal related to a problem? Please describe.**
There was a minor syntax issue with an ordered lists in `boards/arm/cc1352r_sensortag/doc/index.rst`. It's a trivial correction

**Describe the solution you'd like**
I'll submit a patch momentarily. Will definitely RTFM in the future.

https://docs.zephyrproject.org/latest/README.html

**Describe alternatives you've considered

[2020-10-09 18:25] andyross commented on #29066
Indeed, looks like z_tick_sleep() takes an int32_t still and not a k_ticks_t.  Not sure why this doesn't produce a size warning when called and k_ticks_t is a 64 bit type...

Note that for this to work at all, CONFIG_TIMEOUT_64BIT needs to be set.

[2020-10-09 19:49] pabigot opened #29092 "tests/drivers/uart/uart_async_api fails on nrf52840dk_nrf52840 (and additional platforms)"
The test on this platform produces:
[code]

Though it's not documented I believe I'm supposed to short P1.01-P1.02 and P0.5-P0.7 as a loopback configuration, but the behavior is unchanged whether or not this is done.

[2020-10-09 20:05] pabigot commented on #29092
The test fails with v2.4.0.  @carlescufi

The tests passes with v2.3.0.

With bisect it runs but fails several tests at 63c3e153d65a7ae2ece0587dc7e4a4be93553cb9

Calling that good, the MPU fault was introduced by 26cbd6a58c8346e21cee6efa3c0f7a29457afc92

That's fixed in #29093, but then the test fails when several checks for ready events time out.  I'll continue to look into that.

[2020-10-09 20:21] pabigot commented on #29092
The remaining failures are shown here:
<details><summary>Test failures for ready events</summary>

[code]
</details>

Serendipitously confirming my belief that the use of `k_delayed_work` there was wrong, these are fixed by #28891 which changes the driver to use to the new delayable work API.

[2020-10-09 20:31] #28976 closed

[2020-10-09 20:50] andrewboie commented on #26999
I don't think you should be touching anything inside the k_thread object, that is reserved for the kernel.
Do this accounting at the pthread level.

[2020-10-09 21:10] tejlmand commented on #29007
Oh, right.
Was testing using `v0.8.0` and not paying attention to the new west PR that I actually approved.

[2020-10-09 21:43] andrewboie opened #29095 "zefi.py has incorrect assertions"
**Describe the bug**
I ran into this build error on up_squared:

[code]

This assertion is not correct. From dumping the file we have an unaligned filesiz/memsiz, I have no reason to believe our ELF binary is incorrect:
[code]

**To Reproduce**
Currently I can reproduce this with this PR https://github.com/zephyrproject-rtos/zephyr/pull/28986 and building tests/kernel/mem_protect/mem_protect on up

[2020-10-09 21:46] andrewboie commented on #29095
This seems to work around the issue by ensuring the very last section is 4-byte aligned, but I have doubts that this is really the right way to address it:
[code]

[2020-10-09 22:05] andrewboie commented on #29095
Here is what's at the end of memory:
[code]

the `kobject_data` section is an odd size, but I don't think it's incorrect:
[code]