[2020-07-15 15:20] andung07 commented on #26536
@joerchan  No, no such warning appears. Here is the complete log:
[code]

And this is the prj.conf that I use.
[code]

[2020-07-15 15:25] joerchan commented on #26536
@andung07 Are you sure that that is a clean build?
[code]
This is how it looks to me, it appears your output is different, what kind of build environment is that?

[2020-07-15 16:15] FRASTM commented on #22906
@EminYagmahan can you please check if PR #26757 improves the results of write speed

[2020-07-15 16:25] andrewboie commented on #13813
I think I can rule out any changes in my PR, nothing should be accessing any memory in the NULL page. This does seem like this obscure bug popping up again.

I don't have time right now to dive deeper, but leaving this open. I submitted a patch which cleans up the test code a little and adds a delay which makes the problem stop failing the test. https://github.com/zephyrproject-rtos/zephyr/pull/26

[2020-07-15 18:26] andrewboie commented on #13813
Spent some more time looking at this. The patch that added a delay that fixed it for qemu_x86_coverage causes the test to now fail on qemu_x86_nommu with a general protection fault or invalid opcode exception. In this case, instead of EIP being 0, EIP points to some location on the interrupt stack, and the faulting thread is main() after it has exited.

The test does something unusual: it sets `CO

[2020-07-15 18:35] johnsmithecon commented on #26804
@joerchan @trond-snekvik I can confirm that I am still seeing this issue. #26872 did not fix this.

[2020-07-15 19:27] nashif commented on #15968
@dcpleung  since you are at it, maybe this is already fixed?

[2020-07-15 19:40] andrewboie commented on #13813
Just for laughs I cloned a fresh tree and applied this patch to the master branch, I wanted to see if stuff starts to fail if we enable 1ms timeslicing by default:
[code]

I then ran `sanitycheck -T tesks/kernel` to see what shakes out.

I then got a reproducible failure in tests/kernel/sched/deadline/kernel.scheduler.deadline on qemu_riscv32 where we are also jumping to an illegal location:
[code

[2020-07-15 19:54] andrewboie commented on #13813
I went another step further, and in addition to the patch to apply timeslicing to all tests, added this to disable icount for all emulators:
[code]

I then ran sanitycheck again to see what fails, and why. There were 43 total failures when testing `sanitycheck -T tests/kernel` which seems abnormal even with icount disabled. I looked through the logs:

- There were a number of expected timing order

[2020-07-15 20:09] andrewboie commented on #19701
I think I've isolated this. Appears to have something to do with setting CONFIG_TIMESLICE_SIZE. See details in #13813.

[2020-07-15 20:16] maksimmasalski commented on #25148
Thank you for a such detailed explanation, I'm working on it.

[2020-07-15 22:40] EminYagmahan commented on #22906
@FRASTM Many thanks for the implementation. Enclosed are the measurement results with PR #26757 . Each measurement series was repeated three times and the average was recorded. One MB is written and afterwards read. Since the Multiwrite command is only executed at >2 blocks, there are hardly any differences in writing for block sizes 512 and 1024. The implementation has definitely helped. Since th

[2020-07-15 22:53] Skallwar commented on #3723
I can not boot the hello world example with it, the boot is stuck at ```boot: Disabling RNG early entropy source...``` after loading the app. Beside on larger project, the app contains too much segments (here segment = elf section) and the app will not be loaded.

I will maybe try to work on mcuboot

[2020-07-15 22:54] tetious commented on #26826
Yep. And thanks again for your help. I really appreciate it!

[2020-07-15 22:54] #26826 closed

[2020-07-15 23:11] andrewboie commented on #24652
sigh. this is not stale.

[2020-07-15 23:32] andrewboie commented on #26679
This is still broken.

Clone this branch https://github.com/andrewboie/zephyr/tree/sanitycheck-is-still-lying-to-me

Run sanitycheck for qemu_x86_64. It will not show a failure for tests/kernel/mem_protect/userspace.
Now go build that test manually. Observe that the emulator exits before the test completes:

[code]

[2020-07-16 00:26] andung07 commented on #26536
@joerchan oh, that is platformio build. And yes, when I use west, it exactly gives me that warning.

[2020-07-16 00:47] andrewboie commented on #26679
seems to have something to do with command line args. The below incorrectly shows everything passing even though tests/kernel/mem_protect/userspace doesn't work. if you change to `-T tests/kernel/mem_protect/userspace` it shows the failure.

[code]

[2020-07-16 05:34] albertofloyd opened #26889 "subsys: power: Need syscall that allows to force sleep state"
**Is your enhancement proposal related to a problem? Please describe.**
Certain applications do require minimum latency to enter low power state under certain external conditions:
i.e. Multi CPU-s systems performing power throttling.

If one of these SoC is running Zephyr the host/master controller would request the main app to put the SoC in lower power state.

While latest update to power subsys

[2020-07-16 05:41] nordic-krch commented on #21538
#21578 shown another use case where calling i2c from interrupt would be useful: gpio blinking. SoC gpios can be controlled from any context (simple write to registers) but gpio expanders using i2c which can only be controlled from a thread context. Using k_timer to drive blinking gives less latency but will not work with gpio expanders. Something like delay work is more generic but will probably a

[2020-07-16 07:29] joerchan commented on #23177
Fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/25365

[2020-07-16 07:29] #23177 closed

[2020-07-16 07:34] joerchan commented on #26804
@johnsmithecon Thank you for checking.

[2020-07-16 09:43] cfriedt commented on #26720
Hmm... I see your point. Malloc isn't strictly required for getaddrinfo to work. Maybe in this case it should just be left to the application's configuration.

[2020-07-16 09:54] pfalcon commented on #26720
Malloc isn't required for native Zephyr DNS_RESOLVER. After the commit quoted above, https://github.com/zephyrproject-rtos/zephyr/commit/a74137f665d502e8eab1278315f975133dcbfe59, malloc is required for getaddrinfo() to work (even though initially it was purposely written to not depend on malloc).

[2020-07-16 10:09] #20978 closed

[2020-07-16 10:13] #26862 closed

[2020-07-16 10:13] #22873 closed

[2020-07-16 10:14] #22996 closed

[2020-07-16 10:34] carlescufi commented on #20419
@arnopo this is now done

@arnopo are you working on this? CC @ioannisg

[2020-07-16 11:04] carlescufi commented on #26804
I think we should start by checking the code in `bt_mesh_proxy.proxy_send()` when sending the GATT packet actually fails.

[2020-07-16 11:20] pabigot commented on #24653
Apparently this is still a thing, so I'm reopening it so the folks who are responsible for this API can decide whether it needs to be addressed.

[2020-07-16 11:21] pabigot commented on #24653
@wentongwu @nashif

[2020-07-16 11:33] tbursztyka commented on #24653
We need to replace this. Idle PM is certainly a feature to have, but not the way it was done.
( I am actually surprised the original PR got merged at the time. I mean, reading this: https://github.com/zephyrproject-rtos/zephyr/pull/13382/commits/b4eb42fe2c2458f4efb679e976649c0ddfe4d5e1#r265216377 or this: https://github.com/zephyrproject-rtos/zephyr/pull/13382/commits/b4eb42fe2c2458f4efb679e976649

[2020-07-16 11:43] pabigot commented on #24653
@tbursztyka IIRC #13382 was a release blocker for LTS.

[2020-07-16 12:40] marshed18 commented on #8262
I have similar problem
can anyone assist?

[2020-07-16 13:11] carlescufi commented on #26848
I don't think `CONFIG_OPENAMP` is enough to bring OpenAMP into the build, but @galak and @ioannisg can confirm.

[2020-07-16 13:30] BBekker opened #26896 "STM32: mcu goes to sleep inadvertently when using PM."
**Describe the bug**
When using the (experimental) STM32L4 power management, the `deepsleep` enable bit (sleep in Zephyr terms) is not set back to `sleep` (idle in zephyr terms) when waking up, resulting in the next `WFI` call also going to sleep.

**To Reproduce**
Steps to reproduce the behavior:
1. use stm32l* PM
2. Do a long wait to go to sleep.
3. Do a short wait that should not go do sleep bu

[2020-07-16 13:51] wysman commented on #26391
@emob-nordic Yes, we can close it. It's will be nice if "west/cmake" can detect and alert during build.

[2020-07-16 13:51] #26391 closed

[2020-07-16 14:27] carlescufi commented on #26799
@galak @MaureenHelm @nashif would very much appreciate your input on this matter.

[2020-07-16 14:57] thomasstenersen opened #26900 "Bluetooth: host: bt_conn_recv() assumes ACL data is >= 2 bytes"
**Describe the bug**
An new `BT_ACL_START` fragment in `bt_conn_recv()` of less than 2 bytes will have unintended behavior.
The particular line of code with the problem is https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/conn.c#L1208:

[code]

A link layer may choose to fragment an L2CAP PDU in any way it sees fit -- including fragmenting the first four bytes (the L2C

[2020-07-16 16:15] LeHack commented on #26848
@carlescufi Well certainly it is enough to trigger libmetal compilation and this error.
But of course the original code where I first encountered this issue involved a properly configured OpenAmp and proved to work without these compilation switches.

[2020-07-16 16:26] pabigot commented on #25164
At this time I've reviewed the in-tree bindings and provided a PR for the only one that I think is not appropriate.

[2020-07-16 16:51] #26397 closed

[2020-07-16 17:16] galak commented on #26799
What's the minimal set of files we need from p99?

[2020-07-16 17:33] galak commented on #26848
@LeHack can you see if this PR fixes the issue:

https://github.com/OpenAMP/libmetal/pull/122

[2020-07-16 17:35] galak commented on #26427
Closing this as v0.11.4 should fix the issue.  Feel free to re-open if it doesn't.

[2020-07-16 17:35] #26427 closed

[2020-07-16 17:39] pabigot commented on #26799
I don't think that can be answered without going through `<sys/util.h>` and identifying what parts are redundant with material from P99 and are things we might want to replace.  An initial survey suggests these to start:

* p99_generated for p99_paste
* p99_paste for p99_args
* p99_args for P99_ISEMPTY()
* p99_for P99_FOR
* p99_if for conditionals
* p99_logical for logical operations
* p99_paste f

[2020-07-16 19:21] LeHack commented on #26848
@galak Yes it does!
Applyinig this commit as a **cherry-pick** to the current upstream version of libmetal fixes this issue.
I couldn't get it working with the whole PR, as the paths have changed within libmetal and I'm guessing this will require some include path updates in the zephyr build system (or at least a careful manifest manipulation).

[2020-07-16 19:44] #26679 closed

[2020-07-16 20:50] andrewboie opened #26910 "sanitycheck always treats warnings as errors"
**Describe the bug**
Sanitycheck has a `--warnings-as-errors` option, but it ignores it and unconditionally fails tests if they generate a build warning.

**Expected behavior**
We have have warnings as errors be the default but we need a cmdline option to ignore build warnings that actually works.

**Impact**
Annoyance which is proving to be VERY annoying with respect to what I am testing right no

[2020-07-16 23:28] pderwin opened #26912 "arm: cortex_r: config_userspace: hang during early power-up"
**Describe the bug**

In v2.3 when building with CONFIG_USERSPACE enabled, I see that we do not do a context switch a short time after power-up.  I've chased this back and found the the cpus[0].nested has incremented to 6 in my example, so the code in **z_arm_int_exit()** thinks we are in a nested interrupt, and does not switch to another task.

The flaw is because of our syscall path.  On each sy

[2020-07-17 00:42] #24844 closed

[2020-07-17 00:42] #23546 closed

[2020-07-17 00:42] #23514 closed

[2020-07-17 02:31] yhyuan commented on #21240
I am having the same issue. It seems openocd fails to find the stlink.cfg. I am not sure how to fix it.

[2020-07-17 02:41] vonhust opened #26914 "gen_kobject_list.py dosn't generate correct gperf info for ARC MetaWare toolchain"
**Describe the bug**
We are working on adding the support of ARC MWDT toolchain, which be found at #22668 and https://github.com/foss-for-synopsys-dwc-arc-processors/zephyr/tree/topic-mwdt-new.

We found  a new corner case that `gen_kobject_list.py` didn't generate correct `gperf` info for ARC MetaWare toolchain. And `gperf` info is necessary for Zephyr's USERSPACE feature.

ARC MetaWare compiler

[2020-07-17 03:56] dleach02 commented on #20595
The bug is that when reprogramming an NXP MPU descriptor, the hardware clears the valid bit for that memory region when the code writes the start address, end address, and attribute descriptor registers. If this memory area is accessed during this time it is invalid a memory fault occurs.

In this particular bug, the code in arch/arm/core/aarch32/cortex_m/mpu/nxp_mpu.c:mpu_configure_dynamic_mpu_re

[2020-07-17 06:42] Delsian opened #26919 "ipv6: promiscuous mode: packet flood over 802.15.4 adapter"
**Describe the bug**

When 802.15.4 driver working in promiscuous mode and neighbor cache enabled, in some network configurations (more than 2 nodes placed in nearest locations) we observe packet flood generation as a result of unfiltered packet retransmission:

https://snipboard.io/GrqEWt.jpg

**To Reproduce**

Set "CONFIG_NET_PROMISCUOUS_MODE=y"
Place devices near each other, it was pretty hard

[2020-07-17 06:54] Delsian commented on #26919
Created PR to fix this bug
https://github.com/zephyrproject-rtos/zephyr/pull/26920

[2020-07-17 07:55] arnopo commented on #20419
@ioannisg : Unfortunately, I haven't found the bandwidth to work on it yet.  And I probably won't have the bandwidth for a while.
i started some stuff when creating the I2C over RPmsg driver (https://github.com/arnopo/zephyr_stm32mp1/commits/I2C_demo)
but i did not found time to create the associated OpenAMP manager.
If you are interested in implementing the service don't hesitate.  At minimum i c

[2020-07-17 09:15] johnsmithecon commented on #26804
My proj.conf file:

# J-Link Log Viewer
#CONFIG_UART_CONSOLE=n
#CONFIG_HAS_SEGGER_RTT=y
#CONFIG_USE_SEGGER_RTT=y
#CONFIG_RTT_CONSOLE=y
#CONFIG_LOG_BACKEND_RTT=y
#CONFIG_LOG_STRDUP_BUF_COUNT=20
#CONFIG_LOG_STRDUP_MAX_STRING=80

#CONFIG_MAIN_STACK_SIZE=512
#CONFIG_BT_RX_STACK_SIZE=2048
#CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048

#CONFIG_BT=y
#CONFIG_BT_OBSERVER=y
#CONFIG_BT_BROADCASTER=y
#CONFIG_BT_DE

[2020-07-17 09:16] johnsmithecon commented on #26804
I reset node 1 and try to provision the sensor node and it gets stuck at trying to get composition data and my logs for node 2 tells me no space to store  ccc cfg. And literally node 2 is broken now so I need to turn off and back on and now I can get composition data. And now I can’t reset node 2 with my app. But if I reset the node 1 first then try to reset the node 2, I am able to reset.

this i

[2020-07-17 09:32] tbursztyka opened #26923 "[RFC] API change - Normalize DMA, IPM and UART callbacks signatures including the caller's device pointer."
## Introduction

Adding callback caller's device pointer to DMA, IPM and UART callbacks.

### Problem description

DMA, IPM and UART callbacks do not provide the device's callback caller as parameter, forcing users to use the callback_arg parameter instead for this purpose, which in turn limits its usage (they cannot provide some private data, or have to mangle thing together storing the device po

[2020-07-17 09:32] tbursztyka commented on #26923
@carlescufi @nashif @pabigot @galak

[2020-07-17 09:38] #26107 closed

[2020-07-17 09:38] #26168 closed

[2020-07-17 10:05] henrikbrixandersen commented on #26805
@ABOSTM Sorry, no I have never used this test not the I2C slave functionality. I may have fixed a few things in the test case when introducing I2C EEPROM support.

[2020-07-17 10:37] johnsmithecon opened #26924 "Bluetooth: Mesh: no space to store ccc cfg"
**Describe the bug**
I will occasionally see the "no space to store ccc cfg" issue. The output to the console looks like this:
![image](https://user-images.githubusercontent.com/62140912/87776961-79992180-c7dd-11ea-8b71-53a329d087f8.png)

When the "no space to store ccc cfg" issue does show up, the node becomes useless. It cannot open bearer anymore. Once I turn the node off then back on, however,

[2020-07-17 11:17] carlescufi commented on #26828
Thanks @stephanosio. Closing this issue, @xicocana please use another QEMU target if you want to use networking.

[2020-07-17 11:17] #26828 closed

[2020-07-17 11:23] carlescufi commented on #26536
I would tend to align with this. In the PR we need a note in the Stable API changes section of the release notes explaining what has changed and what needs to be done by the application to adapt.
It makes no sense that the L2CAP RX MTU depends on the ACL flow control, they just have nothing to do. I am not sure why we did this in the first place, @jhedberg ?

[2020-07-17 11:37] #26725 closed

[2020-07-17 12:28] jhedberg commented on #26536
@carles it's because the existence of the `acl_in_pool` buffer pool in `hci_core.c` depends on ACL flow control, and the BT_L2CAP_RX_MTU is used for determining the size of the buffers in it. If ACL flow control is disabled the normal RX pool is used and BT_L2CAP_RX_MTU is (AFAIK) of no use.

[2020-07-17 12:42] joerchan commented on #26536
BT_L2CAP_RX_MTU sets the ATT_MTU:
[code]
And the L2CAP_MPS with `CONFIG_BT_L2CAP_DYNAMIC_CHANNELS`
[code]

[2020-07-17 13:09] cfriedt commented on #26720
Technically `malloc` isn't required for getaddrinfo if `CONFIG_NET_SOCKETS_OFFLOAD=y`. I get that it was originally meant to work without malloc though.

I'll whip together a patch for option number 2. @nandojve - does that work for you? It means that malloc works OOTB rather than fail OOTB. Also means that malloc will need to be explicitly disabled or the arena size must be set the size to 0 if t

[2020-07-17 13:59] maksimmasalski commented on #25148
@albertofloyd Please take a look at my PR #26934

[2020-07-17 14:33] emob-nordic opened #26935 "[topic-usb] USB stack rework. ToDo list."
## Introduction

This issue is created to list all things that should be reworked in [topic-usb](https://github.com/zephyrproject-rtos/zephyr/tree/topic-usb) before its merged into master.

### Problem description

USB device stack requires rework to address feature requests that we currently have. Some of them:

- #20236 usb: api: Cleanup of current inclusion path for USB
- #19713 usb: investigat

[2020-07-17 15:27] solsbarry opened #26937 "Kconfig choice Warning"
**Describe the bug**
This is an odd problem. I am getting a zillion kconfig warnings all for the same issue.
Like this but with various things for <symbol> and <location>

**warning: the choice symbol <symbol> (defined at <location>:11, <location>:11) is defined with a prompt outside the choice**

And everywhere it is happening there is a very specific circumstance.
Anytime a kconfig file in the n

[2020-07-17 15:29] albertofloyd commented on #25148
@maksimmasalski
Looks like you are checking input after gpio_set() which I believe is already covered somewhere else in the test.

The idea was to perform get_pin() operation immediate after gpio_pin_configure() which seems to be part of latest test.
What remains is to understand why this step didn't catch the issue, or if latest code was added recently

Latest test code
	rc = gpio_pin_configure(d

[2020-07-17 16:17] ioannisg commented on #20595
Great explanation @dleach02 and agree also with setting to Medium severity

[2020-07-17 16:52] kkiyota commented on #26803
I ran step execution and change my program to figure out root causes.  Looks like it may be related to interrupt related rather than Thumb-2 instructions' alignment so far.  I'll let you know again when I figure it out.

[2020-07-17 16:59] #25501 closed

[2020-07-17 17:01] solsbarry commented on #26937
Well even my proposed horrible work around (adding a name to ech choice) doesn't work. It allows cmake to complete without warning, but my log_levels do not get generated and who knows what else.

So for example, I added a name (LOG_LEVEL_CHOICE) to the choice in Kconfig.template.log_config

[code]
And now all of the generated log levels are not in autoconf.h

The odd thing is the kconfig choices

[2020-07-17 17:25] cfriedt opened #26938 "gpio: api to query pin configuration"
**Is your enhancement proposal related to a problem? Please describe.**
In some cases, it's necessary to query the configuration (e.g. direction) of a particular GPIO pin. However, the [existing GPIO API](https://docs.zephyrproject.org/latest/reference/peripherals/gpio.html) does not seem to provide a way to do that.

**Describe the solution you'd like**
[code]

**Describe alternatives you've cons

[2020-07-17 17:33] andrewboie commented on #26914
It's an open source project, found here: https://github.com/eliben/pyelftools
If we need to upgrade the version we are using, that isn't hard to do.

Unknown if this has ever been tested. What does GCC 9.x produce?

Given that this is against a proprietary compiler you guys are probably going to have to take the lead on debugging this.

[2020-07-17 17:44] lawrence-king opened #26939 "MCUMGR - smp shell server sends responses to wrong port"
**Describe the bug**

smp_shell always outputs responses to the console instead of back to the device that the shell is running on.

The shell can be run on any port, not just the console, and we can add smp_shell to any shell. When the shell is running on a port which is not the console it is correctly passing the received data to smp_shell, its just that smp_shell sends the reply out to the cons

[2020-07-17 18:00] #26801 closed

[2020-07-17 18:03] #26910 closed

[2020-07-17 18:22] henrikbrixandersen commented on #26938
Could you elaborate a bit more on the use case for this?

I mean, normally you'd either have fixed input or output, or have the direction controlled by a driver, which could keep track of when to change the direction internally.

When would you need to query the direction?

[2020-07-17 19:46] maksimmasalski commented on #25148
I understand that check is already performed, but it is not working. Seems like deep underlying issue.

P.S. Next week I will have vacation, so can't continue work on it and find out the root cause.

[2020-07-17 19:47] shuegr-personal opened #26941 "Meta-IRQ documentation references"
Extend the Thread Priorities and Interrupts documentation to at least mention and reference meta-IRQs related to preemption priorities in the system.

[2020-07-17 19:48] shuegr-personal commented on #26941
In a private email prompting this issue, @carlescufi requested this be assigned to @andyross.

[2020-07-17 20:14] pabigot commented on #25148
@albertofloyd agreed, see my summary at https://github.com/zephyrproject-rtos/zephyr/pull/26934#discussion_r456647782.  It's possible that 2f8167fc081daceee3fc2e5ea5eea4fdf5170d39 fixed the problem.

[2020-07-17 22:30] andrewboie opened #26947 "stuck qemu-system-aarch64 processes from sanitycheck"
**Describe the bug**
I have noticed that when running sanitycheck, `qemu-system-aarch64` processes will dangle consuming 100% CPU if I ctrl-C out of a sanitycheck run. They ignore SIGTERM, I have to send SIGKILL to terminate them.

I also notice when running tests manually on qemu_cortex_a53 that the test will complete but I cannot Ctrl-C out of the emulator, unlike our other QEMU builds

**To Rep

[2020-07-17 22:31] Abhishek-brcm opened #26948 "cmake failure when using ZEPHYR_MODULES without west"
**Describe the bug**
 I am getting below compilation error for  `bcm958402m2_m7` board on latest zephyr:

[code]
**To Reproduce**
`cmake -GNinja -B build/ -DBOARD=bcm958402m2_m7 -DZEPHYR_MODULES=<PATH TO hal/cmsis/ directory> samples/hello_world/
`

**Expected behavior**
This issue seems to be introduced in commit ef3c5e551676278ccc1f42ecb572838144c5e33a (as pointed by @nashif ).

[2020-07-17 22:54] andrewboie opened #26949 "sanitycheck gets overwhelmed by console output"
**Describe the bug**
If tests have too much console output, sanitycheck gets bogged down and can't handle it all. QEMU processes spin waiting to flush their output pipes; eventually dozens of tests time out, even though they pass when built manually.

I found this in a branch I am working on which dumps out page table information to the console with ANSI color codes. With every test emitting this,

[2020-07-17 23:43] cfriedt commented on #26938
Sure - I'll be using it to implement Greybus GPIO support.

Anytime there is a service that reports the current state of GPIO.

[2020-07-17 23:58] andrewboie commented on #26720
Because the way malloc() is specifically implemented in minimal libc, the RAM for the malloc arena has to be reserved in advance. Any value of CONFIG_MINIMAL_LIBC_MALLOC_ARENA_SIZE is directly added to the RAM footprint, which is why this defaults to 0.

@pfalcon passive aggressive stuff like this is not helping your cause. Especially since I made the change because your original code was not thre

[2020-07-18 09:27] jhedberg commented on #26536
@joerchan I think those dependencies have appeared later, and it seems Kconfig hasn't kept up with the actual code changes.

[2020-07-18 11:37] Nukersson commented on #24767
@lochej Just trieb to ping with 1ms and 500us. It won't work properly on my machine. I'll try it later (at the time you PR is prepared) with proper router settings or even direct connection to my laptop.

[2020-07-18 13:58] MrVan opened #26952 "SMP support on ARM64 platform"
Without SMP, it could only run on one cores and make it usage limited. With SMP, we could extend it to more usecases.

Anyone interested on this? I surely wanna this feature :)

[2020-07-18 16:45] sslupsky opened #26953 "settings: ISO C++ forbids converting a string constant to 'char*'"
When compiling a cpp source file using the settings_handler struct, the compiler throws a warning:
[code]

For example, referring to the samples/subsys/settings/src/main.c, the following code block causes the above warning when compiling as cpp:
[code]

I believe the issue is the definition of the struct in settings.h:
[code]

Can char *name safely be declared const char *name instead?  This will

[2020-07-18 17:00] sslupsky commented on #26818
@jfischer-phytec-iot The changes in 2.2 **require** the application to Initialize the usb stack.

You have introduced **breaking change** to a published API, please do not close this issue.

@carlescufi @pabigot

[2020-07-18 17:24] sslupsky opened #26954 "devicetree: warning: braces around scalar initializer"
The new devicetree macros have created an issue when initializing the config struct within a device driver.  For instance, the following initialization code:
[code]
generates the following compiler warning:
[code]
Is there a way to construct a scaler assignment and avoid the warning?

[2020-07-18 17:35] sslupsky commented on #24499
@mbolivar Thank you for the suggestion, adding the flag cleared up the warning.

I will leave this issue open until @galak has a chance to comment.

[2020-07-18 18:38] sslupsky commented on #23672
I attempted to suppress the warning by adding the following line to pre_dt_board.cmake:
[code]
but this generates a compiler error:
[code]
Similarly,
[code]
generates error:
[code]

[2020-07-18 19:07] nashif commented on #26949
[code]

[2020-07-19 03:31] wentongwu commented on #14307
[code]
a power domain definition from https://www.kernel.org/doc/Documentation/power/regulator/overview.txt

[2020-07-19 08:08] henrikbrixandersen commented on #26812
@hakehuang Thank you. I can confirm that your commit mentioned above fixes the race condition.

[2020-07-19 12:30] jfischer-phytec-iot commented on #26818
Yes, the console driver is the application in this case. And again the commit fixed the issue regarding "USB_UART_DTR_WAIT".

I did not.

[2020-07-19 12:43] pabigot commented on #26818
I don't agree that the console driver is itself an application.  From the 2.2 release notes:
[code]

I have a use case where I want a console on USB *when USB is connected*, but I also want to be able to make use of the status callbacks.  Which means the console becomes a device that can come and go.

I don't know exactly how that can be supported in Zephyr, but having the console driver take over

[2020-07-19 13:14] cfriedt commented on #26720
@nandojve - I think the current resolution to this is that we are considering it an application config issue, so the owness is put onto the user to set `CONFIG_MINIMAL_LIBC_MALLOC_ARENA_SIZE`.

I put together a change in #26951 that will hopefully make it more obvious to users.

I hope that helps to resolve your issue.

I'll close this once #26951 is merged.

[2020-07-19 15:41] beriberikix commented on #22247
I recently discovered https://github.com/arduino/ArduinoCore-mbed, which might be a good template for creating an adaptation layer for Arduino. Thoughts?

[2020-07-19 19:33] #7951 closed

[2020-07-19 22:23] andrewboie commented on #26949
@nashif this with the branch I linked?

This is what I see when I build the linked branch on my machine:

[code]
I am also seeing that at least in my machine, samples/subsys/settings (a fairly verbose sample) is sometimes getting truncated output. I'm on Ubuntu 20.04.

[2020-07-19 22:24] andrewboie commented on #26949
![Capture](https://user-images.githubusercontent.com/3387369/87886657-ccd4c500-c9d3-11ea-8fa2-3ce8274918dc.PNG)

When this happens, this is what I see in `htop`. Note the very busy Python process, and all the qemu processes that are running for a long time. Also note how most cores are doing kernel rather then user stuff.

[2020-07-19 23:17] andrewboie opened #26961 "occasional sanitycheck failures in samples/subsys/settings"
[code]

Might be a problem with the regexes used? The handler.log looks normal:

[code]

I have also seen this fail with truncated output in handler.log which I suspect may be an instance of #24649

[2020-07-20 05:36] stephanosio commented on #26947
cc @galak

[2020-07-20 05:44] stephanosio commented on #23672
@nzmichaelh Something like:
https://github.com/zephyrproject-rtos/zephyr/blob/98bcc51b0925a92db28f127d08b842b1d609bce8/dts/arm/atmel/same70.dtsi#L241-L301

https://github.com/zephyrproject-rtos/zephyr/blob/98bcc51b0925a92db28f127d08b842b1d609bce8/dts/arm/atmel/same70.dtsi#L216

[2020-07-20 07:47] jukkar commented on #26584
@elsinkior you proposed change looks good, could you send a PR for that?

[2020-07-20 07:52] jukkar commented on #26585
Yes, we need to join/leave multicast group when IPv4 address is added/removed to/from network interface. Sorry for not being more clear in my words above. So this would need to be implemented, basically the functionality should be similar as with IPv6.

[2020-07-20 08:07] nhuanhuynh opened #26966 "Example OTA-DFU for Android/IOS app"
Hi everyone,

I am a newbie in Zephyr project. Now I need to implement an application for OTA_DFU with the Android/IOS app.

Could anyone help me with an example of this?

Thank you so much

[2020-07-20 09:58] jukkar commented on #26409
Hi @ibirnbaum, sorry for late reply, just returned from vacation.
Is this Ethernet driver somewhere where I could take a look at it?

The GMAC driver currently in zephyr tree is doing similar things, it sets `net_if_flag_set(iface, NET_IF_NO_AUTO_START);` so that network interface is not taken up automatically. Then it starts to poll the PHY link status, and only if the cable is connected, it call

[2020-07-20 10:31] joerchan commented on #26536
@jhedberg Thank you for clarifying, I have updated the existing PR regarding L2CAP RX MTU for the SMP_SVR sample to include setting this from CONFIG_BT_l2CAP_RX_MTU always.

[2020-07-20 10:35] ioannisg commented on #24147
confirmed, so I re-open

[2020-07-20 10:46] jukkar commented on #21452
I think we can close this, the current drivers work and both me and @tbursztyka are currently busy with other stuff.

[2020-07-20 10:46] #21452 closed

[2020-07-20 10:48] #26720 closed

[2020-07-20 10:55] #26695 closed

[2020-07-20 11:06] jukkar commented on #26873
The `dns_init_resolver()` is called when the network stack is initialized and there is no cleanup for the statically allocated addresses. It would be very heavy operation to do this init for each resolve operation. We could probably have a cleanup function if needed, or allow `dns_init_resolver()` to be called multiple times in which case it could cleanup things from earlier invocation.

[2020-07-20 11:53] nandojve commented on #26720
@cfriedt @pfalcon thank you for address this issue.

[2020-07-20 11:57] carlescufi commented on #26966
Hi there. There are iOS and Android libraries available here:

https://github.com/JuulLabs-OSS/mcumgr-ios
https://github.com/JuulLabs-OSS/mcumgr-android

[2020-07-20 11:57] #26966 closed

[2020-07-20 12:00] emob-nordic opened #26970 "usb: overflow of USB transfers leads to clogging"
**Describe the bug**
After #26747 was merged I observed that some samples (hid-cdc, cdc_acm_composite) don't work anymore.
If USB stack is calling read transfer on every SUSPEND->RESUME it will quickly run out of transfer slots making it unable to finish the enumeration and make the device unusable.

Increasing the number of USB transfer slots does not help much. The issue could be seen when switc

[2020-07-20 12:00] emob-nordic commented on #26970
cc @jfischer-phytec-iot

[2020-07-20 12:02] carlescufi commented on #26948
I see the bug, I will post a fix now.

[2020-07-20 12:09] pabigot commented on #26953
Yeah, that's just wrong regardless of language.  There are actually a lot of these.

[2020-07-20 12:13] pderwin commented on #26912
I did get a functional build by applying these 3 patches.  Patches 1 & 2 I think are solid.  The 3rd one, I doubt is what we need to end up with, but it gets me running for the time being.

[0003-arch-arm-userspace-decrement-nested-before-calling-s.patch.gz](https://github.com/zephyrproject-rtos/zephyr/files/4947559/0003-arch-arm-userspace-decrement-nested-before-calling-s.patch.gz)
[0002-arch-arm

[2020-07-20 12:13] carlescufi commented on #26939
@de-nordic could you try to reproduce please?

[2020-07-20 12:37] mtahirbutt opened #26975 "Control never returns from stm32_i2c_msg_write(), whe SCL is pulled low permanently (hardware fault occurs)"
**Describe the bug**
A clear and concise description of what the bug is.

When there is a faulty hardware sensor connected via I2C interface, the control is not returned from stm32_i2c_msg_write() function even during initialization, I did tests with SHT3xd sensor sample app to conclude to this bug in the software. In order to further confirm the problem, I artificially pulled SCL signal line to l

[2020-07-20 12:38] carlescufi commented on #26912
@pderwin assuming the bug exists in master, could you send a Pull Request against it and then backport it to the `v2.3-branch`?

[2020-07-20 12:41] carlescufi commented on #26848
Will you update zephyr's OpenAMP repos with this fix @galak?

[2020-07-20 12:49] erwango commented on #26975
@mtahirbutt can you check https://github.com/zephyrproject-rtos/zephyr/pull/21308/files could solve the issue you're facing ?

[2020-07-20 13:19] mniestroj commented on #26873
`dns_init_resolver()` calls `net_context_bind()` function in which network interface is assigned to the context. I don't think this is right to do during system init, because (available) network interfaces might change in runtime. For example there might be GSM and WiFi, which are both "dynamic". If application tries to resolve some domain, then socket (or net_context) should be bound to the netwo

[2020-07-20 13:37] galak commented on #26848
I plan to once it gets merged upstream.

[2020-07-20 13:42] galak commented on #26954
Where are you seeing this warning?  Which compiler?  All the sensor drivers in tree that are i2c aren't seeing this issue.

[2020-07-20 13:43] galak commented on #26954
Have you tried using DT_REG_ADDR() macro?

[2020-07-20 13:43] jfischer-phytec-iot commented on #26970
Actually not, because SUSPEND event would cancel all transfers and cdc-acm re-triggers the transfer only for SUSPEND->RESUME transition. I need more information, logs...

[2020-07-20 13:45] pabigot opened #26978 "RFC (style) prefer ATTRIBUTE_UNUSED over ARG_UNUSED"
It's always seemed clunky to have `ARG_UNUSED(foo);` statements in the body of a function to avoid whining from some compilers invoked with specific options.  Googling `ARG_UNUSED` shows (me) Zephyr in the top three results, with the next highest the transition in GCC from `ARG_UNUSED` to `ATTRIBUTE_UNUSED` about ten years ago.

`__attribute__((__unused__))` is supported in GCC and Keil, and likel

[2020-07-20 13:46] de-nordic commented on #26939
I am taking care of this.

[2020-07-20 14:03] emob-nordic commented on #26970
It seems it doesn't happen. I will post a patch that can show that. I've found that the issue could be easily addressed by this patch:

[code]
I am just wondering if this should only be done for OUT endpoints.

[2020-07-20 14:09] emob-nordic commented on #26970
btw @jfischer-phytec-iot  transfers are only canceled when the device was previously configured.
[code]
You can see an issue when swapping the device from native machine to virtual machine frequently. Then You run out of transfers pretty quickly. I will post more logs soon

[2020-07-20 14:22] #20712 closed

[2020-07-20 14:30] joerchan commented on #21000
@Vudentz Should this be closed? Did you do this as part of your Bluetooth Host 5.2 features PR?

[2020-07-20 14:32] DunderRoffe opened #26981 "Problem with PPP + GSM MUX with SIMCOM7600E"
**Describe the bug**
I am trying out the GSM PPP driver and GSM MUX with two SIMCOM modems:
SIM868 and SIM7600E.
It works as a charm on SIM868 but I am having problems with SIM7600E.

When just using `MODEM_GSM_PPP=y` and `GSM_MUX=n` it works fine

When enabling GSM_MUX, AT commands works fine and I can run ping in parallel, so network connectivity works to some extent...

My problem is when I sta

[2020-07-20 14:38] mniestroj commented on #26981
Did you try #26671? It might help.

[2020-07-20 14:39] DunderRoffe commented on #26981
Yes I did try your PR @mniestroj sadly it did not help.

[2020-07-20 14:42] jukkar commented on #26981
This can be very difficult to debug as typically the modems are just black boxes that do not tell why they fail. I spent countless hours debugging the muxing with simcom808 modem.

[2020-07-20 14:48] DunderRoffe commented on #26981
Do you have any suggestions as to how I can verify that the Zephyr code is working as it should?
I have been trying to sniff the UART and analyze the code with Wireshark but I only get garbish (even with the SIM868 which works fine)

[2020-07-20 14:52] mniestroj commented on #26939
I think that using something from shell API (e.g. `shell_print_stream()` as in the issue description) instead of `k_str_out()` might help when having logs printed over shell during firmware upgrade / file transfer. Right now there is a possibility that log will be printed in the middle of mcumgr smp response.

[2020-07-20 14:52] jukkar commented on #26981
One thing to check is to make sure that the muxing channel is correctly set. Different modems might use different channel number for PPP and AT channels. See CONFIG_GSM_MUX_DLCI_AT and CONFIG_GSM_MUX_DLCI_PPP options.

[2020-07-20 14:54] pabigot commented on #25945
This keeps coming up.  @galak Do you have fundamental objections to this that will prevent us from implementing it, or can we proceed?

@mbolivar-nordic It would probably be more efficient for you to do this, but if you're fully booked I'm willing to take it on.

[2020-07-20 14:56] jukkar commented on #26981
It is a bit surprising that Wireshark is not able to decode the muxing, usually it is handling all the protocols that I have thrown into it.

You can enable more debugging, for example CONFIG_GSM_MUX_LOG_LEVEL_DBG=y might give usable information,

[2020-07-20 15:02] jukkar commented on #26981
You probably know this but just in case, the https://simcom.ee/documents/ contains documentation for various SIMCOM modems.

[2020-07-20 15:08] DunderRoffe commented on #26981
Yeah I have tried to compare the AT-command listings.

There does not seem to be any difference in the AT-command listing although the AT+CMUX description for SIM7600E is very brief and states "Currently only basic operation mode is supported." which I guess refer to the "basic operation" in the GSM 07.10 protocol?

[2020-07-20 15:14] DunderRoffe commented on #26981
good tip will try that :)

[2020-07-20 16:31] mtahirbutt commented on #26975
@erwango, thanks for a great tip, i am working on that.

[2020-07-20 18:24] dleach02 commented on #21991
Let me also add that the memory domain MPU mapping on ARM seems a bit pointless. My limited review of the ARM MPU initialization is that implementations appear to create a static area that covers all of RAM. When the threads are swapped in the z_arm_configure_dynamic_mpu_regions() will create a MPU map that includes the memory domain(s) associated with the thread, the thread stack, and the stack g

[2020-07-20 18:34] honestech74 opened #26983 "MPU FAULT in nRF52840-PDK"
**MPU FAULT with lvgl example on nRF52840-PDK**
I build the lvgl example with st7789v display on nrf52840dk_nrf52840 board successfully, but after flashed, I got the MPU FAULT error from uart_console. What did I miss?

**My build**

1. west build -p auto -b nrf52840dk_nrf52840 samples/display/lvgl -- -DSHIELD=st7789v_waveshare_240x240
2. west flash

**Console output**
[code]

**Environment**
 - OS

[2020-07-20 19:06] nzmichaelh commented on #23672
@stephanosio thanks.  I'm not sure if I'll finish it, but I started a branch at https://github.com/zephyrproject-rtos/zephyr/compare/master...nzmichaelh:pinctrl

[2020-07-20 19:07] andrewboie commented on #21991
@dleach02 I don't believe that's true. The ARM code is a little confusing because `k_mem_partition` is over-loaded and uses for purposes outside of memory domains. I would actually like to see this changed and CONFIG_MEMORY_PROTECTION deleted so that 1) the ARM MPU code doesn't depend on the `k_mem_partition` defintion even when USERSPACE is disabled 2) I can change memory domain structures withou

[2020-07-20 19:09] andrewboie commented on #21991
@ioannisg Sure we can add this. Feel free to send a patch.

In the fullness of time, I want to redesign the memory domain APIs later this year / early next year, after virtual memory lands.

[2020-07-20 19:13] sslupsky commented on #26954
@galak I have not tried the DT_REG_ADDR() macro.  I'll gave that a try is it works like a charm.  No problem now.

Though, I am not sure why.  It seems to me they return the same thing?

Thank you for pointing the other macro out.

[2020-07-20 19:13] #26954 closed

[2020-07-20 19:20] solsbarry commented on #26937
I realized our project no longer needed to include the sdk-nrf module. So removing that from our west file removed it from the project, and got rid of this issue.  So I am happy to close this if you want me to. I am not sure if my original issue exposed some underlying issue that you all might be interested in, or maybe this is just some weird edge case that you all don't care about. I'd hate for

[2020-07-20 19:51] albertofloyd commented on #25148
@pabigot Original issue was fixed with https://github.com/zephyrproject-rtos/zephyr/pull/25103
However, the problem was not caught back then with the gpio case but in our app development, hence this test request enhancement.

What could it be done is revert #25103 and see if latest test code catches the issue.

[2020-07-20 20:01] pabigot commented on #25148
@albertofloyd Exactly; please do that.  I would, but I don't have the hardware.

[2020-07-20 20:15] mbolivar-nordic commented on #26954
They do not, not in general. You can't read `reg` property values safely with `DT_PROP`. This is covered in the documentation:

https://docs.zephyrproject.org/latest/guides/dts/api-usage.html#reg-properties

The cells in the `reg` array need to be processed into address/size values using `#address-cells` and `#size-cells`. DT_PROP just returns the C array initializer for the entire `reg` value, wh

[2020-07-20 20:25] sslupsky commented on #26954
@mbolivar I was unaware the guide had been updated.  Your explanation tells me more clearly why DT_PROP generates the warning.  Thank you.

[2020-07-20 20:33] pkral78 commented on #21322
+1
`bg_thread_main` devices initialization and setup calls need hundreds bytes from stack, we can reuse them for system queue.

[2020-07-20 20:39] #26948 closed

[2020-07-20 20:50] honestech74 commented on #26983
@vanwinkeljan I have tried with another example(samples/drivers/display), it's working without any issue. I am thinking on lvgl. It's related to SRAM or stack?

[2020-07-20 20:56] nslowell commented on #23282
This might be out of scope, but I'm wondering if a subsys software watchdog might be developed that creates an API for components to register that they wish to be required to feed/kick the dog and register a callback for notification of a software watchdog event.  A software watchdog is common b/c only one component should be directly interacting with the hardware watchdog so this enables multiple

[2020-07-20 21:09] mbolivar-nordic opened #26984 "sys/device_mmio.h API design should accept generic DT node identifiers"
**Describe the bug**

I'm calling this a bug since I think the API design has a very minor flaw that should be easy to fix. However, validity should be discussed and determined by @galak and @andrewboie. No hurt feelings if this just gets closed :smile: .

During a Slack discussion with @andrewboie, he pointed out the way the new device_mmio.h API uses devicetree instance numbers exclusively to ge

[2020-07-20 21:10] zephyrbot opened #26985 "[Coverity CID :211476] Extra argument to printf format specifier in arch/x86/zefi/zefi.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/arch/x86/zefi/zefi.c#L101

Category: API usage errors
Function: `efi_entry`
Component: Architectures
CID: [211476](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211476)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/re

[2020-07-20 21:10] zephyrbot opened #26986 "[Coverity CID :211480] Printf arg count mismatch in arch/x86/zefi/zefi.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/arch/x86/zefi/zefi.c#L101

Category: API usage errors
Function: ``
Component: Architectures
CID: [211480](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211480)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm

[2020-07-20 21:10] zephyrbot opened #26987 "[Coverity CID :211475] Unintended sign extension in drivers/sensor/wsen_itds/itds.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/drivers/sensor/wsen_itds/itds.c#L263

Category: Integer handling issues
Function: `itds_accl_channel_get`
Component: Drivers
CID: [211475](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211475)

Details:

[code]

Please fix or provide comments in coverity using the link:

https

[2020-07-20 21:10] zephyrbot opened #26988 "[Coverity CID :211473] Unchecked return value in subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/subsys/net/lib/lwm2m/lwm2m_engine.c#L3781

Category: Error handling issues
Function: `retransmit_request`
Component: Networking
CID: [211473](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211473)

Details:

[code]

Please fix or provide comments in coverity using the link:

ht

[2020-07-20 21:10] zephyrbot opened #26989 "[Coverity CID :211477] Unchecked return value in subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/subsys/net/lib/lwm2m/lwm2m_engine.c#L1011

Category: Error handling issues
Function: `lwm2m_send_message`
Component: Networking
CID: [211477](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211477)

Details:

[code]

Please fix or provide comments in coverity using the link:

ht

[2020-07-20 21:18] MZachmann opened #26990 "i2c transfers are timing out with SSD1306 display"
**Describe the bug**
In order to avoid waiting forever for a semaphore in the i2c code in case of hardware failure,  in pull request #25077, a fixed timeout of 100ms for i2c transfers was added. Unfortunately the ssd1306 display (and almost certainly others) take longer than that to copy the buffer to the display and now fail to work correctly. To be specific the ssd1306 takes 103ms by empirical t

[2020-07-20 21:25] zephyrbot opened #26991 "[Coverity CID :210072] Resource leak in subsys/mgmt/smp_udp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/subsys/mgmt/smp_udp.c

Category: Resource leaks
Function: `create_socket`
Component: Other
CID: [210072](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210072)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12996.

No

[2020-07-20 21:25] zephyrbot opened #26992 "[Coverity CID :210547] Unchecked return value in lib/updatehub/updatehub.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/lib/updatehub/updatehub.c

Category: Error handling issues
Function: `install_update`
Component: Other
CID: [210547](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210547)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951

[2020-07-20 21:25] zephyrbot opened #26993 "[Coverity CID :210593] Out-of-bounds access in lib/updatehub/updatehub.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/lib/updatehub/updatehub.c

Category: Memory - corruptions
Function: `cleanup_connection`
Component: Other
CID: [210593](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210593)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32

[2020-07-20 21:25] zephyrbot opened #26994 "[Coverity CID :210616] Resource leak in lib/updatehub/updatehub.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/lib/updatehub/updatehub.c

Category: Resource leaks
Function: `start_coap_client`
Component: Other
CID: [210616](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=210616)

Please fix or provide comments in coverity using the link:

https://scan9.coverity.com/reports.htm#v32951/p12

[2020-07-20 21:25] zephyrbot opened #26995 "[Coverity CID :211478] Logically dead code in samples/net/sockets/big_http_download/src/big_http_download.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/samples/net/sockets/big_http_download/src/big_http_download.c#L322

Category: Control flow issues
Function: `main`
Component: Samples
CID: [211478](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211478)

Details:

[code]

Please fix or provide comments in coverity using the lin

[2020-07-20 21:25] zephyrbot opened #26996 "[Coverity CID :211340] Side effect in assertion in tests/kernel/smp/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/tests/kernel/smp/src/main.c#L539

Category: Incorrect expression
Function: `test_smp_ipi`
Component: Tests
CID: [211340](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211340)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan9.coverity.

[2020-07-20 21:25] zephyrbot opened #26997 "[Coverity CID :211474] Unchecked return value in tests/kernel/mutex/mutex_api/src/test_mutex_apis.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/tests/kernel/mutex/mutex_api/src/test_mutex_apis.c#L65

Category: Error handling issues
Function: `tmutex_test_lock`
Component: Tests
CID: [211474](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211474)

Details:

[code]

Please fix or provide comments in coverity using the lin

[2020-07-20 21:25] zephyrbot opened #26998 "[Coverity CID :211479] Unchecked return value in tests/kernel/mutex/mutex_api/src/test_mutex_apis.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/476fc405e7/tests/kernel/mutex/mutex_api/src/test_mutex_apis.c#L81

Category: Error handling issues
Function: `tmutex_test_lock_timeout`
Component: Tests
CID: [211479](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211479)

Details:

[code]

Please fix or provide comments in coverity using

[2020-07-20 21:38] honestech74 commented on #26983
This issue was solved by @vanwinkeljan
I have added this config.
`CONFIG_MAIN_STACK_SIZE=2048`

[2020-07-20 21:38] #26983 closed

[2020-07-20 21:43] cfriedt opened #26999 "Add a Stack Allocation API"
Relates to #24714

We want an API such that we can pass in a desired stack size, and a suitably aligned pointer to a stack object will be returned, with all reserved space, alignment, and permissions considerations taken care of.

[2020-07-20 21:51] jettr opened #27000 "Avoid oppressive language in code base"
Let's make the Zephyr codebase a more inclusive codebase by avoiding oppressive terms and keywords.

- [x] We should document our expectations with regards to what terms are blocked, and when there may be exceptions. For example, following the naming convention of an external specification could allow for an exception (DONE: #30508)

- [ ] We should introduce an automated check for each pull reque

[2020-07-20 21:54] jettr commented on #27000
@ioannisg @nashif @MaureenHelm @carlescufi fyi. I didn't find an existing issue to track this.

[2020-07-20 22:40] andrewboie commented on #26999
With the updates to sys_heap this shouldn't be hard, one of my PRs needs to go in #24714 and then it should be easy.

[2020-07-20 23:01] #26812 closed

[2020-07-21 00:00] andrewboie commented on #26984
Would like to confirm with @galak but I am happy to make this change.

[2020-07-21 00:15] galak commented on #26984
I have no issue with this change.  Didn't realize we merged this, was hoping to see if we'd put addr in device struct since seems like every device needs this, so having a common way of storing and managing it would be nice. (But that's a slight aside to the issue raised here).

[2020-07-21 00:22] andrewboie opened #27002 "checkpatch.pl incorrect ERROR:POINTER_LOCATION"
**Describe the bug**
[code]

Found in checks for #27001.

**Impact**
It's leaving a -1 on my patch because this is treated as an error and not a warning.

[2020-07-21 00:23] andrewboie commented on #27002
@pabigot is this an upstream checkpatch.pl issue or did one of our local changes cause this? I don't recall ever running into this before, but I recall we recently pulled up to a new version..

[2020-07-21 00:45] andrewboie commented on #26984
This presumes that every driver has exactly one MMIO region to manage which I don't think is necessarily the case. If you want to come up with a proposal for this change feel free, but at this time I'm just focusing on what @mbolivar has reported here.

[2020-07-21 01:01] wentongwu commented on #25918
@galak any plan to upgrade zephyr sdk qemu based on qemu 5.1? Thanks

[2020-07-21 01:14] pabigot commented on #27002
I don't know, but I can tell you that checkpatch thinks that in the given contexts `CONFIG_MMU_PAGE_SIZE` is a non-pointer type, and that the version of checkpatch before 5b10fac97e emits the same diagnostic.

It treats `CONFIG_MMU_PAGE_SIZE` as a possible type because it appears in an `__aligned()` specifier in:
[code]
If you change that to:
[code]
it becomes unconfused.

[2020-07-21 01:18] andrewboie opened #27003 "CMakeLists.txt newline check is too strict"
**Describe the bug**
[code]

The problem is, the file looks like this:

[code]

The endif() on the last line has a newline on the end of it. Only one.

I can understand forbidding multiple blank lines at the end, but forbidding the last line of build system code to have a newline on it is ridiculous.

[2020-07-21 02:19] andrewboie commented on #27002
I sent a patch to turn off the check until this sorts out.

Wondering why it flagged `Z_X86_NUM_PT_ENTRIES`?
Also seems weird that being inside `__aligned()` would make this thing think it's a type, since __aligned() takes a size. Anyway, I hate reading Perl code so maybe I'll never know why

[2020-07-21 02:29] andrewboie opened #27006 "unsynchronized newlib uintptr_t and PRIxPTR definition on xtensa"
**Describe the bug**
This seems to only affect Xtensa, I can only reproduce this with qemu_xtensa.

This assertion:
[code]

produces:

[code]

**Expected behavior**
The definitions of uintptr_t and PRIxPTR (and really any PRI.PTR) are in sync such that you get the right printf code for it.

**Impact**
Ugly workaround to hard-cast everything to just unsigned long which I'd rather not do.

[2020-07-21 03:19] andrewboie commented on #13813
caught this failing a timeout assertion on x86_64:

[code]

[2020-07-21 03:24] sslupsky commented on #26818
@pabigot The use case you describe is exactly what I am doing ... use the console on USB when USB is connected ... and I want to minimize power consumption when USB is disconnected.

Could this issue be resolved by adding a Kconfig option for "early usb console start" or maybe using the existing "early console start" option?

[2020-07-21 03:27] sslupsky commented on #26818
@carlescufi Could you please  re-open this issue?

[2020-07-21 03:33] sslupsky commented on #26953
@pabigot Thank you for the PR.

[2020-07-21 04:15] dleach02 commented on #21991
part of my comment turns out to be my confusion when debugging the test case between a supervisor thread and a user thread. A supervisor thread will end up having dynamic memory setup with a partition for memory domain with attributes for user and supervisor modes. It will then create a hole for the stack guard when for the NXP mpu code the hole will map from beginning of memory to the start of th

[2020-07-21 06:57] jfischer-phytec-iot commented on #26818
This bug report is not true and will stay closed. You have to open an enhancement request if you need.

[2020-07-21 07:45] jfischer-phytec-iot commented on #27000
I suggest to follow Linux Kernel, https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=49decddd39e5f6132ccd7d9fdc3d7c470b0061bb

[2020-07-21 08:15] DunderRoffe commented on #26981
The channels seem fine. Although I did some manual interpretation of the data captured on the UART all of the muxed packets sent only seem to be 7 byte. I guess there could be an issue with flooding the modem?

Do you know where I can find settings for the packet size?

[2020-07-21 08:27] emob-nordic commented on #26970
I've added (I better like to change it to ERR instead of enabling all DBG logs) to the patch in Issue description:
[code]
Here is the output.
[code]

Because of duplicate transfers the cdc is unable to create new IN transfer. I have opened both ports `/dev/ttyACM*`. I am able to type but unable to see redirected characters I am typing.

[2020-07-21 08:28] ioannisg commented on #8262
@marshed18 can you add some details?

[2020-07-21 08:48] pfalcon commented on #26720
While there was some great work on closing unfixed issues over weekend, I'm no so fast, so please let me go over over this ticket, #26932, and #26951, and reply to some comments.

@cfriedt, from https://github.com/zephyrproject-rtos/zephyr/pull/26932#issuecomment-660384628

Well, seeing issues like this, a suggestion I have in my head is "if you use POSIX functionality, then you should use the mos

[2020-07-21 09:07] pfalcon commented on #26720
@andrewboie, from https://github.com/zephyrproject-rtos/zephyr/pull/26932#issuecomment-660352624

I read it again and again, and don't see where it says "getaddrinfo() calls malloc()". Otherwise, as you may imagine, static allocation perfectly fits the verb "allocates". You're absolutely right that it's not thread-safe, that's why I don't seriously suggest to revert that commit. On the other hand,

[2020-07-21 09:16] jukkar commented on #26981
There is no such thing as tweaking the packet size. It sounds like there is some handshake error here. You could enable more modem debugging in order to see more information
[code]
This will print lot of data, so I had to increase the logging sizes too
[code]

I had some experimental stuff for SIMCOM LTE modems at `drivers/modem/gsm_ppp.c:mux_enable()` function. If you set SIMCOM_LTE the mux enabl

[2020-07-21 09:25] DunderRoffe commented on #26981
Sorry I meant that `size` in `static int gsm_mux_send_data_msg(struct gsm_mux *mux, bool cmd, struct gsm_dlci *dlci, uint8_t frame_type, const uint8_t *buf, size_t size`
always seems to be 1.

So when I send "AT" on the AT DLCI (2) it is sent as two frames:
[code]

Pretty sure I am flooding the modem with tiny frames

[2020-07-21 09:27] Delsian opened #27010 "net: ieee802154: wrong header generation"
**Describe the bug**

In ieee802154_send() as first step we use ieee802154_compute_header_size() getting ll_hdr_size value.
Next, ieee802154_create_data_frame() calling  generate_fcf_grounds() and generate_addressing_fields()
Sometimes generate_fcf_grounds() generates another set of fs->fc.src_addr_mode and fs->fc.dst_addr_mode values than  ieee802154_compute_header_size supposed before. Both vari

[2020-07-21 09:29] pfalcon commented on #26720
Well, my cause is helping to promote Zephyr usage, by identifying missing parts and issues, and contributing towards their resolution to user satisfaction. And my cause as hard as users' usage of Zephyr, and that's indeed hard, because its full of random gaps and issues.

Let's take a case here: you identified an issue (lack of thread safety) and fixed it. But your fix opened up another issue, of

[2020-07-21 09:35] DunderRoffe commented on #26981
I realized this when I spent the morning manually dissecting the sniffed UART data ... then Wireshark behaved much nicer

[2020-07-21 09:49] pabigot commented on #27002
checkpatch doesn't care that it's inside `__aligned()`; it parses that horrific declaration and misinterprets it as a prototype for for a function `__aligned` with a single `CONFIG_MMU_PAGE_SIZE` parameter.

The diagnostic can also be eliminated by moving the `__aligned()` attribute to the end of the declaration, though I haven't confirmed gcc interprets it properly there.

This is upstream checkp

[2020-07-21 09:51] jukkar commented on #26981
There are lot of small frames but I doubt it is the issue here.

The `uart_poll_out` API sends data one byte at a time so what you are seeing here is unavoidable (unless new API is implemented). See `drivers/console/uart_mux.c:uart_mux_poll_out()` for details.

[2020-07-21 10:01] DunderRoffe commented on #26981
I guess it is fine for the AT commands but it seems to be the case for all of the IP packets being sent on the PPP line as well...
Is this really how it is intended to work?

Is there a way I could use uart_mux_fifo_fill instead?

[2020-07-21 10:05] ioannisg commented on #26600
I cannot reproduce on latest master, on any of the aforementioned platforms (btw, the test seems to be excluded on an521, due to lack of HW support).

I do reproduce this on 2a706d9f209648533d952a1d1d439bccf22cabd3.

[2020-07-21 10:22] DunderRoffe commented on #26981
Sorry if I am missing the point

[2020-07-21 10:40] #26988 closed

[2020-07-21 10:40] #26989 closed

[2020-07-21 11:11] jukkar commented on #26981
Currently the modem code in `drivers/modem/modem_iface_uart.c:modem_iface_uart_write()` is using polling interface. Perhaps it might be possible to use the interrupt driver API instead, would require some changes to modem code and more testing. Patches are welcome if you want to try that route.

[2020-07-21 11:32] DunderRoffe commented on #26981
I will try to verify that this is my issue first. If it is the case I might attempt the rewrite.
Thank you for the help :)

[2020-07-21 11:39] nandojve commented on #26994
CC: @otavio

[2020-07-21 11:40] nandojve commented on #26993
CC @otavio

[2020-07-21 11:40] nandojve commented on #26992
CC @otavio

[2020-07-21 11:45] ioannisg commented on #26600
Git bisect shows that the test was fixed in 937482b4a7c111695a9d5677df14ef2947366174

[2020-07-21 11:50] ioannisg commented on #26600
Closing this @MaureenHelm @stephanosio , as I cannot reproduce after commit 937482b on FRDM or SAM E70, pls, re-open if you see issues.

[2020-07-21 11:50] #26600 closed

[2020-07-21 12:12] ematt opened #27015 "Add custom transport support for MQTT"
Hello,

**Problem**
As a user, I want to have my own transport for MQTT. Unfortunately there is no way to do this as handles are hard coded.

**Request**
Add API to support custom connect, disconnect, write, read functions to handle MQTT connectivity.

**Possible solution**

- Add `mqtt_set_transport_handle(connect_handle, disconnect_handle, read_handle, write_handle)` to allow insertion of custom

[2020-07-21 12:32] nandojve commented on #26720
CC @otavio

[2020-07-21 13:11] mtahirbutt commented on #26975
Hi, I tested  i2c_ll_stm32: Add timeout to I2C read/write functions PR only adjusted semophore timeouts, that works fine with my zephyr 2.3.0 version. I tested with both faulty and open connector for two sensors TMP116 and shtxd35. So far, experienced no problem with 1 ms timeout value.

[2020-07-21 13:23] MaureenHelm commented on #22198
This is a hidden (internal) Kconfig symbol that gets selected when you set `CONFIG_BMA280_TRIGGER_GLOBAL_THREAD=y` or `CONFIG_BMA280_TRIGGER_OWN_THREAD=y` in your application. You need to set one of them to use the sensor interrupt.

[2020-07-21 13:38] MaureenHelm commented on #26987
@ssekar15 will you please take a look?

[2020-07-21 13:42] MaureenHelm commented on #25749
@sven-hm will you please take a look?

[2020-07-21 13:57] ssekar15 commented on #26987
@MaureenHelm sure, I will take a look

[2020-07-21 14:07] Nukersson commented on #24767
@carlescufi Actually solved by #26226. Should it be closed now?

[2020-07-21 14:14] erwango commented on #24767
Fixed by #26226

[2020-07-21 14:14] #24767 closed

[2020-07-21 14:19] xhpohanka opened #27020 "civetweb issues"
I'm playing with `civetweb` webserver module on latest zephyr tree and I see some issues here

## stack size
When I try to serve a bit bigger pages that are in provided in samples I got stack overflow errors. Looking into code this does not lookg good to me
[code]
`MG_BUF_LEN` sized arrays are allocated on stack on several places and this size is even bigger than default stack size used in zephyr

[2020-07-21 14:47] ioannisg commented on #26263
The test failure has something to do with the nRF RTC driver and the system timer configurations (cycles, ticks, etc.). The test does not fail on nRF platforms if the SysTick timer is used instead of the RTC.

Assigning this to nRF timer experts @pabigot , @nordic-krch

[2020-07-21 14:52] pabigot commented on #26263
https://github.com/zephyrproject-rtos/zephyr/issues/24001#issuecomment-633529834 may be relevant.  @jfischer-phytec-iot any updates?

[2020-07-21 15:40] nandojve opened #27028 "Remove all HEAP allocation from Zephyr core and essential sub-systems"
**Is your feature request related to a problem? Please describe.**

Zephyr is more than a OS core, it incorporates sub-systems and libraries following a principle to be easy to use have high scalability. This means that systems can grows very fast and we need keep eyes open to ensures that core and essential sub-systems are always safe.

The #26720 seems to open a point of great concern once dynam

[2020-07-21 16:55] carlescufi commented on #26923
API meeting 21st July:

- Why is UART being added a context/user data pointer but not others that are also missing it (eg. gpio)
- Can we take this opportunity to settle on a name for data that is carried transparently by the driver without ever accessing it?
  - `context` +
  - `user_data` +++++ (selected)
  - `callback_args`

[2020-07-21 17:03] dcpleung commented on #27006
I tried it with the following code added in `hello_world`:

[code]

And it compiled and ran on `qemu_xtensa`:

[code]

[2020-07-21 17:08] dcpleung commented on #27006
But with newlib, PRIxPTR is `x` instead of `lx`. Need to look at SDK to see how it is being done.

[2020-07-21 17:16] pabigot commented on #27002
Also from #26785:
[code]
is an expected failure.  Because Linux and Zephyr disallow typedefs checkpatch can't recognize that `IOPCTL_Type` is a type, so it complains about a multiplication that's spaced as `A *B`.

[2020-07-21 17:29] carlescufi commented on #26729
@pabigot states that this should've been fixed by the recent PRs that modified the nRF QSPI NOR driver. @nvlsianpu and @de-nordic can you double-check that?

[2020-07-21 17:33] carlescufi commented on #26796
@nordic-krch what is the root cause of the usage fault? won't `CONFIG_LOG=y` require multithreading by default? could you test with something that doesn't require threads at all? Because I remember that I was able to enable interrupts with `irq_lock(0)` and then use interrupts without a problem with multithreading disabled.

[2020-07-21 17:35] pabigot commented on #8393
More context: we need the Nordic QSPI driver, which uses interrupts, to notify of completion of an operation.  We don't need anything else that comes with multithreading because we can busy-wait for the notification.

[2020-07-21 17:38] MaureenHelm commented on #26914
release meeting 21 jul: Changing to enhancement since we don't yet support this toolchain

[2020-07-21 17:38] jukkar commented on #26873
I agree, if we have interfaces coming up/down, the system should re-do the DNS init or we could do the bind() only when application is trying to resolve address. We could start to monitor network connectivity events or similar, and act accordingly. Atm I do not have time to look into this, patches are welcome if there are anyone willing to investigate this.

[2020-07-21 17:38] pabigot commented on #26729
Specifically I believe that if the QSPI driver no longer has size or alignment requirements, there should be no need to adjust the write block size.

Also note that the original report is relative to the Nordic fork, not upstream Zephyr.

[2020-07-21 17:48] Vudentz commented on #26900
This is quite weird given that BlueZ does exactly the same and tracing back:

commit aae7fe22a875a84e328469e228cba033ebbf20cb
Author: Andrei Emeltchenko <andrei.emeltchenko@nokia.com>
Date:   Wed Sep 15 14:28:43 2010 +0300

    Bluetooth: check for l2cap header in start fragment

    BLUETOOTH SPECIFICATION Version 4.0 [Vol 3] page 36 mentioned
    "Note: Start Fragments always begin with the Basi

[2020-07-21 17:56] galak commented on #8469
We moved to using the C99 types so this should be resolved.  If this is still an issue please reopen.

[2020-07-21 17:56] #8469 closed

[2020-07-21 18:01] ioannisg commented on #18712
Thinking about this, maybe we cab turn this to an enhancement, because the workaround has been stable for quite some time now.
Z_ARCH_EXCEPT _does_ work for Baseline cortex-m via the hard-fault inspection. Need to think if this should actually be made to work as it does for Mainline: it would probably eat an IRQ level for SVC and we don't have many levels available in Baseline.

[2020-07-21 18:03] galak commented on #21772
@jbroxson-fbrl you need to convert your driver to use the new macros.

[2020-07-21 18:03] #21772 closed

[2020-07-21 18:06] rfcard opened #27031 "Zephyr OpenThread Simulation"
Like this example https://openthread.io/platforms/simulation

I would like to simulate zephyr with openthread on a posix platform.

[2020-07-21 18:34] andrewboie commented on #26720
If you're going to call this a getaddrinfo() implementation, you are absolutely free to implement another solution that meets the constraint, from the spec, that "The freeaddrinfo() and getaddrinfo() functions shall be thread-safe." https://pubs.opengroup.org/onlinepubs/009695399/functions/freeaddrinfo.html

If not the heap where else would one obtain this memory? It can't be static data due to th

[2020-07-21 18:44] andrewboie opened #27032 "zephyr network stack socket APIs are not thread safe"
**Describe the bug**
The current Zephyr implementation of the BSD Socket APIs is not thread safe. Concurrent use of networking APIs by multiple threads may lead to kernel crashes and/or data corruption.

**To Reproduce**
Found by code inspection and also this comment from the author:

**Expected behavior**
The socket implementation for this operating system uses the necessary locking (spinlocks, s

[2020-07-21 19:01] DunderRoffe commented on #26981
It seems like flooding is the issue.

I was able to verify this by hacking around uart_poll_out in `modem_iface_uart_write` and in a similar way in `ppp_send_flush`

[code]

With this everything works as expected. I realize that this is not a nice solution but at least I have been able to find a cause of the issue.

Do you think this kind of workaround could be cleaned up to some acceptable state

[2020-07-21 19:03] dcpleung commented on #27006
Fixed by https://github.com/zephyrproject-rtos/sdk-ng/pull/257

[2020-07-21 19:22] pabigot opened #27033 "Update terminology related to I2C"
Following [Linux](https://www.zdnet.com/article/linux-team-approves-new-terminology-bans-terms-like-blacklist-and-slave/) and [OSHWA](https://www.oshwa.org/a-resolution-to-redefine-spi-signal-names) I'd like to see the language associated with the I2C bus roles changed to be less insensitive.

At this time I haven't been able to identify an I2C-specific precedent to follow, but candidate terminolo

[2020-07-21 19:25] bel2125 commented on #27020
I do not know Zephyr (although I know some other embedded operating systems), but I might be able to provide some details on civetweb (I came here from https://github.com/civetweb/civetweb/issues/895).

## Regarding stack size:

Indeed civetweb assumes the stack size to be some pages larger than the MG_BUF_LEN size. A buffer needs to contain at least the entire HTTP/1.x header. This is
[code]
Once

[2020-07-21 19:25] andrewboie commented on #27028
@nandojve Agree with all the points raised here.

I think for the particular case of a spec-compliant `getaddrinfo()`, we don't have great options because by its upstream design it returns a pointer from somewhere that has to be later freed, that isn't shared. It doesn't provide a way for the caller to provide this memory, so out of the heap it comes.

If we're willing, I think a workable solution

[2020-07-21 19:30] dleach02 commented on #19670
okay, I posted a fix  but I don't know how to test this.

[2020-07-21 19:40] pabigot commented on #26805
I suspect because they were the ones originally used to develop the I2C follower interface in Zephyr.  The test pre-dates the `testcast.yaml` infrastructure and has never reflected the need to cross-connect I2C lines for two controllers to verify behavior (suggested in the original commit messages).

#26003 will support running this test on native posix with the existing simulator.  It may be best

[2020-07-21 19:58] andrewboie commented on #27028
cc @nashif @andyross @ceolin

[2020-07-21 20:19] nashif commented on #25720
[code]

[2020-07-21 20:20] nashif commented on #25720
@jukkar  can you please take a look at this one?

[2020-07-21 20:26] pabigot commented on #27002
Fixing the diagnostics to be correct is not reasible with `checkpatch.pl` which is a perl script that cannot accurately parse C code.  It may be possible to disable the check entirely if/when we [move to clang-format](https://github.com/zephyrproject-rtos/zephyr/issues/21392#issuecomment-639032071), but that's some months away.

2020-07-21 Triage suggested two paths to resolving this:
* Convert th

[2020-07-21 20:26] andrewboie commented on #27028
@nandojve this documentation might be helpful when building the docs proposed here. We have an enumeration of all the specific core kernel APIs which allocate, on the kernel side, memory to service a system call:

https://docs.zephyrproject.org/latest/reference/usermode/memory_domain.html#thread-resource-pools

These all only perform allocations when invoked from user mode, due to a strong need to

[2020-07-21 20:35] andrewboie commented on #27002
How much of a concern is this really, given the costs of false positives in CI runs which leave a -1? Converting to a warning seems very reasonable to me. But it's also true that this issue has been around for a while and works most of the time, at least.

Ultimately I leave to your discretion how we want to deal with it, I appreciate you taking time to look into this.

I can try to massage my pat

[2020-07-21 20:39] ioannisg commented on #25299
That's fair.

@mbolivar-nordic what would be the appropriate Kconfig dependency? You mean something like:

[code]
??

[2020-07-21 22:10] ioannisg commented on #24255
@dcpleung BASEPRI is unconditionally restored inside arch_cpu_idle().

It is not clear what issues you refer to here.

Honestly, it is a bit hard for me to understand what the problem is for ARM architecture, I'd hope for some more clarifications here.

[2020-07-21 22:23] dcpleung commented on #24255
This has been a while... if I remember correct, BASEPRI was restored incorrectly when PM was enabled. `arch_irq_lock()` writes a new value to BASEPRI in `idle()`, and `arch_cpu_idle()` is restoring this BASEPRI instead of the value before calling `arch_irq_lock()` (inside `idle()`). This results in incorrect mask.

[2020-07-21 22:39] jettr commented on #27000
I like the idea of consistency. Are you suggesting that we use the kernel's recommend replacements or something else about that commit?

[2020-07-21 22:56] andrewboie commented on #25678
By the way before we do this, I would like to see some examples of precedent in other RTOSes. This really seems an odd use-case to me.

[2020-07-21 23:28] vanti opened #27037 "No network interface found when running wifi sample"
**Describe the bug**
When running the wifi sample on cc3220sf_launchxl (or any wifi-based sample for that matter), it reports that there is no network interface to work with:

[code]

The sample works fine prior to commit 62580748e536d5ff14ecc290e114c034f1ccccfd. It seems there is a change in how interfaces are iterated over in net_if_init():

[code]

This code is no longer finding any interface.

[2020-07-21 23:57] mbolivar-nordic commented on #25299
Yep. I've got a PR adding some potential ones here if the existing kconfigfunctions aren't sufficient:
https://github.com/zephyrproject-rtos/zephyr/pull/24794

[2020-07-21 23:57] mbolivar-nordic commented on #25299
Aha, I misread this. Actually, it's meant to be `default y if $(dt_<whatever>_enabled,<foo>)`, not `depends on`.

[2020-07-22 00:14] mbolivar-nordic commented on #25945
I don't think I'll have cycles for this anytime soon

[2020-07-22 00:43] #24918 closed

[2020-07-22 01:54] #26953 closed

[2020-07-22 02:01] nandojve commented on #25010
Hi @ABOSTM , I open this issue again because I got same problem with zephyr-v2.3.0-1218.

If I do full chip erase and flash zephy_MCUBoot.zip and zephyr-1.0.0_Signed_HelloWorld.zip using cubeprogrammer on Windows, the system works.

This process is valid on Linux using the Utzig suggestion https://github.com/stlink-org/stlink and st-flash erase command followed by west flash zephy_MCUBoot and west

[2020-07-22 02:05] andrewboie commented on #23599
@ioannisg might have some insight here.

[2020-07-22 06:12] thomasstenersen commented on #26900
Yes, the Zephyr host is far from the only one with this assumption. There is a relevant TSE with more background here: https://www.bluetooth.org/tse/errata_view.cfm?errata_id=10216

[2020-07-22 06:46] jukkar commented on #27037
Thanks for the report, I will look into it.

[2020-07-22 07:09] jukkar commented on #27037
Latest master works ok with Ethernet in nucleo_767zi, lowering the priority.

[2020-07-22 07:26] ioannisg commented on #24255
So, as far as I can see in the code, idle() does the following:
- locks interrupts without preserving the key (i.e. BASEPRI value in Cortex-M). Effectively, this means that the unlocking operation "should not care" about the actual key value and is expected to unlock all interrupts
- then calls k_cpu_idle() -> arch_cpu_idle()

@dcpleung appreciate coming back to this.

In Cortex-M arch_cpu_idle()

[2020-07-22 07:27] ABOSTM commented on #25010
Hi @nandojve ,
If I understand correctly, it seems there is a regression.
Regression is not in MCUBoot but in application.
Regression occurs between the time I created zephyr-1.0.0_Signed_HelloWorld.zip and now.

So I suggest to make dichotomy (git bisect) to determine which commit cause the regression.

[2020-07-22 07:36] jukkar commented on #27037
I have a fix proposal, I was not able to test it with real hw as I do not have any board with offloaded network stack. Could you try it and +1 the PR if it works for you?

[2020-07-22 07:39] ioannisg commented on #25299
Then this is not so straightforward. That's because the SysTick DTS node is part of the SoC definition only, while the config CORTEX_M_SYSTICK is enabled at board level.

For your proposal to work we need to be setting the SysTick node to status = okay at the board DTS, for all boards (and only those boards) that are supposed to work with the SysTick.

@QSQCaito has a relevant comment about this.

[2020-07-22 07:58] sven-hm commented on #25749
@MaureenHelm of course, i'll have a look! When i follow the links to coverity.com i get an "401: Unauthorized" though. `cppcheck` does not detect the issue.
Is there another way to detect this issue locally?

[2020-07-22 07:59] #19670 closed

[2020-07-22 08:11] ball-hayden commented on #26729
Thanks @pabigot / @carlescufi. I'll hunt out those PRs and merge them into our fork to check that solves the issue.

Apologies - I should have made this clearer in the report (it would be helpful if Nordic still allowed issue reports on their fork!)

[2020-07-22 08:26] #16790 closed

[2020-07-22 08:58] ball-hayden commented on #26729
I've cherry-picked ce7d3f3437213f1e63850db2222d022be4aa571b (which I believe is the only related commit?) onto the nordic sdk-zephyr fork `master`, and with the patch in the description applied to make FCB tests run against the mx25r64 (and therefore use qSPI) the tests are still failing so I believe this issue is still unresolved.

<details>
<summary>Test Output</summary>

[code]

</details>

[2020-07-22 09:09] ball-hayden commented on #26729
Ah. [ce7d3f3](https://github.com/zephyrproject-rtos/zephyr/commit/c3cc0c8787a79dd775a298ce04cdced3125a2177) allows unaligned read.

Fixing this would require unaligned write, which it looks like is still not possible?

[2020-07-22 09:27] #20595 closed

[2020-07-22 09:34] dcpleung commented on #24255
Actually, I remember now that I had to workaround the incorrect mask in commit b935903543b660af1a79e551dd62fca3a87d5123. The issue only happens if deep sleep is enabled. Here is the commit message:

[code]

This issue was observed on the `mec1501` SoC.

According to `arch_cpu_idle()`, setting BASEPRI to 0 seems to be the correct procedure. Maybe BASEPRI needs to set to 0 after coming out of deep s

[2020-07-22 09:39] carlescufi commented on #26818
@sslupsky could you please open a new Enhancement describing the functionality that you would like implemented?

[2020-07-22 09:44] pfalcon commented on #27032
As clear from the quoted context, "significant overhead" is a rhetoric figure, comparing situation which was before introduction of the Sockets API (all the callbacks, etc.) and concerns at that time that adding Socket API on top of that will be "too much".

Also, to clarify, Sockets API was developed with single-thread usecase in mind, or more specifically: socket
is an I/O object, and thus shoul

[2020-07-22 10:04] pfalcon commented on #26995
This is old false positive due to the fact that this code depends on Kconfig option. Resurfaced because that code was touched recently, re-marked as false positive.

[2020-07-22 10:04] #26995 closed

[2020-07-22 10:30] galak commented on #27006
@dcpleung / @andrewboie  what's the urgency of a toolchain SDK with this fix?  Trying to see if we need a 0.11.5 or does this wait for 0.12.x.

[2020-07-22 10:43] galak commented on #17624
@andyross any updates if this is still an issue.  I think this is more an enhancement to have a unified scheme for conveying what memory is (and what flash / code storage is).

[2020-07-22 10:44] galak commented on #18157
is this still an issue?  Haven't seen a response in almost over a year - so going to close and please reopen if it is.

[2020-07-22 10:44] #18157 closed

[2020-07-22 10:47] galak commented on #18843
@vanti can you see if this might still be an issue and look into it.  Since it seems specific to the TI platform.

[2020-07-22 10:59] galak opened #27047 "zefi.py assumes host GCC is x86"
zefi.py will fail if this assumption isn't meet.  Which may be the case on either an arm64 host environment or on something like MacOS X.

Is it possible to use the x86 cross compiler that build zephyr here?

[2020-07-22 11:11] gmarull opened #27048 "Improve out-of-tree driver experience"
**Is your enhancement proposal related to a problem? Please describe.**

It is not always possible to add an out-of-tree driver for an existing subsystem using the same CMake macros used upstream. The reason for that is that the library created with `zephyr_library()` macro gets no sources if no upstream driver is enabled (e.g. for `kscan`). In fact, this is not always true as some subsystems like

[2020-07-22 11:22] cfriedt commented on #18843
For what it's worth, I'm no longer having this issue, but now I'm using the OpenOCD from the Zephyr SDK.

[2020-07-22 12:02] pabigot commented on #27000
I hadn't seen this; for I2C I have #27033.

[2020-07-22 13:51] sslupsky commented on #26818
@carlescufi It is clearly stated here in this report what the broken functionality is.  The consequence of the referenced commit is that when the application calls usb_enable(), it fails to set the user callback because USB has already been enabled.  This capability was implemented as part of the changes to the USB API in version 2.2.  Specifically, the release notes describe the USB API on this m

[2020-07-22 13:59] danergo opened #27055 "BlueZ with ESP32 boards supported or not?"
Guys, can you confirm this for me please?

I wrote an application (on Linux) which uses BlueZ to control Bluetooth devices (both Classic and BLE).

I found that Zephyr can actually work together with BlueZ, and it also supports ESP32 boards but I don't want to buy any ESP32 module until this is confirmed at least here :)

As I found a lot of Wifi issues and incompatibility with Zephyr and ESP32, t

[2020-07-22 14:13] nslowell opened #27056 "Local header found before system header of same name"
**Describe the bug**
If a sample application adds a local include directory that includes a local header file that happens to match the name of a header file in the zephyr include directory, because all the directories are added to the -I list, there is no distinction between #include <file.h> and #include "file.h" like there typically should be.  #include <file.h> should be found in sysroot locat

[2020-07-22 14:21] galak commented on #26362
Need someone from the arc side to comment on if there are changes/patches that ARC is support for GDB for this.

[2020-07-22 14:22] MaureenHelm commented on #25749
Thank you. You should have access now to the coverity project.

[2020-07-22 14:31] Nukersson opened #27057 "NUCLEO-H745ZI-Q add cortex-m4 ethernet support"
Add support of ethernet driver to cortex-m4 in NUCLEO-H745ZI-Q board.

Can be solved by #27026

[2020-07-22 14:36] shahab-vahedi commented on #26362
@galak I don't understand. What else do you need that the previous comment doesn't make clear?

[2020-07-22 14:43] jhedberg commented on #27047
AFAIK the plan is to eventually move to using the same build environment as for the rest of Zephyr, as per #26737

I'll let @andyross comment if there's some quick/simple intermediate fix we could do to zefi.py to eliminate the x86 dependency.

[2020-07-22 14:50] pabigot commented on #21392
Please see #27058 and give it a try if you have (or can install) a clang-12 pre-release.

[2020-07-22 14:55] andyross commented on #27047
We could pass the compiler to the script via the environment or the command line for a quick fix.  But note that there's been absolutely no thought given to non-x86 EFI environments.  It's very much an arch-specific feature right now.  The framework is there, I guess, but I'd expect significant changes would be needed to get the COFF linkage working on other platforms, etc...

I'd mostly view this

[2020-07-22 15:10] rlubos commented on #27010
I've seen that `ieee802154_compute_header_size` reaches into NBR cache to calculate the header length:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/l2/ieee802154/ieee802154_frame.c#L487

I wonder if that could be the case, the cache entry could've expired after the packet was queued, but before it was processed, it would calculate incorrect header size (too small as reported

[2020-07-22 15:15] galak commented on #16968
Is this still an issue?  We don't see any failures w/sanitycheck building gpio support on Silabs.

[2020-07-22 15:16] galak commented on #20337
@pabigot is this still an issue?

[2020-07-22 15:18] pabigot commented on #8393
Some historical context: this was "solved" in #9668, reverted in #9829, and re-introduced via #9808 as a proposal to remove this feature.

Perhaps further discussion should be in #9808.  An example of what I want to be able to do us to make `samples/basic/blinky` work as expected with the following changes:
[code]

[2020-07-22 15:19] pabigot commented on #20337
@galak Yes.

[2020-07-22 15:29] sven-hm commented on #25749
I still get the same error. Or do i need to change some settings, too? I never used coverity before...

[2020-07-22 15:34] wali-ku commented on #20594
I tried to figure out what the problem was and found the following:

In the case of power-of-two alignment, there is extra padding added before the "datas" section due to which the addresses of the initialized global (rw) data change but the code still references the old address; without the padding offset.

![image](https://user-images.githubusercontent.com/7686904/88195326-89fa3380-cc05-11ea-909

[2020-07-22 15:58] carlescufi commented on #27055
No, you cannot because Zephyr does not support Bluetooth on the ESP32. You can however use a Nordic board for that, but it only has BLE, no Classic.

[2020-07-22 15:58] #27055 closed

[2020-07-22 16:09] dcpleung commented on #24255
Would there be a use case where mask is set outside `idle()` which needs to be preserved? If not, this can probably be closed. It's that BASEPRI is not preserved across `idle()` which raises my original question.

[2020-07-22 16:31] bbolen commented on #19979
@stephanosio I found your https://github.com/stephanosio/zephyr/commits/aarch32_non_m_fp_alt branch and pulled those changes.  I wanted to see if you have done any more work on this issue, specifically have you implemented anything mentioned in the "Specifications 3-7" section above?

[2020-07-22 16:31] Skallwar commented on #20980
This is due to the fact that esptool create an app image from the ELF sections. And there is more than 16 of them. This might be possible to fix this in the ESP32 linker script by merging sections

[2020-07-22 16:47] pabigot commented on #26263
This is the same problem that we hacked around for `kernel/timer/timer_api` and `portability/cmsis_rtos_v1`:  you can't reliably compare times calculated with two different clocks (in this case Nordic cycle timer from LFCLK and busywait from the CPU HFCLK).  I'll add code to the new tests to match those.

[2020-07-22 17:21] Skallwar opened #27068 "ESP-IDF Bootloader bootloop"
**Describe the bug**
When enabling ``CONFIG_BOOTLOADER_ESP_IDF``, the bootlader load the app but hang after ``I (178) boot: Disabling RNG early entropy source...`` then restart.

**To Reproduce**
Steps to reproduce the behavior:
1.export ZEPHYR_TOOLCHAIN_VARIANT=espressif; export ESPRESSIF_TOOLCHAIN_PATH=/path/to/xtensa-esp32-elf/; export ESP_IDF_PATH=/path/to/esp-idf
2. west build -b esp32 zephyr

[2020-07-22 17:33] jettr commented on #27000
Do you prefer to merge the two issues or keep them separates since the one you filed is more targeted to the I2C subsystem?

[2020-07-22 17:35] pabigot commented on #27000
I'd like to keep I2C separate; the changes are likely to be made one subsystem at a time anyway.

[2020-07-22 17:39] mbolivar-nordic commented on #22562
@JordanYates ping?

[2020-07-22 17:50] dcpleung commented on #20980
Network subsystem and kernel objects utilize linker sections extensively to group data together. The definitions for those sections are common to all arch/SoCs/boards. We could re-implement them in ESP32's linker script by grouping them into fewer sections, but this will increase maintenance as changes to common scripts will need to be re-implement in ESP32's.

[2020-07-22 17:56] marc-hb commented on #16968
tl:dr: if you don't care about the programming error and only care about sanitycheck showing green lights then feel free to close as wontfix. Otherwise apply the trivial one-line fix above.

The warning is still valid and the code is still wrong.

However in 2016 ccache disabling its pre-processing optimization in order to align with compilers and show fewer warnings. See https://github.com/ccache

[2020-07-22 18:17] #27037 closed

[2020-07-22 18:18] andrewboie commented on #27006
I worked around it for the code I was working on with some casts to `unsigned long`, unless somebody complains about that in #27001 this isn't urgent.

[2020-07-22 18:47] pabigot opened #27071 "USB: CDC-ACM uart console hijacks usb_enable call preventing user applications from registering callbacks"
The UART console driver, when associated with USB_CDC_ACM device via `CONFIG_USB_UART_CONSOLE`, improperly invokes `usb_enable(NULL)` although that function is documented to be under the control of the application, which may want to provide a callback.

This has been true "forever", but became more visible due to #25894 which causes the call to `usb_enable()` to be invoked for the console even whe

[2020-07-22 18:49] pabigot commented on #26818
I've opened #27071 to explore this, though I'm still working my way through the consequences.  I don't believe any of the above listed examples break due to this change, though I suspect they would if `CONFIG_USB_UART_CONSOLE=y` were enabled alongside; I'll be testing that as part of my follow-up.

[2020-07-22 18:53] MaureenHelm opened #27073 "User Experience Study Recommendations"
The following recommendations were made as a result of an [Intel user experience study](https://drive.google.com/open?id=0B5NybbZNGEEdcGNlV3c5YXJsbEY5aGRiVTBnTVVlS2llanMw):

Documentation for early-phase developers:
- [ ] What is the development model for RTOS (differences from bare metal or standard OS application)?
development)
- [ ] What is device tree and how to use it?
- [ ] How to integrate

[2020-07-22 18:54] sslupsky commented on #26818
@pabigot Yeah, that CONFIG flag would need to be set to trigger the issue.

[2020-07-22 18:56] sslupsky commented on #27071
@pabigot That title is a better description of the problem.

[2020-07-22 19:02] sslupsky commented on #27071
There are a couple other things that might be helpful with regard to the DTR functionality of the startup.  Namely, if you want the console output to begin right away without having to hit a key on the console, you need to set a couple other flow control settings:
[code]

[2020-07-22 19:12] pabigot commented on #27071
Please open an issue for that.  It's not something that'd be addressed here.  (I haven't noticed that need, myself.)

[2020-07-22 19:13] sslupsky commented on #27071
It can be done in the application.  I thought I would mention it in case you found it useful.

[2020-07-22 19:27] andrewboie commented on #27028
One other subsystem I found: if asynchronous logging is enabled, logging a string requires the use of `log_strdup()`. I think we need to iterate on this so that you don't need to do this if you want to log a string asynchronously, I am thinking a different API specifically for logging strings or other binary data.

[2020-07-22 19:47] laurenmurphyx64 opened #27074 "doc: coding_guidelines: broken links to MISRA-C example suite"
**Describe the bug**

Some of the rules have 2-file examples in the MISRA example suite.  For example, rule 2.1 corresponds to R_02_01_1.c and R_02_01_2. The links in the documentation were generated based on the assumption that there is only one file, so the link in the documentation for rule 2.1 is broken:

![image](https://user-images.githubusercontent.com/14157493/88221193-b758d880-cc29-11ea-9

[2020-07-22 20:21] Nukersson commented on #27057
solved by #27026

[2020-07-22 20:21] #27057 closed

[2020-07-22 20:22] #26991 closed

[2020-07-22 20:28] pabigot commented on #27071
`netusb`, `tracing`, and `openthread/platform/uart` all try to enable USB without coordination also.

[2020-07-22 21:01] albertofloyd opened #27078 "drivers: espi: mchp: Cannot perform multiple transactions over eSPI OOB channel"
**Describe the bug**
Current eSPI sample code only perform a single Tx, Rx transaction over eSPI OOB channel
If sample code is extended to perform back-to-back transactions, only first trasnsaction succeds and timeout failure is report for rest of transactions.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/drivers/espi/
2. west build -c -b mec1501modular_assy6885
3. Flash and po

[2020-07-22 21:05] albertofloyd opened #27079 "espi: driver: mchp: eSPI driver indicates flash channel is ready to eSPI host even before the channel negotiation takes place"
**Describe the bug**
eSPI driver indicates flash channel is ready to eSPI host even before the channel negotiation takes place.

**To Reproduce**
Steps to reproduce the behavior:
cd samples/drivers/espi/
west build -c -b mec1501modular_assy6885
Flash and power cycle

**Expected behavior**
eSPI driver should only perform ACK just after eSPI host indicates flash channel has been enabled.

**Impact**

[2020-07-22 21:07] albertofloyd commented on #27079
@scottwcpg I have capture the issue you described

[2020-07-22 22:06] ioannisg commented on #24255
I don't believe so. Why would the Idle thread mask interrupts? Also, we don't really exit idle(), right? There's a while loop in the current implementation. I'd like to hear @andyross opinion on this.

One exception would be if k_cpu_idle() is allowed to be called by user application; but I think, in that case it's sufficient to document that k_cpu_idle should be unconditionally unlocking IRQs upo

[2020-07-22 22:38] vanti commented on #18843
@galak I am unable to reproduce this issue using hello_world. That said, whenever I see a crash with CONFIG_NO_OPTIMIZATIONS=y, it is usually due to the default stack sizes being too small. Maybe an advice for someone who encounters this problem in the future would be to increase the stack sizes and see if it fixes the issue.

[2020-07-22 22:53] plskeggs commented on #26722
It's important that tests cover situations where CTS / RTS elongate a transfer, and not just behave in a nominal, no-delay manner.

[2020-07-22 23:09] JordanYates commented on #22562
That sounds like a good first step

[2020-07-22 23:23] andrewboie commented on #26161
As noted in #26942 we need a generic CONFIG_MPU and a generic CONFIG_MPU_MIN_REGION_SIZE for arch-independent code to know how to properly align memory partitions.

[2020-07-22 23:56] vanti commented on #14587
Implemented in #26913

[2020-07-23 00:10] plskeggs opened #27080 "uarte_instance_init() in NRF UARTE driver does not disable UART prior to setting PSEL pin values"
**Describe the bug**
This bug occurs on an nrf9160, if the UART is already configured, such as by a bootloader, which then executes a Zephyr application.  When the application tries to set a configuration of TXD, RXD, RTS, and/or CTS that differs from that specified by the bootloader, the application's changes are not applied.  This is because the UART is already enabled, and, as specified in the

[2020-07-23 00:43] #23443 closed

[2020-07-23 02:19] wentongwu commented on #24230
@pabigot do we require all devices' the power state transition asynchronous or we should cover both, asynchronous and synchronous? That's important not only device runtime pm, but also system pm.

[2020-07-23 03:08] wentongwu commented on #24228
@pabigot @nashif @vanti I attach the API here https://github.com/wentongwu/zephyr/commit/598eab9f6d8204a29c821db95fb9cbabf4d23e75 we have so far, please share some comments to avoid going differently with anyone's idea in head. platform pm API and device pm API is still in progress, after that will settle down the implementation of the pm core(or pm manager).

[2020-07-23 03:16] jenmwms opened #27081 "missing `python3-devel` dependency (was python3-psutil)"
**Describe the bug**
Sanitycheck fails to run tests in Qemu due to unsatisfied dependency on `psutil` python module

**To Reproduce**
Steps to reproduce the behavior:
1. Follow  [Getting Started Guide](https://docs.zephyrproject.org/latest/getting_started/index.html#getting-started-guide)
2. Fail on last step of [ Get Zephyr and install Python dependencies](https://docs.zephyrproject.org/latest/ge

[2020-07-23 04:16] galak commented on #27081
Hmm, psutils is listed in https://github.com/zephyrproject-rtos/zephyr/blob/master/scripts/requirements-run-test.txt

[2020-07-23 04:26] jenmwms commented on #27081
Yes, it is listed there. Does that file specify to install it, or is it used to check/display if the package needs to be installed to support the run time testing in sanitycheck?

[2020-07-23 04:30] jenmwms commented on #27081
I submitted a PR #27083. For reference, please see related bug for Ubuntu recently resolved in similar approach #25129

[2020-07-23 05:21] stephanosio commented on #26912
The upstream Cortex-R arch port does not support userspace.

As @carlescufi already pointed out, I believe the first step should be to submit a feature pull request with userspace support for the AArch32 Cortex-A/-R arch port.

[2020-07-23 05:31] stephanosio commented on #25918
@wentongwu QEMU 5.1 will (probably) be released on 18 Aug (see https://wiki.qemu.org/Planning/5.1).

[2020-07-23 05:48] stephanosio commented on #19979
There is a Cortex-A (and -R) FP sharing implementation that sort of works here:
https://github.com/ibirnbaum/zephyr/blob/armv7_cortex_a/arch/arm/core/aarch32/swap_helper.S

[2020-07-23 06:37] wentongwu commented on #25918
@stephanosio thanks, not sure Zephyr's release plan, but if next Zephyr SDK release(probably 0.11.5) doesn't follow QEMU 5.1, I think we need cherry-pick above patches...

[2020-07-23 06:44] thedjnK commented on #26796
I was seeing the same issue yesterday when trying to use I2C functions from main() without a separate thread whilst creating/integrating a driver, trace is as follows:

    *** Booting Zephyr OS build zephyr-v2.0.0-8735-g2f1d9dded535  ***
    [00:00:00.009,857] \1b[1;31m<err> os: ***** USAGE FAULT *****\1b[0m
    [00:00:00.015,533] \1b[1;31m<err> os:   Illegal load of EXC_RETURN into PC\1b[0m

[2020-07-23 07:48] trunifom commented on #19376
Have you solved the problem?

I had the same issue.

[2020-07-23 07:50] erwango commented on #26607
@nandra if you're satisfied with the proposal can you close the point

[2020-07-23 07:55] FRASTM commented on #26896
@BBekker  the soc residency policy does not go to sleep for a _too_ "short wait"
do you mean that `_sys_pm_power_state_exit_post_ops`() has to LL_LPM_EnableDeepSleep (like the `sys_set_power_state` function does) ?

[2020-07-23 09:16] oberien commented on #19376
I just installed `arm-none-eabi-gcc` on the RPi by following the instructions on https://github.com/vanbwodonk/gcc-arm-embedded-build-armhf (tested on commit 8219275266e81ac9ab205ffb1d82db55f32d50fe). With that toolchain, compilation works perfectly normal and fine.

[2020-07-23 09:59] jakub-uC commented on #20750
This behavior is correct and in fact expected. First of all function: `shell_execute_cmd` was mainly introduced for unit test purposes. It is highlighted in the API description.

Second of all when the shell is executing a command it moves the cursor to the next line. In the example, you have provided when executing `cmd_sys` in fact you are executing two commands: `cmd_sys` by the shell engine an

[2020-07-23 09:59] #20750 closed

[2020-07-23 10:08] pabigot commented on #24230
There certainly will be instantaneous or synchronous transitions along with ones that are not instantaneous so should be asynchronous.  Toggling a GPIO to control a switch seems simple enough to not need any overhead.

But the question becomes whether it's practical to support two APIs for a single operation, especially since the component initiating the operation (the policy engine) may not know

[2020-07-23 10:10] jakub-uC commented on #18345
Hi,
It is not possible from the command context to get all bytes received by the shell. The command is already trimmed and escape codes are handled (if activated in Kconfig).

[2020-07-23 10:44] pderwin commented on #26912
We have locally maintained userspace for some time.  We'll get it upstreamed

________________________________
From: Stephanos Ioannidis <notifications@github.com>
Sent: 23 July 2020 1:22 AM
To: zephyrproject-rtos/zephyr <zephyr@noreply.github.com>
Cc: Phil Erwin Jr <phil.erwin@lexmark.com>; Mention <mention@noreply.github.com>
Subject: Re: [zephyrproject-rtos/zephyr] [v2.3] arm: cortex_r: config_

[2020-07-23 10:49] jfischer-phytec-iot commented on #26990
@pabigot @anangl What is your opinion, revert 6ecc849bad44f2fdabb3ae748e637ae5afa4e93a or make it configurable with a default of 1s?

[2020-07-23 10:51] nashif commented on #27081
we cant have every python dependency installed via system package manager, this is done using pip3 and is documented already, so all you need to do is ```pip3 install -r scripts/requirements.txt -U``` when something stops working or when a new dependency is added.

[2020-07-23 11:44] pabigot commented on #26990
I see several things that concern me about #25077, including but not limited to the hard-coded wait specific to a single system.

Until we have a way to set a per-transaction/address/bus timeout, I would prefer to see a system-wide Kconfig-controllable I2C bus timeout.  A default of 1 s seems reasonable, allowing for a transfer of roughly 12.5 KiBy at the lowest standard bus speed.

[2020-07-23 11:50] ChristianHirsch opened #27090 "LE Coded PHY scanning on nRF9160DK fails"
**Describe the bug**
If LE Coded PHY scanning is executed on `nrf9160dk_nrf9160` it exits with `Scanning failed to start (err -5)`.

**To Reproduce**
Steps to reproduce the behavior:

### Flash `nrf9160dk_nrf52840`
In order to prepare nRF52840 on the nRF9160DK board, the `hci_uart` sample with the following `prj.conf` has been used:
[code]

### Flash `nrf9160dk_nrf9160`
The [`central_hr_coded`](ht

[2020-07-23 11:51] joerchan commented on #13519
Isn't this done?

[2020-07-23 11:51] ChristianHirsch commented on #27090
FYI @joerchan

[2020-07-23 11:56] carlescufi commented on #26759
Probably not. Our `gnuarmemb` toolchain option requires a certain layout of the  `GNUARMEMB_TOOLCHAIN_PATH`, which your version is likely not respecting. I suggest you either try with the original distribution of GNU Arm Embedded or you use the [crosscompile](https://docs.zephyrproject.org/latest/getting_started/toolchain_other_x_compilers.html#other-cross-compilers) toolchain mechanism instead.

[2020-07-23 11:56] #26759 closed

[2020-07-23 11:58] carlescufi commented on #27090
I think this is likely because coded phy scanning is not implemented at the LL level right @joerchan and @andrzej-kaczmarek?

[2020-07-23 12:04] #27002 closed

[2020-07-23 12:07] #24147 closed

[2020-07-23 12:12] carlescufi commented on #26818
@sslupsky I think you are mostly right in that the enable was documented as having to be called by the application, and that is not quite the case if you enable certain classes. That said, this is a wider problem than just the console, so thanks @pabigot for opening #27071. I have marked that as a USB bug now, and we can continue the discussion there.

[2020-07-23 12:21] ioannisg commented on #18843
there is a related issue for this, #19340, so let's close this one for now.

[2020-07-23 12:21] #18843 closed

[2020-07-23 12:35] joerchan commented on #27090
@carlescufi No this is with CONFIG_BT_LL_NRFXLIB=y, so it should be supported. He is saying that it works with board nrf52840dk_nrf52840, but not on nRF9160DK and doing the same with a HCI UART to the nrf52840 on the DK.

[2020-07-23 12:44] joerchan commented on #27090
@ChristianHirsch You have mixed up a few configs, and hci_uart has been compiled with the wrong controller.

`CONFIG_BT_LL_SW_SPLIT` and `CONFIG_BT_LL_NRFXLIB` are choices, you can only select one of them, and in this case you want  `CONFIG_BT_LL_NRFXLIB=y`.`

So remove these from hci_uart/prj.conf
[code]

Also you can remove these from the nrf9160 conf files:
[code]
Not needed when you have `CONF

[2020-07-23 12:50] pabigot commented on #25678
More context: An existing proposal for a simple mutex that could handle some use cases is #8496.  #26073 suggests the full mutex be used because of priority inheritance (which should allow a high priority thread to get access to a resource it needs faster).

[2020-07-23 13:02] ChristianHirsch commented on #27090
@joerchan well `CONFIG_BT_LL_NRFXLIB=y` is what I had in the first place, but I got the following warning when compiling/configuring:
[code]
And in order to get rid of this warning, I had to add `CONFIG_BT_LL_SW_SPLIT=y` and `CONFIG_BT_LLL_VENDOR_NORDIC=y`. Anyway I removed it and flashed the nRF52840 with it. I also changed the nRF9160 config and flashed it and now, it tells me that scanning succ

[2020-07-23 13:11] xhpohanka commented on #27020
Thank you @bel2125 for sharing useful info about CivetWeb. I'm still sniffing around, trying to set correct prioirities etc. Unfortunatelly I'm still struggling with errors like `net_pkt: Data buffer (48) allocation failed (prepare_segment:444)` which appears on embedded platform as well as on `qemu_x86` simulation. This will probably need someone who is more familiar with Zephyr internals than me

[2020-07-23 13:14] nashif commented on #25678
#8496 would not give you the priority inheritance feature, it will just wrap current semaphores.
emphasizing  what @andrewboie  says above, I do not see any precedent for this anywhere and it might make things more complex than they should be, for #26073 we should look for a different solution.

[2020-07-23 13:20] joerchan commented on #27090
`BT_CTLR_DTM_HCI` is enabled in the hci_uart/boards/<board>.conf file. But the controller does not support it, so it gets deselected because of that. Which is fine, you don't need DTM (direct test mode).

Well did you flash the peripheral_hr_coded as well? You are scanning on coded only after all.

[2020-07-23 13:25] ioannisg commented on #26515
This is not an issue with the SyStick timer driver, which, as mentioned correctly, has a way to disable timer interrupts, so the system waits indefinitely:

[code]

As described, the issue concerns the check in z_set_timeout_expiry

@andyross can you look at this?

[2020-07-23 13:25] nashif commented on #8393
We need to step back and think why we wanted or want `CONFIG_MULTITHREADING=n` in the first place. What is the requirement here and what is the usecase?
If I am not mistaken, the only reason why we want this is footprint and being able to fit the bootloader built with Zephyr in limited flash available for bootloader.

So back to what I say in #9808:

if we decide to keep `CONFIG_MULTITHREADING=n`,

[2020-07-23 13:28] ChristianHirsch commented on #27090
Of course, and I also checked that it is working by flashing the `central_hr_coded` on the nRF52840 and everything works fine. This is the output of the nRF52840 running it:
[code]

[2020-07-23 13:46] pabigot commented on #8393
For the purpose of discussion here's the size difference when adding `CONFIG_MULTITHREADING=y` to mcuboot on `particle_xenon` (nRF52840, 4 KiBy pages).  It's a 21% increase of 7764 bytes flash.  The minimum partition for mcuboot must increase from 9 pages to 11 pages (12 is the default).

[code]

On `nrf52840dk_nrf52840` (pca10056) which includes the QSPI driver that requires delivered interrupts

[2020-07-23 13:47] joerchan commented on #27090
Ok, just checking :)

One thing I noticed is that the `hci_uart`  buffer lengths needs to be increased when enabling EXT_ADV.
Can you try adding these to the hci_uart/prj.conf?
[code]
These are the default values when `CONFIG_BT_EXT_ADV=y`, please confirm that they are set correctly in the `build/zephyr/.config` file for the `central_hr_coded` and `peripheral_hr_coded`.

[2020-07-23 13:56] joerchan commented on #27090
@ChristianHirsch I had a look at some of my older branches where I was using hci_uart and extended advertising. And there I had these configuration options in addition:
[code]
You should give those a try as well.

[2020-07-23 13:58] nashif commented on #8393
please provide the complete config for each.

[2020-07-23 14:00] pabigot commented on #8393
That would be pointless and messy.  Add `CONFIG_MULTITHREADING=y` to the bottom of mcuboot's `boot/zephyr/prj.conf` and see what it does on platform and version you're concerned with.

[2020-07-23 14:00] pabigot commented on #8393
with `CONFIG_MULTITHREADING=n`.

I've tried updating 17e9d623b417d7a0e9b32ca9b5c4b6cd89062ec0 to apply to current master; the button interrupt is delivered but the application does not continue in the main loop: `z_arm_usage_fault()` occurs.  Same when just using `irq_unlock(0)` in main.

mcuboot has been patched to enable interrupts conditionally in the patch below.  The behavior I see with GPIO

[2020-07-23 14:04] pabigot commented on #9808
See also ongoing discussion around https://github.com/zephyrproject-rtos/zephyr/issues/8393#issuecomment-662514878

[2020-07-23 14:19] pabigot commented on #9808
After reviewing the history and doing some testing I'm swayed by the point made somewhere that `CONFIG_MULTITHREADING=n` is essentially an untested configuration of Zephyr that may expose arbitrary problems, both in the existing code and in whatever gets merged in the future.  I think this is a risky path to take, so I'm inclined to support removing the capability.

[2020-07-23 14:19] #26746 closed

[2020-07-23 14:23] nashif commented on #8393
why is this pointless? It shows that you for example are measuring with CONFIG_DEBUG enabled, so for the above board I get for:
``` west build -b particle_xenon -- -DCONFIG_MULTITHREADING=y -DCONFIG_DEBUG=n```

[code]

looking at ram_report...

kernel is 4290 (11.41%)
logging is 3926 (10.44%)
drivers is 4862 (12.93%)
mbedtls is 9738 (25.90%)

etc.

so kernel and scheduler are not the major portion

[2020-07-23 14:25] gmarull opened #27095 "Track LVGL ROM footprint improvements"
**Is your enhancement proposal related to a problem? Please describe.**

ROM usage is significantly higher on LVGL v7 even for minimal configurations. This is in part due to new features such as the new drawing system. However, it looks like there is room to make some improvements on LVGL to reduce the ROM footprint.

**Describe the solution you'd like**

LVGL maintainers are currently investigati

[2020-07-23 14:31] nashif commented on #8393
goes doen even further if we disable logging and instead use CONFIG_LOG_MINIMAL=y

[code]

does not build out of the box, there some loggin code in mcuboot setting up threads and other things they will not link, not sure why all of this is needed if we are running in a single thread.

[2020-07-23 14:38] pabigot commented on #8393
It would have been pointless to provide the whole configuration here; a little more detail on what was done covered it.  But your observation that the default configuration is not optimized is well-taken.

From a baseline of the best overrides that produce a linked image:
[code]

the incremental cost of `CONFIG_MULTITHREADING=y` is:
[code]
to
[code]
which is 18.4% at 5836 bytes.

The relative cost

[2020-07-23 14:41] pabigot commented on #27095
Converted to bug since enhancements aren't tracked and this is a memory-usage regression that was recognized at the time the PR was reviewed.

[2020-07-23 14:45] nashif commented on #8393
Hmm, I measure 4290 bytes for the whole kernel above, so most of this overhead is probably coming from somewhere else and when multithreading is enabled, probably thru logging. With log minimal enable I get;

[code]

[2020-07-23 14:47] nashif commented on #8393
I think in next dev-review we should start a session of puncover on a common configuration (mcuboot or whatever) and go line by line and identify where we can save bytes... :) This will be valuable for everyone, not only for mcuboot IMO

[2020-07-23 17:34] jenmwms commented on #27081
Thanks @nashif, I did not realize that distinction. I took this approach with system package manager because the suggested method in the guide (same as your suggestion basically) was failing to install psutil. Please see the attached console output when I run  `pip3 install --user -r ~/zephyrproject/zephyr/scripts/requirements.txt` and similarly for `pip3 install --user psutil`

[consoleUsingReqtS

[2020-07-23 17:37] galak commented on #27081
@jenmwms I think what you need to update for the Fedora docs is having the python devel package - I think (`python3-devel`).  See if that lets the `pip3 install --user -r ~/zephyrproject/zephyr/scripts/requirements.txt` work.

[2020-07-23 17:46] jenmwms commented on #27081
Thanks, @galak! That (python3-devel) did not fix the issue either.

[2020-07-23 17:49] galak commented on #27081
Same issue w/regards to Python.h?

On my fedora 31 box I have:
[code]

[2020-07-23 18:06] jenmwms commented on #27081
Interesting. I see the following:

[2020-07-23 18:28] jenmwms commented on #27081
Ok, I tried a few things to clarify this.
- The issue persists if I add `python3-devel` to the `installation_linux.rst` instead of `python3-psutil` in the patch #27083.
- But if I separately run `sudo dnf install python3-devel` the install is successful, and the step of running requirement script is successful too.

[2020-07-23 18:33] nashif commented on #27081
not sure what you mean, what is it that you do in this step

that is different from

[2020-07-23 19:00] vanti commented on #24228
@wentongwu Can we relax the definition of "Suspend to ram state" state a bit to include states such as the standby mode on TI CC1352, where **almost** everything is power-gated, with the exception for some minimal CPU logic that is required for waking up from the same point without restarting? I think the word 'everything' is a bit strong here.

[2020-07-23 19:08] dleach02 commented on #20418
Looking at the underlying implementation, there is no limit to the size of the pool except how much memory is actually available in the system. It isn't obvious why the documentation for the HEAP_MEM_POOL_SIZE even shows various individual sizes since the code is going to eventually define an aligned _mpool_buf_<name> character array. I'll post a PR to change the text in this kconfig item.

[2020-07-23 19:34] wentongwu commented on #24230
@pabigot make more sense for single API. Let's do the implementation based on asynchronous transition for both device runtime pm and system pm.

should mean "ready for use" which is also the understanding of #26366 though it's synchronous. We can initialize the transition in interrupt, but we can't make device ready for use in interrupt where we may access device which is off.

[2020-07-23 19:43] dleach02 commented on #17372
Given that the "fix" was to use ';' can we close this bug?

[2020-07-23 20:02] jenmwms commented on #27081
This is what I meant to describe (slight modification from the patch which suggests python3-psutil):
[code]

[2020-07-23 20:23] jenmwms commented on #27081
I'm having trouble reproducing this issue.  We can close this and reopen if someone else experiences the symptoms. I think `sudo dnf install python3-devel` helped in the end (no patch), but not sure why I cannot walk it back to reproduce.

[2020-07-23 20:25] andyross commented on #24255
This flares up periodically.  Our idle API isn't very clean.  Basically the structure is (if I haven't forgotten something important):

* The top of the idle thread main loop has interrupts enabled

* An interrupt lock is taken in the idle thread as it calls the platform layer (be it the PM API or k_cpu_idle()).  This is required, as the decision to suspend needs to be atomic.  Otherwise we could

[2020-07-23 20:26] andyross commented on #24255
Oh, but I think I see @dcpleung 's point above: the PM layer's idle call happens in two different contexts, and one of them isn't tolerant of that "unconditionally unmask interrupts" behavior that the idle loop wants.  Yeah, that sounds like a bug.

[2020-07-23 20:31] jenmwms commented on #27081
I can reproduce this on my system with `pip3 uninstall --user psutil` etc.

[2020-07-23 20:50] Vudentz commented on #26900
So they made the change knowingly it would break hosts such as Linux, for something that adds no value to the host given that if there is no L2CAP header there is basically no packet to report, while we can make this work going forward I wonder if we want to go backward and fix every release where we drop this packets, or we just push it back and make every controller willing to work with zephyr t

[2020-07-23 21:01] plskeggs commented on #27080
I took the liberty of submitting a pull request to the nRF downstream.

[2020-07-23 21:46] marc-hb commented on #17372
I'm pretty sure the double quotes mean it's a workaround :-) The more serious fix is to somehow (dunno how) get rid the parsing code that incompletely duplicates the YAML parser. White space matters.

I'm afraid the main problem is why does a sanitycheck configuration parser bug impacts Zephyr release and quality metrics. I bet that's where the desire to close it comes from?

Rather than closing i

[2020-07-24 00:37] plskeggs commented on #27080
https://github.com/zephyrproject-rtos/zephyr/pull/27108

[2020-07-24 06:51] ChristianHirsch commented on #27090
Yes! Finally it works, thank you so much for your help :)

Increasing `CONFIG_MAIN_STACK_SIZE` and `CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE` in the `hci_uart` sample did the trick. It is not necessary to increase `BT_RX_BUF_LEN` and `BT_DISCARDABLE_BUF_SIZE` though, but I did it anyway.

Wouldn't it make sense to permanently increase the stack sizes in the `hci_uart` sample, at least for the `nrf9160dk

[2020-07-24 07:03] thomasstenersen commented on #26900
This was my initial reaction as well. It seems a bit arbitrary.

However, I _do_ acknowledge the use-case for fragmenting L2CAP PDUs arbitrarily, i.e., to 1 + 23 bytes of LL data. Let's say you have a dual-mode chip with both Bluetooth and another 2.4GHz protocol (e.g., Wi-Fi). You will need to arbitrate between the two protocols, and perhaps you only have a time slice for sending a 1-byte LL PDU.

[2020-07-24 07:34] rick1082 commented on #26513
Hello @vaussard ,
Thanks for the comments :) I took a glimpse on the SD card specification, looks like we need to use CMD6 to switch the card access mode, then we can use higher speed. However I found all SDHC cards on my hands (two class 10, one class 4) are support 32 MHz without using CMD6 for switching mode.
So it is a dilemma if we are not able to manual configure the speed, but we have to us

[2020-07-24 07:42] ioannisg commented on #24255
@andyross can you help me understand why the PM's idle call is not tolerant?

To me, there seems to be single call to _sys_suspend() from PM API (the other call is from kernel/idle.c). Here is what I see:

[code]

So the IRQ's are locked, without key-preservation before _sys_suspend() is called, and _sys_suspend() will eventually call z_power_soc_sleep() or _deep_sleep() which mimics what k_cpu_id

[2020-07-24 07:43] Satkarni opened #27110 "lis2dh driver - set other registers on the device"
**Is your enhancement proposal related to a problem? Please describe.**
Current lis2dh driver function for setting attributes is not generic enough to modify other registers. Only accelerometer data rate, sampling frequency etc can be set. I need support for changing FIFO mode, power down mode etc.

**Describe the solution you'd like**
Modify the current attribute set function so that any reg insi

[2020-07-24 07:47] Satkarni commented on #26759
Ok, I got it to build with the standard zephyr sdk, so my issue is solved.
Maybe I'll try with the cross-compile option in the future if any issues arise for the zephyr sdk.

[2020-07-24 08:03] haipas opened #27112 "[v2.3.0] mcumgr fs download crashes"
**Describe the bug**
Hi, I use the mcumgr to exchange files between Zephyr (nrf52840 with SD-Card via SPI1) and a host.
After updating from v2.2.0 to v2.3.0 the command mcumgr fs download causes a bus fault error.
The commands echo and fs upload work without problems.

**To Reproduce**
Steps to reproduce the behavior:
ok: /go # mcumgr --conntype ble --connstring peer_name=Zephyr echo test
ok: /go

[2020-07-24 08:13] tsvehagen commented on #25693
@akofoed FYI there has been some updates to the esp wifi driver so it might be worth to try again with the latest master.

[2020-07-24 08:19] #20418 closed

[2020-07-24 09:11] BBekker commented on #26896
The bug is that the MCU goes to sleep, even when the residency policy does not decide it has to go to sleep.

`sys_set_power_state` uses `LL_LPM_EnableDeepSleep` to set the `SLEEPDEEP` bit in the cortex-m33 system control register.
https://developer.arm.com/documentation/100235/0003/the-cortex-m33-peripherals/system-control-block/system-control-register?lang=en

But since that bit is not reset aft

[2020-07-24 09:53] jukkar commented on #26981
So there is a bug in the modem firmware if it cannot accept things one byte at a time. Would you be able to report this to the vendor, perhaps they are able to fix it in next firmware release.

What you are proposing will not work in all cases as the device instance id found in the device name, is not really related to DLCI number. If you want to experiment a bit, you could change the `uart_poll_o

[2020-07-24 10:01] #25741 closed

[2020-07-24 10:53] jukkar commented on #14587
Closing as #26913 is already merged.

[2020-07-24 10:53] #14587 closed

[2020-07-24 11:44] carlescufi commented on #8393
@nashif I am very much in favor of correctly defining what disabling multithreading means, and implementing it properly as per the set of requirements that we decide to include.

Here is my take on what this would be if we made it happen:

When CONFIG_MULTITHREADING is disabled, the following functionality is provided:

- Booting the system to a `main()` function, including the initialization of t

[2020-07-24 11:49] nashif commented on #8393
@carlescufi  would be great to specify why all of this is needed, are we still going after the few kilobytes from the kernel or is there some other rationale for having this supported?

[2020-07-24 11:52] jukkar commented on #26235
Hi @ehudmarvell, sorry for late reply, I just got back from vacation.

The MAC address will be the same for VLAN ports as there is only one physical network interface involved. Each port will have unique IPv6 link local address, the reason being that the neighbor cache implementation in zephyr uses IPv6 address to find out the neighbor, so cache could return wrong network interface in that case.

[2020-07-24 11:53] jukkar commented on #26235
I am closing this one as the original question was answered.

[2020-07-24 11:53] #26235 closed

[2020-07-24 11:54] carlescufi commented on #8393
The idea is to be able to use Zephyr as an almost "bare-metal" development platform. Threads and threading can be expensive in RAM and ROM footprint, but Zephyr provides a lot of value beyond its RTOS underpinnings:

- A flexible build and configuration system
- A hardware description language along with an API to access it
- Platform and architecture-agnostic primitives for basic operations such

[2020-07-24 11:57] carlescufi commented on #8393
There are some additional benchmarks [here](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/basic/minimal#building-and-measuring-rom-size).

[2020-07-24 12:05] xhpohanka commented on #27020
Ok. At least I have found the reason for failed allocations of packets or buffers. When I set civetweb priority close to TCP/IP stack it means that we are in cooperative range (zephyr priority < 0). In such case when civetweb is serving a bigger page (multiple `mg_write()`s in a loop) there is no chance for other thread (even with higher priority - like TCP/IP stack) to run without explicit `k_yie

[2020-07-24 12:06] DunderRoffe commented on #26981
I agree. I have been in contact with the vendor and I have a hard time understanding if they are going to fix this or if they are considering that one should not send only one byte / frame. Lets see where that discussion leads :)

The main idea with the solution is to decorate the data with muxing frames before even sending it to the UART. Basically I am asking if it is possible to move the UART M

[2020-07-24 12:11] jukkar commented on #26981
For a proper solution to this issue, I would recommend that the modem API is converted from polled UART API to interrupt based API. Then the `uart_fifo_fill()` could be used instead. Anyway, this is a bigger change.

[2020-07-24 12:11] #26981 closed

[2020-07-24 12:18] pabigot opened #27118 "Bluetooth: HCI: Missing implementation of hci_driver.h functions"
Looking at this closer, it seems like the native controller is the only HCI driver that implements `bt_hci_cmd_complete_create()` although it's called from places (like `hci_raw.c`) that should be completely agnostic to the chosen HCI driver. *That's* what should be fixed instead of working around it like this.

_Originally posted by @jhedberg in https://github.com/zephyrproject-rtos/zephyr/pull/2

[2020-07-24 12:40] wentongwu opened #27120 "exception happened when running CI"
**Describe the bug**
exception happened when running CI

**Expected behavior**
No exception happen.

**Logs and console output**

[code]

[code]

[2020-07-24 13:05] MaureenHelm opened #27122 "Implement watchdog driver for mimxrt1050_evk"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
The `mimxrt1050_evk` board currently lacks support for watchdog in zephyr.

**Describe why you are asking for this support?**
Implement a shim driver that adapts the mcux rtwdog driver to the zephyr watchdog interface. The existing `wdt_mcux_wdog.c` and `wdt_mcux_wdog32.c` shi

[2020-07-24 13:16] de-nordic commented on #22063
This issue has been solved, closing.

[2020-07-24 13:16] #22063 closed

[2020-07-24 13:30] joerchan commented on #27090
Actually. I had already done this. But I missed the nrf9160dk_nrf52840 board. So I will have to update that one as well.
It is only the `CONFIG_MAIN_STACK_SIZE=1024` that is needed `, the system worqueue stack size is large enough at 512.
[code]

No, it is. hci_uart crashed for me using the shell when trying to set advertising data. Advertising data with extended advertising can be up to 251 bytes

[2020-07-24 14:27] ioannisg commented on #26912
@pderwin could you please confirm that you do not see this issue in the _upstream_ project?

CONFIG_USERSPACE cannot be selected upstream for Cortex-R CPUs, because it depends on ARCH_HAS_USERSPACE, and this option is not selected for CPU_CORTEX_R.

I'd like to remove the bug label then, and you could choose to re-scope this ticket,

[2020-07-24 14:30] pderwin commented on #26912
I agree that that is appropriate.

Thanks,

Phil

________________________________
From: Ioannis Glaropoulos <notifications@github.com>
Sent: 24 July 2020 10:27 AM
To: zephyrproject-rtos/zephyr <zephyr@noreply.github.com>
Cc: Phil Erwin Jr <phil.erwin@lexmark.com>; Mention <mention@noreply.github.com>
Subject: Re: [zephyrproject-rtos/zephyr] [v2.3] arm: cortex_r: config_userspace: hang during earl

[2020-07-24 14:43] Delsian commented on #27010
Both my bugs (this and https://github.com/zephyrproject-rtos/zephyr/issues/26919) were resolved with a temporary workaround.
As my system doesn't require 802.15.4 routing functionality, I put "CONFIG_NET_ROUTE=n" (and small change in Kconfig)
Now both showstopper bugs are gone and I can continue the normal development process.
I'll return to these bugs investigations later, actually treating this

[2020-07-24 14:50] ioannisg commented on #22131
@pderwin should this bug issue be closer or treated as enhancement, as well?

[2020-07-24 14:52] pderwin commented on #22131
yes.

________________________________
From: Ioannis Glaropoulos <notifications@github.com>
Sent: 24 July 2020 10:51 AM
To: zephyrproject-rtos/zephyr <zephyr@noreply.github.com>
Cc: Phil Erwin Jr <phil.erwin@lexmark.com>; Mention <mention@noreply.github.com>
Subject: Re: [zephyrproject-rtos/zephyr] ARM Cortex_R: CONFIG_USERSPACE: external interrupts are disabled during system calls (#22131)

@pder

[2020-07-24 14:55] jukkar commented on #27010
I think this one is a valid issue, not sure about the other one.

[2020-07-24 15:01] ioannisg commented on #25725
This appears to be fixed, in Coverity

[2020-07-24 15:01] #25725 closed

[2020-07-24 15:04] ioannisg commented on #8257
This does not seem to be a bug,  I 'd close this @andyross @nashif

[2020-07-24 15:05] pabigot commented on #24228
Just capturing some information about existing states.  The ones at the top are Zephyr; I think the names are good, and the other references can show what we mean by those states.

The draft API pointed to above should incorporate documentation that explain more clearly what's meant by those states (the Linux System State link has the most detail).

* [Linux Power Management](https://www.kernel.or

[2020-07-24 15:34] nashif commented on #8257
closing.

[2020-07-24 15:34] #8257 closed

[2020-07-24 15:45] andyross commented on #24255
I could get behind that too.  You're right, that code looks correct as long as we're reasoning correctly about the calling contexts.  At worst it's fragile.

FWIW: if we get around to fixing this in all the idle/suspend implemenations, the Right Thing here would be for the idle call to take the irq lock key and release it on behalf of the caller, the way that z_swap() (and all its rescheduling wra

[2020-07-24 15:46] andyross commented on #24255
(Actually probably best to make it a spinlock while we do it, because inevitably some SMP platform is going to have suspend state bookeeping that needs to be synchronized across all the CPUs)

[2020-07-24 16:14] Delsian commented on #26919
This bug was the result of dropping one part of the fragmented packet. I suppose after fixing https://github.com/zephyrproject-rtos/zephyr/issues/27010 this bug also disappears.

[2020-07-24 16:14] #26919 closed

[2020-07-24 16:55] dcpleung commented on #24255
I am okay with it not being a bug. On MEC1501, deep sleep is currently working fine now without any reported issues.

[2020-07-24 16:56] dleach02 commented on #20500
closing due to false positive determination

[2020-07-24 16:56] #20500 closed

[2020-07-24 16:57] dleach02 commented on #20870
closing due to false positive determination

[2020-07-24 18:10] mbolivar-nordic commented on #22562
Great, thanks. I'm off next week but I'll pick this up when I get back.

[2020-07-24 18:26] #27120 closed

[2020-07-24 18:40] TwistedSim commented on #27090
Does this apply to hci_usb example as well?

[2020-07-24 18:44] mbolivar-nordic opened #27130 "samples/drivers/spi_flash has no README"
**Describe the bug**

All samples should have README.txt files so they are discoverable by users reading the HTML documentation. This one doesn't.

[2020-07-24 19:21] dleach02 commented on #25723
This looks like a legit bug??? Every time we use tcp_data_get() function there is a test for '<0' but the return value is a size_t and can never be negative. Is this logic really wanting to compare '==0'?

[2020-07-24 19:22] dleach02 commented on #25723
Bumping to medium so we can get some feedback to see if it should be a low priority bug

[2020-07-24 19:54] dleach02 commented on #26994
176        while (resolve_attempts--) {
   	10. alloc_arg: getaddrinfo allocates memory that is stored into addr. [Note: The source code implementation of the function has been overridden by a builtin model.]
177                ret = getaddrinfo(UPDATEHUB_SERVER, port, &hints, &addr);
178                if (ret == 0) {

The getaddrinfo() will allocate memory for the addr field. Need to pair this w

[2020-07-24 20:06] dleach02 commented on #20844
This looks like it was fixed as a side affect of change 973487fdad1b72

[2020-07-24 20:08] #20870 closed

[2020-07-24 20:12] dleach02 commented on #25749
[code]

[2020-07-24 20:12] andrewboie commented on #20663
This isn't specific to fdtable -- any kernel object instantiated and placed in a Z_ITERABLE_SECTION() can do this. In the case of fdtable it is its mutex. The definition uses KEEP() which causes the objects to never be discarded even if completely unused.

[2020-07-24 20:13] andrewboie commented on #20663
I'll take a look at this for 2.4. https://github.com/zephyrproject-rtos/zephyr/pull/27117 is I believe another related problem.

[2020-07-24 21:36] Vudentz commented on #26900
It doesn't necessarily need to parse any data though, it is just a minimal of 2 bytes, on a OS like Zephyr where we have a combined build I guess it makes no diference where the buffering happens, in fact it may take more memory to buffer this on the host side.

Well we code that checks the rx_len:

[code]
I guess that means we would not be able to do these checks anymore, or need some code before

[2020-07-25 00:44] #23211 closed

[2020-07-25 01:51] #25724 closed

[2020-07-25 01:51] #25726 closed

[2020-07-25 01:51] #26985 closed

[2020-07-25 01:51] #18960 closed

[2020-07-25 01:51] #20516 closed

[2020-07-25 01:51] #20517 closed

[2020-07-25 01:51] #25790 closed

[2020-07-25 01:51] #26986 closed

[2020-07-25 01:52] nashif commented on #25466
@nordic-krch  can you please take a look?

[2020-07-25 03:31] nashif commented on #26361
marked intentional

[2020-07-25 03:31] #26361 closed

[2020-07-25 12:10] ioannisg commented on #24255
Will do this, @dcpleung . I will re-describe this ticket, so it focuses on cleaning the API.

[2020-07-25 12:19] nashif commented on #17372
IMO this can be closed, using ";" is the right solution, moving everything to yaml syntax  is an optimization.

[2020-07-25 12:19] #17372 closed

[2020-07-25 14:08] zephyrbot opened #27138 "[Coverity CID :211502] Out-of-bounds read in drivers/wifi/eswifi/eswifi_socket_offload.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/drivers/wifi/eswifi/eswifi_socket_offload.c#L107

Category: Memory - illegal accesses
Function: `__eswifi_socket_accept`
Component: Drivers
CID: [211502](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211502)

Details:

[code]

Please fix or provid

[2020-07-25 14:08] zephyrbot opened #27139 "[Coverity CID :211503] Out-of-bounds read in drivers/wifi/eswifi/eswifi_socket_offload.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/drivers/wifi/eswifi/eswifi_socket_offload.c#L366

Category: Memory - illegal accesses
Function: `eswifi_socket_close`
Component: Drivers
CID: [211503](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211503)

Details:

[code]

Please fix or provide c

[2020-07-25 14:08] zephyrbot opened #27140 "[Coverity CID :211504] Out-of-bounds read in drivers/wifi/eswifi/eswifi_socket_offload.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/drivers/wifi/eswifi/eswifi_socket_offload.c#L73

Category: Memory - illegal accesses
Function: `eswifi_socket_connect`
Component: Drivers
CID: [211504](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211504)

Details:

[code]

Please fix or provide

[2020-07-25 14:08] zephyrbot opened #27141 "[Coverity CID :211507] Out-of-bounds read in drivers/wifi/eswifi/eswifi_socket_offload.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/drivers/wifi/eswifi/eswifi_socket_offload.c#L469

Category: Memory - illegal accesses
Function: `eswifi_socket_bind`
Component: Drivers
CID: [211507](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211507)

Details:

[code]

Please fix or provide co

[2020-07-25 14:08] zephyrbot opened #27142 "[Coverity CID :211509] Out-of-bounds read in drivers/wifi/eswifi/eswifi_socket_offload.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/drivers/wifi/eswifi/eswifi_socket_offload.c#L446

Category: Memory - illegal accesses
Function: `eswifi_socket_poll`
Component: Drivers
CID: [211509](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211509)

Details:

[code]

Please fix or provide co

[2020-07-25 14:08] zephyrbot opened #27143 "[Coverity CID :211512] Out-of-bounds read in drivers/wifi/eswifi/eswifi_socket_offload.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/drivers/wifi/eswifi/eswifi_socket_offload.c#L304

Category: Memory - illegal accesses
Function: `eswifi_socket_recv`
Component: Drivers
CID: [211512](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211512)

Details:

[code]

Please fix or provide co

[2020-07-25 14:08] zephyrbot opened #27144 "[Coverity CID :211501] Explicit null dereferenced in subsys/net/ip/tcp2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/subsys/net/ip/tcp2.c#L1126

Category: Null pointer dereferences
Function: `tcp_in`
Component: Networking
CID: [211501](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211501)

Details:

[code]

Please fix or provide comments in coverity using the li

[2020-07-25 14:08] zephyrbot opened #27145 "[Coverity CID :211511] Dereference after null check in subsys/net/ip/net_if.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/subsys/net/ip/net_if.c#L1081

Category: Null pointer dereferences
Function: `rs_timeout`
Component: Networking
CID: [211511](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211511)

Details:

[code]

Please fix or provide comments in coverity using

[2020-07-25 14:08] zephyrbot opened #27146 "[Coverity CID :211510] Unchecked return value in lib/posix/semaphore.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/lib/posix/semaphore.c#L142

Category: Error handling issues
Function: `sem_wait`
Component: Other
CID: [211510](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211510)

Details:

[code]

Please fix or provide comments in coverity using the link:

ht

[2020-07-25 14:08] zephyrbot opened #27147 "[Coverity CID :211505] Operands don't affect result in tests/drivers/clock_control/nrf_onoff_and_bt/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/tests/drivers/clock_control/nrf_onoff_and_bt/src/main.c#L61

Category: Integer handling issues
Function: `bt_timeout_handler`
Component: Tests
CID: [211505](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211505)

Details:

[code]

Please fix or pro

[2020-07-25 14:08] zephyrbot opened #27148 "[Coverity CID :211506] Operands don't affect result in tests/drivers/clock_control/nrf_onoff_and_bt/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/tests/drivers/clock_control/nrf_onoff_and_bt/src/main.c#L177

Category: Integer handling issues
Function: `onoff_timeout_handler`
Component: Tests
CID: [211506](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211506)

Details:

[code]

Please fix or

[2020-07-25 14:08] zephyrbot opened #27149 "[Coverity CID :211508] Unchecked return value in tests/kernel/mem_protect/futex/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/tests/kernel/mem_protect/futex/src/main.c#L479

Category: Error handling issues
Function: `futex_wake`
Component: Tests
CID: [211508](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211508)

Details:

[code]

Please fix or provide comments in coveri

[2020-07-25 14:08] zephyrbot opened #27150 "[Coverity CID :211513] Argument cannot be negative in tests/posix/eventfd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/565a61dd79b0f061056c9b3fe0adba11cbeca6ab/tests/posix/eventfd/src/main.c#L204

Category: Error handling issues
Function: `test_eventfd_poll_event`
Component: Tests
CID: [211513](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=211513)

Details:

[code]

Please fix or provide comments in cove

[2020-07-25 14:48] nashif commented on #27130
does that even qualify as a sample? Looking at the code, it is just running some tests.. If we do not have tests for this, we should move it to be a test, if we do, then we should consider dropping it.

[2020-07-25 14:50] #27074 closed

[2020-07-25 14:54] nashif commented on #26996
false positive.

[2020-07-25 14:54] #26996 closed

[2020-07-25 15:15] nashif commented on #26360
marked fixed in coverity

[2020-07-25 15:15] #26360 closed

[2020-07-25 15:16] nashif commented on #12935
stale bug

[2020-07-25 15:16] #12935 closed

[2020-07-25 15:18] nashif commented on #19739
this is a jenkins issue, closing. Works fine in Zephyr CI.

[2020-07-25 15:18] #19739 closed

[2020-07-25 17:05] nandojve commented on #26994
Hi @dleach02 thank you for point me that. I don't have access to report yet and with this tip I know what I need fix.
By the way, I discovered by other way #26720 and opened #27028.

[2020-07-26 02:40] nandojve opened #27151 "sanitycheck: samples: net: echo_server: Doesn't run all configurations from atmel_rf2xx shield"
**Describe the bug**
Inspection on **buildkite 2/20** from #26655 reveals that not all configuration have been built. I suspect that boards that don't have a **netif** interface will not build/run with shields. This need more inspection to make sure it is not affecting more configurations.

**To Reproduce**
Clone main repository and run **./scripts/sanitycheck --testcase-root samples/net/sockets/e

[2020-07-26 04:07] sslupsky commented on #22247
I am uncertain that that helps much.  I think we need a new "core" ... arduino-zephyr

[2020-07-26 08:03] jeremyherbert opened #27154 "bt_conn_le_param_update doesn't return an error when setting the timeout >30sec, stops device from sleeping on nrf52840"
**Describe the bug**
When setting the connection timeout to >30 seconds on an nrf52840, no error is returned. But by looking at the current draw of the device, it appears to prevent the device going into idle sleep mode.

**To Reproduce**
1. Use any of the bluetooth examples where the device connects
2. in the connected callback, add the following code:

[code]

**Expected behavior**
Some sort of

[2020-07-26 13:02] #27078 closed

[2020-07-26 14:25] beriberikix commented on #22247
Agreed, but it could a similar pattern of adopting https://github.com/arduino/ArduinoCore-API, implement the `.h` using Zephyr functions and build a generator for each specific board (which could be automated with Github Actions.)

[2020-07-26 18:41] pabigot opened #27160 "fragile coordination between USB configuration and USB console"
Since introduced in fca0add22b93b18f292d1693ca3f59c60256cde3 the USB console infrastructure has included a 1 s busy-wait in console device startup after DTR has been detected.  There is no documentation of why this is here.

Experimentation indicates that if the delay is removed the first couple bytes of output on the console do not appear.  This suggests that there is some other USB event that sh

[2020-07-26 18:59] pabigot commented on #27003
Are you absolutely certain this diagnostic wasn't appropriate at some point?  I see this content in #27001 in commit be4727c66051b6b676b00a0f0dfd29afae2d61b5, and scripts/ci/check_compliance.py doesn't complain about the last line ending in a newline.  The diagnostic does not appear in the current ci results AFAICT.

If I add a true empty line at the end of the file so the last two characters of t

[2020-07-26 23:04] sslupsky opened #27161 "shell: shell_start() and shell_stop() can cause deadlock"
When using shell_start() and shell_stop() to control the start and stop of the shell when the USB is connected and disconnected (USB is used for console), the shell freezes.  It appears the freeze occurs because the underlying poll that waits for the data never receives the signal.

I previously attempted to resolve this through changes to uninit() in #24404.  It was pointed out that there are oth

[2020-07-26 23:26] #26758 closed

[2020-07-27 00:45] #25171 closed

[2020-07-27 00:45] #25063 closed

[2020-07-27 00:45] #25156 closed

[2020-07-27 03:32] chen-png opened #27162 "reel_board:tests/net/ieee802154/l2 failed."
**Describe the bug**
running test stop at "FAKE ieee802154 driver stopped".

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p auto tests/net/ieee802154/l2/
2. west flash
3. See error

**Logs and console output**

I: FAKE ieee802154 driver stopped

**Environment (please complete the following information):**
 - OS: fedora28
 - Toolchain: zephyr-sdk-0.11.4
 - Commit I

[2020-07-27 05:28] nordic-krch commented on #26796
@carlescufi with `CONFIG_LOG_MINIMAL=y` i see the same issue and I think that error comes from clock interrupt (when LF clock is ready). Could it be serial recovery turns on multithreading?

[2020-07-27 05:54] jukkar commented on #25723
The function can return -ENOBUFS value to indicate an error. We should return 0 in this case instead. Other alternative would be to change the return type to be `ssize_t` and return -1 instead. I would vote to return 0 here.

[2020-07-27 06:23] chen-png opened #27164 "tests/lib/mem_alloc failed on up_squared board."
**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b up_squared -p auto tests/lib/mem_alloc/  -DCONF_FILE=prj_newlib.conf
2.  west flash ~/up_squared.sh
3.  see error

**Logs and console output**
*** Booting Zephyr OS build zephyr-v2.3.0-1301-g469f53c21010  ***
Running test suite test_c_lib_dynamic_memalloc

START - test_malloc
ASSERTION FAIL [((partition->start + partition->size) <

[2020-07-27 06:32] jukkar commented on #25723
After more consideration and in order to minimize the code changes, I opted to return -1 and change the return type of the offending function.

[2020-07-27 06:37] ChristianHirsch commented on #27090
@TwistedSim I guess so, but I'm not an expert. @joerchan does it apply to the `hci_usb` sample as well?

[2020-07-27 07:18] javier-moreno-tridonic-com commented on #25981
@pabigot Many thanks for the reply and sorry for the delay (due to corona times, working hours are... well weird to say the least). As far as I can tell, one coworker gave mcumgr a try through UDP and we got ourselves an update mechanism :)

[2020-07-27 07:34] joerchan commented on #27090
@TwistedSim Increasing the buffer sizes should be done if you want to use Extended Advertising in the `hci_usb` sample.
[code]
Changing the MAIN_STACK size is not needed it seems, the main function of that sample is simple, and the sample prj.conf does not change the default, which means it should be 1024 by default.

[2020-07-27 07:35] thomasstenersen commented on #26900
This may very well be, but in any case, if a controller decides to send a 1-byte `BT_ACL_START` message, the host must handle it. The Zephyr host should work with any (spec. conforming) controller.

---

I think we're wasting our time :slightly_smiling_face:
I suppose a quick patch would look something like this:
[code]

[2020-07-27 07:58] hakehuang opened #27166 "tests/kernel/sched/schedule_api need add ram limitaion as some platform not support"
- tests/kernel/sched/schedule_api

when build on lpcxpresso55s16_ns and twr_ke18f  I see below error

`
[ 91%] Linking C executable zephyr_prebuilt.elf

Memory region         Used Size  Region Size  %age Used

           FLASH:       73948 B       246 KB     29.36%

            SRAM:       16884 B        32 KB     51.53%

        IDT_LIST:         152 B         2 KB      7.42%

[ 91%] Built target

[2020-07-27 08:07] jukkar commented on #27144
False positive

[2020-07-27 08:07] #27144 closed

[2020-07-27 08:10] jukkar commented on #25794
False positive

[2020-07-27 08:10] #25794 closed

[2020-07-27 08:11] jukkar commented on #25784
False positive

[2020-07-27 08:11] #25784 closed

[2020-07-27 08:16] jukkar commented on #25721
Code checks address family same way multiple times in the testing function. Latter checks could omit one failure branch because that will never happen. Minor issue that does not affect functionality in any way. Closing.

[2020-07-27 08:16] #25721 closed

[2020-07-27 09:11] #22975 closed

[2020-07-27 09:12] marshed18 commented on #8262
@ioannisg I get <wrn> bt_driver: Discarding event 0x3e and the program does not do what is suppose to do after that

[2020-07-27 09:15] ioannisg commented on #8262
@marshed18 since this ticket is closed for a couple of years, already, please, open a new ticket, adding as many details as you can about the bug you have encountered.

[2020-07-27 09:41] johnsmithecon commented on #26924
I've been able to recreate the issue by flashing samples/bluetooth/mesh project onto nrf52832 chip (west build nrf52dk_nrf52832). I uncommented BT_MESH_DEBUG_PROV=y and BT_MESH_DEBUG_PROXY=y from prj.conf.

I then go on the nRF mesh app on iOS and do the following:

1. Provision then reset then provision a few times. (Not sure if this step is necessary)
2. Keep in provisioned state for 15 minutes.

[2020-07-27 09:54] johnsmithecon commented on #26924
It's also printing "bt_mesh_proxy.gatt_proxy_advertise: Connectable advertising deferred (max connections)

Maybe the will mean something to your team

[2020-07-27 10:26] a8961713 opened #27172 "shell: logging: CONFIG_SHELL_LOG_BACKEND is forced if CONFIG_LOG is chosen"
**Describe the bug**
When selecting CONFIG_LOG, CONFIG_SHELL_LOG_BACKEND is automatically selected.
As CONFIG_SHELL_LOG_BACKEND is not user configurable, user cannot disable it.

**An example for this being problematic:**
When selecting CONFIG_SHELL_BACKEND_TELNET and CONFIG_LOG,
all log messages will be sent over the telnet TCP connection by default.

*Impact*
This is a problem when debugging the

[2020-07-27 10:27] starmachine24 opened #27173 "[v2.1] Unable to build Zephyr 2.1 for Upsquared board running ACRN"
Hi

We cannot build Zephyr 2.1 for ACRN because we get errors related to CTF. We want to get the CTF output over UART but this does not seem to be an option for this version of Zephyr as it seems that POSIX is the only way.  We want to try this version because we noticed that whenever we ran Zephyr version 2.2.99 and 2.3 on the board via ACRN we got a 10x slowdown, so a task set to run for 1 tick

[2020-07-27 11:06] shiraez opened #27174 "TCP Server don't get the right data from the client"
When i open tcp server and tcp client with different threads, buffer filled with trash using zsock_recv.

TCP Server:
[code]

TCP client:
[code]
**Environment**:
  -POSIX

[2020-07-27 11:09] nashif commented on #27166
do we really need an issue opened for this? many tests do not fit on many boards for various reasons. Just send the fix

[2020-07-27 11:27] #27118 closed

[2020-07-27 11:27] #27145 closed

[2020-07-27 11:28] #12705 closed

[2020-07-27 11:35] jukkar opened #27176 "[v1.14] Restore socket descriptor permission management"
Issue created for backporting #25804 to 2.2 and 1.14.
For description about the issue see #25804 for details.

[2020-07-27 12:08] mtuxpe opened #27177 "Unable to build samples/bluetooth/st_ble_sensor for steval_fcu001v1 board"
**Describe the bug**
Unable to build  sample bluetooth application st_ble_sensor  for steval_fcu001v1 board

What have you tried to diagnose or workaround this issue?
I tried the same build for other boards and it worked without  any error:
board nrf52840dk_nrf52840:  successful build without error
board nucleo_wb55rg: successful build without error

**To Reproduce**
Steps to reproduce the behavio

[2020-07-27 12:50] #21819 closed

[2020-07-27 13:08] thomasoggiersoprod opened #27181 "New drivers out of device tree"
Hello,
I try to add new customs drivers in my project out of the device tree but I can't do it.
I've add in my project folder/files:
1 the file prj.conf
  - add line
        CONFIG_GPIO_MCP23S08=y
2 the file drivers/CMakeLists.txt
  - add line
        add_subdirectory_ifdef(CONFIG_MCP23S08 mcp23s08)
3 the file drivers/KConfig
  - add line
        rsource "mcp23s08/Kconfig"
4 the folder drivers/mcp

[2020-07-27 13:29] mtuxpe commented on #27177
This error caused by the absence of a button on  steval_fcu001v1 board.
Thanks thanks for the tip  Brenton Chetty .Closing issue.

[2020-07-27 13:29] #27177 closed

[2020-07-27 13:50] carlescufi commented on #20663
It's not only the RAM, it's also the ROM footprint that is increased by unconditionally executing this code. See my comment [here](https://github.com/zephyrproject-rtos/zephyr/pull/27117#issuecomment-664406994) for more details.

[2020-07-27 13:54] Niels-Be opened #27182 "USBD_STRING_DESCR_DEFINE ordering for custom interface"
We have a use case that requires our HID application to have an iInterface descriptor string assigned.

However defining an additional string descriptor using
[code]
will mess up the order of the descriptor list.
This is because static initialization order is undefined and in our case the newly defined descriptor will be placed first in the USB descriptor list. However the subsystem expects the fi

[2020-07-27 13:58] carlescufi commented on #26796
No, it does not. I just checked: disabled logging and built with `CONFIG_MCUBOOT_SERIAL` and `CONFIG_MULTITHREADING` remains disabled.

[2020-07-27 14:01] carlescufi commented on #26796
@de-nordic and @nvlsianpu can you confirm that serial recovery is fully functional in mcuboot and that it keeps `CONFIG_MULTITHREADING` disabled?

[2020-07-27 14:03] de-nordic commented on #26796
@carlescufi  I will look at this today and let you know.

[2020-07-27 14:30] dleach02 commented on #25723
I like the idea of propagating up a negative error code so the -ENOBUFS is reasonable. But not sure what the higher level code is expecting.

[2020-07-27 14:33] dleach02 commented on #27028
while I agree that having HEAP allocation with embedded systems is problematic, the definition of getaddrinfo() has it doing an allocation of memory from some location that needs to be paired with the free. Not sure how to get around that if you want access to getaddrinfo() function.

[2020-07-27 14:35] dleach02 commented on #26994
The fix for this particular problem is simple and just needs a freeaddrinfo() in the scope of this routine if there was a successful getaddrinfo(). The rest of the issues you are bringing up in the other items are somewhat orthogonal to this and can be dealt with separately. I would just submit a simple PR to fix this particular coverity (and real resources leak) issue.

[2020-07-27 14:58] de-nordic commented on #26796
@carlescufi the `CONFIG_MULTITHREADING` is still disabled, but **serial recovery does not work** with latest master commit (75949f470f56161e1c6708193384d5e4d32f3f2f at the time I am writing this).
I have enabled it for test purposes and then it worked.

Tested on nrf52840dk_nrf52840.

[2020-07-27 15:19] carlescufi commented on #26796
@de-nordic thanks.

You mean you enabled `CONFIG_MULTITHREADING` right?

In this case, I think we need to find out whether it's GPIO or UART that are making use of multithreading, or if it's something else entirely.

[2020-07-27 15:23] de-nordic commented on #26796
@carlescufi do you want me to check it?

[2020-07-27 15:29] bbolen commented on #19979
@stephanosio thank you

[2020-07-27 16:46] sslupsky commented on #22247
Just has a look at the ArduinoCore API repo.  That looks quite interesting, I was unaware they were doing that.  Could be very helpful.

[2020-07-27 18:06] dleach02 commented on #27143
There are multiple CID errors all based on the test of socket > ESWIFI_OFFLOAD_MAX_SOCKETS. The test needs to be '>=' in all cases.

[2020-07-27 18:10] dleach02 commented on #27139
There are multiple CID errors all based on the test of socket > ESWIFI_OFFLOAD_MAX_SOCKETS. The test needs to be '>=' in all cases. One PR can fix all of these (#27138, #27139, #27140, #27141, #27142, #27143).

[2020-07-27 18:10] dleach02 commented on #27140
There are multiple CID errors all based on the test of socket > ESWIFI_OFFLOAD_MAX_SOCKETS. The test needs to be '>=' in all cases. One PR can fix all of these (#27138, #27139, #27140, #27141, #27142, #27143).

[2020-07-27 18:11] dleach02 commented on #27141
There are multiple CID errors all based on the test of socket > ESWIFI_OFFLOAD_MAX_SOCKETS. The test needs to be '>=' in all cases. One PR can fix all of these (#27138, #27139, #27140, #27141, #27142, #27143).

[2020-07-27 18:11] dleach02 commented on #27142
There are multiple CID errors all based on the test of socket > ESWIFI_OFFLOAD_MAX_SOCKETS. The test needs to be '>=' in all cases. One PR can fix all of these (#27138, #27139, #27140, #27141, #27142, #27143).

[2020-07-27 18:52] andrewboie opened #27189 "syscall stack usage report"
**Is your enhancement proposal related to a problem? Please describe.**
Syscalls run on fixed-sized privilege elevation stacks. There is a hard limit on how much stack space a system call can use because of this. We don't have good data on how much stack syscalls actually use.

**Describe the solution you'd like**
I'd like to be able to use CONFIG_STACK_ANALYSIS to be able to generate a report, fo

[2020-07-27 18:53] nashif commented on #27189
you mean CONFIG_STACK_USAGE i guess

[2020-07-27 18:59] andrewboie commented on #27189
yes, derp

[2020-07-27 19:56] andrewboie commented on #27028
@dleach02 my idea was to introduce a parallel API to `getaddrinfo()` which offers the same functionality but gets the memory buffer as a parameter and not an allocation. Unless there is a strict requirement that Zephyr's official networking API has to follow Berkeley Sockets with no alternatives or deviations I think this will work.

Actually we sort of already have it in the sense that `zsock_get

[2020-07-27 20:06] andyross commented on #27028
FWIW: getaddrinfo() isn't a system call in traditional resolver implementations.  It's done in the user process using the lower level primitives directly.  We're sort of in uncharted territory with the existing design anyway.

[2020-07-27 20:11] andrewboie commented on #27028
@andyross I think the placement in the stack of the syscall is orthogonal to this particular GH ticket, in that we'd like a way to have the functionality of `getaddrinfo()` without a heap present. regardless of where the syscall is, I think we need to expose a different API to the application.

[2020-07-27 20:12] #27079 closed

[2020-07-27 20:37] mrrosen commented on #27033
I would suggest "master" -> "host" and "slave" -> "device". This terminology is common in other bus protocols like USB; and at least the term "device" is used interchangeably with "slave" in some documentation Ive seen (Ive seen "device address" used a quite alot instead of "slave address"). I would recommend against at least two of the suggestions you provided:

- primary/secondary: some I2C devi

[2020-07-28 03:23] hakehuang commented on #27166
ok

[2020-07-28 03:23] #27166 closed

[2020-07-28 05:56] martinjaeger opened #27191 "DAC features and API enhancements"
This issue will be used to collect findings from DAC peripheral PRs and issues  which could influence a future update of the currently experimental API.

## Overview

### Supported DACs

- ST STM32L0
- NXP Kinetis MCUX

### Work in progress

- [Microchip SAM0](https://github.com/zephyrproject-rtos/zephyr/pull/26649)
- [TI DACx0508](https://github.com/zephyrproject-rtos/zephyr/pull/26040)

## Featu

[2020-07-28 07:20] wentongwu commented on #24228
@vanti updated. Thanks

[2020-07-28 08:29] jukkar commented on #27174
In client you have this which is wrong.

`> int               *s = -1;`

After I removed `*`, the thing worked just fine.

[2020-07-28 09:00] wangnuannuan opened #27195 "Sanitycheck: BinaryHandler can't kill children processes"
**Describe the bug**
When I run sanitycheck with nsim platforms. There will be multiple processes of `nsimdrv` remain in system.
And for BinaryHandler, there is no [`pid_fn`](https://github.com/zephyrproject-rtos/zephyr/blob/master/scripts/sanity_chk/sanitylib.py#L346)

**To Reproduce**
Steps to reproduce the behavior:
1. `./zephyr/scripts/sanitycheck -p nsim_em  -O nsim_em -N -v -v -T ./zephyr/sa

[2020-07-28 11:03] #27138 closed

[2020-07-28 11:03] #27139 closed

[2020-07-28 11:03] #27140 closed

[2020-07-28 11:03] #27141 closed

[2020-07-28 11:03] #27142 closed

[2020-07-28 11:03] #27143 closed

[2020-07-28 11:16] shahab-vahedi commented on #26362
I cannot get the `coredump` generated. What do you exactly mean by _step 2_? I looked a little bit into [ARC's fatal.c](https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/arc/core/fatal.c) and thought maybe I should have `ARC_EXCEPTION_DEBUG` enabled, but that didn't change anything.

I know you have [provided the coredump](https://github.com/zephyrproject-rtos/zephyr/issues/26362#issue

[2020-07-28 11:59] shiraez commented on #27174
Hi, thanks for your answer, but it doesn't work.

[2020-07-28 12:15] timork commented on #27174
@ shiraez
Please provide better example for the issue

[2020-07-28 12:26] shahab-vahedi commented on #26362
I looked into other targets such as ARM. From the code, it looks like gdb should behave the same for them: `*-elf*-gdb` should not be able to parse the coredump while the `*-linux-gdb` should.

Could someone tell me how the *elf* gdb behave for other targets?

[2020-07-28 12:32] galak commented on #12987
Fixed by a few cleanup commits in the 2.4 cycle.

[2020-07-28 12:32] #12987 closed

[2020-07-28 12:32] hakehuang opened #27201 "tests/kernel/sched/schedule_api fails on lpcxpresso54114_m4 with '-DCONF_FILE=prj_multiq.conf' '-DCONFIG_TIMESLICING=y'"
**Describe the bug**
2API failure on tests/kernel/sched/schedule_api config
Platform:
lpcxpresso54114_m4
Location:
tests/kernel/sched/schedule_api
configs:
'-DCONF_FILE=prj_multiq.conf' '-DCONFIG_TIMESLICING=y'

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso54114_m4 -DCONF_FILE=prj_multiq.conf' '-DCONFIG_TIMESLICING=y ..
3. make flash
4. See

[2020-07-28 12:37] hakehuang commented on #27201
@MaureenHelm, @dlech

[2020-07-28 12:41] wentongwu commented on #24228
Zephyr | ACPI | Linux
-- | -- | --
normal(PM_ACTIVE_STATE) | D0 (Fully On) | ??
clock gate(PM_SUSPEND_STATE) | D1, D2 | ??
power gate(PM_OFF_STATE) | D3 (Hot, Cold) | ??

@pabigot @vanti how about we use the current definition for device pm state?

[2020-07-28 12:46] hakehuang opened #27202 "tests/kernel/threads/thread_apis failure on lpcxpresso55s16_ns"
**Describe the bug**
tests/kernel/threads/thread_apis failure on lpcxpresso55s16_ns

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso55s16_ns ..
3. make flash
4. See error

**Expected behavior**
test PASS

**Impact**
thread function

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: (e.g. L

[2020-07-28 12:47] hakehuang commented on #27202
@MaureenHelm @dleach02

[2020-07-28 12:50] galak commented on #26362
@ruuddw let me know and I can update the build configuration in the Zephyr SDK for ARC.

[2020-07-28 13:00] hakehuang opened #27203 "tests/subsys/storage/flash_map failure on twr_ke18f"
**Describe the bug**
platform:
twrke18f
Location:
              tests/subsys/storage/flash_map

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f ..
3. make flash
4. See error

**Expected behavior**
test pass

**Impact**
flash usage

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: (e.g. Lin

[2020-07-28 13:01] hakehuang commented on #27203
@MaureenHelm  @dlech

[2020-07-28 13:05] hakehuang opened #27205 "tests/kernel/timer/timer_api test fails on twr_ke18f"
**Describe the bug**
tests/kernel/timer/timer_api test fails on twr_ke18f
platform:
twrke18f
Location:
              tests/kernel/timer/timer_api

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f ..
3. make flash
4. See error

**Expected behavior**
test pass

**Impact**
timer api

**Logs and console output**

[code]

**Environment (please comple

[2020-07-28 13:05] hakehuang commented on #27205
@MaureenHelm @dlech

[2020-07-28 13:48] jukkar commented on #27174
I used this test program for testing
https://github.com/jukkar/zephyr/tree/bug-27174-client-server-communication
See the code in `samples/net/sockets/client-server`

[2020-07-28 14:10] dlech commented on #27205
Not sure why I am being @ mentioned

[2020-07-28 14:20] MaureenHelm commented on #27205
Wrong @. Should be @dleach02 instead.

[2020-07-28 14:25] carlescufi commented on #26796
Sure, yes please @de-nordic since we are at it.

[2020-07-28 14:49] shiraez commented on #27174
I ran your test but this is still print "len 1024" and the buffer is 0.
I'm using an older version of zephyr(114 I think), do you know if this is related to this problem?

[2020-07-28 15:35] joerchan commented on #26924
@johnsmithecon Thank you for the updated way to reproduce this scenario.
The 15 minutes was a good indicator that the privacy configuration of the phone was part of the problem. I was able to reproduce this faster by power-cycling my phone in order to trigger a new RPA.

The problem is that the GATT provisioner service is unregistered while the peer is still disconnected.
Then the CCC configuratio

[2020-07-28 16:15] carlescufi commented on #26923
API meeting 28th July

- @tbursztyka will update the PRs to unify the user param to be named `user_data`

[2020-07-28 16:18] carlescufi commented on #11976
API meeting 28th July:

- Agree to standardize on `struct device *` + `void *user_data` for all driver callback signatures, except those that might accept multiple callback registrations. This is the case for GPIO, where `CONTAINER_OF` is used instead for memory efficiency.

[2020-07-28 16:31] MaureenHelm commented on #27202
@henrikbrixandersen could you please have a look at this? I don't currently have this board

[2020-07-28 16:34] #27149 closed

[2020-07-28 16:39] carlescufi commented on #2542
Current API proposals:

https://github.com/zephyrproject-rtos/zephyr/pull/26974
https://github.com/zephyrproject-rtos/zephyr/pull/26968

[2020-07-28 16:49] carlescufi commented on #2542
API meeting 28th July:

@nashif @rkotabag
There are currently 2 implementations of this functionality using the sensor API:

- https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/sensor/bq274xx
- https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/sensor/max17055

General consensus seems to be that right now there is no urgent need for a specific API, since the sensor API

[2020-07-28 17:10] MaureenHelm commented on #27112
Can you reproduce this issue on master?

[2020-07-28 17:24] #27090 closed

[2020-07-28 17:33] carlescufi commented on #26796
@nordic-krch this [commit](https://github.com/zephyrproject-rtos/zephyr/commit/2881df3d0cb329452fbe32da6f9b368a82366888) introduced the regression.

[2020-07-28 17:46] galak commented on #27202
@hakehuang just to verify are you running the "non-secure" board variant, and if so what is running as the trusted firmware side?

[2020-07-28 17:47] henrikbrixandersen commented on #27202
The Zephyr board definition for this board only support NS for now.

[2020-07-28 17:57] pabigot commented on #21061
This is dependent on #18970, or at least needs to be coordinated with it.

[2020-07-28 18:42] andrewboie opened #27211 "sanitycheck: add option to only build/run on emulated targets"
**Is your enhancement proposal related to a problem? Please describe.**
`sanitycheck` with no args selects 4000+ cases. Even with a beefy system this can take a long time.

**Describe the solution you'd like**
A command line option added, that restricts the set of platforms tested to only those with emulation support. We have emulators for all of our target architectures. 99% of the time I already

[2020-07-28 19:01] lochej opened #27212 "drivers: clock_control: stm32h7 cannot choose system frequency higher than 400MHz"
**Describe the bug**
It is not possible to configure a system clock higher than 400MHz on nucleo_h743zi board. It can also be the case for other H7 boards.
To achieve 400MHz+ frequencies, you need to use the PLL and set the Kconfig PLL parameters for the clock_control driver.

Moreover OpenOCD fails to complete flashing the device with status 1 and hello world is not shown in the console. In order

[2020-07-28 19:19] lochej commented on #27212
PR is in WIP at

[2020-07-28 20:39] MaureenHelm commented on #26527
This can happen if the boot header gets corrupted. Can you try adjusting the SW7 switches to prevent booting from Hyperflash, reset the board, then try programming it again? If that succeeds, you'll then need to adjust the SW7 switches back to their Hyperflash configuration and reset again. See the troubleshooting section [here](https://mcuoneclipse.com/2017/12/16/mcuxpresso-ide-v10-1-0-with-i-mx-

[2020-07-28 20:40] MaureenHelm commented on #24700
@nashif ping

[2020-07-28 20:48] de-nordic commented on #26796
Waiting for @nordic-krch input on the  https://github.com/zephyrproject-rtos/zephyr/commit/2881df3d0cb329452fbe32da6f9b368a82366888, but I am afraid that the change might have uncovered the issue rather than introduce it.
I have tried to pinpoint exact location where the failt is triggered, in mcuboot, and I have found out that it would happen (for me) on second invocation of `boot_serial_start:59

[2020-07-28 20:56] albertofloyd commented on #25148
Reverted  #25103 and test gpio basic test still passes.
Per my analysis this is because tests uses GPIO_OUTPUT_LOW only.
Modifying as below, tests fails without #25720

I think a more robust case test would configure using both flags supported by API. GPIO_OUTPUT_HIGH
Also note, that simply adding such change may mask issue where pull-up jumpers are set not removed.

@@ -83,7 +83,7 @@ static int s

[2020-07-28 21:21] pabigot commented on #25148
@albertofloyd I'm still confused.  Lines 84 through 105 test output low.  Lines 107 through 121 test output high.

If I make the changes you suggest the test fails on nrf52840dk_nrf52840:
[code]
which is expected (the changes are incomplete).  If I add:
[code]
the tests pass, but they're redundant with the tests that follow immediately, and we're not checking whether setting output to low initiall

[2020-07-28 21:56] andrewboie opened #27219 "thousands of lines of log spam in buildkite output"
**Describe the bug**
If I want to inspect the state of a buildkite job I have to scroll past thousands of lines of:

[code]

Please, let's move this to a deeper verbose level or something.

[2020-07-28 22:23] #25728 closed

[2020-07-28 22:25] kromancer opened #27220 "Bluetooth: L2CAP: l2cap_change_security() not considering bt_conn::sec_level when handling BT_L2CAP_LE_ERR_AUTHENTICATION"
**Describe the bug**
The client's handling of a `BT_L2CAP_LE_ERR_AUTHENTICATION`,
when establishing a dynamic channel,
does not take into consideration the link's security level.

**To Reproduce**
1. Create an L2CAP server and set the required minimum security level to `BT_SECURITY_L3`
2. Create an L2CAP client which has no a priori knowledge of the server's required minimum security level
3. Set

[2020-07-28 22:55] galak commented on #27201
Did some git bisection and tracked this down to commit 88765ad3282ce830bda8745b409538a0bcdeaf6a.

It seems reducing the number of char's printed somehow impacts this test.

[2020-07-29 01:12] wentongwu commented on #24228
another problem, if all of the code get ready, which one is the best platform we do the test?

[2020-07-29 01:23] wentongwu commented on #24228
maybe not clock gate, the working clock of some device can be controlled, maybe the defined API for device pm should consider it.

[2020-07-29 01:43] albertofloyd commented on #25148
@pabigot
My bad. Let me explain in detail why I think the test case doesn't catch the MCHP driver bug.
* XEC HW requires configuration to occur before setting output value, so any output value has no effect if pin is not configured.

Current test sequence
1) Configure OUTPUT_PIN as OUTPUT_LOW
	a. gpio driver setting for output to 0 but **has no effect**
	b. gpio driver perform pin configuration as

[2020-07-29 03:15] hakehuang commented on #27202
nothing, I leave the trusted firmware blank.

[2020-07-29 03:15] hakehuang commented on #27205
sorry, I did not checkl carefully.

[2020-07-29 03:19] vanti commented on #24228
I think active/suspend/off sound fine.

The infrastructure should be tested on multiple platforms in my opinion, to make sure it is flexible enough.

[2020-07-29 06:19] haipas commented on #27112
Yes, the problem still exists with the current master. But another error message occurs

`*** Booting Zephyr OS build zephyr-v2.3.0-1372-g5e2e7a0fcf6f  ***
[00:00:00.000,000] <inf> spi_nrfx_spi: CS control inhibited (no GPIO device)
[00:00:00.213,043] <inf> sdhc_spi: Found a ~30436 MiB SDHC card.
[00:00:00.214,324] <inf> sdhc_spi: Manufacturer ID=3 OEM='SD' Name='SC32G' Revision=0x80 Serial=0x4d0d

[2020-07-29 06:31] anangl commented on #22151
Addressed in https://github.com/zephyrproject-rtos/hal_nordic/pull/13.

[2020-07-29 06:31] #22151 closed

[2020-07-29 06:40] henrikbrixandersen commented on #27205
@hakehuang I have just tried this a couple of times on Zephyr master (5e2e7a0fcf6f9815080e5fb311808730ccf3cbeb). I cannot reproduce the error, you are seeing.

Can you provide more information?

[2020-07-29 06:53] jukkar commented on #27174
When using latest upstream, I get
[code]
When running it in 1.14, I get the same print `len 17  Hello from client` but there is a NULL ptr access in TCP. This with qemu_x86 and native_posix. The is some issue that has been fixed in upstream but is missing in 1.14.
What board are you using?

[2020-07-29 06:53] henrikbrixandersen commented on #27203
If I do a full chip erase (`pyocd erase --chip`) prior to running this test, the test passes:

[code]

Not sure this is specific to the twr_ke18f. @nvlsianpu Any input on this?

[2020-07-29 07:07] henrikbrixandersen commented on #27202
@hakehuang I can reproduce the error here.

[2020-07-29 07:50] Nukersson commented on #27212
Thank you for opening this bug.

I would leave for the first the following problem outside of this bug:
[code]

[2020-07-29 07:59] lochej commented on #27212
In my case, OpenOCD fails to succed with **shutdown command invoked** on my board because of the bugged clock configuration which prevents OpenOCD to communicate with the chip once it has executed the bugged code section which can freeze the clock tree in an unspecified state. That could also explain why I have to connect the device under reset to be able to flash another binary program.

So it is

[2020-07-29 08:02] Nukersson commented on #27212
Then it is even better, if we focus on fixing the clock bug. Afterwards we can investigate if OpenOCD/Flashing problem disappears.

[2020-07-29 08:11] lochej commented on #27212
Exactly, OpenOCD will be part of our tests steps to validate the fixing PR 😄  I have updated the bug description to better show why OpenOCD could fail due to a bad clock configuration.

[2020-07-29 08:18] Nukersson commented on #27212
I am facing same bug with my NUCLEO-H745ZI-Q board. This board is currently placed in master branch of Zephyr's repository. Per default this board uses PLL with HSE and 240MHz/480MHz clock for M4/M7 cores respectively.  See the settings in `nucleo_h745zi_q` board folder.

My observations are:

### I. Investigating the buggy merge number:
1. Compiling aec5f0a3efa41b0102f361c0f66be55daddbf294 from m

[2020-07-29 08:34] shiraez commented on #27174
I use native_posix 64 bit.

[2020-07-29 08:46] lochej commented on #27212
@Nukersson Thanks for your feedback. Looks like you are facing the same issue as I showing that reducing the PLL output clock allows the system to boot the sample correctly. I suggest you try the fixing PR #27213 version to see if it solves this issue.

I agree on having more clock setting asserts. Most of them should be doable by preprocessor, but we won't get as much information as what STM32Cub

[2020-07-29 08:54] Nukersson commented on #27212
@lochej If #27213 is the fix for this bug, please mention it in the bug description above.

[2020-07-29 08:59] lochej commented on #27212
Initial implementation of the clock_control for H7 series (prior to #26980) was setting the APBx dividers BEFORE setting the PLL as SYSCLK which prevented the clocks to go above specification once SYSCLK was set to PLL.

This explains why @Nukersson had a working clock tree working prior to #26980 .

That is all my mistake. I have changed in #26980 where the PLL is set as SYSCLK source prior to se

[2020-07-29 09:18] xhpohanka commented on #27212
I have also faced some problems related with the latest patch for clock settings.
If I'm looking right I think that there is overlapped logic in first control assert, isn't it @lochej ? :)
[code]

[2020-07-29 09:27] joerchan commented on #27154
Please elaborate on what you mean by device cannot sleep?
There is an active Bluetooth LE connection, it will consume power to maintain the connection.
The connection parameters you are setting is 30 ms, with a latency of 30, meaning that the peripheral will be active in the connection every 900 ms.

Please be more specific, roles can have different roles.

The timeout could be set, the maximum ti

[2020-07-29 09:27] lochej commented on #27212
Thanks for your comment, Could you be more precise about what's wrong with this assertion ?

PLL input range is [1MHz;16MHz], so everything below 1MHz or above 16MHz is not a valid input.

[2020-07-29 09:31] xhpohanka commented on #27212
[code]
we should assert that we are **inside** required range so I think `__ASSERT(input_freq >= 1000000UL && input_freq <= 16000000UL, "")` would be right. The same applies for control of return value of this function

[2020-07-29 09:36] jakub-uC opened #27227 "shell crashes on qemu_x86 board upon the Tab button press"
**Describe the bug**
The program is interrupted when the user presses the `Tab` button in the shell.

**To Reproduce**
1. Modify shell_module sample by adding `CONFIG_SHELL_CMDS_SELECT=y` to the prj.conf file.
2. Run application for the qemu_x86 board:
`west build -b qemu_x86 -t run`
3. Once program is started hit the `TAB` button.
4. See error

**Expected behavior**
The shell is printing all avai

[2020-07-29 09:41] lochej commented on #27212
You are absolutely right, that's me not knowing how to use assertions 🙃 There also is another assertion:
[code]

that should be changed to:

[code]

 I will try to embed this correction in #27213

[2020-07-29 09:46] carlescufi commented on #27071
The problem that we need to decide on is:

- We can enable USB when the console is initialized (i.e. what is being done now) and then provide the application with a way of adding its own callback **and** finding out the current USB state (this is not feasible for all USB drivers). This allows early print statements to go out during the boot process.

- We remove the auto-initialization of USB in t

[2020-07-29 09:57] pabigot commented on #24228
I don't like "power gate" and "clock gate" since those are (AIUI) technologies that produce a savings in power, not low-power states.  I've also not seen any non-MCU/CPU devices (e.g. I2C or SPI ICs) that document their low power modes in those terms.

Remember there are four states to capture.  Would it be active/suspend1/suspend2/off?  That's getting vague.

So I'm leaning towards D0, D1, D2, D3

[2020-07-29 10:13] pabigot commented on #27071
And  why does USB have to be initialized at application runlevel?  (Rhetorical question.)

OK, just make very clear that using a USB console (which is not optional on some platforms) means any pre-APPLICATION log messages will be dropped (which is very much not ideal; I'm going to have to look into non-console log destinations).

I do like that this path allows removal of `USB_UART_DTR_WAIT` which

[2020-07-29 10:13] pabigot commented on #27071
Also don't lose sight of [the other places](https://github.com/zephyrproject-rtos/zephyr/issues/27071#issuecomment-662679087) that might be breaking the API.
[code]

[2020-07-29 10:36] EdytaBosacka opened #27231 "Sending data to .csv file on SD card - ERROR CS control inhibited (no GPIO device)"
I use nrf5840 dk board. I want to  send some data to .csv file on sd card by &spi1.
To do this I wrote my code which was inspired by this example \zephyrproject\zephyr\samples\subsys\fs\fat_fs. My code compiles, but then I get this error in RealTerm:

[code]
My config file looks like:

[code]

What could be the reason of this problem?

[2020-07-29 11:50] jeremyherbert commented on #27154
I am closing this, it turns out that the issue was that the change was rejected by the central. I didn't know about the le_param_updated callback, thank you for the tip.

[2020-07-29 11:50] #27154 closed

[2020-07-29 12:07] #27080 closed

[2020-07-29 12:13] #20693 closed

[2020-07-29 12:17] #27172 closed

[2020-07-29 12:17] jakub-uC commented on #27172
#27190

[2020-07-29 12:21] lochej commented on #27212
@Nukersson Your idea is great and I am trying to implement it using only preprocessor errors. I'm almost done with them and I'll try to provide this detection to #27213 once it is done.

I'm just facing preprocessor errors due to:
[code]

Which prevents the preprocessor from doing any comparison from these defines (break with ```error: missing binary operator before token```).
Defines should be fo

[2020-07-29 12:23] EdytaBosacka commented on #21455
@ric96 Did you fix this?

[2020-07-29 13:16] dleach02 commented on #27203
@henrikbrixandersen, did you see the test fail before doing the full chip erase?

I've seen this before and would really like to figure out what sequence gets us to this state.

[2020-07-29 13:25] a1ien opened #27237 "Out_of_tree example broken"
**Describe the bug**
When try build out_of_tree_board I get `fatal error: nrfx.h: No such file or directory`

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
Build without error

**Impact**
Can't build out of tree

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Zephyr SDK
 - Commit: cb5e45c8

[2020-07-29 13:26] MaureenHelm commented on #27203
Btw, see 8c7cef6da0175f1f6996a54dfe46adb79e6b48b6

[2020-07-29 13:49] galak commented on #26568
Was able to run the test on `disco_l475_iot1` but seeing it hang on `frdm_k64f`

[2020-07-29 13:53] galak opened #27238 "tests/net/socket/af_packet fails on FRDM-K64F"
commit 6ecea4b3dd50024a3fb82da235664209b782b5fb seems to cause this test to hang on FRDM-K64F.

It seems to hang on:

[code]

[2020-07-29 14:09] galak opened #27239 "samples/subsys/canbus/isotp/sample.subsys.canbus.isotp fails on FRDM-K64F"
When trying to run this sample on a FRDM-K64F I get:

[code]

[2020-07-29 14:22] henrikbrixandersen commented on #27203
@dleach02 Yes, it was failing just before I did the full chip erase. I will try to see if I can get it back into the failing state.

[2020-07-29 14:26] henrikbrixandersen commented on #27239
I can reproduce the error here.

[2020-07-29 14:59] galak commented on #27239
@alexanderwachter mentioned that the sample requires at least 2 boards connect together for this to function.

[2020-07-29 15:39] ikerperezdelpalomar commented on #17748
Hi, I am willing to get learn about Zephyr so I considered that this might be a nice issue that start working from. Is it ok if I try to solve it?

[2020-07-29 16:09] a1ien commented on #27237
Broken after ef3c5e551676278ccc1f42ecb572838144c5e33a

[2020-07-29 16:15] galak commented on #17748
@ikerperezdelpalomar are you familiar with devicetree?

[2020-07-30 00:45] #23039 closed

[2020-07-30 00:45] #23040 closed

[2020-07-30 00:45] #22980 closed

[2020-07-30 02:05] andrewboie commented on #26961
still seeing this, although with recent sanitycheck fixes this reports "Timeout" and not "Unexpected EOF"

[2020-07-30 02:47] icephyr opened #27249 "Is there any development plan for supporting RPL stack ？"
I'm doing research on the RPL stack development currently , while I noticed that the RPL node demo was removed from zephyr since v1.14. I am not sure about the reason, maybe not fully supported yet ?

So I wonder if zephyr has plans to officially support fully implemented RPL stack and what is the progress now ? Hope anyone can share some information about this. Thanks a lot.

[2020-07-30 03:56] chen-png commented on #26527
i will have a try

[2020-07-30 06:28] emob-nordic commented on #27071
I am working on PR adding this. In case of any doubts will post a message. We talked about the issue together with USB folks and that's the only way out we see for now.

[2020-07-30 07:33] pablogs9 commented on #22722
Hi, is there any official support for ZeroMQ on Zephyr or this @jensschroer is the only one solution?

[2020-07-30 07:43] #26923 closed

[2020-07-30 08:11] jensschroer commented on #22722
@pablogs9 As far as I am aware there isn't any official support for ZeroMQ on Zephyr. I discontinued my efforts on the direct port, as the library turned out to be too big for the MCU I was targeting. I am still interested in ZeroMQ on Zephyr, so I might start another try if time permits.
Which communication patterns do you need?

[2020-07-30 08:13] jakub-uC commented on #24217
Fixed by #24138

[2020-07-30 08:13] #24217 closed

[2020-07-30 08:17] pablogs9 commented on #22722
Thanks for the answer @jensschroer, I'm looking a **broker-less** pub-sub (ideally also req-rep) library that can be embedded in MCU like STM32F4 or so (~150 KB RAM, ~1 MB Flash).

I'm targeting systems with RTOS and some POSIX compliance (by now: Zephyr RTOS, Nuttx and FreeRTOS + POSIX labs extensions). And ideally, it should be C++ free...

I'm checking right now this [nanomsg ng](https://github

[2020-07-30 08:26] jensschroer commented on #22722
@pablogs9 I have also looked at nanomsg-ng and tried to port it, after I got stuck with ZeroMQ. At the time I could not port nanomsg-ng as some systemcalls were missing. From what I remember eventfd was the main one - which has been added recently to Zephyr.
However, the reason why I decided against pursuing nanomsg-ng was the limited user and application base.

I was considering to implement a su

[2020-07-30 08:34] pablogs9 commented on #22722
I think that I'm going to try nanomsg-ng. I'll keep you updated if success.

[2020-07-30 10:24] #26992 closed

[2020-07-30 10:24] #26993 closed

[2020-07-30 10:25] #26568 closed

[2020-07-30 10:25] #27238 closed

[2020-07-30 11:52] abrodkin commented on #26362
@clear-zhang @galak let's first make it a bit more clear what is the problem here. For instance I don't quite understand how that core dump is supposed to be created? Which target is used for that, how do we interact with that target. In case of the Linux-based OS core dump is being created by the kernel itself and gets put on the filesystem. How that could be done in case of Zephyr is not clear t

[2020-07-30 12:00] #25104 closed

[2020-07-30 12:08] nordic-krch opened #27258 "Ring buffer does not allow to partially put/get data"
**Is your feature request related to a problem? Please describe.**
Current ring buffer implementation allow to claim the buffer for putting data (`ring_buf_put_claim`) and get pointer to the location within the buffer. When data is copied into that location `ring_buf_put_finish` is called to indicated how much data is copied. User can then claim the buffer, fill it (e.g. by passing it to the drive

[2020-07-30 13:15] anangl commented on #26796
@carlescufi @de-nordic @nordic-krch This issue caught my attention and I took a quick deeper look. I think the problem lies in incorrect configuration of stack pointer registers when `CONFIG_MULTITHREADING` is disabled.
Thread mode is configured to use PSP here:
https://github.com/zephyrproject-rtos/zephyr/blob/3bc6c555a51888b5996d06f68f7b65892a9c79e2/arch/arm/core/aarch32/cortex_m/reset.S#L95-L98

[2020-07-30 13:32] CorentinDOROTHEE opened #27266 "samples: bluetooth: hci_spi: Invalid cmd_hdr and acl_hdr usage"
**Describe the bug**
cmd_hdr and acl_hdr local structs were read but never written.
Causing unpredictable errors in bt_tx_thread such as :
"Invalid HCI CMD packet length" in hci.c:2280
or Imprecise data bus errors on nrf52810.

I have pinpointed the issue to samples/bluetooth/hci_spi/src/main.c using SEGGER J-Link probe

**To Reproduce**
Steps to reproduce the behavior:
1. have an hci_spi hardware

[2020-07-30 13:33] carlescufi commented on #26796
@anangl thanks for the extensive analysis!

@ioannisg should be able to look at this.

[2020-07-30 13:39] de-nordic commented on #26796
@anangl thanks!

[2020-07-30 13:51] jukkar commented on #27249
The reason the RPL code was removed in 1.14, was that there was nobody willing to maintain the RPL code. If there is proper commitment to support and maintain RPL code, then patches are welcome.

[2020-07-30 13:54] lochej commented on #27266
@CorentinDOROTHEE Thank you very much for finding this bug !

In fact, cmd_hdr and acl_hdr are **not even initiailized with 0 values.**
So you get whatever is in the thread stack ram 🙃

This may be the reason why this bug was not detected before (due to its random occurance nature).

This problem is still present in master.

The fix for this problem should be integrated in both **master and V2.3.0

[2020-07-30 14:09] lochej commented on #27266
A fix to this problem would be to either correctly fill the **cmd_hdr & acl_hdr** with spi data
using memcpy from rxmsg spi buffer.

Or simply remove the two structs and get the header length from rxmsg content directly. This could save a bit of the thread stack memory.

[2020-07-30 14:29] #26994 closed

[2020-07-30 14:33] #16638 closed

[2020-07-30 15:25] #27219 closed

[2020-07-30 15:36] rtalbott opened #27268 "usb: mcux RT1060 EVK - when using on-chip memory, USB fails"
**Describe the bug**
USB fails to configure when using on-chip memory rather than the default external DDR RAM.

**To Reproduce**
Change the default DATA_LOCATION to DATA_OCRAM instead of DATA_SEMC.
(be sure to unplug the USB port between resets - I have seen it mask the issue if left plugged in.)
using the samples/subsys/usb/hid example

**Expected behavior**
USB should configure and work.

**Imp

[2020-07-30 19:05] andrewboie commented on #21923
I'm going to convert this as an enhancement to fight the stale bug GH action as I don't expect to work on this for some time but I don't want this lost either.

[2020-07-30 20:01] sjg20 commented on #25308
Just an update on this. The I2C pull request died a death because the existing i2c slave feature is not what I thought it was. It requires special hardware with two I2C ports wired together and the test relies on that.

Instead I am working on a new, fairly simple emulation framework that is specifically targeted to running tests quickly in native_posix. For example, it allows writing an emulator

[2020-07-30 20:16] lochej commented on #27266
Looks like this bug was introduced in this commit:

https://github.com/zephyrproject-rtos/zephyr/commit/4b622afbb33fa199078a2215c72a0b822ae6841b#diff-01757f00c05ae26127a503a0c08eb4f0

The author deleted the original memcpy calls filling up the headers.

[2020-07-30 21:46] rtalbott commented on #27268
I found the issue to be due to how the endpoint memory pool is being created.

To work around the problem is to ignore the CONFIG_NOCACHE_MEMORY (set in a Kconfig):

usb_dc_mcux_ehci.c:
[code]
I'm not sure if this is the correct solution for all mcux, but it does address my particular issue using on-chip RAM for the RT series.

[2020-07-31 00:46] #22872 closed

[2020-07-31 00:46] #22466 closed

[2020-07-31 00:46] #22322 closed

[2020-07-31 01:11] #13637 closed

[2020-07-31 01:11] #13651 closed

[2020-07-31 01:11] #14269 closed

[2020-07-31 05:24] icephyr commented on #27249
Well noted, thanks for the answer.

[2020-07-31 05:24] #27249 closed

[2020-07-31 05:54] hakehuang commented on #27205
@henrikbrixandersen this issue is gone with build  on Zephyr master (5e2e7a0)

[2020-07-31 05:54] #27205 closed

[2020-07-31 07:26] ioannisg commented on #23702
@andrewboie pls, clarify if this issue can be consider closed after we merged #24714

[2020-07-31 07:28] ioannisg commented on #16210
This should not be an issue, any more, since we merged #24714 , and so the interrupt stack is defined using k_kernel_stack_define.
I need to see if there is a still a _minor_ issue with the mpu guard.