[2019-01-07 10:17] fnde-ot commented on #12331
Hi @Laczen,

It looks like we fully agree on the need to move the encoding and other storage specific matters from setting modules to the storage backends. However this proposal would also allow using different storage ways for different modules.

One example for settings that change often is that one could prefer to buffer changes and store those to flash every few seconds. Those module-specific

[2019-01-07 10:50] #12314 closed

[2019-01-07 11:18] pabigot commented on #12342
@agross-linaro The framework of workarounds would be the last three patches @andyross pushed onto that PR, the last being [this one](https://github.com/pabigot/zephyr/commit/c68a2ee1d1647956473a831381399dc0d402d896).  It makes the tests run, as does my smaller patch, and was expected to be merged by now, but I requested a delay so  they can be reviewed properly in a distinct PR.

I suspect I could

[2019-01-07 12:42] SebastianBoe commented on #5443
@ulfalizer : Can you update menuconfig as well?

[2019-01-07 12:56] tbursztyka commented on #12154
Ok I could take some time to verify this. Looks like something is fishy in ipv6. I made kind of same logging modif as yours: See my logs:

[code]

Address should be the one shown earlier from net_config, and it's a mix of it and garbage. I'll investigate that.

[2019-01-07 14:05] carlescufi commented on #9055
All the required PRs have now been merged.
Thanks!

[2019-01-07 14:05] #9055 closed

[2019-01-07 15:39] nvlsianpu commented on #12331
I have to consider what is proposed. But firs some corrections - currently base64 encoding is not in use (it is not fully deprecated - it is working but is not enabled for either fcb and nffs.
Regards replacement of string by module handlers + UUID - looks like it is stil complicated. I mean that there will be need to keep some references between UUID and values (a code book?). It will be hard esp

[2019-01-07 15:46] nvlsianpu commented on #12160
Generally the idea sound good.

b - this mean that you want to move comparation rutine to backends?
c - this sounds like a new feature (which I like).

[2019-01-07 16:01] carlescufi commented on #12039
@pizi-nordic maybe you could propose an (optional) API that we could use, implementing it initially only on Nordic devices?

[2019-01-07 16:12] pabigot commented on #12332
@pizi-nordic  As an equal-opportunity complainer I have to say that test doesn't do what you think.  2ms of that 3ms lateness is due to the time it takes to printk the timer1 expiration within the callback.  If the printk is removed it's 49.83 ms (1633 32 KiHz ticks), which is still 6 ticks too early to reach 50 ms.

Also the fact the check always fails on the first call suggests that either the t

[2019-01-07 16:20] agross-linaro commented on #12342
@pabigot Ok, it sounded so formal that I thought there was something more than just a few patches.  Given your issue I can see how this is occurring.  This takes multiple events happening that 1) cause a swap and 2) change the conditions that precipitated the swap before the actual swap occurs.

And no, no other architecture has this tail chaining behavior.  If you search around a little, you'll f

[2019-01-07 16:20] pabigot commented on #12332
That'd be it.  A tick is 327 increments of the 32 KiHz clock.  So 1 s as measured by Zephyr's tick clock on Nordic hardware is 997.92 ms in the real world.

[2019-01-07 16:36] pabigot commented on #12342
[This paper](http://scholar.google.com/scholar_lookup?title=Evaluations%20of%20hardware%20and%20software-based%20context%20switching%20methods%20in%20Cortex-M3%20for%20embedded%20applications&author=H.%20Choi&author=S.%20Park&journal=Int.%20J.%20Smart%20Home&volume=9&issue=2&pages=111-122&publication_year=2015) might be useful.  Their results (which I have not reviewed) show software switching is

[2019-01-07 16:52] agross-linaro commented on #12342
@pabigot i don't doubt the switching comes in faster.  The cost is slightly higher irq latency, which they don't show.  The issue at heart here is the fact that we have an expectation that a swap is atomic.  I say this because of the things we have had to do to 'fix' issues related to the tail chaining.

[2019-01-07 17:05] mike-scott opened #12359 "Default address selection for IPv6 should follow RFC 6724"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, Zephyr uses a simple diff function to determine the IPv6 source address for outbound data.  In many cases this isn't correct (read as: any use case that has more than 1 non-link local unicast address).  As a result, OpenThread routing via a border router for internet communication is broken.

**Describe the solution

[2019-01-07 17:05] mike-scott commented on #12359
This was brought up as a discussion in https://github.com/zephyrproject-rtos/zephyr/pull/12343

[2019-01-07 17:11] andyross commented on #12342
To be clear: we don't.  But the fact that we don't causes bugs, and I think is likely to continue to do so.

I mean, if you think about it it's a lower level violation of the basic idea of a condition variable: you want to check if some condition is true and then decide to block if it isn't.  So in a cvar API, the "release the lock" and "go to sleep" steps are guaranteed by the system to be atomic

[2019-01-07 17:45] loicpoulain commented on #12301
Fixed in #12361

[2019-01-07 17:45] loicpoulain commented on #12305
Fixed in #12361

[2019-01-07 17:45] loicpoulain commented on #12310
Fixed in #12361

[2019-01-07 17:45] mike-scott commented on #12359
NOTE that OpenThread adds a couple of rules:

- Don't use addresses returning true for IsAnycastRoutingLocator()
- Add rule: Prefer EID

[2019-01-07 17:45] loicpoulain commented on #12311
Fixed in #12361

[2019-01-07 17:50] loicpoulain commented on #12313
Fixed in #12361

[2019-01-07 17:52] pabigot commented on #12332
No, `TICKLESS_KERNEL` has no effect.  The test can never pass because 50 ms isn't 50 ms.  With enhanced output I get:
[code]
where the displayed 32700 is the difference between the `k_cycle_get_32()` values captured in successive callbacks of timer  1, which is configured to callback every 1000 ms (32768  cycles).  49.865 ms is within one rounded-up system clock tick (30.5175... us) of the 49.896

[2019-01-07 17:53] andyross commented on #12332
Right right, what I meant is that if this test is exercising the bug that it thinks then it will always pass with tickless disabled, becasue all ticks come one at a time and the ambiguity we're discussing can't exist.  I buy that there may be precision bugs too.

[2019-01-07 17:56] pabigot commented on #12332
That run I displayed is from `# CONFIG_TICKLESS_KERNEL is not set`, so it doesn't get fixed.  The 1634 system clock ticks measured as latency is the same as the steady-state when `CONFIG_TICKLESS_KERNEL=y`.

[2019-01-07 18:03] pabigot commented on #12342
I also think a non-atomic context switch is a perversion of nature.  Regardless, I certainly have an expectation that Zephyr be consistent in whether context switch is atomic, so if ARM is the only architecture where it isn't I think that should be changed.

We should make sure stakeholders who really care about IRQ latency on ARM systems get involved.  Things like Bluetooth or 6lowpan time-synchr

[2019-01-07 18:17] pic16f887 commented on #12272
@easonxiang initial version of SD/MMC interface will be ready approximately in two-three weeks.

[2019-01-07 18:36] andyross commented on #12332
Then I'm confused. You can't hit the situation @pizi-nordic is complaining about unless z_clock_announce() is called with a ticks argument of 2 or greater.  The issue is whether or not it is correct to decrement timeouts that were "just added" to the list by another timeout handler.  If the argument was one tick, then announce_remaining must have been decremented to zero inside the loop during the

[2019-01-07 18:40] Olivier-ProGlove opened #12362 "BLE HID sample fails to reconnect on Windows 10 tablets"
**Describe the bug**

[BLE HID sample](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/peripheral_hids) fails to reconnect on (some?) Windows 10 tablets. I only have two Windows 10 tablets (including the Windows Surface Pro 4) to check. I cannot duplicate the issue on a Windows 10 laptop (Lenovo laptop in my case), Linux and Android.

The two bluetooth controllers are (W

[2019-01-07 18:41] pabigot commented on #12332
Yes.  What I've been trying to say all along is that this test is faulty: it never hits a condition where multiple ticks are being announced.   It fails because of accumulated error in measuring the passage of time, not because the deadline was reduced by unaccounted ticks.

[2019-01-07 20:02] agross-linaro commented on #12342
@andyross We're talking about the condition changing multiple times before the pendsv fires.  And the only way i can think this would work properly is to make the swap atomic and just accept the fact that you might have multiple save/restores of the stack frame + PSP switching instead of just a single hw assisted swap.  That's all you get out of tail chaining the PENDSV.

[2019-01-07 21:06] dcpleung commented on #11565
The Apollo Lake SoC has 245 exposed GPIO pins through the controllers. Given how those pins are arranged in hardware, we will need 10 devices in Zephyr to cover all of these.

I agree that maintaining 2 sets of GPIO APIs are problematic, especially with the need for other drivers to manipulate the GPIOs.

[2019-01-07 21:07] #12347 closed

[2019-01-07 21:09] Laczen commented on #12331
@nvlsianpu, is encoding disabled for nffs? How does nffs distinguish binary data containing a EOL and a EOL at the end of a line? Have you tried storing data that contains a EOL?

[2019-01-07 22:49] galak commented on #12342
My general feel is having _Swap be atomic makes sense, but I think we should get input from the Nordic guys as I wonder if that will impact timing for Bluetooth on low end M0 devices were they already have pretty tight deadlines.

[2019-01-07 22:50] pabigot commented on #12332
I've corrected [pabigot/zephyr:wip/20190106a](https://github.com/pabigot/zephyr/commits/wip/20190106a) to preserve the existing behavior (reschedule relative to original deadline) while avoiding the "undesirable" behavior (schedule relative to past time).  I can't verify this without a test case, but by inspection I think it's right.

This patch passes sanitycheck, though one test passes only by r

[2019-01-07 23:01] vanwinkeljan commented on #6709
Closing issue, #6826 got merged

[2019-01-07 23:01] #6709 closed

[2019-01-07 23:04] vanwinkeljan commented on #2748
Closing issue, Zephyr has no support for [lvgl](https://github.com/littlevgl/lvgl) through #6826

[2019-01-07 23:04] #2748 closed

[2019-01-08 00:43] agross-linaro commented on #12342
You guys want to discuss this in the API meeting tomorrow?  or the earlier mmu/mpu meeting?

[2019-01-08 01:14] easonxiang commented on #12272
@pic16f887 Thanks for your response, looking forward to see it.

[2019-01-08 03:27] Jiurifei opened #12367 "Power management strategy of Zephyr can't work well on nRF52 boards."
I am using the project which is located in `samples/subsys/power/power_mgr` to test the power consumption of my nRF52832/52840 board. When getting into `SYS_POWER_STATE_CPU_LPS ` or  `SYS_POWER_STATE_CPU_LPS_1 ` state(system on), the current is always about 290uA. While in deep sleep state(system off) , the current is normal and below 1uA. As we all know, nRF52x boards burned into Nordic SDK can w

[2019-01-08 06:52] Jiurifei commented on #12367
@ntavish Thank you for your suggestion! The sample you used is "center_hr" or "peripheral_hr"? Whether disabling UART is the only operation you did? And how did you disable your UART?
Actually I have tried the method you told, but it didn't work well.

[2019-01-08 07:44] ntavish commented on #12367
I tried peripheral_hr, I can't recall exactly which settings, but check if shell is enabled, or UART is being selected by something.

[2019-01-08 08:02] Jiurifei commented on #12367
@ntavish the shell is disabled.  Indeed, some macros can have an effect on UART, such as "Use UART for console" which is under selection of console drivers. But even if I close some relevant macros then disable some peripherals, the power consumption is still too high. I have raised this before.#12150. And @JuricaResetar  has encountered the same question as mine.

[2019-01-08 08:12] nvlsianpu commented on #12331
@Laczen Record format is different for File back-end
`<u16: line len(without this field)><string: key-name><u8[]: raw data>`

[2019-01-08 08:15] pizi-nordic commented on #12039
@carlescufi: OK.

[2019-01-08 09:03] Laczen commented on #12331
@nvlsianpu, OK, I didn't realize this was changed.

[2019-01-08 09:25] mped-oticon opened #12368 "File descriptors: Compile fails with non-POSIX out-of-tree libc"
`lib/CMakeLists.txt` has a hard dependency on `zephyr_sources(fdtable.c)`.
`fdtable.c` in turn always includes `fcntl.h`.
`fcntl.h` is defined by POSIX.
Zephyr provides it with minimal libc: `zephyr/lib/libc/minimal/include/fcntl.h`.

We use a custom libc that does not have `fcntl.h`, so we must hack around this.

It seems there are two solutions:

1. Make the compliation of `fdtable.c` conditiona

[2019-01-08 09:37] SebastianBoe commented on #12368
@aescolar : FYI

[2019-01-08 09:47] pizi-nordic commented on #12332
@andyross, @pabigot: That is true, that the test does not trigger the `z_clock_announce()` issue.
However it shows the problematic behaviour that afraids me: The timer fires prematurely and **it looks what we are happy with that.**

[code]

The time from `k_timer_start(&timer2, K_MSEC(T2_TIMEOUT), 0);` to `elapsed_cycles = k_cycle_get_32() - timer1_exp_timestamp;` should be always greater than T2_

[2019-01-08 09:48] fnde-ot commented on #12331
@nvlsianpu Thanks for the info, I had missed that base64 is now optional. The important part of this proposal would be to decouple the encoding/storage handling from the in-memory handling, and allow registering custom storage handlers. Those could be module specific (as described above), or there could be a single one if we want to simplify the above proposal.

The modules would simply need to im

[2019-01-08 10:12] ntavish commented on #12367
Can you try blinky example, disable LEDs turning on. I am seeing around 5uA with that.

[2019-01-08 10:30] ntavish commented on #12367
Can you try blinky example, disable LEDs turning on. I am seeing around 5uA with that.

[2019-01-08 10:36] carlescufi commented on #12342
CC @cvinayak @pizi-nordic

We need to understand what bringing this atomicity in would entail in terms of interrupt latency. How long would the interrupts be disabled for? As @agross-linaro mentions, we are already disabling interrupts today in order to perform the actual swap, so I am unsure whether the maximum time with interrupts disabled would increase by a significant amount. I assume this wo

[2019-01-08 10:42] ravindranaththiyagarajan opened #12369 "WDT: wdt callbacks are not getting triggerred before CPU going for a reboot"
@kl-cruz @carlescufi

In NRF52840, we are registering the wdt callbacks with zephyr as shown below in the code snippet.

Expected behavior:
---------------------------

These registered callbacks should executed on watchdog time out.
As per the NRF52840 wdt specification, The watchdog should generate an interrupt on timeout event. The CPU reset is postponed for two 32.768KHz clock cycles.

Current

[2019-01-08 10:45] carlescufi commented on #12342
The hardware triggered events are unfortunately not enough in the case of Bluetooth. An actual radio ISR needs to execute in order to meet the hard real-time deadlines.

[2019-01-08 10:47] carlescufi commented on #12342
Thanks for liking that, it's definitely interesting. The problem I think is that they don't consider interrupt latency worst times in that paper, only the actual time it takes to context switch. Also, some of the instructions they use (`stmfd` and `ldmfd` are not available on Cortex-M0 IIRC)

[2019-01-08 11:18] pfalcon commented on #12368
And the best option would be to make a minimal fnctl.h. Looking at zephyr/lib/libc/minimal/include/fcntl.h , you'll see how minimal it should be indeed.

[2019-01-08 11:32] pabigot commented on #12332
Oh, "we" are very much **not** happy about 50 ms not being 50 ms.  That's a whole new issue, as is the rounding down the interval, and more generally the incredibly low resolution available to timers due to the implementation coupling them to the tick clock rather than the system clock.  Discovering those here is good progress, and in my head I'm already drafting an issue that can cover them.

Doe

[2019-01-08 11:32] pfalcon commented on #12368
fdtable.c doesn't depend on POSIX, that's the reason it lives in lib/, not lib/posix/ . It's used by other subsystems beyond pure "POSIX layer". E.g., it's used by BSD Sockets API. To summarize current API design in Zephyr, we have:

1. Native Zephyr API, adhoc and proprietary. Its design oftentimes leaves much to be desired, that's why we constantly refactor it (either breaking it, or going thru

[2019-01-08 11:36] #12154 closed

[2019-01-08 11:37] pfalcon commented on #12368
@mped-oticon, something weird has happened there. You seemed to have edited my comment, so now your words are in the comment signed by my name.

[2019-01-08 11:42] #12162 closed

[2019-01-08 11:46] Jiurifei commented on #12367
@ntavish Thank you for your friendly help. I have experimented the example you told and turned off the leds just now, the current was about 167uA. Then I tried Zephyr's low power strategy, enabled the macro--`Device power management`  `low power state`   `deep sleep state`, the current increased, up to 310uA.
Why this situation can occur? Could you tell me some details what you did?
BTW, the proje

[2019-01-08 11:50] carlescufi commented on #12342
I discussed this with @cvinayak. The issue we see is that we'd lose something valuable: running swap() only once for all nested interrupts. If we switch from using PendSV to actually invoking `swap()` explicitly at ISR exit, there will be multiple context switches executed that will override each other instead of doing a single one like we do now at the end of the execution of all nested ISRs and

[2019-01-08 11:53] pfalcon commented on #12368
So skipping paradigmatic discussions that in general, it's not possible to tear a part of one software project, tear a part from another, put together, and expect it to work (for example, Zephyr supports 2 libc: newlib (specific version its SDK ships with) and minimal), there's a range of ways to solve this particular issue.

From (the most lazy, thus will fire back later again):
[code]

To (the m

[2019-01-08 11:54] carlescufi commented on #12342
Sure, if @pizi-nordic is around it would be great to discuss this in the API meeting today. I don't think that @cvinayak will be able to join due to the timezone difference.

[2019-01-08 11:56] pabigot commented on #12342
@carlescufi what is the hard realtime requirement for the radio ISR: i.e., how long can you tolerate a radio ISR being delayed?  Again I assume that GPIOTE is used to trigger transmissions and maybe frequency hops (?).

[2019-01-08 12:00] ntavish commented on #12367
I am using nordic's power profiler kit. Did you get under 10uA current for any Nordic power examples?

Also could it be your equipment's current sensitivity in that low current range?

[2019-01-08 12:19] Jiurifei commented on #12367
@ntavish yeah, I have used my board to run bt_app_uart example of Nordic. I disabled uart0 and increased the interval of broadcast to 1s. The average power consumption is around 10uA and current in idle state is 3uA. So, I really want to know how you achieve it!

[2019-01-08 12:44] cvinayak commented on #12342
@pabigot on our nRF51 Cortex M0 at 16 MHz clock, between trx the CPU used is ~130 us of the hard limit of 138 us. By experience, any latencies introduced in vectoring to Radio ISR breaks the controller. Only latencies of upto ~10us is tolerated as of today.

[2019-01-08 12:52] pfalcon commented on #12203
Came here from https://github.com/zephyrproject-rtos/zephyr/pull/12343. Not knowing much about OpenThread. The description here seems very vague and generic. This report seems to be destined to folks who worked on OpenThread like yesterday. (I'm not sure everyone would remember its apparent addressing idiosyncrasies if they worked on it a week ago). I immediately get questions which were already s

[2019-01-08 12:57] mped-oticon commented on #12368
You are right, Sorry! I clicked wrong. How about I delete this wonky comment to avoid confusion? It appears your later comments do not refer to this.

[2019-01-08 12:57] pfalcon commented on #12203
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/net_if.c#L1994

Where's exactly the train wreck? The only obvious issue I see is that instead of clear logic like:

[code]

it obfuscates it into:

[code]

And of course, it lacks code comments describing what exactly it does.

But then it's "conspiracy", not a "train wreck" ;-)

P.S. Of course, there's a possibility that since

[2019-01-08 13:01] #12301 closed

[2019-01-08 13:01] #12305 closed

[2019-01-08 13:01] #12310 closed

[2019-01-08 13:01] #12311 closed

[2019-01-08 13:06] pfalcon commented on #12368
That's probably the worst solution ;-). The easiest one is just to leave it as is, as it quotes my previous reply, so no discussion is lost per se. "Fully right" solution would be restore my comment as it was, and post yours as a separate one, but not worth spending time on that imho, let's better discuss proposed ways to resolve the actual issue.

[2019-01-08 13:09] aurel32 commented on #12203
The problem happens because COAP (used by LwM2M) uses UDP as its transport protocol, and because OpenThread uses multiple IPv6 addresses. When the COAP server receives a request from a client inside an UDP packet  a request from a client, it answers with another UDP packet. The source address that is used in the answer to the client does not match the address the client used in the request. In tha

[2019-01-08 13:21] nordic-krch commented on #12367
fyi @pizi-nordic

[2019-01-08 13:31] pizi-nordic commented on #12367
There is ongoing work to fix that (https://github.com/zephyrproject-rtos/zephyr/pull/12259).

[2019-01-08 13:31] pfalcon commented on #12203
@aurel32: Thanks, I understood a generic problem from the discussion above. I don't see a specific information which backs a problem report. Like: "With OpenThread enabled I get (on a particular invocation, as (some?) addresses are randomly generated: 1) XXXX:YYYY::ZZZZ, type: X; 2) ... 3) ... 4) ... . When sending a reply to XXX1:YYY1::ZZZ1, the source address Q:P::M is selected, whereas I expect

[2019-01-08 13:48] pizi-nordic commented on #12332
What is pity, these issues are not so new...
Please look into: https://github.com/zephyrproject-rtos/zephyr/issues/9904#issuecomment-420264184

Unfortunately, blocking interrupts still makes timeouts shorter:
[code]

[2019-01-08 14:16] agross-linaro commented on #12342
Let's target the API meeting for discussing this as this is more related to that instead of mmu/mpu/tee.

[2019-01-08 14:17] galak commented on #12119
@andyross Can you comment on this.

[2019-01-08 14:18] agross-linaro commented on #12342
The cost on this would be at least 1 copy of stack frame information.  If we have multiple IRQs requesting a swap() then it'd be multiple copies.  So the cost would be variable depending on how many irq's request swap before the normal thread context is run.  It looks like the BT tolerance is pretty darn low and this concerns me.

[2019-01-08 14:32] DenvE commented on #10739
Hi,

still some issues on windows using cmake / ninja

using the hello_world example.
steps to execute

in root dir of zephyr execute zephyr-env.cmd and update the toolchain.
set ZEPHYR_TOOLCHAIN_VARIANT= ??
set GNUARMEMB_TOOLCHAIN_PATH= ??

cd sample\hello_world
mkdir build
cd build
cmake -GNinja -DBOARD=stm32f746g_disco  -DSTLINK_FW=jlink ..
ninja

until now all fine,.

ninja flash ==> fails

re

[2019-01-08 14:50] jhedberg commented on #12228
It's up to you as the application writer to decide what models your node will have. It can have both server and client models (which to some extent are a bit arbitrary since both send and receive messages with the only difference being in who initiates sending request-style messages that the receiver responds to). You could e.g. have a node with buttons mapping to the Generic On/Off Client model a

[2019-01-08 14:54] galak commented on #12088
No, this should be max170xx@36

[2019-01-08 14:58] galak commented on #12088
There are some enhancements that in progress to address this issue.  Going to close this as a duplicate and lets focus on the already existing issues for further discussion.

[2019-01-08 14:58] #12088 closed

[2019-01-08 15:03] erwango commented on #10739
@DenvE , this does not seems related to current issue. Please raise a dedicated issue.

[2019-01-08 15:04] galak commented on #12250
This is not a bug, you need to enhance how CONFIG_FLASH_SIZE gets set/defined for use with spi nor flash.

[2019-01-08 15:04] #12250 closed

[2019-01-08 15:34] PiotrZierhoffer opened #12375 "Allow multiple entries in EMU_PLATFORM"
Right now we are unable to provide multiple simulation frameworks in the board description.
It would be beneficial to allow multiple targets for each board, as mentioned in a PR where we propose Renode as one of the supported simulation frameworks for sanitycheck: https://github.com/zephyrproject-rtos/zephyr/pull/11503#issuecomment-439957641

For example, as Renode supports `riscv/hifive1` target,

[2019-01-08 15:55] jarz-nordic commented on #12319
Sorry I can't accesss it. I have following error:

[2019-01-08 16:00] pabigot commented on #12332
@andyross  `CONFIG_TICKLESS_KERNEL=n` does not affect the theoretical bug: all it does is ensure the system *attempts* to make sure ticks is always one when `z_clock_announce()` is invoked.  The problem still occurs if the timer ISR is blocked so that multiple ticks are passed when it finally can call `z_clock_announce()`, that being the condition that produces the behavior.

@pizi-nordic Instrume

[2019-01-08 16:20] carlescufi commented on #12319
I get the same. Here we go again with the Coverity issues. Let's bring it up with the TSC.

[2019-01-08 16:48] pizi-nordic commented on #12332
Thank you for your investigation @pabigot. We are closer to trace it down.

I have to disagree. Please look at the https://github.com/pizi-nordic/zephyr/commit/0f6f752e5235f7156031ec19ef370f40238e5d6e. The attached code detects the condition you mentioned: T1 adds T2 timeout, which become first on the timeout list and which is later adjusted. Here is the result:
[code]

[2019-01-08 16:59] pabigot commented on #12332
OK; my instrumentation didn't produce such a case, but I probably didn't wait until the 36th iteration.  All those `printk`s cause problems of their own in timing.

[2019-01-08 17:02] pizi-nordic commented on #12332
That is true. But we should observe late timer expiration in such case, not the premature one (especially that I am calling `printk()` under lock in `z_clock_announce()`).

[2019-01-08 17:36] pfalcon commented on #12203
@mike-scott:

Nope, just getting back to work and trying to go thru the backlog for reviews I'm set as a reviewer. And trying to understand PRs submitted and reasoning behind them, and if I can't, trying to explain why. As I said, I'm not OpenThread expert, I assume other folks can understand you from half a word. I can't, sorry about that.

[2019-01-08 18:10] galak commented on #12232
If we are going to remove this it should be done w/regards to LTS.

[2019-01-08 18:17] nashif commented on #11671
We now add more information about the license scan, any license warning need to be reviewed and processed by someone, making them PASS is just going to be misleading. Those who merge can always override the check. My concern is that if we make it PASS, nobody will look at the warnings of non APL licensed files we are pulling into the tree.

[2019-01-08 18:17] #11671 closed

[2019-01-08 18:17] nashif commented on #11670
We now add more information about the license scan, any license warning need to be reviewed and processed by someone, making them PASS is just going to be misleading. Those who merge can always override the check. My concern is that if we make it PASS, nobody will look at the warnings of non APL licensed files we are pulling into the tree.

The tool we are using claims the 'unlicense' license is n

[2019-01-08 18:23] carlescufi commented on #12369
@anangl @kl-cruz can you please take a look at this one?

[2019-01-08 18:30] carlescufi commented on #11722
@pizi-nordic I am closing this since the test itself has been fixed. Additional bugs have their own GitHub issues. Please let me know if you want me to reopen this.

[2019-01-08 18:30] #11722 closed

[2019-01-08 18:34] kl-cruz commented on #12369
sure, I'll take care on it!

[2019-01-08 18:34] andyross commented on #12342
The core takeaways from the meeting:

* In principle, @agross-linaro sees no objection to implementing a more conventional context switch on ARM Cortex-M.  He'll investigate as time is available.

* The existing workaround in place are tolerable, and no other known bugs exist.

* We should come up with measured performance numbers for how long a PendSV exception takes to execute, so we know what k

[2019-01-08 18:47] galak commented on #10149
@andyross @nashif is this resolved, can we close this?

[2019-01-08 18:59] andyross commented on #10149
Oh, yeah.  Long since merged, sorry.

[2019-01-08 18:59] #10149 closed

[2019-01-08 20:02] nashif commented on #11077
not fixed yet

[2019-01-08 20:36] vanwinkeljan commented on #10760
Problem is reproducible by adding following configs to hello_world sample prj.conf and building for reel_board:
[code]

[2019-01-08 22:01] turon commented on #12203
Let's try and stay positive and respectful, everyone.  I for one am super excited that OpenThread is running on zephyr.

When I start a Leader device, it creates a number of IP addresses:

[code]

Really, the interface should not expose RLOC addresses (fdde:ad00:beef:0:0:ff:fe00:*) to the higher layer -- that violates the Thread specification.  I'm not sure where fdde:ad00:beef:0:0:0:0:2 is coming

[2019-01-08 22:52] mike-scott commented on #12203
@turon I can ping nodes with link local addresses.  What do you see when you add a border router prefix?

On my end, I see an additional unicast address added to every node (using ML-EID suffix).

It's the presence of those 2 unicast IPs that Zephyr doesn't know how to deal with (it doesn't understand the mesh-local concept).

Under non-border router usecases communication is fine.

[2019-01-08 22:54] mike-scott commented on #12203
@turon I can post a patch which keeps the RLOC addresses from being added to Zephyr.  Are there any of the multicast addresses which should be removed as well?

[2019-01-08 23:40] pabigot commented on #11176
The debugger (flasher) is a standard daplink that works with pyocd.  It's the default board runner in the PR.

I have no idea how those documents were made visible.  They're from one of the original pull requests.

[2019-01-09 03:11] bublover opened #12385 "Support touch button"
**Is your feature request related to a problem? Please describe.**
We're working for UNISOC and doing upstream for new chip and board.
https://github.com/zephyrproject-rtos/zephyr/pull/10626
Now we have a new feature, touch button.
Capacitance Touch Button IP is used to deal with capacitance touch button operation. It is connected to the capacitance touch button on PCB board. When the button is tr

[2019-01-09 03:48] Jiurifei commented on #12367
@pizi-nordic I have browsed the PR you mentioned. In fact, what I am concerned is how to reduce the power consumption essentially rather than the logic of achieving power management, although it's important. So, when you finish the framework, could you please test the real current in different low power state to see whether it can hit the spot?

Moreover, as a guiding function, k_sleep() can't wor

[2019-01-09 04:42] bublover opened #12386 "Support USB Host on Zephyr"
**Is your feature request related to a problem? Please describe.**
We're working for UNISOC and doing upstream for new chip and board.
https://github.com/zephyrproject-rtos/zephyr/pull/10626
Now we need to support pen drive when Zephyr is working on USB host mode.
but there is USB device mode only on Zephyr.

**Describe the solution you'd like**
Please provide a framework of USB host, like driver,

[2019-01-09 08:31] Qbicz commented on #12362
Hi @Olivier-ProGlove, we recently had some interoperability testing and there was indeed a problem with Surface Pro. Updating the Bluetooth drivers on Surface Pro helped a lot, and instead of failing most of the time it failed very rarely. I can later post an update what version of Surface it was.

[2019-01-09 08:59] nvlsianpu commented on #12331
@fnde-ot Thank for elaboration.

Question of Sens of Adding module-specific storage handlers:
What is the reason behind this - especially when a few modules settings are stored in one storage system. At last for FCB it is required to treat module-unknown (form the module view) records carefully. Of course I can imagine that for File back-end we can migrate to use one file per each module.
Do you h

[2019-01-09 09:09] sbrichardson commented on #11176
Google indexed them, that’s how I landed on it, although it confused me when refreshing on the current site (where’d they go?), until I realized after reading the PRs :).

Do you think it’s because of its feather pin out/Arduino compatibility that it just works? Still haven’t tested, expect to later this week.

[2019-01-09 10:46] Olivier-ProGlove commented on #12362
Thanks a lot @Qbicz and @wiminordic for your valuable comments.

I found a way to force update on Windows 10 Surface Pro 4 tablet. Until now, I was relying on Microsoft update mechanism. I noticed I could update Surface Pro drivers manually using this page: https://www.microsoft.com/en-us/download/details.aspx?id=49498

The tablet now uses [OS Build 17763.195](https://docs.microsoft.com/en-us/wind

[2019-01-09 10:52] pfalcon commented on #12203
@turon :

fdde:ad00:beef:0:0:ff:fe00:1400
fdde:ad00:beef:0:0:0:0:2
fdde:ad00:beef:0:2233:a095:9b35:87cc
fe80:0:0:0:5ce7:953:a679:fec7

Thanks, that's more specific, but still misses some information. Each IP address in Zephyr has some properties assigned to it. Here's example output from "net iface" command of standard "echo_server" sample as ran via QEMU SLIP networking:

[code]

For example, 200

[2019-01-09 11:06] gamnes commented on #12239
Hi @tg--, I just tested servo-motor example from master branch on a bbc_microbit board, and I can successfully set for example:
if (pwm_pin_set_usec(pwm_dev, 3, PERIOD, 15000)) {
In main and measure roughly 15ms on P0 (P0.03 on the nRF51822).

The prescaler option for my setup is the default as set in master branch;
CONFIG_PWM_NRF5_SW_0_CLOCK_PRESCALER=3
This should give a clock of: 16M / (2^PRESC

[2019-01-09 11:13] pfalcon commented on #12203
Which interface and what higher layer is meant here? In terms of Zephyr network networking (which follows the spirit of POSIX/Unix), each network interface can have a number of addresses assigned. But as pointed above, each address has its own properties.

Can the following be concluded to be true:

?

In addition to that, is following true:

?

If both of these statement can be classified as true

[2019-01-09 11:18] pizi-nordic commented on #12332
@andyross: Could we agree that the issue visible on https://github.com/zephyrproject-rtos/zephyr/issues/12332#issuecomment-452369223 is a bug? If so, do you have an idea how to solve this?

[2019-01-09 12:09] aurel32 commented on #12203
Here is the info on a node without border router, so without global IP:

[code]

The RLOC IP is fd2f:57da:bdf0::ff:fe00:3c00 and is not stable. The ML-EID IP is fd2f:57da:bdf0:0:a72b:f9b7:1828:f861, this one is stable.

Here is a tcpdump of what happening whhen trying to execute a COAP get request from host fd2f:57da:bdf0:0:58f2:20d:da9:bd64:

[code]

As you can see the source IP is the RLOC one,

[2019-01-09 12:33] Laczen commented on #12331
@fnde-ot, @nvlsianpu Regarding replacing the strings-key by integer(s)-key I agree with @nvlsianpu. It seems the complexity of some kind of key encoding is needed anyhow. In the proposal it is just moved from the settings part to the backend part.
Anyhow the settings module already supports a integer(s)-key method: just register the name as "0000" and then you can store as "0000/0000" ... "0000/FF

[2019-01-09 12:53] pabigot commented on #12332
The base problem really is solved with my rework described in https://github.com/zephyrproject-rtos/zephyr/issues/12332#issuecomment-452351313.

The remaining T2 error visible there (T2 fires 186 32 KiHz increments early) is because the fractional part of the RTC counter's delta difference from the last recorded tick is discarded by `z_clock_elapsed()`  when it [converts to integral ticks](https:/

[2019-01-09 13:00] pabigot commented on #9904
As noted in https://github.com/zephyrproject-rtos/zephyr/issues/12332#issuecomment-452686201 and related discussion these bugs have not been fully addressed.

[2019-01-09 13:18] pizi-nordic commented on #12332
The comparison you mention cannot be satisfied because we allow timer to fire prematurely (due to rounding in that case). If the rounding will be correct, time timer will always fire much later than requested due to 10ms tick abstraction (requested time: 10ms, tick time: 9.97ms, nearest time > 10ms =  19.9ms), satisfying (timeout <= elapsed) requirement.

Putting whole discussion in perspective (F

[2019-01-09 13:30] pabigot commented on #12332
I think we should.  There are other reasons why the existing timer infrastructure doesn't meet my requirements, including that the API only supports 1 ms resolution.  For low-power devices I should be able to sleep for periods significantly less than 1 ms, and I have no platform-independent way to do that.

[2019-01-09 13:38] chulbumi opened #12391 "Http server post handling"
I am testing an HTTP server sample on QEMU.
I sent this post request.

curl -d '{"key1":"value1", "key2":"value2"}' -H "Content-Type: application/json" -X POST 192.0.2.1

this is output from QEMU.

[00:00:33.263,171] <inf> net_app: Connection from 192.0.2.2:53028 (0x00401310)
[00:00:33.266,584] <dbg> net_http.http_received: (0x00401bd8): [0x004004c0] Received 160 bytes http data
[00:00:33.269,808]

[2019-01-09 13:40] #12122 closed

[2019-01-09 13:51] Vudentz commented on #10751
@mandarcthorat1 is this still valid or can I close it?

[2019-01-09 13:58] MaureenHelm commented on #11531
Fixed by #12127

[2019-01-09 13:58] #11531 closed

[2019-01-09 14:02] galak commented on #12226
I'm not follow what the issue with gpio based CS is.  I know we've had an issue w/regards to supporting multiple devices on the SPI bus from a DTS code generation point of view.  However I'm pretty sure we support at least a single device with its CS controlled by a GPIO.

[2019-01-09 14:05] #12092 closed

[2019-01-09 14:12] pabigot commented on #12226
@galak The issue is Zephyr's device-tree YAML specifies that the chip select for a spi-device is identified with an ordinal provided in the `reg` property.  For SoCs/boards that allow arbitrary GPIOs to be used for SPI chip-select signals and that multiple GPIO devices it has to be specified with a gpios compound, preferably named `cs-gpios`.

In Zephyr, the only `cs-gpios` property is at the bus

[2019-01-09 14:15] wiminordic commented on #12362
I made a quick retest with latest fw-nrfconnect-zephyr.
Resetting the HID device while connected to Surface Pro does indeed lead to Surface being unable to connect to the zephyr HID device even with updated Windows 10 and drivers.

[2019-01-09 14:22] gamnes commented on #11368
PR submitted, https://github.com/zephyrproject-rtos/zephyr/pull/12390, #12390. If there are any objections to how that is solved, we can discuss it there.

[2019-01-09 14:34] fnde-ot commented on #12331
@nvlsianpu, @Laczen I actually have a case for module-specific storage handlers, where bluetooth keys have to be stored in a different way from the rest of the bluetooth settings. Having said that, as long as we can easily register a custom storage handler, it could also be global one that can would act differently for each module if needed (given its name, see below).

In this proposal modules st

[2019-01-09 14:36] summer20100514 opened #12395 "Some Bluetooth samples wont run using the latest branch on some boards"
**Describe the bug**
most of the samples of bluetooth won't run as expected compared with the older version

**To Reproduce**
mesh demos, mesh onoff, mesh onoff_level, peripheral and so on

**Expected behavior**
None

**Impact**
None

**Screenshots or console output**
None

**Environment (please complete the following information):**
 - OS: Windows
 - Commit SHA 3e06b7cfa690c94efec69ebb1690f664bac

[2019-01-09 14:39] galak commented on #12226
It seems like a few different issues here.  Lets first focus on how this should be described things in DTS first.  We are trying to stay in sync with the general DTS bindings used by Linux.  So the CS should be described in the SPI controller/bus node, not the device.

[2019-01-09 15:01] wiminordic commented on #12362
@carlescufi It is hard to say without detailed debugging. I have witnessed a lot of issues with Windows 10 platforms. Many of them were solved by updating drivers but not all of them (like this one). Windows 8 Surface 2 was getting BSOD on Bluetooth reconnection to Zephyr based HID device. So in general there is some instability there, but it could be caused by incorrect operation on Zephyr side.

[2019-01-09 15:09] pabigot commented on #12226
No, I'm not saying remove it from there: it probably has to be there, and probably needs to allow for multiple members, to support SOCs where SPI has a hard-coded set of GPIOs that can be pinmuxed into a  chip select role.  But it also has to be in the device.

[2019-01-09 15:10] galak commented on #12226
Why does it also need to be in the device?  Why can't the device access cs-gpios in the parent and index it by reg?

[2019-01-09 15:11] pabigot commented on #12226
There's one SPI device in the base, and a second in an overlay.  They have different GPIOs.  How do you specify the set in the bus node?

[2019-01-09 15:15] wiminordic commented on #12362
I made another retest with the zephyr from the fw-nrfconnect-zephyr v1.13.99-ncs2 release.
It seems to work better than latest fw-nrfconnect-zephyr. Issue was reproduced few times but at least several runs were successful (I was able to reconnect to Zephyr HID after it was reset).

[2019-01-09 15:34] nashif opened #12396 "Filter tests based on toolchain capabilities"
**Is your enhancement proposal related to a problem? Please describe.**
There is no way to filter test based on toolchain capabilities.

**Describe the solution you'd like**
Provide a way to filter testcases based on the toolchain being used. For example, if a toolchain does not support newlib, tests that require newlib should not be built or tests. Until now we have been doing this based on the p

[2019-01-09 15:37] nvlsianpu commented on #12331
global module ID shouldn't be so hard to be menage I think.

So in your proposition module ID are not a case while storing any bt_key.
But for what we already have in zephyr it is still a case.

[2019-01-09 15:42] jhn-nordic commented on #12362
Could it be the default 2 Mbit phy that causes issues? Just a wild guess, but that is a "new" feature

Få Outlook for Android<https://aka.ms/ghei36>

________________________________
From: wiminordic <notifications@github.com>
Sent: Wednesday, January 9, 2019 4:15:47 PM
To: zephyrproject-rtos/zephyr
Cc: Nistad, Jon Helge; Mention
Subject: Re: [zephyrproject-rtos/zephyr] BLE HID sample fails to rec

[2019-01-09 15:48] pabigot commented on #12226
Yes, you would.  Assuming that generates something that can be used in the driver (which is a whole other conversation).  But in the general case you can't put aside the overlay, especially for prototyping where it'll be in the application source rather than a shield.

Another way to handle these type of buses is to go ahead and use the ordinal, leave the bus `cs-gpios` unpopulated, and provide AP

[2019-01-09 16:32] galak commented on #10894
@anangl / @carlescufi any update?

[2019-01-09 16:51] Olivier-ProGlove commented on #12362
We have a BLE HID third-party commercial product that works well with the same Windows 10 Surface 4 Pro (using any version of the driver). The device can reconnect to Windows 10 Tablet without any issue.

So it could also be a (legacy?) feature not supported by Zephyr or an advanced feature supported by Zephyr but not well supported by the Windows 10 driver.

[2019-01-09 18:13] andyross commented on #12332
FWIW: per a not-as-contentious-as-it-might-have-been call with most of the stakeholders just now, there's an emerging consensus for a fix that might make everyone happy.  It works at the level of the k_timer_start() API (which is the higher level API, not the timeout internals).

The idea is the call takes two timeout values, a "duration" argument (IMHO poorly named) that indicates how long after

[2019-01-09 18:14] andyross commented on #12247
Closing this one.  I think at this point everyone seems to agree that the issue I describe way above and the one in #12232 are, in fact, exactly the same problem.  And in any case all current discussion is there and not here.

[2019-01-09 18:14] #12247 closed

[2019-01-09 18:18] galak commented on #12226
I'm not trying to ignore it, I'm trying to see where the real issue is.  Is it a limitation in tooling, in code, in dts itself.  I want us to focus effort on fixing the issue in the right place, and not working around a limitation of a tool.

I'm not hung up on it, its just we shouldn't invent something new.  Linux has cases I believe similar to nordic in which the CS management has nothing to do

[2019-01-09 18:38] andyross commented on #12332
Sorry, thought I had posted this but didn't.  To repeat what was said in the call:

That's really a bug in the timer drivers; I got too cute reusing the ISR implementations between tickless/non-tickless.  The ticks argument to the z_clock_announce() call should always be 1 if tickless is not enabled, because that matches the behavior of true non-tickless systems.

Really the only value to disablin

[2019-01-09 18:43] galak opened #12401 "Target Capabilities / Board Directory Layout Capabilities"
Starting this thread to discuss what features we want to support based on the layout of the boards directory.

Today we support/assume:
1. `<BOARD>` is expected to match a `<BOARD>_defconfig` in `boards/<ARCH>/<BOARD_DIR_NAME>`
2. Determining the ARCH of the board based on the directory path (its assumed that `boards/<ARCH>/<BOARD_DIR_NAME>` is the layout
3. `<ARCH>` is assumed as the direct paren

[2019-01-09 18:45] galak commented on #12401
* Want to support grouping of boards that are 'common' (typically same board vendor) that would share code between the board (might be DTS files, might be actual .c/.h files)

[2019-01-09 18:53] pabigot commented on #12332
Note that my solution does not change the API at all; it just clarifies how the existing arguments are interpreted (a documentation-only change).  The behavioral modification is done internal through coordination between k_timer and timeout.  If that's not what people expect, please let's wait until the PR is submitted and hash it out there.

I remain skeptical that it's that simple, but that can

[2019-01-09 19:04] pabigot commented on #12226
I tend to think it's a limitation in the way Zephyr's using device tree, i.e. through build-time processing producing values that get hard-coded into driver data structures.  It might go away with code generation.  It probably doesn't exist when the drivers can process the tree directly.

At this point I'm not persuaded by the proposal to add array manipulation operations to the device tree source

[2019-01-09 19:20] vanwinkeljan commented on #9924
not reproducible anymore, closing issue

[2019-01-09 19:20] #9924 closed

[2019-01-09 22:04] nashif opened #12405 "add test to catch issues fixed in PR #12384"
Add a test that would catch the issue fixed in #12384

[2019-01-09 22:11] galak commented on #12226
I'm not sure how any patches or code in Linux will be relevant.  The point is that the DTS in linux support systems where the CS are completely driven by general GPIO pins.  So we will utilize that DTS standard for how we describe CS in Zephyr.

[2019-01-09 23:02] dbkinder commented on #12265
PRs submitted (and merged now) to add missing .. doxygengroup directives in the API docs.

[2019-01-09 23:02] #12265 closed

[2019-01-09 23:12] vanwinkeljan commented on #10760
fix is merged

[2019-01-09 23:12] #10760 closed

[2019-01-10 00:04] GAnthony commented on #12170
@nordic-krch, any ideas on why this change might be causing a __usage_fault?

[2019-01-10 01:19] GAnthony commented on #11889
An interesting idea, but thinking about this some more, it gets a bit complex:
* Even if wifi_settings can block init_net_app() on a connection state/event, there may still be a race as the wifi driver sends the IPV4 event before init_net_app() can register its handler;
* Net stack currently doesn't distinguish between DHCP and DHCP offload, so some extra conditions may be  needed to qualify code

[2019-01-10 05:56] nordic-krch commented on #12170
@GAnthony that sounds strange. Do you have stack guards enabled to check if maybe stack for some thread is too small?

[2019-01-10 06:01] varun-sha commented on #9849
@nniranjhana : I have tested this sample with MB85RC16V and its working fine.
Also please mention which chip you used while testing....when it was failing...

[2019-01-10 08:04] cvinayak commented on #12395
@summer20100514 The changes merged to master is manually sanity tested with few samples, specially the samples/bluetooth/peripheral. I have tested the master commit (2 days old) 4e23d6c87594080f85760e92e50860f8ddbdbe5e and do not see any regression related to Bluetooth interoperability with phones. Please elaborate your observations because I cannot find the your mentioned SHA in the Zephyr reposi

[2019-01-10 08:07] fnde-ot commented on #12331
I agree that if we go with moving keys to integer, the modules should also have an integer ID instead of a name. It should be okay to just reserve a range for Zephyr's internal usage, just as we now reserve strings that cannot be used for custom application settings (fx. "bt", "bt/keys", …).

[2019-01-10 09:01] nvlsianpu commented on #12331
We are almost in the same line.

So assuming that string naming would be replaced by integer naming: Currently we can create quiet deep hierarchy (sub-tree) of key - it is expected that a functionality for operation on any level of sub-tree will be added. Example is deleting all key-value pairs for certain configuration part.
BLE is using up to 3rd level of sub-tree:
`main/sub-A/*`
`main/sub-B/*`

[2019-01-10 09:02] Laczen commented on #12331
@fnde-ot, I don't think it is a good idea to go with moving keys to integer as standard. This reduces flexibility. As it is the settings module can already be used with integers as I proposed above. This is just how you use the settings module.
@fnde-ot, I don't understand you use case with a module-specific storage handler. Could you elaborate it a bit more ? What exactly are you trying to do ? P

[2019-01-10 09:04] jhedberg commented on #12395
I just did a quick test with the samples/boards/reel_board/mesh_badge app from latest master, and it works fine: both the initial peripheral (GATT server) functionality as well as the mesh functionality that it switches to after writing a name to it over GATT. I did this for two reel boards and they were able to send mesh messages to each other just fine. I also can't find the commit that's refere

[2019-01-10 09:10] Laczen commented on #12331
@nvlsianpu, I have been working on the settings module that provides this functionality exactly. The save method is extended to allow a delete of all sub keys. It takes the key "/main/sub-B" and would delete all keys that start with "/main/sub-B" (it also takes "/main/s" and would then delete "/main/sub-A", "/main/sub-B", ...). This is done at the backend level. It already works but I am still per

[2019-01-10 09:51] chris-makaio opened #12408 "rtt: Cleanup buffers"
It seems there are a lot of config options specific to RTT's buffers.

Current situation:
"messages dropped: >99" is shown in terminal (among actual log messages).

What to do? These are all the options I can think of that affect the drop of messages, values I've set in ():
- SEGGER_RTT_BUFFER_SIZE_UP (2048)
- SEGGER_RTT_PRINTF_BUFFER_SIZE (128)
- LOG_PROCESS_THREAD_STACK_SIZE (1024)
- LOG_BUFFER_

[2019-01-10 09:55] carlescufi commented on #10894
@galak not from me, no. I hope that @anangl can update us.

[2019-01-10 10:05] carlescufi commented on #12401
@SebastianBoe right, so:

`boards/<arch>[/<family>]/<board name>`

[2019-01-10 10:47] pabigot opened #12409 "non-tickless kernels incorrectly advance system clock with delayed ticks"
In the discussion of #12332 it was determined that the timer updates around 2018-09 through 2018-10 resulted in an unintentional change of behavior for `CONFIG_TICKLESS_KERNEL=n`.

Prior to the rework the system clock advanced by one tick on each interrupt, regardless of whether the interrupt was serviced late.

Support for `CONFIG_TICKLESS_KERNEL=y` inadvertently changed this so that the system c

[2019-01-10 10:47] pabigot commented on #12409
The initial issue description summarizes my understanding of the issue, which may be incorrect.  I've opened the issue because the resolution to #12332 will involve a revision of the documentation for `k_timer` that must refer to the difference between tickless and non-tickless timer behavior.  The content of the documentation depends on whether this bug is fixed.

[2019-01-10 10:58] carlescufi commented on #12401
My take on this is that we should enforce the layout described below:

`boards/<arch>[/<family>][/<sub-family>].../<board name>`

So that we ensure that `ARCH` is always located after `boards/` and `BOARD_DIR_NAME` is the leaf of the hierarchy above.

[2019-01-10 11:08] Qbicz opened #12410 "Assert and printk not printed on RTT"
**Describe the bug**
Log messages are printed, but assert message is not printed out. As a result, it gives impression that device hanged, but does not give any clue why. You can see that it was an assertion, by opening debugger and stopping after the device hanged:
[code]

**To Reproduce**
 Happens for any assert in Zephyr subsystems.
Can be reproduced on hello_world with small modification:

[co

[2019-01-10 11:12] Qbicz commented on #12410
FYI @nordic-krch @pdunaj @wiminordic

[2019-01-10 11:21] pabigot commented on #12401
One thing I understood @nashif to want is standardized names for things other than boards.

I would like `dts` as a standard name to be used within (sub-)family directories to hold device-tree source include files shared among members of the (sub-)family.  This allows me to support #12195 with [this technique](https://github.com/zephyrproject-rtos/zephyr/pull/12377#issuecomment-452445577).

There

[2019-01-10 11:55] nordic-krch commented on #12410
@Qbicz i've reproduced the issue.

[2019-01-10 12:53] jukkar commented on #12391
Note that the sample HTTP server is extremely simple, you need to enhance it to process your POST request.

[2019-01-10 12:58] Qbicz commented on #12410
Thank you @nordic-krch. Let me know if you need any further info.

[2019-01-10 13:12] pizi-nordic commented on #12332
I think you chosen good direction making timer drivers common. If we implement the `z_clock_announce(1)` requirement on non-tickless system we will end in one of 2 situation:
- Either timer drivers will have to detect and handle missed ticks by calling `z_clock_announce(1)` multiple times, which will result in the same problems we observing now, but bit harder to solve as kernel will not have know

[2019-01-10 13:43] galak commented on #12401
Does <family> or <sub-family> have any particular definition, or you thinking its completely up to the user (which is my current thought)?

[2019-01-10 13:46] galak commented on #12401
I was thinking we'd leave the structure of where to find such files unspecified.  We would add `-isystem ${ZEPHYR_BASE}/boards/${ARCH}` to the search path for DTS.

[2019-01-10 13:58] alexsven opened #12417 "Unsupported SOC_NRF52832_CIAA / no error handling of unsupported SOCs"
When selecting CONFIG_SOC_NRF52832_CIAA=y in a custom boards defconfig there is only a warning saying that the value 'y' was set, but the final value was 'n' but everything else compiles fine. When looking at the autoconf.h I can see that SOC_NRF52810 is set as default, as this is the first option in the select (soc\arm\nordic_nrf\nrf52\Kconfig.soc:182). So unless you try to use peripherals that a

[2019-01-10 14:09] fnde-ot commented on #12331
Thank you both for the feedback!

@nvlsianpu, Eliminating hierarchy would significantly reduce complexity and memory/cycle usage, but it of course depends on the actual requirements. If we are fine with limited depth, it could also be coded as part of an integer module ID, and have each module handle its own reserved space for potential submodules, for example:
0x8000 - 0xFFFF: Zephyr modules
0x80

[2019-01-10 14:16] nordic-krch commented on #12410
So the problem is that assert ends up in forever loop in current context: https://github.com/zephyrproject-rtos/zephyr/blob/c716f9c5aa86203746e7efbdfd25656923ad6daf/include/misc/__assert.h#L90

I'm not sure what is the intention there because depending on the context it will block the system (high priority task or interrupt) or system will continue if it happens in low priority task.

@nashif I se

[2019-01-10 14:19] pabigot commented on #12226
I just tried this and found when I change from one `cs-gpios` compound to a second I get these diffs:
[code]
I.e. the name associated with the first instance changed.  I don't think that should happen, since the every drivers would have to support two ways to reference the first controller.

[2019-01-10 14:19] carlescufi commented on #12417
@alexsven do you mean `_QIAA`? `_CIAA` is not listed in our SoC list

[2019-01-10 15:40] ramakrishnapallala commented on #1766
Not working on Nios-II MAX10 at present.

[2019-01-10 15:40] ramakrishnapallala commented on #1843
Not working on Nios-II MAX10 at present.

[2019-01-10 15:40] ramakrishnapallala commented on #1933
Not working on Nios-II MAX10 at present.

[2019-01-10 15:41] ramakrishnapallala commented on #3776
Not working on Nios-II MAX10 at present.

[2019-01-10 15:41] ramakrishnapallala commented on #1511
Not working on Nios-II MAX10 at present.

[2019-01-10 15:43] DenvE opened #12419 "cannot flash with segger jlink in windows environment"
**Describe the bug**
When running zephyr on windows and using the cmake/ninja tools, you can not use segger jlink to flash your image.

problem 1: the script mentioned jlinkexe ( which is the exe file on linux/max, on windows it is jlink.exe)
problem 2: jlink.exe is also a java binary ( C:\Program Files\Java\jdk-11.0.1\bin\jlink.exe ), so be sure to add FILEPATH ( like it is done for openocd)

**T

[2019-01-10 15:56] carlescufi commented on #12419
Please add the JLink folder to your PATH. This is typically located in:
`C:\Program Files (x86)\SEGGER\JLink_V634e`
replacing the version of course.
The test if you can execute `jlink` from the command prompt and you get the JLink interface.

Also you will need this to be merged first: https://github.com/zephyrproject-rtos/zephyr/pull/12380

[2019-01-10 15:58] carlescufi commented on #10739
@RonAmihai or @erwango any chances of sending a patch for this?

[2019-01-10 16:00] carlescufi commented on #12401
Up to the user. I don't think we can mandate clear rules, it really is difficult and depends on the particular board family.

[2019-01-10 16:52] andyross commented on #12332
Honestly I don't care whether this really gets fixed or not.  The point is that the current state represents a regression from the way timekeeping was done prior to the rewrite, which honored single ticks as the sole reference for timekeeping.

With the current architecture, the only reason you'd ever choose to disable TICKLESS_KERNEL is for code size reasons.  And if that's the case, then you alm

[2019-01-10 17:41] carlescufi commented on #12401
Conclusion from the development meeting today: not solved yet, for now we keep the `boards/<arch>/<board name>` layout until the board structure is discussed in more detail.
Common device tree files need to be copied to each board folder.

[2019-01-10 19:30] Laczen commented on #12331
@fnde-ot, I think with this kind of scheme you will run into problems quickly. As an example lets look at the replay protection list of btmesh. This list contains the id as well as the last received message number from a node. To store this you could use as an id the entry in the rpl list. What are the id's you are going to reserve, one application might have a rpl list of only 4 elements, another

[2019-01-10 20:03] andrewboie commented on #12058
Yeah, it was something that was added to the tests I think for either the Nios II or Xtensa enabling as these arches tended to use a lot more stack space than what we had before, and we didn't want to just globally increase them as it would break small devices like quark D2000

It might be better to refactor this, and modify K_THRAD_STACK_DEFINE/k_thread_create to implicitly add TEST_EXTRA_STACK_S

[2019-01-10 21:08] andrewboie commented on #12232
I agree, let's remove it completely.

[2019-01-10 21:11] andyross commented on #12232
No complaints here.  An API pruning is absolutely a needed thing, we have a lot of oddball stuff floating around.

[2019-01-10 21:19] tautologyclub commented on #6770
To me it sounds like you need a ux friendly wrapper for submodules, not a whole new version control tool. The issues Carles states regarding submodules sounds pretty minor imo. I'd be stoked if someone managed to make an actual non crappy replacement for Google repo and submodules but man, I can't help but think yall are underestimating the scope of this endeavor.

[2019-01-10 22:33] pabigot commented on #12232
The reward for making a suggestion is the opportunity to fix the problem, eh?   Yeah, I made one a couple weeks ago; rebased and checked the updated docs look good.  #12425.

[2019-01-11 05:27] mkarhumaa opened #12429 "Bluetooth samples not working on qemu_x86"
**Describe the bug**
Bluetooth related samples are crashing (CPU page fault) on current zephyr master(076fd6a32a689254449656bfacc55393f9f9e87e) when running on qemu_x86. Git bisect points to this commit: https://github.com/zephyrproject-rtos/zephyr/commit/1c5642a40248c1e57db672576c6bf66f2b08353c#diff-1fa50d82973deb0ec73e0111d6eacd35. Bluetooth samples are working fine if CONFIG_USERSPACE=y is give

[2019-01-11 09:12] fnde-ot commented on #12331
@Laczen, The hierarchical thing would be for module ID only, and we are talking about less than 10 modules for current Zephyr. Each module such as "bt/mesh/RPL" would still have its own key space for its settings (a u32_t would allow for more than 4 million entries).

The main goal of this proposal is to move encoding of keys and values to the storage part to give more flexibility in storage choic

[2019-01-11 09:32] #12417 closed

[2019-01-11 09:33] #12419 closed

[2019-01-11 09:55] DenvE commented on #12419
it works but still having problems when jlink.exe ( the java linker ) is available in the environment.
could using FILEPATH  be a solution?

[2019-01-11 09:59] nvlsianpu commented on #12331
0x8000 - 0xFFFF: Zephyr modules
0x8000 - 0x80FF: Zephyr Bluetooth modules (equivalent to "bt/")
0x8080 - 0x808F: Zephyr Bluetooth Mesh modules (equivalent to "bt/mesh/")
...

^^ What is described her is exactly what I want to avoid. I was thinking that dedicated storage you want to us might impose limitation on hierarchy for stored settings.

[2019-01-11 10:42] DenvE commented on #12419
just discovered that FILEPATH is filled in when running host-tools.cmake
adding this

# jlink is an optional dependency
find_program(
  JLINK
  jlink
  )

gives CMakeCache.txt

//Path to a program.
JLINK:FILEPATH=C:/Program Files/Java/jdk-11.0.1/bin/jlink.exe

[2019-01-11 10:50] RamiroOliveira opened #12432 "Support multi instances of a USB class simultaneously"
**Is your enhancement proposal related to a problem? Please describe.**
At the moment in Zephyr it's only possible to assign one type of each USB class to a device

**Describe the solution you'd like**
A simple method to add more than one of each USB class to a device. For example, I wanted to create a USB device with two ttyACMs/ttyUSB. With the current implementation this is not possible.

**Des

[2019-01-11 11:10] masz-nordic commented on #12432
Relates to #12060

[2019-01-11 11:21] jhedberg commented on #12429
First suspect would be thread stack sizes. Could you check if any of them are being overrun?

[2019-01-11 11:51] summer20100514 commented on #12395
have you test mesh related app such as onoff_level_lighting_vnd_app ?

[2019-01-11 11:53] jhedberg commented on #12395
@summer20100514 samples/boards/reel_board/mesh_badge *is* a mesh related app. I didn't try the onoff related ones since a reel board was at hand but an nRF52 DK wasn't (at least immediately)

Could you also please clarify your commit SHA reference in the PR description? Where did you take that from, since there's no such commit in the upstream master branch?

[2019-01-11 12:14] summer20100514 commented on #12395
Sorry, I merged the master branch into my own. The SHA actually is c922ce6ce45173c2b1f2c8c48f57f275d9a046d8. Nonetheless, what I have added is just some debugging logs.

[2019-01-11 12:17] summer20100514 commented on #12395
I just wonder why there is always MPU FAULT messages. I have checked the stack size.
samples\boards\nrf52\mesh\onoff-app\

[2019-01-11 12:21] summer20100514 commented on #12395
@jhedberg current thread id above is adv_thread_data

[2019-01-11 12:23] jhedberg commented on #12395
@summer20100514 could you try increasing ADV_STACK_SIZE in subsys/bluetooth/host/mesh/adv.c? Set it to e.g. 1024. If the issue doesn't go away it might be some other thread that overflows writes into the adv thread's stack.

[2019-01-11 12:32] summer20100514 commented on #12395
@jhedberg hi, I have changed the ADV_STACK SIZE to 1024, but the MPU FAULT is the same.

[2019-01-11 12:41] mkarhumaa commented on #12429
I've tried following values (basically defaults ~doubled) to no avail.
[code]

[2019-01-11 12:56] fnde-ot commented on #12331
If we then maintain module names as strings ("bt", "bt_keys", "bt_mesh", "bt_mesh_rpl", ...) as initialy proposed, we can use the feature that @Laczen is working on to be able to remove settings from all modules with a name starting by a specific string (fx. "bt_mesh*" would remove all settings from modules with names starting with "bt_mesh"). It also does not produce significant overhead, as we o

[2019-01-11 13:49] #12235 closed

[2019-01-11 14:08] nashif commented on #12146
can't reproduce

[code]

[2019-01-11 14:08] #12146 closed

[2019-01-11 14:13] nashif commented on #11077
@dcpleung you introduced this issue in 5a47c60dbf4f24fa9ad2206502d5eab152587eac, can you please take a look.

[2019-01-11 14:17] nashif commented on #11752
duplicate of #11077

[2019-01-11 14:17] #11752 closed

[2019-01-11 15:05] anangl commented on #10894
@galak

I'm working on it. So far I found only one thing that is missing on the master side (in `drivers/bluetooth/hci/spi.c`). The CS line [is not asserted](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/bluetooth/hci/spi.c#L131) in the general case, there is only some specific steering of it for BlueNRG. But it's not that trivial to get this information from DTS since this line

[2019-01-11 15:06] nashif commented on #10028
You should be using multi-threading

[2019-01-11 15:06] #10028 closed

[2019-01-11 15:07] nashif commented on #9653
newlib not supported on esp32

[2019-01-11 15:07] #9653 closed

[2019-01-11 15:08] nashif commented on #8115
xip is not supported on this platform and the way we boot on that board.

[2019-01-11 15:08] #8115 closed

[2019-01-11 15:47] pdunaj opened #12440 "Device discovery of direct advertising devices is not working"
**Is your feature request related to a problem? Please describe.**
Device discovery for direct advertising devices is not working.

**Describe the solution you'd like**
I would like device that are direct advertising to be discoverable.

**Describe alternatives you've considered**
I really need direct advertising so there are no alternatives.

**Additional context**
Today I tried to use direct adv

[2019-01-11 16:04] pdunaj commented on #12440
Hi @cvinayak , do you know if this scanning should work? It seems that there is code missing there...

[2019-01-11 16:16] mike-scott commented on #12316
@nashif I have next week scheduled to finish LwM2M socket conversion.  Should we still fix this?

[2019-01-11 17:59] nashif commented on #5443
-1 from my on this enhancement request. if we go this path then we could as well stop saying that we are using kconfig. It is what it is, if you do not like XML, you do not go and change the semantics...

[2019-01-11 18:03] nashif commented on #11655
Please consider changing the title of this issue, the title does not look like an RFC, nor it does look like an enhancement. If this is a bug, it should be marked as such and prioritised to be fixed for the next release.

[2019-01-11 18:05] nashif commented on #12243
does not really qualify as an enhancement, it is a bug :)

[2019-01-11 18:45] GAnthony commented on #12170
@nordic-krch, thanks for the response.
Given the program runs OK from flash vs SRAM, seems it may not be a stack problem, but perhaps more a timing issue.
But before going too deep into the debug path, we're just curious if any thoughts how this could affecting timing, maybe introducing a race somewhere?

From the commit message:

Is there a CONFIG option for us to disable it?

[2019-01-11 18:45] vanti opened #12441 "include: net: Link error when inet_pton() is used and wifi offloading is enabled"
**Describe the bug**
When wifi offloading is enabled on the cc3220sf_launchxl, a call to inet_pton() would cause a link error similar to the following:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. add a call to inet_pton in main()
2. mkdir build; cd build
2. cmake .. -DBOARD=cc3220xl_launchxl
3. make
4. See error

**Expected behavior**
I expect the code to build.

**Impact**
This

[2019-01-11 23:05] #11077 closed

[2019-01-12 04:51] isundaylee opened #12449 "Existing LPN lookup in Mesh Friend Request handling"
**Describe the bug**

Bluetooth Mesh Specification (3.6.6.3.1) says that

This is currently handled here: https://github.com/zephyrproject-rtos/zephyr/blob/73956a398ed6cbd943a54bea7dc9c311ed0e2177/subsys/bluetooth/host/mesh/friend.c#L850-L863

However, when the `prev_addr` field is set on the Friend Request message, the current code looks up existing LPN entry using the `prev_addr` field as the ad

[2019-01-12 04:58] isundaylee commented on #12449
I feel like #11682 could potentially be related.

[2019-01-12 07:46] jhedberg commented on #12449
@isundaylee You're right that the logic doesn't make sense - it seems to be treating the prev_friend as if it was the address of an LPN. That said, there's a reason the field exists in the Friend Request. I'll need to double-check what we're supposed to do with it (in case this is the only place in the code that we're doing something with it)

[2019-01-12 07:54] jhedberg commented on #12449
From section 3.6.6.3.1 Friend establishment:

I believe this is what the implementation is currently missing. Your fix that you referred to looks correct, so please send a pull request for that, however as a follow-up we should look at implementing the above procedure as well.

[2019-01-12 14:17] pabigot commented on #11176
closed by #12195 ; thanks @nashif

[2019-01-12 14:17] #11176 closed

[2019-01-12 14:36] isundaylee commented on #12449
@jhedberg Thanks for the quick response! I'll send in a PR for that commit. It looks like the Clear Procedure is already implemented, and is handled by https://github.com/zephyrproject-rtos/zephyr/blob/73956a398ed6cbd943a54bea7dc9c311ed0e2177/subsys/bluetooth/host/mesh/friend.c#L890-L893

[2019-01-12 14:50] isundaylee commented on #12449
Submitted PR #12450.

[2019-01-12 20:08] jhedberg commented on #12449
Thanks @isundaylee . Your PR is now merged, and you're right that the clear procedure is indeed in place - I just missed it since it's further down the same function.

[2019-01-12 20:10] jhedberg commented on #12449
Closing as fixed by PR #12450

[2019-01-12 20:10] #12449 closed

[2019-01-12 23:47] nwsetec opened #12453 "nrf52 SPIM spi_transceive function occasionally doesn't return"
**Describe the bug**
Occasionally a call to spi_transceive() doesn't return.  When this happens the system has to be reset to function again.  Sometimes when this occurs the Bluetooth submodule (which is also used in this project) and the shell continues to operate and other times they have both stopped working.

What have you tried to diagnose or workaround this issue?
I've looked at the each thr

[2019-01-13 10:53] chrta opened #12454 "doc: Some board images are pretty big (> 1MB)"
When i viewed the board documentation for https://docs.zephyrproject.org/latest/boards/arm/mimxrt1020_evk/doc/mimxrt1020_evk.html today on a slow internet connection, i noticed that loading the board image took a view seconds.

When executing: `find boards -type f  -exec du -h {} + | sort -r -h | less` i noticed other large images:

[code]

Maybe it would make sense to shrink them since they are s

[2019-01-13 13:45] arn-soft opened #12455 "Fatal fault when openthread commissioner starts"
**Describe the bug**
Openthread commands works well. But we run **ot commissioner start** command on uart, it throws fatal fault.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build && cd build
2. cmake -GNinja -DBOARD=nrf52840_pca10056 -DOVERLAY_CONFIG=overlay-ot.conf ..
3. ninja

**Expected behavior**
It should start commissioner.

**Impact**
Device can't be commissioned.

**Screen

[2019-01-13 14:18] pabigot commented on #8360
The case I'd mentioned has been improved by #12383, producing:
[code]
However, the intent of this issue as I understand it is that even these warnings should not be produced on samples; the issue should remain open.

[2019-01-13 15:12] pabigot commented on #12215
It would be good to get a fix in place before topic-counter goes in.  Default-enabling bluetooth causes any attempt to use `COUNTER_TIMER0` or `COUNTER_RTC0` to be rejected by cmake with an unhelpful diagnostic.  It took a while to figure out the cause was `CONFIG_BT=y`.

[2019-01-13 23:54] carlescufi commented on #12453
@nwsetec Thanks for the detailed report. It would really help if you could try to narrow down where inside `spi_transcieve` the code is blocked. You can use your blue debug pin for that, or another one.

[2019-01-14 02:47] DeclanTraill commented on #12453
On further investigation, the call to spi_context_wait_for_completion() never returns.
Within this function it is the call to k_sem_take(&ctx->sync, K_FOREVER); that never returns.

If the sync semaphore give and take are replaced with a global volatile boolean flag, then there is no problem & the code runs (tested up to 2.5 hours so far with no problem).

e.g.

In spi_context_wait_for_completion(

[2019-01-14 02:54] DeclanTraill commented on #12453
... Oh, and at the start of transfer_next_chunk(), add spim_done = false;

BTW: I tried just changing both the lock and sync semaphore variables in struct spi_context to volatile (which generated about 20 compiler warnings as Zephyr Macros are not expecting the volatile keyword, so drop it). This seemed to make the timing of the SPI processing more reliable (we were getting occasional CRC errors b

[2019-01-14 06:35] summer20100514 commented on #12395
any updates?

[2019-01-14 06:47] nwsetec commented on #12453
@carlescufi if you hadn't already guessed Declan and I are working on the same issue :)

[2019-01-14 06:51] nwsetec commented on #12453
@carlescufi I checked also and added pin toggles either side of spi_context_wait_for_completion() in the transceive() function and I see the toggle before but not after.

[2019-01-14 07:10] jhedberg commented on #12395
@summer20100514 no, since I can't reproduce this

[2019-01-14 07:12] jhedberg commented on #12395
@summer20100514 is it really so that absolutely no Bluetooth samples work for you? Or is it only the Mesh-related samples? You asked me about those, but you've also mentioned "peripheral" in your description.

[2019-01-14 08:06] erwango commented on #12243
@nashif, well I2C1 is not configured on this board, and actually I2C driver has not been developed/validated on this STM32F1 series. Build issue happens because @mattzzw tries to enable it without adding the requested matching fixup definition.
Since I2C was not supported before, current work in enhancement rather than fix.

[2019-01-14 08:59] carlescufi commented on #9076
Already fixed

[2019-01-14 08:59] #9076 closed

[2019-01-14 09:47] SebastianBoe commented on #5443
We are not changing any documented behaviour from Kconfig. We are just making an implementation-defined change.

According to Kconfig

`FOO=n
`
disables an option.

There is nothing documented about what

`# CONFIG_FOO is not set
`
means. Therefore choosing to generate FOO=n, instead of

`# CONFIG_FOO is not set
`
does not diverge us from the language. Although it does diverge us from the accident

[2019-01-14 10:02] #12339 closed

[2019-01-14 10:04] summer20100514 commented on #12395
@jhedberg @cvinayak Sorry for the delay. I finally found out the reason for crashing is that I try to access one uninitialized pointer, and I feel very embarrassed.

[2019-01-14 10:05] Olivier-ProGlove commented on #12362
@carlescufi @wiminordic @jhn-nordic I have just tested `examples/ble_peripheral/ble_app_hids_keyboard/pca10056/s140/armgcc` from [Nordic SDK 15.2](https://developer.nordicsemi.com/nRF5_SDK/nRF5_SDK_v15.x.x/nRF5_SDK_15.2.0_9412b96.zip) on Nordic nRF52840 dev kit (PCA10056) and the reconnection works fine.

So the issue is likely to be Zephyr specific.

[2019-01-14 10:05] carlescufi commented on #12432
CC @masz-nordic @jfischer-phytec-iot @pawelzadrozniak

[2019-01-14 10:08] carlescufi commented on #12060
Duplicate of #12432

[2019-01-14 10:08] #12060 closed

[2019-01-14 10:09] carlescufi commented on #12432
@finikorg As part of this work it would be great to have an exmaple that combines 2 different classes each multiple instances, eg: 2x CDC ACM ports and 2x HID instances

[2019-01-14 10:17] jhedberg commented on #12429
I can't reproduce this with the shell (e.g. tests/bluetooth/shell). I can initialize Bluetooth with "bt init", enable advertising with "bt advertise on" and after that successfully connect to the board. Can you confirm the same? Based on this it looks like we might be dealing with some startup-related race-condition, since with the shell bt_enable() gets called considerably later (due to the user

[2019-01-14 10:23] summer20100514 opened #12462 "my nrf52 DK gets damaged partially after hundreds of erase and write?"
I choose one NRF52 DK(nrf52840_pca10056) for my daily development. After hundreds of erase and write cycles, the DK won't behaves like it should do. The other DKs runs well while this one not. But some basic example runs well. How can I figure out if this DK is damaged? If so, why is it damaged partially?

what I have tested is, zephyr ibeacon sample works well, while peripheral sample wont work a

[2019-01-14 10:35] summer20100514 commented on #12462
I also write a post on nordic devzone, but I am not sure whether if it is caused by hardware failure or by software damage.

[2019-01-14 10:42] jhedberg commented on #12429
Still investigating, but it looks like something may have uncovered a bug in the net_buf reference counting of the h4.c HCI driver. It looks to me like buf->data is coming back as NULL when it allocates a buffer for the Command Complete event of HCI_Reset, and buf->data is only set to NULL when the reference count of a buffer goes to zero. Note: hci_core.c recycles the "sent command" buffers to be

[2019-01-14 11:10] jhedberg commented on #12429
Update: looks more like data corruption than a ref-counting issue. I'm getting random values like 97 and 153 for buf->ref when allocating the buffer for the event in h4.c, when it ref count should be somewhere between 1 and 3. Let me know if you have any further info, or if you can confirm my findings. I might need to put this aside for the rest of the day and pick it up again tomorrow.

[2019-01-14 11:41] mkarhumaa commented on #12429
Yes, tests/bluetooth/shell seems to be working fine. For me it looks like it somehow sets CONFIG_USERSPACE to 'y'. I'm not sure where that comes as it is not set in prj.conf.

[2019-01-14 12:05] carlescufi commented on #12462
This might be a hardware issue, but I've copied a couple of people to see if they can provide additional information

[2019-01-14 12:09] carlescufi commented on #12362
@Olivier-ProGlove maybe it would be helpful if you could reproduce with `BT_DEBUG_SETTINGS` and `BT_DEBUG_SMP` so that we can see what key is being loaded. Based on that I think @jhedberg and @sjanc might be able to help debug the issue. If that doesn't help then @joerchan may be able to take a look once he's done with what he's doing now.

[2019-01-14 12:14] summer20100514 commented on #12462
@carlescufi Thank you. What still confused me is the chip shouldn't be damaged by just hundreds of erase cycles.

[2019-01-14 12:19] #3226 closed

[2019-01-14 12:20] #10751 closed

[2019-01-14 12:32] jhedberg commented on #12429
Right that might be the difference. The corruption got me back to double-checking the stack usage, and it doesn't look like a stack overflow, since after doubling every CONFIG_*_STACK_SIZE I could see in my <build>/zephyr/.config I'm still seeing the issue. For reference, these were the stack sizes that didn't help:
[code]

[2019-01-14 13:02] Olivier-ProGlove commented on #12362
Thanks @carlescufi
I have just done the logs as you asked. I am using the latest Zephyr:

[code]

I added the two configuration settings `BT_DEBUG_SETTINGS` and `BT_DEBUG_SMP`. I removed the passkey to make it faster to duplicate the issue:

[code]

Here are the logs for Android Samsung J5 (no problem on this Android Phone) and Microsoft Windows Surface Pro 4 (reconnection problem on this platform

[2019-01-14 13:17] mkarhumaa commented on #12429
I found following comment in tests/kernel/threads/no-multithreading/prj.conf:
[code]
This gives some hint why CONFIG_USERSPACE=y was set also in tests/bluetooth/mesh.

Adding
[code]
to tests/bluetooth/shell/prj.conf makes it to crash on "bt init" command.

[code]

[2019-01-14 15:10] baw-serafin commented on #12367
@Jiurifei We ran in similar troubles. Sometime LPS / LPS_1 current is way to high. In discussion with nordic engineers I have understood, that the soc can not enter the desired internal state if some clocks are running.

For example I2C used to block LPS so there where some changes (https://github.com/zephyrproject-rtos/zephyr/commit/d1b3efd98ba02a177568dff6b8ef2fa513fa2bb2), but I believe not all

[2019-01-14 15:36] #12243 closed

[2019-01-14 15:52] nickyameen commented on #6498
I am working an IO-Link application using the FRDM-K64F development board. This application requires the use of timers in microseconds.  There are multiple timers that need to be implemented in microseconds.

As of now `k_timer_start()` passes in a time duration and period in milliseconds.

[2019-01-14 16:01] carlescufi commented on #12362
@Olivier-ProGlove can you also enable `BT_DEBUG_KEYS` and re-run on both Android and the Windows 10 tablet? I have a feeling there must be a failed allocation or match somewhere.

[2019-01-14 16:13] nashif commented on #5443
Maybe the solution is just document it?

[2019-01-14 16:35] jhedberg commented on #12429
Time to switch to gdb, it seems. You can enable it by issuing the "gdbserver" command from the qemu prompt (switch to it using "Ctrl-a c"). After that you should be able to connect to it from gdb using "target remote :1234", and don't forget "file build-dir/zephyr/zephyr.elf".

[2019-01-14 16:39] jhedberg commented on #12395
@summer20100514 no worries, this kind of stuff happens to everyone :) So it's ok to close this issue now?

[2019-01-14 16:55] Olivier-ProGlove commented on #12362
@carlescufi Here are the log with `BT_DEBUG_KEYS`:
* [Android.log](https://github.com/zephyrproject-rtos/zephyr/files/2756145/Android.log)
* [Windows10Tablet.log](https://github.com/zephyrproject-rtos/zephyr/files/2756146/Windows10Tablet.log)

... Still nothing obvious.

Last week I tried to dump more `BT_DEBUG_*` logs but I could not highlight any obvious differences that could help me (... with

[2019-01-14 17:01] carlescufi commented on #12362
@Olivier-ProGlove what would be good is to print the LTK that is being stored in flash and then loaded and used with `LTK_REQUEST_REPLY`, maybe using `printk` to avoid log allocation failures. I hope that maybe @jhedberg can give you a pointer on where to add the `printk` statements, I am not that familiar with the settings code.
@jhedberg could you take a quick look at the 2 last logs [here](http

[2019-01-14 17:05] jhedberg commented on #12362
@carlescufi I don't see anything obvious in the logs. It'd be super helpful to get the HCI logs to see the exact content of the exchanged SMP PDUs. Is is possible Windows10 lacks the bonding flag, i.e. does no-bonding, but Soft Device ignores it and holds on to the LTK?

[2019-01-14 17:08] carlescufi commented on #12362
@jhedberg but Windows 10 is the central, so why would it initiate encryption if it didn't have keys?

[2019-01-14 17:59] andyross commented on #11721
This was working as of the most recent timer work.  This is still on nrf52840_pca100xx only?   Any bisection info for when it was last working in the validation tree?

[2019-01-14 19:17] jhedberg commented on #12429
With the shell I get this:
[code]

The thread would seem to be tx_thread_data in subsys/bluetooth/host/hci_core.c, however this is at least not a thread overflow since even if I quadruple the size I still get the fault. Resolving the above eip values gives the following code locations:

[code]

I'm not sure how far those can be trusted though, if the call stack is corrupted. It's interesting that

[2019-01-14 19:20] jhedberg commented on #12429
Based on my above observation it'd be good to get some thoughts from x86 user space experts, or more precisely those who know how x86 works when user space is disabled and what the essential differences may be. @nashif do you know who the best person would be? @andrewboie perhaps?

[2019-01-14 19:35] #9246 closed

[2019-01-14 19:44] mattzzw commented on #12243
It's also working on nucleo_f103rb with PR #12246.

[2019-01-14 20:08] mkarhumaa commented on #12429
@jhedberg Yes, indeed backtrace seems to be exactly same. Even line numbers match.

[2019-01-14 20:43] andrewboie commented on #12429
To me this looks like you have some memory corruption problems which are being hidden by memory being reorganized in a different way when userspace is turned on.

[2019-01-14 20:44] andrewboie commented on #12429
Is this within the bounds of your stack buffer?

[2019-01-14 20:51] lpereira commented on #12429
Is this behavior also observable in the posix port, when built with address sanitizer?

[2019-01-14 22:00] ceolin commented on #9552
@pabigot C11, C99, ... are code standards while MISRA is a code guideline. MISRA defines a set of rules to make the code safer and less bug prone. Though, MISRA is not orthogonal to C standards, the latest version is based on C99 but can be used with C90. I know that these are relatively old compared with C1,1unfortunatelly.

In other words, MISRA-C considers that C language (defined in its standa

[2019-01-14 22:04] nwsetec commented on #12453
For clarity I've removed the junk initialisation code (raw register access) that the nrf SPI driver would have overridden.

[2019-01-14 22:08] DeclanTraill commented on #12453
My test using a volatile global flag instead of a semaphore has been running without problems for 20.5 hours, so it is a workaround for the time being, but not a proper solution as when I do a sleep(1) after checking the done flag, the check won't be performed again for ~6 msec. This could delay the post processing of the SPI data where a semaphore would cause the context switch to occur when the

[2019-01-14 22:47] pabigot commented on #9552
As an IEEE certified software development professional, I sincerely hope nobody involved believes that merely patching Zephyr to conform to MISRA-C:2012 will produce a system that can realistically be used in a safety-critical application.  Nor that the effort is measurably improving Zephyr's real-world reliability, no matter how it may contribute to box-checking.  (#12384 was found quickly; what

[2019-01-14 23:08] andrewboie commented on #9552
At no point has anyone said we're going to ensure MISRA-C compliance and just call it a day...

[2019-01-15 01:22] nwsetec commented on #12453
Which reminds me that our system clock tick is currently set as CONFIG_SYS_CLOCK_TICKS_PER_SEC=333 which explains the 6ms delay mentioned in Delcan's comment above (x2 3ms periods).
I changed CONFIG_SYS_CLOCK_TICKS_PER_SEC back to 50 (20ms period) and the issue still happened at the same spot.

[2019-01-15 03:15] nashif opened #12478 "tests/drivers/ipm/peripheral.mailbox failing sporadically on qemu_x86_64 (timeout)"
see https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/31042/6/tests, the test times out with

[code]

[2019-01-15 03:30] vonhust opened #12479 "arc: the pollution of lp_start,lpend and lp_count will break down the system"
**Describe the bug**
in the `_rirq_return_from_coop` of arc's regular_irq.s,  a fake irq stack frame will be created.
But the value of lp_start, lp_end, lp_count are not set correctly. When 'rtie' is execute, the zero
-overhead loop will be enabled,   if the pc cross the value of lp_end, and lp_count is not zero,
the pc will jump to lp_start. This will break the system.

This bug impact all the ar

[2019-01-15 06:11] jhedberg commented on #12429
I think I'm on the track for solving this. It does look like a stack overflow in the TX thread stack after all. For some reason the stack size gets clamped to 256 no matter what I put into prj.conf, i.e. my attempts to increase it were not taking effect. Changing the default from 256 in subsys/bluetooth/host/Kconfig to 1024 made the issue go away. @mkarhumaa can you confirm the same? You may need

[2019-01-15 06:13] jhedberg commented on #12429
@mkarhumaa and you can verify the final resulting value for `CONFIG_BT_HCI_TX_STACK_SIZE` by looking at build-dir/zephyr/.config

[2019-01-15 06:18] jhedberg commented on #12429
Should have paid closer attention to cmake output:
[code]

[2019-01-15 06:41] jhedberg commented on #12362
@carlescufi my speculation/theory is that it does have the keys. It's just that it didn't set the bonding flag, which causes Zephyr to discard the keys.

[2019-01-15 06:44] jhedberg commented on #12362
@Olivier-ProGlove could you re-run this against the Windows 10 tablet with the following patch applied:
[code]

That should then help prove/disprove my bonding flag theory.

[2019-01-15 08:31] #12429 closed

[2019-01-15 08:35] SebastianBoe commented on #5443
No, because that does not resolve this issue.

People don't read documentation. But people do
rely on standards when reading code.

I don't understand the push-back here. We write / maintain
a handful of lines of code, and users no longer have to
be confused by:

# this is a comment.
# CONFIG_FOO is not set
# But the above line is not a comment. It is equivalent to
# the below line.
CONFIG_FOO=n

[2019-01-15 08:39] #12441 closed

[2019-01-15 08:58] summer20100514 commented on #12395
@jhedberg yes, be kind to do so.

[2019-01-15 09:34] ioannisg commented on #12199
Pull-request for renaming CLOCK_CONTROL_NRF5: #12482

[2019-01-15 09:35] gofortime opened #12483 "[Bluetooth Mesh] Is the BLE Mesh stack certificated with SIG Profile Tuning Suite tool?"
Hi experts,

I am wondering if the BLE Mesh stack was ever certificated/tested with the PTS (Profile Tuning Suite) tool from SIG (more details about PTS can be found in https://www.bluetooth.com/develop-with-bluetooth/qualification-listing)? I tried the find the test report from Zephyr website but fail. If PTS certificated, can anyone tell me where I can find the report and which sample I can buil

[2019-01-15 09:40] carlescufi commented on #12332
@andyross @pabigot @pizi-nordic

The proposal to solve the now months-old debate about the kernel vs real time that was discussed has been described here:

The idea is the call takes two timeout values, a "duration" argument (IMHO poorly named) that indicates how long after the current time the first callback should arrive, and a "period" argument that indicates how long should pass between subseq

[2019-01-15 10:43] #12395 closed

[2019-01-15 10:46] jhedberg commented on #12483
The stack gets run periodically (about once a week) against the PTS. There does not exist a qualification listing for it yet however. The sample application that's used for this automated testing is tests/bluetooth/tester and it is used together with the AutoPTS framework: https://github.com/intel/auto-pts

[2019-01-15 10:48] pizi-nordic commented on #12332
I think that the proposed solution will fix `k_timer`. However the same problem could affect scheduling (causing premature thread wake-up) and we will have to fix that too.

[2019-01-15 10:49] jhedberg commented on #12483
The set of profiles that are supported (you'll see Mesh is included): https://github.com/intel/auto-pts/tree/master/ptsprojects/zephyr

[2019-01-15 12:11] jukkar commented on #12455
@rlubos have you seen this issue before?

[2019-01-15 12:15] rlubos commented on #12455
@jukkar Nope, I haven't seent this before. I'll investigate once I'm done with current task.

[2019-01-15 12:33] ravindranaththiyagarajan commented on #12369
With this flag WDT_OPT_PAUSE_HALTED_BY_DBG, I am able to the stop the program control in the interrupt handler with out CPU getting reset before.

[2019-01-15 12:33] #12369 closed

[2019-01-15 13:00] Olivier-ProGlove commented on #12362
No changes between Android and Window 10 Surface. I also printed the value of `req->auth_req` and they use the same value: `Bonding auth_req:0x2d`

Full logs:
[Android.log](https://github.com/zephyrproject-rtos/zephyr/files/2759716/Android.log)
[Windows10Tablet.log](https://github.com/zephyrproject-rtos/zephyr/files/2759717/Windows10Tablet.log)

I continue to work on my HCI dump. I will post it la

[2019-01-15 13:08] jhedberg commented on #12362
Ok, so we can disregard my no-bonding theory then. Next step would be the HCI logs. Anyone know the link to the documentation page the explains how to enable this? On a high-level you need to disable the stdout console and CONFIG_BT_DEBUG_LOG, enable CONFIG_BT_DEBUG_MONITOR, and then on the Linux PC side you need to use "btmon --tty <Zephyr console tty>" to capture the logs when enabled.

[2019-01-15 13:35] tautologyclub opened #12487 "Power management and RTTLogger"
I have played around with `_sys_soc_supend` and related hooks today, mainly from the nRF52 power mgr example. We verified that it works on a PCB connected to a power consumption tool - we could see the numbers changing when we toggled the GPIOs etc.

But it's completely freaking out when I run it at home (with only the JLink/RTTLogger/GDB available for debugging). Breakpointing `_sys_soc_suspend`,

[2019-01-15 13:41] DrPresident opened #12488 "RedBear Nano v2 Mesh Instruction Fault"
I am attempting to get Bluetooth Mesh working on the RedBear BLE Nano v2, however I get instruction faults when running any of the sample applications that build. I have successful builds of non-bluetooth applications, and I have attempted on a few different boards of the same model. I am building on Debian stretch with ninja, and deploying by copy-pasting the .bin or the .hex file into the mounte

[2019-01-15 13:44] pfalcon commented on #9552
This can be summarized concisely as: MISRA-C contradicts well established industry standard like ANSI C and POSIX.

[2019-01-15 13:53] pfalcon commented on #9552
But people in authority of this said:

1. MISRA C "rules" aren't going to applied blindly. Pertinent/useful ones will be selected.
2. MISRA C is only for kernel code. Heck, this ticket is titled "MISRA-C 2012 Compliance in kernel (kernel/*) and base OS code". (It maybe not clear what "base OS code" means. I assume it's difference between e.g. "mov eax, ebx" and e.g. "mov r0, r1", as required to ge

[2019-01-15 13:55] carlescufi commented on #12488
Adding @jhedberg and @nvlsianpu since this seems like a combination of mesh with the settings subsystem

[2019-01-15 13:57] rlubos commented on #11891
Hello @GAnthony

Is there any work in progress regarding adding support to `fcntl()` offload? We've recently faced the same issue at Nordic with our offloaded sockets, that we need a way to set a socket into non-blocking mode. If noone is working on this and we agree to extend `socket_offload_ops` for starters I think I could look into this, it sounds like a pretty straightforward extension.

I ag

[2019-01-15 13:57] jukkar commented on #12391
The sample server is just a sample, it would need changes to handle POST request. There are no such plans atm, it is up to the user to create such a server that fits user needs.

[2019-01-15 13:57] #12391 closed

[2019-01-15 13:58] pizi-nordic commented on #12332
@pabigot: I fully support removal of tick abstraction and sticking to (optionally prescaled) hardware cycles. The same was suggested months ago. However I am not sure if we should implement another subsystem aside from existing timeout management (I assume you would like to have a clean start :)).

[2019-01-15 14:12] tautologyclub commented on #12487
Note: Looks like it can be controlled by setting `CONFIG_LOG_PROCESS_THREAD_SLEEP_MS` to something larger than default. Works ok.

[2019-01-15 14:38] pfalcon commented on #11891
IMHO, with such approach we just do extra legwork and accumulate technical debt (which we have a lot already).

[2019-01-15 14:47] sigvartmh opened #12490 "Produced ELF does not follow the linux ELF spec"
**Describe the bug**
Tried to ask this on slack but got no answer. I've a question about the output of the linker-script and elf for ARM. Why does it not follow the Linux ELF spec/convention for the section headers when it comes to text, bss etc. but does so for `.comment`?

[SPEC](http://refspecs.linuxbase.org/elf/elf.pdf ) As the output of the section headers in the ELF produced does not follow

[2019-01-15 15:36] pfalcon opened #12494 "Logging with CONFIG_LOG_IMMEDIATE=y from ISR leads to assert"
This was initially reported in meta-issue https://github.com/zephyrproject-rtos/zephyr/issues/11655#issuecomment-450122071 , using a WIP PR https://github.com/zephyrproject-rtos/zephyr/pull/11680 . It's a hope that https://github.com/zephyrproject-rtos/zephyr/pull/12406 would address this. But as it's still in flux, and #11680 seemed to be blocked by this issue, I proceeded to investigate to make

[2019-01-15 16:15] galak commented on #10894
Converted BME280 in PR #12496

[2019-01-15 16:46] carlescufi commented on #12494
@pfalcon I think it's best to get #12406 merged and then all those issues should go away automatically

[2019-01-15 16:55] carlescufi commented on #12487
@tautologyclub 2 things to note here: if you have a debugger connected using RTT then the Segger IC will scan the memory continuously to see if there is output to be read, so I am not sure how that impacts power consumption (if it does). Second, you seem to have found a solution that works for you? If that's the case please close the issue with a comment, thanks!

[2019-01-15 17:15] GAnthony commented on #11891
@rlubos, not yet.
It's on the list, but we're currently working other priorities.
Getting that done would definitely help!
We would basically be resolving that fcntl() call into an offloaded setsockopt() call.

[2019-01-15 17:18] ceolin commented on #9552
These well established standards contains a lot of undefined or unspecified behaviours, MISRA rules are there to avoid them - among other things. Also, as I've mentioned, MISRA-C is not a replacement to ANSI C standards, the latest one is based on C99 and expect that your code is C99 complaint.

[2019-01-15 17:23] pfalcon commented on #11891
Note that one idea I have is to make ioctl(FIONBIO) to be primary means to set non-blocking mode, and route fcntl() via it. More background: https://stackoverflow.com/questions/1150635/unix-nonblocking-i-o-o-nonblock-vs-fionbio

[2019-01-15 17:24] ceolin commented on #9552
You're right about that, the code guideline is just a small portion of the requirements. But definitely all of them require that the software follows a well defined code-guideline (which currently don't have) and on top of that they have other requirements for software implementation. MISRA-C overlaps some most of them and also is code guideline that can easily be checked with a static analysis to

[2019-01-15 17:31] Olivier-ProGlove commented on #12362
@jhedberg I had a look to BT_DEBUG_MONITOR and got it working. Usual logs:

[Android-btmon.log](https://github.com/zephyrproject-rtos/zephyr/files/2760749/Android-btmon.log)
[Windows10Tablet-btmon.log](https://github.com/zephyrproject-rtos/zephyr/files/2760750/Windows10Tablet-btmon.log)

[2019-01-15 17:40] ceolin commented on #9552
And they are not. We have plenty of tickets describing tasks and open to discussion. On top of that some things that require change in the logic I'm firing emails asking for comments

this does not hurt, things more disruptive are definitely being addressed cautiously

The justification to this be applied is good enough IMHO. This is a good practice independently of MISRA-C.

Regarding the changes

[2019-01-15 17:43] jhedberg commented on #12362
The latest logs do confirm the MIC failure:
[code]

However, I don't see anything wrong with this - the LTK value is the same that was successfully used for the first connection:
[code]

[2019-01-15 17:49] carlescufi commented on #11565
@dcpleung We just reviewed this in the API meeting and we don't deem it acceptable to have such ambiguity in the API. Users have no clue whether the param will be interpreted as mask or pin number. Other SoCs already deal with upwards of 6 GPIO devices, could we revert this and use 10 devices as suggested?

[2019-01-15 17:59] tautologyclub commented on #12487
I think it feels a bit bothersome that the logging API is more or less incompatible with the power management API, but I guess if no one uses logging for production code then it doesn't matter much. Closing.

[2019-01-15 17:59] #12487 closed

[2019-01-15 18:21] galak commented on #12144
Can you provide a script that generates this output so we can update this PR from time to time with the latest results.

[2019-01-15 18:22] galak commented on #12352
Are you running this on qemu or real HW?

[2019-01-15 18:22] Olivier-ProGlove commented on #12362
We have another device that does dual boot Android and Windows 10 ([CHUWI Hi10 Pro](https://www.amazon.com/CHUWI-Hi10-Pro-Featuring-Processor/dp/B01M0308HO)) that has a similar issue (ie: Works fine for Android but MIC Failure on reconnection with Windows 10).

Here are the logs for this platform:
[Chuwi-Android.log](https://github.com/zephyrproject-rtos/zephyr/files/2760904/Chuwi-Android.log)
[Ch

[2019-01-15 18:32] galak commented on #11767
Can you move this comments onto the PR #12475

[2019-01-15 19:35] tautologyclub opened #12501 "nRF52: UARTE lacks pm interface"
I noticed that `drivers/serial/uart_nrfx_uarte.c` doesn't initialize the power management callbacks, but it does for regular UART. However, when inspecting `drivers/serial/uart_nrfx_uart.c` more closely, you actually catch a bunch of hardcoded references to uart0, which leads me to believe that it's impossible to suspend uart1 under the current API.

Am I missing something here?

[2019-01-15 19:59] pabigot commented on #10186
Perhaps I'm missing something, but I'm surprised this even appears to work.  It's entirely reasonable to disable future callbacks from within the callback's handler; I depend on this in some situations where I have to detect rising and falling transitions on a signal that uses a level trigger (applies to most sensors where an bus transaction is required to read an observation and clear the interru

[2019-01-15 20:07] galak commented on #11859
This is most likely because we set BOARD in `samples/subsys/ipc/openamp/CMakeLists.txt`

We have:

`set(BOARD lpcxpresso54114_m4)`

[2019-01-15 20:07] pabigot commented on #11779
Should be resolved by #12468.

[2019-01-15 20:07] #11779 closed

[2019-01-15 21:01] andyross commented on #12065
This looks roughly as expected to me.  ARM's MPU requires power-of-two sized regions, and the application data in this app looks to me like it wants a little over 176k of space.  That needs to be rounded up to a 256k area, and then sit adjacent to a region containing the rest of the kernel, and also to other regions containing stacks (I'm not the expert on how these are laid out).   Needless to sa

[2019-01-15 21:38] andyross commented on #12478
OK, confirmed.  I got 3 failures out of 10 tries running this test under load on my CI (-ish) docker instance.  Interestingly not one failure in 40 running the same binaries built with the same SDK under the host qemu.

So... plausibly timing related.  Could be as simple as a stack overflow that depends on when the interrupt lands, if I'm lucky.

[2019-01-15 22:40] galak commented on #12065
Not sure about the userspace stuff as I can't get it to build if I set:

CONFIG_TEST_USERSPACE=n
CONFIG_APPLICATION_MEMORY=n

However, the test has a lot of memory / ram buffers:

[code]

So that's 144K right off the top of SRAM.

- k

[2019-01-15 22:48] #11133 closed

[2019-01-15 22:48] andrewboie commented on #12065
stuff is getting rounded up to the nearest power of 2 size due to the way the MPU works.
just set CONFIG_TEST_USERSPACE=n in the prj.conf for this test, you should be good

[2019-01-16 02:10] nashif commented on #9960
can't reproduce

[2019-01-16 02:10] #9960 closed

[2019-01-16 02:43] Jeepgoing opened #12504 "STM32: add USB_OTG_HS example"
I am now use stm32f407igt* board with usb hs mode, anybody can give me some advise about how to config? thanks a lot.

I have add some codes to my board, but it is not working.

on dts:

&usbotg_hs {
    status = "ok";
};

on pinmux.c

#ifdef CONFIG_USB_DC_STM32
{STM32_PIN_PA3, STM32F4_PINMUX_FUNC_PA3_OTG_HS_ULPI_D0},
{STM32_PIN_PB0, STM32F4_PINMUX_FUNC_PB0_OTG_HS_ULPI_D1},
{STM32_PIN_PB1, STM32F4

[2019-01-16 05:49] jhedberg commented on #10517
From the last email on the mailing list thread:

LMP RESPONSE TIMEOUT / LL RESPONSE TIMEOUT (0x22) or CONNECTION TIMEOUT (0x08) always.

Those disconnection reasons are usually not something that the host can do anything about (except perhaps changing the connection parameters).

@dhananjaygj are you still seeing this with the latest master branch?

Adding @cvinayak since this could be something c

[2019-01-16 06:17] dhananjaygj commented on #10517
@jhedberg last I checked with zephyr 1.13 and I still sae those errors. While debugging more we saw that this issue seems to be more specific to the BLE chipset used in that laptop. I saw this error in both windows 10 and Ubuntu os installed in that laptop. When too much data is sent within a connection interval, the Intel 3165 controller (used in Lenovo e480 laptop) seems to be NACKing forever af

[2019-01-16 08:40] pizi-nordic opened #12509 "Fix rounding in _ms_to_ticks()"
At the moment the _ms_to_ticks() rounds down, which results in premature expiration of timeouts scheduled just before edge of tick. To fix that we have to revert https://github.com/zephyrproject-rtos/zephyr/pull/9745 in order to restore rounding up.

[2019-01-16 09:16] #12462 closed

[2019-01-16 09:17] #10796 closed

[2019-01-16 09:30] SebastianBoe commented on #12490
I don't know. Is there anything in the git history that can help us here?

[2019-01-16 09:37] gofortime commented on #12483
@jhedberg Thanks a lot for the information. Let me do an investigation.

[2019-01-16 09:37] #12483 closed

[2019-01-16 09:46] erwango commented on #11767
@galak, PR #12475 has been merged. Should I create a specific PR?

[2019-01-16 09:59] Olivier-ProGlove commented on #12362
@jhedberg more logs. As I mentioned in my initial issue message when using the USB ASUS BT-400 controller on the Windows Surface Pro 4 (the Windows10 Tablet that fails the reconnection test) I can successfully connect.

Here are the btmon log for the USB ASUS BT-400 controller on the Windows Surface Pro 4:
[Windows10Tablet-ASUS-btmon.log](https://github.com/zephyrproject-rtos/zephyr/files/2763557/

[2019-01-16 10:13] Olivier-ProGlove commented on #12362
Something else `> HCI Event: Encryption Change (0x08)` is not received on the reconnection on the broken Windows 10 Bluetooth controllers (Windows Surface Pro and Chuwi controllers).

Could it be Zephyr do not update the encryption algorithms on the reconnection?

[2019-01-16 10:34] spoorthik commented on #12123
I am not able to reproduce the issue on the latest commit:

Commit: 81ec05548dbafb602d2d400ef86ffcf2e1732c31
[code]

[2019-01-16 10:43] sigvartmh commented on #12490
Can't find any decent git history for it. As far back as I got https://github.com/zephyrproject-rtos/zephyr/commit/8ddf82cf70dc6f951ab477f325dee0efde3ec589#diff-f48aac91257b5dee83fa3cb9400edcbe
it seems to have been there from the First commit.

[2019-01-16 10:56] SebastianBoe commented on #12490
Then I think it is reasonable to assume the comment is invalid.

[2019-01-16 10:58] sigvartmh commented on #12490
Then the only thing I'm concerned about is that the sanitycheck will not be correct https://github.com/zephyrproject-rtos/zephyr/blob/81ec05548dbafb602d2d400ef86ffcf2e1732c31/scripts/sanitycheck#L666

[2019-01-16 10:58] aescolar commented on #5941
This is really a new feature/enhancement request, not a bug. Also not too high priority.
My understanding:
This subsys/console, how it is built now, it works only with a UART as backend, and only with those that support `CONFIG_UART_INTERRUPT_DRIVEN`
The UART driver for native_posix was just the minimum to get the new shell subsystem working (so no UART_INTERRUPT_DRIVEN support).
One possible solu

[2019-01-16 11:12] pabigot commented on #12509
That's one place where things get rounded down.  The same truncation happens in `z_clock_elapsed` in multiple architectures where fractional ticks are discarded.  Overall the need to traffic in durations that are downsampled from the hardware clock resolution in multiple places makes proper management of sleeps and alarms quite difficult.

[2019-01-16 11:16] SebastianBoe commented on #12490
Right. All in-tree references to the old section names must be ported to the new section names.

[2019-01-16 11:32] jukkar commented on #11617
Works for me, perhaps this was already fixed or there was some issue during testing. Anyway, attached is a capture of an UDP packet with broadcast destination address and it was handled by zephyr just fine.

[ipv4-udp-bcast-dst-example.pcapng.gz](https://github.com/zephyrproject-rtos/zephyr/files/2763936/ipv4-udp-bcast-dst-example.pcapng.gz)

[2019-01-16 11:43] jukkar commented on #11618
Works for me, perhaps a glitch during the test?

[2019-01-16 11:46] ioannisg commented on #12199
FYI @osaether

[2019-01-16 12:43] jukkar commented on #11562
Accepting unsolicited ARP replies can be a security risk thus we do not update ARP cache if we receive them. There is a separate Kconfig option (by default it is 'n') for accepting gratuitous ARP replies but these pcap files did not contain gratuitous arp messages.

[2019-01-16 12:43] #11562 closed

[2019-01-16 12:45] jukkar commented on #12179
Same issue as with #11562 we do not support unsolicited ARP replies because of possible security issues.

[2019-01-16 12:45] #12179 closed

[2019-01-16 12:50] jukkar commented on #11579
Not sure what is suppose to happen here. For example in UDP pcap file we receive a query and reply to it. As we do not support unsolicited ARP replies, then perhaps the expected outcome by the tool is to mark the test failed.

[2019-01-16 12:50] #11579 closed

[2019-01-16 12:51] jukkar commented on #12186
We do not support unsolicited ARP replies and IMHO that is a good thing from security point of view.

[2019-01-16 12:51] #12186 closed

[2019-01-16 15:51] SebastianBoe commented on #8614
Closing due to the reporter not responding to the assignee.

@tejlmand : Feel free to re-open after addressing the comment from August.

[2019-01-16 15:51] #8614 closed

[2019-01-16 15:57] galak commented on #12401
I'm expanding this to include "target" capabilities as well.

@agross-linaro and I had a discussion around what was needed for secure/non-secure (TEE) and figured this all played together.

The idea we had was around defining what specifies a TARGET.  What we have today is:

TARGET:
   BOARD (required)
   SHIELD (optional) [should support multiple]
   CORE (optional, but for cases of AMP, so M0/M4

[2019-01-16 16:43] galak commented on #12129
Is the intent that applications would do:

`#include <zephyr/foo.h>`

[2019-01-16 16:43] nashif commented on #12129
TSC: moved to dev-review to be reviewed in dev meeting

[2019-01-16 16:55] nashif commented on #12068
TSC: defer after 1.14 and allow for basic prototyping once counter is merged.

[2019-01-16 21:43] larsgk commented on #4150
Regarding WebUSB, I think it would be awesome if moved to subsys/usb with a few adjustments:

- [ ] Functionality to change manufacturer and product string
- [ ] Functionality to change serial runtime, e.g. to assign unique IDs from hardware
- [ ] The possibility to merge with other interfaces (e.g. CDC & WebUSB)
- [ ] License fix -> Apache2 (check with Intel?)

Also, it would be a good idea to in

[2019-01-16 22:10] mnkp commented on #2288
This issue proposes to unify GPIO and pinmux APIs into one. At the time it was opened the proposal made sense. However, in a meantime Zephyr made switch to the devicetree and aims to have its implementation compatible with Linux. Since Linux DT is using independent pinctrl and GPIO drivers we need to follow this design. Unified GPIO and pinmux driver can't be implemented.

[2019-01-16 22:10] #2288 closed

[2019-01-16 22:43] larsgk opened #12527 "Create a WebUSB subsys driver"
WebUSB enabled devices are able to communicate directly with web applications with browsers implementing the spec.  Currently, there is a sample app (slightly outdated and static features) under /samples/subsys/usb/webusb

It would make sense to create a real subsys WebUSB 'driver' that can easily be included in projects that need WebUSB support.  Often these will also have the need for other clas

[2019-01-16 22:44] larsgk commented on #4150
created this for WebUSB: #12527

[2019-01-16 22:44] larsgk commented on #12527
/cc @carlescufi

[2019-01-17 01:26] zzzh opened #12528 "a bug in code"
len = net_buf_simple_pull_u8(buf);
 in static void bt_mesh_scan_cb(const bt_addr_le_t *addr, s8_t rssi, u8_t adv_type, struct net_buf_simple *buf)
looks like a bug, because len had beed pulled by
net_buf_pull(buf, sizeof(*info));
in static void le_adv_report(struct net_buf *buf)

[2019-01-17 01:41] zzzh commented on #12528
Sorry, I realize it can be another length

[2019-01-17 01:41] #12528 closed

[2019-01-17 02:34] #12232 closed

[2019-01-17 02:43] #11558 closed

[2019-01-17 03:04] DeclanTraill commented on #12453
Further to earlier tests, I have determined that the k_sem_give(&ctx->sync); in spi_conext complete() DOES get executed prior to the failure, but the k_sem_take(&ctx->sync, K_FOREVER); never receives it.

Here is the console output form a test resulting in failure:

0 1 2 3 6 1 2 3 1 2 3 1 4 5 7
0 1 2 3 6 1 2 3 1 2 3 1 4 5 7
0 1 2 3 6 1 2 3 1 2 3 1 4 5 7
0 1 2 3 6 1 2 3 1 2 3 1 4 5 7
0 1 2 3 6 1 2

[2019-01-17 03:10] DeclanTraill commented on #12453
Sorry for the formatting of the pasted code (above) - The insert code function doesn't seem to preserve the code format.

[2019-01-17 08:00] tautologyclub commented on #12501
So, if this is actually the case (which it seems like), in my mind it should be assigned very high priority because UART_1 is virtually unusable for nRF52 in its current state. I'd be happy to assist with the fix, but would like Nordic to comment first.

[2019-01-17 08:04] Laczen commented on #12488
@DrPresident, I think there is an error in the dts for the Redbear Nano v2: the storage area is defined as reg = <0x0007D000 0x00004000>, this is a to large area, the length should be smaller than 0x00003000.
There is also an option CONFIG_MPU_ALLOW_FLASH_WRITE=y that seems to be needed sometimes to allow flash writes.

[2019-01-17 08:16] rgundi opened #12530 "DTS: Changes done to support QSPI memory mapped flash breaks intel_s1000 build"
The commit e57a596a0c7d2b40bd1baa46f72a04066bdbdaa4 breaks the build for intel_s1000. You can try building tests/boards/intel_s1000_crb and below is what you see.

Traceback (most recent call last):
  File "/home/rgundi/RajZephyr/zephyr/scripts/dts/extract_dts_includes.py", line 773, in <module>
    main()
  File "/home/rgundi/RajZephyr/zephyr/scripts/dts/extract_dts_includes.py", line 754, in mai

[2019-01-17 08:35] Laczen commented on #12488
@DrPresident, I would copy the flash configuration from nrf52_pca10040:
scratch: reg = <0x00070000 0xa000>
storage: reg = <0x0007a000 0x6000>
I am not sure, but I think the storage area for settings in fcb is divided into spaces (default 8) and these have to be a multiple of the flash page size, with a size of 0x3000 this would not be true. Increase the size to 0x6000 and each section becomes a mu

[2019-01-17 09:14] nwsetec commented on #12453
In the image below:
- The green line is toggled just before `k_sem_give(&ctx->sync);` in the `spi_context_complete` function.
- The purple line is toggled on each successful call to `nrfx_spim_xfer` in the `transfer_next_chunk` function (toggles 1, 2 and 3) and in the `spi_context_release` before the `k_sem_give(&ctx->lock);` (toggle 4).

In the first transfer it successfully makes it to k_sem_giv

[2019-01-17 10:42] rmstoi commented on #11618
That is weird, cause when I test these packets are still dropped:

[code]

[2019-01-17 10:48] tbursztyka commented on #11618
Here it's the IPv4 chksum which is invalid, not the ICMPv4 one.

[2019-01-17 12:15] Qbicz opened #12535 "Bluetooth: suspend private address (RPA) rotating"
**Is your feature request related to a problem? Please describe.**
When Bluetooth privacy is enabled, address is changed every `BT_RPA_TIMEOUT` seconds.
However, for Microsoft Swift Pair feature it is needed to pause changing the address:

https://docs.microsoft.com/en-us/windows-hardware/design/component-guidelines/bluetooth-swift-pair

**Describe the solution you'd like**
There could be API to s

[2019-01-17 12:45] #12479 closed

[2019-01-17 13:04] superna9999 commented on #3500
Sorry to arrive quite late, but ESP8266EX is still distributed as the last revision of the ESP8266, and isn't masked deprecated or EOL anywhere.
Dealing with all the revisions of the ESP-XX will be painful, but we should certainly support these.

[2019-01-17 13:38] anangl commented on #12453
I think so. Thanks for providing so detailed reports.
Apologies for not being able to take a look at it earlier. I had to finish some other stuff. Now I can switch to this one and investigate a bit.

[2019-01-17 13:39] pabigot opened #12537 "potential over-use of k_spinlock"
The `k_spinlock` API is intended to be used to preserve mutex by blocking interruptions.  In a uniprocessor context it's functionally equivalent to `irq_lock()`.  In a symmetric multiprocessor system its behavior is slightly different involving a secondary clear-and-set lock primitive that's specific to the spinlock instance.

`k_spinlock` was added concurrently with support for Tensilica (xtensa)

[2019-01-17 13:41] pabigot commented on #12537
@carlescufi @pizi-nordic FYI regarding the timer infrastructure potentially exceeding the nRF51 bluetooth hard deadline limits.  Not sure if that had been measured before.

[2019-01-17 14:33] carlescufi commented on #12537
@pabigot thanks. No, we had not measured this in a while, last time we did we only had `irq_lock()`. This is obviously an issue, but it's difficult to solve if we want the kernel to be SMP-friendly in the future, so I think the clean solution is to have a dedicated documentation section called something like "Measuring interrupt latency" that describes the required steps to be performed to measure

[2019-01-17 14:35] carlescufi commented on #12501
@tautologyclub I think either @jarz-nordic or @pizi-nordic can comment on this

[2019-01-17 14:41] pabigot commented on #12537
Using `irq_lock()` makes no difference; they're equivalent in this case (confirmed by testing after switching the lock).  My point was that there was no benefit to switching to spinlock in this module, and doing so we make it harder to locate performance bottlenecks.

[2019-01-17 14:44] pabigot opened #12541 "nrf timer handling exceeds bluetooth hard realtime deadline"
As implemented and noted in #12537 the current implementation of `z_clock_set_timeout()` in `nrf_rtc_timer.c` can take as long as 11.7 us with interrupts block, exceeding the [hard deadline](https://github.com/zephyrproject-rtos/zephyr/issues/12342#issuecomment-452285493) for Bluetooth on the nRF51 platform.

[2019-01-17 14:45] pabigot commented on #12537
I've opened #12541 to track the Nordic-specific concern, as I don't want the more general issue I've raised to get lost in the noise.

[2019-01-17 14:51] nashif commented on #8789
outdates, no response

[2019-01-17 14:51] #8789 closed

[2019-01-17 15:30] nashif commented on #12058
We did address many of the tests in a recent change, but more audit needed

[2019-01-17 15:31] nashif commented on #12268
Now we delete and sync, so old files are removed. I think this was the issue.

[2019-01-17 15:31] #12268 closed

[2019-01-17 15:32] nashif commented on #11670
@kestewart Any idea why "unlicense" is showing as non-permissive in scanacode-toolkit?

[2019-01-17 15:47] pabigot commented on #2920
@carlescufi @pizi-nordic I agree with https://github.com/zephyrproject-rtos/zephyr/issues/2920#issuecomment-443376104 and suggest this be closed.  OK?

[2019-01-17 15:48] pabigot opened #12542 "nrf timers unstable with ticks faster than 100 Hz"
I have a test application that uses `k_timer` to wake every 10 seconds and display information about elapsed time differences between `k_uptime_get()` and `k_cycle_get()`.  It operates correctly with the default 100 ticks per second.

Increasing to 1000 ticks per second the system appears to work, but instrumentation shows that the timer ISR is actually firing every 5.855 ms.  Other values greater

[2019-01-17 15:49] pizi-nordic commented on #2920
OK

[2019-01-17 16:04] sigvartmh opened #12543 "doc: Wrong file path for code relocation sample"
**Describe the bug**
Wrong Path in documentation for code relocation sample [https://docs.zephyrproject.org/latest/tools/code-relocation.html?highlight=code_relocation#sample](https://docs.zephyrproject.org/latest/tools/code-relocation.html?highlight=code_relocation#sample)

should be `$ZEPHYR_BASE/samples/application_development/code_relocation`

[2019-01-17 16:06] avisconti opened #12544 "commit 2fb616e broke I2C on Nucleo F401RE + IKS01A2 shield"
I2C is not working on IKS01A2 shield when the 2fb616e commit is there.
If I revert it then starts to work again.

To reproduce it you need to use theIKS01A2 shield on top of a Nucleo board.
The test to be used is currently not merged (#12398)

[2019-01-17 16:11] avisconti commented on #12544
@erwango @galak
I do not have time to debug it.
Better if the author of the commit can take a look at it.
(@cybertale )

[2019-01-17 16:12] galak commented on #11612
@pabigot will put up a PR for proposed API for dealing with this issue.

[2019-01-17 16:15] galak commented on #12129
@yashi are you able to make these changes?

[2019-01-17 16:35] erwango commented on #12544
@avisconti , what was nucleo reference?

[2019-01-17 16:38] avisconti commented on #12544
Nucleo F401RE

[2019-01-17 16:41] carlescufi commented on #2920
@pabigot agreed, closing.

[2019-01-17 16:41] #2920 closed

[2019-01-17 16:42] erwango commented on #12544
`samples/shields/x_nucleo_iks01a1` is working on this same nucleo_f401re.
Do you test on this shield?

[2019-01-17 16:43] avisconti commented on #12544
No, IKS01A2
Look at #12398

[2019-01-17 16:43] avisconti commented on #12544
Ah, it's a request.
OK

[2019-01-17 16:44] carlescufi commented on #12541
CC @cvinayak

[2019-01-17 16:57] galak commented on #12401
@nashif and @MaureenHelm gave example of CORE on a SHIELD (example is KW41Z "shield")

Also, example of Quark SE C1000 Dev board:

https://docs.zephyrproject.org/latest/boards/x86/quark_se_c1000_devboard/doc/board.html

[2019-01-17 17:02] nashif commented on #12401
illustration:

![image](https://user-images.githubusercontent.com/180017/51335291-b866e380-1a4f-11e9-8374-1010382a96cc.png)

[2019-01-17 17:16] erwango commented on #12544
So, I had some tests and I finally have same status before and after incriminated SHA1.
I'll try to see if I can get hands on x_nucleo_iks01a2 shield, but in the mean time, it would be good you could have other tests on your side as well.

[2019-01-17 17:57] andrewboie commented on #7179
I fixed printing 64-bit hex values. I left base-10 values alone but I can look at it.

[2019-01-17 17:59] tautologyclub commented on #12150
Check the board defconfig for uarts and make sure it's disabled if you are not using uart. Make sure you don't have logging thread enabled. If using uart, enable device power management options and suspend uart0 before lps1 entry. If using uart1, then... Wait for a patch.

[2019-01-17 18:01] #12065 closed

[2019-01-17 18:55] dcpleung commented on #12530
It seems to be caused around line 81, where the `node_address` is being reassigned to the parent node. The `self._flash_node` still points to the actual flash node. However, when calling `default.extract()`, the `node_address` being passed points to the parent node, and `reduced[node_address]` no longer points to the same node as `self._flash_node`.

[2019-01-17 19:17] aurel32 opened #12548 "ISR sometimes run with the MPU disabled: breaks __nocache"
**Describe the bug**

On ARM platforms with and `CONFIG_CPU_HAS_ARM_MPU=y` and `CONFIG_MPU_STACK_GUARD=y`, the ISR might sometimes (but rarely) run with the MPU disabled.

This happens because the MPU is briefly disabled and then re-enabled in `configure_mpu_stack_guard`, which is called during context switch: https://github.com/zephyrproject-rtos/zephyr/blob/962f900c0b73878545e47c6635fe27bf4d8102

[2019-01-17 19:20] aurel32 commented on #12548
@andrewboie @andyross @ioannisg @angansari You might be interested by this issue.

[2019-01-17 19:22] andyross commented on #12537
I'm not quite understanding the point here.  Spinlocks on uniprocessor systems resolve into an inline _arch_irq_lock().  It's exactly the same mechanism.  On SMP, they're required for proper semantics (and irq_lock() has a fallback implementation that preserves existing semantics but is quite a bit more complicated).  The expectation over time is that all code in the core kernel will be using this

[2019-01-17 19:39] andyross commented on #12537
OK, reading through the comments, it's all just a misconception.

Everywhere you see a k_spinlock_un/lock() call, the generated code is 100% equivalent to irq_un/lock().

[2019-01-17 19:46] andrewboie commented on #12548
We agreed to get rid of the disable/enable calls.

[2019-01-17 19:51] tautologyclub commented on #12501
Looking at the HAL, it sort of looks like this would be very easy by using

```__STATIC_INLINE void nrf_uarte_disable(NRF_UARTE_Type * p_reg)```

and getting p_reg from

```get_uarte_instance(dev)```

from `drivers/serial//home/benjamin/repos/zephyr/drivers/serial/uart_nrfx_uarte.c`

Is this the general idea?

[2019-01-17 19:51] pabigot commented on #12537
@andyross This is not a bug (I've learned that lesson), nor is it necessarily something that should be assigned to you (if that's going to cause problems).  The nrf timer maintenance taking too long is a different issue should be addressed separately, probably by Nordic folks.

I opened this issue specifically for the points I made in the initial comment: that there is a difference of behavior for

[2019-01-17 19:54] andrewboie commented on #12490
What's the specific issue that needs to be fixed here?
I don't believe there's any requirement that Zephyr follow Linux section naming conventions

[2019-01-17 19:56] andrewboie commented on #12252
I agree with @andyross this seems like a garbage-in-garbage-out situation.

[2019-01-17 20:38] sathishkuttan commented on #12530
@galak Yes the SPI controller in Sue Creek SoC supports what is called XIP (eXecute In Place) mode where the serial flash can be accessed as any read-only memory mapped to the processor's address space

[2019-01-17 21:30] sathishkuttan commented on #12530
Although hardware supports XIP, the SPI & flash drivers do not enable it. Hence the feature is not in S1000 port.

[2019-01-17 21:32] galak commented on #12530
when you say the drivers don't enable it, are you saying its a pure software limitation?

[2019-01-17 21:46] nashif opened #12553 "List of tests that keep failing sporadically"
Few tests keep failing sporadically, here a list to make sure all are addressed

Issues/PRs that may assist with this task:
- [ ] CI testing must be retry-free (avoids missing new failures) (#16469)
- [ ] Configure QEMU to run independent of the host clock (reduce false positives) (#14173)
- [ ] testsuite: support reboot to retry intermittent tests (simplify reproducing failures) (PR, #18997)
- [

[2019-01-17 21:51] andrewboie commented on #10058
I was able to reproduce this in 8fc5fd5 but not in current master, I think some recent fixes @andyross made to mem pools fixes this as well. Closing.

[2019-01-17 21:51] #10058 closed

[2019-01-17 21:53] nashif commented on #12553
ests/kernel/threads/thread_apis/kernel.threads on qemu_x86

[code]

[2019-01-17 21:53] sathishkuttan commented on #12530
Yes. The driver implementation from @rgundi does not yet contain XIP support. At somepoint, he or someone may add code to use this mode.

[2019-01-17 21:55] andrewboie commented on #4082
Not a problem any more.

[2019-01-17 21:55] #4082 closed

[2019-01-17 22:06] andrewboie commented on #12252
Closing this; not seeing the advantage to adding this check when the parameters are clearly incorrect and K_FOREVER is used

[2019-01-17 22:06] #12252 closed

[2019-01-17 22:13] nwsetec commented on #12453
@anangl cheers greatly appreciated!

[2019-01-17 22:31] aurel32 commented on #11255
@jukkar I have seen you got this issue assigned. I have understood that more than one issue was ending up in blocking the TX path, and especially one introduced by me working with the patches from PR#11888, I finally have a set of patches almost ready. I just need to write proper commit messages, that are quite important for this kind of changes. I'll submit that in the next days.

[2019-01-17 22:47] sigvartmh commented on #12490
It's not really an issue, it's just nice to have something to base the section naming on. It's also would help on-boarding linux developers I guess?

That being said the real minor issue is probably `_TEXT_SECTION_NAME_2` which is a bit of a weird section name.

However I think it does no harm? and if you think it's not worth changing I'm not reallt opposed to it either. It is however a bit easier

[2019-01-17 23:20] andrewboie commented on #12490
_TEXT_SECTION_NAME_2 is definitely a bug, I'll look into it

[2019-01-18 01:37] DeclanTraill commented on #12453
Some more Testing and information (plus test code) on Two cases of failure involving the ctx->sync semaphore:

----
Failed Test 1:

z0 1 2 3 6 .adef1 2 3 1 2 3 1 4 5 (4) 0
z7 8
zzzzzzzzzzz0 1 2 3 6 .adef(4) 01 2 3
zef(4) 0
1 2 3 (4) 0
zef1 4 5 ef(4) 0
z7 8
zzzzzzzzzzzzzzzz0 1 2 3 6 .adef(4) 0
1 2 3 ef1 2 3 1 4 5 (4) 0
z7 8
z0 1 2 3 6 .adef1 2 3 1 2 3 1 4 5 (4) 0
z7 8
zz0 1 2 3 6 .adef1 2 3 1 2 3 1

[2019-01-18 02:46] nashif opened #12559 "tests/kernel/mem_pool/mem_pool_threadsafe/kernel.memory_pool fails sporadically"
**Describe the bug**
test fails sporadically on both qemu_x86 and mps2_an385

**To Reproduce**
sanitycheck -T tests/kernel/mem_pool/mem_pool_threadsafe

[code]

on mps2_an385 (qemu):
[code]

[2019-01-18 02:57] yashi commented on #12129
Sure.  I can work on it.

Does it mean we have a go? I'm not sure what the conclusion is in dev-review.

In the simple way, we can just do `$ mv include/* include/zephyr/` and fix errors we have.
But it's gonna be a huge patch, so I'm thinking about moving a few files in a commit.  Let me know if you have better way to do this kind of work.

@pabigot seems to want this change before 1.14.  Are we

[2019-01-18 03:56] agross-linaro opened #12560 "Using TCP w/ wired NIC results in mismanagement of buffers due to ACK accounting error"
This bug manifested itself originally as MQTT connection errors when I was trying to connect to a broker.  Sometimes the connection would work, sometimes it would fail.  I turned on network debugging and starting seeing buffer low messages.  After trying to debug this and being stymied by not knowing what really is going out on the wire, I bought a managed switch and set up port mirroring.  That i

[2019-01-18 06:05] ramakrishnapallala commented on #11134
closed as prt of https://github.com/zephyrproject-rtos/zephyr/pull/11863

[2019-01-18 06:05] #11134 closed

[2019-01-18 06:06] ramakrishnapallala commented on #3390
OS based PM PR's are merged already. Closing this issue.

[2019-01-18 06:06] #3390 closed

[2019-01-18 06:10] pizi-nordic commented on #12542
FYI: @carlescufi

[2019-01-18 06:40] xiaoliang314 opened #12562 "The return value of net_buf_simple_pull is unreasonable in subsys/net/buf.c"
**Describe the bug**
The return value of net_buf_simple_pull is unreasonable. It should pull data from the buffer and return it. However, it discards this data and returns a new address.
[code]

[2019-01-18 06:46] agross-linaro commented on #12560
Referencing MQTT app where I encountered this issue.
https://github.com/zephyrproject-rtos/zephyr/pull/10500

[2019-01-18 07:06] tbursztyka commented on #12560
Because there is nothing that tests that.

Hopefully the fix is easy.

[2019-01-18 07:37] jhedberg commented on #12562
The net_buf APIs have originally been designed to be semantically similar to the Linux kernel skbuff APIs. In this case the behaviour is simply reflecting that of skb_pull():
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/include/linux/skbuff.h#n2153

I'm not sure it's worth doing the change since it may break existing code outside of the tree, and it will also confuse any

[2019-01-18 08:17] nordic-krch commented on #12487
@tautologyclub note that RTT activity requires debug session and permanent high frequency clock.

[2019-01-18 08:43] SebastianBoe commented on #12129
IMHO the pain from breaking all out-of-tree "#include " statements does not outweigh the pain from resolving the occasional aliasing issue.

[2019-01-18 08:44] jukkar commented on #11255
@aurel32 thanks for the info, I am looking forward to try any fixes for this.

[2019-01-18 09:17] sigvartmh commented on #12490
I've fixed it here https://github.com/zephyrproject-rtos/zephyr/pull/12510 in https://github.com/zephyrproject-rtos/zephyr/pull/12510/commits/83878df652f774440275a444263b64107ab50dd3 but maybe one want to rename the section https://github.com/zephyrproject-rtos/zephyr/pull/12510 to something like `init` /`.init` and have the actual text symbols be put in `text/.text` output section?

[2019-01-18 09:31] ramakrishnapallala commented on #12224
I am tot an expert in compiler related stuff. Please re-assign.

[2019-01-18 09:40] rlubos commented on #12455
Apparently it's not exactly a bug, it's a stack overflow issue when commissioner is being enabled. I'll submit a PR that increse default stack size for OT when commisioner is on.

[2019-01-18 09:46] pfalcon commented on #12129
There wouldn't be pain if the baseline best practices ("don't think that your project is the only one in the universe or don't think that your project is the center of the universe") were followed from the beginning. There would be less pain if it was done when raised a year go. Longer the wait, bigger the pain. And yep, pain is the price of not doing it right, and learning to do it right.

[2019-01-18 09:48] pfalcon commented on #12129
@yashi:

That's what I would suggest, prepare an initial commit with a few files moved, and wait for feedback. If they say put more stuff in the same PR, do it (I'd personally prefer that it moved gradually, but yep, targeting 1.14, or it'll be way more pain overall).

[2019-01-18 10:01] erwango commented on #12544
@avisconti, I haven't found x_nucleo_iks01a2, so I've stripped out x_nucleo_iks01a2 sample to keep only hts221 code and I'm testing with x_nucleo_iks01a1 shield.
This is actually working even with 2fb616e commit.

Can you reproduce the error in similar conditions?
Or is the error specific to other sensor?

[2019-01-18 10:06] Qbicz commented on #12410
IMHO assert should be considered a fatal, unrecoverable condition. This is used in development only and its goal is to early reveal bugs in the code and show it to a developer. If the program is buggy, it does not matter if the program can continue or not (in development) - because the bug should be fixed.

In production, the program is released without assertions.  Because of that, it makes no di

[2019-01-18 10:17] avisconti commented on #12544
@erwango
This morning I was about to push again the #11188 and before doing that I also rebase to the latest
commit of zephyr master. Well, I found that the 2fb616e is breaking also the microphone sample.
If I revert that commit everything is working again. So, I believe that there is something in that commit
that I need to investigate. I'm depressed..... but hopefully it will not tke that long.

[2019-01-18 10:33] #11889 closed

[2019-01-18 11:34] pfalcon commented on #12560
@agross-linaro :

Welcome to the club ;-). The change of prepending Eth headers was merged relatively recently, literally a week or two before Xmas holidays, may explain why other people didn't hit it so hard. I for one recently tested HTTP client and server samples and didn't notice anything unusual - they work subideal as they usually did, eventually often converging to stuck stack. Which is in

[2019-01-18 11:57] xoduddk123 opened #12568 "ST: Is it impossible to flash using ST-Link/V2?"
Hi.

I am a starter of Zephyr.
I am trying to run the `STM32F415RG` with Zephyr.

My target board is [MINI-M4 for STM32](https://www.mikroe.com/mini-stm32f4).
The `MINI-M4` does not include ST-Link.
I have `ST-Link/V2`.
So I connected the `ST-Link/V2` and the `MINI-M4` as shown below.
![image](https://user-images.githubusercontent.com/10510127/51384958-2c44e100-1b61-11e9-8af8-62341f5ee04b.png)

Wh

[2019-01-18 12:11] spoorthik commented on #12295
I am unable to access this link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-01-18 12:38] erwango commented on #12568
@xoduddk123 , STM32F415RG SoC is not supported yet, you should first enable it's support in Zephyr.
Then, you should port your board since it is not supported in zephyr.
Regarding ST-Link/V2, I think you should be able to use it. One thing to check is stm32f415 support in openocd.

[2019-01-18 12:39] pkral78 opened #12570 "Zephyr codebase incorrectly uses #ifdef for boolean config values"
This is widespread around whole Zephyr codebase.

Instead of proper usage of `#if` directive, `#ifdef` is used.

Although this has no visible impact on functionality, because autoconf.h contains only those symbols that have true (1) value (thus are defined) this is sematically incorrect.

[2019-01-18 12:41] nashif opened #12571 "No coverage reports are being generated"
**Describe the bug**

Running sanitycheck with --coverage fails to generate reports

**To Reproduce**

`sanitycheck --coverage --coverage-platform qemu_x86 -p qemu_x86 -T tests/kernel/`

**Expected behavior**
Full report available

**Impact**

Recently added coverage support becomes unusable

**Screenshots or console output**

[code]

**Environment (please complete the following information):**
 -

[2019-01-18 12:46] #4151 closed

[2019-01-18 12:58] nashif commented on #12454
@dbkinder should make this part of the documentation guidelines. We also should go over all those images and standardise them, i.e. request png with a max size and resolution.

[2019-01-18 13:33] agansari commented on #11586
Hello @pfalcon I've made some changes to i.MX RT ethernet driver after some SDK updates. Can you test #12465 pull request?
Do you still observe any issues?

[2019-01-18 13:38] pfalcon commented on #12560
FWIW, I can confirm some inadequacy with frdm_k64f and dumb_http_server. But from quick try for me it's not "it's broken and doesn't work", but "it's even lousier than it's usually". The usual picture is described in https://github.com/zephyrproject-rtos/zephyr/pull/11530 (open for 9 months total). Now I get:

[code]

I.e. whereas usually response slowdown happens after ~50 of requests, with curre

[2019-01-18 13:45] pfalcon commented on #11586
@agansari:

Do you still observe any issues?

Yeah, I didn't respond earlier as I was away from the board during the winter holidays. I'm now back in its vicinity, and going to test new PRs.

[2019-01-18 13:47] vikrant8051 opened #12574 "Bluetooth: Mesh: 2nd time commissioning configuration details (APP Key) not get saved on SoC flash"
Board used for testing : nRF52840_PCA10056
App : samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app

Description:

Let firmware has flash using following commands ...

After this. if we do provision & configuration of such Bluetooth Mesh DEVICE then here
everything works fine. Even after reset or power reset firmware could retrieve Mesh
configuration details from persistent storage.

But after

[2019-01-18 13:50] SebastianBoe commented on #12570
Can you elaborate on what problems this causes, and how this could possibly be rectified / enforced ?

[2019-01-18 14:17] Vudentz commented on #12535
I wonder if we should inhibit the rotation during the advertising if it is set as (limited) discoverable since this problem affects any stack that keeps a cache of devices while discovering (BlueZ keeps devices founds for 3 min.).

[2019-01-18 14:21] xoduddk123 commented on #12568
@erwango
I know that `STM32F415RG` and` MINI-M4` are not supported in Zephyr.
My goal is to support `STM32F415RG` in Zephyr.
To me this is an interesting way to study Zephyr.
I was looking at #9333 and trying `STM32F415RG`.

I do not know what `openocd` is yet.
However, I found a commit of [cfg: add STM32F4x and STM3241G-EVAL config files](https://github.com/zephyrproject-rtos/openocd/commit/e9976

[2019-01-18 14:35] pfalcon commented on #12560
Also tried big_http_download sample on frdm_k64f. It also was kinda lurking, definitely slower than usual. Seems to finally stuck at:

[code]

All in all, that's my trying to figure out how it's possible that nobody noticed the issue reported by @agross-linaro. Well, it's possible that other stuff mostly works, and as there're already known issues, the effect of new issues isn't immediately recogn

[2019-01-18 15:40] pkral78 commented on #12570
Hmm after further thinking about this and realization that only possible harm is in form of generating boolean symbol with zero values (`#define CONFIG_BOOL_XXX 0`) Which probably would never happened I'm going closing this as offtopic.

[2019-01-18 15:40] #12570 closed

[2019-01-18 16:23] #7179 closed

[2019-01-18 16:31] tautologyclub commented on #11535
I've tried to get this clarified from Nordic before.

Why should the UART fifo be ready to receive bytes if TX interrupts are disabled? That makes no sense. The API specifies clearly that calling `fifo_fill` from outside interrupt context is undefined. Thus, if TX interrupts are disabled, clearly the UART fifo can impossibly be in a state where it's ready to accept transfers.

Out of curiosity, wo

[2019-01-18 16:36] pfalcon commented on #3132
Thanks much for this info and testing. And sorry, this got backlogged by net_bug refactors and work on QEMU ethernet drivers, and holidays.

https://github.com/zephyrproject-rtos/zephyr/issues/12560 reminded me that I had this in queue for testing, and indeed, with CONFIG_ETH_MCUX_RX_BUFFERS=1, I get the dumb_http_server sample to serve 1000 requests without a hitch (even despite #12560). With 10K

[2019-01-18 17:07] dbkinder commented on #12454
I'm on it... all the big images are indeed in the boards area:
[code]

[2019-01-18 17:29] tautologyclub commented on #12487
@nordic-krch This seems to be independent of RTT or not, as long as you have logging enabled and don't explicitly configure LOGGING_THREAD=n or increase LOG_PROCESS_THREAD_SLEEP_MS to something huge. It's not obvious at all that enabling the logging subsystem will start a separate thread that wakes up the CPU several times per second. I think when people enable logging, they're expecting a less ha

[2019-01-18 18:22] galak commented on #12454
I've used this site to reduce image file size:

https://imagecompressor.com/

[2019-01-18 18:30] xiaoliang314 commented on #12562
Thank you for your answer, I think it should be modified. These are my reasons:
1. In the Bluetooth protocol stack, net_buf is the main data structure that provides data to users, which means that net_buf APIs will be used by more ordinary users. It may cause confusion for more people.
2. Many places use this API in this way
···
label_uuid = buf->data;
net_buf_simple_pull(buf, 16);
···

[2019-01-18 18:31] xiaoliang314 commented on #12562
Thank you for your answer, I think it should be modified. These are my reasons:
1. In the Bluetooth protocol stack, net_buf is the main data structure that provides data to users, which means that net_buf APIs will be used by more ordinary users. It may cause confusion for more people.
2. Many places use this API in this way
[code]

[2019-01-18 19:21] #12102 closed

[2019-01-18 20:03] galak opened #12589 "Several nRF based boards enable both I2C & SPI by default in dts at same MMIO address"
The following warnings show cases for various nRF based boards in which 2 controllers at the same MMIO address are both enabled by default.

This warning is generated with the DTC version that is in sdk 0.10-beta4:

96b_nitrogen.dts.pre.tmp:101.22-110.5: Warning (unique_unit_address_if_enabled): /soc/i2c@40003000: duplicate unit-address (also used in node /soc/spi@40003000)
nrf51_pca10028.dts.pre.

[2019-01-18 20:04] galak commented on #12589
Here's the list of boards impacted:

96b_nitrogen nrf51_pca10028 nrf52840_blip nrf52840_pca10056 nrf52840_pca10059 nrf52_pca10040

[2019-01-18 20:08] jhedberg commented on #12535
Doesn't sound like a bad idea. IIRC the discoverable mode is part of the advertising data (a "flags" data field), which bt_le_adv_start() doesn't look at currently.

[2019-01-19 03:42] explora26 opened #12594 "stm32_min_dev board no console output"
I'm trying to test hello world example with stm32_min_dev board, but the UART didn't output anything.

I found that the last workable commit  SHA is 9612f9d840e7cb538817faac57ee461dcc9c6d8a, maybe this issue cause by 2fb616efbef663a5912673507031e3cf102ec828

[2019-01-19 05:41] xoduddk123 commented on #12568
@erwango
My cable connection was missing `RST` and `GND`.
I connected ST-Link/V2 and MINI-M4 again as shown in the table below.
## ST-Link/V2 - MINI-M4
| ST-Link/V2(Pin no.)   | MINI-M4(Pin no.)    |
| --------------------- | ------------------- |
| TCK_SWCLK(9)          | PA14(36)            |
| TMS_SWDIO(7)          | PA13(35)            |
| TDI(5)                | PA15(30)            |
| TDO_SW

[2019-01-19 06:42] jhedberg commented on #12574
I tested many cycles of what you describe when I implemented storage (settings) support for mesh, and it was working fine then. I wonder if this is a regression, a new use case that wasn't previously tested, or some bug in your application.

[2019-01-19 06:44] jhedberg commented on #12574
If you have the chance, please enable CONFIG_BT_DEBUG_SETTINGS=y and CONFIG_BT_MESH_DEBUG_SETTINGS=y and try to see if you spot anything strange.

[2019-01-19 08:37] Jiurifei commented on #12150
@tautologyclub These operations I have already token before. Logging thread was disabled all the time. And the current could only reduced around 20uA if I made uart  disabled. But  if I set the macro `config_serial=n` in the config file, then turned off the uart, it would save about 150uA power consumption. All in all, the current was still too high which was about 160uA finally. Same queston I  h

[2019-01-19 12:08] #12454 closed

[2019-01-19 13:50] lowlander commented on #10463
What is the status of this? I am currently working on CAN for the STM32F4, and am wondering if I could be of help.

[2019-01-19 16:32] pabigot commented on #12589
The defaults on those boards should probably be updated to eliminate the conflict.

But at a higher level it's actually OK to have drivers for TWIx and SPIx instances that share a peripheral block available in the kernel, as long as the peripherals are not both enabled simultaneously.  At a cursory glance it appears TWI instances are enabled only for the duration of the bus transfer: once that com

[2019-01-19 16:36] pabigot commented on #12553
added a failure I had reported, and sorted the list so it's easier to see if something's already there.

[2019-01-19 16:41] pabigot commented on #11737
After going around with aliases versus labels to produce unique prefixes this was ultimately resolved by #12426 and the decision to use a prefix derived from an instance-annotated `compatible` property value.  Work is ongoing to convert drivers to the new standard.

[2019-01-19 16:41] #11737 closed

[2019-01-20 04:32] mike-scott opened #12601 "MbedTLS-generic: Add setting for MBEDTLS_AES_ROM_TABLES config"
**Is your feature request related to a problem? Please describe.**
Many devices are very resource constrained.  By enabling:
MBEDTLS_AES_ROM_TABLES in the mbedtls config, MbedTLS uses less RAM and more flash.

For comparison here is reel_board before and after this MbedTLS setting is enabled:
[before]
[code]
[after]
[code]

**Describe the solution you'd like**
Would be great if we could have a Kco

[2019-01-20 04:41] mike-scott commented on #12601
I forgot to mention that I'm enabling this change for small-ish devices using DTLS encryption with PSK-only.  Combined with the following config changes, it makes a HUGE difference in RAM usage:
CONFIG_MBEDTLS_KEY_EXCHANGE_RSA_ENABLED=n
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK_ENABLED=y
(The above removes the cert parsing RAM structures)

[2019-01-20 05:19] KwonTae-young opened #12602 "STM32F415RG Support"
Hi.

I have a [MINI-M4 for STM32](https://www.mikroe.com/mini-stm32f4) board.
This board uses [STM32F415RG](https://www.st.com/en/microcontrollers/stm32f415rg.html) soc.

This board does not include `ST-Link/V2`.
I have `ST-Link/V2` separately.
I connected the `MINI-M4` for `STM32 and ST-Link/V2` as follows.

| ST-Link/V2(Pin no.)   | MINI-M4(Pin no.)    |
| --------------------- | ---------------

[2019-01-20 09:06] pfalcon commented on #12601
+1

Also +1 for making this default. May guess it still makes sense to make it configurable. Would need to check mbedTLS impl, but the usual choice is less RO data in the image, but startup initialization overhead. This makes sense e.g. for executables on conventional OSes (e.g. consider Linux executable can be made 90K instead of 100K), but usually not relevant for now-conventional XIP ROM MCUs.

[2019-01-20 14:53] pabigot commented on #12542
The test application referenced has a timer in the main thread that wakes at 1 Hz, captures some clock information, and queues a `k_work` instance that displays the captured data with `printk`.  The expected behavior was to see two invocations of `z_clock_set_timeout()` every second regardless of ticks-per second.

Some of the instability and unexpected behavior appears to be due to `CONFIG_TIMESL

[2019-01-21 02:03] explora26 commented on #12544
Hi, the 2fb616efbef663a5912673507031e3cf102ec828 also breaking the hello world example on stm32_min_dev board, there is nothing output from UART1.

[2019-01-21 05:02] AdithyaBaglody commented on #12571
@nashif I am not able to see this issue at 2caecb54a37dca72fdd20aa45ac95e4eeeaf0adb (the latest master).
Can you check if it is failing still?

[2019-01-21 07:14] anangl commented on #12453
I analyzed the information you provided. But I haven't discovered anything new so far. I haven't tried to replicate the issue yet since I had only a couple of hours to spend on this. From your reports it seems that the hardware behaves as expected and the driver handles it correctly, but some strange problem occurs occasionally with waking up the thread the driver works in. Well, this you've found

[2019-01-21 07:57] vikrant8051 commented on #12574
[log.txt](https://github.com/zephyrproject-rtos/zephyr/files/2777966/log.txt)

For your reference, I've attached debug log file.

[2019-01-21 08:06] varun-sha commented on #9849
@nniranjhana waiting for retest results....as share pls close this as it was was working fine with MB85RC16V

[2019-01-21 08:40] rlubos commented on #12601
Agreed, it makes sense to make this option configurable. Whether it is enabled by default is not a big deal IMHO, but as we do target RAM-constrained devices mostly, I guess we can enable it.

[2019-01-21 08:48] erwango opened #12609 "ext: stm32: revert fix https://github.com/zephyrproject-rtos/zephyr/pull/8762"
**Describe the bug**
A fix was introduced in ext to fix LL API function.
After analysis, it appears that function is actually correct, and issue was actually in parameters provided that didn't match the API.
Revert fix introduced in API and fix use of API (in drivers/i2s/i2s_ll_stm32.c)

**To Reproduce**
NA

**Expected behavior**
NA

**Impact**
Wrong waveform generated

**Screenshots or console ou

[2019-01-21 09:33] erwango commented on #12544
@explora26 , I'm working on a fix. Can you test with https://github.com/erwango/zephyr/commits/fix_gpio and see if solving your issue?

[2019-01-21 09:48] explora26 commented on #12544
@erwango , I just test it, but the issue still not fixed.

[2019-01-21 10:08] avisconti commented on #12544
@erwango
In my case it is fixed, at least the microphone sample. But I'm confident also for the other setup.

@explora26
What STM32 architecture you are based on?

[2019-01-21 10:40] #3132 closed

[2019-01-21 10:49] erwango commented on #12544
@avisconti , @explora26 , I've pushed a clean up commit in https://github.com/erwango/zephyr/commits/fix_gpio , if you have some time to confirm it still works would be nice.
I'll do full non regression and then push a PR later today

[2019-01-21 11:14] radfanSC opened #12611 "Shell does not support network backends"
**Describe the bug**
I have created the example Telnet console application for the board FRDM-K64F under Windows.
Although I get a connection to the board with a telnet client, but there are no inputs and outputs on the client possible.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/telnet
2. mkdir build; cd build
4. cmake -GNinja -DBOARD=frdm_k64f ..
5. ninja
6. Put the resu

[2019-01-21 11:14] rlubos commented on #12171
@turon I've identified the issue, apparently it's an OpenThread bug - it does not handle ping timer correctly for `cli_console` backend. I've posted a fix to the OpenThread:
https://github.com/openthread/openthread/pull/3486

Once accepted and merged, we can update the OpenThread in Zephyr.

[2019-01-21 12:46] summer20100514 opened #12614 "[bluetooth] Several questions about mesh"
I read the Mesh Profile V1.0 and I understand that one subnet is only a matter of keys, which are network keys and application keys. Nodes have the same network keys belong to the same subnet. Now I have two questions. Is it true that the mesh network topology is not hierarchical, for there is only one important thing which is the specific key. And what confused me most is that are nodes in differ

[2019-01-21 12:50] jhedberg commented on #12614
I think most samples only use a single subnet. IIRC the mesh_shell one (tests/bluetooth/mesh_shell) might have support for multiple subnets.

For each node, there is a concept of primary network key, which is the key that was given to it as part of the provisioning data (as opposed to something that came through the configuration model). A node will e.g. only react to IV Update changes on the prim

[2019-01-21 12:52] pfalcon commented on #12098
With https://github.com/zephyrproject-rtos/zephyr/pull/12447, at least hex 64-bit values can be printed, which should be a good workaround for those in need.

[2019-01-21 12:52] explora26 commented on #12544
@avisconti , It's stm32f103c8t6.

@erwango , I tested it again, but unfortunately it's still not work.

[2019-01-21 12:56] jukkar opened #12615 "Network documentation might miss API documentation"
It is possible that network API documentation is missing the actual text for a function and its parameters.

The reason for this is that if the API documentation is done like this
[code]

Then doxygen will probably not understand it if FOO is not set.

This could be fixed like this:

[code]

The network documentation should be checked and fixed accordingly.

[2019-01-21 13:40] jukkar commented on #12611
Tested this also with native_posix, I am not seeing any output from `nc 2001:db8::1 23`.

[2019-01-21 13:41] pizi-nordic commented on #12453
Hi.

I will try to trace this issue tomorrow.
But just to rule-out obvious things: Have you verified that you are not running out of stack?

[2019-01-21 13:55] erwango commented on #12544
@explora26 , if you have access to gdb, can you do the following before and after the change?
[code]

[2019-01-21 14:00] erwango commented on #12602
@xoduddk123 , you're welcome to do a pull request.
Please make sure to provide enough documentation on the board so we can check board specifications.

[2019-01-21 14:39] DrPresident commented on #12488
I applied the scratch and storage register changes, and I received the same errors with and without the CONFIG_MPU_ALLOW_FLASH_WRITE=y in the prj.conf file

[2019-01-21 15:01] erwango commented on #12594
@explora26 , if you have access to gdb, can you do the following before and after the change?
[code]

[2019-01-21 15:14] agansari commented on #11586
@mubes I have not observed this on EVKB boards, there were some power issues in EVKA boards and revision 0 of the chip (see https://www.nxp.com/docs/en/nxp/application-notes/AN12146.pdf).
To prevent PHY entering NANDTree we pull up the ENET_INT/NANDTree pin at boot time.

[2019-01-21 15:34] nashif opened #12621 "warning about images when building docs"
**Describe the bug**
when building docs we get those now:
[code]

**To Reproduce**

make htmldocs with latest master

**Expected behavior**
no errors

**Impact**

confusing messages

**Screenshots or console output**

[code]

[2019-01-21 16:00] carlescufi commented on #12589
@anangl can you please weigh in here?

[2019-01-21 16:18] Laczen commented on #12488
Hi @DrPresident,
I tried using a nrf52_pca10040 as a redbear nano v2. After changing the serial port to the correct numbers everything worked directly. Could it be a problem with the daplink programming ? Can you use the daplink also as a debugger ? If so, could you try erasing (after upload) the flash area starting at 0x7a000 size 0x6000, and after erase do a reset. I think you should be able to

[2019-01-21 16:30] erwango commented on #12594
^^@cybertale

[2019-01-21 16:31] pabigot opened #12622 "topic-counter: RFC justify or remove counter_api_get_pending_int"
In the topic-counter branch we currently have:
[code]

I can see in theory that some systems might have a capability where on wakeup they want to know the cause of the wakeup, which might be a wake-from-system-off-on-RTC event.

I don't see any of the proposed implementations supporting this, and it's named oddly: if there were a pending interrupt why wouldn't it have been serviced?

I could answe

[2019-01-21 16:35] dbkinder commented on #12621
Looks like that message is coming from extract__content.py because it’s not the ignoring the image and figure directive inside the code-block. I’ll change the example to reference an image that does exist since teaching the python script to properly parse reST files is a bit much.

[2019-01-21 16:35] pabigot opened #12624 "topic-counter: missing support for channel status"
There doesn't appear to be any API to determine the status of a specific channel.  The states of a channel may include:

* Available for use
* Configured for an alarm that has not been reached
* Configured for an alarm that has been reached but handler has not been invoked
* Currently invoking the handler
* No such channel

These states become important when trying to coordinate application use of

[2019-01-21 16:37] pabigot opened #12625 "topic-counter: missing support for cancelled alarm"
AFAICT there's no API to cancel an alarm once it's been set.  This needs to be fixed.

One approach is to cancel the alarm by invoking `counter_set_channel_alarm()` with a null pointer for `alarm_cfg`.  Or add a separate API function.  I don't care much what color the bike shed is.

Whatever the API, the non-error result should indicate specifically whether the callback had been invoked before can

[2019-01-21 16:52] pabigot opened #12626 "topic-counter: missing support for late-to-set alarm configurations"
If there's any hope of using the counter API to implement a system timer (#2921, #12068, others), let alone correctly handling thresholds in an asynchronous event counter, there has to be some way of attempting to set an alarm and being informed that it's already been missed.

For example, I've got a counter with range 0..999 and I want to wake at value 100, but the counter is at 101 (or 100) at t

[2019-01-21 16:54] pabigot opened #12627 "topic-counter: consider removing relative setting from driver-level API"
The old rtc API only supported absolute alarms.

The old counter API only supported relative alarms.

There is a clear use-case for absolute alarms: for repeating timers that need to be insensitive to latency, or for externally triggered counters where we need to be notified that a threshold has been reached (see also #12626).

I'm not seeing a motivation for in-driver support for relative alarms

[2019-01-21 17:17] dbkinder commented on #10271
Number of warnings has increased lately:
[code]

[2019-01-21 17:57] pabigot commented on #12544
@erwango +1 for getting your `fix_pgio_refactor` branch merged.  It resolves the inability to see any I2C devices on `nucleo_l476rg` that I lost significant time trying to understand when testing #12567.

[2019-01-21 19:38] pfalcon commented on #11586
Ok, testing with pristine master 26c9c7480ec0a379809e3ed7fdf368c6446edba7 . The situation is the same - TX packets from board seen in Wireshark, but the board itself doesn't see RX.

[2019-01-21 19:44] pfalcon commented on #11586
With #12465, situation ain't much better: https://github.com/zephyrproject-rtos/zephyr/pull/12465#issuecomment-456181137

[2019-01-21 20:11] pfalcon commented on #11586
Now going into "random poking" mode:

@agansari, Remember me complaining that I always get weird ~5Hz blinking of Eth jack's orange LED? if I change that to:

`-` the blinking is gone! I get ~1/3 bright both LEDs instead (which may mean 100+Hz blinking of course), and everything else works the same! I.e., TX packets reach host, RX don't reach board.

[2019-01-21 20:19] pfalcon commented on #11586
@agansari, @jeremy-e-mills: I wonder if we can approach this mystery in the following manner: Can you send me a know working binary with Ethernet support built for another RTOS (as mentioned above by @jeremy-e-mills), so I can try it on my board?

[2019-01-21 20:22] DrPresident commented on #12488
When I use nrf52_pca10040 it appears to run just fine. I will work with that for now thank you!

[2019-01-21 20:32] #12621 closed

[2019-01-21 20:57] mubes commented on #11586
Symptoms sound _very_ similar. You can just check the state of the NANDTree bit in the Operation Mode Strap Override Register (Reg 16 bit 5) and reset it if needed...here is the patch that was made in NuttX for this case;

`+  /* Switch off NAND Tree mode */
+  ret = imxrt_readmii(priv, phyaddr, MII_KSZ8081_OMSO, &phydata);
+  if (ret < 0)
+    {
+      nerr("ERROR: Failed to read MII_KSZ8081_OMSO

[2019-01-21 20:59] nwsetec commented on #12453
Thanks  @anangl.

Hi @pizi-nordic, thanks for looking into this also.  I've looked at the each thread stack usage and there doesn't seem to be an issue there. I've configured CONFIG_STACK_SENTINEL=y and CONFIG_STACK_CANARIES=y and neither of these detect failures while running.  Would that be enough to verify there is no stack issue?

[2019-01-21 21:04] nslowell commented on #12224
@youvedeep: FYI

[2019-01-22 01:55] #9849 closed

[2019-01-22 03:03] explora26 commented on #12594
Here is the registers dump:
Before revert 2fb616efbef663a5912673507031e3cf102ec828 :
[code]
After revet 2fb616efbef663a5912673507031e3cf102ec828 :
[code]
Looks like the port configuration register incorrect.

[2019-01-22 03:13] explora26 commented on #12544
@erwango
Here is the registers dump of https://github.com/erwango/zephyr/commits/fix_gpio
[code]

[2019-01-22 03:40] arun1joshi opened #12632 "tests/drivers/adc/adc_api/ fails on quark platforms"
The test in tests/drivers/adc/adc_api/ fails with _Assertion Failure_ on quark platforms.

The test is failing after this commit: 0906a51

**Arch**: x86, ARC
**Platforms**: quark_se_c1000, quark_d2000

**Error on console log**:
_quark_se_c1000:arc_

[code]

_On _quark_d2000:x86_, only 2 test cases fail - test_adc_asynchronous_call, test_adc_repeated_samplings:_

[code]

[2019-01-22 03:44] summer20100514 commented on #12614
@jhedberg thank you for your detailed explanations. What's more, when and how can I use the virtual address? Is virtual address visible between different subnets?

[2019-01-22 07:35] nordic-krch commented on #12624
`set_channel_alarm` returns `-EBUSY` if channel is occupied. There is a `counter_get_num_of_channels()` function. As for intermediate state (alarm not reached, alarm reach but not invoked, invoking) I am not convinced that it brings value as intermediate states can also be distinguished from within interrupt with higher priority so i don't see use cases for that and that will increase complexity o

[2019-01-22 07:36] cinlyooi-intel opened #12633 "tests/boards/altera_max10/i2c_master failed with "failed to read HPD control" on altera_max10"
The test in tests/boards/altera_max10/i2c_master/testcase.yaml fails with Assertion Failure _"failed to read HPD control"_ on Altera Max10 platforms.

The test is failing after this commit: f0120848244be7d88f0b831c76e9e2da43f7dbde

**Arch**: nios2
**Platforms**: altera_max10

**Error on console log:**
[code]

[2019-01-22 07:37] nordic-krch commented on #12625
what about `counter_disable_ch_alarm`?

[2019-01-22 07:42] nordic-krch commented on #12625
regarding returning state: i wouldn't like to not have it as return value as i prefer to have one value which means success. I'm also not convinced if that brings any value. User can track if callback was already called or not if needed. Moving that into the driver increases complexity.

[2019-01-22 07:47] nordic-krch commented on #12626
I agree with that.

`counter_alarm_cfg` already has `absolute` flag so it's possible to set relative values.

But what should we do if late setting occurs? Return error (e.g. `-ETIMEOUT`) or just trigger user callback from within the `counter_set_ch_alarm` call?
@MaureenHelm @pizi-nordic @anangl any opinions?

[2019-01-22 07:57] nordic-krch commented on #12627
Relative setting makes sense only if it supports detection of too late setting (#12626). This detection is kind of tricky (at least for nrf rtc) because RTC registers are latched with lf clock (note that this algorithm is not present in nrfx_rtc.c). Counter api will be not enough to detect that always thus i would like to keep it in the API.

[2019-01-22 07:58] erwango commented on #12544
@explora26, txs.
Is that dump done at boot or following break in Idle (with Crtl-C)?
Can you do the same procedure before the commit that introduced the issue?

[2019-01-22 08:15] erwango commented on #12594
@explora26, great txs! This piece of code was indeed my suspect number 1, but I couldn't spot the issue.
Would you push a PR to fix it?

[2019-01-22 08:21] pizi-nordic commented on #12453
@nwsetec: It depends on the stack usage pattern. For example if you have a kind of array on stack and you are not filling this array as a whole but use only a small fragment, you are likely to miss stack corruption as you can perform access over canary without modifying it. I recommend turning on MPU-based stack guard.

[2019-01-22 08:38] spoorthik commented on #11721
@andyross: git bisect shows that the below commit is the culprit.
I have tested on nrf51_pca10028, nrf52_pca10040 and nrf52840_pca10056 boards and it fails on all of them.

[code]

[2019-01-22 08:41] arun1joshi opened #12635 "tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c fail with Assertion failure on nrf52840"
The tests in tests/subsys/fs/nffs_fs_api/common/nffs_test_utils.c fail with Assertion failure on nrf52840

The test is failing on this commit: f0120848244be7d88f0b831c76e9e2da43f7dbde

**Arch**: arm
**Platforms**: nrf52840_pca10056

**Error on console log**:
_nrf52840_pca10056:arm_
[code]

[2019-01-22 08:55] pizi-nordic commented on #12626
I think that this should be handled in upper layer. The counter driver might return something to indicate if current count is less or more than the requested one, but IMHO the driver does not have knowledge to decide if such situation is an error (what if I requested delay close to counter wrap around time?).

[2019-01-22 08:55] nvlsianpu commented on #12488
So storage area size is ok in blenano2 - settings will consume as much it can, up to the limit stands by SETTINGS_FCB_NUM_AREAS.

[2019-01-22 08:55] #12488 closed

[2019-01-22 09:09] explora26 commented on #12594
@erwango , the pull request have been created, , thanks.

[2019-01-22 09:34] Qbicz commented on #12535
@jhedberg your simpler solution sounds good, what @Vudentz says is even simpler. I think it's about don't changing the RPA as long as device advertises (may be through resetting or blocking timer from expiring). The Kconfig option could be "Do not change the resolvable private address during advertising".

[2019-01-22 09:44] rlubos commented on #4441
Closing this one, as we've achieved requested functionality with new shell module and #12345.

[2019-01-22 09:44] #4441 closed

[2019-01-22 09:47] rlubos commented on #8879
This one got resolved by #9825.

[2019-01-22 09:47] #8879 closed

[2019-01-22 10:03] nvlsianpu commented on #12166
fixed by #12279

[2019-01-22 10:03] #12166 closed

[2019-01-22 10:23] xoduddk123 commented on #12602
@erwango Okay.
I will add the `LED` and the `document` and make a `Pull request`.

[2019-01-22 10:52] pabigot commented on #12622
I will say that I believe Zephyr's policy that all generic API ("adaptation layer") provide access to the union of functionality across vendor implementations , rather than the intersection of that functionality, is a fundamental architectural flaw.  Implementations that can't support a feature have to waste memory on null vtable entries, and those that come in after the API is frozen may be unabl

[2019-01-22 11:06] AntoineZen commented on #11586
@mubes I' have tried to remove R152 as you suggested [here](https://github.com/zephyrproject-rtos/zephyr/issues/11586#issuecomment-455720506) on my EVKA (Rev A5) board, but this does not solve the issue. The LEDS remains in the same status, and the board is able to Tx but not Rx (confirmed with wireshark).

I also have tried the PR #12465 (the last commit should prevent NAND-Tree), with no better

[2019-01-22 11:12] agansari commented on #11586
@pfalcon I've pushed another commit on pull request #12465 with a configuration similar to what @mubes has done to prevent PHY entering NAND Tree. I have not observed this issue on my board.

[2019-01-22 11:22] pabigot commented on #12626
@pizi-nordic If the driver was told that late-to-check is an error, it's an error, otherwise it isn't.  Only the driver can detect this situation, and the upper layer cannot be expected to be able to recover from the situation in all cases.   Whether the specific compare value is close to wrap doesn't matter; compare values are absolute at the point the driver sets them (unless that's a variation

[2019-01-22 11:32] agansari commented on #11586
@AntoineZen did you get the latest push? You may have gotten the first commit that did not work.

[2019-01-22 11:33] AntoineZen commented on #11586
@agansari   I'have seen that the commit from PR #12465 have changed! (How is that possible? Did you push-force ?) I have tested again and now Ethernet is working! Great work !

[2019-01-22 11:35] jhedberg commented on #12535
@Qbicz 	I think that's making it too simple. There are devices that advertise all the time (e.g. beacons, but probably also some which are connectable). If the app developer enables privacy there should be a reasonable expectation that the device cannot be tracked over long periods of time. Suspending RPA rotation for discoverable advertising (where one of the discoverable flags is set in the adve

[2019-01-22 11:35] pabigot commented on #12625
The assumption that the user *can* track whether the callback was invoked results in the user being *required* to track whether the callback was invoked, information that may not be readily available without recording it somewhere that both the callback and the alarm-set code can access.  This is very similar to the argument underlying #11976: forcing a user to jump through hoops to reconstruct in

[2019-01-22 11:35] agansari commented on #11586
Yes, I've force pushed after testing the patch :) Thank you for testing.

[2019-01-22 11:39] pabigot commented on #12625
As for `counter_disable_ch_alarm` this brings up an interesting question.  Reading the API documentation in the header, it's not clear whether `counter_set_ch_alarm` is a one-shot configuration (as I expected), or a permanent configuration that will repeat when the counter wraps.

If the alarm is one-shot `counter_cancel_ch_alarm` would pair with `counter_set_ch_alarm`.

If the alarm is permanentl

[2019-01-22 11:43] pizi-nordic commented on #12626
@pabigot: The Counter API is just HW abstraction. It does not know your use-case.

Example: I have a counter which wraps every second when in reach 65536. Current value is 32768. I am requesting  event at ABSOLUTE 32760. Question: My request was delayed and should fire now or I want an event a shortly before one second from now? Only upper layer knows that.

Of course, if you schedule relative eve

[2019-01-22 11:51] pabigot commented on #12626
By "supported" I meant "required"; I've updated the original.  So the driver does know my expectations.

I'm unable to see how you're going to make that translation layer work without assistance from the counter that amounts to what I'm proposing here.

[2019-01-22 11:53] pfalcon commented on #11586
Thanks @mubes and @agansari, but no luck for me with the latest version of #12465 still.

[2019-01-22 11:58] pfalcon commented on #11586
To avoid any possibilities, tried following patch:

[code]

Prints 0. But I noticed that @mubes code above reads and write the same reg, while @agansari you read STATUS,  write OVERRIDE. Is it intended?

[2019-01-22 12:18] agansari commented on #11586
@pfalcon both should work fine, OVERRIDE is also RW, STATUS is RO, did you check it out reading OVERRIDE? Status 0 means it's not the case on your side, you can also try to write without the if statement.

Also I see an issue if board is powered up and phy's not yet stabilized, ETH may not work. Resetting the board makes it work because phy was stable for long enough.

Attached a bare-metal exampl

[2019-01-22 12:30] pizi-nordic commented on #12626
I thought about something like this (the example does not take under account wrapping):

[code]

I do not see other method to deal with the potential miss than the final (the one after setting up alarm) counter readout (if we assume that we can be interrupted or counted events are purely asynchronous).

On the other hand, you are right that the details about HW have to be handled in the counter AP

[2019-01-22 12:31] summer20100514 commented on #12614
thank you

[2019-01-22 12:44] #12601 closed

[2019-01-22 12:50] jukkar commented on #12562
I think we should not touch the existing function as it is already in use. But I suppose if needed we could introduce a new function that could do it like that.

[2019-01-22 13:05] pabigot commented on #12625
Not really.  I'd rather see #12624 implemented and return the state in an out argument.

The problem is, as you suggested elsewhere, that a higher-priority interrupt may occur during the counter callback.  Assume an implementation where the alarm callback reschedules the alarm for a later count value, but a higher-priority ISR would normally want to adjust the alarm deadline.[*]

In the high-prior

[2019-01-22 13:09] pabigot commented on #12626
That doesn't work (as you may have meant, I didn't understand the "do not see other method" comment).  I've annotated just two points where things break:
[code]

I really think it needs to be atomic within the counter, allowing application code to do something like the following (assuming `-ESTALE` indicates the late set; other approaches might involve adding an output channel state parameter to t

[2019-01-22 13:20] jarz-nordic commented on #12319
@mandarcthorat1: Can you share some details about this bug? I am still not able to access your link.

[2019-01-22 13:31] nordic-krch commented on #12625
i wonder if we can make it so such scenarios are handled by higher layer as in majority of cases (i guess) that complex use case will not be applied. By keeping that in the low level driver api we force all vendors to implement that. Maybe `channel_status` would be enough then the decision based on that would be on higher layer.

[2019-01-22 13:32] pizi-nordic commented on #12626
But how you are going to detect the -ESTALE situation in the counter_set_ch_alarm()?
I think that there will be always race here (as we cannot stop counter) and we will have to handle that race both when we are setting an alarm and when alarm fires (as as you pointed, we might have an situation that handler fires and we think that we missed the alarm).

For me the counter_read(), counter_set_ch_al

[2019-01-22 13:32] pdunaj commented on #10143
Will it be fixed?

[2019-01-22 13:40] #11255 closed

[2019-01-22 13:41] nordic-krch commented on #12626
In nrf5 sdk we have RTC driver which supports detection of late setting, takes into account wrapping and latching of RTC interfaces. I've adding gist: https://gist.github.com/nordic-krch/8b2543f9b0cb714b42964773754ef6b7

This algorithm run through stress tests and seems to handle well but as you can see it is not simple. It takes into account 2 tick limitation from RTC HW and maximal latency (for

[2019-01-22 13:44] hersp commented on #10143
Other work is ongoing on the settings system, maybe this discussion should be moved there.
https://github.com/zephyrproject-rtos/zephyr/issues/12331

[2019-01-22 13:49] pizi-nordic commented on #12626
Hmmm. It looks that this needs a detailed knowledge about the hardware. This mean, that my idea cannot be used and we have to implement it in counter driver as @pabigot suggested.

[2019-01-22 14:15] pabigot commented on #12626
Yes, switching to `flags` is what I proposed in the original comment above.

That SDK algorithm is complicated and probably not unlike what I have in my C++-17 infrastructure for alarm management (I haven't looked closely).  Sometimes you can make use of this idiom:
[code]
but it depends on whether `stuff here` has side effects that aren't idempotent.  That's all well below the level of this issue

[2019-01-22 14:20] pabigot commented on #12625
A `counter_ch_status()` function alone checked before/after the API call isn't enough, but the channel status value, if captured synchronously within the driver and returned to the caller through the different API functions, should be sufficient to use for decisions.

I like the proposal to pass it through an output value; where the caller doesn't care a null pointer can be passed to indicate the

[2019-01-22 14:32] pabigot commented on #12624
That's not documented in `topic-counters` for `counter_set_ch_alarm()`.  It is documented for `counter_set_wrap()`.

See https://github.com/zephyrproject-rtos/zephyr/issues/12625#issuecomment-456392058 for a use case where status is needed synchronous to other operations.  For completeness it should also be available through a standalone API call.

[2019-01-22 15:26] lgl88911 opened #12640 "CONFIG_ETH_ENC28J60_0_GPIO_SPI_CS=y cause build error"
**Describe the bug**
CONFIG_ETH_ENC28J60_0_GPIO_SPI_CS=y will cause build error：
zephyr/drivers/ethernet/eth_enc28j60.c:779:17: error: 'DT_MICROCHIP_ENC28J60_0_CS_GPIOS_CONTROLLER' undeclared here (not in a function);
zephyr/drivers/ethernet/eth_enc28j60.c:780:16: error: 'DT_MICROCHIP_ENC28J60_0_CS_GPIOS_PIN' undeclared here (not in a function);

**To Reproduce**
Steps to reproduce the behavior:
1

[2019-01-22 15:38] lgl88911 commented on #12640
For the issue ,I have pr  #12641, if want to use CS need modify the enc28j60 dt, please refer to https://gitee.com/lgl88911/nrf52_moderate/blob/master/boards/arm/nrf52_mother/nrf52_mother.dts

[2019-01-22 16:58] nordic-krch commented on #12625
maybe instead of channel status we could some return remaining ticks? This gives more oportuninties, e.g. when restarting a channel you can adjust it to what was remaining.

[2019-01-22 17:02] pabigot commented on #12625
Remaining ticks might be useful in some cases, but it doesn't cover the set of states.  E.g. by the time the cancellation is complete, or the ISR is executed, the counter might have already advanced, so there are negative ticks remaining.  Also it doesn't represent the state of handler-being-invoked visible when a higher-priority ISR fetches status.

[2019-01-22 18:08] carlescufi commented on #11565
@dcpleung I see you have a branch ready, will you send a PR to fix this?

[2019-01-22 18:10] carlescufi commented on #12560
@tbursztyka do you expect to be able to submit a fix for this issue?

[2019-01-22 18:11] carlescufi commented on #12571
@nashif can you check if this is still an issue?

[2019-01-22 18:35] carlescufi commented on #12410
Calling `k_oops` might make it harder to debug ASSERT conditions. Maybe @andrewboie has a suggestion here on how to deal with this particular issue.

[2019-01-22 18:36] dcpleung commented on #11565
@carlescufi I have not tested it on actual hardware yet. I will submit a PR once I have tested it on hardware.

[2019-01-22 18:37] carlescufi commented on #12409
@andyross is this something you plan to address in the near future?

[2019-01-22 18:43] nashif commented on #12571
Please make sure you are using a recent host toolchain, gcc 8.2 or something.

[2019-01-22 18:43] carlescufi commented on #12409
Originally mentioned in [here](https://github.com/zephyrproject-rtos/zephyr/issues/12332#issuecomment-452807555)

[2019-01-22 18:50] carlescufi commented on #12241
@nordic-krch can you submit a PR for the note in the doc that you agreed to?

[2019-01-22 23:51] vanti opened #12650 "drivers: wifi: simplelink: socket() always returns fd of zero on success"
**Describe the bug**
When socket() is called on cc3220sf_launchxl, it always returns fd of 0.

**To Reproduce**
Call socket() in main() multiple times, and you will see that 0 is always returned.

**Expected behavior**
I expect different socket fds to be returned for different sockets.

**Impact**
Can only use one socket in an application.

**Environment (please complete the following information)

[2019-01-23 00:13] nashif commented on #12571
also note that when building with the beta SDK 0.10.0-beta3 we get this:

[code]

[2019-01-23 00:15] nashif commented on #12571
could be related?

gcc-mirror/gcc@a82502d
gcc-mirror/gcc@3cf7fdd

[2019-01-23 03:36] franciscomunoz opened #12652 "UART console is showing garbage with driver uart_ns15560"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
 Removed the + 1 in the following line
               divisor = ((dev_cfg->sys_clk_freq / baud_rate) >> 4) + 1;
and characters are properly printed.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD= "The board is not in the t

[2019-01-23 03:40] nashif commented on #12652
@vonhust I did not spot those changes to the driver when it was submitted. We should not have board/soc specific changes in the driver, if the driver requires some other values it should be supported as a new kconfig.
Can you please remove the IOTDK related checks and instead make this configurable in some other way (using kconfig for example)?

[2019-01-23 04:02] nashif opened #12653 "Sanitycheck should not write results into scripts/sanity_chk"
**Describe the bug**
Not a bug really, has been this way since day 1. We need to stop writing into scripts/ and have all output in 1 place. Sanitycheck might be invoked on tests out of the tree and results should be written where the script is called, preferably in sanity-out

**To Reproduce**

Run sanitycheck and example scripts/sanity_chk

**Expected behavior**
Write results along side all other

[2019-01-23 04:38] nwsetec commented on #12453
@pizi-nordic ok thanks for this advice, I will try it.

[2019-01-23 05:34] AdithyaBaglody commented on #12571
@nashif The beta SDK is incompatible with the current zephyr. Provide all the information and the patches that are needed to do a simple build.

[2019-01-23 05:35] nashif commented on #12571
the beta SDK works with the xtools variant

`export ZEPHYR_TOOLCHAIN_VARIANT=xtools`

[2019-01-23 05:37] nashif commented on #12571
the issue with the new SDK is another issue, the original issue is reproducible with the current SDK and gcov from recent toolchains.

[2019-01-23 05:55] AdithyaBaglody commented on #12571
Not possible. i tested on multiple machines. with the current SDK

I dont have this "Xtools"

[2019-01-23 05:56] spoorthik opened #12654 "Build error while executing tests/kernel/smp on ESP32"
**Describe the bug**
A build error is observed stating 'set_kernel_idle_time_in_ticks' defined but not used.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup  build environment for ESP32
2. cd zephyr.git/tests/kernel/smp
3. mkdir build; cd build
4. cmake -DBOARD=esp32
5. make flash
6. See error

**Screenshots or console output**
[code]

**Environment (please complete the following infor

[2019-01-23 08:35] ioannisg commented on #12548
This will be handled in the ARM MPU re-work (for 1.14)

[2019-01-23 10:03] #12544 closed

[2019-01-23 10:15] nvlsianpu opened #12657 "subsys/settings: fcb might compress areas more than once"
FCB bak-end might compress areas more than once.

Compression is requested up to CONFIG_SETTINGS_FCB_NUM_AREAS while this is maximum capacity for FCB areas used - settings fcb instance might uses less areas.

[2019-01-23 12:57] nashif commented on #12571
yes possible. This is an issue I reported already last year and I demonstrated to you how it did not work on my Fedora 29. Did you try on Fedora 29? What is your host distro and version? What is the toolchain version of your host?

xtools = the beta SDK you download from https://github.com/zephyrproject-rtos/sdk-ng/releases/tag/v0.10.0-beta4. instead of zephyr as variant you set xtools and point X

[2019-01-23 13:17] aescolar commented on #10512
This topic does not seem to be needing TSC attention today. So removing the TSC label

[2019-01-23 13:40] aurel32 commented on #12548
This currently blocks PR #11888. Can we agree to also have that one merged for 1.14?

[2019-01-23 13:42] pabigot commented on #12226
Below is from https://github.com/zephyrproject-rtos/zephyr/pull/12647#issuecomment-456769915 which is being fast-tracked.  After further thought, I think the point that we're going to intentionally (eventually) change the one complete stable API in Zephyr based on conformance to the Linux SPI device tree description is worth at least making explicit, if not reconsidering.

[2019-01-23 13:43] #12657 closed

[2019-01-23 14:14] ioannisg commented on #12548
That's ok with me

[2019-01-23 15:33] vanwinkeljan commented on #9924
@MrPointer could you share how you reproduced?
I tried with hello world sample by enabling CONFIG_SEGER_SYSTEMVIEW and CONFIG_NEWLIB_LIBC

[2019-01-23 17:07] pabigot commented on #12622
It appears that this function was present in the old `rtc` API, implemented in `ll_stm32`, `mcus`, and `qmsi`.   I'm not sure whether the operational behavior is the same in them, or that the documentation in counter matches their behavior (certainly "interrupt status register" is a bit vague, and it's unclear whether this supposed to be specific to wakeup-from-rtc or also usable in higher-level i

[2019-01-23 17:14] andyross commented on #12654
Yeah, I dropped a patch somewhere.  @dcpleung reported that esp32 doesn't build earlier (and I blew him off while dealing with timer stuff -- should have listened more carefully, sorry!), and in fact qemu_x86_64 remains blacklisted on that test when I know it was working.

Will fix.

[2019-01-23 19:07] franciscomunoz commented on #12652
The selection of UART_REG_ADDR_INTERVAL is also wrong. We have a different ARM SOC which requires UART_REG_ADDR_INTERVAL to be 1.
The patch from @fabled is far better :

https://github.com/zephyrproject-rtos/zephyr/pull/5383/commits/c1e41d41f8dcebaf54a6a417d295bf5c480891e3

[2019-01-23 19:36] andyross commented on #12409
Do we consider it a bug?  This is the way Zephyr has behaved forever and the existing design just preserves the behavior.

Quite frankly I'm sort of exhausted with timer at this point.  Tell me what needs fixing and I'll fix it.  I have no horse in this particular race.

[2019-01-23 20:17] pabigot commented on #12409
@andyross I understood you to say it was a bug (well, an unintentional change) here: https://github.com/zephyrproject-rtos/zephyr/issues/12332#issuecomment-452807555

I see you later commented you didn't feel this was important, so feel free to close this to confirm that position.  I only opened it because the only record of the behavior change is buried in comments in a relatively unrelated issue

[2019-01-23 20:38] #12541 closed

[2019-01-23 21:17] d3zd3z commented on #3884
@agross-linaro do we want to consider this closed as part of the MQTT demo?

[2019-01-23 21:37] nashif opened #12671 "Documentation Restructuring and Cleanup"
**Is your enhancement proposal related to a problem? Please describe.**

- Too many entry points in the documentation and split between details and API documentation.
- Too many intermediate pages making it difficult to find relevant information
- Subsystem documentation is being added adhoc without any structure
- Mix between API documentation, technical overviews and general developer guides

**

[2019-01-24 00:33] #11605 closed

[2019-01-24 00:35] galak commented on #7463
Closing this PR as we've merged #12647.

[2019-01-24 00:35] #7463 closed

[2019-01-24 02:19] HelloOumiga opened #12677 "USB: There are some limitations for users to process descriptors"
When I am doing some development related to the Zephyr USB device stack, I  found that the descriptors process has the following limitations:
1.  The class interface descriptors are in the class driver (like \subsys\usb\class\hid\core.c ), the existed descriptors are only aimed for one instance, sometimes I need to enable a composite device, for example HID+HID.
2.  For the high speed device, it s

[2019-01-24 06:51] AdithyaBaglody commented on #12571
Few things to note here.
1. Sanitycheck script is doing a different build. I am not sure what it is. But when I run manually with coverage enabled. the build passes.
2. GCC counters for gcov has changed and this will be made into a PR.
3. sanitycheck should always use the gcov binary available in the SDK. It will cause incompatibility when we use different version of gcc and gcov.
(FYI I tested th

[2019-01-24 07:43] mike-scott commented on #12203
First I apologize to everyone on this issue.  I was working with OpenThread and Zephyr heavily during the holidays and then immediately got drug off onto another project.  I haven't had much time till now to get back into this.

@rlubos
In your example, I see you have an actual public IPv6 prefix 2a02:f78:1:315::/64 (GUA)

In my case, I'm working with an edge gateway setup where we translate IPv6

[2019-01-24 08:07] erwango opened #12679 "Move disco_l475_iot1 BT to new DTS CS SPI handling"
**Is your enhancement proposal related to a problem? Please describe.**
Following merge of https://github.com/zephyrproject-rtos/zephyr/pull/1264, move BT chip control for this board to the CS SPI configuration proposed by this change

**Describe the solution you'd like**
cf https://github.com/zephyrproject-rtos/zephyr/pull/12647/commits/47825f51277e9c5028b95e9fa2495cfd880ab987

[2019-01-24 08:38] jarz-nordic commented on #12501
@tautologyclub : UART and UARTE SHIM has been prepared by me at the same time. I had internall discussion about the approach and we decided that UARTE shim is multiinsance while UART SHIM is not.
The reason is quite simple: there is no and there will be no Nordic microcontroller with more than 1 UART instance.
And if by any chance this will change we will update the SHIM.

[2019-01-24 08:42] MrPointer commented on #9924
Well first I tried it on a personal project, but now I've tried it on the **philosophers** example as recommended in the docs, and it still fails.
Besides `CONFIG_SEGER_SYSTEMVIEW` and `CONFIG_NEWLIB_LIBC`, I've set `CONFIG_HAS_SEGGER_RTT` as well (seems obvious but might be important to point).

[2019-01-24 08:43] jarz-nordic commented on #12501
Regarding power management for UARTE we will try to prepare a fix for that shortly.

[2019-01-24 08:53] vikrant8051 commented on #12574
@jhedberg
Have you found previously attached debug log useful ?

FYI, I can't check mentioned scenario with samples/boards/nrf52/mesh/onoff-app because BUS FAULT ...

***** Booting Zephyr OS zephyr-v1.13.0-3474-gdcad256106 *****
Initializing...
***** BUS FAULT *****
  Instruction bus error
***** Hardware exception *****
Current thread ID = 0x20001cf4
Faulting instruction address = 0x11f38020
Fatal

[2019-01-24 08:53] Qbicz commented on #12410
@nordic-krch can we first fix the problem I mentioned? The visible problem is that on any assert, nothing is printed out and user has to guess that it was an assertion and use debugger to get to know where it happened.

And the `printk` has to be handled by logger `CONFIG_LOG_PRINTK=y`, because otherwise it locks RTT which is dangerous when anything is printed from interrupts.

Let's handle this p

[2019-01-24 09:12] mandarcthorat1 commented on #12319
Hi @jarz-nordic ,

The issue is not related to access rights. The coverity website is currently down.

[2019-01-24 09:12] jhedberg commented on #12574
@vikrant8051 have you tried reproducing with gdb and getting a backtrace? Also, have you verified that the usual suspect, i.e. stack overflow, isn't the cause?

[2019-01-24 09:12] vikrant8051 commented on #12574
@jhedberg

I do testing now multiple time & would like to conclude that issue is only with
App key. After 2nd time provisioning & reset, App key for Models not get
properly bind to models or not it get retrieve from persistent storage.

If there is bug in app itself, then why it is only related
with App key ?

[2019-01-24 09:21] vikrant8051 commented on #12574
@jhedberg

Sorry, I don't know how to do that.

I am trying now.

[2019-01-24 09:40] vikrant8051 commented on #12574
@jhedberg

Debug log after enabling CONFIG_INIT_STACKS=y ...

[log2.txt](https://github.com/zephyrproject-rtos/zephyr/files/2791024/log2.txt)

[2019-01-24 10:38] carlescufi opened #12681 "BLE Split Link Layer"
The "split link layer" is a version of the BLE controller which is split into:
* An upper, HW independent, LL (ULL)
* A lower, thin, LL (LLL), which depends on the particular HW being used

Currently this split LL is part of the master branch code, but is disabled ([`CONFIG_BT_LL_SW_SPLIT`](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_BT_LL_SW_SPLIT.html?highlight=config_bt_ll_sw

[2019-01-24 10:39] carlescufi commented on #12681
CC @jhedberg @Vudentz

[2019-01-24 10:41] aescolar commented on #12681
CC @mtpr-ot @thoh-ot  @wopu-ot

[2019-01-24 10:42] aescolar commented on #12681
@pskhansen

[2019-01-24 11:10] jhedberg commented on #12681
Does the new controller support Advertising Extensions "out of the box"? If not, that should be added to the list as well, I suppose.

[2019-01-24 12:07] aurel32 commented on #12203
Thanks @mike-scott for the details. From the description, I would like to add it's actually a different issue than the one I encountered, and my issue should be fixed by filtering out RLOC and ALOC from Zephyr's interface.

@rlubos I am available for testing such a patch when you have one ready.