[2020-03-16 19:25] carlosedp commented on #23395
Hi folks, any news on this?
Cc. @carlescufi @nategraff-sifive

[2020-03-16 19:31] andrewboie commented on #23504
Through bisection this PR seems to be the culprit: https://github.com/zephyrproject-rtos/zephyr/pull/23183

[2020-03-16 19:31] andrewboie commented on #23504
@xodus7 FYI

[2020-03-16 19:32] nategraff-sifive commented on #23395
I'm sheltering in-place for the foreseeable future and I don't have a board with me, so if you want progress from this it's not going to be from me, unfortunately. Sorry about that.

[2020-03-16 19:36] carlosedp commented on #23395
Could you try with a simulated HiFive1 on Antmicro Renode?

Check: https://www.zephyrproject.org/developing-zephyr-rtos-embedded-applications-on-platformio-and-simulating-on-antmicro-renode/

[2020-03-16 19:42] andrewboie commented on #23504
This seems to "fix" it, but I don't know if this is the right thing to do as we don't express dependencies on the subsystem json any more.

Maybe the best thing to do is just combine syscalls_json and subsys_json into one file

[code]

[2020-03-16 20:43] xodus7 commented on #23504
Interesting, sorry that I didn't notice this issue in my original PR.

[2020-03-16 20:54] #12872 closed

[2020-03-16 21:21] dleach02 commented on #23465
Not sure you need to complicate this as it seems the key establishment in BLE is okay. Since you are attempting to deal with the "I have the device" and "I'm authenticated" to use the device.

[2020-03-16 21:29] sslupsky commented on #23111
Yes, detach and attach issues.  I can attach / detach three times and then it crashes.

Ahh, I see the brk issue.  This might be the cause of my problem.  I'll have a closer look.

Thank you.

[2020-03-16 21:29] jenmwms commented on #23459
@xuhao8210 Thanks for suggesting changes. I agree with the approach, however I have a comment about renaming the 1st case to `test_uart_config_set()`.
- Is it breaking any test framework guidelines? IME the style is `test_<api_function_name>()`.
- Middle ground is `test_uart_configure_set() so we still use the relevant function name but indicate something slightly different is happening in that te

[2020-03-16 21:35] ceolin commented on #20136
Both cases were fixed. Just closing this issue.

[2020-03-16 21:35] #20136 closed

[2020-03-16 21:49] jenmwms commented on #23459
Why do we need to rename the first case? We have 2 test cases:
1. test_uart_configure()
2. test_uart_config_get()

[2020-03-16 21:52] jenmwms commented on #23459
<For the 1st case , we may only force on testing for setting configuration, so we may use the 1st case from your last version: 6c1156d to name test case: “test_uart_config_set()”.>

So we do not (or cannot) verify the 1st test works by checking a value?

[2020-03-16 22:02] andrewboie opened #23507 "samples/subsys/shell/shell_module doesn't work on qemu_x86_64"
**Describe the bug**
When I run this sample under qemu_x86_64 I do not get a shell prompt.

**Expected behavior**
An interactive shell prompt should be available that accepts commands.

**Impact**
Not sure if this is a sample issue or the shell subsystem is broken in some way. Could be an issue with the x86_64 arch, or an SMP problem.

[2020-03-16 22:03] andrewboie commented on #23507
I think this is an SMP problem, the sample works fine if I set CONFIG_MP_NUM_CPUS=1

[2020-03-16 23:17] jenmwms commented on #3723
Adding reference to the #21492

[2020-03-16 23:35] yasokada commented on #21899
@erwango
cc: @FRASTM

Yes. After checking what's happening, I'll open a new issue for it.

[2020-03-17 00:52] stephanosio commented on #22078
@tagunil Could you check if https://github.com/zephyrproject-rtos/zephyr/pull/23511 fixes the problem?

[2020-03-17 03:54] chen-png commented on #23309
for acrn, each serial line has a '\r' char in front of the output, likes this:
b'\r PASS - test_fifo_is_empty_thread \r\n'

after the decode('utf-8', 'ignore') and rstrip(), the result likes this:
   \r PASS - test_fifo_is_empty_thread

but this can't be match successfully in result_re.match in harness.py, this \r will influence the match result.
also in the generated sanitycheck.log, in each seri

[2020-03-17 04:10] chen-png commented on #23473
@ioannisg  yes, this issue happened since 17b19eb.

[2020-03-17 05:42] Weining2019 opened #23514 "Allocate executable memory for ESP32"
**Is your feature request related to a problem? Please describe.**
**There is a requirement in our project that executing code in DRAM. But I find seems it doesn't work. Here is my experimental source code. Based on the hello_world sample and replace src/main.c with:**

[code]
**Run this code and the system halt, and I get below stack trace in gdb:**
[code]
**Describe the solution you'd like**

-

[2020-03-17 05:50] mayankpatel17 commented on #23319
Update : Trying with the zephyr V2.2.99, Facing some compilation issues.
I will update here once anything is found.

[2020-03-17 06:15] wentongwu commented on #23274
[code]
if enabled CONFIG_KERNEL_DEBUG, it will use printk to output debug message. But for your test case, you also enable logging system with CONFIG_LOG=y, I think we should same mechanism to do the output, so could you please try below patch with latest commit, I test it locally, there is no hang like the description.

[code]

[2020-03-17 08:01] stephanosio commented on #22956
@andrewboie I am seeing the same problem on `qemu_cortex_r5` which uses `xlnx_psttc_timer`.

My question is: is it a _requirement_ for `z_timer_cycle_get_32` to return the correct cycle count even when interrupt is disabled?

If not, wouldn't it make more sense to fix the `tests/kernel/interrupt` test, which relies on this behaviour?

[2020-03-17 08:42] stephanosio opened #23519 "Kernel interrupt test hangs when running with IRQ lock intolerant timer"
**Describe the bug**
The `tests/kernel/interrupt` test (in particular, `test_prevent_interruption`) hangs when running on a platform that uses a system timer that requires the timer interrupt to be serviced in order for `z_timer_cycle_get_32` to return the correct value (i.e. "IRQ lock intolerant timer").

These platforms include (but are not limited to):
* qemu_nios2 (`altera_avalon_timer_hal`)
*

[2020-03-17 08:43] stephanosio commented on #23519
cc @andrewboie

[2020-03-17 08:44] xuhao8210 commented on #23459
@jenmwms  For the test case name,  you are right, and I forgot the name style, originally I would like to make the test case to better understand based on test case name.  So please keep the test case name. Sorry for making you confuse. Thanks.

[2020-03-17 09:01] WilliamGFish commented on #3723
HI Jen,
I think we are looking at two different things, the work being done under #21492 etc is a UART driven AT modem driver where as this is relating to using the esp as an MCU rather than a slave modem.

Billy..

[2020-03-17 09:07] xuhao8210 commented on #23459
@jenmwms  For the 1st test case issue,  if the 1st case is also include the checking point that it checks whether output value is same with the input value, the 1st case will same with 2nd case.
Personally I think that one case is enough because the 2nd case have covered the 1st case’s test point (e.g. refer the 2nd case in the PR: 23509), so I had ever given the comment : "we may merger the 2 tes

[2020-03-17 09:18] JordanYates opened #23520 "JLink Thread-Aware Debugging (RTOS Plugin)"
SEGGER J-Link is supported as a flash runner for a substantial portion of boards supported by Zephyr (131 across nrfjprog and jlink). However there is currently no support for thread-aware debugging using the suite of debug tools that use JLink as a backend (arm-none-eabi-gdbserver, J-Link GDB Server).
Those using external SEGGER jlink based flash tools are forced to choose between using JLink as

[2020-03-17 09:28] vaussard commented on #23248
You have an implementation of `strlcpy()` in Zephyr SDK:
[code]
but it is hidden by default. You have to `#define _GNU_SOURCE` before including `string.h`.

[2020-03-17 11:13] #23246 closed

[2020-03-17 11:37] #23494 closed

[2020-03-17 11:40] stephanosio commented on #11261
@mnkp Could you try adding `isb` before `wfi` and see if that makes a difference? (#23511)

[2020-03-17 11:43] tagunil commented on #22078
@stephanosio Yeah, #23511 works, although I still can't understand why.

[2020-03-17 12:03] joerchan commented on #18207
Bluetooth TX stack was overflowing.
Adding these options would fix the problem:
[code]

However, it appears enabling QEMU_X86 with code coverage has a severe stack size increase, almost twice the amount of stack use for all stacks. Enabling code coverage would break many optimized stack sizes in the system.
Would code coverage with native_posix be better perhaps? The test passes without modificati

[2020-03-17 13:01] ioannisg commented on #23473
Will take a look and update here.

[2020-03-17 14:18] #23295 closed

[2020-03-17 14:28] Abz23 commented on #23496
Thanks for getting back to me so quickly.

I have made sure to repeat all the steps in the getting started link you posted but still with no luck.

Can you please inform me what am missing as I have tried reinstalling and updating west?

C:\Users\A A\zephyrproject\zephyr>west build -p auto -b nrf52840_pca10056 samples/basic/blinky
-- west build: making build dir C:\Users\A A\zephyrproject\zephyr\b

[2020-03-17 14:49] joerchan commented on #18207
Closing this issue without fixing the build configuration.

Running these tests with qemu_x86 will require increasing stack sizes for multiple tests.
Running code coverage with native_posix is recommended instead. This test passes for native_posix with code coverage enabled.

[2020-03-17 14:49] #18207 closed

[2020-03-17 14:54] stephanosio commented on #23519
Related to #22956

[2020-03-17 15:26] Abz23 commented on #23496
I think the issue is to do with this error below, but I am not sure how to rectify it.

Many thanks

CMake Error at CMakeLists.txt:5 (include):
  include could not find load file:

    /cmake/app/boilerplate.cmake

-- The C compiler identification is unknown
-- The CXX compiler identification is unknown
CMake Error at CMakeLists.txt:6 (project):
  No CMAKE_C_COMPILER could be found.

  Tell CMake

[2020-03-17 15:40] ChristianHirsch commented on #23280
@cvinayak I wrote a python script, that reproduces the error by using the bluez d-bus api. I have a similar behavior: it runs without any problems with the internal adapter, but I get errors with the `hci_usb` sample.
Could you please check if this works with your setup? The error I get is the following when disconnecting:
[code]
The script is available [here](https://gist.github.com/ChristianHirs

[2020-03-17 15:40] drandreas opened #23528 "k64f dts flash0/storage_partition 8KiB -> 64KiB"
**Describe the bug**

[boards/arm/frdm_k64f/frdm_k64f.dts](../blob/master/boards/arm/frdm_k64f/frdm_k64f.dts) reads as Follows:
[code]

To my understanding 64KiB (0x00010000 to 0x0001ffff) should be available to the application. However dts only assigned 8 KiB (<0x0001e000 0x00002000>) as storage space.

I highly suspect that
`reg = <0x0001e000 0x00002000>;`
should be changed to
`reg = <0x00010000

[2020-03-17 15:41] erwango opened #23529 "Convert STM32 drivers to new DT macros"
In https://github.com/zephyrproject-rtos/zephyr/pull/23285, some STM32 have been converted to DT_INST usage to help cleaning up fixup files.
For remaining drivers this was not possible to use DT_INST for various documented reasons.
Work should be completed by using new DT macros (such as DT_NODELABEL_FOO).
List of these drivers is:
- [x] drivers/can/can_stm32.c (cf below comment)
- [x] drivers/eth

[2020-03-17 16:07] #23504 closed

[2020-03-17 16:13] mbolivar-nordic commented on #23452
I've switched my work-related account to @mbolivar-nordic (https://github.com/zephyrproject-rtos/zephyr/pull/23530).

[2020-03-17 16:13] mbolivar-nordic commented on #23425
I've switched my work-related account to @mbolivar-nordic (https://github.com/zephyrproject-rtos/zephyr/pull/23530).

[2020-03-17 16:14] mbolivar-nordic commented on #23161
I've switched my work-related account to @mbolivar-nordic (https://github.com/zephyrproject-rtos/zephyr/pull/23530).

[2020-03-17 16:14] mbolivar-nordic commented on #22562
I've switched my work-related account to @mbolivar-nordic (https://github.com/zephyrproject-rtos/zephyr/pull/23530).

[2020-03-17 16:15] carlescufi commented on #22758
API meeting:

This applies only to the system clock that drives the kernel (ticks) time management.
The issue appears both in `POST_KERNEL` system initialization and also `main()`.

Suggestion (@carlescufi):
- Introduce a new `BOOT_WAIT_FOR_SYS_CLOCK_STABLE` that defaults to `=y` but can be set to `=n` by the user if it needs to operate very early on before the system clock crystal has settled
Rel

[2020-03-17 16:24] carlescufi commented on #23441
API meeting:

@MaureenHelm:
- Should we wait until we have a better overview of pinmux before we introduce this API, since you need to switch the pins from the I2C peripheral to the GPIO one in order to bitbang a reset of the bus.
@pabigot
- If we could get the pins and DT flags from the I2C driver this could be done collaboratively with the I2C driver (acquire gpio, release gpio).

[2020-03-17 16:34] #23309 closed

[2020-03-17 17:08] nordic-krch commented on #22758
I missed the meeting but have one additional note. Not sure how nordic specific is that but low frequency clock (system clock in nordic case) have two sources: RC (faster startup ~1ms, less stable) or XTAL (long startup time ~250ms, precise, needs external hardware). When XTAL source is picked then clock starts in 2 phases, first RC starts so that low frequency clock can run but is less stable, wh

[2020-03-17 17:18] andrewboie commented on #23519
@stephanosio the problem here is that when IRQs are locked, k_busy_wait() hangs forever. This is the bug, the issue is not the test, the test happens to expose it.

I would NACK any patch that changes the test to sweep this issue under the rug. If anything, a specific dedicated test that shows that k_busy_wait() works with IRQs locked needs to be *added*

[2020-03-17 17:19] andrewboie commented on #22956
It's bugged. The intent of k_busy_wait() is to allow for maximal latency control for stuff like drivers, and the expectation is that it can operate in ISRs or with interrupts locked.

Nope.

[2020-03-17 17:26] carlescufi commented on #1333
N/A anymore

[2020-03-17 17:26] #1333 closed

[2020-03-17 17:27] carlescufi commented on #1894
Too use-case specific, TF-M already covers this for TZ.

[2020-03-17 17:27] #1894 closed

[2020-03-17 17:28] carlescufi commented on #1900
This is now complete

[2020-03-17 17:28] #1900 closed

[2020-03-17 17:31] andyross commented on #23519
Jumping in with a quick triage on those two drivers, just for postericty: yeah, what both of these do is return a static in-memory count from z_timer_cycle_get_32() which is updated only from the timer ISR.  So anything that blocks the timer ISR from arriving will prevent this clock from advancing.

The intent of this API is that it should be a synchronous read from some sort of hardware counter,

[2020-03-17 17:32] carlescufi commented on #3232
N/A

[2020-03-17 17:32] #3232 closed

[2020-03-17 17:33] carlescufi commented on #3559
@ceolin if this is planned for a particular release please let us know

[2020-03-17 17:34] andyross commented on #23519
This (unused) register in the Xilinx driver looks promising:

[code]

The Altera driver is on top of a HAL with thicker headers, so I gave up looking.  I'm sure it has one too though.

[2020-03-17 17:35] Abz23 commented on #23496
My problem is that I am unable to init west , I keep getting this error

Any guidance would be appreciated

C:\zephyr>west init
=== Initializing in c:\zephyr
--- Cloning manifest repository from https://github.com/zephyrproject-rtos/zephyr, rev. master
Initialized empty Git repository in C:/zephyr/.west/manifest-tmp/.git/
remote: Enumerating objects: 119, done.
remote: Counting objects: 100% (119/

[2020-03-17 17:35] carlescufi commented on #3909
Please submit a Pull Request.

[2020-03-17 17:35] #3909 closed

[2020-03-17 17:36] carlescufi commented on #4475
Please submit a Pull Request

[2020-03-17 17:36] #4475 closed

[2020-03-17 17:36] carlescufi commented on #4832
Please submit a Pull Request

[2020-03-17 17:36] #4832 closed

[2020-03-17 17:37] carlescufi commented on #4911
N/A

[2020-03-17 17:37] #4911 closed

[2020-03-17 17:41] carlescufi commented on #7520
@nordic-krch could you please check if this still applies?

[2020-03-17 17:42] carlescufi commented on #7868
This will be addressed in a more generic way in the future.

[2020-03-17 17:42] #7868 closed

[2020-03-17 17:42] carlescufi commented on #8139
Please submit a Pull Request

[2020-03-17 17:42] #8139 closed

[2020-03-17 17:43] carlescufi commented on #9711
This is done, see hwinfo API.

[2020-03-17 17:43] #9711 closed

[2020-03-17 17:44] carlescufi commented on #10182
@tejlmand please close if you think this is not applicable anymore

[2020-03-17 17:45] carlescufi commented on #12068
@nordic-krch should we close this now?

[2020-03-17 17:46] carlescufi commented on #12385
Please submit a Pull Request

[2020-03-17 17:46] #12385 closed

[2020-03-17 17:47] carlescufi commented on #12440
@cvinayak @pdunaj @joerchan is this still applicable?

[2020-03-17 17:53] carlescufi commented on #14591
Please submit a Pull Request

[2020-03-17 17:55] carlescufi commented on #15025
This requires #12386 first

[2020-03-17 17:57] carlescufi commented on #15098
@Vudentz and @paulgavrikov does this still apply, or should we close it?

[2020-03-17 17:57] carlescufi commented on #15421
@StefJar can you please send a Pull Request for this?

[2020-03-17 17:58] carlescufi commented on #15453
@ulfalizer could you comment on this one?

[2020-03-17 18:00] carlescufi commented on #15489
@ulfalizer could you comment on this one please?

[2020-03-17 18:06] #23496 closed

[2020-03-17 18:11] #15304 closed

[2020-03-17 18:26] joerchan commented on #12440
I suspect this was the issue:

[code]
AFAIK adv reports with directed advertiser works. Given that one of the two options are enabled.
Using BT_PRIVACY is the one I would recommend in this case.

[2020-03-17 19:09] andrewboie commented on #23519
@andyross Altera requires another timer source AFAIK. There is a comment that explains this. This is a virtual FPGA CPU so it's possible to configure this when defining the CPU itself. Nobody's had time or inclinationt to add support yet.

[code]

[2020-03-17 21:01] #21899 closed

[2020-03-17 22:03] #23299 closed

[2020-03-17 23:05] mbolivar commented on #23539
Hello, thanks for your report. Sorry for the traceback; that is not very user friendly and I will try to fix it.

However, I think this is a problem with your board, not west flash.

In the future, please don't truncate command lines you typed.

Including as much detail as you can about what you did makes it easier to help you (see https://docs.zephyrproject.org/latest/guides/getting-help.html#how

[2020-03-17 23:05] #23539 closed

[2020-03-17 23:18] mbolivar commented on #23539
Hmm, what version of zephyr are you using? I can't reproduce this traceback.

On v2.2 and the latest master branch, I get:

[code]

In particular, I see this additional warning not present in the original report output:

[code]

Do you also get this warning? It explains the problem, so I think I'm just going to make it a fatal error instead of a warning.

Thanks again for the report and bringing t

[2020-03-17 23:24] wentongwu commented on #23274
@albertofloyd I will submit a PR.

[2020-03-17 23:37] #20301 closed

[2020-03-18 00:06] stephanosio commented on #22956
@andrewboie Fair enough, I think it would be helpful to mention that in the docs if it hasn't been mentioned already.

[2020-03-18 00:10] stephanosio commented on #23519
@andrewboie That would be helpful. There seem to be quite a few (at least 3 IIRC) timer drivers that do not conform to this.

[2020-03-18 00:16] stephanosio commented on #23519
@andyross For Xilinx (and possibly Altera), we would need to do one of the following:

1. Switch the timer mode of operation from "Interval" to "Capture" (i.e. convert it to a "running timer") and return its register value.
2. Use another timer as an always-running timer and return its register value.

[2020-03-18 00:25] stephanosio commented on #23519
It seems like I might already have a fix here (I was going to implement tickless support for TTC, but decided to drop it because QEMU didn't like it; #19869):
https://github.com/stephanosio/zephyr/commit/9da8fdef6db8d29e658cbafb3e69f9fca6dd6961

I will create a PR for this today (without tickless support).

[2020-03-18 00:36] stephanosio opened #23541 "xilinx_zynqmp: k_busy_wait() never returns if called with interrupts locked"
**Describe the bug**
k_busy_wait() never returns if called with interrupts locked on the `qemu_cortex_r5` platform, which uses the `xilinx_zynqmp` SoC with `xlnx_psttc_timer` system timer.

For more details, refer to the issue #23519.

**Proposed solution**
Switch the timer mode of operation from "Interval" to "Match" (i.e. convert it to a "running timer") and return its register value.

[2020-03-18 00:50] #22903 closed

[2020-03-18 00:51] #21158 closed

[2020-03-18 00:52] #21390 closed

[2020-03-18 00:52] #11149 closed

[2020-03-18 00:53] #21455 closed

[2020-03-18 00:53] #3730 closed

[2020-03-18 00:54] #3729 closed

[2020-03-18 00:54] #3727 closed

[2020-03-18 00:54] #3726 closed

[2020-03-18 02:06] stephanosio commented on #23519
As far as I can see, the `litex_timer` should have the same problem.

@mateusz-holenko @kgugala @pgielda Could you confirm?

[2020-03-18 02:13] chen-png commented on #23473
this test also failed on iotdk board.

[2020-03-18 02:41] chen-png opened #23544 "tests/kernel/mem_protect/syscalls failed on iotdk board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b iotdk -p auto tests/kernel/mem_protect/syscalls
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-375-ge13205b25657  ***
Running test suite syscalls

starting test - test_string_nlen
PASS - test_string_nlen

starting test - test_string_nlen
E: syscall z_vrfy_string_nlen failed c

[2020-03-18 03:01] chen-png commented on #22625
this issue caused low pass rate on frdm_k64f board in QA, so change it's priority to high.

[2020-03-18 05:23] cvinayak opened #23546 "Kconfig: default value not assigned when inheriting Kconfig values in range"
**Describe the bug**
In the below snippet, CONFIG_BT_CTLR_ADV_AUX_SET is ''

[code]

**To Reproduce**

Use: https://github.com/zephyrproject-rtos/zephyr/pull/22237
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=nrf51_pca10028 -DCONF_FILE=prj_controller_dbg_ll_sw_split.conf  ../tests/bluetooth/init
3. ninja
4. See error output listed in following sections

**Expe

[2020-03-18 07:38] cvinayak commented on #9608
Closing this due to inaction.

[2020-03-18 07:38] #9608 closed

[2020-03-18 08:32] drandreas commented on #23528
It looks like it was also propagated into k66 dts #22736

[2020-03-18 09:03] parthitce commented on #23528
@drandreas Can this be modified in overlay.dts specific to the application's storage needs?

[2020-03-18 09:20] drandreas commented on #23528
Yes, I've now simply added overlays to my app as follows:

boards/frdm_k64f.overlay
[code]

boards/ip_k66f.overlay
[code]

[2020-03-18 09:29] kruithofa commented on #23482
Same bug is present in the legacy controller

[2020-03-18 10:11] carlescufi commented on #23280
@cvinayak could you take a look please?

[2020-03-18 10:50] anthonybrandon opened #23555 "STM32 SDMMC disk access driver (based on stm32 cube HAL)"
I've written a disk access driver for the stm32 sdmmc component based around the stm32 cube HAL, and I am wondering if there is any interest in merging something like that.
The only related PR I could fine was #13214, but it seems to be abandoned.
If there is interest I will make a PR with my changes.

[2020-03-18 11:05] pfalcon commented on #23473
That's exactly what happens here - use of uninitialized value. The matter is aggravated by using confusing variable names in the testcases. I'm about to submit patch.

[2020-03-18 11:05] cvinayak commented on #23280
@carlescufi yes, placed on the top in my backlog, hope to start on this 19/03.

[2020-03-18 11:20] pfalcon commented on #23473
Fix posted: https://github.com/zephyrproject-rtos/zephyr/pull/23556 . (I would humbly suggest it as an example of a good commit message, which explains the issue, what complicated investigating the issue, and different strategies for addressing both, and why particular solutions were chosen.)

[2020-03-18 12:12] erwango commented on #23555
Hi @anthonybrandon,

There is definitely an interest. Don't hesitate to base your work on https://github.com/zephyrproject-rtos/zephyr/pull/13214 which was of a good quality and had well split commits.

[2020-03-18 12:39] anthonybrandon commented on #23555
@erwango #13214 introduces an API for the low level sdmmc driver (for which I am using stm32 cube). I can upload my change and maybe we can discuss how it should be changed.
If you prefer I push #13214 forward, that is also an option I guess.

[2020-03-18 12:41] anthonybrandon commented on #23555
My PR: #23561

[2020-03-18 12:46] pabigot opened #23562 "build warnings when updating to master from 2.2.0"
Somewhere between 2.2.0 and master a change was made that introduced an API change that is not detected when initiating a non-clean build in an existing directory.

Steps to reproduce:
[code]

Last step produces diagnostics suggesting something should have been rebuilt that wasn't:

[code]

[2020-03-18 13:16] erwango commented on #23555
Thanks. Let's discuss it there.

[2020-03-18 13:24] stephanosio commented on #19869
Re-opening since the QEMU icount mode allows stable emulation of the TTC timer "match" mode.

[2020-03-18 13:39] #20259 closed

[2020-03-18 13:53] jfischer-phytec-iot commented on #23474
I can not reproduce it with latest master (000a7327e1bab2823185854cd6b6589f3bc7c7e1). Please recheck.

[2020-03-18 14:03] mateusz-holenko commented on #23519
@stephanosio It seems so after reading the code, but we'll verify this on HW.

[2020-03-18 14:12] stephanosio commented on #23541
Fixed by #23567

[2020-03-18 14:43] drandreas commented on #23528
But it remains strange that the documentation and the default layout do not match.

[2020-03-18 15:09] #23482 closed

[2020-03-18 16:17] nashif commented on #22625
did this change ever pass in the past?

[2020-03-18 16:17] sslupsky opened #23571 "drivers: timer: nrf52: Question: Does nRF52840 errata 179 affect nrf_rtc_timer driver?"
I was reviewing the nRF52840 errata and came across errata 179, "RTC: COMPARE event is generated twice from a single RTC compare match".  See https://infocenter.nordicsemi.com/index.jsp?topic=%2Ferrata_nRF52840_Rev2%2FERR%2FnRF52840%2FRev2%2Flatest%2Ferr_840.html

This errata implies that anytime the RTC registers are accessed while waiting for a COMPARE event, a spurious interrupt will be generat

[2020-03-18 16:34] alexanderwachter commented on #22625
The regression was introduced after the HAL upgrade.
@henrikbrixandersen any findings so fat?

[2020-03-18 16:45] pabigot commented on #22758
My impression from the discussion was that the group consensus would be to make state 3 (sys clock stable) the default; at a minimum it's my preference.  The existence of an intermediate state is probably SOC specific so at the Zephyr level this should be a binary decision: wait for stable, or allow to execute without stable.

[2020-03-18 16:52] nashif commented on #23339
fixed in 1.14 branch

[2020-03-18 16:52] #23339 closed

[2020-03-18 17:04] nashif commented on #23210
This test is not designed to run on actual platforms, right now it is whitelisted to native_posix qemu_x86 qemu_cortex_m3 only and does unittesting of network interfaces

[2020-03-18 17:05] nashif commented on #19813
This was fixed by #22984

[2020-03-18 17:05] #19813 closed

[2020-03-18 17:07] nashif commented on #6015
no movement for 2 years, closing

[2020-03-18 17:07] #6015 closed

[2020-03-18 17:22] zephyrbot opened #23573 "[Coverity CID :208927] Dereference after null check in tests/net/icmpv4/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/icmpv4/src/main.c#L442

Category: Null pointer dereferences
Function: `test_icmpv4_send_echo_req`
Component: Tests
CID: [208927](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208927)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://s

[2020-03-18 17:22] zephyrbot opened #23574 "[Coverity CID :208926] Side effect in assertion in tests/kernel/interrupt/src/nested_irq.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/kernel/interrupt/src/nested_irq.c#L158

Category: Incorrect expression
Function: `test_prevent_interruption`
Component: Tests
CID: [208926](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208926)

Details:

[code]

Please fix or provide comments in coverity using the link:

ht

[2020-03-18 17:22] zephyrbot opened #23575 "[Coverity CID :208925] Unsigned compared against 0 in samples/drivers/espi/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/drivers/espi/src/main.c#L204

Category: Control flow issues
Function: `wait_for_pin`
Component: Samples
CID: [208925](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208925)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan9.coverity

[2020-03-18 17:22] zephyrbot opened #23576 "[Coverity CID :208924] Dereference after null check in tests/net/icmpv4/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/icmpv4/src/main.c#L459

Category: Null pointer dereferences
Function: `test_icmpv4_send_echo_rep`
Component: Tests
CID: [208924](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208924)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://s

[2020-03-18 17:22] zephyrbot opened #23577 "[Coverity CID :208923] Out-of-bounds read in drivers/sensor/adxl345/adxl345.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/sensor/adxl345/adxl345.c#L104

Category: Memory - illegal accesses
Function: `adxl345_channel_get`
Component: Drivers
CID: [208923](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208923)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://

[2020-03-18 17:22] zephyrbot opened #23578 "[Coverity CID :208922] Uninitialized pointer read in tests/posix/common/src/pthread.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/posix/common/src/pthread.c#L293

Category: Memory - illegal accesses
Function: `test_posix_pthread_execution`
Component: Tests
CID: [208922](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208922)

Details:

[code]

Please fix or provide comments in coverity using the link:

h

[2020-03-18 17:22] zephyrbot opened #23579 "[Coverity CID :208921] Improper use of negative value in tests/net/socket/af_packet/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/socket/af_packet/src/main.c#L140

Category: Integer handling issues
Function: `test_packet_sockets`
Component: Tests
CID: [208921](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208921)

Details:

[code]

Please fix or provide comments in coverity using the link:

https:/

[2020-03-18 17:22] zephyrbot opened #23580 "[Coverity CID :208920] Resource leak in tests/net/socket/af_packet/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/socket/af_packet/src/main.c#L142

Category: Resource leaks
Function: `test_packet_sockets`
Component: Tests
CID: [208920](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208920)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan9.co

[2020-03-18 17:22] zephyrbot opened #23581 "[Coverity CID :208919] Out-of-bounds read in drivers/sensor/adxl345/adxl345.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/sensor/adxl345/adxl345.c#L100

Category: Memory - illegal accesses
Function: `adxl345_channel_get`
Component: Drivers
CID: [208919](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208919)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://

[2020-03-18 17:22] zephyrbot opened #23582 "[Coverity CID :208918] Side effect in assertion in tests/arch/arm/arm_interrupt/src/arm_interrupt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/arch/arm/arm_interrupt/src/arm_interrupt.c#L104

Category: Incorrect expression
Function: `test_arm_interrupt`
Component: Tests
CID: [208918](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208918)

Details:

[code]

Please fix or provide comments in coverity using the link:

[2020-03-18 17:22] zephyrbot opened #23583 "[Coverity CID :208917] Dereference after null check in tests/net/icmpv4/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/icmpv4/src/main.c#L494

Category: Null pointer dereferences
Function: `test_icmpv4_send_echo_req_bad_opt`
Component: Tests
CID: [208917](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208917)

Details:

[code]

Please fix or provide comments in coverity using the link:

h

[2020-03-18 17:22] zephyrbot opened #23584 "[Coverity CID :208916] Out-of-bounds read in drivers/sensor/adxl345/adxl345.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/sensor/adxl345/adxl345.c#L108

Category: Memory - illegal accesses
Function: `adxl345_channel_get`
Component: Drivers
CID: [208916](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208916)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://

[2020-03-18 17:22] zephyrbot opened #23585 "[Coverity CID :208915] Out-of-bounds access in tests/net/icmpv4/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/icmpv4/src/main.c#L275

Category: Memory - corruptions
Function: `verify_echo_reply_with_opts`
Component: Tests
CID: [208915](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208915)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan

[2020-03-18 17:22] zephyrbot opened #23586 "[Coverity CID :208914] Self assignment in drivers/peci/peci_mchp_xec.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/peci/peci_mchp_xec.c#L280

Category: Incorrect expression
Function: `peci_xec_transfer`
Component: Drivers
CID: [208914](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208914)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan9.cover

[2020-03-18 17:22] zephyrbot opened #23587 "[Coverity CID :208913] Resource leak in tests/net/socket/af_packet/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/socket/af_packet/src/main.c#L142

Category: Resource leaks
Function: `test_packet_sockets`
Component: Tests
CID: [208913](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208913)

Details:

[code]

Please fix or provide comments in coverity using the link:

https://scan9.co

[2020-03-18 17:22] zephyrbot opened #23588 "[Coverity CID :208912] Dereference after null check in tests/net/icmpv4/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/net/icmpv4/src/main.c#L478

Category: Null pointer dereferences
Function: `test_icmpv4_send_echo_req_opt`
Component: Tests
CID: [208912](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208912)

Details:

[code]

Please fix or provide comments in coverity using the link:

https

[2020-03-18 17:46] nashif commented on #3285
duplicate of #2837

[2020-03-18 17:46] #3285 closed

[2020-03-18 18:49] cvinayak commented on #23280
@ChristianHirsch I am able to reproduce the DBus error when running your script. In the btmon logs, it is the same behavior as before, the host stack performs service discovery and enables notifications. I dont see any issue in the hci_usb sample, it is merely doing what the host is telling the controller to do using HCI commands/data.

I tried with hci_usb build with no PHY update, data length an

[2020-03-18 20:04] jukkar commented on #23588
@rveerama1 can you check this one.

[2020-03-18 20:05] jukkar commented on #23587
False positive

[2020-03-18 20:05] #23587 closed

[2020-03-18 20:08] jukkar commented on #23580
False positive

[2020-03-18 20:08] #23580 closed

[2020-03-18 20:09] jukkar commented on #23579
False positive

[2020-03-18 20:09] #23579 closed

[2020-03-18 20:12] andyross commented on #23519
One note relative to the issues being discussed here: devices without access to a proper cycle counter can solve this alternatively with CONFIG_ARCH_HAS_CUSTOM_BUSY_WAIT and an appropriate amount of magic (e.g. a hand-tuned assembly loop).  The use of z_timer_get_cycle_32() is just the default implementation.

[2020-03-18 21:04] henrikbrixandersen commented on #22625
No. I have not seen similar issues with CANopen.

[2020-03-19 01:26] chen-png commented on #23474
same error with 000a732, is there any mistake i made?
 i just used this command "west build -b reel_board -p auto tests/subsys/usb/device/"

*** Booting Zephyr OS build zephyr-v2.2.0-454-g000a7327e1ba  ***
D: lock usb_enable_lock mutex
D: USB detected
D: HF clock start success (0)
D: USB Powered
D: HF clock stop success (0)
D: USB Removed
D: set cb, ep: 0x81
D: EP enable: 0x00
D: EP enable: 0x80
D

[2020-03-19 01:49] chen-png commented on #22625
this test tests/subsys/canbus/isotp/conformance/ was added into repo since commit "3650f21bd8e", it always failed on frdm_k64f board.

[2020-03-19 03:41] cvinayak commented on #23546
@ulfalizer any ETA? @SebastianBoe do you have any comments as to why a default value is not assigned from the range when the range uses another Kconfig value that gets default from its range?

[2020-03-19 06:34] alexanderwachter commented on #22625
If you revert 1e6520c0b06b674190f4a574761dd9c5f4b02142, The test pass. I tested locally before this commit was merged. We need to investigate what has changed there.

[2020-03-19 07:41] stephanosio opened #23593 "Nested interrupt test is broken for RISC-V"
**Describe the bug**
The `test_nested_isr` test in `tests/kernel/interrupt` does not execute the designated interrupt service routine on `qemu_riscv32` and `qemu_risv64`.

**To Reproduce**
Run the aforementioned test on `qemu_riscv32` or `qemu_riscv64`

**Expected behavior**
We should see the messages printed by the ISRs, like below (from `qemu_cortex_m3`):
[code]

**Screenshots or console output*

[2020-03-19 08:09] jukkar commented on #23588
false positive

[2020-03-19 08:09] #23588 closed

[2020-03-19 08:10] jukkar commented on #23585
false positive

[2020-03-19 08:10] #23585 closed

[2020-03-19 08:11] jukkar commented on #23583
false positive

[2020-03-19 08:11] #23583 closed

[2020-03-19 08:12] jukkar commented on #23576
false positive

[2020-03-19 08:12] #23576 closed

[2020-03-19 08:12] jukkar commented on #23573
false positive

[2020-03-19 08:12] #23573 closed

[2020-03-19 08:26] markus-becker-tridonic-com opened #23595 "RF2XX driver Openthread ACK handling"
**Describe the bug**

When using the RF2XX IEEE802.15.4 driver with OpenThread on a NXP K64 platform, I am regularly seeing the following messages:
[code]

**Expected behavior**
ACKs are handled just fine.

**Impact**
OpenThread works as expected, but I am not sure whether there is still a problem lingering.

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Z

[2020-03-19 09:03] SebastianBoe commented on #23546
Is **BT_CTLR_ADV_EXT** true?

[2020-03-19 09:04] SebastianBoe commented on #23546
What is the actual behaviour, that BT_CTLR_ADV_AUX_SET is unset?

It is expected behaviour that BT_CTLR_ADV_AUX_SET is unset when it's dependency BT_CTLR_ADV_EXT is not true.

[2020-03-19 09:07] cvinayak commented on #23546
BT_CTLR_ADV_EXT is true and BT_CTLR_ADV_SET is assigned 1. But BT_CTLR_ADV_AUX_SET is unassigned.

[2020-03-19 09:09] SebastianBoe commented on #23546
What about PERIODIC, is that true?

[2020-03-19 09:12] SebastianBoe commented on #23546
Can you please upload the build_dir/zephyr/.config file ?

[2020-03-19 09:29] cvinayak commented on #23546
There you have my console log and the config file (renamed to txt file). Notice `CONFIG_BT_CTLR_ADV_AUX_SET=`

[console_log.txt](https://github.com/zephyrproject-rtos/zephyr/files/4353666/console_log.txt)
[console_log_config.txt](https://github.com/zephyrproject-rtos/zephyr/files/4353667/console_log_config.txt)

[2020-03-19 09:57] SebastianBoe commented on #23546
This is due to us not specifying a default value.

Adding "default 0" fixes the issue.

From the docs:

https://docs.zephyrproject.org/1.14.0/guides/kconfig/index.html

Arguably, assigning the empty string to an int type should be treated as an error, but I'll leave that up to @ulfalizer .

[2020-03-19 09:59] kkiyota opened #23599 "zephyr/samples/application_development/code_relocation execution stop at z_arm_bus_fault"
When I ran code_relocation sample on my custom board, execution was stopped by vector catch fault at z_arm_bus_fault.  Debugger screen shot is shown below.  I'm not sure so far if this is related to board, soc, DTS, etc or hardware,

Could you advise which one I should check?

![z_arm_bus_fault](https://user-images.githubusercontent.com/59073069/77050466-28367c80-6a0d-11ea-9463-c2cf0b62daad.png)

[2020-03-19 10:03] joerchan commented on #12440
Closing this since I have confirmed with @MarekPieta That discovery of directed advertiser is working.

[2020-03-19 10:03] #12440 closed

[2020-03-19 10:06] MarekPieta commented on #12440
I verified that information about direct advertising packets is properly forwarded to the application through the registered callback. The same callback is used for indirect advertising packets (the advertising type field value is the difference). I tested with the nrfxlib LL.

[2020-03-19 10:13] cvinayak commented on #23546
Whats is inconsistent is `BT_CTLR_ADV_SET` is assigned a default of 1 (based on the range option I assume), default has not been given explicitly in the Kconfig definition.

[2020-03-19 10:31] SebastianBoe commented on #23546
I can't explain this, perhaps having no default value is undefined behaviour.

[2020-03-19 10:38] cvinayak commented on #23546
I fix my PR with explicit default assignments (and conditionals).

I will let @ulfalizer to comment, and close the issue as he feel right.

[2020-03-19 11:17] carlescufi commented on #23373
@stephanosio @ioannisg I have no objections to going forward with this. We should create a new repo for CMSIS that contains all the other applicable components as well (DSP in particular is of interest to many). I would however like to hear from @MaureenHelm, @galak and @nashif before we go ahead.

[2020-03-19 12:16] carlescufi commented on #23373
@stephanosio note that for CMSIS-DSP we will need to settle this first:

https://github.com/zephyrproject-rtos/zephyr/issues/7516

A discussion is ongoing at the board level regarding this.

[2020-03-19 12:31] stephanosio commented on #23373
@carlescufi In #21600, I have already integrated CMSIS-DSP to the Zephyr build system (with full Kconfig support for customisation) in the source code form and linking binary blobs will not be necessary; I suppose #7516 won't be relevant in that case?

In terms of licensing, all CMSIS components (including the CMSIS-DSP) are licensed Apache 2.0.

[2020-03-19 12:52] tejlmand commented on #10182
@carlescufi yep, will try to go through current status to see if more needs to be done.

[2020-03-19 12:57] galak commented on #23373
I'd ask if we need the `qemu_cortex_m3` platform at all.  Is `mps2_an385` sufficient?

[2020-03-19 12:58] starmachine24 opened #23600 "Differences in cycles between k_busy_wait and k_sleep"
Hi,

We are trying to create two tasks that should preempt each other whenever they are close to their deadline and sleep to the deadline when they have finished their execution. But we have noticed that both **k_busy_wait** and **k_sleep** takes different amount of cycles, even though they are given the same amount of time as an argument. This seems odd to us, because shouldn't the task sleep for

[2020-03-19 12:59] stephanosio commented on #23373
@galak https://github.com/zephyrproject-rtos/zephyr/issues/22870

[2020-03-19 13:42] carlescufi commented on #23373
@stephanosio maybe I'm missing something, so CMSIS-DSP is offered both in source code and library form in the CMSIS repo? I thought it was only available as libraries.

[2020-03-19 13:43] carlescufi commented on #23373
Agreed with @stephanosio. Once Cortex-M4 is supported in qemu, m3 is not required at all.

[2020-03-19 13:47] stephanosio commented on #23373
Yep, the upstream CMSIS repository contains both the source code and pre-built libs for the CMSIS-DSP.

The source code can be found here:
https://github.com/ARM-software/CMSIS_5/tree/develop/CMSIS/DSP/Source

[2020-03-19 13:57] nashif commented on #23373
We tried to remove it when we enabled mps2_an385 but there was some resistance due to some drivers and network tests depending on it if I remember correctly. IMO we should consolidate this and cleanup many of the qemu duplicates we have now, also for x86.

[2020-03-19 13:58] steros76 commented on #23425
Sorry, at the moment I can't give you exact command to execute.
Using command line I do it in 2 steps but using Eclipse it works automatically in remote mode.
I should investigate deeply how it works behind the scene. I'll post the instructions when I understand it. Sorry for the delay.

[2020-03-19 13:58] nashif commented on #23373
if we are going to remove cmsis and put it in a module, we should also remove the altera hal at the same time and probably other items in ext and complete abolish "ext/"

[2020-03-19 13:59] ioannisg commented on #23373
For ARMv7-M things are pretty clear; we don't need qemu_cortex_m3, we have mps2_an385 for a Cortex-M3 and we can make it run without MPU. We want to have Cortex-M4F - that's what #23185 will do.

[2020-03-19 14:01] ioannisg commented on #23373
Any particular reason these things need to happen "at the same time"? CMSIS and altera-hal are totally unrelated. Agree with abolishing /ext if possible - just that I am more keen of doing things in steps

[2020-03-19 14:23] chrta commented on #10628
This seems to be fixed for the current master branch (also tests/posix/fs works) :

[code]

[2020-03-19 14:37] gon1332 commented on #23600
I'm writing just to remind of https://github.com/zephyrproject-rtos/zephyr/issues/21762.

[2020-03-19 14:38] gon1332 commented on #23600
On which version of Zephyr did you perform the tests?

[2020-03-19 14:53] mbolivar-nordic commented on #23425
There's no rush. Thank you for your response.

[2020-03-19 15:15] galak commented on #23373
We need to sync whatever the CMSIS HAL repo would be w/TFM's CMSIS usage as well.

[2020-03-19 15:19] starmachine24 commented on #23600
We are using version 2.2.99.0

[2020-03-19 15:22] gon1332 commented on #23600
Later on it was fixed. But as it seems now, it re-appeared.

[2020-03-19 15:24] carlescufi commented on #23373
@stephanosio @ioannisg I will move forward with this. I think it should be done in steps:

1. Create the repo
2. Populate it with CMSIS-Core
3. Move CMSIS-Core from `ext/` to the repo
4. Populate the repo with CMSIS-DSP
5. Add CMSIS-DSP support in Zephyr

[2020-03-19 15:40] starmachine24 commented on #23600
ok, do you know which version it was fixed in?

[2020-03-19 15:43] mateusz-holenko commented on #23519
@stephanosio I confirm that the test fails on the HW:
[code]

We'll look into this.

[2020-03-19 15:45] gon1332 commented on #23600
I don't know the place of the fix. Neither the assignees as it seems. But in https://github.com/zephyrproject-rtos/zephyr/issues/21762 you can see that in https://github.com/zephyrproject-rtos/zephyr/commit/f5d2b3271acb5139b6a6871b29803416d4c51d33 it is fixed.

[2020-03-19 15:49] starmachine24 commented on #23600
ah, ok i must have missed that when i read your thread

[2020-03-19 16:39] PiotrZierhoffer opened #23611 "Add QuickLogic EOS S3 HAL west module"
Antmicro is working jointly with QuickLogic on adding their platform support to upstream Zephyr.

While working on https://github.com/zephyrproject-rtos/zephyr/pull/23565 it was pointed out that the HAL module is supposed to be hosted by zephyrproject-rtos.

I would like to propose adding a repository for this module. It currently resides here: https://github.com/antmicro/eos-s3-hal

It's licensed

[2020-03-19 16:46] carlescufi commented on #23611
@galak @MaureenHelm @nashif @ioannisg @andrewboie @jhedberg any objections?

+1 from me on the name: `hal_quicklogic`

[2020-03-19 17:01] nashif commented on #23600
@andyross can you please provide your input here

[2020-03-19 17:12] andyross commented on #23600
It's just a precision issue.  Timer subsystem calls like `k_sleep()` are documented as sleeping for at least as long as the passed argument.  But they also can wake up only on tick boundaries (10ms in this case).

So by asking `k_sleep()` to sleep for at least 10ms, that becomes "at least one tick", so under normal circumstances[1] that means you will wake up anywhere between 1 and 2 ticks in the

[2020-03-19 17:25] andrewboie commented on #23611
Fine w/me.

[2020-03-19 17:32] kkiyota commented on #23599
In addition, it could work on qemu_cortex_m3 and nucleo_f767zi, but not on my own board.  So I assume something wrong for my own board setting.  I need your suggestions which items I should check.

Thanks!

[2020-03-19 18:23] jenmwms commented on #23026
@ZideChen0 Will this issue be resolved by your PR #23325?
From that description, it sounds like the patch yields successfully running samples/subsys/console/echo (test UART driver) on qemu_x86_64 (xapic, SP and SMP).

[2020-03-19 18:34] sslupsky commented on #22247
It is unfortunate Arduino chose to go down the Mbed path.

IMO, Zephyr has done an excellent job of simplifying the build environment.  It is as easy, perhaps easier than, building an app in the Arduino IDE.  If you need to customize your Arduino build environment in any way, it gets very complicated.  Don't get me wrong, the Arduino IDE is a great improvement on make.  I believe Zephyr has evolve

[2020-03-19 20:36] sslupsky commented on #21119
There is one problem with using the compile_commands.json workflow with VSCode.  When you apply the CMAKE_EXPORT_COMPILE_COMMANDS setting, it doesn't seem to propagate to all the required files.

For instance, sam0_rtc_timer.c does not appear in my compile_commands.json.  I have not determined why it is not being included.

[2020-03-19 20:53] ioannisg opened #23617 "kernel: k_cpu_idle/atomic_idle() not tested for tick-less kernel"
**Describe the bug**
The kernel CPU idle-ing APIs are not test-covered when kernel runs in tick-less mode.

**To Reproduce**
From tests/kernel/context:
[code]

**Impact**
The API is used in the idle thread so it should be tested for tick-less kernels.

[2020-03-19 20:53] ioannisg commented on #23617
CC @andyross @andrewboie

[2020-03-19 20:56] sslupsky opened #23618 "cmake: Export compile_commands.json for all generated code"
Presently, if you include the following setting in a CMakeLists.txt file in the project root, the targets listed in the compile_commands.json file generated by CMake are limited to the targets specified in the CMakeLists.txt file.
[code]
I would prefer that the compile_commands.json file also include all the compiled code for Zephyr (the drivers, kernel, subsys, etc).  There reason is that I can c

[2020-03-19 21:13] #20835 closed

[2020-03-19 21:32] #23373 closed

[2020-03-20 00:14] stephanosio opened #23622 "litex_vexriscv: k_busy_wait() never returns if called with interrupts locked"
**Describe the bug**
k_busy_wait() never returns if called with interrupts locked on the `litex_vexriscv` platform, which uses `litex_timer` system timer.

For more details, refer to the issue #23519.

[2020-03-20 00:16] stephanosio commented on #23519
@mateusz-holenko Thanks for checking. I have created an issue to track this: #23622.

[2020-03-20 00:16] stephanosio commented on #23622
cc @mateusz-holenko

[2020-03-20 00:28] ZideChen0 commented on #23026
Yes, with PR #23325, UART interrupt is supposed to be delivered to one CPU, so no ISR locking is needed.

[2020-03-20 03:10] dsh3755 opened #23623 "stm32 can2 not work properly"
**Describe the bug**
can2 can be send message ,but can't receive message

**To Reproduce**
Steps to reproduce the behavior:
1. dts file:
    &can2 {
	status = "okay";
    };
2. board/myboard/kconfig.defconfig
    config CAN
	default y
    config CAN_2
	default y
    config  CAN_STM32
	default y
3. turn on can_shell
4. west build -b myboard

**Screenshots or console output**
i can send any message

[2020-03-20 03:35] dsh3755 commented on #23623
area: driver area: can

[2020-03-20 03:36] stephanosio commented on #23593
I did a quick analysis on this and the following is what I found:
1. `qemu_riscv32` and `qemu_riscv64` emulate the SiFive FE310 SoC.
2. The current RISC-V `trigger_irq` implementation writes to the `MIP` register supposedly to trigger software interrupts. While setting some interrupt bits in this register will trigger the corresponding interrupts according to the RISC-V arch spec, the SiFive FE310

[2020-03-20 06:22] ceolin commented on #21513
@andrewboie @koffes what exactly ? I mean, don't we have this features with __ASSERT ?
This macro even allows application decides which action takes.

[2020-03-20 06:38] stephanosio commented on #23593
It seems the RISC-V arch port (in particular, `arch/riscv/core/isr.S`) does not properly support interrupt nesting, and the interrupt nesting/preemption support on the RISC-V architecture seems to be a rather messy business.

After experimenting with the Machine Timer Interrupt (MTI) and Machine Software Interrupt (MSI) -- triggering MSI from the MTI ISR, I can confirm that preemption is not happe

[2020-03-20 07:41] koffes commented on #21513
@ceolin We can absolutely use __ASSERT. Creating a separate macro was just an option. This issue was created in a broader sense, in that many places are missing checks for NULL pointers.

[2020-03-20 07:42] pkral78 commented on #23520
I definitely look at this. J-Link is industry standard debug probe - it's no-brainer.

Quick examination of existing plugins (embOS, FreeRTOS, ChibiOS) shows simple API to implements:

[code]

Regarding licencing, it would be better to ask SEGGER for their PoV.

[2020-03-20 08:27] starmachine24 commented on #23600
Thank you for the answers

[2020-03-20 08:30] pkral78 commented on #23520
And of course, in meantime, there is also possible of using gdb python API to examine thread structures.

[2020-03-20 08:40] jdascenzio opened #23624 "posix: clock: clock_gettime fault on userspace with CLOCK_REALTIME"
When clock_gettime with CLOCK_REALTIME is called on user mode, zephyr crash with :
[code]
Indeed the function clock_gettime for CLOCK_REALTIME read this global variable which is accessible only on supervisor mode:
`static struct timespec rt_clock_base; `
I don't have any idea to fix it. The goal will be to set this variable accessible in user mode.

[2020-03-20 09:08] chen-png commented on #21755
@225296  could you show me how to connect pins on JP35?
 I don't have the board manual for mec15xxevb_assy6853, and i found that there are totally 3 pins in JP35.

[2020-03-20 09:49] #23459 closed

[2020-03-20 09:54] nvlsianpu commented on #16439
QMSI driver was droped.
NIOS2 driver haw been improved

[2020-03-20 09:55] #23284 closed

[2020-03-20 10:24] javier-moreno-tridonic-com opened #23629 "support inverted PWM on STM32"
Facing the problem where I need to build the same codebase for a nordic uC and an stm32f4 uC.

Even though this was merged in recently

https://github.com/zephyrproject-rtos/zephyr/pull/20657/files#diff-722b2739b6d0b69a16ee867da52074d6R58

Looks like for stm32 targets, pwm flag usage is not supported

https://github.com/vestas-wind-systems/zephyr/blob/162a49d963f0b9b94c3e25ef8de75f89f7fb4a71/drive

[2020-03-20 10:43] #23624 closed

[2020-03-20 11:34] erwango commented on #23629
@javier-moreno-tridonic-com There is no plan to update PWM driver to support flags yet, but any contribution to add it would be welcome!

[2020-03-20 11:41] joerchan commented on #21119
@SebastianBoe Any idea why the compile commands would not be consistent with the ninja build file?

[2020-03-20 12:02] SebastianBoe commented on #21119
I couldn't say why, but it seems that setting the variable from CMakeLists.txt is unofficially not supported. I would try setting it from CLI to ensure it is always set as a cache variable.

https://gitlab.kitware.com/cmake/cmake/issues/16588

[2020-03-20 12:09] joerchan commented on #21119
@sslupsky Given the answer from Sebastian, try setting the compile command as was explained here:
https://github.com/zephyrproject-rtos/zephyr/issues/21119#issuecomment-578282316

[2020-03-20 13:15] ioannisg commented on #22078
@takumiando can you check, now, if this can be closed? #23511 is merged.

[2020-03-20 13:43] #23623 closed

[2020-03-20 13:58] darkmoon32 opened #23637 "Wrong channel computation in stm32 pwm driver"
I tried blink_led example today and I found a problem in the pwm driver at [line 93](https://github.com/zephyrproject-rtos/zephyr/blob/ac516aa8880e5177b2de924bb993afbc73083d7f/drivers/pwm/pwm_stm32.c#L93). The computation should look like this `channel = (pwm - 1);` if channels are numbered from 1 or use pwn as it is.

[2020-03-20 14:05] #23637 closed

[2020-03-20 14:19] beriberikix commented on #21119
Awesome discussion all around! I can't help but thinking that we can capture this with some automation via a [new VS Code extension](https://code.visualstudio.com/api). If some of the scaffolding and configuration was implemented in `west` (like task generation) and the extension wrapped `west`, installed other extensions as deps - you could have a very nice developer experience out of the box. We

[2020-03-20 14:32] beriberikix commented on #22247
Huge fan of VS Code, for just about every form of development (including via Platformio.) I'm really enjoying zephyrproject-rtos/zephyr#21119! I use to be the product manager for [Particle's Workbench](https://www.particle.io/workbench/) and can attest to how much developers love VSC.

The reason I think it is valuable to have an Arduino API layer *and* Arduino IDE story is less about the people c

[2020-03-20 15:12] sslupsky commented on #21119
@joerchan Thank you for the tip.  I can confirm that setting the CMAKE_EXPORT_COMPILE_COMMANDS from the command line works better than using the setting in the CMakeLists.txt file.  Now all the zephyr components are included in the compile_commands.json file.  Hooray!  :-)

One problem remains though.  Some of the include paths do not resolve properly.  For instance, #include <soc.h> comes up with

[2020-03-20 15:47] sslupsky commented on #21119
For clarification for anyone reading this, I am using the Multi-root workspace in VSCode.  This allows me to configure VSCode to work with projects that have multiple "sub projects".  In my use case, I have root folders for:
application (project)
custom board
zephyr tree (base)
zephyr modules

The multi root capability of VSCode is really quite helpful for Zephyr projects.  Here is a copy of the .

[2020-03-20 15:49] sslupsky commented on #21119
@SebastianBoe Thank you, the command line option resolved my issue with the compile_commands.json file not including all the zephyr targets.

[2020-03-20 15:56] mateusz-holenko commented on #23584
We'll look into this.

[2020-03-20 15:56] mateusz-holenko commented on #23577
We'll look into this

[2020-03-20 16:08] nashif commented on #2566
Use puncover with CONFIG_STACK_USAGE=y

pip3 install git+https://github.com/nashif/puncover

[2020-03-20 16:09] sslupsky commented on #21119
@beriberikix That is a great idea ... that would simplify the setup process enormously by eliminating the need for someone to learn about the details of configuring VSCode.  I have grown to admire VSCode tremendously and it keeps getting better.  I have one nagging issue related to git that I haven't been able to figure out.  Seems like VSCode will occasionally max out the CPU in one of its' threa

[2020-03-20 16:12] #2566 closed

[2020-03-20 16:21] sslupsky commented on #22247
Agreed!  I read an article by Limor Fried over on Adafruit's blog that said a similar thing ... it's all about getting more developers and doing that involves making the underlying technology invisible.

Zephyr is getting close to being a huge thing.  I think it will have a profound impact in the embedded world.  There are still a few rough edges but overall, it is quite impressive.  When using VS

[2020-03-20 16:36] k0d opened #23643 "drivers: kscan: ft5336: add multitouch gestures etc."
**Is your enhancement proposal related to a problem? Please describe.**
It appears that there are some gesture detection features in the ft5336 IC. These should be implemented.

**Describe the solution you'd like**
Not sure yet, this needs more research.

Registers are listed here.
https://github.com/STMicroelectronics/STM32CubeF7/blob/master/Drivers/BSP/Components/ft5336/ft5336.h
This could be us

[2020-03-20 16:37] k0d commented on #23643
@MaureenHelm I intend to implement more missing features from this. Just thought you'd like to know.

[2020-03-20 16:46] 225296 commented on #21755
@chen-png  JP35 is not the header we use for ADC ,
On header **J35**, has totally 5 pins instead of connecting pins 1-2 and 4-5, try pin **1-2 and 3-4** on mec15xxevb_assy6853 . It should **PASS**

Environment (please complete the following information):
OS : Ubuntu LTS 18.04
Toolchain: Zephyr SDK : 0.11.2
Commit ID: g7b4861114372

[2020-03-20 17:49] carlescufi commented on #23600
closing since this is now answered

[2020-03-20 17:49] #23600 closed

[2020-03-20 22:15] optdcw commented on #23337
The issue is indeed present in the Version Zephyr 2.2.
I have tried the MCU Boot example with this same result.
Log from MCU boot is following:
`00> *** Booting Zephyr OS version 2.1.99  ***
00>
00> [00:00:00.000,000] <dbg> usb_device.usb_enable: lock usb_enable_lock mutex
00> [00:00:00.000,335] <err> usb_nrfx: nRF USB Attach
00> [00:00:00.000,701] <err> usb_nrfx: USB detected
00> [00:00:00.000,94

[2020-03-20 23:33] albertofloyd commented on #23274
@wentongwu  are you saying that the problem is due to wrong combination of debug options in KConfig?  I will try the PR

[2020-03-21 00:23] wentongwu commented on #23274
@albertofloyd yes, please try it, thanks.

[2020-03-21 13:38] #16096 closed

[2020-03-21 13:38] #23386 closed

[2020-03-21 14:17] alexanderwachter commented on #23444
Using memcpy on the struct just makes a 1:1 copy. It does not change the endianness. The registers are interpreted as they were in a contiguous memory region somewhere in the registers.
You can choose how to interpret them, for example, pass a struct that is the same as in the driver and then you will interpret them with endianness. IMO we should not make an assumption on how to interpret the byte

[2020-03-21 17:17] mbolivar-nordic commented on #23618
There are several examples in the west documentation that I believe do what you are asking about:

https://docs.zephyrproject.org/latest/guides/west/build-flash-debug.html#permanent-cmake-arguments

[2020-03-21 18:20] #19869 closed

[2020-03-21 18:20] #23541 closed

[2020-03-21 18:51] nonopx opened #23662 "Building blinky sample program goes wrong"
I have followed https://docs.zephyrproject.org/2.2.0/getting_started/index.html guide in order to
download zephyr.

On step 6.2 - west build -p auto -b <your-board-name> samples/basic/blinky
(I put esp32 although I do not have the hardware yet. just trying to build the program)

I was excepting the build to go right but instead, I'm getting this error message (screenshot ):

![img1](https://user-i

[2020-03-21 20:26] lowlander commented on #22751
@erwango I made an initial patch set #23663, that fixes my problems.  The ECM problem was very tricky because in only happened every 20 to 30 hours, until I figured out that it can be triggered by simply short circuit SDA to GND, that will directly hang the current driver.

[2020-03-22 15:03] ehudmarvell opened #23669 "ipv4 rx fragments: is zephyr support?"
Hi,

I am running the latest OS zephyr and I have issue on ipv4 while I have rx fragments.
So I try to understand from the docs\code if it supports but didn't find any reference for enable\disable it. I did see a reference for Ipv6 fragments.
Is Ipv4 rx fragments reassembly supported? If yes, can you add details?

Thanks,
Ehud

[2020-03-22 16:59] sslupsky opened #23672 "dts: sam0: question: Is it possible to clean up samd.dtsi devicetree warning?"
When building a project using the samd dts, an warning is generated because of a duplicate unit address in dts/arm/atmel/samd.dtsi.  The samd PORT peripheral controls both the GPIO and PINMUX functions of the soc.  The samd.dtsi uses the address of the PORT peripheral for both nodes which results in the duplicate address warning.  Thus, the warning can be safely ignored.

I am wondering if the war

[2020-03-22 17:41] pabigot opened #23673 "spi-nor driver fails to check for support of 32 KiBy block erase"
The devicetree bindings were updated to add support for `has-be32k` which indicates a chip supports an optional 32 KiBy block erase, but the code doesn't verify that the specific instance has confirmed support for the command.  Consequently erases of sizes in the range `[32768, 65536)` may fail on some devices.

This would be fixed in #23658, but if that doesn't get in it'll need to be fixed separ

[2020-03-22 17:42] pabigot commented on #23673
cc @rckTom

[2020-03-22 18:05] sslupsky commented on #23618
Thank you @mbolivar

I was able to get export setting to stick by adding
[code]
to the west command line.

There is still a VSCode CMake-Tools issue where resolving the location of a header file can result is multiple paths.  I have noticed this happens when there are headers with no target.  That is, there is a <kernel.h> but there is not target "kernel.c".  CMake-Tools attempts to look up "kerne

[2020-03-22 22:24] retfie opened #23674 "Openthread stop working after "Update OpenThread revision #23632""
**Describe the bug**
Build lwm2m_client sample with OpenThread support, and manually commission it via shell.
Instead of joining already available network, it creates a new segment with the same network parameters and set his state as Leader instead of Child as with before this change. Besides it gets IP from the same local-mesh segment It's unable to ping border router IP or any node in this netw

[2020-03-22 22:27] sslupsky commented on #23444
Correct, memcpy makes a copy of the struct.  However, the data types that _comprise_ the struct have endianness.

[2020-03-23 00:36] taharvey commented on #14678
Can you provide some color to the current status vs what needs to be built? What mesh features currently work in spilt controller mode? Does this also apply to Linux and BlueZ bridging? What needs completion?

[2020-03-23 01:00] chen-png commented on #21755
@225296  thanks, i will have a try.

[2020-03-23 01:31] bobcagle opened #23677 "SPI slave driver doesn't work correctly on STM32F746ZG; needs spi-fifo to be enabled in DT"
**Describe the bug**
SPI slave transactions do not complete successfully on STM32F746ZG. The Master gets the initial transmitted response (4-bytes) okay, but the Slave does not complete the transaction. It waits for more data, which will only arrive in a future  transaction.

I verified my hardware was working by generating and running an equivalent STM32cubeIDE app as the Slave app. The app ran w

[2020-03-23 06:47] nordic-krch commented on #23571
Yes, anomaly is affecting only PPI connections since double events does not harm interrupt handling because they are next to each other so happen before interrupt is handled. `nrf_rtc_timer.c` is not using PPI so no workaround is applied. If user would like to use another COMPARE channels for his own purpose then he may be affected by this anomaly. Unfortunately, there is no good workaround for th

[2020-03-23 06:47] #23571 closed

[2020-03-23 07:08] erwango opened #23678 "drivers/flash: stm32: Error in device name"
**Describe the bug**
Reported in https://github.com/zephyrproject-rtos/zephyr/pull/23285#discussion_r395875256
DT_INST_0_SOC_NV_FLASH_LABEL should not be used as device name.

**Expected behavior**
`DT_FLASH_DEV_NAME` should be used instead

[2020-03-23 08:00] maksimmasalski commented on #13637
@andrewboie Do you plan to develop test case for that macros?

[2020-03-23 08:20] maksimmasalski commented on #14173
@andrewboie Are you going to develop test case for that QEMU configuration?

[2020-03-23 09:29] markus-becker-tridonic-com commented on #23595
@nandojve Tested on the OT NCP sample and the messages are gone.

[2020-03-23 09:36] emob-nordic commented on #23337
I am experiencing issue with dfu-util. I think its because of linux vm. I will try to help as soon i get done with that.

[2020-03-23 10:13] #23595 closed

[2020-03-23 10:59] #23618 closed

[2020-03-23 13:09] kkiyota commented on #23599
I captured the following info when bus fault occurred.   Could you let me know how I can interpret it and how I can fix it?

![image](https://user-images.githubusercontent.com/59073069/77319709-a1f2a100-6d52-11ea-9e36-09ba57b93184.png)

[2020-03-23 13:17] ioannisg opened #23686 "kernel: API: suggestion to remove k_cpu_atomic_idle"
## Introduction

`k_cpu_atomic_idle()` API is not used anywhere in Zephyr, contrary to `k_cpu_idle()` which is used by the idle thread and, possibly, in device power management. This is a suggestion to remove it.

### Problem description

Essentially, the differences between k_cpu_atomic_idle() and k_cpu_idle() are two.
- k_cpu_idle() un-conditionally un-masks interrupts upon return, while k_cpu_a

[2020-03-23 13:17] ioannisg commented on #23686
CC @pabigot @andyross @andrewboie @stephanosio @wentongwu

[2020-03-23 13:34] rlubos commented on #23674
Hi, there was a change in the usptream OpenThread in default mbedTLS configuration, this can cause compability issues (in general cryptography does not work as expected). I'll open a PR with a fix soon.

[2020-03-23 13:38] emob-nordic commented on #23337
It happened only on windows, right? I think the problem is with IAD descriptor which is not present when You config ```CONFIG_USB_COMPOSITE_DEVICE=y``` only. I will have a deeper view on this.

[2020-03-23 13:51] #23678 closed

[2020-03-23 14:07] rlubos commented on #23674
Please give https://github.com/zephyrproject-rtos/zephyr/pull/23688 a try.

[2020-03-23 14:16] nashif commented on #23662
Zephyr SDK does not support building the ESP32, for that, you need to download the toolchain from espressif and setup the toolchain according to the board documentation.

[2020-03-23 14:24] optdcw commented on #23337
Yes it happends only on windows.

[2020-03-23 15:06] pabigot opened #23691 "add support to store devicetree phandle+specifier as an opaque value"
#23245 improves the devicetree access solution significantly, but currently lacks a replacement for `phandle-array` values which are a series of phandle + specifier.  Example is a GPIO device reference plus a pin and initial flags; or an ADC device and and an input channel.  In the existing access solution a C initializer list is generated that captures the combined values, e.g. `{ "GPIO_0", 1, 0"

[2020-03-23 15:07] pabigot commented on #23691
@mbolivar @galak let's discuss here rather than clutter up #23245

[2020-03-23 15:44] mbolivar-nordic commented on #23691
@pabigot collecting a list of where we want interim "LPF" style macros as discussed in #23245:

- GPIOs
- ADC

Interrupts also? Anything else?

[2020-03-23 16:00] pabigot commented on #23691
`git grep -e -cells  dts/bindings/ | sed -r -e 's@^[^:]*:\s*@@' | sort | uniq` probably shows the candidates.  At minimum `clock` `dma` `gpio` `interrupt` `io-channel` (ADC) `pinmux` `pwm` may be candidates.  An issue is that the number of cells and their names/roles is binding-specific.

[2020-03-23 16:19] carlescufi commented on #23443
Hi @aleksmarcelo.
Unfortunately today that is all that there is as far as I know. Please do feel free to send an email to the mailing list or join our Slack and ask questions in both forums!

[2020-03-23 16:30] sslupsky opened #23692 "drivers: ublox-sara-r4: Add support for pin polarity"
The current ublox sara r4 driver assumes polarity of the POWER, RESET and VINT pins.  Presently, the Arduino MKR NB 1500 inverts the polarity of the POWER and RESET pins (it does not have a VINT pin).  This is a result of a level translator (N-channel FET) between the mcu pin and the SARA-R4 pin.

**Describe the solution you'd like**
To support the Arduino board, it is necessary to implement a pol

[2020-03-23 16:34] carlescufi commented on #23395
@carlosedp I suggest you  post in the mailing list and/or Slack to get more visibility. Aside from @nategraff-sifive, I know that there are a few ANT Micro employees that know this platform.

[2020-03-23 16:48] #23473 closed

[2020-03-23 16:55] mbolivar-nordic commented on #22545
Looking here:

https://docs.zephyrproject.org/latest/reference/drivers/index.html?highlight=pre_kernel_1#initialization-levels

[code]

These definitions seem incoherent to me when we have true dependency information in DT.

[2020-03-23 16:55] jenmwms commented on #23026
@ZideChen0 I will try your PR, too, but saw that it does not touch the uart driver itself. So I created a Draft PR of changes that might be needed to the uart driver in addition. But I still have the issue described here with my patch #23026 (WIP) so I can get feedback as it relates to this issue.

[2020-03-23 16:57] KimBoendergaard opened #23694 "TEMP_KINETIS is forced enabled on frdm_k64f if SENSORS is enabled. But ADC is missing"
**Describe the bug**
When ever SENSORS is activate in a project based on frdm_k64f TEMP_KINETIS is auto selected.
The file temp_kinetisc thus being compiled in throws an err message if ADC (or more precise ADC_1) is not enabled.

**To Reproduce**
Use sample hello_world.
In menuconfig enable sensors and enable log
Build and see
 `<err> temp_kinetis: could not get ADC device`
on console

If ADC is e

[2020-03-23 17:05] jita101 commented on #22865
Just to double this i.e. I'm also seeing the same issue with this sample and particle_xenon (nrf52840) and nrf52_pca10040 (nrf52832) board and two different generic enc28j60 shields.

That said I'm not having similar (on infact any) issues sending out millions of smaller TCP packets (MQTT) with these boards and enc28j60. The boards work reliably for days sending out packets full speed.

[2020-03-23 17:40] ZideChen0 commented on #23026
We are taking different approaches to address this issue. In my patches, I configured UART interrupts as lowest priority delivery mode, so it's delivered to one CPU only, and no need to modify UART driver. For example: https://github.com/zephyrproject-rtos/zephyr/pull/23325/commits/ab9d571aa7bb56a1891c93ed769fa421c39988cd#diff-5e7cae5167b76f9e0a04173995540696R65

In your PR, I think you are trying

[2020-03-23 18:10] #23586 closed

[2020-03-23 19:10] #23617 closed

[2020-03-23 19:38] retfie commented on #23674
Hi Robert,
this PR #23688  fixes the problem, thanks !

[2020-03-23 19:39] #23674 closed

[2020-03-23 20:17] jenmwms commented on #23026
@ZideChen0 Thanks for clarifying the different approaches! Maybe we can bring this up at the API/dev meeting this week and get closure on these.

[2020-03-23 20:47] ceolin commented on #22431
`sizeof(ticks)` will return the size of a pointer that can be different from the size of u32_t. In 64 bits architecture pointers are 8 bytes long and u32_t is 4 bytes.

[2020-03-23 20:51] henrikbrixandersen commented on #23694
You have altered the default configuration of the board to get into this situation. CONFIG_ADC_1 is enabled by default for this board.

[2020-03-23 20:55] jukkar commented on #23669
IPv4 packet fragmentation is not supported.

[2020-03-23 21:05] ceolin commented on #22431
Fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/23698

[2020-03-23 21:06] ceolin commented on #22643
Fixed by: #23698

[2020-03-23 22:16] jenmwms commented on #23662
@nonopx Here is some documentation with that info for the ESP32 board in Zephyr - https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html
Check out the https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html#system-requirements

[2020-03-23 22:18] nonopx commented on #23662
Thank you very much

[2020-03-23 22:18] #23662 closed

[2020-03-24 00:34] ceolin opened #23702 "STACK_POINTER_RANDOM is not working on ARM for the main thread"
On arm (and possible others arch with custom swap to main) the main stack is not randomized, because `arch_switch_to_main_thread()` is called with `K_THREAD_STACK_SIZEOF(z_main_stack)` in switch_to_main_thread(), completely ignoring the value that was previous randomized in `z_setup_new_thread()`. The problem is that this value is not available anymore, except if it is build with `CONFIG_THREAD_ST

[2020-03-24 00:34] andrewboie commented on #23686
+1 from me

[2020-03-24 01:46] stephanosio commented on #23686
Agreed.

As long as `arch_cpu_idle` requires interrupts to be disabled/locked before it is called (and this is a de-facto requirement given that the power management subsystem requires `_kernel.idle` to be set before calling this function to ensure proper operation, and ISR checks `_kernel.idle` and calls `z_sys_power_save_idle_exit` when set), there is no real value in having `arch_cpu_atomic_idl

[2020-03-24 01:50] ceolin commented on #23702
Possible solutions:

1) Make `STACK_POINTER_RANDOM` depends on `CONFIG_THREAD_STACK_INFO` for this platform.
2) change `z_setup_new_thread` to return this info
3) randomize stack before call `zetup_new_thread` -> the worst probably
4) Add stack size to  `k_thread` independently of `CONFIG_THREAD_STACK_INFO`

Other possibilities ? Thoughts ?

[2020-03-24 01:51] ceolin commented on #23702
@andrewboie @andyross @ioannisg

[2020-03-24 03:54] wentongwu commented on #20604
I think we should close this.

[2020-03-24 03:54] #20604 closed

[2020-03-24 05:37] KimBoendergaard commented on #23694
It is correct ADC_1 is enabled by default, but it depends on CONFIG_ADC (in board-defconfig) which is not enabled by default and does not become it neither by enabling CONFIG_SENSORS

Sendt fra min Huawei Mobil

-------- Oprindelig meddelelse --------
Emne: Re: [zephyrproject-rtos/zephyr] TEMP_KINETIS is forced enabled on frdm_k64f if SENSORS is enabled. But ADC is missing (#23694)
Fra: Henrik Bri

[2020-03-24 06:06] henrikbrixandersen commented on #23694
`CONFIG_TEMP_KINETIS` also depends on `CONFIG_ADC`. Anyways, I have already submitted a PR with a fix for the default setting of `CONFIG_TEMP_KINETIS` when `CONFIG_ADC` is enabled but `CONFIG_ADC_1` is not.

[2020-03-24 07:21] lualven-duplicate opened #23703 "Openthread on Zephyr cannot get On-Mesh Prefix address"
**Describe the bug**
The openthread on zephyr build ok, all functions seems right , but it can not get the address by On-Mesh Prefix, unlike the original openthread build.

**To Reproduce**
Steps to reproduce the behavior:
1. cd echo_server
2. west build -b nrf52840_pca10056 -d build_nrf52840_pca10056_ot -- -DCONF_FILE="prj.conf overlay-ot.conf"
3. west flash -d build_nrf52840_pca10056_ot
4. from

[2020-03-24 08:29] rlubos commented on #23703
@lualven-duplicate There is a PR pending for OT, fixing broken cryptography (which got messed up with the recent OT update). You could give it a go: https://github.com/zephyrproject-rtos/zephyr/pull/23688

It may seem unrelated, but as far as I can see, your Zephyr device became a leader and formed it's own mesh instead of joining the existing one (that's a result of broken crypto). That way, it c

[2020-03-24 08:44] ehudmarvell commented on #23669
Thank you @jukkar , do you know if it is plan on road map?

[2020-03-24 08:48] KimBoendergaard commented on #23694
I partly agree. In menuconfig I see this for CONFIG_TEMP_KINETIS:

Direct dependencies (=y):
     SENSOR(=y) && BOARD_FRDM_K64F(=y)  (=y)
  || ADC(=n) && SOC_FAMILY_KINETIS(=y) && SENSOR(=y)  (=n)

I.e. I get CONFIG_TEMP_KINETIS by just choosing SENSOR.

But great you have a fix in the pipe line

Kim Bøndergaard
Prevas A/S
Team Manager / Systems Architect

Hedeager 3, DK-8200 Aarhus N
Phone +45 33

[2020-03-24 09:06] jukkar commented on #23669
There has not been any discussion whether we should have that feature or not. This is first time someone asking this. You can always submit a feature request issue for any missing feature, but if no one else needs that feature, you should be prepared to submit patches yourself.

[2020-03-24 10:07] jagrutik9 opened #23712 "Error in mounting the SD card"
Hello,
I am working on nRF9160DK using the ncs tag v1.2.0
Zephyr version is v2.1.99
I am trying this example zephyr/samples/subsys/fs/fat_fs with nRF9160DK.
It always shows this error:
`***** Booting Zephyr OS build v2.1.99-ncs1-snapshot2-2647-gd6e67554cfeb *****
[00:00:00.024,078] [0m<inf> spi_nrfx_spim: CS control inhibited (no GPIO device)[0m
[00:00:05.039,306] [1;31m<err> main: Storage init

[2020-03-24 10:38] emob-nordic commented on #23337
Could You send me prj.conf that You are using for build the dfu + cdc sample?

[2020-03-24 10:42] SebastianBoe opened #23713 "CMake integration with libmetal errors-out with the bleeding edge CMake release"
**Describe the bug**
Building a libmetal application with the newly released CMake version 3.17.0 will trigger a build error.

**To Reproduce**
Steps to reproduce the behavior:
1. cmake -DBOARD=nrf5340_dk_nrf5340_cpuapp -Hzephyr/samples/bluetooth/peripheral_hr -Boe && ninja -C oe
4. See error:

`ninja: error: 'cmake_object_order_depends_target_metal_', needed by 'cmake_object_order_depends_target_

[2020-03-24 10:43] SebastianBoe commented on #23713
This is likely due to CMake behaving slightly differently in CMake 3.17.x and us not having adjusted our build scripts to this new behaviour yet.

It appears to have something to do with how CMAKE_BUILD_TYPE is manipulated by the libmetal build scripts.

[2020-03-24 12:10] #22270 closed

[2020-03-24 12:11] #22948 closed

[2020-03-24 12:28] SebastianBoe commented on #23713
I have a fix now, will push soon.

[2020-03-24 12:53] Aukstkalnis commented on #23349
@SebastianBoe thanks for the tips. Zephyr now compiles and runs on blueNRG-2 SoC :) But not everything are clear. I would like to know what to do with Kconfig. Now I have a problem, that console is not working. UART works with uart driver, but not printk... Before compiling I get these warnings:
warning: UART_CONSOLE (defined at drivers/console/Kconfig:47) was assigned the value 'y' but got the
va

[2020-03-24 14:17] adriantoro26 opened #23718 "Getting started with zephyr OS"
Hello community,

I am having troubles getting started with zephyr OS. I followed **nRF v3.0.0 - Getting Started Assistant** in order to download **nRF Connect SDK tag release v1.1.0**  which includes zephyr version 2.0.99. I am not able to build the code for my ESP32 (which is a supported board), even though I followed these [steps](https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/in

[2020-03-24 14:31] ehudmarvell commented on #23669
Thank you

[2020-03-24 14:31] #23669 closed

[2020-03-24 15:11] #19285 closed

[2020-03-24 15:11] #21369 closed

[2020-03-24 15:11] #22554 closed

[2020-03-24 15:11] #22555 closed

[2020-03-24 15:11] #22964 closed

[2020-03-24 15:33] too1 opened #23723 "Poor sinf/cosf performance compared to the Segger math libraries"
The performance of the sinf/cosf functions in NEWLIB on Zephyr seems very poor compared to the Segger C libraries used in the nRF5 SDK for the nRF52 series.
Preliminary numbers (until I have time to do a more controlled test) imply a runtime of around 15us on the nRF53 @ 128MHz, vs ~2.5us on the nRF52 @ 64MHz.

An interesting aspect is that replacing cosf with cos only leads to a 30-40% increase i

[2020-03-24 15:36] pabigot commented on #23686
This doesn't mean nobody's depending on it.  We have a whole device power management API with no in-tree use that is being used in proprietary out of tree applications.

That aside, I have no objection to removing this function.  The current situation could use certainly some reduction in confusion.

[2020-03-24 15:49] stephanosio commented on #23723
The newlib `libm` implementation is in C and there is currently no ARM-optimised (asm) implementation available (hence, slow performance).

I expect these math performance issues to be mostly addressed by adding the CMSIS-DSP library support (I am currently working on this; there is a preliminary PR for it too: #21600).

[2020-03-24 15:50] stephanosio commented on #23723
If you can, please try benchmarking against `arm_sin_f32` and `arm_cos_f32` in the PR; `tests/lib/cmsis_dsp/fastmath` would be a good base to use.

[2020-03-24 15:54] stephanosio commented on #23723
Please check/post the asm listing of the `sinf` and `cosf` functions.

[2020-03-24 17:28] #23395 closed

[2020-03-24 17:33] carlescufi commented on #15944
Please submit a Pull Request.

[2020-03-24 17:34] carlescufi commented on #15944
#23453 is actually a PR for this, reopening and relabeling as enhancement.

[2020-03-24 17:35] carlescufi commented on #16122
@yaomon could you please submit a new PR?
cc @rlubos

[2020-03-24 17:35] #16122 closed

[2020-03-24 17:39] carlescufi commented on #16196
@vanwinkeljan @jfischer-phytec-iot is this still relevant?

[2020-03-24 17:43] carlescufi commented on #17240
Please send a Pull Request

[2020-03-24 17:43] #17240 closed

[2020-03-24 17:47] carlescufi commented on #18106
@rlubos can this be closed now?

[2020-03-24 17:47] carlescufi commented on #18568
Please send a Pull Request.

[2020-03-24 17:47] #18568 closed

[2020-03-24 17:49] carlescufi commented on #18614
Please submit a Pull Request.

[2020-03-24 17:49] #18614 closed

[2020-03-24 17:50] carlescufi commented on #18896
@thomasthep on the Nordic side there are no plans to support this in the near future.

[2020-03-24 17:51] carlescufi commented on #18940
Closing this based on @henrikbrixandersen 's assessment, please reopen if incorrect.

[2020-03-24 17:51] #18940 closed

[2020-03-24 17:52] carlescufi commented on #19483
@cbsiddharth are you still planning to submit this functionality?

[2020-03-24 17:55] carlescufi commented on #19852
@gmarull are you planning to submit a PR for this?

[2020-03-24 18:03] pabigot commented on #18118
I'm going to assume this has been fixed by #23699, which fixes it for real hardware.  If not please re-open.`

[2020-03-24 18:03] #18118 closed

[2020-03-24 18:04] pabigot opened #23729 "hifive1_revb fails to work with samples/subsys/console/getline"
On startup the application goes dark (no console output).  Appears to be related to `console_getline_init()` turning off transmit interrupts.  Instrumentation indicates things are actually running but no output.

[2020-03-24 18:21] cbsiddharth commented on #19483
@carlescufi, I've been a little occupied lately. But I plan on getting back to this ASAP.

As for this issue, you can either leave it open, or close it so I can re-open when I raise the PR. Thanks for keeping track of this.

[2020-03-24 18:22] vanwinkeljan commented on #16196
I don't think so cfb is mainly targeting monochrome displays and mcux elcdif can use lvgl.

[2020-03-24 18:40] carlosedp commented on #23395
Confirming that both [echo](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/subsys/console/echo) and [shell](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/subsys/shell/shell_module) sample applications worked on the Renode HiFive1 simulated board with this fix.
Thanks @pabigot!

[2020-03-24 18:53] thomasthep commented on #18896
A shame but guess there aren't so many use cases out there requiring both anyways. If there are, you could always add another SoC.

I myself have been messing around with implementing a scheduler as described in the SDK. It would require a whole lot work to change the driver layer and possibly major changes in the architecture.

The hacked up version of mine works to some degree, but timing as wel

[2020-03-24 19:29] #23420 closed

[2020-03-24 19:43] #23694 closed

[2020-03-24 20:06] andrewboie commented on #16343
Just have the logger check if the address is in the interval defined by the linker variables (_image_rodata_start, _image_rodata_end) defined in include/linker/linker-defs.h we don't need an API for this

[2020-03-24 20:57] andrewboie commented on #17755
@carlescufi this prevents us from shipping a product on ARC with user mode enabled. This should be treated as a bug.

[2020-03-24 20:59] jenmwms commented on #23026
I tried the PR #23325 and it resolves the bug behavior in the sample application described in the issue here. However, the other aspect of this issue reported here is to implement the missing ISR locking mechanism in the UART driver. So I will keep working on that part in #23693. I might use #23325 to confirm the application works with the spinlocks.

[2020-03-24 21:00] andrewboie commented on #13651
This is still broken.

[2020-03-24 21:17] franciscomunoz opened #23745 "Align PS/2 handlers with the handlers found in other drivers"
The PS/2 handlers were implemented before the new marshaling APIs were introduced. It would be great if the same person who is updating the handlers helps us to update these too.

[2020-03-24 21:25] gmarull commented on #19852
@carlescufi I faced this problem on a test board which I'm not using anymore, so I do not have plans for a PR. Considering this is a feature present in some older low-end F1 microcontrollers I'm not sure it is worth the effort...

[2020-03-24 23:04] albertofloyd opened #23750 "eSPI API needs to be updated since it's passing parameters by value"
Several eSPI API functions are passing parameters by value instead by reference.
This won;t work if a board supports eSPI and MPU

[2020-03-24 23:05] nashif commented on #13651
@ruuddw  @abrodkin fyi

[2020-03-24 23:05] nashif commented on #17755
@ruuddw @abrodkin fyi

[2020-03-25 00:48] lualven-duplicate commented on #23703
I do check the node, it can join the BR successfully, and first become a child, then router; and I can ping the BR's wpan0 address. So I don't think it is a different network.
Any thoughts for any other problem?

[2020-03-25 01:41] wentongwu commented on #21329
ping...

[2020-03-25 02:58] lualven-duplicate commented on #23703
This is the out put from node, it is  can ping wpan0, but not "fd11:22".
[code]

This is my wpan0 info on BR:
[code]

[2020-03-25 03:07] nashif commented on #22340
@ceolin @d3zd3z  Can you please take a look at this and triage accordingly..

[2020-03-25 03:10] lualven-duplicate commented on #23674
@retfie Hi, did you get the on-mesh prefixed address (fd11:22) from BR? I cannot on my side and do not know why. #23703

[2020-03-25 06:24] takumiando commented on #22078
@ioannisg It works correctly on my nucleo_l152re  ;)

[2020-03-25 06:24] #22078 closed

[2020-03-25 06:48] lualven-duplicate commented on #23703
@rlubos Compared the compile flag from original OpenThread, I found the root cause: need to define the OPENTHREAD_CONFIG_IP6_SLAAC_ENABLE=1.

However, current zephyr cannot define it anywhere (CONFIG_OPENTHREAD_SLAAC is not defined in KConfig), I manual changed in modules/lib/openthread/zephyr/CMakeLists.txt:
set(OT_SLAAC ON CACHE BOOL "Enable SLAAC")

After this change, ping external ip function

[2020-03-25 07:54] rlubos commented on #23703
@lualven-duplicate There is a Kconfig option for SLAAC:
https://github.com/zephyrproject-rtos/zephyr/blob/c99392f2d6bce1bfe16444bcc86e03a04ff0fa73/subsys/net/l2/openthread/Kconfig#L204

[2020-03-25 07:56] rlubos commented on #18106
@carlescufi I believe so, yes.

[2020-03-25 07:56] #18106 closed

[2020-03-25 09:00] ChristianHirsch commented on #23280
Thanks @cvinayak for trying, but your console out does not look like what I was expecting. It seems that you did not receive any succefful value, right? I will create a more robust script.

[2020-03-25 09:07] ioannisg commented on #23702
(1) and (2) seem OK to me, (4) as well, if we don't care about the extra bytes...
Didn't take a detailed look yet, though

[2020-03-25 09:11] ioannisg commented on #23686
Side note: If we prefer to keep k_cpu_atomic_idle() we will need to specify the API in a better way - right now its specification/implementation does not have fundamental differences from k_cpu_idle()

I'd like to here opinions from @andyross and @wentongwu as well :)

[2020-03-25 11:18] carlescufi commented on #17755
Thanks @andrewboie, did not realize.

[2020-03-25 11:30] nixward commented on #22340
Hi @Laczen,
For mcumgr file management over BLE see my PR that added a default authenticated requirement for the SMP/mcumgr characteristic: https://github.com/zephyrproject-rtos/zephyr/pull/20557

If the attacker has physical access to the device this possibly won't help as the attacker may have the access requirements for authentication but it's better than allowing mcumgr access to anyone who ca

[2020-03-25 12:15] erwango commented on #19852
@carlescufi @gmarull GPIO AF remap is indeed a quite particular way of handling alternate functions amongst the STM32 family. I don't think it has much value to treat this as a complete feature (lot of code, only a few SoCs impacted). So far it has been treated case by case, we can continue this way.

[2020-03-25 12:16] carlescufi commented on #19852
OK, let´s close this then, thanks @erwango and @gmarull. Whenever there's need to implement this the interested party can send a PR.

[2020-03-25 12:16] #19852 closed

[2020-03-25 12:16] erwango commented on #22078
@takumiando could you create an issue to get nucleo_l152re working at full speed now? (reverting #22308)

[2020-03-25 12:34] Laczen commented on #22340
@nixward, thanks for the reply.

The addition of a authenticated requirement for the ble smp/mcumgr characteristic is a good improvement. But is it enough ? When settings is used to store security related information it should IMO be impossible to read the settings data. It is correct that it should also be enforced that security related settings are not stored on external devices.

I am mainly wo

[2020-03-25 13:04] takumiando opened #23762 "stm32: Revert nucleo_l152re to work at full speed"
The issue #22078 has been resolved, and we can revert the PR #22308 to get back full speed working.

[2020-03-25 13:06] takumiando commented on #22078
@erwango Okay https://github.com/zephyrproject-rtos/zephyr/issues/23762

[2020-03-25 13:15] lbise opened #23763 "net: sockets: Wrong binding when connecting to ll address"
I think I found a bug when using the sockets. If you try to connect to a link local address but your device has more than one interface the net context will always be bound to the default interface. Therefore if the target is actually on the second interface the connection attempts will actually be made on the wrong interface.

This is because during the connect call at some point net_context_conn

[2020-03-25 13:56] #16196 closed

[2020-03-25 14:01] stevew817 commented on #22337
I'll try to answer here considering @conq is on leave for a while.

- We currently only have one authoritative source for our SDKs, and that is downloading through Simplicity Studio. We are discussing deployment in other ways, too, but that will not be resolved soon.
- Our CMSIS packs only provide CMSIS device headers, reference manuals / datasheets and debug support (SVD files and flashloaders).

[2020-03-25 15:25] #22431 closed

[2020-03-25 15:25] #22643 closed

[2020-03-25 15:37] carlescufi commented on #23611
@PiotrZierhoffer before I create the repo, just a formality: you are committing to maintain this platform for the foreseeable future in the upstream Zephy repos, correct?

[2020-03-25 15:46] baw-serafin opened #23775 "k_poll() documentation is wrong or unclear"
**Describe the bug**
The `events` argument to `k_poll` is documented wrong or at least misleading.
It states: `events: An array of pointers to events to be polled for.` but the signature is `int k_poll(struct k_poll_event *events, int num_events, s32_t timeout)` so it wants an array of events no pointer to events. That's also how the examples are doing it.

[Online Docu](https://docs.zephyrproject

[2020-03-25 16:10] kubazdz opened #23777 "Problem with applying overlay for custom board in blinky example"
**Description**
I am trying to flash my custom board with blinky sample. I have created nrf52811_pca10056.overlay file. My board is based on nrf52811 and the overlay file is made only to switch led0 pin to 18 (13 originally). After trying to build the example, overlay is loaded and the "Unable to parse input tree" error is risen due to the syntax error in nrf52811_pca10056.dts.pre.tmp file pointin

[2020-03-25 17:04] jukkar commented on #23763
What network technology you are using, Ethernet or something else?

[2020-03-25 19:20] carlescufi commented on #23775
@baw-serafin would you mind sending a Pull Request?

[2020-03-25 19:21] carlescufi commented on #23777
Can you check if the PR  below fixes it?

https://github.com/zephyrproject-rtos/zephyr/pull/23609

[2020-03-25 19:54] andrewboie commented on #17755
We made it much easier to generate privilege mode stacks. There is now a Kconfig option for it, `CONFIG_GEN_PRIV_STACKS`.

@vonhust do you have time to implement this? It would be great if we could make the ARC stack layout similar to ARM for the V2 MPU.

[2020-03-25 20:15] #23582 closed

[2020-03-25 22:04] d3zd3z commented on #22340
Some possible ideas for a fix: 1. Prevent the access. 2. Encrypt. This can be difficult without HW support for HW-unique keys. Otherwise, it is usually pretty trivial for an attacker to get the key being used for the encryption. 3. Document the configuration combinations that are not allowed (possibly checking them in the security config lint).

This probably warrants being disclosed as a CVE. I'l

[2020-03-25 22:10] d3zd3z commented on #22340
In addition to the above, another possible fix would be to disallow certain directories/files from being accessed through the file management of MCUmgr.

[2020-03-26 00:41] vanti opened #23798 "UART driver API should be made more power-friendly"
**Is your enhancement proposal related to a problem? Please describe.**
Per discussion in #22998, currently the UART driver API exposes uart_poll_in() and uart_poll_out() which can be called at any time to check for input or output character, with the assumption that the UART remains active outside of the function call. This essentially means the UART cannot be automatically powered-down in the li

[2020-03-26 01:51] chen-png opened #23799 "tests/subsys/logging/log_immediate failed on reel_board"
**Description**
Running tests/subsys/logging/log_immediate on reel_board, there are many error log output.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p auto tests/subsys/logging/log_immediate/
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-622-ge27cf1576338  ***
Running test suite test_log_immediate
[code

[2020-03-26 02:29] mnkp commented on #22337
Thanks for the clarification. The current version of SiLabs hal Zephyr is using (CMSIS device headers + emlib) is quite outdated. I was planning to bring it up to date and about to ask if it's already available outside of Simplicity Studio.

I will use Simplicity Studio SDK for now. However, if the files will be published as CMSIS packs or in some other way it would be great to hear it.

[2020-03-26 02:48] ntavish commented on #23712
Could it be an issue with initialization priorities? `disk_access_spi_sdhc.c` priority is 40, while SPI driver in `drivers/spi/spi_nrrfx_spim.c` priority is 70. Could you test that, and post the results, maybe we should change default priorities here.

[2020-03-26 02:59] chen-png opened #23800 "tests/drivers/counter/counter_cmos failed on up_squared platform"
**Describe**
set up acrn on up_squared board and run zephyr tests.

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p acrn --device-testing --device-serial /dev/ttyUSB1
    -T tests/drivers/counter/counter_cmos -west-flash="acrn_up2.sh"
2. See error

**Screenshots or console output**

*** Booting Zephyr OS build zephyr-v2.2.0-622-ge27cf1576338  ***
Running test suite test_cmos_co

[2020-03-26 03:03] chen-png opened #23801 "tests/kernel/sched/schedule_api failed on up_squared platform"
**Describe**
set up acrn on up_squared board and run zephyr tests.

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p acrn --device-testing --device-serial /dev/ttyUSB1
    -T tests/kernel/sched/schedule_api -west-flash="acrn_up2.sh"
2. See error

**Screenshots or console output**

*** Booting Zephyr OS build zephyr-v2.2.0-622-ge27cf1576338  ***
Running test suite threads_schedul

[2020-03-26 03:05] chen-png opened #23802 "up_squared(acrn):tests/kernel/timer/timer_api/ failed."
**Describe**
set up acrn on up_squared board and run zephyr tests.

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p acrn --device-testing --device-serial /dev/ttyUSB1
    -T tests/kernel/timer/timer_api/  -west-flash="acrn_up2.sh"
2. See error

**Screenshots or console output**

*** Booting Zephyr OS build zephyr-v2.2.0-622-ge27cf1576338  ***
Running test suite timer_api

start

[2020-03-26 03:51] chen-png commented on #22622
@pabigot  for sam_e70_xplained,  according to the board's overlay, i connected portd 21 and portd 20, then this test passed.
but for frdm_k64f and mimxrt1050_evk, i couldn't find the GPIO pin on board, so do you know where the pin is or have any board manual?

[2020-03-26 04:37] lualven-duplicate commented on #23703
ok, that's good.

[2020-03-26 04:38] #23703 closed

[2020-03-26 05:24] Narendhar95559 opened #23803 "nrf52840 ble error"
Hi,

Iam using nrf52840 development board, developing software using zephyr(2.1.0).
In software development iam using bluetooth as a peripheral and uart in interrupt mode(to get data from other module), when iam trying to run both interfaces the getting below errors and iam included watchdog timer so after sometime it is restarting.

[00:01:36.902,862] <inf> os: prio recv thread stack : unused 336

[2020-03-26 05:59] Narendhar95559 commented on #23803
I enabled below flags
CONFIG_INIT_STACKS=y
CONFIG_THREAD_MONITOR=y
CONFIG_THREAD_STACK_INFO=y

[2020-03-26 07:28] trond-snekvik opened #23805 "Bluetooth: controller: Switching to non conn adv fails for Mesh LPN"
The Bluetooth Mesh Low Power Node feature fails sending its poll packet when GATT proxy is enabled.

The Bluetooth mesh advertises a connectable advertisement at 1 second interval for its proxy feature. The LPN role aborts this advertisement every 30 seconds to send a non-connectable 20 ms interval advertisement (the "LPN poll"). The LPN poll gets 90 ms to send a couple of advertisements before sw

[2020-03-26 07:28] trond-snekvik commented on #23805
cc @jhedberg

[2020-03-26 07:40] kubazdz commented on #23777
@carlescufi it doesn't fix the problem, nothing changes

[2020-03-26 09:43] chrta commented on #17005
@stevew817 I did not find any license information in the current SDK for the files in `platform/radio/rail_lib/autogen/librail_release` Do you know when the license information will be available for these files, preferably by putting a `LICENSE` file in that folder.

[2020-03-26 10:24] stevew817 commented on #17005
@chrta License.txt in the root of the SDK folder (v2.7) contains the following wording, which I think would suffice, but I'm not a lawyer.

[2020-03-26 10:51] pabigot commented on #22622
For `frdm_k64f` the overlay specifies these are Arduino D0 and D1.   When oriented with the ethernet jack on the front at tht top, these are the lowest two pins on the right side outer column of female headers.   There's silkscreen on the back that shows which pins are on each header.

The same two pins are used on the arduino header of mimxrt10x0_evk.  The header on the 1060 next to the 20-pin JT

[2020-03-26 11:03] kkiyota opened #23808 "ARM bus fault with code coverage"
My code coverage ELF has a bus fault.  Debugging with it, it occurred during while loop in the gcov_static_init as shown below.  My board is my own board wit ARM Cortex M7.

Could you let me know how I can adjust func_pointer_start(&__init_array_start) and func_pointer_end(&__init_array_end)?

So far, code coverage feature is unstable.  For example, without using a function in main, it works, but

[2020-03-26 11:40] chrta commented on #17005
@stevew817 Thank you, i missed that. I just wanted to make sure that once we update the gecko sdk to the current version, we can also use the rails library files. I think we can do that now (but i am also not a lawyer...).

[2020-03-26 11:46] #23805 closed

[2020-03-26 12:41] SebastianBoe commented on #23025
I disagree that we should introduce versioning of every Zephyr
module. The paperwork needed to maintain the correct version will
be neglected, resulting in corrupted version checking.

We should solve this problem using data that already exists,
e.g. git revisions and/or file timestamps as they are not subject
to human-error neglect.

It's not clear to me where exactly the check should exist, it
c

[2020-03-26 14:29] erwango commented on #11918
@tannewt Thanks for this description of the behavior of Cirtcuitpython on that matter and feedback on the proposal. This is helping.
Though, one thing that needs to be considered is that CircuitPython would  be _one of the various_ customers of this feature.

Also, if it has to be developed in Zephyr, we need to be able to test it in zephyr tree, so we'd need to have a Zephyr client (sample, test,

[2020-03-26 15:15] galak commented on #21392
dev-review (Mar 26): @nashif we need a tool that is able to deal with a diff, since we shouldn't warn about changes not introduced by the actual PR.

uncrustify config in zephyr is inconsistent with checkpatch, so we need to update the config to be consistent.

We have 3 means today between clang-format, uncrustify, and checkpatch.  Need to see if we can get to one tool.

@pabigot will look into c

[2020-03-26 15:51] ruuddw commented on #17755
@andrewboie:

Any specific product/project in mind, or is this a general remark?
The power-of-two alignment restrictions only apply to ARC MPU v2 not v3 and later.
The alignement overhead can be somewhat controlled/reduced by carefully sizing of the stacks. Did anyone check how much memory would be saved, e.g. for some test applications?

Is the main concern indeed overhead, or a preference to ali

[2020-03-26 16:04] andrewboie commented on #17755
Please provide detail on how this can be done.
Right now I am not seeing it. The thread stack has to have an MPU region to cover it. A privilege stack appended to the end means the next stack will have a significant gap to be properly aligned.

Yes.

[2020-03-26 17:06] kkiyota commented on #23808
Additional debugger info.

Thank you for your help!

![image](https://user-images.githubusercontent.com/59073069/77674830-7e885a00-6fcf-11ea-9fa6-11010275a6ed.png)

[2020-03-26 17:31] jenmwms commented on #23729
Can you please briefly describe the instrumentation used to observe that things are running despite no output? Thanks!

[2020-03-26 17:38] jenmwms commented on #23798
In #2 solution in the description, would this require non-interrupt-based designs to then implement interrupts to comply with the API? Perhaps it only effects a small audience, but it's worth mentioning that there are some designs that choose to avoid interrupts and this would remove that choice?

[2020-03-26 18:12] andrewboie commented on #17755
@ruuddw from my point of view, the MPU v2 implementation is unoptimized and not suitable for real-world use cases. If you don't want to fix/support it, can we remove MPU v2 support from the kernel entirely?

[2020-03-26 18:18] andrewboie commented on #23808
[code]

[2020-03-26 18:28] #17735 closed

[2020-03-26 18:32] vanti commented on #23798
@jenmwms Yes it would require non-interrupt-based designs to implement interrupts. If Zephyr has support for designs that choose to avoid interrupts, then this is not a viable solution.

I have added solution #3 which may be more appropriate.

[2020-03-26 18:45] kkiyota commented on #23808
@andrewboie Thank you for your info!

Could you also give me preferred examples since I'm not familiar with it?

Best regards,
Koji

[2020-03-26 18:57] pabigot commented on #23729
I'd hacked things and ran it under gdb, but at this time I can't reproduce the results.

[2020-03-26 19:02] pabigot commented on #23729
By which I mean: it goes dark, and the debugger doesn't confirm that it even gets into main, though adding an LED shows it's getting in there somewhere.  Looks almost like an interrupt is getting signalled and never cleared.

[2020-03-26 20:01] kkiyota opened #23824 "ARM Cortex-M7 MPU setting"
Looking at my current MPU setting thru debugger feature, MPU Region 1 seems to be configured as XN="Not execute", MPU_RASR1=0x110B0027.  Currently, I don't explicitly specify it as XN="Not execute" anywhere.

Could you let me know how I can change it to XN="Execute"?  If I can do it in *.dts, it would be preferable.

![image](https://user-images.githubusercontent.com/59073069/77690854-49880180-6fe

[2020-03-26 20:53] arvid-r opened #23825 "edtlib.py fails to find bindings when DTS_ROOT is a relative path"
**Describe the bug**
When building out-of-tree drivers, new bindings can also be located outside of the zephyr tree using `set(DTS_ROOT some_path)` in the application's CMakeList.txt. However, if `some_path` is a relative path (relative to the CMakeList.txt), the bindings are found, but can not be matched using the compatible string. In this case, no devicetree macros are generated.

**To Reproduc

[2020-03-27 01:53] kkiyota commented on #23808
@andrewboie The section in common-rom.ld you post seems to be selected in case of "#ifdef CONFIG_CPLUSPLUS"

And this is with code coverage feature, I also found the following coverage_rodata.ld.

Which one should I use?  Working with AMR MPU, how can I fix my problem, usage fault?

**_zephyr/subsys/testsuite/coverage/coverage_rodata.ld_**

[code]

[2020-03-27 06:14] endian-benjamin commented on #23465
Maybe I'm missing a crucial paragraph, but it seems to me that this has little to do with Bluetooth specifically? I mean, it seems you want to decouple DTLS from its traditional UDP/IP dependency, which seems like a noble goal to me, but this all sounds equally applicable to for example direct serial communication, or NFC, or the homebrew 433 MHz Footooth protocol I just made up. Right?

Why not j

[2020-03-27 06:49] lbise commented on #23763
I was using Ethernet.

[2020-03-27 07:34] mgielda commented on #23611
Hi @carlescufi we communicated back with the manufacturer (QuickLogic) as this is work performed towards them. They acknowledge they will maintain the port with us and keep it compatible with the Zephyr code base as it evolves.

[2020-03-27 08:26] javier-moreno-tridonic-com opened #23850 "Template with C linkage in util.h:52"
Maybe I can shed some light on the issue described in https://github.com/zephyrproject-rtos/zephyr/issues/9590 (closed by lack of information) here, as I'm currently facing a similar one if not exactly the same.

The problem is that this file defines a template if the user Is building a C++ application as I'm currently doing.

Someone (in my case, nordic hal) will include some of the zephyr header

[2020-03-27 09:20] javier-moreno-tridonic-com commented on #23850
Just realized that on main.cpp I don't have this problem. Figured out that adding:
[code]
before
[code]
Prevents completely the compilation error.

Is this the intended usage? Is so you can probably close this.

[2020-03-27 10:25] SebastianBoe opened #23853 "samples/boards/nrf/battery does not build"
The sample **samples/boards/nrf/battery** does **not build** for platform **nrf52_pca20020** on the latest master.

That platform is in the sample.yaml's whitelist, so it should be supported.

Perhaps there has been some backwards-incompatible change to DT voltage.

[code]

[2020-03-27 10:25] SebastianBoe commented on #23853
@pabigot : FYI

[2020-03-27 10:37] SebastianBoe commented on #23853
User-error, I used the wrong board.

[2020-03-27 10:37] #23853 closed

[2020-03-27 10:39] crossboss commented on #23825
Maybe something like this in the application CMakeList.txt would solve the problem:
`set(DTS_ROOT ${CMAKE_CURRENT_SOURCE_DIR}/../my_driver/zephyr)`
But than a warning and some documentation would be nice

[2020-03-27 11:53] SebastianBoe commented on #23387
The question of why we don't use a toolchain file is answered.

[2020-03-27 11:53] #23387 closed

[2020-03-27 13:25] galak commented on #21392
We might be able to utilize https://github.com/DoozyX/clang-format-lint-action, I haven't looked at it in great detail.

[2020-03-27 13:27] ruuddw commented on #17755
The carefull stack sizing I had in mind was to minimize large stacks. I don't challenge that there's an option for optimization, but trying to understand the real-world case you are worrying about. What would be the savings from optimization in real-world cases? The MPU v2 has a minimum region size of 2k so only for user stacks of 4k and larger there would be a saving (of at most the sum of (user

[2020-03-27 13:51] lawrence-king opened #23865 "nrf52840 and pyocd cannot program at addresses above 512k"
**Describe the bug**

Boards with nrf52840 chip using the pyocd debugger cannot program flash memory above the 512k mark. When using the command `west flash --hex-file foo.hex` this successfully programs a nrf52840 device using the pyocd runner, provided the contents of the file foo.hex are for addresses below the 512k mark.

Here is an example hex file with content for above the 512k mark (foo.he

[2020-03-27 13:56] sven-hm commented on #21754
I ran into the same problem but could fix it with a `10k` pull-up between `RX0` and `3.3V`.

[2020-03-27 14:29] lawrence-king opened #23866 "sample hci_usb fails with zephyr 2.2.0 (worked with zephyr 2.1.0)"
**Describe the bug**
The sample zephyrproject/zephyr/samples/bluetooth/hci_usb/ fails to operate as expected when built with Zephyr v2.2.0. It works exactly as expected when built with Zephyr v2.1.0.

**To Reproduce**
Steps to reproduce the behaviour:
1. mkdir hci_usb
2. cd zephyrproject/zephyr
3. git checkout v2.2.0
4. west update
5. cd ../../hci_usb
6. rm -rf build
7. west build -b nrf52840_mdk

[2020-03-27 14:52] SebastianBoe commented on #23865
FYI: @mbolivar-nordic

[2020-03-27 15:01] nashif commented on #21392
We do need something that can run this:

https://github.com/llvm-mirror/clang/blob/master/tools/clang-format/clang-format-diff.py

[2020-03-27 15:15] #23324 closed

[2020-03-27 15:39] deangereaux commented on #23465
The API is designed to be transport agnostic so yes in future versions there is no reason why ZEBRA shouldn’t be able to authenticate over a serial line or other transport.  The ZEBRA design allows for different authentication methods and potentially different transports by adding a different transport specific thread, serial for example.  However the transport and authentication are not cleanly d

[2020-03-27 16:31] mbolivar-nordic commented on #23025
It seems like this could be part of module pull request CI to me. What am I missing?

[2020-03-27 16:50] mbolivar-nordic commented on #23865
This is a bug in the nrf52840_mdk/board.cmake file, not a general issue with nrf52840 boards as reported.

[2020-03-27 17:24] #23593 closed

[2020-03-27 18:04] karstenkoenig commented on #23593
Is just disabling the test the resolution? Does the RISC-V port not support interrupt nesting at all or might weird things happen if an interrupt happens during an interrupt?

[2020-03-27 18:12] andrewboie commented on #17755
@ruuddw please think about this for a moment.
Let's say you have five 2K stacks. An MPU region must be able to cover each one. The base address of each stack must be aligned to its own size which is 2k.
In order to align these stacks properly with the privilege stack appended to them, they are all effectively 4k in size. This wastes an incredible amount of memory.
If your stacks are 4k, they are e

[2020-03-27 19:00] galak opened #23872 "cmake find_package(ZephyrUnittest...) doesn't work"
The following PR intrroduced the use of find_package, but if you try:

`scripts/sanitycheck -T tests/unit/math_extras/` it fails.  This seems to be related to find_package not finding ZephyrUnittest.

We get:

[code]

We've reverted the changes just for unit tests in PR #23871

[2020-03-27 19:22] andrewboie opened #23873 "GNA subsystem does not provide any system calls"
**Describe the bug**
The GNA subsystem defined in include/drivers/gna.h has no system calls.

**To Reproduce**
Code inspection.

**Expected behavior**
All APIs not involved with interrupt callback registration should have system calls implemented.

**Impact**
It is not possible to interact with a GNA driver from user mode.

[2020-03-27 19:29] ioannisg commented on #23824
Normally, Region 1 is the SRAM region (whole SRAM, or kernel SRAM in case of user mode). SRAM is set as XN, that's correct. This is done in ARM MPU initialization before kernel initialization. The SRAM is a "fixed" region that is configured at start-up. The configuration for SRAM is taken from the mpu region setting of the SoC (you need to see how the SoC specifies the fixed MPU regions to be conf

[2020-03-27 20:38] maksimmasalski opened #23874 "Test case to check registers data"
I'm developing a test case to check registers data.
I'm using a syscall and 0xDEADBEEF value, which should be written to registers, and after returning from system call into test code, as I expect that 0xDEADBEEF should be replaced with another value.
**I made the system call, and right before return from the system call, I'm writing into the registers special value 0xDEADBEEF**

[code]

**Then af

[2020-03-27 21:49] andrewboie opened #23877 "syscall use of output buffers may be unsafe in some situations"
For syscalls that have output memory buffers, a lot of them currently do Z_SYSCALL_MEMORY_WRITE() on an out parameter before invoking the implementation function, and pass the out pointer directly to it.

This verifies that the caller has access to this memory, but may be unsafe. It should be safe if the output parameter is truly only used for output by the implementation. That is to say, this out

[2020-03-27 21:57] #23865 closed

[2020-03-28 00:53] stephanosio commented on #23593
@karstenkoenig https://github.com/zephyrproject-rtos/zephyr/issues/23593#issuecomment-601556457

As far as I can see, the RISC-V arch port does not support interrupt nesting and, even if it does, there is currently no viable way of testing it in software because CLINT does not support priority-based nested interrupts and PLIC does not support generating interrupts from software (and that is pretty

[2020-03-28 01:34] stephanosio commented on #23874
I think this test should be implemented in ASM (at least the `z_impl_string_nlen` and `test_after_syscall_cpu_scrubs_regs`); otherwise, there is no fundamentally safe way to guarantee that the regs will not get nuked by the compiler.

For x86, you should be able to DEADBEEF `esi` and `edi` as well; `esp` and `ebp` cannot be DEADBEEF'ed though since these regs are stack pointers. If you implement t

[2020-03-28 17:24] szundi commented on #21426
just a tip: if you get the error with git 2.26+, delete modules/lib/civetweb folder, then retry with west update, this fixed me some bad state

[2020-03-28 20:13] kkiyota commented on #23824
@ioannisg Thank you for your explanation and suggestion!  Although I applied "ARCH_HAS_RAMFUNC_SUPPORT", it still occurred.

In further analysis, it may be related to cmake optimization for gcc.  It looks -O0?.  I'll try -O2 and others including "-mno-unaligned-access" tomorrow.  Any idea which one will be appropriate?

[2020-03-28 22:10] sslupsky opened #23886 "drivers: modem_socket: Question: socket ID appears to be the same for all sockets"
I have been reviewing the modem stack and came across the following line in modem_socket_get():
https://github.com/zephyrproject-rtos/zephyr/blob/23957a8938a02b616441fed88b238a63af816931/drivers/modem/modem_socket.c#L171
This line appears to assign the same ID to all sockets.  That is, every call to modem_socket_get() sets the socket id to the same value (sockets_len+1).

Is this the desired behav

[2020-03-28 22:15] sslupsky opened #23887 "drivers: modem: question: Should modem stack include headers to put into zephyr/include?"
Should the include headers for the modem stack (modem_cmd_handler.h, modem_context.h, modem_iface_uart.h, modem_socket.h) be placed in the Zephyr include directory?

The reason I ask is that I experienced problem when using an out-of-tree driver.  I did this because I am prototyping a modem driver for the Arduino MKR WAN.  To have the includes properly resolved I had to add a prefix (absolute or r

[2020-03-28 23:00] retfie commented on #23674
@lualven-duplicate sorry for late response, but yes, I've got on-mesh prefixed address, and I can ping it from BR.

[2020-03-29 09:25] StefJar opened #23893 "server to client ble coms: two characteristics with notifications failing to notify the right characteristics at the client"
Simple setup:

[code]
no program crashes errors while running test 1 or test 2

If I am checking the client gatt db via (nrf connect and own ble python script) I see that the status is written to the event gatt db characteristic. for me looks like that the characteristic handle/index is wrongly calculated.

my hardware setup: nRF52840 + nRF52840 Dongle

[2020-03-29 09:31] jukkar commented on #23763
This is actually expected if user has not called bind(). There is no way to know in which interface the target ll address is found (if it is not in neighbor cache already). So if the user has not called bind() to set the local end point which selects the network interface, then we are forced to select the default interface (as it is as good guess as any other way to select a network interface).
So

[2020-03-29 09:31] #23763 closed

[2020-03-29 09:57] jukkar commented on #23887
Atm the headers are in `drivers/modem` as they are currently not a proper API and will be fluctuating in the future. There are some ideas floating around what to do with them but nothing concrete has come out of it yet. Best option for you atm, is to upstream your out-of-tree driver if possible.
cc: @mike-scott

[2020-03-29 11:08] kkiyota commented on #23824
@ioannisg "-O2" worked.  Any other suggestions?

[2020-03-29 15:38] sslupsky commented on #23887
Thanks for the feedback.  The relative path works for now so I'll continue to use that.  I will need to pay attention to when this issue does change though.

Any thoughts on when the API will be finalized?

From what I have done so far I have a comment regarding the API.  The existing drivers are "socket" focused.  I am not sure yet if this approach makes sense for something like LoRaWAN which doe

[2020-03-29 16:18] arvid-r opened #23897 "Typo in linker.ld for NXP i.MX RT"
**Describe the bug**
There is a typo in `linker.ld` for NXP i.MX RT platform since the conversion to new Devicetree macros. The start adress macro is used instead of the size macro for the ITCM and DTCM sections, which renders very large sections for these memories.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/hello_world
2. mkdir build; cd build
3. west build  -b mimxrt_1020ev

[2020-03-29 18:23] galak commented on #23897
A PR would be appreciated.

[2020-03-29 21:38] #18050 closed

[2020-03-29 21:38] #23247 closed

[2020-03-30 06:07] erwango commented on #23762
^^@ABOSTM

[2020-03-30 06:16] arvid-r commented on #23897
#23902

[2020-03-30 07:08] ioannisg commented on #23824
ARCH_HAS_RAMFUNC_SUPPORT simply indicates that Corte-xM is able to execute code from SRAM; setting it has no effect. (you can look at tests/arch/arm/arm_rumfunc for details of how to place code to SRAM)

I cannot understand what _it_ refers to, and what the real problem it - I thought you're asking about the settings of MPU regions.

if you got your answers, or solved your issue, please, close thi

[2020-03-30 07:24] maksimmasalski commented on #23874
@stephanosio Thank you for your explanation and review.

[2020-03-30 07:35] nordic-krch opened #23907 "Shell overdo argument parsing in some cases"
**Describe the scenario**
If shell is used to implement AT commands, some commands are parsed incorrectly. It is because shell argument parser attempts to extract all parameters into separate strings and support quotation characters so it parses string like `command arg1 "arg2 with spaces"` into 3 arguments with last one containing spaces. Quotations must be escaped if they are just quotations (e.

[2020-03-30 07:36] nordic-krch commented on #23907
fyi @stig-bjorlykke

[2020-03-30 07:38] nordic-krch commented on #23907
@jakub-uC  @Vudentz what do you think about it? feedback welcomed. Other solution proposals or maybe different perspective to the problem.

[2020-03-30 08:02] szundi commented on #15504
Worked like a charm.

[2020-03-30 08:14] kkiyota commented on #23824
@ioannisg My original problem was described in https://github.com/zephyrproject-rtos/zephyr/issues/23808#issue-588334925 that I thought it was related to MPU setting.  So far, I believe it's caused by unaligned access which is caught by MPU as usage fault, and by code optimization by gcc.

Since there are several different code optimization options for gcc, I'm asking which options are appropriate

[2020-03-30 08:33] jakub-uC commented on #23907
@nordic-krch : The easiest way, in my opinion, would be to implement a command like `select` which you can use to dynamically modify parameter set by Kconfig's `SHELL_ARGC_MAX`.
And similar to `select` you could use some escape code to bring back default value.

[2020-03-30 08:36] maksimmasalski commented on #23874
@stephanosio Do you know why I receive that error message trying to write 0xDEADBEEF in ARM?
`"mov r12, 0xDEADBEEF;\n\t"`
/tmp/cc2aCrG2.s: Assembler messages:
/tmp/cc2aCrG2.s:738: Error: invalid constant (ffffffffdeadbeef) after fixup

[2020-03-30 08:48] stephanosio commented on #23874
You cannot specify 32-bit immediate to `mov` instruction; the best option you have is to load the value from the literal pool.

Try `ldr r12, =0xDEADBEEF`.

[2020-03-30 08:54] ioannisg commented on #23824
-O2 should be the default, IIRC; i think O0 might be specific to when enabling code coverage.

[2020-03-30 09:05] kkiyota commented on #23824
@ioannisg "-Og" was used in my usage fault case.

[2020-03-30 10:12] karstenkoenig commented on #23593
Ok, thanks for clearing it up for me!

[2020-03-30 11:16] chen-png commented on #22780
after check my environment,  and add retry-failed 2 to run this again, the test result is as expected, so close this.

[2020-03-30 11:16] #22780 closed

[2020-03-30 11:18] maksimmasalski commented on #23874
@stephanosio Thanks.
Do you know how that x86 assembly command transfer into ARC assembly inline code?

[2020-03-30 12:09] stephanosio commented on #23874
Not really an expert on the ARC stuff, but it seems 32-bit immediates (limm) are supported by `mov`.

As for the regs, see https://github.com/zephyrproject-rtos/zephyr/blob/386e5ba81c4bdfe782567fe380d77bee0ede871b/arch/arc/include/kernel_arch_data.h

[2020-03-30 13:00] pfalcon opened #23917 "Kconfig: problems with using backslash-escapes in "default" value of "string" option"
I'm trying to use following snippet in a Kconfig:

[code]

However, zephyr/.config with that setting gets:

[code]

When I try to used double-backslashes in Kconfig:
[code]

I get in zephyr/.config:
[code]

Complete reproducible case can be found in this branch: https://github.com/pfalcon/zephyr/commits/big_http_download-kconfigurable

[2020-03-30 13:01] pfalcon commented on #23917
@ulfalizer, Hopefully you can look into this.

[2020-03-30 13:04] #23897 closed

[2020-03-30 13:44] chrta opened #23919 "sanitycheck samples/drivers/entropy/sample.drivers.entropy fails"
**Describe the bug**

The sanitycheck with the test samples/drivers/entropy/sample.drivers.entropy always fails for the board efm32pg_stk3402a. This seems to also be the case for other boards.

It seems that the regular expression `"(  0x([0-9a-f]){2}){9}"` in the file `sample.yaml` expects two spaces at the beginning of the line, but there are no spaces, according to the file `handler.log`.
Accor

[2020-03-30 13:49] galak opened #23920 "Develop script to generate dtsi files for tests/drivers/build_all"
As we move to using dts overlay for `build_all`.  We should have a means to generate a template for the DTS nodes in the overlay files.

[2020-03-30 13:50] galak commented on #23920
PR #23644 introduces the overlays and the i2c.dtsi and spi.dtsi files are generated by some hacky scripts that I'll attach to this issue.

[2020-03-30 13:52] tejlmand commented on #23025
Just did some more thinking on @SebastianBoe comment:

which basically means that the best we can do:
[code]

so the best we can get is a faster fail with a better error message.

This also means the earliest place we can do this check, is in CMake, cause `west` was never invoked during update of manifest repo.

[2020-03-30 13:55] galak commented on #23920
The following are changes to edtlib.py to allow the dts init param to be None.  The idea is that one can utilize the edt purely for accessing dts binding information.

[code]

[2020-03-30 14:09] galak commented on #23920
This patch adds a script to generate dts nodes for a given bus.  You need to provide it the bindings dir similar to `scripts/dts/gen_defines.py`.  It utilizes the previous patch to create an edt w/o an dts and thus have access to all the bindings.  You invoke the script as follows `./gen-dts-nodes.py --bindings-dirs /home/galak/git/zephyr/dts/bindings --bus spi`

[code]

[2020-03-30 14:13] pabigot commented on #23850
@carlescufi FYI This is a bug in the Nordic HAL.  Never ever should `#include` directives appear within an `extern` block.

[2020-03-30 14:51] chrta opened #23922 "cmake 3.17 dev warning from FindPythonInterp.cmake"
**Describe the bug**

In cmake 3.17 the behaviour of FindPackageHandleStandardArgs https://cmake.org/cmake/help/v3.17/module/FindPackageHandleStandardArgs.html was modified. See cmake commit https://gitlab.kitware.com/cmake/cmake/commit/ee4673c1ae1e4a1aa4687412717567c2ffbb501b It now produces a warning on the current master.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -b efm3

[2020-03-30 15:13] vonhust commented on #19067
Fixed by #21050

[2020-03-30 15:13] #19067 closed

[2020-03-30 16:52] mtahirbutt opened #23928 "Flash device FLASH_CTRL not found"
**Describe the bug**
[00:00:00.005,000] <err> mcuboot: Flash device FLASH_CTRL not found error. I have want to build that to further proceed towards updatehub app. But I am stopped here. Please someone help in this regard.

What have you tried to diagnose or workaround this issue?

I tried the following method to resolve the issue.
**To Reproduce**
Steps to reproduce the behavior:

tahir@ubuntu:~/

[2020-03-30 17:22] pftbest opened #23930 "Question: Cortex-M7 revision r0p1 errata"
Some Cortex-M7 chips has errata 837070 "Increasing priority using a write to BASEPRI does not take effect immediately".

Is there any mitigation for this in zephyr kernel? I can see a lot of writes to BASEPRI in the source code but it's not clear to me if they are affected or not.

Other projects implement a workaround for this, for example FreeRTOS has a separate port for r0p1.

[2020-03-30 17:31] dcpleung commented on #21156
Another attempt #23325.

[2020-03-30 17:58] #21441 closed

[2020-03-30 18:23] erwango commented on #23928
Could you check if this is fixed by https://github.com/zephyrproject-rtos/zephyr/pull/23679 ?

[2020-03-30 22:01] ceolin commented on #23877
@andrewboie there is another thing that we will need to define. `z_user_to_copy` and `z_user_from_copy` can return `EFAULT` and if it is necessary allocate memory in the handler we may need to deal with `ENOMEM` as well. So, the question here is, should we always `Z_OOPS()` these functions or we should propagate their errors ? The latter will be necessary to review all syscalls documentation.
With

[2020-03-31 01:25] nandojve opened #23945 "west flash don't flash right signed file when system build both hex and bin files"
**Describe the bug**
The **west flash --bin-file build/zephyr/zephyr-\<signed\>.bin** command flash wrong file when system have a **zephyr.hex** file.

**To Reproduce**
1. checkout zephyr master
2. add **CONFIG_BOOTLOADER_MCUBOOT=y** on **prj.conf** file from **hello_world** app
3. run **west build -b sam_v71_xult samples/hello_world**
4. sign binary file **~/\<zephyr home\>/bootloader/mcuboot/scr

[2020-03-31 01:27] stephanosio opened #23946 "ARM soft FP ABI support is broken"
**Describe the bug**
ARM FP "soft" ABI support is broken (cannot be enabled).

The `softfp` allows software floating-point emulation on the ARM processors that are not equipped with an FPU.

**To Reproduce**
Try building anything with `CONFIG_FLOAT=y` and `CONFIG_FP_SOFTABI=y`

**Impact**
Unable to use language-level floating-point features on FPU-less ARM devices (e.g. Cortex-M0(+) and Cortex-M3)

[2020-03-31 01:27] stephanosio commented on #23946
cc @ioannisg

[2020-03-31 01:28] mtahirbutt commented on #23928
issue is resolved thanks. by replacing with DT_FLASH_DEV_NAME inside zephyr/drivers/flash_stm32.c

DEVICE_AND_API_INIT(stm32_flash, DT_FLASH_DEV_NAME,
...........................

[2020-03-31 01:28] #23928 closed

[2020-03-31 02:44] nandojve opened #23947 "soc: arm: atmel: sam4e: Enable FPU"
**Is your enhancement proposal related to a problem? Please describe.**
Enable FPU support

**Additional context**
Atmel SAM4E have a Cortex-M4F FPU that implements the FPv4-SP floating-point extension.
The FPU fully supports single-precision add, subtract, multiply, divide, multiply and accumulate, and square root operations. It also provides conversions between fixed-point and floating-point dat

[2020-03-31 02:46] stephanosio commented on #23947
REMINDER: Make sure we do this after #23904 is merged.

[2020-03-31 03:50] lylezhu2014 opened #23949 "Question: Is there any example for BR/EDR profile/protocols (like A2DP, AVDTP, RFCOMM)?"
There is a sample bluetooth/handsfree for HFP. Whether is there any example for A2DP, AVDTP?

[2020-03-31 04:16] chen-png commented on #22622
@pabigot  thanks for your information.
shorted related pins and tested this case on frdm_k64f and mimxrt1050_evk, this case passed.

[2020-03-31 04:16] #22622 closed

[2020-03-31 06:58] jjmilburn commented on #21545
Interesting! I'll be watching this for `MAC/MAC0` support if that gets rolled in.

[2020-03-31 08:25] emob-nordic commented on #23866
I do not have nrf52840_mdk with me but I've checked that with nrf52840_pca10056 and everything works as expected.
Could You please check what is the log output to console by the sample?
You can add DBG logs by adding the line in prj.conf:
[code]

[2020-03-31 09:29] tluio opened #23953 "Question: How is pdata.tsize initialized in zephyr/subsys/usb/usb_transfer.c?"
In function usb_transfer_sync, pdata.tsize is returned. I wonder how it is initialized. Is it initialized through DMA?

[2020-03-31 11:36] ruuddw commented on #17755
For stacks < 2kbyte I don't see additional dead code in current implementation. The 4k per stack is fully used: 2k for user, 2k for privilege stack.
Agree on the other points, as well as that it is something to improve - just trying to understand the high priority and urgency.

[2020-03-31 12:39] too1 commented on #23723
I tried using PR #21600, but I don't see improved performance (actually it is slightly slower, 3.0/40.6ms vs 2.96/39.6ms).

I use this prj.conf, with floating point enabled:
CONFIG_GPIO=y
CONFIG_NEWLIB_LIBC=y

.map file added for reference:
[zephyr_map.zip](https://github.com/zephyrproject-rtos/zephyr/files/4409034/zephyr_map.zip)

Do I need to do something to enable the new math libraries?

[2020-03-31 12:50] kkiyota commented on #23808
Looking at Kconfig.zephyr, in case of COVERAGE, "-O0" option for gcc is selected as shown below.  It doesn't work for my own board which is Cortex-M7 with MPU.  That is, there are usage fault caused by unaligned access.  This means that gcc generates unaligned instructions.  On the other hand, I specified "-O2" instead, it worked and generated coverage report.

Does anyone know if this is gcc prob

[2020-03-31 12:50] kkiyota commented on #23824
Moved to https://github.com/zephyrproject-rtos/zephyr/issues/23824

[2020-03-31 13:07] lawrence-king commented on #23866
Sure, here are the logs from v2.2.0 with debug turned on.

*** Booting Zephyr OS build zephyr-v2.2.0  ***
Bluetooth over USB sample

Unfortunately this doesn’t tell us much. Anything else I can turn on?

I took a look at the MDK schematic and the pca10056 schematic. The biggest difference I see between the two boards (at least as far as the nrf52840 goes) is the USB from the processor to the host

[2020-03-31 13:08] #22997 closed

[2020-03-31 13:17] emob-nordic commented on #23866
Yes, I am using USB hub, this should work without any difference. Ok, from log's I can tell that the USB HW on nrf was successfully powered on, otherwise You would see
[code]
I've edited the comment in regards of additional logs. Could You please try to add:
[code]
to the samples ```prj.conf``` and see the log output? Previously I forgot to add the ```CONFIG_LOG```  (sorry about that) line that's

[2020-03-31 13:52] lawrence-king commented on #23866
Here you go…

*** Booting Zephyr OS build zephyr-v2.2.0  ***
Bluetooth over USB sample
[00:00:00.000,000] <dbg> usb_descriptor.ascii7_to_utf16le: char F : 46, idx 10 -> 21
--- 36 messages dropped ---
[00:00:00.000,000] <dbg> usb_descriptor.ascii7_to_utf16le: char 3 : 33, idx 9 -> 19
[00:00:00.000,000] <dbg> usb_descriptor.ascii7_to_utf16le: char B : 42, idx 8 -> 17
[00:00:00.000,000] <dbg> usb_des

[2020-03-31 14:00] #23872 closed

[2020-03-31 14:06] nashif commented on #23799
bisected and found this to be the bad commit: 0ca40205e56f7192c12dccdb2c25106b0b2bc5ae

@Mierunski FYI

[2020-03-31 14:07] nashif commented on #22625
1e6520c0b06b674190f4a574761dd9c5f4b02142 does not exist in the tree...

[2020-03-31 14:10] nashif commented on #23474
cant reproduce on master.

[2020-03-31 14:11] nashif commented on #23474
well, it is sporadic...

[2020-03-31 14:20] #23562 closed

[2020-03-31 14:24] pabigot commented on #2542
It is true that there is a wide variety of capability in fuel gauge vs battery management vs charging IC.  So I think we should have multiple specific drivers available before attempting to guess what a generic API suitable to Zephyr should look like.

I could port my non-Zephyr drivers for XC6804A4E1 (nrf52_pca20020) and XC6802A42 (particle mesh feather) if there was interest.

[2020-03-31 14:33] lawrence-king commented on #23866
Update: I should have been clearer about my test setup. I am working with a Win10 laptop, on the laptop I am also running Oracle VirtualBox which then runs Linux 19.04. When I plug in the usb_hci device first Win10 probes the device and decides what it is, then it hands the device over to Linux. The Win10 probe is failing. Win10 does realize that it sees a "Generic Bluetooth Adapter", but the adap

[2020-03-31 14:35] lawrence-king commented on #23866
I don't know how I got this closed. Oops...

[2020-03-31 14:57] nashif commented on #23919
Does this solve the problem?

[code]

[2020-03-31 15:04] alexanderwachter commented on #22625
@nashif it is in the nxp hal.

[2020-03-31 15:05] stephanosio commented on #23930
cc @ioannisg

[2020-03-31 15:08] mfiumara opened #23961 "CCC does not get cleared when CONFIG_BT_KEYS_OVERWRITE_OLDEST is enabled"
**Describe the bug**
When CONFIG_BT_KEYS_OVERWRITE_OLDEST is enabled, a warning gets thrown by bt_gatt saying no space to store CCC cfg.

**To Reproduce**
Steps to reproduce the behavior:
1. `git apply prj.conf.patch && west build -b nrf52_pca10040 samples/bluetooth/peripheral_hr`
2. `west flash`
3. bond with the peripheral using nrfconnect and subscribe to the CCC notification
4. disconnect and p

[2020-03-31 15:11] nashif commented on #22625
@alexanderwachter  found it, thanks. @MaureenHelm FYI

[2020-03-31 15:15] carlescufi commented on #23866
@lawrence-king I think we need to separate two things here: `hci_usb` working on Linux (in 2.2.0) and `hci_usb` working on Windows at all.

I just tested Zephyr 2.2.0 with the following results:

* On Windows,

  - If I don't disconnect my built-in Bluetooth, I get the following event in the event viewer if I try to connect the dongle:
![image](https://user-images.githubusercontent.com/12450381/78

[2020-03-31 15:20] carlescufi commented on #23866
@lawrence-king

When you say "works correctly on Windows" what do you mean exactly? You can actually use it with the Windows built-in Bluetooth stack? Because I just tried that and it doesn't seem to work.

[2020-03-31 15:24] chrta commented on #23919
This produces:
[code]
There seems to be escaping missing. The following works and fixes the problem:
[code]

Result:
[code]

[2020-03-31 15:26] carlescufi commented on #23866
I use the exact same setup except I use VMWare Workstation and I do not have the same problem. From VirtualBox or VMWare you can select explicitly where a USB device is to be connected:

![image](https://user-images.githubusercontent.com/12450381/78044181-9d427400-7374-11ea-82e2-d47b7684f71f.png)

and then:

![image](https://user-images.githubusercontent.com/12450381/78044239-b0edda80-7374-11ea-94

[2020-03-31 15:30] ioannisg commented on #23930
Thanks for posting this, @pftbest .

As far as I can see from this errata:

So, it seems to me that even though we do not _directly_ account for this errata in the code, MSR to BASEPRI is followed by an ISB instruction; (this was done for extra protection so even fetching instructions or reading registers / ALU operations are not done before MSR BASEPRI is completed) the latter takes care of this

[2020-03-31 15:42] olsky commented on #2542
I agree with @pabigot -- it makes sense to go with specific drivers first, collect experience, gather use-cases and then more to "generalization" and making APIs for a generic battery module.

Standards, rooting from theories -- tend to take time. More pragmatic approach, in my opinion, is required.

[2020-03-31 15:48] galak commented on #23107
@nandojve are you able to get back to look at conversions for SAM now that we have the new DT macro's in place.  Here's what I have (the # is count of DT_ references that need modification, or a rough estimate).

[code]

[2020-03-31 15:49] lawrence-king commented on #23866
In my setup (Win10/VirtualBox/Linux) I can use the v2.1.0 hci_usb adapter from the Linux VM to successfully do over the air updates to a nrf52840 based Zephyr board.

With Zephyr v2.2.0 I am unable to connect the usb_hci adapter to the Linux VM, and Win10 gives the same error 10 you are seeing. The BT adapter is not visible to VirtualBox.

VirtualBox has similar settings to the ones you are showin

[2020-03-31 16:02] stephanosio commented on #23930
It seems we do indeed have `isb` after all boosts to `BASEPRI`, as far as the arch implementation goes (e.g. in `arch_irq_lock`), and given that this errata effectively delays interrupt locking until the next instruction is executed, where that next instruction is always `isb`, this should not be a problem.

https://github.com/zephyrproject-rtos/zephyr/blob/33928f18ae063fa8cb97ebd35481d7a7db04e927

[2020-03-31 16:08] stephanosio commented on #23930
@ioannisg What is rather curious is that FreeRTOS Cortex-M7 r0p1 port (the one with errata workaround) implements the `cpsid i` and `cpsie e` workaround despite having `dsb` and `isb` after `msr basepri, ...`.

https://github.com/FreeRTOS/FreeRTOS-Kernel/blob/88e32327e975ddde97c390bc5b6c1f8e7d9d239e/portable/IAR/ARM_CM7/r0p1/portmacro.h#L131-L136

[2020-03-31 16:14] markus-becker-tridonic-com commented on #23193
How about this would be handled similarly to `hwinfo_get_device_id()`?

[2020-03-31 17:08] nandojve commented on #23193
If I understand, maybe we can define a phandle on DT exclusive to get mac address for ifaces. That phandle represents a driver that can return MAC-48 and/or MAC-64. This must have preference over random MAC. In fact, a random MAC could be the default implementation (first driver) and default action to call. We can use DT local-mac-address Linux definition to define an alternative way for test purp

[2020-03-31 17:40] carlescufi commented on #23922
@chrta can you please send a PR with the suggested patch so it can be discussed in the PR itself?

[2020-03-31 17:47] carlescufi commented on #20699
This is already in `menuconfig` or `guiconfig`. A list would be extremely long and not hierarchical, so I am not sure this would be usable. Closing for now, if you have a concrete proposal please reopen it.

[2020-03-31 17:47] #20699 closed

[2020-03-31 17:49] carlescufi commented on #21033
@andyross could you consider adding this to your new heap allocator?

[2020-03-31 17:50] nandojve commented on #23107
Hi @galak, I can take look at weekend and try update full list. I saw tons of DT_INST moving and probably lots of SAM related.

[2020-03-31 17:56] carlescufi commented on #21513
Anything that supports userspace (syscalls) already verifies parameters when actually calling from userspace into kernel mode. Outside of userspace this is not done consistently, and could be done using the existing `CHECKIF()`.

[2020-03-31 17:56] #21513 closed

[2020-03-31 17:58] carlescufi commented on #21633
@rlubos any plans to implement this in the near/mid term?

[2020-03-31 18:00] carlescufi commented on #22061
@jukkar and @rlubos could on you comment on the questions/requirements in the description?

[2020-03-31 18:07] andrewboie commented on #23877
@ceolin this is covered by our specification in https://docs.zephyrproject.org/latest/reference/usermode/syscalls.html#handler-function it is appropriate to `Z_OOPS()` when we deal with memory access errors, and return `-ENOMEM` when a heap allocation fails.

[2020-03-31 18:49] andrewboie commented on #23877
With respect to parameters and how to deal with them, they fall into several categories.

For purposes of terminology, we define a buffer as:
* a parameter tuple which is a void * memory pointer and an associated size_t provided by the caller, or is otherwise a blob of memory of a known address and size.
* No logic in the kernel does anything with the buffer other than copy data back and forth. Th

[2020-03-31 18:57] andrewboie commented on #17755
@ruuddw privilege mode stacks do not need to be 2k. They do not require an MPU region to cover them. The default is 1024 bytes. At minimum a kilobyte is being wasted per thread.

[2020-03-31 20:26] carlescufi commented on #23866
Right, but when you plug in a v2.1.0 hci_usb adapter and don't direct it to the VM, what do you see in Device Manager? I see the following:

![image](https://user-images.githubusercontent.com/12450381/78071759-4ea9cf80-739e-11ea-9cbe-0a86b65145b4.png)

![image](https://user-images.githubusercontent.com/12450381/78071781-58333780-739e-11ea-81e4-7e4dbce28145.png)

Which basically means that Windows

[2020-03-31 21:03] lawrence-king commented on #23866
With Zephyr v2.2.0 I see exactly what you see

With Zephyr v2.1.0 I see this:
![win_ble](https://user-images.githubusercontent.com/59620384/78074203-49359080-7370-11ea-86a3-b833fd6ae7b8.png)
![win_ble2](https://user-images.githubusercontent.com/59620384/78074214-4d61ae00-7370-11ea-938d-b9fb54ec047f.png)
![win_ble1](https://user-images.githubusercontent.com/59620384/78074224-518dcb80-7370-11ea-81a6

[2020-03-31 22:49] andrewboie commented on #23877
I've sent a patch to update the docs for this in #23974

[2020-03-31 23:52] #23414 closed

[2020-04-01 04:05] stephanosio commented on #23723
@too1 When running performance tests, please make sure that all operational variables are declared `volatile` so that the compiler doesn't try anything funny (e.g. nuking them).

I have tested newlib `cosf` and CMSIS-DSP `arm_cos_f32` functions and I see quite a significant performance difference between them:

|   input  | cosf<br/>(newlib) | arm_cos_f32<br/>(CMSIS-DSP) |
|:--------:|:-----------

[2020-04-01 04:37] sslupsky commented on #22502
Has this issue been investigated?

I updated my zephyr from 2.1.0 to 2.2.0 and USB is broken.  I am seeing the same thing reported here on sam0:
[code]

usb_transfer is spewing out hundreds of log messages per second.  This issue was not present in 2.1.0.

[2020-04-01 04:54] sslupsky commented on #22502
Ok, I see what you mean about the log level.  There is "new" log warning added that is causing this issue.  So, what is causing this?  Is this some kind of error?

[2020-04-01 05:42] mkarhumaa opened #23980 "Nordic USB driver: last fragment sometimes dropped for OUT control endpoint"
**Describe the bug**
Nordic USB driver seems to be sometimes dropping last fragment of fragmented transfer to OUT control endpoint. This appeared when I was testing hci_usb sample and implementing vendor specific HCI command with parameters length bigger than 64 octets (meaning it gets fragmented). I ran into problem that sometimes I did not get HCI Command Complete event which caused HCI TX timeo

[2020-04-01 06:13] jukkar commented on #22061
Link to DSA in Linux https://www.kernel.org/doc/html/latest/networking/dsa/dsa.html

[2020-04-01 07:17] rlubos commented on #21633
@carlescufi Not on my schedule, at least for now. We might consider it though as it seems like a valuable improvement.

[2020-04-01 08:41] carlescufi commented on #23866
@lawrence-king

OK, I am puzzled because even with zephyr v2.1.0 I see the same error on my side, whereas as you say in your case it actually manages to start up the controller, which contradicts my theory about it being single mode preventing Windows from using it, and also not sure why it doesn't fail given that you already have a Bluetooth adapter and a second one should fail.

Can you tell me

[2020-04-01 08:49] jagrutik9 commented on #23712
I followed this thread https://devzone.nordicsemi.com/f/nordic-q-a/59430/nrf9160-sd-card-access-via-spi/242163#242163 on devzone forum and added CONFIG_SPI_NRFX_RAM_BUFFER_SIZE=8 in prj.conf file and it is working. SD card is mounted.

[2020-04-01 09:18] GeorgeGkinis commented on #22466
I have started implementing a driver for **HX711**.
So far it compiles as an **out-of-tree** device and also as part of **zephyr** and **stubs** are in place.

I am still debating whether to implement **out-of-tree** or do a **PR**.

No actual functionality here, just making sure I understand the **zephyr device driver model.**

There are some questions I have :

1. Should configuration be impleme

[2020-04-01 09:27] GeorgeGkinis commented on #23539
I ended up defining my own board and altered the **board.cmake** file as follows :
[code]

Now **jlink** is the first to try and west flashes happily :)

[2020-04-01 10:46] carlescufi commented on #23866
@lawrence-king
First, let me tell you that with VMWare Workstation or with VWMare Player there are no issues at all, I have confirmed this in more than one machine. VMWare seems to be much more solid at handling USB devices than VirtualBox. VMWare Player is free for non-commercial use (just like VirtualBox) so I would recommend you try with that.

I just investigated a bit with @anangl who uses Vi

[2020-04-01 12:34] jfischer-phytec-iot commented on #23953
For `usb_transfer_sync()`, which blocks until finished, pointer to the pdata is `cb_data` and `pdata.tsize` will be assigned in the callback of [usb_transfer()](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/usb_transfer.c#L296).

[2020-04-01 12:41] tluio opened #23986 "Possible use of uninitialized variable in subsys/net/ip/utils.c"
File: subsys/net/ip/utils.c
Function: z_impl_net_addr_ntop
If **family == AF_INET**, **w** declared on line 150 is not initialized but it may be used on line 236.

[2020-04-01 13:00] PiotrZierhoffer commented on #23611
@carlescufi if that confirmation is enough, we'd love to move this forward, as I'll be cleaning up the PR today as well. Can you please help with the repo?

[2020-04-01 13:00] tluio commented on #23953
Thank you very much! Would you please tell me how usb_transfer_sync() blocks.

[2020-04-01 13:04] emob-nordic commented on #23953
There is semaphore which is [taken](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/usb_transfer.c#L317) and later [released](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/usb_transfer.c#L301).

[2020-04-01 13:09] galak commented on #23107
Thanks.  All the DT_INST conversions should be complete.  This work now would be moving away from something like `DT_ATMEL_SAM0_SPI_...` to `DT_INST` and `DT_NODELABEL` (nodelabel form used for cases like pinmux.c that you need to know the specific instance).  The idea being that the node label in dts will match the SoC docs naming.

[2020-04-01 13:11] tluio commented on #23953
@emob-nordic Thank you! Now I think I should close this issue.

[2020-04-01 13:11] #23953 closed

[2020-04-01 13:48] lawrence-king commented on #23866
Hi Charles:

In VirtualBox I am taking the whole device, not trying to share.

I had tried sharing the BT adapter that is built into the machine (an Intel BT chip) but I was unable to do the one thing I wanted which was push new OTA images to my Zephyr devices. So I took an MDK, built the Zephyr v2.1.0 hci-usb image, loaded it onto a nfr52840_mdk board and it worked perfectly. My coworker who uses

[2020-04-01 13:54] carlescufi commented on #23866
@lawrence-king

hci_usb really is not a "Generic Bluetooth Dongle" because Generic Bluetooth dongles always support dual-mode (BR/EDR + BLE), whereas hci_usb only supports BLE.

The whole point is that I see no issue with VMWare doing exactly what you are doing: virtualizing the dongle and using it from the VM, so the fact that it works with another virtualization solution makes me think this is a

[2020-04-01 13:55] lbise commented on #18748
Coming back to this. I implemented a workable solution but honestly I find it a bit hackish and also it only works between Zephyr nodes from my testing.

The big issue here is that you can only have a single net_context listening to a multicast address (i.e [ff02::fb]:5353). Since a net_context is locked to a single interface that means we cannot listen to a multicast address on more than one inte

[2020-04-01 14:42] BOZHENG001 opened #23989 "Switching among different PHY Modes"
**Is your enhancement proposal related to a problem? Please describe.**
I am working with nRF52840 DK using Zephyr 2.0, and now i would like to see the difference among different PHY Modes. In BLE stack, there are totally 4 PHY Modes, which are LE 1M PHY, LE 2M PHY, Coded PHY (S2) and Coded PHY (S8).

I saw some configuration choices like `CONFIG_BT_CTLR_PHY_2M` and `CONFIG_BT_CTLR_PHY_CODED`. I s

[2020-04-01 14:47] nashif commented on #23919
Can you submit a PR? :)

[2020-04-01 14:48] nashif commented on #23799
@carlescufi  fyi

[2020-04-01 15:02] ruuddw commented on #17755
ok, we plan to address it for the 2.3 release.

[2020-04-01 15:25] jukkar commented on #23986
I think you have a false positive here. If the family is AF_INET (then len = 4), the code only loop in IPv4 branch between lines 198 - 216 and never gets to line 236.

[2020-04-01 15:28] #23986 closed

[2020-04-01 16:39] carlescufi commented on #23866
Reverting https://github.com/zephyrproject-rtos/zephyr/commit/281c7cb1e23245a70192986f329a43da7e0a21b7 seems to fix the problem according to @lawrence-king, but that is very confusing because `CONFIG_USB_DEVICE_BOS` is **not** enabled in the `hci_usb` sample.

[2020-04-01 16:46] mtahirbutt commented on #18263
Hi @erwango and @StefJar, I am facing a similary problem with my disco_l475_iot1 board which has stm32l475 MCU. I am using mcuboot for updatehub app. flash_write_protection_set works fine but flash_erase() is not successful. I checked carefully all the partition sizes they are perfectly according to DTS file. Now I tried to see OPTCR register but could not find it. could you please suggest a worko

[2020-04-01 17:06] galak commented on #20348
Posted several PRs for entropy DTS conversion.  After those PRs, left with NRF and STM32 as the outstanding drivers that need conversion.

[2020-04-01 17:07] kkiyota commented on #23808
In addition, ALIGN(4) needs to be added in my case as shown below.

![image](https://user-images.githubusercontent.com/59073069/78165538-6b213700-7486-11ea-98e4-04822e8ba13a.png)

[2020-04-01 17:16] mtahirbutt opened #23997 "flash sector erase fails on stm32l475"
**Describe the bug**

 I am facing a similary problem with my disco_l475_iot1 board which has stm32l475 MCU. I am using mcuboot for updatehub app. I am not able to erase flash memory partition.

A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

flash_write_protection_set() works fine but flash_erase() inside mcuboot.c is not successful.

[2020-04-01 17:32] hakkimakki opened #23998 "Infinite Reboot loop in Constructor C++"
Dear Zephyr Community

I discovered a stange behavior within the code in a C++ Constructor. The below initialisation works if it is placed outside the ctor in a seperate function. But if included in the ctor it ends up in an infinite reboot of zephyr.
[code]
The class is included in the main.cpp and after calling the constructor with:
[code]

The nRF52840 keeps on rebooting infinitly:
[code]

Envi

[2020-04-01 18:07] erwango commented on #18263
@mtahirbutt, please raise a new issue and explain your problem.
One thing you can do is test your erase command on flash_shell sample (if issue is not linked to partitioning).

[2020-04-01 19:24] mtahirbutt commented on #18263
Hi @erwango, I tried flash_shell command and tried to erase partitions. it returns here with -5 again. similar problem as that with updatehub.

[2020-04-01 19:33] mbolivar-nordic commented on #23945
This is working as documented:

https://docs.zephyrproject.org/latest/guides/west/sign.html

There are no guarantees about which file is used by the underlying runner.

Fixing this to use a single `--file` argument that the runner should always respect is a longstanding wishlist item. I left a comment on this pull request describing the work that would need to be done to make this happen: https://

[2020-04-01 19:33] #23945 closed

[2020-04-01 21:44] nandojve commented on #23997
It may be related to #18263

[2020-04-02 01:18] chen-png opened #24001 "tests/kernel/timer/timer_api failed on reel_board and mec15xxevb_assy6853."
**Describe the bug**
for mec15xxevb_assy6853, it was the same error log as reel_board.

**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b reel_board -p auto tests/kernel/timer/timer_api/
2.  west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-1006-g41712204059e  ***
Running test suite timer_api

starting test - test_time_conversion

[2020-04-02 03:52] chen-png opened #24003 "Couldn't generated code coverage report using sanitycheck"
**To Reproduce**
Steps to reproduce the behavior:
1.  sanitycheck -p qemu_x86 --coverage -T tests/kernel/

it would report error:
Traceback (most recent call last):
  File "/home/zephyrproject/zephyr/scripts/sanitycheck", line 1060, in <module>
    main()
  **File "/home/zephyrproject/zephyr/scripts/sanitycheck", line 1016, in main
    if not options.gcov_tools:**
**AttributeError: 'Namespace' obj

[2020-04-02 07:22] #22670 closed

[2020-04-02 07:40] lbise commented on #18748
ping @jukkar @pfalcon

[2020-04-02 08:31] ioannisg commented on #11261
I believe the first bullet is now addressed, at least for k_cpu_idle().
As for the second bullet, I don't see this requirement in the function documentation.

Closing this for now; @mnkp pls, re-open if needed.

[2020-04-02 08:31] #11261 closed

[2020-04-02 09:14] chen-png opened #24008 "Build failure on intel_s1000_crb board."
**Describe**
Couldn't build test cases on i=intel_s1000_crb board, it would report a build error.

**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b intel_s1000_crb -p auto samples/hello_world/
2.  See error

**Screenshots or console output**
In file included from /home/chenpeng/zephyrproject/zephyr/kernel/queue.c:20:
..**/kernel/include/ksched.h:17:43: error: too few arguments p

[2020-04-02 09:16] jukkar commented on #18748
Ok, good to know. As you suggest, proper multicast address listening is the way to go then.

[2020-04-02 09:17] LingaoMeng opened #24009 "Bluetooth: Mesh: Friend node not cache ALL_Node Address or different app_idx"
Set up there nodes, call publish node, friend node ,lpn node.

All node share single network key, but friend & lpn node with different application key,
the lpn node has same application key will publish node.

when publish node periodic send model message with the dst = 0xffff, lpn node not receive all of them.

[2020-04-02 09:23] LingaoMeng commented on #24009
https://github.com/zephyrproject-rtos/zephyr/blob/c98652b42f12f07736259788ba067d8987387cb9/subsys/bluetooth/mesh/transport.c#L905-L914 and sdu_recv_seg

should be change as return 0 ?

[2020-04-02 09:25] LingaoMeng commented on #24009
https://github.com/zephyrproject-rtos/zephyr/blob/c98652b42f12f07736259788ba067d8987387cb9/subsys/bluetooth/mesh/friend.c#L1387-L1411 should add judgement for ALL_NODE_ADDRESS ?

[2020-04-02 09:51] pfalcon commented on #23917
We discussed this issue yesterday on Slack with @ulfalizer. Just to summarize it, the current situation is that you can't pass a string with a *single* backslash from Kconfig default value down to `autoconf.h` file generated by kconfiglib (indeed, `autoconf.h` is the real problem spot, as that's what gets included from C source, not `.config`). Currently, you can pass either 0 or 2 slashes, with 1

[2020-04-02 10:12] jhedberg commented on #24009
I remember seeing some discussion in the Mesh WG about this, with the conclusion that LPNs need to explicitly subscribe to these addresses, so based on that it's not a bug. @trond-snekvik can you confirm?

[2020-04-02 10:13] pfalcon commented on #18748
Yes, this, to my knowledge, is the current design limitation of Zephyr network stack. And I'm not sure what's the best way to deal with it. I guess I would start with a suggestion to do just that - for different protocol implementation to accept the that there may be more than 1 interface, and be ready to listen on multiple (if user requested that). I would recommend to start with that, instead of

[2020-04-02 10:27] trond-snekvik commented on #24009
I remember this too, according to spec, the LPN has to explicitly subscribe to 0xffff. There's no public API for doing this in zephyr though, as it's controlled by the config server, which won't accept 0xffff. Perhaps it could be compile time option to automatically subscribe to 0xffff when the friendship is established?

[2020-04-02 10:31] jukkar commented on #18748
There should not be many places in core stack that does not support multiple interfaces. If one enables VLAN in Ethernet that brings in multiple interfaces immediately. I have been fixing these things when I have found them but of course there are still those left like in this mdns thingy. Please report any issues with multiple interfaces so those can be fixed. This mdns issue needs to be fixed, n

[2020-04-02 10:48] pfalcon commented on #18748
"Support" is not exactly what I mean, more of "handle properly". We used to have reports of interface not being properly selected, and @lbise's report here also "it seems that in all cases it will take the default interfaces when binding".

Yes, thanks.

As I mentioned in other tickets, these days (months) I'm working on setting up CI tests to run on real hardware. Keeps going much slower than des

[2020-04-02 10:49] LingaoMeng commented on #24009
well, it's still another problem, friend node has different `appkey `with lpn node , but currently call `sud_recv` return `-EINVAL` when local node unable find `appkey`,
so, even the friend node known its dst is lpn node,  and not store this to friend queue.

[2020-04-02 10:59] dcpleung commented on #24008
I have no problem building on master (commit 2e879fae4841b28c5ccb0fef4951fb1fa6efb359, two commits ahead of 1134edd), and Zephyr SDK 0.11.2.

[2020-04-02 11:09] jhedberg commented on #24009
@LingaoMeng let's not mix multiple issues into a single GitHub issue. Open a new one since I already categorised this based on the 0xffff address concern.

[2020-04-02 11:21] pfalcon commented on #23302
I'm currently working on switching over big_http_download to a local host downloads (yep, to put it into CI and not rely on external hosts which would provide additional disturbance to testing).

And I decided to share what I see with just an asciinema recording: https://asciinema.org/a/BXbcuYTQsrsPxDmdCnbfUz7Qz (as I'm not sure how soon they garbage-collect uploads, also attaching here
[big_http_

[2020-04-02 11:24] pfalcon commented on #23302
(Which makes me think maybe add a calculation of "momentary" speed over e.g. last second or two, and print out each on a separate line, not as with "\r").

[2020-04-02 11:36] Kupeo opened #24014 "Bluetooth: Mesh: Friend node not cache for lpn which receiveing unknown app_idx"
When friend node use a different application key with lpn node, the friend not cache them.
But, the spec not limited for this.

[2020-04-02 11:40] LingaoMeng commented on #24014
@jhedberg

[2020-04-02 12:06] galak opened #24016 "Fully support DTS on nrf entropy driver"
The NRF entropy driver is one of two remaining entropy drivers that haven't been converted to DTS.  The following changes need to be made:

* validate dts/bindings/rng/nordic,nrf-rng.yaml makes sense for all nrf SoCs
* Add dts nodes for entropy device to NRF dtsi files
* Convert driver to use DTS macros (especially replacing CONFIG_ENTROPY_NAME)

[2020-04-02 12:43] jhedberg commented on #24014
@LingaoMeng could you provide the additional details (like a quote of the code) as you did in the original issue?

[2020-04-02 13:20] erwango commented on #23997
^^@ABOSTM

[2020-04-02 13:51] nashif commented on #18389
see https://habr.com/en/company/pvs-studio/blog/495284/

[2020-04-02 14:14] carlescufi commented on #23866
Closing since this is currently only attributable to VirtualBox, and not Zephyr itself.

[2020-04-02 14:14] #23866 closed

[2020-04-02 14:44] #18389 closed

[2020-04-02 16:58] zephyrbot opened #24026 "[Coverity CID :209383] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L896

Category: Incorrect expression
Function: `test_macro_names`
Component: Tests
CID: [209383](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209383)

Details:

[code]

Please fix or provide comments in coverity us

[2020-04-02 16:58] zephyrbot opened #24027 "[Coverity CID :209382] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L1064

Category: Incorrect expression
Function: `test_chosen`
Component: Tests
CID: [209382](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209382)

Details:

[code]

Please fix or provide comments in coverity using

[2020-04-02 16:58] zephyrbot opened #24028 "[Coverity CID :209381] Unrecoverable parse warning in include/bluetooth/bluetooth.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/include/bluetooth/bluetooth.h#L729

Category: Parse warnings
Function: ``
Component: Bluetooth
CID: [209381](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209381)

Details:

[code]

Please fix or provide comments in coverity using the link:

https

[2020-04-02 16:58] zephyrbot opened #24029 "[Coverity CID :209380] Unchecked return value in tests/kernel/poll/src/test_poll.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/kernel/poll/src/test_poll.c#L494

Category: Error handling issues
Function: `multi`
Component: Tests
CID: [209380](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209380)

Details:

[code]

Please fix or provide comments in coverity using the

[2020-04-02 16:58] zephyrbot opened #24030 "[Coverity CID :209379] Unchecked return value in tests/kernel/mem_protect/sys_sem/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/kernel/mem_protect/sys_sem/src/main.c#L43

Category: Error handling issues
Function: `isr_sem_take`
Component: Tests
CID: [209379](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209379)

Details:

[code]

Please fix or provide comments in cov

[2020-04-02 16:59] zephyrbot opened #24031 "[Coverity CID :209378] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L1051

Category: Incorrect expression
Function: `test_cs_gpios`
Component: Tests
CID: [209378](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209378)

Details:

[code]

Please fix or provide comments in coverity usin

[2020-04-02 16:59] zephyrbot opened #24032 "[Coverity CID :209377] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L589

Category: Incorrect expression
Function: `test_phandles`
Component: Tests
CID: [209377](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209377)

Details:

[code]

Please fix or provide comments in coverity using

[2020-04-02 16:59] zephyrbot opened #24033 "[Coverity CID :209376] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L1079

Category: Incorrect expression
Function: `test_clocks`
Component: Tests
CID: [209376](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209376)

Details:

[code]

Please fix or provide comments in coverity using

[2020-04-02 16:59] zephyrbot opened #24034 "[Coverity CID :209375] Side effect in assertion in tests/kernel/interrupt/src/prevent_irq.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/kernel/interrupt/src/prevent_irq.c#L50

Category: Incorrect expression
Function: `test_prevent_interruption`
Component: Tests
CID: [209375](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209375)

Details:

[code]

Please fix or provide commen

[2020-04-02 16:59] zephyrbot opened #24035 "[Coverity CID :209374] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L47

Category: Incorrect expression
Function: `test_path_props`
Component: Tests
CID: [209374](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209374)

Details:

[code]

Please fix or provide comments in coverity usin

[2020-04-02 16:59] zephyrbot opened #24036 "[Coverity CID :209373] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L131

Category: Incorrect expression
Function: `test_inst_props`
Component: Tests
CID: [209373](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209373)

Details:

[code]

Please fix or provide comments in coverity usi

[2020-04-02 16:59] zephyrbot opened #24037 "[Coverity CID :209372] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L811

Category: Incorrect expression
Function: `test_gpio`
Component: Tests
CID: [209372](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209372)

Details:

[code]

Please fix or provide comments in coverity using the

[2020-04-02 16:59] zephyrbot opened #24038 "[Coverity CID :209371] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L837

Category: Incorrect expression
Function: `test_io_channels`
Component: Tests
CID: [209371](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209371)

Details:

[code]

Please fix or provide comments in coverity us

[2020-04-02 16:59] zephyrbot opened #24039 "[Coverity CID :209370] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L93

Category: Incorrect expression
Function: `test_nodelabel_props`
Component: Tests
CID: [209370](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209370)

Details:

[code]

Please fix or provide comments in coverity

[2020-04-02 16:59] zephyrbot opened #24040 "[Coverity CID :209369] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L68

Category: Incorrect expression
Function: `test_alias_props`
Component: Tests
CID: [209369](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209369)

Details:

[code]

Please fix or provide comments in coverity usi

[2020-04-02 16:59] zephyrbot opened #24041 "[Coverity CID :209368] Pointless string comparison in tests/lib/devicetree/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/29c0c08fd4abc34aae4e1bf579cc506eaabef428/tests/lib/devicetree/src/main.c#L220

Category: Incorrect expression
Function: `test_bus`
Component: Tests
CID: [209368](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=209368)

Details:

[code]

Please fix or provide comments in coverity using the

[2020-04-02 17:00] nashif commented on #24034
false positive

[2020-04-02 17:00] #24034 closed

[2020-04-02 17:13] galak commented on #24026
False positive, this is what the test is trying to do.

[2020-04-02 17:13] #24026 closed

[2020-04-02 17:13] galak commented on #24027
False positive, this is what the test is trying to do.

[2020-04-02 17:13] #24027 closed

[2020-04-02 17:14] mtahirbutt commented on #23997
Hi @erwango, I tried with zephyr 2.2.0, there I tried flash page_erase 200 and that worked. so I am switching to zephyr 2.2.0 and will now try updatehub app.

[2020-04-02 17:14] galak commented on #24041
False positive, this is what the test is trying to do.

[2020-04-02 17:14] #24041 closed

[2020-04-02 17:14] galak commented on #24040
False positive, this is what the test is trying to do.

[2020-04-02 17:14] #24040 closed

[2020-04-02 17:14] galak commented on #24039
False positive, this is what the test is trying to do.

[2020-04-02 17:14] #24039 closed

[2020-04-02 17:14] galak commented on #24038
False positive, this is what the test is trying to do.

[2020-04-02 17:14] #24038 closed

[2020-04-02 17:14] galak commented on #24037
False positive, this is what the test is trying to do.

[2020-04-02 17:14] #24037 closed

[2020-04-02 17:14] galak commented on #24036
False positive, this is what the test is trying to do.

[2020-04-02 17:14] #24036 closed

[2020-04-02 17:14] galak commented on #24035
False positive, this is what the test is trying to do.

[2020-04-02 17:14] #24035 closed

[2020-04-02 17:15] galak commented on #24033
False positive, this is what the test is trying to do.

[2020-04-02 17:15] #24033 closed

[2020-04-02 17:15] galak commented on #24032
False positive, this is what the test is trying to do.

[2020-04-02 17:15] #24032 closed

[2020-04-02 17:15] galak commented on #24031
False positive, this is what the test is trying to do.

[2020-04-02 17:15] #24031 closed

[2020-04-02 17:15] sslupsky commented on #23692
The new GPIO API fixes this issue.  Though, for some reason, the driver reverted to using the "raw" pin.  My PR sets this back to using gpio_pin_set() which will enable logical pin setting (Active High or Active Low).
https://github.com/zephyrproject-rtos/zephyr/pull/24042

[2020-04-02 17:23] sslupsky commented on #23887
Regarding the second issue about substrings, I created a PR to address this.
https://github.com/zephyrproject-rtos/zephyr/pull/24043

[2020-04-02 17:33] nashif commented on #24031
Did you mark those in coverity as false-positive?

[2020-04-02 17:35] joerchan commented on #24028
Is the issue here that there is a line break after the assignment?
I haven't seen any issues with this line: `BT_SECURITY_NONE   __deprecated = BT_SECURITY_L0,`

[2020-04-02 18:19] #23824 closed

[2020-04-02 18:21] andrewboie commented on #23808
Does this solve your problem? Can you send a PR? It's odd that this isn't 4-byte aligned already, although I'd have to look at where this linker script fragment gets included

[2020-04-02 18:38] andrewboie commented on #21923
Summary of my current thinking:

* I think we should adopt a global policy of having IRQs unlocked when servicing exceptions, unless the calling context also had IRQs locked. Currently, only x86-32 gets this right.
* There can be use-cases of having exception handlers be preemptible. For example, consider a paging backing store that can read/write pages asynchronously. We could poll, but system re

[2020-04-02 18:42] jhedberg commented on #24028
I would just clasify this as a Coverity bug, i.e. nothing to do with the code. Even the category speaks for that: "Parse warning". The code is clearly valid so this is just Coverity's shortcoming.

[2020-04-02 19:09] andrewboie opened #24048 "ARM should only use CONFIG_GEN_PRIV_STACKS if the MPU requires it"
**Describe the bug**
Currently

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Screenshots or console output**
If applicable, add a screenshot (drag-and-drop an image), or console logs
(cut-and-paste text and put a code fence (\`\`\`) before and after, to help
expl

[2020-04-02 21:07] optdcw commented on #23337
So i made clean installation of zephyr 2.2.0.
I have build example ./samples/usb/cdc/ whiched worked.
Then i aplied the overlay-composite-cdc-dfu.conf and the application did not insert any usb.
I noticed that the application build with the overlay is shifted and starts at 0xC000 instead of 0x0.

Which is the reason i guess the example is not working. It propably expects mcuboot to be there howeve

[2020-04-02 21:21] optdcw commented on #23337
So i made the similar test with nrf connect sdk zephyr version: Zephyr version: 2.1.99.
There the mcuboot created merged.hex as expected.

The application booted sucessfuly. I used this [prj.conf](https://github.com/zephyrproject-rtos/zephyr/files/4423687/prj.txt).

I installed the driver using zadig: WinUSB (v6.1.7600.16385).

The output of the dfu util is here [dfu_update.txt](https://github.com

[2020-04-02 21:40] GeorgeGkinis opened #24051 "double to sensor_val"
**Is your feature request related to a problem? Please describe.**

I want to convert a double to sensor_val

**Describe the solution you'd like**
I would like a function **double_to_sensor_value** the way **sensor_value_to_double** exists.

**Describe alternatives you've considered**
Googled allot.

**Additional context**
None.

[2020-04-03 00:19] stephanosio commented on #21923
For ARM (other than Cortex-M), exceptions execute in separate modes: UND mode for undefined instructions and ABT mode for prefetch and data aborts (e.g. MPU fault); in addition, there are two types of interrupts: IRQ and FIQ (fast IRQ) -- where, by default upon exception entry, FIQs can preempt exceptions whereas IRQs cannot.

So in this case, "IRQs" will be locked during exceptions, but "FIQs" wi

[2020-04-03 01:05] stephanosio commented on #21923
Agreed. At least one form of external interruption mechanism (in case of ARM, that would be FIQ; on the other platforms where only one type of interruption mechanism is available, that would be the good old IRQ) must be available during exception processing in order to maintain real-time guarantees.

In case of ARM, masking of exceptions can be controlled independent of interrupts; I think the spe

[2020-04-03 01:28] chen-png commented on #21755
@225296 i shorted pin 1-2 and pin 3-4 and ran this test, it wouldn't report any error, but it would stop at "test_adc_repeated_samplings", do you know how to fix this?

*** Booting Zephyr OS build zephyr-v2.2.0-1091-gc98652b42f12  ***
Running test suite adc_basic_test

starting test - test_adc_sample_one_channel
Samples read: 0x0af1 0x0000 0x0000 0x0000 0x0000 0x0000
PASS - test_adc_sample_one_cha

[2020-04-03 01:37] chen-png commented on #24008
i reset to 2e879fa and  updated sdk ot 0.11.2, it still reported this build error.
i will check my test environment firstly.

[2020-04-03 04:53] dcpleung commented on #21755
This is due to the board going into deep sleep and not waking up.

[2020-04-03 05:49] erwango commented on #23997
@mtahirbutt out of curiosity, on which release did you face the issue ?

[2020-04-03 06:03] markus-becker-tridonic-com commented on #23193
@nandojve looking forward to your proposal.

[2020-04-03 07:21] erwango opened #24055 "Add support for openocd on stm32g0 and stm32g4 targets"
**Is your enhancement proposal related to a problem? Please describe.**
stm32g0 and stm32g4 soc support has recently been added on openocd.
openocd support can now be enabled on these targets when flashing  debugging

**Describe the solution you'd like**
Identify openocd SHA1 that enable G4/G0 support.
Enable openocd support on zephyr G4 and G0 supported platforms.
Update board docs
Check everythi

[2020-04-03 09:24] FRASTM commented on #24055
Actually, I can see the PR https://github.com/zephyrproject-rtos/openocd/pull/11
for G4 but no G0 support

[2020-04-03 09:48] erwango commented on #24055
@FRASTM
This is on openocd main repo: http://openocd.zylin.com/#/c/4807/
zephyrproject-rtos/openocd is a fork that needs to be updated

[2020-04-03 11:38] AndreyKarpov opened #24061 "PVS-Studio: Checking the Code of Zephyr"
While working on PVS-Studio's integration into PlatformIO, we kept in touch with the PlatformIO team, and they suggested that we check Zephyr, a project from the embedded software world. We liked the idea, and that's how this article appeared.

Here you can check out the article and fix several found errors: [Checking the Code of Zephyr](https://www.viva64.com/en/b/0721/).

However, perhaps you sh

[2020-04-03 12:00] #23919 closed

[2020-04-03 12:16] pabigot opened #24067 "cross-platform inconsistency in I2C bus speeds"
The [I2C bus specification](http://cache.nxp.com/documents/user_manual/UM10204.pdf) in section 5 specifies these named speeds:

* Standard up to 100 kHz
* Fast up to 400 kHz
* Fast+ up to 1 MHz
* High up to 3.4 MHz
* Ultra up to 5 MHz (unidirectional only)

Evaluation in https://github.com/zephyrproject-rtos/zephyr/pull/23971#pullrequestreview-387200780 plus code review show that NXP (mcux, mcux_l

[2020-04-03 12:26] matanix opened #24068 "UART driver for sifive does not compile when configuring PORT_1"
**Describe the bug**
I am working with zephyr and hifive revb board. Tried to configure UART port 1 in order to use it for communication while keeping UART port 0 for console output. It does not compile either for qemu or the actual board.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=qemu_riscv32 or -DBOARD=hifive1_revb
3. configure zephyr/.config CO

[2020-04-03 12:41] nashif commented on #24061
@AndreyKarpov  Thank you for the article, I have downloaded the tool and experimented with it a bit, very easy to use and was straightforward to setup and get results.

We will continue evaluating PVS-Studio for more advanced usage and integration with our development processes.

[2020-04-03 13:03] otavio commented on #23997
@mtahirbutt to be sure, this works on 2.2 and fails on master, right?

[2020-04-03 13:55] FRASTM opened #24072 "tests/kernel/timer/timer_api failed on nucleo_stm32l152re board"
**Describe the bug**
running the tests/kernel/timer/timer_api  on nucleo_stm32l152re board, it fails on test case test_timer_remaining

similar to issue https://github.com/zephyrproject-rtos/zephyr/issues/24001

**To Reproduce**
Steps to reproduce the behavior:

    west build -b nucleo_l152re -p auto tests/kernel/timer/timer_api/
    west flash
    See error

**Screenshots or console output**

[c

[2020-04-03 14:26] rerickson1 opened #24076 "[v1.14] UARTE high current consumption on NRF"
**Describe the bug**
If the UARTE peripheral is used on the NRF52840, it prevents the 840 from entering low power mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout example project from here: https://github.com/rerickson1/nrf52840_lpm
2. build for nrf52840_pca10056
3. Power pca10056 from P21 with 3.3V
4. Flash the example and the board will go to sleep properly (~10 uA)
5. Uncomm

[2020-04-03 14:48] FRASTM commented on #24072
note that tests/kernel/timer/timer_api also fails when running on the nucleo_g071rb board

- testcase test_timer_remaining fails
- and also testcase test_timeout_abs fails :

===================================================================
starting test - test_timeout_abs

    Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/timer/timer_api/e

FAIL - test_timeout_abs
========================

[2020-04-03 16:48] maksimmasalski commented on #23874
@stephanosio I want to use array to use instead of assigning for each variable register value.
But I noticed that my new implementation with array has final value which is not the same if to use just a simple variable to store register value, for example %ebx
**Old approach**
[code]
Output: Reg ebx val user mode 0x11108c

**New approach:**
[code]
Output: Reg ebx val user mode 0x12ff98

I find out

[2020-04-03 17:27] lagosantol opened #24081 "le_adv_ext_report is not generating an HCI event"
**Describe the bug**
The le_adv_ext_report function  is only logging, but is not changing the content of the buf parameter.
As a consequence, no BT_HCI_EVT_LE_EXT_ADVERTISING_REPORT is sent to the host.
This function is in the file subsys/bluetooth/controller/hci/hci.c, starting at line 2667.
The function to compare for the "right" behavior is le_advertising_report, same file, line 2554.
In that l

[2020-04-03 20:58] joerchan opened #24086 "Bluetooth: SMP: Existing bond deleted on pairing failure"
**Describe the bug**
Established bonding information in the peripheral are deleted when the central does not have the bond information. This could be because the central has removed the bond information, or this is in fact not the central but someone spoofing it's identity, or an accidental RPA match.
This causes a problem as the central can initiate a new pairing that will succeed, thereby replac

[2020-04-03 22:05] dcpleung commented on #24072
#24080 should fix the fail `test_timer_remaining()` test.

[2020-04-03 23:21] marketideas opened #24089 "Zephyr/Openthread/MBEDTLS heap size/usage"
**Describe the bug**
I am not at the point to call this a bug yet.  However, spent the last 2 days trying to figure out why a join operation would always fail with a 'NoBufs' while connecting issue, across multiple platforms/boards.
It turns out there was a memory allocation error in CoapSecure:Connect. Tracking this down, I found that the MBED (internal/CONFIG_MBEDTLS_BUILTIN=y) does not use its

[2020-04-04 04:59] Navin-Sankar opened #24092 "Unable to change recv() buffer size in frdm_k64f board."
I am trying to download a file from http server with file size of 11kb with frdm_k64f board. I am using the http_get socket sample as my reference. My intention is to receive a file with response buffer size as 1KB per receive. But it receives only 640 bytes per every receive. Sample application and configuration file attached.

**Sample Application**
[code]
**prj.conf**
[code]

[2020-04-04 11:20] pabigot commented on #23106
These failures is usually particularly repeatable on the board formerly known as `nrf51_pca10028`. which also has:
[code]

[2020-04-04 15:17] nashif commented on #24076
@carlescufi @pabigot  fyi

[2020-04-04 15:19] nashif commented on #22941
deleted two duplicate comments, for the curious

[2020-04-04 17:00] Navin-Sankar commented on #24092
client = 192.168.1.107 & server = 192.168.1.109.
The tcp window size for frdm_k64f client is 1280. Is the reason for (1280/2) = 640 bytes per receive?

![frdm_windows_size](https://user-images.githubusercontent.com/28673597/78456774-5087d180-76c3-11ea-815f-cfe066817a3a.png)

[2020-04-04 18:03] sslupsky commented on #2566
@nashif Hey there, thank you very much for this!  Just what I was looking for.

[2020-04-04 18:18] sslupsky commented on #2566
@nashif I cannot post an issue at the puncover repo so I thought I would ask a quick question here.

I have the following code snippet from my main.c where I report the stack space just before the loop after some initialization is complete:
[code]
The stack space reported from the call to k_thread_stack_space_get() is:
[code]
puncover provides the following analysis:
[code]
which suggests the stac

[2020-04-04 20:44] nandojve commented on #23193
@markus-becker-tridonic-com The @24096 have small part of the solution that shows how to get local-mac-address from device tree. I'll start to work next week on the remaining part.

[2020-04-05 01:29] rckTom opened #24098 "drivers: flash: flash_stm32: usage fault"
Hi,

I found a bug in the flash driver of the stm32. In most cases or
configurations, the bug won't show up. It's an issue of flash_stm32.c in combination with
its device-tree configuration. stm32f3.dtsi states:

[code]

Later, the control registers are loaded in flash_stm32.c:256,
flash_stm32_write_protection() tries to load the base address of the
control registers:

[code]
[code]

regs will poi

[2020-04-05 11:32] #24086 closed

[2020-04-05 12:25] tagunil commented on #24098
@rckTom, does PR #24059 fix these faults?

[2020-04-05 13:12] rckTom commented on #24098
Yes, PR #24059 fixes the fault.

[2020-04-05 13:54] LingaoMeng opened #24101 "Bluetooth: Mesh: Transport Segment send failed lead to seg_tx un-free"
https://github.com/zephyrproject-rtos/zephyr/blob/7ab754d9973e7b7481658bd937e186362f603f70/subsys/bluetooth/mesh/transport.c#L400-L414

In `seg_tx_send_unacked` func, if the first `segment `unable send, this function will be terminated and not set any `retransmit` timer, this will be occupy `seg_tx` object **forever**.

### Suggestion:

in end `seg_tx_send_unacked`

[code]

[2020-04-05 14:12] LingaoMeng commented on #24101
@trond-snekvik , well,  i'm look  new transport.c in mesh dir,  https://github.com/zephyrproject-rtos/zephyr/blob/7ab754d9973e7b7481658bd937e186362f603f70/subsys/bluetooth/mesh/transport.c#L75-L80
https://github.com/zephyrproject-rtos/zephyr/blob/7ab754d9973e7b7481658bd937e186362f603f70/subsys/bluetooth/mesh/transport.c#L101-L105

`Segment array `define in both TX and RX struct, It's going to be t

[2020-04-05 14:25] pabigot opened #24103 "USB Serial Number reverses bytes in hw identifier"
Why does the default encoding of the USB serial number string descriptor reverse the byte order of the value returned by `hwinfo_get_device_id()`?  This seems wrong.

* hwid: `f7 78 63 d5 6c ae 9a 5a`
* serial number: `5A9AAE6CD56378F7`

[2020-04-05 15:39] rralf commented on #24098
Tom, you then might want to add your Tested-by to that PR. At least we had a really funny remote-ssh-screen debugging session. ;-)

[2020-04-05 16:00] pabigot opened #24104 "west sign usage help is missing key information"
[code]

The usage help should explicitly show the requirement to add `--` before the tool options.  This probably applies to other commands.

It would also help if the documentation included a link to https://juullabs-oss.github.io/mcuboot/imgtool.html which tells you what the tool options are.  It took far to long to figure out how to put a version number into the image header.

[2020-04-05 16:02] LingaoMeng commented on #24101
another problem:
 https://github.com/zephyrproject-rtos/zephyr/blob/7ab754d9973e7b7481658bd937e186362f603f70/subsys/bluetooth/mesh/transport.c#L1483-L1490
while in `seg_rx_alloc` allocate all segment, but not to check return value of `k_mem_slab_alloc`, so, if  no buf available, the `rx->seg[j]` will be set to 'NULL',
 https://github.com/zephyrproject-rtos/zephyr/blob/7ab754d9973e7b7481658bd937e18

[2020-04-05 16:18] LingaoMeng commented on #24014
https://github.com/zephyrproject-rtos/zephyr/blob/7ab754d9973e7b7481658bd937e186362f603f70/subsys/bluetooth/mesh/transport.c#L1765-L1801

https://github.com/zephyrproject-rtos/zephyr/blob/7ab754d9973e7b7481658bd937e186362f603f70/subsys/bluetooth/mesh/transport.c#L909-L913

[2020-04-05 18:01] Navin-Sankar opened #24108 "https GET request is failed for big file download."
The following PR #24107 adds the hawkbit FOTA libary support to update embedded device using http and https mode. HTTP mode is working fine(docker image). Hawkbit https server is build with self signed certificate to run in local network. The HTTPS mode is working when the response size is < 2Kb. While downloading the update image from the server, download is failed and client sent the encrypted a

[2020-04-06 04:52] sslupsky opened #24111 "drivers: flash: littlefs: add sync to flash API & update LittleFS to use it"
**Is your enhancement proposal related to a problem? Please describe.**
NAND memory devices have an on-chip buffer used to cache one or more pages of the flash cell array.  The LittleFS API provides for a "sync" that is used to ensure the cache is flushed to the flash array.

At the moment, the flash API does not have an API for syncing, thus the LittleFS stub is a nop.

I propose that the flash A

[2020-04-06 05:01] sslupsky commented on #23322
@rckTom Would it be possible to add SPI NAND to this as well?  I've done some work to adapt the NOR driver to work with a Toshiba SPI NAND device.  I tried to make it as generic as possible but I wasn't able to find an JEDEC specification for SPI NAND that I could download.  I do know the Toshiba devices differ from the Winbond SPI NAND devices.

[2020-04-06 06:44] trond-snekvik commented on #24101
Okay, this is a lot of issues for one issue, I'll try to go through them one by one.

I looked through your PR, and the first issue and its fix looks good to me, well spotted!

This would just move the memory to the slabs though, which would have to fit a `sys_snode_t` and a segment index. I see that this might balance out if the number of segment contexts increases without proportionately increas

[2020-04-06 08:02] FRASTM commented on #24072
Well, https://github.com/zephyrproject-rtos/zephyr/pull/24080, fixes for the nucleo_L152

However, testing with the stm32_lptimer as tick tick timer (on nucleo_l4r5zi) It seems that the same fix is expected on the previous assert of this testcase :

zassert_true(rem_ticks <= (dur_ticks / 2) **+ 1** , NULL);

[2020-04-06 08:12] FRASTM commented on #20991
Applying the PR

[2020-04-06 09:20] erwango opened #24113 "STM32 Flash: Device tree updates"
**Is your enhancement proposal related to a problem? Please describe.**
STM32 flash driver node definition could use an update.
As seen in https://github.com/zephyrproject-rtos/zephyr/pull/24059, a STM32 generic compatible would be useful for use in stm32 generic file flash_stm32.c.
Also, on some IPs, a clock prop has to be defined (similarly to what is done on other IPs such as uart).

**Describe

[2020-04-06 10:29] #23468 closed

[2020-04-06 11:47] erwango opened #24119 "STM32: SPI: Extend power saving SPI pin config to all stm32 series"
**Is your enhancement proposal related to a problem? Please describe.**
https://github.com/zephyrproject-rtos/zephyr/pull/24097 introdcued power saving compliant SPI pin configurations.
This is likely this configuration will be useful for other series as well, specially LP ones (stm32wb included)

**Describe the solution you'd like**
Extend #24097 to all stm32 series.