[2021-01-05 12:31] #31069 closed

[2021-01-05 12:33] tejlmand commented on #30612
Not completely sure what you refer to here.

It is possible for another board revision to select another MCU / MCU revision, if that is what you mean.
The soc selection is normally done in the `_defconfig` file, but that is just a Kconfig fragment.

So as example, the
https://github.com/zephyrproject-rtos/zephyr/blob/1c493b4a7706e9934949f8d23f8d8eddc7256200/boards/arm/sam_e70_xplained/sam_e70_xpla

[2021-01-05 12:57] tejlmand commented on #30612
While i'm not opposing the idea, it really needs to be ensured such feature is not colliding with existing infrastructure.
And the behaviour should be identical for boards in Zephyr repo, and other `BOARD_ROOT`s.

If looking at your initial problem statement, you would like this structure:
[code]
which will give you this list of files in EACH sub-directory to maintain, that is in this example 9 ti

[2021-01-05 13:14] Laczen commented on #31073
Let's take a look at a bin file, this is just a set of bytes that are programmed in the flash, there is no jumping or whatever included in a bin file. To jump over a certain area these bytes are filled with 0x00 or 0xff, there is no way to say in a bin file that you should ignore what is already in flash. When you program this the locations are overwritten with 0x00 or 0xff. You can make a small t

[2021-01-05 13:25] nashif commented on #30991
@carlescufi fyi

[2021-01-05 13:26] nashif commented on #31087
@carlescufi  fyi

[2021-01-05 13:40] JordanYates commented on #31073
I see the potential problem with the `.bin` file, but at some point when messing with linker scripts its going to be 'user beware'. The only in-tree use of this I see is the `storage` partition, which in all boards I've looked at sit at the end of ROM, so it won't cause a problem by default. Its not like this problem doesn't exist currently as well, there is no way of ensuring that memory addresse

[2021-01-05 13:43] JordanYates commented on #31073
I should note that the storage area will only be overwritten in this case if variables are actually initialized into the custom memory region. If it's only defined to protect it from being overwritten, no variables will be in that address space so the `.bin` won't reach that far.

[2021-01-05 13:57] emillindq opened #31100 "Recvfrom not returning -1 if UDP and len is too small for packet."
**Describe the bug**
According to POSIX, recvfrom should return -1 with errno set to EMSGSIZE if trying to receive an UDP datagram but the provided buffer size is too small for the receiving packet. In zephyr's socket library the packet is truncated and it continues as if it's actually wasn't truncated. Failing silently like this risks to give rise to hard-to-find bugs, at least if using POSIX fun

[2021-01-05 14:03] utzig commented on #31087
Related to https://github.com/mcu-tools/mcuboot/issues/905

[2021-01-05 14:18] LuxLuthor opened #31103 "CMSIS RTOS v2 API implementation bugs in osEventFlagsWait"
**Describe the bug**
Problem 1:
Calling osEventFlagsWait while interesetd flags are already set works only once. After first call event object state is reset so another calls return timeout (osFlagsErrorTimeout) even if flags are set.

Problem 2:
While waiting on osEventFlagsWait with specific bitmask and osFlagsWaitAny, function returns if ANY flag set event occurs, even the one not specified in

[2021-01-05 14:22] Laczen commented on #31073
It is easily done using a standalone.overlay. IMO the mcuboot partitioning should never have been in the dts and should have been separate overlay files, but hey this is how it is. The partitioning is there to take advantage of and for the storage it should be used properly, no need to create an extra thing to do the same.

[2021-01-05 14:27] pabigot commented on #30105
*A propósito*, somebody should verify or update the recommended toolchain for [Vega](https://docs.zephyrproject.org/latest/boards/riscv/rv32m1_vega/doc/index.html#get-the-toolchain-and-openocd), which is currently GCC 7.1.1.  @MaureenHelm

I'm unable to make it work with west with the following commands:

    export ZEPHYR_TOOLCHAIN_VARIANT=cross-compile
    export CROSS_COMPILE=/usr/local/openisa

[2021-01-05 14:51] #30191 closed

[2021-01-05 15:24] jukkar commented on #31100
The https://pubs.opengroup.org/onlinepubs/009696699/functions/recvfrom.html does not document `EMSGSIZE` errno, also Linux manual page for recvfrom does not document it. The Linux `recvfrom` manual page says that user can set `MSG_TRUNC` flag, in which case the `recvfrom` will return the real length of the packet or datagram, even when it was longer than the passed buffer.
Where did you find docum

[2021-01-05 16:12] pabigot opened #31106 "RFC: namespace Kconfig driver enable flags"
I'm noticing that a lot of sensors are being added, with Kconfig symbols like `CONFIG_LM73C`, which doesn't say whether an "lm73" is a sensor, or a flash storage device, or a GPIO extender, or whatever.

At some point these names are going to become ambiguous.  Perhaps we should find a way to including the driver subsystem along with the driver name into these symbols.

[2021-01-05 16:49] carlescufi commented on #28438
Yes, CI for the new repo should do that

[2021-01-05 16:59] nashif commented on #31018
cant reproduce:

[code]

[2021-01-05 17:18] #30964 closed

[2021-01-05 17:18] nashif commented on #30964
closing as a non-bug.

[2021-01-05 17:21] nashif commented on #30862
duplicate of #30893

[2021-01-05 17:21] #30862 closed

[2021-01-05 17:23] nashif commented on #30872
@dcpleung  can you please take a look?

[2021-01-05 17:26] nashif commented on #30770
FFIW this is not related to Windows.

[2021-01-05 17:47] pabigot commented on #30329
In the API telecon 2020-01-05 we discussed this, and came up with several concerns:

* Some vendors have more than two drive strength configurations.
* It seems unlikely there will be a clear set of common functionality that can be supported cross-vendors with consistent behavior in vendor-agnostic code.  (That being exactly the problem with the existing gpio DS flags).
* Most vendors handle drive

[2021-01-05 18:03] nashif commented on #29994
any updates on that?

[2021-01-05 18:05] nashif commented on #29994
lowering to medium because this only happens with shell enabled.

[2021-01-05 18:05] nashif commented on #30408
@andyross  any updates on this?

[2021-01-05 18:08] #30870 closed

[2021-01-05 18:16] cfriedt opened #31107 "libc: minimal: add qsort routine"
**Is your enhancement proposal related to a problem? Please describe.**
It would be nice if the minimal libc supported [qsort()](https://en.cppreference.com/w/c/algorithm/qsort) within the stdlib area.

Implementation it via `qsort_s()` (C11) would probably make sense.

Since it's a global / standard C symbol, it could be enabled by default, as the linker would discard it if unused.

**Describe th

[2021-01-05 18:31] #30126 closed

[2021-01-05 19:03] mbolivar-nordic commented on #31110
You are free to add your own extension commands to the workspace if you need to by editing the manifest file as described in the [Extensions](https://docs.zephyrproject.org/latest/guides/west/extensions.html) page. There is no way to 'hook' an existing extension to modify its behavior, though. You will either need to edit the west build implementation or add a different extension with its own name

[2021-01-05 19:03] #31110 closed

[2021-01-05 21:58] JordanYates commented on #31073
How would such a solution look to get correct behavior for `samples/subsys/nvs`? Over 50 `board.standalone.overlay` files with the user having to select the right one with `west build -b board zephyr/samples/subsys/nvs/ -DDTC_OVERLAY_FILE=board.standalone.overlay`?

Regardless, none of this actually solves the original problem of, 'how do I place this variable at this address in the final image'.

[2021-01-05 22:07] andyross commented on #31020
Confirmed.  That's a SOF header being pulled in instead of the (AFAICT) identical one in the Zephyr tree, and that fails when you aren't building the SOF app.

Really a better scheme here would be to clean up that driver.  Right now we have a Zephyr IPM driver (which is our own oddball IPC mechanism) built on top of the platform headers, and the core arch layer in the kernel then uses it to implem

[2021-01-05 22:13] ya-mouse commented on #9509
Just in case. I got zero progress because the firmware image was bigger than flash area (defined in DTS). It would be great if mcuboot will return appropriate return code if data wouldn't fit the flash partition.

[2021-01-05 22:16] mniestroj commented on #31043
@jimparis I think we should check whether buffer is full when `findcrlf()` inside `cmd_handler_process_rx_buf()` doesn't find anything. So `Let's exit and leave any data for next time` should be suplemented with `Let's check if there is more space in buffer and log. If not, log an error and drop everything we've got in the buffer.`. This will both throw a warning that something is wrong and preven

[2021-01-05 23:01] lukasbrchl opened #31114 "Bluetooth: Which coding (S2 vs S8) is used during advertising on Coded PHY?"
Hi,

Just a quick question. I haven't been able to find out which coding scheme (S2 vs S8) is used during Coded PHY advertisements. I just saw that S2 or S8 could be set during connection. Could you please clarify which one is used during the advertisements?

Thanks.

[2021-01-05 23:25] pabigot commented on #30467
I'm going to call this done, because enough conversions have been completed that #31108 passes CI.  There will be some stragglers, especially for PRs that are in flight.  When reviewing please request that any PRs that define new device instances for devicetree-defined devices switch to the DT-based definition before they're merged.

[2021-01-05 23:28] #30467 closed

[2021-01-06 01:44] #29499 closed

[2021-01-06 01:50] cfriedt commented on #30935
Looks line I made a duplicate issue.

[2021-01-06 01:50] #30935 closed

[2021-01-06 02:58] chen-png commented on #31018
it failed with sdk 0.12.0, worked with sdk 0.11.4.

[2021-01-06 08:17] ABOSTM commented on #28312
@lowlander,
I really had in mind ART accelerator.
But F7 also have ART and it suffers from cache coherency, because ART is valid only on ITCM bus.
Also on L4 and G4 there is a note in reference manual about ART:

This note is not present in F4 reference manual, but I have some doubts.
I will investigate.

[2021-01-06 08:34] Laczen commented on #31073
Yes, lets get back on the main goal of the PR: on top of the problem of a bin file that would overwrite existing data, there is another problem: how will the method guarantee that the variables are always at the same location ?

But lets focus on the problem you are trying to solve:
* what is the advantage of having the data in a different memory region, it will use flash anyhow ?

[2021-01-06 09:07] JordanYates commented on #31073
The purpose of a linker script is to control the location of variables. You guarantee addresses by using sections placed in memory regions. Refer to the linked PR where I add a test that hardcodes the variable address in the twister regex precisely because I can guarantee where they are.

The advantage of having the data in a different memory region is that you can guarantee the locations don't ch

[2021-01-06 10:31] Laczen commented on #31073
Good, that this is covered.

From the upgrade functionality I would conclude that you would like an image where the "region" is separated from the image, this would also solve the problem with the overwriting.

[2021-01-06 10:56] JordanYates commented on #31073
This is partly correct, I need both. The initial application flashed at production would contain a base set of values that would be contained in the output `.hex/.bin`, while future OTA images would not include any data in the memory region.

This is trivial to implement in application land with a Kconfig symbol (`CONFIG_PROD_IMAGE` or similar) that controls whether those base variables exist in t

[2021-01-06 11:59] #30872 closed

[2021-01-06 12:23] lowlander commented on #28312
@ABOSTM  since the ART-cache is only valid on the ITCM bus and only for the FLASH.

From the F7 manual, page 92;

After reading some more I found out that on the F7 the FLASH is mapped into the memory map twice, one time on `0x0800_0000 ` via the AXIM bus, and one time on `0x0020_0000` via the ITCM bus.

The ART-cache in only used when using the `0x0020_0000` address, and the "normal" I/D-Cache is

[2021-01-06 12:46] Laczen commented on #31073
If you have the possibility to separate them you don't need both, you can decide just not to download/upgrade the "region".

It is possible to separate the "region" using objcopy, but I don't know if it is possible to generate an image without the "region", but I guess this should also be possible. This is a question for the tools guys.

I don't think the memory region would exist in the OTA image

[2021-01-06 13:46] JordanYates commented on #31073
All of this is getting into the specifics of how I will use this functionality, rather than the functionality itself.

I need a way to store variables at a given address, which requires custom memory regions in the linker.
Devicetree provides a method of partitioning flash, and devicetree is available in the linker scripts, so the path of least resistance appeared to be the `linker-region` solutio

[2021-01-06 13:49] JordanYates commented on #31073
You are correct about using `objcopy` as a better solution than the `CONFIG_PROD_IMAGE` however.
Compile the application with the base variables in, and use `objcopy --remove-section .my_custom_nvs zephyr.elf` to generate the version without it.

[2021-01-06 15:25] #30488 closed

[2021-01-06 15:37] erwango commented on #30943
@qin-zou Can you reproduce the issue with in tree webusb sample ?

[2021-01-06 16:27] cvinayak commented on #29008
I also did some PHY updates in between the active connection to check the connection stability (I did random change like 1M -> 2M -> 1M-> CODED ->2M etc.)
It seems, connection is stable irrespective of that. However, I am not sure, if making supervision timeout to large value alone is sufficient to guarantee a stable connection.

@RoyAnupam Based on the conclusion please close this issue. You may

[2021-01-06 16:34] cvinayak commented on #30243
@nashif This issue is against experimental and work in progress support for Advertising Extensions feature in Bluetooth Controller. We should move this out of v2.5 release bug list.

[2021-01-06 16:35] cvinayak commented on #30244
@nashif This issue is against experimental and work in progress support for Advertising Extensions feature in Bluetooth Controller. We should move this out of v2.5 release bug list.

[2021-01-06 16:57] cvinayak commented on #30624
Multiple connections are being established sequntially and gatt service discovery is performed using the same single instance of `discover_params`. This is bug in application and not in the Bluetooth Subsystem.

No guard preventing sequential multiple connections:
https://github.com/zephyrproject-rtos/zephyr/pull/30680/files#diff-2fcfc31aeea68ed5719fe2686a5507a564ea9c85d0ca14216d6d6953eb7af5f8R452

[2021-01-06 18:45] DineshDK03 opened #31134 "LittleFS: Error Resizing the External QSPI NOR Flash in nRF52840dk"
**Describe the bug**
I tried running the [USB mass storage](https://docs.zephyrproject.org/latest/samples/subsys/usb/mass/README.html#usb-mass-storage-sample-application) sample in that I can't able to use the whole 64MiBi of external qspi_nor flash in nRF52840dk  for littleFS partition. I tried changing the reg value in the partition table as <0x0  0x4000000>  inside the overlay file Also I tried

[2021-01-06 18:53] qin-zou commented on #30943
@erwango So far, I am not able to reproduce the issue with webusb sample.

[2021-01-06 19:14] qin-zou commented on #30943
Also, with my own app,  when I enable ```CONFIG_ASSERT=y```, I would get the following error:
[code]
This is using dfu-util to update with :leave option.
If I update using st-flash, I don't see the issue.

[2021-01-06 19:45] jfischer-no commented on #31134
You need to adjust [DISK_VOLUME_SIZE](https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/subsys/usb/mass/Kconfig#L77) accordingly. The default value is 0x20000 = `256 512-byte logical blocks`.

[2021-01-06 20:56] emillindq commented on #31100
After further investigation it seems like the references I had were either not explicitly following POSIX standard, or just forum posts 🙄

All good and thanks for your input @jukkar !

[2021-01-06 20:56] #31100 closed

[2021-01-06 21:34] mlsvrts commented on #30183
I ran into this, and was able to fix it by simply adding `CONFIG_RING_BUFFER=y` to my project configuration.

It looks like under Zephyr 1.14.2, at least, including the ring_buffer source file in the build is conditioned on this flag (see [/lib/os/CMakeLists.txt](https://github.com/zephyrproject-rtos/zephyr/blob/db5270bd933cc2e7b222f93a791a9351157c3ce0/lib/os/CMakeLists.txt#L31)) -- which results

[2021-01-07 00:33] deangereaux commented on #23465
I'm happy to announce, a PR has been submitted for ZAUTH
PR: https://github.com/zephyrproject-rtos/zephyr/pull/31136

[2021-01-07 02:59] manoj153 opened #31137 "Seems like the rule ".99 tag to signify major work started, minor+1 started " not used anymore ?"
Reason: I don't see such tags on the majority of the releases

Based on the latest doc:

v[Major].[Minor].99 - A tag applied to master branch to signify that work on v[Major].[Minor+1] has started. For example, v1.7.99 will be tagged at the start of v1.8 process. The tag corresponds to VERSION_MAJOR/VERSION_MINOR/PATCHLEVEL macros as defined for a work-in-progress master version. Presence of this

[2021-01-07 03:00] KangJianX commented on #30683
@andyross This issue can be reproduce after your patch merged. This test cases still run failed.

[2021-01-07 03:03] KangJianX commented on #31020
So, do you have an ETA for this issue?

[2021-01-07 05:27] DineshDK03 commented on #31134
Thank you @jfischer-no, it worked

[2021-01-07 05:27] #31134 closed

[2021-01-07 08:14] Laczen commented on #31073
@JordanYates, maybe unrelated, it is possible to generate a "preloaded" storage partition using a native_posix executable. It is some utility I created long ago and can be found at: https://github.com/Laczen/zephyrmodules/utils/native_posix/settings_preload/

[2021-01-07 08:42] erwango commented on #30236
@avigreen1978 are using the same board ?

[2021-01-07 09:29] RoyAnupam commented on #29008
Hello @cvinayak,
 Thank You very much for your tremendous help & guidance to solve the BLE connection issue. After increasing Supervision timeout to 6000 msec, I am able to now establish connection between two nRF-52840 dongles. Will close this issue.

Sure, will do. Thanks.

[2021-01-07 09:29] #29008 closed

[2021-01-07 09:34] ABOSTM opened #31143 "samples: audio: sof: compilation issue, include file not found."
**Describe the bug**
While running automatic tests on STM32 test bench,
samples/audio/sof build fails to build.
This appends on all STM32 boards but could also be seen on NON STM32 (frdm_k64f)

This is a new sample introduced by #30336

**To Reproduce**
Steps to reproduce the behavior:
1. scripts/twister --ninja --runtime-artifact-cleanup -b  -p nucleo_f429zi  -T samples/audio/sof/ --outdir ./log_

[2021-01-07 09:36] ABOSTM commented on #31143
^^ @nashif @andyross

[2021-01-07 10:50] pawelsag opened #31145 "Litex-vexriscv address misaligned with dumb_http_server example"
**Bug description**
On Arty-7 board when running the eth dumb_http_server with vexriscv core
I encountered the error with misaligned memory access.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=litex_vexriscv
3. make
The bitstream was generated with https://github.com/litex-hub/zephyr-on-litex-vexriscv

**Expected behavior**
After sending the HTTP req

[2021-01-07 12:13] beriberikix commented on #30564
@sslupsky I have only limited experience with GPS but the vast majority I've seen either use NMEA or UBX. I've never used RTCM but it seems to also be common and modern. Are there indeed other commonly used protocols than those 4 or is that good enough starting point?

@jukkar I believe this is also implied with your point but there are some modems that have an integrated GNSS and some that a dedi

[2021-01-07 12:15] carlescufi commented on #31031
The conclusion is that we should turn this into a basic mesh sample that provides the following functionality:

- Use the on/off service to turn on-board LEDs on and off
- Document how to provision the app and turn the LED on and off from BlueZ/mobile app

[2021-01-07 12:17] carlescufi commented on #29098
@Vudentz and @klauspetersen should we look at fixing this in time for 2.5?

[2021-01-07 12:21] carlescufi commented on #30378
@vrahane and @hardik-proxy could you please reply to @cvinayak?

[2021-01-07 12:26] carlescufi commented on #30808
@LingaoM could you please pinpoint the exact HCI command that is getting command disallowed? This could be the set random address one, which would be different from what you analyzed.

[2021-01-07 12:40] carlescufi commented on #31019
From the log:

So Set Scan Enable is failing with Command Disallowed, which is different from what is seen in #30808, where it was a Set Scan Parameters command that failed.

@cvinayak how can Set Scan Enable fail with command disallowed at all?

[2021-01-07 12:44] #30955 closed

[2021-01-07 12:55] mfiumara commented on #30564
I have a quectel BG95 I could experiment with, would love to see this functionality added to Zephyr.

[2021-01-07 13:11] beriberikix commented on #30564
The BG95 would be a good one to target! Actually, many of the NB/Cat-M1 modules are based on the [qcomm 9205](https://www.qualcomm.com/news/releases/2019/06/26/qualcomm-technologies-announces-16-design-wins-latest-lte-iot-chipset), so picking one would provide good representation.

My personal reqs would be to start with:
* qcomm 9205 (via the BG95)
* Nordic nRF91
* a standalone U-blox GNSS ([Neo

[2021-01-07 13:25] carlescufi commented on #20419
@nandojve See #31115

[2021-01-07 13:51] erwango opened #31149 "tests/subsys/canbus/isotp/implementation: failing on nucleo_f746zg"
**Describe the bug**
tests/subsys/canbus/isotp/implementation: failing on nucleo_f746zg (and stm32f3_disco)

**To Reproduce**
1- twister --hardware-map ../map.yaml --device-testing -p nucleo_746zg -T tests/subsys/canbus/isotp/conformance
2- See error

**Expected behavior**
Test should pass

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Logs and cons

[2021-01-07 13:54] erwango opened #31150 "tests/subsys/canbus/isotp/conformance: failing on nucleo_f746zg"
**Describe the bug**
tests/subsys/canbus/isotp/conformance: failing on nucleo_f746zg (and stm32f3_disco)

**To Reproduce**
1- twister --hardware-map ../map.yaml --device-testing -p nucleo_746zg -T tests/subsys/canbus/isotp/conformance
2- See error

**Expected behavior**
Test should pass

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Logs and console

[2021-01-07 14:03] martinjaeger commented on #31150
@erwango do you have a CAN transceiver added to the board?

[2021-01-07 14:04] erwango commented on #30943
In your app, are you doing some processing in a callback ?
Seems that fault handling happens during IRQ treatment:
[code]
So it's possible that you have excessive treatment done in interrupt context.
I'd suggest increasing `CONFIG_ISR_STACK_SIZE` **even further** (8192 for instance) or minimizing treatment done in ISR context.

[2021-01-07 14:07] galak opened #31153 "twister build of samples/audio/sof/sample.audio.sof fails on most platforms"
`./scripts/twister -T samples/audio/sof/ -l`

Gets a slew of errors like:

[code]

[2021-01-07 14:08] galak commented on #31153
@nashif fyi.

[2021-01-07 14:13] erwango commented on #31153
Same as https://github.com/zephyrproject-rtos/zephyr/issues/31143

[2021-01-07 14:20] ABOSTM commented on #28312
@lowlander,
warning: on STM32F7,

means that only code execution is concerned, and not data read (which go through DTCM bus instead of ITCM bus).
And this is the reason why on F7, there is only 1 bit to activate (FLASH_ACR_ARTEN)

But now I am a bit confused: original request is to activate ART on F4,
now with your detailed analysis on F7 case, it seems request is larger ...

[2021-01-07 14:36] lgirdwood commented on #31153
@nashif @galak we probably need a ```ifdef INTEL_CAVS_FAMILY``` around SOF atm as today it only builds against certain xtensa SoCs.
Fwiw, @lyakh is doing some updates to make the code fully generic in time for SOF 1.7 and Zephyr 2.5 (there are some drivers/arch code that is getting pulled to the SOF build in some places).

[2021-01-07 14:40] lgirdwood commented on #31143
@nashif are you ok to fix this and #31153 to temp exclude the non CAVS SoC until @lyakh generic work is ready.

[2021-01-07 14:41] ioannisg commented on #30943
To me this looks like a memory corruption (e.g. null pointer), rather than ISR Stack overflow. But sure, try with double-ing the ISR stack size. :)

[2021-01-07 14:48] galak commented on #31143
@lgirdwood I think something like:

[code]

as a start.

[2021-01-07 14:49] galak commented on #31143
However even when I do that, I get the following on intel_adsp_cavs15:

[code]

[2021-01-07 14:54] galak commented on #31143
Does this require SDK 0.12.0?

[2021-01-07 14:57] lowlander commented on #28312
If it is just code or if it depends on which address map is used is not 100% clear to me, since the datasheet talks about instructions and data, but at the same time also talks about the ITCM bus (which should be for instructions only)

You were the one that brought up the F7, so I looked into that a bit more to see how it works in combination with the D/I-caches.

[2021-01-07 15:16] vrahane commented on #30378
Thanks @cvinayak and @carlescufi for the response. I have enabled asserts in our system as per your suggestion. I am still trying to overcome some internal issues. I wanted to send you the traces but without my patch the issue happens once every 8 hours after increasing log size buffers and stack sizes to accommodate asserts. Also, one of the issue I am facing is that the nRF Sniffer does not work

[2021-01-07 15:24] lgirdwood commented on #31143
@lyakh any comment here, IIRC you have some PR pending with rimage updates for manifest (like above error) ?

[2021-01-07 15:46] nashif commented on #31143
you need to run `west sof update`

[2021-01-07 15:50] nashif commented on #31143
we should not add such dependency, the idea is to make SOF also work on non Intel SoCs...

lets just limit what platforms this can run on using explicit platform filters.

[2021-01-07 15:50] galak commented on #31143
???? what is this doing?  Why isn't this just part of the zephyr west.yml?

[2021-01-07 15:53] nashif commented on #31143
This is fetching git submodules needed by SOF. Tried putting those in west, but then the submodules have their own submodules....

[2021-01-07 15:54] nashif commented on #31143
same story as with espressif module with a PR pending, we really need the west support for submodules to get over this type of issues...

[2021-01-07 15:56] mbolivar-nordic commented on #31055
There is, for the nrfjprog runner, which supports `west flash --erase`. Please reopen if I'm missing something and that's not what you mean.

[2021-01-07 15:56] #31055 closed

[2021-01-07 15:59] galak commented on #31143
So I feel like this needs more discussion as this seems to violates having modules being "copied" into zephyr github.

[2021-01-07 16:02] galak commented on #31143
@carlescufi / @ioannisg -- I think we need to discuss how zephyr as a project will handle modules w/git submodules as a general rule.

[2021-01-07 16:02] nashif commented on #31143
what is being copied in zephyr github? The modules are not in Zephyr's github.

[2021-01-07 16:03] rlubos commented on #31049
Just a note, this would require to implement `Corelnk` data type as well (which is part of LwM2M 1.1) as it's used by MQTT Publication object.

[2021-01-07 16:07] galak commented on #31143
We'll the SOF code current seems limited to xtensa and maybe just the Intel SoCs at this point.  So I agree in principle this shouldn't be the case but if I enable CONFIG_SOF and another platform it's looking for xtensa code.  So feels like for right now CONFIG_SOF is only viable on the Intel xtensa SoCs.  When that changes we can remove the `depends on` that I suggest.

[2021-01-07 16:11] thedjnK opened #31158 "Ethernet (ENC424J600) with dumb_http_server_mt demo does not work"
**Describe the bug**

There is something amiss with this sample in comparison to the dumb_http_server sample (I have tested Mainline zephyr (master branch as of 30 minutes ago) and nRF connect SDK (1.4.99 using zephyr 2.4.99)):

The output is as follows and it does not work:

    *** Booting Zephyr OS build zephyr-v2.4.0-2823-gf4a26837c8cb  ***
    [00:00:00.527,160] <inf> ethdrv: Link down
    [0

[2021-01-07 16:38] erwango commented on #31150
@martinjaeger I confirm there is no transceiver.

[2021-01-07 16:55] cvinayak commented on #31019
@carlescufi The controller does not return success if scanning is already disabled. This is kept so, because the Zephyr Host maintains flags and it should not go out of sync w.r.t the state of scanning. This can be fixed in controller to ignore disables on already disabled scanning, but if host is maintaining incorrect state, then enabling an already started scanning by incorrect host state would

[2021-01-07 17:00] cvinayak commented on #30378
@vrahane
you can run the following to get the filename and line number:
`arm-none-eabi-addr2line -e "<path to zephyr.elf file>" 0x0002714c`

[2021-01-07 17:12] jukkar commented on #31145
Hi @pawelsag, I have a fix proposal at #31159, could you try if it fixes the issue and report back?

[2021-01-07 17:12] JonBruchim commented on #31107
I've actually opened a PR about this.

https://github.com/zephyrproject-rtos/zephyr/pull/29804

[2021-01-07 17:23] ioannisg commented on #28775
This is done.

[2021-01-07 17:23] #28775 closed

[2021-01-07 17:33] martinjaeger commented on #31150
Turns out that I was not aware that the loopback mode feeds back the tx signal to rx internally. So it does not require a transceiver and the test should work without external hardware. Sorry for the confusion.

FWIW: This test passes on my custom hardware based on STM32G431 (with the new WIP CAN-FD drivers). But I can also confirm it fails in the same way as described above on the `nucleo_l452re`

[2021-01-07 18:27] qin-zou commented on #30943
I tried increasing CONFIG_ISR_STACK_SIZE to 8192, it's still not working.
My callback function has not been called yet in this case.

I tried 3 different ways to update my image:
1) Updating using st-flash, this works ok
2) Getting into DFU mode, then updating using: ```sudo dfu-util -a 0 -i 0 -s 0x08000000 -D [upload file]```, and reset board, this works as well
3) Getting into DFU mode, then upd

[2021-01-07 18:36] vrahane commented on #30378
Thanks, that helped a bit:
`zepyr/subsys/net/buf.c`
[code]

[2021-01-07 19:00] dcpleung commented on #30393
I think there is something wrong with GCC's code generation here. If I add printk() at the beginning of the thread creation loop, it ran fine. Also setting `CONFIG_DEBUG_OPTIMIZATIONS=y` also works. It seems to be broken on when using `-Os`.

[2021-01-07 19:12] erwango commented on #30943
Getting into DFU mode, then updating using: sudo dfu-util -a 0 -i 0 -s 0x08000000 -D [upload file], and reset board, this works as well
Getting into DFU mode, then updating using: sudo dfu-util -a 0 -i 0 -s 0x08000000:leave -D [upload file], only this one fails, which is really weird

The difference I see is that "dfu bla :leave" may not perform a hardware reset and you might face an issue of a va

[2021-01-07 19:26] pabigot opened #31162 "Mapping between existing and new system power management states"
There's ongoing effort to improve Zephyr's power management solution, which includes switching to a [standard set of states](https://github.com/zephyrproject-rtos/zephyr/blob/4ba387829b9febd60dc97d4db39d833b8aa56058/include/power/power_state.h#L23) based on ACPI/Linux, to replace the [current sleep/deep-sleep trinary solution](https://github.com/zephyrproject-rtos/zephyr/blob/4ba387829b9febd60dc97

[2021-01-07 19:27] pabigot commented on #31162
For Nordic boards I believe all existing states would map to [PM_STATE_SOFT_OFF](https://github.com/zephyrproject-rtos/zephyr/blob/4ba387829b9febd60dc97d4db39d833b8aa56058/include/power/power_state.h#L94)  as the only non-runtime sleep mode on most if not all Nordic devices is a system-off where some RAM data may be retained but the system shut down and wake only on an external signal from a GPIO

[2021-01-07 19:44] erwango commented on #31162
^^@erwango

[2021-01-07 19:54] GABS9718 opened #31164 "Problem to build lorawan from samples"
**Describe the bug**
Hi, I have been trying to set up the LoRa with the nRF52840, but I'm can't build the file.

**To Reproduce**
Steps to reproduce the behavior:

Add the line lora0 = &lora; in the aliases options from the .dts related to the board nrf52840dk_nrf52840
Add
_lora: sx1276@0 {
  status = "okay";
  compatible = "semtech,sx1276";
  reg = <0>;
  label = "sx1276";
  reset-gpios = <&gpio0

[2021-01-07 19:59] mejtejt commented on #31027
There is another piece of information I came across, which I also do not understand why is it happening, and for which I think it is a pre-requisite for C++ configs to work.

In in test/prj.conf file, instead of having

[code]

I put

[code]

and try to build that, I get the following output:

![image](https://user-images.githubusercontent.com/33463717/103938821-21f3c700-512b-11eb-8349-472fbe44904

[2021-01-07 21:55] #30183 closed

[2021-01-07 22:41] ArseniSoitu opened #31168 "Wrong linker option syntax for printf and scanf with float support"
https://github.com/zephyrproject-rtos/zephyr/blob/712ff3298b2d9230a51ef60ba55467d719df3067/lib/libc/newlib/CMakeLists.txt#L37

Hello.

Seems that space need to be inserted between "-u" and "_printf_float"
Same on line 38

Thank You

[2021-01-07 23:04] stoberblog opened #31169 "kconfig configuration (prj.conf) based on zephyr version"
I want to set a kconfig based on zephyr version but cannot find any details on how to do this. I think the kconfig system allows if statements, but I cannot find anywhere that would then allow me to do this based on the Zephyr version.

My reason for wanting this, is that it seems some of the power management configurations have changed names over the last month or so (eg CONFIG_SYS_PM_STATE_LOCK

[2021-01-07 23:06] pawelsag commented on #31145
Hi @jukkar your fix works for me, thanks

[2021-01-08 00:03] nashif commented on #31143
NXP Platforms with audio DSP also can use SOF on top of Xtensa.

[2021-01-08 00:07] stoberblog commented on #31164
Looks like the lorawan module is not being enabled in your prj.conf file. Try adding the below to your prj.conf (you may need to change the region you use, maybe use menuconfig to determine the one you want).
CONFIG_LORAWAN=y
CONFIG_LORAMAC_REGION_AS923=y

[2021-01-08 01:00] GABS9718 commented on #31164
I have added what u said, but it still doesn't work. My prj.conf file is below

CONFIG_USE_SEGGER_RTT=y
CONFIG_RTT_CONSOLE=y
CONFIG_UART_CONSOLE=n

CONFIG_LOG=y
CONFIG_SPI=y
CONFIG_SPI_0=y
CONFIG_SPI_NRFX=y
CONFIG_GPIO=y
CONFIG_PRINTK=y

CONFIG_LORA=y
CONFIG_LORAWAN=y
CONFIG_LORAMAC_REGION_US915=y
CONFIG_LORA_SHELL=y
CONFIG_LORA_SX1276=y
CONFIG_HAS_SEMTECH_RADIO_DRIVERS=y
CONFIG_HAS_SEMTECH_LORAMA

[2021-01-08 01:15] sophiekovalevsky commented on #31164
@GABS9718 I guess you can not define symbol `CONFIG_LORA_SX1276` cause that's selected by corresponding device tree overlay, instead, try to add `CONFIG_LORA_SX12XX` removing  `CONFIG_LORA_SX1276=y` in your `prj.conf` and see if that works.

[2021-01-08 01:28] GABS9718 commented on #31164
I tried and the result is the same unfortunately

[2021-01-08 01:41] sophiekovalevsky commented on #31164
@GABS9718 what's the output that west is throwing this time?

[2021-01-08 03:00] cvinayak commented on #30378
@vrahane This seems like stack overflow issue.

Do you still see the "tx buffer overflow error"? or you hit the "***** BUS FAULT *****" first after 8 hours?

If this is a BUS Fault issue, you can turn on CONFIG_THREAD_ANALYZER_AUTO=y to check if all your threads have sufficient headroom.

[2021-01-08 03:04] vrahane commented on #30378
@cvinayak We had turned on the `CONFIG_THREAD_ANALYZER_AUTO` and there was no issue with the stacks. Right now what we are seeing is a fault after the device connects. If this crash was not present then we would see an overflow after 8 hours. Not sure if the issues are related but definitely could be.

[2021-01-08 03:07] vrahane commented on #30378
Asserts are enabled this time and also logging is enabled. We did play around with it a bit and now are getting a crash consistently:
[code]

[2021-01-08 03:13] cvinayak commented on #30378
please check the filename and line number for return address LR: 0x00027643

[2021-01-08 03:17] vrahane commented on #30378
[code]
 `/Users/vipul/dev/fw-signal/repos/zephyr/subsys/net/buf.c`

[2021-01-08 05:34] vrahane commented on #30378
We are using Zephyr: 2.4.0 now
[code]

[2021-01-08 06:12] JordanYates commented on #30730
I believe I am seeing this same issue in real applications.
`rtc_nrf_isr` is running before `RTC->COUNTER` reaches the value present in `RTC->CC[0]`.
`dticks`becomes negative if `rtc_nrf_isr` runs again before the original value in `RTC->CC[0]` is reached by the counter.
This is happening under a relatively high interrupt load from a UART accelerometer.

[2021-01-08 07:34] nordic-krch commented on #30730
@JordanYates are you on the latest master? Should have been fixed by #30487

[2021-01-08 07:38] nordic-krch commented on #30730
@PerMac can you close if test is no longer failing?
@JordanYates can you open new issue if you still see it?

[2021-01-08 08:16] PerMac commented on #30730
@nordic-krch but was anything change in regard to the reported issue? With the current master, I still see these tests failing more often than passing.

[2021-01-08 08:17] coderkalyan opened #31175 "STM32F1 RTC"
To my knowledge, STM32F1 devices have an RTC. For example the reference manual for the [stm32f103rc](https://www.st.com/en/microcontrollers-microprocessors/stm32f103rc.html) includes content about the RTC. However I didn't see a definition for the RTC in arm/st/f1/stm32f1.dtsi. I tried copying in a definition from stm32f4.dtsi (according to the reference manual the registers are all the same, migh

[2021-01-08 08:39] ABOSTM commented on #28312
I think that generally code is in ITCM, data in DTCM.
But that is right that nothing prevent user to put data in ITCM,
as well as nothing prevent user to put instruction in DTCM, as mentioned in F7 reference manual:

      2.1.5 DTCM bus
          This bus is used by the Cortex®-M7 for data access on the DTCM RAM. It can be also used
          for instruction fetches.

And in any case we should fo

[2021-01-08 09:31] #31145 closed

[2021-01-08 09:32] martinjaeger commented on #31150
`git bisect` shows that there are two separate issues that make this test fail:

- A failure because of no free filters. This was introduced in 8b6c1bd4b7a0ae4e1d1b3819d5db728120218c6b and will be fixed by #31161
- The MPU fault above, which was introduced in 05275ecf6e2d63e19953a7ebb3bae99b7cf13487.

[2021-01-08 09:46] rlubos commented on #31053
I had a look into it, and actually, I can't find a reason why is `firmware_transfer()` submitted to a workqueue instead of being called directly from the LwM2M thread. I'd rather avoid creating yet another thread for LwM2M due to increased memory usage. So I think the first proposal is acceptable.

@MaikVermeulen Feel free to submit a PR if it solves your problem.

[2021-01-08 10:03] Thalley opened #31179 "`iso bind` for slave not working as intended"
**Describe the bug**
In the ISO shell, there's an `iso bind` command that binds an ISO with a ACL connection. This also sets the QOS parameters (the CIG parameters). The issue is that the bind needs to be done on both the master and slave, but the QOS parameters should only be done for the master (in fact, the command will always fail for the slave).

Furthermore, in case that the command does fai

[2021-01-08 10:06] Thalley opened #31180 "Capture and store values from CIS established event"
**Is your enhancement proposal related to a problem? Please describe.**
When the CIS established event is received from the controller, we don't use any of the value. For the Master that's okay as it set the values in the first place, but the slave need to store this in order to be able to send data (as otherwise things like the SDU size will be 0).

**Describe the solution you'd like**
The values

[2021-01-08 10:25] FRASTM commented on #31175
Note that the RTC hardware of the stm32F1xx differs from stm32F4.
In stm32F1xx the RTC register map is made of counter registers, not directly Date and Time.

[2021-01-08 10:57] GABS9718 commented on #31164
I guess the same:

`-- west build: generating a build system
Including boilerplate (Zephyr base): C:/Users/Gabriel/Desktop/nbps/zephyrproject/zephyr/cmake/app/boilerplate.cmake
-- Application: C:/Users/Gabriel/Desktop/nbps/zephyrproject/zephyr/samples/lorawan/class_a
-- Zephyr version: 2.4.99 (C:/Users/Gabriel/Desktop/nbps/zephyrproject/zephyr)
-- Found Python3: C:/Python39/python.exe (found suita

[2021-01-08 10:59] GABS9718 commented on #31164
Maybe the problem to link is related with those warnings, where is said that Lora was assigned with yes but got no. Why is this happening?

[2021-01-08 11:34] nordic-krch commented on #30730
@PerMac reproduced it locally. Investigating...

[2021-01-08 11:49] jmgao commented on #29994
Sorry, missed the questions in my email inbox. I vaguely recall trying option 3 and it increasing the time to failure to a day or two, but it's been a while.

I don't believe this requires shell being enabled to happen, although that might increase the chances of a fatal assert happening.

[2021-01-08 11:57] joerchan commented on #29008
No, this is planned for the next release (along with LE Coded PHY).

[2021-01-08 12:49] #31143 closed

[2021-01-08 12:49] #31153 closed

[2021-01-08 13:14] lowlander commented on #28312
@ABOSTM so what would be a "good" way to add ART support? Just add an kconfig menu option with a big warning like "only enable when you know what you are doing" ?

[2021-01-08 13:36] aurel32 commented on #28312
The main reason behind the cache coherency issues on the F7 is the D-Cache integrated in the Cortex-M7, just like other Cortex-M7 from other manufacturers. It caches both accesses to the flash and to the RAM.

On the F4, the ART only caches flash reads, so it's not an issue to enable it. The only case it happens to be an issue is when part of the flash is rewritten, but it's already taken care of

[2021-01-08 13:46] #31053 closed

[2021-01-08 14:17] eugenecohen commented on #2647
Question: are we planning on adding a formal DMA API akin to the subsystem in linux?  I ask because from a device driver perspective drivers cannot inherently know if cache flushing/invalidation is needed for a given device/system.  So an abstraction such as DMA map/unmap or common buffer allocation can allow the driver source to remain agnostic to whether a system supports cache coherent dma.

[2021-01-08 14:27] eugenecohen opened #31189 "Add support for relaxed MMIO access routines"
On architetures like aarch32 and aarch64 memory barriers i.e. `__DMB()` are present in the current implementation of MMIO access functions such as sys_read32 and sys_write32.

For many types of MMIO interactions these barriers have an adverse performance impact and are not necessary.  The performance impact has been observed to be most severe with looping PIO data transfer operations.

Other OSes

[2021-01-08 14:30] eugenecohen commented on #31189
@galak @nashif

[2021-01-08 15:05] microbuilder opened #31191 "Samples: TF-M: Enable NS test app(s)"
When performing a TF-M build, an optional NS test application can also be generated, based on: https://github.com/zephyrproject-rtos/trusted-firmware-m/tree/master/tf-m-tests

This repo also includes PSA FF API tests (cf.: https://github.com/ARM-software/psa-arch-tests). PSA API FF certification of the RTOS requires sending the output of these tests results for the board(s) being used in the certi

[2021-01-08 15:18] KKoovalsky opened #31193 "CMake integration"
Hello!

I wanted to start work with Zephyr as my main RTOS but unfortunately I abandon my efforts.

The main problem is that I have a current project whose build system is based on CMake and it works pretty well. I wanted to switch from another RTOS ecosystem to Zephyr since it's also built on top of CMake and its driver list is quite long.

The problem is that Zephyr doesn't work well with CMake.

[2021-01-08 15:18] erwango commented on #28872
@Cimex97 not sure it could help, but since it could have an impact on the API behavior, maybe you could have a try to https://github.com/zephyrproject-rtos/zephyr/pull/31192

[2021-01-08 15:33] erwango commented on #31162
Here is STM32 mapping (based on STM32L4/STM3WB):
- Stop 0, Stop 1, Stop 2 > [PM_STATE_SUSPEND_TO_IDLE](https://github.com/zephyrproject-rtos/zephyr/blob/4ba387829b9febd60dc97d4db39d833b8aa56058/include/power/power_state.h#L46)
- Standby with SRAM2 > [PM_STATE_SUSPEND_TO_RAM](https://github.com/zephyrproject-rtos/zephyr/blob/4ba387829b9febd60dc97d4db39d833b8aa56058/include/power/power_state.h#L80)

[2021-01-08 15:44] PerMac opened #31194 "twister: using unsupported fixture without defined harness causes an infinite loop during on-target test execution"
**Describe the bug**
The bug can be observed when the following conditions combine:
- a test requiring a fixture
- the test does not have harness: console or ztest
- the test is called for hardware that does not have the fixture defined.

Even though a test requires a fixture in its yaml, twister will get in an infinite loop waiting for the device to become ready. I think the logic in `handle()` (

[2021-01-08 15:49] PerMac commented on #31194
@nashif related question: Why in `testcase_runnable()` (line 1761 of twisterlib.py) fixture requirement is checked only if testcase.harness in [ 'console', 'ztest']?

[2021-01-08 16:59] omitride commented on #29545
I have the exact same error message.
I suspect that the build scripts of the tfm module are not using the correct environment for Python if the user has a [virtual environment](https://docs.python.org/3/tutorial/venv.html) for Python.

In my case, the `cryptography` Python module is installed in the virtual environment I am using for Zephyr, and not in the "global" one.

I can see from the west bu

[2021-01-08 20:02] aurel32 commented on #28312
Also note that `FLASH_ACR_ICEN` and `FLASH_ACR_DCEN` are enabled by default on STM32L4.

[2021-01-08 20:54] martinjaeger commented on #31169
Usually you would not work with the Zephyr master branch in production, but build your application firmware based on a specific release. This will also make sure that you and your colleagues will always have the same Zephyr version (branch specified in `west.yml` file).

If you need specific features that are only in master, I'd recommend to create a fork and cherry-pick those features to the prev

[2021-01-09 01:48] #27068 closed

[2021-01-09 05:51] cvinayak commented on #31114
Bluetooth Specification v5.2, Vol 4, Part E, Section 7.8.53:

[2021-01-09 09:38] Quincy-Zh opened #31203 "fatal error: setjmp.h: No such file or directory"
I'm trying to compile Lua with Zephyr, but an error has occurred, some *.h can not find. setjmp.h, locale.h for now.

I checked toolchain gcc-arm-none-eabi-8-2019-q3-update-win32 and gcc-arm-none-eabi-10-2020-q4-major-win32, the problem is still.

I create an project without zephyr, the problem not happend.

Maybe some compiler options missing in zephyr project...

[2021-01-09 15:13] DRNadler commented on #29394
Great to hear of your progress on ESP32! In case you do not have enough to do, if I understand correctly S3 adds USB - perhaps USB support should go on the list? Thanks for your efforts!

[2021-01-09 17:16] pabigot commented on #31162
The existing SiLabs mapping has:

* POWER_STATE_SLEEP_1: EM1 Sleep
* POWER_STATE_SLEEP_2: EM2 Deep Sleep
* POWER_STATE_SLEEP_3: EM3 Stop

Reviewing the semantics of these this doesn't seem quite ideal.  The best mapping I can come up informed by [this overview](https://www.silabs.com/products/mcu/32-bit/efm32-energy-modes) and the EFR32xG12 reference manual is:

* PM_STATE_ACTIVE: EM0
* PM_STATE_R

[2021-01-09 17:20] pabigot commented on #31162
I think we should plan to have SOC-specific default power management policies, that support API extensions to allow applications to control which specific mode is used to implement a Zephyr standard mode.  I don't know yet what the rest of the power management API will look like so can't propose how the extensions would work.

[2021-01-09 19:31] vrahane commented on #30378
One investigating more and with @cvinayak’s help, we were able to come to conclusion for the crash:

There is memory corruption happening because of the bt_smp_pool.

`7491  .bss.db_hash_work
7492                 0x0000000020001c50       0x30 zephyr/subsys/bluetooth/host/libsubsys__bluetooth__host.a(gatt.c.obj)
7493                 0x0000000020001c50                db_hash_work
7494  .bss.gatt_sc

[2021-01-09 21:12] ceolin commented on #31162
Currently is not flexible to be fair, we have a fixed number of `POWER_STATE_SLEEP_`. It just happen that the number of these states is enough for this platform, but it could not be the case. But yeah, that is something we need to think about, when ACPI-like states don't map well. Let me think over the weekend about it.

[2021-01-10 10:29] boaks opened #31206 "coap.c : encoding of options with lengths larger than 268 is not proper"
Adding a coap option with a length larger than 268 is not encoded proper.

Current master:

[coap.c, encode_option, line 221](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/coap/coap.c#L221)

[code]

the `delta_size`is wrong, it must be `delta_size`.

Such large options are not used too frequent, but for the proxy_uri or other custom options it may be used.

[2021-01-10 12:57] pabigot commented on #31162
We need to be careful here.  The state names have meanings, and are intended to map to ACPI semantics.

If some SoC has three power levels that all correspond in basic behavior to `PM_STATE_STANDBY`, we **must not** arbitrarily assign them to `IDLE` or `SUSPEND` states just because those enumerations are not being used for their documented purpose.  That would be worse than providing 3 arbitrary v

[2021-01-10 17:43] #29943 closed

[2021-01-10 18:43] sophiekovalevsky commented on #31164
@GABS9718 I built the application with 70ac3387ceb1c6ce05a40731a0a5c26a2d8c8539 using nrf52dk_nrf52832 board with the following symbols:

[code]

One thing that you can try is remove the build directory and rebuild with pristine option enabled, I guess removing the build directory is kind of important before actually issuing the following:

 `west build -p always  -b <your-board-model>`

Try that

[2021-01-10 19:22] Trubochkin opened #31207 "Non-existent event in asynchronous UART API"
There is an incorrect event name **UART_RX_DONE** :
https://github.com/zephyrproject-rtos/zephyr/blob/c22f7e5062205e0d8b4a673bc1e01772c4ee908d/include/drivers/uart.h#L51
Apparently the author made a mistake in the event name. There shuld be **UART_RX_RDY**

[2021-01-10 20:38] #30134 closed

[2021-01-10 21:03] jcyrax commented on #30554
This is a bug due to adjusting stack start and size for threads using floating point after sentinel is written to stack. This results in sentinel at wrong location and so it fails on first test.

You can see that in kernel/thread.c `setup_thread_stack()` sentinel is written to address `stack_buf_start = Z_THREAD_STACK_BUFFER(stack);` and right after that in `arch_new_thread()` `arch/arm/core/aarch

[2021-01-10 23:12] #30730 closed

[2021-01-11 00:45] AJGherardi opened #31208 "Bluetooth Mesh CCM Hardware Acceleration"
**Is your feature request related to a problem? Please describe.**
Bluetooth mesh uses CCM heavily for encryption which is current done in software while using zephyr. Bluetooth mesh networks can have 1000's of nodes leading to a very large amount of messages needing to be decoded. Doing CCM in hardware when possible can improve efficiency, latency, and throughput.

**Describe the solution you'd l

[2021-01-11 01:26] GABS9718 commented on #31164
I actually was removing the build folder to be sure that this would have influence. Do u have some another tip that I can try? Do u think that it can be related with the settings in the VS Code with the includePath directory? I'm really lost

[2021-01-11 01:51] #29298 closed

[2021-01-11 01:51] #29003 closed

[2021-01-11 03:27] manoj153 commented on #21119
Hi does this automatically works if I have /build dir on my vs code workspace?

any further config I need to do to make the IntelliSense stuff works?

[2021-01-11 04:56] vrahane commented on #30378
Update: I am seeing a similar crash after running the test for > 21 hours:
[code]
This seems to happening in the `recv_thread` which hands of data from the controller's `prio_recv_thread`. Both are in the controller but not sure why the other one is crashing, I have increased the stack size for the `prio_recv_thread` to `4096` just for the test and after this crash happened I upped the stack size

[2021-01-11 05:16] stoberblog commented on #31169
I feel however this would still be useful feature to have such as for example code. The code I'm writing currently is example code that will be then used by others write the actual application on top of it. It will also likely be used by multiple projects which may be running differing versions of Zephyr and as such the code needs to cope with the different APIs

[2021-01-11 05:41] stoberblog opened #31210 "LoRaWAN Save configuration between power cycles"
**Is your feature request related to a problem? Please describe.**
I want to deep sleep on an nRF52840 and also turn off power to my LoRa module. After waking up from deep sleep, I'd then re-power the LoRa module, restore the LoRaWAN to the pre-reset state (so I don't need to keep rejoining) and then continue to transmit data. There are others requiring/using this feature as seen here https://gith

[2021-01-11 06:24] henrikbrixandersen commented on #27203
@hakehuang How come you closed this issue?

[2021-01-11 06:51] martinjaeger commented on #31169
I'd probably disagree. If you are lucky, only some Kconfig names were changed (as you described above). But most probably also the code behind the API has changed, so this will lead to unpredictable behavior.

If the examples are upstreamed to main Zephyr repository you can just go back and forth in the git history to get a sample for an older version of Zephyr. And if you use west properly in you

[2021-01-11 08:13] PerMac commented on #30408
This issue is a duplicate of #29705

[2021-01-11 08:22] manoj153 commented on #17645
Hi, I am following a similar launch.json script but I am getting some error, I hope someone can point out the issue. Below are my error and launch.json
**Error :**
`Launching server: "openocd" "-c" "gdb_port 50000" "-s" "/home/manoj/Documents/Pingspace/h7_basic_bring_up" "-f" "/home/manoj/zephyrproject/zephyr/boards/arm/nucleo_h723zg/support/openocd.cfg"
`

**launch.json :**
[code]

[2021-01-11 08:47] joerchan commented on #31086
@lukasbrchl Thank you, this looks to me like a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/30699, so I'll close this issue in favour of that.

[2021-01-11 08:47] #31086 closed

[2021-01-11 08:48] #31085 closed

[2021-01-11 09:06] hakehuang commented on #27203
@henrikbrixandersen, I get below notice, are you still owrkin gon this?

[2021-01-11 09:16] henrikbrixandersen commented on #27203
No, I removed the stale label. The issue is still present.

[2021-01-11 09:19] hakehuang commented on #27203
@henrikbrixandersen , at my latest teset I get below error
[code]

[2021-01-11 10:21] chrta commented on #31162
Regarding Silabs EXX32:

I am not experienced with the low-power modes, but i think the overview https://github.com/zephyrproject-rtos/zephyr/issues/31162#issuecomment-757337571 is correct. The main differences between EM2 and EM3 is which peripherals are still active and therefore which events trigger a wake-up.
I also think that the decision if EM2 or EM3 should be used, must be up to the applic

[2021-01-11 10:28] joerchan commented on #30378
@vrahane I don't understand what you mean by the memory corruption being caused by the bt_smp_pool, could you explain your conclusion?

Have you tried enabling CONFIG_ASSERT? Maybe that could provide some clues.

[2021-01-11 10:28] nvlsianpu opened #31217 "Multi-threading flash access is not supported by flash_write_protection_set()"
**The problem**
When two or more threads writes to flash device it is possible that flash protection will be enabled by one of threads despite another thread(s) still needs it disabled.

**Impact**

flash_write() or flash_erase() operation might fail unexpectedly while flash device is written or erased from multiple thread. This will be race condition.

**Solution**

Remember that below code is al

[2021-01-11 10:29] nvlsianpu commented on #31217
cc @anangl @carlescufi

[2021-01-11 10:36] mahavirj commented on #3723
@beriberikix Sorry for delayed reply, baseline PR is here https://github.com/zephyrproject-rtos/zephyr/pull/30424. Subsequent work will be based on this, it is waiting on more approvals and final merge.

[2021-01-11 10:53] gdf8gdn8 opened #31219 "newlib printk float formatting not working"
**Describe the bug**
printk for foating point value not working.
printf format expected also in serveral drivers LPS25HB.

**Code**
[code]

**Output**
[code]

**Expected behavior**
[code]

**Environment (please complete the following information):**
 - OS: ArchLinux, Ubuntu 20.4
 - Toolchain
 -- zephyr-sdk-0.11.4
 -- west v0.8.0
 -- zephyr v2.3.0-2198
- config: CONFIG_NEW_LIBC_FLOAT_PRINTF=y

[2021-01-11 10:59] joerchan commented on #31114
This seems like it is related to the maximum packet length, and interval, i.e you cannot set a packet that could not be set in the configured advertising interval and vice versa.

Assuming that S8 is used seems to be  the most reasonable, but selecting coding scheme is up to the controller, and the Host has no way according to HCI to specify preferred coding.

[2021-01-11 11:30] vrahane commented on #30378
The pool whose allocation pointer is 0 which causes the crash is actually part of the bt_smp_pool. Yes, As mentioned above CONFIG_ASSERT is now enabled. We also debugged quite a lot together.

[2021-01-11 11:43] joerchan commented on #30378
bt_smp_pool is not a net_buf pool. It is just a regular array. Is the pool pointer pointing to bt_smp_pool?

[2021-01-11 13:21] noelleclement commented on #31162
Is there overall power state description/mapping for STM32, so this could be applied to all STM32 SoCs?  (e.g. STM32L1x only has one stop mode, which also would map to PM_STATE_SUSPEND_TO_IDLE)

[2021-01-11 14:00] ArseniSoitu commented on #31219
Hello. May be the reason is https://github.com/zephyrproject-rtos/zephyr/issues/31168 bug? Struggled with it several days ago.

[2021-01-11 14:01] pabigot commented on #31219
`printk` uses a Zephyr-internal formatting utility now; you don't need to select newlib for that unless you're using standard C functions like `printf()`.  See [this documentation](https://docs.zephyrproject.org/latest/reference/misc/formatted_output.html).  You'll want `CONFIG_CBPRINTF_FP_SUPPORT=y`.

[2021-01-11 14:03] pabigot commented on #31168
Since that syntax has been in place for three years, it's unlikely to be wrong.  Are you getting compilation errors?

[2021-01-11 14:05] pabigot commented on #31203
You're probably using Zephyr's internal minimal libc, which doesn't have that header.  Try setting `CONFIG_NEWLIB_LIBC=y`.

[2021-01-11 14:14] pabigot commented on #31219
Ah; I see you seem to be using a Zephyr version before 2.4.0 was released.  `printk` didn't support FP back then.  The solution I recommended is available in the current development version and will be in 2.5 in about a month.

[2021-01-11 14:33] erwango opened #31226 "tests/drivers/dma/loop_transfer does not use ztest"
**Describe the bug**
`tests/drivers/dma/loop_transfer` is implemented as a sample.
It does not use ztest harness and does not provide a verdict

**Expected behavior**
Either it should be reworked to provide a verdict uing ztest, either it should be moved to `samples/drivers`

[2021-01-11 15:05] vrahane commented on #30378
Yes, it is. I just added a “bkpt” just before the line that crashes in ‘data_alloc()’
[code]

[code]

[2021-01-11 15:39] vrahane commented on #30378
Also, please check the following backtrace for it:

[code]

[2021-01-11 15:45] BOZHENG001 opened #31229 "Full control of the BLE connection process"
**Is your enhancement proposal related to a problem? Please describe.**
Hi, Zephyr community,

I am experiencing some difficulties when trying to have full control of the connection process. I am using 2 nRF52840DK boards to build a BLE connection. The zephyr version is 2.4.99. The samples I am using are `central_hr` and `peripheral_hr`.

What I am trying to do is to have full control of the conne

[2021-01-11 16:22] #31071 closed

[2021-01-11 16:27] sophiekovalevsky commented on #31164
@GABS9718, I don't know about setting up Zephyr with VS Code, however, what I can think that you can do is just trying to compile the application using only west, if that doesn't work, I guess you need to find another option. But, I already tested with west, so, if all steps are okey, you should not have any issues.

[2021-01-11 16:28] joerchan commented on #30378
@vrahane What is buf->pool_id? at the moment of the crash? It seems that the pointer to the pool is wrong.
num complete pool: `net_buf_alloc_len (pool=0x20000d3c <num_complete_pool>`
buf pointer belonging in net_buf_num_complete_pool: `data_alloc (buf=0x2000e7d0 <net_buf_num_complete_pool>`
Now we don't get from the buf pointer the correct pool: `net_buf: NBD: alloc pool: 0x20001d3c` returned from

[2021-01-11 17:06] bbolen commented on #19979
Here is a working implementation of floating point support for Cortex-R.  It does lazy context switching.  It is based on v2.3.0.  There are some conflicts with HEAD, but it will be a while before I can get around to looking at those.  I'm putting this out there in case others need a starting point for FPU support before I can get this merge worthy.

https://github.com/bbolen/zephyr/commits/cortex

[2021-01-11 17:07] PerMac opened #31234 "twister: Add choice for tests sorting into subsets"
Currently, subsets for twister testing are created based on a dictionary sorted by platform name. This is inefficient for on-target tests in setups, where multiple various platforms are available and on-target tests can be executed in parallel on multiple boards.
I believe the execution time for on-target runs will drop down when the subsets are based on test name sorting.

The way how sorting is

[2021-01-11 17:18] GrixaYrev opened #31235 "Cortex-M: vector table relocation is incorrect with XIP=n"
**Describe the bug**
In first, everything bellow is actual for case CONFIG_CPU_CORTEX_M_HAS_VTOR=y.
CortexM vector table relocate to SRAM start when CONFIG_XIP is not defined (see `arch\arm\core\aarch32\prep_c.c:50`).
But vector table can be placed with some offset, for example in i.MX RT.
So it is not possible to use non XIP application with i.MX RT boot header.

**To Reproduce**
1. i.MX RT1052
2

[2021-01-11 17:35] ceolin commented on #31162
Yes, completely agree.

Didn't say to do that. The dilemma is, `STATE_SLEEP_1`, `STATE_SLEEP_2`, ... were meaningless from the application perspective. I mean, one could not infer what was the difference between them, and different platforms could do different things. in other hand when we move to ACPI-like states, an application know  exactly what a power state is supposed to do, but we lose flex

[2021-01-11 17:37] vrahane commented on #30378
I see, I am currently running the code with SMP disabled and L2CAP channel unregistered. Once I know for sure that this issue gets fixed by doing the above, I will go back and check the pool_id. It takes hours to reproduce the overflow issue, hence, do not want to stop the tests. I do have the following logs some of which I sort of added in the net but code and some I converted to be error logs so

[2021-01-11 21:02] jenmwms commented on #28551
I can reproduce this issue. Thanks @chen-png for bisecting to `9f84637` , I'll look at it and sync with @andrewboie on suggestions.

[2021-01-11 23:35] vrahane commented on #30378
Update: @cvinayak @joerchan The over flow is still there even after disabling L2CAP and BT_SMP. The crash is no more but overflow still exists.
[code]

[2021-01-12 00:09] hardik-proxy commented on #30378
![image](https://user-images.githubusercontent.com/50844088/104250752-1d792800-5423-11eb-8f7d-8b9206e4c225.png)

Here's the snapshot from the sniffer. We will be sharing a sniffer file on Slack.

[2021-01-12 01:06] yingmingx commented on #30408
Close this issue because this is duplicate of #29705

[2021-01-12 01:54] #23063 closed

[2021-01-12 01:54] #23062 closed

[2021-01-12 01:54] #17893 closed

[2021-01-12 05:02] oldrev commented on #29394
Thanks for your great effort.

Is there any chance to support the SmartConfig mechanism?

[2021-01-12 07:55] lukasbrchl commented on #31114
Hello guys, I apologize for being relentless, but I didn't understand the points you mentioned. Could you please address it a little more? Does the Zephyr BT Controller use coding scheme S8 for advertising on Coded PHY or not?

[2021-01-12 09:17] erwango commented on #30943
Setting prio to low, as this happens only with out of tree app.

@qin-zou have you checked about potentially uninitialized variable which would explain difference of behavior when hardware reset doesn't happen ?

[2021-01-12 09:20] erwango commented on #30236
@jukkar does this ring any bell?

[2021-01-12 09:44] ArseniSoitu commented on #31168
Hmm. Tried to use sprintf() to convert float to string on stm32f413zh with code:
`char value[32];`
`voltage = 100.1f;`
`n = sprintf(value,"%4.1f", voltage);`
Result was `0.000`(don't remember actual number of zeros) in `value`.
But now after full rebuild I can't reproduce this bug.

I apologise for inconvenience

[2021-01-12 09:56] joerchan commented on #31114
@lukasbrchl The zephyr controller at the moment uses S8 coding.

[2021-01-12 09:57] lukasbrchl commented on #31114
Great, thanks for the reply!

[2021-01-12 09:57] #31114 closed

[2021-01-12 10:03] thedjnK opened #31248 "i2c shell functions non-functional on nRF53"
**Describe the bug**
I2C is working on an nRF53-based system e.g. using sensor sample apps, however the I2C shell itself does not seem to function at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Build BME680 sample for nRF53 (nrf5340dk_nrf5340_cpuapp) with shell enabled
2. Build hello world sample for nRF53 (nrf5340dk_nrf5340_cpuapp) with shell enabled
3. Flash BME680 sample app
4. O

[2021-01-12 10:37] jukkar commented on #30236
I have not seen anything like this. I have this board so I just tried it with the prj.conf file that is found in the description. I see no issues, no hanging etc. I can use `echo-client` from `net-tools` project and the IPv6 connectivity works just fine.

[2021-01-12 10:40] rtzu6 commented on #30236
Out of curiosity: what operating system are you on? I was unable to reproduce this issue on an apple system (I tried two different iMacs).

[2021-01-12 10:50] jukkar commented on #30236
I am using Fedora 32

[2021-01-12 10:59] thedjnK opened #31253 "lis3dh driver support is confusing"
**Describe the bug**
The ST lis3dh sensor device does appear to be supported but using the lis2dh driver, however the way it's been implemented is incredibly confusing and has wasted about an hour of my time this morning trying to figure it out, I'm not the only person that finds this confusing as noted in the original change https://github.com/zephyrproject-rtos/zephyr/pull/12373

The issue is th

[2021-01-12 11:00] jukkar commented on #30236
@rtzu6 was the issue happening always or just sometimes? I tried to replicate this only couple of times.
I am using zephyr sdk 0.11.3

[2021-01-12 11:02] rtzu6 commented on #30236
The issue does not happen very often, but also not consistently after a certain amount. Sometimes it happens after a few reboots, sometimes it takes many.

[2021-01-12 11:40] #30364 closed

[2021-01-12 12:05] pabigot commented on #31168
Thanks for the update.

[2021-01-12 12:05] #31168 closed

[2021-01-12 12:38] StevenGhe opened #31254 "Bluetooth: Extended advertising with one advertising set fails after the first time"
**Describe the bug**
A clear and concise description of what the bug is.
I'm using an extended advertising set with one event (BT_LE_EXT_ADV_START_PARAM(0,1)). However if I call "bt_le_ext_adv_start" again with the same parameters, I get an error: (see picture below)

[code]

Am I supposed to stop advertising or create a new extended advertising set each event?
The .sent callback in the "bt_le_ext

[2021-01-12 12:43] nashif commented on #31162
good reference for STM:

<img width="940" alt="image" src="https://user-images.githubusercontent.com/180017/104316044-df731700-54a9-11eb-9b4e-71a9b4b91ba6.png">

https://www.st.com/content/ccc/resource/training/technical/product_training/ce/57/a3/86/7a/3d/4d/87/STM32L4_System_Power.pdf/files/STM32L4_System_Power.pdf/jcr:content/translations/en.STM32L4_System_Power.pdf

[2021-01-12 13:39] sandroklarer-pingpong opened #31258 "watch dog (WWDT) timeout calculation for STM32 handles biggest timeout and rollover wrong"
**Describe the bug**
The calculation for the timeout in function wwdg_stm32_convert_timeout(...) handles rollover and max timeout wrong, and as soon as i set the timeout over the limit, I do not get an error as expected.

**To Reproduce**
General:
stm32f412 system clock 100MHz
CONFIG_CLOCK_STM32_APB1_PRESCALER=2 -> 50MHz

Reproduce on a stm32f412g_disco eval board:
add in stm32f412g_disco.dts
[cod

[2021-01-12 14:12] erwango opened #31259 "uart.h: Clarification required on uart_irq_tx_ready uart_irq_rx_ready"
This point relates to discussion that happened around https://github.com/zephyrproject-rtos/zephyr/pull/31192.

It appears that there are some uart API clients (in tree: h4.c and more, @jfischer-no may complete the list) that rely on a specific behavior from `uart_irq_tx_ready` and `uart_irq_rx_ready`.

The behavior variant, not explicited in uart.h, is that functions return false if matching IRQ

[2021-01-12 14:13] erwango commented on #31259
^^ @carlescufi  @jfischer-no @dcpleung

[2021-01-12 14:24] joerchan commented on #31254
@cvinayak This seems to be an issue with the controller. The advertiser cannot be restarted after it has been terminated in the controller by a timeout or number of events limit.
The advertising set terminated event has been given to the host.

A simple test in the shell:
[code]

[2021-01-12 14:31] cvinayak commented on #31254
@joerchan Is the issue with non-connectable non-scannable extended advertising too?

[2021-01-12 14:33] joerchan commented on #31254
@cvinayak No, that seems to work:
[code]

[2021-01-12 14:38] cvinayak commented on #31254
@joerchan ok. Thank you. Connectable was added recently, will add a connectable advertising test, investigate and send  a PR.

[2021-01-12 14:42] nashif commented on #29858
afaik, this was fixed and merged already. #29859

[2021-01-12 14:42] #29858 closed

[2021-01-12 14:58] StevenGhe commented on #31254
I'm sorry but I wasn't using connectable advertising? Only Identity and Extended options are set.

[2021-01-12 15:34] #31014 closed

[2021-01-12 15:51] jfischer-no commented on #31259
The API does not provide separate callbacks for TX and RX events. Construct like in the example below can be found in several places. Assuming that after `uart_irq_tx_disable(ctx->dev);`,  `uart_irq_tx_ready(ctx->dev)` returns false, one can avoid the use of additional controls.

[code]

- [drivers/bluetooth/hci/h4.c](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/bluetooth/hci/h

[2021-01-12 16:19] erwango opened #31262 "tests/kernel/threads/tls/kernel.threads.tls.userspace failing"
**Describe the bug**
tests/kernel/threads/tls/kernel.threads.tls.userspace is failed on following targets:
- frdm_k64f
- disco_l475_iot1, nucleo_f429zi (and more STM32 targets)

**To Reproduce**

$ twister  -T tests/kernel/threads/tls/

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Logs and console output**
[code]

**Environment (please complete the

[2021-01-12 16:27] cvinayak commented on #31254
@joerchan There is already a bsim test that covers starting connectable advertising after the terminate due to max events. (https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/bluetooth/bsim_bt/bsim_test_advx/src/main.c#L236) The test is passing in CI. I also added another start advertising with max events, advertising start without duration/max events and the test still passed for me.

[2021-01-12 17:43] carlescufi commented on #31259
API meeting 12th January 2021:

No decision taken, but alternatives seem to be:

a) Document that the functions perform a logical AND between the rx/tx flags and the rx/tx IRQ enable flags
b) Do not perform the logical AND above and instead provide the functions below:
[code]

a) would probably require no changes to API users in-tree, whereas b) would require some users to perform:

[code]

Would

[2021-01-12 17:45] carlescufi commented on #28872
@Cimex97 would you be able to try this again with the latest master now that #31192 is merged?

[2021-01-12 17:52] pabigot commented on #31259
Note that the [existing documentation](https://docs.zephyrproject.org/latest/reference/peripherals/uart.html#group__uart__interface_1gad04073b1b8e3de13b43ae1194561377b) very clearly states that `uart_irq_rx_ready` indicates that there is unreceived data pending, which is independent of whether IRQ is still enabled when the function is invoked.  There are use cases where something may disable the i

[2021-01-12 18:17] nashif commented on #31262
duplicate of #30393

[2021-01-12 18:17] #31262 closed

[2021-01-12 18:21] nashif commented on #31036
@sjg20  can you take a look?

[2021-01-12 18:23] #30972 closed

[2021-01-12 18:26] pabigot commented on #31027
Are you using `native_posix` as the target board?  That's probably the only environment where gtest is going to function at all.  For that board you can't select newlib.

[2021-01-12 18:29] pabigot commented on #31027
One likely cause:  Zephyr initializes C++ static objects during the kernel startup code, rather than when the C runtime infrastructure iterates over them before starting.  If gtest uses static objects (probably does) then they may be being initialized twice, which might cause them to run twice.

I don't think gtest is likely to work well with C++ in Zephyr, where C++ is not a first-class citizen.

[2021-01-12 18:43] #26026 closed

[2021-01-12 18:43] qin-zou commented on #30943
@erwango I believe I tried to initialized all of my heap variables, it didn't make a difference. I am also using stm32 HAL api to read differential adc (since it's not supported by zephyr) while using zephyr's adc initialization, I am wondering if this could also cause such issue. I am also trying to move the adc init part to use HAL api as well and see if that helps.

[2021-01-12 19:01] pabigot commented on #31248
Initial review suggests the nRF53 doesn't behave the same as nRF52 with respect transfers with no data, which is the mechanism used to detect presence of a device on the bus.  The sensor signals an ACK at the end of the address, but the underlying nrfx driver must be continuing to perform a transaction even though the length should be zero.

This seems to be a difference in behavior at the nrfx dr

[2021-01-12 19:04] gregshue commented on #28438
https://github.com/zephyrproject-rtos/example-application/pull/1 submitted.

[2021-01-12 20:16] gdf8gdn8 commented on #31219
It was fixed in v2.4.0. I updated to v2.4.0.

[2021-01-12 20:20] pabigot commented on #31219
Great; thanks for the update.

[2021-01-12 20:20] #31219 closed

[2021-01-12 20:24] vrahane commented on #30378
@joerchan What do you suggest we look at next ?

[2021-01-12 21:00] evgeniy-paltsev commented on #30105
Latest ARC GNU toolchain is GCC 10.2.0 based (from Zephyr SDK 0.12 and standalone prebuilt one)
Latest ARC MWDT toolchain is LLVM 10.0.1 based.

[2021-01-12 21:08] nashif commented on #31020
this should be fixed already.

[2021-01-12 21:08] #31020 closed

[2021-01-12 21:39] Nukersson opened #31272 "CANOpen Sample compilation fails"
**Describe the bug**
Compiling `samples/subsys/canbus/canopen` in master fa6ac271ec9f4c5430e426f2e62b4382147868cf fails with error.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\nucleo_f746zg
3. make
4. See error:
[code]

**Expected behavior**
Compilation of the project without error.

**Impact**
Showstopper for CAN-FD implementation!

**Environ

[2021-01-12 21:46] henrikbrixandersen commented on #31272
@Nukersson If your board does not have a storage partition, you can use `prj_no_storage.conf` instead.

[2021-01-12 23:06] jenmwms commented on #28551
I'm looking into the device mapping here. A few notes about this GPIO/HAT Pin (37), it is 3rd of 4 GPIOs listed as OUT in https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/boards/up_squared/gpio_counter/src/main.c, and it is the only of those 4 GPIOs that does not have a function-mode associated (see https://wiki.up-community.org/Pinout_UP2) toggled in the BIOS.

Also, looking at re

[2021-01-12 23:38] hardik-proxy commented on #30378
![image](https://user-images.githubusercontent.com/50844088/104387454-fdfa0200-54eb-11eb-8076-0d9668ae33a2.png)

![image](https://user-images.githubusercontent.com/50844088/104387469-05b9a680-54ec-11eb-8e27-588374585955.png)

We have tried to match the time stamp on console logs and Sniffer software to get the frame near the error occurred. Above two images represents the same.

[2021-01-13 01:38] chen-png commented on #28547
reopen this, it failed using twister

[2021-01-13 01:53] cvinayak commented on #31254
This is a bug in the controller, the implementation to release auxiliary channel PDU resources is missing when advertising terminates due to max events or duration. Relates to https://github.com/zephyrproject-rtos/zephyr/pull/26338

[2021-01-13 02:33] cvinayak commented on #30378
@joerchan Is there any reason the ATT protocol would fragment the packet into 27 bytes after ATT Exchange MTU transaction and Data Length Update have completed?

See screenshot:
![image](https://user-images.githubusercontent.com/6350656/104398863-de94c080-554f-11eb-9fc1-31e4c53276fe.png)

@vrahane and @hardik-proxy please include this length check to rule out memory corruption if there was any ACL

[2021-01-13 04:00] vrahane commented on #30378
@cvinayak  Sure, we will include that. We are running tests at the moment without any issue for 27 hours straight. We will keep you guys updated. Thank you.

[2021-01-13 08:12] kurddt opened #31280 "devicetree: Add a macro to easily get optionnal devicetree GPIO properties"
The idea is too allow easy handling of devices with optional GPIO properties.
With a devicetree binding like the following:
[code]

It would be great to be able something like the following in the device driver configuration
[code]

Currently it's possible but cumbersome to achieve the same using  a combination of `NODE_HAS_PROP` and `UTIL_AND ` or direct use of `DT_PROP_OR`

Example:
https://gith

[2021-01-13 08:35] alexanderwachter opened #31281 "C++ support in Zephyr"
# This is a tracking issue for C++ enhancements for Zephyr
Add any missing features, things that work and things that don't work here.

## Missing features
List of missing features. The order defines the priority.
* Static local initialization. Static objects need to be guarded to get initialized properly (__cxa_guard_* functions). PR exists: #19754
* syscalls for class methods
* std::mutex
* std:

[2021-01-13 08:40] Zhaoningx opened #31282 "Kernel: Poll: Code Suspected Logic Problem"
I found that there is a bug in the poll source code, the code as below:
static inline int register_events()
{
	int events_registered = 0;

	for (int ii = 0; ii < num_events; ii++) {
		k_spinlock_key_t key;
		uint32_t state;

		key = k_spin_lock(&lock);
		if (is_condition_met(&events[ii], &state)) {
			set_event_ready(&events[ii], state);
			poller->is_polling = false;
		} else if (!just_check && p

[2021-01-13 08:51] sw commented on #25597
I ran into this problem as well with Zephyr 2.4.0

`TEXT_SECTION_OFFSET` has been renamed to `ROM_START_OFFSET`

The default value of 0x200 for that has been removed in commit 3b6642214721054a80b74e33cd86bd2335d7a68a

[2021-01-13 08:57] Zhaoningx commented on #31282
This issue fixes by https://github.com/zephyrproject-rtos/zephyr/pull/31283

[2021-01-13 10:01] fzawadiak commented on #29589
I also noticed that when I try to allocate object from thread without active resource pool it tries to allocate from pool 0xAAAAAAAA. Adding k_thread_system_pool_assign(k_current_get()); fixed it.

[2021-01-13 10:09] FRASTM opened #31284 "[stm32] PM restore console after sleep mode"
When testing the PowerManagement on stm32L4 or stm32WB55 through the tests/subsys/power/power_mgmt
the console is no more functional and prints spurious characters.

**Describe the solution you'd like**
To define a function in the uart_stm32.c driver (replace _device_pm_control_nop_)
to flush the  console before going to sleep
To restore the correct clock for the console after sleep mode

**Consol

[2021-01-13 11:34] nashif commented on #31281
@pabigot FYI

[2021-01-13 12:26] maxbachmann commented on #29589
Since this is a separate issue you should probably open a new issue on this.

[2021-01-13 12:30] kdhaka opened #31285 "LOG resulting in incorrect output"
**Describe the bug**
`char empty_str[10] = {'\0'}; LOG_INF("Test: %s", empty_str);` should print "Test: " but not printing it.

[code]

**Code**

[code]

Seen (atleast) on: `BOARD=nrf9160dk_nrf9160ns`

[2021-01-13 13:02] #31206 closed

[2021-01-13 13:12] boaks commented on #31206
Thanks!

[2021-01-13 14:08] galak commented on #30393
@dcpleung what do you think the compiler bug is?

[2021-01-13 14:20] carlescufi commented on #21545
@lindemer would you be willing to submit this to Zephyr as a Pull Request? We are interested in COSE and would likely review and contribute.

[2021-01-13 14:43] carlescufi commented on #21545
@rlubos just found this:
https://github.com/Fraunhofer-AISEC/c_OSCORE
@oberien would you be interested in contributing OSCORE to Zephyr?

[2021-01-13 14:53] kdhaka commented on #31285
<https://docs.zephyrproject.org/2.0.0/reference/logging/index.html#logging-strings>

[2021-01-13 14:53] #31285 closed

[2021-01-13 15:07] galak commented on #31280
The implication is that the GPIO information would not than be described in devicetree.  This is not something I think we should support.  Why wouldn't you just describe the GPIO in the dts?

[2021-01-13 15:28] kurddt commented on #31280
The pin will still be used to describe the peripheral doing the following

[code]

[2021-01-13 15:43] jaslob opened #31289 "Problems building grub2 bootloader for Zephyr"
I want to use Zephyr as a User VM in ACRN. Therefore I followed the tutorials in https://projectacrn.github.io/latest/tutorials/using_zephyr_as_uos.html
I followed the zephyr getting started guide on my Ubuntu and when I want to build the grub2 bootloader image in step 2 I get the following message:

jas@ubuntu:~/zephyrproject/zephyr$ ./boards/x86/common/scripts/build_grub.sh x86_64
~/zephyrprojec

[2021-01-13 16:39] ABOSTM opened #31290 "dts: arm: st: standardize pwm default property st,prescaler to 0"
Looking at pwm property `st,prescaler` accross STM32 dtsi files,
it appears that for some timer instances, value is 0, for other instances it is 10000.
It seems that there is no reason to have either 0 or 10000, just some inheritance.

Proposal is to harmonize this default value for all instances, and set 0 to give the maximum speed.

Warning: this change may impact user applications,
and this is

[2021-01-13 16:40] ABOSTM commented on #31290
^^ @erwango @gmarull

[2021-01-13 17:43] #29589 closed

[2021-01-13 17:43] #29629 closed

[2021-01-13 18:42] mbolivar-nordic commented on #31280
I think I would rather see something like

[code]

[2021-01-13 19:19] dcpleung commented on #30393
I am not totally sure this is a compiler bug, but this looks like clobbered register are not handled correctly with inline assembly inside inline functions. When tracing through the syscall invoke inline functions (inside `include/arch/arm/aarch32/syscall.h`), clobbered registers specified in those invoke functions are not saved/restored by generated code. When I add code to manually save/restore

[2021-01-13 19:30] galak commented on #30393
was there some particular registers that didn't seem to get save/restored?

[2021-01-13 20:33] dcpleung commented on #30393
The registers declared as variables (i.e. `register uint32_t r1 __asm__("r1") = arg2;`).

They cannot be added to the clobber list as GCC complains (`error: 'asm' specifier for variable 'r1' conflicts with 'asm' clobber list`).

[2021-01-13 21:10] sjg20 commented on #31036
@VinodSHegde what are you trying to do? The driver should build for I2C automatically if you have an I2C bus on your system.

For native_posix I an using this to test it:

west build --board native_posix tests/drivers/sensor/generic/

I have not tried this driver on real i2c hardware as I don't have any that has that chip.

So I think there could well be bugs.

[2021-01-13 21:12] jenmwms commented on #28551
^that patch https://github.com/zephyrproject-rtos/zephyr/pull/31274 is EHL and UART driver, not UP2 and GPIO driver. Might not help here.

[2021-01-13 21:58] henrikbrixandersen commented on #31280
Yes, please. And similar for PWM and perhaps others.

[2021-01-13 22:27] andyross commented on #30509
k_timer_remaining_get() is a legacy function that returns a value in milliseconds as a 32 bit quantity.  It does its internal math to 32 bit precision simply because it always has, and is thus subject to overflow bugs.  It's true that we could do better than we do by computing a 64 bit intermediate result, but it's always going to be skewed relative to what you can achieve with the underlying time

[2021-01-13 22:27] andyross commented on #30509
Drop priority just because there's a trivial workaround

[2021-01-13 22:32] andyross commented on #30055
IIRC the newlib heap and the Zephyr system heap aren't the same memory, right?  Maybe the bug here is a linkage problem where the newlib heap memory is clobbering something adjacent?

[2021-01-13 23:03] hardik-proxy commented on #30378
@cvinayak we include #31277 but it didn't help to overcome tx buffer overflow issue. Overflow appeared after 15 hours of runtime.

[2021-01-13 23:18] #29937 closed

[2021-01-14 00:49] jenmwms commented on #28551
@chen-png @dcpleung Can you please help me understand the value "(-22)" in the error message? I see it is `ret` from [main.c](https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/boards/up_squared/gpio_counter/src/main.c) line 126, but not sure which is associated with -22 (displayed differently than -E...)

[2021-01-14 00:53] jenmwms commented on #28551
Perhaps it is -EINVAL: Invalid argument [GPIO](https://docs.zephyrproject.org/latest/reference/peripherals/gpio.html), which is consistent with linux error codes...

[2021-01-14 00:59] dcpleung commented on #28551
The error values are defined in `lib/libc/minimal/include/errno.h`: `-22` is `-EINVAL`.

[2021-01-14 01:14] jenmwms commented on #28551
It get's through the `get_gpio_dev()` ok (return 0, successful) in this check in main.c:
[code]
so something is happening with the arguments, for only HAT Pin 37, to `gpio_pin_configure` in
[code]

[2021-01-14 02:32] IRISZZW opened #31298 "tests/kernel/gen_isr_table failed on hsdk and nsim_hs_smp sometimes"
**Describe the bug**
`tests/kernel/gen_isr_table` failed on `hsdk` and `nsim_hs_smp` sometimes,
when test case `test_run_time_interrupt` run in slave cores.

**To Reproduce**
Steps to reproduce the behavior:
1. add extra config in `prj.conf` file `CONFIG_ARC_FIRQ_STACK=y` and `CONFIG_TEST_HW_STACK_PROTECTION=n` (see `testcase.yaml`)
2. west build -d build -b hsdk .\tests\kernel\gen_isr_table
3. we

[2021-01-14 05:14] IRISZZW opened #31299 "tests/kernel/mbox/mbox_usage failed on hsdk board"
**Describe the bug**
tests/kernel/mbox/mbox_usage failed on hsdk board

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b hsdk -d build -p auto tests\kernel\mbox\mbox_usage
2. west flash -r mdb-hw
3. See error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - master branch (zephyr-v2.4.0-30

[2021-01-14 05:28] RoyAnupam commented on #29008
Hello @joerchan ,

Allright, thank you very much for this valuable information.

[2021-01-14 05:53] mbolivar-nordic commented on #30612
... as long as it has the same architecture, yes. But if not, you're out of luck if you want to keep a bunch of related hardware in a single folder.

[2021-01-14 05:57] KangJianX opened #31301 "intel_adsp_cavs15: run kernel testcases failed."
Describe the bug
Use twister to run kernel testcases failed

To Reproduce
Steps to reproduce the behavior:
 twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/mutex/mutex_api/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/sof/rimage/keys/otc_private_key.pem" --device-serial-pty="/home/ztest/work/zephyrproject/zephyr/b

[2021-01-14 06:04] KangJianX commented on #31301
@andyross Hi Andy, I have updated the rimage in zephyrproject/modules/audio/sof/rimage and install it. The testing still failed.

[2021-01-14 07:27] martinjaeger commented on #30055
Yes, that could be the case. Do you know how I can find out which memory location newlib uses as its heap?

[2021-01-14 08:00] kurddt commented on #31280
I really like the idea too.

One think though, in what you propose the optional behavior is mandatory: Unlike most of the DT macro there won't be a compilation error if gpio_pha does not exist. Maybe it would be good to have two variants: `DT_GPIO_SPEC` and `DT_GPIO_SPEC_OR_NULL` ?

[2021-01-14 08:17] lindemer commented on #21545
@carlescufi Are you mainly interested in OSCORE or do you need a generic COSE implementation? If it's the latter case I can work on this a bit and submit it. My COSE implementation depends on an [LGPL 2.1-licensed CBOR library](https://github.com/bergzand/NanoCBOR/tree/59bbe085f7f332e0834ad4857ff307fd2c9d498e) so I could use some clarification on whether that's compatible with Apache 2.0.

[2021-01-14 08:38] Thalley opened #31306 "Bluetooth: Common Discover All feature"
**Is your feature request related to a problem? Please describe.**
The idea behind this feature is that it is possible for multiple applications get the results of a single discovery procedure. If we have a couple of applications (or even modules in the BT subsys) that act like GATT clients and may want to discover several different (or even the same) services or characteristics on a GATT server,

[2021-01-14 08:58] KangJianX commented on #31301
The latest commit build failed too.
**Log:**
[10/151] Generating include/generated/driver-validation.h
[11/151] Building C object zephyr/CMakeFiles/offsets.dir/arch/xtensa/core/offsets/offsets.c.obj
FAILED: zephyr/CMakeFiles/offsets.dir/arch/xtensa/core/offsets/offsets.c.obj
ccache /opt/sdk/zephyr-sdk-0.11.4/xtensa/intel_apl_adsp/xtensa-zephyr-elf/bin/xtensa-zephyr-elf-gcc -DBUILD_VERSION=zephyr-v

[2021-01-14 09:02] windelbouwman commented on #30977
This would be good to add!

My suggestion:
- Add 3 register ranges of size 0x4D, one for each ADC (compatible with sm32-adc)
- Add a ADC common register range

Open issue: how to deal with the common register settings?

[2021-01-14 09:41] trond-snekvik commented on #31208
Hi, unfortunately, Nordic's HW CCM module is not able to support the Bluetooth Mesh packet format, as it's made specifically for the Bluetooth LE encryption scheme. In particular, the length field, the flags field and the additional data field is not configurable.

It would be possible to use the cryptocell for this on some Nordic chips, but we haven't benchmarked it or looked into the architectur

[2021-01-14 10:51] StefanHri commented on #21545
@carlescufi  and @oberien
c_OSCORE was developed at Fraunhofer AISEC as a Student project. Meanwhile, we further developed and extended it. The new version is still not on GitHub but we plan to do that in the next weeks.

Are you also interested in [EDHOC](https://datatracker.ietf.org/doc/draft-selander-ace-cose-ecdhe/)? EDHOC can be used to establish symmetric keys for OSCORE. We have also an EDH

[2021-01-14 10:55] joerchan commented on #30378
Because the ATT requests can be queued, and they buffers are created before they are put into the queue. They must have been put into the queue before the MTU exchange was finished.

With the changes here : https://github.com/zephyrproject-rtos/zephyr/pull/31184 improving this wouldn't be too hard I think.

[2021-01-14 11:02] furkanhtk opened #31308 "Cannot set static address when using hci_usb or hci_uart on nRF5340 attached to Linux Host"
**Describe the bug**
nRF5340 DK
I tried hci_uart and hci_usb samples but it did not work with bluez,bluethootctl and hciconfig.
I looked at these Issues.
@https://github.com/zephyrproject-rtos/zephyr/issues/3230
@https://github.com/zephyrproject-rtos/zephyr/issues/11016

**I got this error when I try to set static-addr to nRF5340 DK:**
[code]
Any suggestion?

prj.conf
[code]

**Build the hci_usb**

[2021-01-14 11:52] cvinayak commented on #30378
@joerchan it is the 3rd ATT transaction response from the ATT server on the zephyr peripheral after the completion of ATT exchange MTU; and, over 200 ms and 400 ms after Length update and ATT exchange transactions have completed. See the screenshot here: https://github.com/zephyrproject-rtos/zephyr/issues/30378#issuecomment-759163656

@hardik-proxy ok, the added length check ensures that there is

[2021-01-14 12:03] carlescufi commented on #18850
Double-check if this applies to legacy adv only or also to extended avd. Low complexity, will impact RAM.

[2021-01-14 12:05] carlescufi commented on #22049
@joerchan please add a quick line in the documentation about this limitation.

[2021-01-14 12:18] carlescufi commented on #29098
@joerchan please check if this is already fixed or will be fixed by an existing PR.

[2021-01-14 12:21] carlescufi commented on #29440
@anangl and @nordic-krch could you please weigh in here?

[2021-01-14 12:30] carlescufi commented on #29994
@koffes and @jmgao
Could you please verify this statement? It's important that we figure out if enabling shell is a factor here.

[2021-01-14 12:31] carlescufi commented on #30243
Downgrading to low since this feature is still WIP in the controller.

[2021-01-14 12:32] carlescufi commented on #30244
Downgrading to low since this feature is still WIP in the controller.

[2021-01-14 12:32] carlescufi commented on #30245
Downgrading to low since this feature is still WIP in the controller.

[2021-01-14 12:36] carlescufi commented on #30624
Resolving as issue in the user's code. Please reopen if you find that not to be the case.

[2021-01-14 12:36] #30624 closed

[2021-01-14 12:45] carlescufi commented on #31019
@trond-snekvik will reproduce and try to find out what sequence in the code is causing a second Set Scan Enable to be sent.

[2021-01-14 12:48] carlescufi commented on #30808
@LingaoM could you please provide additional information here?

[2021-01-14 12:53] carlescufi commented on #31254
Setting priority as low since this is a WIP feature in the controller.

[2021-01-14 12:59] nordic-krch commented on #31259
As for nordic drivers, `uart_irq_rx_ready` returns true if there is any pending data, no check for interrupt being enabled.

As for `uart_irq_tx_ready`, it checks against Tx interrupt being enabled but API states:
[code]
As it can only be called from uart interrupt context, then it seems ok to not accept new data when interrupt is disabled. Given that `uart_irq_tx_disable` is also intended to be c

[2021-01-14 13:10] klauspetersen commented on #29098
I have not pursued this further. We hacked a small fix that made sure to cancel all delayed work, also any work remaining on rtx_work. We have not seen the issue since, but it was a very hard bug to reproduce in the first place.

[2021-01-14 13:20] carlescufi commented on #31259
@erwango this seems to be inaccurate as per [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/31259#issuecomment-760181612) on the RX side. On the TX it is, but see the reasoning for it in the same comment.

[2021-01-14 14:02] gpaquet85 opened #31316 "Issue in UDP management for BG96"
**Describe the bug**
When I tried to send data with mqtt_publisher sample, an error was raised in BG96 driver.
It is not possible to sart MQTT (TCP) connection

**To Reproduce**
Build samples/net/mqtt_publisher
1. west build -p auto -b rak5010_nrf52840 samples/net/mqtt_publisher
2. west flash
Error is clearly raised because it is impossible to connect to MQTT broker

**Expected behavior**
It is ex

[2021-01-14 14:04] gpaquet85 commented on #31316
Linked to this PR: https://github.com/zephyrproject-rtos/zephyr/pull/31317

[2021-01-14 14:22] erwango commented on #31259
Exact. >till stands for `uart_mcux.c` though.

[2021-01-14 14:36] tejlmand commented on #30612
but if that was the case, then I don't think this issue would have started out with an `x86` level in its initial suggestion:

[2021-01-14 14:38] #19850 closed

[2021-01-14 14:57] FRASTM commented on #31284
When considering STOP 0/1/2 low power modes as DEVICE_PM_LOW_POWER_STATE  for the stm32l4xx soc:
1) before going to sleep mode, wait for  USART Rx and Tx empty
2) USART is clocked by the PLL. During STOP mode the all clocks are OFF except LSE and LSI. After STOP mode HSI16 or MSI are wakeup clock, so the USART needs one of them or system must restore the PLL
3) in the test application tests/subsys

[2021-01-14 15:19] Cimex97 commented on #28872
Hey @carlescufi,
I will do it in a few weeks.

[2021-01-14 15:27] pabigot commented on #31281
@alexanderwachter could you perhaps update #18554 instead, and change its description to reflect "status as of 2.5"?  We don't need multiple things tracking the gaps.

[2021-01-14 15:37] joerchan commented on #30378
@vrahane Did you check the buffer pool_id? If it has been changed then that would be the root of the problem I think.
We should try to find out how this was changed, somewhere an invalid pointer probably leads to this issue.

It might be possible to use the below code to find out where the overwrite comes from.
Added to `subsys/bluetooth/host/buf.c` and calling `bt_buf_debug` from `bt_enable` in `

[2021-01-14 16:04] carlescufi commented on #31259
Then this is instead a bug in `uart_mcux.c` (and now in the ST UART driver?)

[2021-01-14 16:37] WilliamGFish opened #31323 "Compilation warning regards the SNTP subsys"
**Describe the bug**
Compilation warning regards the SNTP subsys.

/subsys/net/lib/sntp/sntp.c:161:3: warning: implicit declaration of function 'close' [-Wimplicit-function-declaration]
  161 |   close(ctx->sock.fd);

**Expected behavior**
No compilation warning as the "close" function is available.

**Impact**
Annoyance, does not appear to have any impact on functionality

**Logs and console outp

[2021-01-14 17:03] #29963 closed

[2021-01-14 17:08] nvlsianpu commented on #30075
#30370 merge fixes the issue

[2021-01-14 17:08] #30075 closed

[2021-01-14 17:19] furkanhtk commented on #31308
@carlescufi @jfischer-no @dcpleung

[2021-01-14 17:24] yonsch commented on #29809
#29863 fixes this and is waiting for a second reviewer.

[2021-01-14 18:07] mbolivar-nordic commented on #31280
@kurddt sure, that seems reasonable.

[2021-01-14 19:37] pabigot opened #31327 "ci compliance failures due to intel_adsp_cavs25 sample"
samples/audio/sof/boards/intel_adsp_cavs25.conf references a bunch of Kconfig symbols that are out-of-tree, resulting in CI failures as with https://github.com/zephyrproject-rtos/zephyr/pull/28977/checks?check_run_id=1704198353

[2021-01-14 19:46] pabigot commented on #31327
This went away when I rebased my branch on current master in https://github.com/zephyrproject-rtos/zephyr/pull/28977/checks?check_run_id=1704273529  so these Kconfig variables must be defined in an external module; but this suggests the compliance tests aren't properly setting up the environment for what the PR looks like when rebased on master.

[2021-01-14 20:04] Nukersson commented on #31272
Thank you very much! It helped really.

[2021-01-14 20:18] henrikbrixandersen commented on #31272
Can we close this issue?

[2021-01-14 20:30] Nukersson commented on #31272
I've not found your advice in the documentation for mentioned sample. Therefore I've created new PR and linked to this bug. Can you review it please?

[2021-01-14 21:48] gustavovelascoh opened #31330 "Getting started guide outdated: Step 4 - Install a toolchain"
**Is your enhancement proposal related to a problem? Please describe.**
When following the Getting Started Guide, in step 4, version 0.11.4 is used for the example command, but using the link to check the latest, version 0.12.1 is shown.

However, just by replacing the version number does not work because, as far as I know, the naming convention changed, now including the host architecture.

**Des

[2021-01-14 21:54] dcpleung commented on #31289
Do you have `autoconf` and `automake` installed? IIRC, in Ubuntu, the packages are of the same names.

[2021-01-14 22:08] jfischer-no commented on #31308
I guess the answer from #11016 explains it [quite well](https://github.com/zephyrproject-rtos/zephyr/issues/11016#issuecomment-435925274). Your kernel or BlueZ are a bit outdated.

[2021-01-14 22:29] #29960 closed

[2021-01-14 22:29] #30426 closed

[2021-01-14 22:58] mbolivar-nordic commented on #30612
Fair point.

[2021-01-14 23:49] andrewboie opened #31333 "adding a periodic k_timer causes k_msleep to never return in tests/kernel/context"
**Describe the bug**
I was trying to figure out why my demand paging PR was failing tests/kernel/context and was able to isolate the issue to a periodic timer hook installed by my eviction algorithm at boot.

I was then able to come up with a trivial scenario which reproduces this in the master branch.
Something seems to be very broken with timeouts.

**To Reproduce**
Apply this patch:

[code]

An

[2021-01-14 23:52] fabiobaltieri commented on #28620
Hey #31075 got merged, this should be fixed now.

[2021-01-15 02:33] #30893 closed

[2021-01-15 05:48] Zhaoningx opened #31338 "mimxrt1050_evk: running tests/kernel/fpu_sharing/float_disable/ failed"
To Reproduce
Steps to reproduce the behavior:
twister -p mimxrt1050_evk --device-testing --device-serial /dev/ttyACM0 -T tests/kernel/fpu_sharing/float_disable/
see error

*** Booting Zephyr OS build zephyr-v2.4.0-3009-gfc1b5de4c307  ***
Running test suite suite_k_float_disable

===================================================================
START - test_k_float_disable_common
PASS - test_k_fl

[2021-01-15 05:54] Zhaoningx opened #31339 "nsim_em: running tests/ztest/error_hook/ failed"
To Reproduce
Steps to reproduce the behavior:
twister -p nsim_em -T tests/ztest/error_hook/
see error

*** Booting Zephyr OS build zephyr-v2.4.0-3009-gfc1b5de4c307  ***^M
Running test suite error_hook_tests^M

===================================================================^M
START - test_catch_assert_fail^M
ASSERTION FAIL [a != ((void *)0)] @ WEST_TOPDIR/zephyr/tests/ztest/error_hook/src/main.

[2021-01-15 06:07] Zhaoningx opened #31340 "sam_e70_xplained: running tests/subsys/logging/log_core/ failed"
To Reproduce
Steps to reproduce the behavior:
[code]

Environment (please complete the following information):

OS: Fedora33
Toolchain: zephyr-sdk-0.12.0
Commit ID: fc1b5de

[2021-01-15 06:35] Thalley opened #31341 "Bluetooth: Use CHECKIF for validating input in API functions"
**Is your enhancement proposal related to a problem? Please describe.**
There was recently a discussion on Slack regarding how we should validate/verify arguments in API functions.

In internal functions we can usually use __ASSERT, but for API functions, where values are provided by users/applications, we probably want to add additional checks.
**Describe the solution you'd like**
The CHECKIF mac

[2021-01-15 06:43] LingaoM commented on #30808
Sorry for the delay, I think it may be that the controller is not reset, and the host is running on another board, resulting in an inconsistent state.

[2021-01-15 07:10] nordic-krch commented on #29162
Can you try to increase `LOG_PROCESS_THREAD_STACK_SIZE`?

[2021-01-15 07:18] #28620 closed

[2021-01-15 07:37] #31316 closed

[2021-01-15 07:49] Zhaoningx opened #31342 "sam_e70_xplained: running tests/net/ptp/clock/ failed"
To Reproduce
Steps to reproduce the behavior:
twister -p sam_e70_xplained --device-testing --device-serial /dev/ttyACM1 -T tests/net/ptp/clock/
see error
handler.log
I: Device I2C_2 initialized
I: Device I2C_0 initialized
I: MAC: fc:c2:3d:0d:5d:8b
I: Queue 0 activated
I: Queue 1 set to idle
I: Queue 2 set to idle
I: Soft Reset of ETH PHY
I: PHYID: 0xE: ***** MPU FAULT *****
E:   Stacking error (co

[2021-01-15 08:07] Zhaoningx opened #31343 "sam_e70_xplained: running tests/net/socket/af_packet/ failed"
To Reproduce
Steps to reproduce the behavior:
twister -p sam_e70_xplained --device-testing --device-serial /dev/ttyACM1 -T tests/net/socket/af_packet/
see error

I: Device I2C_2 initialized
I: Device I2C_0 initialized
I: MAC: fc:c2:3d:0d:5d:8b
I: Queue 0 activated
I: Queue 1 set to idle
I: Queue 2 set to idle
I: Soft Reset of ETH PHY
I: PHYID: 0xE: ***** MPU FAULT *****
E:   Stacking error (contex

[2021-01-15 08:17] Zhaoningx opened #31344 "iotdk: running tests/ztest/error_hook/ failed"
To Reproduce
Steps to reproduce the behavior:
twister -p iotdk --device-testing --device-serial /dev/ttyUSB0 -T tests/ztest/error_hook/
see error
*** Booting Zephyr OS build zephyr-v2.4.0-3009-gfc1b5de4c307  ***
Running test suite error_hook_tests

===================================================================
START - test_catch_assert_fail
ASSERTION FAIL [a != ((void *)0)] @ WEST_TOPDIR/zeph

[2021-01-15 08:40] enjiamai commented on #31339
The assertion failed due to access a NULL address did not trigger an fatal error in nsim_em board. Let me see how to modify me test case to adapt that.
This root cause of this issue is the same with https://github.com/zephyrproject-rtos/zephyr/issues/31344

[2021-01-15 08:47] enjiamai commented on #31344
The assertion failed due to access a NULL address did not trigger an fatal error in nsim_em board. Let me see how to modify me test case to adapt that.
This root cause of this issue is the same with https://github.com/zephyrproject-rtos/zephyr/issues/31339

[2021-01-15 08:56] lowlander commented on #28312
@aurel32 @ABOSTM should I make a PR that just enables the ART cache for F4 cores?

[2021-01-15 09:52] #31203 closed

[2021-01-15 09:52] Quincy-Zh commented on #31203
**CONFIG_NEWLIB_LIBC=y** works!

[2021-01-15 10:54] ABOSTM commented on #29705
On STM32 boards, I found that this test fails depending on clock frequency,
and I propose a fix by increasing SLICE_SIZE:
https://github.com/zephyrproject-rtos/zephyr/pull/30791

[2021-01-15 10:56] PerMac opened #31348 "twister: CI: Run twister daily builds with "--overflow-as-errors""
I understand that having ram overflows treated as errors was problematic for on-commit CI runs. What about adding this option to daily builds? It would allow to catch these errors in the CI, but won't block commits.
@nashif @galak

[2021-01-15 12:22] carlescufi commented on #21545
@lindemer We're mostly interested in OSCORE, but having a COSE that is not bound to it would be preferable. Unfortunately we cannot accept any copyleft licenses (including LGPL) in the main Zephyr tree, so using that CBOR library is not an option for this work to be included in the main upstream repository. Let us also discuss with @StefanHri and see where we can go from here.

[2021-01-15 12:26] carlescufi commented on #21545
Great to hear, thanks for the info

Yes, we are indeed interested in EDHOC as well.

Absolutely. Assuming your code uses a compatible license, I think this should go in the main tree, and not as a module. Ideally we´d need it to be licensed under the same Apache v2 license we use for the rest. Here is what I can offer to help out in the effort:

- Extensive code review and suggestions once the Pul

[2021-01-15 13:07] erwango commented on #31259
ok, will fix STM32 one.
@MaureenHelm can you check `uart_mcux.c` ?

[2021-01-15 13:34] joerchan commented on #29098
@klauspetersen Would you mind sharing the "hack" you did that supposedly fixed the issue.

As far as I can see the delayed work is canceled in this case, but due to the way delayed work behaves a cancel is not guaranteed to succeed. It appears that ATT handles the case where the Timeout handler is invoked before the disconnected handler, by unassigned the L2CAP conn pointer, which prevents the dis

[2021-01-15 14:05] koffes commented on #29994
@carlescufi I am unable to reproduce.

Attempted with `CONFIG_BT_MAX_CONN=2` in `samples/bluetooth/peripheral/prj.conf and hci_rpmsg` with `CONFIG_SHELL=y` and `CONFIG_TRACING=y` on the NET core.

Also tried in our custom application with TRACING active. No luck.
My observed issue with `!radio_is_ready` is only related to this one though.

[2021-01-15 14:47] tejlmand opened #31358 "west build.pristine=auto by default is dangerous"
If a user accidentally runs `cmake -DBOARD=<board> path/to/sample` at the root of a repository, several files will be created.
The user of course has the responsibility cleanup this mess.

However, in case the user calls `west build` after such a mistake, `west` will destroy the users complete repository.
And this must not happen.

To reproduce: (***WARNING*** This procedure will wipe your repo.)

[2021-01-15 15:42] mbolivar-nordic commented on #31358
West build just runs pristine.cmake. It has a little bit of extra checking to try to avoid running pristine.cmake in anything that isn't a valid zephyr build directory, but I think this is a build system "bug" if it is even a bug at all, and should likely be handled there.

[2021-01-15 15:44] mbolivar-nordic commented on #31358
Fixed the title 😉

[2021-01-15 15:53] nashif commented on #31358
from pristine.cmake:

[code]

[2021-01-15 15:58] WilliamGFish commented on #30133
@avisconti Any news? Can I help?

[2021-01-15 16:19] FRASTM commented on #31284
In the test application tests/subsys/power/power_mgmt, the dummy_driver is put in DEVICE_PM_SUSPEND_STATE (=3)
Going to sleep mode the dummy driver is still in DEVICE_PM_SUSPEND_STATE (=3) when the irq (lptim) occurs and cause the system to wakeUp.
On wakeUp, the `pm_notify_power_state_exit()` is called _before_ the  `pm_resume_devices()` function.
The `pm_notify_power_state_exit`, implemented in

[2021-01-15 16:29] #28547 closed

[2021-01-15 16:31] #24338 closed

[2021-01-15 16:38] #30205 closed

[2021-01-15 16:57] domo141 opened #31362 "kconfiglib.py _save_old() may rename /dev/null -- replacing /dev/null with a file"
**Describe the bug**

the kconfiglib.py _save_old("/dev/null") may actually, unexpectly, succeed.

afterwards /dev/null was opened for writing as a (new) file

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. ls -l /dev/null
4. cat /dev/null

**Expected behavior**

/dev/null is still device node

**Impact**

/dev/null is a file, with kconfig

[2021-01-15 17:14] tejlmand commented on #31358
This is exactly the problem.
`west` unconditionally tries to outsmart the user and do a pristine build as its default behavior.
Even in a fresh workspace.

A user doing `ninja pristine` in the repo root is asking for trouble, but a user doing `west build` should not experience this.

So the problem is that `west build` tries to outsmart the user.

Changed title back, as it is `west build` that dec

[2021-01-15 17:14] #31343 closed

[2021-01-15 17:17] tejlmand commented on #31358
The problem here is not the pristine, that is documented.
The problem is `west build` automatically doing it, even when it should not.

Suggestion, `west build` should never call pristine, if folder is having `.git` or `.west`.

[2021-01-15 17:19] mbolivar-nordic commented on #31358
If that's the problem, then I see no choice but to revert https://github.com/zephyrproject-rtos/zephyr/pull/31364.

Sorry, but NAK.

I refuse to make west get into a guessing game about what it should and should not run pristine on. We can turn off `build.pristine=auto` by default, forcing users to specifically ask for it, but if we start this guessing game we will be playing whack-a-mole forever.

[2021-01-15 17:24] tejlmand commented on #31358
IMO there is a huge difference between removing some folder with data, and then removing a complete `git` repository with local branches, reflog history, and so on (you removed `.git` so there is NO returning back).
Or even worse, removing the whole west workspace with several repos.

Therefore I believe it can be justified to check for existence of `.git` or `.west`.

[2021-01-15 17:30] andyross commented on #31333
FWIW: there is something special about this test.

That timer interrupt you requested arrives while during the test_kernel_timer_interrupts case, while the timer interrupt is about to be or has just been disabled for a long time while the test spins.  And it's asking for a repeating timer, so it's trying to reschedule a new event at a time where the timer interrupt count is way, way off.  Presumab

[2021-01-15 17:34] mbolivar-nordic commented on #31358
Maybe you misunderstood me. Nobody thinks that deleting a project repository, .west, or the workspace topdir is a good thing. That's not what I'm saying.

What I am saying is that if we refuse to `pristine` using code that works 99% of the time, we still have a 1% chance of deleting some file, like `/path/to/file`, that **someone** really wants, just because they incorrectly created a zephyr build

[2021-01-15 18:03] andyross commented on #31333
This actually looks like an arch bug, I think.  What seems to be happening is that the test calls `arch_irq_disable()` on the timer interrupt.  Then it spins for a long time, and during that period the moment where the timer driver was supposed to have fired its next interrupt arrive, but of course the interrupt was masked.  Then the test calls `arch_irq_enable()` to re-enable the interrupt.  But

[2021-01-15 18:25] nashif commented on #31348
This is actually a problem with the daily run, I do not think RAM/SRAM overflows should be treated as bugs or issues, this is going to be a never-ending thing. We have to accept the fact that not everything we build will fit in every configuration. My concern is that we will start filtering based on RAM in tests and will be excluding way too many boards just because of a few that are either miscon

[2021-01-15 18:49] andyross commented on #31333
This minimal rig shows the issue fairly clearly.  You can hack numbers into a spin loop to adjust the delay (i.e. without involving the timer driver at all), and prove that the timer interrupt fails to arrive if the event happens while the interrupt is disabled:

[code]

[2021-01-15 18:52] andyross commented on #31333
I need to give this a little thought as to how we want to handle it.  The IRQ en/disable API is a deep and weird API.  It's not really intended for locking, so there's no particular reason for it to demand that the pending state be preserved I guess.  But if it's not for locking, then what is it good for anyway?  My guess is most platforms probably have some variant of this bug, so we can't just f

[2021-01-15 19:02] vrahane commented on #30378
@joerchan apologies for the delay, we are actually testing our stuff with migrating from L2CAP to GATT to avoid the issue from happening in the first place. We do still see large L2CAP frames being sent. could fine the actual reason for it. I will keep you updated with the progress. We are sort of on a strict timeline hence, cannot go back at debugging the crash more. Will get back to it once we s

[2021-01-15 21:34] AJGherardi commented on #31208
That is unfortunate does the cryptocell have a driver for zephyr because I have not seen any.

[2021-01-15 22:55] kokokoharu opened #31370 "Question about serial communication using virtual COM"
Hi,

Sorry if this is not the right place to ask this question. I'm a beginner who's using Zephyr with DWM1001 Dev board, more specifically, [this](https://github.com/RT-LOC/zephyr-dwm1001) repo.

My goal is to run a piece of code on PC (pySerial) and have DWM1001 send its data to the PC via its UART and virtual COM port. The [UWB CDC ACM example](https://docs.zephyrproject.org/latest/samples/subs

[2021-01-15 23:43] jenmwms commented on #28551
Interesting, this seems to effect OUT and IN pins, depending on something TBD. If I remove HAT pin 37 from the structure `_pin counter_pins[]`, the 3 remaining pins in the array are successfully set to OUT (no error). Then we instead observe error with setting the input pin:
[code]
I'll try printk in the gpio driver (`gpio_intel_apl.c`) to see where it is failing. It is not clear if/how the patch

[2021-01-15 23:51] jenmwms commented on #28551
building on that, also interesting if I avoid HAT pin 37 and 16, and instead use HAT pin 38 as IN not OUT, I can progress to the first counter value but does not advance:
[code]

[2021-01-16 02:05] #29699 closed

[2021-01-16 02:05] #29695 closed

[2021-01-16 02:05] #29694 closed

[2021-01-16 02:05] #25600 closed

[2021-01-16 06:15] jmgao commented on #29994
Sorry for the delay, I also had some problems reproducing, but it was because I tested without connecting to the device, because I was using a different board that connections were failing on, and spent the last few days trying to figure out why. (I was running it on a board that doesn't have a 32kHz crystal, and apparently `CONFIG_CLOCK_CONTROL_NRF_K32SRC_SYNTH` is good enough for my project but

[2021-01-16 14:31] lgl88911 opened #31376 "Esp offload driver support server mode"
Now esp offload driver does not implement accept and listen socket API, It means the device that uses esp as wifi can only work in client state, but cannot become server.
Are there any plans to increase the implementation of accept and listen for esp offload in the near future? Thanks

[2021-01-16 16:18] thelittlebug commented on #28092
ok, and now?
the PR is closed and this ticket is closed. nothing changed.

[2021-01-16 17:36] aurel32 commented on #28312
I think that would be a good idea to move forward. I guess you want to use the `LL_FLASH_EnableDataCache()` and `LL_FLASH_EnableInstCache()` for that.

[2021-01-17 01:08] legath commented on #19644
is hal must be created from HALCOGEN library? or could i try to write more simple support?
just want to help with this port...

[2021-01-17 01:33] GABS9718 commented on #31164
@Mani-Sadhasivam do u have some guess? I have been trying to fix it for a while, but I still just get the same result already writen in this topic.

[2021-01-17 02:05] #29693 closed

[2021-01-17 02:05] #27506 closed

[2021-01-17 02:05] #26987 closed

[2021-01-17 03:42] Mani-Sadhasivam commented on #31164
@GABS9718 The issue is mostly related to your Kconfig setting. Please use the below diff:

[code]

Also note that for getting lora to work, you need to choose the `power-amplifier-output` or `rfo-enable-gpios` or `pa-boost-enable-gpios` as per your board design.

[2021-01-17 05:57] Mani-Sadhasivam commented on #29581
@vtothsvk Can you confirm if the gateway works with RakWireless SDK running on Wistrio?

[2021-01-17 13:09] #31342 closed

[2021-01-17 14:02] GABS9718 commented on #31164
Hi @Mani-Sadhasivam, thanks for the help. I have tried what u said, but I still get an error. Do u think that is related with the above print? I got this when I did what u said.

![c_cpp_properties](https://user-images.githubusercontent.com/60732727/104845310-7299bb80-58b3-11eb-9621-26afd84b7317.png)

[2021-01-17 14:58] #31358 closed

[2021-01-17 16:36] Nukersson opened #31379 "Update CAN-API Documentation"
**Describe the bug**
Current [CAN-API](https://docs.zephyrproject.org/latest/reference/networking/can_api.html) mention  wrong structure parameters in `zcan_filter`, (for example `std_id`):

[code]

**To Reproduce**
Compare current [CAN-API](https://docs.zephyrproject.org/latest/reference/networking/can_api.html) with [doxygen docs](https://docs.zephyrproject.org/apidoc/latest/group__can__interfac

[2021-01-17 18:26] vtothsvk commented on #29581
Yes it does, when using ChirpStack that is (because of the lack of EU433 support of the TTN)

[2021-01-17 18:58] ric96 commented on #31290
+1
I was testing PWM on the Blue Pill and found the same bug. PWM_1 seems to be set at 10000 prescaler and that meant a pwm pulse of 62500U nanoseconds gave a pwm output of 16HZ instead of 16KHZ.
Setting the prescaler back to 0 solved the issue.

[2021-01-17 19:24] deadsy commented on #18351
I'm running zephyr 2.4.0.
It still doesn't work.

[2021-01-17 20:29] alexanderwachter commented on #31379
#31380 updates the doc. Thanks for reporting @Nukersson

[2021-01-17 23:48] jshoen opened #31385 "ARC version of sys_read32 only reads uint16_t on Zephyr v2.4"
**Describe the bug**
The ARC version of sys_read32 in include/arch/v2/sys_io.h is implemented as:
[code]

It should be implemented as:
[code]

The current implementation causes read/modify/write of 32bit registers to fail on the high bits.  Discovered this trying to get the spi_dw.c driver to communicate with a flash module.

[2021-01-18 02:03] #29733 closed

[2021-01-18 02:59] Zhaoningx opened #31386 "sam_e70b_xplained: running tests/drivers/watchdog/wdt_basic_api/ timeout for v1.14-branch"
To Reproduce
When running wdt_basic_api testcases, it showed me 'timeout failed', maybe it is waiting to restart MCU for too long time.

Steps to reproduce the behavior:
sanitycheck -p sam_e70b_xplained --device-testing --device-serial /dev/ttyACM0 -T tests/drivers/watchdog/wdt_basic_api/
see error
handler.log
starting test - test_wdt
Testcase: test_wdt_no_callback
Waiting to restart MCU
Running t

[2021-01-18 04:11] chen-png commented on #28551
did you short the related pins after you changed the input pin number?

[2021-01-18 05:46] Mani-Sadhasivam commented on #31164
@GABS9718 Did you modify the sample application? There seems to include error which might due to wrong env settings or due to your change in samples/lorawan/class_1. But this error is not related to the change I shared. With the above diff, I could get the build to complete successfully.

[2021-01-18 07:06] nordic-krch commented on #18351
yes, it will be addressed soon, see #30353.

[2021-01-18 07:53] ABOSTM commented on #28312
Yes would be great. Thanks.

[2021-01-18 08:08] tejlmand commented on #31358
I strongly disagree there.
We know that Zephyr build system will never create a `.git` or `.west` folder, and we know that it is hazardous to remove those directoriesm as there is no coming back.

If a user creates a `important-file.keep`, and don't put it under version control, then that file could still risk being deleted by other means, like `git clean`. If the file is important, then it should

[2021-01-18 08:17] tejlmand commented on #31358
This is a bug PR, and the title should reflect the bug.
The fact that `build.pristine=auto` is dangerous is not in itself a bug, just like `rm -rf /` is not a bug.
But if `mkdir /` would do a `rm -rf /` in it's default setup, then that would be a bug.

It is a bug that `west build` in it's default configuration may remove a users `.git` folder, and the title should reflect the nature of the bug, t

[2021-01-18 10:35] raveslave commented on #31162
don't forget a state for DEAD_BATT situations as this usually requires some specials for bringing up the system, i.e. could be Type-C PD negotiation or early boot-sequence USB-enumeration to happen before you can enter PM_STATE_ACTIVE

[2021-01-18 10:46] rlubos commented on #30698
@e-rk Is there anything else to do in the scope of this issue? If not perhaps we could close it?

[2021-01-18 11:24] Laczen opened #31400 "Extending `zephyr,code-partition` with `zephyr,code-header-size`"
**Is your enhancement proposal related to a problem? Please describe.**

At the moment it is possible to generate images for a specific partition by using `zephyr,code-partition = &partition` in the dts.

However it is not possible to specify the size of the header. This is specified by e.g. selecting `CONFIG_USE_MCUBOOT = y`.

If it would be possible to specify the header size in the dts by using

[2021-01-18 11:48] pabigot commented on #31162
Does that deserve a specific PM state?  It's not something the generic power management infrastructure would be aware of.  SoC-specific startup has to detect conditions on startup and ensure that the system is brought up in an active mode, which might be a degraded substate of `PM_STATE_ACTIVE`.

[2021-01-18 12:20] de-nordic commented on #31400
What about CONFIG_ROM_START_OFFSET ? If the CONFIG_USE_MCUBOOT is not set this value is 0 and is configurable.

[2021-01-18 12:39] Laczen commented on #31400
@de-nordic, thanks for the feedback.

The idea is to remove everything from Kconfig, only use dts (and overlays). CONFIG_ROM_START_OFFSET would be calculated from `zephyr,code-header-size` (if set).

[2021-01-18 13:03] de-nordic commented on #30212
... and is probably killing the flash 4 times faster.

[2021-01-18 13:09] de-nordic commented on #31400
I'm not sure, but this https://github.com/zephyrproject-rtos/zephyr/pull/29794#pullrequestreview-568461266 may apply here.

I am in favour of the idea, but for everything that can be considered hardware parameters.
The problem with `zephyr,code-header-size` is that this is actually software parameter rather than something that applies to hardware configuration. I am not sure about this.

[2021-01-18 13:46] Laczen commented on #31400
@de-nordic, I think this could be considered a hardware parameter, it is something that the "hardware" (bootloader) expects, it is not related to the image (software) itself. But in this case the line is difficult to draw.

@galak, what is your opinion on the proposal ? It is true that it could be considered a software parameter, but it might be the simplest way to support whatever bootloader and

[2021-01-18 14:22] Laczen commented on #31400
@ioannisg, fyi

[2021-01-18 14:28] trond-snekvik commented on #31208
It does not, at least not at the moment. You'd have to use Nordic's nRF Connect SDK redistribution for it.

[2021-01-18 14:39] e-rk commented on #30698
Yes, I think it can be closed.

[2021-01-18 14:39] #30698 closed

[2021-01-18 14:42] sw opened #31408 "Improve subsys/settings documentation and sample code"
I was looking into using the settings subsystem and was quite confused by the documentation and sample code.

The following verbs are used in the code and documentation when referring to operations on setting values:
* apply
* commit
* dump
* export
* get
* load
* read
* save
* set
* write

I suspect that some of these are synonyms and some - importantly - aren't, but it isn't really clear.

The d

[2021-01-18 15:10] sw commented on #31408
As an example of what I mean by the verbs:

To me, these are synonyms respectively:
* get = load
* set = store

But the docs on `h_set` says:
https://github.com/zephyrproject-rtos/zephyr/blob/b1080ea036caf0ccd1141082030d700405ab8e3c/doc/reference/settings/index.rst#L40-L43

So here set = load?

[2021-01-18 15:59] nashif commented on #31344
duplicate of #31339

[2021-01-18 15:59] #31344 closed

[2021-01-18 16:00] nashif commented on #31327
compliance tests were not setting up west and modules, now they are, any PRs that were submitted prior to that change will fail with the above, so those PRs will need to be rebased.

[2021-01-18 16:02] pabigot commented on #31327
Aren't all the compliance tests including CI done on the branch after it's been rebased on current master?  If not, it's not giving us a correct view of what will happen if it's merged.

[2021-01-18 16:03] #31282 closed

[2021-01-18 16:06] sw commented on #31408
Could `export_func` be defined as a `typedef`, same as for `settings_read_cb`? That would simplify the definition of `settings_handler` and `settings_handler_static`.

[2021-01-18 18:08] #29793 closed

[2021-01-18 18:11] #31272 closed

[2021-01-18 18:12] #23314 closed

[2021-01-18 18:25] abrodkin commented on #31281
@evgeniy-paltsev @ruuddw FYI

[2021-01-18 20:53] #29549 closed

[2021-01-18 21:02] henrikbrixandersen commented on #30553
This is broken in Zephyr v2.4.0 as well. It works as expected in Zephyr v2.3.0.

[2021-01-18 21:13] raveslave commented on #31162
I saw it more as a quite common entry-point where you'd want to stay until x-number of conditions are met to continue. Having it part of the PM would be nice for structure, logging options but also in multi-core systems where one core or physical mcu might want to ask for the PM state

[2021-01-18 21:40] henrikbrixandersen commented on #30553
Raising the priority since this is a regression compared to v2.3.0.

[2021-01-18 21:56] #29945 closed

[2021-01-18 22:12] henrikbrixandersen commented on #29148
@hakehuang Is this still an issue after #31148 was merged?

[2021-01-18 22:26] Vitaliy69 opened #31414 "samples/net/mqtt_publisher link error: undefined reference to `z_impl_sys_rand32_get'"
**Describe the bug**
Compiled a latest git-version b62d421 from January 15 and got a linker error on **zephyr/samples/net/mqtt_publisher**

**To Reproduce**

[code]

Error output:

[code]

[2021-01-18 23:09] evgeniy-paltsev opened #31415 "[RFC] ARC: interrupt management rework"
## Problem description

In case of SMP system interrupt infrastructure implementation for ARC has issues.

We have per-core interrupt controllers private for each core. We setup interrupt controller only on CPU0 and route all external interrupts to CPU0.
That makes our SMP system not so symmetric, but things are getting worse when we start using dynamic interrupts - as when task which is enabling

[2021-01-18 23:10] evgeniy-paltsev commented on #31415
@abrodkin @ruuddw @IRISZZW Let's discuss this.

[2021-01-19 01:22] GABS9718 commented on #31164
@Mani-Sadhasivam No, I did not. I just added in the device tree the node and the aliases for the lora. Everything else is the same as in the last zephyr version in master. I have add some print screens that show this.

![1_WestUpdate](https://user-images.githubusercontent.com/60732727/104975900-b509e800-59da-11eb-8439-7063b203f1d5.png)

![2_lora_aliase](https://user-images.githubusercontent.com/60

[2021-01-19 02:05] #29775 closed

[2021-01-19 02:05] #29716 closed

[2021-01-19 02:16] hakehuang commented on #29148
@henrikbrixandersen  it is ok, thanks for the fixes

[2021-01-19 02:16] #29148 closed

[2021-01-19 03:56] YuguoWH opened #31416 "ARC MPU version number misuse ver3, should be ver4"
ARC MPU version has number 2, 3, and 4. EM cores can be configured to version 2 and 4. So the version number quoted here should be ver4 instead of ver3.
https://github.com/zephyrproject-rtos/zephyr/blob/1a369f5cdd6d4afd106d3df8f3d6cc1d988e06ca/arch/arc/core/mpu/arc_mpu_v3_internal.h#L15
Should be version 4

https://github.com/zephyrproject-rtos/zephyr/blob/1a369f5cdd6d4afd106d3df8f3d6cc1d988e06ca/

[2021-01-19 04:22] #28117 closed

[2021-01-19 04:26] #31379 closed

[2021-01-19 06:28] vrahane commented on #30378
@joerchan The patch above does not work. Can you please provide a git diff instead.

[code]

[2021-01-19 06:32] vrahane commented on #30378
@joerchan the patch above does not build. Can you please give me the `git diff` instead. I just put it in `hci_core.c`. I also put `nrf.h` in the path.

[code]

[2021-01-19 07:27] sw commented on #31408
Here's how I understand the settings subsystem after playing around with it for a bit. A diagram like this may be useful in the documentation. Of course mine may still be wrong, and does not include the runtime backend nor multiple backends.

Loading:
[code]

Saving:
[code]

[2021-01-19 07:54] IRISZZW opened #31419 "tests/ztest/error_hook failed on ARC boards"
**Describe the bug**
tests/ztest/error_hook failed on ARC boards

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nsim_em -d build tests/ztest/error_hook
2. west flash
3. See error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - zephyr-v2.4.0-3232-gf0145f9f3e37

[2021-01-19 08:29] Laczen commented on #31408
@sw, the settings subsystem is a quite complex system. The documentation might indeed be lacking to easily understand it, the naming of the subroutines might be strange sometimes but let's take the example of `h_set`: what is does is provide a routine to set a variable and this routine is called when `settings_load()` is called. The effect is the loading of the variable, but naming it `load` would

[2021-01-19 08:30] nvlsianpu commented on #31408
@sw

I think yes, you can open a PR for that. We are using kernel like CS here, which mean zephyr-project recomend not to define  types for need of a while, but in this case I think might be usefully.

Nice diagrams BTW.

[2021-01-19 09:27] joerchan commented on #30378
@vrahane Wrong file, put it in `subsys/bluetooth/host/buf.c`
And either enable `CONFIG_ZERO_LATENCY_IRQS`, or replace the flag `IRQ_ZERO_LATENCY` with `0`.

Updated my previous comment to the full diff.

[2021-01-19 09:32] carlescufi commented on #29994
@jmgao

You should not use `SYNTH`, that will not work reliably with Bluetooth. You either use `XTAL` or `RC`.

Which application did you use, your own or a zephyr sample?

[2021-01-19 09:49] abrodkin commented on #30618
@IRISZZW could you please check this one and see if there's a possibility to add support of that particular peripheral on the HSDK in Zephyr.

[2021-01-19 10:01] mniestroj commented on #31376
@lgl88911 I do not plan to implement accept/listen and don't know about anybody else doing it now. However patches are welcome!

[2021-01-19 10:04] erwango commented on #31258
@sandroklarer-pingpong Txs for the issue and proposed fix.
It seems we miss a bit in the proposed fix:
[code]
Can you complete the line (to save some time ) ?

[2021-01-19 10:07] Laczen commented on #31408
@sw, it is also worth noting that the set, get, commit, export functionality are all optional and can be set to null functions.

In the simplest case just the set function would be defined, allowing loading of variables while saving is done using `settings_save_one()`. A addition to that would be to define the commit function allowing the "use" of variables after all variables have been loaded.

A

[2021-01-19 10:19] evgeniy-paltsev commented on #26272
With all of my fixes (#29130) to MDB runner it is working now.

[2021-01-19 10:19] #26272 closed

[2021-01-19 10:36] jmgao commented on #29994
The Zephyr sample in samples/bluetooth/peripheral

[2021-01-19 13:46] mejtejt commented on #31027
Yes, I am using `native_posix` as target board. So basically, the only way to keep using gtest and C++ would be to somehow pass gtest_repeat = 1 from command line, before starting tests?

[2021-01-19 13:50] pabigot commented on #31027
If that works, yes.  I've never used `gtest` with Zephyr.

[2021-01-19 13:53] carlescufi commented on #30329
@statropy could you please respond to the concerns above?

[2021-01-19 13:54] carlescufi commented on #31259
This is now a bug in `uart_mcux.c`.

[2021-01-19 13:55] #28406 closed

[2021-01-19 14:04] #18607 closed

[2021-01-19 14:04] #18608 closed

[2021-01-19 14:09] abrodkin commented on #26665
@nashif, @galak is there any interest in bundling `rdd-reset` (https://github.com/foss-for-synopsys-dwc-arc-processors/rff-ftdi-reset) utility for resetting ARC devboards in the Zephyr SDK?

[2021-01-19 14:22] Laczen commented on #31400
@mbolivar-nordic, what is your opinion on the proposal ?

[2021-01-19 15:24] henrikbrixandersen commented on #6958
This needs rethinking after introduction of the PWM capture API functions, which also use the `pwm_get_cycles_per_sec()` API function.

[2021-01-19 15:25] nashif commented on #31189
@eugenecohen you are welcome to submit a PR.

@carlocaione  @ioannisg FYI

[2021-01-19 16:02] carlocaione commented on #31189
Thank you for pointing this out. @eugenecohen it's not clear to me if you have already code that you want to push otherwise I can take care of that.

[2021-01-19 16:08] manoj153 commented on #21119
Hi, v0.12.0 SDK open-ocd has RTOS awareness, verified by https://github.com/zephyrproject-rtos/openocd/issues/42#issue-788565903
[code]
so what's the way to inform cortex-debug about zephyr awareness?

[2021-01-19 17:57] pabigot commented on #31280
Yes, I've wanted this for a very long time too, and now that we can do build-time resolution of GPIO devices it becomes even more useful.

An issue is `arm,mps2-fpgaio-gpio` which has only one cell in the specifier.  That could (and perhaps should) be fixed, though.

[2021-01-19 18:04] carlescufi commented on #29569
API meeting 19th January 2021:

Terms:

arch: Architecture-specific code. All arch code lives in the arch/ and include/arch folders
kernel: RTOS kernel (list functionality here) . All code that lives in kernel/, kernel/include/ and lib/kernel/ (will be populated with files from lib/os/)
Note: the following files need to be moved from lib/os to lib/kernel:
  rb.c
  sem.c
  thread_entry.c
  work_q.c

[2021-01-19 18:18] pabigot commented on #31338
Please retest on current HEAD since #31173 has been merged.

[2021-01-19 18:21] nashif commented on #31362
Can you please submit a PR with the proposed fix?

[2021-01-19 18:29] pabigot commented on #31253
As long as there's a separate binding for `st,lis3dh` that's supposed to be supported by the lis2dh driver, I think that driver should iterate over lis3dh devices as well as lis2dh ones.  That would require repeating the generation loop with `#define DT_DRV_COMPAT st_lis3dh` in scope, assuming that you don't get two binding defines for the same device when the compatible is:

    compatible = "st,

[2021-01-19 18:50] mbolivar-nordic commented on #31280
Looking at the binding, I don't see an issue because there's a `pin` cell in the binding, and [DT_GPIO_FLAGS](https://docs.zephyrproject.org/latest/reference/devicetree/api.html#c.DT_GPIO_FLAGS) returns "the flags cell value [...], or zero if there is none".

[2021-01-19 18:53] pabigot commented on #31280
True.  I would still say that flags like `GPIO_ACTIVE_LOW`, which is implemented at the wrapper level of the GPIO driver subsystem, should still be supported by this particular device, even if the hardware has nothing that can be controlled.  That, however, has nothing to do with the capability you're proposing.

[2021-01-19 19:59] cederom opened #31433 "samples/bluetooth/hci_pwr_ctrl stack overflow on nRF52DK_nRF52832"
**Describe the bug**
Random stack overflow on CPU 0 jumps in when running samples / bluetooth / hci_pwr_ctrl on nRF52DK (nRF52832).  It happens once per day.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd $ZEPHYR_BASE/samples/bluetooth/hci_pwr_ctrl`
2. `west build -b nrf52dk_nrf52832`
3. Flash firmware.
4. Watch console logging output and observe random stack overflows :-)

**Expected b

[2021-01-19 20:31] #31370 closed

[2021-01-19 20:40] #29283 closed

[2021-01-19 20:55] mbolivar-nordic opened #31435 "Dummy device drivers for DT test bindings"
**Is your enhancement proposal related to a problem? Please describe.**

We are moving to a world where devices are increasingly resolved at link time from devicetree node identifiers, not at runtime from name strings using device_get_binding().

In particular, we now have macros which return pointers to global device pointers that resolve at link time: DEVICE_DT_GET() (added in e643ee26a71) and D

[2021-01-19 21:21] mbolivar-nordic commented on #31280
It's a shame we didn't have such a thing when `struct spi_cs_control` was being defined. With hindsight, something like this would have been a cleaner definition:

[code]

Then the `SPI_CS_CONTROL_PTR_DT()` macro in #30536 could be built on top of what we're calling `DT_GPIO_SPEC()`

Probably too late to change at this point; it doesn't feel worth a stable API change.

At any rate, I'll put togeth

[2021-01-19 21:21] pabigot opened #31436 "compliance script broken"
After 251648afb458b5593bbd8216e6fc169b0a870e92 I'm getting the following on the master branch:

[code]

[2021-01-19 21:34] pabigot commented on #31436
It appears that 6d3cdf5b4aa33689f8cfacb7a7a4cb3d9269b91a inadvertently fixed this.

[2021-01-19 21:38] pabigot commented on #31436
No, I'm still seeing it.

[2021-01-19 21:46] mbolivar-nordic commented on #31436
Doesn't repro for me.

[code]

[2021-01-19 21:49] henrikbrixandersen commented on #31436
I can reproduce the issue here.

[code]

[2021-01-19 21:49] pabigot commented on #31436
A clean revert would probably require reverting:
* #31115 then
* #31224
which involves seven commits.

[2021-01-19 21:51] pabigot commented on #31436
In case it's OS dependent:
[code]

[2021-01-19 22:01] domo141 commented on #31362
Created (as usual, change was simple, comments and commit message hard)...

 #31438: based on commit msgs ulfalizer may (or may not) follow up soon...

[2021-01-19 22:05] pabigot commented on #31436
Per comment on slack from @mbolivar-nordic this may be related to having `ZEPHYR_BASE` set.

[2021-01-19 22:33] jenmwms commented on #28551
Yes, thanks for checking. Counter does not increment. Curious.

[2021-01-20 01:51] KangJianX commented on #31301
This issue not be fixed, it still can be reproduce.

[2021-01-20 06:13] mengxianglinx opened #31439 "nrf5340dk_nrf5340_cpunet configuring incomplete"
**Describe the bug**
Run test case with platform nrf5340dk_nrf5340_cpunet, build error occur.

**To Reproduce**
Steps to reproduce the behavior:
1. run "twister -T tests/subsys/power/power_mgmt -p nrf5340dk_nrf5340_cpunet
2. compile failure because of "configuring incomplete", see buld.log

**Expected behavior**
Test cases PASS

**Logs and console output**
In build.log:
warning: HAS_NORDIC_DRIVERS

[2021-01-20 06:27] hubertmis commented on #11820
#31369 fixed only receiving part of this issue. Sending part is still open.

[2021-01-20 07:29] pablogs9 opened #31444 "Error in include/net/socket_select.h"
**Describe the bug**
Error building after commit 2dd611c9d0b9a863f710c5ab8878df427bcb6828
[code]

You have deleted
[code]

in commit 2dd611c9d0b9a863f710c5ab8878df427bcb6828, but you have kept [the closing bracket](https://github.com/zephyrproject-rtos/zephyr/blob/74c4d5ae2a457258629fd6cb2f02d24755d8f5ca/include/net/socket_select.h#L137)

[code]

[2021-01-20 08:35] KangJianX commented on #31301
The twister always timeout, because west can not get RIMAGE_CONFIG_PATH **File "/home/ztest/work/zephyrproject/zephyr/scripts/west_commands/sign.py", line 434, in sign
rimage_conf = pathlib.Path(cache['RIMAGE_CONFIG_PATH'])** , this error is in device.log of twister-out. **KeyError: 'RIMAGE_CONFIG_PATH'** .
And rimage can be found in /usr/local/bin/

[2021-01-20 08:42] tejlmand commented on #31436
Looking into a fix.

Somehow CI didn't fail the pr, even though compliance failed.
https://github.com/zephyrproject-rtos/zephyr/runs/1727523984#step:7:157

[2021-01-20 08:46] rlubos commented on #31414
Just note that even if you fix the compilation for `nrf9160dk_nrf9160` (you should build for `nrf9160dk_nrf9160ns` btw) you won't get the LTE networking to work with vanilla Zephyr. You need to use [nRF Connect SDK](https://github.com/nrfconnect/sdk-nrf/), which additionally has the closed source library to interface the modem. There's a similar [MQTT sample](https://github.com/nrfconnect/sdk-nrf/

[2021-01-20 10:01] #31444 closed

[2021-01-20 10:21] #31436 closed

[2021-01-20 10:51] #28847 closed

[2021-01-20 10:57] rettichschnidi commented on #17005
I am still interested and hoping that the board finds a good solution for this issue. Please remove the label.

[2021-01-20 11:20] #31414 closed

[2021-01-20 12:01] arapostol opened #31447 "MQTT idling gets disconnected when using TCP2"
**Describe the bug**
MQTT disconnects with -57 (ENOTCONN) at random times when idling, even within seconds after receiving a PINGRESP. After that reconnection may fail. Socket logs show a peer-closed socket.
The problem disappears when using TCP1. Tested with and without TLS.

**To Reproduce**
Steps to reproduce the behavior:
1. modify mqtt_publisher sample to idle only, by setting
[code]
2. conne

[2021-01-20 12:06] jukkar commented on #31447
@rlubos have you seen these kind of issues in your tests?

[2021-01-20 12:20] microbuilder commented on #31191
Thinking about this, does a sample app make sense since there really isn't a code component here on the Zephyr side?

We could perhaps just document how to flash the NS binary that is generated as part of the reguar TF-M build (unless it's disabled), and explain that the PSA API FF tests are available there for certification or verification?

[2021-01-20 12:21] rlubos commented on #31447
No, I haven't hit this issue before. I can try to reproduce and monitor the traffic with wireshark to see what's going on.

[2021-01-20 13:05] avisconti commented on #31253
Yes, this is the way it is expected to be done in DTS :

compatible = "st,lis3dh", "st,lis2dh";:

The LIS2DH and LIS3DH are register compatible. So same driver should work fine.

[2021-01-20 13:08] avisconti commented on #30133
Sorry, let me try to take alook again. I fotgot it!

[2021-01-20 13:57] galak opened #31453 "Add devicetree support to ieee802154_nrf5"
Add DTS binding and nodes for ieee802154_nrf5

[2021-01-20 14:01] ioannisg commented on #3634
Will try to implement the same solution for Cortex-M.

[2021-01-20 14:03] hubertmis commented on #31453
I had a look at existing ieee802154 bindings, to assess what is expected. It looks that all devices described in zephyr/dts/bindings/ieee802154/ are radios with SPI interfaces. nRF5 radio does not expose a serial interface, because it is integrated as SoC.

@galak, could you share more info what kind of DTS bindings and nodes should be added regarding nRF5 802.15.4 radio?

[2021-01-20 14:25] #28650 closed

[2021-01-20 14:30] statropy commented on #30329
Evidently alternate drive-strength is not an often used feature since until I found this issue it had only been implemented for one device. So whether or not this is adopted probably isn't that important. But my proposed solution:

- Alleviates confusion from poor naming convention
- Doesn't rely on understanding implementation details of NRF I/O pins
- Doesn't eliminate features/functionality of

[2021-01-20 14:32] lgl88911 commented on #31376
@mniestroj , Current client mode can do a lot of things for me. But in the future, I still hope to make esp offload work under the server, so I did some investigations, and think that esp at can be used to implement accept and listen，Can you give some thoughts？ Thanks！
AT+CIPSERVERMAXCONN ->listen
AT+CIPSERVER= 1 -> accept

There is no urgent need for server mode now. If in the future when I need

[2021-01-20 14:38] pabigot commented on #30329
@mnkp @anangl please provide your input.

I'm willing to prototype a common driver-specific API in the Nordic, SX1509, and cc13xx* drivers if we agree on deprecating use of these flags in the GPIO API and aren't going to get pinmux in place anytime soon.  But I'd really prefer to not start adding more complexity to the use of common flags for this purpose.

[2021-01-20 14:44] eugenecohen commented on #31189
Thanks - I wanted to see if you were in agreement with the idea before preparing patches.  I'll go ahead and prepare them now.

[2021-01-20 14:52] galak commented on #31453
@hubertmis since I assume the nNRF5 radio is integrated into the SoC, that a node similar to what exists for something like SPI or I2C for NRF.

Here's a rough example of what the dtsi side might look like

[code]

[2021-01-20 14:53] galak commented on #31453
@carlescufi is this someone that might help out @hubertmis with what the dts binding and node might look like for the NRF radio.

[2021-01-20 14:56] hubertmis commented on #31453
It looks that such binding already exists: zephyr/dts/bindings/net/wireless/nordic,nrf-radio.yaml

[2021-01-20 15:10] galak commented on #31453
I leave it to you and @ppryga to see if that binding makes sense for the 802.15.4 driver and should get used across all the NRF SoCs that its relevant for.

[2021-01-20 15:12] galak commented on #31453
The other aspect of this request is making changes to ieee802154_nrf5.c to convert `DEVICE_DEFINE` to `DEVICE_DT_DEFINE`

[2021-01-20 16:02] #30393 closed

[2021-01-20 16:40] JHKim8212 opened #31460 "icm42605: the chip select may not always be a GPIO, it could be managed by the SPI controller"
**Describe the bug**
the chip select may not always be a GPIO
It could be managed by the SPI controller

**To Reproduce**
Steps to reproduce the behavior:
1 SPI works with CS by GPIO, but it could be managed by ths SPI controller

**Expected behavior**
Sensor data should transfer via SPI

**Impact**
SPI controller managing chip select

**Logs and console output**
No output

**Environment (please c

[2021-01-20 16:41] avisconti commented on #30133
I think that the answer is here. IT is not possible on this sensor to do what you requested.

[2021-01-20 16:42] avisconti commented on #30133
I'm gonna close this request. If you feel that the answwer is not satisfactory you can re-open it.

[2021-01-20 16:42] #30133 closed

[2021-01-20 18:03] jukkar commented on #3931
@rlubos is this still valid?

[2021-01-20 18:04] jukkar commented on #3933
@rlubos is this still valid?

[2021-01-20 18:06] jukkar commented on #6066
@rlubos is this still valid?

[2021-01-20 18:12] jukkar commented on #29711
The SO_RCVTIMEO options was just implemented by #31369 so closing this one.

[2021-01-20 18:12] #29711 closed

[2021-01-20 18:59] jenmwms commented on #28551
Ok, the driver gets the -EINVAL error at the failed permission check for the pin (HAT pin 37). Wonder what might cause this to start failing. Looking into this. Here are my debug prints in the driver (sample is unchanged):
[code]
which gave this output (each gpio device has an iteration of the driver, see the error in the 2nd gpio in the array)
[code]

[2021-01-20 20:03] ppryga commented on #31453
@galak and @hubertmis the binding `zephyr/dts/bindings/net/wireless/nordic,nrf-radio.yaml` was created for Direction Finding implementation. At the moment it is defined only in `dts/arm/nordic/nrf52833.dtsi` but the goal is to add it to every Nordic SOC that supports Direction Finding. It may be extended/changed to support also SOC that do not support DF.

[2021-01-20 20:48] MaureenHelm opened #31462 "TSC Strategic Objectives 2021"
| Objective | Owner | Contributors |
|-|-|-|
|Support development on Linux, Windows, and MacOS host operating systems.| @stephanosio ||
|Support development with GCC, LLVM, and commercial toolchains.| Toolchain WG ||
|Maintain long term support (LTS) releases for at least two years.| Release Team||
|Make the second long term support (LTS2) release two years after the first (LTS1).| Release Team ||

[2021-01-20 21:21] henrikbrixandersen commented on #30477
@nvlsianpu Looks like the settings subsystem fails to initialise. Could this simply be due to some "old" contents present in the storage partition?

[2021-01-20 21:43] andrewboie commented on #28551
I think a PR to add LOG_ERR() statements to all failed runtime checks in the driver might be useful for debugging issues like this in the future

[2021-01-20 21:45] #31330 closed

[2021-01-20 21:46] andrewboie commented on #29520
Related PR: https://github.com/zephyrproject-rtos/zephyr/pull/29848

[2021-01-20 21:53] andrewboie commented on #26088
PR: https://github.com/zephyrproject-rtos/zephyr/pull/30907

[2021-01-20 21:55] dcpleung commented on #27006
Newer SDK is merged via #31230. So closing this...

[2021-01-20 21:55] #27006 closed

[2021-01-20 22:44] dcpleung commented on #30360
This is actually the same as #28105.

If you enable `CONFIG_TEST=y`, you can see the exception print out. So closing this one as a duplicate to #28105.

[2021-01-20 22:44] #30360 closed

[2021-01-20 22:47] jenmwms commented on #28551
Great suggestion! I can work on that. I started with printk but doesn't help long term like logging statements.

[2021-01-20 22:53] jenmwms commented on #28551
A bit more on the printk study from earlier...here is the output from when the sample works. Interesting that the 2 pins (HAT Pin 37 and HAT Pin 16) which give us trouble as we move up the tree, both have an offset of 32:
[code]

[2021-01-21 01:17] jenmwms commented on #28551
Ok, since the permission check failed for the pin (HAT pin 37), diving into `check_perm()` which does two checks for the pin under configuration: check if Host SW owns the pin, and check if function of pad is GPIO.  Here, I can narrow the failure down to the latter case. This is snippet where the check fails:
[code]

[2021-01-21 07:40] wngur300 opened #31467 "samples: bluetooth: peripheral_hids: Pairing fails on the nucleo_wb55rg board."
**Describe the bug**
After building the peripheral_hids sample on the nucleo_wb55rg board, an error occurs when pairing is attempted.
The devices that attempted to pair were desktop (window 10), iPad Pro (4th generation), and Samsung Galaxy s21 (android).

**Environment (please complete the following information)**
OS: Linux ubuntu 18.04
Toolchain: zephyr-sdk-0.11.1
Commit SHA or Version used: 7a3

[2021-01-21 08:31] nvlsianpu commented on #30477
@henrikbrixandersen ^^ yes, and this need to be checked by reporter or someone who can do that (don't have frdm_k64f nor a substitute)

[2021-01-21 08:35] nvlsianpu commented on #30477
btw possible solution pattern: https://github.com/zephyrproject-rtos/zephyr/pull/27436/files

[2021-01-21 09:31] sandroklarer-pingpong commented on #31258
+    for (divider = 0; divider <= 3; divider ++) {
+        wwdg_freq = ((float)clock_freq) / WWDG_INTERNAL_DIVIDER / (1 << divider);

[2021-01-21 09:33] str4t0m commented on #31467
Hi,
this sample works fine for me on the nucleo_wb55rg.
Are you using the full stack or the HCILayer Coprocessor Binary?
Have you already tried to update the Coprocessor Binary to the latest version?

[2021-01-21 09:43] anangl commented on #31439
Try running `west update` first.

[2021-01-21 09:49] nvlsianpu commented on #30477
@Zhaoningx Are you sure that `nvs_sector_size` is in right range?

[2021-01-21 09:57] hubertmis commented on #31453
@ppryga, the same hardware peripheral is used by Direction Finding, 802.15.4, BLE. I think the only suitable solution would be to share this binding for all Nordic SoCs and extend it with options required by other radio peripheral users.

[2021-01-21 10:02] tsvehagen commented on #31376
So I did actually do server mode while implementing this driver but I decided to not include it. I can't remember the exact problem but it had something to do with synchronizing the link id's when using both accept and also doing connects.

I think I still have the original implementation somewhere, I'll have a look. I guess it could be commited as `EXPERIMENTAL` with some note that there might be

[2021-01-21 10:25] ABOSTM opened #31472 "tests: kernel: poll: timeout with FPU enabled"
**Describe the bug**
When running tests/kernel/poll on stm32f3_disco, test never ends and twister timeout expires.
This happens specially on stm32f3_disco which has CONFIG_FPU enabled by default.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -N --device-testing --hardware-map ../map.yaml -c -p stm32f3_disco -T tests/kernel/poll/
2. Test never ends and twister timeout expires

**Exp

[2021-01-21 10:34] ABOSTM commented on #31472
Reproducibility:
================
Issue is not reproducible on windows (probably due to different toolchain).
It is only reproducible when compiler size optimization is enabled (CONFIG_SIZE_OPTIMIZATIONS)
Issue is specially reproducible on stm32f3_disco because, with stm32373c_eval, they are the only stm32 boards for which FPU is enabled by default.

Analysis:
=========
During the test, there is t

[2021-01-21 10:34] ppryga commented on #31453
@hubertmis I totally agree. I'm not DTS expert. Im my imagination the best option would be to provide a generic radio node in DTS. I'm not sure how to add "extensions" to that. E.g. Direction Finding related properties that should be not allowed in SOC that do not support DF.
Only option I see now is to make current radio node common(without DF related properties) and use it as a base for specific

[2021-01-21 10:37] ABOSTM commented on #31472
^^ @ioannisg @erwango

[2021-01-21 10:41] hubertmis commented on #31453
I think the way the binding is defined now is fine. Most DF properties are optional. As a first step we could add radio node to DTS of all Nordic SoCs. Later we could add property/properties needed for 802.15.4 and start using it in the 802.15.4 driver.

I think it is. I've seen some imports or includes. I don't know if it is needed now. Perhaps if the binding gets too big to handle, we should spl

[2021-01-21 10:42] mtpr-ot opened #31473 "Failed phy request not retried and may prevent DLE procedure during auto-initiation"
When an auto-initiated phy request collides with other procedure initiated by the peer, the "Different Transaction Collision" error code is ignored, and auto-initiation continued, effectively skipping phy update.

**To Reproduce**
After connection is established, the central/peripheral LLCP timing must be such that the auto-initiated phy update request from peripheral is sent just **before** e.g.

[2021-01-21 10:57] mengxianglinx commented on #31439
After "west update", run "twister -T tests/subsys/power/power_mgmt -p nrf5340dk_nrf5340_cpunet":
 In file included from /media/dskpool/ws-xianglin/zephyrproject/zephyr/soc/arm/nordic_nrf/nrf53/power.c:11:
/media/dskpool/ws-xianglin/zephyrproject/modules/hal/nordic/nrfx/hal/nrf_regulators.h:138:50: error: unknown type name 'NRF_REGULATORS_Type'; did you mean 'NRF_REGULATORS_H__'?

[2021-01-21 11:28] trond-snekvik commented on #31019
I think Lingao's proposed fix in #31038 will resolve the issue for this specific case in the mesh, but there's still an issue in the general bluetooth.h interface.

The mesh is not using the bluetooth.h API wrong, and this can still occur in other bluetooth applications even after the mesh change is merged:

As Lingao proved in the comment above, the problem happens because the mesh is disabling a

[2021-01-21 11:31] #31439 closed

[2021-01-21 12:03] carlescufi commented on #24731
We might need to revisit this the next time we run Controller qualification tests.

[2021-01-21 12:04] windelbouwman commented on #19882
Interesting. At least the adc_read function should return some error code to indicate that this is not implemented.

[2021-01-21 12:07] pabigot commented on #31162
@galak Added to dev-revew as a better anchor issue for discussion of https://github.com/zephyrproject-rtos/zephyr/pull/31273#issuecomment-761086654, which is why that PR is in dev-review.

For context, my position remains that we need to support MCUs that have multiple power configurations at runtime, not just when idle.  This follows from https://github.com/zephyrproject-rtos/zephyr/issues/31162#

[2021-01-21 12:19] carlescufi commented on #29224
Downgrading to low because there is a plan to address all qualification-related issues in the Host in the near future as part of a new qualification automated test plan.

[2021-01-21 12:24] avigreen1978 opened #31475 "TCP keepalive"
**Is your feature request related to a problem? Please describe.**
The scenario is as follows:
We have a TCP connection over wifi interface.
Then, the peer abruptly closes wifi connection, and FIN is not received on zephyr side.
Because FIN is not received, the connection will never close, even though the other side is disconnected.

**Describe the solution you'd like**
posix setsockopt has an SO_

[2021-01-21 12:33] carlescufi commented on #29994
Do you have a Nordic nRF52840 DK that you could try to reproduce this on?
If not, could you please confirm that the instructions [in the PR description](https://github.com/zephyrproject-rtos/zephyr/issues/29994#issue-742359148) are correct to reproduce the issue?

@pabigot you have a Particle Xenon, right? Could you please follow the instructions above and see if you can reproduce?
By reproduce I

[2021-01-21 12:36] carlescufi commented on #30808
The Host should always start with an HCI Reset command after a Host reset, and that should soft-reset the controller. Any other additional information you can provide?

[2021-01-21 12:48] carlescufi commented on #31019
For clarification, according to the spec both enabling the scanning when already enabled and disabling the scanner when already disabled shall return success:

[code]

[2021-01-21 12:50] carlescufi commented on #31019
Plan forward:
1. @cvinayak fix the controller so it complies with the spec as per my comment above
2. @trond-snekvik and @joerchan to analyze if other instances of the sequence described [here](https://github.com/zephyrproject-rtos/zephyr/issues/31019#issuecomment-764576774) are potentially present in the Host.

[2021-01-21 12:53] carlescufi commented on #31254
@StevenGhe this is caused by the current implementation of Extended Adv missing parts of it, it will be fixed as part of the ongoing Ext Adv work, but not in time for Zephyr 2.5.

[2021-01-21 13:06] ppryga commented on #31453
@hubertmis Well, in my humble opinion it may be confusing for end user if she sees some DF stuff that is actually not supported for that particular SOC.
I would like to get a solution that includes DF properties only for SOCs that have DF support in radio peripheral.

[2021-01-21 13:11] hubertmis commented on #31453
I agree. I understood that the only thing user see is "number of df antennas = 0", what I interpret as there is no DF (like in current nRF52833 dts). However, we can discuss if it may be somehow omitted for devices that do not support DF at all.

[2021-01-21 13:29] ppryga commented on #31453
`dfe-ant-num` as well as `dfegpio#-gpios` are DF related. Those properties should be included only for SOCs that support DF.

[2021-01-21 13:33] cvinayak commented on #29636
@Guayusa please verify the fix: https://github.com/zephyrproject-rtos/zephyr/pull/31477

[2021-01-21 13:50] jukkar commented on #31475
The keep-alive option is indeed not implemented in TCP implementation. This would be a good to have feature so setting labels accordingly.

[2021-01-21 14:22] ABOSTM commented on #31472
Enabling CONFIG_FPU_SHARING (and increasing CONFIG_MAIN_STACK_SIZE),
also solves other issues on stm32f3_disco:
* tests/kernel/semaphore/semaphore
* tests/kernel/pipe/pipe_api

[2021-01-21 14:24] StevenGhe commented on #31254
Any ETA? Are we speaking of weeks/months?

My thesis is due +- May so not having such key BLE feature is pretty huge for me.

[2021-01-21 15:00] lgl88911 commented on #31376
@tsvehagen  I am glad to hear that you have implemented server mode, is it based on accpet and listen? If there are already accept and listen prototypes for esp offload, I would like to see the commit, whether as EXPERIMENTAL or other.
 I directly used the AT command to simply test on ESP32-WROVER_AT_Bin_V2.1.0.0 to make the server and client work at the same time, and it seems that there is no pr

[2021-01-21 15:09] joerchan commented on #31254
@StevenGhe I don't know the ETA, but in the meantime you could use the SoftDevice controller in nRF Connect SDK, which has support for this feature.

[2021-01-21 15:28] rlubos commented on #3931
@jukkar Seems that this functionality did not make into the master. There was a PR open (6014, see above) but it was closed eventually. I wonder if we should pursue this issue, given that original authors gave up on the feature.

[2021-01-21 15:49] mniestroj commented on #31472
This might be related to #29590.

[2021-01-21 15:53] Hans470 opened #31485 "west flash --runner=jlink should raise error when CONFIG_BUILD_OUTPUT_BIN=n"
When setting

`CONFIG_BUILD_OUTPUT_BIN=n`

and using

`west -v flash --runner=jlink`

it should raise an error:

https://github.com/zephyrproject-rtos/zephyr/blob/a471e55da0d9b408f6c33ff4bd0d5a6a935b71a8/scripts/west_commands/runners/jlink.py#L182-L183

But it shows only en empfy filename

`runners.jlink: Flashing file: `

  and it tries to flash without a given filename.

 **OS:** Linux
 **Toolch

[2021-01-21 15:57] rlubos commented on #31447
I had the sample running for over a dozen of hours in total, idling, and I was not able to reproduce the issue (I was testing with a local `mosquitto` instance and `qemu_x86`, the sample remained connected to the broker). Any particular hints on how to reproduce?

[2021-01-21 16:08] erwango commented on #31258
I'm fine with the proposed change in `wwdg_stm32_convert_timeout`.
About the `WWDG_TIMEOUT_ERROR_MARGIN` macro, it makes sense indeed to compare result in a relative fashion. Though I wonder if we should keep `ABS_DIFF_UINT`.
I'm not a user of this api, but I wonder if we shouldn't rather guarantee that set timeout is  higher than requested timeout.
`watchdog.h` seems to state the opposite (but it

[2021-01-21 16:12] pabigot opened #31486 "make htmldocs-fast not working in development workspace"
`make htmldocs-fast` fails for me with the following error:

[code]

On slack @utzig fixed this with the following patch:
[code]

Once that's done, I get this error:
[code]

which looks a lot like what #31446 fixed for another script.  I don't know where to fix that.

[2021-01-21 16:13] pabigot commented on #31486
@utzig @tejlmand please coordinate to resolve this.

[2021-01-21 16:26] arapostol commented on #31447
Did you remove all the publishing from the example? I was testing using SSL with a custom board on a GSM PPP connection.

[2021-01-21 16:37] aunsbjerg commented on #21980
Try with `python3-dev`. Looks like your installing python 2.7 dev packages but using pip3

[2021-01-21 17:02] ioannisg commented on #30517
@stephanosio any chance you could take a look?

[2021-01-21 17:03] ioannisg commented on #30810
Looking into it now

[2021-01-21 17:03] Laczen opened #31487 "Using zephyr,code-partition for correct generation of image code location and size"
Is your enhancement proposal related to a problem? Please describe.

At the moment it is possible to generate images for a specific partition by using zephyr,code-partition = &partition in the dts.

However it is not possible to specify the size of the header. This is specified by e.g. selecting CONFIG_USE_MCUBOOT = y,
this selects `CONFIG_USE_DT_CODE_PARTITION=y` and introduces a header size.

If

[2021-01-21 17:04] Laczen commented on #31487
@mbolivar-nordic, @galak, @ioannisg, @de-nordic, fyi.

[2021-01-21 17:05] galak opened #31488 "build failure w/twister and SDK 0.12.1 related to"
Several tests fail to build on CC13xx/CC26xx platforms related to power management:

[code]

The failure is some form of:

[code]

[2021-01-21 17:05] Laczen commented on #31400
I am closing this as there is an alternative proposal.

[2021-01-21 17:05] #31400 closed

[2021-01-21 17:07] galak commented on #31488
At glancing at the code, the assumption that POWER_STATE_MAX can be used to initialize and array to track information seems a bit invalid, since the enum has negative values like `POWER_STATE_AUTO` and `POWER_STATE_ACTIVE` there for the value of POWER_STATE_MAX doesn't seem to be the number of valid power states.

[2021-01-21 17:48] pabigot commented on #28105
Note reproducer available in #30360 if you add `CONFIG_TEST=y` so that code.

[2021-01-21 18:01] pabigot commented on #29994
On xenon I do get a spike latency around the time service discovery is done.  It seems to be a one-time thing, and I don't see any asserts.

[code]

[2021-01-21 19:50] #30117 closed

[2021-01-21 20:41] andyross commented on #28970
Cleaning up some stale bugs, I added a rewrite to this doc section at: https://github.com/zephyrproject-rtos/zephyr/pull/31498

I **think** that should address the specific confusion here, but I wasn't part of the original discussion so there may have been some side questions that went unanswered.  Please review if you have input.

[2021-01-21 20:53] JPSELC opened #31499 "lwm2m : Add visibility into observer notification success/fail"
Some applications use the Observer Notification mechanism to send a data payload.
If an observer notification is triggered by an update, timeout due to max period, or manual trigger, there is no feedback to the application that this has occurred or whether the notification was received and acknowledged by the server.
Currently there is a retry mechanism for notifications, but there is no timeout h

[2021-01-21 20:55] vrahane commented on #30378
@carlescufi @joerchan @cvinayak We are not seeing the "Tx buffer overflow" issue happening with the Nordic Soft Device, we have been testing for over 17 hours now. We will keep you updated.

[2021-01-21 21:46] andyross commented on #30055
I dug around here a little, but obviously without an exerciser there's not a lot I can do.  In fact yes, as I (vaguely) remember the newlib malloc() heap is an sbrk-style thing that is a physically separate region of memory from the Zephyr heap.  So despite the fact that they both say "malloc" these regions shouldn't interact at all.

Can you post the zephyr.map files from your minimally-changed "

[2021-01-21 21:48] #28970 closed

[2021-01-21 21:48] JPSELC commented on #31499
To add to lwm2m_engine.h :

`/* External Notification Type definition */
typedef enum
{
   ENT_send=1,
   ENT_ack,
   ENT_timeout,
}ext_notify_type_t;

/* Function Prototype definition for external notification function */
typedef void (*ext_notify_t)(struct lwm2m_obj_path * path, uint8_t *token, uint8_t tkl, void *msg, ext_notify_type_t ent);

/* New Function to assign the function pointer for ex

[2021-01-21 21:54] JPSELC commented on #31499
Sending the lwm2m obj path, token and msg pointer allows the user to track the notification process:
send includes all 3
ack sends only the token (which can be referenced to the send)
timeout sends only the msg pointer (which can be referenced to the send)

[2021-01-21 22:00] thelittlebug commented on #29698
is this the right solution to a bug?

[2021-01-21 22:10] rerickson1 commented on #29696
Can I get some details on what the issue is here?

[2021-01-21 22:11] bdkrae commented on #30204
I did some progress on SPI, very simple (and poorly tested) sample is [here](https://github.com/bdkrae/zephyr_teensy4_test/blob/master/src/spi.c). I also updated [pinmux.c](https://github.com/bdkrae/zephyr/commit/eab08558d98188cc0e50d0fbfe1745963b0557bb) in the teensy4 board defs.

Again there is some side load:
In the soc´s [Kconfig.soc](https://github.com/bdkrae/zephyr/blob/master/soc/arm/nxp_im

[2021-01-21 22:35] JordanYates commented on #31487
What part of the build system is moving around the `zephyr,code-partition` chosen node?
As per https://docs.zephyrproject.org/latest/guides/build/index.html, devicetree generation is the first step in the build system

[2021-01-21 22:50] #31333 closed

[2021-01-21 23:31] ceolin commented on #31488
The problem is that depend on build configuration `POWER_STATE_MAX` can be 0. As the check in the API is in an assert the compiler is warning about a possible invalid access to the array.
https://github.com/zephyrproject-rtos/zephyr/pull/31273 fixes this.

[2021-01-22 00:17] stephanosio commented on #19644
@legath I was suggesting that we use the drivers generated by the HALCoGen either as whole or in part. The peripheral register mapping files such as `reg_*.h` can be used as is, and some core peripheral drivers such as `BIST` and `VIM` can be also used with no or minimal modifications. As for the rest, we could write custom Zephyr-specific driver implementations as necessary using the peripheral r

[2021-01-22 00:22] stephanosio commented on #30517
@ioannisg will do.

[2021-01-22 01:07] stephanosio commented on #30517
With the current implementation, if an ISR is interrupted while executing in a branch, the `lr_svc` register will indeed be corrupted and, the branch of the interrupted ISR will exit to the return address of the final branch of the interrupting ISR, which may or may not coincide with the return address of the branch of the interrupted ISR (which is why the interrupt nesting test seems to work fine

[2021-01-22 02:01] mengxianglinx opened #31502 "it8xxx2_evb should not define TICKLESS_CAPABLE"
**Describe the bug**
In boards/riscv/it8xxx2_evb/it8xxx2_evb_defconfig CONFIG_TICKLESS_CAPABLE=y while this configure is not user-configurable, it causes build failure.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -T tests/subsys/logging/log_core_additional/ -p it8xxx2_evb

**Expected behavior**
Test case PASS

**Logs and console output**
error: TICKLESS_CAPABLE (defined at driver

[2021-01-22 02:05] YoYo0304 opened #31503 "drivers: i2c: i2c_nrfx_twim Power Consumption rises after I2C data transfer"
**Describe the bug**
We are using a nrf52832 based board. There are some I2C devices like tsm12 and eeprom.
The power consumption is 200ua when the I2C buses of the nrf52832 is enabled, but without data transfering.
But when data transfer throw the I2C bus, the power consumption of the board increased by about 400ua.
The power consumption will never fall back again, even when the data transfering

[2021-01-22 02:12] YoYo0304 commented on #31503
A nrf52832 based board without a i2c device is also can be used to reproduce the issue. Becase the errors can also trigger
an interupt.

[2021-01-22 02:20] KangJianX opened #31504 "qemu_cortex_m0: Cmake build failure"

[2021-01-22 02:21] #31504 closed

[2021-01-22 02:30] KangJianX opened #31505 "qemu_cortex_m0: Cmake build failure"
**Describe the bug**
Build failed on qemu_cortex_m0

**To Reproduce**
Steps to reproduce the behavior:
1. twister -T tests/kernel/thread/thread_api -p qemu_cortex_m0
2. See error

**Expected behavior**
Build and run existing testcases successful

**Logs and console output**
  1 Including boilerplate (Zephyr base): /home/kangjian/zephyrproject/zephyr/cmake/app/boilerplate.cmake
  2 -- Application:

[2021-01-22 03:00] cvinayak commented on #30378
@vrahane "Tx buffer overflow"  message is not present in the Nordic SoftDevice based controller, but the other two from the host:
[code]

I am assuming you are not getting those. You will need to look for other functional failures, if any.

At this point, we can narrow down to the Zephyr controller if you do not see any functional failures when using the Nordic SoftDevice based controller.

To rul

[2021-01-22 03:02] #31505 closed

[2021-01-22 03:13] KangJianX commented on #31502
Same problem here, CI build will failed when submit testcases PRs.

[2021-01-22 03:33] wngur300 commented on #31467
As you said, after upgrading **stm32wb5x_FUS_fw_1_0_2.bin**, I updated **stm32wb5x_BLE_Stack_full_fw.bin**.
Pairing works well on desktop (window10).
Thank you!

However, if I disconnect pairing from desktop and try pairing from other devices such as iPad Pro (4th generation), Samsung Galaxy s21 (android), it will not connect.

**When attempting to connect from iPad Pro (4th generation), the follo

[2021-01-22 03:51] #31502 closed

[2021-01-22 04:09] chen-png opened #31508 "up_squared: tests/kernel/sched/deadline/ failed."
**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b up_squared -p auto tests/kernel/sched/deadline/
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**

 Booting Zephyr OS build zephyr-v2.4.0-3325-g6ec4ff22e384
Running test suite suite_deadline

**START - test_deadline
Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/sched/deadline/src/main.c:90: test_deadlin

[2021-01-22 04:37] sslupsky opened #31510 "Some drivers return invalid z_timer_cycle_get_32() value"
I noticed what I believe is an issue with the z_timer_cycle_get() function and the corresponding drivers that implement this function.

From the Zephyr documentation, the kernel presents a “cycle” count via the k_cycle_get_32() API.  The frequency of this counter is required to be steady over time, and is available from sys_clock_hw_cycles_per_sec() (which on almost all platforms is a runtime cons

[2021-01-22 05:03] Laczen commented on #31487
An overlay file of course.

[2021-01-22 07:02] IRISZZW commented on #30618
we have some documents about the Arduino pins in HSDK board: [HSDK doc](https://docs.zephyrproject.org/latest/boards/arc/hsdk/doc/index.html)

There are some problem to add the `arduino header` for HSDK, HSDK board includes a CY8C9520A I/O expander, and some of the `arduino header` pins use the extended I/O. But there is no CY8C9520A driver in zephyr currently.

[2021-01-22 07:06] stephanosio opened #31511 "AArch32 exception exit routine behaves incorrectly on fatal exceptions"
The AArch32 exception exit routine ([`z_arm_exc_exit`](https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/arm/core/aarch32/cortex_a_r/exc_exit.S#L114-L159)) behaves incorrectly on fatal exceptions.

There are two bugs that are currently identified in the `z_arm_exc_exit` implementation:

**1. Invalid return address when calling `z_arm_pendsv`**

When an exception is fatal and the curren

[2021-01-22 07:06] stephanosio commented on #31511
I will post a PR fixing this soon.

[2021-01-22 07:25] sandroklarer-pingpong commented on #31258
` * @param max Upper limit of watchdog feed timeout in milliseconds.`
There are two limits for this watch dog. This just says, that this parameter is the upper/max one. As a user, I want to get the best match for my set limit, so I do not care if it's a bit more or less in time. (My opinion.)

[2021-01-22 07:31] JordanYates commented on #31487
And how is that overlay file being selected?

[2021-01-22 07:39] rlubos commented on #31447
Hi, yes, just a periodic ping every minute. Perhaps the issue only shows up in a more harsh environment, where some packets can get lost, I doubt that's the case for my local setup.

[2021-01-22 07:55] jukkar commented on #31447
@arapostol would you be able to try this with some other connection technology than cellular?

[2021-01-22 08:02] arapostol commented on #31447
I will try testing next week with Wi-Fi.

[2021-01-22 08:20] rlubos commented on #3933
Still not implemented. I'll have a closer look into this because I recall that discovery operation for bootstrap/regular server differed a bit so I need to check first if it's feasible to have a generic `application/link-format` writer for both.

[2021-01-22 08:20] rlubos commented on #6066
Not implemented yet.

[2021-01-22 08:38] Guayusa commented on #29636
I checked out your sample and let it run without the workaround mentioned earlier. I did not face any disconnects anymore.
LGTM!

[2021-01-22 08:46] tbursztyka opened #31517 "UP² broken (git bisect findings inside)"
**Describe the bug**
Any samples running on UP² that has a console output should work, but it does not anymore.

**To Reproduce**

I tried the tests/arch/x86/info sample
up_squared board  (so x86_64) on multiboot (zephyr.strip)

**Expected behavior**
A lot of output on the multiboot, acpi and RTC

**Impact**
I cannot test my work on UP² atm, and I am using it extensively

**Environment (please com

[2021-01-22 08:47] aangarov opened #31518 "Communication across Memory Domains (IPC)"
# Motivation
In the modern world security is a critical part of nearly every system design and there are two fundamental security principles: Least Privilege and Separation/Isolation.
Zephyr supports these principles by enabling multiple isolated user-level memory domains.
Design of a system with multiple isolated user-level memory domains requires communication mechanism between the memory domain

[2021-01-22 08:50] tbursztyka commented on #31517
@andrewboie @nashif @dcpleung @andyross  Please have a look

@jhedberg Is the console still working properly on EHL on latest master? Perhaps, the issue could affect more that just the UP².

[2021-01-22 09:15] Laczen commented on #31487
From the command line indeed, and what is the problem with that, just add `-- -DDTC_OVERLAY_FILE=xxx.overlay`. Your proposal in the other thread is exactly going to do the same.

By setting the `code-partition` in the boards dts file equal to `&image_partition` from the above dts the behavior would be exactly as it is now, but solving the issue that images can flow into the storage area.

All othe

[2021-01-22 09:22] raveslave commented on #12386
checking in if any plans from NXP to contribute with host support for LPC or i.MX

[2021-01-22 09:24] raveslave commented on #27525
@jettr would you mind sharing what PD phy's you are using today?

[2021-01-22 09:33] jhedberg commented on #31517
@andrewboie @tbursztyka I just discovered that the same commit 3660040 also breaks zephyr.efi creation (the resulting file is too small (some 86k) and not a valid EFI binary according to EFI BIOS. @andyross FYI

[2021-01-22 09:38] JordanYates commented on #31487
It is not necessarily a problem, its just a change from the current setup where selecting `CONFIG_MCUBOOT` is the way to build a chain loaded application. It is not the same as my proposal, which eliminates `code-partition`.

One concern is that specifying the overlay file is rather clunky. Either you need a `board_mcuboot.overlay` in each application for each board, or you are left to type `-DDTC

[2021-01-22 10:01] Laczen commented on #31487
The overlay file is very simple:
[code]
and could reside in the project folder, but yes it would change the usage of `CONFIG_MCUBOOT` (because as it is this takes ownership of `code-partition`, which it shouldn't). `CONFIG_MCUBOOT` could be removed in the proposal (or at least it's influence on image generation).

Yes, this would be very clean. It is possible to add a mcuboot_boot, mcuboot_image,

[2021-01-22 10:30] finikorg commented on #31517
Cannot boot any of EHLs

[2021-01-22 10:58] JordanYates commented on #31487
The `CONFIG_MCUBOOT` symbols would need to stick around in some form as they are used for other things.
Perhaps chainable revisions would work, `board@rev@mcuboot`, where all revisions are merged together.
The CMake revision functions aren't written with this in mind however.

[2021-01-22 11:24] jhedberg commented on #31517
@jenmwms FYI

[2021-01-22 11:31] expploitt opened #31522 "DDS middleware"
Hello, I'm new on zephyr and I would like to use the eproxima DDS-XRCE over zephyr. It's possible to integrate easily?

I have searched about dds and zephyr but I only found the micro-ROS solutions, which include ROS libraries.

Thanks!

[2021-01-22 12:03] r2r0 opened #31524 "littlefs: Too small heap for file cache."
**Describe the bug**
fs_open for CONFIG_FS_LITTLEFS_NUM_FILESth file returns -ENOMEM.
I.e. CONFIG_FS_LITTLEFS_NUM_FILES=3 and when fs_open is caled for 3rd file it returns -ENOMEM.
After incrementing CONFIG_FS_LITTLEFS_NUM_FILES and opening only CONFIG_FS_LITTLEFS_NUM_FILES-1 files problem is not present.
After increasing file_cache_pool (in littlefs_fs.c) even by 128 bytes problem is not present

[2021-01-22 12:38] nashif commented on #31517
this most likely would be a different issue, unrelated to paging

[2021-01-22 12:40] galak opened #31528 "introduction of demand paging support causing qemu failures on x86_64, qemu_x86_64_nokpti"
`tests/kernel/fatal/exception/kernel.common.stack_sentinel` hangs when running on `qemu_x86_64_nokpti` and `qemu_x86_64`.  In addition `tests/ztest/mock/testing.ztest.mock` on `qemu_x86_64`

Git bisect tracks this down to:

[code]

[2021-01-22 12:46] galak commented on #31528
As these errors are blocking CI going to `exclude` running these tests for now to allow forward progress of PRs.  See PR #31530

[2021-01-22 12:53] AlPon1969 opened #31531 "STM32 can driver don't set prescaler"
In function "can_stm32_set_timing" on file can_stm32.c the set of BRP value is missing.
To solve this is necessary to change BTR register load from:

can->BTR |= (((timing->phase_seg1 - 1) & 0x0F) << CAN_BTR_TS1_Pos) |
		    (((timing->phase_seg2 - 1) & 0x07) << CAN_BTR_TS2_Pos) |
		    (((timing->sjw        - 1) & 0x07) << CAN_BTR_SJW_Pos);

to

	can->BTR |= (((timing->phase_seg1 - 1) & 0x0F) <<

[2021-01-22 13:10] cvinayak commented on #31019
@LingaoM Please verify if #31532 works around the failure to enable/disable scanning.

[2021-01-22 13:55] galak commented on #31528
Closing this issue as we've reverted the paging code for now.

[2021-01-22 13:55] #31528 closed

[2021-01-22 14:12] nashif commented on #31517
paging commits reverted now, wrt to EFI, this should be filed as its own bug if this is really a problem.

[2021-01-22 14:13] galak commented on #18778
Closing this as we've implemented a completely new/different devicetree api

[2021-01-22 14:13] #18778 closed

[2021-01-22 14:24] MaureenHelm commented on #12386
No plans yet

[2021-01-22 14:31] #31488 closed

[2021-01-22 14:31] pabigot commented on #31027
I'm going to close this, because there's a workaround even though the use of gtest with Zephyr and C++ isn't really supported.  If there are objections it can be re-opened as a low-priority enhancement.

[2021-01-22 14:31] #31027 closed

[2021-01-22 14:32] #31385 closed

[2021-01-22 14:38] jfischer-no commented on #12386
@efdev Please add EHCI driver to #30361 even if it was not quite finished.

[2021-01-22 16:43] jettr commented on #27525
You can find more information by looking at our open-source drivers: https://source.chromium.org/chromiumos/chromiumos/codesearch/+/master:src/platform/ec/driver/tcpm/

A non-representative example list follow:
 * Parade 8751 Type-C Port Controller (TCPC)
 * Analogix 7447 TCPC
 * Embedded TCPC within an ITE Embedded controller chip

We do have a PHY FW stack that we have used for STM32 chips, but

[2021-01-22 16:51] jukkar commented on #3931
Don't know enough about the matter, I leave this to your judgement. If you think this is not worth doing, just close the issue.

[2021-01-22 17:46] K2AAE opened #31543 "Documentation: Spelling"
AT: https://docs.zephyrproject.org/1.13.0/boards/arm/nrf52_pca20020/doc/nrf52_pca20020.html
IN: Docs / 1.13.0 » Supported Boards » ARM Boards » nRF52-PCA20020 (Thingy:52)
Internal I2C Bus The internal I2C bus (I2C_0) is not routed to any of the external connectors, but most of the on-board devices are accessed trough it. The following pins have been assigned to the bus:

trough is missing an h thr

[2021-01-22 20:22] #31486 closed

[2021-01-22 22:23] andrewboie opened #31546 "DTS device dependency is shifting memory addresses between builds"
**Describe the bug**
I was notified Friday morning that my demand paging PR had been reverted as it had been identified as the culprit in a failure in tests/kernel/fatal/exception. The crash occurred at very early boot, right after installing page tables.

However, digging deeper this is not the case and my PR just exposed a different issue with a PR that went in about the same time.

When I repro

[2021-01-22 22:53] #31543 closed

[2021-01-22 23:24] ioannisg commented on #30810
@nashif this is probably fixed by the PR I sent earlier, #31539. I aimed at fixing the exact same MPU_FAULT I am seeing here (I came across the same test failure on qemu mps2_an521)

[2021-01-23 00:16] ioannisg commented on #30810
Fixed by #31539

[2021-01-23 00:16] #30810 closed

[2021-01-23 01:08] evgeniy-paltsev commented on #31415
I've investigated a bit about `arch_irq_{disable|enable}` usage. In `include/irq.h` we do define

[code]

And rest of the Zephyr code actively uses `irq_{disable|enable}`. So we can't simply restrict interrupt management function to be executed only on CPU0 as it will break drivers/subsystems.

As drivers/subsystems control external interrupts only the option 3 should be OK for them. However there

[2021-01-23 02:05] #29538 closed

[2021-01-23 04:11] nashif opened #31549 "tests/kernel/lifo/lifo_usage/kernel.lifo.usage fails on m2gl025_miv"
[code]

[2021-01-23 05:43] nashif commented on #26163
closed by #31550

[2021-01-23 05:43] #26163 closed

[2021-01-23 05:44] nashif commented on #26227
closed by #31550

[2021-01-23 05:44] #26227 closed

[2021-01-23 06:18] JordanYates opened #31551 "lorawan: setting datarate does not allow sending larger packets"
**Describe the bug**

Increasing the datarate through `lorawan_set_datarate` does not allow larger packets to be sent.
`REGION_AS923` defaults to `DR_2`, with a maximum payload of 11 bytes. `DR_5` has a maximum payload of 242 bytes.
After increasing the datarate, it should be possible to send more than 11 bytes in a packet. This is not the case.

**To Reproduce**

Modify `zephyr/samples/lorawan/cl

[2021-01-23 06:24] nashif commented on #31362
lowering priority as this happens only if /dev/null is writable or as root, which is not recommended.

[2021-01-23 06:47] sslupsky commented on #31510
I think there is a third way to fix this.  Convert return value of z_timer_cycle_get_32() to cycles using k_ticks_to_cyc.  Will close for now.

[2021-01-23 06:47] #31510 closed

[2021-01-23 13:01] #6040 closed

[2021-01-23 13:23] hakehuang opened #31555 "tests:drivers_can_api: mimxrt1060 can api test meet assert failure"
**Describe the bug**
test_filter_attach ASSERTION FAIL [!FLEXCAN_IsMbOccupied(base, mbIdx)] @ WEST_TOPDIR/modules/hal/nxp/mcux/drivers/imx/fsl_flexcan.c:1734 E: r0/a1: 0x00000004 r1/a2: 0x000006c6 r2/a3: 0x00800000 E: r3/a4: 0x60004121 r12/ip: 0x00000000 r14/lr: 0x600064a3 E: xpsr: 0x41000000 E: Faulting instruction address (r15/pc): 0x6000a876 E: >>> ZEPHYR FATAL ERROR 4: Kernel panic on CPU 0 E:

[2021-01-23 13:24] hakehuang commented on #31555
@MaureenHelm  this looks like a test application settings issue, I will try to fix it in test side

[2021-01-23 15:40] galak commented on #27047
Re-open this issue since we need an update to the SDK to enable EFI binary targets in binutils.

[2021-01-23 15:57] adamfowleruk opened #31559 "C++ std::async and std::future support"
I have a C++ library which I'm porting to work on Zephyr. This uses the Zephyr Bluetooth API. I have successfully linked the library during its development and have most functionality working. For ease I'd like to use std::async and std::future in my code for my library. If I do this, I cannot currently port it to Zephyr. (Compile error below). I note the previous catch-all issues #18554 #31281.

[2021-01-23 16:11] hakehuang commented on #31555
@henrikbrixandersen  do you test this driver with can_api before?

[2021-01-23 16:12] nashif commented on #31503
@carlescufi  please assign

[2021-01-23 16:44] galak opened #31560 "Fix incorrect usage of `default` in dts bindings"
A number of dts bindings incorrectly use `default` property:

Quick glance, the following bindings incorrectly use default:

dts/bindings/clock/litex,clk.yaml
dts/bindings/cpu/cpu.yaml
dts/bindings/interrupt-controller/gaisler,irqmp.yaml

[2021-01-23 16:46] henrikbrixandersen commented on #31555
@hakehuang If you are referring to the FlexCAN shim driver, then yes. I have just retested it along with the Kinetis FlexCAN driver on `frdm_k64f`:

[code]

I have not tested the i.MX FlexCAN driver variant as I do not have access to any i.MX boards.

[2021-01-23 20:08] andrewboie opened #31562 "unexpected sign-extension in Kconfig linker symbols on 64-bit platforms"
**Describe the bug**

Kconfig exposes all Kconfig values as linker symbols in the generated binary. On 64-bit platforms, it appears that if a 32-bit hex value is expressed in Kconfig with a 1 in the most significant bit, this gets sign-extended in the generated linker symbol, as if it were a negative value.

**To Reproduce**

[code]

Do a build and examine the binary:

[code]

**Expected behavior*

[2021-01-23 21:22] alexanderwachter commented on #31531
Hi, this problem is already solved. Pleas pull the latest master and check if your problem still exist.

[2021-01-23 23:01] #31546 closed

[2021-01-24 00:25] evgeniy-paltsev commented on #31415
Thoughts about issue with interrupt priority in case of 'option 3':

We can't control interrupt priority with IDU so we have to configure interrupt priority via per-core interrupt controller.
Generally it should be OK as we need to do that only once - at the per-core interrupt controller init step.
There are several places where you can shoot in the leg, so the initialization needs to be done care

[2021-01-24 02:09] #29822 closed

[2021-01-24 02:09] #29826 closed

[2021-01-24 02:09] #29805 closed

[2021-01-24 02:09] #29782 closed

[2021-01-24 03:55] chen-png opened #31566 "up_squared: Couldn't get testcase log from console for all testcases."
**Description**
with the latest mainline branch, when running tests on up_squared board, couldn't get testcase log from serial for all testcases, there is nothing in console output.
the commit 6ec4ff22e3 is good to get log.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto samples/hello_world/
2. west flash ~/up_squared.sh
3. see error

**Logs and console outpu

[2021-01-24 04:34] JordanYates opened #31567 "lora: SX126x modems consume excess power until used for first time"
**Describe the bug**

The SX126x modems all consume excess power until used for TX or RX for the first time due to not entering sleep mode on boot.
The normal application flow when using LoRa is:

[code]

The common init function `sx12xx_init` only calls `Radio.Init()`.
For the sx1276 modem this is sufficient as `SX1276Init` puts the modem into `RF_OPMODE_SLEEP`, the lowest power mode.
The sx126x

[2021-01-24 05:34] JordanYates opened #31569 "lora: sx126x: interrupt pin permanently enabled"
**Describe the bug**
The sx126x driver leaves the `DIO1` interrupt permanently enabled, resulting in excess power consumption.
For nRF SoC's, this means the `GPIOTE` peripheral is permanently enabled, increasing current draw by ~15uA.
Per the datasheet (Table 8-3), DIO1 is not driven as an output in `Reset`, `Startup`, or `Sleep` modes.
We can therefore safely turn off the interrupt in sleep mode.

[2021-01-24 11:19] tagunil commented on #31569
Does the sx1276 driver have the same issue?

[2021-01-24 12:10] Nukersson opened #31573 "Wrong log settings in can_stm32 driver"
https://github.com/zephyrproject-rtos/zephyr/blob/77861037d9ca71f0093c3e604b7545084ce7fb16/drivers/can/can_stm32.c#L20

It must be `LOG_MODULE_REGISTER` instead of `LOG_MODULE_DEFINE`.

[2021-01-24 12:28] JordanYates commented on #31569
Yes, all DIO pins have their interrupts permanently enabled in `SX1276IoIrqInit`.
The sx1276 has a much different sleep model, so the same solution doesn't directly apply.
That driver also currently uses `loramac-node` implementations for sleep and standby transitions.
I don't have any hardware with the older LoRa modem however, so I can't validate any potential solutions.

[2021-01-24 13:23] chen-png commented on #31566
git bisect and found the first bad commit is 5c47bbc5010d98c6

[2021-01-24 14:45] alexanderwachter commented on #31573
LOG_MODULE_REGISTER(can_driver);
Is called in can_common.c:13.
You can only register a module once.

[2021-01-24 14:53] alexanderwachter commented on #9087
It is compatible now. CAN-FD drivers are wip

[2021-01-24 14:53] #9087 closed

[2021-01-24 15:08] #30736 closed

[2021-01-24 15:11] #30723 closed

[2021-01-24 15:12] #29809 closed

[2021-01-24 15:16] boaks commented on #23424
That would be a very cool extension feature.

I use DTLS Connection ID now for about 2 years with CAT-NB/NB-IoT modems (Raspi-java-Californium-at-cmds-serial-modem-client) and in my experience, this is the only technique,which works without too much headaches. It also overcomes some k8s networking obstacles, so it's not only for NB-IoT.

Remarks:

mbedtls is unfortunately not using the IANA values

[2021-01-24 15:41] nashif commented on #31340
having hard time reproducing this, could be related to the board you have, please try to reproduce in isolation...

[code]

[2021-01-24 15:41] #31340 closed

[2021-01-24 15:57] nashif commented on #31194
because is the only way we have to deal with test output from fixtures

[2021-01-24 16:09] nashif commented on #31194
a harness_config containing a fixture always needs a fixture in the yaml file. So this is more of a schema dependency validation issue and less of a logical issue I think.

[2021-01-24 16:22] nashif commented on #29936
@dcpleung  can you please take a look?

[2021-01-24 16:23] nashif commented on #29194
I am not able to reproduce on the same board and other boards.

[2021-01-24 17:08] Nukersson commented on #31573
LOG_MODULE_DEFINE not worked for me with samples/can/driver

[2021-01-24 17:25] alexanderwachter commented on #31573
the sample builds without error on the latest HEAD.
`west build -b nucleo_f746zg zephyr/samples/drivers/can`

[2021-01-24 17:31] cvinayak commented on #29636
@Guayusa Thank you for the testing and fast response.

[2021-01-24 18:01] Nukersson commented on #31573
Sorry. It was my bad. It is not worked for me with my h7 can driver under dev.

[2021-01-24 18:03] #31573 closed

[2021-01-24 18:07] Nukersson commented on #31573
Found it out.

I've used `LOG_MODULE_DECLARE(can_stm32h7_driver, CONFIG_CAN_LOG_LEVEL); ` with different name than `can_driver`, thus I need `LOG_MODULE_DEFINE` since it is not declared in can_common.c

[2021-01-24 18:47] alexanderwachter commented on #31573
BTW @Nukersson #31061should work on the H7 too.

[2021-01-24 18:59] Nukersson commented on #31573
Thank you very much! I will try to help in PR pointed by you.