[2019-05-23 16:22] rgf97 opened #16363 "Error building x_nucleo_iks01a1 sample on nucleo_wb55rg after activating I2C Bus"
**Describe the bug**
Hi, after making the configuration to activate I2C Bus on nucleo_wb55rg, i get this error while building x_nucleo_iks01a1 sample: `west build -b nucleo_wb55rg samples/shields/x_nucleo_iks01a1/`

`CMake Error at ../../../cmake/extensions.cmake:378 (add_library):
  No SOURCES given to target: drivers__i2c
Call Stack (most recent call first):
  ../../../cmake/extensions.cmake:355

[2019-05-23 16:43] andyross commented on #16273
I can do this, yeah.  I know enough about x86, ARM and Xtensa to do it immediately.  RISC-V and ARC I'll need to study a bit, and honestly I have no idea what the masking mechanism looks like on Nios II.  The issue of what to do with respect to the "locked" reschedule variants is still an open question though.

The callers so far have always been able to expect that they'll be atomically swapped o

[2019-05-23 17:09] ydamigos commented on #16223
@finikorg @frantony I am able to see in wireshark the string descriptor reaching the host and then the host requesting it again. Maybe something is broken with ZLP in the driver. l'll debug it further.

[2019-05-23 17:28] erkki opened #16365 "lwm2m: enable with CONFIG_NET_RAW_MODE"
Right now there's code in lwm2m_engine.c that depends on CONFIG_NET_IPV4 &/ CONFIG_NET_IPV6 defined to work.

This is problematic for platforms relying on CONFIG_NET_RAW_MODE as CONFIG_NET_IPV4 depends on  !CONFIG_NET_RAW_MODE

Here is what I had to do to get a proof-of-concept compile under nordic 9160dk: https://github.com/bear-metal/zephyr/tree/poc_lwm2m_net_raw

I'm not sure what a good direct

[2019-05-23 17:29] hwagner66 commented on #15171
After making the slot timing change, more testing was performed with various input data sets.  All testing has been done with unreliable messaging for maximum throughput and better understanding of network performance.  The input data is approximately 19.5kbps (averages to one 244 byte payload every 100mS).   Using DLE and 2Mphy on Zephyr 1.14.  The connection interval is set to 100mS.
The central

[2019-05-23 18:27] mike-scott commented on #16318
This is for Boron 2G/3G w/ SARA modem driver?

[2019-05-23 18:39] yerabolu opened #16366 "Build error on QEMU x86 and quark_se_c1000_devboard"
**Describe the bug**
Not able to build Zephyr successfully.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\qemu_x86  or quark_se_c1000_devboard
3. make
4. See error

**Expected behavior**
Successful build

**Impact**
Not able to run any tests on QEMU and Quark_SE_c1000_devboard.

**Screenshots or console output**
              @local

[2019-05-23 18:47] WilliamGFish commented on #16318
Yes, very much based on the LTE version. Works ok(ish) with 1.14.00 with some reconnect issues which is partly due to keepalive options and using a cheap roaming sim to do testing.

It appears to happen when the offload function hands back to the OS to boot.

[2019-05-23 18:52] carlescufi commented on #16278
I will give this a try as soon as I can @PhilippFinke

[2019-05-23 19:28] jukkar commented on #16365
The CONFIG_NET_RAW_MODE is basically meant for cases where there is no upper part of the network stack. Its help text says
[code]

So if you enable this option, then basically you cannot use IPv4 which means that LWM2M cannot be used. What kind of use cases you have that you need to enable this RAW option?

[2019-05-24 00:59] erkki commented on #16365
Hi @jukkar, nrf9160_pca10090ns uses nordics bsdlib (which depends on CONFIG_NET_RAW_MODE) to implement a sockets api on top of the modem which implements an IP stack internally.

But the IP util functions are still convenient to have in userspace for shuffling around addresses and such. And the lwm2m client lib depends on some of the config macros being defined which triggers too much inclusion at

[2019-05-24 02:45] erkki commented on #16365
.. I'm still trying to figure out the available Kconfig values .. I guess what I'm asking is clarification of how should CONFIG_NET_IPV4/CONFIG_NET_IPV6 combine with CONFIG_NET_RAW combine with CONFIG_NET_SOCKETS_OFFLOAD . In those cases code using the sockets api "should just work".

[2019-05-24 03:24] erkki commented on #16365
I've rebased https://github.com/bear-metal/zephyr/tree/poc_lwm2m_net_raw against master + cleaned up a bit; If this looks sane at all happy to make a pull-request and any amendments.

[2019-05-24 05:36] jukkar commented on #16365
I think CONFIG_NET_RAW is not a proper option in this case as it prevents use of upper layers of network stack. You should use CONFIG_NET_SOCKETS_OFFLOAD instead if the actual network stack is provided by some external entity. Then lwm2m would work correctly because it is running on top of socket API.

[2019-05-24 06:15] erkki commented on #16365
CONFIG_NET_RAW is already used by the vendor, see https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/lib/bsdlib/Kconfig#L12 .

CONFIG_NET_SOCKETS_OFFLOAD is also already used: https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/lib/bsdlib/nrf91_sockets.c#L29

I was just trying to see how feasible it would be to use the zephyr lwm2m engine (vs something else), and it tu

[2019-05-24 06:45] yaomon commented on #16122
Sorry, switching accounts here.
https://github.com/zephyrproject-rtos/zephyr/pull/16369
I think this is the simplest way. I had briefly considered hijacking the instance id parameter in the write callback to pass 1/0 based on whether the current block size is 0 (indicating the first block) but that is very inelegant.
Given access to the block context, I can check whether the current size is <= coa

[2019-05-24 06:58] nordic-krch commented on #16273
#16194 will be blocked until this one is fixed. There adding following change to logging log message which can happen from any context:
[code]
and ideally i should do something like:
[code]

[2019-05-24 08:11] rakons opened #16371 "Settings: should leave important decisions to the application"
**Is your enhancement proposal related to a problem? Please describe.**
Settings module does some arbitrary decisions thus it can lead to system failure or data loss.
Settings did 2 things that it really should not be allowed to do without the application interaction:

1. Clears flash if it cannot initialize: This may lead to data loss. Imagine that you have upgraded the application and the data f

[2019-05-24 08:12] rakons commented on #16371
cc @nvlsianpu @carlescufi

[2019-05-24 08:13] rakons commented on #16371
This also relates partially to the #16275

[2019-05-24 09:05] tbursztyka commented on #16343
That would be a nice addition (There are other place we could take advantage of such function).

However I would name the function sys_is_rodata() for instance, or if you make into kernel.h : k_is_rodata()

[2019-05-24 09:25] rgf97 commented on #16363
Nvm

[2019-05-24 09:25] #16363 closed

[2019-05-24 09:33] pfalcon commented on #7589
Following @jukkar's recent issue cleanup, let me close this one too. We removed websockets lib from Zephyr, so formally websockets can be "migrated" to sockets. Such a lib would need to be made from start (written from scratch or suitable 3rd-aprty lib picked up). And that's definitely another issue. Closing. (Feel free to reopen if disagree).

[2019-05-24 09:33] #7589 closed

[2019-05-24 10:08] rmstoi opened #16375 "net: ipv4: udp: Zephyr does not reply to a valid datagram with checksum zero"
If Zephyr receives datagram with valid UDP checksum zero, it does not reply and drops the packet. Instead, a reply to this packet must be sent. Attached also Linux pcap for this case.

[udp-checksum-zero-linux.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3216312/udp-checksum-zero-linux.pcap.gz)
[udp-checksum-zero-zephyr.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/321

[2019-05-24 10:22] tbursztyka commented on #16375
A checksum field full of zeros in not a valid checksum. It means "no checksum".
See RFC 768

So I guess if that field is full of 0s we should not check it at all.

[2019-05-24 11:05] weinholtendian commented on #16318
I didn't see the exact same error, but I saw a stack check fail in main after enabling `CONFIG_MODEM_UBLOX_SARA_R4` in a new project. Could be the same issue? Setting `CONFIG_MAIN_STACK_SIZE=4096` helped.

[2019-05-24 11:23] jukkar commented on #16375
That is probably the proper thing to do. I just wonder if this behavior should be configurable via Kconfig option.

[2019-05-24 11:32] tbursztyka commented on #16375
Good question indeed.

[2019-05-24 11:33] WilliamGFish commented on #16318
@weinholtendian
Thanks but already have increased stack size in 1.14.00.

[2019-05-24 11:47] nashif commented on #16366
@yerabolu not a bug, looks like west is not being used to fetch dependencies and modules here. (QMSI)

In the future please do not submit raw logs from TCF, this is confusing and very difficult to read. Reproduce locally and submit the build errors if any from a local build, not TCF.

[2019-05-24 11:47] #16366 closed

[2019-05-24 11:48] cvinayak commented on #15171
@hwagner66 Could you let me know the value of CONFIG_BT_CTLR_TX_BUFFERS? Are you able to use any sort of fairness in enqueuing the transfer across n connections?

My guesses  are, the connections dont get enqueued packets within the 100 ms connection interval.

Could you use, say 13 tx buffers, and then every 100ms fairly enqueue 1 packet each to the n connections? (Do try to detect latency of bt_

[2019-05-24 11:59] pfalcon opened #16376 "posix ext: Implement eventfd()"
There're concerns on how to integrate efficient polling of arbitrary events into POSIX framework for file descriptor polling, i.e. poll() call (which, at the time of writing, supports only sockets in Zephyr).

The classical Unix way of doing that, which got captured by the POSIX standard, is usage of (Unix) pipe object to communicate events. That's however a pretty heavy-weight mechanism, as prima

[2019-05-24 12:14] pfalcon commented on #16376
Base on https://lists.zephyrproject.org/g/users/topic/31720242 discussion.

[2019-05-24 12:26] rmstoi opened #16379 "net: ipv6: udp: Zephyr replies with illegal UDP checksum zero"
If Zephyr receives IPv6 UDP datagram with valid UDP checksum 0xffff, it replies with IPv6/UDP having illegal checksum zero. Zephyr replies correctly to the same UDP datagram in IPv4. Attached also Linux pcap for this case.

[zephyr-udpv4-checksum-good.gz](https://github.com/zephyrproject-rtos/zephyr/files/3216825/zephyr-udpv4-checksum-good.gz)
[zephyr-udpv6-checksum-bad.gz](https://github.com/zeph

[2019-05-24 12:31] rmstoi commented on #16379
[linux-udpv4-checksum-good.gz](https://github.com/zephyrproject-rtos/zephyr/files/3216866/linux-udpv4-checksum-good.gz)

[2019-05-24 12:32] rmstoi commented on #16379
It seems that Linux sets the checksums in both cases, IPv4 and IPv6, to 0xffff_

[2019-05-24 12:37] tbursztyka commented on #16379
In this case as well as in #16375, I think it is the same root cause in UDP side.

[2019-05-24 13:26] gon1332 commented on #15144
@carlescufi I followed your directions, but I'm having trouble on the `west init` part. It is always resulting to:
[code]

I have this [test repo](https://gitlab.com/gon1332/west-test-project) that I want to use as a manifest with the T2 star west topology.

The **west.yaml**:
[code]

The **west init** outcome:
[code]

[2019-05-24 13:39] nvlsianpu commented on #16371
1. yes: Settings module should allow the application to decide if it prefers to erase the backend memory. Should be able to inform the application about unknow format which open possibility to fix or run an adaptation patch.
2. yes: because of similar reasons.

[2019-05-24 15:17] hwagner66 commented on #15171
CONFIG_BT_CTLR_TX_BUFFERS=19  which appears to be the max allowed.  As far a fairness, the messages are enqueued at a rate of 100mS/#connections in a round robin fashion, that is: 1 conn every 100mS, for 2 conn every 50mS alternating between conn 0 & 1,  for 3 conn every 33mS cycling 0,1,2,0,1,2,… etc.  At 10 connected peripherals, a msg is enqueued every 10mS to one of the connections.

I am not

[2019-05-24 16:00] #14675 closed

[2019-05-24 17:28] jwu1980 opened #16385 "watch dog timer causes the reboot on SAME70 board"
**Describe the bug**
By default, WDT is enabled on SAME70 board because of the following commit. After that, system reboots when doing a while loop processing.

commit 2e01e86bdc70591c608caa9072de17226ede9e76
    drivers: watchdog: wdt_sam: use the generic disable option
    Use the generic option WDT_DISABLE_AT_BOOT instead of the SAM specific
    one WDT_SAM_DISABLE_AT_BOOT (note the generic one

[2019-05-24 18:30] yhvh opened #16387 "STM32wb55 bluetooth samples fail"
Using a early version of the STM32wb55 most of the Bluetooth samples fail to connect with either Android app or bluetoothctl. As mentioned in
#14188 this is possibly because of a need to upgrade the M0 core to one which works with zephyr. How do I go about doing that?
Ping @erwango

Steps to reproduce the behavior:
1. Build one of samples/Bluetooth/peripheral*
2. Flash to early version STM32wb55
3

[2019-05-24 20:09] carlescufi commented on #16387
I understand from @erwango that the early versions of the devkit are not supported in Zephyr

[2019-05-24 21:11] dbkinder commented on #335
![Screen Shot 2019-04-30 at 8 56 10 AM](https://user-images.githubusercontent.com/11063618/58356908-b6fa5d00-7e2d-11e9-9275-e5e826d4ce32.png)
![Screen Shot 2019-04-30 at 8 52 08 AM](https://user-images.githubusercontent.com/11063618/58356928-c7aad300-7e2d-11e9-832f-55b88b6a3949.png)

[2019-05-24 21:16] dbkinder commented on #335
added some images to the wiki, so can close this issue again.

[2019-05-24 21:16] #335 closed

[2019-05-24 21:53] dbkinder commented on #15246
@carlescufi @andrewboie FYI, I'm seeing the same misbehavior (not finding the dtc in the Zephyr SDK).  I also observed a new user following the getting started instructions on a clean Ubuntu system and having the same problem.

For this to work properly you need to set **two** environment variables:

         export ZEPHYR_TOOLCHAIN_VARIANT=zephyr
         export ZEPHYR_SDK_INSTALL_DIR=/opt/zephyr

[2019-05-25 02:31] maddeed opened #16389 "ninja flash to intel quark d2000 zephyr"
my system is ubuntu(18.04). I can cmake but after ninja flash error:
ERROR: command exited with status 127: /opt/zephyr-sdk/i586-zephyr-elfiamcu/bin/i586-zephyr-elfiamcu-dgb -ex 'target remote :3333' /home/ismagilov/zephyrproject/zephyr/samples/basic/blink_led/build/zephyr/zephyr.elf
can someone help?

[2019-05-25 12:54] ioannisg commented on #16385
Not sure if this should be treated as a bug; there is an option to disable the watchdog with `CONFIG_WDT_DISABLE_AT_BOOT=y` if desired so.

We could also select WDT_DISABLE_AT_BOOT in the board definition, if we want this to be the default behavior. @aurel32 do I understand this correctly? What's your take?

[2019-05-25 19:00] f7488405 commented on #16385
@ioannisg Thanks for the replay.
Disable the WDT is just a workaround right?
If we need to disable WDT all the time, what’s the reason to have it in the first place?

I would expect WDT can get pet even there is a while loop processing.

[2019-05-25 20:56] henrikbrixandersen commented on #16229
@hakehuang Thanks. I have further examined this issue and it **is** caused by the limited number of MPU regions available on the KE1xF series MPU.

The KE1xF has 8 regions (whereas the K6x has 12). The number of MPU regions is reflected by the `FSL_FEATURE_SYSMPU_DESCRIPTOR_COUNT` defintion.

5 of these regions are statically defined (debugger, two background regions due to the NXP MPU giving prio

[2019-05-25 21:57] #16156 closed

[2019-05-25 22:04] henrikbrixandersen commented on #16225
These all fail due to the combination of limited number of MPU regions in the KE1xF SoC series and userspace, see the full explanation in #16229.

[2019-05-26 00:56] lodup29 commented on #16150
@mike-scott Unfortunately the lwm2m_ctx used in lwm2m_obj_firmware_pull.c in recreated from scratch and cannot really be used to carry parameters there. I simply added a new function (lwm2m_firmware_set_proxy) to set the proxy at runtime. I submitted the pull request [16396](https://github.com/zephyrproject-rtos/zephyr/pull/16396) accordingly.

[2019-05-26 18:36] henrikbrixandersen commented on #16224
The problem arises from the MCUX SDK. In `fsl_ftfx_controller.c` it copies the contents of an array (`s_ftfxRunCommandFunctionCode`) to RAM (`s_ftfxRunCommand`) and calls it as a function (`config->runCmdFuncAddr`). This is not allowed by the MPU so a hardfault occurs

[2019-05-27 06:33] pfalcon commented on #2336
Lack of this feature leads to unscalable and unmanageable patches like: https://github.com/zephyrproject-rtos/zephyr/pull/16391

[2019-05-27 06:35] pfalcon commented on #2336
Usecase for supporting IPv4 multicast is working with IPv4-based multicast protocols, which are any multicast protocols, because nobody uses IPv6 in real world. The most basic example in mDNS, and it goes on and on.

[2019-05-27 07:23] erwango commented on #16387
Reopening
Early sample versions are indeed not supported for now, but it makes sense to check what it costs to get them working.

@yhvh, as a start: can you try to get a STM32WB stm32cube package from st.com and follow the steps indicated to update M0 f/w (in Projects/STM32WB_Copro_Wireless_Binaries/Release_Notes.html, using stm32wb5x_BLE_Stack_fw.bin)?

[2019-05-27 07:42] jtguggedal commented on #16365
cc @rlubos

[2019-05-27 07:55] rlubos commented on #16365
Hi @erkki, FYI we are dropping the `NET_RAW_MODE` usage with bsdlib in https://github.com/NordicPlayground/fw-nrfconnect-nrf. It was originally added to save some memory, but just as @jukkar mentioned, it turned out it does not fit the particular use case and brought up unnecessary limitations.

[2019-05-27 08:12] rakons commented on #16275
It seems that I have located the exact spot where the error appears. The fcb tries to read 2 bytes, but it hits this check inside flash_sim_read:

[code]

Witch basically forbids to read unaligned data - the question is why. I am going to discuss it with the author and then we may offer some solution.

[2019-05-27 09:01] nvlsianpu commented on #16275
^^ Can we make this configurable. Most of flash driver we have are able to unaligned read. I think only a few requires aligned start offset of readout, but still not aligned readout length.

[2019-05-27 09:07] carlescufi opened #16406 "west: runners: Add --id and --chiperase options"
Add generic options for identifying a board and erasing the chip so that users can invoke them, on runners that support them, without having to know the underlying option of the tool used.

[code]

[2019-05-27 09:23] carlescufi commented on #15144
@gon1332 stick to v0.5.8 of west for now, master is undergoing changes. In your manifest:

[code]

[2019-05-27 09:30] erkki commented on #16365
That is good to know. Thanks @rlubos and everyone else.

I believe we would still need https://github.com/bear-metal/zephyr/commit/6fbefc15f921eea4726c2d434f39a310af8036d7#diff-fe5ac3fd49ff5b4af7063ea2ba575077R201 and https://github.com/bear-metal/zephyr/commit/6fbefc15f921eea4726c2d434f39a310af8036d7#diff-fe5ac3fd49ff5b4af7063ea2ba575077R247  or define the CONFIG_NET_*_COUNT in bsdlib internally.

[2019-05-27 09:30] #16365 closed

[2019-05-27 10:35] jukkar commented on #2336
The problem with the IPv4 **join/leave** multicast feature, is that usually that is not used with IPv4. The situation in IPv6 is different where **joining/leaving** a multicast group is really necessary. That was the motivation for the closure of this PR, also it is quite old and it was lacking some evidence why it is needed in the first place.

[2019-05-27 10:53] carlescufi commented on #15116
@Mierunski @anangl could you please comment on this issue?

[2019-05-27 11:25] pabigot commented on #11993
Referencing #12056 which was partly inspired by this.

[2019-05-27 11:28] pfalcon commented on #2336
I'm not sure what this evaluation is based on. There're many multicast-based protocols which work with IPv4, and to receive multicast datagrams, one needs to join a corresponding group.

[2019-05-27 11:44] PhilippFinke commented on #16313
After working with the HAMA dongle, I faced the same issue. I found out, that I had a bug in my custom peripheral FW. There I called a function in the BT connected event, that somehow took too long to process. This caused the error. I think this issue can be closed.

[2019-05-27 11:49] cvinayak commented on #16313
@PhilippFinke you can close it yourself, if no action required on the issue you faced.

[2019-05-27 11:50] #2586 closed

[2019-05-27 11:53] #16313 closed

[2019-05-27 11:55] anangl commented on #15116
This is not a driver issue but the limitation of the hardware. In TWIM peripheral, it is required to provide the buffer to be used and the length of the transfer when starting it, and these two values cannot be later on altered for this particular transfer. Only a new transfer (resulting in generation of the start condition on the bus) can be started with different parameters. This makes it imposs

[2019-05-27 12:53] nashif opened #16411 "bad regex for west version check in host-tools.cmake"
'west --version' output has the path to the west manifest directory along with the version.
If there is a semantic version string in this path name (like when CI tests a tag), it raises
a false version check failure.

[2019-05-27 12:55] nashif opened #16412 "on reel_board the consumption increases because TX pin is floating"
If the board is powered by battery the SoC consumes more
power than expected.
The consumption increases because TX pin is floating
(High-Impedance state of pin B from Dual-Supply Bus Transceiver).

[2019-05-27 12:56] nashif opened #16413 "Missing dependency in cmake"
KOBJ_OTYPE should depend on any changes to the tool that generates it,
gen_kobject_list.py.

[2019-05-27 12:58] nashif opened #16414 "Backport west build --pristine"
Support --pristine on older version to allow for smooth cross-version development using the same tool

[2019-05-27 12:59] nashif opened #16415 "Build errors with C++"
Move includes to outside of the extern "C" statements to fix C linkage
issue.
| /include/misc/util.h:53:1: error: template with C linkage
| template < class T, size_t N >
| ^~~~~~~~

[2019-05-27 13:00] #16375 closed

[2019-05-27 13:00] #16379 closed

[2019-05-27 13:04] nashif opened #16416 "sram size for RT1015 and RT1020 needs to be update."
sram size for RT1015 and RT1020 needs to be update.

[2019-05-27 13:06] nashif opened #16417 "issues with can filter mode set"
Bits are actually shifted by filter number instead of bank number.
This results in wrong mode and filter_index calculation.

[2019-05-27 13:07] jfischer-phytec-iot commented on #15116
This warning was added because TWI(M) does not support it, see 46072632bd2ca23adef6b2bcb4527afe8e55f035

[2019-05-27 13:09] nashif opened #16418 "drivers: watchdog: sam0: check if timeout is valid"
The upper limit of the timeout should not be 0.
tests/drivers/watchdog/wdt_basic_api tests this and fails as the driver currently only checks that the timout does not exceed the upper bound.

[2019-05-27 13:10] nashif opened #16419 "Bluetooth: XTAL feature regression"
Fix regression by the addition of CONFIG_BT_CONN conditional
compilation that disabled the advanced clock (crystal)
oscillator management when only observer and/or advertiser
states supported in the controller build.

[2019-05-27 13:20] erwango opened #16421 "drivers: rtc: stm32: correct tm_mon conversion"
**Describe the bug**
Corrects tm_mon value.
tm_mon valid value interval is [0, 11]
LL_RTC_DateTypeDef.Month valid value interval is [1,12]

Backport of https://github.com/zephyrproject-rtos/zephyr/pull/14488

[2019-05-27 13:22] #16191 closed

[2019-05-27 13:22] #16027 closed

[2019-05-27 15:13] yhvh commented on #16387
@erwango This worked, following the instructions for the f/w version on the board

- Upgraded FUS, then the BLE stack.
- Tested the CRC and HR peripherals on top of #14188 with nRF android application
- Observed notification stream

Thanks!

[2019-05-27 15:47] erwango commented on #16387
Closing (and keeping as reference for future similar question).

[2019-05-27 15:47] #16387 closed

[2019-05-27 17:15] n3rd4i commented on #15916
After setting: `CONFIG_BT_SETTINGS=n`
Things start working:
[code]

[2019-05-27 17:25] #16415 closed

[2019-05-27 17:26] #16419 closed

[2019-05-27 17:26] #16418 closed

[2019-05-27 17:26] #16417 closed

[2019-05-27 17:26] #16416 closed

[2019-05-27 17:26] #16414 closed

[2019-05-27 17:26] #16413 closed

[2019-05-27 17:27] #16412 closed

[2019-05-27 17:27] #16411 closed

[2019-05-27 18:00] greglund opened #16426 "Missing included dependencies in many header files"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.
I'm new to Zephyr, but I'm a fairly seasoned developer on bare metal systems, and C/C++.  I was integrating a piece of software into a zephyr application and was then told by my compiler that I was missing a reference to 'size_t' and that I probably forgot to include stdd

[2019-05-27 18:23] jhedberg commented on #15916
Ok, then once #16405 gets merged there should be a proper fix for this (no need to disable BT_SETTINGS). I'll close this issue now since it's a duplicate of an existing one.

[2019-05-27 18:23] #15916 closed

[2019-05-27 19:09] pabigot opened #16428 "samples/gui/lvgl does not work on PCA10056"
At a minimum the device configuration is confused: the PCA10056 pins in the documentation are for SPI_0, but the code tries to work with SPI_1. The sample was originally developed for the nRF52840 Preview DK, and long before PCA10056 DTS was set up, so maybe that explains it.

After correcting that, and putting a logic analyzer on to confirm that the pins and SPI bus transactions appear sane, the

[2019-05-27 20:27] #14082 closed

[2019-05-27 22:23] jfischer-phytec-iot commented on #16428
Please take a look at #13980. There is an other sample `samples/display/ili9340` and the #13980 fixes a few similar issues.

[2019-05-27 23:24] pabigot commented on #16428
@jfischer-phytec-iot Wow.  OK, that's still screwed up, and may not help me with lvgl, but I'll try to figure it out and post comments there.

[2019-05-28 00:24] pabigot commented on #16428
Things are a bit better with #13980 applied, but it still doesn't work.

I used the nrf52840_pca10056.overlay from #13980, but removing the non-standard override of the SPI pins, a configuration known to work with the new display/ili9340 sample.

With the default `CONFIG_ILI9340_RGB888` and the sample original `CONFIG_LVGL_BITS_PER_PIXEL=24` what I get on the display is strips of white and black,

[2019-05-28 05:05] madandyliu opened #16432 "Weird link error of the console sample!"
**Describe the bug**

The console getline sample works well if I change nothing. But once I modify the linking library sequence in the last step produced by ninja. It still links successful, but the program would fail when executing.

I reproduced this bug on both the qemu_cortex_m3 and my mimxrt1050_evk platform. With both Zephyr SDK 0.10.0 and gcc-arm-none-eabi-7-2018-q2-update toolchains.

**To

[2019-05-28 06:31] aescolar commented on #16426
CC: @jhedberg @galak @nashif

[2019-05-28 06:37] aescolar commented on #16432
CC: @SebastianBoe

[2019-05-28 06:40] jhedberg commented on #16426
I fully agree with this - all public header files should be self-sufficient. @greglund since you already have a list of (some) offending files and what dependencies they're missing, maybe you could create an initial pull request for this?

[2019-05-28 07:34] vanwinkeljan commented on #16428
@pabigot In case of ```CONFIG_ILI9340_RGB888``` the lvgl pixel format is RGBA and ```CONFIG_LVGL_BITS_PER_PIXEL=24``` needs to be set else you will transfer 32-bits per pixel instead of 24-bit.

I will try to have a look next week.

[2019-05-28 08:45] SebastianBoe commented on #16432
Zephyr links in two passes and requires the two passes to place the same code/data at the same place.

The order in which libraries are given to the linker affects where the linker puts them.

Could it be that the requirement of things being placed the same place in both links is violated, and thereby corrupting the build?

Try reproducing this with a build that only does a single linker pass.

[2019-05-28 08:46] SebastianBoe commented on #16432
I want to classify this as a question until the root cause is found, it is not supported to copy GCC/LD commands and move stuff around.

[2019-05-28 08:53] pfalcon commented on #4917
This is serious issue, potentially affecting any existing project ported to Zephyr, e.g. https://github.com/zephyrproject-rtos/zephyr/pull/16427

This is not "enhancement", this is regression introduced during cmake migration.

[2019-05-28 09:32] erwango opened #16436 "Organize generated include files"
**Is your enhancement proposal related to a problem? Please describe.**
We can generate a lot of include files at build, all under `zephyr/include/generated`.
We're generating files that belong to various type: header, linker files, ...

It would be nice to have a sublevel folder hierarchy.
Note: there is already a sublevel `zephyr/include/generated\syscalls`

**Describe the solution you'd like**

[2019-05-28 09:52] nvlsianpu opened #16438 "fs/FCB fs/NVS : requires unaligned flash read-out length capabilities,"
FCB and NVS is implemented in such a way that it ensure that flash API read call is always aligned in read-out offset while read-out len can be unaligned.

So fare this haven't been causing any issue to real hardware, but issue appear on flash drive simulation while check for alignment of read calls was enabled.

Discussion Sniped from #16405 where issue was raised:

The position is aligned. The s

[2019-05-28 10:20] mnkp commented on #15611
The current interrupt configuration done in the Zephyr version of the DTS is not standard and indeed it may be best to remove it. We can always add it back in the future, possibly in a standard form, if the need arises. The easiest way to have the application configure interrupts in a portable way is to define them in terms of pin active, inactive state as in: LEVEL_INACTIVE, LEVEL_ACTIVE, EDGE_TO

[2019-05-28 10:30] mnkp commented on #15611
I'll copy paste my answer from #12651.

In short we don't change the behavior of `gpio_pin_{read|write}` functions. We rename the `GPIO_POL_INV` flag to match Linux DTS and clarify its usage.

[2019-05-28 11:21] ioannisg commented on #9240
@erwango the posted link does not seem to work. Are we sure this issue is still applicable?

[2019-05-28 11:40] pabigot commented on #16428
@vanwinkeljan Thank you.  With a hint from @leewkb4567 I've got this working with `CONFIG_ILI9340_RGB565`  (also needs `CONFIG_LVLG_COLOR_DEPTH=16`), but the default `RGB888` configuration still produces strips of white and black bars.

[2019-05-28 11:49] nvlsianpu opened #16439 "flash: unify read alignment requirements"
### Problem to be covered:
Flash read API implementation have different requirement regards read-out offset and read-out length. These requirements are not precised by any API description.

Most of drivers allow unaligned read,. One driver enforce aligned access in terms on offset and length. One driver requires aligned offset only.

Problem with this diverse behavior cause unwanted complication i

[2019-05-28 11:49] erwango commented on #9240
@ioannisg , doc chapter has been moved, here is the new link:
https://docs.zephyrproject.org/latest/guides/porting/board_porting.html#default-board-configuration

This is still applicable.

[2019-05-28 11:58] anangl commented on #15611
I cannot entirely agree with that. As I recall, one of the reasons for making this GPIO flags cleanup was the need to replace `GPIO_INT_ACTIVE_{HIGH|LOW}` flags used in DTS files to define the active state of buttons and LEDs with something more appropriate (see #10339 and its predecessor #10300). In this context, when we replace `GPIO_INT_ACTIVE_LOW` with `GPIO_ACTIVE_LOW` we change the behavior

[2019-05-28 12:25] Laczen commented on #16438
@nvlsianpu, I propose a different solution: During the initialisation of fcb/nvs a check is performed on the flash requirements (i.e. for nvs try a read with unaligned length), if this check fails the initialisation fails with error code -ENXIO or -ENOTSUP.

Whatever flash device is added later on, and whatever it's possibilities are, it is clear that nvs/fcb will not work.

[2019-05-28 12:51] rakons opened #16444 "drivers/flash/flash_simulator: Support for required read alignment"
**Is your enhancement proposal related to a problem? Please describe.**
As it was suggested in #16405 PR, we should be able to simulate specific FLASH memory that has a requirement to read alignment in start address and the size separately.

@Laczen:

I also think that such simulator to be complete should have separate settings for the required READ alignment, something like: ```FLASH_SIMULATOR_PR

[2019-05-28 13:07] Laczen opened #16446 "Flash simulator: flash properties"
## Introduction

The flash simulator allows users to simulate flash and the development of new systems that are using flash using qemu_x86. The properties of the flash under simulation are described by the flash simulator configuration.

### Problem description

In PR #16405 the flash simulator was changed to add a configuration option to allow unaligned read access. This change does not address t

[2019-05-28 13:30] Laczen commented on #16444
I created a new issue while you where making this one.

[2019-05-28 13:35] rakons commented on #16444
Could you add to the #16446 the idea to separate required alignment values between reading and writing. I can image a memory that requires, for example, an alignment of 8 to write and 4 to read. Also please use ```#``` at the beginning of PR numbers and issues numbers to allow github engine to link them correctly.

Then this issue may be closed as duplicated.

[2019-05-28 14:10] hwagner66 commented on #15171
I am retrying the test with 13 tx buffers and using bt_gatt_notify to throttle the enqueing of msgs.  Will let you know of results.
Any other thoughts come to mind?

[2019-05-28 14:21] Laczen commented on #16438
@nvlsianpu, included is a patch for nvs that checks for the unaligned read length size and also adds a check if the filesystem offset is aligned.  As you know I am no longer creating PR's. This will however make the nvs test fail with standard simulator settings. The nvs test must have been very lucky not to do any unaligned read.

[nvs_patch.txt](https://github.com/zephyrproject-rtos/zephyr/files

[2019-05-28 14:36] alexanderwachter opened #16452 "drivers: ethernet: stm32, sam, mcux: LAA bit not set"
**Describe the bug**
Random generated MAC addresses flip the wrong bit for LAA.
The LAA bit is the second bit in the first OUI byte, not the last byte in the NIC specific part.
Generally all assigned addresses should have the LAA bit set when using the vendo's OUI not only random generated.

**Impact**
MAC address looks like it is UAA address but is LAA.

[2019-05-28 14:52] cvinayak commented on #15171
@hwagner66 i am trying to fix my broken shell app before I start trying to reproduce the behaviors you are seeing. Please bare with the delay.

[2019-05-28 14:58] hwagner66 commented on #15171
Not a problem.

From: Vinayak Kariappa Chettimada <notifications@github.com>
Sent: Tuesday, May 28, 2019 9:52 AM
To: zephyrproject-rtos/zephyr <zephyr@noreply.github.com>
Cc: hwagner66 <henry.wagner@lairdtech.com>; Mention <mention@noreply.github.com>
Subject: Re: [zephyrproject-rtos/zephyr] BLE Throughput (#15171)

EXTERNAL EMAIL: This email originated outside of Laird. Be careful with attachment

[2019-05-28 15:02] #15909 closed

[2019-05-28 15:21] pfalcon opened #16453 "sockets: getaddrinfo: AF_UNSPEC handling was recently broken"
From https://github.com/zephyrproject-rtos/zephyr/pull/15210#issuecomment-496562532 :

[2019-05-28 16:13] PhilippFinke commented on #16278
@carlescufi any news here or still all quiet on the western front?

[2019-05-28 17:23] vanwinkeljan commented on #16428
RGB888 problem is reproducible with native_posix board so it is not ILI9340 display driver related

[2019-05-28 17:23] ioannisg commented on #16432
@SebastianBoe could this Question, now, be closed?

[2019-05-28 18:04] hwagner66 commented on #15171
@cvinayak Modified central to use CONFIG_BT_CTLR_TX_BUFFERS=13 and counting semaphore on tx buf msgs.  Performance was nearly identical to prior test using CONFIG_BT_CTLR_TX_BUFFERS=19 and no counting semaphore. Both tests used uniform random message sizes and 100mS connection interval.  See graph in attached PDF (yellow latest test vs blue prior test).
[BLE throughput vs connections 13Tx buf sem.

[2019-05-28 19:06] pfalcon commented on #16452
@alexanderwachter: Can you please update the title of this ticket to correspond to the bug reported?

[2019-05-28 21:58] ulfalizer commented on #16436
The naming seems a bit redundant at the moment, like `zephyr/include/generated/generated_dts_board_fixups.h`. I wonder if it could just be `zephyr/include/dts_board_fixups.h`, since it's easy to understand that it's generated anyway when it's in the build directory.

Flat hierarchies are nice, IMO, and avoiding directories that only have another directory in them (like `zephyr/include/`, which onl

[2019-05-29 04:03] hakehuang opened #16463 "tests/subsys/settings/fcb_init fails on second run"
**Describe the bug**
build the tests/subsys/settings/fcb_init application, run and test_init fails

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f ..
3. make
4. See error

**Expected behavior**
the setting_fcb test can PASS

**Impact**
settings fcb can not work

**Screenshots or console output**
[code]

**Environment (please complete the follo

[2019-05-29 04:03] madandyliu commented on #16432
@SebastianBoe Yes, it's the problem.

The first linking pass generates `zephyr_prebuild.elf`, and a python script would generate the `isr_tables.c` based on it. Different library sequence would affect the generated `isr_tables.c`. So the library sequence in the second linking pass have to be exact the same with the first one.

Thank you for your explanation. It had confused me for a full day : )

[2019-05-29 04:04] #16432 closed

[2019-05-29 04:05] hakehuang commented on #16463
@MaureenHelm @henrikbrixandersen

[2019-05-29 06:14] gamnes commented on #12239
I think this issue can be closed now, @tg-- ?

[2019-05-29 06:53] erwango commented on #16436
What about `zephyr/include/dts/board_fixups.h` then ? ;-)

Agreed, not sure the `include` makes any sense here (besides we can find .c and .ld files in it).

[2019-05-29 07:21] ioannisg commented on #16160
This Coverity issue does not appear any more in the Coverity report.
I suppose, you can close this @aasthagr ?

[2019-05-29 07:21] ioannisg commented on #16161
This issue number does not appear in the Coverity report any more. I suppose this can be closed, @aasthagr ?

[2019-05-29 09:36] Qbicz opened #16470 "Superfluous USB suspend after USB configured"
**Describe the bug**
After settings up USB communication, additional SUSPEND status occurs. This is normally a signal to stop HID communication and causes our application to stop sending HID data.

Bug occurs after re-plugging the USB or plugging it after Zephyr started. When the USB cable is attached during firmware startup, superfluous suspend will not occur.

**To Reproduce**
Found originally o

[2019-05-29 09:38] Qbicz commented on #16470
FYI @barsok

[2019-05-29 09:51] carlescufi commented on #16223
Thanks @ydamigos. A workaround PR has been posted by @finikorg here: https://github.com/zephyrproject-rtos/zephyr/pull/16274

This workaround would not be needed if you get to the bottom of the issue in the driver, so please let us know if we should merge the workaround or wait for  a fix from you.

[2019-05-29 10:03] Qbicz commented on #16470
I did a short travel in time:
v1.14.0 cebe11544ebe : problem does not happen
May 12th b0bc68e85e9e9f : problem exists
current master (May 29th) 8de64fcb81dcc23 : problem does not happen

Tested on `usb/hid` sample.

There has been some regression - and we have bumped into it. It would be good to at least find out why this bug occured.

[2019-05-29 10:42] Laczen opened #16472 "tinycrypt ecc-dh and ecc-dsa should not select entropy generator"
## Introduction

Tinycrypt provides support for ecc-dh and ecc-dsa.

### Problem description

When ecc-dh or ecc-dsa are selected the entropy driver is selected. There is no need for this, ecc-dh and ecc-dsa depend on a random generator but this is not provided by the entropy driver.

The addition of the entropy driver is just adding flash usage.

Even in the case entropy driver would provide a ra

[2019-05-29 10:53] carlescufi commented on #16278
@PhilippFinke I bisected this today to find the culprit, which is ce6be8600ba3df3d91b8f121f27cd60bd0f46c6f. This needs to be fixed of course, but in the meantime if you want you can disable the shell and use the UART mcumgr transport instead, by using the following in the `prj.conf`:

[code]

[2019-05-29 10:59] carlescufi commented on #16278
This patch fixes the issue when using the shell transport instead of the UART one but I am sure it is not correct as it stands:

[code]

[2019-05-29 11:48] aescolar commented on #16472
@lpereira Any thoughts?

[2019-05-29 12:05] carlescufi commented on #15611
@mnkp @anangl
My suggestion here would be to:

* Deprecate `GPIO_POL_INV` so that we get rid of the pseud-logical behavior of the read/write functions
* Leave `gpio_pin_read/write` as they are, physical and using the `*value`
* Add 4 new functions, all using `__ASSERT()`:
  * `bool gpio_pin_get(*port, pin)` which returns the logical value as a return param
  * `void gpio_pin_set(*port, pin, value)

[2019-05-29 12:17] MarekPieta opened #16478 "Bluetooth: Improper bonded peers handling"
**Describe the bug**
Got double bonds after connection and security establishment with host. One of the bonds disappears after device reset.

**To Reproduce**
After advertising, connecting and pairing on one identity, called bt_unpair for another identity. There were two bonds present for identity where connection occurred (representing the same host - Windows 10). Host saw only one paired and con

[2019-05-29 12:37] henrikbrixandersen commented on #16463
***** Booting Zephyr OS zephyr-v1.14.0-1117-g93fb695244c6 *****
Running test suite test_initialization
===================================================================
starting test - test_init
PASS - test_init
===================================================================
Test suite test_initialization succeeded
===================================================================
PROJECT E

[2019-05-29 12:45] henrikbrixandersen commented on #16463
@hakehuang It works for me on 59c8c9930d0b27e2a53e05cd5947cbe7f8bc800b.

I cannot find the commit SHA, you mention?
[code]

[2019-05-29 12:53] PhilippFinke opened #16482 "mcumgr seems to compromise BT security"
## Introduction

I'm using a nrf52840 based custom peripheral in my project where I can upload FOTAs via mcumgr under Linux. My peripheral requests security (Mode 1, Level 4 with fixed passkey) after a connection request. All my peripheral's Characteristic and Descriptors are authenticated read/write only, except the mcumgr SMP BT service.

If I want to connect to the peripheral I get asked for th

[2019-05-29 12:57] anangl commented on #15611
@carlescufi
I was thinking about similar names for these new functions, but I wasn't sure if `_get` and `_set` would not be too general, so I thought that maybe `_state_{get|set}` could work, but actually these didn't convince me fully either. And so far I couldn't come up with anything better.
Anyway, your proposal looks good to me. With one correction, `gpio_port_set` should take 3 parameters: `

[2019-05-29 13:15] pabigot commented on #15611
@anangl @carlescufi `gpio_pin_{assert,deassert}` as with https://github.com/zephyrproject-rtos/zephyr/pull/11880#issuecomment-459641859?  I believe it's understood that "assert" means logic true and "deassert" logic false.

In any case, I think you're running into the same problems that killed #11880: we can be backward compatible, or we can match Linux/DTS API.  Because `GPIO_POL_INV` wasn't clea

[2019-05-29 13:24] rmstoi opened #16483 "net: ipv6: udp: Zephyr replies to datagram with illegal checksum 0"
Upon reception of a IPv6 UDP datagram with illegal checksum 0, Zephyr sends reply with setting checksum to 0xffff. According to RFC 2460 "IPv6 receivers must discard UDP packets containing a zero checksum, and should log the error."

[udpv6-checksum-0000-reply.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3232635/udpv6-checksum-0000-reply.pcap.gz)

[2019-05-29 13:24] aescolar commented on #16482
CC @carlescufi @jhedberg

[2019-05-29 13:28] carlescufi commented on #16482
By default mcumgr does not require bonding or encryption. I am not sure the mcumgr code includes the necessary handlers to enable security. This should be made configurable in my opinion in any case.

[2019-05-29 13:32] jhedberg commented on #16478
Could you provide some more information? Is either of the devices using privacy? By "identity" I suppose you're talking of the remote identity, since we also have a multi-identity feature for peripheral role (in which case identity is used to refer to the local identity).

[2019-05-29 13:33] jhedberg commented on #16478
Also, what do you mean by getting "double bonds"? Two instances of a bt_keys struct?

[2019-05-29 13:33] szymonnnm commented on #16145
Hello again, I've reported the issue with `otNetworkTimeGet` in the OpenThread repository [here](https://github.com/openthread/openthread/issues/3832) - the bug has been fixed and merged into master among many other fixes since then.
I've been trying to use the master branch of the OpenThread repo in my Zephyr application but it turns out that there have been a lot of other changes that cause Zeph

[2019-05-29 13:37] carlescufi commented on #16482
Also @PhilippFinke remember that the image signature will be checked by the bootloader and if the signature is not valid it will not be swapped, so a malicious attacker couldn't override the firmware.

[2019-05-29 13:38] MarekPieta commented on #16478
By identity I meant local identities for peripherial role device. Devices are not using privacy.
By double bonds I meant two instances of bt_keys struct for the same connected host (still host sees one device).

[2019-05-29 13:39] PhilippFinke commented on #16482
@carlescufi, this is true. But isn't there a possibility to download the firmware?

[2019-05-29 13:43] jhedberg commented on #16478
Thanks for the clarifications, however it's still a bit unclear how I should reproduce this. Could you perhaps provide a set of Bluetooth shell commands that will reproduce this (the shell supports using multiple identities)

[2019-05-29 13:47] PhilippFinke commented on #16278
@carlescufi I switched to the UART based implementation. This is totally sufficient to me, because I don't need a UART console anyway. Thanks!

[2019-05-29 13:47] #16278 closed

[2019-05-29 13:50] nashif opened #16487 "tests/kernel/timer/timer_api/kernel.timer constantly fails in CI on qemu-xtensa"
[code]

[2019-05-29 13:54] carlescufi commented on #16482
Yes, you will experience a Denial-of-Service type of attack: the attacker will be able to upload an image and reboot your device, but then it will revert back to the original image once the bootloader detects that the signature is incorrect. That said, I am hoping @joerchan can add a Kconfig option that enable security on this particular GATT service.

[2019-05-29 13:56] PhilippFinke commented on #16482
This is not what I mean. I mean downloading the fw image from the peripheral.

This would permit an attacker to copy my fw to a cloned hardware of our product.

[2019-05-29 13:57] rlubos commented on #16145
Hi @szymonnnm,

Indeed the OpenThread RNG API's were redesigned recently, so in order to update OT version in Zephyr it will need to be reimplemented on the Zephyr side - I do not see a way to avoid that. Especially, that the API update was merged **before** the change you're interested in. So if you have time, contributions are welcome :)

The cherry-pick approach should work though, especially t

[2019-05-29 13:59] MarekPieta commented on #16478
Btw. Maybe problem can be related to bt_keys_get_addr implementation.
As I noticed, we create and return new key when we find empty one in array before we find the one which is already created for given identity and peer address (when we remove we may remove any key).
Is it ok ? Maybe we could change it to two loops so we will ensure that we will find key if it already exists.

[2019-05-29 14:01] carlescufi commented on #16482
Yes, but adding BLE security wouldn't help you there would it? because at the end of the day the attacker could still bond with the central/phone and then download if they have control of both ends.

[2019-05-29 14:05] PhilippFinke commented on #16482
But in this case he must know my fixed passkey to connect and pair to the device in the first place.

[2019-05-29 14:11] jhedberg commented on #16478
@MarekPieta yes that sounds reasonable. The bt_keys_get_addr() was implemented before we had unpair support, IIRC, i.e. back then it was not possible to have "gaps" in the keys array.

[2019-05-29 14:29] jhedberg commented on #16478
@MarekPieta btw, instead of iterating twice, you could consider using similar "free slot" tracking as what `va_add()` in `mesh/cfg_srv.c` does: https://github.com/zephyrproject-rtos/zephyr/blob/974231ee6e29223c5498f1281523aabf8fb62a33/subsys/bluetooth/host/mesh/cfg_srv.c#L1158-L1180

[2019-05-29 14:45] carlescufi commented on #16482
Ah, if  you use a fixed passkey then you should be safe.

[2019-05-29 14:55] PhilippFinke commented on #16482
I did some further research on this issue.

I copied the content of smp_bt.h and smp_bt.c and changed the permissions of the single characteristic in the SMP service from BT_GATT_PERM_WRITE to BT_GATT_PERM_WRITE_AUTHEN.

When I run mcumgr now, I always get an Insufficient authetication error, which makes sense. I'm running simple-agent on my Linux machine as global agent, that asks me to enter the

[2019-05-29 15:06] ranbochen commented on #8469
any update?

[2019-05-29 15:50] ydamigos commented on #16223
@carlescufi It depends how long you can wait. I work on Zephyr on my spare time and I cannot make any promises when it will be fixed.

[2019-05-29 15:57] carlescufi commented on #15611
@pabigot @anangl @mnkp
Now we're getting into personal preference territory, but I honestly think that `assert,deassert` is less clear than `get,set`. Looking at other APIs I can also propose:

* `bool gpio_pin_get_level(*port, pin)` which returns the logical value as a return param
* `void gpio_pin_set_level(*port, pin, value)`
* `u32_t gpio_port_get_levels(*port)`
* `void gpio_port_set_levels(*p

[2019-05-29 17:09] aasthagr opened #16492 "[Coverity CID :198644]Incorrect expression in /tests/drivers/uart/uart_async_api/src/test_uart_async.c"
Static code scan issues seen in File: /tests/drivers/uart/uart_async_api/src/test_uart_async.c
 Category: Incorrect expression
 Function: test_write_abort
 Component: Tests
 CID: 198644
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-29 17:09] aasthagr opened #16493 "[Coverity CID :198640]Resource leaks in /tests/net/socket/register/src/main.c"
Static code scan issues seen in File: /tests/net/socket/register/src/main.c
 Category: Resource leaks
 Function: test_create_sockets
 Component: Tests
 CID: 198640
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-29 18:43] #14652 closed

[2019-05-29 20:38] aasthagr commented on #16493
*** CID 198640:    (RESOURCE_LEAK)
/tests/net/socket/register/src/main.c: 225 in test_create_sockets()
219     {
220     	int i, fd, ok_tests = 0, failed_tests = 0;
221
222     	for (i = 0; i < ARRAY_SIZE(expected_result); i++, current_test++) {
223     		errno = 0;
224

225     		fd = socket(expected_result[i].test_case.family,
226     			    expected_result[i].test_case.type,
227     			    expe

[2019-05-29 20:38] aasthagr commented on #16492
*** CID 198644:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/drivers/uart/uart_async_api/src/test_uart_async.c: 295 in test_write_abort()
289
290     	uart_rx_enable(uart_dev, rx_buf, sizeof(rx_buf), 50);
291
292     	uart_tx(uart_dev, tx_buf, 5, 100);
293     	zassert_equal(k_sem_take(&tx_done, 100), 0, "TX_DONE timeout");
294     	zassert_equal(k_sem_take(&rx_rdy, 100), 0, "RX_RDY timeout"

[2019-05-29 21:17] yerabolu opened #16501 "Code Coverage for qemu_x86 is not getting generated due to a build error"
**Describe the bug**
While running the below command for code coverage the tests on qemu_x86 are failing due to a build error. Tests are passing while running sanity check with out the code coverage option.

~/zephyr/scripts/sanitycheck --coverage --coverage-platform qemu_x86 -p qemu_x86 --coverage-platform qemu_x86_nommu -p qemu_x86_nommu --gcov-tool /opt/zephyr-sdk/i586-zephyr-elf/bin/i586-zephy

[2019-05-30 05:02] #16483 closed

[2019-05-30 08:45] mnkp commented on #15611
Thanks @carlescufi for the proposal. Nice selection!

Since we are getting into personal preference territory regarding naming I'll make my statement. I like very much the first proposal: `gpio_pin_get`, `gpio_pin_set`, `gpio_port_get`, `gpio_port_set`. The function names are short and to the point. They should become the most used GPIO API functions so it's better to keep them short. IMHO the `le

[2019-05-30 09:25] anangl commented on #15611
While I agree with @pabigot that `gpio_pin_{assert,deassert}` would indicate the purpose of these functions in perhaps the clearest way, I see a disadvantage of such approach. We'd have separate functions for setting active and inactive pin levels, while `set` handles both cases. I think it matters especially for ports, where it will be convenient to have the possibility of setting a selected grou

[2019-05-30 10:15] hakehuang commented on #16463
sorry, it the master branch the SHAshall be e72e457360ffa8b07f29f6a5ce496a62d7ceb253

[2019-05-30 10:47] hakehuang opened #16506 "tests/posix/fs missing ff.h"
**Describe the bug**
ff.h file missing

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
can build pass

**Impact**
fat fs supporting

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - OS: (e.g. Linux)
 - Toolchain (e.g Zephyr SDK, ...)
 - Commit

[2019-05-30 11:00] mnkp commented on #15611
Yes, the port functions should include an extra parameter
- `u32_t gpio_port_get(*port, mask)`
- `void gpio_port_set(*port, mask, value)`

[2019-05-30 11:06] hakehuang opened #16508 "tests/subsys/storage/flash_map Instruction bus error on frdmk64 board"
**Describe the bug**
  Instruction bus error, when executing this test

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f ..
3. make
4. See error

**Expected behavior**
pass

**Impact**
flash storage usage

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux, MacOS, Windows)
 -

[2019-05-30 11:06] hakehuang commented on #16508
@MaureenHelm

[2019-05-30 11:07] anangl commented on #15611
I'm not sure about `gpio_port_get`. Callers of the function can mask the obtained value on their own, if needed. Do you see some additional benefit of masking the value inside the driver?

[2019-05-30 11:21] #16478 closed

[2019-05-30 11:26] mnkp commented on #15611
I believe it will make the API more consistent and easier to use.

[2019-05-30 11:36] carlescufi commented on #15611
I've updated `port_set()` to take a value.
I have no preference regarding `port_get()`.

[2019-05-30 11:42] anangl commented on #15611
I just thought it might be considered an unnecessary overhead when there would be no need of any masking at this point (for example, when there are more groups of pins in this port which need to be later on masked separately). But that's fine for me. Consistency is important, too.

[2019-05-30 11:47] pabigot commented on #15611
If you do:
* `u32_t gpio_port_get(*port)`
* `void gpio_port_set(*port, set_bits, clear_bits)`

you don't need need the mask on the read, and you get a slightly more powerful operation that I personally think is more clear than "set to this value, oh, but ignore everything but these bits".  (I use this in my APIs, with the semantics that a bit set in both `set_bits` and `clear_bits` is inverted fro

[2019-05-30 12:04] carlescufi commented on #15611
I like this proposal for the port, thoughts @mnkp and @anangl ?

[2019-05-30 12:54] #11535 closed

[2019-05-30 13:31] anangl commented on #15611
Looks reasonable. These parameters will actually directly provide values that will be written to hardware registers in many drivers. And we still can provide the functionality of setting `(*port, mask, value)` with some wrapper if it turns out to be useful for cases that utilized `gpio_port_write` previously, like [this one](https://github.com/mnkp/zephyr/commit/67d307bc1f752fb11a374f8364dc583869a

[2019-05-30 13:33] #16428 closed

[2019-05-30 13:40] #15763 closed

[2019-05-30 13:46] #14123 closed

[2019-05-30 13:54] hwagner66 commented on #15171
@cvinayak  Any thoughts or progress on this issue?  If there is something more I should look at in my code or configuration, or to check behavior in the stack, please let me know.  I need to give an update to my customer today and any progress would be helpful in that regard.

[2019-05-30 14:03] wentongwu commented on #16501
it seems this change just consider Arm platform, we should also take care x86. I'm cooking the patch for this issue.

[2019-05-30 16:59] szymonnnm commented on #16145
@rlubos Okay, thank you very much, I think it works now.

Besides defining `OPENTHREAD_CONFIG_ENABLE_TIME_SYNC` in `subsys/net/lib/openthread/platform/openthread-core-zephyr-config.h` I also had to add the following platform functions to `subsys/net/lib/openthread/platform/alarm.c` so the OpenThread would be able to use them:
[code]
I defined `XTAL_ACCURACY` as `40` because (snippet from OpenThrea

[2019-05-30 16:59] #16145 closed

[2019-05-30 17:00] jli157 commented on #15497
@carlescufi @jfischer-phytec-iot checked again on the same board. It works well now: I can list out two partitions and download an image file to the board. Thank you!

[2019-05-30 17:00] #15497 closed

[2019-05-30 18:10] henrikbrixandersen commented on #16463
@hakehuang Have you tried erasing the entire flash before running this test? From a quick glance it seems that the test would fail the second time it is run without erasing the flash beforehand.

[2019-05-30 18:47] iod opened #16518 "USB_UART_DTR_WAIT not working on nrf52840_pca10059"
USB_UART_DTR_WAIT no longer working on nrf52840_pca10059 after commit 3880a42

[2019-05-30 19:08] carlescufi commented on #16518
@iod can you please post which sample you are using, and how you are flashing the sample?

[2019-05-30 20:08] iod commented on #16518
src/main.c
[code]

prj.conf
[code]

flashed: with nrfutil dfu usb-serial to nrf52840_pca10059

expected: to be able to connect to device which prints hello usb

actual: ttyACM device no longer shows up after flash

[2019-05-30 20:29] szundi commented on #1205
This is an issue for me too, i have to use -fpermissive, with that it works, but... it's permissive :)

[2019-05-30 21:13] #16508 closed

[2019-05-31 02:26] icephyr opened #16519 "USAGE FAULT occurs when i2c_write is called"
Hi guys, I am trying to add a sensor driver into zephyr project. The sensor is a pressure sensor named ICP10100 from Invensense, TDK.  The sensor is connected with nRF52832 with I2C.
But USAGE FAULT occurs when I tried to write data to the sensor with the API i2c_write. Here is the detail:
1)During the init flow, I'd like to reset the sensor first. According to the datasheet of ICP10010, I need to

[2019-05-31 02:32] icephyr commented on #16519
Here is the driver init flow codes， maybe it can help to analyze this problem.

static int icp10100_chip_init(struct device *dev)
{
	unsigned char data_write[10];
	unsigned char data_read[10] = {0};
	int status = 0;
	int out;
	data_write[0] = 0x80;
	data_write[1] = 0x5D;
	status = i2c_write(dev, data_write, 2, DT_INV_ICP10100_0_BASE_ADDRESS);
	if (status)
	{
		printk("i2c_write failed \n");
		retu

[2019-05-31 03:16] hakehuang commented on #16463
@henrikbrixandersen , you are right, but this seems the fcb has problem, it supposes to erase the fcb area, before usage.

[2019-05-31 06:10] rlubos commented on #16145
@szymonnnm If you have internet connectivity (which I assume you have via border router) you can try to use SNTP, there's an API in Zephyr for that, see https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/net/sockets/sntp_client/src/main.c and https://github.com/zephyrproject-rtos/zephyr/blob/22f1a29185bbf6b2547103967c8e725cdb51ffa6/subsys/net/lib/sntp/sntp_simple.c. The latter should

[2019-05-31 07:38] mnkp commented on #15611
Interesting. I'll need to have a look at how such an API plays with bit-banging implementations on the application level. There should be a few in Zephyr codebase. For now in the PR I'm preparing I'll implement pin versions only. It's going to be a lot of work anyway. Now that we've chosen the names we can add port versions later.

[2019-05-31 07:51] lowlander commented on #2336
Most managed switches I have worked with need a IGMP join before they forward multicast IPv4 UDP packets to that switch port. Sending is not a problem, but without IGMP join you will not receive any multicast packets.

[2019-05-31 08:11] ioannisg commented on #16160
Seems to have been fixed by commit 1202407

[2019-05-31 08:11] ioannisg commented on #16161
Seems to have been fixed by 1202407

[2019-05-31 08:12] #16161 closed

[2019-05-31 08:12] #16160 closed

[2019-05-31 08:47] finikorg commented on #16518
I tested `samples/subsys/usb/console` with `reel_board`, works as before.

[2019-05-31 09:07] hakehuang opened #16524 "FXOS8700 is not well supported in twr_ke18f"
**Describe the bug**
enable the i2c_api test with attached patch, I find that the twrke18f board missing defines the int2 gpio for the FXOS8700_0

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=twr_ke18f ..
3. make
4. See error

**Expected behavior**
missing in2_gpio define on twrke18f board

**Impact**
What impact does this issue have on your progress

[2019-05-31 09:08] pdunaj commented on #15570
any news?

[2019-05-31 09:08] hakehuang commented on #16524
@henrikbrixandersen  @MaureenHelm

[2019-05-31 09:10] hakehuang commented on #16524
[0001-enalbe-i2c_api-for-twrke18f.zip](https://github.com/zephyrproject-rtos/zephyr/files/3240574/0001-enalbe-i2c_api-for-twrke18f.zip)

[2019-05-31 09:14] hakehuang commented on #16524
need config CONFIG_FXOS8700_TRIGGER_NONE=y

[2019-05-31 09:21] hakehuang commented on #16524
[0001-enalbe-i2c_api-for-twrke18f.zip](https://github.com/zephyrproject-rtos/zephyr/files/3240616/0001-enalbe-i2c_api-for-twrke18f.zip)

[2019-05-31 09:46] carlescufi commented on #16519
@anangl can you see if you spot anything obvious?

[2019-05-31 09:52] hakehuang commented on #16524
seems the device driver changed, I need update my test settings

[2019-05-31 09:52] #16524 closed

[2019-05-31 10:26] anangl commented on #16519
Yes.

@icephyr
The `dev` pointer passed to `icp10100_init` is the pointer to the `struct device` you created for the sensor (the one initialized with `DEVICE_AND_API_INIT(icp10100, ...`). You pass it to `icp10100_chip_init` and then you use it in the call to `i2c_write`. It's wrong, it's a different kind of device. You need to use an I2C device in this call.
See for instance how the tmp007 sensor

[2019-05-31 11:33] henrikbrixandersen commented on #16524
The first part of handling this was already submitted in #16116.

[2019-05-31 12:02] carlescufi commented on #16518
@iod for completeness, can you please test `samples/subsys/usb/console` on this board to see if this is an issue there?

[2019-05-31 13:26] lemrey commented on #16518
Have tested `samples/subsys/usb/console` on `nrf52840_pca10059`, without the nRF5 booatloder.
The device shows up and I get the expected output on the console.

[2019-05-31 13:35] anangl commented on #16470
I tried to replicate the issue on the `usb/hid` sample, and although I haven't seen the extra status 5 message, the sample indeed stopped to work after reconnecting the cable - only one report was sent after `USB_DC_CONFIGURED` status notification, but then no more reports appeared because the `.int_in_ready` callback was not called. And after searching a bit in git log, I found that commit 1370f1

[2019-05-31 13:42] carlescufi commented on #16518
I tested `samples/subsys/usb/console` on `nrf52840_pca10059` with the nRF5 bootloader flashing with `nrfutil` and it works fine

[2019-05-31 13:53] iod commented on #16518
I have narrowed it down to CONFIG_USB_UART_DTR_WAIT=y that seems to be not working.
@findlayfeng maybe you can add that to the sample to retest?

[2019-05-31 14:02] ioannisg commented on #15135
I am not sure how critical this is for ARM, since context-switch executes on lowest priority, anyway. :)
There's value here, of course.

[2019-05-31 14:10] ioannisg commented on #13913
Any solution we pick here, @aurel32 will eat at least one MPU region, AFAICS.

[2019-05-31 14:34] gon1332 opened #16529 "LTS 1.14.0: sanitycheck: Cannot identify OOT boards and shields"
**Describe the bug**
_sanitycheck_ cannot find OOT boards and OOT shields, even if `--board_root` is explicitly defined.
Everything is tested on 1.14.0 with https://github.com/zephyrproject-rtos/zephyr/commit/d4163bc17ec4c2779b2e53a6d14cca3986d65d1d cherry-picked from v1.14-branch.

The project is a west-T2 star topology.
The main project is the manifest and has zephyr and other projects as 3rd-pa

[2019-05-31 14:44] ioannisg commented on #16529
@SebastianBoe FYI

[2019-05-31 14:48] ioannisg commented on #16519
@icephyr can you check whether the reply covers your concerns/questions? (if so, you could close this issue)

[2019-05-31 14:49] #16501 closed

[2019-05-31 14:50] #16224 closed

[2019-05-31 15:31] loicpoulain commented on #15622
Well I close this 'issue' since It can be done via code relocation config.

[2019-05-31 15:31] #15622 closed

[2019-05-31 15:39] #16234 closed

[2019-05-31 18:28] kubiaj commented on #13913
Hi,
I dont know. However Im almost convinced that the only one good solution might be to temporarily enable MPU_MPU_FLASH_WRITE or temporarily disable MPU. I have discovered that the Nordic driver behave in the same way.

[2019-05-31 20:04] #15827 closed

[2019-05-31 20:18] aurel32 commented on #13913
Agreed, we still need to keep one region for the program execution and then we need a new region to program the flash.

The behavior is not at the flash driver level, but at the MPU level. Therefore the behavior is the same for all SoCs.

[2019-05-31 20:28] carlescufi commented on #16518
@finikorg any idea why this particular configuration would have stopped working?

[2019-06-01 00:29] nashif commented on #13574
@nvlsianpu ping

[2019-06-01 00:58] nashif commented on #16506
did you run 'west update'?

[2019-06-01 09:22] icephyr commented on #16519
thank you guys， I will check it tomorrow and confirm

[2019-06-01 14:31] nashif commented on #12129
This request was voted on and was rejected by the TSC (22 May 2019)

[2019-06-01 14:31] #12129 closed

[2019-06-01 14:34] nashif opened #16539 "include/ directory and header cleanup"
First Phase: Namespacing
=========================

Move /include/ to /zephyr/include

#include <zephyr/spi.h>

**This proposal was rejected by the TSC.**

Also see https://github.com/zephyrproject-rtos/zephyr/issues/12129

Add an /include/zephyr.h that includes everything in /include/zephyr/*

Second Phase: Structure Cleanup
================================

Clean up the folder structure everywhe

[2019-06-01 14:36] nashif commented on #16539
Also see:

- [ ] https://github.com/zephyrproject-rtos/zephyr/issues/16426

[2019-06-01 16:48] henrikbrixandersen commented on #2984
How come this was closed? It is still an issue as Zephyr is only able to use half the SRAM present in e.g. the K6x and KE1xF SoCs.

[2019-06-02 05:44] icephyr commented on #16519
Hi guys,
    yes, @anangl is right. I passed the wrong parameter to I2C_write. I mistook the API definition, because they have the same structure definition. Now it works after the parameter is revised.

Thanks for your help @carlescufi @anangl

[2019-06-02 05:44] #16519 closed

[2019-06-02 15:48] nashif commented on #11717
@marc-hb I tried with OVMF_CODE.fd, but it does not work or boot into qemu. This is the one I copied from the ovmf package:

`/usr/share/edk2/ovmf-ia32/OVMF_CODE.fd`

Any hints?

[2019-06-02 15:49] nashif commented on #16185
fixed in #16183

[2019-06-02 15:49] #16185 closed

[2019-06-02 15:54] nashif commented on #13749
AFAIK, it is already removed.

[2019-06-02 15:54] #13749 closed

[2019-06-02 15:55] nashif commented on #12728
This is now covered in the Modules section in the guide.

[2019-06-02 15:55] #12728 closed

[2019-06-02 19:31] henrikbrixandersen opened #16544 "drivers: spi: spi_mcux_lpspi: inconsistent chip select behaviour"
**Describe the bug**
The MCUX LPSPI SPI driver handles SPI chip selects inconsistently when comparing GPIO CS and "native" controller CS handling over multipart transfers.

With GPIO CS enabled (where the LPSPI controller does not control the CS line), the CS line is kept asserted through the entire transfer. This is opposed to what happens when the CS line is controlled by the LPSPI controller it

[2019-06-03 04:13] hakehuang commented on #16506
update west can fix this issue.

[2019-06-03 04:13] #16506 closed

[2019-06-03 06:54] Laczen commented on #16482
@PhilippFinke, have you considered using encrypted firmware? In that case the communication channels used to send the firmware can be insecure. When moving from slot 1 to slot 0 the firmware is decrypted, when moving from slot 0 to 1 the firmware is encrypted. If you download the firmware from the device you would get an encrypted firmware. Only a bootloader that can derive the encryption key is c

[2019-06-03 08:45] nkaramolegos commented on #3399
Hello, Can somebody give as some more information on how to implement this? I am coming from contiki. Can I base on contiki and make some changes to support zephyr?

[2019-06-03 09:06] PhilippFinke commented on #16482
Hey @Laczen,

I'm already using encrypted FW to prevent users from uploading their own custom FWs. But does this prevent an attacker to simply download my bootloader and flash it to his own board? In this case he would be able to use my FW.

[2019-06-03 09:24] Laczen commented on #16482
@PhilippFinke, you are right. But if a attacker can get your bootloader from your board also the combination of bootloader and firmware can be downloaded (and programmed on a new device). A secure communication channel for the upgrade does not solve this. The bootloader should be protected against readout and all jtag/swd communitcation interfaces should be disabled.

[2019-06-03 11:03] anangl commented on #16518
I can only confirm that the problem seems to be the option `CONFIG_USB_UART_DTR_WAIT=y`. It is not specific to nrf52840_pca10059 or to the application. The same behavior (the CDC ACM device does not show up) can be observed also on nrf52840_pca10056, and also with `samples/subsys/usb/console` after adding the mentioned option.

[2019-06-03 11:18] PhilippFinke commented on #16482
Thanks for the information. I planned to apply read protection (and write protection for the bootloader) in my final field FW. But what I meant is downloading the bootloader (and/or FW) via mcumgr. Is that possible?

[2019-06-03 11:43] Laczen commented on #16482
Hi @PhilippFinke, mcuboot cannot be upgraded via mcumgr.

[2019-06-03 11:50] PhilippFinke commented on #16482
Yeah, I know. But still not what I meant. Let me try to explain:

1. Attacker uses mcumgr to download bootloader (from my board to PC!).
2. Attacker uses mcumgr to download FW (from my board to PC!).
3 Attacker flashes his board (clone of my official one) with the downloaded bootloader and FW.

This would allow any attacker to simply clone the HW of my board and to flash it with the bootloader and

[2019-06-03 12:16] Laczen commented on #16482
OK, I don't know mcumgr very well but step 1 should not be possible. mcumgr should only allow reading and writing to slot1 location, It should not be able to download from the bootloader location. In an ideal case mcumgr would even only have the information about where to store and read slot1, nothing more. I don't know if it is implemented like this in mcumgr, but it should be. I know it does not

[2019-06-03 12:19] PhilippFinke commented on #16482
Thanks, that already helped me and sounds reasonable. Can anybody confirm this?

[2019-06-03 12:46] rakons commented on #16482
Guys. Anyway if we can upload firmware to the slot1 without even pairing it is a big issue in security. Personally, I would not be satisfied if the only protection is that firmware would not be switched.
It makes it easy to destroy the function of the device - you may reset the chip without any authentication. You may kill the battery sending the (broken) firmware over and over again. You may fina

[2019-06-03 12:50] PhilippFinke commented on #16482
@rakons, you're right here. That also applies to reading files, stats, ...

[2019-06-03 12:50] jfischer-phytec-iot commented on #16518
The problem is the init prio (level is APPLICATION anywhere):

CDC ACM class: KERNEL_INIT_PRIORITY_DEVICE 50
uart_console: UART_CONSOLE_INIT_PRIORITY 60
usb_device: APPLICATION_INIT_PRIORITY 90

` uart_console_init` blocks before usb device stack was initialized.

Workaround: set UART_CONSOLE_INIT_PRIORITY to 91

[2019-06-03 13:17] PhilippFinke commented on #16482
I had a closer look at the image encryption feature of mcuboot (CONFIG_ BOOT_ENCRYPT_RSA, I think). In my understanding the FW image will be transferred unencrypted and will be encrypted by mcuboot on the fly while writing the image to slot 1. But this keeps the system vulnerable for MITM attacks (a potential attacker can sniff the unencrypted image data while it is uploaded via an unencrypted BT

[2019-06-03 13:22] Laczen commented on #16482
@rakons, we where discussing security. You are talking about something else. Regarding security you need to get the basics right. This is that mcumgr should not be allowed to do anything outside slot1. I do agree extra protection can be put in place but how to do it is something else, I wouldn't be satisfied with a fixed pairing key as this is easy to break.
@PhilippFinke It is not vulnerable to m

[2019-06-03 13:22] carlescufi commented on #16470
@anangl more info here: https://github.com/zephyrproject-rtos/zephyr/issues/15917 which was fixed in this PR: https://github.com/zephyrproject-rtos/zephyr/pull/16193

[2019-06-03 13:30] rakons commented on #16482
As far as I am following the topic the BT level security here is discussed. So from the BT transport level, it is totally not safe. It does not matter there if the image is encrypted or not. The fact you may destroy the device or you may disallow it to work by sending any broken data is serious risk - I would not like to see for example a drone with bootloader written like that over my head.

[2019-06-03 13:48] Laczen commented on #16482
@rakons, again, get the basics right. What mcuboot does is boot the image in slot 0, you can break the upgrade capabilities of the device by writing to slot 1 but it will not boot the image you have written or will the device be broken. I would be a lot more worried about a bt device that does a secure communication and directly changes the runable image. Would it be better to use a secure communi

[2019-06-03 13:56] marc-hb commented on #11717
Yes. It recently stopped working for me too and I bisected it at the qemu flash size commit above. I asked there but no answer.

[2019-06-03 13:59] carlescufi commented on #16482
@Laczen

The firmware is not encrypted by default when using mcumgr or mcuboot?

Regardless, here I agree with @rakons that no matter what layer of protection MCUboot and MCUmgr provide, there is nothing wrong with being able to enable BLE pairing in the service, especially if you have a hardcoded passkey like @PhilippFinke does.

[2019-06-03 14:02] PhilippFinke commented on #16482
@carlescufi , don't get me wrong here. The passkey on my devices is different on all device instances. I need a way to pass that key when using mcumgr.

[2019-06-03 14:02] rakons commented on #16482
I know what mcuboot is doing. But since the first post, we are talking about mcumgr service. And if it allows anybody to write slot1, it would lead to total slot1 wear if somebody wishes to do it. And you still may reset the device - that may be a huge risk. From that point of view, I am still not feeling save by the fact that you may not switch the slots without proper codes.

It is like leaving

[2019-06-03 14:04] carlescufi commented on #16482
so, just to be clear: not having pairing required on the BLE service *is* an issue because as @rakons describes, it leads to denial-of-service: you can wear out the flash, drain its battery or keep its BLE connection occupied for long amounts of time, effectively denying the device its right to operate.

[2019-06-03 14:15] joerchan commented on #16482
AUTHEN should be set if you need both Encryption and MITM protection.
If you only need encryption then BT_GATT_PERM_WRITE_ENCRYPT should be used.

What exactly do you mean here?
You are not able successfully pair?
Or are you seeing a bug where you are able to perform the write operation unencrypted even though authentication was required on the attribute?

[2019-06-03 14:26] PhilippFinke commented on #16482
Hey @joerchan,

I want both encryption and MITM protection. So AUTHEN is my right choice here.

I had a look at the btmon output, while using mcumgr. It seems that mcumgr registers its own agent under Linux with the incorrect IO capas for my purpose (plus overriding my own agent). Because of this, I'm not able to enter the correct passkey to pair. This prevents mcumgr to write to the characteristi

[2019-06-03 14:40] carlescufi commented on #16482
@PhilippFinke you can try using nRF Connect for iOS or Android instead of `mcumgr` on the command-line. They also support firmware uploads to mcumgr-enabled devices and will definitely set the IO caps correctly

[2019-06-03 14:41] PhilippFinke commented on #16482
@carlescufi I know that this is possible. But this is no option for the final product.

[2019-06-03 14:42] Laczen commented on #16482
@carlescufi, @rakons, I agree that there is nothing wrong with having pairing enabled. I however do not:
a. Agree that this improves IP protection,
b. Think that this is sufficient for a denial of service protection,
and if mcumgr (I don't know if it does) leaves a open door to download data from whatever flash location on the device, then this door should be shut first.

[2019-06-03 15:03] joerchan commented on #16482
@PhilippFinke Looks like the IO cap is the problem then. How to fix that for mcumgr I don't know, I think you will have to take that up with them.

Using a fixed passkey would give you weak authentication, and if you end up using legacy pairing you would have weak encryption as well. Since the passkey would be your encryption key.
Any reason why it needs to be a fixed passkey?
You could use BT_SMP

[2019-06-03 15:06] PhilippFinke commented on #16482
@joerchan

I already activated BT_SMP_SC_PAIR_ONLY and BT_SMP_SC_ONLY. I'm using a fixed passkey, because I have no input or output capabilities on my peripheral. A fixed passkey adds a virtual display to my peripheral.

[2019-06-03 15:21] joerchan commented on #16482
@PhilippFinke fair enough. You could also consider OOB authentication, support was recently added.

There is also the possibility to authorize the write request. In the write callback `smp_bt_chr_write` you can return `BT_GATT_ERR(BT_ATT_ERR_AUTHORIZATION)` if you don't want to allow the write.

[2019-06-03 15:24] PhilippFinke commented on #16482
@joerchan

OOB authentication is also no option. The product has clear specifications and OOB is not part of it. Also when I set the permissions of the SMP BT characteristic to AUTHEN, the behaviour you mentioned happens automatically.

[2019-06-03 15:35] iod commented on #16518
@jfischer-phytec-iot I wanted to confirm that the workaround:
[code]
fixes the issue the issue for me, thank you.

[2019-06-03 17:11] andrewboie commented on #16229
Does the NXP MPU support the concept of a background mapping? That is to say, a default permission for all memory (supervisor access, user mode no access)
5 seems like a lot. Are there any opportunities to reduce their number?
Keep in mind then when it comes to user mode, we are not trying to restrict memory access to any threads running in supervisor mode.
For example, why do we need a region for

[2019-06-03 17:55] henrikbrixandersen commented on #16229
Not as far as I can tell from the data sheet. Perhaps @MaureenHelm has more insights on the NXP MPUs and our options.

I have tried, but I was not able to reduce the number of statically allocated regions below 5.

As far as I understand the data sheet, MPU region 0 is special. At boot time, it grants all bus masters read/write/execute permissions to the entire address space. The CPU core can not

[2019-06-03 18:32] henrikbrixandersen commented on #16463
@nvlsianpu Could you please take a look at this?

[2019-06-03 19:05] #16273 closed

[2019-06-03 20:13] carlescufi commented on #16518
@jfischer-phytec-iot should we add that line to the sample?

[2019-06-03 20:56] aasthagr opened #16563 "[Coverity CID :198884]Parse warnings in /drivers/counter/counter_qmsi_aon.c"
Static code scan issues seen in File: /drivers/counter/counter_qmsi_aon.c
 Category: Parse warnings
 Function:
 Component: Drivers
 CID: 198884
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16564 "[Coverity CID :198883]Parse warnings in /drivers/gpio/gpio_qmsi_ss.c"
Static code scan issues seen in File: /drivers/gpio/gpio_qmsi_ss.c
 Category: Parse warnings
 Function:
 Component: Drivers
 CID: 198883
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16565 "[Coverity CID :198882]Parse warnings in /drivers/console/rtt_console.c"
Static code scan issues seen in File: /drivers/console/rtt_console.c
 Category: Parse warnings
 Function:
 Component: Drivers
 CID: 198882
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16566 "[Coverity CID :198881]Parse warnings in /drivers/serial/uart_qmsi.c"
Static code scan issues seen in File: /drivers/serial/uart_qmsi.c
 Category: Parse warnings
 Function:
 Component: Drivers
 CID: 198881
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16567 "[Coverity CID :198880]Possible Control flow issues in /samples/net/lwm2m_client/src/lwm2m-client.c"
Static code scan issues seen in File: /samples/net/lwm2m_client/src/lwm2m-client.c
 Category: Possible Control flow issues
 Function: temperature_get_buf
 Component: Samples
 CID: 198880
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16568 "[Coverity CID :198879]Parse warnings in /tests/subsys/fs/fat_fs_dual_drive/src/test_fat_mount.c"
Static code scan issues seen in File: /tests/subsys/fs/fat_fs_dual_drive/src/test_fat_mount.c
 Category: Parse warnings
 Function:
 Component: Tests
 CID: 198879
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16569 "[Coverity CID :198878]Error handling issues in /samples/net/sockets/echo_server/src/tcp.c"
Static code scan issues seen in File: /samples/net/sockets/echo_server/src/tcp.c
 Category: Error handling issues
 Function: process_tcp
 Component: Samples
 CID: 198878
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16570 "[Coverity CID :198877]Null pointer dereferences in /subsys/net/ip/net_if.c"
Static code scan issues seen in File: /subsys/net/ip/net_if.c
 Category: Null pointer dereferences
 Function: net_if_ipv4_select_src_addr
 Component: Networking
 CID: 198877
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16571 "[Coverity CID :198876]Parse warnings in /tests/subsys/fs/multi-fs/src/test_nffs.h"
Static code scan issues seen in File: /tests/subsys/fs/multi-fs/src/test_nffs.h
 Category: Parse warnings
 Function:
 Component: Tests
 CID: 198876
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16572 "[Coverity CID :198875]Memory - corruptions in /drivers/flash/flash_simulator.c"
Static code scan issues seen in File: /drivers/flash/flash_simulator.c
 Category: Memory - corruptions
 Function: flash_init
 Component: Drivers
 CID: 198875
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16573 "[Coverity CID :198874]Null pointer dereferences in /drivers/usb/device/usb_dc_stm32.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_stm32.c
 Category: Null pointer dereferences
 Function: HAL_PCD_DataInStageCallback
 Component: Drivers
 CID: 198874
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16574 "[Coverity CID :198873]Incorrect expression in /tests/drivers/uart/uart_async_api/src/test_uart_async.c"
Static code scan issues seen in File: /tests/drivers/uart/uart_async_api/src/test_uart_async.c
 Category: Incorrect expression
 Function: test_chained_read
 Component: Tests
 CID: 198873
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16575 "[Coverity CID :198872]Parse warnings in /tests/subsys/settings/nffs/src/settings_setup_nffs.c"
Static code scan issues seen in File: /tests/subsys/settings/nffs/src/settings_setup_nffs.c
 Category: Parse warnings
 Function:
 Component: Tests
 CID: 198872
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16576 "[Coverity CID :198871]Parse warnings in /drivers/i2c/i2c_qmsi_ss.c"
Static code scan issues seen in File: /drivers/i2c/i2c_qmsi_ss.c
 Category: Parse warnings
 Function:
 Component: Drivers
 CID: 198871
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16577 "[Coverity CID :198870]Error handling issues in /subsys/net/lib/lwm2m/lwm2m_obj_firmware_pull.c"
Static code scan issues seen in File: /subsys/net/lib/lwm2m/lwm2m_obj_firmware_pull.c
 Category: Error handling issues
 Function: lwm2m_firmware_start_transfer
 Component: Networking
 CID: 198870
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16578 "[Coverity CID :198869]Parse warnings in /subsys/shell/shell_rtt.c"
Static code scan issues seen in File: /subsys/shell/shell_rtt.c
 Category: Parse warnings
 Function:
 Component: Other
 CID: 198869
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16579 "[Coverity CID :198868]Parse warnings in /drivers/watchdog/wdt_qmsi.c"
Static code scan issues seen in File: /drivers/watchdog/wdt_qmsi.c
 Category: Parse warnings
 Function:
 Component: Drivers
 CID: 198868
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16580 "[Coverity CID :198867]Parse warnings in /tests/subsys/fs/nffs_fs_api/common/nffs_test_system_01.c"
Static code scan issues seen in File: /tests/subsys/fs/nffs_fs_api/common/nffs_test_system_01.c
 Category: Parse warnings
 Function:
 Component: Tests
 CID: 198867
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16581 "[Coverity CID :198866]Null pointer dereferences in /subsys/net/lib/dns/llmnr_responder.c"
Static code scan issues seen in File: /subsys/net/lib/dns/llmnr_responder.c
 Category: Null pointer dereferences
 Function: create_ipv6_dst_addr
 Component: Networking
 CID: 198866
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16582 "[Coverity CID :198865]Null pointer dereferences in /drivers/usb/device/usb_dc_stm32.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_stm32.c
 Category: Null pointer dereferences
 Function: HAL_PCD_SetupStageCallback
 Component: Drivers
 CID: 198865
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16583 "[Coverity CID :198864]Parse warnings in /subsys/logging/log_backend_rtt.c"
Static code scan issues seen in File: /subsys/logging/log_backend_rtt.c
 Category: Parse warnings
 Function:
 Component: Other
 CID: 198864
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 20:57] aasthagr opened #16584 "[Coverity CID :198863]Error handling issues in /subsys/net/lib/sntp/sntp.c"
Static code scan issues seen in File: /subsys/net/lib/sntp/sntp.c
 Category: Error handling issues
 Function: sntp_close
 Component: Networking
 CID: 198863
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-03 21:26] nashif opened #16587 "build failures with gcc 9.x"
**Describe the bug**
warnings with new compilers that turn into errors when building using sanitycheck

[code]
**To Reproduce**

Build for native_posix on Fedora 30 with new compiler

[2019-06-03 21:27] nashif commented on #16587
mostly in networking code...

[2019-06-03 21:59] Laczen commented on #16482
@PhilippFinke, I have been studying the smp_svr and mcumgr code in zephyr and it seems that there is no possibility at all to download firmware or bootloader from the device. Your FW and bootloader should be safe.

[2019-06-03 22:13] #16563 closed

[2019-06-03 22:13] #16564 closed

[2019-06-03 22:13] #16565 closed

[2019-06-03 22:13] #16566 closed

[2019-06-03 22:13] #16568 closed

[2019-06-03 22:13] #16571 closed

[2019-06-03 22:13] #16575 closed

[2019-06-03 22:13] #16576 closed

[2019-06-03 22:13] #16578 closed

[2019-06-03 22:13] #16579 closed

[2019-06-03 22:13] #16580 closed

[2019-06-03 22:13] #16583 closed

[2019-06-03 22:14] aasthagr commented on #16563
[code]

[2019-06-03 22:17] aasthagr commented on #16567
[code]

[2019-06-03 22:18] aasthagr commented on #16569
[code]

[2019-06-03 22:19] aasthagr commented on #16570
[code]

[2019-06-03 22:20] aasthagr commented on #16572
[code]

[2019-06-03 22:20] aasthagr commented on #16573
[code]

[2019-06-03 22:21] aasthagr commented on #16574
[code]

[2019-06-03 22:22] aasthagr commented on #16577
[code]

[2019-06-03 22:23] aasthagr commented on #16578
[code]

[2019-06-03 22:24] aasthagr commented on #16581
[code]

[2019-06-03 22:24] aasthagr commented on #16582
[code]

[2019-06-04 04:21] wentongwu commented on #14173
I did some sanitychecks with "-icount shift=4,align=off,sleep=off" on qemu_x86 and mps2_an385, only tests/kernel/critical/kernel_critical failed on mps2_an385. And run that case(tests/kernel/critical/kernel_critical) on mps2_an385 specially, I can get this case run successfully, but it takes long time to execute, so it's why get the timeout result on sanitychecks. And it means icount mode produces

[2019-06-04 06:21] Laczen commented on #16482
@PhilippFinke, as it seems that mcumgr would require rework. Could you not use the pairing method only to enable the smp_svr which can then be connected to using mcumgr. And to automatically disable after some time. This would solve the reset / flash wear /... issues.
Another possibility is to enable smp_svr only some time after reset.

[2019-06-04 07:00] nvlsianpu commented on #16463
@hakehuang - I understand than with storage area erased before you run the tests, tests passed?

[2019-06-04 07:15] chris-makaio commented on #15710
I can confirm, @endian-benjamin
But... uhm... how to fix that?
My log gets spammed with

[2019-06-04 08:01] lbise opened #16594 "net: dns: Zephyr is unable to unpack mDNS answers produced by another Zephyr node"
I have 2 Zephyr nodes connected through a SLIP interface. I want one node to resolve the zephyr.local hostname of the other node so I can retrieve it's ip address.
To do this I want to use mDNS so I configured one node as a mDNS resolver and the other as a responder following samples/net/dns_resolve and samples/net/mdns_responder
The request is sent and properly received but the answer cannot be u

[2019-06-04 08:17] endian-benjamin commented on #15710
I had a fix for that particular nuisance, but must have forgot to push it.That shouldn't be logged as an error as it's expected. Will push a fix.

We've actually managed to get power management on nRF52 working pretty decently after struggling with it for a long time. The power API isn't clear at all, the sample isn't clear at all and the drivers were in poor shape. I could try to help write up so

[2019-06-04 08:19] chris-makaio commented on #15710
well, I'm currently tinkering with the PM but really, it's a mess. Could you maybe push your PR (or let me know your commit in your own repo)? Would be really nice...

[2019-06-04 08:21] PhilippFinke commented on #16482
@Laczen, that are good news. Thanks for investigating. I think I will give it a try to register the smp_svr after a paired peer connected to my peripheral and to unregister it after disconnect.

[2019-06-04 08:39] endian-benjamin commented on #15710
I'll see what I can do soonish, but I don't have time right now.

[2019-06-04 08:47] PhilippFinke commented on #16482
I'm struggling a bit with the encryption feature of mcuboot. I see that it can be activated CONFIG_BOOT_ENCRYPT_RSA, but it seems that mcuboot uses a fixed encryption key. Can I change that somehow? And how can I encrypt my FW image with that key?

[2019-06-04 09:31] Laczen commented on #16482
@PhilippFinke, mcuboot uses a fixed encryption key to "encrypt" a randomly generated image encryption key this encrypted random key is added to the image as a TLV. I have never tried to change the fixed encryption key. I would say raise an issue/question in mcuboot.

[2019-06-04 09:56] PhilippFinke commented on #16482
If this is true, the encryption feature doesn't add any security and is completely useless, because an attacker can easily read the fixed key. I raised an issue in mcuboot.

https://github.com/JuulLabs-OSS/mcuboot/issues/489

[2019-06-04 09:57] jfischer-phytec-iot opened #16599 "drivers: usb_dc_nrfx: unstable handling of hosts suspend/resume"
**Describe the bug**

nRF device (nRF52840) stops to communicate over usb after few suspend/resume cycles.

**To Reproduce**

1. configure `hci_usb` sample as usual
2. optional, enable Logging and set  `USB_DEVICE_LOG_LEVEL` to `USB_DEVICE_LOG_LEVEL_DBG`
3. build and flash `hci_usb` sample
4. connect the board to a Linux host
5. in bluetoothctl, execute `power on`, `scan on`. After a while (about

[2019-06-04 10:13] carlescufi commented on #16599
I tested this with logging in a VM,  and indeed the device is not being suspended, except at the very beginning but only once.

[2019-06-04 10:13] jhedberg opened #16600 "Bluetooth: Mesh: Proxy SAR timeout is not implemented"
The MESH/SR/PROX/BV-05-C qualification test case is passing only because the current setup does an explicit disconnect request. However, the proper way to do it is to use a 20 second timeout like the spec defines in Mesh Profile 1.0 Section 6.6:
"The timeout for the SAR transfer is 20 seconds. When the timeout expires,
the Proxy Server shall disconnect."

There's already a proposed fix for this in

[2019-06-04 10:14] jhedberg commented on #16600
@tedd-an @MariuszSkamra @rmstoi FYI

[2019-06-04 10:39] paulgavrikov opened #16602 "Bluetooth: GATT Discovery: Descriptor Discovery by range Seg Fault"
**Describe the bug**
Descriptor discovery by range ends in seg fault.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify the discovery code in _central_hr_ sample to
[code]

**Expected behavior**
Discovery should work.

**Impact**
Showstopper.

**Environment (please complete the following information):**
 - OS: (e.g. Linux, MacOS, Windows): Kubuntu 18.04
 - Toolchain: Zephyr SDK 0.10.0

[2019-06-04 10:44] paulgavrikov opened #16603 "Bluetooth: Gatt Discovery: BT_GATT_DISCOVER_PRIMARY returns all services while BT_GATT_DISCOVER_SECONDARY returns none"
**Describe the bug**
Setting the GATT discovery type for a range search (i.e. UUID = NULL) to `BT_GATT_DISCOVER_PRIMARY ` returns all services while `BT_GATT_DISCOVER_SECONDARY ` returns none at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify the discovery code in _central_hr_ sample to
[code]
or
[code]

**Expected behavior**
Primary discovery should only return primary services,

[2019-06-04 10:50] henrikbrixandersen commented on #16463
Correct.

[2019-06-04 11:01] nvlsianpu commented on #16463
I confirm - this test assumes that storage partition is clear before the test is run.
So the issue appears just because `west flash` doesn't erase more flash than needed for program the device, so doesn't erase especially storage partition.

This test can't ensurer storage clearance because it reboots the device as the part of the testing routine.
So need to find a way take storage into build prod

[2019-06-04 11:28] endian-benjamin commented on #15710
Pull request submitted, but in the meanwhile you cant rest assured that those aren't actually errors at all and shouldn't be logged as such.

And for the record, don't expect to do much power saving with `CONFIG_LOG=y`, because the logging subsystem keeps a thread that wakes the system up at 10 Hz or so. You can configure this with `CONFIG_LOG_IMMEDIATE` but it's pretty shaky - if you want to veri

[2019-06-04 11:29] endian-benjamin commented on #15710
...and remember that both JLink RTTLogger and GDBServer can squeeze around 1.6 mA or so of consumption.

[2019-06-04 11:31] endian-benjamin commented on #15710
...and also note that the power_mgr sample is a very poor example of actual power management. It doesn't actually attempt to SAVE POWER, it just tries to give a VERY basic overview of the APIs.

[2019-06-04 12:02] joerchan commented on #13389
Got assert bd1e8fbf826f3e45f98c7c39edd044fad8c965bb (PR: 16499)
```west build -b nrf52840_pca10056 samples/bluetooth/central_hr -DCONFIG_BT_LL_SW_SPLIT=y -DCONFIG_BT_DATA_LEN_UPDATE=y```

lll_conn.c: 637:
[code]

[code]

Happened just after connection:
[code]

[2019-06-04 12:13] pdunaj opened #16604 "Zephyr fails to build with CPU load measurement enabled"
**Describe the bug**
Cannot build with `TRACING_CPU_STATS` enabled as `smp_init` is both external linkage from kernel and internal in ble subsystem.

**To Reproduce**
Steps to reproduce the behavior:
1. Find some bluetooth enabled sample
2. enable `TRACING_CPU_STATS`
3. build

**Expected behavior**
should just work

**Impact**
annoyance, debug tool is unusable

**Screenshots or console output**
[c

[2019-06-04 12:14] pdunaj commented on #16604
Seems there is a conflict of smp acronym usage :)

[2019-06-04 12:20] pdunaj opened #16606 "Fault in CPU stats"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enable `TRACING_CPU_STATS`
2. Try to run...

**Expected behavior**
Should work.

**Impact**
annoyance - profiling tool is unusable

**Screenshots or console output**
Above.

**Environment (please complete the following information):**
master

**Additional context**
N/A

[2019-06-04 12:27] pdunaj commented on #16606
It seems that `sys_trace_thread_switched_out` happened before `sys_trace_thread_switched_in`...

[2019-06-04 12:34] jhedberg opened #16607 "Building hello_world fails for xtensa: xt-xcc ERROR parsing -Wno-address-of-packed-member: unknown flag"
This used to work fine a few days ago, but after a `git pull` today I get the following:
[code]

[2019-06-04 12:50] jhedberg commented on #16607
Reverting commit e82a9e9a55 fixes the issue

[2019-06-04 13:17] Vudentz commented on #16602
Any chance to get a backtrace: addr2line?

[2019-06-04 13:17] finikorg commented on #16518
I am thinking about following:
[code]

That default value is only assigned if we put `CONFIG_USB_UART_DTR_WAIT=y` tp `prj.conf`

[2019-06-04 13:19] aescolar commented on #16602
@paulgavrikov Which platform did you test on?

[2019-06-04 13:20] Vudentz commented on #16603
We are setting the UUID of Read By Group Request to either primary or secondary, perhaps the remote database don't have a secondary?

[2019-06-04 13:27] carlescufi commented on #16604
We need to figure out who gets to keep the fancy `smp_init()` name

[2019-06-04 13:33] paulgavrikov commented on #16603
@Vudentz yeah ... sorry I mixed things up

[2019-06-04 13:33] #16603 closed

[2019-06-04 13:34] paulgavrikov commented on #16602
@Vudentz will try. @aescolar nrf52_bsim

[2019-06-04 13:36] aescolar commented on #16602
@paulgavrikov @Vudentz : Then please run that simulated device in valgrind, that will give you a call trace on the segfault.

[2019-06-04 13:49] pdunaj commented on #16606
I added a null-check on first switched out (and ignore it). After that CPU load seems to show the valid data (as far as I can tell).

[2019-06-04 16:09] jhedberg commented on #16604
I think the Bluetooth one could be renamed to `smp_conn_init()` or similar

[2019-06-04 16:29] carlescufi commented on #15729
Proposal:

- Modify the doc to reflect that this is a NOP on platforms that do not have hardware write protection
- Return 0 on those platforms that either do not have hardware write protection or it doesn't fit the API

[2019-06-04 16:37] carlescufi commented on #16439
Conclusion: `flash_read()` users should be able to use any address and length, aligned or unaligned.

@nashif can you see if the owners of QMSI and NIOS2 could add software emulation for unaligned reads?

[2019-06-04 16:44] nvlsianpu commented on #16439
@ramakrishnapallala  Are you able to align NIOS2 driver? Saw that you contribute it.

[2019-06-04 17:06] nashif commented on #16606
This was introduced by @MarekPieta originally, can you please look at this?

[2019-06-04 17:08] #16607 closed

[2019-06-04 17:09] chris-makaio commented on #15710
Thx!
Well, I somewhat need the log to figure causes for not going to sleep... pretty hard.
I worked on my code, disabled UART and made some other config changes (I can post them if required) but I feeling really bad not knowing what I‘m doing.
For example, I‘m now down from 6mA idle current to 1mA (which is fine because of other peripherals on the board).
But as soon as I disable logging (incl she

[2019-06-04 17:12] endian-benjamin commented on #15710
If you lower thresholds, the device will constantly (i mean CONSTANTLY) go in and out of power modes, which costs a lot of cpu cycles. You won't save ANY power with those low thresholds.

[2019-06-04 17:13] endian-benjamin commented on #15710
Also, the log IS the cause for not going to sleep... but if you really need it, try config LOG_IMMEDIATE

[2019-06-04 17:39] andrewboie commented on #15831
This is still broken, ROM size is still 1MB:
[code]

[2019-06-04 18:27] jwknaup opened #16623 "Building with Openthread fails"

[2019-06-04 18:48] endian-benjamin commented on #1387
A `sensor_fetch_raw()` or something would be much appreciated. Forcing this weird double int format upon developers feels pretty... forced.

What we've done so far is setting periodic `k_timer`s whose ISRs pushes poll jobs to a work queue. I can imagine an alternative implementation where a single thread does `k_poll(&sensor_event, K_FOREVER)` in a loop and gpio/timer ISRs does `k_poll_raise(&sens

[2019-06-04 18:51] endian-benjamin commented on #4040
What's the status on async I2C? Asking because of #1387 mainly

[2019-06-04 18:59] #16623 closed

[2019-06-04 19:22] gvancuts opened #16624 "Building Grub fails when using gcc9"
## Bug description

Building Grub using the `boards/x86/common/scripts/build_grub.sh` on a system with gcc9 (observed on Clear Linux 29750, gcc 9.1.1) installed will fail with the following error:
[code]
## How to rproduce
Steps to reproduce the behavior:
1. Run `boards/x86/common/scripts/build_grub.sh x86_64`
2. See error pasted above

## Impact
It is not possible to build the Grub bootloader, us

[2019-06-04 19:24] gvancuts commented on #16624
Using this (latest as of today) commit from Grub allows the code to compile successfully: `grub-2.04-rc1-17-g8e8723a6b`

I have yet to test it but if successful I can create a Pull Request for it.

[2019-06-04 21:00] andyross commented on #11717
That patch just reorganizes the memory map of the emulated hardware and allows Zephyr to use more of it (and potentially modifies where things get placed, though I'd have to check link results to be sure).

One possibility is that OVMF is actually using some of that memory, and that it's doing something important when qemu comes alone and scribbles over memory with the imaged passed in the -kernel

[2019-06-04 21:33] andyross commented on #16604
Actually this looks like the bug is in the kernel headers.  It's a static function, it shouldn't be in a header to begin with.   Git tells me this came in with the original SMP patch where smp_init was already static.  Looks like prehistorical cruft where I needed it somewhere else or something?

[2019-06-04 23:32] #16624 closed

[2019-06-05 06:28] MarekPieta commented on #16606
Yes, no problem. I will take look at it.

[2019-06-05 09:44] #16518 closed

[2019-06-05 09:44] gvancuts commented on #11717
Hi @marc-hb , not sure how I can help with this issue? I'm not much of a QEMU expert. But if you have something you'd like me to test, I'm happy to!

[2019-06-05 09:45] carlescufi commented on #16470
Fixed by https://github.com/zephyrproject-rtos/zephyr/commit/1370f162877bd738ab725f5ef2096100b0720e2a

[2019-06-05 09:45] #16470 closed

[2019-06-05 09:48] carlescufi commented on #16223
@ydamigos we will wait for now, please let us know when you have a patch for this.

[2019-06-05 11:51] #16141 closed

[2019-06-05 12:13] imadeveloper247 opened #16631 "SDK_VERSION"
building under Ubuntu 18.04

I think that the file ~zephyrproject/zephyr/cmake/toolchain/zephyr/generic.cmake might have an error on line 3:
     if(NOT DEFINED SDK_VERSION)
perhaps that should be:
    if(NOT SDK_VERSION)

Also the build docs for linux should have us:

export SDK_VERSION=0.10.0

Hope this is of some help!

Phil

[2019-06-05 12:23] joerchan commented on #15570
The problems related to control procedures has been fixed.
The TX Buffer overflow problem I could not figure out why happened.
I have no way to reproduce it anymore, could be that it was provoked by the other issues.
I'd suggest to close this issue.

[2019-06-05 12:27] carlescufi commented on #16631
@imadeveloper247 you don't need to export the SDK version at all. This is checked by the CMake files, you should only need to export:

`ZEPHYR_SDK_INSTALL_DIR=/path/to/sdk`
`ZEPHYR_TOOLCHAIN_VARIANT=zephyr`

What are you trying to solve exactly?

[2019-06-05 12:28] carlescufi commented on #15570
Let's close this issue unless @pdunaj can reproduce it on the latest master.

[2019-06-05 12:28] #15570 closed

[2019-06-05 12:51] joerchan opened #16634 "GATT indicate API inconsistent when using characteristic declaration attribute as argument"
**Describe the bug**
Gatt indicate does not work when conn is NULL and called with characteristic
declaration as the attribute argument. This is inconsistent with how the gatt indicate works when conn is non-NULL and how gatt notify works.

**To Reproduce**
int err bt_gatt_indicate(NULL, &indicate_params);

**Expected behavior**
API is expected to notify on the correct characteristic value.

**Imp

[2019-06-05 13:13] finikorg commented on #16470
Sorry my reply took so long, was that commit [1370f16] applied long time ago?

[2019-06-05 14:13] #16600 closed

[2019-06-05 14:24] #16634 closed

[2019-06-05 14:52] jimparis opened #16638 "Filesystem API is missing fs_open() flags"
The filesystem API is missing any sort of mode or flags arguments to `fs_open`, such as the typical O_RDONLY, O_WRONLY, O_RDWR, etc.  So the flags argument to the posix wrapper `open()` is ignored.  This means that you can't open files for reading without also creating an empty file.  Similarly you can't test if a file exists by trying to open it.

It's pretty easy to add a flags argument to the A

[2019-06-05 14:59] aunsbjerg opened #16639 "eth: pinging frdm k64f eventually leads to unresponsive ethernet device"
**Describe the bug**
Pinging the frdm_k64f board works for a while, but eventually leads to the board not responding to any ethernet requests. The board also becomes unable to send ping requests to a host. This unresponsiveness persists until the board is reset.

I am reasonably sure that this issue is not specific to ICMP as I have observed the same unresponsive behaviour doing UDP stuff - ICMP i

[2019-06-05 17:14] mike-scott commented on #16567
Coding style is intentional here.  The plan is to add more sensors as #if checks and end with a check of dev != null.

[2019-06-05 18:08] aunsbjerg commented on #16639
Interestingly, I have not been able to recreate the issue with the echo_client sample i 1.13. I will take a look at the code differences in the morning.

Also, I suspect #3129 might be related to this issue, the symptoms sound awfully familiar.

[2019-06-05 21:15] #16604 closed

[2019-06-05 21:42] andrewboie commented on #11743
I had a little free time about a month ago and spent a little time looking at this.

I think I found a good place to place the syscall, I hooked it into __LOG_INTERNAL().
See WIP patch: https://github.com/andrewboie/zephyr/commit/5be5e81bded2517bbe11811dd95f752489827809

However the runtime filtering I didn't come up with a solution, the problem is user mode thread access to the runtime filtering

[2019-06-06 01:10] andrewboie commented on #14173
@wentongwu thanks for the update :)

[2019-06-06 01:11] andrewboie commented on #14173
I remember tests/kernel/critical takes a while even without icount, so perhaps we need to change the test to not take so much time.

[2019-06-06 02:19] wentongwu commented on #14173
I run several rounds stress tests, founding more failed/timeout, and most of them are related to timer accurateness, I need do more debug and code review.

[2019-06-06 03:59] zzzh opened #16649 "z_init_timeout() ignores fn parameter"
Look the code below:

static inline void z_init_timeout(struct _timeout *t, _timeout_func_t fn)
{
	sys_dnode_init(&t->node);
}

As you can see, the parameter fn is not used, if it's not needed, it should not exist, or at least there should be a comment.

[2019-06-06 05:31] zzzh commented on #16649
As I see, there should be another line:
t.fn = fn;

[2019-06-06 09:49] #16493 closed

[2019-06-06 09:55] jukkar commented on #16639
I tried frdm-k64f last week and basically the gPTP code was not working at all (time sync packets were not received properly). Dunno what was wrong with it, could be related to #16089. Has the HAL changed recently that could explain this bitrotting?

[2019-06-06 10:33] agansari commented on #16639
@aunsbjerg i was able to reproduce this issue on my setup with the latest code.
@jukkar HAL changed a bit for Kinetis devices when adding KE1xF soc, but enet device didn't change since I worked on it a few months ago. I remember reproducing #16089 weeks ago. Can you try gPTP again and create a issue or just post here your findings?

[2019-06-06 11:20] anangl commented on #16470
On May 22 (https://github.com/zephyrproject-rtos/zephyr/pull/16193#event-2358645844), so not very long ago. At least it was applied after the commit for which the issue was reported (b0bc68e):

[2019-06-06 11:33] jhedberg commented on #15714
Could you re-test this with latest master? I suspect #16612 may have fixed it.

[2019-06-06 12:04] MarekPieta commented on #16606
I created a PR fixing this

[2019-06-06 14:26] erwango commented on #15714
@jhedberg, just tested and unfortunately, it doesn't...
Still requires `CONFIG_BT_ATT_ENFORCE_FLOW=n`

[2019-06-06 15:41] carlescufi commented on #15831
@nvlsianpu can you please take a look?

[2019-06-06 16:17] nvlsianpu commented on #15831
will do, tomorrow.

[2019-06-06 18:17] abrodkin opened #16661 "Symmetric multiprocessing (SMP) for ARC HS cores"
This issue is to track development of SMP for ARC HS cores.

# Some background
## Supported ARC processors

[ARC EM cores](https://www.synopsys.com/designware-ip/processor-solutions/arc-processors/arc-em-family.html) are single-processor designs yet so only [ARC HS family](https://www.synopsys.com/designware-ip/processor-solutions/arc-processors/arc-hs-family.html) will be supported for now.

ARC

[2019-06-06 18:20] abrodkin commented on #16661
@nashif may we get this one assigned to me and @vonhust and if possible targeted to the next release (1.15)?

[2019-06-07 06:44] nordic-krch commented on #11743
@andrewboie i'm not that familiar with userspace but what if there were two copies of filter created for each module, one in kernel space and one in userspace? api call to change the filter level (currently mainly used by shell) would modify both and keep them in sync but __LOG_INTERNAL macro would use kernel copy and syscall second copy. Cost: one word in ram per module. Taking into account that

[2019-06-07 07:14] jhedberg commented on #15714
This board uses `drivers/bluetooth/hci/spi.c` right? I just took a look at it and saw that it has a bug in the way `bt_recv()` and `bt_recv_prio()` are called. We have those two distinct APIs specifically so that `bt_recv_prio()` will be called from a higher priority context (either an ISR or a higher-priority thread), however looking at the SPI HCI driver they are *both* called from the same RX t

[2019-06-07 07:18] jhedberg commented on #15714
Just a follow-up on my previous comment, one way to fix this would be to stop selecting BT_RECV_IS_RX_THREAD in `drivers/bluetooth/hci/Kconfig` and instead define the `spi.c`-internal thread with some lower priority than `CONFIG_BT_RX_PRIO`

[2019-06-07 07:50] jhedberg commented on #15714
Completely untested, but the fix I suggested would look something like this (in its simplest form):
[code]

[2019-06-07 07:58] pdunaj opened #16670 "Memory reports do not work when Nordic proprietary LL is selected"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. enable `BT_LL_NRFXLIB`
2. run `ninja rom_report`

**Expected behavior**
Should present a memory report.

**Impact**
annoyance - profiling tool is unusable

**Screenshots or console output**
check above

**Environment (please complete the following information):**
ncs master

**Additional context**
N/A

[2019-06-07 07:59] alexanderwachter commented on #16472
I think you need entropy for the nonce generation.

[2019-06-07 08:00] pdunaj commented on #16670
I am creating a bug upstream as it seems to me the problem may be with how symbols are obtained and not be specific to this library.

[2019-06-07 08:33] nvlsianpu opened #16671 "ideas for future of the settings"
Objective for this Issue is to collect ideas and requirements for future improvement of the settings.

### Background:
The <b>settings subsystem</b> aimed to persistent storage of run-time settings for zephyr modules and applications. It is supposed to provide same API over any low-level storage system it uses.
### Current high level architecture:
Settings subsystem is based on what was ported and

[2019-06-07 08:37] chris-makaio opened #16672 "nrf: spi: Excess current"
I'm seeing high current when using nrf's SPI driver (custom board with nRF52840).
Code running w/o SPI: 220uA (okay given the peripherals)
Code running with SPI: 1.5mA

It can't be my implementation of the sensor's driver because it is still running.
It's a LIS2MDL (custom driver) which works via SPI and I2C - and one driver instance is still running for I2C.

It also seems that there is no DEVICE

[2019-06-07 09:06] KwonTae-young opened #16673 "usb_dc_stm32: If i remove the cable while writing, the program will freeze."
**Describe the bug**
If I remove the cable while writing using `hid_int_ep_write()`, the program will stop.

The `usb_dc_ep_write()` function attempts to get the semaphore using `k_sem_take()`.
`k_sem_take()` always fails if the USB cable is removed in the middle while writing.
I forced `k_sem_give()` to be called if `k_sem_take()` failed a certain number of times.
And I confirmed that the symptom

[2019-06-07 09:17] mnkp opened #16674 "Checkpatch generates incorrect warning for __DEPRECATED_MACRO"
**Bug descritpion**
When trying to deprecate a macro using `__DEPRECATED_MACRO` e.g.
[code]
checkpatch generates the following warning
[code]
even if `__DEPRECATED_MACRO` is used correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. modify source code by adding
`#define GPIO_PUD_NORMAL        __DEPRECATED_MACRO 0`
2. commit changes using git.

**Expected behavior**
No warning.

**Enviro

[2019-06-07 09:48] jukkar commented on #16639
@agansari I am seeing these error messages with latest master commit 69de620e7e34bd3a547887b8bd279f3b06d780ec
[code]
I am using the `samples/net/gptp` application. The same application works ok in Atmel sam-e70 board.

[2019-06-07 09:50] tbursztyka commented on #16639
This driver is really broken see also #16089

[2019-06-07 09:58] Laczen opened #16676 "Settings enhancements"
**Is your enhancement proposal related to a problem? Please describe.**
The settings module is limiting the usability of zephyr in real world applications because of high RAM usage. This high RAM usage is mainly in the modules that are using settings and is a result of the one time loading of all settings at the start.

Apart from this problem there are several improvement opportunities in the set

[2019-06-07 10:03] Laczen commented on #16676
@rakons, @pdunaj, @nvlsianpu, @carlescufi, @jhedberg, @Vudentz, @MaureenHelm, @fnde-ot

[2019-06-07 10:45] Laczen commented on #16472
@alexanderwachter, thanks for the reply. In the general case you would need the entropy generator, but you need more than that, you need to provide a random function to use the entropy generator. This entropy does not provide.
And there also is the case where you would use ecc-dh and ecc-dh only for validation, then you don't need the entropy generation at all.
A solution could be that whenever an

[2019-06-07 10:46] chris-makaio commented on #16672
So, meanwhile I tried:

- use SPIM2 instead of SPIM3 (because it looks to me that SPIM3 is a bit special with all the "EXTENDED" stuff).
- try anomalies 198 and 109
- integrated a new "spi_nrfx_sleep" which does spi_nrfx_release and nrfx_spim_unit
- moved "return;"s until I found the line at which the current raises. It's nrf_spim_task_trigger(p_spim, NRF_SPIM_TASK_START);

Nothing helped yet...

[2019-06-07 10:53] wentongwu commented on #14173
With below patch, I did some sanitychecks again with "-icount shift=4,align=off,sleep=off **-rtc clock=vm**" on qemu_x86 and mps2_an385, so far no error occured. Still reviewing qemu code...

diff --git a/tests/kernel/critical/src/main.c b/tests/kernel/critical/src/main.c
index 372f931fa1..38d26a987c 100644
--- a/tests/kernel/critical/src/main.c
+++ b/tests/kernel/critical/src/main.c
@@ -32,8 +32,

[2019-06-07 10:56] #16606 closed

[2019-06-07 10:57] nvlsianpu commented on #16671
@padu @rakons @Laczen  @carlescufi @jhedberg @Vudentz @fnde-ot @aescolar

[2019-06-07 11:04] richardbarlow opened #16678 "LPN establishment of Friendship never completes if there is no response to the initial Friend Poll"
**Describe the bug**
Over two Friend establishment attempts, if the Friend fails to receive the initial Friend Poll both times or the node wishing to establish friendship fails to receive the initial Friend Update both times the LPN code will stop trying to establish Friendship forever (it never sends any more Friend Requests and waits indefinitely for a response to a Friend Poll).

After a node h

[2019-06-07 11:09] chris-makaio commented on #16672
Just noticed I made a mistake in my code and didn't actually switch to SPIM2.
Fixed and now (when using my own sleep function) everything works fine.

For reference, here's the simple code:
[code]

[2019-06-07 11:13] jhedberg commented on #16678
Thanks for the very thorough analysis of the issue. Despite of it, it sounds like you don't have a clear way of fixing this in the stack, or do you have some proposal already?

[2019-06-07 11:16] jhedberg commented on #16671
Is this a duplicate of #16676?

[2019-06-07 11:19] richardbarlow commented on #16678
Alas no, I do not have a suggested way of fixing this in the stack. I would love to be able to submit a patch to fix it, however having poked around in the code in `lpn.c` it appears somewhat fragile to me (in fact I think it's this fragility that has lead to this bug in the first place). I was hoping that by providing a detailed analysis of the problem the original author(s) would be able to quic

[2019-06-07 11:24] richardbarlow commented on #16678
One thing of note is that I don't think the standard allows for retrying the initial Friend Poll when establishing Friendship as the Poll has to be received by the Friend within 1 second of it sending the Friend Offer. I don't think the timeout from the initial Friend Poll will leave enough time to get a second Friend Poll attempt in before exceeding the 1 second limit.

In this case I don't think

[2019-06-07 11:39] jhedberg commented on #16678
@richardbarlow I'm the author of this code, but I think it's well over a year since I touched it, so I'm probably in a similar position as you when analysing it :) I've never used this myself in a "real product" scenario, rather just ensured that the necessary qualification test cases with the PTS pass (in addition to some IOP tests before Mesh 1.0 was public, but that's almost 2 years ago!).

Reg

[2019-06-07 11:45] carlescufi commented on #16671
I think it's the other way around, since this one was created first. @Laczen can we move the contents of your issue here and track this in a single issue?

[2019-06-07 11:50] anangl commented on #16672
#16548 adds power management to SPIM and SPI drivers. @chris-makaio could you try if it works for you?

[2019-06-07 12:03] nvlsianpu commented on #16676
@Laczen We are awaiting on your PR-mod to Radek's PR #16609. I understood that form the dev-meeting we have.

[2019-06-07 12:05] erwango commented on #15714
@yaelboutreux, Can you test this patch?

[2019-06-07 12:11] Laczen commented on #16671
@carlescufi, of course you can. But maybe this issue is more ambitious than mine and can be held as a placeholder for where zephyr would like to end. If wanted I can write some things about what the advantages are of doing it as done, so that we do not loose these as new idea's are proposed.

[2019-06-07 12:19] jhedberg commented on #15714
Btw, if my patch works you'll probably want to substantially reduce the `spi.c`-internal rx_stack size since its consumption will be considerably lower. You might also want to add a spi prefix to it since it's no longer "the" RX stack, rather just an HCI driver-internal one.

[2019-06-07 12:29] Laczen commented on #16676
Of course, this is why I have written down the above. It is what I'm going to do and how it would be used, if anybody would like to comment, say "that is not a good idea", "this does not fit my needs", ... feel welcome.

[2019-06-07 12:53] PiotrZierhoffer opened #16683 "[RFC] Missing parts of libc required for CivetWeb"
## Introduction

This issue is created as prompted by the discussion on the Networking Forum.

We are working on implementing support for CivetWeb HTTP library (https://github.com/civetweb/civetweb), but it requires improvements in the libc layer. It's a good example of an external project using sockets APIs that should be relatively easy to integrate with Zephyr, as a proof of concept.

### Probl

[2019-06-07 13:35] nvlsianpu commented on #16676
I slight not get how enable/disable settings_handler  will work - bat that's NOP as you want to show this in PR. I see nothing against you want achieve.

[2019-06-07 13:42] Laczen commented on #16676
@nvlsianpu, In the beginning of the settings_handler there will be a check for a flag, if this flag is not set it jumps out of the settings_handler. I guess @rakons has to do something similar to avoid doing a load when settings_load is called.

[2019-06-07 13:43] nashif commented on #11743
Is there a combination of kconfig options that would disable features that are not compatible with userspace and keeps basic logging functional? i.e. no filtering, immediate delivery, etc.?

[2019-06-07 13:48] rakons commented on #16676
I keep saying that this is overkill to enable and disable selected handlers in structures - then why you need to pass a key to load to the settings_load if you already enabled only selected handler, and this limits the possibility to move the setting handlers to ROM in the future. But I wish to see it implemented to judge.
And no - I was not planning to add anything similar. The fact if something

[2019-06-07 13:55] Laczen commented on #16676
@rakons, this is exactly what I am proposing, inside the settings_handler routine (I should have used set routine) not the settings_handler structure. The first thing that is done inside the set routine is that a flag is checked if it should be handled.

[2019-06-07 14:05] yboutreux commented on #15714
Seems like "fresh" merged commits have introduced more errors with peripheral and the disco_l475_iot1... I'll need to see this with you @erwango
(FYI I was troubleshooting BLE HCI-SPI from commit 3ce677092d3636785ea1398efee93489614f05f7, which was more stable at this time)

[2019-06-07 14:09] abrodkin commented on #16661
@nashif is the next milestone 2.0 but not 1.15?

[2019-06-07 14:42] Oanerer commented on #16318
I've only just recently started using Zephyr altogether. With my custom board file for the UBlox C030-R410M I've run into similar issues. One thing I noticed is that when calling

``net_if_up(ictx.iface);``

at the end of modem_reset(), 'ictx.iface' is actually a null pointer. I'm not that up to speed yet with Zephyr, but I'm guessing that might be related?

[2019-06-07 14:58] andyross commented on #16649
Yeah, this is vestigial.  Looks like the argument got left in during refactoring.  The callback is passed in z_add_timeout.

[2019-06-07 15:08] FRASTM opened #16687 "basic disco sample fails"
basic/disco example fails when building on stm32f469i discovery board
LED1 is not defined

[code]

[2019-06-07 15:09] andrewboie commented on #16683
To me this seems like what we should be spending effort on fixing.

[2019-06-07 15:12] andrewboie commented on #11743
I don't see how this would work, can you provide more details

The patch I linked above, if cleaned up, would provide logging without any dynamic filtering.

[2019-06-07 15:17] rgf97 commented on #16687
I confirm

[2019-06-07 15:21] jfischer-phytec-iot commented on #16687
@FRASTM There is no led1 alias, you could fix it easy

[code]

[2019-06-07 16:00] #16572 closed

[2019-06-07 16:01] wentongwu commented on #14173
With below patch in every code path,  four processes run " for i in {1..10000}; do ./scripts/sanitycheck
-p qemu_x86 -p mps2_an385 -T tests/kernel ; done " individually in four different code path on the same one machine (ubuntu 18.04), two processes with "-icount shift=4,align=off,sleep=off -rtc clock=vm" configuration, one process with "-icount shift=4,align=off,sleep=off" configuration, the las

[2019-06-07 16:22] andrewboie commented on #14173
five minutes is a lot for a default. how many / which tests start taking longer than 60 seconds with the icount change?

[2019-06-07 18:39] andrewboie opened #16695 "code coverage: kernel/device.c"
Found the following issues with line coverage in kernel/device.c:

In z_sys_device_do_config_level(), no coverage for case where driver initialization fails.

In z_impl_device_get_binding(), no coverage for when pointer matches occur, is this broken?

[code]

In z_impl_device_get_binding, no coverage for device binding not found (NULL returned).

No coverage for calling device_get_binding() from u

[2019-06-07 19:12] pfalcon commented on #16683
Not only that, but the quoted issue, #13787, was made to draw attention to the problem, and gather interested parties to brainstorm and solve the issue. Not to provide interested parties with excuses for not doing that ;-).

[2019-06-07 19:52] PiotrZierhoffer commented on #16683
No excuses here, we'd love to see newlib and posix support to be too notch.

And I think we discussed that already on the networking forum and there is an agreement in that matter. It doesn't mean though that this is the first step we should do, or can do, to keep the topic active.

@laperie asked me to create this issue to keep track of things. I added you to CC because we discussed these topics

[2019-06-07 20:09] pfalcon commented on #16683
This is absolutely great that you posted this ticket and also RFC on the mainling list! The same should ~~have been~~ be done regarding CivetWeb (for as long as that effort is supposed to influence Zephyr back, and not just independent porting effort).

However, please kindly accept the possibility to receive criticism as a result of posting this RFC - that's done both for common good, and to pote

[2019-06-07 20:21] pfalcon commented on #16683
I find that discussion such insightful that I decided to put off other tasks assigned to me and cleaned up and flushed a number of patches I had in my queue:

* https://github.com/zephyrproject-rtos/zephyr/pull/16621
* https://github.com/zephyrproject-rtos/zephyr/pull/16626
* https://github.com/zephyrproject-rtos/zephyr/pull/16009
* https://github.com/zephyrproject-rtos/zephyr/pull/15937

I didn't

[2019-06-07 21:27] andrewboie commented on #14173
Can you give some detail on how these parameters were selected? What do you observe for different shift values, and why did you settle on 4?

[2019-06-07 23:53] szymonnnm commented on #16145
@rlubos Thanks you! It works like a charm!

[2019-06-08 05:02] pmishr16 opened #16707 "Problem with k_sleep"
I  created a shell command which invokes two threads: producer and consumer.However after going to sleep due to k_sleep(10) function, the threads don't wake up.The print statement after the k_sleep function does not execute and the while loop runs only once.Kindly suggest the solution

static int cmd_task2(const struct shell *shell, size_t argc, char **argv)
{
	ARG_UNUSED(argc);
	ARG_UNUSED(argv);

[2019-06-08 05:21] pmishr16 commented on #16707
#include <zephyr.h>
//#include <board.h>
#include <version.h>
#include <device.h>
#include <gpio.h>
#include <pwm.h>
#include <misc/util.h>
#include <misc/printk.h>
#include <pinmux.h>
#include "../boards/x86/galileo/board.h"
#include "../boards/x86/galileo/pinmux_galileo.h"
#include "../drivers/gpio/gpio_dw_registers.h"
#include "../drivers/gpio/gpio_dw.h"
#include <shell/shell.h>
#include <intty

[2019-06-08 07:02] pfalcon commented on #16639
@aunsbjerg: Can you please provide more information:

1. On which ping number the issue happens? Based on wireshark screenshot, that would be ping no ~184, but it would be nice to have explicit number specified. Is that number consistent between different runs?

2.

That's effectively a flood ping. a) Did you ever run such a command against any other type of Zephyr device? (What were results?) b)

[2019-06-08 09:37] PiotrZierhoffer commented on #16683
@pfalcon, by all means, your insight and comments are always very welcome!

[2019-06-08 09:42] pfalcon commented on #16683
Oops, multitasking too much. I saw a github notification in email, and my mind tricked me into seeing the desirable - that it was also posted on the Zephyr "devel" mailing list. Well, I'd suggest to do that anyway, even if a quick link to this ticket. Doing so helps the much wider audience to stay in loop on Zephyr's developments and progress. And as pointed several times already, gathering critic

[2019-06-08 11:31] aunsbjerg commented on #16639
@pfalcon

The number is not consistent between different runs. Some general, anecdotal observations:

* The higher the ping frequency, that faster the error will occur.
* The error also happens at lower traffic rate (1 ping / sec), but it seems to happens less frequently.
* The error apparently also happens with UDP traffic. This is actually where I first saw the issue, while developing some UDP p

[2019-06-08 11:53] pfalcon commented on #16639
@aunsbjerg: Thanks for the detailed info, should be helpful when reproducing and investigating the issue.

Do you use procedure described in https://docs.zephyrproject.org/latest/guides/networking/qemu_setup.html? I.e. SLIP networking in QEMU, the classical one? I find the above report strange, as QEMU has problems with UART emulation, which affects SLIP, which in turn affects networking stability

[2019-06-08 17:42] #16581 closed

[2019-06-08 21:46] Laczen commented on #16676
Just created #16711.

[2019-06-08 22:59] andyross commented on #16707
What platform are you on?  Can you attach (not paste) the relevant code, including build integration and kconfig configuration so I can try to reproduce?  Can you make the failure happen independently of the shell stuff to simplify the test case?

[2019-06-09 07:23] #16569 closed

[2019-06-09 13:17] lodup29 opened #16712 "drivers: flash: spi_nor.c: Inconsistent configuration"
Some parameters remain specified through the [_kconfig_](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/flash/Kconfig.nor) while others are specified through the device tree. I believe that parameters such as _SPI_NOR_SECTOR_SIZE_, _SPI_NOR_PAGE_SIZE_ and _SPI_NOR_CS_WAIT_DELAY_ should be specified through the device tree while _SPI_NOR_INIT_PRIORITY_ is implicitly specified thro

[2019-06-09 14:02] lodup29 opened #16713 "drivers: flash: spi_nor.c: Unlock sectors"
Some _SPI NOR_ devices come with a write protection (on top of the default write protection) on by default on all sectors (ex: see [p. 24](https://www.adestotech.com/wp-content/uploads/doc3680.pdf)). A global unprotect must be issued once with each power-up in order to enable writing. A global unprotect can be issued simply by writing 0x00 to the status register. For example:
[code]
To be consiste

[2019-06-10 04:47] KwonTae-young opened #16716 "soc: stm32: Is the setting of NUM_IRQS in the F3 series wrong?"
I am currently looking at the soc settings of the `F3` series.
The current `F3` series are all set to `82` with the same `NUM_IRQS`.
[code]

As far as I know, these settings seem to be wrong.

**STM32F302X8**
Current code: https://github.com/zephyrproject-rtos/zephyr/blob/master/soc/arm/st_stm32/stm32f3/Kconfig.defconfig.stm32f302x8#L18-L20
Datasheet: https://www.st.com/resource/en/datasheet/stm32

[2019-06-10 04:52] yashi commented on #15605
Are we sure we want to add `__packed` here?  The UDP header itself is 4 bytes aligned. We also have slab allocator to align the packet buffer.  So, can we just aling, the packet buffer, if not?

If we need `__packed` here, don't we need every other field as well?

LDRD just need word-aligned.  Can you share the generated instructions with `__packed`?

[2019-06-10 05:56] bublover commented on #15605
Sorry for confusing.
"If you are creating misaligned pointers to structs or double words, then you must use the __packed qualifier in order to ensure that the compiler does not use LDRD and LDM instructions,"

https://community.arm.com/developer/ip-products/processors/f/cortex-a-forum/7179/hard-fault-in-cortex-m4

[2019-06-10 06:58] ioannisg commented on #16716
@erwango could you address this one?

[2019-06-10 07:00] jukkar commented on #15605
Please note that the zperf_udp_datagram is just cast to arbitrary memory location of the received net_buf. It might not be aligned to word boundary.

[2019-06-10 10:42] #16177 closed

[2019-06-10 12:04] Vudentz commented on #16676
Btw regarding the use of handlers, perhaps we could get rid of them completely if we make the load/save take the callback pointer which means we no longer have to do any lookups. Obviously this modify the whole architecture to work more like pull mode, like someone mentioned in the dev meeting, so the question is if we need to keep something like existing, maybe to lower the number of IOs, etc, bu

[2019-06-10 12:18] nordic-krch commented on #11743
Runtime filters are created in specific memory section. My idea was to have second memory section in userspace memory. Registration macro would create 2 filter variables in two sections. Log in userspace would check filter variable accessible by userspace. That would add message to the buffer. When log is processed filter is checked again. Then filter copy from kernel is checked. API for controlli

[2019-06-10 12:31] rakons commented on #16676
@Vudentz - I would rather redesign the system to use real pull architecture than implementing such pull-push hybrid little monster :)

[2019-06-10 14:48] Vudentz commented on #16676
Maybe Im being too optimistic, but it doesn't seems to be such a big deal once we have subtree loading it should be relatively simple, in my mind at least, to instead of doing a lookup for a handler just do the necessar IO, if any, to load the settings and call the callback(s) given (+ some user data if we find that useful).

[2019-06-10 15:06] ioannisg commented on #3399
@nkaramolegos do you want to add support of CC2538 in Zephyr?
If so all you need to do is to create a port of cc2538 SoC and some cc2538-based board (platform). Please see Zephyr documentation for porting guidelines.

(you could definitely do this work by looking at the Contiki OS port for cc2538)

[2019-06-10 16:44] ioannisg commented on #16360
Feedback  from #16058 review:
We need to revisit the implementation of z_arch_float_disable() for ARM, to make sure that we do not need to lock interrupts

[2019-06-10 17:17] gnuless opened #16720 "drivers/loapic_timer.c is buggy, needs cleanup"
**Describe the bug**

The local APIC timer code is suffering from bitrot.  It will not build properly with `CONFIG_DEVICE_POWER_MANAGEMENT`, or `CONFIG_TICKLESS_KERNEL`, and even when it does, the timer ticks seem off by orders of magnitude (`k_sleep(1)` will sleep for nearly a second instead of a ms).  It needs an overhaul.

**To Reproduce**

For example, try to build with `CONFIG_DEVICE_POWER_MA

[2019-06-10 17:18] gnuless commented on #16072
Rolled into #16720

[2019-06-10 17:18] #16072 closed

[2019-06-10 17:22] gnuless opened #16721 "PCIe build warnings from devicetree"
**Describe the bug**

When building targets with PCIe devices in devicetree, warnings are produced that need to be silenced.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=up_squared
3. make
4. See warnings like `up_squared.dts.pre.tmp:94.15-105.5: Warning (simple_bus_reg): /soc/i2c@1: simple-bus unit address format error, expected "b100"`

**Impact**

[2019-06-10 20:11] chris-makaio opened #16723 "nrfx: uart: power management does not include CTS/RTS pins"
**Describe the bug**
Sending the UART peripheral to sleep via
`device_set_power_state(ctx->uart_dev, DEVICE_PM_LOW_POWER_STATE, NULL, NULL);`
doesn't actually send it to sleep. In fact, CTS / RTS are still active, thus the power consumption is increased by 300-500uA. I tested this with Microchip RN2483 and U-Blox SARA-U201.

**To Reproduce**
Use an UART-Device which is fine with and without flow c

[2019-06-11 01:14] KwonTae-young commented on #16716
I reviewed all the STM32 series and created a commit to modify `NUM_IRQS`.

[2019-06-11 04:11] ydamigos commented on #16716
@KwonTae-young Please check IRQn_Type enumerations in SoC header files at `ext/hal/st/stm32cube/stm32fxxx/soc`. `NUM_IRQS` is equal to the maximum IRQ number plus 1.

[2019-06-11 04:19] KwonTae-young commented on #16716
@ydamigos Thank you. I was misunderstanding NUM_IRQS. :sweat_smile:

[2019-06-11 04:19] #16716 closed

[2019-06-11 06:18] Laczen commented on #16676
The proposal of @Vudentz is indeed very easy to do: adapt csi->load so that it would accept a function (the set function) to be called when a match is found. To provide all functionality of settings_load_subtree() it would be required to provide:
a. The set routine,
b. The name that is considered the start of the variable names,
c. The subtree that puts an extra filer on the variable names,
Then w

[2019-06-11 07:59] rakons commented on #16676
@Laczen @Vudentz
And then connect it all with settings injection.
It isn't hard to implement. It just seems messy in usage.

But if you really wish to have it - show it in implementation and unit-test/sample, then we may discuss it.

[2019-06-11 08:45] ioannisg commented on #13637
@andrewboie do you have plans to pick this up for 2.0 release?

[2019-06-11 08:53] erwango opened #16733 "soc/stm32: Remove useless package digit for STM32 SoC Kconfig symbols"
**Is your enhancement proposal related to a problem? Please describe.**

Last digit of Kconfig symbols defined in `soc/arm/st_stm32/stm32XX/Kconfig.soc` hold a package information (letter **G** in the following example):
[code]
This information was previously used to be able to discriminate package variants and be able to assign RAM and Flash sizes in `soc/arm/st_stm32/stm32l4/Kconfig.defconfig.st

[2019-06-11 08:56] Vudentz opened #16734 "Bluetooth: GATT: Writing 1 byte to a CCC access invalid memory"
According to the spec it is valid to write less than attribute length:

BLUETOOTH CORE SPECIFICATION Version 5.1 | Vol 3, Part F
page 2320:

'If the attribute value has a fixed length and the Attribute Value
parameter length is less than or equal to the length of the attribute
value, the octets of the attribute value parameter length shall be
written; all other octets in this attribute value shall

[2019-06-11 09:40] erwango commented on #15714
@jhedberg , tested and working on my side.
Will try to push a PR soon, txs!

[2019-06-11 09:54] mfiumara opened #16735 "smp_svr sample does not discover services"
**Describe the bug**
When following steps in the smp_svr example (https://docs.zephyrproject.org/latest/samples/subsys/mgmt/mcumgr/smp_svr/README.html#smp-svr-sample) and try to perform a ping to the target device, I get the following error:
[code]

**To Reproduce**
1. Follow guide at https://docs.zephyrproject.org/latest/samples/subsys/mgmt/mcumgr/smp_svr/README.html#smp-svr-sample using a nrf52_

[2019-06-11 10:15] aescolar commented on #16735
@jhedberg Could you triage?

[2019-06-11 10:27] jhedberg commented on #16735
Looks like this PDU is not getting a response from Zephyr:
[code]

[2019-06-11 10:29] jhedberg commented on #16735
@Vudentz this could be the ATT flow control thing not he Zephyr side. @mfiumara could you try with latest master branch? If the issue persists, could you enable `CONFIG_BT_DEBUG_LOG=y` so we get more info from the Bluetooth stack.

[2019-06-11 10:46] mfiumara commented on #16735
@jhedberg I checked out the latest master @ 23a6de5dd0 and repeated steps above: this seems to solve the issue. Output is now as expected:
[code]
Output from btmon now:
[code]

[2019-06-11 11:03] mfiumara commented on #16735
Also services now get discovered correctly:
[code]
Can this issue be closed then?

[2019-06-11 11:20] jhedberg commented on #16735
Yes, I'd say so. I.e. my suspicion of this getting solved by #16612 was correct.

[2019-06-11 12:09] paulgavrikov commented on #16602
@Vudentz I wasn't able to run it on ble_sim as of now but I tested in on an nRF52840. The discovery callback is triggered one correctly but returning `BT_GATT_ITER_CONTINUE` keeps the callback being called with random handles. It seems like this is an infinite loop.

Example output:

[14:05:39:106] [ATTRIBUTE] handle 0x6266␍␊ <-- now we only get random handles
[14:05:39:117] [ATTRIBUTE] handle 0xa

[2019-06-11 12:31] gon1332 opened #16739 "spi: stm32: pinmux: default configuration does not opt for low power consumption"
**Is your enhancement proposal related to a problem? Please describe.**
The SPI MOSI/MISO are configured as PP NOPULL from the pinmux. The use case is when having a SPI peripheral. Putting the board in STOP2 mode with the current configuration, the consumption is approximately 20uA (per pin) more than having those pins set as PP PULL{UP, DOWN}.

**Describe the solution you'd like**
I would like to

[2019-06-11 12:32] gon1332 commented on #16739
@galazari @nikooiko

[2019-06-11 12:47] #16734 closed

[2019-06-11 12:48] gon1332 commented on #16739
Also the same behaviour is observed while in RUN mode.

[2019-06-11 15:03] nashif opened #16745 "PTHREAD_MUTEX_DEFINE(): don't store into the _k_mutex section"
The _k_mutex linker section is used to gather instances of
struct k_mutex into a list so that init_mutex_module() could iterate
that list to perform runtime initialization tasks. In this case, we're
not defining a struct k_mutex but rather a struct pthread_mutex which is
a completely different structure. Not only those struct pthread_mutex
would be corrupted with unexpected data, but since they're

[2019-06-11 15:05] nashif opened #16746 "boards: nrf52840_pca10059: Configure NFC pins as GPIOs by default"
Since there is no NFC antenna connector on the dongle and the pins
P0.09 and P0.10 that are dedicated to NFC functionality are in the
group of just a few ones available for external connections, it seems
more reasonable to configure these pins by default as regular GPIOs,
as users will most likely want to use them in this way.

[2019-06-11 15:07] nashif opened #16747 "bluetooth: peripheral: RX buffer size issues"
GATT long messages require buffers to store multiple packets. The actual
configuration for the bluetooth peripheral sample defines only two
buffers to store these messages. As the default ATT payload size is
18 bytes, the maximum payload size for a long ATT message is 36 bytes.
As the variable vnd_long_value[] has a defined size of 74 bytes, it
cannot be fully modified due to the 36 bytes limitati

[2019-06-11 15:12] nashif opened #16749 "IRQ_CONNECT and irq_enable calls in the SiFive UART driver is misconfigured"
IRQ_CONNECT and irq_enable calls in the SiFive UART driver is
misconfigured when the conversion to DeviceTree support occurred.

[2019-06-11 15:14] nashif opened #16750 "counter: lack of interrupt when CC=0"
According to documentation Compare event will not be triggered
if CC=0 and CLEAR task is set.

[2019-06-11 16:56] andrewboie commented on #13637
@ioannisg no I won't have the bandwidth, my time lately is all eaten up with code coverage issues

[2019-06-11 17:08] nashif commented on #15893
configuration to test coverage was merged.

[2019-06-11 17:08] #15893 closed

[2019-06-11 17:13] #16745 closed

[2019-06-11 17:13] #16746 closed

[2019-06-11 17:13] #16747 closed

[2019-06-11 17:13] #16749 closed

[2019-06-11 17:13] #16750 closed

[2019-06-11 20:36] #8978 closed

[2019-06-11 22:21] andrewboie opened #16760 "K_THREAD_STACK_EXTERN() confuses gen_kobject_list.py"
**Describe the bug**
If a C file is built that has an extern declaration of a thread stack, before the actual declaration of the thread stack, the kernel object detection mechanism will fail to register the stack object and system calls on it (such as k_thread_create()) will fail:

[code]

This could happen commonly if a header file has the extern declaration, and the C file which defines the thre

[2019-06-11 22:26] andrewboie commented on #16760
@wentongwu can you take a look at this one? This would be a good opportunity to learn more about how gen_kobject_list.py works.

[2019-06-12 00:35] jwknaup opened #16761 "nrf52840 usb driver with openthread"
**Describe the bug**
When attempting to use both the nrf52 usb serial device driver and openthread, the usb serial output prints very slowly with many dropped/garbled characters.

**To Reproduce**
* Start from the echo_client sample
* Enable openthread in the configuration as per the overlay-ot.conf file
* Enable USB in the configuration as per the usb/console sample .conf file
* Build and flash f

[2019-06-12 03:07] wentongwu commented on #16760
sorry, mis-click.
yes, I'm checking this issue. Thanks

[2019-06-12 05:39] hongshui3000 commented on #6082
When do you plan to support the MIPS R6 architecture?

[2019-06-12 06:39] alexanderwachter commented on #16155
Fixed by #16060

[2019-06-12 06:39] #16155 closed

[2019-06-12 06:55] alexanderwachter opened #16766 "net: net_pkt_copy don't work as expected when data was pulled from destination"
**Describe the bug**
`net_pkt_clone` don't work as expected when data was pulled from the destination.
Data is usually pulled when headers are removed (Ethernet header for example).
The reason for this that d_len is calculeted using buf->size but the data pointer is already advanced. This results in a out of bounds write.

**Expected behavior**
Stop writing at the end of the buffer

**Impact**
`ne

[2019-06-12 07:16] alexanderwachter opened #16767 "net: net_pkt_clone"
**net_pkt_clone doesn't change the lladdr pointer to the new packet**
`net_pkt_clone` copies the `lladdr_src` and `lladdr_dst` from the source to the clone.
Usually those link layer address points to the buffer from the net_pkt itself. When the original pkt is de-referenced  those addresses become invalid.
**The clone is not an exact copy of the source**
The clone is not an exact copy because data

[2019-06-12 08:44] #16678 closed

[2019-06-12 11:31] SebastianBoe commented on #16631
Closing due to reporter being unresponsive.

[2019-06-12 11:31] #16631 closed

[2019-06-12 11:57] joerchan commented on #12535
@Qbicz Does using `bt_le_oob_get_local` to generate a fresh address and reset the timer work for the swift pairing use-case?

[2019-06-12 12:10] ruuddw opened #16770 "Complete FP support for ARC"
FP is only partially supported for ARC as well. I see all the context save/restore macro's as well as compiler flags. But, there is no usage of CONFIG_FLOAT in any test/sample software (e.g. fp_sharing test) and it is not documented like for X86 and ARM.

[2019-06-12 12:37] Qbicz commented on #12535
@joerchan this looks like a good idea, I will give it a try this week.

[2019-06-12 12:50] nvlsianpu opened #16773 "DTS: generated output for each flash-controller"
**Problem to be solved**
Currently flash-controller is generated only for `zephyr,flash` chosen node.
This causes problem when need to use DTS data form more than one flash controller at one.

For instance when we want to use flash-simulator driver (on qemu_x86), then need to chose its DT node. This imposes that its values are presented as `DT_FLASH_*` defines. As the result target has fake ROM si

[2019-06-12 12:56] nvlsianpu commented on #16773
cc @anangl , @carlescufi , @galak , @ulfalizer , @b0661  Need someone to deal with this issue.

[2019-06-12 13:36] galak commented on #16773
Are you looking for `SOC_NV_FLASH` defines to get generated for both flash nodes in qemu_x86.dts?

[2019-06-12 15:29] jukkar opened #16778 "Build failures in various mimxrt boards"
**Describe the bug**
I am seeing this error in several PRs that I have submitted
[code]
when sanitychecker uses board mimxrt1050_evk_qspi, mimxrt1050_evk or mimxrt1064_evk.
Some of the PRs that show this issue are #16743 #16464  #16403 #16772
One example shippable log can be found here
https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/43576/summary/console

**Impact**
This is a shows

[2019-06-12 15:43] ioannisg opened #16779 "[Zephyr v1.14] ARM: fix the start address of MPU guard in stack-fail checking (when building with no user mode)"
When we are building
- for ARM
- without support for user mode (CONFIG_USERSPACE=n)
- but with support for stack-overflow detection (CONFIG_HW_STACK_PROTECTION=y)

we need to correct the starting address of the MPU Guard, before passing it to the function that evaluates whether a stack corruption has occurred. The bug was introduced by 60bae5de38e3aadb70312882cb81bde4e87ffaf9 in #13619, where the

[2019-06-12 15:49] ioannisg commented on #16778
I think I saw this recently. I'll take a look.

[2019-06-12 16:36] #15981 closed

[2019-06-12 18:45] aasthagr opened #16785 "[Coverity CID :198949]Error handling issues in /tests/net/socket/register/src/main.c"
Static code scan issues seen in File: /tests/net/socket/register/src/main.c
 Category: Error handling issues
 Function: test_create_sockets
 Component: Tests
 CID: 198949
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-12 18:45] aasthagr opened #16786 "[Coverity CID :198946]Memory - corruptions in /subsys/bluetooth/host/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/host/gatt.c
 Category: Memory - corruptions
 Function: bt_gatt_indicate
 Component: Bluetooth
 CID: 198946
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-12 18:45] aasthagr opened #16787 "[Coverity CID :198945]Null pointer dereferences in /subsys/bluetooth/controller/ll_sw/ull_conn.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ll_sw/ull_conn.c
 Category: Null pointer dereferences
 Function: ull_conn_tx_lll_enqueue
 Component: Bluetooth
 CID: 198945
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-06-12 18:47] aasthagr commented on #16785
[code]

[2019-06-12 18:48] aasthagr commented on #16786
[code]

[2019-06-12 18:48] aasthagr commented on #16787
[code]

[2019-06-12 18:50] #16570 closed

[2019-06-12 19:45] galak opened #16790 "adxl362 sample isn't build by sanitycheck"
We need to see about adding a DT overlay for adxl362 so the sample at least builds on the qemu platform.

[2019-06-12 19:47] rerickson1 commented on #15844
I am using zephyr 1.14 and am trying to use `net_mgmt_event_callback` in one of my app threads.  I do not see the callback firing properly when the iface goes up and down.  Am I not allowed to use the callbacks in my app?

[2019-06-12 20:24] jimparis opened #16791 "build system does not see changes in DTS dependencies"
**Describe the bug**
The build system does not see changes in .DTS file dependencies (like .dtsi files)

**To Reproduce**
[code]

**Environment (please complete the following information):**
Latest master

[2019-06-12 21:08] marc-hb commented on #11717
I saw some of your GRUB-related work so I thought you could maybe find some documentation about booting Zephyr "for real", without any qemu -kernel shortcut / hack.

[2019-06-12 21:17] marc-hb commented on #11717
Googling a bit more I found that Clear Linux has already solved the other alternative:
[code]
It's there: https://download.clearlinux.org/image/  OVMF.fd

`zephyr-sdk-0.10.0/sysroots/x86_64-pokysdk-linux/usr/bin/qemu-system-x86_64 -bios` boots this OVMF.fd to the EFI shell and  `-kernel zephyr-qemu.elf` is ignored.

Interesting bit from https://download.clearlinux.org/image/ start_qemu.sh
[code]

[2019-06-13 04:46] xiaoliang314 opened #16793 "kernel timeout_list repeatedly add a thread"
When I debug my Bluetooth Mesh program, the kernel often crashes during communication. I traced this reason because it was caused by a thread being repeatedly added to the kernel timeout list. I am using a low speed MCU only 16M. The following is the gdb log information when an error occurs:

(gdb) c
Continuing.
^C
Program received signal SIGTRAP, Trace/breakpoint trap.
assert_post_action (file=fi

[2019-06-13 04:51] xiaoliang314 commented on #16793
a_add_timeout attempts to add a thread to timeout_list causes the assertion to fail because the inserted thread already exists in timeout_list

[2019-06-13 04:58] xiaoliang314 commented on #16793
I have modified the stack of the adv thread to 1024 bytes, and the original 768 has the risk of overflow.

[2019-06-13 07:34] agansari commented on #16778
@ioannisg i remember somethin similar in #15836

[2019-06-13 08:23] aescolar commented on #16793
@jhedberg Are you able to help here?

[2019-06-13 09:24] gon1332 opened #16797 "[Zephyr v1.14.0] stm32: MCUboot bootloader results in Hardware exception"
**Describe the bug**
I tried to support MCUboot bootloader in some STM32 platform SOCs but with no success. After building the bootloader from the mcuboot repository, when flashed it results in a Hardware Exception.

I've tried with the following Zephyr revisions:
* tags/v1.14.0
* v1.14-branch (6950a38cb3)
* HEAD

and mcuboot at master (fc07eab)

The target socs/boards I've tried are:
* nucleo_f40

[2019-06-13 09:24] gon1332 commented on #16797
@galazari

[2019-06-13 09:40] Vudentz opened #16799 "Bluetooth: L2CAP: Interpretation of SCID and DCID in Disconnect is wrong"
On the request the spec has the following decription:

• Destination CID - DCID (2 octets)
This field specifies the endpoint of the channel to be disconnected on the
device receiving this request.
• Source CID - SCID (2 octets)
This field specifies the endpoint of the channel to be disconnected on the
device sending this request.

So the DCID should map to rx.cid while the SCID should map to tx.ci

[2019-06-13 09:55] jhedberg commented on #16793
I don't know if I can help, but this all sounds quite familiar. I think a bug (or several of them) were fixed in the kernel timeout/scheduling code recently for this kind of issues. So as the first thing I'd recommend trying with the latest master branch to see if the issue is reproducible.

[2019-06-13 11:17] xiaoliang314 commented on #16793
@jhedberg Thank you, It looks like this time, right?

commit 4521e0c111e8668f75303892e0377e0c1a0da005
kernel/sched: Mark sleeping threads suspended

On SMP, there was a bug where the logic that re-adds _current to the
run queue at swap time would accidentally reschedule threads that had
just gone to sleep, because the is_thread_prevented_from_running()
predicate only tests for threads that are "su

[2019-06-13 11:33] #16799 closed

[2019-06-13 11:35] jhedberg commented on #16786
This one was marked as a false positive before this issue was opened - please check the Coverity state before creating new GitHub issues.

[2019-06-13 11:35] #16786 closed

[2019-06-13 12:19] MariuszSkamra opened #16803 "Deferred bt_conn_tx causes sysworkq deadlock"
Mesh pb-gatt sends several GATT notifications in a row. It runs in system workqueue thread context, so that it is possible to cause deadlock after recent changes that deferred `bt_conn_tx` callback to system workqueue.

While sending several notifications in a row, `bt_att_send` takes `tx_sem`
[code]
that is later given by `bt_conn_tx`.
[code]
As a result running `bt_att_send` and `bt_conn_tx` fro

[2019-06-13 12:24] MariuszSkamra commented on #16803
[RTT_Terminal_201906131359.log](https://github.com/zephyrproject-rtos/zephyr/files/3285942/RTT_Terminal_201906131359.log)

[2019-06-13 12:55] Vudentz commented on #16803
So we been blocking on system wq since bt_gatt_* do block when BT_ATT_ENFORCE_FLOW is set, we could perhaps make att.c queue if the semaphore cannot be taken and we don't really need to save the callback as the semaphore is only used when it is set to NULL, then we resume when the previous packet completes.

[2019-06-13 13:04] Vudentz commented on #16803
Actually that still likely to block if we hold on the buffer into a queue it will likely block on bt_conn_create_pdu waiting for buffer to become available, so this one maybe more complicated to deal with, perhaps we will have to have the bt_att_req for notification as well so we can queue them up without requiring a buffer though the bt_att_req is something Id like to make internal to the stack s

[2019-06-13 13:16] laperie opened #16809 "TCP2 integration"
The final steps of preparing new TCP stack for integration to Zephyr tree will be tracked in this issue.  As a result of these steps, the TCP2 should be available under certain KConfig flag (mutually exclusive with existing TCP stack) with existing TCP unit tests passing, existing samples functional and comparable Maxwell Pro results

These are the steps to integrate TCP2 to the existing net stack

[2019-06-13 13:47] jukkar commented on #16778
I submitted #16811 that will disable Ethernet so that networking PRs can be merged. That is of course a workaround and should be reverted eventually.

[2019-06-13 14:22] jukkar commented on #16809
For integration work, I think this is not really needed. It is very much needed when we want to replace TCP1 by TCP2.

[2019-06-13 14:28] ioannisg commented on #16778
@agansari yes, you're right, that's  why this looked familiar. @jukkar perhaps, the root cause **is** the check_link_map.py script. Could we confirm that before merging the revert PR?

[2019-06-13 14:47] thomascp opened #16814 "support for RISCV64 and SMP"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add support for RISCV64 and SMP.

**Describe alternatives you've considered**
No.

**Additional context**
I had added some quick support for it, please refer to
https://github.com/thomascp/zephyr
This quick support had been tested on Renode Hifive Unleashed SMP board.
work based on branch :

[2019-06-13 14:50] #16138 closed

[2019-06-13 15:31] Laczen commented on #16676
Since yesterday during the meeting it was clear that the next step would be to put everything in ROM, here is some code how this could be done (I have been misusing the _bt_settings_handler region in ROM):
[code]

[2019-06-13 15:53] mbolivar commented on #16803
I'm trying to use [smp_svr](https://docs.zephyrproject.org/latest/samples/subsys/mgmt/mcumgr/smp_svr/README.html) on zephyr 802718a773 with nrf52840_pca10056 and have problems I'm told are related to this issue.

When I run `sudo mcumgr --conntype ble --connstring ctlr_name=hci0,peer_name='Zephyr' echo hello`, I eventually see `Error: can't discover services: ATT request timeout: req timeout`.

He

[2019-06-13 16:31] jukkar commented on #16778
Sure, np.

[2019-06-13 16:37] jhedberg commented on #16803
@mbolivar could you try reverting 8a7615f4a3d8932481277dffd41a4a72febd0a61 as well?

[2019-06-13 17:08] tedd-an commented on #16803
You may want to revert 2699d05e45f58897edd7d6d3718c254224390667 as well.

[2019-06-13 17:23] jhedberg commented on #16803
If the issue is flow enforcement related I'd say leave commit 269d05 as-is and revert 8a7615f

That way you're making TX callbacks happen sooner while keeping the RX callbacks later, which is essential for avoiding the race condition where we get new incoming data before we've been notified that some related piece of outgoing data has been transmitted over the air.

[2019-06-13 17:27] Vudentz commented on #16803
Btw, should there be a k_yield after this line:

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/mgmt/smp.c#L277

[2019-06-13 17:36] mbolivar commented on #16803
same timeout result.

Same result as well (with both reverted).

[2019-06-13 17:40] Vudentz commented on #16803
I guess it is a different problem then, do you actually get any traffic? Or perhaps there is something with the user_data that has been changed, thought it had been increased from 7 to 8 bytes.

[2019-06-13 17:44] mbolivar commented on #16803
I assume so; the device does say that it's connected and disconnected. Does the btmon trace I posted earlier help answer the question?

Here is another one for 8a7615f reverted, with the same diff on smp_svr/prj.conf: https://gist.github.com/mbolivar/c5d36baf581fc47a6d51257164adfe78

The device logs:

[code]

[2019-06-13 18:00] jhedberg commented on #16803
It's a bit unclear from your logs, @mbolivar do I understand correctly that just reverting 8a7615f didn't help?

As far as I see there are two issues:

 - deadlock, caused by trying to send data from the same thread as is used for the TX callback
 - race condition, i.e. us getting a new incoming packet before being notified that the previous outgoing one has been transmitted

The reason I suggeste

[2019-06-13 18:07] mbolivar commented on #16803
Yes, that is correct.

The btmon trace in https://github.com/zephyrproject-rtos/zephyr/issues/16803#issuecomment-501808742 is with *just*  8a7615f reverted. The timeout result is the same. The device logs in that comment are from the same test run.

[2019-06-13 18:09] jhedberg commented on #16803
@mbolivar ok, then I agree with @Vudentz that further studying is needed since this sounds like something else than we've originally been looking at.

[2019-06-13 18:14] mbolivar commented on #16803
Should I open a separate bug?

[2019-06-13 19:00] Vudentz commented on #16803
@mbolivar try with https://github.com/zephyrproject-rtos/zephyr/pull/16820 maybe it help with you issue as well.

[2019-06-13 19:25] mbolivar commented on #16803
@Vudentz I tried with c01c68ab48 (and a clean tree, no prj.conf changes) and got similar results.

[2019-06-13 20:19] andyross opened #16823 "k_busy_wait() on nRF5x boards isn't waiting long enough"
The nrf52840_pca10056 uses an arch-supplied implementation for k_busy_wait().  And it seems the clock being used is consistently slow by 10%, resulting in busy wait times that are incorrect.  This can be detected in tests now that high tick rates are being used (c.f. #16782)

See the code below.  It requests successively larger delays to k_busy_wait(), checks them against the cycle counter, and an

[2019-06-13 20:22] andyross commented on #16823
Stumbled into this while tuning the timer stuff.   10% off hasn't really been noticeable so far, but it is now.  FWIW: having the busy wait implementation and the timing implementation be on (seemingly) different hardware clock bases may not be the best choice anyway.   The default implementation is super small and leverages the code already present for the cycle counter.  I'd suggest sticking wit

[2019-06-13 22:31] pabigot commented on #16823
This sort of delay can happen if the wait loop code isn't aligned to the proper offset for caching; see [this comment](https://github.com/pabigot/nrfcxx/blob/master/src/nrf52/delay_cycles.S#L4).  Dunno why that would suddenly be occurring with Nordic's code, though, since it has an align directive.  I tested it back in the 1.14 days and it was dead on.

If the current standard busywait implementat

[2019-06-14 01:19] xiaoliang314 commented on #16793
The problem is solved！

[2019-06-14 01:19] #16793 closed

[2019-06-14 07:54] nvlsianpu commented on #16773
I see that there are SOC_NV_FLASH_xxx defines. But they are useless for this case as can't predict whether flash-simulator will have index 0 or 1 (SOC_NV_FLASH_0_xxx or SOC_NV_FLASH_1_xxx belongs to flash-sim).

What I want to have is unique defines for runing flash-simulator without chosen flash_sim0 node:
[code]

[2019-06-14 08:24] pabigot commented on #16823
@andyross Your 10% overhead is because #16782 is causing the timer ISR to be entered every 60 us.

The SOC busy-wait is looping for the number of CPU clock cycles required to cover the requested duration.  It does this with interrupts enabled, so any extra work that happens during the loop is added to the apparent delay.  This is a cost we pay for having accurate short-duration (<= 100 us) delays;

[2019-06-14 10:04] nashif commented on #11743
@nordic-krch @andrewboie can you document the discussed and proposed solution here please?

[2019-06-14 10:33] Jeepgoing commented on #13560
Hi, @ydamigos ,  can you tell me how to test this sample?

there have two unknow devices on my PC,
![image](https://user-images.githubusercontent.com/24618171/59503374-d176a200-8ed2-11e9-9bcb-27ab8e8a5f28.png)

[2019-06-14 11:01] cvinayak commented on #16787
My understanding of the detected NULL pointer dereference could be with that the _conn->tx_ctrl_last_ is assigned NULL in the _while_ loop and would be dereferenced inside _is_enc_req_pause_tx_. But _conn->tx_ctrl_last_ is assigned NULL alongwith _conn->tx_ctrl_ and _is_enc_req_pause_tx_ tries to dereference _conn->tx_ctrl_last_ after checking for  _conn->tx_ctrl_ is not NULL.

This issue can be t

[2019-06-14 12:09] EddLeon commented on #13065
@nashif Is there any future plan to support Bluetooth?

[2019-06-14 12:39] mped-oticon commented on #16787
I've looked at the sources and reach the same conclusion as @cvinayak.

[2019-06-14 12:49] pizi-nordic commented on #16823
@andyross: The default k_busy_wait() implementation is imprecise due to 2 reasons:
1. It bases on CPU execution speed (which is affected by icache).
2. It runs on RC clock by default (which is imprecise).

The (1) has been chosen as the default implementation because it can run on any Nordic SoC
The (2) is the default as RC oscillator requires less power than crystal.

To get the most precise busy

[2019-06-14 12:54] cvinayak opened #16830 "Bluetooth: controller: Follow up on ticker conflict resolution"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

With the changes in the PR #15787, I notice 2 main issues:
1.	The scan_adv sample is missing required advertising events due to incorrect conflict resolution. As the conflict resolution is done late into an occupied region, the overlapping event is skipped and its lazy_c

[2019-06-14 12:55] #16803 closed

[2019-06-14 12:55] cvinayak commented on #16830
From: Chettimada, Vinayak Kariappa [mailto:vinayak.kariappa.chettimada@nordicsemi.no]
Sent: 13. juni 2019 17:31
To: Morten Priess (MTPR) <mtpr@demant.com>; Peter Søren Kirk Hansen (PSHA) <psha@demant.com>; Mark Ruvald Pedersen (MPED) <mped@demant.com>
Cc: Alberto Escolar Piedras (ALPI) <ALPI@demant.com>; Cufi, Carles <Carles.Cufi@nordicsemi.no>
Subject: Re: Difference in scan_adv sample after #157

[2019-06-14 12:57] cvinayak commented on #16830
From: Morten Priess (MTPR) <mtpr@demant.com>
Sent: 13 June 2019 23:31
To: Chettimada, Vinayak Kariappa <vinayak.kariappa.chettimada@nordicsemi.no>
Cc: Peter Søren Kirk Hansen (PSHA) <psha@demant.com>; Mark Ruvald Pedersen (MPED) <mped@demant.com>; Alberto Escolar Piedras (ALPI) <ALPI@demant.com>; Cufi, Carles <Carles.Cufi@nordicsemi.no>
Subject: Regarding the missing required advertising events wi

[2019-06-14 12:59] cvinayak commented on #16830
Fra: Chettimada, Vinayak Kariappa <vinayak.kariappa.chettimada@nordicsemi.no>
Sendt: 14. juni 2019 14:36
Til: Morten Priess (MTPR)
Cc: Peter Søren Kirk Hansen (PSHA); Mark Ruvald Pedersen (MPED); Alberto Escolar Piedras (ALPI); Cufi, Carles
Emne: RE: Regarding the missing required advertising events with new ticker

Hi,

In the old ticker, conflicts are resolved on the following basis:

1.	New Sta

[2019-06-14 14:03] aescolar commented on #16787
Closing then as false positive. @cvinayak please annotate it so in the coverity server.

[2019-06-14 14:03] #16787 closed

[2019-06-14 14:48] andyross commented on #16823
Hah.  Yeah, @pabigot saw it.  I'd broken the logic at the end of the process and was spamming interrupts.  Running that test code against master (which I would have sworn I did originally, but clearly didn't) works fine.  Closing.

[2019-06-14 14:48] #16823 closed

[2019-06-14 15:16] andyross commented on #16823
Hah again.  Actually the version I pushed seems to have fixed that bug anyway.  We get correct ISR counts and correct busy wait durations (to within about .5%, but it's high and not low and tests don't see it).  Not even sure which version I tested this one against originally.

Clearly I rushed this report.  Sorry :)

[2019-06-14 15:29] pabigot commented on #16823
@andyross Not sure how you're doing things, but I reproduced the problem of spamming ISRs on f82822c600e0c95fcd860663ca6b969097d211b2 which is #16782, with the application in this report, using this patch.
[code]

That GPIO toggles at 16 KiHz on a logic analyzer, while there aren't supposed to be any timers set.

Also after a while I get:
[code]
Please recheck the PR contents against what you're t

[2019-06-14 17:24] andyross commented on #16823
FWIW: the spam bug was the case where **long** timeouts (e.g. K_FOREVER) would because of the modular space be indistinguishable from missed ones, so it would set "idle" timeouts for 60ms.  It's definitely fixed in my tree, which has a few other things added as I work through the full test suite.  I just never put the clues together that this bug was just a symptom of the other issue (because my b

[2019-06-14 17:46] ydamigos commented on #13560
Hi @Jeepgoing,

On windows, I had to edit overlay-netusb.conf and change `CONFIG_USB_DEVICE_NETWORK_ECM=y` to `CONFIG_USB_DEVICE_NETWORK_RNDIS=y`.

Then I run:
[code]
I connected the device to Windows machine. A new `Unknown device` showed up in `Device Manager`. I chose to update drivers with the option `Pick from a list` and then selected `‘Network Adapters’ -> ‘Microsoft Corp’ -> ‘Remote NDIS C

[2019-06-15 04:55] marc-hb commented on #15315
Looks like PR #16839 is addressing *both*, @carlescufi can you confirm?

[2019-06-15 09:08] mtpr-ot commented on #16830
Regarding 1 _"The scan_adv sample is missing required advertising events due to incorrect conflict resolution"_:
I agree that it would be difficult to handle use of the priority feature to have ADV in the adv_scan sample run as scheduled by the "legacy" ticker.
Instead I propose implementing the rule described above in 2.a _"Roles with higher periodic interval have higher chance compared to lower

[2019-06-15 09:21] mtpr-ot commented on #16830
**Regarding 2** _"...any execution of ticker_worker inside an occupied region will introduce high Radio ISR latency"_:
I think this is quite managable to fix in ticker bottom half (ticker_job). The idea is that ticker nodes are checked for future expiry within active region. If such nodes are found we should:
1. Remove the ticker node
2. Add a periodic interval to the ticks_to_expire
3. Re-insert

[2019-06-15 12:29] cvinayak commented on #16830
**Regarding 1...**

CONFIG_ not required, we use the legacy behavior for legacy BLE states/roles (adv, scan, slave, master & flash driver) and _priority_ be used for 'future' feature requirement

**Regarding 2...**

This appears to be like revert back of #15787 conflict resolution from ticker_worker to ticker_job, if that is what you mean, I am ok. Reason, having the old implementation and adding

[2019-06-15 12:45] xuefli opened #16851 "west flash error on zephyr v1.14.99"
enviroment:
host: macOS 10.13.6 High Sierra
board: stm32 EUCLEO-L476RG

run with sample/hello_word

can flash zephyr.elf with STM32 Cube Programer,but with west flash can not flash
the console log like follow:

[code]

how to config board/st_nucleo_l4.cfg and which folder to put

[2019-06-15 17:43] mtpr-ot commented on #16830
This would not be exactly like a revert of #15787. One reason for this is that the old implementation would potentially skip several intervals (in theory) to find a free region. I would prefer to only skip one interval per ticker_job (for each conflicting node). This way, you will only get one early "must expire" callback, and it will be easier to **undo, if a ticker update opens a free slot** (se

[2019-06-15 18:03] mtpr-ot commented on #16830
**Regarding LEAS timing requirements**

In our Apple LEAS (Low Energy Audio Streaming) implementation, we use a modified LLL BLE slave implementation, where after each successful RX of the primary packet, we add a 1 cycle latency to the ticker node (lazy_periodic = 1) to skip the retransmission, thereby freeing the next interval for other events. At the next prepare, we remove the latency (lazy_pe

[2019-06-16 14:12] wentongwu commented on #16760
will add analysis for DW_TAG_typedef to fix this issue.

[2019-06-17 02:36] jli157 commented on #16797
You need to enable multi thread support for the board.

[2019-06-17 04:34] hakehuang commented on #16463
yes, it passes after erase.

@nvlsianpu

[2019-06-17 07:17] #15714 closed

[2019-06-17 08:14] finikorg commented on #13560
@ydamigos Could you try enabling `USB_DEVICE_OS_DESC`, it should install Windows drivers automatically.

[2019-06-17 08:29] nordic-krch commented on #11743
Proposed solution for handling runtime filtering assumes that filtering settings can only be changed from kernel space and user space can only read it. Filters will be stored in memory partition (section?) which will be read only for user space.
To be considered is the fact that such read only memory partition may have other use cases than the logger run time filtering. Some of the syscalls could

[2019-06-17 09:13] endian-benjamin opened #16861 "nRF52: UARTE: Data corruption right after resuming device"
Providing a bare-bones reproducible example isn't easy in this case, but I can reproduce it reliably with customer code. It seems that when you suspend the UARTE and then resume it (using `device_set_pm_state()`), there is a window right after resume in which transmissions get corrupted. This is the setup:

1. pm hooks suspends UART and `cpu_idle()`
2. timer interrupt triggers; pm hooks resume UAR

[2019-06-17 09:55] ydamigos commented on #13560
@finikorg I enabled it but Windows drivers didn't install automatically.

[2019-06-17 09:59] vonhust opened #16862 "arc: -mfpu=fpuda_all is not set when CONFIG_FLOAT is configured"
**Describe the bug**
ARC uses options like -mfpu=fpuda_all to enable hardware float instructions.
In SoC's CMakeLists.txt, e.g.  soc/arc/snps_nsim

**zephyr_cc_option_ifdef(CONFIG_FLOAT -mfpu=fpuda_all)**

is used to enable float support

But from the generated makefiles, (flags.make)

 **-mfpu=fpuda_all** is not in C_FLAGS definition.

The root issue may be in cmake files or in toolchain

[2019-06-17 10:15] carlescufi commented on #15315
@marc-hb it does indeed. I will flag it accordingly. Thank you for bringing this old issue back to my attention!

[2019-06-17 10:18] ioannisg commented on #15769
Any updates on this @lemrey @nvlsianpu?

[2019-06-17 10:18] ioannisg commented on #15767
Any updates on this @lemrey @nvlsianpu?

[2019-06-17 11:17] xiaoliang314 opened #16864 "Bluetooth: Mesh: Rx buffer exhaustion causes deadlock"
In the Bluetooth Mesh environment, the following conditions caused a deadlock:
1. Advertising data reporting causes the Rx buffer to be exhausted
2. The Mesh protocol stack invoke the ACL to send data. It blocks the RX thread because it waits for the ACL numCompleted event.
3. The HCI driver cannot report the numCompleted event because the Rx buffer is exhausted, and the Rx thread cannot release t

[2019-06-17 11:18] cvinayak commented on #16830
Lets not skip one full interval, but :

Thinking aloud:
1. Revert implementation to old behavior to skip ahead as before for non-must-expire ticker nodes
2. For must-expire ticker nodes, conflicts be resolved late,
 a. ticker_job (ULL context) generates optional (ULL context, can be delegated to LLL context using mayfly as required) callback informing the resolution will be done after the winning

[2019-06-17 11:43] jhedberg commented on #16864
Hi @xiaoliang314 . Could you describe your setup a bit more. What hardware is this on? Which version of Zephyr are you using? Which HCI driver are you using? What Mesh features are you using? It sounds like you're not just using native (advertising-based) Mesh but also the GATT compatibility support (GATT Proxy), correct?

Just to be clear: the numCompleted HCI event is handled in the RX priority

[2019-06-17 12:21] nvlsianpu commented on #15769
might be not a issue anymore by https://github.com/zephyrproject-rtos/zephyr/issues/16572
I would wiat for next coverity scan report.

[2019-06-17 12:27] nvlsianpu commented on #15767
This is the same as https://github.com/zephyrproject-rtos/zephyr/issues/16572 was.
CID:198875 is the same issue as 198014.

[2019-06-17 12:30] nvlsianpu commented on #15767
fixed by #16635

[2019-06-17 12:30] #15767 closed

[2019-06-17 12:31] jhedberg commented on #16864
@xiaoliang314 wrote:

This is something I don't understand. The host stack has a dedicated TX thread that waits on the num_complted_packets HCI events. So if you try to send ACL data from the RX thread it should only block on new TX buffer allocation but not directly the num_completed_pkts event.

[2019-06-17 12:31] jhedberg commented on #16864
@xiaoliang314 wrote:

This is something I don't understand. The host stack has a dedicated TX thread that waits on the num_complted_packets HCI events. So if you try to send ACL data from the RX thread it should only block on new TX buffer allocation but not directly the num_completed_pkts event.

[2019-06-17 12:33] xiaoliang314 commented on #16864
@jhedberg
The version of zephyr is :
commit 4278bf5673480effdca3b1e048cecb7a9ab32976

My device is a 16M microprocessor，It integrates with our own Bluetooth controller. The HCI driver reference Bluetooth H4 driver. I have configured PB-GATT and GATT Proxy functions.

I have the same opinion as you, I think we should use a separate pool for bt_recv_prio.

[2019-06-17 12:41] xiaoliang314 commented on #16864
@jhedberg
Because the Rx thread is blocked, it cannot continue to process other HCI events, causing no buffer to be released in the Rx buffer. The HCI driver cannot get the buffer to report the numCompleted event.

[2019-06-17 12:58] pskhansen commented on #16830
I do not think it is a good idea to involve LLL mechanisms in the basic scheduling rules for several reasons:
1) The LLL is vendor specific.
2) The LLL execution assumes the reservation slot includes LLL start+done margins, i.e., events are always placed having a minimum distance in time.

As I see it, we agree that the scheduler should have an option to support radios with critical IRQ latency, i

[2019-06-17 12:59] jhedberg commented on #16864
@xiaoliang314 could you test if #16870 fixes this issue?

[2019-06-17 13:06] xiaoliang314 commented on #16864
@jhedberg Ok, I will test this fix tomorrow, I am already off work now.

[2019-06-17 13:25] xiaoliang314 commented on #16864
@jhedberg Sorry, I think using a separate pool may not solve this problem. We ignore one factor because the controller may also accumulate HCI events, and in the controller report queue, the numCompleted event may be after the advertising event. What do you think?

[2019-06-17 13:27] finikorg commented on #13560
I think you need to remove old drivers associated with this VID/PID, you can change that pair.

[2019-06-17 13:47] paulgavrikov opened #16872 "Bluetooth: LL: Peripheral crashes after a while with multiple Centrals"
**Describe the bug**
After two centrals have connected to the same peripheral the stack will crash after a while. No GATT operations are happening. Both connections are IDLE. This behavior was not replicated with zephyr-v1.14.0.

Log:

addr2line:

Faulting code line:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup peripheral (nRF52840-DK)
2. Connect multiple centrals (iPhone 6s,

[2019-06-17 13:52] jhedberg commented on #16864
@xiaoliang314 advertising events and num_completed_pkts events are handled through different threads. Priority events, like num_completed_pkts are passed to the host using bt_recv_prio() whereas other events use bt_recv(). The priority events are consumed synchronously whereas other events go through a queue. So even if num_completed is after many advertising events it should still get processed b

[2019-06-17 14:08] xiaoliang314 commented on #16864
@jhedberg The communication between the controller and the host is serial. If the normal event reception is blocked, the priority events after it will not be received.

[2019-06-17 14:17] jhedberg commented on #16864
@xiaoliang314 yes, that's serial. I was talking about the communication between the HCI driver and the host stack. But now that you mentioned it, there might be issues with specific HCI drivers like the `h4.c` one since I think they stop UART flow control when they're unable to allocate a buffer. I'll need to double check that. For other drivers, like the one for the Zephyr-internal controller thi

[2019-06-17 14:25] jhedberg commented on #16864
@xiaoliang314 I double-checked `drivers/bluetooth/hci/h4.c`. When it comes to advertising events, those are considered discardable, so they will simply be discarded if allocation fails, meaning they will *not* block the inflow of more data from the controller:
https://github.com/zephyrproject-rtos/zephyr/blob/3e56c2cf16114f3952603dbd553c570edcc25e45/drivers/bluetooth/hci/h4.c#L241-L248

[2019-06-17 14:25] xiaoliang314 commented on #16864
@jhedberg We are looking forward to your ability to solve this problem for the H4 driver, we are considering the separation of the controller and host.

[2019-06-17 14:26] jhedberg commented on #16864
@xiaoliang314 based on my previous comment, at this point it'd be best if you just test my PR in practice, so we don't need to speculate too much if it helps or not :)

[2019-06-17 14:27] xiaoliang314 commented on #16864
@jhedberg Thank you, I will test this fix tomorrow.

[2019-06-17 14:57] cvinayak commented on #16872
@paulgavrikov Could you please revert 8a92818c0a and check if the issue exists?

[2019-06-17 15:47] ydamigos commented on #13560
I changed VID/PID pair and "Remote NDIS Compatible device" driver installed automatically.

[2019-06-17 17:09] #15315 closed

[2019-06-17 17:55] andrewboie commented on #11743
Some details:

We need to define a special read-only k_mem_partition, and route all the dynamic runtime filtering data into it. We can call it k_user_rodata_partition, and define it in include/app_memory/partitions.h. The definition should include documentation on what situations it is needed for (in this case, logging).

At the moment, K_APPMEM_PARTITION_DEFINE() has K_MEM_PARTITION_P_RW_U_RW har

[2019-06-17 18:45] Mierunski commented on #16861
Hi, thank you for sharing!

Could you please elaborate on which API you are using? Polling, interrupt or asynchronous?

[2019-06-17 20:14] #16733 closed

[2019-06-17 21:44] marc-hb opened #16880 "Systematic *-zephyr-eabi/bin/ld: warning: toolchain_is_ok cannot find entry symbol _start; defaulting to 000::00XXXXX"
**Describe the bug**

As of recent commit eaf994a7fc34 and SDK 0.10.0,  sanitycheck produces two warnings (unrelated to each other) **in almost every test case**. One of them is:

[code]
This almost systematic `_start`warning makes about half of the entire ` grep -ri -E '^(.*[^_-=])?warn'
 sanity-out` noise that obscures any work-in-progress warning or platform specific warning in the logs (typica

[2019-06-18 02:28] xiaoliang314 commented on #16864
@jhedberg Your PR solved my problem.
But I see this output in the LOG message.
`Failed to allocate, deferring to rx_thread`

Could it block communication between the controller and the host?
It's in line 250 of h4.c.

https://github.com/zephyrproject-rtos/zephyr/blob/3e56c2cf16114f3952603dbd553c570edcc25e45/drivers/bluetooth/hci/h4.c#L242-L253

[2019-06-18 02:32] xiaoliang314 commented on #16864
@jhedberg If the HCI rx thread is blocking, is deadlock possible?

[2019-06-18 02:50] xiaoliang314 commented on #16864
I looked at these events and there were three types:
1. LE Remote Connection Parameter Request Event
2. LE Data Length Change Event
3. ACL Data

Is the first two possible to block communication?

[2019-06-18 06:01] jhedberg commented on #16864
This is a warning message that indicates that the RX buffer pool has run empty and the HCI driver is forced to wait for buffers to become available. It's mainly intended as an indication that you should try to increase the number of RX buffers, but doesn't automatically mean that you're risking a deadlock.

@xiaoliang314 in theory yes, since they come from the same buffer pool and are processed by

[2019-06-18 06:05] jhedberg commented on #16864
Just to be clear, I'm suggesting this since it would then be easier to free up discardable packets since you'd just pick the first one from the discardable RX queue, rather than having to iterate a single RX queue with potentially many non-discardable packets (causing inefficiency of the design).

[2019-06-18 06:42] xiaoliang314 commented on #16864
@jhedberg Your PR is working well now. You understand it right, I think there's a legitimate sequence of events causing deadlocks on the host.

I think this is feasible. But I think the best thing to do is not block Rx threads. An interface similar to att_send should not be invoked synchronously in Rx threads. What do you think?

[2019-06-18 06:55] jhedberg commented on #16864
@xiaoliang314 the stack is intentionally designed so that you should be able to block in the RX thread, since this simplifies the code (asynchronous, event driven code is often quite hard to follow). This is the reason we have bt_recv_prio() and why many blocking operations, like bt_hci_cmd_send_sync(), are possible from the RX thread. I'm currently experimenting with making the `h4.c` driver disc

[2019-06-18 07:00] jhedberg commented on #16864
@xiaoliang314 regarding the HCI events you mentioned, the set of this kind of events should have a strict upper bound, I think (depends on how many connections you support, but it should still have a bound). This is not the case for advertising reports. So if we know that the non-discardable events have an upper bound (i.e. a definite maximum of how many such events can be pending at any given mom

[2019-06-18 07:05] xiaoliang314 commented on #16864
@jhedberg Yes, it can solve this issue.

[2019-06-18 07:11] xiaoliang314 commented on #16864
This should be an effective way. Non-discardable HCI events do not occur frequently, so traversing the entire queue will not have a significant impact on overall performance.

[2019-06-18 07:34] jhedberg commented on #16864
@xiaoliang314 I've pushed a second patch to my PR to add this feature. Let me know what you think. Since iterating the RX queue has performance implications I added an initial wait before commencing the iteration. I used an arbitrary 100ms for this but made it configurable. Does this make sense? Note that the patch is only compile-tested so I hope you could do some stress testing for it.

[2019-06-18 07:49] finikorg commented on #16142
Re-tested PR, issue still exist.

[2019-06-18 07:50] erwango commented on #16797
@gon1332 , can you provide MCUBoot SHA1?

@jli157, is that something that has changed from 1.14 and current master?

[2019-06-18 07:53] gon1332 commented on #16797
@jli157 Indeed, it works. But why?

@erwango fc07eab118e673abaa0eb8634848b00c3487d42a

[2019-06-18 07:56] jhedberg commented on #16864
@xiaoliang314 I just realised my patch need a tweak: when controller to host ACL flow control is enabled then ACL data and events use different pools , and we should only try the discard traversal if the incoming packet is ACL data. I've updated the second patch accordingly. Btw, you should consider enabling CONFIG_BT_HCI_ACL_FLOW_CONTROL if your controller supports controller-to-host ACL flow con

[2019-06-18 08:05] spieth opened #16886 "Bluetooth Mesh: Receive segmented message multiple times"
**Describe the bug**
I have two nRF52840 DK that send periodically messages to a group address both nodes  subscribed to. When these messages are big enough for separation and are sent close in time (around less than 2 seconds), one node receives the same message multiple times. To identify the messages I transmit an ID.
I wasn't able to figure out what's going on when I looked at the debug logs.

[2019-06-18 08:13] jhedberg commented on #16886
I'm not sure this is a bug (it could be, but further analysis is needed). Since mesh is an unreliable bearer there is built-in redundancy in many cases. Usually the various duplication filters below the access layer should filter out messages, but there are valid cases where filtering happens above the access layer as well - that's why some of the standard model messages have a transaction ID fiel

[2019-06-18 08:16] xiaoliang314 commented on #16864
@jhedberg I don't seem to see the third commit.

[2019-06-18 08:18] xiaoliang314 commented on #16864
@jhedberg I see your modification, and I'll test it.

[2019-06-18 08:24] spieth commented on #16886
Thanks for your reply. Could these valid cases explain why this happens only to segmented messages? And how does it come a node receives a message up to 5 times when my retransmit counter is lower or even set to 0?

[2019-06-18 09:22] jhedberg commented on #16886
@spieth are you using model publication to send the messages? That has two kinds of retransmit parameters: the network layer retransmit (perhaps that's what you mean when you said you set something to 0), and the publish retransmit. The publish retransmit sends completely "new" messages each time, meaning duplicates need to be identified above the access layer.

Is the source code of your applicat

[2019-06-18 09:38] ioannisg opened #16887 "ARM: threads' privilege stack alignment is not optimal"
The following code is auto-generated by `gen_priv_stacks.py` script (which is currently **only** used by the **ARM** architecture):

[code]

Thus, we align a thread's privilege stack with its size. This, is however, not really needed, since the privilege stack does not need to be "sandboxed" into an MPU region, (something that is needed for the User stack), so we do not need to be accounting for t

[2019-06-18 10:04] paulgavrikov commented on #16872
@cvinayak works when reverting 8a92818c0a0ceea30a9540e3e1557dec2cdf6fbf

[2019-06-18 10:29] paulgavrikov commented on #16602
@Vudentz actually, the discovery does finish after a while, in my case 16383 iterations. Interestingly it seems to "discover" attributes multiple times e.g.:

[code]

[2019-06-18 10:30] Vudentz commented on #16602
Manage to reproduce this one, seems we are getting past the PDU which causes the problem, though I got a strange response from Android:

< ACL Data TX: Handle 3585 flags 0x00 dlen 9                         #1 [hci0] 13:23:17.776067
      ATT: Find Information Request (0x04) len 4
        Handle range: 0x0001-0xffff

        Num handles: 1
        Handle: 3585
        Count: 1

      ATT: Find Info

[2019-06-18 11:00] chrta commented on #10628
As an update, this happens in the current master branch:

[code]

[2019-06-18 11:15] jhedberg commented on #16886
@spieth I went through the RX code path for segmented messages and found that it isn't completely in line with how the spec describes replay protection to be done for segmented messages. I created a pull request to try to fix this: #16890

I am not at all certain if this would help your issue, but could you test it and report back if you see any change in behaviour? Thanks.

[2019-06-18 11:16] spieth commented on #16886
I don't use model publication but `bt_mesh_model_send`. As I understand model publication allows only
 to send fixed size messages, right? Eventually I want to exchange neighborhood information between the nodes for optimal relay selection and therefore message size can change over time.

The source code can be found at https://github.com/spieth/zephyr-duplicate-messages

[2019-06-18 11:36] spieth commented on #16886
@jhedberg Unfortunately the pull request didn't fix this.

[2019-06-18 11:58] jhedberg commented on #16886
@spieth I still can't explain the behaviour you're seeing, but I'd like to make a couple of points:

 - model publication can use variable size messages, so this is an option if you'd want
 - Sending segmented messages to group addresses is *very* in efficient with mesh because the segment acknowledgement responses are never sent then. This means that the sender will keep "blindly" resending the s

[2019-06-18 13:06] MarekPieta opened #16893 "Bluetooth: Multiple local IDs, privacy problem"
**Describe the bug**
For Bluetooth peripheral device with multiple local IDs enabling privacy (CONFIG_BT_PRIVACY=y, CONFIG_BT_CTLR_PRIVACY=y) causes problems with Bluetooth address. Without privacy every local ID uses own Bluetooth address. After turining privacy on, device advertises with the same address for every local ID, which may cause connection attemps from host.

**Expected behavior**
Eve

[2019-06-18 13:42] ioannisg opened #16894 "ARM: alignment problems in libc/newlib"
The following Kconfig option indicates that CONFIG_LIBC_ALIGNED_HEAP_SIZE only gets a non-zero value for ARMv7-M builds with MPU: Builds with ARMv8-M and NXP_MPU do not have the requirement for power-of-two & size alignment.

[code]

However, when building with CONFIG_USERSPACE, we still enclose the heap in an user-accessible memory partition:
[code]
In the above snippet, `USED_RAM_END_ADDR `is ta

[2019-06-18 13:43] ioannisg commented on #16894
@andrewboie FYI

[2019-06-18 13:52] jhedberg commented on #16893
Is this because the BT_DEV_RPA_VALID flag isn't cleared? Does this help:
[code]

[2019-06-18 14:13] MarekPieta commented on #16893
@jhedberg, seems like this change fixed issue. Thanks a lot.