[2022-05-13 13:26] Thalley opened #45623 "LE Audio: Update CCP API with new naming scheme"
**Is your enhancement proposal related to a problem? Please describe.**
Apply the new naming scheme from https://github.com/zephyrproject-rtos/zephyr/issues/40920 to the CCP implementation and API.

This is related to https://github.com/zephyrproject-rtos/zephyr/issues/41214 and may either depend on or implement that as part of this solution.

**Describe the solution you'd like**
A clear and conci

[2022-05-13 13:27] Thalley opened #45624 "LE Audio: Update MCP API with new naming scheme"
**Is your enhancement proposal related to a problem? Please describe.**
Apply the new naming scheme from https://github.com/zephyrproject-rtos/zephyr/issues/40920 to the MCP implementation and API

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-05-13 13:28] Thalley opened #45625 "LE Audio: Update CSIP API with new naming scheme"
**Is your enhancement proposal related to a problem? Please describe.**
Apply the new naming scheme from https://github.com/zephyrproject-rtos/zephyr/issues/40920 to the CSIP implementation and API

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-05-13 13:31] Thalley commented on #45621
We will use MICP as the pilot for this change in https://github.com/zephyrproject-rtos/zephyr/issues/45558 as that is by far the simplest profile. Once we have agreed on the details, we can use that to complete this issue;

[2022-05-13 13:31] Thalley commented on #45622
We will use MICP as the pilot for this change in https://github.com/zephyrproject-rtos/zephyr/issues/45558 as that is by far the simplest profile. Once we have agreed on the details, we can use that to complete this issue;

[2022-05-13 13:31] Thalley commented on #45623
We will use MICP as the pilot for this change in https://github.com/zephyrproject-rtos/zephyr/issues/45558 as that is by far the simplest profile. Once we have agreed on the details, we can use that to complete this issue;

[2022-05-13 13:31] Thalley commented on #45624
We will use MICP as the pilot for this change in https://github.com/zephyrproject-rtos/zephyr/issues/45558 as that is by far the simplest profile. Once we have agreed on the details, we can use that to complete this issue;

[2022-05-13 13:38] #45276 closed

[2022-05-13 14:00] rlubos commented on #45426
@AndreyDodonov-EH I've reimplmetd ZWP and tested the implmentation a bit more with retransmision scenario, and it seems to work fine, so I've opened https://github.com/zephyrproject-rtos/zephyr/pull/45626.

As for `sdk-zephyr` in NCS, I'll create a PR which brings all of the essential TCP fixes into the tree, hopefully we could squeeze it into NCS 2.0.

[2022-05-13 14:46] emob-nordic opened #45630 "ipc_service: Align return codes for available backends."
**Is your enhancement proposal related to a problem? Please describe.**
Available IPC service backends does not align the return code in `ipc_service_send` when there is no space in shared buffer.
- `ipc_rpmsg_static_vrings` returns `RPMSG_ERR_NO_BUFF == -2002`
- `ipc_icmsg` return `-ENOMEM == -12`
this is inconvenient for the users that may wish to swap backends. The user is forced to change erro

[2022-05-13 15:11] #22161 closed

[2022-05-13 15:41] sam131208 opened #45632 "ESP32 get error "undefined reference to `sprintf' " while CONFIG_NEWLIB_LIBC=y"
**Describe the bug**
Get a undeclared errors "undefined reference to `sprintf' " after enabling CONFIG_NEWLIB_LIBC.
Get a undeclared error "'CONFIG_ESP32_PHY_MAX_TX_POWER' undeclared" while enable CONFIG_BT.

**Logs and console output**
zephyrproject/modules/hal/espressif/zephyr/esp32/../../components/esp_wifi/lib/esp32/libphy.a(phy_chip_v7.o): in function `fe_reg_init':
/home/cff/gittree/chip7.1_

[2022-05-13 15:52] sam131208 commented on #45632
While enable PWM, the file 'pwm_led_esp32.c':
    in function 'pwm_led_esp32_set_cycles' get error "redefine channel".

[2022-05-13 15:55] sylvioalves commented on #45632
@sam131208 Any sample code I can test?

[2022-05-13 16:16] #43898 closed

[2022-05-13 16:27] sylvioalves commented on #45349
The PR that fixes this issue was merged upstream: https://github.com/mcu-tools/mcuboot/commit/c4b305863a5d508c3223361d4a20c089a803879f

[2022-05-13 16:30] mbolivar-nordic commented on #45324
OK, please open a new issue and mark it as an "enhancement" describing the missing implementation

[2022-05-13 16:37] mniestroj commented on #45349
Was looking at it just few minutes ago, as a "candidate" that could solve this issue. Would be nice if such PRs would include "fix" in the commit message somewhere, so it would be obvious :)

Thanks for fast feedback!

[2022-05-13 16:55] sylvioalves commented on #45349
Thanks for the note. I'll redirect to the team.

[2022-05-13 17:03] #45468 closed

[2022-05-13 17:09] Laczen commented on #45591
@Damian-Nordic, could you change the title in: using the settings system as a key-value store and retrieve system is slow.

The answer to that is yes, because that is not the intention of the settings system (otherwise it would be called kv_store or similar).

Zephyr has no key-value store and retrieve system but adding one on top of e.g. nvs should not be a problem.

[2022-05-13 17:42] mbolivar-nordic commented on #45241
Thanks to everyone who's updated so far!

Pinging the maintainers for modules which are still TODO:

- hal_nordic: @anangl
- mbedtls: @d3zd3z @ceolin
- mcuboot: @d3zd3z
- TraceRecorderSource: @tleksell-pe
- trusted-firmware-m: @microbuilder
- psa-arch-tests: @microbuilder

[2022-05-13 17:42] mbolivar-nordic commented on #45241
Sorry, this should have been a ping to @nashif given this comment:

https://github.com/zephyrproject-rtos/zephyr/issues/45241#issuecomment-1114663654

[2022-05-13 19:36] henrikbrixandersen commented on #45611
@martinjaeger Thank you for reporting this. Please see https://github.com/zephyrproject-rtos/zephyr/pull/45641 for a proposed fix.

[2022-05-13 19:44] #41596 closed

[2022-05-13 20:04] lucasgcbkhomp commented on #34218
Still relevant, unfortunately.

I'm not sure how I could help fix it.
@Nukersson do you have any guidance on how could someone implement the fix?

Would it be updating civetweb for Zephyr, and then what else?

Thanks

[2022-05-13 21:49] Nukersson commented on #34218
Hey Lucas,

Thank you for your message. See my answers below.

Well here is important to know, if ```DEBUG```option is enabled, cause as I mentioned previously not all ```libc```functionality is implemented in Zephyr today and civetweb expects some more libc functions, which will be compiled as stubs with -O3 e.g. DEBUG option enabled. Please check it. IF ```DEBUG```option is disabled Civetweb sho

[2022-05-14 00:04] #43948 closed

[2022-05-14 00:21] cfriedt commented on #45362
@mauricionh - I was able to build your setup with this:
[code]
and
`west build -p auto -b cc1352r1_launchxl samples/net/sockets/dumb_http_server -- -DCONF_FILE="prj.conf overlay-enc28j60.conf"`

[2022-05-14 00:37] albertofloyd opened #45647 "test: drivers: counter: Test passes even when no instances are found"
**Describe the bug**
Test count iterates over each counter instance and perform the test, however if no instances are found test suite is indicated as pass.

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/drivers/counter/counter_basic_api
2. Add following change into tests/drivers/counter/counter_basic_api/src/test_counter.c

@@ -146,6 +146,7 @@ static void counter_tear_down_instanc

[2022-05-14 02:13] sam131208 commented on #45632
@sylvioalves You can test the 'hello_world' Project with under config, you will get error "undefined reference to `sprintf'",  and , if you comment the flash config, will get error "undefined symbol `printf'".

CONFIG_BT=y
CONFIG_BT_DEVICE_NAME="zephyr esp32"
CONFIG_BT_DEVICE_APPEARANCE=384

# FLASH
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_FLASH_PAGE_LAYOUT=y

CONFIG_NEWLIB_LIBC=y

[2022-05-14 03:07] mauricionh commented on #45362
Thank you @cfriedt, were you able to reach the server through a browser or ping the device? I can't find it.

[2022-05-14 07:11] JordanYates opened #45648 "pm: device_runtime: API functions fault when PM not supported"
**Describe the bug**

Attempting to run `pm_device_runtime` functions on drivers that don't support PM result in hard faults instead of error codes.
This is true even for functions which could conceivably be used to determine if PM is supported (`pm_device_runtime_is_enabled`).

Documented API return codes no longer occur either, for example:
https://github.com/zephyrproject-rtos/zephyr/blob/bfe16

[2022-05-14 09:12] AndreyDodonov-EH commented on #45324
@mbolivar-nordic
I think I was incorrect, I spent some time trying to understand the current implementation, and now I think that this functionality is not missing, because we can have multiple contexts (i.e. sockets) independent of each other, so the number of simultaneous connection attempts can be arbitrary.

@rlubos  Can you confirm that this is indeed so and it's not necessary to open a new i

[2022-05-14 09:55] cfriedt commented on #45362
I don't have the same Ethernet adapter board. Likely you will also need to set some network addresses (just additional Kconfig settings). The `echo_server` sample would be a good reference.

[2022-05-14 17:09] sylvioalves commented on #45632
@sam131208 I have already fixed those build errors. I still have not fixed an issue that prevents BT to start when NEWLIBC is enabled. WIP.

[2022-05-15 00:35] #43284 closed

[2022-05-15 05:46] sam131208 commented on #45632
@sylvioalves  It looks like there are still some issues to work out。But, i can't test this problem until you update those build errors。

[2022-05-15 09:50] Coi-l opened #45658 "Build failure: civetweb/http_server with target blackpill_f411ce and CONFIG_DEBUG=y"
**Describe the bug**
Building http_server for board blackpill_f411ce and CONFIG_DEBUG=y fails

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Build succeded

**Impact**
It's would be nice with debug output.

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Zephyr SDK,
 - Commit SHA or Versio

[2022-05-15 13:12] jacoba-at commented on #30348
What is the planning for this issue?

[2022-05-15 17:10] helo9 commented on #45089
was closed by #45124

[2022-05-15 17:10] #45089 closed

[2022-05-15 19:32] #44089 closed

[2022-05-15 19:32] #41946 closed

[2022-05-15 19:33] #45261 closed

[2022-05-15 19:34] #45648 closed

[2022-05-15 21:47] rlevano77 opened #45664 "mqtt_publisher does not work in atsame54_xpro board"
**mqtt_publisher does not work in atsame54_xpro board**
After building the example using
west build -b atsame54_xpro samples/net/mqtt_publisher

The board ethernet interface link gets up and I am able to ping the board's hardcoded ip address "192.168.1.71"
But the application fails when the mqtt clients try to connect to the mqtt broker.

Zephyr v.3.0
Zephyr_sdk version 0.14.1
Platform : atsame54_

[2022-05-16 00:30] #42919 closed

[2022-05-16 02:46] CXsCode commented on #45543
Building success

[2022-05-16 03:56] CXsCode opened #45666 "Building samples about BLE audio with nrf5340dk does not work"
**Describe the bug**
I built zephyr/samples/broadcast_audio_source and zephyr/samples/unicast_audio_server for nrf5340dk_nrf5340_cpuapp, but the demo prompts an error when running, I think it has something to do with the configuration of zephyr/samples/hci_rpmsg built for nrf5340dk_nrf5340_cpunet.I see in zephyr/samples/hci_rpmsg that in addition to prj.conf there is also nrf5340_cpunet_iso_broadc

[2022-05-16 05:59] Zhaoningx commented on #44062
Hi, I'm working with @enjiamai, we did some analysis together, and found that this is because the memory applied by some platforms for coverage was overwritten by the memory of the prj.conf (if configured), resulting in memory overflow. After discussion, the memory size shouldn't only decide by the test case stack if the coverage feature is enabled. We are working on how to apply extra memory for

[2022-05-16 07:11] LixinGuoX opened #45670 "Intel CAVS: log missing of tests/lib/p4workq/"
**Describe the bug**
tests/lib/p4workq/ has 4 test functions
[code]
On Intel CAVS platform, we lost the log of `test_resubmit` and `test_fill_queue`

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W -p intel_adsp_cavs15 --device-testing --device-serial-pty=$HOME/zephyrproject/zephyr/soc/xtensa/intel_adsp/tools/cavstwist.sh --west-flash=$HOME/zephyrproject/zephyr/soc/xtensa/intel_ads

[2022-05-16 07:44] ppryga opened #45672 "Bluetooth: Controller: can't cancel periodic advertising sync create betwee ll_sync_create and reception of AUX__ADV_IND with SyncInfo"
**Describe the bug**

Current implementation of `ll_sync_create_cancel` does not allow to stop
synchronization after `ull_sync_setup` is called. When that is done,
`sync->timeout_reload` is not zero and the `ll_sync_create_cancel` will
return `BT_HCI_ERR_CMD_DISALLOWED`. That means the Controller is able to
cancel periodic advertising synchronization only in period between
call to `ll_sync_create`

[2022-05-16 08:08] #45431 closed

[2022-05-16 08:16] rlubos commented on #45324
I think you're right, we allocate a new TCP context for each initiated connection so that config is no longer applicable.

[2022-05-16 08:30] Thalley commented on #45543
Reopened since https://github.com/zephyrproject-rtos/zephyr/pull/45015 isn't merged yet :) This issue will automatically be closed once that gets merged.

[2022-05-16 08:36] LixinGuoX opened #45675 "testing.ztest.customized_output: mismatch twister results in json/xml file"
**Describe the bug**
When running tests/ztest/custom_output/ with twister on multiple hardware platforms, we can get testing.ztest.customized_output passed as below:
[code]
But in twister.json or twister_report.xml, we got different results, both testcases in testing.ztest.customized_output showed a status of `blocked`. Also there has an extra `identifier` called `testing.ztest.customized_output`

[2022-05-16 08:37] hermabe commented on #45549
Looks like an oversight on my part. Does adding this line fix the issue?
[code]

Commit with potential fix: https://github.com/hermabe/zephyr/commit/01ca4e387b1fbbf9a1707c691792dc965c85e018

[2022-05-16 10:11] Damian-Nordic commented on #45591
@Laczen Sure, I can change the title.

I don't quite understand why we would want to add another key-value store instead of making settings more efficient. After all settings is a key-value store meaning that it has string keys and values, so the only thing that's missing is a little bit more focus on the dynamic save/load use case. Do you think that Zephyr doesn't need to have an efficient storag

[2022-05-16 10:17] gordonklaus commented on #45564
I spent a couple tedious hours trying to narrow down which revision could have caused this bug.  I would take these results with a small grain of salt because it has proven difficult to find code/configuration which provokes the bug.  That is, even though I wasn't able to provoke the bug in a particular revision, it may still be that it exists there.

That said, my testing indicates that the bug m

[2022-05-16 10:19] gordonklaus commented on #45564
@erwango Can you think of a better way to diagnose the problem than mere trial?

[2022-05-16 10:50] Andermutu opened #45678 "Lorawan: Devnonce has already been used"
**Describe the bug**

We are trying to move from NRF connect SDK 1.6.0 (zephyr v2.6.0-rc1-ncs1) to 1.7.1 (zephyr v2.6.99-ncs1-1). If we try the lorawan sample located under "/subsys/lorawan/class_a" with NRF connect SDK 1.6.0, everything works as expected:

<img width="1158" alt="Captura de pantalla 2022-05-16 a las 12 34 55" src="https://user-images.githubusercontent.com/30649760/168578744-31f973

[2022-05-16 10:56] carlocaione commented on #45630
Uhm, I would have preferred to return `-ENOBUFS` instead of `-ENOMEM` but I guess it's too late for that. Let me push a PR.

[2022-05-16 10:56] #45611 closed

[2022-05-16 11:21] PavelVPV commented on #45549
Yes, it works, checked on latest main. Thanks!

[2022-05-16 12:00] rettichschnidi commented on #45211
I intend to come up with a solution related to this issue, willing to upstream if deemed a good idea:

- Create a "factory data" module, which is backed by FCB and can only be written to using a shell during manufacturing. Data can bot be changed - if something goes wrong during manufacturing, the factory data FCB partition needs to be completely wiped and started over. Having a separate partition

[2022-05-16 12:20] Laczen commented on #45591
@Damian-Nordic, sure it would be possible to try and improve this. At the moment the settings backend is very simple and straightforward. For saving a key and value is passed and settings does not care how this is saved. For loading the backend goes over all stored key/values and returns them. This last step is what makes it slow. The backend does not do any comparison on keys whatsoever (except w

[2022-05-16 12:25] Laczen commented on #45591
@Damian-Nordic, sorry for the close (hit the wrong button)...

[2022-05-16 12:57] FRASTM opened #45686 "missing testcase samples/drivers/led_pwm on nucleo stm32 boards"
The testcase  **samples/drivers/led_pwm/** is not executed on
- nucleo_f091rc
- nucleo_l073rz

   samples/drivers/led_pwm/sample.drivers.led.led_pwm, nucleo_f091rc
   samples/drivers/led_pwm/sample.drivers.led.led_pwm, nucleo_l073rz

**Expected behavior**
test run and passed

**Impact**
less test coverage on nucleo boards

SHA1 5f5337b9f3

[2022-05-16 12:58] Laczen commented on #45211
This seems like a good idea, why not a TLV system direct on flash or eeprom? It that case the shell requirement could be avoided.

[2022-05-16 13:10] kruithofa opened #45688 "Bluetooth: controller: llcp: documentatoin"
**Is your enhancement proposal related to a problem? Please describe.**
The design documentation for the refactored LLCP is not easy to find

**Describe the solution you'd like**
Collect the design documentation and add it to the Zephyr documentation page

**Describe alternatives you've considered**

**Additional context**

[2022-05-16 13:27] erwango commented on #45564
Thanks for this work. Given that the SHA1 you pointed doesn't have impact on binary and it is so close to V2.7.0, I'm pretty sure this is not a regression but rather a bug that could be silent under specific conditions.

i'll try to reproduce on my end and keep you posted.

[2022-05-16 13:36] rettichschnidi commented on #45211
I'd rather do not want to create something custom when we have a solution which is almost ready-made (FCB). Maybe I miss something?

[2022-05-16 13:43] FRASTM opened #45691 "missing testcase tests/drivers/watchdog on nucleo stm32 boards"
**Describe the bug**
The testcase tests/drivers/watchdog/wdt_basic_api/ is not executed on both iwdg (independent) and wwdg  (windows) on several stm32 boards.
The testcase selects one or the other watchdog dependiing on the one enabled in the DTS (usually the IWDG)

**To Reproduce**
Steps to reproduce the behavior:
1.` twister --device-testing --device-serial /dev/ttyACM0 -p nucleo_xxx -T tests/d

[2022-05-16 13:58] Laczen commented on #45211
If you are already using fcb, this makes sense, otherwise it is another "file system" that is needed. Also it doesn't support eeprom (but then again, why would you use a eeprom for fixed data).

To be honest, this should already be supported. Only writing to one backend is allowed, multiple reads is supported from the start. For the factory data write it would be needed to register the factory dat

[2022-05-16 14:26] rettichschnidi commented on #45211
Have not yet used it, but would go for it because (seems like) low effort and also, has a CRC.

Will try to go this way. One issue however will probably need some extra code to avoid: Writing a value under the same name as the factory data will end up in the write-enabled backend of the settings subsystem. Once this happens, both sources will be iterated over on `settings_load()`.

Would rather no

[2022-05-16 14:55] #45009 closed

[2022-05-16 14:56] #45630 closed

[2022-05-16 15:07] nvlsianpu commented on #45591
I think `settings_load_key()` API extension is good idea (obviously it gives proper place to put optimization/proper algorithm needed)

"nvshash" - Would it be something similar to addition of a has-table to current design?

[2022-05-16 15:42] peter-mitsis commented on #43515
I don't have an NRF board available on my own desk to use to debug. However, I have made the following observations.

1. Both the reel_board and the NRF boards mentioned use the nrf_rtc_timer (CONFIG_NRF_RTC_TIMER=y).
2. The board I was previously unable to reproduce the problem on was the frdm_k64f, which uses the cortex_m_systick (CONFIG_CORTEX_M_SYSTICK=y).
3. This issue was originally opened M

[2022-05-16 15:51] peter-mitsis commented on #43515
Minor update: It looks like the nrf_rtc_timer change was a bit of a red herring. That is, the disassembled output of the timer code both before and after the change were found to be identical.

[2022-05-16 16:38] ottojo opened #45697 "RING_BUF_DECLARE broken for C++"
The `RING_BUF_DECLARE` macro (https://github.com/zephyrproject-rtos/zephyr/blob/main/include/zephyr/sys/ring_buffer.h#L76-L83) initializes the `ring_buf` (defined [here](https://github.com/zephyrproject-rtos/zephyr/blob/main/include/zephyr/sys/ring_buffer.h#L34-L43)) by listing `size`, then `buffer`. This order was changed in #42845 [(here)](https://github.com/zephyrproject-rtos/zephyr/pull/42845/

[2022-05-16 16:43] stephanosio commented on #45697
cc @npitre

[2022-05-16 16:47] ottojo commented on #45697
@stephanosio just did, i was hesistant to change the ring_buf struct, fearing breaking something else, but i guess changing the macro would work even better!

[2022-05-16 18:02] OmarMorceli opened #45702 "Reboot instead of halting the system"
I have a Bluetooth Mesh application that is causing a halting system.

I would like to know if it is possible to reboot the MCU instead of stopping it ?

[2022-05-16 18:24] sylvioalves commented on #38978
Merged: #43534

[2022-05-16 18:24] #38978 closed

[2022-05-16 19:03] mauricionh commented on #45362
Thank you so much! I will let you know how it goes. :)

[2022-05-17 02:45] #45110 closed

[2022-05-17 03:47] LixinGuoX opened #45706 "tests: error_hook: mismatch testcases in testplan.json"
**Describe the bug**
Twister collected the expected-to-run test function list and then check if they get passed.
But for some specific tests like `tests/ztest/error_hook`, it has two `ztest_test_suite` in `test_main()`.

[code]
For each test scenario defined in yaml file, which `ztest_test_suite` should be collected in the test-plan is confused for twister.
For now, as we can see in the below, twi

[2022-05-17 05:41] ppryga opened #45708 "Bluetooth: Controller: llcp: CTE request control procedure has missing support for LL_UNKNOWN_RSP"
**Describe the bug**
The CTE request control procedure has missing implementation of LL_UNKNOWN_RSP.
That causes the Controller to fail two conformance tests: `LL/CON/CEN/BV-59-C` and `LL/CON/PER/BV-63-C`.
It fails due to not generate HCI_LE_CTE_Request_Failed event.

**To Reproduce**
Steps to reproduce the behavior:
1. Build `hci_uart` sample.
2. Run conformance tests (special hardware and softwa

[2022-05-17 06:19] anders-holm-nextfour opened #45709 "Add log_strndup for logging strings that are not null terminated"
There are situations when you need to log a string which is not null terminated or just a part of a string. If this string happens to be declared constant then  using `log_strdup` forces you to either cast away the constness or make a copy just for adding a null terminator. log_strdup will then make an additional copy. Especially in a callback function from some library casting away the constness

[2022-05-17 07:49] erwango commented on #45658
@rlubos Would you mind having a look? Seems this issue is not STM32 specific but rather linked to sample configuration.

[2022-05-17 08:43] fkokosinski commented on #44478
Closing this one as #45196 and #45198 which fix this issue had been merged.

[2022-05-17 08:43] #44478 closed

[2022-05-17 08:47] fkokosinski commented on #42685
The register change in LiteEth had been addressed by introducing the LiteX HAL in #45198, so I'm closing this one.

[2022-05-17 08:47] #42685 closed

[2022-05-17 08:50] erwango opened #45713 "twister: map generation fails"
**Describe the bug**
Twister map generation fails after merging of #44094:
[code]

Please also mention any information which could help others to understand
the problem you're facing:
 - Test on bbb8c91afa6e54d24999298a0843303eb23eb2d6 (just before #44094) is working fine

**To Reproduce**
Steps to reproduce the behavior:
1. Use SHA1 a195f9826531d43244330634376f785a9f8acf2a
2. Launch `twister --ge

[2022-05-17 09:04] erwango commented on #45114
@manuja2000 Not yet, but on my todo list

[2022-05-17 09:11] henrikbrixandersen commented on #45713
I can confirm the issue locally.

[2022-05-17 09:18] FRASTM commented on #43115
Could we have a mistmatch between the CS pin declared as a GPIO and the NSS pin not declared :
	`cs-gpios = <&gpiob 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;`
should  be replaced by `spi1_nss_pa4` instead  (or any other valid alternate pin for the NSS of this SPI instance)
The CONFIG_SPI_STM32_USE_HW_SS=y  is directly and automatically controlling the NSS pin of the SPI bus, not the CS (which is a GPIO

[2022-05-17 09:24] pflonz commented on #45580
@sylvioalves Maybe you can support here or give more information where the dependency between BT and WIFI interface comes from? Many thanks in advance!

[2022-05-17 09:34] sylvioalves commented on #45580
Hi, I'll submit the PR asap.
You have to add the following in `soc/xtensa/esp32/Kconfig.soc`:

[code]

[2022-05-17 09:39] #40204 closed

[2022-05-17 09:39] #45672 closed

[2022-05-17 09:39] #45549 closed

[2022-05-17 09:46] npant333 opened #45714 "Unable to get TCA9548A work"
I am trying to use TCA9548A using zephyr. The following code returns error that "Device is not ready". I have connected the hardware properly i.e. SDA/SCL/GND/Vcc are connected properly between my processor and TCA9548A

Any help in what is not correct here?

const struct device *i2c_dev = device_get_binding(DEVICE_DT_GET(DT_NODELABEL(ch0)));
if (!device_is_ready(i2c_dev)) {
	printk("Device is not

[2022-05-17 09:58] carlocaione commented on #45714
[code]

[2022-05-17 10:44] cvinayak commented on #43465
I am able to reproduce the malformed data, it appears the device address and ad data are corrupt, the length seems correct. I will be investigating as part of the v3.1 release stabilization.

[2022-05-17 11:27] sbourdelin opened #45720 "hal_gigadevice: remove all recursive dependencies in libopt.h"
As suggeeted by @nandojve in https://github.com/zephyrproject-rtos/zephyr/pull/45346#issuecomment-1124005408:

There is an issue related to the [hal_gigadevice](https://github.com/zephyrproject-rtos/hal_gigadevice) where we need to remove all recursive dependencies in hal_gigadevice/<CONFIG_SOC_SERIES>/standard_peripheral)/include/<CONFIG_SOC_SERIES>_libopt.h

[2022-05-17 11:29] nashif commented on #45675
This is an issue with the test, it does not report results that twister can parse (customized output). Like many broken tests in the tree, twister is exposing this so it can be fixed.

[2022-05-17 12:29] #45713 closed

[2022-05-17 12:33] ppryga opened #45725 "Bluetooth: Controller: df: CTE request not disabled if run in single shot mode"
**Describe the bug**
There is an error. CTE request control procedure can be run in single
shot or periodic mode. In case of run in single show, it is not disabled after completion.

The code responsible for the disable was deleted in commit: ac7d0506f88508e7440288c1ec4319a9f7d0ad44.

**To Reproduce**
Steps to reproduce the behavior:
1. Build `direction_finding_central` sample.
2. Change
[code]
to

[2022-05-17 12:35] Damian-Nordic commented on #45591
I agree that `settings_load_key` (or `settings_load_one` for consistency with `settings_save_one`) would be a nice addition, but I made a couple of PoCs and it looks like a cache at the NVS level gives the biggest performance boost. By using a cache with 256 entries from NVS IDs to NVS ATEs I managed to improve the boot time from 4 seconds to 800ms. The same sized cache at the settings level (from

[2022-05-17 13:12] lomn commented on #33747
Hello everyone I have been looking into the gptp stack and drivers for the last two to three weeks. After having made a few changes into the eth_mcux driver I am able make gptp work with a IMXRT1050-EVKB as well as with a MIMXRT1170-EVK boards. I would appreciate some advice on making a PR since one of the changes involved in making this work out is board dependent (there is a constant that needs

[2022-05-17 13:55] Laczen commented on #45591
@Damian-Nordic, as a test could you also check what happens if you just double (or triple) the nvs sector size (just make sure there are at least 2 sectors).

[2022-05-17 13:57] erwango commented on #45564
@gordonklaus Unfortunately, I'm not able to reproduce on my end.
The only difference with your set up is that I kept console on lpuart1. can you check if this is a real reproduction condition ?

[2022-05-17 14:11] Damian-Nordic commented on #45591
Yes, I can but does it make a big difference? We will still need to traverse the entire NVS log, so the bigger sector size may only trigger the garbage collector a little bit earlier. Or am I missing something?

[2022-05-17 14:36] #45237 closed

[2022-05-17 14:42] ainguraXmarquiegui commented on #33747
It's great to see other people trying to get gPTP to work.
I'm sorry to report that I have moved on from this part of the project, and I don't currently have access to the material I need to work on these issues.
Just an example of a pull request that may be similar to this from a github management point of view, you could have a look here: https://github.com/zephyrproject-rtos/zephyr/pull/42216
Y

[2022-05-17 14:43] Laczen commented on #45591
A bigger sector size also means that there are less ate's, so less travelling.

[2022-05-17 14:49] lucasgcbkhomp opened #45735 "Ethernet W5500 Driver via SPI is deadlocking"
**Describe the bug**
When utilizing the W5500 for Ethernet via SPI with [Zephyr's driver](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/1.9.1/zephyr/reference/devicetree/bindings/ethernet/wiznet,w5500.html?highlight=wiznet), it will eventually become unresponsive due to the module no longer triggering the GPIO callback, which in turn never gives the "int" semaphore back which prevents it fr

[2022-05-17 14:51] lucasgcbkhomp commented on #45735
@parthitce Any ideas on what could be happening here with this W5500 deadlock issue? I'd be happy to help checking it out

[2022-05-17 15:18] erwango opened #45739 "stm32h7: DCache configuration is not correctly implemented"
**Describe the bug**
On STM32H7 target, `CONFIG_NOCACHE_MEMORY=y` completely disable DCache, which is not the expected behavior:
[code]

**Expected behavior**
Enabling `CONFIG_NOCACHE_MEMORY` should allow to use non cacheable buffers while keeping DCache enabled globally.

**Impact**
Performance impact

**Additional context**
See https://github.com/zephyrproject-rtos/zephyr/pull/37716 and discussi

[2022-05-17 15:27] dleach02 commented on #33747
@lomn, you can submit a PR and we will review and give feedback.

[2022-05-17 15:54] Thalley opened #45741 "LE Audio: Allow unique `bt_codec_qos` for each unicast stream"
**Is your enhancement proposal related to a problem? Please describe.**
The spec does not mandate that all streams in a unicast group for a specific unicast server shall use the same `bt_codec_qos` settings.

The current API only supports supplying a single `bt_codec_qos` in the QoS function:
[code]

This should be made into an array, or somehow otherwise be attached to the individual streams.

**

[2022-05-17 15:59] parthitce commented on #45735
@jancoow @lucasgcbkhomp Let me test this from my end and write back. Probably related to https://github.com/zephyrproject-rtos/zephyr/pull/42241 ?

[2022-05-17 16:06] carlescufi commented on #45545
@andyross could you please open a Pull Request with the fix?

[2022-05-17 16:08] carlescufi commented on #45578
@luca-fancellu can you please open a Pull Request with this patch?

[2022-05-17 16:10] carlescufi commented on #45579
@tfir1981 could you please try to see if this issue is present in the `main` branch as well?

[2022-05-17 16:11] #45580 closed

[2022-05-17 16:12] #45440 closed

[2022-05-17 16:15] carlescufi commented on #45632
@sam131208 @sylvioalves is this fixed by https://github.com/zephyrproject-rtos/zephyr/pull/45716 ?

[2022-05-17 16:18] kevin137 commented on #33747
Hi @lomn
Have you implemented a servo control loop? Looking at how drivers on other platforms work, good, stable seems to be impossible without it.

[2022-05-17 16:20] #45686 closed

[2022-05-17 16:28] #45529 closed

[2022-05-17 16:39] sylvioalves commented on #45632
@carlescufi there is a pending issue regarding ESP32 BT and newlibc. I'll PR this and tag this issue.

[2022-05-17 17:03] fabiobaltieri commented on #45678
@Andermutu do you have the device LoRaWAN version configured correctly on the TTN console? I think that the current stack should use "LoRaWAN Specification 1.0.4", I have few devices set up with that with no explicit devnonce handling and they work fine. You may also want to look into either storing and setting a devnonce from the application either using https://github.com/zephyrproject-rtos/zeph

[2022-05-17 17:03] mmahadevan108 commented on #29981
CLosing this issue, we will address it in future clock enhancement work.

[2022-05-17 17:03] #29981 closed

[2022-05-17 17:36] nashif commented on #45670
the warning log message above is flooding the buffer, if you remove it, you get the expected output, this is the same bug we have seen before with the memory window not able to handle message floods...

[code]

not related to twister, it is a logging backend issue of ADSP.

[2022-05-17 17:39] nashif commented on #45706
this issue is not related to this platform.

[2022-05-17 18:34] lucasgcbkhomp commented on #45735
That seems to be the very same issue; with one possible fix being a way to handle a missed beat from the module (as it is being done in that PR).

Currently if a single GPIO interrupt from the module is missed, the driver will deadlock waiting for the previously missed read and the ethernet interface will "brick" until reboot.

With my SPI being slow, it (thankfully) made it more obvious. However,

[2022-05-17 21:45] atoncetti commented on #43465
Sounds great! Please let me know if there is anything I can help you with.

[2022-05-18 00:26] ThomasFike commented on #45579
Have you verified that those files are being compiled when not in your src directory? You could check this quick by adding #error to one of the files. Then make sure you run a pristine build and see if it errors at the error you added. It sounds like the files are not being compiled from what your saying.

[2022-05-18 00:39] #45670 closed

[2022-05-18 02:30] cvinayak commented on #43465
Regression introduced in commit https://github.com/zephyrproject-rtos/zephyr/commit/1dcbe73cc8f31b6a207d23a3c825a7ed4a6b15f0 ("Bluetooth:
controller: radio: add setting of S1 byte in radio packet").

Fix posted in #45749.

Thank you for reporting the bug.

[2022-05-18 03:57] hakehuang opened #45751 "tests-ci : drivers: counter: basic_api test_multiple_alarms Failed"
**Describe the bug**
    basic_api test is Failed on v3.1.0-rc1 on mimxrt685_evk_cm33

    see logs for details

    **To Reproduce**
    1.
[code]
    2. See error

    **Expected behavior**
    test pass

    **Impact**

    **Logs and console output**
[code]

    **Environment (please complete the following information):**
     - OS: (e.g. Linux )
     - Toolchain (e.g Zephyr SDK)
     - Commit

[2022-05-18 04:00] hakehuang opened #45750 "tests-ci : kernel: timer: tickless test_sleep_abs Failed"
**Describe the bug**
    tickless test is Failed on v3.1.0-rc1 on mimxrt1170_evk_cm7

    see logs for details

    **To Reproduce**
    1.
[code]
    2. See error

    **Expected behavior**
    test pass

    **Impact**

    **Logs and console output**
[code]

    **Environment (please complete the following information):**
     - OS: (e.g. Linux )
     - Toolchain (e.g Zephyr SDK)
     - Commit

[2022-05-18 04:14] hakehuang commented on #45750
@dleach02 issue found on v3.1.0-rc1

[2022-05-18 04:20] hakehuang commented on #45751
@dleach02 v3.1.0-rc1

[2022-05-18 07:10] lomn commented on #33747
@dleach02 Ok thank you I will !
@kevin137 Not for now. I just fixed a bug and took some delay into account for propagation between the phy and the mac. It seems like a control loop isn't quite necessary as I was able to test the boards with two different certified hardware and everything worked fine. A nice addition in order to improve on stability would be to average the last 3 or 4 pdelay and pr

[2022-05-18 07:17] erwango commented on #44822
@lainslie Is your problem still present ?

If yes, can you try to replicate this configuration and see if solving the issue?
[code]

Also, regarding the code used, can you try to use `sample/basic/blinky` (if you have a led on your board) and report the status ?

[2022-05-18 08:11] jeronimoagullo opened #45755 "ESP32 --defsym:1: undefined symbol `printf' referenced in expression - using CONFIG_NEWLIB_LIBC"
**Describe the bug**
I have built successfully for ESP32 an app with mqtt and another app with TensorFlow Lite. However, when I try to merge both to enable mqtt and TensorFlow Lite I get the following error:
[code]
I tried to merge the `prj.conf` file of both apps while the `main.c` was a simple _hello world_. After several tests (with different variables in the `prj.conf`), I noticed that it occu

[2022-05-18 08:17] fkokosinski commented on #42854
Closing this one as #45196 and #45198 which fix this issue had been merged.

[2022-05-18 08:17] #42854 closed

[2022-05-18 08:43] nordicjm opened #45756 "Add overlay-bt-minimal.conf for smp_svr sample application"
**Is your enhancement proposal related to a problem? Please describe.**
At present, the smp_svr sample application will not build for constrained devices, and will only just fit some other devices e.g. nRF52832, whereby about 98% of the total RAM is used.

**Describe the solution you'd like**
There should therefore be a minimal bt configuration that can be used for these devices with reduced funct

[2022-05-18 08:53] #45697 closed

[2022-05-18 08:54] #45568 closed

[2022-05-18 08:55] #44391 closed

[2022-05-18 08:56] Andermutu commented on #45678
@fabiobaltieri @Mani-Sadhasivam, you are right, the problem is that the `class_a` sample must provide a unique `dev_nonce` to work with "LoRaWAN Specification 1.0.4". I have first tried not to use explicit devnonce handling. On TTN, my device was configured as 1.0.3. After changing to 1.0.4 I was getting "devnonce is too small" error. The solution was to provide a unique devnonce, that should be s

[2022-05-18 08:57] henrikbrixandersen commented on #45755
Duplicate of #45632?

[2022-05-18 09:08] carlescufi commented on #45365
Given that you are really asking for a feature request here, I will convert this to a discussion and then ask you to open  a new issue (marked as enhancement), along the lines of: "Implement promiscuous mode for `AF_PACKET` sockets"

[2022-05-18 09:09] #45426 closed

[2022-05-18 09:13] carlescufi commented on #45664
Which broker? Because Mosquito will not allow external connections by default.

[2022-05-18 09:47] CManigandan commented on #31613
@pabigot I am not able to locate this fix. Can you help?

[2022-05-18 09:49] Thalley commented on #45741
In order to support the audio configurations defined by table 4.1 in BAP, we may also want to add an additional parameter to the QoS that can determine whether or not the audio stream should get it's own CIS or if it can share a CIS.

[2022-05-18 10:24] cvinayak commented on #45666
@CXsCode Please add `CONFIG_BT_CTLR_ADV_DATA_LEN_MAX=191` in the  nrf5340_cpunet_iso_broadcast.conf file.
Relates to #45015

[2022-05-18 10:25] povergoing commented on #45451
https://github.com/zephyrproject-rtos/zephyr/pull/45534 meged

[2022-05-18 10:25] #45451 closed

[2022-05-18 10:29] pideu-sj opened #45760 "Running twister on new board files"
**Describe the bug**
I tried to add a new board to folder zephyr/boards/arm/ by using an existing board. I just added a new folder and copied existing board files (KConfig, dts, doc, defconfig, ...) into. The only change I made is the naming of the board. I adjusted all spots in all files and the files itself, with the old naming and changed them to a new one. After running `./scripts/ci/test_plan

[2022-05-18 11:04] vishnusudhan opened #45761 "MCUBoot with multi-image support on Zephyr project for i.MX RT1165 EVK"
I am trying to build the MCUBoot with multi-image support (2 images) with Zephyr on i.MX RT1165 EVK.

I can able to build & flash the MCUBoot with single application.

Now trying to find the steps to check the multi-image (2 images) with MCUBoot & place the image over each SLOT 0 & SLOT1 and also need to the check the image upgrade mode with scratch/ without scratch possibilities.

Please refer wh

[2022-05-18 11:56] #43465 closed

[2022-05-18 12:33] erwango commented on #45114
@manuja2000 I've had a try to your sample, but I can't connect to WIFI network, while this is working ok using `sample/net/wifi`
:
[code]
Any idea what could be going on vs this sample ?

[2022-05-18 12:47] jancoow commented on #45735
I've made a pull request with a proper solution.

[2022-05-18 12:48] pepe2k commented on #45761
I found this short tutorial very useful: https://github.com/zephyrproject-rtos/zephyr/discussions/45252

[2022-05-18 13:02] gmarull commented on #41642
This feature was implemented in https://github.com/zephyrproject-rtos/zephyr/pull/44246, closing

[2022-05-18 13:42] #42011 closed

[2022-05-18 14:47] erwango commented on #45114
So I'm reproducing your issue using `CONFIG_NET_SOCKETS_OFFLOAD=n`

That said, I think the correct configuration is to use ``CONFIG_NET_SOCKETS_OFFLOAD=y`, which ends up with the following result:
[code]
But then I wonder if this is really an error and if this configuration should actually working with `samples/net/sockets/echo`.
Maybe @rlubos you would be able to help us to understand what should

[2022-05-18 14:53] rerickson1 commented on #18117
Low power operation is working in the HL7800 driver. Making a more reusable common infrastructure is needed though.
Key things that need to happen (HL7800 driver has examples of these):
1. When modem is in reset/sleep, no IO from the host should have active voltage.
2. Turn off host UART when modem is asleep
3. Support for turning the modem all the way off vs holding it in reset
4. Properly termin

[2022-05-18 14:54] rlubos commented on #45114
What is the network driver that you're using? Whether to enable `CONFIG_NET_SOCKETS_OFFLOAD` or not really depends ont he net driver in use (there are only a few that make use of this option).

[2022-05-18 15:09] Damian-Nordic commented on #45591
In a Matter example application I test we have 4 sectors * 4kB for NVS.

[2022-05-18 15:12] carlescufi commented on #39740
@bwitherspoon will you be able to transition the TI CC32x one?
https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/cc3220sf_launchxl/pinmux.c

Thanks!

[2022-05-18 15:18] #45505 closed

[2022-05-18 15:27] ruuddw opened #45771 "Pinctrl for applicable ARC boards"
Some ARC development boards support pinmuxing. The HSDK board had a minimal pinmux driver which was removed when pinmux got deprecated. Since the default pinmux setting cover typical use of these boards, pinctrl support is not required but it would be good to support this in a future release.

[2022-05-18 15:56] albertofloyd opened #45774 "drivers: gpio: pca9555: Driver is writting to output port despite all pins been configured as input"
**Describe the bug**
Extra time for board initialization due unnecessary setup for each IO expander.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
Output port should not be written to if not required

**Impact**
It takes more time to complete initialization

**Logs and console output**
![image](ht

[2022-05-18 16:33] mmahadevan108 commented on #45750
Unable to reproduce the failure on tag  `v3.1.0-rc1`. Below is the test result for test `tests\kernel\timer\timer_api`
[code]

[2022-05-18 18:26] stephanosio opened #45776 "C Library Roadmap"
## Tasks

- [ ] Add picolibc support as a module (#44096)
- [ ] Transition to picolibc as the default C library for Zephyr
- [ ] Add comprehensive C library testsuite
    * shall test the functional requirements of all supported C libraries to ensure that the C library meets the Zephyr expectations.
    * shall have common codebase for testing different C libraries (focus on testing standard C fea

[2022-05-18 18:58] gordonklaus commented on #45564
@erwango I'm also not able to reproduce it when I move the console back to lpuart1 (I tried many configurations, but I suppose it's still possible I didn't search long enough).  Do you think this could somehow be related?

I was able to reproduce it on another identical Nucleo board, FWIW.

[2022-05-18 19:18] edersondisouza commented on #44925
Hi @LixinGuoX ,

Can you check if my draft PR  #45777 helps to mitigate this issue? If so, I'll remove the draft status there.

[2022-05-18 19:37] gordonklaus commented on #45564
@erwango I'm not sure how to explain that c65645cc39e4a3513ac754733266766459b3cef0 should have no effect on the binary, yet I saw different behavior.

I `diff`ed the binaries before and after that change and they only differ in the boot banner (which include the git revision) and in two 16-bit words that are swapped at lower address:
[code]

But neither of these binaries reproduces the problem (an

[2022-05-18 20:46] mbolivar-nordic commented on #45761
I'm closing this as not a bug. If you think you have found a bug, please fill out the correct template in a new issue: https://github.com/zephyrproject-rtos/zephyr/issues/new?assignees=&labels=bug&template=bug_report.md&title=

[2022-05-18 20:46] #45761 closed

[2022-05-18 21:23] honestech74 commented on #45735
I've tested #42241 with the simple https server and it seems like it doesn't handle the deadlock perfectly.
Here is ping log to the app after about 5 hours.
[code]

[2022-05-18 21:37] bdesterBE opened #45778 "Unable to use thread aware debugging with STM32H743ZI"
**Describe the bug**
When attempting to use the `CONFIG_DEBUG_THREAD_INFO` configuration option for thread aware debugging with the STM32H743ZI develpment board, after running `west debug` an output containing 'cant read "_TARGETNAME": no such variable', followed by "You can't do that when you target is `exec'" is received.

If the configuration option is not added to the project's prj.conf file,

[2022-05-18 21:39] jancoow commented on #45735
Can you test this fix? : https://github.com/zephyrproject-rtos/zephyr/pull/45765

[2022-05-18 21:42] laurenmurphyx64 opened #45779 "Implementing ARCH_EXCEPT on Xtensa unmasks nested interrupt handling bug"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/pull/45570 introduces an implementation of ARCH_EXCEPT so that k_panic and other calls to z_except_reason create exception stack frames. Now that we trigger a hardware exception on Xtensa for software exceptions, @andyross and I found out that when `xtensa_excint1_c` finishes handling an exception (e.g. stack check failure) inside o

[2022-05-19 01:41] Dino-Li opened #45783 "drivers/serial: ns16550: message is garbled"
The newly added "chioce" of Kconfig.ns16550  select UART_NS16750 by default.
But we should not enable UART_NS16750 or UART_NS16950 on NS16550 because Its fifo size is 16 bytes.

[code]

[2022-05-19 01:44] Dino-Li commented on #45783
Hi Tom,
Since I don't have permission to assign the issue to you, I tag you in the comment. @teburd

[2022-05-19 01:45] Dino-Li commented on #45783
@GTLin08

[2022-05-19 03:09] yinfangw opened #45784 "nominate me as zephyr contributor"
# Background

The [TSC Project Roles] defines the main roles for the Zephyr Project, including
Maintainer, Collaborator, and Contributor.

By default anyone that contributes code or documentation is a Contributor, but
with the lowest [GitHub Permission Level] of Read. For example, Contributors
with Read permission do not have the permission to add reviewers to a pull
request.

Use this template to

[2022-05-19 03:53] sam131208 commented on #29394
@rftafas

You mentioned the low power consumption of the ESP32, which is very important in product deployment. When can we test it?

[2022-05-19 04:29] yperess commented on #44108
The fix that closed this was reverted because it caused failures on the nightly build. There's a new PR https://github.com/zephyrproject-rtos/zephyr/pull/45262 for review to fix this.

[2022-05-19 05:22] stephanosio opened #45785 "C++ Roadmap"
This issue describes the future plans for the C++ support in the Zephyr RTOS.

## Tasks

- [ ] Unify C++ source and header file extensions (#44196)
- [ ] Establish C++ coding guidelines (#45195)
- [ ] Refactor C++ support in Zephyr (https://github.com/zephyrproject-rtos/zephyr/issues/36644#issue-933805956)
- [ ] Add native Zephyr support in the libstdc++ (https://github.com/zephyrproject-rtos/sdk-

[2022-05-19 05:22] stephanosio commented on #45785
cc @cfriedt @yperess @alexanderwachter

[2022-05-19 05:29] stephanosio commented on #45784
Added as a contributor with triage permission level.

[2022-05-19 05:29] #45784 closed

[2022-05-19 06:03] vishnusudhan commented on #45407
is there any update for the pyocd support for i.MX RT1160 EVK?

[2022-05-19 06:56] FRASTM commented on #39888
Definitely, no difference found both versions of stm32cube/stm32l4xx  1.16.0  and 1.17 and even latest 1.17.1 give the same output

[2022-05-19 07:08] erwango commented on #39888
Thanks @FRASTM, was it tested using L4 or L4+ ?

[2022-05-19 07:17] erwango commented on #45114
This is `drivers/wifi/eswifi`. Should this sample be compatible with both `CONFIG_NET_SOCKETS_OFFLOAD=y` and `CONFIG_NET_SOCKETS_OFFLOAD=n` ?

[2022-05-19 07:23] henrikbrixandersen opened #45790 "drivers: can: stm32h7: wrong minimum timing values"
**Describe the bug**
The minimum timing values for the STM32H7 FDCAN driver frontend are wrongly specified as:

[code]

According to the datasheet, this should be:

[code]

**Impact**
The timing calculation can produce values outside of what is supported by the hardware. The `tests/drivers/can/timing` tests fail.

**Environment (please complete the following information):**
 - OS: Ubuntu Linux 20.

[2022-05-19 07:26] rlubos commented on #45114
I can already see `samples/net/sockets/echo` will not work with this driver if socket offloading is enabled, as the driver does not implment `listen()` call at all... Surprisingly, the sample does implement `accept()` function, so I'm not sure what did the driver author had in mind implementing it w/o `listen()`.

Now, the driver seems to implement both, socket offloading and net offloading, so in

[2022-05-19 07:28] rlubos commented on #45114
And as for the sample, it just uses some basic socket API calls, so as long as the offloaded driver implements the API properly, w/o taking shortcuts like `eswifi`, it should make no difference whether net device is offloaded or not.

[2022-05-19 07:28] erwango opened #45791 "drivers/usb: stm32: Superfluous/misleading Kconfig option"
**Describe the bug**
For some reason, rather than testing for the presence of disconnect-gpios in the devicetree, the USB Device driver was relying on a hidden Kconfig flag to be set.

This has two problems:

Board developers need to realise that there's a Kconfig option too and override it in their board definition so their DT setting works.

You can't trivially enable it via overlay when you're

[2022-05-19 07:45] erwango commented on #45114
Thanks @rlubos for the analysis.

This was implemented in `https://github.com/zephyrproject-rtos/zephyr/pull/18641`. Maybe @[ssekar15](https://github.com/ssekar15), as the author, you would be able to comment on that  ?

Anyway, this doesn't seem to be a bug, but rather a limitation which would requirement an enhancement to the existing codebase. So I'm changing this issue status.
Also assigning t

[2022-05-19 07:55] sjanc commented on #43435
Harmony 2021.20 (TCRL 2021-2),   IUT  nRF52833-DK    (540 tests enabled in total, including DF)

- [ ] HCI/CCO/BI-51-C
- [ ] HCI/CCO/BI-53-C
- [ ] HCI/CCO/BI-54-C
- [ ] HCI/CCO/BI-56-C
- [ ] HCI/DDI/BI-05-C
- [ ] HCI/DDI/BI-06-C
- [ ] HCI/DDI/BI-07-C
- [ ] HCI/DDI/BI-11-C
- [ ] HCI/DDI/BI-13-C
- [ ] HCI/DDI/BI-14-C
- [ ] HCI/DDI/BV-07-C
- [ ] HCI/GEV/BV-01-C
- [ ] LL/CON/CEN/BI-14-C
- [ ] LL/CON/C

[2022-05-19 08:06] CXsCode commented on #45666
It's useful.But why was it not added to the nrf5340_cpunet_iso_broadcast.conf in 45015, but only to the samples/bluetooth/broadcast_audio_source/boards/nrf52840dk_nrf52840.conf?
Although the samples running,but the features of this sample does not seem to be realized.
I have two other questions:
1.Does the samples of LE Audio support nrf52840dk?
I built a sample(broadcast_audio_sink) for nrf52840d

[2022-05-19 08:08] CXsCode commented on #45666
It's useful.But why was it not added to the nrf5340_cpunet_iso_broadcast.conf in 45015, but only to the samples/bluetooth/broadcast_audio_source/boards/nrf52840dk_nrf52840.conf?
Although the samples running,but the features of this sample does not seem to be realized.
I have two other questions:
1.Does the samples of LE Audio support nrf52840dk?
I built a sample(broadcast_audio_sink) for nrf52840d

[2022-05-19 08:34] FRASTM commented on #43115
Could we fall in one pb with the BSY flag as we can read in the [ES0394](https://www.st.com/content/ccc/resource/technical/document/errata_sheet/group0/50/fb/f5/4f/6f/91/4f/17/DM00383256/files/DM00383256.pdf/jcr:content/translations/en.DM00383256.pdf). Especially in the  ll_func_spi_dma_busy the BSY flag is monitored ANDed with the TXE.
Then a work around could be in the static inline uint32_t ll_

[2022-05-19 09:38] Thalley commented on #40920
Multiple smaller issues have been created, so closing this.

[2022-05-19 09:38] #40920 closed

[2022-05-19 09:39] erwango commented on #45778
Correct flag name is `CONFIG_DEBUG_THREAD_INFO`

[2022-05-19 09:44] Thalley commented on #45666
I think the dual-CPU setup may be confusing for this case.
When you build the `cpunet` image, that is unrelated to the BT host samples (I think perhaps documentation can improved for this).

For the cpunet you should build something like the `/samples/bluetooth/hci_rpmsg/` with `CONFIG_BT_CTLR_ADV_DATA_LEN_MAX=191`.

For the nr5340 any of the `CONFIG_BT_CTLR_*` configs will not be present in the B

[2022-05-19 09:48] Thalley commented on #45666
So perhaps https://github.com/zephyrproject-rtos/zephyr/pull/45015 doesn't solve this issue completely, but may require some additional documentation for the nRF5340, as that isn't obvious.

[2022-05-19 09:49] Thalley commented on #45666
I built a sample(broadcast_audio_sink) for nrf52840dk, but it shows that the broadcast source cannot be searched.

The samples work with https://github.com/zephyrproject-rtos/zephyr/pull/45015

[2022-05-19 09:52] Thalley commented on #45666
Log:

I'll setup my board to advertise and see if I see the same. Could simply be that the connection between the board and PC broke (have you tried re-attaching it?).

[2022-05-19 10:19] tfir1981 commented on #45579
Yes, when my Code is not in src-directory it is compiled. On one hand i got an error if adding #error on other hand i can see compiler log. .o-File and .a-File were created.
Another test i did is adding an error inside of makro `SHELL_CMD_REGISTER` by changing symbolnames.

[2022-05-19 10:34] MulinChao opened #45795 "driver: pinctrl: npcx: get build error when apply pinctrl mechanism to a DT node without reg prop."
**Describe the bug**
When users enable pinctrl functionality for a npcx DT node in npcx7m6fb_evb or npcx9m6f_evb boards, we might encounter a build error since not all npcx peripheral DT nodes have ```reg``` property.

For example, [i2c6_0](https://github.com/zephyrproject-rtos/zephyr/blob/main/dts/arm/nuvoton/npcx.dtsi#L657) & [i2c6_1](https://github.com/zephyrproject-rtos/zephyr/blob/main/dts/ar

[2022-05-19 10:47] CXsCode commented on #45666
I don't think this caused the problem, but I'll try it again.

[2022-05-19 10:48] CXsCode commented on #45666
I have pulled the latest submission

[2022-05-19 10:48] hakehuang commented on #45750
@mmahadevan108 , thanks for the check, just want to confirm do you build with below command line?
[code]

[2022-05-19 10:51] Thalley commented on #45666
@cvinayak using https://github.com/zephyrproject-rtos/zephyr/pull/45015 and compiling hci_rpmsg on the nRF5340 cpunet with
[code]

never sends any data, and with https://github.com/zephyrproject-rtos/zephyr/pull/45015 on the nRF52840DK I actually now get
[code]

consistently, so it does look like something broke somewhere.

[2022-05-19 11:17] carlescufi commented on #43562
@cvinayak can you work on this for 3.1 please?

[2022-05-19 11:19] carlescufi commented on #44439
@cvinayak can this be closed now?

[2022-05-19 11:21] #45543 closed

[2022-05-19 11:21] #45708 closed

[2022-05-19 11:22] #45725 closed

[2022-05-19 11:51] ballardr commented on #45678
I've had this same issue. I've added the below function which I call just before lorawan_join(). It's a bit hacky, but it works. For me it just means I don't need to muck round too much with the upstream libraries.

[code]

Note, to get #include <LoRaMac.h> to work in my application code, I had to add the below to cmake so to include the loramac-node directories as search paths for headers.
zephyr

[2022-05-19 11:51] KAGA164 commented on #31306
Do you plan to implement the GATT caching on the client side as a part of this issue ? @Thalley

[2022-05-19 12:06] LixinGuoX commented on #44925
Hi @edersondisouza,
Yes, this PR may help to mitigate this issue, cavs25 hangs at `test_ipm_cavs_host `will not affect other testcases like tinycrypt.
But if hangs at `test_smp_boot_delay` like below will still affect other testcases.
[code]

[2022-05-19 12:06] LixinGuoX commented on #44925
Hi @edersondisouza,
Yes, this PR may help to mitigate this issue, cavs25 hangs at `test_ipm_cavs_host `will not affect other testcases like tinycrypt.
But if hangs at `test_smp_boot_delay` like below will still affect other testcases.
[code]

[2022-05-19 12:29] cvinayak commented on #45666
@Thalley  what does `arm-none-eabi-addr2line -e zephyr/zephyr.elf 0x000144a6` give the file and line number as?

[2022-05-19 12:29] Andermutu commented on #45678
@ballardr Thank you for sharing your solution! I have been questioning whether using a random devnonce is a good solution in terms of reliability, and finally decided to make a counter that saves on flash memory. For people like me who have limited knowledge of how zephyr builds/versions work, it's tricky to figure out the problem without asking for help.

[2022-05-19 12:33] erwango commented on #45778
Ok, here is the problem:

https://github.com/zephyrproject-rtos/zephyr/pull/37516 implemented integrated west runner support for openocd thread info configuration. For that it relied on the command `$_TARGETNAME configure -rtos Zephyr` which unfortunately is not generic enough to work with all openocd targets.
For instance, on stm32h743, it should use `$_CHIPNAME.cpu0 configure -rtos Zephyr`, whic

[2022-05-19 12:38] erwango commented on #45778
Proposal to fix this is to add an openocd runner arg which would overwrite the default openocd script target handle `_TARGETNAME`. For instance:
`board_runner_args(openocd --target-script-handle "_CHIPNAME.cpu0")`

@mbolivar-nordic Would it be fine with you ?

[2022-05-19 12:39] carlescufi commented on #43248
Closing since this is not reproducible. Could be the same issue as #43246 if reproduced.

[2022-05-19 12:39] #43248 closed

[2022-05-19 12:45] ballardr commented on #45678
So LoRaWAN Specifications 1.0.3 (and similar for older versions) on line 974 specifically says "DevNonce is a random value".

However specifications 1.0.4 and 1.1 both say "DevNonce is a counter starting at 0 when the device is initially powered up and incremented with every Join-request. A DevNonce value SHALL NEVER be reused for a given JoinEUI value."

So a random devnonce is a good solution de

[2022-05-19 12:53] rodrigopex commented on #45702
@OmarMorceli You could try using the [watchdog](https://docs.zephyrproject.org/latest/services/task_wdt/index.html?highlight=watchdog%20task) feature for that. Maybe this halt issue can see as a good thing. You'll notice the system is crashing at some point during the tests. If it reboots, you probably wouldn't know about the crash. I suggest you track the BLE Mesh bug down before accepting that a

[2022-05-19 13:50] cvinayak commented on #44439
@carlescufi I have couple more PRs to send that have conflict with #45205, hence need to wait for that to be merged.

[2022-05-19 13:50] Thalley commented on #45666
`zephyr/lib/libc/minimal/source/string/string.c:337`
It's a `memcpy` failing somewhere.

[2022-05-19 14:13] honestech74 commented on #45735
@jancoow I am testing it and it's working for about 8 hours so far. I will update if there is any issue.

[2022-05-19 14:14] erwango commented on #42653
@mdkf Did you finally manage to reproduce your issue (app broken) on mainline ?

About the performance issue reported on STM32:
Note that there is a new Ethernet HAL API that has been developed which should overcome limitations of the previous one (cf https://github.com/zephyrproject-rtos/zephyr/pull/45770).
I can't say it will fix the performance issue you reported (even though I hope so), but th

[2022-05-19 14:29] andyross commented on #45779
We definitely need to get this in for 3.1, nested interrupts are broken on xtensa (though in a way that's hard to exercise for typical code; you need a nested interrupt that forces a context switch, which is a multi-mode failure for a real time app -- a fatal error handler that aborts the current thread does this deterministically of course).

[2022-05-19 14:31] endian-benjamin opened #45799 "LED strip driver flips colors on stm32h7"
We're using the WS2812 RGB LED with the led_strip driver on two separate boards: one based on nrf52840 and one based on stm32h7.

On the 840 everything works as expected. On the h7 however, it seems to flip the red and green channels! I.e. you ask it to shine `#ff0000` and it shines `#00ff00` instead. Note that `#0000ff` works the same on both SoCs.

My best guess currently is that the SPI control

[2022-05-19 15:08] teburd commented on #45783
@mevalver Tagging you here

[2022-05-19 15:17] NickolasLapp opened #45800 "Clock control settings for MCUX Audio Clock are Incorrect"
**Describe the bug**
The Audio PLL Clock Rate calculation for the I2S Clock is incorrect, resulting in incorrect downstream clocks (for example I2S MCLK). Additionally, the PLL configuration for NXP RT parts configures the PLL settings outside of their allowable ranges according to the datasheet.

This affects:
- MCUX Clock Control Driver when using the Audio PLL
- IMX RT Parts configuring the SAI

[2022-05-19 15:17] NickolasLapp commented on #45800
Fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/44935/

[2022-05-19 15:23] evgeniy-paltsev opened #45802 "Some tests reported as PASSED (device) but they were only build"
**Describe the bug**
Some tests reported at same time as PASSED (device) and as only build.

Here is log example of running 3 tests which were only build (according to this log message: `3 test configurations were only built.`) and passed, according to another log message:

[code]

Twister options used:

[code]

Unfortunately this require HW board for reproducing.

**Environment (please complete t

[2022-05-19 15:23] keith-zephyr commented on #45795
Note that this issue affects a downstream project, preventing us from merging the Nuvoton pinctrl changes.

[2022-05-19 15:47] erwango commented on #45799
@endian-benjamin Could it be linked to frame format (TI/Motorola) ? I know we had issue around that previoulsy with LED strip previoulsy. Would you mind having a try to switch that and see if fixes thing ?

See `frame-format` here: https://docs.zephyrproject.org/latest/build/dts/api/bindings/led_strip/worldsemi%2Cws2812-spi.html#dtbinding-worldsemi-ws2812-spi

Note that this doesn't explain NRF vs

[2022-05-19 16:01] #45800 closed

[2022-05-19 16:28] edersondisouza commented on #44925
In this case, does it hang after the "load complete" message, as before?

[2022-05-19 16:52] mkcol opened #45807 "CivetWeb doesn't build for CC3232SF"
**Describe the bug**
The CivetWeb http server sample does not build for cc32325sf board. I am using the following commandline to build
[code]

I have added the below options to the prj.conf
[code]

And the result is the below error
[code]

Can anybody help point me in the right direction to get this sample running on the cc3235sf

[2022-05-19 17:55] #43830 closed

[2022-05-19 17:55] dleach02 commented on #43830
closing due to nonresponse

[2022-05-19 18:26] #45336 closed

[2022-05-19 18:28] #45791 closed

[2022-05-19 18:29] mbolivar-nordic commented on #45778
Yes

[2022-05-19 19:45] evgeniy-paltsev commented on #45802
As I can see - tests are actually executed on device. However
 * they are reported as a only built
 * there is no information about execution time - so it is marked as `PASSED (device)` instead of `PASSED (device 13.577s)`

[2022-05-19 20:00] andyross commented on #45545
Fix up.  Just to quibble with priority though: this is a silly thing to mark "high".  The obvious workaround to a lack of system panic on exiting essential threads is just to panic at the end of the thread function. :)  Or if you want to catch async aborts, join a thread to it and panic in that.

[2022-05-19 20:14] dipakgmx opened #45814 "Armclang build fails due to missing source file"
**Building of the test application fails**
Building of the test application using `armclang` compiler fails due to missing header files.

 - Target platform - `nucleo_f103rb`
 - Build log seems to suggest `'arch/arm/asm_inline_other.h' file not found`. And indeed the file was missing on my machine. Had a look at the [doc section](https://docs.zephyrproject.org/apidoc/latest/arm_2aarch32_2asm__inli

[2022-05-20 00:44] LixinGuoX commented on #44925
Yes, that's what we have in this case.
[code]

[2022-05-20 00:53] edersondisouza commented on #44925
So, when next test starts, you still see:

DEBUG   - DEVICE: INFO:cavs-fw:cAVS firmware load complete
DEBUG   - DEVICE: --
DEBUG   - Timed out while monitoring serial output on intel_adsp_cavs25

?

Or are you saying that after first hang, more hangs will follow, but without any pattern? Some tests even start while others not?

[2022-05-20 00:56] LixinGuoX commented on #44925
Yes, can't see any log
[code]

[2022-05-20 01:30] mmahadevan108 commented on #45750
Thank you. I am able to reproduce the failure.

[2022-05-20 07:31] endian-benjamin commented on #45799
looks like a dead link, and I can't find a `frame-format` binding in latest main.

[2022-05-20 07:33] rlubos commented on #45807
`WIFI_SIMPLELINK` requires full libc (Newlib by default), and this configuration is not compatible with with `libc_extensions.h` used by civetweb, as it seems to be written for minimal libc. You can remove or ifdef conflicting declarations in there, but this leads to another issue.

It seems that pthreads, used by civetweb, are also not compatible with Newlib:
[code]
@carlescufi Who's in charge of

[2022-05-20 07:51] MarekPieta opened #45820 "bluetooth: host: Failed to set security right after reconnection with bonded Central"
**Describe the bug**
Failed to set security right after reconnection with bonded peer. The failure is caused by inability to find SMP channel. It seems that ATT L2CAP channel tries to send security request before SMP L2CAP channel is initialized.

**To Reproduce**
The issue can be observed with `samples/bluetooth/peripheral_hids` sample. Steps to reproduce:

1. Build and program the `peripheral_hi

[2022-05-20 07:55] chrta commented on #43139
@henrikbrixandersen I have not done it, yet. It is probably a good idea to ask for maintainers and collaborators also for the SiLabs code in the main repository, not only the hal.

[2022-05-20 08:10] erwango opened #45821 "STM32U5: clock_control: Issue to get rate of alt clock source"
**Describe the bug**

Failing tests:
[code]

**Expected behavior**
These tests should be passed

**Impact**
Issue to use alt clocks on U5

**Logs and console output**
[code]

[2022-05-20 08:20] GeorgeCGV commented on #45799
@endian-benjamin , the `frame-format` is a field of the `spi-device`, see https://github.com/zephyrproject-rtos/zephyr/blob/ce84c782dcd3cee6fad6ac7ec7642accdaa42d1f/dts/bindings/spi/spi-device.yaml#L33-L46.

[2022-05-20 08:29] alwa-nordic commented on #45820
I set this issue to **priority medium** because @MarekPieta told me it affects a lot of samples in NCS.

[2022-05-20 09:53] Yaxit opened #45825 "Optimized kernels for Tensorflow Lite for MCU"
**Is your enhancement proposal related to a problem? Please describe.**
Tensorflow lite for Microcontrollers supports optimized kernels to accelerate the inference (eg: CMSIS NN).
Currently I could not find a way to configure in zephyr whether to use the kernels or not, and it seems it falls back to the unoptimized implementation.

**Describe the solution you'd like**
Add CONFIG_ settings to enabl

[2022-05-20 10:07] sjanc opened #45826 "Bluetooth: controller: Assert in lll.c when executing LL/CON/INI/BV-28-C"
**Describe the bug**
IUT running hci_uart sample (on Nrf52833 DK) is asserting when executing  LL/CON/INI/BV-28-C Bluetooth qualification test.

![image](https://user-images.githubusercontent.com/10303625/169506185-a9789751-b74b-4f26-89ee-0a586207a6da.png)

Full HCI trace:
[LL_CON_INI_BV_28.IUT.snoop.log](https://github.com/zephyrproject-rtos/zephyr/files/8738532/LL_CON_INI_BV_28.IUT.snoop.log)

[2022-05-20 10:34] #45545 closed

[2022-05-20 10:36] #45795 closed

[2022-05-20 10:38] #45779 closed

[2022-05-20 10:43] #45820 closed

[2022-05-20 11:03] ibaz-nordic opened #45827 "bluetooth: bluetooth host: Adding the same device to resolving list"
**Describe the bug**
Core v5.3, Vol 4, Part E, 7.8.38 specifies:
If an entry already exists in the resolving list with the same four parameter
values, the Controller shall either reject the command or not add the device to
the resolving list again and return success. If the command is rejected then the
error code Invalid HCI Command Parameters (0x12) should be used.

Core 5.2 however doesn't menti

[2022-05-20 11:06] Damian-Nordic opened #45828 "mcumgr: img_mgmt_dfu_stopped is called on a successful erase"
**Describe the bug**
mcumgr calls `img_mgmt_dfu_stopped()` callback on a successful erase.

It appears the condition at https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/mgmt/mcumgr/lib/cmd/img_mgmt/src/img_mgmt.c#L268 is reversed and the code mistakenly calls `img_mgmt_dfu_stopped()` on success while it's supposed to be used to notify a user that the DFU needs to be stopped for certai

[2022-05-20 12:16] sam131208 commented on #45632
@sylvioalves  It seems to be working fine after updating to the new version df85671c5d0405c0747c2939c8dfe808b7e4cf38。

 Whether to arrange to modify the following error, the channel is repeatedly defined in the two functions.

static int pwm_led_esp32_set_cycles(const struct device *dev, uint32_t channel,
				    uint32_t period_cycles,
				    uint32_t pulse_cycles, pwm_flags_t flags)
{
	int spee

[2022-05-20 12:22] endian-benjamin commented on #45799
Does not help. I'll see if I can dig deeper into the SPI controller driver, I'm guessing the answer is there. It will take a while until I get som spare time tho, due to deadlines...

[2022-05-20 12:59] richesonk opened #45834 "SMP Server Sample needs `-DDTC_OVERLAY_FILE=usb.overlay` for CDC_ACM"
**Describe the bug**
In trying to build the SMP Server sample application for CDC_ACM backend on my nRF5340DK, I had to add `-DDTC_OVERLAY_FILE=usb.overlay` to the build command given in the example. This overlay was needed for the device to get correctly "installed" on Windows as an CDC_ACM device.

It's unclear to me if that file should have been picked up automatically by the build system (in w

[2022-05-20 13:41] Thalley opened #45836 "samples: Bluetooth: unicast_audio_server invalid check for ISO flags"
**Describe the bug**
The `info->flags` from `bt_iso_recv_info` is checked against as a single value, instead of a bitfield. This causes the `in_buf` to always be NULL when an ISO packet with a timestamp is received.

**To Reproduce**
N/A

**Expected behavior**
When `BIT(0)` is set, the packet is valid.

**Impact**
Stops the samples from being able to decode LC3 data with a timestamp

**Logs and co

[2022-05-20 13:42] honestech74 commented on #45735
@jancoow I think that #45765 fixes this issue and tested it for about 32 hours.
@lucasgcbkhomp I checked #45765 is the right solution and you can close this.

[2022-05-20 13:56] ppryga opened #45839 "Bluetooth: Controller: df: Possible memory overwrite if requested number of CTE is greater than allowed by configuration"
**Describe the bug**

Maximum number of CTE to be send in a periodic advertising chain is
limited by BT 5.3 Vol 4 Part E, section 7.8.80 and is 16.
Maximum number of samples CTE in a periodic advertising chain is
limited by BT 5.3 Vol 4 Part E, section 7.8.82 and is also 16.
Both values are limited by amount of memory reserved in Controller
by Kcofigs, respectfully: CONFIG_BT_CTLR_DF_PER_ADV_CTE_N

[2022-05-20 14:29] gordonklaus opened #45842 "drivers: modem: uart_mux errors after second call to gsm_ppp_start"
After calling gsm_ppp_start and successfully connecting to the network, then calling gsm_ppp_stop and disconnecting, then calling gsm_ppp_start again, uart_mux errors occur.  Powering up and down the modem via power callbacks.  Using a BG96 modem.

Logs:
[code]

My blinking LED stops blinking around the same time the errors appear.  Maybe the system halts, or just the system workqueue?

This is us

[2022-05-20 14:40] jfischer-no commented on #45834
Thanks for the report, it is documentation issue.

[2022-05-20 15:46] AndreyDodonov-EH opened #45844 "Not all bytes are downloaded with HTTP request"
**Describe the bug**
Downloading considerable amount of data fails.
Getting fewer bytes than expected, without any error indication from networking stack.

Using http_client, socket_tls and default TCP stack (no socket offloading).

Download amount ca. 1 MB. Chunks are 1 KB.

In general, use case is very close to `big_http_download` sample, but:
- in the setup where resends are needed (medium-qual

[2022-05-20 15:52] rettichschnidi commented on #43139
I will let my contact at SiLabs know about this issue.

[2022-05-20 17:24] enjiamai opened #45845 "tests: The failure test case number increase significantly in CMSIS DSP tests on ARM boards."
**Describe the bug**
After the twister overhaul PR https://github.com/zephyrproject-rtos/zephyr/pull/44094, it reveal some incorrect testcase numbers in the twister report.
Take frdm_k64f as an example, following tests are affected most:
tests/lib/cmsis_dsp/martix  => 5940   failure
tests/lib/cmsis_dsp/transform  => 1100  failure
tests/lib/cmsis_dsp/filtering => 2172 failure

Because that testcase

[2022-05-20 17:25] aaronemassey opened #45846 "New ZTEST API for noisily skipping a test based dependency failures"
**Is your feature request related to a problem? Please describe.**

When conducting a larger integration test a system may depend on numerous
drivers that the integration test is only indirectly verifying -- i.e. we're
testing the system that relies on the driver, not the driver itself.
It's entirely possible that a regression in one particular feature for
a single driver causes a large number of

[2022-05-20 17:25] enjiamai commented on #45845
A workaround for this: https://github.com/zephyrproject-rtos/zephyr/pull/45832

[2022-05-20 18:00] dleach02 commented on #45407
The board page for this board highlights:

This request should be moved over to https://github.com/pyocd/pyOCD project

[2022-05-20 18:00] #45407 closed

[2022-05-20 19:45] mmahadevan108 commented on #45750
This is seen when when enable `CONFIG_PM`. MIMXRT1170 does not support Power Management yet. I have changed this to an enhancement.

[2022-05-20 19:52] bbilas commented on #45842
Have you tried to use `quectel-bg9x` driver that should be more suitable for this modem?

[2022-05-20 22:05] dleach02 commented on #45371
@rlubos, can you check to see if you can reproduce what @PerMac is reporting?

[2022-05-20 22:33] dleach02 commented on #45371
Okay, this was fixed by: #45070

[2022-05-20 22:33] #45371 closed

[2022-05-21 01:00] LixinGuoX opened #45848 "tests: console harness: inaccuracy testcases report"
**Describe the bug**
Tests supporting console harness have some problem in testing reporting, even the test suite has passed, we can not collecting the status of single testcases, they are showing `null `or `unknown`.
All of the failing testcases are written in ztest framwork, like `coredump.backends.logging` and `logging.log_syst.mipi_syst`

Also, we should not add the test_suite as testcase to r

[2022-05-21 02:22] #21994 closed

[2022-05-21 02:23] #44887 closed

[2022-05-21 06:20] corbett-cappon opened #45851 "For native_posix programs, k_yield doesn't yield to k_msleep threads"
When compiling programs for native_posix, if a higher priority thread calls k_msleep with a small timeout, then the lower priority thread calls k_yield, control is not returned to the higher priority thread, even if the small timeout has expired.

**To Reproduce**

Attached is a simple program to demonstrate this. Unzip in zephyr/samples, compile via "west build -b native_posix", and run it via "c

[2022-05-21 06:36] rettichschnidi commented on #43139
Or maybe @conq could help us here?

[2022-05-21 11:08] ppryga opened #45854 "Bluetooth: Controller: llcp: Assert if LL_REJECT_IND PDU received while local and remote control procedure is pending"
**Describe the bug**
In case there are pending two control procedures: local and remote,
and remote device sends LL_REJECT_IND PDU then assertion happened.
ull_cp_rx function triggers assertion because LL_REJECT_IND is
considered as expected packet for all local and remote control
procedures.

That is not correct. It does not allow local procedure to handle
a response and stops a device on assert.

[2022-05-21 12:07] aloksethi opened #45855 "Runtime fault when running with CONFIG_NO_OPTIMIZATIONS=y"
**Describe the bug**
I have two threads in the code which are just printing a string on the uart. If i compile with CONFIG_NO_OPTIMIZATIONS=y, I see two prints on the uart and then nothing. If i attach a debugger (Ozone), I see some usage fault (varying from memfault to usage fault).

I am using arduino_nano_33_ble board. I have connected a FTDI serial to USB board to the two serial  lines and obs

[2022-05-21 12:16] aloksethi opened #45856 "blinky built with asserts on arduino nano"
**Describe the bug**
If i turn on asserts in the blinky sample, then the system asserts immediately after booting. Without assert the led blinks.
following are the contents of prj.conf
[code]

**To Reproduce**
[code]

**Expected behavior**
should not assert.

**Impact**
Right now cannot build anything with asserts enabled.

**Logs and console output**
[code]
**Environment (please complete the foll

[2022-05-21 21:57] gnfranco commented on #45807
I'm with similar problem here.
But I can't build civetweb to any of my board. Even e when I try to build for "atmel-explained" it not build successful.

[2022-05-21 21:59] gnfranco commented on #45807
I'm using Zephyr toolchain 0.14.1 and actually I'm able to build and flash successfully for a couple of projects and boards like cdc_acm sample and echo_bot for frdm_k64f, nrf52840 and ESP32 WROOM , wifi station with shell terminal enabled on ESP32 but I can't build civetweb http_server or webshocket_server samples.

I've tryed to build civetweb samples on zephyr but can't build with success for a

[2022-05-22 00:30] #42327 closed

[2022-05-22 00:30] #42290 closed

[2022-05-22 04:53] Coi-l opened #45862 "USB ECM/RNDIS Can't receive broadcast messages"
**Describe the bug**
I can't receive udp broadcast messages when using usb ecm or usb rndis.

Board: blackpill: blackpill_f411ce

**To Reproduce**
Code used:

[code]

**Expected behavior**
Broadcast packets should be received

**Impact**
Can't continue with the current feature

**Logs and console output**

I get this from the usb system:
[00:00:00.475,000] <inf> usb_ecm: len 0 req_type 0x21 req 0x

[2022-05-22 07:35] gordonklaus commented on #45842
@bbilas I haven't.  Thanks for the suggestion.  I'll give it a try.

Shouldn't the `gsm_ppp` driver also be suitable for the BG96?  There's `CONFIG_MODEM_GSM_QUECTEL` which suggests it should.  And also the fact that it works great after the first call to `gsm_ppp_start` :)

Is the main difference between these drivers the fact that `quectel-bg9x` offloads socket operations to the modem, while `gs

[2022-05-22 09:07] mpiccolino-tealblue commented on #33876
@sylvioalves @jeronimoagullo I'm about to test some LoRa receiving (and possibly sending) on Heltec WiFi LoRa 32 (V2), will report

[2022-05-22 13:17] cfriedt opened #45865 "CODEOWNERS has errors"
**Describe the bug**
Just saw the warning while reviewing a separate PR.

**To Reproduce**
Review a PR that touches CODEOWNERS

**Expected behavior**
No warning / errors

**Impact**
Not sure, but it should be corrected.

**Logs and console output**

**Environment (please complete the following information):**
GH

**Additional context**
<img width="361" alt="Screen Shot 2022-05-22 at 9 12 56 AM" sr

[2022-05-22 13:46] SdtElectronics commented on #43369
The [native implementation in Zephyr](https://github.com/zephyrproject-rtos/zephyr/blob/main/lib/os/crc32_sw.c) looks almost identical to the implementation in LFS, except two additional bitwise complement operations were applied to the first parameter and the return value. If the Zephyr implementation will be used, a wrapper will be required to keep the behavior the same as the LFS implementation

[2022-05-22 14:08] mpiccolino-tealblue commented on #33876
@sylvioalves I haven't been able to compile the `lora/send` sample for the Heltec WiFi LoRa 32 (V2) with a fresh Zephyr install on macOS and Zephyr SDK 0.14.2. Here is the output:

[code]

[2022-05-22 15:59] taltenbach opened #45866 "drivers/entropy: stm32: non-compliant RNG configuration on some MCUs"
**Describe the bug**
On some STM32 MCUs, such as the STM32H723 or STM32L5, the RNG peripheral must be configured according to specific values provided in the reference manual to obtain best latency and to be compliant with NIST. This includes:
* Writing appropriate values to CONFIG1, CONFIG2 and CONFIG3 fields in RNG_CR register.
* Writing a proper value in RNG_HTCR register.

However, it seems th

[2022-05-22 18:20] loicpoulain commented on #45114
Please try the PR/fix: #45867

[2022-05-22 18:49] twaclaw commented on #43972
I am having the same issue: the shell doesn't seem to work on an ESP32. The same examples work on different platforms (e.g., on nucleo boards).  Zephyr version `v3.1.0-rc2`, `ESP-IDF release/v4.3-162-ga7dc3c722`. I see the shell prompt `uart $`  but the characters I type are not echoed.  This is for instance the output after flashing `west build  -b esp32 samples/subsys/shell/fs/;west flash`

[cod

[2022-05-22 21:45] cfriedt opened #45868 "v2.7-branch: bump version to 2.7.2-rc1"
This is a placeholder issue just for the version bump to v2.7.2-rc1

It is mainly here to make scripting complain less.

[2022-05-22 21:45] #45868 closed

[2022-05-22 21:53] cfriedt opened #45869 "doc: update requirements"
This is a placeholder issue for https://github.com/zephyrproject-rtos/zephyr/pull/41539 because an issue was not created prior to the backport PR and it was backported without an issue.

[2022-05-22 21:53] #45869 closed

[2022-05-22 21:56] cfriedt opened #45870 "drivers: virt_ivshmem: Allow multiple instances of ivShMem devices"
This is a placeholder issue for https://github.com/zephyrproject-rtos/zephyr/pull/44332 because it was merged without an associated issue.

[2022-05-22 21:56] #45870 closed

[2022-05-22 22:29] cfriedt opened #45871 "ci: split Bluetooth workflow"
This is a placeholder issue for https://github.com/zephyrproject-rtos/zephyr/pull/43196 because it was merged to a release branch without an issue.

[2022-05-22 22:29] #45871 closed

[2022-05-22 22:32] cfriedt opened #45872 "ci: make git credentials non-persistent"
This is a placeholder issue because https://github.com/zephyrproject-rtos/zephyr/pull/43161 was backported without any associated issue.

[2022-05-22 22:35] #45872 closed

[2022-05-22 22:42] cfriedt opened #45873 "soc: esp32: use PYTHON_EXECUTABLE from build system"
This is a placeholder issue for https://github.com/zephyrproject-rtos/zephyr/pull/42808 because it was backported without an associated issue

[2022-05-22 22:42] #45873 closed

[2022-05-22 22:53] cfriedt opened #45875 "bluetooth: hci_raw: avoid possible memory overflow in bt_buf_get_tx()"
This is a placeholder issue for https://github.com/zephyrproject-rtos/zephyr/pull/42167 which was backported without an associated issue.

[2022-05-22 22:53] #45875 closed

[2022-05-22 22:56] cfriedt opened #45876 "boards: h747/h745: Update dual core flash and debug instructions"
This is a placeholder for https://github.com/zephyrproject-rtos/zephyr/pull/42054 which was backported without an associated issue (Note, in this case it was documentation)

[2022-05-22 22:56] #45876 closed

[2022-05-22 23:00] cfriedt opened #45877 "version bump to 2.7.1"
This is a placeholder issue for https://github.com/zephyrproject-rtos/zephyr/pull/41234 mainly to make scripting complain less

[2022-05-22 23:00] #45877 closed

[2022-05-23 00:03] cfriedt opened #45878 "doc: release: Update release notes with CVE"
Just a placeholder issue because https://github.com/zephyrproject-rtos/zephyr/pull/45046 was backported without an associated issue

[2022-05-23 00:03] #45878 closed

[2022-05-23 03:27] stephanosio commented on #45865
The `CODEOWNERS` file will be replaced by `MAINTAINERS.yml`.

cc @nashif @mbolivar-nordic @carlescufi we should probably re-visit this in the Process WG.

[2022-05-23 03:30] stephanosio commented on #29199
Fixed by https://github.com/zephyrproject-rtos/zephyr/issues/38725:

Maintainers are now added as an assignee on the relevant PRs.

[2022-05-23 03:30] #29199 closed

[2022-05-23 04:18] stephanosio opened #45882 "Zephyr minimal C library contains files licensed with BSD-4-Clause-UC"
**Describe the bug**
Zephyr minimal C library contains the following source files that are licensed BSD-4-Clause-UC, which is not an Open Source Initiative (OSI)-approved license:

https://github.com/zephyrproject-rtos/zephyr/blob/e9d3791e3f33b7b95f57de80a85c374660680a1c/lib/libc/minimal/source/stdlib/strtol.c#L1

https://github.com/zephyrproject-rtos/zephyr/blob/e9d3791e3f33b7b95f57de80a85c374660

[2022-05-23 06:03] ppryga opened #45883 "Bluetooth: Controller: CCM reads data before Radio stores them when DF enabled on PHY 1M"
**Describe the bug**
CCM during on-the-fly decryption of a received packet starts decryption
when Radio triggers EVETNS_ADDRESS. In case there is possibility a
packet may include Constant Tone Extension, on-the-fly parsing of a
received packet for CTEInfo is enabled.

If there is a PHY 1M enabled the Radio stores received bits with a delay,
that is equal to time required to receive 3 bits. That ca

[2022-05-23 06:32] manuja2000 commented on #45114
Hi @loicpoulain,

I've tried this PR/fix, but still facing the same issue.

[2022-05-23 07:18] loicpoulain commented on #45114
@manuja2000 I test with the same config you shared and connect manually to my AP, then connect from remote computer via telnet.

`*** Booting Zephyr OS build v3.1.0-rc2  ***
Single-threaded TCP echo server waits for a connection on port 4242...

uart:~$ wifi connect CISCO Windows@@$
Connection requested
Connection request failed (-5)
uart:~$ wifi connect CISCO passphrase
Connection requested
uart:

[2022-05-23 07:29] bbilas commented on #45842
I haven't got a chance to use BG96 so I don't know, to be honest. I've been using the `gsm_ppp` driver with the EC21 and EG21 modules only as it's noted here https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/modem/Kconfig.gsm#L35=.

I've never been using `quectel-bg9x` driver so I can't help here.

[2022-05-23 07:46] jori-nordic commented on #43718
I was on vacation, sorry for the delay.

@aolowin the fix I have might have to change a bit, because while the bug still exists in latest upstream, it has different symptoms due to the l2cap work that has been done.

@hermabe has a PR (https://github.com/zephyrproject-rtos/zephyr/pull/45682/files) to fix some issues that were introduced there, and I'll be trying to reproduce this particular bug to

[2022-05-23 08:01] Bl4d3s opened #45886 "ESP32: PWM parameter renaming broke compilation"
**Describe the bug**
Commit [fbf73334f3](https://github.com/zephyrproject-rtos/zephyr/commit/fbf73334f38cc7888cc59e39f82fe682be72e125) renamed parameters for the various pwm drivers to channel to unify these.
Unfortunately the esp32 driver already has some interal variable named "channel", thus breaking compilation.

- Platform: Ubuntu WSL

**To Reproduce**
Steps to reproduce the behavior:
1. mkdi

[2022-05-23 08:09] jeronimoagullo commented on #33876
Hi @sylvioalves and @mpiccolino-tealblue

I have just tried to build the lora send example for esp32 and I got the same output that @mpiccolino-tealblue posted.

[2022-05-23 08:43] pabigot commented on #29199
How is it appropriate to close this issue, given that #38725 is open and on hold, and #45865 identifies more problems with the solution that is implemented?

Don't feel obliged to answer on my behalf.  🤦

[2022-05-23 08:45] #44439 closed

[2022-05-23 08:49] stephanosio commented on #29199
#38725 has already been implemented and is currently functional as noted above.
#45865 has nothing to do with this.

[2022-05-23 09:18] de-nordic opened #45891 "mgmt/mcumgr/lib: Refactoring of callback subsystem in image management (DFU)"
**Is your enhancement proposal related to a problem? Please describe.**
The current callback subsystem is little bit chaotic and not really covering all the events of DFU, where users may expect to be notified on some action happening and a result.
For example the same callback is used to notify on unsuccessful image erase and that download have failed, with not possible way to distinguish which e

[2022-05-23 09:23] danie007 opened #45893 "MCUboot authentication failure with RSA-3072 key on i.MX RT 1160 EVK"
**Cannot use RSA-3072 keys with Zephyr & MCUboot**
Whenever I try signing the zephyr application with `RSA-3072` key (_both example & genrated one_) the application loading fails at bootloader stage.

- I'm using NXP's i.MX RT 1160 EVK
- I've tried printing the keyfile path on both MCUBoot build and zephyr application build and it points correctly to the desired file.

**To Reproduce**
Steps to re

[2022-05-23 09:24] ruuddw commented on #30348
I'm not sure if the 'ALIGN_WITH_INPUT' is actually required for the llvm linker, we're checking/discussing this with the Zephyr Toolchain working group and others. I don't have a firm planning, but if the attribute indeed is superfluous for lld a solution could be simple.

[2022-05-23 09:31] shaoanxli opened #45894 "up_squared：the test shows pass in the twister.log it but does not seem to finish"
**Describe the bug**
The test shows pass in the twister.log but it does not seem to finish, according to observation the twister log is not complete.

Take tests/posix/common as an example.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p up_squared --device-testing --device-serial $serial_name -T tests/posix/common/ --west-flash=$HOME/$USER/up_squared_efi.s

[2022-05-23 10:33] #45578 closed

[2022-05-23 11:12] rlevano77 commented on #45664
@carlescufi
I am running mosquitto but I suspect I have wrong settings in my mosquitto.conf I will check.

In https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/net/mqtt_publisher/src/config.h#L24
[code]
If **SERVER_ADDR** is the IP address of the machine running the mosquitto broker?
Then what **ZEPHYR_ADDR**  is?

[2022-05-23 11:17] manuja2000 commented on #45114
Thanks @loicpoulain.
This is working now.

[2022-05-23 11:37] rlubos commented on #45664
`ZEPHYR_ADDR` is the address of the device using Zephyr, but it's not really used by the sample, must've been some leftover from the past. `SERVER_ADDR` defaults to `CONFIG_NET_CONFIG_PEER_IPV4_ADDR` and that config should be set to the IP address of the host running mosquitto broker.

As for the mosquitto configuration, it's well explained in https://mosquitto.org/documentation/authentication-met

[2022-05-23 11:37] chrta commented on #43139
Related comment from @sateeshkotapati (Silicon Labs developer) offering to maintain SiLabs code: https://github.com/zephyrproject-rtos/zephyr/pull/35361#issuecomment-986866047

[2022-05-23 11:37] sylvioalves commented on #33876
@mpiccolino-tealblue @jeronimoagullo, can you share the overlay file?
I haven't tested but I think it needs to be something like
[code]

[2022-05-23 11:55] mpiccolino-tealblue commented on #33876
Thanks for your feedback. The output I shared refers to a missing overlay file (I am new to Zephyr and didn't notice that the heltec dtc doesnt contain info about lora). I tried with the overlay posted earlier in this thread but I get a cmake error. I have written to Heltec support to see if they can provide one. @sylvioalves I'll check yours later when I get back to the pc. I seem to remember the

[2022-05-23 12:25] Zhaoningx commented on #45105
Hi @enjiamai, I need to debug when the ACRN is released from the daily testing, so I need more time to debug, I'll update tomorrow. Thanks.

[2022-05-23 12:42] kunoh commented on #45505
Sorry for my late response @danieldegrasse. I have just tested and it works perfectly, thank you once again :)

[2022-05-23 12:47] evgeniy-paltsev opened #45904 "All tests require full timeout period to pass after twister overhaul when executed on HW platform"
**Describe the bug**
All tests require full timeout period to pass after twister overhaul, even if actually test executes really fast (like hello-world sample).

Here is log example of running 3 tests:
[code]

Twister options used:
[code]

Full logs and twister reports:
[artefacts.zip](https://github.com/zephyrproject-rtos/zephyr/files/8754592/artefacts.zip)

Environment (please complete the follo

[2022-05-23 12:53] sylvioalves commented on #43972
@twaclaw Hi, I have just tested the `samples/subsys/shell/fs` and it does read input and echoes back.
Can you check whether your minicom is configured with HW flow control disabled?
I tested with `minicom`, `miniterm` and ` west espressif monitor`, all working in here.

[2022-05-23 13:16] #45583 closed

[2022-05-23 13:20] erbr-ot commented on #43435
Just did run of these 134 LL/CON/CEN and LL/CON/PER tests with only two failures:
This is without Coded PHY support, with PARAM_CHECK disabled, without PR#45798, with my draft PR#45829 for PHY Update and with a minor fix to avoid sending stuff after terminate_ind

- [ ] LL/CON/CEN/BI-02-C
- [ ] LL/CON/CEN/BI-04-C
- [ ] LL/CON/CEN/BI-05-C
- [ ] LL/CON/CEN/BI-06-C
- [ ] LL/CON/CEN/BI-07-C
- [ ] LL/C

[2022-05-23 13:28] aolowin commented on #43718
@jori-nordic I'll try and reproduce it after that PR is in. Thanks.

[2022-05-23 13:29] ASL07 commented on #27177
Hi, what was the fix for this? I am seeing the same issue in native_posix board

[2022-05-23 13:30] as-iotex commented on #27177
Hi, what was the fix for this? I am seeing the same issue in native_posix board

[2022-05-23 13:38] #45751 closed

[2022-05-23 14:00] rodrigopex opened #45910 "[RFC] Zbus: a message bus system"
## Introduction

Embedded systems are everywhere, playing different roles in our lives. Embedded software grows in complexity as technology evolves over time. To keep up with the increasing complexity, practitioners and researchers put effort into launching numerous development solutions, such as frameworks, libraries, RTOSes, and so forth. Zephyr is one of these solutions. However, as with the ma

[2022-05-23 14:01] tmilkovic51 opened #45911 "LVGL sample cannot be built with CONFIG_LEGACY_INCLUDE_PATH=n"
**Describe the bug**
Building the `zephyr/samples/subsys/display/lvgl/` sample throws an error if being built with non-legacy include paths (i.e. `CONFIG_LEGACY_INCLUDE_PATH=n` Kconfig setting). Both legacy and non-legacy build paths should be supported on Zephyr v3.1.0.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform ar

[2022-05-23 14:04] FRASTM commented on #45799
I have check on my side the sample on the nucleo h743zi board
The spi1 requires the clock
 The usual overlay and con

[2022-05-23 14:20] hunterhu3000 opened #45914 "test: tests/kernel/usage/thread_runtime_stats/ test fail"
**Describe the bug**
The testcase "tests/kernel/usage/thread_runtime_stats/" gets assertion fail on both MEC15 and MEC17

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? ARM platform mec15xxevb_assy6853 and mec172xevb_assy6906
 - What have you tried to diagnose or workaround this issue?
 - do git bisect and

[2022-05-23 14:40] #6162 closed

[2022-05-23 14:52] danieldegrasse commented on #45750
@mmahadevan108 PM should be supported on the RT1170, see #41171

[2022-05-23 14:56] yang325 opened #45916 "USART on STM32: Using same name for different remapping configurations"
**Describe the bug**
For STM32 UASRT remapping, build-system can NOT tell 'partial remap' from 'no remap' because of using same name for them.
![](https://images-ext-1.discordapp.net/external/4ru3r6eB3akjH6mMxeK5fv7y_vr2W5SqP_Zc1M-I5_k/https/media.discordapp.net/attachments/906521547672522752/977532797029859328/unknown.png)

![](https://images-ext-1.discordapp.net/external/e1RMomMpgRDkFR57ia7ceqN7

[2022-05-23 17:53] twaclaw commented on #43972
Thanks @sylvioalves, that was it, Hardware Flow Control was enabled :face_exhaling:

[2022-05-23 18:23] OmarMorceli commented on #45702
Thank you @rodrigopex
Regarding the [watchdog ](https://docs.zephyrproject.org/latest/services/task_wdt/index.html)feature, I have an application running on an nRF52840 Dongle that communicates with Bluetooth Mesh (using some vendor models) and sends/receives data over USB .

* How many channels should I use ?
* Where do i put the task_wdt_feed()  exactly ?
* And in what case enabling the [TASK_WD

[2022-05-23 20:00] #45533 closed

[2022-05-23 22:06] aaronemassey commented on #38715
I'll have a tiny pull-request for this fairly soon.

[2022-05-23 22:16] OmarMorceli opened #45921 "Runtime memory usage"
I'm Using the nRF52840 DK and I'm facing a problem with my application, is there a way for me to monitor the RAM usage during runtime, so that I can determine whether the issue is due to memory usage or not ?

[2022-05-23 22:46] aaronemassey commented on #45846
There is a very real downside to using a name other than `zassume` and that's because the `assume` name is pretty standard for this kind of thing given its implementation in the JUnit4 API.

[2022-05-24 00:29] #43597 closed

[2022-05-24 00:30] #43595 closed

[2022-05-24 02:17] ck-telecom commented on #45910
https://github.com/zephyrproject-rtos/zephyr/pull/38611 how about this PR?

[2022-05-24 07:25] stephanosio commented on #44466
Will mark this as an enhancement since this is not necessarily a bug.

[2022-05-24 07:27] #44788 closed

[2022-05-24 07:49] FRASTM commented on #45799
When the SPI clock source is not explicetly declared by the DTS,
the SPI clock source has the default value in the RCC register D2CCIP1R (0 --> pll1_q_clk) but the `clock_control_get_rate` does not know it and returns the value of the pll clock (96MHz) for the spi clock : which is not correct.
That's why the SPI clock source must be declared with
[code]
even if the default value is kept SPI123_SEL

[2022-05-24 07:50] tfir1981 commented on #45579
In my PlatoformIO i addes `-Wl,--whole-archive` to my build_flags. This is the solution.
Thanks for your help.
So this issue is solved for me.

[2022-05-24 07:50] #45579 closed

[2022-05-24 08:40] shaoanxli opened #45929 "up_squared：failed to run test case tests/posix/common"
**Describe the bug**
The test block on test_posix_rw_lock test case.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p up_squared --device-testing --device-serial $serial_name -T tests/posix/common/ --west-flash=$HOME/$USER/up_squared_efi.sh -vv
3. See error
  or
  2. west build -p always -b up_squared tests/posix/common/
  3. screen /dev/ttyUP2 115200
  4. w

[2022-05-24 08:54] LixinGuoX opened #45932 "tests: subsys/logging/log_syst : failed to build on rpi_pico"
**Describe the bug**
Failed to build tests/subsys/logging/log_syst/ on rpi_pico

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p rpi_pico -T tests/subsys/logging/log_syst/
2. see error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain 0.14.2

[2022-05-24 09:08] SeppoTakalo commented on #25935
DTLS session resumption on QUEUE mode have been fixed already: https://github.com/zephyrproject-rtos/zephyr/pull/45065

DTLS connection ID is (I belive) not yet supported.

[2022-05-24 09:17] enthunilu opened #45933 "webusb sample code linking error for esp32 board"
**Describe the bug**
I am trying to build webusb sample code for my esp32 dev kit.
https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/subsys/usb/webusb

I am using below command,
west build -p auto -b esp_wrover_kit samples/subsys/usb/webusb

while execution I am getting linking error for usb API's.

Steps:
1. Open command prompt
2. Go to zephyr directory
3. execute: west build -p auto

[2022-05-24 09:31] KAGA164 opened #45934 "ipc_service: nocopy tx buffer allocation works unexpectedly with RPMSG backend"
**Describe the bug**
Target platform: nrf5340dk_nrf5340
Application: Internal tests that uses ipc_service with RPMSG backend.

`int ipc_service_get_tx_buffer(struct ipc_ept *ept, void **data, uint32_t *size, k_timeout_t wait)` can return after 15 seconds with NULL pointer when timeout is set to `K_FOREVER` when there is not possibility to allocates buffer due to shared memory being full. I would e

[2022-05-24 09:40] bamkrs opened #45936 "flash_sam0: Driver does not support RWW sections"
**Is your enhancement proposal related to a problem? Please describe.**
Some sam0 devices have a special RWW flash section. For example a `SAMD21E17D` has a 4Kbytes section at `0x00400000`.
The current `flash_sam0.c` implementation does not know about these special sections and complains with an `EINVAL`:

**Describe the solution you'd like**
Implement necessary config-options and runtime-checks t

[2022-05-24 10:02] hongshui3000 commented on #45910
https://github.com/zephyrproject-rtos/zephyr/pull/38611 A good PR but abandoned

[2022-05-24 10:05] gonzzor opened #45938 "Unable to combine USB CDC-ACM and Modbus Serial due to dependecy on uart_configure()."
**Describe the bug**
When combining USB CDC-ACM and Modbus Serial, `modbus_serial_init()` fail because `uart_configure()` isn't implemented for cdc-acm. modbus_serial_init() should handle this more craceful.

Simply ignoring the error if it's -ENOSYS is a quick fix that make modbus serial work.

Testing on nrf52840dk.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable USB-CDC ACM support

[2022-05-24 10:18] carlescufi commented on #44728
@smr-mohammadzadeh

This looks like the Controller did not support the Read Local Supported Features command (OGF 0x04, OCF 0x03), since it returned a status of `0x01`. The usual completion report would look like:

`[00:00:00.386,779] <dbg> bt_hci_core: hci_cmd_done: opcode 0x1003 status 0x00 buf 0x20007c28`

So this is a problem with the controller (i.e. the Link Layer), I suggest you contact @er

[2022-05-24 10:18] #44728 closed

[2022-05-24 11:32] hakehuang opened #45942 "tests: twister: harness: Test harness report pass when there is no console output"
**Describe the bug**
Test harness report pass when there is no console output
in device test when harness is Test, when there is no console output, the self.state is None,
as at this time the test instance self.instance.state is "pass", as the last step cmake is "pass".
so it will report "pass", but actually there is no console output issue

**To Reproduce**
Steps to reproduce the behavior:

chang

[2022-05-24 11:35] rlevano77 commented on #45664
Wrong mosquitto configuration and `CONFIG_NET_CONFIG_PEER_IPV4_ADDR`  were the issue.
`mqtt_publisher ` example tested with no TLS worked ok.

Thanks @rlubos , @carlescufi

[2022-05-24 11:35] #45664 closed

[2022-05-24 11:44] Zhaoningx commented on #45105
Hi, I looked into the issue, I find that the action of the function k_msleep() is not expected. In the test case` test_timeout_fifo_thread`,  it tested the data can pass by thread and sub-thread in 20ms timeout range, I added some `printk` to check every step spent time value, I find that after waiting for 10ms by calling `k_msleep(10)`, the real spent time is close to 20ms, so I'll look into it.

[2022-05-24 12:02] mniestroj opened #45946 "net: context: outgoing datagrams are truncated if not enough memory was allocated"
**Describe the bug**
Datagrams sent using `net_context_send{,to,msg}()` and/or `zsock_send{,to,msg}()` are truncated if the MTU of network interface is smaller than the passed datagram size or if not enough buffers were allocated (e.g. due to other OS components using those buffers at the time of allocation). Datagrams should either be sent as a whole or not at all, as truncating outgoing datagram

[2022-05-24 12:14] mniestroj opened #45948 "net: socket: dtls: sendmsg() should result in single outgoing datagram"
**Describe the bug**
Datagram sent using `zsock_sendmsg()` is split into multiple datagrams, one for each fragment in `msg->msg_iov`. Instead, there should be single outgoing datagram, so that DTLS socket behavior is similar to UDP socket behavior, just with the difference of data being transparently encrypted.

**To Reproduce**
1. use `connect()` to bind socket to a single host
2. use `sendmsg()`

[2022-05-24 12:24] erbr-ot commented on #43435
Another run - as above but now with Coded PHY code base compiled in, but functionality 'featured out'
Also with fix to issue for Terminate.
LL/CON/CEN/BI-02-C
LL/CON/CEN/BI-04-C
LL/CON/CEN/BI-05-C
LL/CON/CEN/BI-06-C
LL/CON/CEN/BI-07-C
LL/CON/CEN/BI-08-C
LL/CON/CEN/BI-11-C
LL/CON/CEN/BI-12-C
LL/CON/CEN/BI-13-C
LL/CON/CEN/BI-14-C
LL/CON/CEN/BV-02-C
LL/CON/CEN/BV-03-C
LL/CON/CEN/BV-04-C
LL/CON/CEN/BV

[2022-05-24 12:30] mniestroj opened #45953 "modem: simcom-sim7080: sendmsg() should result in single outgoing datagram"
**Describe the bug**
Datagram sent using `zsock_sendmsg()` is split into multiple datagrams, one for each fragment in `msg->msg_iov`. Instead, there should be single outgoing datagram, so that DTLS socket behavior is similar to UDP socket behavior, just with the difference of data being transparently encrypted.

**To Reproduce**
1. use `connect()` to bind socket to a single host
2. use `sendmsg()`

[2022-05-24 12:33] endian-benjamin opened #45955 "stm32h7 i2s support"
Currently I2S is supported for some STM32:s but not for H7.

I figured the difference between F4 and H7 can't be THAT significant, so I considered porting it but with my somewhat limited experience with the low-level ST HAL, it's proven difficult.

From what I can tell, there are some differences that makes the current driver incompatible. After hacking in the (hopefully correct) clock source, I w

[2022-05-24 12:47] mniestroj opened #45956 "net: socket: dtls: handle multiple fragments in sendmsg()"
**Is your enhancement proposal related to a problem? Please describe.**
Using `sendmsg()` API does not work for DTLS connection, as fragmented data is not properly sent as a single DTLS record.

**Describe the solution you'd like**
Ideally, there should be a 'gather' write/send API in mbedTLS or alternatively an explicit "send flush" request (as implemented in https://github.com/Mbed-TLS/mbedtls/p

[2022-05-24 13:29] KAGA164 commented on #45934
In case of returning with K_FOREVER. On the remote side the `ipc_service_get_tx_buffer` can even return without waiting any time here: https://github.com/zephyrproject-rtos/zephyr/blob/70dbf7e695d24067ded1e041f39bac9f577abbf0/subsys/ipc/ipc_service/backends/ipc_rpmsg_static_vrings.c#L538
if the shared memory is full the `get_tx_buffer_size returns` 0 as a buffer size. So I would consider it as a b

[2022-05-24 13:45] carlocaione commented on #45934
I see that there is an asymmetry between remote and host about this. I'll try to see if we can fix this without involving OpenAMP.

[2022-05-24 13:56] henrikbrixandersen commented on #45910
Regarding alternatives - have you seen KBUS? http://kbus.readthedocs.io/en/latest/specification.html

[2022-05-24 14:08] erwango commented on #45955
About providing series abstraction, you can look at what was done on spi_stm32, which is somewhat close to I2S:
https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/spi/spi_ll_stm32.h#L130-145

About the RCC stuff, I suggest to first convert i2s driver to use new device tree alternate clock source to simplify the source clk selection: https://github.com/zephyrproject-rtos/zephyr/pull/450

[2022-05-24 14:13] sbourdelin commented on #38657
Hi @nandojve ,

you might want to add the GD32F450Z_EVAL board : https://github.com/zephyrproject-rtos/zephyr/pull/45346

[2022-05-24 14:30] rodrigopex commented on #45910
@henrikbrixandersen I was reading the documentation, and I noticed that several concepts are the same as I am purposing here, but this seems to be not a valid alternative because, as they said this is `"for Linux" means what it says, since the Linux kernel is required `

[2022-05-24 14:34] rodrigopex commented on #45910
@henrikbrixandersen, it seems to depend on the Linux kernel. I did not list alternatives with dependency like that. Zbus shares a lot of concepts with it.

[2022-05-24 14:58] jfischer-no opened #45967 "Best effort message broadcast system with concise binary object representation"
## Introduction

Implement a best effort message broadcast system with concise binary object representation.

### Problem description

Zephyr OS apparently lacks a message broadcast system like DBUS.

### Proposed change

Implement a message broadcast system that uses (system) workqueue and distribute messages according to best effort principle. The messages shall be self-describing (CBOR). The me

[2022-05-24 15:00] Thalley opened #45968 "Bluetooth: OTS: Rename `struct bt_ots_init` to `struct bt_ots_init_param`"
**Is your enhancement proposal related to a problem? Please describe.**
The `struct bt_ots_init` creates a duplicate warning as we also have a function called `bt_ots_init`. Since the struct actual contains parameters to that function, we should rename it.

**Describe the solution you'd like**
Rename `struct bt_ots_init` to `struct bt_ots_init_param` to avoid duplicating the name `bt_ots_init`.

*

[2022-05-24 15:02] carlescufi commented on #45967
Relevant similar issues and PRs:

- [Zbus: a message bus system](#45910)
- https://github.com/zephyrproject-rtos/zephyr/pull/38611

[2022-05-24 15:06] Thalley commented on #45968
I agree, but IMO it's still bad practice to have structs and functions with the same name, and we also have a case (which perhaps is also causing warnings) where we have a function and a local variable with the same name:
[code]

[2022-05-24 15:09] stephanosio commented on #45910
FWIW, https://github.com/zephyrproject-rtos/zephyr/issues/37223 is trying to implement something similar.

[2022-05-24 15:47] #45739 closed

[2022-05-24 15:48] #45799 closed

[2022-05-24 15:49] #43870 closed

[2022-05-24 15:49] #42520 closed

[2022-05-24 15:49] lairdjm commented on #45910
Another similar zephyr-based IPC system: https://github.com/LairdCP/zephyr_framework

[2022-05-24 15:49] #45790 closed

[2022-05-24 15:50] #45836 closed

[2022-05-24 15:51] #45821 closed

[2022-05-24 15:52] #45778 closed

[2022-05-24 15:54] #45706 closed

[2022-05-24 15:59] mbolivar-nordic commented on #44427
@snematbakhsh @fkokosinski I just merged https://github.com/zephyrproject-rtos/zephyr/pull/45344. Can we close this issue?

[2022-05-24 16:00] #21409 closed

[2022-05-24 16:11] #45933 closed

[2022-05-24 16:11] mbolivar-nordic commented on #45933
@enthunilu please open an enhancement issue for adding USB support to this platform if you would like

[2022-05-24 16:14] mbolivar-nordic commented on #45911
@brgl could you please take a look?

[2022-05-24 16:17] mbolivar-nordic commented on #45904
@gopiotr do you think you might be able to look into this?

[2022-05-24 16:20] mbolivar-nordic commented on #45894
@enjiamai is this possibly a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/45942? Could you please close in favor of that issue if so, since it has a PR?

[2022-05-24 16:27] enjiamai commented on #45894
Hi @mbolivar-nordic  @MaureenHelm,  yes, they are the same issue which is a twister issue. It duplicates with #45942.  So I am going to close it.

By the way, the  #45929 is refer to an issue of x86, different with this one. Though it happens on the same case.

[2022-05-24 16:27] #45894 closed

[2022-05-24 16:27] carlescufi commented on #45855
@aloksethi could you please show us  your `prj.conf` with **all** stack sizes increased?

[2022-05-24 16:28] jfischer-no commented on #45938
MODBUS behavior is correct, it requires uart_configure(), there is actually nothing to improve.
Converting to "Enhancement" as serial driver configure call is not mandatory and can be resolved by implementing it for CDC ACM UART driver.

[2022-05-24 16:37] mbolivar-nordic commented on #45807
We have been looking for a civetweb maintainer for a while with no success. I am going to propose that we remove support for this module and close this issue accordingly. If anyone else steps up to maintain it, we can reassign.

[2022-05-24 16:38] mbolivar-nordic commented on #45802
@evgeniy-paltsev did you bisect this one too?

[2022-05-24 16:43] mbolivar-nordic commented on #45362
Closing for now. @mauricionh please reopen if you believe there is a bug here.

[2022-05-24 16:45] mbolivar-nordic commented on #45834
@de-nordic could you please send a docs patch?

[2022-05-24 17:34] alevkoy opened #45976 "Harmonize `DEVICE_*` and `EMUL_*` naming"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, `struct device`s are defined and accessed using macros such as `DEVICE_DT_DEFINE`, `DEVICE_DT_INST_DEFINE`, and `DEVICE_DT_NAME_GET`. Each of these create a structure based on devicetree contents. There is also `DEVICE_DEFINE`, which creates a `struct device` outside the context of the devicetree.

`struct emul`s ar

[2022-05-24 19:28] gmarull commented on #45886
@mbolivar-nordic https://github.com/zephyrproject-rtos/zephyr/pull/45888

[2022-05-24 19:40] aloksethi commented on #45855
@carlescufi  I used CONFIG_PRIVLEGED_STACK_SIZE=4096 in my prj.conf
For increasing the stack size of threads I just passed the increased size to K_THREAD_DEFINE.

Is there any other size that should have been increased?

[2022-05-24 19:43] taltenbach commented on #45866
Precisely! I expect to be able to lay hands next week on a B-U85I-IOT01 board that includes an RNG peripheral with RNG_HTCR register and CONFIGx fields. Therefore, if that's alright with you I can fix the issue next week. Otherwise, if you prefer, I should be able to do the PR earlier but in that case it would be preferable that someone ensures that the entropy driver is still working properly on

[2022-05-24 19:44] rljordan commented on #45904
Anas is out of the office for a couple of weeks and cannot own this bug as Code Freeze approaches.  I am reassigning to @gopiotr  to drive this.  Please reassign if you cannot.

[2022-05-24 20:07] rodrigopex commented on #45910
@carlescufi and others, I superficially read the #38611, and I could not find a reason other than complexity to keep the Event Manager on NCS and Zephyr with the requested changes. Was that scenario changed? Is there another reason? It seems to be a powerful tool but has its complexities.

Main differences I could catch:
- EM uses dynamic memory for messages; zbus uses only static;
- EM frees even

[2022-05-24 21:14] PerMac commented on #45846
Interesting idea. Just trying to clarify if I got it correctly: at the suite level (i.e related to the whole built application) we would get an error, but a particular testcase with failing `zassume` will be skipped from the report or get a skipped status? I am asking in terms of junit type report and its limited available statuses.
 If skipped from report, I am worried about total number of test

[2022-05-25 00:30] #43694 closed

[2022-05-25 02:20] #44108 closed

[2022-05-25 03:21] hakehuang commented on #45904
according to my test, there is no such issue, the only differences is on the pre-script, what's inside?

[code]

[code]

[2022-05-25 03:22] hakehuang commented on #45904
according to my test, there is no such issue, the only differences is on the pre-script, what's inside?

[code]

[code]

[2022-05-25 04:19] mbolivar-nordic commented on #44691
I'm closing since there has been no response. @thamilv91 please reopen this issue if you believe there is a bug here.

[2022-05-25 04:19] #44691 closed

[2022-05-25 04:39] enthunilu commented on #45933
Thank you so much @mbolivar-nordic for the quick update.
Sure, I'll raise enhancement ticket for the support.

If possible can you please share any example code or documentation on USB RNDIS support ?

Thanks!!

[2022-05-25 04:56] yperess commented on #45976
Please also include `EMUL_DT_INST_DEFINE` to match `DEVICE_DT_INST_DEFINE`

[2022-05-25 04:57] hakehuang commented on #45904
this zip file is empty

[2022-05-25 05:40] ck-telecom commented on #45910
there seems to be lots of threads if in a complicated user case, this will waste lots of time while switch threads

[2022-05-25 06:10] fkokosinski commented on #44427
@mbolivar-nordic Yes, this issue is fixed now, closing.

[2022-05-25 06:10] #44427 closed

[2022-05-25 06:12] fkokosinski commented on #44856
Closing this one as it was addressed by #45344.

[2022-05-25 06:12] #44856 closed

[2022-05-25 06:17] lainslie commented on #44822
Hi there,

Thanks for all the replies. I ended up finding the issue, and it was not a clock configuration issue, meaning the original clock config that I posted did in fact work. The issue was due to the fact that the LED Pin that was being used was also used for JTAG programming whereas I only required SWD programming.

It was fixed by adding this to my custom .dts file:

&pinctrl {
	swj-cfg = "j

[2022-05-25 06:47] ck-telecom opened #45993 "Matter(CHIP) support"
## Origin

Matter(CHIP)
https://github.com/project-chip/connectedhomeip

## Purpose

Matter(It don't matter) is an Application Layer Protocol for home IoT

## Mode of integration

module?

## Pull Request

Not yet

## Description

For now to integrate to Zephyr based project is a little hard, user
could only integrate Matter only add as External Project and it does
not make sense of much flexible

[2022-05-25 07:12] aescolar commented on #45851
Hi @corbett-cappon,
it seems what you are facing is a relatively elaborate infinite loop in the low priority thread. Note that in native_posix code itself takes no simulated time to execute, so the code executes and yields in zero time, and the kernel switches back to it immediately as the higher priority thread is not yet ready. Please take a loop here:
https://docs.zephyrproject.org/latest/board

[2022-05-25 07:15] aescolar commented on #45851
@mbolivar-nordic I removed the bug label, as this is not really a bug, but a known limitation. But I do not know what label we can apply nowadays for this.

[2022-05-25 07:21] erwango commented on #44822
@lainslie Thanks for the update. I'm closing the point

[2022-05-25 07:21] #44822 closed

[2022-05-25 07:22] Zhaoningx commented on #44062
Hi, when coverage is enabled, GCC will insert the necessary code in the source code to count the operations, which causes the usage of each stack to increase. If configuring the stack size manually by the user, the stack size will be different from other test cases, so if using the idea above to add a fixed size `COVERAGE_STACK_SIZE` value to increase stacks, it may cause stacks to be larger than

[2022-05-25 07:28] FRASTM opened #45996 "stm32F7: DCache configuration is not correctly implemented"
**Describe the bug**
On STM32F7 target, CONFIG_DCACHE is not used to control the Data Cache activation
Mainly with DMA transfer the DataCahce of the soc fas to be disabled.

Please also mention any information which could help others to understand
the problem you're facing:
 - similar to what is reported on the stm32H7 by the issue https://github.com/zephyrproject-rtos/zephyr/issues/45739

**To Re

[2022-05-25 07:39] nandojve commented on #38657
Hi @sbourdelin , yes we want but need wait next merge window to be open. Currently the project is only accepting docs and bug fixes to release next version.

BTW: This is maintained by community and everyone is invited to contribute with some functionality. Feel free to add your name side on the above list if that is the case.

[2022-05-25 07:40] chen-png commented on #45904
the detailed handler time "device 63.116s" won't be showed up when it's normal, it is only showed up when this test failed due to timeout.
so I guess **you didn't get expected "Hello World!" from console actually,** the harness.state is None, so the handler time is about the default timeout time, the test should be failed due to timeout, but **due to twister issue, if harness.state is None, it won

[2022-05-25 07:48] FRASTM commented on #45866
In order to apply the RNG configuration for the NIST certification, the conditions are about the rng_clock source, the RNG_CR register to write and loop , then immediately writing the RNG_HTCR magic nb then immediately writing the RNG_HTCR config nb.
Because the RNG NIST config can depend on the mcu, a suggestion would be to introduce a new property in the RNG DTS, named `nist_config`

[2022-05-25 07:50] de-nordic commented on #45834
Will do.

[2022-05-25 07:55] chen-png commented on #45904
this twister issue will be fixed by PR #45943

[2022-05-25 08:11] gmarull commented on #45911
FYI #46000

[2022-05-25 08:13] kborowski3 commented on #43115
Still doesn't work as expected ->
- I am enabling SPI after data are already loaded into DMA buffers
- I modified ll_func_spi_dma_busy function as you said
- I deleted extra gpio config for CS - now it is only defined in cs-gpios array

About spi configuration:
- We have two devices defined on this particular SPI bus: one is the master device and the other one is the slave device. Those devices ar

[2022-05-25 08:33] FRASTM commented on #43115
Could you please share your zephyr application for the slave.
I guess any SPI master device (not necessarily zephyr) could play that role.

[2022-05-25 08:47] CEmir10 opened #46002 "NMP timeout when i am using any mcumgr command"
I followed all the instructions from https://docs.zephyrproject.org/2.6.0/samples/subsys/mgmt/mcumgr/smp_svr/README.html. Every time i try to use mcumgr command  with nrf52840dk_nrf52840 I am getting nmp timeout error, even in case i msddisable and use -t <timeot.

crem@CHVL0365u:~/zephyrproject/zephyr/samples/subsys/mgmt/mcumgr/smp_svr$ mcumgr --conntype serial --connstring "/dev/ttyACM0,baud=115

[2022-05-25 09:09] #45883 closed

[2022-05-25 09:09] #45854 closed

[2022-05-25 09:09] #45839 closed

[2022-05-25 09:14] #45826 closed

[2022-05-25 09:39] jfischer-no commented on #35316
This should be fixed by https://github.com/zephyrproject-rtos/zephyr/pull/37503.

[2022-05-25 09:39] #35316 closed

[2022-05-25 09:40] lairdjm commented on #41874
Not seen issue in some time, closing issue and will reopen in future if it can be reproduced

[2022-05-25 10:00] jfischer-no commented on #45862
For CDC ECM, SetEthernetPacketFilter, filter bitmaps PACKET_TYPE_MULTICAST and PACKET_TYPE_BROADCAST are required but not implemented by CDC ECM function, what can be considered as a bug.

[2022-05-25 10:38] gleichdick opened #46008 "stm32h7: gptp sample does not work at all"
**Describe the bug**
Compiling and running the gPTP example does not work at all with a Nucleo H743 board.
The other PTP device is an Intel i210 with `ptp4l -4 -i eth1 -S -s` which was tested with another i210 card.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/gptp
2. west build -b nucleo_h743zi .
3. flash

**Expected behavior**
gPTP works as described in the [docs](https:/

[2022-05-25 10:45] boaks commented on #31193
I'm struggling a little at an similar issue for an module. Applying [yashi/module-sample](https://github.com/yashi/module-sample) works well, but [AutoConf.cmake](https://github.com/eclipse/tinydtls/blob/develop/AutoConf.cmake) fails ins some case, e.g. adding "check_include_file(net/socket.h HAVE_NET_SOCKET_H)" doesn't work.

Adding:

`find_package(Zephyr REQUIRED HINTS $ENV{ZEPHYR_BASE})`

resul

[2022-05-25 11:05] carlescufi commented on #43718
@aolowin would you mind trying to reproduce the issue with the PR applied before it's merged? This way we would know that this is indeed a fix for this issue.

You can check out this branch: https://github.com/hermabe/zephyr/tree/fix/meta_free from the PR.

[2022-05-25 11:13] carlescufi commented on #45314
You can use something like this:

[code]

[2022-05-25 11:15] carlescufi commented on #45314
Since the suspicion is of a stack overflow, downgrading to Low until we get more information from the reporter.

[2022-05-25 11:15] #45172 closed

[2022-05-25 12:17] erwango commented on #46008
@alsrgv Would you mind having a look ? As you're the one that pushed https://github.com/zephyrproject-rtos/zephyr/pull/40187
Thanks

[2022-05-25 12:19] #45856 closed

[2022-05-25 12:19] #45911 closed

[2022-05-25 12:20] #45948 closed

[2022-05-25 12:20] #45750 closed

[2022-05-25 12:21] #45886 closed

[2022-05-25 12:21] #45828 closed

[2022-05-25 12:28] carlescufi commented on #45993
@ck-telecom let me understand, you'd like Matter to be part of the Zephyr distribution by default by integrating it as a module upstream?

[2022-05-25 12:52] #45882 closed

[2022-05-25 12:57] #45345 closed

[2022-05-25 13:12] sylvioalves commented on #44908
@wolterhv Do you have updates?

[2022-05-25 13:28] rodrigopex commented on #45910
@lairdjm do you have a sample code using [that](https://github.com/LairdCP/zephyr_framework)? I would like to see that. thanks

[2022-05-25 13:37] lairdjm commented on #45910
There is, https://github.com/LairdCP/BLE_Gateway_Firmware though the version of framework on github and that that application uses is a bit outdated, parts have been rewritten or improved and the files are now auto-generated from all the input files using cmake functions, a snapshot of the newer version can be seen on https://github.com/lairdjm/framework_zephyr (it needs another repository for the

[2022-05-25 14:50] hunterhu3000 opened #46017 "Apply for contributor"
# Background

The [TSC Project Roles] defines the main roles for the Zephyr Project, including
Maintainer, Collaborator, and Contributor.

By default anyone that contributes code or documentation is a Contributor, but
with the lowest [GitHub Permission Level] of Read. For example, Contributors
with Read permission do not have the permission to add reviewers to a pull
request.

Use this template to

[2022-05-25 15:36] nvlsianpu opened #46020 "module/mcuboot: doesn't build with either RSA or ECISE-X25519 image encryption"
zephyr/mcuboot fork is affected by issues:
https://github.com/mcu-tools/mcuboot/pull/1357
https://github.com/mcu-tools/mcuboot/pull/1358

zephyr-rtos revision 3.1.0-rc2

[2022-05-25 16:34] enjiamai commented on #45929
According to description, on up_squared, when CONFIG_UART_CONSOLE is unset (use the EFI console only), in this test_posix_rw_lock() test case, it will stuck in the scheduler during the usleep(1000ns) call. If we change all the to usleep < 999us (That means k_busy_wait 999us)  or just simply use k_yield() instead of all usleep(). It won't stuck.

So far I have no idea why unset the CONFIG_UART_CONS

[2022-05-25 17:17] stephanosio commented on #45932
@yonsch The particular test that fails is `tests/subsys/logging/log_syst/logging.log_syst.mipi_syst`:
https://github.com/zephyrproject-rtos/zephyr/blob/25e6279493d673ec76ef5cb72bbfb0b651274144/tests/subsys/logging/log_syst/testcase.yaml#L2-L17

You can reproduce by running:
[code]

[2022-05-25 17:18] mbolivar-nordic commented on #16205
I'm going to close this as WONTFIX. As time has passed, it's become more and more clear that the west runners need the extra context in a build directory to do their work. I think flashing arbitrary binary files without a build directory (as opposed to overriding some artifacts with e.g. `west flash -r nrfjprog --hex-file somethingelse.hex`) is out of scope for this package.

[2022-05-25 17:18] #16205 closed

[2022-05-25 17:18] mbolivar-nordic commented on #8481
@anangl I think this one is finally done, right?

[2022-05-25 17:23] mbolivar-nordic commented on #16406
We now have --dev-id and --erase options, which individual runners can choose to support or not, but which are standardized across all runners using the RunnerCaps mechanism:

https://github.com/zephyrproject-rtos/zephyr/blob/25e6279493d673ec76ef5cb72bbfb0b651274144/scripts/west_commands/runners/core.py#L199

[2022-05-25 17:23] #16406 closed

[2022-05-25 17:49] stephanosio opened #46023 "drivers: reset: Use of reserved identifier `assert`"
**Describe the bug**

The reset controller driver header file makes use of the identifier `assert`, which is reserved by the C standard and should not be defined outside the C library:

https://github.com/zephyrproject-rtos/zephyr/blob/25e6279493d673ec76ef5cb72bbfb0b651274144/include/zephyr/drivers/reset.h#L140

This causes a conflict with the newlib `assert.h` header, which defines the `assert` m

[2022-05-25 17:49] stephanosio commented on #46023
FYI @andrei-edward-popa

[2022-05-25 17:51] mbolivar-nordic commented on #23691
A status update as we head into v3.1: we have `foo_dt_spec` structures for the following cases, which overlaps somewhat with the above list.

- gpio: added in https://github.com/zephyrproject-rtos/zephyr/pull/32805
- adc: added in https://github.com/zephyrproject-rtos/zephyr/pull/43030 (not exactly `io-channels`, but more generally related to configuring ADC channels in DT)
- pwm: added in https:/

[2022-05-25 17:52] anangl commented on #8481
Yes, it is resolved by #44276.

[2022-05-25 17:52] #8481 closed

[2022-05-25 18:20] #45916 closed

[2022-05-25 18:23] mbolivar-nordic commented on #45933
@sylvioalves

[2022-05-25 18:28] ppryga opened #46026 "Bluetooth: Controller: llcp: Wrong effective time calculation if PHY changed"
**Describe the bug**
If there is a PHY change on a connection it may happen that effective
RX and TX time changes also. That change is applied after an instant.

Implemented handling of effective time calculation is based on the
maximum PDU length, new PHY and local (default) maximum TX or RX time.

The maximum TX value is set to default one that corresponds to PHY 1M
during the Controller initial

[2022-05-25 18:40] rodrigopex commented on #45910
@stephanosio change the prefix from `zb_` to `zbus_` at the code. It seems to be better. Thank you.

[2022-05-25 18:47] andrei-edward-popa commented on #46023
Hi! I understand the issue, but if you include assert.h after drivers/reset.h the code compiles because the assert name is not replaced by the assert define. If it is necessary, I can change assert and deassert into something else. @gmarull What do you think?

[2022-05-25 19:03] fabiobaltieri commented on #46023
For context, the problem would appear with a reset driver (there's only `reset_rpi_pico.c` for now) and `CONFIG_NEWLIB_LIBC=y`. For example `west build -p -b rpi_pico samples/basic/blinky -DCONFIG_NEWLIB_LIBC=y` fails.

[2022-05-25 19:25] rodrigopex commented on #45910
I have updated the **Example of use** section with a more realistic example. I hope it helps.

[2022-05-25 19:26] andrei-edward-popa commented on #46023
Oh, it is clear for me now. I have 2 options to fix this: to change the name from assert and deassert to something else (I am open to any suggestions for this), or to insert "#undef assert" into include/zephyr/reset.h. @carlocaione What do you think?

[2022-05-25 19:46] #45735 closed

[2022-05-25 20:04] fabiobaltieri opened #46027 "tests: rpi_pico tests fails on twister with: No rule to make target 'bootloader/boot_stage2.S"
**Describe the bug**
rpi_pico tests don't seem to be building correctly and fail with
[code]

**To Reproduce**
./scripts/twister -p rpi_pico -v -n -M -T samples/basic/blinky/

Test fails to build with the error above.

**Expected behavior**
Test passes

**Impact**
Blocks CI build whenever a test or sample is built against rpi_pico

**Logs and console output**
[code]

**Environment (please complete

[2022-05-25 20:07] fabiobaltieri commented on #46027
@yonsch you mentioned `second_stage_bootloader` on discord and that twister should not build it, I ran this while troubleshooting the assert problem and after fixing that (with an `#undef` of the macro) it hits this issue. I think twister is still trying to build it.

[2022-05-25 20:08] rodrigopex commented on #45910
@zycz would you mind verifying if what I wrote in the comparison table (**Alternatives** section of RFC) regarding the Event Manager is true/correct?

@lairdjm @stephanosio guys could you please summarize the features of your implementations taking the `Comparison item` as a template? I would add that to the table. Thank you very much.

[2022-05-25 20:08] fabiobaltieri commented on #45932
Hacking an `#undef` into the code still does not fix the build for an unrelated issue related to the pico second stage bootloader, opened #46027 for it.

[2022-05-25 20:23] danieldegrasse commented on #45893
@danie007 try building with `-DCONFIG_BOOT_SIGNATURE_TYPE_RSA_LEN=3072`. I reproduced this issue on an RT1060, and that Kconfig option allowed authentication to proceed for me

[2022-05-25 20:25] aaronemassey commented on #45846
So it's been a while since I've worked that in detail with JUnit reports. After a bit of hunting I did find [https://llg.cubic.org/docs/junit/](https://llg.cubic.org/docs/junit/), which describes how a skip would be reported as a tag, similarly to a failure tag.

That being said, for exact details on how this will be reported in an xml file from twister I'll link a PR that fixes this issue here an

[2022-05-25 20:36] #45443 closed

[2022-05-25 20:51] mbolivar-nordic commented on #45851
@aescolar if this is a documented limitation, I think we can close this.

@corbett-cappon if you want to open a separate enhancement issue to get this fixed, feel free, but since this is not a bug, I'd like to close out the issue for now.

[2022-05-25 20:51] #45851 closed

[2022-05-25 20:51] #45834 closed

[2022-05-25 20:56] #44535 closed

[2022-05-25 20:57] fabiobaltieri commented on #46027
Seems to only happen with CMake using Makefiles, so for examples:

`west build -p -b rpi_pico samples/basic/blinky -G"Unix Makefiles"`

fails, but

`west build -p -b rpi_pico samples/basic/blinky`

works. The CI twister setup uses ninja by default so it should work there but both setup should work.

[2022-05-25 21:08] fabiobaltieri commented on #46023
@stephanosio mentioned on Discord that this API was never part of a release, so it should be ok to modify without going through the API change process. Guess if we want to change it (I say it's the right thing to do) we should do it before v3.1 gets cut.

Not sure about the naming... set/unset?

[2022-05-25 21:16] danieldegrasse commented on #45774
@albertofloyd based off the description here I've updated the pca95xx driver to no longer unconditionally write to the output configuration register, and only do so if the pin is configured as an output. However, I do not have hardware to verify this change with. Could you test the linked PR #46028, and verify that you no longer see the unnecessary register write?

[2022-05-25 21:45] d3zd3z commented on #45241
I've cleaned up the branches in mcuboot.

[2022-05-26 00:36] alsrgv commented on #46008
I'm traveling next two weeks without access to STM dev kit, but I'll take a look week of 6/6.

[2022-05-26 04:09] stephanosio commented on #46023
That is going to be problematic if there is anything after the inclusion of `reset.h` that actually makes use of the `assert` macro from the `assert.h`.

That would be the most viable solution in my opinion; though, it might be feasible to keep the assert/deassert nomenclature and simply prefix (or suffix) it (e.g. `line_assert` and same for `line_deassert` for the sake of consistency).

cc @carle

[2022-05-26 05:01] ck-telecom commented on #45993
Yes, But not sure, the build system is not same with Zephyr, I think it is worth talking about this topic.

[2022-05-26 06:01] stephanosio opened #46032 "Enforce C99 inttypes usage"
**Is your enhancement proposal related to a problem? Please describe.**

Zephyr currently overrides the toolchain default C99 integer types (`[u]intN_t`) to fixed types such that `int32_t` can always be processed without a size modifier, and `int64_t` with `ll` size modifier.

This "hack," introduced in #16645, has caused various toolchain compatibility issues (e.g. https://github.com/zephyrprojec

[2022-05-26 06:02] stephanosio commented on #46032
cc @npitre @dcpleung @carlescufi

[2022-05-26 06:03] stephanosio commented on #45248
Closing in favour of https://github.com/zephyrproject-rtos/zephyr/issues/46032, which provides the implementation plan for this.

[2022-05-26 06:03] #45248 closed

[2022-05-26 06:04] stephanosio commented on #45776
cc @keith-packard

[2022-05-26 06:20] Zhaoningx opened #46033 "twister: incorrect display of test results"
**Describe the bug**
When I used `twister` to run a test case(such as tests/kernel/queue), the test case `tests/kernel/queue` should be able to test on the frdm_k64f platform, but the output is incorrect. The details as below:
[code]

As you can see, the test case queue is passed, but the INFO log above showed
`INFO    - 0 test configurations executed on platforms, 1 test configurations were only

[2022-05-26 06:40] carlocaione commented on #46023
Fine to me the name change and the `line_{assert,deassert}` proposal

[2022-05-26 06:58] lairdjm commented on #45910
@rodrigopex Sure:

Metaphor:
Message definition time: Compile time, though a custom message could be created dynamically but the receivers would need to know how to parse the struct
Message definition approach: Multiple files, usually one per module, all combined into an auto-generated output file by cmake
Message persistency: Cleaned up if DISPATCH_OK is returned by handler, otherwise remains
Mes

[2022-05-26 07:15] andrei-edward-popa commented on #46023
Cool, I will do a PR today with those changes.

[2022-05-26 08:09] CV-Bowen opened #46034 "subsys settings: should check the return value of function cs->cs_itf->csi_load(cs, &arg)."
**Is your enhancement proposal related to a problem? Please describe.**
I see the return value of function `cs->cs_itf->csi_load(cs, &arg)` was ignored in function `settings_load_subtree()` and `settings_load_subtree_direct()`, i think the return value should be processed instead ignored.

**Describe the solution you'd like**
If the `csi_load()` failed, a error number should be returned.

[2022-05-26 08:16] gopiotr commented on #45904
As @hakehuang mentioned in this PR: https://github.com/zephyrproject-rtos/zephyr/pull/45943, this issue has two source of problem. First one is wrong Twister test marking - due to the timeout it should be marked as fail/error - this will be fixed by this  PR: https://github.com/zephyrproject-rtos/zephyr/pull/45943. Second one is a problem with board or hardware configuration - from some reasons `h

[2022-05-26 09:07] danie007 commented on #45893
Thanks @danieldegrasse we're able to successfully build and authenticate with the `CONFIG_BOOT_SIGNATURE_TYPE_RSA_LEN=3072` line added in `prj.conf` file.

[2022-05-26 09:07] #45893 closed

[2022-05-26 09:13] sam131208 opened #46037 "ESP32 : fails to build the mcuboot, zephyr v3.1.0 rc2, sdk 0.14.2"
**Describe the bug**
Fails to build the mcuboot with sdk0.14.2.

**Logs and console output**
B250M-D3H:~/zephyrproject/bootloader/mcuboot/boot/espressif$ cmake -DCMAKE_TOOLCHAIN_FILE=tools/toolchain-esp32.cmake -DMCUBOOT_TARGET=esp32 -DMCUBOOT_FLASH_PORT=/dev/ttyUSB0 -B build -GNinja
CMake Error at /usr/share/cmake-3.23/Modules/CMakeDetermineSystem.cmake:130 (message):
  Could not find toolchain f

[2022-05-26 09:16] stephanosio commented on #44948
will fix this after https://github.com/zephyrproject-rtos/zephyr/issues/45319 by replacing `mps2_an521_remote` with `mps2_an386`.

[2022-05-26 09:18] de-nordic opened #46038 "mgmt/mcumgr/lib: Deperecate CONFIG_IMG_MGMT_DUMMY_HDR"
**Is your enhancement proposal related to a problem? Please describe.**
Not really useful for testing as the bogus image header could have just be written to a flash device.
This makes `img_mgmt_read_info` return always the same, constant, header regardless of number of images/slots available; not very useful as it does not really allow to check behavior of the `image list` (as an only client for

[2022-05-26 09:39] #45942 closed

[2022-05-26 09:39] #45904 closed

[2022-05-26 09:59] tgorochowik commented on #45807
What @rlubos suggests is a valid workaround and should make civetweb build properly, there is a ways to disable posix APIs in Zephyr so there are no conflicts regarding pthreads, the problem here is that `WIFI_SIMPLELINK` requires both newlibc and Zephyr posix APIs (both provide pthreads) - it probably needs those APIs for other  reasons than actual pthreads but this is what causes the conflict an

[2022-05-26 11:05] enthunilu opened #46044 "ESP32: Web USB support request"
**Is your enhancement proposal related to a problem? Please describe.**
I was trying to build webusb sample code for my esp32 dev kit.
https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/subsys/usb/webusb

I was using below command,
west build -p auto -b esp_wrover_kit samples/subsys/usb/webusb

while execution I am getting linking error for usb API's as mentioned in below ticket
https:

[2022-05-26 11:28] sylvioalves commented on #46037
@sam131208 It is necessary to follow all the steps to allow mcuboot building:
https://github.com/mcu-tools/mcuboot/blob/main/docs/readme-espressif.md#installing-requirements-and-dependencies

Would you retry?

Thanks.

[2022-05-26 11:46] stephanosio commented on #32885
Related to https://github.com/zephyrproject-rtos/zephyr/issues/43636

[2022-05-26 11:47] stephanosio commented on #43636
Related to https://github.com/zephyrproject-rtos/zephyr/issues/32885

[2022-05-26 12:02] awojasinski-nordicsemi opened #46048 "Use dts memory-region property to retrieve memory region used by driver"
**Is your enhancement proposal related to a problem? Please describe.**
Since the introduction of the zephyr,memory-region compatible to create new
memory region, drivers can now use the newly defined region in the DT by using
the macro LINKER_DT_NODE_REGION_NAME() on the node_id to retrieve the region
name and possibly allocated data or variables in that region (or for whatever
other use). This i

[2022-05-26 13:30] sappigeninja opened #46049 "Usage faults on semaphore usage in driver (stm32l1)"
Me and my team of students are working on a driver for an Ublox SARA N310.
We are planning on merging this driver into Zephyr when the driver is complete.

We currently have a critical issue where a semaphore causes a usage fault deep into Zephyr itself.
When we use a response semaphore for the `modem_cmd_send()` function it gives a usage fault.
We call this function via a wrapper function called

[2022-05-26 13:31] zycz commented on #45910
It is worth mentioning that App Event manager provides mechanism for adding extensions. There is a hook list to which you can add your own functionality.  You can see examples how it is done in NCS app_event_manager_profiler_tracer or event_manager_proxy. Profiler was created to visualize event propagation in time and proxy allows to export events between cores.

Only small changes in what @rodrig

[2022-05-26 13:49] #45855 closed

[2022-05-26 13:52] sylvioalves commented on #46044
@enthunilu This sample requires some USB support to work. However, there is no support for ESP32. In fact, ESP32 has no USB port. So you would need to work with ESP32SS/S3/C3 when/if USB support is implemented.

[2022-05-26 13:54] sylvioalves commented on #46044
Sorry, I should not have closed this.

[2022-05-26 13:56] rlubos commented on #45844
I was able to reproduce the issue with `qemu_x86`, after modifying `slip` driver to randomly drop packets. However from the observations I've made, I'm not really convinced it's a Zephyr issue, let me elaborate.

With 10% received packet drop the download seemed still stable, it was sluggish due to retransmissions, it did not fail though. After increasing the packet drop to 20% I've observed two p

[2022-05-26 14:06] hakehuang commented on #45802
https://github.com/zephyrproject-rtos/zephyr/pull/45943 maybe this can fix your issue

[2022-05-26 14:09] enthunilu commented on #45933
Hello @sylvioalves ,
Sorry, I missed to update.
I am not expecting example code or documentation for ESP32 device. Any device supporting example code or documentation will be very helpful.

[2022-05-26 14:29] #46026 closed

[2022-05-26 14:31] carlescufi commented on #46033
CC @enjiamai @chen-png @gopiotr @hakehuang @LixinGuoX

[2022-05-26 14:32] de-nordic commented on #44871
The issue with the loop has been fixed with https://github.com/zephyrproject-rtos/zephyr/pull/43868, closing.
@maximevince  Please re-open if you do not agree.

[2022-05-26 14:32] #44871 closed

[2022-05-26 15:31] andyross commented on #46032
Just to record for posterity: I hate the ISO `PRI*` macro nonsense with a fiery passion.  It's ridiculous-looking and hard to read, it takes a perfectly working API with perfectly working error reporting and introduces line noise syntax **not** for correctness[1], but for portability.  And that's just the Wrong Thing.  Let code manage the build problems that result, if there are platform-dependent

[2022-05-26 15:37] rodrigopex commented on #45910
@lairdjm Could you please check the text and clarify the marked points (with **???**) in your column? Try to normalize with the other cells in the table.

@zycz the adjustments were made, can you please double-check that?

Thank you, guys.

[2022-05-26 15:37] carlescufi commented on #46049
Can you please double all stack sizes and try again? You can find all stacks by looking for `_STACK_SIZE` in `build/zephyr/.config`

[2022-05-26 15:46] stephanosio commented on #46032
Because they use their own type system? (`u32`, ...)

We can go back to doing that again; but, as long as we are using the C99 integer types, we will have to use the corresponding C99 integer type format specifiers too.

[2022-05-26 15:57] npitre commented on #46032
C99 integer types aren't the problem.  The basic types to which they're
mapped is. Make int32_t onto an int and int64_t onto a long long at the
toolchain level and you'll be fine. That's trivial to accomplish there.
The alternative is way more painful and far more work for everyone.

[2022-05-26 15:57] andyross commented on #46032
Or we can commit a silly hack that we've been living with just fine.  I mean, I get that clang picked some different defaults (or whatever, I'm no expert on the linked bug), but we already have a toolchain abstraction where we could synchronize this.

It's **far** simpler for us to have a layer that manages some platform-specific typedefs than it is to inflict this weird non-C/non-printf alien syn

[2022-05-26 15:59] stephanosio commented on #46032
Yes, and that is allowed by the C standard -- that is the real problem. As long as that is allowed, we will have to use the proper abstraction provided by the standard.

toolchain level and you'll be fine. That's trivial to accomplish there.

For the GNU toolchains and maybe Clang, yes; for others like Arm Compiler, IAR, and whatever we add support for in the future, likely not.

[2022-05-26 16:05] stephanosio commented on #46032
I have been saying we cannot do that as I noted above "`__INT32_TYPE__` and its friends defined by zephyr_stdint.h are non-standard and the toolchain default C library is not obliged to set up the type system using these."

For GCC, yes; for others, not really.

Because it is a part of the C99 standard. As I said above, "it is as simple as, if you want to use C99 integer types (int32_t, ...), you

[2022-05-26 16:07] stephanosio commented on #46032
If you are really unhappy with this, we can consider going back to the days of `u32_t` and its friends, but we have had plenty of problems with that too.

I will emphasise again: "it is as simple as, if you want to use C99 integer types (int32_t, ...), you will have to use the corresponding C99 integer type format specifier macros (PRId32, ...) too."

[2022-05-26 16:08] andyross commented on #46032
Right, so just make our headers produce the same types as the toolchain/platform expects (again, we already have a framework for doing this).  That fixes the build errors, and leaves the portability issue as a task for the developer, which is where it should be anyway.

[2022-05-26 16:08] npitre commented on #46032
Do we really have to support all compilers under the sun?

If so, shouldn't we try to ask them to create a "Zephyr" mode first?

This is typically defined in a single header file therefore very easy to do.

[2022-05-26 16:09] dcpleung opened #46056 "`unexpected eof` with twister running `tests/subsys/logging/log_api/logging.log2_api_immediate_printk_cpp` on `qemu_leon3`"
**Describe the bug**
When running twister during testing `tests/subsys/logging/log_api/logging.log2_api_immediate_printk_cpp` on `qemu_leon3`, it reports `unexpected eof` even though the tests reported successful. This results in twister reporting the test being failed.

When running it using `west build`, QEMU quits immediately after printing `PROJECT EXECUTION SUCCESSFUL` instead of just waiting

[2022-05-26 16:12] stephanosio commented on #46032
That may not be feasible for all compilers. Some compilers may not even have something like `__INT32_TYPE__` which we can use to override the compiler-default C library-defined C99 fixed-width types.

Maybe not "all compilers," but we are committed to supporting multiple toolchains.

Ideally, yes; but, not everything is ideal in real life ...

[2022-05-26 16:31] stephanosio commented on #46032
As a side note, if we, as project, want to introduce a non-standard string formatting syntax (and that is probably warranted, if I may add), we can; but, that is a whole another issue and does not change the fact that the use of standard C functions need to comply with the C standard.

[2022-05-26 16:34] stephanosio commented on #46032
complete abomination.

That is indeed an abomination. But for `int64_t`, it may very well be `long` or `long long` depending on whom you ask.

[2022-05-26 16:39] npitre commented on #46032
It is possible for the toolchain to be stricter in its type association
and still be within the C standard.

[2022-05-26 16:55] stephanosio commented on #46032
I am inclined to argue that something like below is not C99-compliant and is indeed wrong:

[code]

`int32_t` is only meant to be printed out using the corresponding C99 format specifier macro, which is `PRI{d,i,o}32` and that is how it ought to be in order to be fully portable.

At least, for `printf`, which is a standard C function, I strongly believe that is how it needs to be handled.

For oth

[2022-05-26 18:34] keith-packard commented on #46032
(I don't think anyone *likes* the C99 format specifiers; I wish they had just added more size prefixes to the printf spec instead)

Does zephyr support any platforms for which

 * sizeof(int) != 4
 * sizeof(long long) != 8

If not, then we could use %d for int32_t and %lld for int64_t. Unfortunately, this can *still* generate warnings on platforms for which sizeof(long) == 4 and int32_t is a typed

[2022-05-26 18:45] keith-packard commented on #45776
Picolibc has an extensive internal test suite which started with the newlib test suite, has had numerous fixes applied and then extensions to validate newer standards versions. It could be made usable on non-picolibc targets. I've also hacked up the [glibc source code to build against picolibc](https://github.com/picolibc/glibc/tree/picolibc-testing). That latter is all GPL, of course. Would it be

[2022-05-26 19:09] npitre commented on #46032
@keith-packard wrote:

No.

That's what we do already.

Furthermore, there are 32-bit architectures that mapped int32_t to a long
or intptr_t to an int. For those the following commit was created:

https://github.com/zephyrproject-rtos/zephyr/commit/f32330b22c33

Some people like to call it a hack, but one that has worked remarcably
well so far. I prefer to call it sanity enforcement.

Then there

[2022-05-26 19:49] aolowin commented on #43718
I've tested https://github.com/zephyrproject-rtos/zephyr/pull/45682 and it does seem to fix the issue. By keeping the peripheral at the edge of the RF range I was able to force numerous disconnect/reconnect cycles and the peripheral was always able to recover.

There were a few warnings:
[code]
but no errors.

[2022-05-26 20:02] #45932 closed

[2022-05-26 20:02] #46023 closed

[2022-05-26 20:02] #45337 closed

[2022-05-26 20:21] rerickson1 opened #46059 "LwM2M: Software management URI resource not updated properly"
**Describe the bug**
When writing the URI resource from the server, the resource is never updated and it kicks off a firmware download with a NULL URI string.

**To Reproduce**
Run a LwM2M sample that uses object 9. Try writing the URI to kick off a download.

**Expected behavior**
URI value should be written with no special user app interaction.

[2022-05-26 20:39] #42857 closed

[2022-05-26 20:40] mbolivar-nordic commented on #45802
@evgeniy-paltsev if you can please confirm this and close this issue, the bug statistics would be grateful :)

[2022-05-26 21:31] fabiobaltieri commented on #36571
Hey I think we can call this done.

[2022-05-26 21:31] #36571 closed

[2022-05-26 22:11] #45593 closed

[2022-05-27 00:10] stephanosio commented on #46032
For C99 and on, we can cast everything to `intmax_t` and use `%jd`; but, these casts are ugly and also there are footprint and performance implications of doing so on resource constrained embedded targets, so we are probably better off using the `PRIxN` macros in this case.

well so far.

I beg to differ. I have been fixing various issues around this until now -- some fixable and others not.

Let

[2022-05-27 00:27] stephanosio commented on #46032
@nordic-krch FYI

[2022-05-27 00:29] stephanosio commented on #46032
I have renamed the issue to reflect the scope of this proposal more clearly:

[2022-05-27 01:48] npitre commented on #46032
Can this scheme work with the format attribute for the compiler to
validate the argument type against the format string? That's an
important tool, and the warnings it generates is actually the very
reason why we are overriding integer types in the first place.

If "%I32" cannot be validated at compile time with the format attribute
then we could just drop the __printf_like from printk() and friend

[2022-05-27 02:35] keith-packard commented on #46032
I think all this would require is explicit (int) casts for all int32_t printf parameters and things would work fine. Otherwise, silly systems where sizeof(int) == sizeof(long) but which typedef int32_t as long instead of int will generate compiler warnings. We could also create a zephyr/stdint.h which #include's stdint.h and then makes sure int32_t is 'int' and not 'long'.

[2022-05-27 02:46] stephanosio commented on #46032
validate the argument type against the format string?

Obviously, the format checking for `%Nx` is not going to work in the vanilla GCC because it is not standard and GCC supports no such thing, but we can relatively easily add support for these in the Zephyr GCC fork used to build the Zephyr SDK.

The parameter checking is handled here:
https://github.com/gcc-mirror/gcc/blob/b2cb88fb45a68fc91bda1

[2022-05-27 02:56] stephanosio commented on #46032
That would be the simplest solution indeed, but that cast sounds like as much of an abomination as the `PRIxN` macro to me; I would like to hear what others think of this approach.

That is sort of what we are doing at the moment:
https://github.com/zephyrproject-rtos/zephyr/blob/735ddeb4a8e26c6ce07d6aa5a0b77fffc559b2a8/include/zephyr/toolchain/zephyr_stdint.h#L23-L47

`zephyr_stdint.h` gets globa

[2022-05-27 03:03] stephanosio commented on #46032
Just as a reminder, the goal of this proposal is to ensure portability.

If we are only going to support GCC and Clang, we might as well keep the status quo; but, that is not the direction we are headed unfortunately (at least, from the TSC/Toolchain WG perspective) and we need C standard conformance in order to fundamentally ensure the compatibility with other compilers.

[2022-05-27 04:00] keith-packard commented on #46032
hrm. I don't see a huge conflict here with creating a zephyr_stdint.h that insists that int32_t be 'int' and not 'long' (for ILP32 ABIs). Code which uses zephyr_stdint.h can use %d while code that uses bare stdint.h would need to use PRId32. That is about the only difference visible to applications.

[2022-05-27 04:02] keith-packard commented on #46032
That's a much bigger hammer than I think we need -- all we really need is for int32_t to be 'int' and not 'long' so that printf can use %d instead of %ld. Everything else can use the regular stdint.h defines, I think.

[2022-05-27 04:02] stephanosio commented on #46032
The problem is that they are the same code.

[2022-05-27 04:06] keith-packard commented on #46032
I'm hoping to see the duplicate format scanning code in cbprintf and printk replaced by calls to printf. Having a well-tested and POSIX-compliant formatted output implementation seems like a good way to save code, developer pain and long-term support costs.   [lib/os: Use picolibc printf as a replacement for printk](https://github.com/zephyrproject-rtos/zephyr/pull/44096/commits/10d6ce57f65c55fda7

[2022-05-27 04:44] npitre commented on #46032
Won't happen.

Just look at the binary size inflation you'll get from standard libc printf.
Don't forget that size matters here. Otherwise you may as well just use Linux.

[2022-05-27 04:54] npitre commented on #46032
Sure.

Indeed. And in practice they aren't all the time either. Hence the override.

But if they're the same _size_ then it doesn't matter that much. And in
practice they always are so far.

I'll experiment with the idea I just proposed and report back. That
should provide both portability and very minimal code change. If that
doesn't work then very little would be wasted.

[2022-05-27 04:58] stephanosio commented on #46032
@keith-packard Since we have not evaluated the picolibc `printf` in comparison to the Zephyr `cbprintf`, it might be worth looking into. Let us continue this discussion in the picolibc PR later (after 3.1 release). FYI, the rationale behind the cbprintf is described in https://github.com/zephyrproject-rtos/zephyr/commit/33103828dc2f48aecda932f38f4f4198213f7efc.

[2022-05-27 06:11] stephanosio commented on #46032
Sure, but that leaves a bad taste in my mouth.

Fortunately (I guess ...), Zephyr does not support any 16-bit targets, in which 16-bit `int` is very common.

Just to be pedantic, if we ever need to support a 32-bit target with I16LP32 data model (not unheard of), this will be problematic -- though, given the current trend, that is probably not going to happen in the foreseeable future (but who kno

[2022-05-27 06:46] lairdjm commented on #45910
@rodrigopex Looks good! Additions:

[2022-05-27 07:39] zycz commented on #45910
Everything looks ok :)

[2022-05-27 08:08] kruithofa opened #46065 "Bluetooth: controller: llcp: verify that refactored LLCP is used in EDTT"
**Is your enhancement proposal related to a problem? Please describe.**
There is some confusion on whether we are using refactored LLCP in EDTT tests. This needs verification

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've co

[2022-05-27 08:11] hunterhu3000 opened #46066 "TF-M: Unable to trigger NMI interrupt from non-secure"
**Describe the bug**
When testing the case of "tests/arch/arm/arm_runtime_nmi/", the nmi_test_isr should be triggered and the log "NMI received (test_handler_isr)! Rebooting...\n" should be seen on the terminal. The test looks good for all other boards(including mps2_an521) except mps2_an521_ns (run on QEMU).

Please also mention any information which could help others to understand
the problem yo

[2022-05-27 08:46] DMotocus commented on #19244
I've been trying to find out what is the best way to confirm the probability of character and the extremely unlikely king's taster theory. I'm speaking of PPE associated with work and the belligerent fraud of network service provider data previously not a issue. My low end hotspot is capable of 400mbps but lowered to 0.5 mbps about the speed of dial up. The big money is in digital download games t

[2022-05-27 09:02] smrtos commented on #45802
Should be the same as https://github.com/zephyrproject-rtos/zephyr/issues/46033
Looking into it.

[2022-05-27 09:21] jeronimoagullo opened #46072 "[ESP32] Debug log error in hawkbit example "CONFIG_LOG_STRDUP_MAX_STRING""
**Describe the bug**
I am bulding the hawkbit example from `zephyr\samples\subsys\mgmt\hawkbit-esp32`.
A fatal error arises when the log level is set as DEBUG `CONFIG_HAWKBIT_LOG_LEVEL_DBG=y`. The error is caused due to the `log_strdup` functions. If I build with info log level `CONFIG_HAWKBIT_LOG_LEVEL_INF`, it works.

**To Reproduce**
Steps to reproduce the behavior:
1. my `prj.conf` file for es

[2022-05-27 10:17] jmrua opened #46073 "IPSP (IPv6 over BLE) example stop working after a short time"
**Describe the bug**
IPSP example after connection crashes after a few exchanged packets. Similar to #5289

**Platform**
- Zephyr Target
  - Nordic nRF52840
  - Zephyr OS build v3.1.0-rc2-113-g449516c1359f
- Host
  - Linux Kernel  5.17.9

**To Reproduce**
1. Flash the target with the master branch IPSP example
2. Execute the following commands with root privileges on Linux host:
[code]
3. execute

[2022-05-27 10:26] #46033 closed

[2022-05-27 11:06] carlescufi commented on #43718
Thanks for testing. Could you make sure that these warnings do not prevent the stack from sending data once buffers are available again? i.e. this is a recoverable warning that doesn't require rebooting any of the Zephyr-based devices.

[2022-05-27 11:08] sebachm94 opened #46075 "BT HCI Raw on STM32WB55RG"
**Describe the bug**
Hi,
I need to do some Direct Test Mode for BT and I tried to build Zephyr hci_raw module to run one of prepared example from Zephyr: /zephyr/samples/bluetooth/hci_uart/.
It seems that there are some kind of dependencies and it's impossible to build HCI_Raw on STM32WB55RG.
I used sources and configuration from example and tried to build it, but it failed while linking, due to u

[2022-05-27 11:18] hermabe commented on #43718
I think these warnings are fine. The buffer itself is freed after it is sent to the controller, but the metadata is not freed until the callbacks are called after receiving the num_complete event from the controller. The allocation of the buffer blocks, but the allocation of the metadata does not, so if no metadata could be allocated the warning is printed and `-ENOMEM` is returned by the GATT API

[2022-05-27 11:54] aolowin commented on #43718
I can confirm that the central_hr was able to receive notifications from the peripheral_hr once connected - regardless of whether the warnings occurred. No reboots required.

[2022-05-27 12:18] alexsven opened #46079 "LE Audio: Use bt_codec_data data and size_t data_count in codec.c"
**Is your enhancement proposal related to a problem? Please describe.**
When receiving a base in broadcast samples I want to be able to use the functions described in codec.c to get codec information like frequency, frame_duration etc, but the functions there all require bt_codec to be sent. As far I've seen, the bt_codec is not necessarily populated for a given subgroup, only the bis_data is.

**

[2022-05-27 14:16] rodrigopex commented on #45910
@lairdjm it seems to be asynchronous, right? If it uses message queues to transmit the data, the thread (subscriber/listener/receiver/consumer/whatever :smile:) would choose when read that, right?

[2022-05-27 14:26] rftafas commented on #46044
Just to note that ESP32-C3 contains only an USB to Serial converter. It is not a general USB peripheral/host controller and the RTOS running on C3 should expect it as another serial channel.

[2022-05-27 14:50] rodrigopex commented on #45702
@OmarMorceli sorry for the delay.

You would add a channel for each thread you want to monitor. Take a look at the [sample](https://github.com/zephyrproject-rtos/zephyr/blob/zephyr-v2.7.2/samples/subsys/task_wdt/src/main.c).

At a point of the code, you are sure will be reached before the timeout of the channel.

The `task watchdog` is a regular thread, so it could get stuck as well. To avoid that

[2022-05-27 15:16] npitre commented on #46032
It'd better preserve the ilp32 model to minimize the pain on developers.
Especially since a short is already widely used as a 16-bit quantity.
On such architectures it is often the char type becoming 16 bits.

In any case, let's not over-engineer things unless necessary. Designing
for hypothetical cases often turns out to be wasted efforts if such
cases never materialize and the added cost will re

[2022-05-27 15:39] bgreggsmith commented on #43655
@omikronlambda sadly not, its been a blocker for me for a while now, so I'm probably going to have to spend more hours than I'd like figuring out where to even start since I've not had any hints either :(

[2022-05-27 15:50] sylvioalves commented on #43655
@omikronlambda I could figure that out yet. I have been updating hal layer to bring the latest modifications and check if it solves it.

[2022-05-27 16:15] keith-packard commented on #46032
I'm not sure you understood my suggestion. The *only* issue with using %d for int32_t is on ILP32 platforms where the typedef for int32_t is 'long' instead of 'int' in that it will generate compiler warnings. If the file using %d with int32_t values had used zephyr_stdint instead of stdint, then the int32_t typedef would be mapped to 'int' and no warning would be generated.

Pulling in existing co

[2022-05-27 16:25] npitre commented on #46032
Note that we already funnel various APIs through the cbprintf
implementation, so no duplication.

And then we have 2 such implementations: the full fledged and a tiny
barebone one.

Duplication comes about only if an external stdio library is used.

[2022-05-27 18:46] mbolivar-nordic commented on #46056
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/46082

[2022-05-27 18:46] #46056 closed

[2022-05-27 18:55] #45783 closed

[2022-05-27 18:58] #46027 closed

[2022-05-27 22:19] zephyrbot opened #46088 "[backport v2.7-branch] backport of #44102 failed"
This issue was created automatically because the backport of #44102 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-44102-to-v2.7-branch`.

[2022-05-27 22:19] zephyrbot opened #46089 "[backport v3.0-branch] backport of #44102 failed"
This issue was created automatically because the backport of #44102 to `v3.0-branch` failed.

The backport to `v3.0-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.0-branch` and the `compare`/`head` branch is `backport-44102-to-v3.0-branch`.

[2022-05-27 22:21] #46020 closed

[2022-05-27 22:32] aloksethi commented on #45855
@anangl thanks. i will check it.

[2022-05-27 22:37] aloksethi commented on #45855
@anangl btw how did you figure it out that the culprit is idle thread? basically is there any good thread aware debugging tool?

[2022-05-27 22:40] #45514 closed

[2022-05-27 22:45] #46059 closed

[2022-05-27 22:46] #45862 closed

[2022-05-28 00:13] edersondisouza commented on #44925
Hi @LixinGuoX - I updated my draft PR #45777 - can you check if it makes things better? I'm afraid we're entering trial and error territory here, and things appeared more stable with that patch - even if issue is not exactly fixed by it.

[2022-05-28 00:52] mauricionh commented on #45362
Hi @cfriedt, the application builds correctly, but I don't see anything in the network.

I've attached the files that are involved.. prj.conf, overlay-enc28j60.conf, cc1352r1_launchxoverlay
[prj.zip](https://github.com/zephyrproject-rtos/zephyr/files/8790151/prj.zip)

Also tried removing the network addresses declared in prj.conf and only using the ones in the overlay.

Does the dumb_http_server r

[2022-05-28 01:08] 602p commented on #42496
Sorry for the great delay!

I can't seem to reproduce this fix on my nrf52840 .

With latest zephyr I get the following:

[code]

[2022-05-28 02:09] mauricionh commented on #45362
@cfriedt do you know how to invert the polarity on the MOSI and MISO lines? I'm comparing the signals from a sample app from arduino. MOSI is Active low, while MISO is Active high. This is the opposite for the current state of the dumb http server app for the cc1352.

I think I need to change this in the board overlay, but I'm not sure how, and I haven't found the documentation. In the cc1352r1_la

[2022-05-28 04:51] Laczen commented on #46034
Hi @CV-Bowen, the problem is that `csi_load` is returning multiple entries, and one of them fails. Should the routine then stop, or continue ?

[2022-05-28 05:10] martinjaeger commented on #43655
Is that HAL update already available upstream or did you only test it locally? I would be interested in testing as well, but don't know how to update the HAL manually.

[2022-05-28 09:38] nandojve opened #46091 "samples: net: cloud: tagoio: Drop pinmux dependency"
**Describe the bug**
The TagoIO HTTP sample added pinmux dependency on past to allow any platform to work it, #30029. This is not valid anymore and may affect some platforms like NXP with frdm_k64f MCU.

**Expected behavior**
Work without pinmux dependency

**Impact**
Sample not work with frdm_k64f board

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr

[2022-05-28 10:09] enjiamai commented on #45845
Brief summary of this issue:
The problem happens due to 2 factors:

(1) There are some testcases show in testplan but not a expect testcases need to run. This issue was existed previously.

This is due to twister cannot parse the scanned source code well for some testcases was written by self-defined macro. It's un-parsable unless we can consider the #ifdef factor, that means need more complicated

[2022-05-28 10:42] sam131208 opened #46093 "get a run error "Fatal exception (28): LoadProhibited" while enable CONFIG_NEWLIB_LIBC=y"
**Describe the bug**
Get a run error "Fatal exception (28): LoadProhibited" while enable CONFIG_NEWLIB_LIBC=y.

**To Reproduce**
Steps to reproduce the behavior:
1. modify samples/subsys/mgmt/mcumgr/smp_svr/overlay-bt.conf ,   delete CONFIG_MCUMGR_SMP_SHELL=y, add CONFIG_NEWLIB_LIBC=y
2. west build  -b esp32  samples/subsys/mgmt/mcumgr/smp_svr  --   -DOVERLAY_CONFIG=overlay-bt.conf
3. west flash

[2022-05-28 16:25] sylvioalves commented on #46093
@sam131208 This error is happening due to a missing PR in zephyr's mcuboot:  https://github.com/mcu-tools/mcuboot/pull/1362`
This should be already synced but it was not. I asked maintainers to take a look. This is same root cause for this: #45349.
So I will close this as duplicated, ok?

[2022-05-28 16:25] #46093 closed

[2022-05-29 00:30] #40856 closed

[2022-05-29 07:01] M1cha opened #46097 "b_l072z_lrwan1 usart dma doesn't work"
**Describe the bug**
DMA doesn't seem to work with UART on this board.
It looks like data is neither received nor sent.

Please also mention any information which could help others to understand
the problem you're facing:
 - `b_l072z_lrwan1`
 - If you enable UART debugging, you can see that incoming data does generate interrupts, but the DMA buffer status doesn't show any change.
 - I've tried bot

[2022-05-29 08:36] M1cha commented on #46097
I've updated the patch to use DMA channels which actually support usart1. Unfortunately, that didn't help.

[2022-05-29 09:36] M1cha commented on #46097
Okay I managed to get it working by setting the dma slot to 3:
[code]

I found that by trial & error and have no idea where I'd find that  information. I thought you're free to choose the slot when using a dmamux (which I'm not using).

[2022-05-29 10:34] cfriedt commented on #45362
@mauricionh - I would suggest asking on Discord maybe in the #spi channel (or if there is a #pinctrl channel, there too)

[2022-05-29 10:39] go2sh commented on #14591
Hey, whats the status on the tricore port? I have quite some experience with the tc3xx devices and a few boards to hand. I just saw one commit in the branche there.

[2022-05-29 13:11] OmarMorceli commented on #45702
Thank you !!

On Fri, May 27, 2022 at 3:50 PM Rodrigo Peixoto ***@***.***>
wrote:

[2022-05-29 13:13] #45702 closed

[2022-05-29 13:43] cfriedt opened #46099 "libc: minimal: add strerror() function"
**Is your enhancement proposal related to a problem? Please describe.**
An issue with portability is the lack of a `strerror()` function.

However, it is understandable why the function is not included (the string table increases ROM footprint and we want to keep Zephyr small).

It's an annoyance to have to `#ifdef`-out sections of 3rd-party code that rely on its presence.

**Describe the solution

[2022-05-29 13:46] cfriedt opened #46100 "lib: posix: support for perror()"
**Is your enhancement proposal related to a problem? Please describe.**
The `perror()` function is helpful shorthand for printing an error message in POSIX applications.

It's fairly trivial to implement when relying on `strerror()` and consumes very little space.

OTOH, it's a major annoyance to `#ifdef`-out perror in 3rd-party libraries.

**Describe the solution you'd like**

A `perror()` implem

[2022-05-29 14:11] sylvioalves commented on #46072
@jeronimoagullo I have tested and confirm it is crashing. However, the root cause seems to be a NULL pointer at https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/mgmt/hawkbit/hawkbit.c#L575.
`r->config.polling.sleep` is null, which causes the crash. @ycsin, can check whether this null pointer happens in there as well?
So I am still not sure whether this is ESP32 issue or Hawkit impleme

[2022-05-29 21:06] yaadc opened #46102 "samples: net: W5500 implementation"
**Describe the bug**
The W5500 documentation looks quite vague, maybe it is just me.
Is there a chance to include a simple example showing how to use the W5500 driver?

Thanks.

[2022-05-30 00:31] #43865 closed

[2022-05-30 00:32] #42524 closed

[2022-05-30 02:41] CV-Bowen commented on #46034
I think the routine should stop immediately and return the error code once `csi_load()` failed.

[2022-05-30 03:41] smrtos commented on #45802
Should be fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/46104

[2022-05-30 03:58] Laczen commented on #46034
@CV-Bowen, stopping immediately doesn't seem a good idea. The error code from `csi_load()` would be the result of the set handler. The application already knows that there is some problem with loading a specific entry (in the set handler), why should it stop loading other entries.

[2022-05-30 04:49] smrtos commented on #45845
Should be fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/46052

[2022-05-30 06:31] CV-Bowen commented on #46034
Do you mean application has known the error code in the callback function (`struct settings_load_arg: cb`) called in `settings_call_set_handler()` ?

[2022-05-30 07:02] SgrrZhf opened #46105 "RFC: Proposal of Integrating Trusted Firmware-A"
## Origin

trusted-firmware-a https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git

## Purpose

Trusted Firmware-A (TF-A) provides a reference implementation of secure world
software for `Armv7-A and Armv8-A`_, including a `Secure Monitor`_ executing
at Exception Level 3 (EL3). It implements various Arm interface standards,
such as:

-  The `Power State Coordination Interface (PSCI)`_
-  `T

[2022-05-30 07:14] LixinGuoX commented on #44925
Hi @edersondisouza, seems like this PR helps to reproduce this issue, now the reproducibility is 100%, with some additional error log as below:
[code]

[2022-05-30 07:16] povergoing commented on #46105
Hi @carlocaione @stephanosio, would you like to create a repo for TF-A? @SgrrZhf has prepared most of the work to integrate the TF-A, any suggestions on the next step?

[2022-05-30 07:23] carlocaione commented on #46105
Two questions:
- Why do you want it? Do you plan to have some custom zephyr patches on top?
- Instead of creating a new repo can we pull it as git submodule instead? See https://docs.zephyrproject.org/latest/develop/west/manifest.html#git-submodules-in-projects

[2022-05-30 07:29] povergoing commented on #46105
@SgrrZhf would you like to take a look?

[2022-05-30 07:30] stephanosio commented on #46105
Since we already have the `trusted-firmware-m` repository under `zephyrproject-rtos`, I do not see any reason why we should not do the same for `trusted-firmware-a`:

* It is foreseeable that we might need Zephyr-specific patches for this in the future.
* It would be good to have all upstream module repositories (listed in the main `west.yml`) under the GitHub `zephyrproject-rtos` organisation so

[2022-05-30 07:30] CV-Bowen commented on #46034
OK, i understood, thank you for detailed explanation! I will close this issue.

[2022-05-30 07:30] #46034 closed

[2022-05-30 07:33] carlocaione commented on #46105
@stephanosio I'm not sure we will need Zephyr-specific patches TBH. And I understand the downtime problem but having TF-A as full forked module is going to add more burden on top of everything else. We are indeed trying to go in the opposite direction for some other modules already, see https://github.com/zephyrproject-rtos/zephyr/discussions/44279

[2022-05-30 07:39] omikronlambda commented on #43655
I test HAL updates periodcally ('west update' with zephyr's 'revision:  main', then 'west espressif update'), but still no way.
Last days I've investigated this bug more, and for now I have a suspicion, that it's somehow related to pin initialization while boot up.
Possibly pins sleep modes, or pins direction setup at wrong moment. Can't explain, just a suspicion :)
I'll try to experiment with pin

[2022-05-30 07:44] SgrrZhf commented on #46105
1. I followed the way of trusted-firmware-m, there is no modification on trusted-firmware-a now, but I don't know if we need zephyr-specific patches on it in the future.
2. Yes, I will take look at it.

[2022-05-30 07:47] stephanosio commented on #46105
@carlocaione That OpenAMP module seems to be a special case because it adds the original repository content as a directory under the fork repository, and is not a direct Git mirror of the original repository. Obviously, we are not going to do that for `trusted-firmware-a` -- there is no reason to do so.

In case of `trusted-firmware-a`, we want to simply mirror the original `trusted-firmware-a` re

[2022-05-30 08:41] nordic-krch commented on #46032
as for logging/printk. What about utilizing `_Generic` to cast to proper type that match standard format specifier. If `_Generic` is not supported but there are exotic types,  `__printf_like` can removed using ifdefed.

[2022-05-30 08:51] smrtos commented on #45802
https://github.com/zephyrproject-rtos/zephyr/pull/46104 merged. This one can be closed.

[2022-05-30 08:56] enjiamai commented on #45802
Hi, @evgeniy-paltsev, Could you please help confirm if this issue got fixed or not?  @smrtos got this fixed.

[2022-05-30 09:07] enjiamai commented on #45929
Hi @andyross , could you please help to look at this issue when you got a chance?  Thank you!

We found not only this testcase failed when removing CONFIG_UART_CONSOLE=y on up_squared, but also Following testcases also failed due to this:
tests/kernel/interrupt/arch.interrupt.x86_64
tests/kernel/semaphore/sys_sem/kernel.semaphore.usage
tests/subsys/logging/log_core_additional/logging.add.log1_user

[2022-05-30 10:19] erwango commented on #46075
See https://docs.zephyrproject.org/latest/connectivity/bluetooth/bluetooth-arch.html

Using ble on stm32wb involves a Host-only build. This configuration is not compatible with hci_* samples which are only compatible with respective controller builds.

The configuration you need involves a new type of host build, which would transport hci packets from usart to existing ipm_stm32wb driver. A kind o

[2022-05-30 10:44] cfriedt commented on #46032
I would +1 removing `zephyr_stdint.h` in favour of that being the toolchain's responsibility.

Not crazy about using `%" PRId32 "` instead of `%d` everywhere though just to print an `int`. Also would prefer to not *always* need to specify `int32_t` rather than `int`.

I find `PRIu64`, `PRIx64`, and `PRId64` mainly helpful as a common way to print 64-bit values on both 32 and 64-bit machines.

[2022-05-30 11:09] gmarull commented on #46105
I think the overall Zephyr module approach needs to be reviewed. It doesn't make sense to keep pulling more and more packages in `west.yaml` because only a few platforms or applications need them. One is basically forced to do something like [this](https://github.com/teslabs/spinner/blob/main/west.yml#L18) nowadays. All _modern_ languages have the concept of packages, that are installed as needed

[2022-05-30 11:18] stephanosio commented on #46105
Agreed, the module list for the main repository keeps growing and we need to do something about it.

The current approach of "pull everything by default" should probably be re-considered; at minimum, it should be "pull only required by default." The problem is that there is no easy way for west to resolve what modules are "required" at the moment.

Anyways, let's leave that discussion for another

[2022-05-30 11:36] bgreggsmith commented on #43655
@sylvioalves I have a network of ESP32C3s which I thought were known good on the bench. I'd be happy to help test anything you think might help since I am seeing increasingly erratic behaviour of known good boards as the number of nodes increases.

[2022-05-30 11:38] carlescufi commented on #46105
@carlocaione @stephanosio @povergoing let's not discuss the wider issue of whether we have too many entries in `west.yml` in this particular GitHub thread.

@carlocaione the reason for having a fork of many other projects like TF-M is not only to be able to keep any out-of-tree patches that we may requires, but also to be able to apply patches earlier than the upstream will take them, thus being a

[2022-05-30 12:22] evgeniy-paltsev commented on #45802
Hi @enjiamai, I'll check this today or tomorrow, thanks!

[2022-05-30 12:25] LixinGuoX commented on #46066
Try add `    filter: CONFIG_ARMV6_M_ARMV8_M_BASELINE or CONFIG_ARMV7_M_ARMV8_M_MAINLINE and not CONFIG_NULL_POINTER_EXCEPTION_DETECTION_NONE
` in yaml file.
For reference: https://theotherjimmy.github.io/blog/blog/2022-01-24-bug-notes-str-alloc-copy.html

[2022-05-30 12:34] erwango commented on #46075
@sebachm94 For my information, one question:
In your 'Direct Test Mode for BT', do you intent to test anything else than the BLE controller and RF subsytem ?
In a pure transparent mode application, HCI messages would go from UART to HCI Zephyr driver and quite a little of Zephyr comes into play.
For that purpose, a STM32Cube sample application is already provided in STM32WB STM32Cube package, cf h

[2022-05-30 13:14] povergoing commented on #46105
@carlescufi Agreed, but the wider issue is raised by @gmarull, hahaha~ help you ping him

[2022-05-30 13:25] andyross commented on #45929
In fact there's a known glitch with interrupts with the EFI console code on up_squared, see comments at: https://github.com/zephyrproject-rtos/zephyr/blob/main/arch/x86/core/efi.c#L76 .  The short version is that the firmware enables interrupts while in the console output code somewhere, which means that if you try to log something while holding an IRQ lock, the firmware will break your lock.

Thi

[2022-05-30 13:28] alissakruiniger commented on #46049
@carlescufi Thank you, this fixed our issue (am also part of the team). Is there a way to define the stack sizes in the prj.conf of a program?

[2022-05-30 14:10] gleichdick commented on #46008
Thanks!
I think my fault was using ptp4l instead of [gptp](https://github.com/Avnu/gptp), and not that there is an issue with zephyr.
The sample works when plugging two STM32 together with an crossover cable as well as with a linux box running gptp.
Only ptp4l does not work.
Sorry for the noise

[2022-05-30 14:19] hongshui3000 commented on #45910
@rodrigopex
Is it possible to make zbus an external module of zephyr, so that I can directly import this module and evaluate it in my own application?

[2022-05-30 14:47] alsrgv commented on #46008
I haven't been able to make ptp4l with gptp before as well. We have code for PTPv2 master and slave that uses ethernet transport (-2 option in ptp4l) that we're happy to publish.

[2022-05-30 14:48] erwango commented on #46008
@gleichdick Thanks for the heads up. Can you close the ticket when possible then ?

[2022-05-30 15:42] enjiamai commented on #45929
Thanks very much!  @andyross , I am trying your suggested solution.....

[2022-05-30 16:52] ajackson-xlnx opened #46117 "Kernel events can’t be manipulated without race conditions"
The recently introduced kernel events module allows tasks to wait for events to be delivered to an event object.  Events can be cleared from an event object either by call k_event_set or before waiting by the call to k_event_wait (or k_event_wait_all).  The k_event_wait semantics are problematic because a task may signal an event immediately followed by another task entering a wait condition and r

[2022-05-30 21:18] conq commented on #43139
We're working on finding dedicated resources for Zephyr as we speak :)

[2022-05-31 00:30] #43940 closed

[2022-05-31 06:16] ppryga-nordic opened #46121 "Bluetooth: Controller: hci: Wrong periodic advertising report data status"
**Describe the bug**
The periodic advertising data status may be set to wrong value when
preparing a report event in HCI layer.

In case there periodic advertiser:

sends a data with length that is equal to `CONFIG_BT_CTLR_SCAN_DATA_LEN_MAX`.
the periodic advertising has included CTE
the number of PDUs in a chain is larger than required for transport
of advertising data (e.g. for max AD payload of

[2022-05-31 08:02] FRASTM opened #46124 "stm32g071 ADC drivers apply errata during sampling config"
**Describe the bug**
When running the tests/drivers/dac/dac_loopback on the nucleo_g071rb, the dac loopback test case fails
The value read on the ADC channel 0 (pin PA0) is not correct.
The Sampling time is set at 1.5 cycle by the `adc_stm32_setup_speed() `

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?

[2022-05-31 08:38] #45008 closed

[2022-05-31 09:03] volodyaleo opened #46126 "pm_device causes assertion error in sched.c with lis2dh"
**Describe the bug**

When pm_power_state_force set to OFF, the idle thread tries to suspend sensors.

`kernel/idle.c`:
[code]

But lis2dh has pm action handler that uses i2c bus.

Call sequence:
- `subsys/pm/pm.c`: function pm_suspend_devices
- `subsys/pm/device.c`: function pm_device_action_run
- `drivers/sensor/lis2dh/lis2dh.c`: lis2dh_pm_action (lis2dh->hw_tf->write_reg)
- `drivers/sensor/lis2

[2022-05-31 09:07] povergoing opened #46127 "RFC: seeking solutions for the issues of enabling the hardware stack guard for ARM64"
## Introduction

I am working on enabling the stack guard for ARM64, and the work is not complicated, just adding a read-only region or digging a hole at the top of the stack. The hardware stack guard is backed by MMU for v8a or MPU for v8r. It would be something like:

High memory addresses
<img src="https://user-images.githubusercontent.com/2632553/171127063-e4cbdaf6-2aba-425e-b775-93ede3951c32.

[2022-05-31 09:07] tfir1981 commented on #38966
Hi,
this is lost in zephyr 2.6, 2.6, 3 again.

[2022-05-31 09:08] povergoing commented on #46127
kindly ping @carlocaione @stephanosio @npitre @microbuilder

[2022-05-31 09:08] povergoing commented on #46127
@SgrrZhf

[2022-05-31 09:36] simplysoft opened #46129 "net: lwm2m: Object Update Callbacks"
# Problem

Currently there is no good way to trigger some business logic that depends on multiple IPSO resources changes. The only way the application can be notified about changes on IPSO resources is via `lwm2m_engine_register_post_write_callback`. However the application has no means to identify if there will be further writes to other resources, so it has no means to know when it should consid

[2022-05-31 09:37] #46129 closed

[2022-05-31 09:38] simplysoft commented on #46129
Feel free to delete, opened under wrong github account

[2022-05-31 09:39] broglep-work opened #46130 "net: lwm2m: Object Update Callbacks"
# Problem

Currently there is no good way to trigger some business logic that depends on multiple IPSO resources changes. The only way the application can be notified about changes on IPSO resources is via `lwm2m_engine_register_post_write_callback`. However the application has no means to identify if there will be further writes to other resources, so it has no means to know when it should consid

[2022-05-31 10:40] LuDuda commented on #45993
Hello @ck-telecom

Well, it is not true that Matter SDK only supports nRF5x serires with Zephyr.

Matter SDK takes approach of the "main" repository, and apart of the Matter stack it contains also platforms integration. You can find three related to Zephyr platforms already:

1. [Zephyr platform](https://github.com/project-chip/connectedhomeip/tree/master/src/platform/Zephyr)- it implements generi

[2022-05-31 10:58] gmarull commented on #46126
The solution is really to make use of the device runtime PM framework. Right now, system suspends devices but it comes with limitations, see the note in https://docs.zephyrproject.org/latest/services/pm/device.html#device-power-management-operations.

[2022-05-31 12:10] hunterhu3000 commented on #45914
@peter-mitsis: Is this issue related to the change of [RTOS-6829][RTOS-6830][RTOS-6833]?

[2022-05-31 12:19] fkokosinski commented on #44399
Hi @Aravindh-Swaminathan!

Could you perhaps share these errors that you're getting, or even better - create a draft PR so that we can take a look at your code?

[2022-05-31 12:37] romkell opened #46135 "RFC: Handling of unmaintained modules when having issues in release builds other than deprecate and removal"
## Introduction

Removing earlier integrated modules when they are unmaintained and cause issue on release builds
is understandable from release managers point of view, but also would throw away a lot of work done.
Finding an "soft" solution as marking such modules as "untested since Zephyr x.y.z", "has known issues since " or similar
(a degraded state, deprecated I still consider full functional

[2022-05-31 12:54] sappigeninja commented on #46049
After enabling some (KConfig) options for MPU protection.
We quickly got the following output after testing again.

[code]

We are apparently getting a stack overflow somewhere.
What would be the best way to deal with this stack overflow?
We use a lot of strings for sending AT commands and those can get quite long.
There is no way for us to easily optimize and save more memory.

Is just doubling t

[2022-05-31 13:03] romkell opened #46137 "RFC: Integrate u8g2 monochrome graphcial library as module to Zephyr OS (https://github.com/olikraus/u8g2)"
## Introduction

- LVGL integrated in Zephyr OS is full featured and powerful but consumes a lot of flash for small MCU devices (>64kB)
- character frame buffer is very basic (no drawing, only multiple of 8 character size without special care on drawing)
- The only OLED driver included today is the SSD1306, no other simple monochrome drivers available

### Problem description

- For small MCUs LVG

[2022-05-31 13:04] CEmir10 opened #46138 "Problem with building zephyr/samples/subsys/mgmt/mcumgr/smp_svr using atsame70"
I was able to build and flash same example on nrf52840dk_nrf8240, i was also able to play with mcumgr where i upload new image. My task is to do it wit atsame70, but when i try(west build -b psn_jlink -- -DOVERLAY_CONFIG='overlay-serial.conf;overlay-fs.conf;overlay-shell-mgmt.con)  sometimes I get this error(when serial transport is enabled): In file included from /home/crem/zephyrproject/zephyr/i

[2022-05-31 13:05] gmarull commented on #46126
As soon as a driver has device runtime PM enabled, system will actually ignore it. Drivers should be responsible to enable device runtime PM, so that they are left suspended after being initialized. However, I guess nothing prevents you to enable/disable it later  in the application side.

[2022-05-31 13:16] alissakruiniger opened #46140 "Custom driver offload socket creation failing"
I'm trying to set up a UDP socket connection for a driver I'm creating (Ublox SARA N310) that's similar to Ublox R4 (that makes use of socket offloading), but it fails.

Running GDB and stepping through the `socket()` function call eventually shows that in the function `net_context_get(family, type, proto)` has a function that fails with an error code of -134 (ENOTSUP). This is returned on a call

[2022-05-31 13:29] fkokosinski commented on #43910
Hi @paveldedourek-eaton, thanks for reporting this issue.

I did a little digging and it looks like civetweb requires the usage of minimal libc that Zephyr provides, which does not implement `fileno` and `ferror` functions. I could force this sample to build by defining them directly in `modules/lib/civetweb/src/civetweb.c`:
[code]

Could you let me know if this solves this issue on your side as w

[2022-05-31 13:29] rlubos commented on #23302
I've finally managed to do some throughput tests on the actual hardware. I had `mimxrt1020_evk` and `nucleo_h723zg` on the table.

TL;DR The results for `nucleo_h723zg` are decent, but for `mimxrt1020_evk` rather poor.

For testing, I've used `iperf` on the Linux host side and `zperf` sample on the Zephyr side. Let's focus on `nucleo_h723zg` first. As a reference, I've used UDP throughputs as in t

[2022-05-31 13:32] rlubos commented on #23302
As for the `zperf`, the sample uses `net_context` API directly, which gave me a bit of a headache due to some issues with TCP handing in the sample (the TCP context was freed too early as the sample did not add extra ref to the net_contex, also it does not take EAGAIN/ENOBUF returned by the TCP layer into consideration). I'm thinking however, that instead of fixing those issue it'd be worthwhile t

[2022-05-31 13:38] peter-mitsis commented on #45914
@hunterhu3000: The change sets to which you refer is where this (failing) test case was first introduced. My expectation is that the cause of the bug is in one of three areas ...
  1) The gathering of the thread runtime statistics
  2A) A flaw in the test case
  2B) The platform is behaving in a way for which the test was not designed

Upon my own initial investigation into the bug, the failure at

[2022-05-31 13:42] gmarull commented on #46137
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/38755, please add details there if missing and close this one.

[2022-05-31 13:48] ycsin commented on #46072
`CONFIG_HAWKBIT_LOG_LEVEL_DBG` / `CONFIG_HAWKBIT_LOG_LEVEL_WRN` for example.

The `log_strdup` was necessary for LOG1, which is the version that I was using (2.7 LTS), we had quite a bit of issues back then with the LOG2 and we were developing a product so we stayed on the LTS for the sake of stability. However I'm not sure what would happen if the arg passed into it happened to be a NULL ptr, may

[2022-05-31 13:55] gmarull commented on #44240
Note that test builds on `main` with the suggested command: `west build -b mec172xevb_assy6906 tests/drivers/pwm/pwm_api -p `. Closing, reopen if issue is observed again.

[2022-05-31 13:55] #44240 closed

[2022-05-31 13:59] romkell commented on #38755
In addition to the gmarull's link above to have the arguments here:

Issues is see with the current setup in Zepyhr OS
- LVGL integrated in Zephyr OS is full featured and powerful but consumes a lot of flash for small MCU devices (>64kB)
- character frame buffer is very basic (no drawing, only multiple of 8 character size without special care on drawing)
- For small MCUs LVGL is too heavy weight a

[2022-05-31 14:20] peter-mitsis commented on #46117
A couple of points.

1. The sequence of events that lead to lost events as described above has always been a known trade-off, and one that has been deliberately pushed on to the user/developer to ensure correct behaviour. It is alluded to in the documentation with the following text.

2. Having both pre- and post-clear wait options was actually something that was considered in an early draft of th