[2019-09-06 18:26] pabigot commented on #18986
cc @anangl

[2019-09-06 18:29] pabigot commented on #7213
AFAICT this is complete: code in master no longer generates deprecated symbols.

[2019-09-06 18:29] #7213 closed

[2019-09-06 21:53] lanvis opened #18988 "BLE Central auto enables indications and notifies"
Configured as a Central, when bonded with a peripheral the BLE stack auto sets a profile's characteristics descriptor with its last known indicate/notify state.

**To Reproduce**
1. Using a Nordic nRF52840 dev board.
2. Configure BLE stack as a cental.
3. Bond with a peripheral
4. Disconnect the Reconnect
5. On reconnect, descriptor writes to characteristics with modified indications/notifications

[2019-09-06 21:59] lanvis commented on #18988
Forgot to inform that you will need to search for *DexcomG3* in communication field (ellisys viewer) to see associated communication.

[2019-09-07 09:51] vanwinkeljan opened #18990 "C++ New allocates memory from kernel heap"
**Describe the bug**

The current Zephyr C++ `new` implementation allocates memory from the kernel heap instead of using the same heap used by `malloc`.

In case a system would be configured with none, or a small, kernel heap and a large libc heap the call to `new` will fail even when sufficient memory is available in the libc heap.

**To Reproduce**
Steps to reproduce the behavior:
- Problem was

[2019-09-07 09:55] vanwinkeljan commented on #18990
I agree here, a solution would be to use malloc/free instead of k_malloc/k_free so that at least the memory is acquired from the same pool for both new and malloc.

The next step could be to make the behaviour of malloc/free configurable to use one of the following scenarios:
1) kernel heap (k_malloc/k_free)
2) dedicated memory pool in kernel space
3) dedicated memory pool in user space
4) libc he

[2019-09-07 10:03] ioannisg commented on #15494
@nashif @dbkinder there is one box left to tick in the Final Release Notes, could you check if this has been actually done?

[2019-09-07 13:39] pabigot commented on #18990
Actually my hope was that Zephyr doesn't need to override new and delete at all.  The default implementation from libstdc++, by inspection, uses malloc.

I've confirmed that simply removing `cpp_new` works fine with #18991 when newlib is used.  We know you need a Zephyr malloc heap for things like `std::vector`.  Turn's out that probably because Zephyr isn't providing an implementation of `operato

[2019-09-07 13:57] #18973 closed

[2019-09-07 14:07] #17888 closed

[2019-09-07 14:31] vanwinkeljan commented on #18990
I'm also wondering why zephyr is providing its own implementation as I came to the same conclusion that libc++ is using malloc. One explanation could be the overhead of the exception handling code that gets pulled in.

Agree and that is what I tried to achieve with the PR; with the exception that the behaviour could be changed via Kconfig, you never know if somebody wants it the other way around.

[2019-09-07 14:34] dbkinder commented on #15494
V2.0.0 docs are published (thanks @nashif ) completing the last item in the “Finalize release notes” section, so I checked that off.

[2019-09-07 15:10] #18297 closed

[2019-09-07 16:34] pabigot opened #18999 "assignment in assert in test of arm_thread_arch causes build failures"
https://github.com/zephyrproject-rtos/zephyr/blob/6e46a64a489d5cce2b7621c5e5852fc3e1235a38/tests/arch/arm/arm_thread_swap/src/arm_thread_arch.c#L468

is producing [build failures](https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/49969/summary/console) on two of five platforms in #18991:

[code]

As far as I can tell the diagnostic is correct.

Am I wrong?  If not, how did this get p

[2019-09-07 16:38] pabigot commented on #18999
To answer my question, it must be being produced by some patch that was merged after release, but not rebased before it was merged.

[2019-09-07 19:03] pabigot commented on #18999
Very odd: `git bisect` shows the failure started when 48f97ecf463d642297f61ac8b2ce3748469b98b4 which is #18945 was merged.

[2019-09-07 19:24] pabigot commented on #18999
I'm reasonably certain this test is not correct, but it's not at all clear what it should do, and #19001 at least makes it "pass".

[2019-09-08 03:28] LingaoM opened #19003 "bluetooth : Mesh: adv thread can be replace by other methods."
@jhedberg As we all know, creating a thread requires a separate stack space. I can see that the function of the `adv thread` can be replaced by the `k_delay_work` API, and it is not necessary to occupy `768` bytes of RAM.
I wrote some pseudo code to verify my thoughts, I hope you can give valuable advice.
[code]

[2019-09-08 06:33] menglingao1997 commented on #19003
ooh, no need maintain much more k_delayed_work instance, just only one k_delay_work instance.

[2019-09-08 06:40] #18816 closed

[2019-09-08 06:52] menglingao1997 commented on #19003
[code]

[2019-09-08 06:57] jhedberg commented on #19003
@menglingao1997 I'd need to think about this a bit. To be honest, the adv thread is the last one I'd have started looking for optimisations from, since the logic of handling both proxy and network advertising can be fairly nicely implemented with a dedicated thread.

It might make sense to wait until we have the Mesh HCI vendor extensions in place to see how the code will look then, since the logi

[2019-09-08 09:48] menglingao1997 commented on #19003
I just successfully ported my idea to `nimble` just because `linux_blemesh` example can be more easily debugged on my Linux system. The purpose of my doing this is to minimize the RAM usage. At the same time, we look forward to your better solution.

[2019-09-08 10:35] #18824 closed

[2019-09-08 11:20] pabigot opened #19004 "problems in sanitycheck/CI infrastructure revealed by post-release change"
This summarizes some less obvious findings from investigation related to the change that was reverted in #18991.  Some of this is also in #19001.

The reversion was requested offline by @nashif due to noticing some qemu failures in some shippable results.  Independently, I noticed it in a build session where it flashed by after a config change and went away after removing `build` and reconfiguring

[2019-09-08 19:38] ulfalizer commented on #18986
The thinking behind using `aliases` is probably that it matches how devicetree is used in Linux and elsewhere. Labels disappear from the compiled devicetree when using `dtc`, so you wouldn't be able to reference labels there. In the compiled `dtc` output, you get the equivalent of

[code]

(Can see it by running `dtc -Odts` on `.dts` files too.)

IMO, having some level of compatibility for `.dts`

[2019-09-08 20:41] pabigot commented on #18986
I think that's a misinterpretation of what Linux does.

`alias` appears to be relatively rare in Linux devicetree sources, as one would expect.  Most phandle references in Linux devicetree sources are to the node label.  This issue suggests we follow that standard.

The compiled form discards the labels because it gives you the entire tree of nested nodes with their node names.  In that situation

[2019-09-08 21:08] ulfalizer commented on #18986
Note that `adc-0 = &adc;` is a path reference and not a phandle reference (does not appear within `<>`). It expands to a string with the path to the node in it, instead of to a phandle (which is just an integer internally).

`aliases` seems common in Linux too:

[code]

Could generate stuff from the node name as well, when it makes sense. It's using the label strings that feels a bit iffy to me, b

[2019-09-08 21:21] ulfalizer commented on #18986
Might help to see an example of how it works in `dtc` btw.

This file,

[code]

is turned into this (by `dtc -Odts foo.dts`):

[code]

That output matches the binary output format as well, except the binary output format does not preserve the label (can try `dtc foo.dts | grep label`).

[2019-09-08 21:41] pabigot commented on #18986
Yes, about 30% of the 3000+ devicetree source files in Linux have an aliases node.   If you look at them, though, the number of aliases in each is significantly smaller than we're currently forced to use, and they're generic names like `rtc0`, not names specific to the device as in #18937.

The node name is unique only within the node, so that won't work.  You could generate strings that express t

[2019-09-08 21:50] vanwinkeljan opened #19012 "Enable Address Sanitizer (ASAN) during sanitycheck"
**Is your enhancement proposal related to a problem? Please describe.**

In case sanitycheck is run with address sanitizer (ASAN) enabled failures are detected.

**Describe the solution you'd like**

Enable address sanitizer (`CONFIG_ASAN`) by default for native_posix and native_posix64 when running sanitycheck.

**Describe alternatives you've considered**

Periodically (nightly, weekly,...) run s

[2019-09-08 22:16] ulfalizer commented on #18986
Dunno if the `aliases` solution is thaaat bad though. It's a mechanism that's already there for referring to specific nodes with a different name. Feels cleaner than starting to do magic things with label names, even if we get a few more aliases to work around lost path information.

I'd rather see some other kind of reorganization I think, and in the meantime, it's not horrible I think.

[2019-09-08 22:17] ulfalizer commented on #18986
(What's kinda horrible is having most of this stuff undocumented though. Will try to do something about that a bit later.)

[2019-09-09 02:06] #16223 closed

[2019-09-09 02:08] #18957 closed

[2019-09-09 02:12] Jeepgoing opened #19013 "[Zephyr 1.14]: NetUsb and Ethernet work together"
Hi All,

I am trying to use UsbNet and Ethernet work together in my product, but i don't know how to configure it, anyone give me some advises?

thanks.

[2019-09-09 02:48] nwsetec commented on #18927
I'm working on a product that began based on 1.13 (then base64 encoding was the standard for FCB) and now with a few workarounds for values that were stored as strings it is now based on 1.14 (and providing updates to 1.13 based devices in the field).  It is unlikely the product will be upgraded to beyond 1.14 but if we found the new split layer BLE controller to perform better then there's a smal

[2019-09-09 05:04] #19013 closed

[2019-09-09 05:46] Mani-Sadhasivam commented on #15598
Will check #15861 soon.

[2019-09-09 08:06] erwango commented on #18986
I do agree with @pabigot here.
Interests of `alias` are to provide genericity to boards specific devices so they could be used with zephyr common pieces, like for instance:
- to introduce generic device references that could be used to stitch various boards dts with a generic overlay (things like `arduino_spi`)
- to produce a zephyr generic defines that could be used in generic zephyr applications

[2019-09-09 08:45] jhedberg opened #19015 "Bluetooth: Mesh: Node doesn't respond to "All Proxies" address"
When Proxy support is enabled we're expected to respond to the "All Proxies" address. The helper function for this however has a "TODO" for this case.

[2019-09-09 09:42] mnkp commented on #18530
I've added "Steps required to convert a GPIO driver to the new API" section directly to the issue description so it's easy to spot. Please let me know if there are parts which are not clear / should be extended.

[2019-09-09 09:47] aescolar commented on #19012
This should be perfectly fine, as even though we will increase a bit the native_posix runtime, it is very small today in CI
Care to send a PR?

[2019-09-09 10:03] #19015 closed

[2019-09-09 13:47] #17829 closed

[2019-09-09 14:00] pabigot commented on #12553
As we continue to see intermittent failures I'm reopening this in lieu of creating a new one.  We can discuss its priority and assigness in the next triage meeting.

I believe that #17155 will help with this, and should be merged before we confirm tests.  I would use #18997 to verify that reported tests are still failing even if they seem to pass CI, and update the list of specific issues in the h

[2019-09-09 15:36] andyross commented on #12553
The issues here are fundamental.  There's really nothing #17155 can do to fix them, though on the margins it does work to tighten up timeout behavior and might make failures less likely.

Take a look at #18656.  I'd **really** appreciate it if we could make testing with that a requirement for opening a new spurious failure bug.  The tooling there runs sanitycheck output in a context where host loa

[2019-09-09 17:37] vanwinkeljan commented on #19012
@aescolar OK I will send out a PR once the dependencies have been merged.

In the meantime people have time to post any concerns here.

[2019-09-09 19:59] pabigot opened #19030 "Extending timeouts to support multiple clocks"
Based on discussion in #17162 the following describes a proposed API extension that is enabled by #17155 given a few minor API changes.

## Proposed Zephyr Clocks

I would like the end goal to be support for the following clocks:
* `K_CLOCK_HARDWARE` corresponds to the Zephyr hardware clock.  It is provided by `k_cycle_get()`.  This is a monotonic non-decreasing non-wrapping 64-bit source with zer

[2019-09-09 20:48] lanvis opened #19031 "nrfx_clock.c functions are not available with CONFIG_NRFX_CLOCK"
**Issue**
 nrfx_clock.c functions are not defined with CONFIG_NRFX_CLOCK and therefore cannot configure RTC at run time.

**To Reproduce**
1.13.99: Add CONFIG_NRFX_CLOCK to a nrf52840 board sample project file then see if  function nrfx_clock_lfclk_stop() is available (no link error).
2.0.99 : ?? nrfx_clock.c has been removed from source tree.

**Expected behavior**
1.13.99 Functions in nrfx_clock

[2019-09-10 04:46] ito-yu opened #19034 "sanitycheck fail with ninja option with single-core machine"
**Describe the bug**

- sanitycheck fail with `--ninja` option with single-core machine
- sanitycheck run completely normal with no `--ninja` option
- sanitycheck run with `--ninja` option with dual-core (or more-core) machines too.

**To Reproduce**

Run sanitycheck in single core machine with `--ninja` option.

**Expected behavior**

- sanitycheck should run even in poor spec machine

**Impact**

[2019-09-10 06:50] andrewboie commented on #18956
The crash is in the code that constructs page tables for new user threads.

On further analysis, DT_PHYS_RAM_ADDR is being set wrong for qemu_x86 if CONFIG_XIP is turned off, it had a value of 0x500000. But with XIP turned off, RAM spans from 0x100000 - 0x4FFFFF.

[code]

I think we need to move some policy out of ia32.dtsi. There shouldn't be a flash0 region defined there at all, and sram0 should

[2019-09-10 08:30] Jeepgoing opened #19038 "[zephyr branch 1.14 and master -stm32-netusb]:errors when i view RNDIS Device‘s properties on Windows 10"
When I test netusb sample [https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/echo_server](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets/echo_server) on STM32F4-DISCO board, some errors occur.

Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=stm32f4_disco -DOVERLAY_CONFIG=overlay-netusb.conf ..
3. make flash
4. ins

[2019-09-10 08:54] andrewboie commented on #18956
So this is definitely a DTS/board config problem and not a userspace one.

I'm working on a PR which does the following:

- IA32 SOC will no longer define a flash region
- IA32 SOC will start RAM at 1MB
- IA32 SOC will allow XIP to be enabled, but the board-level DTS will have to define a flash region
- qemu_x86 will have XIP off by default, but tests like tests/kernel/xip will be able to turn it

[2019-09-10 09:25] jhedberg opened #19039 "Bluetooth: Qualification test case GATT/SR/UNS/BI-02-C fails"
GATT/SR/UNS/BI-02-C fails due to a bug in `att_op_get_type()`

[2019-09-10 09:26] #19039 closed

[2019-09-10 09:45] #18105 closed

[2019-09-10 11:30] gnuless commented on #18956
Just FYI, that page allocator I mentioned last week will be submitted this afternoon.  The "SRAM" information from DTS is going to be a "default" memory map, which can be overridden by a memory map obtained at runtime (from EFI/ACPI/multiboot, or whatever).

There's going to be some overlap here, and to be complete, will probably require some minor changes to the early MMU setup (since the memory

[2019-09-10 11:39] #17998 closed

[2019-09-10 12:08] anangl commented on #19031
@lanvis Now that #18895 is merged the issue should be fixed. Could you please check and confirm it? The problem was that since the `NRFX_CLOCK` option had no prompt, it was impossible to modify it from the application configuration file - the `CONFIG_NRFX_CLOCK=y` statement was simply ignored (it was the case also in earlier versions of Zephyr, so if it worked for you earlier, it was by chance - s

[2019-09-10 14:45] PhilippFinke opened #19051 "[Zephyr v2.0.0 nrf52840] Unable to reconnect to recently bonded peripheral"
**Describe the bug**
I'm using the nrf52840 on my custom board as a BLE-USB-dongle. It's firmware is based on the hci-usb Zephyr sample. I've already successfully used the firmware with Zephyr v1.14.0. After upgrading to v2.0.0 I'm still able to pair and bond with devices, but after a disconnect I'm not able to successfully reconnect to the peripheral. The same issue exists with the original hci-u

[2019-09-10 14:55] galak commented on #18986
I feel like this isn't addressing the root of the issue which is the desire to have SoC specific naming scheme.  I'd suggested we introduce a new property that vendors can use to match their documentation ("soc-label").  This removes the need to various hacks of using aliases or node labels:

https://github.com/zephyrproject-rtos/zephyr/pull/12546

[2019-09-10 15:19] lanvis commented on #19031
I don't think so because in 2.0.99,  the nrfx_clock.c is not in the source tree.  This function includes all of the methods (procs) to change the RTC configuration at run time.  I looked at your commits and didn't see it.

[2019-09-10 15:33] pabigot commented on #18986
No; that's the immediate driver due to #18937.  The general case is to reference nodes in the devicetree.

`soc-label` is wrong, because I may be doing something like:
[code]

`ext-therm` is not a soc resource.

If you don't want to use the node label, we need another solution.  I had proposed a `zephyr,id` property long ago.  Today it seems even more appropriate, since this is solving a problem s

[2019-09-10 15:41] galak commented on #18986
What's the driver code look like that would access `ext-therm` vs `int-therm`?  Is the driver doing something different based on which one it is?

[2019-09-10 15:51] carlescufi commented on #19051
@PhilippFinke can you enable the legacy cotroller and use the latest master? I think this might be related to https://github.com/zephyrproject-rtos/zephyr/issues/15256, which is fixed in the legacy controller but not yet in the split one.

[2019-09-10 17:28] ioannisg opened #19053 "2.1 Release Checklist"
Add items as required
--------
- [x] Major enhancements:
   - [ ]  Make newlib libc the default c library: #3102 (Pushed to 2.1.0)

- [x] Pre RC1 Steps
   - [x] Verify that all external components and external dependencies are up to date, for example
      - mbedTLS
      - tinycrypt
      - FatFS
   - [x] Check known vulnerabilities, and fix exploitable vulnerabilities or verify them as un-exploi

[2019-09-10 17:29] ioannisg commented on #15494
2.1 Release checklist: https://github.com/zephyrproject-rtos/zephyr/issues/19053

[2019-09-10 19:17] #18961 closed

[2019-09-10 19:57] #18308 closed

[2019-09-10 20:08] MaureenHelm commented on #17625
`i2c_burst_write` is problematic because some drivers implement the transaction as write subaddress, restart, write data, stop.

https://github.com/zephyrproject-rtos/zephyr/blob/1a6f4a6368960ddcbeb776f45f084163c7001f36/include/drivers/i2c.h#L491-L494

[2019-09-10 20:09] #17625 closed

[2019-09-10 20:14] jukkar commented on #19030
For gPTP (generalized Precicion Time Protocol) enabled system, there is a high accuracy clock source, with nanosecond accuracy, provided by Ethernet controller. For example frdm-k64f (eth_mcux driver) and sam-e70-xplained (eth_sam_gmac driver) boards have support for gPTP.
This clock is currently accessed only by gPTP code, which uses PTP driver for access (API at `include/ptp_clock.h`). I am not

[2019-09-10 20:32] pabigot commented on #19030
If that clock provides high-accuracy realtime (e.g. UTC or TA1) it could certainly be useful.

[2019-09-10 20:50] carlescufi commented on #19031
@lanvis that is because we have moved nrfx to a separate module. It's here: https://github.com/zephyrproject-rtos/hal_nordic/blob/master/nrfx/drivers/src/nrfx_clock.c

Just update to the latest master and then run `west update`. You will find the files in `modules/hal/nordic/nrfx/drivers/src`.

[2019-09-10 21:10] shphilippe opened #19059 "i2c_ll_stm32_v2: nack on write is not handled correctly"
As a master, when we do a i2c write to a device which nack during the data phase, the driver is not generating a stop correctly:

Here is an oscilloscope capture
![TEK00000](https://user-images.githubusercontent.com/45579101/64650529-41ae9a00-d3d4-11e9-8a24-43a732ec371c.PNG)

I suspect the behavior to handle the nack in the stm32_i2c_event() is wrong. Removing the "goto end" in the if handling the

[2019-09-11 03:19] andrewboie opened #19063 "can we increase qemu_riscv32/64 RAM sizes"
Both qemu_riscv32 and qemu_riscv64 inherit from the riscv32-fe10.dtsi which provides only 16KB of RAM.

This prevents a lot of larger test cases from running on RISCV under emulation in QEMU.

Can we change this? I'd suggest a couple megabytes which would allow the largest tests to run. But anything is better than 16KB.

I tried overriding &dtim in the board-level DTS to increase RAM size but this

[2019-09-11 03:29] andrewboie commented on #19063
@nategraff-sifive FYI

[2019-09-11 04:29] thirtythreeforty commented on #14810
@bokenator perhaps a bit off topic for this issue, but is your work-in-progress ADXL345 driver public anywhere?

[2019-09-11 07:57] hakehuang commented on #18280
I do a experiment and soem code change below
{code}
	ret = adc_read(adc_dev, &sequence);
	TC_PRINT("ret = %d \n", ret);
	zassert_equal(ret, 0, "adc_read() failed with code %d", ret);
{code}

then the application can pass. looks like the code alignment impacts the performance in kl25 platform.

and something makes me strange is that when I try to diff the assembly code of with TC_PRINRT and without

[2019-09-11 07:58] gregersrygg opened #19064 "Correct docs for K_THREAD_DEFINE"
**Describe the bug**
The docs states a thread can be spawned at compile time. Spawning involves starting, right? Which obviously is not possible during compilation.

**To Reproduce**
Check the docs: https://docs.zephyrproject.org/latest/reference/kernel/threads/index.html#spawning-a-thread

**Expected behavior**
I'm not sure what `K_THREAD_DEFINE` does exactly, but I would guess it defines/declare

[2019-09-11 07:59] jukkar opened #19065 "Build error with stm32h747i_disco_m4"
**Describe the bug**
The compilation of websocket sample application in #19025 gives this build error:
[code]

I do not have anything stm32h747i_disco_m4 related in the sample.

**To Reproduce**
1. Fetch #19025
2. sanitycheck -t websocket -p stm32h747i_disco_m4

**Expected behavior**
No error

**Impact**
Test fails. I will blacklist this board temporarily in order to proceed.

[2019-09-11 08:22] andrewboie commented on #13074
I spent some more time thinking about this and also spoke in person with @vonhust . I've come to a few conclusions:

- This is not a forward-looking feature. Newer MPUs (ARC MPU v3, ARM v8) have more regions with 16 being typical, where this problem largely goes away.
- Reprogramming the MPU based on MPU faults really screws up determinism and latency.
- We have limited eviction algorithm options

[2019-09-11 08:25] mfiumara commented on #17731
@tsvehagen This should be possible but I think the implementation would be vendor specific.

I am currently using a Nordic platform and have looked a bit in how an API would look. It would need changes in the lower link layer, you can check where the current hardcoded value `RADIO_TXP_DEFAULT` is being used or perform a search on `radio_tx_power_set`.

I can propose an API, should I do it in this

[2019-09-11 08:27] jukkar opened #19066 "Build error with qemu_x86_64"
**Describe the bug**
The compilation of websocket sample application in #19025 gives this build error:
[code]

**To Reproduce**

1. Fetch #19025
2. Remove blacklisting of qemu_x86_64 from `samples/net/sockets/websocket_client/sample.yaml`
3. sanitycheck -t websocket -p qemu_x86_64

**Expected behavior**
No error

**Impact**
Test fails. I will blacklist this board temporarily in order to proceed.

[2019-09-11 08:36] andrewboie opened #19067 "non-overlapping MPU gap-filling needs to be optional"
ARMv8, and ARC MPU v3 are newer MPUs which allow for great flexibility on MPU region sizes, but regions are not allowed to overlap.

Currently, MPU regions are set up to control supervisor mode access, so that supervisor mode reads/writes to invalid memory generate faults. Implementing overlapping regions for memory domain requires that these base regions be split.

Unfortunately, this gap-filling

[2019-09-11 08:37] andrewboie commented on #19067
@ioannisg would this be something you could look at, at least for ARMv8?

[2019-09-11 08:38] #11743 closed

[2019-09-11 08:39] Jeepgoing commented on #19038
I have change `overlay-netusb.conf` as follows:

[2019-09-11 08:40] andrewboie commented on #15135
@ioannisg in my opinion, context switch needs to be the most tightly optimized code in the system..

This is now implemented on x86, so scope of this ticket is for ARM/ARC

[2019-09-11 08:58] erwango commented on #19065
@jukkar, point is this board doesn't enable any UART device (for now at least).
Your sample somehow assumes it should be available.
This should be dealt with filtering, like following in board.yaml:
[code]

[2019-09-11 09:38] pizi-nordic commented on #19030
Some questions/comments:

- Are we going to have alarms set on given clock source (including `K_CLOCK_HARDWARE`) and custom-clock sources? If so, who will be responsible for dealing with low-level constraints (example: I cannot set alarm earlier that X clock from now).
- What we should do if given clock is not available (for example when system is going into low power state) but there is alarm set

[2019-09-11 09:53] jukkar commented on #19065
The sample is very generic, all the assumptions about UART are done somewhere in the system behind the curtains.

I am fine with your filtering suggestion, can you propose a patch for it?

[2019-09-11 09:57] Trubochkin commented on #17731
I think you can make a pull request and add a link to this issue

[2019-09-11 10:02] erwango commented on #19065
Indeed, and few other samples have the same issue, such as nfc.
We actually miss an fiter step to say I don't support UART, and samples that need console or log filter it out. Because stating I don't support net or nfc is not true.

Sure, will do.

[2019-09-11 10:23] Jeepgoing commented on #19038
I have tested `branch:master`, it is the same error

[2019-09-11 11:32] aescolar commented on #19064
CC: @andyross @andrewboie

[2019-09-11 12:42] ExtremeGTX commented on #9596
#### an update:
- `samples/subsys/logging/logger/` this is not even working in `qemu_xtensa` so i think it is architecture support problem
- On `esp32` got `LoadStoreError` then `IllegalInstruction`
- will attach gdb to qemu_xtensa and share more info here

[2019-09-11 12:50] #3981 closed

[2019-09-11 13:17] #18870 closed

[2019-09-11 14:04] mtpr-ot commented on #17731
For our platform, I've implemented a vendor specific TX power level interface. It operates with two different types of TX power level; _System TX power level_ and _connection TX power level_.

By calling the host function with conn == NULL, the system power level is set.
System level is used by advertising and scan req/resp, and connections established "inherit" the system power level, i.e. slave

[2019-09-11 14:05] jfischer-phytec-iot commented on #13725
@KwonTae-young please check #19073

[2019-09-11 14:09] lemrey opened #19075 "k_delayed_work_submit() does not handle long delays correctly"
**Describe the bug**
For some large values of `delay`, `k_delayed_work_submit()` succeeds but work item is called immediately.

**To Reproduce**
Steps to reproduce the behavior:
1. Build any project for `nrf9160_pca10090`.
2. Submit a delayed work with a `delay` of `K_HOURS(20)`.
3. The work item is processed immediately.

Reproducible here: https://github.com/lemrey/zephyr/commit/1d8e92474d600129

[2019-09-11 14:11] Trubochkin commented on #17731
Can I see an example somewhere?

[2019-09-11 14:13] mtpr-ot commented on #17731
Sorry, this is not upstreamed. However, I can construct an example from our test code if you are interested?

[2019-09-11 14:15] aescolar commented on #19075
CC: @andyross @pabigot

[2019-09-11 14:15] Trubochkin commented on #17731
I am interested

[2019-09-11 14:24] mtpr-ot commented on #17731
**Peripheral**
[code]

[2019-09-11 14:48] pizi-nordic commented on #13074
I think that the fact that we are developing an operating system should be taken under consideration. At the very high level, the OS takes care of the things to release application from low-level duties. And this is the direction we should go. I like the TLB approach, as this is 100% transparent to the App (excluding latencies) and does not force application developer to do a PhD from Zephyr users

[2019-09-11 15:03] Trubochkin commented on #17731
@mtpr-ot Thanks, but it won’t help me.

[2019-09-11 15:10] galak opened #19078 "search for board specific shield overlays doesn't always work"
If the shield name doesn't match the dir name we don't look in correct place.  For example shield `x_nucleo_iks01a3_shub`.

[2019-09-11 15:18] galak commented on #19078
So we look here for things:

[code]

The dir is incorrect, however not quite sure how we correctly handle this for multiple different shields in on dir like `x_nucleo_iks01a3` has.

[2019-09-11 15:22] galak opened #19079 "Enable shield sample on stm32mp157c_dk2"
make `samples/shields/x_nucleo_iks01a3` and `samples/shields/x_nucleo_iks01a2`

We need board specific shield overlay for stm32mp157c_dk2, however bug #19078 holds up doing this.  We need a board specific overlay because not all the GPIOs are wired up on the board and so we need to special case some interrupt supports.

[2019-09-11 15:42] lemrey commented on #19075
That's understandable and okay, so far as the API returns an error if the current configuration does not support the requested timeout value.

[2019-09-11 15:57] erwango commented on #19078
Shouldn't we split into 2 different shields?
From what I understand the different modes enables quite different behavior and that's if we had 2 different shields finally.
@avisconti, what do you think ?

[2019-09-11 16:00] mike-scott commented on #19078
I have to agree here.  When you enable the sensorhub mode (which is a jumper) it completely changes the functionality of the shield.

[2019-09-11 16:04] pabigot commented on #19075
Agreed, but with signed 32-bit delay representations the existing API was told to delay for 16:24:32 H:M:S in the past, so this is a "works as designed"-type bug.

[2019-09-11 16:06] KwonTae-young commented on #13725
@jfischer-phytec-iot
I am currently in holiday season.
I'll check it next Monday. :)

[2019-09-11 16:18] #18160 closed

[2019-09-11 17:03] pabigot commented on #18530
### Proposed GPIO policies for interrupt use/safety, atomicity, etc. related to #18970

_Copied from slack, edited here based on feedback_

* All functions must be invokable from an ISR.  Functions that cannot accomplish their roles in that context may return `-EWOULDBLOCK`.
* It must be possible to disable a GPIO pin interrupt from a GPIO interrupt callback.
* All pin configuration functions (GPI

[2019-09-11 17:05] pabigot commented on #18530
The potential issue with the existing API is that the way to disable interrupts is `gpio_pin_configure_interrupt()`.  The requirements in https://github.com/zephyrproject-rtos/zephyr/issues/18530#issuecomment-530472454 are easily met for SOC GPIO drivers.  For an external GPIO chip like SX1509B disabling a specific pin interrupt would require an I2C transaction, which cannot be done from an ISR.

[2019-09-11 17:13] teburd opened #19087 "Kernel Shared Memory"
**Is your enhancement proposal related to a problem? Please describe.**
I would like to share memory from the kernel to user mode threads without copying, its clear
from #17194 and my own PR #17434 both need shared memory to perform well.

**Describe the solution you'd like**
For my own PR #17434 it is ok if a supervisor thread sets up the shared memory space first before giving it to a user mode

[2019-09-11 17:18] dcpleung commented on #18480
https://github.com/zephyrproject-rtos/hal_microchip/pull/2 fixes this.

[2019-09-11 19:31] #17443 closed

[2019-09-12 01:11] #18956 closed

[2019-09-12 01:53] #17133 closed

[2019-09-12 02:17] #18480 closed

[2019-09-12 02:26] andrewboie commented on #13074
No I don't agree.
We are creating a *Real Time* operating system that aims for functional safety certifications.
I am vigorously opposed to adding a mechanism which adds random latencies to memory accesses based on MPU faults. It's not bounded or predictable, even with pinned partitions and access hints.

You are overstating the case here.
The developer *always* needs to know what memory partition

[2019-09-12 02:58] ejohnso49 opened #19096 "No error thrown for device tree node with missing required property of type compound"
**Describe the bug**
The scripts for parsing the device tree do not throw errors if a node is missing a required compound property.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a device tree node with a required compound property. From [zephyr/boards/arm/nucleo_l496zg/nucleo_l496zg.dts](https://github.com/zephyrproject-rtos/zephyr/blob/ee525c2597c78c98a3988d403d4859e4cfd78ed5/boards/

[2019-09-12 03:17] nguyen-phuoc-dai opened #19098 "Failed to flash on ESP32"
I have followed the "Getting Started Guide" section to setup the environment on Windows 10 to start experience on Zephyr. Everything was OK till final step when I tried to flash zephyr to ESP32 device by "west flash -- esp-device COM44". I got "OSError: [WinError 193] %1 is not a valid Win32 application" error.

**To Reproduce**
Steps to reproduce the behavior:
1. Install windows host
2. Build sam

[2019-09-12 03:20] #16032 closed

[2019-09-12 04:43] andrewboie commented on #19087
@bfrog thanks for opening this.
I'm removed my -1 from your PR to un-block progress, and we can consider the best way to handle the IPC and memory sharing in this ticket. Would like to have at least a prototype for 2.1.

[2019-09-12 04:53] galak commented on #19096
I think this is actually implemented post 2.0.  If you try a recent SHA I think you'll see an error message for this.

[2019-09-12 04:53] galak commented on #19096
Please re-open if the current master doesn't show report an error.

[2019-09-12 04:53] #19096 closed

[2019-09-12 04:57] ejohnso49 commented on #19096
Awesome, yep you're totally right. Post 2.0 looks good.

[2019-09-12 05:26] #18138 closed

[2019-09-12 08:05] thedjnK opened #19100 "LwM2M sample with DTLS: does not connect"
Following the instructions on the LwM2M sample application page to run it in DTLS mode yields an application which does not seem to function properly and never connects to the demo Leshan server, using the non-DTLS part works fine with the demo Leshan server. There is nothing in the output log to indicate any errors but nothing to indicate it is working like there is in the non-DTLS part.

Output

[2019-09-12 10:48] eyuval opened #19103 "zsock_accept_ctx blocks even when O_NONBLOCK is specified"
I am using the zsock_accept call, expecting that when the O_NONBLOCK flag is set the call won't block. However, the call blocks and when I am locking at the code, I see that the implementation in zsock_accept_ctx (in subsys/net/lib/sockets/sockets.c)  has hardcoded K_FOREVER specified, when checking the receive queue as follows:

 k_fifo_get(&parent->accept_q, K_FOREVER);

As far as I understand,

[2019-09-13 07:16] #9482 closed

[2019-09-13 07:41] #19103 closed

[2019-09-13 07:44] pfalcon commented on #6446
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/19113

[2019-09-13 07:44] #6446 closed

[2019-09-13 07:56] #18880 closed

[2019-09-13 08:07] SebastianBoe commented on #19075
Which API is "working as designed"? k_delayed_work_submit, or something under the hood?

I'm getting that k_delayed_work_submit is told to wait for K_HOURS(20) == 72000000, which is safely within the positive range of a 32 bit signed number.

[2019-09-13 08:08] olofk opened #19133 "Scheduler change in #17369 introduces crashes"
**Describe the bug**
After commit 8ec8a58fe8475d3520c376e49821d9337afa08b5 Zephyr starts crashing on our board. Reverting the two lines in that patch makes it work again

**To Reproduce**
Build instructions for the SoC here https://github.com/chipsalliance/Cores-SweRVolf

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.10.0 and 0.10.3 tested
 - C

[2019-09-13 08:29] erwango commented on #19059
Ok, will seek answer internally

[2019-09-13 09:01] avisconti opened #19134 "Add 3-wire support to SPI protocol"
Some chips provides SPI with a half-duplex single data line (MISO and MOSI shares the same wire). Interfaces like this are commonly called "3-wire SPI".
It seems that zephyr is missing the SPI 3-wire mode feature.

I think that "struct spi_config" should be enhanced to provide the possibility to pass SPI-3-WIRE-MODE. Then drivers would accept or discard the option according to their capabilities.

[2019-09-13 09:01] rmstoi opened #19135 "net: ipv4: udp: echo server sends malformed data bytes in reply to broadcast packet"
If echo server receives UDP packet with IPv4 broadcast destination address it replies with a packet that has more bytes in UDP data. This is a regression caused by commit:

99e0ae6fd9c17d1a576211d0747a6a964bbb4d83

This is pcap of correct reply before commit 99e0ae6fd9c17d1a576211d0747a6a964bbb4d83
[before.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3609157/before.pcap.gz)

This is

[2019-09-13 10:09] finikorg commented on #19038
Tested `echo_server` app with RNDIS and `overlay-netusb.conf` on `nucleo_f412zg` - works fine.

[2019-09-13 10:13] thedjnK commented on #19100
@mike-scott OK that works for getting the non-DTLS version working, however I am unable to build for qemu (x86 or cortex-M3) with DTLS enabled because it is not including the mbedtls directories in the include paths for whatever reason:

    [33/160] Building C object zephyr/CMakeFiles/zephyr.dir/subsys/net/lib/sockets/sockets_tls.c.obj
    FAILED: zephyr/CMakeFiles/zephyr.dir/subsys/net/lib/socke

[2019-09-13 10:53] wentongwu commented on #19133
@olofk could you please describe more for the issue? for example, your configuration, test case you are running, etc.

[2019-09-13 11:18] olofk commented on #19133
My test case is a modified hello world that looks like this
#include <zephyr.h>
#include <misc/printk.h>

#include <stdio.h>

    void main(void)
    {
      int i=0;
      while(1)	printf("Hello World! %s %02x\n", CONFIG_BOARD,i++);
    }

Switching to printf and printing hex char just seems to make it more likely to crash. Perhaps because it's spending more time in the printf code. Not sure.

Wh

[2019-09-13 11:27] jukkar commented on #19100
Not sure if you copied DTLS overlay to prj.conf, but you should not do that. Just say
`cmake -GNinja -DBOARD=<our_dev_board> -DOVERLAY_CONFIG=overlay-dtls.conf ..`

[2019-09-13 11:36] pabigot commented on #19075
`struct _timeout`.

If the units of the delay were milliseconds that would be correct.  They're actually ticks, which on Nordic is 2^-15 s rather than 10^-3 s.

[2019-09-13 11:38] SebastianBoe commented on #19075
Ah, then we were speaking of different API's, I was speaking of the k_delayed_work_submit API, which uses ms as a unit (and is therefore not working as designed).

[2019-09-13 11:43] pabigot commented on #19075
You're right; that re-exposes the problem that the kernel is not consistent, or at least forward-looking, in describing the units of the APIs that normally use the K_UNIT() time conversions, nor the implicit constraints on their values due to the varying nature of the underlying clock.  Another API change to moot before we can improve timer resolution and duration.

[2019-09-13 12:18] finikorg commented on #19038
Tested `reel_board` and `frdm_k64f` works on Win10 with RNDIS.

[2019-09-13 12:43] AsgeirSH commented on #12933
@chris-makaio Did you find out anything more about this? I'm seeing some of the same symptoms with higher current consumption on an nrf9160 dev kit, even with UART and logging disabled in MCUboot.

[2019-09-13 12:50] torsteingrindvik opened #19138 "zassert prints to UART even when RTT is selected"
**Describe the bug**
[code]
the output from this failure is split into half; some of it to RTT and the rest (variadic part) to UART.

**To Reproduce**
Put the above assert in a test.

Choose RTT as backend instead of UART.

**Expected behavior**
Seeing **Assertion failed at ../src/main.c:24: test_assert: (1 not equal to 0)**
and also **hmm 123** on RTT.

**Impact**
Affects systems parsing failings

[2019-09-13 13:00] chris-makaio commented on #12933
@AsgeirSH there are SO MANY possible issues related to power management - it's hard to tell what's involved. May I suggest you create a new issue, referencing this one? Are you sure it is related to MCUboot? Maybe it's an issue with that then

[2019-09-13 13:30] #19135 closed

[2019-09-13 14:29] gnuless commented on #19066
GCC chokes on this because x86_64 lacks support for SSE and GCC doesn't know how to pass floating-point arguments (or return floating-point values) absent SSE registers.  We should probably leave the test blacklisted and close this bug.

[2019-09-13 14:34] wentongwu commented on #13074
memory domain and memory partition is to make every thread have its own "memory space" as linux process, thread A can't access the memory of thread B. If tracking k_mem_partition and k_mem_domain as a kernel object, that means accessing everyone (e.g. char key[]) belongs to one memory partition have to go though system call, otherwise other threads not given access of the above key can also read a

[2019-09-13 14:40] wentongwu commented on #19133
Ok I will consider it.
But can you please help make sure you have CONFIG_TIMESLICING enabled?

[2019-09-13 14:48] gnuless opened #19144 "arch/x86: CONFIG_BOOT_TIME_MEASUREMENT broken"
The problem appears to be an assumption some of the arch-specific benchmark points about the source of timing data.  For example, the datum taken in `crt0.S` assumes the TSC and system timer driver are synchronized and at the same frequency; this is actually not true for most (or all) of our existing x86 platforms.

**To reproduce:**

Build `test/benchmarks/boot_time` for `qemu_x86` and `make run.

[2019-09-13 15:12] gnuless commented on #19066
On a side, note, looking at the function:

[code]

Why not avoid the iteration for negative exponents, and use ``1.0 / (1 << -exp)`` ?

[2019-09-13 16:38] mike-scott commented on #19100
@thedjnK May I ask how you are checking out / building the source code?  It looks like your last test was actually using the latest v2.0.0 branch of Zephyr where MbedTLS is a separate repository checked out under "modules".  As seen in your log:
`-DBUILD_VERSION=zephyr-v2.0.0-283-g6fd6b7e50a67`

Below is a full test of the v1.14-branch using QEMU and DTLS.  This assumes you already have the depend

[2019-09-13 19:11] teburd opened #19152 "MK22F51212 MPU defines missing"
kinetis MPU defines are missing for MK22F51212 which means the MPU code will fail on SYSMPU being undefined

[code]

[2019-09-13 19:46] pabigot commented on #18999
I've looked into this, and in fact it is the first commit in #18991 that produces this build error.  But it's not that commit that's wrong.

That patch changes the type of the first argument to `z_zassert`, which is a static inline function, from `int` to `bool` to avoid some C++ warnings about implicit conversion.   It also then changes a condition `if (!(cond)) {}` to `if (cond == false) {}`, wh

[2019-09-13 20:52] lowlander commented on #18373
Do I understand correct that it only complains about the %d needing to be %ld ?

Is there any special thing I have to write in the commit messages when making a PR for this ?

[2019-09-13 21:07] lowlander commented on #18373
OK I just compiled that example and the compiler does not give a warning, when I change the %d into %ld it does give a warning.

So what should I do?

[2019-09-13 21:14] ruuddw commented on #13074
Good discussions. Predictability/determinism would rank first for me, efficiency 2nd, and ease of use 3rd. Having said that, I don't think that an on-demand, exception triggered MPU mechanism is always unpredictable or hampering real-time performance: if there are enough MPU regions to fit everything, no exceptions will trigger. And with some locking mechanism and control over the eviction, timing

[2019-09-13 21:41] jukkar commented on #19066
If the exponent is very small, then we could get wrong result.
[code]

[2019-09-13 22:01] gnuless commented on #19066
Understood. I guess you do not expect the exponent to get very large, though. So the domain isn't symmetric about 0.  Makes enough sense given the context.

[2019-09-14 14:28] pabigot commented on #18999
@ioannis I modified #18991 to patch this test by converting the assignments to comparisons.  That wasn't successful:

    mps2_an385                tests/arch/arm/arm_thread_swap/arch.arm.swap.common FAILED: failed
    Assertion failed at ZEPHYR_BASE/tests/arch/arm/arm_thread_swap/src/arm_thread_arch.c:471:
       test_arm_thread_swap: (_current->arch.swap_return_value == swap_return_val is false)

[2019-09-15 03:33] #17104 closed

[2019-09-15 09:43] wentongwu commented on #19133
@olofk I run the stress tests on several platforms with your code, I can't see any problem so far.  could you please make sure you have CONFIG_TIMESLICING enabled? You can check it in file .config.

And for " there is no reasonable explanation for some of the register values which makes me suspect problems during a context switch." could you please talk more about this? actually when running main

[2019-09-15 13:11] ehudmarvell opened #19164 "compiling native_posix64 with unistd.h & net/net_ip.h fail"
posix64 comilation fail on:

**To Reproduce**
1.
add to helloworld app the following lines

2. cd samples/hello_world/
3. mkdir build
4. cd build
5. cmake -GNinja -DBOARD=native_posix64 ..
6. use the attaching config
[config.txt](https://github.com/zephyrproject-rtos/zephyr/files/3613779/config.txt)
7. ninja
8. See error

**Expected behavior**
compilation pass

**Environment:**
 - OS: LINUX
 - Too

[2019-09-15 13:46] nashif opened #19165 "zephyr_file generates bad links on branches"
The branch name is being generated as bytes instead of a string, see
https://docs.zephyrproject.org/2.0.0/guides/tracing/index.html for example.

[2019-09-15 15:18] jcyrax opened #19167 "Message queues bug when using C++"
When using message queues API with C++ and CONFIG_SMP and SPIN_VALIDATE are both disabled, there are bugs with k_msgq structure member alignment. Message queue API inline functions will return garbage values.

As far as I understand this is because C and C++ have different rules for empty structures.
k_msgq has struct k_spinlock as nested structure, but if CONFIG_SMP and SPIN_VALIDATE are both dis

[2019-09-15 19:02] lowlander commented on #19167
@jcyrax  I added a PR, maybe you can give it a try #19168

[2019-09-15 20:47] olofk commented on #19133
@wentongwu Yes, timeslicing is enabled

    grep -r TIMESLIC
    zephyr/.config:CONFIG_TIMESLICING=y
    zephyr/.config:CONFIG_TIMESLICE_SIZE=0
    zephyr/.config:CONFIG_TIMESLICE_PRIORITY=0

Also, I have not been able to reproduce the issue in a simulator. Apart from any potential synthesis issues, the main thing that differs between the simulator and the real HW is that the memory latency is muc

[2019-09-15 22:44] #19165 closed

[2019-09-16 02:08] KwonTae-young commented on #13725
@jfischer-phytec-iot
It works fine.
![image](https://user-images.githubusercontent.com/10510127/64931245-43fc7280-d872-11e9-99c0-d47c0287ae8e.png)

[2019-09-16 05:33] xiaoliang314 commented on #13553
@carlescufi Sorry, with the update of the version, this test code can no longer work in the new version, and my time does not allow me to continue debugging it.

[2019-09-16 06:52] Jeepgoing commented on #19038
@finikorg  I bought a `frdm_k64f` board, tested it, works good. so i think it's STM32 usb drive proble?

[2019-09-16 07:07] jfischer-phytec-iot commented on #13725
@KwonTae-young :+1: maybe you would like to try `samples/gui/lvgl`, lvgl is more sophisticated as cfg

[2019-09-16 07:26] jukkar commented on #19066
Correct, the numbers related to gPTP are typically very small.

Lets close this then and I will leave the board blacklisted in this sample.

[2019-09-16 07:26] #19066 closed

[2019-09-16 07:33] jukkar commented on #19100
@mike-scott Any idea why the value is not printed properly, is there some garbage data on path?

[2019-09-16 07:51] finikorg opened #19176 "NET: LLMNR: zephyr drops IPV4 LLMNR packets"
Zephyr drops all IPv4 LLMNR packets. Check fails in `mdns_unpack_query_header` in `dns_header_rcode(dns_header)`.
I believe that the error occurs when reading packet in `net_pkt_read(pkt, dns_data->data, data_len);` inside subsys/net/lib/dns/mdns_responder.c line 301

[2019-09-16 08:06] avisconti opened #19177 "re-valuate commit 0951ce2"
Commit 0951ce2 is introducing the possibility to disable interrupt at runtime for STM32.
Nevertheless, since the EXTI lines are shared among group of pins (i.e. PA0-PI0 shares EXTI0, PA1-PI1 shares EXTI and so on), disabling EXTI0 means disabling interrupts for all group 0 of pins (e.g. Pa0/PB0/PC0/...). THis is wrong in my opinion.

As an example, in my sensortile-box bsp (see #18182) I'm using P

[2019-09-16 08:10] rmstoi opened #19178 "Segmentation fault when running echo server"
Our testing system noticed on Saturday there is an issue with echo server app. It segfaults when run. For example

`make pristine && cmake  -DBOARD=native_posix -DCONF_FILE=prj.conf  .. && make -j 10 && make run`

Causes:

[code]
Valgrind reports:

[code]

The same issue appears with QEMU, cmake command:

`cmake -DBOARD=qemu_x86 -DOVERLAY_CONFIG=overlay-e1000.conf ..`

[2019-09-16 08:10] KwonTae-young commented on #13725
@jfischer-phytec-iot I checked using lvgl. Works fine. :smile:
![KakaoTalk_20190916_170705556](https://user-images.githubusercontent.com/10510127/64942715-c56cf880-d8a4-11e9-9344-1dc419163f83.gif)

[2019-09-16 08:15] rmstoi commented on #19178
Priority is high because we cannot use most of networking samples e.g.:
echo server
mqtt_publisher

[2019-09-16 08:16] jukkar commented on #19178
This does not seem to be native_posix related as qemu is affected too.

[2019-09-16 08:26] rmstoi commented on #19178
git bisect show that causing patch is 8ce0cf0126

[2019-09-16 08:43] #19176 closed

[2019-09-16 08:43] finikorg commented on #19176
Fixed with commit 007ecbccad53fcf274ad66681e9769ed146fbe6f

[2019-09-16 08:51] thedjnK commented on #19100
@mike-scott So the reason for the different versions is what we are testing our hardware with is based on 1.14, this is being tested on a windows environment. When I test it on linux, I want to exclude any possibility that it may be caused by a bug in 1.14 so I am cloning the latest from master here (2.x) using west, and I am using linux because there is no support for qemu on windows (at least th

[2019-09-16 08:52] erwango commented on #19177
Thanks @avisconti, looking into it.

[2019-09-16 08:52] agansari commented on #19152
@bfrog K22F has no memory protection, check manual

[2019-09-16 09:14] mgiaco commented on #18749
@arnop2  I am new to this topic. But is this fix needed if i would like to run code on the M4 via uboot only. So there is no running linux needed?

[2019-09-16 09:14] emob-nordic commented on #16599
I do not record any abnormalities while testing scenario presented by @jfischer-phytec-iot . The controller acted well, I dont see any bugs here.

[2019-09-16 09:26] erwango commented on #19177
@avisconti, @mniestroj, will push a revert fixup as this could indeed be a source of regression in many cases. Then we'll take time to discuss the point.

[2019-09-16 09:32] avisconti commented on #19177
@erwango
agree.
I think the intention of the commit would require some time of re-thinking and new proposals.

[2019-09-16 09:33] #16599 closed

[2019-09-16 09:43] erwango commented on #19177
@mniestroj, can you elaborate why using existing gpio api function `gpio_remove_callback` was not fitting your need ?
(I should have start with that from the beginning)

[2019-09-16 09:44] avisconti commented on #19134
@galak @erwango @pabigot
I put you too here as I feel it is something we should have in zephyr.

[2019-09-16 09:49] nguyen-phuoc-dai commented on #19098
Hi all,

Is anyone here see the issue? Please help tell me what i can do to flash the image on ESP32
Thanks

[2019-09-16 09:58] erwango commented on #18373
@aasthagr, can you help here ? Does coverity use specific compile options?

[2019-09-16 09:59] arnop2 commented on #18749
@mgiaco
Yes this fix is needed if you want to load Zephyr 2.0 in Uboot. if loaded by Uboot, the remotre proc
driver in the ST Linux Kernel distribution is able to attach to it (i.e. retrieve the resource table to enable trace and RPMsg).

[2019-09-16 10:01] arnop2 commented on #18749
@Mani-Sadhasivam
Did you find time to test it?

[2019-09-16 10:15] thedjnK commented on #19100
@mike-scott I've tried again this morning, this time using our modified internal branch of 1.14 and I see the same error as I see with 2.x:

    /tmp/ZEPHYR_NEW/newcastle_firmware/apps/lwm2m_client/build/zephyr/include/generated/autoconf.h:4:33: fatal error: config-tls-generic.h: No such file or directory

I then tried your steps for checking out 1.14 from here and it builds and runs on qemu, the

[2019-09-16 10:34] carlescufi commented on #19051
The fix should come as part of 1.14.1. When will that be released is still not decided but should not take long.

[2019-09-16 10:44] #19177 closed

[2019-09-16 11:00] #18488 closed

[2019-09-16 11:17] eyuval opened #19181 "sock_set_flag implementation in sock_internal.h does not work for 64 bit pointers"
The implementation of sock_set_flag in subsys/net/lib/sockets/sockets_internal.h uses u32_t types and therefore does not work for 64 bit system. I am working in the native posix system:

CONFIG_BOARD="native_posix_64"
CONFIG_BOARD_NATIVE_POSIX_64BIT=y

The call to sock_set_flag happens, because I want to set the socket to O_NONBLOCK. When the sock_set_flag occurs, the ctx->user_data pointer, which

[2019-09-16 11:39] rmstoi commented on #19178
reverting 8ce0cf0 solves the segfault for now

[2019-09-16 11:47] jfischer-phytec-iot commented on #12677
closed, see comments above

[2019-09-16 11:47] #12677 closed

[2019-09-16 11:51] jfischer-phytec-iot commented on #12504
I seems to be resolved, if not reopen.

[2019-09-16 11:51] #12504 closed

[2019-09-16 12:29] jfischer-phytec-iot commented on #14906
Fixed now, among other by:
60c4882badb895d37cc0f43fa34483f847b407f3
9ba269f580bb754ef566129eab262106c3afacac
28e97c7f3a4d63546053abc2f65affe36046124d

[2019-09-16 12:29] #14906 closed

[2019-09-16 12:30] finikorg commented on #19038
This is somehow related to #16223. There are issue sending big packets over control endpoints for stm.

[2019-09-16 12:32] menglingao1997 opened #19186 "BLE: Mesh: IVI Initiator When ivi in progress timeout"
https://github.com/zephyrproject-rtos/zephyr/blob/532241d5adbfc04e61652b4ebde12c86a36cff79/subsys/bluetooth/mesh/net.c#L1351-L1375
[code]

**should check this node in primary network when initiator iv update.**

[2019-09-16 12:41] bfrog commented on #19152
@agansari that makes the most sense actually, this post in particular confused me making me think perhaps just the software support was missing for it https://community.nxp.com/thread/499985

[2019-09-16 12:41] jukkar commented on #19181
@eyuval can you test the fix if it works for you?

[2019-09-16 12:41] jfischer-phytec-iot commented on #14302
@emob-nordic Can you rerun USB3CV MSC specific test, please?

[2019-09-16 12:59] eyuval commented on #19181
I tested and it fixed this specific issue. Thanks. However, I see a different problem with using the user_data pointer to store the flags. At some places e.g. in zsock_accepted_cb, the user data pointer is cast to a net_context pointer, without erasing the flag bits in the casting. Now, if one of the flags SOCK_EOF/SOCK_NONBLOCK is on, the resulting pointer will be wrong. So in my view when using

[2019-09-16 13:05] ulfalizer commented on #19178
Think I have a fix in https://github.com/zephyrproject-rtos/zephyr/pull/19190.

[2019-09-16 13:08] jukkar commented on #19181
Yes, please do that.

[2019-09-16 13:37] eyuval opened #19191 "problem with implementation of sock_set_flag"
I am using sockets in non-blocking mode, i.e. I set O_NONBLOCK flag for my listening socket and for all newly accepted sockets. The sock_set_flag function in subsys/net/lib/sockets/sockets_internal.h uses the low bits of the net_context user_data pointer to store the SOCK_EOF/SOCK_NONBLOCK flags. I encounter problems, e.g. in zsock_accepted_cb, because the user_data pointer is used without discard

[2019-09-16 13:54] jukkar commented on #19191
I quickly went through the code and it was not clear to me where the issue is. Only place that I noticed setting ctx->user_data was in `zsock_socket_internal()` which is the `socket()` call that initializes the ctx->user_data to NULL. The socket_internal.h has `sock_set_flag()` and `sock_get_flag()` use the ctx->user_data as you mentioned. Then `sendto()` calls either `net_context_send()` or `net_

[2019-09-16 13:56] erwango commented on #19059
@shphilippe, @ydamigos, according to expert:

[2019-09-16 14:02] Mani-Sadhasivam commented on #18749
@arnop2 Not yet. Unfortunately my vacation just started this week, will try to test it whenever I have time. Thanks

[2019-09-16 14:05] #18539 closed

[2019-09-16 14:05] #18540 closed

[2019-09-16 14:07] mfiumara commented on #17731
I've looked a bit more into implementation and would suggest the following:

- Move `radio_tx_power_set` from lower link layer into https://github.com/zephyrproject-rtos/zephyr/blob/82c25587a2bc7610530154df4d984bdfa2add594/subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c#L117

- Add dynamic power variable in the BLE controller https://github.com/zephyrproject-rtos/zephyr/blob/82c255

[2019-09-16 14:51] eyuval commented on #19191
My scenario is as following:
1. I create a listening tcp socket and set it to non-blocking mode.
2. For debbuging I set a breakpoint at zsock_accepted_cb and connect to the listening socket.
3. When the zsock_accepted_cb breakpoint is hit I see the following:
    - The zsock_accepted_cb is called from _tcp_syn_rcvd  with the user_data of the listening context passed as user data. In zsock_accepted

[2019-09-16 15:03] ExtremeGTX commented on #19098
Could you please tell me if windows is 32/64-bit and if python is 32/64-bit ?
I will test this on my setup (Windows 10 64-bit/Py3.7 64-bit)

[2019-09-16 15:41] ydamigos commented on #19059
@shphilippe Could you test if PR #19194 resolves the issue?

[2019-09-16 17:10] #19178 closed

[2019-09-16 17:19] bfrog commented on #18896
Being able to use thread and ble or ant and ble at the same time would be really interesting for me as well for some future product ideas I have

[2019-09-16 17:55] aolowin opened #19198 "Bluetooth: LL split assert on connect"
**Describe the bug**
For a custom nRF52 board I recently switched from 1.14.99 to 2.0.99.

After a connection starts I see:
`assert: '!conn->llcp_rx' failed
`
and then:
`[00:02:37.065,216] <err> os: r0/a1:  0x00000003  r1/a2:  0x0000000a  r2/a3:  0x00000001
[00:02:37.065,216] <err> os: r3/a4:  0x0001e96a r12/ip:  0x000000f7 r14/lr:  0x00011073
[00:02:37.065,216] <err> os:  xpsr:  0x6100001b
[00:02

[2019-09-16 19:41] #19181 closed

[2019-09-16 19:47] carlescufi commented on #19198
@aolowin thanks for the report. Can you try again now that we've merged https://github.com/zephyrproject-rtos/zephyr/pull/19137 ?

[2019-09-16 19:47] shphilippe commented on #19059
@ydamigos  I'll test when I have time. But I doubt it is the correct fix, we _have_ to wait until the stop is generated. We cannot immediately free the I2C device (the goto end will do that). Thus I still think that the cleanest fix is to remove the goto end and let the I2C driver state machine generate the stop and wait until it is done to release the semaphore.

[2019-09-16 20:24] aolowin commented on #19198
Same result using commit: 1911a7599c9f02ced307f12f41d376307cf6db47

[2019-09-16 20:27] #16097 closed

[2019-09-16 20:42] henrikbrixandersen commented on #15278
@str4t0m I use the editor from libedssharp. It's quite good.

I have CANopenNode basic functionality up and running on Zephyr, still working on EEPROM and ROM save/load support.

[2019-09-16 20:54] lowlander commented on #19167
A fix should now be in master

[2019-09-16 21:23] jcyrax commented on #19167
Thanks

[2019-09-16 21:23] #19167 closed

[2019-09-17 01:02] cvinayak commented on #19198
@aolowin I have seen this recently, and could be a bug in the new controller, there has been some work done in 1.14 controller that needs porting to 2.0. I will post updates here on the fixes.

If you can use nRF sniffer, have your application use SMP debug keys, and capture the on-air traffic, it will be easy for me to reproduce and validate a fix. You may attach the logs to this issue
.

Until t

[2019-09-17 02:26] nguyen-phuoc-dai commented on #19098
Hi @ExtremeGTX ,

Thanks for your support.

The following was my testing environment

Python 3.7.4
C:\Users\phuocdai>python --version
Python 3.7.4

OS was Windows 10 64bits
C:\Users\phuocdai>systeminfo

Host Name:                 DAIPC
OS Name:                   Microsoft Windows 10 Home Single Language
OS Version:                10.0.17134 N/A Build 17134
OS Manufacturer:           Microsoft Corp

[2019-09-17 02:42] #17337 closed

[2019-09-17 04:03] ydamigos commented on #19059
@shphilippe You are right, I forgot to remove goto.

[2019-09-17 06:20] jukkar commented on #19191
Yep, got the issue, thanks for the analysis. I will investigate how to solve it.

[2019-09-17 07:01] menglingao1997 commented on #19186
I have a question, if none of the entire Mesh nodes enable beacon `BLE_MESH_BEACON_ENABLE`, that is, there is usually no node to send the beacon. In fact, when a node performs an IVI update update, only nearby nodes(single hop) can hear this information. Unfortunately, nodes farther away will not receive this very critical information because the information cannot be effectively forwarded.

https

[2019-09-17 07:08] jukkar commented on #19191
@eyuval can you try the proposed PR? It worked in my tests but I would like to get confirmation from you too.

[2019-09-17 07:09] menglingao1997 commented on #19186
again, I think better way to check whether node in primary netwok should implemented inside the function `bt_mesh_beacon_ivu_initiator();`
[code]

[2019-09-17 07:13] jhedberg commented on #19186
@menglingao1997 I think it would be better if you sent these change suggestions as a pull request. You've clearly made a lot of good analysis and having someone else implement your ideas on your behalf is not necessarily the most efficient way of going forward.

[2019-09-17 07:58] emob-nordic commented on #14302
@jfischer-phytec-iot Same test have failed:

- Error Recovery
- Case 3
- Case 12
- CB Length
- Command Set

[2019-09-17 09:48] ExtremeGTX commented on #19098
After some analysis i can see the problem is calling the `.py` file directly on windows
https://github.com/zephyrproject-rtos/zephyr/blob/af30f2b7d4ebb547ed9ce92494c97943e5a59331/scripts/west_commands/runners/esp32.py#L81-L82

Changing this to
[code]
makes it working.

AFAIK Windows doesn't support shebang line `#!/bin/python` so you must call the required interpreter and pass the the script as an

[2019-09-17 10:45] jhedberg commented on #19186
I would say that's a badly configured network, and it's the responsibility of the network administrator to fix it, rather than something we should try to work around in the implementation. That said, I need to look into your proposed fix better to understand what exactly you're trying to do.

[2019-09-17 11:48] apapkovskiy opened #19216 "Ext library for WIN1500: different values of AF_INET"
After merging dac9268a2169f35f486bf904f52657547f84da75 (net/ip: Protocol family do not have to follow any other OS's value #12854) the external library for wifi WIN1500 and zephyr net core have different values for AF_INET:
1. zephyr/include/net/net_ip.h AF_INET is 1
2. zephyr/ext/hal/atmel/asf/common/components/wifi/winc1500/socket/include/socket.h AF_INET is 2
As a result it doesn't work properl

[2019-09-17 11:49] #13725 closed

[2019-09-17 12:08] #3877 closed

[2019-09-17 12:32] jukkar commented on #19216
According to comment in `drivers/wifi/winc1500/wifi_winc1500.c`, the driver tries to avoid including winc1500 version of socket.h
[code]
Actually this is not enough as basically we have a binary interface between zephyr and offloaded stack. The offloaded driver might have been already compiled in companion chip etc so we probably cannot change the value in HAL (is this correct assumption?).
In Zep

[2019-09-17 12:36] jukkar commented on #19216
It seems that TI simplelink HAL does this correctly, it defines SLNETSOCK_AF_INET and then maps AF_INET to SL_AF_INET in `drivers/wifi/simplelink/simplelink_sockets.c`

[2019-09-17 12:40] jukkar commented on #19216
To me this looks like a bug in the Atmel HAL, it should not define AF_INET in the first place as there can be a conflict between the value in the host OS and the HAL.

[2019-09-17 12:50] apapkovskiy commented on #19216
@jukkar ... Yes, I think you are right, it seems an Atmel's bug. Thanks for a good example from TI. I'm trying to do the same way.

[2019-09-17 13:01] gnuless opened #19219 "drivers/i2c/i2c_dw.c is not 64-bit clean"
Build `hello_world` for the `up_squared` target with `CONFIG_X86_LONGMODE` and a bunch of warnings occur.  This is harmless, but our code should build without warnings, of course.

[code]

[2019-09-17 14:37] #18657 closed

[2019-09-17 15:59] pabigot opened #19224 "deprecate spi_flash_w25qxxdv"
`spi_flash_w25qxxdv` has been superseded by `spi_nor` which is a generic driver that should support all JEDEC-compatible SPI NOR devices.  It should be removed because people with Winbond flash devices see it and think it's what they should use.  It's no longer active for any in-tree target.

There's some evidence this is being used in out-of-tree boards (a bug fix was merged 2019-04-16).
 I don't

[2019-09-17 16:34] shphilippe commented on #19059
@ydamigos  I'm sorry to nitpick, but the stop will be anyway generated because the TC/TCR flag is set (please @erwango  confirm datasheet is unclear, this is what I observe). Thus I think not manually forcing it in that condition is better. It is more generic since the TC/TCR handling (right below) will do the right thing if the user of the API would better try to do a repeated start instead of a

[2019-09-17 17:07] ydamigos commented on #19059
@shphilippe I thought the same thing at first, but I tried to keep the drivers behavior the same as before (when NACK abort transmission). What if user wants to resend a sequence of messages in case of NACK and the message, that got NACK, doesn't have STOP flag.

[2019-09-17 17:14] ioannisg commented on #11751
@andrewboie Is this issue completed?

[2019-09-17 17:15] shphilippe commented on #19059
@ydamigos  well, the driver behavior before was totally wrong. he was aborting without generating a stop. So this is definitely no something we should try to keep as a behavior.
If the user want to generate a stop, he was to put the stop flag. If he doesn't want to generate a stop and keep the bus ready for a repeated start, he should not put the stop flag.  That's what the API says. We should try

[2019-09-17 17:31] galak opened #19226 "Device Tree Enhancements in 2.1"

[2019-09-17 17:38] galak commented on #19226
[ ] Remove need of .conf file from DT used by Kconfig
[ ] Replace use of .conf from Sanitycheck
[ ] Updates to dt-binding format: simplify 'compatible' / constraint matching
[ ] Updates to dt-binding format: simplify 'include'
[ ] Updates to dt-binding format: simplify 'parent-bus' / 'child-bus'
[ ] Updates to dt-binding format: simplify 'include'
[ ] Updates to dt-binding format: category -> requ

[2019-09-17 17:44] ioannisg commented on #19216
@apapkovskiy could you please close this bug, if this is not a Zephyr issue?
Also, if you think this issue is present in hal/atmel repo ,could you please  open an issue there?

[2019-09-17 17:47] galak commented on #19216
Here's a link to bug reporting for Atmel:

https://asf.microchip.com/docs/latest/bug_tracker.html

[2019-09-17 17:48] ydamigos commented on #19059
@shphilippe We are talking about the same thing. I am following a conservative approach here. PR fixes the wrong behavior and generates a stop before aborting.

[2019-09-17 17:48] nashif opened #19227 "IOTDK uses QMSI DT binding"
Not sure why the IOTDK board is using qmsi bindings, the QMSI drivers are not enabled with this platform.

We are planning to remove the QMSI hal from zephyr, so you should look into adding your own binding and remove usage of QMSI bindings / drivers.

[2019-09-17 17:58] galak commented on #19034
We are re-working the sanitycheck script here #18603 in which this may not be an issue.  If you are willing to test that version or wait to retest.

[2019-09-17 18:01] galak commented on #19034
I think this also might be fixed in 2.0.0

c97054c1c93c7c16e2af32e4aec85198da48c598

[2019-09-17 18:15] ulfalizer commented on #19226
Working on a `child-binding:` thing now too. Works like `sub-node:`, except you put an complete binding in there, and it it works recursively too, so that you can spec stuff like this in the `foo-grandchildren` binding.

[code]

@b0661 wanted it for some pinmux thing.

[2019-09-17 18:28] nashif commented on #19004
This is not a sanitycheck issue, try:

[code]

[2019-09-17 18:42] pabigot commented on #19004
@nashif Your example does not fail on current master at af8df4f764b9348981badf6a9c8f952b043582bd; it only fails in the way you show if #18945 is restored.

I believe @galak believes the underlying problem is due to cmake errors not causing the build to fail, which is a newly discovered problem with a fix in the works somewhere.

[2019-09-17 19:27] nashif commented on #19004
Correct, this fails with 6e46a64

not sure I understand the above. In any case, this really is a build system issue, not related to sanitycheck.

[2019-09-17 20:27] pabigot opened #19231 "native_posix_64/tests/subsys/fs/fat_fs_api/filesystem.fat fails"
sanitycheck on a 64-bit Linux host always fails with this error:
[code]

The cause is that on this platform the `DWORD` typedef in fatfs is a 64-bit integer, but the implementation of `disk_flash_access_ioctl` assumes the output value is always a pointer to a 32-bit integer.  As such the sector count and size parameters are half garbage, and a check in `f_mkfs` fails returning an error code.

[2019-09-17 21:51] dleach02 commented on #19216
I would argue that the Zephyr definition for AF_INET is the problem. I get that this is a define but if you are going to need to pass this value over an interface than we should attempt to align with convention. The convention was established with Berkeley Sockets and replicated across many different OS/RTOS platforms that I can see. And while we are at it we should go ahead and change AF_INET6 as

[2019-09-17 21:54] gnuless opened #19235 "move drivers/timer/apic_timer.c to devicetree"
This driver uses `CONFIG_*` but should use devicetree.  Migrate.

[2019-09-17 23:20] shphilippe commented on #19059
@ydamigos I fail to understand your reasoning wrt to which change is more conservative.

Before this patch:
- In case of before-end-of-transfer NACK: Driver does not generate STOP, current transaction is aborted, whatever the API user asked. We return -EIO to the caller. The next transaction will be a start on the bus, thus will be interpreted as a repeated start.

With your proposed change:
- In

[2019-09-18 01:04] wentongwu commented on #19133
@olofk AFAIK, if CONFIG_TIMESLICE_SIZE=0, the time slicing will not be started. The timer driver developed by yourself or just use the existing one? Do you run the test cases located in tests/kernel before/after this change?

[2019-09-18 01:14] andyross commented on #19133
Throwing some more questions on the table:

* It's not an existing test, it's your own code?  How many threads are runnable at the time of the crash, and what is their priority values?

* Reverting just that one change, and nothing else, fixes the problem, correct?

* Does setting CONFIG_TIMESLICING=n also work?  How about setting CONFIG_TIMESLICE_SIZE to some non-zero value?

I'm as confused as @

[2019-09-18 01:25] nguyen-phuoc-dai commented on #19098
Hi ExtremeGTX,

I did follow your guide and it works like a charm.

Thank you very much

[2019-09-18 01:38] chen-png opened #19238 "tests/subsys/usb/device failed on reel_board."
**Describe the bug**
tests/subsys/usb/device failed on reel_board, this issue occurred after the commit ID 3fe53db5c.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=reel_board tests/subsys/usb/device
2. west flash

**Screenshots or console output**
***** Booting Zephyr OS build zephyr-v2.0.0-474-ga077bdd417d5 *****
[00:00:00.004,882] [0m<dbg> usb_descriptor.usb_get_device_desc

[2019-09-18 01:53] chen-png opened #19239 "tests/kernel/common failed on iotdk board."
**Describe the bug**
tests/kernel/common failed on iotdk board, this issue occurred after the commit ID 3fe53db.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=iotdk tests/kernel/common
2. west flash

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - OS: Fedora28
 - Toolchain: Zephyr-sdk-0.10.3
 - Commit ID: a077bdd

[2019-09-18 04:17] ydamigos commented on #19059
@shphilippe My proposed change is conservative. It fixes the issue (generates a STOP after NACK) and aborts the transmission. The task (user) should acquire the bus again to start a new transaction.

I don't think it is that simple. What if we are in a multi-tasking scenario and two tasks use I2C bus to talk to different devices. The both try to get the I2C bus, and the first task gets it (second

[2019-09-18 06:17] andrewboie commented on #19239
What implementation of atomic operations is this board using?

[2019-09-18 07:13] eyuval commented on #19191
I tested the patch and for me it fixes the issue. Thanks.

[2019-09-18 07:21] jukkar commented on #19216
The point is that the value should not be passed as is over an binary interface because it is not standardized. People might be using some historic value for AF_INET, but it cannot be know for sure that it is the same value everywhere. So ATMEL HAL should it it properly instead of trying to dictate how the networking stack in the host system is implemented.

What the Atmel HAL is doing wrong here,

[2019-09-18 07:47] Lowentwickler opened #19243 "Support SDHC & samples/subsys/fs on FRDM-K64F"
**Describe the bug**
Comilation of samples/subsys/fs example can not be done due to missing SPI definitions

**To Reproduce**
`west build -b frdm_k64f samples/subsys/fs`

**Expected behavior**
Sample application must be compiled

**Impact**
Blocker

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - Archlinux 5.2.11-arch1-1-ARCH
 - Toolchain a

[2019-09-18 08:08] xuhao8210 commented on #19238
Added some additional information :

I found that the commit id : 2192499fe0e8951c721e73bb58239da364fd6770 caused to the failure,and there are more failure cases below on sam_e70_xplained platform due to same error. After I disabled the TEST_LOGGING_DEFAULTS optional arguments (added one row:”CONFIG_TEST_LOGGING_DEFAULTS=n” in the file:”prj.conf” of the failure case), the case can be passed.

  sa

[2019-09-18 08:13] apapkovskiy commented on #19216
Partially agree with @jukkar. But Atmel HAL is an external library and I support the notion it is the zephyr win1500 driver responsibility to map this values. As
[code]
The driver should introduce  ATMEL_AF_INET and then uses it to pass to Atmel HAL

[2019-09-18 08:23] xuhao8210 commented on #19238
@andrewboie could you please help have a look firstly ? Thanks

[2019-09-18 08:57] icephyr opened #19244 "BLE throughput of DFU by Mcumgr is too slow"
**Is your enhancement proposal related to a problem? Please describe.**
Hi guys, I met a problem about the DFU of BLE Chip, hope anyone can help on this issue, thanks.

I tried to upgrade the firmware of nRF52832 running zephyr project, with Mcumgr, the tool under linux. The Mcumgr communicates with BLE chip by BLE connection. The firmware can be successfully transferred via BLE, as shown below:

[2019-09-18 09:04] carlescufi commented on #16673
@loicpoulain will you send a PR for this?

[2019-09-18 09:09] carlescufi commented on #19038
@loicpoulain, @ydamigos could this be related to #16673 as well?

[2019-09-18 09:11] carlescufi commented on #19038
@Jeepgoing is this reproduceable on master as well?

[2019-09-18 09:13] mniestroj commented on #19177
@erwango `gpio_remove_callback` only disables application callback, but interrupts are triggered anyway. If noone is interested in the interrupts anymore, then there is no sense to keep them enabled in the MCU. Disabling them in MCU should also result in lower power consumption, because: 1) CPU does not have to clear interrupt flags after each interrupt is triggered, 2) EXTI does not have to keep

[2019-09-18 09:29] erwango commented on #19177
@mniestroj , I get your point.
Can you push a new PR and we'll discuss on this proposal (and get it tested more thoroughly),will be easier than discussing in this closed thread.

[2019-09-18 09:51] Jeepgoing commented on #19038
@carlescufi  yeap, master can  reproduceable too

[2019-09-18 10:38] jukkar commented on #19216
That could be done, but it would be only a short term workaround. Ultimately the Atmel HAL needs to be fixed.

[2019-09-18 10:49] Vudentz opened #19245 "Logging: Assert with LOG_IMMEDIATE"
uart:~$ bt init
ASSERTION FAIL [out_ctx->control_block->offset <= out_ctx->size] @ ZEPHYR_BASE/subsys/logging/log_output.c:101

Build tests/bluetooth/shell
1. mkdir build; cd build
2. cmake -DBOARD=qemu_x86
3. make
4. See error

Looks like this got introduced by 2192499fe0e8951c721e73bb58239da364fd6770 since it is only reproducible with LOG_IMMEDIATE which is now selected by TEST_LOGGING_DEFAULTS.

[2019-09-18 10:53] galak commented on #19243
If you look at `samples/subsys/fs/sample.yaml` you'll see the platforms that this sample is supported on.  The FRDM-K64F is not one of them.  I don't know if anyone has tried SDHC support on the FRDM-K64F.

[2019-09-18 11:09] ExtremeGTX commented on #19098
@galak i think this needs to be reopened and fixed.

[2019-09-18 11:22] aescolar commented on #19244
@carlescufi Can you help @icephyr ?

[2019-09-18 11:42] Lowentwickler commented on #19243
I need to make it work. Any guidance is very welcome.

[2019-09-18 12:05] explora26 commented on #19243
The SPI 1 is not enable in device tree by default.
You need add the frdm_k64f.overlay in samples/subsys/fs/fat_fs
[code]

[2019-09-18 12:08] Lowentwickler commented on #19243
Yes, I already tried this. Application is being compiled. But SD mount fails with:
[code]

[2019-09-18 12:34] galak commented on #19243
@MaureenHelm do you know if anyone's tried SDHC on FRDM-K64F.

[2019-09-18 12:55] nguyen-phuoc-dai commented on #19098
Hi @galak,

Please take your time to check and fix it

[2019-09-18 13:04] bfrog commented on #19244
@icephyr There are a few Kconfig tweaks you can try to improve BLE transfers in general, not sure if you tried increasing the number and size of the BLE RX bufs and setting the MTU higher but those can change things drastically. It still has to write to flash though, there's no avoiding that.

[2019-09-18 13:18] jfischer-phytec-iot commented on #19245
similar to #19238

[2019-09-18 13:21] jfischer-phytec-iot commented on #19238
LOG_IMMEDIATE must not be used with USB subsystem.

[2019-09-18 15:09] jbrzozoski opened #19250 "NVS: Overwriting an item with a shorter matching item fails"
**Describe the bug**
Calling nvs_write to overwrite a data item with another data item that is a truncated version of the existing data will not overwrite the old item.  The "is this equal" check in nvs_write ignores differing lengths and then compares the old/new data up to the length of the incoming item, but it should consider differing lengths as non-matching.

**To Reproduce**
Steps to reprod

[2019-09-18 15:14] Lowentwickler commented on #19243
It seems that I also need to define some more in DTS:
[code]
I am not sure about value for gpio-cs. And still can not find where I should define pins for SPI1.

[2019-09-18 15:30] Laczen commented on #19250
@jbrzozoski, thanks for reporting this. Your analysis is correct as well as the proposed fix.

[2019-09-18 15:48] carlescufi commented on #19250
@jbrzozoski thanks for the patch, could you actually open a Pull Request with that code?

[2019-09-18 15:52] carlescufi commented on #19244
@icephyr there are a lot of factors that can influence that speed. Among them there will also be your Linux host settings, as well as the Kconfig options that were mentioned by @bfrog. There is a throughput sample that you can try as a starting point for configuring the BLE stack for throughput in [here](https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/samples/bluetooth/throughput

[2019-09-18 16:14] #16452 closed

[2019-09-18 17:38] MaureenHelm commented on #19243
Not that I'm aware of. @JunYangNXP does k64 have the same sdhc controller as i.mx rt?

[2019-09-18 17:41] benpicco commented on #15551
It happened again.
@marc-hb here is `git reflog`

[code]

[2019-09-18 18:32] marc-hb commented on #15551
@benpicco shared his `--trace-expand` cmake log and `.cache/ToolchainCapabilityDatabase/` with me. Again his `.cache` is populated with incorrect information that says the option is supported. Why is this triggered by a rebase? Super weird.

I checked the actual files in `.cache/ToolchainCapabilityDatabase/`, so this is not some `extensions.cmake` bug reading the cache wrong. It could of course be

[2019-09-18 19:04] carlescufi commented on #19038
Thanks, hopefully one of the maintainers can take a look.

[2019-09-18 19:06] marc-hb commented on #15551
... yet all hope is not lost, because `.cache/ToolchainCapabilityDatabase/` has a `log.txt` file which I forgot about. The files there also have timestamps. Thanks to these I found a few things.

The reason the rebase triggered this issue is because the way `-fmacro-prefix-map` is used has changed in (at least) PR #16536. So it's normal for `extensions.cmake`  to test this option again. By the way

[2019-09-18 20:47] #19191 closed

[2019-09-18 21:21] marc-hb commented on #5633
I just noticed while looking at strange cache bug #15551 that changing option parameters like for instance ${source_dir} in`-fmacro-prefix-map=${source_directory=..` regenerates brand new entries and a bit of noise in the cache. Suboptimal but I guess not big deal; just FYI.

[2019-09-18 21:55] marc-hb commented on #16880
Done in commit 6212ec9 / PR #18741 )

[2019-09-18 22:25] dbkinder opened #19259 "doc: two-column tricks for HTML breaks PDF"
In doc/guides/networking/net-stack-architecture.rst some HTML trickery was used to fake a two-column HTML presentation (putting the explaining text next to the picture) that severely broke the PDF generation.

PR #19255 removed the trickery and the nicer presentation.  This issue is to track adding a solution that works for HTML and PDF generation.

[2019-09-19 00:48] #15841 closed

[2019-09-19 01:07] icephyr commented on #19244
Thanks you guys, I will have a try first.

[2019-09-19 01:54] JunYangNXP commented on #19243
@MaureenHelm I see the SDHC block of K6x, but didn't find detailed reference manual. Anyone can share this Doc?

[2019-09-19 02:31] #19250 closed

[2019-09-19 02:32] #19227 closed

[2019-09-19 04:37] #17548 closed

[2019-09-19 05:51] menglingao1997 opened #19263 "Bluetooth: Mesh: Friend Clear Procedure Timeout"
https://github.com/zephyrproject-rtos/zephyr/blob/99e935e2ba740c309d43a3608352e6bce494662e/subsys/bluetooth/mesh/friend.c#L647-L673

may be overflow:
[code]

due to init as:
[code]

again, mesh spec define the  friend clear procedure timeout as 2*poll_timeout.

[2019-09-19 06:54] jhedberg commented on #19263
It's almost two years ago I wrote this code, but to me it looks like the `frnd->clear.start` should simply be initialised to `k_uptime_get_32()` rather than what the code now does. Do you agree?

Regarding integer overflow, as long as we don't go past the same value as the start timestamp after wrapping around to 0, the subtraction will still yield the correct result.

[2019-09-19 07:06] erwango commented on #16673
Is that somehow linked to https://github.com/zephyrproject-rtos/zephyr/pull/16026?

[2019-09-19 07:26] menglingao1997 commented on #19263
sure

[2019-09-19 07:35] menglingao1997 opened #19265 "Bluetooth: Mesh: Friend Send model message to LPN"
When Friend node send model message to LPNs,
firstly: the message encrypt use application key and application nonce(**include SEQ**).
secondly: the **same seq** should also use to encrypt in network layer.

Obviously, this association is interrupted in the new code. In other words, seq will be inconsistent at different layers. Eventually leading to decryption failure.

[2019-09-19 07:40] jhedberg commented on #19265
Does #18745 address this?

[2019-09-19 07:43] menglingao1997 commented on #19265
Not only has this problem not been solved, it is precisely because of this pattern that this has happened.

[2019-09-19 07:56] menglingao1997 commented on #19265
![Uploading 1568879193(1).png…]()

[2019-09-19 08:11] joerchan opened #19267 "Service changed not notified upon reconnection."
**Describe the bug**
Regression in service changed from: 5f3595e47c0735021a49fba45958097d7635e9e3

The storage of the service changed CCC attribute has changed.
The variable `sc_ccc_cfg` is not put into the GATT attribute table, so when the attribute table is changed the indicate on the service changed attribute will not save service changed data for all the peers that are not connected.

In `noti

[2019-09-19 08:34] SebastianBoe commented on #16880
Shall we close this then Marc? I actually wanted #18743 to close this, but I guess #18741 is enough.

[2019-09-19 08:47] erwango opened #19270 "GPIO: STM32: Migration to new API"
**Is your enhancement proposal related to a problem? Please describe.**
Move STM32 GPIO driver tto new GPIO API

**Additional context**
Creating the issue to make action visible.

[2019-09-19 09:18] trond-snekvik commented on #19265
Looks like I screwed up. I'll take a look and see if this can be fixed properly without too big a change. Otherwise, we should probably revert #18745, as it just replaces one corner case with a much bigger one.

[2019-09-19 09:19] menglingao1997 commented on #19265
#18745 Can effectively process messages sent by other nodes to LPNs, However The friend self have  issure, and segment message may also present this problem, but due to present `seg_zero`  filed, so segment message will compute correctly `seq` even not Inconsistent between different layer.

[2019-09-19 09:22] menglingao1997 commented on #19265
but, when `segment` message `seq` is `8192` higher than `seqauth`, will be incorrect.

[2019-09-19 10:39] Lowentwickler commented on #19243
@JunYangNXP [Reference Manual](https://github.com/Lowentwickler/frdm-k64f/blob/master/K64P144M120SF5RM.pdf) see chapter 53

[2019-09-19 10:58] #19267 closed

[2019-09-19 11:08] cfriedt commented on #18807
Thanks @nashif - I can't believe I didn't see that beforehand!

[2019-09-19 11:08] #18807 closed

[2019-09-19 11:53] nashif commented on #16529
BOARD_ROOT needs to point to a directory that has a board directory structure similar to what we have in master, i.e. <oot-root>/boards/<arch>/<board>/...

--board-root of sanitycheck should point to <oot-root/boards>

I think this is where things are failing. Please confirm.

[2019-09-19 12:58] icephyr commented on #19244
Hi @carlescufi , I add the config as you mentioned, but it didn't seem to work, the throughput is about 2.5KB/s.

the configs I added are :

CONFIG_BT_RX_BUF_LEN=258
CONFIG_BT_GATT_CLIENT=y
CONFIG_BT_ATT_TX_MAX=10
CONFIG_BT_ATT_PREPARE_COUNT=2
CONFIG_BT_CONN_TX_MAX=10
CONFIG_BT_L2CAP_TX_BUF_COUNT=10
CONFIG_BT_L2CAP_TX_MTU=247
CONFIG_BT_L2CAP_DYNAMIC_CHANNEL=y
CONFIG_BT_CTLR_PHY=y
CONFIG_BT_CTLR_PH

[2019-09-19 13:04] erwango commented on #18832
Issue has been fixed, txs @kestewart

[2019-09-19 13:04] #18832 closed

[2019-09-19 13:05] erwango commented on #7564
@galak , should we keep this one ?

[2019-09-19 13:07] erwango commented on #5138
No interest in this for now. Closing

[2019-09-19 13:07] #5138 closed

[2019-09-19 13:08] pabigot opened #19282 "roll-up issue for timer/clock enhancements"
This issue is a placeholder to track the progress of changes to the controlled delay and clock infrastructure of Zephyr to support a variety of needs identified in various issues.
See the [TSC presentation](https://docs.google.com/presentation/d/1d7MGa-1CZrBWrbyiRCbgnGYJe-lAXBsmig8n8gHhUEU/) for background.

- [x] #17162 outlines the high-level concerns related to timeouts
- [x] PR #17155 proposed

[2019-09-19 13:10] erwango commented on #6858
This has been implemented and documented.
If some boards don't follow this, bugs should be raised, but there is no point to keep this issue open.

[2019-09-19 13:10] #6858 closed

[2019-09-19 13:56] fnde-ot opened #19284 "Service Changed indication not being sent in some cases"
**Describe the bug**
Service Changed data is not being persisted so in some cases a subscribed peer will not receive an indication if the GATT database changes due to a device firmware update.

**To Reproduce**
1. bonded device is disconnected
2. reboot with a new firmware containing GATT database changes
3. stored database hash does not match calculated database hash
4. new database hash is store

[2019-09-19 14:02] pabigot opened #19285 "devicetree: fixed non-alias reference to specific nodes"
This issue steps back from a solution-oriented #18986 and poses more generally the question of how to get access to devicetree node data from application and driver sources, given that code does not have the ability to follow a node path.

For background, three cases have been identified:

* Accessing a specific node requires a devicetree alias `foo = &label`, which produces node properties with t

[2019-09-19 14:04] pabigot commented on #18986
I've been convinced by the arguments that using the node label is not in line with standard devicetree practice, so I no longer support the solution I proposed.  I'm closing this and redirecting to #19285.

[2019-09-19 14:04] #18986 closed

[2019-09-19 14:29] #16880 closed

[2019-09-19 14:44] chris-makaio commented on #19134
@avisonti just came across this issue because I'm working with a device which only supports 3-wire SPI. At least for nRF52840 it seems to work out of the box - I see no problems having MISO set but not in use

[2019-09-19 15:58] aescolar commented on #19284
@fnde-ot Do you want to assign this to yourself of @Vudentz ?

[2019-09-19 16:07] #18373 closed

[2019-09-19 18:12] #17983 closed

[2019-09-19 18:31] marc-hb commented on #16880
Yes of course! sorry I totally missed it was still open.

[2019-09-19 20:11] olofk commented on #19133
Just wanted to let you know that I'm eager to get this resolved but I'm fighting against a deadline so I won't be able to work on this for another week.

[2019-09-19 20:48] jukkar commented on #15278
The GPL-2.0 license is not compatible with Apache-2 license that we have in Zephyr, so your port cannot be put upstream. Did you had plans to upstream your CANopenNode port?

[2019-09-19 20:51] henrikbrixandersen commented on #15278
CANopenNode is licensed under GPL-2.0 with linking exception and the CANopenNode repository is a separate module. I was hoping to upstream it, yes.

[2019-09-20 00:49] #18465 closed

[2019-09-20 01:15] JunYangNXP commented on #19243
Seems the SDHC of K64 is subset of uSDHC of RT, Zephyr usdhc driver is supposed to support this by additional changes and some configurations.
I am wondering if the SD interface of FRDM-K64F is controlled by this SDHC or SPI?

[2019-09-20 04:18] jukkar commented on #15278
ping @nashif any idea whether upstreaming this piece of code is possible?

[2019-09-20 06:20] henrikbrixandersen commented on #15278
The WIP integration can be seen here: https://github.com/vestas-wind-systems/zephyr/tree/canopennode

[2019-09-20 06:32] cwshu opened #19299 "kernel/spinlock: A SMP race condition in SPIN_VALIDATE"
**Describe the bug**
This bug is same as #14807 but it is closed, So I open a new issue to report it. (If this isn't the right way to reopen an issue, then would you kindly tell me how to do it?)

When both SPIN_VALIDATE and SMP(cpu_num = 2) on, z_spin_lock_valid() occasionally generates assertion of "recursive spinlock" when I run samples/synchronization or tests/kernel/smp. I find there is a rac

[2019-09-20 06:47] fnde-ot commented on #19284
I can have a go at it unless @Vudentz prefers to take it.

[2019-09-20 07:09] Lowentwickler commented on #19243
@JunYangNXP you can find [Schematic](https://github.com/Lowentwickler/frdm-k64f/blob/master/FRDM-K64F-SCH-E4.pdf) It seems it is controlled over SDHC.

[2019-09-20 07:20] Vudentz commented on #18583
Is this still an issue with 2.0? I don't see read request after the second connection or is that the issue? Anyway it appears to be on the BlueZ side.

[2019-09-20 07:22] Vudentz commented on #17781
Not with mesh, with IPSP it might be possible if you have a gateway to route the IP traffic but having mesh with IPSP means you can not longer use the whole bandwidth for advertising/scanning.

[2019-09-20 07:22] #17781 closed

[2019-09-20 07:36] ulfalizer commented on #10338
This has been added now.

[2019-09-20 07:36] #10338 closed

[2019-09-20 08:18] aescolar commented on #19299
CC @andrewboie @andyross

[2019-09-20 10:17] JunYangNXP commented on #19243
@Lowentwickler Then you need to make uSDHC driver working for FRDM-K64F, which does not depends on SPI. You can refer the MIMXRT1050 configuration for this. But  uSDHC driver is supposed to change to work for K64.

[2019-09-20 11:00] Lowentwickler commented on #19243
@JunYangNXP definitions from `../modules/hal/nxp/mcux/devices/MK64F12/MK64F12.h` are different than in `../modules/hal/nxp/mcux/devices/MIMXRT1052/MIMXRT1052.h`.

For example:
[code]

It is not hard to find proper analogs, but it seems wrong way for me to correct it in MK64F12.h, neither in disk_access_usdhc.c. What is the Zephyr way for this situation? Make a copy of disk_access_usdhc.c and make

[2019-09-20 13:25] loicpoulain commented on #19038
I'm going to have a look

[2019-09-20 13:56] JunYangNXP commented on #19243
The sdhc of K64 is subset of that of RT, so the driver is not exactly compatible to K64 and needs further development. Any sdhc relevant definition in soc header is supposed to be moved driver header.

[2019-09-20 14:12] galak commented on #19243
I'd suggest maybe making whatever hacks to the driver you need to make it work.  If you want to post that as a draft PR we can probably than provide guidance on how to clean up the driver/etc to get it acceptable upstream.

[2019-09-20 15:25] gnuless opened #19307 "_interrupt_stack is defined in the kernel, but declared in arch headers"
`kernel/init.c` defines `_interrupt_stack` (and on SMP systems, additional per-CPU interrupt stacks), but no kernel header file exports a declaration.  As a result, most (if not all) arch trees redeclare it themselves (and `kernel/smp.c` redeclares the additional stacks).  These declarations should all be consolidated, probably in `kernel_internal.h`.

[2019-09-20 15:25] loicpoulain commented on #19038
Tried on 96b_carbon, not getting same issue, but another one with rndis. will inverstigate.

[2019-09-20 15:47] ioannisg commented on #18999
Going to pick this up @pabigot . Sorry for the delay on this.

[2019-09-20 17:00] andyross commented on #19299
Ah, indeed.  Yeah, I see it.   Just to be clear: you can only see this failure on CPU0, because only there is the zeroed-out thread_cpu value ambiguous with the CPU ID?  I don't see a patch yet, can you confirm that a fix like:

[code]

...resolves the issue?  If so, do you want to submit it or should I?

[2019-09-20 17:07] andyross commented on #19299
Just to repeat my understanding to make sure it's the same as yours:

1. CPU1 holds the lock, so thread_cpu is non-zero
2. CPU0 tries to acquire the lock, and checks thread_cpu (which is non-zero)
3. CPU1 releases the lock, making thread_cpu zero
4. CPU0 checks the CPU field of the value and finds a zero there (because the whole field is non-zero), which matches its own CPU ID, which makes it thin

[2019-09-20 18:31] #17361 closed

[2019-09-21 03:03] cwshu commented on #19299
Yes, this failure is only on CPU0.

Yes, this bugfix can resolve the race condition.
I can run it without assertion when adding some different delays.

If you are ok, I want to submit this patch.

Yes, it is same as my understanding.

[2019-09-21 23:43] #19144 closed

[2019-09-22 19:29] ioannisg commented on #19307
Got this. I think, if we go for it, we could try to address #16210, if possible.

[2019-09-22 19:29] ioannisg commented on #19307
FYI @andrewboie

[2019-09-22 20:09] Lowentwickler commented on #19243
I am debugging my driver for kinetis SDHC and getting this on first attept to read SYSCTRL register (0x400b102c):
[code]
Is it because there is something missing in Zephyr configuration?
I've added this to nxp_k6x.dtsi:
[code]
and this to prj_frdm_k64f.conf:
[code]
Also to pinmux.c:
[code]
I am new to Zephyr and don't understand some configuration concepts, so any recommendations are very welcome.

[2019-09-22 20:11] henrikbrixandersen commented on #15278
CANopenNode author comments on licensing of driver and object dictionary files can be found here: https://github.com/CANopenNode/CANopenNode/issues/105#issuecomment-533803323

[2019-09-22 21:30] #18999 closed

[2019-09-22 21:30] andrewboie opened #19317 "need a minimal log implementation that maps to printk()"
We are trending towards having our logging APIs be the de factor standard for logging in the kernel codebase, for example we recently merged a patch which causes all fatal errors to get sent to the logging mechanism, and tests now all enable CONFIG_LOG and CONFIG_LOG_IMMEDIATE.

The APIs are good, and we should continue to convert kernel code to use them. But we need to keep supporting very tiny d

[2019-09-22 22:55] andrewboie opened #19319 "tests/kernel/spinlock only runs on ESP32"
This test has a platform_whitelist of "esp32". This test should really run on any platform that supports SMP.

[2019-09-22 22:58] andrewboie opened #19320 "build error using logger in test case"
The following trivial patch:

[code]

Is expected to work, but results in a build error at link time:

[code]

I reviewed the documentation at https://docs.zephyrproject.org/latest/reference/logging/index.html and I don't see what I'm missing, if this is a problem on my end.

In this scenario CONFIG_LOG and CONFIG_LOG_IMMEDIATE are enabled. I reproduced this on qemu_x86.

Just to rule out any issu

[2019-09-23 05:34] cwshu commented on #19319
There is also a similar problem on tests/kernel/mp. It is only runs on ESP32 (platform_whitelist), but I think it should run on any SMP platform because it is test for SMP API: z_arch_start_cpu()

[2019-09-23 07:25] #16320 closed

[2019-09-23 07:53] ioannisg commented on #19098
@dcpleung could it be something you could look at?

[2019-09-23 08:14] jukkar commented on #15278
I am not a lawyer, but the exception looks ok to me. Anyway, it would be better if you get approval from TSC for this.

[2019-09-23 09:57] ehudmarvell opened #19325 "networking: using external buffers for tx and rx"
Hi,

I am using hw with buffer management both rx&tx.

Therefore, I need to use external buffers for rx & tx.

Currently, as I understand the zephyr support as following:
RX:
on rx it seem I can use "net_buf_alloc_with_data" but no callback registration exist while I call data_unref.

TX:
As I understand,  I can't use external buffers here, just using fixed or var buffers which allocated static.

[2019-09-23 10:03] StefJar commented on #17375
hey ho
@cybertale did do have any progress on that?

[2019-09-23 10:37] galak commented on #11172
@timork any updates on sharing anything you've got?

[2019-09-23 11:43] timork commented on #11172
Still on-progress...
We plan make PR on December time-frame.

[2019-09-23 11:48] Laczen opened #19326 "Zephyr Incubator Module"
## Introduction

As zephyr is evolving there is a continuous struggle in getting new features approved and maintaining the required code quality. This proposal  discusses a method that allows developers to propose and submit new zephyr extensions that can be tested by users while maintaining the required code quality.

### Problem description

When developers are proposing a new extension to zephy

[2019-09-23 11:58] #19216 closed

[2019-09-23 12:02] apapkovskiy commented on #19216
After discussion I think it is not a bug, I'm not sure it is the Atmel HAL needs to be fixed but it is outside the topic.

[2019-09-23 13:52] nordic-krch opened #19328 "Logger could block in thread at certain log message pool usage"
**Is your enhancement proposal related to a problem? Please describe.**
#16194 introduces new feature to the logger which will allow blocking in threads when there is log message pool is empty (instead of dropping or overwritting the message). It happens when pool is empty so contexts which cannot block will start dropping messages at that point.

**Describe the solution you'd like**
Instead of bl

[2019-09-23 14:09] jfischer-phytec-iot commented on #19326
I do not understand where the problem lies, why is it not available? If an extension is a PR then a user can check it out and test it.

[2019-09-23 14:45] Laczen commented on #19326
Hi @jfischer-phytec-iot, thanks for the comment. The extensions are is not easily available, you need to search the PR list to find it.

[2019-09-23 17:51] andrewboie commented on #19245
[code]

I'm having trouble reproducing this, as running this sample requires a working bluez installation, and I get the above build error in bluez git master when I try to build it for my Ubuntu 18.04 machine (the distro bluez packages do not provide btproxy)

At any rate, I just enabled immediate mode logging for tests, I'm not as deeply familiar with its internal implementation as some others (

[2019-09-23 17:59] andrewboie commented on #18173
@ioannisg please consider adding https://github.com/zephyrproject-rtos/zephyr/issues/19067 to the list.
I can take a look at implementing it if you don't have the bandwidth.

[2019-09-23 19:37] jukkar commented on #19325
Can you elaborate more what you mean by that? Do you mean offloaded network stack?

[2019-09-23 19:38] ioannisg commented on #18173
You're right  @andrewboie that one should be in for 2.1. I 'll include it.

[2019-09-23 20:14] ioannisg commented on #18441
@aasthagr could you please mark this as fixed/false-alarm?

[2019-09-23 20:39] lawrencek52 commented on #19282
I like the concept of making timeouts independent of milliseconds, great plan. I read through the APIs, and the fact that everything gets converted to local units at compile time makes this quite low overhead.

64-bit numbers are a little problematic, I noticed one issue with 64-bit numbers while working with the previous implementation of k_uptime_get(). It is hard to printout the numbers, in pri

[2019-09-23 20:47] pabigot commented on #19282
@lawrencek52 Agreed. We've got `lib/os/timeutil.c` where such a feature could go once we (a) have enough experience to figure out what options it might provide, and (b) reach consensus on the subset it *should* provide.

[2019-09-24 05:04] #15196 closed

[2019-09-24 06:45] nordic-krch commented on #19245
I looks like setting immediate logging for tests (and minimal logging in future #19322) has consequences:
- thread stack usage increase since logs are formatted in the caller context
- some tests on HW may stop working if logs are present in the interrupts with timing requirements (e.g. follwing log message `[00:00:00.014,373] <dbg> usb_descriptor.usb_get_device_descriptor: __usb_descriptor_end 0x

[2019-09-24 07:14] icephyr commented on #19244
Update what I have tried.

I add the configs you mentioned above, on zephyr V1.13.0 version, but it seems not work. The througput is still about 2.5KB/s. I'm not sure if it is normal.
Then I realized that maybe stopping the applications(mainly scanning) before the DFU starts will help on speed up the througput. So I stopped the scanning behaviour of BLE chip before the file transportation by mcumg

[2019-09-24 07:25] ioannisg commented on #19307
BTW,  @gnuless is it possible to have a Zephyr build without an interrupt stack?

[2019-09-24 08:09] ioannisg opened #19340 "ARM: Cortex-M: Stack Overflows when building with NO_OPTIMIZATIONS"
**Describe the bug**
We see stack overflows when building tests and samples with `CONFIG_NO_OPTIMIZATIONS=y` in various ARM platforms. [Besides, of course, tests or samples that do not build at all with this flag, due to resource limitations, which is, perhaps, OK.]

**To Reproduce**
Just build tests with `CONFIG_NO_OPTIMIZATIONS=y` and `CONFIG_HW_STACK_PROTECTION=y` on MPU-enabled ARM boards, and

[2019-09-24 09:28] LingoMeng opened #19342 "Bluetooth: Mesh: Persistent storage of Virtual Addresses"
Is this information not stored in FLASH?

[2019-09-24 11:22] kristiankajak opened #19347 "Bluetooth: BL654 USB dongle not found after flashing"
Dear Zephyr community, hope you can help me out with this one.

**Describe the bug**
The Laird BL654 451-00004 USB dongle disappears from the USB devices list after flashing the zephyr .hex file onto it. The LED turns off and there is no indication of whether it is still working or not. Furthermore, I can't attach minicom to it for debugging purposes due to not being able to find the device.

I ha

[2019-09-24 12:13] rmstoi opened #19348 "net: TCP/IPv6 set of fragmented packets causes Zephyr QEMU to double free"
If Zephyr QEMU echo server receives couple of TCP/IPv6 fragmented packets it quits with log:

[code]
After this happens, TCP context stops working, Zephyr prints for incoming TCP segments:

`[00:01:58.440,000] <dbg> net_tcp._tcp_syn_rcvd: (0x0013b918): Context 0x0013a5e0 is not listening
`

Two pcaps are attached. This issue is reproduced by sending pcaps as: frag1.pcap.gz && frag2.pcap.gz && frag

[2019-09-24 12:34] menglingao1997 commented on #19342
Virtual Address?

[2019-09-24 12:45] jfischer-phytec-iot commented on #19347
You flashed an example without USB functionality and expect USB host to enumerate the device? Please try `samples/subsys/usb/console`.

[2019-09-24 14:40] jhedberg commented on #19342
It seems this is one feature that's not yet implement. I think the 16-bit format group addresses will be stored, but we don't store (or restore) the virtual label UUIDs, i.e. after a power cycle the 16-bit group addresses would be meaningless. Are you interested in contributing this feature?

[2019-09-24 15:12] kristiankajak commented on #19347
Thank you, this solved it. Well, the examples worked fine on the _nrf52_pca10040_ board. However, I did not realize that the _nrf52_pca10040_ was able to retain the USB connection because of the on-board SEGGER J-Link which the USB dongle doesn't have.

[2019-09-24 15:43] menglingao1997 commented on #19342
No problem, but there is no time recently, waiting for the National Day holiday.

[2019-09-24 16:00] marc-hb commented on #5027
Related (or even duplicate for some?)

Enhance Testing and Test Coverage #5027
Provide a mean to find tests with 0 platforms due to bad filtering #652
No test builds these files #12860
need to improve filtering and coverage in sanitycheck #6857
Suspicious PCI and build_on_all default test coverage #15604

[2019-09-24 17:04] gnuless opened #19353 "arch/x86: QEMU doesn't appear to support x2APIC"
Even with +x2apic, QEMU in the Zephyr SDK reports no x2APIC support in CPUID.  This might be a matter of needing additional flags or lack of support in the build in the Zephyr SDK.

In any case this makes it necessary to test x2APIC on real hardware and thus x2APIC tests are excluded in CI runs.

[2019-09-24 17:14] jfischer-phytec-iot commented on #19347
No, it is nRF52832 UART connected over J-Link's CDC-ACM function
[nRF52832] <-uart-> [Debug Probe's CDC-ACM] <-usb-> [Host]

[2019-09-24 17:28] jukkar commented on #19348
We are catching double frees so the system is not crashing -> low priority atm.

[2019-09-24 17:28] andrewboie commented on #19245
Because otherwise the log buffers overflow if anything more than a few messages are printed at a time. Seriously, the defaults right now are unusable.

We can go back to disabling LOG everywhere, but wouldn't we like to get rid of all the use of printk in the kernel and just standardize on one API for emitting diagnostic messages?

The logging defaults suppress DBG messages so what's the problem h

[2019-09-24 17:41] galak commented on #19353
As far as I can tell the support should be in the SDK qemu, so its probably a flag passing/enabling issue.

[2019-09-24 17:41] dleach02 commented on #4985
@carlescufi since #4983 is closed can we move #1900?

[2019-09-24 18:19] mike-scott opened #19356 "LwM2M sample reorganization: split out LwM2M source into object-based .c files"
**Is your enhancement proposal related to a problem? Please describe.**
The LwM2M sample has become fairly complex over the last 2 years.  I propose to break out each LwM2M object / configuration into it's own source file.

**Describe the solution you'd like**
Each object-based .c file could be located under the `src/lwm2m/` directory.  This way new users of the code can easily locate things they

[2019-09-24 18:20] mike-scott commented on #19356
@endian-benjamin @retfie FYI

[2019-09-24 18:34] andrewboie commented on #19307
Why would you want to do this?

[2019-09-24 18:43] andrewboie commented on #19340
We need to fix this because code coverage requires optimizations disabled.

First step is to identify what tests are failing, we can use results for mps2_an385 to determine this

[2019-09-24 22:23] andrewboie commented on #15304
Further detail:

[code]
Right now each script generates a gperf hash table and instantiates some objects

gen_kobject_list.py:
- Scan the elf binary for instances of any type of kernel object
- Generate a table of struct _k_object for every kernel object found in the build.
- The hash table map kernel object memory addresses to kernel object metadata (struct _k_object), where the _k_object gets in

[2019-09-25 00:41] stephenmasih opened #19361 "BLE Scan fails to start when running in parallel with BLE mesh"
**Describe the bug**
When I try to start the scan before mesh initialising followed by self-provisioning and configuring. It fails with error code -11.
When I first successfully initialise, provision and configure the mesh. and then call bt_le_scan_start(). It fails with error code -69. But I am able to publish and subscribe to the mesh messages.

**To Reproduce**
Steps to reproduce the behaviour:

[2019-09-25 05:05] ehudmarvell commented on #19325
it is king of offload network, on rx the hw fill buffers which I fill before and I can move it to os without any copy. On tx, after the hw sending the buffer it return it back to its(hw bm) pool without any SW actions

[2019-09-25 05:37] maksimmasalski commented on #19239
@chen-png are you sure that problem started to happen after that commit #3fe53db ? Because it seems that commit wasn't connected with any of the core changes of the kernel.

[2019-09-25 08:08] jhedberg commented on #19361
Unfortunately this is currently by design. The Mesh stack essentially "owns" the advertising and scanning functionality and any attempts to make direct calls to `bt_le_adv_start()` or `bt_le_scan_start()` will result in errors or messing up the state of the mesh stack. We do have plans to fix this, but that involves having a controller that either supports Advertising Extensions, or Mesh HCI vendo

[2019-09-25 08:19] stephenmasih commented on #19361
I see, can you tell if there are any possible ways because the mesh follows the observer capabilities. It picks up packets and does the work accordingly. Can I filter out beacon packet of a particular type somewhere in the zephyr code?

[2019-09-25 08:27] maksimmasalski commented on #19239
@andrewboie @ioannisg
Do you have any concerns where is the problem? Today I tried to use GDB to debug it, and program crashes in line 47 of the file atomic.c `atomic_add` function.
I commented that function out from the file atomic.c,
`	/* atomic_add() */
	target = 1;
	value = 2;
	zassert_true((atomic_add(&target, value) == 1), "atomic_add");
	zassert_true((target == 3), "atomic_add");`
and also

[2019-09-25 08:30] jhedberg commented on #19361
@stephanosio currently you'd need to manually edit the `bt_mesh_scan_cb() function in `subsys/bluetooth/mesh/adv.c` to add support for non-mesh advertising packets.

I would like to introduce a more flexible scan API which would allow having multiple callbacks, perhaps even per advertising data type, however I put this work on hold when I realised we'd probably need to property take into account A

[2019-09-25 08:43] vonhust opened #19363 "arc: bug in _firq_enter"
**Describe the bug**

  * If firq is a nest interrupt, _firq_enter will do
      some operations to get the sp of interruptted stack to
      make sure the firq and normal firq share the same interrupt
      stack. In these operations, push and pop are required to free
      some regs.
  * In ARC, pop reg ==> sp=sp-4; *sp= b; The original codes have bug
      which will crash the interruptted stac

[2019-09-25 08:55] jfischer-phytec-iot commented on #19038
@loicpoulain You can use [testusb sample](https://docs.zephyrproject.org/latest/samples/subsys/usb/testusb/README.html?highlight=testusb) to reproduce the issue, please try TEST14 e.g. `testusb -v 1 -t 14 -c 3 -D /dev/bus/usb/005/056`. If I remember correctly, the device will get stuck after third transfer. Please ask me if you need help with the testusb tool.

[2019-09-25 09:05] stephenmasih commented on #19361
Thank you @jhedberg FYI. Let me try editing the bt_mesh_scan_cb() in adv.c . Can you please tell me if it is possible to work with mesh beacons. As I see,
case BT_DATA_MESH_BEACON:
			bt_mesh_beacon_recv(buf);
			break;
What kind of beacon packet type does it pick up?

[2019-09-25 09:33] jhedberg commented on #19361
@stephenmasih see section "3.9 Mesh beacons" in the Mesh Profile Specification.

[2019-09-25 09:49] rmstoi opened #19367 "net: TCP/IPv4: TCP stops working after dropping segment with incorrect checksum"
If Zephyr echo server receives TCP segments with incorrect checksum it rightfuly drops them (tcp-incorrect-checksum.pcap.gz).

[code]

But after that it stops replying to basic SYN (tcp-syn.pcap.gz):

[code]

[tcp-syn.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3651771/tcp-syn.pcap.gz)

[tcp-incorrect-checksum.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3651772/tcp-

[2019-09-25 10:00] jukkar commented on #19325
This sounds similar as what `drivers/ethernet/eth_sam_gmac.c` is doing, please check if you could do similar things in your driver.

[2019-09-25 10:02] jfischer-phytec-iot commented on #19038
@loicpoulain Please take a look at #19272, there are some automatics for Setup/Data stage handling in usb_dc_stm32, so maybe it is related.

[2019-09-25 10:19] rettichschnidi commented on #17005
Had another call: Still WIP, but still looking good.

[2019-09-25 11:42] thomasthep commented on #18896
@bfrog I'm working on a small proof of concept. As soon as I get anywhere near some usability, I'll create a branch.
@carlescufi Would it make sense to also create documentation for the SoCs similar to 'supported boards'? The SoC is basically the main building block and boards would have peripherals and other features on top, or some other features might be disabled (such as pins not routed on the

[2019-09-25 11:44] thomasthep commented on #18934
@carlescufi Would it make sense to also create documentation for the SoCs similar to 'supported boards'? The SoC is basically the main building block and boards would have peripherals and other features on top, or some other features might be disabled (such as pins not routed on the PCB). That's something I have been missing when going through the docs.

Adding it to the boards makes it redundant

[2019-09-25 12:00] jukkar commented on #19367
Managed to get zephyr in the same state by sending initial SYN, waiting SYN-ACK, and then sending ACK using scapy. After this zephyr connection is in ESTABLISHED state as seen here
[code]
My scapy script then sends invalid checksum packet (end of the full log below)
[code]
Then I try to connect to zephyr again using `echo-client 192.0.2.1 -t`, this will cause following message in zephyr side
[code

[2019-09-25 12:00] #19367 closed

[2019-09-25 12:18] vonhust opened #19370 "bugs in kernel/atomic_c"
**Describe the bug**
in kernel/atomic_c.c line 335
`#ifdef USERSPACE` should be `#ifdef CONFIG_USERSPACE`

and in kernel/atomic.c line 40
[code]
should be

[code]
because, e.g. in the generated atomic_add_mrsh.c, there is a declaration:
`extern atomic_val_t z_vrfy_atomic_add(atomic_t * target, atomic_val_t value);`

**To Reproduce**
Steps to reproduce the behavior:
0. cd tests/kernel/common
1. mkd

[2019-09-25 12:20] SebastianBoe commented on #19340
I think this is reasonable.

We are already doing this for various other stacks, so doing so for these stacks as well would follow prior-art and sounds reasonable.

There is no known clean way to solve this problem in the general case.

[2019-09-25 12:50] kapi-no commented on #18050
Could you also fix the problem of starting an advertiser when Host has run out of connection objects as part of this task?

[2019-09-25 14:24] rmstoi opened #19374 "net: echo server: TCP add support for multiple connections"
Currently Zephyr echo server TCP supports only one connection. In reality supporting multiple TCP connections is a must in a device that is not booted constantly and has uptime of more than few hours. Hence, it would be good to support multiple TCP connections in Zephyr echo server

See #19367 for details.

[2019-09-25 15:20] codingspirit opened #19376 "Build on a ARM host"
[This is a question]Dear zephyr community, hope you can help me on this. Stuck here for a while and any suggestions will be appreciated. Thanks a lot.

**Describe the bug**
I'm trying to setup zephyr build environment on raspberry pi, so the host will be raspberry pi and the target will be stm32f4 MCU. It seems that the SDK binaries provided by zephyr is for host x86-64 only. Is there any other wa

[2019-09-25 15:25] carlescufi commented on #19347
Resolved.

[2019-09-25 15:25] #19347 closed

[2019-09-25 15:32] galak commented on #19376
If there's arm embedded build of GCC with the distro you are running on the RPI than you could try the instructions for using a generic toolchain here:

https://docs.zephyrproject.org/latest/getting_started/toolchain_other_x_compilers.html

[2019-09-25 15:33] #19098 closed

[2019-09-25 15:46] menglingao1997 commented on #19265
I'll take a stab at this :)

[2019-09-25 15:49] jhedberg commented on #19265
Hold on. If I understood right @trond-snekvik already has some code for this, but perhaps didn't yet open a PR. @trond-snekvik can you confirm?

[2019-09-25 15:58] ulfalizer opened #19380 "Potential bugs re. 'static inline' and static variables"
Prompted by some discussion on Slack, haven't looked for problems.

If you put

[code]

in a header, you'll get a separate `x` variable for each translation unit that includes it. It works just like a regular `static` function there. The `inline` makes no difference.

@tautologyclub might've found some stuff that assumes `x` is shared.

[2019-09-25 16:00] gnuless opened #19381 "`k_yield()` exhibits different behavior with `CONFIG_SMP`"
Using the latest master (currently 536e785b932b3b246891c8a8aa0075e387e1ed4a).

The documentation for `k_yield()` says:

... but the SMP scheduler (on a single-processor system) does not appear to yield control to other equal-priority threads.

Sample program:
[code]
Basically, two threads are created of equal priority which busy-loop and print an identifying number periodically, yielding each time

[2019-09-25 16:04] tautologyclub commented on #19380
Yeah apart from `coap_next_id()` from `coap.h` (fix incoming in https://github.com/zephyrproject-rtos/zephyr/pull/19217), I found one instance that looks slightly dubious in `subsys/net/ip/net_private.h`:

[code]
Not sure it will cause any bugs, but it certainly looks shady. Note that in the case of `coap_next_id()`, it DID cause very serious bugs.

Note: my methodology for finding them is probabl

[2019-09-25 16:11] andyross commented on #19381
Did you get a chance to try over #19381?

[2019-09-25 16:47] gnuless commented on #19381
I clicked this link until my stack overflowed

[2019-09-25 16:56] gnuless commented on #19381
a5ad00ca82cc6ca4a9636a051399b62c09fc5901 in https://github.com/zephyrproject-rtos/zephyr/pull/18531 fixes this

[2019-09-25 18:16] WilliamGFish opened #19385 "compilation error"
**Describe the bug**
When compiling receive following error:
[code]

**To Reproduce**
Compile via west for NRF52840 DVK

**Expected behavior**
yaml file updated to remove error

**Impact**
annoyance, may become showstopper awaiting full impacts

[2019-09-25 18:17] marc-hb commented on #19380
I did some experimentation and disassembly with minimal examples and gcc (GCC) 8.3.1 20190223 (Red Hat 8.3.1-2). With this compiler I verified that every translation gets its own, private copy of `static int x` as expected. If that's what the author intended that I wouldn't necessarily call it "shady". Missing a comment maybe.

The bad thing about the ancient "translation units" concept is the lac

[2019-09-25 18:32] marc-hb commented on #19380
If that's not what the author intended and the author was trying to share a global across translation units, then I wonder how that passed any testing (or code review).

@tautologyclub if you go back in time before your PR #19217 , can you find any meaningful test actually using this code and passing?

[2019-09-25 18:36] tautologyclub commented on #19380
I don't think obviously inlinable functions like 'static int x; return x++' really proves anything, but I also don't believe gcc does anything but the expected (ie the variable probably always becomes translation-unit global). But neither the coap example nor the one I pasted above seems like good use cases for such statics. The question is if there IS a good use case for them - to me they seem to

[2019-09-25 18:46] marc-hb commented on #19380
It doesn't prove anything wrt to optimizations and speed, however I found it interesting wrt to this particular issue  and the general concept that `inline` never makes any *functional difference*. `static` is all what matters here.

I just posted this in #19217, would have been better here sorry:

BTW neither `gcc -Wall -Wextra`  8.3.1 20190223 nor `clang -Wall -Wextra` 7.0.1-6.fc29 says anything

[2019-09-25 19:01] trond-snekvik commented on #19265
Hey, yeah I've got a branch in progress, but I've been held up by some other issues the last few days

[2019-09-25 19:17] jukkar commented on #19380
This indeed looks shady, but actually using static buf here is good (although it was unintentional). This func is only used in various debug prints and having static buf here makes it unlikely that various debug prints would overwrite each other. Only issue is that we are increasing memory consumption but luckily it is only happening if debug level is high.

[2019-09-25 19:24] marc-hb commented on #19380
So @jukkar you're saying the code above is a trade-off between memory use and correctness where invocations from different translation units are isolated from each other but invocations from the same translation unit are not and could (harmlessly?) corrupt debug output? Just rephrasing to make sure I understood.

[2019-09-25 19:47] tautologyclub commented on #19380
Sounds pretty ad hoc to me. Either you need reentrancy or you don't. What happens if I call that sprintf function twice in the same stack? Etc... Can you truly 100% vouch for correctness in all such possible situations?

[2019-09-25 19:48] codingspirit commented on #19376
@galak  Thanks, I will try that

[2019-09-25 19:49] #19376 closed

[2019-09-25 19:59] tautologyclub commented on #19380
@marc-hb regarding tests etc, I don't believe the coap function was rigorously tested, at least not the aspect of getting called from multiple translation units. It's such a meta thing to test though so I can't blame the author.

[2019-09-25 21:36] ulfalizer commented on #19385
Fix: https://github.com/zephyrproject-rtos/zephyr/pull/19387

[2019-09-25 21:38] jukkar commented on #19380
There was no intentional trade-offs here :) The function in question was never meant to guarantee that debug output is not corrupted. So originally the idea was to minimize memory usage by using static variable. As the function is inlined, it is actually harder to corrupt the output which is nice in this case.

[2019-09-25 21:42] WilliamGFish commented on #19385
My error is with the NRF52 : /dts/bindings\pwm\nordic,nrf-pwm.yaml

I'm guesing that every Soc will require changes and is a much larger problem. Hence will need a review of all yaml files.

    _center-aligned:
      type: boolean
      description: Use center-aligned (up and down) counter mode
      category: optional_

[2019-09-26 03:56] #12965 closed

[2019-09-26 03:57] #19385 closed

[2019-09-26 08:27] ioannisg commented on #19340
@andrewboie @SebastianBoe thanks for the feedback.
To summarize:

Right. I am going to create a list of failing tests, and the corresponding HW platforms. And I am going to try determining the minimum IDLE, MAIN, and ZTEST stack size that fits all ARM platforms.

I see that this is fine for application developers, but won't make the tests pass in the tree with NO_OPTIMIZATIONS

OK, so let's just d

[2019-09-26 08:58] ehudmarvell commented on #19325
Hi Jukkar,

Thank you for your answer but the driver didn't seem good enough for my needs.
for example:
1. the RX buffer are allocated one on init and I need the option change then on run time.
2. As I understand this driver, the tx buffers also given by the os and I need to control thus buffers.

Thanks,
Ehud

[2019-09-26 09:31] maksimmasalski commented on #19239
@vonhust Let's try to solve that issue together.

[2019-09-26 09:58] avisconti commented on #19134
@chris-makaio
Thank you for the info. Currently I stopped investigating the SPI 3-wire because I discovered that on the board I'm working on (SensorTile.box) I can use SPI 4 wire for all the sensors.
Anyway, are you saying that you didn't do anything special to make SPI working in 3-wire mode?

[2019-09-26 12:30] #19263 closed

[2019-09-26 12:57] ngiriprasad opened #19398 "net: ENC28J60 driver does not respond to ping"
**Describe the bug**
I have interfaced "ENC28J60" module to the board "PCA10056". Flashed "Echo" application after making necessary configurations in the "menuconfig"(Also enabled ICMP). I have tried to ping the board from my host PC, on which Ubuntu is running. It is observed that board, is not responding to the ping requests. Captured this in "wireshark". Attached this wireshark capture as "wire

[2019-09-26 12:58] vonhust commented on #19239
@maksimmasalski the root cause of this issue is #19370. I will provide a fix soon

[2019-09-26 13:18] jfischer-phytec-iot commented on #19398
Does ping6 work? Btw, a zip from "from my host PC, on which Ubuntu is running" ? and why this screenshot and not diff?

[2019-09-26 13:30] SebastianBoe commented on #19380
The compiler is behaving as expected, removing bug label.

[2019-09-26 13:43] galak commented on #19326
Changing to a TSC discuss as that the proper forum for this at this point.

@MaureenHelm can you try and get with @Laczen to get on the TSC agenda.

[2019-09-26 13:46] jukkar commented on #19398
In the mailing list you mentioned that the ping worked from Windows linux subsystem, or did I understood something wrong?

[2019-09-26 13:58] carlescufi commented on #18050
I think this is different @kapi-no. I suggest @joerchan takes a look at this separately.

[2019-09-26 14:01] joerchan commented on #18050
@carlescufi We have discussed this on slack,and there is a change that we have decided to take as part of the AE work that would fix the issue mentioned. which is why @kapi-no added the reminder for it.

[2019-09-26 17:44] marc-hb commented on #19380
I realize this function is located in a file named `something_PRIVATE.h`, yet I still think this deserve a big comment/warning in the code, something like "very sharp knife here, don't do this at home", etc.

[2019-09-26 17:49] swetha-paladugu-oyo opened #19413 "Not able to scan and connect to other ble devices with HCI commands"
Hi,

I'm using nrf52832 development board.
In which i have flashed hci_uart example code of zephyr (latest code taken from  https://github.com/zephyrproject-rtos/zephyr) which acts as an interface to send HCI commands over uart.
After flashing when i tried to send
HCI_Reset
HCI_LE_rand
and got responses to them. After setting BD Address I tried to put the device in advertising mode by giving
HCI_A

[2019-09-26 17:58] ErekoseTCE opened #19414 "UART and prf not working"
** Description **
I was porting some code from the nRF52840 to the STMF7 and ran into a crash.
To get to the crash I had to bypass a compiler optimization issue with prf.c that was overwriting my global variables.
I describe what I did to bypass the prf.c issue (which you may not be able to do anything about) to get to the crash (something you might).

Attached is my code for both sides of a seria

[2019-09-26 18:04] jhedberg commented on #19413
That should work just fine. Are you perhaps missing some other critical initialisation commands such as those for event mask setting (you need to set both the normal event mask to include e.g. the LE Meta event) and then the LE event mask after that. You might want to take a look at what commands the Zephyr host issues upon init. Start with the `hci_init()` function in `subsys/bluetooth/host/hci_c

[2019-09-26 18:06] ErekoseTCE opened #19415 "typo in nucleo_l496zg.dts"
**Describe the bug**
When looking for another problem I noticed that this dts file refers to usart2_pins_d and I don't think this is such a thing, but there is a usart2_pins_b.   I don't have this board to verify.

**To Reproduce**
Steps to reproduce the behavior:
1. do a global search for usart2_pins_d in the zephyr src tree
2.Notice that it is only found in one place which is not correct and you

[2019-09-26 18:39] carlescufi commented on #19413
@swetha-paladugu-oyo please provide a full HCI trace so that we can help out further. As @jhedberg says, this is likely you failing to send commands or providing invalid parameters to them.

[2019-09-26 18:41] chris-makaio commented on #19134
Correct!

[2019-09-26 19:03] pabigot commented on #19134
@chris-makaio I'm a little confused about that.  You say you have "MISO set but not in use"; that suggests you're not using a half-duplex true 3-wire SPI (where MOSI is bidirectional) but a SPI device that doesn't use MISO (such as a common write-only OLED display).  That's a unidirectional 3-wire SPI interface, not what's being requested here.

According to https://devzone.nordicsemi.com/f/nordic

[2019-09-26 20:24] cerealkill opened #19419 "Build automation and testing tools"
**Is your feature request related to a problem? Please describe.**
I need to automate build for multiple platforms but West does not provide scriptability, only command line execution. Nor does the documentation make the build process clear and manually reproducible.

**Describe the solution you'd like**
Making west a build automation tool.

**Describe alternatives you've considered**
Better compi

[2019-09-26 20:27] chris-makaio commented on #19134
Oh sorry, I simply thought that 3-wire SPI meant half-duplex with no MISO data, shame

[2019-09-26 20:51] #19299 closed

[2019-09-26 21:15] INemesisI opened #19420 "power: system power management sleep duration"
**Is your enhancement proposal related to a problem? Please describe.**
When going into low power states (non deep sleep), the system relies on the SoC specific function `sys_set_power_state(enum power_states state)` to go into sleep.
The calling function relies on the SoC function to go into sleep for the given time and will resume normal execution right after calling it.
However the SoC function

[2019-09-26 21:36] erwango commented on #19414
Thanks for reporting this issue.
FYI, it might take some time for me to have the time to build your project and debug in real conditions. Having a zephyr sample (if doable on your side) would be much faster for you to get a feedback. Meanwhile, can you provide log out put directly here?

[2019-09-26 21:50] ErekoseTCE commented on #19414
I didn't see a interrupt driven uart sample and I think that is key to the problem.  The hello world app works fine.

The log output is very limited (open to suggestion on how to add more).  Furthermore I have noticed some differences in how it crashes, i.e. different USAGE FAULT text sometimes.   The last output was:
***** Booting Zephyr OS zephyr-v1.14.0-175-g3c82d233e3f9 *****
[Setup_uart]  ini

[2019-09-27 01:13] #19239 closed

[2019-09-27 01:13] #19370 closed

[2019-09-27 06:42] swetha-paladugu-oyo commented on #19413
Hi @carlescufi
We tried to create a connection to nrf using another BT device from Cypress.
In the Cypress side we are getting LE Connection complete event and the connection seems to have been made properly.
But on the nRF side connection complete event didnt came.
But when we send some LE data from the Cypress side we could see that the LE data recieved event is coming on nRF side.
nRF always re

[2019-09-27 07:20] avisconti commented on #19134
@pabigot
Ah ok. Yes, that's why it is working in his case.
Thanks for pointing it out!

[2019-09-27 08:10] aescolar commented on #19420
CC @andyross @pizi-nordic

[2019-09-27 08:51] carlescufi commented on #4985
I think so, but let @ioannisg decide since he's the maintainer of TEE on Armv8-M

[2019-09-27 09:02] carlescufi commented on #18934
Yes, but we don't really have a place for documenting the SoCs themselves today. We only have documentation for boards, not SoCs, hence my suggestion. Adding a new section about SoCs is certainly and option but would require more work and buy-in from the community. I am happy to review a PoC PR in that direction.

[2019-09-27 09:25] carlescufi commented on #19413
As mentioned earlier @swetha-paladugu-oyo, would you be able to provide a full HCI log with all commands and events exchanged between the Host and the Controller? I just don't see how we can help with good knowledge unless we see what you sent to the Controller and what it replied.

[2019-09-27 10:09] jhedberg commented on #19413
@swetha-paladugu-oyo what you describe really does sound like you've failed to set the event mask. The controller might indeed be establishing a connection but it's unable to tell you because you haven't unmasked the HCI event for it.

[2019-09-27 10:15] swetha-paladugu-oyo commented on #19413
Hi @carlescufi
[Scan_nrf.txt](https://github.com/zephyrproject-rtos/zephyr/files/3662231/Scan_nrf.txt)
[Scan_ref.txt](https://github.com/zephyrproject-rtos/zephyr/files/3662232/Scan_ref.txt)
[CreateConnection_nrf.txt](https://github.com/zephyrproject-rtos/zephyr/files/3662233/CreateConnection_nrf.txt)
[CreateConnection_ref.txt](https://github.com/zephyrproject-rtos/zephyr/files/3662234/CreateConne

[2019-09-27 10:20] swetha-paladugu-oyo commented on #19413
[CreateConnection_with_EventMask_nrf.txt](https://github.com/zephyrproject-rtos/zephyr/files/3662253/CreateConnection_with_EventMask_nrf.txt)
[CreateConnection_with_EventMask_ref.txt](https://github.com/zephyrproject-rtos/zephyr/files/3662254/CreateConnection_with_EventMask_ref.txt)

Hi @jhedberg @carlescufi
We tried the same experiment by providing LE_Set_Event_Mask with "LE Connection Complete E

[2019-09-27 10:21] jhedberg commented on #19413
@swetha-paladugu-oyo you also need to enable the LE Meta event using the generic event mask HCI command. Otherwise it doesn't matter what you set to the LE Event mask.

[2019-09-27 10:21] carlescufi commented on #19413
@swetha-paladugu-oyo after a quick look at your logs I see that you are not issuing `Read Buffer Size` to the controller. That is *mandatory* as per spec. I don't think it's related but you should do it anyway.

[2019-09-27 10:27] swetha-paladugu-oyo commented on #19413
Hi @carlescufi , @jhedberg
After setting LE_Meta_event mask we are able to see the connection complete events.
Thank you so much for your help. We wouldn't have solved it without your help.

[2019-09-27 10:28] carlescufi commented on #19413
@swetha-paladugu-oyo glad to hear that! Can you close the issue please?

[2019-09-27 10:29] swetha-paladugu-oyo commented on #19413
Sure.

[2019-09-27 10:29] #19413 closed

[2019-09-27 11:31] pizi-nordic commented on #19420
I acknowledge the problem (see https://github.com/zephyrproject-rtos/zephyr/issues/14306) however in my opinion the sys_set_power_state() is not a right place to implement this feature.

The proposed solution will make the SoC code responsible for:
1. Managing timer used to wake-up from low-power mode.
2. Taking under account potential wake-up latency and scheduling a timeout earlier to mitigate i

[2019-09-27 11:48] INemesisI commented on #19420
Oh yes, I see your point.
Having a timer implementation trigger a wakeup gives us much more flexibility, especially when taking external wakeup sources into account.

Realising that my proposal really makes no sense, thank you for the clarification!

[2019-09-27 11:48] #19420 closed

[2019-09-27 12:11] paulgavrikov opened #19432 "nrfx: nrf52840_pca10056 SPIM1 cannot be selected without SPIM3"
**Describe the bug**
Enabling SPIM1 for nrf52840_pca10056 seems to enable `NRFX_SPIM_EXTENDED_ENABLED` which is only available for SPIM3. If SPIM3 is not activated the project will not compile.

**To Reproduce**
Steps to reproduce the behavior:
overlay:
[code]

prj.conf:
[code]

**Expected behavior**
SPIM1 should be selectable independent of SPIM3.

**Impact**
Showstopper.

**Screenshots or consol

[2019-09-27 12:17] markusr commented on #18803
@galak
So if I understand you correctly, both v1.14 and v2.0 will be supported until the next stable release v2.1 (which is also a LTS release).

[2019-09-27 12:26] carlescufi commented on #19419
@cerealkill have you looked at `scripts/sanitycheck`?

[2019-09-27 12:27] anangl commented on #19432
Fixed by #19399.

[2019-09-27 12:31] paulgavrikov commented on #19432
Works now. Thanks.

[2019-09-27 12:31] #19432 closed

[2019-09-27 12:53] pabigot opened #19434 "devicetree: define low-power GPIO configurations"
Configuration of a device to low-power mode generally requires GPIO pin settings that are not power-on defaults.  These settings are necessary even in situations where the connected peripheral is not in use, and require flags that are not part of the Linux standard devicetree flags supported in #16648.  Examples for the Nordic Thingy:52 (nrf52_pca20020) are in a comment below.

Ideally these flags

[2019-09-27 12:59] pabigot commented on #19434
Below are pin configurations for the `nrf52_pca20020` platform that are required to get sleep current below 100 uA.  These are informed by the [reference implementation](https://github.com/NordicSemiconductor/Nordic-Thingy52-FW) and have been validated in Zephyr in work-in-progress based on the new GPIO API.  Some of them may not be necessary, others (unclear exactly which) are necessary.
[code]

[2019-09-27 13:15] swetha-paladugu-oyo opened #19435 "how to change uart tx rx pins in zephyr"
Hi,

I'm using nordic nrf52810 development board and flashed hci_uart code of zephyr to communicate over HCI commands.
Default zephyr uses pins 6 and 8 of uart0 instance. But unfortunately the nordic has other uart tx and rx pins.
Can you please let me know where to change the tx and rx pins in zephyr code?

[2019-09-27 13:36] carlescufi commented on #19435
You might want to consider the [mailing list](https://lists.zephyrproject.org/) or [Slack](https://tinyurl.com/y5glwylp) for these kind of questions.

You need to use [Device Tree](https://docs.zephyrproject.org/latest/guides/dts/index.html)

[2019-09-27 14:15] galak opened #19437 "tests/kernel/sched/schedule_api tests fail to build"
When we do:
`./scripts/sanitycheck -p qemu_cortex_m3 -T tests/kernel/sched/schedule_api/`

We get:

[code]

[code]

Not sure if we need to have 'CONFIG_SCHED_SCALABLE=y' enabled in `tests/kernel/sched/schedule_api/prj.conf` or something else.

[2019-09-27 14:16] mfiumara opened #19438 "boot flags incorrect after image swapping"
**Describe the bug**
When uploading an image using mcumgr over BLE, after 'testing' the image and rebooting the target device, the images are correctly swapped, however, the boot flags do not get updated. This causes the image management to end up in an incorrect state and never being able to upload a new again.

**To Reproduce**
Steps to reproduce the behavior:
1. Flash mcuboot and smp_svr
2. Upl

[2019-09-27 14:22] aescolar commented on #18803
@markusr v2.1 is not planned to be a LTS
v2.0 is not supported in the same way as the 1.14 LTS is. The 1.14 LTS does get many fixes backported (just not new features) while the 2.0 will not.

[2019-09-27 14:31] mfiumara commented on #19438
Follow-up from discussion from slack with @andrzej-kaczmarek / @carlescufi.

[2019-09-27 15:36] #19363 closed

[2019-09-27 18:38] andyross commented on #19381
#18531  (pasted the correct link this time) is merged now, we can close this.

[2019-09-27 18:38] #19381 closed

[2019-09-27 20:51] #19059 closed

[2019-09-28 01:40] #19186 closed

[2019-09-28 07:28] cybertale commented on #17375
@StefJar Sorry, the DMA driver is still not finished. :disappointed_relieved:

[2019-09-28 10:55] rajputh54 opened #19447 "SEGGER_RTT.h: No such file or directory"
I'm trying to compile an example
                       samples/subsys/logging/logger/
by adding below features in prj.conf
CONFIG_LOG=y
CONFIG_LOG_RUNTIME_FILTERING=y
CONFIG_LOG_BUFFER_SIZE=2048
CONFIG_LOG_PRINTK=y
CONFIG_LOG_PROCESS_TRIGGER_THRESHOLD=0
CONFIG_LOG_BACKEND_RTT=y
CONFIG_USE_SEGGER_RTT=y
CONFIG_COVERAGE=n

but getting error
[ 33%] Building C object zephyr/CMakeFiles/zephyr.dir/subsy

[2019-09-28 11:25] ydamigos commented on #19447
Hi,

`SEGGER_RTT.h` is located under `modules/debug/segger/rtt/SEGGER_RTT.h`
Did you use [west tool](https://docs.zephyrproject.org/latest/guides/west/index.html) to get the modules?

[2019-09-28 12:33] pabigot opened #19448 "devicetree: support disabled devices"
The devicetree `status` property is generally set to one of these properties (ignoring failure states; descriptions from [v0.3-rc2](https://github.com/devicetree-org/devicetree-specification/releases/tag/v0.3-rc2)):

* `okay` Indicates the device is operational.
* `disabled` Indicates that the device is not presently operational, but it might become operational in the future (for example, somethin

[2019-09-28 13:05] ngiriprasad commented on #19398
Q1) Ping6 works fine.
Q2) I mean, I am developing my application in my laptop which is running on Ubuntu. I just want to describe my working environment by that statement. Does this answer your question(Btw, a zip from "from my host PC, on which Ubuntu is running" )?
Q3) and why this screenshot and not diff?
Ans) We have cloned Zephyr into private bitbucket of our company and developing from there

[2019-09-28 13:14] ngiriprasad commented on #19398
I didn't say about ping. I said about socket connection. But this issue is the root cause for that problem. If you need better clarity regarding the changes, i can create a branch on zephyr git hub, so that you will be aware of all the changes. Currently my changes are in a private bitbucket as I mentioned in the previous comment.

[2019-09-28 13:32] menglingao1997 opened #19452 "Bluetooth: Mesh: Mesh model implementation?"
Is there more implementation of the mesh model here?

[2019-09-28 13:32] menglingao1997 commented on #19452
Is there more implementation of the mesh model here?

[2019-09-28 13:33] jhedberg commented on #19452
Which model?

[2019-09-28 13:35] menglingao1997 commented on #19452
Generic, defined by mesh model spec. Such as generic light, generic power, generic property.

[2019-09-28 13:38] jhedberg commented on #19452
Could you come over to Slack if you're not already? That might be more convenient for this kind of discussion.

[2019-09-28 13:39] menglingao1997 commented on #19452
Okay

[2019-09-28 13:41] jhedberg commented on #19452
There's a link here if you're looking for it: https://www.zephyrproject.org/developers/how-to-contribute/

There's a dedicated #bluetooth channel for Bluetooth topics

[2019-09-28 14:26] #19452 closed

[2019-09-28 19:28] gnuless opened #19456 "arch/x86: make use of z_bss_zero() and z_data_copy()"
For reasons that are not immediately obvious, the 32-bit x86 code does not use the kernel functions supplied to zero the BSS and initialize other data regions.  This should probably be changed.

Note that at the same time, x86-optimized implementations of `memset()` `memcpy()` et al. could/should be added to the minimal libc if gcc doesn't supply decent builtin implementations.

[2019-09-29 05:49] maksimmasalski commented on #18551
@jhedberg
Hi, I was assigned to solve that issue. Can you give me please your vision of it?

[2019-09-29 06:33] menglingao1997 opened #19459 "Bluetooth: Mesh: Mesh Model State Binding."
In **zephyr/samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/**

According Mesh Model Spec.
Generic Power OnOff Server has Generic Power Actual state **bindings** with the Generic OnOff State.
Light Lightness Server has Light Lightness Actual State also **bindings** with the Generic OnOff State.

https://github.com/zephyrproject-rtos/zephyr/blob/c0c4ba85164e7ba2351315e763f0c3b9a0473ac9/sampl

[2019-09-29 07:15] #19459 closed

[2019-09-29 07:24] jhedberg commented on #19459
@vikrant8051 any comments on this?

[2019-09-29 07:45] jhedberg commented on #18551
@maksimmasalski I'm not sure what you mean. I don't really have anything further to add than what I've already commented in this issue. As it stands, there's nothing preventing C++ code from using the `bt_le_adv_start()` API. The only issue is with the `BT_LE_ADV_PARAM()` macro that only C-code will be able to take advantage of.

@pabigot said:

However I'm not familiar enough with C++ to say what

[2019-09-29 08:10] menglingao1997 commented on #19459
I'm mistake. But I still think that the coupling of this example is too big to be tailored. I think it would be better if you could make state bindings more abstract.

[2019-09-29 08:42] maksimmasalski commented on #18551
Understood. Let's see how I can help you. If @pabigot can assist me with vision how C++ must be supported in Zephyr, it will be good first entry.

[2019-09-29 08:53] vikrant8051 commented on #19459
1. Generic Power OnOff Server has **Generic OnPowerUp** state.

2. A Generic Power OnOff Server shall use the Generic OnPowerUp state to determine the behavior after a node is **powered up**.

3. Value of Generic ONPowerUp state should not get vary as we vary Gen. OnOff stae or Light Lightness Actual State. Because only user can change it (for e.g via SmartPhone Mesh App which supports  Generic Po

[2019-09-29 09:42] vikrant8051 commented on #19459
@menglingao1997
It is already represented in most simplified way compared to what Bluetooth Mesh Model Specification has stated. Architecture has designed with lots of care & thorough testing (including PTS tests). Several times I had reorganized the things to make it more simple, robust & bug free implementation. There was/is no reference openly available since all available stacks from various S

[2019-09-29 18:16] pabigot commented on #18551
The approach I've considered involves introducing material conditional on `__cplusplus` that constructs the struct value and adds an overload that takes it by reference.  Example is below just for reference: it solves this for only one case, and there are many instances of this problem.

I don't think that approach should be selected until we've carefully considered other options, because it's not

[2019-09-29 22:02] ulfalizer commented on #19448
The `status` value could just be returned directly as a string or something on the edtlib side. The code already checks that it has one of the values from the spec.

Maybe having no `status` could return "enabled" for now, just for backwards compatibility.

[2019-09-30 05:48] jhedberg commented on #18551
For the record, there are several other macros with the Bluetooth API that use the same approach, e.g. `BT_LE_CONN_PARAM()` and `BT_LE_SCAN_PARAM()`

[2019-09-30 05:54] jjmilburn commented on #12961
The [Nucleo G071RB](https://docs.zephyrproject.org/latest/boards/arm/nucleo_g071rb/doc/index.html) from the "Supported Boards" list uses the STM32G071RB, which does have an MPU.

From the [datasheet](https://www.st.com/resource/en/datasheet/stm32g071rb.pdf):

"The memory protection unit (MPU) is used to manage the CPU accesses to memory to
prevent one task to accidentally corrupt the memory or res

[2019-09-30 06:38] mron opened #19467 "Error building samples with PWM"
I'm using macOS 10.14.6. I did a new install and update of zephyr following the "Getting Started" guide.

When building for an nrf52840_pca10056,

west build -b nrf52840_pca10056 samples/basic/servo_motor  --- works.

I can build the blinky sample, and the servo_motor sample. However samples/basic/fade_led fails with:

 error: #error "Choose supported PWM driver"
 #error "Choose supported PWM driv

[2019-09-30 07:13] mrfuchs commented on #18551
As being said in the first comment, this is not exclusive to the Bluetooth stack -- [json.h](/zephyrproject-rtos/zephyr/blob/master/include/data/json.h) for example also has these macros: `JSON_OBJ_DESCR_ARRAY`, `JSON_OBJ_DESCR_OBJ_ARRAY`, `JSON_OBJ_DESCR_ARRAY_ARRAY`, `JSON_OBJ_DESCR_ARRAY_NAMED` and `JSON_OBJ_DESCR_OBJ_ARRAY_NAMED`.

[2019-09-30 07:30] maksimmasalski commented on #17852
@vonhust Are you working on that issue?

[2019-09-30 08:35] swetha-paladugu-oyo commented on #19435
Hi @carlescufi
I have changed the uart pins in file nrf52810_pca10040.dts in zephyrproject/zephyr/boards/arm/nrf52810_pca10040 folder.
And it worked..
But want to know if it is the correct place and only place where the pins has to be changed??

[2019-09-30 09:25] erwango commented on #19415
@ErekoseTCE, after a quick search it seems `usart2_pin_d` is actually valid and defined:
https://github.com/zephyrproject-rtos/zephyr/blob/bfa89782a86b23494504efc36387e8487095638a/dts/arm/st/l4/stm32l4-pinctrl.dtsi#L49

Then, fyi, sadly these references are not yet used in Zephyr and you should actually rely on inmux.c file. Device tree pinmux definitions have been pushed before the code to actual

[2019-09-30 09:47] carlescufi commented on #19435
No, you can also create your own board, and with it your own set of `.dts` files, or you can also use DT overlays, please see the documentation or look for files named `.overlay`.

[2019-09-30 10:10] StefJar commented on #17375
I wrote a simple ADC1 DMA demo driver for the STM32F4 MCU. It works fine for my purposes. I put it on github: https://github.com/StefJar/zephyr_stm32_adc1_dma_driver
Maybe @cybertale it can be used as a blueprint for a async AD1 driver using DMA and internal channels ;)

[2019-09-30 11:07] erwango commented on #19134
@avisconti, going quickly through the comments there is no more need for this ticket, am i right ?

[2019-09-30 11:13] pabigot commented on #19134
@erwango That depends on what "need" means:

Zephyr doesn't support 3-wire SPI, so we need the issue.  The original requester no longer has case where 3-wire SPI is required, so we don't need the issue.

I think it should remain open at low priority.

[2019-09-30 11:20] avisconti commented on #19134
Yes, I confirm.
I think that would be really nice to add 3-wire support to SPI API sooner or later.
But yes, I am not requiring it as for what concern sensortile.box board support.

[2019-09-30 11:26] cybertale commented on #17375
@StefJar Thanks your code! The DMA driver is very close to be merged. I also wanted to add DMA support to the ADC driver, because in zephyr, interrupt is handled first by the OS then our thread, so it becomes a bit slower, thus measuring a sequence of ADC channels is not possible since we have to retrieve ADC result every end of conversion (irq thread in zephyr is slower as I mentioned but ADC con

[2019-09-30 11:33] StefJar opened #19472 "drivers: usb_dc_stm32: shows after some time errors and warnings"
Looks like that I can manage to generate a warning/error on the usb device.
I am doing rx and tx async. I put a code snippet below which shows the important part of my code.

Setup:
[code]

Shown error:
[code]

Code snippet:

[code]

[2019-09-30 11:35] rajputh54 commented on #19447
I got the `modules/debug/segger/rtt/` directory using the west tool.

Thanks

[2019-09-30 11:35] #19447 closed

[2019-09-30 11:39] koffes opened #19473 "Missing NULL parameter check in k_pipe_get"
**Describe the bug**
MPU fault occurs if the data parameter to k_pipe_get is NULL.

**Expected behavior**
Would expect NULL to be a way to flush the pipe. E.g., we don't want the actual data, throw it away. Optionally, create a separate flush API and return an error if data is NULL.

[2019-09-30 11:53] jfischer-phytec-iot commented on #19472
Can you reproduce the issue with `samles/subsys/usb/cdc_acm`? If true, is is related to #19038 and #16673?

[2019-09-30 12:11] mfiumara commented on #17731
@tsvehagen Sorry for the late reply: what do you mean exactly with the difference in advertising and "user generated" packets? Aren't advertisements always user generated? I think adding multiple power levels will only result in confusion, so probably as initial PR I would implement a single power level.

If you agree I can start the PR.

[2019-09-30 13:30] pabigot commented on #15603
Backport is now in branch.

[2019-09-30 13:30] #15603 closed

[2019-09-30 13:32] rmstoi commented on #14668
pcap of this issue:

Linux DUT test PASS
[linux-ipv4-timestamp-recordroute.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3671426/linux-ipv4-timestamp-recordroute.pcap.gz)

Zephyr DUT PR #19470 test FAIL
[zephyr-pr-19470.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3671429/zephyr-pr-19470.pcap.gz)

FAIL reason is:
"FAIL: First Record Route entry is not DUT's IPv4 addres

[2019-09-30 13:54] StefJar commented on #19472
I am quite busy and I have no dev board here. My code is old and I created it based on the example.

I had a similar issue in Feb 2019. Different code but similar problem.

https://github.com/zephyrproject-rtos/zephyr/issues/13799

Maybe something changed and someone else have a similar problem

[2019-09-30 14:56] jfischer-phytec-iot commented on #19472
okay, I close it then. Please reopen when you can reproduce the issue with `samles/subsys/usb/cdc_acm` on latest master and it is not related to #19038 and #16673?

[2019-09-30 14:56] #19472 closed

[2019-09-30 15:03] cbsiddharth opened #19483 "Add support for Open Supervised Device Protocol (OSDP)"
## Introduction

This is an RFC on adding support for [OSDP][1] in Zephyr upstream.

In many real world applications, certain devices are meant to be fully supervised by master devices. Lack of a proper standardization between such hardware has resulted in fragmentation and interoperability between such hardware made by different vendors. OSDP is an upcoming industry standard intended to improve i

[2019-09-30 15:05] cbsiddharth commented on #19483
CC - @galak, @erwango, @Mani-Sadhasivam

[2019-09-30 15:07] paulgavrikov opened #19484 "Bluetooth: split: bt_set_name() asserts due to flash and radio coex"
**Describe the bug**
Using the split ll calling `bt_set_name()` **sometimes** fails even though no radio activity is present.
This appears to be only happening when a LE scan was started before (and stopped). Independent of the duty cycle.

**To Reproduce**
![image](https://user-images.githubusercontent.com/9333587/65889873-44345c00-e3a2-11e9-929e-9869d0285b2a.png)

Happens after a couple of loops

[2019-09-30 15:08] paulgavrikov commented on #19484
@cvinayak

[2019-09-30 15:22] mron commented on #19467
Tell me what PWMS_CONTROLLER is and where to look for it, I'll see if I can find the problem.

[2019-09-30 15:24] carlescufi commented on #19484
@paulgavrikov please let us know if https://github.com/zephyrproject-rtos/zephyr/pull/19395 fixes the issue.

[2019-09-30 15:32] paulgavrikov commented on #19484
@carlescufi #19395 does not fix this

[2019-09-30 16:46] andyross commented on #19473
This seems more like a feature request for a flush API, not a missing parameter check.  We don't document exactly what happens if the buffer isn't valid, but crashing is IMHO not a terrible choice.  It works for memcpy() after all.

I don't disagree that some kind of flush behavior should be supported, but that's an enhancement request, not a bug.

[2019-09-30 17:34] ErekoseTCE commented on #19415
My bad, I am not sure how it happened but a search in my tree did not report that entry, but then I noticed that a few dts files were not present in my tree.  I have no idea why they were missing, but a fresh checkout restored them and now I see the references you mention.    As far as I can tell those dtsi files were the only ones missing, so I must have done but can't figure out how.   Anyway so

[2019-09-30 17:34] #19415 closed

[2019-09-30 17:56] andrewboie commented on #12961
@ioannisg we really need to fix that, what board have you been testing with?

[2019-09-30 18:38] andrewboie opened #19487 "tests/kernel/fifo/fifo_usage GPF crash on qemu_x86_long"
Not sure how prevalent this crash is, it might be an intermittent issue, noticed this in a CI run for an unrelated patch:

[code]

[2019-09-30 18:42] paulgavrikov commented on #19484
Actually I am not sure if `test2()` waits for the discovery callback to be triggered. Could it be possible that a stop call is not processed if the start was issued shortly before?

[2019-09-30 18:49] stephenmasih opened #19488 "Reference and sample codes to get started with the friendship feature in ble mesh"
Please, can anyone guide me with setting up a friend node and an LPN in ble mesh?

I went through the guidelines as provided in this link
https://lists.zephyrproject.org/g/devel/topic/how_to_configure_ble_mesh_fn/28612902?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,20,28612902

I worked on with mesh-demo samples and it worked fine. I have understood the concept of friendship in ble mesh. Please

[2019-09-30 18:57] paulgavrikov opened #19490 "Bluetooth: split: 'e' assert during disconnect"
**Describe the bug**
When using the Split LL with Zephyr we occasionally observe crashes during different operations on master or slave side. Upon closer observation it looks like these asserts happen after a disconnect packet was sent. Reducing the maximum number of supported connecations does not fix this. Switching back to the legacy LL resolves this.

**To Reproduce**
Our ZTests connect to a p

[2019-09-30 19:01] ioannisg commented on #12961
@andrewboie I agree we should fix that. But we _need_ a Baseline with MPU, and, ideally, with a sufficient number of MPU regions, e.g. 8.

@jjmilburn thanks for the info; I will take a look. And I'll need to get a board, as well.

[2019-09-30 19:46] marc-hb opened #19492 "sanitycheck: unreliable/inconsistent catch of ASSERTION FAILED"
**Describe the bug**
Since large refactoring #17544, sanitycheck does not always catch ASSERTION FAILED in test output, some tests time out instead and [UPDATE] who knows, maybe others may be misreported as a PASS .

When it does catch an ASSERT, it doesn't always report it the same way which casts doubts on its entire reliability.

**To Reproduce**
Add this ASSERTION failure:
[code]

Run this:
[c

[2019-09-30 19:51] marc-hb commented on #19492
Setting priority medium because of the risk of missing test failures, can hopefully be lowered once there is a root cause.

Note there's a big sanitycheck overhaul in progress #18603

[2019-09-30 23:50] andrewboie opened #19496 "insufficient test case coverage for log subsystem"
We do not have very much test coverage for our logging subsystem.

The output of `sanitycheck --coverage -p qemu_x86 -T tests/subsys/logging/` reports:

include/logging: 84.0% line coverage, 92.6% function coverage, 18.8% branch coverage
subsys/logging: 55.9% line coverage, 63% function coverage, 51.6% branch coverage

Need to get these to 100% or exhaustively document any exceptions. Such coverag

[2019-10-01 00:04] andrewboie opened #19497 "log subsystem APIs need to be clearly namespaced as public or private"
The expectation is that the naming of functions, macros, and globals for logging follow the Zephyr coding standard that private APIs are prefixed with "z_".

Hence I would expect that symbols or macros starting with "log_" are public, and private stuff would be prefixed with "z_log_". However this appears to be inconsistently done. There are a lot of things which are scoped public but appear to be

[2019-10-01 00:04] andrewboie commented on #19497
Marking this as a bug since we have clear MISRA-C violations and we are treating APIs which are private as public.

[2019-10-01 06:32] Oanerer commented on #19483
I will be following this development with great interest - in particular the CP implementation - and will try to contribute where possible.

[2019-10-01 06:59] erwango commented on #19483
I think that main point to be discussed is the following:

Tagging `TSC` and `Licensing` so this could be discussed at requested level.

[2019-10-01 07:12] alexanderwachter opened #19502 "drivers: CAN: Unify the TX error behavior of all CAN drivers"
Currently, the CAN drivers behave differently in case of a TX error.
For example, the stm32- and mcp2515-driver retry sending after arbitration lost, where the MCUX-driver abort.

**Describe the solution you'd like**
Unify the behavior for all CAN controllers and drivers.

This issue is created to collect opinions on the desired behavior of the CAN API.
Please comment on the proposals or issue you

[2019-10-01 07:14] alexanderwachter commented on #19502
ping @karstenkoenig @henrikbrixandersen @carlescufi

[2019-10-01 07:17] alexanderwachter commented on #19502
My proposals are:
- Convert the actual mailbox-allocation-timeout to a general send timeout.
- Arbitration lost should trigger an automatic retry (until timeout)
- Error-Frames should trigger an automatic retry (until timeout or bus-off)
- NACK should trigger an automatic retry (until timeout)

[2019-10-01 07:21] alexanderwachter commented on #19502
FYI: https://github.com/alexanderwachter/zephyr/tree/can_extend_api extends the API to have a propper bus-error management.

[2019-10-01 07:30] cbsiddharth commented on #19483
@erwango, Yes that is a point of concern. Infact, I started this work sometime back and didn't raise a PR/Issue here due to this issue. Now that I have a go-ahead from SIA, thought it must be okay; but yes, we do need someone with Software Licensing experience to shed some light on this.

[2019-10-01 07:31] cbsiddharth commented on #19483
@Oanerer, https://github.com/cbsiddharth/libosdp has an implementation of CP if you are interested. This library is being designed to run on user space Linux so needs some re-work before getting in here.

[2019-10-01 08:00] tsvehagen commented on #17731
No worries :)

I think what I meant was to have one level for things like beacons where you advertise your capabilities and such. Anyway, I agree that it is a good idea to just get an interface for changing the power level globally to start things off. I'd be happy to see a PR for that.

[2019-10-01 08:06] cvinayak commented on #19484
@paulgavrikov I tried the same scenario manually using the bluetooth shell app, but could not reproduce. I tried to modify the scan_adv sample to perform the scenario by enabling settings and flash features in the sample, but could not manage to get the app to flash (and hence not reproduce your scenario).

Option 1: provide a very simple application that reproduces the issue.
Option 2: we try a s

[2019-10-01 09:29] aescolar commented on #19488
CC @jhedberg

[2019-10-01 09:36] jhedberg commented on #19488
You could start by playing around with `tests/bluetooth/mesh_shell`. It supports both LPN and Friend roles, and you can control those from the command line.

[2019-10-01 09:43] nvlsianpu commented on #19438
cc @utzig

[2019-10-01 09:43] aescolar commented on #19497
CC  @nordic-krch @jakub-uC

[2019-10-01 09:43] aescolar commented on #19496
CC  @nordic-krch @jakub-uC

[2019-10-01 10:41] pabigot commented on #17162
Experience in #17155 shows another point of discussion:  Threads, which are initialized at both compile-time and runtime, include an `init_delay` attribute which is currently `s32_t` in memory.  Threads need to be constructed by `k_thread_create()` at run time, and `K_THREAD_DEFINE()` at compile time.  Encoded timeouts as suggested in that PR cannot be created at compile-time, while using integer

[2019-10-01 11:14] pavlohamov opened #19509 "Bluetooth: stm32wb55: Unable to pair with privacy-enabled peer"
Secure connection could not be established. Fails with code 1 (BT_SECURITY_ERR_AUTH_FAIL).

The first suspicious thing to look on: if BT_SMP=y then HCI will send the peer address as ff:ff:ff:ff:ff:ff (random). For the nrf52 we'll see here some valid address.
Dumped hci packet in stm32 hold the ff ff ff .. address.

**To Reproduce**
Steps to reproduce the behavior:
1. build the peripheral_hids samp

[2019-10-01 11:15] pavlohamov commented on #19509
@erwango could you be so kind to take a look?

[2019-10-01 11:21] #19374 closed

[2019-10-01 11:47] rmstoi opened #19511 "net: TCP: echo server blocks after a packet with zero TCP options"
Test packet is TCP segment with zero TCP options. Zephyr echo server is tested in QEMU. echo server replies OK to this packet around 3 times, then it stops replying and shell blocks so that commands cannot be entered. Also TCP stops working. Before blocking it looks like Zephyr receives FIN ACK.

pcap from working scenario
[working.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/367599

[2019-10-01 13:13] ppryga opened #19515 "Bluetooth: Controller: assertion failed"
The problem is related with master device that has connected peripheral.
If one starts to write to master device flash e.g. do DFU procedure and in the meantime: disconects periperhal, after that connects it again, then assertion in callback: ticker_success_assert will fail.

Source of the problem is schedule of two ticker starts to the same ticker node (in thic case it is ticker 0). First one is

[2019-10-01 13:24] #19317 closed

[2019-10-01 13:35] pfalcon commented on #11655
I guess we have had a close to full circle on this with
https://github.com/zephyrproject-rtos/zephyr/issues/19317 and https://github.com/zephyrproject-rtos/zephyr/pull/19322. The new old printk-based logging isn't made the default, but at least it's available at everyone's fingertips. I guess it makes sense to close this issue.

[2019-10-01 13:35] #11655 closed

[2019-10-01 13:41] utzig commented on #19438
What slack is that?

[2019-10-01 13:56] nvlsianpu commented on #19438
https://zephyrproject.slack.com/archives/C18PLHN8H/p1569571003006100

[2019-10-01 14:16] utzig commented on #19438
I did a basic Mynewt test on nrf52840_pca10056 with the secondary slot stored on the QSPI flash and seems to work. This is Mynewt master with MCUBoot v1.3.1.

[code]

I am gonna try with Zephyr v2.0.0 and seen if it happens for me as well...

[2019-10-01 14:17] nixward commented on #19502
I would imagine aiming for parity with the features in the Linux CAN configuration with Kconfig would be a good ultimate goal:
https://www.kernel.org/doc/Documentation/networking/can.txt (see section 6.5.1)

If the TX automatic retry controller configuration can be defined in Kconfig then the user can configure the driver's behavior.  If the user configures the CAN driver TX without retries then t

[2019-10-01 14:29] alexanderwachter commented on #19502
The problem I see is that when a user enables automatic retransmission, there is no way to abort a transmission or have a timeout.
A Kconfig flag to disable automatic retransmission is nevertheless a good idea.

[2019-10-01 15:30] erwango commented on #19509
@pavlohamov, is that a regression ?
If yes, can you point a SHA1/setup that used to work ?

[2019-10-01 15:44] utzig commented on #19438
Ok, so I tested `smp_srv` over UART on the nrf52840_pca10056, and `mcumgr` seems to work correctly.

[code]
Did it twice just to be sure. I have not uploaded my image with `image upload`, gonna try that as well. Also I am still using only the internal flash, so I'll check how to enable the QSPI flash on Zephyr and test with that.

Not necessary related, but what is the `imgtool` command line you a

[2019-10-01 16:08] pavlohamov commented on #19509
I don't think so. I've just started to work with the wb series. Right now i'm seeking for the ST cube example that implement pairing (seems like they all are with 0 sec level)

[2019-10-01 16:58] andyross commented on #17162
It was discussed a while back that that argument to k_thread_create() is probably not a good idea to have in the API and that a better scheme would be to simply have a "initialize but do not start" flag, allowing the user to do it at an appropriate time via whatever mechanism she likes.

[2019-10-01 17:42] ValentiWorkLearning opened #19523 "Can't build fade-led example for any Nordic board"
**Describe the bug**
After generating ninja with CMake can't buld project for Nordic's devkits, such as:
cmake -GNinja -DBOARD=nrf52840_papyr ..

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=nrf52840_papyr ..
3. ninja
4. See error

**Expected behavior**
It's possible to build the fade-led example. Maybe explanation for device-tree syntax need

[2019-10-01 18:44] WFarber opened #19525 "Can't change the slave latency on a connection."
Zephyr 2.0.0
 I can't seem to change the slave latency on a connection.  I am using the central_hr and peripheral_hr sample code.
After connecting, i execute the following:
   param = BT_LE_CONN_PARAM(40, 40, 2, 420);
   conn_update(shell, param);The result (captured on an Elisys) is:

    LE-C Packet (Connection Parameter Request, Min= 50.000 ms, Max= 50.000 ms, Lat= 2, T/o= 4.200 s, Per= No Pref

[2019-10-01 18:44] tautologyclub opened #19526 "Factorize out socket management from LwM2M engine"
In a lot of use cases, it would be preferable if the application could handle the connection management itself, rather than offloading everything onto a LwM2M engine. This would enable us to use the LwM2M module(s) as lib/s which would give the implementation a lot more flexibility in terms of

- more fine grained connection control (for power management)
- implementing optional features from the

[2019-10-01 18:46] tautologyclub commented on #19526
@mike-scott

[2019-10-01 18:57] tautologyclub opened #19527 "LwM2M socket management to allow device power management"
I don't think there is an issue for implementing lwm2m queue mode, but it's possible such an issue would either overlap, or have dependencies upon, this issue. @mike-scott knows more than I do.

Aaaaaaaanyway. Currently, the lwm2m engine spawns a `k_thread` which basically performs a very tight `poll`/`recv`/`k_sleep` loop, for infinity. This means:

1) the system can't ever gate its HF clock and

[2019-10-01 20:01] carlescufi commented on #19523
Changed from bug to  question since this is likely just Device Tree. I leave it to @anangl to confirm.

[2019-10-01 20:03] ValentiWorkLearning commented on #19523
@carlescufi Thanks! Awaiting for answer.

[2019-10-01 20:41] galak opened #19530 "Enhance sanitycheck/CI for separating build phase from testing"
We should look at enhancements to allow separation of building tests v running them.  With the changes in PR #18603 we introduce a --test-only option.  This works reasonably well on a local system.

We should provide an option in sanitycheck to create the bare minimum artifacts to allow running tests at some later stage.  The current minimum artifacts would be the zephyr binaries, a script that ha

[2019-10-01 21:06] ValentiWorkLearning commented on #19523
FYI: https://github.com/zephyrproject-rtos/zephyr/issues/19467

[2019-10-01 21:34] marc-hb commented on #19530
= "Only run device tests with current artifacts, do not build the code"

Is there already a way to exclude "build only" configurations to build *and* run the others? (That's how I initially misunderstood `--test-only`)

[2019-10-01 21:39] andrewboie commented on #19456
Think this was left in because memset()/memcpy() weren't using SSE like the handcrafted assembly does for x86.

AFAIK GCC currently isn't, would be great to remedy this.

[2019-10-01 22:12] #19219 closed

[2019-10-02 02:00] npitre opened #19535 "Doubly freed memory in the pipe_api test"
While working on the new heap memory allocator, I stumbled across a test
failure that appears to be triggered by the new allocator that currently
checks for double-free occurrences.

In tests/kernel/pipe/pipe_api/src/test_pipe_contexts.c there is that
code:

[code]

This code is invoked from test_pipe_block_put() with sema == NULL.

The call chain from k_pipe_block_put() is z_pipe_put_internal(),

[2019-10-02 02:05] pabigot opened #19536 "devicetree bindings path misinterpreted"
The Cmake/environment variable `DTS_ROOT_BINDINGS` provides a list of places that are searched for bindings files, which defaults to include `dts/bindings` found in `APPLICATION_SOURCE_DIR`,
`BOARD_DIR`, and `ZEPHYR_BASE` in that order.  The expectation is that a binding for a specific compatible will be selected from the first location where it is found.

It appears that the current tooling picks

[2019-10-02 04:32] hakehuang commented on #19530
@mar-hb would this option meet your requirement?
`
-b, --build-only      Only build the code, do not execute any of it in QEMU
`

[2019-10-02 06:39] Teng-Shih-Wei opened #19537 "debug:object_tracing: The trace list is not complete once we initialize the object on the trace list"
Problem statement:
The scenario of demo "mutex_api" will reused the mutex/kmutex. It will initialize them many times, and I found the objects are lost.

Root cause:
When we initialize a kernel object(e.g: mutex), it will do "SYS_TRACEING_OBJECT_INIT" which link
the object to the list head. If the object is in the middle of the trace list and we initialize it again,
the list tail will be lost and t

[2019-10-02 07:19] martinjaeger commented on #18585
Here is the PR, if others are looking for it aswell: https://github.com/zephyrproject-rtos/zephyr/pull/18806

[2019-10-02 07:20] jukkar opened #19539 "Support MQTT over Websocket"
**Is your feature request related to a problem? Please describe.**
Running MQTT over Websockets is needed if one wants to connect to a cloud service that only provides Websocket interface. http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/errata01/os/mqtt-v3.1.1-errata01-os-complete.html#_Toc442180940

[2019-10-02 07:25] jukkar opened #19540 "Allow running and testing network samples in automatic way"
**Is your enhancement proposal related to a problem? Please describe.**
The network samples can bit rot easily as they are only compile tested by sanitycheck script.
We need to run the network samples in some semi-automatic way so that we can be sure that there is no regressions in network stack.

**Describe the solution you'd like**
Use Docker to to run scripts and programs from net-tools, then h

[2019-10-02 07:52] koffes commented on #19473
@andyross : It is a high-level design decision, but I would prefer a null pointer check and a proper error message or error code printout in all modules before getting a MPU_FAULT.  I have no problems finding the cause of the MPU_FAULT, but I don't think we should expect all users to see the faulting instruction address, do an `addr2line`, then set a breakpoint on that line and run the program aga

[2019-10-02 07:57] joerchan commented on #19509
@pavlohamov Is it possible to get a sniffer capture of the failure? It would make it easier to narrow down the reason.

[2019-10-02 08:04] pavlohamov commented on #19509
@joerchan Do you mean the btmon output? I can do it.
[code]
Is enough?

[2019-10-02 08:07] rmstoi opened #19543 "net: tcp: echo server stops if CONFIG_POSIX_MAX_FDS is not set"
If CONFIG_POSIX_MAX_FDS is not set or commented out in prj.conf echo server stops when receiving basic TCP SYN:

[code]

[tcpsyn.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/3680046/tcpsyn.pcap.gz)

[2019-10-02 08:27] StefJar opened #19544 "make usb power settings in "Configuration Descriptor" setable"
In some cases the USB port is not only used for communication. If it used for charging it is necessary to set the maximum current via "Configuration Descriptor".

state of the art:

in https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/usb_descriptor.c#L91 it is set fixed to 100mA

approach:

- Find a way to set the "Configuration Descriptor" to 500mA (0xFA or MAX_HIGH_POWER(https

[2019-10-02 08:47] jukkar commented on #19543
The culprit is probably the fact that the value is too low, by default it is 4 which is too low if multiple listeners are enabled in echo-server.

[2019-10-02 08:55] jfischer-phytec-iot opened #19545 "usb: obtain configuration descriptor's bmAttributes and bMaxPower from DT"
Currently configuration descriptor's bmAttributes and bMaxPower is hardcoded to SelfPowered and MaxPower of 100mA. Where SelfPowered applies to most boards in the tree except boards like pca10059 for example.

Both SelfPowered and MaxPower should be derived from DT because they are hardware properties.
Note: SelfPowered can not be changed at runtime because there is no API for.

[2019-10-02 09:05] carlescufi commented on #19544
Duplicate of #19545. Please follow-up there.

[2019-10-02 09:05] #19544 closed

[2019-10-02 09:50] joerchan commented on #19509
It's not what I meant, but you could do that as well.
I would drop the DEBUG_HCI_*, and instead add CONFIG_BT_DEBUG_SMP.
If you have an extra nrf dev kit you could try the nrf sniffer.
https://www.nordicsemi.com/Software-and-Tools/Development-Tools/nRF-Sniffer-for-Bluetooth-LE/Download#infotabs

[2019-10-02 10:02] pavlohamov commented on #19509
@joerchan
[smp_fail.log](https://github.com/zephyrproject-rtos/zephyr/files/3680541/smp_fail.log)
Here is the output for only the CONFIG_BT_DEBUG_SMP enabled. I have a nrf52840 dongle. But seems like it's not supported

[2019-10-02 10:04] ioannisg commented on #12961
@jjmilburn how many MPU regions does this CPU have?

[2019-10-02 10:11] jhedberg commented on #19509
@pavlohamov the `bt_smp.smp_pairing_complete: status 0xb` in the logs maps to `BT_SMP_ERR_DHKEY_CHECK_FAILED`

[2019-10-02 10:19] pavlohamov commented on #19509
@jhedberg Yeah. i've seen it. For example if remove the passkey display function the same failure will occur (but there is no passkey at all).
[smp_fail_nodisplay.log](https://github.com/zephyrproject-rtos/zephyr/files/3680616/smp_fail_nodisplay.log)

[2019-10-02 10:24] jhedberg commented on #19509
@pavlohamov considering the inputs to the DHKey Check value calculation function (aka `f6()` in the SMP spec) it might e.g. be a difference in understanding what the local and peer address is, since both of these are used as inputs to the function. I'm mainly thinking of the ff:ff:ff:ff.. address you're getting.

[2019-10-02 10:33] pavlohamov commented on #19509
@jhedberg Agree. That was my first clue which i described at the beginning of this issue. Suppose either we have some improper configurations of the HCI stack in the M0 Core, or the actual ST BLE HCI implementation is buggy

[2019-10-02 10:47] joerchan commented on #19509
@pavlohamov Who are you connecting to, and why is their address all FFs?
Maybe turn on CONFIG_BT_DEBUG_HCI_CORE after all, it gives a lot of output but maybe we can find something. Please do pairing without passkey so that the log becomes smaller.

No the nrf52840 dongle is unfortunately not supported.

[2019-10-02 11:09] pavlohamov commented on #19509
@joerchan I've tested with some Chinese android (5.0+) and iPhone 7. Currently i'm using iPhone 7 for the test. I don't think that "other end" device is a troublemaker.

This is the most important question. If i disable the SMP then i will see the peer address
[no_smp.log](https://github.com/zephyrproject-rtos/zephyr/files/3680778/no_smp.log)
But if the SMP is enabled then no peer address is being

[2019-10-02 11:47] joerchan commented on #19509
@pavlohamov Did you include a different run in no_smp.log?
It still shows SMP debug, and the address is still sometimes all FFs.

The on-air address is input to the security procedures, so if we have the wrong address that would explain the DHKEY check failure.
As the address appears to be 54:7b:29:2c:79:84 (random) then there is our problem.

Where do this FF address come from? Is it given to you

[2019-10-02 12:49] joerchan commented on #19509
Ok, your HCI controller is giving you an invalid Enhanced Connection Complete Event. Which is why it works without SMP, because then we disable the Enhanced event, and use the Legacy event instead.

It has put the peer address in the peer_rpa entry instead, this should only be used when the controller has resolved the identity of the peer. Which it is not telling us it has, i.e the peer address is

[2019-10-02 12:51] pavlohamov commented on #19509
@joerchan One more input:
[code]
And now secure connection could be established (with passkey and without, with privacy and without)
[smp_crutch_ok.log](https://github.com/zephyrproject-rtos/zephyr/files/3681150/smp_crutch_ok.log)

[2019-10-02 12:53] pavlohamov commented on #19509
Hm, suppose the event could be "adjusted" here drivers/bluetooth/hci/ipm_stm32wb.c

[2019-10-02 13:03] joerchan commented on #19509
@pavlohamov
Yeah. That might be best. Unless you have the possebility to actually correct the software in the controller?

Something like this perhaps:
[code]
That might be enough to make it work.
You should check that you can re-connect with privacy enabled though.
I.e connect pair, disconnect, re-connect and re-encrypt.

[2019-10-02 13:52] mped-oticon commented on #19537
@Teng-Shih-Wei This is for the SystemView Segger RTT backend of tracing, right?
It would be great if your proposed flag could remain within the RTT backend.

I do not know much about RTT, but I gather there are two circular queues, up and down. And you have problem with the Up buffer.

[2019-10-02 14:03] anangl commented on #19523
@carlescufi
Yes, this is a question of devicetree - Nordic boards lack definitions of `pwmleds` and the `pwm-led0` alias that are required by the fade_led sample. But it is actually a bug because fade_led's `README.rst` still states that the sample should work on nrf52840_pca10056 "out of the box".
I think I'll manage to come soon (meaning: tomorrow) with a PR that will correct this for Nordic DK

[2019-10-02 14:16] stephenmasih commented on #19361
I added a callback function as you mentioned @jhedberg. My callback is getting triggered but my scanning stops after some time the mesh initialisation. I mean even my mesh data packets are dropped. My callback is also neither triggered anymore. I seems like it crashed. Can you explain to me the probable reason?

[2019-10-02 14:23] jhedberg commented on #19361
@stephenmasih I wouldn't dare to claim a probable reason, but some common reasons can be stack overflows and controller asserts. I'd recommend enabling various logging/debugging Kconfig options to see if you can get some error outputted to the console.

[2019-10-02 14:24] jhedberg commented on #19361
@stephenmasih if you have gdb access it would also help to use that to investigate in what state the system is

[2019-10-02 14:37] pavlohamov commented on #19509
@joerchan Thank you for your help. Unfortunate no. As far as i know ST provides BLE stack as encrypted binary with no source code to update it myself.
I've perfumed couple of tests with PRIVACY enabled and disabled. Seems like everything work fine. connection is being automatically re-established. (Rebooted both device several times).

[2019-10-02 14:55] hakehuang opened #19549 "kernel/mem_protection/stackprot fails on NXP RT series platforms on v1.14.1-rc3 release"
**Describe the bug**
kernel/mem_protection/stackprot fails on NXP all platform on v1.14.1-rc3 release

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1050_evk ..
3. make run

**Expected behavior**
test pass

**Impact**
low

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux, ,)

[2019-10-02 15:07] galak commented on #19530
Hmm, not sure how @nashif meant that.  I took it to mean run the tests only phase.

[2019-10-02 15:17] ValentiWorkLearning commented on #19467
@mrrosen  see answer here: https://github.com/zephyrproject-rtos/zephyr/issues/19523

[2019-10-02 15:48] utzig commented on #19438
Some updates:

1) MCUBoot seems to do the right thing when swapping, and erasing the trailer:

[code]

2) The SPI flash is using a block erase command. This device is seen by Zephyr/MCUBoot as having 64K sectors (which is not itself an issue but weird!). The block erase seen above was sent to the correct address and using the correct size but the data was not erased (this can be verified with `nrf

[2019-10-02 15:51] ghost opened #19550 "drivers/pcie: `pcie_get_mbar()` should return a `void *` not `u32_t`"
These bars are meant to be used for MMIO, so they should return `void *`.

[2019-10-02 15:53] joerchan commented on #19509
@pavlohamov Alright. It's good to hear that it works.
Do you intend to create a pull request with the workaround?

[2019-10-02 16:01] pabigot commented on #15912
TSC re-check: not of interest, use existing process.

[2019-10-02 16:01] #15912 closed

[2019-10-02 16:18] jukkar commented on #19398
If ping6 works, then this is probably not related to device driver.
I know people who use Ubuntu to connect to device running zephyr and they have not reported these kind of issue, so I am suspecting connectivity issue in the host side.

[2019-10-02 16:50] pabigot opened #19552 "[TOPIC-GPIO]: Support for legacy interrupt configuration breaks new API contract"
In the original API development in #16648 and as merged to the topic branch `gpio_pin_configure()` was changed to not affect any interrupt configuration except `GPIO_INT_DEBOUNCE`.

In #19248 this decision was reverted, and `gpio_pin_configure()` was changed to include a call to `gpio_pin_interrupt_configure()`.  https://github.com/zephyrproject-rtos/zephyr/pull/19248#discussion_r326809961 questio

[2019-10-02 16:52] mrrosen commented on #19467
@ValentiWorkLearning I think you have the wrong "@"; @mron see above for help

[2019-10-02 17:31] nashif commented on #19549
cant reproduce:

[code]

[2019-10-02 17:36] galak commented on #19552
So doing a survey of the drivers from code inspection, it looks like the behavior with regards to `GPIO_INT` not being set varies, here's what I could tell [for drivers that support interrupts]:

cc13xx_cc26xx - disable interrupts
cc2650 - disable interrupts
cc32xx - leaves interrupts alone
cmsdk - leaves interrupts alone
dw - leaves interrupts alone
esp32 - leaves interrupts alone
gecko - disable

[2019-10-02 17:45] andyross commented on #19437
Yes.  The multiqueue scheduler has a hard limit of 32 priorities, it's the default for qemu_cortex_m3, and this test by default uses more (for no particularly good reason, IIRC).  There is a prj_multiq.conf kconfig file that can be used to exercise that scheduler backend, or you can use a different one.

At one point, that was a default platform and passed this test, presumably by an ancestor of t

[2019-10-02 17:49] gnuless commented on #19456
@andrewboie It looks like, at a minimum, the zeroing of the app_shmem stuff in `ia32/crt0.S` is redundant, as this recurs again at z_app_shmem_bss_zero(), no?

[2019-10-02 18:03] andyross commented on #19437
The most minimal fix is submitted above.  Other alternatives:

1. Change the default test config to not use so many priorities needlessly.

2. Use a blacklist for qemu_cortex_m3 instead of the filter (filters have performance implications)

3. Change the default kconfig for qemu_cortex_m4 to remove SCHED_MULTIQ.  That was done for test coverage originally, but as it's not a default platform any mo

[2019-10-02 18:08] andrewboie commented on #19456
The code in crt0.S does the XIP copy of the app_smem data into the proper place if XIP is turned on, to copy it out of ROM. I'm assuming you're looking at around line 232 in crt0.S.

z_app_shmem_bss_zero() goes through the subsections in the app_smem data section, which is really a set of:

[code]

And zeroes just those BSS sub-sections.
This is organized this way since you set MPU/MMU regions, fo

[2019-10-02 18:13] mron commented on #19523
Thanks for looking into this. Newbie question:
How will I use the PR ( Pull Request? )? Pointing me to the right GitHub doc would be great.

[2019-10-02 18:54] gnuless commented on #19456
Yep, whoops, I was mistaken there.

[2019-10-02 20:32] marc-hb commented on #19530
Yes, I understood eventually. I'm just wondering whether the other, test filtering feature is already there somehow or should I file a new issue for it.

[2019-10-02 21:09] dleach02 commented on #19549
@hakehuang, I got the same result @nashif did. Tested on IMXRT1050-EVKB.

[2019-10-02 21:31] galak commented on #19530
I feel like @nashif made a change along those lines already.

[2019-10-02 22:00] lanvis opened #19560 "Console on CDC USB crashes when CONFIG_USB_COMPOSITE_DEVICE=y"
**Describe the bug**
target: nrf52840
Our application uses a USB CDC serial port for proprietary communications and
we also need our console port to appear on the same physical port.
When  CONFIG_USB_COMPOSITE_DEVICE=y and CONFIG_USB_UART_CONSOLE=y
 and CONFIG_UART_CONSOLE_ON_DEV_NAME="CDC_ACM_2" or "CDC_ACM_1", the project builds but execution crashes before reaching main.

**To Reproduce**
Steps

[2019-10-02 22:45] jjmilburn commented on #12961
@ioannisg I believe the answer is 8. References:

ST Appnote [AN4838](https://www.st.com/content/ccc/resource/technical/document/application_note/group0/bc/2d/f7/bd/fb/3f/48/47/DM00272912/files/DM00272912.pdf/jcr:content/translations/en.DM00272912.pdf) indicates:

See this table for confirmation of the 8 regions on the Cortex M0+ (Table from the same AN4838 linked above):

![image](https://user-im

[2019-10-03 01:06] #2686 closed

[2019-10-03 02:31] hakehuang commented on #19549
@dleach02 , @nashif , loosk like my board falsh need erased for this case, sorry for this false positive.

[2019-10-03 02:31] #19549 closed

[2019-10-03 07:05] pavlohamov commented on #19509
@joerchan Yes. Here it is https://github.com/zephyrproject-rtos/zephyr/pull/19568

[2019-10-03 07:25] joerchan commented on #19509
Updated title of issue, and impact for future reference.

[2019-10-03 07:35] erwango commented on #19509
@pavlohamov, @joerchan, @jhedberg thanks for efforts on debugging and solving the issue.
I'll report the issue internally and see if there's something that can be done to solve the issue in a future controller binary release.

[2019-10-03 07:44] nordic-krch opened #19569 "nRF RTC Counter with compile time decision about support of custom top value"
**Is your enhancement proposal related to a problem? Please describe.**
Counter based on nRF RTC currently support custom top value. In order to do that one CC channel is used for wrapping which reduced number of available CC channels. #15510 changes that by adding flexible support of custom top value. If top value equals RTC max counter value then no channel is needed since RTC overflows and over

[2019-10-03 10:29] jfischer-phytec-iot commented on #19560
okay, I do not know what `1.14.99` is referring to, but it works with the current master and the patch for configuration overlay below.

[code]

[2019-10-03 11:17] ValentiWorkLearning commented on #19523
@anangl Where I can find detailed information about device-tree structure and how to use aliases/add new peripheral? Is this available in Zephyr docs?

[2019-10-03 11:26] #19437 closed

[2019-10-03 11:42] anangl commented on #19523
@ValentiWorkLearning Look here: https://docs.zephyrproject.org/latest/guides/dts/index.html

[2019-10-03 12:14] ngiriprasad commented on #19398
Oh! Thanks for the information. You said, you know " people who use Ubuntu to connect to device running zephyr".  I need small clarification regarding this. Are they using "ENC28J60" or any other Ethernet chip?

[2019-10-03 12:42] ngiriprasad commented on #19398
Hi,

I have raised a pull request for your reference regarding the changes I have made.  Please have a look at it and let me know if any thing goes wrong with the changes. Pull Request Number is : 19577

Thanks,
Giri

[2019-10-03 12:58] #15494 closed

[2019-10-03 13:01] ioannisg commented on #18273
@andrewboie why is this not working for ARMv8-M? Is there any issue reported? :)

[2019-10-03 13:26] jfischer-phytec-iot commented on #19398
@ngiriprasad A reference to you brunch like https://github.com/ngiriprasad/zephyr/commit/84b127bafc48963e13385290d37d878cb6beb52b is sufficient, no reason to open a PR.

[2019-10-03 14:00] pfalcon commented on #10701
Related PR https://github.com/zephyrproject-rtos/zephyr/pull/16114 was closed with a notice "aio drivers and header removed, closing...", so it makes sense to close this too. But whoever may want to reuse aio_ prefix for something else, please google up this issue and leave it reserved for POSIX!

[2019-10-03 14:00] #10701 closed

[2019-10-03 16:41] marc-hb opened #19582 "zephyr_library: missing 'kernel-mode' vs 'app-mode' documentation"
Not sure where this should be documented, probably as a comment in `cmake/extensions/cmake`?

From: `tests/subsys/settings/functional: make common code a zephyr_library()` #19531, see also references there.
[code]

@mbolivar :

@SebastianBoe

[2019-10-03 16:58] marc-hb commented on #19582
What I find concerning here is the **randomness** of build failures.

Quoting myself from: `tests/subsys/settings/functional: make common code a zephyr_library()` #19531

[code]

`make -C build [settings_func_test]` always fails without `add_dependencies(      settings_func_test offsets_h)`
`make -j` sometimes succeeds in building even without this dependency thanks to a race condition. `make -k;

[2019-10-03 19:00] karstenkoenig commented on #19502
I like the approach of a general timeout on the send, would also match expectations more I'd think. The send call could still be non blocking though when providing a callback right? Should the can_tx callbacks then get a status that informs about timeout so a message can be assumed to not have been sent? Or would you always block until a message was sent?

@alexanderwachter has something like this

[2019-10-03 19:22] lanvis commented on #19560
I did not see an overlay file for console in the master (samples/subsys/usb/cdc_acm) head or the 2.0.0 tag so I tried both using your overlay (provided above).  The sample/subsys/usb/2.0.0/cdc_acm does not build and fails to find nrfx.h.
This is with -DBOARD=nrf52840_pca10056

/home/lanvis/zeph20/zephyr-zephyr-v2.0.0/soc/arm/nordic_nrf/nrf52/soc.h:17:10: fatal error: nrf.h: No such file or directo

[2019-10-03 19:38] jfischer-phytec-iot commented on #19560
@lanvis Please try `west update`

[2019-10-03 21:13] mron commented on #19523
I downloaded anangel's changes ( using svn ) and tried them out with board=nrf52840_pca10056. It compiled without errors.

Thanks!

[2019-10-03 22:02] dcpleung opened #19592 "Request new repository to host the Eclipse plugin for building Zephyr applications"
The new repo will contain source code of an Eclipse plugin which extends Eclipse CDT to support application development on Zephyr (including building and target hardware debugging).

Currently:
* The plugin can create a new Hello World project. An empty project can also be created for use with existing code.
* The plugin has rudimentary code indexing support via the CDT indexer, allowing code refe

[2019-10-03 23:49] andyross opened #19599 "ARC builds missing z_arch_start_cpu() when !SMP"
The tests/kernel/mp test fails to build on ARC multiprocessor platforms (e.g. hsdk, nsim_hs_smp).

This test forces CONFIG_SMP=n so that it can exercise the low-level z_arch_start_cpu() call directly, but that symbol isn't present in such a configuration.

This was hidden because the test was being run on esp32 only, but it's unmasked now in #19583 (where I've added a filter to exclude ARC).

[2019-10-04 01:06] cvinayak commented on #19484
@paulgavrikov I may have managed to reproduce something similar manually (though with difficulty, like 1 in 20 times) trying to use ```flash erase 60000``` while having ```bt scan on``` with bt shell app and 2.5 ms continuous scan.

I have updated https://github.com/zephyrproject-rtos/zephyr/pull/19395