[2022-02-17 14:10] MariuszSkamra commented on #42928
If the bond is removed, the ACL link is disconnected. So the only need is to check whether bt_addr_le_is_bonded on bt_conn_cb->connected callback and register for bt_conn_cb->security_changed callback

[2022-02-17 14:13] tejlmand commented on #42700
Today, both Zephyr modules and `west` are optional.

With this idea you will have to always get Zephyr in as a module, and if using `west` this would then happen automatically but if not using `west` are users then suddenly expected to include Zephyr as a module ?
And if not, and Zephyr always includes itself as a module also, then how are users supposed to opt-out of this module.
The whole idea b

[2022-02-17 14:20] nashif commented on #42702
@enjiamai  assigned to you as the intel platform maintainer per the MAINTAINER file.

[2022-02-17 14:26] enjiamai commented on #42702
ok, got it, will fix it.

[2022-02-17 14:49] rlubos commented on #21633
As for Nordic, it's not on our schedule (yet), but other contributions are welcome.

[2022-02-17 14:50] carlescufi commented on #42928
Please add "Bluetooth" as a label aside from "Bluetooth Audio"

[2022-02-17 15:25] dleach02 commented on #42705
@yerabolu can you test my PR #42913 on your system.

I figured out the root issue and can see that it is a random type of failure.

[2022-02-17 15:47] tejlmand commented on #42450
sure, quite common.
And you can share dts files between boards, for example like this:
https://github.com/zephyrproject-rtos/zephyr/blob/35ec3c957992e011d2c0229ccf02c72f281a3ecc/boards/arm/nrf9160dk_nrf9160/nrf9160dk_nrf9160.dts#L9
Which is shared between the `nrf9160dk_nrf9160` and `nrf9160dk_nrf9160_ns` boards.

Now, this will of course result in dedicated overlay configs in a sample `foo` if yo

[2022-02-17 15:59] tejlmand commented on #17496
This has been fixed here: #29990
in this commit: https://github.com/zephyrproject-rtos/zephyr/pull/29990/commits/bfa77522dd72caacd38053308cddda92101a0642

[2022-02-17 16:07] trond-snekvik commented on #42458
I just wanted to chime in and mention IDE support. VS Code introduced a test runner API a couple of months ago that allows listing and running tests through a UI in the sidebar. Microsoft's Python extension already supports this API, and will populate the test list with tests discovered using pytest: https://code.visualstudio.com/docs/python/testing. They're also working on a similar API for code

[2022-02-17 16:09] jfischer-no commented on #42450
https://github.com/zephyrproject-rtos/zephyr/pull/40669 is far from being as good as current Shield support, in fact it makes no sense at all, just compare it with each other. I think we should rename shield support, for example to _brick_, and derive config-brick (common configuration for something) and hardware-brick (shields) from it.

[2022-02-17 16:12] tejlmand commented on #17496
Re-opened, as the referred PR and commit didn't remove the snippets in question, only relocated them.

[2022-02-17 16:40] tejlmand commented on #17496
The reason for the apparent redundant code is not for the initial run, but for CMake reruns.

For example, a sample does:
[code]
then `foo` will be used if user does `cmake <path-to-sample>`.

But if user initially does `cmake -DBOARD=bar`, then `bar` must be used as `BOARD` and not `foo`.
Also user must be allowed to do a subsequent CMake run, as `cmake -DBOARD=bar <path-to-build-folder>` as long

[2022-02-17 20:02] gregshue commented on #42700
No. Even without `west`, the solution can automatically add Zephyr to the module list if there is not already a module named 'zephyr'.

It is impractical for users to opt-out of the module providing standard/infrastructure interface headers, even if they opted out of every _implementation_ (e.g., libs/drivers/subsystems/tests/samples/etc) in the Zephyr repository.  As indicated above, a user _coul

[2022-02-17 20:37] gregshue commented on #42700
Though in the original issue I only mentioned one reason for extending the Zephyr repository to be a module, there are several.  Consider:
- Following the (best practice) Software Engineering Design Principle of Separation of Concerns (http://swebokwiki.org/Chapter_2:_Software_Design#Software_Design_Principles). Clearly separating the portions elsewhere managed in modules from the build system is

[2022-02-17 21:21] surfskidude opened #42940 "Please add zsock_getpeername"
Please add zsock_getpeername, which is missing in the net library. I could only find zsock_getsockname

[2022-02-17 22:11] surfskidude opened #42942 "sizeof(struct sockaddr_storage) is smaller than sizeof(struct sockaddr_in6)"
My understanding is that sockaddr_storage must be >= sockaddr_in6

I am working on porting a network app and got a weird compiler error so I added the following to my code for test purposes (static analysis):

   char PATCH1[sizeof(struct sockaddr_storage) - sizeof(struct sockaddr_in6)];

   char PATCH2[sizeof(struct sockaddr_in6) - sizeof(struct sockaddr_storage)];

The compiler tells me PATCH1 i

[2022-02-17 22:54] mbolivar-nordic commented on #39194
Are you sure the author didn't just delete the comment?

[2022-02-17 22:56] zephyrbot opened #42943 "[backport v2.7-branch] backport of #42457 failed"
This issue was created automatically because the backport of #42457 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-42457-to-v2.7-branch`.

[2022-02-18 00:47] zerkerX commented on #42881
In my case, it's the silkscreen on the board which has `0x3D` printed on it. I am specifically using the [Adafruit version of the board](https://www.adafruit.com/product/326). It's a pretty popular generic display, so I imagine there are a couple versions of it that might be configured for different I2C addresses.

[2022-02-18 05:04] cfoucher-laas commented on #42826
Hello @stephanosio,

I can confirm that the issue was part of the platformio version of Zephyr and is now fixed.
Thank you for your help!

[2022-02-18 05:04] #42826 closed

[2022-02-18 05:38] fuhaolei opened #42953 "it8xxx2_evb: Test in tests/kernel/timer/timer_api fail."
**Describe the bug**
kernel.timer : kernel.timer.timer_duration_period

**To Reproduce**
Steps to reproduce the behavior:
1. cd zephyrproject
2. ./zephyr/scripts/twister -p it8xxx2_evb --device-testing -T zephyr/tests/kernel/timer/timer_api --west-flash="../itetool/loader.sh" --device-serial=/dev/ttyUSB0
3. See error

**Logs and console output**

*** Booting Zephyr OS build v3.0.0-rc3-36-g35ec3c95

[2022-02-18 06:55] sachinjairam commented on #42817
Hai @FRASTM , I have tried HAL layer code with zephyr and is built successfully. But the conversion is not happening. The functions `HAL_ADCEx_Calibration_Start` and `HAL_ADC_Start_DMA` returns error.
I can't figure out any solution for that.
Is there any tutorial or something like that, I can refer about using HAL layer code with Zephyr?

Thank you.
Sachin

[2022-02-18 08:10] ppryga commented on #42518
UPDATE! It was false alarm with LE-BIS. I've just run a sniffer in the same environment with DKs exercising periodic advertising and still observe LE-BIS PDUs. So there is no issues in regard of periodic advertising.

@saleh-unikie could you check if the issue is still available with code in current `main` branch?

[2022-02-18 08:21] VineetaNarkhede-eaton opened #42954 "Civetweb WebSocket Server sample code fails to compile on native_posix"
**Describe the bug**
Websocket server sample code gives error while compiling for native_posix. See **Logs and console output** given below for error details.

**To Reproduce**
`west build -b native_posix samples/net/civetweb/websocket_server`

**Expected behavior**
Websocket server sample code should compile for native_posix.

**Environment (please complete the following information):**
 - OS: Ub

[2022-02-18 08:56] #42954 closed

[2022-02-18 08:57] stephanosio commented on #34226
Re-opening since this is still a valid issue.

[2022-02-18 09:03] jfischer-no commented on #42881
"This board/chip uses I2C 7-bit address between 0x3C-0x3D, selectable with jumpers"

[2022-02-18 10:01] tejlmand commented on #42700
and this is a part to which I agree, we should strive to have Zephyr as modular as possible when it's possible, and not making working with Zephyr unnecessary complex.
However, being able to easily integrate with Zephyr and adjust it to custom needs is **not** the same as making Zephyr itself a module.
For example, Zephyr already offers various possibilities for customization, for example:
https:/

[2022-02-18 10:57] darexa commented on #40114
Ran across exactly this problem just now.
I'm a little confused regarding the response.
I'm trying to enable RSA encryption in mcuboot and doing the same thing as you leads to the same issue.
Are you saying that enabling this CONFIG_BOOT_ENCRYPT_RSA also means I have to manually include the "rsa_alt_helpers.h" somehow? Or something else?

[2022-02-18 10:57] tejlmand commented on #42450
Discussions regarding #40669 should be taken there.
Let @JonathanVanWin decide if that PR meets his needs or not.
And if he has comments / proposals to that PR, let him place it there.

[2022-02-18 11:44] Casper-Bonde-Bose opened #42960 "Bluetooth: Audio: Codec config parsing and documentation"
**Is your feature request related to a problem? Please describe.**
The current code includes all the functionality needed to define and select a codec configuration, but there is nothing to parse the codec config data to actually use the parameters configured to configure a codec implementation.

**Describe the solution you'd like**
It would be nice with utility functions to extract the data from

[2022-02-18 12:10] GatCode opened #42961 "Bluetooth: periodic_sync sample never executes .recv callback"
I've tried to execute the periodic_adv and periodic_sync samples on 5340dk's and 52840dk's but the periodic_sync board never reaches the .recv callback altough the sync gets established.

For testing purposes, I've already stripped parts of the original samples to make it more clear. Basically line 50 (printk("Hello From recv_cb\n");) on the receiver side never gets executed. Here you can find the

[2022-02-18 12:30] jfischer-no commented on #42881
Documentation for generic SSD1306 shield can be updated to mention that the default address is `0x3c`.

[2022-02-18 12:35] carlescufi commented on #42961
@GatCode could you please run your simple example with the latest upstream Zephyr (v3.0.0-rc3 right now) and see if the issue is there as well?

[2022-02-18 12:55] ppryga commented on #42961
I've run periodic_scync sample on nRF5340DK and periodic_adv on nRF52833 and below is console log.
It synchronizes with advertiser.
I've used code from https://github.com/zephyrproject-rtos/zephyr/commit/45ef0d2aef9bbba92460e19129b35f0da9729610

[code]

[2022-02-18 13:19] GatCode commented on #42961
[@carlescufi](https://github.com/carlescufi) can you please tell me how I can checkout this revision inside the ncs v1.9.0? I thought this is easily possible with a west update ... command but this seems not to be the case?

[2022-02-18 13:27] nandojve commented on #42881
+1

I was wondering if could be valid add an specific overlay like adafruit_ssd1306_128x64.overlay which uses 0x3D address with proper documentation. This could complement @jfischer-no suggestion.

[2022-02-18 14:12] ppryga commented on #42961
@GatCode go to Zephyr repository and call `git checkout v3.0.0-rc2`.

[2022-02-18 14:14] jsarha commented on #39194
I think I did indeed delete the comment, after I learned that that %s does not work with mtrace either. I am a bit surprised that the comment vanished without leaving any trace to history. Next time I'll edit the comment and just add a note that it can be ignored.

[2022-02-18 14:21] asbjornsabo opened #42965 "Media control initialization"
The initialization of media control service and media player must be cleaned up.
Currently, the player initializes the service.  But the service may not be present, in which case initialization fails.
Only initialize if the service is present?

2022-07-12: The MPL should probably never initialize the service.

[2022-02-18 14:25] Climax777 commented on #18551
This worked for me too. Same problem as reported by the OP.

[2022-02-18 19:32] gregshue commented on #42700
Yes. I completely agree with the goal.

Yes. I completely agree.

It is actually a very pertinent question, which is why I responded to it. :-)

Be very careful here.  If we use this criteria for "core", then all HALs (indeed every module) are also core.  That is probably not what you intended. There are enough dependencies each direction between things in the Zephyr repo and the existing modules

[2022-02-18 22:03] pcotret opened #42973 "Zephyr-sdkConfig.cmake file not found"
**Describe the bug**
Followed instructions of the getting started guide available at: https://docs.zephyrproject.org/latest/getting_started/index.html
Got an error while compiling the Hello world example

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2022-02-18 22:47] pcotret commented on #42973
Was working on an older Zephyr release. Issue closed.

[2022-02-18 22:47] #42973 closed

[2022-02-18 22:50] dkalowsk opened #42974 "Release Notes v3 review - Kernel"
Looking for a sign off on the v3.0.0 release notes

[2022-02-18 22:50] dkalowsk opened #42975 "Release Notes v3.0.0 sign off - Build and infrastructure"
Looking for sign off on the build and infrastructure portion of the release notes for v3.0

[2022-02-18 22:52] dkalowsk opened #42976 "Release Notes v3.0.0 sign off - Devicetree"
Looking for sign off of the v3.0.0 release notes on the devicetree.

[2022-02-18 22:53] dkalowsk opened #42977 "Release notes v3.0.0 sign off - Drivers and sensors"
Looking for sign off on the v3.0.0 release notes for drivers and sensors.

[2022-02-18 22:53] dkalowsk opened #42978 "Release notes v3.0.0 sign off - Filesystems"
Looking for sign off on the v3.0.0 release notes for file systems.

[2022-02-18 22:53] dkalowsk opened #42979 "Release notes v3.0.0 sign off - Networking"
Looking for sign off on the v3.0.0 release notes for the Networking section

[2022-02-18 22:57] dkalowsk opened #42980 "Release notes v3.0.0 sign off - Bluetooth"
Looking for sign off for the v3.0.0 release notes on Bluetooth sections

[2022-02-18 22:57] dkalowsk opened #42981 "Release note v3.0.0 sign off - USB"

[2022-02-18 22:57] dkalowsk opened #42982 "Release notes v3.0.0 sign off - CAN"
Looking for sign off on the v3.0.0 release notes for - CAN

[2022-02-18 22:58] andyross commented on #42974
Not sure what the process is here, exactly.  I gave it a check in the linked list (also one for the Xtensa architecture).  Is that sufficient or do I need to do something else?

[2022-02-18 22:59] dkalowsk opened #42983 "Release notes v3.0.0 sign off - ARC"
Looking for sign off on the release notes for v3.0.0 of the arch ARC

[2022-02-18 22:59] dkalowsk opened #42984 "Release note v3.0.0 sign off - ARM"
Looking for sign off on the release notes for v3.0.0 on the arch ARM

[2022-02-18 23:02] dkalowsk opened #42985 "Releae notes v3.0.0 sign off - X86"
Looking for sign off on the release notes for v3.0.0 on arch x86

[2022-02-18 23:02] dkalowsk opened #42986 "Release note v3.0.0 sign off - RISCV"
Looking for release note v3.0.0 sign off on arch RISCV

[2022-02-18 23:02] dkalowsk opened #42987 "Release note v3.0.0 sign off - Security"
Looking for a sign off on the release notes for v3.0.0 in the area of Security

[2022-02-18 23:06] glarsennordic opened #42988 "Specify and standardize undefined behavior on empty response from server for http_client"
### **Is your enhancement proposal related to a problem? Please describe.**
[The documentation for `http_client`](https://docs.zephyrproject.org/apidoc/latest/group__http__client.html) currently does not specify what the intended behavior is if the contacted server gives an empty response when calling `http_client_req`.

By this, I mean a graceful closure of the underlying TCP socket by remote, wi

[2022-02-18 23:11] mbolivar-nordic commented on #42976
https://github.com/zephyrproject-rtos/zephyr/pull/42989 contains the rest of the API changes that are worth mentioning in my opinion. Then I'm ready to sign-off. I think it's probably no longer worthwhile to track bindings changes.

[2022-02-19 00:50] zerkerX opened #42992 "SSD1306 shield does not have obvious support for devices with I2C address of 0x3D"
This is a continuation of the side-discussion from Issue #42881. The SSD1306 device supports I2C addresses of both 0x3C and 0x3D, but the current shield only supports 0x3C. This can be confusing for boards that default to 0x3D, like the [Adafruit 128x64 board](https://www.adafruit.com/product/326). Although this board can be configured for I2C address of 0x3C, this requires soldering across some j

[2022-02-19 00:51] zerkerX commented on #42881
I raised #42992 to continue the discussion specific to the SSD1306 shield.

[2022-02-19 11:27] GatCode commented on #42961
Thanks to both of you! Yes the issue is resolved in v3.0.0-rc3 and for all the future readers who struggle like me - these links might be helpful:

- https://devzone.nordicsemi.com/f/nordic-q-a/76244/nrfconnect-sdk-nrf-modules-trusted-firmware-m-kconfig-and-kconfig-tfm-nordic-sdk-not-compatible-with-zephyr-upstream/
- https://github.com/maksimdrachov/zephyr-rtos-tutorial

[2022-02-19 11:27] #42961 closed

[2022-02-19 15:52] zerkerX opened #42996 "I2C Drivers: DEV_NAME prematurely removed from i2c_sam_twi.c"
When integrating pull request #42948, the integration discovered the following warning in i2c_sam_twi.c (treated as error for integration):

[code]

And a few other findings related to the same macro. Referring to the history of i2c_sam_twi.c, commit be32e33774a45995bbae19678e443d16ea285fc4 removed DEV_CFG and DEV_DATA macros, but at the time kept DEV_NAME macros for most I2C libraries except for

[2022-02-19 18:13] GatCode opened #42997 "periodic advertisement with larger ad broken from v3.0.0-rc2 onwards"
Hi everyone,
I've discovered that the periodic advertisement implementation is broken on v3.0.0-rc2 and rc3 - in more detail it breaks as soon as you set the periodic advertisement data to more than 30 bytes on the sender side. As you can see in [this video](https://youtu.be/-3Fxn8-4SgI), I basically executed the samples (periodic_adv and periodic_sync) on two nrf52840dk's and only changed the adv

[2022-02-19 18:48] carlescufi commented on #42997
@GatCode thanks for the report. Could you try bisecting to find the exact commit that introduced the regression please?

[2022-02-19 21:39] yonsch opened #42998 "Should board.dts enable peripherals by default?"
As discussed in #42513

Many board.dts files in the Zephyr tree enable peripherals by default. For example, [nucleo_f091rc.dts](https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/nucleo_f091rc/nucleo_f091rc.dts) which defines:
[code]
This does not immediately enable those peripherals, since they depend on `CONFIG_I2C=y`. The problem with this approach is that enabling `CONFIG_I2C` w

[2022-02-20 05:43] hongshui3000 commented on #21119
import vsc
https://github.com/smrtos/Zephyr2VSC

[2022-02-20 13:00] alexanderwachter commented on #42982
Release notes were properly added by @henrikbrixandersen for this release.

[2022-02-21 00:29] #40944 closed

[2022-02-21 01:39] rhinodavid commented on #18551
+1 for the `BT_LE_ADV_PARAM_INIT(_options, _int_min, _int_max, _peer)` -- maybe a regression?

[2022-02-21 03:06] jeremyherbert commented on #41677
hi @mbolivar-nordic I am having this exact same problem. I have created a repo [here](https://github.com/jeremyherbert/zephyr_testrepo) which just implements a simple fake accelerometer sensor driver, if you just clone and then `west build` (board is set inside the `CMakeLists.txt` file) you will see the error:

`src/main.c:30: undefined reference to `__device_dts_ord_3'`

I am unsure if the cause

[2022-02-21 03:07] dleach02 commented on #42705
Yeah, this will randomly occur on any board. Uninitialized memory has a way of doing this ;-)

[2022-02-21 04:39] jeremyherbert commented on #41677
I have solved my error. There was a spelling mistake in the DRV_COMPAT declaration for my custom driver (although to be fair, this isn't exactly a helpful error message for someone who doesn't deeply understand the zephyr build system)

[2022-02-21 08:04] de-nordic commented on #42978
@dkalowsk Can you point me to some procedure, in documentation, for this? Thanks.

[2022-02-21 08:40] paveldedourek-eaton commented on #42524
I made working I2C communication between KSZ8863 and my Nucleo-F429ZI.
I am just struggling with correct assignment of ports: eth0, lan1, lan2... when this will be done I will concentrate to prepare Pull Request.

[2022-02-21 08:56] erwango commented on #39520
@manoj153 Are you still working on this ?
If yes, Let reopen the issue

[2022-02-21 09:25] smrtos opened #43016 "Self inc/dec works incorrectly with logging API."
**Describe the bug**
When using logging API with self inc/dec operation, the increased/decreased value is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the code from here: https://github.com/smrtos/zephyr_rtos_bug_repro/tree/main/SelfIncInLoggingApi

[code]

2. Build it for qemu_x86_64.
3. Run the app in qemu.

**Expected behavior**
100 logs should be printed. Like this

[2022-02-21 09:54] stephanosio commented on #43016
[code]

Generally, placing increment and decrement operators within a complex expression is a bad practice and is even prohibited by various coding standards, including the Zephyr Coding Guidelines and MISRA C (Rule 13.3).

Unless it is technically feasible to eliminate multiple evaluation of the parameter expressions in the logging subsystem, this should be marked "won't fix" and "known issue."

[2022-02-21 10:47] ruuddw commented on #42983
Done - note there were no ARC related updates worth mentioning in the release notes, so it is fine to keep the ARC sections empty. Or, if you prefer, explicitly state 'no updates/issues' (if an empty section considered confusing).

[2022-02-21 10:47] #42983 closed

[2022-02-21 10:57] ivan2angelov opened #43020 "samples/subsys/fs/littlefs does not work with native_posix board on WSL2"
samples/subsys/fs/littlefs is not working with native_posix board.
file system mounting fails with error -19.

branch main at

Build environment: WSL2 with Ubuntu 20.04

**To Reproduce**
west build -p auto samples/subsys/fs/littlefs -b native_posix

that build produces zephyr.elf.
Running zephyr.elf in WSL2 produces following output:

 ./build/zephyr/zephyr.elf
Failed to get status of flash device

[2022-02-21 12:03] asbjornsabo commented on #42523
From discussion with @Thalley : The media_proxy is quite tied to mcc.  Keep in bluetooth directory for now.

[2022-02-21 12:07] tejlmand commented on #41830
no, cause that setting is empty when you try to expand it using `string(CONFIGURE ...)`.

Exactly showing why `string(CONFIGURE ...)` must be used with care, cause people often fail to understand how it works.

[2022-02-21 12:55] FRASTM opened #43024 "samples: tests task wdt fails on some stm32 nucleo target boards"
**Describe the bug**
Since the commit https://github.com/zephyrproject-rtos/zephyr/commit/41a63f48fdc81636b1ed875c574d27aaf0b09bc9, the samples/subsys/task_wdt failed on nucleo_l152re or nucleo_l073rz or nucleo_f429zi or nucleo_f091rc.
The reason is that the IWDG timeout increased from 100 to 500ms.
The IWDT is clocked by the LSI which has a frequency of 37kHz for those stm32 devices.
But due to t

[2022-02-21 13:16] mnkp commented on #42977
The GPIO drivers section looks correct.

[2022-02-21 13:20] #42980 closed

[2022-02-21 13:21] carlescufi commented on #42965
@asbjornsabo please add labels, at least "Bluetooth" and "Bluetooth Audio".

[2022-02-21 13:21] #42982 closed

[2022-02-21 13:38] tejlmand commented on #42975
LGTM, no big work made it into 3.0.
Would like a second person to check before closing this.

[2022-02-21 14:26] konovagit commented on #29107
what is the news on this issue ?

in the most recent release the workaround on subsys/usb/class/cdc_acm.c seem not work anymore.

I try to modify on line 1031
`USBD_CLASS_DESCR_DEFINE(primary, 1.##x)				\`

and check the zephyr.map
[code]

some suggestions ?

[2022-02-21 14:52] erwango commented on #42865
@KalpeshKadam-eaton Please have a look at debug instructions provided here:
https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/stm32mp157c_dk2/doc/stm32mp157_dk2.rst#debugging

[2022-02-21 15:40] #42976 closed

[2022-02-21 15:48] carlescufi commented on #42850
@erwango still time to add a release note regarding the configs above?

[2022-02-21 16:12] erwango commented on #42530
@r2r0 I had a look to what was supported on STM32 Linux pinctrl bindings and could likely be implemented in Zephyr as well (I still need to confirm this), something as follow:
[code]
By default, state would be input. To drive the line, additional boolean properties `output-low` and `output-high` would be available.
If doable, would it solve your case ?

[2022-02-21 16:21] nvlsianpu commented on #30587
Looks like this ticked might be used as start point for discussion on introduction access level for given fixed partition.

[2022-02-21 16:59] r2r0 commented on #42530
@erwango Yes, it looks that it will solve my case(s).
`GPIO` combined with already available `ANALOG` binding will be everything what I need.
BTW> Will I still be able to use bias-pull-[up|down]?

[2022-02-21 17:14] nordic-krch commented on #43016
It is fixed by #42686

[2022-02-21 17:19] carlescufi commented on #33725
@mbolivar-nordic, I do like your proposal, but I have a few questions:

1. Where is the [Application Development](https://docs.zephyrproject.org/latest/application/index.html) section?
2. Why that "Tutorials" section with Kconfig and DT when we already have entries for those under "Build and Configuration System"?
3. Why a separate "APIs" top-level entry?

[2022-02-21 17:34] arnopo commented on #42865
Hello @KalpeshKadam-eaton

What do you mean by **rpmsg_virtio_return_buffer**?  Is it the mode supported in stm32mp1Cube distribution to run the cortex-M4 is standalone?

[2022-02-21 17:43] carlescufi commented on #42831
I think this is a good candidate to discuss in the [dev-review meeting this week](https://lists.zephyrproject.org/g/devel/viewevent?repeatid=14985&eventid=1326093&calstart=2022-02-24).

[2022-02-21 20:17] gmarull commented on #33725
Another tentative toctree. Not all sections may be correct, the general
idea is to expose more content (make root toctree longer). Many content
is hard to discover now because it is deeply buried in the toctree. It's
hard to do since I'm still discovering new content...

[code]

Other points I'd like to discuss:

- What happens with pages that just pull API (no value). Examples:
    - https://docs

[2022-02-21 20:39] konovagit commented on #29107
Error on btusb:
[code]

[2022-02-21 20:41] dkalowsk commented on #42977
Thanks @mnkp .  Any others on this list ready to give a sign off?  If we're all good we can close the issue.

[2022-02-21 20:42] dkalowsk commented on #42975
@nashif or @galak either of you want to double check?

[2022-02-21 20:43] dkalowsk commented on #42978
@de-nordic was trying to use the tooling GitHub provides for this.  If you're good with the release-notes just close the issue.

[2022-02-21 20:44] Laczen commented on #43020
@ivan2angelov, I just tested this and cannot reproduce it. Could you delete the build folder and try again ?

[2022-02-21 21:03] dkalowsk commented on #42975
Release channel recommending closing the issues.

[2022-02-21 21:03] #42975 closed

[2022-02-21 21:03] dkalowsk commented on #42977
Release channel recommending closing the issues.

[2022-02-21 21:03] #42977 closed

[2022-02-21 21:04] dkalowsk commented on #42978
Release channel recommending closing the issues.

[2022-02-21 21:04] #42978 closed

[2022-02-21 21:04] dkalowsk commented on #42979
Release channel recommending closing the issues.

[2022-02-21 21:04] #42979 closed

[2022-02-21 21:04] dkalowsk commented on #42981
Release channel recommending closing the issues.

[2022-02-21 21:04] #42981 closed

[2022-02-21 21:04] dkalowsk commented on #42984
Release channel recommending closing the issues.

[2022-02-21 21:04] #42984 closed

[2022-02-21 21:04] dkalowsk commented on #42985
Release channel recommending closing the issues.

[2022-02-21 21:04] #42985 closed

[2022-02-21 21:04] dkalowsk commented on #42986
Release channel recommending closing the issues.

[2022-02-21 21:04] #42986 closed

[2022-02-21 21:05] dkalowsk commented on #42987
Release channel recommending closing the issues.

[2022-02-21 21:05] #42987 closed

[2022-02-21 21:57] wolterhv opened #43034 "Documentation for `console_putchar` function is incorrect"
**Describe the bug**

The prototype of the `console_putchar` function, which reads as follows:

[code]

States that the `console_putchar` function returns 0 in absence of errors. However, it really returns the output of `tty_write`, the function it calls, which when called outputs the number of written bytes. In this sense, when `console_putchar` runs successfully, it always returns 1.

Therefore,

[2022-02-21 22:26] mnkp commented on #42496
I have run the sample code on `sam_e70_xplained` board and can confirm that the problem can be observed also on SAM E70 SoC (Cortex-M7). The exact behavior in regards to how likely the problem is to manifest itself

is different. In case of SAM E70 device it is much easier to trigger the invalid behavior. However, the failure mode is exactly the same.

I have analyzed the issue a bit and it does n

[2022-02-21 22:56] mbolivar-nordic commented on #33725
Good question. I guess it's missing from @nashif's proposal as well, so I am sure he will have his own answer for this question. Probably we should add it back, although looking at it again I think some of the content would be better off elsewhere in the docs.

This is part of a long term plan I have that relies on cross-platform QEMU support as part of @stephanosio 's new SDKs for macOS and Windo

[2022-02-21 23:03] mbolivar-nordic commented on #33725
I am thinking we need:

1. a machine-readable index of SoCs (map from SoC names to metadata, like what DTSI files are associated with the SoC)
2. a machine-readable index of device drivers that implement particular APIs (map from APIs to lists of drivers; each driver in the list is a map from a name to driver metadata; driver metadata is things like the Kconfig option to enable the driver and any

[2022-02-22 00:29] #39220 closed

[2022-02-22 00:35] #42996 closed

[2022-02-22 00:36] #42740 closed

[2022-02-22 00:37] #26541 closed

[2022-02-22 00:39] #41929 closed

[2022-02-22 00:40] #40009 closed

[2022-02-22 01:39] #42240 closed

[2022-02-22 01:41] #42360 closed

[2022-02-22 01:43] #42705 closed

[2022-02-22 02:54] #42666 closed

[2022-02-22 03:02] #42130 closed

[2022-02-22 03:02] #39317 closed

[2022-02-22 04:31] yperess commented on #42877
Added the medium priority label as this affects tests.

[2022-02-22 05:54] manuja2000 opened #43046 "Wifi sample not working with disco_l475_iot1"
**Describe the bug**
samples/net/wifi not working with disco_l475_iot1, showing MPU FAULT, Instruction Access Violation error.

**To Reproduce**
Steps to reproduce the behavior:

Terminal 1
1. cd zephyrproject/zephyr
2. west build -b disco_l475_iot1 samples/net/wifi
3. west flash

Terminal 2
1. minicom
(Serial Device: /dev/ttyACM0)

**Expected behavior**
Board be capable to have console

**Logs an

[2022-02-22 06:25] KalpeshKadam-eaton commented on #42865
@arnopo
I did not mentioned around rpmsg_virtio_return_buffer. Is this question for me

[2022-02-22 06:25] #42865 closed

[2022-02-22 06:30] fuhaolei commented on #42849
https://github.com/zephyrproject-rtos/zephyr/pull/41858 This PR has been merged. So this issue is solved.

[2022-02-22 06:30] #42849 closed

[2022-02-22 07:24] ivan2angelov commented on #43020
Sure. I did that.
I am at commit d353e551607926612ff258dadbc13d028d58b54e

git status reports no "dirty" files.

Here is build output:
`
zephyrproject/zephyr (main) $ west build -p always -b native_posix samples/subsys/fs/littlefs
-- west build: generating a build system
Including boilerplate (Zephyr base): /mnt/c/work/zephyrproject/zephyr/cmake/app/boilerplate.cmake
-- Application: /mnt/c/work/ze

[2022-02-22 07:47] GatCode commented on #42997
@carlescufi, sure - the last working commit was 93d6d1e1142434925d490f80794d2798ee45ed49 - therefore faa89c779cbee1b35a4c9323effa82232451ace6 introduced the bug

[2022-02-22 07:56] Laczen commented on #43020
@ivan2angelov, it seems like wsl2 has a problem with the created flash.bin file to support flash simulation on native-posix. Have you changed something in the native-posix dts file? Normally a 2MB file (2048kB) is created for the flash emulation, but wsl is reporting that this file is to large.

[2022-02-22 07:58] jfischer-no commented on #42998
Generally board's DTS describes the available hardware configuration of the board. If the devicetree description of your nucleo board is not correct then open a PR to fix it. In general, I see no justification for this issue.

[2022-02-22 08:12] ivan2angelov commented on #43020
@Laczen thank you for the hints.
this is what I have:
zephyrproject/zephyr (main) $ find . -name flash.bin
./flash.bin
####@### /mnt/c/work/zephyrproject/zephyr (main) $ ll ./flash.bin
-rw------- 1 ##### ####  0 Feb 22 09:38 ./flash.bin

it seems like flash.bin is created in zephyr folder and it has zero bytes size.

[2022-02-22 08:30] arnopo commented on #42865
sorry copy past issue...
My question was "What do you mean by **engineering mode**? Is it the mode supported in stm32mp1Cube distribution to run the cortex-M4 is standalone?

[2022-02-22 08:46] Laczen commented on #43020
@ivan2angelov, I think this is because you are trying to create the flash.bin file on `/mnt/c` and it might be that this doesn't work. Could you try the same thing in your wsl2 home folder. I don't have this problem but I am using zephyr on wsl2 and installed zephyr on the ubuntu disk. There might be a wsl2 problem with calling `stat` on windows folders.

[2022-02-22 08:47] jukkar commented on #42988
I can confirm that this case was not intended but was just missed during the implementation and testing.

IMHO this sounds like a reasonable solution for this.

Thanks for volunteering :+1:

[2022-02-22 08:59] erwango commented on #42850
@carlescufi That was one day short, but I can push a fix today

[2022-02-22 09:02] ivan2angelov commented on #43020
@Laczen Great thank you for the tip!

Indeed, it was "user error".

I created flash.bin under my linux home directory and pass that to the example with -flash=<path-to-linux-folder/flash.bin>.
After that the example "formatted" flash.bin and second run mounted/unmounted without problems:

./build/zephyr/zephyr.elf -flash=/home/######/zephyr_flash/flash.bin
*** Booting Zephyr OS build v3.0.0-rc3-48

[2022-02-22 09:02] #43020 closed

[2022-02-22 09:23] #42856 closed

[2022-02-22 09:43] nvlsianpu opened #43052 "DTS: fixed-partition: properties for describe read/write access level"
**Is your feature request related to a problem? Please describe.**
Currently a fixed-partition node might declare the `read-only` property. This is enough if we come to a immutable partitions, like a bootloader or fixed application.

It is easy to find a case where appropriate is that a partition should be simultaneously read-only or writable, or inaccessible  depends on which a software actor att

[2022-02-22 09:47] nvlsianpu commented on #43052
cc @SebastianBoe @de-nordic @Laczen

[2022-02-22 10:07] nvlsianpu commented on #28695
I missed objectives and requirements for consideration on introduction FCB2
One of possible objective might be a LOG backend
Requirements that we might consider might be the `sequential writing scheme` which makes the solution pretty fast, data-integrity check, ability to recovery the storage instance after a write failure, capability for invalidate records.

Looking through the conversation above

[2022-02-22 10:19] erwango commented on #43046
Thanks for reporting this issue

No, I'm seeing the same issue w/o this change

[2022-02-22 10:20] Laczen commented on #43052
@nvlsianpu, I had included the read-only property in my proposal to improve working with flash partitions last summer. At that time it was found unreasonable to include this property and to disallow any writing to a flash partition that had the read-only property. At the time I had made all the requested changes to the PR. Including it now would seem unreasonable as well.

Extending it to disallow

[2022-02-22 10:27] sachinjairam commented on #42817
@pdietl Is it possible to implement STM32 ADC with DMA on zephyr? If so, is there any sample code that I can refer?

Thank you.
Sachin

[2022-02-22 10:33] erwango commented on #42998
So, for any sample or test, we'd have an overlay for each applicable board ?
I understand the limitations of current way of doing, but I'm not convinced this solution would scale.

[2022-02-22 10:38] erwango commented on #42850
@zzzh These clock configuration bit were moved to device tree, see https://github.com/zephyrproject-rtos/zephyr/pull/34120.
The mentionned Kconfig symbols were removed after deprecation period, but I'll add a word in the release note.

[2022-02-22 10:43] Laczen opened #43054 "fs/nvs move direct flash read/write into configurable routines"
**Is your enhancement proposal related to a problem? Please describe.**
At the moment nvs is using direct calls to the flash driver for reading and writing data. This works fine but creates a problem to support working with a (read-only) nvs system located in secure flash from a non-secure image. Non-secure images can use routines for accessing secure flash trough the TF-M api, but they can't use

[2022-02-22 10:44] Laczen commented on #43054
@sigvartmh, @SebastianBoe, @nvlsianpu, @de-nordic

[2022-02-22 12:20] rlubos commented on #42988
Perhaps, we could convert the `http_status_code` member to be a signed value, and allow to write a negative `errno` value in case of errors? It should be pretty straightforward to document that a negative status value indicate that no valid response has been received, for any reason (`ECONNRESET` for instance in case peer closes the connection before sending reply).

[2022-02-22 12:28] enthunilu opened #43057 "twister: error while executing twister script on windows machine for sample example code"
**Describe the bug**
On executing twister script on windows machine, getting below error

  File "scripts/twister", line 195
    print(f'ZEPHYR_BASE unset, using "{ZEPHYR_BASE}"')
                                                    ^
SyntaxError: invalid syntax

**To Reproduce**
Steps to reproduce the behavior:
1. Clone zephyr version 2.7 or nrf sdk v1.8 ( on both I am getting issue )
2. open comm

[2022-02-22 12:34] jukkar commented on #42988
This sounds like a good alternative too. Then we would have only one variable to check in the application.

[2022-02-22 12:35] MariuszSkamra opened #43058 "PACS: Fix PAC capabilities to be exposed in PAC Sink/Source characteristic"
**Describe the bug**
It looks like current implementation exposes codec configuration instead of capabilities in PACS Sink/Source characteristic value.
[code]

[2022-02-22 12:55] SebastianBoe commented on #43054
Why can't non-secure images use the flash driver directly?

[2022-02-22 13:44] #42050 closed

[2022-02-22 13:44] #43016 closed

[2022-02-22 13:55] SebastianBoe commented on #43054
Perhaps this should be rephrased:

"This works fine but creates a problem to support working with a (read-only) nvs system from a non-secure image."

to

"This works fine but creates a problem to support working with a (read-only) nvs system located in **secure** flash from a non-secure image. Non-secure images can **use** routines for accessing **secure**
flash trough the TF-M api, but they can't

[2022-02-22 13:57] Laczen commented on #43054
That could also be done, but this would require all TF-M api to be included into the flash drivers (all of them) and would require the dts to be in charge of the definition of the secure areas. Secure regions (and not partitions) need to be defined in the dts and the TF-M api would need to get the definitions from the dts. This would probably be a good solution also but is a lot more work.

As an

[2022-02-22 14:19] emillindq opened #43065 "modem_socket: async socket close"
**Is your enhancement proposal related to a problem? Please describe.**
I encounter a problem when handing an async close of a TCP socket using the modem_socket API. An example is the "AT+UUSOCL=1" that can be received from the Ublox SARA-R4 modem. Right now it calls `modem_socket_put()`. The issue I'm having is with `poll()`, since if `modem_socket_put()` is called on it, `poll()` will just say n

[2022-02-22 14:24] FRASTM opened #43066 "stm32wl55 true RNG falls in seed error"
**Describe the bug**
after several succesfull test, the tests/crypto/rand32/ on the nucleo_wl55jc target  fails in a infinite loop waiting for the Data Ready bit of the RNG Status reg.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 - What have you tried to diagnose or workaround this issue?
 - ...

**To

[2022-02-22 14:42] nashif commented on #22956
Changing into an enhancement given the description above, a new timer implementation is needed here, the current timer implementation works as documented.

[2022-02-22 14:45] jfischer-no commented on #29107
The workaround to change what class interface appears at the end still works, but that will not help you with btusb, since it simple does not work with composite configuration.

[code]

[2022-02-22 14:48] FRASTM commented on #43066
The stm32wl55 has a "conditioning component in the RNG". This differ from other stm32 mcu w/o Conditionning componenent
not only in the seed error recovery procedure but also in the RNG init phase, as the [refman](https://www.st.com/resource/en/reference_manual/rm0453-stm32wl5x-advanced-armbased-32bit-mcus-with-subghz-radio-solution-stmicroelectronics.pdf) explains:
[code]

[2022-02-22 15:25] #41931 closed

[2022-02-22 15:25] nashif commented on #41931
fixed already.

[2022-02-22 15:44] manoj153 commented on #42207
[code]

When  CONFIG_LOG_BACKEND_RTT is disabled, no crash is observed.

[2022-02-22 16:04] manoj153 commented on #42207
Unfortunately, CONFIG_DEBUG_COREDUMP=y is not doing its work otherwise I would be able to debug further.

Feel free to share if you have any ideas.

[2022-02-22 16:28] glarsennordic commented on #42988
I think either could work!

My one concern with allowing errno values as http_status values is the potential for confusion for an end user -- Since `http_client_req` can also return errnos, the two different sources of errno could have different meanings for the same return code.

For instance, `ECONNRESET` returned directly by http_client_req indicates that the request flat out failed due to some

[2022-02-22 17:49] carlescufi commented on #43057
You are using Python 2, twister requires Python at least 3.7.

[2022-02-22 17:49] #43057 closed

[2022-02-22 17:55] carlescufi commented on #42508
Closing due to inactivity, please reopen if still an issue.

[2022-02-22 17:55] #42508 closed

[2022-02-22 17:56] #40360 closed

[2022-02-22 18:08] walterchris opened #43081 "[Slack] Slack invite works only on very few mail addresses - this should be changed!"
Hi everyone,
Currently the slack invite only works with the following mail addresses:
[code]
Why are we so closed here? Any particular reason? I'd like to join the conversation on Slack, however I am unable to register!

Best,
Chris

[2022-02-22 18:09] #39132 closed

[2022-02-22 18:10] #42723 closed

[2022-02-22 18:13] stephanosio commented on #43081
We are no longer using Slack. Please use Discord.

[2022-02-22 18:13] #43081 closed

[2022-02-22 19:56] asemjonovs commented on #42877
@aescolar - would it make sense to add a kconfig option that either provides deterministic or non-deterministic results?  This way we can satisfy both needs.

[2022-02-22 20:17] konovagit commented on #29107
So it's not possible to use HCI USB + Console or shell at the same time ? I don't understand for which problem the workaround works.

[2022-02-22 20:20] nobodywasishere commented on #37352
I believe I am also running into this issue with the LoRa E5 Dev Board (STM32WLE5JC), where it will just halt during `adc_read()` and fails to print anything (including `ADC Reading:`). Is this related to this issue?

[2022-02-22 20:50] cgturner1 opened #43087 "XCC build failures for all intel_adsp tests/platforms"
When trying to build any testcase/sample using the XCC toolchain (xt-xcc) for any of the intel_adsp boards (although i suspect this will happen for any target) there is a build failure related to `#pragma GCC diagnostic not allowed inside functions`

Please also mention any information which could help others to understand
the problem you're facing:
 - targeted any intel_adsp target and affects al

[2022-02-22 21:49] brycewilkins opened #43090 "mimxrt685_evk_cm33: USB examples not working on Zephyr v3.0.0"
**Describe the bug**
USB examples (`samples/subsys/usb/hid`, `samples/subsys/usb/hid-mouse`, or `samples/subsys/usb/mass`) (that were tested in #37149) for `mimxrt685_evk_cm33` do not produce a working binary.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile from the Zephyr root directory:
[code]
2. See warnings:
[code]

It appears the dedicated USB device controller memory (region `S

[2022-02-22 23:07] #38567 closed

[2022-02-22 23:10] brycewilkins commented on #43090
Adding
[code]
to `boards/arm/mimxrt685_evk/mimxrt685_evk_cm33.dts` resolves the problem.

I wonder why this node property is not generated automatically?

[2022-02-22 23:37] brycewilkins commented on #43090
It seems the solution would be to add `zephyr,memory-region = "SRAM1";` to the `sram1` node in `dts/arm/nxp/nxp_rt6xx_common.dtsi`.

[2022-02-23 00:59] edersondisouza commented on #41995
@WealianLiao - gentle reminder about sending your patch as a PR - if you have already done so, please link it here.

[2022-02-23 01:11] andyross commented on #40620
Any update, @bawanqin1987?  We're going to need to close this soon.  If this still needs attention and you have the updates requested, you can always reopen it or submit a new issue.

[2022-02-23 01:38] gregshue commented on #11594
Standards compliance means limiting globally scoped symbols to 31 significant characters.  Is that within the scope of this ticket?

[2022-02-23 02:00] cvinayak commented on #42997
@GatCode Please set the correct value for  `CONFIG_BT_CTLR_SCAN_DATA_LEN_MAX` in your application if you want longer than the Bluetooth minimum AD data size of 31 bytes to be received.

[2022-02-23 02:46] smrtos opened #43094 "CMake stack overflow after changing the build/zephyr/.config, even just timestamp."
Reduce the previous reproduce steps to a simpler one:

1. cmake -B build -S ../samples/basic/blinky -GNinja -DBOARD=reel_board
2. cd build
3. ninja
4. touch zephyr/.config
5. ninja

Below error shows:

[2022-02-23 02:56] smrtos commented on #43094
Actually, just open menuconfig and change nothing can also reproduce this issue.

Steps:
1. cd zephyr/builds
2. cmake -B build -S ../samples/hello_world/ -GNinja -DBOARD=qemu_x86_64
3. cd build
4. ninja
5. ninja menuconfig
6. (change nothing, just press ESC and quit WITH SAVING)
7. Same error as above shows up.

[2022-02-23 03:12] smrtos opened #43095 "Inconsistent logging config result resulted from menuconfig."
**Describe the bug**
Inconsistent logging config result resulted from menuconfig.

**To Reproduce**
Steps to reproduce the behavior:
1. cd zephyr
2. cmake -B build -S samples/hello_world/ -GNinja -DBOARD=qemu_x86_64
2. cd build
3. ninja menuconfig
4. Check logging and enter the logging sub menu. It looks like this now:
![image](https://user-images.githubusercontent.com/54129187/155255256-1cb75963-

[2022-02-23 05:10] nordic-krch commented on #43087
Can you try to set `CONFIG_LOG2_ALWAYS_RUNTIME=y` and then build a sample?

XCC is based on GCC that does not support some of the needed features and a way to go should be to use that option with this toolchain.

[2022-02-23 06:55] zephyrbot opened #43096 "[backport v2.7-branch] backport of #42480 failed"
This issue was created automatically because the backport of #42480 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-42480-to-v2.7-branch`.

[2022-02-23 07:09] manoj153 commented on #42102
Concur, I do not know WARM vs COLD.

[2022-02-23 07:38] erwango commented on #37352
@nobodywasishere Do you enable PM ?

[2022-02-23 07:45] nobodywasishere commented on #37352
@erwango PM is not enabled, no

[2022-02-23 07:53] TTornblom commented on #11594
I have not seen this as a problem with Zephyr, and the IAR compiler does not seem to have a problem with this.

[2022-02-23 08:06] erwango commented on #37352
So likely it is another issue. Please raise a dedicated ticket giving any information that would help.

[2022-02-23 08:32] MariuszSkamra opened #43097 "PACS: Fix Supported Contexts"
**Describe the bug**
Currently, the supported contexts are static and defined in Kconfig BT_PACS_SNK_CONTEXT/BT_PACS_SRC_CONTEXT. Fix this by taking the supported contexts out of registered Audio Capabilities

[2022-02-23 08:37] MariuszSkamra opened #43098 "Move the capabilities and configuration defines out of lc3.h"
**Describe the bug**
The Codec Capabilities and Configuration types defined in the Generic Audio assigned numbers are not LC3 codec specific. Move the common codec definitions out of lc3.h

[2022-02-23 08:42] erwango opened #43099 "CMake: ARCH roots issue"
**Describe the bug**
I'm not able to build since https://github.com/zephyrproject-rtos/zephyr/pull/41301.
This is likely due to my local installation, but I can't get what should be updated.

For instance, when running `west build -p auto -b nucleo_f401re samples/hello_world/`, I'm getting the following error:
[code]
Issue shows up with with https://github.com/zephyrproject-rtos/zephyr/commit/254e

[2022-02-23 08:44] aescolar commented on #42877
@asemjonovs I don't think it would be a too good idea to do that. Meaning, you would not get what you are hoping for.
In a regression system you do not want uncontrolled randomness. Say you do have it, and your test fails just 1 out of 1000 times, what can you do? how do you debug the failing instance when re-triggering the failure takes you 1000 trials?
The idea is that you can have pseudo-random

[2022-02-23 08:50] smrtos commented on #43094
The issue is introduced by this commit: https://github.com/zephyrproject-rtos/zephyr/commit/61453e4a586fb0d865550f9f92708f3c05412bf9

[2022-02-23 08:54] MariuszSkamra commented on #43097
Depends on https://github.com/zephyrproject-rtos/zephyr/issues/43098

[2022-02-23 09:14] torsteingrindvik commented on #42458
I'd like to add a minor point about junit.
Currently,  the generated xml is displayed like this in Jenkins:

![image](https://user-images.githubusercontent.com/52322338/155289037-eaf1dc28-c87f-4493-9986-261422cafcbc.png)

I suggest that for Twister v2, the output xml should be adjusted such that tests/samples in Jenkins ends up being browsable in a similar layout to the actual filesystem layout.

[2022-02-23 09:45] #30724 closed

[2022-02-23 09:46] alexanderwachter commented on #30724
No progress here. We can reopen if there is progress on this issue

[2022-02-23 09:48] rlubos commented on #42988
Generally we could forward any error code returned at the socket level.

No strong feelings towards the errno approach, we can stick to `http_status = 0` approach if you think it's cleaner from the application POV.

[2022-02-23 09:50] FRASTM commented on #43099
I do not see that error building on dd3f251f1006ae84283acf60ddc2c7f2cefad1e6
and when my cmake is `cmake version 3.21.1 is OK; minimum version is 3.13.1`

[2022-02-23 10:10] carlescufi commented on #23302
Thanks, just discussed with @rlubos and he will take a look. Could you specify which exact boards you are testing this on please?

[2022-02-23 10:11] carlescufi commented on #23302
@rlubos has now completed the implementation of RX window support and it has been merged: #43018

[2022-02-23 10:35] SeppoTakalo opened #43103 "LwM2M library should use JSON library for parsing"
**Is your enhancement proposal related to a problem? Please describe.**
This has been originally discussed in https://github.com/zephyrproject-rtos/zephyr/pull/41718.

Current implementation of LwM2M library, more specifically its JSON format parser and generator, directly consumes JSON format, and directly produces JSON format by using simple character based parsing. In the mentioned PR a new con

[2022-02-23 10:55] jukkar commented on #42988
I am fine with either solution.

[2022-02-23 11:30] erwango commented on #43099
@tejlmand Could you provide more details on error message:
`Could not find ARCH=nucleo_f401re `

Why would ARCH be the board ID ?

[2022-02-23 11:36] konovagit commented on #29107
What can I patch on the zephyr side to avoid changing my btusb driver?

[2022-02-23 11:48] bipson commented on #42356
In my particular case the problem with the ~80 MB (compressed) is that in order to share just the _code_ (for e.g. a code drop accompanying a scientific publication) one needs to push around 80 MB, while most of it is not at all relevant for the code.
Please note that sending patches is not an option, since this can hardly be considered self-contained.

While 80 MB (compressed) might not seem much

[2022-02-23 11:53] jfischer-no commented on #29107
_The workaround to change what class interface appears at the end still works_

Nothing, you cannot use hci_usb and CDC ACM in composite configuration with btusb.

[2022-02-23 12:09] gregshue commented on #11594
Interesting, but independent of whether or not our code is compliant with the C99 standard.

[2022-02-23 12:16] #41651 closed

[2022-02-23 12:16] #41652 closed

[2022-02-23 12:36] TTornblom commented on #11594
My main issue has been with gcc extensions that aren't easily worked around using standard C, like typeof, alloca, case ranges (...), variable length arrays, etc. If symbol length would have been an issue they could easily have been shortened to make them work.

[2022-02-23 12:43] asbjornsabo commented on #42523
Reopen, as a result of https://github.com/zephyrproject-rtos/zephyr/pull/43029#discussion_r812838270

[2022-02-23 12:44] henrikbrixandersen commented on #43099
I can confirm this issue. I can reproduce it with CMake v3.22.2. No issues when using CMake 3.21.4.

[2022-02-23 12:59] gregshue commented on #11594
Understood, but this issue seeks standards compliance, not just portability. 😉

[2022-02-23 13:00] asbjornsabo opened #43107 "Rename media_proxy to mediacontrol"
Rename the media proxy to media control.
Exact name (media-control, media_control, media-ctl, mctl) TBD

[2022-02-23 13:13] JMasterMeister opened #43109 "drivers:peci:xec: PECI Command 'Ping' does not work properly"
**Describe the bug**
When using the PECI interface on Microchip MEC1521 the bus seems to crash when using the command 'Ping'.

SOC is MEC1521 and Intel Alderlake S CPU, Zephyr Version 2.7.99:
Before you read informations e.g. temperature via PECI, the CPU should be checked whether it is available or not.
PECI specifies a non-zero write FCS to show a sucessful ping command. With xec driver it is no

[2022-02-23 13:13] #43109 closed

[2022-02-23 14:04] erwango commented on #42817
Cf https://github.com/zephyrproject-rtos/hal_stm32#use-stm32cube-in-your-application

This is not available today. @pdietl is working on it but availability date of the code upstream is unknown so far.

[2022-02-23 14:37] kborowski2 opened #43115 "Data corruption in STM32 SPI driver in Slave Mode"
**Describe the bug**
There is a problem with STM32 SPI driver using SLAVE mode with DMA. We can observe 2 problematic cases:

1. Driver SPI transmission can be enabled during ongoing data transmission (when CS is active), which produces garbage data (data frame is shifted).
2. Data transmission start can occur after enabling SPI bus and before enabling DMA - we can observe strange bits shifts, whi

[2022-02-23 15:17] rkudaj opened #43117 "Not possible to create more than one shield."
**Describe the bug**
When multiple shields are defined, only the shield last in the -DSHIELD
list gets defined in `.config`. This is due to too many backslashes
used defining it for an env setting.

**Used board**
We have our in-company designed board.

**To Reproduce**
Steps to reproduce the behavior:
1.west build -b xxx_nrf5340_cpuapp -- -DSHIELD="cf_shield1 cf_shield2"

**Expected behavior**
Bu

[2022-02-23 16:24] erwango commented on #43117
Thanks for reporting this, I've requested backport of https://github.com/zephyrproject-rtos/zephyr/pull/40829

[2022-02-23 16:35] erwango commented on #43117
@rkudaj would you mind testing https://github.com/zephyrproject-rtos/zephyr/pull/43122 and see if fixing your issue ?

[2022-02-23 16:38] PerMac opened #43124 "twister: Create pytest-based PoC for twister v2"
Goal
Show the concept behind pytest and its major benefits. Show that the framework can be compatible with zephyr and its tests.

Requirements:
- Show how plugins/fixtures/hooks works and how a framework can be built from blocks -> benefits from standardized apis and specs.
- Show that test specification, test execution, test results blocks can be called individually
- Show how test identification

[2022-02-23 17:03] mbolivar-nordic commented on #41616
Process WG:

- put on hold pending hiring dev ops engineer at LF

[2022-02-23 18:23] ABOSTM commented on #43046
After analysis, fault is due to bad SPI Chip Select initialization structure within eswifi driver:
Issue appear with PR #39341, which make use of macro `SPI_DT_SPEC_INST_GET() `which has been introduced by #30536.
`SPI_DT_SPEC_INST_GET()` end up to call `SPI_CS_CONTROL_PTR_DT()` which is defined like this

From what I understand, this macro will return the address of a struct. But, if this macro i

[2022-02-23 19:08] mbolivar-nordic commented on #41613
Process WG:

- @nashif: I went through https://docs.zephyrproject.org/latest/development_process/release_process.html, which was a foundational document within the project. We usually refer to the wiki but this is part of our documentation. I recommend using this instead of the wiki in the future.
- @mbolivar-nordic : let's take that as a decision -- no objections, so we're going to remove the rel

[2022-02-23 19:10] cgturner1 commented on #43087
Hey @nordic-krch,

So i did set `CONFIG_LOG2_ALWAYS_RUNTIME=y` and ran the full twister test suite for one target platform that was failing all the test cases and this fixed a significant amount of build failures bringing up the passing rate to 73% but there are still ~41 tests/samples that are reporting the same `#pragma GCC diagnostic not allowed inside functions` error.

Is there another place

[2022-02-23 19:10] #38570 closed

[2022-02-23 19:18] MaureenHelm commented on #42831
I need to cancel this week's meeting due to a conflict, but I'll put it on the agenda for next week.

[2022-02-23 21:09] lmajewski commented on #43046
@ABOSTM - in the
`dsa_ksz8xxx_configure_bus()` function (dsa_ksz8xxx.c) the `SPI_DT_SPEC_INST_GET()` macro fills in the `struct spi_dt_spec spi` structure (not pointer) in the globally defined `struct ksz8xxx_data`.

[2022-02-23 21:46] nobodywasishere opened #43130 "STM32WL ADC idles / doesn't work"
**Describe the bug**
The STM32WL on the LoRa E5 Dev Board fails to read from the ADC with the example code in PlatformIO.

Please also mention any information which could help others to understand
the problem you're facing:
 - Zephyr v2.7.1
 - Ran in debug mode to step through to see where it gets stuck but end up looping through lines 93-99 of `idle.c` (this may be normal - I'm very new to Zephyr

[2022-02-23 23:52] jasonNXP opened #43131 "LPCXPresso55S69-evk dtsi file incorrect"
**Bug Report**
LPCXpresso55S69-EVK board DTS file has the incorrect active logic set in boards/arm/lpcxpresso55s69/lpcxpresso55s69.dtsi for the green, red, and blue LEDs.

**To Reproduce**
Blinky works as it only uses the gpio toggle API. Direct setting of the GPIO state to GPIO_OUTPUT_ACTIVE results in the LED remaining off.

**Expected Behavior**
I would expect that when I set the LED output to

[2022-02-24 01:10] WilliamGFish opened #43132 "Thingy:52 i2c_nrfx_twim: Error 0x0BAE0001 occurred for message"
**Describe the bug**
Thingy:52 does not boot, sx1509b failing to initialise

Using thingy:52 and receiving this error on boot.

[00:00:00.440,368] \033[1;31m<err> i2c_nrfx_twim: Error 0x0BAE0001 occurred for message 0\033[0m
[00:00:00.440,368] \033[1;31m<err> sx1509b: GPIO_P0: reset m0 failed: -5
\033[0m
[00:00:00.440,399] \033[1;31m<err> sx1509b: GPIO_P0 init failed: -5\033[0m
[00:00:00.440,460]

[2022-02-24 03:45] ycsin opened #43135 "stm32: uart: Support for wakeup from stop"
The STM32's UART driver currently lacks the ability to wake up from stop mode. For low power application that requires to listen for UART RX (modem, sensors using uart), the applications needs to delicately constraint the PM mode while the MCU is communicating with these external peripherals and unconstraint after the transaction is finished. This makes the LPM not as easy to use, and for applicat

[2022-02-24 03:49] Jeepgoing opened #43136 "STM32 Uart log never take effect"
https://github.com/zephyrproject-rtos/zephyr/blob/5fab2efc791ad5329d49ff2e0dadd76b4471dfa3/drivers/serial/uart_stm32.c#L39

maybe change to
`LOG_MODULE_REGISTER(uart_stm32, LOG_LEVEL_INF);`
like https://github.com/zephyrproject-rtos/zephyr/blob/5fab2efc791ad5329d49ff2e0dadd76b4471dfa3/drivers/serial/uart_nrfx_uarte.c#L19

[2022-02-24 05:09] marc-hb commented on #43087
Can you share a sample (twister? west?) command to reproduce? For some reason we never hit this while building SOF, here's a recent PR where everything builds fine: https://sof-ci.01.org/sofpr/PR5410/build12120/build/

[2022-02-24 05:26] keqiaozhang commented on #43087
@marc-hb, because we didn't use the latest zephyr commit to build SOF. We have a zephyr "pre-test" Jenkins job to select the stable zephyr commit for our SOF build.

[2022-02-24 07:53] erwango commented on #43135
I'm currently working on https://github.com/zephyrproject-rtos/zephyr/pull/42097 which should allow to configure alternate clocks like HSI16. At least in a first step, this would not be dynamic, but would allow to configure the right clock that enables to enter STOP mode.
There are still many steps from #42097 to what you exactly need, but that's the way to go and work is started.

[2022-02-24 08:13] #41375 closed

[2022-02-24 08:26] erwango commented on #43130
Thanks for reporting.
I've been able to reproduce the issue on `samples/drivers/adc` (using V2.7.1) adding a nucleo_wl55jc.overlay with the following dts fragment:
[code]

I've also managed to test it successfuly on [this branch](https://github.com/zephyrproject-rtos/zephyr/pull/34751) that introduced the ADC support for WL, so this is likely a regression. WWe'll have a look.

[2022-02-24 08:38] abxy commented on #43130
Sounds like the issue I fixed with this PR: https://github.com/zephyrproject-rtos/zephyr/pull/41548

[2022-02-24 08:42] MathieuGeorges commented on #30152
@Laczen , I'm looking to use settings subsys with multiple backends (nvs + fcb + custom backend). Is this feature already available or is it in the roadmap ?

[2022-02-24 08:49] jakkra commented on #39376
Hi, thanks for all the fixes and CTE gathering using periodic adv. is now working. We still have the issues described here: https://github.com/zephyrproject-rtos/zephyr/issues/40317#issuecomment-1014660743 which according to you guys is memory related, hence related to this ticket. Is there any progress or plan for the RAM optimizations?

Thank you

[2022-02-24 09:01] chrta opened #43139 "Request for support to maintaining hal_silabs"
**Issue**

There is no maintainer for SiLabs platforms and especially https://github.com/zephyrproject-rtos/hal_silabs
@galak did a most of the "high level" work in hal_silabs to ensure that the licenses are fine and the general code structure is ok.

It would really be good is someone closer to the TSC could step up and do this for SiLabs code. I can still do some code reviews, but i would also l

[2022-02-24 09:02] chrta commented on #43139
@mbolivar

[2022-02-24 09:17] erwango commented on #43130
I've done a git bisect that pointed me to 58b8c4006e1bc0bb2ee8056b807ecb11e1be71bb at the initial culprit

Thanks @abxy. I had a try and issue at that point was a bit different: Driver was not blocked as could be seen on V2.7.1 but reporting 0:
[code]
I had a try to backport #41548 but there were too many changes to do it quickly.
Need to see how to fix V2.7 branch w/o picking up all changes on V3

[2022-02-24 09:18] Laczen commented on #30152
@MathieuGeorges, no I don't think this is possible at the moment. It should be possible to use settings with multiple custom backends, but not with the builtin nvs and fcb. I have no plans to work on this.

[2022-02-24 09:24] MathieuGeorges commented on #30152
@Laczen , thanks for your answer, so I only see one solution at this time :
Implement a custom backend as an abstraction layer which will implement nvs + fcb + custom backend.

[2022-02-24 09:46] ppryga commented on #39376
@jakkra regarding the memory footprint optimization. There is a plan to do it, but I can't give you timeline because it depends on other things. Anyway it is on my tasks list to be implemented.

[2022-02-24 09:51] ABOSTM commented on #43046
@lmajewski I still think it is an issue, because within `struct spi_dt_spec spi`  there is
    spi --> config --> cs
which is a pointer and which is filled by `SPI_CS_CONTROL_PTR_DT()` with local struct

[2022-02-24 09:54] Laczen commented on #30152
I don't think this will work, the problem is that the routine `settings_backend_init()` is defined in both the nvs and the fcb backend, so you can't select support for settings on nvs and fcb. This would first need to be removed.

[2022-02-24 09:56] lairdjm commented on #42458
For this, at least from a mcumgr standpoint, it's vital that there is also support for being able to use and interact with an external utility (likely python based, but any type of external script/application would be preferred) so that it can send/receive commands to/from real devices (qemu devices could also be considered) and to also use the return code of the process when exiting to influence

[2022-02-24 10:05] maweicoltsmart opened #43142 "Ethernet and PPP communication conflicts"
The PCB I designed myself has an Ethernet interface and a GSM PPP interface. My application creates a UDP connection, this UDP connection can correctly receive and send data through Ethernet before PPP gets IP, but after PPP gets IP, this UDP connection can only receive data, but cannot send data , I'm guessing that the data may be sent from PPP. Is there any way to solve this situation of multipl

[2022-02-24 10:09] Laczen commented on #30152
@MathieuGeorges, you can find my original comment about this in the PR that introduces the `settings_backend_init()` at the time (#20975). I propose you take this up with the original approvers of the PR.

[2022-02-24 10:18] ycsin commented on #41772
@erwango I gave this another try today but still no luck, but I did find something in the adc driver that I think can be improved:

1. I guess this [line](https://github.com/zephyrproject-rtos/zephyr/blob/5ee306944b37fac3143f30e759478c6e8a9d36a4/drivers/adc/adc_stm32.c#L987) is not required in the init anymore, since we have [this](https://github.com/zephyrproject-rtos/zephyr/blob/5ee306944b37fac3

[2022-02-24 10:33] erwango commented on #41772
@FRASTM, maybe you can have a check ?

Also, please note that some work in on goi,g on that topic: https://github.com/zephyrproject-rtos/zephyr/pull/42567

[2022-02-24 10:38] tejlmand commented on #43099
This is caused by a bug in the CMake 3.22 PyPI package, ref: https://gitlab.kitware.com/cmake/cmake/-/issues/23187

and this code is triggering said bug: https://github.com/zephyrproject-rtos/zephyr/blob/5ee306944b37fac3143f30e759478c6e8a9d36a4/cmake/modules/arch.cmake#L32-L33

Looking into how we can restructure code, so we don't trigger the CMake bug.

[2022-02-24 10:40] tejlmand commented on #43099
see also: https://github.com/scikit-build/cmake-python-distributions/issues/221

[2022-02-24 10:51] #38305 closed

[2022-02-24 10:51] #40901 closed

[2022-02-24 11:03] rkudaj commented on #43117
Hi,
I tested , all looks good:)
regards

[2022-02-24 11:09] PerMac commented on #42458
@lairdjm Could you rephrase this a bit? Not sure if I follow. What would be a use case? I understand it now as to be able to use twister as a middleman between external unity and hardware/emulator. Is it the case?

[2022-02-24 11:55] henrikbrixandersen commented on #42458
Similar as to what you can do using the `pytest` twister harness today?

[2022-02-24 12:35] alwa-nordic commented on #42829
I agree. Rationale:
 - `CONFIG_BT_SETTINGS_CCC_LAZY_LOADING` should not change API behavior. "Lazy" means *on-demand*.
 -  My intuition says `bt_gatt_is_subscribed` could be a function of `bt_addr_le_t` instead of `bt_conn`. The subscription exist across connections.

Possible fixes:
 - On-demand load CCC settings when the CCC database is queried.
 - Revert #13473. The rationale behind that change

[2022-02-24 12:51] rlubos commented on #43142
I'm assuming you're using socket interface? You could use `SO_BINDTODEVICE` socket option to bind your socket to a specific network interface.

[2022-02-24 14:47] lmajewski commented on #43046
@ABOSTM
The SHA1: 8779972955e992183be6ea60f9a855ef2f388b2f made this change.

However, the `ip_k66f` board is not using GPIOs for CS for the KSZ8794 communication (the CS is controlled by the SPI HW block). I might just be lucky here.

@paveldedourek-eaton Maybe you are using it?

[2022-02-24 15:56] nordic-krch commented on #43087
It seems that `CONFIG_LOG2_ALWAYS_RUNTIME` was not set. Cmake warning is generated only when it [is not set](https://github.com/zephyrproject-rtos/zephyr/blob/5dddf9f0f8d89470e1cd63d61feb2ce40b7e7070/subsys/logging/CMakeLists.txt#L24):
[code]

[2022-02-24 16:00] emillindq opened #43159 "hal: stm32: ltdc pins should be very-high-speed"
**Describe the bug**
Recently LTDC pins for various STM32 series were added in its hal's dtsi files. However, these pins should be configured to be configured with very-high-speed slew-rate, else (at least for high-resolution displays) it will not work. It's probably also a good idea to configure them with internal pull-ups/downs to control the signals before the LTDC peripheral is configured and

[2022-02-24 16:55] gmarull opened #43163 "Applications not pulling LVGL cannot be configured or compiled"
**Describe the bug**

Out of tree applications not pulling `lvgl` module cannot be compiled.

**To Reproduce**

It can be reproduced e.g. with https://github.com/teslabs/spinner. The project uses the following manifest:

[code]

**Expected behavior**

Everything works without LVGL being pulled.

**Impact**

Blocker

**Logs and console output**

[code]

**Environment (please complete the following

[2022-02-24 16:57] gmarull commented on #43163
cc: @brgl

[2022-02-24 17:26] emillindq commented on #43159
I am unable to verify this, but I don't see how sharper edges on lower speed might cause problems other than higher electromagnetic emissions. But IMHO that should rather be solved with hardware. If nothing else, a user can copy the dts pin definitions to a local dtsi file and change back the slew rate. This is what we have done, however to enable the higher speed, and also because the ltdc pins w

[2022-02-24 17:28] pabigot commented on #27033
Thanks.  For reference the updated specification can be found: https://www.nxp.com/docs/en/user-guide/UM10204.pdf

[2022-02-24 17:30] teburd commented on #27033
Wonderful, glad to finally have some updated names. Glad to see you comment here @pabigot

[2022-02-24 18:51] brgl commented on #43163
@gmarull on it, can you assign the issue to me?

[2022-02-24 19:25] teburd commented on #41924
I'm not sure this is a real issue on nios2, but intend on fixing it anyways given the const attributes we have going. Will have a finalized PR once I have the hardware to test against (early next week).

[2022-02-24 21:25] manoj153 commented on #39520
Have some WIP some time ago. I need to rekindle my motivation to pursue

[2022-02-24 21:45] #39176 closed

[2022-02-24 22:52] andysan opened #43172 "CONFIG_BT_MESH_ADV_EXT doesn't build without CONFIG_BT_MESH_RELAY"
**Describe the bug**

Bluetooth Mesh using Extended advertising seems to have an incorrect compile-time dependency on  relay support.

**To Reproduce**
Steps to reproduce the behavior:
[code]
The above command results in the following compiler error on the v3.0.0 tag:

[code]

[2022-02-24 23:12] smrtos commented on #43094
Even simpler reproduce steps:

1. cmake -B build -S ../samples/basic/blinky  -GNinja -DBOARD=reel_board
2. cd build
3. ninja
4. touch zephyr/.config
5. ninja

Same error as above.

[2022-02-24 23:35] dcpleung commented on #43087
The issue at hand is that `LOG_*()` are still expanded when `CONFIG_LOG=n`. As `CONFIG_LOG2_ALWAYS_RUNTIME` depends on `CONFIG_LOG`, the macro expansion goes the path with `_Pragma()` and auto type, which results in build errors.

[2022-02-25 00:37] #43163 closed

[2022-02-25 01:22] #42631 closed

[2022-02-25 01:39] ycsin commented on #41772
cc @manoj153

[2022-02-25 03:15] enjiamai commented on #42702
I can reproduce it by running about 10 times on latest commit. 5ee306944b37fac3143f30e759478c6e8a9d36a4
Keep figure the problem out.

[2022-02-25 03:15] maweicoltsmart commented on #43142
@rlubos
Thanks, the problem has been solved with the suggestion you gave. Thanks again!

[2022-02-25 03:15] #43142 closed

[2022-02-25 04:02] ycsin opened #43176 "[v2.7] net/icmpv4: client possible to ddos itself when there's an error for the broadcasted packet"
**Describe the bug**
Interpreted from the commit messages in #41356, it is possible that a client can DDOS itself when there's an error for the broadcasted packet

[2022-02-25 04:15] ycsin opened #43177 "[v2.7] net: shell: errno not cleared before calling the strtol"
**Describe the bug**

Interpreted from #41636

The strtol() function use errno to return error code.
However, it is not being initialized in the parser_arg()
function before calling the strtol(). Thus, hitting error
when performing net ping command with -c / -i parameters.

Screen capture the error:

![image](https://user-images.githubusercontent.com/19462849/148492183-ab68cb3e-b7fb-4310-8852-7f6b

[2022-02-25 04:17] ycsin opened #43178 "[v2.7] net: ip: route: log_strdup misuse"
From #41390

are enabled.

[2022-02-25 04:22] ycsin opened #43179 "[v2.7] net: tcp: forever loop in tcp_resend_data"
Interpreted from #42448

There is a infinite loop the code can enter when there are no free `net_bufs`.

`ret = tcp_send_data(conn)` can return value `-ENOBUFS`, which is not handled in any way in the current implementation.

[2022-02-25 04:27] ycsin opened #43180 "[v2.7] net: tcp: possible deadlock in tcp_conn_unref()"
From #42526

Now the sleeping server thread wakes up and goes to tcp_conn_unref() where the tcp_lock is already taken by previous thread and here is the deadlock.

[2022-02-25 04:37] ycsin opened #43181 "[v2.7] net: sockets: net_pkt leak in accept"
From #42328

Now that when tcp stack calls tcp_conn_unref(), the net_context has only reference count of 1, hence can be reused by another connection, without having the recv_q empty. And finally when the net_context is reused it just k_fifo_init() the recv_q leaking all the net_pkts in recv_q.

[2022-02-25 04:39] ycsin opened #43182 "[v2.7] net: arp: ARP retransmission source address selection"
From #40038

retransmissions, when an ARP entry was already pending. In such case,
the entry value passed to arp_prepare() is NULL, which in result
caused the current_ip variable being used as the source value. The
problem with this approach is, that the current_ip is only set in
IPv4 autoconf, the Ethernet L2 does not set this variable. In result,
every retransmission of an ARP packet was sent wi

[2022-02-25 04:42] ycsin opened #43183 "[v2.7] net: mqtt: setsockopt leak on failure"
Interpreted from #40806

Unclosed socket when `setsockopt()` failed results in a leaked socket as it won't be closed elsewhere.

[2022-02-25 04:49] ycsin opened #43184 "[v2.7] arm: Wrong macro used for z_interrupt_stacks declaration in stack.h"
From #39562

[2022-02-25 04:51] ycsin opened #43185 "[v2.7] arm: cortex-m: uninitialised ptr_esf in get_esf() in fault.c"
From #39410

Uninitialized local variable in `get_esf()` in the Cortex-M `fault.c` causing a warning and potential invalid return value.

This is the full warning:

[code]

[2022-02-25 04:56] ck-telecom opened #43186 "Bluetooth: import nrf ble_db_discovery library to zephyr"
**Is your feature request related to a problem? Please describe.**
when discovery multi-services and its chrc and desc, user need more complicated logic for application, with ble_db_discovery user could find all interested services more easily to do that.

**Describe the solution you'd like**
seems like nrf ble_db_discovery API, and make it to Zephyr ways

**Describe alternatives you've considered

[2022-02-25 07:36] paveldedourek-eaton commented on #43046
@lmajewski You are right, I used sw control of Chip Select.

DT:
[code]

On stm32: spi_stm32_cs_control() is used to control such GPIO.

https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/spi/spi_ll_stm32.c

https://github.com/zephyrproject-rtos/zephyr/blob/1b998046340f56d9a9733c3845a8a5a733146297/include/devicetree/spi.h

BTW I took this example https://github.com/zephyrproject-rtos/z

[2022-02-25 07:59] hjuul opened #43188 "Automatic Memory Partitions for static libraries doesn't work with code relocation"
I want to route all globals in a static library into a specific memory partition, but at the same time I want the variables to be stored in external SDRAM. This seems to be not supported.

Here's what I'm trying to do (inside zephyr/CMakeLists.txt of a Zephyr Module):
[code]
When I do this, all variables are stored in SDRAM1 as expected. But the memory partition `my_partition` has an address point

[2022-02-25 08:50] MariuszSkamra opened #43190 "Bluetooth: audio: HCI command timeout on LE Setup Isochronous Data Path"
**Describe the bug**
Zephyr is the Unicast Server.
The host fails to receive HCI Command Complete on LE Setup Isochronous Data Path command.
As the result of HCI timeout the assert fails in bt_hci_cmd_send_sync:

BT_ASSERT_MSG(err == 0, "k_sem_take failed with err %d", err);

The last debug message that is processed is ISO Data. The HCI Command Complete even if sent by controller is not processed

[2022-02-25 09:09] ck-telecom opened #43192 "lvgl: upgrade LVGL to 8.1 build error"
**Describe the bug**

`[60/413] Building C object modules/lvgl/CMakeFiles/..__modules__lib__gui__lvgl__zephyr.dir/D_/personal/pinetime/modules/lib/gui/lvgl/src/extra/widgets/win/lv_win.c.obj
FAILED: modules/lvgl/CMakeFiles/..__modules__lib__gui__lvgl__zephyr.dir/D_/personal/pinetime/modules/lib/gui/lvgl/src/extra/widgets/win/lv_win.c.obj
C:\gnu_arm_embedded\bin\arm-none-eabi-gcc.exe -DKERNEL -DLV_

[2022-02-25 10:17] Thalley opened #43202 "LE Audio: Avoid hardcoding context type for LC3 macros"
**Is your enhancement proposal related to a problem? Please describe.**
The `BT_CODEC_LC3_CONFIG_*` macros have a hardcoded context type, which doesn't really make any sense.

**Describe the solution you'd like**
I see 3 options:
1. The context type should be removed from `BT_CODEC_LC3_CONFIG_*` and thus also from `BT_CODEC_LC3_CONFIG`
2. The context type becomes a parameter to `BT_CODEC_LC3_CONFI

[2022-02-25 10:45] eloisesko opened #43203 "BLE: With BT_SETTINGS and BT_SMP, second connection blocks the system in connection event notification"
**Describe the bug**
A second BLE connection event makes a circular reference on 'gatt_conn_cb' in linked list `callback_list` (conn.c), blocking the system in event notification (infinite loop).

This is due to the fact that the function `bt_gatt_connected` (gatt.c) can register multiple times the `gatt_conn_cb` object with `bt_conn_cb_register`  [here]( https://github.com/zephyrproject-rtos/zeph

[2022-02-25 11:57] gmarull commented on #43192
This issue does not include proper steps to reproduce, e.g. which sample to use?

[2022-02-25 12:02] rlubos commented on #23347
The issue is outdated, closing.

[2022-02-25 12:02] #23347 closed

[2022-02-25 12:05] henrikbrixandersen opened #43205 "UART console broken since 099850e916ad86e99b3af6821b8c9eb73ba91abf"
**Describe the bug**
The UART console on my `stm32f3_disco`, `twr_ke18f` and even `qemu_cortex_m0` boards is no longer functional (doesn't accept keystrokes, sometimes receives gibberish) since commit 099850e916ad86e99b3af6821b8c9eb73ba91abf (as revealed by `git bisect`).

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b qemu_cortex_m0-s samples/hello_world/ -- -DCONFIG_SHELL=y
2

[2022-02-25 12:08] tejlmand opened #43206 "Create resource_table section for stm32mp1 when CONFIG_CMAKE_LINKER_GENERATOR=y"
**Is your enhancement proposal related to a problem? Please describe.**
The stm32mp1 SoC uses a custom `linker.ld` that creates an extra section `resource_table`.

https://github.com/zephyrproject-rtos/zephyr/blob/3470ace98d4dae4918cf74491c07d74ad69d3559/soc/arm/st_stm32/stm32mp1/linker.ld#L16-L22

However, when using `CONFIG_CMAKE_LINKER_GENERATOR=y` that section is not created.

**Describe the s

[2022-02-25 12:17] henrikbrixandersen commented on #43205
Commit 099850e916ad86e99b3af6821b8c9eb73ba91abf  was introduced in #42845.

[2022-02-25 12:31] gmarull commented on #43159
I think that boards should be the ultimate responsible for this sort of settings. The pinctrl guide discourages adding this sort of defaults because they usually don't fit all usecases (see the note at the end of https://docs.zephyrproject.org/latest/guides/pinctrl/index.html#pin-configuration). I personally think ST should remove the defaults from autogenerated nodes, or at least remove some of t

[2022-02-25 12:38] sjanc opened #43207 "Bluetooth: Add API to easily determine maximum supported ATT MTU"
**Is your enhancement proposal related to a problem? Please describe.**
Currently there is no direct way of asking for maximum supported MTU and one needs to calculate this based on L2CAP buffer sizes

MIN(BT_L2CAP_RX_MTU, BT_L2CAP_TX_MTU)

**Describe the solution you'd like**
Function or macro that would allow to get maximum MTU eg bt_gatt_get_max_mtu()

**Additional context**
some discussion on

[2022-02-25 12:59] lairdjm commented on #43094
Can we mark this as high priority given that any sort of configuration before building completely breaks it and is impossible?

[2022-02-25 13:26] carlescufi commented on #43205
@npitre no need for hardware, you can use `qemu_cortex_m0` to reproduce.
@nordic-krch FYI

[2022-02-25 14:43] PxGreen101 commented on #42453
For anyone interested I have confirmed this does not work with Zephyr 2.7.1 as it does not have the changes to support the STM32G0 dual bank. I had to use the backport branch  revision: backport-37480-to-v2.7-branch then everything worked fine.

![image](https://user-images.githubusercontent.com/98962032/155734070-89ffc7e8-dbba-484e-b89f-3a6d85a464d8.png)

[2022-02-25 14:43] #42453 closed

[2022-02-25 15:40] erwango commented on #43130
See https://github.com/zephyrproject-rtos/zephyr/pull/43217

[2022-02-25 16:15] erwango opened #43218 "nucleo_wb55rg: Partition update required to use 0.13.0 BLE firmware"
**Describe the bug**
Following recent update of hal_stm32 module with recent STM32Cube package done in https://github.com/zephyrproject-rtos/zephyr/pull/41612, STM23WB based targets are compatible with V1.13.0 Cube package, which includes BLE firmware update.

Though, when updating target BLE core with V1.13.0 BLE firmware (specially the default one: stm32wb5x_BLE_Stack_full_fw.bin);
This is due t

[2022-02-25 16:17] erwango commented on #43218
Following partition will fix the issue on nucleo_wb55rg
[code]

[2022-02-25 16:30] npitre commented on #43205
FYI I reproduced the issue. I'm digging.
Seems to affect modem drivers too.

[2022-02-25 18:05] #43058 closed

[2022-02-25 18:19] zephyrbot opened #43224 "[backport v2.7-branch] backport of #43147 failed"
This issue was created automatically because the backport of #43147 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-43147-to-v2.7-branch`.

[2022-02-25 20:03] gmarull opened #43229 "nvs: change nvs_init to accept a device reference"
## Introduction

`nvs_init()` now accepts the name of a flash device, forcing the usage of `device_get_binding()`. This adds unnecessary runtime overhead when the flash device can be obtained at compile time, e.g. with `DEVICE_DT_GET()`.

### Problem description

The NVS API is marked as stable, the proposed change would break all direct users of the NVS API. However, the change has low impact (a

[2022-02-25 20:12] emillindq commented on #43159
You are speaking truth, I've run into problems with the default i2c pull-ups myself. Since it's possible to add properties to a dts node using &, I'm closing this issue. Thanks!

[2022-02-25 20:12] #43159 closed

[2022-02-25 20:40] gmarull opened #43230 "Deprecate DT_CHOSEN_ZEPHYR_ENTROPY_LABEL"
## Introduction

Deprecate the helper macro `DT_CHOSEN_ZEPHYR_ENTROPY_LABEL`, mainly used together with `device_get_binding()` to promote usage of `DEVICE_DT_GET()`.

### Problem description

Usage of `device_get_binding()` is being replaced with `DEVICE_DT_GET()` in most cases because device reference can be resolved at compile time. In this situation, `DT_CHOSEN_ZEPHYR_ENTROPY_LABEL` becomes les

[2022-02-25 21:21] PxGreen101 commented on #42453
One more comment is that if we are trying to do serial recover i.e in the prj.conf

# MCUboot serial recovery. Taken dirctly from serial_recovery.conf
CONFIG_MCUBOOT_SERIAL=y
CONFIG_BOOT_SERIAL_UART=y
CONFIG_UART_CONSOLE=n

one must replace the int flash_stm32_write_range(const struct device *dev, unsigned int offset, const void *data, unsigned int len) function with the one I have described above

[2022-02-25 23:25] glarsennordic commented on #42988
Sorry for going missing for the past couple of days.

If you are leaving it up to me, I think I would go with `http_status = 0` as the solution, which I think would only require doc changes and maybe some notes thrown into the code.

I'll put in a PR with the changes some time next week or the week after most likely.

[2022-02-25 23:33] tejlmand commented on #43094
@smrtos Investigated this issue and is able to reproduce now.

First thing I notice is that you apparently have two (or more) Zephyr workspaces, which is perfectly valid and supported.

- /home/ming/zephyrproject/zephyr
- /home/ming/zephyrproject2/zephyr

I noticed the looping happens between those two versions and I have managed to reproduce it locally under the following conditions:
- One Zephyr

[2022-02-25 23:38] tejlmand commented on #43094
Marked it `low` cause the getting started guide clearly states that `west zephyr-export` should be executed, and apparently that guide has not been followed on one of the workspaces.

https://docs.zephyrproject.org/latest/getting_started/index.html#get-zephyr-and-install-python-dependencies

that said, I will still look into a fix asap.

[2022-02-25 23:45] d3zd3z commented on #11594
I don't think we can reasonably say we comply with identifier significant character restrictions without some kind of tool that checks for naming clashes due to this.

But, I will ask, are you aware of any compiler that only checks the first 31 characters of an identifier? The C standard encourages tools to not have restrictions like this. Implementing a check for this could be a good bit of work,

[2022-02-26 01:18] qin-zou opened #43235 "STM32 platform does not handle large i2c_write() correctly"
**Describe the bug**
i2c_write() is generating extra starts at multiple of 255 bytes boundary for STM32 platform (v2).

For example, I have an array of data that's is 512 bytes, and I am writing that data to slave addr 0x5f.
uint8_t d[512];
i2c_write(dev, &d[0], 512, 0x5f);

I am expecting to see: Start 5f/w d[0] .... d[511] Stop
Instead, I am seeing: start 5f/w d[0] .... d[254] Start 5f/w d[255]

[2022-02-26 01:49] npitre commented on #43205
The fix is in PR #43226.

[2022-02-26 09:50] smrtos commented on #43094
Thanks! Yes, the `zephyrproject2` workspace is indeed not exported. I just tried your solution. It can work now.

[2022-02-26 09:59] smrtos commented on #43094
Thanks! Yes, the zephyrproject2 workspace is indeed not exported.
Your solution can fix in my scenario.

[2022-02-26 10:19] ck-telecom commented on #43192
I tried samples/subsys/display/lvgl with board pinetime_devkit0 is ok, but the project config file is full enabled, for my project with flash size limits so:
- I try to disable some widgets without CONFIG_LV_CONF_MINIMAL=y, but widgets building will cause some build error
- I try to enable CONFIG_LV_CONF_MINIMAL, some widgets build error happens

[2022-02-26 10:35] gmarull commented on #43192
Can you provide a sample where this can be reproduced?

[2022-02-26 16:51] beriberikix opened #43245 "GitHub settings: Update topics"
This repo already has a few [topics](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics) and at the time of writing they are:
- `iot`
- `real-time`
- `microcontroller`
- `embedded`
- `mcu`
- `rtos`

Notably missing is [`zephyr-rtos`](https://github.com/topics/zephyr-rtos), [`zephyr`](https://gi

[2022-02-26 17:27] enjiamai commented on #42548
This is my bad. This is due to environment problem. Just export the LANG=xxx.utf-8 solve the problem. So close this.

[2022-02-26 17:27] #42548 closed

[2022-02-27 00:29] #39314 closed

[2022-02-27 01:13] gregshue commented on #11594
That is one source.  Others are:

- testcase names (which should be descriptive).  Mine have already pushed the 64 significant character limit.
- any prefixes analogous to C++ namespaces (which be nested and hierarchical).
- avoiding variations in abbreviations (e.g. using "manufacturing" rather than "mfg", or "internationalization" instead of "i18n").

I think there is a better practical solution

[2022-02-27 02:59] ck-telecom commented on #43192
diff --git a/samples/subsys/display/lvgl/prj.conf b/samples/subsys/display/lvgl/prj.conf
index 8ac5276a02..f937facb52 100644
--- a/samples/subsys/display/lvgl/prj.conf
+++ b/samples/subsys/display/lvgl/prj.conf
@@ -7,9 +7,4 @@ CONFIG_DISPLAY_LOG_LEVEL_ERR=y
 CONFIG_LOG=y

 CONFIG_LVGL=y
-CONFIG_LV_MEM_CUSTOM=y
-CONFIG_LV_USE_LOG=y
-CONFIG_LV_USE_LABEL=y
-CONFIG_LV_USE_BTN=y
-CONFIG_LV_USE_IMG=y
-C

[2022-02-27 06:13] LingaoM opened #43246 "Bluetooth: Host: Deadlock with Mesh and Ext Adv on native_posix"
Use native_posix as Bluetooth Mesh Demo
Use Another board as Controller，attach to host.

Note：EXT_ADV used.

https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/bluetooth/hci/userchan.c#L67
Not Mark discardable flag, cause deadlock.

May be introduce by https://github.com/zephyrproject-rtos/zephyr/pull/41337

@hermabe CC

[2022-02-27 07:07] petejohanson commented on #43203
I've just hit this very bug when working on the 3.0 update for https://github.com/zmkfirmware/zmk/

We use multiple connections for our split keyboards, and our central side if getting into this infinite loop.

[2022-02-27 08:37] LingaoM opened #43248 "Bluetooth: Mesh: Unable used with ext adv on native_posix"
I use the `main` branch based on `ext_adv` In the mesh PTS test under native_posix, it was found that the test failed at all.

[00:00:07.830,000] [0m<dbg> bt_hci_core: hci_le_meta_event: subevent 0x0d[0m
[00:00:07.830,000] [0m<dbg> bt_scan: bt_hci_le_adv_ext_report: Adv number of reports 1[0m
[00:00:07.830,000] [0m<dbg> bt_scan: le_adv_recv: 22:44:7A:94:5E:EF (random) event 0, len 29, rssi -7

[2022-02-27 08:40] LingaoM commented on #43248
**Steps to do:**

Add below config to tests/bluetooth/tester/overlay-native.conf

[code]

`west build -b native_posix zephyr/tests/bluetooth/tester/ -DOVERLAY_CONFIG=overlay-native.conf
`

`python3 ./autoptsclient-zephyr.py "C:\Users\DELL\Desktop\zblue3.0\zblue-3.0\zblue_3.0.pqw6" /home/lingao/zephyrproject/build/zephyr/zephyr.exe -i 10.224.203.10 -l 10.224.203.72 --hci 1 -c MESH/NODE/PROV/BV-07-C

[2022-02-27 13:25] nandojve opened #43249 "MBEDTLS_ECP_C not build when MBEDTLS_USE_PSA_CRYPTO"
**Describe the bug**
Currently version of TFM/PSA not build when enable `MBEDTLS_ECP_C` and `MBEDTLS_USE_PSA_CRYPTO`. I've been testing using `main` repository and `mps2_an521_ns` qemu.

**To Reproduce**
This is a proprietary implementation which get problem when combine MBEDTLS configurations at user-tls.conf.
Steps to reproduce the behavior:

With below configuration Zephyr App build and works p

[2022-02-27 14:34] cfriedt commented on #42870
Using the latest GNU ARM Embedded toolchain.
[code]

I have not tested with earlier versions of the above toolchain, but given that

In addition to the regular build options, I added `CONFIG_COMPILER_OPT="-Wall -Wextra"` to `tests/lib/c_lib/prj.conf`.

I'm unable to coerce the GNU ARM Embedded toolchain into producing a warning let alone an error with qsort. Using qsort quite regularly with a prop

[2022-02-27 15:32] bbilas commented on #43046
Sorry for the late answer but I was in the hospital. It seems that you are right and we shouldn't initialize that structure in that way. I've prepared a fix for that but due to lack of hardware I'm not able to verify that, please see:  https://github.com/zephyrproject-rtos/zephyr/pull/43250

[2022-02-27 19:06] nandojve commented on #38544
Hi @bbilas ,

I was wondering if you did you saw this when looking at other PR?

[2022-02-27 19:52] henrikbrixandersen commented on #41522
Fix was already merged.

[2022-02-27 19:52] #41522 closed

[2022-02-28 02:48] LingaoM commented on #43248
One of the fixes:https://github.com/zephyrproject-rtos/zephyr/pull/43253

[2022-02-28 06:56] LingaoM commented on #43248
Link https://github.com/zephyrproject-rtos/zephyr/issues/43246

[2022-02-28 07:20] Laczen commented on #43229
@gmarull, maybe it is better to create a `nvs_mount(struct nvs_fs *fs)` routine that does not take an argument. The flash_dev can then be set prior to a call to `nvs_mount` and `nvs_init` can set the device based on the name.

[2022-02-28 07:23] CEmir10 opened #43257 "can_sam.c"
I would like to ask you if someone can help me to achive CAN clock at frequencies of 20, 40 or 80 MHz. To achieve these frequencies, PMC PCK5 must select the UPLLCK (480 MHz) as source clock and divide by 24,12, or 6. PCK5 allows the system bus
and processor clock to be modified without affecting the bit rate communication. I see that UPLLCK is not selected in can_sam.c

[2022-02-28 07:56] pflonz opened #43258 "HCI core data buffer overflow with ESP32-C3 in Peripheral HR sample"
**Describe the bug**
The Peripheral HR sample program issues the warning `<wrn> bt_hci_core: Data buffer overflow (link type 0x01)` while connected to nRF Toolbox HRM after some time and stops notification (same behaviour also with other BLE smartphone apps).

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?

[2022-02-28 08:31] microbuilder commented on #43249
The next release of TF-M enables MbedTLS 3.1.0, which provides better PSA API integration. There are still a number of issues with the 3.0.0 release used in the current TF-M version we reference in Zephyr.

[2022-02-28 09:50] ABOSTM commented on #43046
@manuja2000 I confirm that #43250 fixes this issue.
Nevertheless, there is a new recent regression #43205 that prevent to run this samples/net/wifi
but a fix is available #43226

[2022-02-28 09:52] #43046 closed

[2022-02-28 09:52] #43205 closed

[2022-02-28 09:52] #43087 closed

[2022-02-28 10:04] #41188 closed

[2022-02-28 10:52] nandojve commented on #43249
Thank you @microbuilder ,

I wondering if is there any release schedule in mind?

[2022-02-28 10:58] nandojve commented on #43257
CC: @alexanderwachter

[2022-02-28 11:24] microbuilder commented on #43249
TF-M has three releases a year, and we can only update after a TF-M releases, so there should be an upmerge available in the next two months.

[2022-02-28 12:31] Thalley opened #43268 "LE Audio: Add stream ops callbacks for unicast server"
**Is your enhancement proposal related to a problem? Please describe.**
For the unicast client, broadcast source and broadcast client, the stream ops (started, stopped, enabled, etc.) are called when the streams change state, but aren't done for the unicast server/ASCS.

**Describe the solution you'd like**
Add more calls to the stream ops callbacks to give more information to the unicast server i

[2022-02-28 13:03] bbilas commented on #38544
Hi @nandojve, I have not seen it but I'm afraid that I won't be able to help with that due to lack of the necessary hardware.

[2022-02-28 13:56] Thalley commented on #43246
@LingaoM Can you please provide more information, as requested by the bug report template?

How exactly can this be reproduced? Any logs you can share? What commit SHA are you on?

[2022-02-28 14:20] mbolivar-nordic commented on #43230
+1

[2022-02-28 14:22] enjiamai opened #43271 "tests: acrn_ehl_crb: tests/arch/x86/info failed"
**Describe the bug**
The  tests/arch/x86/info test failed in acrn_ehl_crb start from commit e510dba95ec2b0a55658698d9d0369f5403e7874 <tests: x86/info: only tests PC compatible platforms> because this commit enable this testing for acrn_ehl_crb also.
Before this commit this test was skipped, it is just enabled. So need to check why this test failed on this board.

**To Reproduce**
Steps to reproduc

[2022-02-28 15:18] enjiamai opened #43276 "tests: up_squared: testsuite tests/kernel/sched/deadline/ failed"
**Describe the bug**
The testsuite tests/kernel/sched/deadline/ failed on up_squared board. After bisect it start to failed at commit: b0458201ccd272f4d7e5b7fddbca952f77f67a3c <arch/riscv: Do not use irq_lock() on arch_irq_offload>

This commit remove the spinlock on arch_irq_offload(), this should only effect the risc-v,  but  actually the tests/kernel/sched/deadline/  failed due to this commit.

[2022-02-28 15:19] nvlsianpu opened #43277 "usb/dfu: upgrade request is not called while used from mcuboot, update doesn't happen"
**Describe the bug**
When zephyr dfu class is used (along with MCUboot's dual-bank mode), it downloads the update image to the image-1 slot.
Once download is finished the class driver should call boot_request_upgrade(), but it doesn't which causes the problem.

Zephyr's usb dfu class implementation works fine as an application.

Need to find wheter issue is caused by mcuboot or zephyr
related to h

[2022-02-28 15:59] enjiamai opened #43284 "samples: drivers: watchdog failed in mec15xxevb_assy6853"
**Describe the bug**
The sample:  "samples/drivers/watchdog/" failed. After reset the "Watchdog sample application" did not show up.
Our test report show it failed during 49d08c25fe86 ~ 3b7807cc9b06.
But when I retry the good commit 3b7807cc9b06,  older 35ec3c957992, even very early commit, it still failed.
Not sure what cause this so far.

**To Reproduce**
Steps to reproduce the behavior:
1. sour

[2022-02-28 16:04] gte1 opened #43285 "nRF5x System Off demo fails to put the nRF52840DK into system off"
Using zephyr-v3.0.0 release

Please also mention any information which could help others to understand
the problem you're facing:
 - Board nrf52840dk_nrf52840

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nrf52840dk_nrf52840 samples\boards\nrf\system_off
2. west flash

**Expected behavior**
System off entered

**Impact**
Not possible to enter system off

**Logs and co

[2022-02-28 16:10] MathieuGeorges commented on #30152
@Laczen , I found this comment ([19798](https://github.com/zephyrproject-rtos/zephyr/issues/19798#issuecomment-543047930)) in a proposal you've made.
This "backend splitter" would be a good workaround since I only need 2 backends : NVS and a custom backend.
Do you know if there are implementations of this kind ?

[2022-02-28 16:16] dkalowsk opened #43286 "Zephyr 3.1 Release Checklist"
Looking for a sign off on the v3.1.0 release notes- [ ] Major enhancements:
   - See https://github.com/zephyrproject-rtos/zephyr/projects/9

- [ ] Pre RC1 Steps
   - [ ] Create v3.1.1 milestone so that features that don't make it to the release can be assigned a milestone
   - [ ] Verify that all external components and external dependencies are up to date, for example
      - mbedTLS
      - tin

[2022-02-28 16:17] dkalowsk commented on #43286
Link back to the previous release issue: https://github.com/zephyrproject-rtos/zephyr/issues/39587

[2022-02-28 17:26] Laczen commented on #30152
No, I don't know about any implementation that uses this method, sorry.

[2022-02-28 18:26] DerekSnell commented on #42436
Merging PR https://github.com/zephyrproject-rtos/zephyr/pull/43227 will resolve this issue

[2022-02-28 19:12] DerekSnell opened #43292 "NXP RT11xx devicetree missing GPIO7, GPIO8, GPIO12"
**Is your enhancement proposal related to a problem? Please describe.**
DTS file includes most GPIO peripherals, but these 3 are missing.

**Describe the solution you'd like**
Add missing GPIO to DTS

**Additional context**
zephyr\dts\arm\nxp\nxp_rt11xx.dtsi

[2022-02-28 19:38] aogonzalez75 opened #43294 "LoRaWAN stack & user ChannelsMask"
LoRaWAN API doesn't have any interface to setup the user ChannelsMask?

[2022-02-28 20:34] brycewilkins opened #43295 "mimxrt685_evk_cm33: Hard fault with `CONFIG_FLASH=y`"
**Describe the bug**
A hard fault is generated with board `mimxrt685_evk_cm33` from the FlexSPI driver when running with `CONFIG_FLASH=y`.

The bug was introduced in #40228

**To Reproduce**
Steps to reproduce the behavior:
1. Set `CONFIG_FLASH=y` in `prj.conf` for a test project (e.g. `samples/hello_world/prj.conf`).
2. Compile and flash from the Zephyr root directory:
[code]
3. Find the hard fau

[2022-03-01 05:55] daor-oti commented on #42870
@cfriedt Thank you for your test, but unfortunately I cannot, and there is no need, as it is essentially the same as the one from gcc, which I listed in the description above. I think you are getting build warnings in you above example, so if you put -Werror, then you will probably see the same. I will look at your comment in the PR and rework asap, so that we can get the cast removed.

[2022-03-01 06:03] Dino-Li commented on #42953
@fuhaolei , @Zhaoningx , the PR fixed this issue.

[2022-03-01 06:04] Dino-Li commented on #42851
@fuhaolei , @Zhaoningx , the PR fixed this issue.

[2022-03-01 08:13] #43186 closed

[2022-03-01 08:21] LingaoM commented on #43246
@Thalley  https://github.com/zephyrproject-rtos/zephyr/commit/8b54f08a690e2817be111ed43cd33ec05dfe25b3

[2022-03-01 08:22] LingaoM commented on #43246
`rx.hdr[sizeof(*hdr)] == BT_HCI_EVT_LE_EXT_ADVERTISING_REPORT)` has been removed by https://github.com/zephyrproject-rtos/zephyr/pull/41337 cause deadlock https://github.com/zephyrproject-rtos/zephyr/issues/30955

[2022-03-01 08:36] hermabe commented on #43246
Extended advertising reports cannot be discarded as the host needs to do reassembly of long advertising data. Legacy advertising reports can be discarded because each report is complete.

[2022-03-01 08:39] LingaoM commented on #43246
From the current design, whether discarded or not, there will be problems, so it needs to be reconstructed

[2022-03-01 08:42] joerchan commented on #43249
They switched to 2 releases a year, next release is in May.
<html>
<body>

Version | Feature Freeze | Release
-- | -- | --
v1.6.0 | 2022-4-1 | 2022-4-15

</body>
</html>

[2022-03-01 09:01] pbatiot opened #43305 "wifi: esp_at: shell command "wifi scan" not working well"
**Describe the bug**
The shell command "wifi scan" doesn't print every wifi AP available when used by esp-at driver

**To Reproduce**
To launch the wifi sample with esp-at driver :
1. Connect your board to ESP32 board. I used a ST board b_u585i_iot02a connected to esp32-c3-devkitC, through UART3.
2. Create overlay file : zephyr/samples/net/wifi/boards/b_u585i_iot02a.overlay containing
"&usart3 {

[2022-03-01 09:01] pflonz commented on #43258
@sylvioalves Can you possibly help me out here? Many thanks in advance!

[2022-03-01 09:07] Zhaoningx opened #43306 "sam_e70b_xplained: the platform will be not normal after running test case tests/subsys/usb/desc_sections/"
Describe the bug
I did some testing on the platform, I found that although the test case `tests/subsys/usb/desc_sections/` is successful to test, after running this, the platform won't work and never get any log from the port and will show me `time out` error. I revisited these two days' merged commits which relative with sam_e70b_xplained, I find the commit [`1e747eca0d1a`](https://github.com/zep

[2022-03-01 09:17] pbatiot commented on #43305
I have been able to solve the bug with this workarround :

[code]

[2022-03-01 09:18] Jeepgoing opened #43308 "driver: serial: stm32: uart will lost data when use dma mode[async mode]"
**Describe the bug**
User data will be lost when dma buffer is full

e.g.
DMA buffer length is 256 bytes, my package length is 10 bytes, uart driver will lost 4 bytes
when received 26 packages.

Platform is STM32G473QE

[2022-03-01 09:23] enjiamai commented on #43306
After this PR https://github.com/zephyrproject-rtos/zephyr/pull/43101 merged, the flashing will failed after executing testsuite tests/subsys/usb/desc_sections/,  this cause all the following testing failed in our daily testing automation. Could you please take a look on this? @pdgendt , thank you!

[2022-03-01 09:38] gmarull commented on #43285
Can you check if https://github.com/zephyrproject-rtos/zephyr/pull/43187 fixes the issue?

[2022-03-01 09:49] gte1 commented on #43285
Yes #43187 seems to fix the issue

*** Booting Zephyr OS build zephyr-v3.0.0  ***

nrf52840dk_nrf52840 system off demo
Retained data not supported
Busy-wait 2 s
Busy-wait 2 s with UART off
Sleep 2 s
Sleep 2 s with UART off
Entering system off; press BUTTON1 to restart

[2022-03-01 10:00] erwango opened #43310 "disco_l475_iot1: BLE not working"
**Describe the bug**
`samples/bluetooth/peripheral` is not working anymore on `zephyr-v3.0.0-483-g145bcd7ab9`.
It was working fine on v3.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. west -p -b disco_l475_iot1 samples/bluetooth/peripheral
2. west flash
4. See error

**Expected behavior**
BLE should be functional on this board

**Logs and console output**
[code]
Stack remains stuck in S

[2022-03-01 10:03] gmarull commented on #43192
Seems to be a bug (or an assumption) in how LVGL uses Kconfig (`lv_conf_internal.h`):

[code]

If `CONFIG_LV_USE_SLIDER=n`, there's nothing in `autoconf.h`. Meaning, we'll end up with `LV_USE_SLIDER` defined as 1 (enabled). This also happens to many other widgets (maybe that explains the increase in ROM usage).

LVGL should do instead (assuming it has an equivalent to IS_ENABLED):

[code]

It seem

[2022-03-01 10:17] cfriedt commented on #42870
I cannot reproduce the error message you have provided at all using the same toolchain or with the Zephyr SDK toolchain.

There is not a single warning associated with `qsort` actually. There are warnings from `uart.h` and elsewhere. But no, adding `-Werror` does not cause additional warnings in `qsort.h`.

In any case, I've made some additional comments on your PR, which should help to solve your

[2022-03-01 10:19] kisvegabor commented on #43192
I similar issue was fixed a few days ago. Can you update to the latest LVGL from master? There are no breaking change, so the current master should be a drop in replacement of v8.2.

[2022-03-01 10:20] brgl commented on #43192
@kisvegabor Nope, turned out there are some conflicts between the zephyr fork and ucrrent master, I just tried pulling the tag. I'll spend some time on it later today, I'm busy with other stuff ATM. Let me know if you want to take a look in the meantime.

[2022-03-01 10:30] Thalley commented on #43246
Can you elaborate more on how/why it is causing a deadlock?

[2022-03-01 10:33] kisvegabor commented on #43192
You also just replace [lv_conf_internal_gen.py](https://github.com/lvgl/lvgl/blob/master/scripts/lv_conf_internal_gen.py) with this latest version and run it.

[2022-03-01 10:36] EmbedWise commented on #42227
@danieldegrasse there is indeed no power control circuit. The error I see it the following:

[code]

[2022-03-01 10:42] LingaoM commented on #43246
The Bluetooth receiving thread may not be able to process broadcast
packets because the system API(bt_hci_cmd_send_sync) is in block state.
If HCI driver is still waiting buffer for adv report, an assertion will
be triggered.

[2022-03-01 10:44] erwango commented on #43308
@Jeepgoing Thanks for submitting this issue. To ease the investigation, would you have some code to share that can be used to reproduce the issue (a branch on you personal zephyr fork for instance) ?

[2022-03-01 10:48] tejlmand commented on #43094
Thanks, digging a bit deeper this is also depending on the order of which CMake decides to load each package for testing, as well as the way CMake stores `Zephyr_DIR` to the cache.

This has been fixed in #43311

[2022-03-01 10:53] Thalley commented on #43246
Ah, so the `bt_hci_cmd_send_sync` can not finish because the event RX buffers are full of adv reports?

But as @hermabe said, the extended advertising reports cannot be discarded that easily anymore, and doesn't the same issue exist for any other event unsolicited event (including PA reports as well)?

We current have a system with 2 priorities for events that somewhat handles this. Perhaps we nee

[2022-03-01 10:53] #43203 closed

[2022-03-01 10:55] #42083 closed

[2022-03-01 11:08] Jeepgoing commented on #43308
[code]

My workaround method is restart uart when dma offset larger than buffer length - 80, and this method is in my application,
but i am worried about this.
Is this method can added under there [uart_stm32.c](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/serial/uart_stm32.c)
https://github.com/zephyrproject-rtos/zephyr/blob/0e8f556b1765d077d80ed12fc3b8317ec76c2eb9/drivers/seria

[2022-03-01 11:12] Jeepgoing commented on #43308
And this means https://github.com/zephyrproject-rtos/zephyr/blob/0e8f556b1765d077d80ed12fc3b8317ec76c2eb9/drivers/serial/uart_stm32.c#L1171 will never occur

[2022-03-01 11:36] Thalley opened #43314 "LE Audio: BAP `sent` callback missing"
**Is your enhancement proposal related to a problem? Please describe.**
In the ISO layer we have a `sent` callback whenever a stream has finished sending a packet, but we do not have that for the `bt_audio_stream_send`.

**Describe the solution you'd like**
Add a `sent` callback in the stream ops (`bt_audio_stream_ops`) that the application can use to determine when a stream is done sending.

**De

[2022-03-01 11:46] #43229 closed

[2022-03-01 12:06] FRASTM opened #43316 "stm32wl55 cannot enable PLL source as MSI"
**Describe the bug**
when configuring the PLL clock of  nucleo_wl55jc at 48MHz with MSI (4MHz) source.

Define the dts clock source to be:
[code]

**To Reproduce**
Steps to reproduce the behavior:
 seePR https://github.com/zephyrproject-rtos/zephyr/pull/43157:
[code]
--> no output on the console

**Expected behavior**
[code]

**Impact**
PLL source does not accept MSI clock as source

**Logs and co

[2022-03-01 12:20] ShubhadaHarkut-eaton opened #43319 "Hardware reset cause api sets reset pin bit everytime the api is called"
Hardware reset cause api sets reset pin bit everytime the api is called, Irrespective of the reset reason.
Incase of Software reset, There are 2 bits set that is (software reset and reset pin ) the cause id returned is "3"
Similarly in case of Reset due to Watchdog there are 2 bits set (watchdog and reset pin) the cause id value returned is "17".

Target used : stm32f767
Zephyr version : 3.0.0-rc

[2022-03-01 12:31] ycsin commented on #37324
I believe this issue is now solved by #43018 and/or #39275. I'm able to download a 300+kB firmware and write that into flash using SPI interrupt API. Previously this is only possible using SPI async APIs.

[2022-03-01 12:31] #37324 closed

[2022-03-01 14:03] nashif commented on #41613
new release timeline: https://docs.google.com/document/d/1JxFd2FIR1hVbwA8q1N8u4JV0719aL-omZgghlCyYSAU/edit?usp=sharing

[2022-03-01 14:15] EmbedWise opened #43326 "Unstable SD Card performance on Teensy 4.1"
**Describe the bug**
No deterministic behavior when using the SD card, mounting, reading and writing

The Teensy 4.1 does not have a card present gpio detection and no power control. So using a dummy GPIO.

Using SD Card formatter 5.0.2
    Type: SDHC
    Capacity: 3.96 GB
    Overwrite Format

Is recognized by MacOs as MS-DOS (FAT32)
<img width="916" alt="7F18E168-A89E-48BE-9CD3-874F13FC88DC" src

[2022-03-01 14:19] nashif commented on #38725
@mbolivar-nordic lets put this on the agenda tomorrow, there are things blocking this that need to be discussed.

[2022-03-01 14:20] nashif commented on #42458
for example this: https://github.com/zephyrproject-rtos/zephyr/issues/10112 and this https://github.com/zephyrproject-rtos/zephyr/issues/5325

[2022-03-01 14:41] EmbedWise commented on #43326
Additionally, It is for me unclear what level I should debug. Hardware / Driver / Filesystem.

Also tried a different SD Card SanDisk Edge 4GB HC I, similar behavior.

[2022-03-01 15:33] nashif commented on #38725
So, the boards is going to be an easy one, we just add maintainers list per board in the board yaml file we already have, a quick PoC shows we can even get those populated from the existing CODEOWNERs file and then integrate it in the script that does the labeling and adding reviewers.

The challenge is how to deal with everything else, like drivers. We can solve multiple problems with one solutio

[2022-03-01 15:35] kyrreaa opened #43330 "usb_dc_nrfx.c starts usbd_work_queue with no name"
It is not very clean to start a work_q with no name when all others name them properly, or at least put in the name of their k_work_q struct. Working with system threads it is harder when there is no name.

Suggest adding proper config to the start of usbd_work_queue giving it name like the other work queues.

[2022-03-01 15:46] pdgendt commented on #43306
Hi @enjiamai, I’m currently on vacation without a development setup. I will try to fix it next week.

[2022-03-01 15:50] enjiamai commented on #43306
Ok, thanks for letting us know this! @pdgendt . We might skip this test until your fix on this.

[2022-03-01 16:36] de-nordic opened #43333 "RFC: Bring zcbor as CBOR decoder/encoder in replacement for TinyCBOR"
## Origin

zcbor https://github.com/NordicSemiconductor/zcbor

## Purpose

In replacement of  the current heavily-modified TinyCBOR fork we use as a CBOR encoder/decoder.
zcbor is a light CBOR encoder/decoder with, optional, capability of generating decoding code from CDDL descriptions of data structures.
Our TinyCBOR fork will then be deprecated and removed in time.

## Mode of integration

As a

[2022-03-01 16:58] andyross commented on #40620
Closing this per process.  Again, that's not a refusal; just reopen/resubmit if you have code.

[2022-03-01 16:58] #40620 closed

[2022-03-01 17:25] carlescufi commented on #43095
@tejlmand is this an instance of the [stuck symbol problem](https://docs.zephyrproject.org/latest/guides/build/kconfig/tips.html#stuck-symbols-in-menuconfig-and-guiconfig)?

[2022-03-01 17:41] carlescufi commented on #43248
@LingaoM is this a duplicate of #43246?

[2022-03-01 17:43] carlescufi commented on #43249
@joerchan do you know if 3.1.0 will fix this isue?

[2022-03-01 17:50] carlescufi commented on #43277
cc @jfischer-no

[2022-03-01 17:53] carlescufi commented on #43305
@pbatiot thanks for the report, please consider opening a Pull Request with the workaround you posted.

[2022-03-01 17:54] #43295 closed

[2022-03-01 17:54] cfriedt opened #43335 "Automatic Automated Backports?"
**Is your enhancement proposal related to a problem? Please describe.**
Even though there is already a fair bit of automation for backports, it still relies on the manual step of applying backport tags such as `backport v2.7-branch`. At that point, a backport PR is created. With the volume of bugfixes that go into main, it is difficult for maintainers and release managers to see *all* of the candi

[2022-03-01 18:02] andyross commented on #43276
That bisect can't be right.  Much more likely this is due to the changes in #42806.  Can you try reverting those?  Just set IRQ_OFFSET_NESTED=n in the prj.conf and you should get the earlier behavior.

[2022-03-01 18:03] sylvioalves commented on #43305
@mniestroj Would you take a look?

[2022-03-01 18:19] microbuilder commented on #43249
@joerchan We could do an upmerge to TF-M, which would bring us up to MbedTLS 3.1 on the secure side, but I'm not sure where we are with all the cherry-picking post 1.5.0?

[2022-03-01 18:21] danieldegrasse commented on #43326
@EmbedWise can you run the this test with `CONFIG_SDMMC_LOG_LEVEL_DBG=y`? Also, do you have a sample that creates files on the card?

The mount error with a return value of -5 is probably occurring at the driver layer, in the `usdhc.c` driver. The mount error with a return value of -30 may be due to a corrupted read from the SD card, which is likely an issue at the driver layer resulting from inco

[2022-03-01 18:54] andyross commented on #43276
Actually, looking closer, that test doesn't use irq_offload() at all.  So... something else is wrong.

[2022-03-01 20:42] brgl commented on #43192
@gmarull Can you assign this to me? I will simply update LVGL directly to v8.2.0 tomorrow.

[2022-03-01 21:08] #43090 closed

[2022-03-02 01:22] yerabolu opened #43344 "intel_adsp_cavs25: samples/subsys/logging/syst is failing with a timeout when the sample is enabled to run on intel_adsp_cavs25"
**Describe the bug**
samples/subsys/logging/syst is failing with a timeout as the switching to sys-t raw data doesn't happen and logger is waiting.

Please also mention any information which could help others to understand
the problem you're facing:
- happens on any of the cavs hardware once they are included in the platform allow list.

**To Reproduce**
Steps to reproduce the behavior:
1.  add th

[2022-03-02 01:34] cvinayak opened #43345 "Bluetooth: Controller: Extended and Periodic Advertising Link Layer Component Test Coverage"
List of pending Extended and Periodic Advertising Link Layer Component Conformance Test Coverage:

Link Layer Component (TCRL 2021-1):
- [x] LL/DDI/SCN/BV-23-C [Extended Scanning, Multiple Sets, Passive, Multiple PHYs (All Supported PHYs)]
 hci_uart sample stalls during the test execution on reception of chain PDUs in a scenario where there are 6 advertising sets with chain PDUs being transmitted

[2022-03-02 02:32] Zhaoningx commented on #43306
Hi @pdgendt @enjiamai, **update**: not only `testsuite tests/subsys/usb/desc_sections/`, all testsuite tests/subsys/usb will cause the rest of test cases failed.

[2022-03-02 03:48] xiaos2x opened #43348 "twister:skipped case num issue when use --only-failed."
**Describe the bug**
If retry the failed test case with “twister --only-failed”, skip case num will be lost in twister_report.xml.

**To Reproduce**
Steps to reproduce the behavior:
    1.Run test case with twister, make it have skip and failed case.
    2.Run twister again with "--only-failed" option.
    3.See error.

**Logs and console output**
First run

INFO    - 135 of 136 test configuration

[2022-03-02 06:20] sachinjairam commented on #42817
@erwango Thanks for your reply.
Let me try.

[2022-03-02 06:20] #42817 closed

[2022-03-02 07:33] erwango commented on #43319
Thanks for raising this issue.

@ShubhadaHarkut-eaton, could you check if https://github.com/zephyrproject-rtos/zephyr/pull/37524 would fix this issue?

[2022-03-02 07:35] anangl commented on #37798
Addressed in https://github.com/zephyrproject-rtos/zephyr/pull/43047.

[2022-03-02 08:12] fuhaolei commented on #42851
@Dino-Li , the last test case (kernel.common : kernel.common.timing.usleep) still not work. And I find this test case is located in folder tests/kernel/sleep that different with others.

[2022-03-02 08:23] anangl commented on #43132
I cannot reproduce such behavior. I checked this with the hello_world sample on commit 7555cf9dd7ce99073c7772ce163f3ea810fb0757 and I got the following output log:
[code]
For what application are you observing this? Can you check in `zephyr.dts` that `i2c0` pins are assigned properly, i.e.:
[code]
and these pins are not driven by anything else (accidentally assigned also to some other peripheral,

[2022-03-02 09:41] Thalley commented on #43190
Not sure what's causing it. The command complete event comes in a timely manner, so there shouldn't be any timeout.

The controller used is clearly not working as intended, as
1) It sends HCI ISO data packets before the command complete
2) The first 2 ISO SDUs seems to come at the same time with the same timestamp (this could be a bug in the monitor though).
3) The timestamp between the first SDU

[2022-03-02 10:49] rlubos commented on #29941
This issue has gotten pretty old w/o any activity, please reopen if needed.

[2022-03-02 10:49] #29941 closed

[2022-03-02 10:51] tfir1981 opened #43356 "DisplayDriver st7735 - Rotation at runtime"
**Is your feature request related to a problem? Please describe.**
I am using a type `st7735r` display in my project and face the need of display-rotation at runtime. The display api provides the function called `st7735r_set_orientation()` which is not implemented/ not supported yet. Per default the Driver is implemented in landscape-mode. So that is okay for me. In addition, i only need the 180°-

[2022-03-02 11:28] Casper-Bonde-Bose opened #43359 "Bluetooth: ASCS QoS config should not fail for preferred settings"
**Describe the bug**
bt_audio_valid_stream_qos() is used to validate the QoS settings a client want to apply.
[code]
`qos_pref->latency` is a preferred value, hence the function could print a warning, but shall not fail.

**To Reproduce**
Apply a QoS config on a client with a transport latency above the preferred setting from the server.

**Expected behavior**
Any transport latency value that the

[2022-03-02 11:39] cfriedt commented on #42870
Since this issue cannot be reproduced and is only reportedly failing using an undisclosed & unsupported proprietary toolchain, I'm changing this to an enhancement rather than a bug.

[2022-03-02 12:02] WilliamGFish commented on #43132
How odd, but I've just merged all the latest changes from the main branch and it's all good.

Thanks for the quick response keep up the great efforts.

Billy..

[2022-03-02 12:07] tfir1981 commented on #43356
I would be very pleased if a PR will come. Thank you

[2022-03-02 12:10] #39432 closed

[2022-03-02 12:11] gmarull commented on #43356
Can you do it yourself?

[2022-03-02 12:13] #43179 closed

[2022-03-02 12:13] cfriedt commented on #43180
Weird, this was not automatically closed. I guess because the commit did not include `Fixes`.

[2022-03-02 12:13] #43180 closed

[2022-03-02 12:15] carlescufi commented on #41777
What you want to achieve is not really possible, because there is no guarantee of delivery for extended advertising packets, it's all best effort and some packets might be missed by the scanner, since there are no retransmissions to ensure all data reaches the scanner. Also, the application would have to be in sync with the clocks/timing of the controller to make sure it fits all slots with differ

[2022-03-02 12:15] #41777 closed

[2022-03-02 12:16] carlescufi commented on #42518
@saleh-unikie we will address this as soon as possible.

[2022-03-02 12:26] tfir1981 commented on #43356
Yes, I will do it.

[2022-03-02 12:31] #43181 closed

[2022-03-02 12:32] #43183 closed

[2022-03-02 12:33] #43185 closed

[2022-03-02 12:36] #43177 closed

[2022-03-02 12:47] microbuilder commented on #43249
@joerchan At some point in the near future, we really need to prioritize using TF-M as the PSA backend. I've heard from Arm that MbedTLS 3.1 should now make it possible to do TLS with the TF-M backend via the PSA APIs, but the MbedTLS management is more in @d3zd3z and @ceolin 's purview. Have you tried connecting the two in the Nordic SDK yet? I don't expect this will easily 'just work'.

[2022-03-02 12:54] tejlmand opened #43369 "Use Zephyr crc implementation for LittleFS"
**Is your enhancement proposal related to a problem? Please describe.**
LittleFS used in Zephyr is shipped with a naive crc implementation, not really suited for production environment.

Instead of using LittleFS crc, a proper Zephyr crc should be used.
This is also indirectly recommended by LittleFS, because as soon as a developer provides a custom configuration header, then the built-in CRC auto

[2022-03-02 14:20] emillindq opened #43372 "pm: lptim: stm32h7: pending irq stops STANDBY"
**Describe the bug**
Recently LPTIM1 was selected to handle the clock APIs on STM32H7 MCUs (https://github.com/zephyrproject-rtos/zephyr/pull/41867). Since this driver doesn't have any pm support, upon entering system STANDBY (which I have provided myself for now since it's still WIP) the system stops executing after calling `HAL_PWR_EnterSTANDBYMode()` but it doesn't go into STANDBY according to

[2022-03-02 14:34] #40559 closed

[2022-03-02 14:43] brgl commented on #43192
@ck-telecom Can you give the following PR a spin: https://github.com/zephyrproject-rtos/zephyr/pull/43365 ?

[2022-03-02 15:01] cfriedt commented on #43335
@erwango  - That's a really good point. It should be possible to automatically create a new issue if there is no linked issue in the original PR to `main`. However, those backport PRs would **necessarily** need to be labeled `DNM` and **not** moved out of triage until the issue is filled in with sufficient detail.

[2022-03-02 15:23] stephanosio opened #43378 "TLS availability misdetection when ZEPHYR_TOOLCHAIN_VARIANT is not set"
**Describe the bug**
The `THREAD_LOCAL_STORAGE` Kconfig symbol, which enables the thread local storage (TLS) feature, depends on the `TOOLCHAIN_SUPPORTS_THREAD_LOCAL_STORAGE` symbol, which defaults to `y` when the Zephyr SDK is used.

https://github.com/zephyrproject-rtos/zephyr/blob/96b4a86a5120898a114ffd96c5d1edfdcd146d0d/kernel/Kconfig#L907-L909

The `TOOLCHAIN_SUPPORTS_THREAD_LOCAL_STORAGE` Kc

[2022-03-02 15:23] stephanosio commented on #43378
FYI @tejlmand @dcpleung

[2022-03-02 15:43] #42799 closed

[2022-03-02 16:00] de-nordic opened #43382 "mgmt/mcumgr/lib: Echo OS command echoes back empty string witn no error when string is too long to handle"
**Describe the bug**

When echo command is issued to mcumgr with too long string, instead of returning error code that the string could not be handled, empty string is echoded back and return code is 0 (no error).

**To Reproduce**
Steps to reproduce the behavior:
1. Build smp_svr with OS group and echo command enabled
2. Load it to board
3. Issue echo command via uart or bt (depending on selected

[2022-03-02 16:37] benediktibk commented on #43372
Hi @emillindq,
I already went a little bit down this road of implement the power management on the H7 series. Unfortunately, this also differs within the H7 series, specifically the VOS switch. Combined with my current lack of time to continue on this task I am stuck at this point:
https://github.com/zephyrproject-rtos/zephyr/pull/41869
https://github.com/zephyrproject-rtos/zephyr/pull/41871

I'm

[2022-03-02 17:20] mbolivar-nordic commented on #38725
Process WG:

- approach is accepted, details to be dealt with in future PRs

[2022-03-02 17:45] bibibibi89 commented on #42800
Will do. Now I know the PR process better.

[2022-03-02 17:47] nvlsianpu commented on #43277
This possible bug was recognized faulty. Root reason for not working usb dfu class along with mcuboot was missing of the image in slot-0.

[2022-03-02 17:47] #43277 closed

[2022-03-02 18:01] mbolivar-nordic commented on #41613
Process WG: continue discussion in the Google Doc. Overall trending in the right direction. Open questions remain regarding assigning milestones to issues and PRs at a project level.

[2022-03-02 18:02] dcpleung commented on #43378
IIRC, this was done before the CMake package changes, and there still was Kconfig files in the SDK (where `TOOLCHAIN_SUPPORTS_THREAD_LOCAL_STORAGE` could be set).

Maybe we can have CMake test the TLS compile flag, and forces an error if it fails? Then there is no need for the `TOOLCHAIN_SUPPORTS_THREAD_LOCAL_STORAGE` Kconfig anymore.

[2022-03-02 18:05] #37730 closed

[2022-03-02 19:11] alexanderwachter commented on #43319
Additionally i would mention that the reset cause is not an id, but flags. You cannot use a switch(){}
It is perfectly fine if more bits are set at the same time.

[2022-03-02 20:25] aogonzalez75 opened #43389 "LoRaWAN on Nordic and SX1276 & SX1262 Shield"
Dear All.

I tried to test and evaluate LoRaWAN stack on Zephyr, without success. I will need more time to debug what is happening by the logic analyzer. Meantime I attached the configurations to confirm, if anybody tried the same.

SX1276MB1LAS  + nrf52832-DK:

&spi0 {
          compatible = "nordic,nrf-spi";
          status = "okay";
          mosi-pin = <23>;
          miso-pin = <24>;

[2022-03-02 20:46] mdkf opened #43390 "gPTP broken in Zephyr 3.0"
**Describe the bug**
I have tried to run the gPTP sample on both a FRDM-K64F and IMXRT1050-EVKB and both just print "<wrn> net_gptp: Reset Pdelay requests" endlessly. It looks like this code was recently changed in #33747
Possibly also relevant:
#29599
I have attached a Wireshark trace

**To Reproduce**
Steps to reproduce the behavior:
1. build and flash the gPTP demo

**Expected behavior**
Time S

[2022-03-02 21:43] gmarull commented on #43192
I see the same problem with 8.2. The issue, described in https://github.com/zephyrproject-rtos/zephyr/issues/43192#issuecomment-1055250384, hasn't fixed in 8.2.0 nor in master.

The way Kconfig is used is wrong for boolean options in LVGL:

[code]

will always result in `#define LV_USE_SLIDER 1` regardless of `CONFIG_LV_USE_SLIDER` because boolean options are not defined when they are set to `n`.

[2022-03-02 22:24] dleach02 commented on #42066
Do we need a separate tracking ticket for USB Host?

[2022-03-02 22:36] mdkf commented on #42653
@dkalowsk The code is now completely broken on 3.0.99. It gives the same fualt on the FRDM-K64, IMXRT1050-EVKB, and the NUCLEO-F746ZG

uart:~$ *** Booting Zephyr OS build zephyr-v3.0.0-337-g52bee41bba11  ***
[00:00:03.556,000] <inf> net_telnet_sample: Starting Telnet sample nwe

[00:00:03.556,000] <inf> net_telnet_sample: Running dhcpv4 client...
[00:00:03.855,000] <err> eth_stm32_hal: Failed to e

[2022-03-02 22:46] carlst opened #43392 "Bluetooth: ISO: unallocated memory written during mem_init"
**Describe the bug**
In `subsys/bluetooth/controller/ll_sw/ull_iso.c` `init_reset()` function, `sizeof(struct ll_iso_datapath)` is used in `mem_init()` call. But  `struct ll_iso_datapath` may refer to a 0 length array `datapath_pool[0]` (whose length is not actually 0 due to structure tail padding).

The array length of 0 can occur if BT_CTLR_CONN_ISO_STREAMS and BT_CTLR_SYNC_ISO_STREAMS are both

[2022-03-03 00:50] ravikh19 commented on #20154
Hi,
I was reading through this post & corresponding tagged post for i2c burst API. I wanted to summarize the known issues, propose potential solution & get feedback
Current issues:
-	All the I2C master Controller does not support Multiple/Gather writes.
-	The current i2c_burst_write/i2c_burst_read API accommodates only 8 bit internal address.
Based on my understanding of the problems, I wanted to

[2022-03-03 04:15] cvinayak commented on #40298
FYI, #43396

[2022-03-03 04:39] cvinayak commented on #38279
FYI, #43396

[2022-03-03 06:57] daor-oti commented on #42870
@cfriedt Thank you for taking the time to see if you could reproduce the error, and I am not sure why you are not able to. But as the PR will resolve our issue, and perhaps even others, I hope that we can have it merged as soon as possible.

[2022-03-03 07:47] tejlmand commented on #43095
@smrtos this happens because of the deprecation of those symbols introduced with this PR #41755 .

@nordic-krch will you take a look at this ?
Initial look at the Kconfig indicates to me that maybe `choice LOG_MODE` should `depends on !<DEPRECATED_SYMBOLS>` so that if user selects any of the deprecated symbols, then it's not possible to also select a choice item.

But I think you are the best to j

[2022-03-03 07:47] erwango commented on #42653
@mdkf Thanks for reporting this. To avoid confusion and allow quick action, would you mind raise a new issue for that particular point?

[2022-03-03 08:28] #43130 closed

[2022-03-03 08:31] lairdjm opened #43400 "nrf board system_off sample application does not work on P1 buttons"
**Describe the bug**
The DT macros inside the `samples/boards/nrf/system_off` application get the pin number to configure, but does not deal with the port, this means that if e.g. P0.05 is used, it will get the correct pin number 5, however if P1.05 is used, it will get the incorrect pin number 5 and not 37, therefore will not work

**To Reproduce**
Build sample application for board with button o

[2022-03-03 09:29] erwango commented on #41662
@FRASTM Could you provide a sample on how to use DMA on UART on WB boards?

[2022-03-03 10:23] nordic-krch commented on #43095
Fixed a bit dependencies. @smrtos note that options are deprecated and not recommended to be used. They were added only to support case when someone already had them set in `prj.conf`.

[2022-03-03 10:32] EmbedWise commented on #43326
@danieldegrasse thanks for your reply. Running with the following config:
[code]

After power off and on

[code]

2nd time
[code]

3rd
[code]

4th
[code]

Note that this was tested still under Zephyr 2.7.1. with defining a virtual cd-gpio

I will conduct the test also with the newer version of Zephyr 3.0.xx.

[2022-03-03 12:06] beriberikix commented on #43245
I submitted `zephyr-rtos`, `zephyros` & `zephyr` to GitHub as an official topic and it is now merged . You can see right now that PlatformIO is the first result. It would be beneficial to add these topics to include the official project in search results :)

![image](https://user-images.githubusercontent.com/178376/156561577-52c3c96e-03f0-4914-9236-bf56a82cd977.png)

[2022-03-03 12:41] EmbedWise commented on #43326
@danieldegrasse Conducted the test with the newest Zephyr (zephyr-v3.0.0-666-gfeffe639a3f8)

detect-dat3
[code]

Phony cd-gpio (cd-gpios = < &gpio3 21 GPIO_ACTIVE_HIGH>;)
[code]

Moreover tested the same hardware with the Teensyduino environment that one is working flawlessly with the same SD card. Arduino also supports the fat32 and I wrote 2000 files and read them back with no issues also after

[2022-03-03 12:45] LixinGuoX opened #43409 "frdm_k64f: USB connection gets lost after continuous testing"
**Describe the bug**
 The board frdm_k64f connected to USB3.0 port on the NUC could not be enumerated as a USB device occasionally when running all the tests and samples, this can be happened after 100+ times of flashing and running, then we lost the USB connection and pyocd starts to behave weirdly, it requests more than 100G memory space.

**To Reproduce**
Steps to reproduce the behavior:
1. run

[2022-03-03 12:45] Shivam1282 commented on #41677
@mbolivar-nordic I tried all the above steps but I'm still not able to compile the code. I am compiling the lvgl in the subsys directory of samples in zephyr for stm32h7b3i_dk board.

![image](https://user-images.githubusercontent.com/63486987/156567278-15e22308-aee0-4fed-9465-7005ee3f0317.png)

[2022-03-03 13:24] nashif commented on #41613
updated table:

<img width="874" alt="image" src="https://user-images.githubusercontent.com/180017/156573512-4c24da82-7e04-4ea9-9a03-427207d8c8ad.png">

[2022-03-03 13:56] nandojve commented on #41662
Hi @preetham05 ,

SAME54 have DMA support. Please, check [tests/drivers/uart/uart_async_api/boards/atsame54_xpro.overlay](https://github.com/zephyrproject-rtos/zephyr/blob/eba55eacee7b1e94d60a5aa778bd892fb5bd64ca/tests/drivers/uart/uart_async_api/boards/atsame54_xpro.overlay)

Notes:

 * Once you enable DMA/Async API you will need to define all DMA channels for each SERCOM in UART mode. You can ch

[2022-03-03 14:41] darexa opened #43411 "STM32 SPI DMA issue"
**Describe the bug**
The SPI LL driver for STM32 enables chip select before enabling SPI when using DMA.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
STM32L452 with a SPI display.
 - What have you tried to diagnose or workaround this issue?
 I noticed my SPI display worked fine without DMA, but enver co

[2022-03-03 14:43] joerchan commented on #43249
Yes, we are looking into that specific problem. From what I know MBedTLS 3.1 still needs additional changes in order to have all crypto functionality under PSA API and in the Crypto partition in TF-M. We have something that works with parts of the crypto still in the non-secure domain.

PS: Somewhat confusing that the project and repository is called MbedTLS when the library for the tls stack is c

[2022-03-03 14:53] brgl commented on #43192
Right, this is only addressed in master. And even then it looks buggy to me:

[code]

[code]

[2022-03-03 15:25] #42850 closed

[2022-03-03 16:03] hakehuang commented on #38725
@nashif , how could we find the mapping from given file to dts defines? using scripts to check the fild compatbile defines? but it is only existing in .c file, what if we change the .h file? or common file?

[2022-03-03 16:32] andyross commented on #42831
Decision from the dev meeting was that we should put a formal specification about memory ordering and compiler/optimizer barriers into the atomics and arch subsystem documentation to call out explicitly that Zephyr atomics require memory serialization.  I'll write something up.

[2022-03-03 17:03] nashif commented on #38725
a question for @mbolivar-nordic  I guess

[2022-03-03 17:05] cfriedt commented on #42653
@mdkf - can you reproduce the issue with HEAD from `v2.7-branch`? There were some bugfixes that went in for STM32 and networking recently.

[2022-03-03 17:06] #43095 closed

[2022-03-03 17:12] #38179 closed

[2022-03-03 17:25] mdkf commented on #42653
@cfriedt How do I change branches with West?

[2022-03-03 18:32] erwango commented on #43130
Weird, was working fine last week.

[2022-03-03 19:24] ft commented on #43235
Indeed. I have been chasing this down as well, because writes to a 256-byte page EEPROM caused larger transactions, breaking the writes completely. I came to the same conclusion Qin Zou did.

Here's an attempt at fixing this: https://github.com/ft/zephyr/commit/1fbb8aa40dfea4f541e1ed231c65bbde7d0c1ce0

I've tested it a little bit in the current project I am working on, and it seems fine.

WDYT?

[2022-03-03 20:09] cvinayak commented on #43392
Regression introduced by https://github.com/zephyrproject-rtos/zephyr/pull/43328, will add back the removed conditional compiles.

[2022-03-03 21:01] cfriedt commented on #42653
[code]

[2022-03-03 21:47] d3zd3z commented on #43249
As I understand, the official name of the project is "mbed TLS" (note in particular the lowercase 'm' and the space). Sometimes, when writing, they will capitalize the 'm' if it occurs in a place where a word would be capitalized in English (such as the beginning of a sentence). The docs somewhat randomly capitalize the 'm' in other contexts (the probably is a result of an uncapitalized name being

[2022-03-03 21:51] JordanYates commented on #25648
[code]
In the meantime, here is documentation I made for others struggling with configuring this

[2022-03-04 02:02] LixinGuoX commented on #43409
This seems to be a host machine issue, so close this issue.

[2022-03-04 02:02] #43409 closed

[2022-03-04 03:32] ycsin commented on #43411
Seems like you have a fix already, do you mind sending a PR to fix this?

[2022-03-04 05:11] MrVan opened #43419 "Pull request not updated after force push the original branch"
This PR not automatically updated https://github.com/zephyrproject-rtos/zephyr/pull/32694, after I force push patches to https://github.com/MrVan/zephyr/tree/8mm-v1

[2022-03-04 05:19] stephanosio commented on #43419
I have seen the same problem happening on other PRs lately.

This seems to be a mishap on the GitHub side and the only solution seems to be to close the current pull request and open a new one.

[2022-03-04 05:19] #43419 closed

[2022-03-04 06:42] darexa commented on #43411
I'll see what I can do when I get some spare time. I've never pushed a PR here before so I need to read through the guidelines etc.

[2022-03-04 07:02] ycsin commented on #43411
No worries, it took me three times to get my first PR done right

[2022-03-04 08:08] erwango commented on #43130
@nobodywasishere I've just tested and it's working fine on my side on `zephyr-v3.0.0-700-g8b4a3e2328`:
[code]

[2022-03-04 08:38] wjhtinger opened #43425 "zephyr+Linux+hypervisor on Raspberry Pi 4"
I want to run zephyr+Linux on Raspberry Pi 4 based on a hypervisor, just zephyr use one core and Linux use left three core.
But now zephyr do not support Raspberry Pi 4, right? So, how can I port the zephyr to Raspberry Pi 4? Anyone can give some ideals?

[2022-03-04 09:16] henrikbrixandersen commented on #43335
How would you automatically determine if a bug being fixed in `main` is also present in the release branches? The bug fix may apply cleanly even if the bug is not present on that branch.

[2022-03-04 09:23] rlubos commented on #42800
Thank you @bibibibi89 for the PR :+1:

[2022-03-04 09:48] wjhtinger opened #43430 "Is there any plan to develop zephyr to mircrokenrel architecture?"
Just like seL4, QNX etc.
In Safety Critical System, such as automotive, mircrokenrel have more and more attentions. And, is there any chance that  zephyr can replace QNX?

[2022-03-04 11:06] kruithofa opened #43435 "Bluetooth: controller: llcp: failing EBQ and Harmony tests"
Updated on 27-7: removed all tests that pass as of 27-7

- [x] LL/CON/CEN/BV-55-C	Mandatory Minimum PDU Length, LE Coded
- [x] LL/CON/PER/BV-57-C
- [x] LL/DDI/SCN/BV-46-C
- [x] LL/CON/INI/BI-27-C

[2022-03-04 12:54] yajunzhi opened #43440 "Bluetooth: L2CAP send le data lack calling net_buf_unref() function"
**Describe the bug**
In l2cap_chan_le_send() function, if err return value is not success, why need check the segment is the original buffer or not.
The source code is this,
[code]
I think it should be:
[code]
Is my understand right?

[2022-03-04 13:11] EmbedWise commented on #43326
@danieldegrasse I used 3280e385506c474112f175d6bb6bee09d30aa755 of your respository made sure USB is working in the FATFS sample:

[code]

created the overlay:
[code]

[code]

Following results
[code]

[code]

[code]

[code]

[code]

Note the different outputs after turning off waiting 5-10 seconds and turn it back on

[2022-03-04 13:24] WayneKeenan commented on #24733
It's not just a good idea, is necessary

[2022-03-04 13:40] gmarull commented on #43192
Seems to fix the problem. I think Zephyr should always use `CONFIG_LV_CONF_MINIMAL=y`, and manually enable other parts as needed. I'm not sure why LVGL doesn't do that, ROM usage almost doubles for nothing in the `samples/subsys/display/lvgl` sample...

[2022-03-04 15:07] #43378 closed

[2022-03-04 15:48] alwa-nordic opened #43448 "Deadlock detection in `bt_att_req_alloc` ineffective when `CONFIG_BT_RECV_IS_RX_THREAD=n`"
This continues bug #39624, that was only partially fixed in #40056, commit https://github.com/zephyrproject-rtos/zephyr/pull/40056/commits/54522ff54f25363114938827c6d19866a0c596e9.

#### Description of bug

The above mentioned fix attempts to detect the situation when `bt_att_req_alloc()` is invoked on the same thread that runs `att_handle_rsp`. It attempts to do so by noting the thread that first

[2022-03-04 15:50] alwa-nordic commented on #43448
Thanks @LingaoM for finding this issue!

[2022-03-04 16:02] rlubos commented on #42940
@surfskidude Please have a look: https://github.com/zephyrproject-rtos/zephyr/pull/43449

[2022-03-04 16:10] enjiamai commented on #42702
If we apply following patch, this issue won't happen:
[code]
The only difference for these is that the arithmetic operation of "elapsed" happens in registers instead of memory.
[code]

So I doubt this is possible to be an HW issue, I will change a another UP2 board to see if this can be reproduced or not.

[2022-03-04 16:25] gopiotr opened #43450 "twister: platform names from quarantine file are not verified"
**Describe the bug**
When quarantine.yaml file looks like this (with wrong platform name):
[code]

And Twister is called by following command:
[code]

Program do not show any message, that platform from `quarantine.yaml` do not exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Create following `quarantine.yaml` file:
[code]
2. Run following command:
[code]
3. Observe, that Twister do no

[2022-03-04 17:33] calaghann opened #43452 "Missing SPI SCK on STM32F103vctx"
**Describe the bug**
A custom board using stm32F103vctx MCU uses SPI1 with remaped sck pin pb3 does not output any clock signal. The SPI1 peripheral was used and configured with the stm vendor dts / dtsi. However once I tried to sent out some SPI commands using the stm spi driver I noticed that no spi clock signal is emitted on pb3 (using an oscilloscope). The other spi signals (MOSI, MISO and nCS

[2022-03-04 17:40] danieldegrasse commented on #43326
To clarify, the card works if you wait a few seconds, but does not work if you immediately retry? Or the other way around?

I've tried to reproduce this on several of our RT series evaluation kits, without any luck. The core issue is probably either a timing difference between the teensy board and the evaluation kits, or a timing difference with the specific SD card you are using. Can you try runn

[2022-03-04 18:20] mmahadevan108 commented on #43390
@hakehuang. Can you please take a look at this issue.

[2022-03-04 19:22] kisvegabor commented on #43192
Our way of thinking was to provide a minimal but in most of the cases usable default config to make it easier to get started with LVGL. Once the user has a running UI, it's easier optimize it by disabling some configs.

[2022-03-04 23:08] brentalanmiller opened #43456 "winc1500 wifi driver fails to build"
**Describe the bug**
I was trying to integrate the winc1500 driver into a project that I was working on and noticed that the build was failing when I enabled the driver. I then tried to to build the `samples/net/wifi` project using the `reel_board` as the target (which uses the winc1500) and it fails with the exact same error.

**To Reproduce**
Steps to reproduce the behavior:
1. cd $ZEPHYR_BASE
2

[2022-03-05 05:01] LingaoM commented on #43248
No, this problem is currently caused by at least two reasons.

[2022-03-05 20:40] atoncetti opened #43465 "'Malformed data' on bt_data_parse() for every ble adv packet on bbc_microbit"
**Describe the bug**
I am trying to inspect ble advertising packets on a bbc_microbit. I ran into the problem that for every adv packet `bt_data_parse()` logs 'Malformed data' and returns. ([bt_data_parse() relevant part](https://github.com/zephyrproject-rtos/zephyr/blob/c32d10cc9e13d9e050d27b5804c0213f6cd3f452/subsys/bluetooth/host/hci_core.c#L3806))

Relevant code:
[code]

prj.conf
[code]

**Env

[2022-03-06 10:50] chrta commented on #6654
Closing this because there was no feedback for over a year.

[2022-03-06 10:50] #6654 closed

[2022-03-06 16:38] erik-ks commented on #2746
Hi - Some thoughts on (initial) use cases and feature requirements. They assume base kernel/system is non-PIC.

**Use cases - leverage dynamic module to implement**

* a reduced base image size (ie part that needs to be dual-banked)
* a factory self-test  that is discarded after successful completion
* load/update of a new AI model
* alternate codecs
* alternate control interfaces
* TBD if additio

[2022-03-07 00:29] #41411 closed

[2022-03-07 00:29] #41410 closed

[2022-03-07 00:29] #41382 closed

[2022-03-07 03:22] Cherish-Gww opened #43469 "USBD_CLASS_DESCR_DEFINE section name bug"
https://github.com/zephyrproject-rtos/zephyr/blob/c32d10cc9e13d9e050d27b5804c0213f6cd3f452/include/usb/usb_device.h#L56

change dot to comma define like:
`static __in_section(usb, descriptor_##p, 1, instance) __used __aligned(1)`

[2022-03-07 03:31] stephanosio commented on #43469
This does not make sense.

[2022-03-07 03:31] #43469 closed

[2022-03-07 03:34] stephanosio commented on #40195
This does not make sense.

[2022-03-07 03:34] #40195 closed

[2022-03-07 04:06] hakehuang commented on #43390
@mdkf  I tries on my board which is OK on zephyr-v3.0.0-721-gc32d10cc9e latest version, and look at your steps, I want to configrm that do you run the gptp daemon on pc host? the steps are in readme. code https://github.com/AVnu. and below is my command line:
[gptp_cfg.zip](https://github.com/zephyrproject-rtos/zephyr/files/8194711/gptp_cfg.zip)

[code]

[2022-03-07 04:37] JordanYates opened #43470 "wifi: esp_at: mutex inversion leading to deadlock"
**Describe the bug**

The send and receive code paths for Zephyr sockets when using the ESP AT command WiFi driver claim the same two mutex's in different orders. This leads to a permanent deadlock when you get unlucky with packet timings.

### When receiving

The ESP RX thread claims the socket mutex before calling into the Zephyr socket library.

https://github.com/zephyrproject-rtos/zephyr/blob

[2022-03-07 09:20] PerMac opened #43476 "tests: nrf: Output of nrf5340dk_nrf5340_cpuapp_ns not available"
**Describe the bug**
Commit 81c48c3e684f1277b89e711b72366a5a676bc880 introduced a regression: with it an output of nrf5340dk_nrf5340_cpuapp_ns is no longer available and all tests fail on this platform.

**To Reproduce**
Steps to reproduce the behavior:
1. checkout on 81c48c3e684f1277b89e711b72366a5a676bc880
2. west update
3. have nrf53 connected
4. run `zephyr/scripts/twister --testcase-root zeph

[2022-03-07 09:47] #41592 closed

[2022-03-07 09:49] #43066 closed

[2022-03-07 09:51] #42851 closed

[2022-03-07 09:51] #42953 closed

[2022-03-07 09:54] zephyrbot opened #43479 "[backport v2.7-branch] backport of #43385 failed"
This issue was created automatically because the backport of #43385 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-43385-to-v2.7-branch`.

[2022-03-07 09:54] #42800 closed

[2022-03-07 10:34] pdgendt commented on #43306
Hey @enjiamai, as I don't have the hardware to confirm, I'll probably need you to verify on an actual device.

Could it be that `NRST` is pulled down on your board? In [the datasheet](https://ww1.microchip.com/downloads/en/DeviceDoc/SAME70-xpld.pdf) there is for example header J506 which could have that effect, as far as I can see.
By default the `URSTEN` is set to 1, so an external user reset wou

[2022-03-07 10:52] enjiamai commented on #43306
Got it, @pdgendt , I can give it a try. Will feedback you soon later, thanks~

[2022-03-07 12:21] Thalley opened #43487 "LE Audio: Broadcast audio sample"
**Is your feature request related to a problem? Please describe.**
Add a broadcast audio sample for the broadcast source and broadcast sink.

**Describe the solution you'd like**
Implement two new samples for a broadcast source and broadcast sink using the `bluetooth/audio/audio.h` API.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-03-07 12:25] EmbedWise commented on #43326
@danieldegrasse thanks for the suggestion.

I checked out #43173 with the commit 3c7fcabfa90ca8b45f2badc2054c4a948a50977f. However I miss the file fsl_usdhc.h at the building process:

[code]
 Also checked out branch `sdmmc_rfc` from NXP and have the same issue.

Is there something I need to do after I have checked out the PR? like `west update`?

[2022-03-07 12:25] tejlmand opened #43488 "Re-usability of SoC tree outside Zephyr build system"
**Is your enhancement proposal related to a problem? Please describe.**
The SoC CMake / Kconfig infrastructure depends on Kconfig symbols.
https://github.com/zephyrproject-rtos/zephyr/blob/d74cb2a3df2376dd65936d30cf4dc56092044761/cmake/modules/soc.cmake#L36-L39

Those symbols are sourced as part of regular Zephyr Kconfig tree which might use `depends on` / `select`, resulting in the SoC tree to be

[2022-03-07 13:17] rlubos opened #43490 "net: sockets: userspace accept() crashes with NULL addr/addrlen pointer"
`accept()` function allows to provide NULL as a addr/addrlen pointers, when the caller is not interested in receiving the peer address. Therefore, the userspace argument validation should take this into account, instead of blindly dereferencing provided pointer.

[2022-03-07 15:18] #42988 closed

[2022-03-07 15:35] #43094 closed

[2022-03-07 15:59] FRASTM commented on #43452
when remapping the SPI1 (REMAP_1), I suspect a pin conflict between SPI1 and DEBUG pins
PB3 and JTDO
PB4 and NJTRST

--> if SPI1 is remapped then` LL_GPIO_AF_DisableRemap_SWJ(); ` or or` LL_GPIO_AF_Remap_SWJ_NOJTAG();`

[2022-03-07 16:10] calaghann commented on #43452
Thanks for your update. We had a further look into that and found the config option `GPIO_STM32_SWJ_NOJTAG`. After setting this option we were able to see the clock (so pin conflict seems the right idea). Unfortunately after that we were not able to debug with SWD - the program is getting stuck in the ARM reset (reset.S).

[2022-03-07 16:16] GeorgeCGV commented on #43452
This is the same issue as #38354 and relates to the #38741 PR (regarding AFIO and SWJ).

Unfortunately, the issue doesn't seem to be resolved in the latest Zephyr.
Setting the `CONFIG_GPIO_STM32_SWJ_NOJTAG`  results in getting stuck within `z_arm_reset`. When `SWJ_CFG` is left unchanged, then PB3 can't be used as SPI 1 SCK pin.

[2022-03-07 16:32] erwango commented on #43452
Do you get the same issue even when not using SPI1 at all (eg: hello_world)?

[2022-03-07 16:46] GeorgeCGV commented on #43452
yes

[2022-03-07 17:11] enjiamai commented on #42702
Running this test case in another UP2 board for 30 times, issue cannot be reproduced. In the original UP2 board, issue can be reproduced within 10 times. ( often 4~8 times). This is likely to be the HW board issue. @yerabolu , I think this can be closed, any suggestion?

[2022-03-07 18:03] #42702 closed

[2022-03-07 20:00] dleach02 commented on #41947
Closed due to no response from @metratec-mkoehler. Please reopen if you have additional information

[2022-03-07 20:18] ft opened #43503 "Build Version detection not working when Zephyr Kernel is a Git Submodule"
**Describe the bug**

In 91709778a4878c80e96e1435a047964725ee3517 build-time version header generation was added. This uses

[code]

When the repository is a git sub-module¹, the `.git` type is not a directory, but a regular file, that may look like this:

[code]

…which points to the module's actual git-database inside the super-project.

With that, the `else()` branch of the `if` statement is tr

[2022-03-07 20:28] stephanosio commented on #43503
Is there any reason why you are not using the west module? (see https://github.com/zephyrproject-rtos/example-application/blob/dfc6b88d25e2d738fe20f86e5e8ac40e0831cda9/west.yml#L13)

Adding the Zephyr repository as a Git submodule is not a normal workflow when it comes to Zephyr, and may even be said to be unsupported because there really is no reason to do so under normal circumstances.

cc @tejl

[2022-03-07 20:38] nvandamme opened #43505 "`py` command not found when using nanopb on windows"
When using Nordic ncs 1.9.1 and zephyr, nanopb module is generating a .bat script.
This script is invoking python with the command `py -3`.
This specific command is not available from the ncs toolchain nor in a python3 install on windows 10...

Workaround :
in file `nanopb/generator/protoc-gen-nanopb.bat` https://github.com/zephyrproject-rtos/nanopb/blob/master/generator/protoc-gen-nanopb.bat

Rep

[2022-03-07 20:42] ft commented on #43503
We are using git sub-modules to precisely define the versions of all included software in a larger system and use `cmake` directly instead of `west`. This works nicely with the non-zephyr parts of the software system we are building. I fail to see how this is abnormal, unless `west` was upgraded to a hard dependency at some point in time, that I must have missed.

If this use-case were to be decla

[2022-03-07 20:54] stephanosio commented on #43503
Maybe @mbolivar-nordic can provide some insight.

I assume you are referring to this:
https://github.com/ft/chip-remote/tree/master/firmware

If you have a look at the ["example-application"](https://github.com/zephyrproject-rtos/example-application/), it effectively achieves what you described above without using Git submodules.

If you do not like calling `west build` for whatever reason, you ca

[2022-03-07 21:32] ft commented on #43503
The documentation still has its `without-west`¹ page, FWIW.

¹ https://docs.zephyrproject.org/latest/guides/west/without-west.html

Well, this is an open-source project of mine, that uses the same idea to build its firmware code, as do the larger systems that are developed at work. It's quite a limited example, because there is nothing else except the firmware here.

There are two things that I wo

[2022-03-07 22:20] #43192 closed

[2022-03-08 01:23] #43176 closed

[2022-03-08 01:24] #43178 closed

[2022-03-08 01:24] #43182 closed

[2022-03-08 01:24] #43184 closed

[2022-03-08 04:54] ck-telecom opened #43511 "lvgl: upgrade to 8.2 build problem"
**Describe the bug**
when enable
CONFIG_LVGL=y
CONFIG_LV_CONF_MINIMAL=y

all widget built-in and the binary and SRAM is mass, all files built-in even only CONFIG_LV_CONF_MINIMAL=y, this doesn't make any sense. `modules/lib/gui/lvgl/zephyr/lv_conf.h' need fixed

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using

[2022-03-08 04:56] ck-telecom commented on #43511
#43192 only fix build error, no configure problem fixed

[2022-03-08 05:21] JordanYates opened #43512 "wifi: esp_at: sockets not cleaned up on close"
**Describe the bug**

The `ESP_SOCK_IN_USE` flag is never cleared when a socket is closed.
Therefore after `ESP_MAX_SOCKETS` (5) sockets are opened and closed, `esp_socket_get` will fail to allocate another socket.

**Expected behavior**
Closing a socket should result in a complete cleanup of all resources, allowing it to be opened again at a later time.

**Environment (please complete the followi

[2022-03-08 06:33] fuhaolei opened #43513 "it8xxx2_evb: tests/kernel/sleep failed"
**Describe the bug**
The test: "tests/kernel/sleep" failed.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p it8xxx2_evb --device-testing -T tests/kernel/sleep/ --west-flash="$HOME/itetool/loader.sh" --device-serial=/dev/ttyUSB0
3. See error

**Expected behavior**
The test should pass.

**Impact**
No serious impact.

**Logs and console output**
[code]

**Env

[2022-03-08 08:15] Thalley commented on #42587
Blocked by https://github.com/zephyrproject-rtos/zephyr/pull/42485

[2022-03-08 08:23] LixinGuoX opened #43515 "reel_board: failed to run tests/kernel/workq/work randomly"
**Describe the bug**
test_1cpu_drain_wait, test_1cpu_running_cancel or test_1cpu_running_cancel_sync failed on reel_board, it is a random failure, the incidence can be 10%
After running this test suite repeatedly, we can reproduce this issue. test_1cpu_drain_wait and test_1cpu_running_cancel may not fail at the same time.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p reel_board

[2022-03-08 08:26] Thalley commented on #42928
@jhedberg @joerchan Do you know/remember why only a single instance of `struct bt_conn_auth_cb` can be registered?

It does have some sense for the majority of the callbacks where the host asks for acceptance from the register, but for the informational callbacks (`pairing_complete`, `pairing_failed` and `bond_deleted`) it should be possible to register that multiple times.

We can split up the ca

[2022-03-08 08:32] joerchan commented on #42928
@Thalley I don't remember the reasoning, but probably @Vudentz does.

[2022-03-08 08:35] Zhaoningx commented on #43306
Hi @pdgendt, I tested the pin `RST` in J506 when the board is normal, it showed me `3.2V`, and when running test cases `tests/derives/hwinfo/api`, the pin `RST` jumped temporarily to `2.5V`, and then back to `3.2V`, and the board can't be flashed, it seems the pin `RST`  never be pulled down when running some test cases, I'm not familiar with it, so any comments here.

[2022-03-08 09:26] gmarull commented on #43511
I see this:
[code]
In this case this is the rom_report for the LVGL part:
[code]

[code]

[2022-03-08 09:36] jhedberg commented on #42928
@Thalley yes, the original reasoning is that it needs to be clear who answers to the callbacks that solicit a response. I'm fine with splitting this up so that informational callbacks are separate (and can be registered multiple times)

[2022-03-08 09:37] ck-telecom commented on #43511
`$ ls build/modules/lvgl/CMakeFiles/..__modules__lib__gui__lvgl__zephyr.dir/D_/personal/pinetime/modules/lib/gui/lvgl/src/widgets/ -lh
total 64K
-rw-r--r-- 1 GW00221994 1049089 2.0K  3月  8 17:30 lv_arc.c.obj
-rw-r--r-- 1 GW00221994 1049089 2.0K  3月  8 17:30 lv_bar.c.obj
-rw-r--r-- 1 GW00221994 1049089 2.0K  3月  8 17:29 lv_btn.c.obj
-rw-r--r-- 1 GW00221994 1049089 2.0K  3月  8 17:30 lv_btnmatrix.c.o

[2022-03-08 09:53] zzzh opened #43518 "'DT_N_S_soc_S_timers_40012c00_S_pwm' undeclared"
**Describe the bug**
Got compile error when trying to move code from zephyr-2.3.0 to zephyr-3.0.99

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?   ARM-STM32F0
 - What have you tried to diagnose or workaround this issue?  changing dts file
 - changed as an example in sample, but don't work

**To Reproduce

[2022-03-08 09:56] emillindq commented on #43372
@benediktibk  Thanks for your reply! Maybe I'm misunderstanding something, but with tickless kernel I am unable to sleep in the application since the kernel has no sense of time right?

I am using PM and ticks, and the reason for me to use PM is simply because I want to be able to suspend/resume devices and put the MCU in STANDBY using the PM API. I don't have a super-duper power-restricted system

[2022-03-08 10:00] benediktibk commented on #43372
Zephyr still has a sense of time with a tickless kernel, it just schedules the next wakeup time during idle to be whenever it will be necessary, e.g. when the next timeout of a thread will occur.

[2022-03-08 10:05] Zhaoningx commented on #43306
I looked into the test cases `tests/drivers/hwinfo/api`, I found that if I enable the configure `CONFIG_HWINFO =y` can reproduce this issue under the condition I skipped all test cases of `tests/drivers/hwinfo/api`.

[2022-03-08 10:06] #43276 closed

[2022-03-08 10:08] #41191 closed

[2022-03-08 10:08] #41192 closed

[2022-03-08 10:32] #43172 closed

[2022-03-08 10:33] gmarull commented on #43511
@ck-telecom can you provide steps to reproduce this? I can't see the problems you describe with the commands I posted.

[2022-03-08 10:44] erwango commented on #43518
Can you clarify which board you're using ? `ARM-STM32F0` is not an official board name

[2022-03-08 11:01] benediktibk opened #43525 "Default network interface selection by up-state"
**Is your enhancement proposal related to a problem? Please describe.**
For a system with multiple ethernet devices it is not possible to use the second one, in case the first one is down.

**Describe the solution you'd like**
I would like to select automatically the ethernet device which is up.

**Describe alternatives you've considered**
Building dedicated firmware images for different setups, a

[2022-03-08 11:03] pdgendt commented on #43306
@Zhaoningx  The default state of the `URSTEN` after reset is 1, so maybe this should be matched with the `dts` binding set for `user-nrst`.

Could you try by adding the following to `boards/arm/sam_e70_xplained/sam_e70b_xplained.dts`
[code]

If this would help, we can add it to `dts/arm/atmel/same70.dtsi`.

[2022-03-08 11:45] Thalley commented on #40920
This issue relates to https://github.com/zephyrproject-rtos/zephyr/discussions/33592

[2022-03-08 11:47] Thalley commented on #43190
@MariuszSkamra Can you provide more information?

[2022-03-08 12:36] smrtos commented on #43271
The test runs with 2 CPUs. CPU 0 starts CPU 1 by sending IPI via CPU 1's local APIC ID. The local APIC ID is obtained through the ACPI (CONFIG_ACPI=y). But in below line 140, CPU 1's local APIC ID is 4 at run time. When changing it to 2, the test can pass.
Will discuss with ACRN about it.

![image](https://user-images.githubusercontent.com/54129187/157238744-fd1313a7-afa8-43d7-bea3-9894a7473f18.pn

[2022-03-08 12:47] nashif commented on #42458
@PerMac  is there an update on pytest PoC? We need to decide very soon if this is going to be the way to go or if we have to implement things differently.

[2022-03-08 12:50] MariuszSkamra commented on #43190
@Thalley Looks like the data path setup was done improperly. Check the referenced patches. However, this not solves the issue still as Rx & Tx QoS parameters are not NULL even if the CIS was not configured in given direction. This will lead to situation that Host will try to configure the Data Path in direction that is not enabled for a given CIS.
The API description says:
[code]

But those are no

[2022-03-08 13:23] PerMac commented on #42458
The status is that me and my colleague will work on a prototype for the pytest-based runner. Some initial work was already done, but it is too early to show anything meaningful yet. We had to get internally a green light for the commitment and its scope and it was granted recently.
I started calling it a prototype after seeing that there are some differences between PoC and prototype, as PoC tends

[2022-03-08 14:12] #43372 closed

[2022-03-08 14:40] Thalley commented on #43190
I agree, there are some issue there.
I think they have all been solved by https://github.com/zephyrproject-rtos/zephyr/pull/42964 including not setting the QoS pointers until the BAP QoS operation.

[2022-03-08 14:41] peter-mitsis commented on #13318
In Nov 2019, the routine 'k_thread_foreach_unlocked()' was added to address this situation.

See https://github.com/zephyrproject-rtos/zephyr/pull/20937 for additional information.

I am closing this as it appears to have been addressed.

[2022-03-08 14:41] #13318 closed

[2022-03-08 15:41] #42881 closed

[2022-03-08 16:05] Thalley opened #43543 "RFC: API Change: Bluetooth: struct bt_auth_cb field removal"
## Introduction

the `struct bt_auth_cb` contains 3 callbacks (among more):
[code]

Which are useful for applications. Some BT services require specific behavior when a bonded device is connected, such as notifying changes. However, for the service to to get information about when a bond has been added (`pairing_complete`) and when a bond is deleted (`bond_deleted`), they will need to subscribe to

[2022-03-08 16:27] erwango commented on #43452
@GeorgeCGV Thanks for the investigation and finding the issue!
For the fix, I suggest to purely remove `gpio_stm32_afio_init` and move its logic directly in `pinctrl_stm32.c` (and `pinmux_stm32.c` while it's still there).

[2022-03-08 17:06] carlocaione opened #43548 "[v2.7] gen_relocate_app truncates files on incremental builds"
The problem with append is that when doing incremental (non-clean)
build, the content of these files are appended each time to the previous
leftover content.

Example:
[code]
at this point the content of the generated files (i.e.
linker_relocate.ld) is wrong.

[2022-03-08 17:28] mbolivar-nordic commented on #43511
cc   @brgl

[2022-03-08 17:29] mbolivar-nordic commented on #43505
Hi, since this is an NCS specific issue, please report on DevZone.

[2022-03-08 17:29] #43505 closed

[2022-03-08 17:32] #43476 closed

[2022-03-08 17:35] nashif commented on #43515
can't reproduce, and it is reported as sporadic so lower priority.

[2022-03-08 17:36] mbolivar-nordic commented on #43456
@brentalanmiller did you run `west update`?

[2022-03-08 17:39] #41677 closed

[2022-03-08 17:43] carlescufi commented on #31376
@sylvioalves is this something you can take a look at?

[2022-03-08 17:44] #42877 closed

[2022-03-08 17:45] carlescufi commented on #42877
Closing this due to inactivity, feel free to reopen @asemjonovs if you have additional questions.

[2022-03-08 17:45] carlescufi commented on #42774
https://docs.zephyrproject.org/latest/guides/pinctrl/index.html

[2022-03-08 17:45] #42774 closed

[2022-03-08 17:54] PerMac opened #43552 "samples: bluetooth: direction_finding: Sample fails on nrf5340"
**Describe the bug**
Samples defined at https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/bluetooth/direction_finding_connectionless_rx/sample.yaml and https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/bluetooth/direction_finding_connectionless_tx/sample.yaml fail on nrf5340dk_nrf5340_cpuapp.:
Failing ones: sample.bluetooth.direction_finding_connectionless_rx.aod and samp

[2022-03-08 17:58] cfriedt commented on #43335
https://github.com/zephyrproject-rtos/zephyr/wiki/Zephyr-Change-Control-Board-%28CCB%29
https://wiki.ubuntu.com/StableReleaseUpdates
https://lwn.net/Articles/764647/

[2022-03-08 18:14] nashif commented on #43344
This sample does not build correctly on this platform, needs fixing:

[code]

[2022-03-08 18:16] nashif commented on #43344
moving back to medium.

[2022-03-08 18:16] cfriedt commented on #43335
Also an excellent point. Especially difficult with bugs that are nondeterministic or otherwise not easy to reproduce.

At the other end of the spectrum, we have negative side-effects, like what @nashif mentioned. We do not want to start adding bugfixes for bugfixes (regressions) - we need a buffer (a.k.a. soak period) preferably with lots of vendor testing as well.

[2022-03-08 18:17] dbortoluzzi opened #43553 "Request to configure SPBTLE-1S of STEVAL-MKSBOX1V1"
**Is your enhancement proposal related to a problem? Please describe.**
I would like to use the Ble Module (SPBTLE-1S) of the **STEVAL-MKSBOX1V1** (SensorTile.box) in a zephyr project. This mcu is supported by zephyr, but the .dts doesn't configure the spi2 interface used by bluetooth.

**Describe the solution you'd like**
According with the hardware specs, I tried to start from ST BLE sensor proj

[2022-03-08 18:19] cfriedt commented on #43335
We also discussed whether to apply backports to non-LTS release branches. Some are still on v2.6.0, for example. Having 10 different development branches does not make a lot of sense.

[2022-03-08 18:33] nashif commented on #43344
need to remove `platform_allow: mps2_an385 qemu_x86 sam_e70_xplained` and use `integration_platforms` instead. This just limits testing to two architectures and emulation boards.

[2022-03-08 19:03] brentalanmiller commented on #43456
Hi, @mbolivar-nordic . Yes, I made sure to do that.

I was also trying out previous releases and the last Zephyr release that was able to build this sample was v2.6.0 (v2.7.0 fails,) so it looks like the issue was introduced around that time.

[2022-03-08 19:13] ft commented on #43235
The push I did just now only adjusts a little bit of wording in the commit message.

[2022-03-08 19:18] ft commented on #43503
I have a possible fix for this in https://github.com/ft/zephyr/commit/39d7c252bc940830140f017bf22b984836daf463.

Also, this thread made me read up on some of the newer things that `west` can do (it's been a while since I last looked). There's some interesting features in there. There's also some support for initialising submodules, so I guess it's not the worst idea in the world to keep supporting

[2022-03-08 19:51] hjuul opened #43555 "Variables not properly initialized when using data relocation with SDRAM"
When using data relocation to store variables in external SDRAM the kernel will initialize the data section from ROM and clear the bss section. But this is done *before* the SDRAM is initialized, so the data will not be retained. In my application I see that all variables that are stored in SDRAM have wrong initialization values.

I'm seeing this with an stm32f7, using driver `memc_stm32_sdram.c`.

[2022-03-08 23:48] ballardr opened #43562 "Setting and/or documentation of Timer and counter use/requirements for Nordic Bluetooth Controller"
**Describe the bug**
I'm trying to enable a device with bluetooth low energy (BLE), however my firmware is crashing once enabled, and I think this may be due to the firmware using rtc0 and timer0. Documentation at https://docs.zephyrproject.org/latest/connectivity/bluetooth/bluetooth-arch.html#bluetooth-low-energy-controller indicates that an rtc instance and 2 timer instances (counters I assume)

[2022-03-09 01:01] zzzh commented on #43518
It's not an official board, but compile well in zephyr-2.3, some pinctrl thing had been added.

[2022-03-09 01:11] aasthagr commented on #43344
Looking into this issue.

[2022-03-09 01:48] ck-telecom commented on #43511
It seems that all source file built-in, linked with only referenced symbols, this has no impact on firmware size, that should be OK

but I wounder why so many SRAM needed, I can't reduced even make some changes with LV_MEM, maybe releated to all source file is fully builtin.

[2022-03-09 02:14] carlst opened #43567 "Bluetooth: Controller: ISO data packet dropped on payload array wraparound"
**Describe the bug**
A Broadcast ISO data packet is received, but not stored by `bluetooth/controller/ll_sw/nordic/lll/lll_sync_iso.c::isr_rx()` into `lll->payload[bis_idx][payload_index]` under the conditions described below.

This occurs on an nRF52840DK using a Zephyr ISO Receive sample to receive data from a slightly modified Zephyr ISO Broadcast sample (modified to broadcast ISO data at 50ms,

[2022-03-09 02:35] zzzh commented on #43518
DT_PWMS_LABEL is deprecated, which command should be used instead?

[2022-03-09 03:52] Zhaoningx commented on #43306
Hi @pdgendt, it works well after adding it. Thanks for fixing this.

[2022-03-09 03:56] enjiamai commented on #43306
Hi @pdgendt , we verified it and no negative impacts on all other tests. Could you please submit this fix? Thanks!

[2022-03-09 05:08] NagarajuGundimi opened #43568 "ITE eSPI driver expecting OOB header also along with OOB data from app code - espi_it8xxx2_send_oob() & espi_it8xxx2_receive_oob"
ITE eSPI driver expecting OOB header also along with OOB data from app code - espi_it8xxx2_send_oob() & espi_it8xxx2_receive_oob.

In espi_oob_msg_packet structure cycle_type, tag_len_bit_11_8 & len_bit_7_0 fields are OOB header. Currently ITE driver is such a way that app code has to fill/prepare OOB header also along with OOB data.

But in other EC vendors driver this OOB header data is taken ca

[2022-03-09 07:31] erwango commented on #43130
it represents the channel of an adc

[2022-03-09 07:32] erwango commented on #43518
It depends what you need to do. Do you have an example of usage ?

[2022-03-09 07:33] erwango commented on #43518
Should be something like `DT_PWMS_CTLR`

[2022-03-09 07:38] erwango commented on #43335
Don't we also have backport on the V3.0 for instance?

[2022-03-09 07:40] FRASTM opened #43572 "[Backport v2.7-branch] stm32: wrong clock the LSI freq for stm32l0x mcus"
**Describe the bug**
The LSI clock freq is  set to 32kHz in the stm32l0.dtsi which is not the value specified by the RefMan = "around 37 kHz."

**Environment (please complete the following information):**
 - V2.7 branch

[2022-03-09 07:47] zzzh opened #43573 "return const struct device * for device_get_binding(const char *name)"
**Describe the bug**
the definition is now "__syscall const struct device *device_get_binding(const char *name);",
which bring many compile warnings as below, and at last, program can't link

warning: initialization discards 'const' qualifier from pointer target type [-Wdiscarded-qualifiers]
   37 |     struct device *i2c_dev = device_get_binding(DT_LABEL(I2C2_NODE));

it used to be "__syscall str

[2022-03-09 07:47] erwango commented on #43235
@ft If you feel confident about your fix, don't hesitate to propose a PR with it.

[2022-03-09 07:53] zzzh commented on #43518
I used DT_PWMS_CTLR to replace DT_PWMS_LABEL, seems this is the source of the error.

for example:
it was: DT_PWMS_LABEL(DT_NODALABEL(xxx)), and work well in zephyr-2.3
now is: DT_PWMS_CTLR(DT_NODALABEL(xxx)), and don't work in zephyr-3.0.99

[2022-03-09 08:34] stephanosio commented on #43503
At the time of writing, we have not officially declared the west utility to be a requirement for using Zephyr; but, we are almost headed there (at least, for the module/component management).

Usages like this will likely become unsupported or unsustainable in the future and I would highly recommend that you use the west since installing it is as simple as running one or two commands and there is

[2022-03-09 08:54] murraybo opened #43580 "hl7800: tcp stack freezes on slow response from modem"
**Describe the bug**
The TCP stack freezes/locks if the response from the hl7800 modem is slow while sending out data. This can be caused by network congestion, high load or internal routines on the hl7800. The specification of the sierra wireless hl7800 states that it can take up to 60 seconds for this response.

The problem occurred on a Laird MG-100 which was constantly sending out data over a

[2022-03-09 09:01] EmbedWise commented on #43326
@danieldegrasse I am most likely missing something very simple but when I conduct west update it shows:

[code]

Since it leaves the branch I conduct:
[code]

But I still miss the file:
[code]

[2022-03-09 09:08] erwango commented on #43518
I suggest to look at `samples/basic/blinky_pwm/src/main.c` to see how it is used in current code.

[2022-03-09 11:11] #42870 closed

[2022-03-09 11:21] stephanosio commented on #43503
While that may be the case on paper, we keep adding new features and schemes that make it harder to use Zephyr without west.

Unless you are into making your life harder for no good reason, I would strongly recommend using west.

[2022-03-09 11:42] tejlmand commented on #43503
not sure which features you are referring too and what exactly you mean by `harder` ?
But if we take an example like sysbuild, #40555, then of course using `west build` makes it easier to invoke sysbuild, but you can still invoke CMake directly for the same feature. That you can regard as harder.
But if a user / company opt-out of west, then they probably will create their own wrapper if they will

[2022-03-09 11:44] #43392 closed

[2022-03-09 11:57] PerMac opened #43587 "arm: trustzone: Interrupts using FPU causes usage fault when ARM_NONSECURE_PREEMPTIBLE_SECURE_CALLS is disabled"
NSPE Interrupt handlers using FPU extensions when ARM_NONSECURE_PREEMPTIBLE_SECURE_CALLS is disabled causes Usage Fault NOCP when FPU is disabled in the SPE.

**Describe the bug**
Scenarios from https://github.com/zephyrproject-rtos/zephyr/blob/main/tests/arch/arm/arm_thread_swap_tz/testcase.yaml fail on nrf9160dk_nrf9160_ns. It starts the app, prints `START - test_thread_swap_tz`, but nothing mor

[2022-03-09 12:28] ppryga commented on #43552
The PR to fix the problem: https://github.com/nrfconnect/sdk-nrf/pull/7085

[2022-03-09 12:52] gmarull commented on #43503
Strongly agree.

I think Zephyr lacks a proper guide on making Zephyr applications. We have a lot of details, but not a guide that says, "this is the recommended way to go for most use cases". Luckily, we now have example-application, which I think it helps a bit on this front. If every Zephyr user goes its own way, changes upstream will likely have an impact when upgrading Zephyr, leading to bad

[2022-03-09 12:59] zephyrbot opened #43595 "[backport v2.7-branch] backport of #43364 failed"
This issue was created automatically because the backport of #43364 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-43364-to-v2.7-branch`.

[2022-03-09 13:00] zephyrbot opened #43597 "[backport v2.7-branch] backport of #43367 failed"
This issue was created automatically because the backport of #43367 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-43367-to-v2.7-branch`.

[2022-03-09 13:04] #42680 closed

[2022-03-09 13:08] gmarull commented on #43511
I'm gonna close this one as it can't be reproduced using the upstream sample (only enabled widgets are built when `CONFIG_LV_CONF_MINIMAL=y` as detailed in https://github.com/zephyrproject-rtos/zephyr/issues/43511#issuecomment-1061573734). Please re-open with steps to reproduce in case you find a combination that triggers the problem.

[2022-03-09 13:08] #43511 closed

[2022-03-09 13:46] shaoanxli opened #43600 "tests: mec15xxevb_assy6853: most of the test cases failed"
**Describe the bug**
Most of the test cases failed after commit id: 303469350978f29b4108eff57d9dd25df24a3f63<drivers: i2c: MEC15xx: Improved error handling>.The root cause is not clear yet.
Take tests/kernel/threads/thread_apis as an example :

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. west build -p always -b mec15xxevb_assy6853 tests/kernel/threads/thread_apis
3

[2022-03-09 13:50] enjiamai commented on #43600
Hi @jvasanth1 , this seems happens after https://github.com/zephyrproject-rtos/zephyr/pull/43080 got merged, could you please take a look at this, thanks!

[2022-03-09 13:59] ppryga commented on #43479
The issue from line https://github.com/zephyrproject-rtos/zephyr/blob/5883e897ba39cdea8a638f122851a730cb9ca39e/subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c#L574
was actually fixed by this PR: #39719.
The PR and commit that has an issue with backport, was a fix for a bug introduced later.

@cvinayak why there were no backport for that PR #39719

[2022-03-09 14:04] nashif commented on #43335
also see discussion here https://github.com/zephyrproject-rtos/zephyr/discussions/43561 and provide your feedback there.

[2022-03-09 14:07] ppryga opened #43602 "[v2.7] Bluetooth: controller: Missing NULL assign to df_cfg in ll_adv_set"
**Describe the bug**
`ll_adv_set` stores pointer to direction finding TX configuration.
When `ll_reset` is executed the pointer in not NULL assigned.
That leads to erroneous behavior e.g. `df_cfg->is_enabled` was set
to TRUE even the functionality was not enabled.

**Impact**
Touches direction finding functionality only, so it isn't showstopper in general but block use of direction finding.

[2022-03-09 14:19] koffes opened #43604 "Checkpatch: Support in-code ignore tags"
**Is your enhancement proposal related to a problem? Please describe.**
Sometimes, it may be desirable/required to violate something which Checkpatch gives an error or warning on.
Usually, this is handled by adding something to `.checkpatch.conf`

Though, this is a harsh approach as this ignores an entire file/files, or a given rule globally.

**Describe the solution you'd like**
A tag we can put

[2022-03-09 14:42] GeorgeCGV commented on #43452
The PR is created. I can confirm that the SPI 1 SCK signal is present on PB3. Unfortunately, we still didn't manage to communicate with the other IC over the SPI 1 on F1VC (_L5 manages to communicate with that IC, so it is not a custom driver issue_), investigating further...

Some notes:

HAL and LL don't disable the `LL_APB2_GRP1_PERIPH_AFIO` clock.

There is a difference in the order of how SWJ

[2022-03-09 15:07] PerMac commented on #43552
@ppryga The issue relates to samples existing here, in the upstream Zephyr: https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/bluetooth/direction_finding_connectionless_rx/sample.yaml and https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/bluetooth/direction_finding_connectionless_tx/sample.yaml
Thanks for clearing sdk-nrf samples, but also please fix the ones from this is

[2022-03-09 15:19] PerMac commented on #43552
I realized you did this as well: this is the fix https://github.com/zephyrproject-rtos/zephyr/pull/43592

[2022-03-09 16:38] carlescufi commented on #43333
Approved by the TSC

[2022-03-09 17:07] #42559 closed

[2022-03-09 17:10] sjg20 commented on #39486
Can you please point to (or add here) an example node for the emulator? Originally the emulator did not have its own node. Has that changed?

[2022-03-09 17:13] jvasanth1 commented on #43600
The assertion is invalid since the clk and data gpio could be same gpio group; will remove it.

[2022-03-09 17:24] mbolivar-nordic commented on #41613
Process WG:

- agreement on the above proposal for milestone usage
- @nashif : should maybe add a bot that removes milestones applied by anyone not in the right group
- @nashif : program management wiki page has been trimmed down; AI to update document based on above discussion
- @nashif : people make requests for setting the milestone by setting the label; it gets triaged at that meeting at T-7W.

[2022-03-09 17:47] andyross opened #43618 "Invalid thread indexes out of userspace generation"
This was discovered during the merge and quick revert of https://github.com/zephyrproject-rtos/zephyr/pull/43547 but it actually seems to be a bug in the userspace build generators.  You can see it by applying this to HEAD (as of commit 9fe466f4b05182ba4bf02f69c74f3ecb9b3529e0) and then building tests/kernel/semaphore/semaphore on x86_64:

[code]

It then fails on the very first test case with:

[

[2022-03-09 18:46] #42831 closed

[2022-03-09 18:59] #37710 closed

[2022-03-09 19:09] #42874 closed

[2022-03-09 19:13] #41924 closed

[2022-03-09 19:16] andyross commented on #43618
@dcpleung caught that, when the number of threads is exactly 16 (the maximum representable in the mask when CONFIG_MAX_THREAD_BYTES=2) the thread addresses seen by gen_kobject_list.py in the zephyr_pre1.elf file don't match the ones in the final zephyr.elf.  This causes the kobject lookup for the thread to fail, leading to that invalid index.

The proximate cause is that, indeed, include/linker/ko

[2022-03-09 19:55] #42108 closed

[2022-03-09 21:26] dleach02 commented on #42066
@jfischer-no Is there any of this that can be parallelized if additional resources are made available?

[2022-03-09 23:01] dleach02 commented on #23302
@carlescufi, @rlubos do you have any testing data that shows before/after performance with the RX window support?

[2022-03-10 00:30] #41456 closed

[2022-03-10 00:57] mohankumarkumar opened #43630 "Zperf tcp download stalls with window size becoming 0 on Zephyr side"
**Describe the bug**
Zperf tcp download stalls with window size becoming 0 on Zephyr side

Please also mention any information which could help others to understand
the problem you're facing:
 - Tested on qemu-x86 and esp32
 - Verified the packets using tcpdump. Figured out that the window size on Zephyr becomes 0.

**To Reproduce**
Steps to reproduce the behavior:
1. ~/.local/bin/west build -b qe

[2022-03-10 00:59] mohankumarkumar commented on #43630
I came across this bug recently on the mainline.
I have a patch here:
https://github.com/zephyrproject-rtos/zephyr/compare/main...mohankumarkumar:fix_zperf_tcp?expand=1

Please take a look. Thanks!

[2022-03-10 01:55] waqas-mazhar opened #43636 "Documentation incorrectly states that C++ new and delete operators are unsupported"
**Issue Description**
The RTOS documentation, [C++ Support for Applications](https://docs.zephyrproject.org/latest/reference/kernel/other/cxx_support.html), indicates that C++ Dynamic Objects can't be managed using `new`/`delete` operators. However, there is a test case at `tests/subsys/cpp/cxx` for them. Also, `new`/`delete` operators are implemented at `subsys/cpp/cpp_new.cpp` which eventually r

[2022-03-10 07:23] zzzh commented on #43518
Got it, thank you.

[2022-03-10 07:23] zzzh commented on #43573
I see, Thanks for the help.

[2022-03-10 07:38] tejlmand commented on #43503
I agree that `west` is the recommended way, but there is a long way from having this as a recommended way, and then to state:

Highlighted words by me.
This is what I'm addressing, cause stating that such workflows is unsupported or will be unsupported is simply not true.
There are big users of Zephyr who are using other tools, mainly because Zephyr is just a subset (and thus not the center) of la

[2022-03-10 08:20] erwango opened #43640 "stm32f1: Convert `choice GPIO_STM32_SWJ` to dt"
**Is your enhancement proposal related to a problem? Please describe.**
See https://github.com/zephyrproject-rtos/zephyr/pull/43605#discussion_r823451824
`GPIO_STM32_SWJ` should not be purely removed but a smooth deprecation/transition mecanism should be considered for existing users.

**Describe the solution you'd like**
Move `choice GPIO_STM32_SWJ` to a dt property of pinctrl node.

**Describe a

[2022-03-10 09:01] stephanosio commented on #43503
Sure, **unsupported** might not have been the best choice of words, but it already is and will likely become **unsustainable**.

[2022-03-10 09:28] FRASTM commented on #43411
@darexa do you need support to submit a PR,
take a look at https://github.com/FRASTM/zephyr/tree/issue43411   where I moved the `spi_stm32_cs_control` after `spi_stm32_cs_control` in the transceive_dma function of the ./drivers/spi/spi_ll_stm32.c

[2022-03-10 09:34] jfischer-no commented on #42066
Not yet.

[2022-03-10 09:34] kruithofa commented on #42197
Thomas has been able to reproduce, and working on a fix

[2022-03-10 09:42] FRASTM commented on #43115
Could the cs control, change the tx timing during DMA transfer  like on https://github.com/zephyrproject-rtos/zephyr/issues/43111

[2022-03-10 09:48] darexa commented on #43411
@FRASTM Sure, I am a little bit swamped with other stuff at the moment so if you support that is great. The code looks correct in your branch.

[2022-03-10 09:57] rlubos commented on #23302
@dleach02 I'm going to order a few Ethernet boards to perform tests with zperf/iperf on an actual hardware. In a meantime, I've tested how does the recv window affect the traffic using a `native_posix` platform, with the following results (`zperf` sample acting as a TCP server, flooding data with `iperf` from the host machine) :

1.  Running the sample in the default configuration gives the follow

[2022-03-10 10:04] kborowski2 commented on #43115
Not really because `spi_stm32_cs_control` shouldn't do anything in Slave Mode

[2022-03-10 10:57] de-nordic opened #43646 "mgmt/mcumgr/lib: OS taskstat may give shorter list than expected"
**Describe the bug**
The OS taskstat commands uses, in `os_mgmt_taskstat_read` (https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/mgmt/mcumgr/lib/cmd/os_mgmt/src/os_mgmt.c#L196-L228), `SYS_THREAD_MONITOR_NEXT` to traverse thread list, and it does not use any locks to guarantee exclusive access to thread structure returned by the macro (as a pointer).
This means that after obtaining a p

[2022-03-10 11:01] eloisesko opened #43647 "Bluetooth: LE multirole: connection as central is not totally unreferenced on disconnection"
**Describe the bug**
When doing BLE multirole and connected both to a central and a peripheral, if the peripheral disconnects, a reference to the peripheral connection still remains. Next connections to a peripheral will then fail because no more connections are available.

The extra reference is set by a call to `bt_le_adv_resume()` in `bt_conn_unref` in `deferred_work` (conn.c) [here](https://gi

[2022-03-10 12:05] boaks commented on #8439
Very interesting discussion.

Is there an idea, how that is handled for "third-party/external libraries"?
I feel a little strange about that and it would be great, if there is a link to something as best practice.
I will create also a separate issue. Adding a comment here is done in hope to reach the experts more directly.

[2022-03-10 12:08] carlescufi commented on #43647
There are multiple possible causes for this, but this doesn´t look at first sight like a bug in the stack. Can you please post a simple application to reproduce this, in source code, somewhere on GitHub or even as a comment here?

This could be a reference counting bug in the application, please check the reference counting code in your app. Are you calling `bt_unref()` to the connection in 4. ?

[2022-03-10 12:10] boaks opened #43649 "Best practice for "external libraries" and cmake"
Is there a way of "best practice" to prepare cmake files of an "external library".
Especially, if such a library comes already with cmake files or is intended to support other OS as well.

I found also a discussion in issue #8439 but that doesn't include such best practice.

[2022-03-10 12:22] carlescufi commented on #43440
@Vudentz would you mind checking this?

[2022-03-10 12:25] carlescufi commented on #42829
@MariuszSkamra are you planning to send a PR to fix this?

[2022-03-10 12:26] #42306 closed

[2022-03-10 12:37] FRASTM commented on #43411
Pushed in that way, please add your review

[2022-03-10 12:38] El-Mokhtar-AIssaoui commented on #26731
@EdytaBosacka can you share the solution to scan it if you found it please?

[2022-03-10 12:45] El-Mokhtar-AIssaoui commented on #41775
@ryan4volts can you share the solution if you found it please?

[2022-03-10 12:52] m-alperen-sener opened #43654 "Nominate Mehmet Alperen Sener as Bluetooth Mesh Collaborator"
# Background

The [TSC Project Roles] defines the main roles for the Zephyr Project, including
Maintainer, Collaborator, and Contributor.

By default anyone that contributes code or documentation is a Contributor, but
with the lowest [GitHub Permission Level] of Read. For example, Contributors
with Read permission do not have the permission to add reviewers to a pull
request.

Use this template to

[2022-03-10 13:10] bgreggsmith opened #43655 "esp32c3: Connection fail loop"
**Describe the bug**
The sample code for connecting to wifi (samples/boards/esp32/wifi_station), works fine on esp32 but does not work on esp32c3. Instead of connecting,  a disconnect loop is obtained.

This is on a generic esp32c3 development board. Zephyr version 3.0.99.

This happens on a WPA1, WPA2, and Open access point. Building the same code for esp32 and running on a normal esp32 yields pe

[2022-03-10 13:35] ales5 opened #43656 "samples:bluetoooth:direction_finding_connectionless_rx antenna switching not working with nRF5340"
Hi
I am working on direction_finding_connectionless_rx sample application.
I recently migrated from nRF52833 DK to nRF5340 DK. When I was working with nRF52833 everything worked as expected. But for nRF5340 I noticed that GPIOs for controlling antennas are not toggling.
I am using latest version of Zephyr SDK 3.0.99.

Here are my steps for building and flashing network core and application core:
A

[2022-03-10 13:47] eloisesko commented on #43647
Yes, bt_conn_unref is called by the application on disconnection.

Before the call [here](https://github.com/zephyrproject-rtos/zephyr/blob/zephyr-v3.0.0/subsys/bluetooth/host/conn.c#L1577), the reference counter equals  to 1. After the call, it is still equal to 1 (it is increased by bt_le_adv_resume())

I'll find some time to provide sample code.

[2022-03-10 13:55] carlescufi commented on #43647
Can you make sure you describe the sequence in a way that is unambiguous?

I understand that:
You enable `CONFIG_BT_PERIPHERAL` and `CONFIG_BT_CENTRAL`, set `CONFIG_BT_MAX_CONN` to `2`.

1. Zephyr starts connectable advertising
2. Zephyr gets connected as a peripheral
3. Zephyr establishes a connection as a central
Now Zephyr is both a central and a peripheral
4. Zephyr disconnects the connection

[2022-03-10 14:46] erwango commented on #43553
@avisconti I think I recall you ported that board. Would you be able to check that at least the configuration is ok ?

[2022-03-10 14:53] erwango commented on #43553
@dbortoluzzi I'd suggest to add the following flags if not done already:
[code]
Then I'd try both configurations on top:
[code]
and if not working:
[code]
If none of these working, and dts configuration is proven to be correct.
Then, I'd suggest to study SPBTLE-1S module documentation against `BT_BLUENRG_ACI` and `BT_SPI_BLUENRG`.

[2022-03-10 15:02] hjuul opened #43661 "Newlib math library not working with user mode threads"
When using certain math functions from Newlib in a user mode thread I get MPU faults. This happens when newlib functions try to access the `__fdlib_version` symbol. I have added `z_libc_partition` to the memory domain used by my thread, but `__fdlib_version` is outside of `z_libc_partition` in my memory map.

Here's a trace of when it happens:
![image](https://user-images.githubusercontent.com/680

[2022-03-10 15:07] FRASTM opened #43663 "stm32f091 test tests/kernel/context/ test_kernel_cpu_idle fails"
**Describe the bug**
The testcase running on stm32f091rc nucleo board fails on testcase  - test_kernel_cpu_idle

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_f091rc tests/kernel/context/
2. west flash
4. See error

**Expected behavior**
[code]

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Logs and console output

[2022-03-10 15:12] dleach02 commented on #23302
I would compare with before and after adding this feature. We have started looking at this by testing 3.0 vs tip of main and then we started tweaking the parameters. In general, we are not seeing good performance results so trying to figure out how to triage this some more.