[2021-11-24 17:51] jfischer-no commented on #40640
TBH driver _usb_dc_native_posix_, is not suitable for production use, for many reasons, it has nothing to do with posix either. I started to rewrite it, https://github.com/zephyrproject-rtos/zephyr/pull/34069, but current implementation has also many problems and USBIP actually needs HCI interface API, so I postponed it until new USB device controller API or USB HCI driver API are available.
And a

[2021-11-24 18:00] DRuffer commented on #38047
@catch-twenty-two found a solution for this problem:
``
./scripts/twister -vvv --device-testing --device-serial-baud 9600 --device-serial /dev/ttyUSB1 --platform pets_v2_dev_kit -T  samples/sensor/tmp108/ --board-root /home/jimmy/zephyrupstream/zephyr-tmo-sdk/boards/ --extra-args=BOARD_ROOT=/home/jimmy/zephyrupstream/zephyr-tmo-sdk/
``
Basically, the twister scripts are not passing the BOARD_ROOT

[2021-11-24 18:53] carlescufi commented on #38047
Reopening based on the above

[2021-11-24 19:23] #40356 closed

[2021-11-24 19:25] optimiseddesign commented on #40538
I also experienced this, see Nordic ticket too;
https://devzone.nordicsemi.com/f/nordic-q-a/81418/bug-in-ncs-v1-7-1-with-32khz-rc-oscillator-and-mcuboot-enabled

I ended up solving with CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC_CALIBRATION=n to avoid the size overhead of multithreading which would enlarge the MCUBoot partition. @nobodyguy what issues could using this cause?

Note: this only needs to be i

[2021-11-24 19:41] nobodyguy commented on #40538
https://github.com/mcu-tools/mcuboot/blob/main/boot/zephyr/Kconfig#L685
This is probably the problem, it disables the multithreading support in mcuboot for nrf soc family.

@optimiseddesign Actually I'm not sure, I just quoted the Zephyr docs. It could be ok for mcuboot to keep the calibration disabled. Someone more skillful could give us an explanation of this.

[2021-11-24 20:56] jeremybettis opened #40646 "Can't read more than one OUTPUT|INPUT gpio pin in gpio_emul"
Calling gpio_emul_driver->port_set_bits_raw() to enable a OUTPUT|INPUT pin, followed by gpio_emul_driver->port_get_raw() to read that same pin would return 0 for the value if there were any other GPIO output pins also set to 1.

This is only a problem in the gpio_emul, not in the gpio driver itself.

[2021-11-25 02:44] Zhaoningx commented on #40614
Hi @dcpleung, yes, I have tested this, and there is a existing test case named `test_k_poll_user_num_err` to test this point, and I find that the output is not expected, so I dig into it. As the bug description said:
The output of this test case is:
===================================================================
START - test_k_poll_user_num_err
E: syscall z_vrfy_k_poll failed check: num_events

[2021-11-25 02:52] #38982 closed

[2021-11-25 05:14] cvinayak commented on #40317
@jakkra I have simulated 10 periodic advertisers synchronized without DF and do not see any crash. Your sample and the simulation log is present in this draft PR: https://github.com/zephyrproject-rtos/zephyr/pull/40655

@ppryga Memory corruption in periodic synchronization is ruled out, please reproduce the same in DF scenario, I suspect probable memory corruption in allocation/release of rx/link

[2021-11-25 06:31] helo9 opened #40657 "Cannot enable secondary pwm out channels on stm32f3"
**Describe the bug**
I face problems when trying to use the secondary pwm output channels on stm32f3_diso.
Inspecting the Pins shows no output, while primary channel is working.

**To Reproduce**
Steps to reproduce the behavior:
1. create an application using pwm output for stm32f3_disco rev E
2. use an overlay with the following content
[code]
3. `west build --board=stm32f3_disco@E`
4. Flash and

[2021-11-25 07:18] glin00 commented on #40348
I found the root cause of this problem. Thank you for your support.

[2021-11-25 07:18] #40348 closed

[2021-11-25 07:21] glin00 commented on #39221
I will use west debug instead of eclipse. Thanks for your support.

[2021-11-25 07:21] #39221 closed

[2021-11-25 07:24] joshld opened #40658 "shtcx not reporting correct humidity value"
**Describe the bug**
shtcx.c source references temp struct member rather than humidity within shtcx_channel_get.

**Impact**
Values based on the temperature raw values used for humidity. (seemingly around 10-15% off)

Suggested change from:

[code]

to:
[code]

In addition to these changes I would also suggest revising the measure_wait_us array as SHTC3 appears to reference SHTC1 values and vice v

[2021-11-25 07:48] erwango commented on #40348
@glin00, Good, thanks for the heads up.

While it is still fresh, would you mind sharing what was the root cause then ?
It could be helpful for other people than may have the same problem as you and end up reading this discussion.

[2021-11-25 08:50] jakkra commented on #40317
Hi @cvinayak thanks alot for looking into the issue and setting up a simulation for it. I have been running the modfications you made without DF and so for no crash, so it seems as it's caused by DF.

[2021-11-25 08:59] str4t0m commented on #40658
Thanks for reporting this. PR #40661 should address the issues. Could you have a look at it?

[2021-11-25 09:07] joshld commented on #40658
Reviewed.

[2021-11-25 09:31] nvincent-vossloh opened #40663 "WWDG not supported on STM32H7 family"
**Describe the bug**
I tried to use the `wwdg1` peripheral of the `nucleo_h743zi` board as an hardware backend for the `task_wdt` subsys.

During the compilation I have the following error:
[code]

**To Reproduce**
1. I modified the board's dts to enable the `wwdg1` peripheral instead of `iwdg1`:
[code]

2. Compilation command:
[code]

**Expected behavior**
No compilation error

**Impact**
Cannot

[2021-11-25 09:32] ilhanates opened #40664 "Bluetooth: GATT: EATT: Multiple notify feature not utilize new PDU fully"
**Is your enhancement proposal related to a problem?**
Bluetooth 5.2 introduced Multiple Handle Value Notification (HVN) sub-feature as part of Enhanced ATT feature.
Zephyr host currently supports multi HVN but it does not utilize new ATT PDU of `ATT_MULTIPLE_HANDLE_VALUE_NTF=0x23`  fully. It is sending only one HVN per PDU, and it is no different then existing regular single HVN with `ATT_HANDLE_

[2021-11-25 11:10] qati opened #40666 "Support for EFM32TG11"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
Siliconlabs energy and cost efficient EFM32TG11 SOC seems to be an amazing chip. It has a nice starter kit called SLSTK3301A.

**Describe why you are asking for this support?**
I think this chip is more energy efficient then the other supported SOC-s in EFM32 family. Adding su

[2021-11-25 11:31] tejlmand commented on #40643
Fixed here: #40667

additional context.
The test-case still reqiures 540M diskspace temporarily, and that also required that before 28b2e55.

The difference was that the `gen_handles.py` was moved to an earlier pre-built stage which weren't being cleaned.
This is fixed in #40667 so that all prebuilt stages are cleaned out, and not only the final pre-built stage.

[2021-11-25 11:40] lairdjm opened #40668 "Issue with twister code coverage tests not working with minimal C library (nRF52840)"
**Describe the bug**
We are trying to get twister working for testing code on real devices and to get code coverage reports, for the current test, we are using 2 pinnacle 100's with pyocd-based debuggers attached, FTDI UART chips are used for the UART interface on these board. We have enabled coverage for the board by adding `select HAS_COVERAGE_SUPPORT` to our `Kconfig.board` file, generated a ha

[2021-11-25 11:44] JordanYates commented on #37793
Implemented in #40418

[2021-11-25 11:44] #37793 closed

[2021-11-25 11:45] JordanYates commented on #38592
Resolved by #39734

[2021-11-25 11:45] #38592 closed

[2021-11-25 12:52] carlescufi commented on #40569
When this test was introduced, it worked on all? (most) boards. Then the board in question was added and this test fails on it. So it could be an issue with the test, an issue with the board or an issue with the actual code it's testing.

[2021-11-25 14:39] carlocaione commented on #40569
Yeah, I investigated a bit and it seems that the actual problem was introduced by https://github.com/zephyrproject-rtos/zephyr/commit/70dd3d6b0deec17eab6e0888d458b7e5aa1481da

@stephanosio can you take a look?

[2021-11-25 14:47] stephanosio commented on #40569
@carlocaione Sure.

[2021-11-25 14:55] kruithofa opened #40672 "EDTT: buffer overflow in edtt_hci_app"
** bug description **
For the EDTT HCI tests the DUT app is sent an HCI command packet from the EDTT test script that is 255 bytes long (Adv Ext), but the DUT app is configured without support for Adv Ext, so it only has buffer space for the default 65 bytes long commands, the EDTT test expects the DUT to respond with a Unknown Command Response, but the target crashes due to an Segmentation Fault.

[2021-11-25 15:36] #40646 closed

[2021-11-25 15:41] #40590 closed

[2021-11-25 15:44] #40546 closed

[2021-11-25 15:45] #38531 closed

[2021-11-25 15:49] CodingGhost commented on #40003
the Problem was caused by
SYS_SLIST_FOR_EACH_CONTAINER_SAFE in att.c  iterating too often (more than there were requests).
this PR fixes it: #39507

thanks to @carlescufi for helping me out!

[2021-11-25 15:50] #40003 closed

[2021-11-25 17:10] nobodyguy commented on #40538
Summary of what we (me, @optimiseddesign and Nordic's support) have found so far:

It seems that the root cause is that the calibration now requires a multithreading support, but the dependency between the **CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC_CALIBRATION** and **CONFIG_MULTITHREADING** config options is not defined in the code.
The build of mcuboot fails on **temp_nrf5** driver because the clock c

[2021-11-25 23:22] #40643 closed

[2021-11-25 23:23] #40614 closed

[2021-11-25 23:48] helo9 commented on #40657
I think like pinctrl already works correctly, but in `pwm_stm32_pin_set` cannot set the correct bits as [pwm_stm33.c#L262](https://github.com/zephyrproject-rtos/zephyr/blob/5287ce8ff003f9ad7428864a9e53a42424b3d135/drivers/pwm/pwm_stm32.c#L262) can only select the ordinary pins.
So I would add another ch2ll like array, store which channels should use the N pin in the configuration and choose the ar

[2021-11-26 02:18] glin00 commented on #40348
Within display driver write function oled_driver_api.write or oled_write, I declare a char buff[30] with only 30 chars capacity. Then I use sprintf(buff, " xxxxxxxxxxxx") which try to write to buff more than 30 chars.  If I increase buff size, then sprintf will not overwrite to other memory and this  os: ***** BUS FAULT ***** problem will not occur.

[2021-11-26 02:26] atshinbo-etrinity opened #40679 "libc/minimal: static variable of gmtime() does not located to z_libc_partition at usermode."
**Describe the bug**
A access fault occur when call gmtime() from a user thread.

gmtime() have a static allocated variable named "struct tm shared".
(zephyr/lib/libc/minimal/source/time/gmtime.c)
This variable is defined locally in the function, but allocated statically. So, it should be located to z_libc_partition.
Currently it is not. Therefore, an access fault occur when call gmtime() from use

[2021-11-26 06:05] sudashannon opened #40681 "process migration when enable SMP support"
Hi:
Does the zephyr SMP support the process migration? If not, what the kernel will do when load is imbalanced between different cores?

[2021-11-26 07:39] frantony commented on #6082
@remy-luisant

Yes, it has. I suppose that libgcc divisions and remainders stuff is used at least for 64-bit numbers.

[2021-11-26 07:48] remy-luisant commented on #6082
@frantony

I just checked, you are correct. All uses are in 64-bit integer processing. Not gonna be easy to make that go away.

[2021-11-26 07:48] frantony commented on #6082
@remy-luisant

The good news is after reverting 70dd3d6b0deec17eab6e0888d458b7e5aa1481da (see https://github.com/zephyrproject-rtos/zephyr/issues/40569) GitHub CI reports that MIPS port pass all tests.

There is only two problems:

  * *Compliance Checks Failing*; I have to add some lines into CODEOWNERS;
  * *Scan code for licenses Failing*; there are several core files introduced in original Ima

[2021-11-26 07:54] remy-luisant commented on #6082
@frantony

All right. Good to know. Thanks for keeping me posted.

I found some time to push XIP a bit, but mainly working on getting things going on the real hardware, where size is an issue even with hypothetical XIP. Likewise, we are looking at quite a few days, given all else I am working on right now.

[2021-11-26 08:17] lairdjm commented on #40668
Perhaps unrelated to minimal C library as in some other instances it seems impossible to get it to work and the whole application freezes at a pointer function call in `gcov_static_init`, file `subsys/testsuite/coverage/coverage.c` with a kernel test:
[code]

[2021-11-26 09:09] lairdjm commented on #40668
Why is the gcov linker section resides in a CPP #ifdef? https://github.com/zephyrproject-rtos/zephyr/blob/main/include/linker/common-rom.ld#L85
If I try code coverage with twister and forcing CPP support, the applications no longer seem to lock up in the gcov section, they still don't work because of MPU faults, but that's a bit more progress:
[code]
And some faults:
[code]
-
[code]

However, it s

[2021-11-26 09:17] atshinbo-etrinity opened #40686 "newlib: assertion failed when printf is called"
**Describe the bug**
Assertion failed when newlib/printf is called under a specific combination of configuration items.

**To Reproduce**
1. Modify samples/hello_world/src/main.c as following.
[code]

2. Add following lines to samples/hello_world/prj.conf
[code]

3. west build -b hifive1_revb samples/hello_world
4. cd build/zephyr
5. $ZEPHYR_SDK_INSTALL_DIR/riscv64-zephyr-elf/bin/riscv64-zephyr-el

[2021-11-26 09:25] lairdjm commented on #40668
@PerMac Any ideas/suggestions for what to try here?

[2021-11-26 09:54] OpLpEpG opened #40688 "in "pinmux_stm32.c" function "stm32_dt_pinctrl_remap" not work"
[code]
remap = (uint8_t)STM32_DT_PINMUX_REMAP(pinctrl[0].pinmux);

is need remove (uint8_t)? or set (uint16_t).

zephyr version 2.7.99

[2021-11-26 10:08] PerMac commented on #40668
No, I don't know why. You'll have to wait for bug triage so a proper person could be assigned to your issue.
 Some tips and questions. Are the same tests failing every time?  Try to use "--subset 1/3", --subset 2/3", etc. The last part where every single test failed looks as if your board got into a corrupted state and is blocked.
I created this issue related to coverage recently, but don't know i

[2021-11-26 10:15] erwango commented on #40688
Thanks for raising this.
Indeed, uint16_t shouldbe used for the cast.

[2021-11-26 10:37] lairdjm commented on #40668
With code coverage on and without the CPP fix, it is always the same tests that fail yes, pretty much most of them, because they lock up in the gcov setup function and enter a fault. It does seem to be that the null pointer check using DWT is the cause of the bug I reported with `nrfjprog -f NRF52 --reset` not working, if I change it to use null pointer check using MPU then I can successfully rebo

[2021-11-26 11:25] lairdjm commented on #40668
Without code coverage, the failures are:
`tests/kernel/sched/schedule_api/kernel.scheduler.multiq`:
[code]
`tests/kernel/sched/schedule_api/kernel.scheduler`:
[code]
`tests/kernel/mem_protect/mem_protect/kernel.memory_protection`:
[code]
`tests/kernel/threads/thread_apis/kernel.threads.apis`:
[code]

[2021-11-26 11:30] hakkimakki opened #40691 "Question devicetree overlay file gpios nrf52840dongle_nrf52840"
I would like to specify a device that uses one ADC and Two GPIOs with a devicetree-overlay file (app.overlay):

<pre><code>/ {
	zephyr,user,spec {
		clk-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>; /* 0.15 */
		st-gpios = <&gpio1 0 GPIO_ACTIVE_LOW>; /* 1.00 */
		io-channels = <&adc 7>;
	};
};
</code></pre>

To get the device binding of the clk-gpio i would like to use the following code:
<pre><code>#defin

[2021-11-26 11:44] PerMac commented on #40668
@lairdjm Please, we need to keep some order in the issues. It becoming impossible to follow your report. Please check in advance with github search bar, if the same issue was not already reported. If it was, please add the comment that you are also observing it on a certain board. If there is none, create a new one. E.g error with `test_k_busy_work` is already reported https://github.com/zephyrpro

[2021-11-26 12:08] stephanosio commented on #40686
When userspace is enabled, you need to ensure the following:

1. Kernel dynamic object allocation is enabled.
2. The executing thread is assigned a resource memory pool (heap).

You can ensure (1) by setting `CONFIG_DYNAMIC_OBJECTS=y`.
You can ensure (2) by either:

a. Defining a dedicated heap and assigning it to the executing thread (refer to the `k_thread_heap_assign` documentation).
b. Enablin

[2021-11-26 12:08] #40686 closed

[2021-11-26 12:21] PerMac opened #40694 "lib: libc: newlib: tests: sram overflows"
**Describe the bug**
The tests
`tests/lib/newlib/thread_safety/libraries.libc.newlib.thread_safety.userspace.stress`
`tests/lib/newlib/thread_safety/libraries.libc.newlib_nano.thread_safety.userspace.stress`
causes SRAM Overflow on nrf52dk_nrf52832 and nrf9160dk_nrf9160_ns
Is there a way to optimize these tests? It is a bit problematic for us internally as we want to keep track of what gets skippe

[2021-11-26 12:35] stephanosio commented on #40694
This is a bit tricky because that tends to vary quite significantly across different boards.

https://github.com/zephyrproject-rtos/zephyr/blob/5aedcabf510846b5cc6020728a67dc9e8da3d39c/tests/lib/newlib/thread_safety/src/stress.c#L22

You can try decreasing the `THREAD_COUNT` in the stress test (e.g. to 32) to reduce the SRAM requirement.

The problem with decreasing the `THREAD_COUNT`, however, is

[2021-11-26 12:39] stephanosio commented on #40694
Marking this as an enhancement since this is not a "bug" per se.

[2021-11-26 13:12] FRASTM commented on #40663
The reason is that for the stm32H7 serie, the control of the WWDG1 stop in debug is present on the BGMCU APB3 peripheral freeze register (DBGMCU_APB3FZ1)  bit 6

[2021-11-26 14:36] cwshu commented on #39922
@atshinbo-etrinity
I create new PR #40647 for this issue.
Unaligned flash address has been fixed and I have tested it on QEMU. (PMP region should be 0x20000000 ~ 0x20400000)
Would you like to try it on real HW?

[2021-11-26 15:23] lairdjm opened #40703 "doc: add support for graphviz or mscgen generated diagrams through sphinx"
**Is your enhancement proposal related to a problem? Please describe.**
At present, the documentation system uses sphinx, there is currently no ability to render a diagram which could be embedded in a page in textual format into an actual diagram.

**Describe the solution you'd like**
For a way to be able to create a diagram by embedding commands or code into the documentation page which then gets

[2021-11-26 15:24] lairdjm commented on #40703
I was so engrossed in mscgen that I failed to realise graphviz is already supported, so that's good.

[2021-11-26 15:24] #40703 closed

[2021-11-26 15:25] #40688 closed

[2021-11-26 17:03] avisconti commented on #40130
@escherstair Can you possibly try this driver? I'm still testing it with SPI with DMA. Frequency is high 26K7 Hz, and I guess this is the way

[2021-11-27 11:23] ainguraXmarquiegui commented on #38665
We can close the issue and keep tracking progress in the pull requests.

[2021-11-27 11:23] #38665 closed

[2021-11-27 15:06] xudongzheng commented on #40433
Upon further investigation, the program runs fine but RTT output fails to work. It gets stuck on "Searching for RTT Control Block".

[2021-11-27 18:08] remy-luisant commented on #6082
@frantony

XIP is done. https://github.com/remy-luisant/zephyr/commit/5e791eb6f248dbc7e477d8908de99c89e34864f2

Let me know if you need me to make any changes. I expect the dts changes might be controversial, though they match the circumstances of my use case pretty closely. Let me know if there's a better way about this. As always, I'm happy to learn.

I think the two outstanding items you mentio

[2021-11-28 05:17] atshinbo-etrinity commented on #39922
Thank you for the pull request.
I have confirmed that the PR #40647 solved the issue on the real Hifive1 revB hardware.
I think this issue can be closed.

[2021-11-28 12:07] frantony commented on #6082
@remy-luisant

I have some experience with Ingenic JZ4755 and JZ4775 MIPS SoCs. IFAIR JZ4755 and JZ4775 MIPS use bootrom. After reset program in bootrom starts, checks dedicated chip input pins to determine boot mode (e.g. SD/MMC, NOR/NAND flash and even USB). Next bootrom code loads program from SD/MMC/NOR etc into RAM and starts it.
qemu-malta work in a more simple way. qemu-malta board has emul

[2021-11-28 14:12] gewoods3 opened #40714 "west flash, Invalid DFU suffix signature"
**Describe the bug**

1. west build -p auto -b adafruit_feather_stm32f405 samples/basic/blinky
2. west flash
3. see error
[code]

I reported this to http://sourceforge.net/p/dfu-util/tickets/
#129 Invalid DFU suffix signature, Zephyr, adafruit_feather_stm32f405
Response:

"This is an issue with the firmware file. You should ask the provider of the firmware file to include a DFU suffix. It helps to

[2021-11-28 16:27] Sir-Branch commented on #39822
To save anyone time that comes across this, appears to be a symptom of what I explained in #39808

[2021-11-28 16:28] Sir-Branch commented on #39814
To save anyone time that comes across this, appears to be a symptom of what I explained in #39808

[2021-11-28 19:36] mbolivar-nordic commented on #30708
Fixed in https://github.com/zephyrproject-rtos/zephyr/pull/39168

[2021-11-28 19:36] #30708 closed

[2021-11-28 20:12] remy-luisant commented on #6082
@frantony

I will gladly make the changes you requested.

The X1000E also has a bootrom, reads strapping pins and boots in different modes from there. I designed the PCB to be able to change them via a jumper. I will be using the USB recovery mode and the SPI mode. I fully intend to publish everything I have, once I have it. I am mainly looking for work and trying to make this into a product is a

[2021-11-28 20:58] mrr00b00t opened #40715 "Should it be I2C_MSG_READ, shouldn't? I didn't understand"
The line on this code contains the flag I2C_MSG_WRITE, but in my mind it should be I2C_MSG_READ, right?

https://github.com/zephyrproject-rtos/zephyr/blob/a1c49be42e371a865865d52d0ea5ef83b2a3a9db/samples/drivers/i2c_fujitsu_fram/src/main.c#L61

[2021-11-28 22:14] frantony commented on #6082
@remy-luisant

Please try to apply your GP optimization commits on top of my recent branch (2964f64) and run logger test with XIP enabled.

[2021-11-28 22:54] remy-luisant commented on #6082
@frantony

I am afraid to report that it didn't work.

The failures are caused by the issues relating to the linker script. The logger constants are small enough to qualify for inclusion in the small data space, which is in the RAM (and in the ROM as well, before being copied to RAM). The compiler will place them there by default. However, the section assignment is overriden from C to place them i

[2021-11-29 01:00] remy-luisant commented on #6082
@frantony

All right, I managed to get a degree of XIP execution with the proper qemu setup and with your latest branch. I am testing on big endian for now, since the other endianness currently fails. I presume that one will be fixable by adjusting the process of the binary creation. I will deal with that one later.

The current problem is that a syscall happens and it vectors to 0x80000180, the s

[2021-11-29 01:00] jonathan-wdtl commented on #38632
1. also affects bg9x driver.

2. There is a mechanism to unblock. offload_close calls modem_socket_put -> k_sem_reset.
"Any outstanding semaphore takes will be aborted with -EAGAIN." This unblocks modem_socket_wait_data. I don't ublox hardware, not sure if what driver does after this is valid.

[2021-11-29 08:16] lairdjm opened #40717 "twister: failure in parsing code coverage file"
**Describe the bug**
Whilst attempting to run code coverage on a subset of kernel tests for the nRF5340, an error was thrown in the twister python code when processing the coverage files. Support for coverage for nRF5340 was added, a twister board file was generated with the following contents:
[code]
And the test was ran:
[code]
Which gave the included error at the end.

**Expected behavior**
Twi

[2021-11-29 08:19] DariusBabrauskas commented on #40715
Yes of course. Read I2c protocol, please.
B.R.

[2021-11-29 08:44] lairdjm commented on #40717
The code coverage file has ` a1 01 02 00 00 00 00 00 00 00 00 00 00 00No Mem available to continue dump` on the final line so this seems to be the cause

[2021-11-29 08:49] schneider42 commented on #36571
Related PR: https://github.com/zephyrproject-rtos/zephyr/pull/40193

[2021-11-29 10:07] nordic-krch opened #40721 "tests/lib/cbprintf_package fails on native_posix (CXX case)"
**Describe the bug**
Test fails for native_posix target. Investigation lead to the conclusion that when CXX is used and `z_cbprintf_wcpy` (simple word by word static inline function) is called from `z_cbprintf_cxx_store_arg` context it fails to copy data. It is a part of code that is resolved at compile time since all inputs have fixed values. When `CONFIG_NO_OPTIMIZATIONS=y` then test is passing.

[2021-11-29 10:13] FRASTM commented on #40657
It seems to be the key for this usecase
[code]

Now we could think of extending the TIMER_MAX_CH  at least for the F3 serie, considering that "  CH5 and CH6 channels are not available for all F3 devices"

[2021-11-29 10:45] enjiamai opened #40724 "tests: logging: logging test cases failed in multiple boards"
**Describe the bug**
Logging test cases: log_core_additional failure in multiple board,
The failed start from the commit a50e13ceedfeedf6e42128ddc706116086109b41  testsuite: ztest: Add logs flushing after each test case

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
qemu_arc_hs
qemu_arc_em
qemu_cortex_a53

[2021-11-29 10:57] holgerschurig commented on #40640
I already used usbip. My device implements some JSON protocol on top of CDC_ACM, and I was able to get it running with usbip --- when I did only use one CDC_ACM device.

Now I tried two of them, and I only get a bit of data from my device, then it stops. So I though I can debug this faster with usbip. It's not super fast, but okayish.

BTW, I used this start script:

[code]

[2021-11-29 12:18] sadapenore opened #40726 "Timer as counter"
This is continuation with earlier ticket supporting timer on STM32.
https://github.com/zephyrproject-rtos/zephyr/issues/40247

I am refering the test_counter.c file.
static const char * const devices[] = {
.
.

#ifdef CONFIG_COUNTER_TIMER_STM32
#define STM32_COUNTER_LABEL(idx) \
	DT_LABEL(DT_INST(idx, st_stm32_counter)),
#define DT_DRV_COMPAT st_stm32_counter
	DT_INST_FOREACH_STATUS_OKAY(STM32_COU

[2021-11-29 13:16] erwango commented on #40726
It would be good that you look at https://docs.zephyrproject.org/latest/guides/dts/api-usage.html#node-identifiers
`st_stm32_counter` is `st,stm32-counter` used through DT API.

[2021-11-29 13:17] erwango commented on #40726
I'm closing this issue. Please reach out to us in discord or gh discussion if you have other questions.

[2021-11-29 13:17] #40726 closed

[2021-11-29 13:22] brgl opened #40729 "Upgrade LVGL to v8"
Current stable lvgl release is v8.1.0, but zephyr still only supports v7. These two versions are not source compatible, in fact v8 introduces *a lot* of breaking changes but also improves the library significantly. We're interested in making zephyr support v8 and want to put in the needed time.

Zephyr's lvgl support is split into two parts: the lvgl module (in its separate repo) and glue code in

[2021-11-29 13:30] erwango commented on #34649
@shuiyihang ^^

[2021-11-29 13:49] belolap opened #40730 "More power supply modes on STM32H7XX"
**Is your feature request related to a problem? Please describe.**

STM32H7XX MCUs in different packages supports different power supply modes, but now supports only 2:

- [X] LDO supply
- [X] Direct SMPS supply
- [ ] SMPS supplies LDO (no external supply), _(my case)_
- [ ] External SMPS supply, supplies LDO
- [ ] External SMPS supply and bypass
- [ ] Bypass

This described in [Reference Manual](

[2021-11-29 14:27] jakkra commented on #40317
Ah I see, missed that, maybe could be moved from [direction_finding_connectionless_rx/boards/nrf52833dk_nrf52833.conf](https://github.com/zephyrproject-rtos/zephyr/blob/fad78a2c078cb753c0d9ddc84b9abb0abee7581f/samples/bluetooth/direction_finding_connectionless_rx/boards/nrf52833dk_nrf52833.conf#L14) to the prj.conf to avoid confusion like this.

Anyway, how many DKs have you got? I think I can rep

[2021-11-29 14:36] tejlmand commented on #40538
@nobodyguy thanks for the thorough description here and on devzone.

I would like to point out there is one more option, and that is to set [`CONFIG_CLOCK_CONTROL_NRF_CALIBRATION_MAX_SKIP=0`](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_CLOCK_CONTROL_NRF_CALIBRATION_MAX_SKIP.html)

that will perform periodic calibration but not forcing `CONFIG_TEMP_NRF5`.

That means you can have

[2021-11-29 15:30] #40464 closed

[2021-11-29 15:34] #40724 closed

[2021-11-29 15:35] #40367 closed

[2021-11-29 15:43] ppryga commented on #40317
@jakkra

The controller configuration is deliberately stored in `boards/*.conf` because for nRF53 it will be part of child image flashed to NET core. In such case it will cause problem with build and flash of the application that goes for APP core.

I'd be thankful if check the lower number of DKs required. I have 4nRF52 but got two nRF53 so can try to use them also.

[2021-11-29 15:50] gmarull commented on #40729
Duplicate of #38305

[2021-11-29 15:51] #40729 closed

[2021-11-29 16:15] peter-mitsis commented on #40438
I did a search for ALWAYS_INLINE, and have found that in addition to z_priq_dumb_add() the following routines had declarations in sched_priq.h, but were only used in one file.
   - z_priq_mq_add()
   - z_priq_mq_remove()

As such, those two routines are also candidates for the same correction.

However, there is an additional routine about which I am not certain if it falls under the scope of this

[2021-11-29 16:27] nordic-krch commented on #39978
We have seen failing test with zephyr toolchain: https://github.com/zephyrproject-rtos/zephyr/pull/40733#issuecomment-981716142

From my investigation it seems that the reason is that `__rodata_region_start` label is not pointing to the start of rodata section. `cbprintf` is using `__rodata_region_start` and `__rodata_region_end` to detect if variable is read only. When this detection fails test f

[2021-11-29 16:45] enjiamai opened #40740 "tests: logging: test case log_msg2.logging.log_msg2_64b_timestamp failed on qemu_cortex_a9"
**Describe the bug**
The logging test:  tests/subsys/logging/log_msg2/logging.log_msg2_64b_timestamp failed after this commit:
99b7e9d8603f42f5ed8a8691711ba77416a3238b  boards: arm: qemu_cortex_a9: change board's timing parameters

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
   qemu_cortex_a9
 - What ha

[2021-11-29 17:08] jakkra commented on #40317
@ppryga tried with 4 tags, got it once, tried with 6, got it a bit more often. So I'd say try to get 6 tags, it's easier the more tags you have defenately, with 10 it's quite easy to get the asserts. As issue seems to happen after `Enable receiving of CTE...` I think the key is to loose sync with devices and re-sync again as this happens quite a bit when you run with 10 tags. So try resetting the

[2021-11-29 17:13] brgl commented on #38305
I would like to take this over and work on upgrading lvgl to v8 in zephyr. If possible, I would like to discuss the approach during the dev-review.

[2021-11-29 17:15] carlocaione commented on #38305
assigned this to @brgl and marked ready to be discussed during the next `dev-review`

[2021-11-29 17:28] nobodyguy commented on #40538
@tejlmand
That's great, thank you very much :rocket:

[2021-11-29 18:01] danieldegrasse opened #40744 "RT600 LittleFS Sample produces build warning in default configuration"
**Describe the bug**
The changes introduced by #40270 introduce a build warning when the Flexspi driver is compiled with logging enabled, to prevent RWW hazards being introduced. The RT600 SOC Kconfig does not have the required defaults to disable Flexspi driver logging by default.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt685_evk_cm33
3. ma

[2021-11-29 21:00] peter-mitsis commented on #40376
I started debugging this. I can replicate using (after installing renode) ...

    west build -p -b hifive1 tests/kernel/workq/work -t run

What I have observed thus far is ...

1. When the assertion at line 466 fails, k_work_busy_get() is returning 0. This is suggesting that the work has finished, and is not "running".
2. Further debugging is showing that delay_handler() is unexpectedly reaching

[2021-11-29 23:18] #40658 closed

[2021-11-29 23:19] #35486 closed

[2021-11-29 23:26] #40663 closed

[2021-11-30 00:29] #38485 closed

[2021-11-30 08:33] MarekPieta opened #40758 "Bluetooth: host: CCC values are not immediately stored on GATT Server by default (risk of inconsistency)"
**Describe the bug**
CCC values are not immediately stored on GATT Server. That could lead to inconsistency of CCC values for GATT Client and GATT Server. The inconsistency could lead to e.g. GATT Client waiting for some notifications/indications and never receiving them.

**To Reproduce**
Use a sample that has a GATT Server, supports bonding and Bluetooth settings.

**Expected behavior**
CCC valu

[2021-11-30 08:40] nordic-krch commented on #40740
It's related (or deplicate) to #39978

[2021-11-30 08:43] MarekPieta opened #40759 "Bluetooth: host: Improper restore of CCC values and handling Service Change indication when bonded peer reconnects"
**Describe the bug**
Service Changed indication and CCC update on GATT server should be called after BLE security is reestablished (so that we know that we reconnected with peer that was previously bonded). Currently it's called right after the connection is reestablished which is not proper behavior.

**Expected behavior**
CCC update and Service changed indication should be delayed until the conn

[2021-11-30 09:08] lenghonglin commented on #36601
need support too !

[2021-11-30 09:44] enjiamai commented on #40740
@nordic-krch got it, close it, thanks!

[2021-11-30 09:44] #40740 closed

[2021-11-30 09:50] MarekPieta opened #40761 "Bluetooth: host: Wait for the response callback before clearing Service Changed data"
**Describe the bug**
We should wait for Service Changed indication confirmation before we clear data marking that indication should be sent to a given client. In worst scenario it's better to send the indication twice than not to send it at all (inconsistency of GATT information cached by client and GATT services provided by server could lead to strange issues).

**Expected behavior**
GATT Server

[2021-11-30 09:59] carlescufi commented on #40538
@nobodyguy is this resolved now? can we close the issue?

[2021-11-30 10:11] sumit404-work opened #40763 "gpio_stm32_port_get_raw() reads only Input Port (Input Data Reg), it should also read Output Port (Output Data Reg)"
**Is your enhancement proposal related to a problem? Please describe.**
The driver function[ gpio_stm32_port_get_raw() at zephyrproject\zephyr\drivers\gpio\gpio_stm32.c](https://github.com/zephyrproject-rtos/zephyr/blob/8d40928b2a1a1fa4c445f4b18dbd7252a7048a93/drivers/gpio/gpio_stm32.c#L369)
[code]

 at zephyrproject\zephyr\drivers\gpio\gpio_stm32.c reads only

**Describe the solution you'd like**

[2021-11-30 10:37] erwango commented on #40763
@sumit404-work It seems that what you are requesting is a new function to GPIO API, is that correct ?

[2021-11-30 10:39] sumit404-work commented on #40763
Yes

[2021-11-30 10:41] carlescufi commented on #37193
@aunsbjerg could you please take a look at this issue?

[2021-11-30 10:44] #39546 closed

[2021-11-30 10:46] #39923 closed

[2021-11-30 10:51] erwango commented on #40763
ok, then if you want your request to be considered, please rework is to address the generic GPIO API.

[2021-11-30 10:52] nobodyguy commented on #40538
@carlescufi I think there is still a missing dependency between `CONFIG_TEMP_NRF5` and `CONFIG_MULTITHREADING`

[2021-11-30 10:56] aunsbjerg commented on #37193
@carlescufi I will try, but am a bit pressed for time, so it will be a few days before I can do anything

[2021-11-30 11:23] sumit404-work commented on #40763
Hi @erwango I have updated the name and description to generic GPIO API.

[2021-11-30 12:34] nashif opened #40770 "tests/subsys/cpp/libcxx/cpp.libcxx.newlib fails on m2gl025_miv and qemu_cortex_m0"
**Describe the bug**
Failure in the main branch on both platforms

see https://github.com/zephyrproject-rtos/zephyr/runs/4366439678?check_suite_focus=true

[code]

and

[code]

**To Reproduce**

Run test using west or twister.

**Expected behavior**

All tests pass

**Impact**

Tests are broken in main branch, which results in false negatives in CI for all submitted PRs

**Logs and console output*

[2021-11-30 13:29] stephanosio commented on #40770
NOTE: This issue is also observed on `hifive1` using both QEMU and Renode.

[2021-11-30 13:45] alwa-nordic commented on #40758
I agree that immediate write should be the default. The spec requires the GATT server to remember the CCC value. A positive write response for a CCC write must mean that the server has committed the value to persistent storage when bonded. The bonded client is allowed to assume this. It is unsafe to not to do so. So I think the application developer should make a non-default choice to enable unsaf

[2021-11-30 14:41] PiKa20 opened #40774 "How to get system time in Zephyr?"
I'm looking for ways to get current system time displayed in Zephyr RTOS from user-space area. I'm using gcc_arm_none_eabi_10_2021_07 tool-chain. Something similar to 'localtime' supported in GCC.

[2021-11-30 15:03] erwango opened #40775 "stm32: mutli-threading broken after #40173"
**Describe the bug**
Following merge of #40173, some multi-threading use cases are not working anymore.
This change aimed at introducing a lock on uart tx in order to avoid conflicts between competitive calls to uart_poll and fifo_fill.
While it fixed the targeted issue, it introduced a regression in multi-thread use cases.

Regression can be observed with the following samples:
 samples/kernel/me

[2021-11-30 15:05] Vicpastaga opened #40776 "HCI_USB with nRF52840 dongle disconnect after 30 s"
Hi,

**Describe the bug**

I try to connect simultaneous 12 BLE devices to a Linux PC with Bluez.
Commercial controllers cannot go beyond 5 connections. I am using an nRF52840 dongle.

I use the hci_usb sample flashed by dfu.

On the PC, the 12 connections are made without problems with bluetoothctl.
Only after about 30s, a device disconnects.
It is not necessarily the same and it is possible to r

[2021-11-30 15:06] darexa opened #40777 "Support for ADC resolution increase"
**Is your enhancement proposal related to a problem? Please describe.**
I need to increase the resolution of the ADC on a STM32L4 MCU. The current resolution is 12-bit and oversampling is possible in the ADC driver but it is not possible to configure the measurement to increase the resolution.

**Describe the solution you'd like**
An option to increase the resolution in the ADC driver.

**Describe

[2021-11-30 15:44] mnkp commented on #40763
The requested functionality is rarely asked for and needed by the real life applications. The application that does require to know the state of the output ports can keep track of the state locally. This takes little resources and is faster than going through the full driver API call.

I believe we should extend GPIO API only if this issue gets more traction / there are more users that need the fe

[2021-11-30 15:51] erwango commented on #40763
Thanks for the feedback @mnkp. I propose to let the PR open for a time and see if more people concur.

Also, I would like to add that if the change is not made in the gpio API, it can't be implemented in drivers, but applications still have the possibility to directly access GPIO resources and get the expected output ports states (for instance in STM32, using LL API)

[2021-11-30 16:10] cfriedt commented on #40715
Looks OK as-is. Often i2c devices need a write before a read.

[2021-11-30 16:10] #40715 closed

[2021-11-30 16:17] stephanosio commented on #40439
https://github.com/zephyrproject-rtos/zephyr/blob/21d1ad3762302b3e461953df59430c77e0709274/include/app_memory/app_memdomain.h#L84

[2021-11-30 16:19] cfriedt commented on #40439
@nashif @dcpleung - can you please categorize this issue? Is it a bug?

It sounds as though this is for linker script generation.

[2021-11-30 16:21] d3zd3z commented on #40439
I believe the fix is to just remove the backslash. It would generate a compiler warning, if the appropriate warning were enabled. However, I believe the behavior would be correct.

[2021-11-30 16:22] carlescufi commented on #40462
@poojamg no need for an issue, just need the PR to be merged. Thanks!

[2021-11-30 16:22] #40462 closed

[2021-11-30 16:32] carlescufi commented on #40433
@xudongzheng could you please try with a more modern version of GNU Arm Embedded? Also what board are you using?

[2021-11-30 16:39] cfriedt commented on #40624
@PerMac - would it alleviate the problem if there were a `--timeout` flag for twister that overrides YAML / the default?

[2021-11-30 16:48] jdascenzio commented on #40775
Recently, I made a patch (#40782) which solve, I think, the problem of lock you find.
I wanted to wait a bit before making a pull request to ensure that I don't found some other problems...

[2021-11-30 16:49] cfriedt commented on #40668
This could also be fixed by the user if there were a `--timeout` option for twister that overrides YAML / default.

Covered also in #40624

[2021-11-30 16:52] jfischer-no commented on #40776
I can confirm it, but did not had time to investigate it, it is somehow related to USB device support. zephyr-v2.7.0 does not seem to be affected.

[2021-11-30 16:54] cfriedt commented on #40453
Setting to low as it is really tracking an external bug.

[2021-11-30 17:00] stephanosio commented on #37777
Closing since an answer has been provided.

[2021-11-30 17:00] #37777 closed

[2021-11-30 17:02] FRASTM opened #40783 "samples/subsys/usb/dfu should filter on FLASH driver"
**Describe the bug**
It appears that the `samples/subsys/usb/dfu`  test application has a filter (sample.yaml) on **CONFIG_FLASH_HAS_DRIVER_ENABLED** that seems to be ignored.

When compiling the samples/subsys/usb/dfu on the b_u585i_iot02a target board
The following _Kconfig_ error ocurs:
[code]

**Expected behavior**
Even if the b_u585i_iot02a  has a USB, it has no Flash driver, so the sample ap

[2021-11-30 17:13] cwshu commented on #39922
@atshinbo-etrinity Thank you for verification.

@tgorochowik I'd like to handle this issue, could you assign it to me?

[2021-11-30 17:17] peter-mitsis commented on #40438
Unless otherwise indicated, I'll leave z_unpned_thread_no_timeout() as is.

[2021-11-30 17:32] erwango commented on #40775
I had a try with #40782 on `samples/philosophers`, but unfortunately, this doesn't fix the issue.
I didn't investigate, but I guess this is because the issue reported here doesn't involve IRQ API but only several threads doing poll_out calls.

[2021-11-30 17:43] cvinayak commented on #40776
As it is Remote User Terminated Connection, I suspect a ATT request that was not delivered to the host BT stack or a response from the host BT stack did not reach the remote peer, which then  initiated the disconnect on the 30s ATT transaction timeout.

[2021-11-30 17:44] #39720 closed

[2021-11-30 17:50] teburd opened #40785 "stats: Driver class Stats"
Replicate the functionality added in #39788 for other device classes listed here.

- [ ] SPI
- [ ] I2S
- [ ] DMA
- [ ] UART
- [ ] Sensors

[2021-11-30 17:55] galak commented on #40785
Are we already using the same framework for network device stats?

[2021-11-30 17:55] pkral78 commented on #40433
Without reproducible settings and build output I may only guess what is going on, but try thoes:

1.) run gdb and break on main and examine RTT control block if it contain string `SEGGER RTT` if not then control block may be stripped out or overwritten
2.) use JLink RTT directive to set fixed address and point JLink to that address, you have to update linker script to ensure that RTT block is link

[2021-11-30 18:06] peter-mitsis commented on #40376
Additional observations:
"main" thread priority: -2, work queue processing is at -4.

The .config files between hifive1 (where erroneous behaviour detected) and qemu_riscv32 (test behaves correctly) do not show anything out of the ordinary.

More digging is required, but the behaviour is as if either the k_sleep() in the "main" thread did not wake up after 1 tick, or something occurred to prevent

[2021-11-30 18:07] #39718 closed

[2021-11-30 18:07] erwango commented on #39718
@glin00 please reopen if required.

[2021-11-30 18:11] mbolivar-nordic commented on #40691
There is a typo here. It should be `zephyr,user`. See https://docs.zephyrproject.org/latest/guides/dts/bindings.html#inferred-bindings for examples.

[2021-11-30 18:11] #40691 closed

[2021-11-30 18:29] peter-mitsis commented on #40376
Debug statements indicate that 24 ticks are being announced at once. This would be waking both the workq thread and the main thread. Since the workq thread is at priority -4, it takes precedence and executes first.  Now why are 24 ticks being announced at once?

[2021-11-30 18:45] nordic-krch commented on #40721
@cfriedt I think that someone with native posix compiler knowledge should look at it. The root cause is not in logging.

[2021-11-30 18:46] zephyrbot opened #40788 "[backport v2.7-branch] backport of #40270 failed"
This issue was created automatically because the backport of #40270 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-40270-to-v2.7-branch`.

[2021-11-30 18:52] nordic-krch commented on #40586
Works on my setup. If has been most probably fixed by #40733.

[2021-11-30 18:58] dcpleung commented on #40775
I think it is low-level enough that a generic, API-level solution would not work on all drivers, and might require some drivers some significant gymnastics to work correctly.

Since you have mentioned the NRF driver, one significant difference is that NRF driver does `k_msleep()` if it cannot hold the TX lock. Maybe it's something to be implemented in the STM32 driver?

[2021-11-30 19:16] teburd commented on #40785
@galak networking has its own stats which does not use the stats subsys

[2021-11-30 19:36] #40770 closed

[2021-11-30 19:54] #40744 closed

[2021-11-30 20:17] sjanc commented on #40231
backported in https://github.com/zephyrproject-rtos/zephyr/pull/40684

[2021-11-30 20:17] #40231 closed

[2021-11-30 21:00] rerickson1 commented on #40107
I hooked up a debugger and found out a little.
When the LTE network interface goes down I call the API to stop the LwM2M engine. I have a feeling, it may not be stopping everything its supposed to:
[code]

This is the log output I see after the network comes back and logging freezes along with the UART terminal:
[code]

In Ozone, I can stop the debugger and this is my call stack:
![image](https://

[2021-11-30 21:09] tgorochowik commented on #39922
Sure, thanks!

[2021-11-30 21:21] peter-mitsis commented on #40376
There seems to be something funny about the renode+hifive1 combination.

The main thread (priority -2) sleeps for 1 tick. However, when it sets the mtimecmp, it sets it for 2 ticks. This is expected from the code because there seems to be indications that the minimum delay should be 1000 cycles (which is more than 1 tick).

The workq thread (priority -4) sleeps for 13 ticks. The mtimecmp seems to

[2021-11-30 21:45] henrikbrixandersen commented on #39740
I have added assignees to the various conversions from pinmux to pinctrl drivers. Please confirm, comment, or reassign as needed.

[2021-11-30 23:44] ceolin commented on #40534
If the return of these macros are used only as boolean it makes sense to change the macros. It less intrusive.
I'm afraid though that most violations come from the construction `if (IS_ENABLED(CONFIG_BLA))`, that is a bigger problem, since this is always a constant branch and it triggers other violations too.

[2021-12-01 00:25] fkan-ec opened #40795 "Timer signal thread execution loop break SMP on ARM64"
See code at ([https://github.com/fkan-ec/zephyr.git](https://github.com/fkan-ec/zephyr.git)) pulled from Zephyr latest main, the problem was replicated at multiple release points including v2.7.

The samples/old directory contains main function which spins up multiple threads that takes signals from multiple timer routines. The timer routine regularly signal the threads to  run a simple multiplica

[2021-12-01 00:29] fkan-ec commented on #40795
Changing the qemu a53 smp configuration to 4 cores made the issue much easier to reproduce.

[2021-12-01 01:12] ycsin commented on #40774
`clock_gettime`? But you need to synchronize the time with something

[2021-12-01 01:32] remy-luisant commented on #6082
@frantony

I got further. I made the interim change to the EBase and ST_BEV. All tests pass with XIP on the be qemu target now, using raw binaries. I'm going to clean up and push to a branch shortly. One last issue: I'm guessing to make le work a byte order reversal is needed for the raw binary to work. If you have code that sets up EBase and BEV, I will replace my setup code with yours.

Using th

[2021-12-01 05:01] venkatesh-eq commented on #40795
Just to add to what feng has provided. It isnt exactly a stack overflow. We have enabled stack canary checks that detecting some sort of corruption.

[2021-12-01 08:58] rlubos commented on #40107
Current behaviour is that `lwm2m_rd_client_stop()` does not stop the ongoing download. This might not be the right behaviour though, since we don't have a separate API for that, and the FW download module used by the engine is tightly integrated with it. Feel free to send a patch to fix this.

Anyway, even if not stopped, I don't think the FW download process shall cause any harm, other that some

[2021-12-01 09:21] rlubos commented on #40107
One possible theory for busy-looping inside LwM2M engine loop - it could happen if the socket is in EOF state (which is not right for the datagram socket), in that case `poll()` returns `POLLIN` immediately. This could only take place though if the `hl7800` driver called `recv_cb()` with a NULL packet pointer - could this happen with this driver? Perhaps we should protect against that somewhere in

[2021-12-01 10:00] Vicpastaga commented on #40776
Thank for your replies.

I try with zephyr-v2.7.0 version and it is exactly the same behavior with a disconnection on 12 after 30s.
For hci_usb and hci_uart.

I also tried a multitude of different configuration for prj.conj but without success.

[2021-12-01 10:07] carlescufi commented on #40360
@bwitherspoon any chance you could try to reproduce this from your side?

[2021-12-01 10:55] jfischer-no commented on #40776
Please recheck, zephyr-v2.7.0 works fine.

git bisect shows 02c32d44746be8c2f45bcea375dfe37693ee5ae3 as cause. Host periodically requests Set Feature DEVICE_REMOTE_WAKEUP, suspends, resumes, requests Clear Feature; corresponding suspend/resume logic in _subsys/usb/class/bluetooth.c_ seems to have a bug.

[2021-12-01 10:59] #40774 closed

[2021-12-01 12:32] PerMac commented on #40624
@cfriedt The tests pass, it is not an issue with a too short timeout. The issue is that all of them take suspiciously long (equal to timeout value) to finish. I think there is some simple logic issue in the code (missing exit condition?), and twister doesn't end the test on time but waits for the maximal allowed time (timeout). But I haven't got time to check the code ye.

[2021-12-01 13:03] tejlmand opened #40808 "Invalid CMake warning related to rimage"
**Describe the bug**

With PR #40431 re-running CMake wrongly believe the rimage target is changing.

This results in CMake printing a warning, even though the user did not change any configuration.

[code]

A CMake re-run can occur because of a lot of different reasons not related to rimage.

Two examples:
- Running menuconfig and saving changes to `.config`
- Editing existing `CMakeLists.txt` /

[2021-12-01 13:19] tejlmand commented on #40538
Fixed here: https://github.com/zephyrproject-rtos/zephyr/pull/40809

[2021-12-01 13:44] nobodyguy commented on #40538
Nice, thank you very much!

[2021-12-01 14:33] Vicpastaga commented on #40776
I recheck, I got the same behaviour again with v2.7.0 even with a different Linux PC.
One in 12 devices is disconnected 30 s after the first connection with the reason : Remote User Terminated Connection (0x13).
This device is connected a few seconds later and then there is no disconnection ever again.

[2021-12-01 14:34] tejlmand commented on #36558
This is fixed.

[2021-12-01 14:34] #36558 closed

[2021-12-01 14:52] erwango commented on #39179
I'm hitting this issue once again, and adding a new board to the bench becomes a nightmare.
Besides, for some reason adding a board manually doesn't work either as the same error happens at the next --generate-hardware-map run.

@nashif Would it be possible for you to have a look ?

[2021-12-01 15:10] #40538 closed

[2021-12-01 15:21] FluffyBunniesTasteTheBest opened #40812 "Please mention the value of compile time constants (#defines) at the API docs."
**Is your enhancement proposal related to a problem? Please describe.**
When reading a device tree, you'll often see magic numbers that represent flags. For example:
[code]
**0x11** represent the flags. Figuring out what 0x11 actually means is getting a little challenging:
[The docs state](https://docs.zephyrproject.org/2.6.0/samples/basic/button/README.html#devicetree-details) _"FLAGS should be a

[2021-12-01 15:47] erwango commented on #39179
So, I've managed to work around the issue with the following steps:
-Generate a new file map2.yml (this file is empty, device information are missing)
-Fill device information
-Rename map2.yml to the existing map.yml file

[2021-12-01 15:48] Vicpastaga commented on #40776
You are right, that's work with v2.7.0.
My problem is due to an overflow on BLE stack.
When I wait a successful connection before launching another, I no longer have a disconnection.
Thank you for your time and contribution.

[2021-12-01 16:52] MaureenHelm commented on #40374
Reassigned to @enjiamai as Intel Platforms (X86) maintainer

[2021-12-01 16:55] mbolivar-nordic commented on #38569
Now resolved

[2021-12-01 16:55] #38569 closed

[2021-12-01 17:06] mbolivar-nordic commented on #38725
Process WG:

- no news, @nashif still expects this to be done by EOY

[2021-12-01 17:27] #40483 closed

[2021-12-01 17:52] yonsch opened #40817 "Create a HAL repository for Raspberry Pi Pico"
## Origin

The HAL for the Raspberry Pi Pico is provided by the `raspberrypi/pico-sdk` repostitory: https://github.com/raspberrypi/pico-sdk .
Only the `src` directory is needed, and does not need any modification.

## Purpose

Second stage bootloader (XIP setup), register definitions and peripheral drivers.

## Mode of integration

The module should be integrated as an external HAL module.

The pr

[2021-12-01 18:40] richesonk commented on #40453
Further investigation has revealed that the issue was related to the QSPI NOR config. The nRF QSP NOR driver does not enable 32-bit (4 byte) addressing mode. Modifying the driver to enable the larger addressing mode seems to resolve the issue. Closing this issue and working via the Nordic DevZone (https://devzone.nordicsemi.com/f/nordic-q-a/81986/littlefs-on-large-qspi-nor) to request a change to

[2021-12-01 18:41] #40453 closed

[2021-12-01 18:43] carlescufi commented on #40453
@nvlsianpu and @anangl FYI

[2021-12-01 18:50] richesonk commented on #40453
@nvlsianpu and @anangl I included this in the DevZone ticket also, but here is my start at updating/modifying the driver if you're intereste
[nrf_qspi_nor.zip](https://github.com/zephyrproject-rtos/zephyr/files/7636479/nrf_qspi_nor.zip)
d.

[2021-12-01 19:49] #40621 closed

[2021-12-01 23:42] efra-mx-aqua opened #40820 "coap: blockwise: context current does not match total size after transfer is completed"
**Describe the bug**

After downloading a filed using coap block transfer, I noticed that after receiving the last block `ctx->current` does not match ctx->total size.

Example:

File size: 300
Block size: 256

1. Request block 0.
    block current = 0.
2. Receive block 0, 256 bytes
    block-> current = 256
3. Request block 1.
    block current = 256.
4. Receive block 0, receive 44
    block-> cu

[2021-12-01 23:51] brycewilkins opened #40823 "Add optional delays to mcux FlexCOMM SPI driver"
This enhancement request is related to missing support for controlling programmable delays related to SPI signaling, most notably the delay between SPI chip select (CS) assertion and the beginning of data transfer.  More specifically, SPI peripheral delay register can define `PRE_DELAY`, `POST_DELAY`, `FRAME_DELAY` and `TRANSFER_DELAY` fields.

For example:
![image](https://user-images.githubuserc

[2021-12-02 00:32] KevTango opened #40825 "STM32WB55RGV6: No output after west flash"
**Describe the bug**
After executing `west flash` to a custom board with an STM32WB55RGV6 microcontroller, I can not observe any output.
I have successfully flashed the P-NUCLEO-WB55 which contains the same SoC as the custom board and can observe an output.

**To Reproduce**
Steps to reproduce the behaviour:
1. Connect SWDIO, SWCLK, T_VDD, GND from the P-NUCLEO-WB55 board to the custom board
2. `w

[2021-12-02 02:38] kclauah opened #40827 "Tensorflow example not working in zephyr v2.6"
**Preface**
I have created a ticket on Nordic devzone and their engineer suggest me to create an issue here.
https://devzone.nordicsemi.com/f/nordic-q-a/82273/tensorflow-example-not-working-on-nrf-connect-sdk

**Describe the bug**
Building any tensorflow lite example using VS Code would show an error in prj.conf :
`CONFIG_TENSORFLOW_LITE_MICRO was assigned the value y, but got the value n. Missing

[2021-12-02 07:54] erwango commented on #40825
@KevTango Thanks for reaching us, but there is not much we can do, as you mention this is working on upstream board and we have no information or way to test your custom board. Hence, I'm closing the point.

[2021-12-02 07:54] #40825 closed

[2021-12-02 08:20] kurddt opened #40833 "driver: i2c: TCA9546a: Have compilation fails when driver init priority missmatch"
**Is your enhancement proposal related to a problem? Please describe.**
The driver requires that `I2C_TCA954X_CHANNEL_ROOT_PRIO` < `I2C_TCA954X_CHANNEL_INIT_PRIO`. If not the initialization of the channel device will fail

**Describe the solution you'd like**
This condition can be easily check at compile time helping the developer to set correct values for the initialization priorities

[2021-12-02 08:21] kurddt commented on #40833
It would make sense to wait that #39589 is merge before doing that

[2021-12-02 08:29] erwango commented on #40775
@dcpleung, ok, right let's fix this at driver level. Then, what about adding a dedicated test under `test/drivers/uart/` ?
It would be useful for non regression purpose as well as providing some light on this issue that is likely to impact all drivers.

[2021-12-02 08:34] DariusBabrauskas commented on #40775
It seems to me, that  k_msleep() maybe can't work in interrupt context or it danger.  NRF driver used  !k_is_in_isr()  and in interrupt context doing force lock-unlock, but it is not good idea. Better remember last state.
How about nested interrupts?

[2021-12-02 08:38] erwango commented on #40775
@DariusBabrauskas, can you check #40782, where @jdascenzio seems to solve the issue in an alternate way ?

[2021-12-02 09:19] gmarull commented on #40812
Sounds like an issue, `0x11` should be replaced with proper flag definitions. Can you raise an issue with a list of affected boards?

[2021-12-02 09:26] gmarull commented on #40817
Suggestion: since pico-sdk seems to be developed on Github, you can just create a fork of the repo, add a `zephyr/module.yml` with:
[code]

and then place all CMake/Kconfig/glue code in Zephyr. This method should make pico-sdk upgrades much easier (no manual tweaking). You can find an example of this approach in https://github.com/zephyrproject-rtos/zephyr/tree/main/modules/hal_gigadevice, https:/

[2021-12-02 09:50] #32037 closed

[2021-12-02 10:21] ycsin commented on #34707
The SPI flash erase/write with SPI_ASYNC APIs sometimes fails silently, this seems like something that can discover the failure as it happens.

[2021-12-02 10:27] carlescufi commented on #39978
@stephanosio this is reproduceable with the Zephyr SDK as well? If so please update the description of the issue to reflect this.

[2021-12-02 10:33] nordic-krch opened #40838 "Nordic UART driver (UARTE) fail to transfer buffers from read only memory"
**Describe the bug**
when `uart_tx` is called with buffer pointing outside of RAM it will return error. It is a hardware feature that EasyDMA can only transfer from RAM address but it should be handled by the driver with internal cache buffer.

**Impact**
When #40757 got merged asynchronous API can be used for logging. When logs are dropped, fixed message is sent and this message is not in RAM whi

[2021-12-02 11:06] carlescufi commented on #38041
Could this be related to #39978 ?

[2021-12-02 11:36] enjiamai commented on #40374
Hi @MaureenHelm it is due to the target irq vector is hardcoding in this test cases, try to refine it by making some changes in the test cases.

[2021-12-02 11:49] zephyrbot opened #40844 "[backport v2.7-branch] backport of #40637 failed"
This issue was created automatically because the backport of #40637 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-40637-to-v2.7-branch`.

[2021-12-02 12:17] npant333 opened #40846 "Unable to flash using zephyr on Ubuntu"
I followed the complete development process for particle Xenon.

When I give flash command (with my Xenon connected to USB port), I get the following error

Waiting for a debug probe to be connected...

and it hangs here.

Any help to fix this issue?

Thanks a lot.

[2021-12-02 12:22] stephanosio commented on #38041
Likely something similar to https://github.com/zephyrproject-rtos/zephyr/issues/39978#issuecomment-981799238.

[2021-12-02 12:29] fkokosinski commented on #40376
@peter-mitsis It seems that this issue is not related to Renode. I've tried running this test on HiFive1 board and it also fails.

[2021-12-02 13:03] escherstair commented on #40130
@avisconti not in the next few days, but I try to do my best.
I agree that DMA is the solution

[2021-12-02 13:09] tbursztyka commented on #38683
@FRASTM could you update the stm32 driver to take into account the newly introduced flag ?

I need to ping all SPI drivers maintainers to do the same actually.

[2021-12-02 13:31] carlescufi commented on #40817
Thanks for this request. I will request this to be added in the agenda of the next TSC meeting.

[2021-12-02 14:57] DariusBabrauskas commented on #40775
@erwango I reviewed only code.  It looks fine in poll function.  But I not familiar with CONFIG_PM part.

Is was  test  "samples/philosophers" good before  merge of #40173 ?

I use zephyr 2.5, I tested similar variant. But  @jdascenzio have good idea to use double  check if(LL_USART_IsActiveFlag_TXE(UartInstance)) to avoid cpu lock/unlock storm.

[code]

[2021-12-02 15:03] de-nordic opened #40850 "Add Zephyr logging support to mgmt/mcumgr/lib"
**Is your enhancement proposal related to a problem? Please describe.**
The mcumgr library is missing logging that now, when it has become part of Zephyr, should be easy to add.

**Describe the solution you'd like**
Add Zephyr logging into mgmt/mcumgr/lib

**Describe alternatives you've considered**
There is no alternative to having logging.

**Additional context**
mcumgr library path https://gith

[2021-12-02 15:12] de-nordic opened #40854 "mgmt/mcumgr/lib: Extend taskstat response with "runtime" statistics"
**Is your enhancement proposal related to a problem? Please describe.**
The taskstat os mgmt command response carries "runtime" field which is supposed to carry "ticks" used by thread so far.
It is possible to gather the information from Zephyr, although some additional work may be required on kernel side, so this information should also be given in response.

**Describe the solution you'd like**

[2021-12-02 15:23] de-nordic opened #40855 "mgmt/mcumgr/lib: Add optional image/slot parameter to "image erase" mcumgr request command"
**Is your feature request related to a problem? Please describe.**
Currently the mcumgr library is hardcoded to always erase secondary slot of first image. With added support for multiple images, there are now possible more than one candidate for that erase command.

**Describe the solution you'd like**
Add optional image/slot parameter that would allow to select which slot should be erased. When

[2021-12-02 15:37] marinbudimir opened #40856 "PPP: gsm_modem: LCP never gets past REQUEST_SENT phase"
**Describe the bug**

I am trying sample [gsm_modem](https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/net/gsm_modem). Board is communicating with modem over UART. `gsm_ppp` puts modem correctly into PPP mode and they start PPP communication but LCP fails. It is sending Configure-Req messages, timeouts and in the end link is terminated.

- I am using modem Quectel BG95.
- My modem is

[2021-12-02 16:02] peter-mitsis commented on #40376
@fkokosinski. Thanks for testing on the actual hardware. That helps eliminate a possible failure scenario.

[2021-12-02 16:15] erwango commented on #40775
@DariusBabrauskas, thanks. Would you mind to formerly review #40782 ?

[2021-12-02 16:16] galak commented on #38305
Dev-review: (Dec 2, 2021):
* General feeling is its fine to upgrade to v8 and drop v7.
* Need discussion in API meeting to discuss how we handle API changes with regards to 3rd party libs (do we use same process as we do for breaking Zephyr API changes)
* suggestion that an email to zephyr-devel & zephyr-user that there is plan to move to v8 to allow anyone to comment if they have major issues wit

[2021-12-02 16:21] peter-mitsis commented on #40376
Below is the sequence of events that I am seeing.

1. Begin test_1cpu_running_flush(), cycle count = 0x303a
2. Delay current thread (z_test_thread) for 1 tick. mtime comparator set to 0x3202
3. coophi_queue.thread executes, cycle count is still 0x303a
4. The delay_handler() executes and calls k_sleep() for a duration of 13 ticks.
5. Switch to z_main_thread for some as yet unknown reason
6. Switch

[2021-12-02 17:32] #39392 closed

[2021-12-02 20:03] dcpleung commented on #40439
Not sure if this is actually a bug... the Zephyr toolchains never complain about this, and it is working for generating the necessary assembly code.

[2021-12-02 20:45] RobertoBagnara commented on #40439
Well, see, e.g., C18 6.4.4.4 (Character constants) and, in particular, footnote 179 where it says "If any other character follows a backslash, the result is not a token and a diagnostic is required."
The support for \% as a valid escape sequence could be offered as an extension by all Zephyr toolchain but, unless I am missing something, they are all GCC-based, and GCC does not officially offer suc

[2021-12-02 21:02] dcpleung commented on #40439
I actually have submitted a PR to remove the slash.

Just out of curiosity, what does C99 say about this? I was only able to search for the C17 draft which doesn't have footnote 179. And the C99 draft doesn't have similar footnote.

[2021-12-02 21:03] RobertoBagnara opened #40866 "Undefined behavior in lib/os/cbprintf_packaged.c: subtraction involving definitely null pointer"
Subtracting buf0, which is null in line 507 of lib/os/cbprintf_packaged.c, is undefined behavior:
	/*
	 * If all we wanted was to count required buffer size
	 * then we have it now.
	 */
	if (!buf0) {
		return len + buf - buf0;  // Undefined behavior in pointer subtraction.
	}

[2021-12-02 21:15] RobertoBagnara commented on #40439
C99 TC3 says the same thing, as far as I can see. The clause has the same number  6.4.4.4 (Character constants), the footnote text seems the same, but the footnote number if 65.  You can download the last draft before ISO blessing here: http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1256.pdf

[2021-12-02 23:08] DariusBabrauskas commented on #40775
If I understood ok.
 I reviewed   #40782 . It looks fine in poll function. But I not familiar with CONFIG_PM part.
It must work  like before pull   https://github.com/zephyrproject-rtos/zephyr/pull/40173    without dead lock and without lost tx bytes.

[2021-12-03 00:28] #38649 closed

[2021-12-03 00:28] #37241 closed

[2021-12-03 03:00] ck-telecom opened #40868 "Add a pre and post initialization among CONFIG_APPLICATION_INIT_PRIORITY"
**Is your enhancement proposal related to a problem? Please describe.**
when application module initialized, some modules depend on the CONFIG_APPLICATION_INIT_PRIORITY finished(eg add custom lvgl input, when using CONFIG_APPLICATION_INIT_PRIORITY, can not make sure the initial sequence is correct and result failure)

**Describe the solution you'd like**
add a post application and pre applicaion P

[2021-12-03 04:48] hakehuang commented on #33747
@ainguraXmarquiegui , I find some issues in the driver and fixed, and from my end the sync works with a range in compare with standard time clock. would you like to give a try on this fix? Thanks in advance
https://github.com/hakehuang/zephyr/commit/5204bead0bd9b28949b287ce8b6450665fe13024

[2021-12-03 04:55] zephyrbot opened #40869 "[backport v2.7-branch] backport of #40637 failed"
This issue was created automatically because the backport of #40637 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-40637-to-v2.7-branch`.

[2021-12-03 05:14] cvinayak commented on #40202
I do not see a solution in the Controller, as the Controller does report any new advertiser when scanning is active with duplicate filtering. But if the application looks for new advertising reports after sync lost event, it will not get it as all devices discovered before the sync lost event are filtered out.

The correct application behavior shall be to cycle scan enable if new advertising repor

[2021-12-03 05:15] LixinGuoX opened #40870 "tests: syscall: failed to build on fvp_baser_aemv8r_smp"
**Describe the bug**
Failed to build tests/kernel/mem_protect/syscalls on fvp_baser_aemv8r_smp.
It seems like that the `CONFIG_MAX_THREAD_BYTES` by default is too small,
maybe we can define it in test case's `prj.conf` file manually.

**To Reproduce**
Steps to reproduce the behavior:
west build -b fvp_baser_aemv8r_smp tests/kernel/mem_protect/syscalls/

**Expected behavior**
CI should be running s

[2021-12-03 05:17] cvinayak commented on #39438
@jakkra Please verify if this PR resolves stopped advertising reports: https://github.com/zephyrproject-rtos/zephyr/pull/40753

[2021-12-03 07:20] voxpelli commented on #33012
Active interest

[2021-12-03 07:41] ainguraXmarquiegui commented on #33747
@hakehuang Thank you very much for your work. I will gladly test it, but I need time.

I won't have access to the resources I need to conduct the test until December 13. I will let you know the result once I do the test.

[2021-12-03 07:45] erwango commented on #40775
I actually meant review **in** #40782. But now that we've got one more review that's ok.
Reviewing PR is open to everyone, and that's encouraged as this helps maintainers' duty.

[2021-12-03 07:45] LixinGuoX opened #40873 "qemu_cortex_r5: fail to handle user_string_alloc_copy() with null parameter"
**Describe the bug**
When I push this PR #40830 to validate string_alloc_copy() API with null parameter,
CI got blocked.
It works fine on other platforms, and it seems like the implementation of arch_user_string_nlen()
has some problem with processing null parameter.

**To Reproduce**
see #40830

**Expected behavior**
CI should be running smoothly.

**Impact**
Showstopper

**Logs and console outpu

[2021-12-03 07:48] LixinGuoX opened #40874 "mps2_an521_ns: fail to handle user_string_alloc_copy() with null parameter"
**Describe the bug**
When I push this PR #40830 to validate string_alloc_copy() API with null parameter,
CI got blocked. Test stucks at arch_user_string_nlen().
It works fine on other platforms.

**To Reproduce**
see #40830

**Expected behavior**
CI should be running smoothly.

**Impact**
Showstopper

**Logs and console output**
[code]

**Environment (please complete the following information):**

[2021-12-03 08:18] kisvegabor commented on #38305
Glad to hear that the proposal had a warm welcome! :slightly_smiling_face:

Can you link documentation that shows what is the current method of Zephyr for handling breaking changes?

[2021-12-03 08:22] carlocaione commented on #38305
https://docs.zephyrproject.org/latest/reference/api/api_lifecycle.html#introducing-incompatible-changes but @brgl is already taking care of that AFAIK

[2021-12-03 08:26] kisvegabor commented on #38305
Thank you!

[2021-12-03 10:12] carlescufi commented on #33012
The HAL request is here: #40817

[2021-12-03 11:00] anrudolf opened #40881 "Bluetooth: shell: fatal error because ctx_shell is NULL"
# Description
With `CONFIG_BT_SHELL=y`, when an external device connects to Zephyr via Bluetooth, there is a fatal error.

The first "bad" commit is [8e1682d1](https://github.com/zephyrproject-rtos/zephyr/commit/8e1682d1ea5865fd1a38f22546d2eeb7cb026f53).

The underlying problem is that `shell_print(ctx_shell, ...)` is invoked in the Bluetooth shell module in multiple callbacks (`.connected`, `.dis

[2021-12-03 11:51] cvetaevvitaliy commented on #32286
Can you help with testing?
I checked on two displays st7789
240×320 and 240×135
https://www.waveshare.com/product/displays/lcd-oled/lcd-oled-3/2inch-lcd-module.htm
https://www.waveshare.com/product/displays/lcd-oled/lcd-oled-3/1.14inch-lcd-module.htm

What displays can you check?

[2021-12-03 12:20] #40622 closed

[2021-12-03 12:53] #40808 closed

[2021-12-03 13:14] yonsch commented on #40817
@gmarull My additions to the original SDK are `pico-sdk/pico` (files that are expected to be auto generated) and the dts bindings in `include`. As long as these could be added to a forked version, I have no preference to one strategy or another.

[2021-12-03 13:32] carlescufi commented on #40817
Please add the dts bindings in the Zephyr tree, not in the module repo. Then please follow @gmarull's suggestion since I agree that it will simplify things in the future.

[2021-12-03 13:36] Isaia-F opened #40883 "Limitation on logging module"
Compilation fails after a certain number (16 in my case though the size of the individual argument might matter) of arguments

Using SEGGER Embedded Studio - Nordic Edition and nRF Connect SDK

**To Reproduce**
Steps to reproduce the behavior:
1. In SES - Nordic Edition, open the nRF Connect SDK Template sample project for Zigbee
2. Edit `zcl_general_commands.c`  to include the following:
#include

[2021-12-03 13:38] carlescufi commented on #40883
@Isaia-F thanks for reporting. This is the Zephyr Project and not Nordic's support site, so could you please first reproduce this with upstream, vanilla Zephyr and describe the steps here?

[2021-12-03 13:38] sjanc commented on #40520
https://github.com/zephyrproject-rtos/zephyr/pull/40884

[2021-12-03 13:43] carlescufi commented on #16587
Reopening since #39192 only fixed the networking side of things

[2021-12-03 14:22] nordic-krch commented on #40883
@Isaia-F this is the hard limitation in log v1 (up to 15 arguments) but logging v2 does not have this limitation. However, since macro is using compiler switch both version are compiled and using more than 15 arguments ends up in compilation failure.

I have fixed that in #40886 where i used preprocessor switch instead. If you want to use more than 15 arguments you need to swtich to version 2. Thi

[2021-12-03 14:36] Isaia-F commented on #40883
@nordic-krch i have attempted to set CONFIG_LOG2_MODE_DEFERRED via guiconfig but the problem appears to persist

In the .config file i see
\# CONFIG_JWT is not set
CONFIG_LOG=y
\# CONFIG_LOG_MODE_DEFERRED is not set
CONFIG_LOG2_MODE_DEFERRED=y
\# CONFIG_LOG2_MODE_IMMEDIATE is not set
\# CONFIG_LOG_MODE_IMMEDIATE is not set
\# CONFIG_LOG_MODE_MINIMAL is not set
\# CONFIG_LOG_FRONTEND is not set
CON

[2021-12-03 14:36] enjiamai opened #40887 "tests: debug: test case subsys/debug/coredump failed on acrn_ehl_crb"
**Describe the bug**
The subsys/debug/coredump testcase failed on acrn_ehl_crb board. The twister will catch the console output to determine
whether it passes or not. It seems like that the front part of acrn console output would be missing.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 - acrn_ehl_crb

[2021-12-03 15:00] enjiamai opened #40888 "samples: samples/subsys/portability/cmsis_rtos_v1/philosophers falied on ehl crb"
**Describe the bug**
The sample samples/subsys/portability/cmsis_rtos_v1/philosophers falied on ehl_crb and acrn_ehl_crb board.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 - ehl_crb and acrn_ehl_crb board
 - What have you tried to diagnose or workaround this issue?
 - The thread stack size is too smal

[2021-12-03 15:10] enjiamai opened #40889 "samples: samples/kernel/metairq_dispatch failed on acrn_ehl_crb"
**Describe the bug**
The sample samples/kernel/metairq_dispatch runs failed on acrn_ehl_crb

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
   acrn_ehl_crb
 - What have you tried to diagnose or workaround this issue?
    It seems like that local variable ( in function calc_stats( ) ) was optimized incorrec

[2021-12-03 16:17] jakkra commented on #39438
@cvinayak tested it and looks like the I'm not able to reproduce the original issue anymore, however instead get this error now when I just sit and reset the tag randomly:

[code]
![capture_err_39438](https://user-images.githubusercontent.com/4318648/144635310-7bc2558e-62f8-42a2-9573-549f35d013e7.PNG)

Full log
[log_issue39438.txt](https://github.com/zephyrproject-rtos/zephyr/files/7650847/log_iss

[2021-12-03 16:47] de-nordic opened #40893 "mgmt/mcumg/lib: Encode shell command execution result in additional field of response"
**Is your enhancement proposal related to a problem? Please describe.**
Currently a code returned from execution of shell command is encoded as "rc" in response for a request; normally the "rc" field is used to encode error from mcumgr, so it may be sometimes not possible to distinguish between intended non-0 code from shell and mcumgr error.

**Describe the solution you'd like**
"rc" of the mcumg

[2021-12-03 17:05] de-nordic opened #40895 "mgmt/mcumgr/lib: Continue partial application upload"
**Is your feature request related to a problem? Please describe.**
An application image upload context is only kept in RAM, so in case if reset occurs during upload the upload needs to restart with all the costs of erasing flash and so on.

**Describe the solution you'd like**
An upload may exchange with an application control sums of subsequent flash pages to decide where to re-start upload proce

[2021-12-03 17:19] zpm1066 commented on #32286
Hi!
I have several ST7789 displays from Waveshare (240x240 1.3”, 240x320 2.4” and 2”, and 240x135 1.14”) and generic 240x240 1.3” without CS.
I’d be glad to test these out with the ST7789 driver updates. Let me know when the code is ready for testing. Thanks.

[2021-12-03 17:23] de-nordic opened #40897 "west build/west sign should issue warning that built image may not be swappable by mcuboot"
**Is your enhancement proposal related to a problem? Please describe.**
The mcuboot needs some bytes at the end of image slot to store progress of swap and some flags, which is not reserved during build; this means that when image grows beyond certain point the mcuboot will no longer be able to swap images, making DFU updates not possible.

**Describe the solution you'd like**
When BOOTLOADER_MCUB

[2021-12-03 17:26] cvetaevvitaliy commented on #32286
@zpm1066 Thanks for reply
I made a request, please see #40845
You can pull this branch and test this feature

[2021-12-03 18:46] npitre commented on #40866
Fix in #40899.

[2021-12-03 19:59] brgl opened #40901 "RFC: API Change: update LVGL from v7 to v8"
1. **Problem Description:**

Zephyr currently only supports LVGL v7. We'd like to upgrade it to v8 and drop v7 support as discussed during the dev-review meeting. Version 8 of LVGL brings in a lot of improvements over v7. v7 has not seen any releases since March 2021 while v8 is actively maintained.

2. **Proposed Change (detailed):**

We propose to upgrade the lvgl module to the latest v8 release

[2021-12-03 21:25] npitre opened #40903 "documentation generation fails on function typedefs"
**Describe the bug**

The source code parsing tool is having issues with function typedefs.
And here I insist on "function" typedefs as opposed to "function pointer"
typedefs. Something like:

[code]

The result is:

[code]

As can be seen above, parenthesis are moved to the bool keyword as if that was
a function which is not what the original code does at all.

Moving the typedef to a function po

[2021-12-03 22:42] #40823 closed

[2021-12-04 00:29] #35760 closed

[2021-12-04 01:11] cvinayak commented on #39438
Thank you. I appreciate your quick response and testing.

Scan running...
PER_ADV_SYNC[0]: [DEVICE]: 07:1B:4D:E7:84:A2 (random) sync terminated
Scan running...
failed (err -11)
...

This concerns me, the spurious `sync terminated` may be a cause of `sync` context leak.
The PR #40753 addresses `aux` context leak.

I will continue investigation... thank you for your support.

[2021-12-04 08:54] Laczen commented on #40895
@de-nordic, it would be good if such a feature is added. The stream flash api has support for something like that. Wouldn't this feature require a complete mcumgr rework where the device request for blocks ?

[2021-12-04 09:06] Laczen commented on #40895
@de-nordic, BTW you are an example of what maintainers should be doing.

[2021-12-04 11:19] #40883 closed

[2021-12-04 13:03] frantony commented on #6082
@remy-luisant

Please see this recipe: https://github.com/saschahauer/barebox/commit/8ce2aba5c51e27da3dcb80825682b3aba3c3b627#diff-45f753be547ee19b1eb7c12bd03bb1c3fddd844ac8f66b91e0f6a2b4e4018a11R18

[2021-12-04 13:25] QFT-IoT opened #40910 "Unable to connect Leshan LwM2M server using IPv6"
Hello Team,

We are trying to connect Leshan LwM2M server using IPv6 IP address client but IPv6 dns look up doesn't give any IPv6 address. So wondering does Leshan LwM2M server supports for IPv6 connection with client?

[2021-12-04 14:34] xudongzheng commented on #40433
I've created a repository to reproduce this bug: https://github.com/xudongzheng/zephyr-rtt-bug. The binary can be built with command `west build -b nrf52840dongle_nrf52840`.

I've reproduced this issue with a different gcc version on macOS `arm-none-eabi-gcc (GNU Arm Embedded Toolchain 10.3-2021.10) 10.3.1 20210824 (release)`.

[2021-12-04 20:54] remy-luisant commented on #6082
@frantony

Thank you for the recipe. I actually have the swap part figured out, the problem is is not being sure how to integrate it into the cmake build. Changing the flags for objcopy to add --reverse-bytes applied to an intermediate file, which caused issues down the road. I would wish for it to apply solely to the final binary. For running on hardware I rely on the build-in swapping of the upl

[2021-12-05 00:29] #38689 closed

[2021-12-05 15:22] #40439 closed

[2021-12-05 20:13] frantony commented on #6082
@remy-luisant

Qemu-mipsel binary image octet swapping is just a qemu caprice. I can't remember any octet swapping necessity on real bi-endian hardware.

Please see an example of Ingenic dts UART node from barebox https://github.com/saschahauer/barebox/blob/master/arch/mips/dts/jz4780.dtsi#L17
Be careful! Barebox (and linux!) uses physical addresses in ``reg``. On MIPS physical addresses always di

[2021-12-05 20:18] zpm1066 commented on #32286
@cvetaevvitaliy, I've tested the updated driver with the following five ST7789 displays:

- Waveshare 135x240 Pico-LCD-1.14"
https://www.waveshare.com/pico-lcd-1.14.htm

- Generic 135x240 1.14"
https://www.aliexpress.com/item/4000571253836.html?spm=a2g0o.store_pc_allProduct.8148356.2.76ef4de3OsXkJN

- Waveshare 320x240, 2" LCD Display Module For Raspberry Pi Pico
https://www.waveshare.com/pico-lcd

[2021-12-05 21:00] remy-luisant commented on #6082
@frantony

I did have byte swapping issues with the actual hardware initially as well, when trying to read registers via the USB recovery software. I don't remember the exact circumstances, but I can document it and the fix I made, if needed and if my recollection of having the problem is actually correct. I might easily be wrong on this one, since you say that it shouldn't be required.

As far as

[2021-12-06 01:12] kclauah commented on #40827
@laurenmurphyx64 I have followed your Youtube tutorial about integrating tflm into Zephyr. (https://www.youtube.com/watch?v=vMDxmEwu51M)

I have integrated the tensorflow module which is downloaded from https://github.com/zephyrproject-rtos/tensorflow and extracted to <root directory>/module/lib/tensorflow folder.
![00](https://user-images.githubusercontent.com/84630151/144568326-45531861-c2ab-40f

[2021-12-06 01:58] ipshiv opened #40916 "Assertion in nordic's BLE controller lll.c:352"
**Describe the bug**
Time after time I catch next assert (after periodic public configuration and next once an hour)
[code]

**To Reproduce**
Assert occurs most often when I use 3+ mesh sensors in one sensor server (from NCS) with periodic publication configured.

**Expected behavior**
Expected periodic publishing without resets

**Impact**
Pre-release stopper

**Logs and console output**
RTT Log

[2021-12-06 03:59] hakehuang opened #40917 "twister --export-tests export all cases even this case can not run on given platform"
**Describe the bug**
`scripts/twister -p frdm_k64f -T samples -T tests  --enable-slow --export-tests frdm_k64f.csv`
and I get exported cases which is a full set, not dedicated to given platform

However, looking through the attached .CSV file generated, I see many applications listed that would not apply to this FRDM-K64F board.  I picked out a few examples below that are for different boards or a

[2021-12-06 08:54] henrikbrixandersen commented on #34872
@ehunck @alexanderwachter Can this question be closed?

[2021-12-06 09:17] koffes opened #40920 "Bluetooth audio: client/server naming scheme"
As an example, we now use `CONFIG_BT_VCS_CLIENT` and `CONFIG_BT_VCS`. This structure applies to many of the services.
IMO, this is confusing for the user. Suggest using `CLIENT` and `SERVER` explicitly, or figure out some alternative naming scheme.

@Thalley

[2021-12-06 09:21] alexanderwachter commented on #34872
Think so.

[2021-12-06 09:22] #34872 closed

[2021-12-06 09:49] Thalley commented on #40920
The suggestion is noted.

Generally, the server/client naming scheme may not be usable at all, and this may be a much larger issue.

For VCS (or rather the VCP), there's a typically a client (called `volume controller`), and a server (called `volume renderer`). VCP _requires_ but does not define VCS, so VCS could technically be used by other profiles, and in fact AICS is a good example of that, as

[2021-12-06 10:09] Laczen commented on #40897
@de-nordic, probably this is something that needs to be addressed by the image signing application. During the image signing there is extra data added to the image (the tlv's) that might leed to this situation.

[2021-12-06 10:25] gmarull commented on #40903
This is really a Sphinx C domain limitation, we can't fix it. Meanwhile, I'd suggest moving typedef to a function pointer and declare external functions without any typedef.

[2021-12-06 10:31] de-nordic commented on #40895
Currently a mcumgr enabled device has the maximum size of the "chunk" of upload data hard-coded  at compile time (https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/mgmt/mcumgr/Kconfig#L158. but rather than using that number, the client side should send sum with offset and size it used to calculate it on, and the device should use that data. Reason for above is that your client side app

[2021-12-06 11:10] de-nordic opened #40924 "mgmt/mcumgr/lib: Do not re-upload image, by default, to the secondary slot"
**Is your enhancement proposal related to a problem? Please describe.**
Currently every upload request will end up with secondary slot erase and image upload, even if the same image is
already there.
This happens even though the first packet of SMP image upload request caries "sha", that is considered SHA256 sum of an image that is uploaded; even it that is true for client software, that sum is on

[2021-12-06 11:11] boschkundendienst opened #40925 "mesh_badge not working reel_board_v2"
**Describe the bug**
I have a reel_board_v2 with the new display `HINK-E0213A22` on the display cable which si then a `GDEH0213B72` so the board designation is `reel_board_V2`. I can try all samples that do not use the display, e.g. `samples/bluetooth/beacon` or ones involving the different LEDs. After some tests I wanted to flash the original software `samples/boards/reel_board/mesh_badge` but it

[2021-12-06 11:32] de-nordic commented on #40897
@Laczen True, this should probably be done with imgtool but should also be fixed in "west sign" to at least notify user.

Except for the TLV, you mention, there is additional information that is added as part of swap process, for example to track how many pages of flash have been swapped, in case when reset happens while mcuboot does its stuff.
Additionally  the "swap-move" process requires one ad

[2021-12-06 12:32] de-nordic opened #40928 "mgmt/mcumgr/lib: Check image consistency after writing last chunk"
**Is your enhancement proposal related to a problem? Please describe.**
After receiving and writing last chunk of data to the slot, checksum should be calculated by re-reading the image slot up to image size and either compared on device, with sum received in lust chunk, or sent back to client app for verification.

**Describe the solution you'd like**
Kconfig option to enable complete image check

[2021-12-06 13:08] #40761 closed

[2021-12-06 13:16] venkatesh-eq commented on #40795
Just reminder to see if someone in the community can help review the code posted at: https://github.com/fkan-ec/zephyr.git
With aarch64 and with SMP this seems to happen pretty easily. Seems like a zephyr scheduler issue. Wondering if no-one runs zephyr on aarch64 with SMP?

[2021-12-06 13:29] de-nordic opened #40931 "mgmt/mcumgr/lib: RFC: Addition of new error codes"
**Is your feature request related to a problem? Please describe.**
The subset of mcumgr reported error coded is quite limited and makes it hard to precisely pin-point what has really went wrong with requested action.

**Describe the solution you'd like**
My proposal is to add four new error codes of following meaning:
 1. Read error - this code would be issued when API call for read fails; it mean

[2021-12-06 14:42] hakehuang commented on #40917
`scripts/twister -p frdm_k64f -T samples -T tests --enable-slow --save-tests frdm_k64f.csv`

does not work well either, I still get 1440 cases, which has many unsupported cases in it.

[2021-12-06 14:58] Laczen commented on #40897
I know about the tracking of the swap process, I forgot to add the word also (... that might also leed to this situation).

Regarding the swap move, I don't know how robust mcuboot is against being interrupted during the first part of the swap move (and how this is stored in the image area). It would be better not to include the area for the swap move in the image but to consider it as a scratch a

[2021-12-06 15:27] de-nordic commented on #40897
Not so many problems reported here, so I guess it mostly survives.

This actually happens in mcuboot and the mcugmr has nothing to say (at least now), the problem is that developers should be notified that update will not be possible before they even attempt it.

[2021-12-06 15:39] Laczen commented on #40897
OK, but since this is mcuboot specific, the best way to handle this would be inside `imgtool` not producing a signed image. BTW is there an easy way to calculate the space for image swapping state without knowing how mcuboot has been compiled (is the write-block-size not used to determine the area) ?

[2021-12-06 16:14] utzig commented on #40897
This was already implemented a long time ago, which is why `-S` was added for slot size. It was used together with `--align` to determine the exact free space based on TLVs, trailer, etc. The caveat is that it only works correctly for `swap-with-scratch`, since that allows the image to almost touch the trailer while swapping. `swap-without-scratch` moves sectors, so it's sector aligned on size, wh

[2021-12-06 17:00] de-nordic opened #40933 "mgmt/mcumgr/lib: Divide the lib Kconfig into sub-Kconfigs dedicated to specific mgmt cmd group"
**Is your enhancement proposal related to a problem? Please describe.**
Currently there is one Kconfig dedicated to all the mcumgr options and it becomes bloated. Division into sub-Kconfigs should also allow to more cleanly define logging options on per-group basis.

**Describe the solution you'd like**
Kconfig file per management group.

**Describe alternatives you've considered**
Current state w

[2021-12-06 18:41] pdietl opened #40936 "STM32 ADC gets stuck in Calibration"
**Describe the bug**
Here https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/adc/adc_stm32.c#L595 we try to calibrate the ADC, but at least on STM32G4, the ADC is not permitted to be calibrated unless the ADC is disabled.

![image](https://user-images.githubusercontent.com/10335942/144902964-ce488501-0217-483c-bedd-c45871735f6e.png)

I discovered this bug while trying to use the sensor

[2021-12-06 18:45] nashif commented on #40917
look at the output, it does have:

`samples/boards/intel_s1000_crb/dmic/sample.board.intel_s1000_crb.dmic,arm,frdm_k64f,skipped,,na,,0,0`

it is marked as `skipped`, which is correct.

[2021-12-06 21:27] keith-zephyr commented on #39286
[PR#39397](https://github.com/zephyrproject-rtos/zephyr/pull/39397) merged and addresses this issue.

[2021-12-06 21:27] #39286 closed

[2021-12-06 21:32] keith-zephyr opened #40939 "SPI Context API: cleanup or document config and owner fields"
The `struct spi_context` structure provides two fields, `config`, and `owner`.  On first glance, these fields appear redundant, and it isn't clear what is the intended purpose of each field.

In addition, `owner` is set automatically by the `spi_context_*` routines, and `config` is not.  It appears that it is assumed that all SPI drivers are required to set the `config` field, but this step [can b

[2021-12-06 21:46] peter-mitsis commented on #40376
Very strange behaviour observed. An attempt to k_sleep for N ticks on the hifive1 board results in the following number of slept ticks ...
    24 * (floor(N / 24) + 1)

This creates a step function where sleeping for 1..23 ticks results in sleeping for 24 ticks, 24..47 ticks results in sleeping for 48 ticks, 48..71 ticks results in sleeping for 72 ticks, ...

[2021-12-06 23:34] dleach02 commented on #36872
@MarkWangChinese has confirmed that he can serve as the maintainer of this module (per TSC action item)

[2021-12-07 00:29] #38139 closed

[2021-12-07 00:29] #37608 closed

[2021-12-07 00:34] edersondisouza commented on #40119
@rdienstbeck have you had the chance to look at #40606 ?

[2021-12-07 00:57] MarkWangChinese commented on #36872
Thanks David.

[2021-12-07 01:55] #39415 closed

[2021-12-07 03:34] #40917 closed

[2021-12-07 03:58] hongshui3000 opened #40942 "Xtensa debug bug"
**Describe the bug**
code path: zephyr\arch\xtensa\core\xtensa-asm2-util.S
[code]
![image](https://user-images.githubusercontent.com/25566498/144963373-58182c6f-0c44-46d6-90c9-8637bd5cb0c2.png)

XCHAL_NUM_INTLEVELS == 6 is debug INT

When the breakpoint is added here, the address of EPC6 will become the current address, and rfi 6 will not be able to return

It seems that zephyr is trying to use th

[2021-12-07 04:09] laurenmurphyx64 commented on #40827
@kclauah, it wouldn't be any trouble! Thanks for filing an issue and tagging me. I read the advice from Simon in the devzone thread and took a look at the nRF Connect SDK's [west.yml](https://github.com/nrfconnect/sdk-nrf/blob/v1.8.0-rc1/west.yml). It looks like their west.yml pulls in the [Zephyr 2.6.0 west.yml](https://github.com/zephyrproject-rtos/zephyr/blob/zephyr-v2.6.0/west.yml#L154), but f

[2021-12-07 04:22] dwalton65 opened #40943 "SPI performance with zephyr and the nRF52832 is currently relatively slow"
A 5 byte SPI transfer is taking about 17us when using the nordic spim drivers and about 56us when using the zephyr spim drivers.
This is with clock freq = 8M and using DMA.

Would this be considered normal when using the Zephyr drivers as apposed to calling the Nordic drivers?

More information can be seen [here](https://devzone.nordicsemi.com/f/nordic-q-a/81966/slow-spi-performance-with-zephyr).

[2021-12-07 04:22] XenuIsWatching opened #40944 "BUILTIN_STACK_CHECKER and MPU_STACK_GUARD with a thread using the FPU will fault the bulltin stack checker"
With `BUILTIN_STACK_CHECKER=y` and `MPU_STACK_GUARD=y` and a thread that uses the FPU. The stack checker will always fault thinking there was an overflow, but when really there wasn't.

`BUILTIN_STACK_CHECKER` puts a magic word at the start of the stack when the thread is created. But then after the thread runs `z_arm_thread_stack_info_adjust` could move the pointer to the start of the stack after

[2021-12-07 04:22] XenuIsWatching commented on #40944
*Ideally, someone shouldn't need  `BUILTIN_STACK_CHECKER=y` and `MPU_STACK_GUARD=y` together, but it shouldn't at least fault if this happens. It should either rewrite the magic word if the kconfig is enabled, or it should build assert if both k configs are enabled.*

[2021-12-07 05:06] kclauah commented on #40827
Thank you. Thank you so much for your assistance.

The error in prj.conf is gone and building the hello_world tf example works after following your suggestions.

I really appreciate your help in resolving the problem.

Here is the log when running west update with verbose.
[west update log with tensorflow allowed.txt](https://github.com/zephyrproject-rtos/zephyr/files/7665525/west.update.log.with.

[2021-12-07 05:17] laurenmurphyx64 commented on #40827
No worries! I'm glad I could resolve your problem. 😄

[2021-12-07 05:17] #40827 closed

[2021-12-07 06:41] hongshui3000 opened #40946 "Xtensa Interrupt nesting issue"
**Describe the bug**
Correct code behavior
![image](https://user-images.githubusercontent.com/25566498/145158768-daf2559d-884a-4258-ba02-61afd0f3c8e2.png)
zephyr  The remaining program of level1 is not executed
![image](https://user-images.githubusercontent.com/25566498/145158865-5bedbc42-5c75-4eec-a204-76cd7e0b9ef0.png)
LEVEL 3 XTENAS TIMER interrupt handler will set Main task as current task

[2021-12-07 09:47] pdietl opened #40955 "ADC: STM32: Add device tree config for clock source"
Looking here https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/adc/adc_stm32.c#L897, you can see that ADC clock source is hard-coded to `LL_ADC_CLOCK_ASYNC_DIV4`. I'd like to see some config added to the device tree to allow one to specify this.

I really need some help on what would be a good device tree addition to represent this.

[2021-12-07 10:22] FRASTM commented on #40936
that's right, ADC calibration requires ADC disable (ADCEN =0) except for **stm32F1** mcus
_"Before starting a calibration, the ADC must have been in power-on state (ADON bit = ‘1’) for
at least two ADC clock cycles."_
and stm32L1x (no cal.)

[2021-12-07 10:49] FRASTM commented on #39888
Actually, versions 1.17.0 and 1.16.0 have few significant differences in the stm32l4xx_ll_usb.c.
Could you point a particular one
[stm32l4xx__ll_usb.diff.txt](https://github.com/zephyrproject-rtos/zephyr/files/7667675/stm32l4xx__ll_usb.diff.txt)
?

[2021-12-07 10:51] pdietl commented on #40936
I think I may have split our conversation between the PR and issue :p

[2021-12-07 10:57] 5frank commented on #28093
I also run into this issue. IMO the pointer compare is acceptable even though not very "intuitive".  If this will remain, I think adding a `spi_configure()` method or a `SPI_FORCE_RECONFIG` flag  would be a good idea. This would make temporary spi configurations easier to write and less obscure to read.

[2021-12-07 10:58] koffes commented on #20430
Any plans to include such a feature?

[2021-12-07 11:15] bearsh commented on #39888
sorry for not replaying earlier...

Unfortunately I can not point to a particular change, but your diff is only about ll_usb but AFAIK one should also look at `stm32l4xx_hal_pcd.c`

a more complete diff would be this:
[stm32l4xx_e5090a6..manifest-rev.diff.txt](https://github.com/zephyrproject-rtos/zephyr/files/7667810/stm32l4xx_e5090a6.manifest-rev.diff.txt)

Just FYI, I use a stm32l422

hopefully

[2021-12-07 12:17] 5frank commented on #14068
Another possible workaround is the `miso-pull-up` and `miso-pull-down` property. Example
[code]

[2021-12-07 13:33] de-nordic opened #40962 "mgmt/mcumgr/lib: RFC: Plan for unit testing"
**Is your feature request related to a problem? Please describe.**
Lack of unit tests inside mcumgr library.

**Describe the solution you'd like**
The library needs to have sub-routines that can and should be tested identified and unit test should be written for them.
We need this in mcumgr to be able to catch regression and maybe remove bugs that have not been uncovered yet.
This should also allo

[2021-12-07 13:42] de-nordic opened #40963 "mgmt/mcumgr/lib: RFC Black-box testing of tansports"
**Is your feature request related to a problem? Please describe.**
The mcumgr is missing black-box type tests of its features over supported transports (uart,bluetooth,udp).

**Describe the solution you'd like**
Automatic black-box tests of various configurations of mcumgr SMP protocol with use of smp_server as test subject.
Probably mcumgr-cli would have to be used as test client, as we currently

[2021-12-07 15:07] JeffreyUrban opened #40965 "Halt on receipt of Google Cloud IoT Core MQTT message sized 648+ bytes"
**Describe the bug**

I adapted the [google_iot_mqtt sample](https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/net/cloud/google_iot_mqtt) to the Nordic nRF9160-DK dev board. I found that when setting the Google Cloud IoT Core config payload to content of approximately 648 bytes or larger, the Zephyr application halts and becomes unresponsive. If shell is enabled, the shell halts and b

[2021-12-07 15:53] peter-mitsis commented on #40259
Unless I am missing something, my interpretation of "Additional rules Rule A.1: Conditional Compiliation" at https://docs.zephyrproject.org/latest/contribute/coding_guidelines/index.html, is that they are implicitly part of the public API and thus necessary to be included in the documentation.

[2021-12-07 16:07] #39879 closed

[2021-12-07 16:16] cfriedt commented on #40942
Could be related to #40946 .

[2021-12-07 16:24] rdienstbeck commented on #40119
Hi @edersondisouza ,
I had a quick look at it, implemented it and tested it in our debugger. It looks like this includes exactly what we need. Thanks a lot for this!
I will modify our Zephyr Awareness to use the linked list as defined in #40606 and will report my results here.
It's now part of CONFIG_TRACING, which also offers a lot of options (and additional code) for tracing, while it is not exa

[2021-12-07 16:27] cfriedt commented on #40873
@dcpleung - please raise priority if necessary

[2021-12-07 16:29] cfriedt commented on #40870
@LixinGuoX - do your PRs fix the issue? Thanks for reporting the issue.
cc @dcpleung

[2021-12-07 16:32] cfriedt commented on #40866
@RobertoBagnara - was this a flag raised by a particular tool? If so, could you also provide some additional detail here?

[2021-12-07 16:48] carlocaione commented on #40795
The code is very (very) far from a small reproducer. Please, try to come up with something more manageable that we can easily take a look without having to study hundreds of lines of custom code.

[2021-12-07 17:13] henrikbrixandersen commented on #40901
API meeting:
- Please go ahead with the PR.
- Process for how to deal with external API changes will be dealt with in another issue.

[2021-12-07 17:37] jfischer-no commented on #40925
Either https://github.com/zephyrproject-rtos/zephyr/pull/40765 or https://github.com/zephyrproject-rtos/zephyr/pull/39708 will fix it, whatever gets merged first.

[2021-12-07 17:44] dleach02 commented on #40119
@rdienstbeck, recommend you provide your feedback/results directly to #40606. When that gets approved/merged it will automatically close this issue

[2021-12-07 17:55] andyross commented on #40942
Zephyr isn't handling the debug interrupts at all, though.  We simply don't support this feature (not that we shouldn't!  we just don't have the code written).  I'm guessing the bug report here is that you have an application which is adding its own handler for the debug interrupt, that it's using the EPC/EPS registers assigned to that interrupt level, and that this is being clobbered by Zephyr's

[2021-12-07 17:56] andyross commented on #40946
Can we get some context?  Nested interrupts are exercised in the zephyr test suite; I'm reasonably certain that something more complicated has to be happening here.  Is this something you can make happen in qemu?

[2021-12-07 18:09] theotherjimmy opened #40970 "Upgrade qemu to fix breakage in mps3-an547"
**Describe the bug**
The test `tests/lib/sprintf/libraries.libc.sprintf`fails on the mps3 an547 platform.

**To Reproduce**
it's reproducable with zephyr sdk 0.13.2 and the following command:
[code]

**Expected behavior**
The test should pass

**Impact**
This is problematic for both testing things on qemu with the mps3 an547 platform, and also
this blocks any PR that affects the mps3 an547 target.

[2021-12-07 18:11] theotherjimmy commented on #40569
This might be the same root cause as the issue I just created, #40970, which is a different test failure on the same platform because qemu was missing MVE for this platform.

[2021-12-07 18:15] jhedberg commented on #40881
I'm a bit confused: how can a device connect to us if `bt init` hasn't been issued? You need to initialize the stack before requesting it to be connectable (perform connectable advertising), so it seems like `bt init` is a pre-requisite for any connections and related callbacks to happen.

[2021-12-07 19:55] jukkar commented on #40393
Hi @johnlange2, we briefly discussed the SMS recv support API in the todays networking forum. I think we could have is a simple recv API that would allow both polling and blocking API. Just place a timeout option to the API. If the timeout value is `K_NO_WAIT`, then the recv just checks if there is anything available and returns with proper return code. If the user sets the timeout to `K_FOREVER`,

[2021-12-07 20:35] anrudolf commented on #40881
Hi @jhedberg and thanks for replying

Yes, if Bluetooth shell is the only entity interacting with the Bluetooth stack, then one needs to issue `bt init`, otherwise the device is not connectable, and no Bluetooth callbacks could ever happen.

However, as in the example above - for instance with `samples/subsys/mgmt/mcumgr/smp_svr/` or `samples/bluetooth/peripheral` **and** `CONFIG_BT_SHELL=y` - the

[2021-12-07 20:50] teburd commented on #39775
Closing as the PR was accepted, and a way was found to get all the benefits with minimal updates to existing code

[2021-12-07 20:50] #39775 closed

[2021-12-07 22:23] d3zd3z commented on #34707
There are several devices where both of these operations can really only be done within the driver (and aren't necessarily done by write/erase themselves). For example, there may be an erase check command that adjusts voltages to distinguish erase vs decayed (or partially written) data. Or a readback may use ECC to verify the data.

So, I think this could be useful, but a little challenge since we

[2021-12-08 00:12] cvinayak commented on #40916
@ipshiv Please cherry-pick this commit: https://github.com/zephyrproject-rtos/zephyr/commit/ed7e9028139e4c3d2a7deb98ccc5400cd6fc41c4

If you are still facing the assertion, I will need a branch with an application that I can use on nRF5x DK boards, preferably only build (so I can add some debug code) the application in the branch, flash and reproduce the assertion.

[2021-12-08 00:29] #23419 closed

[2021-12-08 00:45] stephanosio commented on #40970
This is a known issue and not necessarily a bug:
https://github.com/zephyrproject-rtos/zephyr/commit/96c7f6ab75a4055a292d5fcd52d413d3a8ba692f

MVE emulation support will be added in QEMU 6.2, which has not been released yet.

Note that it should work if you run this on the ARM FVP.

Please disable the affected tests for now.

[2021-12-08 00:52] yingmingx commented on #40569
Cancel my assignment due to conversion to another team.

[2021-12-08 00:54] albertofloyd opened #40972 "Power management support for MEC172x"
Add Soc Power management for MEC172x

Add similar or equivalent support to MEC152x

[2021-12-08 01:19] LingaoM commented on #40881
Thank you very much for your careful analysis of this problem,
There are several solutions:

- Change to dynamic registration
- Add a null pointer to judge

@anrudolf Can you submit PR for this?

[2021-12-08 01:32] LixinGuoX commented on #40870
yes, #40871 will fix this issue.

[2021-12-08 01:56] hongshui3000 commented on #40946
Let me correct what I see now
![image](https://user-images.githubusercontent.com/25566498/145134672-0c7a0b65-a332-41ec-bb98-268be711bee2.png)

[2021-12-08 02:21] hongshui3000 commented on #40942
Let me re-describe the phenomenon of the problem:
I use the candence Xplorer IDE debugger (ocd). When I add a breakpoint and the cpu is paused, the address displayed by the EPCS (the highest interrupt level) used by the debug interrupt and the address displayed by my PC are the same breakpoint address, then if At this time, it happened to be the EPCS (the highest interrupt level) used in zephyr, a

[2021-12-08 03:21] theotherjimmy commented on #40970
Ah, yeah should have mentioned that I knew it was fixed on main (master?).
1) How long do you expect between QEMU 6.2, which is soon to be released, and updating the zephyr sdk with the new version?
2) do you expect that any changes will be blocked by this?

(it's my understanding that mps3 an547 tests are not run all that often). I ask because it may not be worth the effort if we can get a new SD

[2021-12-08 03:27] ipshiv commented on #40916
Thanks for response! Unfortunately assert is still there. I'll prepare sample for DK in couple days.

[2021-12-08 03:50] andyross commented on #40942
OK, that sounds exactly like what I described then.   Is it really not possible to make your debug exception handler into a proper Zephyr interrupt?  I'll admit I'm not familiar with the protocol used by the Xplorer debugger or how it's supposed to be integrated.  Just in general, having mixed-convention interrupts in the same vector table is likely to be difficult.

If not, please try the suggest

[2021-12-08 03:56] hongshui3000 commented on #40942
My current solution is to change my EPCS (LEVLE5 MY NMI INT),Nmi int is not used in my system, so it works
[code]

[2021-12-08 04:03] stephanosio commented on #40970
I will try to get a new SDK released as soon as QEMU 6.2 is released -- it will likely take 1-2 weeks after the QEMU release.

I am not aware of any changes that will be blocked by upgrading QEMU to 6.2, as of now.

As long as the PRs blocked by this can wait, I agree that we should leave this as is until the new SDK release.

[2021-12-08 04:47] andyross commented on #40942
You're welcome to contribute your solution. :)

[2021-12-08 05:17] hongshui3000 commented on #40942
MY FIX:
[code]

[2021-12-08 06:48] boschkundendienst commented on #40925
Thanks for your reply. Will look into this, when I receive my new board (sent the current one back to make sure it is not hardware-broken).

Question: What fork/tree/commit did they flash originally since when delivered a working mesh_badge sample was on the device?!

[2021-12-08 07:00] hongshui3000 opened #40974 "Xtensa High priority interrupts cannot be masked during initialization"
**Describe the bug**
High priority interrupts cannot be masked during initialization

Once the high-priority interrupt is enabled later before the interrupt stack is initialized and the interrupt occurs again, there will be issues.

XCHAL_EXCM_LEVEL cannot disable all interrupts, unless the architecture does not have high priority interrupts, we can leave only debug interrupts and NMI interrupts

[2021-12-08 07:36] jukkar commented on #39096
Yes, that should be done. For various IPv6 specified system level multicast addresses this is done automatically. For the IPv4, this currently needs to be done by the application as that is the only one that knows that multicast addresses it wants to use.

[2021-12-08 08:00] RobertoBagnara commented on #40866
On the topic of undefined behavior, I recommend https://blog.regehr.org/archives/213

Concerning the functional safety and security of software written in C, for static analysis and code reviews/inspections there really are only two possibilities:

1) Verification at the assembly code level (however the assembly code is produced).
2) Verification of the source code and use of a qualified translati

[2021-12-08 08:09] jfischer-no commented on #40925
I cannot say, but zephyr-v2.6.0 does not have this bug.

[2021-12-08 08:54] jukkar commented on #39096
There is perhaps a way to join to multicast addresses if the network interface comes up (and it was joined already). The multicast address struct in net_if has `is_joined` field and we could go through them in network interface up case and join the addresses automatically.

[2021-12-08 09:38] jfischer-no commented on #40714
This is not related to USB device support in Zephyr, STM32F405 has built-in ROM USB DFU bootloader.
Could be west runner issue, but since there are not further details here except "A valid DFU suffix will be required in a future dfu-util release!!!", which has been around for many years and  "Currently dfu-util doesn't refuse to use the file even it lacks the suffix", I close it.

[2021-12-08 09:38] #40714 closed

[2021-12-08 11:08] rakons opened #40982 "Build system: West: Add a warning when used repository does not match manifest"
**Is your feature request related to a problem? Please describe.**
I often forget to run west update before building. Sometimes it takes time to understand that reported build system errors are related to wrong repositories used.

**Describe the solution you'd like**
Add a warning at the very beginning that used repository does not match the manifest. It should be only a warning and should allow b

[2021-12-08 12:24] hongshui3000 commented on #40942
I don't feel relevant

[2021-12-08 12:25] hongshui3000 commented on #40942
I don't feel relevant

[2021-12-08 12:25] Michel-Haber opened #40989 "Moving Cpu power states to SoC dtsi"
**Is your enhancement proposal related to a problem? Please describe.**
Power states for SoCs (when defined) are currently in the board device trees. This means that each board needs to define its own states and assign them to the cpu-power-states. I'm not sure my reasoning is correct, but it seems to me that the power states as defined by the current power management model are in the sole purview

[2021-12-08 13:56] cvetaevvitaliy commented on #32286
@zpm1066 Thanks, good test and detailed test report
I think when offset is set, the recalculation goes in the wrong direction.
I will try to get a 240x240 display for debug

[2021-12-08 15:12] russelltg opened #40999 "Unable to boot smp_svr sample image as documentation suggests, or sign"
**Describe the bug**

I'm developing an nrf52832-based application and I'm trying to add DFU via MCUMGR over BLE transport. I'm following [the documentation](https://docs.zephyrproject.org/2.6.0/samples/subsys/mgmt/mcumgr/smp_svr/README.html), but the commands suggested for signing the binary don't work.

From my digging, this is related to `CONFIG_ROM_START_OFFSET`, which needs to be >32 for Mcub

[2021-12-08 16:02] zephyrbot opened #41004 "[backport v2.7-branch] backport of #40127 failed"
This issue was created automatically because the backport of #40127 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-40127-to-v2.7-branch`.

[2021-12-08 16:19] anrudolf commented on #40881
Hi @LingaoM

Pull request [41007](https://github.com/zephyrproject-rtos/zephyr/pull/41007) is open :-)

[2021-12-08 17:13] jvasanth1 opened #41012 "irq_enable() doesn’t support enabling NVIC IRQ number more than 127"
**Describe the bug**
We are updating kscan driver for MEC172x microchip device. The kscan peripheral is routed to NVIC 135. In the driver init function we enable NVIC 135 by calling the function irq_enable() and passing the IRQ number from the device instance.

The function irq_enable() casts the IRQ number input to IRQn_type enum (defined in cortex_m/[cmsis.h](https://github.com/MicrochipTech/zep

[2021-12-08 18:26] theotherjimmy commented on #40970
That sounds quite quick, especially for December :grin:

Ah, I meant Zephyr PRs. I think mine was the only one.

I don't think there are any such PRs. So I think we should skip both the test-disable step and the test-enable step. I'll see what I can do about testing with the rc of qemu just to be sure there are no further bugs that need fixing.

[2021-12-08 18:51] dcpleung commented on #40942
Hm... that's not right. If `XCHAL_NUM_INTLEVELS == 7`, there are no `EPC8`/`EPS8` so it won't work.

[2021-12-08 19:55] henrikbrixandersen commented on #38988
This was fixed in commit 41325bd1fbf4e494da9a6e81dafa9373d0e927a0 in #37325. I am no longer able to reproduce this on HEAD (e1ad3b2ab3a0b1b849782df8a557487c9ab0612e) using a `frdm_k64f` board and a `dfrobot_can_bus_v2_0` shield.

[2021-12-08 19:55] #38988 closed

[2021-12-08 20:31] maxmclau opened #41016 "i2c_sam0.c i2c_sam0_transfer operations do not execute a STOP"
**Describe the bug**
The i2c implementation on my ATSAMD51N19A board does not release the i2c line after a ```i2c_reg_read_byte_dt()``` operation.

**To Reproduce**
1. Use a boiler plate blinky project
2. Add i2c peripheral ([BQ40z80](https://www.ti.com/lit/ug/sluubt5c/sluubt5c.pdf?ts=1638994877191) in my case)
3. Use ```i2c_reg_read_byte_dt()``` to read a simple 8-bit register value
4. Observe SC

[2021-12-08 20:34] abxy opened #41017 "USB string descriptors can be re-ordered causing corruption and out-of-bounds-write"
**Describe the bug**
While trying to implement a USB video device I encountered
unexpected errors in `dmesg` when plugging in the device.

I managed to to track the problem to the single string descriptor I had
defined. I believe my string descriptor was placed before the other string descriptors
(`string_descr` in `usb_descriptor.c`) by the linker, causing the `usb_fix_descriptor`
routine to brea

[2021-12-08 20:44] galak commented on #40569
https://github.com/zephyrproject-rtos/zephyr/pull/41018

[2021-12-08 21:03] npitre commented on #40866
In theory, practice and theory are the same, but in practice they are not.

I'm repeating myself: please give me an example of a real compiler
implementation where this particular undefined behavior does matter.

Because not only this code does subtract NULL in this particular
instance, but the whole function does add to an initial NULL pointer
in some cases.

This is done that way because Zephyr

[2021-12-08 21:05] #40866 closed

[2021-12-08 22:38] abxy commented on #41017
I've convinced myself that the corruption happens when another string descriptor is placed before the string descriptors in `struct usb_string_desription string_descr` and their indices are shifted so `usb_fix_ascii_sn_string_descriptor` is called with the product string descriptor instead of the serial number descriptor.

In the default config the product string is smaller than the serial number,

[2021-12-08 22:46] chudov commented on #40208
And in #40968 it was done how it should be :)

[2021-12-08 23:40] maxmclau commented on #41016
```i2c_burst_read()``` and similar functions are all working incorrectly for me as well. Returning varied byte order and not properly releasing the clock line. I've narrowed it down to #38482. Pushing my [i2c_sam0.c](https://raw.githubusercontent.com/zephyrproject-rtos/zephyr/a8245f78a16128513c90ad2271ce4d547e2c0dc5/drivers/i2c/i2c_sam0.c) back to the commit prior has all read/write i2c functions

[2021-12-09 00:28] #38831 closed

[2021-12-09 00:36] danieldegrasse opened #41024 "SPI Loopback test fails to build on iMX RT EVKs"
**Describe the bug**
The spi loopback test fails to build on the rt1010, rt1015, rt1020, and rt1050 evks

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1050_evk test/drivers/spi/spi_loopback
3. make
4. See error

**Expected behavior**
Build should succeed

**Logs and console output**
[code]

[2021-12-09 00:43] danieldegrasse commented on #41024
Bug was introduced by #40183, #41025 should fix it

[2021-12-09 02:23] maxmclau commented on #41016
Closing, issues seems to be identified and awaiting merge.

[2021-12-09 02:23] #41016 closed

[2021-12-09 02:24] hongshui3000 commented on #40942
I don’t have a processor equal to 7, so I think it’s better to use the NMI interrupt level directly, but I’m not sure that all processors have NMI interrupts.

[2021-12-09 09:55] abxy commented on #41017
I found confirmation in `zephyr.map`. In the snippet below you can see that the string descriptor (identifiable by the section ` .usb.descriptor_primary.4`) that I defined in `usb_video.c` is placed before the string descriptors defined by `usb_descriptor.c`.

[code]

[2021-12-09 11:05] henrikbrixandersen commented on #40169
Compilation and CI issue fixed in #40911.

[2021-12-09 11:05] #40169 closed

[2021-12-09 11:20] jfischer-no commented on #40640
I finally invested time to follow backtrace you left in the bug description, thanks for that. It turns out that it is an issue in the macro USBD_CFG_DATA_DEFINE. `usb_cfg_data` structures in CDC ACM class  are placed with a gap or padding in specified RAM section on native_posix_64, this breaks the possibility to iterate over the structures. It does not happen with the `usb_cfg_data` structures in

[2021-12-09 11:45] frantony commented on #6082
@remy-luisant

I have updated MIPS support PR and requested review (see
https://github.com/zephyrproject-rtos/zephyr/pull/30405#issuecomment-989766099).

Please use my latest MIPS support branch! There is a small but important change: I have disabled hard-float (enabled in Zephyr MIPS SDK by default) because current MIPS save/restore context routines don't take care on FPU (CP1) registers.

[2021-12-09 12:35] heinwessels commented on #40999
You could try `west flash --hex-file build/zephyr/zephyr.hex --skip-rebuild`. In my experience if you don't do this the application will quickly rebuild, thus overwriting the signed header, which means that MCUBoot will not recognise the image. It could also explain why it works when you first merge the hex file. That said, I usually use `west flash --build-dir build --skip-rebuild`, and don't spe

[2021-12-09 12:49] hongshui3000 opened #41039 "Xtensa High priority interrupt interrupt excption interrupt causes double excption"
**Describe the bug**
The zephyr xtensa architecture does not seem to take this situation into consideration:
For example, the excption interrupt level is less than the highest priority interrupt. When the high priority interrupt preempts the excption interrupt (such as WindowOverflow8), the entire stack will be destroyed
![image](https://user-images.githubusercontent.com/25566498/145399496-074b221

[2021-12-09 12:52] rlubos commented on #40965
Hi @JeffreyUrban
I've managed to reproduce the behaviour with a different MQTT broker, by duplicating the PUBLISH processing logic from the Google Cloud sample. It seems that the sample has a bug, specifically here:
https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/net/cloud/google_iot_mqtt/src/protocol.c#L169
The sample uses non-blocking `mqtt_read_publish_payload()`  function which

[2021-12-09 13:17] hongshui3000 commented on #40946
https://github.com/zephyrproject-rtos/zephyr/issues/41039

[2021-12-09 14:31] russelltg commented on #40999
Doesn't seem to produce any different results

[2021-12-09 14:43] heinwessels commented on #40999
That's unfortunate. It's also peculiar that `CONFIG_ROM_START_OFFSET` is set to zero. I've only had it not create that offset when `CONFIG_BOOTLOADER_MCUBOOT` is not `y`, but this should be set correctly since it's set in `prj.conf`. You could confirm that `CONFIG_BOOTLOADER_MCUBOOT` is set by checking `build/zephyr/.config`.

[2021-12-09 14:48] russelltg commented on #40999
Certainally seems like the case.

[code]

Fwiw, this checks out after looking at [the docs for `CONFIG_ROM_START_OFFSET`](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_ROM_START_OFFSET.html)--none of the snippets that would set it to anything else apply to this board/soc.

[2021-12-09 14:49] JeffreyUrban commented on #40965
@rlubos thanks so much for catching that. I have made this change and submitted a pull request: https://github.com/zephyrproject-rtos/zephyr/pull/41042

[2021-12-09 15:23] utzig commented on #40999
I just tried the steps given

[code]

And there is no error, also `CONFIG_ROM_START_OFFSET=0x200` is properly set. I have not tried to run. Zephyr was updated this morning, and `west update` and `West version: v0.12.0`.

[2021-12-09 15:25] utzig commented on #40999
Btw, I would suggest always building in separate dirs which can be achieved with `west build -d <dir>`, to avoid ever mixing the bootloader and app builds...

[2021-12-09 15:28] russelltg commented on #40999
Okay tried this again with a brand new zephyr workspace (that has latest zephyr, not using the zephyr tree supplied by Nordic, which is missing the line in Kconfig.zephyr which sets the CONFIG_ROM_START_OFFSEt), with different results. First off, the bootloader doesn't build:

[code]

I just commented out that line that sets CONFIG_SYSTEM_CLOCK_DISABLE (idk if that's a problem)--and was able to ge

[2021-12-09 15:38] anangl commented on #40943
@dwalton65 Please take a look at https://github.com/zephyrproject-rtos/zephyr/issues/33583#issuecomment-826854527.

[2021-12-09 15:47] jfischer-no commented on #41017
For clarification, string descriptors are optional. There is no straightforward support in the current USB device support for the string descriptors defined in class or application code. Event with #41014, there is no solution to avoid indexes conflict as they are not part of string descriptor and we do not have a container for that.

[2021-12-09 15:48] carlescufi commented on #40943
Closing since this is responded.

[2021-12-09 15:48] #40943 closed

[2021-12-09 16:18] caco3 opened #41043 "Sporadic Bus Fault when using I2C on a nrf52840"
We have an application based on a nrf52840 and zephyr 2.7.0.
The system is used for a measurement device. We run an external ADC at 10 kSamples/s and read its data through SPI DMA transfers. After 30 samples (=> 333 Hz) we trigger an Interrupt Handler which copies the data into another buffer. The SPI and the Timer are connected via PPI.

Also we have several I2C devices with which we need to comm

[2021-12-09 16:28] jeremybettis commented on #39153
Assuming that PR #39714 is merged as is, the next step really ought to be to set CONFIG_ZTEST_NEW_API=n in all existing tests, and then default it to y to encourage new tests to use the new api.

[2021-12-09 16:35] abxy commented on #41017
According to the USB Video Class Specification there is one mandatory string descriptor. The rest are optional as you say.

Can you clarify what you mean about index conflicts? I don't currently have a need to explicitly control the indexes. From my (very) limited understanding of the USB protocol there is no need to control the string descriptor ordering (aside from index 0). You just have to mak

[2021-12-09 18:26] stsquad commented on #28613
The next QEMU release (6.2) has a fix for the watchpoint with icount bug.

[2021-12-09 19:25] vindicatorr commented on #35707
I've got the latest `main` branch today as well as `Zephyr SDK 0.13.2`, however the issue also occurs for me with `arm-none-eabi-gcc (Arch Repository) 11.2.0` as well as the older `arm-zephyr-eabi-gcc (crosstool-NG 1.24.0.378_e011758) 10.3.0`

[code]

[2021-12-09 20:28] caspermeijn opened #41047 "boards: pinetime: display backlight via GPIO"
**Is your enhancement proposal related to a problem? Please describe.**
With the main Zephyr samples, the backlight of the [Pinetime](https://docs.zephyrproject.org/latest/boards/arm/pinetime_devkit0/doc/index.html) board is not enabled, therefore the picture of the display is not visible.

The backlight is enabled via GPIO. There are three GPIO, each with a different resistor, for three brightnes

[2021-12-09 22:17] remy-luisant commented on #6082
@frantony

Thank you, will do. I was stuck on job hunting and power supply design work for the last few days, so I had no chance to do anything since my last comment here. Apologies. I think I have the byte swapping added to CMake in a way that won't cause issues. but I didn't even have the chance to run it once yet.

[2021-12-10 00:12] #41024 closed

[2021-12-10 00:46] #40870 closed

[2021-12-10 01:00] #40999 closed

[2021-12-10 01:05] cfriedt commented on #40640
@jfischer-no - can you please also try to reproduce in v2.7.0?

[2021-12-10 03:10] danieldegrasse opened #41050 "MCUMgr Sample Fails to build"
**Describe the bug**
MCUMgr sample is failing to build on mimxrt1060_evk, although it looks like the issue would be present on any board.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk samples/subsys/mgmt/mcumgr/smp_svr
3. make
4. See error

**Expected behavior**
Build should pass

**Logs and console output**
[code]

[2021-12-10 04:03] zpm1066 commented on #32286
@cvetaevvitaliy, I've made some additional changes to your code to get the display rotation to work for all three types of displays under test (240x240, 240x320, and 135x240) without making any changes in my applications or the `st7789v devicetree overlays`.

As suspected, the problem with the code was the x_offset & y_offset for the 90/180 degree rotations.

In  `st7789v_set_orientation` , I've a

[2021-12-10 06:55] DariusBabrauskas commented on #41043
Hi. Are you disable compilation optimization?
If yes, then possible stack overflow ().  Try increase stack size. Example.:
CONFIG_MAIN_STACK_SIZE=2048

Maybe this configs can help you. (zephyr 2.5)
#CONFIG_SIZE_OPTIMIZATIONS=y
CONFIG_NO_OPTIMIZATIONS=y
#enable stack overflow test
CONFIG_STACK_SENTINEL=y
CONFIG_INIT_STACKS=y
CONFIG_STACK_USAGE=y
CONFIG_REBOOT=y

CONFIG_DEBUG_COREDUMP=y
CONFIG_DEBUG

[2021-12-10 07:49] hakehuang opened #41258 "tests-ci : portability: posix: fs.tls test Build failure"
**Describe the bug**
fs.tls test is Build failure on v2.7.99-2147-g183328a4fbdb on mimxrt685_evk_cm33

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: v2.7.99-21

[2021-12-10 07:49] hakehuang opened #41052 "tests-ci : portability: posix: fs.tls.newlib test Build failure"
**Describe the bug**
fs.tls.newlib test is Build failure on v2.7.99-2147-g183328a4fbdb on mimxrt685_evk_cm33

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: v2.

[2021-12-10 07:58] caco3 commented on #41043
Dear @DariusBabrauskas

Thanks for your input!
Stack Overflowing is a good hint.  I increased now all my stacks of my threads by factor 4..10 and also the following ones:
[code]
but the issue still occurs, so this seems not to be the issue.

I also added all of the following flags, but still do not get a proper trace on the fault:
[code]

`CONFIG_NO_OPTIMIZATIONS` or `CONFIG_INIT_STACKS` seems not

[2021-12-10 08:00] hakehuang commented on #41052
dup with zephyr#41052

[2021-12-10 08:31] caco3 commented on #41043
my bad, `CONFIG_NO_OPTIMIZATIONS` works now and gives me a trace:
[code]

(I had it overwritten further down in `proj.conf`)

[2021-12-10 09:30] #41050 closed

[2021-12-10 10:16] Kshitij4kk opened #41058 "stm32h723 : application gets hung during spi_transceive() operation"
**Describe the bug**
I am trying to interface ADXL345  accelerometer using SPI communication to my STM32H723ZG board.
I am using the SPI1 device for this purpose.

I have done the following modifications in dts overlay file to enable the device node.
[code]

I have used the following code for spi configuration:
[code]
Other than that I am using following code to read the device id of ADXL345 to en

[2021-12-10 10:37] ck-telecom commented on #41047
There is a led_pwm driver in drivers/led/led_pwm.c, whether we could using this driver in display driver, invoke the APIs like invoke SPI bus driver?

[2021-12-10 10:43] DariusBabrauskas commented on #41043
It not bad. But  if you enabled CONFIG_NO_OPTIMIZATIONS=y, then often occurs "Stack overflow".

What name of thread "unknown"?  Set  breakpoint  at point printing  "Current thread:"  and see which thread,then increase it size.

[2021-12-10 11:11] jfischer-no commented on #40640
yes, zephyr-v2.7.0 is affected.

[2021-12-10 11:47] #40783 closed

[2021-12-10 12:13] carlescufi commented on #40591
Note: TF-M is using QCBOR: https://git.trustedfirmware.org/TF-M/trusted-firmware-m.git/tree/lib/ext/qcbor

[2021-12-10 13:08] #16587 closed

[2021-12-10 13:09] carlescufi opened #41062 "kernel: userspace: Potential misaligned access"
See the comment in this Pull Request:
https://github.com/zephyrproject-rtos/zephyr/pull/40909#discussion_r765963496
and the corresponding commit:
https://github.com/zephyrproject-rtos/zephyr/commit/55350a93e9f545f1cfdf3ce10b020c8ce7d74ef7

[2021-12-10 13:12] caspermeijn commented on #41047
Yes, using led_pwm driver is what I meant with alternative 2. I was not able to prototype this solution before, but now I can and it seems easy. I will change the description to reflect this new insight.

[2021-12-10 13:22] #40640 closed

[2021-12-10 13:23] erwango commented on #41058
You're likely hit by the issue that is trying to be addressed here: https://github.com/zephyrproject-rtos/zephyr/pull/40998

[2021-12-10 14:08] erwango opened #41066 "twister --generate-map is broken"
**Describe the bug**
Following merge of https://github.com/zephyrproject-rtos/zephyr/pull/38656,
twister --generate-hardware-map is broken
[code]

Reverting https://github.com/zephyrproject-rtos/zephyr/pull/38656 makes it works again:
[code]

**To Reproduce**
$ twister --generate-hardware-map ../map.yml

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impac

[2021-12-10 14:16] tejlmand commented on #39626
@arludwig thanks for noticing this.

This has been fixed here: #41067

[2021-12-10 14:31] erwango commented on #40775
@jdascenzio I'm sorry, but I have to reopen this as we're getting regressions on other tests:
- tests/kernel/sched/metairq/kernel.scheduler.metairq
- tests/kernel/profiling/profiling_api/kernel.common.profiling
- tests/kernel/sched/schedule_api/kernel.scheduler
- tests/kernel/sched/schedule_api/kernel.scheduler.multiq
- tests/kernel/tickless/tickless_concept/kernel.tickless.concept
- tests/kernel/

[2021-12-10 15:01] jdascenzio commented on #40775
The problems seem to come from calling k_yield in the poll_out function. The tests don't expect (and surely do not want) that the current thread change when writing a message with printk (which uses poll_out). So, it's maybe a bad idea to use k_yield function in poll_out: k_yield is only used in optimization to force a thread change if the usart send stack is full.

[2021-12-10 15:07] caspermeijn commented on #41047
I know again what the problem is with using the led_pwm driver. If you have a DTS phandle to a single led, then you can't retreive the led number. The led number is basically the index of the led in the `gpio-leds` compatible.

I can't find an example of a DTS reference to a led in the main Zephyr repo. All led related examples loop over all leds in the first `gpio-leds` compatible.

@ck-telecom D

[2021-12-10 15:21] DariusBabrauskas commented on #40775
I am testing key == 0 in case:
irq_lock();
uart_stm32_poll_out();
irq_unlock() ;

My full code.  __DSB  I inserted into  irq_lock(), irq_unlock()
Note: possible  uart_stm32_poll_out can't be used before kernel init.
[code]

[2021-12-10 15:36] DariusBabrauskas commented on #40775
Yes, this tests was not writed to switch tasks.
It seem to me that, need to do with  config define, which defaul must be disabled: Exmp:

[code]

[2021-12-10 15:44] erwango commented on #40775
It seem to me that, need to do with config define, which default must be disabled: Exmp:

I'd prefer we first fix the default behavior and make sure current code doesn't bring any obvious regressions.
Then, please submit an enhancement proposal with clean rationale.

[2021-12-10 15:50] apsigma opened #41073 "twister: no way to specify arguments for the binary zephyr.exe"
**Is your enhancement proposal related to a problem? Please describe.**
When building/running tests on the native_posix platform, and the test has some BT HCI parts, the zephyr.exe complains that it doesn't have a bluetooth device, `Error: Bluetooth device missing. Specify one using --bt-dev=hciN`. I can then manually add the `--bt-dev=hci0` for example, and in my case the test then works.

When b

[2021-12-10 15:53] DariusBabrauskas commented on #40775
Yes @erwango   I agree.

[2021-12-10 16:16] MJayat opened #41074 "can_mcan_send sends corrupted CAN frames with a byte-by-byte memcpy implementation"
**Describe the bug**
Tested on board nucleo_g0b1re , it seems drivers/can/can_mcan.c has a problem.

If the implementation of memcpy compiled into Zephyr does a byte-by-byte copy, even on word-aligned addresses, then the tx_buffer in dedicated CAN Message RAM is corrupted. I think this is because it is supposed to be only accessed on word-aligned addresses.

The following copy of `struct can_mcan_

[2021-12-10 16:47] kurddt opened #41077 "console: gsm_mux: could not send more than 128 bytes of data on dlci"
**Describe the bug**
When sending more than 128 bytes of data through a muxed uart the header is not correctly formatted. This seems to be due to a wrong encoded length indicator in the frame header

**Expected behavior**
The header should be correct when sending more than 128 bytes

**Impact**
It's possible to work-around this bug by splitting the data to send in smaller chunck

**Additional cont

[2021-12-10 16:53] kurddt commented on #41077
@jukkar Since you seems to be the original author of the gsm muxing implementation I was wondering if you were able to test this use case (sending of more than 127 bytes)?
Since the 3GPP specification is not really explicit on which one of the length indicator byte is the MSB it could be a bug on the module side

[2021-12-10 17:06] DariusBabrauskas commented on #40775
One note:
If defined CONFIG_PRINTK_SYNC=y then prink internally  use k_spin_lock and printing all message without interrupts.
It seems to me that this tests must be use this config define, because uart_nrfx_uart.c  use  **k_msleep(1);** too, so task switched too.

[code]

[2021-12-10 17:15] erwango commented on #40775
If defined CONFIG_PRINTK_SYNC=y then prink internally use k_spin_lock and printing all message without interrupts.
It seems to me that this tests must be use this config define, because uart_nrfx_uart.c use k_msleep(1); too, so task switched too.

Let's fix the regression in the driver first.
Then we can suggest tests evolution and then get back to driver optimizations.

[2021-12-10 20:03] alexanderwachter opened #41082 "QSPI pinctrl definitions are missing for for STM32G4"
QSPI pinctrl definitions are not present on the stm32g4 series (for example stm32g474).

Bindings should be generated in the HAL.

[2021-12-10 21:42] #40633 closed

[2021-12-10 21:51] frantony commented on #6082
@remy-luisant

Please try this patch.

[code]
qemu works fine without it but real hardware may need it for correct work.

[2021-12-11 00:28] #38861 closed

[2021-12-11 09:41] ck-telecom commented on #41047
@caspermeijn I think it shall looks like this:

	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 13>;
		};
	};

&st7789v {
pwm-backlight = <&pwm_led0>;
}

[2021-12-11 11:21] caspermeijn commented on #41047
@ck-telecom Yes, I also think it should be something like that. But how do you use that reference to set the brightness of the pwm-led.

I try to finish my proof of concept code and I can give you a proper example.

[2021-12-11 12:03] ck-telecom commented on #41047
This way is a wapper of pwm-leds, you could invoke pwm-les APIs to control brightness, but you should binds the pwm-leds device, can you try to unterstand drivers/led/led-pwm.c, similar to invoke pwm APIs, but in st7789v driver, you should invoke pwm-leds APIs like set_brightness().

[2021-12-11 12:47] ck-telecom commented on #41047
I have a look at Linux backlight, it use /sys/class/leds/<some node> to control backlight, the don't combo this in the linux framebuffer drivers, so I am not sure it is a good idea to control pwm based backlight in a display driver, maybe we shall control pwm backlight using pwm-leds driver, that is fine to most applications

[2021-12-11 13:06] johnlange2 commented on #40393
Sounds good, will do. Thanks!

[2021-12-11 23:07] belolap opened #41089 "[backport v2.7-branch] backport of #40862 (power modes for STM32H7)"
Some boards on STM32H7 uses SMPS with different power supply configurations. So Zephyr 2.7 can't start without property power supply and clock init sequence. PR #40862 add support for all possible power supply configurations.

I suggest to backport #40862 to zephyr 2.7, so more boards can start.

[2021-12-12 00:29] #38878 closed

[2021-12-12 04:16] idkq opened #41093 "Kconfig.defconfig:11: error: couldn't parse 'default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency)'"
Installed nRF command line tools + nRF connect + VS Code Extensions, followed https://www.youtube.com/watch?v=2cv_jjqk5hg&t=381s.

OS: Mac OS Monterey

Issue when building:

[code]

Print:

<img width="1015" alt="image" src="https://user-images.githubusercontent.com/76702881/145699980-35050e07-9ecb-4fa3-ac8d-c3c3dd30e261.png">

[2021-12-12 13:00] hakehuang commented on #41066
@erwango please help to check #41094 , thanks

[2021-12-12 13:08] binujacob1337 opened #41095 "libc: newlib: 'gettimeofday' causes stack overflow on non-POSIX builds"
**Describe the bug**
Calling 'gettimeofday' in a non-POSIX build results in recursive calls and ultimately causes stack overflow.

gettimeofday ->_gettimeofday_r -> _gettimeofday -> gettimeofday

Merging #35417 has introduced this issue. This merge has broken the fix added by #22508 for a similar recursion issue.

The fix in #35417 probably fixed the gettimeofday for POSIX builds, but has broken t

[2021-12-12 13:59] Marco-Peter commented on #37883
I also ran into the same issue.

Using the timings provided by @erwango works in principle.

The problem now is that many - if not all - timings in BT Mesh operation are hardcoded into the Bluetooth code.

Scanning interval and window are taken from [subsys/bluetooth/mesh/adv.h](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/bluetooth/mesh/adv.h), line 16 and 17:
[code]

GATT provis

[2021-12-12 18:08] AshwinKrishn opened #41097 "west init issue"
**Describe the bug**
When we do west init for the project, it tried to download the master branch. The branch is deleted. Why is the west tool not fetching main branch.

Please also mention any information which could help others to understand
the problem you're facing:

**To Reproduce**
west init ~/zephyrproject

**Expected behavior**
A clear and concise description of what you expected to happen

[2021-12-12 18:31] npitre commented on #40903
Someone more familiar with the Sphinx tool could file a bug report with
that project.

What I did is to hide that typedef from view. This is an implementation
detail that users of the code don't need to know about anyway.

[2021-12-12 19:21] thedjnK commented on #41097
1.  `west init ~/zephyrproject` and `west init -mr ~/zephyrproject` are not the same
2. What version of west are you using? This change was made to west half a year ago. https://github.com/zephyrproject-rtos/west/commit/f97f986f30ed54b3e5366cbac2e38c5ed7e38854

[2021-12-12 20:26] fkan-ec commented on #40795
I pushed in a few small changes that clean up the code a bit. Most of the code is replication of threads and timers. The main code consist of 5 main threads and 10 timers (all identical). Each thread has two timers which fires off a signal which the thread catches with k_poll and process. Each timer uses 2ms duration to fire off signal to its respective thread using (k_poll_signal_raise). The thre

[2021-12-12 20:27] AshwinKrishn commented on #41097
west version is:
West version: v0.6.3
The getting started page still has the "west init ~/zephyrproject".

When I do "west init -mr ~/zephyrproject" the folowing happens

west init -mr ~/zephyrproject
=== Initializing in /home/user/zephyrproject
--- Cloning manifest repository from r, rev. master
Initialized empty Git repository in /home/user/zephyrproject/.west/manifest-tmp/.git/
fatal: 'r' does

[2021-12-12 21:17] thedjnK commented on #41097
0.6.3 is ancient 0.12.0 is latest. Update using `pip install -U west`

[2021-12-13 00:29] #37824 closed

[2021-12-13 00:29] #37501 closed

[2021-12-13 01:34] Kshitij4kk commented on #41058
Thanks @erwango for the information.
I have not been able to perform any successful transaction on the SPI device yet so mostly I am stuck with the specified issue here.
So can we conclude that we can't use SPI1/2/3 currently on stm32h7 boards with Zephyr driver or is there some work-around possible?

[2021-12-13 03:43] Sir-Branch commented on #39242
Is there any updates on this? I believe this might be causing some issues for me, I'm not experiencing a crash but my call to getaddrinfo is hanging (running on an LTE-M modem, so it might be platform dependent)

[2021-12-13 07:10] henry-hsieh opened #41100 "Non-standard RISC-V assembly is used"
In zephyr, some non-standard `jalr rd, rs` pseudo-instructions are used. The pseudo-instructions are not defined in official [RISC-V assembly manual](https://github.com/riscv-non-isa/riscv-asm-manual/blob/master/riscv-asm.md). I think that it's better not to use the instructions in kernel code and replace them to legal instructions such as `ret` for standard return pseudo-instruction or `jalr rd,

[2021-12-13 08:01] erwango commented on #41058
Current situation is that there are some specific clock configuration cases where SPI baud rate caclulation goes wrong, cf https://github.com/heinwessels. Otherwise it is expected to be functional.

[2021-12-13 08:09] #39297 closed

[2021-12-13 08:12] trond-snekvik commented on #41093
Hi, this is most likely a configuration issue with your extension environment, and not an issue in the kconfig files themselves, so let's start there.

This is usually a sign that the python executable running in your extension environment is different from the python executable west runs in. You can change this by configuring `kconfig.python` in your VS Code settings to point to the same python i

[2021-12-13 08:13] erwango commented on #37883
Thanks @Marco-Peter for the tests.

@jhedberg cf previous comment. How would you suggest to proceed in order to help progressing on this topic. Would it be acceptable for us to propose configurable or alternate timings for BT Mesh ?

[2021-12-13 08:24] jukkar commented on #41077
I do not remember testing this. There are no unit tests for the muxing driver so all the testing is "manual" (at least now), there are probably bugs in the code because of this. Thanks for the PR, it looks good.

[2021-12-13 09:22] gmarull commented on #40903
You are welcome to open an issue on the [Sphinx repository](https://github.com/sphinx-doc/sphinx) with an example to reproduce the problem. I'll close this issue, since it's not really a Zephyr bug.

[2021-12-13 09:22] #40903 closed

[2021-12-13 09:35] carlescufi commented on #41100
@henry-hsieh thank you for pointing this out! Would you be willing to send a Pull Request with those fixes?

[2021-12-13 09:38] carlescufi commented on #41097
As @thedjnK mentions, please update west (and Git if you have an old version of that too).

[2021-12-13 09:38] #41097 closed

[2021-12-13 11:36] alexanderwachter commented on #41074
Good catch!
Can you send a PR with a memcpy32 for 32 bits within m_can.c ?
IIRC there is already such a memcpy inside m_can.c

[2021-12-13 12:14] MJayat commented on #41074
ok, I'll open a PR.

There's no memcpy32 available. I am not sure what the best implementation for this would be. Just casting to uint32_t* and looping over it would break C aliasing rules. (unless going through `char*`)

I suppose we can extend the use of unions with data_32 fields.

Just reading the code, I suspect that `msg_ram->std_filt[filter_nr] = filter_element;` in `can_mcan_attach_std` ha

[2021-12-13 12:56] AshwinKrishn commented on #41097
Hello I did  upgrade west and now it works. But I had to manually install west package using wheel. Probably this is a very old machine,

[2021-12-13 13:06] AndreyDodonov-EH commented on #39242
@Sir-Branch Not yet, there is a workaround in this PR, which worked for me:
https://github.com/zephyrproject-rtos/zephyr/pull/39243

But this workaround will prevent you from dns resolving from multiple threads, so it is not an acceptable solution.

[2021-12-13 13:27] too1 opened #41111 "uint64 overflow in z_tmcvt() function"
**Describe the bug**
[This codeline](https://github.com/zephyrproject-rtos/zephyr/blob/main/include/sys/time_units.h#L133) in time_units.h has an issue when
the to_hz argument is larger than the from_hz argument, and the timestamp t is larger than (UINT64_MAX / to_hz).
When using the gettimeofday() function this will happen once k_uptime_ticks() returns a value larger than (UINT64_MAX / to_hz), wh

[2021-12-13 14:01] jhedberg commented on #37883
@erwango scan interval == scan window is known as "continuous scanning" and IIRC the mesh spec either implies or explicitly recommends it. So far the way radio scheduling has been implemented in other controllers hasn't caused any similar issues. @trond-snekvik @cvinayak any comments here?

[2021-12-13 14:09] trond-snekvik commented on #37883
+1 for continuous scanning, this should be the way all controllers do scanning with mesh.

That makes sense to me

[2021-12-13 14:09] jhedberg commented on #37883
Regarding the question of whether these should be made configurable through Kconfig - I'm not opposed to that.

[2021-12-13 14:18] pdietl commented on #41074
@MJayat We can do something like here: https://git.musl-libc.org/cgit/musl/tree/src/string/memcpy.c
and we can use the type attribute `__may_alias`

[2021-12-13 14:53] dleach02 commented on #36986
Closing due to lack of response from submitter per policy

[2021-12-13 14:53] #36986 closed

[2021-12-13 16:41] richardbarlow opened #41117 "Incorrect setting of gyro sensitivity in LSM6DSO driver"
**Describe the bug**

The LSM6DSO driver does not set the gyro sensitivity (full-scale setting) correctly. An example walk-through of the issue when trying to set ±2000°/s full-scale:

Zephyr driver gyro configuration (hard-coded magic numbers that don't align with stmemsc API):

https://github.com/zephyrproject-rtos/zephyr/blob/13bf2e5e48737f5971bdfa2ee683453e379403ea/drivers/sensor/lsm6dso/lsm6d

[2021-12-13 16:44] erwango commented on #40775
@DariusBabrauskas, I had some thinking about this and I wonder if switching task on poll_out would make any sense.
When multiple threads are using same console output, switching tasks on poll_out would always have the consequence of mixing the chars at output, and hence application output would be garbled.
I can't think of one application where mixing threads messages (hence useful information) to

[2021-12-13 17:15] jdascenzio commented on #40775
The new thread that run after a k_yield is not necessarily a thread that writes a message to the console.

[2021-12-13 18:35] idkq commented on #41093
Thanks @trond-snekvik indeed my python was wrong. This solved the issue.

My environment $PATH (terminal) was pointing to a Espressif python. `/Users/me/.espressif/python_env/idf4.4_py3.9_env/bin/python`

If help others, how I fixed in VS Code (macOs):

1. Go to Code -> Preferences -> Settings
2. On the search bar at the top, type `kconfig`
3. On the left, below `Extensions` click `Kconfig`
4. On

[2021-12-13 18:35] #41093 closed

[2021-12-13 18:41] trond-snekvik commented on #41093
Great!

If you struggle with the build, it should be the first check you make, but if `west build` still works fo you, I wouldn't bother

[2021-12-13 19:09] Sir-Branch commented on #39242
I appreciate the update :smile:

[2021-12-13 23:23] ballardr commented on #40065
@Mani-Sadhasivam, I'm just wondering if you have any update?

[2021-12-13 23:30] danieldegrasse opened #41127 "OpenAMP Sample does not work on LPCXpresso55S69"
**Describe the bug**
OpenAMP sample does not correctly boot second core, so the sample stalls and the cores do not message each other.

The bug is caused by the `cpu1` CPU core getting the wrong flash load offset and size assigned when `TFM_BL2` is not selected. The regression was introduced by edfaa399, since the `TFM_BL2` symbol will not only be false when it is not explicitly selected, but when

[2021-12-14 00:27] #40887 closed

[2021-12-14 01:30] #39942 closed

[2021-12-14 01:30] #40758 closed

[2021-12-14 01:38] henry-hsieh commented on #41100
Sure. I'll fix them later.

[2021-12-14 02:18] peter-mitsis commented on #40376
Below is a current summary of where things currently stand ....

1. The problem appears because too many ticks are being announced at once. This leads to two threads waking up at the same time instead of sequentially.
2. On my test setup that is using Renode for emulating the hifive1, ticks are announced in multiples of 24.
3. The timer's comparison register (mtimecmp) appears to be set correctly

[2021-12-14 02:52] LixinGuoX commented on #40376
It is a weird issue indeed, maybe we need to exclude this board temporary to ensure CI runs smoothly.  #41134

[2021-12-14 03:43] ck-telecom commented on #41047
DT_NODELABEL(pwn_led0) maybe helpful

[2021-12-14 07:15] npal-cy opened #41140 "Update hci_core to execute vendor-specific commands to initialize BT Controller before hci_init calls common_init."
**Is your enhancement proposal related to a problem? Please describe.**
For integration CYW43xxx Bluetooth IC into Zephyr i need to have possibility to execute vendor HCI commands before hci_init calls common_init. Main reason for that is: the CYW43xxx device requires downloading the controller firmware (via vendor HCI commands) after a power-on.

I am going to use the HCI H4 driver. HCI H4 driver

[2021-12-14 07:34] cvinayak commented on #41140
@jhedberg  and @npal-cy Add earlier email conversations, here:

Vinayak

[2021-12-14 07:41] remy-luisant commented on #6082
@frantony

Sorry for the absence. All my electronics/embedded stuff is sadly just a hobby/portfolio thing and I needed to focus elsewhere for a while. I finally have a potential employer lined up now, so I can take a look at this again a little bit more.

What hardware are you running this on and what are the symptoms of the problem? Possibly related: As part of my XIP exploration I developed a pa

[2021-12-14 08:22] npal-cy commented on #41140
Hi Vinayak,
1. to be able to use Vendor HCI command/Response on bt_enable() after a HCI device is open but before the bt_init().

2. to be able to handle asynchronous Vendor HCI Events, if need be.

3. to be able to perform Device Firmware Update (DFU) or settings update, this would involve synchronization thereafter (similar to CONFIG_BT_WAIT_NOP).

4. to be able to use the feature conditionally,

[2021-12-14 09:24] DariusBabrauskas commented on #40775
Poll output can be switched by preempted task with bigger priority. ()
But  k_yield  is better, because it release cpu time for other task with same priority. (Possible this task must handle received data, if not handle data can be lost).

[2021-12-14 10:19] ainguraXmarquiegui commented on #33747
@hakehuang , I'm sad to report that I see no improvements when using these commits:

https://github.com/hakehuang/zephyr/commit/5204bead0bd9b28949b287ce8b6450665fe13024
https://github.com/NXPmicro/hal_nxp/commit/2d7a8a4de179e9010b3be013a2f64f0103768c06

Clock keeps drifting with no synchronization, as you can see in this image:

![IMG_20211214_111415](https://user-images.githubusercontent.com/7226

[2021-12-14 11:25] carlescufi commented on #20419
This is now complete

[2021-12-14 11:25] #20419 closed

[2021-12-14 11:30] #40965 closed

[2021-12-14 12:01] manoj153 opened #41146 "Allow customize timestamp format"
It would be nice if zephyr allowed registering a user-provided function to format the output string of the timestamp.

Perhaps introduce a new kconfig symbol as an alternate to `CONFIG_LOG_BACKEND_FORMAT_TIMESTAMP`?
Will `CONFIG_LOG_BACKEND_FORMAT_TIMESTAMP_CUSTOM` sounds good?

[2021-12-14 12:15] carlescufi commented on #41146
@manoj153 sure, would you mind sending a Pull Request with a proposal?

[2021-12-14 12:42] #40119 closed

[2021-12-14 14:08] #40776 closed

[2021-12-14 14:09] zephyrbot opened #41150 "[backport v2.7-branch] backport of #40835 failed"
This issue was created automatically because the backport of #40835 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-40835-to-v2.7-branch`.

[2021-12-14 14:10] brgl opened #41151 "RFC: Provide k_realloc()"
## Introduction

### Problem description

Zephyr provides `k_malloc()`, `k_calloc()` and `k_free()` but not `k_realloc()`. This RFC is about providing it or finding a different solution for the first potential user that is LVGL v8.

Background: Zephyr currently uses LVGL v7. I'm working on a changeset that will bump the LVGL version to v8 ([link](https://github.com/zephyrproject-rtos/zephyr/issues

[2021-12-14 14:12] carlocaione commented on #41151
@npitre

[2021-12-14 14:17] jfischer-no commented on #41150
#40835 should not be backported

[2021-12-14 14:17] #41150 closed

[2021-12-14 15:30] lgl88911 opened #41153 "rt i2s build fail"
**Describe the bug**
rt1052/1062 i2s compilation error

**To Reproduce**
Steps to reproduce the behavior:
1. download test branch https://github.com/lgl88911/zephyr/tree/rt_i2s_verify
2. git checkout 17b447087f50
3. west build -b mimxrt1060_evk zephyr/samples/drivers/i2s/echo/
4. See error
[code]

There are several obvious clerical errors in i2s_mcux_sai.c that cause the compilation to fail. Maybe

[2021-12-14 15:37] erwango commented on #41089
@belolap Indeed, backporting this one is justified.

[2021-12-14 16:25] hakehuang commented on #33747
@ainguraXmarquiegui  this result is expected. I only fix a float comparison issue in driver, and no mocu algorithm update, but looks like the clock shifts are controlled in a region, correct? there are some algoritnm change required for driver. BTW, what is the result if you using the former dirver for frdm_k64f?

[2021-12-14 16:37] hakehuang commented on #41153
@lgl88911 this driver still need some more PR to work, but there is some merge/split error, I will provide a quick fix

[2021-12-14 16:53] cvinayak commented on #39438
@jakkra I have made a consolidated PR of all the open changes to the controller, please test this PR with your application: https://github.com/zephyrproject-rtos/zephyr/pull/41091

[2021-12-14 16:54] cvinayak commented on #40317
@jakkra I have made a consolidated PR of all the open changes to the controller, please test this PR with your application: https://github.com/zephyrproject-rtos/zephyr/pull/41091

[2021-12-14 16:54] MaureenHelm commented on #41012
I think you have an issue pulling in the correct `IRQn_Type` definition from the MEC HAL, and may be falling back onto some default generic CMSIS definition. There are several NXP and STM M7 SoCs in-tree that support a large number of IRQs, so I think this problem is specific to Microchip.

[2021-12-14 17:00] ainguraXmarquiegui commented on #33747
@hakehuang , great!

Let me ask you a couple of questions in the interest of clarity:

1. Are you working on the required algorithm changes you say are necessary?

2. Do you want me to repeat this test using the same code on a frdm_k64f?

[2021-12-14 17:15] hakehuang commented on #33747
@ainguraXmarquiegui

`Are you working on the required algorithm changes you say are necessary?
yes, I am working with our expert on improve this or opensource our gptp statck.

`Do you want me to repeat this test using the same code on a frdm_k64f?
Actually, I remember you said in old driver, gptp is synced on frdm_k64f platfrom, am I right?  if so, there is no clock shifting at all. I guess there

[2021-12-14 17:46] ainguraXmarquiegui commented on #33747
@hakehuang , I have just flashed this version in a frdm_k64f:

https://github.com/hakehuang/zephyr/commit/5204bead0bd9b28949b287ce8b6450665fe13024
https://github.com/NXPmicro/hal_nxp/commit/2d7a8a4de179e9010b3be013a2f64f0103768c06

Bad news:  I haven't been able to find the PPS pin so far. It's at least not in the same pin where it was in my previously tested code.

Do you know which pin I should

[2021-12-14 19:44] #41077 closed

[2021-12-14 19:45] belolap commented on #41089
Ok, I'll make PR tomorrow.

[2021-12-14 20:05] jvasanth1 commented on #41012
Previously it worked for us using MEC1501 device because we created separate typedef enum in MEC1501hsz.h under zephyr/modules/HAL/microchip/mec/mec1501/

But for MEC172x we are following zephyr guideline to avoid create new typedefs (such as IRQn_Type) in the main Zephyr code tree. Therefore enum IRQn {} comes from zephyr/include/arch/arm/aarch32/cortex_m/cmsis.h
We believe this is not as issue f

[2021-12-14 20:10] gopiotr opened #41169 "twister: program get stuck when serial in hardware map is empty string"
**Describe the bug**
When in hardware map serial option is set as empty string, the program do not rise any error - instead of this it goes forward and gets stuck into wait for device loop

**To Reproduce**
Steps to reproduce the behavior:
1. Create hardware map file with serial option as empty string. For example like this:
[code]
2. Run Twister by command:
`scripts/twister --device-testing --har

[2021-12-14 20:26] frantony commented on #6082
I use this: https://www.seeedstudio.com/LinkIt-Smart-7688.html

The symptom is very simple: Zephyr just hangs without any message.

Now I use a more appropriate patch to make Zephyr work on LinkIt-Smart-7688:

[code]

[2021-12-14 20:26] caspermeijn commented on #41047
@ck-telecom I finished my prove of concept. See TODO at the link below for the problem I had with the reference.

[2021-12-14 23:30] npitre commented on #41151
Yes, most likely because no one needed it so far.

The low-level heap layer has that. It is `sys_heap_usable_size()`.

However `k_malloc()` is a layer above `k_heap_alloc()` which is a layer
above `sys_heap_alloc()` (and the aligned variation). You'd have to cross
the same layers to implement the equivalent of `k_usable_size()`.

Also, the low-level heap layer already implements `sys_heap_realloc(

[2021-12-14 23:42] nashif commented on #40624
The issue here is that we are waiting for coverage data that is not coming, because the platform does not support coverage, ie.. it does not enable `HAS_COVERAGE_SUPPORT`.

[2021-12-14 23:50] nashif commented on #40668
timeout is not the problem.
Running coverage on hardware is not something that is well supported or supported at all. --coverage works fine qemu and native posix targets that have HAS_COVERAGE_SUPPORT.

Before reporting this as a twister bug, please make sure you get coverage data with just building and flashing on a device, see if you get the desired output, twister is just the final step, it doe

[2021-12-15 00:18] nashif commented on #38047
BOARD_ROOT is not something twister cares about, this is a build system variable and as you see above, it is different from what you specify to --board-root. So either put this in the module yaml file or declare it before you call twister.

[2021-12-15 00:18] #38047 closed

[2021-12-15 00:20] nashif commented on #39216
Now a twister issue, this is the good old CONFIG_NULL_POINTER_EXCEPTION_DETECTION bug.

[2021-12-15 00:29] #37602 closed

[2021-12-15 06:16] hakehuang commented on #33747
yes, we do not enable this irq

[2021-12-15 06:46] 99003662 opened #41179 "API' Calling issue"
Hi ,
     i am new to zephyr rtos and am struct in a position where I can't figure out how api's will be called..
                                          For ex-  am referring flash.h driver file , it has functions like **flash_read, flash_write** etc fine. now am using one of api , i.e. **flash_write ()** in my code fine. so that function internally calling one more function named **write()** ,

[2021-12-15 08:02] Mani-Sadhasivam commented on #40065
@ballardr Sorry for the long delay. Not getting enought spare time these days...

For changing the region dynamically, we could make use of `LoRaMacDeInitialization` API provided by loramac-node. But for compatibility we still need to keep the Kconfig way of specifying the regions. I think a new API that does de-init and init of LoRaMAC with new region should be introduced. And this API can be cal

[2021-12-15 08:27] lairdjm commented on #40668
@nashif this is relevant part of the bug

[2021-12-15 09:20] Thalley opened #41183 "LE Audio: BAP Scan Delegator"
Implement the scan delegator role from BAP.

This will require a rewrite and reuse of some of the code in bass.c, and utilize the broadcast sink API.

[2021-12-15 09:25] Thalley opened #41184 "LE Audio: OLCP to error code conversion"
The OLCP_RESULT_TO_ERROR macro used by MCS converts OTS success values to zero, to pass it of as an errno error values.

We want this macro to also convert the other OTS return values to sensible error codes, so that they are meaningful to the application and does not "collide" with the GATT errors.

Also, there seems to be a bug in the macro: It is called OLCP_<...>, but uses the OACP success val

[2021-12-15 09:27] Thalley opened #41185 "LE Audio: CAP API - Commander"
Design the API for CAP

See notes from F2F (pending) for agreement on direction for this API

[2021-12-15 09:27] Thalley opened #41186 "LE Audio: CAP API - Initiator"
Design the API for CAP

See notes from F2F (pending) for agreement on direction for this API

[2021-12-15 10:04] Thalley opened #41188 "LE Audio: Remove stream (dis)connected callback from stream ops"
For connected/disconnected, use started/stopped instead.

For unicast, those are the states that really matters.

For broadcast, those are also used, although not part of a control point operations.

The remaining callbacks should be guarded for only unicast audio.

[2021-12-15 10:05] Thalley opened #41189 "LE Audio: Callback/notification for player name"
For GMCS (which is used in our implementation) it is mandatory to notify the player name.
Our implementation is missing the callbacks for this (for both the synchronous and normal controller)

Note: The notification must use the notify_string helper function, to ensure proper truncation if required.

[2021-12-15 10:06] Thalley opened #41190 "LE Audio: Upstream BAPS"
Upstream the BAPS implementation from topic-le-audio branch

[2021-12-15 10:09] Thalley opened #41191 "LE Audio: Update pac_indicate to actually send data"
pac_indicate has not been implemented to send any actual data, where it should send the PAC records.

[2021-12-15 10:10] Thalley opened #41192 "LE Audio: Change PACS from indicate to notify"
PACS is implemented as indicating changes, rather than notifying, making it incompatible with the PACS spec.

Change from bt_gatt_indicate() to bt_gatt_notify()

[2021-12-15 10:10] carlescufi commented on #40107
@rerickson1 ping on this one

[2021-12-15 10:11] carlescufi commented on #40360
Leaving this unassigned until someone familiar with TI can take it.

[2021-12-15 10:11] Thalley opened #41193 "LE Audio: Couple `IN` audio stream with an `OUT` audio stream"
A CIS can be bi-dirctional, but an audio stream is not.  We want to be able to use the same CIS for both an IN stream and an OUT stream.

An audio stream is always either IN or OUT, but a client may setup a single bidirectional CIS for both an IN and an OUT audio stream. We will need some way of coupling such streams.

E.g.
- a function to pair two streams, giving them a reference to each other
-

[2021-12-15 10:11] Thalley opened #41194 "LE Audio: Remove support for bidirectional audio streams"
As a developer I want to use audio streams as they are defined by BAP, where they are only unidirectional.

Remove the `BT_CODEC_QOS_INOUT`, so that a single stream cannot be configured for both audio in and audio out.

(CISes can be bi-directional - add support for two BAP streams sharing a CIS stream later.)

Remove macro, update LC3 defines

[2021-12-15 10:12] Thalley opened #41195 "LE Audio: Unify the unicast client and server API"
As a developer I want to use the same API for audio streams for both server (local) and client (remote) streams.

 Some functionality can only be done as client, and some only as the server, depending on whether the stream in sink or source. Refer to the BAP and ASCS specs.

Currently to some degree unified.

2021-11-02: Postponed until F2F

[2021-12-15 10:13] Thalley opened #41196 "LE Audio: Reconfigure Unicast Group after creation"
As a developer I want to reconfigure my bt_audio_unicast_group after creating, such as changing the codec, QoS or adding more audio channels.

[2021-12-15 10:14] Thalley opened #41197 "LE Audio: Use BT_MEDIA_PROXY values instead of BT_MCS"
Use MEDIA_PROXY defines instead of BT_MCS defines in implementation where suitable.
Note: Also involves evaluating CONFIG names

2021-11-16:
Addition: Use BT_MCC, not BT_MCS, for client functions

[2021-12-15 10:14] Thalley opened #41198 "LE Audio: Broadcast assistant"
As a user I want to be able to use the bt_audio API as the broadcast assistant role

[2021-12-15 10:15] Thalley opened #41199 "LE Audio: Media API with one call per command, rather than sending opcodes"
(This is something we may, or may not, want to do. Issue created for record-keeping and future consideration.)

Change the MCC and media_proxy APIs to have one function call per possible command, rather than one function call sending command opcodes.

E.g.: bt_mcs_play()
bt_mcs_pause()

rather than

bt_mcs_send(BT_MCS_OPC_PLAY)
bt_mcs_send(BT_MCS_OPC_PAUSE)

This would add 21 function calls to the

[2021-12-15 10:16] Thalley opened #41200 "LE Audio: Other postponed MCS cleanups"
Some issues were postponed during https://github.com/zephyrproject-rtos/zephyr-bt-sig/pull/230

This is a reminder issue to investigate and fix those.
Go through the unresolved comments

Return of ENOTSUPP
#ifdef guards in header filers
Reorder _get functions?

Clear up header filer dependencies - media_proxy.h currently depends upon mcs.h

[2021-12-15 10:17] Thalley opened #41201 "LE Audio: Improved media_proxy internal data structure"
We want an improved internal data structure for the media proxy

the mcc callbacks should be moved to the mprx struct
- 2022-03-02: DONE

the remote player to be guarded bt CONFIG_BT_MCC
- 2022-03-02: DONE - guarded by CONFIG_MCTL_REMOTE_PLAYER_CONTROL_BT

the player pointers to be replaced/changed so that they can be used for player existence checks, and the "registered" variables can be removed.

[2021-12-15 10:18] Thalley opened #41202 "LE Audio: Cleanup handling of objects and included OTS"
Expected things to do

- ensure local controller using media_proxy can access media player objects directly, not via MCS
- => probable solution: Add direct object interface to MPL
- update handling of included services to follow pattern from VCS (can possibly be factored out as separate story)
- handling of objects in media_proxy
  - API, functions and callbacks - ~8 or so APIs
- update media_cont

[2021-12-15 10:20] Thalley opened #41203 "LE Audio: BASS write long"
As a user I want to add or modify sources with metadata longer than my ATT MTU

[2021-12-15 10:20] Thalley opened #41204 "LE Audio: BASS read long"
As a user I want to be able to read receive states that are longer than my ATT MTU.

[2021-12-15 10:21] PerMac commented on #40624
Do we need an extra filtration then when `--coverage` is used?

[2021-12-15 10:21] Thalley opened #41205 "OTS: Debug metadata output"
Introduce in the upstream OTS functionality similar to the bt_ots_dump_metadata() from downstream.
Also consider bt_ots_dump_directory_listing() if it does not exist

2021.04.21:
- is this a debug dump function or to-string function?
- in favour of to-string so that the dump is represented as information that can be logged or used via shell subsystem
  - We want object id, name, current size, allo

[2021-12-15 10:43] Thalley opened #41207 "Bluetooth: Macro for defining variable number of same GATT characteristic"
As a developer I want to be able to define multiple copies of a GATT characteristic in a single service easily.

As a suer I want to be able to define the number of such GATT characteristics for a service using Kconfig.

The idea is to take `BT_GATT_SERVICE_INSTANCE_DEFINE` and create a similar macro for characteristics, rather than services.

[2021-12-15 10:43] Thalley opened #41208 "LE Audio: BASS use multi-characteristic macro for receive states"
As a developer I want to use the macro from https://github.com/zephyrproject-rtos/zephyr/issues/41207 to define multiple instances of the receive state characteristic.

As a user I want to be able to set a variable number of receive state characteristics for the BASS using Kconfig.

[2021-12-15 10:45] Thalley opened #41209 "LE Audio: MCS support for multiple instances"
As a user I want to be able to instantiate multiple media control services using Kconfig.

Update MCS to use the `BT_GATT_SERVICE_INSTANCE_DEFINE` macro to define multiple services and update any other necessary code.

Includes
- changing to returning the instance pointer in the discover call, as VCS
- adding conn parameter to the discover call

[2021-12-15 10:46] Thalley opened #41210 "LE Audio: Automated tests for TBS/CCP"
As a developer I want have automated tests to validate any changes done to the TBS server or client.
As a developer I want all API calls to be tested on the server and on the client.

2021-11-16
- Expect these tests to be BabbleSim tests
- Have some limited tests - around 25 percent of the functionality tested

[2021-12-15 10:47] Thalley opened #41211 "LE Audio: BASS support for multiple connection"
As a user I want to be able to connect to two true wireless earbuds and offload scan for both of them to connect to a BIG.

[2021-12-15 10:48] Thalley opened #41212 "LE Audio: Store of bonded data"
(Converted from a VCS issue to a general issue)

 We store a lot of data on the client, but do not have a means of restoring these data on reboot.
Similarly, some data is stored on the server side.

Update clients/servers to be able to export the client data to the application, so that it can be saved in flash and restored.

What about e.g. volume settings - must they be restored after reboot?

Q:

[2021-12-15 10:49] Thalley opened #41213 "LE Audio: Update GA services to use the multi-instance macro"
This has already been done for AICS and VOCS, but is remaining for others

[2021-12-15 10:49] Thalley opened #41214 "LE Audio: Add public API to CCP/TBS"
Add a public API for the Call Control client and the Telephone Bearer Service.

Todo:
- Guesstimate, >20 functions?!! already in tbs header + some callbacks
  - Functions do exists, this is to make a common public interface for local and remote
- Add tests in a different PR, as an exception to have smaller story point stories, create new story Gydesen, Emil create the new story.

[2021-12-15 10:50] Thalley opened #41215 "LE Audio: Split the Telephone Bearer and the TBS"
TBS contains a lot of data, and it is probably a good idea to split the functionality of the Telephone Bearer (service side control) from the TBS (GATT) service, similar to how the Media Control Service and the Media Player are designed.

[2021-12-15 10:51] Thalley opened #41216 "LE Audio: Make optional characteristics actually optional by using Kconfig"
Add Kconfig options for each of the Generic Audio services to make the (spec) optional characteristics actual optional. This will provide a more flexible implementation, and optionally save memory usage.

This may need to be split into multiple issues, as otherwise it will be a huge task.

[2021-12-15 10:52] Thalley opened #41217 "LE Audio: Support for a minimum CCP client"
The CCP client implementation right now is a fully-featured implementation, with support for everything, including multiple instances of TBS.

The minimum CCP client should only subscribe to e.g. Call State list (or perhaps the Current Calls list) and the control point, and then either only use GTBS, or in the case of a single TBS instance, just one TBS instance.

The Simple client should be enabl

[2021-12-15 10:52] Thalley opened #41218 "LE Audio: TBS/CCP long read"
Need to properly handle long notifications from TBS in the Call Control client.

The easy way is to simply do a read if the value matches the MTU, but is slightly troublesome as the CC client does not now whether notify multiple, or notify (1 octet difference in header len) was used, and can thus not properly determine if the lenght is the MTU size.

Request to add a field to the long values for t

[2021-12-15 10:53] Thalley opened #41219 "LE Audio: Unify list handling for groups, tracks and segments"
I want the list handling for groups, tracks and track segments unified, using the same functions, so that I can avoid the triplicate set of functions that is there now and save some code and memory.

As part of this, I may want to use the zephyr-bt doubly linked list, instead of the list functions I have built myself, to gain reuse and save code/memory.

2020.12.02:
- currently baremetal list impl

[2021-12-15 11:04] benediktibk opened #41220 "STM32H7: Check for VOSRDY instead of ACTVOSRDY"
**Describe the bug**
In soc_m7.c:91the system is waiting for VOSRDY to become ready. According to the reference manual of a STM32H735 this bit should already be ready anyway at this point, but instead one should wait for ACTVOSRDY to become ready.

For working on a different issue I already changed this locally, and honestly it made no difference. At least in my case. I just stumbled upon this by

[2021-12-15 11:15] benediktibk commented on #41220
Just checked the reference manuals for the (as far as I know) all by zephyr supported H7 variants:

- H723
- H735
- H743
- H745
- H747
- H750
- H753

This behaviour should be the same for all of them, hence no differentiation based on the chip will be necessary.

[2021-12-15 11:57] gopiotr opened #41222 "tests: remove not existing platforms from platform allow or integration_platform"
**Describe the bug**
I worked on checking of platform existence in this PR: #41081 and in the result I discovered, that among Zephyr tests and samples, there are some not existing platforms in `platform_allow` and `integration_platforms` lists.

I tried to collect all those cases and assign to them person from CODEOWNERS file or from commits history.

People who are mention in following list: plea

[2021-12-15 12:34] pfalcon commented on #41222
I'd say that in this case (and perhaps others) you should ping maintainers of a platform in question, not the code piece where it's mentioned (well, maybe @dcpleung is a maintainer of "nsim" stuff, but I know nothing about it).

Doing a quick git log grep, adhoc nsim test configs above were introduced in 7387b56c61cd28285f8174e201f94309de446f8f . AFAIK, Andrew Boie no longer works on the project,

[2021-12-15 12:37] oyvindronningstad commented on #41222
For TFM you can ping @SebastianBoe instead of me.

[2021-12-15 12:54] Thalley opened #41224 "LE Audio: Telephony and Media Audio Profile (TMAP)"
Implement the TMAP

[2021-12-15 12:55] Thalley opened #41225 "LE Audio: Hearing Access Profile (HAP)"
- [x] #44058
- [x] #44059
- [ ] #44057
- [ ] #44056
- [x] #44055
- [x] #42522

[2021-12-15 12:57] Thalley opened #41226 "LE Audio: Public Broadcast Profile (PBP)"
Implement the PBP
Both API and sample/tests

[2021-12-15 12:57] gopiotr commented on #41222
@pfalcon Thank you for your comment. Yes you are right, in this case I will contact with @nashif, who merged Andrew Boie commit with `nsim_em_mpu_stack_guard` platform. Sorry to inconvenience you.

[2021-12-15 12:58] Thalley opened #41228 "LE Audio: Add a codec to Zephyr"
zephyr-bt host meeting 2020-09-08
From discussion at IOP in Vienna.
It is possible to get access to LC3 source for EHIMA - shared on individual basis.
MIT license, going into AOSP at some point
Non-optimized codec

asbjornsabo commented on 23 Mar:
EHIMA LC3 codec contributed
https://github.com/zephyrproject-rtos/liblc3codec/

[2021-12-15 12:59] Thalley commented on #41228
@Casper-Bonde-Bose @rymanluk Was this something you had started looking into?

[2021-12-15 13:04] Thalley opened #41230 "LE Audio: API Architecture and documentation for GAF"
We need to find a proper architecture for the APIs.

The solutions considered have mainly been to have either
1) An simple and abstract API for applications to use GAF.
2) A complex but flexible API

When designing the API, we need to keep in mind that

- Some applications may need to only use e.g. the Volume Control Profile (remote controller for just volume)
- Some applications may need to only

[2021-12-15 13:10] Casper-Bonde-Bose commented on #41228
@Thalley Yes, I have it building and have made c++ wrappers for Lc3Config and Lc3Encoder classes and have integrated the use of the codec into the unicast_audio_client sample application to transmit a 500Hz tone rather than test data (for the native_posix build). I'm experiencing some issues with encryption which means I cannot verify the encoding using an air-trace. Also I have a timing issue - e

[2021-12-15 13:14] yasirem opened #41231 "A voltage adjustment function to the regulator_fix API"
Hi,
We are using the ISL9122 (Buck-Boost Regulator With Bypass), which in addition to the on off functions, that are implemented in the regulator_fix API, requires an additional voltage set function. So, we were wondering if the regulator_fix API can be extended with a VSET function.
Thanks in Advance!

[2021-12-15 13:27] nashif commented on #33725
Throwing this in to get started and kick off the shuffling, covers a subset only, so feel free to add anything you think is missing, whether in chapter form or sub sections...

- Overview / Introduction
- Developing with Zephyr
    ○ Getting Started
    ○ Developer Guides
    ○ Contribution Guidelines
    ○ West
    ○ Modules
- Build and Configuration System
    ○ Build System
    ○ Configuration

[2021-12-15 13:40] Thalley commented on #41228
@Casper-Bonde-Bose Can we assign this to you then, and move to in-progress?

[2021-12-15 13:52] Casper-Bonde-Bose commented on #41228
@Thalley Sure. I assigned it to me, but I don't think I have access to move to in progress :-) At least I cannot drag the issue in the project overview.

[2021-12-15 14:10] SebastianBoe commented on #41222
@gopiotr : For the tfm related boards.

The board names should be changed from nonsecure and ns to _ns.

[2021-12-15 14:15] Thalley commented on #41228
Interesting. I'll have to look further into that. Moved it into in-progress for you :)

[2021-12-15 14:20] nashif commented on #41222
this is one to do that, ping everyone in the project about fixing what counts as a typo or misnamed platforms, OR you can take a stab at it and do the changes and fixes to get the right platforms in, the latter, will be faster and more efficient, you can then add people for review to make sure you have the right name.

[2021-12-15 14:38] #31868 closed

[2021-12-15 15:01] PerMac commented on #40449
Have you tried changing `runner` in hw map to `nrfjprog` (and having nrfjprog installed)? this is the recommended tool for nrf platforms. Your output shows `FAILED Flash error (device 21.554s)` so clearly the flashing doesn't work in your setup. The warning you were seeing (--snr depriciation) is just a warning, It is not the failure root cause.

[2021-12-15 15:02] rerickson1 commented on #40107
I won't be able to spend any time digging into this further until after the new year.

[2021-12-15 15:06] cfriedt opened #41237 "[v2.7] drivers: ieee802154_dw1000: use dedicated workqueue"
**Describe the bug**

Driver has dedicated workqueue for IRQ processing.
Submit work to dedicated workqueue intead of system workqueue.
It also fixes driver functionality when NET_TC_TX_COUNT is set to 0.

Bug description:
With NET_TC_TX_COUNT set to 0, and IRQ processing submitted to system workqueue can lead to a situation where lock mutex in `subsys/net/ip/net_if.c`, executed in workqueue conte

[2021-12-15 15:06] cfriedt commented on #41237
@jfischer-no - can you please fill in the details above?

[2021-12-15 15:20] pdietl commented on #41074
I will make a PR @MJayat if you're busy

[2021-12-15 15:25] MJayat commented on #41074
Please do. I've been busy indeed.

I have just worked around it for now by changing libc :)

[2021-12-15 15:57] PerMac commented on #40449
When I used map like yours (with `runner: jlik`) for nrf52840dk i was getting "flash error" and timeouts. After changing to nrfjprog it passes with the command your command. The difference is that if you don't use hardware-map, nrfjprog is used as default and works out of the box. With hw map you have to manually change the runner to nrfjprog

[2021-12-15 16:06] lairdjm commented on #40449
@PerMac it seems the issue here is a nordic issue, not sure if it's a silicon issue or nrfjprog issue, but when the module uses DWT for null pointer exception as per https://github.com/zephyrproject-rtos/zephyr/blob/main/soc/arm/nordic_nrf/Kconfig.defconfig#L45 (it used to use MWU which is why I was not encountering this issue with an earlier zephyr version), you cannot reset the module using `nrf

[2021-12-15 16:57] wcappelle opened #41240 "logging can get messed up when messages are dropped"
**Describe the bug**
When using USB logging, it might happen that the logging is not behaving like it should. The behavior is observed that when there are dropped messages, the logging only outputs messages (flushing) on the uart, when there are <dropped messages> + 1 in the ringbuffer.
The dropped messages in my case are occurring at startup (I only see the dropped message info the moment I start

[2021-12-15 17:21] avisconti commented on #41117
@richardbarlow If you want to take a look to the fix I would appreciate it. Thanks very much for reporting this bad issue.

[2021-12-15 17:37] richardbarlow commented on #41117
@avisconti Thank you for fixing the problem so promptly! I am not in a position to test the fix on real hardware at the moment, but reading through the change it looks good :+1:

I'll try to get the fix tested in the next couple of days.

[2021-12-15 17:45] avisconti commented on #41117
Thanks very much!

[2021-12-15 18:26] caco3 commented on #41043
Thanks for your input!
I traced it further down and learned that the crashes are caused by classical Buffer Overflows.

I will close this issue as the root cause is not related to I2C at all.

Just some notes for other readers:
- `CONFIG_NO_OPTIMIZATIONS` mostly didn't work for me, I got immediate Stack overflow.
- I get crashs because a function pointer gets altered and points to an invalid code

[2021-12-15 18:26] #41043 closed

[2021-12-15 18:48] gopiotr commented on #41222
@nashif thank you for this PR: #41238
BTW do you know what platform should be used there: `samples/userspace/syscall_perf` - `sample.syscall_performances` instead of `riscv32`? I tried to use `qemu_riscv32` board, but there is an error during build this sample on this board.

[2021-12-15 19:09] #40449 closed

[2021-12-15 19:09] #39179 closed

[2021-12-15 19:09] #40450 closed

[2021-12-15 19:18] danieldegrasse opened #41244 "subsys: pm: Low power mode transition broken"
**Describe the bug**
Transitioning into low power states fails with with the assertion `ASSERTION FAIL [state < PM_STATE_COUNT] @ WEST_TOPDIR/zephyr/subsys/pm/constraint.c:44` The root cause is [line 72 of `residency.c`](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/pm/policy/residency.c#L72), which is taking the incorrect address for the cpu state structure. This change was introd

[2021-12-15 19:22] dleach02 commented on #41244
FYI @gmarull

[2021-12-15 19:47] johnlange2 commented on #40393
I submitted a merge request for this here: https://github.com/zephyrproject-rtos/zephyr/pull/41175

[2021-12-15 20:39] #40936 closed

[2021-12-15 20:58] manoj153 commented on #35333
What is the plan to move this forward?
Can someone share? I can put a PR.

[2021-12-15 21:05] pdietl commented on #41074
@MJayat can you try this?

[2021-12-15 21:13] manoj153 opened #41249 "add ST: BLUENRG-LP HAL module"
## Introduction

There is some community interest to get ST bluenrg-lp SoC supported. #39520

This RFC is to understand the required work in a systematic order.

### Problem description
#### Based on my assessment and a discussion in discord :

- Required to add vendor HAL, [STSW-BNRGLP-DK](https://www.st.com/content/my_st_com/en/products/embedded-software/evaluation-tool-software/stsw-bnrglp-dk.h

[2021-12-15 21:55] nashif commented on #41222
no, this sample seems to be broken, we need to file a separate bug. @amergnat can you please fix this?

[2021-12-15 23:41] danieldegrasse opened #41251 "RT1170 EVK Can does not send data"
**Describe the bug**
The RT1170 EVK CAN bus does not correctly send data. This issue is not exposed when `samples/drivers/can` is build with the default configuration, as the internal loopback mode of the peripheral will correctly handle CAN data. In order to reveal the bug, another board needs to be connected to the RT1170 EVK, and both should be flashed with `sample/drivers/can` build with `CONF

[2021-12-16 00:16] remy-luisant commented on #6082
@frantony

Quick question. The linker script currently in use is partially relying on config variables, which are being set up elsewhere. A few other arches use dts for their SRAM/FLASH memory addresses.

Do you have a preference?

[2021-12-16 02:23] #40888 closed

[2021-12-16 03:15] peter-mitsis opened #41253 "kernel: fix typo in macro name ARCH_DYMANIC_OBJ_K_THREAD_ALIGNMENT"
The following files define and reference the macro ARCH_DYMANIC_OBJ_K_THREAD_ALIGNMENT:

    include/arch/x86/ia32/arch.h
    include/arch/x86/intel64/arch.h
    kernel/userspace.c

Although the use of this macro is consistent across these files, DYNAMIC is spelled incorrectly. As such, it should be renamed to ...
    ARCH_DYNAMIC_OBJ_K_THREAD_ALIGNMENT

A quick grep through the code indicates tha

[2021-12-16 03:40] stephanosio commented on #41095
@binujacob1337 Since you have already suggested a fix for this, would you be interested in opening a PR for it?

[2021-12-16 07:51] frantony commented on #6082
@remy-luisant

I suppose that using dts for  RAM/ROM memory addresses is a good idea.

I have updated MIPS branch several hours ago, please use it.

[2021-12-16 08:09] FRASTM commented on #41220
In the stm32h7_init(), as the LDO  (is switched on for M7 run Mode, it seems correct to monitor the VOSRDY bit of the PWR_D3CR register for the Domain3 : that's the LL_PWR_IsActiveFlag_VOS()
My understanding is that The ACTVOSRDY bit of the PWR_CSR1 register should be used to monitor the SVOS level as set by the PWR_CR1 register --> VOS in STOP mode.

[2021-12-16 08:15] erwango opened #41255 "drivers/can/can_mcan.c: address-of-packed-member warnings"
**Describe the bug**
Since cf111962e0d0c388bf806bbd9f17d49732daa264 warnings are generated on "address-of-packed-member"

3 of them are generated when compiling `drivers/can/can_mcan.c`
[code]

**To Reproduce**
Could be reproduced with the following command:
[code]

**Expected behavior**
No warnings at compile time

[2021-12-16 08:15] erwango commented on #41255
@alexanderwachter would you mind having a look ?

[2021-12-16 08:20] benediktibk commented on #41220
![startup_sequence](https://user-images.githubusercontent.com/9367089/146333533-16ebae70-522a-4260-94d4-0fd27394561d.png)
![startup_sequence_text](https://user-images.githubusercontent.com/9367089/146333928-50ee77aa-3f36-4009-9443-5a43c0bad922.png)

Looking at the reference manual I come to a different conclusion. VOSRDY will happen way earlier, before the actual code is executed after step 4 of t

[2021-12-16 08:25] erwango commented on #41249
I'd suggest to keep only the minimum required for zephyr porting: the peripheral drivers and CMSIS.
(I assume that the `STM32L4xx_HAL_Driver` mentioned relates to an additional STM32L4 mcu available on the board).
Also, I suggest to push these to https://github.com/zephyrproject-rtos/hal_st.

[2021-12-16 08:50] caco3 opened #41256 "Zero Latency Interrupts conflicts"
We have an application based on a nrf52840 and zephyr 2.7.0.
The system is used for a measurement device. We run an external ADC at 10 kSamples/s and read its data through SPI DMA transfers.
Thus, the ADC triggers an PPI interupt every 100 us which gets directly processed by the DMA without CPU interactions.
And also a timer counter gets incremented through PPI.
After 30 samples (=> 333 Hz) the ti

[2021-12-16 09:40] cvinayak commented on #41256
Under default interrupt configurations (no ZLI), Zephyr Bluetooth Controller uses zephyr interrupt priority level of 0 for Radio ISR, and share its bottom halves with all other SoC peripherals which use level of 1 (refer to dts files for default values).

If using ZLI, then Controller Radio ISR and any application set ISR use the same ZLI priority level, and hence Controller will not be able to to

[2021-12-16 10:02] manoj153 commented on #41249
Follow the directory structure as in `hal_stm32`?

[2021-12-16 10:04] #41258 closed

[2021-12-16 10:06] 5frank commented on #39176
bump! fix here https://github.com/zephyrproject-rtos/zephyr/pull/39229 but documentation build "Cancelled after 30m"

[2021-12-16 10:54] #39435 closed

[2021-12-16 11:46] alexanderwachter commented on #41255
@pdietl is currently working on it

[2021-12-16 12:09] carlescufi commented on #39317
@NZSmartie ping

[2021-12-16 12:17] carlescufi commented on #40202
@ppryga please weigh in and close if appropriate.

[2021-12-16 12:24] ppryga commented on #40202
Ok, I'm fine with that. Closing the issue.

[2021-12-16 12:24] #40202 closed

[2021-12-16 12:25] ppryga commented on #39438
@jakkra FYI https://github.com/zephyrproject-rtos/zephyr/issues/40202

[2021-12-16 12:53] gmarull commented on #33725
I've been doing some quick hacks to the toctree and I think a layout similar to the one shown in the picture would make things easier fort both newcomers and experienced developers:

![image](https://user-images.githubusercontent.com/25011557/146374016-9e5a2528-5797-4a52-b42b-7c9a7e624dd4.png)

As you may notice, there are many missing parts, but I hope it shows the idea:

- Create multiple toctre

[2021-12-16 13:15] jakkra commented on #40317
Hi @cvinayak and @ppryga I have started now to test it out, I'm not done testing but here are some feedback so far.
First I'd like to say it works way better, so that is great. So far I have gotten the two following crashes. I attached the application I get the crashes in, but it's pretty much the same as I have provided earlier in this ticket but I may have made som minor changes so here it is ag

[2021-12-16 13:18] jakkra commented on #39438
Hi @ppryga closing #40202 is fine, we will not use any duplicate filtering and if we want to later then we will make sure to re-start the scan, no problem.

[2021-12-16 13:28] jakkra commented on #40317
Just realised new commits was pushed yesterday that I did not test with. So don't dig too deep into the above crashes. Will come back with more input after I test with the latest commits.