[2017-12-04 18:16] pfalcon commented on #3127
Duplicate Address Detection procedure described in this document on
   all addresses prior to assigning them to an interface.

[2017-12-04 18:25] pfalcon commented on #3127
tentative address, but accepts Neighbor Discovery packets related
      to Duplicate Address Detection for the tentative address.

I don't think that I, as a user, want the manual address I specified to be "tentative", even if temporarily. I want it to be active and acting immediately.

[2017-12-04 18:41] pfalcon commented on #3127
Aha:

   their assignment to an interface for safety.  The test should
   individually be performed on all addresses obtained manually, via
   stateless address autoconfiguration, or via DHCPv6.

But still:

   sites that believe the overhead of performing Duplicate Address
   Detection outweighs its benefits, the use of Duplicate Address
   Detection can be disabled through the administrative set

[2017-12-04 18:51] #5008 closed

[2017-12-04 19:13] pfalcon commented on #3127
Ok, section https://tools.ietf.org/html/rfc4862#section-5.4 details all that.

[2017-12-04 19:18] pfalcon commented on #3127
https://tools.ietf.org/html/rfc4862#section-5.4.2

   all-nodes multicast address and the solicited-node multicast address
   of the tentative address.

[2017-12-04 20:46] tbursztyka commented on #3127
what a monologue ;)

DAD is started in net_if_ipv6_addr_add() so net_app's fixed IPv6 address triggers DAD too. Afaik, net_if.c does not make any difference whether it's autoconf or manual also. Check but it should be ok.

[2017-12-04 22:04] #4841 closed

[2017-12-05 00:39] GAnthony commented on #1270
@IotPanorama, you are correct.  I verified the *external* flash is 4MB using the TI UniFlash tool.  Internal flash is still 1MB.  I'll make this more clear in the documentation.

[2017-12-05 00:56] mnkp commented on #3070
This issue was resolved by #1262.

[2017-12-05 00:56] #3070 closed

[2017-12-05 01:08] jimmy-huang opened #5265 "ROM size increase due Zephyr compile options not stripping unused functions"
When building 3rd party libraries for A101, when CMake file uses  zephyr_get_compile_options_as_string(options) to include compile options, it seemed the it has changed and no longer include some of the flags to strip out unused functions, and therefore, the final ROM image size is increased.

For example,
with latest master, the compile options returned is:
-Os -g -Wall -Wformat -Wformat-security

[2017-12-05 01:50] GAnthony commented on #4026
TI has re-licensed the host driver code as BSD.
PR #4223 added the port of the WiFi host driver to Zephyr, so this issue can be closed.

[2017-12-05 01:50] #4026 closed

[2017-12-05 05:40] Shilpashree3lc opened #5266 "Ensure the Licensing page is up-to-date for the release"
Ensure the "Licensing of Zephyr Project Components" page is updated and correct for the release. See https://www.zephyrproject.org/doc/1.7.0/LICENSING.html.

[2017-12-05 08:01] SebastianBoe commented on #5265
tl;dr;
This is a regression from f71c3fa6 that is fixed in PR https://github.com/zephyrproject-rtos/zephyr/pull/5229. You can either cherry-pick the PR or wait until it is merged.

The longer story ...

A patch was introduced that increased the use of COMPILE_LANGUAGE generator expressions. COMPILE_LANGUAGE generator expressions were not supported by the zephyr_get_* API until
PR https://github.co

[2017-12-05 08:06] SebastianBoe commented on #5265
If you have CONFIG_CPLUSPLUS enabled then this can be closed as a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/5152

grep CONFIG_CPLUSPLUS build_directory/zephyr/.config

[2017-12-05 08:15] SebastianBoe commented on #5265
Oh, and it is necessary to port to a new interface:
https://github.com/zephyrproject-rtos/zephyr/pull/5229/files#diff-c31c4dbe0e95f5d6cc91df73faf59217R17

[2017-12-05 09:30] SebastianBoe opened #5270 "Not all IEEE802154_MCR20A_RAW references were removed"
Hi,

I noticed that IEEE802154_MCR20A_RAW was still used by zephyr/drivers/ieee802154/CMakeLists.txt

https://github.com/zephyrproject-rtos/zephyr/pull/5018 should have removed all references to IEEE802154_MCR20A_RAW and any other SoC-specific RAW modes, but evidently missed some cases.

Some more grepping is needed to make sure we don't have any more dangling references.

[code]

[2017-12-05 10:03] Shilpashree3lc commented on #5266
Quick review show the below list of files are NOT having any license.

tests/net/socket/tcp/src/main.c
boards/arm/stm32l476g_disco/pinmux.c
samples/basic/threads/src/main.c

[2017-12-05 10:05] pfalcon commented on #5244
Please see if https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/subsys/console/echo/src/main.c would give some ideas/insight.

[2017-12-05 10:11] rveerama1 opened #5274 "Issue with pinmux combination for FRDK-K64F setup for cc2520"
Pinmux combination in "samples/net/common/cc2520_frdm_k64f.c" failed to work on FRDK-K64F board when both Ethernet and 15.4 are enabled. CC2520 unable to transmit the packets. Specially these two pins.
#define CC2520_GPIO_CCA		17  /* PTC17 */
#define CC2520_GPIO_SFD		16  /* PTC16 */

[2017-12-05 10:24] tbursztyka commented on #5274
As a side note, we tried replacing these 2 pins with PTA1 and PTB9 and it resulted in same issue. It works when ethernet is disabled, and does not when it's enabled. (though according to datasheet - unless I misread it - ethernet has no relationship with these pins at all)

[2017-12-05 11:00] pfalcon commented on #5266
Which would mean they're licensed under the project license...

Let us know how you'd like to get those resolved - original authors submit patches, or you'd fix that handful of cases on your side. @askawu : FYI, re: tests/net/socket/tcp/src/main.c

[2017-12-05 12:05] pfalcon commented on #3127
@tbursztyka : Yeah, sorry, I wasn't sure I'll finish reading the RFC yesterday or find all answers, so logged as I proceeded ;-).

Yeah, that's what I saw immediately, and wondered if that's grounded. But the RFC states explicitly that solicated-node multicast addr is created "immediately" even for a tentative address, so it doesn't pose additional complexities for my "implicit mcast addrs" idea.

[2017-12-05 12:10] pfalcon commented on #2329
Then removing "priority: high" too.

[2017-12-05 12:13] pfalcon commented on #3821
What is meant here by "LED application"? How is it related to networking?

[2017-12-05 12:20] pfalcon commented on #3368
Request for SNMP is tracked in https://github.com/zephyrproject-rtos/zephyr/issues/2329

[2017-12-05 12:20] #3368 closed

[2017-12-05 12:20] Likailiu opened #5278 "http: client: lack of ability to parse chunked data"
We are trying to download a large file from a web server on the Internet, the web server sends chunked data over HTTP 1.1, and our application sometimes gets wrong data which contains characters such as CR and LF from “http_app_client” in http library. Unfortunately we found that on_chunk_header() and on_chunk_complete() in http library are left unimplemented, so we are afraid that current http li

[2017-12-05 12:30] tbursztyka commented on #3127
I am not confident with IPvh6 details:

But isn't ff02::1 the multicast address for all addresses on the network (besides ll unicast ones)?
btw, pinging 2001:db8::1 works on 15.4 for instance with that configuration. Is there something specific with ethernet/IPv6?

[2017-12-05 12:43] rveerama1 commented on #3821
@pfalcon I think this is old and better to close this issue.

RPL Border Router sample application (https://github.com/zephyrproject-rtos/zephyr/pull/980 and https://github.com/zephyrproject-rtos/zephyr/pull/5035) PR's are still under WIP. It's all depends on how many leaf nodes we want support and which boards are capable for it. Right now we are trying with frdm-k64f with cc2520 wired. But we no

[2017-12-05 12:43] pfalcon commented on #3127
Well, that's how IPv6 differs from IPv4 - in IPv6, to resolve link-layer addr from IPv6, you don't send a broadcast (which in a 1M network segment would be received and processed by 1M nodes), but to "solicited node multicast address" (32-bit), so O(1) of nodes would received/process it.

Yeah, I wish I had an exact response why BLE/15.4 6lowpan "just works" (and how much it truly does). My hypoth

[2017-12-05 12:57] nashif commented on #5266
true, but we need the header including any copyrights for every file to remove ambiguity

[2017-12-05 13:00] pfalcon commented on #3821
@rveerama1: Well, not I created this ticket, so not me to close it, up to @laperie.

Myself, I think that while there're still stability/functionality issues with IP stack, we should start thinking about optimizing it already (well, at least start assessing footprint issues) - the competition doesn't sleep, so we need to prepare to deliver. So, I'm only happy to see that other people also (were) t

[2017-12-05 13:17] tbursztyka commented on #3127
15.4 is broadcasting: so when you ping, it will run first a nbr discovery (thus broadcasting the discovery) and is succefful will then know the ll addr etc...

Sounds like we'll need your fix then when ethernet is enabled.

[2017-12-05 13:22] pfalcon commented on #2381
There's a well-known small open-source SQL db engine - SQLite. However, it's not realistic to run it on any but the high-end MCu systems (say, 256KB of RAM, majority of which to be dedicated to SQLite).

When we chose a minimum-resources DB engine (not SQL!) for MicroPython, we ended up choosing ol' good BSD-licensed BerkeleyDB 1.xx, as about the only choice which is known to work, small, and supp

[2017-12-05 13:29] nvlsianpu commented on #5148
As @nashif mentioned booth SPIFFS and niffs are to heavy components (especially spiffs). I see that suitable is to take FCB from mynewt.

FCB is basing on abstraction of sys/flash_map API and its flash_area memory description structure. I will keep this flash_area structure and replce flash_area_xxx calls by almost direct flash driver calls.
I don't see a gain in implementing something like flash_

[2017-12-05 14:00] galak commented on #5244
What hardware/platform are you seeing this on?

[2017-12-05 14:18] pfalcon opened #5282 "net: IPv6 DAD is incorrect, wouldn't work ("always succeed") on mcast medium like Ethernet"
Splitting off https://github.com/zephyrproject-rtos/zephyr/issues/3127.

https://tools.ietf.org/html/rfc4862#section-5.4.2 states:

   all-nodes multicast address and the solicited-node multicast address
   of the tentative address.  The former ensures that the node receives
   Neighbor Advertisements from other nodes already using the address;
   the latter ensures that two nodes attempting to us

[2017-12-05 14:21] #5266 closed

[2017-12-05 14:27] nashif opened #5283 "reference to non-existing functions in arch/x86/core/intstub.S"
[code]

most of the above functions were probably renamed and do not exist, need to clean this up and use current implementation functions in the docs.

[2017-12-05 14:32] nashif opened #5284 "update altera_max10 board documentation and remove references to nanokernel"
in the board documentation for max10 we still talk about nanokernel and show an example with gdb using the old kernel files, this needs to be updated:

[code]

[2017-12-05 15:13] pfalcon commented on #5282
Another issue: creating link-local address is somehow tied into net_if_start_dad(). I don't think that's grounded, it should be separate.

[2017-12-05 15:16] SebastianBoe opened #5286 "NET_L2: Symbols from the L2 implementation layer are exposed to users of L2"
Hi,

for many reasons, which I assume I don't need to go into here, users of an interface should not
have access to details of it's implementation.

The L2 layer violates this principle in net_l2.h when it includes ieee802154.h:

[code]

Presumably, it is including ieee802154.h because it wants to expose struct ieee802154_context.

I don't know why it is doing this, but I hope it is possible to ei

[2017-12-05 15:20] #5152 closed

[2017-12-05 15:25] mhudec1 commented on #5244
stm discovery f3

[2017-12-05 15:57] tbursztyka commented on #5286
NET_DEVICE_INIT needs to know the type in order to allocate the space relevantly, in the right dedicated section in ROM &/or RAM. There is nothing violated here. (Other solution could be made of just a "size" and it would allocate a u8_t buffer of that size, which in turn would be casted in the right place to the right context type. But it is as hackish as what we have now, and actually a bit crap

[2017-12-05 15:57] #5286 closed

[2017-12-05 16:01] pfalcon commented on #3127
Ok, so I decided to contain myself and fix the issue with existing framework, leaving optimizations for later. And it turned out not too hard, all the pieces were already there (I was afraid complex address matching would be required). https://github.com/zephyrproject-rtos/zephyr/issues/5282

[2017-12-05 16:42] psidhu commented on #1420
I'd like to bring this back to life a little bit. I noticed that the zephyrproject website has new UI changes, so I was wondering if this was hopefully next?

[2017-12-05 16:51] psidhu commented on #5138
I think device tree in zephyr could use a lot of work, this being one of them. I'm of the belief that all nucleo boards should have a single maintainer that can manage what you're mentioning. This goes for other 'groups' of boards as well.

Of course, someone else can do the work, but the maintainer should be responsible for keeping things sane.

[2017-12-05 16:56] psidhu commented on #4960
I hope once this occurs, we can start using dts more heavily in drivers?

[2017-12-05 17:03] priyankaNXP opened #5289 "IPv6 over BLE: IPSP sample crashes and ble controller gets disconnected"
**Issue with testing IPv6 over BLE (IPSP sample):**

Once the BLE connection is established, within few seconds BLE controller gets disconnected.
Either zephyr (recent master branch) crashes or BLE controller crashes or both. Often it is BLE controller that gets disconnected within few seconds.
Restarting zephyr might enable establishing the connection once again, but then ble controller goes down

[2017-12-05 17:31] #1270 closed

[2017-12-05 18:11] galak commented on #1460
@ruuddw, @nashif, @jhedberg, @jukkar, @carlescufi, @MaureenHelm, @andrewboie - Can you guys please take a look at the release notes for your section of ownership

[2017-12-05 19:21] MaureenHelm commented on #5274
PTC16 and PTC17 are used for Ethernet, so you can't use them as GPIO when Ethernet is enabled.

I don't see a conflict for PTA1 or PTB9 unless you've got MCR20A enabled. Can you please provide the code you used to enable them?

[2017-12-05 19:46] jimmy-huang commented on #5265
@SebastianBoe Yeah, I do indeed have CONFIG_CPLUSPLUS set,  thanks.

[2017-12-05 22:00] carlescufi commented on #1460
+1 on Bluetooth release notes (already ticked)

[2017-12-05 23:44] nashif commented on #5109
i have a script already and will take  care of that.

[2017-12-06 00:51] MaureenHelm commented on #1460
+1

[2017-12-06 06:16] gurucharanx opened #5296 "tests/net/ieee802154/crypto: linking error"
Currently the crypto test is failing because of the linking error as shown below.

Scanning dependencies of target arch__x86__soc__ia32
[ 84%] Building C object zephyr/arch/x86/soc/ia32/CMakeFiles/arch__x86__soc__ia32.dir/soc.c.obj
[ 85%] Linking C static library libarch__x86__soc__ia32.a
[ 85%] Built target arch__x86__soc__ia32
Scanning dependencies of target zephyr_prebuilt
[ 86%] Building C obj

[2017-12-06 06:26] SavinayDharmappa commented on #5254
@nashif  do i have to implement it as ztest ?

[2017-12-06 07:54] tbursztyka commented on #5296
See testcase.yaml  in the sample, it is meant to be built only for quark_se_c1000_devboard

[2017-12-06 07:54] #5296 closed

[2017-12-06 08:28] kumarvikash1 opened #5297 "Build failure issue on latest Zephyr commit"
Build broken by additional build flags, details given below

commit abbdd88683abddb44197abcd5acd8a59e8fa10b5
Author: Sebastian Bøe <sebastian.boe@nordicsemi.no>
Date:   Tue Dec 5 12:24:01 2017 +0100

    cmake: Fix EXTRA_LDFLAGS feature

    It is supported to add give extra flags to the linker from the
    commandline like this:

    cmake -DEXTRA_LDFLAGS=-Lmy_dir path

    But unfortunately this

[2017-12-06 08:37] SebastianBoe commented on #5297
Could not reproduce.

Please post steps to reproduce.

Board, sample, CONF_FILE etc.

[2017-12-06 08:46] SebastianBoe commented on #5297
Note that this can expose pre-existing problems in application code.

What this patch does is ensure that EXTRA_LDFLAGS are given to the linker.

So if a user had, say, --fatal-warnings in his EXTRA_LDFLAGS, then before this patch
he could have a warning in his application without it causing a build failure.

[2017-12-06 09:04] SebastianBoe commented on #5286
That is what I thought as well, so I was confused when I saw symbols from ieee802154.h being accessable from a sample. Specifically, echo_server's udp.c will transitively include ieee802154.h.

I'm not familiar with the networking stack, but I did not expect a UDP user like echo_server/src/udp.c to have access to ieee80215.h symbols.

Thank you for the detailed response, I will try to work around

[2017-12-06 09:18] carlescufi commented on #5148
@nvlsianpu Regarding flash areas, can you take a look at Mynewt's "mfg" before you discard using them? This is also something we'd like to have in the future I believe: https://github.com/apache/mynewt-core/tree/master/sys/mfg

[2017-12-06 09:37] tbursztyka commented on #5286
I am actually moving the net mgmt out of that file into ieee802154_mgmt.h, it's indeed better to split up these at least.

[2017-12-06 09:42] erwango opened #5298 "Endless loop in uart pipe"
Reported in devel mailing list by Dmitri Shmidt.

"The problem is in uart_pipe_isr() logic. It is never-ending (spinning)
after first time entrance: it is still processing RX but its nature doesn't allow any user
threads to get control."

https://lists.zephyrproject.org/pipermail/zephyr-devel/2017-December/008533.html

[2017-12-06 10:07] kumarvikash1 commented on #5297
Issues is :
build output: i586-zephyr-elf-gcc: error: unrecognized command line option ‘--fatal-warnings’

revert works fine;
git revert abbdd88683abddb44197abcd5acd8a59e8fa10b5

It has failed on almost all boards,
like : qemu_x86, qc_1000 etc....

Hope it helps.

[2017-12-06 10:36] ramakrishnapallala commented on #5284
PR submitted:
https://github.com/zephyrproject-rtos/zephyr/pull/5301

[2017-12-06 10:37] erwango commented on #5138
@psidhu : If you're interested into dt work, maybe you could have a look to following RFC and provide feedback:
https://github.com/zephyrproject-rtos/zephyr/pull/5021

[2017-12-06 10:53] SebastianBoe commented on #5297
Could not reproduce.

I need the command you are running, the environment variables you are using, and the git commit revision of a clean git repo.

I can't see any reference to --fatal-warnings, only -Wl,--fatal-warnings, so I suspect there is something
on your end that is needed to reproduce the issue.

What you could do is grep through your environment variables and your repo for --fatal-warnin

[2017-12-06 11:01] kumarvikash1 commented on #5297
zephyr.git/tests/crypto/ctr_prng/testcase.yaml#test

Toolchain: ZEPHYR_GCC_VARIANT=zephyr

Commit ID                                Branch          URL
---------------------------------------- --------------- -------------------
7d0ab1b96abaab502c3722f44aa852d2af4e7526 master          https://github.com/zephyrproject-rtos/zephyr.git

Detailed description
====================

configure passed
buil

[2017-12-06 11:03] pfalcon commented on #5298
Note that I saw similar effects in https://github.com/zephyrproject-rtos/zephyr/pull/42, and while working on irq-driven console in general: https://github.com/zephyrproject-rtos/zephyr/pull/49.

[2017-12-06 11:04] SebastianBoe commented on #5297
Your test infrastructure is calling cmake like this:

cmake -DPREBUILT_HOST_TOOLS=/opt/zephyr-sdk-0.9.2/sysroots/x86_64-pokysdk-linux/usr/bin -DBOARD=qemu_riscv32 -DARCH=riscv32 -DEXTRA_CPPFLAGS="-DTC_RUNID=ci-171205-1931-658:konu" -DEXTRA_CFLAGS="-Werror -Wno-error=deprecated-declarations" -DEXTRA_AFLAGS=-Wa,--fatal-warnings -DEXTRA_LDFLAGS=--fatal-warnings -B"/outdir-h5bc-konu-qemu_riscv32" -H"/

[2017-12-06 11:04] #5297 closed

[2017-12-06 12:48] rishikha commented on #5297
Updated the test infra by the same

[2017-12-06 13:36] erwango commented on #5298
Wouldn't it be because there is always a tx associated to rx in console case?
Hence TXE is set to 0 and while loop is exited.
I have been to reproduce issue by commenting out insert_char() in  uart_console_isr, but no issue as is.

[2017-12-06 13:37] erwango commented on #5138
@psidhu : If you're interested into dt work, maybe you could have a look to following RFC and provide feedback:
https://github.com/zephyrproject-rtos/zephyr/pull/5021

[2017-12-06 13:46] pfalcon commented on #5298
Sure, for the console case it was solved by following invariants later documented in https://github.com/zephyrproject-rtos/zephyr/pull/159 , https://github.com/zephyrproject-rtos/zephyr/pull/281. And I had to patch existing test in #42 to follow them too.

So, my points is that such problems were known, and there's an existing pattern how to resolve them. And my concern that this case wasn't resol

[2017-12-06 13:55] pfalcon commented on #5265
We have MicroPython build fail for arduino_101 https://ci.linaro.org/view/lite-iot-ci/job/lite-aeolus-micropython/189/PLATFORM=arduino_101,ZEPHYR_GCC_VARIANT=zephyr,label=docker-xenial-amd64-13/console due to:

This didn't happen before. Let me reopen this ticket for further investigation.

[2017-12-06 13:59] pfalcon commented on #5265
CONFIG_CPLUSPLUS is not used.

[2017-12-06 14:01] SebastianBoe commented on #5265
IMHO one shouldn't open issues in Zephyr when external projects have build failures.

A build failure after an update could be due to many reasons ...

Example: https://github.com/zephyrproject-rtos/zephyr/issues/5297

[2017-12-06 14:04] pfalcon commented on #5265
Really? Indeed, it could be due to many reasons, and 90% of those reasons are regressions in the Zephyr build system.

[2017-12-06 14:07] pfalcon commented on #5265
So, Makefile.exports has:

I.e., both -ffunction-sections -fdata-sections are there, and actually used when compiling both app and Zephyr code.

And link is:

I.e.  -Wl,--gc-sections is there too. Weird.

[2017-12-06 14:09] pfalcon commented on #5265
Prooflink that it worked just 2 days ago: https://ci.linaro.org/view/lite-iot-ci/job/lite-aeolus-micropython/186/PLATFORM=arduino_101,ZEPHYR_GCC_VARIANT=zephyr,label=docker-xenial-amd64-13/console

[2017-12-06 14:12] SebastianBoe commented on #5265
I guess it doesn't link, and therefore you can't run rom_report to find out what is using so much space?

Perhaps you could compare what <toolchain>-size says before and after the update.

[2017-12-06 14:14] nashif commented on #5284
thanks, you should always do the reference in the PR itself, for example:

"Fixes #5284", github then will pick this up and automate closing the issue

[2017-12-06 14:15] pfalcon commented on #5265
@SebastianBoe : I'm on it (and not asking you to look into it), just appreciate being able to investigate within the scope of the upstream project, and within existing ticket, to keep other parties in loop. (Of course, will appreciate your attention when I have come to some results where I can't easily proceed forward - like you always helped so far, thanks!)

[2017-12-06 14:15] #5284 closed

[2017-12-06 14:44] pfalcon commented on #5265
@SebastianBoe : It was smart to change this line: https://github.com/zephyrproject-rtos/zephyr/pull/5229/files#diff-c31c4dbe0e95f5d6cc91df73faf59217R20 , and I hope you'd agree it's easy to overlook ;-). Thanks for you patience!

[2017-12-06 14:44] #5265 closed

[2017-12-06 15:16] nashif commented on #3667
@kumar do we have an owner for this? Can you please triage it?

[2017-12-06 15:21] linkmeyer commented on #3834
@andyross , what's the status of this?

[2017-12-06 15:26] nashif commented on #3797
should be fix after moving to cmake

[2017-12-06 15:26] #3797 closed

[2017-12-06 15:35] nashif commented on #3989
should be fixed with 80bad3282880d07f443e9d15c966a47a4d0b5d67

[2017-12-06 15:35] #3989 closed

[2017-12-06 15:40] nashif commented on #4513
solved by setting environment variable PARSETAB_DIR for each run

[2017-12-06 15:42] #5298 closed

[2017-12-06 15:55] nashif commented on #5254
@SavinayDharmappa yes

[2017-12-06 16:11] erwango opened #5305 "flash: use generated FLASH_WRITE_BLOCK_SIZE in flash_stm32_api"
FLASH_WRITE_BLOCK_SIZE is generated from device tree.
It could be used in flash_stm32_api to remove current switch code:

+#if defined(CONFIG_SOC_SERIES_STM32F0X)
+	.write_block_size = FLASH_WRITE_BLOCK_SIZE,
+#elif defined(CONFIG_SOC_SERIES_STM32F4X)
 	.write_block_size = 1,
 #elif defined(CONFIG_SOC_SERIES_STM32L4X)
 	.write_block_size = 8,

To be tested on F0, F4 and L4 before merge

[2017-12-06 16:53] ruuddw commented on #1460
+1 on release notes

[2017-12-06 18:14] krisik70 opened #5308 "uart_pipe rx-spinning problem for stm32"
There is a problem in uart_pipe_isr(). It is never-ending (spinning) after first time entrance: it is still processing RX but its nature doesn't allow any user threads to get control.
uart_pipe_isr() is called on RX interrupt:
static void uart_pipe_isr(struct device *unused) {
         while (uart_irq_update(uart_pipe_dev)
                   && uart_irq_is_pending(uart_pipe_dev)) {

[2017-12-06 18:27] galak commented on #5308
Little confused, is this fixed by #5299?

[2017-12-06 18:33] krisik70 commented on #5308
Sorry for the noise - it was my miscommunication with Erwan.

[2017-12-06 18:33] #5308 closed

[2017-12-07 06:25] VinceGa commented on #5177
I tried to build hci_usb according to this instruction: https://devzone.nordicsemi.com/blogs/1059/nrf5x-support-within-the-zephyr-project-rtos/
The target board is NRF52840 PK. So I did "cmake -DBOARD=nrf52840_pca10056 .."

In the same environment, the other samples worked just fine. Only hci-usb gave me the linking errors. So I wonder if this has something to do with the  @CMAKE?

[2017-12-07 07:18] nvlsianpu commented on #5148
My summary after discussion with @carles
As we consider adding capability similarly to these which mynewt MFG (manufacturing meta region) has it look like it is suitable to have module similar to mynewt flash_map abstraction in future. My idea is to port only necessary part of flash_area_xx  function (which are only flash access API for fcb) at this point.
I expect that this base module will be de

[2017-12-07 08:32] erwango commented on #5308
@krisik70 : My bad actually, I finally did it on my own to get a chance to get it 1.10.
I should have informed you

[2017-12-07 08:35] finikorg commented on #5177
@VinceGa we do not have yet USB supported in Zephyr for this board.

[2017-12-07 10:08] rbtchc commented on #5101
Digging a bit more.
It seems that the packet sent to loopback device will be unreferenced immediately when the packet.
lwm2m_send_message() doesn't get a chance to call coap_pending_cycle() to increase the reference count to avoid the packet from being freed which result in the device hang.

If I requested a firmware pull from an IP other than loopback, it seems that an ARP packet is generated and

[2017-12-07 10:12] rbtchc commented on #5101
Another issue is that, even if the packet is correctly protected. The loop device will swap the src/dst IP.
For protocol like coap which do the retransmission at the application layer.
The packet it reserved is actually modified after the first attempt.

[2017-12-07 10:23] pfalcon commented on #5101
There's a missing word apparently.

[2017-12-07 10:24] pfalcon commented on #5101
Ditto.

[2017-12-07 10:27] pfalcon commented on #5101
It's not cleat what's the problem is being reported here? Do you report that if you randomly try to use loopback (which loopback exactly?) that COAP fails randomly? Or do you use loopback on purpose? Which? What are your expectations?

(Asking as the author of https://github.com/zephyrproject-rtos/zephyr/pull/4461 , though I'm not even sure you use *that* loopback).

[2017-12-07 10:33] rbtchc commented on #5101
Let me clarify.
LwM2M server can send a URL to LwM2M client to ask it to perform a firmware pull.
I accidentally enter an URL "coap://127.0.0.1:7783/large" to the client.
Client then tries to send an UDP packet to 127.0.0.1, port 7783 which will be looped back to the client and the connection manager will drop the packet immediately for no one is listening to the port 7783 at client (NOTE: at this

[2017-12-07 10:36] rbtchc commented on #5101
I think the issues is that LwM2M should protect the packet from being released by the lower layers.
And I'm expecting the packet stays the same even if it sends through the loopback device.

[2017-12-07 10:48] pfalcon commented on #5101
That explains it, so you by a chance tried that and saw it break "spectacularly".

I don't think the problem is LwM2M related though, or should be handled on LwM2M level. It likely affects other UDP (or maybe not just UDP based) services.

Besides the patch linked above, you may also look at https://github.com/zephyrproject-rtos/zephyr/pull/4956 as another patch touched those matters.

And if you'

[2017-12-07 10:58] rveerama1 commented on #5274
[pinmux-patch.log](https://github.com/zephyrproject-rtos/zephyr/files/1538767/pinmux-patch.log)
[config.log](https://github.com/zephyrproject-rtos/zephyr/files/1538770/config.log)

[2017-12-07 11:00] rveerama1 commented on #5274
Attached pinmux difference patch and generated config log also (@note: just renamed them to ".log" to satisfy github as an attachment :))

[2017-12-07 11:35] tbursztyka commented on #4934
@dleach02  is this still valid now that @pfl  got merged?

[2017-12-07 12:58] pfalcon commented on #1427
Wasn't able to reproduce again.

[2017-12-07 12:58] #1427 closed

[2017-12-07 18:36] VinceGa commented on #5177
@finikorg what board does Zephyr support as a USB device then?
If you look at the error message, it has nothing to do with the board support.

[2017-12-07 21:06] linkmeyer commented on #4762
@nashif  (and others), what's the priority of this bug?

[2017-12-07 21:09] VinceGa commented on #5177
Might be related to https://github.com/zephyrproject-rtos/zephyr/issues/3798

[2017-12-08 03:13] rsalveti opened #5317 "IPSP deadlock during disconnect -> net_if_down"
IPSP disconnect process can cause a deadlock if called without enough free tx_bufs.

Example (application waiting for available tx buffer):
[code]

BT LE disconnect event received:
[code]

send_mldv2 causes a deadlock when it tries to append data to the net_pkt:
[code]

Deadlock happens because it tries to allocate more buffers from tx_bufs (net_pkt_get_reserve_tx uses tx_pkts by default), when we

[2017-12-08 03:14] rsalveti commented on #5317
Unable to reproduce the issue after commenting out leave_mcast_all.

[2017-12-08 06:38] rbtchc commented on #5101
The CONFIG_NET_LOOPBACK is unset at my case.

[2017-12-08 08:01] finikorg commented on #5177
https://github.com/zephyrproject-rtos/zephyr/pull/5320

[2017-12-08 08:03] finikorg commented on #5177
@VinceGa supported USB drivers are: Designware USB Device Controller Driver and USB device controller driver for STM32 devices. See: drivers/usb/device/Kconfig

[2017-12-08 12:29] #4766 closed

[2017-12-08 13:51] nashif commented on #4416
@galak can you provide a more detailed description for this request, this will narrow it down at least.

[2017-12-08 13:57] nashif commented on #4724
Yes, that is the approach I was considering., maybe I was not clear

[2017-12-08 16:24] nashif opened #5325 "Support interaction with console in twister"
Some tests require input when running in Qemu, right now this can be found in a few UART tests, having twister script interact with the console would help us automate such tests without needing human interaction, for example this could be used to test the shell interface...

[2017-12-08 16:40] pfalcon commented on #5325
+1

[2017-12-08 17:32] priyankaNXP opened #5326 "IPSP ping fails"
Issue with IPSP sample (recent master branch) :

BLE address is assigned to k64f board.  bluetoothctl utility and its scan discover IPSP node.
BLE connection is up,  interface bt0 is up.
On zephyr side, iface shows interface bluetooth.

Ping to k64f board fails. Ping from Zephyr side to Linux host fails.
Wireshark capture shows checksum error (checksum incorrect) for ICMPv6 packet.

$ ping6 2001:d

[2017-12-08 19:35] galak opened #5327 "1.11 Release Checklist"
Add items as required
--------
- [x] Major enhancements:
  - [x] SMP Support: Issue #1882
  - [x] MMU/MPU Support/Userspace: Issue #2937
  - [x] FOTA Updates (LWM2M/BLE): Issue #5382
  - [x] POSIX API Layer (PSE52): Issue #1291
  - [x] Native Port: Issue #1891
  - [x] OpenThread Support: Issue #3858

Pushed out to 1.12:
- [ ] LLVM Support: Issue #3689
- [ ] AMP support: Issue #3065
--------
- [x]

[2017-12-08 20:23] galak opened #5328 "build system should try and create conf if not found for non-zephyr SDK"
if we are using something like gcc arm embedded toolchain, we shouldn't need to have the zephyr sdk installed and set ZEPHYR_SDK_INSTALL_DIR to find things like 'conf'.  So for 'conf' we should attempt to build it from the source tree if its not found.

[2017-12-08 20:49] galak commented on #1460
@dbkinder I've tagged the release, can you handle the following tasks on the website:

 Update https://www.zephyrproject.org/developers/#releases-overview
 Update https://www.zephyrproject.org/developers/#downloads

[2017-12-08 22:03] galak commented on #1460
@nashif can you update the doc generation for 1.10.0

[2017-12-08 22:11] nashif commented on #5328
We should just document this if not already, IMO this should not be part of the build process. On the mac for example what I did was build it once, put it in my path and forget about it...

[2017-12-08 22:13] nashif commented on #1460
documentation updated

[2017-12-09 14:48] #5256 closed

[2017-12-11 09:34] SebastianBoe commented on #5328
It is not necessary to have the SDK installed. The docs describe that what nashif is describing
is supported.

[2017-12-11 09:39] SebastianBoe opened #5334 "CMake: Ninja support is broken"
Ninja support is broken. Initially there was a linker issue, now there is even more bit rot.

[x] We have a linker issue due to the generated Makefile and Ninja scripts invoking the linker differently: https://gitlab.kitware.com/cmake/cmake/issues/17448

[x] This trick 83cf82b7a8c6f3fe816a6fd693b3f4795f9dbe31 wasn't portable to Ninja unfortunately. Need to find a portable solution or do if(NINJA).

[2017-12-11 12:01] pfl commented on #4324
The error string "[http-client] [ERR] do_sync_http_req: Error detected during HTTP msg processing" is only present in some older version of Zephyr. Current upstream since October 22nd would print the error differently. What is the last commit your Zephyr version is using ('git show HEAD')?

Please retest with latest upstream (>= 1.10, preferably latest upstream) if you haven't done so already and

[2017-12-11 12:28] rveerama1 commented on #5274
@MaureenHelm can you please look into the attachments?

[2017-12-11 13:55] #5328 closed

[2017-12-11 14:10] #5282 closed

[2017-12-11 19:47] #5109 closed

[2017-12-11 19:47] #4445 closed

[2017-12-11 19:47] #4513 closed

[2017-12-11 20:31] MaureenHelm commented on #5274
Hi @rveerama1, I looked at the attachments and haven't spotted any problems, but I don't have a CC2520 to reproduce your hardware setup. Given it works with ethernet disabled, I think your board is probably wired correctly and therefore suspect a software problem.

Can you check with a scope that there is a rising edge on SFD or FIFOP when ethernet is enabled? Can also you step through the code to

[2017-12-11 21:31] andrewboie opened #5343 "cmake: libapp.a in unexpected location"
I notice that libapp.a is directly in the build directory instead of being under zephyr/ with the rest of the build artifacts.
Is this intentional?

[code]

[2017-12-11 22:38] dbkinder commented on #5283
Note the mentioned documentation says these APIs have not been implemented yet, so perhaps they never have, and we should just delete this paragraph except for the first sentence?

[2017-12-12 06:22] gurucharanx commented on #4324
Currently the board is not crashing but still observing issues with post request as shown below

[http-client] [INF] response: Received 383 bytes piece of data
[http-client] [INF] response: HTTP server response status: Not Found
[http-client] [INF] response: HTTP body: 211 bytes, expected: 211 bytes
[http-client] [INF] do_async_http_req: [11] Send /index.html
[http-client] [INF] response: Received

[2017-12-12 06:29] gurucharanx opened #5344 "samples/net/http_client: unable to send the proper http request to Apache server in IPv6"
The http_client sample application is unable to send a proper http request to the Apache server due to which the server replies with bad request
The test was done for IPv6
The steps are as followed in #4324 except the configuration setting change in prj.conf file as below

CONFIG_NET_IPV4=n
CONFIG_NET_IPV6=y
CONFIG_NET_DHCPV4=n
CONFIG_NET_DEBUG_HTTP=n
CONFIG_NET_APP_NEED_IPV6=y
CONFIG_NET_APP_NEED

[2017-12-12 07:32] miyatsu opened #5345 "Cmake: ext: Header file include error: No such file or directory"
In hello world sample, do following steps, may get compile error.

Step1: vim prj.conf, add:
CONFIG_MBEDTLS=y
CONFIG_MBEDTLS_BUILTIN=y

Step2: vim src/main.c, add:
#include <mbedtls/sha256.h> above the main function.

Step3:
mkdir -p build/nrf51_pca10028 && cd build/nrf51_pca10028
cmake -DBOARD=nrf51_pca10028 ./ ../../
make -j4

Step4: Output with error:

/*****************************************

[2017-12-12 07:35] miyatsu commented on #5345
@SebastianBoe

[2017-12-12 08:09] gurucharanx commented on #5344
[](url)https://github.com/zephyrproject-rtos/zephyr/issues/4325

[2017-12-12 08:34] SebastianBoe commented on #5343
This was unintentional, it would have been cleaner to have it somewhere in <build>/zephyr/**

[2017-12-12 08:38] pfl commented on #5344
Do we already have a tcpdump output of the issue?

[2017-12-12 09:15] SebastianBoe opened #5348 "rom_report is broken for some environments"
Does not affect Linux, affects OSX.

[2017-12-12 10:20] mhudec1 commented on #5244
I tried to done it more ways, but with the same result. The uart_fifo_read() returns whole message I send on uart? For ex. if I send 4 bytes, uart_fifo_read() returns 4 and put those four bytes in buffer? Because this not working for me, I only get 2 bytes shown from 4 and then continouos interrupt....

@pfalcon -> I  tried to implemet it like in getchar.c but with the same result. In the final, I

[2017-12-12 10:41] pfl commented on #4324
"[http-client] [ERR] do_async_http_req: Cannot send POST request (-60)" is due to -ETIMEDOUT being reached in response to k_sem_take(&ctx->req.wait, timeout) in http_client_send_req() in subsys/net/lib/http/http_client.c. 'timeout' seems to be APP_REQ_TIMEOUT, which is defined as K_SECONDS(10).

The log output and wireshark failure logs don't match, they are from a different run with the latter co

[2017-12-12 10:59] gurucharanx commented on #5344
[http_client_ipv6.txt](https://github.com/zephyrproject-rtos/zephyr/files/1551268/http_client_ipv6.txt)
Please find the attached log of wireshark for this issue. Please rename the file before using it.

[2017-12-12 11:36] gurucharanx commented on #4324
@pfl ,the logs and wireshark taken at the same-time. Since there were so many requests and responses exchanged I didn't attach all the logs here. I thought the wireshark logs will help to debug the issue further when the failure happen.

[2017-12-12 11:48] miyatsu commented on #5345
In hello world sample, do following steps, get compile error.

Step1: vim prj.conf, add:
CONFIG_FLASH=y
CONFIG_FILE_SYSTEM=y
CONFIG_FILE_SYSTEM_NFFS=y

Step2: vim src/main.c, add:
#include <fs.h> above the main function.

Step3:
mkdir -p build/frdm_k64f && cd build/frdm_k64f
cmake -DBOARD=frdm_k64f ./ ../../
make -j4

Step4: Output with error:

/****************************************************

[2017-12-12 12:07] SebastianBoe opened #5351 "Some libraries should automatically be linked with 'app'"
It is difficult to understand for which SW components an application's CMakeLists.txt will need to do

target_link_libraries(app mbedTLS)

and for which it doesn't.

[2017-12-12 12:10] SebastianBoe commented on #5351
One possible solution is to divide the zephyr libraries into two types.

One type that is automatically linked with app, by boilerplate.cmake.
And another that is not.

Perhaps it could be kconfigured whether app should be linked with or not, with sensible
defaults per-library.

In any case, this seems like a solvable problem that is making the build system difficult to use
for application develop

[2017-12-12 12:11] SebastianBoe commented on #5345
You are discovering a known, but undocumented usability issue.

This is now tracked here: https://github.com/zephyrproject-rtos/zephyr/issues/5351

Look at how other samples are using mbedTLS and fs. They are doing

target_link_libraries(app mbedTLS)

PS: I didn't investigate the FS issue but I assume it is the same as mbedtls.

[2017-12-12 12:11] #5345 closed

[2017-12-12 12:27] miyatsu commented on #5351
I've check the project in ${ZEPHYR_BASE}/tests/subsys/fs/nffs_fs_api/

The test code seems no such problems.

Do you mean if I add this line https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/subsys/fs/nffs_fs_api/CMakeLists.txt#L38 in my app CMakeLists.txt, the compile error will disappear?

[2017-12-12 12:32] SebastianBoe commented on #5351
Sorry, I only looked at the mbedTLS case. I'll have a look at the NFFS case as well ...

[2017-12-12 12:49] miyatsu commented on #5351
I already test it when I say it, it works.
I've been looking for the solution for at lease 2 hours... until you shown up. You helped me a lot, thanks..

[2017-12-12 13:17] erwango commented on #5244
Hi,

Can you try with following fix?
https://github.com/zephyrproject-rtos/zephyr/pull/5299

Erwan

On 12 December 2017 at 11:21, mhudec1 <notifications@github.com> wrote:

[2017-12-12 14:26] #4941 closed

[2017-12-12 14:28] pfalcon opened #5355 "qemu_x86/qemu_x86_nommu hangs on big executable files"
When executing "make run" with BOARD=qemu_x86/qemu_x86_nommu on the following file:

[code]

QEMU justs hangs, not providing any ouput.

[2017-12-12 14:29] pfalcon commented on #5355
That particular file contains a testsuite (tests to run, reference output to match against).

[2017-12-12 14:50] nashif commented on #4687
what is the bug? Can we open a new issue with more details, seems like a low hanging fruit :)

[2017-12-12 16:07] SebastianBoe commented on #4687
Will do.

[2017-12-12 16:57] andrewboie commented on #5355
What steps have you taken to debug this?
How do you know this is a function of file size, or related to the MMU?

[2017-12-12 17:42] agross-linaro opened #5357 "CII Badge: Generate list of externally maintained dependencies"
The project MUST list external dependencies in a computer-processable way.  This could be done via a yaml file describing the external dependencies.

[2017-12-12 17:45] agross-linaro opened #5358 "CII Badge: Repeatable build process"
The project MUST be able to repeat the process of generating information from source files and get exactly the same bit-for-bit result. If no building occurs (e.g., scripting languages where the source code is used directly instead of being compiled), select "not applicable"

Need to verify this is the case.

[2017-12-12 17:51] agross-linaro opened #5359 "CII Badge: Add process to check external dependencies for vulnerabilities"
1) Projects MUST monitor or periodically check their external dependencies (including convenience copies) to detect known vulnerabilities, and fix exploitable vulnerabilities or verify them as unexploitable.

2) The project MUST either:
make it easy to identify and update reused externally-maintained components; or
use the standard components provided by the system or programming language.
Then, i

[2017-12-12 17:54] agross-linaro opened #5360 "CII Badge: Use of deprecated functions/APIs"
The project SHOULD avoid using deprecated or obsolete functions and APIs where FLOSS alternatives are available in the set of technology it uses (its "technology stack") and to a supermajority of the users the project supports (so that users have ready access to the alternative).

This is a little generic of a requirement.  We'd need to do a scan to check for deprecated/obsolete functions that hav

[2017-12-12 17:56] agross-linaro opened #5362 "CII Badge: Creation of regression tests for 50% of bugs fixed within last 6 months"
The project MUST add regression tests to an automated test suite for at least 50% of the bugs fixed within the last six months.

[2017-12-12 17:58] agross-linaro opened #5363 "CII Badge: Automated test suite provides 80% coverage"
The project MUST have FLOSS automated test suite(s) that provide at least 80% statement coverage **if there is at least one FLOSS tool that can measure this criterion in the selected language.**

[2017-12-12 17:59] agross-linaro opened #5364 "CII Badge: New functionality test and documentation requirements"
1) The project MUST have a formal written policy that as major new functionality is added, tests for the new functionality MUST be added to an automated test suite.

2) The project MUST include, in its documented instructions for change proposals, the policy that tests are to be added for major new functionality.

[2017-12-12 18:45] pdxjohnny opened #5365 "Revisit DHCPv4 test, convert to ztest"
https://github.com/zephyrproject-rtos/zephyr/blob/1227b2fedadb6bcbc40855a22ff53811200de929/tests/net/dhcpv4/src/main.c#L159-L166

[2017-12-12 20:56] pfalcon commented on #4724
There's another point to consider:

As discussed in https://github.com/zephyrproject-rtos/zephyr/pull/5349#issuecomment-351051653 , there can be also external test systems, which may be "dumb" (or rather, complex enough already, to not complicate them with additional processing/decision making), which would run any binary built (e.g., on real hardware, which isn't supported by sanitycheck). So, ma

[2017-12-12 21:03] dbkinder opened #5366 "Document zephyr-app-commands usage"
Add documentation for the zephyr-app-commands Sphinx extension to the contributor guide.  (Get from the help text within doc/extensions/zephyr/application.py script.)

[2017-12-12 21:19] andrewboie commented on #5355
This bug report is severely insufficient.
Please do more diligence and gather proper data for a developer to reproduce the problem with their own builds. Sending just an ELF file isn't acceptable.

[2017-12-12 21:25] pfalcon commented on #5355
Please have patience with community bugreports. Thank you.

[2017-12-12 22:06] lpereira commented on #5365
I'm not sending this a PR just yet (it needs to be converted to a ZTEST; I used a lot of my time to fix the test), but this branch here [contains a slightly improved test](https://github.com/lpereira/zephyr/commit/d19a2a8064401abb3c78bdd5733da5f778f9b416).  It's the basic thing, but the DHCP Offer packet has been decoded (and there are comments explaining each field) and all addresses and timeouts

[2017-12-12 22:13] #5355 closed

[2017-12-12 22:16] lpereira commented on #5365
@pswarnak, could you please take a look at this one?

[2017-12-13 00:37] mgorzkowski commented on #1281
I have the same problem.
I want to use SPI on stm32_min_dev board (stm32f103)

[2017-12-13 03:18] chunshanzhu commented on #1281
stm32f1 does not have the SPI_SR_FRE regesiter bit，and not support the LL_SPI_PROTOCOL_MOTOROLA protocol.

[2017-12-13 07:07] Shilpashree3lc opened #5370 "[Coverity CID: 180699] Error handling issues in /tests/bluetooth/tester/src/gatt.c"
Static code scan issues seen in File: /tests/bluetooth/tester/src/gatt.c
 Category: Error handling issues
 Function: get_attrs
 Component: Tests
 CID: 180699
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-12-13 07:07] Shilpashree3lc opened #5371 "[Coverity CID: 180698] Null pointer dereferences in /tests/bluetooth/tester/src/gatt.c"
Static code scan issues seen in File: /tests/bluetooth/tester/src/gatt.c
 Category: Null pointer dereferences
 Function: get_attrs_rp
 Component: Tests
 CID: 180698
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2017-12-13 08:34] ydamigos commented on #1281
I will check it.

[2017-12-13 08:40] laperie commented on #3283
![net_buf](https://user-images.githubusercontent.com/3168774/33929366-e8e25ff6-dff1-11e7-89ea-9ddb22256b27.png)

Attaching original design by @jhedberg

[2017-12-13 08:49] pfalcon commented on #3283
I immediately see a problem with the above picture, in the payload "ref-count" field. The idea as was presented in the meeting yesterday is to split off any metadata from the payload, to enjoy all the payload flexibility that offers. But, "ref-count" *is* metadata, there's simply nowhere to store it in generic payload buffers.

[2017-12-13 08:57] SebastianBoe opened #5374 "merge_config.sh can behave differently from merge_config.py"
Steps to reproduce:

1. Change the buildscripts to use merge_config.py.
2. ./scripts/sanitycheck -Tsamples/drivers/led_ws2812/

The sample fails to build with merge_config.py.

[2017-12-13 08:58] SebastianBoe commented on #4687
merge_config now has a bugreport: https://github.com/zephyrproject-rtos/zephyr/issues/5374

[2017-12-13 09:15] jhedberg commented on #3283
The payload ref-count would only exist for payloads allocated and managed by the net_buf subsystem itself. For payloads coming externally (say, a synchronous socket write call) there would be a flag in the net_buf struct saying that the payload is externally managed. If the flag is set, trying to do a clone on the net_buf would cause a new payload to be allocated and the payload to be copied. At l

[2017-12-13 11:06] askawu opened #5376 "No way to get clock control subsystem type"
The clock control API is introduced since 1.9. clock_control_subsys_t is an opaque data structure used to abstract the platform-dependent information. However, there's no way for an application to get a clock_control_subsys_t from somewhere and use it to access clock control API.

For example, on the frdm k64f, the clock control should be configured correctly before accessing pins in port D becaus

[2017-12-13 11:13] laperie opened #5378 "Networking stack buffer management update"
This is an umbrella issue for the set of architectural changes and optimizations discussed during Zephyr Networking Forum, 12th of December 2017.  The forum materials are [under this link](https://github.com/zephyrproject-rtos/zephyr/files/1555201/Zephyr.Networking.Forum.December.2017.materials.pdf)

A key dependency to it is the new design of networking buffers, proposed by @jhedberg  in #3283

I

[2017-12-13 11:35] pfalcon commented on #3283
In other words, there would be different kinds of net_bufs. Then one of the next questions (not to be answered right now, but definitely before we decide on the entire scope of the proposed refactor) is to enumerate all types.

Well, an obvious way would be to not ref-count anything. It's needed only for those "cheap clones", and so it might be a good assumption that only you and @tbursztyka know

[2017-12-13 11:43] jhedberg commented on #3283
From the perspective of the net_buf subsystem (essentially `subsys/net/buf.c`) there'd only be two types: Those where it manages the lifetime of the payload, and those where the payload has come from the outside. The difference would be limited to the payload lifetime management - all other functionality in `subsys/net/buf.c` would treat these buffers the same way.

[2017-12-13 11:48] jhedberg commented on #3283
One way you could approach this is to look at where net_buf_clone() is used right now. We did have some use for it in the Bluetooth code as well, but that was worked around in some other way (@Vudentz might remember how).

The payload ref-counting is a fairly minor detail in the greater picture, and it's something that doesn't influence the public API in any way. The penalty of it is one byte of m

[2017-12-13 11:49] SebastianBoe commented on #5348
@cvinayak : This is believed to be fixed now.

[2017-12-13 11:49] #5348 closed

[2017-12-13 12:18] erwango opened #5379 "sample: net/socket/http_get: no printf output"
Using net/socket/http_get, no output appears on console.
printf is hooked to newlib, but somehow, this does not work properly to get any output on console.

In this condition, it's difficult to see sample status after run.

[2017-12-13 12:31] erwango commented on #5379
Just noticed following comment:
 # Without CONFIG_NET_BUF_LOG printf() doesn't work

Closing

[2017-12-13 13:04] pfalcon commented on #5379
Yeah, and that's a weird and unresolved issue. I'd suggest to reopen it, it needs to be tracked, and we need to get to the bottom of it.

[2017-12-13 13:06] erwango commented on #5379
Issue repoened.

Ideally CONFIG_NET_BUF_LOG should not needed to get prinft output

[2017-12-13 14:19] pfalcon commented on #3283
Ack, in my todo list to look into that.

That's not my concern. When we talk about splitting net_buf metadata from payload, a picture we should imagine is 1MB of ROM data, sending of which happens by just sliding a pointer across this 1MB window. Then there's no where and no way to store that "one byte".

Granted, that's only one picture to imagine, so I'm conveying it, and asking other stakeholde

[2017-12-13 14:25] pfalcon commented on #3283
Unrelated to the previous discussion, I left few inline comments directly on the commit in that branch. (A way to find them is to search for "pfalcon" while viewing that commit, currently https://github.com/jhedberg/zephyr/commit/c56582c1bc3e0ec0323ee6bb10589ca19cde766a#comments (I imagine it can be rebased)).

[2017-12-13 15:20] nvlsianpu commented on #5148
This is development branch for this https://github.com/nvlsianpu/zephyr/tree/add_fcb

[2017-12-13 15:54] jhedberg commented on #3283
I'm not sure if I understand the meaning of "ROM data" correctly, but that sounds like a case of an externally allocated & managed payload, in which case the whole payload ref-counting scheme doesn't apply. The ref-counting currently only planned to be used for net_buf's own payload allocation, which at the moment is based on k_mem_pool.

[2017-12-13 16:59] galak commented on #3065
I've asked @wjliang to get a build integration of OpenAMP & libmetal for Zephyr.  We intend to than look at code size to be similar to rpmsg-lite.

[2017-12-13 17:00] carlescufi commented on #3065
@ioannisg FYI

[2017-12-13 17:03] carlescufi opened #5382 "P2P Device Firwmare Update (FOTA) over BLE and Serial"
Point to Point DFU with a "push" strategy: the source of the DFU procedure initiates the transfer and sends the image to the target or destination device.

Initial target transports:
* BLE (GATT)
* Serial

This will be supported using the new "MCUmgr" cross-RTOS framework.

[2017-12-13 17:07] carlescufi commented on #5382
@vrahane @ccollins476ad @sterlinghughes FYI

[2017-12-13 18:39] nashif commented on #5374
yep, the difference in generated .config:
[code]

[2017-12-13 20:55] andrewboie commented on #5184
@AdithyaBaglody discovered that this problem is still happening, my patch didn't completely fix it.
Diving in....

[2017-12-13 21:07] kestewart commented on #5358
Have followed up with CII expert about the question of timestamp, and was pointed to:
https://reproducible-builds.org/docs/timestamps/

Following up from that article I asked  if we run https://packages.debian.org/sid/strip-nondeterminism on Zephyr and prove that two builds yield the same result we'll be good for this?
Answer was:
   You'll have to *test* that, but I expect the answer would be "ye

[2017-12-14 00:58] mike-scott opened #5387 "Many of the samples using mbedtls_ssl_conf_psk() dont check for error"
During a review it was noticed that several of the current samples don't check the return value of mbedtls_ssl_conf_psk().  This should be fixed as this function can fail for various reasons.

- samples/net/coaps_server/src/coaps_server.c:510:	ret = mbedtls_ssl_conf_psk(&conf, psk, strlen((char *)psk),
- samples/net/mbedtls_sslclient/src/mini_client.c:223:	mbedtls_ssl_conf_psk(&conf, psk, sizeof(p

[2017-12-14 07:59] ydamigos commented on #1281
Just a quick update.
I started working on the issue at https://github.com/ydamigos/zephyr/tree/stm32f1-spi.
The driver compiles fine but when I use the spi-loopback test, I get a bus fault, pointing to line 245 of spi_contex.h. The error isn't specifically in this part of the code. I will try to find the root of it.
There is a similar issue #3850 for stm32f3 family.

[2017-12-14 09:46] DWagenk opened #5391 "drivers: stm32 clock control: F0 Series with PREDIV1 Support uses wrong PLLSOURCE define for HSI clock"
The combination of
CONFIG_CLOCK_STM32_SYSCLK_SRC_PLL=y
CONFIG_CLOCK_STM32_PLL_SRC_HSI=y
on SOCs with PREDIV1 support (STM32F070x6, STM32F070xB and STM32F030xC) makes use of the LL define LL_RCC_PLLSOURCE_HSI_DIV_2, which is not defined for SOCs with PREDIV1 support.

LL_RCC_PLLSOURCE_HSI should be used instead (see [stm32f0xx_ll_rcc.h line 468](https://github.com/zephyrproject-rtos/zephyr/blob/bce

[2017-12-14 09:51] DWagenk commented on #5391
same for F3 series (STM32F302XE, STM32F303xE and STM32F398xx)

[2017-12-14 16:33] greenhandholman opened #5401 "delta_ticks_from_prev become negative and waiting tasks never scheduled"
After a suspend period, if you wake up late and announce to the kernel a greater number of ticks  than the requested suspend period, timeouts are never processed in _handling_timeouts function because delta_ticks_from_prev become negative.

To resolved this issue, i have make the following modification with sucess. Is anyone seeing a problem with this change?

[code]

[2017-12-14 18:42] andrewboie commented on #5184
@AdithyaBaglody found a fix

[2017-12-14 18:42] #5184 closed

[2017-12-14 23:05] linkmeyer commented on #335
[More Schedule Details.pdf](https://github.com/zephyrproject-rtos/zephyr/files/1561049/More.Schedule.Details.pdf)

[2017-12-15 05:14] #5391 closed

[2017-12-15 09:31] #5270 closed

[2017-12-15 09:32] #5228 closed

[2017-12-15 10:03] DWagenk opened #5406 "UART1 on STM32F0 Series not working: errors in makro to enable clock"
STM32F0 Series has no real APB2 clock, but uses APB1 GRP2 instead.

UART initialization code in drivers/serial/uart_stm32.c for UART1 (UART6 to UART8 might be effected, too, but they are not present on the SoCs I have available) tries to initialize STM32_CLOCK_BUS_APB2 but should Initialize STM32_CLOCK_BUS_APB1_2 instead.
Same for the generated LL_APB2_GRP1_PERIPH_USART1 instead of LL_APB1_GRP2_PE

[2017-12-15 11:34] galak opened #5408 "Improve docs & samples on device tree overlay"
Work up a sample to show usage of device tree overlay and document the sample so a user / app developer knows how to utilize overlay

[2017-12-15 12:07] greenhandholman commented on #5401
After some tests and reflections, I noticed that we had to apply the delay to all waiting times. To do this I propose the following modifications.

kernel/sys_clock.c
[code]

[2017-12-15 12:36] erwango commented on #5406
I wonder if we should finally keep this whole macro thing.
It's not the easiest to read, does not get better in time and might end up using more code than initial declarations.

[2017-12-15 16:58] MaureenHelm opened #5411 "Secondary repos are missing licenses"
Need to add license headers and a top-level license files to all the secondary repositories that aren't forks from somewhere else:
net-tools
ci-*

Also, why does meta-zephyr-sdk have an MIT license?

[2017-12-15 17:34] kumarvikash1 commented on #4705
@nashif , Who should be looking into this issue ?

[2017-12-15 17:54] nashif commented on #5411
this is the yocto/openembedded license AFAIK.

[2017-12-15 19:11] andrewboie commented on #5378
One thing I am curious about -- are we planning on introducing some method to have the network stack use a user-suppiled set of buffers or allocation function?
I think we are going to want to provide a way for User Mode threads to work with the network stack, which I think would require that the buffers involved be in a section of memory writable to user mode. As yet nobody has looked into this in

[2017-12-15 19:17] andrewboie commented on #5401
Can you send this as a PR so it can be reviewed?

[2017-12-15 21:27] ydamigos commented on #3850
@erwango Could you test if commit 5b9fdb144e4c987297e4cc81552c8ea2396c3933 fix this issue?

[2017-12-15 22:03] ydamigos commented on #1281
Could you test PR #5413?

[2017-12-16 00:14] lpereira commented on #5382
Commenting to "subscribe" to this issue.

[2017-12-16 10:55] iha commented on #4699
@micheljung I made some tests and probably I'll send the PR until next Wednesday:

https://twitter.com/vitoriha/status/941654878862168064

[2017-12-16 11:45] carlescufi commented on #5382
This will consist of a new repo “MCUmgr”, compatible with both Zephyr and Mynewt. Additional details coming soon.

[2017-12-17 13:52] nashif commented on #5374
The culprit is

[code]

prj.conf has

[code]

[2017-12-17 14:18] nashif opened #5418 "Provide a python based replacement for gperf"
To support native builds on windows, look into providing a python based replacement for gperf

[2017-12-17 14:21] nashif opened #5419 "Provide a python based kconfig processing script, replacement for conf/mconf.."
Using kconfiglib, provide a python based conf replacement to allow native building on windows and drop dependency on host compiler.

[2017-12-18 09:03] erwango commented on #3850
@ydamigos : Issues solved! Thanks

[2017-12-18 09:18] SebastianBoe opened #5423 "[nRF] on-target tests accidentally run twice"
nrfjprog.py will apply two resets; this causes the application to be run twice.

This is an inconvenience/usability issue for now, and will become a bigger problem
when there exists automated on-target testing.

[code]

Either nrfjprog.py should keep the core halted to make sure the core doesn't run twice,
or there should exist some kind of communication between the host and the target to make sur

[2017-12-18 10:53] DWagenk commented on #5408
thanks, your e-mail response already helped me a lot

[2017-12-18 11:39] SebastianBoe opened #5426 "[kconfig] Allow user-input when new options are detected"
When Kbuild detected that new kconfig options were introduced to an existing project it would prompt the user for what he wanted to do with these new options.

CMake does not support this, new options will result in Kconfig aborting.

[code]

CMake needs to deal with this use-case in a more graceful way. It is not clear how though,
the straightforward solution would be to mimic Kbuild and accept u

[2017-12-18 13:44] erwango commented on #4828
Fixed by #4440

[2017-12-18 13:44] #4828 closed

[2017-12-18 14:31] watershade opened #5428 "can not build for esp32"
After I set ESP_IDF_PATH and others things, I just can not compile it .
By the way, my zephyr is V1.10.1 and sdk is 0.9.2

I get message:
`  The OLD behavior for policy CMP0000 will be removed from a future version
  of CMake.

  The cmake-policies(7) manual explains that the OLD behaviors of all
  policies are deprecated and that a policy should be set to OLD only under
  specific short-term circ

[2017-12-18 22:30] lpereira commented on #5428
I just built the hello world app for ESP32 without any issues here.  What are the values of some of the environment variables?  You can check with:

[code]

[2017-12-19 02:46] #3352 closed

[2017-12-19 03:53] kestewart opened #5436 "Add LoRa Radio Support"
For Zephyr to be effective in Industrial settings,  its going to need some form of LPWA (low power wide area) connectivity to be supported [1].

Others have expressed interest in seeing LoRa added to Zephyr already[2],  so can it please be added to the "Future" bucket on the product roadmap to signal to interested parties that the project would welcome contributions in this area? [3]

Once there i

[2017-12-19 09:32] rveerama1 commented on #5344
I can reproduce the issue with http_client. And also with 'telnet' too.
---------------------------------------------------------------------------------------
telnet 2001:db8::2 8000
Trying 2001:db8::2...
Connected to 2001:db8::2.
Escape character is '^]'.
GET / HTTP/1.1
Host: 2001:db8::2

HTTP/1.1 400 Bad Request
Date: Tue, 19 Dec 2017 09:27:12 GMT
Server: Apache/2.4.25 (Ubuntu)
Content-Length:

[2017-12-19 14:29] rveerama1 commented on #4324
Can you test with https://github.com/zephyrproject-rtos/zephyr/pull/5442 ?

[2017-12-19 16:59] priyankaNXP commented on #5289
The issue gets resolved by disabling some debug options. Though unstable behavior still.
Once bt0 interface goes down due to some reason e.g., for a bigger ping packet, there are SDU length mismatch or/and unknown H:4 type at the Zephyr end.
In that case, simple restarting zephyr and/or reseting ble controller does not get connection up. It requires disconnecting everything and connecting again to

[2017-12-19 17:00] SebastianBoe opened #5443 "Deprecate # CONFIG_ is not set"
Some parts of Kconfig treat lines like

\# CONFIG_FOO is not set

to have meaning, instead of just being commented out lines as one would expect.
~~All parts of kconfig that attribute meaning to this construct should be removed
and the use-case that it is enabling should be supported with a construct
that does not look like a comment.~~
Kconfig should generate "=n" instead of "is not set" whenever

[2017-12-19 17:36] priyankaNXP commented on #5326
This issue gets resolved by enabling
+ CONFIG_NET_L2_BT_ZEP1656=y  (in prj.conf)

[2017-12-19 17:36] #5326 closed

[2017-12-19 17:39] nashif opened #5444 "bluetooth controller fails when building with -Wshadow"
Below a few of the warnings...

[code]

[2017-12-19 17:48] nashif commented on #4045
already addressed

[2017-12-19 17:48] #4045 closed

[2017-12-19 17:49] nashif commented on #3704
closing..

[2017-12-19 17:49] #3704 closed

[2017-12-19 17:51] nashif commented on #3855
Duplicates #1727

[2017-12-19 17:51] #3855 closed

[2017-12-19 18:03] nashif opened #5445 "Shadowed declarations in bluetooth stack"
[code]

[2017-12-20 08:59] DWagenk commented on #5406
fix merged to arm branch. closing it now.

[2017-12-20 08:59] #5406 closed

[2017-12-20 11:07] erwango opened #5448 "STM32: Entropy test could not build"
test/entropy/api could not build on STM32 (STM32F4)

[2017-12-20 11:11] erwango opened #5449 "STM32: provide default configuration for entropy sample"
sample/entropy need to be configured to run and pass on STM32 based devices

[2017-12-20 12:11] nashif commented on #5444
to reproduce this, build  controller support  with -Wshadow

[2017-12-20 12:14] nashif opened #5450 "Enable -Wshadow by default"
Warn whenever a local variable or type declaration shadows another variable, parameter, type, class member.

[2017-12-20 15:02] erwango commented on #5448
RNG not supported on F401 based SoC (sucvh as non F4||L4 SoC)
Need to rework driver and kconfig to make this more obvious and avoid this kind of surprises

[2017-12-20 15:04] erwango commented on #5449
Close. Will be solved with #5448

[2017-12-20 15:12] jhedberg opened #5453 "gitlint should allow tabs in commit messages"
At least I can't think of a good reason to forbid them. E.g. when copy-pasting compiler output or code snippets this should be a perfectly valid thing to do.

[2017-12-20 15:16] jhedberg commented on #5453
An example: https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/8481/4/tests

[2017-12-20 15:32] SebastianBoe opened #5454 "[nRF] The nRF boards should not enable networking stacks"
It is IMHO undesired behaviour that nrf52840_pca10056_defconfig and friends are enabling SW components.

Especially big SW components like BT.

HW Kconfig should be describing the available HW, not making assumptions about what SW is going to be used.

Networking stacks should be pulled in directly or indirectly because they are needed by applications.

[2017-12-20 15:58] #5449 closed

[2017-12-20 21:18] nzmichaelh opened #5457 "Add SDHC card support"
This is a tracking bug for adding SDHC card support.  I plan to do this, but I thought I'd log a bug so others can find it if they're interested.

The straw man plan is:

* Support SDHC cards (no MMC or plain SD)
* Use the SD SPI mode
* Implement using the disk layer and test with ELMFAT
* Implement CRC7 and CRC16
* Stretch: support hotplug

[2017-12-21 01:33] iha opened #5458 "[ESP32] Make error"
@lpereira

Building hello_world sample, for example,  I got this error:

`xtensa-esp32-elf/5.2.0/../../../../xtensa-esp32-elf/bin/ld: unrecognized option '--print-memory-usage'`

I've been using this toolchain [version 1.22.0-73](https://dl.espressif.com/dl/xtensa-esp32-elf-linux64-1.22.0-73-ge28a011-5.2.0.tar.gz). And it worked until my last git rebase.

[2017-12-21 08:21] SebastianBoe commented on #5458
Regression from https://github.com/zephyrproject-rtos/zephyr/commit/dbdd7222392a627e7d5b6b0a741b99e9a8258cc9.

[2017-12-21 10:36] erwango opened #5460 "scripts: extract_dts_includes: check yaml dts binding property "category: ""
yaml dt-binding files document a property category: <optional | required>
Aim is to document that a dts node property should be present or not.

This property is currently not checked, which makes it bogus.

Check the property when dts file is parsed, and trigger an error when a property node tagged "required" is not present.

[2017-12-21 10:55] iha commented on #5458
@SebastianBoe  thanks, it works.

[2017-12-21 13:07] erwango commented on #5448
Fix submitted: https://github.com/zephyrproject-rtos/zephyr/pull/5455

[2017-12-21 14:27] mbolivar commented on #5460
Thanks for raising this! I agree this issue seems valid. @agross-linaro, any comments?

[2017-12-21 15:01] erwango commented on #5460
@galak: We recently discussed about "improve error checking of yaml in the future".
I think this issue belongs to this topic.
If you already have pre-defined requirements, let's put them here, so this issue could be solved in the good direction from start.

[2017-12-21 16:02] erwango commented on #3483
## 1 - Clean up driver generic flags from <board>_defconfig files
Remove series specific CONFIG flags from various
For instance, remove following line in boards/arm/disco_l475_iot1/disco_l475_iot1_defconfig
`CONFIG_I2C_STM32_V2=y`
Replace in arch/arm/soc/st_stm32/stm32l4/Kconfig.defconfig.series, by:
`if I2C`
`config I2C_STM32_V2`
`           def_bool y`
`endif # I2C`

Same for (in to be created a

[2017-12-21 16:06] #5458 closed

[2017-12-21 16:06] erwango commented on #3483
@superna9999 , @ydamigos , @mbolivar, @lowlander
Some clean-up would be nice in STM32 configuration files.
Your inputs/ideas are welcome before proceeding

[2017-12-21 18:09] psidhu opened #5466 "sanitycheck: "CMake Error: : System Error: File name too long""
As the title states, there are some tests that fail due to "CMake Error: : System Error: File name too long".

I'm using  eCryptfs on my Ubuntu 16.04 installation with the 4.10 kernel. There's a hard byte limit of 143 that it imposes since it uses the rest of the chars for encrypting.

I'm still going through my sanitycheck, but I've found two so far: qemu_cortex_m3 and qemu_nios2. For example:

A

[2017-12-21 20:45] vanwinkeljan opened #5467 "NFFS file system does no build when newlib libc is used"
The NFFS file system does not build when newlib libc is used due to type conflicts in NFFS os specific function  implementations. This is caused due to the fact that NFFS uses uint32_t (defined as unsigned long in case of newlib) in the prototypes but zephyr uses u32_t (defined as unsigned int) in the implementations.

[2017-12-22 05:43] pswarnak commented on #5365
Hi @lpereira,
FYI: QA team member @tarunkum is looking into this issue.

[2017-12-22 09:08] watershade commented on #5428
Thanks, I will try again

[2017-12-22 09:10] #5428 closed

[2017-12-22 13:07] inakypg opened #5471 "cmake errors at -B containing @"
Hello

When I try to issue a build directory that contains an @ sign, cmake complains; this is quite a problem because autobuilders such as make will issue @ as a workspace path for when running multiple jobs in parallel -- definitely breaks compatibility with previous behaviour.

[code]

[2017-12-22 13:24] nashif commented on #5471
who adds the "@"? Has this worked before with another version of cmake? which one?

[2017-12-22 14:06] #2072 closed

[2017-12-22 14:20] inakypg commented on #5471
jenkins is adding the @  -- when it defines a workspace, say XYZ/jobname, when it has to launch multiple jobs in the same slave, they are launched at XYZ/jobname@2, @3, etc..

This has worked like this for ever, however -- we noticed only on a few jobs because it only happens when there is more load and more jobs happen in the same slave.

It did work with Kbuild

[2017-12-22 14:57] superna9999 commented on #3483
Seems OK for me.

We still need to define the defconfig policy for the nucleo/discovery boards concerning the i2c/spi ports.
Since they can be mapped at multiple ports, we should no enforce a specific pinmux config, no ?

This should be done in an eventual HAT dt overlay/config fragment.

[2017-12-22 19:56] nashif commented on #5471
fix should be simple actually:

[code]

[2017-12-22 22:32] lpereira commented on #5467
Shouldn't the fix in #5468 be the other way around, fixing the declaration of `u32_t` to match `uint32_t`?  (I never bought the argument for these short types, but... pick your battles, I guess.)

[2017-12-23 00:00] vanwinkeljan commented on #5467
@lpereira  Actually that was my first fix where I update zephyr/types.h to typedef uint32_t to u32_t but I thought this was a bit to intrusive.

[2017-12-23 12:53] #5453 closed

[2017-12-23 14:13] #5471 closed

[2017-12-25 00:10] nashif opened #5476 "Native port (posix) to write own PID into a file"
This will allow us to send a signal to the executable and shut it down gracefully.

[2017-12-25 00:12] nashif opened #5477 "Native port (posix) to support receiving signals"
A running zephyr application can be interrupted   and shutdown gracefully, this is now not supported and the application exits abnormally.

this is needed for sanitycheck to kill application after evaluating output and to generate coverage data.

[2017-12-25 15:53] nashif commented on #4603
resolved

[2017-12-25 15:53] #4603 closed

[2017-12-26 08:19] thenakliman commented on #3394
Starting work on providing support of VLAN

[2017-12-26 19:19] pfalcon opened #5481 "net: Another duplicate function to get pkt address"
Following https://github.com/zephyrproject-rtos/zephyr/issues/4421 , this is 3rd function with almost the same functionality (previous duplication case fixed). Well, this time, it has signature:

[code]

i.e., it takes `struct sockaddr_ptr*`, whereas `net_pkt_get_dst_addr()` takes `struct sockaddr*`. Still, I guess it's worth looking into to avoid duplication.

[2017-12-26 19:20] pfalcon commented on #5481
@askawu : Let me know if you're interested to look into this, based on the previous experience. If not, this is in my queue.

[2017-12-26 19:32] pfalcon opened #5482 "net: RFC: Move TCP-related code from net_context.c to tcp.c"
Currently, we have following file sizes:

[code]

A *lot* of code in net_context.c is actually related to TCP handling, which would naturally belong to tcp.c instead. Given pretty big skew of the size towards net_context.c, I think one of the following should be done:

1. Move *some* TCP-related code to tcp.c.
2. Move *as much as possible* TCP-related code to tcp.c.

The risk of choice 2 might be

[2017-12-26 19:33] pfalcon commented on #5482
@jukkar, @tbursztyka, @lpereira, @pfl: Would appreciate your comments on this idea.

[2017-12-26 20:23] lpereira commented on #5482
I would prefer option (2).  Two things matter here: readability and binary size.  Readability will improve, IMHO; it's kind of confusing to have protocol-specific things in what should have been a protocol-agnostic file.  Binary size shouldn't change, which is good; it might even improve slightly with more static functions available to the optimizer.

[2017-12-26 20:24] lpereira opened #5483 "Native port (POSIX) should accept command-line arguments"
In order to help with fuzzing efforts, the native port should accept command-line arguments.

[2017-12-26 20:37] pfalcon commented on #5482
@lpereira : Thanks!

[2017-12-26 21:03] pfalcon opened #5484 "net: ARP/ND: Possibility for deadlocks and DoS"
Reviewing https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/l2/arp.c , I see following:

1. prepare_arp(), which is on TX path, calls `net_pkt_get_reserve_tx(..., K_FOREVER)`, `net_pkt_get_frag(..., K_FOREVER)`. This can lead to a deadlock. Consider that all TX packets/bufs were allocated (can easily happen with patches like https://github.com/zephyrproject-rtos/zephyr/pull/13

[2017-12-26 21:18] pfalcon commented on #5484
Though in practice that's probably not that grave: timeout would be handled at higher level (i.e. protocol for TCP or application for UDP). Still, data packet can be stuck for a prolonged time in ARP table as pending...

[2017-12-26 21:21] pfalcon commented on #5484
Similar issues also apply to IPv6 ND too. E.g. net_ipv6_send_ns() also uses K_FOREVER's for allocation. It however at least has a reply timeout timer.

[2017-12-27 09:33] akhileshupadhyay opened #5485 "tests: kernel/xip: CONFIG_BOOT_DELAY issue for qemu_riscv32"
This test case fails on introducing CONFIG_BOOT_DELAY.

Steps to reproduce:
1. cd Zephyr_Base/tests/kernel/xip
2. add CONFIG_BOOT_DELAY=10 to prj.conf.
3. mkdir build && cd build
4. cmake -DBOARD=qemu_riscv32 ../
5. make run

Below logs appear:
[code]

[2017-12-27 10:34] askawu commented on #5481
@pfalcon , please assign this to me. :)

[2017-12-27 10:44] pfalcon commented on #5481
@askawu : Done, thanks!

[2017-12-27 11:01] MariuszSkamra opened #5486 "Bluetooth: Cannot connect to prevoiusly disconnected device when BT_PRIVACY is enabled"
After successful disconnection, one cannot reconnect to the device.
Advertising packets from remote device are not received (remote advertises - advertisements are visible on another device) so that General Connection Establishment Procedure fails.

Configuration:
CONFIG_BT=y
CONFIG_BT_CENTRAL=y
CONFIG_BT_PERIPHERAL=y
CONFIG_BT_SMP=y
CONFIG_BT_SIGNING=y
CONFIG_BT_GATT_CLIENT=y
CONFIG_BT_PRIVACY=y

[2017-12-27 11:02] MariuszSkamra commented on #5486
I suspect controller issue

[2017-12-27 11:04] fabled commented on #1868
Does this ticket implicitly include the goal of "Build two or more flashable images to same target from same set of sources"? I would appreciate this being able to be done from one cmake invocation. Now using top-level Makefile to invoke cmake several times with different cmake defines to produce two application images.

[2017-12-27 12:38] SebastianBoe opened #5488 "target_ld_options will apply flags that should be skipped"
target_ld_options should be testing whether the linker accepts a flag, but in reality it is only testing whether the compiler accepts the flag.

This was discovered in https://github.com/zephyrproject-rtos/zephyr/issues/5458 and partially fixed in https://github.com/zephyrproject-rtos/zephyr/pull/5459. The fix developed for #5459 should be applied to target_ld_options as well.

[2017-12-27 13:59] nashif commented on #3838
duplicate

[2017-12-27 13:59] #3838 closed

[2017-12-27 15:23] nashif commented on #5483
good start is `--pid-file` :)

[2017-12-27 19:16] #1891 closed

[2017-12-27 22:27] pfalcon commented on #4653
Ok, so I spent time to wade thru this. First of all, tcp->recv_max_ack is updated like follows https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/tcp.c#L525:

[code]

So, the purpose of recv_max_ack is to track maximum value of the outgoing sequence number. But that doesn't make sense. Seqno monotonically increases, so the *current* value is the maximum.

Why would it be stored

[2017-12-27 22:28] pfalcon commented on #4653
Summing ip:

1. `tcp->recv_max_ack` is truly useless and should be removed.
2. But we should validate ackno of received packets.

[2017-12-27 23:55] vanwinkeljan opened #5493 "NFFS does not work with STM32L4 devices due to flash restrictions"
NFFS assumes that it can write at byte granularity to a flash device but STM32L4 family expects 64-bit writes to flash. Further STM32L4 family assumes that an entry has not been written before preventing a read-modify-write workaround.

Note that this issue possibly impacts more STM32 families.

[2017-12-28 10:17] carlescufi commented on #5382
MCUmgr repository: https://github.com/apache/mynewt-mcumgr

[2017-12-28 11:59] aescolar-ot opened #5497 "cmake: allow to link external libraries with --whole-archive"
Allow apps or boards to define a set of external libraries to be linked into the zephyr binary,
but inside the -Wl,--whole-archive part of the link command.
For ex. an app may want to link the libraries
/path/lib_a.a /path/lib_b.a & /path/lib_c.a
where these libraries may use each other.

Background:
Currently it is only possible to add them after the --no-whole-archive part of the link command.
W

[2017-12-28 12:12] SebastianBoe commented on #5497
We have discussed this offline. There are several ways to achieve the same effect, but none that seem
cleaner than adding them to whole-archive.

Solution proposal:

Introduce a "Zephyr external library" concept to the CMake extensions.

These libraries are conceptually Zephyr libraries (so they are for instance added to the list of libraries to be --whole-archive'd), but they have a property set

[2017-12-28 14:37] grapygrape opened #5499 "config BT_CTLR_DEBUG_PINS"
In subsys/bluetooth/controller/Kconfig it says at config BT_CTLR_DEBUG_PINS:

"Turn on debug GPIO toggling for the BLE Controller. This is useful when debugging with a logic analyzer or profiling certain sections of the code. When enabled, pins P0.16 to P0.25 are taken over exclusively by the controller and cannot be used outside of it."

but in subsys/bluetooth/controller/hal/nrf5/debug.h it says

[2017-12-28 16:06] SebastianBoe opened #5501 "Deprecate qemu.cmake in favour of a qemu runner backend"
Hi,

I suspect we want to eventually rename/alias 'flash' to 'run'. And treat qemu emulation as just
another runner backend. I believe this would make it easier for us to maintain the runner and qemu
infrastructure, and would make it easier for us to keep the user-interface for flashing and running
consistent.

A qemu backend would also allow us to move all the symlink/fifo/pipehandling out of qem

[2017-12-28 16:08] SebastianBoe commented on #5501
@mbolivar : Did you already intend to move in this direction? I see you have added a dummy qemu.py backend already.

[2017-12-28 16:37] #5488 closed

[2017-12-28 17:55] pfalcon opened #5504 "net: Incorrect logic for TCP "ackerr" statistics"
In https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/tcp.c#L907, we have the code like:

[code]

It means that if retransmit list is empty, then any ACK received will be considered "error". But that doesn't make sense, because TCP mandates ACK to be set for any packet of the established connection - if there's no advancement in the ack number, the last value will be used, and

[2017-12-28 17:58] pfalcon commented on #5504
Going further, we have code at https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/tcp.c#L931 again treating something as "ACK error":

[code]

Likewise, that's not correct - there's nothing wrong if only the head part of retransmit list is being acknowledged (instead of the entire list). So, the above is the list processing loop termination condition, but it's not an error.

[2017-12-28 18:24] ydamigos commented on #3483
I started cleaning up stm32f4 family boards and I believe we should also move to boards' defconfig the following flags:
[code]
What about GPIO_STM32_PORT* flags? Should we enable them per board? For example, for stm32f4 series PORTD is enabled but 96b_carbon does not use it (I checked the schematics and only PD2 is available but it is not used).

[2017-12-28 23:23] #5466 closed

[2017-12-29 01:24] #4724 closed

[2017-12-29 17:54] ydamigos commented on #3483
I pushed PR #5515 to address the first step.

[2017-12-29 20:55] nashif opened #5517 "Expand toolchain/SDK support"
Collection of issues related to general toolchain and tool support:

- [ ] rename ZEPHYR_GCC_VARIANT to something more appropriate
- [ ] Upstream Clang Support
- [ ] Synopsys Metaware Support

[2017-12-30 14:21] SebastianBoe commented on #5334
The second point is fixed by this patch that does if(NINJA).

Support for build-time configuration of the QEMU command with Ninja is
also developed, but is undergoing testing.

https://github.com/zephyrproject-rtos/zephyr/pull/5518

[2017-12-30 17:18] SebastianBoe commented on #5517
Perhaps also cleanup/fix/test/document CROSS_COMPILE or at least document
how to use toolchains that are not supported upstream.

I suspect it's definition changed during the migration.

I think it is supposed to be able to point to a toolchain that Zephyr is not aware of (does not have a zephyr/toolchain-<toolchain>.cmake file) but I don't think this works today.

[2017-12-30 17:28] nashif commented on #5517
yes, this used to work fine with Kbuild if I remember correctly.

[2017-12-31 02:17] nashif opened #5524 "reorg documentation structure on website (docs.zephyrproject.org)"
Right now and to be compatible with how documentation was before we migrated to docs.zephyrproject.org we have the latest docs in the root and all old releases in sub-directories on the same level. This is not optimal, because we not able to do a sync and remove old files that do not apply anymore, so changes are we will have some stale files if we move things around in the future.
Additionally, w

[2017-12-31 14:09] SebastianBoe commented on #5153
Did some experimenting with using environment variables for the "runtime" configuration.

It works kind of ok, if qemu was integrated into the runner infrastructure I think we would
 have something usable.

https://github.com/SebastianBoe/zephyr/commit/9973f2c10143e4c05db3c743784ec387cd9adbd1

[2017-12-31 14:30] ydamigos commented on #3483
Enabling the various controllers in Kconfig.defconfig.series, it causes tests (like tests/drivers/build_all) to fail on some boards (e.g. nucleo_f103rb, stm3210c_eval, etc.) because SPI and I2C are not configured on these boards. We could either enable SPI and I2C on them or disable the tests in boards yaml files. I prefer the first option but I don't have the hardware to test it.

[2018-01-01 21:13] nashif opened #5529 "Explore Little File System (littlefs) support"
See https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/littlefs/littlefs/SPEC.md

[2018-01-02 04:05] Shilpashree3lc opened #5530 "[Coverity CID: 181848] Null pointer dereferences in /subsys/bluetooth/host/mesh/access.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/access.c
 Category: Null pointer dereferences
 Function: publish_retransmit
 Component: Bluetooth
 CID: 181848
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-02 04:05] Shilpashree3lc opened #5531 "[Coverity CID: 181847] Incorrect expression in /samples/drivers/crypto/src/main.c"
Static code scan issues seen in File: /samples/drivers/crypto/src/main.c
 Category: Incorrect expression
 Function: ctr_mode
 Component: Samples
 CID: 181847
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-02 08:32] pfl commented on #5482
Yes, take option 2 and move it (all) to tcp.c. That's on a yellow sticker on @jukkar's desk and is waiting for someone to update the code.

[2018-01-02 11:00] carlescufi commented on #5148
A good candidate for an additional lightweight FS: https://github.com/geky/littlefs, with Mbed OS here: https://github.com/ARMmbed/mbed-os/tree/master/features/filesystem/littlefs

[2018-01-02 12:20] carlescufi commented on #5419
Beyond `.config` and `include/generated/autoconf.h`, the current `conf` creates a `kconfig/include` tree that contains 2 non-empty files:
[code]

[2018-01-02 13:32] SebastianBoe opened #5534 "Improve error message when input sections are accidentally orphaned"
When an input section is orphaned[0] today the linker will place it at the end of the last memory region. This could trigger an error message like this:

if MMU_LIST is the last region. Instead, it would be better to detect orphaned sections and give a more appropriate error message as this has nothing to do with MMU_LIST really.

[0] An orphaned input section is an input section that the linker s

[2018-01-02 13:48] SebastianBoe commented on #5534
Correction, it does not always place orphaned sections at the end, sometimes it guesses (correctly or incorrectly), anyways, we don't want to be accidentally relying on unpredictable heuristics.

[2018-01-02 15:09] carlescufi commented on #4951
This will not work with Kconfiglib, due to the fact that it does not generate this tree in `kconfig/include` at all.

[2018-01-02 15:53] nvlsianpu commented on #5148
RFC PR of FCB addition: https://github.com/zephyrproject-rtos/zephyr/pull/5537

[2018-01-02 17:02] nashif opened #5539 "tests/kernel/fatal/stack-sentinel fails when asserts are enabled"
[code]

[code]

[2018-01-02 18:34] #5467 closed

[2018-01-02 19:50] salerio-gs opened #5540 "Any plans to support on Cortex-R5 CPU such as those in Xilinx MPSoC"

[2018-01-02 20:26] #5477 closed

[2018-01-03 03:09] #5351 closed

[2018-01-03 03:41] miyatsu commented on #5493
NFFS does not work with STM32F4 too.

[2018-01-03 13:35] pfalcon opened #5546 "(Stupid) questions about coverage reports"
Coverage reporting via https://codecov.io/gh/zephyrproject-rtos/zephyr was recently introduced, and coverage reports usually lead to a bunch of question. It's proposed to have this ticket to dump them.

[2018-01-03 13:42] pfalcon commented on #5546
"Randomly" skipped lines.

Let's have a look at https://codecov.io/gh/zephyrproject-rtos/zephyr/src/master/misc/printk.c#L103 (we need line 103, in Firefox, it's obscured when opening that link, a cute bug in codecov.io UI). So, it's not marked as either hit or missed, which usually means that a line is not subject to code coverage (e.g. a declaration/definition, #ifdef'ed out, etc.). But that blo

[2018-01-03 13:42] pfalcon commented on #5546
@nashif : Do we build coverage with `-O0` ?

[2018-01-03 14:04] SebastianBoe commented on #5546
I also have some stupid questions;

I get different coverage results in the github email notification and the Codecov github issue comment and find this confusing. It looks like Codecov edit's its answer, is this necessary?

[2018-01-03 14:12] pfalcon commented on #5546
Apparently it does, a tradeoff is getting "spammed" on each coverage updated:
https://docs.codecov.io/docs/pull-request-comments#section-behavior

[2018-01-03 14:37] nashif commented on #5546
coverage reports come from different jobs and are merged into one report, hence the edits. IMO this is better than updating results with a new comment every time.

[2018-01-03 14:38] nashif commented on #5546
No

[2018-01-03 14:39] nashif commented on #5546
btw, if you are looking for another output to compare with and something that you can reproduce locally, see:

http://docs.zephyrproject.org/coverage/misc/printk.c.gcov.html

This can be generated with sanitycheck --coverage

[2018-01-03 14:40] nashif commented on #5546
and final note, there are a few bugs and lots of missing coverage on codecov.io right now, I am working with the provider to resolve them.

[2018-01-03 16:22] pfalcon opened #5548 "coverage should be collected from code built with -O0"
Confirmed by @nashif in https://github.com/zephyrproject-rtos/zephyr/issues/5546#issuecomment-355027044 ,  we don't build coverage test with special compile options (which means they're built with -Os).

But "man gcov" says:

       gcov because the optimization, by combining some lines of code into one
       function, may not give you as much information ...

Indeed, a question was posed why we

[2018-01-03 16:23] pfalcon commented on #5546
Addressed by https://github.com/zephyrproject-rtos/zephyr/issues/5548

[2018-01-03 18:12] #5548 closed

[2018-01-04 05:03] #5010 closed

[2018-01-04 08:27] aescolar-ot commented on #5483
One possible quick option is to base it on [argtable3](http://www.argtable.org/) which is 3 clause BSD licensed.
In that case I guess we would have a new external library like ext/lib/argparse/argtable3/ (?)
@nashif : Does this sound reasonable? Does it need to be addressed in the TSC?

[2018-01-04 08:33] aescolar-ot commented on #5483
Another option is to use [argtable2](http://argtable.sourceforge.net/), which is provided as a package for quite a few distros (including Debian/Ubuntu), and is LGPL. But with it we would add one dependency more to Zephyr.

[2018-01-04 11:52] SebastianBoe opened #5554 "Support maintaining subsystems out-of-tree"
# Use-case
Users want to maintain Zephyr components out-of-tree like boards, arch's, drivers etc.

This github issue tracks the use-case of maintaining a driver out-of-tree.

# Root cause

A driver would require devconfig to be populated and for the system call infrastructure to find the system call. The devconfig mechanism has been observed to work, but syscall detection does not.

# Workaround t

[2018-01-04 12:00] SebastianBoe commented on #5343
Oops, I referenced this issue by mistake in #1c2de10.

[2018-01-04 12:31] SebastianBoe commented on #2112
+1

It will be really interesting to see the results of supporting LTO.

[2018-01-04 14:09] SebastianBoe opened #5557 "Cloning Zephyr with git's core.autocrlf=true leads to obscure errors"
Windows users are likely to have a pre-configured git client that will clone Zephyr with "core.autocrlf true". This causes LF to be converted to CRLF and will break Kconfig in an obscure way.

Not sure what the best fix is here.

# Possible solutions

- Document that git must be cloned with "core.autocrlf false".
- Detect that files have the wrong line endings and give a sane error message.
- Supp

[2018-01-04 18:29] #4777 closed

[2018-01-04 20:20] mbolivar commented on #5501
@SebastianBoe Happy new year!

That was a copy of a dummy qemu.sh that was already there when I started working on the runner backends. I created a dummy Python script just so people would have a place to start if they want to continue this work. I have no plans to do it.

[2018-01-04 21:05] lpereira commented on #5483
I don't think we need to use any library: just exposing `argc` and `argv` is fine.  I have a `[hackish patch](https://github.com/lpereira/zephyr/tree/dhcpv4-test)` that does this.

[2018-01-04 21:37] mbolivar commented on #3483
Happy new year, everyone!

@erwango:

+1.

I guess this also means checking samples/ (and maybe tests/) for cases where the SOC-specific flags are enabled in prj.conf when no longer needed.

+1.

I'm not sure what "instance configs" means, sorry. If this means using the Kconfig.defconfig pattern:

[code]

as is used in 96b_carbon instead of just putting STM32_FOO=y in the _defconfig, I'm +1.

@sup

[2018-01-05 07:03] aescolar-ot commented on #5483
Ok, it depends on what you want. If you just want to pass `argc` & `argv` to something else which will process them, or if you want to do the handling in native_posix board. (say check that `--pid-file` was there and dump the file).

[2018-01-05 08:02] SebastianBoe commented on #5501
Happy new year :)

Do you think it might make sense to incorporate running qemu into the runner infrastructure?

[2018-01-05 09:39] aescolar-ot commented on #5483
Maybe we should clarify what is that we try to achieve first.
My understanding of what different people wants (please correct me if I'm wrong):
* @nashif : The native_board should accept an argument like `[--pid-file <file_name>]`. When it gets it, it should dump to `file_name` the process id.
* In line with what Anas wants, I think it would be nice to add another argument `[--stop-at <time>]`. Wh

[2018-01-05 09:53] pswarnak commented on #5365
Hi @lpereira,
@tarunkum has modified your [code ](https://github.com/lpereira/zephyr/commit/d19a2a8064401abb3c78bdd5733da5f778f9b416)for converting it to ZTEST.
Can you please push your changes, so he can update the modified on top of it.

[2018-01-05 10:14] carlescufi commented on #5557
This should not happen anymore once we transition to a Python version of Kconfig.

[2018-01-05 10:38] pfalcon opened #5565 "net: Kconfig: NET_BUF_LOG and NET_BUF_SIMPLE_LOG unrightly select STDOUT_CONSOLE"
This is the cause of weird behavior described in https://github.com/zephyrproject-rtos/zephyr/issues/5379 : working printf() requires STDOUT_CONSOLE, and if app's top-level config doesn't set that, it may be, quite randomly, selected if NET_BUF_LOG and NET_BUF_SIMPLE_LOG are activated.

This doesn't seem to make much sense. The meaning of STDOUT_CONSOLE is "printf() and other stdio console friends

[2018-01-05 10:50] ydamigos commented on #3483
@mbolivar:

I chose to put it in the board files, but it is under discussion, if someone has a different opinion.

Yes and no. I will try to make my comment more clear. Enabling the SPI driver in common Kconfig.defconfig.series broke same tests for some boards (e.g. 96b_carbon in the STM32F4 family). So, for 96b_carbon I added:
[code]
in boards Kconfig.defconfig file to fix it. But, other boards d

[2018-01-05 10:53] pfalcon opened #5566 "kconfig: STDOUT_CONSOLE unrightly stuffed under subsys/debug"
This is related to #5565 and https://github.com/zephyrproject-rtos/zephyr/issues/5379.

STDOUT_CONSOLE is defined in subsys/debug/Kconfig. But this option has nothing to do with debugging. It's purpose is to make printf() and friends work (vs not work):

device, rather than suppressing it entirely.

Consequently, proposed:

1. Make this option be `default y if NEWLIB_LIBC` - after all, if a user s

[2018-01-05 12:04] SebastianBoe commented on #5334
No known bugs.

[2018-01-05 12:04] #5334 closed

[2018-01-05 15:00] #5565 closed

[2018-01-05 15:56] mbolivar commented on #5501
I definitely think it makes sense. It's just another way to run the code, after all. I haven't tried the new "native" port, but I think that would make sense too -- keeping interfaces uniform is good usability.

[2018-01-05 16:05] mbolivar commented on #3483
I thought you might have meant that, but I can compile tests/drivers/build_all for nucleo_f103rb (which was one of your examples) with the code in your PR #5515, so I don't see the breakage. I'm assuming by test "failure" you mean a build break since you say you don't have HW to test. What am I missing?

[2018-01-05 16:14] aescolar-ot commented on #5483
Woudl something like this cover all these needs: https://github.com/aescolar-ot/zephyr/commit/ae5504361a7323c30aae8bdd47149d8823e9fd1c  [the code is horrible, it is just a demo]
Or what would be needed differently use wise?
[code]
And here an example of what you get when running it
[code]

[2018-01-05 16:22] ydamigos commented on #3483
Yes, I mean a build break. Sample "samples/sensor/sx9500" doesn't compile on nucleo_f103b. You could also check the shippable logs for PR #5515 to find out which sample or test create a build failure on which board.

[2018-01-05 17:23] mbolivar commented on #3483
I think there's a way in the test case YAML to filter out based on whether a board supports a peripheral. There's got to be some way to make sure the relevant boards say they don't (i.e. default is "no" at SoC level, boards can turn it on if appropriate), right?

[2018-01-05 19:36] linkmeyer opened #5576 "None of the :github:'XYZ' links work in the 1.10 release notes"
None of the :github:'XYZ' links work in the 1.10 release notes found at https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/release-notes-1.10.rst

[2018-01-05 19:59] dbkinder commented on #5576
That's because you need to click on the generated HTML links here (and not on the .rst files): http://docs.zephyrproject.org/release-notes-1.10.html

[2018-01-05 23:02] #5576 closed

[2018-01-06 00:33] dbkinder opened #5577 "Document interaction between mcuboot and Zephyr"
As reported in #5549 the developer notes, "The interaction between mcuboot and Zephyr seems completely undocumented."

[2018-01-06 03:45] #3685 closed

[2018-01-06 03:50] nashif opened #5579 "Address untested options in kernel"
Following options in the kernel are either not being tested or executed at all or test is not complete:

- [x] **CONFIG_ERRNO**: Test exists, but no use of function declared in kernel/errno.c
- [x] [#5254] CONFIG_KERNEL_EVENT_LOGGER
- [x] CONFIG_INT_LATENCY_BENCHMARK

[2018-01-06 09:37] pfalcon commented on #5579
Can there be some textual content in tickets instead of them being kinda cryptic?

Because literal taking of:

shows that assumption of "Untested" is incorrect: https://github.com/zephyrproject-rtos/zephyr/tree/master/tests/kernel/errno

[2018-01-06 17:47] ydamigos commented on #3483
According to the documentation the option `depends on` for the testcases:
[code]
and the option `supported` in the boards yaml file should do the trick.
[code]
I will give it a try.

[2018-01-06 19:40] nashif commented on #5579
be patient, I am just collecting the data right now and using this as a place holder

re errno: while CONFIG_ERRNO is enabled in the mentioned list, errno.c in kernel/ is not being tested at all.

[2018-01-06 19:53] pfalcon commented on #5579
Ah, so this is about coverage after all...

[2018-01-07 19:07] nashif commented on #5539
@AdithyaBaglody can you please take a look at this bug?

[2018-01-07 19:45] jhedberg commented on #5530
classified as intentional in coverity

[2018-01-07 19:45] #5530 closed

[2018-01-08 02:25] nullr0ute opened #5589 "Issue with using generic gcc cross compile with cmake"
I've tried both the 1.10 branch and master with this, but I can't seem to get zephyr to build with generic distro cross compilers when using the SDK less instructions here http://docs.zephyrproject.org/getting_started/getting_started.html#sdkless-builds like I could with < 1.10 (details of older here: https://nullr0ute.com/2017/03/getting-started-with-zephyr-on-fedora/ )

It seems related to the f

[2018-01-08 10:38] punitvara commented on #3302
@nashif  Can we close this ?

[2018-01-08 13:50] erwango commented on #3483
Best wishes to you all!
Thanks for your interest on that issue and thanks @ydamigos for your PR. I'll try to provide a review today, but this is definitely an interesting work.
Here are some replies to the discussion above. Let's see if we can define some generic and coherent rules, keeping in mind that some of these CONFIG flags will be moved to dts in medium/long term.

@superna9999,

About pin

[2018-01-08 14:27] ydamigos commented on #3483
@erwango Best wishes!!!

+1, it would be good to follow the same approach on other boards (e.g. olimexino-stm32) which featuring an arduino connector. We could do the same for 96Boards expansion connectors.

I will move GPIO definition for ports A, B, C, D in common  Kconfig.defconfig.series and enable the rest ports per SOC in SOC's Kconfig.defconfig.series or Kconfig.defconfig.stm32*.

[2018-01-08 15:03] #4885 closed

[2018-01-08 15:24] #5557 closed

[2018-01-08 15:37] carlescufi commented on #5419
See https://github.com/zephyrproject-rtos/zephyr/pull/5569

[2018-01-08 15:38] carlescufi commented on #5374
@nashif @SebastianBoe can we close this as per https://github.com/zephyrproject-rtos/zephyr/pull/5569 ?

[2018-01-08 15:40] nashif commented on #5476
not important for now, I can get the PID in python where I needed this.

[2018-01-08 15:42] SebastianBoe commented on #5374
@carlescufi : What you can do is put "fixes #5374" in the PR description or a commit message and this will be automatically closed when the RFC is merged.

https://help.github.com/articles/closing-issues-using-keywords/

[2018-01-08 16:11] carlescufi commented on #5418
@lpereira now that we're getting closer to Kconfig and DTC, can you give us an update on this?

[2018-01-08 16:22] carlescufi commented on #5418
One more thing, `gperf` is actually portable and can be easily built on Windows. This obviously requires generating the binary, but it might be easier than writing a Python version. See: http://git.savannah.gnu.org/cgit/gperf.git/tree/README.windows

[2018-01-08 16:53] SebastianBoe commented on #5589
Hi, thank you for the detailed feedback.

I expect this to be fixed when #5594 is merged.
But with one change, instead of

export CROSS_COMPILE="/usr/bin/arm-linux-gnu-"
export ZEPHYR_GCC_VARIANT=gcc

do

export CROSS_COMPILE="/usr/bin/arm-linux-gnu-"
export ZEPHYR_GCC_VARIANT=cross-compile

or

export CROSS_COMPILE="/usr/bin/arm-linux-gnu-"
unset ZEPHYR_GCC_VARIANT

[2018-01-08 17:47] lpereira commented on #5418
I have some code to generate a perfect hash table with Python, but the generated hash function uses a MOD operator, which is not a good idea.  (Gperf generates a function that's essentially a few array lookups, which is much better suited for microcontrollers.)  I'll take a closer look at this issue this week.

In any case, there are a few things that can be improved WRT gperf, at least for this a

[2018-01-08 18:08] lpereira commented on #5418
The last idea works very well -- here's some PoC in a [gist](https://gist.github.com/lpereira/787cd97aa0fefaa93af81c6ae91f0a07). Just need to use that to generate a C file.

[2018-01-08 18:10] mbolivar commented on #3483
I agree in principle, but there is a problem in practice as described in the commit log for ef022d39b4:

[code]

So some CONFIG_BT_SPI values for Carbon need to be in the defconfig, even though by this rule they would go in the Kconfig.defconfig.

That seems reasonable. Optimization should also be possible in prj.conf on an application-specific basis.

[2018-01-08 18:59] carlescufi commented on #5418
@lpereira I can easily create a chocolatey package for gperf on Windows, since gperf builds fine on it. I’m fine either way, but just letting you know since then after for the user it will be as simple as choco install gperf

[2018-01-08 21:23] galak opened #5601 "docs for cc3220sf_launchxl are out of date/incorrect"
There are some broken links in the docs as well as the XDS emulation link points to the wrong place.

[2018-01-08 22:21] nashif opened #5603 "Bluetooth logging is hardcoded with level 4 (debug)"
In subsys/bluetooth/common/log.h

`#define SYS_LOG_LEVEL SYS_LOG_LEVEL_DEBUG`

So it is either DEBUG or nothing in this case..

It should be possible to set to other levels.

[2018-01-09 05:12] nullr0ute commented on #5589
Initial testing (not extensive) looks good. It certainly gets past the issue I was seeing above and looks good. I'll do some more extensive testing when I get some spare cycles but this LGTM

[2018-01-09 07:52] jhedberg commented on #5603
This is not really a bug, since the debug vs no-debug logging is decided on a per-submodule basis (see the condition that BT_DBG expands to). Since it's the per-submodule Kconfig switches that decide whether debug logs get output the SYS_LOG_LEVEL must always be set to SYS_LOG_LEVEL_DEBUG. Otherwise when the condition in BT_DBG evaluates to true the SYS_LOG_DBG call would not output anything.

[2018-01-09 09:17] SebastianBoe opened #5605 "Compiler flags added late in the build are not exported to external build systems"
The current infrastructure for integrating with external build systems can cause flags to be omitted in a way that is confusing and inconvenient for build script developers.

Today it works like this:

CMakeLists.txt code is processed in a sequential manner. Different subsystems (arch/, zephyr/CMakeLists.txt, subsystems/, ext/) can globally add flags to the build, and the zephyr_get_*
API reads ou

[2018-01-09 09:23] SebastianBoe commented on #5605
A temporary workaround is to re-order CMakeLists.txt code until you get all the flags you need.

Not sure what a proper fix would look like. Perhaps in addition to the boilerplate.cmake header we could have a footer_boilerplate.cmake that reads out the final list of flags. But this solution would both increase bloat in the 'app' CMakeLists.txt code and be a breaking change, so we should try to fin

[2018-01-09 09:24] SebastianBoe commented on #5605
@pfalcon : @KaSroka : FYI

[2018-01-09 09:27] paulgavrikov opened #5608 "Bluetooth LE continous scan weird behaviour"
Using a nRF52-DK2 (pca10040) I want to continously (passive) scan for advertisements, so I set the following params:
[code]
When I look at the energy consuption I see a weird behaviour: The enforced channel switiching seems to turn off the radio and restart it every time. Causing a "gap" of different durations. Sometimes such a scan window cannot be established at all before switching to the next

[2018-01-09 09:27] carlescufi commented on #5418
@lpereira I just managed to build `gperf` with Visual Studio's compiler, so it doesn't get any more native than this. I will try to create a chocolatey package now and report back.

[2018-01-09 10:20] erwango commented on #3483
@superna9999, @mbolivar , @ydamigos

So it seems we're aligned. Let me sum it up:

GPIO port configuration (port activation) would be done at SoC level:
- in arch/arm/soc/st_stm32/common/Kconfig.defconfig.series for port ABCD
- in arch/arm/soc/st_stm32/stm32xx/Kconfig.defconfig.<_soc_> for other ports
Then, when CONFIG_GPIO is selected, all ports will be activated by default. Optimisation should t

[2018-01-09 10:26] ydamigos commented on #3483
+1. Just a small comment. Port D is not available for all SOCs so, I wouldn't configure it in common/Kconfig.defconfig.series.

[2018-01-09 10:29] superna9999 commented on #3483
Ok for me ! :shipit:

[2018-01-09 11:51] pfalcon commented on #5605
Ack, thanks for ping.

[2018-01-09 13:22] #5539 closed

[2018-01-09 13:27] aescolar-ot commented on #5483
So as @nashif does not want his option by now, I'm just doing a very simple PR with what @lpereira wants.

[2018-01-09 15:00] carlescufi commented on #5418
I've now submitted a package containing both 32 and 64-bit executables to chocolatey: https://chocolatey.org/packages/gperf/3.1
@lpereira feel free to push your replacement, but we now have a native Windows version of `gperf`

[2018-01-09 15:27] mbolivar commented on #3483
+1, and thanks! This will be a great cleanup.

[2018-01-09 16:46] #5497 closed

[2018-01-10 01:14] lpereira commented on #5418
Thanks, @carlescufi!  This will give me more time to work on the Python replacement (the gperf generation is quite rube-golgbergy, and I'd like to clean it up), as I'm currently swamped with other things.

[2018-01-10 09:12] pswarnak opened #5619 "zephyr.git/tests/misc/test_build/testcase.yaml#test_newlib @ esp32:xtensa BUILD failed"
Commit ID:                                34b8b3b5ee6c24401a9490c0dd2b2cc11ad65479
Branch:          master
URL:          https://github.com/zephyrproject-rtos/zephyr.git
Target Name: esp32

### Testcase and steps to reproduce
To clone (if you have not yet):
  git clone https://github.com/zephyrproject-rtos/zephyr.git -b master zephyr.git

Checkout the right versions:
  (cd zephyr.git; git checkout

[2018-01-10 09:18] wenhuizhang commented on #5517
Not sure if my understanding if correct, in cmake files, CMAKE_C_COMPILER is signed as ${TOOLCHAIN_HOME}/bin/${CROSS_COMPILE_TARGET}- , this points to where the SDK (meta-zephyr-sdk) files are.  The SDK files has patches for gcc compilers.

[2018-01-10 09:22] wenhuizhang commented on #5605
Might be due to the issue that cmake read CMakeCache.txt before reading CMakeLists.txt, and deleting all  CMakeCache.txt might help.

[2018-01-10 09:47] SebastianBoe commented on #5605
I am unable to understand what you are saying. Feel free to submit a PR that fixes the issue.

[2018-01-10 14:46] pfalcon commented on #5378
Here's an email response I posted on 2017-12-13, after the presentation mentioned in the description, and before many folks went on the vacation:

----
Thanks for yesterday's presentation. One thing which caught my
attention yet during pre-reviewing of the slides was that "[with the new
buf management scheme,] It can even be user statically allocated buffer
too !". We had a stakeholder doc circula

[2018-01-10 14:57] pfalcon commented on #5378
While folks were away, I tried to find answers to the questions above, in particular:

Slide 14 in the presentation above (https://github.com/zephyrproject-rtos/zephyr/files/1555201/Zephyr.Networking.Forum.December.2017.materials.pdf) would answer that:

One for the L2 headers
One for the IP headers
One for the actual payload, i.e a reference to the user buffer

So, per this design, we'd still hav

[2018-01-10 15:02] nashif opened #5622 "Update kconfiglib used for generating Kconfig documentation"
We do have an old version that needs to be updated and use the new one being imported into scripts/

[2018-01-10 15:15] tbursztyka commented on #5378
1 - consistency: solved by going towards socket based only API (the new buffer management is not solving this per se, it is enabling new technical possibilities which can be used to remove net_pkt/net_buf from user side).
2 - I thought this was obvious, as soon as it gets rid of net_pkt/net_buf in user API side, so it goes towards socket based API... it will be possible to have all high-level APIs

[2018-01-10 15:27] wenhuizhang commented on #5605
A quick and dirty solution, execute 'git clean -d -f -x' , or delete all build directories might work. (5.2.1. The CMake Process : The Configure Step)
Ref: http://www.aosabook.org/en/cmake.html .

[2018-01-10 15:44] pfalcon commented on #5378
@tbursztyka, thanks for the responses.

That's actually one of my concern. Let me formulate it like this: if there're talks about huge refactors, why don't we just switch to BSD Sockets API at all? I'm not sure if you mean just that, and I don't remember such a possibility to have been discussed at the 2017-12-12 meeting.

Ok, so we have fragments, and there will be fragments. But another "dumb" q

[2018-01-10 21:25] chsc opened #5626 "Building samples failed"
Hello all, I have problems building the SDK sample applications. Specifically I was following the example at [STM32 Minimum Development Board](http://docs.zephyrproject.org/boards/arm/stm32_min_dev/doc/stm32_min_dev.html).

I get the following error after running `cmake -DBOARD=stm32_min_dev ..`:

[code]

The sdk_version file seems to be missing, so I assume the build files are broken or outdated.

[2018-01-10 22:30] pfalcon commented on #5626
Please make sure that it's not https://stackoverflow.com/questions/47081317/zephyr-cmake-error

[2018-01-10 22:44] andrewboie commented on #5226
@AdithyaBaglody can you take a look at this?

[2018-01-11 03:14] #4851 closed

[2018-01-11 06:35] pfl commented on #5378
While doing all the buffer updating, we are aware that there won't be time or manpower for one big patch to change it all in one go. Thus the parts need to be fixed one chunk at a time while the system has to be kept working as before. And users, whomever they are, will not be happy if their only choice of networking is suddenly replaced. Time will tell whether net_context() can be "switched off"

[2018-01-11 09:31] tbursztyka commented on #5378
I actually said that during the presentation yes, that we may just do that move. It was not written in any slide though.

About work plan, we have to come with something. In the end I am not sure users will be unhappy to switch to a well known API such as socket.

[2018-01-11 09:43] tbursztyka commented on #5378
Btw about fragmentation and stuff, I did not come up with all the details in the presentations because this would have been too technical and off subject. Obviously there will be a lot to think and do, but hopefully this have been solved in many other OSes, there is nothing to invent, just a lot of work.

[2018-01-11 09:56] SebastianBoe commented on #5626
It's not.

This would happen if the SDK environment variable was pointing to the wrong directory.
It would also happen if the installed SDK version was so old it didn't have the sdk_version file.

Could you ls the SDK path environment variable?
Also, post the version of the SDK that is installed.

[2018-01-11 10:19] chsc commented on #5626
Rechecked my installation. Seems that the SDK environment varaiable was pointing to a wrong folder.
_closed_

[2018-01-11 10:19] #5626 closed

[2018-01-11 11:37] SebastianBoe opened #5633 "Optimize the CMake configuration time by reducing the time spent testing the toolchain"
valgrind shows that a significant amount of time[0] is spent on TryCompile. TryCompile is invoked when we test the toolchain to determine what flags it supports.

Intuitively, the toolchain feature set is very static and should not impact the build system performance as much as it is. In addition, TryCompile is very verbose.

You would think that either maintaining some sort of database for the su

[2018-01-11 11:42] SebastianBoe opened #5634 "The dependency between the Kconfig source files and the Kconfig output is missing"
Editing prj.conf will correctly cause Kconfig to be re-executed when make is invoked. But editing Kconfig sources does not. The user must manually reconfigure (by calling cmake .. or make rebuild_cache).

### Solution proposal
Invoke

  set_property(DIRECTORY APPEND PROPERTY CMAKE_CONFIGURE_DEPENDS ${kconfig_source})

on all kconfig sources.

[2018-01-11 12:27] SebastianBoe commented on #5554
Strange, was not able to reproduce the issue.

sample: zephyr/samples/hello_world
Board: nrf52_pca10040
patch: https://github.com/SebastianBoe/zephyr/commit/26e947dec325ce14ec0b506ffe40179ce0b2b52e

After building I was able to observe that devconfig was populated with an entry for the 'app' driver.

Didn't actually test that the driver was functional, but the original report was that there was no

[2018-01-11 13:35] pfalcon commented on #5378
Well, that's nice to hear. I definitely think it would help TCP-based applications. But there're 2 matters then:

1. If we want to switch to BSD Sockets API for implementation of application-level protocols, it's not blocked by anything, the API is already there. Yes, it has issues (yet to be discovered), and underlying stack needs improvements, bit these tasks are parallel, not lying on critical

[2018-01-11 13:42] nashif commented on #5378
And thats what I said in the meeting, this is work that can happen now without having to wait for refactoring. But based on my current understanding, bsd sockets in zephyr are still missing a few critical APIs, correct me if I am wrong.

[2018-01-11 13:49] pfalcon commented on #5378
Yeah, there's nothing to invent, and I'd say, there's nothing to solve either. It's as simple as: as long as you allocate objects of different sizes, there will be fragmentation, which will lead to memory waste, or put it another way, system memory capacity will be less than ideal expected. Moreover, for some systems, like realtime ones, the worst-case scenario should be considered and accounted f

[2018-01-11 14:06] pfalcon commented on #5378
Please define "critical APIs". The BSD Sockets API implementation in Zephyr misses a lot (and at the same time, very lightweight), and nobody so far reported that they miss anything at all. Show me a detailed report, and we can work from there. In the meantime, there're 4 in-tree samples: https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/sockets , and one out-of-tree sample (Mic

[2018-01-11 14:13] nashif commented on #5378
for example, do we have support for select()?

In a conversation I had with @GAnthony he listed of APIs missing he discussed with you at some point to support offloading.

[2018-01-11 14:41] pfalcon commented on #5378
No, but neither it's needed in the context of "what if we rewrite Zephyr's in-tree app protocol implementation in sockets?". select() is effectively a legacy, limited and inefficient function. Instead, we have poll(). If using inside Zephyr tree, we'd use it. Actually, if we'd use it, then the next step, we'd need to optimize it by blending POSIX poll() requirements into Zephyr's k_poll(). (Anothe

[2018-01-11 15:10] scttnlsn opened #5640 "MacOS compile error with -std=gnu89"
I'm trying to setup the latest version of Zephyr on Mac OS 10.12.6 but I get the following error:

[code]

Removing `-std=gnu89` from `scripts/kconfig/CMakeLists.txt` did the trick.

[2018-01-11 17:06] carlescufi commented on #5378
@glennrub @rlubos FYI

[2018-01-11 17:47] #5566 closed

[2018-01-11 18:12] GAnthony commented on #5378
Read the arguments for poll vs select, and agree poll should be sufficient.  select() would be nice to have, for porting apps/protocols which use that API, and since some offload devices export select() instead of poll() - but perhaps poll() can be built over select().
In any case, it doesn't seem that missing select() API will be blocking the port of protocols to socket APIs.

[2018-01-11 18:27] GAnthony commented on #5378
Yes, before the holidays, as an exercise, I started converting the Zephyr MQTT protocol to sockets (from net_app), and linear buffers (from net_pkt).
So far, I plan to use poll(), and report if I hit any major difficulties.

[2018-01-11 18:35] pfalcon commented on #5378
It definitely can be, the question is overhead of implementation. Anyway, as I mention, feel free to submit a ticket for implementing select(), and we can plan for it.

[2018-01-11 20:02] nashif opened #5645 "build failures with asserts enabled/newlib: arch/arm/core/cortex_m/mpu/nxp_mpu.c"
[code]

[2018-01-11 20:30] andrewboie commented on #5645
so how do we actually fix this? if we use %lx won't that break non-newlib builds?

this is why stdint.h codes exist, however much some people dislike them...

[2018-01-11 20:39] galak commented on #5645
To reproduce:

./scripts/sanitycheck  -T tests/misc/test_build/ -R -p frdm_k64f

[2018-01-11 20:41] galak commented on #5645
@andrewboie casting to a (u32_t) I think will do the trick

[2018-01-11 20:44] MaureenHelm commented on #5645
It does. Preparing a patch

[2018-01-11 20:55] andrewboie opened #5646 "userbuffer_validate test fails with double fault if CONFIG_USERSPACE disabled"
If I run this test with CONFIG_USERSPACE forced off, I get a double fault:

[code]

Note that I have a patch which renames this test case to x86_mmu_api and moves under tests/kernel/mem_protect, if that is merged you should look for it in the alternate location

[2018-01-11 21:01] galak commented on #5645
@MaureenHelm might have gotten there first.  Take a look at PR #5647

[2018-01-11 21:02] MaureenHelm commented on #5645
Ok, thanks

[2018-01-11 21:20] #5645 closed

[2018-01-11 23:02] #5483 closed

[2018-01-12 00:34] GAnthony commented on #5601
Addressed by PR #5649

[2018-01-12 02:23] #5601 closed

[2018-01-12 04:09] #2971 closed

[2018-01-12 04:10] #3302 closed

[2018-01-12 06:31] nniranjhana opened #5650 "i2c driver test on ESP32 fails with error"
Using GPIO 25 as SCL and GPIO 26 as SDA (tried with other GPIO pins from default ones too) for the i2c module for ESP32, with a sensor GY271 fails with error 'FAILED TO CONFIGURE SENSOR'. However, passes with GPIO bit banging with ESP32. Hence, driver needs debugging.

Attached log below

[2018-01-12 06:31] nniranjhana commented on #5650
[esp32_i2c+not+working.txt](https://github.com/zephyrproject-rtos/zephyr/files/1625107/esp32_i2c.not.working.txt)

[2018-01-12 06:46] kumarvikash1 commented on #5650
Logs snapshot :

ets Jun  8 2016 00:22:57

rst:0x1 (POWERON_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
ets Jun  8 2016 00:22:57

rst:0x10 (RTCWDT_RTC_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
mode:DIO, clock div:2
load:0x3ffb0000,len:96
load:0x3ffb0060,len:704
load:0x3ffb0320,len:2336
load:0x40080000,len:1024

[2018-01-12 07:30] miyatsu opened #5651 "[In Progress] arch: arm: linkder: vt must be linked at address 0x00000000 for Cortex-M0"
For Cortex-M0 with no VTOR support in HW (nrf51822 for example), the vector table must be linked at address 0x00000000 regardless of CONFIG_TEXT_SECTION_OFFSET.
In progress:
https://github.com/zephyrproject-rtos/zephyr/pull/4536
https://github.com/zephyrproject-rtos/zephyr/pull/5427

[2018-01-12 08:10] erwango commented on #3483
Fixed by #5515.
I'm closing this one and opening a new one for pin configuration

[2018-01-12 08:10] #3483 closed

[2018-01-12 08:42] erwango opened #5653 "STM32 boards: Generic guidelines for pin configuration"
Following discussions on #3483 (fixed by #5515), generic guidelines for STM32 based boards pin configuration have been defined.

For STM32 based boards ported on Zephyr, it is recommended to define and provide pin configuration based on the following elements:
- Provide pin configuration to enable use of HW available on board like button or LED and communication interfaces (UART, I2C, SPI) to conn

[2018-01-12 08:43] erwango commented on #5653
@ydamigos , @superna9999 , @mbolivar : As discussed

[2018-01-12 09:01] superna9999 commented on #5653
Ok for me

[2018-01-12 12:29] #5374 closed

[2018-01-12 12:29] #5419 closed

[2018-01-12 13:05] #5640 closed

[2018-01-12 13:37] #5589 closed

[2018-01-12 15:14] SebastianBoe commented on #5454
Kconfiglib was recently merged and it enabled warnings when configs were redundant, previously these warnings defaulted to being suppressed.

Building the Bluetooth beacon sample for nrf52_pca10040 now shows the warning:

[code]

We are redundantly setting this config because both the sample and the board is enabling BT. So fixing this issue would also fix the warning.

[2018-01-12 16:21] pfalcon commented on #5454
A quick note that this doesn't have to be an "issue" which needs to be fixed. It may be that such values should be logically unified, and no warning should be produced.

[2018-01-12 18:32] dbkinder opened #5658 "Clicking on intra-page links broken"
As reported in PR #5591, some browsers (chrome for example)
don't scroll to the right spot in the document when we link to
intra-document label points (defined with a ``.. label_here::`` label.

For example, in Chrome this link http://docs.zephyrproject.org/contribute/contribute_non-apache.html#below does not work reliably: hit the refresh button a few times and you'll see it sometimes end up at t

[2018-01-12 20:09] b0661 opened #5660 "doc: make: make htmldocs fails in genrest.py/kconfiglib.py"
make htmldocs stops execution with the following error message.

I´m on zephyr/master commit 15ca6da4c8a3130650de70061f92c9bb9925cb4d.

(cat zephyr.doxyfile ; echo "STRIP_FROM_PATH=/media/bernhard/zephyr/zephyr-bobby2" ) | doxygen -  2>&1 | tee doc.log
scripts/extract_content.py
srctree=../ KERNELVERSION=1.9.99 SRCARCH=x86 python3 scripts/genrest/genrest.py ../Kconfig reference/kconfig/
../Kconfig

[2018-01-12 22:28] nashif commented on #5660
this is already fixed.

[2018-01-13 01:57] #3856 closed

[2018-01-13 06:24] b0661 commented on #5660
Tested with newest master - works now. Thank you

[2018-01-13 06:24] #5660 closed

[2018-01-13 23:21] nashif commented on #5603
Where exactly do you set the log level for bluetooth to be 1 or 2 or 3 for example? I only see this being set as debug with no way for me to turn off debugging and get errors only for example.

[2018-01-14 05:19] jhedberg commented on #5603
Bluetooth debug logs are not opt-out. They're opt-in. You get errors and warnings by enabling CONFIG_BT_DEBUG_LOG=y. That will not log any BT_DBG() calls however. To get those, you need to enabled the appropriate CONFIG_BT_DEBUG_* option for the sub-module that you want debug logs for. Note that if you're writing new code and there's no CONFIG_BLUETOOTH_DEBUG_* option for your new sub-module, then

[2018-01-14 05:22] jhedberg commented on #5603
Btw, I realize the name of CONFIG_BT_DEBUG_LOG may be a bit misleading since it does not enable BT_DBG(). Perhaps a better name would be simply CONFIG_BT_LOG.

[2018-01-14 12:40] nashif commented on #5603
still does not answer my question, how do you reduce the log level for bluetooth? i.e. get only INFO and below (BT_INFO, BT_ERR, ..), not debug messages (BT_DBG)?

[2018-01-14 13:20] jhedberg commented on #5603
That's what I thought I answered (apparently not clearly enough). To get BT_INFO, BT_WARN and BT_ERR, but not BT_DBG, you'd set CONFIG_BT_DEBUG_LOG=y and not set any of the submodule-specific CONFIG_BT_DEBUG_* options (such as CONFIG_BT_DEBUG_DRIVER or CONFIG_BT_DEBUG_HCI_CORE)

[2018-01-14 13:44] jhedberg commented on #5603
Take a look what BT_DBG expands to. It will only log if BT_DBG_ENABLED is set. And this variable gets set in each sub-module before including log.h like this:

[code]

[2018-01-14 13:51] nashif commented on #5603
right, so I can choose to debug or not to debug, but I can't set the log level anywhere to for example "errors only" (level 1), because

`#define BT_INFO(fmt, ...) SYS_LOG_INF(fmt, ##__VA_ARGS__)`

and

[code]

and you have set

`#define SYS_LOG_LEVEL SYS_LOG_LEVEL_DEBUG`

so, you basically reduced the levels to debug or no debug. BT does not have a way to set the level, and you make the decision

[2018-01-14 13:55] jhedberg commented on #5603
I think what's confusing things here is that the Bluetooth logging macros map to SYS_LOG. Those mappings used to originally be directly to printk. Maybe we should have left it like that until the whole thing got converted to SYS_LOG. Note that there are other back-ends to the Bluetooth logging macros than SYS_LOG, in particular the monitor protocol, so their semantics should be the same regardless

[2018-01-14 13:59] nashif commented on #5603
which is exactly my point, you are not following the log levels of sys_log, if someone wants to only get errors, they can't right now.

[2018-01-14 14:01] jhedberg commented on #5603
Correct. And the reason is historical since these levels were defined before SYS_LOG existed.  The proper way out of this (as far as I see) would be to convert the whole thing to SYS_LOG, i.e. have SYS_LOG be the topmost layer instead of sitting under the Bluetooth macros.

[2018-01-14 14:05] jhedberg commented on #5603
Before going on with the conversion there are the improvements to SYS_LOG that we've discussed, that I'd like to see merged first (without taking a position on who will do them - it might even be myself):

- Naming (shorter prefix)
- Use IS_ENABLED so format string errors/warnings are always caught
- Pass the log type/level to the backend function (needed e.g. by the Bluetooth monitor protocol)

[2018-01-14 14:07] jhedberg commented on #5603
Slight correction: I don't think we need IS_ENABLED - just something that evaluates to a constant boolean expression at build-time, i.e. something you can put in an if-statement. The existing pre-prosessor conditions that test for the levels might be sufficient, i.e. just convert them from pre-prosessor macros to actual if-statements.

[2018-01-14 14:32] jhedberg commented on #5603
Another thing to the list of SYS_LOG issues that needs fixing:

- Keep meta-data separate from the string to be printed, and let the backend function decide how to apply it. This includes things like the log type, color escape codes, time-stamp, etc. Right now the SYS_LOG implementation imposes many of these unconditionally up-front and doesn't give the backend function any choice in how to apply

[2018-01-15 08:41] SebastianBoe opened #5673 "kconfig regression: Existing configuration is overwritten on reconfiguration"
As @lowlander reported on the mailinglist there has been a regression on master wrt. Kconfig.

[2018-01-15 08:42] SebastianBoe commented on #5673
Most likely from this commit: https://github.com/zephyrproject-rtos/zephyr/commit/a8b361b17636e0547124e6afe4060fe974fe0a77

[2018-01-15 08:50] SebastianBoe commented on #5454
I agree, not all warnings of this kind are "issues", but in this particular case IMHO it is.

[2018-01-15 13:08] #5504 closed

[2018-01-15 13:08] #4653 closed

[2018-01-15 14:07] #5608 closed

[2018-01-15 16:08] jfischer-phytec-iot opened #5678 "USB: DW driver does not work properly with mass storage class"
DW USB device driver does not work properly with mass storage class (MSC).

Tested with `sample/subsys/usb/mass` on Arduino 101 connected to Linux host:
- does not work on UHCI. Arduino 101 flashed with the sample can be enumerated by the host, after detecting the mass storage device, the host resets the device several times because the device stops respond to requests. Works sometimes (mount, rea

[2018-01-15 20:28] nashif commented on #4441
Can you please give more details? shell modules and commands do not need to be part of Zephyr, they can be implemented on the application level as well. See the sample shell application which does exactly that.

[2018-01-15 23:31] #5247 closed

[2018-01-16 09:27] rbtchc commented on #5101
Test against 9851b1ac2188f791741b2f2b2b7ea5547a6cd2a1, the issue is fixed. Therefore, close it.

[2018-01-16 09:27] #5101 closed

[2018-01-16 10:24] pfalcon opened #5687 "docs: Confusing treatment of "Sensor Drivers" in Zephyr subsystem docs"
Opening http://docs.zephyrproject.org/subsystems/subsystems.html , one can see:

* Bluetooth
* Standard C Library
* Logging
* Networking
* Power Management
* Sensor Drivers

I.e. most of the subsystems are named as subsystem, and only sensors are suddenly named "Sensor Drivers". Opening http://docs.zephyrproject.org/subsystems/sensor.html , one reads:

So, the question is: is there a true Sensor S

[2018-01-16 10:37] pfalcon commented on #5687
Reading thru http://docs.zephyrproject.org/subsystems/sensor.html , it's pretty clear that there's *subsystem*, not a random collection of drivers. Suggestion: let's replace "Sensor Drivers" in the section title with "Sensors".

[2018-01-16 13:36] nvlsianpu opened #5691 "FCB: add entry-value ID and related features."
Add entry ID and related features to FCB.
This ID is  most simple substitute  for a file name.
Idea is that it will be  selectable using Kconfig.

Related functionalities:
- searching entry of certain ID
- overwrite capability so by writing a new entry-value with the same entry number the previous is considered overwritten.
- garbage collection so when rotation is required entries that have not be

[2018-01-16 13:43] nvlsianpu commented on #5691
@Laczen Can you comment on this issue? Is it possible that you will contribute such features to the zephyr's FCB?

[2018-01-16 13:46] pfalcon opened #5692 "sensors: struct sensor_value::val2 is confusingly defined"
[code]

val2 being defined as s32_t looks confusing. Common sense says that its value should be in range 0-999999. Thus, unsigned. And really, it should be specified that it's in that range.

[2018-01-16 14:04] pfalcon opened #5693 "sensors: SENSOR_CHAN_HUMIDITY confusingly defined in "milli percent", SENSOR_CHAN_DISTANCE inconsistently defined in millimeters"
Let's compare:

[code]

But a half a degree Celsius is quite a noticeable change, easily discernible in most cases by a human. And yet Zephyr defined it in degrees (thus requiring fractional part).

And yet

[code]

But half a percent of relative humidity is nothing, clearly not noticeable by a human, and hardly there're sensors which have enough precision/error-freeness even of 0.5%. And yet sudd

[2018-01-16 14:05] pfalcon commented on #5691
What is FCB?

[2018-01-16 17:01] zigarrre opened #5695 "C++ Support doesn't work"
# Problem

When trying to use Zephyr with C++ I noticed that a lot of the headers contain code that isn't valid in C++ and causes compile errors when included in C++ files. I noticed this mainly with the Bluetooth subsystem but I wouldn't be surprised if other parts of are affected too as I haven't tested them.

So even though my examples focus on Bluetooth this issue concerns Zephyr as a whole.

[2018-01-16 17:19] pfalcon commented on #5695
Based on the title, this is duplicate of #1205, #4028.

[2018-01-16 17:40] pfalcon opened #5696 "net_app: Static vs DHCPv4 behavior appears to be not as described"
net_app Kconfig states (https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/app/Kconfig#L191):

[code]

However, it doesn't seem to be have that way. On frdm_k64f configured with:

[code]

I get following with the lack of DHCP:

[code]

I.e. DHCP forcibly resets addresses on start (or they never configured in the first place).

@jukkar, IMHO, behavior as described in Kconfig is

[2018-01-16 17:48] galak opened #5697 "Driver API review/cleanup/rework"
This issue will be used to track all driver subsystem rework/cleanups:
- [x] spi:  Issue #5797, #5839, PR #5921
- [x] adc: PR #7691 #8857
- [x] counter/rtc: Issue #5895, #8331. PR see issue. **API complete**
- [x] display PR: #7833
- [x] watchdog: Issues #10913, #10914, #10916, #10917 **DONE**: Issue #3994, PR #1260, #7007
- [ ] i2c  Issue:  #4040 PR: #5224 (merged)
- [x] gpio Issue #10339 #10741

[2018-01-16 18:05] nashif commented on #5148
merged

[2018-01-16 18:05] #5148 closed

[2018-01-16 18:14] lpereira commented on #5650
There are two patches addressing I2C on ESP32: #5690 and #5694.

[2018-01-16 20:50] mbolivar opened #5699 "Zephyr installs a broken pyOCD"
The Zephyr file `scripts/requirements.txt` pulls in pyOCD:

https://github.com/zephyrproject-rtos/zephyr/blob/master/scripts/requirements.txt

That file is used to install Python 3 dependencies using pip(3) in Zephyr's getting started documentation:

http://docs.zephyrproject.org/getting_started/installation_linux.html#installing-requirements-and-dependencies
http://docs.zephyrproject.org/getting_

[2018-01-16 21:47] nashif commented on #5693
@bogdan-davidoaia  you know the background for this?

[2018-01-16 21:50] iha commented on #5650
FYI, I'm reviewing the I2C driver on ESP32.

[2018-01-16 22:18] dbkinder opened #5702 "usb subsystem doc not pulling from header doxygen comments"
The usb subsystem documentation in ``doc/subsystem/usb/usb.rst`` has API information directly in the ``.rst`` file instead of pulling from the doxygen comments (creating an opportunity for doc and header APIs getting out of sync).  Doxygen comments need to include a group that can be pulled into the ``.rst`` file as is done for Shell API functions in ``doc/subsystems/shell.rst``, for example.

[2018-01-16 22:24] #5687 closed

[2018-01-16 22:27] dbkinder commented on #5699
Note that the Zephyr installation instructions don't even install Python 2 or pip(2), so do we need to install them too?

[2018-01-17 07:45] erwango opened #5703 "Provide NFC Library"
NFC is a important part of IoT ecosystem and now part of some basic use cases that should be supported by Zephyr.
It is also available on some boards and ICs supported by Zephyr.
A NFC library ported onto Zephyr would allow to extend Zephyr offer and provide more complete use cases.

First priority would be NFC Tag functionality would be sufficient. NFC reader capability would be a lesser prio con

[2018-01-17 10:26] erwango opened #5707 "Move fixups definitions in .fixup files under dts/"
extract_dts_includes.dts script allows to gather and merge .fixup files accross the tree.

This allows to factorize most of the definitions in boards/*/*/dts.fixup in new arch/*/*.fixup files.
This way, one would not need to bother with dts.fixup when porting new board

- [x] ARC
- [ ] ARM SOCs
- [x] EXX32
- [x] NRF
- [x] NXP
- [x] SAM
- [X] STM32 (fixed by #5859 )
- [x] TI
- [x] x86

[2018-01-17 10:58] pfalcon commented on #5378
While we have a spoken meeting scheduled for Jan 23, it would be nice continue discussion here, so we can target some actual decisions for the meeting.

@jhedberg, @tbursztyka : Would be nice to hear your responses to the fragmentation concerns above. (I'd especially like to ping @jhedberg , as the owner of the only code available for review now ;-) ).

[2018-01-17 11:14] nvlsianpu commented on #5577
draft [here](https://github.com/nvlsianpu/zephyr/blob/flash_partitions_doc/doc/devices/dts/flash_partitions.rst)

[2018-01-17 11:46] rodrigopex commented on #4569
Guys, my company need this. We are about to start to implement the sx127x lib for Zephyr.
Any tips beyond the docs in how contributing? For this, we need SPI, RTC and GPIO basically.

[2018-01-17 12:22] tbursztyka commented on #4569
sx127 is lora radio chip as far as I can tell. So it lacks all the above: the loraWAn MAC layer.

You will need this to get a generic interface for the users and also a generic device driver API for the lora chip as well so not only sx127 chip but others would be able to work transparently.
But I guess that goes to #5436

[2018-01-17 12:36] rodrigopex commented on #4569
@tbursztyka  I think I could not say it in a right way. Yes, sx127x is a chip and we will work to make this available to be used in Zephyr. The LoRaWAN porting is a big portion of this work. I would like to use generic drivers to make it available to other board and architectures.

[2018-01-17 12:39] #5673 closed

[2018-01-17 12:43] spoerk commented on #3514
Is there any timeline when LE Extended Advertising will be supported?

[2018-01-17 12:54] tbursztyka commented on #4569
Thus why I bring this LoRaWAN into the discussion: without a MAC layer, the driver will be pretty useless.

About making a generic driver: Zephry provides generic APIs for spi, gpio and rtc. Your driver will be using those so it will be de-facto generic.

[2018-01-17 13:02] miyatsu commented on #4569
Hi, @tbursztyka
Recently, I'm working on the LoRaWAN too. Check my local branch here: https://github.com/miyatsu/zephyr/commits/lorawan

I want porting the LoRaWAN-node into zephyr same as you do @rodrigopex

My design is make the lorawan just like bluetooth in zephyr, become a independent component. The patch is rough, please don't mind.

[2018-01-17 13:12] ulfalizer commented on #5660
I just added recursive `source` to detection to Kconfiglib, so similar problems should be a bit easier to debug now:

[code]

Looks like this script is still using Kconfiglib 1 though.

[2018-01-17 13:17] rodrigopex commented on #4569
@miyatsu as you have already started to work I could help you. What do you think?
The patch seems to be in a good direction. We could create a channel at IRC.

[2018-01-17 13:40] tbursztyka commented on #4569
@miyatsu Since you are porting ready-made code, you will have to put it into ext/lib  (or ext/subsys maybe). Then subsys/lorawan would be the place where it will expose zephyr-ready API (i.e.: no camel-case names, linux code style base code, zephyr types, etc...)

[2018-01-17 13:45] KaSroka commented on #4441
I can give you an example from #4997.

OpenThread has multiple commands e.g. status, channel, ipaddr (it's really small subset shown here).
With current approach I can implement it in two ways:
1. Implement every OT command as Zephyr shell command - lots of unnecesary work and also we would have to keep track of OT commands and align Zephyr clones.
2. Implement one dummy command which arg is real

[2018-01-17 15:24] Laczen commented on #5691
Some comment on this issue:

I created the simple fcb library to allow storage in program flash of configuration variables, more specific for btmesh. btmesh is a somewhat specific case because it needs storage of both variables that can be regarded as constant and variables that change frequently. I was looking for a solution that would allow both types of variables to be stored in one (configurab

[2018-01-17 19:33] KaSroka opened #5714 "15.4 features required for OpenThread certification"
List of features needed to be implemented for OpenThread in Zepyr certification.
1. Energy scan
2. Src address matching (filtering of incoming frames basing on ext/short src address)

Not needed for certification but also missing
1. Prmoiscuous mode

[2018-01-17 20:47] dbkinder opened #5716 "git hooks are Linux-specific and don't work on Windows"
Windows-compatible git hooks scripts are needed for developers.

[2018-01-17 20:49] dbkinder opened #5717 "CONTRIBUTING instructions are Linux-specific and don't work for Windows"
Need to update CONTRIBUTING with Windows developers instructions

[2018-01-17 21:03] dbkinder opened #5718 "sanitycheck doesn't work on Windows (mkfifo not supported)"
The instructions to invoke ``sanitycheck`` (in CONTRIBUTING) are Linux-specific.  Running ``python .\scripts\sanitycheck`` (as a workaround), produces errors such as "AttributeError: module 'os' has no attribute 'mkfifo'"  (mkfifo is not available on Windows)

[2018-01-17 21:12] dbkinder opened #5719 "need a zephyr-env.sh equivalent for Windows developers"
Make a zephyr-env.bat (perhaps) for setting up the Zephyr environment for Windows developers. I think for now the only content would be setting the ZEPHYR_BASE path variable.

[2018-01-18 02:49] miyatsu commented on #4569
@tbursztyka Actually, I want the zephyr to support LoRaWAN and running OK just for me, I didn't have a plan to porting LoRaMAC to zephyr and merge to the master branch.

[2018-01-18 03:03] miyatsu commented on #4569
@rodrigopex ```We could create a channel at IRC.``` Sorry, I don't know any thing about IRC.

I will update my work at here https://github.com/miyatsu/zephyr/commits/lorawan you can open a pull request and we can discuss here.

[2018-01-18 03:17] mbolivar commented on #5699
Users which require pyOCD need Python 2 and to install it with Python 2. That's wasteful and probably confusing for users which don't require pyOCD.

[2018-01-18 07:36] aescolar-ot opened #5720 "Add CONFIG_NOOPTIMIZATIONS option"
Add a configuration option that only forces the compilation optimizations to -O0 independently of other configuration options.

Background: Currently we have CONFIG_DEBUG which enables some extra code and sets -Og [-Og does still optimize some relatively trivial code away], and CONFIG_COVERAGE which sets -O0 and enables coverage dumping.
So neither is appropriate if one wants to debug or instrumen

[2018-01-18 08:08] tbursztyka commented on #5714
For promiscuous mode, it's up to the driver to support it. see include/net/ieee802154_radio.h : enum ieee802154_hw_caps.

About "energy scan", isn't rssi value on net_pkt sufficient? (you get the lqi as well)

For src address matching, I guess it will require to change and expend the enum ieee802154_filter_type to differentiate local_ieee/short_addr and src_ieee/short_addr and then again: it will

[2018-01-18 08:13] tbursztyka commented on #4569
@miyatsu

Your work seem to be nice to be merged though, as long as you put it into ext/lib. If you don't want to work on the zephyr L2 part, your port of the lorawan into ext/lib would be quite nice already. Then somebody else could use it to do the rest.

[2018-01-18 08:24] rveerama1 commented on #5714
Look at this
https://github.com/zephyrproject-rtos/zephyr/pull/5202/commits/85f5e0cfb61a1462f4bf012aa2434013efb9cb22#diff-e281efeece521183d53e9fe70d52aed6

A PR submitted for virtual RPL mesh hub over qemu. and Idea of
IEEE802154_UPIPE_PROMISCUOUS mode.

On 01/18/2018 10:08 AM, Tomasz Bursztyka wrote:

[2018-01-18 08:30] hubertmis commented on #5714
@tbursztyka , Energy scan (passive scanning) is a procedure when radio is measuring any energy on given channel. It does not receive any packets during this procedure. It just checks if there is any activity (possibly other protocols like WiFi) on given frequency. Because of that the driver cannot receive packets and check RSSI instead.

[2018-01-18 08:47] SebastianBoe commented on #5695
Kind of, I would suggest that when this is resolved one should look into if the fix has affected #1205 or #4028.

#4028 looks like a feature-request for supporting more C++ features.

#1205 looks like a report that C++ is broken when -fpermissive is not applied (I have already tested that neither -fpermissive or -fno-permissive resolves the issues reported here).

[2018-01-18 09:22] tbursztyka commented on #5714
@rveerama1  which has nothing to do with proper 15.4 radio chip promiscuous mode. What the guy implemented is, in fact, dst address matching (which is the current address filtering 15.4 radio api exposes). I'll review the patch

@hubertmis That I know. thus my question: "energy scan" (rssi evaluation) is done also at reception (with slight differences on how devices compute it however).

So the st

[2018-01-18 10:23] erwango opened #5722 "dts board configuration is incompatible with "build all" kind of test"
As identified in #5698, "build all" kind of test conflicts with deployment of dts.

Indeed, when a SW element is converted to DTS, config pieces of Kconfig files are by passed with a
HAS_DTS_XXX flag, for instance:

`config HTS221_NAME
	string
	prompt "Driver name"
	default "HTS221"
	depends on HTS221 && !HAS_DTS_I2C_DEVICE`

As a consequence, whenever the SW element is activated but not configure

[2018-01-18 11:55] aescolar opened #5723 "cmake: Accept CONFIG_XX overrides from command line"
It would be very nice to have the option to override configuration of a project from the command line when calling cmake.
Something like:
```cmake .. -DBOARD=native_posix -DCONFIG_COVERAGE=y -DCONFIG_BT=n```

The idea is that this configuration overrides would have priority over project and arch/board/driver.. options.
They would be fully ephemeral == lost as soon as a new reconfiguration is run.

[2018-01-18 12:16] pfalcon commented on #5723
I'd find this useful. More specifically, I'd suggest to establish a suitable CFLAGS-like option, e.g. CFLAGS_EXTRA, using which you can pass any $(CC) flags, being them -D or any other.

No idea how this would work with Cmake though.

[2018-01-18 12:19] jhedberg commented on #3283
There's now a pull request #5721 that has an initial draft of this implementation.

[2018-01-18 12:55] aescolar-ot commented on #5723
@pfalcon : Note that I meant configuration options. Not just the C pre-processor flags in which they end.

[2018-01-18 13:03] SebastianBoe commented on #5723
cmake -DEXTRA_CFLAGS="-DFOO=3 -fpermissive"

is supported.

[2018-01-18 13:07] SebastianBoe opened #5724 "[Windows] Instructions for setting up a bash-less environment uses bashisms"
In the "getting started for Windows instructions with cmd.exe" the instructions use bashisms like $ZEPHYR_BASE to instruct the user how to test his cmd.exe environment.

[2018-01-18 13:08] SebastianBoe commented on #5724
Either the zephyr-app-commands needs a "windows" option, or the Windows instructions should not use zephyr-app-commands.

[2018-01-18 13:18] hubertmis commented on #5714
@tbursztyka I can't image how could I replace energy scan with simple rx procedure. Let's say I have a few WiFi networks and I want to start new 802.15.4 network. I'm enabling 802.15.4 device that performs energy scan. If the device entered rx mode instead of energy scan, it would not receive any 802.15.4 frames and it would not know what is max energy level on each of scanned channels (RSSI and L

[2018-01-18 13:22] pfalcon commented on #5723
@SebastianBoe : any way to pass that into Makefile generated by CMake?

[2018-01-18 14:10] SebastianBoe opened #5725 "Ninja: Running sanitycheck has byproducts outside of sanity-out"
Running sanitycheck with ninja will dirty the repo with untracked files.

e.g. tests/net/arp/test/

All files should be written to sanity-out.

[2018-01-18 14:13] SebastianBoe opened #5726 "CI should use the same generator as the sanitycheck default"
It is important that it is easy to reproduce CI issues locally. Using
the same sanitycheck options locally and in CI helps in this
regard. Specifically, Ninja and Make can produce different results and
therefore the default generator should be the same for sanitycheck and
shippable.

# Solution proposal
Have sanitycheck default to Ninja as soon as it is stable enough.

[2018-01-18 14:13] SebastianBoe commented on #5726
Blocked by #5725

[2018-01-18 14:14] SebastianBoe commented on #5726
Solution proposal: https://github.com/SebastianBoe/zephyr/commit/8ba5d9329aee1a5ade18e8713da748a1daa82c15

[2018-01-18 14:27] nashif commented on #5725
I have noticed this, but was never able to reproduce it, is there a simple way to reproduce this?

[2018-01-18 15:13] tbursztyka commented on #5714
@hubertmis so OT _does_ need to grab the RSSI out of any frame reception?

A yes/no answer will be sufficient.

[2018-01-18 15:18] hubertmis commented on #5714
@tbursztyka The answer is not so easy :)
No, in general. I think there is an optional jamming detection procedure that checks RSSI in RX mode when no frame is being received.
But Energy Detection procedure (as specified in 802.15.4) is required.

[2018-01-18 16:50] tbursztyka commented on #5714
ook

Energy Detection is the ability for the phy device to provide the RSSI at any time. So that's covered by the device.

Then what about a get_rssi() formalized as:
- if device is transmitting, it will return -EBUSY
- if device is effectively receiving (a frame is being handled and pushed into the device's FIFO), it will return -EBUSY (or, it could wait until reception has ended and return the s

[2018-01-18 19:04] lpereira commented on #5365
@tarunkum can push his changes to his repository and open a PR, using the commit from my repository.

[2018-01-18 21:43] nashif opened #5732 "sanitycheck fails with gcc 7 as the host compiler"
GCC enabled new warnings by default which causes some tests to fail when build the native posix board, the warnings need to be addressed.

[2018-01-18 21:44] nashif opened #5733 "single threaded applications fail when asserts are enabled"
When asserts are enabled, the single thread hello world is stuck and does not print anything.

[2018-01-18 21:53] #5724 closed

[2018-01-19 03:04] nashif opened #5734 "samples/drivers/crypto fails on qemu_nios2"
When CONFIG_DEBUG is enabled this fails with :

[code]

[2018-01-19 03:17] nashif opened #5735 "mpu_stack_guard_test fails on many arm platforms, including qemu"
sample samples/mpu/mpu_stack_guard_test fails on frdm_k64f:

[code]

[2018-01-19 03:26] nashif commented on #5716
what git hooks are you referring to exactly? We do not have any git hooks in the tree

[2018-01-19 07:31] SebastianBoe commented on #5723
Assuming you mean passing it when Make is invoked then no.
The closest thing would be

cmake .. -DEXTRA_FLAGS="-DFOO=3" && make

[2018-01-19 07:33] SebastianBoe commented on #5725
Run it from my machine? ;)

Will take a closer look.

[2018-01-19 08:11] hubertmis commented on #5714
Also in OT we need to add parameter to define time of energy scan procedure:
`otError otPlatRadioEnergyScan(otInstance *aInstance, uint8_t aScanChannel, uint16_t aScanDuration);`
How do you suggest to use `get_rssi()` and perform 5 ms of scanning? Call this function in a loop? It would be inefficient if hardware supports energy detection procedure with configurable time.

[2018-01-19 08:29] Shilpashree3lc opened #5737 "[Coverity CID: 182195] Error handling issues in /subsys/fs/fcb/fcb_walk.c"
Static code scan issues seen in File: /subsys/fs/fcb/fcb_walk.c
 Category: Error handling issues
 Function: fcb_walk
 Component: Other
 CID: 182195
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-19 08:29] Shilpashree3lc opened #5738 "[Coverity CID: 182194] Control flow issues in /subsys/storage/flash_map/flash_map.c"
Static code scan issues seen in File: /subsys/storage/flash_map/flash_map.c
 Category: Control flow issues
 Function: flash_map_init
 Component: Other
 CID: 182194
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-19 08:29] Shilpashree3lc opened #5739 "[Coverity CID: 182193] Control flow issues in /subsys/storage/flash_map/flash_map.c"
Static code scan issues seen in File: /subsys/storage/flash_map/flash_map.c
 Category: Control flow issues
 Function: get_flah_dev_from_id
 Component: Other
 CID: 182193
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-19 08:29] Shilpashree3lc opened #5740 "[Coverity CID: 181923] Incorrect expression in /subsys/bluetooth/controller/ll_sw/ctrl.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ll_sw/ctrl.c
 Category: Incorrect expression
 Function: role_active_disable
 Component: Bluetooth
 CID: 181923
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-19 08:29] Shilpashree3lc opened #5741 "[Coverity CID: 181922] Incorrect expression in /subsys/bluetooth/controller/ll_sw/ctrl.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ll_sw/ctrl.c
 Category: Incorrect expression
 Function: role_active_disable
 Component: Bluetooth
 CID: 181922
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-19 08:29] Shilpashree3lc opened #5742 "[Coverity CID: 181921] Incorrect expression in /subsys/bluetooth/controller/ll_sw/ctrl.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ll_sw/ctrl.c
 Category: Incorrect expression
 Function: role_active_disable
 Component: Bluetooth
 CID: 181921
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-19 08:33] tbursztyka commented on #5714
That's the higher level functionality you are talking about. The driver api provide the way to switch channel, and (will provide) the way to get the rssi.

That will permit @KaSroka to implement the function you are talking about.

Now that you mention timing, on driver api levele maybe instead of get_rssi() it should be energy_detect(<duration>). On device level it's the same as going to rx, but

[2018-01-19 08:35] #5740 closed

[2018-01-19 08:35] #5741 closed

[2018-01-19 08:36] Shilpashree3lc commented on #5741
Duplicate

[2018-01-19 09:07] SebastianBoe opened #5743 "Windows and Linux are writing .config files with options re-ordered"
Native Windows and Linux are not producing identical .config files, but AFAICT they are at least
producing semantically equivalent files.

The order in which options are written into the file is different. This complicates the process of verifying that two builds are equivalent so we need to find out why and fix this.

Steps to reproduce:

Run the below command on each platform and then diff the b

[2018-01-19 09:14] SebastianBoe commented on #5720
+1
See also https://github.com/zephyrproject-rtos/zephyr/pull/5225#issuecomment-358762195

[2018-01-19 09:18] KaSroka commented on #5714
So you want to create `energy_detect()` which will accept time as parameter and return detected energy? And it will be in 15.4 driver API, so every vendor could implement it depending on their radio capabilities (calling rx in a loop or something like that or as we have - special API call for this functionality).

[2018-01-19 09:32] tbursztyka commented on #5714
@KaSroka Implementing this will all depends on chip's logic yes. In cc2520 case, it just needs to go on radio rx mode, without frame handling. But it does not manage any delay itself, so that part would be in driver side. It would return the RSSI, but as a int because we need to be ready to return errors as well (-EBUSY, ...)

[2018-01-19 09:39] KaSroka commented on #5714
What is the convention for RSSI in Zpehyr? Is it in dBm or some other value?

[2018-01-19 09:42] jfischer-phytec-iot commented on #5714
Energy detect is a CCA mode. Would not it be better to rework `ieee802154_radio_api.cca`? Making it in rx does not seem to me to be a decent solution. For the MCR20A and KW41Z driver, ED Final Average Value can be read out after the CCA sequence.

[2018-01-19 09:47] carlescufi commented on #5149
Can you move it to `ext/utils/` or something similar?

[2018-01-19 10:07] carlescufi commented on #5149
I'm thinking that it might be even possible to place it in `include/misc` instead of `ext/`. I think we have exceptions for non-Apache software that go into the codebase for specific cases like this. @nashif @galak can you comment on this?

[2018-01-19 10:23] KaSroka commented on #5714
OT expects values in dBm

[2018-01-19 10:25] jfischer-phytec-iot commented on #5714
Yes, it depends on transceiver logic, for the MCR20A and KW41Z transceivers, ED Final Average Value can be read out after the CCA sequence and there is a `Continuous CCA mode` beside `Standalone CCA`.

[2018-01-19 12:28] aescolar-ot commented on #5732
In which file/line is this warning appearing and with what gcc version?

[2018-01-19 12:37] carlescufi opened #5749 "Exception and Interrupt vector forwarding"
There's been some confusion regarding the requirements and scope of this issue so I will try to summarize here what (I think) needs to be done in order to be able to use mcuboot with Zephyr on platforms that do not support vector table relocation in hardware.

Glossary:
* bootloader image: The bootloader binary image, always at the beginning of flash
* application image: The application binary ima

[2018-01-19 12:38] carlescufi commented on #5749
@ioannisg @mbolivar @miyatsu @d3zd3z @andrewboie FYI

[2018-01-19 13:33] ulfalizer commented on #5743
Hello,

Symbols appear in the same order in the generated `.config` files as they do in the `Kconfig` files.

If the `.config` files are generated by Kconfiglib, then I suspect that the difference is due to the custom `glob()` logic for `source`. Python's `glob.glob()` returns the list of files in an arbitrary order (unlike the POSIX `glob()`, which sorts them).

This patch might fix it:

[code]

[2018-01-19 13:55] tbursztyka commented on #5714
@jfischer-phytec-iot ok so refining the cca() call is not the solution. However, in your case you would implement the ed() through this continuous cca mode I guess.

@KaSroka dbm should be fine as a result, so ed() would not return the rssi. Now depends on the chip's logic: in case of cc2520 the dbm value has to be computed from the given rssi. (calculus being chip dependent here)

[2018-01-19 13:56] SebastianBoe commented on #5743
Thanks @ulfalizer , I'll give that a try.

[2018-01-19 14:29] jfischer-phytec-iot commented on #5714
@tbursztyka Also doing it in the rx is very cc2520 specific :smile: (from the cc2520 datasheet: To completely avoid receiving frames during energy detection scanning, set FRMCTRL0.RX_MODE = 0b11 and then (re)start RX.)

Generally what is behind it, from the Thread specification (I have currently only v1.1.0) the requirements is that _device must perform IEEE 802.15.4 ED Scans_, and the parameters

[2018-01-19 14:48] ioannisg opened #5753 "Bluetooth: controller: In nRF5 radio. c RATEBOOST event not cleared in ISRs"
EVENTS_RATEBOOST has been employed for the implementation of proper SW-based Radio auto-switch, when receiving on LE Coded PHY. The EVENTS_RATEBOOST is, however, not cleared properly in the radio_status_reset() function, which (I believe) is invoked at Radio ISRs.
[The EVENTS_RATEBOOST is cleared properly on Radio reset, of course.]

I wonder whether we need to clear this additional event in radio

[2018-01-19 14:49] ioannisg commented on #5753
cc @cvinayak

[2018-01-19 15:46] MaureenHelm opened #5755 "Support flash in jlink runner"
Currently the jlink runner only supports  `debug` and `debugserver` commands, so the only way to flash with jlink is via `make debug`. Add support for the `flash` command to the jlink runner.

To make life with mcuboot easier, include `flash_addr=True` support in the `RunnerCaps`

[2018-01-19 16:05] carlescufi opened #5756 "MCUboot-compatible builds in Zephyr"
The goal is to be able to generate `.hex` and `.bin` files from the Zephyr build system that are compatible with MCUboot, either as a "slot0" or as a "slot1" image.

Here's a rough outline of how I see this working:
[code]
The first line would generate a `.hex` or `.bin` that contains both the MCUboot and the Slot0 images together, with Slot0 signed as necessary by `imgtool.py`.
The second line wo

[2018-01-19 16:07] carlescufi commented on #5756
Comments welcome, this is just an idea for now

[2018-01-19 16:41] pfalcon commented on #5756
IMHO, stuffing signing into Zephyr build system is too much.

Also, we seem to move towards splitting of e.g. emulation to a separate tool instead of "make run" (well, I heard talks about...). Here, instead, more adhoc tools get integrated into Cmake system. No consistent direction of motion...

[2018-01-19 16:48] nashif commented on #5723
how is this related to this issue?

I think this is about overriding Kconfig variables on the command line and also resolve dependencies, not just define them.

[2018-01-19 17:15] dbkinder commented on #5716
When you clone the zephyr repo, you get a ``.git/hooks`` folder with sample hooks scripts that are all Linux-specific.  In the Zephyr [contributing guidelines](http://docs.zephyrproject.org/contribute/contribute_guidelines.html#coding-style) we direct developers to create a pre-commit script with linux commands.

[2018-01-19 17:17] ulfalizer commented on #5723
If you can get the overrides into `kconfig.py`, then it should be as simple as calling `kconf.syms[sym_name].set_value(value)` after loading the fragments. `set_value()` is what `load_config()` uses internally as well.

That will also generate the `warning: BLAH was assigned the value ... but got the value ...` warning if the symbol gets a different value due to dependencies, and will also warn if

[2018-01-19 17:17] aescolar-ot opened #5757 "native: fix -T warning while linking"
While linking for the POSIX arch we get a warning due to the linker command script only having extra output sections.
(This is not nice but works)

The warning apart from being probably confusing for developers, requires a hack in: https://github.com/zephyrproject-rtos/zephyr/blob/262e4a4b8b0e2d44c30a0308bc79967ea4918699/scripts/sanitycheck#L811
Which means sanitycheck will not fail with link warn

[2018-01-19 17:56] carlescufi commented on #5756
That's where we really need to take a decision. We either go for an external tool that does all of this sort of stuff, or we integrate it into CMake. I think we need quorum to take that decision, so I will ressucitate the old issue and add people there.

[2018-01-19 18:16] #5305 closed

[2018-01-19 18:38] carlescufi commented on #5153
This is currently blocking https://github.com/zephyrproject-rtos/zephyr/issues/5756

[2018-01-19 19:00] carlescufi commented on #5153
I will try to summarize the 3 options we have with regard to integration with external projects and going beyond the build:

1. Do nothing at all. Leave it to the users themselves, or to 3rd-parties, to document and/or manage the integration with external repositories, projects and tools.
2. Integrate the support into CMake with the help of additional support Python scripts.
3. Decouple completely

[2018-01-19 19:00] carlescufi commented on #5153
@MaureenHelm and @galak FYI, in case you want to take part in the discussion.

[2018-01-19 21:02] dbkinder opened #5760 "doc: device.h defines device_power_management_api group twice"
In ``include/device.h``, the doxygen ``device_power_management_api`` group is defined within an ``#ifdef CONFIG_DEVICE_POWER_MANAGEMENT`` and then later outside of an ``#ifdef``.  Doxygen groups must only be defined once.

We're not seeing an error from doxygen because doxygen is evaluating #ifdefs now, hiding those definitions during preprocessing.  As we investigate producing "full" API document

[2018-01-19 21:43] ioannisg opened #5761 "NRF5 BLE radio driver: PPI18 is cleared unconditionally"
In radio_tmr_status_reset(), PPI18 (now HAL_SW_SWITCH_TIMER_S8_DISABLE_PPI_DISABLE, after  #5682)  is cleared, if we compile for NRF52840. However, this PPI is only used if SW-auto switch is enabled. If SW-auto switch is not used for nRF52840 (I would like to ask whether this is an interesting use-case), we might want to leave this PPI to be used by application code, instead.

cc @cvinayak

[2018-01-20 04:11] xianrenqiu opened #5762 "Windows 10 WSL does not supports Native POSIX Boards"
I refer to [《Native POSIX execution (native_posix)》](http://docs.zephyrproject.org/boards/posix/native_posix/doc/board.html) chapter，When I execute zephyr/zephyr.exe command.  An Error Has Occurred：

the process is as follows：
[code]
test on master commit [6f88c2](https://github.com/zephyrproject-rtos/zephyr/commit/6f88c284871374fe5cf059d7c97c76a4c80df094), I use the ubuntu 16.04(64 bit) operating

[2018-01-20 04:27] mbolivar commented on #5756
I think I agree with @pfalcon that putting explicit mcuboot support into Zephyr feels strange.

We have DT partitions that let us build images in an mcuboot compatible way. I think perhaps a more flexible and general approach would be to allow combining multiple DT overlay files we can specify at CMake generation or build convenient time, rather than just having DTC_OVERLAY_FILE and falling back t

[2018-01-20 04:31] mbolivar commented on #5756
re: Image signing, I also think it's a strange thing to add directly to Zephyr's CMake build system.

In a non-toy environment, the location of the manufacturer or device specific signing keys probably need to be passed at runtime to the tooling that does the signing. They are likely to be password-protected. CMake-generated build systems are not a good fit for this since they require manipulating

[2018-01-20 04:46] mbolivar commented on #5153
Those are also the options I see.

Option 1 is pretty bad usability for the core project, of course.

Lacking implementations for option 2 that don't involve environment variables for runtime arguments, I think it's a non-starter.

That leaves option 3, which I think can work with the proviso that "Decouple completely the support for external repositories and tools" means decoupling from CMake, no

[2018-01-20 15:51] pfalcon commented on #2933
There're no commits, or code referencing "Zephyr" in OpenOCD upstream: https://github.com/ntfreak/openocd/search?utf8=%E2%9C%93&q=zephyr&type=

Neither there're patches for "Zephyr" in OpenOCD Gerrit: http://openocd.zylin.com/#/q/zephyr .

Let me guess that this issue was closed by mistake and reopen. I hope, Zephyr project has enough resources to contribute to the well-known and helpful upstream

[2018-01-20 16:07] pfalcon opened #5766 "boards: nucleo_f413zh: Likely outdated OpenOCD info in docs"
boards/arm/nucleo_f413zh/doc/nucleof413zh.rst says:

[code]

Most other STM32 boards say:

[code]

Perhaps, nucleo_f413zh docs need to be updated?

[2018-01-20 16:25] pfalcon commented on #5766
Same for nucleof429zi.rst.

[2018-01-20 16:29] pfalcon commented on #5766
Also nucleo412zg.rst

[2018-01-20 16:42] pfalcon opened #5767 "docs: Zephyr OpenOCD documentation is weak/non-existent"
Quite a number of boards supported by Zephyr rely on OpenOCD. However, there's barely any generic information how OpenOCD can be used/controlled/is integrated into Zephyr toolset/build system.

The only information available are copy-paste flashing and debugging instructions, e.g. http://docs.zephyrproject.org/boards/arm/disco_l475_iot1/doc/disco_l475_iot1.html#flashing . They don't go any further

[2018-01-20 16:43] pfalcon commented on #5767
@mbolivar : I wonder if you would agree with evaluation above.

@nashif, @dbkinder : Wonder if you think it makes to address the above.

[2018-01-20 17:22] pfalcon commented on #1420
Until we get something better, there's at least something: https://sourcegraph.com/github.com/zephyrproject-rtos/zephyr

The main issue with the service above is that there's no *cross-reference*, i.e. you can just from a call of function to its definition, etc.

However, there's a fast incremental search and inline "git blame" annotations, so again, for the lack of something better, it can be use

[2018-01-21 06:59] xianrenqiu commented on #5762
I found it was a [WSL problem](https://github.com/Microsoft/WSL/issues/390)，Currently WSL only supports amd64 (native 64bit) ，does not supports 32-bit i386 ELF binaries

[2018-01-21 13:50] aescolar-ot commented on #5762
Thanks, I never expected it to work in WSL, you may have been the 1st one to try it out.

@carlescufi Will you consider @xianrenqiu request on the warning in the WSL installation chapter?

[2018-01-22 10:27] nullr0ute opened #5771 "Linking issues with host cross compile with cmake"
Related to issue #5589 with the migration to cmake there seems to be some issues around linking with the new cmake. I checked against 1.9 in case it was a host cross compile stack regression.

With PR #5594 merged it gets a lot further than it did with the following commands:

<pre>
export CROSS_COMPILE="/usr/bin/arm-linux-gnu-"
export ZEPHYR_GCC_VARIANT=cross-compile
unset ZEPHYR_SDK_INSTALL_DIR

[2018-01-22 10:34] aescolar-ot opened #5772 "sanitycheck crashes if ZEPHYR_BASE has symlinks in its path"
Sanitycheck does not handle properly symlinks in the current working directory / ZEPHYR_BASE.

### Case 1: Worst case = crash of sanitycheck when selecting 1 test:
You can reproduce by opening a terminal and running:
[code]
breaks with error ending in:
``PermissionError: [Errno 13] Permission denied: '/f1tests'``

The problem is in https://github.com/zephyrproject-rtos/zephyr/blob/8acdbd796ec7b10e

[2018-01-22 10:39] miyatsu commented on #5749
Hi, thank you for the summarize.

1).MCUboot always try to load reset value of application image from flash address: "FLASH_AREA_IMAGE_0_OFFSET" + "CONFIG_TEXT_SECTION_OFFSET". The 1st value "FLASH_AREA_IMAGE_0_OFFSET" is generated from dts; and the 2nd value "CONFIG_TEXT_SECTION_OFFSET" is the size of reserved space for image signature, suggest 0x200 for most target/plantform.

So I want to chang

[2018-01-22 11:37] SebastianBoe commented on #5771
Thank you for the report.

The linker command itself looks good to me.

It looks like this with the Zephyr SDK:

I think it is reasonable to assume the Fedora cross toolchain is OK as well.

If I assume that /usr/lib/gcc/arm-linux-gnueabi/7/libgcc.a is a cortex-m binary (you can verify if unsure with readelf -a /usr/lib/gcc/arm-linux-gnueabi/7/libgcc.a | grep Tag_CPU), then it must be one of the o

[2018-01-22 12:03] nullr0ute commented on #5771
Complete verbose build output:
[
[zephyr-build-output.txt](https://github.com/zephyrproject-rtos/zephyr/files/1651804/zephyr-build-output.txt)
](url)

[2018-01-22 12:59] carlescufi commented on #5153
Since I believe that @SebastianBoe is a proponent of option 2, I would really like to hear the arguments here.

Correct, that's how I meant it.

[2018-01-22 16:12] galak opened #5778 "Add/fix flash controller nodes for NXP kinetis SoCs"
Its looks like the only flash controller node that might be correct is dts/arm/nxp/nxp_k6x.dtsi.

Several dtsi don't have flash controller nodes at all:
* dts/arm/nxp/nxp_kl25z.dtsi
* dts/arm/nxp/nxp_kw40z.dtsi
* dts/arm/nxp/nxp_kw41z.dtsi

And dts/arm/nxp/nxp_kw2xd.dtsi has copied the k64 node.

Need to update all these .dtsi to have proper flash controller nodes.

[2018-01-22 16:25] psidhu commented on #1420
@dbkinder Hi, just wondering why the todo tag was removed? I still think it's something to be done.

@pfalcon Thanks for that, I never knew of the service. While it isn't a cross referencer, it's still helpful.

[2018-01-22 16:29] galak opened #5779 "bluetooth test_controller_4_0 fails to build on nrf52840_pca10056"
./scripts/sanitycheck -p nrf52840_pca10056 -s tests/bluetooth/init/test_controller_4_0

fails due to:

/home/galak/git/zephyr/subsys/bluetooth/controller/hal/nrf5/radio/radio.c:609:4: error: ‘HAL_SW_SWITCH_TIMER_S8_DISABLE_PPI_DISABLE’ undeclared (first use in this function)
    HAL_SW_SWITCH_TIMER_S8_DISABLE_PPI_DISABLE |
    ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

This seems to be due to the

[2018-01-22 16:33] carlescufi commented on #5779
@ioannis, @cvinayak can you help out with this one? I think it might be related to the latest refactor

[2018-01-22 16:59] dbkinder commented on #1420
"to do" means there's someone actively working on this (and there isn't to my knowledge)

[2018-01-22 17:06] psidhu commented on #1420
Ah, thank you for the clarification. However, I was under the impression @inakypg and @nashif were supposed to be looking into this. Since I hadn't heard anything back from them, I figured it was still a WIP.

That being said, what's the status of this if I haven't heard back from anyone?

[2018-01-22 18:42] mike-scott opened #5781 "Initial TLS connection failure causes TLS client handler to stop and fail endlessly w/ EBUSY"
The TLS startup code looks like this:
net_app_connect() -> start_tls_client()  starts the tls_client_handler thead.

IE: the only way to start the TLS client handler thread is a call to net_app_connect.

If the initial TLS connection fails for any reason (connectivity or otherwise), the TLS client handler is stopped, and using the net_app_connect() call again generates errors as the thread isn't c

[2018-01-22 19:19] cvinayak commented on #5761
Relates to #5779

[2018-01-22 19:31] cvinayak commented on #5499
@grapygrape "When enabled, pins P0.16 to P0.25 are taken over exclusively by the controller and cannot be used outside of it." is incorrect statement once I introduced the pins being on the same Pinhead on the different DKs. If you have a suggested help text, feel free to mention here or even better send a PR.

[2018-01-22 20:35] ioannisg commented on #5753
@cvinayak good idea to remove clearing of events not read back by software.

[2018-01-22 20:51] cvinayak commented on #3514
@spoerk No, there is nothing planned. I was only able to start work on it (non-connectable non-scannable mode), but had to switch to other tasks. Design and implementation contributions are welcome, I can always assist in reviews.

[2018-01-22 21:33] #5761 closed

[2018-01-22 21:33] #5779 closed

[2018-01-23 00:27] GAnthony opened #5784 "make rom_report fails for qemu_x86 (not finding zephyr.bin)"
Previously, rom_report and ram_report targets worked for the mqtt_publisher example.
Now, it seems these targets are broken (or, is there a new usage?)

[code]

[2018-01-23 07:26] #5696 closed

[2018-01-23 08:46] SebastianBoe commented on #5784
This is a regression from https://github.com/zephyrproject-rtos/zephyr/commit/e51ce4d34d3c80c4826eef80d9b9573261d1ee8e

This could be fixed quickly by Kconfig defaulting to generating .bin and .stat files.

Or properly by having .bin and .stat files exist as nodes in the dependency graph instead of as a 'POST_BUILD' command and expressing that the .bin file depends on the .elf file and rom_report

[2018-01-23 09:04] pfalcon commented on #5784
Disabling .bin output for some targets (*all* QEMUs) caused me a bunch of trouble adjusting external integrations and CIs (JerryScript, MicroPython build systems, JerryScript Travis CI inetgration, Linaro CIs for all of Zephyr, JerryScript, MicroPython). I really wanted to submit a ticket with the usual "please don't make random changes breaking user stuff", but contained myself and heroically mad

[2018-01-23 11:14] pfalcon commented on #5481
@askawu : Ping, didn't hear from you for a while, is this still on your plate?

[2018-01-23 11:16] pfalcon commented on #5378
Some further discussion in https://github.com/zephyrproject-rtos/zephyr/pull/5721

[2018-01-23 13:16] rsalveti commented on #5317
@jukkar mind having a look at this issue?

[2018-01-23 13:39] jukkar commented on #5317
You could just disable MLD support in this case as that is probably not needed for BT, just do CONFIG_NET_IPV6_MLD=n

[2018-01-23 15:05] rsalveti commented on #5317
https://tools.ietf.org/html/draft-ietf-6lo-btle-17 says "A 6LN MUST join the all-nodes multicast address. There is no need for 6LN to join the solicited-node multicast address, since 6LBR will    know device addresses and hence link-local addresses of all connected 6LNs." so it I would guess CONFIG_NET_IPV6_MLD is still required, even when using with BT.

The problem is that leave_mcast_all would

[2018-01-23 16:52] dbkinder commented on #1460
Release done.

[2018-01-23 16:52] #1460 closed

[2018-01-23 17:09] galak opened #5794 "wiki/Development-Model is out of date"
https://github.com/zephyrproject-rtos/zephyr/wiki/Development-Model references JIRA & gerrit which we clearly don't use anymore.

[2018-01-23 17:19] GAnthony commented on #5784
SebastianBoe: OK, thanks, with that information, I am at least able to generate the reports by setting CONFIG_BUILD_OUTPUT_BIN=y in my local prj.conf file, for now, until the best solution is taken.

[2018-01-23 18:09] galak opened #5797 "SPI subsystem API & features updates"
This issue catches the major issues that need to be finished for
- [x] update controller drivers to new API
- [x] update sensor/client drivers to new API
- [ ] utilize device tree for all new client and sensor drivers

[2018-01-23 18:11] carlescufi commented on #5418
Closing this because we have a fully native Windows executable.

[2018-01-23 18:11] #5418 closed

[2018-01-23 18:12] carlescufi commented on #4687
Closing this since Kconfig is now Python, gperf is a native Windows executable and we have an MSYS2-wrapped version of dtc that works reliably.

[2018-01-23 18:12] #4687 closed

[2018-01-23 18:21] carlescufi commented on #2978
@nashif @ramakrishnapallala any updates on this?

[2018-01-23 18:23] carlescufi commented on #2937
* PR #4974 for ARM
* ARC PR missing

[2018-01-23 18:29] dbkinder commented on #335
Issue needs to remain open for us to upload images for the wiki

[2018-01-23 18:35] carlescufi commented on #4888
@mike-scott can we still expect a fix for this on 1.11?

[2018-01-23 18:37] carlescufi commented on #4606
Can we close this as @kumarvikash1 mentioned, or do we need to add any required changes now that there is a "default" Zephyr PID/VID?

[2018-01-23 18:39] dbkinder commented on #335
![issuetoapproval](https://user-images.githubusercontent.com/11063618/35293433-823ee33a-0028-11e8-898c-6ea5a9e03cc9.png)
![githubproposalcycle](https://user-images.githubusercontent.com/11063618/35293746-81eea4c8-0029-11e8-9b09-c2e50ba98643.png)

[2018-01-23 18:39] carlescufi commented on #4000
@andyross is this still an issue?

[2018-01-23 18:41] carlescufi commented on #3441
@jukkar do you plan to get a fix in for this before v1.11?

[2018-01-23 18:42] carlescufi commented on #3384
@punitvara will this be fixed for v1.11?

[2018-01-23 18:48] dbkinder commented on #5794
I've done a first pass changing references to Jira and Gerrit and updating the images accordingly.  @galak can you look through the instructions at https://github.com/zephyrproject-rtos/zephyr/wiki/Development-Model#Maintaining_subsystem_branches and update them to the correct non-Gerrit workflow steps (or let me know what the steps should be and I can edit)

[2018-01-24 01:36] nashif commented on #5732
this is the sprintf test

[2018-01-24 06:48] jimmy-huang opened #5807 "Can't build Arduino_101 on Mac following instructions"
Using the 1.10.0 release, after I build crosstool-ng, I am unable to build the arduino_101 target on MacOS Sierra:

It first said that it can't find the toolchain:
-- Generating zephyr/include/generated/autoconf.h
CMake Error at /Users/zhuang1/projects/zephyrjs/zephyr.js/deps/zephyr/cmake/extensions.cmake:811 (message):
  No such file or directory: CMAKE_READELF:
  '/Volumes/CrossToolNG/x-tools/i5

[2018-01-24 08:12] jukkar commented on #5317
Ah, yes indeed we need the MLD support enabled.

Sounds like a good plan, would you be able to prepare a patch for that?

[2018-01-24 08:20] ramakrishnapallala commented on #2978
@cufi, I have started on this task and hopefully will have some update by early next week.

I am currently looking into enabling both fatfs and ntfs simultaneously. Let me know if you have any specific questions.

[2018-01-24 08:29] SebastianBoe opened #5808 "msys2 getting started instructions are missing Ninja install step"
The msys2 getting started instructions are missing a Ninja install step.

[2018-01-24 08:50] tarunkum commented on #5365
Hi @lpereira,

I tried to test my changes on your commit, when I compile the code getting below error.

../src/main.c:9:22: fatal error: sys/mman.h: No such file or directory
 #include <sys/mman.h>

To solve this I have installed sudo dnf install glibc-devel.i686
But after installing I can see the header files in /usr/bin/sys folder But still getting the same error.

Please let me know how can I s

[2018-01-24 09:33] SebastianBoe commented on #5807
Hi,

I think that when following the instructions a toolchain for i586 was built. But arduino_101 requires an iamcu toolchain.

At this step:

cp ${ZEPHYR_BASE}/scripts/cross_compiler/i586.config .config

try copying iamcu.config instead. See http://docs.zephyrproject.org/getting_started/installation_mac.html#setting-the-toolchain-options

[2018-01-24 09:35] SebastianBoe commented on #5807
@dbkinder : Documentation might be ambiguous, example instructions were read as actual instructions:

http://docs.zephyrproject.org/getting_started/installation_mac.html#setting-the-toolchain-options

[2018-01-24 10:05] #5499 closed

[2018-01-24 13:10] jfischer-phytec-iot commented on #5678
@finikorg Can you test please `sample/subsys/usb/mass` on quark_se_c1000_devboard?

[2018-01-24 15:53] nashif commented on #5454
isnt CONFIG_BT here for the controller and radio which is considered a HW component, if you apply this rule globally, then we also should not be enabling UART and GPIO and and...

[2018-01-24 16:07] agross-linaro opened #5813 "CII Badge: Default crytpo chooses weak algorithms"
The default security mechanisms within the software produced by the project MUST NOT depend on cryptographic algorithms or modes with known serious weaknesses (e.g., the SHA-1 cryptographic hash algorithm or the CBC mode in SSH).

We need to modify the current crypto samples to use algorithms with no known weaknesses.

[2018-01-24 16:18] pfalcon commented on #3441
@carlescufi : I'm not @jukkar , but this issue (a genuine issue) will start to hit when we inter-operate with other small IP stack implementations. So far, we have bigger problems. Lowered prio/removed 1.11 milestone.

[2018-01-24 16:39] mike-scott commented on #4888
@carlescufi I think I'll defer this until post net-buf changes land.  This fix needs to go into the CoAP lib processing for retry so that it not only fixes LwM2M but also users of CoAP APIs as well.  Removing 1.11 target.

[2018-01-24 16:59] pfalcon commented on #5693
Thanks for hint @nashif , but seems such definition for humidity was introduced in d1c7c7b7efe54beb2bc269a2c3442ce52cc5a608, by @ddvlad. @ddvlad , any comments?

[2018-01-24 17:15] pfalcon commented on #5692
https://github.com/zephyrproject-rtos/zephyr/blob/master/include/sensor.h#L494

Per this definition, *both* integer and fractional parts contain sign. In particular, if full value is negative, the fractional part should be negative (and the integer part either negative or zero). Heck, fractional part can be zero too.

That at least clarifies it, but still now sure is that's *too much* useful. Havi

[2018-01-24 17:18] pfalcon commented on #5693
Looking at the available drivers, a number support SENSOR_CHAN_HUMIDITY:

bme280, hts221, dht, sht3xd, hdc1008, th02

At the same time, a few to extra leg work to calculate "milli-percents":

bme280.c:
[code]

dht.c:
[code]

[2018-01-24 17:28] pfalcon commented on #5693
Now samples. There're 5:

samples/sensor/bme280:
[code]

Well, such cases started it all. Seeing `humidity: 54352.134000`, a user may only think there's something wrong with the sample or their board/sensor.

samples/sensor/hts221:
[code]

Legwork of converting back to percents.

samples/sensor/th02:
[code]

samples/boards/arduino_101/environmental_sensing:
[code]

"resolution of 0.01 percent" - n

[2018-01-24 17:34] pfalcon commented on #5693
Based on the above, I think it's worth pursuing switchover to just percent values, and then do this for 1.11, to offer stability by the LTS release.

[2018-01-24 17:36] pfalcon commented on #5693
@grgustaf, @jimmy-huang: Let me know how you'd like/don't like this in Zephyr.js context.

[2018-01-24 18:10] pfalcon commented on #5692
Similarly to https://github.com/zephyrproject-rtos/zephyr/issues/5693#issuecomment-360210586 , let's go over sample and see how many of them goof. A temperature would be a typical culprit: for half a year or so it may be good, but when it starts to freeze, bad things happen...

samples/sensor/bmg160:
[code]
This does it right, but converts manually instead of using convenience func.

samples/senso

[2018-01-24 18:11] pfalcon commented on #5692
Summing up: there're a few of samples which don't use sensor_value_to_double(), and then it either does it wrong, or has ~20 overinsuring lines of dealing with it.

[2018-01-24 18:11] carlescufi commented on #5756
An option suggested by @mbolivar would be to have CMake or an external tool drop `.conf` and `.dts` files in `APPLICATION_BINARY_DIR` before actually running Kconfig or dtc.
For this to work we would need to have something similar to what we have [here](https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/kconfig.cmake#L66) in `dts.cmake`.

[2018-01-24 18:16] pfalcon commented on #5692
The solution is still not conclusive. Possible choices:

1. Leave semantics as is, describe thoroughly, leave samples doing it in adhoc manner, but fix them of course.
2. Leave semantics as is, describe thoroughly, add convenience func to convert sensor value to string, switch samples to it.
3. Make fractional part unsigned - doesn't seem to make much sense.
4. Make both integer and fractional par

[2018-01-24 18:50] grgustaf commented on #5693
A little research: [This sensor](https://www.rotronic.com/en-us/hc2-sh.html) claims +/- 0.5% accuracy. Most out there are +/- 2-5%. So using percent would seem pretty adequate. Sure fine with us!

[2018-01-24 19:01] lpereira commented on #5365
@tarunkum Are you able to build a simple "hello, world" program on your Linux system? Something like:

[code]

If you can, then you have successfully installed the system C compiler, linker, and C library include files.  If not, please consult the documentation for your Linux distribution to know which packages to install.

(BTW, I find it odd that the header files are installed in `/usr/bin/sys`;

[2018-01-24 21:07] jimmy-huang commented on #5807
Yes, I did copy the iamcu.config and built that instead.  I use the i586.config to build QEMU, and I had similar issues, and I had to modify the cmake as well, to get that working.  I was going to file a bug for that as well, but eventually I figured out how to get that to build at least.  You can see the instructions including work-arounds we have to do to get QEMU working here, but A101 we are s

[2018-01-24 21:16] pfalcon commented on #5692
Posted RFC to the mailing list: https://lists.zephyrproject.org/pipermail/zephyr-devel/2018-January/008768.html

[2018-01-24 21:17] pfalcon commented on #5693
Posted RFC to the mailing list: https://lists.zephyrproject.org/pipermail/zephyr-devel/2018-January/008768.html

[2018-01-24 21:24] #5753 closed

[2018-01-25 00:06] GAnthony opened #5817 "socket.h: Using #define for POSIX redefinition of zsock_ functions has unintended consequences"
While porting mqtt to sockets, by including socket.h in mqtt.c, the socket.h definition:

`#define connect zsock_connect
`

breaks mqtt.c compilation by replacing ctx->connect with ctx->zsock_connect; however, zsock_connect is not a field of the struct mqtt_ctx  (but 'connect' is).

In general, this could be an issue with any function symbol re-definition made via #define.

A safer though more ver

[2018-01-25 04:37] tarunkum commented on #5365
@lpereira I am able to build a sample "Hello, world" program on Linux system.

As well as able to compile the below example also.

#include <stdio.h>

int main(void)
{
     printf("Hello, World!\n");
}

You can build it with a command like:
gcc -m32 -o hello hello.c

Getting issue only if I compile the dhcp test.

Error Statement :-
/src/main.c.obj   -c ../src/main.c
../src/main.c:33:22: fatal err

[2018-01-25 08:19] SebastianBoe commented on #5454
I can't speak to the original intention.

The radio is a HW component.
The controller is a SW component that runs on top of the radio.

I am OK with board's declaring that CONFIG_HAS_BT_RADIO or something similiair if needed.

I have not looked into UART or GPIO. But there might be some exceptions to the rule when
the impact is less severe.

[2018-01-25 09:33] SebastianBoe opened #5821 "[MSYS2] Unable to build Zephyr"
Hi,

following the installation instructions I was unable to build Zephyr using MSYS2.

The error I get is:

I added some debug prints to inspect the path that is corrupted:

message( "${ZEPHYR_BASE}/VERSION")
file(READ ${ZEPHYR_BASE}/VERSION ver)
message( "${ZEPHYR_BASE}/VERSION")

I can't explain that "file(READ [...])" is prefixing the file with "/home/sebo/zephyr/samples/hello_world/"

[2018-01-25 11:31] MariuszSkamra opened #5823 "Bluetooth: Collision during Start Encryption procedure"
I've noticed a problem with controller while testing against PTS SM/SLA/SIP/BV-01-C (running with new PTS dongle that supports Connection Parameter Request Procedure).

IUT is slave, so after the connection establishment we'll send LE Connection Update.
Meanwhile, PTS requests to send Security Request, and it seems there is a collision and on PTS side Encryption fails with "Connection terminated d

[2018-01-25 12:05] MariuszSkamra commented on #5823
[iut-zephyr.log](https://github.com/zephyrproject-rtos/zephyr/files/1663852/iut-zephyr.log)
[btmon.log](https://github.com/zephyrproject-rtos/zephyr/files/1663862/btmon.log)

[2018-01-25 12:12] MariuszSkamra commented on #5823
MyNewt:
[iut-zephyr.log](https://github.com/zephyrproject-rtos/zephyr/files/1663891/iut-zephyr.log)
[btmon.log](https://github.com/zephyrproject-rtos/zephyr/files/1663897/btmon.log)

[2018-01-25 12:25] MariuszSkamra commented on #5823
I've made a test, and commented sending Connection Update right after LE Read Remote Features in hci_core.c and this test is passing. This confirms my assumption

[2018-01-25 12:54] pfalcon commented on #5693
Additionally, th02.c driver already returned values in percent, not milli-percent.

[2018-01-25 13:07] ddvlad commented on #5693
The only reason I can think of for having milli percent for humidity readouts is that Linux also uses these units: http://elixir.free-electrons.com/linux/latest/source/Documentation/ABI/testing/sysfs-bus-iio#L263

But your arguments for switching to percent make sense.

[2018-01-25 13:13] pfalcon commented on #5693
@ddvlad: Aarrgh, thanks for hint! But yeah, Linux also specifies temperature in milli-degrees, http://elixir.free-electrons.com/linux/latest/source/Documentation/ABI/testing/sysfs-bus-iio#L164 , but Zephyr already uses just degrees. So, from that point of view, it makes sense to be consistent with the scale of majority of Zephyr's units.

[2018-01-25 13:16] ddvlad commented on #5693
Alas, for that I do not have an explanation :)

I have no objections against the change, especially since I haven't been involved in Zephyr for a while now.  Thanks for working on making this more consistent.

[2018-01-25 13:17] pfalcon commented on #5693
@ddvlad: Thanks for the prompt reply to this ticket! I'm in the process of preparing a patch...

[2018-01-25 13:56] pfalcon commented on #5546
I assumed coverage issues were settled, and the reports are clear enough for people. Closing.

[2018-01-25 13:57] pfalcon commented on #5482
@pfl : Ah, good to know! Fairly speaking, this is a kind of task which is (much, subjectively) easier to do for a maintainer than for a contributor.

@jukkar : Any comments? Should be target this for 1.11 or definitely not?

[2018-01-25 14:11] pfalcon commented on #4927
From the description of it, it looks very similar to https://github.com/zephyrproject-rtos/zephyr/issues/3546 - there also, if no net iface is present, and network functions are called, it's easy to get crashes/lock-ups.

[2018-01-25 14:27] SebastianBoe commented on #5454
Another example of this in the wild: https://github.com/SebastianBoe/mcuboot/blob/master/boot/zephyr/prj.conf#L19

[2018-01-25 14:57] carlescufi commented on #5756
Current tweaks required to have a Zephyr application boot with MCUboot:

* Set `CONFIG_TEXT_SECTION_OFFSET` in the app's `prj.conf`
* If Cortex-M0 with no VTOR, set `IRQ_SOFT_RELAY` in the app's `prj.conf`
* Modify the app `CMakeLists.txt` so that it includes a dts overlay
* Have a `dts.overlay` file in the app

[2018-01-25 18:21] lpereira commented on #5365
Do you have the package with kernel headers? (IIRC it's called `kernel-headers` in Fedora.)

[2018-01-25 19:40] galak commented on #5778
It looks like kw2xd is probably reasonable to be copied from k64.  Only difference is in # of cache tags & cache data tags.

[2018-01-25 19:40] galak commented on #5778
Added write-block-size to all dt's based on FSL_FEATURE_FLASH_PFLASH_BLOCK_WRITE_UNIT_SIZE.  This is in PR #5830.

[2018-01-25 21:16] MaureenHelm opened #5833 "Script to import mcux sdk"
New versions of the mcux sdk need to be imported whenever a new nxp soc is added to zephyr, or when nxp releases updated mcux drivers for an existing soc. Create a script to automate importing the mcux sdk into zephyr.

[2018-01-25 22:46] rsalveti commented on #5317
Sure, will try to get a patch ready by tomorrow, thanks!

[2018-01-26 03:07] #5651 closed

[2018-01-26 07:13] DWagenk opened #5836 "spi: stm32: convert remaining boards that support SPI to using dts"
As a follow up to #5582 we need to convert the stm32 boards, that already support SPI to using dts for SPI configuration.
Right now building e.g. tests\drivers\spi\spi_loopback for nucleo_f091rc fails, because spi_ll_stm32.c driver relies on  SPI_BASE_ADDRESS, SPINAME, SPIIRQ and SPI_IRQ_PRI wich are not defined yet for this board.

I guess this affects the following boards (i generated this list

[2018-01-26 08:04] erwango commented on #5836
As part of  this issue, it would be good to populate .fixup files under dts rather than in boards.
(and move existing SPI .fixup parts)
Would contribute to #5707

[2018-01-26 08:41] finikorg commented on #5678
@jfischer-phytec-iot Should it build without extra configuration? I cannot do fresh build only specifying the board.
[code]

[2018-01-26 10:00] SebastianBoe commented on #5756
I disagree.

It fits nicely into Zephyr's build system because signing from a build system perspective is just files depending on other files with a command or two to implement the dependency rule.

I'd say we are consistently moving in the direction of Zephyr using the build system to integrate tools needed by the user. Examples; DTC, Kconfig, gdb, pyocd, gen_syscalls, merge_config, git (for down

[2018-01-26 10:06] SebastianBoe commented on #5756
Sounds good. No matter how we end up integrating with MCUBoot we probably would want this at some point down the road any way.